[2017-04-17 18:15] drpngx commented on #9273
@yifeif so action is to wait for `1.1`?

[2017-04-17 18:18] Carmezim commented on #9273
Got it. Do you think would be interesting to add a temporary note to common issues for instance, or point users to the PYPI packages that are already compliant with the latest version?

Now is closer to the official release than when most of these issues were reported so I don't know if it makes sense for you guys.

[2017-04-17 18:36] yaroslavvb commented on #8905
After some experimenting, it seems NaNs are connected with ill-conditioning. For instance, take first 100 MNIST examples, run SVD on covariance matrix -> NaN. If I take first 1000 MNIST examples instead, works fine.

[2017-04-17 18:36] danielmihai commented on #9071
I'm having the same issues on Ubuntu 16.04.2LTS on a dell xps15 9560 with gtx 1050 4gb. I have the same paths set up as @StefanoD , nvidia-375.51 installed, CUDA-8.0 installed + CUDANN.

Instead I'm running into ```ImportError: libnvidia-fatbinaryloader.so.381.09: cannot open shared object file: No such file or directory```. Why does it ask for 381 and not 375?

[2017-04-17 19:06] ncoudray commented on #5805
Hi,
  I am having a similar issue when trying to run the retraining test (following https://www.tensorflow.org/tutorials/image_retraining):

ERROR: error loading package 'tensorflow/examples/image_retraining': Encountered error while reading extension file 'cuda/build_defs.bzl': no such package '@local_config_cuda//cuda': error loading package 'external': The repository named 'local_config_cuda' c

[2017-04-17 19:12] 4F2E4A2E commented on #9264
@Carmezim I am not saying that it is not possible somehow like you're installing it, the point is, what you're doing does not match the install guide and standard case.

As described above I did follow the install guide for windows via both ways, via native pip and via anaconda _as_ described in the install guide.

P.s.: We are in a loop here, this information has already been given. :)

[2017-04-17 19:36] 4F2E4A2E commented on #9264
@Carmezim thx for your comment [1] regarding the warnings and unknow op. This should somehow match the install guide for ident input (guide examples) and output.

1: https://github.com/tensorflow/tensorflow/issues/7778#issuecomment-281678077

[2017-04-17 19:43] ClimbsRocks commented on #8340
@drpngx Thanks for the response!

I tried commenting out all of the Keras imports in my tests, and still got the "Registering" logs.

The log looks like it's coming from https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/framework/registry.py#L64

Let me know if there's any other info I can provide to help debug this! My current hypothesis is that all this logging happens as pa

[2017-04-17 19:48] StefanoD commented on #9071
As a workaround, I would recommend to downgrade to nvidia-375.38. This works for me on Ubuntu 16.04.2.

[2017-04-17 19:55] 4d55397500 opened #9275 "incorrect datasets path in tutorial: tf.contrib.learn.datasets.base.load_csv_with_header"
The path for loading the iris dataset " tf.contrib.learn.datasets.base.load_csv_with_header" in the tutorial is incorrect:

`# Load datasets.
  training_set = tf.contrib.learn.datasets.base.load_csv_with_header(
      filename=IRIS_TRAINING,
      target_dtype=np.int,
      features_dtype=np.float32)
  test_set = tf.contrib.learn.datasets.base.load_csv_with_header(
      filename=IRIS_TEST,

[2017-04-17 20:02] Carmezim commented on #9264
@4F2E4A2E It does match the standard case as in it was installed satisfying all requirements in the Docs and with the code you provided that generated error for you on PowerShell.
If you're referring calling pip globally or using the script it won't make any difference whatsoever.

So the unsupported wheel error you received is due something wrong on your side and not a TensorFlow bug. One case fo

[2017-04-17 20:12] 4F2E4A2E commented on #9264
Thanks, i guess you're referring to https://github.com/tensorflow/tensorflow/issues/9273 right? :)

[2017-04-17 20:15] danielmihai commented on #9071
Hi @StefanoD ,

How do i do that ? Could you please guide me ?
Also, I compiled tensorflow samples and deviceQuery does not find any cuda-enabled device...

Thanks a bunch,
Daniel.

[2017-04-17 20:23] jart commented on #9275
What do you mean by path? You mean the variable? The documentation links to another page where it's defined. https://www.tensorflow.org/get_started/tflearn

[2017-04-17 20:23] #9275 closed

[2017-04-17 20:25] jart commented on #9239
I'm curious why the logs don't indicate Bazel attempting to download the bazel-mirror URL for weblas. Did you change workspace.bzl at all?

[2017-04-17 20:26] martinwicke commented on #9262
Interesting, your `np.take` expression ought to be equivalent to the fancy indexing, but maybe pytables doesn't fully support the fancy expression. Do you want to send a PR? Looks like yours is strictly more robust.

[2017-04-17 20:28] StefanoD commented on #9071
If you go to the NVIDIA website, you can download the driver version 375.39

http://www.nvidia.de/Download/index.aspx

[2017-04-17 20:30] leftnoteasy commented on #2655
In Hadoop 3.0, YARN native services can support running Tensorflow services on YARN without adding any dependencies or implement a new YARN application master.

Please see our blogpost: https://hortonworks.com/blog/distributed-tensorflow-assembly-hadoop-yarn/ and let me know if you have any questions. Thanks!

[2017-04-17 20:40] 4d55397500 commented on #9275
I get an "ImportError": there is no path tf.contrib.learn.datasets and no "tf.contrib.learn.datasets.base.load_csv_with_header" in the documentation referenced [https://www.tensorflow.org/get_started/tflearn](https://www.tensorflow.org/get_started/tflearn).

[2017-04-17 20:48] Carmezim commented on #9264
@4F2E4A2E I am referring to the unsupported wheel error you've got trying to install TensorFlow through Powershell, which is not a TensorFlow bug neither Powshell's but derived from a misconfiguration on your side. Then I mentioned one possible and common cause of this error which is multiple python installations and `pip` linking to an unsupported one (e.g. 2.7, 3.6 etc in this case).

The issue

[2017-04-17 20:49] drpngx commented on #8340
OK, can you set the `vlog` to `0`, import tensorflow, then set it back to whatever you want?

[2017-04-17 20:50] dennybritz commented on #8701
So, this seems to be related to `train_and_evaluate` in tf.learn, see https://github.com/google/seq2seq/issues/103#issuecomment-293796457.

It seems like the only solution right now is to monkeypatch the Experiment class?

[2017-04-17 20:53] davidlenz commented on #8177
I should have taken the time to read all of your introductory question.

I can't search through the problematic fields using the right panel, regardless of regex on/off.

[2017-04-17 20:56] brannondorsey commented on #8177
No worries at all, I appreciate your efforts in reproducing this. Its also worth noting that it isn't just me who is having trouble with this then. @dandelionmane any thoughts on this bug?

[2017-04-17 21:23] yazeedalrubyli opened #9278 "Ability to Create New Device Context (GPU)"
If I destroyed GPU context for any reason and tried to start new tensorflow session I got this error `CUDA_ERROR_CONTEXT_IS_DESTROYED ` and notebook kernel crashes. So, it will be a nice feature for python users if they can create a new context for tensorflow if one is destroyed.

[2017-04-17 21:30] wolffg commented on #6550
I believe this is fixed; the directory is now listed on this page:

https://www.tensorflow.org/tutorials/image_recognition

references this repo:

https://github.com/tensorflow/models

and asks you to find classify_image.py:

cd models/tutorials/image/imagenet

which lines up with this:

https://github.com/tensorflow/models/tree/master/tutorials/image/imagenet

Please reopen or refile if this is i

[2017-04-17 21:30] #6550 closed

[2017-04-17 21:35] wolffg commented on #6495
This is a NOTE prominently on the page.  I think we've satisfied this bug.  Thanks!

[2017-04-17 21:35] #6495 closed

[2017-04-17 21:37] wolffg commented on #6426
This has been fixed---see:

https://www.tensorflow.org/api_docs/python/tf/Assert

[2017-04-17 21:37] #6426 closed

[2017-04-17 21:44] wolffg commented on #6404
Part 2 of this has also been fixed, see:

https://www.tensorflow.org/install/install_mac

[2017-04-17 21:44] #6404 closed

[2017-04-17 21:50] derekhhsc commented on #8696
@drpngx

Thanks for your reply. Later I've found even running [train_image_classifier.py](https://github.com/tensorflow/models/blob/master/slim/train_image_classifier.py) from TF-Slim hangs so I feel it should be related to a particular hardware / system config issue.

I've been trying multiple ways to figure out the root cause in the past few weeks. I believe this is an issue unrelated to TensorF

[2017-04-17 21:51] derekhh commented on #8696
@drpngx

Thanks for your reply. Later I've found even running train_image_classifier.py from TF-Slim hangs so I feel it should be related to a particular hardware / system config issue.

I've been trying multiple ways to figure out the root cause in the past few weeks. I believe this is an issue unrelated to TensorFlow but is kind of specific to my motherboard. I'm using a similar motherboard as m

[2017-04-17 21:55] ClimbsRocks commented on #8340
@drpngx :

Just tried:

[code]

And still got the same Registering messages:

[code]

Is there a different way I should be setting the vlog?'

If it helps any, this is while running `nosetests -v tests` (which is what's run on the travis-build I reference above).

Thanks again for the help!

[2017-04-17 21:57] dennybritz commented on #8701
This has the patch: https://github.com/google/seq2seq/pull/173

[2017-04-17 22:02] danijar commented on #9260
@drpngx I think per-process semantics covers a reasonable fraction of the use cases.

[2017-04-17 22:13] shaform commented on #9034
@fchollet
When the exception is thrown, the op on `out_grads[i] = control_flow_ops.ZerosLikeOutsideLoop(op, i)` is the following:
`<tf.Operation 'gradients_6/BatchNorm_3/cond_1/Merge_grad/cond_grad' type=Switch>`

[2017-04-17 22:41] yifeif commented on #9273
Went through the issues @Carmezim linked to again and it looks like most people saw this issue were using "pip install tensorflow", which by default, does not install release candidates. We can add an entry under ["Common Installation Problem"](https://www.tensorflow.org/install/install_windows#common_installation_problems) to comment on the issue on 1.0.1 binary for future references. I'll send a

[2017-04-17 22:47] RoboEvangelist commented on #1924
Where is the entire code? How did you include the OpenCV libraries to your code? Thanks,

[2017-04-17 22:50] drpngx commented on #8340
OK, here's the thing:

1. The logging default is set during `tf.logging` [initialization](https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/python/platform/default/_tf_logging.py#L55)
2. You can't set the logging without triggering `tensorflow/__init__.py`, which will trigger registering all gradients.

I don't see any way to change this short of changing the code. One last ditch

[2017-04-17 22:50] #8340 closed

[2017-04-17 22:53] drpngx commented on #8696
Thanks for the update! Good to know.

[2017-04-17 22:53] #8696 closed

[2017-04-17 22:57] fchollet commented on #9034
When you are using a custom `updates_collections` you are routed to a *different* implementation of batch norm (the one in `tf.layers` does not support custom update collections), so this is not about `updates_collections` affecting gradient computation.

As far as I can tell you are calling an op (as part of the legacy batch norm layer implementation) that does not implement second-order gradient

[2017-04-17 22:57] drpngx commented on #8701
Did you mean to reopen?

[2017-04-17 23:01] drpngx commented on #9034
@yuanbyu is that something you've seen before?

[2017-04-17 23:03] drpngx commented on #9278
How did you destroy the GPU context in the first place?

[2017-04-17 23:11] dennybritz commented on #8701
Yes. I patched it in my code, but that doesn't seem right. I wonder what
the "official" solution is.
On Mon, Apr 17, 2017 at 3:59 PM drpngx <notifications@github.com> wrote:

[2017-04-17 23:12] wolffg commented on #4749
I think this is closed, as https://github.com/tensorflow/tensorflow/pull/4870 has been committed.

[2017-04-17 23:12] #4749 closed

[2017-04-17 23:12] drpngx commented on #2655
Nice

[2017-04-17 23:14] drpngx commented on #8701
OK, I wonder if it's best to use the seq2seq thread or this one. @sguada what do you think of this issue? It appears that it is related to `tf.learn`.

[2017-04-17 23:17] Carmezim commented on #9273
At the time those issues did arise also 1.0.1 was on PYPI (before March 24) which now contains 1.1rc2 so it will probably only affect those following the Anaconda and virtualenv instructions that point to install with the official 1.0.1 binary. That may help narrow down the possible affected users

[2017-04-17 23:43] yazeedalrubyli commented on #9278
numba.cuda.close()

http://numba.pydata.org/numba-doc/0.32.0/cuda-reference/host.html?highlight=reset#numba.cuda.close

[2017-04-17 23:46] ebrevdo commented on #9230
one of the main benefits of map_fn is that it can perform the transforms in parallel... it's faster.  however it does affect how seeded ops work.

[2017-04-17 23:49] ebrevdo commented on #9230
i wonder however why this behaves differently on cpu and gpu.  perhaps on gpu the random seed is somehow serialized?  what if instead of map_fn you just have an unstack/apply/stack sequence (different seed for each image)?  same behavior?

[2017-04-17 23:50] drpngx commented on #9278
I don't think you can recover from a context close. This is not a supported scenario, so I am closing this.

[2017-04-17 23:50] #9278 closed

[2017-04-17 23:51] asimshankar commented on #9270
@agarwal-ashish might also know of any existing efforts

[2017-04-17 23:54] mrry commented on #9209
Hmm, did those errors appear when using GCC as the compiler on Windows? (Like @meteorcloudy, I'd be surprised if that worked, especially for the GPU build, but also for the various dependent libraries that might not have GCC-aware build configurations for Windows in our build files.)

[2017-04-17 23:57] yazeedalrubyli commented on #9278
I don't want to recover to a closed context, I want a new context to process tensoerflow operations. As I understand that Tensorflow uses more than one stream within the same context to accelerate data processing from host to device and vice-versa. Someone needs to set these up manually, it will be nice to be handled in one call.

Thanks anyway

[2017-04-18 00:10] alsrgv commented on #7679
@tfboyd any new updates? Thanks!

[2017-04-18 00:10] Carmezim commented on #9209
As in https://github.com/bazelbuild/bazel/issues/2753#issuecomment-292818313

[2017-04-18 00:20] #9209 closed

[2017-04-18 00:25] drpngx commented on #9278
I am not sure I understand. Are you talking about `with tf.device`?

[2017-04-18 00:28] petewarden commented on #9259
It's good to see that NEON helps. It's hard to say exactly what performance you should be getting without knowing more about your model, and exactly which i.mx6 chip you're using, but a 10x slowdown on a low-power chip versus a laptop doesn't seem too crazy.

[2017-04-18 00:43] drpngx commented on #9259
@gunasekaran7, closing since it looks like you are getting reasonable performance. If you have a more specific issue, let us know.

[2017-04-18 00:43] #9259 closed

[2017-04-18 01:05] shoyer commented on #9262
`np.take` converts its input to a numpy array, so of course it works. So would `np.asarray(column)[integer_indexes]`.

Instead, it would probably make sense for `numpy_input_fn` to either coerce each value to a numpy array with `np.asarray`, or raise an error if any inputs aren't numpy arrays.

[2017-04-18 01:12] tobiajo commented on #2655
In the meantime, while waiting for Hadoop 3.0, this could be an alternative, an YARN native implementation:
https://github.com/hopshadoop/hops-tensorflow

[2017-04-18 01:37] nealwu commented on #9249
If there are models you would like to see in https://github.com/tensorflow/models, feel free to submit a pull request for them.

[2017-04-18 01:37] #9249 closed

[2017-04-18 01:58] cancan101 commented on #7958
@keveman any updates on your framework for calling metal ?

[2017-04-18 02:11] keveman commented on #7958
@cancan101 No significant updates, but coming soon.

[2017-04-18 02:38] gunasekaran7 commented on #9259
@petewarden, I am using i.mx6 QuadCore from NXP.

[2017-04-18 03:02] nealwu commented on #8950
That's odd, I just ran it and it worked fine for me. @ajeetksingh can you make sure that you aren't running anything else on the GPU at the same time? And it's normal for it to use the full memory.

My output below:

[code]

[2017-04-18 03:11] 4d55397500 commented on #8937
What's more generally the intended scope of support for complex operations in tensorflow?

[2017-04-18 04:37] falaktheoptimist commented on #8265
The thread was not being killed till python termination and hence the reference to event (queue item) was never being freed.

[2017-04-18 04:58] suiyuan2009 commented on #8265
@falaktheoptimist , I get what you mean. The reference count of the last element in the queue will never decrease, because `self._queue.get()` will block forever.

[2017-04-18 05:01] falaktheoptimist commented on #8265
@suiyuan2009 Exactly.. Thanks to your PR- it's fixed now..

[2017-04-18 05:10] derekhh commented on #8950
@ajeetksingh Can you check what your % CPU utilization is while TF hangs? What is the model of your motherboard?

[2017-04-18 05:22] MaeThird opened #9280 "Cannot cross compile tf so to android with ndk-r14b"
Some basic infos:
1. Linux 4.10.10-1-ARCH #1 SMP PREEMPT Wed Apr 12 18:50:28 CEST 2017 x86_64 GNU/Linux
2. tensorflow-r1.1 source code
3. bazel 0.4.5
4. android-ndk-r14b
5. clang-3.9
6. gcc 6.3.1
WHEN I cross compile with :"bazel build //tensorflow/contrib/android: libtensorflow_inference.so --crosstool_top=//external:android/crosstool    --host_crosstool_top=@bazel_tools//tools/cpp:toolchain    -

[2017-04-18 05:33] martinwicke commented on #9262
Ah, right. coercing each input to be actual numpy arrays makes most sense.

[2017-04-18 05:50] nateGeorge commented on #722
+1 on the 5.1 vs 6.0.  Wasted a lot of time figuring that out.

[2017-04-18 06:08] martinwicke commented on #7866
@jlebar is this a dupe of #7819, or an instance of the same problem on a different platform?

Assigning you for XLA fu.

[2017-04-18 06:12] martinwicke commented on #7868
Take a look at `learn_runner.tune`: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/learn/python/learn/learn_runner.py#L115

In theory, all that needs to be done is to implement one such Tuner object which does (say) grid search, or something more clever.

I apologize -- the documentation on this is extremely sparse, but please ask questions if the intended use is unclear f

[2017-04-18 06:16] yuchenhou commented on #7669
@terrytangyuan @sandersk
Are these monitors CaptureVariable, PrintTensor, ValidationMonitor already deprecated by LoggingTensorHook?

[2017-04-18 06:57] yifeif commented on #9273
PR merged. Website will be updated with the 1.1.0 release(cc @av8ramit). Closing this issue. Thanks!

[2017-04-18 06:57] #9273 closed

[2017-04-18 07:46] LucasMahieu opened #9282 "Check failed: NDIMS == dims() (2 vs. 1)"
I get the following error after building the graph of my NN. when I try to execute :

loss, _ = self._sess.run([self.loss_op, self.train_op], feed_dict=feed_dict)

I get this error :

`F tensorflow/core/framework/tensor_shape.cc:36] Check failed: NDIMS == dims() (2 vs. 1) Asking for tensor of 2 dimensions from a tensor of 1 dimensions`

I don't succeed to know to which part of the graph this error

[2017-04-18 08:27] oranshayer opened #9283 "Save model every fixed number of steps with MonitoredTrainingSession"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: 0.12
- **CUDA/cuDNN version**: 7.5 / 5.1
- **GPU model and memory**: GTX 1080

### Describ

[2017-04-18 08:27] YaoC commented on #9280
@MaeThird I meet the same problem as you, then I use `android-ndk-r12b` and it built successful
see this #8641

[2017-04-18 08:42] gindeleo commented on #446
@zhaojunz Yes, the link is dead. Maybe this will help on how to use a scipy optimizer (L-BFGS for example):

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/opt/python/training/external_optimizer_test.py

[2017-04-18 08:46] ducta-qc commented on #9283
`tf.train.CheckpointSaverHook` can answer your quesion

[2017-04-18 08:58] RikHeijdens commented on #2164
In case anyone else runs into this, I ended up optimizing Inception using the following command:

[code]

[2017-04-18 09:07] puneet336 commented on #9184
Hi,
I have shared the complete command and the error log.
Do i need to share the build log for "tensorflow-1.0.1-cp36-cp36m-linux_x86_64.whl" ?

[2017-04-18 09:21] huangshiyu13 commented on #7961
I use pip instead of pip3 and solve this problem:
pip install --upgrade https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.9.0-cp34-cp34m-linux_x86_64.whl

[2017-04-18 09:38] kentrino commented on #7457
I've got this in tensorflow (1.0.1).

[2017-04-18 09:48] pltrdy commented on #8191
@aep did you use the function of https://github.com/tensorflow/models/blob/master/tutorials/rnn/ptb/ptb_word_lm.py#L112 I mention at the end of my post (now edited to be more clear)

[2017-04-18 10:11] allannk commented on #4566
I'll second Carlthome's request here. Working with multiple machines with (very) differing amount of GPU memory is hard, since it seems I can only set it to a fraction of the available memory, causing it to fail on our GPU monster that also run other tasks.

Alternatively, is there a way to grab the total GPU memory? CUDA calls get blocked by StreamExecutor, and I cannot seem to find a way to achi

[2017-04-18 10:39] tillahoffmann opened #9284 "Broadcasting support in `tf.where`"
`tf.where` does not support broadcasting like its numpy equivalent at the moment. How easy would it be to add broadcasting?

Here are some examples.

[code]

[code]

[2017-04-18 10:48] tillahoffmann commented on #9284
A workaround might be the following but I don't know how bad the overheads are.

[code]

[2017-04-18 11:11] oranshayer commented on #9283
Thanks!

[2017-04-18 11:11] #9283 closed

[2017-04-18 12:15] hholst80 opened #9285 "TensorBoard filter regresson"
### System information

Docker image `tensorflow/tensorflow:nightly` (or 1.1.0rc2)

### Describe the problem

Start a tensorboard process

[code]

and try and filter. It does not have any effect.

![image](https://cloud.githubusercontent.com/assets/6200749/25130135/6499f98c-2441-11e7-8050-34cce130fef0.png)

[2017-04-18 12:31] sandipmgiri commented on #9216
Yes, the failure at line number 150 i.e. self._compare(np.inf, np.int32, i4.min, False)

To understand the issue, I ran this test in standalone file, as below:

[code]

after that I got to know that the actual failure at line :
`return math_ops.cast(val, self._toDataType(dtype), name="cast").eval()`

return value on X86 =  `-2147483648`
return value on ppc64le = `2147483647`

Here 3 arguments pass

[2017-04-18 12:56] StarvingMarvin commented on #9262
Thank you all for your comments, they made me explore this issue a bit further, and get to the following conclusions:

- As @shoyer observed, `np.take()` works because numpy does `np.asaray()`, but that means that entire array is loaded into memory.
- pytables does support "fancy" indexing, but arity must still match with array's dimensions
- but they do support ellipsis, so `data[list,...]` actua

[2017-04-18 14:04] szingerpeter opened #9288 "Java API - sophisticated example"
Dear All,

I have seen the [example](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/java/src/main/java/org/tensorflow/examples/LabelImage.java) for importing model created and trained in Python imported into Java code and used for predictions.  However, I had some problems understanding what was actually going on especially in [this block](https://github.com/tensorflow/tensorflow/

[2017-04-18 14:36] MaeThird commented on #9280
@YaoC Thanks.Finally I get this work by your method.Maybe ndk 13+ is incompatible with inline asm somewhere but who knows.

[2017-04-18 14:45] petrosmol commented on #9270
There is no such a layer currently. We have the following that are related but not sufficient for what you want to do here:
- a binary svm head (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/learn/python/learn/estimators/head.py) which is the head for standard hinge loss
- a linear SVM classifier (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lea

[2017-04-18 14:48] jshin49 commented on #7778
Here is the build command I used to get rid of those warnings by actually optimizing TensorFlow to my CPU:

[code]

[2017-04-18 15:27] tfboyd commented on #7679
80% likely next week.  We are branching the benchmark code today and starting the final round of "runs".  The end is near.

[2017-04-18 15:29] #6616 closed

[2017-04-18 15:29] #8982 closed

[2017-04-18 15:29] #9074 closed

[2017-04-18 15:52] girving commented on #9230
Unfortunately the stateful seeding behavior is buried pretty deep in the random ops.  Making `map_fn` work in parallel while treating that behavior correctly would require some significant redesigns.

Conceivably one could use the new stateless random ops here (https://github.com/tensorflow/tensorflow/commit/cc45456e4ad0eff16127d1727d0cf48afb71ca0e), but that would still require higher level layer

[2017-04-18 15:58] drpngx commented on #9270
Thanks! Sounds good.

[2017-04-18 16:01] drpngx commented on #9184
Unfortunately we don't support redhat 6 or python 3.5. We support centos/redhat 7 and python 3.5 only.

[2017-04-18 16:02] amirj commented on #9239
This issue is solved when I'm connecting to my proxy via openconnect in the terminal.
Using openconnect via network-manager gnome was made this issue.

[2017-04-18 16:02] #9239 closed

[2017-04-18 16:03] drpngx commented on #9282
That seems like a bug. Could you share the simple possible repro you can find?

[2017-04-18 16:04] drpngx commented on #9288
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

@asimshankar

[2017-04-18 16:04] #9288 closed

[2017-04-18 16:05] drpngx commented on #9284
@aselle is that something we'd want?

[2017-04-18 16:10] martinwicke commented on #9262
Thanks @StarvingMarvin. I will close this issue. If you determine that the ellipsis works without negative side effects, feel free to send a PR.

[2017-04-18 16:11] #9262 closed

[2017-04-18 16:21] jlebar commented on #7866
Looks like a dupe to me.

[2017-04-18 16:21] #7866 closed

[2017-04-18 16:31] lixiangchun commented on #9270
@petrosmol @drpngx  there is already an implementation of [SVM output layer](https://github.com/dmlc/mxnet/pull/2708/commits/7a651fd2867e56ffcbf539aaaf4218e11cf61b0d) in MxNet. It may be useful for similar implementation in tensorflow.

[2017-04-18 16:35] tychotax commented on #6034
@ebrevdo same issue here!

[2017-04-18 16:37] Pummelchen commented on #37
+100

[2017-04-18 17:46] ebrevdo commented on #9230
Indeed, the random hue layer would have to allow stateless seeds;

the map_fn could then be changed to:

def sampler(img, seed):
  this_seed = tf.stack((global_seed, seed))
  return ...sample...(img, ..., seed=this_seed)

sampled_images = map_fn(sampler, images, 5000 + tf.range(0,
shape(images)[0]))

On Tue, Apr 18, 2017 at 8:53 AM, Geoffrey Irving <notifications@github.com>
wrote:

[2017-04-18 17:47] suharshs commented on #6268
Hi all, I have submitted a change that adds TF_AddGradients to the c api. Note the gradient functions are registered in tensorflow/cc/gradients, so they will need to be included to use the gradients. Let me know if you run into any issues. Thanks!

[2017-04-18 17:58] rohitchopra32 commented on #97
i have some code like this

[code]

[code]
i want when evaluation funtion that is in

 find out correct_prediction  after that it will show the predicted label and label that is in labels (original label)

i tried this adding this:

it only gives me error.

[2017-04-18 18:25] girving opened #9292 "xorshift128+ version of (stateless) random ops"
Currently, TensorFlow's random numbers use the Philox counter mode generator, which is extremely easy to parallelize on both CPU and GPU.  This applies to both the normal stateful ops and the new [`tf.contrib.stateless`](https://github.com/tensorflow/tensorflow/commit/cc45456e4ad0eff16127d1727d0cf48afb71ca0e) versions with custom seeding.

xorshift128+ is a simpler generator that could conceivably

[2017-04-18 18:46] yazeedalrubyli commented on #9278
No....I'll try to respond later in more detail.

[2017-04-18 18:46] kevinashaw opened #9294 "Tutorial has error: Recurrent Neural Networks"
Tutorial URL: https://www.tensorflow.org/tutorials/recurrent
I'm going through the tutorial listed above and I think there is a mistake in the very first code example:
[code]
An error is reported for the third line:
[code]
If one prints the `lstm.state_size` object (where say, lstm_size = 50) one finds:
[code]
I'm guessing this should be:
[code]
But frankly there are numerous other errors in this

[2017-04-18 18:53] drpngx commented on #9294
Thanks for reporting! It would be great if you could update us on additional errors as you follow along.

@ebrevdo FYI

[2017-04-18 18:59] kevinashaw commented on #9294
Will do.  The API change for TF1.0.1, especially for the RNN classes, has caused confusion and there is a real shortage of working RNN code samples.  The vast majority of the code examples on StackOverflow are from mid-2016 and they no longer work with the new API.  Thanks.

[2017-04-18 19:10] Qululu commented on #6110
I'm getting the same error when calling `tf.python.saved_model.utils.build_tensor_info()` on a `sparse_placeholder` (TF v1.0). Anyone have a solution yet?

[2017-04-18 19:28] ebrevdo commented on #9294
Indeed, the tutorial has a one line warning:

"The basic pseudocode is as follows:"

we should really just highlight that in red above each code example.

And at the top we should link to the real code:

https://github.com/tensorflow/models/tree/master/tutorials/rnn/ptb

that code looks to be up to date.

On Tue, Apr 18, 2017 at 11:59 AM, Kevin Shaw <notifications@github.com>
wrote:

[2017-04-18 19:29] girving commented on #3719
I changed my mind, after accidentally writing `log_sigmoid(x) = -tf.nn.softplus(x)` instead of the correct `-tf.nn.softplus(-x)`.  We should have `tf.log_sigmoid`, though it should be implemented as pure Python.

[2017-04-18 19:32] milsto commented on #2309
As much as I have tested, [tf.strided_slice](https://www.tensorflow.org/api_docs/python/tf/strided_slice) supports negative _end_ indexing, i.e. if you specify -N in any dimension for _end_ parameter, you will slice all but last N elements. This works, but is not documented (even thou negative strides are documented)

For example:
[code]

Also, TensorFlow now supports slicing exactly as in numpy,

[2017-04-18 19:56] Engineero commented on #9294
I just ran across the same problem. My concern is that `state = tf.zeros([batch_size, lstm_size])` might not capture what needs to be captured. In the current API, the `lstm_state` is a tuple of `(c, h)` or `(memory, output)`, which should have size `[lstm_size, 2]`. Would this then require us to write `state = tf.zeros([batch_size, lstm_size, 2])`?

I am working through this as I type this. So fa

[2017-04-18 20:18] kevinashaw commented on #9294
@ebrevdo : Thank you for your help!
I saw the "pseudocode" warning, but those two lines of code look like they should be self-contained.  Also, regardless of highlighting in red, the pseudocode should be solid starting point for working code.  There is so little working TF RNN code after the API change that this one document becomes a critical resource.
I can also confirm that the repo [link](http

[2017-04-18 20:39] kevinashaw commented on #9294
@ebrevdo @drpngx : Would you like me to report additional errors on this thread, or on a new thread?

[2017-04-18 20:43] drpngx commented on #9294
I wonder if you could just edit the doc and send a PR when done

On Apr 18, 2017 1:41 PM, "Kevin Shaw" <notifications@github.com> wrote:

[2017-04-18 20:45] eaplatanios commented on #9150
I have worked out all the core parts except for the fetching tensors from sessions. @alextp you mentioned that if I can trigger unrefing of the scala object when TF calls the destructor and trigger unrefing of the Tensor when scala is done with the byte buffer all will be well I think. I have managed the first part, but I have some confusion regarding the second. I currently have no way of unrefin

[2017-04-18 20:48] kevinashaw commented on #9294
I would be glad to, but I'm not clear on what 'truth' is at this point.
Here is the second code sample:
[code]
Which yields: `ValueError: setting an array element with a sequence.` on the `tf.zeros` line.
I'm working on finding an executable replacement, but haven't found it yet.  I'm not clear on what the proper shape for the `state` should be.

[2017-04-18 20:53] kevinashaw commented on #9294
Following @Engineero's recommendation, I can use `tf.zeros([batch_size, lstm_size, 2])` and I then get an error on the last line (`lstm()`) with:
[code]
Which is opaque to me, since it does not look like we are iterating on a Tensor.

[2017-04-18 20:55] Engineero commented on #9294
@kevinashaw I think it needs to be `state = lstm.zero_state(batch_size, dtype=tf.float32)` or some other value for `dtype`, depending on the problem. This should create a zeroed-out initial state tensor based on the network's state parameters.

[2017-04-18 20:58] kevinashaw commented on #9294
@Engineero : Thanks.
I have updated the test code, but it still fails with the same error `not iterable` message:
[code]

[2017-04-18 21:00] kevinashaw commented on #9294
Not to be too nit-picky about the tutorial, but the example code uses `state_is_tuple=False` which is now deprecated.  So the sample code should probably be updated.  I, myself, am still in clear on how this changes the code, but I hope to work it out soon.

[2017-04-18 21:02] Engineero commented on #9294
@kevinashaw that is not what I wrote. You are still using `tf.zeros(...)`. Should be `lstm.zero_state(...)` I think.

[2017-04-18 21:05] kevinashaw commented on #9294
My bad.  Sorry.  Retrying...

[2017-04-18 21:11] alextp commented on #9150
On Tue, Apr 18, 2017 at 1:48 PM, Anthony Platanios <notifications@github.com

No, this means the native library will not delete the memory until you call
TF_DeleteTensor on the tensor (but aliasing considerations involving
variables and queues and other stateful things can mean that the tf runtime
might still use that memory).

The current implementation of TF_Tensor is a struct with a pointer to

[2017-04-18 21:14] kevinashaw commented on #9294
With the new state initialization line:
[code]
The new error is thrown on the last line:
[code]
Here is the full code sample:
[code]
If one does the following to determine the shape and type of `state`:
[code]
the following is printed:
[code]

[2017-04-18 21:23] Engineero commented on #9294
@kevinashaw that's where I am now too. It seems like we are not presenting arguments to the `__call__` method of `lstm` correctly. I am working a different problem, but same issue.

[2017-04-18 21:27] gyang274 commented on #8369
Thank you, @shoyer, @asimshankar and @concretevitamin ! I am ok with the workaround method.

Although an integrated axis argument is preferred, and make sense?

BTW, how much efficiency gain would be for an integrated axis (if implemented) compared to the work around method (stack then concatenate)?

Thank you.

[2017-04-18 21:28] kevinashaw commented on #9294
@Engineero : Here is a dumb question that you may be able to help with.  If TF is capable of auto-unrolling LSTMs, then why do we need to use the `for` loop (in the sample above) to feed in the words one at a time?  I've never understood this.

[2017-04-18 21:35] ebrevdo commented on #9294
You don't.  We should really change the tutorial to use tf.nn.dynamic_rnn
-- which handles most of this for you.

On Tue, Apr 18, 2017 at 2:28 PM, Kevin Shaw <notifications@github.com>
wrote:

[2017-04-18 21:36] Engineero commented on #9294
@kevinashaw I am not positive, but I think by doing that we are taking control of how many unrolling steps are performed. TF will still handle the actual unrolling when we execute our training process, but I think making it explicit gives us more control. Or maybe that line is necessary in order to tell TF to do unrolling in the first place? Again, I am not sure.

[2017-04-18 21:39] ebrevdo commented on #9270
If you can write the SVM layer as a composition of simple ops, inputs, and
Variables, i suggest putting it in tf.contrib.layers.  How much C++ code
does it require?

On Tue, Apr 18, 2017 at 9:32 AM, Xiangchun Li <notifications@github.com>
wrote:

[2017-04-18 21:40] kevinashaw commented on #9294
It seems the unrolling should only be necessary for the training process.  At inference-time, it should function on a sample-by-sample basis.  But I guess it is just a memory vs speed trade-off question.

[2017-04-18 21:41] kevinashaw commented on #9294
@ebrevdo : could we get a short snippet of sample code using `tf.nn.dynamic_rnn`?  :-)

[2017-04-18 21:45] ebrevdo commented on #9294
While this tutorial is just a little outdated (they still point to RNNCells
in tf.nn.rnn_cell instead of tf.contrib.rnn), a lot of the examples are
still very good:

http://www.wildml.com/2016/08/rnns-in-tensorflow-a-practical-guide-and-undocumented-features/

On Tue, Apr 18, 2017 at 2:42 PM, Kevin Shaw <notifications@github.com>
wrote:

[2017-04-18 21:46] Carmezim commented on #9209
Someone else had a compiling issue related to `fake_quant_ops_gpu`
http://stackoverflow.com/questions/43482642/tesnsorflow-1-1-build-breaks-on-cuda-code

[2017-04-18 22:35] andrehentz commented on #8897
@Androbin, could you confirm that replacing `deduped_graph_def` with `merged_graph_def` in
[quantize_nodes.cc line 942](https://github.com/tensorflow/tensorflow/blob/a667a52ee909975389e48ffe30fb4ff9570635da/tensorflow/tools/graph_transforms/quantize_nodes.cc#L942) causes the problem to go away?

[2017-04-18 22:38] Androbin commented on #8897
@andrehentz I will triple-check that and post the results here!

[2017-04-18 22:43] eaplatanios commented on #9150
Great! Thanks for the quick response!

I looked into ways for doing that and I'm going to go ahead with the approach described [here](https://dzone.com/articles/letting-garbage-collector-do-c) and used [here](https://github.com/frohoff/jdk8u-dev-jdk/blob/master/src/share/classes/sun/java2d/Disposer.java), which basically consists of a thread running in the background and checking whether all refer

[2017-04-18 22:47] kdjaks opened #9296 "Tensorflow 1.1 build breaks on CUDA code"
### System Information
- *OS Platform and Distribution (i.e. Linux Ubuntu 16.0)*: Linux Ubuntu 17.04
- *TensorFlow installed from (source or binary)?*: source
- *TensorFlow version* (use command below): v1.1.0-rc2
- *Bazel version (if compiling from source)*: 0.4.5
- *CUDA/cuDNN version*: 8.0/5.1.5
- *GPU Model and Memory*:M2000M

### Describe the problem clearly

Fails to build after upgrade to U

[2017-04-18 22:51] alextp commented on #9150
That makes sense.

On Tue, Apr 18, 2017 at 3:44 PM, Anthony Platanios <notifications@github.com

--
 - Alex

[2017-04-18 22:53] Engineero commented on #9294
@ebrevdo this may be a separate issue, but on that tutorial that you linked, do you have any idea how one should replace `tf.contrib.learn.run_n(...)` calls? It gives a depreciation warning with the following:

The file this sends you to does not seem to be very helpful.

Thanks!

[2017-04-18 23:22] mrry commented on #9209
Thanks for pointing that out! @cwhipkey Are you aware of any issues with building `fake_quant_ops_gpu` (which I think you added, but feel free to redirect :)...)?

[2017-04-18 23:23] mrry commented on #9209
(Looks like this has also surfaced in #9296.)

[2017-04-18 23:34] shoyer commented on #8369
The cost here is one extra copy of the data, which is usually negligible (though it depends on the application).

[2017-04-18 23:34] Androbin commented on #8897
As mentioned, this bug does also step in place when `merge_duplicate_nodes` is used without `quantize_nodes`.

[2017-04-18 23:36] MtDersvan commented on #8511
Any progress on this? I am having the same issue.

[2017-04-18 23:37] drpngx commented on #9296
Can you paste the log somewhere? Where does it trigger from `fake_quant_ops_gpu.cu.cc`?

[2017-04-18 23:39] cancan101 commented on #7958
http://caffe2.ai/docs/mobile-integration.html#null__performance-considerations makes the following claim:

[2017-04-18 23:52] cancan101 commented on #7958
And here is the pr adding the functionality to caffe2 : https://github.com/caffe2/caffe2/pull/215

[2017-04-18 23:59] saeta commented on #9136
I have a change coming soon that should fix this. (Thanks @mrry for flagging!)

[2017-04-19 00:00] rolfe commented on #6749
I also seem to be having the same problem.  Has there been any progress on this issue?

[2017-04-19 00:09] ebrevdo commented on #9294
@martinwicke what's the replacement for tf.contrib.learn.run_n?

[2017-04-19 00:22] martinwicke commented on #9294
We have none. It was never used after initial experimentation, so we decided to scrap it altogether. You can get the same behavior using `tf.contrib.training.train`, if you need feeds, with a Hook to add the feeds.

[2017-04-19 00:30] jlazarow commented on #8326
tsify and gulp-typescript both use their own versions of typescript as well. These seem to be the packages causing most of the issues.

[2017-04-19 00:35] diegobrunoLRM commented on #82
How to solve this problem? I need help

E tensorflow/examples/label_image/main.cc:305] Running model failed: Not found: FeedInputs: unable to find feed output input

Thank you

[2017-04-19 01:23] YirenBj commented on #8744
I already implemented this. Currently, I am verifying its impact on metrics, such as AUC, in our ads data. I will send the pull request if this is really useful.

[2017-04-19 01:51] amirmazaheri1990 opened #9297 "Retrieve a graph or model without copying the graph construction code"
Hi,

Let's say I have defined a graph and trained the weights in file "myTrain.py" and I saved the model using `tf.train.saver()` in a directory.

I want to have a tester file (let's name it "myTest.py") which doesn't contain the definition of the graph, but be able to load the saved graph and also the trained weights and I can use it as I was using in "myTrain.py". For example, pass a new batch w

[2017-04-19 03:13] 22csnyder commented on #9071
Just because I'm at the same place at the same time as you guys, I'll comment something non-obvious I found. Many hours were sacrificed for this knowledge.

You might think cuda can either be installed with a .deb file or a .run file. HOWEVER, if you want to use the slightly older 375.39, you need to use the run file. This annoyed me because I think the rule of thumb is not to mix run files and de

[2017-04-19 04:25] CDLuminate opened #9298 "[cmake/feature request] provide USE_SYSTEM_xxx flags to skip dependency builds"
Tensorflow's cmake build will download and compile all of its dependency. Julia[1] does something similar to maximize its performance. However Julia provided some optional flags such as `USE_SYSTEM_FFTW` so users can compile Julia against the FFTW library provided by system package manager (e.g. `apt/dpkg`). I wish Tensorflow's cmake build could provide similar options to skip building its depende

[2017-04-19 04:26] bhairavmehta95 commented on #9202
Has this been claimed? I am looking to make my first contribution and I think this would be a good one to get started with.

[2017-04-19 04:30] wangdelp opened #9299 "Making TF consume least GPU memory as default"
Hi there,

By default, TF takes all GPU memory available on the machine, even if very few memory are actually needed. This would prevent running other processes and lead to Out of Memory errors.

Although we can use GPU options to set the GPU amount, but sometimes we are running others' codes and do not want to bother or forget to add GPU configurations to make it consumes less memory. Consider mo

[2017-04-19 05:00] kwotsin opened #9301 "Quantized graph fails to work on NVIDIA Jetson TX1 architecture although it worked on a normal PC?"
### System Information
- *Have I written custom code (as opposed to using a stock example script provided in TensorFlow)?*:
No
- *OS Platform and Distribution (i.e. Linux Ubuntu 16.0)*:
Ubuntu 16.04 LTS on NVIDIA Jetson TX1 (Linux for Tegra 24.1)
- *TensorFlow installed from (source or binary)?*:
Compiled from source and installed via this wheel available here: https://github.com/rwightman/tensorf

[2017-04-19 05:26] StefanoD commented on #9071
Something is really wrong, because on Ubuntu 17.04, I had 375.39 installed and Tensorflow looked for 375.51:

[code]
On Ubuntu 16.04.2 (respective KDE Neon, which uses Ubuntu 16.04) I installed via the deb package and I have 375.39 installed. – No problems at all!

[2017-04-19 05:27] helpimalive opened #9302 "TensorFlow reverting to GPU on a CPU machine on most recent nightly build"
I'm running tensorflow on windows. I continue to produce these errors around CUDA libraries and cuDNNs ,but I don't have a GPU and didn't install a GPU version of TF.

I installed the latest nightly build of TF from jenkins (apr 17) but when that one failed on me I tried to pip3 uninstall and revert to [this one](https://ci.tensorflow.org/view/Nightly/job/nightly-win/DEVICE=cpu,OS=windows/134/) to

[2017-04-19 05:51] asimshankar commented on #9297
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-19 05:51] #9297 closed

[2017-04-19 06:03] feiga opened #9303 "Import additional RNNCells in tf.contrib.rnn.__init__.py"
Some RNNCells, like IntersectionRNNCell, NASCell, are implemented in tf.contrb.rnn.python.ops.rnn_cell. I would like to try these cells but found that these can't be used as the same way as LSTMCell, which I can import by ```from tf.contrib.rnn import LSTMCell```. I checked the code found that these cells are not imported by ```tf.contrib.rnn.__init__.py ```.

Is there any way to try these cells?

[2017-04-19 06:42] dustinvtran commented on #7140
Fixed in https://github.com/tensorflow/tensorflow/commit/c87b17f996bde34027d515415b28514a38c41c9a.

[2017-04-19 06:42] #7140 closed

[2017-04-19 07:15] DaoD commented on #6996
@ebrevdo hi, have you finished beam search part code in the tf.contrib.seq2seq package?
I'm really confused about how to realize it..

[2017-04-19 07:21] vi77 commented on #9263
I install it from source and it work. Thanks a lot!

[2017-04-19 07:32] LucasMahieu commented on #9282
I succeed to find the source of the error.
It was caused by the bad shape of an input tensor of a custom op.
I have create a custom op, coded in C++, used in Python.
I think an improvement could be done in the error message. Indeed, with this line only, it is difficult to find the source of this error.

[2017-04-19 07:35] Jeffery4000 opened #9304 "Problem displaying Chinese character in Tensorboard Embedding"
I am trying to display an embedding but what its show is all garbled. May i know does Tensorboard Embedding able to display Chinese character?
May i know its that possible to display more than 100K point? If yes, how to i do the configuration?
![default](https://cloud.githubusercontent.com/assets/27762422/25168360/cf775996-2515-11e7-8fa1-326d06e6d045.PNG)

[2017-04-19 08:06] Sunnysgw commented on #363
I‘m afraid that it's too late to say something. I think that maybe the data doesn't exists in your slave nodes.

[2017-04-19 10:46] ravindranathbr commented on #6265
I am working on this.. Will post the updates here

[2017-04-19 10:57] kvrd18 commented on #956
Any progress in this?

[2017-04-19 11:14] vamshi-indla opened #9306 "AttributeError: module 'tensorflow' has no attribute 'get_default_graph'"
**Error Log:**
model = Sequential()

Traceback (most recent call last):

  File "<ipython-input-50-24a4d47a09aa>", line 1, in <module>
    model = Sequential()
...
/anaconda/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py", line 47, in get_uid
    if graph not in _GRAPH_UID_DICTS:

**_AttributeError: module 'tensorflow' has no attribute 'get_default_graph'_**

------------
**Versio

[2017-04-19 11:38] inferrna opened #9307 "Segmentation fault in tensorflow::FileSystemRegistryImpl::Register"
Syntaxnet package was built, tf package ver 1.01 was installed from repo by pip as dependency. Fortunately tf installed following these instructions https://www.tensorflow.org/versions/r0.10/get_started/os_setup#create_the_pip_package_and_install works fine.
[code]

[2017-04-19 12:10] nalhajri88 opened #9308 "Trying to use tensorflow to classify multi-class data"
tensorflow is a new tool for me and this is my first try. I'm trying to train my model using jupyter notebook in 'mac' for a Multi-class problem (Bike Sharing Demand | Kaggle). I am using '1.0.1' tensorflow version and Python 3.5. I have this error:
[code]

My Feature size= (10886,10) & Label size= (10886,1).

My goal is to predict how many customers will rent the bike per day. I found 822 differe

[2017-04-19 12:19] Bruczzz opened #9309 "Tensorflow slim - TypeError: softmax_cross_entropy() got an unexpected keyword argument 'weight'"
Hi ,

I am using slim/train_image_classifier.py to train inception V1 model from scratch on my own dataset and fine-tuning inception V1 model from the link: https://github.com/tensorflow/models/blob/master/slim/README.md#Pretrained

**System Information:**
RAM : 4GB
TensorFlow Version : 1.0
OS  : Linux 14.04

I am using following command for training from scratch but ended up in Error

[code]

**N

[2017-04-19 12:38] vlimant commented on #9226
My apologies.
Thanks for the suggestion http://stackoverflow.com/questions/43471544/keras-tensorflow-p100-cudaerrornotsupported-71-error
#9080 seems related.

[2017-04-19 12:51] MaeThird opened #9310 "Is tf.train.import_meta_graph() contextual with tf.global[local]_variables_initializer() ?"
**I can use these pieces of codes to continue my training with pre-trained model**:

     tf.reset_default_graph()
     new_saver = tf.train.import_meta_graph("xxx.meta")
     new_saver.restore(sess, "xxx.ckpt-yyy")

Here the 'tf.reset_default_graph() is necessary'  to solve the 'redefine of ops' issues.But,**when I  launched  forward pass(in another .py file) like** :

     tf.reset_default_graph

[2017-04-19 13:00] pdcoded commented on #6661
@ziky90 did you find any solution to this . I am facing the same issue in tensorflow 1.0.1 on Ubuntu 16.04.1 . I think this issue should be opened again unless there is a clear solution.

[2017-04-19 13:06] sumethy commented on #5422
Same thing here. On my particular model with 35M parameters, keras with tf backend and sequential model takes around 33 s. per epoch. With theano backend and cumem at 80%, each epoch takes 16 s.

[2017-04-19 13:45] sandipmgiri commented on #9216
Further analysis report :
Here , `math_ops.cast(val, self._toDataType(dtype), name="cast").eval()`  function producing the different results on X86 and PPC64LE.

The first part from above function i.e.` math_ops.cast(val, self._toDataType(dtype), name="cast")`  generating same output on both the platform = ` Tensor("cast:0", shape=(), dtype=int32, device=/device:CPU:0)`

After that performing eval

[2017-04-19 13:59] Songweiping opened #9312 "Typo in seq2seq.attention_wrapper.py"
Hi,
 I think there is a small typo in contrib.seq2seq.attention_wrapper.py, would someone like to check it?
code url: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/seq2seq/python/ops/attention_wrapper.py#L471]
I guess it should be _probability_fn_ rather than _cell_input_fn_ to be checked.

Thanks.

[2017-04-19 14:07] derluke commented on #6391
I second that printing a warning should be in order for this. I only found a bug in my code relating to this issue by looking at the graph in tensorboard and saw that one of my variables was a different colour...

[2017-04-19 14:13] dmonopoly opened #9313 "`Evaluable` docs: name, checkpoint_path, and hooks should be new bullets."
See https://www.tensorflow.org/api_docs/python/tf/contrib/learn/Evaluable - final params for evaluate() are not bullets, making reading the documentation less readable. I've seen this in other docs too (can comment if I come across more of them).

I wonder if the parser has some bug that causes it to not bullet-ify some params for functions.

[2017-04-19 14:24] kris-singh commented on #7868
@martinwicke i also need the same. I will have a shot at this if its okay.

[2017-04-19 14:31] mrry commented on #9298
This seems like a reasonable request, although it's one we're unlikely to use for releases because linking together one huge static library from the exact versions of the library dependencies is easier to reason about. (Indeed, most of the trouble with the Windows version has been "DLL hell" of one form or another.)

However, I can see why this would be useful for local source development, and wou

[2017-04-19 15:22] martinwicke commented on #7868
Go for it. Let me know if you have any questions.

[2017-04-19 15:32] Androbin commented on #8897
And I should probably mention that I am doing the inference on Android.
Unfortunately, I am currently unable to test this on Ubuntu because the original graph, from which the quantized version is derivated, is currently broken due to another issue.

[2017-04-19 16:55] drpngx commented on #9313
It's typically an error in the MD format, like missing spaces in front the bullet.

[2017-04-19 16:56] drpngx commented on #9312
Yes, could you send a PR to fix this?

/CC: @ebrevdo

[2017-04-19 16:58] drpngx commented on #9302
Did you try to reboot? Is that with the new Windows 10 Creator update? Do you have up to date nvidia drivers?

[2017-04-19 16:59] drpngx commented on #9304
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-19 16:59] #9304 closed

[2017-04-19 17:03] drpngx commented on #9306
That seems to be a mismatch in keras, not tensorflow. Sorry, closing this since this is not a tensorflow bug.

@fchollet

[2017-04-19 17:03] #9306 closed

[2017-04-19 17:04] drpngx commented on #9308
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

That said, your problem is that you have to transpose the features, or change the network so that it expects transposed features.

[2017-04-19 17:04] #9308 closed

[2017-04-19 17:08] helpimalive commented on #9302
Thank you for your reply. I tried a reboot.
I've not done any windows updates in the time between having the working code and non-working code.
I don't believe I have any NVIDIA hardware or software on my computer. Intel runs the graphics.

[2017-04-19 17:10] vladfi1 commented on #1941
I think this has been supported for quite some time now.

[2017-04-19 17:20] leconteur commented on #6766
I still have this problem.

[2017-04-19 17:27] DomLi commented on #7258
Anybody hosting the built DLL?

[2017-04-19 17:38] #9282 closed

[2017-04-19 17:41] drpngx commented on #9310
Does your checkpoint contain values for all variables? Which is the variable that's is missing initialization?

[2017-04-19 17:42] ebrevdo commented on #9312
yes please!

On Wed, Apr 19, 2017 at 9:57 AM, drpngx <notifications@github.com> wrote:

[2017-04-19 17:51] dmonopoly opened #9314 "tf.get_collection documentation: argument description is confusing"
From https://www.tensorflow.org/api_docs/python/tf/get_collection:

"Items without a name attribute are never returned if a scope is supplied and the choice or re.match means that a scope without special tokens filters by prefix."

What does this mean? Is there a typo here?

[2017-04-19 17:52] kstant0725 commented on #6503
Hello,
I was also wondering if there was any progress on this?

[2017-04-19 17:55] drpngx commented on #9302
Are these in your path?

* `cublas64_80.dll`
* `cudnn64_5.dll`
* `cufft64_80.dll`
* `nvcuda.dll`

If not, try to locate them and add them into your path. You can use the windows dependency walker to check if you need to add more dependencies.

/CC: @mrry

[2017-04-19 18:01] drpngx commented on #9314
I think that's "of" rather than "or". Let me check internally.

[2017-04-19 18:03] drpngx commented on #9314
@sguada @martinwicke who reviewed 120141411.

[2017-04-19 18:08] drpngx commented on #9307
@keveman I think it's yet another case of overriding symbols with different underlying static variables.

@inferrna I think it's a known bug with tensorflow that wherein external ops outside of the main tensorflow code are unstable. Try linking against `_pywrap_tensorflow` instead.

/CC: @nealwu

[2017-04-19 18:08] drpngx commented on #9307
/CC: @skye

[2017-04-19 18:10] martinwicke commented on #9314
Yes, that should be an "of", and we should probably also insert a comma before "and the choice" to make the structure clearer.

[2017-04-19 18:12] drpngx commented on #9299
Thanks for your input @wagonhelm ! Unfortunately that's not something that we'll do at this point.

You can use http://stackoverflow.com/questions/34199233/how-to-prevent-tensorflow-from-allocating-the-totality-of-a-gpu-memory (see both answers).

[2017-04-19 18:12] #9299 closed

[2017-04-19 18:16] drpngx commented on #9301
@andrewharp might be more up-to-date on the Jetson progress.

[2017-04-19 18:16] drpngx commented on #9314
@dmonopoly would you care to send a PR?

[2017-04-19 18:23] drpngx commented on #9303
Yes, you have to add a reference in the [docstring](http://google3/third_party/tensorflow/contrib/rnn/__init__.py?l=44). Feel free to send a PR and CC @ebrevdo

[2017-04-19 18:26] drpngx commented on #9309
The correct parameter name is `weights`, not `weight`.

[2017-04-19 18:26] #9309 closed

[2017-04-19 18:37] poxvoculi commented on #4158
Looks like NCCL support has been added via contrib.  @cwhipkey

[2017-04-19 18:41] cwhipkey commented on #4158
yes, basic support for all-reductions + broadcast is checked in to contrib.

[2017-04-19 18:58] dmonopoly commented on #9314
Sure thing

[2017-04-19 20:34] ebonat commented on #7540
Hi Carmezin,

I have updated to tensorflow-1.1.0rc2-cp35-cp35m-win_amd64.whl and getting the following warning:

[code]

Here is the simple code:

[code]

Thank you for your help!

Ernest

[2017-04-19 20:41] George35mk commented on #7540
ebonat this is the same like my error, just subscribe for future notifications if they solve this problem

[2017-04-19 20:44] ebonat commented on #7540
Changing the TF_CPP_MIN_LOG_LEVEL to 2 will help? If so, how to do that? Where?

Thanks

Ernest

[2017-04-19 20:53] Carmezim commented on #7540
@ebonat @George35mk This is not an error but the expected behavior. As I already said above

TensorFlow binary was built without those advanced CPU instructions to be compatible with a wider range of machines by default. If you want to use TensorFlow with SIMD instructions, e.g. SSE, AVX etc, you need to compile TensorFlow from source.

`TF_CPP_MIN_LOG_LEVEL` is a TensorFlow environment variable r

[2017-04-19 20:59] ebonat commented on #7540
Thank you and I hope this issue will be fixed soon!

Ernest

[2017-04-19 21:01] drpngx commented on #9263
Great, thanks for reporting back!

[2017-04-19 21:01] #9263 closed

[2017-04-19 21:04] drpngx commented on #9314
Thanks! Make sure you put 'Fixes #9314` in the commit message & CC me on the PR.

[2017-04-19 21:08] Carmezim commented on #7540
@ebonat It is not an issue hence there is nothing to be fixed. Please read again my answer.

[2017-04-19 21:09] drpngx commented on #8326
So the upgrade to TypeScript `2.2.1` happened. Can we close this?

[2017-04-19 21:13] ebonat commented on #7540
OK, in this case: do i need to run this line of code [os.environ["TF_CPP_MIN_LOG_LEVEL"] = "2"](url) in all my python program using tensorflow?

[2017-04-19 21:27] Carmezim commented on #7540
If you want to silence the `WARNING` logs, it's an option. If you're in a Unix environment you can simply `export TF_CPP_MIN_LOG_LEVEL=2` as well.
But again, it will only display the first time you run a program, after that it won't show up anymore.

A reference regarding SIMD instructions: http://stackoverflow.com/questions/43134753/tensorflow-wasnt-compiled-to-use-sse-etc-instructions-but-these-

[2017-04-19 21:34] ebonat commented on #7540
About: _But again, it will only display the first time you run a program, after that it won't show up anymore._

This is very weird, I use Eclipse IDE/PyDev and I have to add this line at the beginning all the time.  If I run the program again without this line, the warning messages appear again. Why? Any idea?

[2017-04-19 21:50] andrehentz commented on #8897
@Androbin
I found an issue with dequantization on Android and I'm wondering if building with
   `-DTENSORFLOW_DISABLE_META`
works for you. I'd appreciate if you would try it out. Thanks in advance!

[2017-04-19 22:08] Carmezim commented on #7540
AFAIK that is the expected behavior, perhaps is an Eclipse config thing but I don't know what can be in this case. Maybe @gunan has an insight on that.

You could set this variable globally as well so when Eclipse invokes the Python interpreter it's defined on your environment, on Windows I am not sure how would this be done, maybe using `SET` rather `export`.

[2017-04-19 22:15] girving commented on #1941
Yep, it was added by 1ac30d53e512ee40413a210d57fd1d56e510f4cb.

[2017-04-19 22:15] #1941 closed

[2017-04-19 22:50] cancan101 commented on #7187
So back to the initial issue, any updates on the performance differences observed on (single) core in TF vs (py)Torch?

[2017-04-19 22:55] prashantsingh905 opened #9316 "MultiRNNcell expected state to tuple but its a tensor"
i have define my lstm_cell as

`def lstm(state, input_data, num_steps, hidden_size, num_layers, name):`
   ` # Input: (B, T, N) `
     `with tf.variable_scope(name) as scope: `
        ` multi_lstm = MultiRNNCell([BasicLSTMCell(hidden_size)] * num_layers) `
         `outputs = [] `
         `for t in range(num_steps): `
             `output, state = multi_lstm(input_data[:, t, :], state) `

[2017-04-19 23:08] ebrevdo commented on #6996
We're close to having it done.  Initial version should be pushed tomorrow,
and cleanups and API changes in the next week.

On Wed, Apr 19, 2017 at 12:15 AM, DaoD <notifications@github.com> wrote:

[2017-04-19 23:10] davtalab commented on #7716
I installed Tensorflow on Windows10 and when testing in Python I get the following error:

`C:\Python35\python.exe C:/Users/loc/PycharmProjects/Practice/tensorflow_test.py
E c:\tf_jenkins\home\workspace\release-win\device\cpu\os\windows\tensorflow\core\framework\op_kernel.cc:943] OpKernel ('op: "BestSplits" device_type: "CPU"') for unknown op: BestSplits
E c:\tf_jenkins\home\workspace\release-win\

[2017-04-19 23:16] girving opened #9317 "Explain what tf.nn.softplus does to integers"
[`tf.nn.softplus`](https://www.tensorflow.org/api_docs/python/tf/nn/softplus) computes `log(1 + exp(x))`.  Naively, I wouldn't expect this to work for integers, but it does.  On integers, it seems to degenerate to a poorly named version of `tf.relu`: it computes `max(0, x)`.

We probably can't eliminate the integer versions for backward compatibility reasons, but we should at least explain what th

[2017-04-19 23:26] Carmezim commented on #7716
@davidbrai download the respective wheel from https://pypi.python.org/pypi/tensorflow after uninstalling TF and install it again. This error is harmless and resolved on 1.1.0r.

[2017-04-19 23:27] zo7 opened #9318 "Not all image ops accept image tensors with batch dimension"
It appears that only some of the image ops (e.g. `tf.image.random_saturation()`) only accept single images (rank-3 tensors), while others allow batches of images (rank-4 tensors). Should this be made more consistent so that all image ops allow for higher-rank tensors? There doesn't seem to be much about this in the API documentation (some ops just say that the last dimension needs to be 3).

### S

[2017-04-19 23:39] drpngx commented on #9317
/CC @wolffg for documentation.

[2017-04-19 23:40] davtalab commented on #7716
I updated my TF to tensorflow-1.1.0rc2 version. Now I am getting the following warnings:

`2017-04-19 16:35:22.533979: W c:\tf_jenkins\home\workspace\release-win\device\cpu\os\windows\tensorflow\core\platform\cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use SSE instructions, but these are available on your machine and could speed up CPU computations.
2017-04-19 16:35:22.53475

[2017-04-19 23:43] drpngx commented on #9318
That sounds like a good idea.

@tatatodd may have some comment.

[2017-04-19 23:44] drpngx commented on #9316
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-19 23:44] #9316 closed

[2017-04-19 23:46] eaplatanios commented on #9150
@alextp Given that reference data types are going away, what input should I feed to ops such as `StridedSliceAssign` that have a `Ref(T)` input type?

The op registration in the C++ code looks like this:

[code]

And similarly, what is the output data type of such an op?

[2017-04-19 23:46] girving commented on #9317
Hmm, there seems to be more of this in `core/ops/nn_ops.cc`.  E.g., `softsign` is the same.

I added it to the doc fixit spreadsheet.

[2017-04-19 23:49] alextp commented on #9150
I haven't ported StridedSliceAssign to new variables yet, so now you should
feed it the output of a VariableV2 op.

On Wed, Apr 19, 2017 at 4:48 PM, Anthony Platanios <notifications@github.com

--
 - Alex

[2017-04-19 23:50] Androbin commented on #8897
@andrehentz
Thanks for the hint!
So, is this issue bounded to the `transform_graph` tool?
Or do I have to recompile the whole library?

[2017-04-19 23:54] tfboyd commented on #7187
Benchmark results (TensorFlow not comparison to other platforms) and code should be posted late next week, which will help get us all on the same set of scripts.  I have done some PyTorch testing with real data on image-classification models and did not see a significant difference in my very informal testing.  I found TensorFlow to be slightly faster with real data, but am not a PyTorch expert.

[2017-04-19 23:58] girving commented on #9317
`tf.nn.softsign` on ints is rather less useful: it's the constant zero function.

@martinwicke: Maybe we should drop these?  Arguably they're just bugs.

[2017-04-20 00:03] taion commented on #7187
I was playing around earlier today with my implementation of Wide ResNets in TF (using NCHW and fused batch norm, with `feed_dict` but verifying that nvidia-smi showed near 100% GPU usage throughout) and comparing to a PyTorch implementation (https://github.com/xternalz/WideResNet-pytorch).

I saw batches taking something like 55% as long in the PyTorch version as in my TF version – ~155 ms for th

[2017-04-20 00:03] eaplatanios commented on #9150
Are there many other ops for which resource variables are not supported yet? If that's the case then maybe I should go about supporting the current variable API and wait until there is more complete support for resource variables. What do you think is the best approach for now?

[2017-04-20 00:09] cancan101 opened #9319 "[feature] Mobile Integration with NNPACK"
Caffe2 use can use [NNPACK](https://github.com/Maratyszcza/NNPACK) for [which it says](http://caffe2.ai/docs/mobile-integration.html#null__performance-considerations):

The readme for NNPACK lists Tensorflow as a framework that could potentially use it, though [that has not yet happened](https://github.com/Maratyszcza/NNPACK/issues/1).

I believe that TF also avoids using the im2col/sgemm approach

[2017-04-20 00:13] cancan101 commented on #9318
See also: https://github.com/tensorflow/tensorflow/issues/8926

[2017-04-20 00:15] cancan101 commented on #9285
This isn't a performance bug; filtering on rc2 for tensorboard is just broken.

[2017-04-20 00:19] martinwicke commented on #9317
I'm a little reluctant to remove the functionality since that will break graphs (and code) that worked before. But a warning (deprecation?) would be nice.

[2017-04-20 00:33] drpngx commented on #9319
@rmlarsen what do you think?

[2017-04-20 00:56] mikekolodziej1 opened #9320 "Don't work. Please fix your install script."
Please go to Stack Overflow for help and support. http://stackoverflow.com/questions/tagged/tensorflow
If you open a GitHub issue, here is our policy:

1. It must be a bug or feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g. fixing bugs and adding feat

[2017-04-20 00:57] mikekolodziej1 commented on #9320
Please fix your install script. Make it work. Documentation is the worst I have ever seen.

[2017-04-20 00:57] #9320 closed

[2017-04-20 00:58] Carmezim commented on #7716
That is intended behavior.
http://stackoverflow.com/questions/43335531/how-to-use-sse4-1-instructions-without-install-tensorflow-from-source/43335630#43335630

[2017-04-20 00:58] tfboyd commented on #7187
@taion That would be great.  If all goes well I would like to start focusing on other types of models in about a week.

[2017-04-20 01:05] zo7 commented on #9318
Ah, thanks @cancan101 I must've missed that. I'll go ahead and close this since it seems to be a duplicate.

[2017-04-20 01:05] #9318 closed

[2017-04-20 01:07] davtalab commented on #7716
@Carmezim Thanks a lot! That helped to silence the warnings.

[2017-04-20 01:12] zo7 commented on #8926
Just to chime in, it seems that some image ops (e.g. `tf.image.random_brightness()`, `tf.image.random_contrast()`) allow batches, while others (e.g. `tf.image.random_saturation()`, `tf.image.random_hue()`) do not – it would make sense to either make all the image ops accept batches, or at least note on the documentation that they don't.

(also, does the "awaiting tensorflower" flag mean a TF dev i

[2017-04-20 01:17] DaoD commented on #6996
@ebrevdo Thanks for your kindly reply. Looking forward to it~

[2017-04-20 01:21] cancan101 commented on #5073
Any way to suppress this INFO message? It is entirely spurious.

[2017-04-20 01:29] Jeffery4000 opened #9321 "Maximum points displaying on embedding"
Hi,
I got a embedding file with 1.5 million points, its that possible to show all 1.5 million points instead of the first 100 thousand points only? I have been asking around Stackoverflow but no one can answer that question. Trying to check all those documentation but dosent help at all.

[2017-04-20 01:37] davtalab commented on #2706
I am using tensorflow-1.1.0rc2, when I use the code for:
`scell = tf.nn.rnn_cell.GRUCell(embedding_size)`

I get the following error:
`AttributeError: module 'tensorflow.python.ops.nn' has no attribute 'rnn_cell'`

Any idea what to use instead for 1.1.0rc2 version? Looks like it has been removed but I couldn't find any good documentation for the solution.

[2017-04-20 01:58] davtalab commented on #7664
I am using tensorflow-1.1.0rc2, when I use the code for:
scell = tf.nn.rnn_cell.GRUCell(embedding_size)

I get the following error:
AttributeError: module 'tensorflow.python.ops.nn' has no attribute 'rnn_cell'

what should I use instead  of  `tf.nn.rnn_cell.GRUCell` for 1.1.0rc2 version?

[2017-04-20 02:14] taion opened #9322 "TensorFlow 60-80% slower than PyTorch on training Wide ResNet"
cc @tfboyd

From https://github.com/tensorflow/tensorflow/issues/7187#issuecomment-295502315

On an AWS p2.xlarge, using the `tensorflow/tensorflow:1.0.1-devel-gpu` Docker image as a base, I see ~270 ms per epoch while training a WRN-16-4 without dropout on CIFAR-10.

Using a PyTorch implementation from https://github.com/xternalz/WideResNet-pytorch, I see instead ~150 ms per epoch for the same.

[2017-04-20 02:14] taion commented on #7187
I've described the situation in https://github.com/tensorflow/tensorflow/issues/9322.

[2017-04-20 02:26] kdjaks commented on #9296
Ok, compiling with gcc-4.9 seems to work. Closing since I'm pretty sure this was a compiler issue which I believe is explicitly not supported by cuda 8.0 (ie. gcc 5.4.1).

Sorry for not trying that before posting here. I assumed it would work since I thought it was the same compiler as before the upgrade. Also apologies for the slow follow up.

Regarding the question, I don't believe it was specif

[2017-04-20 02:26] #9296 closed

[2017-04-20 02:27] andrewharp commented on #9301
The random single-category symptom is the same as the issue seen in https://github.com/tensorflow/tensorflow/issues/7150#issuecomment-282343046

As @andrehentz suggests there, maybe try quantizing with both quantize_weights and quantize_nodes?

[2017-04-20 02:28] taion commented on #9322
To rule out issues with my use of `feed_dict`, I've added a `benchmark-constant` branch to my repo that uses constant tensors for the batch inputs and outputs, and removes all the actual data loading logic.

On this branch, on the same AWS instance, I see batch times of ~246 ms, which is still over 60% slower than what I see with the PyTorch example.

[2017-04-20 02:31] Songweiping commented on #9312
I have sent a PR, please let me know if any questions.

[2017-04-20 02:55] tfboyd commented on #9322
I doubt I can be helpful on this one.  I am having a hard time following all of the code references, e.g. wrappers around everything.  I am not doubting it is correct but about about 30 minutes of scanning through the code I know it is beyond me to follow. This is a shot in the dark but if you are trying things to see if they impact the time, I would remove feed_dic completely.  You can decrease/d

[2017-04-20 02:59] ruanxt opened #9324 "Tensorflow build error: not able to find ar in the compiler"
I'm trying to build Tensorflow from source, and I follow the instruction here:
https://gist.github.com/taylorpaul/3e4e405ffad1be8355bf742fa24b41f0#file-buildtf-sh-L118

But I fail to build it, and below are the command and error info. Could any one help me out?

[code]
[code]

------------------------

### System Information
- *Have I written custom code (as opposed to using a stock example script

[2017-04-20 03:15] taion commented on #9322
Would it help if I inlined the non-TF layer helpers into a single module? As you can probably tell, we pulled this out from a larger internal repo, where things were organized to optimize code reuse.

If I take out `feed_dict` entirely, I get ~241 ms. I suspect this is largely from eliding the conditional checks on `training`, though.

[2017-04-20 03:17] ebrevdo commented on #7664
tf.contrib.rnn.GRUCell

On Apr 19, 2017 6:58 PM, "davtalab" <notifications@github.com> wrote:

[2017-04-20 03:23] tfboyd commented on #9322
Yeah that did not save much.  :-(    I understand this may sound like I am deflecting the question but how do you know your model is exactly the same as the pytorch version?

Removing the wrappers and inlining seems painful, I would hate to have you do it and then not get time to dig in.  This might be a fun side project for me to look at in regards to checking out the timeline.  I am also asking

[2017-04-20 03:24] vikasgupta1812 opened #9325 "Cannot find python and other modules"
When I am running the code with `tf.python.framework.tensor_shape.scalar()` , I get the error message `AttributeError: 'module' object has no attribute 'python'`

### Source Code / Logs

Given below are minimum reproducible examples.

[code]

This works
[code]

Others donot work
[code]

[code]

[code]

[code]

But when I also tried importing python module.

[code]

### System Information
- *Have I

[2017-04-20 03:27] kwotsin commented on #9301
Thanks for your reply! Do you have an example of how this could be done? I have always thought there was only one quantization function available (for the weights). What is the difference between quantizing the weights vs the nodes?

[2017-04-20 03:30] KT12 commented on #5017
For me, anaconda may have been the problem.
`conda install libgcc` updated libgcc from 4.x to 5.x and [fixed the problem](http://stackoverflow.com/a/40181952/6832816).

[2017-04-20 03:36] taion commented on #9322
I believe they're the same. The two models have the same number of parameters, and I can't see anything different on inspection.

Also, the performance delta I see here is broadly consistent with those reported for ResNet-50 and ResNet-56 in the paper linked in the OP on https://github.com/tensorflow/tensorflow/issues/7187.

[2017-04-20 03:56] vikasgupta1812 commented on #9325
I was able to use `tf.python.framework.tensor_shape.scalar()` shape by following code

[code]

[2017-04-20 03:57] #9312 closed

[2017-04-20 03:57] drpngx commented on #9312
Merged.

[2017-04-20 04:01] ebonat commented on #7540
I have found the solution. I created a new environment variable for the selected Python in PyDev settings. That's all.

Thank you for your help!

Ernest

[2017-04-20 04:30] helpimalive commented on #9302
those dlls don't exist on my system anywhere, so was unable to add them to PATH.
I'm downloading cuda_8.0.61_win10 in hopes of grabbing those dlls...
https://developer.nvidia.com/cuda-downloads
installer recommended a different specific version of visual studio
https://www.visualstudio.com/thank-you-downloading-visual-studio/?sku=Community&rel=15
cuda install failed because the above version of VS

[2017-04-20 04:35] tfboyd commented on #9322
One thing to keep in mind and it is something common in most of the code from the HK benchmark.   1) put your input pipeline on the CPU (I fixed this for another simpler CIFAR example and the person got more than a 5x improvement from ~700 imgs/sec to ~3800 imgs/sec on a K80.
 https://github.com/tensorflow/models/issues/1264

2) Queues and following best practices for them.  Feed_dict is just for

[2017-04-20 04:44] ppwwyyxx commented on #9322
Since it's slow even with a constant fake input and 100% GPU util, it's probably not a problem with feed_dict or input, right? Also I'm able to reproduce the 60% performance difference with my own TF code written fully independently from the above TF code.

Slow speed at high GPU util may be a result of using inefficient kernels. For example by setting `cudnn.benchmark=False` (disable autotuner) I

[2017-04-20 05:42] ebrevdo commented on #6391
i have a partial fix on the way

On Apr 19, 2017 7:07 AM, "derluke" <notifications@github.com> wrote:

[2017-04-20 05:42] tfboyd commented on #9322
No idea, someone else will have to pick this up.  I know very little and even less about this model.  I am sure it will come back around when we focus on these types of models (and thus the ops and kernels they are using) in a couple weeks.

[2017-04-20 05:43] taion commented on #9322
To clarify:

- Even when using `feed_dict` for the data, I'm seeing 95%-100% GPU utilization, so I'm fairly confident that I'm not starving my GPU, even when using `feed_dict` (data augmentation/&c. are still happening in a separate thread)
- When I remove all placeholders and just use constant fake training data (i.e. to remove all GPU memory or whatever pressure from moving data around), I still

[2017-04-20 06:18] tfboyd commented on #9322
I know this version also has issues but at a glance if I comment this in and the other filter out.

https://github.com/tensorflow/models/blob/master/resnet/resnet_model.py#L87

Yes, I can ask someone on the team, but asking you might save me time and get this moving.

Will that give me the same model in general we are discussing.  It is much easier me to "package" this up and get people to look at

[2017-04-20 06:59] Currie32 opened #9326 "Update op_def_registry.py"
I am hoping that you can make an update to tensorflow/python/framework/op_def_registry.py (https://github.com/tensorflow/tensorflow/pull/9235/commits/133debe1e805e8d2a78600a9d5014900d429479c).

I discovered this issue when I was building a seq2seq model with attention. Specifically, I believe the issue stems from tf.contrib.seq2seq.prepare_attention() (https://www.tensorflow.org/api_docs/python/tf

[2017-04-20 07:29] tfboyd commented on #9322
Here are the results on a GTX 1080 (which I also use as my main display card):

Not apples-to-apples due to TF using a constant.  I used git checkout benchmark-constant with the following commands on Ubuntu 14.04 (a custom internal google build) with CUDA 8.0 and 5.1 cuDNN as one would expect:
- python -m dl_papers.wide_resnet.train cifar10
- python train.py --dataset cifar10 --layers 16 --widen-f

[2017-04-20 07:32] albertz commented on #8604
Note that there is also a bug with the name scope ("while/while/"), I guess because there might be some variable_scope/name_scope mixup. I see the same bug in the same situation (`InvalidArgumentError: The node 'output/rec/orth_embed/b/Assign' has inputs from different frames. The input 'output/rec/orth_embed/Const' is in frame 'output/rec/while/output/rec/while/'. The input 'output/rec/orth_embed

[2017-04-20 07:38] albertz commented on #8604
I think #4478 is related (or even the same bug) (as well as #3114).

[2017-04-20 07:39] tfboyd commented on #9322
If I turn on WINOGRAD I get another small bump still using the same branch.

export TF_ENABLE_WINOGRAD_NONFUSED=1;python -m dl_papers.wide_resnet.train cifar10

[2017-04-20 00:37:44,189] INFO in train: epoch 0, batch 192: 0.062s
[2017-04-20 00:37:44,251] INFO in train: epoch 0, batch 193: 0.062s
[2017-04-20 00:37:44,313] INFO in train: epoch 0, batch 194: 0.062s
[2017-04-20 00:37:44,375] INFO in t

[2017-04-20 07:54] tfboyd commented on #9322
On the K80 (AWS p2.xlarge).  TF 1.1rc2+ (built from head earlier today) CUDA 8.0, avx2, cuDNN 5.1 and compute 3.7.

WINOGRAD did not help much on K80.

export TF_ENABLE_WINOGRAD_NONFUSED=1;python -m dl_papers.wide_resnet.train cifar10
[2017-04-20 07:52:13,740] INFO in train: epoch 0, batch 91: 0.168s
[2017-04-20 07:52:13,909] INFO in train: epoch 0, batch 92: 0.169s
[2017-04-20 07:52:14,079] INFO

[2017-04-20 07:58] albertz commented on #8604
Note, for the given test-code in the initial post here, I get a slightly different error:
[code]

[2017-04-20 08:05] tfboyd commented on #9322
And now with real data on K80 WINOGRAD on and the rest the same, but WINOGRAD did very little on K80.

[2017-04-20 08:03:47,636] INFO in train: epoch 0, batch 383: 0.174s
 98%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▉  | 49152/50000 [01:07<00:01, 739.85ex/s][2017-04-20 08:03:47,810] INFO in train: epoch 0, batch 384:

[2017-04-20 08:07] tfboyd commented on #9322
Let me know if I did something wrong.  I am going to bed.

[2017-04-20 08:08] DjangoPeng opened #9328 "Error in `python`: free(): invalid pointer"
TensorFlow Version: 1.0 and 1.0.1 (whl package)
Kubernetes Version: 1.5.1
Docker Version: 1.12.5
Container OS: ubuntu 14.04

I run tensorflow applications, say mnist_replica.py, in the kubernetes cluster and this error occured everytime when finishing the whole train step.

I attached the log of mnist_replica.py as below:
[code]
And everything goes well when I run the mnist_replica.py in a physica

[2017-04-20 08:08] ppwwyyxx commented on #9322
Actually with ` TF_ENABLE_WINOGRAD_NONFUSED=1`, I saw 5% difference between pytorch and tensorflow. I'm on Tesla M40.

[2017-04-20 08:08] albertz commented on #8604
Actually, this will make it work:

[code]

[2017-04-20 08:30] ppwwyyxx commented on #9322
I managed to get a set of traces from pytorch and tensorflow about what convolution algorithm and shapes they use:
pytorch:
[code]

TensorFlow:
[code]

With `TF_ENABLE_WINOGRAD_NONFUSED=1`, tensorflow always chooses the same algorithm as pytorch. But the log shows that tensorflow sometimes calls cudnn with **irregular input shapes and paddings when stride=2**.

[2017-04-20 09:23] ddegraw opened #9329 "Getting Error - Exception: No data provided for "activation_2" Need data for each key in: ['input2', 'aux_input', 'input1']"
I am trying to concatenate auxiliary inputs with a siamese lstm.  I have verified the siamese lstm works fine, but cannot add in the auxiliary inputs.  Pleae see code below.

embedding_layer = Embedding(nb_words, EMBEDDING_DIM, weights=[embedding_matrix], input_length=MAX_SEQUENCE_LENGTH, trainable=False)

shared_lstm = Bidirectional(LSTM(num_lstm))

sequence_1_input = Input(shape=(MAX_SEQUENCE_LE

[2017-04-20 09:39] sandipmgiri commented on #9216
Yes, the actual failure at line number 150 , in function `self._compare(np.inf, np.int32, i4.min, False)`

For little-endian, I tried changing the value in above function :
This test passed on both the platform (x86 and ppc64le) after replacing the `np.inf` with `-np.inf`
now getting same results  i.e. `-2147483648`

@asimshankar , Is there need to take care of ?

[2017-04-20 09:42] YorksonChang commented on #1890
@SanderDalm @HossamAmer12
I have the same question ,too.
I use Bazel build to create a libtensorflow.so
then I add it in the lib path
but it dose not work.

[2017-04-20 09:43] Jeffery4000 opened #9330 "Getting error: Number of tensor does not match the number of lines in metadata"
Even though my metadata.tsv have 100k line but it still show up this message. I have try different amount of tensor and its work fine (eg. 40k, 50k). The problem occurred when the tensor values are roughly more than 70k.
Beside, i try other data set and its work fine for 100k tensor values. Just doubt what makes the problem above happend.
![default](https://cloud.githubusercontent.com/assets/27762

[2017-04-20 09:50] guoying1030 opened #9331 "When I used keras to train a very large model, it was already done, but I found that the outputdim of the all-join layer was wrong, and what should I do? The The Without having to re-train the model #"
When I used keras to train a very large model, it was already done, but I found that the outputdim of the all-join layer was wrong, and what should I do? The The Without having to re-train the model #

[2017-04-20 10:03] ddegraw opened #9332 "Cannot get Conv1D layer to work"
For the life of me, I cannot get Conv1D layer to work.  I am on windoze7 with theano backend and using MKL multithreading.  No issues with other layer types whatsoever.

The error I get is: convx1 = Conv1D(filters=num_filters, kernel_size=sz, padding="valid", activation="relu", strides=1)(embedded_sequences_1)
TypeError: __init__() takes at least 3 arguments (2 given)

Model code as below:
embeddi

[2017-04-20 10:38] lidalei commented on #7389
I am implementing batch k-means. In the update phase, new centers have to be computed according to the points re-assignments. It would make thing easier if there is unsorted_segment_mean.

[2017-04-20 10:51] jacky841102 commented on #7469
Hi @soloice

I also met similar problem as yours while using `slim.batch_norm`, and solved by following

Thanks a lot! However, do you know the reason why we need to use `slim.create_train_op` instead of native `tf.train.GradientDescentOptimizer(0.1).minimize(loss)`?

[2017-04-20 10:54] Androbin commented on #8897
Wait, do you want me to build with the `-DTENSORFLOW_DISABLE_META` flag AND the previous fix or should I revert it?

[2017-04-20 11:11] SubhashKsr commented on #8682
Hi,
@aselle can you educate me more about inception5h. I would like to know why there is a time difference between inceptionV3 and inception5h models(Like why is it not inceptionV5, why is it not listed in the models list [here](https://github.com/tensorflow/models/tree/master/slim), is inceptionV5 retrained on some other models like inceptionV3?).

As @left13 mentioned, even I am able to run the

[2017-04-20 11:18] PhilJd commented on #7389
Hi,
sorry, I've been rather busy in the last weeks. I'm 95% done implementing the CPU Kernels, with a bug remaining. Thanks for reminding me, I'll have a look at it tomorrow!
Cheers,
Phil

[2017-04-20 11:33] PhilJd commented on #7389
For now you could just compute the mean with existing tensorflow functions, e.g.

[code]

[2017-04-20 11:34] ckalas opened #9333 "gpu build not displaying cuda libs loading"
TF 1.1.0-rc1, CUDA 8.0 cuDNN8-0-v5.1, macOS 10.12

I built the  GPU version from source, but when I import tensorflow I don't get the usual loading cuda library messages like I would if I use the prebuilt tensorflow-gpu from pip. That said, it does appear to be using the GPU...

`~/Drive/project/image_keras$ python3 demo.py
Using TensorFlow backend.
Found 2125 images belonging to 2 classes.
Found

[2017-04-20 11:43] lidalei commented on #7389
This is great! Thanks a lot!

[2017-04-20 11:43] anonym24 commented on #8161
but if I didn't install gpu version of tensorflow why this error happens
https://www.tensorflow.org/install/install_linux says we don't require cuda if don't install tensorflow gpu version

[2017-04-20 11:44] anonym24 commented on #8161
anyway I have 8, but it still gives that error

[2017-04-20 12:15] stefdoerr commented on #7855
I would also be very interested in that

[2017-04-20 12:23] fesun opened #9334 "Custom operator can't define list(type)"
hi, I am writing my custom operator, need to pass a list of int tensor into it, according to https://www.tensorflow.org/extend/adding_an_op and https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/io_ops.cc#L59, I wrote the following code:
REGISTER_OP("MyOwnOp").Input("my_variables: dtypes").Attr("dtypes: list(int)")....
and build the code into one shared library, however error

[2017-04-20 12:51] Androbin commented on #8897
This was my first attempt to do the Android build myself.
Either I have done something (???) wrong,
or there is an issue with the flag @andrehentz provided.

[code]

[code]

I can provide further logs as necessary.

[2017-04-20 13:18] WihanB commented on #2682
I was attempting to implement HF optimisation and Saddle Free Newton. These algorithms are doable in a FFN framework. Unfortunately for RNN's as discussed in #5985 it is currently not possible to calculate second order derivatives from DynamicRNN's due to the use of a while loop. The current workaround would be to use StaticRNN. However, the while loop second derivative issue seems to be the major

[2017-04-20 13:49] George35mk commented on #7540
make a video on youtube how to solve the ok , i want to see how you configure that environmental variable, thnx from george

[2017-04-20 13:51] George35mk commented on #7540
ebonat i wait for your video the tensorflow community need you

[2017-04-20 13:51] HossamAmer12 commented on #1890
This is a simple Neural Network I created using C++ Tensorflow. I also created a makefile for compiling the source code via (g++); I think that this makefile will be helpful for you to understand how to build the code.
[simpleNetwork.zip](https://github.com/tensorflow/tensorflow/files/943262/simpleNetwork.zip)

Best of luck and let me know if you have more questions!

PS: I extended the following

[2017-04-20 13:51] vprusso opened #9336 "tflearn Incorrect Comment"
In the tflearn quick start guide here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/get_started/tflearn.md

Below the section "Describe the training input pipeline {#train-input}"

The first snippet:

[code]

Should be

[code]
where

[code]
In the overall listing at the top of this file, it appears to have the correct comment. It's just here in this section where the co

[2017-04-20 14:04] gusuperstar opened #9337 "wide_n_deep meets kint32max bug."
I am trying to run a wide_n_deep model on a large dataset ------ I copy and paste adult.data 100 times as training data(adult.data.new 3256200 lines), and take adult.test as test data.

with command:
python wide_n_deep_tutorial.py --model_type=wide_n_deep --train_data=data/adult.data.new --test_data=data/adult.test

When I run the same model on original set of this, i.e. ~ 32562 set, the model run

[2017-04-20 14:09] ebonat commented on #7540
hi george,

i'll do that!

Thanks

Ernest Bonat, Ph.D.
Senior Software Engineer
Senior Data Scientist

[2017-04-20 14:11] alextp commented on #9150
Maybe supporting both is a good idea, depends on what do you want to use
this for.

On Wed, Apr 19, 2017 at 5:05 PM, Anthony Platanios <notifications@github.com

--
 - Alex

[2017-04-20 14:12] Carmezim commented on #7540
@mrry do you know when #9279 will be updated?

[2017-04-20 14:19] tfboyd commented on #9322
When it comes to 5% difference if you are not doing 10 plus tests (stop and start the process) and then on multiple machines it could easily just be an anomaly.  Also don't just look at every 10, you need to average it all together correctly.  Not doubting the 5% and it could be real but I have been excited about perf improvements and they were just luck of the machine.  I have also noticed that i

[2017-04-20 14:28] tfboyd commented on #9322
If you are doing actual research, I would increase the batch-size (PyTorch as well) unless you think it will harm accuracy.  I did not check memory usage but if you want to train as fast as possible that is sometimes overlooked.

Here are also some other flags we use in the benchmarks.  They did not seem to have an impact on K80 but I did not extensively.

  config = tf.ConfigProto()
  config.allo

[2017-04-20 14:34] cancan101 commented on #9322
I posted an issue before about TF logging the conv algorithm in use (pytorch has an option for this): https://github.com/tensorflow/tensorflow/issues/8941

This probably isn't a huge issues, but one issues is that TF will have to transpose the weights on each forward / backward pass: https://github.com/tensorflow/tensorflow/issues/8287 (and https://github.com/tensorflow/tensorflow/issues/7187#issu

[2017-04-20 14:40] kratzert commented on #7951
In the last release notes I see that you have added a new RecordInput class, which seems to be the new class intended to use as input provider? Unfortunately the documentation is still lacking further explanations. I can only find some basic infos in the C++ API docs.
Would be really interested to read something for the Python API + some example code. If you need any help, feel free to contact me

[2017-04-20 14:44] mrry commented on #7540
@Carmezim I thought it would be updated by now, but I'm honestly not sure how and when the website gets built these days. I'd guess it would be no later than the 1.1 release, but I'd hope it could be sooner....

@wolffg Do you know when the doc changes in #9279 (applied to the r1.1 branch) will be visible to website visitors? Should we backport them to the master or r1.0 branches as well?

[2017-04-20 14:44] tfboyd commented on #9322
@cancan101  Thank you Alex those are some items I can ask about and thank you for linking them in one chunk.  I would 100% build TF 1.1 (not the branch just build from master) from source.  I have not gone back to see when the algorithm picking (if that is what closed the gap) got better but my guess is toward the end of March.  That is a wild guess based on not understanding the code I am reading

[2017-04-20 14:54] cancan101 commented on #9322
I would also add that the following env var don't seem documented:
* `TF_AUTOTUNE_THRESHOLD`
* `TF_ENABLE_WINOGRAD_NONFUSED`
* `TF_CUDNN_WORKSPACE_LIMIT_IN_MB`

[2017-04-20 14:55] taion commented on #9322
@tfboyd

Sorry about that progress bar. It works a lot better in actual use when we're not logging out timings after every batch. 😛

I'm working on using a modified version of the data pipeline from the tutorial (modified to use 32x32 and NCHW) to get a more apples-to-apples comparison. Though, is `feed_dict` expected to be slower even if GPU utilization is in the 95%-100% range?

I'll take a look

[2017-04-20 15:01] albertz commented on #3945
Just wondering about the state here. Broadcasting in `tf.where` would really be useful.

[2017-04-20 15:01] martinwicke commented on #8926
Stale tags. Fixed now.

[2017-04-20 15:06] Carmezim commented on #7540
@mrry I got it. I tried to help @George35mk up there also but he's still having problems apparently and I'd be just repeating myself, perhaps it wasn't clear but you might have a better way to clarify his doubts.
It'll be handy when the docs get updated due the usually time consuming help for this just becoming simply pointing the user to the docs.

[2017-04-20 15:13] tiagmoraismorgado opened #9338 "ideas - feature request"
**idea1**

feeding wavenet implementation in tensorflow simulatenous with the following things to do advanced music gestural recognition:

- elastic fusion dense slam
- audio data + audio advanced gestural recognition spectral classifiers

**plus:**
doing training in real time

**idea2**

implementing the following artificial intelligence model in tensorflow:

- deep convolutional recursive swarm

[2017-04-20 15:13] tfboyd commented on #9322
@taion   I thought your progress bars were cool, they are kind of fun when logging that often.  It was  1am when I ran it and my terminal was like a black and white explosion of moving stuff.  My first thought was that my scripts need to be much cooler.

Yeah that TensorBoard thing got me as well.  I don't want to talk about it.  :-)

Apologies again.  When I said apples-to-apples, I meant in the

[2017-04-20 15:20] taion commented on #9322
The queue-based data loading from the tutorial appears to be comparable to what I had before with `feed_dict`.

Using the same setup as above (TF 1.0.1 from the Docker image on a p2.xlarge).

Queue (https://github.com/4Catalyzer/dl-papers/tree/benchmark-queue):
[code]

`feed_dict` (https://github.com/4Catalyzer/dl-papers/tree/benchmark-feed-data-only):
[code]

This doesn't say anything on TF v PyT

[2017-04-20 15:20] George35mk commented on #7540
Carmezim I understand you I run with ``` "TF_CPP_MIN_LOG_LEVEL"] = "2" ``` but is good to have no errors if the eboanat make video or some small tutorial how is set that ENV variable with that pydev is gonna be nice I am 2 weeks only with python and I don't know so much the python tricks

[2017-04-20 15:21] mrry commented on #7540
@Carmezim You've been extremely helpful, thanks! In terms of the log messages, I think we've been surprised by how surprised people by them (perhaps as a result of TensorFlow originally being designed as server software for Linux, where verbose logging is not so unusual).

We're trying to figure out a way to make these messages less worrisome and more actionable, but in the meantime having it in t

[2017-04-20 15:25] George35mk commented on #7540
@Carmezim, ye thank you very much for your help

[2017-04-20 15:28] taion commented on #9322
Turns out I don't need to re-build TF after all. In fact it looks like all I need to do is to set `TF_ENABLE_WINOGRAD_NONFUSED=1`.

I get comparable numbers to what you report above when using the 1.0.1 Docker image, and when installing 1.1.0rc2 from pip.

Against https://github.com/4Catalyzer/dl-papers/tree/benchmark-queue as above:

[code]

I can see the comment in the source code regarding test

[2017-04-20 15:33] isaacgerg commented on #3971
@marimarimarimari I dont think this will work because update_op does the accumalation step and there's no way to get that into the metrics function in keras because y_pred and y_true are not given to you before execution.

[2017-04-20 15:34] Carmezim commented on #7540
@mrry I am also surprised myself for the response to the logs. Users familiarity with this kind of behavior has unexpectedly been oscillating a lot.

Thanks for the TF team efforts to make it a better experience for all :)

[2017-04-20 15:37] cancan101 commented on #9322
@tfboyd is there an open ticket tracking the progress on (ie making this work):

[2017-04-20 15:37] drpngx commented on #9338
These are fantastic ideas! For now, I would recommend implementing on your own github repo.

[2017-04-20 15:37] #9338 closed

[2017-04-20 15:38] drpngx commented on #9336
Thanks! Please send a PR to correct this.

[2017-04-20 15:41] drpngx commented on #9334
We don't support lists as inputs. You can use sparse tensors.

[2017-04-20 15:41] #9334 closed

[2017-04-20 15:42] drpngx commented on #9332
Sorry, this is the tensorflow site, which is not theano. Please find the appropriate channels on their web site. I would suggest stackoverflow.

[2017-04-20 15:42] #9332 closed

[2017-04-20 15:45] drpngx commented on #9330
It is probably and end of line missing.

This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-20 15:45] #9330 closed

[2017-04-20 15:48] drpngx commented on #9328
It could be wrong even on your own machine, just going undetected. Could you run a version with more instrumentation? Maybe a debug version with asan? Or maybe valgrind on the last step?

/CC @yifeif

[2017-04-20 15:53] drpngx commented on #9326
Your problem is that the file is an auto-generated file and you failed to generate it during the build. Please try either install from binary or follow the "Install From Source" instructions carefully.

[2017-04-20 15:56] drpngx commented on #9324
We don't support centos below 7, so support here will be best effort.

It looks like it cannot find the compiler. Did you check that it exists?

[2017-04-20 15:57] drpngx commented on #9302
Yes, plesae install the rest of the DLLs.

[2017-04-20 16:00] ebonat commented on #7540
Yes, thanks to the TF team, so we can run TF in Windows too! I have found out already that the CPU release runs very slow. How can I get a good laptop (Windows or Mac) with a good GPU card and how much?

[2017-04-20 16:02] helpimalive commented on #9302
Do you know where I can download?
They didn't seem to come with the CUDA package.

On Thu, Apr 20, 2017 at 8:58 AM, drpngx <notifications@github.com> wrote:

[2017-04-20 16:06] drpngx commented on #9302
Please follow the resolution there.

https://github.com/tensorflow/tensorflow/issues/5968

[2017-04-20 16:06] #9302 closed

[2017-04-20 16:14] andrehentz commented on #8897
The following should work:
`bazel build -c opt --copt="-DTENSORFLOW_DISABLE_META" //tensorflow/contrib/android:libtensorflow_inference.so --config=android_arm`

But if you are OK waiting, we should have a fix for quantization in the nightly by the end of next week. I'm not sure it will fix this particular problem you are experiencing, though.

Meanwhile, could you perhaps provide steps for reprodu

[2017-04-20 16:24] andrehentz commented on #9301
@kwotsin

The "official" way to quantize a graph is described [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/README.md#eight-bit-calculations), but I'm in the process of updating it slightly. In any case, I think the problem you are encountering is unrelated to the actual quantization steps.

My theory is that a different code path is triggered on a J

[2017-04-20 16:24] Androbin commented on #8897
@andrehentz
Thanks, this should work now.
Happy to hear about a fix in sight.

In my particular case, I didn't use a prepared model but a custom one in the scope of a research project.
I can provide the structure of the graph, if this was helpful.
Anyway, currently any graph transform containing a `merge_duplicate_nodes` e.g. `quantize_nodes` causes this issue with my model.

[2017-04-20 16:28] cancan101 opened #9339 "Enable Fused Winograd by Default"
Right now [fused Winograd](https://github.com/tensorflow/tensorflow/pull/4901) is [disabled by default](https://github.com/tensorflow/tensorflow/blob/e69f71759adac4a794d5b159358af5253cb243bf/tensorflow/stream_executor/cuda/cuda_dnn.cc#L1970-L1976). This is even though enabling this speeds up models considerable in the 3x3 case (see https://github.com/tensorflow/tensorflow/issues/9322#issuecomment-

[2017-04-20 16:30] taion commented on #7951
I ended up doing some benchmarking for other reasons, and observed comparable performance between `feed_dict` and using queues: https://github.com/tensorflow/tensorflow/issues/9322#issuecomment-295775991

[2017-04-20 16:32] drpngx commented on #9337
Basically, graph is too big. This is not a bug in tensorflow itself, I would suggest you ask on stackoverflow for ways to reduce the graph size.

[code]

[2017-04-20 16:32] #9337 closed

[2017-04-20 16:33] drpngx commented on #9333
Yes, the warnings are OK. If you want to see where the operators are placed, use `log_device_placement`.

[2017-04-20 16:33] #9333 closed

[2017-04-20 16:34] drpngx commented on #9331
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-20 16:34] #9331 closed

[2017-04-20 16:35] drpngx commented on #9329
This looks like theano. Please go ahead and use the theano support channels for that.

[2017-04-20 16:35] #9329 closed

[2017-04-20 16:41] drpngx commented on #9325
There is no `tf.python`, by design. Neither is there tools, include, etc. You can use `dir(tf)` to find out the contents of the package that you can use.

`tensor_shape` is currently only for internal use. We are recommending for people to use the C++ API.

[2017-04-20 16:41] #9325 closed

[2017-04-20 16:42] drpngx commented on #9321
Stackoverflow is the appropriate place to ask. This channel is reserved for bugs and feature requests.

[2017-04-20 16:42] #9321 closed

[2017-04-20 16:43] anfeng commented on #2916
We created a PR #8943 to enable RDMA based distributed training on TensorFlow about 2 weeks ago. This PR was merged into master yesterday with help from TensorFlow team.

Please give it a try. We welcome your feedbacks.

[2017-04-20 16:44] drpngx commented on #9339
@tfboyd it might be good to see internally whether we want to accelerate this.

[2017-04-20 16:55] nikolai3d commented on #2412
@mrry @asimshankar : What would be the steps to build and link to TF as a static C++ library then? Or would that not be a feasible task outside of `bazel` build environment?

[2017-04-20 16:59] asimshankar commented on #2412
@skye is looking into a distribution for the C++ library (i.e., library + all required header files).
However, you can build from source for now yourself with the `//tensorflow:libtensorflow_cc.so` target.

If you need a static library, we're currently blocked on https://github.com/bazelbuild/bazel/issues/1920

[2017-04-20 16:59] mvpel commented on #7257
For example, the glibc library is designed to work anywhere, and has mechanisms to detect the availability of advanced instruction sets and use the proper functions to take advantage of them when they're available, and fall back if they're not. It's not necessary to support a separate binary for every possible processor capability.

Intel Performance Primitives: https://software.intel.com/en-us/ar

[2017-04-20 17:25] yaroslavvb commented on #7951
Feed dict overhead is essentially the cost of doing an extra memcpy (Python->TensorFlow CPU->TensorFlow GPU) vs. using native ops like queues which do (TensorFlow CPU->TensorFlow GPU). So if this memcpy is small, there should be negligible.

[2017-04-20 17:25] nikolai3d commented on #2412
@asimshankar
So,
`//tensorflow:libtensorflow_cc.so` is a C++ API
And `//tensorflow:libtensorflow.so` is a C API

Correct?

[2017-04-20 17:34] asimshankar commented on #2412
@nikolai3d : Correct.

[2017-04-20 17:36] ppwwyyxx commented on #8941
It is logged with TF_CPP_MIN_VLOG_LEVEL=1. (code)[https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/conv_ops_gpu.h#L221)

[2017-04-20 17:36] StefanoD opened #9341 "Tensorflow looks for wrong libcupti.so version"
- OS: Ubuntu 16.04
- *TensorFlow installed from: source
- *TensorFlow version*: 1.1.0-rc2
- *Bazel version (if compiling from source)*: 0.4.5
- *CUDA/cuDNN version*: 8.0/6.0
- *GPU Model and Memory*: NVIDIA GTX 1060, 6 GB RAM
- *Exact command to reproduce*:
------------------------
MNIST examples works fine, bute MNIST example with summaries crashes with:

[code]

source code:
https://github.com/t

[2017-04-20 17:45] andrehentz commented on #8897
I'd be curious to know which nodes are removed when you run transform_graph with
  `--transforms='merge_duplicate_nodes'`
from reading the code I understand only nodes that have the same op, inputs and attributes (by the way of a hash function) are removed.

[2017-04-20 17:49] Androbin commented on #8897
@andrehentz
I will inspect this and list anything unusual here!

[2017-04-20 17:50] taion commented on #7951
That makes sense, and it's what I was assuming.

I think that makes the advice against `feed_dict` a bit overblown, though – really the issue seems more like inefficient data feeding that starves the GPUs, rather than the use of `feed_dict` itself.

[2017-04-20 17:59] drpngx commented on #9341
It looks for `DSO_CUDA_VERSION` which is the one you built it for.

[2017-04-20 18:01] civilman628 commented on #2807
I have same issue on Inception V3.

[2017-04-20 18:01] ppwwyyxx commented on #9322
@tfboyd Currently I don't have other machines to test on, but I ran both several times. TF is always within 5% slower. It's 1.94it/s for TF and around 1.99it/s for pytorch (without extra arguments to change the widen factor, etc). Before enabling the NONFUSED algorithm (cudnn algo No.7, as you can see in the log), TF is about 1.25it/s.
I'm using Tesla M40, E5-2680v3, tensorflow nightly downloaded

[2017-04-20 18:14] tfboyd commented on #9322
@ppwwyyxx that is good data.  I am not super worried about 5% although I would like to close the gap.
 I will try to followup on this and get a bunch of the items mentioned above documented.

[2017-04-20 18:38] taion commented on #9322
I'd like to highlight that I think the biggest gap here is in DX. We started migrating from Theano to TensorFlow earlier this year. This is partly my frustration speaking, but the process looked something like this:

1. Write naive model implementations, which end up using NHWC and unfused batch norm.
2. See documentation that suggests NCHW is faster for convolutions (this predates the perf guide)

[2017-04-20 18:42] anonym24 opened #9343 "Android Demo app & Yolo 2 - OutOfMemoryError"
I have successfully run Android Demo with Tiny Yolo (_graph-tiny-yolo-voc.pb_ - 60mb),:

[code]

I also decided to try Yolo 2 (_graph-yolo-voc.pb_ - 193mb),
but I get _OutOfMemoryError_ when I run _TF Detect_
My phone has 3 GB of RAM
But I know that is just android java limit and has nothing to do with current available/free memory
and we can use NDK to bypass this limit.

I also tried to run with

[2017-04-20 18:42] Androbin commented on #8897
@andrehentz
Meanwhile, which ABI does `--config=android_arm` resolve to?

[2017-04-20 18:43] StefanoD commented on #9341
Yes, I build it for CUDA 8.0. CUDA 8.0 is available for Ubuntu 16.04, but libcupti-dev is only available in version 7.5 for Ubuntu 16.04.

Do I have to install libcupti-dev 8.0 somehow?

[2017-04-20 18:47] andrehentz commented on #8897
armeabi-v7a (but I think any of the ones you mentioned should be fine)

[2017-04-20 18:56] BarzinM commented on #7089
@abred and @lemairecarl , Here is what worked for me. I used one variable with two writers:
[code]
![image](https://cloud.githubusercontent.com/assets/5580724/25247459/d9c36764-25d8-11e7-90ba-3775a84ab079.png)

[2017-04-20 19:15] zo7 commented on #8242
Just ran into this issue myself, but I feel like the bigger issue is that using `tf.identity` to name tensors is bad practice, and there should be some other way of re-naming important tensors that you want to be able to fetch easily later on. (especially when you're using a library to help build layers and don't have control of your tensor names when they're created)

Also I'd imagine that using

[2017-04-20 19:28] tfboyd commented on #9322
I feel your pain.

On the plus side TF 1.1 gives you very similar performance of the "secret flag" that I should not have shared.  One step at a time.  I do not want to argue your points as I do understand the frustration.  On the feed_dict issue, even if it was not helpful to remove in this instance it is not normally a good practice for scaling.  Thank you for the feedback.  I consider this item

[2017-04-20 19:28] #9322 closed

[2017-04-20 19:30] cancan101 commented on #8941
In that case I will close.

[2017-04-20 19:30] #8941 closed

[2017-04-20 19:51] drpngx commented on #9343
@andrewharp in case there is an easy answer. The graph doesn't seem that big.

This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-20 19:51] #9343 closed

[2017-04-20 19:59] drpngx commented on #9341
@yifeif @jart we set the `DSO_CUDA_VERSION` from the CUDA lib, but apparently the profiler tools can have a different version. (the `DSO_CUDA_VERSION` is used to load both cuda lib and cupti). Since ubuntu 16.04 is the primary version for us, it should work out of the box. Should we `configure` to split the versions?

[2017-04-20 20:21] ckalas commented on #9333
Okay, but why wouldn't I get the output of the CUDA libraries?

[2017-04-20 20:30] taion commented on #9322
@tfboyd

Can you double-check the timings you got against `master` without `TF_ENABLE_WINOGRAD_NONFUSED=1`?

I just built TF by hand against master, with compute 3.7 and all the CPU stuff enabled, and without setting `TF_ENABLE_WINOGRAD_NONFUSED=1`, I still see:
[code]

With `TF_ENABLE_WINOGRAD_NONFUSED=1`, I see as expected:
[code]

Naively this makes sense to me. The non-fused Winograd operation

[2017-04-20 20:33] tfboyd commented on #9322
yeah I will.  It was late at night and it is possible I exported the variable and did not clean it.  I will include the sha-hash as well.

[2017-04-20 20:37] drpngx commented on #9333
Not sure. Did you set `tf.logging.set_verbosity_level(tf.logging.INFO)`?

[2017-04-20 20:42] #9136 closed

[2017-04-20 20:44] anselal commented on #8500
Installing the latest nightly "tensorflow_gpu-1.1.0rc2-cp35-cp35m-win_amd64.whl" seems to fixe those errors but running the same code as @rringham I get:

2017-04-20 23:40:48.766978: W c:\tf_jenkins\home\workspace\nightly-win\device\gp
u\os\windows\tensorflow\core\platform\cpu_feature_guard.cc:45] The TensorFlow li
brary wasn't compiled to use SSE instructions, but these are available on your m
ac

[2017-04-20 21:17] Carmezim commented on #8500
@anselal
http://stackoverflow.com/questions/43134753/tensorflow-wasnt-compiled-to-use-sse-etc-instructions-but-these-are-availab
http://stackoverflow.com/questions/43335531/how-to-use-sse4-1-instructions-without-install-tensorflow-from-source

[2017-04-20 22:07] jdpigeon commented on #5857
Deleting half complete download + restarting container worked for me

[2017-04-20 22:20] xcyan opened #9347 "[Feature request] Add conv3d/conv3d_transpose wrapper to slim"
Please go to Stack Overflow for help and support. http://stackoverflow.com/questions/tagged/tensorflow
If you open a GitHub issue, here is our policy:

1. It must be a bug or feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g. fixing bugs and adding feat

[2017-04-20 22:42] andrewharp commented on #6385
To update on this, a prebuilt TensorFlow AAR is now provided at https://ci.tensorflow.org/view/Nightly/job/nightly-android/lastSuccessfulBuild/artifact/out/tensorflow.aar

This contains tensorflow_inference_java.jar and tensorflow_inference.so native libs for armeabi-v7a, arm64-v8a, x86, and x86_64.

This means to integrate TF into your app built with Gradle, you can simply download the file to e.

[2017-04-20 22:57] andrewharp commented on #9343
@anonym24
193mb is bigger than anything I've ever run on Android :)  I'd suggest trying to [quantize](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/README.md#eight-bit-calculations) the graph to bring the size down as much as possible as a first step.

Can you provide the relevant logcat section? Is this just while the file is being read to the buffer or du

[2017-04-20 23:01] bhairavmehta95 commented on #9202
@rmlarsen @agarwal-ashish @asimshankar

I was hoping to essentially redo the Eigen square root function. But, I had a quick question as a newer contributor:
Should the PR only be made when the function is fully supported in all C, C++, and Python?

[2017-04-20 23:10] andrewharp commented on #9343
@anonym24 Also, we used to have a [native codepath](https://github.com/tensorflow/tensorflow/blob/r1.0/tensorflow/contrib/android/jni/jni_utils.cc) for loading graphs, but simplified to use Java when we switched to the Java API.

You could try resurrecting it, and if it resolves your issue then we can consider re-adding it as an augmentation/replacement to the default codepath.

@asimshankar If yo

[2017-04-21 00:42] fesun commented on #9334
@drpngx I am confused, you mean custom operator doesn't support lists as inputs? Kernel SaveV2 operator uses lists tensor as input:

    .Input("prefix: string")
    .Input("tensor_names: string")
    .Input("shape_and_slices: string")
    .Input("tensors: dtypes")
    .Attr("dtypes: list(type)")

If custom operator doesn't support this, could you guys change the document of https://www.tensorflow

[2017-04-21 00:48] drpngx commented on #9334
Did you mean a list of valid types or a list type? If it's the list of types, you have to enumerate them. If it's a list, it won't work, you have to use sparse tensors for now.

[2017-04-21 01:28] andrewharp commented on #7464
Closing as fixed; please reply with your device model/Android version/supportedHardwareLevel if you continue to experience any similar issues.

[2017-04-21 01:28] #7464 closed

[2017-04-21 02:11] mortada commented on #217
I'd like to +1 migrating to the standard 4-space indentation. I've seen quite a few places in the tensorflow codebase with a mix of 2-space and 4-space indentations in the same file. This is really not great.

Also like to +1 the comment above to extend the 80char limit

[2017-04-21 02:15] tfboyd commented on #9322
@taion  Hey, I want to do a short write up for tensorflow-discuss covering your model and the flags we used to improve performance.  I know you are frustrated by the churn and I want to provide others with these tips so they can get improved performance while we continue to bring the feature into the core.  I did not want to reference your Github without your permission, I would like to reference

[2017-04-21 02:38] taion commented on #9322
Thanks again for your help.

Feel free to reference our repo. We'd been meaning to open source some of our paper repros anyway, since there didn't seem to be many TF examples in the wild that supported flexible `data_format` and used fused batch norm.

I personally don't mind churn at all; if anything I'd be quite happy to see e.g. defaults updated so that the fast way and the default way were the

[2017-04-21 02:39] taion commented on #9322
Feel free to me and/or the repo, I mean.

[2017-04-21 02:46] StatML commented on #8078
I have the same problem with Ubuntu 16.04 + CUDA 8.0

[2017-04-21 02:57] soloice commented on #7469
@jacky841102  I don't know yet. I haven't checked source code in module `slim`.

[2017-04-21 03:05] tfboyd commented on #9322
Cool and thank you.

[2017-04-21 03:38] fesun commented on #9334
@drpngx  I mean a list of types, just like SaveV2.

[2017-04-21 03:50] fesun commented on #9334
`
#include "tensorflow/core/framework/op_kernel.h"
#include "tensorflow/core/framework/tensor.h"
#include "tensorflow/core/framework/tensor_shape.h"
#include "tensorflow/core/framework/types.h"
#include "tensorflow/core/lib/core/errors.h"
#include "tensorflow/core/platform/cpu_info.h"
#include "tensorflow/core/framework/op.h"
#include "tensorflow/core/framework/shape_inference.h"
#include "tensorf

[2017-04-21 04:41] samjabrahams commented on #8817
@awav - correct me if I'm missing something, but is the goal to simply not update Variables that aren't used due to a conditional? TensorFlow already zeros out these gradients. Here's some sample code:

[code]

If you adjust the `{switch: True}` dict to be set to false, you'll see that the gradient values will flip depending on which path is taken.

When ` {switch: True}`:

[code]

When ` {switch:

[2017-04-21 04:46] feiga commented on #9303
PR, https://github.com/tensorflow/tensorflow/pull/9327

[2017-04-21 05:10] fesun commented on #9334
@drpngx changing Attr("dtypes: list(int)") to Attr("dtypes: list(type)") works, but I don't know why.
The "Adding new op" page said that:

`list(<type>): A list of <type>, where <type> is one of the above types. Note that list(list(<type>)) is invalid.`
list(int) should work, if not, the official document is wrong.

[2017-04-21 05:52] jmchen-g commented on #9347
Sergio, any plans to support this in Slim? Thanks.

[2017-04-21 05:52] anselal commented on #8500
@Carmezim thank you for the hint !! :+1:

[2017-04-21 06:10] Jeffery4000 commented on #9321
@drpngx Hi, i has been asking around stackoverflow but no one can answer that question. Its either a 'yes' or 'no' question.

[2017-04-21 06:15] VRSManan opened #9354 "Error: tensorflow/core/framework/resource_handle.pb.h file not found"
I have followed following instructions from this link: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile

- Before you start (All Platforms)
- Building on iOS
- Copy files from inception to data folders in benchmark, simple and camera project.
- Building by hand. (error in terminal: failed with exit code 1) in both compile_ios_protobuf and run make file.

- download_

[2017-04-21 06:16] kris-singh commented on #7868
Can you clarify the create_tuner(study_configuration, objective_key) function. Does it create tuner object? What are the study_configuration, objective_key. I saw the Tuner class which is just an abstract class with a default constructor so where are these parameters used.

[2017-04-21 06:47] anonym24 commented on #9343
@andrewharp here's an error code:

[code]
my normal free memory (1.0-1.4 gb):

![screenshot_2017-04-21-09-42-38-371_com miui home](https://cloud.githubusercontent.com/assets/8851301/25265837/8886bd48-2677-11e7-99df-d1e3261e6cbd.png)

[2017-04-21 07:07] anonym24 commented on #9343
@andrewharp

I get an error:

[code]

[2017-04-21 07:20] ckalas commented on #9333
"AttributeError: module 'tensorflow.python.platform.tf_logging' has no attribute 'set_verbosity_level'"
I think something is up because the build from source is slower than the pip gpu version...

[2017-04-21 07:49] iramishtiaq opened #9355 "list index out of range"
i am getting these warning while running neuroner

`epoch_elapsed_training_time: 331.644915 seconds
assess_model on dataset_type: train
C:\Users\erame\AppData\Local\Programs\Python\Python35\lib\site-packages\matplotlib\artist.py:233: MatplotlibDeprecationWarning: get_axes has been deprecated in mpl 1.5, please use the
axes property.  A removal date has not been set.
  stacklevel=1)
C:\Users\erame\

[2017-04-21 07:56] hellowangqian commented on #4044
Come across a similar issue when import_graph_def(graph_def, name=""), any solution?

[2017-04-21 08:18] ZhangBowen opened #9356 "decode_image return tensor without shape in python"
### System Information
- *OS Platform and Distribution (i.e. Linux Ubuntu 16.0)*: CentOS Linux release 7.0.1406 (Core)
- *TensorFlow installed from (source or binary)?*: python3 pip
- *TensorFlow version* : v1.0.0-65-g4763edf-dirty 1.0.1
- *Python version* : Python 3.5.2 :: Anaconda custom (64-bit)

### Describe the problem clearly

When I decode a jpeg file to a tensor with decode_jpeg, the code

[2017-04-21 08:20] LucasMahieu commented on #2134
Does this issue is always unsolved ?

[2017-04-21 08:48] avader906 commented on #2916
@anfeng where are the benchmarks?

[2017-04-21 09:23] ajtvsv07 commented on #7980
## **Still facing the same problem**..
i did try the all the above mentioned solution. **Nothing worked for me**..
tried all in **"MacOS 10.12.1"** and using virtual environment ...
i am installing **CPU version of tensorflow**.

[2017-04-21 09:37] abred commented on #7089
ohh, damn. well, now that you're saying it it's kind of obvious, one variable - two writers not two variables - two writers.
thanks ! 👍

[2017-04-21 09:46] morgangiraud opened #9357 "init_op and concurrent.futures freeze forever"
## **System Information:**

OS Platform and Distribution: MAC OSX
TensorFlow installed from: `pip install tensorflow`
TensorFlow version : 1.0.0
Python version : Python 3.6.1

I found a  bug trying to run multiple agent in parallel using python, it boiled down to the code below:
- If i try to init an agent asynchronously after init an agent synchronously, it freezes forever
- if i do it the other

[2017-04-21 10:03] connect2robiul opened #9358 "What is the process for converting my data set to the MINIST data set?"
I have run “[Deep MNIST for Experts  |  TensorFlow](https://www.tensorflow.org/versions/r0.11/tutorials/mnist/beginners/)” this file. I have X_train ; Y_train ; X_text ;Y_text ; Now I want to convert those 4 files into one “mist” variable like link which is MNIST format .

[2017-04-21 10:53] carlthome opened #9359 "Equality operator not overloaded"
It's unexpected and a gotcha that some comparison operators (`>`, `<`, `<=`, `=>`) are overloaded but not all (`==`, `!=`). Is there a particular reason for this? I think either all standard operators should be overloaded, or none at all.

[code]

This is on TensorFlow 1.1.0rc2.

[2017-04-21 11:57] BhagyeshVikani commented on #842
We also added [Deep dream](https://github.com/InFoCusp/tf_cnnvis) to the arsenal:

|   |   |   |   |
| :-----------: | :-----------: | :-----------: | :-----------: |
| <img src="https://bitbucket.org/repo/Lyk4Mq/images/302562334-deep_999.png" width="196" height="196"> | <img src="https://bitbucket.org/repo/Lyk4Mq/images/586427523-deep_9.png" width="196" height="196"> | <img src="https://bitbucket

[2017-04-21 12:06] sandipmgiri opened #9360 "Understanding cast() in tensorflow"
### System Information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04 (ppc64le)
- **TensorFlow installed from (source or binary):**
Installed from source (v1.0.1)
- **TensorFlow version (use command below):**
('v1.0.1-0-ge895d5c-dirty', '1.0.1')
- **Bazel version (if compiling from source)**:
 bazel release 0.4.4-2017-04-10 (@80a07b5)
- **CUDA/cuDNN version:**
In disa

[2017-04-21 12:39] leckie-chn opened #9362 "[Bug report] ValueError: Variable does not exist on tf.layers.dense(reuse=True) after graph switch"
### System Information
- *Have I written custom code (as opposed to using a stock example script provided in TensorFlow)?*: yes
- *OS Platform and Distribution (i.e. Linux Ubuntu 16.0)*: macOS Sierra
- *TensorFlow installed from (source or binary)?*: binary, pip
- *TensorFlow version* (use command below): 1.0.0
- *Bazel version (if compiling from source)*: None
- *CUDA/cuDNN version*: not using GP

[2017-04-21 13:00] tiantianwei opened #9363 "When I use the Bazel to compile the image_retraining project ,the error occurred."
Please go to Stack Overflow for help and support. http://stackoverflow.com/questions/tagged/tensorflow
If you open a GitHub issue, here is our policy:

1. It must be a bug or feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g. fixing bugs and adding feat

[2017-04-21 13:16] kratzert commented on #7951
@yaroslavvb correct me if I'm wrong but this isn't entirely right. Unless you haven't implemented some input pipeline using Pythons Queue library or something similar it will be additionally the time of loading data from disk into memory and eventually preprocess them.

For Images and especially larger batch size, this might take quite a while. Here is where you can really speed things up using TF

[2017-04-21 13:31] Birkoniajack opened #9364 "Error"
Trying to get tensorflow to work for my final bit on dissertation but anytime I try to install it in virtual box ubuntu linux 64bit, I get this error I've tried the CPU/GPU version but I can only seem to get the python3 version working but I need the python2.

I get this error message each time..

 99% |████████████████████████████████| 44.1MB 14.8MB/s eta 0:00:01Exception:
Traceback (most recent

[2017-04-21 13:37] raviqqe commented on #7407
Current workaround is setting `eval_steps` parameter to a concrete integer value but not `None`.
I think it should catch every `OutOfRangeError` because developers usually want to use whole validation/test dataset to get the best distribution.

[2017-04-21 13:42] nikhilweee commented on #566
Adding this just because I get redirected here way too often and still do not find the flag.
Terminal: `export TF_CPP_MIN_LOG_LEVEL = 2`
Python: `tf.logging.set_verbosity(tf.logging.ERROR)`

[2017-04-21 14:20] ManoharKowshik opened #9365 "TensorFlow Retrain Android Error"
I have my own custom created .pb file and string text using TensorFlow Retrain Model
https://www.tensorflow.org/versions/r0.10/how_tos/image_retraining/
Then i have created .so file By building tensorflow
bazel build -c opt //tensorflow/examples/android:tensorflow_demo

When i load both into androidstudio and run the app i get below error

No Operation named [input] in the Graph

[2017-04-21 14:27] carlthome commented on #7951
@kratzert, that's precisely what @taion means by

It's hard to do asynchronous preprocessing well, so most users benefit from `tf.train` doing it for them.

[2017-04-21 14:41] kratzert commented on #7951
Is it? By no means I want to defend TFs input queues, but as I read the post of @yaroslavvb he states that the additional time comes (only) from passing memory between native Python and TF ( + GPU). The only thing I wanted to add is, that if you can't store all your trainings data in memory, also loading memory from disk into memory adds up time to one training cycle. I can't find any of this stat

[2017-04-21 14:42] yxiong opened #9366 "Check in tensorboard_bower_dependency_sync.py file"
Hi TF Developers,

Could you kindly check in the `tensorboard_bower_dependency_sync.py` file to the repo? We need to customize the build process and having that file would be really helpful. Thanks a lot in advance!

Ying

[2017-04-21 14:46] andrewharp commented on #9365
If you switch from Inception-v1 to Inception-v3 you'll also need to update the values in ClassifierActivity according to the comment there. The name of the input node is no longer "input".

[2017-04-21 14:49] andrewharp commented on #9343
You'll need to run configure first before building TF desktop binaries.

On Apr 21, 2017 12:08 AM, "anonym24" <notifications@github.com> wrote:

[2017-04-21 14:53] ManoharKowshik commented on #9365
Yes i very much agree with you. I have made corresponding changes in classifierActivity as well..Like below

private static final int NUM_CLASSES = 1001;
  private static final int INPUT_SIZE = 224;
  private static final int IMAGE_MEAN = 117;
  private static final float IMAGE_STD = 1;
  private static final String INPUT_NAME = "Mul:0";
  private static final String OUTPUT_NAME = "final_result:0"

[2017-04-21 15:00] carlthome commented on #7951
That also applies to `tf.train`. Data doesn't just appear in the graph without reading it from disk, regardless of whether you do it via Python or TensorFlow's execution engine.

Anyway, I find memapped NumPy arrays via [joblib.cache.Memory](https://pythonhosted.org/joblib/memory.html) and feed_dict to be quite performant (GPU load over 90% throughout a training session), despite the extra copy.

[2017-04-21 15:10] kristianmandrup commented on #7859
I got the same error. I thought the `pip3 --upgrade install` would install 1.1 by now?
I tried:

[code]

That looks strange!?

[2017-04-21 15:10] pgplus1628 opened #9367 "[XLA] Ptxas Error when TF_CPP_MIN_VLOG_LEVEL=2"
### System Information
- *Have I written custom code (as opposed to using a stock example script provided in TensorFlow)?*: yes
- *OS Platform and Distribution (i.e. Linux Ubuntu 16.0)*: Linux Ubuntu 14.04
- *TensorFlow installed from (source or binary)?*: source
- *TensorFlow version* (use command below): `('v1.1.0-rc2-219-g623dd83', '1.1.0-rc2')`
- *Bazel version (if compiling from source)*: `0.

[2017-04-21 15:13] kratzert commented on #7951
Ah okay so maybe a misunderstanding. Thought I made myself clearer.

I know that data does not appear magically in memory if I use TF. But TF makes it quite easy to place e.g. image loading + preprocessing explicitly on CPU and graph computation on GPU and both is done in parallel. So while GPU calculates ops on some data, CPU is already loading the next data into memory. And since this is done in

[2017-04-21 15:18] anonym24 commented on #9343
yeah I removed my question, found out

[2017-04-21 15:18] nicaogr commented on #8393
I have a problem when I try to use the bounds argument to the ScipyOptimizerInterface function. I have this error message "TypeError: _minimize_lbfgsb() got multiple values for argument 'bounds'
" with the following code. :

[code]

It seems to be the same kind of problem than on an other conversation : [https://github.com/scipy/scipy/issues/4608](url)
And the solution is to pass bounds as a prima

[2017-04-21 15:20] gyang274 commented on #8369
Ok, I see. Thank you, @shoyer !

[2017-04-21 15:28] pgplus1628 commented on #9367
I guess this error is caused by the code in `tensorflow/tensorflow/compiler/service/gpu/gpu_compier.cc`

[code]

because the ptx generated by xla has the target  of `sm_52`.

[code]

[2017-04-21 15:34] Engineero commented on #9294
For the record, I found [this gist][1] to be helpful. He also has [a blog][2] where he talks about some of the undocumented features of an older version of TensorFlow. You still have to change out `tf.nn.rnn_cell` for `tf.contrib.rnn`, but this helped me get something going.

That said, I am now having an issue where my network is not updating at all. I train it for several epochs and get the exac

[2017-04-21 15:34] renmengye opened #9368 "PreventGradients in SoftmaxCrossEntropyWithLogit ops"
SparseSoftmaxCrossEntropyWithLogits cannot take second order gradients (It's not a beautiful hack, and I am not sure how much computational speed up it will bring).
Adding PreventGradient node in the gradient graph seems to contaminate the computation graph structure, e.g. I am doing custom forward-mode automatic differentiation.
Reference: https://github.com/tensorflow/tensorflow/blob/r1.0/tensor

[2017-04-21 15:49] drpngx commented on #9333
Sorry, it's `set_verbosity`.

[2017-04-21 15:55] drpngx commented on #9321
I would suggest looking at the code.

[2017-04-21 15:58] joshburkart commented on #8393
This is a SciPy thing... Change to
[code]

[2017-04-21 16:01] drpngx commented on #9303
Thanks!

[2017-04-21 16:03] drpngx commented on #9334
The list of types is just used for polymorphism. If you just want to pass a scalar, or tensor, of a single type, you can just use the type, like `tensors: int32`.

[2017-04-21 16:10] jhetherly opened #9369 "Sub-pixel shuffling tensor operation"
Is there interest in integrating a [subpixel shuffling](http://www.cv-foundation.org/openaccess/content_cvpr_2016/papers/Shi_Real-Time_Single_Image_CVPR_2016_paper.pdf) operation as a core operation to Tensorflow? I've implemented such an operation on my [fork](https://github.com/jhetherly/tensorflow/tree/shuffle_op) and I think this could find widespread use. My implementation is a bit more gener

[2017-04-21 16:41] martinwicke commented on #7868
Ah, that's just an example, you don't have to worry about it. The Tuner class is only used in `learn_runner.tune` and you can look at the tiny bit of code that uses it. Basically, you have to implement `Tuner.next_trial()` which asks the tuner to start a new "trial" (an experiment run on specific hyperparameters), and `Tuner.run_experiment`, which takes an experiment_fn with the signature document

[2017-04-21 17:19] alquraishi opened #9370 "Possibly serious bug in cuDNN RNNParamsSaveable"
`RNNParamsSaveable` appears to only save half of the weights when the RNN is bidirectional. See below.

When the RNN is unidirectional, `model.params_size()` matches the total size of weights + biases returned by `model.params_to_canonical(params)`

[code]

On the other hand, when the RNN is bidirectional, `model.params_size()` returns twice the size of the unidirectional case, which makes sense,

[2017-04-21 17:21] asimshankar commented on #9343
@andrewharp : Regarding https://github.com/tensorflow/tensorflow/issues/9343#issuecomment-295959477 - I wonder that instead of doing something like that, should we get the saved model format going on Android and use that instead?

[2017-04-21 17:32] fxsuper commented on #6466
Any updates on this? Not having any dropout support for cuDNN-based RNNs seems really limiting, especially considering how much further ahead PyTorch support is for this. This isn't exactly a new or rarely used feature.

[2017-04-21 17:47] rjpg opened #9371 "load python saved model in java"
Hello,

I have created, trained and saved a tensorflow model using python

`classifier = learn.DNNClassifier(hidden_units=[10, 20, 5], n_classes=5
                                 ,feature_columns=feature_columns
                                 ,model_dir= model_dir
                                 )
`

The model files are in :

`D:\java\workspace\APIJavaSampleCode\tfModels\dnn\MadelSave`

files

[2017-04-21 17:55] rjpg commented on #9371
in java the tf version is 1.1.0-rc1

in python the tf version is (print(tf.__version__) ) :
1.0.1

[2017-04-21 17:57] mrry commented on #9355
None of the packages mentioned in the error message appear to be part of TensorFlow. It would probably be more appropriate to raise this issue on [the NeuroNER repository](https://github.com/Franck-Dernoncourt/NeuroNER).

[2017-04-21 17:57] #9355 closed

[2017-04-21 18:03] #9336 closed

[2017-04-21 18:05] mebersole opened #9372 "TensorBoard does not load in Internet Explorer 11"
### System Information
- *OS Platform and Distribution (i.e. Linux Ubuntu 16.0)*: Server is running on Ubuntu 14.04
- *TensorFlow installed from (source or binary)?*: Docker image
- *TensorFlow version* (use command below): 1.0.1-gpu
- *CUDA/cuDNN version*: CUDA 8 / cuDNN 6
- *GPU Model and Memory*: K520 (AWS g2.2xlarge)
- *Exact command to reproduce*: Launch TensorBoard and load in IE11

### Desc

[2017-04-21 18:11] IFLED commented on #1095
@adler-j you can define op using `tf.py_func` that have additional outputs: derivatives of output with respect to inputs. Next, when you will define gradient of the new op, you can define gradient with respect to inputs it pure TensorFlow (using additional outputs of the new op).

I posted example [here](https://gist.github.com/harpone/3453185b41d8d985356cbe5e57d67342#gistcomment-2070556).

[2017-04-21 18:20] madhupkumar commented on #9071
I got the same error on Ubuntu 16.04.2LTS with GTX1070 GPU driver 375.51. Googled on to this page and realized that the Original poster StefanoD  has the path  /usr/lib/nvidia-375 in LD_LIBRARY_PATH.
Issue fixed after carefully modifying LD_LIBRARY_PATH.

[2017-04-21 18:36] StefanoD commented on #9341
For everyone who has the same issue:

First download the libcupti8.0 debian package and install it:
http://packages.ubuntu.com/yakkety/amd64/libcupti8.0/download

Afterwards download libcupti-dev8.0 debian package in order to install it:
https://ubuntu.pkgs.org/16.10/ubuntu-multiverse-amd64/libcupti-dev_8.0.44-0ubuntu1_amd64.deb.html

This should solve this issue. Of course it would be still bette

[2017-04-21 19:11] RuofanKong opened #9374 "`tensorflow.python.client.device_lib.list_local_devices()` Bug"
I am trying to set up GPU configuration for Tensorflow. The step is very simple - Call `tensorflow.python.client.device_lib.list_local_devices()` to detect the number of gpu devices on the machine, and then set `config` for Tensorflow.  The following is the code for reproducing:

[code]
If you run the above code, you could notice that even though you set GPU memory fraction per process to 0.1, it

[2017-04-21 19:14] NeilGirdhar commented on #3945
No, it's not.  Sometimes, one of `t` and `e` is `nan`, in which case your expression always returns `nan`.

[2017-04-21 19:27] rjpg commented on #9371
I have download the git example model file "saved_model.pb" and it work (load in my java program).

maybe it is because is a binary format ?

I have to see how to set DNNClassifier() to save binary format.. and test..

[2017-04-21 19:34] drpngx commented on #9354
The `resource_handle.pb.h` is generated by the protobuf compiler, `protoc`.

It's either in
`$(MAKEFILE_DIR)/gen/protobuf-host/bin/protoc`
or somewhere on your path.

It should be generated [here](https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/makefile/Makefile#L544).

Please check if they're there, if not why aren't they generated, and if they are there, whether there

[2017-04-21 19:36] helpimalive commented on #9302
I appreciate your help but i'm still not running.
None of the CUDA packages seemed to contain nvcuda.dll so I grabbed the ala carte  dll off a site and dropped it into the same bin as the other referenced dlls, re-added it to PATH and still am receiving the message:
[code]

[2017-04-21 19:40] satok16 commented on #9354
Right, just check the file location after building code.
$ find . -name "*resource_handle*.pb.h"

[2017-04-21 20:05] anonym24 commented on #9343
@andrewharp I know I can build it on linux. I have vmware with ubuntu where I also build .pb files, but don't feel comfortable. How to do it in Windows. I  found https://github.com/tensorflow/tensorflow/tree/r0.12/tensorflow/contrib/cmake
but will `cmake .. -A x64 -DCMAKE_BUILD_TYPE=Release` be equal to `./configure`?

[2017-04-21 20:16] andrewharp commented on #9343
I'm not sure; no harm in running ./configure anyway though. Perhaps you could try the docker solution at the bottom of the readme, as it seems easier?

[2017-04-21 20:18] vyse8 commented on #6385
Hi Andrew,

Thank you very much for the suggestion.  Do you know where the libs folder would be, I'm having difficulty knowing where to drop the folders and if any paths need to change on the build.gradle file. Thanks.

[2017-04-21 20:24] andrewharp commented on #6385
@vyse8 The folder name is arbitrary, it's just relative to the build.gradle file. So for the TF android example you could create a `tensorflow/examples/android/libs` folder and put the aar in there. Then the snippet in my comment above would work to build in TF support.

An additinial step in the case of the TF demo is necessary: you'll want to remove mentions of libtensorflow_inference.so, tensor

[2017-04-21 20:41] vyse8 commented on #6385
Hi Andrew,

Thanks for the quick follow-up.  I created the libs folder as you had suggested and it looks like I might be hitting a different error now.  Any ideas on what might cause this?

ERROR: C:/users/mattv/onedrive/documents/github/tensorflow/tensorflow/contrib/android/BUILD:72:1: error loading package 'tensorflow/core': Encountered error while reading extension file 'protobuf.bzl': no such

[2017-04-21 21:01] andrewharp commented on #9365
If you've updated the code as described I'm not sure what's going on, as the logcat clearly shows that it's looking for a node named "input". Are you sure the APK is actually getting rebuilt properly and pushed to device?

Also you should only have to edit ClassifierActivity.java. Just adding fields to TensorFlowImageClassifier.jaa (if that's what you meant) won't do anything by itself.

[2017-04-21 21:14] andrewharp commented on #6385
@vyse8 It appears you have no dependency remaining on the nativeBuildRule, so I'm not sure why you would be getting this bazel error. Are you sure you didn't change the build.gradle file after you got this error?

Also, if you were building with bazel on Windows, you wouldn't be able to simply change bazel to bash and have it work. You'd need to do something similar to the workaround with the help

[2017-04-21 21:22] rjpg commented on #9371
well this like mission impossible ... it seams like it is impossible to have a model loaded in java after trained in python using tensorflow

I will turn to deeplearning4J ...

[2017-04-21 21:22] #9371 closed

[2017-04-21 21:34] alquraishi commented on #6466
What's actually involved in adding (input) dropout support? Is it just wiring the places in [this file](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cudnn_rnn/kernels/cudnn_rnn_ops.cc#L701) which are marked with `/*dropout*/`?

[2017-04-21 21:37] vyse8 commented on #6385
@andrewharp I completely forgot to include the helper script.  I'm adding bash to my Windows now and will let you know how it looks after that.  I really appreciate the help.  Hoping to learn enough from this example to incorporate into academic work but tensorflow hasn't been too friendly so far ha.

[2017-04-21 21:58] andrewharp commented on #6385
@vyse8 Note that if you're going as far as to install bash for Windows to build libtensorflow_demo.so, then you might as well just build everything with make/Bazel. There's no real advantage to using the AAR file in this case.

Right now, the AAR is a better option if you're incorporating TF into a standalone app (that doesn't require libtensorflow_demo.so like the TF demo does). You can use it in

[2017-04-21 22:04] vyse8 commented on #6385
@andrewharp thanks for the extra info.  My end goal is to leverage this into my standalone app, but I was hoping to learn the connections and calls via the example.  I think I might be confused on a few of the configuration options but I believe that I'm close.  In regards to the copyNativeLibs section of build.gradle, should this be commented out?

task copyNativeLibs(type: Copy) {
    from demoL

[2017-04-21 22:11] andrewharp commented on #6385
@vyse8 You'll need to revert all the edits you made to build.gradle first before applying the edits from my bash for Windows workaround -- it can't find inferenceLibPath for example because you've commented it out.

[2017-04-21 22:24] neale commented on #8310
That would streamline so much of my development process. Deep learning on windows platforms is definitely hamstringed right now. Its more of a hack then a science.

[2017-04-21 22:26] cancan101 commented on #8994
@dandelionmane It looks like TF 1.1 is shipping. Did this get fixed?

[2017-04-21 22:26] cancan101 commented on #9285
@dandelionmane It looks like TF 1.1 is shipping. Did this get fixed?

[2017-04-21 22:28] vyse8 commented on #6385
Good point.  So I think I'm close thanks to your suggestions above.  Android Studio was able to install the apk but throws this error on launch:

04-21 17:18:37.945 3510-3510/org.tensorflow.demo E/AndroidRuntime: FATAL EXCEPTION: main
                                                                   Process: org.tensorflow.demo, PID: 3510

[2017-04-21 23:00] andrewharp commented on #6385
@vyse8 My guess is that you're running on an arm64 device, and since the app finds an arm64 variant of libtensorflow_inference.so (provided by tensorflow.aar) it expects to find the same for libtensorflow_demo.so. In this case you can fix this by changing  cpuType"armeabi-v7a" to "arm64-v8a".

Also note that you appear to now be manually building libtensorflow_inference.so in addition to grabbing

[2017-04-21 23:11] vyse8 commented on #6385
@andrewharp T**hanks again.  I went ahead and made the following changes to my build.gradle file(commented out the lib references and changed cpuType):**

def cpuType = 'arm64-v8a'

// Output directory in the local directory for packaging into the APK.
def nativeOutDir = 'libs/' + cpuType

// Default to building with Bazel and override with make if requested.
def nativeBuildRule = 'buildNativeBaze

[2017-04-21 23:19] andrewharp commented on #6385
@vyse8 You don't need the jar if you're using the aar (nor do you need to refer to the tensorflow/contrib/android or tensorflow/java directories from gradle.build). The aar contains the jar + libtensorflow_inference.so.

You're building with make, so you definitely do not want to comment out the make demoLibPath. Otherwise Gradle won't be able to find libtensorflow_demo.so to place in the APK once

[2017-04-21 23:28] beastbrother opened #9375 "Bug in the situation of multiple ps servers, NotFoundError"
I have 2 ps servers and 3 worker servers (Ubuntu14.04, Python 3.5.3 and Tensorflow 1.0.1 with virtualenv). I am trying the demo based on https://www.tensorflow.org/deploy/distributed.

I got NotFoundError errors when I use 2 ps servers. (It can run well when I use 1 ps server. And It can run well with 2 ps server, when I use "save_checkpoint_secs=None" in MonitoredTrainingSession().)

------------

[2017-04-21 23:46] vyse8 commented on #6385
@andrewharp Thanks.  Okay so I added the demoLibPath references back in but the same error of Unsatisfied Link Error seen above is still occurring.  I'm thinking my file structure is the culprit since it can't find the SO files.  Is this appropriate?

My aar file is located in C:\Users\mattv\OneDrive\Documents\GitHub\tensorflow\tensorflow\examples\android\libs

Within Android Studio, I don't see m

[2017-04-21 23:47] helpimalive commented on #9302
Solved it. I believe it hints at my original issue: something somewhere in the process made TF look for GPU components despite my not having a GPU.
I uninstalled everything (python, tensorflow, dumped the cached files in the pip bin) then got a nightly build of TF from Jenkins, reinstalled Python, deleted my VS17 (because the pywrap requries the15 build) and got a successful load.
Thank you again

[2017-04-21 23:58] beastbrother commented on #9375
OK, I use nfs fix this problem. As below, node0 is my worker server 0 (master).

   with tf.train.MonitoredTrainingSession(master=server.target,
                                           is_chief=(FLAGS.task_index == 0),
                                           checkpoint_dir="/home/node0_nfs_share",
                                           hooks=hooks) as mon_sess:

But I also think this is

[2017-04-22 00:16] andrewharp commented on #6385
@vyse8 What are the contents of the apk as seen with unzip -v?

I'm not sure why you'd have an aar in jnilibs unless you put it there yourself (and you probably shouldn't).

All you should need to do is change cpuType to "armeabi-v7a". The code is already set up to composite the directory name correctly for you.

[2017-04-22 00:37] vyse8 commented on #6385
@andrewharp From what I can tell it looks like anything that is placed in my libs folder gets moved to jnilibs. I believe this occurs because of the following lines in build.gradle

manifest.srcFile 'AndroidManifest.xml'
            resources.srcDirs = ['src']
            aidl.srcDirs = ['src']
            renderscript.srcDirs = ['src']
            res.srcDirs = ['res']
            assets.srcDirs

[2017-04-22 00:41] andrewharp commented on #6385
@vyse8 In your situation I'd suggest just ignoring that the AAR even exists and following only the instructions in the [original workaround](https://github.com/tensorflow/tensorflow/issues/6385#issuecomment-285208600). It's hard to tell what's going on if we don't even know what's in the APK (again, you can find out with unzip -v).

[2017-04-22 00:56] vyse8 commented on #6385
@andrewharp my apologies, I was unfamiliar with unzip so I equated it to Analyze APK, I see now that it provides a better output.  Here it is:

 Length   Method    Size  Cmpr    Date    Time   CRC-32   Name
--------  ------  ------- ---- ---------- ----- --------  ----
    4148  Defl:N     1184  72% 1980-00-00 00:00 745f1818  AndroidManifest.xml
     773  Defl:N      604  22% 1980-00-00 00:00 1dec

[2017-04-22 01:06] andrewharp commented on #6385
Ok, if you really want to use the AAR try a directory different than libs/ (it could be "foobarbaz" as long as you update the dirs directive). "libs/" may be conflicting with where gradle expects to find the native libs.

You might also try the [this option](https://github.com/tensorflow/tensorflow/issues/6385#issuecomment-282973536) for manually placing the prebuilts in the right place.

We'll ha

[2017-04-22 01:17] DjangoPeng commented on #9328
It's not only an unique case, but also happened in other ubuntu 14.04 in physical machine with TensorFlow v1.0, but it has different error log`Error in `python': double free or corruption (!prev): 0x00000000016b43c0`.

[2017-04-22 02:16] vyse8 commented on #6385
@andrewharp thanks for your assistance. Now that I scroll up I realize I hit the same issue that ramarajan09 had 22 days ago prior to the AAR.  It looks like we both got the same exact error message so I'm not sure what is causing that for us.  From further analysis of the apk it looks like dragging it to an arbitrary created libs folder doesn't signal to the APK to include it in the build.  Do yo

[2017-04-22 02:44] camallenlloyd commented on #8387
I also observed this same problem with Tensorflow 1.0.1

[2017-04-22 03:15] andrewharp commented on #6385
@vyse8
The paths you're quoting there are where the files need to be copied from after they are built. If you put them in their destination manually, then they aren't even relevent. As you have them now it's seems to be pointing to tensorflow/examples/libs, which is incorrect both because that path doesn't exist (note the ..), and because I assume you meant tensorflow/examples/android/libs, which

[2017-04-22 04:28] TomorrowIsAnOtherDay opened #9377 "grpc error in distributed tensorlfow"
pciBusID 0000:04:00.0
Total memory: 11.17GiB
Free memory: 11.10GiB
I tensorflow/core/common_runtime/gpu/gpu_device.cc:906] DMA: 0
I tensorflow/core/common_runtime/gpu/gpu_device.cc:916] 0:   Y
I tensorflow/core/common_runtime/gpu/gpu_device.cc:975] Creating TensorFlow device (/gpu:0) -> (device: 0, name: Tesla K40m, pci bus id: 0000:04:00.0)
**# E0422 12:13:21.315971987   26528 tcp_server_posix.c:

[2017-04-22 06:03] ManoharKowshik commented on #9365
Okay..DO i need to change anything c++ code ..Like add input_name or out_put name in any .cc code so that it links between java and c++ code?

[2017-04-22 06:29] andrewharp commented on #9365
No, changing the graph to use is done entirely in Java in the demo src code.

[2017-04-22 06:47] ManoharKowshik commented on #9365
Okay..Thanks for replying ..Just confirm me is this correct...Sorry to bother
1. I will retrain my custom model generat .pb file and txt file and give input_Name and out_putname as "Mul" and "final_result" during label_image build.
2. Then as per your help will change ClassifierActivity.java  to update Defaut values. Then build to generate infernce.so file by

bazel build -c opt //tensorflow/contr

[2017-04-22 07:03] andrewharp commented on #9365
The build.gradle file should handle all of the building for you, assuming you're running on Linux. You should just need to update the values in ClassifierActivity.java to point to your retrained graph assuming you have Bazel installed correctly etc.

[2017-04-22 07:10] ManoharKowshik commented on #9365
The problem is i am building in linux VM and then need to load on android studio in windows.. Could you help me with that?

Is there a tutorial for that?

[2017-04-22 07:31] andrewharp commented on #9365
Building the native libraries stays exactly the same regardless of the
graph you use (unless you're building with selective registration). To
build android tensorflow on windows follow this workaround:
https://github.com/tensorflow/tensorflow/issues/6385#issuecomment-285208600

Or just manually add the libraries as the comment above suggests.

On Apr 22, 2017 12:10 AM, "ManoharKowshik" <notificati

[2017-04-22 07:34] shoyer commented on #7662
Over in https://github.com/numpy/numpy/issues/834, we are discussing how to replace `reduceat`, which I think everyone agrees was poorly designed. We have not yet settled on a replacement, however.

[2017-04-22 07:38] anonym24 opened #9378 "gcc failed: error executing command"
`$ bazel build tensorflow/tools/graph_transforms:transform_graph:`

[code]

[gccFailed.txt](https://github.com/tensorflow/tensorflow/files/948805/gccFailed.txt)

Ubuntu 17.04

[2017-04-22 08:43] mrlzla opened #9379 "[C++] xthread: 0xC0000005: Access violation reading location 0xFFFFFFFFFFFFFFFF"
I want to read frozen graph from file.
So I have class A:

[code]

class B:

[code]

And I have the problem mentioned above when I read frozen graph with ReadBinaryProto  ~~I create session~~. If I comment a line _thread.reset(new std::thread(&B::Task, this)), this code will return successfully. If I comment all the code refered with tensorflow it will return successfully too.

[2017-04-22 09:03] theflofly commented on #9202
@bhairavmehta95 same question here.

I'd say that you can provide the op in c++ for instance and an other contributor will add the python part...

[2017-04-22 12:57] danielwatson6 commented on #37
+1

[2017-04-22 13:15] Dakshster opened #9381 "Mac Gpu Link not working?"
Hello,

I was trying to install Tensorflow for Mac GPU Python 3 one from github and I found that it is a broken URL Giving me an HTTP 404 Error.

The URL is - `https://ci.tensorflow.org/view/Nightly/job/nightly-matrix-mac-gpu/TF_BUILD_IS_OPT=OPT,TF_BUILD_IS_PIP=PIP,TF_BUILD_PYTHON_VERSION=PYTHON3,label=gpu-mac/lastSuccessfulBuild/artifact/pip_test/whl/tensorflow_gpu-1.1.0rc2-py3-none-any.whl`

Ple

[2017-04-22 13:43] ainurb commented on #7411
hi, @davideb91, I'm trying to integrate my retrained model to iOS app and having the same problem, have you resolved it?

[2017-04-22 14:08] MaeThird commented on #9310
Hi,@drpngx
If I use

new_saver = tf.train.import_meta_graph("xxx.meta")
new_saver.restore(sess, "xxx.ckpt-yyy")

 to run forward pass the only cannot uninitialized value is ".../moments/moments_1/mean/ExponentialMovingAverage" .This is "batch_norm" codes as

    with tf.variable_scope(name):
        phase_train = tf.convert_to_tensor(phase_train, dtype=tf.bool)
        n_out = int(x.get_shape()[3]

[2017-04-22 14:08] #9310 closed

[2017-04-22 14:25] mikehenninger opened #9382 "Tensorboard not (correctly) displaying histograms; unreliably displaying graphs (V1.1rc2,win7,chrome57)"
When I went from tensorflow V1.0 to V1.1rc2, histograms stopped working correctly: the data isn't drawn unless that trace is highlighted via mouseover, and even then it's not using the right plot boundaries:
![image](https://cloud.githubusercontent.com/assets/8495647/25305145/f3be2926-2743-11e7-8ed1-589d4b17452e.png)
is an example (cursor is not displayed but is at the dot in top left of graph; ot

[2017-04-22 15:12] BTolputt opened #9383 "Issue with latest Cuda Install for Windows"
Took a little digging but the new DLL from Nvidia is called cudnn64_6.dll; the latest build of TensorFlow requires that to be cudnn64_5.dll. Crashes importing TensorFlow until this is renamed.

[2017-04-22 15:27] eaplatanios commented on #9150
One important requirement is that my API supports control flow ops. Do resource-based variables support "Switch", "Enter", etc., with their underlying value op, or do we need something like "RefSwitch", "RefEnter", etc.?

[2017-04-22 16:22] Dibel commented on #6698
Same issue too. I'm on Windows 10, GTX1070, CUDA 8.0, cuDNN 5.1.

[2017-04-22 16:25] drpngx commented on #9328
Can you reproduce with a build from source on a recent version? If so, can you try asan?

[2017-04-22 16:37] drpngx commented on #9357
Can you tell where it freezes in init_op? Can you also run python 3.5 which is the supported version?

[2017-04-22 16:38] drpngx commented on #9358
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-22 16:38] #9358 closed

[2017-04-22 16:42] drpngx commented on #9359
I think the reason is that we thought it might be confusing to have statements like `if foo`, which check for `None`.

@aselle may have some comment.

[2017-04-22 16:47] drpngx commented on #9360
We have been aligned with numpy compatibility, but in that case, numpy seems to result in inconsistent behavior.

My opinion would be to submit a patch for ppc upstream in numpy to make it have consistent behavior.

@aselle or @martinwicke might have some comment.

[2017-04-22 16:50] drpngx commented on #9362
Typically, we use the same graph, but use a name scope.

This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-22 16:50] #9362 closed

[2017-04-22 16:51] drpngx commented on #9364
Are you using ubuntu 16? My guess is that you need to increase memory allocation on virtualbox.

[2017-04-22 16:58] drpngx commented on #9368
@renmengye I am not sure what you are asking? Is the node preventing from attempting autodiff?

CC: @vrv

[2017-04-22 17:01] drpngx commented on #9378
We don't support ubutun 17 quite yet. What version of gcc are you using?

I think it's likely to have been an out of memory error. Please check `dmesg` to verify. It should say that `cc1plus` has been sacrificed.

[2017-04-22 17:04] drpngx commented on #9374
Interesting. Thanks for reporting! If memory serves, getting the list does have side effects (registering the devices).

@mrry might know on the top of his head. I'll take a look later.

[2017-04-22 17:06] drpngx commented on #9370
@ebrevdo any comment on this? Is this a documentation or usage issue?

[2017-04-22 17:18] drpngx commented on #9372
Thanks for reporting! It will be hard for us to test since we don't have easy access to these machines.

[2017-04-22 17:22] drpngx commented on #9379
Are you using the C++ api (not loading a shared library)? Did you try building with asan/msan?

@asimshankar might have some insight.

[2017-04-22 17:23] drpngx commented on #9382
@dandelionmane any insight on this?

[2017-04-22 17:52] drpngx commented on #9383
Thanks for reporting. Maybe we should document this better.

/CC: @yifeif @wolffg

[2017-04-22 17:52] #9383 closed

[2017-04-22 17:53] drpngx commented on #9381
Where did you copy that URL from?

[2017-04-22 17:54] drpngx commented on #9377
Please report OS and version.

[2017-04-22 17:55] drpngx commented on #9375
This is not really a bug. You are expected to have a file that exists.

[2017-04-22 17:55] #9375 closed

[2017-04-22 18:03] mrry commented on #9374
Yes, I believe calling `device_lib.list_local_devices()` [invokes the (morally static) `DeviceFactory::AddDevices()` code](https://github.com/tensorflow/tensorflow/blob/48d9915ebca770b40c4497a13c3edb87b6b042d0/tensorflow/python/client/device_lib.i#L32) for the GPU devices, but doesn't take a `ConfigProto`  and so passes [an empty `SessionOptions`](https://github.com/tensorflow/tensorflow/blob/48d9

[2017-04-22 18:05] drpngx commented on #9369
Feel free to send the PR and we can review it there. Please CC @martinwicke and make sure you put `Fixes #9369` in the commit message.

[2017-04-22 18:07] drpngx commented on #9367
@tatatodd could you suggest a fix?

[2017-04-22 18:10] drpngx commented on #9374
Thanks @mrry! Closing in favor of #8136. I believe that #8021 has the temporary workaround you need.

[2017-04-22 18:10] #9374 closed

[2017-04-22 18:15] mortada commented on #217
also on the point about `git blame`, we can always just use `git blame -w` which will ignore whitespace only changes. So we can still get the desired information fairly easily

[code]

[2017-04-22 18:28] milinddeore commented on #8268
@satok16
I had written Android application for OnePlus 3T phone (This has snapdragon 821 and i have flashed my own compiled android image out of LineageOS, that means it completely rooted and /system is write accessible) but it was crashing and hence i tried following sample test for hexagon:

[code]
The problem here is that the version is showing '0', does that mean DSP is not accessible?

[2017-04-22 18:46] mrlzla commented on #9379
I load tensorflow as shared library. No, I didn't

[2017-04-22 18:58] drpngx commented on #9379
How are you linking your library? Against which proto library?

CC @keveman

[2017-04-22 19:04] drpngx commented on #9302
Great to hear!

[2017-04-22 19:06] drpngx commented on #4044
Does anyone have a simple repro case with the simplest graph possible?

[2017-04-22 19:15] drpngx commented on #9356
The `decode_image` is a cascade of `tf.cond`.
`resize_images` needs to pull the shape object. However, we don't know which one it's going to be upfront.

@cwhipkey any comment here?

[2017-04-22 19:18] drpngx commented on #9363
Are you sure you are running `1.1`? It looks from the paths that you have `0.12`. From the form you said you have installed from binary, but this is a bazel build command?

[2017-04-22 19:19] mrlzla commented on #9379
I apologize for not mentioning this earlier. I use windows. I run cmake build it via MSBUILD. Then I include tensorflow lib and other dependencies in my linker options. So how I mentioned earlier If I do not create another thread, it works good.

[2017-04-22 19:21] Birkoniajack commented on #9364
I ended up installing a real version of linux but i assume memory allocation was the reason!

Thanks for the reply.

[2017-04-22 19:21] #9364 closed

[2017-04-22 19:25] drpngx commented on #9379
Are you running MSVCRTD ? (debug version) Are you building in debug? What does `Task` do?
Could you also check the status codes with `CHECK_OK(..)` around `ReadBinaryProto` and `SetDefaultDevice` and `Session::Create`?

[2017-04-22 19:48] mrlzla commented on #9379
As I know tensowflow cannot be built in debug ?!
I am running Release version.
Task has infinite loop that run tensorflow session and postprocess its results.

I check the status codes in my code. I didn't add them in order to reduce code size.

[2017-04-22 21:18] jupiter126 commented on #9341
Would anyone happen to know where someone not running a Debian derivative can get the source for libcupti?

[2017-04-22 21:25] pczekalski commented on #5303
Same problem on Orange Pi+ 2E. Did you find the solution?

[2017-04-22 21:44] thejonan commented on #1758
Since, it took me way too much time to find it - and it may help someone - it turns out that `import_meta_graph` passes all additional arguments to the underlying `import_scoped_meta_graph` which **has** the `input_map` argument and utilizes when it gets to it's calling of `import_graph`. IT

[2017-04-22 21:46] jbuisson1 commented on #6356
I have a similar problem on OSX when running

`bazel build //tensorflow/contrib/android:libtensorflow_inference.so    --rosstool_top=//external:android/crosstool    --host_crosstool_top=@bazel_tools//tools/cpp:toolchain    --cpu=armeabi-v7a --sandbox_debug --verbose_failures`

I get the following error

[code]

And bazel clean did not help

[2017-04-22 21:50] bpgriner01 commented on #8806
I got the same error using anaconda on ubuntu 14.04. I used chmod 777 on the tensorflow env dir and it looked like I had full permissions? Is there some other dirs that I need to chmod? Thx

[2017-04-22 21:56] bpgriner01 commented on #8806
I used the python 3.6 URL as that was the version of python in my tensorflow env in anaconda. Do I need to create an env for py 2.7 and install the 2.7 version of tf instead? TIA

[2017-04-22 23:23] sguada commented on #9347
Sure, if any one wants to sent a PR, I'll review it quick.

[2017-04-23 00:23] n-triple-a opened #9387 "Wrong implementation of ResNet in tensorflow/tensorflow/contrib/slim/python/slim/nets/ ?"
I'm a researcher working on models related to ResNet_v1. As I was trying to use the code in this reporsitory: tensorflow/tensorflow/contrib/slim/python/slim/nets/
I realized that the ResNet_v1 model is different from Kaiming He's implementation. Specifically, in Kaiming's implementation, he applied stride 2 at the START of each block and the stride is applied to the 1*1 conv layer. For example, in

[2017-04-23 00:36] to-bee commented on #6729
Adding path variables to .bash_profile as @yaroslavvb described worked

**Further steps I've done:**
disabling SIP on osx
don't forget to checkout tensorflow repo with all submodules:
`git clone --recurse-submodules https://github.com/tensorflow/tensorflow`

[2017-04-23 00:50] drpngx commented on #9379
Any chance you could get the stack traces? Does it crash during program exit, or before?

[2017-04-23 00:58] rjpg commented on #3340
using classifier = learn.DNNClassifier how can we get a saved_model.pb instead of grapg.pbtxt ... ?

In another words using learn.DNNClassifier how can we save the model in python and then use the files in tensorflow for Java ?  (using SavedModelBundle.load()  )
this functions require for a "saved_model.pb" or saved_model.pb" to be on the directory.

defining a "model_dir" in DNNClassifier in pyth

[2017-04-23 01:03] drophit commented on #6055
The problem was the cuDNN Library for me - for whatever reason cudnn-8.0-windows10-x64-v6.0 was NOT working - I used cudnn-8.0-windows10-x64-v5.1 - ALL GOOD!

My setup running Win10 with Nvidia GTX780M

- windows installed python 3.5.3-amd64 from [here](https://www.python.org/downloads/release/python-352/)
- cuDNN v5.1 for CUDA 8.0 from [here](https://developer.nvidia.com/rdp/cudnn-download)
- CUD

[2017-04-23 01:03] ronghanghu commented on #1122
Just got confused by this problem last week and wasted 3 days of training... Hope the docs can be fixed soon, and an official batch normalization example can be added in the API docs.

[2017-04-23 01:17] drpngx commented on #9387
@sguada what do you think?

[2017-04-23 01:26] drophit commented on #7705
The problem was the cuDNN Library for me - for whatever reason cudnn-8.0-windows10-x64-v6.0 was NOT working - I used cudnn-8.0-windows10-x64-v5.1 - ALL GOOD!

My setup working with Win10 64 and the Nvidia GTX780M:

- Be sure you have the lib MSVCP140.DLL by checking your system/path - if not get it [here](https://www.microsoft.com/en-us/download/details.aspx?id=48145)
- Run the windows installer f

[2017-04-23 01:45] Carmezim commented on #6055
@drophit TensorFlow only supports Python 64-bit on Windows.

[2017-04-23 01:55] TomorrowIsAnOtherDay commented on #9377
Linux version 2.6.32_1-13-0-0

[2017-04-23 01:57] TomorrowIsAnOtherDay commented on #9377
(gcc version 4.4.4 20100726 (Red Hat 4.4.4-13) (GCC) )            CentOS release 6.3 (Final)

[2017-04-23 01:57] drpngx commented on #9377
What distribution?

On Apr 22, 2017 6:56 PM, "TomorrowIsAnOtherDay" <notifications@github.com>
wrote:

[2017-04-23 05:00] mrry commented on #9377
2.6.32 is a very old kernel... I don't think it supports `SO_REUSEPORT`, which as far as I can tell was [merged in 2013](https://lwn.net/Articles/542629/) (to Linux 3.9).

As far as I remember, we don't actually use this feature but gRPC enables it by default on some sockets. We actually try to [disable it on server sockets](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/dist

[2017-04-23 05:38] Dakshster commented on #9381
From the readme of Tensorflow's Github.

[2017-04-23 05:51] soloice commented on #1588
@ebrevdo
I've read a related [comment](https://github.com/tensorflow/tensorflow/issues/342#issuecomment-160354041) of yours and it helped me a lot.

Is it possible to extract sparse ids and train sparse weights on the fly?

My application is finetuning sparse embedding: Given a sequence of word ids, firstly use a cookbook to look up sparse indices and weights of each word, then use `tf.nn.embeddin

[2017-04-23 05:59] soloice commented on #3947
@haruna1998 I think there maybe a workaround.
You can split a sparse tensor then concatenate some parts of it.
For example:
[code]
Note: not tested. But it should work.

[2017-04-23 06:10] leckie-chn commented on #9362
@drpngx I think it **is** a bug. At least there should no ValueError thrown, or the document saying '_you should never attempt to share variables among different graphs_'

[2017-04-23 06:13] zhufeida commented on #7988
@pseudotensor @Leishuyu-bupt
In my case, Adam parameter can't be created if we have used "tf.get_variable_scope().reuse_variables()" in the scope which contain Adam.

So, we can create a scope if we need to reuse variable and reuse variables under that scope.

[2017-04-23 06:59] mbartosi commented on #8482
Same here on Gentoo Linux:

bazel build --config=opt --verbose_failures --config=cuda //tensorflow/tools/pip_package:build_pip_package
WARNING: /home/marek/tensorflow/tensorflow/contrib/learn/BUILD:15:1: in py_library rule //tensorflow/contrib/learn:learn: target '//tensorflow/contrib/learn:learn' depends on deprecated target '//tensorflow/contrib/session_bundle:exporter': Use SavedModel Builder i

[2017-04-23 08:21] #9303 closed

[2017-04-23 09:23] anonym24 commented on #9378
`gcc (Ubuntu 6.3.0-12ubuntu2) 6.3.0 20170406`

I changed vmware memory from 4 to 6 GB, and seems it has been built ok

[2017-04-23 09:25] ManoharKowshik commented on #9365
Code is working..Thanks for the info

[2017-04-23 09:25] #9365 closed

[2017-04-23 09:40] anonym24 commented on #9343
@andrewharp

I have built: `bazel build tensorflow/tools/graph_transforms:transform_graph`
Now I'm trying the second line, but I'm not sure what happens, looks like it asks for different parameters:

[code]

[2017-04-23 09:51] DaoD commented on #6996
@ebrevdo
When I use the new seq2seq module in the master branch, got this error:
seq2seq\python\ops\beam_search_ops.py, line 20, in <module> from seq2seq.ops import gen_beam_search_ops
ImportError: cannot import name 'gen_beam_search_ops'
Is the seq2seq package haven't finished yet?
Thanks

[2017-04-23 11:20] mrlzla commented on #9379
I was wrong. It fails when session resets:
`_session.reset(NewSession(_sessionOptions));`

[2017-04-23 11:42] anonym24 commented on #9343
@andrewharp

Also could you help me with resurrecting it? I just don't work with C++/NDK in Android Studio. I have successfully set bazel/worksplace/ndk for Android demo on Ubuntu and I can build project without errors (though it takes some time)

[2017-04-23 12:04] jimanvlad commented on #22
What's the latest on this?

[2017-04-23 12:44] robotnc commented on #6466
Hi all：

I tried the FusedBlockLSTM in tf.contrib.rnn in Tensorflow V1.0, the speed is almost same with CudnnLSTM. And the FusedBlockLSTM can support Dropout, and is easier to use.

[2017-04-23 12:51] alquraishi commented on #6466
My experience is very different. I still see a 3x gap between FusedBlockLSTM and CudnnLSTM, so I would still think this is very useful to have. And the issue is that the feature is present as an option, but it doesn't actually do anything.

[2017-04-23 12:57] jucke commented on #9381
I was wondering about this as well.

Looks like the build for nightly Mac GPU Python 3 is currently broken, and for this reason link to the last successful build of nightly Mac GPU Python 3 version _1.1.0_ is broken. Same issue with nightly Mac GPU Python 2 1.1.0 link and build.

[2017-04-23 13:39] robotnc commented on #6466
What’s your tensorflow version?  I found the new V1.0 is faster than V0.1x

[2017-04-23 14:26] alquraishi commented on #6466
TF 1.1rc2. And like I mentioned there's not just a performance difference but a bona fide bug, because the CudnnLSTM API exposes a dropout option that does not do anything. If you don't mind reopen the ticket. Otherwise I'll start a new ticket.

[2017-04-23 14:34] robotnc commented on #6466
The dropout is still needed, reopen again.

[2017-04-23 15:17] nkhdiscovery opened #9391 "Is it possible to remove the "third_party directory"?! [An attempt to package for Ubuntu]"
Hi guys,

We have successfully used C/C++ API as shared library in our applications, but there are some issues [like this one](https://github.com/cjweeks/tensorflow-cmake/issues/13) which my colleages ran into.
Simultaneously, I was working to distribute the whole work as a debian package for Ubuntu 16.04, and I found that it is very annoying that you have used many external dependencies under the

[2017-04-23 16:20] tr8dr opened #9392 "Build of tensor flow r1.1 w/ Google Cloud option enabled fails: incompatible C++ header and code"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:   OS X 10.10.3 (14D2134)
- **TensorFlow installed from (source or binary)**:  github clone / source (r1.1)
- **TensorFlow version (use command below)**: r1.1
- **Bazel version (if compiling from source)**: 0.4

[2017-04-23 16:49] #9381 closed

[2017-04-23 16:59] drpngx commented on #9379
OK, what does the status return?

[2017-04-23 17:00] #9378 closed

[2017-04-23 17:05] drpngx commented on #9377
@TomorrowIsAnOtherDay I am closing since this is not a supported platform. Your options at this points are to either disable that feature in your private copy of tensorflow and rebuild, or upgrade your kernel. The comment on [stackoverflow](http://stackoverflow.com/questions/3261965/so-reuseport-on-linux) indicates that there was a backport for `2.6.32`, so this might be the most viable option.

[2017-04-23 17:10] filipealeixo opened #9394 "Max_pool with dynamic ksize"
I have the following code for a convolutional layer. This layer is part a larger computational graph.

[code]

When trying to run, I get the error:

is tf.nn.max_pool unable to handle dynamic ksize?

[2017-04-23 17:39] carlthome commented on #9359
Surely for those cases it would be better with the less ambiguous `if Object is None:`

[2017-04-23 17:41] #6334 closed

[2017-04-23 17:42] carlthome commented on #6439
Fixed in 1.1

[2017-04-23 17:42] #6439 closed

[2017-04-23 17:43] carlthome commented on #7302
This is still an issue in 1.1rc2.

[2017-04-23 18:14] drpngx commented on #9359
The google style guide mandates implicit [comparisons](https://google.github.io/styleguide/pyguide.html?showone=True/False_evaluations#True/False_evaluations), but not for integers. A lot of code has been written that way.

Whatever the case, reading the description again, it looks to me that case `4` doesn't make sense in the current state no matter what.

[2017-04-23 19:09] shoyer commented on #9359
This may be a complication of fact that tensors can be used as keys in dictionaries, which I believe use `==` to find the matching object with the same hash:
https://docs.python.org/2/reference/datamodel.html#object.__hash__

`if foo` actually calls `foo.__bool__`, so that's something different.

[2017-04-23 20:06] drpngx commented on #9392
Right.

[code]
https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/core/platform/cloud/retrying_utils.cc#L92
should be:
[code]

Would you mind sending a PR?

[2017-04-23 20:08] sguada commented on #9387
Both implementation are equivalent, but the current one is more efficient.

[2017-04-23 20:13] drpngx commented on #9391
The tensorflow executable relies on a hermetic build, to ensure that we build the dependent libraries at the right version that we test, and using the right compilation flags. For instance, LLVM libraries typically requires `-fno-rtti`, which requires careful compilation. We link statically to these dependencies, making your executable effectively unstable if you link with these libraries outside

[2017-04-23 20:14] #9387 closed

[2017-04-23 20:15] n-triple-a commented on #9387
@sguada Hi. Could you please explain the equivalence and why it's more efficient?

[2017-04-23 20:16] sguada commented on #9387
see my updated comment

[2017-04-23 20:31] gromzly commented on #7705
I was having this issue and installing cuDNN 5.1 fixed it for me as well.

[2017-04-23 20:45] ZacheryGuan commented on #7705
I just solved the problem with reinstall python35 using customize installation by check all the boxes and then next, check all the boxes again (especially the last two - Download debugging symbols and binaries).

After that, using `pip3 install tensorflow` to reinstall tensorflow again, it works, though I've installed tensorflow before.

Still, it has many warnings when I test the program 😞

[2017-04-23 20:52] vburca commented on #7705
@ZacheryGuan Are you getting the warnings that were posted a bit above?
[code]

[2017-04-23 21:22] mrlzla commented on #9379
It does not return any status. It throws exception.

[2017-04-23 21:44] drpngx commented on #9379
Any chance to get the stack trace?

[2017-04-23 22:39] hughlomas commented on #7995
Same here, didn't work for me either. Can we please re-open this? @tatatodd

[2017-04-24 00:37] specman commented on #7995
I just downloaded Anaconda and got it through there. fwiw.

[2017-04-24 00:47] praysunday opened #9397 "hi tensorflow"
Please go to Stack Overflow for help and support.
http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues.
We want to focus on work that benefits the whole community, e.g., fixing
bugs and adding

[2017-04-24 01:09] rkjones4 opened #9398 "Tf.gradients returning all zeroes when called on result of a tf.gradient call"
I have the following code snippet:

interpolates = alpha*real_data + ((1-alpha)*fake_data)
disc_interpolates = Discriminator(interpolates)
gradients = tf.gradients(disc_interpolates, [interpolates])[0]
second_grad = tf.gradients(gradients[0], [interpolates])[0]

Where Discriminator corresponds to a neural network. The first call to tf.gradients is working correctly and I get back non-zero slope va

[2017-04-24 01:25] #9397 closed

[2017-04-24 01:25] drpngx commented on #9398
Yes, that is correct. This is a linear function whose second derivative is zero.

[2017-04-24 01:29] praysunday commented on #9398
tnanks  my English is terrible,but Ilove AI so much.

[2017-04-24 01:36] bicubic commented on #8835
@asimshankar I won't have bandwidth to troubleshoot this issue further in the near future. Are you happy to close this ticket and I'll raise a new one and reference this one when I have more information?

[2017-04-24 01:36] #8835 closed

[2017-04-24 01:47] rkjones4 commented on #9398
Here is the code for the discriminator:

def Discriminator(inputs):
    output = tf.reshape(inputs, [-1, 3, 32, 32])

    output = lib.ops.conv2d.Conv2D('Discriminator.1', 3, DIM, 5, output, stride=2)
    output = LeakyReLU(output)

    output = lib.ops.conv2d.Conv2D('Discriminator.2', DIM, 2*DIM, 5, output, stride=2)
    output = LeakyReLU(output)

    output = lib.ops.conv2d.Conv2D('Discriminato

[2017-04-24 01:55] drpngx commented on #9398
Well if you are in the linear part, relu is linear and convolution is a linear combination of inputs, so you should get a zero gradient. Replace relu with, say, sigmoid and you should get something sigmoid-like.

[2017-04-24 01:56] ashwhall opened #9399 "Distributed Tensorflow model is no faster than standalone"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
I have taken the [Resnet code](https://github.com/tensorflow/models/tree/master/resnet) from the Tensorflow model zoo and distributed it as according to https://www.tensorflow.org/deploy/distributed
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04.

[2017-04-24 02:38] tatatodd commented on #9367
Nice debugging @pgplus1628

As a short-term workaround, which you've probably already done, you can change the -arch=sm_35 to the appropriate value (e.g. in your case -arch=sm_52), and recompile and run.

We'll figure out a better fix moving forward.

[2017-04-24 03:37] DjangoPeng commented on #9328
@drpngx I pulled the TensorFlow r1.0 branch and built the whl package from source.  Getting the same error and then I would like to try official docker image.

[2017-04-24 03:44] yujulucy opened #9400 "Tensorflow is still taking up all GPU memory despite allocation of memory"
**System Information:**
- OS Platform: Linux Ubuntu 16.04
- TensorFlow installed from binary
- TensorFlow version: 1.0.1
- CUDA version: 8.0
- cuDNN version: 5.1

output for print(tf.GIT_VERSION, tf.VERSION):
('v1.0.0-65-g4763edf-dirty', '1.0.1')

**Problem:**
I have three codes running GPU-enabled TensorFlow. Currently, when the GPU is allocated for two of the processes, the GPU does get allocate

[2017-04-24 04:13] VRSManan commented on #9354
Thank you responders. But the problem is solved another way.
The issue is resolved. I was failed to build the project by following instructions from "building by hand" in https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile.

Then I tried the installation from "building all at once". And somehow it worked. The build is successful and I can run the program.

[2017-04-24 05:03] Songweiping opened #9401 "ValueError: Attempt to reuse RNNCell with a different variable scope than its first use"
OS: Ubuntu 14.04
TF installed from source.
TF version: 1.1.0-rc

I want to reuse a RNNCell in two different variable scopes, which could simply  be like this:

[code]

But I got following error:

[code]
I googled this issue and found that https://github.com/tensorflow/tensorflow/issues/8191 is similar but not identical. That issue was caused by new arg "reuse" of LSTMCell.
Strangely, when I use TF

[2017-04-24 05:16] martinwicke commented on #3340
Use the export_savedmodel method to export a SavedModel. Look at, or post to StackOverflow if you have trouble.

[2017-04-24 05:22] martinwicke commented on #9360
I agree, this looks like a bug in numpy on PPC, although it is perfectly possible that the numpy maintainers have good reasons for this behavior.

I would not want to deviate from numpy for things like this, but if the test failure is annoying, we can special case that test to omit this check for ppc.

[2017-04-24 05:56] DjangoPeng commented on #9328
@drpngx I pulled the official docker image tagged as `tensorflow/tensorflow:1.0.1`, and it works well. I do not yet know what's wrong with my self-built image. I attached my [Dockerfile](https://gist.github.com/DjangoPeng/ce00add09714f247fe211c1dcff708aa).

[2017-04-24 06:09] martinwicke commented on #7669
Yes. All Monitors are deprecated. Not all of them have a direct equivalent, but there should be hooks for the main use cases. Except ValidationMonitor, as of today.

[2017-04-24 07:06] TomorrowIsAnOtherDay commented on #9377
I will try to update my kernel, thanks for your reply.

[2017-04-24 07:23] litaotao opened #9402 "tensorflow home page equation bug for section MNIST For ML Beginners"
for section 2 of Get Started, https://www.tensorflow.org/get_started/mnist/beginners, there is a statement error.

- **for screenshot 1, the equation is : wx + b**

![图片注释](http://odqb0lggi.bkt.clouddn.com/5480622df9f06c8e773366f4/5b83df08-28be-11e7-9a94-0242ac140004)Please go to Stack Overflow for help and support.
http://stackoverflow.com/questions/tagged/tensorflow

- **for screenshot 2, the eq

[2017-04-24 07:29] PhilJd commented on #9400
How much memory does your last process consume if you start this one on its own? CUDA_ERROR_OUT_OF_MEMORY usually states that a model is too big and doesn't fit in the pre-allocated memory.

[2017-04-24 07:38] nicaogr commented on #8393
Thanks a lot.

[2017-04-24 08:11] derekhh commented on #9402
This is not a bug.

The explanation is right after your "screenshot 2":

[2017-04-24 08:25] facundesg commented on #7554
Hello, I'm facing the same warning as @thesuperzapper that prevents me from writing to the summary and visualizing on tensorboard.

[2017-04-24 08:26] vaibhavsood opened #9405 "testAvgPoolSamePadding fails on ppc64le. Attempting to root cause, have some info need some help"
Please go to Stack Overflow for help and support.
http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues.
We want to focus on work that benefits the whole community, e.g., fixing
bugs and adding

[2017-04-24 08:28] albertz opened #9406 "gather_nd gradient / scatter_nd is broken"
Test code:
[code]

The first `session.run` as well as the assert-check for the `gathered_shape` works fine but then the second `session.run` for the gradient breaks with the exception:
[code]
This exception message is also confusing because what it complains about what is not the case seems to be actually the case.

[2017-04-24 08:37] albertz commented on #9406
It basically results in this reduced test case which fails:
[code]

[2017-04-24 08:39] link-er opened #9407 "Usage of float64 with version >0.11"
### System information
- Tensorflow is used as a backend for Keras library with setup "floatx":"float64", i.e. this is default float type
- OS X El Capitan operational system
- TensorFlow was installed via pip
- Tensorflow version 0.12.1

My custom loss function includes exponent and it gets overflowed very easily, that is why I have to use float64. But after updating TensorFlow from 0.11 to 0.12

[2017-04-24 08:59] DjangoPeng commented on #7328
@mrry @alisidd Please go ahead. I'm working on our projects this day. So I may not working on this issue nowadays. Thanks.

[2017-04-24 09:03] albertz commented on #9406
This was with TF 1.0.1. I guess 3b7b39ac fixes this, and I tested now with TF 1.1.0, and it seems to work fine.

[2017-04-24 09:04] morgangiraud commented on #9357
Is there any way to get more information on a TensorFlow call?

Anyway, i didn't saw it last time but it seems related to: https://github.com/tensorflow/tensorflow/issues/5448

That's a problem, i can't move around the `import tensorflow` piece and the set statement: `multiprocess.set_start_method('spawn')`gives me this error `Runtimes Error: Context has already been set`

[2017-04-24 09:15] thejonan commented on #7951
I would say that aside from the steep learning curve of input pipeline which can be overcome with documentation too, the key missing points are:

1. A decent way to make custom preprocessing of the data, whether it be based on queue's or not, the idea of being able to foresee all possible data input needs is doomed.
2. An easy and established way to change the input pipeline of a graph, after it h

[2017-04-24 09:29] Vargnatt opened #9410 "Error Building from Source with CUDA 7.5 in docker."
Please go to Stack Overflow for help and support.
http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues.
We want to focus on work that benefits the whole community, e.g., fixing
bugs and adding

[2017-04-24 09:33] jubjamie opened #9411 "Cifar10 Tutorial Link to Example Code 404's"
Following any of the links to the code for the CIFAR10 tutorial 404's.

Example link: https://www.tensorflow.org/versions/master/tutorials/deep_cnn#code_organization

Any from above.

[2017-04-24 09:36] Kongsea commented on #9347
I have added it.
[Conv3D](https://github.com/tensorflow/tensorflow/pull/9404)

[2017-04-24 09:52] PatWie commented on #7951
I think TF does not really require another attempt to unify the data pre-processing to put it directly *into* the graph. Things get worse if one need custom stuff and on-the-fly generation/modification of data. Typically these modifications are not part of the forward model for a good reason: these operations do not require any backpropagation. Hence, they should be only loosely coupled.

So the i

[2017-04-24 10:05] vijpandaturtle commented on #9400
I am facing similar issues with memory allocation in tensorflow and i'm really unable to figure out what to do.. currently i am trying to train a cnn for a kaggle dataset of 48x48 pixel images and this is the code
https://github.com/vijpandaturtle/facial-expressions
Everytime i make even a small change in my layers, it keeps throwing the following error

Training on the data
----------------------

[2017-04-24 10:26] aiwabdn commented on #3388
I am on TF 1.1 rc2 freshly built from source on macOS Sierra and keras 2.0.2. Facing the same problem. Commented out the try-finally block at line 595 in session.py to make it work. Don't know if the hack will have any effect on the model.

[2017-04-24 10:27] anonym24 opened #9412 "Android Demo DetectorActivity landscape orientation problem"
I'm trying to change the orientation to landscape:

`private static final Size DESIRED_PREVIEW_SIZE = new Size(1280, 720);`
`private static final boolean USE_YOLO = true`

[code]

But it draws detected rects wrongly.
How to fix it?

[2017-04-24 11:09] sandipmgiri commented on #9360
Thanks for the pointers, I will look into numpy.

[2017-04-24 12:06] es007 opened #9413 "Android ops - not supporting NCHW data format"
Hi,

I'm using my custom tensorflow v1.0.1 model freezed and exported to Android arm-ABI-v7a (I compiled tensorflow 1.0.1 with selective registration for the models ops).

As a training time optimization we tried to convert the data format to NCHW format (as written in the tensorflow performance tutorial).

But now, when I run inference on Android, I get the following error in the logcat:

 E/nati

[2017-04-24 12:40] swordspoet commented on #5968
I have met this problem when I work on assignment 4 with my windows machine(CUDA 8.0, cudnn 6.0), the error message is as follows:

![](http://wx4.sinaimg.cn/large/778d5ca9gy1fey1qxbmnsj20op0gnwgc.jpg)
![](http://wx4.sinaimg.cn/mw690/778d5ca9gy1fey1qymfbqj20op0gn763.jpg)
![](http://wx1.sinaimg.cn/mw690/778d5ca9gy1fey1qzdv84j20op0gnwga.jpg)
![](http://wx3.sinaimg.cn/mw690/778d5ca9gy1fey1r02o2wj20pq

[2017-04-24 13:21] nazandr opened #9414 "CNN pip installed error E tensorflow/stream_executor/cuda/cuda_dnn.cc:352]"
MacOS pip installed tensorflow
Only cnn triggered this error
[code]
[code]
CUDA Driver Version: 8.0.81
GPU Driver Version: 10.16.34 355.10.05.35f05

[code]

[2017-04-24 13:29] jubjamie commented on #9412
By any chance are you referring to the fact that it draws them correctly in the debug preview but off to the side and squished in the main view?

[2017-04-24 13:34] DavidNorman opened #9415 "XLA "resnet 50" style example crash during graph building"
Note: The test code below was cobbled together from various un-credited sources.

The example crashes, during the building of the reduce_mean.   It fails with quite a large stack, maybe some sort of stack overflow?  Without the last two 'block's (marked with #*****) the compilation succeeds.

Perhaps it is as simple as it failing on my laptop (OS/X, 16GB RAM).

[code]

[2017-04-24 13:48] jubjamie opened #9416 "Android Demo: Rotation on some devices broken."
### System information
- **Android**:
- **TensorFlow installed from source**:
- **TensorFlow version 1.0.0**:
N/A

### Describe the problem
The Android Demo code seems to be a bit buggy on our Pixel C. I wanted to confirm that this isn't an issue with the TF code but it's a strange one.

The Rotation in the demo apps on our Pixel C didn't seem to work correctly. It would give the value of 3 when i

[2017-04-24 13:56] rjpg commented on #3340
hello,

the problem using export method is understanding what serving_input_fn is and how to define it.

I still dont know what it is (if there is some documentation about it I would be  grateful).

I mange to use export using the following lines (dont for sure is that is correct ...) :
`
tfrecord_serving_input_fn = tf.contrib.learn.build_parsing_serving_input_fn(layers.create_feature_spec_for_par

[2017-04-24 14:08] nwertzberger commented on #8161
+1 installing cpu only version gives me the same issue.

[2017-04-24 14:24] anonym24 commented on #9412
Actually in debug there also nothing.
And in the main view we can see false (train) detected object

portrait
![portrait](https://cloud.githubusercontent.com/assets/8851301/25341785/add555bc-2912-11e7-8f06-5a508ca782ff.png)

landscape
![landscape](https://cloud.githubusercontent.com/assets/8851301/25341789/b13bdf0a-2912-11e7-988a-c4503406d60a.png)

[2017-04-24 14:31] jubjamie commented on #9412
If you look at the preview screen bottom right you will see that your input is coming through on it's side. That debug preview screen is what goes through the model. As it is on it's side the model will not preform as expected. That's why in landscape you're getting nonsense predictions. Almost all image recognition problems are **NOT** rotation invariant.

On another note, you'll notice that the

[2017-04-24 14:32] JulesKzl commented on #7680
I had the same issue with Tensorflow 1.0.1 and boston.py . Works now fine without errors with update 1.1.0 .

[2017-04-24 14:53] dmonopoly commented on #9314
I'll get to this later this week. Looking around for other fixes as well. Feel free to assign to me.

[2017-04-24 14:56] loretoparisi commented on #5
@asimshankar I'm not sure to understand what is missing to do training with TF Java. Is it a problem od the numeric library (missing numpy)?

[2017-04-24 15:07] skye commented on #9150
I believe Switch, Enter, etc. support resources, and you should not need the RefSwitch etc. versions. Also note that you'll need to use the TF_NewWhile/TF_FinishWhile methods to create while loops, which don't currently support creating Ref* ops anyway.

[2017-04-24 15:09] SubhashKsr commented on #4766
@civilman628 please share that modified retrain.py to support V1 model.

[2017-04-24 15:20] taion commented on #7951
I don't think the proposal here is to get rid of queues entirely, is it?

Dataset-style abstractions are pretty common in this space, and they're quite useful. The existence of a higher-level abstraction doesn't preclude the lower-level API from also existing.

In fact for these kinds of higher-level abstractions, sooner seems better than later – one of the greatest frustrations of reading publish