[2016-10-28 17:52] drpngx commented on #5252
@mrry who might have better insight

[2016-10-28 17:58] drpngx commented on #5264
Yes, you have to run configure. Basically follow the instructions https://www.tensorflow.org/versions/r0.11/get_started/os_setup.html#installing-from-sources

If you actually want to work in-place, you can do so (see "Setting up TensorFlow for Development"). Otherwise follow the instructions from the section above. Make sure you enter the virualenv before pip install.

[2016-10-28 18:07] anjiefang commented on #5234
@drpngx  Thanks a lot!

Here is the code: https://github.com/anjiefang/examplecodes_tensorflow.git

1. By running `./download_data.sh`, a sample data will be download and save in folder `data`
2. Convert images to `tf-records`:  `python convert_image.py ./data` (`tf-records` files will be store under `./data/`)
3. Train the model: `python prediction_train.py --data_dir ./data` (only the `tf-record

[2016-10-28 18:11] weiliu620 commented on #5245
Wait...when I upgrade TF to 0.11.0rc1, I still get the same warning when using mean_squared_error. Also, more surprisingly, ```sum_of_squares``` and ```mean_squared_error``` gives me same results, and it looks the result is the mean squared error.

I hope it's a small issue, because ```sum_of_squares``` is deprecated anyway.

[2016-10-28 18:13] strategist333 commented on #5260
I'm not able to reproduce this on the 0.10.0 TF binary release. Could it be possible that you've made local source modifications?

The intended behavior is indeed to error:
`tensorflow.python.framework.errors.InvalidArgumentError: indices[10] = 10 is not in [0, 10)
	 [[Node: embedding_lookup_1 = Gather[Tindices=DT_INT32, Tparams=DT_FLOAT, _class=["loc:@Placeholder_2"], validate_indices=true, _devi

[2016-10-28 18:20] aselle commented on #5086
Automatically closing due to lack of recent activity. Please let us know when further information is available and we will reopen. Thanks!

[2016-10-28 18:20] #5086 closed

[2016-10-28 18:21] aselle commented on #5083
Automatically closing due to lack of recent activity. Please let us know when further information is available and we will reopen. Thanks!

[2016-10-28 18:21] #5083 closed

[2016-10-28 18:21] aselle commented on #5008
Automatically closing due to lack of recent activity. Please let us know when further information is available and we will reopen. Thanks!

[2016-10-28 18:21] #5008 closed

[2016-10-28 18:23] gunan commented on #5245
If we have a doc update for 0.11, we are accepting them until EOD today.

[2016-10-28 18:26] davidzchen commented on #5191
Thanks!

[2016-10-28 18:28] drpngx commented on #5245
It's been removed at `HEAD`, so I think it's OK. It's not easy to fix the docs so I think it's fine to have that little quirk.

FTR, we had

[code]

[2016-10-28 18:39] woodshop commented on #4859
As a follow-up: I confirmed empirically that the complex gradient is incorrect and I have been using `graph.gradient_override_map` to successfully train my models. I'll be happy to create a pull request with the solution proposed above if a googler agrees.

[2016-10-28 18:45] kkjh0723 commented on #5260
It's weird... I downloaded TF from master branch about a month ago and installed ( I checked the version in the python as stated in the instruction).  I haven't changed the code except some BUILD files because of errors while configuring (related to issue #4312).

[2016-10-28 18:51] jhseu commented on #5261
It does support it:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/c/c_api.h#L973

Python's load_op_library calls it underneath:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/framework/load_library.py#L55

[2016-10-28 18:55] gunan commented on #4968
Thanks for the update.
Old drivers have some known GPU memory issues, so driver update solving this makes sense.
I will unblock the release on this issue now, but please keep us posted.

[2016-10-28 18:57] jart commented on #5253
It's possible that the related issues are https://github.com/bazelbuild/bazel/issues/1022 and https://github.com/bazelbuild/bazel/issues/1595 and https://github.com/bazelbuild/bazel/issues/974. There was another one, but I'm having trouble digging it up.

Also here is an explanation that @davidzchen gave me a week ago regarding the necessity of fetch.

We're also working hard to pay off the techni

[2016-10-28 19:19] apphipster commented on #5237
**When I try to install libtool:**
[code]

**When I try to install libtoolize:**
[code]

**I have libtool but not libtoolize :**
/usr/local/Cellar/libtool/2.4.6/share/aclocal/libtool.m4

[2016-10-28 19:28] drpngx commented on #5253
Nice, thanks!

[2016-10-28 19:32] drpngx commented on #5237
this is the libtool m4 macro file, but not libtool itself.
can you try

[code]

[2016-10-28 19:41] drpngx commented on #5221
If you had a build with debug on, then we might be able to see what the intermediate stack frames are. `ReductionInitKernel` appears to have been passed `nullptr` + offset (maybe 300 or so), so it's pulled from a struct which has about 300 bytes worth of stuff before the output, and that struct instance pointer is nullptr, presumably.

[2016-10-28 19:51] chazchandler commented on #851
While a stable set of instructions may remain elusive, one effective way of documenting a working set is to create your own fork of each of the repos and push any changes you need to make as commits on one branch for each version of TF you're targeting.  Then in a write-up you can refer to specfic branches / commits that are known to work.  You could even go a step further by creating a meta repo

[2016-10-28 19:58] osdf commented on #4913
Thanks @rohan100jain for your effort!! I resolved the issue now by having a subdirectory with-in `/tmp`, which then is used to write saver objects. Actually, this is much cleaner and easier to handle (just move the whole subdirectory out of `tmp`). Should I close this issue?

[2016-10-28 20:03] rohan100jain commented on #4913
Actually I would like to fix this entirely (i.e. even without the sub-dir). Could you try that out and let me know if there are still issues?

[2016-10-28 21:00] drpngx commented on #5221
@benoitsteiner if you're interested.

[2016-10-28 23:13] benoitsteiner commented on #5221
@MInner Can you try with the release candidate for 0.11 ? There was a bug in 0.10 that could explain your CUDA_ERROR_ILLEGAL_ADDRESS error and has been fixed since.

[2016-10-28 23:19] hughperkins commented on #22
Good point.  Thanks!

In theory, fixed in wheel v0.8.0 https://github.com/hughperkins/tensorflow-cl/releases/download/v0.8.0/tensorflow-0.11.0rc0-py3-none-any.whl

Relevant commit: https://github.com/hughperkins/cuda-on-cl/commit/5e7749e4b2b62278e10dfe432a790cc9b85a7013

[2016-10-28 23:44] hughperkins commented on #22
(wheel 0.9.0 adds `reduce_sum`, `reduce_max`, `reduce_mean`, `reduce_prod`, in beta, https://github.com/hughperkins/tensorflow-cl/releases/download/v0.9.0/tensorflow-0.11.0rc0-py3-none-any.whl )

[2016-10-28 23:47] jhseu commented on #5261
Closing, but feel free to reopen if I misinterpreted the issue.

[2016-10-28 23:47] #5261 closed

[2016-10-29 00:13] martinwicke commented on #3550
What is the error you get and what system are you on (OS, gcc version, etc.)?

[2016-10-29 00:15] martinwicke commented on #5033
I did not know about this tool. @yifeif can you look into this one and see if this is something that would work for us? It may actually make the pypi story simpler.

[2016-10-29 00:16] yifeif commented on #5033
Will look into this.

[2016-10-29 00:21] martinwicke commented on #2973
@concretevitamin are you working on this? It seems that the only change needed is in saver to make sure the checkpoint index always contains only relative paths, right?

[2016-10-29 00:34] GrandathePanda commented on #5225
Got it and it was a bad assumption on my part, tf.TFRecordReader.read(queue, name=None) returns a tuple when I assumed it would have returned just the value not (key,value) which I was directly passing into the example parser. Please mark this solved/closed.

[2016-10-29 00:39] concretevitamin commented on #2973
Unfortunately I am currently occupied with some other work, and I don't know the implications (esp. if there are any effects on internal workloads) of just changing the default behavior.  The status quo looks reasonable now, namely users can opt for using relative paths.

[2016-10-29 00:41] drpngx commented on #5225
Great to see that you found the answer!

[2016-10-29 00:41] #5225 closed

[2016-10-29 00:49] drpngx commented on #5260
OK, please continue debugging side-by-side and re-open if you find that the actual problem is in our bits.

[2016-10-29 00:49] #5260 closed

[2016-10-29 00:53] drpngx commented on #4543
Great! @ilblackdragon feel free to post here when the code is merged. Closing, feel free to reopen if the problem persists after our fixes.

[2016-10-29 00:53] #4543 closed

[2016-10-29 01:34] terrytangyuan commented on #5254
I don't think we want to spend time on issues for outside libraries. Please file a bug report in their repo.

[2016-10-29 03:26] jtyberg commented on #2973
I worked around this by following @concretevitamin's example of using a relative path for the model directory.  I actually change the directory to the model directory and set the model directory to the current directory (relative, of course).

[code]

It's a little weird to me, but the model is saved without any path, and I'm able to load it when mounting the model directory into containers at dif

[2016-10-29 03:37] yichengwang125 opened #5268 "Can I use multiple CPU but none GPU on inception v3 code?"
I have access to GPUs on the server, but the sysadmin has trouble on setting up CuDNN and CUDA, and I found when I use multi CPU on CIFAR-10 code, the speed was similar with GPUs.
So I wonder whether there is a way to use the inception code to train the ImageNet in a environment with multiple CPUs like 32 or 64 CPU cores but none GPU?

[2016-10-29 04:25] synap5e commented on #17
I tried a clean rebuild with a fresh cudnn downloaded and on the PATH (`cudnn-8.0-windows10-x64-v5.1`) but no cigar. `cudnn64_5.dll` from this download is 'File version': `6.14.11.8000` and has 'File description': `NVIDIA CUDA 80.0.29 CUDNN Library` .

`cublas64_80.dll` from the CUDA 8.0 path has the same 'File version' but 'File description': `NVIDIA CUDA 80.0.45 BLAS Library`

`cufft64_80.dll` a

[2016-10-29 04:50] guschmue commented on #17
I have the same cudnn version and its works fine for me. There are a bunch of conv python tests in the tf tree and they are all passing. I mostly use a 970 for testing. Your log was specific that it had issues initializing cudnn. Let me take a look at the init code.

[2016-10-29 06:23] apphipster commented on #5237
[code]

[2016-10-29 08:15] synap5e commented on #17
OK the issue appears to be a driver one. I can successfully use cudnn and convolutions once each time I restart the video driver (using device manager disable then enable). Once I have used it in one process however, any future uses fail to initialise.

Furthermore I think other processes are having driver-related crashes once cudnn has been initialised.

[2016-10-29 08:20] liu-mingyuan opened #5272 "Tensorflow stop running while running "sess=tf.Session()""
I am running tensorflow on ubuntu14.04 server using GPU and I had successuflly run the demo in the tutorial about mnist a few days ago.
Today, I run the same demo but to find it get stucked. I find out that I can import tensorflow successfully, but every time I run "sess=tf.Session()" the program will stop. It is strange that **neither error information sent back nor the python quit**. The cursor

[2016-10-29 09:00] KamodaP opened #5275 "[Windows] Cannot import _pywrap_tensorflow when zlib.dll is not in PATH"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

[#1013](https://github.com/tensorflow/tensorflow/issues/1013)
etc...
### Environment info

Operating System:

Windows 10
Installed version of CUDA and cuDNN:
No CUDA ("CPU support only")

Pip wheel was self-build. Here's the output of `python -c "import tensorflow; print(tensorflow.__vers

[2016-10-29 10:42] SriramRamesh commented on #5247
This issue can be closed.
Changes have been merged.

[2016-10-29 11:35] timmeinhardt opened #5276 "TensorBoard histograms NaN value handling"
Recently I had to fight a lot with exploding gradients and thereby weights turning NaN after only several iterations event hough I was using _tf.contrib.layers.variance_scaling_initializer_ correctly. To monitor the problem I started saving weight histograms which seemed totally messed up. I thought this was due to me using the initializer wrongly and only after some debugging I realised my initia

[2016-10-29 13:53] chrisranderson commented on #3550
It's been a while, and I'm now using the binary (yay!) for Cuda 8 so it doesn't affect me anymore. Thanks for checking, though.

[2016-10-29 16:40] drpngx commented on #5247
Thanks for reporting back!

[2016-10-29 16:40] #5247 closed

[2016-10-29 16:43] drpngx commented on #5276
@danmane not sure what the proper thing to do with NaN is, maybe report them in a separate counter or ignore?

[2016-10-29 16:46] drpngx commented on #5275
We now have windows GPU support with cmake. It should work with cuda 6.5.

[2016-10-29 16:47] drpngx commented on #5272
OK, please gdb attach to the process and check the stack trace. Try to install nmon ("n", "d", "c") and see if anything is happening.

[2016-10-29 16:48] drpngx commented on #5272
also, `nvidia-smi -l`.

[2016-10-29 16:50] drpngx commented on #5268
Yes, in theory it's possible, but inception going to be very, very slow so that's probably not something that you'd want to do. Setting up cuda and cudnn can be tricky, but worth the trouble IMO.

[2016-10-29 16:51] #5268 closed

[2016-10-29 16:52] drpngx commented on #5276
Yes, @timmeinhardt please attach summary data in case we want to repro.

[2016-10-29 16:59] drpngx commented on #5223
The fix seems reasonable to me, perhaps send a PR if you have one.

[2016-10-29 17:23] sjperkins opened #5277 "Eigen implemented CPU op is 10 times slower than OpenMP"
I implemented a phase CPU operator consisting of four loop levels. I couldn't find any Eigen tensor docs at that stage so I use OpenMP to trivially parallelise the outer loops. I recently found the Eigen tensor documentation so I thought I'd take advantage of it and get all the multithreading/AVX/SSE goodies for free!

Unfortunately the Eigen version is about 10 times slower!
### What related GitH

[2016-10-29 17:31] KamodaP commented on #5275
That's great that you do!
But i don't have Nvidia, sorry :P
Oh, and I focused so much on that form that I forgot to write what's wrong xD
But that seems evident from the logs. It installs correctly (no cmake errors) but builds with warnings. I have the wheel and folder with setup.py. Both give the same error on import.

[2016-10-29 17:39] drpngx commented on #5277
Thanks! That's pretty interesting. That's an Eigen issue technically, but it might prompt us to have both ops available, at least for comparison's sake.

@annarev @benoitsteiner

[2016-10-29 17:44] drpngx commented on #5275
Oh, I see. Well, you have to debug why it's not loading. There are usually two reasons for that, and python would typically give the same error message:

* The _pywrap_tensorflow.dll is not found in the path. You have to fiddle with the system paths. There are lots of hits on the web to figure that out
* the dll itself does not resolve some transitive dependencies (e.g. it cannot find libcudart).

[2016-10-29 19:09] KamodaP commented on #5275
I copied the dll and libs and other stuff to Python folders already, with no success. But I tried the dependency walker, and here's what I found:
All API-MS-*.dll are missing
All EXT-MS-*.dll are missing
also DEVICECLOCKHELPERS.DLL, EMCLIENT.DLL, ZLIB.DLL are missing

[2016-10-29 19:55] drpngx commented on #5275
try getting zlib1 or zlib in place. The dirtiest, but easiest, is probably to put in in `C:\windows\system`. If you poke around the installation directory these DLLs should be there.

[2016-10-29 20:33] deeptigp commented on #1962
Hi @sherrym  : has this issue been resolved?  I am running into the same problem where the program crashes while trying to save the checkpoint file.

[2016-10-29 21:23] kernelmode commented on #5137
@drpngx, elementary is just an ubuntu 14.04 with custom desktop environment. I will try to reproduce it in docker anyway.

[2016-10-29 22:29] pfaucon commented on #5223
created patch https://github.com/tensorflow/tensorflow/compare/master...pfaucon:patch-1

[2016-10-29 22:48] drpngx commented on #5223
Thanks! Feel free to send the PR.

[2016-10-29 22:48] #5223 closed

[2016-10-29 23:55] paulwasit opened #5280 "Ubuntu 16.04 - GPU-enabled binary for Python3.5 in Anaconda - GPU not detected"
### Issue

I have an old GPU (GTX 560 Ti) with a power compute of 2.1, according to the Nvidia website.

I am using Anaconda3 on Ubuntu, and I used the following binary to install Tensorflow:

[code]

Tensorflow is running, but trying the [Tensorflow.org test about using GPUs](https://www.tensorflow.org/versions/r0.11/how_tos/using_gpu/index.html), I get this output:

[code]

Trying a manual devic

[2016-10-29 23:58] karunmj commented on #5200
Go this to work, thank you @drag0

[2016-10-30 00:15] johnnymakk commented on #4680
@shaolinkhoa - did you manage to find a solution to graph.pb.h not found?
I applied the @magicwifi fix and then had the same problem. On Pi3.

[2016-10-30 00:30] vrv commented on #5280
Sorry, I don't think TF works with nvidia compute 2.1 -- our install page says that we require 3.0 and above. :(

[2016-10-30 00:30] #5280 closed

[2016-10-30 03:00] thjashin opened #5281 "feature: permutation"
This is a feature request on a Tensor creation function based on problems met when using tf.transpose.
Suppose I want to transpose a Tensor `a` (not variable) into a new Tensor, exchanging its two dimensions. Indices of the two dimensions are represented by two Tensors `b` and `c`.
From what I understand, there are only one complicated way of generating the argument `perm` in tf.transpose to achie

[2016-10-30 04:39] shaolinkhoa commented on #4680
Hi @johnnymakk ,
no, i still waiting the solution in this post  #3251

[2016-10-30 04:42] K-Wu opened #5282 "Couldn't open CUDA library libcupti.so.7.5"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
### Environment info

Operating System: Linux Ubuntu 14.04 LTS (64bit)

Installed version of CUDA and cuDNN:  CUDA7.5, cuDNN4
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

-rw-r--r-- 1 root root 189170 Apr 23  2016 libcudadevrt.a
lrwxrwxrwx 1 root root     16 Apr 23  20

[2016-10-30 06:41] cdjkim commented on #5257
I'm running on Ubuntu 14.04.5 LTS

[2016-10-30 07:10] drpngx commented on #5257
Does it SEGV on CPU as well?

[2016-10-30 07:30] drpngx commented on #5249
OK, closing. rc2 will do it, and you can use v1 in rc1.

[2016-10-30 07:30] #5249 closed

[2016-10-30 08:28] KamodaP commented on #5275
I copied this zlib.dll to some places, but nothing changed. And I couldn't find those previous two (or any of those prefixed with *-MS-[...])

[2016-10-30 08:46] sjperkins commented on #5277
It's likely that part of this problem is that sinp and cosp depends on a common sub expression, phase. Eigen is probably evaluating it, and most of the computation,  twice, *if* it doesn't reuse phase. Even so, there's about an order of magnitude difference in the implementations.

I'll try force early evaluation of phase some time to confirm.

[2016-10-30 08:48] timmeinhardt commented on #5276
Yes, of course. Here is some example summary data. All weights were initialised with the default parameters for _tf.contrib.layers.variance_scaling_initializer_.

[events.out.tfevents.1477816723.Tims-MacBook-Pro.local.zip](https://github.com/tensorflow/tensorflow/files/560359/events.out.tfevents.1477816723.Tims-MacBook-Pro.local.zip)

[2016-10-30 10:59] chrisrn opened #5283 "Is there a way of 'cutting' a network?"
I wonder if there is a way of 'cutting' the network. What I want to achieve is fine-tuning of the whole inception v3 network and then implement transfer learning by replacing the last 2 inception modules with new layers. I did the whole fine-tuning using this code https://github.com/tensorflow/models/tree/master/inception on my own dataset taking the last checkpoint that I need but now I don't kno

[2016-10-30 11:04] siilime commented on #19
I have been working on a painful private project for a while using Swift. I'll be migrating the project API library to Swift 3 soon and [opening it up](https://gitlab.com/Omnijar/Ocular) under the same licensing as TensorFlow (Apache 2.0). It was reasonably complete before Swift 3 and I plan to have the Swift 3 version complete before the end of 2016, sans mistakes from original, and including les

[2016-10-30 11:07] LaceyChen17 opened #5284 "tf.contrib.learn output shapes : shapes (?, 1) and (?,) are incompatible"
I tried to train a binary DNNClassifier  similar as the example on https://www.tensorflow.org/versions/r0.11/tutorials/tflearn/index.html#tf-contrib-learn-quickstart.

I got the following traceback
[traceback.txt](https://github.com/tensorflow/tensorflow/files/560406/traceback.txt)

I explored the tensorflow source code and found that it may relate to _get_in_out_shape function in tensorflow/tenso

[2016-10-30 11:32] johndpope commented on #19
@siilime fyi - Google released an official swift3 grpc library last week.
https://github.com/grpc/grpc-swift
There's still some heavy lifting to do to get it all working(eg generate swift 3 services classes). You may want  to revisit your implementation and yield to official library. Surely less painful in the long run. I'm aware of some other  grpc libraries and wrapping the c classes into swift

[2016-10-30 12:57] JimSEOW commented on #18
@asimshankar could you please update this HowTo [[C]](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/how_tos/language_bindings/index.md) with the[ [C++ API] ](https://www.tensorflow.org/versions/master/api_docs/cc/index.html)

Looking through the Java language binding using javacpp[ [1]](https://github.com/tensorflow/tensorflow/issues/5#issuecomment-246237396)[[All APIs impl

[2016-10-30 14:36] hughperkins commented on #22
### Update:
- wheel v0.11.0 released https://github.com/hughperkins/tensorflow-cl/releases/download/v0.11.0/tensorflow-0.11.0rc0-py3-none-any.whl
    - fixes critical bug in v0.10.0 release, where the number of devices was hard-coded to be 0 :-P
    - Aymeric Damien's [2_BasicModels](https://github.com/hughperkins/TensorFlow-Examples/blob/enforce-gpu/examples/2_BasicModels) all run now, on NVIDIA

[2016-10-30 14:38] martinwicke commented on #3569
I believe that may be the problem (see warning in the output). You should
check on the bazel issue tracker.

On Friday, October 28, 2016, Julien Plu <notifications@github.com> wrote:

[2016-10-30 15:58] elibixby opened #5285 "(0.11) parse_single_example doesn't play well with read_file"
minimal reproduction:

[code]

You'll notice that read_file works just fine, and outputs bytes as expected, but then the process will completely lock up, and does not respond to SIGINT, responding only to SIGKILL or SIGTERM. Not sure what's going on here, although I suspect that read_file is reading some leading/trailing bytes that TFRecordReader strips off.

Still it seems like TFRecords should b

[2016-10-30 16:02] siilime commented on #19
@johndpope Good tip. Thanks. My focus was on the server side originally, and it's where the majority of my work has been so I'll be taking a look at that.

[2016-10-30 16:33] mccajm opened #5286 "gcc compile failure on Cray XC30"
Operating System:Cray XC30 (Linux)

$ git rev-parse HEAD
6bf2cc7e618ef16ab36b903752d51316ce99ad99
$ bazel version
Build label: unknown-2016-10-30 (@5abb90d)
Build target: bazel-out/local-opt/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Sun Oct 30 14:59:29 2016 (1477839569)
Build timestamp: 1477839569
Build timestamp as int: 1477839569

$ bazel build -c o

[2016-10-30 16:51] RicardoRodriguezArg commented on #22
hi everyone, my name is ricardo , i am a C++ programmer with many years in C++ experience, and little on Cuda, i will be glade in contribute to this effort. How can i contribute to this job?

[2016-10-30 16:57] drpngx commented on #5286
Sorry, that arch is not supported, that said, look at #5279 for a replacement with std::bind (although that fix breaks on linux)

[2016-10-30 17:00] drpngx commented on #5283
You can keep the layers in the graph. Just add a new connection and `sess.run(x)`.

[2016-10-30 17:05] drpngx commented on #5282
It looks like you need to install the package

[code]

@gunan this looks like this is a new requirement. `libcupti` appears to be a dev profiling library. Not sure when we introduced this requirement.

[2016-10-30 17:08] chrisrn commented on #5283
If I add a new connection, I will have new variables and I think I will have problem with the checkpoint restoration.

[2016-10-30 17:11] drpngx commented on #5284
That looks like a bug in our doc. Could you send a PR?

[2016-10-30 17:19] drpngx commented on #5281
Sorry, what is the problem with `tf.transpose`? Maybe in a larger example?

[2016-10-30 17:22] drpngx commented on #5285
Let me repro this, it looks like the example doesn't work.

Which versions did you try?

[2016-10-30 17:26] elibixby commented on #5285
0.11.0rc0 Also. I think this may be related to system encodings for python, since when running it on Cloud ML I get a utf8 encoding error... sys.getdefaultencoding is ascii (the default). I'm on Goobuntu 14.04.

[2016-10-30 17:36] drpngx commented on #5285
Yeah these parse errors have been appearing, some of them are correct, some aren't, I haven't traced this down yet.

[2016-10-30 18:04] mccajm commented on #5286
@drpngx It is Linux, the CPUs are x86_64 Intel Xeon Skylakes. Wouldn't that be supported and wouldn't the linked fix not work as it's Linux? Thanks.

[2016-10-30 18:16] hughperkins commented on #22
Generally speaking, I would encourage you to find something that you can take ownership of. That means, larger than some tiny bugfix, smaller than, solving world hunger (though if you have a solution to that, that you think might work, dont listen to the naysayers!  Just try it :-) ).  It should be large enough that you can eg create your own github repository from it.  But remember there are gith

[2016-10-30 18:23] elibixby opened #5287 "[tf.learn] MetricSpec doesn't work with streaming_mean"
MetricSpecs always pass both values and labels to metrics, meaning metrics which don't use labels like streaming_mean are broken.

[2016-10-30 18:24] drpngx commented on #5286
Oh, what distro is this? We only support Ubuntu and CentOS.

In any case, it's a bug in the compiler AFAICT. All you need is to make that closure work. You need to capture `sparse_slice`, `slice`, and `slice_num*j`. Alternatively you can change the declaration of `sparse_slice` to `SparseSlice<TL>*`.

[2016-10-30 18:31] RicardoRodriguezArg commented on #22
Ok, i have an Odroid Xu3 with a Mali-T628 MP6(OpenGL ES 3.0/2.0/1.1 and OpenCL 1.1 Full profile)
running on OS: LUbuntu 1404 64 bits
I will make a complete installation and post the result on this platform.
About bugs, there is a list of bugs (something like Bugzilla?) or an spreadsheet with a list of bugs?
Cheers!

[2016-10-30 18:41] dangrie158 commented on #2278
Same here. Linking the libcuda.dylib to libcuda1.dylib fixed the problem. Maybe this step should be added to the documentation as it seems to happen with CUDA 8.0 reproducible

[2016-10-30 18:58] hagerty commented on #4640
The solution that @alphamule posted worked for me.

[2016-10-30 18:59] hughperkins commented on #22
running on OS: LUbuntu 1404 64 bits
I will make a complete installation and post the result on this platform

Cool!  Sounds good :-)

https://github.com/hughperkins/tensorflow-cl/issues

[2016-10-30 19:01] shoyer commented on #5287
I wouldn't say that streaming_mean is broken. Rather, it just doesn't fit the mold of the other metrics. We should consider moving it and other similar "metrics" like streaming_concat into their own library of primitives for streaming computation.

[2016-10-30 19:13] elibixby commented on #5287
Maybe.. To me both the Metric and Monitor patterns feel too restrictive to me, for what they are (basically run this thing in the training loop somewhere). They feel similar but different enough to be frustrating. I don't have any concrete suggestions yet but I'm thinking about it (along with a lot of other tf.learn thoughts).

[2016-10-30 19:17] #5287 closed

[2016-10-30 19:44] #3047 closed

[2016-10-30 20:23] kierson commented on #5247
Hey again.
The merged PR is not the real fix as directory names should be changed because more html files depend on old names (names with "-" not with "_").
Basically currently any single html file inside https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tensorboard/components and subdirectories has wrong paths.

[2016-10-30 20:25] deeptigp opened #5289 "TF freezes and gets killed while training /saving a network"
I am trying to train a deep network from scratch (a 4 layer [CIFAR](https://www.tensorflow.org/versions/r0.11/tutorials/deep_cnn/index.html#cifar-10-model) network) on an image collection of 100K images. The TF instance hangs (while training or while saving using tf.Saver) and then gets killed without any error message.

I've tried the following things without any use:

a. Reduced the batch size f

[2016-10-30 20:25] sjperkins commented on #5277
Early evaluation of the common sub expression does reduce the overall Eigen compute time by a factor of 2 to 4.71 seconds.

[2016-10-30 20:26] drpngx commented on #5247
Ouch, right. Feel free to send a general PR.

[2016-10-30 20:44] drpngx commented on #5275
Can you give the full names?

[2016-10-30 21:24] drpngx commented on #5289
There should always be a log somewhere when you get killed, unless you actually run out of memory.

Try setting the env var `GLOG_logtostderr=1`, and also look at `dmesg` to see if you have been sacrificed.

[2016-10-30 21:32] yhg0112 commented on #5117
i'm really sorry about late response.

i have just pulled the master branch and re-installed tensorflow (`tf.__version__` is 0.11.0rc1), and nothing changed yet.

Isn't my bug-reproducing code example simple enough? the error seems to happen when i try to put `scan`ed tensor into double `map_fn` (or `scan`) loop. It's really strange that it works if i first run `sess.run(optimizer, ...` but it doe

[2016-10-30 22:24] yhg0112 commented on #5117
i've run the example with pip installed version tensorflow (`tf.__version__` is 0.11.0rc2).

And the error didn't happen. i think it is solved. thank you all.

[2016-10-30 22:24] #5117 closed

[2016-10-30 22:28] yaroslavvb commented on #5289
Does GLOG_logtostderr do anything? I thought that was for gflags only which
isn't in TF

On Sun, Oct 30, 2016 at 2:24 PM, drpngx <notifications@github.com> wrote:

[2016-10-30 22:28] drpngx commented on #5117
Yay!

[2016-10-30 22:49] drpngx commented on #5289
Oh, we don't use glog, right.

[2016-10-30 23:18] hoangmit opened #5291 "[Bug] reduce_logsumexp examples do not work in 0.11.0rc1"
Version: 0.11.0rc1

These examples do not work:

[code]

Because:
`tf.squeeze(t, squeeze_dims)` does not take integer for `squeeze_dims`

[2016-10-30 23:44] drpngx commented on #5291
Nice find! So you mean we should use `1.0` etc? Feel free to send a PR for the docs.

[2016-10-30 23:51] hoangmit commented on #5291
No. I mean this is a bug. Currently, `tf.reduce_logsumexp(x, 0)` crashes. It should return the result in the doc.

[2016-10-31 00:14] drpngx commented on #5291
Does it crash or return an error?

[2016-10-31 00:18] hoangmit commented on #5291
It returns an error:
[code]

[2016-10-31 00:27] drpngx commented on #5291
Oh, you can't send a list directly, you have to construct a tensor, for instance, with `zero_initializer`.

[2016-10-31 00:34] hoangmit commented on #5291
It is not the problem with the input. (e.g.# 'x' is [[0, 0, 0], [0, 0, 0]])
I did construct a tensor and pass it in.

The problem is at line 1295 in file "tensorflow/python/ops/math_ops.py". `array_ops.squeeze` does not take integer as the 2nd parameter.

[2016-10-31 00:37] drpngx commented on #5291
Ah, ok, thanks! Feel free to submit a PR with doc changes.

[2016-10-31 00:39] zafartahirov commented on #4923
Also, the example files don't exist, so even changing the code will fail -- the files `iris_test.csv` and  `iris_train.csv` need to be committed.

[2016-10-31 01:46] landinggao commented on #5182
Sorry, I'm failed to fix it. But I found a walkaround:
I built the master branch successfully, then checkout to branch r0.9, and built it with --fetch=fasle, it's done.
In fact, before that I tried fetch //..., but it always failed for some packages.

[2016-10-31 01:50] llhe opened #5293 "TFRecord file support with Hadoop Mapreduce/Spark"
MR/Spark are commonly used for ETL and feature generation, it's better to support close integration with such systems. More specifically, supporting the following:
1. TFRecord file Mapreduce InputFormat/OutputFormat
2. Integrating Feature/Example proto classes

[2016-10-31 01:52] drpngx commented on #5182
Great to see you figured it out!

[2016-10-31 01:52] #5182 closed

[2016-10-31 01:57] drpngx commented on #5293
@jhseu for comments

The native format for Spark is parquet, for which you can now get a C++ reader/writer from impala.

The ORC format does have a C++ reader, but it lacks bloom filters and a variety of compression algorithms. It has been extracted out of the hadoop code as a standalone recently.

The legacy MR RCFile format is very, very Java dependent and I wouldn't want to support that.

[2016-10-31 02:09] llhe commented on #5293
@drpngx I mean writing TFRecord file with MR and Spark directly (e.g. to HDFS/GCS or customized file system which can be accessed by tensorflow), avoiding unnecessary and slow data conversion in the python code. We have some code to make this possible and would like to contribute if applicable.

[2016-10-31 02:13] drpngx commented on #5293
That sounds great!

[2016-10-31 02:33] DjangoPeng commented on #4453
Fixed, close.

[2016-10-31 02:33] #4453 closed

[2016-10-31 04:14] liu-mingyuan commented on #5272
Thank you very much, the problem has been solved. As **drpngx** said, when I run "nvidia-smi", the server also stoped working. As a result, I re-install the CUDA and Cudnn, then all the problem has been solved. Not intentionally, maybe someone who share the same machine or even I myself had changed some configuration.  All in all, thank you very much.

[2016-10-31 04:43] xinghedyc commented on #5282
@drpngx it works for me. thanks!

[2016-10-31 04:51] drpngx commented on #5272
Glad to hear you're good to go!

[2016-10-31 04:51] #5272 closed

[2016-10-31 04:52] drpngx commented on #5282
Nice!

[2016-10-31 04:52] #5282 closed

[2016-10-31 05:00] joshsuihn opened #5295 "Python import error, undefined symbol: _Z14tf_git_versionv"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

### Environment info
Operating System: Ubuntu16.04

Installed version of CUDA and cuDNN: 8.0 and 5

Python 2.7.12 (default, Jul  1 2016, 15:12:24)
[GCC 5.4.0 20160609] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", l

[2016-10-31 05:25] drpngx commented on #5295
Can you attach the copy of:

[code]

Did you build this yourself or did you download a binary distribution?

[2016-10-31 05:26] gunan commented on #5282
@aselle @zheng-xq @martinwicke
I think this is a clue right here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/docker/Dockerfile.devel-gpu#L90

Any idea when/how we started depending on libcupti?

[2016-10-31 05:29] drpngx commented on #5295
I am suspecting that this is an older version of the so file, and since we introduced the `tf.GIT_VERSION` later, you have the new python files loading the old shared object.

[2016-10-31 05:38] joshsuihn commented on #5295
I built this myself with this commit:
git clone https://github.com/tensorflow/tensorflow
git checkout a5f8f42cb29d890650c4ca5fac6654884856a8e1

Yes, TF version is r0.10.

[2016-10-31 05:39] drpngx commented on #5282
@yifeif

[2016-10-31 05:43] drpngx commented on #5295
Can you check the dates on the so file and the python file? Are you using virtualenv?

[2016-10-31 05:50] joshsuihn commented on #5295
$ ls -alh /usr/local/lib/python2.7/dist-packages/tensorflow/python/_pywrap_tensorflow.so
-rwxr-xr-x 1 root staff 129M Oct 31 04:05 /usr/local/lib/python2.7/dist-packages/tensorflow/python/_pywrap_tensorflow.so

$ ls -al /usr/bin/python
lrwxrwxrwx 1 root root 9 Dec 10  2015 /usr/bin/python -> python2.7

ls -al /usr/bin/python2.7
-rwxr-xr-x 1 root root 3111304 Jul  2 20:31 /usr/bin/python2.7

Actual

[2016-10-31 05:51] drpngx commented on #5295
OK, it looks recent enough. `nm` output, please.

[2016-10-31 05:53] joshsuihn commented on #5295
The nm output is too big (24 mb txt file) Is there any specific lines you want to check?

[2016-10-31 06:00] joshsuihn commented on #5295
Is this related to gcc version ? or c++ mingling?

[2016-10-31 06:12] thjashin commented on #5281
@drpngx Sorry for not being clear. I mean generating `perm` for tf.transpose() is a little too complex in this simple condition. Could it be possible to add an op that help generate Tensors like `perm`?

[2016-10-31 06:20] drpngx commented on #5295
Yes, it shows as U, which means undefined. I'd need to check later, but I'm guessing that the script failed to define the symbol. Could you bazel clean, to be sure? See what happens to the `tf_version_info_generate`. It's supposed to put something in `bazel-genfiles/tensorflow/util/version_info.cc`. That should have the git version in there. If it's there, check the lib file and so on.

[2016-10-31 06:20] drpngx commented on #5281
@rmlarsen for advice

[2016-10-31 06:34] willshion commented on #37
+1s

[2016-10-31 06:44] joshsuihn commented on #5295
Ok, Thanks, I'm rebuilding after bazel clean now. Let me check the path and the file then will let you know.

[2016-10-31 08:16] GuangmingZhu commented on #311
The same problem occurred when I was running the cifar10_multi_gpu_train.py script with the device placement logging turned on. I have no idea what do you mean when you say "I must have accidentally built the python package without the "--config=cuda" flag", can you tell which python package you rebuilt?

[2016-10-31 08:21] wangyang0918 commented on #2655
Sure, I will send a pull request to ecosystem when it could work

[2016-10-31 08:23] sahil912 opened #5297 "Issue on Compile protobuf.sh?"
Hi,

I am trying to setup latest version from tensorflow for iOS, in the process first step to  run **download_dependencies.sh** works fine, and then in the next step to run the **compile_ios_protobuf.sh**  is resulting in following error:

    .....
    glibtoolize: copying file 'm4/ltsugar.m4'
    glibtoolize: copying file 'm4/ltversion.m4'
    glibtoolize: copying file 'm4/lt~obsolete.m4'
    c

[2016-10-31 08:58] wangyang0918 opened #5299 "How can I make distributed tensorFlow support failover?"
I create a 4 nodes tensorflow cluster, 2 worker, 2 ps. When the worker or ps fails, I relaunch it with the same configuration on the machine. However, it cannot continue to work from the checkpoint.
Does distributed tensorflow still not support failover?

This file "model.ckpt-24" is only on the machine( task 0 of worker), the trace is as follows.

Traceback (most recent call last):
  File "/dump/

[2016-10-31 09:17] redst4r commented on #4709
found this very convenient `show_memory` flag, which allows you to display mem-allocation over time in chrome-trace:

[code]

[2016-10-31 10:23] maltebaumann commented on #5187
Hi I'm seeing similar issues with my code.

I'm trying to fine tune an FCN-32s built using Marvin Teichmanns [implementation](https://github.com/MarvinTeichmann/tensorflow-fcn). In order to do so I generate TFRecords from MSCoco images, containing the image, a label and some metadata. If I generate 1000 records everything works fine, but beginning at 5k records I get random wrong shape errors like

[2016-10-31 11:01] KamodaP commented on #5275
Here you go: [dll_names.txt](https://github.com/tensorflow/tensorflow/files/561571/dll_names.txt)

[2016-10-31 11:03] hholst80 opened #5301 "Feature request: Automated builds for AVX2"
Would it be possible to add also AVX2 optimized builds to the automated PIP builds provided by Google?

[2016-10-31 11:08] greaber commented on #5234
In my case, the writing code is:

[code]

and the reading code is:

[code]

Is the bug in this code?

Also, what is the rationale for using a non-self-describing format for tfrecords and also for using a non-standard format?  It seems to me hdf5 or a subset would be better.

[2016-10-31 12:19] liusida commented on #3388
Unfortunately, after [b21c69a](https://github.com/tensorflow/tensorflow/commit/b21c69a266b9058133827d12f8915829ae07cd9a) fix, this exception will come up oftenly (not every time.):

Exception ignored in: <bound method BaseSession.__del__ of <tensorflow.python.client.session.Session object at 0x7f78b6702a58>>
Traceback (most recent call last):
  File "/home/liusida/anaconda3/lib/python3.5/site-pack

[2016-10-31 13:12] jplu commented on #3569
Apparently it is indeed a known issue https://github.com/bazelbuild/bazel/issues/1970 I gonna try the fix and let you know.

[2016-10-31 13:54] beniz opened #5302 "C++ memory leak after `Session::Close()` / C++ equivalent to Python `reset_default_graph()` ?"
Using C++ API, memory (RAM) does not appear to be fully released after `Session::Close()` is called.

See code snippet below. Running it within a loop eventually eats up all RAM and gets killed by system.

From reading around, I understand that the closing of the session does not release the underlying graph. In Python it seems that `reset_default_graph()` releases the graph resources.

Is there a

[2016-10-31 13:57] chrisrn commented on #5283
I have worked at this code https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/image_retraining/retrain.py
too and the transfer learning here is easy to understand, but if I decide to implement it in this way I need to create a protocol buffer file for my 'fine-tuning' graph. But I hope there is an easier way.

[2016-10-31 14:36] jplu commented on #3569
I still have the same issue :(

[code]

I think it is due to the configure, as I have selected only one Python library path, how is it possible to select multiple paths?

[2016-10-31 14:44] caisq commented on #5301
@gunan, what do you think?

[2016-10-31 14:56] holyseven commented on #4331
@martinwicke @ziky90 Hi I am currently using streaming_mean_iou function too. I want to know if there is a way to get the confusion matrix for precision of each class, not only the average.

[2016-10-31 15:46] asimshankar commented on #18
@JimSEOW : What sort of update are you suggesting? Our intention is to have the Java API implemented on top of the C API as mentioned in the doc using JNI.

I haven't looked into the details of javacpp/cppsharp, perhaps @jhseu has and might have some thoughts on the pros and cons of the two approaches.

[2016-10-31 15:47] dprylipko opened #5303 "Error compiling on ARM with -mfpu=neon: can’t find a register in class ‘LO_REGS’ while reloading ‘asm’"
Hi,

I am trying to compile TF for an ARM device and to exploit NEON-related optimizations.
Basically, I follow these instructions for PI (my device is a Sabre Board, not PI): https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile

but with a bit different flags, namely:
`make -f tensorflow/contrib/makefile/Makefile OPTFLAGS="-Ofast -mfpu=neon -funsafe-math-optimizations

[2016-10-31 16:08] johndpope commented on #19
Looks like @rxwei has made some progress here around providing some basic test cases  around a swift wrapper for the  tensorflow c api.

https://github.com/rxwei/tensorflow/tree/master/tensorflow/swift
https://github.com/rxwei/CTensorFlow

[2016-10-31 16:15] #3985 closed

[2016-10-31 17:24] gunan commented on #5301
Unfortunately, we do not have machines that have avx2 support for all configurations we have.
I can see ourselves upgrading some of the machines soon, however as Apple did not update mac pro's this year, I see no way for us to release avx2 images for mac.
For linux, this might be possible in some near future, but not immediately.

[2016-10-31 18:05] joshsuihn commented on #5295
I can't find version_info.cc  file, neither util dir. :(
$ ls ./bazel-genfiles/tensorflow/
contrib  core  models  python

[2016-10-31 18:08] eamartin opened #5305 "More programmatically configurable TensorBoard graph visualization"
I'm repeatedly making small tweaks to graphs and visualizing them in TensorBoard.
Here are two feature requests for TensorBoard that would make this workflow significantly smoother:

(1)
Allow the user to specify that a node should always be drawn in the main graph or as an auxiliary node.  Alternatively, add an option to draw all nodes in main graph.

Currently, TensorBoard chooses to put nodes i

[2016-10-31 18:22] martinwicke commented on #4331
That would be a better question for StackOverflow.

[2016-10-31 18:30] rwightman commented on #2973
I certainly understand the concern of not knowing the implications of changing default behaviour. Perhaps adding an argument to force saving as relative to checkpoint dir would be a reasonable compromise that won't risk breaking existing code?

Using relative paths or changing working directories within the script aren't viable long term workarounds. Anyone who maintains their code and data or out

[2016-10-31 18:42] aselle commented on #3180
This would be a great optimization pass to contribute when XLA (our compiler framework is open soruced) [see here](https://www.tensorflow.org/versions/master/resources/xla_prerelease.html)

[2016-10-31 19:04] zafartahirov opened #5308 "[Readability Issue] Using __all__ vs. wildcards"
I have noticed that a lot of `__init__.py` files in the repo include

[code]

I believe a more appropriate approach would be to use `__all__`. According to PEP 8 documentation:

[2016-10-31 19:06] vrv commented on #5308
@drpngx is in the process of sealing our public interface via `__all__` and some other mechanisms.

[2016-10-31 19:23] zafartahirov commented on #5308
Actually, there is another problem, and I am not sure if I should open a new issue (in case the introduction of `__all__` fixes it) -- it is a little more severe:

A lot of files disable `pylint` messages, but don't enable them in the end -- this potentially might cause a missed warning if several files are imported, because `# pylint disable` is a global disable.

[Here are all the files that mod

[2016-10-31 19:26] vrv commented on #5308
Probably a separate issue for that one.

If you want to try to help contribute fixes for those, that would be awesome.

[2016-10-31 19:27] drpngx commented on #5308
Yes, it's a long story :-)

We are using all, but this has issues, too. So we're starting to roll out `remove_undocumented`.

Here's how it works in a nutshell:

* `__all__` only works one level down
* `remove_undocumented` actually deletes symbols
* Splitting between interface and implementation

So, for instance, in `tensorflow/python/__init_.py`, we do

[code]

The `__all__` in `standard_ops` w

[2016-10-31 19:28] drpngx commented on #5308
@zafartahirov nice find, please send a PR fixing the missing ones

[2016-10-31 19:32] asimshankar commented on #5080
Closing this issue out due to inactivity. Let us know if there still is a problem. Thanks!

[2016-10-31 19:32] #5080 closed

[2016-10-31 19:33] asimshankar commented on #5120
Closing this out due to inactivity. Feel free to reopen if there still is an issue (and do add in the requested details). Thanks!

[2016-10-31 19:33] #5120 closed

[2016-10-31 19:36] zafartahirov opened #5309 "Pylint `disable` should be followed by `enable`"
There is a problem, which might have high severity:

A lot of files disable `pylint` messages, but don't enable them in the end -- this potentially might cause a missed warning if several files are imported, because `# pylint disable` is a global disable.

[Here are all the files that modify the `pylint` related to the `wildcard-import`](https://github.com/tensorflow/tensorflow/search?utf8=%E2%9C%

[2016-10-31 19:37] zafartahirov commented on #5308
Yeah, I would love to contribute to the fixes, but I have a paper due the end of the month -- will try to do it over the weekend, no promises though 😄 . If this issue is still open by Saturday, I will send a PR for the current issue as well as #5309

[2016-10-31 19:49] wcardoen commented on #4841
I performed a ./configure with GPU enabled, the build did not work.
GPU support will be enabled for TensorFlow
bazel build  -c opt --verbose_failures --config=cuda //tensorflow/tools/pip_package:build_pip_package
INFO: $TEST_TMPDIR defined: output root default is '/scratch/local/hpcapps/bazel'.
..............
WARNING: Sandboxed execution is not supported on your system and thus hermeticity of acti

[2016-10-31 19:59] aselle commented on #5243
Could you send the full stack trace not just the part that says invalidargumentError (attach it as a file)?

[2016-10-31 19:59] spiantino opened #5310 "Makefile downloads/ breaks ./configure"
I'm rebuilding tf on Sierra and with CUDA 8.0 and Xcode 8.0 but ./configure fails with:

INFO: Starting clean (this may take a while). Consider using --expunge_async if the clean takes more than several minutes.
........
ERROR: /Users/serkan/tensorflow/tensorflow/contrib/makefile/downloads/protobuf/BUILD:544:1: no such target '//external:gson': target 'gson' not declared in package 'external' defi

[2016-10-31 20:02] asimshankar commented on #4968
@jonasrauber : I'll close this out for now. Do re-open if you start suspecting something other than the driver-version/CUDA-library compatibility. Thanks!

[2016-10-31 20:02] #4968 closed

[2016-10-31 20:06] aselle commented on #5243
For the short term you can just broadcast the images tensor to to be shape 128,24,24,3 (i.e. copy the image 128 times).  i.e.
[code]

[2016-10-31 20:08] asimshankar commented on #10
@jmhodges : So far whatever functionality the [Go API provides](https://godoc.org/github.com/tensorflow/tensorflow/tensorflow/go)  doesn't require protobuf. But of course, the functionality is limited at this point.

If y'all have any feedback on the API as it is today and what you'd find most useful in terms of additional functionality or changes, we'd greatly appreciate that.

[2016-10-31 20:09] drpngx commented on #5295
Do you have this?

[code]

What does

[code]

say?

[2016-10-31 20:13] vrv commented on #5295
I'd also try to upgrade to 0.11 -- I believe there might have been some git_version issues in 0.10 that have been long since fixed.

[2016-10-31 20:25] aselle commented on #5297
What version of MacOS? Did you do
```brew install automake``` yet?

[2016-10-31 20:28] jhseu commented on #5293
@llhe Yeah, that sounds useful. If you have it working, please send a pull request to http://github.com/tensorflow/ecosystem instead of the core TensorFlow repository.

[2016-10-31 20:33] aselle commented on #5310
Unfortunately we have not built or tested on Mac OS sierra yet. I will keep this open and let you know. We're not sure if it is a underlying Bazel not supporting MacOS sierra or if it is a tensorflow. @gunan, @jart any thoughts? Another issue is having Sierra issues too (#599).

[2016-10-31 20:38] aselle commented on #5252
@ebrevdo, could you comment on this?

[2016-10-31 20:39] jhseu commented on #18
Yeah, we suggest that you implement it on top of the C API because we'll have versioning stability there after the 1.0 release. It's also what the other language bindings will be using, including Java, which won't be built using javacpp.

[2016-10-31 20:39] aselle commented on #5299
This is a question better suited for StackOverflow, which we also monitor. Please ask it there and tag it with the `tensorflow` tag. @mrry may have additional comments, however.

[2016-10-31 20:39] #5299 closed

[2016-10-31 20:45] jart commented on #5310
This is unrelated to Sierra. It's a flaw in the design of contrib/makefile. What most likely happened is you tried out the Makefile build system. Then you decided to go back to using Bazel. Because `bazel fetch //tensorflow/...` crawled the protobuf build files in the downloads directory left over by the makefile, and those BUILD files defined external dependencies we don't specify, things didn't

[2016-10-31 20:47] aselle commented on #5303
This looks like a problem compiling gemmlowp. So you should perhaps file a bug on http://github.com/google/gemmlowp/issues ... On their github README, they say that this is sometimes caused by having an insufficient compiler.

[2016-10-31 20:48] aselle commented on #5303
@maciekcc, could you please comment on this?

[2016-10-31 20:57] aselle commented on #5302
Are you using tcmalloc? If not you should try that first. tcmalloc is a much more efficient malloc than default which prevents memory fragmentation which can easily look like a memory leak.

[2016-10-31 21:01] spiantino commented on #5310
@jart removing the makefile downloads worked. Thank you!

[2016-10-31 21:01] aselle commented on #5310
Thanks @jart for the quick responsee

[2016-10-31 21:05] aselle commented on #4902
Closing due to inactivity. Please comment with new information and I will reopen.

[2016-10-31 21:05] #4902 closed

[2016-10-31 21:08] aminbenarieb commented on #5237
Same error.

[2016-10-31 21:08] aselle commented on #5046
You can try the timelines profiler e.g.
http://stackoverflow.com/questions/34293714/tensorflow-can-i-measure-the-execution-time-of-individual-operations/37774470#37774470

Closing for now since it is not clear that it is a bug. You might try asking on StackOverflow since this question is more "how to get good performance on TensorFlow" rather than "TensorFlow is broken." Please reopen if you find

[2016-10-31 21:08] #5046 closed

[2016-10-31 21:09] aselle commented on #5022
Closing due to inactivity. Please comment with new information and I will reopen.

[2016-10-31 21:09] #5022 closed

[2016-10-31 21:13] aminbenarieb commented on #5237
Fixed by reinstalling libtool: `brew uninstall libtool && brew install libtool`.

[2016-10-31 21:15] drpngx commented on #5309
Do you have a PR that you could send?

[2016-10-31 21:16] jart commented on #5310
Always happy to be of service. Enjoy TensorFlow.

[2016-10-31 21:24] zafartahirov commented on #5309
I don't -- I might be able to look into the fix over the weekend

[2016-10-31 21:27] IsaacBanjo commented on #3008
@ilblackdragon thanks for your response. I already wrote a tensorflow graph myself and make it work. The `Estimator` class seems not having a model_type as an argument; i.e., I can't choose what kind of cell to pass in as my network's major component. And it does not have predict_proba function either. Thanks!

[2016-10-31 21:30] drpngx commented on #5309
Feel free to send CC me on the PR when you're ready! Thanks.

[2016-10-31 21:36] maciekcc commented on #5303
I'm on it. What compiler are you using? Some quick things you might check: try adding -fomit-frame-pointer if it's not enabled (it saves one extra register), or remove '-mthumb' (-mno-thumb) if you are using that.

[2016-10-31 21:46] beniz commented on #5302
@aselle stunning, memory now perfectly handled! Many thanks for the quick answer.

I guess TF is developed with and thus for `tcmalloc` as default. Using various `resnet` architectures, the C++ code above was in practice not usable with standard `malloc`.

Slightly more info for the users possibly finding this thread in the future:
- TF + tcmalloc appears to be the way to go: https://github.com/te

[2016-10-31 21:46] #5302 closed

[2016-10-31 21:47] thatsvishalhere commented on #1325
@ilblackdragon While following the directions as given on https://www.tensorflow.org/versions/master/api_docs/python/state_ops.html#exporting-and-importing-meta-graphs, when I use the code:

`new_saver = tf.train.import_meta_graph('my-save-dir/my-model-10000.meta')`
`new_saver.restore(sess, 'my-save-dir/my-model-10000')`

and then try to reuse the variables, it says the variables aren't defined. I

[2016-10-31 22:17] Mazecreator commented on #4714
I made a first shot at the DASHBOARD page.  The text in the summary should be aligned but Paint didn't help me there so I drew a gray line to show they are all aligned (line optional).

Hopefully this give you a good idea of what is in my mind with this request.  Tensors might be exportable or can be viewed in a grid on a separate page if they are larger than a certain size (for performance).  Ran

[2016-10-31 22:38] #5251 closed

[2016-10-31 22:38] drpngx commented on #5251
Thanks!

[2016-10-31 22:42] drpngx commented on #3251
I don't see anything in that directory that creates the `graph.pb.h`, you have to call `protoc` yourself.

[2016-10-31 23:00] gunan commented on #5310
@petewarden do you think we can easily fix this issue by modifying makefile?

[2016-11-01 00:05] petewarden commented on #5310
Thanks to some help from @jart I have a better understanding of what's happening here. It sounds like we could avoid this problem by removing the BUILD file as part of the download_dependencies script, and that would avoid this issue. I'll reopen this and take a look at it.

[2016-11-01 00:42] zafartahirov opened #5314 "Add more "synthetic" datasets in the `contrib.learn`"
The feature request is as in the title -- having synthetic datasets for demo purposes, and to see how different algorithms behave would be beneficial. It is fairly straightforward to generate two-dimensional multi-class set for a lot of synthetic problems.

[2016-11-01 01:40] llhe commented on #5293
@jhseu Yeah, I noticed that repo, looks like it's mainly for deployment. Perhaps I can also add this application level stuff. Thanks.

[2016-11-01 02:18] tobegit3hub opened #5316 "Invalid argument when accessing HDFS"
We have installed pseudo-distributed HDFS in local and use the default port, 9000. We follow the example code from `https://github.com/tensorflow/tensorflow/issues/2218` but it throws `InvalidArgumentError`.

Our code looks like this and it works if we change to local filesystem.

[code]

And the error log looks like this.

[code]

### Environment info
Operating System: CentOS 7.0
TensorFlow: 0.11

[2016-11-01 02:27] jkschin commented on #4830
@flyfj refreshing the page does not work for me.

[2016-11-01 02:35] edrozenberg opened #5317 "Build - leftover bazel processes after build complete"
After running a successful build, 2 or 3 bazel processes remain along with many child processes for each one - they don't take up any CPU resources. Have to kill the processes manually to get rid of them.

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

None!

### Environment info
Operating System:
```Slackware 64 14.2```

Installed ve

[2016-11-01 03:59] zafartahirov commented on #4912
Probably, documentation should be temporarily be changed to "Docker flow" for Windows - at least until `pip` is fully working on Windows.

[2016-11-01 04:46] bhomass commented on #5141
I disabled SIP, but still get the error
Library not loaded: @rpath/libcudart.8.0.dylib
  Referenced from: /Library/Frameworks/Python.framework/Versions/3.4/lib/python3.4/site-packages/tensorflow/python/_pywrap_tensorflow.so

what else do I try?

[2016-11-01 04:47] wangyang0918 commented on #5299
OK, thanks

[2016-11-01 05:03] wookayin commented on #4361
For (2), I agree with @bsautermeister because as I believe adding dependences on `train_op` looks sound. For some reasons, one may compute loss value (i.e. forward-prop) for validation datapoints; but with dependences on `loss` batch-normalization statistics are also taken from validation set.

For (3), do we need to share the BN parameters for `bn_train` and `bn_inference`? (in the original code

[2016-11-01 05:58] llhe commented on #5293
@jhseu @drpngx I just created a pull request for ecosystem: https://github.com/tensorflow/ecosystem/pull/18

[2016-11-01 06:03] drpngx commented on #5293
Nice!

[2016-11-01 06:03] #5293 closed

[2016-11-01 06:19] sahil912 commented on #5297
I am using macOS Seirra version 10.12. On running brew automake i get the following

   Warning: automake-1.15 already installed
   Warning: You are using OS X 10.12.

jfyi I am having Xcode 7.3 and Xcode 8.0 on the same system, hope that should not be a problem.

Thanks

[2016-11-01 06:40] tomasreimers commented on #3017
@danieleghisi, did this work for you? I am still finding I need to link against the gif_archive / jpeg_archive / png_archive to get the functions that underly the DecodeImage ops...

[2016-11-01 07:08] meherkasam commented on #4902
Deleting my local repo and cloning the latest source code seems to have fixed the issue. I am able to build and deploy the camera example now. Thank you for the help.

[2016-11-01 07:17] ohadle commented on #5141
Good to know.
1. Make sure you have cuDNN installed.
2. Try running from python (not ipython). E.g. `python -c "import tensorflow"`

[2016-11-01 08:08] StuartAxelOwen commented on #135
@yselivonchyk awesome - I came here with a similar problem with conda, but when trying to install the google cloud pubsub client lib.

[2016-11-01 08:09] AFAgarap opened #5319 "Object of type 'path' has no field "realpath"."
I upgraded to 0.11rc1 as you have advised, @tatatodd in issue #4841 . I did a `sudo ./configure`, and this was the result:

[code]

Thanks in advance for your response.

[2016-11-01 08:29] apphipster commented on #5237
When trying to
`$ brew uninstall libtool && brew install libtool`

It displays the message:
[code]

Create the folder (if not exist) and take ownership of it:
`$ sudo mkdir /usr/local/include`
`$ sudo chown -R $USER:admin /usr/local/include`

Now try to build:
`$ tensorflow/contrib/makefile/compile_ios_protobuf.sh`

**I managed to compile tensorflow now.**
I have observed only some deprecation war

[2016-11-01 08:58] siilime commented on #19
I've done a lot of review work over my original code base and the official Swift gRPC code base in the past few days, and although there's advantages to using the gRPC in some cases, there's still a lot missing, (specifically an easy option to train TensorFlow directly from Swift), and those gaps are the areas I'll be focusing on, whilst aiming to develop a complete solution in Swift.

Good start

[2016-11-01 09:05] thesby opened #5320 "How to Read tensorflow source code with an IDE ?"
Is there any IDE support bazel so that I can use IDE to read the source code ?

[2016-11-01 09:26] AFAgarap commented on #5319
Already fixed this by download the `tar.gz` file. The problem now is when I'm doing `bazel build`, my computer freezes.

[2016-11-01 09:37] llhe opened #5321 "Filesystem FileExists interface is broken"
The FileSystem define the following interface, which can't handle temporary runtime errors properly but just swallow them (like GCS, HDFS and any customized DFS),
[code]
It should be changed to
[code]
I can provide a patch if no one is working on this.

[2016-11-01 09:43] rxwei commented on #19
Currently the C API is under-documented and offers only a few core components, Graph, Tensor, and Session. I start to wonder if wrapping all the C API is worthwhile.

[2016-11-01 09:48] llhe opened #5322 "Remove unnecessary GCS customized python code"
We have a GCS-like file system (blob store) and added the support without any customized python code (event summary input for tensorboard is not needed either).

It's better to clean them up. At least, refactor and clean up the following code because wen shouldn't change any python code when we adding a new file system:
[code]

I can contribute if no one is working on this.

[2016-11-01 09:53] JimSEOW commented on #18
@asimshankar @jhseu I understand that you plan to provide Java API using JNI. Do you have a path for .NET API?

Why abandon  [C++ API?] (https://www.tensorflow.org/versions/master/api_docs/cc/index.html) Users of Javacpp has already using the C++ API. It is a matter of time for cppSharp to catch up.

If there is no plan to further support the C++ API, please state clearly so we would need to find

[2016-11-01 10:17] egpbos opened #5323 "Memoization"
I have a particle physics optimization problem where my graph contains a large subgraph that only needs to be calculated once every couple of iterations. The code I'm currently using for this uses memoization to create a significant increase in performance for these types of problems. I've been looking into porting the graph calculation part of my current code to TensorFlow, but it seems like the

[2016-11-01 10:18] jpiabrantes commented on #4897
When I ask tensorflow for the gradient of a function that returns a scalar for every example, tf just gives me one gradient instead of a gradient per example. My "loss" function is not a sum or average so I can't understand this behaviour. Simple example:

[code]

[2016-11-01 11:14] JosiahKane opened #5324 "Small documentation error in iOS Example"
I'm following the wonderfully comprehensive instructions here (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/ios_examples/README.md)  for building an iOS project with tensorflow with the makefile system.

The instructions, in the section "creating your own app" suggest adding
tensorflow/contrib/makefile/downloads/eigen-latest
to the header search paths; however this folde

[2016-11-01 11:26] ChadTaljaardt commented on #5080
Thanks, the method worked. I forgot to reply back.

I downloaded all the files manually and made a virtual server to serve the files and then changed the urls in the code manually so that it would download the files locally.

Thanks for the help you provided.

[2016-11-01 12:25] hholst80 commented on #5301
For us Linux amd_64 and Python 3.5. We have no need for MacOSX or Python 2.7 support at the moment.

[2016-11-01 12:33] sjlee7748 commented on #4775
@benoitsteiner Is it still going on? I waited until a month but  I don't have any information about that. I am very appreciated if you tell me the progress, Thank you!

[2016-11-01 12:57] hazirbas commented on #2169
@EmmaBYPeng It is really great that you have shared the code with use. I just realized that its performance (runtime) is slow. Do you have any improvements in the performance yet?
Thanks.

[2016-11-01 13:02] gokceneraslan commented on #5319
Which tar.gz file exactly?

[2016-11-01 13:06] dprylipko commented on #5303
@aselle : Yes, it's gemmlowp code.
@maciekcc:
[code]
Did you mean -mno-thumb-interwork? Thanks for the hint, but I tried this:

`make -f tensorflow/contrib/makefile/Makefile OPTFLAGS="-Ofast -mfpu=neon -funsafe-math-optimizations -ftree-vectorize -mno-thumb-interwork -fomit-frame-pointer" HOST_OS=LINUX`

with the same result...

[2016-11-01 13:36] OliviaMG commented on #5234
In my case, I have  problem same as anjiefang. Would you mind modify the code? @drpngx

[2016-11-01 13:59] asanakoy commented on #4830
@jkschin Try to use Chromium browser. Didn't work for me in firefox, but works in Chromium.

[2016-11-01 14:16] ethancaballero opened #5326 "Feature Request: Optimizer that can perform Sparse Updates"
context:
https://www.reddit.com/r/MachineLearning/comments/5abcd4/r161009027_scaling_memoryaugmented_neural/d9fz62u/

Feature request to add optimizer that can perform sparse updates so that [1610.09027] "Scaling Memory-Augmented Neural Networks with Sparse Reads and Writes" from DeepMind can be implemented in Tensorflow.

@alrojo

[2016-11-01 14:25] gokceneraslan commented on #5319
Do you have bazel 0.3.2 by the way? Might be related to this bug: https://github.com/bazelbuild/bazel/issues/1685

[2016-11-01 14:29] dsmilkov commented on #4830
jkschin@ Do you get the same IOErrors just like the other users (logs pasted above)? What browser are you using?

If the issue you are seeing looks unrelated to the issue of TensorBoard producing a lot of IOErrors, feel free to file another issue regarding your problem.

Thanks!

[2016-11-01 14:57] gokceneraslan opened #5327 "Build error: Eigen/src/Core/arch/CUDA/PacketMathHalf.h(45): error: identifier "__half2half2" is undefined"
I'm getting the following errors when I try to build TensorFlow:

[code]

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
Nothing.

### Environment info
Operating System:
Ubuntu 14.04.1
gcc-4.8.4
bazel 0.3.2
TensorFlow: Master 6f7cf60a4158a6d

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/lib

[2016-11-01 15:01] gokceneraslan commented on #5327
Maybe @benoitsteiner might help.

[2016-11-01 15:06] lan2720 opened #5328 "Is there any way to use `gather_nd` more simpler?"
Hi all,

Now I'm using [tf.gather_nd](https://www.tensorflow.org/versions/r0.11/api_docs/python/array_ops.html#gather_nd).

When batched indexing into a matrix:
[code]

I wonder if there any simpler solution if my `indices.shape[0] = params.shape[0]`. That means I want to take values from **EVERY** row of params.

So if I want to get
`output = [['a'], ['c']]` ('a' is from params[0], 'c' is from pa

[2016-11-01 15:16] egpbos commented on #2625
In principle, yes, but I'm still deciding whether to go with TensorFlow in our project in the first place, which most importantly depends on #5323. Might take a few more weeks before we decide.

[2016-11-01 15:24] zafartahirov commented on #5297
I cannot replicate the problem (I am on Sierra)

Try doing the following from the tensorflow root directory (make sure everything else was compiled :
[code]

If that works, the documentation has to updated, if it doesn't, what is the error that fails? Note that the process might take some time to finish.

[2016-11-01 15:30] emanuelstanciu commented on #851
right, is anyone able to advise where do those changes need to go in the bazel part of the instructions on SstackOverflow? Any help is greatly appreciated. While this doesn't solve the bigger problems with getting tensorflow to work on SATV, it does offer me (and others) the chance to get it going in the current format

[2016-11-01 15:34] gokceneraslan commented on #5327
` ❯ grep half2half2 /usr/local/cuda-7.5/include/cuda_fp16.h -2`
[code]

[2016-11-01 15:44] gokceneraslan commented on #5327
Same on 0.11 branch.

[2016-11-01 16:03] zafartahirov commented on #5297
Also, can you copy-paste the following in the tensorflow root directory:

[code]

Just to explain what it does, so you wouldn't think it's malicious:
- `--build` and `--host` are architecture specs, where `x86_64-apple-darwin14.x` is iOS. I am assuming you will be running and debugging it on iOS, so both build and host are the same
- `--disabled-shared` we don't need shared libraries, only static

[2016-11-01 16:06] shaolinkhoa commented on #3251
I'm sorry. I really don't know what is `protoc` or how to create graph.pb.h ?

Would you mind giving more clues

[2016-11-01 16:12] benoitsteiner commented on #5327
@gokceneraslan: it looks like bazel is picking up an older version of CUDA that doesn't support fp16. Do you have cuda 7.0 (or older) installed in  /usr/local/cuda by any chance ?

[2016-11-01 16:16] asimshankar commented on #18
@JimSEOW

- There is no intention to abandon the C++ API. The C++ API is fully supported and in fact is what [TensorFlow Serving](https://tensorflow.github.io/serving/) is built on. As a general rule, if it is documented on the TensorFlow website, it is supported :).
- That said, the C API was designed with the intent of it being used to build other language bindings (see [howto](https://www.tenso

[2016-11-01 16:16] asimshankar commented on #18
(oops, didn't mean to close the issue)

[2016-11-01 16:38] aselle commented on #5316
@jhseu, could you take a quick a look at this please?

[2016-11-01 16:39] aselle commented on #5314
@martinwicke @ilblackdragon, do you have any comments on this. I could mark this contributions welcome.

[2016-11-01 16:43] vrv commented on #5314
See https://github.com/tensorflow/tensorflow/pull/5315

[2016-11-01 16:45] aselle commented on #5317
@jart, this looks a little like the bug you filed against bazel concerning persistent workers https://github.com/bazelbuild/bazel/issues/1868?

Could it be related to this https://github.com/bazelbuild/bazel/issues/614?
(did you interrupt it?)

Do you find that if you clean and run another build you keep getting an accumulation of more processes?

[2016-11-01 17:00] drpngx commented on #5234
Will do.

[2016-11-01 17:01] drpngx commented on #5308
To be clear, I think we have a solution for the `__all__`, but feel free to send a PR for just one file if you have ideas and we can take it from there.

[2016-11-01 17:09] #5237 closed

[2016-11-01 17:12] gunan commented on #5301
I just checked, and no machines test and release infra currently has avx2 extensions.
We are all blocked on services providing these machines to us, therefore for the time being, we can build, but we cannot test it for avx2.

Given the fragility of the avx build, we have to test it and fix all the issues with avx2.
http://ci.tensorflow.org/view/Nightly/job/nightly-matrix-cpu-mavx/

All things cons

[2016-11-01 17:12] #5301 closed

[2016-11-01 17:12] drpngx commented on #3251
Look for protoc in `tensorflow/contrib/makefile/Makefile`

[2016-11-01 17:24] aselle commented on #5320
Most IDEs have options to setup "builders" that can be arbitrary commands. Just make a new "builder" that runs "bazel build <whatevertarget you want>"... You can ask on stackoverflow is you want to query a larger audience about what they use as an IDE. Closing, as this is not a bug. Thanks!

[2016-11-01 17:24] #5320 closed

[2016-11-01 17:25] aselle commented on #5321
@jhseu, I'm marking this contributions welcome, assuming you agree with that change.

[2016-11-01 17:25] willSapgreen commented on #5319
Thanks, @gokceneraslan

Replacing Bazel 0.3.0 with 0.3.2 resolves this issue on my side.

My system info:
Nvidia driver: 367.48-0ubuntu1
CUDA: cuda-repo-ubuntu1604_8.0.44-1_amd64.deb
cuDNN: cuDNN 5.1

[2016-11-01 17:27] yaroslavvb commented on #5141
Does your DYLD_LIBRARY_PATH contain a path which has /libcudart.8.0.dylib?

On Tue, Nov 1, 2016 at 12:17 AM, Ohad Levinkron <notifications@github.com>
wrote:

[2016-11-01 17:30] gokceneraslan commented on #5327
No, I have only cuda 7.5 installed. In bazel cache, I can also see that it picks up the right cuda:

[code]

[2016-11-01 17:30] jhseu commented on #5321
Yeah, I agree that's an issue. I can make the change, though, because we also have to change the implementation for our internal filesystem.

[2016-11-01 17:30] aselle commented on #5322
@jhseu, since you are doing HDFS work, do you have any thoughts on this or know who might be a good person to consult. It seems like these checks could be encapsulated into some kind of filesystem registry, but maybe we already have plans to do that?  If not, please mark this contributions welcome if you agree with the premise.

[2016-11-01 17:37] edrozenberg commented on #5317
Thanks for following up - as a workaround I'm currently doing ```pkill -f "bazel\(tensorflow\)"``` after each build. Also I'm deleting /root/.cache/bazel/_bazel_root/ after the build since on most Linux systems the root partition is quite small and these gigabyte+ caches are going to fill up /root rather quickly.

[2016-11-01 17:41] aselle commented on #5323
@vrv might have more insight, but I have a few things.

1. This is a great question to ask on StackOverflow, because you can ask "how do people deal with caching data and/or memoizing? do you use explicit memoization?"
2. A concrete example of what kind of data you are memoizing might make it clearer exactly what you want.
3. Dataflow and traditional memoization are pretty much at odds in the curr

[2016-11-01 17:42] aselle commented on #5324
@petewarden, can you confirm this fix is correct?

[2016-11-01 17:42] JimSEOW commented on #18
Feedback: please take a look http://bytedeco.org/   (tensorflow is listed)

Why cppSharp? Many who have tried e.g. .NET wrapper for OpenCV for years (P/Invoke) are now trying to explore how to use cppSharp to generate .NET wrapper for OpenCV.

I believe both cppSharp and JavaCpp are similar in the ways of creating wrapper codes automatically. They compile C++ codes and generate the c# or java bind

[2016-11-01 17:44] shaolinkhoa commented on #3251
Sir, please give me a solution to pass this problem so that I could install tensorflow on Pi zero.
i'm really not familiar with make.

I'm not the only one stucking with it. johnnymakk in post #4680 is having the same problem too

[2016-11-01 17:46] edrozenberg commented on #5317
Sounds like it could be related to https://github.com/bazelbuild/bazel/issues/614 yes but I'm seeing the issue even without interrupting anything using CTRL-C. I just ran a successful ./configure and the following process is left over:

[code]

[2016-11-01 17:46] jart commented on #5317
Bazel keeps a dæmon process in the background in order to make subsequent
invocations of the Bazel command go blazing fast. If this is not what you
want, run `bazel shutdown` after the build, or use the `--batch` flag. This
issue can be closed. The issue I reported regarding persistent workers
shouldn't apply here, because those are opt in.

On Nov 1, 2016 10:40 AM, "Eduard Rozenberg" <notificatio

[2016-11-01 17:48] edrozenberg commented on #5317
Thanks I'll try ```bazel shutdown``` from now on - a build tool that spawns a daemon was unexpected. I did see up to 2-3 leftover processes at least a couple of times, not just one.

[2016-11-01 17:49] vrv commented on #5323
I think using partial_run, or perhaps saving your subgraph output state in a variable to be consumed downstream is probably the best ways to go about doing this for now.

Note that partial_run is also supported at the C++ interface, though I'd like to see proof that it would be 'superior'. :)

[2016-11-01 17:51] #5317 closed

[2016-11-01 17:53] asimshankar commented on #5069
Closing due to inactivity. Please feel free to reopen if this is still happening and you can add more information on the steps you took.

[2016-11-01 17:53] #5069 closed

[2016-11-01 17:55] asimshankar commented on #4272
Closing due to inactivity, feel free to reopen if your concerns haven't been addressed and the pointers above didn't help.

[2016-11-01 17:55] #4272 closed

[2016-11-01 17:55] tfka opened #5332 "about how to conduct the tensor like the numpy or theao"
I can get the result by numpy or theano,but for tensorflow it may not support this
How can I do to get the result that I want

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/users3/htleng/.local/lib/python2.7/site-packages/tensorflow/python/ops/array_ops.py", line 383, in _SliceHelper
    name=name)
  File "/users3/htleng/.local/lib/python2.7/site-packages/tensor

[2016-11-01 17:59] siilime commented on #19
@rxwei What feasible alternative approaches are there?

[2016-11-01 18:03] yaroslavvb commented on #1941
BTW, you can do something like this using a wrapper around `session.run`, here's an example -- https://gist.github.com/yaroslavvb/973862f62f35f174a4e8942bd7bd022e

[2016-11-01 18:07] petewarden commented on #5324
Yes, I believe it is correct.

[2016-11-01 18:09] spiantino opened #5333 "Problem compiling tensorflow for iOS on Sierra/Xcode 8"
with xcode-select pointed to Xcode 8:

[code]

I get the following compile error with build_all_ios.sh on Sierra:

[code]

Not sure if this is related to Xcode 8 or to code signing on Sierra

[2016-11-01 18:19] mattjj commented on #394
Installing nvidia-modprobe worked for me too.

[2016-11-01 18:26] joel-shor commented on #3385
If you are not careful, your target distributions can be very far from the original distribution, and you can spend a lot of time rejecting samples. This can take a lot of time even if the overhead of the Op is basically 0. Can you print out some examples of your initial and target distributions so we know it isn't that?

[2016-11-01 18:30] tritao commented on #18
Hey guys, dev from CppSharp here, just been made aware of this discussion. Just some clarifications.

If you want to bind a library with a generator like CppSharp, it's usually best to start with a C++ API from the start since that will lead to a more idiomatic generated API.

We can also generate bindings for the C API, but you will usually need to develop an higher-level C# API on top of the gen

[2016-11-01 18:34] woodshop opened #5334 "tensorboard raises `FailedPreconditionError`"
## Description
Tensorboard always raises the exception `FailedPreconditionError` in my environment. I have it running with parameter `logdir` pointing to a directory that is tracking active experiments. Tensorboard raises an exception after a few minutes with a Traceback similar to the following:
[code]
The accompanying exception message mentions a different file every time and the exception is ra

[2016-11-01 18:34] daddym85 opened #5335 "Is there any way to add classes in inception?"
Hi there,
I'm working on retrain example; I have TensorFlow built from source on Ubuntu 14.04, and the examples on flowers work great. However, the process strips away the Inception's final layer and removes all 1,000 existing categories, which means it can now identify 5 species of flowers, but can no longer identify pandas, for example. https://www.tensorflow.org/versions/r0.8/how_tos/image_retr

[2016-11-01 18:37] bhomass commented on #5141
/libcudart.8.0.dylib definitely is there. not sure how to check cuDNN. but I passed the CUDA installation check.

[2016-11-01 18:39] aselle commented on #5043
Please try tcmalloc as well.

[2016-11-01 18:41] aselle commented on #4709
@yxchng have you come to any actionable bugs or issues with memory usage after looking at it more?

[2016-11-01 18:46] aselle commented on #5275
@mrry, do you have any further insight?. I have no way to test this. You might try adding the DLL directories to PYTHONPATH and your windows PATH.

[2016-11-01 18:47] benoitsteiner commented on #5327
@gokceneraslan Which .cc file(s) trigger these error messages ?

[2016-11-01 18:48] drpngx commented on #3251
Please copy the lines regarding protoc. `protoc` is the protobuf compiler that converts `.proto` files into `*.pb.{cc,h}`. It should be called to generate the `graph.pb.h`. The Makefile in `tensorflow/contrib/makefile/Makefile` contains this. It's not clear why it's missing from your contrib makefile, perhaps the aforementioned makefile was run first.

[2016-11-01 18:50] MInner commented on #5252
UPD: after little more testing on relatively large language model, it turned out that even though `nvidia-smi` shows lower gpu utilization when I'm using "blocking" solution (2), it is scales great (on 2 gpus the speedup is 1.83x) and performs actually even better (10% faster) then non-blocking one (1).

[2016-11-01 18:51] aselle commented on #5328
This question is more appropriate to ask on StackOverflow, since it is not a specific feature request or bug and is concerned with best practices. Thanks!

[2016-11-01 18:51] #5328 closed

[2016-11-01 18:52] drpngx commented on #5275
I looked at one of them and it might be part of the msvc crt. Can you run again with a shell that has the MSVC path etc enabled?
There should be a batch file somewhere in program files x86 microsoft visual studio* binn or something like that.

Alternatively, try installing https://www.microsoft.com/en-us/download/details.aspx?id=48145 on your system.

[2016-11-01 18:56] drpngx commented on #5234
Wait... you're writing an `Example`, not `SequenceExample`?

[2016-11-01 18:56] gokceneraslan commented on #5327
I think `contrib/rnn/kernels/gru_ops_gpu.cu.cc`. The output is as follows:

[code]

[2016-11-01 19:00] aselle commented on #5332
This is almost assuredly something you do not want to do for performance reasons. You should be trying to write operations that do a lot of work per statement (i.e. in a batch-centric or simd fashion). If you are doing this for diagnostic purposes that is one thing, but model building, training and inference should not use anything like this.

If you really must do this you can use eval() or run()

[2016-11-01 19:01] gokceneraslan commented on #5327
Sometimes another cc file triggers the error, like `tensorflow/core/kernels/depthtospace_op_gpu.cu.cc`

[2016-11-01 19:10] ebrevdo commented on #5252
@MInner having -1s in the IndexedSlices object output of gather sounds like a bug.  do you know if gather() is being called with -1s for the indices input?

[2016-11-01 19:10] aselle commented on #5110
@concretevitamin , @wicke, do you have any insight on if this could be caused by the new checkpoint format (it's 11.0rc0 and it was in by this time). Could it be using placeholders in the signature? The mnist_export.py in our example uses an Identity tensor.

[2016-11-01 19:12] anjiefang commented on #5234
@drpngx
One sequence contains 10 PNGs stored in a folder (e.g. ./data/backward_1). A single `tf example` records these 10 PNGs and is serializes as a `tf-records` file. Is it what you wanna know?
Thanks.

[2016-11-01 19:12] jart commented on #5317
I would recommend filing an issue with Bazel asking them to display a log message indicating when it's starting a dæmon, which can be shutdown with bazel shutdown. I would support that feature.

[2016-11-01 19:18] chenliu0831 opened #5336 "Regression: PyUnicodeUCS4_AsUTF8String on 0.11.0rc0 to 0.11.0rc2"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-11-01 19:21] SmithaShivakumar opened #5337 "How to install Tensorflow on windows for Ananconda?"
![image](https://cloud.githubusercontent.com/assets/12981723/19903991/c07a065c-a03e-11e6-8265-512ad1077b41.png)

[2016-11-01 19:53] concretevitamin commented on #5110
It's not related to the checkpoint format, I'll say.  (Biggest reason being 0.11rc0 does not have complete support for V2.)  Adding @sukritiramesh @nfiedel to see if this is something obvious in the Exporter.

[2016-11-01 20:22] sahil912 commented on #5297
Let me try the above steps and get back. Thanks

[2016-11-01 20:35] guojia-git opened #5338 "Failed to run MNIST example on Android"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
#4623
#4451

### Environment info
Operating System: Ubuntu 14.04
If installed from source, provide

1. The commit hash (`git rev-parse HEAD`): 3d35376a66cde4f3e614c746d3c8708d15caa1b5
2. The output of `bazel version`: Build label: 0.3.2

### If possible, provide a minimal reproducible exam

[2016-11-01 20:41] aselle commented on #5335
This question is more important for StackOverflow, since it concerns using Inception so closing for now. @shlens might have a quick answer. Barring anything else, why not just try adding 5 to the original labels and see if that works.

[2016-11-01 20:41] #5335 closed

[2016-11-01 20:45] aselle commented on #5334
Some questions

- Could you try it with a simpler path like in /tmp/foo? e.g. Can you

[code]
(i.e. does the file exist)?

- Do you have a simple model that you are using to produce that?

- Can you provide a minimal reproducible test case?

- What version of Python?

[2016-11-01 20:47] aselle commented on #5333
Does your c compiler work i.e. try
[code]

[2016-11-01 21:05] drpngx commented on #5234
OK, I'm not 100% sure exactly what you intended to do, use PIL or tensorflow. But you can't decode the image twice. I'm not familiar with image channels but I think the `COLOR_CHAN=3` is the proper index, numbered from zero. If you feed the raw png bytes (just `open(filename, 'r') as f; im = f.read()` in the `convert_image.py`, then you'll decode with tensorflow (`prediction_input.py` has decode_p

[2016-11-01 21:10] yhg0112 commented on #4540
same problem here.

Iis '-1' indexing as 'PAD' not supported anymore?

i'm currently avoiding this problem with concatenating 0-vector in embedding weights :
[code]

[2016-11-01 21:15] aselle commented on #5326
We don't have any plans right now to do this. Thanks!

[2016-11-01 21:26] aselle commented on #5337
As far as I know ( @mrry  please correct me if I'm wrong), Windows support still requires you to install manually using CMake see commint on the PR https://github.com/tensorflow/tensorflow/pull/4778.
Also see http://stackoverflow.com/questions/37522676/install-tensorflow-on-windows-with-anaconda

[2016-11-01 21:26] #5337 closed

[2016-11-01 21:28] aselle commented on #5338
I would try loading the graph in python and see if you can feed it there to see if the problem is with your baked trained model or with your Java usage. @petewarden might have more precise suggestions. Could there be an errant Placeholder that is in the mnist_model you created that you could just feed with a dummy value just to get the ball rolling?

[2016-11-01 21:31] alrojo commented on #5326
@aselle given you support [sparse variable updates](https://www.tensorflow.org/versions/r0.11/api_docs/python/state_ops.html#sparse-variable-updates) and your optimizers have an [_apply_sparse](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/adam.py#L141) functionality.

Perhaps you could elaborate on the current state of sparse support for optimizers in TensorFlow

[2016-11-01 21:33] aselle commented on #5336
Just to be clear, how is this reproduced? Just importing tensorflow as
[code]
causes the problem?  This only occurs on Heroku? What version of Python?

[2016-11-01 21:36] aselle commented on #5319
@AFAgarap, did you try upgrading to 0.3.2 as @willSapgreen suggests? Thanks!

[2016-11-01 21:45] nroth1 commented on #5289
I am seeing what I think is a similar issue, but am only training on CPU; when I sample the process in a hung state, I see get the following info. In my case, I just see an indefinite hang. Seems to happen randomly, but consistently if I run the program for a few hours, unfortunately. I am also on version, 0.11.0rc0, if that matters.

[tflow_hang.txt](https://github.com/tensorflow/tensorflow/files

[2016-11-01 22:08] yaroslavvb commented on #5289
@nroth1 -- a common way for "random hangs" is by causing a deadlock with
queues, partial solution  is to set operation timeout as [here](
https://github.com/tensorflow/tensorflow/issues/2130#issuecomment-215180165)
and retry on error. More fundamentally is to analyze your queues and
prevent deadlock from occuring, as [here](
https://github.com/tensorflow/tensorflow/issues/4917)

On Tue, Nov 1, 201

[2016-11-01 22:09] ilblackdragon commented on #3008
@IsaacBanjo Not sure what do you mean by model_type? You can pass any parameter via `params` that you will receive in your model function. To get `predict_proba` just run `predict` on the probability predictions.

E.g. it's just `est.predict(..., outputs=['probability'])['probability']` if your model function returns something like this `return {'probability': probs, 'class': tf.argmax(probs, axis

[2016-11-01 22:14] camaclean commented on #380
+1
I maintain the TensorFlow installation on Blue Waters and it's easier for me to build the entire Python stack except TensorFlow (which has over 500 packages) than it is to build TensorFlow. On supercomputers like Blue Waters, the toolchain and libraries usually aren't found in default locations. The Bazel build makes a lot of assumptions about paths and linker flags. It is also quite frustratin

[2016-11-01 22:19] martinwicke commented on #380
Since we maintain both a (partial) makefile build and a fairly complete cmake build (both in contrib) I will close this issue. Thanks for reminding me of its existence.

[2016-11-01 22:19] #380 closed

[2016-11-01 22:19] drpngx commented on #5234
BTW, you should not import modules directly. For instance, use `tf.app` instead of `from .. import app`.

[2016-11-01 22:20] jhseu commented on #5322
@llhe Yeah, if you have any ideas about what to do there, contributions are welcome. Perhaps we should just check if it's a URI?

This is very tensorboard-specific code, so I'm not sure it's worth plumbing through filesystem registry from C++ to make it work.

[2016-11-01 22:20] jhseu commented on #5322
If you send a pull request, mention me on it.

[2016-11-01 22:28] jricheimer commented on #311
@GuangmingZhu , on the TensorFlow [Download and Setup page](https://www.tensorflow.org/versions/r0.11/get_started/os_setup.html), the command to build the pip package should be:

`bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package`

I just forgot the `--config=cuda`.

[2016-11-01 23:02] IsaacBanjo commented on #3008
@ilblackdragon I meant model_fn. Previously in my machine there is no such field. Now I see it at https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/learn/python/learn/estimators/estimator.py. Thanks!

[2016-11-01 23:22] nroth1 commented on #5289
Hi, thanks for writing back!

I agree that the partial solution would maybe be a work around, but I was hoping to understand what was happening and maybe get a cleaner fix. I am actually producing my issue without queues, in the strictest sense; I just have some python threads running in parallel (I am aware that I won't get true multithreading in python). In pseudo code this just boils down to:

[2016-11-01 23:25] camaclean commented on #380
From what I understand, the CMake build is broken for GPU right now and therefore can't be used to build a complete TensorFlow package. Is this outdated?

[2016-11-01 23:48] yaroslavvb commented on #5289
If you don't have queues, you shouldn't get deadlocks like this. The only thing I can think of is that your write to disk is hanging on the OS level, so the saving op never terminates

[2016-11-01 23:50] nroth1 commented on #5289
hmm, ok, thanks a bunch! I will poke around and update if I find any more information.

[2016-11-02 00:20] danijar opened #5340 "Rename argument names in tf.train.exponential_decay()"
The current function signature reads:

[code]

When passing the parameters by keyword name (for example after reading a configuration file), it's pretty weird that the first parameter is called `learning_rate` since the function can be used for other decaying parameters as well.

A better name would be `initial_value`.

[2016-11-02 01:04] jkschin opened #5341 "TensorBoard not working with 0.11 RC1"
All I see is a blank page when I go to localhost:6006

Browser: Chrome (Version 54.0.2840.71 (64-bit))
Here's the full stack trace:

127.0.0.1 - - [02/Nov/2016 08:59:41] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [02/Nov/2016 08:59:41] code 404, message Not Found
127.0.0.1 - - [02/Nov/2016 08:59:41] "GET /webcomponentsjs/webcomponents-lite.min.js HTTP/1.1" 404 -
127.0.0.1 - - [02/Nov/2016 08:59:41] code

[2016-11-02 01:06] jkschin commented on #4830
It's not an IOError. Filed new issue here #5341

[2016-11-02 01:37] llhe commented on #5322
@aselle @jhseu I think just check the URI is ok, check if it's start with xyz://, which won't conflict with the event file lists like group_name:/path/to/directory (Looks like the current code has a bug for group_name:xys://?). So it can be fixed without touching the C++ code.

[2016-11-02 01:41] lan2720 opened #5342 "Gradient for gather_nd is not implemented"
Hi all,

when I use `tf.gather_nd`, It gives me the error "NotImplementedError: Gradient for gather_nd is not implemented".

I can temporarily solve this problem to flatten both of `params` and `indices` and then use `tf.gather`. But it isn't the best way to do so.

Is there any plan to support that? Thanks!

[2016-11-02 01:43] NHQ opened #5343 "ImportError: libcudart.so.8.0: cannot open shared object file: No such file or directory"
I have installed cuda 7.5, not 8, but when I get this error when I try to import tensflow (having installed ts binaries for 7.5, gpu, linux).  I have tried un- and re-installing everything repeatedly.  I may have at one time attempted to install cuda 8 in the past, but 7.5 is in my $path.

the complete error:
[code]

[2016-11-02 01:51] AFAgarap commented on #5319
@gokceneraslan The 0.11rc1 tar.gz file.
@aselle I have 0.3.1, and yes, I shall upgrade to 0.3.2. Will get back to you on this. Thanks!

[2016-11-02 01:57] JohnnyY8 opened #5344 "Import error: AttributeError: 'module' object has no attribute 'Default'"
### Environment info
Operating System:  Ubuntu 14.04 LTS

Installed version of CUDA and cuDNN: CUDA-8.0 and cuDNN v5.1

Hi everyone:
   I have met an ImportError and do not what happened? Before this, I use tensorflow normally for about one month.
   Can anyone help me? Thanks a lot!

The error info as following (in Ipython).

[code]
[code]

[2016-11-02 02:07] benoitsteiner commented on #4775
The code that adds support for AVX512 to Eigen is pending a review before I can merge it (https://bitbucket.org/eigen/eigen/pull-requests/235). Once it's in I'll update TensorFlow to make use of the new capability.

[2016-11-02 02:13] benoitsteiner commented on #5277
@sjperkins Can you try to see how much speedup you get from IndexList ? For example, you can replace Eigen::DSizes<int, 3>(0,     0,  1) with Eigen::IndexList<Eigen::type2index<0>, Eigen::type2index<0>, Eigen::type2index<1>>.

You can also mix in runtime values. For example, you could replace Eigen::DSizes<int, 4>   lm_shape(nsrc, 1,     1,  1    ); with Eigen::IndexList<int, Eigen::type2index<1>,

[2016-11-02 02:18] jkschin commented on #5341
Upgraded to 0.11 RC2 and I still see the same errors.

[2016-11-02 02:22] mrry commented on #5275
Only suggestion I can think of is to try again with Anaconda 3.5, which is the only Python distribution that I've successfully used to build on Windows. (I'm assuming from the paths in your log that you're not using Anaconda.) In particular, it includes NumPy and zlib libraries which might be required by various parts of the build process.

[2016-11-02 02:46] #4226 closed

[2016-11-02 03:13] aselle commented on #5297
Try this (see #5184)
[code]

[2016-11-02 03:17] aselle commented on #5342
Yes, we are planning to support that. The patch will be imminently committed. @narphorium is implementing it.

[2016-11-02 03:20] aselle commented on #5341
@dsmilkov  could you please take a look at this issue?

[2016-11-02 03:23] lan2720 commented on #5342
@aselle Oh great. Thanks for your quick reply. I'm looking forward to it.

[2016-11-02 03:26] aselle commented on #5343
What exact binary (url, whl file) did you install? Many (all @gunan?) new binaries will be Cuda 8.0 only. What you are seeing indicates that you downloaded a cuda 8 binary.

[2016-11-02 03:29] aselle commented on #5344
What .whl did you use to install?
Did you use a virtualenv (try one if you haven't already)?
DId you try ```pip install --upgrade protobuf```?

[2016-11-02 03:39] AFAgarap commented on #5319
@aselle @willSapgreen @gokceneraslan I have upgraded bazel to 0.3.2, and yet, when I'm doing `bazel build`, my computer still crashes. It has the following hardware specs: Intel Core i5-6300HQ (2.3GHz to 3.2GHz), 8GB DDR3 RAM 1600MHz, 1TB Hybrid Hard Drive + 8GB cache, Nvidia GeForce GTX 960M 4GB DDR5. I'm using Ubuntu 16.04 LTS, with kernel 4.4.0-45 generic. As for CUDA, it's 8.0; cuDNN, 5.1

[2016-11-02 03:42] tfka commented on #5342
@lan2720 。。how to flatten， I meet the same problem and I am a newer to tensorflow . Hope some advice for me . Thanks

[2016-11-02 03:44] tfka commented on #5332
@aselle ，I then use  tf.pack() and tf.gather_nd to get the result that I want ,but I can't get the gradient.
Any advice for me, thanks.

[2016-11-02 03:53] gunan commented on #5343
Correct, starting 0.11.0rc1, all our prebuilt packages are now built for cuda8.
With cuda7.5, you either need to install the 0.11.0rc0 wheel file, or build from sources.

[2016-11-02 03:53] #5343 closed

[2016-11-02 03:54] JohnnyY8 commented on #5344
Hi @aselle :
I use to install tensorflow-0.11.0rc0-cp27-none-linux_x86_64.whl and run tensorflow normally for one month. This error suddenly occured. Now, I have tried to reinstall the tensorflow, but when I run ./configure, I got this error:
[code]
I am not sure what happened exactly?

[2016-11-02 03:54] aselle commented on #5343
Thanks @gunan.

[2016-11-02 04:14] ErivaldoJunior commented on #17
It compiled for me, but I had to add shell=True in the line 150 of the file gen_git_source.py. Otherwise, I would get the same error as showed in:
http://stackoverflow.com/questions/24306205/file-not-found-error-when-launching-a-subprocess

[2016-11-02 04:47] sjlee7748 commented on #4775
I think It's almost finished. Thank you for your support.

[2016-11-02 04:55] mmallad opened #5345 "tensor layer"
Does tensorflow support or has tensor layer function. If it has than how can we implement it.
Thank You

[2016-11-02 05:25] guschmue commented on #17
@synap5e if you run this in a normal tf.Session() a second instance will not work because tf manages all memory on the gpu. You can change the config for Session() like this:
config = tf.ConfigProto()
config.gpu_options.per_process_gpu_memory_fraction = 0.4
with tf.Session(config=config) as sess:
   ...
with that I can run 2 scripts in a loop that hit cudnn. This is the same on linux.
But it crash

[2016-11-02 06:26] gokceneraslan commented on #5319
This bug is about `Object of type 'path' has no field "realpath".` error and it can be fixed by upgrading bazel to 0.3.2. I think we can close this now.

[2016-11-02 06:32] AFAgarap commented on #5319
@gokceneraslan I already did upgrade to bazel 0.3.2

[2016-11-02 06:55] allonli commented on #500
sudo easy_install --upgrade numpy fixed the problem for me.Thx

[2016-11-02 07:03] NHQ commented on #5343
Was yesterday 0rctober 1?

On Tue, Nov 1, 2016 at 8:56 PM, Andrew Selle <notifications@github.com>
wrote:

[2016-11-02 07:14] wjiangcmu commented on #4361
@dasabir and @jfsantos Under a scope with reusable=True, tf.contrib.layers.batch_norm(x) will always create new norm_variables and make them reusable which gives you the error. One thing you can do it is to specify the norm_scope name like this `tf.contrib.layers.batch_norm(x, scope="name")`. When you reuse this norm layer, just do `tf.contrib.layers.batch_norm(someting, scope="name", reuse=True)`

[2016-11-02 07:30] Mike-Dax commented on #3929
I'm experiencing the exact same issue - same file and host and lack of connectivity. I'll try again later.

[2016-11-02 07:32] danieleghisi commented on #3017
@tomasreimers I still have some issues but I can't fully remember which ones; I ended up removing everything and reinstalling, yet I gave up on the C api thing; just using python...

[2016-11-02 07:36] johnnymakk commented on #3251
Hi @drpngx thanks a lot for your help.
I think I'm following the same instructions as @shaolinkhoa .

Create a tensorflow static library using the makefile as in:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile#raspberry-pi
make -f tensorflow/contrib/makefile/Makefile HOST_OS=PI TARGET=PI \
 OPTFLAGS="-Os -mfpu=neon-vfpv4 -funsafe-math-optimizations -ftree-vectoriz

[2016-11-02 07:39] beniz commented on #3929
Yes, sad truth, a whole build depends on sourceforge availability :/

[2016-11-02 07:47] beniz commented on #3929
Here's a temporary fix, I've put the giflib tarball at https://deepdetect.com/stuff/giflib-5.1.4.tar.gz
Then modify the two files below by replacing the sourceforge URL with the one above.
- `tensorflow/workspace.bzl`
- `tensorflow/contrib/cmake/external/gif.cmake`
cc @Mike-Dax

[2016-11-02 07:52] lan2720 commented on #5342
@tfka Yes, to use tf.gather you just need to reshape your params and indices.

For example
[code]

[2016-11-02 08:33] llhe opened #5347 "Change http://ufpr.dl.sourceforge.net links for http_archive to another more stable one"
TensorFlow build dependens on external links, for example:
[code]
Looks like http://ufpr.dl.sourceforge.net is just a SF mirror located in Brazil, and not quite stable, see #3929, #4085. I also encountered this some times. Considering change to another stable one, for example: http://downloads.sourceforge.net

A list of SF sites/mirrors:
https://github.com/fink/fink-mirrors/blob/master/sourceforge

[2016-11-02 08:40] Mike-Dax commented on #3929
Turned out several packages, giflib, swig (both on sourceforge) and zlib (on their site) are having network problems - so I grabbed them from various other sources.

It also turns out the JVM doesn't like letsencrypt, so I rehosted it all myself locally and it seems to be working now.

Here's the SSL error for those who will inevitably google this later.

[code]

Thanks for your help @beniz

[2016-11-02 08:50] llhe commented on #5347
By the way, I can't access it both in China and US-West, now, so the reason is that mirror is down instead of my network connection issue.

[2016-11-02 09:10] llhe opened #5349 "Include libcurl into the bazel build"
Currently tensorflow serving project will build gcs_file_system target which may fail, with the following message:
[code]

The reason is gcs_file_system dependens on libcurl 7.33.0+, and this is higher than the default package versions of many Linux distros.

It's better to include libcurl as bazel build library instead of using the system one.

[2016-11-02 09:11] yxchng commented on #4709
@aselle I am busy with other stuff at the moment. I will try to look into it as soon as possible. Really sorry.

[2016-11-02 09:24] DavidNemeskey opened #5350 "Sampled and regular softmax should use the same weight matrix shape"
As it is now, the softmax samplers [sampled_softmax_loss](https://www.tensorflow.org/versions/r0.11/api_docs/python/nn.html#sampled_softmax_loss) and [nce_loss](https://www.tensorflow.org/versions/r0.11/api_docs/python/nn.html#nce_loss) require a `|C|x|H|` weight matrix, while the logits from [softmax](https://www.tensorflow.org/versions/r0.11/api_docs/python/nn.html#softmax) come from a `|H|x|C|`

[2016-11-02 09:29] xru commented on #2559
@yaroslavvb  solved, works.
finally, thanks.

[2016-11-02 09:32] llhe commented on #5321
This is more friendly for the caller:
[code]

[2016-11-02 09:38] cowbjt commented on #5333
Got the same issue too.

The c compiler works.
Tested by @aselle  's test code.

P.S. my env: macOS 10.12 and XCode8.1

[2016-11-02 10:01] KamodaP commented on #5275
I'll check with that msvc crt later today.
I understand that there are out-of-the-box implementations of python for data science, but unfortunately I cannot use it in the project.
The truth is that I switched to sklearn since time is of the essence here, but if I'm able to solve that in my free time I might devise some sort of tutorial on how to solve problems that I've encountered.

[2016-11-02 10:09] sanketkadge1 opened #5351 "Installing Tensor flow on multiple machines (on GCP)."
i am trying to install tensorflow on two machines(2 instances on Google Cloud Platform) how i can do that?
or it is not supported only thing is you can write programs in tensorflow in distributed manner.

[2016-11-02 10:41] nikogamulin commented on #4766
Have you managed to get past the issue? I tried to run the basic example from [slim_walkthrough notebook](https://github.com/tensorflow/models/blob/master/slim/slim_walkthough.ipynb) and then ran the following command:
`bazel-bin/tensorflow/python/tools/freeze_graph --input_graph=/tmp/inception_finetuned/graph.pbtxt --input_checkpoint=/tmp/inception_finetuned/model.ckpt-2 --output_graph=/Users/nik

[2016-11-02 11:00] chrisrn opened #5352 "Missing information in inception_train.py"
I wanted to fine-tune inception network using my dataset, which is way too big. Converting to TFRecords format is not the best option because it uses a lot of GB in hard disk. I used a placeholder for images and a placeholder for labels and here https://github.com/tensorflow/models/blob/master/inception/inception/inception_train.py
I converted the command in line 336 in    _, loss_value = sess.run

[2016-11-02 11:06] sahil912 commented on #5297
I have tried all the above step but still stuck with the same issue, providing more info on this:

checking build system type... x86_64-apple-darwin14.0.0
checking host system type... x86_64-apple-darwin14.0.0
checking target system type... x86_64-apple-darwin14.0.0
checking for a BSD-compatible install... /opt/local/bin/ginstall -c
checking whether build environment is sane... yes
checking for a

[2016-11-02 11:21] anjiefang commented on #5234
@drpngx Either PIL or tensorflow is chosen in function `convert_to_image_per_folder` or `read_images_from` to decode PNGs string to `uint8` format. In function `read()`, `uint8` is converted to string again (`images[index].tostring()`) before serialization (`writer.write(example.SerializeToString())`).

I used the way you suggested (`pen(filename, 'r') as f; im = f.read() `in `convert_image.py`).

[2016-11-02 11:50] sjperkins commented on #5277
@benoitsteiner OK, with `IndexList` and early evaluation of the `phase` sub-expressions Eigen now takes `2.9` seconds vs OpenMP's `0.41` seconds. Did this in https://github.com/ska-sa/montblanc/commit/7b7a43aff8f1ad537d23e44051ecb51d507d8ccf.

Relevant code is here:

[code]

[2016-11-02 12:15] beeva-ivanfernandez opened #5354 "failed to create cublas handle: CUBLAS_STATUS_NOT_INITIALIZED on a AWS p2.xlarge instance"
Hi,

I have been running docker images on a **Centos 7.0 AWS p2.xlarge** instance. I have previously installed on it:
CUDA: **cuda-repo-rhel7-8.0.44-1.x86_64.rpm**
NVIDIA **drivers 361.42**

I have also installed **nvidia-docker** [following instructions](https://github.com/NVIDIA/nvidia-docker)

I have successfully run all notebooks from Docker images (as fas as I've tried tensorflow/tensorflow:l

[2016-11-02 12:19] hughperkins commented on #22
Weird bug, on hd5500.  This "opencl" (in parentheses, because whilst it's technically opencl, the weird branching output in my code looks a bit ... strange :-P ) https://gist.github.com/hughperkins/56225890541ff5404e4bcd69f93372a2  It's a simplified version of the sqrt unary per-element kernel, with the following manual tweaks:
- removed all structs
- just direclty use `arg_ptr0` and `arg_ptr1`, i

[2016-11-02 12:41] beeva-ivanfernandez commented on #5354
Working installing cudnn and adding them to the path :).

tar -zxf cudnn-8.0-linux-x64-v5.1.tgz
sudo cp cuda/include/cudnn.h /usr/local/cuda/include
sudo cp cuda/lib64/libcudnn* /usr/local/cuda/lib64
sudo chmod a+r /usr/local/cuda/include/cudnn.h /usr/local/cuda/lib64/libcudnn*
export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/usr/local/cuda/lib64"
export CUDA_HOME=/usr/local/cuda

[2016-11-02 12:48] beeva-ivanfernandez commented on #5354
'Ran out of memory' exception masked 'failed to create cublas handle: CUBLAS_STATUS_NOT_INITIALIZED' exception when running a large tensorflow calculation.

When running a smaller matrix multiplication example CUBLAS exception arises again

[2016-11-02 12:49] synap5e commented on #17
Ah so the problem was that my system was using too much video memory even before initialising tensorflow. I guess the driver stuff was just bringing the used device memory down so that tensorflow could initialise properly. Thanks!

[2016-11-02 13:04] parilo commented on #3929
faced with the same issue, cannot connect to ufpr.dl.sourceforge.net, main sourceforge site is available

[2016-11-02 13:35] AlienceGG commented on #5141
I met this problem right now , and I don't know how to fix it ...:(

[2016-11-02 13:49] woodshop commented on #5334
I'm using Python 2.7.11. I confirmed that the file exists and is a normal file with normal access permissions.

Unfortunately I am so far unable to reproduce the issue when saving checkpoints for a minimal test case. (The problem persists when tensorboard is given a logdir for checkpoints produced by the non-minimal model that I'm currently training.)

Since it's unclear whether this is actually a

[2016-11-02 13:49] #5334 closed

[2016-11-02 13:58] vskubriev commented on #3929
Same issue with `http://ufpr.dl.sourceforge.net/project/giflib/giflib-5.1.4.tar.gz`

[2016-11-02 14:19] chenliu0831 commented on #5336
@aselle Yeah. So far the target platform I tested was only heroku. The python version is 2.7.10.

[2016-11-02 14:51] hfutxrg commented on #4735
@civilmanxx I had the same issue before. You can check whether your have enough space in the directory that the .ckpt files are stored. When I run inception-v3, by default those files are stored in /tmp and my machine only has 2 GB for /tmp, and then the "resource exhausted" error happened.

[2016-11-02 15:45] zandaqo commented on #17
Guys, is it possible to build on Windows without MSVS? Windows 10 SDK is supposed to contain the C++ compiler, wouldn't that suffice for the task?

[2016-11-02 16:19] rbmetcalf commented on #559
I had the same problem.  I had installed python with homebrew and thus had two copies
of numpy.  I just renamed the old version, could erase it also:

$ sudo mv /System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python/numpy/ /System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python/numpy_bk

[2016-11-02 16:41] aselle commented on #5345
Generally speaking, usage questions are more appropriately asked on Stack Overflow. However, you might consider looking at tf.slim, tf.contrib.layers, tf.learn, etc. Thanks!

[2016-11-02 16:41] #5345 closed

[2016-11-02 16:43] aselle commented on #5340
@martinwicke, who would be good for this. It seems close to the argument ordering work you were telling me about yesterday.

[2016-11-02 16:48] trsaunders commented on #5037
This has been  #superseded by issue #4996 and is no-longer required.

Thanks for your consideration.

[2016-11-02 16:48] #5037 closed

[2016-11-02 16:49] rgobbel commented on #5336
+1 on Centos 7. Python 2.7.12

$ python
Python 2.7.12 (default, Aug 31 2016, 14:30:10)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-4)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/python-2.7.12/lib/python2.7/site-packages/tensorflow/__init__.py", line 23, in <module>
    from ten

[2016-11-02 16:52] aselle commented on #5349
For Linux we are supporting Ubuntu 14   and newer which has 7.35.  RHEL 6 currently does have an older version at 7.19, but that is 6 years old at this point and ending its production phase 1. We don't generally promise to make changes to support older Linux systems, but maybe this is an easy change.   @jart could you take this?

[2016-11-02 16:54] aselle commented on #5347
Thanks for reporting the issue! @gunan, I don't know if there was a specific reason we chose than link, but the fix seems to make sense.

[2016-11-02 16:55] aselle commented on #4932
@mbz, do you have any updates? What's your current status?

[2016-11-02 16:57] aselle commented on #5351
Please re-ask this question on StackOverflow which is a better forum for asking questions about how to use TensorFlow. GitHub in mainly for bugs and problems. Thanks!

[2016-11-02 16:57] #5351 closed

[2016-11-02 17:01] gunan commented on #5347
#5346 already addressed this.
To the best of my knowledge, debian links should also be ok in China.

[2016-11-02 17:01] #5347 closed

[2016-11-02 17:03] Randl opened #5357 "Bazel fails to clean"
Bazel fails to clean with following message
[code]
Replacement of `bazel clean --expunge` with `bazel clean --expunge_async` [here](https://github.com/tensorflow/tensorflow/blob/master/configure#L25) fixes the issue.
### Environment info
Operating System:
Ubuntu 16.04

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
[code]

1. The commit hash (

[2016-11-02 17:12] aselle commented on #5354
- Can you run TensorFlow binary from outside the Docker container?
- CUBLAS_STATUS_NOT_INITIALIZED is a classic CUDA runtime not setup properly problem. It's best to remove the complication of docker if you can.
- Avoid using latest tags, instead use specific versions. You can also try nightly if you want a bleeding edge version, but you probably want to name or tag the container id once you get a

[2016-11-02 17:13] aselle commented on #5352
It's difficult to follow exactly what you are requesting and what you did. We'd appreciate any improvements to the documentation based on your experience as a pull request. Thank you!

[2016-11-02 17:16] aselle commented on #5357
Thank you for tracking this down. I'm not sure if this is a recommended option to use always (@jart could you comment), but if it is, then a pull request would be most welcome.

[2016-11-02 17:21] aselle commented on #5350
@lukaszkaiser, could you evaluate and decide whether this is something we want to do. It may be a difficult thing to change at this point given that the ubiquity of use of both of these. It may be worth providing a transposed version of softmax to allow people to optimize this case?

[2016-11-02 17:26] AlienceGG commented on #1965
mac os : 10.11
before run the command in the following line , we must uninstall the `six` by running `sudo pip uninstall six`
I met this erro and fix it by run `sudo easy_install six`

[2016-11-02 17:45] mwoodson1 commented on #386
Any update on the rfft? If not I can possibly pick up some work on that.

[2016-11-02 17:50] civilmanxx commented on #4766
I do not how to fix this as well. It seems that Google do not plan to support this, since v1 model is a small one, which fit for iOS device. If everyone could easily fine-tune a v1 model, freeze and convert it to 8bit file for iOS, then there will be no barrier for iOS. see my another post #4790

[2016-11-02 17:52] civilmanxx commented on #4735
it says run out of memory. I think it has no issue with hard disk. I do not put .ckpt file in /tmp folder, but another one, which should not have limitation on storage.

[2016-11-02 18:26] DavidNemeskey commented on #5350
@aselle I think out of the two, softmax has the "logical" dimensions, not the sampled functions. I preferred a new version / `transposed` parameter to the sampled functions to changing the softmax signature.

I also had a quick look at the code, and I am wondering if the problem might be that `embedding_lookup` is not able to perform a lookup on other than the first axis? I am not familiar with it

[2016-11-02 18:39] nryant commented on #5235
Your input is quite large (over 3 gigabytes), so not surprising that the convolutional operation resulting in a memory issue. I was *just* able to run it on a Maxwell Titan X.

[2016-11-02 18:50] aselle commented on #5319
After upgrading, did you try starting from a clean repository sandbox (i.e. delete your old directory, reclone and build again)?

[2016-11-02 18:51] mbz commented on #4932
I'm still working on this. Please keep the bug the open for a few more
days, I will come back with more details and feedbacks.

On Wed, Nov 2, 2016 at 11:57 AM, Andrew Selle <notifications@github.com>
wrote:

[2016-11-02 18:51] nikogamulin commented on #4766
@civilmanxx thanks for the link. Have you managed to get through first two points, described:
1, i train inception v1 (slim) on a subset of ImageNet dataset (269 of 1000)
2, convert .ckpt into .pb by freeze_graph

I encounter the problem when trying to convert .ckpt (along with .pbtxt definition) to .pb. If you successfully converted to .pb, could you please describe how you ran finetuning (1) and

[2016-11-02 18:53] gokceneraslan commented on #5319
and remove `~/.cache/bazel`.

[2016-11-02 18:57] ringw commented on #2121
I have the same issue when I try to do an FFT. Here's the full backtrace with CUDA_LAUNCH_BLOCKING=1: http://pastebin.com/BbZSxVyG

I'm on CUDA 7.5, will try installing 7.0 next.

[2016-11-02 19:01] civilmanxx commented on #4766
I can't convert fine tuned .ckpt to .pb file, as the error I post above. The solver does not support.

[2016-11-02 19:05] civilmanxx commented on #4766
For **Attempting to use uninitialized value global_step** I met before as well. Is this because you kill the training too early?

[2016-11-02 19:20] nikogamulin commented on #4766
I was running finetuning for about 12 hours on flowers dataset. Have you got past uninitialized value global_step error if running for a certain amount of time?

[2016-11-02 19:42] aselle commented on #5344
So you switched from using a precompiled binary to compiling from source? Correct?
Does it work if you go back to the old whl that was working?
Did you try upgrading your version of bazel? You did not provide the output of bazel --version?

[2016-11-02 19:45] aselle commented on #5336
Could you try the nightly build and also other older versions and see if we can narrow it down to just that build?

It looks like your version of Python does not have UCS4 unicode checked in, see e.g.
https://groups.google.com/forum/#!topic/comp.lang.python/9dThp1h3TMM

Can you do?
[code]
and see what it returns (see e.g. http://stackoverflow.com/questions/1446347/how-to-find-out-if-python-is-comp

[2016-11-02 19:48] drpngx commented on #5234
It might have been the `COLOR_CHAN`. Only indices `0` through `3` are allowed. It might have generated a parse error. Anyway, glad to see you figured it out!

[2016-11-02 19:52] drpngx commented on #3251
@petewarden I'm not sure why the graph.pb.h is not generated.

[2016-11-02 20:01] aselle commented on #5283
Unless there is a bug you suspect, please re-ask this issue on StackOverflow. That forum is a better place to ask "how do I do something." Thanks!

[2016-11-02 20:01] #5283 closed

[2016-11-02 20:02] aselle commented on #5297
@petewarden, do you have any suggestions here. I don't yet have access to a Sierra dev machine, so I can't really try this on my end.

[2016-11-02 20:14] martinwicke commented on #5340
It would be lovely to change that, I agree. I am not sure that we'll get to it -- we're accumulating work fast, and this seems to be a slightly lesser problem than the others.

[2016-11-02 20:16] superrunt19 opened #5360 "how to build iOS static library using bazel"
I'm working with tag `v0.11.0.rc2`.

Following the instructions here https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/makefile/README.md I have successfully built tensorflow for iOS using the makefile approach.  However, I have wondered about the first line in the readme

I can't find any targets in the bazel BUILD files that would build `libprotobuf-lite.a`, `libprotobuf.a`

[2016-11-02 20:20] civilmanxx commented on #5319
i meet similar errors and update to bazel 0.3.2 does not fix the issue.

ERROR: com.google.devtools.build.lib.packages.BuildFileContainsErrorsException: error loading package '': Encountered error while reading extension file 'cuda/build_defs.bzl': no such package '@local_config_cuda//cuda': Traceback (most recent call last):
	File "/home/scopeserver/RaidDisk/DeepLearning/mwang/tensorflow/third_pa

[2016-11-02 20:32] civilmanxx opened #5361 "Object of type 'path' has no field "realpath"."
i get the latest code, installed **bazel 0.3.2**. but still meet errors when run **./configure** for build from source.

root@scopephotos:/home/scopeserver/RaidDisk/DeepLearning/mwang/tensorflow# ./configure
/home/scopeserver/RaidDisk/DeepLearning/mwang/tensorflow /home/scopeserver/RaidDisk/DeepLearning/mwang/tensorflow
Please specify the location of python. [Default is /usr/bin/python]:
Do you wi

[2016-11-02 20:50] damienmg commented on #5357
`--expunge_async` is basically just a way to not block on bazel doing its work, it's not the reason for the underlying error, can you report a bug to bazelbuild/bazel?

[2016-11-02 21:07] aselle commented on #5361
Please provide the information on the template. What operating system, compiler, etc. are you using?

[2016-11-02 21:08] aselle commented on #5360
Sorry that is a general statement that doesn't apply to iOS. For iOS you currently need to use the makefile. Sorry for the confusion.

[2016-11-02 21:08] #5360 closed

[2016-11-02 21:15] civilmanxx commented on #5361
the latest source code. Ubuntu 16.04. Cuda 7.5, cudnn 5.1.3.

[2016-11-02 21:30] aselle commented on #5361
A few more things...
- What version of bazel?
- Did you try upgrading bazel?
- Did you try starting from a clean sandbox?

[2016-11-02 21:30] alexatknit opened #5362 "CUDA_TOO_MANY_PEERS exception when launching on p2.16xlarge on aws"
This issue is identical to the issue discussed [here](https://devtalk.nvidia.com/default/topic/970010/cuda-peer-resources-error-when-running-on-more-than-8-k80s-aws-p2-16xlarge-/).

When launching tensorflow to train on more than 8 gpu instances, tensorflow will cause a CUDA_TOO_MANY_PEERS error in the driver. The Tesla K80 shows up as 2 gpu instances internally so even though the p2.16xlarge tech

[2016-11-02 21:32] zhongyuk commented on #1122
@nmhkahn Regarding your code snippet, may I ask why is `reuse` set to be `None` when `is_training=True`? Wouldn't that trigger the scaling parameter `gamma` and the offset parameter `beta` be re-initialized in every training step? I thought in the original paper, `beta` and `gamma` are "learned along with the original model parameters". To do that, should they be only initialized once and then reu

[2016-11-02 21:33] aselle commented on #5334
Thank you. Best of luck.

[2016-11-02 21:36] reiv commented on #5275
I ran into this problem too after `pip install`ing the cmake-built `.whl` (this is on vanilla Python 3.5 64-bit and built with VS2015). Although dependency walker suggested a bunch of missing dlls, the only one it actually needed was `zlib.dll`; after copying that from the `build` directory into the package installation directory under `site-packages`, the import worked just fine. I realize this i

[2016-11-02 21:39] civilmanxx commented on #5361
I install bazel 0.3.2. my previous version is 0.3.1, as I see another post has the similar issue and is fixed by update to bazel 0.3.2. But it does not work for me. I use **git pull** to update the code. all the local code are up to date.

[2016-11-02 21:44] johndpope commented on #19
for reference - found this - https://github.com/somaticio/tensorflow.rb
a ruby wrapper around tensorflow. (there maybe more)
It looks like they wrapped the c api in another c wrapper. Not sure if this helps.
https://github.com/somaticio/tensorflow.rb/tree/master/ext/sciruby/tensorflow_c/files

<img width="536" alt="screen shot 2016-11-02 at 17 13 09" src="https://cloud.githubusercontent.com/assets

[2016-11-02 21:53] rxwei commented on #19
@johndpope Honestly **none** of those Swift ML libraries are nearly ready,  cross-platform, nor written in Swift 3.0+.

[2016-11-02 21:53] civilmanxx commented on #5361
I run the following cmd and the issues are fixed.

 sudo apt-get update && sudo apt-get install bazel

 sudo apt-get upgrade bazel

[2016-11-02 21:54] #5361 closed

[2016-11-02 21:55] rxwei commented on #19
@johndpope service approach makes sense for now, as a wrapper.

[2016-11-02 22:14] johndpope commented on #19
related https://github.com/grpc/grpc-swift/issues/2

[2016-11-02 22:41] rgobbel commented on #5336
It looks like sys.maxunicode == 65535, which I would guess is UCS2.

I did try back to 0.11.0rc0 and saw the same issue. We've been running with a custom-compiled version, since we needed CUDA 8 support.

It's a little difficult to try a custom version without disrupting others' work, but I can try--we're running TF pretty much 24/7 now.

[2016-11-02 22:44] rxwei commented on #19
@johndpope That one is dependent on Darwin platforms and Apple's Accelerate framework. Not suitable for general use.

[2016-11-02 22:46] aselle commented on #5336
I believe in general it is unlikely that our binary which is designed to work on Ubuntu will work on CentOS 7, because the build options on Python are possibly different between the two. Thus, on CentOS, you might need to use a custom built version. It appears CentOS7 and Ubuntu use different unicode options... @gunan might know better.  You could probably build a custom python just for tensorflow

[2016-11-02 22:53] lukaszkaiser commented on #5350
I did encounter this problem, and the transpose does somtimes incur cost. I don't know how large of a problem this is. I'm unassigning myself as I don't know the details of any softmax code, so I'm not sure how hard it'd be to provide an optional transpose argument.

[2016-11-02 23:00] aselle commented on #5350
Can you think of anybody who would be more appropriate?

[2016-11-02 23:05] lukaszkaiser commented on #5350
I think Stephan Gouws wrote the original NCE code, but I'm not sure who's working on it now, sorry.

[2016-11-02 23:14] gunan commented on #5336
We never tested our binary with CentOS, therefore the distributed pip package has no guarantees.
As @aselle suggested, rebuilding from source, or using docker images on CentOS should work for you.

Not sure about heroku platform. Again, it is never tested.
Therefore no guarantees on it.

[2016-11-02 23:23] QuantumTCode opened #5363 "Convert retrained data into .pb format for ios camera example?"
I retrained image data using the tutorial at ((https://www.tensorflow.org/versions/r0.9/how_tos/image_retraining/index.html)) I did all the steps until `bazel build tensorflow/examples/image_retraining:retrain`. I was wondering how to turn this image training data into a .pb file that I can use in the ios camera example.

Thank you for your help!

[2016-11-02 23:24] QuantumTCode commented on #5363
``

[2016-11-02 23:34] vrv commented on #5357
@Randl: please feel free to close this bug once you've filed a bug with bazel, and reference it here.  Thanks!

[2016-11-02 23:54] rongjiecomputer commented on #17
@zandaqo You only need [standalone MSVC compiler with Windows 10 SDK](https://landinghub.visualstudio.com/visual-cpp-build-tools) and CMake, so there is no need to install the whole Visual Studio. Windows 10 SDK contains dll, static libraries, header files and source codes for the libraries and some useful tools, but it does not contain compiler.

[2016-11-03 00:18] jaredcasper commented on #2146
Heads up that there is now a TensorFlow kernel that wraps warp-ctc in the master branch of the warp-ctc repository: https://github.com/baidu-research/warp-ctc

(note that it too does not support proprocess_collapse_repeated=true or ctc_merge_repeated=false)

[2016-11-03 00:30] LinJM commented on #2146
@jaredcasper where is the kernel? I can't find it.

[2016-11-03 00:55] guojia-git commented on #5338
@aselle Thanks for the suggestions! I haven't fully sort it out yet, but yes you are right. The 'Placeholder' was referring to the drop out layer that's not given a name. Will update and close the issue once I fix it.

[2016-11-03 01:21] JohnnyY8 commented on #5344
Hi @aselle :
I have tried to reinstall tensorflow from compiling the source, but it did not work. I do not why, but I noticed that tensorflow can be installed by pip with CUDA 8.0 and cuDNN v5.1. It works for me.
I tried to upgrading my version of bazel and got the different error.
Although pip works for me, but I still do not know why does the my tensorflow crash?
I will close this issue, if anyo

[2016-11-03 01:37] jaredcasper commented on #2146
@LinJM it is in the tensorflow_binding directory (and only on the master branch) https://github.com/baidu-research/warp-ctc/tree/master/tensorflow_binding

[2016-11-03 01:40] nroth1 commented on #5289
So, I have been able to isolate the issue to roughly when I call save on a session at the same time that I evaluate an op on the session. When I do so, I get the following backtrace:

`
2592 _wrap_TF_Run(_object*, _object*)  (in _pywrap_tensorflow.so) + 1301  [0x106599365]

[2016-11-03 01:59] jhseu commented on #5316
This is now fixed internally and will be pushed during the next sync. In the meanwhile, a workaround is to put your data somewhere in a subdirectory so it's not in your HDFS root.

[2016-11-03 01:59] #5316 closed

[2016-11-03 02:25] aselle commented on #5363
This question is better asked on StackOverflow which is centered around how to do things. GitHub issues is primarily for bugs or feature requests. Thank you!

[2016-11-03 02:25] #5363 closed

[2016-11-03 02:28] aselle commented on #5332
A gradient for gather_nd will be added soon, and we will also be adding tensor indirect indexing moving forward that will make the foo[tensor1] technique work.

[2016-11-03 02:34] ricardopieper commented on #17
Hello!

I'm new to both Python and Tensorflow, but I have done some MNIST stuff in the past. I followed the instructions on tensorflow/contrib/cmake/README.md, and it worked fine, GPU seems to be working fine as well. Tensorflow on Windows seems to be breaking in some places, as expected, and I just want to check whether my understanding of the breakage is right.

I tried to follow https://www.ten

[2016-11-03 02:38] yaroslavvb commented on #5289
"PyThread_acquire_lock" is how Python GIL is acquired. If GIL is the issue,
there must be another Python thread holding the lock. However, session.run
is supposed to be releasing the lock because of line below in tf_session.i,
so running saver ops shouldn't block evaluation.

// Release the Python GIL for the duration of most methods.
%exception {
  Py_BEGIN_ALLOW_THREADS;
  $action
  Py_END_ALLOW

[2016-11-03 03:12] chenliu0831 commented on #5336
@gunan @aselle Heroku also returns 65535. For us it's not a big deal and we already switched to EC2. But it does look like a regression since `0.10.0rc0` works.

[2016-11-03 04:14] jart commented on #5349
I would love to integrate libcurl into the bazel build. I'll do this at some point in the next two months.

[2016-11-03 04:22] tobegit3hub commented on #5316
Thanks @jhseu and that works for me.

I'm sure if it support kerberos now and can @jhseu help to verify that?

[2016-11-03 04:46] aselle commented on #5349
Thanks @jart and thanks for the suggestion @llhe

[2016-11-03 05:15] malzantot commented on #4727
I can work on this.

[2016-11-03 05:17] xinqiu commented on #4760
F tensorflow/core/kernels/conv_ops.cc:526] Check failed: stream->parent()->GetConvolveAlgorithms(&algorithms)
Abort trap: 6

Mac: 10.11.6

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2016 NVIDIA Corporation
Built on Sun_Sep_18_22:16:08_CDT_2016
Cuda compilation tools, release 8.0, V8.0.46
GPU Driver Version: 10.10.14 310.42.25f02

GPU: GTX 750M

Python 2.7.10

tf.__version__ ='0.11.0r

[2016-11-03 05:30] gunan commented on #5336
A quick google search showed that heroku instances are built on top of ubuntu 14.04.
Using docker, I tried the following:

$ docker run -it ubuntu:14.04 bash
$ apt-get update
$ apt-get install python python-dev python-pip -y
$ pip install https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.11.0rc2-cp27-none-linux_x86_64.whl
$ python -c "import tensorflow; print(tensorflow.__version__)

[2016-11-03 05:30] #5336 closed

[2016-11-03 05:35] jungle-cat commented on #5254
Problem solved. The problem seems to be caused by `tf.control_dependencies`.

[code]

when `loss_avg_op, acc_avg_op` is removed from `control_dependencies`, the above problem can be solved.

[2016-11-03 05:35] #5254 closed

[2016-11-03 05:54] dzhyeon commented on #3431
@Sadrpour @jiapei100  I guess the parsing error was caused because you put the line in a wrong location.

putting it like the below will cause an parsing error.
default_target_cpu: "same_as_host"
cxx_builtin_include_directory: "/usr/local/cuda-8.0/include"

putting it inside toolchain namespace like:
toolchain{
  cxx_builtin_include_directory: "/usr/local/cuda-8.0/include"
}

caused no problem, bu

[2016-11-03 07:23] aselle commented on #5362
@zhengxq, it seems like the recommended way to go about this is to use distributed and give each process on the same host half of the available GPUs using CUDA_VISIBLE_DEVICES as discussed on the link article. Could you confirm?

[2016-11-03 07:24] aselle commented on #5338
Thanks for the update, good luck.

[2016-11-03 07:28] cactiball opened #5366 "Does tensorflow support structure of nested sequence like Paddle? Like "each timestep of the input sequence is also a sequence"?"
For example,

X=[[x11, x12, x13], [x21, x22], [x31, x32, x33, x34]], Y=[y1, y2, y3].
This way the initial state of the sequence could be initialized to **0** vector.

Thanks

[2016-11-03 07:36] tobegit3hub commented on #5316
We have tested and confirm that it doesn't support HDFS with kerberos. I'm gonna open another issue to track that if you don't mind. Hope Google would help to work for it :)

[2016-11-03 07:45] siilime commented on #19
@rxwei Are there not significant limitations by using the service approach?

[2016-11-03 07:46] beeva-ivanfernandez commented on #5354
thank you Aselle

- Yes, no problem with it
- Unfortunately that's part of my approach. I am using nvidia-docker to decouple the whole thing and running from containers in AWS.
- I will follow your advice and it'll give a try to previous versions.

[2016-11-03 07:48] tobegit3hub opened #5369 "Support reading data from HDFS with Kerberos"
Now TensorFlow and read/write data from HDFS cluster. But we have tested that it doesn't support HDFS with Kerberos. The log looks like this.

![screen shot 2016-11-03 at 15 25 37](https://cloud.githubusercontent.com/assets/2715000/19958692/3415c576-a1dc-11e6-906b-7e4d4af63574.png)

### Environment info

Operating System: CentOS 7.0
TensorFlow Version: 0.11.0rc1

Refer to https://github.com/tensor

[2016-11-03 08:41] jungle-cat opened #5371 "Is tensorflow threadsafe in feedforward prediction of trained models."
#### Question:

I'ved trained a text classification model using tensorflow and also wrapped Java interface for feedward prediction. And I'm wondering if tensorflow is threadsafe in feedforward prediction.

Thanks

[2016-11-03 08:57] jkschin opened #5372 "Option to check every write in TFRecordWriter."
Referencing this [post](http://stackoverflow.com/questions/40370866/tf-corrupted-record-while-training/40396754#40396754) on stackoverflow.

There may be situations when we write huge databases of images into a TFRecord (or at least a few TFRecords). It would be good if there's an option to check every write to prevent such cases of corrupted data happening during training.

@allenlavoie

[2016-11-03 09:14] nmhkahn opened #5373 "tf.assign_from_checkpoint_fn needs write_version argument to pass to tf.Saver"
Hi,
according to [slim_walkthrough.ipython](https://github.com/tensorflow/models/blob/master/slim/slim_walkthough.ipynb), when we load from checkpoints we can use `assign_from_checkpoint_fn` function.

But (maybe i thought) inside of `slim.assign_from_checkpoint_fn`, it create `tf.Saver` but there is no `write_version` args. And in my case, I have some ckpt with saver V2 but default saver version

[2016-11-03 09:33] rxwei commented on #19
@siilime many significant limitations. I'm working on other approaches. Stay tuned ;)

[2016-11-03 09:39] llhe commented on #5372
@jkschin You mentioned you have run twice, so did you use the same TFRecord file or recreate it for each run?

If it's the first case, I guess you are using local disk. It might be just corruption in the IO path, like **broken disk**, bugs in IO controllers, non-ECC memory and bit rot etc. But this should be rare. Using checksum-ed auto recovery (by either duplication or EC code) file system like

[2016-11-03 09:57] jkschin commented on #5372
@llhe, I could recreate the error. I used the same TFRecord file 4 times. I decided to recreate the TFRecord. It worked.

[2016-11-03 10:10] jkschin commented on #5372
@llhe the case of corrupted data is definitely something that happens locally. It's probably a black swan event. I'll close this as it's probably not wise to implement such a thing.

[2016-11-03 10:10] #5372 closed

[2016-11-03 10:16] AFAgarap commented on #5319
@aselle @gokceneraslan Okay, thanks, guys. I shall try your suggestions. Will get back to you.

[2016-11-03 10:31] KamodaP commented on #5275
I haven't done one thing yet that I think I might try. Because I've copied the dll to DLLs in Python (`C:\[...]\Python35\DLLs`) directory, perhaps that's not the right thing to do and I should put it in `C:\Windows` directory?

[2016-11-03 10:36] dprylipko commented on #5303
I tried to compile TF on RPi 3 model B:
[code]

It worked fine, except some minor issues with the Makefile.

[2016-11-03 10:37] andreas-eberle opened #5374 "Configure requires user interaction in r0.11"
The ./configure in the r0.11 branch requires user interaction if there is more than one PYTHON_LIBRARY_PATH found by the `util/python/python_config.sh` script. In r0.10 it was possible to run a ./configure without user interaction. Furthermore, in the PR #5135 the script was changed to make it possible to directly specify the PYTHON_LIBRARY_PATH to prevent the need of user interaction.

I think th

[2016-11-03 10:43] sahil912 commented on #5297
I tried to setup a new mac which had MacOS Seirra tried to follow the same steps and again stuck with the same issue.

When I run compile_ios_protobuf.sh I am get the following error:

glibtoolize: copying file 'm4/ltsugar.m4'
glibtoolize: copying file 'm4/ltversion.m4'
glibtoolize: copying file 'm4/lt~obsolete.m4'
configure.ac:61: installing './compile'
configure.ac:48: installing './missing'
ben

[2016-11-03 11:25] AFAgarap commented on #5319
@aselle @gokceneraslan Still, the same problem. It crashes.

Early screenshot:

![screenshot from 2016-11-03 19-16-36](https://cloud.githubusercontent.com/assets/11130276/19964141/0cb0241c-a1fb-11e6-8d24-cbc09af282b0.png)

Photo of my screen when `bazel build` crashed my computer:

![img_0744](https://cloud.githubusercontent.com/assets/11130276/19964167/320d9b72-a1fb-11e6-92ad-330e4e95ab51.JPG)

[2016-11-03 11:30] gokceneraslan commented on #5319
Can you try something like that http://stackoverflow.com/questions/34756370/is-there-a-way-to-limit-the-number-of-cpu-cores-bazel-uses ?

[2016-11-03 11:34] AFAgarap commented on #5319
Sure, will do. Thanks

[2016-11-03 11:47] AFAgarap commented on #5319
I did `bazel build -c opt --config=cuda --local_resources 5120,2.0,1.0 //tensorflow/cc:tutorials_example_trainer`. Looks like it's still using all four cores of my computer. Though my computer is not yet crashing right now.

![screenshot from 2016-11-03 19-43-39](https://cloud.githubusercontent.com/assets/11130276/19964672/157974e2-a1fe-11e6-8fd1-4dbdb817e294.png)

[2016-11-03 12:02] Dannyzen opened #5375 "Error cloning linenoise"
This is a helpful note for anyone who might come across the following error, building tensorflow on arch linux (I may also have some funky ssh-agent settings causing this issue):

[code]

I was able to remedy this problem by changing the block for linenoise `tensorflow/workspace.bzl:181` to:

[code]

[2016-11-03 12:15] AFAgarap commented on #5319
This is the screenshot of my computer after `bazel build -c opt --config=cuda --local_resources 5120,2.0,1.0 //tensorflow/cc:tutorials_example_trainer` was done. I suppose, it's successful? I'lll try to build the pip now.

![screenshot from 2016-11-03 20-10-39](https://cloud.githubusercontent.com/assets/11130276/19965490/288ac74e-a202-11e6-96e1-4220c58f0ae0.png)

[2016-11-03 12:18] Randl commented on #5253
https://github.com/bazelbuild/bazel/issues/2033
If I try to build tensorflow on NFS, it's necessary to provide `--output_user_root` for `clean` to work properly

[2016-11-03 12:19] llhe commented on #5372
@jkschin @allenlavoie May be adding an option **Ignore corrupted record silently** in the reader is a reasonable feature request? Looks like many TF users use poor unstable storage but processing **big** data which data corruption is not that rare.

[2016-11-03 12:27] #5357 closed

[2016-11-03 12:28] AFAgarap commented on #5319
@gokceneraslan @aselle This is the result of my `bazel build -c opt --config=cuda --local_resources 5120,2.0,1.0 //tensorflow/tools/pip_package:build_pip_package`:

[code]

[2016-11-03 12:30] CCXD opened #5377 "How to slice a tensor for custom loss?"
Trying to implement a custom loss function that works as following in Theano:
[code]
e.g. y_true = [[0, 0, 0, 0, 5], [9, 0, 0, 0, 0]]
y_pred = [[0.2, 0.1, 0.2, 0, 4.8], [9.5, 0.3, 0.1, 0, 0]]

would return ([4.8, 9.5] - [5, 9]) ** 2 = 0.29
The loss should only be calculated for the y_pred values at the index of the nonzero y_true values.

I tried

[code]
but you cannot slice like a numpy array. I

[2016-11-03 12:37] preetij15 opened #5378 "Issue Linking of rule '//tensorflow/python:_pywrap_tensorflow.so' failed while building"
I have added a new Op kernel in "user_ops" folder of "tensorflow" source directory. I have also written a test to verify if the Op is successfully implemented. But while building and testing my Op kernel using the command, "bazel test //tensorflow/user_ops:xxxx_test", I am getting the following error:
Linking of rule '//tensorflow/python:_pywrap_tensorflow.so' failed: gcc failed: error executing c

[2016-11-03 13:06] AFAgarap commented on #5319
Okay, I re-run `bazel build -c opt --config=cuda --local_resources 5120,2.0,1.0 //tensorflow/tools/pip_package:build_pip_package`, and it went fine. Though I was not able to see its output since I added a `| less`. But, when I did `bazel-bin/tensorflow/tools/pip_package/build_pip_package /tmp/tensorflow_pkg`, then `sudo pip install /tmp/tensorflow_pkg/tensorflow-0.10.0-py2-none-any.whl`. I got it

[2016-11-03 13:27] gokceneraslan commented on #5319
OK, let's close the bug then.

[2016-11-03 13:51] AFAgarap commented on #5319
Thanks a lot, @gokceneraslan @aselle !

[2016-11-03 13:51] #5319 closed

[2016-11-03 14:08] zandaqo commented on #17
I've managed to build successfully the pip package following the cmake path, and installed it with `pip install tensorflow-0.11.0rc1_cmake_experimental-py3-none-any.whl` which reported a successful installation. However, when I try to import tensorflow, I get the following errors:

[code]

Did I miss some dependency here or something was wrong with the build/installation?

[2016-11-03 14:32] beniz opened #5379 "C++ SetDefaultDevice does not appear to work properly"
I'm using a simple C++ session that works fine otherwise. Trying to use `tensorflow::graph::SetDefaultDevice` to pin on either CPU or GPU (per id) does not appear to work:

- without `SetDefaultDevice`:

[code]
all goes well beyond this point.

- now trying to pin on `GPU0`:
[code]
yields
[code]
Same with `/cpu:0`, no surprise.

- looking at https://github.com/tensorflow/tensorflow/blob/f7ec99516c

[2016-11-03 14:33] aminbenarieb commented on #5333
Same error: macOS 10.12.1, XCode 8.1

[2016-11-03 14:59] ErivaldoJunior commented on #17
@zandaqo, I got this problem when I first run tensorflow on Windows. You just need to compile the examples, and add the folder with the compiled examples to your path. When you compile the sample codes, it will also compile some DLLs needed for Tensorflow.

[2016-11-03 15:08] dojoteef commented on #1947
Just a follow up on this. I finally tracked this down to a faulty motherboard. Sorry for the false alarm. In case anyone else runs into an error case similar to mine and you happen to be using an [Asrock X99 WS-E](http://www.asrock.com/mb/Intel/X99%20WS-E/) motherboard, it seems to be a [common quality control problem](http://goo.gl/G8V55l) they have.

[2016-11-03 15:25] MircoT opened #5380 "'tensorflow/core/public/session.h' file not found"
I didn't find anything about this problem. I'm creating the python package from the source with bazel, the commands used are the same of the official guide in the section [create pip package](https://www.tensorflow.org/versions/r0.11/get_started/os_setup.html#create-the-pip-package-and-install).

The file *.whl* generated is working but doesn't have some include files that I use in a new op create

[2016-11-03 15:30] zandaqo commented on #17
@ErivaldoJunior By compiling the examples do you mean this: `MSBuild /p:Configuration=Release tf_tutorials_example_trainer.vcxproj`? I did that before compiling the pip package. It compiles to `.\Release`, is that the folder to add to path? I have just tried adding it, but no luck so far.

[2016-11-03 15:35] ErivaldoJunior commented on #17
@zandaqo, that is right. I just add that Release folder to my Windows path and it worked. However, I tested by launching python my_tensorflow_script.py from a CMD window. I don't know if it work if you use some kind of IDE or iPython.

[2016-11-03 15:38] johndpope commented on #19
fyi - I cherry picked @nubbel proto definitions from https://github.com/nubbel/swift-tensorflow
and have two docker containers
- tensorflow / parsey mcparseface api
- swift3 dev container

these should fire up by simply typing
**make start**
https://github.com/johndpope/DockerParseyMcParsefaceAPI/

(there is a node client that will hit the grpc service of parsey / but that's not the tensor flow gr

[2016-11-03 15:40] TaihuaLi opened #5381 "Documentation For The New Version of Histogram on TensorBoard"
Hello~

I'm trying to interpret the new version of the histogram and it looks like the x-axis represents the value/bin, y-axis represent the step/time, and **z-axis represents the density since it is a continuous number. In addition, the color represents the standard deviation??**

Is my interpretation correct? If so, I can help putting up the documentation for the new histogram tab.

Thanks!

NOT

[2016-11-03 15:46] tiagofrepereira2012 commented on #492
I'm having similar issue here.

VGG16 (which is around 500MB) + a batch size of 128 samples and I run out of memory. I have a Tesla K40m with 11GB of memory.

How can I deal with that?

[2016-11-03 15:47] vasantivmahajan commented on #4944
I am facing the same issue. I updated the CROSSTOOL file and added `cxx_builtin_include_directory: "/usr/local/cuda/include" ` But I am still facing the same issue.
I am using the following:
Ubuntu 16.04
Cuda 7.5
Cudnn 5.0
Bazel 0.4.0

Can someone guide me as to how to build GPU enabled TensorFlow?

[2016-11-03 16:03] zandaqo commented on #17
@ErivaldoJunior Thanks, you were right about missing DLLs, though in my case it turned out to be `zlib.dll` that was missing from both the package and `.\Release` folder. I've manually copied `zlib.dll` into the folder, as it was suggested [here](https://github.com/tensorflow/tensorflow/issues/5275#issuecomment-258006589) and the import now works.

[2016-11-03 16:07] zandaqo commented on #5275
@reiv Same story here, same mistake and copying `zlib.dll` helped, thanks for the suggestion. I too think the wheel could address this issue better.

[2016-11-03 16:08] yavigol commented on #868
Vincent.  I just got the same issue:
"Error loading notebook
Unreadable Notebook: C:\Users\Yaroslav\Documents\Knowledge\Udacity - Deep Learning\1_notmnist.ipynb NotJSONError('Notebook does not appear to be JSON: u\'\\n\\n\\n\\n<!DOCTYPE html>\\n<html lang="e...',)"

should I use some trick for the notebook to work?

[2016-11-03 16:13] vincentvanhoucke commented on #868
The notebook at head parses well on GitHub:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/udacity/1_notmnist.ipynb
It didn't last time around, so you have a different problem. Would need to see repro steps.

[2016-11-03 16:44] #4471 closed

[2016-11-03 16:48] ischlag opened #5383 "GraphDef cannot be larger than 2GB using input pipelines"
_ValueError: GraphDef cannot be larger than 2GB._

I'm not loading my data into a constant. I'm using an input pipeline to prefetch small batches. My graph works with cifar10 but if I use my SVHN input pipeline I get the error posted above. Both input pipeline scripts are virtually the same. How can it be that my data becomes part of the graph?

### Environment info
CUDA 8.0.27
ccuDNN 5.1.5
Tensor

[2016-11-03 16:56] sonalgupta commented on #2373
I would also be interested in a feature like this. Both Theano and Keras support it.

[2016-11-03 17:02] #2559 closed

[2016-11-03 17:19] aselle commented on #5381
Thanks @TalhuaLI. FYI, @danmane, I assume documentation contributions are welcome.

[2016-11-03 17:22] aselle commented on #5378
Please provide more information (see the template for issue submission). OS? Python Version? Does /usr/bin/gcc exist? What version? What version of bazel? Thanks.

[2016-11-03 17:25] yavigol commented on #868
Vincent, thank you for your response!  I did the following:

1) downloaded 1_notmnist.ipynb from the "Assignment 1: notMNIST" page of the Deep Learning course (https://classroom.udacity.com/courses/ud730/lessons/6370362152/concepts/63703142310923)
2) ran the Jupyter Notebook environment from Anaconda.  Jupyter tab opened in Chrome
3) put 1_notmnist.ipynb into a folder, visible through the "Files"

[2016-11-03 17:28] vrv commented on #5380
Will send a fix, thanks for the report!

[2016-11-03 17:28] aselle commented on #5379
Check that this error doesn't occur when you don't call SetDefaultDevice at all. @keveman, do you have any inight?

[2016-11-03 17:31] vrv commented on #5379
I'm going to go out on a limb and suggest that you are setting 'visible_device_list' incorrectly in your ConfigProto, and this has nothing to do with SetDefaultDevice.  SetDefaultDevice doesn't touch 'visible_device_list', and the documentation of 'visible_device_list' should clear up what the syntax is supposed to be.  Please comment if you disagree and I'll reopen!

[2016-11-03 17:35] KamodaP commented on #5275
@zandaqo did you copy it to windows directory?

[2016-11-03 17:37] aselle commented on #5377
In the future you should ask usage questions like these on StackOverflow. However...

You probably are looking for gather_nd does indirect indexing,. On the other hand, that is not necessary and gather_nd does not yet have a gradient. So instead do
[code]

[2016-11-03 17:37] #5377 closed

[2016-11-03 17:38] aselle commented on #5375
Thanks for the helpful post.

[2016-11-03 17:38] #5375 closed

[2016-11-03 17:40] aselle commented on #5374
Thanks for bringing this up. Were you offering to contribute a patch to fix this. It looks like #5135 was already merged. Do you have a pointer to the code in ./configure that has regressed?

[2016-11-03 17:43] aselle commented on #5371
This question is better addressed on StackOverflow. Also, your question is ill-posed. Thread safety is not a simple concept. It is more a question of is it thread-safe to use something in a particular way. For someone to answer this question, you need to describe the context in which you are going to be setting up your feedforward prediction infrastructure.

[2016-11-03 17:43] #5371 closed

[2016-11-03 17:47] aselle commented on #5369
@jhseu, can you comment on this issue?  Also, for future reference, posting textual errors logs is much more useful, because they get indexed, so people who see similar errors in the future can search for them.

[2016-11-03 17:48] zandaqo commented on #5275
@KamodaP No, just a random directory that was in my `PATH`. I'm not yet sure where to give a permanent place, so I checked by adding custom directory with `zlib.dll` to my `PATH`.

[2016-11-03 17:50] jhseu commented on #5369
I'm not too familiar with Kerberos, so I don't plan on working on this anytime soon. Contributions are welcome:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/core/platform/hadoop

[2016-11-03 17:55] aselle commented on #5350
@DavidNemeskey, I don't have anything concrete to share about sparse support right now. We are thinking about further sparse support more generally than just optimizers. Perhaps @gouwsmeister  could comment on his opinion.

[2016-11-03 17:58] aselle commented on #5354
I really have no ability to test this, so I am marking it as community support. You might try asking on stackoverflow which might have more AWS docker users.

- Make sure you docker pull to make sure your container is up to date.
- Make sure to upgrade your nvidia-docker install.
- I would also try making sure you can run a non-tensorflow cublas program (perhaps one of the nvidia demos).

[2016-11-03 18:03] aselle commented on #5366
It's not really clear what you are asking. However, it looks somewhat like sparse ragged arrays. You might look at our sparse tensor format. Also, this question is more of a TensorFlow usage question, so please re-ask in StackOverflow. GitHub issues is primarily for bugs, feature requests, etc. If you find that nobody's suggestions on StackOverflow are reasonable, then you can come back and reques

[2016-11-03 18:03] #5366 closed

[2016-11-03 18:09] aselle commented on #5373
It looks like this request is to get write_version added as an argument to tf.assign. Could you take this on @concretevitamin or comment on what a better way to solve this problem might be. Thanks!

[2016-11-03 18:30] aselle commented on #5383
Note in the future this question is best asked on StackOverflow given that it concerns best usage. In fact, to get more help on feeding large data, that is the best place to look (or some of the documentation on the TensorFlow web page).

The key problem here is that tf.convert_to_tensor() creates tf.constant's behind the scenes. What you need to do is to create a placeholder that represents a bat

[2016-11-03 18:30] #5383 closed

[2016-11-03 18:47] concretevitamin commented on #5373
@nmhkahn: if I understand you correctly, I think you
1. Used the master branch to produce a V2 checkpoint.
2. Try to load it with some code (in this case, some contrib code) in an official release (or candidate).

This is not a supported use case.  If you do your second step also in master, it should work (I pushed out the default version switch this week).

[2016-11-03 18:47] #5373 closed

[2016-11-03 19:02] gpapan commented on #4668
#5300
I am curious what the motivation/use for adding `atrous_conv2d_transpose(inputs, filters)` is in the first place.
Since `atrous_conv2d()` always has `stride=1`, its `transpose atrous_conv2d_transpose(inputs, filters)` is equivalent to `atrous_conv2d(inputs, mirrored(filters))` -- see for example sec. 4.3 and 4.4 of https://arxiv.org/pdf/1603.07285.pdf.

[2016-11-03 19:58] aselle commented on #5297
This is apparently the same error as #5333.

[2016-11-03 20:32] MattSich commented on #19
Has anyone had any success with wrapping the objc ios camera example in a swift project?

[2016-11-03 20:37] #2606 closed

[2016-11-03 20:44] alexatknit commented on #5362
I can confirm that deploying as a cluster to half of the devices per worker does not reduce the number of p2p connections attempted when starting a session.
[code]

[2016-11-03 20:52] civilmanxx commented on #4766
Are you using the latest code. Now I do not meet **Attempting to use uninitialized value global_step** anymore.

[2016-11-03 21:04] zheng-xq commented on #5362
@alexatknit, could you confirm that you have set CUDA_VISIBLE_DEVICES? TensorFlow should not even see the invisible devices in that case.

Even if it is not set, this is a bit weird. Before trying to enabling peer-access to each other GPU, TF calls cuDeviceCanAccessPeer, only if it returns True, TF proceeds to call the next cuCtxEnablePeerAccess. It seems to cuDeviceCanAccessPeer returns True even

[2016-11-03 21:06] alexatknit commented on #5362
I have not altered CUDA_VISIBLE_DEVICES, I'll try it out.

[2016-11-03 21:26] benbarsdell commented on #5362
This is correct.

[2016-11-03 21:30] zheng-xq commented on #5362
@benbarsdell, would it be too big a feature request to have future Cuda drivers return False in that case?

[2016-11-03 21:41] alexatknit commented on #5362
I've set CUDA_VISIBLE_DEVICES and still have the issue

[2016-11-03 21:49] zheng-xq commented on #5362
@alexatknit, could you share your command line, your CUDA_VISIBLE_DEVICES setting, and the resulting logs? If the log is too large, feel free to upload somewhere such as pastebin.com and share the URL here.

[2016-11-03 21:49] alexatknit commented on #5362
My cluster is launched remotely, I set the environment variable in python

[2016-11-03 21:52] civilmanxx commented on #4766
There is another example for v3 fine tune and write .pb file directly. I think we can update code to fit v1, which mean we do not need freeze graph anymore.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/image_retraining/retrain.py

[2016-11-03 21:59] zheng-xq commented on #5362
Depending on where you set it, it might be too late. It needs to be set the first time Cuda driver is loaded.

The safest thing to try is to set it in the script that launches your worker and ps.

[2016-11-03 22:07] alexatknit commented on #5362
There are far too many variables associated with launching a model, I would need to rework my entire system to try that. My listener process seems to be importing tensorflow during the depickle phase which loads the driver, and this state is passed to the child processes.

[2016-11-03 22:11] arahja commented on #4964
At the risk of sound naive, I was searching for similar answers regarding the tensorflow contrib documentation and stumbled upon this. Hopefully this helps someone.

https://github.com/tensorflow/tensorflow/tree/master/tensorflow/g3doc/api_docs/python

[2016-11-03 22:17] benbarsdell commented on #5362
@zheng-xq

cuDeviceCanAccessPeer only considers the topology of the system, independent of any other state; I believe that changing this behavior could potentially break existing codes. There are also other reasons why calls to cuCtxEnablePeerAccess may still fail.

[2016-11-03 22:55] alexatknit commented on #5362
Alright, I updated the architecture to support setting environment variables before deserialization and it appears that it still fails:

[code]

[2016-11-03 22:57] danmane commented on #5381
Yes, documentation contributions would be welcome. As you hypothesize, the axes are bin value, time in steps, and density. The color is actually just a function of which run it is from, and how far back in time it is.

I label the axes x for value, y for density, and z for time (since the oldest steps seem to recede backwards into the distance)

[2016-11-03 22:59] vrv commented on #5362
If we change it from an error to a warning, would that make people happy? :)

[2016-11-03 23:05] zafartahirov opened #5389 "[minor enhancement] Absolute vs. Relative import"
I am raising a question if absolute imports should be changed to relative -- even if not in all the files, but at least in the files that have to be grouped together.
According to [PEP 328](https://www.python.org/dev/peps/pep-0328/#rationale-for-relative-imports):

I understand that absolute imports help avoid "shadowing" of the modules/methods with the same names, but if the naming convention of

[2016-11-03 23:09] vrv commented on #5362
(I'm going to send out a change that does this, and then we can refine it if it turns out to be bad).  I think enough people are bitten by this that don't really care, that we should just fix it for the common case.

[2016-11-03 23:14] rasbt commented on #1839
just wanted to reference the related thread on the scikit-learn tracker here: https://github.com/scikit-learn/scikit-learn/issues/6665

[2016-11-03 23:19] Laserbear commented on #4965
where would this go in the file directory if I wanted to help out? contrib?

[2016-11-03 23:20] aselle commented on #5389
We are unlikely to switch to relative imports because we need to adhere to our internal conventions which mandate absolute paths. @wicke or @vrv can probably give a better explanation. I believe bazel also does things this way. Thus I am closing it for now unless  @wicke and @vrv think we could do it. Thanks for bringing it up though.

[2016-11-03 23:20] #5389 closed

[2016-11-03 23:21] ebrevdo commented on #4965
Please sync with josh dillon and matt hoffman by email before writing
code...

On Thu, Nov 3, 2016 at 4:20 PM, Christian Ng <notifications@github.com>
wrote:

[2016-11-03 23:26] LifeIsStrange commented on #22
What about using HIP ?
https://github.com/GPUOpen-ProfessionalCompute-Tools/HIP/issues/45
"Your wish is being granted, Eigen is being ported over AMD GPU via HIP. The second part of your request is can we bring standardized tool supporting FLOAT16 that ships with all our GFX8 GPU's, wish granted."

Also, not related but you should use syCL/openCL 2.0 instead of 1.2, because nvidia is already suppo

[2016-11-03 23:37] alexatknit commented on #5362
@vrv does the change make sure to prioritize the p2p connections that are in the graph? I wouldn't want to have an issue where gpus 8-15 can't talk to each other even though they're the only ones the graph is deployed to in that particular tf session.

[2016-11-03 23:45] vrv commented on #5362
Yeah, I would try to use CUDA_VISIBLE_DEVICES if you really don't plan on using the GPUs in your graph.   All the change will do is not fail when it currently fails, so things might get a bit slower, but at least it will tell you via the warning logs, instead of just failing the job.

[2016-11-03 23:48] jhseu commented on #1996
We have examples running on Marathon in the new repo: [github.com/tensorflow/ecosystem](https://github.com/tensorflow/ecosystem).

Closing this issue. If you have any changes you want to make, please create pull requests or issues in the new repo.

[2016-11-03 23:48] #1996 closed

[2016-11-03 23:48] zafartahirov commented on #5389
Thanks!

[2016-11-04 00:00] nmhkahn commented on #5373
I see. thanks for comment!

[2016-11-04 00:31] benoitsteiner commented on #5327
@gokceneraslan I can't reproduce the issue locally, so it's kind of a shot in the dark, but can you check if https://github.com/tensorflow/tensorflow/commit/0b730a0d9351a89bf0abff8b18ff382f4559d239 fixed the issue ?

[2016-11-04 00:42] pranavvm26 opened #5390 "tf.variable_scope() does not allow variables to be defined for individual towers under a scope, in tensorflow/tensorflow/contrib/slim/python/slim/nets/inception_v3.py"
I have been working with inception_v3 model from past few weeks and I came across this issue with the inception model defined under tensorflow/tensorflow/contrib/slim/python/slim/nets/inception_v3.py.

This newer inception model cannot create variables for individual towers in a multi-gpu environment defined under a tower scope and fails with the following error:

**ValueError: Variable tower_1//C

[2016-11-04 00:52] aselle commented on #5390
Could you please provide a concrete example of what you are trying to do and what happens. Also, what version of tensorflow, what operating system. The template is provided so that we can help you, please don't ignore it.

[2016-11-04 00:54] aselle commented on #5350
@gouwsmeister, could you add anything further?

[2016-11-04 00:56] aselle commented on #5326
I don't think optimizers are taking advantage of sparse updates yet. @alextp, do you have anything to add on the subject? It's an area of some interest of course, so thanks for bringing it up.

[2016-11-04 02:06] Conchylicultor opened #5391 "[Feature Request] Loop_function argument for seq2seq models"
The RNN decoder has a [parameters](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/seq2seq.py#L117) `loop_function` which allows to do some pre-processing on the output of the RNN before connecting the output on the next input.

That would be great to have this parameters for `embedding_rnn_seq2seq` and `embedding_rnn_decoder`. For now the only control we can have is no

[2016-11-04 02:45] austintrombley opened #5392 "AttributeError: 'module' object has no attribute 'learn'"
In your first code example you have the following function tf.contrib.learn being called:

[code]

But if you look at the options you won't see learn....

[code]
So you get the error:
[code]

[2016-11-04 02:49] austintrombley commented on #5392
This is in your boston example as well, for the import:

NameError: global name 'learn' is not defined

[2016-11-04 02:51] benoitsteiner commented on #5277
There are 2 simple things you can do to speed things up:
   l*l -> l.square()
   m*m -> m.square()

Also, you're using l and m both to compute real_phase and n: you could force their evaluation (like you've done for phase) to avoid their recomputation.

Last but not least, try to add an eval() before the broadcasts. For example, u.broadcast(lm_shape) will probably evaluate faster if you write it a

[2016-11-04 04:02] honeytidy opened #5393 "Error in `/home/software/anaconda2/bin/python': invalid fastbin entry (free): 0x00007f2fa8023940"
**Tensorflow version: 0.11.0rc1 (compile from source)
OS: CentOS Linux release 7.0.1406 (Core) 64bit
model: models/inception**

I am training inception model from scratch following [this](https://github.com/tensorflow/models/tree/master/inception), but after about 11500 steps got this error:

[code]

[2016-11-04 04:29] passerbyd opened #5394 "Distributed training hangs"
As mentioned in #4651, during training with syncreplicasoptimizer, tensorflow must run into hanging(after thousands steps). This does not happen with simple network setup.
Both workers and pses are still "alive", no errors/exceptions are reported. The saver thread keeps working.

Environment info
the cluster is set on 2 servers, one ps and one worker on each. And each worker works on 4 gpu cards.

[2016-11-04 04:34] passerbyd commented on #5394
If you need the setup to reproduce this issue, please message me your email address.

[2016-11-04 05:02] danmane commented on #5341
I tried to reproduce this and couldn't. I tried the following things:
Linux - Build the pip package against master (not 0.11 rc2 due to bazel version compatibility issues), install resultant pip package, and launch TensorBoard. No problem.
Mac - Build the pip package against 0.11 rc2, install resultant pip package, and launch TensorBoard. No problem.
Mac - Bazel build tensorboard, and launch tenso

[2016-11-04 05:33] gokceneraslan commented on #5327
No, it didn't fix it. But it seems there is something weird about my setup, because I also cannot reproduce it on another machine with same CUDA and cudnn.

[2016-11-04 05:59] jkschin commented on #5341
@danmane

[code]

Bazel details
[code]

Ran
[code]

Got this still
[code]

[2016-11-04 06:46] guojia-git commented on #5338
@aselle I finally got it running.

First I tried to work around with that dropout layer in the model, by feeding the `Placeholder` (the keep probability) with a value `{1f}`, but I ended up getting `In[0] is not a matrix` at the `MatMul `that uses the dropout as input. I gave up after trying a few things to solve it.

The final working model was a clean one with manually assigned parameters.

I gu

[2016-11-04 06:46] #5338 closed

[2016-11-04 07:41] sjperkins commented on #5277
Those changes take the total evaluation time to between `2.87` and `2.89` seconds.

Implemented in https://github.com/ska-sa/montblanc/commit/2400e551861e633c3bc27bbf0ee1f36ef7ab03fd.

[2016-11-04 07:50] olesalscheider commented on #22
I don't know if HIP would be useful or not. It is only supported on some AMD cards so that we need an OpenCL implementation anyway if we want to support all devices. It might still be worth it if the HIP implementation is notably faster. This might be the case but I haven't seen many benchmarks (HIP vs. OpenCL) yet. Another reason might be MLOpen (which is written in HC) as an replacement for cudn

[2016-11-04 08:51] llhe commented on #5369
I'll provide a patch for kerberos-enabled HDFS.

[2016-11-04 08:56] Curious72 commented on #5392
@austintrombley It seems to work fine !

`>>>import tensorflow as tf`
` >>>dir(tf.contrib)`
`['__builtins__', '__doc__', '__file__', '__name__', '__package__', '__path__', 'absolute_import', 'bayesflow', 'copy_graph', 'distributions', 'division', 'factorization', 'framework', 'graph_editor', 'grid_rnn', 'layers', 'learn', 'linear_optimizer', 'lookup', 'losses', 'metrics', 'opt', 'print_function',

[2016-11-04 09:35] beniz commented on #5379
@aselle hi, see the initial report, there's no error when no call is made to `SetDefaultDevice`.

@vrv hi, I can certify we are not touching anything within the `ConfigProto` in our code (it's heere actually https://github.com/beniz/deepdetect/blob/tf/src/tflib.cc#L199) besides the `set_allow_growth` option that is set to `true`.
I believe I understand what `SetDefaultDevice` does and that `visibl

[2016-11-04 09:44] diniakmalia commented on #5284
I got same issue..

2016-10-31 0:13 GMT+07:00 drpngx <notifications@github.com>:

--
best regards,

Dini Rahmawati Akmalia
dr.akmalia@gmail.com
+62896-5488-4113
Mathematics Faculty of Mathematics and Natural Science University Indonesia
2010
*Outstanding Life*

[2016-11-04 10:04] andreas-eberle commented on #5374
#5135 was merged into master 12 days ago, while the `python_config.sh` file wasn't touched since September 20th in the r0.11 branch. That's why I think the change has never been merged to r0.11. Do you need a PR for this, or can you just merge/cherry pick the changes of #5135 and #5167? (#5167 is a small fix for #5135).

[2016-11-04 10:50] muhrifqii commented on #5143
I have same issue using bazel 0.4.0 on Ubuntu 16.0.4

[2016-11-04 10:50] fabienbaradel commented on #2604
same question as @wangchuan
Did you find a way to tackle this problem? @mrry

[2016-11-04 10:56] fabienbaradel commented on #2604
Look here @wangchuan http://stackoverflow.com/questions/35620157/how-can-i-use-values-read-from-tfrecords-as-arguments-to-tf-reshape
@mrry already answered this question.

[2016-11-04 11:30] pltrdy opened #5396 "tf.train.range_input_producer(epoch_size, shuffle=True) does not terminate"
Hey guys,

While working on language modeling using PTB dataset  [(as shown in TensorFlow tutorial)](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/models/rnn/ptb/ptb_word_lm.py) I had an issue with `ptb_producer `[(see on StackOverflow)](http://stackoverflow.com/questions/40406469/tf-nn-embedding-lookup-does-nothing-blocking-the-execution-but-no-associated-cp).

Long story short,

[2016-11-04 11:46] himanshurobo commented on #37
Is there any update ??

On 31-Oct-2016 12:06 pm, "willshion" <notifications@github.com> wrote:

[2016-11-04 11:53] evogta commented on #5333
I’m not sure why Xcode 8.1 could not support iPhone simulator with CNN function, but Apple original CNN example does not work on simulators and could not build app. Then it’s working on real device only.

So, I wonder Tensorflow also could not run on simulators.
I modified the following sh files for disabling simulator build.

compile_ios_protobuf.sh
compile_ios_tensorflow.sh

I deleted “make” par

[2016-11-04 12:21] beeva-ivanfernandez commented on #5354
thx @aselle. I'll give a try on stackoverflow

[2016-11-04 13:15] llhe opened #5399 "Seg faults when build with Hadoop file system support"
When I run testes with TensorFlow hadoop file system, seg fault was found:
[code]
Haven't dig into this, and this may not directly related to hadoop plugin, because it can happen without accessing any hdfs files (but `LibHDFS::Load` is indeed called). This can't be reproed without linking hadoop.

[2016-11-04 13:18] pranavvm26 commented on #5390
@aselle sorry about my initial post, please check the description now. If more details are needed please let me know.

[2016-11-04 13:48] hughperkins commented on #22
Update on tensorflow-cl:
- rewriting of the goto/label code as for/while/if is well underway
- tree reading and transformation is pretty much done, means `ir-to-opencl` has access to the for/if/while structure of any kernel I've tried so far (which is, ok, about 2 actual tf ones I confess :-P)
- writing the tree to opencl is well underway, just missing phis, and hte indents are a bit all-over-the-

[2016-11-04 14:44] johnnymakk commented on #3251
I managed to get the label image example compiled.
I cloned the most recent tensorflow repo and was able to make the project OK.
graph.pb.h is generated in tensorflow/contrib/makefile/gen/proto/tensorflow/core/framework
I noticed the fix for eigen is done.
Thanks @drpngx and @petewarden

[2016-11-04 15:22] drpngx commented on #5143
Please update to a recent tenorflow.

[2016-11-04 15:27] Fenugreek commented on #4668
@gpapan I didn't realize that, though I'd read that guide (to convolution arithmetic) you linked to before -- I looked at it again just now. Yes, if you set `tf.transpose(filters, perm=[1, 0])` as the kernel you can achieve the transpose.

The one complication I see is for the most common case when the original convolution has `padding="SAME"` (rather than `padding="VALID"`), after the transpose y

[2016-11-04 15:30] qingzew commented on #2604
In fact, `height` or `width` read from tfrecords is a tensor,  so we don't know its value until `sess.run(height)`. the problem is that when the feature of image is used in fc layer,  we can't initialize a weight of fc layer, because the shape of the feature is `None`.

so when reading images with different shape, and keep the shape of image in training, I am not sure how to it. if using `tf.place

[2016-11-04 16:38] aselle commented on #5399
Please look at the issue submission template. If you want further help you will need to provide that information. Thank you.

[2016-11-04 16:42] aselle commented on #5374
@gunan, are we open to merging this change into r0.11?

[2016-11-04 16:43] aselle commented on #5391
@ebrevdo, could you consider this suggestion?

[2016-11-04 16:58] aselle commented on #5394
I'm sorry, but I'm closing this for now for these reasons.
- Providing reproduction instructions was why #4651 was closed, and you still have not provided them. This type of problem cannot be solved by simple inspection of the stack trace (@mrry, you don't have any magical solution do you).
- Providing them for email removes visibility to your issue which is at odds with the idea of community supp

[2016-11-04 17:03] aselle commented on #5392
@austintrombley, it is difficult to help you when you don't provide basic information about your environment. The template in the submit github issue is information that is very useful for us to know in order to help you. Please provide that information. Thanks!

[2016-11-04 17:04] aselle commented on #5392
Thanks @Curios72 for trying this. What version/os are you using for reference so that @austintrombley can try your config?

[2016-11-04 17:18] aselle commented on #4707
Automatically closing due to lack of recent activity, we will reopen when further information becomes available.

[2016-11-04 17:18] #4707 closed

[2016-11-04 17:18] aselle commented on #4499
Automatically closing due to lack of recent activity, we will reopen when further information becomes available.

[2016-11-04 17:18] #4499 closed

[2016-11-04 17:20] aselle commented on #5394
See #5394

[2016-11-04 17:20] aselle commented on #4499
See #5394

[2016-11-04 17:21] #5394 closed

[2016-11-04 17:23] aselle commented on #2164
Automatically closing due to lack of recent activity. We will reopen when further info becomes available. Thanks!

[2016-11-04 17:26] aselle commented on #5393
A few things to try:
- Could you try this with tcmalloc?
- Could you try this without the GPU?
- Could you try this from master?

[2016-11-04 17:27] suryabhupa commented on #2164
I'll try this soon and get back to you.

[2016-11-04 17:31] aselle commented on #5396
To be clear. Are you running the unmodified tutorial, or are you writing your own code and having problems? If it is the former, then it is a bug, and a github issue is appropriate. Otherwise, please wait for a response on stackoverflow.

[2016-11-04 17:46] gunan commented on #5374
As long as the first python library path is valid, if you run
`yes "" | ./configure` the script executes unattended, without any need for user interaction.
Therefore, I am not too much in the favor of merging this. @yifeif @martinwicke for their opinions.

@andreas-eberle would the suggested execution method work for you?

[2016-11-04 17:52] martinwicke commented on #5374
sgtm

[2016-11-04 18:14] vrv commented on #5379
I just can't see a codepath that connects anything in the graph to "visible_device_list".  In fact, visible_device_list is *only* populated here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/common_runtime/gpu/gpu_device.cc#L525, which comes from the ConfigProto.

[2016-11-04 18:20] johndpope commented on #5297
I suggest find the requirements / dependencies -
Then create a Gemfile
[code]

then you can use RVM + bundler to lock into specific version requirements.
[code]

[2016-11-04 18:28] #3622 closed

[2016-11-04 18:28] #5362 closed

[2016-11-04 18:28] #5380 closed

[2016-11-04 18:43] mrry commented on #5275
Hi folks, thanks for digging into this! It looks like we end up depending on both the static and dynamic versions of `zlib` on Windows, for some reason... I'm guessing it's one of the external project on which we depend, maybe libpng?

I'm going to rename the bug and I'll look into removing this dependency on `zlib.dll`.

[2016-11-04 18:44] alextp commented on #5326
Currently optimizers in TF do sparse updates, as you pointed out, only if the variable access was made with a gather (as the gradient of gather is defined to be indexedslices which triggers sparse updates).

That said what this paper implemented is not sparse updates as part of the optimization process but sparse updates as part of unrolling an RNN (wherein each state has a reference to a very lar

[2016-11-04 18:49] mrry commented on #5337
There are no binary packages for Windows (yet), so as Andrew says you'll have to build it yourself. It's currently possible to build a TensorFlow PIP package on Windows using Bazel or (if you want GPU support) CMake.

There's an example script for using Bazel on Windows [here](https://github.com/tensorflow/tensorflow/blob/816ecb7a342c25c19daa8b19627346e1fb38e56f/tensorflow/tools/ci_build/windows/c

[2016-11-04 19:12] brianquinlan opened #5401 "Creating and fitting a Trainable leaks file descriptors"
Creating a Trainable and calling fit() on it leaks file descriptors.

### Environment info
Operating System: Mac OS X

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

None

If installed from binary pip package, provide:

1. A link to the pip package you installed:
2. The output from `python -c "import tensorflow; print(tensorflow.__version__)"

[2016-11-04 19:56] jhseu commented on #5321
Fixed internally. It'll show up during the next sync.

As mentioned in your pull request, we decided on:
[code]
for consistency with how we've been using these error codes elsewhere.

[2016-11-04 19:56] #5321 closed

[2016-11-04 20:16] jhseu commented on #388
Closing this issue. The Rust bindings have been moved to [github.com/tensorflow/rust](https://github.com/tensorflow/rust)

[2016-11-04 20:16] #388 closed

[2016-11-04 20:36] N2ITN commented on #492
Same problem. I can't load the VGG model with my GTX 970.

[2016-11-04 20:36] KamodaP commented on #5275
So it does work after putting zlib.dll into a directory that is referenced in PATH environment variable, but it DOES NOT work when put in directory that is put in PYTHONPATH (or something like that) so including DLLs directory.

[2016-11-04 20:39] drpngx commented on #3251
Could you summarize the steps that you used, so that other people can understand, in a nutshell, what the resolution is?

Thanks!

[2016-11-04 20:47] churichard commented on #5118
I'm having this same problem at the same point in the code with Python 3.5.2 and TensorFlow v0.11.0rc2. Is there a fix?

[2016-11-04 21:07] jiapei100 commented on #3431
@dzhyeon
I actually posted a very similar issue at [https://github.com/bazelbuild/bazel/issues/1996](https://github.com/bazelbuild/bazel/issues/1996) .

Which file and which line should this line "cxx_builtin_include_directory: "/usr/local/cuda-8.0/include" be added to?

Cheers
Pei

[2016-11-04 21:15] rryan commented on #386
Sorry for the delay -- I have a working 1D and 2D (forward and backward) implementation. I'm working on 3D but haven't gotten the gradients correct yet. I hope to get this done soon.

[2016-11-04 21:27] davek44 commented on #4536
What's the benefit of having a dedicated cell? I've been running a convolutional layer followed by a recurrent layer with the existing modules.

[2016-11-04 21:29] davek44 commented on #2789
I'd be a zoneout consumer if one of these implementations is ready.

[2016-11-04 21:33] Mazecreator opened #5404 "VARIABLES Collection name is deprecated, please use GLOBAL_VARIABLES instead"
I pulled the latest HEAD a few mins ago and ran my code.  I started to get the listed error:

**WARNING:tensorflow:VARIABLES Collection name is deprecated, please use GLOBAL_VARIABLES instead.**
**VARIABLES will be removed after 2017-03-02**

I didn't fully debug all the causes but seems like there is errors thrown when the following lines are hit:

if I remove that line, it seems to move to anoth

[2016-11-04 22:16] samjabrahams commented on #4232
Substr (#4338) has been merged into master

[2016-11-04 22:16] #4232 closed

[2016-11-04 22:23] aselle commented on #5401
@martinwicke, @ilblackdragon , could you take a look.

[2016-11-04 23:02] juraj-bicikl opened #5406 "TF_GraphImportGraphDef breaks down while importing graphs with control flow ops"
I've encountered issues when trying to load graphs from python which contain
dropout or batch norm. In the following example:
[code]
TF_GraphImportGraphDef breaks down and I get the following message:

*SIGSEGV (0xb) at pc=0x000000013539dcac, pid=23288, tid=0x0000000000006a1b
C  [libtensorflow.dylib+0x14cac]  tensorflow::shape_inference::InferenceContext::Rank(tensorflow::shape_inference::ShapeHan

[2016-11-04 23:05] gunan commented on #5374
As this has been the default behaviour all along, I will close this issue.
It is a nice to have feature, but we have prepared the 0.11 final packages, and this issue currently has a workaround known to work for most cases.

[2016-11-04 23:05] #5374 closed

[2016-11-04 23:24] asimshankar commented on #5118
@churichard : Unfortunately, this fix didn't make it to 0.11.
I'm sorry I don't have better news, but in the mean time your options are to use Python 2.7 or copy and fix the example code as mentioned above.

[2016-11-04 23:42] agupta74 commented on #4589
Any update on the timeline for resolving this issue? Will it be fixed in the next TensorFlow software release (i.e v11)?

[2016-11-04 23:56] martinwicke commented on #5401
@ispirmustafa Maybe a summarywriter or similar object is not closing a file properly?

[2016-11-05 00:09] martinwicke commented on #5394
From @mrry: Maybe the queue runner on the chief wasn't started, which is required for synchronous updates. No way to verify without the code.

[2016-11-05 00:10] sergii-bond opened #5407 "tf.contrib.metrics.streaming_precision doesn't accept predictions and labels of dtype tf.bool"
According to documentation and comments in code, "tf.contrib.metrics.streaming_precision" should accept predictions and labels of boolean type, but it doesn't seem to be true.

To reproduce, modify testAllCorrect procedure in [this file](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/metrics/python/ops/metric_ops_test.py) by adding dtype=tf.bool to tf.constant, as below:
[

[2016-11-05 01:13] skywaLKer518 opened #5408 "[feature request] GPU Kernel for SparseSegmentMean/SparseSegmentMeanGrad"
I'm using embedding_lookup_sparse op (with 'mean' combiner) to do dictionary learning -- sparse lookup is needed because each object is associated with variable length of word list. But it seems there is no gpu kernel implemented for SparseSegmentMean/SparseSegmentMeanGrad. This operation bottlenecks the entire speed.

Wondering if there are plans to implement gpu kernel for these two ops? I belie

[2016-11-05 03:11] juraj-bicikl opened #5409 "TF_OperationOutputType returns values not contained in TF_DataType"
For example, if TF_OperationOutputType is used on a Variable node of
type Double, the function returns value 102, which corresponds to DT_DOUBLE_REF
in protobuf DataType enum (types.proto). However, value 102 is not defined in
TF_DataType enum (c_api.h).

This inconsistency can be easily avoided by using integers instead of TF_DataType enum,
however it should be probably fixed at some point.

[2016-11-05 03:33] ebrevdo commented on #5391
We are working on a new seq2seq api in tf.contrib.seq2seq which should be flexible enough for you to do this.

[2016-11-05 03:34] luxiaolei commented on #5235
Sorry for such a late replay, I was away for a holiday.
Anyway, its indeed memory issue, closing. Thank you.

[2016-11-05 03:34] #5235 closed

[2016-11-05 03:44] johndpope commented on #50
fyi - I built this script to spit out ruby files (en masse) from tensor flow proto buffers for use with grpc https://gist.github.com/johndpope/5d176f4eebeb7ec983fa77d945c18fb1

If you want to discuss further -> jump on #grpc channel
https://tensor-flow-talk-invite.herokuapp.com/invite

[2016-11-05 03:46] johndpope commented on #18
fyi - I built this script to spit out c# files (en masse) from tensor flow proto buffers for use with grpc https://gist.github.com/johndpope/5d176f4eebeb7ec983fa77d945c18fb1

If you want to co-ordinate efforts further -> jump on #grpc channel
https://tensor-flow-talk-invite.herokuapp.com/invite

[2016-11-05 03:59] nethsix commented on #50
Neat. Thanks for sharing!

On Sat, Nov 5, 2016 at 12:47 PM, John Pope <notifications@github.com> wrote:

[2016-11-05 04:04] benoitsteiner commented on #5327
Thanks for the update. I'm closing this issue.

[2016-11-05 04:04] #5327 closed

[2016-11-05 04:20] johndpope commented on #19
@MattSich presumably you saw https://github.com/acerbetti/TensorFlowPod? maybe open a ticket on that repo if it's broken? I didn't try it.

I cobbled this script together to spit out every swift files for every proto file in tensorflow  for grpc communication - but without intermediary services layer - this isn't going anywhere.   https://gist.github.com/johndpope/5d176f4eebeb7ec983fa77d945c18fb1

[2016-11-05 04:28] fangyihao commented on #550
With all default params, the result is not good, even at the 335800 steps
![image](https://cloud.githubusercontent.com/assets/22711053/20027603/8aeb77f2-a2ee-11e6-8009-64951300c8b1.png)

[2016-11-05 04:36] Conchylicultor commented on #5391
Great. Thanks!

[2016-11-05 09:53] rdipietro opened #5412 "Request: Functionality for obtaining gradients that are internal to a while_loop"
I'd like to manipulate the gradients that are internal to a while loop. The actual purpose is to view / manipulate recurrent-neural-network behavior, but here is a simplified example to get the idea across:

[code]

In this example, `x[t] = 2*x[t-1]` for all `t`, so we'd like `dloss_dx` to be `[4., 2., 1.]`. We instead get `[ 0.  0.  1.]`. I don't think this is a bug: we're actually taking the der

[2016-11-05 10:29] sahil912 commented on #5297
trying to dig more, came across #4640 which is exactly the same issue as I am facing. I just followed the fixes pointed out removing  all occurence of **X86_64** bits from the build scripts compile_ios_protobuf.sh & compile_ios_tensorflow.sh and then running build_all_ios.sh
works great on device.

[2016-11-05 10:29] #5297 closed

[2016-11-05 12:44] icouckuy opened #5413 "StudentT.cdf() bug"
With the TF0.11 rc2 (also with rc0) I get the following error while trying to evaluate the CDF of the StudentT distribution:
[code]
Is the CDF of StudentT supported? According to the docs it should:
https://www.tensorflow.org/versions/r0.11/api_docs/python/contrib.distributions.html#StudentT

MWE:
[code]

[2016-11-05 13:39] jjgh commented on #50
@johndpope I think it should just be https://tensor-flow-talk-invite.herokuapp.com/ sorry for nitpicking :)

[2016-11-05 13:58] younfor opened #5414 "how to run distributed version on mutiple CPUs but not GPUs."
when i run scripts like follows:
CUDA_VISIBLE_DEVICES='' python distribute.py --ps_hosts=192.168.1.100:2222 --worker_hosts=192.168.1.100:2224,192.168.1.100:2225 --job_name=ps --task_index=0

CUDA_VISIBLE_DEVICES='' python distribute.py --ps_hosts=192.168.1.100:2222 --worker_hosts=192.168.1.100:2224,192.168.1.100:2225 --job_name=worker --task_index=0

CUDA_VISIBLE_DEVICES='' python distribute.py --

[2016-11-05 15:11] lan2720 opened #5415 "UnsupportedWheel: tensorflow-0.11.0rc2-cp27-cp27mu-linux_x86_64.whl"
Hi all,

I'm updating my tensorflow from r0.10 to r0.11 or the master, but after I run the cmd:
[code]
I just got a `tensorflow-0.11.0rc2-cp27-cp27mu-linux_x86_64.whl` instead of `tensorflow-0.11.0rc2-py2-none-any.whl`. And this file always caused an `UnsupportedWheel` error when I run pip install.

This is the pip.log:
[code]

Operating system: Ubuntu 14.04
Kernel release: 4.4.0-45-generic
Cuda t

[2016-11-05 15:36] lan2720 commented on #4944
I met the similar problem. Any solution or advice? Thanks.

[2016-11-05 15:39] lan2720 commented on #4944
And anyone knows how to uninstall bazel completely? I suppose it's the bazel problem and want to reinstall it.

[2016-11-05 17:38] Lass3 commented on #5415
Same problem with the downloadable on page: https://www.tensorflow.org/versions/r0.11/get_started/os_setup.html

Ubuntu 16.04, kernel 4.4.0-45, CUDA 8.0.44, gcc 5.4.0, python 2.7.12 :
$ sudo -H pip install --upgrade tensorflow-0.11.0rc2-cp27-none-linux_x86_64.whl
tensorflow-0.11.0rc2-cp27-none-linux_x86_64.whl is not a supported wheel on this platform.
$

But "parallel" python 3.5 file works in my

[2016-11-05 17:52] #5291 closed

[2016-11-05 18:24] alphajatin commented on #25
@smtabatabaie Have you tried to build cuDNN from source as suggested by @martinwicke, I am facing exactly same issues as yours and it would help me a lot if you share your exprience?

[2016-11-05 20:11] raphtown opened #5416 "Possible Bug - Varying session run times when parallelized across GPUs on one node"
Hello tensorflow team!

I have been trying to parallelize my 3D convolution network across 2 GPUs on the same node (using data parallelism), and have found that some of my session runs took significantly longer than others.  Upon closer investigation using your timeline feature, I found that sometimes GPU1 would wait a certain amount of time before starting to run its convolutions even as GPU0 was

[2016-11-05 21:56] jubbens opened #5417 "1% GPU usage and slow training times after unknown DSO update?"
Tensorflow with CUDA was working fine. Cross-entropy loss was going to zero (CIFAR-10 and a very simple CNN), but training error stayed around the same as random chance. I mention this in case it may be related to my issue.

In between runs, not 5 minutes after it was just working, I mysteriously got this error message about my video driver:

`kernel version 361.42.0 does not match DSO version 367

[2016-11-05 22:24] pawel-n opened #5419 "Broken build on gcc 6.2.1"
ERROR: /XXX/tensorflow/core/kernels/BUILD:2632:1: C++ compilation of rule '//tensorflow/core/kernels:quantized_ops' failed: gcc failed: error executing command /usr/bin/gcc -U_FORTIFY_SOURCE '-D_FORTIFY_SOURCE=1' -fstack-protector -Wall -Wl,-z,-relro,-z,now -B/usr/bin -B/usr/bin -Wunused-but-set-parameter -Wno-free-nonheap-object -fno-canonical-system-headers ... (remaining 125 argument(s) skipped

[2016-11-05 23:04] zafartahirov commented on #5308
I was trying to see how this issue might get resolved without hurting the maintainability and without breaking the package integrity, and nothing comes to mind -- sorry, have nothing to contribute in here.

I think I have found the two solutions that are being "tried" in the [current master](https://github.com/tensorflow/tensorflow/tree/163357b7f3e02ef9b68cd5f107285e27a7f16c8c), I am not sure whic

[2016-11-05 23:37] drpngx commented on #5308
Thanks for looking into this!

We want to retain some of the ease and flexibility that we have, while disallowing accidental imports.

Here's what we do:

1. We document symbols that we should use, with `@@foo`
2. We use `remove_undocumented` to delete all symbols from "selected" modules/packages
3. We have a whitelist

"Selected" modules/packages are those that are imported into the `tf` namespac

[2016-11-05 23:44] icoxfog417 commented on #17
I successed to build the tensorflow! But `cmake 3.3.1` causes build error, `3.6.3` works fine.

[2016-11-05 23:48] martinwicke commented on #17
Good to know! We'd welcome a PR with an appropriate minimum version
statement in the cmakelist file.

On Saturday, November 5, 2016, Takahiro Kubo <notifications@github.com>
wrote:

[2016-11-06 01:43] hughperkins commented on #22
Hmmmm, tree for `reduction` is pretty hard to untangle.  After all the current trnasforms I have, I'm still left with:
[code]
This shows the branching tree for reduction
- the number after each node type is the node id, like 'ReturnBlock 45' has a node id of 45
- the node type is the first word, like eg `ReturnType`
- benign node types are the `For`, `Sequence`, `If` etc
- `ConditionalBranch` is w

[2016-11-06 01:57] dbfr3qs commented on #5005
I made a quick and dirty hack to the example code on my own fork for those who (like me) got stuck because of this: [https://github.com/dbfr3qs/tensorflow/commit/e1006cf8307662e1984dba6560e67e246a7ba46c](url)

[2016-11-06 02:30] caisq commented on #5415
Renaming the wheel to `tensorflow-0.11.0rc2-cp27-none-linux_x86_64.whl` should address the problem.
Can you give it a try?

[2016-11-06 03:09] QuantumLiu opened #5422 "Why my TF is much slower than Theano?"
Using keras,TF cost 10s for each epoch,and Theano only cost 2s!
I'm using Ubuntu16.04 sever,GTX1060,CUDA8.0,cudnn5.1
~$ python
Python 2.7.12 (default, Jul  1 2016, 15:12:24)
[GCC 5.4.0 20160609] on linux2
Type "help", "copyright", "credits" or "license" for more information.

I tensorflow/stream_executor/dso_loader.cc:111] successfully opened CUDA library libcublas.so locally
I tensorflow/stream_e

[2016-11-06 04:05] jrmuizel commented on #22
Would the relooper algorithm be helpful here? http://mozakai.blogspot.ca/2012/05/reloop-all-blocks.html

[2016-11-06 04:43] CTTC opened #5423 "'module' object has no attribute 'Default' [Pip Installation, Ubuntu 14.04, cuda 8.0, cudnn 5.1]"
I just use **Pip Installation** method to install tensorflow 0.11 on ubuntu 14.04. And I installed cuda8.0, cudnn 5.1. The installation went well, but when I tried to import tensorflow in python, the following error occurred.
[code]
How to solve this problem? Thanks.

[2016-11-06 04:45] ramanishka commented on #5422
Maybe the issue in Keras in that case?

[2016-11-06 06:26] andre-amorim commented on #42
1 - get windows 10 anniversary
2 - Install Windows Subsystem for Linux (Beta) [WSL], which enables developers to run native Ubuntu user-mode console binaries through the Bash shell in Windows 10.
3 - Follow tensorflow install instruction.

![tensorflow on wondows 10](https://cloud.githubusercontent.com/assets/3344654/20035773/ee5fec90-a3e9-11e6-8f23-f74632d914ed.png)