[2015-12-10 19:00] girving commented on #466
Ah, but the fact that it exits without the error message is a bad bug.

[2015-12-10 19:01] girving commented on #466
I'll fix the bug part now.

[2015-12-10 19:07] girving commented on #256
@ry: Questions like that are better suited to stackoverflow.  This thread should stay focused on the  missing `conv2d_transpose` op.  (However: it isn't related to upsampling, you may be looking for `tf.resize_bilinear` and friends).

[2015-12-10 19:12] andrewharp commented on #452
I am unable to reproduce this issue using a fresh bazel install (from source) and clone of the TF repo. tensorflow/examples/android:tensorflow_demo still builds cleanly for me.

Note that unless you clone the TF repo with --recursive, you will not grab the protocol module into your local tree. Could this be related to your issue?

[2015-12-10 19:13] vrv commented on #464
Based on reading the code, I think it is expected: there is not yet support for SparseTensors with those three optimizers, since _apply_sparse() function isn't implemented.  Turning this into a feature request.

[2015-12-10 19:24] hamidb commented on #452
I had protobuf already cloned.
I will try to reproduce it again and provide more details.

[2015-12-10 19:24] girving commented on #465
Agreed, I've wanted this too.  There are some annoying obstacles, since in some places we automatically convert singleton tensors to lists and this feature would be backwards incompatible, but we've had some internal discussion about removing that magical (and fairly unidiomatic) list conversion.  If we did that, we'd be able to add *your* automatic conversion, which would be great.

[2015-12-10 19:35] dankolbman opened #470 "Tensorboard does not support Python 3"
[tensorboard.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tensorboard/tensorboard.py) and [tensorboard_handler.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tensorboard/tensorboard_handler.py) are still using `BaseHTTPServer` which was move to `http.server` in Python 3. There are some other changes with `StringIO` and `urlparse` that were quickly resolv

[2015-12-10 19:36] vrv commented on #470
Thanks -- We'll try to update tensorboard to be python 3 compatible -- will probably be in the next binary release.

[2015-12-10 19:54] hamidb commented on #452
@andrewharp
I can reproduce it when using `bazel 0.1.1`. It compiles with `0.1.2`
Here are the steps to reproduce:

1- bazel clean --expunge

2- cd google/protpbuf/ & make clean

3- rm -rf ~/.cache/bazel/_bazel_user

4- compile bazel

5- ./configure tensorflow without gpu

6- bazel build --verbose_failures  //tensorflow/examples/android:tensorflow_demo

I get this:
[code]

It will be OK if I first

[2015-12-10 19:59] lionleaf commented on #127
Thanks, @davidzchen. For anyone Googling and copy pasting, it's
`git submodule update --init`

[2015-12-10 20:19] alexatknit opened #471 "Build issue with bazel "python_bin_path.sh: No such file or directory""
I've updated my code, and following what is currently listed under https://www.tensorflow.org/versions/master/get_started/os_setup.html#source arrived at this output:

[code]

Any idea why the python_bin_path.sh file hasn't been generated?

[2015-12-10 20:20] vrv commented on #471
Did you run ./configure  first?

[2015-12-10 20:25] alexatknit commented on #471
Sure did. Right now I'm trying updating to bazel 0.1.2 or rebooting.

[2015-12-10 20:28] vrv commented on #471
Hmm, @wicke, this might be related to your change earlier today?

[2015-12-10 20:35] martinwicke commented on #471
Probably. As a workaround while I look into this, you can edit tensorflow/tools/pip_package/build_pip_package to remove the offending line. Replace

[code]

with

[code]

Then rebuild.

[2015-12-10 20:38] craigcitro commented on #471
worst-case, we could also just do ${PYTHON_BIN_PATH:-python}

[2015-12-10 20:44] andrewharp commented on #452
To confirm, you are unable to reproduce the issue when building with bazel 0.1.2?

I am unable to follow your reproduction steps for "cd google/protobuf & make clean":

~/tf_git/tensorflow$ cd google/protobuf/ & make clean
[1] 939
make: *** No rule to make target `clean'.  Stop.

Given that "//third_party:protoc" appears nowhere in the Tensorflow or google/protobuf repos, I'm guessing this sounds

[2015-12-10 20:47] kovasb commented on #5
I've been using @saudet's JavaCPP presets, extremely useful, thanks! I'm using it to build a Clojure interface to tensorflow.

Some comments:

1. There is opportunity for simplification / a higher-level layer

A lot of the JavaCPP api replicates protobuf functionality that can be directly achieved on the JVM, without the bridge. Took me a bit to realize this, but one is simply building up a protob

[2015-12-10 20:52] kovasb commented on #3
@girving What aspect of automatic differentiation is not available from other languages? Is that just for defining new ops?

[2015-12-10 20:55] girving commented on #3
If you search for `RegisterGradient` in the python directory, you'll see all the places we define the gradients of various ops.  The gradients are defined by Python code, so they aren't available from pure C++ as yet (we hope to change this at some point).

[2015-12-10 20:56] craigcitro commented on #149
OK -- I was waiting for the new release, which is imminent, so new images are pushed.

We now have `b.gcr.io/tensorflow/tensorflow:<tag>`, for `tag` all four variations mentioned above, as `latest` and `0.6.0` versions. I'm also busy uploading new containers to dockerhub.

I think we can close this for now, with a caveat that we need to come back in ~2 months and figure out if there are enough dow

[2015-12-10 21:15] hamidb commented on #452
@andrewharp
You don't need to make clean if you are using fresh protobuf repos. It will be automatically created. And yes. With 0.1.2 it compiles OK.
I will explore more since I still can reproduce it

[2015-12-10 21:23] andrewharp commented on #452
@ahumesky Does this look like a Bazel issue that was fixed between 0.1.1 and 0.1.2?

[2015-12-10 21:26] kovasb commented on #3
I don't fully grasp the architecture/order of operations, but could one populate the gradients using python, while still calling into the C++ code via a bridge?

Alternatively: Run the python code once to generate the gradients for every op, serialize all those gradients to a file, and then other runtimes can read them off and register them?

[2015-12-10 21:32] girving commented on #3
Both of those might work, but I don't know how much of a savings they are compared to doing it the right way and porting the code to C++.

[2015-12-10 21:34] kovasb commented on #3
I fully agree, just sounding out a temporary solution so I'm not blocked (I imagine it might be a while before all that code is ported)

[2015-12-10 21:38] ruffsl commented on #149
Hmm, I suppose we could also come back to this once https://github.com/NVIDIA/nvidia-docker/issues/7 is finished, as this would be a prerequisite for official repo GPU support. I take it this the current docker hub repo: https://hub.docker.com/r/tensorflow/tensorflow

[2015-12-10 21:43] craigcitro commented on #149
@ruffsl yep, that's the one.

so closing for now, but we can either reopen or create a new issue later.

[2015-12-10 21:43] #149 closed

[2015-12-10 21:44] andrewharp commented on #452
My best guess is that this was fixed by https://github.com/bazelbuild/bazel/commit/c74ee3784d3fd3a722f92c39805e57b4353a4509

When you clean out everything some pregenerated binary must be getting lost. I would suggest using Bazel 0.1.2 or later if that solves your problem. There are no Java protocol buffers used by the demo, so  figuring out a way to somehow force the unecessary //third_party:prot

[2015-12-10 21:49] bschreck commented on #335
This seems pretty important. If labels come from a separate file and need to be joined with the proper images in tensor flow, then having a good and easy visualization would do wonders for being confident that the correct labels are matched with each image.

[2015-12-10 21:49] alexatknit commented on #471
Thanks @martinwicke, that did the trick.

[2015-12-10 21:50] hamidb commented on #452
Yes. For me, it only happens when I use 0.1.1

[2015-12-10 22:03] chihaytong commented on #471
It looks like the ./configure script puts python_bin_path.sh into the root tensorflow/tools directory, not tensorflow/tensorflow/tools.

Either util/python/python_config.sh or tensorflow/tools/pip-package/build_pip_package.sh needs to change.

[2015-12-10 22:09] vrv commented on #467
Fixed!

[2015-12-10 22:09] #467 closed

[2015-12-10 22:13] andrewharp commented on #452
@jayendra13 Are you still experiencing your original problem?

[2015-12-10 22:21] martinwicke commented on #457
Can you download the wheel again? I think this is fixed by now, but I want
to make sure.

On Thu, Dec 10, 2015 at 1:20 AM daikazoku <notifications@github.com> wrote:

[2015-12-10 23:14] yjernite opened #472 "bazel test numpy issue: RuntimeError: module compiled against API version a but this version of numpy is 7"
Hello everyone,

  I just wrote my own op, and finally got it to compile, but I'm having trouble running bazel test. Specifically, I get the following error:

I am surprised as I was able to compile tensorflow with bazel, and import it without any problems. Any ideas as to what might be causing this? My test is the following:

[code]
And the full error:

[code]

Thanks in advance,
Yacine

[2015-12-10 23:17] martinwicke commented on #472
This looks like a numpy version issue. Maybe you have more than one version of numpy installed in various places? If you installed from source using the instructions, you should have built against numpy 1.10 (version a), but maybe your runtime environment is set up using an older version?

[2015-12-10 23:17] girving commented on #472
Do the tests pass without your new op?  It seems very weird that the new op would have anything to do with this, but I haven't looked at that code path and could easily be wrong.

[2015-12-10 23:28] ahumesky commented on #452
'//third_party:protoc' is referring to the protoc in bazel here:
https://github.com/bazelbuild/bazel/tree/master/third_party/protobuf
https://github.com/bazelbuild/bazel/blob/master/third_party/BUILD#L20

How were you doing this step: "4- compile bazel"? If you were doing just "compile.sh compile", then the embedded tools might not have been created
@lberki may know which commit may have fixed thi

[2015-12-11 00:05] noisychannel commented on #152
@vrv This is still a problem when there are multiple GPUs (in exclusive mode) on the machine and some of them have processes running on them. Setting CUDA_VISIBLE_DEVICES is not ideal if you do not actually know which GPU is available. nvidia-smi will only show the current state of the GPUs and there's no way of ensuring that while you spawn your process, no other process occupied the GPU you set

[2015-12-11 00:08] vrv commented on #152
@zheng-xq: is it possible to query the status of the exclusive mode bit?

[2015-12-11 00:08] noisychannel opened #473 "Occupies GPU even if it is not compatible"
As the title states, even if a GPU is not CUDA compatible, Tensorflow will occupy the GPU and then proceed to ignore it.

Here's a use case :

CUDA_VISIBLE_DEVICES=3 python convolutional.py
....
I tensorflow/core/common_runtime/gpu/gpu_device.cc:669] Ignoring gpu device (device: 0, name: Tesla K10.G2.8GB, pci bus id: 0000:45:00.0) with Cuda compute capability 3.0. The minimum required Cuda capabil

[2015-12-11 00:17] #471 closed

[2015-12-11 00:30] lglhuada opened #474 "How to change the type of placeholder"
I declared a placeholder with labels=tf.placeholder(tf.float32,shape=(5)),
while when I checked the shape of 'labels' with tf.shape(labels), it returned
Tensor("Shape_2:0", shape=TensorShape([Dimension(1)]), dtype=int32, device=/gpu:1) TensorShape([Dimension(5)]).

Obviously I set labels as tf.float32, it is actually int32. How can I resolve it. Thanks in advance.

[2015-12-11 00:32] girving commented on #474
The shape of a tensor is always integers, regardless of the dtype of the tensors.  For example, a 1-D tensor can't have 2.7 elements.

[2015-12-11 00:32] girving commented on #474
If you want to see the dtype of labels, do `labels.dtype`.

[2015-12-11 00:32] #474 closed

[2015-12-11 00:37] lglhuada commented on #474
OK, thanks for your very quick feedback.

[2015-12-11 01:15] fabiencro commented on #464
OK, thank you. But since ADAM work for this, there should not be any major issue preventing to use RMSProp as well, right? (I would be quite interested in using RMSProp with nce_loss).

Also, if this is expected, I think you should try to document this. I do not think it is mentioned in the doc that only 3 out of the 6 default optimizers support sparse update. The doc of nce_loss (and of sampled s

[2015-12-11 01:26] vrv commented on #464
Assigning to someone who knows more about this part of the codebase

[2015-12-11 01:51] #466 closed

[2015-12-11 02:00] ebrevdo commented on #403
I plan to add support for this but it won't happen until at least January.
On Dec 9, 2015 5:37 PM, "Raingo" <notifications@github.com> wrote:

[2015-12-11 02:01] ebrevdo commented on #414
The warnings are fine. The underlying Eigen library doesn't always mark
functions as OK to run on a gpu, even if they are. That results in many of
the warnings.
On Dec 8, 2015 7:25 PM, "Luzy" <notifications@github.com> wrote:

[2015-12-11 02:54] dmitrychervov commented on #469
I'm not sure how related this is, but I had one of the abovementioned issues, "undeclared inclusions in rule ..stream_executor", with another GPU (K80), and downgrading from Bazel 0.1.2 to Bazel 0.1.1 helped.

[2015-12-11 03:41] sirinath opened #476 "Make Sure Full Functionality is Available in C/C++"
Please make sure all the functionality is defined in the C++ core.

[2015-12-11 03:43] sirinath commented on #3
If all the functionality is not available in the C++ core then porting will be very difficult and some cases not possible (with respect to a fully functional version). Also I opened this: https://github.com/tensorflow/tensorflow/issues/476

[2015-12-11 04:08] linweijun opened #477 "An error occurred while installing"
OS：ubuntu 15
python：2.7.9

error Log：
/usr/bin/pip run on Fri Dec 11 12:02:09 2015
tensorflow-0.5.0-cp27-none-linux_x86_64.whl is not a supported wheel on this platform.
Exception information:
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/pip/basecommand.py", line 122, in main
    status = self.run(options, args)
  File "/usr/lib/python2.7/dist-packages/pip/commands/i

[2015-12-11 04:57] zheng-xq commented on #152
@noisychannel, even if we can query which GPU is available, and by the time we actually try to assign the GPU, it could be taken by other processes. This is not very different from having a script query GPU status through nvidia-smi, and set the GPU id accordingly.

The only way I can think of that makes your case easier is actually to create the context, and if it fails, ignore that failure and m

[2015-12-11 08:48] severun commented on #429
@philwo I've asked the system admin to upgrade the gcc version and I now have access to gcc5.2, However, I'm getting some compiler errors like <code>Error: expecting string instruction after `rep'</code> which is probably due to an old version of the binutils. So I'll give an update once this has been fixed.

[2015-12-11 08:50] panmari commented on #466
Thanks for the fix, I'll open a new issue with my feature request.

[2015-12-11 08:54] panmari opened #478 "Extend tf.unsorted_segment_sum to allow 'rejecting' entries"
As already discussed in #466, it would be useful to be able to mark entries which are not to be summed anywhere by assigning negative indexes (or just -1) there. @girving suggested, that this behavior should only be enabled when setting a flag (e. g. `drop_negatives`) to preserve the existing error detection behavior, which I support.

[2015-12-11 08:57] damienmg commented on #469
The include error should have been fixed with my changes but I may have missed some targets. We don't test all tensorflow targets on ci.bazel.io (we don't have GPU). The corresponding headers should be added in the TensorFlow's build files.

[2015-12-11 09:45] lorenzoferrone opened #479 "undefined symbol: PyUnicode_AsUTF8String"
Hi, when I try to do `import tensorflow` I receive the following error:
[code]

OS is Ubuntu 14.04, and I get the same error with both python2.7 and python3.4.

The binaries works fine, but I'm trying to install from source cause I need support for CUDA 3.0.

Thanks

[2015-12-11 11:04] oliverfunk opened #480 "2 bugs in training/input.py"
In the `_dtype()` method in the training/input.py file, the following code for TypeError:

      raise TypeError("Expected types to be consistent: %s vs. %s." %
                      ", ".join(x.name for x in types),
                      ", ".join(x.name for x in other_types))

should be:

      raise TypeError("Expected types to be consistent: %s vs. %s." %
                      (", ".join(x.nam

[2015-12-11 13:29] yjernite commented on #472
Hello,

  Thanks for the quick reply. Other tests also fail with the same error. I checked my version of numpy (using >>>import numpy; numpi.version.version :  1.10.1),  and was unable to find another (but I'm unfamiliar with how the modules are organized on that machine).

  I ended up just compiling with my new op, and it works. However, if someone wants to help debug bazel-test, I'm happy to ru

[2015-12-11 14:04] saudet commented on #5
@kovasb Thanks for the feedback! Obviously, there is much to be done to make the interface more natural to Java, Scala, Clojure, etc.

If you have helper classes to integrate the C++ API with the Java protobuf API, feel free to put all that in the following package, including the generated Java protobuf classes themselves, and send a PR:
https://github.com/bytedeco/javacpp-presets/tree/master/tens

[2015-12-11 14:47] skearnes commented on #310
Protobuf version updated in https://github.com/tensorflow/tensorflow/commit/3116631f950a7de755c786fc954dc9cfb295d127.

[2015-12-11 15:10] rob-rowe opened #481 "Error Running cifar10_train.py in Ver 0.6.0"
The cifar-10 demo ran fine under 0.5.0 but gives errors under 0.6.0 (I rolled back to 0.5.0 and confirmed this). Also cifar10_multi_gpu_train.py works under 0.6.0 as well as 0.5.0.  The output I'm getting when running cifar10_train.py in 0.6.0 is attached. I'm running under Ubuntu 14.04.
[error.txt](https://github.com/tensorflow/tensorflow/files/59525/error.txt)

[2015-12-11 16:35] vrv commented on #469
Thanks @damienmg, I'll try to get the fix in today.

[2015-12-11 16:39] vnkmr7620 opened #482 "error in running sequence to sequence model demo using bazel"
![1](https://cloud.githubusercontent.com/assets/10511526/11749467/edc39e5c-a053-11e5-90f7-739ef703e47c.png)
![2](https://cloud.githubusercontent.com/assets/10511526/11749468/edc7d7ba-a053-11e5-8d04-0532412c76d2.png)

  I am using bazel for compiling and run in tensor flow. when i try to run the sequence to sequence example i got the following error. If anyone knows help us. I also tried to execute

[2015-12-11 16:42] vrv commented on #482
If using bazel:

bazel run -c opt //tensorflow/models/rnn/translate:translate -- --data_dir [...]

You need a "--" before "--data_dir"

If running from python, what version of tensorflow do you have installed?  You need 0.6.0 for running translate.py directly to work.

[2015-12-11 17:14] fxsuper opened #483 "Request for angle"
Getting the angle of a complex number is another mathematical operation that would be useful / basic to have, along the lines of [np.angle](http://docs.scipy.org/doc/numpy/reference/generated/numpy.angle.html).

[2015-12-11 18:00] girving commented on #483
That's a good feature request.  For complex numbers, it should be called `tf.arg` or `tf.argument`.

[2015-12-11 18:01] girving commented on #481
Apologies: we've noticed this internally and fixing it.

[2015-12-11 18:02] girving commented on #479
Is the version of Python you passed to `./configure` the same as the one you're importing tensorflow from?

[2015-12-11 18:03] pronobis commented on #471
This problem still appears for me for master and bazel 0.1.2
[code]

The abovementioned commits are in.

[2015-12-11 18:06] girving opened #484 "Move public protobufs into a special directory"
Currently all the `.proto` definitions are in `core/framework`, but not all of them are public.  For now I'm going to list the public ones in the version document, but this is obviously silly.

[2015-12-11 18:17] noisychannel commented on #152
The established way to do this seems to be:

1. Set the GPUs to operate in exclusive mode.
2. Do not call ``cudaSetDevice()``.
3. When you run your program, it will try and create the context on the first GPU and fail if the GPU is busy.  Assuming you're using CUDART, it should *silently* try and create the context on the next GPUs and fail if all GPUs are busy.

As for exception handling while cr

[2015-12-11 18:31] yoni commented on #64
Still getting this issue with both 0.5 and 0.6 versions of tensorflow. I'm using a `virtualenv` setup. Oddly, I get the error within `ipython` sessions, but don't get the error when running `python`.

[2015-12-11 18:37] yoni commented on #11
I got the same `syntax` keyword error with both 0.5 and 0.6 versions of tensorflow.

I'm using a `virtualenv` setup. Oddly, I got the error within `ipython` sessions, but don't get the error when running `python`. My solution was to remove ipython from the system install and install it in the virtualenv environment, instead. Hope this helps folks sole their install issues.

Relevant IPython warnin

[2015-12-11 18:43] noisychannel commented on #471
Confirmed. This issue still exists.

[2015-12-11 18:46] vrv commented on #471
Does the change in 7c5c20b2b73c40bb4fd113f26bcda73a5e5bec6d help?

[2015-12-11 18:49] noisychannel commented on #471
It does. The script was in the wrong directing when trying to source python_bin_path.sh

[2015-12-11 19:00] panmari commented on #471
Also fixed it for me @vrv

[2015-12-11 19:15] zheng-xq commented on #152
This would work fine if the framework only wants to use a single GPU. TensorFlow is designed to use multiple GPU seamlessly at the same time. So at the initialization stage, it grabs all the visible devices that are compatible, since the client program might use all of them. The actual device used is only known at the graph construction/execution time, which is at a much later stage.

For most of

[2015-12-11 19:18] paulheideman commented on #5
@kovasb A clojure interface sounds really interesting. Got any code to share yet?

Thanks!

[2015-12-11 19:29] noisychannel commented on #152
For 1: AFAIK, the only responsibility of most job schedulers is to ensure that you will have access to the number of GPUs you have asked for on the machine which has been assigned to you. It leaves the actual CPU/GPU scheduling of the processes on that machine to the OS/Cuda driver. Also, hypothetically, if the scheduler was to attempt something of this sort, it would not be able to block the GPU

[2015-12-11 19:34] skearnes commented on #152
Drive-by comment: the sysadmin for my local SGE cluster was able to have an environment variable set that tells me which GPUs my jobs have been assigned. I then use this variable to set CUDA_VISIBLE_DEVICES. I would guess that most common schedulers have similar capabilities, although they may require root-level tweaking.

[2015-12-11 19:58] pronobis commented on #471
Works indeed. Thanks.

[2015-12-11 19:59] pronobis commented on #413
That sounds like a good suggestion. Will check it out.

[2015-12-11 20:20] zheng-xq commented on #456
From an internal discussion, a workaround was suggested using Gumbel argmax trick as follows. We are still discussing whether we should include it in the python op library, or having a more efficient native implementation.

---------------------------------------------------------

Suppose we want to sample a bunch (say, N) of K-ary categorical distributions. Suppose further that none of the proba

[2015-12-11 20:28] lorenzoferrone commented on #479
I thought it was but I was probably mistaken (?).
Redoing every steps in the installation guide fixed the problem form me.

[2015-12-11 20:28] #479 closed

[2015-12-11 20:32] girving commented on #479
We would ideally provide a better error message in this case, but I'm not sure how to do it.  By the time we'd realize the problem, linking has already taken place.

[2015-12-11 20:39] zheng-xq commented on #394
@jpmerc, could you run your command line through sudo, similar to you C++ examples? I wonder whether it is the root access that is making the difference. The initialization logic should be the same between C++ and Python clients.

[2015-12-11 20:52] LeavesBreathe commented on #456
@zheng-xq Thank you for the work-around. If this can be implemented in tensorflow `tf.multinomial` it would be much, much appreciated.

The main problem as I said above is that you have to run `.eval()` to input your tensor into a numpy function. Much of our code is not designed to be evaluated at that point. So having a solution that specifically handles tensorflow's `tensor` would be amazing! Th

[2015-12-11 21:00] zheng-xq commented on #456
To clarify, although the quoted workaround uses numpy function as an example. They could be implemented in TensorFlow using their TF counterpart: tf.argmax and tf.log, without invoking eval().

And yes, we will likely to make something similar to tf.multinomial at some point. We are still discussing how we should do it.

[2015-12-11 21:04] jpmerc commented on #394
It doesn't seem to find the cuda library when in sudo :
[code]

[2015-12-11 21:05] LeavesBreathe commented on #456
Oh duh...I apologize as I should've thought of that. Big Thanks.

[2015-12-11 21:25] wchan commented on #469
can confirm this bug, just git cloned fresh from the tree using blaze 0.1.2, downgrading to blaze 0.1.1 fixes the problem.

[2015-12-11 21:25] zheng-xq commented on #394
Interesting. Could you add the path to your Cuda 7.0 runtime to LD_LIBRARY_PATH?

[2015-12-11 21:26] ilblackdragon opened #485 "Backport for moved models.rnn.linear doesn't work"
In v0.6 linear got moved into `ops.rnn_cell.linear`, but backport here `https://github.com/tensorflow/tensorflow/blob/master/tensorflow/models/rnn/linear.py` points to `tf.nn.linear`.

This break code with v0.5.

[2015-12-11 21:29] vrv commented on #485
Thanks, @ebrevdo can fix this.

Btw, that code was never part of the public API :(

[2015-12-11 21:35] jpmerc commented on #394
It is already in LD_LIBRARY_PATH.

In LD_LIBRARY_PATH I have :
/usr/local/cuda-7.0/lib64
/usr/local/cuda-7.0/lib

The library the program is looking for is there :
/usr/local/cuda-7.0/lib/libcudart.so.7.0
/usr/local/cuda-7.0/lib64/libcudart.so.7.0

[2015-12-11 21:45] noisychannel commented on #152
This is useful to know. However, something like this would require all jobs on the cluster to respect that environment variable when using GPUs. And it takes away some of the scheduling responsibility that should ideally belong to the CUDA driver, adding another layer of complexity. In fact, most other toolkits that are GPU capable will not require something like this and as long as the GPUs are s

[2015-12-11 21:52] vrv commented on #469
I can't seem to reproduce this, either on my mac or on my linux machine, both pulling tensorflow from HEAD and installing bazel fresh from bazel.io for 0.1.2.

William: by any chance would you have time to figure out what the necessary changes are?  I'd be happy to integrate them.

[2015-12-11 21:56] jtrmal commented on #152
Another drive-by comment: when the allocation fails, the app actually segfaults on our machines. That does not provide any possibility for the user to recover from it at the python level.
A good-enough solution would be
a) throw an exception so that user can it catch and try (for example) another device
b) ideally, adding /gpu:auto which would just iterate through the devices and allocate the one

[2015-12-11 21:57] vrv commented on #469
Nevermind, it's the GPU only targets that are messed up.  no wonder.

[2015-12-11 22:20] vrv commented on #469
okay, sort of fixed in https://github.com/tensorflow/tensorflow/commit/a4cefca9f40ae6cfe366b6187d07e5199aa74895

--standalone argument is still required.  Seems like it needs to be addressed by bazel team at https://github.com/bazelbuild/bazel/issues/698

[2015-12-12 01:48] FabHan commented on #17
+1

[2015-12-12 02:28] bschreck opened #486 "string_input_producer has no analogue for other dtypes"
It would be nice to a corresponding int_input_producer for producing a queue cycles through labels, for instance. This is a super easy fix by just adding another wrapper around _input_producer.

[2015-12-12 02:44] pronobis opened #487 "TypeError: metaclass conflict in Python 2 and 3"
TF 0.6.0 installed using PIP gives the following error on import in both Python 2 and 3:

[code]

[2015-12-12 02:49] vrv commented on #487
This error seems to be in the protobuf library (and wasn't something we ran into when testing python 3).  Do you think you could file this bug over at https://github.com/google/protobuf ? I don't think we know enough about protobuf ... :(

[2015-12-12 03:27] Robot-HaoL commented on #42
where is the version tensorflow  that supporting windows ? thank you

[2015-12-12 03:38] anjishnu commented on #53
Managed to get it to build from source.

Overview of how to do it.
Install Bazel - (but not the latest version, because it apparently fails to compile tensorflow according to a ticket I saw there)
I used Build label: 0.1.1

Update pip, install wheels and setuptools
Check out tensorflow's latest version, modify tensorflow/tensorflow.bzl file

 def tf_extension_linkopts():
-  return []  # No extensi

[2015-12-12 03:38] Robot-HaoL commented on #17
I want have a version of TensorFlow for Windows 7,if you have,Please send my email.
My email address:   410524814@qq.com.
Thanks!

[2015-12-12 05:16] pronobis commented on #487
Ok, I have no idea what that was, but deleting and re-installing protobuf solved the problem.

[2015-12-12 05:16] #487 closed

[2015-12-12 06:06] looveu opened #488 "when i install i got this error"

[2015-12-12 06:06] #488 closed

[2015-12-12 06:24] looveu opened #489 "tensorflow hello world catch error"
this is my installation info
[code]
but when I run the code in readme I got this error
[code]
six i has installed.
I'm a python fresher.

[2015-12-12 07:06] GregBowyer commented on #469
That fix seems to have cured it thanks

[2015-12-12 07:36] krishpop commented on #489
Did you try upgrading six with pip? Just run pip --upgrade six

[2015-12-12 08:24] vnkmr7620 commented on #482
thanks. it works, i checked bazel with tensorflow 0.5.0 and python with tensorflow 0.6.0

But anpther problem is in both I am getting the following error after some time. please have a look in the attached image
![13](https://cloud.githubusercontent.com/assets/10511526/11760997/b20cd746-a0d7-11e5-960e-58e681af16b4.png)

[2015-12-12 09:06] looveu commented on #489
I find this on https://www.tensorflow.org/versions/master/get_started/os_setup.html#mac-os-x-importerror-no-module-named-copyreg

[2015-12-12 09:06] #489 closed

[2015-12-12 09:08] looveu commented on #489
[code]

[2015-12-12 09:57] bhack commented on #26
@vrv github history/log is full of "TensorFlow: Merging changes from internal". Not very readable.

[2015-12-12 13:07] infinitisp opened #490 "Error in TF.pad API docs"
Please note the following error in tf.pad in "array_ops.md":

Example 1 currently reads as follows:

    # 't' is [[1, 1], [2, 2]]
    # 'paddings' is [[1, 1]], [2, 2]] ##This is not a valid tensor
    # rank of 't' is 2
    pad(t, paddings) ==>
         [[0, 0, 0, 0, 0] ##This is not the correct output
          [0, 0, 0, 0, 0]
          [0, 1, 1, 0, 0]
         [[0, 2, 2, 0, 0]
          [0, 0,

[2015-12-12 13:18] hardmaru opened #491 "Mac OS X GPU Support Request"
Hi Team

Currently I've been doing some work with TensorFlow (some of my work on http://blog.otoro.net/) and have been developing everything a Macbook Pro running the IPython stack.  My Mac is fairly fast for regular sized tasks, and even has an NVIDA chip (NVIDIA GeForce GT 750M 2048 MB).  Although the current build doesn't support GPU's for Macs, it seems to me from reading earlier threads that

[2015-12-12 13:31] ville-k commented on #491
Hi hardmaru!

I'm in the same situation  as you and was able to build TensorFlow on my Mac with GPU support. I have an open pull request for the changes:

https://github.com/tensorflow/tensorflow/pull/475

[2015-12-12 13:45] hardmaru commented on #491
Hey Ville!

Thanks- I missed that pull request when browsing the history of issues.  Hopefully they will merge your request!  If not I'll try to do it manually.

Cheers.

[2015-12-12 15:10] JesusPlz commented on #17
+1

[2015-12-12 17:17] martinwicke commented on #482
That's a network error when downloading what looks like dependencies. It's
most likely due to a bad internet connection.

On Sat, Dec 12, 2015 at 12:24 AM vnkmr7620 <notifications@github.com> wrote:

[2015-12-12 17:20] martinwicke commented on #26
You're correct. We're working on the process. It'll get better.

On Sat, Dec 12, 2015 at 1:57 AM bhack <notifications@github.com> wrote:

[2015-12-12 20:11] bhack commented on #26
@martinwicke Google [
ExoPlayer](https://github.com/google/ExoPlayer) like github management could be a starting point.

[2015-12-12 21:17] zcyang opened #492 "memory issues"
Hi,

It seems the memory allocation of tensorflow is rather inefficient. I have been running a single layer rnn with 256 batch size, 124 length and dim of 512, it constantly gets memory not enough error for my 4GB 980. In theory, the model size is much less than 1GB

no matter how large the batch size I set, it always use up all the 4GB memory, which is unreasonable. I have been compiling tensorfl

[2015-12-12 21:26] zcyang commented on #492
forgot one thing.

For the most recent version (source from github), when I specifically assign the model on one gpu on a dual-gpu machine, it takes up the memory of both gpus.

[2015-12-12 22:14] zcyang opened #493 "dual gpu memory allocation problem in 0.6"
For the tensorflow 0.6, when I specifically assign the model on one gpu on a dual-gpu machine, it takes up the memory of both gpus.

This problem does not happen for tensorflow 0.5

[2015-12-12 22:35] Nianzu opened #494 "What is quantized data type? For instance qint8, quint8, qint32"
In tensorflow document of class tf.DType: https://www.tensorflow.org/versions/master/api_docs/python/framework.html#DType

There are three types:
tf.qint8: Quantized 8-bit signed integer.
tf.quint8: Quantized 8-bit unsigned integer.
tf.qint32: Quantized 32-bit signed integer.

And also related method about quantized data type. I searched online, but did not find useful resource about it.
Could you

[2015-12-12 22:35] vrv commented on #494
Duplicate of https://github.com/tensorflow/tensorflow/issues/15

[2015-12-12 22:35] #494 closed

[2015-12-12 22:59] JacobIsrael123 opened #495 "cannot use tf.nn.elu(features, name=None)"
Error Message:
AttributeError: 'module' object has no attribute 'elu'

When I try to use tf.nn.elu.

Is it not written in the package yet?  Why it is included in the API document?

[2015-12-12 23:29] girving commented on #495
You may be looking at the documentation for master or 0.6.0 and running TensorFlow version 0.6.0 or 0.5.0, respectively.  What is `tf.__version__`?

Cc @martinwicke in case there's something we can do to make that happen less often.

[2015-12-12 23:30] girving commented on #493
Cc @zheng-xq, but I think we may need more information to help here.

[2015-12-12 23:55] girving commented on #486
@josh11b: Why isn't this just `input_producer`?  It doesn't seem to be at all string specific.

[2015-12-13 00:03] FreakTheMighty commented on #24
I'm seeing what might be a related error:

`_pywrap_tensorflow.so: undefined symbol: cudnnCreate`

Full traceback

[code]

[2015-12-13 00:23] girving commented on #430
In review.

[2015-12-13 00:44] FreakTheMighty commented on #24
My apologies, I was simply missing cudnn. :/

[2015-12-13 01:07] martinwicke commented on #495
Default view on docs is at head, which is suboptimal. It should be 0.6, but
in this case, that may not be the issue.

On Sat, Dec 12, 2015 at 3:30 PM Geoffrey Irving <notifications@github.com>
wrote:

[2015-12-13 03:53] ZhangBanger commented on #244
@khellan Thanks!

[2015-12-13 03:55] ZhangBanger commented on #86
Is there being work done to support these ops on GPU? Would be happy to chip in if individual efforts are being assigned and tracked somewhere.

[2015-12-13 05:29] vnkmr7620 commented on #482
i solved this error. But after downloading it started showing tokenizing and after some time again got error. please have a look on the attached image. (you can find downloaded files as well as the error
![wmtbazelerror](https://cloud.githubusercontent.com/assets/10511526/11765697/768b05e2-a188-11e5-958b-31b4edf30860.png)
)

[2015-12-13 05:59] wchan opened #496 "tensorflow/core/user_kernels needed"
correct me if I am wrong, but I believe a subdir of tensorflow/core/user_kernels is needed to support user written GPU kernels (CPU is fine), this is due to the build rules in tensorflow/core/BUILD when building the user_ops_op_lib is a cc_library rather than say tf_cuda_library.

[2015-12-13 07:45] stonebig commented on #17
Windows support is a bit of a dramatic effort. Maybe supporting Windows only for a truly standard compiler (gcc / tdm-gcc / mingwpy) and on a modern Python (3.4?) would be a much more easy target ?

[2015-12-13 08:52] vnkmr7620 commented on #482
I am running programs on 2GB RAM machine. os type 64 bit, disk space 160 GB processor intel core 2 dueo. Is that becoz of memory prob

[2015-12-13 11:16] Kasmetski commented on #470
nice

[2015-12-13 11:23] bhack opened #497 "Add reference to CONTRIBUTING.md"
Can we add in some way a reference to https://github.com/tensorflow/tensorflow/issues/26

[2015-12-13 11:27] ad26kt opened #498 "Installation exception in EI Capitan"
I just installed homebrew, and also set brew python as default.
when I import tensorflow:
[code]

[2015-12-13 11:36] ad26kt commented on #325
I faced the same problem and I found that I can still import tensorflow and have no problem to run some simple code related to tensorflow.
will I face other problem later ?

[2015-12-13 12:27] jjallaire commented on #387
@girving Interested in your guidance on the various ways to pursue R bindings. Read your comment here providing the lay of the land for Rust (https://github.com/tensorflow/tensorflow/issues/388#issuecomment-161019498). We obviously can pursue SWIG bindings to the existing C++ classes and then pickup additional functionality from the C++ layer once more of the features from the python layer are mov

[2015-12-13 12:48] AshishBora commented on #6
The link to pretrained model of inception for imagenet seems broken
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/assets/tensorflow_inception_graph.pb

[2015-12-13 13:58] JacobIsrael123 commented on #495
@girving  even tf.__version__ report the same error.
How do I know the version of tensorflow on my computer?

[2015-12-13 14:02] JacobIsrael123 commented on #495
@martinwicke I checked, the document has two version "master" and "0.6.0",  both version has **tf.nn.elu**. Logically, **tf.nn.elu** should not be in one of them, right?

[2015-12-13 14:06] 4creators commented on #17
Perhaps using Clang frontend with VC++ CodeGen would be a fastest pathway to get working Windows builds -> [Clang with Microsoft CodeGen in VS 2015 Update 1](http://blogs.msdn.com/b/vcblog/archive/2015/12/04/introducing-clang-with-microsoft-codegen-in-vs-2015-update-1.aspx). Project was designed to provide consistently working toolchain for cross platform   builds of code primarily targeting windo

[2015-12-13 14:09] vnkmr7620 commented on #482
hi all,
           i tried with  bazel run -c opt tensorflow/models/rnn/translate:translate --local_resources 2042,.5,1.0 -- --data_dir /home/cencluster/wmtbazel/
 But it is also issuing the error. Please have a look for the error.
![local res language modeling](https://cloud.githubusercontent.com/assets/10511526/11766651/e103d1ae-a1b7-11e5-910c-b89a76e0687d.png)

[2015-12-13 14:13] LeavesBreathe commented on #492
Hey man, I have had and still have the same issue and asked about it here:

https://github.com/tensorflow/tensorflow/issues/352

You can set the `aggregation_method = 2` and that helped me some. But still you're right. Tensorflow sucks up proportionally way too much memory. It has been difficult to deal with. If they could fix this one aspect, it would be a real game changer.

[2015-12-13 14:49] vincentvanhoucke commented on #495
If tf.__version__ returns an error, your TensorFlow installation is old and didn't have support for elu() yet. Upgrading to 0.6.0 should solve your problem.

[2015-12-13 14:49] #495 closed

[2015-12-13 14:51] vincentvanhoucke commented on #492
Stay tuned, improving memory usage and management is at the top of our list.

[2015-12-13 15:00] vincentvanhoucke commented on #132
No plans to use these by the Google team at this point. We'll definitely evaluate how our current communication channels are working over time and consider alternatives.

[2015-12-13 15:00] #132 closed

[2015-12-13 15:11] vincentvanhoucke commented on #133
Did this issue get resolved? A lot of things have changed with 0.6.0.

[2015-12-13 15:32] LeavesBreathe commented on #492
Sounds great to hear that. I love Tensorflow and with improved memory usage it would be the best deep learning platform in my opinion.

[2015-12-13 17:04] abhinavagarwal07 opened #499 "using #pragma once"
Shouldn't we use both `pragma` once and `ifndef` gaurds ?

[2015-12-13 18:03] danmane commented on #324
Fixed, the current version of the doc doesn't have these typos and has a full, runnable code example.
(And the code example is even tested.)

[2015-12-13 18:03] #324 closed

[2015-12-13 18:10] danmane commented on #458
We're planning to build closer integration between the graph visualizer and the other event types so that it would be possible to visualize data charts directly on the graph; we haven't started work on it yet, though.
For now, if you want to inspect values of the tensors you probably want to add a histogram summary, and you can then view the distribution of values from the tensor on the histogram

[2015-12-13 18:16] danmane commented on #335
From an API perspective, how do you imagine this working? The ImageSummary op would take in an image input and also (optionally?) a text label input? I've also heard requests for bounding boxes on the images. (What happens if you want to make multiple predictions on a single image?)

The image viewer is definitely one of the least-developed parts of TensorBoard at the moment. I want to improve it

[2015-12-13 18:16] danmane commented on #459
Agreed, this isn't great behavior! It's not that hard to fix so I'll try to get it for you soon :)

[2015-12-13 18:23] danmane commented on #322
Yeah, we've talked about this internally - it would be really cool to have a GUI for modifying the graph, but it seems like a lot of work and I suspect it would still not be powerful enough for most use cases. For it to be really useful it would need to be embedded in a broader gui-based execution system for TensorFlow, which also sounds very challenging to get right.

An easier path to fast-feedb

[2015-12-13 18:24] danmane commented on #329
Yeah, we definitely want to make comparing different charts easier. No timeline for when we'll have this, though.

[2015-12-13 18:25] danmane commented on #354
Done.

[2015-12-13 18:25] #354 closed

[2015-12-13 18:47] vincentvanhoucke commented on #499
We can not replace the `#ifndef` guards with `#pragma once` for various reasons. What would be gained concretely from having both?

[2015-12-13 19:00] edblackburn commented on #18
Has anyone actually tried to interpret the TensorFlow python using IronPython?I appreciate there's now a way to use numpy and scipy with IronPython - though I don't know how long ago this was last updated - but IronPython doesn't play nicely with CPython C extensions.

[2015-12-13 19:10] jwnsu opened #500 "MacOS X El Capitan Tensorflow 0.6 upgrade error"
Had a good-running 0.5 tensor flow, now upgrade to 0.6 with command line from Google instruction:
"sudo pip install --upgrade https://storage.googleapis.com/tensorflow/mac/tensorflow-0.6.0-py2-none-any.whl", run into following exception:
"Installing collected packages: setuptools, protobuf, wheel, tensorflow
  Found existing installation: setuptools 1.1.6
    Uninstalling setuptools-1.1.6:
Excepti

[2015-12-13 19:24] jwnsu commented on #500
Seems to be caused by new feature "System Integrity Protection"(SIP) in El Capitan. What's the best way to work-around it? There is an option to disable the SIP, but seems risky. It's possible to try virtual env. But is there a way in Mac stock python? After all, 0.5 version was working fine there.

[2015-12-13 19:50] migel commented on #500
As a workaround you can try using homebrew python. It works for me with 2.7.11.

[2015-12-13 19:59] migel commented on #498
Try: `brew update && brew reinstall --devel protobuf` see #258.

[2015-12-13 20:20] petewarden commented on #6
This is working as expected. We've moved the model out of the source repo, but it's available for separate download. See the android example README for the latest instructions:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/README.md
Currently the link is https://storage.googleapis.com/download.tensorflow.org/models/inception5h.zip but the README will hold the mos

[2015-12-13 21:06] bas-aarts opened #501 "assertion when running on GPU with debug enabled"
when I compile TensorFlow with --config=cuda  -c dbg --strip=never, I get an assertion when running the mnist example (same goes for cifar10. Also tried CUDA 7.5, with same outcome. Reproduces with both TF 0.5.0 and TF 0.6.0.)

The GPU being used is a Titan X.

[~/tensorflow/tensorflow/models/image/mnist] python convolutional.py
 ......
python: third_party/eigen3/unsupported/Eigen/CXX11/src/Tensor

[2015-12-13 22:22] vmayoral opened #502 "Native arm 32 bit compilation"
Having issues compiling natively TensorFlow. The process fails over and over at this point:
[code]

Also tried with bazel `0.1.1`. Same result.
Thanks,

[2015-12-13 23:09] veita commented on #354
The contrast is much better now. So the readability.

Thank you very much.

[2015-12-14 00:20] JacobIsrael123 opened #503 "Request to add API documentation for using tf.flags"
I saw some tensorflow project contains hyperparameter configuration like:
```tf.flags.DEFINE_integer("embedding_dim", 128, "Dimensionality of character embedding (default: 128)")```

I think it is better to add corresponding document for using this feature.

[2015-12-14 01:12] FreakTheMighty opened #504 "Transfer learning tutorial"
The [image recognitions tutorial](https://www.tensorflow.org/versions/master/tutorials/image_recognition/index.html#usage-with-python-api) suggests exploring transfer learning as an exercise. I would like to see a tutorial dedicated to the topic and would be especially interested in transfer learning using the Inception-V3 model.

[2015-12-14 02:53] jwnsu commented on #500
Thanks. homebrew python 2.7.11 works well with 0.6 tensorflow.

[2015-12-14 02:54] #500 closed

[2015-12-14 03:46] tomasmcz opened #505 "Momentum and Adagrad don't work with reshape and embeddings"
Momentum and Adagrad optimizers do not work when I use `tf.reshape` like this:

[code]

The code above works with SGD and AdamOptimizer. With Momentum or Adagrad it produces this error:

[code]
This might be connected to #464, the error is similar and also appears with Momentum and Adagrad.

When I replace the `tf.reshape` with following code, the error disappears:

[code]

[2015-12-14 04:05] martinwicke commented on #58
@dementrock Sorry this took me so long. Did you want to submit a fix yourself (you'd have to go through gerrit on tensorflow.googlesource.com) or should I add this?

[2015-12-14 04:32] martinwicke commented on #387
A lot of the functionality of tensorflow is written in python, and will
migrate only slowly down to C++.

The GraphDef proto should only change slowly (and with the best guarantees
for compatibility), so writing protos directly will require the least
velocity of change to keep things working. If your main goal is to run
existing graphs from R (that's unlikely to be the case, but that's the
situati

[2015-12-14 04:38] martinwicke commented on #482
Bazel is already done by the time you get the error. You can try running without bazel altogether (after building):

[code]

But probably, the model is probably too big to run in 2G RAM.

[2015-12-14 05:07] martinwicke commented on #86
We're working on making more kernels runnable on GPUs. In the code, you can tell which kernels support GPU by going to the core/kernels directory to see which ops have .cu.cc cuda files. If you want to help out, pick a CPU only kernel and write a GPU capable version either by using Eigen (for example, see the argmax or the adjust_contrast kernels), or write a plain cuda kernel (for example, see th

[2015-12-14 05:10] martinwicke commented on #496
@keveman is working on the workflow for user written kernels/ops.

[2015-12-14 07:24] vnkmr7620 commented on #482
not solved. But this time getting different error.Please have a look on the attached image
![error in language](https://cloud.githubusercontent.com/assets/10511526/11775069/afedea00-a261-11e5-8dd8-36f4ced1dcee.png)

[2015-12-14 09:24] jayendra13 commented on #452
@andrewharp , Yes I am still facing the problem, this time I also tried to install bazel from ready-made shell script instead of building it. It is still giving errors!!
[code]

[2015-12-14 13:10] mttk opened #506 "ptb_word_lm.py error: unsupported operand type(s) for /: 'Tensor' and 'int'"
Hi,

I ran the `ptb_word_lm` example from `models/rnn/ptb`. however I got the `unsupported operand type(s) for /: 'Tensor' and 'int'` for line 139 in `ptb_word_lm.py`.

I also managed to fix it, by changing
139 `self._cost = cost = tf.reduce_sum(loss) / batch_size`
to
139 `self._cost = cost = tf.div(tf.reduce_sum(loss), tf.constant(batch_size, dtype=tf.types.float32))`

And it works fine so far.

[2015-12-14 13:30] vinodrajendran001 commented on #53
My problem lies with old GLIBC version(2.11.3), and I tried installing bazel for which it requires a GLIBC version 2.14 or greater.

Any other solution?
Note: I can't update GLIBC version, because I am using a cluster system and naturally am not given a admin privileges.

[2015-12-14 14:42] HamedMP opened #507 "New type of decays, esp. for learning rate"
After playing around TF for multiple CNN models with different optimizers (SGD and Adam) I found it difficult to find the best time to decay from only steps number.
- It would be nice if you add decay based on changes in a loss, as it was common, if loss doesn't change for a threshold of a step and amount, then decay it.
- The other feature may be useful is to increase the decay steps as it goes f

[2015-12-14 16:06] martinwicke commented on #482
Unfortunately, I cannot see the actual error in that screenshot. It's quite likely that bazel wasn't using all that much memory, and that you're still out of memory. You should paste the actual program output here, the screenshot doesn't contain much information.

[2015-12-14 17:10] mrry opened #508 "Document the broadcasting behavior for `tf.mul` etc."
The fact that many of the elementwise operators in TensorFlow support numpy-style broadcasting is not well documented or discoverable. (e.g. [This SO question.](http://stackoverflow.com/questions/34220374/apply-1-channel-mask-to-3-channel-tensor-in-tensorflow/34220963)) We should improve the documentation on this.

[2015-12-14 17:57] jaelim commented on #393
I've been experiencing a similar problem. Is this because only the Chrome browser is compatible with Tensorboard?

[2015-12-14 17:58] jaelim commented on #393
@chenghuige see my question above

[2015-12-14 18:47] mrry commented on #490
Thanks for letting us know. This is now fixed upstream, and should be released soon.

[2015-12-14 18:51] zheng-xq commented on #493
@zcyang, did you try to use CUDA_VISIBLE_DEVICES to limit the set of GPUs you want to use with TF?

The current TensorFlow works by going through all the GPUs visible to itself, check which one is compatible and assign a logical index to it. Note that this logical index might be different from your system device index. Then in your graph, you use the TensorFlow logic index to refer to each device.

[2015-12-14 18:56] sergulaydore opened #509 "error with tf.app.flags in fully_connected_feed.py"
I am getting the following error when I try to use flags. Can you please advise?
Thanks

flags = tf.app.flags
FLAGS = flags.FLAGS
flags.DEFINE_float('learning_rate', 0.01, 'Initial learning rate.')
flags.DEFINE_integer('max_steps', 2000, 'Number of steps to run trainer.')
flags.DEFINE_integer('hidden1', 128, 'Number of units in hidden layer 1.')
flags.DEFINE_integer('hidden2', 32, 'Number of units

[2015-12-14 19:00] zheng-xq commented on #152
@noisychannel, please see if you can work around this issue at the moment. Meanwhile, I will investigate if we can officially support the soft-try-and-device-limit approach in TensorFlow.

[2015-12-14 19:02] andrewharp commented on #452
@hamidb
I'm trying to make sure I completely understand this thread. If I understand correctly, you originally encountered this issue:
"cannot open git-upload-pack and referenced by '//tensorflow/tensorboard/bower:bower'."

What was the solution for you, if you found one, and how was this connected to the protobuf issue you also related here?

@jayendra13
Which version of Bazel are you using?

[2015-12-14 19:03] danmane commented on #393
Which browser are you on? I think the graph visualizer is broken on FF at the moment. Does everything work if you're on chrome?

[2015-12-14 19:19] jaelim commented on #393
@danmane I'm using Firefox on Ubuntu linux. The only thing I'm seeing is the 'Events' and 'Histograms'. No 'Images' nor 'Graph'. I don't think I have an option to install Chrome browser on Ubuntu, so I have no idea if it does work on Chrome.

[2015-12-14 19:39] #133 closed

[2015-12-14 20:22] sherrym commented on #481
Fixed today. Will be available in next release.

[2015-12-14 20:22] #481 closed

[2015-12-14 20:34] vrv commented on #452
@lberki, @davidzchen in case they've seen this before.

@jayendra13: try searching for "cannot open git-upload-pack"  on the web and see if you can find some resources to help.  At this point it is out of scope of the TensorFlow team.

[2015-12-14 20:53] mrry commented on #506
Thanks for letting us know about this. Could you tell me whether you're using Python 2 or 3? (Although we're using `from __future__ import division`, this smacks of a Python 3 compatibility issue....)

[2015-12-14 20:55] mrry commented on #509
How are you invoking your script? From the error message, it looks like you are passing `-f` and `--profile-dir` flags, but neither of them is defined in your code.

[2015-12-14 20:57] mrry commented on #503
Our policy so far has been only to document the features that we intend to support in TensorFlow long-term. Currently we use [`python-gflags`](https://github.com/gflags/python-gflags) as the implementation for `tf.flags`, but this is subject to change in future. In the meantime, the [documentation for that library](https://github.com/gflags/python-gflags/blob/master/gflags.py) is the best source o

[2015-12-14 20:57] #503 closed

[2015-12-14 21:00] mttk commented on #506
I'm using 2.7, however when I commented out the `from __future__ import division` the original code worked fine. So it is some "v3" trickery.

[2015-12-14 21:24] martinwicke commented on #506
This may be a 'feature' -- tensors are intentionally rather strict about
implicit conversions, so I think they don't have __olddiv__. Try casting
the int to a float.

On Mon, Dec 14, 2015 at 1:00 PM Martin Tutek <notifications@github.com>
wrote:

[2015-12-14 21:41] tengerye opened #510 "Sequence labelling tutorial"
Thank you for the great job and the tensorflow. But I don't think the tutorial on LSTM is clearly enough. In addition, I suggest adding sequence labelling tutorial on LSTM tutorial for better explanation.

[2015-12-14 21:50] mttk commented on #506
Attempt 1:
`from __future__ import division`
`self._cost = cost = tf.reduce_sum(loss) / float(batch_size)`

Attempt 2. maybe numpy?
`from __future__ import division`
`self._cost = cost = tf.reduce_sum(loss) / np.array(batch_size, dtype=np.float32)`

With `from __future__ import division` just the way in the original issue I wrote seems to work.

[2015-12-14 21:52] vrv commented on #506
@mttk: what do you get when you print
```tf.__version__ ```?

[2015-12-14 21:54] mrry commented on #501
Pinging @benoitsteiner, since this sounds like it might be an Eigen issue.

[2015-12-14 22:00] mrry commented on #505
I'll try to track down this issue. Tomas, would you be able to write a self-contained example that fails with this error (including a definition of the input, any size constants, and the momentum optimizer itself)?

[2015-12-14 22:03] mttk commented on #506
@vrv you got it :)

First I got `AttributeError: 'module' object has no attribute '__version__'`

After updating to 0.6.0 , the original code works fine. My bad, sorry for the mistake guys!

[2015-12-14 22:03] #506 closed

[2015-12-14 22:04] noisychannel commented on #152
Okay. Thanks. Keep me posted.

[2015-12-14 22:05] mrry commented on #502
It looks like things are failing when Bazel tries to build TensorBoard. Have you had any success in getting another TensorFlow target to build? (e.g. Does `bazel test //tensorflow/python:constant_op_test` work?)

[2015-12-14 22:28] wchan opened #511 "Large RNN graphs, incredibly slow graph creation and step time..."
When I build a large seq2seq RNN graph (i.e., 3000 timesteps encoder, and 100 time steps decoder), both the graph construction and step time is insanely slow.

For example, using approx 3000 timesteps of stacked 4 layers of GRUs (in a seq2seq model w/ attention), we get something like this:

*** graph creation time ***
create_encoder graph time 77.442740
create_decoder graph time 7.298214
create_l

[2015-12-14 22:42] davidzchen commented on #127
Sorry, there was a typo in the git submodule command in my comment. Thanks, @lionleaf!

[2015-12-14 22:51] davidzchen commented on #422
Sorry for the delay.

I haven't seen this before. @philwo Do you know what might be causing this?

[2015-12-14 22:56] davidzchen commented on #408
Sorry for the delay. I don't see anything obviously wrong with the BUILD file either. Can you open a bug at bazelbuild/bazel?

[2015-12-14 22:58] philwo commented on #422
Hi @roostapour,

it looks like the binary receives a signal that kills it while it processes your data. I think the process-tools.c part of Bazel is just reporting that, though the logging could surely be improved here!

Could you please run your binary directly (not via bazel run) and see if it then works fine, or if it crashes at the same point in time?

It should work simply like this:

# Step

[2015-12-14 23:04] davidzchen commented on #382
Sorry for the delay.

It is not clear to me why the command is failing from looking at the error message. @hanwen, @damienmg - how can we get more info about why this command is failing?

[2015-12-14 23:07] davidzchen commented on #452
@jayendra13 - Can you paste the output of running that bazel command with `--verbose_failures`? Are you getting any similar errors with other remote repositories? I am wondering whether this is related to bazelbuild/bazel#587.

[2015-12-15 00:21] mrry commented on #511
This is a known issue for large unrolled RNNs in TensorFlow, and we are working on (currently experimental) functionality to express loops directly in the graph, to avoid creating a very verbose representation for those models.

Out of interest, is the step time you report for the first step, or a subsequent step? There is a non-trivial amount of setup work per node in the graph, but this only aff

[2015-12-15 00:31] wchan opened #512 "Possible bug in attention seq2seq"
source file is seq2seq.py

    def attention(query):
      """Put attention masks on hidden using hidden_features and query."""
      ds = []  # Results of attention reads will be stored here.
      for a in xrange(num_heads):
        with vs.variable_scope("Attention_%d" % a):
          y = rnn_cell.linear(query, attention_vec_size, True)
          y = array_ops.reshape(y, [-1, 1, 1, attention_ve

[2015-12-15 00:42] wchan commented on #511
1st step time: 144.380403996
2nd step time: 30.2505180836

still too slow... my framework is around 4 seconds (using even bigger LSTM nodes, so something is definite wrong here)

[2015-12-15 00:58] #414 closed

[2015-12-15 00:58] vrv commented on #408
Closing for now until there's more evidence there's something the TF team can help with.

[2015-12-15 00:58] #408 closed

[2015-12-15 01:00] vrv commented on #398
Going to de-dupe with the more general 'memory issue' here: https://github.com/tensorflow/tensorflow/issues/492 since I think there's a lot of stuff we need to improve.

[2015-12-15 01:00] #398 closed

[2015-12-15 01:00] vrv commented on #392
This should be fixed in our 0.6.0 release.

[2015-12-15 01:00] #392 closed

[2015-12-15 01:02] vrv commented on #346
Closing for now -- it sounds like most of the issues are unrelated to TensorFlow and all related to bazel, and we should redirect discussion / effort around an alternative build system there.

[2015-12-15 01:02] #346 closed

[2015-12-15 01:03] vrv commented on #179
Fixed some time ago.

[2015-12-15 01:03] #179 closed

[2015-12-15 01:03] vrv commented on #247
Fixed in 0.6.0

[2015-12-15 01:03] #247 closed

[2015-12-15 01:04] #490 closed

[2015-12-15 01:07] vrv commented on #26
@bhack: fixed our scripts to have more informative / separate commits: https://github.com/tensorflow/tensorflow/commits/master

Hope that helps a bit.

[2015-12-15 01:30] vrv commented on #509
Also, @craigcitro, in case he knows of a way to improve our thin flags wrapper in any way.

[2015-12-15 01:35] wchan commented on #511
Is there a way to profile my graph? I want to see which sections of the graph corresponds to what part of the runtime.

[2015-12-15 01:42] wchan commented on #511
FYI... through trial and error, it seems like the encoder is the slower part, which is weird, because I'm passing in the sequence_length and there should be dynamic computation on that part.....

[2015-12-15 02:22] wchan commented on #511
FYI... more debug info, if I use an encoder length of say 256 (1/10 of 2560) the step time reduces to 1 second! woohoo! this suggests massive inefficiency in the attention mechanism... my bet would be the reduction code across multiple layers... gonna debug it later... any advice on the profiling code?

[2015-12-15 02:33] rinuboney opened #513 "Support for MLP batch normalization"
any plans to support batch normalization for MLP soon?

[2015-12-15 03:04] vnkmr7620 commented on #482
python translate.py --decode --data_dir /home/cencluster/wmt15/ --train_dir /home/cencluster/wmt15/train

Getting the following output. But is is not correct what you have mentioned.
![output of language modelling](https://cloud.githubusercontent.com/assets/10511526/11800855/6db52b1c-a306-11e5-9fac-f794270edac9.png)

[2015-12-15 03:52] fabiencro commented on #505
Indeed, the graph where I had the bug #464 was also using this mix of embedding layer and reshape. So I might have misinterpreted, and there is actually two bugs: one with "tf.reshape" and Momentum and Adagrad, and the other with "tf.nce_loss" and RMSProp... I will try to check further...

[2015-12-15 04:25] almostimplemented commented on #136
@skimmer: see PR : #157 from @mtourne, I needed to apply that patch for the script to run properly on my machine. FWIW, my graphics card is the [NVIDIA GeForce GTX 780 Ti](http://www.nvidia.com/gtx-700-graphics-cards/gtx-780ti).

[2015-12-15 06:00] dinedal opened #514 "MNIST works, but word2vec_basic does not"
Ubuntu 15.10, tensorflow 0.6.0, Nvida Titan X

All of my MNIST example runs work fine. Other examples work great too.

Can confirm they use the GPU fine with log output.

Here's the output of word2vec_basic.py

[code]

[2015-12-15 06:26] fabiencro commented on #505
Here is a small self-contained example that demonstrates the issue:
[code]

[2015-12-15 06:39] fabiencro commented on #464
After checking bug #505, it seems that there are actually two bugs going on here. One has to do with tf.reshape + Adagrad/Momentum , and the other has to do with RMSPropOptimizer not handling sparse gradient updates (which happens in cases of embeddings or sampled loss, I guess). Here is a self-contained example demonstrating the RMSProp error (just a slight modification of the one I posted for bu

[2015-12-15 06:50] fabiencro opened #516 "Feature Request: AdaDelta optimizer"
AdaDelta (http://arxiv.org/abs/1212.5701) is a popular training algorithm for Neural Network. It is available in most other libraries I have used, like Torch or chainer.

In my small personal experience (and at least for the Neural Networks I have used), AdaDelta is often the optimizer that works best out of the box (RMSProp working quite well as well, while Adam, Adagrad and SGD typically being n

[2015-12-15 06:59] almostimplemented commented on #514
Just had the same error on Ubuntu 14.04 + NVIDIA GeForce GTX 780 Ti.

[2015-12-15 07:07] craigcitro commented on #509
In particular, from those flags you're passing, I'm guessing you're trying to do something related to IPython? If so, it's probably possible, but we'd need to know what you were trying to do.

@vrv one option would be to use the [parse_known_args](https://docs.python.org/2/library/argparse.html#partial-parsing) method in `_flags.py`, which would let us parse a set of args but return the remaining

[2015-12-15 07:46] bhack commented on #26
@vrv If you don't rewrite the history and push force now some info will be lost forever here. Related, do you don't like the Gerrit plugin I suggested? Why other Google projects like ExoPlayer seems to have a more "natural" relation with github?

[2015-12-15 07:48] bhack commented on #26
The last commit seems to have the same description https://github.com/tensorflow/tensorflow/commit/091ed8cd4db82212fc6395ce4f1edf6b55ea2181

[2015-12-15 08:07] khellan commented on #244
@ZhangBanger It was fixed by Google before my patch was merged :)

[2015-12-15 08:39] vmayoral commented on #502
Thanks @mrry for looking into this. [Here's](https://gist.github.com/vmayoral/ec85d8effa13308d5f66) the build output. Failed at the end.

More useful seems to be the log cited at the end https://gist.github.com/vmayoral/7665cf9ca9056a15167d. Apparently, there's an `ERROR: testTooLargeGraph (__main__.ConstantTest)`.

[2015-12-15 08:44] ZhangBanger commented on #244
Does this mean you can run without building from source?

[2015-12-15 09:04] damienmg commented on #382
Having the full output instead of just a snippet might help.

[2015-12-15 09:22] khellan commented on #244
That's a good question. I don't really know since I build from source due to some other changes I have. The current binary install is 0.6.0. I guess it should be included.

[2015-12-15 09:42] robbinhan commented on #37
+1

[2015-12-15 09:49] kentonl opened #518 "Unable to fetch IndexedSlices"
It appears that IndexedSlices cannot be fetched, as demonstrated by the following program, which is trying to inspect the gradients of an embedding matrix:

[code]

Running the code above gives this error:
[code]

Is this result intended? If so, would there be a better way to inspect the gradients?

Thanks!

[2015-12-15 10:53] tomasmcz commented on #505
This is the smallest example I was able to write. Embeddings seem to be an important part of the problem.

[code]

[2015-12-15 11:05] jjallaire commented on #387
@martinwicke Thanks for the follow up. So it sounds like calling directly from R to python might be the best chance of providing a robust and complete R interface. We could first create a variation of the R interface that is entirely syntax compatible with the python interface then incrementally introduce various types of R sugar to make things more natural and compact for R users.

In order to st

[2015-12-15 11:18] davidzchen commented on #380
Looping back from bazelbuild/bazel#670: the memory consumption issue appears to be unrelated to Bazel. According to @CDLuminate, the issue went away after a kernel update.

[2015-12-15 11:42] looveu commented on #518
I got similar problems

[2015-12-15 13:40] lberki commented on #452
`cannot open git-upload-pack` seems to happen when the host name in the `remote=` attribute of `git_repository` cannot be resolved. Try running `git clone` with the URI mentioned in the offending `git_repository` rule. My hunch is that it won't work, and then it's a network misconfiguration.

Bazel could be more explicit about it, though.

[2015-12-15 15:16] mrry commented on #511
Right now, we don't have TensorFlow-specific profiling tools available, but a sampling profiler (such as [`pprof`](http://goog-perftools.sourceforge.net/doc/cpu_profiler.html)) should give enough information to point you in the right direction.

[2015-12-15 15:56] martinwicke commented on #422
Others have had the same error after they were out of memory. Could this be the problem? Is this still a problem in the latest release?

[2015-12-15 16:04] martinwicke commented on #387
We have the op registry, but it only contains the C++ api, as well as the functions for gradients and shape inference. The closest we have for the python layer is the API docs, which is generated by scraping the source code, and therefore should always be up to date. This quickly turns icky, but you could actually get a reasonable snapshot by going through the python doc .md files and collecting h

[2015-12-15 16:06] martinwicke commented on #350
Is this still an issue with the new release?

[2015-12-15 16:18] wchan commented on #511
at each timestep of the backprop of the RNN chain, does it create a new dE/dW and then the optimizer does a reduction? or does the network write to the exact same dE/dW and no reduction is needed? i think this is part of the slowdown.

[2015-12-15 16:24] martinwicke commented on #502
These tests check for the correct behavior (the proper exceptions) when
trying to create graphs/constants that are too large for protobuf. The
limit is 2G/tensor. On your platform, you run out of memory trying to
allocate/copy that, which is soft of expected given your address space.

I think those two tests should be fixed to catch MemoryError and not count
that as a failure (since if your system

[2015-12-15 16:27] sergulaydore commented on #509
Thank you so much for your answers but I am just learning tensorflow and was trying you run the tutorials. I am just using the script in https://tensorflow.googlesource.com/tensorflow/+/master/tensorflow/examples/tutorials/mnist/fully_connected_feed.py and getting the error above.
Is it possible that there is a bug in the script provided by tensorflow?

[2015-12-15 16:46] boyentenbi opened #519 "Can I use the GPU when installing via pip? If so where is the 'configure' script? If not where should I clone the repo?"
Hi all,

I am installing tensorflow and am really stuck with the GPU setup ( pip install worked fine for CPU ).

I was forced to install via source because I could not find the 'configure' script anywhere at all when installing by pip. In fact the source directory was not created at all, only the 'tensorflow' folder in the level below.

To install by source I followed the tutorial here: https://ww

[2015-12-15 16:50] martinwicke commented on #519
You don't need to run configure when you use the provided pip binaries. There are two different wheels that we provide for Linux, one with GPU support, and one without. If you want to use GPU, install this wheel: https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.6.0-cp27-none-linux_x86_64.whl

[2015-12-15 16:50] #519 closed

[2015-12-15 17:47] vmayoral commented on #502
Thanks @martinwicke for clarifying.
Does that help anyhow with the initial issue? I'm still unable to generate a pip package for tensorflow (which AFAIK is needed to get tensorflow installed from the sources).

[2015-12-15 18:26] tngan commented on #37
The proposal is released here with current progress.
https://github.com/node-tensorflow/node-tensorflow/tree/1.0.0

There is an open issue for the discussion.
https://github.com/node-tensorflow/node-tensorflow/issues/2

[2015-12-15 18:40] craigcitro commented on #509
What was the command-line you used to invoke it? (Can you give us a pointer to where in the tutorial you were?)

[2015-12-15 19:31] sergulaydore commented on #509
So, I was going through this tutorial: https://www.tensorflow.org/versions/master/tutorials/mnist/tf/index.html#tensorflow-mechanics-101 and I got an error when reading the data which was

data_sets = input_data.read_data_sets(FLAGS.train_dir, FLAGS.fake_data)

It works fine if I just enter the directory instead of FLAGS.train_dir.

[2015-12-15 19:48] craigcitro commented on #509
Oh, I see -- are you just following the tutorial from within IPython?

[2015-12-15 19:54] roostapour commented on #422
Thanks everyone. I tried the latest release with @philwo's steps and here are the last lines of the log:
[code]
I think it is a memory limitation problem. I set up the TensorFlow on another VM machine with a bit more RAM and ran the translate example again. The error happened after several thousands more lines were processed.

[2015-12-15 20:12] ageron commented on #380
It sounds like adding support for CMake builds would be helpful.  I'll give it a shot.

[2015-12-15 20:24] sergulaydore commented on #509
Exactly! Is that wrong? Should I run from Python shell?

[2015-12-15 20:25] wchan opened #520 "Changing 1 kernel op requires recompile of the entire kernel package... slow : ("
For example, I make some working changes into any one tensorflow/core/my_kernel.{cc,h} file will require the recompile of the entire:

240 tf_cuda_library(
241     name = "kernels",

library, which may be OK for Google assuming you guys have many cores and very fast machines, but for the average developer on say mac laptop, its insanely slow ... total compile time can range several minutes : (

I

[2015-12-15 20:54] kovasb commented on #5
So people in this thread are aware also, in https://github.com/tensorflow/tensorflow/issues/3 has been raised: automatic differentiation doesn't currently work unless you use TF from the python api. This seems like a showstopper pending that functionality being ported to C++.

I don't quite understand the data flow but perhaps it is possible to launch the python helper stuff together with the C++

[2015-12-15 21:32] craigcitro commented on #509
Well, I think it just means that we didn't anticipate that use case, but should have. :wink: As a short-term workaround, running from the python command-line should get you fixed up.

@vrv it looks like we're going to need something like the fix I was talking about above.

[2015-12-15 21:33] mrry commented on #518
One possibility is to map `tf.convert_to_tensor` over `grads` so that every element is converted to a (dense) `Tensor`. Does that work for your purposes?

[2015-12-15 21:50] sergulaydore commented on #509
Indeed it worked in IPython command line :) Thank you very much!

[2015-12-15 21:55] ludimagister commented on #511
Can you try to use one of those two (currently not on by default) gradient accumulation methods and see if this improves steptime:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/gradients_test.py#L204
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/gradients_test.py#L231

Also, for experimentation I would recommend to use a small batch_size=1

[2015-12-15 21:59] zielmicha commented on #514
I have the same problem (TensorFlow 0.6.0, Ubuntu 15.10, GeForce GTX 750 Ti). `word2vec` works correctly when using CPU-only version of TensorFlow.

[2015-12-15 22:03] wchan commented on #511
@ludimagister , not running the test because even the fprop alone is insanely slow compared to my framework (i.e., I do forward only pass and its still an order of magnitude behind). Right now I'm writing a monolithic RNN Op that does the entire RNN sequence (w/ dynamic computation but not dynamic memory) in 1 block.

[2015-12-15 22:06] mrry commented on #520
This will (probably) be addressed by the work @keveman is doing to improve registration for user ops, so I'll assign to him for now.

[2015-12-15 22:10] PeterBeukelman commented on #394
Did someone find an answer to this?
When running word2vec_basic.py I get

E tensorflow/stream_executor/cuda/cuda_driver.cc:466] failed call to cuInit:  CUDA_ERROR_UNKNOWN

It runs, but probably without GPU except for the end when it complains:
Please install sklearn and matplotlib to visualize embeddings.
Unfortunately sklearn and matplotlib are installed.

[2015-12-15 22:31] kentonl commented on #518
Yes, that would work, but it would great it can be done without losing sparsity.

[2015-12-15 22:53] martinwicke commented on #394
Could you run `nvidia-debugdump -l` or `nvidia-smi` and paste the output? I had a similar problem and in the end it was a lack of power for the graphics card.

[2015-12-15 22:56] PeterBeukelman commented on #394
Found 1 NVIDIA devices
        Device ID:              0
        Device name:            GeForce GTX TITAN X   (*PrimaryCard)
        GPU internal ID:        0420115018258

Tue Dec 15 23:56:17 2015
+------------------------------------------------------+
| NVIDIA-SMI 352.63     Driver Version: 352.63         |
|-------------------------------+----------------------+----------------------+
| GPU  N

[2015-12-15 23:01] martinwicke commented on #422
This error generally seems to be a memory issue. There are a few other
people that have seen this and it was always OOM.

On Tue, Dec 15, 2015 at 11:59 AM roostapour <notifications@github.com>
wrote:

[2015-12-15 23:18] mrry commented on #518
It would certainly be possible to handle this by handling `IndexedSlices` in a similar manner to `SparseTensor` in `Session.run()`, using the subfeed/subfetch mechanism. We'd be happy to take contributions on this!

[2015-12-15 23:23] #460 closed

[2015-12-15 23:34] martinwicke commented on #394
Well, it was worth a shot.

On Tue, Dec 15, 2015 at 3:28 PM PeterBeukelman <notifications@github.com>
wrote:

[2015-12-16 00:08] zheng-xq commented on #394
@jpmerc, could you try to set LD_LIBRARY_PATH inside your sudo? That should make sudo preserve the environment variables.

sudo LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/cuda-7.0/lib64 optirun python convolutional.py

@PeterBeukelman, to make sure you have the same problem, could you run the C++ tutorial?

bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer
bazel-bin/tenso

[2015-12-16 01:01] ry opened #521 "resize_image_with_crop_or_pad doesn't work with input pipelines"
Because `tf.image.resize_image_with_crop_or_pad()` requires its input to have a fully defined shape, it's not useful as part of an input pipeline since the size of images loaded will not be known in advance.

[code]

Ideally the above would work...

[2015-12-16 01:18] martinwicke commented on #521
Yes, that's a bug.

[2015-12-16 01:31] vrv commented on #26
@bhack: other projects probably have a more natural relation with github because they only have one source of truth.  We have git, and we have our internal repository that we also contribute to actively, so the merge commit is unavoidable when trying to merge two different lineages.

That being said, now that we've moved to individual commits, the merge commit shouldn't be that bad.  And it's basi

[2015-12-16 01:32] mrry commented on #505
On further investigation, this looks like a bug in `tf.gather()`'s gradient, when the indices are >1-dimensional. I'm working on a fix, and it should be available shortly.

[2015-12-16 01:35] bhack commented on #26
@vrv OK but why not the Gerrit github plugin? For the history in last commit I still see the same message see https://github.com/tensorflow/tensorflow/commit/deff101b27e2d3d2d0f68417991e9183bdcd3256

[2015-12-16 01:40] vrv commented on #26
We are looking at that plugin as one potential option.

The last commit will always be a 'merge commit' message.  https://github.com/BVLC/caffe/commit/79539180edc73d3716149fb28e07c67a45896be1 is the same, except we don't have a github pull request to reference, since the source isn't from github.  Is there a better 'merge commit' message you would like?

[2015-12-16 01:43] mrry commented on #464
I think the issue here is related to a bug in `array_grad._GatherGrad`, and I have a fix in the works. (It seems to be broken when computing gradients for an embedding lookup/gather with a >1-D indices input.)

[2015-12-16 01:44] bhack commented on #26
@vrv https://github.com/BVLC/caffe/commit/79539180edc73d3716149fb28e07c67a45896be1 reference the related PR. I don't know so well Gerrit to tell you what reference get in the script to not let merge description be always the same.

[2015-12-16 01:49] vrv commented on #331
FYI, we're now writing individual commits for each of our internal changes -- it's working reasonably well so far.

[2015-12-16 02:17] dimazhiyanov opened #522 "mmist failure when running with gpu on EC2"
I compiled tensorflow to run with CUDA 3.0 as described here
https://gist.github.com/erikbern/78ba519b97b440e10640

When running mint example I am getting the error below. Is there a quick explanation for this?

W tensorflow/core/common_runtime/executor.cc:1076] 0x6d39c90 Compute status: Invalid argument: Expected multiples[0] > 0, bu
t got 0
         [[Node: gradients/Mean_grad/Tile = Tile[T=DT_F

[2015-12-16 02:28] lukaszkaiser commented on #512
I was thinking about it and there were 2 things that stopped me from working on it. The first and most important one is that I get good results without any special handling for masks, just as it is. Are you sure that a -FLT_MAX really helps, did you try without it? (I think the net just learns to never attend to the padding easily.) The second reason was that one day, when "while" works ok, we mig

[2015-12-16 03:58] fabiencro commented on #464
Thank you for fixing this :-) However will this also fix the RMSProp error? It seems to be of a slightly different nature...

[2015-12-16 05:21] technologiclee commented on #374
I get the same error trying this example on a Docker install.
I am able to see TensorBoard so  I know TensorFlow is working.
https://www.tensorflow.org/versions/master/tutorials/seq2seq/index.html
`python translate.py --data_dir [your_data_directory]`

technologiclee@docker-playground:~/mytensorflow/tensorflow/tensorflow/models/rnn/translate$ python translate.py
--data_dir [your_data_directory]
Tr

[2015-12-16 05:48] ebrevdo commented on #511
Lol @william.  How'd I know you were going to do this.
On Dec 15, 2015 12:24 PM, "William Chan" <notifications@github.com> wrote:

[2015-12-16 05:54] wchan commented on #511
@ebrevdo cant be that much harder than DistBelief right? Actually, kinda stuck... if my Tensor is in GPU memory, how can I get the value in CPU memory? can't find any API function available in tensor.h or in Eigen Tensor for that, i.e., for the sequence_length to do the dynamic compute.

[2015-12-16 06:23] ebrevdo commented on #511
You mark it as a host input when creating your kernel.  See I think my
ReverseSequence kernel.  That has a bunch of tricks.  You can also just
register your kernel as cpu only for now. Everything will stay on cpu.
On Dec 15, 2015 7:54 PM, "William Chan" <notifications@github.com> wrote:

[2015-12-16 06:29] wchan commented on #511
thanks for the pointer! no, i need GPU for sure... i dont have google infrastructure, definitely need GPUs :p

[2015-12-16 06:38] ebrevdo commented on #511
OK FYI though it's not clear that you can work with multiple gpus in one
kernel. I may be wrong.  Derek or Sherry can probably say more.  Depending
how you need to split data you may be limited with the current
infrastructure to tower-like computation.
On Dec 15, 2015 8:30 PM, "William Chan" <notifications@github.com> wrote:

[2015-12-16 06:46] martinwicke commented on #7
@webmaven: We are going to be using semver, and we will publish exactly what we mean by that too. We'll try reasonably hard to maintain API stability even before 1.0.0, especially in the parts of the API that are official. For now, we have decided that something becomes "official" when it shows up on the API docs. You'll notice that many other functions are documented but not included in the docs,

[2015-12-16 06:46] #7 closed

[2015-12-16 06:47] #8 closed

[2015-12-16 06:48] #14 closed

[2015-12-16 06:49] martinwicke commented on #15
Closing for now. When the quantized ops come online, they'll come with documentation.

[2015-12-16 06:49] #15 closed

[2015-12-16 06:56] martinwicke commented on #25
I'll close this bug. Please open a new one with a more specific title if some issues in here remain unresolved.

[2015-12-16 06:56] #25 closed

[2015-12-16 07:21] martinwicke commented on #26
@vrv: Should we just include the two commits hashes that were merged in the title?

[2015-12-16 07:31] martinwicke commented on #73
We may internationalize part of the website, but almost certainly not the API docs. The reason is simply that we wouldn't be able to keep the translated documentation up to date with the code, so it would be of very limited use.

[2015-12-16 07:33] martinwicke commented on #84
We have no plans to break up tensorflow, or separate out components for independent distribution.

[2015-12-16 07:33] #84 closed

[2015-12-16 07:39] #109 closed

[2015-12-16 07:41] #187 closed

[2015-12-16 07:45] alexzaporozhets commented on #37
+1

[2015-12-16 07:45] martinwicke commented on #193
We were using a version newer than the latest tagged version, which was extremely unlikely to be installed anywhere. To keep the installation simple, we packaged protobuf as a submodule. Assuming we find no more issues in protobuf that we have to fix at head, we can move to making protobuf a library dependency once all our fixes are in a reasonably common released version.

[2015-12-16 07:48] #522 closed

[2015-12-16 08:47] PeterBeukelman commented on #394
I think the basic mnist worked with GPU early on. But I ran into problem with word2vec visualization. Somewhere down the search to fix that, I noticed 2 different driver versions being mentioned 346 and 352. This made me think I mistakenly updated the driver and tried to revert to 346. I purged everything but after install still ended up with 352.
I also had the wrong cuda 7.5 installed initially.

[2015-12-16 13:20] ngallison opened #523 "Import Error: Ubuntu 14.04 Python 2.7"
I followed the Pip Installation instructions and successfully downloaded tensorflow (as shown as "Successfully installed tensorflow wheel six setuptools").
However, when I entered "import tensorflow as tf" in python, it gives:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: No module named tensorflow

I don't know what is the problem. Help please? Thank you s

[2015-12-16 16:07] mrry commented on #464
Indeed, it will only fix the issues with adagrad and momentum (and other optimizers that support sparse data using embeddings).

[2015-12-16 16:13] martinwicke commented on #523
is your python possibly a different one from that into whose directories tensorflow was installed? Can you do the following and paste the output:

[code]

(the first one, in the tensorflow base directory)

[2015-12-16 16:45] sguada opened #524 "More descriptive error message when op is not defined for GPU or CPU"
When trying to use MaxPoolWithArgmax I got the following error:

InvalidArgumentError: No OpKernel was registered to support Op 'MaxPoolWithArgmax' with these attrs
	 [[Node: MaxPoolWithArgmax_5 = MaxPoolWithArgmax[Targmax=DT_INT64, ksize=[1, 3, 3, 1], padding="SAME", strides=[1, 2, 2, 1]](random_normal_4)]]

Which doesn't tell me that the op is available in GPU but not in CPU.

[2015-12-16 16:48] rafaljozefowicz commented on #464
What kind of behavior would you expect from sparse tensors in RMSProp?
There are two options I think:
- Ignore the momentum terms for the embedding rows that are not present in the current batch
- Apply momentum terms to the whole embedding (AFAIR, that's what we do for Adam)

The first might not be correct (though, not sure), the second is very slow. What I typically do now is to split my variabl

[2015-12-16 17:10] LeavesBreathe commented on #524
I second this as well -- someting that would clearly define gpu compatibility would be great. If the documentation had it, that would be even better.

On the docs, we could just assume all ops are gpu compatible, but if they are marked as "CPU only", it would help!!!

[2015-12-16 17:13] vrv commented on #524
The op may be defined on GPU, but just not for those specific set of attributes (e.g., it could have been the case that it was defined for Targmax=DT_INT32).

It would be too cryptic of an error message to enumerate all possible registrations for that Op (which might be tens of kernels) in the error message.

In addition, it's totally legal for an op to be defined on GPU, but the binary to not inc

[2015-12-16 17:19] martinwicke commented on #524
Maybe it is enough to change the error by adding the information which
placement was requested:

InvalidArgumentError: No OpKernel was registered to support Op
'MaxPoolWithArgmax' *for device '/gpu:0'* with these attrs
[[Node: MaxPoolWithArgmax_5 = MaxPoolWithArgmaxTargmax=DT_INT64, ksize=[1,
3, 3, 1], padding="SAME", strides=[1, 2, 2, 1] <http://random_normal_4/>]]

On Wed, Dec 16, 2015 at 9:15 A

[2015-12-16 17:20] LeavesBreathe commented on #511
Bit late to this discussion, but I too am doing seq2seq in tf [here](https://github.com/LeavesBreathe/Project_RNN_Enhancement).

I don't want to beat a dead horse, but I have slow step times, though my compilation isn't too bad. I currently run 2 layers of 1536 units (GRU). However, the biggest hurdle by far is the memory.

When I run these two layers, each of them on a 980 TI, I get 99% usage, an

[2015-12-16 17:26] LeavesBreathe commented on #512
I too have been using this for about a month, and I also get good results just as it is. I think it learns to never attend to padding as that is a simple if statement. In keras, we also talked about this, and concluded that masking was not necessary because the network learns to ignore padding.

[2015-12-16 17:29] LeavesBreathe commented on #456
In case anyone is looking at this, here is the sampling function I use. Thanks @zheng-xq  again for all your help.

[code]

[2015-12-16 17:29] #456 closed

[2015-12-16 17:33] LeavesBreathe commented on #386
Hey @zffchen78 , I just wanted to follow up and ask if this was implemented yet? I can't make any progress on the unitary RNN's without it. Don't mean to bring on any pressure! Just wanted to ask.

[2015-12-16 18:29] LeavesBreathe opened #525 "Consider adding tf.identity_like()"
Hey TF,

This is not a big deal, but you may want to add an identity_like function that theano has here:
http://nullege.com/codes/search/theano.tensor.identity_like

It would be useful for orthogonality with RNN's.

It would basically be something like:

[code]

[2015-12-16 19:07] noisychannel opened #526 "Context in use?"
Running the following with GPU support :

``python convolutional.py``

throws the error:
``F tensorflow/stream_executor/cuda/cuda_driver.cc:383] Check failed: CUDA_SUCCESS == dynload::cuCtxSetCurrent(context) (0 vs. 216)``

``Aborted``

It seems like 216 when calling cuCtxSetCurrent (which I'm assuming assigns the context to the calling CPU thread) corresponds to CUDA_ERROR_CONTEXT_ALREADY_IN_USE.

[2015-12-16 19:11] noisychannel commented on #526
The complete log is here : http://pastebin.com/as0fWvYv

[2015-12-16 19:40] noisychannel commented on #526
And the same issue with tutorials_example_trainer. Log here : http://pastebin.com/vPkFfete

[2015-12-16 20:25] davidzchen commented on #422
Is this OOM issue in TensorFlow or in Bazel?

[2015-12-16 20:55] philwo commented on #422
The OOM issue is in TensorFlow.

[2015-12-16 21:22] ngallison commented on #523
This is the output:

For cat tools/python_bin_path.sh:
cat: tools/python_bin_path.sh: No such file or directory

For python --version:
Python 2.7.11 :: Anaconda 2.4.1 (64-bit)

(For the first one, I did cd tensorflow and then cat tools/python_bin_path.sh)

[2015-12-16 21:26] trungnt13 opened #527 "GLIBC error for RHEL, Centos clusters"
After I tried all possible way to get Tensorflow work on my cluster, I re-open the issue according to this: https://github.com/tensorflow/tensorflow/issues/110

First, bazel require GLIBC 2.14, 3 issues came up, however, no solution or idea for the problem is proposed.
https://github.com/bazelbuild/bazel/issues/583
https://github.com/bazelbuild/bazel/issues/590
https://github.com/bazelbuild/bazel/

[2015-12-16 22:00] avostryakov commented on #25
Does it means that the last version of tensorflow works on Amazon g2 instances without any hacks? And Does it mean that it works more than one GPU there?

[2015-12-16 22:07] PeterBeukelman commented on #394
I changed to csh from bash and tried again to build bazel with gcc3.4.6
This is what I see with verbose_failures
[tensorflow] % sudo  bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer --verbose_failures
INFO: Found 1 target...
INFO: From Compiling google/protobuf/src/google/protobuf/any.pb.cc [for host]:
gcc: bazel-out/host/genfiles: No such file or directory
gcc: unrecogn

[2015-12-16 22:15] dave-andersen opened #528 "tf.image.resize_images and resize_{method} should work with single image as well as batch"
Or at least not transparently do the wrong thing with the resulting shape.
At present, it's necessary to
      image = tf.expand_dims(image, [0])
and then squeeze it before passing to resize.

[2015-12-16 22:37] martinwicke commented on #25
I'm not sure whether we should call TF_UNOFFICIAL_* "not a hack", but yes, it *should* work. If it doesn't, it's likely unrelated to Cuda 3.0 per se, and we should have a more specific bug.

[2015-12-16 23:56] avostryakov commented on #305
I will be great for NLP tasks like machine translation to work and re-train embeddings matrix on GPU. So, gather and scatterSub should work on GPU.

[2015-12-17 00:01] avostryakov commented on #25
And is it possible to execute code on two or more GPUs on an amazon instance? For example, data parallelism for training a model like in CIFAR example. Several guys just 5 comments above this comment wrote that it was not possible.

[2015-12-17 00:15] FreakTheMighty commented on #504
If there is anyone with more knowledge than me, I'd be interested in collaborating on this.

[2015-12-17 00:40] martinwicke commented on #25
I don't know. But if that's still an issue with 0.6.0, it should be a bug, just a more specific one about multiple GPUs.

[2015-12-17 01:04] tehp opened #529 "Spelling mistake in tensorflow.org"
https://www.tensorflow.org/versions/master/resources/index.html

In the white paper section:
"...can be found in **out** white paper"

[2015-12-17 01:17] martinwicke commented on #529
Thanks for reporting, fix is on the way.

On Wed, Dec 16, 2015 at 5:04 PM mac craig <notifications@github.com> wrote:

[2015-12-17 01:18] tehp commented on #529
No problem!

[2015-12-17 02:28] #505 closed

[2015-12-17 03:16] Smerity commented on #403
Even though this is not yet public / documented I have a small note. Sequence length should not be required for `bidirectional_rnn` as `_reverse_seq` simply reverses the input if `lengths` is not given. This trivially covers cases where the input is already padded or where the input is a static number of time steps.

[code]

[2015-12-17 03:46] fabiencro commented on #505
Nice. Thank you.

[2015-12-17 04:11] fabiencro commented on #464
It is quite possible that I do not fully understand the issue, but I was not expecting RMSProp to be much more difficult to use than Adagrad. I will try to briefly state how I see things (and please excuse me if I write something obviously stupid).

As for the two options you gave, I take it that you are discussing the update of the running average of the squared gradient, right? "ignore the momen

[2015-12-17 04:25] rafaljozefowicz commented on #464
You're right, the third option you suggested is probably strictly better than the second one. That's not how it's implemented in Adam, though (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/adam.py#L138)

For Adagrad, we're only updating non-zero elements and I think this is a common way to do it (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core

[2015-12-17 04:36] wchan commented on #511
i've coded up a monolithic gru op, it compiles but im getting a really weird dynamic link error when I do the python import statement for just "import tensorflow as tf":

ImportError: /home/wchan/tensorflow/local/lib/python2.7/site-packages/tensorflow/python/_pywrap_tensorflow.so: undefined symbol: _ZN5Eigen8internal14TensorExecutorIKNS_14TensorAssignOpINS_9TensorMapINS_6TensorIfLm1ELi1ElEELi1EEEK

[2015-12-17 04:42] wchan commented on #511
// h[t] = z[t] .* h[t - 1] + (1 - z[t]) .* g[t]
      dz.vec<float>().device(ctx->eigen_device<Device>()) =
          dh.vec<float>() * h_prev->vec<float>() -
          dh.vec<float>() * g.vec<float>();

      dh_prev.vec<float>().device(ctx->eigen_device<Device>()) =
          dh_prev.vec<float>() + dh.vec<float>() * z.vec<float>();

      dg.vec<float>().device(ctx->eigen_device<Device>()) =

[2015-12-17 04:50] fabiencro commented on #464
Yes, for Adagrad it is enough to not upgrade the squared gradient sum (and keep track of the global total number of updates).

Would you consider implementing this? I could probably do it myself at some point when I have time by looking at the existing code for RMSProp and Adam. But with lack of time and the annoyance of getting a Corporate Contributor Agreement, I would probably not contribute th

[2015-12-17 05:05] wchan commented on #511
ok... I think those are the problem, is there an example I can follow to add a custom CwiseBinaryOp for Eigen::Tensor that will work on the GPU, or should I wrote my own CUDA kernel? What's the proper way to impl this?

[2015-12-17 05:25] ebrevdo commented on #403
Yes we should remove this.  +ludigmaster@
On Dec 16, 2015 5:17 PM, "Stephen Merity" <notifications@github.com> wrote:

Even though this is not yet public / documented I have a small note.
Sequence length should not be required for bidirectional_rnn as _reverse_seq
simply reverses the input if lengths is not given. This trivially covers
cases where the input is already padded or where the input is

[2015-12-17 05:27] ebrevdo commented on #511
You should be able to use Eigen ops with the gpu device. This seems like a
bug with user op declarations in the build rules.
On Dec 16, 2015 7:05 PM, "William Chan" <notifications@github.com> wrote:

[2015-12-17 06:37] ludimagister commented on #403
@Smerity Yes, very good point, will fix tomorrow.

[2015-12-17 06:41] lightscalar commented on #323
It is likely a 0 log(0) issue. See: http://quabr.com/33712178/tensorflow-nan-bug

[2015-12-17 07:53] kentonl opened #530 "Tensorboard from pip installation broken"
Tensorboard tries to load a file here https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tensorboard/tensorboard.py#L145

but `tensorboard/TAG` is missing from the pip installation, so it produces the following message:
[code]
and does not render any logged events.

[2015-12-17 08:09] isikdogan opened #531 "word2vec large corpus overflow"
I get the following error when I try to run the word2vec_optimized.py file with a corpus larger than 2^31 characters.

[code]

[2015-12-17 09:57] gongzg commented on #22
@bhack We do have interest in this. Thanks for letting me know. If there is a proposal for Eigen's OpenCL/SYCL implementation, we will see what we can do from Intel side.

[2015-12-17 10:08] pannous commented on #22
According to this video (StreamExecutor will target OpenCL)[http://images.nvidia.com/events/sc15/SC5105-open-source-cuda-compiler.html]

[2015-12-17 13:31] toddpi314 opened #532 "Disable logging"
Keep getting noise on the terminal:
[code]
Anyway to turn this off?

[2015-12-17 14:13] jpmerc commented on #394
@zheng-xq It seems to work fine now, but it does not use my configuration (configured for Cuda 3.0 and it tries to use 3.5).

[code]

[2015-12-17 14:20] PeterBeukelman commented on #394
That is an old Cuda version. Am I correct in thinking that my issues with Bazel are independent of issues with importing tensorflow in python resulting in
"failed call to cuInit: CUDA_ERROR_UNKNOWN"

[2015-12-17 14:57] panmari opened #533 "Provide GPU implementations for resize image methods"
As far as I can tell, these operations are only provided on CPU so far. It would be very convenient to also have GPU implementations. I'll have a go at it if there's nobody else working on it.

Edit: I mean methods such as resize_nearest_neighbor, not the reshape operator.

[2015-12-17 16:27] nate331 commented on #323
@lightscalar that solved it for me. Thx.

[2015-12-17 16:46] pronobis commented on #459
Great, thanks!

[2015-12-17 16:48] pronobis commented on #458
It does, thanks. Is there an automatic way to generate the runs in separate folders?

[2015-12-17 17:04] Hello1024 commented on #525
Please consider a different API here.

I could imagine "ones_like()", "uniform_random_like()", etc. quickly causing clutter.

[2015-12-17 17:06] danbri commented on #445
Any idea what the problem is here?

[2015-12-17 17:14] martinwicke commented on #525
Maybe an op that copies the shape, but lets you pass an initializer (many
of those functions already exist, and more should exist anyway)?

On Thu, Dec 17, 2015 at 9:10 AM Hello1024 <notifications@github.com> wrote:

[2015-12-17 18:40] zheng-xq commented on #394
@jpmerc, could you confirm that you run TF_UNOFFICIAL_SETTING=1 ./configure before starting the build?

@PeterBeukelman, I think they are most likely separate issues. Note that Bazel is best supported on Ubuntu 14.04 at the moment. The default gcc with that is 4.8.

[2015-12-17 18:42] gitunit opened #534 "Android Example SurfaceTextureRenderer"
i've build the app with **sdk** = 23 and **ndk** = 21 and installed the apk on a nexus 4.
*sometimes it works* but often the camera preview is visible but without results on the top.

looking into Android Monitor, i get the following error message in case when the app doesn't work:

[code]

[2015-12-17 18:52] andrewharp commented on #534
Is this with a recent version of the repo?

Prior to commit
https://github.com/tensorflow/tensorflow/commit/cd53f3c3302c9312c1840389a9988a879b8b9dd5#diff-806cae37e77a0337eada26c104bc1c23 this would be possible due to a GC'd Surface resource.

[2015-12-17 19:14] gitunit commented on #534
@andrewharp ok, i've rebuild with the latest pull, seems to be resolved. thx

[2015-12-17 19:14] #534 closed

[2015-12-17 19:19] #529 closed

[2015-12-17 20:45] elbamos commented on #491
Since the PR is closed (hopefully temporarily) I thought a little reminder that a lot of us want this, would be helpful.

[2015-12-17 21:01] vrv commented on #491
(it is just temporary, we may re-open it soon).

[2015-12-17 21:26] metropt opened #535 "What need processing power?"
Hi,

I maybe be wrong but from what I read about machine learing the learning process is what take a lot of time and need a lot of processing power, is it true? If yes, can I teach the neural network and then use the results on a small pc like rpi?

thank you

[2015-12-17 21:47] dave-andersen commented on #528
I've submitted a fix that corrects the broken case of this.  There was a missing squeeze if the input image was the same size as the desired output.

[2015-12-17 21:47] #528 closed

[2015-12-17 22:03] mrry commented on #535
Typically we use a much larger amount of computation to train a model with TensorFlow (using one or more GPUs if it is a complex model), because the throughput of examples processed per second is what determines how long it takes to train the network.

For inference - depending on the model - it is often possible to scale horizontally by using lower power devices, and scaling out to many independe

[2015-12-17 22:03] #535 closed

[2015-12-17 23:01] urimerhav commented on #110
So did anyone find some way past this problem? I'm using redhat 6.4, as is my entire corporation. We're stuck on redhat 6.4. I'm not sure how to end up running tensorflow on such a machine...

[2015-12-17 23:26] cesarsalgado opened #536 "Add a way to see the shape of the Tensors (arrows) in Tensorboard."
I think it would be useful to add functionality to check the calculated shape (if available) of the Tensors in the graph visualization. Maybe we could click the arrows to open a window that showed info about the tensor shape (and maybe other info too). What are your thoughts about that?

[2015-12-17 23:44] cinjon opened #537 "Is there a way to turn off variable reuse a number of scopes down?"
I'm having trouble with an under-sharing error for scope reuse. A specific example that I can point to using TF repo code is if we were to build an architecture with parallel attention modules.

Say we did something in the attention_decoder in rnn/seq2seq.py like this:

[code]

I then build the model by running:

[code]

This works just fine for one module, i.e. the first loop goes off without a h

[2015-12-18 00:15] mrry commented on #536
That's a good idea, but it will require some thought because the graph visualizer doesn't current get information about the execution (other than the computed summaries). Assigning to danmane@, who's been tracking feature requests for new versions of TensorBoard.

[2015-12-18 01:11] zffchen78 commented on #531
kyosha@gmail.com has a change, https://tensorflow-review.googlesource.com/#/c/1252/, which I think will help. You are also welcome to fix the code to fit your need. Cheers,

[2015-12-18 01:15] isikdogan commented on #531
Thanks, I ended up using the original implementation of word2vec.

[2015-12-18 01:17] wchan opened #539 "Bug report, easy 1 line fix."
filename: tensorflow/python/framework/ops.py

def set_shapes_for_outputs(op):
  """Uses the registered shape functions to set the shapes for op's outputs."""
  try:
    shape_func = _shape_registry.lookup(op.type)
  except LookupError:
    try:
      shape_func = _default_shape_function_registry.lookup(op.type)
    except LookupError:
      raise RuntimeError("No shape function registered for stan

[2015-12-18 01:19] zffchen78 commented on #386
I implemented 2D fft in TF code base already. Hopefully, it'll be copied in OSS soon.

[2015-12-18 02:13] LeavesBreathe commented on #386
Okay thanks for the headsup. Looking forward to it!

[2015-12-18 02:18] boyentenbi opened #540 "Extract glimpse has no shape function"
I'm receiving this error when calling tf.image.extract_glimpse:

**No shape function registered for standard op: ExtractGlimpse**

Could someone confirm that this is a problem with the API itself? If so, how can I go about implementing a solution?

[2015-12-18 03:12] hardmaru opened #542 "tf.transpose error when trying to transpose matrix of bools (workaround below), also recommend adding tf.repeat"
I'm trying to implement some conditioning flows when training RNNs.  Basically, once an end-of-sequence event has been detected, I reset the RNN state to zeros, and have been able to build in this logic successfully I think with tf.greater() and tf.select()

I implemented a numpy.repeat(a, repeats) sort of equivalent in tensorflow.  I recommend in the future, this can be also added as a tf.repeat(

[2015-12-18 03:47] lglhuada opened #543 "Zero volatile GPU-Util but high GPU Memory Usage"
Hi I am running a model implemented by tensorflow with only one GPU, the GPU usage is 95% while the volatile GPU-Util is 0.

Specifically I have Tesla k40m with cuda 7.0 and cudnn 6.5v2 installed on Centos 7.0. There are three files: data_loader.py, model.py and train.py in my project. In the train.py I firstly declared
" with tf.device('/gpu:0'):" and then sess.run([train_op]). When I run the cod

[2015-12-18 04:01] lukaszkaiser commented on #537
Thanks for your report cinjon, I think it's a bug in seq2seq.model_with_buckets.
In particular, I think the problem is in these lines.
      if j > 0:
        vs.get_variable_scope().reuse_variables()
It just set variable sharing for the current scope, which is not the right thing to do: it should create a separate scope (reusing or not, depending on j). For now, this setting leaks outside of this

[2015-12-18 04:18] cinjon commented on #537
Awesome, thanks for looking into this Lukasz. I'll try to implement your fix in the meantime and will report back.

[2015-12-18 04:37] kuangray commented on #470
To dankolbman,

I ran into the same issue. Would you like to share your modified tensorboard.py and tensorboard_handler.py for working with python3? Thanks in advance!

[2015-12-18 05:10] dankolbman commented on #470
Yeah sure, here are the diffs. `2to3` will take care of everything except for the encoding issue on line 171 of `tensorboard_handler.py`. Just replace it with `self.wfile.write(output.encode('utf-8'))`

`tensorboard.py`:
[code]

`tensorboard_handler.py`:
[code]

[2015-12-18 05:50] dennybritz commented on #514
I think that's related to #305. You currently need to force the embedding op onto the CPU. Should be an easy fix, I will submit a PR.

[2015-12-18 06:25] zffchen78 commented on #542
Suggestions:
1. I think your tfrepeat is just
  def tfrepeat(a, repeats):
    return tf.transpose(tf.tile(a, [repeats, 1]))

2. you can try to add a line in transpose_op.cc Ln186-194 to support bool for transpose.

[2015-12-18 06:45] phsmit commented on #386
@LeavesBreathe Why close this, it isn't there yet!

[2015-12-18 07:34] kuangray commented on #470
Thanks! The updated script works. My 2to3 did not do a good job as this.

[2015-12-18 07:41] bschreck commented on #540
I found this was a problem too, and hacked a solution together by registering a shape for it:

    ops.RegisterShape("ExtractGlimpse")
    def _ExtractGlimpseShape(op):
      """Shape function for ExtractGlimpse op."""
      input_shape = op.inputs[0].get_shape().with_rank(4)
      unused_size_shape = op.inputs[1].get_shape().merge_with(
          tensor_shape.vector(2))
      offsets_shape = op.i

[2015-12-18 07:44] bschreck commented on #486
It seems like they wanted to make it convenient to loop through filenames for internal reasons, but for some reason didn't need it for any other file type. But it's just as easy to use _input_producer with another data type.

[2015-12-18 08:38] hardmaru commented on #542
Thanks, I didn't know about tf.tile.  Will try that, and to get bool working for transpose.

I think makes sense for the transpose method to work for any type of matrix that is not a numerical value.

[2015-12-18 09:17] bhack commented on #26
For subscribers of this Issue the policy on PRs it is changed. Please see the new versions of [CONTRIBUTING.md](https://github.com/tensorflow/tensorflow/blob/master/CONTRIBUTING.md)

[2015-12-18 09:57] pradyu1993 commented on #530
+1 I am also facing the same issue

[2015-12-18 10:04] Sukhjitghuman opened #545 "Tensorflow features"
If there any difference between Tensorflow installed on Linux machine and Windows machine in terms of features.
If yes, can anyone please list down the features available for both the machine versions.

[2015-12-18 10:51] reynoldscem commented on #539
Submit a pull request?

[2015-12-18 11:05] ketabdarhamed opened #547 "Tensorflow MaxPool doesn't accept float64"
I am using Tensorflow to train a CNN. I am currently basing my calculations on Float32 which is kind of default at the time of initialising variables.

I guessed that by using float64as my dtype I can get more accurate results so I changed the initilization of my varibales as follows:

`w1 = tf.Variable(tf.random_normal([5, 5, 3, 64], stddev=0.1, dtype=tf.float64))`
But I get following error in th

[2015-12-18 12:28] boyentenbi commented on #540
Thanks a lot; can I just run this once in my own code, or do I have to paste it into some of the tensorflow files?

[2015-12-18 13:16] nryant opened #548 "Latest dev release actually slower than 0.5"
After updating TensorFlow to the most recent source yesterday (I'm at b1cabed4e60015602dacd66ea39d419db50c3e1b), I've noticed that while GPU utilization frequently appears much higher in nividia-smi than in prior releases, my actual code is much slower. Some sequence to sequence models I was training began taking 3-4 times as long per step, despite GPU utilization hovering between 60 and 99%, whic

[2015-12-18 13:21] kibtes commented on #470
Finally Tensorboard worked with python3 but now the issue is that the graph failed to be visual. I tried to visualize it on chrome.Can somebody please help?
The error is
Graph Visualization failed:Error:Failure Parsing graph definition

[2015-12-18 14:26] boyentenbi commented on #540
I've found an almost identical piece of code in /usr/local/lib/python2.7/dist-packages/tensorflow/python/ops/attentions_ops.py

It must be that the code isn't being called correctly; how did you fix this? Or in which file should the code be pasted?

[2015-12-18 14:42] windeveloper commented on #530
the same problem here. tensorboard cannot list the events, possibly related to the warning...

[2015-12-18 15:06] mrry commented on #540
Thanks for reporting this - there is a bug in the imports for this code. I'm working on a fix, and it should be available soon.

[2015-12-18 15:08] ogrisel commented on #523
If you installed via `pip`, please check that you used the `pip` command that matches the `python` command in your PATH. For instance do:

[code]

[2015-12-18 15:15] ogrisel commented on #512
But for sequence with a lot of padding, this will result in an increase in the softmax attention temperature. I think this equivalent to having an additional implicit hyperparameter that changes for different input sequence lengths. The network might be somewhat robust to it as long as the input sequences do not vary too much but it is probably misleading for the user to have something that does n

[2015-12-18 15:15] kibtes commented on #11
I got the same syntax error on the gpu 0.5 version installed using python 2. I'm using a  virtualenv setup. The other  i am not understanding is that when i wrote the 'pip show numpy protobuf ' command the result was as follows
---
Name: numpy
Version: 1.8.2
Location: /usr/lib/python2.7/dist-packages
Requires:
---
Name: protobuf
Version: 2.5.0
Location: /usr/lib/python2.7/dist-packages
Requires:

[2015-12-18 15:36] alonamaloh opened #549 "Add a function unsorted_segment_max"
We have unsorted_segment_sum and segment_max , so it seems natural to also provide unsorted_segment_max, which I happen to need.

[2015-12-18 16:04] mrry commented on #547
It looks like the docs are wrong, in this case - the [registration](https://github.com/tensorflow/tensorflow/blob/a0f880c3432462f99c1ba046f0c4193675e7013f/tensorflow/core/ops/nn_ops.cc#L318) for the MaxPool op actually only accepts single-precision floats.

[2015-12-18 16:07] martinwicke commented on #542
Yes, transpose should work for any dtype. The preferred solution is to use a suitable macro from register_types.h to make that happen.

[2015-12-18 16:23] ketabdarhamed commented on #547
Thanks, don't you think using float64 can enhance the overall performance? if yes, why not adding support for float64?

[2015-12-18 16:47] mrry commented on #547
The current implementation is pretty specialized to `float32`, so it wouldn't be completely trivial to switch it over. However, we'd be glad to take contributions on this if it would be useful.

[2015-12-18 16:51] mrry commented on #545
Currently, TensorFlow does not support Windows (except in a Linux docker container), and this is dependent on our build system (Bazel) adding Windows support. You can track issue #17 to see what progress has been made on this front.

[2015-12-18 16:51] #545 closed

[2015-12-18 16:58] klymenko-ruslan commented on #92
Guys, please let me know if you plan to implement java 'wrapper' classes which will call c++ code.
 I can assist with it. Unfortunately i have no time to discover the library by myself but i can spend some time writing implementations.

[2015-12-18 17:21] zheng-xq commented on #548
@nryant, we will look into this problem. But to make sure we are looking at
the same problem, could you provide some more reproducing details? It will
be very helpful if you can point us to a model either comes with TF, or
written by you, that is confirmed to be slower on TF-0.6 and faster on
TF-0.5.

On Fri, Dec 18, 2015 at 8:10 AM, Martin Wicke <notifications@github.com>
wrote:

[2015-12-18 17:42] nryant commented on #548
Over the weekend I can put up a repo on github containing code to reproduce the fully connected model I mentioned. I'll also try downgrading to a previous version to see if I can replicate the timings I recorded a few weeks ago. Would that be sufficient?

[2015-12-18 17:52] Muaazbinsaeed commented on #323
Thanx lightscalar

[2015-12-18 17:56] Muaazbinsaeed commented on #323
cross_entropy = -tf.reduce_sum(y*tf.log(yconv+ 1e-9))

This works fine

[2015-12-18 18:08] vrv commented on #530
I believe missing the TAG is just a warning and shouldn't cause any problems.  If you look at the source code of tensorboard.py, you'll see TAG is just for debugging.

Not rendering any logged events is probably an independent problem -- can you verify / validate / reproduce the problem in a way we can help debug?

[2015-12-18 18:25] zheng-xq commented on #548
That would be very helpful! Thanks.

On Fri, Dec 18, 2015 at 9:46 AM, nryant <notifications@github.com> wrote:

[2015-12-18 18:47] webmaven commented on #7
@martinwicke:

Hmm. OK, but wouldn't putting APIs in the docs and marking them as 'draft' or 'unofficial' get you valuable external feedback while you're still iterating on an API? Or is external feedback only wanted/needed *after* an API becomes 'official'?

[2015-12-18 18:56] vrv commented on #7
Yeah, we're definitely considering adding something like this since it helps to get community feedback on some experimental APIs before they are fully ready.

[2015-12-18 19:26] lukaszkaiser commented on #512
Indeed, it's a good argument. Still, as said before, the right solution to be close to the formalism is probably to use "while" (i.e., make the graph dynamically unroll) and then avoid padding altogether. We're working on this and did not want to polute the API with elements that will not be used then (as the padding symbol). But it will take a while before it's ready...

[2015-12-18 19:31] wchan commented on #512
@lukaszkaiser even w/ While, wouldnt this still be an issue? esp if the sequences in the minibatch have high variances in sequence length.

[2015-12-18 20:04] #539 closed

[2015-12-18 20:08] zheng-xq commented on #526
@noisychannel, could you provide a bit more information about your running
environment. I see that you have two K20m on your machine. Is this a
dedicated machine, or something shared?

On Fri, Dec 18, 2015 at 11:06 AM, Derek Murray <notifications@github.com>
wrote:

[2015-12-18 20:17] zheng-xq commented on #543
@lglhuada, This is not an error, just log. It just means there is no efficient way to transfer data from gpu:0 to gpu:2. You can exclude either one of them through CUDA_VISIBLE_DEVICES

This is also expected. TensorFlow always reserves most the GPU memory when it initializes, even before the first GPU kernels are received. So you will see a high memory usage at the beginning. But the fact GPU is n

[2015-12-18 20:31] kentonl commented on #530
I built the pip package from source and installed it. Tensorboard can't render the events if I run:
[code]
but it works when I build tensorboard and run:
[code]
The only difference here seems to be the pip packaging.

[2015-12-18 20:44] windeveloper commented on #470
I run into the same error with python3

Graph Visualization failed:Error:Failure Parsing graph definition

[2015-12-18 20:55] anjishnu opened #550 "Translate.py - hard to detect convergence"
In the Sequence to Sequence machine translation example - the training pipeline only outputs perplexity numbers which are hard to interpret. If it could also output some sample translations it would be much easier for people to measure convergence

Anecdotally perplexities of around ~5 result in horrible translations - has anyone gotten it to work, and if so, what perplexities did you need to reac

[2015-12-18 21:01] noisychannel commented on #526
Tried both scenarios :
1. Dedicated with 2 K20s.
2. Shared with 2 K20s and 1 available and selected for use.

Same issue in both cases.

[2015-12-18 22:47] lukaszkaiser commented on #512
You're right Will - if there is variance in minibatches this might always be a problem. And let's not forget there is another problem with padding - we start the encoder from the first batch element, so the state goes through a bunch of pad symbols before the real sentence starts. Both could be corrected if the padding symbol was passed to the function and it constructed appropriate masks - we sho

[2015-12-18 23:30] technologiclee commented on #374
I think this is the same error, but did not solve the problem for me in Docker.

https://github.com/tensorflow/tensorflow/issues/265

PYTHONPATH="${PYTHONPATH}:/usr/local/lib/python2.7/dist-packages/"
export PYTHONPATH

Make sure to check your path with this: echo $PYTHONPATH

[2015-12-19 00:13] #537 closed

[2015-12-19 00:13] #540 closed

[2015-12-19 00:35] girving commented on #486
@bschreck: `_input_producer` is a fine solution for now, but it isn't part of the public API and will go away once we implement `__all__`.  However, unless there's a reason we should probably remove the underscore and make it part of the public API.

[2015-12-19 00:41] girving commented on #533
Tensors on the GPU still store their shapes on the CPU, and `reshape` already works in that case.  The shape will never be stored on the GPU, so I think this should be closed.  Presumably you're seeing an error caused by forcing the shape argument onto the GPU; if so there should possibly be a different bug about placer functionality.

[2015-12-19 00:44] girving commented on #525
Dup of #434.

[2015-12-19 00:44] #525 closed

[2015-12-19 00:49] martinwicke commented on #486
+1

On Fri, Dec 18, 2015 at 4:35 PM Geoffrey Irving <notifications@github.com>
wrote:

[2015-12-19 00:51] girving commented on #499
If both are needed in any case, it would mean that the `#ifdef` guards are wrong and bugs will appear if `#pragma once` doesn't work.

[2015-12-19 00:51] #499 closed

[2015-12-19 00:51] martinwicke commented on #533
Wouldn't tf.shape return a tensor that could be shipped onto the GPU? In
that case, all information could be on the GPU, and the actual resizing
code should be able to run on the GPU.

On Fri, Dec 18, 2015 at 4:41 PM Geoffrey Irving <notifications@github.com>
wrote:

[2015-12-19 00:53] girving commented on #533
The `Tensor` C++ class unconditionally stores the shape on the CPU regardless of where the data is, and essentially everything assumes this (for error detection, branching, etc.).  I think there's very little chance this situation will change.

[2015-12-19 00:54] girving commented on #533
Note that as long as all the shape data is on the CPU, a `reshape` does O(0) GPU work even if the data is on the GPU.

[2015-12-19 01:01] martinwicke commented on #533
I think I'm implicitly assuming we're talking about the resize_image ops.
Sorry, that may be misinterpreting panmari's original request.

On Fri, Dec 18, 2015 at 4:54 PM Geoffrey Irving <notifications@github.com>
wrote:

[2015-12-19 01:05] girving commented on #533
Ah, all my comments are wrong if this is about image resizing.

[2015-12-19 01:14] martinwicke commented on #533
@panmari -- which ops are you thinking about?

On Fri, Dec 18, 2015 at 5:06 PM Geoffrey Irving <notifications@github.com>
wrote:

[2015-12-19 01:36] vrv commented on #533
Given @panmari's recent pull request to extend the types supported by resize_image ops, I think it's those.

[2015-12-19 03:07] seantrue commented on #491
This would be _very_ useful.

[2015-12-19 03:14] jeremybarnes opened #551 "Lock contention in thread pool for CPU-based tensor operations"
Running the December 15 Inception model, with either serial or parallel inference steps, is showing serious lock contention on the thread pool lock, with about 50% of the CPU being spent in futex operations:

<img width="1296" alt="jeremy_khan____projects_mldb" src="https://cloud.githubusercontent.com/assets/112556/11910933/8f720e80-a5d3-11e5-9a03-33ad7985fe3f.png">

As an experiment, replacing th

[2015-12-19 03:46] JianbangZ opened #552 "TF 0.6.0 slower than 0.5.0 with the cifar10 example"
With the tensorflow/model/image/cifar10 example. While I run cifar10_train.py,
It used to be able to achieve around 400+ examples/sec with my single K40 GPU. Today I pulled the code and installed the latest version (0.6.0x), but it can only achieve 300 examples/sec or less sometimes.

I see Alexnet benchmark performance gets improved, but this actually use case gets worse performance.

[2015-12-19 03:51] JianbangZ commented on #552
This issue is for the code at commit 8b5d9ed13f188662dde7cce75362cd2394bde40c. I haven't tried other earlier 0.6.0. but the old 0.5.0 is confirmed faster.

[2015-12-19 05:15] wchan opened #553 "python: g != graph"
when you create a new op with say an input with name "g", the auto-generated python files will conflict with "g" because it thinks the "g" is the graph passed through rather than the input g due to the name overload.

[2015-12-19 06:16] ffmpbgrnn opened #554 "Does the released Inception-v3 model only support forward pass with batch_size=1?"
Hi all,
I am new to TF. I am playing with Inception-v3 model and I found that I can only pass `batch_size=1` to the model. Here is my test code:
[code]
If I change `array = np.random.rand(1, 299, 299, 3)` with `batch_size=2`, then TF would complain about the size mismatch.

Am I doing something wrong? Any pointer would be of great help.

[2015-12-19 08:11] dementrock commented on #58
@martinwicke You should go ahead and add it. Seems too much trouble for me...

[2015-12-19 08:25] juesato commented on #550
I'm having the same experience - after about 9 hours of training and 15000 steps, the model has reached perplexity ~10, but the predictions are almost all _UNK and even after squashing all those probabilities to 0, the translations are really poor (with a tendency to output just a few random words when translating short sentences).
As a silver lining (depending on how you look at it), it does get

[2015-12-19 08:36] wchan commented on #511
FYI, I've got a working implementation for "Gru" and "GruCell" .. GruCell is 1 timeslice monolithic op, while "Gru" operates on a sequence (dynamic computation). GruCell is roughly 20% faster per step (on TITAN X), and both ops have massive edge in the graph creation time (esp if you unroll large timesteps). The code is by no means optimized at this point (using 6 matrices atm, proper impl should

[2015-12-19 09:09] ludimagister commented on #511
That sounds great. Please send to @evrevdo or me and we'll get this in. As
of today (I think) we also accept outside contributions so that's another
option.

On Sat, Dec 19, 2015 at 12:37 AM, William Chan <notifications@github.com>
wrote:

[2015-12-19 09:18] Sukhjitghuman opened #556 "Tensorflow installation from local drive"
Hi,
I am trying to install Tensorflow in windows machine using docker. It's a corporate connection and I am not able to connect to daemon for installation. If there any way where I can download tensorflow in my local drive and execute it from docker?

$ docker run -it b.gcr.io/tensorflow.tensorflow
Unable to find image 'b.gcr.io/tensorflow.tensorflow:latest' locally
Error response from daemon: una

[2015-12-19 09:58] bhack commented on #26
@vrv In the caffe example you posted we have a description "Add ifdef in CuDNNConvolutionLayer for cuDNN v4". Can we recover some kind of info like this from Gerrit to put in the history. Actually I if want to move trough the history I need to always check file changes of internal merges cause descriptions are uninformative.

[2015-12-19 11:08] kentonl commented on #530
I can't seem to reproduce the problem anymore. Perhaps I was write summaries incorrectly before. Closing this for now...

[2015-12-19 11:08] #530 closed

[2015-12-19 12:23] martinwicke commented on #58
Will do.
On Sat, Dec 19, 2015 at 00:11 dementrock <notifications@github.com> wrote:

[2015-12-19 15:22] panmari commented on #533
Yes, as the @vrv and @martinwicke assumed, I meant the resize_image ops. I'll change the title to reflect that more clearly.

[2015-12-19 15:45] aidan-fitz opened #558 "Web pages don't have titles"
None of the web pages at tensorflow.org have titles.

[2015-12-19 16:46] aa756 opened #559 "ImportError: numpy.core.multiarray failed to import"

[2015-12-19 16:54] prolearner opened #560 "Syntax error when building with python3"
i followed the instructions to install Tensorflow from sources. However, before finishing the installation of the wheel with pip3 a SyntaxError: invalid syntax comes up. The error doesn't abort the installation, but when i'm trying to import Tensorflow it shows this error:

     I tensorflow/stream_executor/dso_loader.cc:101] successfully opened CUDA library   libcublas.so.7.0 locally
    I tensor

[2015-12-19 17:24] vrv commented on #559
When I ran into this, it was because I had another version of numpy installed on my machine in a different location -- I had to uninstall the other (older) version.

[2015-12-19 17:25] vrv commented on #560
Yeah, we still don't yet have good testing for python 3, sadly.  Want to send us a pull request to fix?

[2015-12-19 17:59] vrv commented on #26
The merge commit is merging a series of commits from our internal repository.  https://github.com/tensorflow/tensorflow/commit/8b5d9ed13f188662dde7cce75362cd2394bde40c is just the merge of the four previous commits, which each individually have the descriptions and change history you want.

For now, I'd suggest just skipping the "Merge commits from internal" commits when looking through the histor

[2015-12-19 18:42] bhack commented on #26
Yes what I mean is if that upstream "gerrit commits" merges are assimilable to a PR as conceptual description. If so probably you could use this concept in the merge description. I.e. many project ask to squash commits on PRs before mergining. But if that are sparse uncorrelated commit I think not description make sense.

[2015-12-19 18:51] martinwicke commented on #26
There is the equivalent of potentially many unrelated PRs in any such
merge, that's why it's hard to find a decent description for the sum of
them.
On Sat, Dec 19, 2015 at 10:42 bhack <notifications@github.com> wrote:

[2015-12-19 18:52] HamedMP commented on #536
I also had an idea for what the ultimate version of tensroboard can look like, that is putting aside the add_image/histogram/..._summary and let user click and each node of the graph and see what is exactly flowing in the tensors, if it images, vectors, ..., something like the debugger area of most of the ideas which let you know the variables info in the run time.

[2015-12-19 20:49] aa756 commented on #559
thank you!

[2015-12-19 20:49] #559 closed

[2015-12-19 21:34] gmosx commented on #37
+1

[2015-12-19 22:40] jstaker7 opened #561 "from tensorflow.models.rnn import linear causes error in python3"
from tensorflow.models.rnn import linear
  File "/Users/Peace/Projects/venvs/allen/lib/python3.5/site-packages/tensorflow/models/rnn/linear.py", line 25, in <module>
    linear = tf.nn.linear
AttributeError: module 'tensorflow.python.ops.nn' has no attribute 'linear'

This is using the 0.6 wheel in OS X

[2015-12-19 23:43] PeterBeukelman opened #562 "Install problems"
I try to install tensorflow on Ubuntu 15
uname -a
Linux peter-linux 4.2.0-19-generic #23-Ubuntu SMP Wed Nov 11 11:39:30 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
peter@peter-linux:~/tensorflow$ python
Python 2.7.10 (default, Oct 14 2015, 16:09:02)
[GCC 5.2.1 20151010] on linux2
Type "help", "copyright", "credits" or "license" for more information.

peter@peter-linux:~/tensorflow$ set|grep LD_LIBRARY

[2015-12-20 02:02] wchan commented on #512
fyi, i wrote a simple op for this ... needs to be refactored and polished up before a patch can be submitted.

impl can be found here for those who need it before its pushed upstream:
https://github.com/wchan/tensorflow/blob/master/tensorflow/core/kernels/attention_mask_op_test.cc

[2015-12-20 03:06] wchan opened #563 "Possible bug in seq2seq sequence_loss_by_example"
Looking at the tensorflow/python/ops/seq2seq.py file of the sequence_loss_by_example function:

      if softmax_loss_function is None:
        # TODO(lukaszkaiser): There is no SparseCrossEntropy in TensorFlow, so
        # we need to first cast targets into a dense representation, and as
        # SparseToDense does not accept batched inputs, we need to do this by
        # re-indexing and re-si

[2015-12-20 03:15] wchan commented on #563
+ is there a zero one loss (for inference?), i can't find anything in the docs or thru grep... =\

[2015-12-20 04:01] kuprel opened #564 "Batchnorm gammas are all ones in the released Inception V3 model"
Every batchnorm gamma in the inception V3 model (http://download.tensorflow.org/models/image/imagenet/inception-2015-12-05.tgz) is identically ones.  Is this a mistake?

[2015-12-20 05:31] wchan opened #565 "Softmax Sampling Support"
I couldn't find all the pieces to do scheduled softmax sampling (Bengio et al, 2015), is that supported in TF atm? Is there an TensorOp that can sample from the previous layer?

Thanks!

[2015-12-20 07:04] davefairtex opened #566 "suppressing "I" log messages in tensorflow"
I am using TF 0.6.0 with python 2.7.10 on both ubuntu linux and osx 10.9.5.  TF base functionality is working fine.  The issue is logging - I want to suppress the following messages that are emitted whenever I construct the first tensorflow Session:

I tensorflow/core/common_runtime/local_device.cc:40] Local device intra op parallelism threads: 2
I tensorflow/core/common_runtime/direct_session.cc:

[2015-12-20 11:07] prolearner commented on #560
Pull request sent and tested running tensorflow/models/image/mnist/convolutional.py on both python2.7 and python3.4 with GPU support. It seems to work but it's my first pull so let me know.

[2015-12-20 15:17] PeterBeukelman commented on #51
from another directory, the error just changes to
ImportError: cannot import name compat

[2015-12-20 16:45] webmaven commented on #7
@vrv and @martinwicke, so getting back to the original topic, is the RNN API currently a good candidate for such 'draft' treatment, and does that mean this issue on documentation should be re-opened?

[2015-12-20 18:04] vrv commented on #560
Thanks!  we merged it.

[2015-12-20 18:04] #560 closed

[2015-12-20 18:23] cinjon commented on #537
Hey Lukasz, I just had some time to try this out and I'm still getting the Under-Sharing error. This makes sense because the scope change you're suggesting takes place in a superset scope of the attention module. So when we set the reuse=True and the module introduces a new variable name (given in the ```with tf.variable_scope(module, reuse=None)```), it throws the error.

If I instead turn off th

[2015-12-20 18:53] ilblackdragon opened #571 "Saver / tf.train.latest_checkpoint doesn't work very well with relative paths"
For example, if model is saved into a folder `test` by doing `saver.save(session, '/path/to/test')` - will result in the having `checkpoints` and `model-0` files. Where `checkpoints` file will have something like this:
[code]
Which if you call now `tf.train.latest_checkpoint('test')` from the same directory, will result in the `None`.

This is due to `os.path.join(checkpoint_dir, ckpt.model_checkp

[2015-12-20 18:56] ludimagister commented on #565
Take a look at this section:

https://www.tensorflow.org/versions/master/api_docs/python/nn.html#candidate-samplers

The sampled softmax loss is here:

https://github.com/tensorflow/tensorflow/blob/20723e2b3d58cc48b2a302f7ea9806c8a75fd18f/tensorflow/python/ops/nn.py#L778

For example used here:

https://github.com/tensorflow/tensorflow/blob/9c3043ff3bf31a6a81810b4ce9e87ef936f1f529/tensorflow/model

[2015-12-20 19:06] wchan commented on #565
I think that's a different "sampled softmax" ;) , the one I was referring to is to condition on a sample (either from the model, or from the ground truth; see Bengio et al, NIPS 2015), as opposed to the "sampled softmax" for estimating the partition function.

[2015-12-20 20:44] cinjon commented on #537
I tried a few things to solve this including changing the ```reuse_variables()``` in rnn.rnn to similarly be a with block. They didn't work, so I moved towards making the attention module modular.

That's complicated by the fact that the attention_states aren't calculated until embedding_attention_seq2seq. I moved it to its own function like this:

[code]

And then instantiated it in embedding_att

[2015-12-20 22:14] lukaszkaiser commented on #537
Hi cinjon. I think I corrected the reuse leaking from model_with_buckets in a recent commit, so now you're hitting a different problem, this one.

I think removing reuse=True in your case is the right thing to do (you don't want to reuse across modules, right?). But then - do you want to share the encoder embedding across modules? If you do, then you should create a variable just for the embedding

[2015-12-20 22:18] suspended commented on #17
+1

[2015-12-20 22:25] rekhajoshm commented on #566
Hi @davefairtex ,
I am on latest tensor, python 2.7, and osx.On a quick look, these are logged using Google logging(logging.h) in local_device.cc/direct_session.cc from common_runtime module, and these logs can be required by some users.
While invoking your application you could use flags like below to suppress as needed?
[code]
Logging levels for INFO, WARNING, ERROR, and FATAL are 0, 1, 2, and 3

[2015-12-21 00:44] rekhajoshm commented on #558
https://github.com/tensorflow/tensorflow/pull/575

[2015-12-21 01:48] cinjon commented on #537
I haven't been able to code up a solution sharing the encoder embedding yet, but yes, that's the idea. The only thing that I want to be unique is the attention component - the encoder should be idempotent across the modules. I'll report back on doing the former.

[2015-12-21 02:28] dlmacedo opened #576 "Resource Exhausted Error MNIST Example with CPU and Python3 (3.4.3)"
I am having a Resource Exhausted Error in MNIST demo model with CPU and Python3 (3.4.3) [I am using Ubuntu 14.04LTS VMWare with 3 GB over a Windows 10 System; PIP Installation, No VirtualEnv, No Docker]:

$ python -m tensorflow.models.image.mnist.convolutional

david@ubuntu:~$
david@ubuntu:~$ python3 -m tensorflow.models.image.mnist.convolutional
Extracting data/train-images-idx3-ubyte.gz
Extracti

[2015-12-21 03:30] #576 closed

[2015-12-21 03:36] martinwicke commented on #558
Putting title annotations in the md like that won't work (unfortunately).
We have to fix this here.
On Sun, Dec 20, 2015 at 16:44 Rekha Joshi <notifications@github.com> wrote:

[2015-12-21 05:25] ebrevdo commented on #7
We are reconsidering the api, deciding if we should make the current
rnncell implementations stateful, or whether to store some of the non
variable state in graph collections.  After that decision is made, we will
likely add documentation.
On Dec 20, 2015 6:45 AM, "Michael R. Bernstein" <notifications@github.com>
wrote:

[2015-12-21 05:47] daothanhtuan opened #577 "Changing the number of (CPU) threads for cifar10"
Whenever I run the cifar10_eval.py, in creates 32 threads as following:

I tensorflow/core/common_runtime/local_device.cc:25] Local device intra op parallelism threads: 32

I think this number of threads is the number of threads running on CPUs, but when I check the usage, only 400-500% of CPUs are used. I wonder if there is anyway to change this number of threads?

Thanks

[2015-12-21 06:04] #577 closed

[2015-12-21 09:50] please-wait commented on #37
+1

[2015-12-21 09:56] lglhuada commented on #543
@zheng-xq Thanks for your answers. I have been trying to run the tutorial to check whether GPU are utilized. However, there are a lot errors. I will add comments if errors were still available.

[2015-12-21 12:05] haduythuan commented on #37
+1

[2015-12-21 12:16] severun commented on #429
Ok guys, I got it working! Thanks for all the support and sticking with me on this :) :+1:
If you are interested in any additional information about this case, please let me know!

[2015-12-21 12:24] gillhofer commented on #469
There may be a similar bug which still exists. Platform arch-linux
[code]

[code]

[2015-12-21 12:29] gillhofer opened #579 "Requesting issue reopening"
#469

https://github.com/tensorflow/tensorflow/issues/469#issuecomment-166292118

[2015-12-21 14:00] davefairtex commented on #566
Rekha-

Thanks much for your comment; now I at least have a clue where I should be looking.

I don't have gflags installed.  I tried using an environment variable (which has been alleged to work in comments elsewhere), but it sadly did not work for me:

ub1%  GLOG_minloglevel=3 python
Python 2.7.10 (v2.7.10:15c95b7d81dc, May 23 2015, 09:33:12)
[GCC 4.2.1 (Apple Inc. build 5666) (dot 3)] on darwin

[2015-12-21 15:05] alquraishi opened #580 "Failed compilation with avx or avx2 on Ubuntu 14.04"
I am unable to compile when passing avx or avx2 to bazel, even though I have an avx2-compatible CPU (Xeon E5-2643 v3). This is the command I'm using to compile:

    bazel build -c opt --copt=-mavx2 //tensorflow/tools/pip_package:build_pip_package

Also I can compile just fine using the default CPU or GPU configurations, i.e. both of these commands work:

    bazel build -c opt //tensorflow/tools/

[2015-12-21 15:13] qrpike commented on #37
+1

[2015-12-21 15:31] mrry commented on #562
Can you try installing the version 0.6.0 package and see if this problem persists?

https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.6.0-cp27-none-linux_x86_64.whl

[2015-12-21 15:40] #429 closed

[2015-12-21 16:12] PeterARBork commented on #487
Pronobis can you tell how you deleted and re-installed protobuf?

I uninstalled and re-installed protobuf with pip3, but got a new error out of that ("AttributeError: 'module' object has no attribute 'MutableMapping').

Your help would be greatly appreciated :-).

[2015-12-21 16:57] #579 closed

[2015-12-21 17:49] #514 closed

[2015-12-21 18:12] damienmg commented on #469
@lberki has a fix for this.

[2015-12-21 18:15] vrv commented on #469
@damienmg: is this a fix to our BUILD rules?  We might have to update our jenkins gpu pip builder to 0.1.2 I guess.

@jendap: do you know which bazel we're using there?

[2015-12-21 18:16] SkidanovAlex opened #581 "ConvNet tutorial"
https://tensorflow.googlesource.com/tensorflow/+/master/tensorflow/g3doc/tutorials/deep_cnn/index.md

Quote:

When I look at the Figure2 of AlexNet paper, it seems that the only locally connected layers are conv1 and conv3 (which I would classify as "bottom" layers), both fully connected layers (which are "top" layers in my understanding) are connected across the two GPUs. Or am I not understandin

[2015-12-21 18:23] SkidanovAlex commented on #581
Ah, it refers to the CIFAR-10 paper, not to AlexNet paper. Got confused because of mentioning Alex.

[2015-12-21 18:24] lukaszkaiser commented on #563
I don't think there is a bug. Indeed, softmax_cross_entropy_with_logits does not take weights, and we're working on a loss function that will take integers directly. But in sequence_loss_by_example we do take weights into account later, in the following line:
[code]

Does this help, does it look ok to you?

Lukasz

[2015-12-21 18:25] SkidanovAlex commented on #581
I closed it at first because I realized that it refers to the CIFAR-10 paper by Alex, not to AlexNet, but now that I reread the tutorial, it appears to me that it actually implements the AlexNet, not the CIFAR-10 (at least not this one: http://www.cs.utoronto.ca/~kriz/conv-cifar10-aug2010.pdf), because the CIFAR-10 paper by Alex is only two-layers deep and has RBMs, which I don't see in the tutori

[2015-12-21 19:06] ry opened #582 "error parsing inception v3 file: 64MB python protobuf parsing limit"
I just upgraded TF to 469b3ddb4bb914a02f496748dd4ee5dbcbd7fce0 and I'm now getting an error importing the inception v3 model provided at https://storage.googleapis.com/download.tensorflow.org/models/inception_dec_2015.zip

I didn't have this problem before the upgrade. Here is the error

[code]

And this is the code I'm using

[code]

[2015-12-21 19:26] alantus opened #583 "Multiple CPU usage ineffective"
I'm running tensorflow on a machine with 64 CPUs and no GPUs. I noticed that although tf detects the number of CPU's correctly (
I tensorflow/core/common_runtime/local_device.cc:40] Local device intra op parallelism threads: 64
I tensorflow/core/common_runtime/direct_session.cc:58] Direct session inter op parallelism threads: 64
), the total CPU usage is less than 16 most of the time. It increases

[2015-12-21 19:42] shlens commented on #581
The architecture used by Alex for CIFAR-10 in cuda-convnet was never published. The most up-to-date code for specifying this architecture is probably Alex's branch in cuda-convnet2 on github.

https://github.com/akrizhevsky/cuda-convnet2/blob/master/layers/layer-params-cifar10-11pct.cfg

Note that what differs in his architecture is the usage of local3 and local4 in lieu of fully connected layers.

[2015-12-21 19:42] #581 closed

[2015-12-21 19:44] shlens commented on #389
I presume this error is not longer an issue so I will be marking this issue as closed but please feel free to reopen if this error persists.

[2015-12-21 22:17] benoitsteiner commented on #548
We used to compile with our own version of Eigen. We started using the upstream version of Eigen last week, and it turns out that a couple optimizations are missing. I'll fix the upstream version as soon as possible to get back to where we were performance-wise.

[2015-12-21 22:51] bogonetic opened #585 "Failed installation on Mac OS X El Capitan"
When I run the suggested command:

pip install https://storage.googleapis.com/tensorflow/mac/tensorflow-0.5.0-py2-none-any.whl

I get the following error:

tensorflow-0.5.0-py2-none-any.whl is not a supported wheel on this platform.

Please advise.
- Tom

[2015-12-21 23:08] mrry commented on #585
Can you try again with the latest release?

[code]

If that doesn't work, can you also please share information about your Python version?

[2015-12-21 23:28] benoitsteiner commented on #501
The problem is probably that the scalar_log_op::packetOp method was not marked as EIGEN_DEVICE_FUNC. As a result nvcc doesn't generate the corresponding kernel code in debug mode. In optimized mode, it will inline the code so everything ends up working as expected.

In change 110406666, I updated the TensorFlow build configuration to pull the Eigen code from the upstream repository, where this pro

[2015-12-21 23:32] benoitsteiner commented on #552
This looks like a duplicate of issue 548: I'll take a look and confirm whether or not this is the case.

[2015-12-21 23:49] ebrevdo commented on #548
Benoit, is the correct tanh implementation upstream?
On Dec 21, 2015 12:17 PM, "Benoit Steiner" <notifications@github.com> wrote:

[2015-12-21 23:49] benoitsteiner commented on #551
We are aware of the fact that there are cases where we shard the processing of the Eigen tensors too much, and plan to address this in the future. In the meantime, I'd be very happy to replace the current implementation of the ThreadPool class with a lock free implementation if you can contribute one. It would help speed things up quite a bit.

[2015-12-21 23:49] LAMike310 commented on #431
Is there a way to fix this without using Bazel?

[2015-12-21 23:52] vrv commented on #431
The pip install for 0.6.0 should have fixed this

[2015-12-21 23:53] #58 closed

[2015-12-21 23:53] #553 closed

[2015-12-22 00:54] zffchen78 commented on #386
@LeavesBreathe, we pushed changes today which enables fft2d and ifft2d on gpu. You can take a look of python/kernel_tests/fft_ops_test.py to see if it works for you. We are still figuring out license issues w/ fftw where cpu supports of fft2d/ifft2d needs. Hopefully, gpu supports are sufficient for you now. Let me know if you see any problems.

[2015-12-22 02:06] LeavesBreathe commented on #386
Awesome, gpu support is really all i needed so let me test it out and get back to you. I am going to be pretty busy over the holidays but come January 4 I should be back to testing this!

[2015-12-22 03:58] nryant commented on #548
The promised repo is at

https://github.com/nryant/tensorflow_mnist_examples/tree/master

and the benchmark located under the feedforward_bench directory therein. When run, feedforward_bench/bench.py will spit out to a file average time to complete an epoch (averaged over ten epochs) over MNIST for a fully connected feedforward model with 3 layers and varying layer sizes and minibatch sizes. I've

[2015-12-22 04:04] wchan commented on #563
so you're claim is that because the:

  log_perp_list.append(crossent * weights[i])

exists, which scales the cross entropy loss, it will automatically scale the gradients? cool! didn't know TF was so smart, I thought the backprop starts off at the softmax_cross_entropy_with_logits OP.

thanks! : )

[2015-12-22 04:58] zffchen78 commented on #386
@LeavesBreathe, I took a brief of the paper you plan to replicate in TF. I suspect you'll encounter some nuances. E.g., some operations may not have support for complex64 as time being. They are naunces because they can be easily patched by updating a few .cc file to expand the types they support.

[2015-12-22 07:06] DSLituiev opened #586 "[feature request] numpy style `shape` sugar"
I'd like to suggest numpy-like `shape` read-only property for `tf.Tensor`, something like:

[code]

[2015-12-22 07:23] applemuncy opened #587 "Android example finally works"
Finally was able to compile and install to Nexus 7 (2013) Marshmallow 6.0.1 with:
bazel mobile-install //tensorflow/examples/android:tensorflow_demo -c opt --start_app --copt=-mfpu=neon

Crashes because no camera permission the first run so drop the --start_app

Simple solution is to use ->settings -> apps -> Tensorflow Demo -> Permissions
and enable both storage and camera.

So I'm wondering abou

[2015-12-22 09:11] Vesnica commented on #487
sudo pip uninstall protobuf
sudo pip install protobuf==3.0.0a3
sudo pip uninstall tensorflow
sudo pip install tensorflow-xxx-xxx.whl

Works for me. @PeterARBork

[2015-12-22 12:46] mark-liuyanjun commented on #268
it works.

[2015-12-22 14:50] pari125 commented on #556
Does your network has proxy?

[2015-12-22 15:47] elzurdo opened #590 "pip install does not install the examples folder"
When doing on my Mac:
sudo pip install --upgrade https://storage.googleapis.com/tensorflow/mac/tensorflow-0.6.0-py2-none-any.whl
I got tensorflow to install, but without the `examples`directory.
There is no mention of that in the setup here:
The page https://www.tensorflow.org/versions/master/get_started/os_setup.html

I needed the `examples` to do this tutorial:
https://www.tensorflow.org/version

[2015-12-22 16:44] kenokabe commented on #37
+1

[2015-12-22 18:00] jendap commented on #469
@vrv it it not a problem in tensorflow BUILD files. It is in bazel (android rules). I have added you to cc on the fix @lberki has created.

It is happening with bazel 0.1.2 release which you can download from github (and bazel.io). IT was also happening on release 0.1.3 branch a couple of days ago. But we have a fix for it now. Just release it and we are good.

[2015-12-22 18:12] jendap commented on #469
Actually I'm not sure about this GPU issue. We were talking with bazel team about something with android and 0.1.2 but it may be the same thing. I have tried myself 0.1.2 with android only. Not gpu yet. I will try it next week.

[2015-12-22 19:47] wchan opened #591 "tf.Print does not work on embedding gradients"
Is this expected? because an embedding gradient is an IndexedSlices rather than a Tensor.

[2015-12-22 19:48] ebrevdo commented on #591
You can pass the indices and values to print separately.
On Dec 22, 2015 9:47 AM, "William Chan" <notifications@github.com> wrote:

[2015-12-22 20:52] cinjon commented on #537
@lukaszkaiser , I got this to work by declaring all of the attention modules on every run so there is no under-sharing. The gradients are then the sum of the gradients of each module. At step time, I only feed the losses for the current module into the output. This is inefficient, but it seems to work. I'm going to dig into the graph that TensorFlow made just to make sure that it's right and then

[2015-12-22 21:00] cinjon opened #592 "How can I get Bazel to build iteratively?"
In 0.5.0, I could change files (e.g. tensorflow/models/rnn/seq2seq.py) and recompile iteratively with no problem. In 0.6.0, making changes in files like tensorflow/python/ops/rnn_cell.py, etc, gives me pretty long recompile times. I'm not sure that it's doing a full rebuild, but it's def not the snappy few second rebuilds I was experiencing before. I didn't see an issue about this and so I'm wonde

[2015-12-22 21:07] skearnes commented on #592
AFAIK you don't need to recompile after making changes to python files; the built binary in bazel-bin just points the interpreter at the current version of the source file.

[2015-12-22 21:10] cinjon commented on #592
I believe that only applies if you're using bazel straight up to run as well. I am building into a pip pckg.

[2015-12-22 21:49] PeterBeukelman commented on #562
Thanks, but I am giving up. I used to have a problem with my neural network on windows. Now with tensorflow I had one getting to run tensorflow and now my linux won't boot or shutdown anymore after doing some updates. For evenings and weekends I have been trying to revive it, digging through numerous fora and it only sets me back further. Linux is something not to work with to solve a problem, but

[2015-12-22 22:15] mrry commented on #562
Sorry to hear that! If you're used to running on Windows, I'd suggest trying the Docker packages, which should avoid any complications with your Linux configuration. Here are some [instructions](http://www.netinstructions.com/how-to-install-and-run-tensorflow-on-a-windows-pc/) that might be helpful.

Since it sounds like the problem is related to your particular machine's configuration, I'm going

[2015-12-22 22:15] #562 closed

[2015-12-22 22:24] cinjon commented on #592
I now can't seem to reproduce this even though it was happening consistently up till this morning. I'm not sure what's different now :/

[2015-12-22 22:24] #592 closed

[2015-12-22 23:16] sherrym commented on #582
Could you please try writing fileContent to a file to make sure that you have successfully read the file content? Thanks.

Sherry

[2015-12-23 00:58] sherrym commented on #587
Thanks for the update. Closing as it's not an issue.

[2015-12-23 00:58] #587 closed

[2015-12-23 01:01] yaroslavvb commented on #583
Can you try with a plan that is naively paralelizable to make sure it's not communication bottleneck somewhere?

For instance, save the snippet below into "parallel.py" and then run it as "python parallel.py <numparallelism>". On my macbook pro I get following numbers which shows linear scaling up to 4 cores

python ~/g/src/parallel.py 1
done in 0.99, 10.13 ops/sec

python ~/g/src/parallel.py 2
do

[2015-12-23 01:02] sherrym commented on #554
The classify_image_graph_def.pb is built explicitly to support a batch size of 1, and cannot support other batch sizes. But nice effort.

Sherry

[2015-12-23 01:02] #554 closed

[2015-12-23 01:32] alantus commented on #583
Two things:
1. Here's what it writes to stderr:
I tensorflow/core/common_runtime/local_device.cc:40] Local device intra op parallelism threads: 32
I tensorflow/core/common_runtime/direct_session.cc:58] Direct session inter op parallelism threads: 32
I tensorflow/core/kernels/logging_ops.cc:79] [heavy op #0]
I tensorflow/core/kernels/logging_ops.cc:79] [heavy op #0]
I tensorflow/core/kernels/loggin

[2015-12-23 01:51] sherrym commented on #571
Fixed by:
Change-Id: I47d8536b9b2ed3dcc193d6e6b7f4573a4e22c9b3

[2015-12-23 01:57] leaf918 commented on #268
work for me too.
2015年12月22日 20:48，"mark-liuyanjun" <notifications@github.com>写道：

[2015-12-23 01:57] vrv commented on #571
We abandoned the gerrit one -- if https://github.com/tensorflow/tensorflow/pull/573 looks good, we can merge

[2015-12-23 01:58] benoitsteiner commented on #580
I have upstreamed a partial fix to Eigen (see https://bitbucket.org/eigen/eigen/commits/f6e3953e6b44a8a0bfde7186cc162a612a904e15 for details).
I'll work on the second half of the problem after the Christmas break.

[2015-12-23 02:10] ry commented on #582
Same code was working before the update. Were you not able to repeat the bug with the above?

[2015-12-23 02:21] sherrym commented on #582
I am unable to reproduce the problem.

Sherry

On Tue, Dec 22, 2015 at 6:11 PM, ry <notifications@github.com> wrote:

[2015-12-23 02:36] ffmpbgrnn commented on #582
Hi, I encountered the same problem with current master, and the whole log are:
[code]

[2015-12-23 02:54] ffmpbgrnn commented on #582
However, when I compile `main.cc`, it can load the model. I might be something wrong with the python interface or my python environment. I will update soon.

[2015-12-23 03:41] trubin opened #593 "TensorArray failure with automatic gradient computation for nested scan/map_fn/fold"
I drew up this simple example to show that nested While gradient computation fails in the python interface (as the gradContext for the forwardContext of the second input of the Add op is None). Toggling the comment demonstrates the issue is not with all control flow graphs.

[code]

[2015-12-23 03:57] ffmpbgrnn commented on #582
@ry , I got a workaround by changing https://github.com/google/protobuf/blob/master/src/google/protobuf/io/coded_stream.h#L611 to `256 << 20` and then recompile.

[2015-12-23 05:07] lukaszkaiser commented on #563
Yes - the backprop starts at the loss function you pass to tf.gradients, not anywhere else, so you can just scale like this. Merry Christmas :).

[2015-12-23 05:07] #563 closed

[2015-12-23 05:18] qixianbiao opened #594 "Will the tensorflow support nesterov momentum optimization?"
Does anybody have experience about "momentum" and "nesterov momentum"?

does the "nesterov momentum" perform much better than than "momentum"?

[2015-12-23 05:35] dlmacedo commented on #17
+1

[2015-12-23 12:05] shyamalschandra opened #597 "Can you add the paper references for each of the implementations?"
Instead of labeling the constants and functions with description text, could you please add the paper references?

Thanks!

[2015-12-23 14:21] passiweinberger opened #598 "SVG folder of tensorboard not found"
if you run the mnist_fully_connected tutorial and inspect it with tensorboard afterwards, you find the following:

the graph-viz is calling this url for a image
http://localhost:6006/lib/svg/summary-icon.svg

<img width="1277" alt="screen shot 2015-12-23 at 15 20 24" src="https://cloud.githubusercontent.com/assets/9993908/11978047/bc880e52-a988-11e5-8478-c08ba0a65d43.png">

which is not there...

[2015-12-23 14:57] ZirconCode commented on #22
:+1:

[2015-12-23 16:56] marcotrombetti opened #600 "Translate (Seq2Seq) Tutorial Expectations"
The output I am getting from the translate.py tutorial looks corrupted.
hello -> G0

I followed the translate tutorial here:
https://www.tensorflow.org/versions/master/tutorials/seq2seq/index.html

I wanted to create a small test model, limiting to 1M records
python translate.py --data_dir data --train_dir train --en_vocab_size=40000 --fr_vocab_size=40000 --size=256 --num_layers=2 --steps_per_chec

[2015-12-23 17:16] mrry commented on #598
This file was removed in commit f7918e1dcd5b0c1f8114f488fc35a63a81e94535, so it's possible that you have a version conflict. (It sounds like you have an old version of some of the TensorBoard assets.) Can you try upgrading to TensorFlow 0.6.0 and see if this solves the problem?

[2015-12-23 17:34] vrv commented on #26
We've switched to github and there are ongoing improvements to automated testing, etc.  But the basics have been improved, so closing this catch-all bug.

[2015-12-23 17:34] #26 closed

[2015-12-23 17:36] vrv commented on #31
I think if it's unofficial, it doesn't make sense to add it to our official documentation.

[2015-12-23 17:36] #31 closed

[2015-12-23 17:57] prasen9 commented on #585
Python 3.5.1.  I am having the same issue.

[2015-12-23 18:05] vrv commented on #585
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/get_started/os_setup.md#pip-installation-pip_install -- did you use pip3 ?  Full command line and error message would be helpful.

[2015-12-23 18:18] dcunited001 opened #601 "failed call to cuInit: CUDA_ERROR_UNKNOWN after Docker build on Macbook Pro (Late 2013) with Linux"
This issue is similar to to #394. I believe i'm seeing it because tensorflow can't find `libcuda.so`.

I know that my `libcuda.so` can be found in `/usr/lib/x86_64-linux-gnu/`, but is this accessible to the compiler and to python without further configuration?  I tried adding it to my docker user's `$LD_LIBRARY_PATH`, but that did not fix the problem.

I'm running on:
- Macbook Pro (Late 2013) Har

[2015-12-23 18:19] prasen9 commented on #585
No, I did not.  But, it seems the problem was that I was using pip and the older version of the wheel.  If I change the wheel to use py3, then it works.  I do not seem to have pip3 installed.  It may be that pip is referring to Python 2 that was installed with my machine and then I installed anaconda and python 3 on my own.  So, maybe my path does not have pip3.  Anyway, I did this with pip and it

[2015-12-23 18:19] bogonetic commented on #585
Right, this worked for me. Sorry, I guess I got confused and used the python 2 link instead of python 3. Using the following command line worked (as outlined in Install documentation):
sudo pip3 install --upgrade https://storage.googleapis.com/tensorflow/mac/tensorflow-0.6.0-py3-none-any.whl

[2015-12-23 18:21] #585 closed

[2015-12-23 18:31] jstaker7 opened #602 "Strange behavior and verbosity in Tensorboard for RNN"
I only have one encoder, but it lists 50+ encoder variables in the side bar (see attached). This also happens for my decoder. I presume that it is duplicating the variables for each time step? Notice that it says 500+ inputs!

Also, the graph becomes unwieldy and barely loaded in Safari (crashed in Chrome, wouldn't load in Firefox), and is displayed with a <i>very</i> long list of variable names (

[2015-12-23 19:01] marcotrombetti opened #603 "Install Documentation still links to 0.5"
https://www.tensorflow.org/versions/master/get_started/os_setup.html#pip_install

The Virtualenv mentions the version 0.5 instead of 0.6 and this may cause some confusion since the rest of the documentation links 0.6.

see:

Ubuntu/Linux 64-bit, CPU only:
(tensorflow)$ pip install --upgrade https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.5.0-cp27-none-linux_x86_64.whl

Ubuntu/Linu

[2015-12-23 19:06] vrv commented on #603
https://github.com/tensorflow/tensorflow/pull/604

[2015-12-23 19:09] alquraishi opened #605 "batch_matmul doesn't work on GPUs"
It seems not possible to register the `batch_matmul` operation to a GPU device. For example this fails:

    with tf.device('/gpu:0'):
        a = tf.constant(npr.rand(10, 5, 5).astype('float32'))
        b = tf.constant(npr.rand(10, 5, 5).astype('float32'))
        c = tf.batch_matmul(a, b)

    sess = tf.Session(config=tf.ConfigProto(allow_soft_placement=False))
    sess.run(c)

This is a fundam

[2015-12-23 19:21] vrv commented on #226
Should be fixed in 0.6.0

[2015-12-23 19:21] #226 closed

[2015-12-23 19:23] vrv commented on #290
If there are comments to be fixed, please send PRs for them -- I think we correct some of these already.

[2015-12-23 19:23] #290 closed

[2015-12-23 19:25] pirate commented on #117
Thanks @vrv for reviewing, we should be able to close this out now.

[2015-12-23 19:26] vrv commented on #320
https://github.com/tensorflow/tensorflow/commit/854f49bd43588c062b046384f239f64a3d819702 Fixed this a while ago, I believe.

[2015-12-23 19:26] #320 closed

[2015-12-23 19:27] vrv commented on #325
@ad26kt: if you do, let us know.

[2015-12-23 19:27] #325 closed

[2015-12-23 19:27] vrv commented on #326
Deduping with https://github.com/tensorflow/tensorflow/issues/380

[2015-12-23 19:27] #326 closed

[2015-12-23 19:32] vrv commented on #117
Indeed, should be fixed by https://github.com/tensorflow/tensorflow/pull/337

[2015-12-23 19:32] #117 closed

[2015-12-23 19:33] vrv commented on #333
Closing due to staleness, I think we committed a change a few weeks ago that fixed the error message to be better.  Let us know if that's not true!

[2015-12-23 19:33] #333 closed

[2015-12-23 19:35] vrv commented on #356
I believe this was fixed a few weeks ago.

[2015-12-23 19:35] #356 closed

[2015-12-23 19:37] vrv commented on #371
@andyljones: we now accept PRs, so if you want to fix the docs, please send it!

[2015-12-23 19:37] #371 closed

[2015-12-23 19:39] vrv commented on #382
Closing out stale-bug queue -- post more information if you're still having problems and we'll re-open

[2015-12-23 19:39] #382 closed

[2015-12-23 19:41] vrv commented on #390
Want to send us a PR to fix?

[2015-12-23 19:42] vrv commented on #401
I think https://github.com/tensorflow/tensorflow/pull/337 might have fixed this -- this will be in the next release but you can probably build from sources to get the fix now.

[2015-12-23 19:42] #401 closed

[2015-12-23 19:44] vrv commented on #404
@azzolini: we now accept PRs, so if you want to make the fix and also let us know what the error you were getting was, please do!

[2015-12-23 19:46] #455 closed

[2015-12-23 19:46] vrv commented on #442
Comment if you'd still like help with this and we'll re-open.

[2015-12-23 19:46] #442 closed

[2015-12-23 19:50] vrv commented on #434
drive-by: probably would be easy to do using np.diag()  (or tf.diag(), its equivalent).

[2015-12-23 19:52] pirate commented on #401
@NumesSanguis As well as relative paths being fixed, I believe it now prints the path right before the line `Starting TensorBoard on port 6006` (although I'm not sure when that change was made).
<img width="730" alt="screen shot 2015-12-23 at 2 11 09 pm" src="https://cloud.githubusercontent.com/assets/511499/11983846/bca15cf8-a984-11e5-946d-5291ca41021d.PNG">

[2015-12-23 19:54] #603 closed

[2015-12-23 19:57] vrv commented on #477
What do you get from: `uname -a` ?

[2015-12-23 20:00] vrv commented on #480
I have a fix out for the first issue: feel free to send us a PR for the second one!

[2015-12-23 20:00] vrv commented on #482
De-duping with https://github.com/tensorflow/tensorflow/issues/600, which has more information.

[2015-12-23 20:00] #482 closed

[2015-12-23 20:02] vrv commented on #485
Well, since it wasn't part of the official API, this isn't really a bug. And I believe it still isn't documented, so it's still not "ready".  Closing for now!

[2015-12-23 20:02] #485 closed

[2015-12-23 20:02] vrv commented on #498
De-duping with #258 -- reopen if this is different.

[2015-12-23 20:02] #498 closed

[2015-12-23 20:03] vrv commented on #497
I'm not sure what this request was for, but #26 is closed so I assume this one is too.

[2015-12-23 20:03] #497 closed

[2015-12-23 21:04] wchan opened #608 "Rescale weights (not gradients) column norms to 1"
How is this possible in TensorFlow, I feel like it should be trivial, but I can't find anything in the API to do this =\

This is to rescale the columns of the weight matrix (i.e., input connections).

Thanks!

[2015-12-23 21:27] markusdr opened #609 "'convolutional.py' considered harmful?"
The [get started page](https://www.tensorflow.org/versions/master/get_started/os_setup.html#source) recommends to run [convolutional.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/models/image/mnist/convolutional.py) as the first tensorflow neural net model:

    $ cd tensorflow/models/image/mnist
    $ python convolutional.py

However, running it brought my machine down. Afte

[2015-12-23 21:34] alquraishi opened #610 "Issues with running transpose on GPU"
I’m running into a couple of issues with `transpose` on GPUs. First, even the forward computation can’t be registered on a GPU unless I explicitly set the `perm` option. For example this fails (I’m setting `allow_soft_placement=False` in the session `Config`):

[code]

with the following error:

[code]

If however I set `perm=(1, 0)` in the `transpose` operation above, it works. But that’s not the

[2015-12-23 21:55] nryant commented on #608
I implemented this used a slightly modified version of clip_by_norm, which I applied to each weights variable. I then computed these normed weights variables at each update and then ran a loop across the variables calling assign. Unfortunately, calling apply within a Python loop at each step was a major performance bottleneck and I can't see any op in the API that would allow me to move this updat

[2015-12-23 21:56] passiweinberger commented on #598
i built it from source and it happened... checked your @mrry suggestion and it fixed it..

just a quick reminder to keep everything in sync (at least try to) in the source as well :)

[2015-12-23 21:56] #598 closed

[2015-12-23 22:10] dcunited001 commented on #601
i think i'm running into errors because modprobe fails in the container.

[code]

 I also needed to add my docker user to sudo group, so I did that.  but then `/lib/modules` wasn't mapped in the container, so i fixed that with the following addition to my run script

[code]

but now, when i run `sudo modprobe nvidia` i'm getting 'modprobe: FATAL: Module nvidia not found.'

[2015-12-23 22:13] vrv commented on #608
https://www.tensorflow.org/versions/master/api_docs/python/nn.html#l2_normalize , or an equivalent construct? (You should be able to compute the appropriate norm and scale using reductions / elementwise ops, right?)

[2015-12-23 22:24] wchan commented on #608
My apologies, I didn't make it clear, what we usually do is we only normalize if the gradient column is > some threshold, i.e., if column norm > threshold, normalize, else do noop. so I dont think that Op will help, or am I mistaken?

[2015-12-23 22:53] vrv commented on #608
There may be a better way to do it, but if I understand correctly, you may be able to use tf.select to do what you want (may not be the most efficient thing to do memory wise).

Assuming:
w_gradient is the matrix representing the gradients of shape [m, n]
w_gradient_column is whatever reduction function along the column dimension (shape [1, n])
w_tensor is the original weight matrix
w_scaled_tenso

[2015-12-24 00:14] arcecio commented on #593
+1

[2015-12-24 00:40] arcecio commented on #487
Thank you @Vesnica !

[2015-12-24 01:09] dcunited001 commented on #487
+1 😀

[2015-12-24 01:14] girving commented on #591
Seems like a reasonable feature to have.

[2015-12-24 02:39] jskDr opened #611 "A time saving mode to extract the MNIST data"
[tensorflow/tensorflow/examples/tutorials/mnist]
Since now it takes time to extract gz files even if they are already download on a local machine, why don't we consider an additional mode which saves extract data as binary data?

I submitted the update code of input_data.py and the update first line in run_training(), which is
data_sets = input_data.read_data_sets(FLAGS.train_dir, FLAGS.fake_data,

[2015-12-24 03:26] ebrevdo commented on #593
Thank you for reporting this issue.

While is not a documented feature, partly because of issues like this.  We
will work on it but make no promises as to when it'll be ready.

On Wed, Dec 23, 2015 at 4:15 PM, Angel Darquea <notifications@github.com>
wrote:

[2015-12-24 03:34] trubin commented on #593
Cool. I'm happy to help work on it. Vijay suggested I post the bug in case you guys were changing things there, just so you knew I was doing it. I'm still having trouble getting my dev environment set up (being able to just test the python changes without bazel recompiling all the c++ every time I make a small change to the python code), but hopefully I'll get that resolved soon.

[2015-12-24 04:48] ebrevdo commented on #593
You should be able to rerun your python test directly from bazel-bin
between changes (the underlying code should be symlinked to the source
code) without rerunning bazel test ....

On Wed, Dec 23, 2015 at 7:35 PM, trubin <notifications@github.com> wrote:

[2015-12-24 07:38] vnkmr7620 commented on #600
I am also getting same error. Did you get the answer.

[2015-12-24 07:55] Jin-Yu commented on #6
How to generate pre-trained model like "tensorflow_inception_graph.pb". I trained the cifar using the python API. and I want to predict on Android devices. I had build the computation graph using `tf.train.write_graph()`, but how to restore the parameters by C++ API

[2015-12-24 08:40] pari125 commented on #399
I had the problem of setting the proxy of the netowrk..Thnx!

[2015-12-24 10:31] marcotrombetti commented on #600
Few more info to reproduce:
I am using Mac OSX El Captain and TF 0.6

I installed in this way:
$ sudo easy_install pip
$ sudo pip install --upgrade virtualenv
$ virtualenv --system-site-packages /Users/marcotrombetti/Documents/tensorflow-python-env (io ho creato una cartella in Documents)
$ source /Users/marcotrombetti/Documents/tensorflow-python-env/bin/activate
$ sudo pip install --upgrade https

[2015-12-24 12:38] sukruozan commented on #590
I solved the same problem as follows:

Try by using virtualenv with option --python=python2.7  After that activate the virtual environment. And make the installation with pip2.7. I hope this works!

[2015-12-24 14:03] hartsantler commented on #380
+1

[2015-12-24 18:50] Mistobaan commented on #591
What would be a minimal code example, and what would be the desired outcome ?

[2015-12-25 01:46] martinwicke commented on #597
What are you referring to?

[2015-12-25 02:10] rekhajoshm commented on #566
Hi @davefairtex ,
From the logging referred to in tensorflow*, I observe the parameter re2::FLAGS_minloglevel that needs to be overridden. Set to 1 or greater to suppress info logs. I am not 100% sure it works as new checkins on re2 package, but Ideally it needs to be possible for user to override this parameter via command line. As a workaround, if you are stuck, you can pipeline current output t

[2015-12-25 03:55] trubin commented on #593
Thanks, I have got it working in my debugger, though I have to manually edit the auto generated bazel test file because even though I make changes to kernel_tests/control_flow_ops_test.py before i run "bazel test //tensorflow/python:control_flow_ops_py_test", the generated file in bazel-bin/tensorflow/python/control_flow_ops_py_test.runfiles/tensorflow/python/kernel_tests/control_flow_ops_test.py

[2015-12-25 04:10] trubin commented on #593
I believe the bug is caused by the following logic:

When computing a gradient (gradients.py::gradients() function), the has_control_flow bool is set to true when there is an "Exit" op anywhere in the subgraph under consideration (comes from _PendingCount()). Obviously this is true for a nested while. As we visit all the ops in the subgraph in reverse order [op being iterated in a queue of ops] ,

[2015-12-25 04:46] halilakin commented on #344
Oh, had the same issue. Thanks

[2015-12-25 05:55] Mistobaan commented on #516
I tried to give it a shot in [this branch](https://github.com/tensorflow/tensorflow/compare/master...Mistobaan:master)

I tried to follow as much as possible the paper and the other training operations, but as Is my first tensorflow operator I would like some feedback and guidelines if anyone has time to review the code.

[2015-12-25 06:17] leftstone2015 opened #615 "please share a total example from training in python and prediction in C++."
Hi, TFs

Current I'm trying prediction in C++ following the tutorial in tensorflow/tensorflow/g3doc/tutorials/image_recognition/index.md.

I want to train the mode in python, using interface tf.train.write_graph() to write the graph to a file, and then loading it in the C++ for predition, just like the above tutorial. Because there is no python codes in the tutorial and no guides to create the fil

[2015-12-25 07:01] leftstone2015 commented on #615
I tried to evaluate the graph file which is generated by tf.train.write_graph()  in python, fed the required data, then run in session, finally encountered the followng error, the error shows use not initialized value. How to write the initialized value to file by tf.train.write_graph() ?

W tensorflow/core/common_runtime/executor.cc:1076] 0x2672cc0 Compute status: Failed precondition: Attempting

[2015-12-25 07:41] davefairtex commented on #566
rekha- thanks for the update.  With your help I found the re2::FLAGS_minloglevel variable in the shared object, but I have no way of setting it directly from python.  (If I were using C++ I could totally do it - but I'm not).   I tried setting it using the python gflags interface:

import tensorflow
import gflags
gflags.ADOPT_module_key_flags(tensorflow)
gflags.FLAGS(['-minloglevel', '3'])
tensorf

[2015-12-25 08:41] leftstone2015 opened #616 "How to use tf.train.write_graph() and tf.import_graph_def()? It seems that it does not work."
How  to use tf.train.write_graph() and tf.import_graph_def()? It seems that it does not work.

Please refer the following codes and prints, the final result is None, but it is expected to be [101 102 103 104 105 106 107 108 109 110].

code：

import tensorflow as tf
import os
import numpy as np
from tensorflow.python.platform import gfile

input1= tf.placeholder(tf.int32, [10], name="input")
data =

[2015-12-25 12:44] jskDr commented on #611
Sorry for my sudden proposal. Actually, I am talking about how to improve compatibility with Python and its existing libraries such as Sklearn, Pandas and Pylab family (Numpy/Scipy/Matplotlib). I agree that the recent version of tensorflow python wrapping is so much great. However, if it becomes more compatible with recent machine learning and data processing tools in Python, the solution becomes

[2015-12-25 14:19] pannous commented on #616
see https://stackoverflow.com/questions/33759623/tensorflow-how-to-restore-a-previously-saved-model-python

Here is a complete example for your convenience:
[code]

[2015-12-25 14:35] alquraishi opened #617 "Docs for tf.device should point to tf.Graph.device"
Currently the docs for `tf.device` located here:

https://www.tensorflow.org/versions/master/api_docs/python/framework.html#device

point to `tf.Graph.name_scope()` for more details, when it would be a lot more helpful if they pointed instead to `tf.Graph.device()`, i.e. here:

https://www.tensorflow.org/versions/master/api_docs/python/framework.html#Graph.device

This would be more consistent wit

[2015-12-25 17:39] wchan commented on #616
fyi, there is a bug in write_graph, I'll send in a patch "shortly", the quick fix is this:

[2015-12-25 17:40] wchan commented on #616
edit: ^ formatting above screw up:

Basically you have to do this:
  if not gfile.IsDirectory(logdir):
    gfile.MakeDirs(logdir)
  path = os.path.join(logdir, name)

(MakeDirs expect the path to not exist, if the path exists it will fail)

[2015-12-25 17:42] JacobIsrael123 opened #618 "Strongly suggest to improve Tensorflow API document by adding examples"
Dear contributors,
        I think the document of tensorflow is not good enough overall.
        I really like Python and Numpy's official document, since they are give very **detailed explanation** and **importantly each concept has simple code example to illustrate the meaning, which helps a lot for easier understanding**.
       However, tensorflow's document does not contains such example for

[2015-12-25 17:45] pannous commented on #616
Oh yeah, also my version needed to have an explicit binary flag "wb"
[code]

[2015-12-25 18:58] Milanvdm commented on #510
I'm also interested in this.

[2015-12-25 19:36] rekhajoshm commented on #566
Thanks @davefairtex  I agree its painful for its a simple act of suppressing and silencing logs.Was providing quick suggestions hoping simplest logical way works with flags :-) However looking more though there are various flavors of logging, this one just hits the tensorflow/core/platform/default/logging.h.For this case used verbose logging.thanks.

[2015-12-25 19:36] rekhajoshm commented on #566
https://github.com/tensorflow/tensorflow/pull/619

[2015-12-25 23:41] trubin commented on #593
I see that this is significantly more complicated than just entering a GradWhileContext for each input as the frame has to be the same when the Executor tries to run the kernels. Currently focusing on the forwardAccumulator of historical values for a given context to see if I can get the frames to match up.

[2015-12-26 03:54] JacobIsrael123 opened #620 "Question about MNIST For ML Beginners, the model definition?"
https://www.tensorflow.org/versions/master/tutorials/mnist/beginners/index.html#mnist-for-ml-beginners
In the tutorial for beginner, the model definition flipped from original equation, as say it is a small trick to deal with x being a 2D tensor.

Why say it is a small trick ?  Both definition should be equivalent right?
As below
Model definition:
(1) $y = Wx + b$
Shape: (10, n) = (10, 784) x (784

[2015-12-26 04:24] arose13 commented on #42
TensorFlow needs a windows compatible version please!

[2015-12-26 05:55] fancyerii commented on #56
after pip install --upgrade pip
it still not work. I am using ubuntu 12.04 and pip version is 1.0

[2015-12-26 06:03] martinwicke commented on #618
We have tried to include examples for complicated functions but more examples certainly wouldn't hurt. We'll gladly accept PRs for example code in function documentation.

[2015-12-26 06:19] martinwicke commented on #446
It is not currently in the works, and it would be a great addition to TensorFlow. Any contribution in this area would be very welcome.

[2015-12-26 06:26] martinwicke commented on #365
We disabled the more involved navigation features on mobile to expedite moving to the new website.

[2015-12-26 07:27] daikazoku opened #621 "word2vec_optimized.py fails with large training files"
Here is the relevant part of the error for a 2400000000 byte file:

[code]

This doesn't happen for a 1000000000 byte file. I suppose there might be an overflow somewhere.

As an aside, how do I dump the embeddings from the final checkpoint?

[2015-12-26 08:02] davefairtex commented on #566
"And there was great rejoicing" ...  thanks for the fix, look forward to the new version.  Its really nice to see that you guys are responsive about even minor things like this.

[2015-12-26 09:14] vinhqdang opened #622 "Cannot remove entries from nonexistent"
Hello everyone

I am using Anaconda on Mac OS 10.11

I created a new environment with anaconda

[code]

Then tried to install tensorflow

[code]

but I faced an error

[code]

How could I install tensorflow with anaconda python 2.7?

Btw, I have CUDA 3.0 (Nvidia 750M) with my Macbook? How could I utilize its power other than running only on CPU mode?

Thanks,

[2015-12-26 09:18] vinhqdang commented on #622
The solution is posted here

https://github.com/tensorflow/tensorflow/issues/135

It is for tensorflow 0.5.0 but still works with version 0.6.0

[2015-12-26 09:28] #622 closed

[2015-12-26 13:30] jonathanponce opened #624 "Android Tensorflow demo crash"
I tried the tensorflow demo for android and it looks really promising, but there is a big problem, every time I completely cover the camera my cellphone will horribly crash and reboot, which has never happened to me, I have never encountered an error in an application that will reboot my phone completely, so in order to take this into production I have to find the reason for this, and try to fix i

[2015-12-26 15:48] vincentvanhoucke commented on #609
A simple way to shave off memory is to replace the giant testset loaded in a constant with a placeholder that gets fed with a small loop at evaluation time. I didn't do that to keep the code as simple as possible, but since several people have commented on having this issue, it might be worth changing it. I'd like confirmation that this would actually fix the problem however; @markusdr would you b

[2015-12-26 15:51] vincentvanhoucke commented on #564
No. When using ReLUs (or linear) activations, because they are scale-invariant, the batchnorm gamma is redundant with the scale of the weights of the subsequent convolutional or fully-connected layer, so we don't train them.

[2015-12-26 15:51] #564 closed

[2015-12-26 17:26] cinjon commented on #537
Hi again. I needed to make this more efficient, but my attempts haven't been working. I also realized that the previous solution I had built failed when there is more than one bucket (I had made it uni-bucket for testing). TF would throw an error about the encoder and decoder placeholders needing values. If I used a bucket of (10,12) and had set it up to also have a bucket of (20,25), then the err

[2015-12-26 18:48] cinjon commented on #537
Some more info on the above error:

[code]

This happens on the second module. The loop makes the first one without a hitch and then goes on to make the second one where it finds that the softmax Reshapes are now int32s.

Printout of true_b after ```true_b = array_ops.reshape(true_b, [-1, num_true])``` (~ L671) in ops/nn.py:

[code]

And then on the second module, just before the error is thrown:

[2015-12-26 19:28] cinjon commented on #537
It looks like if I change _compute_sampled_logits in ops/nn.py to cast all_b into a float32, then I get past this error. I haven't yet tested the rest e2e. Is this a bug or intentional?

[code]

[2015-12-26 20:10] vrv commented on #621
See https://github.com/tensorflow/tensorflow/issues/531 for the first part -- feel free to send us a change to fix this if you'd like.

See https://www.tensorflow.org/versions/master/how_tos/variables/index.html#saving-and-restoring for the second.

[2015-12-26 20:10] #621 closed

[2015-12-26 20:15] daikazoku commented on #621
Thanks, vrv. I see in the bug report you linked that a fix is pending code review. Is another fix needed?

[2015-12-26 20:15] vrv commented on #610
I think we're just missing some declarations of the GPU kernel of Reverse for int32 here:

https://github.com/tensorflow/tensorflow/blob/9c3043ff3bf31a6a81810b4ce9e87ef936f1f529/tensorflow/core/kernels/reverse_op.cc#L148

Whoever fixes this should probably add tests for all supported types here:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/kernel_tests/array_ops_test.py#

[2015-12-26 20:18] vrv commented on #621
We're waiting for the author to repost to github -- feel free to send a similar change soon if the original author doesn't.

[2015-12-26 22:35] jstaker7 opened #626 "Cannot restore large model"
I'm using tf.train.save.Saver to save my model parameters which come out to be ~1.5GB on disk. When I try to reload the model I get a segmentation fault (this is on a machine with 60GB memory). This also happens when using the option restore_sequentially=True. I found an option to shard the save, but it saves one file per device -- surprisingly there are two files, one is virtually nothing and the

[2015-12-26 22:38] JacobIsrael123 opened #627 "Recommend to add search box in tensorflow API page"
I think the user experience would be better if we could have a search box in tensor API webpage.

[2015-12-26 22:50] webmaven commented on #7
@ebrevdo what are the considerations surrounding this decision between stateful rnncell implementations vs. storing the state in the graph collections?

[2015-12-27 01:41] fxsuper commented on #610
`Reverse` is not the only thing causing the problem though. In fact the problem with `Reverse` could be circumvented with an explicit term. What can't be circumvented is the `InvertPermutation` error.

[2015-12-27 01:41] alquraishi commented on #610
`Reverse` is not the only thing causing the problem though. In fact the problem with `Reverse` could be circumvented with an explicit term. What can't be circumvented is the `InvertPermutation` error.

[2015-12-27 02:06] wchan opened #628 "Bazel can't build anymore?"
Was a BUILD file or something recently changed?

This works perfectly fine:
bazel build -c opt --config=cuda //tensorflow/core:tensorflow --verbose_failures || exit 1

This fails (gets stuck):
bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package --verbose_failures || exit 1

and gets stuck on:
bazel build --config=cuda //tensorflow/tools/pip_package:build_pip_package
I

[2015-12-27 02:22] wchan commented on #628
Is this supposed to happen?

rm -rf /tmp/wchan

bazel build -c opt --config=cuda //tensorflow/python:all
INFO: Reading 'startup' options from /home/wchan/.bazelrc: --install_base /tmp/wchan/bazel/install_base --output_base /tmp/wchan/bazel/output_base
Extracting Bazel installation...
......
INFO: (12-26 18:21:09.192) Found 236 targets...
INFO: (12-26 18:21:11.017) From Executing genrule @six_archi

[2015-12-27 02:26] wchan commented on #628
This is not supposed to happen right?

rm -rf /tmp/wchan
bazel build -c opt --config=cuda //tensorflow/python:all
INFO: Reading 'startup' options from /home/wchan/.bazelrc: --install_base /tmp/wchan/bazel/install_base --output_base /tmp/wchan/bazel/output_base
Extracting Bazel installation...
......
INFO: (12-26 18:21:09.192) Found 236 targets...
INFO: (12-26 18:21:11.017) From Executing genrule @

[2015-12-27 03:45] liuguangyuan commented on #439
I solve this question simply and roughly.EXCLUSIVE_LOCKS_REQUIRED(mu_)  is used about GPU. Because Mac doesn't support GPU, we can delete EXCLUSIVE_LOCKS_REQUIRED(mu_). so correspond syntax of lambda and compile successfully.

[2015-12-27 04:00] martinwicke commented on #627
Agreed. Out of the box solutions require searchable things to live on
separate pages, which isn't the case for our docs right now. We'll have to
do some restructuring to make this work (well, a badly working search box
is simple, but I'd rather do it right if I'm doing it at all). It's on our
list of todos. Thanks for the report!
On Sat, Dec 26, 2015 at 14:38 Jacob Israel <notifications@github.com

[2015-12-27 04:10] martinwicke commented on #610
InvertPermutation does not currently have a GPU kernel at all. We may be
able to cheat our way to one with an appropriate HostMemory declaration, or
we have to properly implement a GPU kernel. Either way, it would be in
transpose_op.cc.
On Sat, Dec 26, 2015 at 17:41 Mohammed AlQuraishi <notifications@github.com>
wrote:

[2015-12-27 04:11] wchan commented on #628
FYI, if I remove tensorboard out of the BUILD file, it builds fine again -- as soon as I add it back it, it gets stuck on the "Loading package", so Im guessing something must have changed in the last few days.

[2015-12-27 04:12] guotong1988 opened #629 "How to print or see the value of Tensor?"
Variable
Tensor
...

[2015-12-27 05:32] cinjon commented on #537
I couldn't leave it alone and tried one more thing, which was to use a control_flow_ops.cond on the models themselves. What this looks like is that I have a cond set up to branch to a different model_with_buckets output / loss based off of the module. This didn't work because I run into a problem with branching in control_flow_ops's BuildCondBranch (~ L568: ```elif v.name not in self._values:```)

[2015-12-27 09:55] marcotrombetti commented on #550
@anjishnu I agree and I also would like to recommend showing a few examples translation for convergence or BLUE scores. A log file would be perfect.

@juesato I think that there is a bug somewhere in the tutorial. I tried to make it work with a small subset and different configurations but I never got a plausible translation. I am trying to debug it. Until now now errors on the data and the script

[2015-12-27 10:35] dgcaron commented on #576
i am getting the exact same error when running this command in a docker container on windows 7 and the virtualbox host image.

[2015-12-27 16:07] alquraishi opened #631 "Provide sugar for insuring gradient computation of an op is put on the desired device"
Currently, it is somewhat involved to insure that a set of ops are put on the desired device for both the forward and backward (gradient) computations. For example if I have a function that defines its own scope like:

[code]

Simply using the following code would not place its gradient calculations on the specified device:

[code]

Instead, the only way I got the above to really work is to define

[2015-12-27 16:31] MrXiaoWan commented on #53
I have this problem just now！Here maybe help you ！！ My system is ubuntu 12.04
Reference Linking：http://stackoverflow.com/questions/33655731/error-while-importing-tensorflow-in-python2-7-in-ubuntu-12-04-glibc-2-17-not-f

$ sudo pip install --upgrade virtualenv
$ virtualenv --system-site-packages ~/tensorflow
$ cd ~/tensorflow
$ source bin/activate
$ pip install --upgrade https://storage.googleapis.

[2015-12-27 16:46] vinodrajendran001 commented on #53
This may work for local pc but not for clusters or for those who don't have admin privileges.

[2015-12-27 17:53] tridemax commented on #583
I've tested on 40 threads (2x CPU) and got the attached results.
![tensorflowscalability](https://cloud.githubusercontent.com/assets/5303155/12011366/22076a50-acd3-11e5-8c10-f821a10e0cfc.png)

Slow increase in 10-20 and 30-40 threads range probably connected to hyper-threading limitations.
But in mnist/convolutional.py rarely occupies more than 25% of total CPU.

[2015-12-27 20:09] ebrevdo commented on #7
The main consideration is in how calculations common across time are
cached.  Simpler caching is traded off against having RNNCell be a pure
logic object (non-stateful).

For example, if you access two Variables at each time step and then concat
them, using the result in your __call__ calculation, then this is something
that should be cached beforehand because it creates redundant computation.
The

[2015-12-27 20:23] romanukyan commented on #457
imagenet model is still missing for me on Mac OS using virtualenv.

[2015-12-27 21:08] ebrevdo commented on #457
When you pip install --upgrade, also use --no-cache-dir

On Sun, Dec 27, 2015 at 12:23 PM, Roman Manukyan <notifications@github.com>
wrote:

[2015-12-27 23:42] Zenol commented on #263
Nb : If you are using archlinux, you are now using python 3.5 and not 3.4, so you have to rename the package.
Otherwise you'll get a `tensorflow-0.6.0-cp34-none-linux_x86_64.whl is not a supported wheel on this platform.` message.

[2015-12-27 23:52] dcunited001 commented on #601
i was able to build on my local machine for now.  going to try again with docker later, but i think the issue was my host machine configuration.  for some reason the docker container is not permitted or cannot access the nvidia drivers.

[2015-12-27 23:52] akuz commented on #291
I was just thinking of implementing some Bayesian learning on TensorFlow and realised that I would need the Gamma and also in particular LogGamma (this is just the log of the gamma function computed directly). These are absolutely essential for many distributions (Beta, Dirichlet). I would love to help to add them, however could you please provide some small guidance on where to start? I see there

[2015-12-28 00:10] akuz commented on #291
Found it: https://www.tensorflow.org/versions/master/how_tos/adding_an_op/index.html

[2015-12-28 00:11] buholzer commented on #37
+1

[2015-12-28 00:28] vrv commented on #291
@ebrevdo is already half-way to implementing this, I think (I think he added it to Eigen for both CPU and GPU? not sure if it's been upstreamed yet).

[2015-12-28 01:45] leftstone2015 commented on #616
Thank  @pannous  and @wchan  very much.

I want to acheive the effect same with classify_image.py in path of tensorflow/tensorflow/models/image/imagenet. The file just use classify_image_graph_def.pb as model files, which seems to have contained trained variables. Do you have any idea about how to generate the .pb file with trained variables?

[2015-12-28 01:49] ebrevdo commented on #291
Yeah; this has been implemented and should make it into the next upstream release.  I've added lgamma to Eigen (both ours & upstream) and added an lgamma unary op.

Digamma should also make its way in, in the next 2 weeks.

[2015-12-28 01:58] ebrevdo commented on #601
You should not need to run modprobe in the container, only on the host.
Once that runs, the /dev/nvidia* devices are accessible and you can launch
the container.

On Sun, Dec 27, 2015 at 3:52 PM, DC <notifications@github.com> wrote:

[2015-12-28 01:59] Jin-Yu commented on #616
I have the same problem. How to save the trained variables? I trained the model by python, and I want to predict on Android devices, but the trained variables did not save in .pb file. there is no C++ API to restore variables which saved by python API "saver"

[2015-12-28 02:20] ToraxXx opened #633 "tf.decode_csv works with \n but not with \r\n for new lines"
I copied the example for reading CSV files from [here](https://www.tensorflow.org/versions/master/how_tos/reading_data/index.html#reading-from-files) and used it with csv files that I generated (5 columns, comma seperated) which used **\r\n** as line breaks which resulted in the following error:

Using only **\n** worked as expected. According to the [standard](https://tools.ietf.org/html/rfc4180#

[2015-12-28 03:00] PeterARBork commented on #393
@jaelim I had similar problems until I realized that the summary writer did not actually write the file unless I called the summary writer's flush() function. Maybe explicitly calling the flush() function will sort it out for you too?

I'm not sure, but it's probably because I had the summary writer's code snippet in a code part that did not close (and the code finished before the standard 120 sec