[2019-07-12 17:18] yashk2810 commented on #28371
These updates sound great. Can you please send a PR here (https://github.com/tensorflow/docs/blob/master/site/en/r2/tutorials/text/nmt_with_attention.ipynb)?

[2019-07-12 17:21] gargn commented on #29674
There is currently limited support for LSTMs in TFLite. The documented path is available [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/experimental/examples/lstm/g3doc/README.md).

[2019-07-12 17:22] gargn commented on #28856
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-12 17:22] #28856 closed

[2019-07-12 17:22] 8bitmp3 commented on #27461
@lamberta Just noticed the new layout and links—I think it looks awesome 🙌 Thanks a bunch 👍 I shall close the issue

[2019-07-12 17:22] #27461 closed

[2019-07-12 17:24] gunan commented on #30552
@goldiegadde who ran the 2.0 builds.
Goldie, was the GPU windows build successfil for 2.0 release?
Have you ran into this problem yourself?

[2019-07-12 17:25] vibhatha commented on #27880
@ohtaman Nice Work. It is working well.

[2019-07-12 17:27] yasushi-saito commented on #30598
Try below. You need to change the "test_path" function. With CONCURRENCY = 128, I consistency get "file X is corrupt". With CONCURRENCY = 1, I don't get the error.

`
from tensorflow import gfile
from concurrent import futures
import logging
import random
import string
from typing import List

FILE_SIZE = 4 << 20
CONCURRENCY = 128

def random_string(seed: int) -> bytes:
    r = random.Random(seed)

[2019-07-12 17:28] yashk2810 commented on #29478
If this is not a problem anymore, @EmanueleGhelfi can you please close this.

If not, can you send us a PR (https://github.com/tensorflow/docs/blob/master/site/en/r2/tutorials/generative/pix2pix.ipynb). Any improvement to the docs is always appreciated :)

[2019-07-12 17:29] gargn commented on #30229
`ReorderAxes` is supported indirectly in TensorFlow Lite by being converted to other operations. Usually the error message is indicative of another underlying issue. Can you please provide a minimally reproducible example to produce the ReorderAxes unsupported message?

[2019-07-12 17:29] ChouWeizhong commented on #27313
Hi, I have the same problem when training the model on colab with TPU.
1.Using Tensorflow 1.13.1 (Other lib are colab's Default)
2.Using tf.Keras and using `tf.contrib.tpu.keras_to_tpu_model`
3.Using fit_generator(Because my data is too big)

**Problem is at beginning the training will run for a while.**
At begining I think there's some data error.
But then I training the same data and code with G

[2019-07-12 17:30] gargn commented on #29472
There is currently limited support for LSTMs in TFLite. The documented path is available [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/experimental/examples/lstm/g3doc/README.md).

[2019-07-12 17:30] jaymody opened #30658 "TPUEstimator function requires `train_batch_size` to be set when `use_tpu` is True"
The [TPUEstimator constructor](https://github.com/JayMody/estimator/blob/e794e634ba52f9e8b04971e74fe24b91857f2228/tensorflow_estimator/python/estimator/tpu/tpu_estimator.py#L2590) requires `train_batch_size` to be set if `use_tpu` is True.

In cases when I only want to use a TPU estimator to predict, that means I have to pass in an arbitrary value in for `train_batch_size`. Looking deeper into the

[2019-07-12 17:31] yasushi-saito commented on #30598
Try the attached file. You need to change test_path. With CONCURRENCY > 1, I consistency get file corruption. With CONCURRENCY=1, I don't see an error.

[gfilebug.txt](https://github.com/tensorflow/tensorflow/files/3387404/gfilebug.txt)

[2019-07-12 17:31] lamberta commented on #25973
Thanks for the fix!

[2019-07-12 17:31] #25973 closed

[2019-07-12 17:43] bionicles opened #30659 "PLEASE add cdist"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0b1
- Are you willing to contribute it (Yes/No): Yes

**

[2019-07-12 17:43] gargn commented on #30411
Can you provide a minimally reproducible example? Either provide the frozen graph with the commands to convert the model, or provide a snippet of code that produces the same error.

[2019-07-12 17:51] ymodak commented on #30441
Looks like a limitation on s3 storage capacity. See https://docs.aws.amazon.com/AmazonS3/latest/dev/UploadingObjects.html

[2019-07-12 17:53] netskink commented on #29337
I thought it was closed already

On Fri, Jul 12, 2019 at 13:16 Billy Lamberta <notifications@github.com>
wrote:

--
Rocking the roll like a natural man!

[2019-07-12 17:54] ymodak commented on #30267
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-07-12 17:54] #30267 closed

[2019-07-12 17:55] lamberta commented on #29337
Thanks for confirming

[2019-07-12 17:55] #29337 closed

[2019-07-12 18:11] ebrevdo commented on #27684
I believe we decided that the "automatically safe solution" hides some true error cases by converting gradients of real nans to 0s.

So for now we've disabled the automatic zero-ing out of grad(x)*dy where dy  == 0.

Instead we should update the docstring of tf.math.log to suggest using tf.math.xlogy, and the division operator to use tf.math.xdivy if y is expected to be 0.

@rmlarsen @ezhulenev sh

[2019-07-12 18:17] ebrevdo commented on #27669
`tf.layers` is deprecated in TF2 in favor of tf.keras.layers; specifically here you'd use `tf.keras.layers.Dense`.  There is no `tf.layers` in TF2.

If you pass a scalar to `tf.keras.layers.Dense(1)` you'll get the explicit error:

[code]

Keras Dense layers accept at least matrices and emit at least matrices, so the behavior is consistent in TF1 and TF2.

In your case, if you passed a 1x1 matrix

[2019-07-12 18:17] #27669 closed

[2019-07-12 18:19] ebrevdo commented on #25426
I can reproduce this on a recent nightly in eager mode.  In graph mode, a shape inference check raises a safe failure exceptio.

[2019-07-12 18:20] mrry commented on #30537
I think this is “working as intended”, but the error message is a little overwhelming. The root of the problem is that `ResourceSparseApplyMomentum` only has a CPU implementation, and it must run on the same device as where the variable is stored. For efficiency, `tf.gather(my_var, …)` uses a `ResourceGather` op that also must run on the same device as where the variable is stored. However, if you

[2019-07-12 18:31] rajatmonga commented on #29122
The warning from optimizer is as expected.

@weiminson your code seems to be:
G2_grad = t.gradient(G2_loss, G.trainable_variables)
G_optimizer.apply_gradients(zip(G2_grad, G.trainable_variables))

G_optimizer is getting "all trainable variables" with G.trainable_variables, while you are providing gradients only for the ones on the G2 branch, hence it is warning you that it doesn't see any gradient

[2019-07-12 18:40] saxenasaurabh commented on #30537
Thanks for the explanation @mrry. Do you think it makes sense to change [`sparse_read`](https://github.com/tensorflow/tensorflow/blob/ec64a3e0c7d86a52ee166e4998a376e1112fc3c6/tensorflow/python/ops/resource_variable_ops.py#L638) to place the `ResourceGather` on the same device as the resource handle just like we do for [`read_value`](https://github.com/tensorflow/tensorflow/blob/ec64a3e0c7d86a52ee1

[2019-07-12 18:47] gargn commented on #25922
Try loading your model into TensorBoard to try and visualize what the input array might be. In general, it's the Placeholders that are being passed into the graph at the start.

It is not possible to debug this issue without investigating the specific model. If you are unable to determine the input arrays, please provide a TensorFlow model file.

[2019-07-12 18:48] jdduke commented on #30393
You should be able to reuse a ByteBuffer, as [that is what we do in all of our samples](https://github.com/tensorflow/examples/blob/master/lite/examples/image_classification/android/app/src/main/java/org/tensorflow/lite/examples/classification/tflite/Classifier.java#L84). When re-populating the ByteBuffer each frame, make sure you [rewind it first](https://github.com/tensorflow/examples/blob/maste

[2019-07-12 18:48] #30393 closed

[2019-07-12 18:57] annarev commented on #25370
Goldie, I think you have setup all the nightly builds we need.

[2019-07-12 18:57] #25370 closed

[2019-07-12 19:00] adammichaelwood commented on #29566
Fixed via https://github.com/tensorflow/docs/pull/786

@00krishna Please submit a new issue (or a PR!) if you have additional suggestions on this.
Thanks!

[2019-07-12 19:00] #29566 closed

[2019-07-12 19:01] mrry commented on #30537
That probably makes sense! Historically we’d have used `with ops.colocate_with(my_var):` for that. Technically the `with ops.device(self._handle.device):` [in `read_value()`](https://github.com/tensorflow/tensorflow/blob/ec64a3e0c7d86a52ee166e4998a376e1112fc3c6/tensorflow/python/ops/resource_variable_ops.py#L632) isn’t sufficient because if `self._handle.device` isn’t a complete device specificati

[2019-07-12 19:19] ymodak commented on #30643
duplicate #30645

[2019-07-12 19:19] #30643 closed

[2019-07-12 19:21] jdduke commented on #22209
All of our Android examples @ https://github.com/tensorflow/examples/tree/master/lite now support execution with [NNAPI](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/nnapi).

[2019-07-12 19:21] #22209 closed

[2019-07-12 19:23] jdduke commented on #30349
Which model are you using? Can you provide an exact link? And what is the type of `inputArray` and `outputScoresNames`?

[2019-07-12 19:24] jdduke commented on #25746
Hi @holyhao, are you still experiencing a problem with the model? Thanks.

[2019-07-12 19:25] jdduke commented on #25588
ResizeNearestNeighbor should be supported now. Can you check out the source from head and try again? Thanks.

[2019-07-12 19:28] jdduke commented on #24445
@srjoglekar246 would you mind validating the accuracy of the linked Inceptionv3 model (against our standard classification test)? Thanks.

[2019-07-12 19:30] jdduke commented on #25229
You'll need to make sure the native shared libraries are in a location where they can be properly loaded. If you're using a custom shared library name, you'll need to manually call `System.loadLibrary()` first. In any case, TensorFlow Mobile has been officially deprecated in favor of TensorFlow Lite.

[2019-07-12 19:30] #25229 closed

[2019-07-12 19:53] saxenasaurabh commented on #30537
True. I believe [placer](https://github.com/tensorflow/tensorflow/blob/4db2480e44dc82de7ff22bb5ffbb562d24fa9930/tensorflow/core/common_runtime/colocation_graph.cc#L614) might colocate them though so maybe the undefined specification is better than an incorrect one. I'll send out a fix.

[2019-07-12 19:59] ChouWeizhong commented on #27313
I find the reason!
The error said new input size.
So there must be something wrong with input data.
I finally checked out my batch generator didn't worked well.
When using fit_generator with  Class 'DataGenerator(tf.keras.utils.Sequence):'
,steps_per_epoch  didn't work.
Example I set steps_per_epoch  362 but still in training is 363.
'''
233/363 [==================>...........] - ETA: 7:52 - loss:

[2019-07-12 20:08] jvishnuvardhan commented on #25540
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-12 20:08] #25540 closed

[2019-07-12 20:48] yongtang opened #30664 "tf.data.Dataset.window encountered `AttributeError: '_VariantDataset' object has no attribute 'numpy'`"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): n/a
- OS Platf

[2019-07-12 20:49] yongtang commented on #30664
/cc @jsimsa @mrry

[2019-07-12 20:49] sheck02 commented on #27079
do you know how to do this for windows ?

[2019-07-12 20:56] lamberta commented on #30319
Thanks for the report.
Seems like a duplicate of b/132111572 (tracked internally)

[2019-07-12 21:05] anilknayak commented on #30617
I have tried same thing using ```model.save()```, the same result, the input tensor name has changed.
Code to reproduce
[code]
above code
1. Input node name by default is ```input_1```
2. output node name is ```output```

then load the previous model and starts the training from where it stopped

[code]

above code
1. Right now input has two nodes named ```input_1``` and ```input_1_1```
2. output

[2019-07-12 21:09] xinsu626 opened #30665 "Non-OK-status: CudaLaunchKernel Internal: invalid configuration argument"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):No
- OS Platfor

[2019-07-12 21:09] #25320 closed

[2019-07-12 21:15] jsimsa commented on #30664
This behavior is expected. `window` combines a finite sequence of elements of the input dataset into a single element of type dataset. The dataset object does not have `numpy`. If you would like to iterate over the element of `y`, you should do the following:

[code]

[2019-07-12 21:15] #30664 closed

[2019-07-12 21:16] pandrey-fr commented on #29525
To be honest I am not quite sure... What I did was using a `tf.keras.callbacks.TensorBoard` callback to trace the fitting of my model (in Eager mode), and I found out that on TensorBoard the LSTM unit is represented in a different color than the other bits (when I set the visualization parameter to "device used"), with the other bits' color being labeled "GPU:0". I also verified that when I use cu

[2019-07-12 21:27] jerrydeng commented on #29103
@changkaizhao how do you remove those fields from model.json?  Just remove those pairs from the JSON completely?

[2019-07-12 21:28] allenlavoie commented on #29781
Probably makes sense to finish eager-friendly forward-mode autodiff and then do forward-over-reverse for Hessians, which will be more efficient for most networks. I'm working on that at the moment, but I'll keep this in mind as a use-case.

[2019-07-12 21:36] Pidem commented on #23715
I had a similar issue working with TF2. Turns out this was due to the fact that I was using an old conda environment that didn't have access to the same cuDNN.

[2019-07-12 21:39] jdduke commented on #25171
TFMobile consumes the frozen graphs (.pb) files, whereas TFLite consumes converted flatbuffer (.tflite) files. They are incompatible and not interchangeable. Do you have a specific question for TensorFlow Lite execution?

[2019-07-12 21:41] lamberta commented on #29088
Fixed in PR

[2019-07-12 21:41] #29088 closed

[2019-07-12 21:43] yongtang commented on #30664
@jsimsa Thanks for the explanation 👍 !

[2019-07-12 21:45] jvishnuvardhan commented on #29254
@ghchinoy Can you submit this PR against `master`? You can copy and paste the closed PR and open it against `master` that will be helpful to the community. Thanks!

[2019-07-12 21:55] lamberta commented on #27168
Not applicable now, thanks

[2019-07-12 21:55] #27168 closed

[2019-07-12 21:58] marianopeck commented on #30359
Hi @freedomtan
Thanks, I am trying now to compile it myself but I wasn't even able to compile `bazel` on the first place :(    I am getting this issue: https://github.com/bazelbuild/bazel/issues/8882
If I am able to pass that, I will continue..

[2019-07-12 22:00] Uiuran opened #30666 "tf.keras.layers.Conv2D does not initialize kernel and bias when called inside name_scope"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-07-12 22:01] ymodak commented on #30307
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-12 22:01] #30307 closed

[2019-07-12 22:01] ymodak commented on #30282
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-12 22:01] #30282 closed

[2019-07-12 22:01] lamberta commented on #25387
model.updates is not in TF2 now. Thanks

[2019-07-12 22:01] #25387 closed

[2019-07-12 22:02] ymodak commented on #29682
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-12 22:07] jdduke commented on #26280
We've since moved our examples to https://github.com/tensorflow/examples/tree/master/lite, feel free to propose a PR for the samples there.

[2019-07-12 22:09] jdduke commented on #25997
Are you still observing this issue?

[2019-07-12 22:12] jdduke commented on #27918
It looks like you're trying to reference the shared library from a system service? In which case, it's your responsibility to put the native shared library where it can be used.

[2019-07-12 22:12] #27918 closed

[2019-07-12 22:12] jdduke commented on #24916
The latest tutorial has been updated @ https://www.tensorflow.org/lite/models/object_detection/overview.

[2019-07-12 22:12] #24916 closed

[2019-07-12 22:14] jdduke commented on #28540
You need to update the input/output tensor names that are reference in the sample. Unfortunately, in-place swapping out models in inference code doesn't always "just work" due to how different models expose the input/output names.

[2019-07-12 22:14] #28540 closed

[2019-07-12 22:15] rzilleruelo commented on #30531
Same error here in this colab.
https://colab.research.google.com/github/samwit/TPU/blob/master/Guide_to_tf_keras_TPU_MNIST.ipynb

[2019-07-12 22:18] jdduke commented on #29658
Can you file a separate bug for the conversion issue you're facing? Thanks.

[2019-07-12 22:18] #29658 closed

[2019-07-12 22:18] gggh000 commented on #29682
please re-opened it, it is not fixed yet.

[2019-07-12 22:18] gggh000 commented on #29682
why are you recommending cpu version when I specifically want GPU??

[2019-07-12 22:25] jdduke commented on #30332
You need a newer version of TensorFlow Lite, at least 1.14.0, which was just published this past week (https://bintray.com/google/tensorflow/tensorflow-lite/1.14.0).

[2019-07-12 22:25] #30332 closed

[2019-07-12 22:30] jdduke commented on #30410
Hi @abdou31 , the detection sample is not unlike what you want (see https://www.tensorflow.org/lite/models/object_detection/overview), and demonstrates how to feed frame inputs and parse semantic outputs (e.g., labels, boxes) for use in your app.

[2019-07-12 22:30] #30410 closed

[2019-07-12 22:35] nmoezzi commented on #27101
I am using Tensoflow 2.0.
When I use converter.allow_custom_ops = 1, the TensorArrayV3 errors goes away and the pb model is converted to tflite.
But I get this error when running interpreter:
RuntimeError: Encountered unresolved custom op: TensorArrayV3.Node number 1 (TensorArrayV3) failed to prepare.

I need to convert this model to a product quality tflite model to be used by interpreter. Any wo

[2019-07-12 22:41] jdduke commented on #24663
Closing per latest advice.

[2019-07-12 22:41] #24663 closed

[2019-07-12 22:45] saberkun commented on #25342
Transformer V2 initial documentation is checked in with usage guide.
We can close this bug. Tody and the team will work on adding more stats there.

[2019-07-12 22:48] abdou31 commented on #30410
I had explained what I want and I had told you that the project is not a classification [link](https://github.com/tensorflow/examples/pull/73) my CNN used regression to predict and localize the eye region and draw landmarks on contours of the eye.
So image classification doesn't meet what I want.

[2019-07-12 22:51] jdduke commented on #30524
Hi @AlexZot, I'm unable to access the model you linked, would you mind updating?

What happens if you change `output_arrays` to:
[code]

[2019-07-12 22:52] rzilleruelo commented on #30531
I made it work by instead of using `tf.contrib.tpu.keras_to_tpu_model` creating the model withn the TPU strategy scope.

[code]

[2019-07-12 22:53] jdduke commented on #28163
You'll need `org.tensorflow:tensorflow-lite:1.14.0`, which was just released this past week, or try the nightly.

[2019-07-12 22:53] #28163 closed

[2019-07-12 22:55] netskink commented on #27168
You are welcome Billy

On Fri, Jul 12, 2019 at 18:02 Billy Lamberta <notifications@github.com>
wrote:

--
Rocking the roll like a natural man!

[2019-07-12 22:58] jdduke commented on #30410
@abdou31 while classification/detection are not identical to your use-case, the point is that they demonstrate how to map to and from model-specific inputs/outputs. I would recommend using some of the instructions @ https://www.tensorflow.org/lite/guide/faq#how_do_i_inspect_a_tflite_file, or a model visualizer like [Netron](https://github.com/lutzroeder/netron), to inspect the names/types of the i

[2019-07-12 23:10] freedomtan commented on #30359
@marianopeck I haven't tried newer bazel, general comment is to increase your swap space and maximum Java heap size (e.g., `-J-Xmx1024m` instead of `-J-Xmx512m`)

[2019-07-12 23:39] bionicles commented on #30659
best i can do right now ... but it's impossible to do big problems ... im looking into tensor decomposition / factorization / compression to solve memory issues. ugh
[code]

[2019-07-12 23:41] aleist commented on #30393
I update the ByteBuffer in a native library via JNI calls. The C++ code does not update the position or limit values, it simply retrieves the pointer and overwrites all RGB pixel values of the buffer, so rewind isn't necessary. This JNI call happens from the same AsyncTask instance that is also running inference. Here is the relevant code snippet run by AsyncTask.doInBackground. Variable `floatIma

[2019-07-12 23:57] davidparks21 commented on #3389
For anyone who lands on this question, Lakrish provided a very usable solution (only a few lines of code). I have posted an example at this related SO question: https://stackoverflow.com/questions/38618960/tensorflow-how-to-insert-custom-input-to-existing-graph/57015133#57015133

[2019-07-13 00:02] Pari-singh commented on #28995
Facing the similar issue.

[2019-07-13 00:25] abdou31 commented on #30410
Thanks, I have the name and the types of the outputs and inputs of my model ( frozen inference graph .pb ) that I used to generate tflite model.
I have read and I have seen many tutorials and I know that my tflite model has an input tensor with those parameters (batch, width, height, channels) => (1,112,112,3): input_to_float:0
channels=>3 ( RGB) .
and for the input is a frame ( image ):  logits/B

[2019-07-13 01:13] iantimmis opened #30670 "libcuda.so.1: cannot open shared object file: no such file or directory"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow version: 1.13
- Python version: 3.7
- Installed using virtualenv? pip? conda?: Conda
- CUDA/cuDNN version: cudatoolkit version 10 and cudnn version 7.6 (according to conda list)
- GPU model and memory: 2080ti 11gb 🥇

**Describe the problem**

**Provide the exact sequence of commands / steps

[2019-07-13 02:44] #30474 closed

[2019-07-13 02:45] weiminson commented on #29122
@rajatmonga , Thanks for your reply. Actually, I did try out a training mode where one of the branches was disabled and the other was left enabled (mode 2). Consequently, it was still showing the same error. Besides, I checked the name of the layers from that Error messages, finding that these layers are names of layers of BOTH branches, which implied that neither of the branches actually worked.

[2019-07-13 02:57] leeli92 commented on #30275
hi,I have read your question and i need your help, would like to ask you some questions? I used your build command to build libtensorflowlite.so, but an error occurred :
![image](https://user-images.githubusercontent.com/17593272/61166157-e5f29c80-a55b-11e9-86c5-de14383291ab.png)
My guess is that the relevant environment versions don't match, my tensorflow is release-1.14.0 and bazel-0.18.0 .Can y

[2019-07-13 03:01] ufimtsev opened #30672 "Backpropagate through tf.data"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-07-13 03:30] Mouradost commented on #30160
I did and this is my config

C:\tensorflow\tensorflow>python configure.py
WARNING: --batch mode is deprecated. Please instead explicitly shut down your Bazel server using the command "bazel shutdown".
You have bazel 0.24.1 installed.
Please specify the location of python. [Default is C:\Users\moura\AppData\Local\Programs\Python\Python37-32\python.exe]:

Found possible Python library paths:
  C:\Us

[2019-07-13 04:28] #25426 closed

[2019-07-13 04:41] Deepak-HpyAda commented on #30645
I installed Netron, It asked for model to use. I selected my model. It is displaying a big graph.
I m not able find a solution. How to use the value in my code

[2019-07-13 04:47] ramrahu commented on #30349
These are the tyoes:
**Object[] inputArray = {floatInputBuffer, sampleRateList};
Map<Integer, Object> outputScoresNames = new HashMap<>();
    outputScoresNames.put(0, outputScores);**
I have used the pretrained model mentioned in this link:
https://github.com/mozilla/DeepSpeech
I downloaded using this command mentioned in the link: **wget https://github.com/mozilla/DeepSpeech/releases/download/v0

[2019-07-13 05:54] Deepak-HpyAda commented on #30645
I updated the code with
--input_array=image_tensor—output_array=output
Now a new error has arrived
**tflite_convert.py: error: the following arguments are required: --output_file**

[2019-07-13 06:50] patzm opened #30673 "Support Conv3D in profiler for FLOPS counting"
**System information**
- TensorFlow version (you are using): 1.13.1
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
The [TensorFlow Profiler](https://www.tensorflow.org/api_docs/python/tf/profiler/profile) currently does not support counting operations / FLOPS of Conv3D layers. I request that we add this feature. This [nice readme](https:/

[2019-07-13 07:04] #30652 closed

[2019-07-13 07:38] ppham27 commented on #30581
Restoring from all variables is the default behavior. But it's possible to only restore select variables with WarmStartSettings (https://www.tensorflow.org/api_docs/python/tf/estimator/WarmStartSettings).

[2019-07-13 07:45] Oktai15 commented on #30229
@gargn any case with `...`

[2019-07-13 08:10] littleDing commented on #30441
Is it possible to use a Multipart Upload instead of put when detecting a large upload?

[2019-07-13 08:38] stakemura opened #30674 "Failed to build TFLite model benchmark tool on windows due to include 'dirent.h'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows Server 2016 x64
- TensorFlow installed from (source or binary):source
- TensorFlow version:master
- Bazel version (if compiling from source):0.25
- GCC/Compiler version (if compiling from source):MSVC 14
- CUDA/cuDNN version:not used

**Describe the problem**

Failed to build [TFLite Model Benchmark Tool](htt

[2019-07-13 09:45] Davari393 opened #30675 "Hi guys."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-07-13 09:45] Davari393 opened #30676 "Exception: Placeholder normalized_input_image_tensor should be specied by input_arrays"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-07-13 10:01] Davari393 opened #30678 "i tried convert tf model to tflite but get this exception.Exception: Placeholder normalized_input_image_tensor should be specied by input_arrays."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-07-13 10:01] Davari393 opened #30679 "can not convert model to tflite"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-07-13 10:44] PayneJoe commented on #29943
Hi, have you solved this yet?

[2019-07-13 11:19] KauthamMurugan commented on #30645
You have to give the output file name with path in the --output_file parameter
Eg: --output_file=/Documents/my_Lite_graph.tflite

[2019-07-13 11:31] JoelTsui commented on #30275
You should configure tensorflow project before running bazel command

[2019-07-13 11:57] off99555 commented on #27688
@ppham27 I can save keras model in `tensorflow-gpu-1.13` fine until I trigger `tf.enable_eager_execution()` that is when I cannot save the model. When I call `model.save(path)` the `Unable to create link` error immediately occurs if eager execution is enabled. If I set `include_optimizer` to False then it will let me save. But I think this is a stupid workaround.

I see that it's related to the op

[2019-07-13 11:58] Adnan-annan opened #30680 "ReadTensorFromImageFile() C++ function too slow for large size images"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Windows10
- TensorFlow installed from (source or binary):from source
- TensorFlow version (use command below):1.8.0
- Python version:3.5
-Microsoft Visual Studio 2017

**Describe the current behavior**
I am using tensoirf

[2019-07-13 12:08] danganea commented on #22766
I'm also affected by this issue and similar problems when attempting to compile in debug mode (normal compilation works fine). #27744

It seems to me like the TF community has found some workarounds like defining NDEBUG and commenting out a string_view line and making it work.

But what is the root cause of this issue? #28091 seems to suggest to just quit CUDA debugging altogether. Looking at this

[2019-07-13 12:25] tensorflowbutler commented on #29916
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-07-13 12:53] KauthamMurugan opened #30682 "TFLite speech example failing to train with -output_representation='spec'or'mfcc' examples/lite/examples/speech_commands/ml"
My Environment
Working sample Link : https://github.com/tensorflow/examples/tree/master/lite/examples/speech_commands/ml
Virtual environment : Anaconda Navigator
Editor : VS Code
Mode of execution : VS Code integrated Terminal with Conda envs
OS : Mac OSX

Tensorflow Version : 1.13.1 (as required in the samples requirement)

When i download the sample and run it as it is as per the ReadMe file, ev

[2019-07-13 13:13] RonLek commented on #29755
@jvishnuvardhan  @lamberta Please let me know if it works fine. Thanks!

[2019-07-13 13:18] selvamsandeep commented on #26289
Hi  working for me after i did some sym link,
in  /usr/local/cuda-10.1/lib64

libcublas.so -> /usr/local/cuda-10.1/lib64/libcublas.so.10.1
libcublas.so.10.0 -> /usr/local/cuda-10.1/lib64/libcublas.so.10.1
libcusolver.so.10.0 -> /usr/lib/x86_64-linux-gnu/libcusolver.so.10
libcurand.so.10.0 -> /usr/lib/x86_64-linux-gnu/libcurand.so.10
libcufft.so.10.0 -> /usr/lib/x86_64-linux-gnu/libcufft.so.10
libc

[2019-07-13 13:31] yongtang commented on #30633
The issue has been fixed through PR #30656

[2019-07-13 13:31] #30633 closed

[2019-07-13 13:32] yongtang commented on #30564
The issue has been fixed through PR #30656

[2019-07-13 13:32] #30564 closed

[2019-07-13 13:40] mdanatg commented on #29122
@weiminson I tried to run the code you uploaded to the github repo, but it fails with this error:

[code]

It seems to require the PET & CT dataset, but it's unclear how to install that.

At any rate, the two warnings are very unlikely to be related. To verify that, please change line 156 as follows:

[code]

[2019-07-13 13:52] mdanatg commented on #29122
@weiminson
I had a closer look at `train_G`, and I believe the bug that caused the warning is already fixed in the beta1 release:

`pip3 install -U tensorflow==2.0.0-beta1`

I think that will require upgrading tensorflow-addons, too:

`pip3 install -U tensorflow-addons`

Could you try running your code under these versions and check if any of the warning remain?

[2019-07-13 15:17] tanzhenyu commented on #29122
+1 with what @rajatmonga said. The warning from optimizer only suggests branch 2 is not included in the backprop path, and seems to be legit in your use case. If you want to avoid such warning, the simplest way is to change your code to use G.trainable_variables to tape.watched_variables so that it only updates branch 1.

The actual error seems to be coming from NodeTransformer:
[code]

[2019-07-13 16:58] ppham27 commented on #27688
Hi @off99555,

Sorry, can't seem to figure out why that would be occurring without more code.

We have at least one test in the test suite that saves the model with an optimizer: https://github.com/tensorflow/tensorflow/blob/3cb03d093610e51cf2d36bfbf43c446a5de52941/tensorflow/python/keras/saving/hdf5_format_test.py#L810-L811

I changed the line `SGD` to `Adam` and the test still passes. Maybe try

[2019-07-13 17:07] alokprasad opened #30684 "Compiling libtensorflow-core.a using NDK16b or later?"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
- OS Platfo

[2019-07-13 17:17] bionicles commented on #4104
this would be extremely useful for big data DR in molecular dynamics

[2019-07-13 17:21] braindotai commented on #30596
Please somebody help

[2019-07-13 17:31] ymodak commented on #30675
Please post a new issue and provide all the information asked by the template. Thanks!

[2019-07-13 17:31] #30675 closed

[2019-07-13 17:32] ymodak commented on #30679
Please post a new issue and provide all the information asked by the template. Thanks!

[2019-07-13 17:32] #30679 closed

[2019-07-13 17:33] ymodak commented on #30676
Please post a new issue and provide all the information asked by the template. Thanks!

[2019-07-13 17:33] #30676 closed

[2019-07-13 18:33] ANSHUMAN87 commented on #30232
@dukecyto : I have found the reason for the issue. I will upload a PR to fix it. In the mean time, i can give you work around for the issue.
Currently your model has operation like, Weight[32x12] X Input[12, 1], followed by BiasAdd(Add) [32x1].

I would suggest to change the order as below, Input[1, 12] X Weight[12x32], followed by BiasAdd(Add)[1x32], and then you can add Transpose to fulfill your

[2019-07-13 18:37] dimtass commented on #30314
I'm having the same issue with stm32f746 and tflite-micro.
I'm running `v1.14.0-rc1-22-gaf24dc9 1.14.0` version.

When using `OPTIMIZE_FOR_SIZE` or `QUANTIZED_UINT8` in TFLiteConverter and get the tflite flatbuffer, then when the buffer is parsed, the `tensorflow/lite/experimental/micro/simple_tensor_allocator.c:TfLiteTypeSizeOf` complains that:

And according to `c_api_internal.h` the type is set

[2019-07-13 18:46] off99555 commented on #27688
It seems to be a version issue. I tested with tensorflow2.0 and there is no problem (because there is no tf.enable_eager_execution()). I cannot upgrade the version easily considering that I followed this installation guide that only has version 1.13 as the latest from conda: https://www.pugetsystems.com/labs/hpc/The-Best-Way-to-Install-TensorFlow-with-GPU-Support-on-Windows-10-Without-Installing-C

[2019-07-13 18:49] mdanatg opened #30685 "`TensorArray` objects used as `Dataset.reduce` state lose inferred shapes"
**System information**
- TensorFlow version (use command below): 2.0
- Python version: 3

**Describe the current behavior**

`TensorArray` objects passed as accumulators to `Dataset.reduce` lose inferred shapes. Subsequent calls to `TensorArray.concat` returns a fully unknown shape.

**Describe the expected behavior**

The element shape of the `TensorArray` should be partially known, consistent wi

[2019-07-13 18:56] mdanatg commented on #30685
@jsimsa could you triage the issue?

[2019-07-13 18:58] mdanatg opened #30686 "`tf.reduce_*` called on the result of `tf.TensorArray.concat` of unknown rank return corrupted Tensor"
**System information**
- TensorFlow version (use command below): 2.0
- Python version: 3

**Describe the current behavior**

See the reproducing code. When `tf.reduce_mean` is called on the output of a `TensorArray.concat` which had a fully dynamic shape (including rank), it produces a `Tensor` of scalar shape, but whose value is a 1-element vector.

**Describe the expected behavior**

The resulti

[2019-07-13 19:00] mdanatg commented on #30686
@jaingaurav could you triage the issue?

[2019-07-13 19:02] sh4kesbeer commented on #30638
I am having the same issue under the same conditions except for:
OS: arch
GPU: GT 710

[2019-07-13 19:03] mdanatg commented on #30478
Indeed, we seem to be dealing with an inconsistent Tensor object here, one whose static shape does not match its actual value.
This seems to be caused by a combination of issues, but ultimately the smoking gun seems to be `tf.reduce_mean`.

To clarify how AutoGraph transforms these pieces of code:

 * in the first instance (`compute`), a simple `tf.while_loop` is used
 * in both of the second inst

[2019-07-13 19:03] #30478 closed

[2019-07-13 20:07] khazali opened #30687 ""ambiguous call to overloaded function" error during compiling tensorflow on Windows"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 7x64
- Mobile device (

[2019-07-13 20:20] dynamicwebpaige commented on #29039
Adding @guptapriya and @poxvoculi, RE: GPU runtime. 👍

[2019-07-13 20:29] dynamicwebpaige commented on #28957
Pinging @jsimsa for visibility. 🙂

[2019-07-13 21:33] Uiuran commented on #30672
Silly question, but did you done with Session().as_default as sess:  ->  sess.run(g)  ?

[2019-07-13 21:38] Uiuran commented on #30632
Why are you importing a .h header file in python ? do you know the difference from python API and the C++ backend ?
The docs:
https://www.tensorflow.org/api_docs

[2019-07-13 21:43] ufimtsev commented on #30672
Yes... it returns TypeError: Fetch argument None has invalid type <class 'NoneType'>

[2019-07-13 21:50] Uiuran commented on #30672
Try to retrieve the operation tensor with tensor_name = g.get_operations()[-1].name:':0', then run it...

[2019-07-13 22:03] dynamicwebpaige commented on #4907
Closing this issue, as TF-Slim is no longer officially supported and will be [sunset in TensorFlow 2.0](https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md). Please reopen if you have any questions. Thanks!

[2019-07-13 22:03] #4907 closed

[2019-07-13 22:08] dynamicwebpaige commented on #30653
Would this be resolved by using [`tf.numpy_function`](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/numpy_function)? Adding @jsimsa for visibility. 🙂

[2019-07-13 22:43] ppham27 commented on #27688
Hmm, there appears to be a mismatch in the optimizer being loaded. Really, my advice would be to upgrade to at least TF1.14, but it might work passing in `custom_objects={'adam': Adam}` as a keyword argument into `tf.keras.models.load_model`.

Or putting this at the top of your program:
[code]

[2019-07-13 23:01] jsimsa commented on #28957
This is not planned to be supported in the near future. I will mark this feature request as "contributions welcome".

[2019-07-13 23:07] jsimsa commented on #30672
This is not planned to be supported by the tf.data team in the near future. I will mark this issue as "contributions welcome".

[2019-07-13 23:17] jsimsa commented on #30653
The following works:

[code]

[2019-07-13 23:17] #30653 closed

[2019-07-13 23:57] yongtang commented on #30474
@Dobiasd With tf-nightly-2.0-preview the code seems to work correctly:
[code]

[2019-07-14 01:13] cocosci commented on #30581
That method assumes the graph of the estimator is not being modified, right?
Let's say, I firstly train one estimator with all parameters being in the scope of "Round1/"; then I modify the graph of the estimator by adding some more trainable variables in the scope of "Round2/".
In that case, the second graph contains, but bigger than the first graph. Can I use WarmStartSettings to load variables i

[2019-07-14 01:29] serser commented on #25062
Upgrade keras to 2.2.4 solved my problem.

[2019-07-14 01:36] TCBocean commented on #30632
@Uiuran Thank you very much for your answer.
Sorry, I don't know much about this knowledge.
I am trying to learn TensorFlow through the project given below. When I executed the "make" command in the "hdrnet" folder, I had the problems I raised. So I am very confused.
Do I need to install a C++ library into my system?
Project: https://github.com/mgharbi/hdrnet
I look forward to your reply again, th

[2019-07-14 02:19] pidajay commented on #26460
@jaingaurav I am seeing a lot of memory issues when using depthwise conv2d native. Seems like it does not respect the session config visible devices list and grabs all the GPUs. You mentioned this above - "I am working on the GPU memory allocation issue. However, the fix requires quite a bit of code re-structuring. It seems we end up allocating memory as a function of querying CUDA capabilities."

[2019-07-14 02:22] ppham27 commented on #30581
No it doesn't assume that at all. You can use `var_name_to_prev_var_name` and pass a dictionary like {'Round2/my_var': 'Round1/my_var'} as long as they are the shape. You can also filter which variables to restore with the `vars_to_warm_start` argument. This question probably belongs on StackOverflow, also.

[2019-07-14 02:25] jaingaurav commented on #26460
@pidajay: How are you querying the GPUs, could you share a code snippet? Note this issue was primarily focused on querying GPUs with eager execution. If you are using sessions and experiencing issues there might be something else going on.

Here is a tutorial on how to use the new APIs:
https://www.tensorflow.org/beta/guide/using_gpu#limiting_gpu_memory_growth

[2019-07-14 02:28] lytgftyf commented on #25403
I have the same problem. Fine with 1080 or 1070, wrong with 2080. What's wrong? Have you fixed this problem?

[2019-07-14 02:33] lytgftyf commented on #25403
It does not work with CUDA 10.0.130.

[2019-07-14 02:40] rish-16 opened #30689 "Need help training model on TPU on Colab"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-07-14 02:51] pidajay commented on #26460
@jaingaurav Appreciate the response. I am using an estimator (TPU estimator but running on GPU). Single GPU is fine but problem shows up when distributing across multiple GPUs (I use horovod. But horovod does not seem to be the issue here). I create the visible device list as follows at the beginning of the program
[code]
But I notice that the estimator violates the visible device list above and a

[2019-07-14 02:55] dr-rathod opened #30690 ".h5 to tflite conversion error"
working on GOOGLE COLAB

tensorflow version 1.2

INPUT :-
`from tensorflow.contrib import lite

converter = lite.TFLiteConverter.from_keras_model_file( 'model.h5' ) # Your model's name

model = converter.convert()

file = open( 'model.tflite' , 'wb' )

file.write( model )`

ERROR:-
`ImportError                               Traceback (most recent call last)
<ipython-input-1-e02e9998849c> in <modul

[2019-07-14 02:57] dr-rathod commented on #30690
AND BY THIS INPUT:-
`from  tensorflow.contrib.lite.python import convert_saved_model
convert_saved_model.tflite_from_saved_model(saved_model_dir="model.h5",output_file="/TF_Lite_Model")`

ERROR:-
`ModuleNotFoundError: No module named 'tensorflow.contrib.lite'`

[2019-07-14 03:00] #30689 closed

[2019-07-14 03:50] MuseMamba commented on #30638
Well, I have tried this, but it didn't work. I have installed the cudatoolkit-10.1.168 and cudnn-7.6.0-cuda10.1_0 in m the server.

[2019-07-14 03:56] piiswrong opened #30691 "Strange bug with uint64 and tf.constants"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-07-14 04:17] sivakarthikgade commented on #23780
tensorflow.keras.backend.set_session worked. using TF 1.13

[2019-07-14 04:43] edwardyehuang commented on #30638
Install the cudatookit 10.0.130.
I tried 10.1.168 few weeks before, had some errors

[2019-07-14 05:02] Dobiasd commented on #30474
@yongtang

Thanks for the confirmation. I guess this was to be expected since [the fix](https://github.com/tensorflow/tensorflow/commit/37fcf0a0e04b2014864936397c25e6c398135772) includes an explicit test for this. :+1:

[2019-07-14 05:20] Yilong94 commented on #25636
I can confirm that the error is still occuring. numpy==1.15.4 is not compatible with tensorflow==1.13.1, despite tensorflow v1.13.1 requiring only numpy>=1.13.3

[2019-07-14 07:00] Leslie-Fang commented on #30691
If you set multiply constants, and which are not used.
Tensorflow would go through a FoldNode operation to do same convertion.
I think that where the problem happens.

[2019-07-14 08:34] bonlime commented on #30389
I have the same issue and it looks like the problem is much deeper. The same error appears when I build any TF 2.0 version with CUDA 9.0 support

[2019-07-14 09:18] hadaev8 commented on #29798
fit_generator is not supported for models compiled with tf.distribute.Strategy.
Any ideas how to get around it?

[2019-07-14 09:42] capilano commented on #29798
@hadaev8 I got around it by using tf estimators.
 I made a feature request a couple of weeks back,let us see if it gets implemented

[2019-07-14 09:49] off99555 commented on #27688
That trick about `custom_objects` seem to work!
I changed the loading code to `model2 = tf.keras.models.load_model('mnist.h5', custom_objects=dict(adam=Adam))` and it is able to load using Adam v2 optimizer.

[2019-07-14 10:12] Arunkumar0258 commented on #26289
Hi, is it working with tensorflow 2.0 with cuda 10.1 and do I have to install cuda 10.0 seperately? Can you share the symlinking Linux command here so that I can try and confirm it's indeed working.

[2019-07-14 12:54] Hayashi-Yudai commented on #24496
I have the same error on tensorflow 1.14.0 and RTX2080. But in my case, this error occurs only when I use convolution layer.

[code]
I tried `config.gpu_options.allow_growth = True`, but it does not solve this error.

I want someone help me.

Thank you.

[2019-07-14 13:34] gaetanbahl commented on #21574
Did you solve it ?

I have the exact same issue (same error, same versions).

Thanks

[2019-07-14 13:41] jeet4690 opened #30693 "ImportError: cannot import name 'lite'"
on ubuntu 18.4

using this input

`from tensorflow.contrib import lite
converter = lite.TFLiteConverter.from_keras_model_file( 'model.h5')
tfmodel = converter.convert()
open ("model.tflite" , "wb") .write(tfmodel)`

i got this error

`Traceback (most recent call last):
  File "h5totflite.py", line 1, in <module>
    from tensorflow.contrib import lite
ImportError: cannot import name 'lite'`

[2019-07-14 13:42] aiff22 commented on #28283
Hi @alexcohn,

You can take a look at http://ai-benchmark.com/ranking_detailed to see the speed of different NN models running with NNAPI on various Android devices. For float and quantized models, you should see a huge speed-up on all phones with SDM855, Kirin 980/810 and Helio P90.

[2019-07-14 14:55] dukecyto commented on #30232
@ANSHUMAN87 This sound like great news! I while I wait for your PR to get merged, I will try your suggested workaround.

[2019-07-14 15:03] jperl commented on #23733
Thank you for fixing this. I can confirm `export ENV GCS_READ_CACHE_MAX_SIZE_MB=0` fixes the leak for me in `1.13.1` and it works in `1.14.0` without setting that.

I spent a day tracking down the memory leak since it does not show up in python profiling with `tracemalloc`. Is there any way to profile how much memory tensorflow is using to help with isolating future memory leaks?

[2019-07-14 15:55] romrayster commented on #21574
@gaetanbahl : I've applied this two patches:
https://github.com/tensorflow/tensorflow/pull/16175/files
https://github.com/tensorflow/tensorflow/pull/22856/files

I think the first one is the one which is solving the error.

[2019-07-14 16:08] morgangiraud commented on #30478
@mdanatg  Cool, thanks for taking the time to do this work.

One thing that might have been forgotten: it does not only happens with `tf.reduce_mean` but also with `tf.reduce_sum` and possibly with every `tf.reduce_` operations. (I didn't check that)

[2019-07-14 16:20] hadaev8 commented on #29798
@capilano
But need callbacks.
I cant pass dataset object, right?
I get assert without error message.

[2019-07-14 16:37] johnwahba commented on #24496
Same issue with RTX 2070

[2019-07-14 17:20] Overdrivr commented on #446
@yaroslavvb Do you have any benchmarks againsts scipy's CPU version ? That would be very interesting.

[2019-07-14 18:02] jing-dong commented on #23733
One tool that I found helpful is the heap profiler in Gperftools (https://gperftools.github.io/gperftools/heapprofile.html). You may want to try it out next time when you suspect there are memory leaks.

[2019-07-14 18:28] alexcohn commented on #28283
@aiff22, I have studied this table a lot, and I don't doubt that some devices have nice acceleration via NNAPI. The issue is that for some devices, same NNAPI makes the inference *slower*, so we cannot use it *everywhere*. Another question, is NNAPI always better than GPU delegate on devices with hardware acceleration?

[2019-07-14 19:00] jperl commented on #23733
Thank you @jing-dong I will try that next time :pray:

[2019-07-14 19:11] aiff22 commented on #28283
@alexcohn, yes, right now NNAPI is dramatically better than GPU delegate on devices with hardware acceleration. Besides that, the current version of GPU delegate contains a huge number of critical bugs, thus I would recommend using it **really carefully** and always check the actual outputs that are produced by the model (e.g. NANs are returned for almost any model running on Mali GPUs).

Regardin

[2019-07-14 19:16] capilano commented on #29798
@hadaev8 you can pass dataset object. Keras callbacks, doubtful but maybe it's possible (not sure) . Do you need callbacks for early stopping and learning rate schedule or for something else?

[2019-07-14 19:51] jimhoprogramming commented on #29679
Thanks,I debugging for some cnn having NaN case indeed.so,only way it was go black to tf v1.6 to do it.

[2019-07-14 20:12] ae137 commented on #17494
This bug, or at least a very related bug, is still open in Tensorflow 1.14. The concatenate operation leads to the error "operation received an exception:Status: 5, message: could not create a view primitive descriptor, in file tensorflow/core/kernels/mkl_slice_op.cc:433" for the mkl package (tensorflow=1.14.0=mkl_py37h45c423b_0 from anaconda). After installing the eigen package from anaconda (ten

[2019-07-14 20:13] lc0 commented on #30432
@GuesmiAbd Please double check indentation, used in code. Seems like authors combine tabs with whitespaces, that causing the issue.

@soupytwist what do you think?

[2019-07-14 20:23] KOLANICH commented on #30316
Works like a charm. Thanks to evereone involved in fixing it!

[2019-07-14 20:59] alexcohn commented on #28283
Thanks, Andrey. I believe that your answer can close this issue.

[2019-07-14 20:59] #28283 closed

[2019-07-14 21:11] bionicles commented on #30576
[code]

[2019-07-14 21:45] bionicles commented on #27831
agreed, this is boilerplate, tf could easily have this. tfrecords are cool but could be simplified dramatically and be better for it

[2019-07-14 22:01] hadaev8 commented on #29798
Okay get this error, maybe because I have multi output model

[code]

[code]

[2019-07-14 22:32] ymodak commented on #29682
Can you please attach a screenshot of your Environment variables?

[2019-07-14 23:29] gogasca commented on #27688
I was using a TF.Hub model based on this tutorial https://www.tensorflow.org/tutorials/images/hub_with_keras  and change the TF hub model from version 2 to 4.
and now works for me:
https://tfhub.dev/google/tf2-preview/mobilenet_v2/feature_vector/4

[2019-07-15 00:04] gogasca commented on #27008
Same problem

[2019-07-15 00:35] robieta commented on #28619
To follow up on this for anyone who comes across it.

The issue is that by passing sample weights through partial rather than as arguments in py_func (p.s. you can change to [numpy_function](https://www.tensorflow.org/api_docs/python/tf/numpy_function) to get rid of the deprecation warning), you're actually passing a symbolic Tensor to `roc_auc_score`, which doesn't know how to handle it. scikit-l

[2019-07-15 00:51] CLIsVeryOK commented on #30595
@gadagashwini  I use ubuntu 16.04/1080Ti GPU, tf1.13, installed a binary

[2019-07-15 01:00] KimMeen commented on #26316
Same problem and could you post the solution to fix it? Thank you!!

[2019-07-15 01:33] jim-meyer opened #30695 "ModelCheckpoint should have a way to delete non-best model checkpoints as it goes"
**System information**
- TensorFlow version (you are using): 2.0.0b0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
tensorflow.keras.callbacks.ModelCheckpoint should have an (optional) way to clean up non-best model checkpoints as it goes. This would help avoid disk consumption issues for larger models and other uses cases like doing a lo

[2019-07-15 01:58] Uiuran commented on #30666
Update, just corrected it by using
``
with graph.as_default():
  with tf.variable_scope('name9'):
``
In relation to this one has to say " never use name_scope to define ops, unless you wanna recover the name_scope of the graph".

and then before running the Op in question

``
tf.global_variables_initializer()
sess.run(tf.get_operations()[-1])
``

but have to do and silly if condition to see if any

[2019-07-15 02:47] capilano commented on #29798
@hadaev8
1. Use tensorflow.keras layers and tensorflow.keras.callbacks,do not use any keras layers directly or functions. Even during the import replace all the keras imports with tensorflow .keras. might need to slightly change your code, because there are some subtle differences between tf.keras and keras , but for most cases they have exact same functionality.
2. You cannot pass a dataset objec

[2019-07-15 02:52] renjie-liu commented on #26731
mark this issue as fixed, plz reopen if any other issue occurs.

[2019-07-15 02:52] #26731 closed

[2019-07-15 02:57] KichangKim commented on #28028
Additionally, when I using Model.train_on_batch(), there is no way to pass Training=True flag, so, does TF 2.0 automatically set True when calling train_on_batch() or should I set set_learning_phase() manually?

Current documentation is too useless for that situation.

[2019-07-15 03:02] jurneo commented on #24974
This is not a proper solution. The original problem still remains when building with

`bazel build -c opt -c fastbuild //tensorflow:libtensorflow.so
`
It would be great if the function is implemented for Windows platform.

[code]

in  the GetTempFilename in path.cc

[2019-07-15 03:12] guptapriya commented on #29039
cc @tatianashp

[2019-07-15 03:14] ghostplant opened #30697 "Freeze_graph not supporting tf.control_dependencies"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary (pypi: tensorflow-gpu==1.14.0)
- TensorFlow version (use

[2019-07-15 03:20] guptapriya commented on #25342
Thanks @saberkun !

[2019-07-15 03:20] #25342 closed

[2019-07-15 03:45] saberkun commented on #28028
I think this is a hidden thing in tf.keras now.
With keras model.fit() api, all these are hidden. @robieta documentation is necessary.
However, if you want to directly use keras layers and models, there is a training field inside keras model. For evaluation, you shall set it as false. https://github.com/tensorflow/models/blob/master/official/bert/model_training_utils.py#L249

Correct me if I am wr

[2019-07-15 04:05] Deepak-HpyAda commented on #30645
I Solved it thank you KauthamMurugan

[2019-07-15 04:06] Deepak-HpyAda commented on #30645
**toco: error: --input_arrays and --output_arrays are required with --graph_def_file**

this is my code

toco --graph_def_file=/Users/deepak/Documents/Tensorflow/workspace/training_demo/trained-inference-graphs/output_inference_graph_v1/frozen_inference_graph.pb--input_array=Identity_6 —output_array=TensorArrayWriteV3 --output_file=/Users/deepak/Desktop/TFlite/frozen_inference_graph.tflite --outpu

[2019-07-15 04:59] dhgokul commented on #22994
Any updates on this issue ?
I too have same version of tensorflow, still getting error ??

[2019-07-15 05:23] ravikyram commented on #30440
@YuMan-Tam  did you get a chance to look as suggested by @byronyi .Thanks!

[2019-07-15 05:37] jbedorf commented on #30440
Looks like the problem is that this line fails:
https://github.com/tensorflow/tensorflow/blob/master/configure.py#L1201
The replace command looks for the string without spaces around the ` = ` symbol, while the `mpi.bzl` file has the line with spaces. I'll push a fix later this week.

[2019-07-15 05:56] rmothukuru commented on #30576
Reproduced the error with TF Version 2.0.beta1

[2019-07-15 06:22] rmothukuru commented on #30419
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-15 06:22] #30419 closed

[2019-07-15 06:26] rmothukuru commented on #30408
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-15 06:26] #30408 closed

[2019-07-15 06:28] rmothukuru commented on #30330
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-15 06:28] #30330 closed

[2019-07-15 06:36] rmothukuru commented on #30297
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-15 06:36] #30297 closed

[2019-07-15 06:38] ravikyram commented on #30531
@blackhu did you get a chance to check the solution provided by rzilleruelo. Also, it looks drive is not mounted correctly in colab so you are getting problem with directories.Please, check. Thanks!

[2019-07-15 06:39] EmanueleGhelfi commented on #29478
Hi @yashk2810 I think the code has still problems right now. In the next days I'll try to submit a PR.

[2019-07-15 06:44] cena001plus commented on #30038
it may be output node is wrong, you can add one output nde  in net ,  @devidipak

[2019-07-15 07:36] AnupAka opened #30699 "Performance slowdown in Non-AVX targets with default build options"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No custom code written.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 16.04.10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Not mobile. Slowdown seen on both windows PC and NI Linux Real Time OS
- TensorFlow

[2019-07-15 07:40] halbaqshi opened #30700 "training become too slow with custom convolution"
I`m working on:
Windows 10,
64 bit,
Anaconda3 version 5.3.0
python 3.6.8,
tensorflow version 1.10.0

I built custom convolution with tf.nn.conv2d and it is take long tine building the model, and after building the model and it is take long time around 2 or 3 days for training, and before the training the prepare, the terminal is exit

complete code at code2.txt file in the attachment

for others f

[2019-07-15 07:46] cj741 opened #30701 "build tensorflow failed with bazel on windows"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Win7 X64
- Mobile device (e.g.

[2019-07-15 07:46] pandrey-fr commented on #30638
As of now, TensorFlow does not support CUDA 10.1, thus you need to install CUDA 10.0, as indicated in the software requirements section of [https://www.tensorflow.org/install/gpu](https://www.tensorflow.org/install/gpu).

[2019-07-15 07:51] halbaqshi commented on #30700
or download and use the speech commend data-set from the following link::

https://ai.googleblog.com/2017/08/launching-speech-commands-dataset.html

[2019-07-15 08:02] blackhu commented on #30531
Thank You rzilleruelo,This way i have try.But tips ```NotImplementedError: `fit_generator` is not supported for models compiled with tf.distribute.Strategy.```

[2019-07-15 08:09] blackhu commented on #30531
Hi Rzilleruelo，My Google Drive Mount is Not problems. Output cue some "File exists",just i mounted driver on run this code before. I used rzilleruelos' way,but have a new problem.Detail Infomation:
[code]

Output:
[code]

[2019-07-15 08:17] ravikyram commented on #30602
@tportenier still i am not able see any error. Please, find the below screenshot.Please, let me know where i am missing. Thanks!
![testnew](https://user-images.githubusercontent.com/51902062/61203099-10cd2400-a707-11e9-81fc-d45fb73d43be.png)

[2019-07-15 08:20] pandrey-fr commented on #30596
This is odd. I replicated your issue on my system, and while I see a huge difference between `model.fit` and the manual training loop, wrapping the latter using `tf.function` does decrease its runtime...

The code I used, based on yours (and reducing the number of epochs to 10 for pure convenience):

[code]

Now, that being said, there is still a significant difference between GradientTape-based a

[2019-07-15 08:34] rmothukuru commented on #30621
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-15 08:34] #30621 closed

[2019-07-15 08:36] tportenier commented on #30602
I do not see any discrepancy between your screenshot and the code that causes the error on my side, unfortunately. Nevertheless, it causes the error here on my side.

[2019-07-15 08:40] rmothukuru commented on #30606
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-15 08:43] lminer commented on #30531
@ravikyram I also tried the other solution and ran into an error. Am not in front of a computer right now so can't give full code. Basically I get an assertion error saying that I'm not using a DatasetV2.

[2019-07-15 08:51] Leslie-Fang commented on #30691
Find a workaround to this problem:
[code]
Looking for root-cause

[2019-07-15 08:51] halbaqshi commented on #30700
Screenshot of final output:

![image](https://user-images.githubusercontent.com/52009924/61204770-ccd22300-a6f6-11e9-901f-41226d1c23a8.png)

[2019-07-15 08:57] tportenier commented on #30602
After more investigation, the error seems to be caused by an out-of-memory problem, related to the issue discussed here #9489

While the following triggers the error:

import tensorflow as tf

#gpu_options = tf.GPUOptions(per_process_gpu_memory_fraction=0.8)

with tf.device('/gpu:0'):
    with tf.Session() as sess:#config=tf.ConfigProto(gpu_options=gpu_options)) as sess:
        k = tf.ones((71, 7

[2019-07-15 09:01] DocDriven commented on #30606
@rmothukuru
I have read the docs, but they do not answer my questions. Is there any detailed documentation what these arguments are doing exactly?

[2019-07-15 09:04] passerbyd commented on #27915
awaiting tensorflower

[2019-07-15 09:09] RundownCactus commented on #19623
BIG ISSUE
![Capture](https://user-images.githubusercontent.com/45896078/61205654-21cb6480-a70a-11e9-9652-08a3bcd4825c.PNG)

[2019-07-15 09:11] VinothInspirit opened #30702 "Variation in Tensorflow execution latency"
**System information:**

Neural Network: 	LeNet 300-100
Target Platform: 	XEON PLATINUM 8000 SERIES - AMAZON AWS EC2 C5 INSTANCE
Supports:  A		VX-512, 72 Cores, 2-4 Threads; Up to 2 Instance Cores and 2 vCPUs
Baseline Framework: 	TensorFlow (AWS Image Version)
AMI ID: 		Deep Learning AMI (Ubuntu) Version 23.1 (ami-07262a45de118922e)
Python version:		p27

**Describe the problem:**

			To collect ba

[2019-07-15 09:23] dulm commented on #29144
it's to difficult to use tf now with out ide promp.  tf-nightly-2.0-preview           2.0.0.dev20190714

[2019-07-15 09:27] CasiaFan commented on #30649
This error seems to be due to a redundant initialization of Saver when using MirroredStrategy for multi-gpu training since TF estimator would initialize `Saver` based on its `RunConfig`. In this case, commenting saver inside the EstimatorSpec could solve this problem. BUT if anyone has some ideas about the detailed mechanism of this conflict.

[2019-07-15 09:47] cottrell commented on #27298
I'm seeing this too ... does anyone know in what direction this is moving?

[2019-07-15 09:55] kaushikacharya commented on #14226
Refer to Geoffrey Irving's answer in https://github.com/tensorflow/tensorflow/issues/9356#issuecomment-309144064

[2019-07-15 10:08] ravikyram commented on #30680
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-07-15 10:18] dulm commented on #30453
New error for 'tf-nightly-2.0-preview           2.0.0.dev20190714 ' with @tf.function
[code]

[2019-07-15 10:20] dulm commented on #29043
New error for 'tf-nightly-2.0-preview 2.0.0.dev20190714 ' with @tf.function

[code]

[2019-07-15 10:33] ravikyram commented on #30674
@stakemura Please check the below link if it helps you ?Thanks!

https://stackoverflow.com/questions/5530933/dirent-h-in-visual-studio-2010-or-2008

[2019-07-15 10:37] richardwth commented on #24823
Given the operations in current ODENet do not depend on the specific value of t, you could simply integrate `-ode_func` (negative derivative) with increasing time to solve ODE back in time.

[2019-07-15 10:39] berniekirby opened #30703 "Compiling 1.14 with MPI support"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Centos 6.9
-
- TensorFlow installed from (source or binary): source
- TensorFlow ver

[2019-07-15 11:01] rhcpfan commented on #30304
After more digging, every call to `tensorflow::EnvTime::NowMicros()` causes the app to crash on iOS 9.

The first call that produced a crash was in the logger, so I removed the time-related information from `LogMessage::GenerateLogMessage()` in `tensorflow/core/platform/default/logging.cc` and re-compiled. Now it crashes in `tensorflow::DirectSession::RunInterval(...)`.

Any idea on how to provide

[2019-07-15 11:06] rmothukuru commented on #30646
Shuffling is required to Train the Model with as many different Samples (Versatile data) as possible. Since your data is huge, you can use [tf.data.experimental.shuffle_and_repeat](https://www.tensorflow.org/api_docs/python/tf/data/experimental/shuffle_and_repeat), which combines the best of good performance and varied Samples. Refer this [TF Link](https://www.tensorflow.org/guide/performance/data

[2019-07-15 11:43] Davari393 opened #30705 "./bazel-bin/tensorflow/tools/pip_package/build_pip_package: No such file or directory"
Hi guys.
i built Bazel from scratch from here:
https://docs.bazel.build/versions/master/install-compile-source.html

Now i want to run
./bazel-bin/tensorflow/tools/pip_package/build_pip_package /tmp/tensorflow_pkg

and then lite my model.but when i run it this error appears:
./bazel-bin/tensorflow/tools/pip_package/build_pip_package: No such file or directory

but i have bazel-bin

Can any one hel

[2019-07-15 11:44] oracle3001 commented on #30253
This is also a problem in TF 2.x.x

[2019-07-15 11:57] ravikyram commented on #30647
Please, go through the issue #24885 and see if that helps you. Thanks!

[2019-07-15 11:59] stewart-r commented on #30212
Just to confirm I am also seeing this on `2.0` and current master (commit `sha:1ba28ea0022ce67bd5286cc8c30d7cb5fc7f7bad` ).

I see it on one windows machine but not another with exactly the same code, bazel version, etc. :-/

Trying to pin down what the difference between these two is but, so far, without success.

[2019-07-15 12:04] Oktai15 opened #30706 "HistogramFixedWidth in TFLite"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 2.0beta

**Provide the text output from tflite_convert**

[code]

Code to reproduce:

[code]

[2019-07-15 12:05] ignvinay commented on #20886
I am also getting same error, even though i used create_training_graph and initailaized using tf.global_variables_initializer() . The tflite gives errors as below .
toco --graph_def_file=frozen_graph_quantize.pb --output_file=tflite_model.tflite --input_format=TENSORFLOW_GRAPHDEF --output_format=TFLITE  --inference_type=QUANTIZED_UINT8 --input_shape="1,784" --input_array=input_x --output_array=Arg

[2019-07-15 12:15] anush-o commented on #30693
@jeet4690 ,
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue tem

[2019-07-15 12:20] anush-o commented on #30690
@dr-rathod ,
Is it possible for you to upgrade the TF version to 1.14 and check if the issue still persists. Thanks

[2019-07-15 12:27] anush-o commented on #30687
@khazali ,
I could not open the link https://github.com/tensorflow/tensorflow/blob/release_1.14.0/tensorflow/stream_executor/kernel.
Can you please provide the working link. Thanks

[2019-07-15 12:29] Leslie-Fang commented on #30691
Make a PR(https://github.com/tensorflow/tensorflow/pull/30707) to fix this issue.
It's due to fill into the wrong pb field when doing cast operation.
Hi  @piiswrong
Please have a try to see if it fix your problem.

[2019-07-15 12:36] kbhute-ibm commented on #26135
Hi @martinwicke,
Could you please put your response on above solution?

[2019-07-15 12:42] gadagashwini commented on #29321
Closing this issue since the associated PR has been merged. Feel free to reopen if the problem still persists. Thanks!

[2019-07-15 12:42] #29321 closed

[2019-07-15 12:43] gadagashwini commented on #29332
Closing this issue since the associated PR has been merged. Feel free to reopen if the problem still persists. Thanks!

[2019-07-15 12:43] #29332 closed

[2019-07-15 12:51] mabdullahrafique commented on #17292
Still not.

[2019-07-15 12:53] anush-o commented on #30666
@Uiuran ,
We tried executing the code given by you and we are encountering the error mentioned below

`KeyError: "The name 'signal_in:0' refers to a Tensor which does not exist. The operation, 'signal_in', does not exist in the graph."`

[2019-07-15 12:55] mdanatg commented on #30478
Thanks, that's useful to know - added note to the issue thread.

[2019-07-15 12:56] mdanatg commented on #30686
@morgangiraud pointed out that the issue manifests for `tf.reduce_sum` as well, and possibly other `reduce_` ops.

[2019-07-15 12:59] anush-o commented on #30678
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-07-15 13:00] gadagashwini commented on #30670
@iantimmis Just to verify, Did you install CUDA toolkit in the same environment? Thanks!

[2019-07-15 13:08] anush-o commented on #30642
Could reproduce the issue with TF version 1.14.Thanks

[2019-07-15 13:09] njzjz commented on #30389
So, TensorFlow 1.14 does not support CUDA 9?

[2019-07-15 13:14] gadagashwini commented on #30640
@hiteshnitetc Just to verify, Did you follow the steps mentioned in the official [Tensorflow](https://www.tensorflow.org/install/source) Website.Thanks!

[2019-07-15 13:16] anush-o commented on #30639
@jkamalu ,
Thank you for bringing this up.
In the code mentioned by you in the link https://github.com/jkamalu/tensorflow_bugs/blob/master/LSTMGraphPlacement.py , we could not find tf.while_loop. If the issue is with tf.while_loop, Can you please provide the code with tf.while_loop. Thanks

[2019-07-15 13:28] ravikyram commented on #30641
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the code snippet to reproduce the issue. If you are unclear what to include see the issue template displayed in the [Github ](https://github.com/tensorflow/tensorflow/issues/new/choose)new

[2019-07-15 13:34] ravikyram commented on #30635
Just to verify after upgrading to TF 1.14.0 are you able to import Tensorflow in Java successfully.Thanks!

[2019-07-15 13:34] iantimmis commented on #30670
I think so. I'm under the impression that conda handles that for you. When I run "conda list", I see that cudatoolkit version 10 is present.

[2019-07-15 13:38] Mandar-Patil-651 commented on #21544
Hey,
I got the same error when I uploaded the zip files on Google Colab and then unzipped them using the !unzip command. Then I deleted each file keeping the directory intact and manually uploaded the files in each sub-directory. However, the error is still the same.

[2019-07-15 13:39] ravikyram commented on #30629
Just to verify did you get chance to follow instructions from [TensorFlow](https://www.tensorflow.org/install/source) website .Please, let us know. Thanks!

[2019-07-15 13:44] reuben opened #30710 "No way to generate HTML docs from source"
## Description of issue (what needs changing):

According to https://github.com/tensorflow/tensorflow/issues/1574 there was no (open source) way to generate HTML docs from the TensorFlow source code in March of 2016. Is that still the case? I haven't been able to find any way to generate HTML docs from the source.

Generating offline HTML docs is useful for having access to offline docs [without h

[2019-07-15 13:50] khazali commented on #30687
@anush-o
I have to appologize, the link has been edited to:

https://github.com/tensorflow/tensorflow/blob/release_1.14.0/tensorflow/stream_executor/kernel.h

[2019-07-15 13:52] evrial commented on #25996
More likely aerospace company don't use their own product with 130k stars on GH, which has blinking warning lights all the time and no fucks given because opensource.

[2019-07-15 14:15] davidmweber commented on #13872
I am able to replicate this in 1.14.0 on OSX.

[2019-07-15 14:18] dekromp opened #30711 "Keras custom metrics raises error when update_state returns an op."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-07-15 14:28] bonlime commented on #30389
@njzjz I tried building versions 1.13, 1.14.0, 1.14.2, 2.0.0beta0, 2.0.0beta1 on multiple machines but always got the same error `Could not dlopen library 'libcusolver.so.9.0'; dlerror: /usr/local/cuda/lib64/libcusolver.so.9.0: undefined symbol: GOMP_critical_end; `
I'm not really experienced in building things from source so I was unable to solve this problem

[2019-07-15 14:41] jkamalu opened #30712 "Duplicate variables for models whose layers share weights"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.14 and 2
- Python version: 3.6
- CUDA/cuDNN version: 10/7
- GPU model and memory: NA

**Describe t

[2019-07-15 15:00] jkamalu commented on #30712
This effectively acts as a multiplier on the learning rate for all shared weights, which leads to instability during training. Fixing this would also mean probably very little breakage for people experiencing this problem, whether or not they are aware of it.

[2019-07-15 15:14] oliverdutton opened #30713 "Gradient tape with tf.math.reduce_euclidean_norm disconnects"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS Mojave
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary (Conda)
- TensorFlow version (use command below)

[2019-07-15 15:38] DocDriven opened #30714 "Running inference on Coral TPU stick results in Segmentation fault"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): Docker image tensorflow/tensorflow:gpu-latest
- TensorFlow version (use command below): 1.14.0
- Python version: 2.7.15+
- CUDA/cuDNN version: 10.1
- GPU m

[2019-07-15 15:45] jdduke commented on #30684
TensorFlow Mobile (supported by contrib/makefile) has been deprecated, and we won't be retroactively patching fixes for 1.13. Is there a reason you cannot use TensorFlow Lite?

[2019-07-15 15:45] #30684 closed

[2019-07-15 15:47] mabdullahrafique commented on #18127
TOCO can not find ExpandDims yet. Can you tell me which tensorflow version particularly ?

[2019-07-15 15:52] alextp commented on #30537
The placer should already force-colocate the sparseread and the resource
handle, both in eager and graph modes.

On Fri, Jul 12, 2019 at 12:59 PM Saurabh Saxena <notifications@github.com>
wrote:

--
 - Alex

[2019-07-15 15:58] stakemura commented on #30674
@ravikyram I think it should be able to build without any modification.
In fact, [tensorflow/stream_executor/cuda/cuda_diagnostics.cc](https://github.com/tensorflow/tensorflow/blob/4fcf0090a739951d52d30cd91deee4cf60ce3a8b/tensorflow/stream_executor/cuda/cuda_diagnostics.cc#L18) commented out dirent.h inclusion and the platform- dependent code as following code. I guess [GetSortedFileNames](https:/

[2019-07-15 16:04] jkamalu commented on #30639
@anush-o Thanks for the reply. I'm going off of the docs, which say that a for loop which iterated over a tensor is converted to a tf.while_loop with @tf.function.

See: https://www.tensorflow.org/beta/guide/effective_tf2

The tf.while_loop is loop I have that iterates over the tf.constant(...) in the code I linked.

[2019-07-15 16:09] guillaumekln opened #30715 "Low GPU usage of RNN layers under MirroredStrategy"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Ubuntu 14.04
- TensorFlow installed from: binary
- TensorFlow version: `2.0.0b1`
- Python version: 3.6.8
- CUDA/cuDNN version: 10.0 /
- GPU model and memory: TITAN X

**Describe the current behavior**

RNN layers have poor performance and low GPU usage when used with `MirroredStrategy`. By monitoring `nvidia-s

[2019-07-15 16:10] allenlavoie commented on #22994
Unassigning myself since I have no plans to work on this. Freezing is not an operation we're planning to support going forward.

[2019-07-15 16:12] dubey commented on #30284
Thanks for filing the issue, @wudixiaotie.  Can you share the stack trace?

[2019-07-15 16:25] jdduke commented on #30349
Right, but what are the types of `floatInputBuffer`, `sampleRateList` and `outputScores`?

[2019-07-15 16:32] jsimsa commented on #27915
TF 1.X style iterators are deprecated in TF 2.0 and the tf.data team will not prioritize this request. I will mark this issue as contributions welcome.

[2019-07-15 16:34] braindotai commented on #30596
I wasn't using `tf.print`, after using it I got an almost 1.9x speed up from `@tf.function` vs without `@tf.function`. But still far behind than `tf.keras's .fit`, which surprisingly also works as eager execution according to Tensorflow Team.
Anyway hoping to see some performance improvement for `tf.GradientTape` soon

[2019-07-15 16:39] jvishnuvardhan commented on #29916
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-07-15 16:39] #29916 closed

[2019-07-15 16:44] reuben commented on #30710
Apparently this is expected behavior as the generation is done by closed source infrastructure, but the generated HTML is published in the docs repo in the release branches, so for example, for 1.14, it's here: https://github.com/tensorflow/docs/tree/r1.14/site/en/api_docs

Closing as this solves my problem.

[2019-07-15 16:44] #30710 closed

[2019-07-15 16:44] ramrahu commented on #30349
floatInputBuffer is float, sampleRateList is int and outputScores is float

[2019-07-15 16:54] bonlime commented on #30389
just compiled TF `1.12.0` - everything works fine

[2019-07-15 16:59] jdduke commented on #30349
I believe the sampleRateList should also be a float array. You can inspect the graph inputs/ouputs using our [visualization tool](https://www.tensorflow.org/lite/guide/faq#how_do_i_inspect_a_tflite_file) or with something like [Netron](https://electronjs.org/apps/netron).

[2019-07-15 17:06] marianopeck opened #30716 "Provide Raspberry Pi #aarch64 cross-compile instructions"
**System information**
- TensorFlow version (you are using): 1.13.1
- Are you willing to contribute it (Yes/No): yes, at least as a tester

**Describe the feature and the current behavior/state.**

There is no pre-build binary for Raspberry Pi / ARM and the instructions to build from scratch [here](https://www.tensorflow.org/install/source_rpi#build_from_source). However, there is nothing for any

[2019-07-15 17:08] jdduke commented on #25880
Can you be more specific about the result/inference differences you're observing using the Java APIs? One thing to note is that using multi-dimensional Java arrays can yield surprisingly poor performance results, which is why we recommend using flat ByteBuffer input/output types.

[2019-07-15 17:13] jdduke commented on #30393
Just curious, if you're using JNI to convert to a ByteBuffer in native code, why not simply use the native C++ APIs that we provide? Or is it for convenience in using the BinTray/JCenter .aars that we distribute?

Just confirming that your ByteBuffer is a direct ByteBuffer (allocateDirect())? Are you using the 1.14 .aar that we just published? Or a nightly build?

[2019-07-15 17:26] ramrahu commented on #30349
ok thanks will have a look at it. how about the run() function I mentioned in my first question? It doesn't give any error. It gives a result but the result contains only a single character repeated multiple times.

[2019-07-15 17:34] alextp commented on #30620
tf.math.reciprocal_no_nan is probably the best name for this

[2019-07-15 17:34] soupytwist commented on #30432
Yes, it's a bug in pasta due to mixed tabs + spaces. Opened: https://github.com/google/pasta/issues/70

[2019-07-15 17:37] pavithrasv commented on #30453
Adding @rohan100jain who is the expert on feature columns.

[2019-07-15 17:37] jvishnuvardhan commented on #26316
@KimMeen @wumeng2 Can you create a new issue with a standalone code and also fill issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A?

[2019-07-15 17:57] nseidl opened #30717 "No Speedup or Size Savings After FP16 / INT8 with TensorRT"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): [nvidia-docker `tensor:19.02-py3` (Ubuntu 16.04)](https://docs.nvidia.com/deeplearning/sdk/tensorrt-container-release-notes/rel_19-02.html#rel_19-02)
- TensorFlow installed from (source or binary): Source
- TensorFlo

[2019-07-15 17:57] omalleyt12 commented on #29481
Hi @galeone, when using custom training loops with DistributionStrategy you have to use `experimental_run_v2`, please see: https://www.tensorflow.org/guide/distribute_strategy#using_tfdistributestrategy_with_custom_training_loops

[2019-07-15 17:58] mihaimaruseac commented on #25636
Going to fix this in 1.13 (with upcoming patch release), 1.14 (with upcoming patch release) and master (for new releases)

[2019-07-15 18:11] leops95 opened #30721 "TensorFlow import error"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 x64
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 1.14.0
- Python version: 3.7.4 x64
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version:
- GPU model and memory: Int

[2019-07-15 18:15] mihaimaruseac commented on #25636
Also notes that there is a workaround where you install numpy before tnesorflow or with the constraint at the same time as tensorflow: `pip install numpy && pip install tensorflow` or `pip install numpy >= 1.16 tensorflow == 1.13`

[2019-07-15 18:17] kmh4321 commented on #30620
Thank you, @alextp I'll raise a PR for this soon! Would it be possible to assign this issue to me?

[2019-07-15 18:22] galeone commented on #29481
HI @omalleyt12 , I'm my tests it still continues to fail, even when using `experimental_run_v2`.
If the system has more then one GPU (and thus the distribution strategy can really distribute the computation) the same exception is raised even if I change the code in this way:

[code]

[2019-07-15 18:47] game-sys commented on #30612
anyone can suggest something as problem is not resolved till now

[2019-07-15 18:47] pavithrasv commented on #25754
Closing this as the main questions have been addressed I think.Thank you!

[2019-07-15 18:47] #25754 closed

[2019-07-15 18:49] pavithrasv commented on #26031
@ageron I could not reproduce the issue with the above code snippet anymore.

Side note: we do not support `model.add_metric(metric_obj)` on Functional model as we cannot trace back from the metric result to model inputs for serialization. I assume you want to create metric object and use it with add_metric API?

[2019-07-15 18:49] #26031 closed

[2019-07-15 18:51] akotlarsky opened #30722 "TensorFlow Lite build fatal error: gtest/gtest.h: No such file or directory"
**System information**
- Raspberry Pi 3
- TensorFlow installed from (source or binary): source
- TensorFlow version:  1.14.0

**Describe the problem**

When natively compiling TensorFlow Lite 1.14.0 in Raspberry Pi 3, I am getting the following compile error:
fatal error: gtest/gtest.h: No such file or directory

**Any other info / logs**
Include any logs or source code that would be helpful to di

[2019-07-15 18:54] jdduke commented on #24910
We're actively working on support for FPN/RCNN models, and will have more to report in the near future. Apologies for any confusion, but for now only the SSD models are likely to convert cleanly. https://www.tensorflow.org/lite/models/object_detection/overview is the current sample for this.

[2019-07-15 18:57] mdanatg commented on #30576
@jaingaurav This looks like a verification inside tf.function; improving it to point to the specific culprit sounds sensible to me.

[2019-07-15 18:57] timshen91 commented on #29785
I have a theory. In `LOG(ERROR)`, ERROR is replaced by some windows-defined macro that's called ERROR. An easy fix would be moving these function implementations into the strean.cc file.

But I don't know how to build TF on windows to verify it. Passing onto @gunan

[2019-07-15 19:24] #28849 closed

[2019-07-15 19:25] jsimsa commented on #30457
Setting the `output_classes` argument of `from_string_handle` to `training_ds.output_classes` will fix your issue.

[2019-07-15 19:25] #30457 closed

[2019-07-15 19:29] chrismattmann opened #30725 "CIFAR-10 tutorial for multi-GPU fails because full shape isn't passed to prefetch_queue"
The [CIFAR-10 Multi-GPU Tutorial](https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10/cifar10_multi_gpu_train.py) has a bug in it when run from the command line. I am using Tensorflow `1.13.1` and Tensorflow-Datasets `1.0.2`. You simply need to put an explicit call to tf.reshape before passing it into the prefetch_queue to add the outer num_samples shape. I've got a quick PR t

[2019-07-15 19:32] chrismattmann commented on #30725
Sorry, closing since this belongs in [tensorflow/models].

[2019-07-15 19:32] #30725 closed

[2019-07-15 19:34] tfoxkustudent opened #30726 "cudaGetDevice() failed after upgrading to v 1.14, downgraded back to 1.12 still having issue"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-07-15 19:43] mabdullahrafique opened #30727 "TOCO unable to convert unsupported operation using --allow_custom_ops"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Ubuntu 18.04**

[2019-07-15 19:52] gunan commented on #29785
From what I can see, our continuous builds for windows are green with msvc 2015.
Are you building TF together with something else?

[2019-07-15 20:28] pjspillai opened #30728 "AttributeError: '_TfDeviceCaptureOp' object has no attribute '_set_device_from_string'"
Tensorflow Version: 1.14.0
python3.6
Num of GPU's : 3

--- Sample keras code to reproduce this error ---
[code]

Error Message:
[code]

[2019-07-15 20:44] #25636 closed

[2019-07-15 20:49] pjspillai commented on #30728
Solved, It's a bug in tensorflow 1.14.0
When I downgraded to 1.13.1, it's back to normal :-/

[2019-07-15 20:51] #30420 closed

[2019-07-15 21:05] #21543 closed

[2019-07-15 21:05] plopresti commented on #30383
@Leslie-Fang Could you elaborate about your work-around?

(And do you think this is a bug in MKL-DNN, TensorFlow, or our script/network?)

Thanks!

[2019-07-15 21:13] Arstanley commented on #30728
Same Problem Here

[2019-07-15 21:18] ymodak commented on #30645
```toco``` is deprecated can you please ```tflite_convert``` instead. See https://www.tensorflow.org/lite/convert/cmdline_examples#command-line_tools_

[2019-07-15 21:31] jw447 opened #30729 "Best practice of using tensor-core on TensorFlow r1.12"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-07-15 21:52] jsimsa commented on #29989
@allenlavoie is correct, you need to run the `dataset_iterator.initializer` before you can save the iterator.

I am going to create a change that will produce an informative error message for this case (as opposed to segfaulting).

[2019-07-15 21:58] akotlarsky commented on #30722
After applying fixes described in:

https://github.com/tensorflow/tensorflow/pull/29017/commits/05514a000a017dbe7db7643d084b16def9719c99

and

https://github.com/tensorflow/tensorflow/issues/29806

I successfully built TensorFlow Lite 1.14.0 and 2.0.0-beta1.  Does it make sense?

[2019-07-15 22:35] kmh4321 commented on #30620
@alextp  I am planning to implement a full-fledged operation (in C++, will be part of `gen_math_ops`) and add a wrapper on Python api similar to the other core math ops. This would have better performance and could perhaps be easily extended to other (non-python) APIs like tfjs in the future.

The other option is to try and implement it with existing TF ops in just the python api, and so only affe

[2019-07-15 22:50] eduardofv commented on #30721
You may find useful the following videos:
[How to use TensorFlow in PyCharm](https://www.youtube.com/watch?v=K9ypGzuP6xQ) and [De-bug your TensorFlow projects with the PyCharm IDE](https://www.youtube.com/watch?v=hYOOGstEzzM)

[2019-07-15 22:51] sthomdev opened #30730 "Unable to find documentation for framework/ common run time files"
Hello TF team,

I've been combing the documentation for any reference to OpKernels, Graphs defs, the executor, rendezvous, ect... the important abstractions that seem to be near the core of tensorflow. So far I haven't been able to find any kind of high level overview of how they all come together. I'm working on a feature that involves adding a new device and I don't want to miss any important ab

[2019-07-15 22:56] eduardofv commented on #30716
Haven't tried this myself, but you can [find here](https://www.tensorflow.org/install/pip) how to install using pip directly on the Raspberry Pi

[2019-07-15 23:05] eduardofv commented on #30695
Hi @jim-meyer, how would it be different to set `save_best_only = True` in the current API?
[code]

[2019-07-15 23:09] bionicles commented on #27170
@jackd @edloper @markomernick thanks, will check this out, sounds like progress

[2019-07-15 23:16] yuanzhedong commented on #24828
I had this problem with `tf 1.14, cuda 10.1, cudnn 7.6.0`. The error is gone if I downgrade tf to `1.12 `

[2019-07-15 23:44] thekingrenz23 opened #30732 "How do you export this model into a tensorflow model"
Im following this code to train a CNN image classifier to classify Philippines currency. How would you export this model? to get the file to be interpreted by tensorflow

[2019-07-15 23:55] marianopeck commented on #30716
That would only work for installing the Python wheel. I need the C library to bind via FFI to other languages (like Go, Rust, etc)

[2019-07-15 23:55] jim-meyer commented on #30695
Hi @eduardofv, The behavior I'm seeing is that `save_best_only=True`  doesn't do any deleting of previous "best" models when a new best one is found.
Example: I train a new model for 2 iterations. The first model will obviously be the best we've seen so `save_best_only` causes Model1.h5 to be saved. Next, model 2 is better than 1 so Model2.h5 gets saved. But model1.h5 does not get deleted due to `

[2019-07-16 00:04] bionicles commented on #30659
https://github.com/ftonolini45/Variational_Sparse_Coding/blob/master/models/vae_utils.py

[code]

[2019-07-16 00:05] bionicles commented on #30659
[code]

[2019-07-16 00:06] bionicles commented on #30659
docs for desired method have link to source:
https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.distance.cdist.html

[2019-07-16 00:07] bionicles commented on #9745
ref: https://github.com/tensorflow/tensorflow/issues/30659

[2019-07-16 00:17] StevenGann commented on #17022
It has been a year. Is TensorFlow ever going to update to the supported version of Python or are we forever stuck in 2018?

[2019-07-16 00:25] guptapriya commented on #29975
Do you mean you want the same global batch size each step, but split the batch unevenly across the replicas - because one of the GPUs is for e.g. more powerful than the other? If yes, then this is possible to do on your own, but not supported easily by the high level APIs.
By default, when using high level APIs like Keras, we will try to split your batch equally among the replicas. If you have you

[2019-07-16 00:31] av8ramit commented on #17022
Hey @StevenGann can you please clarify? Which version would you like supported on which OS? I believe TF supports Python3.7 on both CPU and GPU on all our supported OS-es which is why this issue was opened.

[2019-07-16 00:35] Young768 commented on #29975
@guptapriya Yep!!! Thats what I want! Do u have any examples like this?

[2019-07-16 00:38] guptapriya commented on #30605
What you're describing sounds like one way to do model parallelism and distribution strategy doesn't support that yet. So for now, you would have to manually copy the variables from one thread/process to another to achieve the above.

Here is the response from @tomhennigan who works with folks who do RL with TF:

For single machine multi-threaded training you can simply use eager mode to read para

[2019-07-16 00:47] guptapriya commented on #29975
A short example w TF2. Can this be adapted for your use case? Basically you can change mk_input to return whatever input you want to return for a given replica. Note that when using this mechanism, you will not be able to benefit from some of the tf.data performance optimizations..

[code]

[2019-07-16 00:58] aleist commented on #30393
Yes I could have used the native APIs. It was simply familiarity with the JNI APIs, as I had used them before. Given that the input data is in a direct ByteBuffer (yes, allocated with `allocateDirect()`), the overhead seemed negligible.

I used the JCenter `implementation 'org.tensorflow:tensorflow-lite:1.13.1'` dependency previously, but for this model I needed TFLite 1.14.0 and the dependency wa

[2019-07-16 01:16] nolanliou commented on #30457
@jsimsa It works, really appreciate your help.

[2019-07-16 01:33] wudixiaotie commented on #30284
This is all the log I have, @dubey

Clean model dir
Control process 17907.
Training worker starting
Training worker starting
2019-07-16 09:30:58.419077: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 AVX512F FMA
2019-07-16 09:30:58.422058: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU sup

[2019-07-16 01:57] harewei commented on #24520
I have also encountered this issue when passing tf.data to tf.keras fit method.
Unlike @sallamander though, I used `tf.data.Dataset.from_tensor_slices` instead of `tf.Dataset.from_generator`.

The shape can then be defined inside the mapping function.
[code]

[2019-07-16 02:03] yuanzhedong commented on #24828
@KennethKJ here's how I set estimator:
[code]

[2019-07-16 02:11] gmt710 commented on #28307
Hello, @davidyec have you solved this?

[2019-07-16 02:27] SSaishruthi commented on #30672
@jsimsa
I would like to work on this if nobody is working on this.
Is there any pointers you have that will be a good initial point for me before starting?

[2019-07-16 02:32] Jasonnor commented on #21979
Any progress on it? 🚀

[2019-07-16 02:42] huaifeng1993 commented on #27100
I have  the same problem。 have you solved it?

[2019-07-16 02:47] larryrxu commented on #30635
Yes, import is success, but it seems libtensorflow.so not found in tmp directory.
I gout this ```Library not loaded: @rpath/libtensorflow_framework.1.dylib``` when I try to run ```TensorFlow.version()```.
Thanks!

[2019-07-16 03:03] huaifeng1993 commented on #27100
Here is my informations.
### System information

   *  OS Platform and Distribution: Linux Ubuntu 16.04

    * TensorFlow installed from source:git clone from github

    * TensorFlow version : tensorflow 1.13.0rc0

    * Python version: Python 3.5.6

   *  CUDA/cuDNN version: CUDA 10.0.130

   * GPU model and memory: NVIDIA GTX  TITAN XP
### TensorRt5.0.2

[2019-07-16 03:04] jeet4690 commented on #30693
ubuntu 18.4

working on google COLAB

tensorflow version 1.14

[2019-07-16 03:12] jdxyw commented on #30389
rollback to 1.12.0 (CUDA 9.0), everything is ok now.

[2019-07-16 03:18] Adnan-annan commented on #30680
`Status ReadTensorFromImageFile(const string& file_name, const int input_height,
	const int input_width, const float input_mean,
	const float input_std,
	std::vector<Tensor>* out_tensors) {
	auto root = tensorflow::Scope::NewRootScope();
	using namespace ::tensorflow::ops;  // NOLINT(build/namespaces)

	string input_name = "file_reader";
	string output_name = "normalized";

	// read file_name into

[2019-07-16 03:50] chengmengli06 opened #30734 "timeline export has bug for multiple gpu case"
Timeline export has bug when using multiple tower on multiple gpu: the exported ops are almost all placed on gpu:0, while the other device(gpu:1, gpu:2) has almost no ops. I dumped the device placement, and find out that the placement is not the same as those in timeline.json.

[2019-07-16 04:14] jsimsa commented on #30672
@SSaishruthi my suggestion would be to study the implementation of tf.gradients and extend it to tf.data. I would be happy to answer any tf.data related questions, but I am not an expert on tf.gradients.

[2019-07-16 04:17] cruigo93 commented on #30641
@ravikyram I trained unet model on pytorch (1.0), converted it to onnx using api provided by pytorch which was following by converting to pb using tensorflow (1.13). And finally, after trying to run it on android (tensorflow also 1.13) it gave this error. I didnt compile anything, just used provided api. Other details: Ubuntu 18 x64.

        val graph = tensorFlowInference.graph()
        graph.o

[2019-07-16 04:45] SSaishruthi commented on #30672
Thanks @jsimsa

I will start working on this

[2019-07-16 04:55] Young768 commented on #29975
Hi @guptapriya Thanks for your example. One more question: this example has two devices: cpu and gpu. From my understanding mk_input returns the desired batch size. But how can I decide which size is assigned to cpu, or gpu here? How to bind the batch size to the corresponding replica?

[2019-07-16 05:41] Deepak-HpyAda commented on #30645
Hi, Thanks for the feedback

I'm trying with tflite_convert.py
with this code, kindly verify my code. Even this gives me error

**cd /Applications/anaconda3/envs/tensorflow_cpu/lib/python3.7/site-packages/tensorflow/lite/python

python ./tflite_convert.py --graph_def_file=/Users/deepak/Documents/Tensorflow/workspace/training_demo/trained-inference-graphs/output_inference_graph_v1/frozen_inference_

[2019-07-16 05:45] ravikyram commented on #30443
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-16 05:45] #30443 closed

[2019-07-16 05:57] MattConley opened #30736 "GPU device creation fails when using the CUDA Malloc Allocator"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1

[2019-07-16 06:02] ravikyram commented on #30432
@GuesmiAbd
Can we close this issue and track the issue in pasta repository: google/pasta#70.Thanks!

[2019-07-16 06:07] MattConley commented on #30736
Submitted PR #30737 as a proposed solution to implement the GetStats function, thereby not failing the `if(!stats)` check in gpu_device.cc

[2019-07-16 06:11] jusonn opened #30738 "saved_model.save bug in 2.0.0b0"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-07-16 06:12] banbishan commented on #12747
@robinqhuang hi, could you kindly give me a link that you mentioned above. It seems no link on the page.

[2019-07-16 06:25] hiteshnitetc commented on #30640
@gadagashwini hello. No i donot follow steps given in official website. I follow steps from [here](https://medium.com/@mccann.matt/compiling-tensorflow-with-cuda-3-0-support-42d8fe0bf3b5)

[2019-07-16 06:40] anirudhshiv commented on #11942
TMKB You could answer the question

[2019-07-16 06:54] JaneShenYY opened #30740 "If padding='same', which side is padded with 0?"
If set `padding='same'` for `Conv1D`, which side (the start or the end) is padded with 0 if the `kernel_size=2` and `stride=1`?
I checked the code, but didn't find any clue. Hope this simple question can be clarified here. Thanks.

[2019-07-16 06:55] gadagashwini commented on #30612
@game-sys Can you confirm your CPU supports AVX2 instructions? Thanks!

[2019-07-16 06:55] alokprasad commented on #30684
Most of the OPS are not supported on Tensorflow Lite , sometimes development is much faster if there is full support of Tensorflow on Android as we can use existing model as it is. With Unified Header changed in NDK15 and above , Compilation fails . It would be nice if someone make changes in Makefile to support NDK 15 and later and any pointer how to do so.

WIll try to make changes in Makefile a

[2019-07-16 07:10] hashishoya commented on #30647
I went through different related open issues including the one you referenced, but it didn’t work out. I added the missing unreferenced symbols to a def file then exported them to the .lib and .dll files but also didn’t work out.

If I use CMake to try to link missing dependencies, I must fix a lot of errors and wrong paths because it is not supported...

Can you list the necessary libraries and h

[2019-07-16 07:25] whhu commented on #29989
Many thanks to the fruitful discussions. Adding dataset initializer to the collection TABLE_INITIALIZERS fixes the segfaulting. Nevertheless, the iterator starts from the very beginning of the dataset every time after recovering from the checkpoint.
Is there any solution to the problem at present? Maybe something like init_fn in tf.train.Scaffold ...

[2019-07-16 07:28] game-sys commented on #30612
No my CPU is xeon w3565 and I think it does not support AVX2

[2019-07-16 07:37] matchumen opened #30741 "Mask R-CNN not learning on pet dataset even without any changes to the code"
I am attempting to retrain pretrained model on COCO to detect images from Pet Dataset. I followed tutorials and managed to start the training. But according to results, the model is not trained properly.

Steps to recreate:

 1. `git clone https://github.com/cocodataset/cocoapi.git`
 2. `conda create --name tf_test python=3.6`
 3. `conda activate tf_test`
 4. `pip install tensorflow`
 5. `pip inst

[2019-07-16 07:40] 60pahn opened #30742 "AttributeError: module 'tensorflow' has no attribute 'get_default_graph'"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2019-07-16 07:41] #30742 closed

[2019-07-16 07:55] shkarupa-alex commented on #30711
Same error in my custom metric on yesterday nightly build of tf-2.0

[2019-07-16 07:59] flamxi commented on #30226
@jdduke do we have any news in this !!!

[2019-07-16 08:05] MuseMamba commented on #30638
Yea, I have installed the ubuntu18 on the server and use the cuda10.0 for tensorflow-gpu==2.0b1, it works so far so good.

[2019-07-16 08:11] ravikyram commented on #30602
@tportenier

I am seeing only warning message but no error.Please, see below screenshot

![test2](https://user-images.githubusercontent.com/51902062/61277196-505f4300-a7cf-11e9-95f1-bade92c4bedd.png)

[2019-07-16 08:16] ravikyram commented on #30638
@MuseMamba
Can we close this issue as it was resolved.Thanks!

[2019-07-16 08:27] freedomtan commented on #30716
Not sure about 1.13.1, For 1.14 or master branch, Something like
[code]
should just work. I think I upstreamed necessary patches for
[code]

Raspbian 32-bit is a bit complicated, because for RPI 3, an AAarch64 platform, it runs aarch32 (armv7-a) kernel,  armv6 user-level binaries, and compilers/toolchains configured to armv6.

[2019-07-16 08:34] tportenier commented on #30602
One thing I see is that you seem to use python3 whereas I use python2.7. I attach the full output when running the scrpit 'error3.txt'.
[log.txt](https://github.com/tensorflow/tensorflow/files/3396068/log.txt)
[error3.txt](https://github.com/tensorflow/tensorflow/files/3396073/error3.txt)

[2019-07-16 08:34] SeanCho1996 opened #30743 "How to build Tensorflow lib files with bazel from source code on Windows?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win10 pro Visual studio 2015
-

[2019-07-16 08:39] ravikyram commented on #30680
@Adnan-annan
Can you please confirm whether ReadTensorFromImageFile you are using is a custom defined function or Tensorflow defined function.Thanks!

[2019-07-16 08:41] gadagashwini commented on #30670
@iantimmis Looks like similar issue, please take a look at [#26209](https://github.com/tensorflow/tensorflow/issues/26209). Let us know if that helps. Thanks!

[2019-07-16 08:47] ravikyram commented on #30665
I tried reproducing issue with the provided code ,but i am unable to reproduce .Will it be possible to provide minimal code snippet which can reproduce the reported issue.Thanks

[2019-07-16 08:52] bonlime commented on #30389
@jdxyw  but it doesn't solve the original issue. Compiling `TF>=1.13` from source for CUDA 9 doesn't work.

[2019-07-16 09:03] ravikyram commented on #30641
@cruigo93
Just to verify did you convert .pb model into TF lite to run it on android. Thanks!

[2019-07-16 09:11] chengleiwang opened #30744 "why GetLocalGPUInfo() using cuda runtime api, I guess it should use cudart_stub instead."
Base on below commit, cuda Runtime API should wrapped in dynamic load， but I still see  tensorflow/core/grappler/clusters/utils.cc using cuda Runtime API.

commit: 7c5aed39f0148f93cebef850d939558a938b41e7
Remove tensorflow core runtime's explicit dependency on cuda runtime.
- Add stub implementation which is wrapped in dynamic loader
- Replace the runtime dependency with stub in tf_cuda_library

A

[2019-07-16 09:12] lfydegithub commented on #22994
same issue

[2019-07-16 09:14] rishabhsahrawat opened #30745 "How to pad input sequences for implementing CuDNN LSTM in TF2.0?"
For implementing CuDNN LSTM, according to [docs](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/layers/LSTM) there are 6 requirements as follows-

recurrent_activation == 'sigmoid'
recurrent_dropout == 0
unroll is False
use_bias is True
Inputs are not masked or strictly right padded.

According to my understanding, the last one say to have input sequences not right padded. Howev

[2019-07-16 09:23] davidmweber commented on #30635
I can confirm that 1.14.0 does not load its library. I have tested it on Linux (Ubuntu 19.04) and OSX (current) on Java 1.8. I have put the [code example](https://www.tensorflow.org/install/lang_java) into https://github.com/davidmweber/tf-java-error so that it can easily be replicated.

[2019-07-16 09:30] mihaimaruseac commented on #28439
Note that 1.13.2 has been released now

[2019-07-16 09:33] Leslie-Fang opened #30746 "Couldn't find and import the 'graph_transforms' module in tensorflow1.14"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-07-16 09:34] RobinKips commented on #8430
Any update on EXIF orientation support in the latest api ?  This actually prevent me to properly use the Dataset logic with smartphone pictures....

[2019-07-16 09:37] gadagashwini commented on #30640
@hiteshnitetc It would be better if you follow instructions mentioned in the official website. Thanks!

[2019-07-16 09:41] gadagashwini commented on #30612
@game-sys Please take a look at the [Tensorflow](https://www.tensorflow.org/install/source_windows#configuration_options) website. Thanks!

[2019-07-16 09:57] cruigo93 commented on #30641
Just used pb without converting into tflite

[2019-07-16 09:58] 312shan commented on #20778
start a new virtualenv without side package  and reinstall tensorflow,will solve this problem without wasting your time.

[2019-07-16 10:19] hiteshnitetc commented on #30640
Ok, But i have to install cuda and cudnn also, and there to install these,
instructions are not given

On Tue, Jul 16, 2019 at 3:17 PM gadagashwini <notifications@github.com>
wrote:

--
Hitesh Tekchandani
PhD Research Scholar
NIT Raipur
India

[2019-07-16 10:34] Ramzi09 opened #30747 "Penalty in the contractive auto-encoder"
How can I compute a contraction penalty with Tensorflow? The contraction penalty is the squared of Frobenius norm ‖ · ‖F of the Jacobian matrix of the encoder.

[2019-07-16 10:47] AmitMY opened #30748 "Requested GPU:0, but only XLA_GPU:0 exsits, tf-gpu1.14.0"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 1.14.0
- Python version: 3.6.8 / 3.7.3
- Installed using virtualenv? pip? conda?: `pip`
- CUDA/cuDNN version: 10/7.4
- GPU model and memory:
![image](https://user-images.githubusercontent.com/5757359/61288486-e3987880-a7cf-11e9-8f1d-efb1a713

[2019-07-16 10:51] anush-o commented on #30702
@VinothInspirit ,

Please provide us TF version and also the complete code being used so that we can replicate the issue from our end.Thanks!

[2019-07-16 11:03] ravikyram commented on #30713
I have tried on colab with TF version 2.0 beta1 and was able to reproduce the issue.Thanks!

[2019-07-16 11:04] anush-o commented on #30705
@Davari393,
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.Thanks!

[2019-07-16 11:04] ihd2911 opened #30749 "Pass Input to tensorflow lite model in Android"
I have created a neural network that take numerical data as input and saved it as tensorflow lite model using python. I am trying to pass input to the model in Android. Shape of ndarray is 1*3

Sample of the input in python is as follows

`np.array([[-0.276786765 ,8.41897583008  ,-0.0222015380859]])`

But i do not know to create the same input in java to pass it to model.

I tried using nd4j libra

[2019-07-16 11:11] ravikyram commented on #30701
Just to verify did you get chance to follow instructions from [TensorFlow](https://www.tensorflow.org/install/source_windows) website .Please, let us know. Thanks!

[2019-07-16 11:15] anush-o commented on #30732
@thekingrenz23 ,
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issu

[2019-07-16 11:19] anush-o commented on #30711
@dekromp ,
I tried reproducing the issue with TF 1.14 and i didn't get any error.
please take a look at Gist of [Colab link](https://colab.research.google.com/drive/1BUqCQgo2nuH9VQZyn4m1K6-1ANqLVWcA) .Thanks!

[2019-07-16 11:21] simonsays1980 opened #30750 "tf.sparse.to_dense does not work on sparse tensor with string values."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04.2 LTS (Bionic Beaver)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: -
- TensorFlow installed from (source or binary): binary
- TensorFlow version (

[2019-07-16 11:27] anush-o commented on #30726
@tfoxkustudent ,
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-07-16 11:31] shkarupa-alex commented on #30711
Your link is private.

[2019-07-16 11:31] marianopeck commented on #30716
Hi @freedomtan
Thanks for your response. But there is something I am not sure I understand. The link I pasted above (in my original post) is a way for *cross compiling* for Raspberry Pi. Doing something as simple as:

          tensorflow/tools/ci_build/ci_build.sh PI \
          tensorflow/tools/ci_build/pi/build_raspberry_pi.sh

If you see [here](https://github.com/tensorflow/tensorflow/blob/mas

[2019-07-16 11:45] ravikyram commented on #30632
@TCBocean

Just to verify did you get chance to follow instructions from [TensorFlow](https://www.tensorflow.org/guide/extend/op) website .Please, let us know. Thanks!

[2019-07-16 11:46] BeWe11 commented on #30530
Thanks @gargn, that worked!

[2019-07-16 11:46] #30530 closed

[2019-07-16 11:55] gadagashwini commented on #30565
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-16 11:55] #30565 closed

[2019-07-16 11:57] jkamalu commented on #30745
I think you are misreading the requirement. Inputs should be either [not masked] or [strictly right-padded]. For reference, see the following function used to determine CuDNN compatibility: https://github.com/tensorflow/tensorflow/blob/8e423e3d56390671f0d954c90f4fd163ab02a9c1/tensorflow/python/keras/layers/recurrent_v2.py#L1182

Note: the LSTM with CuDNN is experiencing a lot of bug reports atm (e

[2019-07-16 11:58] bonlime opened #30753 "TF >=1.13 doesn't support CUDA 9.0"
**System information**
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): build from source
- TensorFlow version: `1.13.1, 1.14.0, 2.0.0a, 2.0.0b1`
- Python version: 3.5
- Installed using virtualenv? pip? conda?: ...
- Bazel version (if compiling from source): `0.25.2`
- GCC/Compiler version (if compiling from source): `5.4.0`
- CUDA/cuDNN version: `

[2019-07-16 12:01] bonlime commented on #30726
@tfoxkustudent I had the same issue recently and purging old nvidia drivers and installing them again helped.
Check this for solution: https://stackoverflow.com/questions/41409842/ubuntu-16-04-cuda-8-cuda-driver-version-is-insufficient-for-cuda-runtime-vers

[2019-07-16 12:09] gadagashwini commented on #30712
I am able to reproduce the issue on Colab with Tensorflow 1.14.0. Please take a look at gist of [Colab](https://colab.research.google.com/drive/1SYo3S-Pt3OroErtbiJbw4CkqkVgd9oA_).Thanks!

[2019-07-16 12:13] gadagashwini commented on #30712
I could reproduce the issue With TF 2.0.0.beta1. Please have a look at gist of [Colab](https://colab.research.google.com/drive/1lgmEHNnn_A9Xjqrlh2v9OtXMpliN23Bc).Thanks!

[2019-07-16 12:15] rise-rohit commented on #20440
tensorflow import error please help!!

ImportError                               Traceback (most recent call last)
c:\users\rohit\appdata\local\programs\python\python37\lib\site-packages\tensorflow\python\pywrap_tensorflow.py in <module>
     57
---> 58   from tensorflow.python.pywrap_tensorflow_internal import *
     59   from tensorflow.python.pywrap_tensorflow_internal import __version__

c:\us

[2019-07-16 12:17] BeWe11 commented on #30604
After reinstallation of tensorflow, the problem has disappeared. Thanks!

[2019-07-16 12:17] #30604 closed

[2019-07-16 12:18] ravikyram commented on #30641
Please, go through the below links if it helps you.Thanks!
https://www.tensorflow.org/lite
https://www.tensorflow.org/lite/examples

[2019-07-16 12:21] gadagashwini commented on #30490
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-16 12:21] #30490 closed

[2019-07-16 12:23] gadagashwini commented on #30595
@CLIsVeryOK Will it be possible to provide us the complete code to reproduce the issue. Thanks!

[2019-07-16 12:24] Adnan-annan commented on #30680
@ravikyram I alos copied it from the github but it appears to be a custom code written by someone, the ReadTensorFromImageFile() function in tensorflow/tensorflow/examples/label_image/main.cc ia different. I used both of them and both of them take 600 to 700 miliseconds loading and converting the 8000x4000 pixels image into tensor. And the tensor is later fed to actually run the model.

[2019-07-16 12:25] hadaev8 commented on #29798
@capilano yes, i have everything from tf.keras. I tested it in 2 cases: with data augmentation and not. Second break on test phase. Sad to see keras and tpu api is broken. And why this issue is closed?

[2019-07-16 12:31] gadagashwini commented on #29727
@kami93 Let us know is this still an issue. Thanks!

[2019-07-16 12:36] BeWe11 opened #30754 "What's the state of RNNs and tf.lite for Tensorflow 2.0?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.14.5
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 2.0.0-beta1

**Provide the text output from tflite_convert**

[code]

Code to reproduce:
[code]

**Any other info / logs**

There are several issues about support of RNNs in tf.lite, most of them

[2019-07-16 12:39] gadagashwini commented on #30703
@berniekirby Please provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2019-07-16 12:39] Junhuan-Peng commented on #30426
So sorry about that, I will notice the problem next time.
we solve this problem of tensorflow with another solution. It looks like that my partner compile it with only c api. Our project is a Qt project, so we use the .pro file, instead of  cmake.

**The Details**:
OS: **Windows 10 profession edition(x64)**.
TensorFlow verison: **1.14.0**, compiled from source.

I compiled it successfully(with the

[2019-07-16 12:46] capilano commented on #29798
@hadaev8 the issue that I opened is still open. https://github.com/tensorflow/tensorflow/issues/30162

[2019-07-16 12:53] DavidS3141 commented on #24496
I've made an interesting observation concerning this, that might help track down this error or find a viable solution:
I get also the error `Failed to get convolution algorithm` with reference to `Could not create cudnn handle: CUDNN_STATUS_INTERNAL_ERROR`.
System: laptop machine with the Nvidia Quadro P2000, Ubuntu 18.04, tf 1.13.1, cuda10, cudnn 7.4.2
As mentioned, I can run the program smoothly

[2019-07-16 12:58] peterszaszlateral opened #30755 "Android: Failed to resolve: tensorflow-lite"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.13.2 HighSierra

- TensorFlow installed from (source or binary): gradle dependency 'org.tensorflow:tensorflow-lite:0.0.0-nightly'
- TensorFlow version: 0.0.0-nightly
- Android Studio : 3.2.1
- Android compile / targetSdkVersion  = 28
- Gradle Version: 4.6

**Describe the problem**

Tensorflow Lite dependency

[2019-07-16 13:02] anush-o commented on #30693
@jeet4690 ,
You can use the below code which has been executed in google colab and is working with TF version 1.14

[code]

[2019-07-16 13:09] tfoxkustudent commented on #30726
@anush-o .  the file I run is /models/research/object_detection/model_main.py

# Copyright 2017 The TensorFlow Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicab

[2019-07-16 13:10] rishabhsahrawat commented on #30745
@jkamalu thank you for your answer and clarification. I still have a question about how to left pad in TF2.0, without using `tf.keras..pad_sequences` function. Is it possible?

-Rishabh Sahrawat

[2019-07-16 13:10] mpafla commented on #30418
Thanks for your answer, I think it could be done with this. I am far from an expert, but I like how it is done [here](https://github.com/cybertronai/gradient-checkpointing/blob/master/memory_saving_gradients.py#L42). Basically, you overwrite tf.gradients with their version of gradients, but are also to specify a 'checkpoint heuristic' such as 'memory' or 'speed' that computes gradients more memory

[2019-07-16 13:11] rmothukuru commented on #30426
@Junhuan-Peng ,
Thank you for the information. Building Tensorflow using CMake is not supported from TF Version, 1.11. Please refer this [link](https://www.tensorflow.org/install/source_windows#tested_build_configurations), for details.

[2019-07-16 13:11] tfoxkustudent commented on #30726
@bonlime  I have purged the nvidia drivers and have Cuda 9.0 and nvidia drivers 384 right now.  It still did not work.

[2019-07-16 13:17] Leslie-Fang commented on #30746
It seems when running latest the build_pip_package.sh script,  it would move the code from tensorflow folder into the tensorflow_core folder.
[code]

[2019-07-16 13:21] NEGU93 opened #30757 "Multiply complex number with a scalar"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.13.1
- Are you willing to contribute it (Yes/No): Yes

*

[2019-07-16 13:21] hvalev opened #30758 "MAXIMUM and RESIZE_NEAREST_NEIGHBOR not available for tensorflow-lite-gpu"
**System information**
- OS Platform and Distribution: Android Oreo
- TensorFlow installed from: source
- TensorFlow version (or github SHA if from source):
Using both tensorflow-lite and tensorflow-lite-gpu libraries
implementation 'org.tensorflow:tensorflow-lite:0.0.0-nightly'
implementation 'org.tensorflow:tensorflow-lite-gpu:0.0.0-nightly'

**Provide the text output from tflite-gpu**

[code]

[2019-07-16 13:35] thiagoalmedeiros commented on #27401
@dannykuo25 Did you understand the results? I have the same problem with other models like Yolo Tiny, for example. I know that the tiny YOLO is not optimized, but where could I understand this optimization?

Did you have any progress about this problem?

[2019-07-16 14:38] itimmisriis commented on #30755
I am receiving this error as well. Assuming this is a nightly build error, but will wait for feedback.

[2019-07-16 15:05] Hayashi-Yudai commented on #24496
@DavidS3141 It's interesting. In my case, the only convolution layer does not work in both tf.layers and tf.keras.layers...

[2019-07-16 15:06] aaroey commented on #30600
I believe now it'll fallback to fp16 if int8 is not available, see [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc#L1581-L1588). Does this work for you @x10000year ?

[2019-07-16 15:08] jkamalu commented on #30745
Use tf.pad. Choose the constant mode and parameterize the padding on the left-hand side with the max desired length and current length of the sequence and use zero padding on the right side. Play around with eager tensors to get this right if it doesn't seem obvious from the documentation.

https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/pad

 If you want your input data padded, use tf

[2019-07-16 15:22] alextp commented on #30620
To implement a full-fledged C++ operation you probably want to change eigen to get this to vectorize well (I think? Let's ask @rmlarsen).

If you don't you won't gain much over implementing this with existing ops, which is what I mildly prefer.

[2019-07-16 15:34] gargn commented on #30706
Please reference [this question](https://www.tensorflow.org/lite/guide/faq#why_are_some_operations_not_implemented_in_tensorflow_lite) in the TFLite FAQ on how to handle unsupported operations.

[2019-07-16 15:39] jdduke commented on #30226
You can use certain whitelisted TensorFlow operators from TensorFlow Lite using [this approach](https://www.tensorflow.org/lite/guide/ops_select). The [label_image](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/label_image/label_image.cc#L157) example shows how to use the C++ API.

[2019-07-16 15:41] jdduke commented on #30684
Note that you can use TF operators within TFLite using [this approach](https://www.tensorflow.org/lite/guide/ops_select).

[2019-07-16 15:47] VitalieStirbu commented on #29992
same error when I execute
python train.py --logtostderr --train_dir=training/ --pipeline_config_path=training/faster_rcnn_inception_v2_coco.config

[2019-07-16 15:50] jdduke commented on #30393
Yeah, this is very odd given that all of our samples reuse a persistent ByteBuffer across frames. The only difference is that we populate the (direct) ByteBuffer from Java, not from native.

In your native code, are you calling GetDirectBufferAddress() every single frame? Or are you caching the native pointer? If the latter, I'm not sure there are guarantees that the address will remain persistent

[2019-07-16 15:51] #29755 closed

[2019-07-16 15:53] vibhatha commented on #27880
@ohtaman I have been compiling my own network. I also got an issue with UpSampling2D and I also used a custom one made out of basic units in TF.

When I save the model after training and load the keras model, the prediction works fine.

But when I convert it to a tflite model (which converts without giving any issues), when I use the tflite model to run the inference using the interpreter, it hang

[2019-07-16 15:53] DocDriven commented on #27880
@ohtaman Thanks for sharing your code, but I run into errors. The error differs depending on which docker image I use. Could you share your setup, please?

With the nightly-gpu image (Python 3.6.8, tf 1.15.0-dev20190715), I get an error when trying to convert the model:

[code]

On the other hand, with the latest-gpu-py3 image (Python 3.6.8, tf 1.14.0), I get an error when trying to test the tflit

[2019-07-16 15:56] mwin76 commented on #29161
Hi,

Any update?

Thanks.

[2019-07-16 16:00] mrudulaathi commented on #25721
@yangw1234 thanks for the solution. I am able to freeze a graph consisting with LSTM node but unable to load the frozen graph using " tf.import_graph_def".  I am trying to load the graph in order to profile it. Do you have any suggestions on how can I profile a TF graph with LSTM loads since freezing and loading doesnt seem to be working.

[2019-07-16 16:01] dubey commented on #30284
Thanks, this should be fixed after 1c68152470836be8f3e4492c8cc909124f57b9d9.

[2019-07-16 16:01] #30284 closed

[2019-07-16 16:01] vibhatha commented on #27880
@DocDriven
I think one of your image arrays maybe like ['1.0', '2.0', '3.0'] not [1.0,2.0,3.0]. The string types are not supported I guess. Could you check that?

[2019-07-16 16:14] wudixiaotie commented on #30284
@dubey I see. Thank you.

[2019-07-16 16:27] plopresti commented on #30383
Should this be assigned to @Intel-tensorflow ?

[2019-07-16 16:30] xinsu626 commented on #30665
@ravikyram Thanks. I was able to solve the issue. I think it is compatibility issue between tensorflow-gpu and cuda.

- CUDA 10.1 and Tensorflow-gpu 1.14: No Error
- CUDA 9.2 and Tensorflow-gpu 1.14: CudaLaunchKernel error.
- CUDA 9.2 and Tensorflow-gpu 1.12: No Error.

[2019-07-16 16:35] bionicles opened #30763 "Eager and Graph API should be more similar"
**System information**
- TensorFlow version (you are using): 2.0b1
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Eager mode just works. However, the moment you do @tf.function decorators to improve performance, you have to convert a bunch of commands from eager mode into graph mode.

there are **two ways to do everything in tensorflow: t

[2019-07-16 17:21] bionicles commented on #30763
in particular, simple logic breaks as soon as you add @tf.function

for example, if you have a multi-task model and the task names are strings, and your eager training loop does
[code]
this stops working in tf.function. Do we need to use some special tensorflow command? Is the string not converted to a tensor? It's so hard to debug this sort of thing because we don't know if it's the data or the A

[2019-07-16 17:25] bionicles commented on #30763
`if step == 0` does not work
`if step < 1` does ...

[2019-07-16 17:29] bionicles commented on #30763
[code]

Maddening...

[2019-07-16 17:35] marianopeck opened #30764 "Cannot cross-compile for Raspberry Pi with official instructions in MacOS"
**System information**
- OSX 10.14.5
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.13.1
- Python version: 2.7
- Installed using virtualenv? pip? conda?: docker
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version:
- GPU model and memory:

**Describe the problem**

I am following [this official guide](ht

[2019-07-16 17:37] joelromanpr commented on #30755
You can try using the explicit version 1.14.0

https://bintray.com/google/tensorflow/tensorflow-lite#

[2019-07-16 17:44] jsimsa commented on #29989
That should not be the case. The whole point of saving the iterator is that you can checkpoint its state (and we have tests that verify that this functionality works).

Please create a new issue with instructions on how to reproduce your issue so that someone can investigate why is your program resetting the iterator state.

[2019-07-16 17:57] vikranth94 commented on #26809
I ran into the same issue as well. I don't understand why the InputLayer is being filtered out while serializing the model. A work around which I found online is to add the batch input shape parameter to the first layer in the model file.

[code]

[2019-07-16 18:02] joglekara opened #30766 "implementation of tf.dense_tensor_sparse_matmul() such that a matrix product AB can be computed where A is dense and B is sparse."
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
1.14
- Are you willing to contribute it (Yes/No):
Yes

**D

[2019-07-16 18:10] saxenasaurabh commented on #29989
I think this is a missing feature. We added [CheckpointInputPipelineHook](https://www.tensorflow.org/api_docs/python/tf/contrib/data/CheckpointInputPipelineHook) to fix exactly this [problem](https://github.com/tensorflow/tensorflow/blob/5e2a91f65cfb23f996136b9201d9312c9c36b941/tensorflow/python/data/experimental/ops/iterator_ops.py#L194). However, it requires an estimator as an arg. It doesn't ne

[2019-07-16 18:15] joglekara opened #30767 "Minimum number of epochs before termination for tf.keras.callbacks.EarlyStopping()"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
1.14
- Are you willing to contribute it (Yes/No):
Yes

**D

[2019-07-16 18:19] anj-s commented on #30037
Closing this bug for now. Please reopen if you run into issues when using MirroredStrategy.

[2019-07-16 18:19] #30037 closed

[2019-07-16 18:27] jvishnuvardhan commented on #30695
@jim-meyer Please check the following example from this [source](https://machinelearningmastery.com/check-point-deep-learning-models-keras/) and let us know how your proposal is different from it. Thanks!

[code]

[2019-07-16 18:45] jvishnuvardhan commented on #29254
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-16 18:45] #29254 closed

[2019-07-16 18:52] jvishnuvardhan commented on #29531
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-16 18:52] #29531 closed

[2019-07-16 18:57] hk5ykw commented on #24496
I agree with @Hayashi-Yudai: The same is true about MXNet. Identical configuration works fine when Tensorflow fails.

Environment:
RTX2080
Ubuntu 18.10
Driver 430.26
CUDA 10.0 (also 10.1, which isn't yet supported by TF)
cuDNN 7.6.1
mxnet 1.4.1
tensorflow-gpu 1.14.0

[2019-07-16 19:04] ageron opened #30768 "Cryptic error message when assigning to a variable in a tf.function"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
MacOSX 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
binary
- TensorFlow version (use command below):
VERS

[2019-07-16 19:10] alextp commented on #30596
@robieta do you know what could be happening here to make the fit version different from the manual version, with tf.function turned on?

[2019-07-16 19:11] ageron opened #30769 "tf.__version__ raises an AttributeError exception"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
MacOSX 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
binary
- TensorFlow version (use command below):
[code

[2019-07-16 19:12] ymodak commented on #30361
Apologies for the delay in response. Looks like this is fixed in TF 1.14. I get following output with eager execution enabled:
[code]

[2019-07-16 19:26] sarshalom commented on #30361
Thanks!

[2019-07-16 19:26] #30361 closed

[2019-07-16 19:49] dekromp commented on #30711
@anush-o
Hi anush-o, thanks for looking into this. I made a small error in my code example above (which I fixed now). The code was still using `tf.keras.metrics.Precision` instead of `Precision` (Sorry for that). You should get the error now. In the meantime I tried the above snippet on another computer with a fresh conda environment and get the same error.

[2019-07-16 19:59] dlepzelter opened #30770 "AttributeError: The layer has never been called and thus has no defined input shape"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04 in Docker container
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Binary (pip)
- TensorFlow ver

[2019-07-16 20:07] ymodak commented on #30223
Apologies for the delay in response. It is difficult to debug lengthy scripts like these. Perhaps you can provide a minimal code snippet from your whole script which reflects the issue reported. Thanks!

[2019-07-16 20:20] Uiuran commented on #30666
[code]

[2019-07-16 20:26] plopresti opened #30772 ""--config mkl" => mkl_version.h: No such file or directory"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Red Hat Enterprise Linux 7.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version: master
- Python version: 3.6
- Installed using virtualenv? pip? conda?: N/A
- Bazel version (if compiling from s

[2019-07-16 20:28] Uiuran commented on #30666
maybe this is just a more aesthetical question, either to add the op programmatically or add all in once, like the changes in the 2.0 version.

[2019-07-16 20:29] jbgh2 opened #30773 "[TF 2.0] Can not compile model more than once without running out of memory"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0-dev201

[2019-07-16 20:37] gunan commented on #27470
I think we fixed this for nightlies:
https://pypi.org/project/tf-nightly-2.0-preview/#files

I also see 3.7 whl files for 2.0 beta 1:
https://pypi.org/project/tensorflow/2.0.0b1/#files

I will mark this as fixed, please let us know if these are not the packages you are looking for.

[2019-07-16 20:37] #27470 closed

[2019-07-16 20:39] gunan commented on #27708
It is possible that our branches do not become stable for all builds until the rc or final releases. Please try syncing with the tags on the branches if you need to build them.

[2019-07-16 20:39] #27708 closed

[2019-07-16 20:39] ymodak commented on #29681
Apologies for the delay in response. This is fixed in TF 1.14.0
However if you select gpu accelerator the code will produce required result in TF 1.13.1

[2019-07-16 20:40] #29681 closed

[2019-07-16 20:41] lufol commented on #30769
To me it seems `__version__` should be initialized here "/tensorflow/python/framework/versions.py"
However if I run the code as @ageron on the tf-nightly version I get the same issue.
Here the full error log:
[code]

The process of the declaration of the version is described nicely at [stackoverflow](https://stackoverflow.com/questions/50427475/checking-tensorflow-version-in-python-tf-version-vs-t

[2019-07-16 20:41] gunan commented on #28214
Adding @yifeif.
@galeone could you share your use case with us, maybe then we can see where exactly the problem is. or how to work around it.

[2019-07-16 20:44] gunan commented on #28765
The only other reason I can think of is, if you installed the GPU version of TF without having a GPU. Other than that, CPU not having AVX and MSVC redistributable are the only cases I have seen this failure.

[2019-07-16 20:45] karmel commented on #27895
@random-forests -- what is the status of that guide? Do we have someone working on it?

Regarding the performance issues, @lendle , would you be interested in submitting a PR to one of the colabs to illustrate what you mean? Or creating a separate tutorial discussing the performance implications of decisions around feature columns?

[2019-07-16 20:48] gunan commented on #28937
@coderforlife Thanks for filing the issue, and sorry for the delay.
I have recently saw a few other cases where we violate our rule to restrict ourselves to C++11.
We would be happy to accept your patch.

[2019-07-16 20:49] yhliang2018 commented on #26789
@siinn `tf.optimizers.Ftrl` or `tf.optimizers.Ftrl` should be the correct optimizer to use with LinearRegressor in TF 2.0.
The error `ValueError: The given object is not an Optimizer instance. Given: <tensorflow.python.keras.optimizer_v2.ftrl.Ftrl object
at 0x1293a32b0>` indicates you are using LinearRegressorV1. Could you verify LinearRegressorV2 is indeed called?

The docstrings have been update

[2019-07-16 20:50] gunan commented on #30117
Looks like https://github.com/tensorflow/tensorflow/pull/30279 is already merged. closing.

[2019-07-16 20:50] #30117 closed

[2019-07-16 20:52] karmel commented on #26487
Can you clarify what version of TF you are using? If 1.9, please upgrade to a more recent version, and see if the issue still occurs. If you are interested in using eager execution, I would encourage you to use the [TensorFlow 2.0 Beta](https://www.tensorflow.org/beta).

[2019-07-16 20:53] jbgh2 opened #30774 "What replaces tf.data.get_output_shapes in TF 2?"
TF 2 Datasets don't appear to have the output_shape property and there is no tf.data.get_output_shapes.

What do we use instead?

[2019-07-16 20:57] lendle commented on #27895
@karmel the thread I referenced in the issue links to a jupyter notebook gist that illustrates the performance issues. I won't have time to provide more than that for the time being.

[2019-07-16 21:07] ymodak commented on #29957
Apologies for the delay in response. Those are log info and not errors. See https://github.com/tensorflow/tensorflow/blob/42b5da6659a75bfac77fa81e7242ddb5be1a576a/tensorflow/core/kernels/data/shuffle_dataset_op.cc#L138

[2019-07-16 21:07] #29957 closed

[2019-07-16 21:16] ymodak commented on #30068
To reset gpu memory allocation; See https://github.com/tensorflow/tensorflow/issues/17048#issuecomment-367948448

[2019-07-16 21:17] ppham27 commented on #30774
`tf.data.experimental.get_structure` should have shape information.

https://www.tensorflow.org/api_docs/python/tf/data/experimental/get_structure?hl=en

[2019-07-16 21:19] abdou31 commented on #29957
@ymodak, Thanks for your answer

[2019-07-16 21:25] game-sys commented on #30612
got this using bazel

c:\tensorflow>bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package
WARNING: The following rc files are no longer being read, please transfer their contents or import their path into one of the standard rc files:
c:\tensorflow/tools/bazel.rc
WARNING: Ignoring JAVA_HOME, because it must point to a JDK, not a JRE.
INFO: Options provided by the client:
  Inhe

[2019-07-16 21:35] AbhimanyuAryan opened #30776 "freeze model for inference with output_node_name"
I want to compile the TensorFlow Graph to Movidius Graph. I have used Model Zoo's `ssd_mobilenet_v1_coco` model to train it on my own dataset.

Then I ran
[code]
which generates me `frozen_interference_graph.pb` & `saved_model/saved_model.pb`

![11](https://user-images.githubusercontent.com/8083613/61330462-3fe5b180-a83d-11e9-99a5-7b63aa1b7d2a.png)

![12](https://user-images.githubusercontent.com/

[2019-07-16 22:39] jim-meyer commented on #30695
Thanks @jvishnuvardhan . After reading that article again I finally noticed this little blurb:
[code]

I had been using filepath='checkpoint-{epoch}.h5'. But now that I remove the {epoch} and am now using 'best-checkpoint.h5' I see that that essentially solves my use case.
I'll put together a PR that does just a minor documentation update to make this a bit more obvious for the next person.

[2019-07-16 22:49] akotlarsky commented on #30722
In addition to the above, in order to build aarch64 TensorFlow Lite, in the Makefile retrieved from https://github.com/tensorflow/tensorflow/issues/29806, I had to add -flax-vector-conversions and -fomit-frame-pointer to CXXFLAGS, and set BUILD_WITH_NNAPI=false (as described in https://github.com/tensorflow/tensorflow/issues/26731).

And that is not all...

In order to cross-compile aarch64 Tensor

[2019-07-16 22:50] haozha111 commented on #30645
Hi,

I'm wondering if the input tensor name you specified is correct. Could you try the tf graph summary tool[1] which will list the input/output tensors of a graph?

[1]https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/summarize_graph_main.cc

[2019-07-16 22:53] yongtang commented on #30769
The issue is that module wrapping hides all symbols starts with `_` from `__all__` so `__version__` is hided as well. Created a PR #30778 for the fix.

[2019-07-16 22:54] lc0 commented on #27924
@tanzhenyu Would you mind to point me out where you can see learning rate for Adadelta is 0.001?
I can see 1.0 for 1.14 at https://github.com/tensorflow/tensorflow/blob/r1.14/tensorflow/python/keras/optimizers.py#L381

please correct me if I am wrong

[2019-07-16 22:57] jvishnuvardhan commented on #28297
@LuyuanChen Sorry for the delay in my response. Could you check whether the issue still persists with TF1.14 or tf-nightly (TF1.15). Thanks!

[2019-07-16 22:57] varunjammula commented on #21164
Same here!

[2019-07-16 23:02] sgambient opened #30779 "TF-TRT slower than plain TF on FasterRCNN type networks."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.13
- Pyt

[2019-07-16 23:03] haozha111 commented on #30272
Could you share your keras model file with me so I can give it a try? Thanks.

[2019-07-16 23:07] jvishnuvardhan commented on #28423
Closing this out since it is more related to Tensorboard repo. Thanks!

[2019-07-16 23:07] #28423 closed

[2019-07-16 23:09] jvishnuvardhan commented on #28639
@zrss Is this issue resolved? Thanks!

[2019-07-16 23:13] jvishnuvardhan commented on #28645
@sslavian812 Sorry for the delay in my response? Can you check with latest versions TF1.14, TF1.15 (tf-nightly), and 2.0.0b1? Thanks!

[2019-07-16 23:18] lc0 commented on #27924
I think I found proper defaults from https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/optimizer_v2/adadelta.py but in this case, it's pretty confusing and I am not sure what these old definitions for if they are not event exported

[2019-07-16 23:19] haozha111 commented on #29590
I see.

Currently dynamic input shape is not supported in tflite. However a walkaround could be:

1) set the unknown dimension to a fixed value during conversion.
2) then try interpreter.resize_tensor_input() method to resize the input tensor size at inference.

It's not guaranteed that this path will always work as expected though, however it's no harm if you can give it a try. Thanks!

[2019-07-16 23:23] Atulin commented on #17386
I have AMD Ryzen 1600 CPU which supports both AVX and AVX2, and I cannot use the CPU version of Tensorflow either.

Stacktrace:
[code]
Can't install the provided alternative wheel either, because
[code]

[2019-07-16 23:23] haozha111 commented on #28324
Sorry for the late.

It seems like the iOS app is not built with the select TF ops (RandomUniform), so it can't resolve the op at runtime.

Could you follow instructions here and try again? Thanks.
https://www.tensorflow.org/lite/guide/ops_select#ios

[2019-07-16 23:29] haozha111 commented on #28997
Sorry for the late. The input tensor `normalized_input_image_tensor` should have float32 type, but it seems like you are passing the `image` array with the wrong type. Could you check again if the data type is matched?

[2019-07-16 23:33] dorinionescu commented on #30728
Can not downgrade to tensorflow-gpu 1.13.1 - please give me the exact version that works
`sudo -H python3 -m pip install tensorflu-gpu==1.3.1
Collecting tensorflu-gpu==1.3.1
  Could not find a version that satisfies the requirement tensorflu-gpu==1.3.1 (from versions: )
No matching distribution found for tensorflu-gpu==1.3.1
`
I tried a lot of TF versions - nothing works
Thank you
Dorin

[2019-07-16 23:34] jvishnuvardhan commented on #28841
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-16 23:34] #28841 closed

[2019-07-16 23:36] haozha111 commented on #30131
Sorry that it doesn't work out for you. We are continuously adding new ops into tflite, in the mean time you could also try implement those ops yourself as custom ops [1]. I believe you won't need implement `scatter_nd` since it's a supported tf select op. Just pass --target_ops=TFLITE_BUILTINS,SELECT_TF_OPS during conversion, thanks!

[1]https://www.tensorflow.org/lite/guide/ops_custom

[2019-07-16 23:36] #30131 closed

[2019-07-16 23:36] jvishnuvardhan commented on #28871
@xiesiyuan Is this still an issue in 2.0.0b1? Thanks!

[2019-07-16 23:38] jvishnuvardhan commented on #28892
@philsc Is this still an issue with latest TF versions 1.14, 1.15 (tf-nightly) and 2.0.0b1? Thanks!

[2019-07-16 23:40] #26549 closed

[2019-07-16 23:47] berniekirby commented on #30703
Well, it's slightly complicated as it's a cluster system that is near the end of it's life (Centos6).
Essentially we 'module load' the versions of software we need:
module load cuda/10.0.130 java gcc/4.9.3 python/3.6.5 bazel/0.25.2 binutils openmpi-gcc/3.1.3

Then just run ./configure
./configure
./configure
WARNING: --batch mode is deprecated. Please instead explicitly shut down your Bazel server

[2019-07-16 23:48] Uiuran opened #30780 "tf.keras.losses.categorical_crossentropy ignores batch size and dont have name keywordarg"
I think this function is obsolete in Tensorflow since the class CategoricalCrossEntropy does the job in the standard way (i.e, compute loss by batch and associate with a name to be easier to debug).

I suggest to drop this from next 1.14 version if iam not taking something wrong.

Thank you.

[2019-07-16 23:53] jvishnuvardhan commented on #30695
@jim-meyer Sure. Go ahead and raise PR to improve documentation. I am closing the issue as it was resolved. Thanks!

[2019-07-16 23:53] #30695 closed

[2019-07-17 00:04] tanzhenyu commented on #27924
Not sure if I understand what do you mean...Does keras adadelta with learning rate of 1.0 help with your experiment?

[2019-07-17 00:05] yongtang commented on #30750
Add a PR #30781 for the fix.

[2019-07-17 00:14] plopresti commented on #30772
Update:

If I add these lines (back) to .bazelrc:

    build --spawn_strategy=standalone
    build --strategy=Genrule=standalone

...my build works again.

(Somehow, the "mkl_linux" tree does not make its way into processwrapper-sandbox. I do not know enough about Bazel to understand what the underlying problem is here.)

[2019-07-17 00:17] nhasabni commented on #30772
It looks like commit [7a2ce469a70e55855b09030a96d2f6eeb825e253](https://github.com/tensorflow/tensorflow/commit/7a2ce469a70e55855b09030a96d2f6eeb825e253) is the reason for this issue.

[2019-07-17 00:28] aleist commented on #30393
Yes I call GetDirectBufferAddress() for every frame. The implementation of convertImageToFloat is very straight forward (with only a couple of checks omitted):

[code]

I'll experiment some more when I have time for it.

[2019-07-17 00:48] qinyao-he commented on #27780
Actually under my experiments, just doing inference (without backprop), depthwise conv is still slower in fp16 than fp32. So the problem can't just be unsupported half precision in back-propagation.

[2019-07-17 00:54] #29617 closed

[2019-07-17 00:56] guptapriya commented on #29975
I just used cpu and gpu because then i was able to run it in colab easily. you can just use whatever devices you want to use (for e.g. 2 GPUs). The order in which you specify the GPUs is the replica id order. So you can use that to determine what batch size to use on which replica. mk_input can simply return the actual input. In this toy example, I just said the input will be 2 times the replica_i

[2019-07-17 01:06] tdplaza opened #30782 "Allow_soft_placement=True does not solve "no supported kernel for GPU devices is available" problem"
I have got this error:
` InvalidArgumentError (see above for traceback): Cannot assign a device for operation 'model/inference/encoder_LSTM/bidirectional_rnn/fw/fw/Assert/Assert': Could not satisfy explicit device specification '/device:GPU:0' because no supported kernel for GPU devices is available.
Registered kernels:
  device='CPU'
`

other people said that setting tf.ConfigProto to "allow_soft

[2019-07-17 01:06] freedomtan commented on #30716
Yes, cross-compiling usually is much faster, esp. for a fresh build. Easier, I don't think so. As I said, the environments before RPi 4 is quite complex.

[2019-07-17 01:16] jsimsa commented on #28751
The problem is that the `X` value you are trying to pass into `from_tensor_slices` is not convertible to a tensor (which is what the implementation of `from_tensor_slices` will attempt to do):

[code]

produces the same error.

[2019-07-17 01:16] #28751 closed

[2019-07-17 01:20] cj741 commented on #30701
Yes, I followed the instruction, and I found the solution here https://github.com/tensorflow/tensorflow/issues/28824,
but I got new problem as following:

Analyzing: target //tensorflow/tools/lib_package:libtensorflow (0 packages loade
d, 0 targets configured)
INFO: An error occurred during the fetch of repository 'protobuf_archive'
INFO: Call stack for the definition of repository 'protobuf_archi

[2019-07-17 01:35] sidhomj commented on #24404
this is particularly a problem if loading a graph with this op onto GPU.

[2019-07-17 01:44] #30782 closed

[2019-07-17 02:17] derekhsu opened #30784 "Where can I find binary tensorflow-gpu 1.12 for PPC64LE"
The community-supported tensorflow-gpu is 1.14 which require CUDA 10 but I only have CUDA 9, does anyone know where can I find built tensorflow-gpu 1.12?

[2019-07-17 02:24] BorisPolonsky opened #30786 "Feature Request: Adding a "LayerListWrapper"-like class for adding list of layers (Non-sequential) to keras model."
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): Tensorflow 2.0.0b0-gpu
- Are you willing to contribute it

[2019-07-17 02:38] zhangyafeikimi commented on #30633
-ltensorflow_framework is OK.

[2019-07-17 02:45] dukecyto commented on #30232
@ANSHUMAN87 The suggested workaround is confirmed to work with my complete model, generating expected inference results. All extra transposes are optimized out in the final TFLite compute graph but is messy in the code and is a major pitfall in using TFLite so I still look forward to your PR getting merged.

[2019-07-17 02:53] plopresti commented on #30772
@nhasabni Thanks. So you could reproduce the problem? I was not sure whether it was somehow my environment.

P.S. Could I convince you to take a peek at (the unrelated) issue 30383 ?

[2019-07-17 02:55] breadbread1984 opened #30787 "can't call tf.keras.Model created with functional api with no input tensors"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-07-17 02:55] CLIsVeryOK commented on #30595
@gadagashwini  please give me your email, I send you the data and code in zip

[2019-07-17 03:38] whhu commented on #29989
Thank you very much. It helps greatly! :-)

[2019-07-17 03:38] #29989 closed

[2019-07-17 03:50] nongxi opened #30788 "I improving the recognition rate about TensorFlow 2 programmer,Google"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Ubuntu 18.04 x64
- TensorFlow i

[2019-07-17 04:29] prakashraju619 commented on #13715
please one help out of this
while importing TensorFlow I got the issue

python

 I got like this

Failed to load the native TensorFlow runtime.
See https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/get_started/os_setup.md#import_error

for some common reasons and solutions.  Include the entire stack trace
above this error message when asking for help.

![image](https://user-ima

[2019-07-17 04:29] prakashraju619 commented on #13715
![image](https://user-images.githubusercontent.com/31440968/61347200-9a9cfe80-a879-11e9-87b8-21bbd4e1dba8.png)

[2019-07-17 04:33] stakemura commented on #29785
I prepared [CI environment with Azure DevOps](https://dev.azure.com/mlops/build-tfcompile/_build/results?buildId=181&view=logs&j=37ac93e3-95ad-598b-a5c9-c557853b15ab&t=eafe61f6-d619-5846-d967-e9cd72823209&l=764).
As for r1.14 branch, it seems to cause different compile error as follows.

[code]

[2019-07-17 04:48] gmhafiz commented on #1962
I found out that I do not have a swap partition. Creating one solves this problem. Verify with `sudo free -h`

To create, (guide from https://linuxize.com/post/create-a-linux-swap-file/)
`sudo fallocate -l 32G /swapfile
sudo dd if=/dev/zero of=/swapfile bs=1024 count=33554432
sudo chmod 600 /swapfile
sudo mkswap /swapfile
sudo swapon /swapfile
`

[2019-07-17 04:48] gadagashwini commented on #28431
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-17 04:48] #28431 closed

[2019-07-17 04:53] robieta commented on #30596
I'm not able to reproduce the rank order. (I'm running on a P100, so more powerful than a K80 but in the same ballpark. I'm also using `tf.enable_v2_behavior` rather than the beta install, but I don't think that should matter.) I see 14 ms / step for pure eager, 2.5 ms / step after wrapping the train step in a tf.function, and 4 ms / step with model.fit. (Expected since custom training loop is mor

[2019-07-17 04:54] gadagashwini commented on #30514
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-17 04:54] #30514 closed

[2019-07-17 04:56] charmasaur commented on #3348
I'll attempt to clarify for any future readers who also get confused by this.

### tl;dr
I'm reasonably confident the "gradient" returned by `tf.gradients` is `conj(df/dz + dconj(f)/dz)` (which reduces to `conj(df/dz)` for holomorphic `f`).

### More details
The "gradient" mentioned by girving as the conjugate of the derivative is (related to) the gradient of the corresponding real map, when we ex

[2019-07-17 04:59] HOTFIGHTER opened #30790 "how to debug the tensorflow source code"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-07-17 05:01] gadagashwini commented on #30556
Closing this issue since its addressed. Feel free to reopen if the solution provided doesn't work for you. Thanks!

[2019-07-17 05:01] #30556 closed

[2019-07-17 05:05] #30619 closed

[2019-07-17 05:09] gadagashwini commented on #30640
@hiteshnitetc To install cuda and cudnn, follow the steps mentioned [here](https://www.tensorflow.org/install/source#install_gpu_support_optional_linux_only). Thanks!

[2019-07-17 05:20] siddhi-droid commented on #30755
@joelromanpr Thanks it worked!

[2019-07-17 05:27] ravikyram commented on #30329
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-17 05:27] #30329 closed

[2019-07-17 05:37] rkuo2000 commented on #30272
https://drive.google.com/open?id=1sTwEgYMDPUV5DsXA1sBG_7MxjE9Xicxc

[2019-07-17 05:40] ignvinay commented on #20886
Any suggestions please !

[2019-07-17 05:40] ravikyram commented on #30527
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-17 05:40] #30527 closed

[2019-07-17 05:44] ravikyram commented on #30525
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-17 05:44] #30525 closed

[2019-07-17 06:04] robieta commented on #29099
The accuracy difference doesn't seem to be as severe now, but it is definitely still present (~65% vs. ~85%) However switching to distribution strategy (which changes the execution path) restores the accuracy in 2.0. We're standardizing on the latter path, so this should be fixed before the 2.0 release. In the mean time something like:

[code]
will do the right thing. Thanks for the report, and fo

[2019-07-17 06:10] zhushichuan commented on #17101
Thank you. This is very useful.

[2019-07-17 06:16] galeone commented on #28214
The use case is the inspection of the tensorflow package (tensorflow==2.0.0beta1) using reflection.

I need this because I'm working on a project that has the goal of emulating the same TensorFlow structure (packages, sub-packages, classes, and so on) and creating a new Python package that has the same structure. __[*]__

If you have some minute, you can have a look at the file: https://github.com

[2019-07-17 06:18] TomHeaven commented on #30024
I meet a similar error running old TF code. I'm using tensorflow 1.14.0.
[code]

[2019-07-17 06:27] lee-bin opened #30791 "Use XLA to Tacotron2 is slower than without XLA"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):centos
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):binary
- TensorFlow version (use command below):v1.12.0-0-ga6d8ffae09

[2019-07-17 06:27] kimtaehyeong commented on #28102
https://stackoverflow.com/questions/55890813/how-to-fix-object-arrays-cannot-be-loaded-when-allow-pickle-false-for-imdb-loa

this here fix code :
import numpy as np

np_load_old = np.load

np.load = lambda *a, **k: np_load_old(*a, allow_pickle=True, **k)

[2019-07-17 06:28] rishabhsahrawat commented on #30745
@jkamalu thank you for your answer. I appreciate your help.

[2019-07-17 06:28] #30745 closed

[2019-07-17 06:33] gunan commented on #28214
One thing I can recommend is, our python API is actually documented here:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/api/golden

Would the documented API be useful?

[2019-07-17 06:33] gunan commented on #28214
Also, the tools to generate this API is also right here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/api/lib/python_object_to_proto_visitor.py

Could you try this tool out to see if it works better for you?

[2019-07-17 06:34] ravikyram commented on #30602
@tportenier Even i used python2.7. Thanks!

[2019-07-17 06:42] Jasonnor commented on #22618
+1 multi_gpu_model is not a substitute for estimator (it's slow and not fully support multi-gpu), this issue should be reopen.

[2019-07-17 06:51] gadagashwini commented on #29992
@oysz2016  and @VitalieStirbu  Can you please post a new issue by providing the information asked by the template?
The reason for this is we can focus on your specific configuration and problem since the root cause can be unrelated even though the error messages are similar. Thanks!

[2019-07-17 06:51] ravikyram commented on #30665
@xinsu626
I am closing this issue as it was resolved.Thanks!

[2019-07-17 06:51] #30665 closed

[2019-07-17 06:54] gunan commented on #29785
a-ha, I think the issue is you are trying to build XLA on windows.
This is still known to be broken. There may be some progress, but I cannot commit to any dates to get this working.
Here is another relevant issue:
https://github.com/tensorflow/tensorflow/issues/30415

[2019-07-17 06:57] galeone commented on #28214
This folder ( https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/api/golden/v2 ) contains, perhaps, everything I need. Can you confirm that this is the TF 2 Python API completely described as protobuf? I mean: these files can be parsed and I can get the complete hierarchy of the tensorflow==2.0.0beta1 package I'm using?

The API generator, instead, look useful but I'm not sure o

[2019-07-17 06:59] gadagashwini commented on #30612
@game-sys Please provide the exact command if possible to produce the output included in your test case. Thanks!

[2019-07-17 07:09] gunan commented on #28214
I can confirm that for any given commit, these files will give you the full TF API. We have continuous tests, and presubmit tests that prevent these files and the TF api going out of sync.

The api symbols stored in these files are using this protocol buffer:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/api/lib/api_objects.proto#L37

[2019-07-17 07:26] galeone commented on #28214
This is great and it will help me **a lot**.

Also from what I can see from the test I linked, using the visitor is not that difficult and it looks like I can use it to build `TFAPIObject` messages just buy looping over the files and post-process them
https://github.com/tensorflow/tensorflow/blob/a45a9d2ac8862b8f7162f6189ab567ed194c02b7/tensorflow/tools/api/tests/api_compatibility_test.py#L341

ri

[2019-07-17 07:36] peterszaszlateral commented on #30755
I can easily replace the dependency, but there are some classes missing in this version

error: cannot find symbol public class TFLiteObjectDetectionAPIModel implements Classifier {
error: cannot find symbol private Interpreter tfLite;
error: cannot find symbo public List<Recognition>

[2019-07-17 07:42] #30638 closed

[2019-07-17 07:43] gunan commented on #28214
As far as I know, you are correct.
@annarev just in case something has changed since I last touched that code.

[2019-07-17 07:57] zhangyafeikimi commented on #30633
furthermore, on linux, there is the same issue.

[2019-07-17 08:03] mabdullahrafique opened #30793 "2019-07-17 12:43:20.046568: F tensorflow/contrib/lite/toco/allocate_transient_arrays.cc:180] An array, resize/ResizeNearestNeighbor, still does not have a known data type after all graph transformations have run."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code NO
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Tensor

[2019-07-17 08:05] ismael-elatifi commented on #28010
Having same issue with `tf.transpose` :
`W0717 09:24:35.629342 14908 summary_ops_v2.py:1110] Model failed to serialize as JSON. Ignoring... ('Not JSON Serializable:', b'\n\ttranspose\x12\tTranspose\x1a\ndense/Relu\x1a\x0etranspose/perm*\x0b\n\x05Tperm\x12\x020\x03*\x07\n\x01T\x12\x020\x01')`
Thus `callbacks.ModelCheckpoint` fails to backup my model and all I get is a model file of 6 KB.

[2019-07-17 08:20] yifeif commented on #28214
Does something like the following work for your usecase @galeone?
tf = importlib.import_module("tensorflow")
getattr(tf, "losses")

[2019-07-17 08:24] rishabhsahrawat commented on #26289
Just to tell what I have found, in order to use GPU with TF2.0, one has to install Cuda 10.0, because 10.1 is not yet supported by TF2.0-beta1. Once you think everything is installed, you can check if TF can access the GPU or not using the command stated [here](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/test/is_gpu_available).
`value = tf.test.is_gpu_available(cuda_only=False,

[2019-07-17 08:33] rsdubtso commented on #30383
Paging @agramesh1

[2019-07-17 08:33] DocDriven commented on #27880
@vibhatha
I double checked it, but all entries are numpy arrays of type np.uint8. Also, the stable versions seems to have no problem with these inputs, so I assume something went wrong with the nightly build.

[2019-07-17 08:34] galeone commented on #28214
@yilei this approach seems to work!

But why is this happening? I mean: I can't load `"tensorflow.losses"` using `importlib.import_module` but I can load the losses package using `getattr`. Is this something related to the lazy loading of the modules?

Moreover, having it working using `getattr` and not using `import_module` is an expected behavior?

[2019-07-17 08:45] ravikyram commented on #30779
@sgambient
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-07-17 08:57] rishabhsahrawat commented on #30753
Try updating your Cuda version to 10.0 exact (also not 10.1). It should support training on GPUs.

[2019-07-17 09:02] Ruhan123 commented on #21742
can any one help me  how  to remove  this error An exception has occurred, use %tb to see the full traceback.

SystemExit: 2

[2019-07-17 09:07] lgeiger commented on #28995
@omalleyt12 I can still reproduce this issue with TensorFlow 1.14.0:
[code]

[2019-07-17 09:14] prathikPrabhakara opened #30794 "ModuleNotFoundError: No module named 'tensorflow.contrib'"
import tflearn
from tflearn.layers.conv import conv_2d, max_pool_2d
from tflearn.layers.core import input_data, dropout, fully_connected
from tflearn.layers.estimator import regression

convnet = input_data(shape=[None, IMG_SIZE, IMG_SIZE, 1], name='input')

convnet = conv_2d(convnet, 32, 2, activation='relu')
convnet = max_pool_2d(convnet, 2)

convnet = conv_2d(convnet, 64, 2, activation='relu')

[2019-07-17 09:22] bruce1408 commented on #12491
this is the right answer,thx!

[2019-07-17 09:28] SeanCho1996 commented on #30743
reference on [this thread](https://github.com/guikarist/tensorflow-windows-build-script/issues/21)

[2019-07-17 09:28] #30743 closed

[2019-07-17 09:29] #30411 closed

[2019-07-17 09:31] gadagashwini commented on #30721
@leops95 Just to confirm, did you follow the steps mentioned in the [Tensorflow](https://www.tensorflow.org/install/pip) site. Thanks!

[2019-07-17 09:32] x10000year commented on #30600
@aaroey Yes, that's definitely useful! Then I can force some layer to use fp16. It will be better if there's a way to force some layer to use fp32.

[2019-07-17 09:32] bonlime commented on #30753
@rishabhsahrawat updating CUDA on the server is not an option for multiple reasons. I want to compile TF specifically for CUDA 9.0

[2019-07-17 09:50] nocotan commented on #25348
I have the same issue as @Pidem have.

[2019-07-17 09:51] rmothukuru commented on #18774
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-17 09:51] #18774 closed

[2019-07-17 09:52] rmothukuru commented on #30395
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-17 09:52] #30395 closed

[2019-07-17 09:52] rmothukuru commented on #30404
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-17 09:52] #30404 closed

[2019-07-17 09:52] mihaimaruseac commented on #28214
Hi,

Yes, lazy loading makes the modules only available via `getattr`

You can also try looking into `sys.modules`, even if the module is lazy loaded it should be as a key there (though probably not all of its submodules)

[2019-07-17 09:53] rmothukuru commented on #30407
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-17 09:53] #30407 closed

[2019-07-17 09:55] rmothukuru commented on #30426
Closing the issue as Tensorflow could be installed successfully using Bazel.

[2019-07-17 09:55] #30426 closed

[2019-07-17 09:56] YanliuWang commented on #6341
pip install google-cloud-bigquery works for me , I am using windows, python 3.5 and tensorflow-gpu 1.4

[2019-07-17 09:56] rmothukuru commented on #30594
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-17 09:56] #30594 closed

[2019-07-17 09:59] pandrey-fr commented on #30794
What versions of tensorflow are you using?
`tensorflow.contrib` is being removed in version 2.0, you therefore need version <= 1.14 to operate tflearn (by the way, this is a TFlearn issue, not a tensorflow one).
In your case, I would consider moving to tensorflow (instead of tflearn) and use the tf.keras API, which provides the higher-level API tflearn aimed at offering in times when tf.keras was

[2019-07-17 10:13] prathikPrabhakara commented on #30794
Thank you for the reply. I am using tensorflow 2.0. I will uninstall and reinstall tensor flow 1.14

[2019-07-17 10:27] VinothInspirit commented on #30702
Thanks for your response.
I have attached the complete source code for your evaluation, Results of evaluation time text file to understand the inconsistency inference time
And TF version : 1.13.1.
Please review and advice me on this
[Results_ref_times.txt](https://github.com/tensorflow/tensorflow/files/3401386/Results_ref_times.txt)

[2019-07-17 10:28] prathikPrabhakara commented on #30794
Thank you. It works 😊

[2019-07-17 10:31] vvsotnikov commented on #30767
I think that `patience` parameter is [what you need](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/callbacks/EarlyStopping#arguments):

[2019-07-17 10:41] ved27 commented on #20886
Hi @ignvinay

are you getting the same toco error for the case of using create eval graph ?

[2019-07-17 10:42] ravikyram commented on #30746
@Leslie-Fang
I tried reproducing issue with the provided code  using both TF1.13 and 1.14 and i am able to import
graph _transforms.Thanks!

[2019-07-17 10:45] pandrey-fr commented on #30786
Hi,
I believe that if you change `self.convs` from a tuple to a list, you get the desired results.

[code]

Generate a model using this class constructor, build it and you should see the proper number of parameters in `model.summary()`.

[2019-07-17 10:46] pandrey-fr commented on #30794
You are welcome! Don't forget to close the issue :)

[2019-07-17 10:49] ravikyram commented on #30749
This question is better asked on StackOverflow since it is not a bug or feature request. There is also a larger community that reads questions there and provide better and faster support for such issues. Thanks!

[2019-07-17 10:59] #30794 closed

[2019-07-17 11:00] pandrey-fr commented on #30788
Hi,

No offence, but your post makes no sense. Your reported results suggest that either you had an extremely lucky choice of initialization weights (which could be the case, and is nothing of real interest, especially as it cannot be easily reproduced since you did not set a seed), or you basically trained the model multiple times in a row (i.e. increased the number of epochs) - this is typically

[2019-07-17 11:09] pandrey-fr commented on #30763
Hi,

I totally agree with you on the global message here - it would be really nice indeed to unify things a bit, especially with Eager yielding messy overheads but being rather practical when debugging.

That being said, there currently is a not-so-pleasant solution: do not use tf.function, implement tensorflow control flows instead of using python ones (aka use tf.cond and tf.while_loop), and tes

[2019-07-17 11:14] leops95 commented on #30721
@gadagashwini Yes, I followed the steps of the first video and I still have the same error message. Now I have the 2.0 version, but I don't believe it's the main issue here. I am working on it and will keep you informed as soon as I find something.

Thanks a lot for your time and consideration towards my request !

[2019-07-17 11:18] ravikyram commented on #30734
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the code snippet to reproduce the issue. If you are unclear what to include see the issue template displayed in the [Github ](https://github.com/tensorflow/tensorflow/issues/new/choose)new

[2019-07-17 11:23] ignvinay commented on #20886
Yeah @ved27 .
Any suggestions to resolve this ?

[2019-07-17 11:25] ismael-elatifi opened #30797 ".predict with numpy arrays fails if predictions are time major instead of batch major"
In TF 1.14, .predict fails if predictions are time major i.e. their dimensions are [NB_TIME_STEPS, BATCH_SIZE, N] and not batch major as usual i.e. [BATCH_SIZE, NB_TIME_STEPS, N].
The error is :
[code]
The cause of the bug is that when TF pre-allocates the destination ndarray in self.results, it always assume batch major dimensions (hardcode).
Code in `tensorflow/python/keras/engine/training_utils

[2019-07-17 11:28] liudefu opened #30798 "slim"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2019-07-17 11:31] Jnasic opened #30799 "Unable to find implementation of Select TensorFlow operators"
I am trying to use Select tensorflow operators ( https://www.tensorflow.org/lite/guide/ops_select ). I have successfully created AAR file. But android studio is unable to find implementation of
**implementation 'org.tensorflow:tensorflow-lite-with-select-tf-ops:0.1.100'**

as described in (https://www.tensorflow.org/lite/guide/ops_select).
Kindly tell me how should I implement select-tf-ops tflite

[2019-07-17 11:38] anush-o commented on #30768
I was able to replicate the issue with TF VERSION=2.0.0-dev20190716. Take a look at the Gist of [Colab link](https://colab.research.google.com/drive/1398dDTnZa2U3EDSYZQ3Zp5vwjR_mwe5i) .Thanks!

[2019-07-17 11:43] anush-o commented on #30753
@bonlime ,
Please take a look at [software requirements](https://www.tensorflow.org/install/gpu#software_requirements) for TF installation.Thanks!

[2019-07-17 11:47] anush-o commented on #30747
@Ramzi09 ,
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue temp

[2019-07-17 11:50] Oktai15 opened #30800 "tf.function doesn't see methods of class"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from binary
- TensorFlow version: 2.0beta
- Python version: 3.6
- CUDA/cuDNN version: 10.0

**Describe the current behavior**

I am working with GAN. I have `Trainer` class which has the following methods:  `pass_one_step_gan`, `__pass_critic` and `__pass_generator`. I

[2019-07-17 11:53] AbhimanyuAryan commented on #30776
@rmothukuru @ymodak what exactly is this problem? Can you give me some instructions. I'm clueless & I have deadlines in place to get it to work. Thanks

[2019-07-17 11:53] ved27 commented on #20886
Hi

So , can you post the code ? or a snippet of that

[2019-07-17 11:54] Oktai15 commented on #30799
@Jnasic, try to replace all `tf.where` to `where` from this [issue](https://github.com/tensorflow/tensorflow/issues/30222).

[2019-07-17 11:56] ignvinay commented on #20886
Freezing of buffer is as follows :

`with tf.Session() as sess:

    y_conv, keep_prob = deepnn(x)
    with tf.name_scope('loss'):
      cross_entropy = tf.losses.sparse_softmax_cross_entropy(
        labels=y_, logits=y_conv)
      cross_entropy = tf.reduce_mean(cross_entropy)

    graph = tf.get_default_graph()

    with graph.as_default():
      tf.contrib.quantize.create_training_graph(input_g

[2019-07-17 11:57] jkamalu commented on #30787
I think you are trying to treat `a` as a symbolic tensor, when in reality it is an eager tensor. When you create the Lambda layer, invoking the layer's `call` function with non-Input tensors in TF 2.0 builds the layer and returns a real valued result, which is _not_ a symbolic tensor i.e. it cannot be used as the target output in instantiating a Model. Instead, do the following:

`
class MyModel(t

[2019-07-17 11:57] ignvinay commented on #20886
Please let me know how to solve this.

[2019-07-17 12:03] jsnowacki opened #30801 "fit_generator with use_multiprocessing=True causes memory usage grow (leakage) on TF 1.13+"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Debian 9 (GCP AI Platform Jobs and notebooks), Ubuntu 18.04 (custom)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary

[2019-07-17 12:06] andreas-eberle commented on #24828
For Tensorflow 2.0 setting allow_growth worked for me like this:

[code]

@ymodak: This issue is still totally active. Can you reopen it, as you pointed out in the close message? There should be a fix from the tensorflow side so that we don't have to rely on this hack.

[2019-07-17 12:11] Jnasic commented on #30799
But I am trying to implement this functionality ( https://www.tensorflow.org/lite/guide/ops_select ) which is different than select operator. Actually I shifted to tensorflow lite select operators because I was unable to find custom implementation of ExpandDims which tflite does not support now. If you can help me with this it would be great though.

[2019-07-17 12:14] Oktai15 commented on #30799
@Jnasic I use `tf.expand_dims` and everything is okay, my model is converted to tflite sucessfully.
Example:
`ps = tf.expand_dims(tf.expand_dims(ps, 1), 1)`

[2019-07-17 12:17] acezzz commented on #30647
I encountered the same issue. The solution/workaround for version 1.14 version, probable works for 2.0 as well, is to modify  tensorflow\tools\def_file_filter\def_file_filter.py.tpl to add those missing symbols. For instance around line 130.

The long term solution is to modify the rules in this file to include more critical symbols.

[2019-07-17 12:18] Jnasic commented on #30799
Ohh great!
But how can I include that in TOCO command. Actually I am using DeepLabv3 + coco trained (http://download.tensorflow.org/models/deeplabv3_mnv2_pascal_trainval_2018_01_29.tar.gz) but I am unable to convert it to tflite because of ExpandDims. I used following command for conversion.

`toco --graph_def_file=/home/abdullah/models-master/research/frozen_casted.pb --input_format=TENSORFLOW_GR

[2019-07-17 12:20] ved27 commented on #20886
Hi ,

Is create_eval_graph(..) used in the above ?

I can suggest you to use the above api after deepcnn() for inference and load from ckpt and save the frozen file

[2019-07-17 12:21] acezzz commented on #30552
I encountered the same issue in version 1.14 version. But I think the solution probably works for 2.0 as well.

The solution is to modify tensorflow\tools\def_file_filter\def_file_filter.py.tpl to add those missing symbols. For instance around line 130.

The long term solution is to modify the rules in this file to include more useful symbols.

[2019-07-17 12:21] AbhimanyuAryan commented on #30776
what output node should I use for model zoo's `ssd_mobilenet_v1_coco` model(trained on my own custom dataset)

[code]

Things I understand & don't understand:
input_checkpoint: ✓ [check points that were created during training]
output_graph: ✓ [path to output frozen graph]
out_node_names: X

I don't understand `out_node_names` parameter & what should inside this considering it's ssd_mobilnet not i

[2019-07-17 12:22] coderforlife commented on #28937
I hope this patch still works. But should be easy to re-make though, it's a one-word-change.

[code]

[2019-07-17 12:22] acezzz commented on #30552
The solution proposed at https://github.com/guikarist/tensorflow-windows-build-script/blob/master/patches/tf_exported_symbols_msvc.lds only works for versions earlier than 1.14.

[2019-07-17 12:22] ignvinay commented on #20886
After deepnn(), called create_training_graph, which will do quantization.
So how can i call create_eval_graph, which is meant for inference.

Can you post your suggested code , please.

[2019-07-17 12:25] acezzz commented on #30246
please try to see if  https://github.com/guikarist/tensorflow-windows-build-script.git could help.

[2019-07-17 12:25] maohuui commented on #20586
` auto gt_pts_trans = tensorflow::ops::Transpose(root, gt_pts, NULL);  `
I used 'tensorflow::ops::Transpose()' and occurred error despite gt_pts  is  DT_FLOAT

error: static assertion failed: Specified Data Type not supported
   static_assert(IsValidDataType<T>::value, "Specified Data Type not supported");
error: ‘v’ is not a member of ‘tensorflow::DataTypeToEnum<long int>’
       Tensor t(DataTyp

[2019-07-17 12:32] ignvinay commented on #20886
This is not at inference. Its during training.

[2019-07-17 12:34] ved27 commented on #20886
Toco is used for inference . And hence you need a frozen pb file for inference

[2019-07-17 12:34] Kjos commented on #24828
Alternatively setting the GPU memory fraction also works

Op wo 17 jul. 2019 om 14:14 schreef Andreas Eberle <notifications@github.com

[2019-07-17 12:36] ignvinay commented on #20886
The frozen graph generated using tf.train.write_graph(out_graph_def,"./", "frozen_train_quantize.pb", as_text=False)` is incorrect ?

[2019-07-17 12:37] ved27 commented on #20886
As mentioned , the frozen pb file needs to be generated from inference graph

[2019-07-17 12:37] rmothukuru commented on #30773
@jbgh2 ,
While trying to run your code, I got the error,
`NameError: name 'input_shape' is not defined`.

Then, I have set `input_shape = (32,60,80)` and tried running again and I got the below error:

`ValueError: Error when checking input: expected flatten_input to have 4 dimensions, but got array with shape (32, 60, 80)`.

In order to expedite the trouble-shooting process can you please provide

[2019-07-17 12:37] ravikyram commented on #30770
In order to expedite the trouble-shooting process, please provide a full code snippet to reproduce the issue reported here. Thanks!

[2019-07-17 12:39] FlorianUekermann commented on #27170
Ragged inputs to keras still look broken to me in the last two tf2 preview nightlies (). Is this supposed to work?:
[code]
For me it works fine with `ragged = False`, otherwise it fails with the exception: ```W tensorflow/core/common_runtime/base_collective_executor.cc:216] BaseCollectiveExecutor::StartAbort Invalid argument: You must feed a value for placeholder tensor 'input_1/flat_values' with

[2019-07-17 12:51] aayushthakur commented on #28163
I no longer face the above error but now if I use my custom quantized model and I get this error
`java.lang.IllegalArgumentException: Cannot convert between a TensorFlowLite buffer with 602112 bytes and a ByteBuffer with 150528 bytes.`

If I use a custom float model then there are no errors.

My code is as follows:
[code]

[2019-07-17 12:52] yangwenhuan commented on #17907
@byronyi , I want to consult some problems about RDMA, could you help me?

[2019-07-17 12:54] ignvinay commented on #20886
Introduced additional code as below :
with tf.Session() as sess:
  inference_graph(sess)

where function is :

[code]

I get the errors as :
    raise ValueError('Training op found in graph, exiting %s' % train_op_list)
ValueError: Training op found in graph, exiting {'ApplyAdam'}

[2019-07-17 12:54] ved27 commented on #20886
This link for ref.

https://github.com/tensorflow/tensorflow/blob/r1.14/tensorflow/contrib/quantize/README.md

[2019-07-17 12:58] ignvinay commented on #20886
Same code i used .

[2019-07-17 13:03] ved27 commented on #20886
Try to make training and inference codes in separate files

[2019-07-17 13:08] BeWe11 opened #30802 "Using tf.function while enumerating a dataset causes an infinite loop"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-07-17 13:14] vibhatha commented on #27880
@DocDriven
I used Python 3.6.9 with the latest pip and tested this with
[code]

What is your setting? It feels like the 1.14 is the stable release for now. I assume you're using it.
And also did you try using

`converter = tf.compat.v1.lite.TFLiteConverter.from_keras_model_file(keras_file)`

I think you have used toco converter. What I did was saved the keras model and then load it to convert usin

[2019-07-17 13:17] vibhatha commented on #27880
I changed the image sizes from 1024x1024 to smaller image size, then it worked pretty well.

@suharshs  Is there a constraint on the data size in the inference level?

For instance flat 28x28 which is lesser size compared to 1024 x 1024. The last layer is not softmax, I can remember there is a 16K limit on softmax. Any idea on this?

[2019-07-17 13:22] dlepzelter commented on #30770
Sure, though the training data is probably not small enough for a Git message attachment and not publicly available online. For the minimal reproducible version, use the following:

[code]

How should I go about sharing the training data?

[2019-07-17 13:24] lminer opened #30803 "Padding causing 64x increase in memory size on TPU"
I'm trying to train a variation of a u-net on a TPU. However, I can't seem to get it to fit into memory. I'm using tf.keras with tensorflow 1.13.2. Here's a portion of the error logs proving a list of the ops that are the greatest memory hogs. CrossReplicaSum appears to be especially bad, but so are some multiplication ops. I don't quite know how to go about debugging this as the model won't even