[2018-01-28 19:10] willSapgreen commented on #15142
The solution from @frankchn resolved the same issue. Thanks!!!

My system:
RELEASE=18.3
CODENAME=sylvia
EDITION="Cinnamon 64-bit"
DESCRIPTION="Linux Mint 18.3 Sylvia"
DESKTOP=Gnome
TOOLKIT=GTK
GRUB_TITLE=Linux Mint 18.3 Cinnamon 64-bit

GPU:
description: 3D controller
product: GK106M [GeForce GTX 765M]
vendor: NVIDIA Corporation
physical id: 0

Nvidia Driver:
384.111

CUDA:
cuda_8.0.61_375.26_linu

[2018-01-28 19:41] FrancescoSaverioZuppichini commented on #13895
Dear @MarkDaoust the eager execution cannot be used with the Estimator. Also ` train_and_evaluate` will run evaluation AFTER training. I want to have a validation test that must be run at every train step but this seems impossible to do with the Estimator, maybe a better design could have solved the problem. Any ideas? I want to run one train step and one evaluation step WITHOUT loading the graph

[2018-01-28 21:18] sagardatascientists commented on #4196
Its better to use Theano if you want to run two process on same GPU.

[2018-01-28 22:11] jliamfinnie commented on #10153
I had trouble with these instructions for quite a while, I was still getting the 'Native TF methods not found' errors. After a while, I realized that the problem was my Android CPU was not arm-based, but rather x86_64. So, in my case, I used the awesome instructions from @matt-deboer, but replaced 'cpu=armeabi-v7a' with 'cpu=x86_64', and that resolved things for me.

[2018-01-28 22:44] ahundt opened #16526 "TF1.5 configure overwrites export TF_CUDA_VERSION=9.1"
It seems `configure` overwrites the BASH flag:
[code]
Here is the 1.5 branch of my [tensorflow.sh](https://github.com/ahundt/robotics_setup/blob/tf-1.5/tensorflow.sh) install script.

Here are the key code lines from the [tensorflow.sh specific hash to reproduce this error](https://github.com/ahundt/robotics_setup/blob/8a7940f74945f09d2a6bfc1a08d06f156a4c79f9/tensorflow.sh) install script,  and 16

[2018-01-28 22:56] ahundt commented on #16526
I managed to hack around this by manually setting [configure.py](https://github.com/tensorflow/tensorflow/blob/master/configure.py#L39):
[code]
to
[code]

However, it would be nice if the script was updated to read the export variables correctly again. 👍

[2018-01-28 22:59] ahundt commented on #16526
...and then I immediately ran into the following interesting error which is apparently some sort of odd globbing bug?

[code]

[2018-01-28 23:15] ahundt commented on #11903
I'm encountering this same error when compiling the tf1.5 release from source. Would someone mind posting the flags or a super obvious command line BASH script that enables MPI correctly works with ubuntu 16.04?

[2018-01-28 23:19] YuhuaBillChen commented on #12948
I just want to say as for 3D medical images, the 3D DenseNet takes up even more memory dues to the extra dimension of parameters, pushing me to use only 1 or 2 images in a mini-batch, which causes a lot of headache issues during training (Batch normalization won't work in such a small batch, even the batch re-normalization can't help).

[2018-01-28 23:21] ziofil commented on #812
Two years later now. Is there a better solution or should we still use the code in @rafaljozefowicz 's example?

[2018-01-28 23:28] ahundt commented on #16526
I needed an additional hack from https://github.com/tensorflow/tensorflow/issues/11903#issuecomment-332718012 to avoid an MPI error:
`export CC_OPT_FLAGS="-DOMPI_SKIP_MPICXX=1 -march=native"`

[2018-01-29 01:28] richardwth commented on #16488
I had the same problem using TensorFlow 1.5.0 on Pycharm with Anaconda. I solved it by updating numpy on both Pycharm and Anaconda to 1.14.0 (I thought they share the same numpy package but actually no). [This post](https://stackoverflow.com/questions/48054531/runtimeerror-module-compiled-against-api-version-0xc-but-this-version-of-numpy) indicates that wrong pandas version may also be a trigger.

[2018-01-29 02:11] Aashit-Sharma commented on #16279
`def nl_decoder_condition(self,it,outputs,hidden):
			return it[0] < self.oplen_nl[0]

		# This is the step where we concatenate hidden state with context hidden state
		def nl_decoder_function(self,it,outputs,hidden):
			out,hidden = self.decoder_nl_cell(tf.stack([tf.concat(0,[outputs[-1,:],self.nl_context_concat])]) , tf.stack([hidden]))

			outputs = tf.concat(0,[outputs,out])
			return it+1,ou

[2018-01-29 02:48] songpeng326 opened #16531 "Running problems when building a VGG model through tflearn on Ubuntu to train your own data"
File "<ipython-input-15-fc398a1d9321>", line 1, in <module>
    runfile('/home/lab326/songpeng/anacoda项目/tflearn-vgg1.py', wdir='/home/lab326/songpeng/anacoda项目')

  File "/home/lab326/anaconda3/lib/python3.5/site-packages/spyder/utils/site/sitecustomize.py", line 705, in runfile
    execfile(filename, namespace)

  File "/home/lab326/anaconda3/lib/python3.5/site-packages/spyder/utils/site/sitecus

[2018-01-29 03:10] sakaia opened #16532 "Keras/TF1.5.0 does not consider TensorBoard embeddings_freq/embeddings_metadata"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow) describe in following**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04) Windows 7**:
- **TensorFlow installed from (source or binary) binary**:
- **TensorFlow version (use command below) 1.5.0**:
- **Python version 3.5.1**:
- **Bazel version (if compiling from sour

[2018-01-29 04:22] xuezeao commented on #7623
you can check the system path, because I had this problem. for example, add my path to system path "C:\ProgramData\Anaconda3\envs\T\Library\bin"

[2018-01-29 04:33] mpkuse commented on #16311
Here is a standalone script for my code.
https://gist.github.com/mpkuse/10985d9ca11d9555a3ef065aab5070d3

Sample execution:
1 (17, 4096)
2 (17, 4096)
3 (17, 4096)
4 (17, 4096)
5 (17, 4096)
6 (17, 4096)
7 (17, 4096)
8 (17, 4096)

I tested it on an older version and a newer version of tensorflow (on separate computers).
I still get a segmentation fault on the newer computer. However, it works well o

[2018-01-29 04:39] usu008 commented on #16393
use predefined  "object detection" code with my own data set
ubuntu 16.04
tensorflow installed in anaconda environment
tensorflow 1.4.0
bazel 0.4.5
cpu version

[2018-01-29 06:17] yaohualibin opened #16534 "warning with tf.losses.softmax_cross_entropy"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows and Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.5
- **Python version**: 3.6
- **Bazel version (if compiling from source

[2018-01-29 06:53] luchensk commented on #15136
Waiting +1

[2018-01-29 06:55] martinwicke commented on #12746
All layers in tf.keras come with this ability. You should use them.

I still believe that there would never be a need to reshape, or if there was, you'd want to know.

[2018-01-29 06:55] #12746 closed

[2018-01-29 06:56] dkaberna commented on #3467
Can I please ask two questions?
1.) If we built our own custom image, where do we go find it?  Documentation says: "${USER}/tensorflow:latest", but I can't find mine.

2.) When I run parameterized_docker_build.sh, it says
FAIL: wget http://127.0.0.1:8888/notebooks/*.ipynb

Any ideas how I can troubleshoot this?  Thanks so much.

[2018-01-29 06:59] martinwicke commented on #6815
We modified it to conform to the numpy API, which for most users is much more relevant than PEP8.

We could talk about supporting both (without deprecation warning), or even pushing the keepdims support into a tf.numpy compatibility module. I'd much rather just have one though. This bug is about that, make sure that one can use a single version throughout.

@saxenasaurabh FYI.

[2018-01-29 07:03] youkaichao opened #16535 "only merge specific kind of summary"
Currently, I need to gitve `tf.summary.merge` an input arg to specify what summaries to merge.
But it will be more convinient if there is a function called `tf.summary.merge_scalar` / `tf.summary.merge_image` cause scalars and images are often logged with different frequencies, and they need to be merged seperately.

[2018-01-29 07:06] martinwicke commented on #15278
@av8ramit, It seems the innocent-looking 69c3245 has broken gradients for argmax in 1.5. Did this make it into final? If this is easy to trigger, we probably have to patch it. Not sure though given the timeline for 1.6.

[2018-01-29 07:15] gunan commented on #15136
I think the enum dependency should not be fetched anymore for later python versions, @yifeif to confirm.
But we should still kill the dependency on enum34.

[2018-01-29 07:16] gunan commented on #15758
Yes, the infra config we have is outside the repository.

[2018-01-29 07:26] martinwicke commented on #5277
@tatianashp FYI for the ongoing OpenMP discussions.

[2018-01-29 07:32] martinwicke commented on #7876
@sherrym is this intended? Is the checkpoint still there but the checkpoint list is cleared since it's a new saver/graph?

[2018-01-29 07:36] ankitvgupta opened #16536 "Feature Request: global average pooling layer in tf.layers"
Hello,

Can we add an implementation of global_average_pooling to tf.layers or tf.contrib.layers? It can look much like the Keras implementation here: https://www.tensorflow.org/api_docs/python/tf/keras/layers/GlobalMaxPool3D
and essentially just requires calling tf.reduce_mean.

I suspect lots of people have written functions called global_pooling that just call reduce mean, and it would be nice

[2018-01-29 07:41] jeffxtang commented on #15921
Hi @petewarden I just created a PR https://github.com/tensorflow/tensorflow/pull/16537 Thanks! Jeff

[2018-01-29 07:44] martinwicke commented on #15983
TFRecords and Keras is possible, but not necessarily simple.

The pseudocode you describe is possible. You can add learning rate to the params arg (which is passed to the model_fn).

Then, make a new estimator in each iteration of the loop. The Estimator will read the last state from disk anyway every time you call one of its methods.

It would look like this:

[code]

Note that constructing the E

[2018-01-29 07:53] kuri-leo commented on #16477
I meet the same issue. and I've reported it to Tensorflow team.

As @mtngle commented in #16513 , there are three solutions:

waiting for response.

[2018-01-29 08:56] jeremy-rutman commented on #5354
OOM is out of memory - so if you now turn down per_process_gpu_memory_fraction or put your net on a diet you may get past it.

[2018-01-29 09:24] DEKHTIARJonathan opened #16538 "Keras ProgBar is not working properly anymore with TF 1.5.0"
If you run the following code with TF 1.4.*, this code works fine. However, if you run it with the newly released TF 1.5.0, the output is abnormal:

[code]

#### Screenshot Effect:

##### In Jupyter NB:
![image](https://user-images.githubusercontent.com/10923599/35502790-65112c36-04de-11e8-980f-59f1bc375d60.png)

[2018-01-29 11:06] selcouthlyBlue commented on #16510
Proposal:

Modify the implementation of `images_to_sequence` and `sequence_to_images` such that they'll accept dynamic batch sizes. I have already pushed [it](https://github.com/selcouthlyBlue/tensorflow/commit/7fcc9393e0b9dbc1b70fe746dfabca424c320b38) into my forked copy of tensorflow. The gist of it is instead of multiplying the `height` of the images to the `batch_size`, I multiplied it to the

[2018-01-29 11:55] dushmis commented on #11440
Are we getting the updated tutorial anytime soon with prediction ?

[2018-01-29 12:02] redfish-lee commented on #16461
which tensorflow version have you installed? `tensorflow` or `tensorflow-gpu`

- `macos 10.13.3`
- `python 2.7.14` with `pip install tensorflow`, pass
- `python 3.6.4` got same error issues, uninstall first and then `pip3 install tensorflow` fix the problem.

[2018-01-29 12:06] yunyin opened #16539 "How to use tensorflow library in c programs??"
I build shared libraries in tensorflow-serving with bazel.
However, I can not build C programs with the shared libraries.

I build C programs like this:
g++ main.cc -L../../bazel-bin/tensorflow_serving/rnnlm -lrnnlm_client_run -ldata_generator

Details is shown below:

../../bazel-bin/tensorflow_serving/rnnlm/librnnlm_client_run.so: undefined reference to `tensorflow::serving::PredictionService::S

[2018-01-29 12:50] namrata-ibm opened #16540 "//tensorflow/python:nn_test fails with AssertionError"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04 s390x
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: v1.4.1
- **Python version**: 2.7.12
- **Bazel version (if compiling from source

[2018-01-29 13:11] jbedorf commented on #11903
Did the configure script place a symbolic link from your MPI install folder's `mpi.h`  into the `third_party/mpi` folder? This error would indicate that it even failed to do that step (which is slightly different from the `mpio.h` errors reported by others.)

[2018-01-29 13:28] Androbin commented on #15758
Is the `bazel-run` directory perfectly isolated or can the repository be located in the script?

[2018-01-29 13:36] CasiaFan commented on #16455
It seems that my BN layer usage is wrong. Based on Tensorflow `tf.layers.batch_normalization()` [document](https://www.tensorflow.org/api_docs/python/tf/layers/batch_normalization),

train_op should be included in with control_dependancy scope:  <br>
[code]

Modify upper script into following snippet and it works fine now!
[code]

[2018-01-29 13:36] #16455 closed

[2018-01-29 13:44] Godforever commented on #225
Just Kernel:Restart & Run All

[2018-01-29 13:55] daisylab opened #16541 "Looking for a way to compile TF without SSE."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2018-01-29 14:18] wangshuaizs opened #16542 "Cannot merge devices with incompatible jobs"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04(kernel 4.10)
- **TensorFlow installed from (source or binary)**: source code
- **TensorFlow version (use command below)**: r1.4.0
- **Python version**: 2.7
- **Bazel version (if compiling fr

[2018-01-29 14:20] WenmuZhou commented on #14942
@ispirmustafa I have update a latest [code](https://github.com/WenmuZhou/Segmentation-Free_OCR), the python version I used is python3.5.2, and I have test once and reproduce the issue.
the environment is
python 3.5.2
tensorflow 1.3 or 1.4

Some Chinese comments cause the code to no longer run under python2 and if you need to test in python2 you need to comment out these Chinese comments

[2018-01-29 14:22] wangshuaizs commented on #16542
BTW, the result of concatenating, var_concat, is a tensor lying in worker, so I think this assign op has nothing to do with  '/job:ps/task:0', is right?

[2018-01-29 14:29] zixia commented on #10215
+1

[2018-01-29 14:45] Celelibi commented on #16246
As far as I could test, it doesn't compile with gcc 6.4.0. However, it compiles with gcc 6.3.0 (more specifically, the debian version 6.3.0-18).

[2018-01-29 14:56] willianscfa commented on #9661
@lissyx , I'm trying to do basically the same thing, cross-compile tfcompile binary to raspberrypi. However, I'm using the VGG16 network in Keras. How did you find the targets needed for your model ```//tensorflow/compiler/aot:runtime //tensorflow/compiler/xla/service/cpu:runtime_matmul //tensorflow/compiler/xla:executable_run_options ``` and how did you compile them for arm?

[2018-01-29 15:12] gauss-clb opened #16544 "deconv_output_length(input_length, filter_size, padding, stride)"
deconv_output_length(input_length, filter_size, padding, stride) is defined [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/layers/utils.py#L159)

When padding is valid, input_length += max(filter_size - stride, 0), why to use `max` function?
See more details on #2118

For conv2d:
[code]

For conv2d_transpose:
[code]

Even when filter_size is less than stride, I think

[2018-01-29 15:53] LucasMahieu opened #16545 "Graph transform : fold_constant issue since tf v 1.5"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux centos 7
- **TensorFlow installed from (source or binary)**: with pip
- **TensorFlow version (use command below)**: 1.5.0 (vs 1.4.1)
- **Python version**: 2.7.5
- **Bazel version (if compiling from sour

[2018-01-29 16:02] BrazilForever11 commented on #2462
`cross_entropy = tf.reduce_mean(-tf.reduce_sum(y_ * tf.log(y), reduction_indices=[1]))`

return nan when predict class has probability zero

[2018-01-29 16:27] pokey commented on #16478
I think this issue should be reopened.  @WongChen has posted a workaround, but this is still a bug in tensorflow's dependency setup, is it not?

[2018-01-29 16:44] mahyaar commented on #16254
I was finally been able to achieve my goal through a different approach. But I found a bug in the current slim build. It seems like the existing bazel deployment to export and freeze a graph is not compatible with the latest slim release as it generates an error about lack of dilation in node def.

[2018-01-29 16:46] roumposg commented on #16466
Thanks for the idea. This is useful, but one problem I see is that it introduces a dependency of tensorflow on tensorboard, which we do not allow. One solution would be to port the plugin into tensorflow/contrib/tensorboard/plugins so we need the opinion of the tensorboard people. If this works and it does not break existing pipelines, it would be a good contribution.

[2018-01-29 17:01] ziofil opened #16548 "AttributeError: module 'tensorflow.python.layers.layers' has no attribute 'conv_2d'"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: see below
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: OSX 10.13.2
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.5.0
- **Python version**: 3.6.3
- **GPU model and memory**: no GPU
- **Exact comman

[2018-01-29 17:08] eisenjulian commented on #16466
Makes sense, I imagined the added dependency would be an issue. Do I need to file a separate issue there to ask about the porting of the plugin? Or what's the best way to get their input?

[2018-01-29 17:23] roumposg commented on #16466
I am not sure. @tatianashp what is the way to proceed?

[2018-01-29 17:25] mrry commented on #16481
Hmm, what you're doing doesn't sound like it's wrong, because that's effectively what the Python version would be doing too. And the recent change should make it *less* likely to see a `NotFound` error, because it changes the function implementation to share the same `ResourceMgr` (which defines the namespace for resource names and containers), whereas before there was an explicit copying-and-rewr

[2018-01-29 17:29] #11848 closed

[2018-01-29 17:32] Celelibi commented on #16162
I recompiled from the sources, and it also crashes.
It crashes as well when I try to get the help of tf.RunMetadata().
I suspect it would crash if I try to get the help of any protobuf class.

[2018-01-29 17:58] tatatodd commented on #16279
@Aashit-Sharma I think you've misunderstood my request.  Please provide a standalone example that exhibits the problem when it is run.  I.e. provide the full python program.  Otherwise it's hard to know exactly what's going wrong.  Thanks!

[2018-01-29 18:01] tatatodd commented on #16311
@asimshankar any thoughts on this, or can you suggest someone who might be able to look into this?

[2018-01-29 18:24] markostam opened #16552 "Sampled softmax loss stops gradients on sampled classes"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
Binary
- **TensorFlow version (use command below)**:
1.3
- **Python version**:
2.7
- **Bazel version (if compiling from source)**:
N/A
- *

[2018-01-29 18:26] siryog90 opened #16553 "Any way to pass a feedable placeholder for num_spectrogram_bins in linear_to_mel_weight_matrix?"
I need to run `auido->spectrogram->mel` graph for three different frame sizes. Ideally, I would have `frame_size` input tensor of the `stft` function be a placeholder and feed it in a loop. However, when computing the mel scale, tf does a value check for the number of bins, which according to my understanding, means that the number of bins needs to be specified during the graph construction.
Any s

[2018-01-29 18:30] angersson commented on #15278
@martinwicke 69c324591ba4dfeafb403ee59de56ffe063c1e94 is present in 1.5.0 (Github shows it being a part of 1.5.0, as does `git co google/r1.5 && git log --grep 'Use argmax output_type'`)

[2018-01-29 18:34] yifeif commented on #15136
We shouldn't be depending on enum34 for python 3 anymore. Let me know if that is not the case? Should we close this issue or keep it open for removing enum34 entirely at some point @gunan?

[2018-01-29 18:40] martinwicke commented on #15278
That probably means argmax gradients would fail in 1.5. Bummer.

We need to fix this though. I'd love to understand why it fails, it looks like a bug in argmax itself, since using the dtype shouldn't break gradients. And we have to fix this soon, otherwise we'll have to patch 1.6.

[2018-01-29 18:45] epiception commented on #206
Does scatter_nd() work in the case of <unknown> indices shape? I'm trying to update a zero-filled matrix with values of dynamic indices shape. Is there a workaround for this? (Don't know if this has been asked before).

[2018-01-29 19:00] reedwm commented on #16553
/CC @rryan @dpwe, can you take a look?

[2018-01-29 19:19] reedwm commented on #16523
/CC @mrry, what do you think of this proposal?

[2018-01-29 19:21] reedwm commented on #16541
/CC @tfboyd any comments?

[2018-01-29 19:23] reedwm commented on #16539
/CC @nfiedel.

Also, the TensorFlow Serving repo is [here](https://github.com/tensorflow/serving), so I think you should file issues there (@nfiedel can you confirm?)

[2018-01-29 19:26] mrry commented on #16523
Seems reasonable. I'd lean towards the "making it actually work like `print()`" option, and consider adding a new API (perhaps in `tf.contrib`) that offers more options.

[2018-01-29 19:28] cy89 commented on #15990
Thanks; done.

[2018-01-29 19:28] reedwm commented on #16535
/CC @dandelionmane, thoughts?

[2018-01-29 19:32] reedwm commented on #16523
Marking as contributions welcome for adding the contrib op.

[2018-01-29 19:33] reedwm commented on #16531
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2018-01-29 19:33] #16531 closed

[2018-01-29 19:34] reedwm commented on #16513
@mtngld is correct.

[2018-01-29 19:34] #16513 closed

[2018-01-29 19:35] reedwm commented on #16477
Marking as contributions since there's a pull request. (@jackyko1991 can you link the pull request?)

[2018-01-29 19:37] reedwm commented on #16515
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2018-01-29 19:38] reedwm commented on #16521
/CC @petewarden

[2018-01-29 19:47] reedwm commented on #16507
As @rootally stated, you ran out of GPU memory. Ask on StackOverflow if you have more questions.

[2018-01-29 19:47] #16507 closed

[2018-01-29 20:00] reedwm commented on #16197
I think using `tf.tile` is the best solution for now, and adding broadcasting to `softmax_cross_entropy_with_logits` would make it easy to accidentally introduce bugs, as no error would be raised if the second dimension of `labels` was accidentally omitted. I don't see what a "boradcast" node would do that a `tf.tile` would not.

/CC @ebrevdo, thoughts?

[2018-01-29 20:02] lcnature commented on #5688
I encountered the same issue, with 3D convolution, cuda 8.0, cudnn 6.0, tensorflow 1.4.0. I encountered this actually while debugging a more strange phenomenon with 1.5.0: the GPU memory is fine but consumption of memory in CPU keeps growing almost linearly with time until it uses up all the memory (e.g., I set the limit to 40 GB, and it keeps running until 40GB memory is used by the CPU). So I do

[2018-01-29 20:41] zhangyaobit commented on #12932
We recently had lots of enhancements for layout optimizer. This issue should have been fixed: I have run train_image_classifier.py for resnet with the latest version of TensorFlow on my machine, layout optimizer makes the training 23.8% faster: 0.25 steps/sec or 4 steps/sec with layout optimizer, 0.31 steps/sec or  3.23 steps/sec without layout optimizer. 4/3.23-1 = 23.8% faster.

[2018-01-29 20:41] #12932 closed

[2018-01-29 20:46] tfboyd commented on #12932
@zhangyaobit   Thank you for retesting.

[2018-01-29 20:51] tfboyd commented on #15140
@bringtree Your likely problem bsed on the error

- CUDA 9 needs driver 384.x+
- CUDA 9.1 needs driver 387.x+

I am 99% sure if I am wrong I will update this or delete if someone has a cleaner comment.

[2018-01-29 20:52] RockfordWei commented on #19
Perfect-TensorFlow - [Swift Lanugage Binding for TensorFlow on Server Side](https://github.com/tensorflow/tensorflow/blob/28c3c5dd38e3b397c2cf0acdaa6388dcbf0349f7/tensorflow/docs_src/community/welcome.md) just synchronized to
[1.5.0](https://github.com/PerfectlySoft/Perfect-TensorFlow/releases/tag/1.5.0):

Adding `Results` for Graph: `results.missingUnusedInputMappings()`
Preparing next GM for:

-

[2018-01-29 21:25] tfboyd commented on #16541
@daisylab   I would have tried what you did with i686 or pentium2.  Adding Amit because if SSE is hard coded on that is beyond what I can figure out fast.

[2018-01-29 21:26] tfboyd commented on #16541
@av8ramit   User used what I would have tried.  Maybe SSE is hardcoded or the check is wrong.  Random guesses.

[2018-01-29 21:27] eaplatanios commented on #16481
@mrry I can look into creating a minimal example this week, but I have found some information that might be useful. It has to do with creating functions and capturing control dependencies of these functions. Currently, functions are created in a separate graphs and tensors that are used as inputs are captured and replaced with placeholders to be fed later. What about control dependencies that some

[2018-01-29 21:53] tylerlekang commented on #16477
I see a couple pull requests to update the release notes file from "CUDA 9" to "CUDA 9.0", but the Windows gpu installation instructions on the TF website (https://www.tensorflow.org/install/install_windows) still show 8.0 and 6.0.

[2018-01-29 21:58] av8ramit commented on #16541
@gunan might have a better answer than me.

[2018-01-29 22:05] reedwm commented on #15953
It seems like a good idea to have an environmental variable, say TF_LOG_FILE, where setting it would append logs to that file.

/CC @ebrevdo, @petewarden what do you think of this idea?

[2018-01-29 22:06] reedwm commented on #15997
/CC @gunan what do you think of this idea?

[2018-01-29 22:14] gunan commented on #15997
Bazel should not download the unused stuff in your workspace anyway, so I do not see a big upside compared to the much longer workspace file.
You said you are trying to use a different version of one of the TF dependencies? Is that your motivation?

[2018-01-29 22:16] reedwm commented on #16045
Marking as "awaiting response", since it appears a TF reproducer is needed to debug this.

As for the issue "XLA doesn't respect visible devices (neither CUDA Visible devices or tf config options)", @joeyearsley, can you file a separate issue?

[2018-01-29 22:16] reedwm commented on #16039
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-29 22:16] #16039 closed

[2018-01-29 22:18] esvhd commented on #16358
+1 for this... had to hack my installed version to get this working...

[2018-01-29 22:20] riklopfer opened #16555 "LSTMBlockFusedCell#call no longer supports list of tensors"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Unbuntu
- **TensorFlow installed from (source or binary)**: soruce
- **TensorFlow version (use command below)**: 'v1.5.0-0-g37aa430', '1.5.0'
- **Python version**: 2.7
- **Bazel version (if compiling from source)**: Build label: 0.9.0

### Describe the problem
[Documentation](https://www.tensorflow.org/api_docs/p

[2018-01-29 22:29] petewarden commented on #2807
We are focusing our eight-bit efforts on TF Lite (visible at tensorflow/contrib/lite), so we aren't expecting TensorFlow's quantized performance to improve in cases where it's not currently fast. These tend to be on x86 platforms (we're concentrating on ARM performance for mobile), and for models that use ops that we don't have quantized implementations for (which is most models outside a few visi

[2018-01-29 22:29] #2807 closed

[2018-01-29 22:31] petewarden commented on #3628
This is still an issue, and it seems to be related to the way we handle references in TensorFlow when freezing. I haven't had time to investigate, but it's come up repeatedly so it seems worth keeping alive. I'm cc-ing Suharsh since he's looking at related areas around graph freezing.

[2018-01-29 22:32] petewarden commented on #4863
Closing this, since the preferred approach is to use `__ANDROID_TYPES_FULL__`.

[2018-01-29 22:32] #4863 closed

[2018-01-29 22:34] KevOBrien opened #16556 "tf.argmax appears to be functioning incorrectly on occasion"
**EDIT**

[Link to script and input/label data as pickle files to reproduce the error.](https://drive.google.com/open?id=13Kice6p3IQvRVOKIlW0DSvD9wwJDL-YH)

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
I have written my own code. My code base, data set and batch generating algorithm are quite large, so I am attempting

[2018-01-29 22:35] petewarden commented on #5587
We know cover this a bit better in the documentation:
https://www.tensorflow.org/mobile/prepare_models

I hope this covers the problems people are running into, so closing out this bug unless there's new information.

[2018-01-29 22:35] #5587 closed

[2018-01-29 22:36] petewarden commented on #5729
Closing this bug as fixed, since we now have fairly stable Raspberry Pi builds available from:

http://ci.tensorflow.org/view/Nightly/job/nightly-pi/
http://ci.tensorflow.org/view/Nightly/job/nightly-pi-zero/
http://ci.tensorflow.org/view/Nightly/job/nightly-pi-python3/
http://ci.tensorflow.org/view/Nightly/job/nightly-pi-zero-python3/

[2018-01-29 22:36] #5729 closed

[2018-01-29 22:37] petewarden commented on #5757
Closing this, since I think it's a dupe of #2807. We are still actively working on quantization, but with the goal of deploying it in TF Lite for mobile.

[2018-01-29 22:37] #5757 closed

[2018-01-29 22:38] petewarden commented on #5938
Closing this bug as obsolete, please re-open if you're still running into this.

[2018-01-29 22:38] #5938 closed

[2018-01-29 22:40] petewarden commented on #7162
I believe this is related to #3628, since it seems like there are certain graphs we have trouble freezing due to their structure. I haven't had a chance to dig in deeper, but it seems worth keeping open since there seem to be multiple problems in this area. I'm also cc-ing Suharsh, since he's been looking at issues around freeze_graph.

[2018-01-29 22:41] petewarden commented on #7162
(reopening, since I hit the wrong button and just meant to comment!)

[2018-01-29 22:42] petewarden commented on #8208
It's been a while since there's been any updates on this bug, and nobody on the internal TF team has been working on it, so closing for now. Please reopen if it should still be active.

[2018-01-29 22:42] #8208 closed

[2018-01-29 22:43] petewarden commented on #8211
There's been no progress, and we're more focused on TF Lite for the mobile side, so I don't think we're likely to see this happen soon. Closing so that the status is clearer.

[2018-01-29 22:43] #8211 closed

[2018-01-29 22:45] petewarden commented on #8665
Another freeze graph issue, related to #3628 and #7162. Keeping open, since there are multiple related problems, but I haven't been able to work on them. Adding in Suharsh, since he has been working in this area.

[2018-01-29 22:47] petewarden commented on #9958
We're now focusing on using TF Lite for quantization, and the demo app shows how to run quantized MobileNet, so closing this one as obsolete.

[2018-01-29 22:47] #9958 closed

[2018-01-29 22:53] petewarden commented on #9961
We haven't had a chance to work on this one for the last few months, and I'm not sure when we will get to it, so closing it as infeasible. Contributions are very welcome, and please reopen if this is still an issue for you.

[2018-01-29 22:53] #9961 closed

[2018-01-29 22:54] tadeegan commented on #15997
We use tensorflow as an external repository/dependency to our Bazel build.  In order to get all the dependencies in place we need to call tf_workspace() in our WORKSPACE file.  Sometimes though, for things like Eigen, we want to use our own version which corresponds to the rest of our project. So we want to exclude the eigen declaration in tf_workspace() and use our own.

[2018-01-29 22:54] petewarden commented on #10458
I'm hoping this is now fixed, since there hasn't been activity on this for some time. Closing, but please reopen if you're still hitting this.

[2018-01-29 22:54] #10458 closed

[2018-01-29 22:56] petewarden commented on #10468
There's now an official TensorFlow to CoreML converter at https://github.com/tf-coreml/tf-coreml, so closing this as fixed.

[2018-01-29 22:56] #10468 closed

[2018-01-29 23:04] reedwm commented on #16025
I can reproduce with

[code]

@panyx0718, do you know if this is intended?

[2018-01-29 23:07] reedwm commented on #15973
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-29 23:07] #15973 closed

[2018-01-29 23:11] reedwm commented on #16555
/CC @ebrevdo can you take a look?

[2018-01-29 23:13] reedwm commented on #15939
Closing since the issue is resolved.

[2018-01-29 23:13] #15939 closed

[2018-01-29 23:27] reedwm commented on #15943
If you make your change, the C++ `AddN` op will fail since it doesn't support IndexedSlices. I don't know much about IndexedSlices, but most ops do not seem to support them.

I don't know anything about word embeddings or how `add_n` is useful to them. /CC @ispirmustafa, can you comment?

[2018-01-29 23:32] eaplatanios commented on #16481
@mrry Actually never mind, even if I work around this initialization issue and manage to run all the initializer ops fine, I still get the same error once I get to invoke `GetNext`. I'll try to create a minimal example for this, but in the meantime, do you have any idea of what could be causing the container to not be found? Shouldn't the `localhost` container always exist given that it's the defa

[2018-01-29 23:32] reedwm commented on #15833
/CC @shoyer

[2018-01-29 23:34] reedwm commented on #15835
@weidong8405347 please give a (ideally short) self-contained code sample that we can run to reproduce the problem.

[2018-01-29 23:36] gunan commented on #15136
Let's keep it open to remove enum34 entirely.

[2018-01-29 23:38] sakaia commented on #16358
As for me, I am doing like follows as workaround
[code]
For this workaround, it needs to install original keras separately.
Ref.
  https://github.com/tensorflow/tensorflow/issues/16532

[2018-01-29 23:41] reedwm commented on #15849
@ugmurthy can you give the exact bazel command used to build? It's hard to tell from the shell script. Running the script with `bash -x script.sh` will show you what command is used.

[2018-01-29 23:42] reedwm commented on #15859
/CC @aselle, can you comment?

[2018-01-29 23:48] reedwm commented on #15771
/CC @petrosmol

[2018-01-29 23:48] eaplatanios commented on #16481
Note also that if I put a breakpoint in my Scala code, this error:

[code]

keeps being printed over and over again indefinitely as if it keeps being thrown from within some loop running in another thread.

[2018-01-29 23:51] petewarden commented on #11182
We're now moving over to TF Lite as the recommended way to run quantized models, partly because it is less complex to integrate eight-bit with than classic TensorFlow. We have a demo of running the MobileNet image classification network on Android, and there should soon be full documentation on training it. I'm going to close this bug as not likely to be fixed, since our efforts will be focused on

[2018-01-29 23:51] #11182 closed

[2018-01-29 23:53] petewarden commented on #11351
This bug has been open for quite a while, and I haven't been able to work on it, so I'm adding "Contributions Welcome" and removing myself as the assignee. As far as I know, the main barriers to porting to Windows are the threading calls that gemmlowp relies on.

[2018-01-29 23:56] petewarden commented on #11489
Sorry for the lack of activity on this issue. It doesn't look like we're likely to have a chance to dig more deeply, so I'm tagging @suharshs so he's aware of another freeze_graph issue, and closing it as unlikely to be fixed. Please update with more information if this is still a problem for you.

[2018-01-29 23:56] #11489 closed

[2018-01-29 23:59] petewarden commented on #11982
I'm not sure how this would easily fit into the current TensorFlow Session::Run() architecture, since it seems like it would require at least some modifications to the inner loop of the executor and careful testing to ensure that nothing was left in an inconsistent state during the interrupt. I can definitely see how useful it would be, but for now I'll have to close this as infeasible. Pull reque

[2018-01-29 23:59] #11982 closed

[2018-01-30 00:01] santoshchilkunda opened #16561 "Parse toco generated file (.tflite) in python?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04.3 LTS
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)**: 1.4.1
- **Python version**: 3.5.4
- **Bazel version (if compiling from source)**:
- **GC

[2018-01-30 00:03] #10761 closed

[2018-01-30 00:05] petewarden commented on #12011
Since the recommended fix is to use the more up to date script, closing this one for now. I'm also hoping we'll have some improved documentation on quantization soon.

[2018-01-30 00:05] #12011 closed

[2018-01-30 00:08] petewarden commented on #12157
I'm not sure what's going wrong here, but we do now recommend using the more up to date Graph Transform Tool instead of the optimize_for_inference script:
https://www.tensorflow.org/mobile/prepare_models

Since I don't believe the same errors apply there, closing this issue.

[2018-01-30 00:08] #12157 closed

[2018-01-30 00:08] reedwm commented on #15783
I cannot reproduce on Python 3.4 on Ubuntu 14.04, with a P100 on driver 387.34, with everything else being the same.

/CC @rmlarsen, any ideas what the issue could be?

[2018-01-30 00:13] reedwm commented on #15793
/CC @sguada. Note the Supervisor is created [here](https://github.com/tensorflow/tensorflow/blob/09ec6b2c59d05230b275a14bbc54a8890b6b1c62/tensorflow/contrib/slim/python/slim/learning.py#L721). Should we mark as contributions welcome?

[2018-01-30 00:17] reedwm commented on #15815
This is a duplicate of #15835 (and of #15216, as you mentioned). Please do not file the same issue multiple times.

[2018-01-30 00:17] #15815 closed

[2018-01-30 00:18] angersson commented on #16009
You should be able to get around the prompt for SDK/NDK by also setting `TF_SET_ANDROID_WORKSPACE=0`.

[2018-01-30 00:30] reedwm commented on #15891
/CC @alextp can you take a look?

[2018-01-30 00:32] reedwm commented on #15669
@mrry, can you comment? It looks like the constant op is taking some memory from the memory call tree.

[2018-01-30 00:34] #15691 closed

[2018-01-30 00:38] alextp commented on #15891
Can you add a print(tf.get_default_graph().as_graph_def()) so I can understand how we're generating the wrong graph? (i.e. are control dependencies missing, mangled, or ignored because of weird variable stuff)

[2018-01-30 00:44] nfiedel commented on #16539
Feel free to file as a bug/request at the TensorFlow Serving link from @reedwm. Note that this looks like more general compiler / bazel issue that the team will likely not have time to investigate. If you do find a resolution, please share it along with any PRs for documentation or build changes. Thanks!

[2018-01-30 00:50] mrry commented on #15669
Yes, it does. There's currently no API to release the unoptimized graph, which must be kept around because the Session API allows the user to execute node in the graph. The current `ConstantOp` implementation also keeps two copies of the constant data in memory, in the `NodeDef` and in a `Tensor` object.

To avoid this blowup in memory consumption, you might be better off using the [`ConvertConsta

[2018-01-30 00:52] sguada commented on #15793
Sure

[2018-01-30 00:58] reedwm commented on #15725
So it seems you could not reproduce the problem on `tf_cnn_benchmarks`, but you could PSIque. I'm having trouble reading the table: which columns correspond to Cuda 8 and Cuda 9 and CPU only?

@tfboyd any ideas what the problem could be, or who else could have any ideas?

[2018-01-30 01:00] xxllp commented on #11187
???

[2018-01-30 01:03] #15733 closed

[2018-01-30 01:04] yifeif commented on #16468
Seems to be related to how keras creates the graph? The _2 suffixed parallel sub-graph is presented without creating the estimator.

[2018-01-30 01:13] shoyer commented on #15833
@LionSR Can you provide code that reproduces this issue and report the error message you find?

As a simple example, here how you could modify the Lorenz equation example from the docs to optimize the initial conditions for the ODE:
[code]
It doesn't entirely converge (this problem is probably non-convex), but the loss decreases over time. The program prints:
[code]

[2018-01-30 01:14] bhack commented on #16468
@yifeif Do you have the testing code without the estimator?

[2018-01-30 01:16] yifeif commented on #15729
@martinwicke does this count as API change?

[2018-01-30 01:17] yifeif commented on #16468
I tried `show_graph(tf.get_default_graph())` without creating an estimator.

[2018-01-30 01:29] bhack commented on #16468
Ok but _1 inputs are created by the estimator.

[2018-01-30 01:38] #15641 closed

[2018-01-30 01:39] #15389 closed

[2018-01-30 01:46] rmlarsen commented on #15465
I think modifying Eigen to enable automatic differentiation is probably not feasible in this case, since the matrix exponentiation code is neither in Eigen core, nor in the tensor library originally co-developed with TensorFlow. I think a more viable approach would be to derive the gradients mathematically and implementing that in TensorFlow, possibly as a custom C++ gradient op (or preferably in

[2018-01-30 01:54] reedwm commented on #15293
@martinwicke what do you think of this proposal?

[2018-01-30 01:55] reedwm commented on #15323
Closing since the question has been answered.

[2018-01-30 01:55] #15323 closed

[2018-01-30 01:55] kodonnell commented on #16147
Seconded ... we're using an Azure NCv3 instance (V100) with CUDA 9.1 and bazel-compiled (with "7.0") and it's about the same speed as my GTX950m laptop for inference. Stink.

We're running [facenet](https://github.com/davidsandberg/facenet).

[2018-01-30 01:58] reedwm commented on #15655
This is fixed by #16307

[2018-01-30 02:00] tfboyd commented on #15725
My testing with AVX vs SSE3 was on K80 and found the following:

- For synthetic data tests that is almost no difference between SSE3 and AVX2 until 8 GPUs and usually more noticeable with real data.
- For single GPU, for the models tested.  VGG16, ResNet50, AlexNet, and InceptionV3 the difference was less than 2% until 8 GPUs.
- The biggest difference was AlexNet with SSE3 being 15-18% slower on

[2018-01-30 02:00] #15725 closed

[2018-01-30 02:01] martinwicke commented on #15729
Yes. But as long as the msg arg comes in the end it sounds reasonable. Adding API review for confirmation.

[2018-01-30 02:07] yilei commented on #15503
Looks like so, that's a subtle difference between previous `tf.flags` and `absl.flags`. In `absl.flags` boolean flags are specified with:

[code]

The `0` in `--pre_calc_image_feature 0` is treated as a positional argument.

[2018-01-30 02:09] dtrebbien commented on #15891
I created a gist for the graph def: https://gist.github.com/dtrebbien/f917cb2891e0b141b9fa6323a3c55239

Here is the exact modified test case that I used to print the graph def:

[code]

By the way, is there a utility that can graphically render this?

[2018-01-30 02:10] Aashit-Sharma commented on #16279
Generate.py -

[code]

[2018-01-30 02:11] Aashit-Sharma commented on #16279
Train.py -

[code]

[2018-01-30 02:16] ahundt commented on #11903
looks like it had tried
[code]
Basically it seems to assume everything would be in:
[code]

Hmm perhaps `/usr/lib/openmpi` is supposed to be the one that works?
[code]

[2018-01-30 02:18] drpngx commented on #16518
@alexanderkjeldaas you can use `yes|./configure` to get the defaults. I think it's fine to have the prompts be overridden by command-line options.

/CC @gunan

[2018-01-30 02:18] weidong8405347 commented on #15835
with tf.device(tf.train.replica_device_setter(
        worker_device="/job:worker/task:%d" % task_id,
        cluster=cluster_spec)):

      feat_info = tf.get_variable("feature_info", (len(id_map),FLAGS.features_column), tf.float32, trainable=False, partitioner=tf.
fixed_size_partitioner(num_workers * 100))
      adj_info = tf.get_variable("adj_info", (len(id_map),FLAGS.max_degree), tf.int64, tra

[2018-01-30 02:21] drpngx commented on #16522
Did you build it yourself or did you download the pip package?

Can you try to run other operators that run on GPU to make sure they work?

@yzhwang could that be due to a recent change?

[2018-01-30 02:24] drpngx commented on #16526
Sounds like a good idea to me. Feel free to send a PR and CC @gunan.

I prefer config options as suggested by in #16518.

[2018-01-30 02:27] drpngx commented on #16532
Right, it looks like it was intentional. Maybe @fchollet can comment.

[2018-01-30 02:28] drpngx commented on #16534
Can you print out the exact message and you expected?

[2018-01-30 02:28] drpngx commented on #16536
@martinwicke WDYT? Contributions welcome?

[2018-01-30 02:31] drpngx commented on #16538
Thank you for the bug report!

@fchollet

[2018-01-30 02:33] drpngx commented on #16540
@ebrevdo for context I think that s390x is the big endian system.

That seems like a large change, are you sure that this is working correctly?

[2018-01-30 02:33] reedwm commented on #15835
@weidong8405347, the example is not completely self contained, since you have some unset variables like `cluster_spec`. Can you give a self-contained example?

[2018-01-30 02:34] reedwm commented on #15503
Closing since this behavior cannot be fixed.

[2018-01-30 02:34] #15503 closed

[2018-01-30 02:35] drpngx commented on #16542
@alextp does that ring a bell?

[2018-01-30 02:37] drpngx commented on #16544
Could you comment on the original thread? If you're will to send a well-formed PR, maybe that's also another way. thanks!

[2018-01-30 02:37] #16544 closed

[2018-01-30 02:42] drpngx commented on #16548
Can you try `tf.layers.conv2d`?

[2018-01-30 02:44] reedwm commented on #16561
/CC @bjacob

[2018-01-30 02:45] ebrevdo commented on #16540
The problem is either with `reduce_mean` or `squared_difference`.  Could you identify within which op you get the precision loss?  My money's on reduce_mean but who knows if there's some issue with vectorisation primitives in Eigen's scalar_square or scalar_difference implementations.

[2018-01-30 02:46] drpngx commented on #16552
@gouwsmeister could you take a look?

[2018-01-30 02:47] aipeteryao commented on #15604
Have you solved it ? This problem is caused tensorflow-gpu-1.5 required cuda 9.0 ,so you should install tensorflow-gpu-1.4. And rember uninstall tensorflow-gpu-1.5. Please use this"pip install --upgrade tensorflow-gpu==1.4"

[2018-01-30 02:47] martinwicke commented on #16536
@fchollet This is a classic example of where having either a viable automatic LambdaLayer, or an alternative automated way of making all functions into Layers would help.

I'm not a fan of adding every TF function as a layer. As insofar as this impacts Keras workflows (incomplete layer graph), we need to find a solution to this.

[2018-01-30 02:50] reedwm commented on #14353
I can reproduce on 1.2 but not on 1.5, so I'm assuming this is fixed and closing.

[2018-01-30 02:51] drpngx commented on #16556
Could you try to whittle that down to a simpler test case that's easy to repro? That would help. Thanks!

[2018-01-30 02:52] fchollet commented on #14357
A simply modification of the reproduction script no longer produces the error:

[code]

This indicates that the problem lies in the combination of `GRU` and batchnorm updates.

Looking at the stack trace, the error appears in many contexts, but seems most commonly associated with TF RNNs and while loops.

[2018-01-30 02:55] atsushi-saito-nextremer opened #16565 "Feature Request: Separated Name Spaces of RNN Cells for hidden weights and recurrent states"
This feature request is based on the following question of StackOverflow, if it's not appropriate I will close this issue.

https://stackoverflow.com/questions/48506422/indices-and-slicing-of-tensorflows-global-variables-of-kernels-for-hidden-weigh

    placeholders = {"inputs":tf.placeholder(tf.float32, shape=[None, None, 1000])}
    cell = tf.nn.rnn_cell.BasicLSTMCell(80)
    outs, states = tf.n

[2018-01-30 02:56] dtrebbien commented on #15891
Looking at the graph def, it looks like no node has control input "^init_A_var_op".

Contrasting that with the following working script—which does not use a tf.while_loop()—the "increment_A_dep/y" node corresponding to the const second argument to the "increment_A_dep" tf.add() op has control input "^init_A_var_op":

[code]

Here is an excerpt from the working script's graph def:

[code]

The non-

[2018-01-30 02:57] cqf7174 commented on #15122
@andrehentz have you solve the issue for mobilenet_1.0_224_quantized retrain + toco .tflite ?

[2018-01-30 03:00] kodonnell commented on #16147
Oh, [good find](https://www.xcelerit.com/computing-benchmarks/insights/benchmarks-deep-learning-nvidia-p100-vs-v100-gpu/) @nathannz:

I think our model is `float32` ... I can't figure out an easy way to convert a pretrained model to `float16`.

[2018-01-30 03:10] jackyko1991 opened #16567 "Protobuf 3.5 currently need golang and asm compiler, how can I add that to CI environemnt?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Please refer to the pull request on https://github.com/tensorflow/tensorflow/pull/16480
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10/ Jenkins
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**:

[2018-01-30 03:11] drpngx commented on #16488
@yifeif or @jart does that ring a bell?

[2018-01-30 03:22] drpngx commented on #16496
I think it's an interesting idea. In general, this could be useful if there are special patterns in the data, for instance, if words IDs are sorted by order of frequency, the first bit predictions would share that.

Usually, though, it's better to make a global prediction (all bits at the same time) rather than individual decisions. The space is quite hard to describe. Let's say you have words lik

[2018-01-30 03:22] #16496 closed

[2018-01-30 03:24] drpngx commented on #16498
Is that mobilenet?

[2018-01-30 03:25] martinwicke commented on #15293
Currently, the constants for HE are prohibitive. I don't see this changing. I know less about MPC.

I'm not sure this FR is useful, since it is so broad. I will close it for that reason. I think if someone wanted to make a specific proposal of how to support either in TF, that would be quite welcome.

[2018-01-30 03:29] tfboyd commented on #16147
It would not be slower than a GTX950, something else is likely wrong.  If you are looking to utilize the TensorCores or just in general get the best inference on GPU you will want to look at TensorRT.  It can take a graph and optimize it.  Right now there is a script from NVIDIA that does it, but also a [PR](https://github.com/tensorflow/tensorflow/pull/16253) in progress to build it in to TensorF

[2018-01-30 03:29] coderXiangLi commented on #14353
Still went wrong when set fused=False. Maybe fused=False has not been corrected implemented.

      sequence = layers.batch_norm(inputs=sequence_place_holder, scope="bn", reuse=x, decay=0.1, scale=True,
                               # updates_collections=None,
                               zero_debias_moving_mean=True, fused=False)

[2018-01-30 03:30] drpngx commented on #16504
I think I have observed the problem with `Print`. Thank you for having that simple repro case! Do you think you could submit a PR to fix this?

Regarding the logical conditions, could you be more specific about what gradients gets zero?

CC @zffchen78 @skye

[2018-01-30 03:31] drpngx commented on #16506
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-30 03:31] #16506 closed

[2018-01-30 03:34] drpngx commented on #16512
You have to use `tf.contrib.ffmpeg` to use functionality from there.

[2018-01-30 03:34] #16512 closed

[2018-01-30 03:39] fjanoos commented on #16504
@drpngx  what is a PR ?

regarding the logical conditions:

If the _continue_cond is a conjoined condition , the gradient of output[round_t]/<something> becomes [None], where as if the condition is  a simple expression grad output[round_t]/<something> is correctly evaluated.

For example - in the above example if
[code]
then tensorflow can correctly evaluate `tf.gradients( w, c)`

But if I make it

[2018-01-30 03:39] drpngx commented on #16284
Maybe it's a windows thing? I'm not sure if Windows honors this flag. Could you try with more logging on?

CC @mrry @guschmue

[2018-01-30 03:49] drpngx commented on #16442
It looks like there are some precision issues, but maybe not in the magnitude that would be unexpected.

[2018-01-30 03:50] bidai541 commented on #14380
Met the similar problem too.  I removed the path of bazel cache files in "/root/.cache/bazel"(change root to your user path) and rebuild, build completed successfully.

[2018-01-30 03:51] drpngx commented on #16216
@lucaswu did that fix your problem?

[2018-01-30 03:53] drpngx commented on #16228
@ebrevdo can correct me, but I think we should probably use the cell that's in core tensorflow instead: `tf.nn.rnn_cell.LSTMCell`.

[2018-01-30 03:54] drpngx commented on #16504
Sorry, I meant a pull request, ie a bugfix.

[2018-01-30 04:10] ebrevdo commented on #16228
@drpngx the contrib cell is an alias.  this is indeed an issue.  we don't currently accept or propagate a dtype argument from the LSTM constructor.

[2018-01-30 04:10] ebrevdo commented on #16228
@arbellea PRs to add this are welcome.

[2018-01-30 04:16] daisylab commented on #16541
By the way, I think the check routine might not work on 32-bit architecture. It uses rbx and rdi registers, which I believe 64-bit registers, to investigate cpu features;

https://github.com/tensorflow/tensorflow/blob/4ab2d8531c461169cd6a33bc0fef1129b419e9df/tensorflow/core/platform/cpu_info.cc#L40

so checking cpu feature itself breaks the compilation process on 32-bit machine.

However, it does

[2018-01-30 04:18] ahundt commented on #16526
I agree, config options would be even better

[2018-01-30 04:20] L0wMax commented on #13442
none of this makes any sense

[2018-01-30 04:24] bixia1 commented on #12683
I am able to reproduce the problem and verify that the latest tensorflow source doesn't have this problem. It looks to me that the following single line change can fix the problem, would you please give this a try? My source file may not be exactly the same as yours, so please manually apply the change to routine ConstantFolding::SimplifyGraph.
--- google/src/files/178965261/depot/google3/third_pa

[2018-01-30 04:54] sanjoy commented on #15338
Sorry for the silence, I was talking to some bazel developers internally.  As far as I can tell there are three issues here:

1. Our dependency labels are not quite correct for a non-sandbox build.  This leads to the "undeclared inclusions" error in the second gcc5_tensorflow_v1.5_abi0.log you uploaded.  I'm working on a fix for this.
2. I haven't yet root-caused the SWIG error in the log you post

[2018-01-30 04:56] gauss-clb commented on #2118
@girving
deconv_output_length(input_length, filter_size, padding, stride) is defined [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/layers/utils.py#L159)

When padding is valid, input_length += max(filter_size - stride, 0), why to use `max` function?

For conv2d:
[code]

For conv2d_transpose:
[code]

Even when filter_size is less than stride, I think output is also `

[2018-01-30 05:02] rolla12 commented on #15140
for cuda 9.1 the driver is 390 ,, its know included with deb installation ,,it solved the problem

[2018-01-30 05:08] gunan commented on #16526
@case540 Could you take a look.

Our aim is in the end you will only need to set config options, and no need to run configure.
Mike, what is the environment variable to use for setting the CUDA version we use for the configure script?

[2018-01-30 05:27] jart commented on #16488
@yifeif @av8ramit @gunan Does the 14.04 CPU release hack build inside a virtualenv? If so, try `pip install -I numpy==1.12.1` and maybe do same for other deps in [setup.py](https://github.com/tensorflow/tensorflow/blob/r1.5/tensorflow/tools/pip_package/setup.py).

[2018-01-30 05:34] imsheridan commented on #16518
Created a PR [#16571](https://github.com/tensorflow/tensorflow/pull/16571) to try to address this issue. Free free to comment if any we needs to further improve.

[2018-01-30 05:52] HustCoderHu commented on #16478
agree with pokey, this is a bug

[2018-01-30 05:56] PuchatekwSzortach opened #16572 "tf.dynamic_placeholder gives inconsistent results in Tensorflow 1.5"
I'm seeing inconsistencies when calling tf.dynamic_partition(...) with Tensorflow 1.5.

I'm using tf.dynamic_partition(...) to select rows from two tensors. First is a 1D tensor of spare logits, second is a 2D tensor of one-hot encoded labels. My selector is a 1D tensor with entries made of 0s and 1s.

Say `matches_mask` has shape (268800,) and 320 of its elements are set to 1, rest are 0.
`scalar

[2018-01-30 06:11] lucaswu commented on #16216
@andrehentz 's suggestion is not OK for me. After i have modify  c plus plus code of tflite, it can run now for any size. @drpngx

[2018-01-30 06:13] woozhanwei commented on #16498
HI there, thanks for reply.
I am using Android Studio to run the code and this is the TFDetect part.

[2018-01-30 07:00] kodonnell commented on #16147
That's what we thought. We're running a standard benchmark suite (as we're actually evaluating hardware, and wanted to see what a V100 could do). That said, we've compiled from source, so it's possible something went wrong there. Anyway, it matches the description by the OP ... so maybe it is genuine (at least for out-of-the-box performance). See who else replies.

Aren't there already benchmarks

[2018-01-30 07:12] kuri-leo commented on #16477
Hi @reedwm  ,
PR #16486 added the Cuda requirement to README.md.

and Hi @tylerlekang ,
I've reported it to Tensorflow team via our Google Developer Group on 28st and waiting for their updating.

[2018-01-30 07:15] jzhongaa commented on #15715
Same here. Wonder if there is any solution towords it. Tks

[2018-01-30 07:26] llyyun commented on #15636
yes, the tflite file is incorrect. finally we used bazel command build the model file

[2018-01-30 07:26] #15636 closed

[2018-01-30 07:38] zsrkmyn commented on #16478
agree with @pokey, this is actully a bug.

[2018-01-30 07:47] demidroid commented on #16388
我终于解决了这个问题，sudo apt-get upgrade bazel不要执行这一步，安装的java版本是1.8.0_151，系统必须只安装一个java，我把所有java版本都卸载之后，然后重新安装，就成功了

[2018-01-30 07:48] #16388 closed

[2018-01-30 07:52] GrifisJP commented on #16257
Variational Approximatin for  KL divergence in Gaussian Mixture is proposed by google scholar
https://scholar.google.com/citations?user=ACcAdXgAAAAJ&hl=ja&oi=sra

http://ieeexplore.ieee.org/abstract/document/4218101/

[2018-01-30 07:58] dguny commented on #16478
i'd argue this is more a problem with futures, not with TF since TF's requirement with futures is 3.1.1+ which works fine on Python3.6

[2018-01-30 08:03] jackyko1991 commented on #16477
I have added c++ interface support with updated readme in PR https://github.com/tensorflow/tensorflow/pull/16480

protobuf has been updated to 3.5.0 in this version, however it will require NASM and golang to get it build pass.

[2018-01-30 08:30] uziela commented on #15338
Great, looking forward to hear more news!

[2018-01-30 08:36] xusong123 opened #16574 "tf.contrib.metrics.streaming_precision raise an exception Attempting to use uninitialized value model/precision/true_positives/count"
Please go to Stack Overflow for help and support:

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **TensorFlow installed from (source or binary)**:
- **TensorFlow version (use command below)**:
- **Python version**:
- **Bazel version (if compiling from sour

[2018-01-30 08:37] #16574 closed

[2018-01-30 08:37] RomRoc commented on #16452
Hello, maybe @afathi3 or @tatianashp  has got an ETA for semantic segmentation Tensorflow release?
Last week [Detectron](https://github.com/facebookresearch/Detectron) Instance Segmentation was released, it could be interesting to compare these two software.
Thanks

[2018-01-30 08:38] mohirio commented on #16138
@jstumpin: Can you clarify "only when "defined(EIGEN_HAS_CUDA_FP16)" is absent" with an example please?
I'm not sure what I should comment.
Thanks!

[2018-01-30 08:41] WongChen commented on #16478
I think the problem here is that futures > 3.1.1 is not allowed to be installed for py3.
see [here](https://pypi.python.org/pypi/futures).
Before we can install tensorflow for py3 with futures installed, but now since pip install the newest version, the error is occurred.
If you google it, you can find many errors just like this.
On the other side, I think tf for py3 package's dependency **should

[2018-01-30 08:57] yaohualibin commented on #16534
The warning message reported is

.../lib/python3.6/site-packages/tensorflow/python/ops/losses/losses_impl.py:691: softmax_cross_entropy_with_logits (from tensorflow.python.ops.nn_ops) is deprecated and will be removed in a future version.
Instructions for updating:

Future major versions of TensorFlow will allow gradients to flow
into the labels input on backprop by default.

See tf.nn.softmax_cro

[2018-01-30 08:59] gi097 commented on #14670
Any updates on this? Is object detection supported in Tensorflow Lite?

[2018-01-30 08:59] xiaoyunwu commented on #16093
@asimshankar When will we have a better version of multi-gpu support like pytorch? Where we can do pytorch nn.DataParallel kind of operation?

[2018-01-30 09:12] #16565 closed

[2018-01-30 09:31] songpeng326 opened #16575 "There's no problem running on window, and there's a problem on Ubuntu"
Traceback (most recent call last):

  File "<ipython-input-1-fc398a1d9321>", line 1, in <module>
    runfile('/home/lab326/songpeng/anacoda项目/tflearn-vgg1.py', wdir='/home/lab326/songpeng/anacoda项目')

  File "/home/lab326/anaconda3/lib/python3.5/site-packages/spyder/utils/site/sitecustomize.py", line 705, in runfile
    execfile(filename, namespace)

  File "/home/lab326/anaconda3/lib/python3.5/si

[2018-01-30 09:31] carlthome opened #16576 "Feature request: tf.estimator hyperparameter tuning"
I'm making an issue here because I'm sure this is being worked on somewhere in this huge repo and I've failed to find it by search.

Almost all models have hyperparameters that cannot be set by gradient descent (number of layers, for example). These needs to be tuned, preferably programatically with a smart strategy.

**What's the canonical way of doing hyperparameter tuning with the tf.estimator

[2018-01-30 09:39] dguny commented on #16478
ah, my bad. i assumed that it was ok to install futures 3.1.1 for python 3 but seems like they just forgot to check the version.

[2018-01-30 09:49] Sqrt5 opened #16578 "Different result between python and C++ with same pb file and same data."
I got different result between python and C++ using same pb file and same data, I print result below, the fisrt 10000 number's diff is close to zero, but it's get bigger then.

|line|C++ result|Python result|diff|sum diff|
|----|:----:|:----:|:----:|:----:|
|0|-0.010966|-0.010966|-0.000000|-0.000000|
|1|-0.050666|-0.050666|0.000000|0.000000|
|2|-0.007573|-0.007573|0.000000|0.000000|
|3|-0.498266|-

[2018-01-30 09:52] jstumpin commented on #16138
"defined(EIGEN_HAS_CUDA_FP16)" is present (no action needed):
[code]

"defined(EIGEN_HAS_CUDA_FP16)" is absent:
[code]

[2018-01-30 09:55] jbedorf commented on #11903
Yes, give it a shot with setting: `export MPI_HOME=/usr/lib/openmpi` that should result in correct symlinks.

[2018-01-30 09:57] mohirio commented on #16138
@jstumpin Much appreciated!

[2018-01-30 10:07] #15964 closed

[2018-01-30 11:33] srivastj opened #16581 "TFLite : Slice operation while using tf.nn.conv2d"
input = tf.get_variable("input",dtype = tf.float32,shape=(1,256,256,3))
kernel = tf.get_variable("kernel",initializer=[[[[ 0.0,  1,  2],[ 3,  4,  5],[ 6,  7,  8]],[[ 9, 10, 11],[12, 13, 14],[15, 16, 17]]],[[[18, 19, 20],[21, 22, 23],[24, 25, 26]],[[27, 28, 29],[30, 31, 32],[33, 34, 35]]]],dtype=tf.float32)
A = tf.nn.conv2d(input=input,filter=kernel,strides=[1,1,1,1],padding="SAME")
A = tf.nn.softm

[2018-01-30 12:08] #16578 closed

[2018-01-30 12:09] ziofil commented on #16548
That seems to work:
[code]

[2018-01-30 12:13] louisway commented on #3056
Hey, guys, any update for the shape property?

[2018-01-30 13:00] volvador opened #16584 "TensorFlow op to copy weights of Keras model"
I am doing a distributed calibration of an LSTM model (keras 2.0 + TensorFlow 1.0)

    with tf.device(tf.train.replica_device_setter(...):
          model = ##create model by keras
          clone_model = ## create the same model by keras but now a stateful one

after calibration, I want my chief worker to use the clone_model, copy the weights the calibration reached in model, and make prediction

[2018-01-30 13:10] namrata-ibm commented on #16540
@drpngx , @ebrevdo , Thank you for your feedback.
After doing some more analysis, found that the test fails, only for `mu` = `1e3` [here](https://github.com/tensorflow/tensorflow/blob/v1.4.1/tensorflow/python/ops/nn_test.py#L867) and passes for other cases.
After printing actual and expected mean and variance values, found below for failing case:
[code]
So seems like some issue with variance calcu

[2018-01-30 13:23] cswords commented on #9527
I tried a graph traversal using both while_loop with auto JIT option on and simply while under eager mode. It seems eager while runs faster. And my implementation is slower than existing method in sklearn based on cython, although I tried to use matrix manipulation as much as possible to gain efficiency from GPU.

[2018-01-30 13:42] KevOBrien commented on #16556
@drpngx I have quickly generted a script which is a much simplified version of my project. I have also included two small pickle files to be fed into the `inputs` and `labels` placeholder of the script. Depending on your OS,I think it should load the pickles and run as is, but you may need some tinkering otherwise.

[Here is a linked to a zipped file containing the script, the inputs pickle file a

[2018-01-30 14:16] lissyx opened #16585 "TensorFlow with CUDA or Python might rebuilds more than necessary instead of re-using bazel cache"
Context: for DeepSpeech, we perform tensorflow builds and then keep the cache in a tar (capturing the whole of the home directory of the build user). We then untar it and the deepspeech build through `bazel build` picks the proper cached items so it does not rebuild anything.

Recently, we started to have increased (2.5x) build time on CUDA-enabled builds. Debugging with Bazel showed that it was r

[2018-01-30 14:32] pfc commented on #16246
I have just managed to compile tensorflow using gcc 6.4.1 with CUDA/CUDnn support (first said it couldn't find CUDnn but kept defaults a second time and then it found it) on Arch.
I guess someone has been fixing things?  I'll close for now as the original issue seems to be fixed.

NVIDIA: 387.34-21
CUDA: 9.1.85-1
CUDnn: 7.0.5-2
gcc6: 6.4.1-5

[2018-01-30 14:32] #16246 closed

[2018-01-30 14:45] dpfau commented on #15465
I added the original MatrixExponential op. It should be straightforward to add a gradient op written in Python using the closed-form expression for the backward pass. In the meantime, you can compute the matrix exponential by computing the eigendecomposition, exponentiating the eigenvalues, and multiplying the matrices back together. It will be slower, but those ops all should have gradients imple

[2018-01-30 15:01] ghexp commented on #1604
Can the custom ops from this approach be brought in under contrib to help address this issue?
https://github.com/uber/sbnet

[2018-01-30 15:48] feranick opened #16587 "Feature deprecated in h5py is used in TF1.5"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux, OS X
- **TensorFlow installed from (source or binary)**: source and binary
- **TensorFlow version (use command below)**: 1.5
- **Python version**: 3.6.4
- **Bazel version (if compiling from source)**: 0

[2018-01-30 16:00] rimidalv opened #16588 "IllegalArgumentException: Retval[0] does not have value"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: iMac (27-inch, Late 2013) OS: 10.13.3 (17D47)
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**:  Using TensorFlow backend.
1.5.0-rc1
- **Python version**

[2018-01-30 16:02] koAlech opened #16589 "TensorFlowLite cannot locate symbol "__atomic_store_8" crash on Android x86 devices"
### System information

- **OS Platform and Distribution** : Android x86 v5.0+
- **TensorFlow installed from** : built using gradle from maven repository: https://google.bintray.com/tensorflow
- **TensorFlow version** : 1.2.0-rc0

### Describe the problem
We migrated our app to use tensorflow lite but it crashes on x86 upon invoking the inference module. It works perfect on ARM v7a devices.

### S

[2018-01-30 16:12] e-ka commented on #16284
May very well be a Windows thing...
With `tf.logging.set_verbosity` set to INFO or DEBUG, tensorflow does not print additional output for just `sess = tf.Session()`.

It seems to have some effect as it seems to differenciate between graphic card 1 and graphic cards [0, 2, 3]. If I do not set CUDA_VISIBLE_DEVICES at all, it allocates memory on all four cards.

[2018-01-30 16:36] LiuYaKu commented on #3390
Check that your rev_hi_vocab array is crossed.

[2018-01-30 16:46] yangfengKAUST opened #16590 "how to save model for tensroflwo serving for lstm in tensorflow/contrib/timeseries/examples/lstm.py"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2018-01-30 17:35] imsheridan commented on #16587
Created a PR #16591 to fix the FutureWarning.

[2018-01-30 17:37] alextp commented on #16542
I'm confused, why are you creating a variable to store the result of the concatenation of other variables? Why not just use partitioned_variable.as_tensor() which returns a tensor with the concatenated value of all the partitions?

[2018-01-30 17:39] alextp commented on #15891
Ok, so this is a real bug. @asimshankar who do you think we should assign this to?

There's a bug somewhere in the control dependency processing logic of WhileContext, somewhere around here most likely: https://github.com/tensorflow/tensorflow/blob/ba64f5334d4bba31d22c30e09a96f806ea0e2f7e/tensorflow/python/ops/control_flow_ops.py#L2414

[2018-01-30 17:43] k22jung opened #16592 "Freeze-graph not working, allocating too much memory for inference"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: ('v1.5.0-rc1-1783-g7d7dce1', '1.5.0-rc1')
- **Python version**: Python 2.7.12
- **Ba

[2018-01-30 17:48] yuanbuckingham commented on #15062
I come across the same problem, though I installed TensorFlow on BeagleBone Black.
python2.7.13
import tensorflow as tf
hello = tf.constant('Hello, TensorFlow')
sess - tf.Session()
print(sess.run(hello))
Bus eeror

Is there any suggestions of how to fix this?

[2018-01-30 17:48] nxphi47 opened #16593 "contrib.tfgan: batch_norm is_training=True for both training and inferencing, non-slim version"
Hi, I am exploring contrib.tfgan, such a great work @joel-shor .

### batch_norm is_training=True for both training and inferencing
However, when I see the example in source code of both generator and discriminator of MNIST, as below.

https://github.com/tensorflow/models/blob/master/research/gan/tutorial.ipynb

`with slim.arg_scope(
        [layers.fully_connected, layers.conv2d_transpose],

[2018-01-30 18:02] drpngx commented on #16216
OK, is that something that needs a fix in tflite?

[2018-01-30 18:03] drpngx commented on #16534
OK, yes, that's a problem in our deprecation. The solution is to refactor the code to call a function that doesn't have the deprecated code. Would you be willing to send a PR for that?

[2018-01-30 18:04] drpngx commented on #16548
Great to see it's working for you!

[2018-01-30 18:15] drpngx commented on #16556
Just double checking: could you run
`tfCorrect, preds, labs = session.run([correctPredictions, preds, labs], feed_dict)`? That makes it slightly easier to reason about.

[2018-01-30 18:18] drpngx commented on #16246
Thanks @pfc!

Would you be able to provide a fix?

CC @gunan

[2018-01-30 18:22] drpngx commented on #16276
/CC @gunan I think that'd be a great contribution if you're willing to send something.

[2018-01-30 18:31] reedwm commented on #16585
Marking as contributions welcome since there is a PR.

[2018-01-30 18:32] Tauranis opened #16594 "Layers created with tf.layers not listed with tf.contrib.framework.get_model_variables"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.4.0
- **Python version**: 2.7
- **Bazel version (if compiling from source)**: Not

[2018-01-30 18:32] reedwm commented on #16587
Marking as contributions welcome since there is a PR.

[2018-01-30 18:33] reedwm commented on #16589
/CC @petewarden

[2018-01-30 18:34] reedwm commented on #16593
/CC @joel-shor

[2018-01-30 18:36] reedwm commented on #16567
/CC @mrry, can you resolve this?

[2018-01-30 18:38] reedwm commented on #16575
This looks like an issue with [TFLearn](https://github.com/tflearn/tflearn). Can you file an issue there instead?

[2018-01-30 18:38] #16575 closed

[2018-01-30 18:39] KevOBrien commented on #16556
Ok, that seems to have fixed it. Could you explain why that is so? Is there some sort of parallelisation issues with when I run `AdamOptimizer` and then the three other operations in different `session.run` calls? I have always been calling all of my operations in separate `session.run` calls, and never knew that unexpectancies like this could come of it

[2018-01-30 18:39] reedwm commented on #16581
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2018-01-30 18:40] yifeif commented on #16488
Looks like the binary was not built in a virtualenv. @av8ramit @gunan can confirm.
@albertz could you try upgrading your numpy to 1.14.1?

[2018-01-30 18:41] mrry commented on #16567
IIRC, these dependencies are inherited from BoringSSL via gRPC. We currently avoid this problem by [building only the `grpc++_unsecure` target](https://github.com/tensorflow/tensorflow/blob/ba64f5334d4bba31d22c30e09a96f806ea0e2f7e/tensorflow/contrib/cmake/external/grpc.cmake#L43), which doesn't depend on BoringSSL. Presumably the same approach is possible here.

[2018-01-30 18:41] pfc commented on #16246
I have not made any code changes to get it to compile.  I did update gcc from 6.4.1-4 to 6.4.1-5 and pulled latest code from repo.  One or a combination of theses must have fixed the problem.

[2018-01-30 18:41] asimshankar commented on #16093
@xiaoyunwu : Smoother multi-GPU support for eager is actively being worked on. However, I don't have a timeline to commit to at this point. We will surely make this clear in the release notes of the release where we feel it's in a position to use.

[2018-01-30 18:42] KevOBrien commented on #16556
Also, is there a way to still call each operation in separate `session.run` calls, and avoid this problem? My entire model is written in an OOP fashion and so I retrieve the results of different operations through individual `session.run` calls in different, individual class methods

[2018-01-30 18:43] jimdowling commented on #14084
We have this problem as well. The problem is most acute when using the Estimator APIs, where we don't have an explicit handle on the hdfs writer object. The problem is that hdfs only updates the file size written either at the end of block being fully written or when an explicit hflush is called on the file. When the file sizes are much smaller than the block size and they aren't closed, they just

[2018-01-30 18:45] reedwm commented on #14629
Marking as contributions welcome to fix the comment.

[2018-01-30 18:48] reedwm commented on #14663
@ebrevdo what's the state of this issue? Should it be closed since it seems infeasible to implement? Or marked as contributions welcome?

[2018-01-30 18:54] reedwm commented on #16461
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2018-01-30 19:04] Gemesys commented on #15933
Cracked it.  Got a solution (workaround, essentially), and a probable cause.  The MacBook running MacOS Yosemite (10.10.5) looks to be doing it's rounding and/or floating-point math wrong.  Based on Quaeler's results which shows the simulation running on MacOS Sierra 10.12.6 same as on Linux platforms (CentOS-7.4 and Ubuntu), it's clear the evolution of the Laplace PDE (partial differential equati

[2018-01-30 19:04] av8ramit commented on #16488
Yes it was not. Updating to 1.13+ works for me.

[2018-01-30 19:04] reedwm commented on #16465
/CC @rryan, can you take a look?

[2018-01-30 19:07] tatatodd commented on #16279
@Aashit-Sharma Can you minimize this to a small standalone example that exhibits the problem?

Sorry for the back-and-forth.  But note that our policy on github issues is that it must be a bug or a feature request.  Without a small standalone example, it's impossible for me to know whether this is an actual bug.

[2018-01-30 19:09] reedwm commented on #16483
/CC @suharshs

[2018-01-30 19:10] reedwm commented on #16517
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-30 19:10] #16517 closed

[2018-01-30 19:15] yifeif commented on #16468
Yea, looks like they were added when clone_model was called during inference. @fchollet any idea?

[2018-01-30 19:17] drpngx commented on #16594
I think it's worth sending a fix if you know what the problem is.

[2018-01-30 19:20] andrehentz commented on #15488
@ushnish We have been unable to reproduce this. It seems to work on Android1, Nexus5 and Nexus-6p phones. Is there anything special about your setup?

[2018-01-30 19:21] reedwm commented on #16545
/CC @petewarden, can you take a look?

[2018-01-30 19:25] reedwm commented on #16139
Pinging @benoitsteiner

[2018-01-30 19:26] reedwm commented on #14807
This looks like a duplicated of  #16139 which has an example to reproduce, so I'm closing this issue.

[2018-01-30 19:26] #14807 closed

[2018-01-30 19:28] asimshankar commented on #15891
@skye was looking into something similar, I think.
@skye - let me know if I'm mistaken and will try to find someone else.

[2018-01-30 19:31] reedwm commented on #16009
Closing since @gunan and @angersson have answered the questions.

[2018-01-30 19:31] #16009 closed

[2018-01-30 19:32] ushnish commented on #15488
Hello Andre, thanks for responding. I am working on a MacBook Pro, High Sierra. I use CLion as my IDE.

[2018-01-30 19:47] reedwm commented on #16187
Marking as contributions welcome for now, since no one on TensorFlow is actively working on Jetson TX2 support (@benbarsdell works for NVidia).

Having a small code fragment to reproduce the issue would be helpful, but I understand its frustrating considering object detection is in the official tensorflow/models repo.

[2018-01-30 19:58] reedwm commented on #15911
/CC @gunan, can you comment?

[2018-01-30 19:59] reedwm commented on #15925
Closing since it looks like this is fixed on the master branch.

[2018-01-30 19:59] #15925 closed

[2018-01-30 20:02] reedwm commented on #15341
/CC @mrry, can you comment?

[2018-01-30 20:13] reedwm commented on #16477
@jackyko1991 that PR does not update the documentation [here](https://github.com/tensorflow/tensorflow/blob/835a466c487c3a62852223eac6475ff4a4cc9836/tensorflow/docs_src/install/install_windows.md) and [here](https://github.com/tensorflow/tensorflow/blob/835a466c487c3a62852223eac6475ff4a4cc9836/tensorflow/docs_src/install/install_linux.md), which I believe is what this issue is about.

@gunan, can

[2018-01-30 20:24] reedwm commented on #14353
/CC @joel-shor. Note, it's recommended to run with fused=True (the default), where this issue doesn't occur.

[2018-01-30 20:29] gunan commented on #15997
For a limited set of dependencies, I can be OK with this.
Maybe not an exhaustive list like closure_rules, but maybe we can start with eigen.

[2018-01-30 20:39] JesperChristensen89 commented on #16187
@reedwm to reproduce the issue, you need nothing more than trying to load a Faster R-CNN model in TF on a Tegra (Jetson) device.

[2018-01-30 20:39] carljunepiao commented on #14273
What if I use anaconda's version of python? is it ok?

[2018-01-30 20:42] ppwwyyxx commented on #8136
Another kind of failure:
[code]
This is quite annoying: some line of code executed earlier leads to an error later with strange error message.

[2018-01-30 20:43] carljunepiao commented on #14273
NVM it works.

[2018-01-30 20:44] reedwm commented on #13639
I don't know enough about SparseTensor to fix this, or currently have time to look into it.

Assigning to @ebrevdo for now.

[2018-01-30 20:45] mrry commented on #15341
In addition to setting `clear_devices=True`, you can wrap the call to `import_meta_graph()` in another `with tf.device(...):`  block, and either specify a device name to be assigned to all nodes, or a function (taking a `tf.Operation` and returning a device name) that will be called once for each operation in the imported graph.

[2018-01-30 20:45] #15341 closed

[2018-01-30 20:57] guschmue commented on #16284
Just tried on tf-1.4/cuda8/windows10 and it is working as expected.
But yes, the logs from @e-ka  show that the tensorflow process (pid 8040) has the device 0,2,3 open where it should have only seen 1 device. Kind of odd since tensorflow is reporting only 1 device.
The driver on my box is a little older 388.19 (vrs 390.65) and I have windows10 instead of windows7.
I can update my box to the latest

[2018-01-30 20:58] asimshankar commented on #16464
@is8ac : Thanks for the report and sorry for the confusion. That documentation is incorrect, the `AssignAddVariableOp` does not return a tensor, as you surmised. I've sent out a change to fix the documentation which should sync to GitHub in the next day or two.

The correct way to achieve ordering is by adding control dependencies. Unfortunately, the Go API doesn't yet support control dependencies

[2018-01-30 20:59] craffel commented on #16287
Thanks!  PR for a fix is here: #16602.

[2018-01-30 20:59] reedwm commented on #14947
I believe ops without a gradient (like argmax) are treated as if their gradient is zeros (@mrry can you confirm?) I don't see how that could cause the error @Andrew-Draganov is getting though.

@Andrew-Draganov, can you post a self-contained example reproducing the problem?

[2018-01-30 21:00] reedwm commented on #14601
@yzhwang this appears to be merged. Is the issue fixed?

[2018-01-30 21:05] reedwm commented on #14357
/CC @ebrevdo can you take a look, since this looks to be an RNN issue?

[2018-01-30 21:06] yzhwang commented on #14601
@gunan A change to eigen that should fix this was just merged:
https://bitbucket.org/eigen/eigen/commits/2355b229ea4c
I'm not sure how do we update our eigen dependency. If it's not scheduled or done automatically, would you please update it to the latest version of eigen so that @Oewyn can verify if this will fix the issue? Thank you!

[2018-01-30 21:12] reedwm commented on #15153
There is no TensorFlow commit 3fe5fa08dbed8134ad400f03be474aeb39bcc922. Did you make a commit yourself?

[2018-01-30 21:16] reedwm commented on #15061
Closing this issue since @nfiedel indicated `.pb` would not be changed.

[2018-01-30 21:16] #15061 closed

[2018-01-30 21:21] yzhwang commented on #11882
Please refer to https://github.com/tensorflow/tensorflow/issues/14601#issuecomment-361734250 for updates. Once we are using the updated version of eigen, you can verify if the bug is fixed.

[2018-01-30 21:23] wochinge commented on #14084
Hey,
so for me there a to options, which work:
- Just quit your TensorFlow services and wait for 1 to 2 hours. The files should then appear on HDFS
- you can use `hdfs debug recoverLease` on the files, which are not fully written yet (<https://hadoop.apache.org/docs/r2.7.1/hadoop-project-dist/hadoop-hdfs/HDFSCommands.html#recoverLease>)

[2018-01-30 21:25] majgis opened #16603 "1.3.0-py3 flagged by security issue CVE-2017-5754"
Any chance a rebuild of the 1.3.0-py3 docker image is easy enough to pick up security patches?  It would save a team a lot of work.  Thank you.

[2018-01-30 22:03] reedwm commented on #16603
/CC @gunan

[2018-01-30 22:09] andrehentz commented on #15830
Fixed by https://github.com/tensorflow/tensorflow/commit/67cd3121296671d32c8150e9e57ac8f296f367ae

Please reopen if you still experience this problem.

[2018-01-30 22:09] #15830 closed

[2018-01-30 22:19] omatai opened #16605 "Description in docs of one-hot vector for mnist deep example confusing and/or wrong"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2018-01-30 22:22] omatai commented on #16605
This example was part of the latest release until a few days ago. It's probably a very low priority to fix it now.

[2018-01-30 22:22] lrigazio opened #16606 "tf.contrib.data.rejection_resample not balancing class/freq on random crops"
randomly sampling / cropping data seems to break rejection_resample ==> meaning it won't do any re balancing of the class probability -- see these two simple feeders as example:

The first randomly samples data with tf.random_uniform and breaks rejection_resample -- the second with static random data having  the same distribution is correctly resampled (output has p(class=0)=0)

This creates issue

[2018-01-30 22:45] sn2234 commented on #16522
I am using pip version of TF
It looks like there are two issues
First one was related to CUDNN. I've reinstalled NVidia drivers and CUDA from scratch and now it's gone. The model work fine for me.
However, the buffer overflow is probably still there. I believe it was caused by this last string from TF log:
F C:\tf_jenkins\workspace\rel-win\M\windows-gpu\PY\36\tensorflow\core\kernels\conv_ops.cc:71

[2018-01-30 22:58] reedwm commented on #13639
Yes, that works, because the shape is not fed.

[2018-01-30 23:06] drpngx commented on #16104
I think there was a similar question but can't seem to find it.

@gunan what's our position here?

[2018-01-30 23:11] reedwm commented on #16605
The tutorial has been deleted, so it doesn't really matter. But the lines

[code]
indicate both arguments are 2d tensors. Where did you place the `print()` statements?

[2018-01-30 23:11] #16605 closed

[2018-01-30 23:15] drpngx commented on #16108
Seems like a good addition. @ispirmustafa can decide if it's a welcome contribution.

[2018-01-30 23:16] drpngx commented on #16136
Yes, we have upgraded to `cuda9` at version `1.5.0` if memory serves. It looks like you have an issue with your CUDA installation. Please try to re-install.

[2018-01-30 23:18] drpngx commented on #16146
Sadly, we don't have an active maintainer for that code.

Maybe @MarkDaoust has a suggestion for documentation, but as it stands, this part of the code in contrib comes "as is".

[2018-01-30 23:20] drpngx commented on #16150
Thanks for the detailed report!

@caisq any idea what's going on?

[2018-01-30 23:23] reedwm commented on #15585
In general, fp16 on Pascal GPUs (like your P100) will not be much faster, if faster at all. In your cuBlas example, you pass CUDA_R_16F as the second-to-last parameter, `computeType`, to `cublasGemmEx()`. In TensorFlow, we use fp32 as a compute type, since models do not work well in practice if a lower precision is used as the compute type. This can be changed by setting the evironmental variables

[2018-01-30 23:24] drpngx commented on #16164
@shlens any idea?

[2018-01-30 23:26] drpngx commented on #16162
It would help if you could try with python 3.5 to see if it's the py3 version problem.

CC @av8ramit

[2018-01-30 23:27] reedwm commented on #15643
This comment from @yzhwang seems to be the main issue (although it's unknown if this will significantly increase performance):

So, I'm assigning to @yzhwang.

[2018-01-30 23:28] drpngx commented on #16180
Is that still a problem?

[2018-01-30 23:30] drpngx commented on #16184
@allenlavoie do you understand the implications of this?

[2018-01-30 23:31] #16186 closed

[2018-01-30 23:32] jvdillon commented on #16257
Noted! Thanks!

[2018-01-30 23:32] drpngx commented on #16194
@xav12358 does the resolution in that issue solve your problem?

[2018-01-30 23:33] jvdillon commented on #16257
It just occurred to me but the VectorDiffeomixture might be useful to you?
https://www.tensorflow.org/versions/master/api_docs/python/tf/contrib/distributions/VectorDiffeomixture
https://arxiv.org/abs/1801.03080

[2018-01-30 23:34] #15882 closed

[2018-01-30 23:38] drpngx commented on #16572
@itsmeolivia could you take a look?

[2018-01-30 23:45] drpngx commented on #16576
We have been pretty successful with this [approach](https://research.google.com/pubs/pub46180.html) but it's not available publicly. It would be terrific if someone signed up to provide that.

CC @sculleyd

[2018-01-30 23:52] drpngx commented on #16588
You are missing the implementation of the kernel. You need to add it to the list and rebuild.

@andrewharp do you have a pointer to the instructions?

[2018-01-30 23:56] drpngx commented on #16592
Not sure what it could be. Could you run a memory profiler to help us tell what the problem is?

@petewarden what do you think?

[2018-01-30 23:59] allenlavoie commented on #16184
There are hopes of going back to dynamic loading of libcuda, where not having it would just not register the device. @gunan is leading the effort.

[2018-01-31 00:33] drpngx commented on #15732
@xumengwei did that work for you?

[2018-01-31 00:33] drpngx commented on #15746
@tfboyd is that something that we're aware of?

[2018-01-31 00:35] drpngx commented on #14080
Yes, it's implemented through the C API but it's not enabled by default.

[2018-01-31 00:37] drpngx commented on #15792
`clear_devices` just removes the `with tf.device()` assignments.

@sukritiramesh Any comment on this?

[2018-01-31 00:39] drpngx commented on #15848
Do you have a stack trace?

CC @gunan

[2018-01-31 00:41] drpngx commented on #15886
Thank you very much for contributing this! We are moving to having a working bazel implementation for Windows that will be supported. For now, the CMake version is the best option that we support on a best effort basis.

I'm going to close this issue for administrative purposes, but it is much appreciated.

@MarkDaoust is there something we could use from there?
CC @guschmue @mrry

[2018-01-31 00:41] #15886 closed

[2018-01-31 00:42] gunan commented on #15848
@tfboyd to redirect the MKL issue to intel.

[2018-01-31 00:49] drpngx commented on #15892
I seem to remember there was some domain redirect issue that prevented us from getting a valid certificate.

CC @MarkDaoust @wolffg @martinwicke

[2018-01-31 00:52] martinwicke commented on #15892
Nah, that's a different issue.

Thank you, just done that.

[2018-01-31 00:52] #15892 closed

[2018-01-31 00:55] allenlavoie commented on #16590
Thank you for the report! Looks like there are a couple issues with the example. I have a fix in the works which will include exporting in the example.

[2018-01-31 01:04] Celelibi commented on #16276
For what it's worth, I have patched (hacked) the build scripts and a few lines of code to make it compile and link on my computer. Using the system-installed CUDA / cuDNN, of course.
https://github.com/Celelibi/tensorflow/tree/wip-system-cuda
(current latest commit Celelibi/tensorflow@c87884ddfbd419ff6663b9aef160fd45577280e0)

If you're interested, I can continue to work on it and make a pull requ

[2018-01-31 01:13] imsheridan commented on #16594
I am not sure whether this is by design since in [get_model_variables](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/framework/python/ops/variables.py#L338) it set the scope as ops.GraphKeys.MODEL_VARIABLES instead of tf.GraphKeys.GLOBAL_VARIABLES as @Tauranis did for tf.get_collection above.
@drpngx, could you please help confirm this?

[2018-01-31 01:14] ebrevdo commented on #16606
@joel-shor ptal?

[2018-01-31 01:18] martinwicke commented on #15396
ping @skye, do you have a notion of how hard this would be?

[2018-01-31 01:23] tremblerz opened #16608 "Can't find Stochastic Tensors class"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **Ubuntu 16.04**:
- **source**:
- **TensorFlow version 1.5**:
- **3.6**:
- **Bazel version (if compiling from source)**:
- **GCC/Compiler version (if compiling from source)**:
- **CUDA/cuDNN version**:
- **GPU model and memory**:
- **Exact command to reproduce**:

### Desc

[2018-01-31 01:36] drpngx commented on #15932
@ebrevdo wanna take that one?

[2018-01-31 01:37] drpngx commented on #15942
So, we're trying to use tflite for mobile needs. I think it's probably the better supported option. Would that work for you?

[2018-01-31 01:39] tfboyd commented on #15746
With queues deprecated, I would highly suggest using the model Neal suggested which has multi-gpu done decently as well as flipping data formats for CPU vs. GPU and uses tf.data.  It also likely trains to a better accuracy.  I do not want to make any wild guesses about step 100.

Step 0 likely includes starting up the queue and preparing part of the data.  Debugging this on the cifar10_estimator w

[2018-01-31 01:39] drpngx commented on #15972
Thanks for bringing that to our attention.

[2018-01-31 01:41] drpngx commented on #15994
@erickrf for that case, basically, tensorflow just manipulates contiguous blobs of data, so reshape just needs to change the metadata, whereas transpose needs to move actual data around, and possibly make a copy depending on the graph.

CC @MarkDaoust for documentation.
CC @tfboyd for perf.

[2018-01-31 01:46] drpngx commented on #16000
So, the `GLIBC` error means that your libc version is too old. At this point I can see only three options:
* Upgrade libc on your system
* Rebuild tensorflow
* Run tensorflow within a docker container

[2018-01-31 01:53] drpngx commented on #16028
So the canonical way to tackle this problem is probably to "soften" the non-linear function, e.g use something like:
[code]
and increase `width` over time.

The second canonical way is to use an optimizer that implements the proximal [gradients](http://www.stat.cmu.edu/~ryantibs/convexopt-S15/lectures/08-prox-grad.pdf).

If you have a practical solution, we're always open to good algorithms! In ge

[2018-01-31 01:55] drpngx commented on #16046
Closing since it seems that the PR was merged. Feel free to reopen if there's a remaining issue.

[2018-01-31 01:57] eaplatanios commented on #16481
@mrry Given that the lookup table initializer op and the iterator initializer op run without any issues, is there any chance the resource manager is cleared/reset afterwards in between the session runs? Is there any tips you might have on how to debug this sort of error?

[2018-01-31 02:00] drpngx commented on #16050
Thank you for reporting that! It could be indicative of a bug in our code.

[2018-01-31 02:00] drpngx commented on #16050
@rmlarsen WDYT?

[2018-01-31 02:08] tatianashp commented on #16478
@chihuahua Could you please take a look at tensorboard dependency on futures?

[2018-01-31 02:11] drpngx commented on #15464
@OscarDPan how did that work out for you?

[2018-01-31 02:13] drpngx commented on #15530
@hormati WDYT?

[2018-01-31 02:14] cestas opened #16609 "Tensorflow on AMD - specific chips"
Hi

I live abroad so the choice in hardware is more limited here. I only have the below option for graphics card, but from reading i find it hard to figure out if tensorflow would work w this or not. Some threads say that it works with "newer ones from AMD", others say "it requires a lot of setup". Can anyone say if tensorflow can run of the gpu of the below "out of the box"?

AMD Radeon Pro WX 41

[2018-01-31 02:17] drpngx commented on #15564
So @AndreasMadsen what do you think of @facaiy comment? That it's undefined? If so, then we can either 1) not promise any value, so it's not a bug, or 2) define an expected behavior. In the latter case, then we either set to the value that @gcampax suggested, or leave it as is, but specify it in the documentation.

[2018-01-31 02:18] #15568 closed

[2018-01-31 02:20] drpngx commented on #15580
I think your best option is to install the prepackaged binary via Anaconda/pip as per our [doc](https://www.tensorflow.org/install/install_windows). Let us know if that worked for you.

[2018-01-31 02:23] reedwm commented on #16609
/CC @benoitsteiner can you comment on AMD and OpenCL support?

[2018-01-31 02:25] drpngx commented on #16608
There seems to be something called `stochastic_variables`, but I don't see anything called `stochastic_tensor`.

[2018-01-31 02:30] skye commented on #15396
Hey, sorry for not looking at this sooner, too many issues!

One note: I'm working on switching the Python API to call the C API, which means it'll switch to using the C++ shape inference implementation. I tried running the example with the C API enabled (by setting the env variable TF_C_API_GRAPH_CONSTRUCTION=1), and unfortunately it does even worse:
[code]

However, whoever takes this on should

[2018-01-31 02:34] drpngx commented on #16556
I haven't looked at your code, but there are two possibilities:
* requesting these variables changes global state, for instance, by assigning variables
* similar to the first case, but specifically to random generators
* the computation is non-deterministic, for instance, if you have parallel computation.

I would need to look at the code again to guess what it is, but in general it's both more ef

[2018-01-31 02:34] #16556 closed

[2018-01-31 02:36] drpngx commented on #16276
That looks reasonable. Feel free to send the PR!

[2018-01-31 02:37] is8ac commented on #16464
Thank you for clarifying.
I look forward to being able to use control dependencies.

[2018-01-31 02:38] drpngx commented on #16594
I see.

@martinwicke do you have more context on the collection names and which one we're supposed to be using?

[2018-01-31 02:39] drpngx commented on #15746
Thanks @tfboyd ! Closing then, since we have a better recommended way.

[2018-01-31 02:39] #15746 closed

[2018-01-31 02:42] pinemosquito commented on #14247
I run into this same error
ImportError                               Traceback (most recent call last)
<ipython-input-1-fb328cb2bd94> in <module>()
----> 1 import tensorflow.contrib.eager as tfe
      2 tfe.enable_eager_execution()
      3 import tensorflow as tf

ImportError: No module named 'tensorflow.contrib.eager'

[2018-01-31 02:44] lrigazio commented on #16606
I must say my use-case is a bit different ~ maybe that's why we didn't run into this issue before.

Basically my sampler can change class_it (this is just a skeleton of my main sampler // minimal code that breaks) --  think of sampling random part of an image and depending where you land you hit a different object so class_id will be different ... that clearly will change stats for the following r

[2018-01-31 02:51] asimshankar commented on #15972
The instructions should be updated now, to version 1.5.0.

[2018-01-31 02:51] #15972 closed

[2018-01-31 02:59] chesschi opened #16611 "Bug: tf.train.monitoredtrainingsession non-chief worker does not start"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 17.10
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: v1.4.0-19-ga52c8d9 1.4.1
- **Python version**: 3.6.3
- **Bazel version (if compiling from

[2018-01-31 03:18] yaroslavvb commented on #16046
it's still not clear if Ubuntu 14.04 binaries will be supported. Someone mentioned Google possibly providing 14.04 binaries to allow compatibility with GCP dataflow containers which are on 14.04

[2018-01-31 03:20] eaplatanios commented on #16481
@mrry I'm wondering if this has to do with me using the C API `TF_GraphToFunction` method. I'm using it to create the function provided to the dataset map. The lookup table which is used by the function is replaced with a placeholder of type `RESOURCE`. The initialized lookup table resource tensor is then passed as input to the created function op. Could this be causing the problem? It was all wor

[2018-01-31 03:24] QuntuamLoop opened #16613 "tensorflow upgrade made the spyder-ide editor auto-complite fail in python 3.6.4"
the enviroment is in the python 3.6.4, with the tensorflow upgrade to the new version 1.5.0. The function in spyder editor auto-complitation was failed. After I uninstall the package future and futures, the function was work again.
I also made a test in python 3.5.4, and there was no problem.

[2018-01-31 03:34] lrigazio commented on #16606
here, I made it nice and self-contained -- just run this --

[code]

[2018-01-31 03:45] tmlbl commented on #15492
I also saw same issue with bazel 0.9.0 building tensorflow 1.4.1 on Ubuntu 17.10, used `--incompatible_load_argument_is_label=false` and got past it.

[2018-01-31 03:51] fjanoos commented on #16504
I'm not sure I have a bug fix - since I don't know what the root of the problem is  :)

[2018-01-31 03:51] omatai commented on #16605
I got tensorflow on 25 Jan. On that date, the mnist_deep.py program specified shape=[None] for the y_ parameter. Clearly something changed that was not obvious to someone innocently reading the documentation online.

It would be very helpful if the new online documentation for Iris examples had clear date/version information on the python code they refer to in case someone changes the underlying c

[2018-01-31 03:59] yaox12 commented on #16478
I think the problem is caused by tensorboard dependency, it requires futures >= 3.1.1.

    futures requires Python '>=2.6, <3' but the running Python is 3.6.4

[2018-01-31 04:11] Aashit-Sharma commented on #16279
If you refer to my 1st and 2nd reply , where i mention of the main decoder function and in the following comment , of its sub-functions and placeholders (and graph variables) that is all the required stuff for the main function BUT the graph function does refer to other functions in the code to which it is related.
[code]

This can't be avoided as this is an implementation of HRED , which essentia

[2018-01-31 04:18] dyelax commented on #15737
Was this resolved? I'm still having this issue in 1.4

[2018-01-31 04:18] Xyza1972 commented on #14713
Hi, I used method in my model_fn provided by @GPhilo
The problem is that it will run init_from_checkpoint every time whether in TRAIN mode or EVA mode.

Is there any way to run init_from_checpoint once at the very beginning before the first train_op start?

[2018-01-31 04:21] martinwicke commented on #16046
The 1.5 final binaries should work on 14.04. If they don't we made some mistake and will patch.

[2018-01-31 04:22] #16046 closed

[2018-01-31 04:55] tremblerz commented on #16608
The api guide [LINK](https://www.tensorflow.org/api_guides/python/contrib.bayesflow.stochastic_tensor) shows it should have been there for version 1.5. Also, looking at the documentation source [here](https://github.com/tensorflow/tensorflow/blob/6e054dbd4b741d5b8fa8af93fdd7c9b74ae67ce0/tensorflow/docs_src/api_guides/python/contrib.bayesflow.stochastic_tensor.md) it looks like this wrapper was pre

[2018-01-31 05:06] rimidalv commented on #16588
@drpngx if you say about register operation I do this:

[code]
then this:
[code]
and finaly:
[code]

[2018-01-31 05:20] louisquinn commented on #16147
@tfboyd

Thanks for your update.
Actually I am halfway through implementing TensorRT in Python, so I think I will hold off and wait for the official merge from the PR you mentioned.

Thanks so much for your help!

[2018-01-31 05:40] ankitvgupta commented on #16536
Sorry, how would this impact Keras workflows? I believe this is a function that already exists in tf.keras as a layer that I'm hoping to add to tf.layers.

[2018-01-31 05:43] arunmandal53 commented on #15140
@ultrasounder pip install wheel should fix the problem before build. Sorry for late reply.

[2018-01-31 05:51] Rassibassi commented on #10749
Hej!
Thanks for fixing the issue. It seems like there is still an issue with the CPU FFT. It's more subtle, but after calling `ifft(fft(signal))` several times the error becomes apparent. Take a look at the following script.
I updated https://github.com/rassibassi/fftTensorflow with the tests in `run2.py`:

[code]
Output CPU
[code]
Output GPU:
[code]

[2018-01-31 05:52] eaplatanios commented on #16481
@mrry I finally resolved this. I was accidentally setting the shared name of the iterator I was creating. I'm not sure why this caused the problem, but without setting the shared name, everything works fine. Do you know why that could have happened? I'm actually curious.

[2018-01-31 06:03] prats226 commented on #1045
Also for some reason, num_epochs=2 doesn't throw error.

[2018-01-31 06:16] benbarsdell commented on #15425
I've run into this UnimplementedError as well with 1.5. A small repro:
[code]

It looks like the registration of the optimization pass at this line never happens:

https://github.com/tensorflow/tensorflow/blob/bf1fad214febef6af5c101d8f953d0109c46dfbb/tensorflow/contrib/nccl/kernels/nccl_rewrite.cc#L270

This may be because _nccl_ops.so doesn't include kernels/nccl_rewrite.cc:

https://github.com/t

[2018-01-31 06:22] PseudoDesign commented on #7072
I was running a game in the background.  Closing that cleared up the error.

[2018-01-31 06:37] fchollet commented on #16536
@martinwicke auto-wrapping non-layer ops as layer should not be an issue (once we figure out serialization).

But in this specific case, a global pooling layer has valuable benefits: because it includes a `data_format` argument which can have a global default, it enables you to build convnets where you can switch from NCHW to NHWC in one click.

[2018-01-31 07:01] xinmei9322 commented on #16106
I came across the same problem.

[2018-01-31 07:40] ashishkumar14 opened #16614 "AttributeError: module 'tensorflow' has no attribute 'keras'"
(tensorflow) admins-Mac-Pro:get_started admin$ python premade_estimator.py
Traceback (most recent call last):
  File "premade_estimator.py", line 88, in <module>
    tf.app.run(main)
  File "/Users/admin/Work/tensorflow/lib/python3.6/site-packages/tensorflow/python/platform/app.py", line 43, in run
    sys.exit(main(sys.argv[:1] + flags_passthrough))
  File "premade_estimator.py", line 34, in main

[2018-01-31 07:47] gunan commented on #16603
CC @martinwicke
`apt-get update && apt-get upgrade` should be sufficient on the images.
But if the host system is patched, would the guest system on running docker be vulnerable?

[2018-01-31 07:48] gunan commented on #16603
And looking at this, looks like that is exactly what you need to do:
https://security.stackexchange.com/questions/176657/how-to-mitigate-meltdown-in-docker-images

[2018-01-31 07:51] gunan commented on #16104
Eventually, we would like to enable this.
Maybe we can control this using environment variables just like we do for MKL?

[2018-01-31 08:10] OscarDPan commented on #15464
@drpngx Yes I have found the solution. The trick is to use tf.scatter_sub().op

[2018-01-31 08:10] #15464 closed

[2018-01-31 08:12] rimidalv commented on #16614
What is tensorflow version?

[2018-01-31 08:13] gunan commented on #15911
Looks like the error is emitted from this line:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/stream_executor/cuda/cuda_driver.cc#L233
I am not familiar with the code. @zheng-xq @jlebar any ideas?

[2018-01-31 08:17] ashishkumar14 commented on #16614
tensorflow version 0.12.0

[2018-01-31 08:23] rimidalv commented on #16614
The keras was added in tensorflow 1.4
https://github.com/tensorflow/tensorflow/blob/r1.5/RELEASE.md#release-141

[2018-01-31 08:40] ashishkumar14 commented on #16614
Thank you @rimidalv,  I upgrade it and it's working fine

[2018-01-31 08:42] AndreasMadsen commented on #15564
@drpngx I think the behavior should be the same as with softmax. Although, I don't remember what that is.

Softmax and Sparsemax share many properties and the use case it the same.

[2018-01-31 08:48] xinmei9322 opened #16617 "tf.tensordot on GPU"
Hi, I came across a problem when using eager execution with GPU.
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution **:  Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.5.0
- **Python version**: Python 2.7.12
- *

[2018-01-31 09:01] eddie-zhou commented on #14713
In 1.6, all Estimators will have native warm-start capabilities (only called in TRAIN).  See here:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/estimator/estimator.py#L102

[2018-01-31 09:13] KillPinguin commented on #15585
@reedwm Thank you for your response.

I did try to set the environmental variables, but it didn't change anything. The called CUDA functions remained the same, and it had no effect on timing.

The tutorials/image/mnist example can be found here: https://github.com/tensorflow/models/tree/master/tutorials/image/mnist
I just used it for trying a prebuilt model with fp16 vs fp32. (again: running with

[2018-01-31 09:37] mercy0387 opened #16619 "add new feature for tfdbg that ignoring specific layers"
Using tfdbg, `has_inf_or_nan` filter is very useful. But when I need `inf` at some calculations in the network explicitly, this filter catches `inf` every time. (e.g. https://github.com/keras-team/keras/issues/9161 )

So I want to suggest new feature, `ignore option`, to `add_tensor_filter`. (I think it's around [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/debug/wr

[2018-01-31 09:46] jlebar commented on #15911
It would be helpful if you could do a bit of debugging yourself.  CUDADriver::CreateContext is responsible for creating the driver context TF uses.  Is it being called and successfully getting down to the cuCtxSetCurrent call?  If it is, it is CUDADriver::CreateContext called before or after you finish mucking with libcuda directly?

I think the question is, why is the context not set correctly?

[2018-01-31 10:03] ribonucleic commented on #12736
Thanks for the input_layer="Mul" hint, saved me.

I tried to display the node names to find precisely that. I only got some nodes for the picture feeding and similar, nothing for the inception model. Anyone knows how to find them so I am not reliant on random websearches?

[2018-01-31 10:23] ymcasky opened #16620 "How to use model.summary() when using placeholder instead of Input(keras)"
Dear all,
I follow  post in "https://blog.keras.io/keras-as-a-simplified-interface-to-tensorflow-tutorial.html"
The little modified code I use is:
----------------------------------------------------------------------------------------------------------------------------------
import tensorflow as tf
from tensorflow.python.keras.layers import Dense
from tensorflow.python.keras.backend import categ

[2018-01-31 10:43] mateuyabar commented on #2072
Why not ensuring that there is at least an image in validation? At least it does not crash.
I've modified retrain.py to ensure that at least there is an image in validation (line 201)

[code]

[2018-01-31 11:59] AshAswin opened #16621 "Using tf.train.SyncReplicasOptimizer with multiple optimizers"
I am trying to run the DeepLab Resnet (https://github.com/DrSleep/tensorflow-deeplab-resnet) in a distributed setup. I opted Synchronous Data parallel training approach similar to the one demonstrated in the Inception distributed training example.(https://github.com/tensorflow/models/tree/master/research/inception).

In the Inception example, a single RMS optimizer is used to reduce the loss. The

[2018-01-31 12:19] abntu commented on #15656
couda older version(CUDA 9):
https://developer.nvidia.com/cuda-toolkit-archive

[2018-01-31 12:33] Tracy6465 opened #16622 "update tensorflow to 1.5"
I update tensorflow to 1.5,and reinstall cuda to 9.1,now  I run my program get the error:
Traceback (most recent call last):
  File "/home/chris/tensorflowDemo/7_1_Word2Vec.py", line 24, in <module>
    import tensorflow as tf
  File "/home/chris/.local/lib/python3.5/site-packages/tensorflow/__init__.py", line 24, in <module>
    from tensorflow.python import *
  File "/home/chris/.local/lib/pytho

[2018-01-31 12:35] igor9silva commented on #10468
@petewarden it doesn't seem official. This seems though -> https://github.com/apple/coremltools.

[2018-01-31 12:48] jeyawn opened #16623 "toco crashed while change model to lite"
I use toco to change model to lite format, it crashed like the following statck (PS: toco was compiled in my own machine with the tensorflow code. The git commit is 9fb9ac66ce5236ff045630cad6793f0531bf9d2c, with date Sun Jan 21 07:43:08 2018 +0800 )

Program received signal SIGSEGV, Segmentation fault.
0x000000000046bdf8 in void toco::(anonymous namespace)::EvaluateBinaryOperatorOnConstantInputs<(

[2018-01-31 12:52] jeyawn commented on #16623
[test.zip](https://github.com/tensorflow/tensorflow/files/1681707/test.zip)

[2018-01-31 12:58] namrata-ibm commented on #16540
@drpngx , @ebrevdo , Found the cause of failure of this test.
Looks like the precision is lost [here](https://github.com/tensorflow/tensorflow/blob/v1.4.1/tensorflow/python/ops/nn_test.py#L878).

When I changed the dtype from float32 to float64 as below, the test passed.
[code]

I also tried the same on x86, and it's still passing.

Is it OK to create a PR with this change?

[2018-01-31 13:23] llyyun opened #16624 "Crash caused by depthwise_conv on iOS"
Hi

I integrated the same tflite mode to android and iOS app, on android it always works fine, but on iOS the result is incorrect and sometimes app crashed, seems like there's an issue at depthwise_conv.
The crash log is as follows:

[code]

**System information**

Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
OS Platform and Distribution (e.g.,

[2018-01-31 13:38] AndrewLouw commented on #3693
This was not a memory issue - the issue arises when you install other packages , i've not worked out the details yet but I think either PIL (pillow) or pycat can cause some sort of conflict if installed in the same environment as tensorflow specifically causing this line:
from tensorflow.examples.tutorials.mnist import input_data
to cause the kernel to die. I've seen reports that cuda also causes

[2018-01-31 13:54] ziofil commented on #16548
I'm sorry @drpngx , perhaps I wasn't clear: **my issue is still unsolved** (I can't initialize a `dynamic_rnn` using that `RNNCell` with a convolutional layer).
I thought you had asked me to verify that `tf.layers.con2d` could create an op.

[2018-01-31 14:01] MarkDaoust commented on #12736
In TensorBoard? double click on boxes to see inside.

[2018-01-31 14:38] CNugteren commented on #16622
That's an issue with your CUDA install: cuBLAS is not in your library path. If you are on Linux, you should set up your `LD_LIBRARY_PATH` properly, e.g. like this (depending on where you installed CUDA 9):
[code]

[2018-01-31 14:53] albertz commented on #16488
[New Travis log](https://travis-ci.org/rwth-i6/returnn/jobs/335558010), with Python 3.6:

[code]

So TensorFlow has set Numpy >= 1.12.1 as a dependency, which is the problem I guess, because it needs Numpy 1.14 here? I still have to try with a newer Numpy.

[2018-01-31 15:44] albertz commented on #16488
With the upgrade to Numpy 1.14, it works, as can be seen [here](https://travis-ci.org/rwth-i6/returnn/jobs/335658910). But still, this is a bug in the TensorFlow pip package, which has set the wrong Numpy version dependency.

[2018-01-31 15:45] joel-shor commented on #16593
You're right; that's a bug. I'll fix it shortly.

To answer your other question: yes, you can define the functions however you'd like. I used slim to keep the definitions short, but TFGAN is framework-agnostic.

[2018-01-31 16:00] asimshankar commented on #16523
I believe this is addressed in https://github.com/tensorflow/tensorflow/pull/15173 ?

[2018-01-31 16:02] nxphi47 commented on #16593
Thank you very much,

Along with that, I can show me how or change the codes somehow that I can feed custom arguments to the graph that differs during training mode and inference mode. For example, dropout and batch norm behaves differently between two modes, or `tf.cond(is_training, true_fn, false_fn)`.

[2018-01-31 16:15] jmlipman commented on #16589
I'm having the same issue, and I think it's because I haven't linked anything to the Android NDK I downloaded (I had my Android Studio installed and even tensorflow mobile worked for me). Might be that?  Still trying to figure out how to solve this.

[2018-01-31 16:32] nikhilk commented on #16523
From a quick read of the history on that bug, I don't think it does. I think from there print is still based on using the logging infrastructure and/or stderr, whereas `print()` by default writes unconditionally to stdout, which would be the desired behavior.

[2018-01-31 16:34] goughjt opened #16626 "example script multivariate.py throws "UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.""
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
I am using the example script `tensorflow/contrib/timeseries/examples/multivariate.py`
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Mac OS High Sierra (darwin)
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command be

[2018-01-31 16:55] rkbansal83 commented on #9910
what was the resolution for this one ? I am running into similar issue where in TFR file written by this sparktensorflow connector is not being read by python code.

[2018-01-31 17:18] woozhanwei commented on #16498
Hi there,
I have figure out this problem and solve it. Thank you for your help.

In MultiboxTracker.java
if (rectsToTrack.isEmpty()) {
      trackedObjects.clear(); //add this code to remove the bounding box when nothing is detected
      logger.v("Nothing to track, aborting.");
      return;
}

[2018-01-31 17:26] noammor opened #16627 "TF consumes all available RAM with a particular combination of conv2d, batch_norm and LSTM"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.5.0-0-g37aa430d84 1.5.0
- **Python version**: 3.6.4
- **Bazel version (if compiling fro

[2018-01-31 17:28] mkmatlock commented on #15589
This seems to still be a problem in the new 1.5.0 release. Any idea when this fix will be included in a release?

[2018-01-31 17:47] nxphi47 commented on #16627
Can you give the logs of the errors?

I believe layers.batch_norm only accept is_training of type python bool, it does not accept tf.placeholder. So if you really want to do `is_training_var`, you may do so,
`
train_bn = layers.batch_norm(is_training=True) # put them same name, same scope
inference_bn = layers.batch_norm(is_training=False, reuse=True)
bn = tf.cond(is_training_var, lambda: train_bn

[2018-01-31 17:57] jeffcarp commented on #15892
Oops, I'm getting invalid cert errors at https://tensorflow.org now - looks like the certificate expired on Thursday, June 29, 2017 at 5:00:00 PM? That's weird because https://tensorflow.org worked for me before.

[2018-01-31 18:00] djrut commented on #14504
We are seeing this same issue with model_to_estimator, and it is currently blocking a large project.

Any update?

[2018-01-31 18:02] JVOSU commented on #14504
me too.

[2018-01-31 18:03] noammor commented on #16627
There is no output, it just hangs and starts eating up memory.

I just tried replacing `batch_norm` with `layer_norm`, which doesn't have an `is_training` parameter at all - no luck, still eats up all the memory.

It's also worth mentioning that the exact same code runs successfully on an AWS P2 server which has tensorflow 1.3 installed.

[2018-01-31 18:04] martinwicke commented on #15892
www.tensorflow.org worked for you. tensorflow.org probably never did.

Which is still a problem.

@wolffg @MarkDaoust FYI

@gunan, what happened to that cert? I thought you got one.

[2018-01-31 18:06] reedwm commented on #16605
Ah, I see the problem. The tutorial you linked to has the line

The tutorial had the correct shape, but mnist_deep.py has a 1D shape for some reason, and other parts of the code were modified to accommodate that. Thank you for finding this discrepancy! Since has been deleted, there isn't anything to fix anymore.

/CC @jugglerix, can you comment on the version information suggestion? If someone mod

[2018-01-31 18:09] andrewharp commented on #16498
For context this should only an issue if real-time tracking is not enabled (i.e. if libtensorflow_demo.so is not found). When tracking is active the normalized cross-correlation check of the object's initial vs current appearance will catch the track loss and remove the box automatically.

This is probably not the optimal behavior, so a PR to tweak it would be appreciated (though we do not want to

[2018-01-31 18:12] reedwm commented on #16617
/CC @asimshankar

[2018-01-31 18:17] Spenhouet opened #16628 "Tensorflow switches to CPU when using Variable.assign"
### System information
- **OS**:Windows 10
- **TensorFlow installed from**: binary
- **TensorFlow version (use command below)**: 1.4.0
- **Python version**: 3.6.4
- **CUDA/cuDNN version**: 8.0 / 64
- **GPU model and memory**: GeForce GTX 1080 8 GB
- **Exact command to reproduce**: run the provided code below

### Describe the problem
I'm using a `tf.Variable` for the learning rate of a optimizer.

[2018-01-31 18:18] drpngx commented on #16548
What is the error?

[2018-01-31 18:19] reedwm commented on #16621
When you say

Do you mean tf.train.SyncReplicasOptimizer? I'll assume you do.

In any case, I'm not sure how to handle this. I think if you use three SyncReplicasOptimizer, each wrapping an optimizer, everything will work, but I'm not sure. /CC @ispirmustafa @panyx0718, any ideas?

[2018-01-31 18:21] quaeler commented on #15933
(a) This is **excellent** work - thank you.
(b) On the larger scale of things, I don't know what one does with this information in a helpful manner (for TF or otherwise.) It should be disseminated so that it is definitely "public knowledge", but I'm short on a useful idea how to do this. @cy89 ? @martinwicke ?

[2018-01-31 18:24] amir-zeldes commented on #15435
I can confirm the same observation: command line usage works fine, but in PyCharm I get:

[code]

PATH includes CUDA directories bin, lib/x64 and extras/CUPTI/libx64. I noticed the file cudart64_80.dll does in fact exist in <CUDA>/bin, not sure what is causing this.

[2018-01-31 18:31] sleighsoft commented on #16180
It seems that when installing tf15rc1 now it installs tensorflow-tensorboard1.5.0
This seems solved

[2018-01-31 18:33] drpngx commented on #15564
Right. Can you send a PR?

[2018-01-31 18:34] drpngx commented on #15564
Also, it's always a good idea to check what numpy does. We don't have to be compatible but we should clearly indicate when we are

[2018-01-31 18:39] reedwm commented on #16623
/CC @andrehentz, can you take a look?

[2018-01-31 18:45] reedwm commented on #16627
I can reproduce on 1.5, but not on the master branch. So, this issue has been fixed, but we should probably identity the commit that fixed it and put it in 1.5.

/CC @ebrevdo, any ideas what commit fixed this?

[2018-01-31 18:45] petewarden commented on #12301
Because of the lack of pthread support on Windows, and the fact that gemmlowp (the quantized math framework we use) relies on it, supporting the graph transform tool isn't possible at the moment on the platform. I don't think it's likely that we'll get a Windows-friendly version of gemmlowp soon, so closing this as infeasible.

[2018-01-31 18:46] MarkDaoust commented on #15994
This isn't something we can automate, and there are a lot ops.

In many cases these are standard operations and the information is easy to find.

But If you have any specific suggestions feel free to send PRs improving the docs.

[2018-01-31 18:47] reedwm commented on #16613
Can you clarify what you mean by

Note I don't use spyder. This looks like a Spyder issue, not a TensorFlow issue.

[2018-01-31 18:47] petewarden commented on #12560
I'm actually not sure what the underlying issue is here with mixing the Pod manager and the selective registration, but since the OP managed to work around it by skipping Pods, closing.

[2018-01-31 18:47] #12560 closed

[2018-01-31 18:48] petewarden commented on #12750
The recommended way to load a model is through the freeze_graph process. There's some more detail here: https://www.tensorflow.org/mobile/prepare_models

[2018-01-31 18:48] #12750 closed

[2018-01-31 18:51] asimshankar commented on #16464
Fix submitted internally, should be synced to github in the next day or so. Thanks!

[2018-01-31 18:53] woozhanwei commented on #16498
Ok, thank you. :)

[2018-01-31 18:57] poxvoculi commented on #15425
@chsigg can you clarify as to whether this test program is using contrib/nccl in the anticipated way?

[2018-01-31 18:59] tomwarrens commented on #12301
Thanks for answering :)

Have a nice day!

On Wed, Jan 31, 2018 at 7:49 PM, Pete Warden <notifications@github.com>
wrote:

[2018-01-31 19:02] ispirmustafa commented on #16108
There is [tf.metrics.true_negatives](https://www.tensorflow.org/versions/master/api_docs/python/tf/metrics/true_negatives)

[2018-01-31 19:02] #16108 closed

[2018-01-31 19:02] ziofil commented on #16548
The one on the title of this issue: ```AttributeError: module 'tensorflow.python.layers.layers' has no attribute 'conv_2d'```

[2018-01-31 19:05] ppwwyyxx commented on #16628
Do not create ops (assign) in the training loop.

[2018-01-31 19:05] mrry commented on #12301
@petewarden I think we're using a post-https://github.com/google/gemmlowp/commit/f7ed566503ad00b8f30594732f2dc134404b47e1 version of gemmlowp on Windows, which gets around the pthread dependency, so it should be feasible now.

[2018-01-31 19:08] Spenhouet commented on #16628
@ppwwyyxx Then how can I change the `Variable` value in the training loop without `assign`?

[2018-01-31 19:12] #12904 closed

[2018-01-31 19:17] drpngx commented on #16548
So you created that cell. Can you change it to `conv2d` instead of `conv_2d`?

[2018-01-31 19:18] petewarden commented on #13838
The optimize_for_inference script is now deprecated in favor of the Graph Transform Tool (though we should make that clearer in the documentation):
https://www.tensorflow.org/mobile/prepare_models

Closing this, since I don't believe the GTT approach has the same issue.

[2018-01-31 19:18] #13838 closed

[2018-01-31 19:18] mitar commented on #15953
What about if instead it would go to Python `logging` interface? Tensorflow is already using it for Python part of the code, so maybe C code can interact with that and send it that way?

[2018-01-31 19:20] petewarden commented on #13868
I've pinged the author of the SVDF model for more info.

[2018-01-31 19:20] #16614 closed

[2018-01-31 19:20] #16628 closed

[2018-01-31 19:21] ziofil commented on #16548
omg, I can't believe it was a typo... Ok, problem solved! 😅

[2018-01-31 19:21] #16548 closed

[2018-01-31 19:23] JohnnyY8 commented on #16180
@drpngx  Thanks, I reinstall the tensorflow. It seems solved.

[2018-01-31 19:24] drpngx commented on #16626
You probably want to check the max index of your sparse tensor, or set the static shape to be sure.

This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-31 19:24] #16626 closed

[2018-01-31 19:25] petewarden commented on #13939
Closing this, since I think it's a dupe of #2807. We are still actively working on quantization, but with the goal of deploying it in TF Lite for mobile.

[2018-01-31 19:25] #13939 closed

[2018-01-31 19:25] JohnnyY8 commented on #16180
@sleighsoft Thanks. I just reinstall tensorflow, because it is not convenient for other people to use it.

[2018-01-31 19:25] #16180 closed

[2018-01-31 19:34] drpngx commented on #15284
So should we do this then? Any volunteer to send a PR for the `Dockerfile` without jupyter? As @yongtang suggested, if we remove the Jupyter section then this can be built at no extra cost because docker hashes each command and keeps the layers. What else do we need, some docs? Are people supposed to `docker run .. bash` then run python by hand?

Another possibility is to have a docker jupyter mou

[2018-01-31 19:34] petewarden commented on #15062
We don't officially support odroid or BeagleBones, but I am surprised to see this error. I have some details on cross-compiling for the similar Pi platforms here:
https://petewarden.com/2017/08/20/cross-compiling-tensorflow-for-the-raspberry-pi/

I did see similar symptoms when I was cross-compiling and wasn't using matching alignment options on the Pi 3, which was fixed by some compile flags:
htt

[2018-01-31 19:34] #15062 closed

[2018-01-31 19:35] drpngx commented on #15292
Did you try with the latest version of tensorflow?

[2018-01-31 19:35] drpngx commented on #15314
This seems to be a duplicate. Closing.

[2018-01-31 19:35] #15314 closed

[2018-01-31 19:36] petewarden commented on #15921
Closing as fixed, thanks Jeff!

[2018-01-31 19:36] #15921 closed

[2018-01-31 19:37] drpngx commented on #15320
@tatianashp could you maybe take a look?

[2018-01-31 19:38] petewarden commented on #16164
You should be able to recover from this error by deleting model_dir, in your case `tf_files/models/"${ARCHITECTURE}"`. Closing this for now, please reopen if that doesn't work!

[2018-01-31 19:38] #16164 closed

[2018-01-31 19:39] drpngx commented on #15370
That sounds reasonable. If we'd encourage a submission, then we would need to make sure we have a maintainer.

[2018-01-31 19:40] drpngx commented on #15374
Yes, that's correct. Feel free to send a pull request to update the docs.

CC @MarkDaoust

[2018-01-31 19:41] drpngx commented on #15400
@gunan are we missing a dependency?

[2018-01-31 19:42] lewisl commented on #15933
Thanks for putting so much work into this.  Really helps with the underlying cause.

On a somewhat discouraging note I’ll point out that upgrading MacOS very likely won’t help. The symptoms I saw—a conv-net that won’t converge (cost and accuracy remaining flat regardless of number of epochs of SDG—occur with higher versions of tensorflow on MacOS High Sierra 10.13.3 (the latest).

I’ll try re-ihst

[2018-01-31 19:42] petewarden commented on #16231
This is a duplicate of #12904, which I believe I've just fixed.

[2018-01-31 19:42] #16231 closed

[2018-01-31 19:46] sandys commented on #12750
@petewarden thanks for the detailed note on the page. Could you add how to do this when using Google's own Cloud ML for training ? because the bazel thing is extremly tricky on CloudML.

Additionally, it would help to have this example on https://github.com/GoogleCloudPlatform/cloudml-samples
thanks!

[2018-01-31 19:48] drpngx commented on #15416
Unfortunately that's not a configuration that we support.

Are you trying to run the tensorflow python environment or just the runtime?

[2018-01-31 19:51] amir-zeldes commented on #15435
OK, it took two restarts and now I can't reproduce the bug... Not sure what happened. I should point out that I had attempted to upgrade to cuda 9 before this happened, discovered that it wasn't supported under Windows, downgraded to TF1.4, and after uninstalling cuda and reinstalling v8, this bug happened, and persisted after one restart, despite everything being in path. I also restarted PyCharm

[2018-01-31 19:52] drpngx commented on #15206
@mrry could you take a look?

To be sure, @stecklin could you try `tf.Graph.finalize()` to make sure that the graph is not growing?

[2018-01-31 19:52] drpngx commented on #15210
OK, maybe it was a transient bug. Closing.

[2018-01-31 19:52] #15210 closed

[2018-01-31 19:54] drpngx commented on #15214
Ugh, thanks for debugging. Are you in a position to send a PR?

[2018-01-31 20:03] reedwm commented on #16611
Thank you for creating a short example! I am able to reproduce the issue.

/CC @ispirmustafa, know what the problem is?

[2018-01-31 20:13] petewarden commented on #16234
This is a general requirement for image models, they need their input to be converted from pixel's RGB values that range from 0 to 255 integers, to -1.0 to 1.0 floats. The way this is done is by subtracting 128 and dividing by 128. Closing this as working as designed, please reopen with more information if you think this is incorrect.

[2018-01-31 20:13] #16234 closed

[2018-01-31 20:16] petewarden commented on #16497
Can you try a few things to help us get more information:

 - Is your model slow when run in Android on regular TensorFlow (not TF Lite)?

 - If it is, can you run the steps described [here](https://www.tensorflow.org/mobile/optimizing) in "Profiling your model" and add the log output?

[2018-01-31 20:17] KeironO commented on #13838
I'm tempted to suggest that a warning should be provided to users, warning them that this is the case.

[2018-01-31 20:21] petewarden commented on #16592
TensorFlow is known to use a lot of memory when copying constants with frozen graphs. The best way to solve this is to memory-map the file, as described here under Reducing Memory Footprint:
https://www.tensorflow.org/mobile/optimizing

Alexnet is a very old model at this point though, and I'd highly recommend looking at a more modern version like MobileNet that can achieve better accuracy with a

[2018-01-31 20:26] petewarden commented on #12301
Ah, I missed that, thanks for the heads-up @mrry!

[2018-01-31 20:53] ispirmustafa commented on #16621
I don't think `tf.train.SyncReplicasOptimizer` designed to handle multiple optimizers. You can workaround it by creating your own optimizer. something like:

[code]

[2018-01-31 20:53] #16621 closed

[2018-01-31 21:06] asimshankar commented on #15729
Yeah, the API addition seems reasonable. Contributions welcome.

[2018-01-31 21:09] sleighsoft opened #16629 "How to get RunMetadata for tf.data.Dataset ops?"
Tensorflow version: 1.5 (pip)

I am interested in the runtime of ops when using the `tf.data.Dataset` api.
Information like how long shuffle, repeat or batch took.
When running the code below and visualizing it in tensoboard the intersting ops are marked as "unused substructure".

Is my approach the right one?
I find it a little confusing that they show up, but are not traceable.

Example code
[co

[2018-01-31 21:28] tatianashp commented on #15320
@BogdanRuzh  If you look at your models in TensorBoard you should be able to see dependencies between the operations. TensorFlow may execute independent operations in parallel. Based on the timelines that you posted, segmentation model likely has all big operations depending on each other, while inception has operations that can be executed in parallel.

As I can see, you solved your reported prob

[2018-01-31 21:28] #15320 closed

[2018-01-31 21:39] jeanlucbr commented on #15554
mkassner, there are many devices coming out with hardware acceleration.  I'll see if we can get permission to share a list of devices.

Thanks for looking into TFLite and the NNAPI.

[2018-01-31 22:22] drpngx commented on #14684
It's packaging checkpoints inside. You should use the same interface to load the models.

I'm closing this. Feel free to ask the question on stackoverflow if you have trouble with the docs.

[2018-01-31 22:22] #14684 closed

[2018-01-31 22:24] drpngx commented on #14784
The short answer is, no, there isn't, and I think it might be a long way from there. Feel free to submit a PR.

CC @asimshankar @skye Back in the days, some people would write automatic converters, then polish up the code manually. That might be an interesting experimental thing to do.

[2018-01-31 22:24] botev opened #16631 "Allow variable_overwrites on scope level"
This is a request for allowing to pass a dict of `variable_overwrites` to variable scopes which to be returned when `tf.get_variable` is called instead of the usual procedure, if they are provided, otherwise do the usual procedure. A simple example of this beahviour is:
[code]
This is particularly usefull for being able easily to bootstrap neural network parameters coming from inside the layers tr

[2018-01-31 22:25] drpngx commented on #14850
@fesun are you still seeing the issue with the latest code?

[2018-01-31 22:27] drpngx commented on #15010
We're trying to deprecate the queues. Could you try the `contrib.data` API instead?

[2018-01-31 22:38] drpngx commented on #14196
Thank you @andrebeu for reporting back. Glad you solved the issue!

[2018-01-31 22:38] #14196 closed

[2018-01-31 22:40] drpngx commented on #14248
Closing since it looks like the issue was resolved. Feel free to reopen.

[2018-01-31 22:40] #14248 closed

[2018-01-31 22:44] reedwm commented on #15585
Looking at [matmul_op.cc](https://github.com/tensorflow/tensorflow/blob/de0904e90669d345e0feaa89d1e99b7618fb6677/tensorflow/core/kernels/matmul_op.cc#L388), it looks like we sometimes do not pass the compute type from `TF_FP16_MATMUL_USE_FP32_COMPUTE` to cuBLAS. Adding a log statement, this seems to be occurring. /CC @yzhwang can you comment?

Looking at tutorials/image/mnist, I'm not sure why fp1

[2018-01-31 22:53] ahundt commented on #781
@ringw I've been looking at [image_ops in tf.contrib.image](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/image/python/ops/image_ops.py) in tf 1.5 and it looks amazing! Thanks! I'm giving it a try now. :+1:

What's definition of identity here in terms of `a0, a1, ...`? I assume all 0 except `a0, b1, c2 == 1`?

What do you think of a function `identity_projective_transform

[2018-01-31 22:58] reedwm commented on #16629
/CC @mrry, can you comment?

[2018-01-31 23:00] reedwm commented on #16631
/CC @martinwicke, thoughts?

[2018-01-31 23:02] #15034 closed

[2018-01-31 23:07] ahundt commented on #781
Also is the following correct if I want to define an actual coordinate index in the input image, apply the transform, and get the same coordinate in the output image?

[code]

[2018-01-31 23:19] gunan commented on #15656
Just to update, after discussing with nvidia, and our team we decided to stay with cuda 9.0 for 1.6 release.

[2018-01-31 23:25] reedwm commented on #16205
/CC @gunan, any ideas what the issue could be?

Also, I doubt this makes a different, but the command
[code]
appends the line to the file, keeping the old lines. Try replacing >> with >.

[2018-01-31 23:31] asimshankar commented on #16617
Thanks for the report. This issue isn't specific to eager execution - the underlying problem is that `tf.tensordot()` utilizes operations on `tf.int32` tensors, and many operations do not have GPU kernels that support int32. For example, without eager execution, you'll see a similar error:

[code]
leads to:

[code]

This probably has something to do with the use of `gather` and other operations wi

[2018-01-31 23:32] reedwm commented on #16097
Running that example uses a maximum 6.8 GB of CPU RAM for me using TensorFlow 1.5. Does the issue still occur on 1.5?

Also, try using binary search to find the maximum size tensor you can create, and see how much memory the process takes

[2018-01-31 23:41] EricKani commented on #14247
Have someone fixed this question?

1.4.0

b'unknown'

Emmm, what the 'git' used for contrib.eager?
Thanks.

[2018-01-31 23:56] yongtang commented on #15374
Added a PR #16633 for the doc update.

[2018-02-01 00:02] asimshankar commented on #14247
@pinemosquito @EricKani - `tensorflow.contrib.eager` was not included in TensorFlow 1.4. It is included in TensorFlow 1.5.

[2018-02-01 00:05] gunan commented on #16541
All I can think of is playing with these flags:
https://gcc.gnu.org/onlinedocs/gcc/x86-Options.html

[2018-02-01 00:14] yzhwang commented on #15585
Note that to call cublasGemmEx, one needs to enable autotune for matmul, which can be done by setting this environment var:
`export TF_MATMUL_AUTOTUNE_ENABLE = 1`
By default the autotune for matmul is disabled,

So first you can try turning on the autotune for matmul.

@reedwm For your question, I think the computation_type is the param that is sent in. I do not see any possibility that it failed

[2018-02-01 00:27] martinwicke commented on #16631
I believe you can implement this with a custom_getter. I would not want to add additional complexity to the already bloated variable_scope signature.

[2018-02-01 00:27] #16631 closed

[2018-02-01 00:35] frankgh commented on #16538
@fchollet I have submitted a PR to fix this issue: https://github.com/tensorflow/tensorflow/pull/16634

[2018-02-01 00:49] botev commented on #16631
With custom getter you can implement it only if you replace all variables in that scope, there is no way to use a custom getter and also allow for get variables. Is it at least possible if the custom getter returns None to fall back to the other code?

[2018-02-01 00:49] Tracy6465 commented on #16622
**I have set the variables**
chris@chris:~$ echo $CUDA_HOME
/usr/local/cuda-9.1
chris@chris:~$ echo $LD_LIBRARY_PATH
/home/chris/torch/install/lib:/home/chris/torch/install/lib:/usr/local/cuda-9.1/lib64:/usr/local/cuda-9.1/extras/CUPTI/lib64:/home/chris/torch/install/lib:

[2018-02-01 00:56] martinwicke commented on #16631
If you implement your custom_getter, you can call the original getter in order to fall back on the existing method to make a variable. So you check your dict, return a special thing if your variable is in there, otherwise return whatever the getter you get in the first arg returns.

[2018-02-01 00:58] dchichkov commented on #15140
Mind that Linux 4.13.x (default on 16.04.3) has some issues with 387.22+.
 https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1742302

[2018-02-01 01:00] bhack commented on #15293
©martinwicke What do you think about "low latency"
approaches like [Gazelle](https://arxiv.org/abs/1801.05507)?
I think that we can leave an issue open to track privacy preserving efforts. Probably we could reprhase this orginal issue.

[2018-02-01 01:13] martinwicke commented on #15293
If I read those numbers correctly, that's still roughly a 1000x slowdown over plain computation, not considering accelerators. It's hard to tell because the paper does not compare to non-HE runtimes.

I'm sure this will get better. If someone were to propose a set of ops that are useful in the context of  HE, I would want those, but in a separate repo (I want everything in a separate repo for main

[2018-02-01 01:30] MarkDaoust commented on #15886
cc ewilderj@

[2018-02-01 01:50] patrick-ucr commented on #10952
May I ask how you solved the issue? I am having the same now.

[2018-02-01 01:55] tatianashp commented on #16478
@yaox12 You are correct. It is tensorboard issue. See tensorflow/tensorboard/#916. tensorflow/tensorboard/#920 PR fixes the problem.

[2018-02-01 01:56] ymcasky commented on #16620
I solve my problem!!
Just use inputs = Input(tensor=img)
everything will be fine : )

[2018-02-01 02:07] tatianashp commented on #1984
Thank you! We are looking forward to your PR.

[2018-02-01 02:30] ymcasky commented on #16620
I have one more question
---------------------------------------------------------------------------------------------------------------------------------------
import tensorflow as tf

from tensorflow.python.keras.layers import Dense
from tensorflow.python.keras.backend import categorical_crossentropy
from tensorflow.examples.tutorials.mnist import input_data
from tensorflow.python.keras.models i

[2018-02-01 02:33] alltom opened #16638 "Feature request: use padded_batch with tf.estimator.export.build_parsing_serving_input_receiver_fn"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 10.12.6
- **TensorFlow installed from (source or binary)**: I forget
- **TensorFlow version (use command below)**: 1.4
- **Python version**: 2.7.8
- **Bazel version (if compiling from source)**:
- **GCC

[2018-02-01 03:00] #16287 closed

[2018-02-01 03:01] rolla12 commented on #15140
@dchichkov  that issues has been solved by the driver 390

[2018-02-01 03:28] #15374 closed

[2018-02-01 03:46] webprogrammingsolutions opened #16641 "ImportError after compiling"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:

Yes. I followed this guide in an attempt to gain GPU support under macOS. (https://tweakmind.com/tensorflow-1-5-macos-10-13-2/). The code changes are made by these commands:

sed -i.bu 's/__align__(sizeof(T)) //g' tensorflow/core/kernels/depthwise_conv_op_gpu.cu.cc
sed -i.b

[2018-02-01 03:54] #13079 closed

[2018-02-01 03:56] imsheridan commented on #14629
Created a PR #16642 to try to address this issue.

[2018-02-01 04:17] imsheridan commented on #15696
This has been fixed by #16307, thus this issue can be closed.

[2018-02-01 04:28] dakoller commented on #14589
Hi, is there an ETA for this? And more: will it likely work... or are the drawbacks of low memory so bad, that it would make no fun?

[2018-02-01 04:34] atomextranova commented on #9270
Is there any further update that supports directly make SVM, especially non-linear svm with custom regularization (at least common ones like l2-regularization) as one layer in a neural network?

[2018-02-01 05:19] botev commented on #16631
Thanks that indeed solved the issue. I was not aware of the `custom_getter`.

[2018-02-01 05:23] repoalpha opened #16644 "clear"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-02-01 05:56] wxjames opened #16645 "What's the difference between Univariate prediction and Multivariate prediction?"
My understanding is that paramenters of neurals are shared in Multivariate prediction and they can learn some correlations between series. There is less training time in Multivariate prediction. I wonder if that's right. Could you please explain any basic principles of Multivariate prediction with LSTM or recommend related papers to me? Thank you.

[2018-02-01 05:58] #16225 closed

[2018-02-01 06:34] buptzzl opened #16646 "can tf.estimator.Estimator's parameters be modified by hand?"
TF's  high level API  is very convenient to defined a new model.
However, many DNN Machine Learning task has to reuse some old model's parameter to fill a new model and then  fine-tune it in new tasks.
I have read the tf.estimator.Estimator'API  carefully, but cann't find any API to set It's parameters. Hope  TF developer  add this function to the high level API.
Thank very much!

[2018-02-01 06:36] pinemosquito commented on #14247
Thank you!  My version was very old 0.12.1
I updated with docker run -it gcr.io/tensorflow/tensorflow:latest-devel to 1.5 and it is working now

[2018-02-01 06:41] #16464 closed

[2018-02-01 06:42] rajendraarora16 commented on #16483
Is this throwing an exception just because of GPU? I tried it using CPU. Just a thought.

[2018-02-01 07:29] gunan commented on #15400
The error message seems to be during the installation of tensorflow?
Unless @yifeif sees something else in the error, I think this is a pip/setuptools bug, not a tensorflow one as the command the error is seen is a pip command.

[2018-02-01 07:31] EricKani commented on #14247
Thank you！

[2018-02-01 07:31] mkassner commented on #15554
@jeanlucbr  a list of supported devices would be great! Will some of the devices be released this year?

[2018-02-01 07:31] gunan commented on #15284
We can probably just use a dockerfile like this:
https://github.com/gunan/tensorflow-docker/blob/master/gpu-devel/Dockerfile.ubuntu
We will need to update scripts we have, too.

[2018-02-01 07:36] sakaia commented on #9868
I am trying to modify imdb_fasttext.py as follows (4points added).
But the chrome shows simple timeline for timeline.keras.json.
Is this correct usage for chrome timeline ?

[code]

[2018-02-01 08:29] ustcxxs commented on #15788
hello,I have  Error like this ,can you help me ? thanks a lot
"reuse=tf.AUTO_REUSE in VarScope?" % name)
ValueError: Variable d_bn1/d_bn1_2/moments/Squeeze/ExponentialMovingAverage/ does not exist, or was not created with tf.get_variable(). Did you mean to set reuse=tf.AUTO_REUSE in VarScope?

[2018-02-01 08:29] ustcxxs commented on #15788
Traceback (most recent call last):
  File "generate_images.py", line 106, in <module>
    main()
  File "generate_images.py", line 64, in main
    _, _, _, _, _ = gan.build_model()
  File "/home/andy/text2image/text-to-image-master/model.py", line 40, in build_model
    disc_wrong_image, disc_wrong_image_logits   = self.discriminator(t_wrong_image, t_real_caption, reuse = True)
  File "/home/andy/

[2018-02-01 08:41] slothkong commented on #3851
I experienced this error when moving my code to windows ( running tensorflow in Anaconda3). In my case, I also work with csv data created by myself.  However, the error occurs only when I create the csv data running my code in Windows, so it is definitely related to the way the OS ends each line of the file. The question is, what extra consideration should I make in order to create the file  in Wi

[2018-02-01 08:45] aditya478492 opened #16648 "Error while building Tensorflow model from bazel"
INFO: From Linking tensorflow/libtensorflow_framework.so [for host]:
LINK : warning LNK4044: unrecognized option '/Wl,-soname,libtensorflow_framework.so'; ignored
LINK : warning LNK4044: unrecognized option '/pthread'; ignored
LINK : warning LNK4044: unrecognized option '/lm'; ignored
LINK : warning LNK4044: unrecognized option '/lpthread'; ignored
LINK : warning LNK4044: unrecognized option '/lm'

[2018-02-01 09:15] Kika-Xumengwei commented on #15732
@drpngx @cwhipkey Sorry for the late response. Unfortunately adding tensorflow/core/kernels:android_tensorflow_kernels doesn't solve my problem. I work around this missing kernel issue by manually adding all needed //tensorflow/core/kernels/*.cc *.h files to srcs. Maybe I was wrong about some details, but I will update if I solve it more elegantly.

[2018-02-01 09:29] fo40225 commented on #11865
This issue can be solved by update msvc compiler (cl.exe) from 19.0.24210.0 to 19.0.24215.1.

[2018-02-01 10:02] sddi opened #16652 "v1.3 batch_norm layer"
I use the batch norm layer like this:
`def batch_norm_layer(x,train_phase,scope_bn):

	bn_train = batch_norm(x, decay=0.999, center=True, scale=True,
	is_training=True,
	reuse=None, # is this right?
	trainable=True,
	scope=scope_bn)
	bn_inference = batch_norm(x, decay=0.999, center=True, scale=True,
	is_training=False,
	reuse=True, # is this right?
	trainable=True,
	scope=scope_bn)
	z = tf.cond(tr

[2018-02-01 10:12] CNugteren commented on #16622
In that case there is something wrong with your CUDA installation. CUDA should come with `libcublas.so` in the `lib64` subdirectory. My CUDA 9.1 installation has it, so should yours. Try to reinstall CUDA?

[2018-02-01 10:24] lissyx commented on #16585
Updating since I spotted similar code-path in `third_party/py/python_configure.bzl`.

[2018-02-01 10:35] kasyoukin commented on #16622
@CNugteren I meet the same problem, and my CUDA come with libcublas.so in the lib64 subdirector
![2018-02-01 18-34-58](https://user-images.githubusercontent.com/8893270/35674136-ac0253e8-077e-11e8-89a5-103bb00dd2cf.png)

[2018-02-01 10:38] jendrikjoe opened #16654 "Bazel version comparison fails with bazel 0.10.0"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No, just commented 6 lines in the bzl files out
- **OS Platform and Distribution**: 16.04 on Jetson TX2
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.5
- **Python version**: 2.7
- **Bazel version (if compiling from

[2018-02-01 10:47] volvador commented on #16584
Thank you. I think it is `trainable_weights` instead of `trainable_variables`
Inspired by your answer this is what I did

    clone_ops = []
    for i, src in enumerate(model.trainable_weights):
          op = tf.assign(clone_model.trainable_weights[i], src)
          clone_ops.append(op)

and then when I want to clone the weights

    for op in clone_ops:
        session.run(op)

[2018-02-01 11:32] DEKHTIARJonathan commented on #16538
I will try as soon as I can @frankgh
Thanks for the help

[2018-02-01 11:53] meteorcloudy commented on #16654
Can you build TensorFlow from HEAD?
Or cherry-pick this commit to fix it: https://github.com/tensorflow/tensorflow/commit/3f57956725b553d196974c9ad31badeb3eabf8bb

[2018-02-01 12:02] meteorcloudy opened #16656 "Upgrade protobuf pip package version on Windows machine"
http://ci.tensorflow.org/job/tf-master-win-bzl/2410/console
The tests in the Bazel Windows build started to fail after https://github.com/tensorflow/tensorflow/commit/e818d10f84bad3faad398f4b55831064666af5df

After upgrade protobuf, you might also need to update protoc version in the CMake build.
@gunan

[2018-02-01 12:14] dntwrd opened #16657 "Tensorflow on banana-pi m64"
How to install TF on banana m64? OS: Linux bpi-iot-ros-ai 3.10.105-BPI-M64-Kernel

When i trying install i have an error

[2018-02-01 12:38] #16584 closed

[2018-02-01 12:38] jendrikjoe commented on #16654
Thanks for the speedy reply! :) I will try it on the other Jetson and will post it when I can confirm anything :)

[2018-02-01 12:41] #15696 closed

[2018-02-01 12:46] herrmann commented on #16627
I've had the same problem with a VQA model (CNN for image inputs, LSTM for text inputs, and merging both, then classifying) and pinned the error down to the merging part (tried using concatenate and multiply). RAM goes up -> swap goes up -> machine hangs. Trying to run the sub-models before merging works fine. Works fine on 1.4.1, but I haven't tried using master yet.

[2018-02-01 13:04] nlfiasel opened #16658 "Runtime Error with Qt GUI Application"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **TensorFlow installed from source**:
- **TensorFlow version use master**:
- **Python version 2.7**:
- **Bazel version 0.9.0**:
- **GCC/Compiler version 5.4.0**:
- **Without CUDA/cuDNN**:
- **Without GPU**:

##

[2018-02-01 13:18] juggernaut5k commented on #9829
A good technique to try (I put this at the beginning of any script using tensorflow or keras). This prevents that resource exhausted error assuming you're batch size is within reason.

import tensorflow as tf

config = tf.ConfigProto()
config.gpu_options.allow_growth = True
# Now when creating your session pass this config to it.
sess = tf.Session(config=config)

[2018-02-01 13:36] jendrikjoe commented on #16654
Building HEAD works :+1:

[2018-02-01 13:36] #16654 closed

[2018-02-01 13:44] shakedel commented on #15953
I considered using `tf.py_func()` for logging but was afraid it would cause a slow down.

[2018-02-01 14:35] anonym24 commented on #10952
@patrick-ucr --verbalise true

[2018-02-01 14:44] mitar commented on #15953
How often does C code log something in comparison with Python code?

Maybe it could be a setting based on env variable? In our case it would be great if we could ingest all the messages from all our workers and store them together and we are currently using Python logging for that.

[2018-02-01 14:59] AmnaKhan1 commented on #11157
I am facing similar error. Keras.save didn't help.

File "C:\ProgramData\Anaconda2\envs\ENV_tensorflow\lib\copy.py", line 155, in deepcopy
    y = copier(x, memo)
  File "C:\ProgramData\Anaconda2\envs\ENV_tensorflow\lib\copy.py", line 218, in _deepcopy_list
    y.append(deepcopy(a, memo))
  File "C:\ProgramData\Anaconda2\envs\ENV_tensorflow\lib\copy.py", line 155, in deepcopy
    y = copier(x, mem

[2018-02-01 15:16] jedakiah13 opened #16660 "GPU support for Java in windows"
I am working with Tensorflow in Java using the Maven dependency.

I would like to use the GPU version in my Java application but I notice there is only a supported Maven repository for Linux.

Will there be support for Tensorflow with Java in windows?
If so then what is the timeline for this?

Otherwise is there another way round it?

Thanks.

[2018-02-01 15:21] e-ka commented on #16284
Thanks for testing!
I don't think it's necessarily the driver version by itself. IIRC, I updated the driver & tensorflow version along the way to test whether this already fixes it, but to no avail.

[2018-02-01 15:26] s4sarath commented on #11610
I am also facing the same issue for tf 1.4.1 . When I am passing each individual example ( observation ) and as a batch ( 10 , 32 , whatever ) , there is difference in values ( first pass is RNN (lstm) ). This leads to final change in my predicted probabilities, as I am doing a classification. Any ideas on this ?

[2018-02-01 15:26] #16644 closed

[2018-02-01 15:38] KillPinguin commented on #15585
@yzhwang
setting TF_MATMUL_AUTOTUNE_ENABLE also does not change the behavior.
Code:
[code]
Output:
[code]

[2018-02-01 15:43] KillPinguin commented on #15585
@yzhwang

According to matmul_op.cc it doesn't seem to matter anyways, because autotune is not supported for halfs:
https://github.com/tensorflow/tensorflow/blob/b06326cadc7b45078291e8fb3da0b7e941978540/tensorflow/core/kernels/matmul_op.cc#L235

That's why you don't autotune here https://github.com/tensorflow/tensorflow/blob/b06326cadc7b45078291e8fb3da0b7e941978540/tensorflow/core/kernels/matmul_o

[2018-02-01 15:46] CNugteren commented on #14573
I can confirm this is also an issue for me, building with CUDA 9.1 and TF 1.5.

I'm building TensorFlow 1.5.0 from source using [this guide](https://gist.github.com/kmhofmann/e368a2ebba05f807fa1a90b3bf9a1e03) and I can only resolve the error with the above `sed` commands, i.e.:
[code]
For clarity, the error I'm getting is quite long, but it starts with:
[code]

[2018-02-01 15:46] CNugteren commented on #14670
@jiapei100: Your linking error seems to be the same as in #14573. See [my last message there](https://github.com/tensorflow/tensorflow/issues/14573#issuecomment-362306751) for a work-around, but that means that part of TF is not included anymore.

[2018-02-01 15:52] jitoledo opened #16662 "Current Bazel version is 0.10.0, expected at least 0.5.4"
I get this error message when trying to build from source (r1.5) with the new bazel version published today.

Current Bazel version is 0.10.0, expected at least 0.5.4

I guess the version check is wrong.

[2018-02-01 15:54] skjerns opened #16663 "extract_glimpse padding with fixed value"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 64 bit
- **TensorFlow installed from (source or binary)**: source (anaconda)
- **TensorFlow version (use command below)**: 1.4.0
- **Python version**: 3.6.0
- **CUDA/cuDNN

[2018-02-01 16:09] k22jung commented on #16592
I'll get to memory-mapping the model soon, here is the profiler output for the time being:

[code]

[2018-02-01 16:51] imsheridan commented on #16662
@jitoledo Seems cannot repro this issue in Ubuntu from my side

[2018-02-01 16:54] daisylab commented on #16541
So I tried x86 options of gcc as @gunan suggested. Thank you very much.

But I still get trouble to compile TF on 32-bit machine. Sorry about that. Maybe it's time for me to let the old laptop go. However, I tracked down the matter just a little bit more to make things clear.

Below is the error message emitted from bazel:

[code]

and the command I gave is:

[code]

As far as I know, `-march=i686

[2018-02-01 17:06] jitoledo commented on #16662
I downloaded everything a couple of hours ago. Bazel 0.10.0 was published today. I am using ubuntu 14.04

`(venv) jitoledo@CVC203:~/install_tensorflow_sources/tensorflow$ bazel build
ERROR: /home/jitoledo/install_tensorflow_sources/tensorflow/WORKSPACE:15:1: Traceback (most recent call last):
        File "/home/jitoledo/install_tensorflow_sources/tensorflow/WORKSPACE", line 15
                clo

[2018-02-01 17:08] tfboyd commented on #16541
@daisylab   I think your process is correct.  i686 by the document would not have SSE,  just like if you used 'pentium2'.  Nothing extra to add, just wanted to say I think your command-line is correct and there is likely some other reason SSE is added.  I do not know enough in this area to debug, just adding moral support.  :-)

[2018-02-01 17:13] GauthierChan opened #16665 "Android: No OpKernel was registered to support Op 'Min' with these attrs when using custom TensorFlow library built with SELECTIVE_REGISTRATION"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes. See below
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS High Sierra
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.5.0
- **Python version**: 2.7.10
- **Bazel version (if compiling from so

[2018-02-01 17:29] reedwm commented on #16205
Since we cannot reproduce, marking as contributions welcome.

[2018-02-01 17:33] imsheridan commented on #16662
@jitoledo It seems you're not using the latest master source branch right?

[2018-02-01 17:52] reedwm commented on #16665
/CC @petewarden

[2018-02-01 17:53] olesalscheider opened #16669 "grappler: memory optimizer fails with: No output shape in Conv2DBackpropInput op / Conv2DBackpropFilter op."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux, Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**:  v1.5.0-0-g37aa430d84
- **Python version**: 3.5
- **Bazel version (if compiling from

[2018-02-01 17:56] ha-ha-ha-han opened #16670 "Tensorflow 1.5.0 import error under CUDA 8.0"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10
- **TensorFlow installed from (source or binary)**:
pip install tensorflow-gpu
- **TensorFlow version (use command below)**:
1.5.0
- **Python version**:
3.5.4
- **CUDA/cuDN

[2018-02-01 18:00] reedwm commented on #16663
/CC @benoitsteiner, what do you think of this proposal?

[2018-02-01 18:01] reedwm commented on #16669
/CC @zhangyaobit, any ideas?

[2018-02-01 18:01] reedwm commented on #16657
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-01 18:01] #16657 closed

[2018-02-01 18:02] reedwm commented on #16645
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-01 18:02] #16645 closed

[2018-02-01 18:06] reedwm commented on #16641
/CC @gunan, any ideas? I'm not sure if we support using a GPU on macs. If we don't, this should be tagged with community support.

[2018-02-01 18:07] tnikolla commented on #13463
## System information

OS Platform and Distribution : Linux Ubuntu 16.04
TensorFlow installed from : pip
TensorFlow version : 1.5.0
Python version: 2.7.12
Intel i5-4590

I have the same problem since I changed the system. As a small example that reproduces the problem is the small repository [robot-grasp-detection](https://github.com/tnikolla/robot-grasp-detection).

To make the code run

* downlo

[2018-02-01 18:08] jitoledo commented on #16662
According to instructions on  https://www.tensorflow.org/install/install_sources
I did:
`git checkout Branch # where Branch is the desired branch`
For branch r1.5 (which I thought is the current release version). Isn't it?

[2018-02-01 18:15] webprogrammingsolutions commented on #16641
As of v1.2 you do not support GPU on Mac, however there have been several people post succesful workarounds. My hope in posting this issue was that it might be something common to other builds and someone could help me get it sorted.

[2018-02-01 18:22] jitoledo commented on #16662
I just switched to master branch and it  seems to work (still building). I just wanted to install an updated version of tensorflow.
I tried with pip and it downloaded a version 1.5 but required cuda 9 and  I didn't to update to cuda9.1 (which would require updating ubuntu version too).

[2018-02-01 18:24] mrry commented on #16481
Thanks for tracking that down! I think this is a legitimate bug, introduced in https://github.com/tensorflow/tensorflow/commit/9f4118d00fa9eb85f81a4eb3f96a5583ae5afcdc. That change modifies most iterators to use the same `Device`, `FunctionLibraryRuntime`, and `ResourceMgr` as the op that created them, which enables the resource-capturing logic to be simplified, because handles are valid in both t

[2018-02-01 18:47] asimshankar commented on #16617
@xinmei9322, `tf.device()` blocks can be used to force operations on a particular device, even CPU. Also, `tf.tensordot` is not a primitive TensorFlow operation (in that it is a Python function that composes other existing TensorFlow operations). Note that operations inside a `tf.device()` block are telling TensorFlow "these operations *must* execute on the provided device, or fail otherwise". Ope

[2018-02-01 18:50] tatianashp commented on #16452
@jch1 Can you comment?

[2018-02-01 18:52] Dapid commented on #16654
In r1.5 `check_version` from `tensorflow/workspace.bzl` still fails.

[2018-02-01 18:52] bhack commented on #15293
Just to reference some interesting effort: https://github.com/OpenMined/PySyft

[2018-02-01 18:59] gunan commented on #16641
Stackoverflow may be a better place for reaching out for community support. However, your issue does not seem related to cuda itself. This is the line you should be paying attention to:
[code]

[2018-02-01 19:00] mrry commented on #16670
Did you try following these instructions?

[2018-02-01 19:04] drpngx commented on #16284
Thank you @guschmue for testing!

@e-ka I think it's `TF_CPP_MIN_LOG_LEVEL`?

[2018-02-01 19:16] drpngx commented on #16584
Glad you figured it out!

[2018-02-01 19:19] skye commented on #12686
Hey @pbanavara, just a heads up that I'm pretty slammed this week so I can't look into this right now :( Sorry to keep you hanging. Maybe someone else cc'd can take a look, otherwise I'll try to make some time next week.

[2018-02-01 20:01] pranavsharma commented on #14083
I've faced this issue as well. Waiting for response. Thanks!

[2018-02-01 20:16] smitshilu commented on #12259
@wm901115nwpu do you have an answer for this?

[2018-02-01 20:39] angersson commented on #14573
@gunan @av8ramit Is the environment we use to build the official pip packages any different than this?

[2018-02-01 20:49] dhelleberg commented on #14670
I had some success by stripping parts of the original graph off and extracted a subgraph. I converted the subgraph to tflite format however I couldn't get it running on mobile since the input tensor is now float and for the output tensor(s) it seems like I'm getting the proposals for the boxes and need to do some post processing... not sure if that will lead to any success...

[2018-02-01 21:07] jingraham commented on #16627
I just encountered a similar bug and a weird workaround when upgrading to 1.5 on a different codebase. While trying to diagnose that problem by injecting various Print ops around the graph I found a bizarre fix: if you wrap the placeholder with a tf.identity() (or Print()) and then feed to that tensor rather than the placeholder, it stops hanging.

I just tried it and, sure enough, replacing the l

[2018-02-01 21:07] kmhofmann commented on #14573
I see the same issue outside of a Docker container, i.e. on my computer. The error message is quite long, and mentions several CUDA libraries, as in @CNugteren's example.

CUDA is properly installed and all necessary environment variables are set (CUDA_HOME, LD_LIBRARY_PATH). Installing e.g. Tensorflow 1.4.1 (and most likely prior versions) with exactly the same set up is no problem.

[2018-02-01 21:17] AhmedAnsari commented on #2358
@nikonikolov @bodokaiser I've tried to implement my own scatter_nd. Hope it works for you. [https://github.com/AhmedAnsari/Tensorflow-Hacks/blob/master/scatter_nd_for_immutable_tensor.py](url)

[2018-02-01 21:19] martinwicke commented on #15503
This is regrettable. We never documented tf.flags other than its existence (we never committed to details). I wish we had never included it in tf -- everybody really should just use argparse (or whatever else).

[2018-02-01 21:22] dkhusial commented on #16670
I have the same error following the instructions at https://www.tensorflow.org/install/install_windows. After reverting back to:
pip install --upgrade https://storage.googleapis.com/tensorflow/windows/gpu/tensorflow_gpu-1.0.0-cp35-cp35m-win_amd64.whl the issue is resolved.

[2018-02-01 21:26] mrry commented on #16670
@dkhusial Did you try upgrading to CUDA 9.0, as suggested in the error message?

[2018-02-01 21:35] jgmakin commented on #13370
Strike that, still broken (or anyway not naively usable) in 1.5.0:

"Cannot use 'while/...' as input to 'Merge/MergeSummary' because 'while/...' is in a while loop."

[2018-02-01 21:37] ebrevdo commented on #16627
Could it be a grappler issue?

On Thu, Feb 1, 2018, 1:07 PM John Ingraham <notifications@github.com> wrote:

[2018-02-01 21:40] jitoledo commented on #16662
It works.

[2018-02-01 21:40] #16662 closed

[2018-02-01 21:42] reedwm commented on #16627
/CC @zhangyaobit

[2018-02-01 21:45] dkhusial commented on #16670
Just tried tf 1.4 and works with my cuda 8 also. I am doing some testing on some tf from an old Windows machine to a new machine once I get through that I can try upgrading to cuda 9 and see if that will work with the latest tf 1.5. But that is likely tomorrow.

[2018-02-01 21:47] rmlarsen commented on #16627
@ebrevdo nothing obvious comes to mind, but it is possible. Can you try to bisect it internally?

[2018-02-01 21:58] yzhwang commented on #15585
@KillPinguin Thanks for pointing out. This was a change I made a couple of months ago due to a cublas bug back then. I will try to fix the issue in two steps:
1) enable autotune support for fp16. I need to do some tests to make sure that no bug shows up.
2) enable autotune for matmul by default in general. Last time I tried to enable it by default I got mixed performance results (for some shapes a

[2018-02-01 22:19] aisuni commented on #8535
@reedwm
`scale` and `offset` variables are still in float32 DT. Looking for a solution to overcome this.
[code]
where inputs tensor is,
[code]

[2018-02-01 22:25] Ebrahim1820 opened #16677 "Dear frinds"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-02-01 22:32] gunan commented on #14573
@chhwang The root cause of the primary report in this issue is because your build process is a part of `docker build`.
NVIDIA docker does not make all the cuda libraries available in their final locations during `docker build`.
You need to manually make them available like this:
https://github.com/gunan/tensorflow-docker/blob/master/gpu-devel/Dockerfile.ubuntu#L64

This will be fixed in the future

[2018-02-01 22:40] dkhusial commented on #16670
@mrry Just found another machine todo the Cuda 9.0 upgrade with the matching cudnn. After upgrade, the tensorflow hello world validation instructions works on a GTX 960M. Can you update the install_windows instructions at tensorflow.org?

[2018-02-01 23:01] zcz004 commented on #9423
Can tf.contrib.image.rotate() be backpropagated at the moment? I have tried training with this op involved in my network architecture but failed because of it Is it possible to add a backprop feature to it?
(Windows 7, gpu)

[2018-02-01 23:35] #16677 closed

[2018-02-01 23:39] reedwm commented on #8535
@aisuni, it is intended that `scale` and `offset` are still in float32, as recommended [by this guide](http://docs.nvidia.com/deeplearning/sdk/mixed-precision-training/index.html). You should not create thos variables in fp16 for effective training.

[2018-02-02 00:19] gunan commented on #16670
@av8ramit looks like we may have forgotten tf install instructions with cuda version information?

[2018-02-02 01:17] umarKarim commented on #12416
One thing that worked for me was that rather than using 'export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/usr/local/cuda/lib64" ' I used 'export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:~/cuda/lib64" ' and it worked. I have to do it everytime the computer starts. Dont know what is cuda doing in my home folder and don't know why I need to do it everytime.

[2018-02-02 01:23] Tracy6465 commented on #16622
I uninstalled the cuda9.1,and install cuda9.0. Now it works.

[2018-02-02 01:53] anpark commented on #15425
@benbarsdell Great!
 i add the same issue in tensorflow/benchmarks repo, but @reedwm closed it and ask me to  run with tf1.5.
Hope anyone can help!

[2018-02-02 02:01] ustcxxs commented on #7462
you should change the version of tensorflow

[2018-02-02 02:03] #16585 closed

[2018-02-02 02:08] drpngx commented on #16646
Please describe into more details what you would like to do.

[2018-02-02 02:09] drpngx commented on #16648
I'm not sure if this is supported just yet.

@gunan can we build the android contrib directory from Windows in bazel?

[2018-02-02 02:10] drpngx commented on #16652
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-02 02:10] #16652 closed

[2018-02-02 02:15] pavanky commented on #12951
@tfboyd This issue still happens when mkl is enabled on  [tensorflow 1.5.0 release](https://github.com/tensorflow/tensorflow/archive/v1.5.0.zip) for the following configuration:

- Centos 7 docker image
- Devtoolset 6
- Python 27
- bazel 0.8.0

Some of the things I tried:
- Passing `--linkopt=-ldl` to `bazel build`.
- Patch `mk/BUILD` to accept `linkopts = ["-ldl"]`
- Patch `tf_extension_linkopts`

[2018-02-02 02:41] ironfroggy commented on #12388
Having the same trouble and none of the advice works. Can't downgrade CUDA, tensorflow-gpu package looks for 9.0 DLLs explicitly. I can watch my CPU/GPU usage while its running and TF *says* its running through the GPU, but the CPU is pegged at 100% and the GPU usage hovers around 5%. I tried adjusting the batch size as high as I can get it without hitting OOM errors, but it seemed to make no diff

[2018-02-02 02:45] SarshesJ commented on #12951
We need to compile gcc 6 from source code. We shouldn't use devtoolset. :)

[2018-02-02 02:58] #16167 closed

[2018-02-02 02:58] #16481 closed

[2018-02-02 03:07] cqf7174 commented on #15122
@aselle @andrehentz do you have new ImageClassifier.java file which can support float?

[2018-02-02 03:08] galv opened #16682 "[Recommendation] Expose tensorflow/core/kernels/dataset.h in wheel file"
Hi,

Right now, to build a new dataset op, you need to access to the header file `tensorflow/core/kernels/dataset.h`, but the tensorflow wheel does not expose this header.

Use case: I built new Dataset Ops to read Kaldi's "Table" I/O format to enable others to be able to move from Kaldi-based automatic speech recognition recipes to tensorflow-based ones without having to do a bunch of extra data-

[2018-02-02 03:43] hgffly opened #16683 "Tensorflow 1.5: failed to use tf.keras.applications.MobileNet()"
I updated my Tensorflow to 1.5, and I tried to run the codes as below:
`import tensorflow as tf`
`model = tf.keras.applications.MobileNet()`

But it raised an error  as below:
---------------------------------------------------------------------------
OSError                                   Traceback (most recent call last)
<ipython-input-14-2182e918e983> in <module>()
----> 1 model = tf.keras.a

[2018-02-02 03:45] drpngx commented on #16660
@mrry @asimshankar can comment. I think it's safer to assume that it won't be there in the next few months.

[2018-02-02 03:49] drpngx commented on #16658
I'm thinking that it's the logging system that gets uninitialized before protobuf. Can you see if that's the case?

It looks like you're building the debug version, which is good. Could you try with asan?

[2018-02-02 03:50] rryan commented on #16465
Thanks very much for the detailed bug report @memo! 'll take a look, though I probably won't have time until 2/9.

[2018-02-02 03:58] hqm opened #16684 "The link for the tutorial on Google's Tensorflow SyntaxNet page gives 404 error"
Go tot the page
https://www.tensorflow.org/versions/r0.12/tutorials/syntaxnet/

and click the "tutorial" link. It gets a 404 error.

The target of the link is
https://github.com/tensorflow/models/tree/master/syntaxnet#installation

[2018-02-02 04:09] asimshankar commented on #16660
We don't build GPU-enabled binaries for the C or JNI libraries for Windows as part of the release process yet.
However, it should happen within a release or two (probably 1.7).

We just started setting up the nightly build for GPU - https://ci.tensorflow.org/view/Nightly/job/nightly-libtensorflow-windows-gpu/
(which hasn't had a successful build yet :)

[2018-02-02 04:36] RoboEvangelist commented on #16654
This is a hilarious bug

[2018-02-02 04:51] houqp commented on #14573
I ran into the same issue with my slightly customized dockerfile file. Did all the libcuda symlink and LD_LIBRARY_PATH override stuff. Nothing worked until I added `--action_env=LD_LIBRARY_PATH=/usr/local/cuda/lib64/stubs:${LD_LIBRARY_PATH}` to bazel build option. So for some reason the LD_LIBRARY_PATH environment variable is not honored in the build process? I haven't had time to dig into this ye

[2018-02-02 05:01] s4sarath commented on #11610
@ebrevdo - same problem with, tf 1.5.1 ( both in GPU and CPU ) . Any ideas or workaround, As @iamshang1  mentioned, initial value differences are not huge, but as we pass it through many layers, we have huge difference in final accuracy.

[2018-02-02 05:15] brainnoise commented on #16620
Input layer used without tensor arg ```inputs = Input(shape=(784,))``` creates a placeholder tensor internally. When you train a model using this input, you are always required to give a value for the placeholder tensor. In your code snippet, ```x=mnist_data.train.images``` is the value you give for that tensor. So, if you are looking to feed in input values you can use this approach and you will

[2018-02-02 05:27] buptzzl commented on #16646
@drpngx  thanks for you attention!
I have use the tf.estimator.Estimator defined a group of models, and train a subset of them.
After that, I want to use those trained model's Parameter to init the last un-trained model's parameter, and then start to train this last model.
I find way's to get the older trained model's paramter by  tf.estimator.Estimator.get_variable_value(name),  but there is don'

[2018-02-02 05:59] nlfiasel commented on #16658
@drpngx asan like:
####
    ASAN:SIGSEGV
    =================================================================
    ==13627== ERROR: AddressSanitizer: SEGV on unknown address 0x000000000000 (pc 0x7f2ea692e516 bp 0x000000000001 sp 0x7ffd3129fab0 T0)
    #0 0x7f2ea692e515 in google::protobuf::internal::Mutex::Lock() (/usr/lib/x86_64-linux-gnu/libprotobuf-lite.so.9+0xe515)
    #1 0x7f2ea692e832 in goo

[2018-02-02 06:36] ymcasky commented on #16620
Thanks for your kindly reply.
It can train properly.
But even I change epochs from 1 to 100.
The acc still around 0.1...
I also want to feed batch by batch instead of whole 55000 data.
Do you have other suggestion? Thanks!

[2018-02-02 06:56] gunan commented on #14573
That is correct, we also need to add "`--action_env` flag due to bazel trying to create a sealed and tightly controlled build environment.

[2018-02-02 07:28] hjzh4 opened #16686 "Is there still a math_ops.h"
I followed the C++ API tutorial (https://www.tensorflow.org/api_guides/cc/guide). But I can't make it because I don't find "tensorflow/cc/ops/math_ops.h" (and many other header files). Then I go to the repo on master branch, didn't find them too.
### System information
- **my code is very simple**
`   using namespace tensorflow; `
  `using namespace tensorflow::ops;`
 ` Scope root = Scope::NewRoot

[2018-02-02 08:03] #16686 closed

[2018-02-02 08:04] hjzh4 commented on #16686
it's under bazel-genfiles...

[2018-02-02 08:16] meteorcloudy commented on #16654
@gunan Is there any chance to cherry-pick 3f57956 into r1.5?

[2018-02-02 08:16] jedakiah13 commented on #16660
Ok thanks, I'm glad it's in your plans :)

Do you have an idea how long it will be until 1.7?

Thanks,

[2018-02-02 08:21] Dapid commented on #16654
@meteorcloudy `git cherry-pick  3f57956`

I also had to change:

[code]

[2018-02-02 09:14] xt479910344 opened #16688 "how to assign the GPU device using C++?"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-02-02 09:19] bobauditore commented on #14391
I read the source code then figure it out how tf.train.MonitoredTrainingSession works.
The key point is you should use a new empty checkpoint directory, otherwise the 'init_op' or other ops won't work.
The complete answer is here:
https://stackoverflow.com/questions/48017748/in-tensorflow-when-graph-is-modified-how-to-use-monitoredtrainingsession-to-r/48071975#48071975

[2018-02-02 09:22] nitinagarwal commented on #15604
@aipeteryao  - Thank you.

[2018-02-02 09:28] ilya-biryukov commented on #8394
@tkoeppe , sorry for the late response. AFAIK there were changes to tensorflow's build files that should have fixed that problem. It should be fine now, I'll double-check that it's the case and will report if there are any issues left.

[2018-02-02 09:48] rasmusbergpalm opened #16689 "Feature request: Support SparseTensor in Dataset.from_generator"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No

== cat /etc/issue ===============================================
Darwin c02ql2p2fvh7-c 16.7.0 Darwin Kernel Version 16.7.0: Mon Nov 13 21:56:25 PST 2017; root:xnu-3789.72.11~1/RELEASE_X86_64 x86_64
Mac OS X 10.12.6

== are we in docker ==================================

[2018-02-02 10:02] xav12358 commented on #14245
Hello,

I try to compile tensorflow for arm64-v8a. I use the previous posted command:
`bazel build -c opt \
  --config=monolithic \
  //tensorflow:libtensorflow_cc.so \
  --crosstool_top=//external:android/crosstool \
  --host_crosstool_top=@bazel_tools//tools/cpp:toolchain \
  --cpu=arm64-v8a

bazel build --config=android_arm64 //tensorflow:libtensorflow.so`

I get that error:

`bazel build --con

[2018-02-02 10:26] UriahHuang opened #16691 "docs error in triplet_semihard_loss()"
Since ||AP|| + alpha < ||AN||, I think the docs in the following

def triplet_semihard_loss(labels, embeddings, margin=1.0):
  """Computes the triplet loss with semi-hard negative mining.
  The loss encourages the positive distances (between a pair of embeddings with
  the same labels) to be smaller than the minimum negative distance among
  which are at least greater than the positive distance **

[2018-02-02 10:49] gi097 commented on #15872
Have you managed to fix this problem?

[2018-02-02 10:55] smiletobingxue commented on #9818
@CynthiaProtector hello, i encountered the same problem and i haven't found the solution. I want to know if you run on MacOS? because when i try to install  libibverbs-dev on mac, it turns:
$ pip3 install libibverbs-dev
Collecting libibverbs-dev
  Could not find a version that satisfies the requirement libibverbs-dev (from versions: )
No matching distribution found for libibverbs-dev
thanks very m

[2018-02-02 11:21] chrysantd opened #16692 "Bug: using pandas_input_fn with tensorflow.contrib.tensor_forest.client.random_forest.TensorForestEstimator"
### System information
- **Have I written custom code:  YES
- **OS Platform and Distribution : Linux Ubuntu 16.04 LTS
- **TensorFlow installed from : pip
- **TensorFlow version (use command below): 1.4.1
- **Python version: 2.7.12

### Describe the problem

### Source code / logs

I am working on a simple Tensorflow programme, and build input pipeline with pandas.My code is below:

[code]

However

[2018-02-02 11:27] PhilJd commented on #15729
I submitted #16667 to address this ;)

[2018-02-02 11:39] vnsmurthysristi commented on #14688
Can you please share the steps to build tflite static binary for android C++

[2018-02-02 11:54] maxim5 commented on #11157
@AmnaKhan1 the cause of this stacktrace is the same, my previous https://github.com/tensorflow/tensorflow/issues/11157#issuecomment-353725791 solves it too.

[2018-02-02 11:55] skyson commented on #16317
sdk of 25 And Ndk of 14

[2018-02-02 12:56] nlfiasel commented on #16658
It's because QtApplication use protobuf-lite.so.9 and tensorflow use protobuf.so.14.I don't know how to solve it but..to close it.

[2018-02-02 12:56] #16658 closed

[2018-02-02 13:05] dongzhuoyao commented on #16691
since Since ||AP|| + alpha < ||AN||, it should be plus.

[2018-02-02 13:31] subzerofun commented on #16654
Hope someone can help me out here – i'm bound to TF 1.4 since only that version works (for now) on macOS (I know macOS isn't officially supported anymore, but it works fine if you follow certain instructions).

I manually fixed the WORKSPACE file with the mentioned cherry-pick, but i still get this error:
```Current Bazel version is 0.10.0-homebrew, expected at least 0.5.4```

**Do i also have to

[2018-02-02 13:37] #15968 closed

[2018-02-02 13:41] CNugteren opened #16694 "Tensorflow 1.5.0 doesn't compile from source, linking issue with tf.contrib.lite.toco"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
1.5.0
- **Python version**:
3.5.2
- **Bazel version (if compiling from source)**:
0.

[2018-02-02 13:43] CNugteren commented on #14573
@gunan: OK, I've created #16694. Indeed, adding `--action_env=LD_LIBRARY_PATH=/usr/local/cuda/lib64/stubs:${LD_LIBRARY_PATH}` fixes the problem.

[2018-02-02 14:33] chrisrn commented on #16327
Solved for now on.

[2018-02-02 15:03] caisq commented on #16619
@mercy0387 thanks for filing the feature request. I agree that adding arguments to tfdbg filters like `has_inf_or_nan` will be useful. I will work on the new feature.

[2018-02-02 15:19] LucasMahieu opened #16695 "Padding algo is not working as doc says"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linus centos 7
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)**: 1.4
- **Python version**: 2.7.5
- **Bazel version (if compiling from source)**: 0
- **GCC/Co

[2018-02-02 15:32] #12289 closed

[2018-02-02 15:33] tkoeppe commented on #8394
@ilya-biryukov: Thank you very much! I've already removed the patch internally; I'm not sure if this has landed yet.

[2018-02-02 16:30] shmilyhh opened #16697 "gcc: error: unrecognized command line option '--config=opt'"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-02-02 16:31] ebrevdo commented on #11610
@s4sarath are you using cudnn on GPU?  i only expect this on CPU.

@rmlarsen @ekelsen anything we can do about this?

[2018-02-02 16:41] bwesen commented on #15604
Someone needs to fix the https://www.tensorflow.org/install/install_linux page if this is true, I just followed its instructions exactly, and tells you to install CUDA 8.0 (specifically, not "latest CUDA").

Then as soon as you're done, you get this error (it is looking for cublas 9.0, which, from what I can read here, would not have worked either, as CUDA 9.1 is the default you get from NVIDIA).

[2018-02-02 17:02] youpicontini commented on #16654
I definitely dont know much about bazel but found an easy fix:

open the.bzl files generating the error, repositories.bzl and workspace.bzl
change all the `check_version("...")` to `check_version("0.10.0")` then run

`bazel build --config=opt --incompatible_load_argument_is_label=false --incompatible_disallow_uncalled_set_constructor=false //tensorflow/tools/pip_package:build_pip_package`

worked

[2018-02-02 17:03] ivan-aksamentov commented on #16009
@reedwm  @gunan @angersson
Neither of two work for me. I should note that:
 - `--config=opt` has nothing to do with the problem, as the question prompt pops-up in `./configure` script, before the bazel build with this flag is launched
 - setting to `1` or `0` or unsettling the `TF_SET_ANDROID_WORKSPACE` has no visible effect

This is very annoying, because this interactive prompt breaks otherwise

[2018-02-02 17:22] tylerlekang commented on #16670
Yes, as of this moment the install instruction webpages (https://www.tensorflow.org/install/install_linux  and  https://www.tensorflow.org/install/install_windows) still show CUDA 8.0 and cuDNN 6.0, as noted in https://github.com/tensorflow/tensorflow/issues/16477

[2018-02-02 17:26] noammor commented on #16627
I can confirm that @jingraham 's workaround fixes the issue. I ended up using this function, since I need to be able to load the placeholders by name:

[code]

[2018-02-02 17:31] reedwm commented on #16683
/CC @fchollet, do you know what the issue is?

[2018-02-02 17:33] reedwm commented on #16689
/CC @mrry, can you comment?

[2018-02-02 17:35] reedwm commented on #16691
/CC @coreylynch

[2018-02-02 17:38] reedwm commented on #16695
Closing since this looks like a duplicate of #14601.

[2018-02-02 17:38] #16695 closed

[2018-02-02 17:41] s4sarath commented on #11610
@ebrevdo - Yes I am using cudnn. I have tried it on GeForce 980i. I will check it on 1080 Ti soon .

[2018-02-02 18:14] mrry commented on #16689
It should be possible to do something here, although the `from_generator()` signature would need to expand (e.g. with `output_classes`?) to provide a way for the caller to specify that an output should be interpreted as a `tf.SparseTensor`. I've marked this as "contributions welcome", since it is unlikely that anyone on the team will get to this for a while, and there is a workaround as follows:

[2018-02-02 18:19] PatWie commented on #15002
Want just mention that the master-branch 0464602ee99ff2a10336f2bea12440167e2d8a70 is broken again, while the tensorflow-gpu package works fine.

Is this feedback you want to see in the issues, or should I wait if the issue goes into the next relase?
- missing "#include<cassert>" in ` /tensorflow/include/tensorflow/core/util/cuda_device_functions.h(196): error: identifier "assert" is undefined`
- s