[2017-03-29 15:13] andrehentz commented on #7150
@left13 Is there a way you can share retrained_graph.pb and maybe a couple of test images?

[2017-03-29 15:16] asimshankar commented on #6926
@dazraf : A single Maven dependency is all that is needed (irrespective of OS).  The same:

[code]

Work for Linux and OS X and when the 1.1 release is finalized, using `<version>1.1.0</version>` will work for all three OSes as well. So I'm not quite sure I follow your concern.

That said, there are some caveats:

- No, no GPU support included in the pom yet. But this is something we'll look into

[2017-03-29 15:22] dazraf commented on #6926
My concerns are exactly your caveats :-)
* The classifiers minimise the size of the distro
* They keep everything in the maven "world" - native libraries and JVM classes. Which means that builds can be fully controlled through maven (without manual processes for installation of libraries).

Am I allowed to submit a PR for this? I can help fix this.

[2017-03-29 15:41] unnir opened #8809 "an update for the tf.contrib.learn Quickstart example is needed"
Hi all,

just tried to start the script from here: https://www.tensorflow.org/get_started/tflearn

found one issue for python3 users:

[code]
 this returns:

[code]

the solution:

[code]

But, the main reason for this issue-ticket is **warning messages** like:

[code]

or this

[code]

or like this:

[code]

So, I believe, the introduction tutorials should be free from warnings.

I can try to fix

[2017-03-29 15:45] yaroslavvb commented on #8799
This might be better suitable for stackoverflow, there are tricks to make sure your matrices are invertible (adding C*I to matrix)

[2017-03-29 15:45] #8799 closed

[2017-03-29 15:59] left13 commented on #7150
@andrehentz sure, where to send the link?

[2017-03-29 16:07] mrry commented on #6184
@tomwanzek The change I mentioned is now in, and I just sent a [pull request](https://github.com/tensorflow/tensorflow/pull/8808) to cherry-pick it into the 1.1 release. Therefore, if I'm not mistaken, you should be able to upgrade to a current nightly build or the *next* 1.1 release candidate (which should be out soon), and these ops will now work.

(Coincidentally, I just posted an [answer on St

[2017-03-29 16:08] sbatir commented on #7900
Hey @geoHeil , could you show me what paths you've got? I'm getting the exact same error as you, but I also have cudnn downloaded and installed.
`dyn-160-39-142-202:lib sbatir$ ls -l /usr/local/cuda/lib/libcud*
lrwxr-xr-x  1 sbatir  admin        33 Mar  3 17:36 /usr/local/cuda/lib/libcuda.1.dylib -> /usr/local/cuda/lib/libcuda.dylib
-rwxr-xr-x  1 sbatir  wheel     13504 Jan 11 20:31 /usr/local/cud

[2017-03-29 16:22] CharlesShang opened #8810 "Cannot create a tensor of shape (?), but can create a tensor of shape (?, 1)"
I tried to create a tensor of dynamic shape.

[code]
hmmm.. it seems a little bit clumsy to write code this way.

[2017-03-29 16:34] gunan commented on #8802
@yifeif From what I understand on the issue, it was decided to just leave a note on the website?
Maybe we should just remove manylinux1 wheel files, as they are leading to confusion.
As we only officially support ubuntu officially, is there a way to mark the wheel files as such, instead of the broader manylinux label?

[2017-03-29 16:35] geoHeil commented on #7900
What is your os? On a first glance that looks rather fine but you can look
at https://github.com/geoHeil/dev-env/blob/master/osx-setup.sh
sbatir <notifications@github.com> schrieb am Mi. 29. März 2017 um 18:12:

[2017-03-29 16:39] skye commented on #8652
No problem, thanks for digging into this!

[2017-03-29 16:44] ahundt commented on #8787
@terrytangyuan that sounds good, is what you describe forward looking or already integrated?

[2017-03-29 16:47] terrytangyuan commented on #8787
I don't think it's integrated yet since Keras literally just landed in contrib. I am not in the internal team but @martinwicke knows the plan of things.

[2017-03-29 16:53] asimshankar commented on #6926
@dazraf : You're welcome to send in a PR, though I'd like to make sure I understand the proposed flow. (FYI: The PR would operate somewhere under [`tensorflow/java/maven`](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/java/maven)).

To help me understand the proposed flow, consider the following scenario: User X authors a library libX that depends on TensorFlow. X does not know w

[2017-03-29 16:54] RuofanKong opened #8811 "Tensorflow Variables are Not Initialized using Between-graph Replication"
I am running an issue for Distributed Tensorflow code with "Between-Graph Replication", which does not initialize Tensorflow Variables for some worker nodes. I posted the issue on StackOverflow: http://stackoverflow.com/questions/43084960/tensorflow-variables-are-not-initialized-using-between-graph-replication. My concern is if this is an issue/bug for `MonitoredTrainingSession` which uses `Sessio

[2017-03-29 17:00] nmoenning commented on #8462
I get the same error when compiling from code.

I want to update my TF from 0.12.0 (which I had compiled myself, too) to the most recent version. The current settings work fine: Ubuntu 16.04 LTS with gcc 4.9.3, TF 0.12.0, Cuda 8.0, cudNN 5.1.5, python 3.5 But compiling the most recent version of TF (with the same setup) returns the following error:

`ni@WV8782:~/Downloads/tensorflow$ bazel build -

[2017-03-29 17:02] blublinsky commented on #6527
Loadable jar at https://github.com/tensorflow/tensorflow/tree/master/tensorflow/java is well behind the source, more specifically, it does not include SavedModelBundle class supporting recommended way to restore models. It also will be nice to have an example of its usage

[2017-03-29 17:12] martinwicke commented on #8787
Keras just landed in contrib and will undergo some internal refactoring for a bit. The plan is to provide simple ways to:

- use Keras inside a model_fn (already the case, Keras layers work fine inside Estimators)
- use a compiled Keras Model to create an Estimator
- add the ability for a Keras Model to accept an input_fn for its fit() method.

This will take a while but it's on the roadmap (@fcho

[2017-03-29 17:21] robmsylvester commented on #8191
@bowu - did you have any luck with this? I get the same issue after cloning the repo and trying to run

[2017-03-29 17:24] PhilJd commented on #8462
It seems your error message is incomplete - does the same `invalid conversion` error follow?

[2017-03-29 17:27] ahundt commented on #6143
@kohpangwei the functionality has been merged to master, if this covers everything can this issue be closed?

[2017-03-29 17:41] mrry commented on #8810
I think the failure is due to a type error. `(shape[0])` is a scalar `tf.Tensor`, whereas the `shape` argument to `tf.zeros()` must be a vector (1-D `tf.Tensor`). Note that `(shape[0])` and `(shape[0],)` have different types in Python, and the comma is necessary to turn the expression into a `tuple`. One of the following should work:

[code]

[2017-03-29 17:41] #8810 closed

[2017-03-29 17:50] bazinac commented on #7150
@left13 this behavior has affected my project only until I compiled latest TF from source back then in the end of February. Just mentioning this for case that you are using older TF. Good luck!

[2017-03-29 17:50] tomwanzek commented on #6184
@mrry Sounds great!!! I will give it a shot shortly as soon as they become available. I saw nightly 128 for Windows 10/GPU now references 1.1.0RC0. So I will give it a shot, although, based on you comment timing it might have to wait for the next stable nightly.

In any case, thanks a lot to yourself, @guschmue and everyone who chipped in on the windows load PR 💃

[2017-03-29 17:55] drasmuss commented on #8328
I'm getting the same error message (`AttrValue must not have reference type value of float_ref`), also related to using Variables on the GPU, but unrelated to `orthogonal_initializer`.  I'm not sure what exactly is triggering it, due to the difficulty debugging this error (for the reasons pointed out by @olegklimov).  It'd be great if the error in general could be made more informative, not just a

[2017-03-29 17:59] mmuneebs commented on #4536
So, is this feature somewhere in master already?

[2017-03-29 18:11] jwayne commented on #8776
Another example where `tf.case` gives unexpected behavior, this time looking at the behavior of `exclusive=False`:

Code:
[code]

Output:
[code]

(I expect that the first line of the output should read `[0.046025999, [False, False, False, False, True, True, True, True], 4]`, based on https://www.tensorflow.org/api_docs/python/tf/case)

[2017-03-29 18:25] andrewharp commented on #8797
@patilsamruddhi Are you trying to build on Windows? If so, see https://github.com/tensorflow/tensorflow/issues/6385#issuecomment-285208600 for instructions on using Bash for Windows to build Android TensorFlow.

[2017-03-29 18:34] dbl001 opened #8815 "tensorflow-1.0.1-cp27-cp27mu-linux_x86_64.whl is not a supported wheel on this platform"
I built tensorflow from source on Ubuntu 14.04 LTS.

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

ubuntu@ip-10-0-1-152:~/tensorflow$ ls -l /usr/local/cuda
lrwxrwxrwx 1 root root 19 Mar 27 16:02 /usr/local/cuda -> /usr/local/cuda-7.0

If installed from binary pip package, provide:

ubuntu@ip-10-0-1-152:~/tensorflow$ ls -l /home/ubuntu/cuda
t

[2017-03-29 18:47] andrewharp commented on #8550
@BrianOn99 Talked to @keveman and he can correct me if I'm wrong, but it sounds like there is a problem with that checkpoint. Retraining may be the easiest solution, checking for NaNs along the way.

[2017-03-29 18:54] andrewharp commented on #8800
Closing as duplicate of #8797. Also please add your OS there, since 64 bit isn't very descriptive these days :)

[2017-03-29 18:54] #8800 closed

[2017-03-29 19:02] andrewharp commented on #8456
Closing due to inactivity; please update with additional info if problems persist.

[2017-03-29 19:02] #8456 closed

[2017-03-29 19:02] dbl001 commented on #8815
ubuntu@ip-10-0-1-152:~$ python --version
Python 2.7.11 :: Anaconda custom (64-bit)
ubuntu@ip-10-0-1-152:~$ conda --version
conda 4.3.14

[2017-03-29 19:04] dbl001 commented on #8815
[code]

[2017-03-29 19:09] dazraf commented on #6926
@asimshankar : I see your point. So adapting what I wrote:

1. as a libX developer, I want to bind to a single dependency that allows me to write my logic.
2. as a user of libX, in another java project, I would like to reference libX and also add a dependency to leverage my GPU.

Do these make sense?
The model you proposed works perfectly for `1.`. A single reference `org.tensorflow:tensorflow:<ve

[2017-03-29 19:18] ahundt commented on #8787
Thanks I saw it was just added, just wasn't sure of the status.

Using `Experiment` with Keras models does sound good. The other way around may also be useful as an option, where if you already have training code for `Model.fit()` and an existing TFRecord dataset.

[2017-03-29 19:21] martinwicke commented on #8787
Yes, that would be the "allowing input_fn for Model".

[2017-03-29 19:24] dbl001 commented on #8815
[code]

[2017-03-29 19:26] roseyao commented on #8114
Having the same issues, have reinstalled tensorflow and pip, still getting same error?

[2017-03-29 19:42] malmaud commented on #8558
Thanks @asimshankar!

[2017-03-29 19:43] awav opened #8817 "Conditionally trainable variables and stochastic depth neural networks"
I came across with a task where I would like to apply stochastic depth _regularization_ technique using Tensorflow (https://arxiv.org/pdf/1603.09382.pdf). Tensorflow doesn't provide enough settings to implement this one. I found closed issue  #1784 which is similar to this request, where guys finished the discussion with claim that [ `tf.cond` | `tf.select` ] primitives are enough for this task. B

[2017-03-29 19:52] aidan-plenert-macdonald commented on #4319
Fixed with an upgrade of bazel
[code]

[2017-03-29 19:53] Kai-Gao commented on #8185
I've just encountered the same erro ,  so I was wondering did you fixed the bug? Thx!

[2017-03-29 20:04] Yangqing commented on #7187
Jumping onto this thread because @zheng-xq and I tuned the perf in the past... As long as you use NCHW order, cudnn speed should basically be good. Another thing you might want to check is the workspace size: usually if you pass in a workspace size that is above 128MB, cudnn can choose a faster path. If you pass in something under 16, speed may be affected because winograd (usually the fastest one

[2017-03-29 20:09] cancan101 commented on #7187
@Yangqing what are your thoughts on https://github.com/tensorflow/tensorflow/issues/8287, namely that regardless of the input dimension ordering, TF much convert the _weights_ on each forward / backward pass.

[2017-03-29 20:16] andrewgiessel commented on #6011
@luizgh thanks for all these comments!  I'm just wading into this conversation now, but wanted to point out that there was a layer implemented for Keras [here](https://github.com/yhenon/keras-spp/blob/master/SpatialPyramidPooling.py).  I'm not sure, but it looks like it implements pooling directly by indexing into the input and using tf.reduce_max() under the hood.

Any comments?

[2017-03-29 20:18] yupbank commented on #7868
Hey, is anyone working on this?  I just run into it, cause i need some of this, if no one is working on it, i can help to make a pr :)

[2017-03-29 20:23] martinwicke commented on #7868
@xiejw FYI.

Let us open-source some more tooling, but then it would be great if someone were to write some Tuning strategies. Or maybe an integration for something like spearmint.

[2017-03-29 20:39] gnuns commented on #37
+1!

[2017-03-29 21:18] kohpangwei commented on #6143
@ahundt It looks great. Thank you @aam-at!

[2017-03-29 21:18] #6143 closed

[2017-03-29 21:20] mgarbade opened #8818 "Bug when using `tf.contrib.metrics.streaming_mean_iou`"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

### Environment info
Operating System: Ubuntu 14.04

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
[code]

If installed from binary pip package, provide:

1. A link to the pip package you installed:
2. The output from `python -c "imp

[2017-03-29 21:34] mrry commented on #8815
Can you report the output of `sudo pip --version` as well? I suspect it might be different from the `pip` in your user account's `$PATH`.

[2017-03-29 21:45] dbl001 commented on #8815
ubuntu@ip-10-0-1-152:~/tensorflow$ sudo pip --version
pip 9.0.1 from /usr/local/lib/python3.4/dist-packages/pip-9.0.1-py3.4.egg (python 3.4)

Ummm.  python 3.4.  Bad!

[2017-03-29 21:47] zheng-xq commented on #7187
Nowadays TensorFlow does autotuning by itself. For example:

https://github.com/tensorflow/tensorflow/blob/r1.1/tensorflow/core/kernels/conv_ops.cc#L657

For most conv operations, filters transformation is a small overhead
compared to the actual computation. However, this might not be true in
extreme cases. So yes, eventually filter_format support might be needed
somewhere down the road.

On Wed,

[2017-03-29 22:00] #8806 closed

[2017-03-29 22:02] jonathanve commented on #8652
Hi @skye and @naatje80 I got the same issue. After installing tensorflow 1.0.1 from source, I no longer get the error. Used keras v2 with MNIST dataset and it took 799s using the terminal.

For some reason, when I use jupyter notebook, it gets blocked. From terminal using py files, everything works ok

[2017-03-29 22:13] microwish commented on #3725
@will001 , seems points (2) and (3) @tangruiming mentioned aren't fixed yet.

[2017-03-29 22:18] merryHunter commented on #5036
Please, support! +1

[2017-03-29 22:27] skye commented on #8494
@girving beat me to it. There's a patch in review, one of us will update this issue once it's checked in.

[2017-03-29 22:28] RuofanKong opened #8819 "Does tf.train.MonitoredTrainingSession() support GRPC?"
I am not sure if the feature for `MonitoredTrainingSession()` working with `grpc` is existing or not. If not, can we have a feature request here? I also posted details on StackOverflow: http://stackoverflow.com/questions/43103763/does-tf-train-monitoredtrainingsession-support-grpc. Thanks!

[2017-03-29 22:33] JacobChrist commented on #7540
I had a similar problem, If I run the print a second time the issue seems to go away, but it it reproducible.

I installed tensor flow using this command: pip3 install --upgrade tensorflow
from these instructions: https://www.tensorflow.org/install/install_windows

Python 3.5.3 (v3.5.3:1880cb95a742, Jan 16 2017, 16:02:32) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or

[2017-03-29 22:35] concretevitamin commented on #8745
@saxenasaurabh: can you take a look?

[2017-03-29 22:43] DanqingZ commented on #8799
@yaroslavvb , I already used "tf.matmul(SigmaC, tf.transpose(SigmaC)) + tf.eye(10)", but there is still bug that the matrix is inconvertible.

[2017-03-29 22:49] wilderfield opened #8820 "Feature Request: Accelerate TensorFlow core on FPGA - How?"
Consider the two following hardware scenarios:
1) Linux running on x86 w/ FPGA fabric connected via PCIe
2) Linux running on Arm A53 with AXI i/f to FPGA fabric (Think Xilinx Zynq)

How could the tensorflow core be accelerated for these scenarios?
FPGA vendors do offer OpenCL binaries for running OpenCL APIs to parallelize computations.

Forgive me, I am a bit ignorant, still learning in this area

[2017-03-29 22:55] trd714 commented on #7680
I have the same issue when trying to run the basic usage program from https://www.tensorflow.org/get_started/get_started using the version 1.0.1. TensorFlow tries to allocate the total memory:

`I tensorflow/core/common_runtime/gpu/gpu_device.cc:885] Found device 0 with properties:
name: GeForce GTX 960M
major: 5 minor: 0 memoryClockRate (GHz) 1.176
pciBusID 0000:01:00.0
Total memory: 3.95GiB
Free

[2017-03-29 23:04] Carmezim commented on #7540
@JacobChrist This issue is fixed at HEAD so you can ignore it or install 1.1r

[2017-03-29 23:20] luizgh commented on #6011
@andrewgiessel Indeed, it seems that they are manually slicing the tensors (as I did for implementing it in lasagne). It looks, however, that they do the indexing in a different way than the original paper - for instance the pooling regions seem to be non-overlapping (that's not necessarily a problem). If you want to implement it as in the original paper, you can port the code from this pool reque

[2017-03-29 23:23] ymakkapa opened #8821 "GRU cell error- sequence to sequence models tutorial"
Hello everyone,
I got the code from tensorflow website for this tutorial. It processed for a long while and got the following errors. Installing tensorflow from sources also did not work for me as it gave me many errors. so I deleted everything installed tensorflow on my Ubuntu 16.04 LTS. Please please help me in resolving these errors as it is an emergency. I am a beginner to tensorflow and its b

[2017-03-29 23:26] ymakkapa opened #8822 "AttributeError: 'module' object has no attribute 'GRUCell'"
Hello everyone,
I got the code from tensorflow website for this tutorial. It processed for a long while and got the following errors. Installing tensorflow from sources also did not work for me as it gave me many errors. so I deleted everything installed tensorflow on my Ubuntu 16.04 LTS. Please please help me in resolving these errors as it is an emergency. I am a beginner to tensorflow and its b

[2017-03-29 23:26] left13 commented on #7150
@bazinac thanks for your suggestion, i'm already on latest TF.

[2017-03-29 23:27] ymakkapa opened #8823 "GRU cell error in sequence to sequence models tutorial"
Hello everyone,
I got the code from tensorflow website for this tutorial. It processed for a long while and got the following errors. Installing tensorflow from sources also did not work for me as it gave me many errors. so I deleted everything installed tensorflow on my Ubuntu 16.04 LTS. Please please help me in resolving these errors as it is an emergency. I am a beginner to tensorflow and its b

[2017-03-30 00:14] mrry commented on #8815
Thanks for confirming my suspicion! I'd advise following the [virtualenv installation instructions](https://www.tensorflow.org/install/install_linux#installing_with_virtualenv) if you can, since they don't require you to use `sudo`.

[2017-03-30 00:14] #8815 closed

[2017-03-30 00:20] gunan commented on #8805
http://stackoverflow.com/questions/20593450/valgrind-and-cuda-are-reported-leaks-real

Looks like valgrind can misbehave with CUDA linked in?
Could you try the same thing on CPU-only implementation?

[2017-03-30 00:25] gunan commented on #8789
Which linux distribution are you using?
I think you are running into this:

https://github.com/tensorflow/tensorflow/issues/5336

[2017-03-30 00:27] gunan commented on #8790
There was a bug due to a bad merge.
Could you resync to master, and try again with bazel 0.4.5?

[2017-03-30 00:41] av8ramit commented on #8823
Closing this as a duplicate of [#8821](https://github.com/tensorflow/tensorflow/issues/8821)

[2017-03-30 00:41] #8823 closed

[2017-03-30 00:43] av8ramit commented on #8822
Closing this as a duplicate of #8821

[2017-03-30 00:43] #8822 closed

[2017-03-30 00:47] #8821 closed

[2017-03-30 01:05] asimshankar commented on #6926
Clearer, but pardon me, I'm not there just yet :)

Ignoring GPU for a moment, the way the packaging currently works is that [`NativeLibrary.java`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/java/src/main/java/org/tensorflow/NativeLibrary.java) finds the appropriate native lib from the classpath, unpacks it and loads it.

In principle, the GPU-enabled JNI libraries could also b

[2017-03-30 01:07] #6926 closed

[2017-03-30 01:07] #7877 closed

[2017-03-30 01:07] #8528 closed

[2017-03-30 01:12] Evan-Gao commented on #6011
@luizgh @andrewgiessel I'm new to keras. It seems the spp pooling layer and RoI pooling layer in that keras implementation just support forward operation. Can it be used to train a new network via back propagation?
I have seen some other code adding a new layer by implementing forward and backward separately (with cpu and gpu version). But I am searching for a easier way to implement a custom pool

[2017-03-30 01:26] Yangqing commented on #7187
@cancan101 I haven't benchmarked but I believe that the transform overhead is minimal. cudnnTransformTensor should be having a very high throughput. I like #8287 though, especially in inference time when you have a small batch (and computation becomes much quicker). For training the overhead is negligible like @zheng-xq said.

[2017-03-30 01:39] himanshubdave commented on #8789
Thanks gunan.
I am using slackware 14.2 (63-bit).
On checking various issues (including the one that Gunan pointed out), I decided to compile TensorFlow from source. That involved first installing Bazel on my system, but it was successful and now I am able to import tensorflow in python and run various example programs.

[2017-03-30 01:39] #8789 closed

[2017-03-30 01:55] CharlesShang commented on #8810
@mrry Thank you very much!!!
Really learned a lot

[2017-03-30 02:12] RealTimeDeployment commented on #7187
Obvious to me that they choose to force all through tensors and still didn't understand that each "class" of will have a different assert needed. The example given was only one of many possibilities. If training tensor example, or if input buffer there should be a different method more appropriate for the "class" being used

[2017-03-30 02:17] jart commented on #6048
@cnzero We're glad you've chosen to use TensorFlow. We put a lot of work into this library and hope it serves you well. In return we ask that the community be respectful of the fact that this issue tracker is for bugs and feature requests, not an escalation path for [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow).

[2017-03-30 02:29] cancan101 commented on #7187
@Yangqing What exactly is the "workspace size" that you are referring to, and what is it defaulted to? I see some stuff [here](https://github.com/tensorflow/tensorflow/blob/904edee4456a61d50d5b1ffe9858a7772acc423e/tensorflow/stream_executor/cuda/cuda_dnn.cc#L1832-L1833), but don't really see it documented. Further how often / when is the optimal algorithm chosen?

[2017-03-30 02:41] DongHyunLeee opened #8827 "bugs with cifar10 while doing evaluation"
I slightly modify the cifar10 code, which is modifying length of width and height not to have same length.

height = 16
width = 32

While I did eval, it showed an error log cifar10_input.py at "  float_image.set_shape([height, width, 3])" this line.
I debugged it, I found a strange thing. Above two line from this, I found this "  resized_image = tf.image.resize_image_with_crop_or_pad(reshaped_imag

[2017-03-30 02:46] RealTimeDeployment commented on #7187
I have not had a chance to test the latest nightly yet. So previous benchmark performance can't be relative.

[2017-03-30 02:47] RealTimeDeployment commented on #7187
Relavent

[2017-03-30 02:48] cancan101 opened #8828 "Suport cuDNN v6.0"
cuDNN v6.0 has been released. There are some cool new features:
* Dilated Convolutions: Dilated Convolutions are now supported in cuDNN without a
change in API.
* `cudnnConvolutionBiasActivationForward` allows for the execution of a single kernel fusing convolution, bias and activation operations

Full release notes:

change in API. Previously unused “upscale” fields in the Convolution Descriptor

[2017-03-30 02:53] BrianOn99 commented on #8550
Thanks @keveman.  So it seems it is a problem of magenta rather than Tensorflow?  It is interesting to know style transfer still work when 1/3 of the weight for a layer is effectively zero.

[2017-03-30 02:54] andrewharp commented on #7464
The demo now uses 640x480 for detection/classification and 1280x720 for stylization, which should be more widely supported resolutions.

If anybody has more issues, can you please replay with your device model/API level/supportedHardwareLevel?

Remaining problem cases should be covered by #8736, so it would be good to know if there are any devices still experiencing problems with INFO_SUPPORTED_HA

[2017-03-30 03:05] oxwsds commented on #8191
@robmsylvester I reinstall tensorflow from the latest source, still the same error.

[2017-03-30 03:14] ningyuma commented on #7980
I encountered the same problem. I tried all the method mentioned but they did not work. How about you? @MikeTam1021

[2017-03-30 03:21] BrianOn99 commented on #8550
So it is lucky that the model used in android demo does not have nan.  @keveman May I know any other technique to generate that model, after freezing from magenta?

[2017-03-30 03:24] Ark-kun opened #8829 "Tensorboard smoothing is not smooth at all."
I have Tensorflow v1.0.1 installed on Linux.

"Smoothed" Tensorboard looks not smooth at all compared to the original graph. For some reason it manages to find some interesting loss function behavior features that simply do not exist in the original loss data.

![image](https://cloud.githubusercontent.com/assets/1829149/24485892/f269a388-14bb-11e7-8b4c-b21d54e4c4be.png)

[2017-03-30 03:45] oldmonk101 commented on #7306
Tried Tensorflow 1.1.0-rc0 - problem is fixed.

[2017-03-30 04:03] yaroslavvb commented on #8799
Try adding a multiple of TF.eye, if it's big enough, the inverse exists

On Mar 29, 2017 3:45 PM, "KKKL" <notifications@github.com> wrote:

[2017-03-30 05:55] PiscesDream commented on #492
My solution is somehow tricky. You can build your network with standard [**Keras**](https://github.com/fchollet/keras/) backend.
**During development,** you can use Tensorflow as backend because compiling a model in Theano takes more time than you can endure, especially when the optimization option is on. You might suffer from small batch size and slow computation with Tensorflow, but what you hav

[2017-03-30 06:29] hdon commented on #278
Just an FYI, this was Google search result #5 for me when I searched `tensorflow classification csv` but the link you guys mention is a 404.

[2017-03-30 06:32] stoneyang opened #8830 "Couldn't open CUDA library libcupti.so.8.0"
Hi,

I've installed 1.0 on my ubuntu 16.04 machine and deployed tf-1.0 with success, at least before I run the example shipped with tf, e.g, [mnist_with_summaries.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/tutorials/mnist/mnist_with_summaries.py)

When running mnist_with_summaries.py, I got the very problem posted in #5282. The discussion is mainly about the missi

[2017-03-30 06:35] patilsamruddhi commented on #8800
Hi Andrew Harp,

I have referred your link and trying to run bash.exe on windows 7. I get error while executing following commands,
Step 1:
Command: unzip android-ndk-r12b-linux-x86_64.zip -d ~/android
Error: unzip command is not present

Step 2:
Command: tensorflow/contrib/makefile/build_all_android.sh \
          -s tensorflow/contrib/makefile/sub_makefiles/android/Makefile.in \
          -t "li

[2017-03-30 06:40] wangyizhen commented on #8049
Just use
from tensorflow.contrib import rnn
lstm_cell = rnn.BasicLSTMCell(rnn_size)
outputs, states = rnn.static_rnn(lstm_cell, x, dtype=tf.float32)

instead of
from tensorflow.python.ops import rnn, rnn_cell
lstm_cell = rnn_cell.BasicLSTMCell(rnn_size,state_is_tuple=True)
outputs, states = rnn.rnn(lstm_cell, x, dtype=tf.float32)﻿

[2017-03-30 06:48] Madereska commented on #5949
Thanks bro

[2017-03-30 07:10] AnabelGRios commented on #8462
Hi, I've been trying to install tensorflow with the ideas you gave me.
I tried this

and this

but it didn't work. Then I tried this

I installed cudNN version 5.1.10 locally. The error changes, but still failing.

I couldn't try this

because of the nvidia drivers installed.

At the end, the system operator updated the global cudnn version and now it works.

Thank you so much for your help.

[2017-03-30 07:11] nivwusquorum commented on #8298
Hi Alex,

Thanks for letting me know!

I tested this on `1.1.0rc0` (that should include this commit, right?) and the sample I posted in this issue still fails with `FailedPreconditionError`.

Szymon

[2017-03-30 07:58] awav commented on #8827
I'll just leave it here, https://www.tensorflow.org/api_docs/python/tf/image/resize_image_with_crop_or_pad

[2017-03-30 09:43] rongjiecomputer opened #8832 "[tensorflow.org] Wrong footer position"
In a few pages of tensorflow.org (like https://www.tensorflow.org/install/install_windows), the footer appears at the wrong place.

The fix is to move
[code]
after
[code]

[2017-03-30 09:47] AndreasMadsen commented on #8431
Dilated convolution is definitely supported in CuDNN 6.0 now (just released), see https://github.com/tensorflow/tensorflow/issues/8828

[2017-03-30 09:54] RobRomijnders opened #8833 "DynamicAttentionWrapper expects own state on the 0-th step"
Using Tensorflow 1.1rc0
AFAIK the [DynamicAttentionWrapper](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/seq2seq/python/ops/attention_wrapper.py) wraps an attention mechanism around the RNNCell. To do so, it passes around its own DynamicAttentionWrapperState in the __call__()

However, I think that on the 0-th step, the network cannot pass such state as an argument, beca

[2017-03-30 10:08] astrung opened #8834 "java tensorflow api : Malformed TF_STRING tensor; too short to hold number of elements"
First, when i tried LabelImage [example](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/java/src/main/java/org/tensorflow/examples/LabelImage.java) with inception model ver 5, everything was good.

Then i tried with an older inception model ( ver3 ) and i saw that both model have different input and output.

In ver5, our input tensor name is : "Input" , with dtype = FLOAT
In ver 3

[2017-03-30 10:17] paolorota commented on #2118
one further question, why in the documentation the `output_shape` is referred as a 1D Tensor when it asks for a 4D Tensor instead?

[2017-03-30 10:51] bicubic opened #8835 "[windows 7] Not using CUDA. No errors or messages indicating dlls have been loaded in log."
Issue: after upgrading from 0.12 to 1.0.1, I lost GPU support. On 0.12, there were log entries indicating successful loading of cuda/cudnn dlls and log entries if dlls weren't found. On 1.0.1, I don't see any log entries when importing tensorflow, but GPU is no longer listed amongst available devices.

Can't provide much useful information without anything in the logs. Has logging been disabled, o

[2017-03-30 10:59] adilkaleem commented on #1244
I'm doing it on a windows machine. None of the solutions given above worked for me; except I haven't yet tried through conda.

[2017-03-30 11:04] sharod opened #8836 "AttributeError: 'module' object has no attribute 'rnn'"
I had a version of ptb_word_lm.py which worked in 0.11. Now I am trying to use the same code in version 1.0.1. I am facing the following error:

outputs, state = tf.nn.rnn(cell, inputs,initial_state=self._initial_state)
AttributeError: 'module' object has no attribute 'rnn'

Please help soon !!

[2017-03-30 11:28] llhe commented on #8350
This is also interesting https://github.com/ARM-software/ComputeLibrary/issues/7

[2017-03-30 11:43] nmoenning commented on #8790
@gunan I still get the same error message (still using bazel 0.4.5).

[2017-03-30 13:04] jubjamie commented on #8836
That's because tf.nn.rnn doesn't exist anymore! Perhaps you are looking for [tf.nn.dynamic_rnn](https://www.tensorflow.org/api_docs/python/tf/nn/dynamic_rnn) or the more experimental [tf.nn.raw_rnn](https://www.tensorflow.org/api_docs/python/tf/nn/raw_rnn)?

Alternativley there is the contrib repo of RNN function in [tf.contrib.rnn](https://www.tensorflow.org/api_docs/python/tf/contrib/rnn)

[2017-03-30 13:08] Namnamseo commented on #3397
I think the issue is unresolved. I thought it would be better to post here, continuing the discussion.
Take this toy example:

[code]

This immediately shows up some warnings:
[code]

And if I force it to run(by setting `allow_soft_placement=False`), an error is occured:
[code]

When setting the placeholder's batch size explicitly, the warning is gone.

I'm using pip3-installed `tensorflow-gpu==1.

[2017-03-30 13:10] sandipmgiri opened #8838 "Bazel test failure in TF (Linking error ) on RHEL 7.3"
### Environment info
Operating System: Rhel:7.3 (ppc64le)

####################################################
I could able to build the TF (version 1.0.1) successfully  , however I am getting following error for the command , bazel test  -c opt //tensorflow/...

ERROR: /root/Sandip/Bazel/new/with_patches/tensorflow/tensorflow/compiler/xla/tests/BUILD:953:1: Linking of rule '//tensorflow/compiler

[2017-03-30 13:15] jubjamie commented on #8835
Firstly, I noticed that you are using the brand new cuDNN 6.0. Tensorflow is built to use cuDNN 5.1 so this might be your problem. Could @gunan perhaps comment on whether 6.0 breaks Tensorflow/there is planned support for 6.0?
In the meantime, let's assume that it is **not** the issue and i'll give you my answer for users of cuDNN 5.1:

When you run your session.run() call you should see that Tens

[2017-03-30 13:19] jubjamie commented on #8829
I've found tensorboard to sometimes get a bit upset with smoothing and that I need to change the smoothing level. Can you post some screenshots of the data with 0, 0.5 and 1 smoothing?

[2017-03-30 13:31] MikeTam1021 commented on #7980
I did a conda install ningyuma. That solved it for me.

[2017-03-30 13:39] #8775 closed

[2017-03-30 13:42] mhnatiuk opened #8840 "BasicDecoder error"
Hi,
I am trying to use BasicDecoder for a sequence-to-sequence translation model and I get error:
`
InvalidArgumentError (see above for traceback): assertion failed: [Expected shape for Tensor sequence_length:0 is ] [1] [ but saw shape: ] [64] [[Node: rnn/Assert/Assert = Assert[T=[DT_STRING, DT_INT32, DT_STRING, DT_INT32], summarize=3, _device="/job:localhost/replica:0/task:0/cpu:0"](rnn/All/_2029

[2017-03-30 13:58] Namnamseo commented on #3397
As the problem seems to be about a whole different things, I'm opening a new issue.

[2017-03-30 14:07] ebrevdo commented on #7704
No, all seems in order. Maybe Josh can help?

[2017-03-30 14:08] ebrevdo commented on #7585
Notika, do you still get this error in the nightlies?

On Mar 27, 2017 11:01 AM, "Nitika Verma" <notifications@github.com> wrote:

[2017-03-30 14:09] ebrevdo commented on #7927
Code is in. Use the argument variational_recurrent=True.

On Mar 27, 2017 6:30 AM, "Brad" <notifications@github.com> wrote:

[2017-03-30 14:19] sharod commented on #8836
So where is the rnn function residing presently now?

Doing this gave the following error:

outputs, state = tf.contrib.rnn(cell, inputs,initial_state=self._initial_state)
TypeError: 'module' object is not callable

[2017-03-30 14:25] mrry commented on #8819
[Answered on Stack Overflow](http://stackoverflow.com/a/43120699/3574081).

[2017-03-30 14:25] #8819 closed

[2017-03-30 14:26] jubjamie commented on #8836
You are getting that error because tf.contrib.nn is not a function but a package of modules. Please make sure you _read the documentation_ before trying things in your code. I linked the documentation for you in my first comment for your convenience.

Regarding the original rnn, i'm not sure as I never used it. Perhaps you need dynamic_rnn? I would read the documentation to find which functions sa

[2017-03-30 14:36] mahatosourav91 commented on #7848
Hi, @poxvoculi @xavigonzalvo @agarwal-ashish
Any update on this issue. I have started working on the nightly build of tensorflow 1.1.0-rc0 but I could method which will give me the posterior probability of data per each component in GMM.
Please look into it.

[2017-03-30 15:02] xavigonzalvo commented on #7848
It will be supported next quarter. It's not something difficult to do but I
am on my paternity leave.

2017-03-30 10:38 GMT-04:00 Sourav Mahato <notifications@github.com>:

--
Xavi.

[2017-03-30 15:06] Namnamseo opened #8841 "Gradient of reduce_prod not available on GPU"
The following example fails to colocate the values:
[code]
A bunch of warnings like this is displayed:
[code]
The symptom is similar to #3397. Using CPU or specifying all input dimensions solves the problem. But the cause seems different.

Gradient of `Prod` operation is defined in [python/ops/math_grad.py](https://github.com/tensorflow/tensorflow/blob/r1.0/tensorflow/python/ops/math_grad.py#L102-

[2017-03-30 15:09] andrehentz commented on #7150
@left13  You can email the link to me. The address is in my profile. Thanks!

[2017-03-30 15:13] kbrose commented on #8829
Agreed. I don't know how the smoothing is being done under the hood, but it definitely doesn't "look right".

![image](https://cloud.githubusercontent.com/assets/4053170/24511336/5cf5ef34-1531-11e7-8be4-938527377aa7.png)
(Smoothing = 1)

[2017-03-30 15:17] dbl001 commented on #8815
I’m able to use TensorFlow, however, ‘nvidia-smi’ reports that the GPU is not being used.
E.g. - No running processes found

ubuntu@ip-10-0-1-48:~$ nvidia-smi
Thu Mar 30 05:45:26 2017
+------------------------------------------------------+
| NVIDIA-SMI 346.46     Driver Version: 346.46         |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Per

[2017-03-30 15:17] poxvoculi commented on #7841
It might be helpful to take a look at an overview of TensorFlow logging.
<https://www.tensorflow.org/get_started/monitors>  There are multiple
levels of logging available, and their labels are somewhat arbitrary.
ERROR is supposed to be used for things which are really errors, i.e. a
value has been encountered somewhere which is outside of the legal range,
and correct computation cannot continue,

[2017-03-30 15:19] snarb opened #8842 "AttributeError: 'Tensor' object has no attribute 'get' at DynamicRnnEstimator.fit(...). The same code works well with LinearRegressor."
TensorFlow version: **1.1**

The code:

[code]

The same code works for **LinearRegressor** instead of **DynamicRnnEstimator**.

[2017-03-30 15:28] DanielTakeshi commented on #4196
Just to be clear, this means that if I have only one GPU on my machine, I should only have one Tensorflow session (or code) active? No other easy way around it?

[2017-03-30 15:33] hhultin opened #8843 "Executor failed to create kernel for FFT even though using GPU"
### Environment info
Operating System:
Linux

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
[code]
If installed from binary pip package, provide:

1. A link to the pip package you installed:
https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.12.1-cp35-cp35m-linux_x86_64.whl

2. The output from `python -c "import tensorflow; prin

[2017-03-30 15:51] dbl001 commented on #8815
btw - ./configure never asked me if I wanted to use the GPU.  It only asked about openCL and CUDA:

ubuntu@ip-10-0-1-48:~/tensorflow$ ./configure
Please specify the location of python. [Default is /home/ubuntu/anaconda/bin/python]:
Please specify optimization flags to use during compilation when bazel option "--config=opt" is specified [Default is -march=native]:
Do you wish to use jemalloc as the

[2017-03-30 16:02] IgorX2 opened #8845 "Tensorboard not showing data on Windows"
I have a simple example of a MNIST classifier that works well for the dataset. However, Tensorboard is unable to read the data from the saved logs. I have inspected the data using `tensorboard --inspect --logdir...` and the files seem to be in order.

I have tested this and a much simpler model on a different machine, and got the same results. Tensorboard runs and the interface is accessible, but

[2017-03-30 16:22] girving commented on #2118
The *shape* of a tensor is itself a 1-D tensor.  For example, the shape of a 4-D tensor is a 1-D tensor with 4 elements.  This code may make the situation clearer:

    (4,)

[2017-03-30 16:25] tommaso90 opened #8846 "Crashing when trying distributed implementation"
Hi, I start saying that I'm a new Tensorflow user :-)

I was trying to test the potential speed-up due to a distributed implementation vs. a sequential one, so I came up with the following:

1. A script sequentially computing matmul of two matrices with themselves and then adding them up
2. A script that distributes the two computations to different devices and then sum them up in a third device

[2017-03-30 16:30] astrung commented on #8834
well, pls help

[2017-03-30 16:35] bicubic commented on #8835
Looks like I accidentally installed cudnn 6.0 side by side with 5.1 while attempting to fix the issue. This is not the cause of the problem though, as I was on a working setup with just cudnn 5.1 prior to upgrading to 1.0.1

Invoking session.run() produces the following log output: https://gist.github.com/bicubic/c3edcc0b311437dd6888edc4bac30315

`Device mapping: no known devices.` sounds ominous.

[2017-03-30 16:52] jubjamie commented on #8835
Strange. Is everything ok with nvidia-smi?

[2017-03-30 16:57] yaroslavvb commented on #4196
You should have at most one active TensorFlow process per GPU. Use CUDA_VISIBLE_DEVICES to determine which process gets which GPU (CUDA_VISIBLE_DEVICES='' will disable GPU)

[2017-03-30 16:57] #8462 closed

[2017-03-30 17:00] yaroslavvb commented on #8298
@nivwusquorum the releases are non-linear -- things are cherrypicked from Master into release using criteria I don't understand. On other hand, nightlies should be linear

[2017-03-30 17:04] ilovin commented on #2146
I tried it and I can't see an improvement in CPU mode.
On the other hand, the performance in GPU mode(need four tensors as feed) seems unstable,
cannot get a good result from it.

[2017-03-30 17:08] bicubic commented on #8835
nvidia-smi shows gpu is healthy and utilized, but not seeing any python/tf related processes in the utilization list.

[2017-03-30 17:16] ilovin opened #8847 "cannot run test_session on warpctc"
python 3.5 ;  gtx1080*2

[code]
### Environment info
Operating System: Ubuntu 14.04

Installed version of CUDA and cuDNN:  8.0.44 5

1. A link to the pip package you installed: 9.0.1
2. The output from `python -c "import tensorflow; print(tensorflow.__version__)"`. 1.0.1

### If possible, provide a minimal reproducible example (We usually don't have time to read hundreds of lines of your code)
htt

[2017-03-30 17:17] ybsave opened #8848 "How to have a "static" like variable inside a function"
The StackOverflow website does not work for logging in. Sorry, I have to post my question here.

I want a simple test. A simple function F(x), inside which mean and variance are calculated from the input x. Meanwhile, I also want to keep two "static" like variables (like in C) avg_mean, avg_variance. So that every time F is called avg_mean and avg_variance are updated based on their previous value

[2017-03-30 17:36] KendallWeihe commented on #1661
Any word on this? I am working with volumetric spectral scans, and a 4D convolution would make a great tool for what I need.

[2017-03-30 18:05] bondhugula commented on #8100
While trying out Polly on the generated LLVM IR is useful to explore, the application of Polly there may be at  too low a level to realize the full potential of polyhedral analyses/transformations.  It will instead be more powerful to explore them on HLO IR itself, as part of its target dependent analyses and optimizations (SCoPs can perhaps be extracted from HLO IR there, transformed, and HLO IR

[2017-03-30 18:26] mhuen commented on #1661
I've plugged a conv4d equivalent together in python. It's just on python level, so most likely not the fastest, but if you want to start with that you can find it here:
https://github.com/mhuen/TFScripts
If you do decide to give it a try, let me know if you have any suggestions or if you come across any bugs as I haven't extensively tested it yet.

[2017-03-30 18:48] mahbuburrahman opened #8850 "Error in running text_classification_character_rnn.py"
I am running the exact example given in the repo for text classification using rnn. I am getting the following error.
TypeError: Tensors in list passed to 'values' of 'ConcatV2' Op have types [int32, float32] that don't all match.
Example: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/learn/text_classification_character_rnn.py

Would you please let me know how can I fix

[2017-03-30 19:16] gunan commented on #8845
Please include all the information required by the issue template.

[2017-03-30 19:18] attakorn1 commented on #5036
+1

[2017-03-30 19:19] Androbin commented on #8712
Okay, after applying some additional optimizations on the computation graph, the "run" section makes up for at least a fifth of the "feed" section. Anyway, this still doesn't seem correct just jet.

[2017-03-30 19:19] annanay25 commented on #8100
@bondhugula I think this is a great idea. We had discussions on this idea in our class but I dismissed it as LLVM IR seemed a safer choice. I recall, in our discussions, we concluded that the operations in the HLO IR are very similar in functionality to the operators in [AlphaZ](www.cs.colostate.edu/AlphaZ/wiki/), where the operations are performed on Polyhedra (equivalent of N-dimensional tensors

[2017-03-30 19:20] gunan commented on #8835
We have not verified with cudnn 6 yet. It may work, or it may not work, no guarantees.

@bicubic I think somehow GPU device is invisible to your TF installation, but just to make sure could you try:

[code]

[2017-03-30 19:23] aselle commented on #8804
@ebrevdo, could you take a look?

[2017-03-30 19:24] asimshankar commented on #8834
This question is probably better posed on [stackoverflow](http://stackoverflow.com/questions/tagged/tensorflow) as we try to keep the github issues focused on bugs and feature requests.

If you do post there, probably also makes sense to provide more information (for example, a link to the exact model you're using if possible)

[2017-03-30 19:24] #8834 closed

[2017-03-30 19:24] aselle commented on #8803
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-30 19:24] #8803 closed

[2017-03-30 19:27] aselle commented on #8801
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-30 19:27] #8801 closed

[2017-03-30 19:27] nivwusquorum commented on #8298
I just tried it on the nightly:

`https://ci.tensorflow.org/view/Nightly/job/nightly-python35-linux-cpu/lastSuccessfulBuild/artifact/pip_test/whl/tensorflow-1.1.0rc0-cp35-cp35m-linux_x86_64.whl`

And it still breaks in the same way.

[2017-03-30 19:29] aselle commented on #8797
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. We ask for this in the issue submission template, because    it is really difficult to help without that information. Thanks!

[2017-03-30 19:30] alextp commented on #8298
I meant doing something like
https://gist.github.com/alextp/ab074004cd7be65d762ac2d0ba123266 to it (i.e.
using V.initialized_value instead of V). I didn't try yet (a little swamped)

On Thu, Mar 30, 2017 at 12:29 PM, Szymon Sidor <notifications@github.com>
wrote:

--
 - Alex

[2017-03-30 19:35] gunan commented on #8830
Did you try adding `/usr/local/cuda/extra/CUPTI/lib64/` to your `LD_LIBRARY_PATH`

[2017-03-30 19:37] ahundt commented on #8787
Sounds great! Thanks for clarifying, would it be good to leave this open to follow the progress?

[2017-03-30 19:38] andrewharp commented on #8712
Can you provide more details, such as the device you are using, the input size, and the exact timings? I don't understand what you mean by "run" making up a fifth of the "feed" section. They are run independently and sequentially, and feed should be at least an order of magnitude smaller than run in most cases.

Is this still using the Android Device Manager to trace code? I don't think you can tr

[2017-03-30 19:38] proximacent commented on #4841
This still seems to be an issue. I have Ubuntu 14.04 and **export TF_NEED_CUDA="1"** solved the issue.

[2017-03-30 19:39] martinwicke commented on #8787
Yes, let's leave this open.

[2017-03-30 19:44] gunan commented on #8828
We base our builds off of nvidia/cuda docker images: https://hub.docker.com/r/nvidia/cuda/
Once cudnn 6 appears here, we will try to update our builds very quickly.

[2017-03-30 19:49] cancan101 commented on #8828
@gunan not sure if you were referring to this, but part of this ticket is about not just new docker images, but also updating the TF kernels to take advantage of the new features in cuDNN 6. For example, [pyTorch uses cuDNN 6 for dilated convolutions](https://github.com/pytorch/pytorch/blob/8aa1cefed880e3ad1a839bdbdc9d1fb9d52f5af3/torch/nn/_functions/conv.py#L81-L82).

[2017-03-30 20:05] aselle commented on #8431
@zheng-xq , could you please comment again.

[2017-03-30 20:07] aselle commented on #8231
Thanks, closing since it seems to be resolved in newer version of software.

[2017-03-30 20:07] #8231 closed

[2017-03-30 20:09] aselle commented on #8807
Are you feeding this value "phase_train" like it asks you to?

[2017-03-30 20:09] #8807 closed

[2017-03-30 20:17] caisq commented on #8753
@hqqxyy , the reason for the weirdness you are seeing is because your session is used in a multi-threaded way, which is not amenable to command-line interface debugging. Particularly, you do,
[code]
after you wrap `sess` with `LocalCLIDebugWrapperSession`.

So the program will try to launch the debugger CLI from at least 3 threads (two for your queue runner and one for your main thread that runs t

[2017-03-30 20:26] jjough commented on #6503
@cdiwork @rmlarsen @aselle hey fellas, any update on this feature?

[2017-03-30 20:29] gunan commented on #8828
I understand, however moving our build infra to cudnn6 will have to be the first step.
For updating ops, and a timeline for that, @zheng-xq should comment.

[2017-03-30 20:38] ebrevdo commented on #8804
Helpers batch size is a Tensor. Can't put it in a TensorShape.  Still we can probably do something here. Leave this issue open.

[2017-03-30 21:14] rajhans opened #8852 "Allow SavedModelBuilder to overwrite existing directory"
Currently, SavedModelBuilder throws an exception when called with a directory that already exists. It will be helpful to add a flag `overwrite` when initializing SavedModelBuilder, which allows it to overwrite the contents of the directory when .save() is called.

When training a model every couple of hours on fresh data, it will be easier to overwrite existing models than having to implement hous

[2017-03-30 21:19] gunan commented on #278
The guide has moved to this page:
https://www.tensorflow.org/programmers_guide/reading_data

[2017-03-30 21:32] ispirmustafa commented on #8361
Hi @tomwanzek,
Yes updating tutorials is in our plan.

[2017-03-30 21:50] gunan commented on #8838
We do not have official support on RHEL.
You might have quicker response using Stackoverflow.

[2017-03-30 21:53] gunan commented on #8832
@wolffg could you reassign appropriately?

[2017-03-30 22:26] nivwusquorum commented on #8298
ah, I see, yeah it seems to work beautifully! Thanks very much!

[2017-03-30 22:28] jhburkhard opened #8853 "Warning: TensorFlow library wasn't compiled to use SSE instructions"
Installed nightly build using

on Windows 7 Professional x64.  Simple run gives warning that the libs were not compiled to use SSE, SSE2, SSE3, SSE4.1, SSE4.2 and AVX instructions even though available.

c:\python
Python 3.5.2 (v3.5.2:4def2a2901a5, Jun 25 2016, 22:18:55) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

1.1.0-rc0

2017-03-

[2017-03-30 22:36] brandondutra opened #8854 "tensorboard: view graph from saved_model.pb file [feature request]"
Plot a graph from just a saved_model.pb file.

Currently tensorboard only works given a training folder containing checkpoints and summary events. Understanding the output graph is important, especially if you don't have access to the training output files.

[2017-03-30 22:59] gunan commented on #8790
The root cause of the problem reported by @VersionHX is this
[code]

It is a duplicate of #8709
I will close this issue as a duplicate.

@nmoenning your problem looks different. Could you file a new issue with all the information requested by the template?

[2017-03-30 22:59] #8790 closed

[2017-03-30 23:04] proximacent commented on #8833
Where is DynamicAttentionWrapper? It does not seem to be in tf.contrib.seq2seq. Is AttentionWrapper now dynamic by default?

[2017-03-31 00:20] skye commented on #8494
https://github.com/tensorflow/tensorflow/commit/986d337e7da04de627218c12e20be1e3abbf6097 should address this. Please let us know if you still have problems, thank!

[2017-03-31 00:22] skye commented on #8481
https://github.com/tensorflow/tensorflow/commit/986d337e7da04de627218c12e20be1e3abbf6097 should address this.

[2017-03-31 00:22] #8481 closed

[2017-03-31 00:24] kindloaf commented on #1642
Hi there - I'm trying to test the demo app as well. One thing I noticed is that only 4 cores of my 8-core phone were used, even if I changed the number of threads by ProtoConfig. I also modified the function NumSchedulableCPUs in port.cc to set kDefaultCores to 8.
Any advice?

[2017-03-31 00:36] andrewharp commented on #1642
@jf-rce? Currently our Makefile only targets armeabi-v7a, so it's not surprising there could be improvements there, but do you know if these flags have any affect on the Bazel build as well?

@zhangpao17 You should add them in [tensorflow/contrib/makefile/Makefile] (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/makefile/Makefile#L213) under the Android section.

@kindloaf

[2017-03-31 01:28] msaroufim commented on #8832
@gunan Have you considered open sourcing the docs as well?

[2017-03-31 01:31] astrung commented on #8834
@asimshankar this is model ver 5 : https://storage.googleapis.com/download.tensorflow.org/models/inception5h.zip .

And this is model ver 3 : http://download.tensorflow.org/models/image/imagenet/inception-2015-12-05.tgz

I download both from google. Also, i think it may be a bugs

[2017-03-31 01:33] gunan commented on #8832
all the docs are already opensource.
Here is the document in question:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/install/install_windows.md

[2017-03-31 01:45] vishalcool1401 commented on #31
Hello everyone
Please can anyone help me with this error very urgent.

AttributeError: module 'tensorflow.python.ops.rnn' has no attribute 'rnn_cell'

[2017-03-31 02:00] eeveeta commented on #1935
I ran into the same problem. I'm running word2vec.py from https://github.com/tensorflow/models/tree/master/tutorials/embedding

I'm running it on a google datalab notebook, on debian.

[2017-03-31 02:11] stoneyang commented on #8830
Thanks for your timely reply! @gunan

Do you mean [here](https://github.com/tensorflow/tensorflow/blob/v1.0.0/tensorflow/tools/docker/Dockerfile.devel-gpu#L90)?

I installed tf 1.0.0 from `pip` repo. I've no idea about where to check this....

[2017-03-31 02:30] gunan commented on #8830
PIP has no relation to the environment variable.
Based on your reply, I assume you did not set it.
You can try this before you run `mnist_with_summaries.py`
It will have to be run in the same terminal, right before you run TF.
[code]

[2017-03-31 02:31] aselle commented on #8795
Every processor feature takes time to use and implement, and as far as I know nobody has had time to implement it. Putting these in every individual kernel is time consuming. We're hoping that using the XLA compiler framework would be a great place to put these optimizations. On the other hand, we'd definitely welcome any help on these types of optimizations as community contributions!

[2017-03-31 02:32] aselle commented on #8795
@pbar, @benoitsteiner, did either of you experiment with prefetching/hugepages.

[2017-03-31 02:35] #8777 closed

[2017-03-31 02:37] aselle commented on #8776
The conditionals need to have access to create the ops themselves because they need to construct them and connect them to control dependencies I believe. Thus, you must let the control structure function have control on when the actual ops are created.

[2017-03-31 02:38] shoyer opened #8857 "Utility for repeatedly running tensors on queued input and accumulating the results"
I've written a utility function in TensorFlow that I've found quite helpful for loading Tensors with queue based inputs into memory, e.g., for looking at input data stored in the form of TF-records files or for looking at inference results. I've found it especially useful for interactively exploring the results of saved models from IPython notebooks, i.e., doing inference on small datasets or smal

[2017-03-31 02:39] sunnysuhappy commented on #6517
pytharm的自动补全问题，楼主怎么解决的啊，看样子是contrib的懒加载导致的，我这两天也发现了这个问题

[2017-03-31 02:58] flx42 commented on #8828
Please note that the new images will probably break your build because of #8264, see the details on GitLab:
https://gitlab.com/nvidia/cuda/issues/2#note_26563587

[2017-03-31 03:01] surmenok opened #8858 "Machine restarts when running TensorFlow with GPU"
A simple Python program which runs a few TensorFlow computations consequently crashes when running on GPU.

Code:

[code]

It should run the same computation 10 times, recreating a graph and a session every time.
Works fine when I run it on CPU. When running on GPU, it fails on running computation for 2nd, 3rd or 4th session.

Console output:

[code]

Then the machine just restarts.
There are no r

[2017-03-31 03:04] aselle commented on #8798
Please provide information? What is eval.py? What command line are you running?

[2017-03-31 03:07] sunnysuhappy opened #8859 "code auto completion error"
i'm using pycharm. And can't get code completion when using tf.contrib.
but when I write tensorflow.contrib import learn. it has a right behavior.

I guess it happened because of the lasy loading of tf.contrib.

can anyone help me?

[2017-03-31 03:13] aselle commented on #8786
@shlens, what do you think here. This seems like a backward incompatible change (even if the different data types were consistent), on the other hand the adjust_brightness function is a pretty strange definition of brightness, because it seems to reduce the contrast at the same time as changing the brightness. I would have implemented it as using hsl or multiplying by a constant. Do we have any no

[2017-03-31 03:15] aselle commented on #8771
Since this is your custom model,  it's unclear that it is a bug or just a usage error. Could you please ask on stackoverflow to ask for usage advice. Be sure to post the full traceback and your full code (including how lstm() is used). Thanks!

[2017-03-31 03:16] #8771 closed

[2017-03-31 03:18] aselle commented on #8770
Unfortunately, we cannot support contrib issues since they are by definition experimental. If you fairly confident, please submit a pull-request and we will look at it.

[2017-03-31 03:19] mingdachen opened #8860 "Server terminated abruptly when build from source"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
Initially I encountered the problem described as in https://github.com/tensorflow/tensorflow/issues/8731

After modified configure file as in https://github.com/tensorflow/tensorflow/commit/fba05c300bf6840e76787680ed7fd1239cdb9ad0. This error happened

### Environment info
Operating System

[2017-03-31 03:27] stoneyang commented on #8830
Thanks very much for pointing out this! @gunan

Thought I need to learn more on OS, especially linux....

[2017-03-31 03:27] auxs2015 commented on #8771
Thx，i found the problem ,it is the version of tf.
instead:cell=tf.contrib.rnn.BasicLSTMCell(rnn_unit)
with: cell=tf.contrib.rnn.core_rnn_cell.BasicLSTMCell(rnn_unit)

then it works

[2017-03-31 03:27] #8830 closed

[2017-03-31 03:33] terryKing1992 opened #8861 "How can i export model into HDFS"
The issue have beed submitted in [#381](https://github.com/tensorflow/serving/issues/381), thanks all kind of you

[2017-03-31 03:43] terryKing1992 commented on #8852
much more agree with you

[2017-03-31 04:12] XinyuHua commented on #7585
For me similar error was gone after upgrading to v1.1

[2017-03-31 04:22] dmitry-xnor commented on #684
Same here. On Google Cloud, no less.

[2017-03-31 04:38] martinwicke commented on #8786
We should roll this back. The change in 60e7360 was backwards incompatible and shouldn't have gotten in. I'll send a PR. @gunan @av8ramit FYI, this should go into RC1 if we still have the option.

It's unsurprising that functions behave differently when operating on different data types, so I don't agree with the reasoning behind the change. The difference comes from the range of uint8 being limit

[2017-03-31 04:59] Ivan-Zhao commented on #8836
Did you solve it? I met the problem with you

lstm_cell = tf.contrib.rnn.BasicLSTMCell(dimhidden, forget_bias=1.0)
_LSTM_O, _LSTM_S = tf.contrib.rnn(lstm_cell, _Hsplit,dtype=tf.float32)

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-54-a2b2c95b3fbd> in <module>()
      2 x

[2017-03-31 05:57] patilsamruddhi commented on #8797
Dear Andrew Selle,

Following are Version we use to build the project.

OS Details: 64 bit operating system
Windows: 7 Professional
Android Studio: 2.3
tensorflow: 1.0
Python: 3.5.2
bazel : 0.3.0
jdk: 8(windows)
Visual studio: VS-2015
NDK: android-ndk-r14b

From: Andrew Selle [mailto:notifications@github.com]
Sent: Friday, March 31, 2017 1:01 AM
To: tensorflow/tensorflow
Cc: Patil, ttSamruddhi (IM

[2017-03-31 06:35] Carmezim commented on #8853
Duplicate of #7778

[2017-03-31 06:59] carlthome commented on #6787
Same here on a K520 (AWS g2 instance) with TensorFlow 1.0.1, CUDA 8.0, cuDNN 5.1.

[code]

[2017-03-31 07:08] carlthome commented on #6787
Exchanging the NVIDIA Display Driver from Ubuntu's repo (340.102) to the latest one from nvidia.com (367.57) solved it.

**Tech support 101:**
1. Reboot.
2. Update drivers.
3. Does it work now?
:panda_face:

[2017-03-31 07:09] #8337 closed

[2017-03-31 07:09] #8494 closed

[2017-03-31 07:26] kindloaf commented on #1642
Hi @andrewharp ,
Thanks for the reply. I modified the code in port.cc, and logged the return value of NumSchedulableCPUs, which is 8. Still, my phone is using only 4 cores.
Are there other restrictions on tensorflow framework? Or, maybe 4 cores are the most that the framework can use - the bottleneck is not on computation?

[2017-03-31 07:30] paolorota commented on #2118
all clear, sorry for the stupid question! :(

[2017-03-31 07:31] Immortalt commented on #1962
Same error with 1.0

[2017-03-31 07:57] AKSHAYUBHAT commented on #6968
I am facing this issue regardless of Ubuntu version used (Xenial vs Trusty) or Docker image (Devel or Nightly or 1.0). If numpy is installed via apt-get python-numpy or gets installed while installing say OpenCV . A simple
`import numpy
import tensorflow`
is sometimes sufficient to cause a segmentation fault. I also think that this happened due to changes in the upstream Dockerfile, rather than te

[2017-03-31 08:37] RobRomijnders commented on #8833
The dynamic attention wrapper is [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/seq2seq/python/ops/attention_wrapper.py)

[2017-03-31 09:23] jubjamie commented on #8836
@Ivan-Zhao tf.contrib.rnn is **NOT** a function. It is a collection of functions. This is why you are receiving that error. Please see it's [documentation here](https://www.tensorflow.org/api_docs/python/tf/contrib/rnn).

[2017-03-31 09:25] snarb commented on #8809
Also please add DynamicRnnEstimator example. Looks like it a have different interface. Not like LinearRegressor and that is very confusing.

[2017-03-31 09:32] jubjamie commented on #8829
I believe that it uses an IIR filter as seen in the [Tensorboard Code here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tensorboard/components/vz_line_chart/vz-line-chart.ts#L455)

[2017-03-31 09:36] jubjamie commented on #8859
Can you please post your import code. This doesn't sound like a Tensorflow bug.
AFAIK, you can't create an import statement using an _as_ alias such as tf. You have to do use the full module name because python is looking for the tensorflow module to import from. tf is just a shorthand that you've defined.

[2017-03-31 09:44] jubjamie commented on #8858
@surmenok Are you able to monitor nvidia-smi as you run the code. I think you can run `nvidia-smi -l 1` and it should auto-update every second.
I'm struggling to understand your code but if you are running your code example above 10 times (or similar) perhaps you are running out of memory? Now, perhaps this is a Tensorflow memory bug or maybe it's poor memory coding on your part. I'm not too well

[2017-03-31 09:50] untom opened #8865 "[FeatureRequest] Decode gzipped files in tf.FixedLengthRecordReader"
My dataset is stored in binary format that is easily compressible (from 100 MB down to ~0.5 MB), but I currently cannot make use of this in TF, unless I write a TFRecords file, which is way more cumbersome and leads to a lot of duplication -- I need to work with those files in other programs as well, so the binary format is the easiest solution for me. It would be nice if  tf.FixedLengthRecordRead

[2017-03-31 10:03] jubjamie commented on #8854
@brandondutra As far as I know, you don't need to create any summaries to load the graph into Tensorboard. If you begin to create a summarywriter and then add the graph to it then you should see the graph appear in Tensorboard. I have some code that does that (as part of another project). I do however agree that being able to import something into Tensorboard would be handy.

I've quickly created

[2017-03-31 10:04] phsimon commented on #56
Hi,

After upgrading pip (9.0.1), I get now this error by installing tensorflow (and do not find any information to fix it) - I use ubuntu 13.04.

Traceback (most recent call last):
  File "/home/ypsa6500/tensorflow/bin/pip", line 9, in <module>
    load_entry_point('pip==9.0.1', 'console_scripts', 'pip')()
  File "/home/ypsa6500/tensorflow/local/lib/python2.7/site-packages/pip/__init__.py", line

[2017-03-31 10:13] ramarajan09 commented on #6385
@bulatyauheni @AndreyRub
I tried to follow the steps to build android example.
1. imported examples/android/build gradle
2. Edited the path to pre-built so
def demoLibPath = '../libtensorflow_demo.so'
def inferenceLibPath = '../libtensorflow_inference.so'
3. I now get the following error
**Error:Execution failed for task ':buildNativeBazel'.

Please find the attached build file.

Any help would be

[2017-03-31 10:19] Bonsen opened #8866 "How to print and write "Predictions" into a file?"
[code]
I try lots of ways, but I fail to print or write "predictions".
I want to print  the test results("predictions")  of a model and write it into aaa.txt, and how?

THANKS.

[2017-03-31 10:37] sunnysuhappy commented on #8859
@jubjamie I'm sure i write the right code and import tensorflow not tf.
It has a right result when runing. but can'g get auto code completion when coding

[2017-03-31 11:13] bulatyauheni commented on #6385
@ramarajan09
Try to remove this task

[2017-03-31 11:17] ramarajan09 commented on #6385
Sorry I did not understand your comment.

[2017-03-31 11:24] bulatyauheni commented on #6385
@ramarajan09
Try to remove this task instead
task buildNativeBazel(type: Exec) {
    workingDir '../../..'
    commandLine bazelLocation, 'build', '-c', 'opt',  \
         'tensorflow/examples/android:tensorflow_native_libs',  \
         '--crosstool_top=//external:android/crosstool',  \
         '--cpu=' + cpuType,  \
         '--host_crosstool_top=@bazel_tools//tools/cpp:toolchain'
}

[2017-03-31 11:52] jubjamie commented on #8859
Ok well this doesn't sound like a tensorflow bug. May I suggest that you try posting on stack overflow including the pycharm tag?

[2017-03-31 12:32] RobRomijnders commented on #8775
I'm running into that same issue. How did you solve it?

[2017-03-31 12:45] Meinersbur commented on #8100
We have no infrastructure to handle it. I am not familiar with HLO, but my estimation is that implementing a polyhedral transformation framework for a new language exceeds the workload one can do in a single GSoC.

[2017-03-31 13:19] KajaStene commented on #11
I have updated to reinstalled with pip to  protobuf (3.2.0) and uninstalled with brew just in case (it wasn't there) but I still get the same problem from importing tensor flow

[2017-03-31 13:48] gabidi commented on #22
Bump

[2017-03-31 13:49] zzw922cn opened #8870 "Bugs when dequeue a 3-D input tensor from FIFOQueue"
[code]
As above code shows, when I use FIFOQueue and Cordinator to do input pipeline, the input is a 3-D tensor variable, but when I dequeue it from the FIFOQueue, errors comes:
[code]

Thus, I go to the source code of FIFOQueue, I found that FIFOQueue.enqueue method doesn't use a shape function. So, I add a line of code as following, it works well.
[code]

But if I change my input from 3-D tensor

[2017-03-31 13:56] caisq commented on #8337
FYI, this bug should have been fixed by 7b410eb. I verified it works with the two reproduction code samples above. The fix will become available in the nightly artifacts on the next successful build.

[2017-03-31 14:02] RikHeijdens commented on #6011
I gave it a shot and tried to port the Lasagne implementation by @luizgh to TensorFlow:

[code]

[2017-03-31 14:06] DanielaCaroline18 opened #8871 "text_classification.py doesn't works"
....

  File "C:\Users\danie\Anaconda3\lib\site-packages\tensorflow\contrib\layers\python\ops\sparse_feature_cross_op.py", line 21, in <module>
    from tensorflow.contrib.framework import deprecated_arg_values
    ImportError: cannot import name 'deprecated_arg_values'

I'm using Spider.

[2017-03-31 14:07] mhnatiuk commented on #8775
I switched back to using TrainingHelper instead of ScheduledEmbeddingHelper, and feeded embedded inputs by looking up embeddings using tf.nn.embedding_lookup. It works, now I run into other problem, the shape of decoder_outputs.rnn_output is (AFAIK) *dynamic* and it's not possible to feed it into tf.contrib.seq2seq.sequence_loss, since it expects TARGETS and LOGITS to have compatible shapes

[2017-03-31 14:24] IgorX2 commented on #8845
I updated the issue description.

[2017-03-31 14:36] Androbin commented on #8712
@andrewharp I am sorry, if I was too unclear.
I am using a **Nexus 6P** as host device.
Input size (**12593**) and model architecture are given by #issuecomment-289561458
I will now measure the times myself and post the results.

Sorry for the confusion: I am referring to the (recently renamed) methods of [`TensorFlowInferenceInterface`](https://github.com/tensorflow/tensorflow/blob/master/tensorf

[2017-03-31 14:51] Androbin commented on #8712
Okay, `TimingLogger` delivers reasonable results:
feed: 3-4 ms
run: 250-270 ms
fetch: 0-1 ms

[2017-03-31 14:52] nicodri commented on #5
@asimshankar Is there a way already from the tensorflow Java binding to retrieve information from a graphDef (built from the .pb file of the graph on disk) like the list of nodes, input and output format or is it an incoming feature? Thanks!

[2017-03-31 15:12] kbrose commented on #8829
Hmm. Does that make sense for non-periodic data? This may be too simplified but I feel like just a moving average would be better...

[2017-03-31 15:27] a54 commented on #8371
2017-03-31 18:22:40: E /Users/a54/tf_files/projects/tensorswift-ios/tensorswift/tensorflow_utils.mm:152] Could not create TensorFlow Graph: Invalid argument: No OpKernel was registered to support Op 'TruncatedNormal' with these attrs.  Registered devices: [CPU], Registered kernels:
  <no registered kernels>

	 [[Node: truncated_normal_3/TruncatedNormal = TruncatedNormal[T=DT_INT32, dtype=DT_FLOAT,

[2017-03-31 15:28] steelah1 commented on #3681
The above anaconda link is dead, and I'm getting the exact messages that denru01 is getting, ie "Segmentation Fault" with no other messages. I got that after "locally" installing glibc 2.14 and pointing LD_LIBRARY_PATH to it. Anything else I can try to get this to work on centos 6.8?

[2017-03-31 15:32] tomwanzek commented on #6184
Just to confirm, I created a conda environment based on Windows/GPU Stable Build129 (1.1.0rc0 nightly) and the primary errors are indeed gone.

There are some remaining warnings  related to deprecated API usage, but overall the `wide` and `wide_n_deep` models are runnable at this point!

So one more time: Cudos to @mrry and @guschmue .

[2017-03-31 15:42] lk1983823 opened #8872 "Tensorboard showing problems under keras callbacks"
My code runs well without any errors showing. However, when I use the command
tensorboard --logdir = "my path", it shows nothing. I want someone to help me! Thanks.

tensorflow 1.0.1 keras 2.0  and python 3.4

And I found the debug shows:

[code]
of which between INFO:tensorflow:Beginning EventMultiplexer.Reload() and INFO:tensorflow:Finished with EventMultiplexer.Reload(). There is no debuging in

[2017-03-31 16:32] mrry commented on #6184
Thanks for confirming this, Tom!

[2017-03-31 16:32] #6184 closed

[2017-03-31 16:34] girving opened #8873 "Arbitrary dimension support for tf.tile and binary operators"
`tf.transpose` uses template specialization for dimensions <= 5, then falls back to a slightly slower generic implementation which works for any dimension:

https://github.com/tensorflow/tensorflow/blob/504b91de8fa9a9cc4a4e17e59ed753ab677a1410/tensorflow/core/kernels/transpose_functor_cpu.cc#L23

It would be nice to use the same mechanism for `tf.tile` and the various binary operators.

[2017-03-31 16:37] girving commented on #8873
If anyone wants to take this on, I'd recommend trying `tf.tile` first: it's closer to `tf.transpose`.  Happy to answer questions.

[2017-03-31 17:07] jrasero opened #8876 "DNNClassifier init failed TypeError"
Following the tutorial, when I define the classifier:

classifier = skflow.DNNClassifier(hidden_units=[10, 20, 10], n_classes=3)

it triggers the following error:

init() takes at least 3 arguments (3 given)

[2017-03-31 17:21] aselle commented on #8861
Closing duplicate.

[2017-03-31 17:21] #8861 closed

[2017-03-31 17:24] aselle commented on #8872
Please read the tutorial https://www.tensorflow.org/get_started/summaries_and_tensorboard.
 This should answer your question. Otherwise, ask a more specific question on StackOverflow (including your code)

[2017-03-31 17:24] #8872 closed

[2017-03-31 17:24] dbl001 opened #8877 "nvidia-smi: No running processes found"
I'm running Ubuntu 14.04 LTS on AWS g2.2xlarge

$ python neural_gpu_trainer.py --problem=bmul

...

modprobe: ERROR: could not insert 'nvidia_375_uvm': Invalid argument
E tensorflow/stream_executor/cuda/cuda_driver.cc:509] failed call to cuInit: CUDA_ERROR_UNKNOWN

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
http://stackoverflow.com

[2017-03-31 17:29] aselle commented on #8870
@mrry, this seems like it could need fixing. Please take a look. Thanks!

[2017-03-31 17:31] aselle commented on #8866
Please read the getting started guide, it explains the difference between graph nodes and evaluating graph nodes.

[2017-03-31 17:31] #8866 closed

[2017-03-31 17:32] dbl001 commented on #8877
http://stackoverflow.com/questions/42984743/nvidia-smi-has-failed-because-it-couldnt-communicate-with-the-nvidia-driver

[2017-03-31 17:34] dbl001 commented on #8877
ubuntu@ip-10-0-1-131:~/cuda/lib64$ cd ~/NVIDIA_CUDA-7.0_Samples/1_Utilities/deviceQuery
ubuntu@ip-10-0-1-131:~/NVIDIA_CUDA-7.0_Samples/1_Utilities/deviceQuery$ ./deviceQuery
./deviceQuery Starting...

 CUDA Device Query (Runtime API) version (CUDART static linking)

modprobe: ERROR: could not insert 'nvidia_375_uvm': Invalid argument
cudaGetDeviceCount returned 30
-> unknown error
Result = FAIL

[2017-03-31 17:35] dbl001 commented on #8877
[code]

[2017-03-31 17:39] aselle commented on #8877
It seems you are using a mix of cuda 7 and cuda 7.5? Please try CUDA 8.

[2017-03-31 17:40] aselle commented on #8871
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. We ask for this in the issue submission template, because    it is really difficult to help without that information. Thanks!

[2017-03-31 17:43] aselle commented on #8865
We would happy to accept a batch that allows this behavior, but we are unlikely to work on it ourselves, since we either use TFRecords or other data formats internally. It shouldn't be super difficult to do yourself. @saxenasaurabh can probably give you some direction on how to use the existing gzip classes, if you'd be willing to help out.

[2017-03-31 17:44] dbl001 commented on #8877
I tried CUDA 8.  I got errors.  Do you know if CUDA 8 works on g2.2xlarge instances with the NVIDIA GK104GL [GRID K520]?

$ lspci | grep -i nvidia
00:03.0 VGA compatible controller: NVIDIA Corporation GK104GL [GRID K520] (rev a1)

[2017-03-31 17:46] aselle commented on #8829
@dandelionmane, could you provide some insight, please?

[2017-03-31 17:51] aselle commented on #8860
If you rerun the bazel command, will it continue on some more and eventually finish? Maybe @jart  or @gunan  have some insight?

[2017-03-31 17:51] jjhelmus commented on #8877
CUDA 7.5 requires driver version 352.xx or newer but you seem to be using an older version, can you update the driver?

[2017-03-31 17:56] dbl001 commented on #8877
Yes.

This is what I installed.  Do you know the URI to the correct installer?

$sudo wget http://developer.download.nvidia.com/compute/cuda/7_0/Prod/local_installers/cuda_7.0.28_linux.run
$sudo chmod 700 ./cuda_7.0.28_linux.run
$sudo ./cuda_7.0.28_linux.run
$sudo update-initramfs -u
$sudo reboot

[2017-03-31 17:59] cancan101 commented on #8828
okay, @gunan https://hub.docker.com/r/nvidia/cuda/ now has cudnn6 images.

[2017-03-31 18:00] aselle commented on #8670
@jorgemf, I understand your desire for consistency, but almost every parallel system is non-deterministic or it accepts a significant speed compromise to ensure exact determinism. Your problem might be posed in a way that is on the edge of numeric stability. As such, a perturbation in order of operations caused by gpu or cpu parallelism scheduling could easily cause inconsistent results. The desig

[2017-03-31 18:00] jjhelmus commented on #8877
Ubuntu has a page on how to install the NVidia drivers, https://help.ubuntu.com/community/BinaryDriverHowto/Nvidia.  You can check the version using:

[code]

[2017-03-31 18:03] aselle commented on #8682
@left13 analysis matches my intuition, so closing for now. I.e. it is a bigger model. TFClassify has also been quantized and reduced. This information is clear on the documentation https://www.tensorflow.org/mobile/
 Thanks!

[2017-03-31 18:03] #8682 closed

[2017-03-31 18:05] aselle commented on #8685
Perhaps try using the full path rather than a relative path? Try that and let us know if that works. Thanks!

[2017-03-31 18:06] aselle commented on #8698
Please specify your platform version and versions of TensorFlow @Androbin.
Are there any usual pitfalls @petewarden that cause a segfault like this?

[2017-03-31 18:08] andrewharp commented on #8712
Right, there's a problem with the adb method tracing, so until we figure out what is going on there it seems you can't rely on the timings it gives.

[2017-03-31 18:10] aselle commented on #8701
@dennybritz, can you identify which line of python caused this error? My guess is this is related to the argument reorder on metrics... from the TensorFlow release notes.
[code]
So go find those and insert explicit keyword argument labels appropriately and it should fix it. Let me know if that fixes you problem. Thanks

[2017-03-31 18:10] aselle commented on #8796
@mrry, is distributed mode expected to work on Windows?

[2017-03-31 18:11] aselle commented on #8809
@martinwicke, @wolfffg, are we planning an update here? Could you redirect to the new author?

[2017-03-31 18:12] gunan commented on #8860
Looks like bazel crashed?
@damienmg any ideas?

[2017-03-31 18:13] Androbin commented on #8698
I built TensorFlow from source (last update: yesterday) with CUDA 8.0 and cuDNN 5.1 on Ubuntu 16.04.2, downloaded the Inference Library from [nightly-android#79](https://ci.tensorflow.org/view/Nightly/job/nightly-android/79/) and running the inference on a Nexus 6P as host device.

[2017-03-31 18:16] aselle commented on #8817
I am adding this to our list of models that we would like to make easier in TensorFlow. I don't have any personal knowledge of the paper, but as far as your comment about having a trainable flag. It seems like you could multiply by a vector of 0's or 1' to mask the variable dynamically to achieve the same effect. Let me know if that would be sufficient? Thanks!

[2017-03-31 18:17] aselle commented on #8820
This would be a great question for StackOverflow! I'm not aware of people who have talked about how to do this already, but that would be the best place to look. Thanks!

[2017-03-31 18:18] dennybritz commented on #8701
I don't think that is the issue. All arguments are named and it only happens to some users (I don't have this problem myself). Also, if you read the original issue you can see that some users managed to "fix" it by disabling bucketing or reducing the dev data.

It looks very much like some kind of GPU memory issue to me.

[2017-03-31 18:18] saxenasaurabh commented on #8865
This shouldn't be too hard imho. You should be able to swap out the `input_buffer_` in [FixedLengthRecordReader](https://github.com/tensorflow/tensorflow/blob/c664520a1a7642cd3c9368cd1bd036892d8966b2/tensorflow/core/kernels/fixed_length_record_reader_op.cc#L28) with the [ZlibInputStream](https://github.com/tensorflow/tensorflow/blob/bad7c50b9dc9789ad7dd0a62daca40b7269841ed/tensorflow/core/lib/io/z

[2017-03-31 18:18] damienmg commented on #8860
Definitely a Bazel issue, no idea on why

[2017-03-31 18:22] jhseu commented on #6968
@AKSHAYUBHAT Your error is unrelated.

Looking at the stack trace, it's pulling a symbol from torch when it shouldn't be:
`/usr/local/lib/python2.7/dist-packages/torch/lib/libshm.so(_ZSt16__ostream_insertIcSt11char_traitsIcEERSt13basic_ostreamIT_T0_ES6_PKS3_l+0x1c5)[0x7f3edd107235]`

No guesses as to why that's happening without understanding your environment.

[2017-03-31 18:24] jhseu commented on #6968
A quick glance at pytorch code: it's exporting some libstdc++ symbols with RTLD_GLOBAL when it shouldn't be. The bug is likely in pytorch.

[2017-03-31 18:26] AKSHAYUBHAT commented on #6968
@jhseu Thanks a lot!

[2017-03-31 18:28] albenoit commented on #8529
Hi all, still works with Tensorflow 1.1rc0 !

[2017-03-31 18:31] gunan commented on #8529
Great to hear that it now works for you!
I will then close this issue.

[2017-03-31 18:31] #8529 closed

[2017-03-31 18:41] wilderfield commented on #8820
Andrew,

It was more of a feature request than a question... Can you make sure that
it makes it to someone at Google? Although, they may have already thought
about it, or be doing it behind the scenes...

On Fri, Mar 31, 2017 at 11:19 AM, Andrew Selle <notifications@github.com>
wrote:

[2017-03-31 18:53] nitbix opened #8878 "contrib.learn.Estimators needs updating to summary.scalar"
### Environment info
Operating System: Ubuntu 16.04

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
[code]

git rev ersion
[code]

### If possible, provide a minimal reproducible example (We usually don't have time to read hundreds of lines of your code)

Using the example at https://www.tensorflow.org/get_started/tflearn triggers the warning

[2017-03-31 19:00] brandondutra commented on #8854
This is awesome! Thank you for your help. I took your script and ran it, but I ran into an issue:

`google.protobuf.message.DecodeError: Error parsing message`

Because the error is in parsing the message, I looked into tensorflow protos. I modified your script, and got it working on my saved_model.pb file.

[code]

Again, thank you!

[2017-03-31 19:01] mrry commented on #8796
The distributed-mode tests pass on Windows, so it is expected to work.

[2017-03-31 19:08] crack00ns opened #8879 "could not create cudnn handle: CUDNN_STATUS_INTERNAL_ERROR"
Hi,
I installed tensorflow 1.0.1 GPU version on my Macbook Pro with GeForce GT 750M. Also installed CUDA 8.0.71 and cuDNN 5.1. I am running  a tf code that works fine with non CPU tensorflow but on GPU version , I get this error (once a while it works too).

I tensorflow/core/common_runtime/gpu/gpu_device.cc:975] Creating TensorFlow device (/gpu:0) -> (device: 0, name: GeForce GT 750M, pci bus id:

[2017-03-31 19:09] dbl001 commented on #8877
Does this mean the installation of NVIDIA-Linux-x86_64-367.57 failed?

ubuntu@ip-10-0-1-135:~/nvidia-graphics-drivers$ sudo ./NVIDIA-Linux-x86_64-367.57-no-compat32.run

Unable to load: nvidia-installer ncurses v6 user interface

Using: nvidia-installer ncurses user interface
-> Detected 8 CPUs online; setting concurrency level to 8.
-> License accepted.
-> Installing NVIDIA driver version 367.57.

[2017-03-31 19:11] xwhan commented on #3681
Try this one [https://anaconda.org/jjhelmus/tensorflow](https://anaconda.org/jjhelmus/tensorflow)

[2017-03-31 19:16] jubjamie commented on #8854
@brandondutra I guess that there was something odd with your .pb then. Worked fine on mine! Glad I could help.

[2017-03-31 19:48] proximacent commented on #8833
Ok I see the confusion. According to [this](https://github.com/tensorflow/tensorflow/commits/master/tensorflow/contrib/seq2seq/python/ops/attention_wrapper.py) it was renamed a few days ago from DynamicAttentionWrapper to AttentionWrapper. Many edits since, try to repull and test. I'll test and let you know.

[2017-03-31 20:11] surmenok commented on #8858
Formatting of my code in the original post was not good. I updated it, hopefully, it is more clear now.
Basically, the function train_model creates a tf.Graph and a session, runs a simple computation: get a variable, multiply a constant tf_valid_dataset with a variable weights0, then add biases0 variable, then run tf.nn.relu , then multiply with weights1 and add biases1.
Constant tf_valid_dataset

[2017-03-31 20:39] aselle commented on #8797
@petewarden, it appears that this build method is not compatible with windows because it is trying to run a shell script. Is this expected?

[2017-03-31 20:41] aselle commented on #8818
Is there anything special about how you prepared the png files. Could you run "file <png>" on them to show their specs. How did you create them? What tool? Try replacing those file read called with creation of tensorflow constants and see if it works ok.

[2017-03-31 20:43] andrewharp commented on #8797
That's correct. There is a workaround for building Android TF on Windows here: https://github.com/tensorflow/tensorflow/issues/6385#issuecomment-285208600

[2017-03-31 20:44] aselle commented on #8827
@neilhan , this seems to be a problem. Could you take a look?

[2017-03-31 20:47] aselle commented on #8696
@mrry, could you comment on this issue please.

[2017-03-31 20:57] mingdachen commented on #8860
@aselle Thanks for your reply!
I didn't rerun from the bazel command, but I reran from the ./configure, and in each time, it would stop at different places. Hope this information would be helpful.
As a workarond, I just installed the CUDA 8.0, and used the pip to install the tensorflow with gpu support.

[2017-03-31 20:59] aselle commented on #8701
I'm sorry I missed that. I've seen many examples of shape errors being caused by that change, so it is worth a shot.

 Since this issue links to a incomplete summary and then 4 more issues which are themselves just blobs of erros, it's pretty hard to follow what is going on. Let me ask a few clarifying questions, since you've spent a good deal of time looking at this it appears.

1. What versions

[2017-03-31 21:01] nealwu commented on #8827
It looks like you're talking about [this file](https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10/cifar10_input.py) in the models repository? That was fixed previously by this pull request: https://github.com/tensorflow/models/pull/1011. You should pull the repository again.

[2017-03-31 21:01] #8827 closed

[2017-03-31 21:04] aselle commented on #8833
I apologize, but we typically cannot support the contrib directories of tensorflow unless they are underlying tensorflow bugs.

@ebrevdo.

[2017-03-31 21:05] #8836 closed

[2017-03-31 21:07] martinwicke commented on #8809
@wolffg​

[2017-03-31 21:12] aselle commented on #8842
@alextp, could you take a quick look.

[2017-03-31 21:17] alextp commented on #8842
Can I get a full stack trace?

[2017-03-31 21:19] dennybritz commented on #8701
1. `1.0.0` or `1.0.1` - The code only works with that version.
2. The people I've talked to, yes. But I will try to ask more.
3. Not sure, will try to ask.
4. The command in this tutorial: https://google.github.io/seq2seq/nmt

[2017-03-31 21:43] mrry commented on #8696
One possible issue is the `tf.summary.image()` calls in your `load_batch()` function. Since (if I understand the code in `slim.learning.train` correctly) the merged summaries will be collected from a separate thread, this will cause certain images to be dequeued from the input pipeline (in order to make summaries) but never enqueued to the batch queue for training.

Is your input finite or infinit

[2017-03-31 21:46] jamieas commented on #8842
Try changing the input function to

[code]

[2017-03-31 21:47] aselle commented on #8843
This does seem strange I can't even get a simple invocation like this to work

[code]

[2017-03-31 21:47] aselle commented on #8843
@rmlarsen, could you take  a quick look?

[2017-03-31 22:02] derekhhsc commented on #8696
Thanks @mrry. I think what I'm observing is more or less the same as #2788 and I can also resume the training process by first suspending and then bringing the process back to foreground.

What I don't quite understand is, even if running CPU only means it takes more time for the CPU to prepare the input data - why would that make the process stuck in there without doing anything?

PS: When you sa

[2017-03-31 22:12] foxik commented on #8829
Note that the referenced sources are in master branch, where the behaviour has much changed. In TensorFlow 1.0.1, a window average is used https://github.com/tensorflow/tensorflow/blob/r1.0/tensorflow/tensorboard/components/vz_line_chart/vz-line-chart.ts#L432 , causing the artifacts on the images.

However, an exponential moving average has been merged 4 days ago in pull request #8363, resulting i

[2017-03-31 22:21] mrry commented on #8870
Can you please share the entire stack trace for that `ValueError`? I can't see any calls to `TensorShape.as_list()` in the queue implementation.

[2017-03-31 22:29] steelah1 commented on #3681
No luchk :-/, same result, even after uninstalling tensorflow

[2017-03-31 22:37] agupta74 opened #8884 "8-bit quantized atrous conv2d op not supported"
It looks like that 8-bit quantized atrous conv2d op is not supported. As per the latest API,  there are only 4 quantized ops supported namely quantized_conv2d, quantized_relu_x, quantized_max_pool and quantized_avg_pool.  Any target date by which 8-bit atrous conv2d op will be available?

[2017-03-31 23:04] surmenok commented on #8858
I simplified the code a bit more. This is the minimal failing code I could get:

[code]

The function creates 2 variables using tf.truncated_normal for initialization, then multiplies these variables. The function is called 100 times sequentially.
Seems like the bug is related to memory, because size of TensorFlow variables impacts behavior of the program. Behavior with different values of input_d

[2017-04-01 00:10] argavish opened #8887 "Embedding visualizations for hi-res images training (feature request)"
Hi Tensorflow people, thank you all.
I wonder if I could train my image classification model on my normal sized images (1080px X 1920px) but still use Tensorboard's cool embedding visualizations. I prefer to keep the images with the highest resolution possible since it proved to be important for the classification.

In the tutorial (https://www.tensorflow.org/get_started/embedding_viz) the develop

[2017-04-01 00:15] Shahin-01 commented on #8374
Thank you for your help! @MicaelCarvalho

[2017-04-01 00:17] ebrevdo commented on #8833
That's right, the decoder needs a new, separate, type of state than what
the encoder emitted.

As of today I pushed a new method to AttentionWrapperState object called
.clone().  You would use it thus:

`initial_state = wrapper.zero_state(...).clone(cell_state=encoder_state)`

and pass that initial_state to the decoder.

[2017-04-01 00:17] #8833 closed

[2017-04-01 00:40] raghakot opened #8888 "Tensorboard broken on latest source"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-04-01 01:13] lk1983823 opened #8890 "tensorboard shows nothing"
I am using tensorflow 1.0.1and python 3.4
When I run my code, it shows no error. However tensorboard show that "No graph definition files were found. "

My tensorboard debug is as follows:

INFO:tensorflow:TensorBoard is in debug mode.
INFO:tensorflow:Starting TensorBoard in directory /home/swx/lk
**INFO:tensorflow:TensorBoard path_to_run is: {'/home/swx/lk/=': None}**
INFO:tensorflow:Event Multip

[2017-04-01 01:19] gunan commented on #8858
This looks like it is an issue in your workstation.
You could check dmesg and syslog to see if the OS logged anything informative right before crashing.

[2017-04-01 01:30] loliverhennigh commented on #4536
I just put a pull request here #8891.  Im a bit new to contributing to tensorflow so hopefully I did everything ok.

[2017-04-01 01:42] gunan commented on #8859
Code completion is a feature offered by your IDE.
Please either browse the forums of your IDE, or use stackooverflow as recommended by @jubjamie

[2017-04-01 01:42] #8859 closed

[2017-04-01 02:00] zzw922cn commented on #8870
@mrry Ok, my code is as follows:
[code]

error is
[code]
 and I think the error is caused by BLSTM, so maybe the set_shape bug can be fixed.

[2017-04-01 02:13] sunnysuhappy commented on #8859
@jubjamie thanks for your patient. I will notify you when get the reason

[2017-04-01 02:15] surmenok commented on #8858
There are no messages in dmesg or syslog logged right before the system crashes.

[2017-04-01 02:27] GuohongLi commented on #7657
Unfortunately, I have met the same problem, and change the check code. But after successfully writing tf record, it fails at read from it. The code position si tensorflow/python/ops/gen_image_ops.py", line 345, in decode_jpeg. Have anybody get idea with it?

[2017-04-01 03:14] xyzzhangfan commented on #8888
Hi, I have the same problem. I don't know the reason but I solved by the following step
sudo vim /usr/local/bin/tensorboard
add

from tensorflow.contrib import bayesflow

before

from tensorflow.tensorboard.tensorboard import main

I noticed if just import bayesflow and then import main, it is fine. But if changing the order, it will have error like you.

[2017-04-01 03:35] JackieTseng opened #8892 "Error when building Tensorflow"
When I use `bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package` to build tensorflow, I got so many unknown warnings and one error as follow.
[code]

For more information,
[code]
bazel
[code]
clang
[code]
configure
[code]

[2017-04-01 03:47] playgithub commented on #8725
Thanks

[2017-04-01 03:56] playgithub commented on #8725
Because **softmax** can operate on any array, I think the concept **logits** is not necessary, and it'll be more easy.

[2017-04-01 04:06] thewintersun commented on #6011
mark

[2017-04-01 04:08] ebrevdo commented on #7727
We're moving it in the next 2 weeks, hopefully.  There may be one final breaking change to the API; but it should happen before TF 1.2 is released.  I imagine by TF 1.2 it'll be in core.

[2017-04-01 04:11] ebrevdo commented on #8833
(i may consider that we can add an initial_cell_state= argument when constructing the wrapper; but that approach mixes concerns.  we'll see)

[2017-04-01 04:34] raghakot commented on #8888
Thanks. That does make it run again.

[2017-04-01 04:52] gunan commented on #8892
Looks like this is a problem between clang and cuda 8.0.
One option, you can use gcc as your host compiler.
We have not fully tested clang yet.

[2017-04-01 05:14] aluo-x opened #8893 "cuDNN 6.0 compatibility"
cuDNN v6.0 was released on Mar 23, are there any plans for adding compatibility (building against compatibility version 6000)?

[2017-04-01 05:15] #8893 closed

[2017-04-01 05:16] aluo-x commented on #8893
Closed as a duplicate of [issue 8828](https://github.com/tensorflow/tensorflow/issues/8828)

[2017-04-01 05:51] JackieTseng commented on #8892
@gunan Yeah, that's right. I just tested gcc to compile and it works though with warnings. Thanks!

[2017-04-01 05:55] gunan commented on #8892
Warnings are known issues, we are working on fixing them.
Thanks for verifying, closing the issue.

[2017-04-01 05:55] #8892 closed

[2017-04-01 06:51] AKSHAYUBHAT commented on #6968
I checked and it started working after removing pytorch, so pytorch was the likely culprit.

[2017-04-01 06:57] terryKing1992 commented on #8861
the tensorflow community is more active than tensorflow serving. can y I reopen this issue to let this issue into more and more people‘s Vision?

[2017-04-01 07:16] ianchee commented on #8876
Isn't **feature_columns** a required argument?

[2017-04-01 07:21] jinfagang opened #8894 "tensorflow/core/kernels/split_op.cc:159:26: error: non-constant-expression cannot be narrowed from type 'int64' (aka 'long long') to 'int' in initializer list [-Wc++11-narrowing]"
Building tensorflow android error:
*  os: ubuntu16.04
* tensorflow: 1.0.1

Before error comes, I followed the tips in [android README](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/README.md)

[code]

then I just got these error:

[code]
I installed android sdk and ndk via android-studio, and here is my settings in WORKSPACE:
[code]

Anybody occurred this problem

[2017-04-01 08:50] jrasero commented on #8876
Yes!! That was that, very simple. It turns out that in new versions this is a required argument, whereas in earlier versions from which I was following a tutorial, it was not. Thanks a lot!

[2017-04-01 08:50] #8876 closed

[2017-04-01 09:59] greaber commented on #8829
It would also be nice if TensorBoard could somehow ignore outliers not just in the chart scaling but also in the smoothing.  And it would be nice if it could nonetheless let you see what those outliers are.  Since there seems to be no way to zoom in sufficiently to go step by step in TensorBoard, there is no way to find out exactly when outliers occurred and what their values are.

However, I know

[2017-04-01 10:07] carlthome commented on #2838
:+1:

[2017-04-01 10:14] ramarajan09 commented on #6385
@bulatyauheni Thanks for pointing it out, I have now removed buildNativeBazel and copyNativeLibs.
Also, I created a folder call libs in my project folder and copied the four folders obtained from pre-builts (i.e benchmark model, libandroid_tensorflow_lib.lo, libtensorflow_demo.so, libtensorflow_inference.so). Each of these folders have arm64-v8a, armeabi-v7a, x86, x86_64 subfolders).

After buildi

[2017-04-01 10:45] snarb commented on #8842
@jamieas  After I have added  _return {'': x} , y_ i got eeror _NotImplementedError: No deep embedding lookup arguments for column _RealValuedColumn(column_name='', dimension=1, default_value=None, dtype=tf.float32, normalizer=None)._

Traceback:
WARNING:tensorflow:From E:\Python35\lib\site-packages\tensorflow\contrib\learn\python\learn\estimators\dynamic_rnn_estimator.py:724: regression_target (f

[2017-04-01 11:06] carlthome commented on #2838
I figure some utility function for getting all RNN state tensors as variables or placeholders would be nice. E.g. something like:

[code]

[2017-04-01 11:54] bhack commented on #6474
Can we add also color and text to the interface?

[2017-04-01 12:14] Androbin commented on #7217
May be related to #8698

[2017-04-01 12:16] Androbin commented on #8698
May be related to #7217

[2017-04-01 12:20] specman commented on #7995
that link returned an no webpage found error.

[2017-04-01 13:03] KeithYin commented on #6517
@sunnysuhappy@jknair  you can try to import tensorflow.contrib explicitly

[2017-04-01 14:04] Srigowri opened #8895 "image_retraining/retrain.py not found"
### Environment info
Operating System: Windows 10

Installed version of CUDA and cuDNN:

- cuda_8.0.61_win10.exe
- cudnn-8.0-windows10-x64-v5.1
I have installed tensorflow for gpu using pip install tensorflow-gpu( also downloaded the nightly for vanishing certain warnings)
- tensorflow_gpu-1.1.0rc0-cp35-cp35m-win_amd64.whl

## What am I trying to do?
I want to use the tensorflow for poets for tran

[2017-04-01 14:49] alisidd commented on #8744
I can do this

[2017-04-01 14:59] flyi commented on #7995
@specman
Yes,that link returned 404. So I post my solution.

[2017-04-01 16:10] andrewharp commented on #6385
If you unzip the apk, what do you see?

[2017-04-01 16:34] Carmezim commented on #8895
Hi @Srigowri, if you want to run the code without Docker you can just install TensorFlow locally on your machine.
Regarding CPU or GPU both would work for the purpose of running the code, it will depend if you have a compatible GPU and CUDA and cuDNN installed.  All the details on how to use TensorFlow with GPU support are on https://www.tensorflow.org/install/install_windows.

To use the code wit

[2017-04-01 17:19] Androbin opened #8897 "outputs indifferent to input when applying `merge_duplicate_nodes`"
I think I might have located the root of #8698
It seems that `merge_duplicate_nodes` is the reason that `quantize_nodes` malfunctions.
Whatever I do, whenever I apply a `merge_duplicate_nodes` somewhere during a graph transformation, the output becomes completely indifferent to the input.

(Unfortunately) I don't get any error messages concerning this...

[2017-04-01 17:21] Androbin commented on #8698
I experimented a bit with the graph transformation and discovered that the problem seems to be `merge_duplicate_nodes` which is called by `quantize_nodes` #8897

[2017-04-01 17:31] dbl001 commented on #8877
I successfully installed the NVIDIA 367.57 driver and now 'nvidia-smi' is working:

[code]

[2017-04-01 17:31] #8877 closed

[2017-04-01 17:31] andrewharp commented on #8894
Make sure you're building with NDK r12b, as other versions are known to cause issues with Bazel.

[2017-04-01 18:05] lunasdejavu opened #8898 "Import Error Couldn't open CUDA library libcudnn.so.5."
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
i was installing tensorflow  GPU version on ubuntu x86-64
but I found an error:

` >>> import tensorflow as tf
I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA library libcublas.so.8.0 locally
I tensorflow/stream_executor/dso_loader.cc:126] Couldn't open CUDA librar

[2017-04-01 18:17] Alexivia commented on #1122
Hi,
I tried to implement a batch normalisation layer with the help of the suggestions in this issue, but I still have a >70% error in validation and testing... I do have a lower decay for non-training calls...

Here is my code:
[code]

Thank you in advance.

[2017-04-01 19:36] sandeeptengale commented on #1769
@drcege I got exactly same error, you got any solution for this?

[2017-04-01 20:45] jjough commented on #4897
@goodfeli could you please explain this further? Would love to see the trick, but not really sure what you mean.

I'm manually calculating a full Jacobian by making a bunch of calls to `tf.gradients`, and it's very slow.

[code]

[2017-04-01 20:57] aselle commented on #8848
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

But since you told me stackoverflow doesn't work, it seems like  a normal variable would be sufficient for your purposes. There aren't transient activation records like an imperative

[2017-04-01 20:57] #8848 closed

[2017-04-01 21:01] andrewharp commented on #1769
Have you [set up your WORKSPACE file](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/README.md#edit-workspace) yet? This build error is typical when the NDK is not installed and configured there.

[2017-04-01 21:06] aselle commented on #8850
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. We ask for this in the issue submission template, because    it is really difficult to help without that information. Thanks!

[2017-04-01 21:07] aselle commented on #8852
We currently don't have anybody working on this. It would be great if you could help us by working on this and submitting a PR. Let us know if you need further clarification. Thanks!

[2017-04-01 21:08] #8853 closed

[2017-04-01 21:08] aselle commented on #8853
This is not a bug.

[2017-04-01 21:10] aselle commented on #7778
@hughsando, these are in fact the debates we had internally. Ideally in the future we'd be able to ship all compiled versions and choose at runtime, but logistically that's actually quite time consuming and tricky to implement. We are looking into it, but this was the best solution we had for now. We wanted people to know that if they have that warning, things are working, but it could be faster i

[2017-04-01 21:11] #8854 closed

[2017-04-01 21:11] aselle commented on #8854
Closing since this feature is available through existing TensorBoard functionality.

[2017-04-01 21:12] aselle commented on #8857
@mrry, could you evaluate this contribution since it is firmly in your area of expertise. Thanks!

[2017-04-01 21:16] aselle commented on #8840
This looks like your own custom code? If so, this question is better asked on StackOverflow. If you suspect a bug, please verify that any examples we provide don't work as well.

[2017-04-01 21:20] aselle commented on #8845
I've verified that the train summary loads in tensorboard on Mac OS X. I don't have a windows machine to test. @mrry can you let us know if Windows tensorboard is expected to work?

[2017-04-01 21:21] aselle commented on #8847
Since this is a third party kernel and tool, please file this bug on warp-ctc's issue tracker.

[2017-04-01 21:21] #8847 closed

[2017-04-01 21:23] mackyo opened #8899 "da nda activate tensorflow"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-04-01 21:29] #8130 closed

[2017-04-01 21:30] aselle commented on #8888
@gunan and @jart, could you look into this?

[2017-04-01 21:31] aselle commented on #8887
@dandelionmane, could you provide direction on this feature and if it is necessary and how to go about it?

[2017-04-01 21:33] aselle commented on #8884
@keveman, are there any plans for this feature in the short term. If not, please mark it contributions welcome.

[2017-04-01 21:36] aselle commented on #8890
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

On the other hand make sure you have written summaries (you didn't include your reproducible code). See the tensorboard documentation https://www.tensorflow.org/get_started/summaries_

[2017-04-01 21:36] #8890 closed

[2017-04-01 21:38] aselle commented on #8846
Since this is your custom code, it is much more likely a stackoverflow question. Start by using some of our example distributed code
https://www.tensorflow.org/deploy/distributed
to make sure the basics are working as they should be.

[2017-04-01 21:51] aselle commented on #8858
I can't reproduce this example. I'd try upgrading or downgrading your nvidia kernel driver.

[2017-04-01 21:53] aselle commented on #8860
is your root disk maybe nearly full? Otherwise, it's pretty difficult to say. Maybe a bazel bug?

[2017-04-01 21:55] aselle commented on #8878
Thanks so much for taking this fix on and contributing back!

[2017-04-01 22:01] aselle commented on #8879
@gunan, may have insight, but in general, mac support for nvidia gpus is relatively poor, so it is difficult for us to support them.

[2017-04-01 22:05] #8899 closed

[2017-04-01 22:18] aselle commented on #8897
@petewarden , could you please take a look. Thanks so much.

[2017-04-01 22:24] aselle commented on #8841
I suspect you are right, the reduce_prod is not used very often and certainly not often on the gpu. To successfully solve your problem, you'd need to make sure all ops used to implement reduce_prod had gpu implementations. We are likely not going to do this soon (@zheng-xq  might know more). Eventually, things like XLA should help allow more complete gpu implementation. Good luck!

[2017-04-01 22:26] aselle commented on #8898
From the issue template:
[code]
Until you can find out what files are in there, it's going to be hard for you to see if there libcudnn in there, you're going to have difficulty solving the problem. You could install libcudnn in a different directory and add it to your LD_LIBRARY_PATH list.

[2017-04-01 22:27] aselle commented on #8898
As an aside, this is an error that is covered on the install documentation.
https://www.tensorflow.org/install/install_linux

[2017-04-01 22:31] talos19 opened #8900 "ImportError: libcudart.so.8.0: cannot open shared object file: No such file or directory"
I am trying to use tensorflow-gpu on my system. I have re-installed it many times, it gives the error give below. But when I use tensorflow-cpu it works fine. I have cuda 8.0 toolkit installed and cudnn 5.1
[code]

[2017-04-01 22:59] aselle commented on #8900
I trust you didn't look for the common reasons and solution url included in that message. It wouldn't work, because it is a broken link that we should fix. Still, please try the stuff listed here:
[See common installation problems](https://www.tensorflow.org/install/install_linux)

[2017-04-01 23:17] mahbuburrahman commented on #8850
Thank you for the response. Following are the information you asked for:

Operating system: GNU/Linux Ubuntu 14.04.5 LTS
Architecture : x86_64
NVIDIA -Driver Version: 375.39 , GeForce GTX 980
Cuda V8.0.61
tensorflow-gpu==1.0.1

Thanks,

[2017-04-02 00:41] alisidd commented on #8744
@aselle Tensorflow's documentation on distributed computing leads me to believe that the end user is responsible for assigning workers and parameter servers to different devices. Should I then only implement Gradient Descent with Delay Compensation, which the user will have to implement asynchronously?

[2017-04-02 00:50] jart commented on #8888
Possibly cause could be b1d6de28c5600e179d979cc635c812aca955d046 PTAL @dsmilkov.

[2017-04-02 00:52] talos19 commented on #8900
Okay! Is there any other way I can safely install tensorflow-gpu and work with? I am using python 2.7 right now in virtual env. I have already installed tensorflow using the link you suggested it gives the same error!
Also, is there any issue with cudnn or cuda toolkit installation?

[2017-04-02 01:18] yongtang commented on #8865
@untom @aselle @saxenasaurabh I created a PR #8901 to add gzip and zlib compression support for FixedLengthRecordReader. Please take a look.

[2017-04-02 01:26] lunasdejavu commented on #8898
i still can't fix this problem
`ls -l /path/to/cuda/lib/libcud*
ls: cannot access '/path/to/cuda/lib/libcud*': No such file or directory
`
but  i knew how to fix the original problem.
Tensorflow  hasn't supported  cudnn 6.0 yet.
so i changed to cudnn5.1. it is working now.

[2017-04-02 02:31] soloice commented on #1122
@Alexivia It seems that you are using two different batch normalization layers? You should use only one BN layer (of course, with different `is_training` parameter).

[2017-04-02 03:12] BKJackson commented on #8726
I ran into a possibly similar memory problem with label_image.py.  It worked correctly on the first run, but every run after that crashed with memory error.

Here is the error output:
W tensorflow/core/common_runtime/bfc_allocator.cc:274] ************************************************************************************xxxxxxxxxxxxxxxx
W tensorflow/core/common_runtime/bfc_allocator.cc:275] Ran o

[2017-04-02 04:01] talos19 commented on #8900
I have fixed the error and tensorflow works with GPU! (with stackover flow [I](http://stackoverflow.com/questions/43162667/importerror-libcudart-so-8-0-cannot-open-shared-object-file-no-such-file-or-d) just re-installed everything. It worked.
One important thing is  after` pip install --upgrade tensorflow-gpu`, it showed the same error. Thus, I used Requires CUDA toolkit 7.5 and CuDNN v5. For othe

[2017-04-02 05:11] talos19 opened #8903 "How to change a classification model to a regression model ?"
I am using pre-trained Alexnet as shown below. I want to use that model for regression with 6 outputs (Xcoordinate (range (0,227),Ycoordinate (range (0,227),height (range (20,50), width (range (20,50), sine(theta), cos(theta)). (range of theta is -180 to 180 degrees)
These are the following things I change -
1. changed loss function to MSE.
2. changed the output layer from 1000 to 6.
3. changed fr

[2017-04-02 05:13] #8900 closed

[2017-04-02 07:16] alisidd commented on #7328
@mrry Can I work on this?

[2017-04-02 08:45] gunan commented on #8900
@aselle looks like the code is already fixed to point to the correct url, but it did not make it into the release yet.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/pywrap_tensorflow.py#L49
With the next release, the error message should be fixed.

@talos19 It looks like TF 0.10 is working for you. TF 0.10 was the last release with cuda 7.5 support. All the other release n

[2017-04-02 08:50] gunan commented on #8879
Looks like previous instances of the same error messages were usually cuDNN version mismatches.
Maybe we have a cuDNN patch version mismatch.
What is your full cuDNN version? I will check our build machines on Monday, then we can compare.

If this is caused by cuDNN version you may need to build TF from source.

[2017-04-02 08:53] gunan commented on #8860
@mingdachen after failures, please only rerun the bazel command.
You only need to run configure once.
Then we can see if bazel can incrementally complete the build on the 2nd run

[2017-04-02 08:56] crack00ns commented on #8879
My cuDNN version is 5.1 (OSX). I noticed if there is more GPU memory available then command line version of the program works but jupyter notebook crashes with this error.

[2017-04-02 09:02] gunan commented on #8858
Also looking at the stackoverflow responses, only possibility I can see here is a power supply issue on your machine.
When running TF, you will run your GPU and your CPU to the max, so they will draw as much power as they can get. With smaller power supplies, we also observed machines freezing, locking up. Other than that, I have no idea what can be causing this.

[2017-04-02 09:03] gunan commented on #8879
5.1 are only major and minor cudnn versions. There is also a 3rd integer, patch version. You can check this via looking into your `cudnn.h` header file.

I feel like there is more we can get from your logs.
Could you paste your full terminal output to pastebin and share its link here?

[2017-04-02 09:09] David-Petretta commented on #7677
To diable the warning add

tf.logging.set_verbosity(tf.logging.ERROR)

[2017-04-02 09:11] crack00ns commented on #8879
Here it is:
#define CUDNN_MAJOR      5
#define CUDNN_MINOR      1
#define CUDNN_PATCHLEVEL 10

Also terminal output:
https://pastebin.com/9D2983ex
Thanks so much

[2017-04-02 09:11] David-Petretta commented on #7677
Warning can be disabled with this:

tf.logging.set_verbosity(tf.logging.ERROR)

[2017-04-02 09:52] Rikorose opened #8904 "Support Kernels for SVM"
Kernels in support vector machines are really usefull. I would like to test some object detection algorithms in tensorflow using svm and a radial basis kernel.

I am willing to help implementing kernels for support vector machines, though I am not familiar with the sdca optimization.

Is there any design doc, or plan how to add more features to the svm estimator api?

[2017-04-02 10:13] Bihaqo opened #8905 "SVD float64 NaN bug"
I've encountered a tf.float64 matrix (of size 60 x 200) such that tf.svd of it returns NaNs, while
np.linalg.svd works fine.
Converting the matrix into tf.float32 and then converting back to tf.float64 makes everything works with TF too (while being a tiny perturbation).

Here is an example Jupyter notebook: https://nbviewer.jupyter.org/urls/dl.dropbox.com/s/mf9e2eqg2isupce/Scary%20matrix.ipynb?dl

[2017-04-02 10:22] Bihaqo commented on #8779
I think these checks are useful against copypast errors.

One of the ways to go is to change default value of the argument `dtype` from `tf.float32` to `None`. If `dtype` is `None` and `initializer` is provided, check the `dtype` of the existing variable against the `initializer` (not the `dtype` argument).

In this case the situation should be as follows:
[code]

And we can apply the same princip

[2017-04-02 10:25] rylanchiu commented on #6456
I didn't run the program from checkpoint. Instead, I run it from scratch. But I still get the same error. Anyone has any idea about it?

[2017-04-02 12:25] Alexivia commented on #1122
Thank you for your advice @soloice.
I tried now with just different `is_training` and `reuse` parameters:
[code]
still don't get good validation and testing results... >70%...

[2017-04-02 13:03] QQRider commented on #7677
I got an error when running this example code, it said CUDA_ERROR_OUT_OF_MEMORY

I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA library libcublas.so.8.0 locally
I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA library libcudnn.so.5 locally
I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA library libcufft.so.8.0 locally
I ten

[2017-04-02 13:35] Androbin commented on #8897
Variants of this problem include zero values at intermediate layers.
So the input won't make it past there, which results in other constant output.

[2017-04-02 13:41] PhilJd commented on #8898
Just for the sake of completeness regarding the command:
You're supposed to change `/path/to/cuda/lib` to the path on your machine which should be something like `/usr/include/cuda/` or  `/opt/cuda-7.5/` or `/home/username/Downloads/cuda/`.
If everything is working now, you could close the issue.

[2017-04-02 14:05] drcege commented on #1769
@sandeeptengale  Sorry,  I cannot help you. I have not worked with the code for a while.

[2017-04-02 14:41] yaroslavvb commented on #7778
@hughsando PS people have been uploading wheels built for their favorite configuration to https://github.com/yaroslavvb/tensorflow-community-wheels

[2017-04-02 15:22] #8898 closed

[2017-04-02 15:26] sahil-ag commented on #7072
Any updates? @drpngx @finger563

[2017-04-02 16:17] dustinvtran opened #8908 "Bijectors in contrib.distributions not available"
In 1.1.0rc0 and beyond, all bijectors are moved into a subdirectory in contrib.distributions. This seems to make it unavailable?
[code]
In my install location of `/Users/dvt/Envs/tf1.1/lib/python2.7/site-packages/tensorflow/contrib/distributions`, it seems like it would be imported, as the following line exists:
[code]
However, inspecting the `ds` submodule, no bijectors are available.
[code]

[2017-04-02 16:21] aselle commented on #8908
Please take  look @ebrevdo

[2017-04-02 16:24] aselle commented on #8904
You might if anybody has done anything in this vein already by asking on stackoverflow. I don't know of any work internally to build out the svm functionality more or any design doc.
@martinwicke, do you have any knowledge of others interested in this or a good course of action? Marking as contributions welcome for now.

[2017-04-02 16:24] aselle commented on #8903
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-02 16:24] #8903 closed

[2017-04-02 16:25] aselle commented on #8905
Could you take a look @rmlarsen?

[2017-04-02 16:29] goodfeli commented on #4897
This is only pseudocode, but basic idea is:

examples = tf.split(batch)
weight_copies = [tf.identity(weights) for x in examples]
output = tf.stack(f(x, w) in zip(examples, weight_copies))
cost = cost_function(output)
per_example_gradients = tf.gradients(cost, weight_copies)

On Sat, Apr 1, 2017 at 1:47 PM, jjough <notifications@github.com> wrote:

[2017-04-02 17:43] jjough commented on #4897
Thanks Ian - this makes sense, trying it out now. Is it obvious that this would be faster than the naive method?

[2017-04-02 17:55] #8840 closed

[2017-04-02 17:55] mhnatiuk commented on #8840
You are right, closing

[2017-04-02 18:25] goodfeli commented on #4897
I've used it and it was fast

On Sun, Apr 2, 2017 at 10:44 AM, jjough <notifications@github.com> wrote:

[2017-04-02 19:11] wenouyang opened #8910 "regarding the ValueError: inputs must be a list of at least one Tensor with the same dtype and shape"
There is a program that defines the loss function as follows:
[code]

Running the program raises the following error message

I am curious how to print out the tensor information of the first parameter `tf.get_collection(reg_loss_col)` in `tf.add_n`, so that I can figure out why this cause the error.

[2017-04-02 19:17] ishaybee commented on #1122
hi,
please see my wrapper above.
you should use "with tf.variable_scope(scope, reuse=reuse):" I think.

[2017-04-02 19:32] aselle commented on #8910
This seems to be a program you have written, so this question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

But the error basically means that the collection with key `tf.GraphKeys.REGULARIZATION_LOSSES` has no members. If you cannot find the

[2017-04-02 19:32] #8910 closed

[2017-04-02 19:32] vashat commented on #5243
I'm having the same issue trying to do the same thing. Here's my full stack backtrace of the error:

`Traceback (most recent call last):
  File "/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/tensorflow/python/client/session.py", line 1022, in _do_call
    return fn(*args)
  File "/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/sit

[2017-04-02 19:34] aselle commented on #8850
Can you see if there is a second python back trace that indicates where the op was created (it should have such a label). This is the runtime backtrace which is not useful for finding where in the original source the problem arose. Thanks!

[2017-04-02 19:59] aselle commented on #8850
I can reproduce this. A simple fix but not complete one is here
https://github.com/aselle/tensorflow/commit/163fd843b787e43f085383eca91dc8dd68d78809
After applying it, it works fine for me (basically just need to make the byte_list  float32 type instead of int32 type).

There are several uses of deprecated functions in that example. Not sure if @nealwu is planning to fix this as part of moving exa

[2017-04-02 20:20] surmenok commented on #8858
I don't think that it is a power supply issue. nvidia-smi shows that power consumption is very low. At the same time I can run training of large neural networks which bring GPU utilization to over 90% and it is running for many days without issues. Based on how differently TensorFlow programs on my machine react to tensors of different sizes, I think the problem is related to memory.

[2017-04-02 20:21] surmenok commented on #8858
I tried a suggestion from StackOverflow to limit GPU power using "sudo nvidia-smi -pl 150", it didn't help.

[2017-04-02 20:41] agnusmaximus commented on #7954
Is there any update on this?

[2017-04-02 22:02] AshishBora opened #8911 "Feature Request : PathNorm and PathSGD"
PathSGD was introduced in [this](https://arxiv.org/abs/1506.02617) paper. Is there existing support for this? If not, this is a feature request for:
- PathNorm computation (Equation 5 in the paper)
- PathSGD using the PathNorm

For the first part, the interface can be to provide a function `path_norm(a, b, p=2)` where `a` and `b` are tensors, `p` is a scalar. The function returns the p-PathNorm fo

[2017-04-02 22:18] proximacent commented on #8833
There's something I'm not getting, and it may be more theoretical. If the decoder's cell is an AttentionWrapper, which in turn attends to the output of the encoder RNN, why must the decoder's initial_state be an AttentionWrapperState?

Also I checked for the `.clone(...)` in `attention_wrapper.py` on master but couldn't find it. I'm probably blind though.

[2017-04-02 22:29] aselle commented on #8911
I suspect there is not (given that I couldn't find a google search result for it), so I am marking it as contributions welcome. It is not something we are actively working on right now. Thanks1

[2017-04-02 22:31] proximacent commented on #8833
Oh my bad, it's just a "double" initialization, initilization for the hidden states and for the attention.

[2017-04-02 22:55] aselle commented on #8858
When you have strange hardware errors like this, it's best to swap in a new identical GPU or use your existing GPU in a different PC.

[2017-04-02 23:05] surmenok commented on #8858
Thanks, Andrew. Currently, I don't have another GPU or PC to try. Will do when I have a chance.

[2017-04-02 23:10] proximacent commented on #8833
Ok, nope. I tried to set the initial cell state and attention, based on the other attention's zero_state method, but no go.

Here's what I tried
[code]

But got an error on the `dynamic_decode` (below). Maybe you have instructions on how to properly set this up?

[code]

[2017-04-02 23:14] alisidd commented on #8911
@AshishBora Do you wish to work on this, or can I?

[2017-04-03 00:10] ybsave commented on #8848
Thank you aselle. I have posted it on StackOverflow now; I found that StackOverflow may not be able to submit questions in Windows' 10 system.

[2017-04-03 00:14] artgrigoryan commented on #6599
Seems memory leak here. `sess.close()`, `tf.reset_default_graph()`, `gc.collect()`  don't free memory.

    def test():

        x = tf.placeholder(tf.float32, [None, 28, 28])
        y_ = tf.placeholder(tf.int32, [None])
        training = tf.placeholder(tf.bool)

        input_layer = tf.reshape(x, [-1, 28, 28, 1])

        conv1 = tf.layers.conv2d(inputs=input_layer, filters=20, kernel_size=[5,

[2017-04-03 00:35] shoyer commented on #8905
Pickle can do arbitrary code execution when loaded, so it's a poor choice for sharing data. Can you save it with another file format instead, e.g., with `numpy.save`?

[2017-04-03 01:17] yaroslavvb commented on #7954
Note that recreating session is normal part of distributed training. For instance, if you have a network delay and session.run times out, the session becomes invalid and needs to be recreated.

[2017-04-03 01:19] drpngx commented on #7072
I think @mrry found the solution: you are running out of memory.

[2017-04-03 01:19] #7072 closed

[2017-04-03 01:45] a-lattas commented on #8246
Dear @shoyer , I am currently working on this with a new op in `array_ops` and python wrapper function. I will update you soon.

[2017-04-03 01:47] JAStark opened #8913 "Segmentation fault: 11 (Python3, Conda env, GPU)"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
I've tried importing numpy or scipy before importing tensorflow, but it does not help from [issue #2034](https://github.com/tensorflow/tensorflow/issues/2034)

### Environment info
Operating System: Max OSX 10.12.3

Installed version of CUDA and cuDNN:
[code]
(please attach the output of `

[2017-04-03 01:52] shoyer commented on #8246
@a-lattas Great! Please replace `_repeat_range` in `resample_at_rate` (linked above) with the new op as part of your PR.

[2017-04-03 02:28] ebrevdo commented on #8833
You want:

init_state = attn_zero.clone(cell_state=encoder_final_state)

On Apr 2, 2017 4:11 PM, "Andre Cianflone" <notifications@github.com> wrote:

[2017-04-03 02:36] JAStark commented on #8913
Additional information:
When running from Spyder, I get this Traceback
[code]

My `.bash_profile` _should_ be right, but I've followed so many different tutorials, that I may have mixed up different ways of setting things up. It's totally possible I've messed up here 😢

**Path to library in question:**
` /Developer/NVIDIA/CUDA-8.0/lib/libcudart.8.0.dylib `

**.bash_profile**
[code]

Thank you in a

[2017-04-03 03:06] timanglade opened #8914 "TensorFlow iOS apps crash at launch on iPhone 4s/iPhone 5 simulators"
Running [the simple iOS example](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/ios_examples/simple) provided by this repository will crash if I target any iPhone 4s/iPhone 5 **simulator**. The app will crash immediately at launch, before entering `didFinishLaunchingWithOptions`. The last call I can identify in the debugger is usually `tensorflow::internal::LogMessageFatal

[2017-04-03 03:09] argavish commented on #8887
Thanks @aselle !

Here's some bits I found that may help (I hope I'm not totally off here):

1. This sprite builder [here](https://github.com/oduerr/dl_tutorial/blob/master/tensorflow/debugging/embedding.ipynb), line [16]. I still need to figure out how to build it straight from the source images (after resizing them) and not a from a tensor already containing the images as used there.

2. Similar

[2017-04-03 03:18] yala commented on #7311
Facing the same issue working with high-resolution images. Anyone found a hack around this?

[2017-04-03 03:29] dsmilkov commented on #8888
It was related to a circular dependency. I have a fix - will send an internal change for review now.

[2017-04-03 04:32] antoninofurnari commented on #7311
Looks like installing Tensorflow 1.1.0-rc0 solved the issue for me.

[2017-04-03 04:39] siryog90 commented on #8911
@alisidd @AshishBora Still interested in implementing this?

[2017-04-03 04:47] gunan commented on #7677
@QQRider Your error message is different.
Yours is actually a failure due to your code.
`CUDA_ERROR_OUT_OF_MEMORY` means, well, you are out of GPU memory, as it suggests.
You are allocating 5.92 GBs of GPU memory, and it fails as there is not enough memory on your GPU.
Please reach out to stackoverflow if you need more help with that.

[2017-04-03 05:53] AshishBora commented on #8911
@alisidd @siryog90 I don't expect to have time to work on this anytime soon. So if one you wants to take this up, by all means go ahead!

[2017-04-03 05:55] javadba commented on #2883
This is a lot of steps .. is there anything more "baked" / mature that is closer to working out of the box?

[2017-04-03 06:28] alisidd commented on #8911
@AshishBora @siryog90 Yeah, I can work on it.

[2017-04-03 06:34] evan176 opened #8916 "Cannot assign a device to node 'Variable'"
### Environment info
Operating System: Ubuntu 16.04

Installed version of CUDA and cuDNN:
/usr/local/cuda-8.0/lib64/libcudadevrt.a
/usr/local/cuda-8.0/lib64/libcudart.so.8.0.61
/usr/local/cuda-8.0/lib64/libcudnn.so.5
/usr/local/cuda-8.0/lib64/libcudart.so
/usr/local/cuda-8.0/lib64/libcudart_static.a
/usr/local/cuda-8.0/lib64/libcudnn_static.a
/usr/local/cuda-8.0/lib64/libcudart.so.8.0
/usr/local/c

[2017-04-03 06:47] Bihaqo commented on #8905
Sure, I updated the notebook to load np array, here is the new file: https://www.dropbox.com/s/ou7egsfdmmwxhd6/scary_matrix.np?dl=0

[2017-04-03 07:00] lanlingcloud opened #8917 "how to join the tf.string SparseTensor to 1-D dense tensor"
tensorflow has tf.string_split function that can split dense tensor to SparseTensor, but not provided the opposite function.

anyone knows how to do it? thanks~

for example: SparseTensor:
[code]

join SparseTensor with separator " " to dense tensor:
[code]

[2017-04-03 07:35] siryog90 commented on #8911
@alisidd you want an extra pair of hands on this?

[2017-04-03 07:36] petewarden commented on #8914
I've reproduced this in the iPhone 5 simulator, and the console message is:
[code]
As a quick workaround, you can try changing the LOG(FATAL) in cpu_feature_guard.cc to a LOG(WARNING):
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/platform/cpu_feature_guard.cc#L30
I believe this should be fixable by updating the build flags for i386, so I'll look into that. I fear this may b

[2017-04-03 07:46] timanglade commented on #8914
Yes, and good news on the intermittent crashes / physical devices front: I just tried doing test on a completely different device farm, and I’m not seeing any of these crashes. Sounds like it was an issue with the first device farm I was using…

My bad for linking the two behaviors: they had very similar behavior/symptoms, and I only discovered the Simulator crash while pursuing the device crash,

[2017-04-03 07:53] petewarden commented on #8914
No problem at all, it was a good catch, and I'm very glad to hear your physical device issues are looking less problematic (knock on wood). I have PR #8918 pending for the simulator bug.

[2017-04-03 07:59] nealwu commented on #8850
I don't have any immediate plans to move this. It may make sense to do so at some point in the future though.

[2017-04-03 08:06] hughsando commented on #7778
I wonder if a solution to this problem might to to treat the cpu
architectures as different processors, like "cpu", "gpu", "cpu-avx".  Then
the kernels can register multiple versions, and the runtime can choose
where to run depending on the client machine.
This could be done for the main "hot" inference functions (eg, Conv2D), and
the deployment problem would largely go away.
Custom builds for tra

[2017-04-03 08:07] meteorcloudy opened #8919 "TensorFlow Windows Bazel build is failing"
http://ci.tensorflow.org/job/tf-master-win-bzl/709/console
[code]
Culprit: 8d393ea2fab0ea88ecd11e36d89f186cbc884dbe
Reason: patch command is not installed in MSYS
Solution: run `pacman -Syuu --noconfirm patch`
@gunan

[2017-04-03 08:22] pawni commented on #3290
I'm also dealing with this issue on TF 1.0.1. Furthermore, tf.nn.fused_batch_norm isn't a solution because it requires 4D input and I'm working with 5D tensors and 3D convolutions. Is there any progress on this?

[2017-04-03 08:38] chetzacoalt opened #8920 "problem with exemple in API documentation for tf.contrib.distributions.bijector.ScaleAndShift"
Hello

I am currently using tensorflow version 1.0.0 (from conda vanilla installation),
and I am running a snippet code fromAPI documentation :
https://www.tensorflow.org/api_docs/python/tf/contrib/distributions/TransformedDistribution?authuser=3

I get an AttributeError which seems an accurate error since I can't seem to find ScaleAndShift on the github repo for tensorflow r1.0

    ...   distrib

[2017-04-03 09:33] sandipmgiri opened #8921 "Python test failure in TF (KeyError: 'TEST_SRCDIR') on Ubuntu 16.04"
### Environment info:
Operating System: Ubuntu 16.04 (ppc64le)

###Installed version of CUDA and cuDNN:  CUDA support is disabled

###Build and test INFO
Built TF (version 1.0.1) successfully on Ubuntu 16.04 and RHEL 7.3. Now I am trying to run the python tests , but 3 tests are failing with the same error :
         [Test name:
                           1) python ./python/saved_model/saved_model

[2017-04-03 09:41] jwayne commented on #8776
Thanks @aselle, that makes sense.  Any word on the unexpected behavior when `exclusive=False` in the post above?

https://github.com/tensorflow/tensorflow/issues/8776#issuecomment-290175897

I just confirmed that this behavior also occurs in the nightly build.  Will get confirmation from colleague on whether he also thinks the behavior is unexpected @knub

[2017-04-03 09:49] knub commented on #8776
I would also expect `case` to evaluate to `4`.

[2017-04-03 09:57] jubjamie commented on #8854
@aselle Can I just confirm what you mean by existing Tensorboard functionality? Do you mean the code that myself and @brandondutra wrote (and associated functions) or is there another way?

[2017-04-03 10:00] jubjamie commented on #8921
TEST_SRCDIR looks like it refers to a directory. Can you please make sure that all required files for your script are in the correct locations?

[2017-04-03 10:04] alisidd commented on #8911
@siryog90 Sure, that'd be great! I sent you an invite to my repo (in the pathsgd branch). I likely won't start until Wednesday, but you can start without me if you wish

[2017-04-03 10:25] jubjamie commented on #8845
@aselle @IgorX2 I have managed to run your script and appear to be getting full Tensorboard functionality in in Windows. Your code appears to be coded fine.

Can I please ask you for the following to help troubleshoot this.
1. What command did you run for Tensorboard.
2. Where on your disk do your summaries go? Are they in a folder called summaries below where your code is being executed or are th

[2017-04-03 10:56] ramarajan09 opened #8922 "Android tiny-yolo model"
I was successfully able to run tiny-yolo-voc.pb on android. However, when I tried to run tiny-yolo.pb (which is for coco dataset) generated from https://github.com/thtrieu/darkflow , the app crashes with java.nio.BufferOverflowException.

Could you please point out what needs to be changed in the code to be able to run tiny-yolo.

Thanks

[2017-04-03 11:36] towardthesea commented on #8888
Please keep me update about this also! I got exactly the same problem with `tensorboard`.

Thanks

[2017-04-03 13:16] LaurentMazare opened #8923 "Hiding the re2 symbols from libtensorflow.so"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

This recent issue [8320](https://github.com/tensorflow/tensorflow/issues/8320) is related but asked for the opposite (more symbol visibility rather than less symbol visibility).

### Environment info
Operating System: Linux

Installed version of CUDA and cuDNN: n/a

### If possible, provi

[2017-04-03 13:25] ajschumacher commented on #1749
I've written a bit more about working with images specifically: [Images and TFRecords](http://planspace.org/20170403-images_and_tfrecords/). Also includes a bit of background on how image formats work. Hope it's helpful!

[2017-04-03 13:36] jamieas commented on #8842
The relevant part of that trace is

Sequence input should generally have rank 3, where the first two dimensions are batch size and sequence length. In the following example, the (not very useful) Estimator learns to predict the mean of a sequence:

[code]

[2017-04-03 13:46] TimZaman commented on #1749
Ideally we don't have to scrape people's blogs for documentation but have it in the documentation. @drpngx closed the issue saying the docs are revamped. But really, on the topic of TFRecords usage there is still exactly that same single one: paragraph.https://www.tensorflow.org/programmers_guide/reading_data#reading_from_files.
The paragraph includes 9 sentences.
One sentence reads`The recommende

[2017-04-03 14:37] Evan-Gao opened #8925 "RuntimeError when executing models/tutorials/image/cifar10/cifar10_train.py"
### Environment info
Operating System:
Ubuntu Server 16.04LTS

Installed version of CUDA and cuDNN:
CUDA 8.0 cuDNN 5.1
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
ls -l /usr/local/cuda/lib64/libcud*
-rw-r--r-- 1 root root   560184 Mar  7 09:54 /usr/local/cuda/lib64/libcudadevrt.a
lrwxrwxrwx 1 root root       16 Mar  7 09:54 /usr/local/cuda/lib64/libcudart.so -> libcudart.so.8.

[2017-04-03 14:50] jubjamie opened #8926 "Image Distortions should be able to be applied to batches. [Feature Request?]"
The tf.image distortion functions only accept a single image as an input whereas it would be much more useful to be able to place the distortion within your graph flow so any batches of images that pass through it get distorted too. I believe a current solution is as suggeested by @mrry [here on Stack Overflow](http://stackoverflow.com/questions/38920240/tensorflow-image-operations-for-batches) ho

[2017-04-03 15:06] mrry commented on #8870
This doesn't sound like a bug (in the queues, at least). The actual error is in the `tf.nn.bidirectional_dynamic_rnn()` code, which does not seem to support inputs with unknown shape; the solution is to provide more static shape information.

When you create a `tf.FIFOQueue` with no `shapes` argument, you are allowing the queue to store tensors of *any* shape. Therefore, since when you create the

[2017-04-03 15:15] mrry commented on #8845
@jubjamie Thanks for looking into this! Were you also running with version 1.0.1?

@aselle @IgorX2 TensorBoard is expected to work on Windows, although there are some wrinkles around (e.g.) TensorBoard options that are colon-delimited and get confused by Windows paths. Seeing the full command, as @jubjamie suggests, would help to diagnose this.

[2017-04-03 15:30] suiyuan2009 commented on #4820
I'll try to reproduce this, and I'll work on this if I can reproduce this.

[2017-04-03 15:58] cancan101 commented on #8926
I made a similar changed to `resize_image_with_crop_or_pad `in https://github.com/tensorflow/tensorflow/pull/7369.

[2017-04-03 16:03] mahbuburrahman commented on #8850
Thanks! after fixing, sample code works with waning.

[2017-04-03 16:10] jubjamie commented on #8845
@mrry Yes 1.0.1, I have a feeling that this is either permissions related or, more likely, to do with the actual file locations vs. whats typed in i.e. summaries/train =/= /summaries/train

I see little other reason for Tensorboard to not show the data apart from a corrupt installation. @IgorX2 May I suggest that you see if you can copy & paste a Tensorboard tutorial and see if that works and make

[2017-04-03 16:14] jubjamie commented on #8926
@cancan101 that would be great, something like that. The map_fn method is looking promising for the mean time (as i'm short on time to go and patch TF myself) but I had some PIL/Pillow tools built already in Python so might look at trying to feed in and out of that (although would much rather prefer an in-graph solution!)

[2017-04-03 16:23] Alexivia commented on #1122
Hi @ishaybee,
I followed your advice, now my code is:
[code]
and I feed `is_training` and `reuse` through the feed_dict, but now I get the error `ValueError("The reuse parameter must be True or False or None.")`

[2017-04-03 16:25] aselle commented on #8776
@yuanbyu, @jwayne's example above seems to be a inconsistency in the documentation and exact behavior with `exclusive=False`.

[2017-04-03 16:27] tfboyd commented on #7794
Some is assigned to work on this internally.  While we cannot promise an ETA, weeks is the estimate.  I know this may seem hacky but I think you could wrap the model code and operations in a big "with" and get the results you want in the mean time.  My python is not super strong and while I played with the JIT I never tried to wrap all of the operations this way.  I do not see why it would not wor

[2017-04-03 16:38] cancan101 opened #8928 "cudnnFindConvolutionForwardAlgorithmEx vs cudnnGetConvolutionForwardAlgorithm"
Following up on https://github.com/tensorflow/tensorflow/issues/7187#issuecomment-290284053, why does Tensorflow use [`cudnnGetConvolutionForwardAlgorithm`](https://github.com/tensorflow/tensorflow/blob/904edee4456a61d50d5b1ffe9858a7772acc423e/tensorflow/stream_executor/cuda/cuda_dnn.cc#L1844) rather than `cudnnFindConvolutionForwardAlgorithmEx`?  It looks like [Tensorflow tries to do the more com

[2017-04-03 16:41] vinvinvinvin commented on #1915
Hello - Thank you for your work on this project. I really appreciate everything that has gone into it.

I've noticed that gradients are now provided for the 'self_adjoint_eig' function but they are not for the 'self_adjoint_eigvals'. Using the 'self_adjoint_eig' function and just using the eigenvalues is, of course, a sufficient work-around, but perhaps you would like to resolve this for completen

[2017-04-03 16:41] ishaybee commented on #1122
try to feed reuse as a python variable (input of the model) and as placeholder.

[2017-04-03 17:02] Enet4 commented on #1793
Are there any updates on this issue? It seems that adding this gradient was attempted in #4014, but not taken place due to commit conflicts. Should I cherry-pick commit dc3d4782cbdf2d98b into a PR?

[2017-04-03 17:06] girving commented on #1793
@Enet4 Definitely looks stagnated, so feel free to take over.

[2017-04-03 17:07] siryog90 commented on #8911
@alisidd I am thinking we implement pathNorm as a standalone C++ op first. I like OP's suggested interface. Thoughts?
P.S. I am currently digging through the tensorflow graph framework (C++) to see if there are any useful abstractions for identifying a directed path between Tensors.

[2017-04-03 17:23] martinwicke commented on #8904
@petrosmol should have the best context for this. I believe there is work in progress for kernel-SVMs.

[2017-04-03 17:39] asimshankar commented on #8928
@zheng-xq @vrv : Might one of you have some historical background on this choice, or general comments?

[2017-04-03 17:50] zheng-xq commented on #8928
cudnnGetConvolutionForwardAlgorithm is the fallback path. By default, TensorFlow does the autotuning by itself before cudnnFindConvolutionForwardAlgorithmEx is available. Also the custom implementation enables us to filter out the noise through multiple run steps. At this point, cudnnFindConvolutionForwardAlgorithmEx doesn't seem to offer more functionalities to justify a change.

In the future, t

[2017-04-03 17:53] asimshankar commented on #8922
This question is probably better posed on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) as the Github issues are meant to be focused on bugs and feature requests.

That said, some quick comments:

- It's hard to suggest the changes without more information (for example, which of the various versions in https://github.com/thtrieu/darkflow/tree/master/cfg is being used). If y

[2017-04-03 17:53] #8922 closed

[2017-04-03 17:55] mrry commented on #7328
@alisidd Thanks for offering to work on this! As far as I know, @DjangoPeng *was* working on this in #7532, but that PR has been closed due to inactivity. If you are going to work on it, perhaps you could take a look at the comments on that thread to see what would be required?

[2017-04-03 18:01] wolffg commented on #8832
The footer location is not available to edit externally.

In this case (install_windows), there is an unclosed <table> tag which is
causing issues.  I will fix this and republish.  Thanks for the note, and
if you find other pages with weird footers, please report them.

On Thu, Mar 30, 2017 at 6:34 PM, gunan <notifications@github.com> wrote:

[2017-04-03 18:02] asimshankar commented on #8928
@cancan101 : Does that answer your question? (Will wait a while before closing this out as intended behavior)

[2017-04-03 18:06] cancan101 commented on #8928
Yea, it does make sense. As an aside, might be nice to logout the results of the profiling runs. I think pytorch  / torch7 [has an option to do this](https://github.com/soumith/cudnn.torch#modes).

[2017-04-03 18:16] aselle commented on #8926
@mrry, since you commented on the Stackoverflow, could you comment on this?

[2017-04-03 18:22] mrry commented on #8926
I think it makes sense to make the image API more consistent (in a similar manner to what @cancan101 did), but I'll defer to anyone who feels more ownership over the image API (e.g. @martinwicke, @shlens?).

[2017-04-03 18:31] hoveidar commented on #8389
I was getting the same error and it was exactly because I ran the code more than once. Restart the kernel and the code cell once. Done!

[2017-04-03 18:45] mrry commented on #8676
I'm a little unclear on what the problem is here. If you run with `python -m trace` **and** redirect the output to a file, does the program crash or hang (for at least, say, 10 minutes) without appending to the file? It is expected that `python -m trace` will produce a lot of output, so it is not surprising that it fills your console.

(Judging by your previous issue, #8627, it seems like there mi

[2017-04-03 18:49] alisidd commented on #8911
@siryog90 Did you delete your message on implementing it as a C++ kernel? I can't see it anymore

[2017-04-03 18:49] alisidd commented on #7328
@mrry Great, I'll look into it!

[2017-04-03 18:51] Enet4 commented on #2169
I took a try at adapting the unpooling function to support a partially defined input shape (without the batch size), and here it is:

[code]

In the batch range, I simply took advantage of the `-1` dimension. Then I fetched the batch size and built the final output shape dynamically (as a Tensor). Admittedly, I am not sure if I employed the fastest and most elegant operations, but it appears to be

[2017-04-03 18:55] siryog90 commented on #8911
@alisidd I did delete  my previous message, because I think the following makes more sense.
I am starting the Eigen (C++) implementation of the L_p-path regularizer tonight, and hopefully a basic python port for layers/regularizers.py
Does that sound ok?

[2017-04-03 18:55] asimshankar commented on #8919
@gunan @av8ramit @yifeif : Seems like we need to install `patch` on Windows. Could one of you take a look?

[2017-04-03 18:57] Alexivia commented on #1122
I tried that, and now it stopped complaining about the value... but I think that the placeholder value is not being used, because I see no change if I force values to `batch_norm` function, and in TensorBoard it's not connected to the graph... (see attached image)
![screen shot 2017-04-03 at 19 54 54](https://cloud.githubusercontent.com/assets/23476569/24625718/cbe90f88-18a7-11e7-80a6-f087d56dd9ad

[2017-04-03 18:59] ayushya2531 commented on #6548
@Carmezim  I was also able to do the same things as you have shown in your post on 29th Dec. However, I am not being able to run a '.py' file. Anaconda gives the error that there is no module names tensorflow.

[2017-04-03 18:59] alisidd commented on #8911
@siryog90 I don't know if a C++ kernel will get accepted due to #8405

Any thoughts, @aselle?

[2017-04-03 19:05] Carmezim commented on #6548
Hi @ayushya2531, sorry you are having problems. Would you mind to please open a new issue filling the template with the necessary info and commenting me so we can better asses what is happening?

[2017-04-03 19:06] Alexivia commented on #1122
My code is like this now:
**Batch Normalisation wrapper**
[code]
**Model definition**
[code]
**Training**
[code]
**Validation**
[code]

[2017-04-03 19:07] siryog90 commented on #8911
@alisidd Oh wow..
@aselle I am also working on an implementation of a Line Search optimizer. Should I not write the kernel in C++?

[2017-04-03 19:10] gunan commented on #8919
Running the installation on all machines.
Also started a test:
http://ci.tensorflow.org/job/tf-master-win-bzl/711/

[2017-04-03 19:12] gunan commented on #8919
The build is past this issue.

[2017-04-03 19:12] #8919 closed

[2017-04-03 19:15] gunan commented on #8921
TEST_SRCDIR environment variable is actually created by bazel.
If you are not running with bazel, could you try to set it to the root of your TF source repository before you run your tests? In your case, I think the following should suffice
[code]

[2017-04-03 19:18] gunan commented on #8913
In my macbookpro, I expanded my `DYLD_LIBRARY_PATH` as follows to get around this issue.
cant verify further as the macbook I tried this on is now a brick, but I hope this helps:
[code]

We seem to be resolving some libraries with the `lib` in the path and some without.
That seems to be causing the problem.

[2017-04-03 19:28] lwogulis opened #8932 "Can't register new xla device"
I'm trying to register a fake 'xpu' device to use with xla, but it hasn't been working. I've gotten Tensorflow to build after making the changes found in the attached file ([diffOutput.txt](https://github.com/tensorflow/tensorflow/files/891147/diffOutput.txt), the output from git diff). But, when I run the following sample code:
[code]

I get the error:
[code]
What else needs to change in order fo

[2017-04-03 19:38] RebliNk17 opened #8933 "Prediction based on day / time with tensorFlow"
I did some digging but I couldn't find anything (maybe i just didn't know what do search exactly),
I'm in my final year of study and I am starting my final year project in Software engineering,
My plain is to (lets take smart house as an example) create a machine that will learn the householders habits and then do that action based on what they did (e.g: at Sunday, 7 AM turn on the boiler for 30 m

[2017-04-03 19:47] aselle commented on #8911
@lukaszkaiser in #8405, recommends using python if possible. I would agree in general. @lukaszkaiser, how would you rate the importance of these optimizer and if they should be written in C++.

[2017-04-03 19:50] aselle commented on #8850
@martinwicke, who would be best to fix these examples so they don't use the wrong apis. This is in the main tensorflow repo, not even models, so it would be good it if were canonical.

[2017-04-03 19:53] aselle commented on #7778
@hughsando, in spirit that is the idea we would like to pursue. However, it is more difficult than that in that we use Eigen for a lot of the implementations of kernels. Eigen would have to be compiled multiple ways without causing any symbol conflicts int the final binary, and also we would probably have to break up modules into more dsos so as not to have too large of a binary resident.

[2017-04-03 19:58] DanqingZ opened #8934 "complex weight for LSTM?"
I am having complex input and output for LSTM, and it looks like I have to initialize LSTM weights as complex tensor. Below is my code:
[code]
But I have the below error, but I checked the documentation and didn't find out how to initialize the weights of LSTM cell as complex tensors.
[code]

Could anyone give me some hint on this? Thanks in advance!

[2017-04-03 19:59] lukaszkaiser commented on #8911
I'm not sure exactly, we should probably ask Martin Wicke. What I mean is: we definitely don't want to loose 3x performance of an important optimizer just because of "python is easier to maintain". But it is easier to maintain, so we probably don't want to add C++ kernels that we'll have to maintain for just 10% performance gain. Where the balance lies exactly is harder to say, it's a tradeoff. If

[2017-04-03 20:04] hekimgil commented on #7778
So after reading these, I went ahead and reinstalled, this time from Source following instructions on [https://www.tensorflow.org/install/install_sources](https://www.tensorflow.org/install/install_sources). I still see the "The TensorFlow library wasn't compiled to to use XXXX instructions..." warnings. So did I miss something or is installing from source and building is not what you meant by "bu

[2017-04-03 20:09] siryog90 commented on #8911
@aselle @lukaszkaiser For the L_p-path regularizer as a standalone module, the Eigen kernel can be small and quite readable, similar to this https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/l2loss_op.h
I think we can write the Path-SGD in Python for now, let people play with it, and if it shows promise, consider a C++ kernel?
As far as the LineSearch, it is unlike any o

[2017-04-03 20:26] drpngx commented on #8389
Nice!

[2017-04-03 20:26] #8389 closed

[2017-04-03 20:29] martinwicke commented on #8926
See also #1029, #521. @cancan101 did #7369 fix #521?

[2017-04-03 20:54] asimshankar commented on #8933
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-03 20:54] #8933 closed

[2017-04-03 20:58] gunan commented on #7542
Our bazel upgrade to 0.4.5 and related configure script upgrades are done.
I just tried using nvidia dockers centos7 image, and I was able to build without problems.

I will close the issue now, but @dchirikov could you also verify by checking out the master branch, and using bazel 0.4.5?
If it still misbehaves as you described, we can reopen.

[2017-04-03 20:58] #7542 closed

[2017-04-03 21:11] AndreaFar commented on #8676
@mrry maybe the console crashes because It's filled with too many lines but something doesn't work correctly and broke whole Python environment judging to the content of -m trace where seems cannot log correctly what is going wrong.  My python installation seems working correctly, I don't know why if something goes wrong with certain Tensorflow libs python keep crashing preventing me to see exactl

[2017-04-03 21:17] mrry commented on #8676
We have seen instances of bad interactions between compiled Python extensions and TensorFlow, so that's certainly possible. However we're still going to need more information to help you.

Can you post the entire contents of the output of `python -m trace evaluate.py` (redirected to a file, to avoid crashing your console)?

Alternatively, can you confirm which library in that script causes Python

[2017-04-03 21:42] AndreaFar commented on #8676
@mrry would be useless unless you want to read some billion of ```
<frozen importlib._bootstrap_external>(376): <frozen importlib._bootstrap_external>(1258): <frozen importlib._bootstrap_external>(1255): <frozen importlib._bootstrap_external>(1256):  --- modulename: _bootstrap_external, funcname: _path_join
<frozen importlib._bootstrap_external>(59): <frozen importlib._bootstrap_external>(60)
[cod

[2017-04-03 21:42] RebliNk17 commented on #8933
Ok, thanks, I did that.

[2017-04-03 21:46] prashantserai commented on #8191
Hi, I am using Tensorflow r1.0 using GPU built using source. I am trying to follow the unmodified Seq2Seq translation tutorial, but I'm getting the same error. i.e.

The relevant portion of the code in my seq2seq_model.py is:
[code]

What can I do to solve the problem?

adding "reuse=tf.get_variable_scope().reuse" to the call where the GRUCell is created doesn't help.

Thanks a ton!

[2017-04-03 22:19] mrry commented on #8676
The entire log would still be useful... I imagine the lines immediately preceding those repeated `importlib` tracing would provide information about the last library successfully imported.

[2017-04-03 22:22] rryan commented on #386
The current plan of record is that @tillahoffmann is working on a CPU-based FFT/RFFT using Eigen's TensorFFT module. No firm ETA but hopefully soon -- thanks @tillahoffmann!

[2017-04-03 22:25] DanqingZ opened #8937 "Has complex MVN been implemented?"
I have below error for my code , where muC and SigmaC are complex vector and matrix
[code]
[code]

[2017-04-03 22:27] aselle opened #8938 "New issue template."
### You must complete this information or else your issue will be closed
- *Have I written custom code?*:
- *TensorFlow installed from (source or binary)?*:
- *TensorFlow version*:
- *Bazel version (if compiling from source)*:
- *CUDA/cuDNN version*:
- *GPU Model and Memory*:
- *Exact command to reproduce*:
If you are unsure how to obtain this information, some of it can be obtained by running our

[2017-04-03 22:27] #8938 closed

[2017-04-03 22:29] ksharsha commented on #8925
It looks like variables have not been initialized. Try adding this line right after you start the session
sess.run(tf.global_variables_initializer())

[2017-04-03 23:01] brianhayward commented on #8208
So I was able to get tensorflow to compile for armv7k and I even got it to run on an apple watch, but I'm getting an error about "No session factory registered for the given session options". I found this issue about that warning https://github.com/tensorflow/tensorflow/issues/3308, in that it says to add the -all_load option, but I don't know where to add that flag.

[2017-04-03 23:09] gunan commented on #8319
So here is my progress. My macbook pro is gone, due to old age, but these I was able to figure out in its last breath:
The need to create `/usr/local/cuda/lib/libcuda.1.dylib` should now be gone if you use TF from head or TF 1.1 (rc at the moment).

`LD_LIBRARY_PATH` I did not need to set at all to get TF to run.
`DYLD_LIBRARY_PATH`, this was bad. I got everything to work with this aggressive vari

[2017-04-03 23:18] robmsylvester commented on #8191
@prashantserai - see what happens if you remove the MultiRNNCell line from above, effectively making your network just one layer. Does it work then? It might be a bug somewhere in MultiRNNCell. I've read about that somewhere recently, probably on stack overflow.

If you implement the stacked lstm/gru yourself, you don't get this error, and you can implement the same functionality (actually more, b

[2017-04-04 00:03] asimshankar commented on #8928
Thanks. Closing this out.

It might make sense for the selected algorithm to be logged either to the logging system or maybe in the `RunMetadata` protocol buffer. If you'd like to make a contribution towards that, we'll be glad to take a look!

[2017-04-04 00:03] #8928 closed

[2017-04-04 00:06] JAStark commented on #8913
@gunan thank you so much! My `.bash_profile` now reads
[code]
**keras** and **tensorflow** now each import successfully. Running
[code]
also _seems_ to do what it should, as far as I can tell. **However**, now when I try to run my keras cnn model, I run into an issue with scipy.linalg, which is called in [Keras' image preprocessing code](https://github.com/fchollet/keras/blob/master/keras/preproce

[2017-04-04 00:08] sguada commented on #1122
Although is_traning can a placeholder reuse has to be a bool, and it cannot be a tensor nor a placeholder.

I'm not sure what are you trying to do, in most cases using static values solve the problem. For example this pattern works well:

[code]
Unless you need to change the behavior of the model dynamically, you don't need to use a placeholder for is_training. The trick is to build the model twic

[2017-04-04 00:08] JAStark commented on #8913
[code]

[2017-04-04 00:15] asimshankar commented on #8934
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-04 00:15] #8934 closed

[2017-04-04 00:16] cancan101 opened #8941 "Log Selected Convolution Algorithm"
Reposting from https://github.com/tensorflow/tensorflow/issues/8928#issuecomment-291330814:

/CC @asimshankar

[2017-04-04 00:19] asimshankar commented on #8917
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-04 00:19] #8917 closed

[2017-04-04 00:20] asimshankar commented on #8941
FYI @zheng-xq

[2017-04-04 00:28] JAStark commented on #8913
Ok, I downgraded scipy based on [this](http://stackoverflow.com/questions/38854513/conda-python-import-error-image-not-found-in-jupyter-notebook-only)
[code]
which seems to have helped (at least in the terminal. Spyder still displays original error).
Now I get memory issues, which I think are unrelated to this original issue, so I'm going to close this issue.

Thanks 👯‍♂️

[2017-04-04 00:28] #8913 closed

[2017-04-04 01:09] zycdragonball commented on #8521
@sidjee Are you still working on this? I have the codes ready. I think I will send a PR tomorrow.

[2017-04-04 01:42] dcscodelife commented on #7087
@drpngx Thank you everybody, sorry I have not followed this issue until today.
That day later it does work for me, I remember that I made a new folder 'log' in E:\, then it worked.
Firstly, I give up do it under windows and try it on ubuntu with the file generated under windows, then it worked, so I think the file is ok, so I think maybe some others things I should try, then I tried something acco

[2017-04-04 01:56] Kublai-Jing commented on #4638
@aselle  Can you elaborate more on how to manually broadcast to make it work ? Thanks.

[2017-04-04 02:12] DanqingZ commented on #8937
I tried to implemented the pdf of MVN by myself, but it looks like tf.matrix_inverse also don't support complex tensor.

[2017-04-04 02:13] asimshankar commented on #8920
Thanks for the report.
That documentation needs to be updated.

IIUC, in 1.0.0 this would be replaced by [`ds.bijector.Affine`](https://github.com/tensorflow/tensorflow/blob/r1.0/tensorflow/contrib/distributions/python/ops/bijector.py#L1463)

@jvdillon @ebrevdo : Something still seems fishy at head and in 1.1.0-rc1 where `tf.contrib.distributions.bijector` doesn't seem to exist. Mind taking a look

[2017-04-04 02:27] asimshankar commented on #8916
GPUs currently support only `tf.half` (aka `tf.float16`), `tf.float32` and `tf.float64`. Variables of other types cannot be placed on GPU.

This should probably be better documented. However, it is intended at this time.

(For details, see [`variable_ops.cc`](https://github.com/tensorflow/tensorflow/blob/2c8d0dc/tensorflow/core/kernels/variable_ops.cc#L66) and [`register_types.h`](https://github.c

[2017-04-04 02:27] #8916 closed

[2017-04-04 02:38] shoyer commented on #8521
This is a duplicate of https://github.com/tensorflow/tensorflow/issues/8246. I'm closing this in favor of the other issue, which is older.

[2017-04-04 02:38] #8521 closed

[2017-04-04 02:39] shoyer commented on #8246
CC @zycdragonball @sidjee @zuoxingdong

[2017-04-04 02:39] userisanumber commented on #5609
@ebrevdo There is a problem with a shuffling method that you described.
When `RandomShuffleQueue` is inserted between the input reader and `batch_sequences_by_length`, then examples are shuffled between the batches, which vanishes the bucketing function because of examples which belong to different bucket boundaries that end up eventually in the same batch.
Could you let me know how to use shuffle

[2017-04-04 02:51] asimshankar commented on #8925
@Evan-Gao : Is it possible that you're not using the latest versions of the tutorial files (from https://github.com/tensorflow/models/tree/master/tutorials/image/cifar10)? Or perhaps there are some stale files in `/tmp/cifar10_train` (the [default directory](https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10/cifar10_train.py#L48) where the tutorial places it files).

I was un

[2017-04-04 03:00] Evan-Gao commented on #8925
@asimshankar I pull the latest version and everything is fine now. thx

[2017-04-04 03:06] #8925 closed

[2017-04-04 03:48] massltime commented on #2940
@esd100  @yazeedalrubyli @yaroslavvb
sorry to bother you, but I still met the same problem.
[code]

Although I have added the environment path which is recommended by NVIDIA documentation and @esd100 .

[code]

[code]

Any idea?...
Thank you very much!

[2017-04-04 03:58] louishenrifranc commented on #8501
A list of 1D int32 Tensors of shape [batch_size] isn't of shape [input_size, batch_size] until you concat every element in the list. It's a **list** of element of shape [batch_size]

[2017-04-04 04:12] SinghRanjodh commented on #5036
+1

[2017-04-04 04:16] loliverhennigh commented on #5688
Hmm, I am trying to run on tensors of shape (1,125,125,125,128) = 1 gig and getting the standard OOM error. I am wondering how much working memory the 3d conv needs. It seems like doing a conv of this size should work ok.

[2017-04-04 04:16] EronWright commented on #6926
@asimshankar thanks for figuring out how to embed the native lib, it really saves a lot of hassle.

[2017-04-04 04:21] petrosmol commented on #8904
TL;DR: Yes, we are actively working on kernel methods in general. As of last week there is a [kernel_methods](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/kernel_methods) package which is part of tensorflow.contrib. Kernel SVMs are supported indirectly (with some more work on user's behalf, see below). Note that this is all very recent so you need to build from source (a

[2017-04-04 04:33] EronWright commented on #6926
One little nuance to be aware of going forward.   In hosted environments like Apache Flink where each 'job' runs in a separate classloader, numerous instances of the JNI library might simultaneously become loaded.  The fact that the extracted resource has a generated temp name makes this possible; otherwise the JVM would complain "Library xyz already loaded in another classloader".  I'm hopeful th

[2017-04-04 05:33] RoboEvangelist commented on #6923
how do I create a tensorflow workspace outside the tensorflow examples folder? I want to put my tensorflow code in a repository, but having to put it in the examples folder all the time make it kinda inconvenient.

[2017-04-04 05:37] yuezhizizhang commented on #2228
Any conclusion on how to fix this problem? I meet the same issue with Tensorflow 1.0.

[2017-04-04 06:37] sandipmgiri commented on #8921
I have exported the "TEST_SRCDIR" env var to the root of TF source repository, and now that error is gone , however I am getting some different kind of error

======================================================================
FAIL: testMaybeSavedModelDir (__main__.SavedModelTest)
----------------------------------------------------------------------
Traceback (most recent call last):
  File ".

[2017-04-04 07:06] jinfagang commented on #8518
I think it move into `attention_decoder_fn_inference` or something else?

[2017-04-04 07:20] sandipmgiri opened #8945 "Bazel test failure in TF (Assertion errors) on Ubuntu 16.04 on pcc64le architecture"
###Environment info:
Operating System: Ubuntu 16.04 (ppc64le)

###Installed version of CUDA and cuDNN: cuda & OpenCL disabled and all other features enabled

###Build and test INFO
Built TF (version 1.0.1) successfully on Ubuntu 16.04 and RHEL 7.3.
Now I am trying to run the bazel tests -  12 tests are failing out of 1044. Please find the attachment for log details.

Thanks!

[C-C++Test Failure  a

[2017-04-04 07:35] asimshankar commented on #8945
The architecture being used is not one that we currently support. For example, some of the tests are failing with `py-cpuinfo currently only works on X86 and some ARM CPUs`. Community contributions in keeping TensorFlow chugging along with ppc64le are welcome!

[2017-04-04 07:55] asimshankar commented on #8127
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-04-04 07:55] #8127 closed

[2017-04-04 07:55] asimshankar commented on #8117
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-04-04 07:55] #8117 closed

[2017-04-04 07:55] sachinprabhu007 opened #8946 "Tensorflow results in Segmenation fault"
Hello

I have installed tensorflow gpu version with python2.7. It results in following error once i define Session. I am unable to train my model. Please assist

[code]

[2017-04-04 07:55] #8108 closed

[2017-04-04 07:56] asimshankar commented on #8092
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-04-04 07:57] asimshankar commented on #8152
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-04-04 07:57] #8152 closed

[2017-04-04 07:57] asimshankar commented on #8158
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-04-04 07:57] #8158 closed

[2017-04-04 07:59] asimshankar commented on #7914
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-04-04 07:59] #7914 closed

[2017-04-04 07:59] asimshankar commented on #8105
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-04-04 07:59] #8105 closed

[2017-04-04 08:00] asimshankar commented on #8946
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case.   We ask for this in the issue submission template, because    it is really difficult to help without that

[2017-04-04 08:01] asimshankar commented on #8172
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-04-04 08:01] #8172 closed

[2017-04-04 08:31] sachinprabhu007 commented on #8946
**System details** : ubuntu 14.04 x86_64
**Tensorflow version:** 0.10.0

I installed it as binary
i.e i followed this - >

[code]
I just found out its due to **Session()** as i tried basic program i.e

`>>> import tensorflow as tf

I am using tensorflow cpu version as of now since gpu dint work. I am able to train my model with the same. But I would really appreciate if you could please help me wi

[2017-04-04 08:33] allamtb commented on #2353
@dandelionmane  I 'have similar problems when  running the example code:
tensorflow/tensorflow/examples/tutorials/mnist/mnist_with_summaries.py
I can see only GRAPHS, with the following command:
tensorboard --logdir /tmp/tensorflow/mnist/logs/mnist_with_summaries
 Chrome and firefox have the same problem , tensorboard version is  1.0 . run on ubuntu.
![Uploading issue.png…]()
[Uploading mnist_with

[2017-04-04 08:35] Earthson opened #8947 "XLA: Could not open input file: Is a directory"
XLA failed with Could not open input file: Is a directory

### Environment info
Operating System: Ubuntu 16.04

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

[code]

### code setup

If installed from binary pip package, provide:

1. http://q-phantom.com/conda/linux-64/tensorflow-1.1.0rc0-py36_3.tar.bz2
2. 1.1.0-rc0

### code init

[code]

##

[2017-04-04 08:46] Rikorose commented on #8904
Thank you! I will try the different options. Binary SVM is sufficient for me right now.

[2017-04-04 08:51] bicubic commented on #8835
@gunan howdy. Yep, that's returning `False` so it looks like my GPU is somehow invisible. Any suggestions how to proceed?

[2017-04-04 08:53] IgorX2 commented on #8845
I managed to get it working, but I still believe there is a bug.

Here is what I tried:

- Place the files in the project directory
- Place the files in the root of D:
- Place the files in the root of D: and use `/` instead of `\` in path
- Place the files in the root of C: (this is the only one that worked)

Also, using `tensorboard --inspect ...` on all three locations found the files and listed

[2017-04-04 09:20] vanpact opened #8948 "Feature Request: Erosion2d and Dilation2d implemented on GPU"
Hi everybody!
Erosion2d and Dilation2d can be used for various reason. e.g. [Ronneberg et al.](https://arxiv.org/abs/1505.04597) compute a weight map using morphological operations for their cost function. This can be done using morphological Erosions and Dilations but those operations are quite slow on CPU. It seems Tensorflow do not use the GPU for those operation. Would it be possible to have t

[2017-04-04 09:35] kevinashaw opened #8949 "ResourceExhausted"
I get the following error when running in GPU on AWS p2-xlarge:
[code]
I'm using TensorFlow R0.12.1 and Session code is:
[code]
My question: is there a way to allocate more memory in the GPU?
This seems like a really small data set to be using?!?!?
Thanks.

[2017-04-04 09:53] rongjiecomputer commented on #8832
@wolffg  Ah, I see where is the trailing `<table>` now, do you want me to send a PR for this?

Also, I think `>>>` in the following snippet (same page) should be removed, the markdown rendering engine used by tensorflow.org confuses it with blockquote (Github's is fine with it though).

[code]

[2017-04-04 10:00] ajeetksingh opened #8950 "Execution Stuck after few steps in sess.run()"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

Execution is stuck in between steps. For few steps, it seems to run fine but after that the execution just halts without throwing any exception or the error.

### Environment info
Operating System: Ubuntu 14.04
GPU: NVIDIA TITAN X (Pascal)
GPU Memory: 12GB

Installed version of CUDA and c

[2017-04-04 10:13] priyathamkat opened #8951 "Using output of `tf.argmax` as index raises TypeError"
### Minimal example
[code]
This raises a `TypeError`
[code]
The solution is to `tf.cast` `b` into a `tf.int32` before using it as an index. The output of `tf.argmax` should be usable as an index immediately. I feel that the current state is not consistent, is there some hidden reason for this?

[2017-04-04 10:23] svetlov commented on #5987
+1

[2017-04-04 10:27] TB-SeChaJia opened #8952 "AttributeError: module 'tensorflow.python.ops.array_ops' has no attribute 'pack'"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-04-04 10:34] vsuriya93 commented on #1503
Can I implement DeepWalk algorithm for tensorflow framework and ask for a pull request?

[2017-04-04 10:49] Alexivia commented on #1122
Thank you @sguada ! After applying your suggestions, I finally made it to work!

[2017-04-04 11:10] carlthome commented on #4566
Can you require a specific amount of bytes instead of a fraction? I don't know what GPU will be used, and would like to reserve 100 MB when starting a session.

[2017-04-04 11:12] snarb commented on #8842
Thank you @jamieas it works! Now it is clear.

My personal opinion that It would be great if contrib.learn(as a high-level wrapper) will be a little more user-friendly with ranks and dimensions. Maybe some entity like DataAdapter that will take some set of common params as inputs like BATCH_SIZE, SEQUENCE_LENGTH, raw data input (not tensors) and will form appropriate outtput for estimator. IMHO. T

[2017-04-04 11:54] MicaelCarvalho opened #8953 "Enable full message with tf.Print"
**Operating System:** Debian 4.8.15-2
**Installed version of CUDA and cuDNN:** CUDA 8, cuDNN 5
**python3 -c "import tensorflow; print(tensorflow.__version__)":** 1.0.1

**Minimal reproducible example**
[code]

**Output**
`I tensorflow/core/kernels/logging_ops.cc:79] [3 4 5...]`

Maybe there is some obvious way around this, but I couldn't find any on the [docs](https://www.tensorflow.org/api_docs/p

[2017-04-04 12:02] fegorodscy commented on #3358
Hi, I have the same issue.

No OpKernel was registered to support Op 'Add' with these attrs.  Registered devices: [CPU], Registered kernels:
  device='CPU'; T in [DT_FLOAT]

	 [[Node: resnet_v1_101/block4/unit_1/bottleneck_v1/conv2/convolution/required_space_to_batch_paddings/add = Add[T=DT_INT32](resnet_v1_101/block4/unit_1/bottleneck_v1/conv2/convolution/Gather, resnet_v1_101/block4/unit_1/bottl

[2017-04-04 12:18] MicaelCarvalho commented on #8953
Closing: parameter `summarize` in `tf.Print`. Still no blue about the `gen_logging_ops`

[2017-04-04 12:18] #8953 closed

[2017-04-04 12:35] jubjamie commented on #8952
Can you please fill in the issue template. It will help with solving your issue. Most importantly, which version of Tensorflow are you running as I believe that the tf.python group was deprecated in 1.0. Please post a code snippet too so we can understand what you were trying to achieve and what function you were trying to find as the error from your title suggests that you're calling something si

[2017-04-04 12:54] kratzert commented on #3628
The workaround of @barbolo  worked for me (for python 3 change `xrange` to `range`. But would be nice if native tensorflow would allow to freeze a graph with batch norm without these kind of workarounds!

[2017-04-04 13:29] fegorodscy commented on #4863
I ran into this very same issue, but for Op 'Add'.
I applied this solution and it worked as expected.

[2017-04-04 13:33] fegorodscy commented on #4863
@peterkfm How did you find which ops compile on iOS? Can you also share the changes you made on register_types.h?

[2017-04-04 13:43] prashantserai commented on #8191
@robmsylvester The same error persisted even when I tried with num_layers=1 which should effectively skip that line. Any other ideas? Thanks for the input.

[2017-04-04 14:06] semaj7 commented on #3263
Many thanks @Menerve and @zhubofei
**Summary:**
After installing tensorflow-gpu and trying to import it in python I also got the Segmentation faults. First had to add the /Developer/NVIDIA/CUDA-8.0/lib as well as /Developer/NVIDIA/cudnn-8.0/lib to DYLD_LIBRARY_PATH in the bash_profile, and then needed to rename libcuda, with "sudo ln -sf /usr/local/cuda/lib/libcuda.dylib /usr/local/cuda/lib/libcud

[2017-04-04 14:27] girving commented on #1503
@suiyuan2009 @vsuriya93 TensorFlow itself is the wrong place for such an algorithm, but https://github.com/tensorflow/models would work.

[2017-04-04 14:54] rogerpasky commented on #22
Has anyone in Google spoken to Apple or AMD to ease this? I guess [AMD people](https://community.amd.com/thread/212460) is so lost they don't even know the problem is there and they are still wondering why Nvidia has such a huge market share. I guess too Apple AI team would be more than happy to help in here... [if OpenCL wasn't an abandonware from their side since 2013](https://forums.developer.a

[2017-04-04 14:58] alisidd commented on #8744
@aselle Tensorflow's documentation on distributed computing leads me to believe that the end user is responsible for assigning workers and parameter servers to different devices. Should I then only implement Gradient Descent with Delay Compensation, which the user will have to implement asynchronously?

[2017-04-04 15:21] suiyuan2009 commented on #1503
@vsuriya93 I'm not working on this currently, just go ahead!

[2017-04-04 15:22] tfboyd commented on #7679
Thanks @pedropgusmao, that is interesting to us as well.

Quick update.  We are moving into the documentation phase.  We are a little behind my made up goal of early April but progress is good.  I expect the code will be released in a few weeks.  Things rarely go as planned.  It is on me for not pushing harder in late March.

[2017-04-04 15:23] vsuriya93 commented on #1503
Thanks.. But @suiyuan2009 should I create a graph representation module then?

[2017-04-04 15:39] mrry commented on #8845
Thanks for  confirming this. The underlying problem is the same as #7856, which arises because TensorBoard uses a `:` to separate the run name from the log directory in its command-line flags, which is fine on Linux but on Windows it clashes with the use of `:` in the drive name. I suggested a workaround on the thread for #7856, and I'd encourage you to comment there if you have further problems w

[2017-04-04 15:39] #8845 closed

[2017-04-04 15:56] bhack commented on #8926
And https://github.com/tensorflow/tensorflow/issues/8465?

[2017-04-04 15:58] aph3xtwink commented on #5214
please can you show how you ran ./configure in the terminal, with your tensorflow directory? I'm confused about how to do that.

[2017-04-04 16:19] josauder opened #8956 "Linking errors when using Tensorflow/Bazel to call Python from C++"
I am writing a C++ application (based on Tensorflow Serving) in which I need to call Python and Numpy functions (from `Python.h` and `numpy.h`).

This application is built with Bazel.

So I include the header:

`#include "tensorflow/python/lib/core/numpy.h"`

which in turn includes `Python.h`.

This file seems to wrap numpy to fix an issue described in [this](http://stackoverflow.com/questions/319

[2017-04-04 16:25] suiyuan2009 commented on #1503
@vsuriya93 , yes, I suggest Forward Star (Reverse Star) since you can allocate a continuous memory space before adding edge, if you know the graph size first. You can define your own input pipelines to load data to your graph tensor. You may need a path generator op. Graph is hard to partition, which may limits input size.

[2017-04-04 16:30] wolffg commented on #8832
Don't worry about it.  I already submitted something; it should be
published soon.

On Tue, Apr 4, 2017 at 2:53 AM, Loo Rong Jie <notifications@github.com>
wrote:

[2017-04-04 16:35] jesryu opened #8957 "Tensorflow multi-GPU training and variable scope"
### Context

I'm working on a detector model on multiple GPUs using Tensorflow 1.0. As suggested [here](https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10/cifar10_multi_gpu_train.py), Gradients are computed on multiple GPUs individually and are averaged on CPU. To share the trainable variables (e.g. weights and biases) across the GPU towers, the `reuse` flag is turned on usin

[2017-04-04 16:41] shoyer commented on #4638
StackOverflow would be a great place to ask for tips on how to use
broadcasting to make gather_nd work

On Mon, Apr 3, 2017 at 6:56 PM, Kublai-Jing <notifications@github.com>
wrote:

[2017-04-04 17:09] AndreaFar commented on #8676
@mrry I'm sorry but there is only this error message nothing else. However now I'm trying a different configuration of Tensorflow that doesn't use python distribution of conda environment and cannot reproduce the issue anymore.

[2017-04-04 17:39] asimshankar commented on #8835
@bicubic : How did you install TensorFlow? Is it possible that you used `pip3 install tensorflow` instead of `pip3 install tensorflow-gpu`?

[2017-04-04 17:45] aselle commented on #8744
@mrry, might be able to give you more direction in this vein (also @tfboyd )

[2017-04-04 17:46] #8842 closed

[2017-04-04 17:49] aselle commented on #7778
What did you put for the compiler optimization options? and what are the remaining warnings it shows you? Are you running the binary on the same machine you compiled it on?

[2017-04-04 17:51] aselle commented on #8888
Thanks for preparing the fix @dsmilkov.

[2017-04-04 17:52] aselle commented on #8854
Yes that's what I mean. @dandelionmane, do you want to add a more direct way to visualize saved graphs?

[2017-04-04 17:55] sonalgupta commented on #5609
@ebrevdo Thanks for working on a tutorial. Any idea when would it be posted? Is there a way to subscribe to notification for new tutorials?

[2017-04-04 17:59] robmsylvester commented on #8191
Hmmm. One thing that stands out to me is in the referenced legacy seq2seq file:

`encoder_cell = copy.deepcopy(cell)`

This line appears to be used because the same architecture is used on both the encoder and decoder side. They make a copy of the cell, then pass the cell argument along to the attention decoder embedding function, then to the attention decoder itself.

What happens if you explicit

[2017-04-04 18:07] #8802 closed

[2017-04-04 18:07] asimshankar commented on #8923
Sorry about that, yes `libtensorflow.so` should export much fewer symbols than it does today.

Will take a look.

[2017-04-04 18:13] asimshankar commented on #8957
@lukaszkaiser @martinwicke : Is `tf.get_variable_scope().reuse_variables()` the recommended way to share variables in 1.0+? And is there a way to disable reuse so that variables created by the `AdamOptimizer` can be created after all the towers?

[2017-04-04 18:15] gunan commented on #4705
@jowagner While these are valid points, we hope these will go away with future bazel releases.
I think one of the problems should be already fixed by bazel 0.4.5
@damienmg can confirm

[2017-04-04 18:18] ebrevdo commented on #5609
Probably it'll be posted to the google research blog and probably announced
by the @TensorFlow twitter handle.

On Tue, Apr 4, 2017 at 10:56 AM, Sonal Gupta <notifications@github.com>
wrote:

[2017-04-04 18:22] NickShahML opened #8959 "Gradients of Gradients throws 'NAN' outputs for LSTM's"
### Environment info
Operating System: Ubuntu 14.04

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

Cuda 8.0, tensorflow 1.0

If you try to take the gradient of a gradient such as needed in Improved Techniques of Wasserstien GAN's (https://arxiv.org/abs/1704.00028) for LSTMs in the generator, throws a NAN error. If you use convolutions, then

[2017-04-04 18:25] brandondutra commented on #8854
Yes. Telling users to write a python script to visualize a saved model graph is a very bad user experience [it's not even documented as a thing that can be done], and seems like something tensorboard should be very good at.

[2017-04-04 18:26] lukaszkaiser commented on #8957
The way to share I'd recommend is to always open a scope and specify reuse parameter.
It should work fine with everything, there is no need to un-reuse at all.

[code]

[2017-04-04 18:28] lukaszkaiser commented on #8957
In a multi-gpu loop you can say:

[code]

[2017-04-04 18:28] #8957 closed

[2017-04-04 18:30] iamgroot42 commented on #8191
@robmsylvester  shouldn't making changes in the scopes of the cells work? It's working for the other two examples as well. In my opinion, this would be a very ugly workaround; a cleaner solution must exist; maybe we are missing something? ( I got the same error on the seq2seq tutorial as well, tried all of the above solutions).

[2017-04-04 18:31] asimshankar commented on #8946
Seems like you're using a very old version of TensorFlow.

Could you try with the latest version (1.0)?

[2017-04-04 18:38] asimshankar commented on #8959
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case.   We ask for this in the issue submission template, because    it is really difficult to help without that

[2017-04-04 18:38] robmsylvester commented on #8191
@iamgroot42 - Yeah, that 'solution' is admittedly very ugly, but more so just trying to hunt down where an issue might be. I'll play with it in a few hours and see if I can track something down.

[2017-04-04 18:52] dsmilkov commented on #8888
Commit 663eaa05bf1bfa2e84d60b16dc6f4d49cecc8b9a should fix it. Feel free to reopen if the issue still exists.

[2017-04-04 18:52] #8888 closed

[2017-04-04 18:58] surfreta opened #8961 "ValueError("No variables provided.") for apply_gradients"
In [optimizer.p](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/optimizer.py)y, the first part of code segment is

[code]
Running my program, I got the error message caused by this specific error. I then printed out `tuple(grads_and_vars)`, part of which is. I don't know why it can cause the error of no variables provided.

[2017-04-04 19:19] asimshankar commented on #8961
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case.   We ask for this in the issue submission template, because    it is really difficult to help without that

[2017-04-04 19:20] gunan commented on #8921
Most of our tests are written to work with bazel.
I highly recommend against running them outside bazel, and we do not really guarantee tests passing when run outside bazel.
Here is why you are seeing issues:
Saved_model test has a data dependency as defined here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/saved_model/BUILD#L106

What bazel does is it arranges all the d

[2017-04-04 19:20] #8921 closed

[2017-04-04 19:37] asimshankar commented on #8085
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-04-04 19:37] asimshankar commented on #8170
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-04-04 19:37] #8170 closed

[2017-04-04 19:38] asimshankar commented on #8162
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-04-04 19:38] #8162 closed

[2017-04-04 19:38] #8085 closed

[2017-04-04 19:55] liufuyang commented on #2353
verified, adding `writer.flush()` solved the problem. It happened to me that locally was okay but on google cloud no scalar logs are saved. Thank you @rasbt :)

[2017-04-04 19:56] crack00ns commented on #8879
Thank you so much. Using gfxCardStatus and forcing it to Discrete mode seems to work!

[2017-04-04 19:59] awav commented on #8817
Thank you @aselle,
I implemented cancelling in a residual block using multiplication by zero and `tf.stop_gradient` as well, and it only prevents the contribution of this particular gradient of residual block to the parent layers. But as far as I understood the parameters which are marked as trainable will be always updated regardless of procedures mentioned above.
Just clarify the idea a bit, let

[2017-04-04 20:01] wolffg commented on #8832
Closed, see #8960

[2017-04-04 20:01] #8832 closed

[2017-04-04 20:15] damienmg commented on #4705
With 0.4.5 and the --action_env change, there should be no issue about --batch or restarting the server (unless the change got reverted again). --action_env is basically fixing those environment variable in the rc file instead of relying on the environment to stick.

[2017-04-04 20:15] alquraishi commented on #6095
Any updates on adding builtin atan2 support?

[2017-04-04 20:47] gunan commented on #8879
Looks like the issue is resolved?
I will close this issue, please let me know if it is not resolved yet.

[2017-04-04 20:47] #8879 closed

[2017-04-04 20:54] eaplatanios opened #8962 "Graph Collections in the C API"
Hi,

In Python we have graph collections (e.g., TRAINABLE_VARIABLES) which are stored in the Graph class. I assume that these are somehow serialized in the graph protobuf so that when a GraphDef is imported, the relevant collections are imported too. However, I do not see any option in the C API for defining such collections? Is there something that I am missing? If not, why not include that funct

[2017-04-04 20:58] sfabbro opened #8963 "mputecpp"

[2017-04-04 20:59] #8963 closed

[2017-04-04 21:16] abnera commented on #6132
@martinwicke: any examples of multi-gpu for tf.learn now that it will be on core besides the one provided in the example section? The one from example section only does parallel-model as opposed to data-parallel https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/learn/multiple_gpu.py

Thanks.

[2017-04-04 21:27] hekimgil commented on #7778
Thank you aselle, my problem is solved now but here is what happened:
- I used all default options with ./configure except: 1) Y for CUDA support, and 2) compute capability
- The warnings were about the SSE3, SSE4.1, SSE4.2, AVX, AVX2, and FMA capabilities of my machine (+ negative NUMA node read)
- Yes, the same machine...

However, after reading your message, I changed my bazel build command fro