[2019-08-01 07:46] val9299 commented on #31015
Thanks for the explanation! Now I understand.

Because I’ve struggled a little bit finding out how to convert a ssd model. This is one way to do it from the command line:
1.	You have TF and TF object detection installed
2.	Downloading and unpacking the file (the model) from model zoo -> cd into the folder (e.g., `cd …/ssdlite_mobilenet_v2_coco_2018_05_09`)
3.	`python .\models\research\object_detec

[2019-08-01 07:47] janprz commented on #31171
Thanks a lot for the answers,  I have already downloaded it myself manually.
However it is interesting that only this dataset cannot be downloaded by me with tfds.load().

Since the problem isn't resolved I shouldn't close the issue?

[2019-08-01 07:50] pandrey-fr commented on #30594
@anil-bit Is it possible that, as was the case for the author of this issue, you already have an instance of python / tensorflow opened that reserves the entire GPU?

On a unix system you can check which programs take memory on your GPU using the `nvidia-smi` command in a terminal.

To disable the use of GPUs by tensorflow (which should be a workaround), you can run (in 2.0) `tf.config.set_visible

[2019-08-01 07:52] HymEric commented on #31225
Tnak you. But in the www.tensorflow.org page thr URL is https://www.tensorflow.org/tutorials/guide/keras. Maybe it can be updated.

[2019-08-01 07:57] jiarenyf commented on #31181
@tensorflow-jenkins

[2019-08-01 08:13] gadagashwini commented on #31189
@yaradong I executed the code on Colab and as well on local system it is working fine. Could you check once without changing http to https. Let us know how it progresses. Thanks!

[2019-08-01 08:15] semal commented on #31021
same problem, but using cache session and session.run to predict could solve it.

[2019-08-01 08:15] jichangsheng opened #31227 "Some of the operators in the model are not supported by the standard TensorFlow Lite runtime and are not recognized by TensorFlow. If you have a custom implementation for them you can disable this error with --allow_custom_ops, or by setting allow_custom_ops=True when calling tf.lite.TFLiteConverter(). Here is a list of builtin operators you are using: ADD, CONV_2D, TANH. Here is a list of operators for which you will need custom implementations: DEPTH_TO_SPACE."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Include any logs or source code that would be helpful to diagno

[2019-08-01 08:28] julj opened #31228 "contrib.receptive_field: ValueError: Weight layer's name input to conv layer does not end with '/read'"
I want to compute the receptive field of some convolutional model defined using tf.keras.
I get the graph directly from the session in which the model is built and run `compute_receptive_field_from_graph_def`:

[code]

I set the name of the output as the last name of the operation in my_output layer, obtained by checking `g.get_operations()`, i.e. 'my_output/BiasAdd'

[code]
but I get

[code]

I c

[2019-08-01 08:32] ravikyram commented on #31193
@Vanrap

Please, go through below links and see if it helps you.Thanks!

https://stackoverflow.com/questions/57282364/building-a-tflite-model-for-multi-class-classification

https://medium.com/towards-artificial-intelligence/testing-tensorflow-lite-image-classification-model-e9c0100d8de3

[2019-08-01 08:43] anush-o commented on #30969
Please find the gist of [collab](https://colab.research.google.com/drive/1AmdeHVVcWFKhvmZRHFUR00UIsZQx42p1) executed for the given code TF version-1.13.Thanks!

[2019-08-01 08:53] anush-o commented on #31128
@JiayiFu ,
In order to expedite the trouble-shooting process, please provide complete code snippet to reproduce the issue reported here. Thanks!

[2019-08-01 08:55] JionBin opened #31229 "Incorrect predictions of Mobilenet_V2"
Hi,
I built the tensorflow lite on iMX8(4xA53) platform. I can get correct results when using models of mobilenet_v1_1.0_224, mobilenet_v1_1.0_224_quant and mobilenet_v2_1.0_224 as input model for  [label_image](https://github.com/tensorflow/tensorflow/tree/v2.0.0-alpha0/tensorflow/lite/examples/label_image). But I got unreasonable predictons when using [mobilenet_v2_1.0_quant](https://storage.goo

[2019-08-01 09:01] ravikyram commented on #31181
@jiarenyf
Just to verify did you get chance to follow instructions from [TensorFlow ](https://www.tensorflow.org/install/source)website .Please, let us know. Thanks!

[2019-08-01 09:17] Efaq commented on #25369
as @ahmedanis03 mentioned, it is a bit confusing that this is open here but the task is marked as done. Is there already material or is it under development?

[2019-08-01 09:34] kassemyu commented on #31192
Hey @gadagashwini thank you for the quick reply. I do not encounter this error and did not set anything additionally. When I run the supplied code-snippet in pycharm's debugging mode I get to evaluate the shapes-dictionary as described.

[2019-08-01 09:48] ravikyram commented on #31187
@DavidNorman
In order to expedite the trouble-shooting process, please provide a full code snippet to reproduce the issue reported here. Thanks!

[2019-08-01 09:58] paulbauriegel commented on #31169
@gowtham-kp I extracted you the code from the h5 model, I hope it helps. Depending on the import `import tensorflow.keras ...` vs `import keras ...` the code should work or not work

<details>
<summary>Code</summary>

[code]
</details>

[2019-08-01 09:58] Sreerag-ibtl opened #31230 "Porting micro_vision example to other other boards."
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-08-01 10:06] gadagashwini commented on #31216
@mudassirej Please take a look at [guide](https://www.tensorflow.org/guide/using_gpu) for GPU utilization. Can you use manual device placement with `tf.device('/GPU:0'):`  Let us know how it progresses. Thanks!

[2019-08-01 10:06] anush-o commented on #31200
@faizulhz ,
Can you please provide all the details mentioned in the standard template?Thanks!

[2019-08-01 10:08] anush-o commented on #31203
@Neo01010 ,
Can you please refer the [link](https://devtalk.nvidia.com/default/topic/1057009/error-code-3221225501-when-trying-to-run-tensorflow/).Thanks!

[2019-08-01 10:13] etsygankov opened #31231 "DistributionStrategy is not supported by tf.keras.models.Model.fit_generator"
Hi! Recently I've encountered a `NonImplemetedError` while trying to apply a fit_generator method of a `tf.keras.models.Model` with a `MultiWorkerDistributionStrategy`. It is almost a year since this handlers were added to the code ( https://github.com/tensorflow/tensorflow/commit/9541ce3475ea70fd8eb9552f60de462127f15440#diff-de9b96ac2d81503324cbbbe21732031f ) and I'm wondering whether to expect a

[2019-08-01 10:17] alphamuth commented on #30594
@anil-bit I think you were running some program over GPU and if you have forcefully stooped it and then you are again executing it over the same GPU then this problem arises as the GPU memory was already locked by the previous program. To solve this issue terminate the terminal and again open the terminal and execute the code. Hope this helps!!

[2019-08-01 10:21] ravikyram commented on #30763
@bionicles
Can we close the issue since the query is been answered. Please,let us know. Thanks!

[2019-08-01 10:41] abdou31 opened #31232 "Transfer learning with frozen model ( Resnet )"
Hello,
I want to use transfer learning to detect 80 eye region landmarks instead of 68 face landmarks.
I have a pre-trained frozen graph model pb .
I want to know what are the steps that I can follow to perform the transfer learning to my model?
I see this script, but I don't know how can I use it.
https://github.com/tensorflow/models/blob/master/official/resnet/resnet_run_loop.py

[2019-08-01 10:48] 2649 commented on #28868
@jvishnuvardhan Yes this is correct. I already pointed it out in the first post. The tf 2.0 documentation recommends to use `tf.summary.image` to log image files. This function excepts an eager tensor. However, when you use keras to train your model,  it will build a static graph and the summary will throw the mentioned error.

[2019-08-01 11:00] ankitmaurya001 commented on #27880
@jimmyvo2410
Using quantization aware training worked for me for edgeTPU. Thanks to @1n1n1t3

I am facing issues in using post integer quantization.

Hi @vibhatha ,
I tried your notebook . Was able to compile the model for EdgeTPU.
But when I added a CONV2d layer at the top. I am facing an issue with the edge TPU complier .

[code]

Here is the modified link.
https://colab.research.google.com/driv

[2019-08-01 11:11] Leslie-Fang commented on #31200
@faizulhz if you build tensorflow on latest platform with latest instruction such as AVX512. Then use this version on a older platform without AVX instruction . You may get this error.
Please refer to this link: https://github.com/tensorflow/tensorflow/issues/17411

[2019-08-01 11:14] mammaiap commented on #22840
@smalltalkman , i am trying to build the tensorflow using mingw-w64 on  windows 10 ...  i need the tensorflow c++ lib which i wanted to use it in mingw-w64 based projects... can you please help me , how to do the cmake with mingw-w64 to get compile successfully.

[2019-08-01 11:25] gadagashwini commented on #26363
@yarons This is fixed in Tensorflow 1.14.0. Would you like to upgrade your Tensorflow version and try. Thanks!

[2019-08-01 11:31] AnberLu opened #31233 "tensorflow r1.10 gpu slow when createDevices"
when i run tensorflowr1.10 in gpu , i found createDevice is slow . and Pause 4 minutes .

problem:
[code]

code
[code]

env:
[code]

[2019-08-01 11:40] zaccharieramzi commented on #26989
Just a thought @alextp , but wouldn't this need to be implemented with eager execution? The `shift` would need to depend on the variable input shape so it can't be in a static graph I think.

[2019-08-01 11:46] vibhatha commented on #27880
Where did you add the layer?
I can’t see the modification?

On Thu, Aug 1, 2019 at 6:07 AM truthSeeker <notifications@github.com> wrote:

--
Vibhatha Abeykoon

[2019-08-01 11:57] ankitmaurya001 commented on #27880
@vibhatha just at the bottom.

[code]

[2019-08-01 12:08] Jasperty opened #31234 "model pruning"
in tensorflow/tensorflow/contrib/model_pruning/, can it speed up the inference of the pruned model?

[2019-08-01 12:20] jeet4690 commented on #30693
@haozha111 can you plz help me find the problem, P.S. i am trying to convert `model.h5` it only have "weights" into `model.tflite`

[2019-08-01 12:21] vibhatha commented on #27880
@ankitmaurya001
make sure the representative data also provides the expected input layer's shape. Because I think 28,28 is the previous input shape. I will check this as well.

Btw, which edge device are you using to test the tflite model after compiling it to edgetpu_compileable model?

[2019-08-01 12:28] yarons commented on #26363
I will try that again, thank you :)

[2019-08-01 12:28] #26363 closed

[2019-08-01 12:31] jkamalu commented on #29562
Why are you not calling the super class `__init__` function? This is 100% at least one of your problems, given that _expects_mask_arg is defined in tf.keras.layers.Layer::__init__ as can be seen [here](https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/keras/engine/base_layer.py#L216)

[2019-08-01 12:35] ankitmaurya001 commented on #27880
@vibhatha
I think representative data takes the correct input shape as train_images.shape is changed to (28,28,1).

I am using google coral dev board.

Thanks for the help!!

[2019-08-01 12:35] psyhtest commented on #27671
I have the [same issue](https://github.com/ctuning/ck-tensorflow/blob/master/package/lib-tensorflow-1.14.0-src-static/README.md) with TF C++ 1.14 and the MLPerf ResNet model.

[2019-08-01 12:42] shegokarm commented on #26211
Can I take this issue?

[2019-08-01 12:43] tensorflowbutler commented on #30680
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-08-01 13:03] pifon2a commented on #26211
@yagyajoshi15 we need more of those.

[2019-08-01 13:07] hstuk commented on #29869
Is there any progress on that bug? I think I have a similar problem, here:

https://github.com/tensorflow/tensorflow/issues/31022

[2019-08-01 13:11] SumNeuron opened #31235 "tf.numpy_function throws error when encounter np.transpose"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): kinda
- OS Pla

[2019-08-01 13:14] jvishnuvardhan commented on #30680
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-01 13:14] #30680 closed

[2019-08-01 13:31] vibhatha commented on #27880
@ankitmaurya001
Can you compile the code you shared? I cannot compile it.
Are you sure you used 2.0.0-beta?

[2019-08-01 13:32] jvishnuvardhan commented on #30445
@imransalam Thanks for contributing through PRs.

[2019-08-01 13:40] ankitmaurya001 commented on #27880
@vibhatha
No, with (28,28,1) shape and conv2d it does not even complie with edge TPU compiler .

I am facing the same error with @ohtaman notebook.
https://colab.research.google.com/gist/ohtaman/7101e90f1f71a1cb054364d179845866/tf2-0-edgetpu-keras-cnn-autoencoder.ipynb

It throws the same error. Only difference I can think of is the change in compiler version.

**@ohtaman  notebook uses 1.0.249710

[2019-08-01 13:51] vibhatha commented on #27880
No I mean the training part doesn't happen. Can you unit test your code after adding this new layer?

Step 1, check model.train and then model.predict

If these two checks out, we can unit test the other components. I had an issue in running the training model.

[2019-08-01 13:53] vibhatha commented on #27880
@ankitmaurya001
I tested @ohtaman notebook previously and it did work fine.
Let me check it again. I developed models in both 1.14 and 2.0.0-beta and they work fine.
Also, I recently updated my dev board with the July update with 2.11 runtime.

[2019-08-01 13:58] ankitmaurya001 commented on #27880
@vibhatha

I cleaned up the code a little. Please check you should be able to run now. Yes I am using 2.0.0-beta .

I am thinking it has to do with the edge TPU compiler version not the tf version.

[code]

[2019-08-01 13:58] maracuja-orange commented on #31171
Hi,
I've got the exact same problem with a similar setup.

    OS Platform and Distribution (Windows 10):
    TensorFlow version: GPU 2.0 beta
    Python version: 3.6
    Installed using virtualenv? pip? conda?: pip
    CUDA/cuDNN version: 10.0/7.6
    GPU model and memory: nvidia GTX 1060 6gb

[2019-08-01 13:58] ankitmaurya001 commented on #27880
@vibhatha

I cleaned up the code a little. Please check you should be able to run now. Yes I am using 2.0.0-beta .

I am thinking it has to do with the edge TPU compiler version not the tf version.

[code]

[2019-08-01 14:12] vibhatha commented on #27880
Ah yes, when I got the latest updates on the dev board, it was updated with the latest. Now the runtime is v.12 and my compiler version is Edge TPU Compiler version 2.0.258810407 [same as yours]

[2019-08-01 14:14] jannik-w opened #31236 "PyCharm debugger automatically evaluates Tensor._shape and spams console"
**System information**
- OS Platform and Distribution: macOS 10.14.6
- TensorFlow version: 1.14.0
- Python version: 3.6.8

**Describe the current behavior**
When analyzing a tensor in eager-execution mode in the "Watches" of the PyCharm Debugger, the deprecated object Tensor._shape is automatically evaluated. This results in following warning in the console (two times for one evaluation). When eva

[2019-08-01 14:16] ankitmaurya001 commented on #27880
Are you able to compile with the latest version (with CONV2D). ?

[2019-08-01 14:27] vibhatha commented on #27880
I cannot compile yours, but I definitely have a set of conv2d layers in the design, but I didn't get such issue. I also use 3D inputs. I will look into this. Till now I couldn't figure out why.
There is a stack-overflow question raising a similar concern. Did you check this with existing issues in TF Github issues?

[2019-08-01 14:32] dsgupta commented on #31210
Hi @gadagashwini, can I email you the code?

[2019-08-01 14:34] ankitmaurya001 commented on #27880
Did you compile your design with the latest compiler without any issues?

Yeah, I saw the stack overflow concern, but still no answers :(.
Checking the TF Github issues now !!

[2019-08-01 14:54] habernal opened #31237 "Incomplete description of LSTM.__call__() params"
## URL(s) with the issue:

https://github.com/tensorflow/tensorflow/blob/48af54a586790cc29150be3d8665d7e8a1770257/tensorflow/python/keras/layers/recurrent.py#L2461

## Description of issue (what needs changing):

The current documentation reads:

[code]

It would be worth mentioning that

- mask, training, and initial_state are optional
- if initial_state is not provided, default zeros are imputed

[2019-08-01 15:07] haozha111 commented on #30693
The error comes from keras code when loading the h5 file:
https://github.com/tensorflow/tensorflow/blob/3f89bc5175caf279ae232088c88891b804a6b51f/tensorflow/python/keras/saving/hdf5_format.py#L158

Please make sure that the h5 file contains the model itself, not only the weights.

[2019-08-01 15:10] jdduke commented on #31190
What version of the NDK are you using?

[2019-08-01 15:10] mudassirej commented on #31216
@gadagashwini I already allot the 80% GPU memory in the train network. It shows that it utilizes memory but as you can be seen from the Nvidia log that it is utilizing 20% only.
Where I will add this command "tf.device('/GPU:0')?

[2019-08-01 15:12] jdduke commented on #31190
Also, make sure you run the the `tensorflow/configure` script from your checkout. This will let you properly configure the NDK.

[2019-08-01 15:13] alextp commented on #30580
aggregation_method has been an argument to minimize since ~forever

I'm sorry, I don't understand what's your original issue here

On Wed, Jul 31, 2019 at 1:53 PM Elyas Mehtabuddin <notifications@github.com>
wrote:

--
 - Alex

[2019-08-01 15:16] vibhatha commented on #27880
Yes, I was able to get it compiled no issues. Yes, the main reason is the error message is not clear. If it points out to a specific cause. I think an API expert will definitely understand why this is happening. I am not sure why it is happening. It has to be something with the PQ related conversion params. Nothing to do with the model. Some param is missing or some param is inserted incorrectly.

[2019-08-01 15:18] haozha111 commented on #31053
Jian, could you help take a look? Thanks!

[2019-08-01 15:22] suffererofautomation commented on #31031
Now i use:
bazel 19.2
tf 1.13

The configuration works perfectly.
The topic may be closed.

[2019-08-01 15:38] srjoglekar246 commented on #31015
Yup, that is it. Is it failing for you at any step?
Or do you want some help figuring out what the outputs contain?

[2019-08-01 15:41] abdou31 opened #31239 "Tflite model show a completely different result than frozen inference model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No, I use a Github repo
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 x64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Samsung A3 2016
- TensorFlow installed from (source or binary): binary
- TensorFlow v

[2019-08-01 16:00] alextp commented on #26989
Static TF graphs can be shape-dynamic; they just cannot be dynamic on the number of tensors.

[2019-08-01 16:00] alextp commented on #29869
Escalating to @tatianashp

[2019-08-01 16:04] sedghi commented on #30357
same problem here too

[2019-08-01 16:05] alextp commented on #31005
Does this reproduce on tf nightly, or 1.14?

[2019-08-01 16:11] sanjoy commented on #29878
That sounds like an XLA bug.  Can you (yet again!) share the full log of the failure?

I'm also working on some public docs on how to file good actionable bugs against XLA, hopefully I'll have something to show next week.

[2019-08-01 16:18] zaccharieramzi commented on #26989
yes yes of course (that's what I am doing right now), but if you want to do operations that depend on the shape of the tensor (unspecified beforehand), then you probably need eager execution, don't you?

[2019-08-01 16:27] sedghi commented on #30355
same error here,
but the tf.concat works as a workaround as @mketcha mentioned

[2019-08-01 16:37] martinwicke commented on #26989
No, you can evaluate the shape dynamically (using tf.shape) and use tf.cond
for conditional computation if you need that.

It might be more convenient in eager mode, but it's possible without.

On Thu, Aug 1, 2019 at 9:25 AM Zaccharie Ramzi <notifications@github.com>
wrote:

[2019-08-01 16:38] Raukk commented on #30953
I'd like to add my 2 cent's here;
TLDR; I think TF-Lite-Micro is using 64-bit Floats when it should be using 32-bit Floats.

Based on the information provided by Dimitris [dimtass] in his articles, when using TF-Lite-Micro each 'Multiply–accumulate operation' (or equivalent) is taking approximately 70 cycles even with the (32-bit) FPU enabled (and approximately 225 cycles without FPU). To me, that

[2019-08-01 16:42] suyashbakshi commented on #27697
Hello, I'm still seeing this issue with tf1.14.0 while compiling a custom op kernel.
`fatal error: google/protobuf/port_def.inc: No such file or directory
 #include <google/protobuf/port_def.inc>
compilation terminated.`

I'm on windows, installed TF using pip.
The .inc files still reside in "site-packages\tensorflow\include\google\protobuf_archive\src\google\protobuf".

Is there a way to fix this

[2019-08-01 17:03] angersson commented on #31196
@perfinion may have some ideas about this.

[2019-08-01 17:13] ankitmaurya001 commented on #27880
@vibhatha
No issues, thanks for the help anyways. Will explore further !!

[2019-08-01 17:15] mdanatg commented on #30895
@ilhamfp It would be something similar, yes, but we need a more robust way to test that the object is a TF function. Performing an `isinstance` check for [Function](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/eager/def_function.py#L241) objects would not be ideal because that would create a circular dependency (tf.function already depends on autograph).

So a better meth

[2019-08-01 17:19] durandg12 opened #31240 "SequenceFeatures gets overly complex when used with a sequence_numeric_column"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.13.6
- TensorFlow installed from (source or binary): from pip install
- TensorFlow version (use command below): v2.0.0-beta0-16-g1d91213fe7 2.0.0-beta1
- Python version: v3.6.7:6ec5cf24b7, Oct 20 2018, 03:02:

[2019-08-01 17:24] robieta commented on #30561
Just to give a quick update on this. (I know you've been waiting very patiently.) There are a bunch of tiny host to device transfers in the v2 path that seem to be blocking the main computation. I haven't been able to diagnose the underlying cause yet.

cc @qlzh727 who is our resident RNN expert.

[2019-08-01 17:26] mdanatg commented on #29191
This should not be more robustly handled with the commit that will land soon. If you have a chance to give it a try, I'd love to know if we missed any corner case.

[2019-08-01 17:31] gunan commented on #30981
@jhseu do you know who know about the hdfs support in TF?

[2019-08-01 17:32] #29191 closed

[2019-08-01 17:34] dawsoneliasen opened #31241 "Error when changing transformer hyperparameters"
## URL(s) with the issue:
https://www.tensorflow.org/beta/tutorials/text/transformer#set_hyperparameters

## Description of issue (what needs changing):
I've been working with the 'Transformer model for language understanding' notebook on my own dataset. I got it to work with the default hyperparameters. The tutorial explains that I can create a Transformer XL by adjusting the hyperparameters to t

[2019-08-01 17:38] gunan commented on #31199
Not using XLA may be the reason making it slower. But I am not the expert on this topic.
@sanjoy any ideas?

[2019-08-01 17:48] mhajiaghayi opened #31242 "events.out.tfevents file is getting too large as training continues"
Tensorboard event file is getting too large (> 10Gig) as the training continues. I use custom estimator and input_fn reads data from a generator. Everything works fine except this huge tensorboard file that I think it also reduces the speed. When I increase save_summary_steps parameter, this problem doesn't go away. I have seen other blogs complaining about it and none of them provided a viable so

[2019-08-01 17:54] mdanatg commented on #24742
Thanks you all for the useful discussion. This contributed to formulating a set of semantics consistent across autograph, which are summarized here:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/autograph/g3doc/reference/intro.md

A few concerns remain around expectations for first-time users, but I'm hopeful those can be addressed by documentation and tutorials.

[2019-08-01 17:54] #24742 closed

[2019-08-01 18:12] yarik1988 opened #31243 "Model loaded via tf.keras.load_model train very slow"
OS: Ubuntu 18.04
Python 3.6.8
Tensorflow version 2.0.0b1 (GPU)
GPU: Titan RTX
CUDA version 10.0

Issue: current script is working fast
[code]

After finishing this script I launch next one, which work very slow (30-40 sec).

[code]
the last two lines of first script output
[code]
Second script for some reason doesn't output the loading of libcudnn.so.7

[2019-08-01 18:17] sgambient opened #31244 "Make TF-TRT input and output semantic same as TF"
**System information**
- TensorFlow version (you are using):1.13.1
- Are you willing to contribute it (Yes/No):Do not think have the capability yet.

**Describe the feature and the current behavior/state.**

In TF-TRT the outputs  have to be specified in create_inference_graph unlike in TF, where outputs can be selected at sess.run ().     Also, in TF not all placeholders need to be assigned at se

[2019-08-01 18:18] elyasmehtabuddin commented on #30580
@alextp
Sorry, what I meant to say was that adding `aggregation_method=tf.AggregationMethod.ADD_N` as a parameter to thee `minimize()` function did NOT resolve my issue.

[2019-08-01 18:20] alextp commented on #30895
Sorry, a lot of messages to catch up on.

The issue seems to be that you want to_code to be transparent on code already wrapped with tf.function. I think this is too much special-casing. Maybe we can add a tf.function().to_code method for people who are curious, but I'd rather not break the layering of the stack.

[2019-08-01 18:24] #31108 closed

[2019-08-01 18:35] karkadad opened #31245 "gRPC: terminate called after throwing an instance of 'std::bad_alloc'"
System information
    • OS Platform and Distribution: CentOS Linux release 7.4.1708 (Core)
    • TensorFlow version : Tensorflow-1.12.0 built from source

Describe the problem:
Running a model parallel implementation results in the following error:
[code]
The code runs fine on a single node i.e. with a single worker, but distributing across 2 nodes/2 workers results in the above error. Suspect it

[2019-08-01 18:38] joyIntel opened #31246 "Trying to quantize resnet50 tf model"
I am trying to quantize [resnet50 tf model](https://github.com/tensorflow/models/tree/master/official/resnet) (NHWC) using imagenet images.

I am using [this](https://www.tensorflow.org/lite/performance/post_training_quantization) tutorial for reference.

The code is like that -
![quantize](https://user-images.githubusercontent.com/39498824/62318443-ba731b80-b450-11e9-9dc4-32ec55ac3c0a.png)

I am

[2019-08-01 18:43] mdanatg commented on #30895
I think that's a good point. Perhaps a better alternative would be to add a hint to the error message. Right now we attempt to get the function's __code__ and fail. Instead, it might make sense to do something like this:

[code]

Thoughts?

[2019-08-01 18:54] ymodak commented on #31171
That's surprising I am not able reproduce it.  Can you try with TF 2.0 nightly version?
```!pip install tf-nightly-2.0-preview```

[2019-08-01 18:55] jbgh2 commented on #31135
That works, thank you.

[2019-08-01 18:56] #31135 closed

[2019-08-01 19:00] rjpower commented on #29839
I know that 2.0 final is expected to have full TPU support. That said,
development is still under way and many things aren't quite ready yet. I'd
wait until at least the first RC before trying anything TPU+2.0 related in
earnest.

(I don't work closely with the teams so take this with a grain of salt...)

[2019-08-01 19:11] jvishnuvardhan commented on #30367
@murphyk I think this is not related to `Tensorflow` and it is more related to your GPU.
Are you running any other codes in parallel (when you ran `tf.test.is_gpu_available()` ) that are holding `GPU:0` as busy?
Your error says
`InternalError: CUDA runtime implicit initialization on GPU:0 failed. Status: all CUDA-capable devices are busy or unavailable`. Thanks!

[2019-08-01 19:23] ulorentz commented on #27880
I am using post training quantization with a function similar to the @ohtaman one, mine is:
`def representative_dataset_gen():
    for i in range(num_calibration_steps):
        yield [x_train_scaled[i:i+1]]`
but I always get the following error:
`ValueError: Cannot set tensor: Got tensor of type NOTYPE but expected type FLOAT32 for input 16, name: dense_input`
The variable `x_train_scaled` is a n

[2019-08-01 19:32] val9299 commented on #31015
Everything is working, thanks for asking!
I just wanted to share my gained knowledge, so other people can get to the solution faster.

[2019-08-01 19:49] Squadrick commented on #26167
We've ported CRF to TF2.0: https://github.com/tensorflow/addons/commit/47e687725eb4d65e45498e67a9026177fda684dd

This issue can be closed.

[2019-08-01 20:03] jtang7 commented on #31070
I am also experiencing the same issue.

[2019-08-01 20:14] vibhatha commented on #27880
`diff = num_calibration_steps - x_trained_scaled.shape[0]  `

What is this value?

[2019-08-01 20:18] ulorentz commented on #27880
Its -20475, since the dimension of the `x_train_scaled` (is 20575) it's much bigger than the `num_calibration_step` (I used 100)

[2019-08-01 20:24] vibhatha commented on #27880
Can u iterate through the yielding values can make sure all values are of type FLOAT32?

[2019-08-01 20:32] #30964 closed

[2019-08-01 20:34] ymodak commented on #31135
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-08-01 20:38] ymodak commented on #31143
@yifeif Can you please take a look? Thanks!

[2019-08-01 20:39] caisq commented on #30773
This is primarily a keras question. Assigning it to @karmel

[2019-08-01 20:39] ulorentz commented on #27880
Yes, this is a generic output of what is yielding: `[array([[ 0.04949207, -0.75925859, -0.30664617, ..., -0.38399959,
         2.03520339, -0.77253633]])]`

[2019-08-01 20:40] ilhamfp opened #31247 "Branch r2.0 Failed Source Build on macOS Mojave"
**System information**
- OS Platform and Distribution: macOS Mojave, 10.14.5 (18F203), (15-inch 2018)
- TensorFlow installed from (source or binary): Source
- TensorFlow version: r2.0
- Python version: Here's the result for `python` in terminal
[code]
- Bazel version (if compiling from source): 0.26.0
- GCC/Compiler version (if compiling from source): The result for `gcc -v`
[code]
- CUDA/cuDNN ve

[2019-08-01 20:48] vibhatha commented on #27880
so all of the values are dtype FLOAT32.
Do you have a code snippet? It is hard to tell otherwise.

[2019-08-01 20:57] ulorentz commented on #27880
Sure, the neural network is the following very simple:
``def create_model():
    model = Sequential()

    model.add(Dense(500, input_shape=(time_periods,), activation="relu"))
    model.add(Dropout(0.4))
    model.add(Dense(500, activation="relu"))
    model.add(Dropout(0.4))
    model.add(Dense(500, activation="relu"))
    model.add(Dropout(0.4))
    model.add(Dense(500, activation="relu"))

[2019-08-01 20:58] MiladShahidi opened #31248 "WALSMatrixFactorization: Input matrix is not invertible. node cond/MatrixSolve"
**System information**
- Custom code: Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device: Noe
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v1.13.0-rc2-0-gc865ec5621 / 1.13.0-rc2
- Python version: 3.6
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN

[2019-08-01 21:04] vibhatha commented on #27880
why haven't you set the input and output type?

`converter.representative_dataset = representative_dataset_gen
    converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS_INT8]
    converter.inference_input_type = tf.uint8
    converter.inference_output_type = tf.uint8
    converter.optimizations = [tf.lite.Optimize.DEFAULT]
    tflite_model = converter.convert()`

Try something like

[2019-08-01 21:07] ymodak commented on #22878
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-01 21:07] #22878 closed

[2019-08-01 21:12] Quiigi commented on #30995
After looking at python basics, here's the same example as above, ported to python.
[code]

[2019-08-01 21:14] qlzh727 commented on #30990
Thanks for reporting the issue, let me take a look.

[2019-08-01 21:15] alextp commented on #30580
@elyasmehtabuddin this is very weird because nothing in the TF public API should be using accumulate_n (and indeed when I ran your code I couldn't reproduce the error) but the error is coming from a call to accumulate_n.

Can you monkey-patch tf to suss out the problem? Something like

[code]

on the top of your file should give a stack trace of the code trying to use accumulate_n.

[2019-08-01 21:18] ulorentz commented on #27880
I get always the same error, nothing changes

[2019-08-01 21:18] alextp commented on #30895
SGTM

On Thu, Aug 1, 2019 at 11:50 AM Dan Moldovan <notifications@github.com>
wrote:

--
 - Alex

[2019-08-01 21:25] adragoset commented on #28277
Is this going to be reopened? Why was it closed without a resolution being provided or an explanation? Im having the same issues as the above user on  the jetson xavier TF 1.14.0 while trying to build the pip package.

[2019-08-01 21:25] jtang7 commented on #31070
https://github.com/tensorflow/tensorflow/commit/6345ad553be2c23e09d7c3193533994eb522f635

This should be a fix, but not included in beta1 release

[2019-08-01 21:26] vibhatha commented on #27880
If you have a google collab link, please share if it is okay with you. It is hard to tell without looking at the code.

[2019-08-01 21:31] adragoset commented on #31031
I was able to get the c++ api compiled by following the link left by @tlkh. However the pip package will not build for tensorflow 1.14.0 and i get the same error as in [issues/28277](https://github.com/tensorflow/tensorflow/issues/28277#issuecomment-504783335)

[2019-08-01 21:40] ulorentz commented on #27880
Sure I can, here's the link: https://colab.research.google.com/drive/1vFSEvu4mudfDb2vLMXtgGmQEMBqLwqnN
Let me know if you need the dataset too.
Thank you very much!

[2019-08-01 21:41] petewarden commented on #23955
The GTT is deprecated and going away in 2.0, so I'm closing this as infeasible, unfortunately.

[2019-08-01 21:41] #23955 closed

[2019-08-01 21:42] petewarden commented on #23963
Closing as a duplicate of #23955

[2019-08-01 21:42] #23963 closed

[2019-08-01 21:43] petewarden commented on #25211
We're deprecating the graph transform tool, and recommend TF Lite for quantization, so I'm closing this one.

[2019-08-01 21:43] #25211 closed

[2019-08-01 21:44] jdduke commented on #28277
This should be fixed at head, would you mind giving that a try? Alternatively, patch in https://github.com/tensorflow/tensorflow/commit/851b3f5a467bdd1f41c32a6b346940980530898d#diff-d965755c0d71cd0e0e7978fc3ae7f974.

[2019-08-01 21:45] petewarden commented on #25554
It doesn't look like I'll get any time to investigate this unfortunately, so unassigning and adding to the contributions welcome hotlist.

[2019-08-01 21:46] #31113 closed

[2019-08-01 21:46] petewarden commented on #25948
From the description, it looks like this is a duplicate of #25554 ? Closing for now, but please reopen with more information if I'm misunderstanding.

[2019-08-01 21:46] #25948 closed

[2019-08-01 21:49] petewarden commented on #26175
Unfortunately I haven't had a chance to dive deeper into this one, it's been a while, and the mobile version of TensorFlow is deprecated in favor of TensorFlow Lite, so closing as won't fix.

[2019-08-01 21:49] #26175 closed

[2019-08-01 21:49] vibhatha commented on #27880
No need, just mention the shape and types of X and Y

[2019-08-01 21:52] petewarden commented on #26196
It looks like you're trying to use TensorFlow Lite on the Raspberry Pi? The recommended way to do this is to build just the library itself, which you can find instructions for here:
https://www.tensorflow.org/lite/guide/build_rpi

[2019-08-01 21:52] #26196 closed

[2019-08-01 21:53] petewarden commented on #26447
Moving to contributions welcome.

[2019-08-01 21:55] petewarden commented on #26459
The warnings shouldn't result in any bad behavior, they're just a nuisance. We have recently updated our RPi pip packages to Py 3.7, so you should no longer see the log warnings on that version. Closing, since it doesn't result in any actual errors.

[2019-08-01 21:55] #26459 closed

[2019-08-01 22:01] jiapei100 opened #31249 "tensorflow + numpy compatibility?"
[code]

[code]

[2019-08-01 22:07] ulorentz commented on #27880
X has shape (20575, 4492); Y has shape 20575 (1D vector, is a classification problem with two classes, so elements of Y are or 1 or 0).

[2019-08-01 22:18] vineel-concat commented on #30854
Hi,

Yes, I am hitting GPU memory limit, I have reduced my batch size to 32 and units to 512, even then after a few iterations, I am hitting out of memory.

As per my current understanding by default, its using maximum allowed memory (I am running in eager execution mode), I am seeing it in my nvidia-smi output. Also, this is the only task using the GPU:
+------------------------------------------

[2019-08-01 22:30] alextp commented on #31212
Contrib is slated to be deleted in tf 2.0, and will no longer be a part of any future TF releases, so no point in adding features there.

[2019-08-01 22:30] #31212 closed

[2019-08-01 22:32] ymodak commented on #30882
@anush-o  It says access denied. Please change your settings to enable it.

[2019-08-01 22:43] robertlugg opened #31250 "google.protobuf.json_format.MessageToDict incorrectly decodes bytes_list"
**System information**

YES, custom code.

CentOS 7-1810 in VirtualBox VM
[code]

Binary.  Unchanged from tf-nightly.

Note that a warning is printed if I use tf.GIT_VERSION.
[code]

Python 3.6.8 :: Anaconda, Inc.

**Describe the current behavior**
google.protobuf.json_format.MessageToDict, I believe "decodes" bytes_list incorrectly.  What I get is:
`['VGF4aSBBZmZpbGlhdGlvbiBTZXJ2aWNlcw==']`

**De

[2019-08-01 22:46] Uiuran commented on #31212
Is there any module that does the job ?

[2019-08-01 22:47] robertlugg commented on #31250
[data_tfrecord-00000-of-00001.gz](https://github.com/tensorflow/tensorflow/files/3458925/data_tfrecord-00000-of-00001.gz)

[2019-08-01 22:48] ymodak commented on #31249
Do you have multiple versions of numpy installed in your system?
```pip show numpy```
Can you uninstall all numpy versions and later install numpy==1.16.4?
```pip uninstall numpy``` (till you uninstall all versions)
``` pip install numpy==1.16.4```

[2019-08-01 22:55] ymodak commented on #31098
Are you able to install TF with mkl flag and import tensorflow successfully?
The above given code snippet works for you in TF without mkl but fails with TF-MKL? Is my understanding correct here?

[2019-08-01 22:56] alextp commented on #31212
https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md
says
copy_graph has no owner and will be slated for deletion

On Thu, Aug 1, 2019 at 3:52 PM Daniel Penalva <notifications@github.com>
wrote:

--
 - Alex

[2019-08-01 22:57] qlzh727 commented on #30990
I wasn't be able to reproduce issue with latest nightly in tf-nightly-gpu-2.0-preview==2.0.0.dev20190731, somehow the issue was fixed recently. Can u have a try again?

Thanks.

[2019-08-01 22:57] Uiuran commented on #31212
no prob i will file a proposal of addon (by forking this if it is necessary), thank you.

[2019-08-01 23:04] jiapei100 commented on #31249
@ymodak

I manually upgraded **numpy**:

[code]
to **~/.local/lib/python3.7/site-packages**

And, yes, I happened to notice I've got **python3-numpy** installed as well, from Ubuntu repository.

Did tensorflow find **python3-nump** from repository and had it installed automatically? I specified PYTHONPATH to **~/.lcoal/lib/python3/site-packages** already.

Cheers

[2019-08-01 23:14] rchao commented on #31070
Correct, https://github.com/tensorflow/tensorflow/commit/6345ad553be2c23e09d7c3193533994eb522f635 is the fix for this issue and should be available in the next release. Thanks for reporting the issue.

[2019-08-01 23:14] #31070 closed

[2019-08-01 23:15] jtang7 commented on #31070
I tried following 2 solutions
1.I applied https://github.com/tensorflow/tensorflow/commit/6345ad553be2c23e09d7c3193533994eb522f635
to my tensorflow installed code
2. I install latest nightly dev build

both gave me following error, seems though previous commit change data type to int64, somewhere else still expects int32

[code]

[2019-08-01 23:17] rchao commented on #31070
@jtang7, would you mind opening an issue with the steps to repro? Thanks.

[2019-08-01 23:19] pooyadavoodi commented on #30717
@nseidl Could you post the full log you get from TF-TRT (FP16 and INT8)?
Please try it with verbose logging as explained here: https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html#verbose

Could you also try nvidia container 19.07 which has 1.14 in it.
There might be regressions in the nightly builds.

[2019-08-01 23:22] pooyadavoodi commented on #31039
@nseidl Is this a duplicate of https://github.com/tensorflow/tensorflow/issues/30717 ?

[2019-08-01 23:25] sanjoy commented on #31199
I don't see an obvious reason.  Did you try using a profiler (like perf) to see if you spot a difference.

If you were using XLA in the prebuilt version but not in the self-built version, that could also explain the difference.

[2019-08-01 23:27] pooyadavoodi commented on #30600
This feature is currently not supported by TF-TRT.
Since TensorRT supports this already, we can consider adding this feature.
It would require an API such that users can provide a list of ops/subgraphs with their desired precision.
We don't currently have a plan to add this feature.

[2019-08-01 23:39] qlzh727 commented on #31071
I think the issue is fixed recently in beee660bfcc977bb65ca0c3bec4a3ea7756ee597.

[2019-08-01 23:39] #31071 closed

[2019-08-01 23:45] qlzh727 commented on #30995
Thanks for reporting the issue. Let me take a look.

[2019-08-01 23:52] petewarden commented on #26501
Assigning to @aselle to track the RPi TF Lite progress.

[2019-08-01 23:54] eric-0x72 commented on #25665
Any updates on this?

[2019-08-01 23:55] petewarden commented on #26551
This seems like a virtualenv issue, since the pip works otherwise, so I don't think we can help on this unfortunately.

[2019-08-01 23:55] #26551 closed

[2019-08-01 23:55] petewarden commented on #26664
Thanks for the update, closing since it seems to be worked around now.

[2019-08-01 23:55] #26664 closed

[2019-08-01 23:56] jtang7 opened #31252 "Model can't be checkpointed with Keras+MultiworkerMirroredStrategy"
Please make sure that this is a bug. As per our GitHub Policy, we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template

System information

Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Darwin-18.0.0-x86_64-i386-64bit
Mobil

[2019-08-01 23:58] petewarden commented on #26802
I wasn't able to reproduce this error when trying locally, so closing for now. Please reopen if you're still seeing this.

[2019-08-01 23:58] #26802 closed

[2019-08-01 23:58] petewarden commented on #26933
I'm closing this as we do have a vision example available now.

[2019-08-01 23:58] #26933 closed

[2019-08-02 00:00] petewarden commented on #26965
Nupur, are you able to take a look at this? Thanks for your help!

[2019-08-02 00:02] petewarden commented on #26975
It looks like the original problem has been solved, but there are still performance issues? The recommended approach for inference on the RPi is TensorFlow Lite, you can see a guide to building that here: https://www.tensorflow.org/lite/guide/build_rpi

[2019-08-02 00:02] #26975 closed

[2019-08-02 00:03] petewarden commented on #27156
Assigning to Tiezhen, thanks for your help!

Any update @kmader?

[2019-08-02 00:04] lzw429 commented on #25665
In fact, the API has been canceled in tensorflow 2.0 and the problem has not been resolved.

[2019-08-02 00:04] petewarden commented on #27617
The optimize_for_inference script is deprecated, so we're not likely to be able to fix this soon unfortunately. Adding to contributions welcome.

[2019-08-02 00:07] petewarden commented on #27673
I'd recommend running the tensorflow/tools/ci_build/pi/build_raspberry_pi.sh script, rather than using the individual Bazel commands, since that's tested by our CI system. Are you still seeing issues?

[2019-08-02 00:08] petewarden commented on #28174
Passing over to @aselle as a TF Lite RPi issue.

[2019-08-02 00:09] petewarden commented on #28271
I think we recently fixed this, so closing, but reopen if you see a recurrence.

[2019-08-02 00:09] #28271 closed

[2019-08-02 00:13] petewarden commented on #28516
Closing this for now, since there's been no updates for a while.

[2019-08-02 00:13] #28516 closed

[2019-08-02 00:13] sanjoy commented on #31067
XLA does support while loops and conditionals so we might be able to express what you want (though it might end up being too slow).

[2019-08-02 00:15] petewarden commented on #28555
Thanks Jens! Unfortunately there are some timeout issues with the Renode software emulation testing. I'm closing this one since the original issue is solved, but we have a new team who will be helping improve the emulation tests on our side, so hopefully the bluepill testing should become more reliable.

[2019-08-02 00:15] #28555 closed

[2019-08-02 00:15] petewarden commented on #28663
I'm not familiar with the grappler code, so I'm unassigning myself.

[2019-08-02 00:16] petewarden commented on #28839
I'm not familiar with grappler unfortunately, unassigning myself.

[2019-08-02 00:18] petewarden commented on #28855
I haven't worked on this area, but I've pinged the Coral team to ask for the right owner.

[2019-08-02 00:21] petewarden commented on #29206
This looks like an internal compiler error with the particular toolchain on that Linux image. I'm not able to debug this, since it's not happening with our nightly CI builds. I'm unassigning myself, but if the VMs are supported by a Cloud team maybe they can take a look?

[2019-08-02 00:21] eric-0x72 commented on #25665
Good to know. Thanks

[2019-08-02 00:22] petewarden commented on #29751
I'm not familiar with this code, so unassigning myself.

[2019-08-02 00:22] #29751 closed

[2019-08-02 00:23] petewarden commented on #29792
This should be fixed now, so closing. Could you let us know if not and we can reopen.

[2019-08-02 00:23] #29792 closed

[2019-08-02 00:24] petewarden commented on #29806
It looks like this is working now, so closing.

[2019-08-02 00:24] #29806 closed

[2019-08-02 00:25] petewarden commented on #29954
Closing, since there's been no update for a while, and I believe installing curl should fix this.

[2019-08-02 00:25] #29954 closed

[2019-08-02 00:26] petewarden commented on #30173
This looks like an Edge TPU issue that I'm not familiar with, so unassigning myself.

[2019-08-02 00:27] petewarden commented on #30314
Assigning to @njeffrie since he's looking into this now.

[2019-08-02 00:30] talipini opened #31253 "Using class_weights in fit_generator causes continuous increase in CPU memory usage until depletion. OOM"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.2 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Not Relevant.
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below

[2019-08-02 00:33] ymodak commented on #30306
@jashshah Apologies for the delay in response. I believe ```use_multiprocessing``` argument is irrelevant in this case, since the code snippet fails with same error even after setting it to false.
Were you able to execute it by setting it to false?

[2019-08-02 00:50] nseidl commented on #31039
Yes. Would you prefer to continue the thread in this issue or in #30717? I'd prefer to use this one (#31039)

[2019-08-02 00:56] makercob commented on #31117
@guptapriya feature.set_shape([2]) is the culprit. I think this issue could be closed. Thank you.

[2019-08-02 01:10] nseidl commented on #30717
Nvidia container 19.07 has cuda 10.1, which as far as I know is incompatible with TF 1.14.0.

But, I tried a clean 19.02 container with `tensorflow-gpu==1.14.0`, and observe no speedup at all on either model.  I think this is because no TRTEngineOps are getting created.

[code]

[code]

[2019-08-02 01:22] manoj7410 commented on #28855
@rahuladream can you please send your query at coral-support@google.com so that your question is visible to larger audience and we would be able to help you appropriately?

[2019-08-02 01:26] cj741 commented on #30701
anyone can help~

[2019-08-02 01:34] jiarenyf commented on #31181
@ravikyram Yes, I follow the instruction [here](https://www.tensorflow.org/install/source#cpu-only_2).

And get the error:
[code]

[2019-08-02 01:50] vineel-concat commented on #30854
Reducing the embeddings dimensions did the trick.

I have reduced the size of embeddings, units and then batch size and finally, I am able to train, but it's super slow compared to the default decoder.

I have total 65K rows in my data it used to take around 2-3 hours for training with 30-35 epochs.
But now with reduced dimensions, it's been more than 2 hours and I am yet to finish an epoch.
Is so

[2019-08-02 01:51] zhangshexin commented on #31190
First of all, thank you very much.
----------------------------------------------
The NDK version I used is configured as follows:
# Uncomment and update the paths in these entries to build the Android demo.
android_sdk_repository(
     name = "androidsdk",
     api_level = 28,
     # Ensure that you have the build_tools_version below installed in the
     # SDK manager as it updates periodically.

[2019-08-02 02:02] 4d55397500 commented on #17564
Bump, no interest?

[2019-08-02 02:29] paanguin commented on #27781
I made a test code for the 'ComputeNewPerm' function as follows:

`#include <iostream>
#include <unordered_map>
#include <vector>

void show_vector(std::vector<int> vec){
        for (int i; i < vec.size(); i++){
                std::cout << vec[i] << " ";
        }
        std::cout << "\n";
}

template<typename K, typename V>
void print_map(std::unordered_map<K,V> const &m)
{
    for (auto const

[2019-08-02 02:39] smartcatdog opened #31255 "how to do prediction after quantizing model"
while i transformer ckpt to pb model by freeze and quantize model to compression_pb_model,  and then serve the compression_pb_model occuring the errors like this:

ValueError: NodeDef mentions attr 'batch_dims' not in Op<name=GatherV2; signature=params:Tparams, indices:Tindices, axis:Taxis -> output:Tparams; attr=Tparams:type; attr=Tindices:type,allowed=[DT_INT32, DT_INT64]; attr=Taxis:type,allowe

[2019-08-02 02:46] eriklu commented on #31098
Yes， it's right.

[2019-08-02 02:46] JiayiFu commented on #31128
Thanks for your advice! This is the complete code snippet. It just loads a model and then runs many times. If you need the model, I would like to upload it. But I guess the model shouldn't be the reason that the CPU usage raised to more than 100%.

    import os

    import numpy as np
    import tensorflow as tf

    def __test_cnn(pb_path):
      graph_def = tf.GraphDef()
      with tf.gfile.GFi

[2019-08-02 02:47] smartcatdog commented on #30555
ckpt model can be transferred to GraphDef(pb)model by freeze_graph.py in tensorflow,
[https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/freeze_graph.py](url)
or you can do like this depend by your code:
1) load your ckpt model and generate graph
2) use tf.saver to save your model [however, this generate model is made up of saved_model.pb and variables folder]

[2019-08-02 02:50] Jasperty opened #31256 "can contrib.model_pruning speed up old model?"
i wonder if when i prune my old model, can it speed up the old large dense model?

[2019-08-02 03:07] JiayiFu commented on #31128
Is it possible that the effects of `inter` and `intra` depend on the installation way? by pip or building from source?

[2019-08-02 03:42] zhangshexin commented on #31190
I re-executed the config file and set WORKSPACE as required. Now I reported the following error. I changed the environment as follows:
Python: 2.7
Bazel: 0.25.0

Error content:
INFO: Analyzed target //tensorflow/contrib/android:libtensorflow_inference.so (97 packages loaded, 16026 targets configured).
INFO: Found 1 target...
ERROR: /private/var/tmp/_bazel_zhangshexin/7c06dad4510e833a8510d0c387ec29

[2019-08-02 04:04] ankitmaurya001 commented on #27880
@ulorentz
I see that you are using
`converter = tf.lite.TFLiteConverter.from_keras_model_file("/content/drive/My Drive/model_quant_aware.h5")`

Can you try this instead?
[code]

[2019-08-02 04:13] vibhatha commented on #27880
Good suggestion. If you look at the runtime warnings, it definitely shows that the depreciated APIs and suggest using this API.

[2019-08-02 04:24] jvishnuvardhan commented on #30990
I am closing the issue. I can confirm that the issue wasn't reproducible with `tf-nightly-gpu-2.0-preview==2.0.0.dev20190731`. Here is the [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/ba9fbfba12a51072cb59b0ee4b1e5962/untitled323.ipynb) for your reference. Thanks!

[2019-08-02 04:24] #30990 closed

[2019-08-02 04:38] nseidl commented on #31039
From the default nvidia19.02 container, I had to install the cuDNN v7.6.0 because `tf-nightly-gpu==1.15.0.dev20190801` complained about the default installed cuDNN v7.4.2 not being new enough, to match the v7.6.0 that the `tf-nightly-gpu` was built with.

CUDA 10.0, cuDNN 7.6.0, Nvidia Driver 410.104, Python 3.5.2

[code]

Proceeding with `tf-nightly-gpu==1.15.0.dev20190801`, I found there to be n

[2019-08-02 04:51] ankitmaurya001 commented on #27880
@vibhatha
If it is not much of a problem, can you share a simple notebook with 3D input and CONV2D layers
which you are able to compile with the latest edge TPU compiler using post-training quantization?

Will be of great help!!

[2019-08-02 05:07] gadagashwini commented on #31210
@dsgupta, Will it be possible to provide the GitHub link or Colab gist. Thanks!

[2019-08-02 05:10] gadagashwini commented on #31216
@mudassirej Provide us the full executable code snippet. It will indeed help us to move faster. Thanks!

[2019-08-02 05:13] anush-o commented on #31248
Issue replicating with TF version-1.13,please find the gist of [collab](https://colab.research.google.com/drive/12h3Ud8_NI7i2KrSq7fhIre7memfsoriP) .Thanks!

[2019-08-02 05:23] tjcooperforted commented on #26975
pete warden,
Do not see why issue was closed.  I have followed all the suggestions and updates and still get the "exceed virtual memory" error.  Are you saying that I have to use TensorFlow Lite to overcome this problem?
   tjcooperforted

[2019-08-02 05:23] lu-wang-g commented on #31201
The conversion from tflite to edge_tpu seems right. Can you please give an example of how do you invoke the C++ API?

[2019-08-02 05:23] gunan commented on #30701
[code]
These errors point to issues downloading dependencies. Do you happen to be behind a firewall?

[2019-08-02 05:24] yangysc commented on #28229
Yeah, it's very useful, thanks! @VincentStimper

[2019-08-02 05:24] GjyJason opened #31258 "tensorboard error:'tensorflow.python.estimator.api.estimator' has no attribute 'SessionRunHook'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):win 10
- TensorFlow installed f

[2019-08-02 05:28] ravikyram commented on #31031
@suffererofautomation
Can we close this issue since the query is been resolved. Thanks!

[2019-08-02 05:39] sainikhilrai commented on #22994
Same issue even though I am using the same version for freezing and loading.
Any updates??

[2019-08-02 05:40] tawnkramer commented on #30714
this example was helpful for me.
[code]
was missing from this discussion:
https://www.tensorflow.org/lite/performance/post_training_quantization#full_integer_quantization_of_weights_and_activations

without these two lines, the tflite model will convert and write. But edgetpu_compile will segfault with no information.

[2019-08-02 05:41] gadagashwini commented on #29687
@simonsays1980, Did you get a chance to look at @azaks3's comment. Thanks!

[2019-08-02 05:47] anush-o commented on #31242
@mhajiaghayi ,
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-08-02 05:51] el1995 commented on #29878
After all the "stardard" XLA messages in the beginning, I get:

[code]

Please note that I linked TensorFlow to my simulation software OpenFOAM, that's why the errors do not look like TensorFlow errors. However, as mentioned before, the exactly identical simulation continues to run if I set my ```xlaJitSupport``` variable to zero. Another thing I want to point out is that only with ```TF_EnableXLA

[2019-08-02 05:56] ravikyram commented on #31181
@jiarenyf
Please, let us know which version of TensorFlow you are trying to install.Thanks!

[2019-08-02 05:56] el1995 commented on #31199
No I  do the timing with C++'s high resolution clock. Still it is obvious because for 250 subsequent inferences, the pre-built TF 1.14 is faster in 90% of the cases. Indeed I built the version with AVX2 and FMA without XLA. However according to our current second discussion about XLA activation for the C API (see: #29878 ) I must assume that I did not activate XLA because I do not set the TF_XLA_F

[2019-08-02 06:04] jiarenyf commented on #31181
@ravikyram I am trying to install the master-version.

[2019-08-02 06:05] jiarenyf commented on #31181
@ravikyram I am able to compilate the tf_cpu after ```git checkout r.14` ...

[2019-08-02 06:06] Deepak-HpyAda commented on #9778
@shravan-rams Yes bro your Right!!!

[2019-08-02 06:11] jvishnuvardhan commented on #26811
Here is the [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/ccf2b7a935d13a91fe5b4180277000eb/tf_26811.ipynb). Thanks!

Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-08-02 06:11] #26811 closed

[2019-08-02 06:13] gadagashwini commented on #27313
@AaronSpieler Is this still an issue? Can you please provide the complete code to reproduce the issue. Thanks!

[2019-08-02 06:14] jashshah commented on #30306
@ymodak I am able to execute it when `use_multiprocessing` argument is set to `False`.

[2019-08-02 06:40] capilano commented on #31067
@sanjoy I see. and the no of iterations can be dynamic?(only known at run time). Also, can gradients be defined for this op?

[2019-08-02 06:53] stakemura opened #31261 "Build TFLite Model Benchmark Tool with GPU delegate for iOS?"
**System information**
- TensorFlow version (you are using):master repogitory
- Are you willing to contribute it (Yes/No):Yes

**Describe the feature and the current behavior/state.**
I'm trying to build TFLite Model Benchmark Tool with GPU delegate on iOS devices.
@freedomtan showed us the great patches for Android and some samples on #27402. I deeply appreciate his commit.
However it is still di

[2019-08-02 06:54] pandrey-fr commented on #30561
Thank you for the update (and your work in general; Github issues are bound to be a complain space, but there are so many great things about tensorflow that it would be a shame not to mention it). I will keep waiting :-)

[2019-08-02 07:14] srihari-humbarwadi commented on #30866
TF2.0 style for achieving the same. @moshimo2019
[code]

[2019-08-02 07:15] DocDriven commented on #31201
Sure, just note:

When assigning a value to the input/output variable with
` interpreter->typed_tensor<uint8_t>(4)[0] = quant_input;`
`uint8_t quant_output = interpreter->typed_tensor<uint8_t>(5)[0];`

you have to change the input and output IDs to 0 and 1 respectively, if you want to use the tflite model generated by the compiler. Also, using `typed_input_tensor` and/or `typed_output_tensor` resu

[2019-08-02 07:21] rezaee opened #31262 "I have installed "tensorflos-gpu" but it doesn't work(Asus N552VW with 2 graphic cards)"
I just installed `tensorflow-gpu` successfully. I also installed `tensorflow` after that successfully. I tried the following code on `spyder3`:

    from tensorflow.python.client import device_lib
    print(device_lib.list_local_devices())

But the result is:

    [name: "/device:CPU:0"
    device_type: "CPU"
    memory_limit: 268435456
    locality {
    }
    incarnation: 18318063967424845606

[2019-08-02 07:25] lfydegithub commented on #28496
I have the same issue, have you solved it？help me T_T

[2019-08-02 07:27] srihari-humbarwadi commented on #31091
Wrap the op in a tf.keras.layers.Lambda layer
[code]

Output
[code]

[2019-08-02 07:30] colmantse commented on #30981
update, apart from tf.contrib.slim.parallel_reader.get_data_files,

tf.python_io.tf_record_iterator does not support hdfs as well

[2019-08-02 07:38] sbsky commented on #29571
This looks to have been fixed - just gave this a retest with the latest tf 2.0 nightly

[2019-08-02 07:38] #29571 closed

[2019-08-02 07:39] DSMLAKGER commented on #31249
@ymodak :
Same issue for me after fresh python and tensorflow installation (tensorflow 1.14.0 and numpy 1.17.0) from today morning.
had only one numpy installation. but after uninstallation of 1.17.0 and installation of 1.16.4 the Future Warnings are gone. Thank you!

[2019-08-02 08:07] essalahsouad commented on #25193
@freedomtan

i have trained deeplab on custom dataset,but when i visualise my trained model on netron i notice that it contains only sub_2 not sub_7 and resizeBilinear_2 not resize_3 even using this script
[https://github.com/tensorflow/models/blob/master/research/deeplab/local_test_mobilenetv2.sh](https://github.com/tensorflow/models/blob/master/research/deeplab/local_test_mobilenetv2.sh)
i got t

[2019-08-02 08:10] gadagashwini commented on #31192
@kassemyu Will it be possible to execute the code in Colab and attache it here? Thanks!

[2019-08-02 08:21] lujq96 opened #31264 "GradientTape() unable to compute the gradient wrt Keras model inputs"
**System information**
- TensorFlow version (you are using): 2.0.0beta
- Are you willing to contribute it (Yes/No): yes

**Describe the feature and the current behavior/state.**
It is easy to use keras.backend.gradients to compute the gradients of loss wrt model input in a Keras model. However this function has been banned in TF 2.0 and GradientTape now cannot provide this usage, as model input ca

[2019-08-02 08:24] gadagashwini commented on #31249
@jiapei100  Can you please let us know if you are happy to close if no issue persists. Thanks!

[2019-08-02 08:30] LieJiang opened #31265 "No gradients provided for any variable"
tensorflow : 2.0.0-beta1
python : 3.5.2

raise error
[code]
my code blew

[code]

[2019-08-02 08:31] #31123 closed

[2019-08-02 08:32] mwsunshine commented on #28496
sorry I haven't solved it.

[2019-08-02 08:33] paanguin commented on #27781
And I confirmed that it solved the problem. Now tflite_convert managed to convert the following graph without error.

`ipts = tf.placeholder(dtype=tf.float32, shape=(None, 50, 50), name='x')
y = tf.layers.conv1d(ipts, filters=2, kernel_size=1)
res = tf.transpose(y, perm=[0,2,1])
`

[2019-08-02 08:33] gadagashwini commented on #31243
I am able to reproduce the issue on Colab with Tensorflow 2.0.0.beta1. Please see the [gist here](https://colab.research.google.com/drive/1sM__voGXB2NDvCBr4fMl1NJXy3llCZEA). Thanks!

[2019-08-02 08:34] anush-o commented on #31233
@AnberLu ,
In order to expedite the trouble-shooting process, please provide complete code snippet to reproduce the issue reported here. Thanks!

[2019-08-02 08:46] essalahsouad commented on #23747
@ajinkya933

i have the same problem as you, i even don(t know if this a problem my model contains sub_2 instead f sub_7 and ResizeBilinear_2 instead of ResizeBilinear
i tried to use the converted tflite model on ios with tflite gpu delegate but i got a slow resualt compared to the original deeplab model
`nference_input_type=FLOAT --input_arrays=sub_2 --input_shapes=1,257,257,3 --output_arrays=Res

[2019-08-02 08:48] #31249 closed

[2019-08-02 08:48] houchengbin commented on #30191
It works for me. Thanks.

[2019-08-02 08:50] anush-o commented on #31227
@jichangsheng ,
Can you please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.Thanks!

[2019-08-02 08:57] essalahsouad commented on #23747
@SanthoshRajendiran

i don't get it what do mean by that ??
my trained model contains sub_2 instead of sub_7 and resizeBilinear_2 instead of resizeBilinear_3
and i converted to tflite for integrated it on mobile but the result was slow comparing to the original  TensorFlow model
i don't know if the problem was because of my model architecture ??

[2019-08-02 09:00] ravikyram commented on #31241
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the code snippet to reproduce the issue. If you are unclear what to include see the issue template displayed in the Github new issue [template](https://github.com/tensorflow/tensorflow/iss

[2019-08-02 09:02] zaccharieramzi commented on #26989
Ok I see where I was mistaken.

Actually, the current `fftshift` and `ifftshift` work perfectly even without specifying the shape completely beforehand.
The problem appeared for me because I wanted to use those as part of a keras functional API Model, and therefore use a `Lambda` layer around them.

A minimal (failing) example would be:
[code]

which gives: `TypeError: unsupported operand type(s)

[2019-08-02 09:02] paanguin commented on #27781
This was my test code.
[code]

[2019-08-02 09:03] lfydegithub commented on #28496
but i think that issue is very impotent and clear.

[2019-08-02 09:04] rh-ia commented on #30551
OS:
Red Hat Enterprise Linux 7.6

Hi @CJMenart,

Thanks, indeed pulling latest tf2-nightly helped resolving `RuntimeError: Collective ops must be configured at program startup`.

However now the script gets stuck like below, and won't start training, any idea?:

`Instructions for updating:
If using Keras pass *_constraint arguments to layers.
I0802 10:09:39.379140 47982668778688 distribute_coordin

[2019-08-02 09:04] gadagashwini commented on #31240
Was able to replicate the issue with Tensorflow 2.0.0.beta1 on Colab. Please take a look at colab [gist](https://colab.research.google.com/drive/1B9UwKkZRr2WweASkcF0iWJukS0i6pVPY). Thanks!

[2019-08-02 09:05] MartinNowak commented on #31175
Well, our actual model has a train and eval step functions, and this refactoring was the result of reusing the same code for metrics computation. Passing both the model and a `@staticmethod` function is indeed the chosen workaround.

The performance argument seems mood, how would argument comparison play a measurable role w.r.t. executing an autograph function.

[code]

But as mentioned I'm not po

[2019-08-02 09:11] gadagashwini commented on #31234
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-08-02 09:13] pandrey-fr commented on #31265
Hi,

_Fixing the GradientTape_

The main issue is that you are using the `GradientTape` wrong. The schematic correct way is the following:
[code]

Additionally, in your case, you compute two intertwined losses and thus need to compute two sets of gradients (as you correctly sketched it). By default, `GradientTape` is non-persistent, i.e. it can only compute gradients once, after which it releases

[2019-08-02 09:18] jiapei100 opened #31266 "undeclared inclusion(s) in rule '//tensorflow/lite/toco/python:toco_python_api'"
**System information**
- OS Platform and Distribution: 19.04
- TensorFlow installed from (source or binary): 2.0beta1
- TensorFlow version: 2.0beta1
- Python version: 3.7.3
- Bazel version: 0.26.0
- GCC/Compiler version (if compiling from source): 8.3.0
- CUDA/cuDNN version: 10.1/7.6.2
- GPU architecture: 5.2

**Describe the problem**
[code]

Any further suggestions?

[2019-08-02 09:20] gadagashwini commented on #31231
@etsygankov Will it be possible to provide the minimal code snippet which replicates the reported issue. Thanks!

[2019-08-02 09:23] ravikyram commented on #31235
@SumNeuron

In order to expedite the trouble-shooting process, please provide full code snippet to reproduce it on our environment.Thanks

[2019-08-02 09:25] #30596 closed

[2019-08-02 09:35] gadagashwini commented on #31228
Could reproduce the issue with tf-nightly and tensorflow 1.14.0 on Colab. Please take a look Colab [gist](https://colab.research.google.com/drive/1gV0AgZsYTOLK1bDsQxG1TZU5OGwbxYhM) here. Thanks!

[2019-08-02 09:39] rezaee opened #31267 "How to configure Tensorflow to use a specific GPU?"
These are the activated devices that I have:

    [name: "/device:CPU:0"
    device_type: "CPU"
    memory_limit: 268435456
    locality {
    }
    incarnation: 5415837867258701517
    , name: "/device:GPU:0"
    device_type: "GPU"
    memory_limit: 3198956339
    locality {
      bus_id: 1
      links {
      }
    }
    incarnation: 12462133041849407996
    physical_device_desc: "device: 0, nam

[2019-08-02 09:48] gadagashwini commented on #31225
@HymEric Can you please tell us, where exactly the link is present? Thanks!

[2019-08-02 09:53] gadagashwini commented on #31219
@meiwuzhao Please provide the information asked in [Template](https://github.com/tensorflow/tensorflow/issues/new?template=40-tflite-op-request.md). Thanks!

[2019-08-02 09:56] ravikyram commented on #31232
@abdou31
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.
I am not able to open the link you have provided.Request you to share again.

Please, see the below link if it helps you.Thanks!
https://www.tensorflow.org/tutorials/images/transfer_learning

[2019-08-02 09:56] fooSynaptic commented on #2734
for ngram model this will yield tremendous headaches exception for ngram-map was store in the model parameter, you cannot even delete the related tuples.

[2019-08-02 10:05] LieJiang commented on #31265
I'm very much obliged to you. @pandrey-fr ，but still the same problem.
[code]

[2019-08-02 10:17] DocDriven commented on #31201
I realized that I get sporadically different errors when executing the binary. Most of the time it throws the error I reported in the original post, but sometimes I get the following:

[code]

I am literally executing the exact same binary over and over again, and get two different error messages. Maybe this helps to track down the bug?!

[2019-08-02 10:17] sumitpai commented on #30814
My bad.. I had not verified the numpy equivalent. I was expecting it to be much lower in magnitude (like 1e-30 or so for float 32 but it is of the order of 1e-7 for float 32 in both tf and np).

[2019-08-02 10:21] ravikyram commented on #31226
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the code snippet to reproduce the issue. If you are unclear what to include see the issue template displayed in the Github new issue [template](https://github.com/tensorflow/tensorflow/iss

[2019-08-02 10:24] HymEric commented on #31225
![image](https://user-images.githubusercontent.com/26487821/62362185-0906df80-b54f-11e9-998e-17d4e6ffcf4d.png)

[2019-08-02 10:26] HymEric commented on #31225
In Chinses language.
![image](https://user-images.githubusercontent.com/26487821/62363970-f8586880-b552-11e9-8828-7241ab7d6877.png)

[2019-08-02 10:42] pzobel commented on #31267
Hi,
TensorFlow automatically places operations on a GPU, if possible. As you only have one GPU in your system, it is used by default.
Find more information here: https://www.tensorflow.org/guide/using_gpu
Make sure you have TensorFlow GPU installed:
https://www.tensorflow.org/install/gpu

[2019-08-02 10:44] #31031 closed

[2019-08-02 10:47] pandrey-fr commented on #31265
That is due to the aforementioned inversion between the `fake_logits` and `real_logits`.
It should be:

[code]

Otherwise the `g_loss` is computed on the real image's processing by the discriminator ; since the generator has, in this erroneous case, nothing to do with the loss, it is just logical that no gradients could be computed.

[2019-08-02 10:50] rezaee commented on #31267
@pzobel : Hi and thank you,
But I have two graphic cards. The first and default card is `intel hd 540` and the second card that I want to use is `Geforce GTX 960M`.

[2019-08-02 11:07] pzobel commented on #31267
Your Intel HD 540 cannot be utilized by TensorFlow. TensorFlow requires NVIDIA GPUs with CUDA Compute Capability of at least 3.5 (https://www.tensorflow.org/install/gpu). This requirement is only met by your GTX 960M.

[2019-08-02 11:08] abdou31 commented on #31232
+ Operating system: Windows 10 x64
+ Tensorflow version: binary 1.13.1
+ Model: Resnet

[2019-08-02 11:10] rezaee commented on #31267
@pzobel , Thanks again!
So, how can I find if I am using GPU or CPU? Also how can I switch between them?
I feel using GPU reduced my speed instead of increasing it!

[2019-08-02 11:13] anush-o commented on #31245
@karkadad ,
Can you please go through the link of similar [issue](https://github.com/tensorflow/tensorflow/issues/9487).Thanks!

[2019-08-02 11:15] anush-o commented on #31236
@jannik-w ,
Can you please try using different Python IDE and let us know your feedback.Thanks!

[2019-08-02 11:27] maracuja-orange commented on #31171
Thanks for your answer,
but I tried it and I still get the same error

[2019-08-02 11:28] ziky90 commented on #30357
@sedghi interesting, thank you, but unfortunately in my case workaround using `tf.concat`, at least as `Lambda` layer does not work for me. I'm still getting the same error message.

[2019-08-02 11:29] anush-o commented on #31218
@yichuxue ,
In order to expedite the trouble-shooting process, please provide complete code snippet to reproduce the issue reported here.We are not able to find the exact code from the link given to reproduce the issue. Thanks!

[2019-08-02 11:35] ravikyram commented on #31214
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the code snippet to reproduce the issue. If you are unclear what to include see the issue template displayed in the Github new issue [template.](https://github.com/tensorflow/tensorflow/is

[2019-08-02 11:39] SumNeuron commented on #31235
@ravikyram ask and you shall receive, link to colab where you can recreate the error:

https://colab.research.google.com/drive/1TDYeqKE16jcAdnAAeFT4KYyESisizibq

[2019-08-02 11:42] yichuxue commented on #31218
@anush-o Thanks. The problem has been solved.
The reason is that the tensorflow version of training is not consistent with the tensorflow version of composing pb files. The final successful version:
`
Tensorflow = = 1.13.1
Tensorflow - gpu = = 1.13.1
Tensorflowjs = = 0.8.6
`

[2019-08-02 11:50] gadagashwini commented on #30814
@sumitpai Closing the issue since it is answered. Thanks!

[2019-08-02 11:50] #30814 closed

[2019-08-02 11:53] vibhatha commented on #27880
@ankitmaurya001
I will try to compile one snippet.

[2019-08-02 11:55] gadagashwini commented on #31253
Was able to reproduce the issue on Colab with Tf-nightly-gpu version. Please have a look at Colab [link](https://colab.research.google.com/drive/1udDjMNZ0AkbApQLy43fvQpXTvIih4Qlf). Thanks!

[2019-08-02 12:25] ksevta commented on #28206
I am facing the same issue while converting model to TFLite. can you please tell how you solved it?

[2019-08-02 12:26] forReason opened #31269 "no such file or directory -Vs Build tools 2017 no longer available"
**System information**
- OS Platform and Distribution: Windows Server 2016
- TensorFlow installed from: trying to install from source
- TensorFlow version: Current/Master
- Python version: 3.6
- Bazel version (if compiling from source): 0.26.1
- CUDA/cuDNN version: CPU only
- GPU model and memory: CPU only

**Describe the problem**
When trying to build tensorflow with bazel, the Visual Studio 2017

[2019-08-02 12:29] memeda opened #31270 "tf.data.Iterator complain "Function tf_data_structured_function_wrapper_xxxx is not defined.""
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **YES**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  CentOS release 6.3 (Final)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: -
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use comma

[2019-08-02 12:31] gadagashwini commented on #31269
@forReason Please take a look at the [Microsoft website](https://visualstudio.microsoft.com/vs/older-downloads/) for VS 2017. Let us know how it progresses. Thanks!

[2019-08-02 12:34] forReason commented on #31269
https://my.visualstudio.com/Downloads?q=visual%20studio%202017&wt.mc_id=o~msft~vscom~older-downloads

thank you, this link helped.

[2019-08-02 12:34] #31269 closed

[2019-08-02 12:43] CJMenart commented on #30551
Sadly, no. I'm really behind on debugging and raising issues about distributed training...I think I have seen that error before. Seems like every time I change something in my distributed training script I get a new message I've never seen before. So far it's kind of a mystery.

[2019-08-02 12:54] gadagashwini commented on #31269
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=31269)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=31269)

[2019-08-02 12:59] ravikyram commented on #31250
I have tried on Jupyter notebook with TF version 1.15.0-dev20190802 and 1.14 was able to reproduce the issue. Please, find the zip file. Thanks!
[protobuf.tar.gz](https://github.com/tensorflow/tensorflow/files/3461295/protobuf.tar.gz)

[2019-08-02 13:14] luvwinnie commented on #29189
does this already fixed?

[2019-08-02 13:15] ChristofPetig opened #31271 "[tflite][micro] [patch] Incorrect arguments to ComputePaddingHeightWidth, causing wrong offsets in maxpool implementation"
With a 1x4 kernel on a one dimensional tensor the max pool result was always minimum (0 in my case), because no input data was selected.

See padding.h: TfLitePaddingValues ComputePaddingHeightWidth(int stride_height, int stride_width, int dilation_rate_height, int **dilation_rate_width**, int in_height, int in_width, int filter_height, int filter_width, TfLitePadding **padding**, int* out_height,

[2019-08-02 13:26] aaronlyt commented on #28924
Any solution here?

[2019-08-02 13:27] aaronlyt commented on #28924
Any solution here?

[2019-08-02 13:35] csachs opened #31272 "[TF2] UnicodeDecodeError when using tf.saved_model.save"
**System information**
- Have I written custom code: Yes.
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.0.0-dev20190731
- Python version: 3.6.7
- CUDA/cuDNN version: 10.1
- GPU model and memory: GTX 1080 Ti

**Describe the current behavior**
Code crashes with following exception:
[code]

This seems to be a regression; I

[2019-08-02 13:36] Uiuran commented on #31197
@jvishnuvardhan i will be opting to open a RFC in the case that this features requires any changes in the presente APIs/SIGs  or i will be filling a SIG. That's my view now, feel free to re-open if you think that there is more discussion on the topic i issued.

Feel

[2019-08-02 13:36] #31197 closed

[2019-08-02 13:52] ravikyram commented on #31235
I have tried on colab with TF version 1.14 ,TF-nightly and 2.0.0.dev20190731 was able to reproduce the issue. Please, find the [gist](https://colab.research.google.com/drive/1a_GykZMBHIn7wE9O4lKOvPmzOUIL0My_) here.Thanks!

[2019-08-02 13:56] swierh commented on #17564
This functionality already exists in [tf.tensordot](https://www.tensorflow.org/api_docs/python/tf/tensordot), which works like the [numpy.tensordot](https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.tensordot.html) which does state the functionality in the documentation.

Code for outer product is the following:
[code]
(akin to `np.tensordot(tensor_a, tensor_b, axes=0)`

Documentin

[2019-08-02 14:11] impjdi commented on #31261
@miaout17

Could you help @stakemura set up the TFLite model benchmark for iOS?  It's a domain I'm not familiar with...

[2019-08-02 14:17] de-core opened #31273 "[TF2.0] Use Adam and GradientTape() to optimize own function wrt to input (no keras model)"
**Optimization**
I want to optimize my own loss function with adam optimizer of keras, with respect to the input. Unfortunately this doesn't work with GradientTape().

**Executed Code with TF2.0**
[code]

**Current behavior**
Code gives error if `opt.apply_gradients(zip(gradients, input))` is called.
TypeError: Tensor objects are only iterable when eager execution is enabled. To iterate over this

[2019-08-02 14:43] jasoriya commented on #29791
Not if we are running on TPU, which is when this error arise. TPU uses `tensorflow `and not `tensorflow-gpu`

[2019-08-02 14:44] talipini opened #31274 "Large Batch training throws memory allocation errors in tf.keras and Eager Mode but works fine when using keras imports"
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.2 LTS
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Not Relevant.
TensorFlow installed from (source or binary):
TensorFlow version (use command below): tf-nightly-gpu 1.15.0.dev20190

[2019-08-02 14:55] dannylwe opened #31275 "[TF 2.0 API Docs] tf.io.extract_jpeg"
## URL(s) with the issue:
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/io/encode_jpeg

## Description of issue (what needs changing):
- No link to github source code provided
- No `Raises` provided in the description
- No usage example

### Correct links

No link provided

### Raises listed and defined

Raises are not defined/listed.

### Usage example

There is no usage example

##

[2019-08-02 15:10] MuhanguziDavid opened #31276 "[TF 2.0 API Docs] tf.nn.log_softmax"
##  URL(s) with the issue:
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/nn/log_softmax

## Description of the issue (what needs changing):
- No errors defined
- No visuals

### Are the errors defined?
- There are no errors defined

### Visuals, if applicable
- There are no visuals available. I think that visuals are needed to clarify the content.

[2019-08-02 15:12] mwinel opened #31277 "[TF 2.0 API Docs] tf.keras.backend.random_uniform"
## URL(s) with the issue:
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/backend/random_uniform

## Description of issue (what needs changing):
The function has no usage example and there are no errors raised.

### Raises listed and defined
No raises listed or defined.

### Usage example
No usage example

### Submit a pull request?
No.

[2019-08-02 15:12] qlzh727 commented on #29189
Yes.

[2019-08-02 15:16] sdll commented on #27679
Any updates on this?

[2019-08-02 15:18] acollins1331 commented on #28512
Just wanted to leave a comment on this, that with the new 2.0 API, this can be caused by using a separate installation of keras than the one included in tf 2.0. Check and make sure your backend is not coming from import Keras but is coming from tf.keras.backend, solved it for me.

[2019-08-02 15:28] novog commented on #29687
I didn't open this ticket, but I did try to create a simple test in TF 2.0 that addresses @azaks3's points. To allow the `StaticHashTable` to work efficiently, I batched the inputs in that mode in groups of 1000:

    keys = range(1,11)
    values = [0, 1, 1, 0, 1, 0, 1, 0, 0, 0]
    randomizer = tf.random_uniform_initializer(1, 10, 0)

    py_dict = dict(zip(keys, values))
    py_input = randomiz

[2019-08-02 15:30] sanjoy commented on #31067
Yes.

Just in case we were miscommunicating: XLA does not do gradients itself.  Gradients are computed over TF graphs.  So the XLA lowering has no bearing on whether the gradient can be defined or not.

[2019-08-02 15:35] sanjoy commented on #31199
No (there are other ways to enable XLA).  You can know for sure by setting `--v=1` and looking for logging messages from xla_compilation_cache.cc saying that we compiled a cluster.

But XLA is not on by default, so to enable it you or a library you're using will have to have done something explicit.

[2019-08-02 15:37] sanjoy commented on #29878
You can double check whether XLA is kicking in (or not) this way: https://github.com/tensorflow/tensorflow/issues/31199#issuecomment-517746363

[2019-08-02 15:37] omoindrot commented on #27680
For future reference, this behavior was fixed in this commit: e7206a7d8efceda25bce5a530fc4e79a5582be13

Now when `reshuffle_each_iteration=True`, iterating over the dataset multiple times in eager mode will work as expected.

[2019-08-02 15:38] KabohaJeanMark opened #31278 "[TF.2.0 API Docs] tf.train.list_variables"
## URL(s) with the issue:
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/train/list_variables

## Description of the issue (what needs changing):
Raises for exceptions to deal with any errors and a few drawings to be added to make it easier to understand.

### Raises listed and defined
No, the errors are not listed and returned.

Are there currently visuals? If not, will it clarify th

[2019-08-02 15:40] johnkegz opened #31279 "[TF 2.0 API Docs] tf.tuple"
## Documentation contributor guide:
https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/tuple

Please provide a link to the documentation entry, for example:
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/MyMethod

## Description of issue (what needs changing):
### Correct links
The GitHub link to

[2019-08-02 15:54] jannik-w commented on #31236
Hi @anush-o,

I think the problem emerges when a debugger of any IDE automatically evaluates all attributes of a tensor, including the private ones. So I am not sure what reproducing the problem in another IDE would accomplish.

There might be two ways to move forward:
(1) Remove either the warning or the deprecated attribute as the disadvantages outweigh the advantages for some users of one of th

[2019-08-02 15:57] jdduke commented on #29910
One thing to note is that is that our legacy, multi-threaded floating point kernels are notoriously sensitive to unpinned execution, and generally work poorly with Android's thread scheduler.

We've been working on a [new gemm backend](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/kernels/BUILD#L193) which largely resolves this, and works *much* better with the native Androi

[2019-08-02 16:00] jdduke commented on #31190
Can you try using the following build command?

[code]

[2019-08-02 16:01] capilano commented on #31067
@sanjoy I was wondering about gradients in general for an op like this which involves a loop.

[2019-08-02 16:02] rezaee opened #31281 "Running Tensorflow on CPU is faster than running it on GPU"
I have an ASUS n552vw laptop that has a 4GB dedicated Geforce GTX 960M graphic card. I put these lines of code in the beginning of my code to compare training speed using GPU or CPU, and I saw it seems using the CPU wins!

For GPU:

    import os
    os.environ['CUDA_VISIBLE_DEVICES'] = '0'

For CPU:

    import os
    os.environ['CUDA_VISIBLE_DEVICES'] = '-1'

I have installed CUDA, cuDNN, tensor

[2019-08-02 16:08] dsgupta commented on #31210
Hi, [https://colab.research.google.com/gist/dsgupta/7114aa6e13b4f33264ccf3758d169bab/test.ipynb](url)

[2019-08-02 16:08] MiladShahidi commented on #31248
Thanks for getting back. Do you mean you were not able to replicate the problem with TF 1.13?

Here is (part of) what I get when I run the collab you created.

[2019-08-02 16:15] helloIAmPau opened #31282 ""TypeError: expected str, bytes or os.PathLike object, not _io.BytesIO" when trying to restore a model from a byte stream in tensorflow 2.0.0-beta0"
in tensorflow version 2.0.0-alpha0 I was able to serialize and deserialize a model in memory by using the following code:

[code]

from tensorflow 2.0.0-beta0, instead, the `restoreModel` function throws the error:

[code]

Did you remove the support to byte stream or is this a bug?

Thanks

**System information**
- Have I written custom code (as opposed to using a stock example script provided in

[2019-08-02 16:18] asispatra opened #31283 "Tensorflow graph execution does not give expected result."
I am using `Tesla V100-PCIE-16GB` GPU on my system and using tensorflow version 1.13.1 .
I have two python example script. `example-1.py` runs fine. `example-2.py` contains same statements as `example-1.py` but multiple times. `example-2.py` fails with GPU OOM error. Because it transfer all the matrix data to the GPU initially.

### example-1.py
[code]

### example-2.py
[code]

### Other Details:

[2019-08-02 16:40] sanjoy commented on #31067
If you're asking what the gradient of a `ConvexHull` op should do, then I'm not the right person to answer this.

[2019-08-02 16:50] kristofgiber opened #31284 "tf.2 VAE example iteration time same despite increasing number of GPUs"
- Have I written custom code:
No. I am using the copy of the code provided in the VAE tf2 MNIST example (https://www.tensorflow.org/beta/tutorials/generative/cvae). The only change I made: I commented out lines related to IPython module which is not used as I am using it without Colab, directly running on gcloud.

- OS Platform and Distribution:
Linux Ubuntu 16.04 installed on Google Cloud compute

[2019-08-02 16:54] el1995 commented on #31199
How can I set ```--v=1```?

[2019-08-02 16:59] ali-raza-tariq commented on #31214
Platform: Running on top of 4-node (baremetal) Kubernetes Cluster
Operating System/ Architecture:  Ubuntu 18.04.2 LTS/ x86_64
Tensorflow version: 1.8  (used pip install to setup pod environment)
Kubeflow version: v0.6.0

`tfjob.yaml` - manifest file to launch the job
[code]
`steps to recreate the issue`
Installing kubeflow already installs the istio-system namespace. Create a new namespace to laun

[2019-08-02 17:08] aaroey commented on #31244
@sgambient not sure if I understand your description, are you saying that in `create_inference_graph()` we need to manually provide *all* the outputs using the `outputs` parameter? If that's the case can you use SavedModel as input and set `input_saved_model_dir` to your SavedModel dir? In that way we don't need to specify the inputs/outputs since the SavedModel proto already has everything.

[2019-08-02 17:10] aaroey commented on #31244
Also since SavedModel is now the standard format and your request is about TF 1.x with Session (and maybe about GraphDef, based on my understanding), so mark as contributions welcome.

[2019-08-02 17:10] chenyuZha commented on #28690
@Dayananda-V @harsh020goyal
 ``TFLite_Detection_PostProcess`` appears because when you frozen your graph, you use ``export_tflite_ssd_graph.py.py`` instead of ``export_inference_graph.py``, so that your input arrays become **normalized_input_image_tensor**, and your output arrays become **'TFLite_Detection_PostProcess','TFLite_Detection_PostProcess:1','TFLite_Detection_PostProcess:2','TFLite_Detec

[2019-08-02 17:10] mazlumtanrikulu commented on #25054
Firstly, you should install and setup the anaconda via [anaconda](https://www.anaconda.com/distribution/#download-section) and then follow these steps via [TensorFlow](https://www.tensorflow.org/install/pip). Finally, you can use TensorFlow that is version 1.14 on python 3.7

[2019-08-02 17:18] bionicles commented on #30925
@edloper

just thinking about interfaces, we could use None, but then we don't have a good value for **Size**, which is sometimes needed

potentially what would work would be
to basically make 1 interface object per agent
and the interface creates "shape variables"

maybe it's not necessary but if we want to map from code_shape -> (None, 3), how do we know what to reshape to?
i guess we just do (-

[2019-08-02 17:26] andres0820m opened #31285 "two neural networks running at the same time GPU-Util drops"
I'm running two neural networks on the same process, one depends  on the other. the first one is an image classifier (YOLO) the other one is a Lstm that depends on the deteccions of the yolo, when I run more than one YOLO network everythings goin right, the util of the gpu is hight, same when I run more than one Lstm, the problem is when the two networks runs together, the gpu-uils drops and the a

[2019-08-02 17:36] jsimsa commented on #27679
This is a limitation of `py_function` which only supports a list of `Tensor` inputs and I don't need see a straightforward way to extend its implementation to support dictionaries.

FWIW, you could deconstruct the dictionary structure ahead of invoking the `py_function`:

[code]

[2019-08-02 17:46] sgambient opened #31286 "ValueError: Cannot add function 'TRTEngineOp_0_native_segment' because a different function with the same name already exists."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-08-02 17:46] robertlugg commented on #31250
Thanks for taking this on.  I suspect it should actually be in the https://github.com/protocolbuffers/protobuf project, but it would have been hard to create a test case which didn't use `tf.train.Example`

[2019-08-02 17:49] jvishnuvardhan commented on #26707
@TahaK There are approaches (`to_json`, `clone_model`) other than `get_config` to save only model architecture. Please check the [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/65497d8e97423ea7aac128da24ddd3b8/tf_26707.ipynb) that uses `to_json` and `clone_model` approaches to save architecture of the model. Thanks!

[2019-08-02 17:51] svobora opened #31287 "Optimizer (Adam) does not propagate hyperparameter update on first update"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2019-08-02 17:56] sgambient commented on #31244
I tried the SavedModel approach, however  because of the complexity of  the model ( includes multiple dis-jointed sub-graphs), it was not possible  build a TF-TRT engine node for the whole graph.    MetaGraph approach worked for converting one of the sub-graphs into TR-TRT engine node, and the rest of the sub-graphs in pure TF.    Even there , I notices some some disjointed sub-graph in pure TF do

[2019-08-02 17:59] svobora commented on #31287
Well actually to get it working, first a getter must be called for `adam.learning_rate` and only then the python-typed variables are replaced with tf.Variable variables and one can use the setter.

[2019-08-02 18:08] novog commented on #27679
In a related feature request (Support Sparse Tensors in py_function, #27679), @alextp noted:

Could the same mechanism provide a path to implementing dictionary handling by `py_function`?

[2019-08-02 18:15] aaroey commented on #31244
Do you have code snippets and model data that can reproduce what you said?

[2019-08-02 18:24] jsimsa commented on #27679
Not until:
a) `CompositeTensor` inputs are supported to `py_function`
b) a subclass of `CompositeTensor` exists that can represent a dictionary

[2019-08-02 18:29] jeffbiehle commented on #22794
Thanks everyone. 10.1 toolkit kept failing with the same error, but 10.0 worked like a charm.

[2019-08-02 18:41] jtang7 commented on #31252
@rchao

[2019-08-02 18:54] sanjoy commented on #31199
I'm not totally sure how it works in open source, but I'd expect you can pass it as a command line arg.

[2019-08-02 19:15] MattConley commented on #30736
Looks like my PR was successfully merged; closing the issue.

[2019-08-02 19:15] #30736 closed

[2019-08-02 19:23] NathanHowell commented on #29574
it looks like there is a new way (in TF 2.0?) to register gradients that works in eager mode:

[code]

[2019-08-02 19:29] #29863 closed

[2019-08-02 19:38] dbuades commented on #29506
Masking support for LSTM and GRU with CuDNN has now been implemented [here](https://github.com/tensorflow/tensorflow/commit/c33f1d1a6186ab0f4a9ca3b9af3a7affc85f251d) by @qlzh727
Thanks!

[2019-08-02 19:56] karkadad commented on #31245
This is not a memory allocation issue and therefore not related to this issue: https://github.com/tensorflow/tensorflow/issues/9487. Consider the memory profile for a single node run:
![MemProfile](https://user-images.githubusercontent.com/26637358/62395028-e9a68d00-b523-11e9-83a4-1cf32262e9ba.PNG)
There are no issues running on a single node/single worker and as you can see, there is plenty of me

[2019-08-02 20:09] xuevin opened #31291 "tf.keras.optimizers.SGD with momentum does not fit when model metrics are provided"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 16.04.4 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.14
- Pytho

[2019-08-02 20:31] beasteers commented on #10837
Wait, sorry to be that person, but I'm confused abt how to do this (with keras specifically, meaning that I'm not trying to touch `sess/feed_dict`).

Is this just what's happening with `tf.keras.backend.function`? Or is there some way to do `a_placeholder.set_value(tensor)` or `a_placeholder.set_default(tensor)` or something similar

[2019-08-02 21:04] jsimsa commented on #20930
In TF 1.X, the state of the cache is tied to the state of the iterator and re-initializing the iterator will recreate the state of the iterator (including the cache state). We do not plan to change the semantics of "reinitialize" w.r.t. to the state of the iterator.

Having said that, I am planning to shortly submit a PR that, in TF 2.0, will decouple the cache state from the iterator state. In TF

[2019-08-02 21:43] ymodak commented on #28010
Closing this issue since its fixed in latest tf nightly build '2.0.0-dev20190802'
Thanks!

[2019-08-02 21:43] #28010 closed

[2019-08-02 21:51] #31137 closed

[2019-08-02 21:55] ymodak commented on #26487
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-02 21:55] #26487 closed

[2019-08-02 21:58] #20930 closed

[2019-08-02 22:01] jvishnuvardhan commented on #17985
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-08-02 22:01] #17985 closed

[2019-08-02 22:02] ymodak commented on #26835
This is fixed in latest tf-nightly build '2.0.0-dev20190802'.
Thanks!

[2019-08-02 22:02] #26835 closed

[2019-08-02 22:10] ymodak commented on #19303
This is fixed with latest tf-nightly build. Thanks!

[2019-08-02 22:10] #19303 closed

[2019-08-02 22:12] jvishnuvardhan commented on #19864
@Chasearmer Is this still an issue with the latest TF versions? If yes, can you provide a standalone code to reproduce the issue? Thanks!

[2019-08-02 22:25] ymodak commented on #31171
@rsepassi Can you please take a look?
https://www.tensorflow.org/beta/tutorials/images/segmentation
Apparently windows users cannot download the dataset with this
[code]

[2019-08-02 22:26] pooyadavoodi commented on #30717
NVIDIA container 19.07 is compatible with TF 1.14.

[2019-08-02 23:05] sgambient commented on #30779
Hi, tried it on 1.14 and get the following error.

[code]

[2019-08-02 23:07] haozha111 commented on #31115
Awesome! We are going to support 'nchw' in the future, so hopefully won't need to do this all on your own. Thanks!

[2019-08-02 23:26] jhseu commented on #30981
@colmantse Is your Hadoop cluster running in secure mode? You may also need to pass the Kerberos ticket cache env var:
https://github.com/tensorflow/examples/blob/master/community/en/docs/deploy/hadoop.md

[2019-08-03 00:52] mhong commented on #29039
I agree with the assessment from @alextp, and would also like to get expert opinion from TF TPU engineers. @aaroey, what do you think? Thanks.

[2019-08-03 01:06] ChunCheong commented on #14171
I am facing the same issue and somehow google has brought me here...
I saw OOM error when trying to apply Conv2D even the input and output size is well below the ram i have on GPU.
I also see setting autotune has reduced the peak memory by a bit.

Any more recent advice? Many Thanks!

Some info:
tensorflow: 1.14
GPU:Titan XP
cuda: 9.0

[2019-08-03 01:17] cooijmanstim opened #31297 "tf.gradients with unconnected_gradients="zero" returns wrong shape for unconnected resource variables"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux 5.2.1-arch1-1-ARCH x86_64
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v1.14.0-rc1-22-gaf24dc91b5
- Python version: 3.6.8
- CUDA/cuDNN version: N/A
- GPU model

[2019-08-03 01:41] sgambient commented on #30779
Same crap out on tensorflow/tensorflow:devel-gpu

[code]

[2019-08-03 02:21] rjurney commented on #26816
@alextp What replaced it? This is really hard to find!

[2019-08-03 02:24] XiaoqianSun0104 commented on #30191
It works for me. thank you.

It works for me. Thank you.

[2019-08-03 02:25] aqmalafiq commented on #31171
im having the same problem

[2019-08-03 02:54] colmantse commented on #30981
hi, I would double check and come back after the weekend. thanks.

[2019-08-03 03:54] nguerinjr opened #31298 "Serialization problems in keras when using add_loss or '.tf' extension for saving"
**System information**
- WSL Win10 Ubuntu 18.04 (it also happens in a real ubuntu 18)
- tf-nightly-gpu-2.0-preview==2.0.0.dev20190802 (happens in cpu and gpu)
- python3.7

**Describe the current behavior**

I have a simple test to serialized and deserialize a model which has no compiled loss, just one added with add_loss.

**Describe the expected behavior**

Correct serialization and deserializati

[2019-08-03 04:37] HLSS-Hen opened #31299 "Lower performance when use multi gpu"
**System information**
-Windows 10 1903 workstation x64
-ASRock X570 Taichi
-AMD Ryzen 3700x
-Corsair 8GB LPX 3000MHz RAM x4 (32GB Tot.)
-GIGABYTE RTX 2080ti Turbo 11G x2 (with out nvlink)
-SAMSUNG PM981 256GB NVMe SSD For System and DataSet
-Cuda 10.0.130, cuDNN 7.6.0
-python 3.7.4 x64

**Describe the current behavior**
When I use three examples from doc about train keras model with multi gpus, i

[2019-08-03 04:39] nguerinjr opened #31300 "Problem when saving/loading keras model with '.tf' extension and stateful ConvLSTM2D as a layer"
**System information**
- WSL Win10 Ubuntu 18.04 (it also happens in a real ubuntu 18)
- tf-nightly-gpu-2.0-preview==2.0.0.dev20190802 (happens in cpu and gpu)
- python3.7

**Describe the current behavior**

I have a simple test to serialized and deserialize a model which has a stateful LSTM. The 'tf' version returns an error, the 'h5' version works ok.

**Describe the expected behavior**

Correct

[2019-08-03 04:45] HLSS-Hen commented on #31299
Some details:
-When use mult_gpu_mode, the dataset batch doesn't distribute to two cards. The warning info shows it just copy one to another.
-In mult_gpu_mode, gpu0 cudas use about 50% and 7% to gpu1. When use single card it used about 97%.

[2019-08-03 05:15] forReason commented on #31281
Im getting a 60% performance "boost" without GPU!
Im training on 2 different systems.
My server, without a GPU:
- Intel Core i5 6500T (4x@2.5 ghz) Notebook processor
- Network attached storage for training data and output
- 16 Gb DDR 3 Ram

My Desktop PC:
- Intel core i7 3770k (4x3,5-4 ghz)
- Nvidia GTX 970
- 32gb ddr3 ram
- Same training data on NAS

Now interestingly 3000 epochs, 100000 records

[2019-08-03 05:54] samhodge opened #31301 "nsync ~per_thread() issue causing SIGSEGV in glibc __run_exit_handlers exit.c"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): I have linked

[2019-08-03 05:54] capilano commented on #31067
@sanjoy Thanks

[2019-08-03 08:01] jiarenyf commented on #31181
@ravikyram In fact, I can build from source when using docker image on a ubuntu18.04 machine; when I change to a mac OS machine, the error occurs.

[code]

[2019-08-03 08:12] dimtass commented on #30953
Today morning I thought why not build tflite-micro on my workstation and test it with the python implementation. I thought that since my workstation doesn't have any GPU acceleration and only the CPU is used, then I should get quite similar results.

At this point I need to mention that I'm not aware of the internal and the implementation on either C++ or python API, but my guess is that since onl

[2019-08-03 08:17] ppham27 commented on #30855
Are using using the `tf.function` in the right part?

Ideally use use `tf.function` *only* in the outermost region:

[code]

Where dataset comes from `strategy.experimental_distribute_dataset`. Also, run `tf.debugging.set_log_device_placement(True)` to help debug where ops are being placed.

[2019-08-03 08:19] samhodge commented on #31301
@m3bm3b do you have any insight?

[2019-08-03 08:28] samhodge commented on #31301
It may relate to this:

https://stackoverflow.com/questions/52683649/libtensorflow-cc-so-initialised-a-second-time-causes-segfault

The runtime environment has a parent application which is linked against libtensorfow_(cc)(framework).so the plugin has the same symbols statically linked.

The destructor is failing to clean up the nsync per_thread object in the plugin with the static linking.

[2019-08-03 08:37] Mycaster opened #31302 "bazel build benchmark_model for android_arm failed In MacOS"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
macOS
- Mobile device (e.g. iP

[2019-08-03 09:29] simonsays1980 commented on #29687
@azaks3 First of all, thank you for your efforts looking into this issue and for your comments. In the [Colab notebook](https://colab.research.google.com/drive/1bB_sir7-sVd3bNrSgkcdT9UlU9eoyA2Q) I added two more cells, in which I repeat the example with a batch of 1,000 keys. There is still a difference of 7x between TensorFlow and pure Python, however your second comment is totally right: increas

[2019-08-03 09:45] simonsays1980 commented on #29687
@novog Thanks for posting your example code in TensorFlow 2.0 here. This points again out - in a more elegant implementation - that overhead is actually the reason for the duration issue when looking up a lot of times only a few keys in many tables. Looking up many keys only a few times is where TensorFlow glances.

@azaks3 @novog For the above mentioned use case of looking up many times only a fe

[2019-08-03 10:14] ppwwyyxx commented on #31299
`multi_gpu_mode` is slow on multiple GPUs -- just avoid using it for multi-GPU training.
You can see at [here](https://github.com/tensorpack/benchmarks/tree/master/other-wrappers) how much speedup you can get by implementing multiple GPU training in a more efficient way.

[2019-08-03 11:20] JiayiFu commented on #31128
I changed a server and reinstalled the TensorFlow. It seems that everything is back to normal...

[2019-08-03 11:20] #31128 closed

[2019-08-03 12:30] jiarenyf commented on #31181
I also try building from source in the docker image: ubuntu:16.04 or ubuntu18.04 on max OS according to the instruction [here](https://www.tensorflow.org/install/source#setup_for_linux_and_macos).

In both cases, the error is the same:
[code]

In far, I have only sucessfully built `tf_cpu=r1.14` on ubuntu system with docker image ubuntu:18.04.
I wonder why I cannot built from source in the docker

[2019-08-03 12:50] Fardadjet2019 commented on #10026
This worked for me too but all the time I have Warning message !!

[2019-08-03 13:32] AakashKumarNain opened #31303 "Change `kernel_initializer` in some `tf.keras` layers for improved performance"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0
- Python versio

[2019-08-03 14:10] ziofil opened #31304 "Constructor for diagonal arrays (like numpy.diag)"
**System information**
- TensorFlow version (you are using): 1.14
- Are you willing to contribute it (Yes/No): No

At the moment the diagonal matrix constructor `tf.linalg.tensor_diag` does not support a second argument to specify which diagonal to fill. Something like the second argument in `numpy.diag` would be great.

This allows to simplify the process of generating powers of super- or sub-dia

[2019-08-03 14:31] Uiuran opened #31305 "Parallel sessions for Comp Graph editing and optimization"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.14
- Are you willing to contribute it (Yes/No):
yes

**D

[2019-08-03 14:33] ziofil commented on #25398
I had missed this feature request when I opened #31304.
I need it as well, it seems like a logical improvement of the current diagonal constructor.

[2019-08-03 15:34] erikchwang opened #31306 "A correct way to use tf.contrib.opt.AdamWOptimizer"
tf.contrib.opt.AdamWOptimizer requires two arguments: weight_decay and learning_rate. Since learning_rate is usually decayed along with the training, should weight_decay also be decayed with the same schedule? Would you please provide an example?

[2019-08-03 15:41] erikchwang opened #31307 "Performance decline after updating from 1.13.1 to 1.14.0"
I have observed an obvious performance decline after I update TF from 1.13.1 to 1.14.0, even if the code has never changed.
I am using CUDA 10.0 and tf.contrib.opt.AdamWOptimizer

[2019-08-03 16:05] Raukk commented on #30953
Well, that would disprove my theory, since your workstation probably has a 64-bit FPU.

Can you run 10,000 or 100,000 inference runs to get a bigger metric?
A 2ms difference is hard to be sure it's not some other limitation (like HDD, OS, etc).
Or is the time in ms mentioned (2.223457 ms, 0.199918 ms) the average per inference over the 1000 inferences? (making the total over 2 seconds for tflite-m

[2019-08-03 16:09] ankitgc1 commented on #30942
@anush-o
this is random output. first you have to train the model. you can do this thing by just uncommenting the commenting part.

thanks.

[2019-08-03 17:08] dimtass commented on #30953
Hi Raukk, yes the result is the average of the 1000 inferences. I've tried more and it seems a constant difference. For the tflite-micro running on the CPU the average time is 2ms, for python is 200us.

I'm afraid that this might be because the python backend is using all the cores/threads. I'm not sure if this `taskset --cpu-list` can actually stop python to spawn other threads to other cores.

N

[2019-08-03 17:09] azaks3 commented on #29687
I think the standard technique would be to combine the tables and encode table name in the key/output values

[2019-08-03 19:12] Elton1021 commented on #22300
Guys I'm having same issue,

- I have Cuda v10.0 installed
- created a path CUDA_PATH
- moved cudnn64_7.dll in cuda/lib
- installed tensorflow-gpu

I'm using py -3.7, and nvidia 1050Ti

but still getting this error

`import tensorflow as tf`

`Traceback (most recent call last):
  File "C:\Users\Elton1021\AppData\Local\Programs\Python\Python37\lib\site-packages\tensorflow\python\platform\self_check

[2019-08-03 19:17] Simaex opened #31308 "TF 2.0 nigtly 190803 generates errors W0803 during prediction"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- Mobile device (e.g. iP

[2019-08-03 19:30] m3bm3b commented on #31301
How frustrating.

A possilble workaround for the moment is to call quick_exit() instead of exit().

I believe a fix for nsync will be to avoid using the C++ per_thread_waiter machinery
(per_thread_waiter.cc) and instead use the Posix machinery (per_thread_waiter.c)
except on platforms where the latter is unavailable (which is just Windows, as far as I know).
If building with bazel, that could be a

[2019-08-03 19:32] Raukk commented on #30953
I ran the Python script version (both 1,000 and 100,000 iterations) on an old laptop (Windows, i5) and the average time was 0.55ms on average. CPU was i5-3317U, with clock at 1700 MHz with single core-boost to 2600 MHz or both core 2400 MHz.

When running the Resource Manager shows all 4 CPUs (2 Core with Hyper threading) under heavy load, and CPU frequency at 140% which matches 2400 MHz.
It repor

[2019-08-03 20:01] samhodge commented on #31301
Thanks for your generous response

The whole quick_exit() vs exit() may be beyond my control.

My software is a plugin to Autodesk Flame and it is Autodesk Flame that invokes the shutdown.

Unless I can register atexit handlers in my objects, I need to get more knowledge about the whole tear down process and glibc.

But I can certainly build a new libnsync.a and link both Tensorflow and my plugin

[2019-08-03 20:08] ingo-m opened #31309 "Custom loss function fails with sample_weight and batch_size > 1"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Debian 9.9
- TensorFlow installed from: conda (-c anaconda)
- TensorFlow version: 1.14.0
- Python version: 3.7.3
- GPU model and memory: n/a - tested in CPU mode

**Describe the current behavior**

An error occurs when training an LSTM with a custom loss function, using `sample_weight` and `batch_size > 1`. Th

[2019-08-03 20:20] corynezin commented on #30885
I didn't get a GPU out of memory error, it was my RAM that eventually exceeded 70GB

[2019-08-03 21:17] BIRAN commented on #31308
same.

[2019-08-03 21:24] dimtass commented on #30953
I've just verified that the python backend spawns several threads in the background even if it's limited in one cpu, therefore my test is meaningless...

[python screeshot](https://ibb.co/88CNkRc)
[tflite-micro screenshot](https://ibb.co/2Ykd7CJ)

[2019-08-03 22:45] covertg commented on #30181
@andrew-utkin That did it! Thank you!

[2019-08-03 22:47] covertg commented on #30870
@freedomtan, many many thanks for the message.

[2019-08-03 22:47] #30870 closed

[2019-08-03 23:48] samhodge commented on #31301
Now for the fun bit:

Tensorflow is a bunch of archived obj files, because of the need for static linking, and no way to build a static libtensorflow_cc.a and libtensorflow_framework.a

So I did it myself and made libgputf.a, by creating a slurry of objs from the bazel-bin folder.

I also have a bunch of obj files for the change you recomends as below

[code]

The exising .a file I am linking agai

[2019-08-03 23:55] seyedmohammadmortaji commented on #30191
It worked for me. Thanks a lot.

[2019-08-04 00:31] bugzhu commented on #31100
Thank you for your comments. With TF2.0, it ran perfectly without error! Maybe in my future work, I will try TF2.0. It is a good idea.

[2019-08-04 00:31] #31100 closed

[2019-08-04 00:36] 4d55397500 commented on #17564
thanks @swierh, I appreciate it. Looks like a documentation problem. I may in fact suggest implementing a `tf.outer` operation analogous to `np.outer.` Closing this issue

[2019-08-04 00:36] #17564 closed

[2019-08-04 02:16] samhodge commented on #31301
OK so I got rid of the symbols in the big archive (libgputf.a) and made the same archive less the nsync objs and then linked against libnsync_cpp.a with the created from bazel modification you suggested.

Now I get the following

[code]

[code]
and the mystery symbol is now

nsync::nsync_wait_n(void*, void (*)(void*), void (*)(void*), timespec, int, nsync::nsync_waitable_s**)

Which is always:
50D

[2019-08-04 02:25] samhodge commented on #31301
Here is my symbol dump if it helps at all.

[code]

So it is different but not solved.

[2019-08-04 02:50] dalgu90 commented on #30498
I'm closing this issue since it's the desired behavior. Hope the error message will be corrected in the future.

[2019-08-04 02:50] #30498 closed

[2019-08-04 02:52] HLSS-Hen commented on #31299
### **Thanks, but it didn't solve the problem.**
### **Here are the warning**

### Single GPU

### Multi:

[2019-08-04 02:58] vrsheen commented on #31249
For me the warning got resolved after doing the below 2:
1) >pip install scikit-learn
2) >pip install tensorflow-datasets

[2019-08-04 03:04] smalltalkman commented on #22840
@mammaiap

Sorry, replied very late.
If you need `tensorflow c++ lib`, you can refer to the patch in [mingw-w64-tensorflow] (https://github.com/smalltalkman/mingw-w64-tensorflow).
Alternatively, reference may be made to [mingw-w64-tensorflow-1.10.0-cmake] (https://github.com/smalltalkman/mingw-w64-tensorflow-1.10.0-cmake).
`mingw-w64-tensorflow-1.10.0-cmake` is mainly used to build `python` applic

[2019-08-04 03:13] samhodge commented on #31301
You little ripper I think I have solved it exit.c demangles before calling the destructor and there are two symbols with different addresses with the same demangled name so the exit code gets in a tangle.

But why have I got two copies of the same destructor and how can I make it go away?

More when I solve it.

[2019-08-04 04:43] samhodge commented on #31301
Now I need to find out why I am getting this in twice.

[code]

[2019-08-04 05:01] Akoopie commented on #28846
I am also having the same error in the "Classify structured data" guide for tf 2.0.
version 2.0.0 beta1
Platform: Jupyter Lab
Windows.

I also had a similar issue on another model and both are listing gen_sparse_ops.py as the last script in the traceback.

[2019-08-04 05:04] samhodge commented on #31301
OK it is like that in the .o file

[code]

[2019-08-04 05:29] samhodge commented on #31301
Looks like I am clumsy I edited the wrong BUILD file for bazel.

[2019-08-04 05:36] samhodge commented on #31301
Now the crash symbols are gone we will see what happens

[code]

[2019-08-04 05:49] markroxor commented on #5448
@mrry Your solution raises -
[code]
I can provide more information if required.

[2019-08-04 05:50] samhodge commented on #31301
BOOM!
[code]

This issue has been hanging around my neck like a lead weight for at least six weeks thanks for your immediate solution.

[2019-08-04 06:56] noodlez04 opened #31312 "RAM usage during fit() on a tf.keras model"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: conda repository
- **TensorFlow version (use command below)**: 2.0.1
- **Python version**: 3.7.3
- **CUDA/cuDNN version**: CUDA 10, cuDNN

[2019-08-04 06:57] noodlez04 commented on #31312
might be related to #30443

[2019-08-04 07:36] Davari393 commented on #20627
Hi.
my predictions of model lite are very different from true label(category_id)in val coco annotation 2017.
why?
my model is wrong?category ids are not true labels?
please help me

[2019-08-04 07:58] Gurubux commented on #28632
Tensor-flow Version - **2.0.0-alpha0**

Same error occurred while running a notebook from the Tensorflow site  - [**Build a linear model with Estimators**](https://www.tensorflow.org/tutorials/estimators/linear )
<br>
Download the dataset:
[code]

<hr>

## The document suggests the following changes in the file.
### _Should I go about making the following changes manually in the file census_datase

[2019-08-04 08:09] Gurubux opened #31315 "AttributeError: module 'tensorflow' has no attribute 'gfile' - Version 2.0.0-alpha0"
Tensorflow Version - **2.0.0-alpha0**

Error occurred while running a notebook from the Tensorflow site  - [**Build a linear model with Estimators**](https://www.tensorflow.org/tutorials/estimators/linear )
<br>
Download the dataset:
[code]

<hr>

## The document suggests the following changes in the file.
### _Should I go about making the following changes manually in the file census_dataset.py ?

[2019-08-04 09:08] DEKHTIARJonathan opened #31317 "[Sum/Average Loss Reduction Strategy] Why going with Sum as default ?"
TF 1.14.0 introduced the following:

Source: https://github.com/tensorflow/tensorflow/releases/tag/v1.14.0

----------

Why `SUM_OVER_BATCH_SIZE` was made the default when the followings are standard practices:
- averaging the loss over one batch
- averaging gradients over multiple ranks

Could anyone give examples of use-cases where sum would give better results than average ? And why would this

[2019-08-04 09:09] sjtusmartboy commented on #31101
@ymodak hi, is there any answer for this problem :)

[2019-08-04 09:51] AlinaYablokova opened #31318 "InvalidArgumentError: Cannot assign a device for operation embedding_1"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- I have written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS version:

[2019-08-04 09:57] AlinaYablokova commented on #31318
I tried yo use
[code]

and got new error:
---------------------------------------------------------------------------
NotFoundError                             Traceback (most recent call last)
<ipython-input-58-d121a4b39b7f> in <module>
      3                               epochs=ep_n,
      4                               validation_data=test_gen,
----> 5                               validatio

[2019-08-04 10:03] AlinaYablokova commented on #31318
Probably, the same issue: https://github.com/fizyr/keras-maskrcnn/issues/39

[2019-08-04 10:12] #31102 closed

[2019-08-04 10:19] jerofad opened #31319 "CUDA driver version is insufficient for CUDA runtime version"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
kernel version 4.9.0
LInux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
binary
- TensorFlow version:
Tensorflow 1.14
Tensorflow-gpu 1.14
- Python version:
Python 3.7.3
- Installed using virtualenv? pip?

[2019-08-04 10:52] krishnakakade1999 commented on #17022
for me still not i think google team fix this patch otherwise you guys told me

[2019-08-04 11:37] fatemehtorki commented on #31249
@ymodak
Same issue happened to me with (tensorflow  1.9.0 and numpy 1.17.0)
 after uninstall of 1.17.0 and installation of 1.16.4 the Future Warnings are gone. Thank you so much!

Can you help me for solve another issue?
after  i load model ,when i predicted this error is occur (Tensor Tensor("dense_2/Softmax:0", shape=(?, 2), dtype=float32) is not an element of this graph) .
What do you think I s

[2019-08-04 12:01] kuri-leo commented on #30895
Ummm, Sorry for my late reply as I'm trapped in some other works...

Actually, I do this just because I was preparing slide for my GDG and TFUG events and wanted to show how the autograph works. So this is not an in-production issue but just a presentation issue.

Thank you all for your kind help :-)

[2019-08-04 12:02] NobuoTsukamoto opened #31320 "Build error TensorFlow Lite for ARM64"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (

[2019-08-04 12:54] aiff22 commented on #28283
@tgpsantos, if runtime is the same - this usually means that the model contains some unsupported ops, and thus CPU backend is used instead of GPU.

[2019-08-04 13:13] shashipalsingh commented on #24741
Thankyou,,,It is working for me.

[2019-08-04 13:23] AlinaYablokova commented on #31318
Finaly, I solved my problem. I remove the definition of decay and momentum for RMSProp.
Previous run (with error):
[code]

Current run:
[code]

So the problem is in decay, momentum.

[2019-08-04 14:09] krishnakakade1999 commented on #6136
still getting error module not found python 3.6

[2019-08-04 14:26] MaramAdham7 opened #31321 "Build C API with visual compiler 2010"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2019-08-04 14:38] #31117 closed

[2019-08-04 15:00] LemonAndroid commented on #50
what is great?

and why?

[2019-08-04 15:00] LemonAndroid commented on #50
and what is "is" 🗡

[2019-08-04 16:35] laudehenri commented on #30533
Any patches or solutions ? please we need some help . thank per advance

[2019-08-04 16:53] capilano commented on #27016
I understand that this issue is closed, but there are scenarios where these features can be useful(I think,at least). All the GAN examples that I have looked at (including the ones from the official tensorflow repo) use tf.layers rather than tf.keras.layers when doing custom training(eg. using estimators etc) and its very useful to have the reuse= True/Auto option

[2019-08-04 19:03] bjornsing opened #31323 "Passing a callable learning_rate to Adam optimizer does not work as documented"
tag:bug_template

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): binary through pip3
- TensorFlow vers

[2019-08-04 19:15] bjornsing opened #31324 "Passing a Variable as learning_rate to Adam optimizer does not work as expected"
tag:bug_template

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): binary through pip3
- TensorFlow vers

[2019-08-04 20:40] brendavsantos commented on #23198
Thank you! I actually found some errors but now they are all fixed and I am getting a new error:
![image](https://user-images.githubusercontent.com/48032705/62428973-bd833b80-b6de-11e9-84e0-70d7e6168758.png)

[2019-08-04 20:43] m3bm3b commented on #31301
I'm glad that fixed it.

I will work on getting that into a release of nsync, and then of TensorFlow.

We'll also need to look into the issue of nsync being linked into multiple
shared libraries.  That's not so much because we can't make nsync workl like that,
but if it[s happening to nsync, it's probavbly happening to other things that might
cause similar problems in the future.

[2019-08-04 20:54] samhodge commented on #31301
@m3bm3b

Do you think the same demangled symbol name for the two symbols for the destructor is the root cause of the crash?

For me I am happy with the work around, my build system is so rough another shim doesn’t matter.

But my next goal is to sure everything up and at least encapsulate all of the shims.

Sam

[2019-08-04 21:13] kelvinguu opened #31325 "reduce_max on empty int32 array returns -2147483648"
**System information**
- Have I written custom code: **no**
- OS Platform and Distribution: **Linux**
- TensorFlow installed from (source or binary): **source**
- TensorFlow version: **1.14.0**
- Python version: **2.7**

**Describe the current behavior**
[code]
**Describe the expected behavior**
Would be better if `reduce_max` threw an error when fed an empty Tensor.

[2019-08-04 21:42] pandrey-fr commented on #30533
`pip install tf-nightly-gpu-2.0-preview` or `pip install tf-nightly-2.0-preview` (depending whether you want GPU support or not ; you could also want and get a nightly build of tf 1.15 instead)

That being said, the fix that was deployed three weeks ago merely avoids the warning message (which saves a little time and avoids wary print outs), but I believe the underlying issue has not been fixed ye

[2019-08-04 22:12] m3bm3b commented on #31301
I do not know the precise cause, but it seems likely that the double-linking of that
module caused the problems.
For example, perhaps the same thread_local variable was destructed twice:
once by one shared library, and once by another.

I'm unsure how to verify the precise cause
without single-stepping through the exit() handling.
It's also possible that the bevaviour will vary from platform
to pl

[2019-08-04 22:22] samhodge commented on #31301
So sorry, I didn’t mean to spoil your Sunday.

Thanks for all your help, it is an honour to have someone with as many accolades as yourself to help with my scruffy application.

[2019-08-04 22:24] Bornlex commented on #31112
@jvishnuvardhan Hello. Do you have a rough idea of what is the cause of this?
Is it a bad installation, bad version, not compatible hardware, bad code?

[2019-08-04 23:55] ludwikbukowski commented on #21769
I have the same issue. Cannot set layer name with tensor flow backend

[2019-08-05 02:37] cj741 commented on #30701
Thanks gunan, it could be the reason.

[2019-08-05 02:37] #30701 closed

[2019-08-05 02:46] Crysitna commented on #22710
same problem here. wondering if the problem is solved?

[2019-08-05 03:17] IanQS commented on #31249
@fatemehtorki

You should open a new issue for that error since it is unrelated to this error

[2019-08-05 03:22] tanzhenyu commented on #28111
@skydoorkai The approach referenced above looks good to me. Do you want to make a PR? If not I will submit a fix

[2019-08-05 03:29] DavidNorman commented on #31187
the code is in the repo as it stands.  i expect that if you try to compile the code with the default options, using this compiler: `gcc (Ubuntu 7.3.0-27ubuntu1~18.04) 7.3.0`, then you will get the error.

[2019-08-05 03:40] tanzhenyu commented on #28777
Not sure what do you mean by it's working in Functional API...
The problem here is you call:
z = conv1(inputs)
which builds the layer to accepts an input of 3 channels

then you call:
z = conv1(z)
which is an input of 32 channels

This is confusing `conv1`, I think it fails with all subclass/functional/sequential, can you double check?

The error definitely needs improvement, but using colab I do

[2019-08-05 03:57] tanzhenyu commented on #28868
Thanks for reporting.
This is by design. tf.keras in 2.0 automatically wrap the call in tf.function (to accelerate computation), so output is symbolic tensor, which then you used for callbacks.
To make this work, there are two approaches:
1) use the regular model fit with Tensorboard callback, or tf.print (whichever works in your case)
2) compile the model with run_eagerly=True, so that output is

[2019-08-05 03:57] #28868 closed

[2019-08-05 04:08] tanzhenyu commented on #30167
The issue here is your kernels is size of (2, embed_size), while the input size is (...,...,embed_size,...),
so it is not feasible to dilate the input.
Set your kernel to a smaller size would fix it.

[2019-08-05 04:08] #30167 closed

[2019-08-05 04:10] tanzhenyu commented on #29310
Closing this. Let's move discussion to the PR.

[2019-08-05 04:10] #29310 closed

[2019-08-05 04:21] tanzhenyu commented on #29438
Thanks for reporting this.
Roughly looking through stack trace, I think the issue is that TimeDistributed layer does not wrap input shape as TensorShape before calling Conv2D.build

I will see if I can fix it

[2019-08-05 04:22] tanzhenyu commented on #29438
Sorry I meant DepthWiseConv2D

[2019-08-05 04:25] zhangshexin commented on #31190
I tried this command but still got an error

`ERROR: /Users/qbq_wzk/zhangshexin/dnn/tensorflow/tensorflow/contrib/android/BUILD:60:1: Linking of rule '//tensorflow/contrib/android:libtensorflow_inference.so' failed (Exit 1)
external/androidndk/ndk/toolchains/aarch64-linux-android-4.9/prebuilt/darwin-x86_64/lib/gcc/aarch64-linux-android/4.9.x/../../../../aarch64-linux-android/bin/ld: cannot find Fo

[2019-08-05 04:32] tanzhenyu commented on #29841
Conv3DTranspose does not have a dilation rate for now

[2019-08-05 04:44] tanzhenyu commented on #29841
Would you like to make a PR out of it? I will make this as contribution welcome.

[2019-08-05 04:45] tanzhenyu commented on #31074
I thought you made a PR and I LGTMed it. Closing it for now.

[2019-08-05 04:45] #31074 closed

[2019-08-05 05:00] DavidNorman commented on #31187
further info:  setting the `tflite_with_ruy_explicit_false` config variable does not disable compilation of the file `tensorflow/lite/experimental/ruy/kernel_avx512.cc`.

[2019-08-05 05:00] DavidNorman commented on #31187
more further info: we set the following arch flags : `'-march=skylake'`

[2019-08-05 05:14] zhangshexin commented on #31190
I tried this command but still got an error

`ERROR: /Users/qbq_wzk/zhangshexin/dnn/tensorflow/tensorflow/core/grappler/costs/BUILD:37:1: C++ compilation of rule '//tensorflow/core/grappler/costs:graph_properties' failed (Exit 1)
tensorflow/core/grappler/costs/graph_properties.cc:226:34: error: expected '>'
  if (x_root->rank < y_root->rank) {
                                 ^
tensorflow/core/gra

[2019-08-05 05:16] gadagashwini commented on #31276
@MuhanguziDavid, Errors are defined [here](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/nn/log_softmax#raises). Please take look and let us know. Thanks!

[2019-08-05 05:33] gadagashwini commented on #30181
Closing this issue since the issue is resolved. Please reopen if the issue still persists. Thanks!

[2019-08-05 05:33] #30181 closed

[2019-08-05 05:38] gadagashwini commented on #31225
@HymEric Thanks for finding the issue.

[2019-08-05 05:39] gadagashwini commented on #31225
The issue is [here](https://www.tensorflow.org/tutorials/keras). Thanks!

[2019-08-05 05:44] gadagashwini commented on #31282
@helloIAmPau Will it possible to provide the full code to reproduce the reported issue. Thanks!

[2019-08-05 05:45] gilgarad commented on #8484
@karthik-hegde you saved me. The problem I had is related to what you mentioned. I have a few differences between the number of categories I assigned and the actual number.

[2019-08-05 05:46] gadagashwini commented on #31285
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?
Thanks!

[2019-08-05 06:15] gadagashwini commented on #31291
Was able to reproduce the issue with Tensorflow 1.14.0 on Colab. Please take a look at gist [here](https://colab.research.google.com/drive/1NQk0_HDfUislaKeFCT77xC7KJ4KHia6h). Thanks!

[2019-08-05 06:21] gadagashwini commented on #31291
@xuevin This is not issue with Tenosrflow 2.0.0.beta1 and tf-nightly-2.0-preview. You might want to give it a try instead. Thanks!

[2019-08-05 06:31] gadagashwini commented on #31297
Could able to reproduce the issue on Colab with Tensorflow 1.14.0. Please find the gist [here](https://colab.research.google.com/drive/1Kt85ANNP_7Hy1HCVcPSfgSHN0ogRuTzX). Thanks!

[2019-08-05 06:32] geometrikal commented on #28648
Closing because this appears fixed in 1.14

[2019-08-05 06:32] #28648 closed

[2019-08-05 06:59] ellonde commented on #30167
How come its working for the first run then? And isn't it the kernel thats dialated?
Also the dilation_rate=(dilation, 1) so it should only dialate in the text_len dimension?

[2019-08-05 07:02] gadagashwini commented on #31300
I am able to reproduce the issue on Colab with tf-nightly-gpu-2.0-preview==2.0.0.dev20190802. Please take a look at [Colab](https://colab.research.google.com/drive/1QbZwhKN62RicooTE2CAzoDMmuOgWCPLk). Thanks!

[2019-08-05 07:20] sjtusmartboy opened #31327 "libtensorflow_framework.so No such file or directory"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-08-05 07:29] AnupAka commented on #30699
In case someone else runs into this issue, I have found a way to correct the slowdowns introduced with 1.14. MKL-DNN was turned on by default in 1.14 which was causing slowdowns in non-AVX machines. Disabling it corrected the slowdowns for me.

"Turn on MKL-DNN contraction kernels by default. MKL-DNN dynamically dispatches the best kernel implementation based on CPU vector architecture. To disable

[2019-08-05 07:29] #30699 closed

[2019-08-05 07:52] kaiyu-tang commented on #20098
@masonk Is there any new solution to fix this problem?

[2019-08-05 08:03] helloIAmPau commented on #31282
@gadagashwini sure:

[code]

[2019-08-05 08:06] dennis-ec commented on #25939
It's not too hard to write a dockerfile based on the dockerfiles from the tensorflow repo.
Most of the code below is copied over fromt ensorflow with a little help of googling around.

The idea is to install python3.7 (or any other version) seperately on the system an then use it to install tensorflow. It should be possible to automate this to build the tensorflow image for different python versio

[2019-08-05 08:13] mlippie commented on #28868
This issue is not resolved for me. I use the regular fit function with the tensorboard callback, but I still get the same error. Setting the run_eagerly parameter also does not help. I use the output from a convolutional layer as input to the image summary operation.

Is there anything else I should be aware of to make this work?

[2019-08-05 08:21] Zdafeng opened #31328 "I wonder if the tflite supports GCN(Graph Convolution Network)?"

[2019-08-05 08:26] ravikyram commented on #31325
I have tried on colab with TF version 1.14 and nightly versions was able to reproduce the issue.Please, find the [gist](https://colab.research.google.com/drive/1695UiZG2M9q8oKvEN0WGdwLjY1NXy6wm) here.Thanks!

[2019-08-05 08:30] 2649 commented on #28868
I just switched from the keras compile and fit method to a custom training loop with gradient tape and wrap the computational parts in a `tf.function`. These are only few more lines of code, but you are very flexible. I'm very satisfied with this functionality. In between the `tf.function` calls you can use the `tf.summary` api, because it returns eager tensors. I used this [tutorial](https://www.

[2019-08-05 08:41] gadagashwini commented on #31315
@Gurubux The tutorial works for Tensorflow 1.14.0. You might want to give it a try instead. Thanks!

[2019-08-05 09:03] ravikyram commented on #31319
@jerofad
Can you go through below link and see if it helps you.Thanks!
https://stackoverflow.com/questions/41409842/ubuntu-16-04-cuda-8-cuda-driver-version-is-insufficient-for-cuda-runtime-vers
https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html
Just to verify did you get chance to follow instructions from [TensorFlow](https://www.tensorflow.org/install/gpu) website .Please, let us

[2019-08-05 09:07] ravikyram commented on #31307
Please provide details about what platform you are using (operating system, architecture).  Also, did you compile from source or install a binary?

Make sure you also include the code snippet to reproduce the issue. If you are unclear what to include see the issue template displayed in the Github new issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose).

We ask for this in

[2019-08-05 09:09] DocDriven commented on #31201
@lu-wang-g
Can you confirm to me if the invocation of the C++ API is correct or not, please?

[2019-08-05 09:15] gadagashwini commented on #31318
@AlinaYablokova Looks like you found workaround. Are you happy to close the issue. Thanks!

[2019-08-05 09:30] gadagashwini commented on #31324
I tried executing the code on Colab, was able to reproduce the issue with Tensorflow 2.0.0.beta1. Please see the gist [here](https://colab.research.google.com/drive/1jA-_Y3ZOprr6i_xIrTiXQWCmu3UyNKL0). Thanks!

[2019-08-05 09:33] AlinaYablokova commented on #31318
@gadagashwini , yes, I have found workaround and I can continue my work now. But in my opinion, there are still a number of problems:

1. It's impossible to use Embedding layer and RMSProp with non-zero momentum together.
2. First workaround
[code]
did not work:
_"NotFoundError: 2 root error(s) found.
(0) Not found: Resource localhost/embedding_1/embeddings/N10tensorflow3VarE does not exist.
[[{{n

[2019-08-05 09:50] NobuoTsukamoto commented on #31320
It is fixed it in both commits. (2f1d610 and 864d294)
I cose this issue.

[2019-08-05 09:50] #31320 closed

[2019-08-05 09:55] colmantse commented on #30981
@jhseu hi, the cluster is not running in secure mode.

[2019-08-05 10:16] ravikyram commented on #31298
@nguerinjr
Can you please check with the nightly version (!pip install tf-nightly) and see if the problem still persists.
Thanks!

[2019-08-05 10:20] ravikyram commented on #31286
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-08-05 10:41] csachs commented on #31107
This commit seems to have introduced https://github.com/tensorflow/tensorflow/issues/31272 .

[2019-08-05 11:17] lrizzello opened #31329 "auto-deeplab: nas_network runs into ValueError with personal data"
Hello,

I've been trying to use auto deeplab on my own dataset. The only part I touched is the stem creation. Instead of feeding a image set of dimension [?, y, x, 3] I feed data of dimension [?, y, x, 13]. The first 10 features of the last dimension correspond to character embeddings, and the last 3 are unrelated floats in the [0, 1] range. There are no NANs in this dataset.

To do this, I replac

[2019-08-05 11:18] kmader commented on #27156
@petewarden @wangtz I have made the change and rebuilt the image (https://github.com/kmader/tflite_micro/pull/2) and the same issue still occurs (lldb also shows it crashing in the same spot)

[code]

[2019-08-05 11:24] 19giorgosts commented on #27769
@k-w-w How can I use your fix? I have the same problem.

[2019-08-05 11:27] MaramAdham7 commented on #31321
@gadagashwini can you help me please?

[2019-08-05 11:29] ChenHao96 opened #31330 "tensorflow.python.framework.errors_impl.InvalidArgumentError: Invalid name: An op that loads optimization parameters into HBM for embedding."
When I run the code I report the following problem：

`from tensorflow.examples.tutorials.mnist import input_data`
`dataSet = input_data.read_data_sets("MNIST_data/", one_hot=True)`

Traceback (most recent call last):
  File "/home/steven/idea/project/tensorflow/study01/testMinst.py", line 6, in <module>
    from tensorflow.examples.tutorials.mnist import input_data
  File "/usr/local/lib/python2.7

[2019-08-05 11:29] gadagashwini commented on #31287
@svobora, In order to expedite the trouble-shooting process, please provide a complete code to reproduce the issue reported here. Thanks!

[2019-08-05 11:36] gadagashwini commented on #31069
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-05 11:36] #31069 closed

[2019-08-05 11:38] gadagashwini commented on #31126
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-05 11:38] #31126 closed

[2019-08-05 11:39] pedro-w commented on #31249
Please can you advise, it it the intention to update Tensorflow 1.x so that these warnings won't occur in numpy 1.17 and later? Or will we always have to stick at 1.16.4?

[2019-08-05 11:39] deepeshguru commented on #30191
Thanks @NoSyu  this work me

[2019-08-05 11:39] gadagashwini commented on #31180
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-05 11:39] #31180 closed

[2019-08-05 11:53] geometrikal opened #31331 "Error freezing saved model if it contains a tf.keras.layer.BatchNormalisation layer"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Windows 1903
- TensorFlow installed from: pip
- TensorFlow version: 1.14.0
- Python version: 3.7.3
- GPU model and memory: RTX 2080 Ti

**Problem**

To make a frozen graph, I first create a saved model using `tf.saved_model.simple_save` and then freeze it using `tensorflow.python.tools.freeze_graph.freeze_grap

[2019-08-05 11:54] gadagashwini commented on #31321
@MaramAdham7 Just verify, did you the follow the instructions mentioned in this [link](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/lib_package/README.md). Thanks!

[2019-08-05 11:55] rmothukuru commented on #31323
Could reproduce the issue with TF Version 2.0.0 beta. Gist is attached in this file, LR_Issue_31323.ipynb.zip](https://github.com/tensorflow/tensorflow/files/3467436/LR_Issue_31323.ipynb.zip)

[2019-08-05 11:59] gadagashwini commented on #31210
I am able to reproduce the issue by running the provided colab link. Thanks!

[2019-08-05 11:59] andres0820m commented on #31285
I'm using Ubuntu 18.04 x86 64 bits, I'm using tensorflow 1.14 I've tried from binary and compiling from source, same problem

[2019-08-05 11:59] ravikyram commented on #31283
I have tried on colab with TF version 1.13.1 and was able to reproduce the issue.Please, find the [gist ](https://colab.research.google.com/drive/1xqa5oMMosbVUpbuNsdpyhDGrN8ql_bFG)here. Thanks!

[2019-08-05 12:05] gadagashwini commented on #31281
@rezaee Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-08-05 12:06] BeWe11 commented on #31312
I am experiencing the same problem. Similar to https://github.com/tensorflow/tensorflow/issues/30443, the first epoch is very slow (probably because of data loading) and the memory usage increases constantly after every batch. The other epochs run quickly and memory is stable. Calling the `model.fit` method seems to cache the data into memory (even though RAM caching was never explicitly turned on

[2019-08-05 12:11] gadagashwini commented on #31281
@forReason Can you please post a new issue by providing the information asked by the [template](https://github.com/tensorflow/tensorflow/issues/new/choose)?
The reason for this is we can focus on your specific configuration and problem since the root cause can be unrelated even though the error messages are similar. Thanks!

[2019-08-05 12:15] rmothukuru commented on #31299
@HLSS-Hen ,
Can you please provide below details.

- TensorFlow installed from (source or binary):
- TensorFlow version (use command below):

Thanks!

[2019-08-05 12:26] rmothukuru commented on #31308
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-08-05 12:28] anonym24 commented on #31114
Does it work fine with 1.13.1?

How can I use it with GPU?

    implementation 'org.tensorflow:tensorflow-lite:1.13.1'
    implementation 'org.tensorflow:tensorflow-lite-gpu:0.0.0-nightly'

Will it work?

[2019-08-05 12:30] carlthome commented on #30877
Here's an example: https://github.com/tensorflow/io/issues/49#issuecomment-518213854

[2019-08-05 12:31] rmothukuru commented on #31061
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-05 12:31] #31061 closed

[2019-08-05 12:47] svobora commented on #31287
Hello, I will provide a simple and complete, yet a little different example. I believe the actual problem is with the tf.train.Checkpoint. Probably the variables are overwritten by the restored values when adam._hyper is converted from plaintext format to tf.Variable format.

In the provided example, the optimizer.learning_rate is not properly stored. Even though it is a different problem, I belie

[2019-08-05 12:50] yiyang-yu commented on #26502
Thanks for the temporary solution! It had been working for a while; but now with `2.0.0-dev20190805`, even this solution does not work: no way to make PyCharm(2019.2) find the correct reference inside TensorFlow.

[2019-08-05 12:50] ravikyram commented on #31305
@Uiuran

Can you please elaborate the context.Will it be possible to provide related code.Can you provide more details about any use-case for this feature? Thanks!

[2019-08-05 13:02] ravikyram commented on #31274
@talipini
I have tried on colab with tf-nightly-gpu 1.15.0.dev20190728 and i am not getting any issue with tf.keras and keras.Please, find the attachment for your reference
[Untitled95.ipynb.tar.gz](https://github.com/tensorflow/tensorflow/files/3467657/Untitled95.ipynb.tar.gz)
.Please, let me know if the issue still persists.Thanks!

[2019-08-05 13:48] walterwyn opened #31332 "加加加、"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-08-05 13:48] #31332 closed

[2019-08-05 13:49] walterwyn commented on #31332
sorry type wrong

[2019-08-05 14:03] mihaimaruseac commented on #27016
I think those tutorials on the tensorflow site need to be updated. Can you please open issues for those?

[2019-08-05 14:07] mihaimaruseac commented on #30028
We'll get the 1.14.1 patch release this week.

[2019-08-05 14:21] MuhanguziDavid commented on #31276
@gadagashwini , seen the errors. They are well defined. Thanks.

[2019-08-05 14:21] nseidl commented on #30717
@pooyadavoodi `tensorflow-gpu==1.14.0` expects CUDA 10.0.x, whereas the container comes with CUDA 10.1.168

[code]

[2019-08-05 14:25] mihaimaruseac commented on #31249
See #30559 Next release will have the issue solved

[2019-08-05 14:30] stefanpantic commented on #19838
I'm having the same issue. For me it seems to occur in ```tf.keras.layers.BatchNormalization```. When I pass the bool ```training=is_training``` to the call operator the error dissapears. Any idea on why this happens?

[2019-08-05 14:36] mihaimaruseac commented on #31315
In 2.0, `tf.gfile.*` is replaced by `tf.io.gfile.*`.

If you want, you can submit a cherry-pick for `census_dataset.py`.

Thank you

[2019-08-05 14:43] andres0820m commented on #31285
I'm using Ubuntu 18.04 x86 64 bits, I'm using tensorflow 1.14 I've tried from binary and compiling from source, same problem hope we can figure out what's going on

[2019-08-05 14:54] etsygankov commented on #31231
Getting `NotImplementedError` is rather trivial
[code]

Experimenting further with TF Data API and a `fit` method I found the bug in my own code, so finally  `tf.data.Dataset.from_generator` works as expected, at least with `MirroredStrategy`.

[2019-08-05 14:55] Raukk commented on #30953
@dimtass I wouldn't say it's "meaningless," it just means that you can't draw a 1-to-1 comparison.
Specifically, I don't believe that would result in a 10x speedup, since your report shows Python using 100%+30%+30%. Even with considering async-loading, pre-processing, or other things that the secondary thread could be doing, I cant see 30%+30% resulting in a 10x performance increase.
If the CPU it

[2019-08-05 15:03] randolf-scholz commented on #19957
I think this is only possible with eager execution at the moment

[code]

[2019-08-05 15:12] dawsoneliasen commented on #31241
@ravikyram Thanks for the response, and sorry for the delay. I updated the issue body with this info. Sorry for not including it originally - I used the documentation issue submission template, which does not say anything about system information.

[2019-08-05 15:15] tanzhenyu commented on #28868
@mlippie If there is something not working with model.fit and callback, can you file another bug and include your code snippet?

[2019-08-05 15:16] Simaex commented on #31308
`!pip install tf-nightly-2.0-preview
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
print(tf.__version__)
#generating artificial data
def plot_series(time, series, format="-", start=0, end=None):
    plt.plot(time[start:end], series[start:end], format)
    plt.xlabel("Time")
    plt.ylabel("Value")
    plt.grid(False)

def trend(time, slope=0):
    return slope * time

[2019-08-05 15:16] capilano commented on #27016
@mihaimaruseac  They need to be updated for sure, but there are a whole bunch of GAN models implemented in tensorflow ,either official tutorials or just someone trying to recreate a research paper   that follow the convention used in the official tensorflow TPU GAN below. Basically, create a generator/discriminator by stacking a bunch of layers under a variable scope with reuse =tf.auto_reuse.  No

[2019-08-05 15:20] Simaex commented on #31308
@rmothukuru please find code that I run in Colab when experienced the issue. As for the moment 2.0.0-dev20190805 issue is still present. Issue actually pops when running model.predict but I have to provide all the stuff to generate data and train the model for a few epoch to get to the stage.

[2019-08-05 15:22] Simaex commented on #31308
If it will be more convenient please find the actual Colab code [https://colab.research.google.com/github/lmoroney/dlaicourse/blob/master/TensorFlow%20In%20Practice/Course%204%20-%20S%2BP/S%2BP%20Week%203%20Exercise%20Answer.ipynb](url)

[2019-08-05 15:24] Simaex commented on #31308
[https://colab.research.google.com/github/lmoroney/dlaicourse/blob/master/TensorFlow%20In%20Practice/Course%204%20-%20S%2BP/S%2BP%20Week%203%20Exercise%20Answer.ipynb](url)

[2019-08-05 15:25] Simaex commented on #31308
https://colab.research.google.com/github/lmoroney/dlaicourse/blob/master/TensorFlow%20In%20Practice/Course%204%20-%20S%2BP/S%2BP%20Week%203%20Exercise%20Answer.ipynb

[2019-08-05 15:33] MaramAdham7 commented on #31321
@gadagashwini I haven't tried them before but i tried
bazel test --config opt //tensorflow/tools/lib_package:libtensorflow_test now and the same issue has been produced

WARNING: The following rc files are no longer being read, please transfer their contents or import their path into one of the standard rc files:
c:\tensorflow_r10\tensorflow/.bazelrc
Starting local Bazel server and connecting to i

[2019-08-05 15:33] gkanwar commented on #30466
I'm experiencing the same issue running in tensorflow-gpu 1.12.0. Profiling trace attached if this is at all helpful. There are many, many small copies back and forth between CPU/GPU.
[timeline_eigh_gpu.json.tar.gz](https://github.com/tensorflow/tensorflow/files/3468312/timeline_eigh_gpu.json.tar.gz)

[2019-08-05 15:36] jdduke commented on #31302
@srjoglekar246 could you take a look?

[2019-08-05 15:39] elyasmehtabuddin commented on #30580
I wasn't able to hit that assertion, my code to reproduce:

[code]

[2019-08-05 15:51] Arafatk commented on #50
@LemonAndroid My repo https://github.com/somaticio/tensorflow.rb has been linked from the official docs.
That's great.

[2019-08-05 15:53] ulorentz commented on #27880
Finally I am able to convert to tflite with post integer quantization, but now I am facing the same problem of @ankitmaurya001, that is `ERROR: quantized_dimension must be in range [0, 1). Was 3.`

You can inspect my code at https://colab.research.google.com/drive/1h184XpvfGk5d-w6XZdiYORtV7ztbHCm7

[2019-08-05 15:55] srjoglekar246 commented on #31302
Apparently these errors are seen when Bazel has issues finding the right executables (I guess the NDK compiler in this case). Quoting from the answer [here](https://stackoverflow.com/questions/41487069/build-error-with-tensorflow-android-demo/42614810):

Could you try the suggested procedure and report if it works?

[2019-08-05 15:55] ribtoks commented on #26398
Would be nice to get this fixed. I'm hitting the same error.
`Converting multiple functions is under development.`

[2019-08-05 15:56] jdduke commented on #31190
Hmm, it's possible this is a recent regression with some abseil dependencies (see also https://github.com/abseil/abseil-cpp/issues/326).

[2019-08-05 16:02] Vearol commented on #26398
Can't wait for improvements of lite.TFLiteConverter. I'm not able to convert resnet_v1 to `.tflite`
Getting this logs:
[code]
If you know a way to convert that kind of model - I would appreciate any tips

[2019-08-05 16:09] alextp commented on #26816
Nothing replaced it!

In TF2 you have eager execution on by default, so running a TF operation
like tf.matmul will immediately schedule the computation to compute the
results. If you want you can trace a sequence of operations using
tf.function to get a thing you can call many times with better performance
than executing things eagerly.

Please look at any documentation or tutorial about TF2 to se

[2019-08-05 16:12] alextp commented on #31067
Ideally a convexhull op will take a large set of points and return a
smaller set of points, in order, right?

If so, you can represent this op as first computing a set of indices and
then calling tf.gather(original_points, convex_hull_indices). Then it's
differentiable.

On Fri, Aug 2, 2019 at 11:01 PM Ashwin Thyagarajan <notifications@github.com>
wrote:

--
 - Alex

[2019-08-05 16:15] LemonAndroid commented on #50
@Arafatk oh, awesome, legoooooo

[2019-08-05 16:16] melissagrueter commented on #28195
Thanks @saxenasaurabh for following up! I'd love to hear what you come up with in terms of design -- an RFC sounds like a great idea!

[2019-08-05 16:17] dsgupta commented on #30855
Hi @ppham27 , thanks for that example. Please also see issue: #31210 where I solved the decorator problem, but am now facing issues iterating over the dataset.
The colab gist is: [here](https://colab.research.google.com/gist/dsgupta/7114aa6e13b4f33264ccf3758d169bab/test.ipynb)

I also had a doubt regarding the code above. What exactly is `state` and why should we use `dataset.reduce`? I followed t

[2019-08-05 16:20] LemonAndroid commented on #50
@Arafatk https://github.com/artyomche9/object_detection/blob/43a98307ab7f19861455acb2ee1441409f5636b7/app/models/image.rb @artyomche9

[2019-08-05 16:33] timespacce commented on #12871
The non determinstic behaviour of cudnn is caused by the non deterministic algorithms that are being used. Those are sometimes faster - so the trade-off is between mathematical accuracy and training time. Those algorithms compute sometimes gradients that are leading to better model accuracy.

I agree - it would have been very nice if we had a feature to choose the algorithms we would like to use.

[2019-08-05 16:37] ulorentz commented on #27880
Actually I got the same error even with the @ohtaman code (I little modified it in order to work with tflite 2.0): https://colab.research.google.com/gist/ulorentz/4375fea7099c15a47204819b92a85fcd/tf2-0-edgetpu-keras-cnn-autoencoder.ipynb

[2019-08-05 16:37] Griffbo99 opened #31334 "Can't install a version of TF with filter_for_shard"
Hey,

I'm using a program which calls for filter_for_shard (tf.data.experimetnal.filter_for_shard). The API claims it should exist in TF 1.13, but I have not been able to get this to work (or find the file) with any installation of TF 1.13. Any ideas on what to install to get this working?

Thanks in advance!

[2019-08-05 16:43] capilano commented on #31067
@alextp
Yes, convexhull should take a list of points and return a smaller subset of ordered points.
So,tf.gather will set the gradient to 1 for points in the indices and 0 for the rest,correct?
Also, there is a polyfill operation after and I think that op needs a gradient as well and I think none of the image transformation ops have gradients and polyfill probably belongs to that class although I

[2019-08-05 16:46] laket opened #31335 "A custom operator get Segmentation Fault in tf.function"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Ubuntu 18.04
- TensorFlow installed from (source or binary):
binary
- TensorFlow version (use command below):
v2.0.0-beta0-16-g1d91213fe7 2.0.0-beta1
- Python version:
3.6.8
- GCC/Compiler version (if compiling from s

[2019-08-05 16:59] alextp commented on #31264
You need to call tape.watch(images) if you want the gradient wrt images.

[2019-08-05 16:59] alextp commented on #31264
(i.e. don't use model.inputs, use images, as that's a robust thing while model.inputs is not)

[2019-08-05 17:00] alextp commented on #31264
@fchollet do we have a plan for how to discourage people from making this user error (the error that model.inputs doesn't mean what you want it to mean in eager mode)?

[2019-08-05 17:02] dimtass commented on #30953
I've just added more benchmarks for tflite-micro on various SBCs [here](https://www.stupid-projects.com/benchmarking-tensorflow-lite-for-microcontrollers-on-linux-sbcs/).

I wish there was a #define switch to enable threads to the tflite-micro API :)

[2019-08-05 17:18] TachikakaMin commented on #27543
same issue in 1.14.0

[2019-08-05 17:21] carloskekwa commented on #20532
any updates?

[2019-08-05 17:32] rmlarsen commented on #29869
Anudhyan, would you have time to take a look at this?

On Thu, Aug 1, 2019 at 9:06 AM Alexandre Passos <notifications@github.com>
wrote:

[2019-08-05 17:37] henrysky commented on #27543
It is just a one line patch, you can patch your 1.14.0 like me by yourself

https://github.com/tensorflow/tensorflow/commit/401bbfc33684c21325d81a03708fe123d59ce527#diff-4ee308ea180d49ae81691348531a2b6d

[2019-08-05 17:43] bloops commented on #29869
Sorry, I don't have spare cycles currently.

However, this is still using the old tf.einsum and not the new EinsumOp. Which means that the graph would have exactly one tf.matmul (BatchMatMul) and one or two Transpose ops. So either of those two GPU kernels would be the source of the problem.

[2019-08-05 17:43] #31307 closed

[2019-08-05 17:44] AakashKumarNain commented on #28777
When I say
`z = conv1(z)`, I mean that I want to add another layer that has 32 output channels and a filter of size (3,3). So, `conv1` is a layer with `32` output channels which I should be able to use at multiplt places in my net. Is it clear now?

[2019-08-05 17:59] Spotlight0xff commented on #31327
You can use `tf.sysconfig.get_link_flags()` to compile the library correctly.
They changed the naming convention recently, see e.g. https://github.com/tensorflow/tensorflow/issues/27430

[2019-08-05 18:02] tanzhenyu commented on #28777
Like mentioned above, we don't have a layer that accepts dynamic number of channels. If you run conv1 with input of (1, 32, 32, 3), the weight inside layer will be shape of (3, 3, 3, 32), which stands for (kernel_size, kernel_size, input_channels, output_channels). And now you pass another input which is 32 channels, so the weight will have to change shape to (3, 3, 32, 32), it's not possible.

[2019-08-05 18:02] #28777 closed

[2019-08-05 18:03] slaweks17 commented on #28924
I am getting the same error when mixing an LSTM with some additional preprocessing formulas (that have their own parameters to be fitted)

[2019-08-05 18:05] tanzhenyu commented on #28777
Instead make another conv layer would help fix this

[2019-08-05 18:07] yuefengz commented on #24003
`IndexedSliced` has already been supported a while ago, could you try it out again?

[2019-08-05 18:12] tanzhenyu commented on #29438
Fixed and should be available in tf nightly. Let me know if it doesn't work for you.

[2019-08-05 18:12] #29438 closed

[2019-08-05 18:16] masonk commented on #20098
This bug is more about documenting/answer what the best practice is rather
than how I personally solved my issue.

I don't know what the best practice is - that should come from the TF team.
And I still think this is a lacunae in the docs that needs addressing.

I have my code saving both kinds of serialization formats at every save
point, and use one of them for resuming training and the other fo

[2019-08-05 18:16] lu-wang-g commented on #31201
Hi Sebastian, I don't have quick answer about this issue. I've created an internal bug and assigned it to the Coral team. I'll keep you posted on any updates it may have.

[2019-08-05 18:17] AakashKumarNain commented on #28777
But then I have to write all the layers in `__init__` and then call every layer in `call` method which doesn't seem optimal to me. Is there any example you can point to for ref?

[2019-08-05 18:21] alextp commented on #28229
There is tf.batch_gather / tf.gather(..., batch_dims=...). I think those should solve your feature request.

[2019-08-05 18:21] #28229 closed

[2019-08-05 18:21] alextp commented on #28229
Sorry, I meant gather_nd with batch_dimensions.

[2019-08-05 18:26] yuefengz commented on #24003
Looks like there is some issue with the support for `IndexedSlices`. Right now there is some restriction that allgather requires all inputs have the same input sizes. If your `IndexedSlices` have different slices on different replicas, it will crash. @dubey

[2019-08-05 18:36] sdll commented on #26430
Any updates on this?

[2019-08-05 18:36] tanzhenyu commented on #28777
You can write smaller blocks that does this, for reference, checkout keras applications:
https://github.com/keras-team/keras-applications/blob/master/keras_applications/densenet.py#L93-L120

[2019-08-05 18:45] ymodak commented on #30972
Apologies for the delay in response. This issue is better surfaced on **tensor2tensor** repository, since changes you are suggesting belong to https://github.com/tensorflow/tensor2tensor/blob/master/tensor2tensor/layers/common_layers.py
Perhaps you can raise issue on https://github.com/tensorflow/tensor2tensor/issues
Thanks!

[2019-08-05 18:47] AakashKumarNain commented on #28777
I am aware of that but that is `Functional` API which works fine. This one is the case of `subclassing` and `eager` mode

[2019-08-05 18:49] dubey commented on #24003
@fhoering can you confirm that it is indeed the case that your input tensors have different sizes on different replicas?

[2019-08-05 18:55] asadkhilji commented on #26468
Hi, is this problem resolved ?

[2019-08-05 19:00] DocDriven commented on #31201
@lu-wang-g
Thanks for letting me know! I appreciate it!

[2019-08-05 19:08] ekuznetsov139 commented on #30972
The problem is not specific to tensor2tensor, it is demonstrated by the code snipped above that has nothing to do with tensor2tensor.

[2019-08-05 19:39] TachikakaMin commented on #27543
oh, thank you!
I have tried it but there will be another problem.

[code]

And I use tf.saved_model.save to save the model.

[2019-08-05 19:45] alextp commented on #30580
@ezhulenev do you think a graph rewrite pass could be adding the temporary variable here before the tfxla bridge sees the code? I'm very confused.

@elyasmehtabuddin I'm specially confused because I run your code on colab and see no errors. Can you give me a colab to reproduce this on colab.research.google.com ?

[2019-08-05 19:49] k-w-w commented on #27769
@19giorgosts The fix should be in tensorflow-nightly, which you can install using `pip install tf-nightly`

[2019-08-05 19:51] wookayin commented on #26430
@zh794390558 A dirty but easiest workaround for this would be:
[code]

[2019-08-05 19:58] tanzhenyu commented on #28777
Do you have a minimal code snippet for functional model?

[2019-08-05 20:01] nateagr commented on #24003
We tried with only categorical features and only continuous features. For categorical features, there is indeed no guarantee that replicas have the same number of slices for allgather of sparse gradients. All worker process the same number of examples per iteration but the number of slices depend on the features included in batches

[2019-08-05 20:04] sdll commented on #26430
@wookayin, can this work with `tf.estimator.train_and_evaluate`?

[2019-08-05 20:12] talipini commented on #31274
Thanks for looking into this. I will try to rerun again and see what I am doing different. This error has been consistent and we had to decrease the batch size when tf.keras was used to make it work. I will try again and update on this but it would be couple of days.

[2019-08-05 20:15] k-w-w commented on #26430
This is working as intended -- saving when the Graph is finalized won't work because the Saver needs to add saving/restore ops to properly save the variables.

[2019-08-05 20:15] #26430 closed

[2019-08-05 20:26] yl1991 commented on #24520
same problem using tf1.14

[2019-08-05 20:27] sdll commented on #26430
@k-w-w, any ideas why [training the tf.estimator](https://github.com/sdll/psenet/blob/8ecf0631051b877a8bfb8ca5ed3e7d6c92bf8428/psenet/train.py#L97) with a Keras model under the hood (from tf.keras.applications) can fail with this error?

[2019-08-05 20:31] wookayin commented on #26430
@k-w-w I don't think this can be closed. Nor any documentation of the behavior.

I think the problem is really when one use `MonitoredSession`, `tf.{estimator,train}.train_and_evalute` (or any similar wrappers), `tf.Estimator` because inside finalized graph is created inside and we don't have much control of (keras) model to ensure the creation of saving/restore ops.

[2019-08-05 20:41] k-w-w commented on #26430
@sdll @wookayin How is the model being exported to SavedModel? Are you using `estimator.export_saved_model`?

[2019-08-05 20:42] elyasmehtabuddin commented on #30580
@alextp Sure thing!

https://colab.research.google.com/drive/1sy0E7UHTngQ-mivhiOMb0v9xFB7WvaFE

![Screen Shot 2019-08-05 at 1 41 49 PM](https://user-images.githubusercontent.com/44978436/62493786-d3e4d200-b786-11e9-94bf-85e642d62edf.png)

[2019-08-05 21:11] IanQS opened #31343 "Behavior of tf.data.Dataset when `steps_per_epoch` is set"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2019-08-05 21:22] k-w-w commented on #27543
@TachikakaMin What model are you trying to save out (where is b'\n\x03Mul\x12\x03Mul\x1a\x0fconv2d7/Sigmoid\x1a\x0cdepth_result*\x07\n\x01T\x12\x020\x01' coming from?)

[2019-08-05 21:30] ymodak commented on #31246
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-08-05 21:30] #31246 closed

[2019-08-05 21:38] kasrayazdani commented on #31327
@Spotlight0xff do you mind providing more details on how to exactly use `tf.sysconfig.get_link_flags()`?

[2019-08-05 22:01] #25402 closed

[2019-08-05 22:15] rmlarsen commented on #29869
Sorry, I am really running short on cycles this month :(

However, this is still using the old tf.einsum and not the new EinsumOp.
The problem is then likely in the GPU kernel for BatchMatMul (which is a
bit surprising, as it's been around for while).

On Mon, Aug 5, 2019 at 10:32 AM Rasmus Munk Larsen <rmlarsen@google.com>
wrote:

[2019-08-05 22:17] rmlarsen commented on #29869
No worries. I'll take a look.

On Mon, Aug 5, 2019 at 3:15 PM Anudhyan Boral <anudhyan@google.com> wrote:

[2019-08-05 22:19] ymodak commented on #31267
- To find out which devices your operations and tensors are assigned to
[code]

- To switch between gpu and cpu
You can use ```tf.device```
See https://www.tensorflow.org/guide/using_gpu#manual_device_placement

[2019-08-05 22:24] bloops commented on #29869
I haven't tried this, but I think in theory, the problem should also be reproducible with:
  a = np.random.random([147456, 1, 2]).astype(np.float32)   # 147456 = 4 * 192 * 192
  b = np.random.random([147456, 2, 1]).astype(np.float32)
  c = tf.matmul(a, b)

[2019-08-05 22:28] ymodak commented on #31262
TF fails to recognize your GPU instance.
The reason for that is, You are using cuda 10.1 along with pre-built TF-GPU binary.
The TF-GPU 1.14 prebuilt binary supports cuda 10.0
See https://www.tensorflow.org/install/gpu#software_requirements
Therefore, you need to uninstall cuda 10.1 and install cuda 10.0
Further make sure you update environment path for cuda.
See https://www.tensorflow.org/install

[2019-08-05 22:41] peastman commented on #31174
After searching for a workaround, I've concluded this bug is more severe than I originally thought.  It doesn't actually matter where in the tree the `Variable` layer appears.  All that matters is that it takes no inputs, but is not itself an `Input` layer.  Any layer with those properties anywhere in a model produces the exception.

[2019-08-05 22:58] yuefengz commented on #31162
If you use distribution strategy, could you  try `tf.distribute.experimental.CentralStorageStrategy`?

[2019-08-05 23:13] gowtham-kp commented on #31147
@nairouz This looks like a bug as TF 1.13 doesn't throw any error but it throws an error with TF 1.14. I think this is a bug.

[2019-08-06 00:04] BMG-JTIAN opened #31349 "Adding custom op in 1.14"
I noticed there was a same topic #30632. The starter of the issue switches to tf 1.12 and solves the problem. But the problem is still not resolved. When I follow the instruction and try to compile the cuda kernel, I change the cuda_kernel_helper.h to gpu_kernel_helper.h and run into the same problem.

python2.7/site-packages/tensorflow/include/tensorflow/core/util/gpu_kernel_helper.h:22:10: fatal

[2019-08-06 00:05] gowtham-kp commented on #31265
@LieJiang Please make changes as suggested by  @pandrey-fr as I did the same and it works. Closing this issue as it has been resolved.

[2019-08-06 00:05] #31265 closed

[2019-08-06 00:11] ezhulenev commented on #30580
1. XLA encapsulates subgraph into a function
2. Grappler optimizes function library, and memory optimizer adds "tmp_var" node

Currently XLA-encapsulated functions are not marked with any attributes, and I guess there might be more potential problems in other optimizers. I think XLA should mark such functions with some attribute, so Grappler can skip them.

[2019-08-06 00:25] ymodak commented on #31272
I was able to reproduce the error with TF 2.0, beta1 and nightly.

[2019-08-06 00:27] gowtham-kp commented on #31144
@sajagkc11 Please post this question on stack overflow as this is a support issue and github is mainly for bug, performance, feature request and documentation request issues. Thanks!

[2019-08-06 00:27] #31144 closed

[2019-08-06 00:27] jvishnuvardhan commented on #30934
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-06 00:27] #30934 closed

[2019-08-06 00:29] jvishnuvardhan commented on #31016
I am closing issue as stackoverflow is better place for this kind of support questions. thanks!

[2019-08-06 00:29] #31016 closed

[2019-08-06 00:31] jvishnuvardhan commented on #29371
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-08-06 00:31] #29371 closed

[2019-08-06 00:34] jvishnuvardhan commented on #27190
Automatically closing this out since I understand it to be resolved by the PR #30463 (merged already), but please let me know if I'm mistaken.Thanks!

[2019-08-06 00:34] #27190 closed

[2019-08-06 00:35] nfelt commented on #30115
cc @omalleyt12 do you have any idea what might be going awry here?

[2019-08-06 00:50] jBachalo opened #31350 "ModuleNotFoundError: No module named 'tensorflow.contrib'"
Have spent a couple days troubleshooting.
Am getting the following error

The offending line is

Here are my setup specs

Any feedback or troubleshooting steps appreciated!

[2019-08-06 01:12] gowtham-kp commented on #31169
@There is a problem with the model itself @paulbauriegel. I might be wrong, but I noticed an issue with target_shape of the layer "x211 = layers.Reshape(name='211', target_shape=(-1,))(x203)". When I replaced -1 with any integer, there is no error at all.

[2019-08-06 01:14] gowtham-kp commented on #31148
Closing this issue due to the lack of inactivity. Please add additional comments and we can open the issue again. Thanks!

[2019-08-06 01:14] #31148 closed

[2019-08-06 01:27] lujq96 commented on #31264
Watching images will take into an error, as in common we directly feed a numpy.ndarray object into the model, images is not a tensor object and this happens:
`AttributeError                            Traceback (most recent call last)
<ipython-input-21-01d8068e12ab> in <module>()
      1 with tf.GradientTape() as tape:
----> 2     tape.watch(train_images)
      3     model.evaluate(x=train_images,

[2019-08-06 01:28] 0h-n0 opened #31351 "tf.gradients with "ValueError: Cannot create a tensor proto whose content is larger than 2GB.""
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary(pip tensorflow-gpu)
- TensorFlow version (use comm

[2019-08-06 01:49] myungjoo commented on #27833
Custom Linux, TF 1.13
bazel 0.19.2
gcc 6.2.1
aarch64

shows the exact same error.

[2019-08-06 02:23] TheNewSound opened #31352 "(Windows) ptxas_utils.cc(54): 'tensorflow::SubProcess' unimplemented class?"
tags: 2.0.0-beta0 subtype:windows type:build/install

**System information**
- OS Platform and Distribution: Windows 10
- Mobile device: -
- TensorFlow installed from: Source
- TensorFlow version: r2.0
- Python version: 3.6.8
- Installed using virtualenv? pip? conda?: NO, pip is installed, NO
- Bazel version: 26.0
- GCC/Compiler version: -
- CUDA/cuDNN version: 10.1 / 7.6.2
- GPU model and memory:

[2019-08-06 02:32] wenshuangwang commented on #31331
Same problem here with tensorflow-gpu 1.14.0, Ubuntu 16.04, Python 3.5.2.

[2019-08-06 02:33] snakepowerpoint commented on #8448
@cmertin how do you solve this problem afterwards?

[2019-08-06 03:02] MKFMIKU commented on #31349
I think you can edit the code from `#include "third_party/gpus/cuda/include/cuda_fp16.h"` into `#include "cuda_fp16.h"`. This solved my problem

[2019-08-06 03:12] miladnoori1996 commented on #26599
hey @ymodak, im using TF 1.13 on a nvidia xavier trying top get better performance from my image segmentation model implemented in keras. when importing tensorflow.contrib it gives me the same ERROR "cannot import name autograph"

[2019-08-06 03:18] peardox opened #31354 "Tensorflow library query API"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
Mac / Windows / Linux - x86 + Aarch64

- TensorFlow version (you are using):
1.11.0 and upwards

[2019-08-06 03:19] KabirKwatra commented on #31350
"In TF 1.14, TF-TRT was moved to the core from contrib.

You need to import it like this: `from tensorflow.python.compiler.tensorrt import trt_convert as trt`

https://github.com/tensorflow/tensorrt/blob/master/tftrt/examples/image-classification/image_classification.py#L22 "

from [StackOverflow](https://stackoverflow.com/a/56550206)

[2019-08-06 03:36] MKFMIKU opened #31355 "Custom OPS with registering gradient functions error in eager backprop"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Centos
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): PIP
- TensorFlow version (use command below): 2.0.0-beta1
- Pytho

[2019-08-06 03:37] zhangshexin commented on #31190
Thank you very much. The problem has been solved. Just push the code back

 absl/time/internal/cctz/BUILD.bazel
Change it to this：
# Copyright 2016 Google Inc. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   https://www.apache.org/licenses/LICE

[2019-08-06 03:37] #31190 closed

[2019-08-06 04:51] geometrikal commented on #31331
@wenshuangwang I found if I put `K.set_learning_phase(0)` before constructing the model, then it works. But I don't know how this affects training?!

[2019-08-06 04:58] gadagashwini commented on #31287
@svobora Thanks for providing the reproducible code.
I am able to reproduce the issue with Tenosrflow 2.0.0.beta1 on Colab. Please see the colab [gist](https://colab.research.google.com/drive/1LmQbwnFbOcEF9g1XZvWWkqQjcgP-Dck_). Thanks!

[2019-08-06 05:06] gadagashwini commented on #31285
@andres0820m Please provide us the minimal reproducible code snippet. It will indeed help us to move faster.Thanks!

[2019-08-06 05:16] ravikyram commented on #31073
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-06 05:16] #31073 closed

[2019-08-06 05:22] gadagashwini commented on #31231
@etsygankov Thanks for sharing the code.
I could able to reproduce the issue on Colab with Tensorflow 2.0.0.dev20190729. Please take a look at gist [here](https://colab.research.google.com/drive/1V6n4HIVDPJNZNQjmthrk6s1Xm2R0PS-0). Thanks!

[2019-08-06 05:28] gadagashwini commented on #31321
@MaramAdham7 Can you upgrade the Microsoft Visual studio 2017 and try build. Thanks!

[2019-08-06 05:31] Leslie-Fang commented on #30494
@acs6610987 I can exactly reproduce your issue with pip install tensorflow==1.14.0
However if I build from 1.14 source code I got different error message:
[code]

[2019-08-06 05:39] asadkhilji commented on #19375
This worked for me. Thanks

[2019-08-06 06:05] seolhokim commented on #31072
i'm sorry to miss to check that function.

[2019-08-06 06:05] #31072 closed

[2019-08-06 06:22] sjtusmartboy commented on #31327
@Spotlight0xff Does it mean that the tf version that compiles the `so` file and the tf version that loading the compiled `so` file should be the same?

[2019-08-06 06:23] chengleiwang commented on #31062
@gunan , do you know the history of how tensorflow loading cuda library? what's the purpose for using libcuda_static.a before and now?

[2019-08-06 06:23] rmothukuru commented on #31308
@Simaex ,
Thank you for sharing the Google Colab. I could reproduce the issue with tf-nightly-2.0-preview.

[2019-08-06 06:24] chengleiwang commented on #31195
Any update?

[2019-08-06 06:33] sdll commented on #26430
@k-w-w, the problem occurs when using `tf.estimator.train_and_evaluate` as @wookayin describes. The training step goes well, but then the program crashes on eval.

[2019-08-06 06:38] #31330 closed

[2019-08-06 06:42] sdll commented on #19407
Any updates on this?

[2019-08-06 06:45] srihari-humbarwadi commented on #31317
You can find it mentioned here https://www.tensorflow.org/beta/tutorials/distribute/training_loops
[code]

[2019-08-06 06:48] gadagashwini commented on #31255
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-08-06 06:50] gunan commented on #31195
Looks like an issue specific to cuda_clang?
I am the wrong assignee for this. Please reassign.

[2019-08-06 06:50] WindQAQ commented on #31273
@de-core Hi, I think the example has some errors within it:

1. `apply_gradient` takes **list of (gradient, variable) pairs** as input (that's why you use **zip**). However, since `input` is a **tensor** (not a list of tensors), `tape.gradient(loss, input)` thus returns a gradient tensor w.r.t. input. You can find that both `gradients` and `input` are a tensor instead of a list of tensors, implyin

[2019-08-06 06:58] gadagashwini commented on #31270
@memeda This is not an issue in Tensorflow 1.14.0. Would you like give try. Thanks!

[2019-08-06 07:01] gadagashwini commented on #28855
@rahuladream Did you get a chance to look at @manoj7410's comment. Thanks!

[2019-08-06 07:07] LGXNOTLGX opened #31357 "Android Studio using build.gradle appears Failed to find 'android-25'"
**System information**
- OS Platform and Distribution :Windows 10
- Mobile device : Xiao Mi Mix2
- TensorFlow version: 1.10.0
- Python version: 3.6

**Describe the problem**
Android Studio:

6:47:20 Gradle sync started
6:47:32 Gradle sync failed: Failed to find target with hash string 'android-25' in: D:\software\SDK
        Consult IDE log for more details (Help | Show Log)

When I use the 'build

[2019-08-06 07:07] memeda commented on #31270
Oh~ I'll try it~ sorry I am too lazy

[2019-08-06 07:10] gadagashwini commented on #31195
@chengleiwang
Provide the exact sequence of commands / steps that you executed before running into the problem

[2019-08-06 07:11] macawile21 commented on #26422
This works! You saved me. Thank you.

[2019-08-06 07:14] JionBin commented on #31229
Hi @ravikyram,
Any update? Thanks.

[2019-08-06 07:29] chengleiwang commented on #31195
1. Get tensorflow source code follow tensorflow document and checkout to r2.0 branch.
2. run ./configure.
   use python3, with cuda support, use clang as cuda compiler.
3. run command bazel test -c opt --strip=never --config=cuda_clang -s //tensorflow/core/kernels:cwise_ops_test
4, see error message.

[2019-08-06 07:32] stefanpantic opened #31358 "[freeze_graph]Node def expected inputs do not match with tf.keras layers"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Anaconda binary (```tensorflow-gpu```)
- TensorFl

[2019-08-06 07:48] jiarenyf opened #31359 "tflite output different result with pbfile when using only one convolutional layer ?"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): In a Ubuntu18.04 docker container.
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip install tensorflow==1.14
- Tenso

[2019-08-06 07:49] MaramAdham7 commented on #31321
@gadagashwini unfortunately I want the api to be used in a project using compiler 2010
So is it possible to build the api using compiler 2010?

[2019-08-06 07:50] mudassirej commented on #31216
[D3QN.tar.gz](https://github.com/tensorflow/tensorflow/files/3470959/D3QN.tar.gz)
These are the files.

[2019-08-06 08:00] jiarenyf commented on #31359
@rmothukuru @karimnosseir @aselle
Do you know what's the problem, thank you ?

[2019-08-06 08:03] #31270 closed

[2019-08-06 08:03] pandrey-fr commented on #31343
Hi,

In this case, the dataset will indeed be consumed sequentially from epoch to epoch without going back through it. You can notably see in the `fit` method's docstring that the `shuffle` argument (triggering shuffling of the data between epochs) is inactive when `steps_per_epoch` is set to something else than `None`.

A simple way to see it is to set a fake model and data with deterministic los

[2019-08-06 08:07] fhoering commented on #24003
Yes, I confirm. As mentioned by @nateagr. As each worker with shuffling each worker worker on Different examples, they see different categories and therefore different gradients are activated and the indexes of the sparse tensor are different.
I don't see any case with categorical features where this can actually work, maybe when having only one category per features across all examples.

[2019-08-06 08:20] rishabhsahrawat commented on #31162
Hi @yuefengz , thank you for your suggestion. I tried this by implementing it in the same way as `MirroredStrategy` so like
[code]
Read about it from [here](https://www.tensorflow.org/beta/guide/distribute_strategy#centralstoragestrategy) too.
Unfortunately, I am receiving following error, please correct me if my implementation is wrong.
[code]
The error log is huge, so sharing only the last part

[2019-08-06 08:21] manoj7410 commented on #31201
@DocDriven Can you try to download the latest C/C++ libraries from https://coral.googlesource.com/edgetpu/+/refs/heads/release-diploria/libedgetpu/ and try with these libraries ?
Additionally, try to use/modify one of our examples from https://coral.googlesource.com/edgetpu-native/+/refs/heads/release-diploria/edgetpu/cpp/examples/ and see if your model runs with it.

[2019-08-06 08:22] nielsgroen opened #31360 "Using tf.feature_columns in exported estimators fails when using tf.feature_columns.indicator_column"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

### System information
- Have I written custom code: Yes
- OS Platform and Distribution: Windows 10
- TensorFlow installed from: binary

[2019-08-06 08:24] pandrey-fr commented on #31324
Hi,
This is an interesting fact to point out, however I believe the proper way of setting up custom learning rates is to use an instance of a class inheriting `tf.keras.optimizers.schedules.LearningRateSchedule`, which returns a learning rate based on the ordinal of each optimization step, _e.g._ in your case:
[code]

Note however that changing the `lrate` property of such an instance will not aff

[2019-08-06 08:30] rishabhsahrawat commented on #31162
I have a question from all of you, @ymodak @gadagashwini @yuefengz , do you think if I use Tf1.14 I can achieve the task of training embedding layer with bigger dimension on multiple GPUs efficiently without any problems that I am facing in TF2.0?. If yes, then could you please share some helpful links for converting the code into TF 1.x. I am new in TF 1.x. Thank you!

[2019-08-06 08:34] wenshuangwang commented on #31331
@geometrikal Thank you very much, it works for me as well. I think it's ok if training and freezing separately.
I know the second way, but I must use tf.keras to use tensorflow_model_optimization.sparsity.

[2019-08-06 08:40] jiarenyf commented on #31359
In fact the problem in a ubuntu18.04 container on mac OS.
When I run the code in a ubuntu18.04 container on ubuntu OS, the problem disappear.
I wonder why ?

[2019-08-06 08:49] Qiuzhuang commented on #22345
It seems that we need to make sure following to build android .so without error:

1. ANDROID_NDK_API_LEVEL=21 see #20192
2. disable xla and cuda options.

[2019-08-06 08:59] jiarenyf commented on #31359
I found that when install tensorflow using 'pip install tensorflow==1.14.0', the problem occurs; when install by building from source and 'pip install tensorflow-1.14.1-cp36-cp36m-linux_x86_64.whl', the problem disappear.

I wonder this is a problem in tf==1.14.0 and has been fixed in tf==1.14.1 ?

[2019-08-06 09:04] lukas-w opened #31361 "UniqueV2 reports incorrect output shape"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 16.04.6 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command belo

[2019-08-06 09:06] BabaGodPikin commented on #24828
Thanks for posting this guys. I had similar issues, adding the below to my train.py right after import tensorflow worked for me:

from tensorflow.compat.v1 import ConfigProto
from tensorflow.compat.v1 import InteractiveSession
config = ConfigProto()
config.gpu_options.allow_growth = True
session = InteractiveSession(config=config)

System Specs is:
Windows 10
NVIDIA 2070 RTX GPU
Python 3.7
Cuda 10

[2019-08-06 09:15] jiarenyf commented on #31359
I found another question:

Adding one layer to the network make the result different between pb file and lite file...

[code]