[2019-01-23 22:47] tadeegan commented on #25147
Any tips on debugging this would be much appreciated. I am using the mirrored strategy.

[2019-01-23 23:04] msymp commented on #24658
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-23 23:04] #24658 closed

[2019-01-23 23:04] tadeegan commented on #25147
Installing these fixes the issue. There seems to be a cuda incompatibility even in the gcloud ml engine docker container.

[code]

[2019-01-23 23:08] #23943 closed

[2019-01-23 23:10] msymp commented on #24702
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-23 23:10] #24702 closed

[2019-01-23 23:20] msymp commented on #24703
@amitisgr8 , as the error says please use the new FeatureColumn APIs in your code and try again:
https://www.tensorflow.org/guide/feature_columns
https://stackoverflow.com/questions/51965094/whats-the-difference-between-tf-feature-column-input-layer-and-tf-layers-input

[2019-01-23 23:22] msymp commented on #24425
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-23 23:22] #24425 closed

[2019-01-23 23:31] msymp commented on #19837
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-23 23:31] #19837 closed

[2019-01-23 23:32] SuperKuooo commented on #22794
tensorflow doesn't support python 3.7 you can create a different environment with lower python through anaconda

[2019-01-23 23:34] msymp commented on #24772
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-23 23:34] #24772 closed

[2019-01-23 23:36] msymp commented on #24668
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-23 23:36] #24668 closed

[2019-01-23 23:38] msymp commented on #24636
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-23 23:38] #24636 closed

[2019-01-23 23:52] msymp commented on #24670
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-23 23:52] #24670 closed

[2019-01-24 00:00] ctmckee opened #25148 "TypeError when using PReLU activations with TPUs"
I'm updating a Keras Functional API SRGAN model, so that it will run on a TPU instead of GPU (i'm using colaboratory).
Everything is now OK, with the exception of being able to use PReLU Activation.  When I Fit a model that has a PReLU layer:

`x = tf.keras.layers.PReLU(alpha_initializer='zeros',alpha_regularizer=None,alpha_constraint=None,shared_axes=[1,2])(x)`

I get the following error:

`TypeE

[2019-01-24 00:01] gunan commented on #25026
I think this is simply the package is too big, when you include debug symbols.
Unless pip has support for somehow using 64 bit zip, I do not see how this can be done.

I do not see how we can fix this on TF side, either.

[2019-01-24 00:14] issa-s-ayoub commented on #3476
Another solution:

initial_state_c = tf.placeholder(dtype=m_dtype, shape=[None, cell_size], name="initial_state_c")
initial_state_h = tf.placeholder(dtype=m_dtype, shape=[None, cell_size], name="initial_state_h")

initial_state = tf.nn.rnn_cell.LSTMStateTuple(initial_state_c, initial_state_h)

cell = tf.nn.rnn_cell.LSTMCell(cell_size, use_peepholes=use_peepholes, initializer=kernel_initializer)
LS

[2019-01-24 00:22] rribani commented on #23410
Problem solved for me using Python 2.7 and the nightly build from https://pypi.org/project/tf-nightly/

[2019-01-24 00:39] msymp commented on #25039
@gbc8181 , can you please provide an example why would need this and what exactly do you mean by converting a dense to sparse? Thanks.

[2019-01-24 00:39] omalleyt12 commented on #25096
Thanks for raising this issue, this should be fixed in the next nightly of the preview. It may take a day or two to appear

[2019-01-24 00:39] ctmckee commented on #25148
Get one more error when I compile the full adversarial network:

`/usr/local/lib/python3.6/dist-packages/tensorflow/python/keras/engine/network.py in from_config(cls, config, custom_objects)
     1289
     1290     # First, we create all layers and enqueue nodes to be processed
-> 1291     for layer_data in config['layers']:
     1292       process_layer(layer_data)
     1293     # Then we process

[2019-01-24 00:40] ymodak commented on #25137
TensorFlow 1.12 does not support cuda 10. However the good news is that
TensorFlow 1.13.0-rc0 is released and comes with GPU binaries are now built against CUDA 10.
You can give it a try. Thanks!

[2019-01-24 00:44] SuMacal2019 opened #25149 "could you teach me how to config the openssl and icu lib？？？？？？"
tensorflow 1.12
win10
python 3.5
vs 2015 update3
compile tensorflow for tensorflow.dll and tensorflow.lib
could you teach me how to config the openssl and icu lib？？？？？？
how to package openssl and icu lib to tensorflow.dll and tensorflow.lib

[2019-01-24 00:45] mavericktx1 commented on #25148
How do I stop receiving emails from tensorflow

On Wed, Jan 23, 2019, 6:42 PM ctmckee <notifications@github.com wrote:

[2019-01-24 01:03] msymp commented on #25040
@yaserkl is investigating the differences between the _tf.hessians_ API in:
https://www.tensorflow.org/api_docs/python/tf/hessians
and the unreleased __hessian_vector_product_ in:
https://github.com/tensorflow/tensorflow/blob/r1.12/tensorflow/python/ops/gradients_impl.py : Line 1151
@rmlarsen & @vrv , Can you please advise? Thanks.

[2019-01-24 01:05] ymsaputra commented on #25117
I don't get what do you mean

I just simply installed as follows:

pip install --ignore-installed https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-1.12.0-cp27-none-linux_x86_64.whl for GPU or

pip install --ignore-installed https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.12.0-cp27-none-linux_x86_64.whl

[2019-01-24 01:09] alanpurple opened #25151 "version 1.13.0rc0 build failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04.1
- Mobile device (e.g.

[2019-01-24 01:32] ymodak commented on #25117
Can you try the setup in a virtual environment as given below:

source venv-tf/bin/activate
pip install tensorflow

[2019-01-24 01:43] policeme opened #25152 "os.environ["CUDA_DEVICE_ORDER"] not work"
I have two GPU, I want to create 2 graph in 2 GPU, first graph in first GPU, second graph in second GPU.
1. when I create first graph in first GPU, I use os.environ["CUDA_DEVICE_ORDER"] ='0'
2.when I create second graph in second GPU, I use os.environ["CUDA_DEVICE_ORDER"] = '1', but second graph still create on first GPU, I try many different ways, but it still not work.

It's a bug?

[2019-01-24 01:56] ymsaputra commented on #25117
Actually, I installed inside Anaconda environment.

[2019-01-24 02:33] ymodak commented on #25117
@gunan Can you please take a look? Thanks!

[2019-01-24 03:01] 312131 commented on #23410
Thanks.Also solved with python3.7.

[2019-01-24 03:30] amitsrivastava78 commented on #24703
@msymp , this is just a warning, also i have not modified anything in the Testcases, the least you can expect is the test case to run without modification, Any help in this regard will be highly appriciated.

[2019-01-24 03:31] vinod270989verma commented on #17393
Facing the same issue on my machine after some trials found a solution which worked for me.
Steps to solve the issue:
1. Re-Install Cuda(Till Date Tensorflow only supports Cuda V9.0 so install Cuda9.0 only)
2. Add Cuda library, bin paths to system variables
3. Add Cudnn(Any Version is Ohkey) library to Cuda9.0
4. Restart PC
5. Install "pip install tensorflow-gpu==1.8"(I tried with higher version a

[2019-01-24 03:43] stillwaterman commented on #18222
@ppwwyyxx Thanks for reminding，my bad

[2019-01-24 03:47] d0u9 opened #25154 "Is there tf_cuda_cc_binary rule in TF?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  RHEL 7
- Mobile device (e.g.

[2019-01-24 04:08] wangshankun opened #25155 "How to measure every node flops form tflite model？"
benchmark_model  or profile only have run time and memory，i  also want to get flops from node

[2019-01-24 04:14] hamirshekhawat commented on #23384
Thanks @raymond-li . I am trying to extract a feature vector from the conv layer "Avg Pool / s1" in mobilenet. I am working on an Android app so I mostly dont have the luxury to work with python. But the process of changing the appropriate bytes would still work.

[2019-01-24 04:15] gunan commented on #25117
This looks to be an error in numpy.
Could you check your numpy version?
What do you see when you just try `import numpy as np`
I suspect without even TF, the above will fail.

You may try uninstalling numpy, and installing 1.15.4.
[code]

Other than this, you can probably get more help from numpy forums.

[2019-01-24 05:02] ymsaputra commented on #25117
Thanks. It works. In my case, I uninstall numpy 1.16 first and then install 1.15.4. Finally, I install 1.16 version again. Now, tensorflow works well.

[2019-01-24 05:03] #25117 closed

[2019-01-24 05:46] ktaebum opened #25159 "eager.function.defun bypasses Autograph even when autograph=True"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): nightly (1.13.0-dev20190118)
- Python version: 3.5.2
- CUDA/cuDNN version: 9.0
- GPU model and memor

[2019-01-24 05:49] Bahramudin opened #25160 "Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning log message was printed above."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-01-24 05:54] yaserkl commented on #25040
I've fixed the issue with tf.hessians as follows:

I'm sure there would be a better (shorter) way of implementing this but the current implementation of tf.hessians is definitely wrong since it only returns the diagonal elements of the hessian matrix.

Now, once the hessian matrix is calculated, if we sum over rows or columns (since it's a symmetric matrix, it won't matter), it will give us the sa

[2019-01-24 06:17] hypadr1v3 commented on #22512
I downgraded protobuf from 3.6.1 to 3.6.0 but it still gives the same error for me

Traceback (most recent call last):
  File "C:\Users\Nazar Khan\Anaconda3\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\Nazar Khan\Anaconda3\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal

[2019-01-24 06:19] hypadr1v3 commented on #22512
btw I'm running an older version of windows 10, 1511. If it helps...

[2019-01-24 06:50] freedomtan commented on #25155
if what you want is estimating FLOPS, you can check what TensorFlow benchmark_mode does, check [its code](
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/benchmark/benchmark_model.cc#L148-L212) does.

[2019-01-24 06:59] chandanchinta opened #25162 "Cant convert my model to tflite. Show the following error. (included code)."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):anaconda
- TensorFlow version (use command below):latest
- Python

[2019-01-24 07:19] policeme commented on #25152
can anyone help me, Please

[2019-01-24 07:32] policeme opened #25164 "os.environ["CUDA_DEVICE_ORDER"] ='0' not work in tensorflow"
I have two GPU, I want to create 2 graph in 2 GPU, first graph in first GPU, second graph in second GPU.

when I create first graph in first GPU, I use os.environ["CUDA_DEVICE_ORDER"] ='0'
2.when I create second graph in second GPU, I use os.environ["CUDA_DEVICE_ORDER"] = '1', but second graph still create on first GPU, I try many different ways, but it still not work.
It's a bug?  Please help me.

[2019-01-24 07:32] shahiduos14 commented on #10104
https://colab.research.google.com/drive/1hFte7dNUZGVukuR0OY02t0atJgMzn6oc#scrollTo=Bl-yFZqKeezp&forceEdit=true&offline=true&sandboxMode=true

**Step 0**

Replace retrain.py with downloading file from following link and uploading it to same folder in Google drive.

https://raw.githubusercontent.com/tensorflow/hub/master/examples/image_retraining/retrain.py

**Step 1**

Go to this link :

https://co

[2019-01-24 07:32] shahiduos14 commented on #11044
https://colab.research.google.com/drive/1hFte7dNUZGVukuR0OY02t0atJgMzn6oc#scrollTo=Bl-yFZqKeezp&forceEdit=true&offline=true&sandboxMode=true

**Step 0**

Replace retrain.py with downloading file from following link and uploading it to same folder in Google drive.

https://raw.githubusercontent.com/tensorflow/hub/master/examples/image_retraining/retrain.py

**Step 1**

Go to this link :

https://co

[2019-01-24 08:04] SkullFang commented on #6393
This is a permission issue. Change the output file path strength. For example, my output path is 'output', and the run parameter needs to be written as "output/" instead of "/output/"
I will share my .sh file for your reference.
export BERT_BASE_DIR=/home/I348655/Document/Project/transfer_learn/bert/bert/uncased_L-12_H-768_A-12
export GLUE_DIR=/home/I348655/Document/Project/transfer_learn/bert/ber

[2019-01-24 08:13] threeleafzerg commented on #24887
@byronyi  I can run the distributed training successfully(CollectiveAllReduceStrategy) on my local machine. But it's still failed in our company cluster. (same set of software) Our clusters's is managed by slurm. Does it conflicts with gRPC? Is there any pre-cautions for using gRPC from network perspective?

Failed log for independent worker mode:
INFO:tensorflow:Graph was finalized.
2019-01-24 15

[2019-01-24 08:22] dmitrievanthony opened #25165 "Contrib package initialization is broken in 1.13.0.rc0"
When I try to use any functionality from `contrib` package I get an exception.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Ubuntu 17.04**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **-**
- TensorFlow i

[2019-01-24 08:38] threeleafzerg commented on #24887
@byronyi root caused this issue. It's caused by http_proxy settings. Thank you all for your support.

[2019-01-24 08:46] calannap commented on #17048
This solution is giving me this error:
TypeError: can't pickle SwigPyObject objects
any clue?

[2019-01-24 08:51] allangelman opened #25166 "Text generation tutorial issue"
**My issues relate to the following tutorial "Text generation using a RNN with eager execution"**:
- https://www.tensorflow.org/tutorials/sequences/text_generation

**System information**
- TensorFlow version: 1.12

(disclaimer: I am fairly new to using tensorflow, so please let me know if I am misunderstanding something!)

**1) Questions about the 'Try the Model' section**
`sampled_indices = tf.r

[2019-01-24 08:56] paduck86 commented on #24214
Thank you very much for your reply.
But there's no change after setting is_dynamic_op=True.
I am particularly struggling with attention module because the module change batch size on 3d*2d matmul operation.
I'll try again tomorrow and if there's another change, I'll answer it again.

[2019-01-24 09:03] Lxnus commented on #22706
Hey,
maybe look at my CUDA 10 build for Tensorflow. It works fine. I habe a GTX 2080, 64GB RAM. I have no problems to work with this build.

[2019-01-24 09:04] lcycoding commented on #24986
Hi @impjdi,
About the hanging issue, I still have no clue where I can do the test.
It just hanged in my app's pipeline, any other demo apps works fine :(

Back to the initialization issue, I noticed that we might have a special use case in network.
Sorry, I still can't let you access our current model.
But please check the following structure code.
[code]
Basically replace resize_bilinear op to tf

[2019-01-24 10:10] byronyi commented on #24887
@threeleafzerg Nevermind, and thanks for reporting your issue.

[2019-01-24 10:20] ANSHUMAN87 commented on #25162
Can you try like below
`from tensorflow import lite`

instead of
`from tensorflow.contrib import lite`

[2019-01-24 10:57] jenweilee opened #25167 "what is the FFT size of the tensorflow.audio_contrib.audio_spectrogram in input_audio.py?"
in input_audio.py, is the FFT size equal to window_size?
spectrogram = contrib_audio.audio_spectrogram(
          background_clamp,
          window_size=model_settings['window_size_samples'],
          stride=model_settings['window_stride_samples'],
          magnitude_squared=True)

if it is, should the window size be 2's power? because most of time the FFT size is equal to 2's power.

[2019-01-24 11:04] chandanchinta commented on #25162
@ANSHUMAN87

I tried but its giving the following error

ImportError: cannot import name 'lite'

[2019-01-24 11:31] adrianodennanni commented on #20517
Tensorflow 1.13-rc0 has been released (https://github.com/tensorflow/tensorflow/releases/tag/v1.13.0-rc0), however there is no Python 3.7 build on PyPI (https://pypi.org/project/tensorflow/1.13.0rc0/#files). Will Tensorflow 1.13 be released for Python 3.7 officially?

[2019-01-24 11:37] NoelKennedy commented on #22706
Hi all,

I've [managed to get this working](https://medium.com/@noel_kennedy/how-to-use-half-precision-float16-when-training-on-rtx-cards-with-tensorflow-keras-d4033d59f9e4) and haven't experienced any issues for a while.

TLDR: Install CUDA 10, build Tensorflow locally.  Once this is running you need to tell TF to use float16 and adjust the epsilon or you will get NaN during training.

[code]

[2019-01-24 11:53] ANSHUMAN87 commented on #25162
Try to follow the steps in below link:
https://www.tensorflow.org/install/pip

I suspect because you are using Python 3.7, the package released does not support Python 3.7 yet.
![image](https://user-images.githubusercontent.com/32511895/51676448-a3182900-1ffc-11e9-8db0-c49345797fb4.png)

Try to use respective versions and check once.
Suggest try with Python 3.6.
Please do let me know your outcomes

[2019-01-24 12:45] JairIA commented on #8251
Thx a lot @pilhoon, it s solve my issue!!!

[2019-01-24 12:49] Zeit42 opened #25168 "Error while calling TFLite interpreter - cannot import name cloud"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Raspbian Stretch
- Mobile devi

[2019-01-24 12:51] av8ramit commented on #20517
We are aiming to try and have Windows and Ubuntu python binaries by rc2 or the official.

[2019-01-24 12:54] #25137 closed

[2019-01-24 13:11] dankal444 opened #25170 "TFLite model returns completely wrong results."
**System information**
- Have I written custom code: YES
- OS Platform and Distribution : Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): pip (`pip install tf-gpu-nightly`)
- TensorFlow version (use command below): b'v1.12.0-6574-gee5c4383f9' 1.13.0-dev20190124
(Installed `tf-gpu-nigtly` version about two weeks ago, so decided to test everything again in current nigly version an

[2019-01-24 13:46] miguelmorin commented on #25007
After some experimentation, I found that choosing another image for the Azure virtual machine fixes this issue. I used `NVIDIA GPU Cloud Image` instead of `Data Science Virtual Machine`, and now the build proceeds until it runs out of space (a `Standard_NV24` gives 32 GiB of disk and Docker lists 17 GiB for the size and 20 GiB for the virtual size). That is another issue and I will close this one.

[2019-01-24 13:46] #25007 closed

[2019-01-24 13:55] akuegel commented on #25116
I have quickly looked into this, and it seems the problem is that this is running with an older version of tensorflow where we didn't support F16 and BF16 in the HloEvaluator. This was added in https://github.com/tensorflow/tensorflow/commit/4143d8d30b1f7d2737426c8c181c88bcd8dba5d5#diff-a685f07f7cd6e728595ee0a72055d248
As you can see, in that change, the error message was also changed to include t

[2019-01-24 14:49] defaultUser3214 opened #25171 "Runtime error: failed to find input Node 'image_tensor' after conversion from protobuf to tflite model file"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No I used the

[2019-01-24 15:33] chandanchinta commented on #25162
I thought the same but I am using python 3.6.5.
what should be the problem.
Thanks for putting up with me .

[2019-01-24 15:42] defaultUser3214 opened #25172 "Reason for big performance difference between TFLite and TF Mobile app? Protobuf and .tflite file as reason?"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No I used the DetectorActivity of android mobile demo app (https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android) and the TensorFlow Lite demo app (https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/java/demo)
- OS Platform and Distri

[2019-01-24 15:48] victorinno opened #25173 "ImportError: DLL load failed: Não foi possível encontrar o módulo especificado."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Windows 10 64bits

- TensorFlow installed from (source or binary): anaconda
- TensorFlo

[2019-01-24 15:48] gbc8181 commented on #25039
@msymp Hi, I want to multiply two tensors and one of them is sparse; the other is not. If it can be converted to sparse expression, we can save a lot of memory. Thus, we try to convert it to sparse.

[2019-01-24 16:14] anilsathyan7 commented on #23747
We tried the official tensorflow experimental gpu backend for inference on andorid by following the following links:-
1. https://medium.com/tensorflow/tensorflow-lite-now-faster-with-mobile-gpus-developer-preview-e15797e6dee7
2. https://www.tensorflow.org/lite/performance/gpu

The speed up for mobilenet v1 and mobilenet v2 was around '2x' when compared to float model
on OnePlus3(Snapdrahon 820, Ad

[2019-01-24 16:24] pooyadavoodi commented on #24214
Could you post the log. A small repro would be great too.

Does the conversion crash or some of engines fail during build/execution?

[2019-01-24 17:00] impjdi commented on #24986
@lcycoding

re: hanging: Yeah, I've been thinking what would be a barebones binary / source that will allow you to run.  It's not easy to send a binary over from my side... I might have some instructions soon.

re: initialization: I perfectly understand that you cannot disclose your network.  No worries.  The code looks alright to me.  Can you specify the shape / dimensions of everything?  TFLite

[2019-01-24 17:01] miguelmorin commented on #25007
A virtual machine with an additional 1 TB disk is able to build:

[code]

[2019-01-24 17:06] timudk opened #25174 "Why does tensorflow element not forget origin after using .eval()"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-01-24 17:12] metalalive commented on #23682
I managed to build Tensorflow v1.12 (release branch) on Raspberry Pi 3B+ , using Bazel 0.19.2 ,
 but my build was for c++ shared library.
Maybe that might work for building .whl ?

[2019-01-24 17:59] randolf-scholz opened #25175 "Dropout layer is broken"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.10
- TensorFlow installed from (source or binary): conda default channel
- TensorFlow version (use command below): 1.12 (conda version mkl_py36h69b6ba0_0)
- Python version: 3.6.8

**Describe the current beha

[2019-01-24 18:03] #24679 closed

[2019-01-24 18:45] BhuvaneshBhatt commented on #20517
Any news about Mac support? I'm stuck on Mac for now.
On Jan 24, 2019, 6:55 AM -0600, Amit Patankar <notifications@github.com>, wrote:

[2019-01-24 18:48] jinhw1989 commented on #10375
+1

[2019-01-24 18:51] tensorflowbutler commented on #18353
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-24 18:51] tensorflowbutler commented on #18786
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-24 18:52] tensorflowbutler commented on #24162
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-24 18:52] tensorflowbutler commented on #24257
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-24 18:52] tensorflowbutler commented on #24336
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-24 18:59] trevor-m commented on #24214
TensorRT does not support any modification of the batch dimension. They are planning to add support in the future, but it will not be available for a while.

For 3d*2d matmul, I have a workaround that involve changing your model. This will avoid the reshapes on the batch dimension. Are you using tf.layers.Dense()?

Try replacing your layers like so:
[code]
You will need to use TF1.13 or later (use

[2019-01-24 19:41] feihugis commented on #25175
@randolf-scholz I test it on tf-nightly(1.13.0.dev20190124). The results are in below and look correct.

When drop_rate = 0.99
[code]
When drop_rate = 0.2
[code]

[2019-01-24 19:42] Albis opened #25176 "Cannot build Tensorflow 1.12 On Windows 10 and CUDA 9.0"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): Source
- TensorFlow version: 1.12
- Python version: 3.6
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): 0.21
- GCC/Compiler version (if compiling from source): MSVC2015
- CUDA/cuDNN version: 9.0.176 / 7.4.2
- GPU mod

[2019-01-24 19:48] stratospark opened #25177 "tf.function decorated training loop not working with tf-nightly-gpu-2.0-preview==2.0.0rc0"
Using the autograph example, as is, from https://github.com/tensorflow/docs/blob/master/site/en/r2/guide/autograph.ipynb

When trying to run the 'Define the Training Loop' cell, I get this error
![image](https://user-images.githubusercontent.com/93366/51704290-80bae700-1fcd-11e9-9a99-8bfcc9da4e1f.png)

[code]

Tensorflow version: tf-nightly-gpu-2.0-preview==2.0.0rc0

System information:

== cat /e

[2019-01-24 19:52] qmeeus commented on #18652
Any updates? Compiling tensorflow from source yield so many errors on my system, so I rely on the latest gpu container and updating the log level only has the effect of not displaying anything, the waiting time is the same, hangs after "Adding visible gpu devices: 0"
Any other docker container that I can use that would solve the problem?

[2019-01-24 20:01] awaizman1 commented on #23420
Hi @TensorFlow-MKL ,

I have the same problem.
when running suggested workaround I get this error (similar link error but now on int128.lib).
please advice.

  C:/Program Files (x86)/Microsoft Visual Studio 14.0/VC/bin/amd64/link.exe /nologo /DLL /SUBSYSTEM:CONSOLE /MACHINE:X64 /FORCE:MULTIPLE @bazel-out/x64_windows-opt/bin/tensorflow/lite/toco/python/_tensorflow_wrap_toco.so-2.params /OPT:ICF /OP

[2019-01-24 20:05] feihugis commented on #24570
@selitvin @alsrgv I could not reproduce the warning on tf-nightly (1.13.0.dev20190124).

[2019-01-24 20:41] msymp commented on #25041
@UpCoder ,
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue temp

[2019-01-24 20:43] msymp commented on #25042
Not an issue. Closed.

[2019-01-24 20:43] #25042 closed

[2019-01-24 20:48] #22275 closed

[2019-01-24 20:51] msymp commented on #25043
@ymodak , can you please assist with this. Thanks.

[2019-01-24 20:58] defaultUser3214 commented on #25172
The reason why I did this is the fact that I get the error described in #25171 when I include a model generated from a protobuf file. Apart from that, I couldn't find a .tflite and the suiting .pb file in the web in the model zoo and the web.

[2019-01-24 20:59] 0x0L opened #25178 "Inconsistent behavior of sample weight for Keras"
TF: home compiled master from a few days ago
Keras: 2.2.4 (pypi)

Hi

Consider the following snippet
[code]

This seems a bit all over the place. Keras behavior is cringeworthy as the loss is discontinuous in `w` . For w[1] = 1e-6, one gets 0.13333... but at least its consistent.

I don't know what should be done but I'm sure others have wasted half a day of work because of this ;)

[2019-01-24 21:03] msymp commented on #25045
@Gargo , can you please clearly describe your issue that you are facing? Also
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to inc

[2019-01-24 21:25] ymodak commented on #24869
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-24 21:25] #24869 closed

[2019-01-24 21:26] ymodak commented on #24725
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-24 21:26] #24725 closed

[2019-01-24 21:26] #24542 closed

[2019-01-24 21:32] ymodak commented on #24460
TensorFlow 1.13.0-rc0 is released and comes with GPU binaries built against CUDA 10.
You can give it a try. Thanks!

[2019-01-24 21:32] #24460 closed

[2019-01-24 21:41] nadianaji opened #25179 "how can I solve this error InvalidArgumentError during visualizing the output?"
I had the following code for implementing an autoencoder. I implement it and after learning phase, I want to visualize the output of each layer, but when I want to show the output of layer 5 and more it produces this error and I can not see the output of layers. I'm a little confused. if I do not feed a value, how does the network finish training? I also can show the output of layers before 5th la

[2019-01-24 21:55] #24639 closed

[2019-01-24 22:02] msymp commented on #25046
@humayunr7 , @MatthiasRathbun is correct, r1.12.0 will run reliably with CUDA 9 & cuDNN 7 ; TensorFlow tends to allocate memory greedily to each session created and assigned to GPU cores. So you have to experiment. Please let us know if you could scale stably to batch size of 32. Thanks.

[2019-01-24 22:04] agramesh1 commented on #24991
Pinging @TensorFlow-MKL

[2019-01-24 22:05] FranciscoSP commented on #25083
@anamozov You need to compile the "libtensorflow_demo.so" for your phone architecture, it is used for the tracking. First try to add this to your project: [https://github.com/miyosuda/TensorFlowAndroidDemo/tree/master/app/src/main/jniLibs](url).

[2019-01-24 22:33] msymp commented on #25050
@john81923 ,
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue te

[2019-01-24 23:07] MatthiasRathbun commented on #25046
@msymp shouldn’t be an issue now, @humayunr7 should make sure his cudnn is compatible with cuda 10, but pip install tensorflow-gpu==1.13.0rc0 works with cuda 10.

[2019-01-24 23:15] ymodak commented on #25162
Can you try,

Also can you print the current TF version you are using?

[2019-01-24 23:30] #25127 closed

[2019-01-24 23:31] ymodak commented on #25160
duplicate #24828
Closing this issue so that we can focus on one thread. Thanks!

[2019-01-24 23:31] #25160 closed

[2019-01-24 23:33] ymodak commented on #24828
@gunan Can you please take a look or suggest someone? Apparently there is an incompatibility between the cuda 9.0 and cuDNN version 7.0 and above. Thanks!

[2019-01-24 23:39] ymodak commented on #25151
Python 3.7 is not supported in 1.13.0rc0 yet. However we can expect it in [rc2 or official](https://github.com/tensorflow/tensorflow/issues/20517#issuecomment-457185528).

[2019-01-24 23:46] bolau opened #25181 "Accept h5py.Group in tf.keras save/load functions"
**System information**
- TensorFlow version (you are using): 1.13
- Are you willing to contribute it (Yes/No): yes

**Describe the feature and the current behavior/state.**
The save_model function in tf.keras.models currently accepts a filepath or a h5py.File model.
It would be nice if this was generalized to accepting h5py.Group objects. This makes it possible to store more than one model in one

[2019-01-24 23:51] ymodak commented on #25118
Probably you can take a look at [TensorFlow Magenta](https://magenta.tensorflow.org/). If you have specific questions related to Magenta project you can post it on [Magenta Github repo](https://github.com/tensorflow/magenta/issues). Thanks!

[2019-01-24 23:51] #25118 closed

[2019-01-25 00:12] msymp commented on #25063
@llAamirll , Please try the following steps to do a conda install on Windows for TensorFlow 1.10.0 ; There is no GPU support.
Create a conda environment called tensorflow:
_$ conda create -n tensorflow python=3.5_
A community maintained conda package is available. Use the conda install instructions shown here:
_https://anaconda.org/conda-forge/tensorflow_

[2019-01-25 00:37] msymp commented on #25064
@lnshi , TensorFlow r1.12.0 does not seem to support your Golang interfaces for your planned _Tensor::AsProtoTensorContent_ and _tensorflow::grpc::EncodeTensorToByteBuffer_
You may have to implement them yourself and invoke appropriate TensorFlow APIs.

[2019-01-25 00:38] mdanatg commented on #19214
Quick update: this now works in TF2 with [@tf.function](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/function) (which uses a stable subset of autograph):

[code]

[2019-01-25 00:45] homandiy commented on #20975
Install tf_nightly: pip3 install tf_nightly
Fix the python library: https://stackoverflow.com/questions/48435006/modulenotfounderror-no-module-named-tensorflow-contrib-lite-toco-python

[2019-01-25 00:51] msymp commented on #25066
@ytdu , this is an excellent and targeted bug you have detected:
**_tf.contrib.opt.AdamWOptimizer_ does not do weight decay when using _MirroredStrategy_ along with _tf.get_variable_**
@karmel and @josh11b , please advise who can help with this bug. Thanks.

[2019-01-25 00:57] angersson commented on #24619
I ran a build on the latest Nvidia drivers (**CUDA 10 requires the latest drivers which may not be marked "stable"**) and it looked good:

[code]

(`asm_images` from https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/dockerfiles)

I'll close this issue since it seems to be resolved, although I'm still looking into running a build on Docker as part of our Docker release process.

[2019-01-25 00:57] #24619 closed

[2019-01-25 01:04] angersson commented on #24614
I ran the provided command with no issues. If the latest "latest" images still don't work, you may have an outdated version of the NVidia drivers (from `nvidia-smi`:

[code]

Older versions of the drivers don't support CUDA 10.

[2019-01-25 01:04] #24614 closed

[2019-01-25 01:43] Bahramudin commented on #24828
This error may be related to installation TF with `conda`.

The possible solution is like this:
In the command line issue this command:
`conda list cudnn`
It will print:
` Name                    Version                   Build  Channel`

If the result is not empty as the above, so it means you used conda installed TF, when using conda for installing TF, then it will install all the dependencies e

[2019-01-25 01:47] gitmcdull commented on #21772
This issue has driven me mad. I trained a transformer using the codes & data from tensorflow/models.
The problem of datalosserror corrupted record popped up at random steps. As shown in the following snippet, the training process failed around step 40300. While in other cases, it might fail at the very begining. It's so wired.
<img width="1127" alt="481e79e5-2cbd-429f-9ad8-54dfcc4860a4" src="https

[2019-01-25 01:57] lcycoding commented on #24986
@impjdi
re: initialization:
The whole network's input shape is simple [1,256,256,3]
The shape of these resize blocks are just like making [1, 32, 32, 128] -> [1, 32, 32, 256] -> [1, 32, 64, 256] then reshape into [1, 64, 64, 128]
Is there any information I could provide?

Really appreciated for your help!

[2019-01-25 02:45] thorjohnsen commented on #25116
This issue appears to have been fixed, Transformer runs fine with XLA enabled in tf-nightly-gpu. I am closing the issue.

[2019-01-25 02:45] #25116 closed

[2019-01-25 02:51] freedomtan commented on #25171
And I really cannot tell the app what you try to use is TF Mobile one or TFLite one. If you what you want try is the TFLite one, you should read [this article](https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193) first.

[2019-01-25 02:54] ymodak commented on #25160
Read your solution on the thread. Thanks a lot for sharing it, will keep a note of it moving forward.

[2019-01-25 02:56] ymodak commented on #24828
@deepakrai9185720 Is this still an issue for you? Can you please try @Bahramudin 's suggestion and confirm if it solves the problem for you?

[2019-01-25 03:03] byronyi commented on #19391
@gunan Thanks, I see your CL in b682bdd374ff453f2ebb85d9e8a2b3eeed79df4f.

[2019-01-25 03:04] prachm opened #25185 "tf 2.0 preview installed successfully, unable to import tensorflow, ImportError: DLL load failed"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Home
- TensorFlow version: tf 2.0 preview gpu
- Python version: 3.6
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version: CUDA 10
- GPU model and memory: Nvidia GTX 1050

**Describe the problem**
W

[2019-01-25 04:01] yuyijie1995 commented on #11771
@HannH  I have the same problem , which solution is useful to you ? Is the "set PreferredToolArchitecture=x64"?  I try to add "-T host=x64" to cmake command line args. but another error happened . Can I have your qq or wechat number?

[2019-01-25 04:06] ymodak commented on #25068
@jlebar

[2019-01-25 04:55] chandanchinta commented on #25162
I have tried it out.
It is giving the same error as before.

[2019-01-25 05:05] anamozov commented on #23457
@FAMM2017
You need do (Build.gradle) :
def nativeBuildSystem = 'none'
It has been stated in [https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/README.md ](url) that the demo should be built using Android Studio even if  nativeBuildSystem = 'bazel'. However, if I try to build using bazel I get the same error as this issue:
**error: cannot find symbol class Fill
where

[2019-01-25 05:16] martinwicke commented on #24754
If you're willing to get a little dirty, you can look into the silence context manager inside deprecation.py. It's not part of the official API (and it won't be), but you can use it to hackily suppress deprecation warnings.

[2019-01-25 05:16] anamozov commented on #25083
As @FranciscoSP the issue is resolved by adding object tracking to the project, which is building the project using bazel.

[2019-01-25 05:16] #25083 closed

[2019-01-25 05:16] lijianSE opened #25187 "IExecutionContext in TRTEngineOp is non thread-safe."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Home: CentOS 7
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.11
- Python version: 2.7
- Bazel version (if compiling from source): 0.18
- GCC/Compiler vers

[2019-01-25 05:21] martinwicke commented on #24632
@omalleyt12 are you working on TensorBoard integration? Can you take a look at this?

[2019-01-25 05:38] psgithubuser commented on #24991
@Nathan Greeneltch
Thank you for replying. Yes, I have set the runtime settings according to
the tensorflow performance page. Please find the packages list(using conda
list) attached. I installed the Intel-Optimization for Tensorflow using:
conda install tensorflow

Regards,
Parth Sinha

On Fri, Jan 25, 2019 at 4:00 AM Nathan Greeneltch <notifications@github.com>
wrote:

# packages in environment

[2019-01-25 06:16] gunan commented on #19391
Thanks for your patience, it took a while to get it merged.
As far as I can tell, this should be all we need to be able to build hwloc on linux.

[2019-01-25 06:49] 1049451037 commented on #24951
Yes, the feature I request here is taking dense in and giving sparse back, which is different from both embedding_lookup and embedding_lookup_sparse.

[2019-01-25 07:17] ucasiggcas opened #25190 "How to obtain testing_list.txt ?"
Dear,
In the [project,](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/speech_commands)
the testing_list.txt in data_dir file is not written in training data,it existed before,
so how to write the testing_list.txt with my data?
Thx

[2019-01-25 08:35] omalleyt12 commented on #24632
@martinwicke Yep, will do

[2019-01-25 08:49] Vincent630 opened #25191 "convert densenet169 model to .tflite model fails, report lack min/max data"
### System information
- TensorFlow-gpu 1.12
-OS Platform e.g., Linux Ubuntu 18.
-Python version3.5
- gtx1070
-bash scripts:
echo 'starting convert fake model into tflite model:'${model_name}.....

    tflite_path="./models/${model_name}/fake/model.tflite"

    test -f ${tflite_path} || tflite_convert --output_file=./models/${model_name}/fake/model.tflite \
                    --graph_def_file=./m

[2019-01-25 08:58] darouwan commented on #177
I install  with offline tensorflow conda package,  it still happens.

[2019-01-25 09:43] ilous12 opened #25193 "TensorflowLite GPU + DeepLab porting"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2019-01-25 09:48] zjjott commented on #7511
+1

[2019-01-25 09:59] andreapavan commented on #25058
@msymp Thanks for the reply. Python was 2.7.10. I updated my post. I installed Bazel 1.15.0 from binary installer, but I always the same problem. I think is a problem of linking (or missing linking) of some library. How can I check all the dependencies?

[2019-01-25 10:23] ANUBHAVNATANI commented on #20444
+1

[2019-01-25 11:10] dmcbeing commented on #25026
This was my suspicion as well.

I understand, however what is the 'recomened' aproach to building and debuging of the c++ core?
Building twice would be tediously slow.

Thanks

[2019-01-25 11:43] DavidWiesner commented on #25152
You want specify  visible devices not the device order. Use
`s.environ["CUDA_VISIBLE_DEVICES"]="0"`

[2019-01-25 11:49] policeme commented on #25152
I will try, thank you

[2019-01-25 12:33] nmoran commented on #25107
Looking a bit deeper, seems something is going wrong when this rule goes from the build file at `./third_party/toolchains/gpus/cuda/BUILD` which lists 980 header files to the automatically generated one in the cache folder which has 35k files. This corresponds to every header file in the `/usr` folder.

I suspect this is not showing up in other builds as there is a separate folder for cuda (e.g. `

[2019-01-25 13:21] indrasweb commented on #20619
Same here. This breaks all models compiled with keras_to_tpu and means you can't get any sort of learning rate decay working; pretty big bug imo.

[2019-01-25 13:29] taurandat opened #25195 "Analysis of target '//tensorflow/contrib/resampler:resampler_ops_xla_test_gpu' failed"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version: r1.13
- Python version: 3.6
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source): 0.21.0
- GCC/Compi

[2019-01-25 14:00] mdanatg commented on #24557
Side note: when replicating the bug, I found a strange error caused by `limit=tf.constant(.9)`. Python mechanics can lead to unexpected behavior using placing non-primitive values for default arguments, in this case a constant created outside the default graph.

[2019-01-25 14:02] mdanatg commented on #24557
It seems like the way we handle empty lists doesn't play well with `AdamOptimizer`. Until we get this sorted, please use this alternate way to initialize `nys` and `nps`:

    nys = tf.TensorArray(tf.float32, size=0, dynamic_size=True)
    nps = tf.TensorArray(tf.float32, size=0, dynamic_size=True)

That removed the error in my tests - could you verify if it works in yours?

[2019-01-25 14:02] bitianchi opened #25196 "How to do distributed training with multi-gpus"
Hi, I got a problem of doing synchronous training on distributed training. I want to use multi-machines with multi-GPUs on distributed training. But I can't find any material about it. Is here any one giving me some help? Thanks a lot.

Here is part of my code.

    with tf.device("/job:worker/task:%d" % FLAGS.task_index, cluster=cluster):
            global_step = tf.Variable(0, name="global_step

[2019-01-25 14:05] bitianchi commented on #25196
with this code, work:1 always prints "Waiting for model to be ready.  Ready_for_local_init_op:  Variables not initialized" but work:0 is training

[2019-01-25 14:39] AntoineWeber opened #25197 "tensor_shape.cc : Check failed: 0 <= new_num_elements (0 vs. -1)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Raspbian Stretch 9
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: raspberry-pi 3B
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use comm

[2019-01-25 15:15] policeme commented on #25152
@DavidWiesner this is my code, but it still not work, it occur same condition, can you help me?
<img width="1006" alt="image" src="https://user-images.githubusercontent.com/30991932/51754174-9677fb80-20f6-11e9-85c6-c2e143d194e1.png">
<img width="997" alt="image" src="https://user-images.githubusercontent.com/30991932/51754197-a68fdb00-20f6-11e9-8262-aee25cd725e6.png">
<img width="1006" alt="image"

[2019-01-25 15:24] DavidWiesner commented on #25152
Bert is also importing tensorflow so put your environment variables before import bert

[2019-01-25 15:38] xulongwu4 commented on #24614
This is weird. I still see the same problem. The following is the output of `nvidia-smi` on my laptop:

[code]

[2019-01-25 15:45] indrasweb commented on #20619
I have put together a minimal example here on Colab; https://colab.research.google.com/drive/1wuOzZIYU7Tw1bHd6tE1SO0JWslZ7Q11f

[2019-01-25 15:47] hadaev8 commented on #20619
@tanzhenyu may you advise, how to upgrade tensorflow on google colab tpu?
I tried
!pip uninstall tensorflow -y
!pip install tf-nightly
But get error then try to train

[2019-01-25 15:57] gyp2448565528 opened #25198 "Build from source in RelWithDebInfo build type, get a error : LNK 1248 image size (10068FDA8) exceeds maximum allowable size (FFFFFFFF)"
**System information**
- OS:  Windows10 64bit pro  32g RAM
- TensorFlow version:  r1.10
- Python version:  3.5.2
- cmake version : 3.6.3
- GCC/Compiler version : VS2015 update3
- CUDA/cuDNN version: CUDA9.0 Cudnn7.0
- GPU model and memory:GTX1080 8G
- sigwin version :3.0.10

**Describe the problem**
I have built from source in Release build type successfuly.
But when I try to build it in RelWithDe

[2019-01-25 16:04] xulongwu4 commented on #24614
I tried the latest "latest" -- namely the "nightly-gpu" version. I still see the same problem -- this time it is complaining about `libcublas.so.10.0` though.

[code]

[2019-01-25 16:09] #25197 closed

[2019-01-25 16:18] prachm commented on #25185
I was able to resolve the issue by doing the following:

1. Uninstall tensorflow
2. Re-install CUDA 10 without VS integration
3. Download and install CuDNN 7.4.2
4. Install Tensorflow 2.0 GPU preview by running the command `pip install tf-nightly-gpu-2.0-preview`

[2019-01-25 16:18] #25185 closed

[2019-01-25 16:33] AntoineWeber commented on #25197
I actually found where the error came from but I cannot clearly explain why. It seems like the TensorShape did not manage to correctly understand my array. I read somewhere in the source that it could need an input array up to dimension 6 so potentially an error in intepreting my array ? I may be completely wrong...

The workaround is to add dimensions one by one, using the adDim method.
[code]
I

[2019-01-25 16:45] policeme commented on #25152
@DavidWiesner but I change my code, it still occur same condition, this is my code, after change,

<img width="1280" alt="image" src="https://user-images.githubusercontent.com/30991932/51759509-59fecc80-2103-11e9-950c-e896b10c9784.png">
<img width="1277" alt="image" src="https://user-images.githubusercontent.com/30991932/51759530-62570780-2103-11e9-9fbb-f26524a430b8.png">
<img width="1270" alt="im

[2019-01-25 16:46] policeme commented on #25152
@DavidWiesner this is first page, it lossed
<img width="888" alt="image" src="https://user-images.githubusercontent.com/30991932/51759713-d1346080-2103-11e9-851f-3549ed8fdfbb.png">

[2019-01-25 16:48] policeme commented on #25152
this is running time log
<img width="903" alt="image" src="https://user-images.githubusercontent.com/30991932/51759805-03de5900-2104-11e9-87fe-2ddf7103c257.png">

[2019-01-25 16:50] josh11b commented on #25066
I don't know about this specific issue, but in general we have not supported contrib libraries with tf.distribute.Strategy since they are going away with 2.0.

[2019-01-25 16:52] policeme commented on #25152
@DavidWiesner please help me, this is very important to me, I was perplex by this problem  2 days.
thank you very much!

[2019-01-25 16:52] SooDevv commented on #20619
@tanzhenyu
[code]
[code]
## Error logs
[code]

[2019-01-25 16:53] josh11b commented on #25066
In general I don't know what happens when you combine TPUEstimator with MirroredStrategy. I'd expect you to use one or the other but not both.

[2019-01-25 17:35] martinwicke commented on #25175
@aselle I don't know when this was fixed, but this may be important enough to cherry-pick into 1.13 if it wasn't fixed before the branch cut.

[2019-01-25 17:37] tanzhenyu commented on #20619
@SooDevv there are two changes in order to make this work:
1. use tf.keras instead of keras -- the new optimizers is only available through tf, not keras yet, we have further plans to develop that in keras repo.
2. replace tf.train.AdamOptimizer with tf.keras.optimizers.Adam

[2019-01-25 17:37] DavidWiesner commented on #25152
It is working. In the log you see only one gpu will be used

[2019-01-25 17:38] tanzhenyu commented on #20619
@SooDevv
Example:

`import tensorflow as tf
import numpy as np
from tensorflow.python.keras.callbacks import EarlyStopping, ReduceLROnPlateau
reduce_lr = ReduceLROnPlateau(monitor='val_acc', patience=2, verbose=1, factor=0.5, min_lr=0.00001)
earlystop = EarlyStopping(patience=5)
callbacks = [reduce_lr, earlystop]
from tensorflow.keras import models
from tensorflow.keras import layers
from tensorfl

[2019-01-25 17:39] jlebar commented on #25068
Hi, thank you for the bug report.

Not today.  We are working on changing this, but at the moment the assumption that all shapes are known at compile time is baked very deeply into XLA.

Could you clarify for me: Is the large number of compilations hurting overall?  Like, if you trained to convergence with XLA, would this be slower because we're compiling so many things?

If not, then I'm not sure

[2019-01-25 17:42] tanzhenyu commented on #20619
@hadaev8 I cannot edit your colab, can you try changing tf.train.AdamOptimizer to tf.keras.optimizers.Adam?

[2019-01-25 17:44] feihugis commented on #25175
Also test in on ` tensorflow==1.13.0rc0`. The results look good.

[2019-01-25 17:49] martinwicke commented on #25175
Thanks @feihugis!

[2019-01-25 17:58] fchollet commented on #25175
@martinwicke tested dropout with 1.12 (from PyPI), works fine. We have unit tests for this, always had.

[2019-01-25 18:03] martinwicke commented on #25175
Hmm... strange thing to be broken by a conda rebuild. But then... who knows.

[2019-01-25 18:04] sanjoy commented on #25068
Another option is to avoid clustering ops like `tf.where` (which is what `tf.boolean_mask` boils down to IIUC) to avoid excessive recompilation.  This may be easier than it sounds since it does not need to be 100% correct -- we only need it for profitability and not correctness.

[2019-01-25 18:07] sanjoy commented on #25068
Btw, an easy way to do this is to change (increase in this case) the `kDefaultCompilationThreshold` field: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/jit/xla_compilation_cache.h#L190

I can change this to be a flag settable from the `TF_XLA_FLAGS` environment variable if that will help.

[2019-01-25 18:10] randolf-scholz commented on #25175
@fchollet @martinwicke

The problems seems to appear in `tf.keras`, but not in the standalone `keras` package. The issue also seems affect the  `keras.backend.in_train_phase` phase switch. I tested it with the following files:

- [https://pastebin.com/SvTwrSC8](https://pastebin.com/SvTwrSC8)

- [https://pastebin.com/VtBwL5mz](https://pastebin.com/VtBwL5mz)

[2019-01-25 18:33] hadaev8 commented on #20619
@tanzhenyu
Its not mine colab, its work, couz it copy keras adam parameters to tensorflow adam every step.
It would be better to do it without copying every step.

[2019-01-25 18:48] #23326 closed

[2019-01-25 18:48] tensorflowbutler commented on #21959
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-25 18:49] tensorflowbutler commented on #23326
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2019-01-25 19:26] cmwolverton opened #25200 "tf.keras load_model fails to load a model created with Keras"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Win7 same issue on Ubuntu
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command

[2019-01-25 19:31] ppwwyyxx commented on #25175
@martinwicke tested dropout with 1.12 (from PyPI) and colab, with the above code. Does not works fine.

[2019-01-25 20:16] newhouseb commented on #24496
Chiming in to say I also experienced this under the following configuration:

- Running tf benchmarks from https://github.com/tensorflow/benchmarks
- RTX 2080
- Ubuntu 18.04
- CUDA 10.0
- Nvidia Drivers 415.27
- Tensorflow 1.13.0-dev20190125
- CuDNN 7.4.2
- Python 3

Tensorflow Docker GPU containers with stable releases of everything don't work either (they straight up segfault rather than report

[2019-01-25 20:20] ymodak commented on #25193
Did you get a chance to look at [tensorflow-lite-now-faster-with-mobile-gpus-doc](https://medium.com/tensorflow/tensorflow-lite-now-faster-with-mobile-gpus-developer-preview-e15797e6dee7?linkId=62443226)

[2019-01-25 20:36] shehryar04 commented on #14357
After setting updates_collections=None in tf.contrib.layers.batch_norm, do we also need to do this:
[code]

[2019-01-25 20:46] karimnosseir commented on #25085
Hi,
Currently we don't support this, and no plan in the near future.

Thanks

[2019-01-25 20:46] #25085 closed

[2019-01-25 21:52] ymodak commented on #25162
Can you try with tf-nightly build?

[2019-01-25 21:57] jvishnuvardhan commented on #21062
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-25 21:57] #21062 closed

[2019-01-25 21:58] ymodak commented on #21726
@MCMcCallum Is this still an issue for you? Can you please test with TF 1.13.rc0 and check? Thanks!

[2019-01-25 22:02] rajatmonga commented on #25175
Lets leave the issue open while we figure out more details and provide updates here.

[2019-01-25 22:03] ymodak commented on #21728
Apologies for delay in response. I think facenet repo can be better platform to address this question, since its not a bug or feature request on the lines of TensorFlow core framework. You can post this issue in facenet repo from [here](https://github.com/davidsandberg/facenet/issues). Thanks!

[2019-01-25 22:03] #21728 closed

[2019-01-25 22:07] fchollet commented on #25175
@randolf-scholz: thank you for taking the time to report this.

To be fair I have not done a full investigation and I have not looked at what was wrong with the script posted, or at which commit its behavior might have started changing.

Here is the test script I have used. I have only tested it with 1.13 and 1.12 on CPU. I have tested it in eager and graph mode. The script rigorously test that th

[2019-01-25 22:15] ymodak commented on #21740
Closing this issue since its resolved. Thanks!

[2019-01-25 22:15] #21740 closed

[2019-01-25 22:19] pranavj7Z commented on #21045
I am still getting error.

[2019-01-25 22:20] nathan-greeneltch-intel commented on #24991
@psgithubuser we've seen similar issues on test code using dummy date when the size of the data was very small. MKL never launches the extra threads because the problem size is too small. If this is how you are running, try making the data size larger. Otherwise, please provide me more information on the type of data you are passing. (COCO? if so, how many images). At that point I can try to repro

[2019-01-25 22:30] fchollet commented on #25175
I have now done a full investigation of the issue with the script posted. I confirm that incorrect behavior is present in 1.11 and 1.12.

This behavior is entirely unrelated to either the `Dropout` layer, or to the `in_train_phase` backend utility. The `Dropout` layer works completely fine.

The bug is an issue that occurs when using a `Sequential` model in "deferred mode". Deferred mode is a rece

[2019-01-25 22:30] #25175 closed

[2019-01-25 22:56] jvishnuvardhan commented on #21104
I understand that this was resolved by #21928. If you think I am mistaken, please feel free to open again. Thanks!

[2019-01-25 22:56] #21104 closed

[2019-01-25 23:04] jvishnuvardhan commented on #21095
I understand that this was resolved with the recent tutorials. I am closing this issue. Please open a new ticket if you see similar issue. Thanks!

[2019-01-25 23:04] #21095 closed

[2019-01-25 23:05] msymp commented on #25039
@gbc8181 , Please use this operation available in TensorFlow:
https://www.tensorflow.org/api_docs/python/tf/sparse/matmul
Thanks.

[2019-01-25 23:12] msymp commented on #25058
@andreapavan , This is apparently a systems issue specifically to the iOS build environment. This does not seem to be a TensorFlow repo issue. Can you check into some iOS community boards for answers? Thanks.

[2019-01-25 23:16] ymodak commented on #25173
I suspect you have installed TF - GPU version. Can you please confirm? Also can you please describe the steps you followed to install TF? Thanks!

[2019-01-26 00:38] jlebar commented on #25068
Is it as simple as not clustering `tf.where`?  ISTM we'd have to sort of poison everything whose shape "inherits from" that op.

I agree it's easier because it's not correctness-critical, but if autoclustering makes something really slow, in a sense that *is* incorrect.

We can do that, I'm just not sure a fixed threshold is the right approach, because if you run the computation long enough, event

[2019-01-26 00:43] ymodak commented on #25176
Can you upgrade your Python version to 3.6.1 and check?

[2019-01-26 00:43] cmwolverton commented on #22479
I am pretty sure that the original poster was talking about tf.keras NOT Keras.  Some of the responses apply to Keras NOT tf.keras.  (I am just trying to get this clear for myself, don't be offended by the all caps!)

I am trying to solve the same issue.  I want to remove the last layer from Inception_V3 in tf.keras.  Then I want to add an additional layer for regression.  I know how to do it in K

[2019-01-26 00:50] sanjoy commented on #25068
Yes, `tf.where` and everything that depends on it, up to a point (and we can imperfect heuristics to infer where this point is; e.g. we may say that *waves hands* we know that a GEMM of a tf.where usually contracts away the variably sized dimension so anything after the GEMM is fine; in some cases we may have even stronger guarantees, like a slice of a `tf.where`).

I forgot to mention something p

[2019-01-26 00:51] Arjuna197 commented on #2382
I have this problem when increasing the number of GPUs I train on from 2 to 4. Not sure why the checkpoint saved graph has to increased dramatically in size for each GPU.

[2019-01-26 00:52] ymodak commented on #25177
I was able to execute the python notebook successfully using Google Colab with 2.0.0-preview. Can you please confirm?
TF 2.0.0.rc0 version is not officially released yet.

[2019-01-26 01:02] martinwicke commented on #25138
@jaingaurav also transferring this issue to you since you'll be working on it (soon).

[2019-01-26 01:16] mcourteaux commented on #25068
@jlebar

Yes, it hurts performance tremendously for my application. The number of resulting entries after the boolean_mask can be easily anywhere between 20 and 4000. This can take up to 3980*350 milliseconds of compiling, which is 23 minutes of just compiling the same code over and over again. I obviously disabled XLA for now, but if I remember correctly, having this much compiled code in memory

[2019-01-26 01:54] guptapriya commented on #17851
Hi @jrabary here is the example:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/distribute/python/examples/mnist_eager_multigpu.py

It is in contrib right now but we will move it to a better place soon.
As I said before, it is quite slow right now as MirroredStrategy has lot of overhead in pure eager mode. I have a pending change to this example that will wrap most of the

[2019-01-26 02:02] vyraun opened #25207 "ImportError: cannot import name abs"
Hi, I am getting the error while importing tensorflow:

$ python
Python 2.7.15 |Anaconda custom (64-bit)| (default, Dec 14 2018, 19:04:19)
[GCC 7.3.0] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/vraunak/anaconda2/envs/py27/lib/python2.7/site-packages/tensorflow/__init__.py",

[2019-01-26 02:14] davidjohnson90 opened #25208 "ImportError: DLL load failed: The specified module could not be found."
ImportError                               Traceback (most recent call last)
~\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\pywrap_tensorflow.py in <module>
     57
---> 58   from tensorflow.python.pywrap_tensorflow_internal import *
     59   from tensorflow.python.pywrap_tensorflow_internal import __version__

~\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\pywrap

[2019-01-26 03:08] jimzhu opened #25209 "Error on using feature_columns with tf.keras"
**System information**
- TensorFlow version: 1.12
- Doc Link: https://github.com/tensorflow/docs/blob/b4d8d7096099c2b0a7df6a0564bf6eca8c96c4a0/site/en/tutorials/structured_data/feature_cols_keras.ipynb

**Describe the documentation issue**
when comment `tf.enable_eager_execution()`, the demo code fails.

`ValueError: logits and labels must have the same shape ((32, 1) vs (32,))`

[2019-01-26 03:17] sanjoy commented on #25068
That's true, but as a first step we want enabling XLA to do no harm.  Once we're at a point where enabling XLA is never a *regression* we can focus on increasing the set of situations where XLA is actually a net positive.  Given this framing:

It looks like our megamorphic cluster detection is not working as intended.  Is it possible for you to share the full model?

[2019-01-26 03:42] vyraun opened #25210 "tf-gpu's conda Installation works with python 3.6, but not with python 2.7"
Hi, I installed tensorflow-gpu on the same machine using Conda.

Python 3.6 version works:

$ python
Python 3.6.8 |Anaconda, Inc.| (default, Dec 30 2018, 01:22:34)
[GCC 7.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

2019-01-25 22:38:46.581588: I tensorflow/core/platform/cpu_feature_guard.cc:140] Your CPU supports instructions that this TensorFlow binary was

[2019-01-26 04:09] adityaradk commented on #22794
I have all the correct installs for CUDA AND cuDNN - CUDA 9.0 and cuDNN 7.4.2.24.

What ended up working for me was entering the following commands:
`SET PATH=C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v9.0\bin;%PATH%
SET PATH=C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v9.0\extras\CUPTI\libx64;%PATH%
SET PATH=C:\tools\cuda\bin;%PATH%`

The `cuda` folder from your cuDNN zip must be

[2019-01-26 04:11] ytdu commented on #25066
Thanks for the reply. In fact I've gone through some of the related source code, so I know something about why this happens.

`tf.contrib.opt.AdamWOptimizer` (more specifically, `tf.contrib.opt.DecoupledWeightDecayExtension`) maintains a `decay_var_list`, the elements in which are references of variables that are going to be decayed. `MirroredStrategy` somehow wraps all the variables created by `t

[2019-01-26 04:15] stratospark commented on #25177
We’re you using the GPU on collab?

The notebook works fine on my machine using the tf2.0 preview CPU build,
but not with the GPU build.

On Fri, Jan 25, 2019 at 4:55 PM ymodak <notifications@github.com> wrote:

--
-pr

[2019-01-26 04:31] policeme commented on #25152
@DavidWiesner sorry, It took me so long to get back to you, But in my code, I set different gpu number, when I create class instance, I create 4 class instance, I want first instance work in fist gpu, second instance work in second gpu, third instance work in third gpu, fourth instance work in fourth gpu, but in my log, four instance still work in first gpu, I try many time, but it it same.

[2019-01-26 04:33] policeme commented on #25152
@omalleyt12 Can you help me?

[2019-01-26 05:00] myshzzx commented on #24557
Well, I have turned to dynamic graph using "Eager Execution" and have my job done.
I've tried your way and meet a new error, which raised before autograph code when I create a placehoder using tf.placeholder :

[code]

[2019-01-26 05:54] gunan commented on #25026
For C++ core debugging, depends on how you use it.
If you are simply using TF as a C++ library, you can use libtensorflow.
For debugging C++ through python, unfortunately we may be blocked on python/pip

[2019-01-26 06:01] jasonwu1977 opened #25211 "Using transform_graph to quantize yolo-tiny-v2, performance & mAP drops."
I am using tranform_graph to quantize darkflow's tiny-yolo-v2 *.pb
[https://github.com/thtrieu/darkflow](https://github.com/thtrieu/darkflow)

found several issues
1. when i use video to do inference (or images) the performance drops to very low with gpu enable
from **5.xx fps to 1.xx fps**, and i can feel the images inference speed drops, by input with lots of pictures.

2. after use tranform_gra

[2019-01-26 06:43] tkazi commented on #23410
I am using python3.7 as well, and get the same error. Any luck resolving?

[2019-01-26 07:51] ymodak commented on #25207
Can you try,
[code]

[2019-01-26 07:53] ymodak commented on #25208
Please provide following information. Thanks!
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version:
- Python version:
- Installed using virtualenv? pip? conda?:
- Bazel version (if compiling from source):
-

[2019-01-26 08:07] ymodak commented on #25149
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-01-26 08:07] #25149 closed

[2019-01-26 08:11] ymodak commented on #24126
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-26 08:11] #24126 closed

[2019-01-26 08:12] ymodak commented on #24581
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-26 08:12] #24581 closed

[2019-01-26 08:13] #25123 closed

[2019-01-26 08:13] #25151 closed

[2019-01-26 08:49] ilous12 commented on #25193
@ymodak Thanks you comment. I did try but i want to have example code. Can you give sample?

Anyone help me.

[2019-01-26 09:56] ZhiqingXiao opened #25212 "Keras API reproducibility"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-01-26 09:59] ZhiqingXiao commented on #25212
#11585

[2019-01-26 10:12] awaizman1 opened #25213 "Build tensorflow on windows with mkl fails"
**System information**
- OS Platform: windows server 2012 R2 standard
- TensorFlow build from source:
- TensorFlow version: r1.13
- Python version: 3.6.7
- Bazel version: 0.21
- Compiler version (if compiling from source): 15.4

I'm trying build tf on windows with mkl running this command:
[code]

build failed with this error:
[code]

Is there a way to build tf with mkl on windows?

Thanks.

[2019-01-26 10:30] rashibudati commented on #19673
How did you solve the error?

[2019-01-26 11:26] shibe2 opened #25214 "lite: incorrectly written comparison in slice.cc"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): commit [01dec19](https://github.com/tensorflow/tensorflow/tree/01dec19e827ab46ff7ff5dbd6142ba5a26efc4da)
- GCC/Compiler version (if compiling from source): gcc 8.2.1 20181127

**Describe the current behavior**

[2019-01-26 12:29] shibe2 opened #25215 "lite: non-standard variable-length arrays"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux
- TensorFlow installed from (source or binary): source
- TensorFlow version: commit [01dec19](https://github.com/tensorflow/tensorflow/tree/01dec19e827ab46ff7ff5dbd6142ba5a26efc4da)
- GCC/Compiler version (if compiling from source): gcc 8.2.1 20181127

**Describe the problem**

Structures `TfLiteIntArray`

[2019-01-26 12:39] mdanatg commented on #24557
Yes, eager will work too, especially for smaller models!

I didn't see an error due to placeholders in my tests - anyway, here's the code I ran:

[code]

[2019-01-26 12:39] #24557 closed

[2019-01-26 13:36] tocab opened #25216 "tf.contrib.nn.alpha_dropout returns tensor with no shape"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): y
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): win10
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.12.0
- Python version: 3.6.7

**Describe the current behavior**
I tried out selu activation and also used alpha_d

[2019-01-26 13:45] nartes commented on #24885
@meteorcloudy, will your solution provide an interface BUILD file?
1. The following targets are enough for now to be build, [1](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/BUILD#L515), [2](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/BUILD#L550):
  - //tensorflow:libtensorflow_cc.so
  - //tensorflow:install_headers;
2. But there's no standalone wrapping inter

[2019-01-26 13:46] markste-in commented on #25073
*Using tensorflow 1.12.0*

Thank you for the hint with tf.keras.backend.clear_session()
That saved me!
Before my model was getting slower and slower and the RAM utilization grew by about 1.5 MB/s.

Doing a objgraph.show_growth(limit=3)
I get the following;
tuple 10304508 + 104274
list 591883 +8521
dict 44840 + 5958

Destroying the model every time is fine for me since I do a hyperparameter search

[2019-01-26 16:16] ilous12 commented on #23747
I did try but failed.

I just saw below error. Anyone tell me why??

[export_model.py.zip](https://github.com/tensorflow/tensorflow/files/2799190/export_model.py.zip)

[code]

[2019-01-26 16:41] vyraun commented on #25207
@ymodak thanks, it got resolved but now I am getting https://github.com/tensorflow/tensorflow/issues/25210. please take a look. thanks.

[2019-01-26 16:41] #25207 closed

[2019-01-26 16:48] MarkDaoust commented on #21095
This is finally published:

https://www.tensorflow.org/tutorials/load_data/tf_records

[2019-01-26 17:07] ilous12 commented on #23747
@anilsathyan7 Did you implement android code with deeplabv3_257_mv_gpu.tflite? I did try but time taken 900ms.

I had a problem to inference. Can you see my code and give me comment?

Please reference below.

https://github.com/tensorflow/tensorflow/issues/25193

thanks.

[2019-01-26 18:36] tensorflowbutler commented on #24128
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-26 19:10] dmcbeing commented on #25026
Yes this was my conclusion as well.

Thanks for noting that, i think i can do write unit tests in c++ to stress test the new code and completely bypass the python/pin issues.

Thanks again.

[2019-01-26 19:10] #25026 closed

[2019-01-26 19:39] yongtang commented on #25214
@shibe2 it makes sense. Would you like to open a PR for it?

[2019-01-26 20:57] sguada commented on #14357
Not necessary, since update_ops would be an empty list.

[code]

[2019-01-26 22:27] proteneer opened #25218 "Complex step derivatives"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.12
- Are you willing to contribute it (Yes/No): Yes

**D

[2019-01-26 23:51] shibe2 commented on #25214
@yongtang I can create PR.

[2019-01-27 00:54] policeme commented on #25152
@guptapriya Can you help me？

[2019-01-27 01:13] masterchop commented on #21574
This was the only thing that work for me, something i did wrong was that i kept trying to install the multi-threaded version but that doesnt work on the pi. you need to install the one on the instrucitons.
after that it works just fine i am still testing to see if its better than the regular tensorflow.

[2019-01-27 06:08] tumusudheer opened #25220 "Check failed: CUDA_SUCCESS == cuCtxSetCurrent(cuda_context->context()) (0 vs. 4)"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platf

[2019-01-27 07:30] YuanWenqing opened #25222 "Duplicated Java outer classname"
**Describe the current behavior**
Option values of `java_outer_classname` in `tensorflow/compiler/tf2xla/host_compute_metadata.proto` and `tensorflow/compiler/tf2xla/tf2xla.proto` are the same, result in protoc failure for Java:

[code]

**Describe the expected behavior**
protoc succeeds without error.
`java_outer_classname` in `tensorflow/compiler/tf2xla/host_compute_metadata.proto` may be rename

[2019-01-27 07:43] KosukeArase commented on #19945
I confirmed it is fixed in 1.13 (tf_nightly_gpu-1.13.0.dev20190126).
Thank you for the great work !

[2019-01-27 07:55] ppwwyyxx commented on #25212
Your code does not demonstrate the issue you reported, because the result of `hash(dense)` is unrelated to the value of the weights in the dense layer.

[2019-01-27 09:22] Taro0329 opened #25224 "ModuleNotFoundError: No module named 'tensorflow.core.framework'"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-01-27 09:47] binbinsh commented on #21377
Hi @aselle, I am trying to make my TFLiteLSTMCell work with TFLite interpreter, I trained the model with dynamic_rnn and restore it as static_rnn when using TFLiteConverter. I was successfully convert the model into .tflite file and run successfully, but I have to fix the sequence length when running TFLiteConverter with static_rnn.

As you mentioned may be I can generate a LSTM cell individually

[2019-01-27 12:42] masterchop commented on #20515
This is helpful but it doesnt explain how to use the tflite model on pc, i want to test on raspberrypi but i have no idea how to interprete the **print(output_data)`**

[2019-01-27 12:44] raymonduui commented on #25133
The data type is dtype('int64') while the type of df['review'] is pandas.core.series.Series . Thank you !

[2019-01-27 13:39] Amith4504 opened #25226 ""ModuleNotFoundError : No module named 'keras' " Error while 'import keras' in Spyder(Python 3.5) launched through a environment with python 3.5 ."
**System information**
- Windows 8.1
- TensorFlow version: 1.10.0
- Python version:3.5
- Installed using  conda
- GCC/Compiler version

I had created a new conda environment named py35 for using spyder. py35 with Python3.5. I had also installed theano,tensorflow and keras using conda install commands with env activated . In admin cmd import command works fine for all three libraries. But in Spyder

[2019-01-27 14:12] calledbymountains opened #25227 "Porting codebase utilizing tf.slim to TF-2.0"
A lot of my TensorFlow  codebase depends upon the use of pretrained models as a part of [tensorflow/models/research/slim/nets](https://github.com/tensorflow/models/tree/master/research/slim/nets) repository.

I routinely utilize the dictionary of `end points` provided by `tf.slim` models in my codebase. Furthermore, the model definitions in the aforementioned repository is impressive and general i

[2019-01-27 14:16] humayunr7 commented on #25046
Thanks @MatthiasRathbun  @msymp , I am currently running on CUDA 9.0, Tensorflow 1.12 and training stably on batch size of 32. Appreciate your help!

[2019-01-27 14:16] #25046 closed

[2019-01-27 14:20] mshiffer commented on #25073
@markste-in glad that helped!  On the note of hyper-parameter search, I'm actually updating my models learning rate fairly often and have to re-compile every time.  I'm wondering if you (or anyone) knows why that's part of the model compilation as opposed to just a constant that can be passed in for the call to fit()...

[2019-01-27 14:53] dpinthinker opened #25228 "TF Lite works wrong on quantized TF Hub retrained Inception V3 mnist model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS High Sierra 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Android Emulator
- TensorFlow installed from (source or binary): binary
- TensorFlow version (us

[2019-01-27 15:06] chetu97 opened #25229 "Native TF methods not found Exception (Installed as System Apps)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_templateem>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g.

[2019-01-27 16:04] YakirYehuda opened #25231 "tensorflow.contrib.lite.Interpreter.invoke() crashes"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): mac os - Mojave
- TensorFlow installed from (source or binary): from pip
- TensorFlow version (use command below):  from pip -'v1.12.0-rc2-3-ga6d8ffae09', '1.12.0'
- Python version: 3.6

**Describe the current behavi

[2019-01-27 16:49] davidgtunity opened #25232 "failed to process “api_def_Conv2D.pbtxt”: Attribute explicit_paddings not defined in base api for Conv2D"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  -
`Mac OS X 10.13.6`
- TensorFlow version (use command below): -
[code]
- Python version:
`Python 3.6.5`

**Describe the current behavior**
Hi, I try to run tensorflow using golang, </br>
When I execute the following command: </br>`go generate github.com/tensorflow/tensorflow/tensorflow/go/op` </br>
I get this error

[2019-01-27 16:52] mk123qwe opened #25233 "import tensorflow.keras,code can not work.import keras,the same code run perfectly."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):custom code
- O

[2019-01-27 17:52] sr-murthy commented on #25224
The import fails probably because your Anaconda or local Jupyter notebook environment is missing the `keras` package. For the `keras` installation in Anaconda please refer to

https://anaconda.org/conda-forge/keras

If you're just running Jupyter locally then you need to ensure that you've installed `keras` via `pip`, e.g. in your virtual env.

[2019-01-27 18:05] ageron opened #25234 "tf.saved_model.save() exports a model with an empty method_name"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mac OS X 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
binary
- TensorFlow version (use command below):
VE

[2019-01-27 18:31] badlogicmanpreet commented on #14018
Hi @MarkDaoust  is this issue being worked on or can I give it a try? Thanks

[2019-01-27 18:34] badlogicmanpreet commented on #7868
Hi @martinwicke is this issue being worked on or can I give it a try? Thanks

[2019-01-27 18:35] ageron opened #25235 "Code example to save a custom model with a serve() method fails"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes and No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mac OS X 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
binary
- TensorFlow version (use command bel

[2019-01-27 18:37] tensorflowbutler commented on #23944
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-27 18:42] ageron commented on #25234
Workaround: if I save the model using `keras.experimental.export()`, the saved model has a correct `method_name`.

[2019-01-27 19:02] Sparktank commented on #17022
I was stuck on installing.

All websites for tensorflow don't work with regular tensorflow install instructions.
Using tf-nightly does let me install without a problem on Python 3.7.2 (x64).

[2019-01-27 19:08] leimao commented on #17022
I switched back to Python 3.6. Do not use the latest Anaconda since it comes with Python 3.7.

[2019-01-27 19:12] xilenteyex commented on #13763
Hi, I am working on something very similar as well. Is there a way to control scheduling of operations in TensorFlow to improve the performance with operation level parallelism?

[2019-01-27 21:08] markste-in commented on #25073
I don't know why it's part of the compile process (probably historical reasons in Keras?). I just know that you need to recompile if you change either the loss function, the optimizer/lr or the metrics according to [StackOverflow](https://stackoverflow.com/questions/47995324/does-model-compile-initialize-all-the-weights-and-biases-in-keras-tensorflow/47996024)

I guess you can circumvent this if y

[2019-01-28 00:26] mrevow opened #25237 "Error building tensorflow pip package"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2019-01-28 00:34] yongtang commented on #25237
This issue is related to PR #25221.

[2019-01-28 00:36] axeln31459 commented on #22455
I just tried to compile r1.13 rc0 with --config=verbs and I still get the error below. Is there any update ?

ERROR: /home/an/gits/tensorflow/tensorflow/contrib/verbs/BUILD:105:1: C++ compilation of rule '//tensorflow/contrib/verbs:rdma_mgr' failed (Exit 1)
tensorflow/contrib/verbs/rdma_mgr.cc: In static member function 'static void tensorflow::RdmaMgr::RegMemVisitors()':
tensorflow/contrib/verbs/

[2019-01-28 00:37] nadianaji commented on #25179
no one can help me? I could not understand why this error has happened?I need to visualize the output of layers after adding labmda layer.:(

[2019-01-28 01:43] byronyi commented on #22455
@axeln31459 r1.13 branch does not include #24250. You could patch that manually:

[code]

and then compile again.

[2019-01-28 02:41] ilous12 opened #25238 "deeplab with tensorflow lite + gpudelegate issue"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-01-28 02:44] jbloom22 commented on #13603
We've recast SVD as the problem of minimizing an L_2-regularized linear autoencoder, making it far more amenable to hardware and software optimizations in TF.  With SGD, the approach is far more similar to randomized SVD rather than GESDD. Would love to see some experiments with the full array of dirty deep learning tricks!

https://github.com/danielkunin/Regularized-Linear-Autoencoders
https://tw

[2019-01-28 03:19] IvyGongoogle commented on #19530
@HwMohanLiu  when I use
[code]
get the same error:

[code]
but why do not you use `fold_constants(ignore_errors=true)` before using `fold_batch_norms` and
`fold_old_batch_norms`?  And after `remove_node(op=Identity, op=CheckNumerics)` is removed as you said,  I still get the same error.

[2019-01-28 03:33] SuyuanLiu commented on #8535
Has float64 been supported?
When I used float64, it occurs: `` Value passed to parameter 'x' has DataType float64 not in list of allowed values: float32.``

[2019-01-28 03:47] lijiah33 commented on #25120
I also meet this error,  but it seemed to not  appear in earlier version. I just disable NNApi for the moment. I want to know how to fix it too.

[2019-01-28 03:57] mattn commented on #25120
I could build this with `tensorflow/lite/nnapi/nnapi_implementation.cc`. But nnapi_implelementation.cc use shm_open. shm_open require build with shared libarry linked to  `-lrt`.

[2019-01-28 03:59] mattn commented on #25120
But current implementation does not have delegate for GPU on raspberry pi.

[2019-01-28 04:07] Taro0329 commented on #25224
Thank you!
I have tried installing keras in Anaconda however still had same issue.
And finally it worked after I re-installed anaconda, python and all libraries.

[2019-01-28 04:07] #25224 closed

[2019-01-28 04:35] guptapriya commented on #25152
hi @policeme - have you tried creating your graph under a `with tf.device('/device:GPU:1'):` context?
Given you're trying to use different GPUs in the same process, that is likely a better way to specify GPUs than the environment variables. (which you can then leave to be default and let TF detect all of them).
This page has more information on how to use this API: https://www.tensorflow.org/guide

[2019-01-28 04:57] anamozov opened #25239 "Build issue of "cannot find symbol class Fill where T is a type-variable: T extends Object declared in class Zeros" still persists, when building Bazel."
**System information**
- Ubuntu 16.04 LTS:
- TensorFlow installed from source:
- TensorFlow version 1.12:
- Python version 2.7:
- Bazel version 0.21.0:

**Describe the problem**
I am going to build Tensorflow Object Detection API Android demo using Bazel which is **def nativeBuildSystem = 'bazel'** But got the following error _**error: cannot find symbol class Fill where T is a type-variable: T ex

[2019-01-28 05:00] sarmadidrees commented on #21230
So, you are saying I have to do following steps:
1. Edit the detection_postprocess.cc
2. Build tensorflow lite binary by using this command: `bazel build -c opt //tensorflow/lite/...`
3. Now, run the toco by using: `bazel run -c opt tensorflow/contrib/lite/toco:toco --(args)`

Am I doing it right?

[2019-01-28 05:13] Kwunbun commented on #12250
but i want to know which version of tensorflow you are using?

[2019-01-28 05:18] policeme commented on #25152
Hi @guptapriya , but it wasn't work, this is my code and running time log, please help me.
![image](https://user-images.githubusercontent.com/30991932/51815918-1375c180-22ff-11e9-997c-7364556c2e7e.png)
![image](https://user-images.githubusercontent.com/30991932/51815924-1f618380-22ff-11e9-9d90-8982ec73e33c.png)
![image](https://user-images.githubusercontent.com/30991932/51815928-27b9be80-22ff-11e9

[2019-01-28 05:29] wassimseif opened #25240 "Tensor vs _EagerTensorBase in 2.0 preview with eager execution"
Playing around with tensorlfow 2.0 preview (`tf_nightly_2.0_preview-2.0.0.dev20190126`) I noticed something that I found weird

Tensorflow version : tf_nightly_2.0_preview-2.0.0.dev20190126
OS : Mac OS 10.14.1
Installed via `pip install tf-nightly-2.0-preview`

using a simple model

    from tensorflow.keras.layers import *

    class CNN(tf.keras.model.Model):

    def __init__(self, num_classes=

[2019-01-28 05:40] freedomtan commented on #25238
if you inspect the `deeplabv3_257_mv_gpu.tflite` you mentioned, you can find that its input node is `sub_7` and output node is `ResizeBilinear_3`. That is, preprocessing ops and ops after `ResizeBilinear_3` are removed.

[2019-01-28 06:31] HwMohanLiu commented on #19530
@IvyGongoogle As tatianashp mentioned, the option "remove_nodes" could break the control flow options in the model. I did not manually  add any control flow ops which tatianashp mentioned. However, it failed. Then, I removed the option "remove_nodes", and the model works well and can be correctly converted into TF-Lite model without BN problems.

[2019-01-28 06:51] jlebar commented on #24458
@mx8435, the problem fixed by that commit is the problem referenced in the subject of this bug -- an invalid __global__ read, apparently caused by the XLA replay_computation tool that I was using for debugging loading too many cubins at once.

I wouldn't expect fixing that issue to affect the TF case.  That is, now that we understand this bug, we understand that it's actually unrelated to the TF b

[2019-01-28 06:51] #24458 closed

[2019-01-28 07:34] budhiee commented on #23966
Hi @Wade129 Have you successfully reduce the time cost by using tflite on raspberry pi? I'm having hard time to use tflite on raspberry pi after successfully generate libtensorflow-lite.a, didn't what to do next. Can you please suggest me what to do until i can successfully running tflite on raspberry pi? Thanks.

[2019-01-28 08:05] IvyGongoogle commented on #19530
@HwMohanLiu  there is also no control flow ops in my graph. And I doubt you fold_batch_norms successfully  or not.

[2019-01-28 08:13] ucasiggcas opened #25242 "how to test data stream in speech_commands project?"
Dear,
I have a question,in the [project](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/speech_commands)
when I test the wave data decode by [librosa.load](https://github.com/librosa/librosa/blob/master/librosa/core/audio.py) not read by open in the row of 96 from the [script](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/speech_commands/label_w

[2019-01-28 08:21] 312131 commented on #23410
https://pypi.org/project/tf-nightly/#files（CPU）
https://pypi.org/project/tf-nightly-gpu/1.13.0.dev20190118/#files（GPU）
This GPU version needs CUDA10.

[2019-01-28 08:22] SharkWater commented on #21653
Sorry about the wrong bazel version provided last time. I check the bazel version again. It is 0.10.1 when we compile tf 1.8. But the error does not appear every time. It seems that this error appears only in poor network environment.

[2019-01-28 08:41] andreapavan commented on #9476
The solution proposed by @NPetsky is correct. The build complete successfully and with my Xcode 10.1 can run without errors.

[2019-01-28 08:41] ai-libo opened #25243 "A question about tflite inference"
Hello, i use aware training method get a quantize model ,so in the tflite inference implementation, which part processes "zero_point"(Such as input and filter data should be combined with offset)  in the convolution code of tflite? Could you please give me a link？ thanks

[2019-01-28 08:42] ranjal opened #25245 "Error while training the 1D CNN in keras with tensorflow backend"
Hello Everyone!!
I want to make a 1D CNN model using keras.
Consider that I've got a dataset X which is (2015930,13) where 13 is the number of features of audio where I want to do the 1d convolution on My Y is (2015930, 7) and I'm working with keras with tensorflow backend.

While training I am getting the following error. I am very new in this area. So I am unable to find the exact solution. The

[2019-01-28 08:43] Dayananda-V commented on #25237
This issue is resolved with PR #25244

[2019-01-28 08:58] yangjunpro commented on #24505
Yep, this is what I mean. For different training iteration, due to the background workload or other production environment variation, the best tensor fusion buffer size may also change dynamically.

[2019-01-28 09:02] HwMohanLiu commented on #19530
@IvyGongoogle If you used FusedBatchNorm (for example tf.layers.batch_normalization), it should be fold_old_batch_norms in my opinion. Although you will still see the node FusedBatchNorm after transform, the content is already changed. There is only a BiasAdd in it. Also you can find the structure mapping definitions for BN in the corresponding source codes in the module https://github.com/tensorf

[2019-01-28 09:36] zhanglaplace commented on #20878
@rbgreenway did you solve the problem ?

[2019-01-28 09:48] chuong98 commented on #18473
@advaza: Can I know what is your function parse_and_preprocess_image output?
This is my code of parse_fn:
[code]
and this is the input_fn:
[code]
But then I got error:
ValueError: dataset_fn() must return a tf.data.Dataset when using a tf.distribute.Strategy.

[2019-01-28 09:50] yuvdar commented on #24877
The problem doesn't reproduce with TensorFlow 1.13.0-rc0. As far as I care, this issue can be closed.

[2019-01-28 09:50] #24877 closed

[2019-01-28 09:57] ppwwyyxx commented on #22750
It is fixed in the latest release (1.13rc0).

[2019-01-28 10:04] r0l1 opened #25246 "Go Binding: Use runtime.KeepAlive"
Please ensure to call runtime.KeepAlive, because the go bindings use finalizers which they shouldn't...
Reference: https://github.com/golang/go/issues/13347

Also ensure to call runtime.KeepAlive on every:

[code]

[2019-01-28 10:05] policeme commented on #25152
@guptapriya in this program, it work, I have 1 GPU, when I set GPU:1, it will occur exception, but I don't know why my first  program doesn't work, can you tell me why.
![image](https://user-images.githubusercontent.com/30991932/51828643-fc4aca00-2326-11e9-9b0a-7a9091e3dfab.png)

[2019-01-28 10:06] policeme commented on #25152
![image](https://user-images.githubusercontent.com/30991932/51828804-55b2f900-2327-11e9-954c-98a59a360518.png)
![image](https://user-images.githubusercontent.com/30991932/51828816-5b104380-2327-11e9-8c2c-f44b694bbcb9.png)
![image](https://user-images.githubusercontent.com/30991932/51828826-5fd4f780-2327-11e9-9f6d-f812741aed7a.png)

[2019-01-28 10:06] policeme commented on #25152
@guptapriya  this is running time log.

[2019-01-28 10:20] akshayudnur commented on #25239
I got the same issue.

[2019-01-28 10:32] sharathpuranik commented on #22750
Thanks a lot. Will upgrade to 1.13rc0 and test it out.

`2018-10-04 14:59:14.736180: F tensorflow/core/common_runtime/bfc_allocator.cc:458] Check failed: c->in_use() && (c->bin_num == kInvalidBinNum)
`
I am getting the same exception in tensorflow serving and was considering compiling the nightly myself.

[2019-01-28 10:46] dkarlovi opened #25247 "[Docker] include jupyter_http_over_ws in Jupyter Docker images"
**System information**
- TensorFlow version (you are using): `tensorflow/tensorflow:nightly-gpu-py3-jupyter`
- Are you willing to contribute it (Yes/No): yes

**Describe the feature and the current behavior/state.**

Following [these instructions](https://research.google.com/colaboratory/local-runtimes.html), it requires to have `jupyter_http_over_ws` Jupyter extension to work. The current Docker

[2019-01-28 11:48] thebeancounter commented on #24833
You can make it work by removing the dimension assert in the function, Another issue is that this function often returns nan values that are messing with the training, I have created another function that works with tensorflow eager execution, it still needs optimization, I will create a pull request.

[2019-01-28 13:11] XDRiVE888 opened #25252 "windows c_api error with tensorflow.dll"
I tried to compile on windows c program with tenserflow c api and tenserflow.dll from https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-cpu-windows-x86_64-1.12.0.zip founded on https://www.tensorflow.org/install/lang_c.
This example:
#include <stdio.h>
#include <tensorflow/c/c_api.h>

int main() {
  printf("Hello from TensorFlow C library version %s\n", TF_Version());
  return

[2019-01-28 13:44] byronyi commented on #24505
@yangjunpro That would be very interesting. Do you have any further reference/experiment to illustrate the potential gain? AFAIK, one could use `contrib/all_reduce` for prototyping when tuning the best merge/split strategy, but you may have different choices.

See https://github.com/tensorflow/benchmarks/blob/master/scripts/tf_cnn_benchmarks/allreduce.py#L448 as an example.

[2019-01-28 13:48] mikolajolszewski commented on #23607
Same still here on the official Amazon Deep Learning AMI.

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Deep Learning AMI (Amazon Linux) Version 18.0
- TensorFlow installed from (source or binary): conda
- TensorFlow version (use command below): 1.12
- Python version: 3.6.5

[2019-01-28 13:57] andsteing opened #25254 "Keras & data.Dataset : "Your dataset iterator ran out of data""
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): Colab
- TensorFlow version (use command below): 1.12
- Python

[2019-01-28 14:36] ltrottier commented on #25110
Hi, thank you for your reply and sorry for the delay.

There is no tensorflow.lite module:
[code]
I just have tensorflow.contrib.lite. Also, I don't have tensorflow.contrib.lite.OpsSet, so I don't know how to do:
[code]

FYI, I did a `pip install -U tensorflow` to make sure I have the latest version.

[2019-01-28 15:49] ToughLife commented on #25237
I got the same error on Ubuntu 18.04, CUDA 10, Anaconda 3 (Python 3.7).
Does the 'tensorflow_estimator' means numpy?

[2019-01-28 16:12] yongtang commented on #25247
Added a PR #25255, Will let the docker file maintainers to decide if it will be merged or not.

[2019-01-28 16:20] ToughLife commented on #25237
Thanks for @yongtang and @Dayananda-V, through the method in PR #25221, the error is solved.

[2019-01-28 16:55] dynamicwebpaige opened #25257 "TF 2.0 Conversion Script does not have a replacement for tf.contrib.eager.defun(train_step)."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): pip install
- TensorFlow version (use command below): 2

[2019-01-28 16:55] agniszczotka opened #25258 "tf.nn.bias_add and tf.add as checkpointable"
Please consider adding operation to checkpointable such as add, multiply, etc. Checkpointable does not work with any operands tf.keras.layers.add, tf.nn.bias_add, tf.add, +

[2019-01-28 16:56] jvishnuvardhan commented on #24877
@Kolefn Could you also try with TF1.13 and let us know whether it resolved the issue or not? Thanks!

[2019-01-28 17:02] tarrade opened #25259 "Keras & Estimator: 'MeanMetricWrapper' object has no attribute '__name__'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS 10.14.2
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary, using pip
- TensorFlow version (use command below

[2019-01-28 17:06] tarrade commented on #25259
could it be an installation issue ? I installed it using pip. Before (1.12 installed with conda), I didn't have a  separate package tensorflow-estimator
tensorboard               1.12.2                    <pip>
tensorflow                1.13.0rc0                 <pip>
tensorflow-estimator      1.10.12                   <pip>

[2019-01-28 17:14] martinwicke commented on #7868
There are several efforts around hyperparameter search for Keras already. Did you have a specific project in mind?

[2019-01-28 17:28] Dee-Ma opened #25260 "TypeError: Failed to convert object of type <class 'tensorlayer.layers.PReluLayer'> to Tensor. Contents: Last layer is: PReluLayer. Consider casting elements to a supported type."
I am using tensorflow to construct CNN model. However, I got two errors when using tf.image.resize_images function:

1st error: TypeError: Expected binary or unicode string, got <tensorlayer.layers.PReluLayer object at 0x0000000031962D68>

2nd error: TypeError: Failed to convert object of type <class 'tensorlayer.layers.PReluLayer'> to Tensor. Contents:   Last layer is: PReluLayer. Consider castin

[2019-01-28 17:51] suphoff commented on #24968
@GJBoth : Your example code (re)initializes the iterator inside the loop. Initializing the dataset once before the loop should yield the desired behavior.

[code]

[2019-01-28 18:03] #25096 closed

[2019-01-28 18:07] byronyi commented on #19391
@poxvoculi Sorry to hear that and hope you feel better soon. There is no hurry :P

[2019-01-28 18:22] reedwm commented on #8535
Unfortunately, fused batch norm does not support float64.

[2019-01-28 18:34] ymodak commented on #25110
You don't have to import tensorflow.lite separately. It will be imported alongside TF.
You can install tf nightly version and try converting your model using the link abaove.

[2019-01-28 18:44] ymodak commented on #24128
@chutongz TF 1.9 version is low to carry updates for toco file conversions. Please use tf-nightly build and test again. Thanks!

[2019-01-28 18:44] #24128 closed

[2019-01-28 18:55] tensorflowbutler commented on #24313
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-28 18:56] ymodak commented on #25210
TF GPU is correctly installed in your system, I suspect you need to update cuda drivers.
@gunan WDYT?

[2019-01-28 19:32] ymodak commented on #25260
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-01-28 19:36] niruyadla commented on #21962
Made below change now I could build speech_test
diff --git a/tensorflow/lite/models/BUILD b/tensorflow/lite/models/BUILD
index 8730160..d5bc8ca 100644
--- a/tensorflow/lite/models/BUILD
+++ b/tensorflow/lite/models/BUILD
@@ -6,9 +6,30 @@ package(
 licenses(["notice"])  # Apache 2.0

 exports_files(["LICENSE"])
-
-load("//tensorflow/lite:build_def.bzl", "tflite_copts")
+load("//tensorflow:tensorflo

[2019-01-28 19:37] omalleyt12 commented on #24632
Hi @ageron, to clarify, this issue is occurring after you've `Ctrl-C`'d a cell in the Jupyter notebook?

[2019-01-28 19:40] skeydan opened #25262 "Usage of tf_stack.extract_stack in registry.py breaks TensorFlow R client"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Fedora 29
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): night

[2019-01-28 19:42] jvishnuvardhan commented on #24140
@SumNeuron Could you provide any example code to reproduce the error? Also, mention any details about context, describe the expected behavior, and provide any error snapshots. All these details will be useful to find a root cause of the issue. Thanks!

[2019-01-28 19:50] ageron commented on #24632
Hi @omalleyt12 ,
It's either in the Python shell (command line) after I press Ctrl-C during training, or in a Jupyter notebook after I interrupt the kernel during training.
Hope this helps.

[2019-01-28 19:55] jvishnuvardhan commented on #24367
@Ploppz  Could you give more details and the context to find root-cause of the issue. Could you test with a very simple models and provide the code and the error log?

[2019-01-28 19:55] ageron commented on #24632
I can confirm that I could reproduce the issue in a Python shell and in a Jupyter notebook, using the latest tf-nightly-2.0-preview (version '2.0.0-dev20190126', "b'v1.12.0-6726-g5522d670af'").

[2019-01-28 20:06] akyrola opened #25263 "tf.data performance slow when returning many tensors from a dataset op"
**System information**
- Linux Ubuntu 16.04
- i7-7800X CPU @ 3.50GHz x 8
- Tensorflow binary, r1.12
- TensorFlow version (use command below): ('v1.12.0-0-ga6d8ffae09', '1.12.0')
- Python version: Python 2.7.12

**Describe the current behavior**

We load tabular data from a database to a training script, and this tabular data contains quite a many columns (30 - 40), most of them scalar. We observe

[2019-01-28 20:07] jvishnuvardhan commented on #24516
@ChaseLewis Thanks! I think it was resolved. Please open new ticket if you see similar issue. Thanks!

[2019-01-28 20:07] #24516 closed

[2019-01-28 20:08] jtkeeling commented on #25262
Yes, this is entirely analogous to #25067. I've authored a fix and sent for review.

[2019-01-28 20:12] skeydan commented on #25262
Great thank you for the quick fix!!!

[2019-01-28 20:13] jvishnuvardhan commented on #24590
Closing due to lack of recent activity. Please open new ticket if you see similar issue. Thanks!

[2019-01-28 20:13] #24590 closed

[2019-01-28 20:33] ymodak commented on #25246
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create fr

[2019-01-28 20:37] alextp commented on #25257
softmax_cross_entropy_with_logits and sigmoid_cross_entropy definitely do not have the same behavior. Can you link me to a message suggesting one for the other? It's a bug.

tf.contrib.eager.defun can usually be replaced with tf.function but variable creation semantics are slightly different, so we can't make the transition automatically.

[2019-01-28 20:39] alextp commented on #25240
Keras uses internally a mix of eager execution and graph building, and you're seeing this.

If you use a keras InputLayer you get a graph tensor, which has no static value. This tensor can be passed to layers, which run in graph mode. This allows you to build a model using keras's functional API.

The same layers, however, work if you pass eager tensors into them, executing eagerly.

So I think th

[2019-01-28 21:59] spbroma commented on #13521
Are there any plans of adding complex values for optimization?

[2019-01-28 22:09] ymodak commented on #25245
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-01-28 22:09] #25245 closed

[2019-01-28 22:15] jvishnuvardhan commented on #25022
@ajit2678 Could you follow the instructions [here](https://github.com/rnreich/ubuntu-tensorflow-gpu-all-versions) and let us know how it works. I recently used those steps and successfully installed tensorflow-gpu. Thanks!

[2019-01-28 22:19] jvishnuvardhan commented on #25020
@Sakthi20111997 Could you follow the instructions [here](https://github.com/rnreich/ubuntu-tensorflow-gpu-all-versions) and let us know how it works. I recently used those steps and successfully installed tensorflow-gpu. If you had already resolved the issue, please close the issue or let us know. Thanks!

[2019-01-28 22:21] jvishnuvardhan commented on #25016
@swiss-knight Could you follow the instructions [here](https://github.com/rnreich/ubuntu-tensorflow-gpu-all-versions) and let us know how it works. I recently used those steps and successfully installed tensorflow-gpu. If you had already resolved the issue, please close the issue or let us know. Thanks!

[2019-01-28 22:23] ymodak commented on #25227
To simplify the migration to TensorFlow 2.0, there is a [conversion tool](https://github.com/tensorflow/docs/blob/master/site/en/r2/guide/upgrade.md) which updates TensorFlow 1.x Python code to use TensorFlow 2.0. Please take a look if haven't already. Thanks!

[2019-01-28 22:33] jvishnuvardhan commented on #24988
I am closing the issue. Please post support related questions in StackOverflow. We encourage users to submit an issue/feature request here. Thanks!

[2019-01-28 22:33] #24988 closed

[2019-01-28 22:37] jvishnuvardhan commented on #24984
@dibya001 Could you try the [solution](https://github.com/tensorflow/tensorflow/issues/24886) provided here. Please let us know how it progresses. Thanks!

[2019-01-28 22:58] martinwicke commented on #25262
This is fixed right (cf other issue)?

[2019-01-28 23:05] kulkarnivishal commented on #22372
any fix for this?

[2019-01-28 23:10] seemuch commented on #25196
Please refer to this doc: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/distribute#multi-worker-training

And look here for examples: https://github.com/tensorflow/ecosystem/tree/master/distribution_strategy

[2019-01-28 23:10] #25196 closed

[2019-01-28 23:14] jtkeeling commented on #25262
@martinwicke This is another piece of code that uses tf_stack. I've sent you another change that fixes this one.

[2019-01-28 23:15] yuefengz commented on #25057
How many GPUs are you using? If your current problem is because of protobuf limit, there is no short-term fix for now.

[2019-01-28 23:20] kulkarnivishal commented on #8790
Why is everyone in a rush to close this issue when it's not fixed even with latest merge in the master?

[2019-01-28 23:32] jvishnuvardhan commented on #24926
@sumitdas46 Please provide a template as requested earlier. If this was already resolved then please close the issue. Could you also check whether python is working on your system? Also, try the instructions provided [here](https://github.com/rnreich/ubuntu-tensorflow-gpu-all-versions). Thanks!

[2019-01-28 23:34] achowdhery commented on #22233
Please try using ssdlite for mobilenet v2: http://download.tensorflow.org/models/object_detection/ssdlite_mobilenet_v2_coco_2018_05_09.tar.gz

[2019-01-28 23:34] kulkarnivishal commented on #7543
@kmhofmann the fix did not work for me. I get:

ERROR: /home/ubuntu/tensorflow/tensorflow/python/BUILD:1557:1: Linking of rule '//tensorflow/python:gen_boosted_trees_ops_py_wrappers_cc' failed (Exit 1): crosstool_wrapper_driver_is_not_gcc failed: error executing command
  (cd /home/ubuntu/.cache/bazel/_bazel_ubuntu/ad1e09741bb4109fbc70ef8216b59ee2/execroot/org_tensorflow && \
  exec env - \
    LD

[2019-01-28 23:36] jvishnuvardhan commented on #24890
@samikama When you done with your exams try this [link](https://github.com/rnreich/ubuntu-tensorflow-gpu-all-versions) and install tensorflow-gpu and let us know the status. Thanks!

[2019-01-28 23:37] shashishekhar commented on #24307
@shenyingying : Please reopen if you are still encountering this issue.

[2019-01-28 23:37] #24307 closed

[2019-01-28 23:38] jvishnuvardhan commented on #24879
Please post support related questions in StackOverflow. We encourage users to submit an issue/feature request here. Closing the issue. Thanks!

[2019-01-28 23:38] #24879 closed

[2019-01-28 23:39] guptapriya commented on #25066
I don't think this bug will automatically get fixed in 2.0. You're right that the decay_var_list is being stored as the list of mirrored variables, but later on when applying the op, it tries to apply it on the underlying op and that fails. So there needs to be some change in the decay optimizers to handle this.

Like Josh said, we are not prioritizing bugs with contrib optimizers. But if you have

[2019-01-28 23:43] jsimsa commented on #25263
Hey Aapo,

TLDR: You are not benchmarking TensorFlow's ability to allocate tensors, your are benchmarking TensorFlow's ability to execute a graph with n outputs.

If you would like to measure the performance of the inner loop of your dummy dataset, try the following:

[code]

Using the `skip` transformation will result in running the `GetNext` call of your dummy dataset in a tight loop `num_rows`

[2019-01-28 23:45] yuefengz commented on #23664
@ustcyue The 30% sounds huge than what we expected. cc @poxvoculi

[2019-01-28 23:47] yuefengz commented on #23633
@Steamgjk Would you mind giving us more info? Closing this for now. Feel free to reopen.

[2019-01-28 23:47] #23633 closed

[2019-01-28 23:48] guptapriya commented on #24226
Thanks @shivam13juna , please go ahead and contribute. We don't have anyone working on this in the near future.

[2019-01-28 23:53] shashishekhar commented on #25228
@dpinthinker : Can it be due to your preprocessing
https://github.com/dpinthinker/TFGrocery/blob/master/MnistClassifier/app/src/main/java/com/dpthinker/mnistclassifier/model/InceptionQuantizedModelConfig.java

Check quantized preprocessing and difference between quantized and floating point here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/android/app/src/main/jav

[2019-01-28 23:54] jvishnuvardhan commented on #24821
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-28 23:54] #24821 closed

[2019-01-28 23:55] jvishnuvardhan commented on #24807
@slargo-IT Please provide more details as requested. Also, try these [suggestions](https://github.com/rnreich/ubuntu-tensorflow-gpu-all-versions) and let us know the status. Thanks!

[2019-01-28 23:56] jvishnuvardhan commented on #24761
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-28 23:56] #24761 closed

[2019-01-28 23:58] seemuch commented on #24132
The usual way of using Keras layers is to have multiple layers (in your case, 3) one after another. What you did was using the same layer 3 times.
I am not sure what caused your problem, but that is definitely not the common pattern of using Keras layers.

[2019-01-28 23:59] guptapriya commented on #23431
This should be working at master, as we have unittests for save and load weights now:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/distribute/python/keras_test.py#L1158

It might be working with 1.13 rc as well, but not 100% sure. please try it out and let us know if it is still broken.

[2019-01-28 23:59] #23431 closed

[2019-01-29 00:01] kulkarnivishal commented on #21407
Facing the same issue. Any help will be much appreciated.

[2019-01-29 00:03] guptapriya commented on #24875
@CtfGo @x10000year  can you describe the use case, why you need variables which are not synced across towers? Also would you want these variables to be synced at all, or never synced?

[2019-01-29 00:04] yuefengz commented on #23283
@CheukNgai Seems your code has logic that only can apply for parameter servers such as `tf.contrib.training.GreedyLoadBalancingStrategy`. Could you remove these logic and try again? It is not recommended to control device placement when you are using distribution strategies.

[2019-01-29 00:07] guptapriya commented on #24826
The code you are referring to is called only once everytime you call `estimator.train` to build the graph, and not per training step. the loop over training steps is here:
https://github.com/tensorflow/estimator/blob/master/tensorflow_estimator/python/estimator/estimator.py#L1402

Also, stackoverflow might be a better place for a clarification question like this unless you have seen this is actual

[2019-01-29 00:07] #24826 closed

[2019-01-29 00:09] dpinthinker commented on #25228
Thank you, Shashi.

It means I need to remove the getImageMean and getImageSTD methods.

Could you tell me when should I call the getImageMean and getImageSTD
methods?

Shashi <notifications@github.com> 于 2019年1月29日周二 上午7:57写道：

[2019-01-29 00:10] yuefengz commented on #24997
If you make chief wait for other workers, you'll partially lose the benefit of async training which is fault-tolerance of workers. Could you just give chief more data to train?

[2019-01-29 00:14] yuefengz commented on #24611
@ustcyue What is latest performance number? We've fixed the rewriter_options problem for single-worker.

[2019-01-29 00:15] yuefengz commented on #23664
Closing this thread since the discussion for `CollectiveAllReduceStrategy`'s performance has been migrated to https://github.com/tensorflow/tensorflow/issues/24611.

[2019-01-29 00:15] #23664 closed

[2019-01-29 00:16] #25043 closed

[2019-01-29 00:26] ToughLife opened #25270 "Training accuracy of TF official tutorial is very low with Ubuntu 18.04, CUDA 10.0 and cuDNN 7.4"
**System information**
- Ubuntu 18.04
- Python 3.7.1 (Anaconda 3)
- CUDA 10.0
- cuDNN 7.4.2
- GTX 1070 mobile
- Core i7 8950H, 6C12T @2.2G Hz

**Describe the current behavior**
    I run the code from the TensorFlow tutorial from https://github.com/tensorflow/docs/blob/master/site/en/tutorials/keras/basic_classification.ipynb, but the training accuracy is very low (~0.1).

No matter I installed th

[2019-01-29 00:34] jvishnuvardhan commented on #24931
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-29 00:34] #24931 closed

[2019-01-29 00:34] jvishnuvardhan commented on #24895
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-29 00:34] #24895 closed

[2019-01-29 00:39] ymodak commented on #25155
Closing since its resolved. Thanks!

[2019-01-29 00:39] #25155 closed

[2019-01-29 00:41] jvishnuvardhan commented on #24893
I think it was resolved. Closing due to lack of recent activity. Please open new ticket if you see similar issue. Thanks!

[2019-01-29 00:41] #24893 closed

[2019-01-29 00:42] jvishnuvardhan commented on #24739
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-29 00:42] #24739 closed

[2019-01-29 00:44] ymodak commented on #25148
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-01-29 00:44] jvishnuvardhan commented on #24715
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-29 00:44] #24715 closed

[2019-01-29 00:45] tumusudheer commented on #25220
@aselle @henline Any help on how to resolve this bug or if I'm doing something wrong.

I'm getting the following error while trying to use two  gpus on two parallel threads:
**2019-01-26 21:59:10.712562: F tensorflow/stream_executor/cuda/cuda_driver.cc:206] Check failed: CUDA_SUCCESS == cuCtxSetCurrent(cuda_context->context()) (0 vs. 4)
Aborted (core dumped)**

[2019-01-29 00:48] jvishnuvardhan commented on #24644
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-29 00:48] #24644 closed

[2019-01-29 01:06] ymodak commented on #24949
[tf.random.multinomial](https://github.com/tensorflow/tensorflow/blob/9f30ec59fda6e9134dff2c7d9cc42b3fb455f8b7/tensorflow/python/ops/random_ops.py#L330) will be deprecated starting from TF 1.13rc0
Closing this issue since the work around will be to use tf.random.multinomial if using TF 1.12 or lower. Thanks!

[2019-01-29 01:06] #24949 closed

[2019-01-29 01:13] akyrola commented on #25263
Hi Jiri,

thanks for your reply, this was indeed very clear way to isolate the overhead to the tensorflow graph execution. I guess we need to reduce the number of tensors we use and also limit the depth of the tf.data pipeline as each processing step adds a lot of overhead due to the number of tensors involved.

[2019-01-29 01:13] #25263 closed

[2019-01-29 01:18] ymodak commented on #25166
The tutorial installs tf-nightly build which contains TF 1.13rc0
1) [tf.random.multinomial](https://github.com/tensorflow/tensorflow/blob/9f30ec59fda6e9134dff2c7d9cc42b3fb455f8b7/tensorflow/python/ops/random_ops.py#L330) will be deprecated starting from TF 1.13rc0 thus can use tf.random.categorical instead.
The work around will be to use tf.random.multinomial if using TF 1.12 or lower.
2) Your wor

[2019-01-29 01:35] allangelman commented on #25166
Thank you for your confirming my workarounds!

This all makes sense now, since I think I am using TF 1.12. Just one more question:

When I run:
`!pip install -q tf-nightly`
and then :
`!pip show tensorflow`

I get the following output:
`Name: tensorflow`
`Version: 1.12.0`
`Summary: TensorFlow is an open source machine learning framework for everyone.`
`Home-page: https://www.tensorflow.org/`
`Auth

[2019-01-29 01:49] ymodak commented on #25166
I suspect you forgot to restart the runtime. Can you please confirm?
Alternatively, you can also try,

[2019-01-29 01:54] guptapriya commented on #20642
I think https://github.com/tensorflow/estimator/commit/1f478bf50e922202e6a378557878bd049d4c9007#diff-d934b9f2c2d9384e077e7ab45e001f69 seems like a fix for this. @fengyang0317 can you try?

[2019-01-29 01:56] ymodak commented on #25226
Please take a look at a similar [issues](https://github.com/keras-team/keras/issues/4889)

[2019-01-29 01:58] allangelman commented on #25166
Restarting the runtime didn't fix it, but running `pip install tensorflow==1.13rc0` did! Thank you for the help!

[2019-01-29 02:04] guptapriya commented on #21615
Does https://github.com/tensorflow/estimator/commit/1f478bf50e922202e6a378557878bd049d4c9007#diff-d934b9f2c2d9384e077e7ab45e001f69 fix this issue? (My guess is not, but want to check)

[2019-01-29 02:14] ymodak commented on #25166
You are welcome! Closing this issue since its solved.

[2019-01-29 02:14] #25166 closed

[2019-01-29 02:14] ymodak commented on #25166
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-01-29 02:17] guptapriya commented on #25152
Do you only have 1 GPU? If yes, do you mean why your original program didn't throw exception when you tried to use other GPUs?

[2019-01-29 02:21] policeme commented on #25152
yes

[2019-01-29 02:22] policeme commented on #25152
if you want original code, I can put my code into github

[2019-01-29 02:25] mrchor opened #25271 "How Java calls the estimator model?"
Hello, I would like to ask how Java calls the estimator model. Is there any sample code to see?

[2019-01-29 02:37] JayYip commented on #24013
Close since it's fixed in latest build.

[2019-01-29 02:37] #24013 closed

[2019-01-29 02:58] policeme commented on #25152
but when I removed allow_soft_placement in my code, I set my graph in first GPU, it appeared this exception.
![image](https://user-images.githubusercontent.com/30991932/51881068-b8060b00-23b4-11e9-957a-c28129ae3aaf.png)

[2019-01-29 02:59] martinwicke commented on #25262
Thanks! We'll wait for that to close.

[2019-01-29 03:10] #25234 closed

[2019-01-29 03:10] badlogicmanpreet commented on #7868
Thanks @martinwicke , I was thinking of Bayesian optimization based method. As you rightly said it must be already part of the efforts. Wanted to mainly start as a beginner on the contribution, since I use these techniques I thought contributing here will be a good start.
Will explore other issues on contribute label to start with.

[2019-01-29 03:12] amm385 opened #25272 "estimator saving eval metrics to /eval_0 not /eval"
I decided to give early stopping a shot with [stop_if_no_decrease_hook](https://www.tensorflow.org/api_docs/python/tf/contrib/estimator/stop_if_no_decrease_hook) but after tweaking the params and making sure the hook was actually being triggered, discovered an oddity with my estimator.

The hook reads eval data from the directory[ specified by estimator.eval_dir()](https://github.com/tensorflow/es

[2019-01-29 03:13] guptapriya commented on #25152
That's a different error because you're trying to place the saver ops on GPU which will not work.

Also, it doesn't look like there is a bug here being reported, so I will close this ticket now. I believe stack overflow is a better venue for clarifications on usage, such as this.

[2019-01-29 03:18] martinwicke commented on #7868
Yeah, this is a pretty complicated issue to start with. Thanks for getting
involved!

[2019-01-29 03:38] lcycoding commented on #24986
@impjdi
After we resolved the initialization issue, I tried the same way to cut our model into pieces to test if there are certain Ops getting hanged.

Here are some results and assumptions.
`Conv2D`, `DepthwiseConv2D` are the most important computing node in deep learning models, and also the place hanging issue happen.
If I cut the model into only `tf.tile` or `tf.concat` part, the pipeline woul

[2019-01-29 03:46] lanybass commented on #15869
2019.. still waiting..
Dose anybody using cgo with tensorflow.dll make a demo for windows?

[2019-01-29 03:59] lunasdejavu commented on #17353
where did you find the old version of the model?

I want to find one for Mask-RCNN can you help me?

[2019-01-29 04:02] ctmckee commented on #25148
Here is the model, compile, and fit_generator code which leads to the TypeError:
![image](https://user-images.githubusercontent.com/40606780/51883356-73885a00-2337-11e9-9c15-dd939489325c.png)

If I switch out all the PReLU activations for relu the fit_generator works fine

[code]

[2019-01-29 04:06] ctmckee commented on #25148
Here is the DataGenerator

[code]

[2019-01-29 04:37] jsimsa commented on #25263
Hi Aapo, note that you do not need to reduce the tf.data input pipeline depth as it does not contribute to the graph size -- fetching of an element from an arbitrary tf.data input pipeline corresponds to executing a single graph node.

Perhaps you could batch the data?

[2019-01-29 05:04] suharshs commented on #25243
Hello, the zero_point gets set to the filter_offset here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/kernels/conv.cc#L414

Then it gets used in the kernel here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/kernels/internal/reference/reference_ops.h#L383

[2019-01-29 05:04] #25243 closed

[2019-01-29 05:11] suharshs commented on #24966
lol, nice username :)

The tensorflow model (.pb) with FakeQuant ops requires the same preprocessing as the normal float model. So for the image models that is normal inception_preprocessing in the range [0.0f, 1.0f]: https://github.com/tensorflow/models/blob/master/research/slim/preprocessing/inception_preprocessing.py#L256

Some extra info:

The actually quantized uint8 tflite model expects uint

[2019-01-29 05:11] #24966 closed

[2019-01-29 05:14] facaiy commented on #25066
tensorflow/addons is planning to migrate AdamWOptimizer: https://github.com/tensorflow/addons/issues/24 . If anyone is interested, welcome to make a contribution. cc @seanpmorgan

[2019-01-29 05:19] suharshs commented on #24770
Sorry for the delay.

What error do you get with the second command? We are tracking a similar issue, and I would like to see if its the same one.

Thanks!

[2019-01-29 05:21] Vincent630 commented on #21725
thanks for your suggestion to solve this issue. I have encountered the same problem and solved it with your way. but when i evalute the result of converted tflite model,i get a zerodivisionerror:float (num_correct)/float(cnt_total),did you get this issues?if you have any idea about this please let me know,thaks a lot

[2019-01-29 05:30] suharshs commented on #24507
Currently the tooling doesn't quantize inputs by design. This is because the rewriter targets image models with the expectation that inputs during inference are values from 0 to 255. You can then map these values to the float values used as inputs during training, for instance in the range [0.0f, 1.0f], using the mean_value and std_value flags.
mean_value = the uint8 value that maps to floating po

[2019-01-29 05:30] #24507 closed

[2019-01-29 05:33] suharshs commented on #24477
The TFLite converter expects an eval graph as input. This means a graph where all calls to batch norm are created with is_training=False.

So, you traing a float model with is_training=True and create_training_graph. Save the checkpoint.
Then you build the same model with is_training=False and create_eval_graph. This is the graph that the Tfliteconverter expects.

[2019-01-29 05:33] #24477 closed

[2019-01-29 05:47] Jacob-Ma commented on #17650
+1 for having a throttle_steps in EvalSpec

[2019-01-29 05:48] suharshs commented on #23796
Hi, super sorry for the delay.
GTT is a legacy tool and its not being directly supported anymore. Grappler should be used instead. That is the reason its not exposed via pip.

Thanks!

[2019-01-29 05:48] #23796 closed

[2019-01-29 05:53] suharshs commented on #23351
The fake quant operations Nudge the range such that 0 is included in the range and so that its exactly representable. See here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/fake_quant_ops_functor.h#L41

So this is working as intended.

[2019-01-29 05:53] #23351 closed

[2019-01-29 05:55] Junan007 commented on #23253
i have the same issue too.

[2019-01-29 06:06] User2004 commented on #16
https://webappcodes.com/category/ios

Here, above link you find all ios example codes

[2019-01-29 06:07] User2004 commented on #25045
https://webappcodes.com/category/ios

Here, above link you find all ios example codes

[2019-01-29 06:30] OxInsky opened #25274 "tensorflow.python.framework.errors_impl.InternalError: tensorflow/core/kernels/cuda_solvers.cc:803: cuBlas call failed status = 13"
Hello ,I met a mistake when using tensorflow 1.10.0 as follows. I install tensorflow 1.10.0 with command `pip install tensorflow-gpu ==1.10.0`
More information:
system:ubuntu 16.04
GPU：RTX2080
CUDA: 9.0
cudnn:7.4.1
python: 2.7/3.6
When run the code ,we get a mistake about cuBlas and the status is 13. We know little about  this and we try using docker to run this but failed.Can you help me? Thanks!

[2019-01-29 06:33] noah003 commented on #19293
@JaviBonilla hi, have you solved this problem?

[2019-01-29 06:39] gunan commented on #25210
conda builds are managed by anaconda or the community (conda forge packages)
Therefore I am not 100% sure on what they build for. You will need to reach out to them.

[2019-01-29 07:39] storm-rain commented on #24566
@jvishnuvardhan  Hi，I want to know when this problem will be solved. Thank you

[2019-01-29 07:54] yuvdar commented on #24770
2019-01-29 09:53:18.289956: I tensorflow/lite/toco/graph_transformations/graph_transformations.cc:39] Before Removing unused ops: 3176 operators, 4966 arrays (0 quantized)
2019-01-29 09:53:18.431102: I tensorflow/lite/toco/graph_transformations/graph_transformations.cc:39] After Removing unused ops pass 1: 3010 operators, 4717 arrays (0 quantized)
2019-01-29 09:53:18.613614: I tensorflow/lite/toco

[2019-01-29 07:57] holyhao commented on #24871
@lenaevans hi，how can you set the compiling with size optimization. I build it for android and it gets 3.6M.

[2019-01-29 08:02] sundayxcn opened #25275 "bazel build aot armeabi-v7a so failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
macOS 10.13.6
- Mobile device

[2019-01-29 08:17] holyhao commented on #20905
@martis-chromium @Nimitz14  I have build the .so and used it in android project. But the .so size is 3.7M and it is so big with  it is reported with hundreds of KB , can you help me？

[2019-01-29 08:19] guoguo11191 opened #25276 "build failstensorflow-r1.13"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-01-29 08:19] guoguo11191 opened #25277 "build tensorflow-r1.13 fails"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Red Hat 4.8.2-16
- Mobile

[2019-01-29 08:21] CatEek commented on #25057
@yuefengz I'm trying to use 4. But even with 2 I'm encountering the same problem, though it takes less time. Do you mean that model from official tensorflow repo isn't compatible with estimator api, or MirrorredStrategy, or both?  Could you please point me in the right direction?

[2019-01-29 08:31] #25276 closed

[2019-01-29 08:32] guoguo11191 commented on #25276
misoperation

[2019-01-29 08:37] guoguo11191 commented on #25277
my fault，http proxy error

[2019-01-29 08:37] #25277 closed

[2019-01-29 08:39] #25016 closed

[2019-01-29 08:46] AllenYLJiang commented on #12491
conda install enum34

[2019-01-29 08:57] holyhao opened #25278 "Reducing the binary size of tflite library for android"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: all
- TensorFlow installed from (source or binary):source
- TensorFlow version:1.10
- Python version:.3.6
- Installed using virtualenv? pip? conda?:conda
- Bazel version (if compiling from source):1.15

[2019-01-29 09:02] dmitrievanthony commented on #25165
Folks, seriously, release `1.13` just broke the whole `contrib` package, all functionality because of error in `contrib/__init__.py`. Can somebody have a look at this issue?

[2019-01-29 09:06] wassimseif commented on #25240
How Can i pass an eager tensor to the model ? by using tf.data ?

[2019-01-29 09:07] ciprianmihai94 opened #25279 "tf.contrib.opt.ScipyOptimizerInterface error"
Hello.

I tried to use tf.contrib.opt.ScipyOptimizerInterface with an example code from your documentation.
`vector = tf.Variable([7., 7.], 'vector')`
`loss = tf.reduce_sum(tf.square(vector))`
`optimizer = tf.contrib.opt.ScipyOptimizerInterface(loss, options={'maxiter': 100})`
`with tf.Session() as session:`
`---->optimizer.minimize(session)`.

I am getting the following error: `Tensors in list pa

[2019-01-29 09:08] SumNeuron commented on #24140
@jvishnuvardhan here is a google [colab] for the issue. Note, it will not run as it requires data to do so and colab's do not store uploaded data. It should, however, be sufficient to see what causes the error. Namely:

[code]

[colab]: https://colab.research.google.com/drive/1S6JLTI0cQkbXFijPAKznd5NcnyL3apg7

[2019-01-29 09:13] JaviBonilla commented on #19293
Hi @noah003,

Not yet, I didn't have much time to investigate it though, I'll let you know if I find something.

[2019-01-29 09:32] gwilczynski95 commented on #25170
I have similar problem to yours and no idea how to solve it.

[2019-01-29 09:37] skiler07 commented on #25178
Possible #23767?

[2019-01-29 09:39] Fighting-JJ commented on #22646
加上这行代码，可以work。不过类似于非极大值抑制之类的操作会出现问题

[2019-01-29 09:41] koriavinash1 commented on #18149
can anyone share an example for weight initialization in multi-layered networks?

[2019-01-29 09:51] #25262 closed

[2019-01-29 10:41] SooDevv commented on #20619
@tanzhenyu

yes, it works when 'not'  tensorflow eager execution mode!
but my question is why not working when tensorflow eager execution mode.

[code]

ValueError: optimizer must be an instance of tf.train.Optimizer, not a <class 'tensorflow.python.keras.optimizers.Adam'>

[2019-01-29 10:54] nkdsoft commented on #24496
Same problem here.

- RTX 2070
- Ubuntu 18.04
- CudNN 7.4.2 (but I have tried compiling with other older versions with no luck)
- Tensorflow 1.13.0-dev20190125 (also tried Tensorflow 1.12 compiled with Cuda 10)

And as others have reported, setting allow_growth=TRUE allows things to run.

[2019-01-29 10:58] victorinno commented on #25173
Ymodak, how can I check that?

About the installation process I used anaconda and selected the TensorFlow and Keras package for installation.

[2019-01-29 11:10] fgr1986 commented on #24507
Hi @suharshs could it be possible to get a bit more information on that new tool?
I have just send you an email to the mail account you have on your profile, subject referring this github issue.

Thank you very much for your time

[2019-01-29 11:32] gauravkaila commented on #17129
I faced the same issue and was able to resolve it by correcting my **labelmap.pbtxt**.
For custom model, you will need to write your own **labelmap.pbtxt**. I am pasting my example below for 1 class - _reading_

`item {
  id: 1
  name: 'reading'
}
`

[2019-01-29 11:38] calledbymountains commented on #25227
Thank you. But does it specifically address the case of `end_point` dictionaries and `output_stride` ?

[2019-01-29 11:50] mr-ubik opened #25281 "TensorFlow 2.0 Preview - TypeError: 'Attribute' object is not iterable when using tf.function"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, the code is attached below
- OS Platform and Distribution: Arch Linux
- TensorFlow installed from (source or binary): PyPI
- TensorFlow version (use command below): `tf-nightly-gpu-2.0-preview==2.0.0.dev20190129` AKA the latest nightly
- Python version: 3.6.8
- CUDA/cuDNN v

[2019-01-29 12:09] Habardeen commented on #25000
Same issue as @wmcnally here.

`ERROR: /tensorflow/tensorflow/contrib/resampler/BUILD:103:1: in deps attribute of py_test rule //tensorflow/contrib/resampler:resampler_ops_xla_test_gpu: '//tensorflow/compiler/tf2xla/kernels:resampler_ops' does not have mandatory providers: 'py'. Since this rule was created by the macro 'tf_xla_py_test', the error might have been caused by the macro implementation

[2019-01-29 12:11] psgithubuser commented on #24991
Thank you for your suggestion Nathan. I was passing one 4k image and the performance was poor so did not increase the workload. I will try it with an array of images or video frames. We tried many settings but I am mainly using this setting: OMP_NUM_THREADS=4, intra_op=4, inter_op=8, KMP blocktime =1, KMP affinity=verbose

[2019-01-29 12:20] x10000year commented on #24875
@guptapriya

One of my use cases is to implement truncated back propagation for a unrolled rnn. In this case, for every training step and every tower we read only n steps from a sequence, and compute n steps of the unrolled rnn. The computation starts with the last rnn states from the same sequence, and at the end stores the rnn states into local variables.  The local/temporary variables are never

[2019-01-29 12:20] dmcbeing opened #25282 "ImportError: cannot import name 'mock' durring import tensorflow"
**System information**
- CentOS Linux release 7.4.1708
- Source, hash: bf4767c6bafb077fc591107691199a6981c29304
- TensorFlow version: 1.12
- Python version: Python 3.4.9
- Installed using virtualenv? pip? conda?:
- Bazel version (if compiling from source): 0.19.2 (bazel from centos repos)
- GCC/Compiler version (if compiling from source): 4.8.5 (gcc from centos repos)
- CUDA/cuDNN version: -
- GPU

[2019-01-29 12:45] ajit2678 commented on #25022
I have solved the Problem

[2019-01-29 12:45] #25022 closed

[2019-01-29 12:46] ilous12 commented on #25238
nice answer thanks.

[2019-01-29 13:08] salim124 commented on #25083
@jvishnuvardhan, @FranciscoSP  I'm also facing one issue in the tenserflow demo app.
 Issue : Showing lag on camera preview, happening only on google pixel device (Android OS: Pie), Could you please help me this?

[2019-01-29 13:19] valiok98 commented on #17353
Hi @lunasdejavu
I haven't taken a look at the thread since a long time ago, but the original link for the object-detection repository ist : https://github.com/tensorflow/models/commits/master/research/object_detection
You can browse back to before March 2018(when I was having the issue). Unfortunately I don't remember the exact commit. Alternatively you can clone my project from
https://github.com

[2019-01-29 13:43] achowdhery commented on #19293
The generic commands will not work. You will need to inspect the graph to find the correct input/output nodes.
For segmentation, you may be able to leverage the GPU version of the model released here:
https://medium.com/tensorflow/tensorflow-lite-now-faster-with-mobile-gpus-developer-preview-e15797e6dee7

[2019-01-29 14:01] Nayana-ibm opened #25283 "Tensorflow wheel install fails on s390x"
**System information**
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04, 18.04 s390x
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
TensorFlow installed from (source or binary): source
TensorFlow version: v1.12.0
Python version: 2.7.x
Installed using virtualenv? pip? conda?: Building from source
Bazel version (if compilin

[2019-01-29 14:03] Nayana-ibm commented on #25283
For now, I have used export GRPC_PYTHON_BUILD_SYSTEM_OPENSSL=True to use Openssl instead of Boringssl.
Will it affect performance? Will it affect any functionality of TensorFlow?

[2019-01-29 14:04] Nayana-ibm commented on #23976
Closing this issue as https://github.com/tensorflow/tensorflow/pull/24201 is merged

[2019-01-29 14:04] Nayana-ibm commented on #23976
Thanks @gunan @meteorcloudy

[2019-01-29 15:14] xhyandwyy opened #25284 "TensorFlow1.11 estimator train_and_evaluate distributed（MirroredStrategy）， the sum eval metric （false_negatives，false_positives，true_negatives， true_positives ）at different GPUs is wrong"
The test set is 1000
when I use one GPU，the sum of test set is true, 1000
INFO:tensorflow:Saving dict for global step 102: eval_accuracy = 0.762, eval_loss = 0.5891396, **false_negatives = 27.0, false_positives = 211.0**, global_step = 102, loss = 0.5891396, negative_f1_score = 0.715311, negative_precision = 0.9171779, negative_recall = 0.5862745, positive_f1_score = 0.7955326, positive_precision

[2019-01-29 15:21] dmcbeing commented on #25282
By importing mock prior to tensorflow the previous error is replaced by this:

`

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home1/private/mavridis/.local/lib/python3.4/site-packages/tensorflow/__init__.py", line 34, in <module>
    from tensorflow._api.v1 import compat
  File "/home1/private/mavridis/.local/lib/python3.4/site-packages/tensorflow/_api/v1/comp

[2019-01-29 15:21] skye commented on #24539
FYI @ebrevdo

[2019-01-29 15:27] skye commented on #25252
@gunan @MarkDaoust is this something that should be covered in our docs?

@supermanxxx you might also try posting on [Stack Overflow](http://stackoverflow.com/questions/tagged/tensorflow).

[2019-01-29 15:48] #25260 closed

[2019-01-29 15:49] Dee-Ma commented on #25260
Hi ymodak,

Thanks for your help. The problem has been solved and I have closed the issue.

________________________________
From: ymodak <notifications@github.com>
Sent: 28 January 2019 19:35:29
To: tensorflow/tensorflow
Cc: Di Ma; Author
Subject: Re: [tensorflow/tensorflow] TypeError: Failed to convert object of type <class 'tensorlayer.layers.PReluLayer'> to Tensor. Contents: Last layer is: PRe

[2019-01-29 16:07] amitlevy21 opened #25285 "Training with multiple datasets using the estimator"
**System information**
- TensorFlow version (you are using): 1.12
- Are you willing to contribute it (Yes/No): Not in the near future

**Describe the feature and the current behavior/state.**

I'll start with what i'm trying to achieve.
I want to train a model (a language model) with Multitask Learning and Transfer Learning.
I want to train with such techniques while using 3 different tasks.
Each

[2019-01-29 16:14] agniszczotka commented on #24028
same problem for me.

[2019-01-29 16:16] etragas-fathom commented on #25080
I'm not sure that is the right way to do things, but just wanted to flag.

[2019-01-29 16:18] feihugis commented on #21185
@allenlavoie I'm interested in this issue and try to fix it. Could you give some advice? They will be very helpful.

[2019-01-29 16:20] ssubraveti commented on #24028
I'm not sure... I rewrote the estimator from scratch because I wasn't able to find a reason for the bug, and it worked after that 😅

[2019-01-29 16:33] agniszczotka commented on #24028
I found the problem.
You set max steps as max_steps = 6000, yet it is not same as **steps** from tf.estimator.train(... steps,max_steps). As stated in documentation of train_and_evaluate
[https://www.tensorflow.org/api_docs/python/tf/estimator/train_and_evaluate](url)

which means that once you reach max_steps=6000, training is not resumed anymore and train_and_evaluate returns (None,None) .
Try t

[2019-01-29 16:50] jvishnuvardhan commented on #25022
@ajit2678 Thanks! Have a nice day

[2019-01-29 16:52] guptapriya commented on #20642
Thanks for verifying!

[2019-01-29 16:52] #20642 closed

[2019-01-29 16:55] alextp commented on #25240
model(tf.constant(...)) works just fine.

On Tue, Jan 29, 2019 at 1:11 AM Wassim Seifeddine <notifications@github.com>
wrote:

--
 - Alex

[2019-01-29 17:00] reuben commented on #23269
Seems like cuDNN now supports variable sequence lengths in a batch, see [[1]](https://docs.nvidia.com/deeplearning/sdk/cudnn-developer-guide/index.html#cudnnSetRNNDataDescriptor) and [[2]](https://docs.nvidia.com/deeplearning/sdk/cudnn-developer-guide/index.html#cudnnRNNForwardTrainingEx).

Is there any work being done to expose that functionality in the TensorFlow API?

[2019-01-29 17:11] shahinkl commented on #23898
Any update on this issue? Really stuck at this point.

[2019-01-29 17:21] alextp commented on #24140
@agarwal-ashish I think you wrote wals, want to take a look at this?

[2019-01-29 17:23] reuben commented on #23269
Looks like this was done in https://github.com/tensorflow/tensorflow/pull/23588 / https://github.com/tensorflow/tensorflow/commit/bf46fa4c5225e853e602b0e18951884b08729163 ?

Should this issue be closed?

For those who run into this issue, see also: #24812

[2019-01-29 17:44] mr-ubik commented on #25281
Actually we have hunted down the issue to the type annotations in the two losses.

If we remove the return type we get `tf is undefined`, if we remove all the annotations the train under `tf.function` works properly.

[2019-01-29 17:44] cassianocasagrande commented on #25254
I think it would be nice to have tf.keras consider one epoch when the dataset runs out of data, it would make the steps_per_epoch and validation_steps undeeded.

[2019-01-29 17:57] csteegz opened #25288 "Models produced by SavedModel.simple_save can't be loaded with saved_model.loader"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows
- TensorFlow installed from (source or binary):
PIP
- TensorFlow version (use command below):
1.12.0/'v1.12.0-rc2-3-ga6d8ffae09'
- Python version:
3.6.2

You can collect some of this information using our env

[2019-01-29 18:10] kuri-leo opened #25289 "tf-nightly-2.0-preview installation issue"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Professinal 64-bit

[2019-01-29 18:13] gunan commented on #25252
CC @meteorcloudy

[2019-01-29 18:20] jvishnuvardhan commented on #25289
@kuri-leo For the first issue, could you try this [solution](https://github.com/tensorflow/tensorflow/issues/24886) that worked for another user and let us know. Thanks!

[2019-01-29 18:22] ymodak commented on #25227
@martinwicke Can you PTAL? Thanks!

[2019-01-29 18:24] jayfurmanek commented on #25165
I opened this one: https://github.com/tensorflow/tensorflow/issues/25089
which I think is the root of the problem.

[2019-01-29 18:26] ymodak commented on #25164
duplicate #25152

[2019-01-29 18:26] #25164 closed

[2019-01-29 18:38] martinwicke commented on #25227
It does not. In fact, it does not handle anything specific to slim.

You can continue to use slim in 2.0, and if you are so dependent on its specifics, you may want to. slim makes heavy use of variable scopes and collections, and writing code using it will never truly feel like TensorFlow 2.0, but using tf.compat.v1 you will be able to make it work.

We will be publishing more detailed conversion

[2019-01-29 18:38] #25227 closed

[2019-01-29 18:40] jvishnuvardhan commented on #25282
@dmcbeing Could you follow the instructions [here](https://github.com/rnreich/ubuntu-tensorflow-gpu-all-versions) and let us know how it works. I recently used those steps and successfully installed tensorflow-gpu. Thanks!

[2019-01-29 18:46] kuri-leo commented on #25289
@jvishnuvardhan thank you very much. it works. But I think this solution is hard for other common developers, so if there's any better way to solve this?

also here comes successful installation log, it seems that everything goes fine:
[code]

[2019-01-29 18:57] tensorflowbutler commented on #24599
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-29 19:08] case540 commented on #25089
I was able to build Estimator r1.13 against TF r1.13 without issue.

pip install tensorflow==1.13rc0
cd ./estimator_repo
git checkout origin/r1.13
bazel build //tensorflow_estimator/...

Try fetching latest Estimator repo and make sure you're on the branch. Make sure you're building TF from release branch.

[2019-01-29 19:12] suharshs commented on #25087
Hi, could you describe more what you mean by "do only one rounding shift"?

Since we are doing integer math to approximate a float scale, it is inevitable that for some values we will have an error. We can plan with the logic to move that error around, but we cannot represent all values exactly without using an actual float value.

[2019-01-29 19:24] Silb78dg commented on #24408
Hi all,
Any updates on this? Or any workaround?
I couldn't find a way to do preemption on distributed training.

Thanks.
Denis.

[2019-01-29 19:54] iggy12345 commented on #24599
Okay, I made the change, is there anything special I need to do to submit a PR?
[Tensorflow_PR_24599.txt](https://github.com/tensorflow/tensorflow/files/2809427/Tensorflow_PR_24599.txt)

[2019-01-29 19:54] Anton-Velikodnyy commented on #24101
The reason I installed 0.15 bazel is because of the above comment.

[2019-01-29 19:58] campanelli-resonon commented on #20444
Python group insists on releasing breaking language changes with a minor version bump.

[2019-01-29 20:12] shashishekhar commented on #21646
Closing this, please monitor:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/tf_ops_compatibility.md
for status of supported ops.

[2019-01-29 20:12] #21646 closed

[2019-01-29 20:14] jayfurmanek commented on #25089
Did the Estimator 1.13 branch get reset?
Late last week, it was sitting at much later commit and had additions through January 14th or so.
Now it looks like it branched earlier, before the mode_keys API was added.

We can close this, but man, please somehow let people know if you're going to rewrite history like that. Yikes.

thx!

[2019-01-29 20:14] #25089 closed

[2019-01-29 20:14] shashishekhar commented on #23806
@gerchicov-bp: Does following instructions https://github.com/tensorflow/tensorflow/issues/23806#issuecomment-439554347 not help.

[2019-01-29 20:15] shashishekhar commented on #19527
@tobirudi9 : Please reopen if you see this issue again.

[2019-01-29 20:15] #19527 closed

[2019-01-29 20:17] shashishekhar commented on #23706
Looks like the issue is resolved, closing this.

[2019-01-29 20:17] #23706 closed

[2019-01-29 20:34] jvishnuvardhan commented on #25289
@kuri-leo Thanks! I am closing the issue. Please open new ticket if you see similar issue again. Thanks!

[2019-01-29 20:34] #25289 closed

[2019-01-29 20:37] jayfurmanek commented on #25165
FYI I just closed #25089 . It looks like the Estimator 1.13 branch no longer has https://github.com/tensorflow/tensorflow/commit/8bcc801a7cd748e7d9d47f0f5d7ebd84a2f2eaea  and perhaps has been rebased altogether.

[2019-01-29 20:37] allenlavoie commented on #21185
@feihugis

Looking at the code, @skye is going to be better versed in this than I am, but here's a guess at what needs doing:

Right now we have a ShapeRefiner, which calls SetShape on nodes: https://github.com/tensorflow/tensorflow/blob/038675489fbf35542f6b0e1b6192876a83e8c5b6/tensorflow/core/graph/graph_constructor.cc#L623

That decodes the shape proto and sets the node's shape. It doesn't run a

[2019-01-29 21:05] scm-ns commented on #25000
I see the same issue.

[2019-01-29 21:43] shashishekhar commented on #25228
@dpinthinker : Correct or use 0 mean and 1 std if you want to keep your code.

Image is RGB so pixels have value in range [0-255] for each channel.
The floating point model is trained with [-1.0, 1.0] as inputs, so the colors are converted from 0-255 to  [-1.0, 1.0].

However quantized model uses uin8_t which have values is between 0-255, so we don't need to do preprocessing.

[2019-01-29 21:47] iggy12345 commented on #24599
Okay, I think I did it then

[2019-01-29 21:49] iggy12345 commented on #24599
Wow, this is really easy, okay

[2019-01-29 21:52] shashishekhar commented on #25191
@Vincent630 : You are correct it is due to missing minimum and maximum values. For quantization you can get this information by:
1. Doing [quantized training](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/quantize/README.md) this maybe hard since you may need to change the training code and retrain your model but this will give you better accuracy.
2. The other option is

[2019-01-29 22:08] jvishnuvardhan commented on #25281
@mr-ubik Is there any issue still or is it okay to be closed? Thanks!

[2019-01-29 22:09] shashishekhar commented on #25088
During quantization the activations (and weights) are converted to 8 bit. For this conversion the tool needs information for minimum and maximum values. These minimum and maximum values can be obtained

you can get this information through :
1. [quantized training](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/quantize/README.md), this maybe hard since you may need to cha

[2019-01-29 22:15] EWouters opened #25292 "Error in configure.py, MPI_HOME"
**System information**
- OS Platform and Distribution: Linux Ubuntu (4.15.0-44-generic)
- TensorFlow installed from: Source
- TensorFlow version: r1.13 (e7f2979fc7bbbd491a5c1db2268d4ee67cc46f88)
- Python version: 3.5
- Installed using virtualenv? pip? conda?: Conda
- Bazel version (if compiling from source): 0.21.0
- GCC/Compiler version (if compiling from source) : gcc-7 (Ubuntu 7.3.0-27ubuntu1~1

[2019-01-29 22:26] saydulk opened #25293 "error: futures 3.0.5 is installed but futures>=3.1.1 is required by set(['tensorboard'])"
Hello, I am using UBuntu 16.04 LTS. I have use this https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/install/install_pip_packages.sh#L45

but when i run under:
/tensorflow/tensorflow/tools/pip_package$

sudo python setup.py install

its return error: futures 3.0.5 is installed but futures>=3.1.1 is required by set(['tensorboard'])
![screenshot from 2019-01-30 04-25-56

[2019-01-29 22:35] impjdi commented on #24986
@lcycoding

Thanks for further bisecting it to find out the issue.  From what you describe, I suspect (and I might be completely wrong here) that we're trying to use a bigger workgroup size.  Unfortunately, the Java APIs do not print thing happening in the lower level.  Let me try something...

[2019-01-29 22:49] martinwicke commented on #25257
the direct replacement for `tf.contrib.losses.softmax_cross_entropy` is `tf.compat.v1.losses.tf.losses.softmax_cross_entropy`.

I would welcome a PR adding this to `tf_upgrade_v2.py`.

[2019-01-29 22:57] EWouters commented on #25292
Thanks for the quick reply. I applied the patch you suggested<sup>[1](#patch1)</sup>, it now gives me this error:

[code]

Which is the expected behaviour AFAK. I'll close this issue.

<a name="patch1"><sup>1</sup>patch</a>:
[code]

[2019-01-29 22:57] #25292 closed

[2019-01-29 23:06] jmhodges opened #25294 "Image Retraining: maybe reference retrain.py?"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version:
1.12
- Doc Link:
https://www.tensorflow.org/hub/tutorials/image_retraining

[2019-01-29 23:07] pldelisle opened #25295 "Data augmentation on 4-D or 5-D data"
Hi,

I would like to request a new feature.

**System information**
- TensorFlow version (you are using): 1.12, compiled with CUDA 10, NCCL, CuDNN7.
- Are you willing to contribute it (Yes/No): Maybe, but as a student, time is a real constraint.

**Describe the feature and the current behavior/state.**
I would like to have data augmentation functions that accept 4-D arrays with shape [width, heigh

[2019-01-29 23:16] samikama commented on #24890
@jvishnuvardhan Did you mean to tag @gittyhub2018 ? I am not aware of any upcoming exams ;)

[2019-01-29 23:16] jvishnuvardhan commented on #25274
@OxInsky Could you follow the instructions [here](https://github.com/rnreich/ubuntu-tensorflow-gpu-all-versions) and let us know how it works. I recently used those steps and successfully installed tensorflow-gpu. If you had already resolved the issue, please close the issue or let us know. Thanks!

[2019-01-29 23:21] harishperfect commented on #25093
Had the same issues, but following these steps got it fixed for me

`$ brew unlink python`

then just install again with `--ignore-dependencies` argument

`$ brew install --ignore-dependencies https://raw.githubusercontent.com/Homebrew/homebrew-core/f2a764ef944b1080be64bd88dca9a1d80130c558/Formula/python.rb`

then link python by switching to `python 3.6.5_1`

`$ brew switch python 3.6.5_1`

check

[2019-01-29 23:22] jvishnuvardhan commented on #25271
@mrchor Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. Github is mainly for addressing bugs in installation and performance. Thanks!

[2019-01-29 23:30] jytug opened #25296 "TensorFlow build for raspberry pi, Python 3.6"
Hello,

**System information**
- TensorFlow version (you are using): HEAD
- Are you willing to contribute it? Yes

**Describe the feature and the current behavior/state.**
Currently, [this page](https://www.tensorflow.org/install/source_rpi) provides instructions on how to build a TF pip package for raspberry pi. However, it limits Python 3 versions to `3.4`, which is not officially supported by s

[2019-01-29 23:31] jvishnuvardhan commented on #25270
@ToughLife Please check your system and size of files. There is something wrong with your system or installation. I ran it on my desktop and got the following results.

runfile('/usr/local/google/home/vishnuvardhanj/Desktop/Vishnu/TensorFlow/User Codes for Testing/untitled4.py', wdir='/usr/local/google/home/vishnuvardhanj/Desktop/Vishnu/TensorFlow/User Codes for Testing')
Downloading data from htt

[2019-01-29 23:49] jvishnuvardhan commented on #25242
@ucasiggcas Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. Github is mainly for addressing bugs in installation and performance. Thanks!

If you think it is not a support question, then please fill system [template](https://github.com/tensorflow/tensorflow/issue

[2019-01-29 23:57] jvishnuvardhan commented on #24890
@samikama You are right. I meant to tag @gittyhub2018 . Sorry for the mistake. Thanks!

[2019-01-30 00:01] dpinthinker commented on #25228
@shashishekhar
Thank you!
After removing mean and std, it still works wrong.
<img width="392" alt="2019-01-30 7 57 18" src="https://user-images.githubusercontent.com/2778945/51948779-d75c7100-2464-11e9-8bc7-182d904d8108.png">

It is the problem of my converted model?

[2019-01-30 00:02] jvishnuvardhan commented on #25272
Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. Github is mainly for addressing bugs in installation and performance. Thanks!

[2019-01-30 00:02] jvishnuvardhan commented on #25082
Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. Github is mainly for addressing bugs in installation and performance. Thanks!

[2019-01-30 00:05] martinwicke commented on #25092
You can use `.batch` on a dataset (after resize) to coalesce consecutive examples into a batch, and perform subsequent steps on the batch (using `.map`). This of course assumes that `vgg_preprocess` is written in a batch compatible manner.

Questions of this sort are likely better directed at StackOverflow.

[2019-01-30 00:05] #25092 closed

[2019-01-30 00:13] jvishnuvardhan commented on #25107
@nmoran  Could you follow the instructions [here](https://github.com/rnreich/ubuntu-tensorflow-gpu-all-versions) and let us know how it works. I recently used those steps and successfully installed tensorflow-gpu. If you had already resolved the issue, please close the issue or let us know. Thanks!

[2019-01-30 00:22] amm385 commented on #25272
ok will do, I thought this might be a bug with estimator.eval_dir, so thought it might be of interest here as well. go ahead and close out if you think that's appropriate

[2019-01-30 00:37] anamozov commented on #25083
@salim124 can you explain the issue in more detail?

[2019-01-30 01:08] shoyer opened #25299 "Dictionary as model targets for subclassed Keras models"
It is currently possible to build subclassed Keras models with a dict of tensors as inputs, but not as outputs, e.g.,
[code]
This results in the error:
[code]

I'd like to build Keras models that receive and output tensors as dictionaries -- would it be reasonable to add support for this? It currently works to specify inputs as a dict, but not labels for training moels.

**System information**
- T

[2019-01-30 01:50] ruffles1 opened #25301 "TensorFLow v1.13.0rc0 tflite_convert fails to convert TensorFlow model with FusedBatchNormalization layers"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-01-30 01:57] omalleyt12 commented on #25178
Hi @0x0L, thanks for the issue!

It looks like the inconsistency b/t `'mse'` and `tf.keras.losses.mean_squared_error` is fixed in the latest nightly, I'm seeing `0.13` for both.

I think the external Keras logic should be updated to reflect the `tf.keras` logic, as `0` values are being considered as `null` in external Keras and thus increasing the effective sample weight for other samples

Made a

[2019-01-30 02:17] lcycoding commented on #24986
To all developers wants to migrate gpu delegate into your app:
1. Make sure single operation does not have repeated input source.
2. Make sure your init thread and inference thread are the same :P

Thanks to @impjdi for excellent answers!

[2019-01-30 02:17] #24986 closed

[2019-01-30 02:31] poppintiger opened #25303 "How can I pass a parameter for ever examples in a tensor?"
I have a many sequence sentence with different length，and I padded all sentence with same length 100 ，I  got a input tensor with shape:  (1000, 100, 10) ，but I want pass the real valid length of every length information together with input tensor, and use the parameter to do some calculates, how can I suppose to do?

I have a one way that is create a new input with shape(1000,100,1)，padded with al

[2019-01-30 02:34] PigApple commented on #24568
@maisora, how did you solve this issue?

[2019-01-30 02:36] bstriner commented on #23269
@reuben Not sure myself. Don't think anyone compared packing vs masking, Masking is space-inefficient but it might not make a big difference. Packing and unpacking add additional operations but the RNN itself might be more efficient.

Haven't tried out the masked LSTM yet. Assuming you get the same results in about the same time, then this can be closed.

[2019-01-30 02:42] rickyzhang82 opened #25304 "Failed to build tensorflow pip package from source in dockerfile provided under tools folder"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Docker image nvidia/cuda:9.0-b

[2019-01-30 02:48] impjdi commented on #25131
@ramtin2080

Thanks for trying out the GPU delegate, and sorry for the late response.  Was swamped with other things last week.  Can you share the two TFLite models?  Doesn't have to have the proper weights; you can share an uninitialized graph.  I want to take a look at the architecture and find out what's wrong.

[2019-01-30 03:07] PigApple commented on #24568
never mind, fixed by downgrade bazel version.

[2019-01-30 03:16] zsk423200 opened #25305 "how to enable xla with estimator"
cuda:9.0
tensorflow:1.12.0

i want to enable xla, it is my code:
[code]
and get_distribution_strategy() is
[code]

when i train by one gpu, and the distribute strategy is OneDeviceStrategy("device:GPU:0"), xla is ok,
but when i train by two gpus, and the distribute strategy is MirroredStrategy, xla has error:
[code]

or

[code]

[2019-01-30 03:19] henrysky commented on #17419
[code]

I have tested the above code runs without error in TF1.12.0 so I will close it

[2019-01-30 03:19] #17419 closed

[2019-01-30 03:52] zh794390558 commented on #25284
https://github.com/tensorflow/tensorflow/blob/r1.12/tensorflow/contrib/distribute/python/values.py#L1130
[code]

[2019-01-30 03:54] victordibia commented on #25257
I confirm that the `tf_upgrade_v2` script **already** does this replacement.
I (incorrectly) assumed that `losses.softmax_cross_entropy` may have moved to some other location in the tf2.0 api. Thanks Martin.
I think this issue can be closed now.

[2019-01-30 04:41] Nayana-ibm commented on #25283
@gunan Any inputs on this?

[2019-01-30 05:20] RicCu opened #25306 "[Docs] Do not link to symbols within code blocks"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: 1.12, 1.13, 2.0
- Doc Link: https://www.tensorflow.org/versions/r2.0/api_d

[2019-01-30 05:40] noah003 commented on #19293
@JaviBonilla Thanks!

[2019-01-30 06:06] HanSangJun opened #25308 "[tf.keras 1.8.0] the size of loaded model increases after calling model.fit()"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow version (use command below)**: 1.8.0
- **Python version**: 3.5.2
- **GPU model and memory**: GTX 1080 Ti

### Describe the problem
I'm using tf.keras. I'm working with Densenet169 from tensorflow.python.keras.applications.densenet. I checked the model size (almost 53 MB) on Keras websi

[2019-01-30 06:45] zh794390558 commented on #17851
@guptapriya Is there any guide to using the distribute with eager?

[2019-01-30 06:54] wilderrodrigues commented on #21526
Hi,

I'm trying to convert a model built on Keras that uses Embedding, Conv1D and Dense layers. However, unfortunately, I'm getting an error related to unsupported operation.

You might need to add this one to the list:

```ResourceGather```

Cheers,
Wilder

[2019-01-30 07:29] zxc188 opened #25310 "i use tf.data.TFRecordDataset read tfcord , why the data i read is not right"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
tensorrflow 1.12
tensorboard 1.12
windows7 cpu

**Describe the current **
i use tf.data.TFRecordDataset read tfc

[2019-01-30 07:35] sarmadidrees opened #25311 "tflite_convert makes no difference to converted model after changing detection_postprocess.cc"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 16.04**
- TensorFlow installed from (source or binary): **source**
- TensorFlow version (or github SHA if from source): **r1.12**

**Describe the issue**
I am converting SSD object detection model trained through object detection api. The only difference in my custom model and other pre-trained model i

[2019-01-30 07:40] sarmadidrees commented on #25311
As, suggested by @achowdhery in this [comment](https://github.com/tensorflow/tensorflow/issues/21230#issuecomment-456803457), I already build the whole tensorflow from source after making changes to detection_postprocess.cc but still no success.

[2019-01-30 08:00] naatje80 opened #25312 "Tensorflow"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Scientific Linux 7.6, but also

[2019-01-30 08:43] rudra-ak commented on #24329
I am going through this exact issue. I am docker & tf newbie and was looking forward to the docker image to just work. However, latest-*-jupyter does not show up, neither does docker hub shows that. How is one suppose to get this image? Is that image discontinued? If so could someone please update the documentation?

[2019-01-30 09:04] cottrell commented on #21927
It appears that was added in 4aef7dde40a3ffb1871d9a58aafec20711e7131f Nov 29 2018 which I think is more recently that 1.12 release. Probably means need 1.13 or something like this.

[2019-01-30 09:05] rudra-ak commented on #24329
The default installation [page](https://www.tensorflow.org/install/) however seems to say that one can get to Jupyter notebooks with normal installation as well `docker run -it -p 8888:8888 tensorflow/tensorflow  # Start a Jupyter notebook server.` I am guessing the notebooks have become default on all images and which would make the need for tag with latest label / tag unnecessary. But the docume

[2019-01-30 09:10] ViaFerrata commented on #1661
+1 to the need of Conv4D and higher dimensions.
Especially in fields other than traditional machine learning topics, like physics.

Here, the time dimension can often be treated the same as the spatial dimensions such that a Conv4D would be very useful. I know several people in particle physics that have actually switched to other ML frameworks like CNTK just because of the lack of 4D Convs.

[2019-01-30 09:31] noah003 commented on #18539
@Cpruce hi, have you convert MRCNN model to .tflite successfully?

[2019-01-30 09:34] yann-yy opened #25313 "FastParseExample hash collision"
**System information**
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below):  1.12.0
- Python version: 2.7
- Bazel version (if compiling from source): 0.19.2
- GCC/Compiler version (if compiling from source): GCC4.8.5

**Describe the current behavior**
build config index retry always failed.
code in `tensorflow/core/util/example_proto_fast_parsing.cc` fun

[2019-01-30 09:37] hadaev8 commented on #20619
Another problem with keras adam and ReduceLROnPlateau: it doesnt save current lr to checkpoint.

[2019-01-30 09:39] abhishek-niranjan commented on #14704
@mrry, I'd really appreciate if you can help me with a query along this. I have a dataset having the element of the form **(features, targets)** where the features is itself a dictionary, say `features={'input1': Tensor, 'input2': Tensor}` and **targets is a tensor object**. How should my padded_shapes argument look like?

Thanks.

[2019-01-30 10:25] praveen-dn opened #25314 "label_image segmentation issue for operator code 25 which is softmax"
When using the standard label_image to test the mobilenet tflite file in the default P OS android NN.
we are facing the segmentation issue for the softmax operation with the default command as specified in the readme.md.

We are using latest Android NN on P Os, for Arm64-v8a series soc.

The following is the crash snippet:
[code]

[2019-01-30 10:38] abhishek-niranjan commented on #14704
@mrry , [https://github.com/tensorflow/tensorflow/issues/21259](https://github.com/tensorflow/tensorflow/issues/21259) helped me figure this out. Thanks again.

[2019-01-30 11:07] ayush1999 opened #25315 "Error importing tensorflow."
I installed tensorflow using `python3 -m pip install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.12.0-py3-none-any.whl`, but importing tensorflow gives me:
[code]

Python: 3.7
Linux(Ubuntu), trying to install tensorflow for CPU.

[2019-01-30 11:12] nmoran commented on #25107
@jvishnuvardhan thanks for looking into this issue. The instructions you link to use the nvidia cuda packages on ubuntu which install the cuda libraries and headers to `/usr/local/cuda`. This issue concerns the debian cuda packages on debian systems which install the cuda libraries and headers to `/usr` which then lead to the above issue with the number of header files that the build process attem

[2019-01-30 11:18] abhajaswal opened #25316 "Tensorflow lite logs do not get enabled until any LOG(FATAL) command is not encountered"
Tensorflow version 1.13.0 rc0 and 1.12.0 cpu version(cuda disable) for Linux ubuntu 16.0

I am unable to generate any logs on console using toco tool of tensorflow.
_ use export TF_CPP_MIN_LOG_LEVEL=1  , the info logs do not start to appear on console.

Until I any error case while using toco is not hit in the source code i,e when LOG(FATAL)  is encountered then all debug logs appear on console.

[2019-01-30 12:07] hughsalimbeni commented on #25282
I have the same issue, using `pip install tf-nightly` with python 3.6.7 (Anaconda)

[2019-01-30 12:09] DavidNorman commented on #21488
i have the same issue.  how come pandas is not listed in the dependencies of the pip setup.py?

it is listed in the build environment dependencies in ci_build

[code]

[2019-01-30 12:09] DavidNorman commented on #21488
perhaps it was transitively pulled in by something else which TF depends upon, which has removed recently.

[2019-01-30 12:12] dmcbeing commented on #25282
Thanks for the guide, i had do change several things:
- You are using Ubuntu, i am using CentOS, so the packages are different. That said, given that the build is successful, i would guess i am not missing any dependencies.
- You seem to use version 1.5, wich is ~1 year old, i am trying 1.12, i am not really willing to try with such an old version as it will most likely break existing workloads/te

[2019-01-30 12:14] DavidNorman commented on #21488
Here is my backtrace.

[code]

this TF installation has been installed from the pip wheel generated by `bazel build --config=opt tensorflow/tools/pip_package:build_pip_package`

[2019-01-30 12:59] zolkiBy opened #25317 "Can't launch TF Detect Android sample with Yolov3-tiny model"
- OS Platform - Linux Ubuntu 16.04;
- Tools: Android Studio 3.3 (Android Studio 3.3 Build #AI-182.5107.16.33.5199772)
- Mobile device Huawei P20 lite, Android Emulator (Nexus 5X, API 28)
- use the TensorFlow from Jcenter
- TensorFlow android version 1.12.0
- Python version: Python 3.6.8

I converted Yolov3-tiny model (downloaded from https://pjreddie.com/darknet/yolo/) with [DW2TF](https://github.

[2019-01-30 13:12] nagarajk66 opened #25319 "CollectiveAllReduceStrategy"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-01-30 13:12] #25319 closed

[2019-01-30 13:22] Herlderlord opened #25320 "tf.data.Dataset error in documentation"
**System information**
- TensorFlow version: 1.12.0
- Doc Link: https://www.tensorflow.org/api_docs/python/tf/data/Dataset#zip

**Describe the documentation issue**
I have tested the code provided in the documentation. Here the code :

[code]

Here the error provided by the system:
[code]

I don't really understand what is Dataset and how it works, there's no explicit examples of its functionaliti

[2019-01-30 13:36] DavidNorman commented on #21488
ah ha - https://github.com/keras-team/keras-preprocessing/issues/154

[2019-01-30 13:37] dawgster commented on #22411
@NeuYangxiu
Indeed, I have checked the output of protoc --version command and it shoed version 2.6.1 used. However, since Ive modified the PATH variable to find my local installation of version 3.6.1 first and protoc --version returns 3.6.1 now and yet the same problem still persists. I'm using tensorflow 1.12

[2019-01-30 13:55] #21975 closed

[2019-01-30 14:31] albertz opened #25322 "ImportError: No module named 'pandas'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 14.04.5 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): pip/binary
- TensorFlow version (use command below)

[2019-01-30 14:41] muhammadmw commented on #22837
I am also getting the same problem in version 1.12.0

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-18-b9d746b1e27b> in <module>
----> 1 tf.keras.models.save_model('epic_num_reader.model')

TypeError: save_model() missing 1 required positional argument: 'filepath'

[2019-01-30 14:51] jhnnhgh commented on #22837
@muhammadmw I found that my problem was caused by subclassing Keras.Model. A model created by subclassing Keras.Model cannot be serialized by using the save_model function. I switched over to the Keras functional Api and I no longer have the problem.

[2019-01-30 15:19] rragundez commented on #25322
This was an issue in the `keras-preprocessing` package. It has been fixed. In the minor release 1.0.7

https://github.com/keras-team/keras-preprocessing/releases/tag/1.0.7

[2019-01-30 15:47] mrodozov opened #25323 "Fail to build from source with gcc 7.3.1"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS Linux release 7.5.1804

[2019-01-30 15:49] nxphi47 commented on #16875
Hello, any update for this? I use the nvidia-docker provided for Nvidia GPU Cloud docker image. It also has python3.5

My codes lots of f"string {variable}" literals, which only work on python 3.6 or more.
Is it possible to update the version of python without interfering existing packages like cuda or tensorflow-gpu?

Thanks

[2019-01-30 16:05] oplatek opened #25324 "Keras optimizer.adam is not usable with Eager Execution"
**System information**
- See the custom complete snippet below
- Linux Ubuntu 16.04
- TensorFlow installed via pip gpu version
- TensorFlow version v1.12.0-0-ga6d8ffae09 1.12.0
- Python version: 3.5.2
- CUDA/cuDNN version: 9.0.176 / 7.4.1
- GPU model and memory: GeForce GTX 1080  with 11178MiB

**Describe the current behavior**
If using `tf.enable_eager_execution()` the code expects non Keras opti

[2019-01-30 16:06] oplatek commented on #25324
Possible duplicate to https://github.com/tensorflow/tensorflow/issues/25066 I think the underlying cause may be the same but the symptoms are definitely different.

[2019-01-30 16:06] Kenvelo90 opened #25325 "Custom metric mix train and validation data"
**System information**

- Linux ubuntu, CPU
- installed packages using anaconda with python 3.6
- Tensorflow version v1.12.0-0-ga6d8ffae09 1.12.0
- Keras version  2.2.4

**Describe the current behavior**

When using a custom metric, the metric is computed on training data and validation data together.

**Describe the expected behavior**

The train metric should be on train data only and validation

[2019-01-30 16:13] korosig opened #25326 "Binary prediction with LSTM"
I'm trying to implement an LSTM model to make binary (or multiclass) classification from raw log data(Mooc courses log data -> user-level droput/grade prediction ). I have read lots of publication and tutorials which seems to be what I'm looking for, but couldn't find any example on how to use it.

Do you have a link or something about this topic? (RNN, ConvLSTM2D, LSTM, GRU on Keras or TF)

[2019-01-30 16:16] werner-rammer opened #25327 "Error when restoring model using an Embedding layer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.12.0

[2019-01-30 16:24] aaroey commented on #23853
Thanks for the repro @yegord, I'll try it and get back to you.

[2019-01-30 16:27] mihaimaruseac commented on #25323
This might be gcc's fault, not Tensorflow's.

[2019-01-30 16:38] tanzhenyu commented on #20619
@SooDevv Oh I see. Thanks for pointing it out. This has been fixed on 12/11/18, but it seems that it's not in the 1.12 release (which is on Nov). There are two options 1) use 1.13 rc which was released a week ago, 2) use tf nightly.

[2019-01-30 16:39] tanzhenyu commented on #20619
@hadaev8 I suspect if it's also because of 1.12 release -- can you try 1.13 or tf-nightly? In colab is should be just one-line -- !pip install tf-nightly, that should replace 1.12

[2019-01-30 16:55] zomeck commented on #25069
I run in the same issue when using XLA with the GeForce RTX 2080 TI. It is reproducible using example code from tensorflow. More concretely I tried running the follwing script: `tensorflow/examples/tutorials/mnist/mnist_softmax_xla.py`

Here is the console output when running with the 2080:
[code]

Here is the console output when running with a 1080:
[code]

[2019-01-30 16:58] gqoew commented on #22292
`tensorflow/tensorflow:nightly-gpu-py3` has Cuda 10.0 but Python 3.5.2.

How to get an image with Cuda 10.0 and Python >= 3.6?

[2019-01-30 17:00] jvishnuvardhan commented on #25272
@amm385 Could you post a code to reproduce the bug? Also, could you fill the fields in the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, It would be great if you can provide a small code to reproduce the error. Thanks!

[2019-01-30 17:02] devkicks commented on #23703
I was having the same issue in the main branch. @azaks2 solution worked simple need to import nccl_ops and call to **_maybe_load_nccl_ops_so()** solved it

[2019-01-30 17:06] jvishnuvardhan commented on #25107
@nmoran I followed instructions till git clean -xdf. After that I ran the following commands
sudo pip3 install numpy
sudo pip3 install --upgrade tensorflow-gpu

It worked for me. No issues. Thanks!

[2019-01-30 17:11] preethivenkatesh commented on #25213
@awaizman1 we are investigating the issue. But if you would like to get the installer without having to build one there is a conda package available on Anaconda.
"conda install tensorflow-mkl" is the command

[2019-01-30 17:23] jvishnuvardhan commented on #25282
@dmcbeing In my case I followed that approach till "git clean -xdf" command and then "sudo pip3 install numpy", "sudo pip3 install --upgrade tensorflow-gpu". I now have TF 1.12.

For Centos, there are lot of resources online. I found [this](https://nuxnix.wordpress.com/2018/04/11/setup-tensorflow-on-centos-7/) helpful. Thanks!

[2019-01-30 17:31] aselle commented on #25144
@gunan, is this related to the gcc problems you were mentioning to me yesterday?

[2019-01-30 17:35] aselle commented on #25044
I don't have any objection to a DepthToSpace op being included, but we have not yet prioritized it with the reset of the work. We would welcome contributions if you have time to contribute, but we will likely add it at some point.

[2019-01-30 17:44] aselle commented on #25259
A known bug in the RC0 is that it doesn't force the upgrade of estimator to the correct version. Can you try forcing an upgrade of tensorflow-estimator to 1.13.0rc0 i.e.

pip install --upgrade tensorflow==1.13.0rc0 tensorflow-estimator==1.13.0rc0

This matches more what we will be doing in the RC1.

[2019-01-30 17:58] mcourteaux commented on #25068
I'm afraid not. The complete model is quite large, and the setup required to run it is quite complex. Plus, I don't know if my employer would like me to throw this on the internet just yet. But the essentials are in my short piece of code in the question. I could try to set up an [MCVE](https://stackoverflow.com/help/mcve).

Can anyone shed some light on the feasibility or the plans for implementi

[2019-01-30 17:59] awaizman1 commented on #25213
Thanks!

I am aware of the Conda package but since our dev, CI and deployment environments are not using Conda (we use pip + venv) I can’t use it.

Is there another way I can get a .whl to install using pip?

Thanks.

[2019-01-30 18:04] tzattack commented on #5530
to make it clear, the right code in tf.slim to allow memory grow is:
[code]

[2019-01-30 18:05] jvishnuvardhan commented on #25275
@sundayxcn Could you provide more details on the context and the issue? Thanks!

[2019-01-30 18:09] jlebar commented on #25068
I am afraid I cannot say much more than what I wrote in https://github.com/tensorflow/tensorflow/issues/25068#issuecomment-457653556.

[2019-01-30 18:09] martinwicke commented on #25080
contrib.mixed_precison will be replaced by a solution better integrated into Keras. These optimizers haven't been updated for DistributionStrategy and given contrib won't exist in 2.0 they won't.

@reedwm @azaks2 FYI

[2019-01-30 18:09] #25080 closed

[2019-01-30 18:15] jvishnuvardhan commented on #25167
Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. Github is mainly for addressing bugs in installation and performance. Thanks!

[2019-01-30 18:16] ymodak commented on #25322
Since you are using python3, can you try,

And if the importing pandas error still persists, further you can try,

[2019-01-30 18:18] fchollet commented on #25322
This should be resolved at this time; try reinstalling TF from pip.

[2019-01-30 18:21] fchollet commented on #25322
Or just upgrade to the latest keras_preprocessing: `pip install keras_preprocessing --upgrade`.

[2019-01-30 18:21] #25322 closed

[2019-01-30 18:39] dmitrievanthony commented on #25165
Okay, @aselle, @case540 thanks for the explanation.

[2019-01-30 18:39] drasmuss opened #25329 "tensorflow-gpu 1.13.0rc0 requires minimum CUDA compute capability 6.0"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2019-01-30 18:43] tumusudheer commented on #25220
pinging @tensorflowbutler

It seems it is a bug in tensorflow. Can you please help me to resolve this issue ?

[2019-01-30 18:59] smohan10 opened #25331 "Unsupported Ops: RandomUniform, SoftmaxCrossEntropyWithLogits."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu
- TensorFlow installed from (source or binary): pip install
- TensorFlow version (or github SHA if from source): 1.13.0

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Traceback (most recent call las

[2019-01-30 19:09] omalleyt12 commented on #24555
Hi @larry0123du, this issue should be fixed in the latest nightly, I'm able to run the code successfully

[2019-01-30 19:09] #24555 closed

[2019-01-30 19:34] peidaqi opened #25333 "Eager execution - GradientTape.gradient() only returns gradient for last variable w.r.t. y?"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-01-30 19:36] preethivenkatesh commented on #25213
Right now, the only build that's available for windows is in Anaconda's main channel. We are working on the feature to distribute pip wheels which will be made available shortly. In the meantime, we are investigating the linker issue to be able to provide an alternative solution to compile.
QQ, Did you have to use the workaround provided to compile for 1.10 in cmake?