[2020-03-30 05:25] gadagashwini commented on #38003
@shanethomas1029, Did you try the @khimraj  and @Rubix982  solution.
As mentioned in the [Tenosrflow doc](https://www.tensorflow.org/api_docs/python/tf/keras/Sequential?version=nightly), use `tf.keras.Sequential `instead of `tf.layers.Sequential`. Thanks

[2020-03-30 05:26] Saduf2019 commented on #37971
@theadityasam
As there is a PR to monitor the issue, please confirm if we may move this to closed status.

[2020-03-30 05:28] Saduf2019 commented on #38012
@flydragon2018

could you please share exact sequence of steps before this issue occurred

[2020-03-30 05:29] Saduf2019 commented on #37984
@mhmedeng,
moving this issue to closed status as its resolved

[2020-03-30 05:29] #37984 closed

[2020-03-30 05:39] fzyzcjy commented on #35226
Same here...

[2020-03-30 05:40] gadagashwini commented on #37200
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-30 05:40] #37200 closed

[2020-03-30 05:44] gadagashwini commented on #38013
@sathwikreddy56, Please provide the tensorflow version. From the error trace, it looks like you are trying to install Tensorflow-gpu version, if yes, Please provide the details about the CUDA and cuDNN version. Thanks!

[2020-03-30 05:46] RomitGandhi07 commented on #37613
Sorry for the delayed response, no model is not crashing in the device, I have tested the .pb file in google colab it is perfectly detecting the object (Means gives perfect probability value), so after that, I convert that into .lite file but when I use it in the android app it isn't detecting the object.

[2020-03-30 05:49] gadagashwini commented on #38018
@MaUt89, Thanks for reporting this issue, Can you provide the complete code to replicate the reported issue Thanks!

[2020-03-30 05:50] ravikyram commented on #38022
@SwagJ

I have tried in colab with TF 2.1.0 and i am not seeing any issue.Please, find the gist https://colab.sandbox.google.com/gist/ravikyram/aaef581f4b793f373160dfe3f8446930/untitled751.ipynb. Thanks!

[2020-03-30 05:54] fzyzcjy commented on #27861
Also think that the behavior is not intended... For instance, many *learning rate schedulers* will look at the *epoch* number to adjust the learning rate. So when continuing from a checkpoint, the learning rate will be completely wrong...

[2020-03-30 05:58] anilsathyan7 commented on #37871
What does this error mean: argminmax_8_d32 out too small?
Is there any way by which i can make it work, like changing shape, operator type etc?

[2020-03-30 06:17] ravikyram commented on #37993
@abpalaciot

Can you please provide colab link or simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-03-30 06:17] yuto3o opened #38032 "When I replace fit_generator with fit, behavior is inconsistent."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  Yes
- OS Plat

[2020-03-30 06:19] ravikyram commented on #37513
@ben-arnao

Any update on this issue please. Thanks!

[2020-03-30 06:20] ravikyram commented on #36332
@OmerLiberman

Any update on this issue please. Thanks!

[2020-03-30 06:22] nemo42 opened #38033 "tflite_runtime pip package compiled from source does not run"
**System information**
- OS Platform and Distribution:
Ubuntu 18.04 running in Windows 10 WSL
- TensorFlow installed from:
Binary, however the tflite_runtime installed from source.
- TensorFlow version:  2.1.0
- Python version: 3.6
 - GCC/Compiler version: 7.4.0

**Describe the current behavior**
Compiled the tflite_runtime from master using:
`./tensorflow/lite/tools/pip_package/build_pip_package.

[2020-03-30 06:26] sebastianfast commented on #34888
Thank you, it fixed it for me as well

[2020-03-30 06:27] HLearning commented on #37608
thanks, solved

[2020-03-30 06:27] #37608 closed

[2020-03-30 06:31] gadagashwini commented on #37193
@MikhailMashukov, `Any update

[2020-03-30 06:34] gadagashwini commented on #37769
@alokmp83,Please update for the above comment.

[2020-03-30 06:36] gadagashwini commented on #37847
@abdou31, Can you provide the modified code snippet to find the root cause. Thanks

[2020-03-30 06:39] gadagashwini commented on #37869
@xav12358, as @mihaimaruseac mentioned that message is just an information log its not an error. Can we close this issue. Thanks

[2020-03-30 06:41] timpitman commented on #35754
I'd also like to see Mac support for TensorFlow 2.1 - I've filed https://github.com/ContinuumIO/anaconda-issues/issues/11697 since this issue has been closed.

[2020-03-30 06:41] amahendrakar commented on #29624
@marwan116,
Seems like the issue still persists with TF 1.15.2. Please find the gist [here](https://colab.research.google.com/gist/amahendrakar/a338353b2125128441160f36acd0cd49/29624-1-15.ipynb). Thanks!

[2020-03-30 06:43] byronyi commented on #35754
There is no CUDA support for macOS anyway, so why don't you guys simply do `pip3 install tensorflow==2.1.0`?

[2020-03-30 06:47] gadagashwini commented on #37957
@tiantaohuawei, It would be hard to find the root cause of the issue without the standalone code. Thanks!

[2020-03-30 06:50] vnvo2409 opened #38034 "Build failed on Windows with -c dbg"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow instal

[2020-03-30 06:53] teijeong commented on #38033
Hi nemo42,

I'm working on this -- meanwhile, would you try changing following code pieces?

on `tensorflow/lite/tools/pip_package/setup.py`
[code]

on `tensorflow/lite/tools/pip_package/setup.py`
[code]

[2020-03-30 06:57] gadagashwini commented on #38008
@sundowatch, Provide the Tensorflow version that you are using. Thanks

[2020-03-30 07:06] pandrey-fr commented on #37278
@tanzhenyu I believe the aim is option 2: letting both layers use the same set of weights (otherwise the framework already allows that, _e.g._ using `get_weights` / `set_weights`), as is done in some modern architectures (_e.g._ ALBERT with transformer layers). I suppose weights update would rely on averaging the gradients computed at each layer's level? From my experience, this is already workabl

[2020-03-30 07:12] amahendrakar commented on #37717
Any updates regarding this issue? Thanks!

[2020-03-30 07:12] ravikyram commented on #37407
Closing the issue since its resolved. Thanks!

[2020-03-30 07:12] #37407 closed

[2020-03-30 07:13] amahendrakar commented on #37723
@dvbuntu,
Please feel free to close the issue if resolved. Thanks!

[2020-03-30 07:25] amahendrakar commented on #37727
Was able to reproduce the issue with [TF v2.1](https://colab.research.google.com/gist/amahendrakar/393b1d62ef3db6dede9e491813bc6326/37727.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/d50d8540251b226a65c5c4c35462c6e6/tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-03-30 07:26] sundowatch commented on #38008
@gadagashwini thanks for your response.
I'm using `tensorflow-gpu 1.13.2` . I've tried on `tensorflow-gpu 2.1`, I'm getting the same error.
In addition to these, I've exported the model from Google AutoML Container.

[2020-03-30 07:31] nemo42 commented on #38033
Hi teijeong,

Applying the patches above seems to have solved the issue, thanks!

[2020-03-30 07:38] ravikyram commented on #37969
@akanyaani

I tried to reproduce the issue but i am seeing the below error message `NameError: name 'train_func' is not defined`.Please, share colab link or simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-03-30 07:43] Oktai15 commented on #30229
Thanks!

[2020-03-30 07:43] #30229 closed

[2020-03-30 07:44] amahendrakar commented on #37740
@JonasRSV,
I was able to run the above code without any issues with TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/35581a7e1aacee4bca5070e141f653ea/37740-tf-nightly.ipynb). Thanks!

[2020-03-30 07:44] ravikyram commented on #38033
@nemo42

 Please close this thread if it solves your question. Thanks!

[2020-03-30 07:45] teijeong commented on #38033
Good to hear that! Closing this.

[2020-03-30 07:47] teijeong commented on #38033
Actually this change is not applied to the repo yet, please wait to close this issue until the change makes its way to the code.

[2020-03-30 07:48] teijeong commented on #37639
reference to the interpreter_wrapper.i has removed, but other issue is still blocking normal execution of tflite_runtime pip package.
https://github.com/tensorflow/tensorflow/issues/38033

[2020-03-30 07:49] timzatko commented on #37301
Hi, I was able to convert the model by whitelisting that operator. There's a docker image of TensorFlow with my fix above, you can use it to convert a model.

I also tried to do inference in my app (it's a Unity app based on this example https://github.com/asus4/tf-lite-unity-sample/tree/master/Assets/Samples/SSD), however, it does not work for some reason (I don't remember why). Maybe I did a con

[2020-03-30 07:52] tanzhenyu commented on #37278
I see. In that case, what we would recommend is the same way you would share any other python objects, and yes 1) either re-calling a single layer instance, or 2) create a customized layer that does both things, for example [SubwordEncoder](https://www.tensorflow.org/datasets/api_docs/python/tfds/features/text/SubwordTextEncoder) would use the table for both encode and decode.

[2020-03-30 07:55] speciallan commented on #26696
I have met the same problem no solved

[2020-03-30 07:57] thran commented on #37301
@timzatko Thx, I'm heading similar direction. Can I ask which model are you using?

[2020-03-30 08:00] amahendrakar commented on #37748
@khaled-besrour,
I see that you have mentioned the cuDNN version as 7.5. As per the official TensorFlow [software requirements](https://www.tensorflow.org/install/gpu#software_requirements) you need cuDNN SDK (>= 7.6).

Could you please try upgrading the cuDNN version to 7.6 or above and let us know if it works? Thanks!

[2020-03-30 08:14] Saduf2019 commented on #37823
@heartraeh
please update as per above comment

[2020-03-30 08:14] khaled-besrour commented on #37748
it's just a mistake i have a cuDNN 7.6 and a compute compatibility of 7.5.

but as said i resolve the problem by moving python it's not a DLL error, but python a script problem when the python path have space.

`system("C:/Program Files/Python37/python.exe script.py cuda cudnn")`

it said that `C:/Program` is not executable, i think it come from bazel

[2020-03-30 08:21] jwlawson commented on #37988
I guess my ticket wasn't clear. I know that this works when you remove the `tf.function` annotation, however I would expect it to work fine inside a `tf.function` as well.

In TF 2.1 you could use `Model.train_on_batch` inside a `tf.function`. Are you saying that this crash is now expected behaviour?

If the crash is now expected behaviour then it is a breaking change and should be documented (and

[2020-03-30 08:42] sathwikreddy56 commented on #38013
10.1.263 (cuda)
7.6 (cudnn)

On Mon, Mar 30, 2020 at 11:15 AM gadagashwini <notifications@github.com>
wrote:

[2020-03-30 08:43] karimmohraz commented on #34689
My use case is:
- take a pretrained keras network (e.g. https://tfhub.dev/tensorflow/bert_multi_cased_L-12_H-768_A-12/1)
- add a classification layer on top for transfer learning
- use scikitlearn GridsearchCV for hyperparameter tuning

We discarded the keras scikit wrapper as we also use multihead output and a custom scorer which requires too much monkey patching.
A much simpler solution is to wr

[2020-03-30 09:09] smr97 commented on #24428
@buracagyang , I got no help on this, so I decided to use a hook I found somewhere on SO (it has been a while, I don't remember who posted it originally). The error seems to be valid, there is indeed some issue with updating the run tag in eval mode. Anyway, the custom hook worked and produced the traces during training and eval both. Here is the code for the hook:

[code]
Then you need to plug th

[2020-03-30 09:11] MikhailMashukov commented on #37193
No, I will write here if I have what to write

[2020-03-30 09:16] vnvo2409 commented on #38034
https://github.com/grpc/grpc/blob/e1ff06310ce8a2ec3c90b9d71e12f3818566b18f/src/compiler/python_generator_helpers.h#L145

I fixed it. The problem comes from that line because when `current == s.end()`. the line `current = next + 1` throw a error in debug level. The temporary way to fix it is to change it to
[code]

[2020-03-30 09:16] #38034 closed

[2020-03-30 09:16] izhangzhihao opened #38035 "Couldn't match files for checkpoint"
Tensorflow can't load weight from a folder with a `+` symbol such as `a+b`, but if I simply change the folder name to `a`, it works well. See the [notebook](https://colab.research.google.com/drive/1CrWIySL6kofS7CEJgN72l8yrpgohIavJ) to reproduce this issue yourself.

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): no
- OS Plat

[2020-03-30 09:21] teijeong commented on #38033
Fixed by https://github.com/tensorflow/tensorflow/commit/6a701314351845ecbc6641ecd2f68e21b582c3f8

[2020-03-30 09:21] #38033 closed

[2020-03-30 09:22] #37639 closed

[2020-03-30 09:30] tanzhenyu commented on #28976
Unfortunately, model_to_estimator wouldn't be able to infer input names for Sequential models.
I think you can make it work by:
[code]

[2020-03-30 09:30] tanzhenyu commented on #28976
FWIW, please check https://github.com/tensorflow/community/pull/188

[2020-03-30 09:31] #28976 closed

[2020-03-30 09:33] tanzhenyu commented on #31086
You can do this through:
embedding_layer = tf.keras.layers.Embedding(...)
embedding_layer.set_weights(pretrained_ embeddings)

[2020-03-30 09:33] #31086 closed

[2020-03-30 09:34] taoja12 commented on #37892
@amahendrakar    https://pan.baidu.com/s/1UyqLfwA6TkUWXcB-69HupA    retrieve password: u6ay

[2020-03-30 09:40] loffermann commented on #31537
The import statement proposed by @rmothukuru does not work for me anymore. I am using the following instead:
`from tensorflow.python.keras.layers.convolutional_recurrent import ConvLSTM2DCell`

[2020-03-30 09:47] sirius0503 opened #38036 "java.lang.IllegalArgumentException: Internal error: Failed to apply delegate: Attempting to use a delegate that only supports static-sized tensors with a graph that has dynamic-sized tensors"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platf

[2020-03-30 10:01] typhoonzero commented on #28976
Using the Keras functional API to define a model and calling `tf.keras.Input` to define inputs seems works, so I rewrite my model using functional API to solve it.

[2020-03-30 10:02] Saduf2019 commented on #21881
@Coderx7
Please confirm if we may move this to closed status

[2020-03-30 10:04] timzatko commented on #37301
**ssd_mobilenet_v1_coco** (http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v1_coco_2018_01_28.tar.gz)
from tensorflow model zoo https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md

Here is the tutorial how to train it on GCP https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_pets.md

[2020-03-30 10:05] garethjscoleman opened #38037 "Unable to cross compile TFLite for Raspberry Pi Zero using Docker image nightly-develop"
**System information**
- OS Platform and Distribution:  Linux Mint 19:03 (based on Ubuntu 18:04)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A ?  Attempting to crosscompile tensorflowlite for Raspbery Pi Zero (Armv6)
- TensorFlow installed from (source or binary): nightly-develop  docker image
- TensorFlow version: 2.2
- Python version: 2.7
- I

[2020-03-30 10:15] #31323 closed

[2020-03-30 10:18] tanzhenyu commented on #31287
You can simply initialize the optimizer with the right learning_rate. This seems a niche case to support. Closing it for now.

[2020-03-30 10:18] #31287 closed

[2020-03-30 10:23] arshomashohag commented on #34607
@svensevenslow Thanks man, it's solved my issue.

[2020-03-30 10:25] SwagJ commented on #38022
Colab Works fine. It's not working locally with my PC setup. I setup locally with the correct version match of cuda and cudnn. Why it is not working?

[2020-03-30 10:28] Saduf2019 commented on #37975
i am able to replicate the issue, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/682a5774dd443e218ffbe86574dcdcd1/37975.ipynb)

[2020-03-30 10:35] amahendrakar commented on #37821
Any updates regarding this issue? Thanks!

[2020-03-30 10:40] Coderx7 commented on #21881
it might be a good idea to run it again and make it clear what the underlying issue was and if it still persists. As ppwwyyxx said, using tensorpack, we achieved great speed, however, the example from the official tensorflow repository was extremely slow.
Which operations/api calls made it that slow is not yet apparent.
we didnt solve the original issue, since we didnt use the very same ops/api ca

[2020-03-30 10:40] tanzhenyu commented on #31514
@DavidS3141 @WindQAQ   Sorry for the delay! The link is outdated: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/layers/convolutional.py#L1700-L1705

Do you have a new link to what it means by "Seems that this is not a valid argument combination, but TF does not try to raise the assertion or print some warning message"?

[2020-03-30 10:42] renatomello opened #38038 "Custom Metrics and Losses: AttributeError: 'Tensor' object has no attribute 'numpy' raised during training"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platform and Distribution: Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device:  No
- TensorFlow installed from (source or
binary): pip
- TensorFlow version (use command below): 2.1.0
- Python version: - Baze

[2020-03-30 10:46] svobora commented on #31287
_You can simply initialize the optimizer with the right learning_rate._

Really? But maybe I should be aware first that save function called on an object doesn't save anything to know that I have to set it manually. The issue is in unexpected behavior of the Saver, which depends on background creation of some other object no user knows about. Like the @allenlavoie  said, either create on assignmen

[2020-03-30 10:49] svobora commented on #31287
What I ended up doing is calling a getter on the object, which as opposed to setter, actually creates the Variable.

`_ = optimizer.learning_rate`

[2020-03-30 11:09] #37727 closed

[2020-03-30 11:23] gadagashwini commented on #34519
@SSSxCCC, Seems to be fixed in TF-gpu==2.2.rc1. Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/9827e15c992a573346829d512197d275/untitled480.ipynb). Thanks

[2020-03-30 11:25] ialdencoots commented on #37227
Any updates regarding this issue?

[2020-03-30 11:34] attendfov commented on #37676
Here is my test code. The run_forward_noloss function is a simple forward calculation function. Run_forward_withloss is forward calculation +loss calculation.
[code]

[2020-03-30 11:35] amahendrakar commented on #37848
@imandhillon,
Could you please check @mihaimaruseac's comment and let know if you're still facing the same issue? Thanks!

[2020-03-30 11:41] theadityasam commented on #37971
Don't think it's right to close the issue until the PR is merged

[2020-03-30 11:41] j-pb commented on #33374
@mihaimaruseac
Any hopes for a Mac release?

[2020-03-30 11:53] dauras opened #38039 "flatbuffer.shape() might return nullptr"
For certain tensors (e.g. multiply with a scalar (constant) tensor, such as 1/6 at the output of hard sigmoid), the shape attribute might be None/undefined and hence, flatbuffer.shape() returns a nullptr.

In this code
https://github.com/tensorflow/tensorflow/blob/59c06b9016700dbf1ab0cefc062d247345cdd0f0/tensorflow/lite/micro/memory_helpers.cc#L82
this nullptr is dereferenced unconditionally.

[2020-03-30 12:10] amahendrakar commented on #37973
@hepbc,
Is this still an issue? Please feel free to close the issue if resolved. Thanks!

[2020-03-30 12:12] tnfru commented on #27519
This problem still persists for me. I am not using a the @tf.function annotation and executing eagerly. The workaround I am using now is np.array(yourtensor.to_list())

[2020-03-30 12:18] maxkaustav commented on #38038
convert x,y to tensors before training
use `x,y=tf.convert_to_tensor(x),tf.convert_to_tensor(y)`

[2020-03-30 12:21] buracagyang commented on #24428
@smr97

[2020-03-30 12:24] ongun-kanat opened #38041 "Using SavedModels with low-level API in TF 2.x"
I am not exactly sure whether this is a bug but it seems so

**System information**
* I have custom code
* OS: Windows
* Tensorflow 2.1.0, Conda MKL version
* Python 3.7

**Describe the current behavior**
I am developing a system that uses Tensorflow SavedModel format to serve models in a custom embedded environment. So I want to create a basic computational graph and move on from there to test my

[2020-03-30 12:29] sundowatch commented on #38008
@gadagashwini thanks for your response.
I'm using tensorflow-gpu 1.13.2 . I've tried on tensorflow-gpu 2.1, I'm getting the same error.
In addition to these, I've exported the model from Google AutoML Container.

[2020-03-30 12:30] renatomello commented on #27519
This is what I get
 `AttributeError: 'Tensor' object has no attribute 'to_list'`

[2020-03-30 12:31] marcoadurno opened #38042 "saved_model_cli broken on 2.2rc"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): no
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): all platforms (Linux, Win, MacOS)
- TensorFlow installed from binary
- TensorFlow version == 2.2rc[012]
- Python version: 3.6

Hi,

`saved_model_cli` appears to be broken on all platforms and all versions, except for

[2020-03-30 12:32] renatomello commented on #38038
Same error occurs in when calling `model.compile`

[2020-03-30 12:32] buracagyang commented on #24428
@smr97
Hi, I've tried the method you gave in the code, and it works! Thank you very much!

[2020-03-30 12:33] asquare92 commented on #38002
TF = 2.0.0
Python = 3.7.6
CUDA = 10.1.243
cuDNN = 7.6.4.38

I am also having the somewhat same problem as @cranedroesch, but my input-size is not variable.
I am using a custom training loop with GradientTape to train the model. Everything is working as expected but instead of retracing. A new graph is built on every new training step and that leads to memory leak and my CPU's RAM is accumulating m

[2020-03-30 12:39] EduardoDixo opened #38043 "TextVectorizationLayer supporting custom padding token"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): v2.2.0-rc2
- Are you willing to contribute it (Yes/No): Ye

[2020-03-30 12:45] bjtho08 commented on #37990
This change also breaks several callbacks that rely on being able to read the `metrics `and `metrics_names` with the `on_train_begin()` hook. In my case, it breaks the [TensorFlow Addons](https://github.com/tensorflow/addons) `tqdm_progress_bar` [callback](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/callbacks/tqdm_progress_bar.py). Any idea as to how I can implement a work-a

[2020-03-30 12:45] amahendrakar commented on #38032
@yuto3o,
I was able to reproduce the error with [TF v2.0](https://colab.research.google.com/gist/amahendrakar/6845d9d75de52e4bcfd057cdbb930cf3/38032.ipynb). However, the issue seems to be fixed in the latest [TF-nightly](https://colab.research.google.com/gist/amahendrakar/7c1cbc3d1cc01db03b77e2712e77d6dc/38032-tf-nightly.ipynb) version, I was able to run the code without any issues. Please find th

[2020-03-30 12:48] fzyzcjy commented on #32672
Same here. For a resnet-like architecture, saving using the `tf` format will lead to about 45 seconds...

[2020-03-30 12:52] ravikyram commented on #38042
In order to expedite the trouble-shooting process, please provide colab link or minimal standalone code to reproduce the issue reported here. Thanks!

[2020-03-30 12:56] DavidS3141 commented on #31514
It is said here:
https://www.tensorflow.org/api_docs/python/tf/keras/layers/Conv2D
under the argument description for dilation rate!

[2020-03-30 13:05] evrial commented on #33374
Is this production ready? I can't say so! Then why closing the issue? Are you guys done? Do you have the specific date of final? Stop wasting our time please, py38 is over a year here. For anyone else: please shut up and stop derailing the issue until it's over.

[2020-03-30 13:05] reesehyde-dst commented on #38023
Hi @Saduf2019 is the code sample in the original post sufficient? Copied below:

[code]

[2020-03-30 13:19] yuto3o commented on #38032
Thank you. However, the issue seems to be fixed in TF v2.1.0

[2020-03-30 13:19] #38032 closed

[2020-03-30 13:21] tanzhenyu commented on #31287
This is only a workaround, b/c there are quite some other hyper parameters. I'm not sure what your use case is, why would you use an optimizer without minimizing anything?
On the other hand, we're moving forward with having Adam(var_list) or something like that, which should be able to fix this problem

[2020-03-30 13:30] Flamefire commented on #37693
No, the 1080s are 3/host and the K80 are 4/host (well 2/host but each has 2 GPUs), see `cudaDev 0 - cudaDev 3` in the output above.

Done on the 1080s currently can't get hold of the K80s but can report once done:
[tfnccl.log](https://github.com/tensorflow/tensorflow/files/4403082/tfnccl.log)

[2020-03-30 13:38] Lillypucien commented on #37895
The issue was indeed not yet in 2.2.0-rc1, but is still present in the latest tf-nightly as shown by @jvishnuvardhan

[2020-03-30 13:42] Ljl-Jdsk opened #38044 "Distributed tensorflow：Does every worker also have all tf.Variable parameters?"
Execute the following code on the two workers, and the printed values are different, indicating that each worker has parameters, so is ps sever only used to update parameters?
How should the parameters of the PS server be stored in the specified GPU?
# task0: 140340378338864 140340378339144 140340378449344
# task1: 140099479135792 140099479136072 140099479246272

worker_device = "/job:worker/task:

[2020-03-30 13:51] Saduf2019 commented on #38038
@renatomello
please refer to these link and let us know if it helps
[link-1](https://stackoverflow.com/questions/52357542/attributeerror-tensor-object-has-no-attribute-numpy) link-2

[2020-03-30 13:51] svobora commented on #31287
_why would you use an optimizer without minimizing anything?_

How did you infer that I do not minimize anything? I posted a toy example to reproduce the issue, not my company's code, which was affected and I had to find the issue and fix it.

_On the other hand, we're moving forward with having Adam(var_list) or something like that, which should be able to fix this problem_

Great! Hopefully thin

[2020-03-30 13:56] seemakumar8 commented on #37967
Hi,

After looking at the code, I realised the operations SHAPE, GATHER, REDUCE_PROD are not supported on Tensorflow Lite micro yet and is available only on Tensorflow Lite.

Is there any alternative to run LSTM inference on Microcontrollers?

Regards,
Seema

[2020-03-30 13:56] cadobe commented on #8220
This way works!

[2020-03-30 13:59] amahendrakar commented on #37978
@ljafari,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the TensorFlow version you are using. Thanks!

[2020-03-30 14:07] MarkDaoust commented on #38011
@ManishAradwad , thanks for your help.

Yes.

One other trick we have on tensorflow/docs is this [nbfmt.py](https://github.com/tensorflow/docs/blob/master/tools/nbfmt.py), which you can use to standardize notebook formatting for situations like this.

But it only helps if the repository is already solling that standard.
And viewing the github diff directly will never work if there are inline image

[2020-03-30 14:07] #38011 closed

[2020-03-30 14:12] fabian57fabian opened #38045 "Unable to set top_k"
I downloaded this example file in order to execute detection using tensorflow lite as described in the [Coral edgetpu example](https://coral.ai/docs/edgetpu/tflite-python/#load-tensorflow-lite-and-run-an-inference).
I executed on a lots of image and i get **ALWAYS 10 detections** even if i lower the threshold to 0.
I want to upper this limit (during my research i found something like a top_k varia

[2020-03-30 14:15] marfox commented on #34697
Hi everyone,
I'm trying to switch from standalone `keras` to `tensorflow.keras` as per the recommendation at https://keras.io/.
I'm hitting the same exception as https://github.com/tensorflow/tensorflow/issues/34697#issuecomment-575705599 with `joblib` (which uses `pickle` under the hood).

**System information:**
- Debian 10 (buster)
- Python 3.7.6
- joblib 0.14.1
- tensorflow 2.1.0

**Script to

[2020-03-30 14:16] MarkDaoust commented on #38005
Thanks for fixing this @abhinavsp0730.

(Reviewing/merging/email-notifications may have been a bit simpler if you had stacked the commits into a single PR, but NBD)

I meant for it to be a link to the commit, but apparently that doesn't work across repositories.

https://github.com/tensorflow/examples/commit/036117caae91ede4783cb0797273128d203e56aa

[2020-03-30 14:16] #38005 closed

[2020-03-30 14:19] MarkDaoust commented on #38015
All of these should work in TensorFlow 2 as well. If anything specific doesn't let us know and we'll help get it working.

[2020-03-30 14:19] #38015 closed

[2020-03-30 14:26] amahendrakar commented on #38004
@FirefoxMetzger,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the TensorFlow version you are using. Thanks!

[2020-03-30 14:27] sujoyrc commented on #29360
When do you think this will be included in tensorflow / TFLite release ? Is there a targeted timeline ? We are planning to do an internal development if this is not expected within this year (2020) based on this.

[2020-03-30 14:30] marcoadurno commented on #38042
Hi @ravikyram,

You can reproduce the issue by simply installing tensorflow and calling `saved_model_cli -h` to print its usage.

Using 2.2rc0 on Linux:
[code]
yields:
[code]

Using 2.2rc1 or rc2 on any platform, or rc0 on MacOS or Windows:
[code]
yields:
[code]

[2020-03-30 14:33] LaurensHagendoorn commented on #34907
**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.2.0rc

[2020-03-30 14:33] cnaseeb commented on #36358
Make sure you are using acc instead of accuracy. And otherwise, at least be consistent. Check your version of the tensorflow and use the corresponding term accordingly. It worked for me in that way.

[2020-03-30 14:41] sbrl commented on #26144
How does this affect of Tensorflow.js?

[2020-03-30 14:42] sbrl commented on #26844
How does this affect Tensorflow.js?

[2020-03-30 14:43] #37782 closed

[2020-03-30 14:44] renatomello commented on #38038
The most voted answer talks about enabling eager execution. I'm using TF 2.1.0, so Eager Execution is enabled by default.
`tf.executing_eagerly()`
`>>> True`

[2020-03-30 14:44] #37723 closed

[2020-03-30 14:47] sliawatimena commented on #36111
I copied
C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.2\bin\cudart64_102.dll
into cudart64_101.dll
So I have both (that actually the same file with different names).

It solved my problem.

[2020-03-30 14:52] MarkDaoust commented on #37607
I'm going to have to add the snap-shot for TF2.1 when TF2.2 goes up. 'll take a look then.

[2020-03-30 15:05] MarkDaoust commented on #37934
b/152751643

[2020-03-30 15:41] DocDriven commented on #33341
@jaeyoo Do you have any updates regarding the implementation? There seems to be some work in progress for the related issue #34277 [here](https://github.com/orgs/tensorflow/projects/8#card-32750656), but not for the actual implementation.

If you have any experimental implementation for testing, please let me know.

[2020-03-30 16:00] lolpa1n opened #38047 "Launch tensorboard in colab"
i try launch tensorboard on colab, my code:

[code]
two days ago everything worked, but now such an error:

[error](http://puu.sh/FqU8i/62b7eec918.jpg)

[2020-03-30 16:02] drakkan commented on #34742
@mihaimaruseac I don't have access to a jetson xavier anymore but I'm getting a very similar issue on my laptop (x86_64). I'm using tensorflow and Qt from Arch Linux repo, here are my versions:

[code]

[code]

and here a minimal reproducer

[TFQtReproducer.zip](https://github.com/tensorflow/tensorflow/files/4403925/TFQtReproducer.zip)

please compile it using:

[code]

if I try to run it I get th

[2020-03-30 16:08] prevosta commented on #28337
@ymsaputra Efficiency apart, the Ubuntu 18.04 seems to reach a limit around ~50 sessions. Raising DefaultTasksMax=infinity inside /etc/systemd/user.conf & system.conf worked for me. Note that I don't know what kind of side effect that could cause.

[2020-03-30 16:08] lamberta commented on #37934
Thanks. We'll fix the button since that page was out of date.

[2020-03-30 16:09] Byambaa0325 commented on #37996
I created a pull request for the examples I added at here [#38048](https://github.com/tensorflow/tensorflow/pull/38048)

[2020-03-30 16:10] allenlavoie commented on #26814
@LatinAmericanProgramer if `summary` is from a Keras Model, I'd use the Keras save/load wrappers (`tf.keras.Model.save(..., save_format='tf')`, `tf.keras.load_model`). That will revive Models as Models rather than just an object with traced `tf.function`s. Otherwise pure Python methods are not saved with the SavedModel.

[2020-03-30 16:10] robfreund commented on #35934
@ymodak What is recommended path forward on this. I have similar issue when using >2.0 tensorflow.
[code]
When I downgrade to 2.0 this works fine.

[2020-03-30 16:10] mehdirezaie commented on #9829
`conda install nomkl` worked on my computer (iMac, Tensorflow 2.0 which was installed with `conda install -c anaconda tensorflow`)

[2020-03-30 16:13] mihaimaruseac commented on #34607
Can we close this then, since it is solved and it is actually a flask issue?

[2020-03-30 16:14] j-pb commented on #33374
@mihaimaruseac Aight! Thanks for the heads up :)

[2020-03-30 16:20] mihaimaruseac commented on #34742
I will try to prioritize this in the next quarter. Thank you for the reproduction instructions

[2020-03-30 16:29] draxdave commented on #25227
Are you kidding me?? Why this issue is closed while there is no solution yet?

I spent days to learn Python lang to be able to work with TF. Then I followed instructions on installing and running TFv2.0 explain [here](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/installation.md). After facing lots of unexpected issues trying to install TF(illegal instruction and

[2020-03-30 16:34] alanchiao commented on #29360
@sujoyrc : could you go to this issue and ask the same question? The assignee should communicate where things are.

https://github.com/tensorflow/model-optimization/issues/173

If there's not much of a response, feel free to ping me in this thread.

[2020-03-30 16:37] Rubix982 commented on #37971
@theadityasam PR successfully merged at https://github.com/tensorflow/docs/pull/1517 . This issue can be closed now.

[2020-03-30 16:38] mihaimaruseac commented on #38013
Closing as duplicate.

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-03-30 16:38] #38013 closed

[2020-03-30 16:39] mihaimaruseac commented on #37957
Please fill in issue template (close this and reopen a new one if that is easier, tag me in it).

Also, please use ` ``` ` around code blocks to make them easier to read. We prioritize issues based on the readability of their description and the presence of a reproducer too

[2020-03-30 16:40] mihaimaruseac commented on #38014
Closing as duplicate.

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-03-30 16:40] #38014 closed

[2020-03-30 16:43] theadityasam commented on #37971
Thanks

[2020-03-30 16:44] #37971 closed

[2020-03-30 16:54] amahendrakar commented on #37991
@nmatare,
I tried reproducing the issue but I'm facing an error stating `ValueError: Tensor("loss:0", shape=(), dtype=string) must be from the same graph as Tensor("loss:0", shape=(), dtype=string).`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/45c538419ae13eda80171f54d5a7d071/37991.ipynb).

Could you please confirm if this is the error you are expecting?

[2020-03-30 16:55] gowthamkpr commented on #33182
Have tried it in my local(ubuntu 18.02) and also on colab with tensorflow 2.2.0-rc2 and I didn't run into any issue. I am closing this issue right now. Please add additional comments for us to open this issue again. Thanks!

[2020-03-30 16:59] gowthamkpr commented on #35932
Yes I tested it as mentioned in the above comment and it is working now. Thanks for sharing @hepbc

[2020-03-30 17:00] cfrancesco commented on #33150
Same issue here, unable to properly load checkpoints without calling a tf.function function before loading the checkpoint.

[2020-03-30 17:02] drasmuss commented on #33182
When I run the same gist from above (https://github.com/tensorflow/tensorflow/issues/33182#issuecomment-540553089), switching to TF2.2rc2, I still see exactly the same error.

[2020-03-30 17:04] gowthamkpr commented on #36801
Closing this issue as it has been inactive for more than 4 weeks . Please add additional comments and we can open this issue again. Thanks!

[2020-03-30 17:04] #36801 closed

[2020-03-30 17:05] gowthamkpr commented on #37173
Closing this issue as it has been inactive for 4 weeks. Please add additional comments for us to open this issue again. Thanks!

[2020-03-30 17:05] #37173 closed

[2020-03-30 17:06] gowthamkpr commented on #37283
Closing this issue as it has been inactive for more than 3 weeks. Please add additional comments for us to open this issue again. Thanks!

[2020-03-30 17:06] #37283 closed

[2020-03-30 17:13] nmatare commented on #37991
Yup, I can confirm that this is the same underlying error. The tensors have apparently been placed onto two distinct graphs.

[2020-03-30 17:19] mulka commented on #34607
@mihaimaruseac I've seen several people mention that it also affects the Django reloader. I'm wondering if there's a way to modify TensorFlow so that both the Flask and Django reloaders will work with it.

[2020-03-30 17:19] gowthamkpr commented on #36332
Tried to reproduce this issue using tensorflow 2.2.0rc2 but I am not running into any issues as mentioned above. Please find the github [gist](https://colab.sandbox.google.com/github/tensorflow/docs/blob/master/site/en/guide/keras/overview.ipynb#scrollTo=I7BcMHkB0E2U). Thanks!

[2020-03-30 17:20] gowthamkpr commented on #37501
@talhaanwarch Can yo please respond to the above comment so that we can take the discussion further. Thanks!

[2020-03-30 17:24] allenlavoie commented on #36958
As long as you do it inside the `GradientTape`, the same trick should work fine in 2.x:

[code]

In 1.x it probably didn't matter where you put the `tf.complex`, but with `GradientTape` it really needs to be inside the scope so the tape can record the operation. But otherwise it'll be treated identically as with `tf.gradients`.

Does that work for you?

[2020-03-30 17:25] mulka commented on #34607
It is worth noting that Flask uses Werkzeug. I wonder if this issue is reproducible with the Werkzeug reloader. My bet is that it would be.

[2020-03-30 17:30] abpalaciot commented on #37993
Yes, that's the one.

[2020-03-30 17:32] abpalaciot commented on #37993
This is the Colab:
https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/text/image_captioning.ipynb

The only modification is done before making any import, run:

!pip install tensorflow-gpu==2.0.0-beta1

[2020-03-30 17:35] mulka commented on #34607
I do have an app that uses TF Lite with Flask and I haven't be able to reproduce this error with that combination. That might be another work around for folks.

[2020-03-30 17:49] gowthamkpr commented on #37960
@17patelumang Looks like the code is incomplete. Can you please share the complete code with saved model file for us to reproduce this issue. Thanks!

[2020-03-30 18:08] stayprivate opened #38053 "high thread count"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Custom inference application written in Python.
- ubuntu 18.04

[2020-03-30 18:11] 17patelumang commented on #37960
@gowthamkpr I cannot unfortunately share the saved mode, but for the code the saved model we have TF api ported  inside saved model

[2020-03-30 18:12] goldiegadde commented on #33085
@srfrnk closing this issue as we believe it is fixed with 2.2.0-rc1 and the latest tf-nightly. PLease feel free to reopen if the issue is not resolved for you. Thanks!

[2020-03-30 18:12] #33085 closed

[2020-03-30 18:13] gowthamkpr commented on #33182
@drasmuss Can you please share the `test.py` file. Thanks!

[2020-03-30 18:14] nihil0 opened #38054 "Unable to access files on S3 with tf.io.gfile.GFile"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): yes
- OS Platf

[2020-03-30 18:16] stayprivate commented on #38053
I'm told using
config.intra_op_parallelism_threads = 1
config.inter_op_parallelism_threads = 1

Brought down the number of threads from 11150 to 4568.

[2020-03-30 18:17] gowthamkpr commented on #37959
@Sanqiang I was able to import tensorflow using tensorflow 1.15. Can you please install tensorflow -gpu 1.15. Thanks!

[2020-03-30 18:18] ecrows opened #38055 "PiecewiseConstantDecay Keras Learning Rate Scheduler not compatible with XLA Compilation"
**System information**
- TensorFlow version (you are using): 2.1.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

The Keras PieceWiseConstant Decay scheduler currently causes an 'unsupport op' error when used with XLA compilation (i.e. when used with `@tf.function(experimental_compile=True)`).  This happens because [it calls the control_

[2020-03-30 18:18] gowthamkpr commented on #37960
Can you share a dummy simple code for us to reproduce this issue as it it hard to look into it if we cannot reproduce it. Thanks!

[2020-03-30 18:23] drasmuss commented on #33182
The file is created within the gist, see this code
[code]

[2020-03-30 18:45] 17patelumang commented on #37960
@gowthamkpr thank you for reply below is the code

`import tensorflow as tf`
`from tensorflow.python.framework import ops`
`import gc`
`import psutil`
`process = psutil.Process(os.getpid())`

`N_REPS = 1000`
`sess = tf.Session(graph=tf.Graph())`
`tf.saved_model.loader.load(sess, [tf.saved_model.tag_constants.SERVING], saved_model_path)`
`text="this is dummy string"`

`for i in range(N_REPS):`

[2020-03-30 18:48] abhinavsp0730 commented on #37607
Okay,
thanks, so can I now close this issue?

[2020-03-30 18:56] mulka commented on #34607
Filled this issue on the Flask project in case they can help:
https://github.com/pallets/flask/issues/3549

[2020-03-30 18:58] masouduut94 commented on #7652
If you only need to **get rid of warning outputs on the screen**, you might want to **clear the console** screen right after importing the tensorflow by using this simple command:

In windows:

    import os
    os.system('cls')

In Linux or Mac:

    import os
    os.system('clear')

[2020-03-30 19:03] jvishnuvardhan commented on #26372
@Jaskaran170599 Please feel free to contribute through PRs. Thanks!

[2020-03-30 19:04] Pietroro commented on #36111
Hey GuyGoldener, I was having the same problems the others were having and I resorted to downloading the 101.dll separately and manually adding it to the /bin folder. While I see that it's wrong, uninstalling CUDA 10.2 is easier said than done. I wanted to know if in this case an uninstall of CUDA 10.2 and fresh install of CUDA 10.1 is necessary in your opinion, considering the time it takes to fr

[2020-03-30 19:04] gowthamkpr commented on #37960
I am not able to reproduce the issue using the above code @17patelumang. `saved_model_path` is still missing.

[2020-03-30 19:10] gowthamkpr commented on #37943
This is duplicate of the issue #30352 Can you please take a look at this issue and let me know if it helps. Thanks!

[2020-03-30 19:15] lutzgruber opened #38056 "Error with tensorflow 2: Inputs to eager execution function cannot be Keras symbolic tensors"
Hi everyone,

The tensorflow 2 release notes request that an issue be filed when experiencing problems with the new single path execution code.

I regularly work with custom loss functions that require additional information other than the predictors and observed outcomes. A simple example is estimating a general binomial regression model, where the number of trials are part of the likelihood/loss

[2020-03-30 19:18] huan commented on #34391
I believe I have found a way to fix this issue. See https://github.com/huan/tensorflow-handbook-tpu/issues/1#issuecomment-606189444

[2020-03-30 19:18] huan commented on #35785
I believe I have found a way to fix this issue. See https://github.com/huan/tensorflow-handbook-tpu/issues/1#issuecomment-606189444

[2020-03-30 19:20] jvishnuvardhan commented on #37780
@Egorand Thanks for the issue and Thanks to @ashutosh1919 for fixing it. Closing this issue as this was resolved. Thanks!

[2020-03-30 19:20] #37780 closed

[2020-03-30 19:25] huan commented on #33747
I believe I have found a way to fix this issue. See https://github.com/huan/tensorflow-handbook-tpu/issues/1#issuecomment-606189444

[2020-03-30 19:30] stayprivate commented on #38053
Seems like most threads are using around 580K of stacks. With 4000 threads, that means 2.3g of ram consumed just for stack. That seems like a waste of resource and not very cache friendly?  I'm real curious for the rational behind this.

[2020-03-30 19:32] vdouet opened #38057 "MaxPooling1D layer causes ESP32 to crash"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS Catalina 10.15.4
- TensorFlow installed from (source or binary): Installed with pip `pip install --upgrade tensorflow`
- Tensorflow version (commit SHA if source): Version 2.1.0
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): ESP32

**Describe the problem**
Using a MaxPooling

[2020-03-30 20:25] reedwm commented on #37130
I'm not sure what the root cause was. Maybe c476ffbbd8e35ac8683cc339802bfd9cdcdaa7a9?

[2020-03-30 20:32] mulka commented on #34607
It looks like passing --eager-loading to the `flask run` command is another work around.

[2020-03-30 20:36] sanjoy commented on #37982
Hi @bela127, are you proposing to implement this feature (i.e. will you send a PR at some point)?

[2020-03-30 20:36] sanjoy commented on #37982
CC @reedwm

[2020-03-30 20:40] drakkan commented on #34742
Thanks, I can confirm that the problem does not happen using tensorflow 1.x (tested with 1.12)

[2020-03-30 20:40] gowthamkpr commented on #32569
Closing this issue as it has been resolved. Thanks!

[2020-03-30 20:40] #32569 closed

[2020-03-30 20:41] reedwm commented on #37926
Thank you for this issue. The warning message is incorrect, as you noted.

I can't think of a use case of setting floatx to bfloat16. If you have one, let me know, and we can consider allowing it to be set to bfloat16. Otherwise I'll fix the error message by removing the suggestion to call `set_floatx('bfloat16')`

[2020-03-30 20:42] gowthamkpr commented on #32361
Closing this issue as it has been resolved. Thanks!

[2020-03-30 20:42] #32361 closed

[2020-03-30 20:46] gowthamkpr commented on #31994
Closing this issue as it is not reproducible. Please add additional comments so that we can open this issue again. Thanks!

[2020-03-30 20:46] #31994 closed

[2020-03-30 20:59] gowthamkpr commented on #36320
@JoaoLages This is the default behavior of tensorflow.

[2020-03-30 21:12] Nithanaroy opened #38059 "Also show "Available Since" for each API in tf docs"
It would be useful to show the lifecycle of an API in the docs. That is, show when say, `tf.data.Dataset.take` was added or when a certain is removed / renamed. It could be extended to arguments of each API as well. Or to put it in one line,
[code]
It would really help developers keep up with rapid development of TF even better.

[2020-03-30 21:14] omalleyt12 commented on #37988
@jwlawson Thanks for the issue!

Model.train_on_batch runs a single step of the Model.fit logic, it's a high-level endpoint that's not safe to run in a tf.function since it creates an Iterator, converts results to NumPy, etc. Probably the best thing to use is Model.train_step, which is just the logic of the training step and is safe to tf.function

[2020-03-30 21:42] 17patelumang commented on #37960
how to share dummy saved_model ?

[2020-03-30 21:48] gowthamkpr commented on #36794
@paokuwansui You can safely ignore the warning log as its intended to debug logging in AutoGraph issues. Thanks !

[2020-03-30 22:12] tomerk commented on #25227
Hi Draxdave@, we're sorry you've found this to be a painful experience! Here's some information that might be useful to you or others who come across this issue:

1. That link you put is from the TF object detection library. The team that owns it is actively working on releasing the tf 2.x version of the object detection library + training scripts. If you want to use the training scripts for it th

[2020-03-30 22:47] pavithrasv commented on #37990
@briannemsick Thank you for pointing this out. This is definitely a breaking change but intended. Sorry about the lack of information on this on release notes and docs. We have fixed that now.

We refactored compile/fit quite a bit and with that we made functional and subclassed model behaviors consistent. Because of this you will be able to use some of these model properties only after your model

[2020-03-30 22:52] jvishnuvardhan commented on #37025
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-30 22:52] #37025 closed

[2020-03-30 23:11] mulka commented on #34607
Here's a minimal, reproducible example of this error that only imports tensorflow.

[code]

[2020-03-30 23:13] reedwm commented on #34062
It appears `fused=False` uses the biased variance (meaning, [Bessel's correction](https://en.wikipedia.org/wiki/Bessel%27s_correction) is not used) while `fused=True` uses the unbiased variance. The fact there is a difference is bad, but that is a separate issue. If you take the unbiased variance of a single element, you compute 0/0, so arguably the correct result is getting NaNs. This is why pass

[2020-03-30 23:20] briannemsick commented on #37990
In this case, a warning or exception when these attributes are accessed before train/eval feels warranted.

[2020-03-30 23:20] jvishnuvardhan commented on #37881
@fwatty-1218 I ran your code with `TF2.2rc2` version and I cannot reproduce the error. Can you please try `TF2.2rc2` version and let us know whether the issue resolved for you or not.

Please close the issue if the issue was resolved for you. Thanks!

[2020-03-30 23:20] njeffrie commented on #37482
Definitely - currently we have a very basic benchmark utility under tensorflow/lite/micro/testing/micro_benchmark.h.  Currently, you can only benchmark entire methods, and this is done by running the benchmark like a test.  Work is underway to bring up a better end-to-end solution with a specific benchmark runner.

In the near future, I will be submitting few instructions for creating and running

[2020-03-30 23:21] goldiegadde commented on #34691
@durandg12 This issue is resolved with the latest tf-nightly and 2.2.0-rc2. here is a [colab gist](https://colab.research.google.com/gist/goldiegadde/0ad3fed10b0cbfb3633ee3ff05dcad31/github-issue-34691.ipynb)
Could you please verify and close this issue accordingly.

[2020-03-30 23:27] #37230 closed

[2020-03-30 23:32] njeffrie commented on #35794
Apologies for the delay.  It's strange that you're seeing that error - as far as I know that's a sanity check to ensure that the memory planner has found valid lifetimes for each tensor in the graph - i.e. for each tensor it has a valid start and end.  I'm guessing you may be running into this error as a side-effect of something else going wrong.  Perhaps try further increasing arena size (we have

[2020-03-30 23:32] richardkmichael commented on #34607
@mulka Thank you for working that up.  (I think it can be just slightly more minimal; `restart_with_reloader()` does not seem to need `while 1:`.)  Hopefully they can make progress from your reproducer.  Very nice!

[2020-03-30 23:41] kiapour commented on #37099
@codeislife99 Thanks for the tips above! I am also facing the mismatching type error when trying to run my .tflite model.
`RuntimeError: Inputs and outputs not all float|uint8|int16 types.Node number 4 (ADD) failed to invoke.`

Can you please provide the definition (and perhaps an example) of the `wrap_frozen_graph` function above?

I converted a model from onnx to frozen graph using with [onnx-te

[2020-03-30 23:57] kiapour commented on #37099
@codeislife99 Thanks for the tip above! Using the wrap_frozen_graph worked for me.

[2020-03-31 00:05] icoffeebeans commented on #37844
@abattery Hi Jae Sung, thanks a lot for your feedback. Actually I saw your commits of hashtable ops in tensorflow project. Thus I'm looking forward for your reply when I created this issue: )

After run the above example, I still have a couple of questions.
1) For the codes from your last reply, does it only work for tfv2? I've tried it on both tfv2.2 and tfv1.15. The tflite file converted by tfv1

[2020-03-31 00:05] ConorLazarou commented on #37673
@karmel interesting. Using `tensorflow.compat.v1.keras.layers.BatchNormalization` instead appears to resolve the problem (although I haven't tested it extensively).

[2020-03-31 00:12] karimnosseir commented on #37871
I have a fix for the issue. Sorry for the trouble. Will be pushed soon.

Thanks

[2020-03-31 00:17] fwatty-1218 commented on #37881
Thanks for solving my problem!

[2020-03-31 00:17] #37881 closed

[2020-03-31 00:27] chuanqi129 commented on #36123
Thanks @penpornk for your verification. Yes, we have discontinued Python 2 support.

[2020-03-31 00:31] shinlin77 opened #38060 "pixelwise-loss-weight map"
**System information**
- TensorFlow version (you are using): 1.14.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
U-NET (https://www.nature.com/articles/s41592-018-0261-2) has become a popular way to perform semantic segmentation for cell microscopy.  Instance segmentation requires pixelwise-loss weights.  Currently, model.fit_generator

[2020-03-31 00:43] jvishnuvardhan commented on #38036
@sirius0503 Can you please share a colab? Current link not pointing to colab. Thanks!
Your issue looks more like [This](https://github.com/tensorflow/tensorflow/issues/37706#issuecomment-601358807) issue. Please take a look at the responses. Thanks!

[2020-03-31 00:56] ElPapi42 opened #38061 "GAN Training Loop overriding Model.train_step()"
Hello!

I was trying to wrap my head around how to make an Adversarial Training Loop for GANs using the recently feature of TF2.2.0, the ability to override Model.train_step(). Right now, i feel that is not possible because a GAN are two separate networks, but maybe there is some way of do this, that is cleaner than a Custom Training Loop.

My doubts come to my mind because right now im implementi

[2020-03-31 01:09] talhaanwarch commented on #37501
i requested at [issue ](https://github.com/huggingface/transformers/issues/2256) if he can update his colab notebook with solution, but for me i am unable to figure out the solution

[2020-03-31 01:12] lackhole commented on #37928
Solved with *static* library. But NNAPI delegate is slower than CPU or GPU.

[2020-03-31 01:13] iteal commented on #29743
@gadagashwini  I am using the tf.data.Dataset API and trying to convert Estimator to Keras fit function. I got this error because I use validation_steps=None (wait until the TFRecordDataset runs out of samples, which was ok with Estimator). Is there a way or I really need to know the number of samples?

[2020-03-31 01:15] tensorflowbutler commented on #37153
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-31 01:15] tensorflowbutler commented on #37620
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-31 01:17] tanzhenyu commented on #31287
If you minimize a list of variables, it will create the hyper parameters as tf.Variables after it, so the saving and loading would work.

[2020-03-31 01:41] paokuwansui commented on #36794
Thank you very much------------------ 原始邮件 ------------------
发件人: "gowthamkpr"<notifications@github.com>
发送时间: 2020年3月31日(星期二) 凌晨5:48
收件人: "tensorflow/tensorflow"<tensorflow@noreply.github.com>;
抄送: "paokuwansui"<1059773473@qq.com>;"Mention"<mention@noreply.github.com>;
主题: Re: [tensorflow/tensorflow] a bug about tf.function (#36794)

@paokuwansui You can safely ignore the warning log as its inte

[2020-03-31 02:12] sjtusmartboy commented on #37666
@reedwm I have simplified the code in one file(wide_deep.py)from the original [code](https://github.com/tensorflow/models/tree/d0600d40d02bd927caf97a30895dc482db5d01ab/official/r1/wide_deep) as possible as I can. The model is just wide-deep model with linear column and dnn column. I think it's the problem of using the `enable_mixed_precision_graph_rewrite` for the parameter of `dnn_optimizer` in t

[2020-03-31 02:13] ymodak commented on #37838
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2020-03-31 02:13] #37838 closed

[2020-03-31 02:20] kalaluthien opened #38062 "A bug: TFLite post-training quantization with calibration"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3 LTS
- TensorFlow installed from (source or binary): source
- TensorFlow version (or github SHA if from source): r2.2

**Command used to run the converter or code if you’re using the Python API**
[code]

**The output from the converter invocation**
[code]

**Also, please include a link to the saved mode

[2020-03-31 02:28] sjtusmartboy commented on #37666
@zhuzilin Thank you for your advice. Now I've change the code to

`

    m = tf.estimator.DNNLinearCombinedClassifier(
        model_dir=model_dir,
        linear_feature_columns=crossed_columns,
        dnn_feature_columns=deep_columns,
        dnn_optimizer=tf.train.experimental.enable_mixed_precision_graph_rewrite(
                tf.keras.optimizers.SGD(0.05)),
        dnn_hidden_units=[100, 5

[2020-03-31 02:38] ymodak commented on #37776
Try adding `tf.reset_default_graph()` before creating graph. That should help. Thanks!
[code]

[2020-03-31 03:05] mengjiexu opened #38063 "tflite converter build in ops not support: ResizeNearestNeighbor"
when I convert the keras model to tflite, it is ok when :
     `convert.experimental_new_converter = False`
but when:
    `conver.experimental_new_converter=True`
it shows the error:

I use code:
`converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS, tf.lite.OpsSet.SELECT_TF_OPS]
`
It is ok, but the resize nearest neighbor should be the buildin ops:
`kTfLiteBuiltinResizeNearestNei

[2020-03-31 03:08] RoboChris1 commented on #31236
@mihaimaruseac I am running 2.1 and I am still getting the warning with logs off.

[2020-03-31 03:20] tanzhenyu commented on #31514
The `dilation_rate` is not an argument for DepthwiseConv2D, right?

[2020-03-31 03:24] #37922 closed

[2020-03-31 03:34] Kiranendra commented on #37943
Yes, I also mentioned that I've tried it already. He used LSTM layers while I've used GRU layers. I also tried with graphs like him but, the outcome is only error.

[2020-03-31 03:34] NLP-ZY commented on #35585
There are some incomprehensible bug in tensorflow2.0 and developer don't care it. I will consider pytorch too.

[2020-03-31 03:53] roadcode commented on #20126
@guptapriya there is no tf.get_variable in tf2, how to use it?

[2020-03-31 03:56] leocd91 commented on #37938
still not found.

I tried to downgrade to 1.15, still not found.

[2020-03-31 04:06] goldiegadde commented on #32104
@DeviLeo and @maximveksler can you please try with 2.2.0-rc2, there have been multiple fixes in improving 2.x performance.

here is a [colab gist](https://colab.research.google.com/gist/goldiegadde/6792061490ab598b5daa8eda18660160/github-issue-32104.ipynb) of the original issue with 2.2.0-rc2.

[2020-03-31 04:32] goldiegadde commented on #33210
@agchitu I do not see this issue with 2.2.0-rc2. here is a [colab gist](https://colab.research.google.com/gist/goldiegadde/b7d420eac7eb255b0867dc01ef242710/github-issue-33210.ipynb) of the same, can you please take a look and close if this is resolved ?

[2020-03-31 04:34] zhuzilin commented on #37666
@sjtusmartboy It seems like estimator in 1.14 cannot use v2 optimizer yet. if it's not convenient to upgrade tf, maybe my fix in this pr would help #37965

[2020-03-31 04:46] ManishAradwad commented on #38059
I'd love to work on this one. But where should we add these docs?

[2020-03-31 04:50] qlzh727 commented on #37840
Thanks  for the report. Will submit the fix very soon.

[2020-03-31 05:19] naripok opened #38064 "UnboundLocalError: local variable 'logs' referenced before assignment on training with little data"
I found an error caused by an attempt of coping training logs from a not yet assigned variable.
The error occurred on my machine (Arch linux, tensorflow v2.2rc2 compiled from source) and I managed to reproduce the error on colab, on a stock environment.
It only happens when the model.fit method is called with very little training / eval data.
The ```logs``` variable is assigned inside a ```for```

[2020-03-31 05:41] 372046933 opened #38065 "Failed to build the master branch"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 18.04 tensorflow/tensorflow:latest-devel-gpu-py3):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version: master branch
- Python version:3.6.9
- Installed using virtualenv? pip? conda?:
- Bazel version (if co

[2020-03-31 05:48] ravikyram commented on #37620
@TrentHouliston

Any update on this issue please. Thanks!

[2020-03-31 05:50] ravikyram commented on #37153
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-31 05:50] #37153 closed

[2020-03-31 05:56] Saduf2019 commented on #38023
@reesehyde-dst
Replicated code shared by you for analysis please find [gist](https://colab.sandbox.google.com/gist/Saduf2019/686b4428fd4f8d821768b2b5c60d9a60/38023.ipynb) of error faced, please share simple standalone code that can be used to replicate the issue faced.

[2020-03-31 05:57] zgsxwsdxg opened #38066 "ctc loss output：No valid path found"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
- OS Platform

[2020-03-31 06:08] weinixuehao commented on #26297
How to dump a ssbo buf to cpu for evaluating?

[2020-03-31 06:18] Saduf2019 commented on #21881
with confirmation moving the issue to closed status

[2020-03-31 06:18] #21881 closed

[2020-03-31 06:35] Saduf2019 commented on #38038
@renatomello
i tried executing your code on nightly and there are no errors there, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/17aa5392b3fd5c396b72ebce42000f66/38038.ipynb) please let us know if that helps.

[2020-03-31 06:37] svobora commented on #31287
_If you minimize a list of variables, it will create the hyper parameters as tf.Variables after it, so the saving and loading would work._

Could you point me to a documentation that specifies you cannot call Saver before minimizing a set of variables?

[2020-03-31 06:42] Saduf2019 commented on #38002
@
code shared is incomplete for us to replicate the issue faced, please find [gist](https://colab.sandbox.google.com/gist/Saduf2019/898af8475ecd8114e1692647901a921f/38002.ipynb) of error faced.

[2020-03-31 06:52] Arktius opened #38067 "Custom Loss: Order of arguments"
I've found a little mistake in the documentation. On the following website, the order of y_true and y_pred are reversed:

https://www.tensorflow.org/tutorials/customization/custom_training

[code]

It's usually the other way around:

https://www.tensorflow.org/api_docs/python/tf/keras/losses/

[code]
It makes no difference for MSE since this loss is symmetric. It does make a difference for MMSE (M

[2020-03-31 06:56] abattery commented on #37844
Hi,

I have tested with both TF 1.15.0 version and TF 2.2.0rc2 version with the above sample. As you said, the model generated from TF 1.15.0 version does not contains LookupTableImportV2 node. In your case, is it okay to use TF 2.x version? Thank you for reporting a bug.

The tf.control_dependencies method creates an explicit dependency between things in a graph. For example, it is required becau

[2020-03-31 07:03] amahendrakar commented on #38041
@ongun-kanat,
I tried to reproduce the error, but I am facing an error stating `NameError: name '__file__' is not defined`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/fc4c5821238be70114a666c8c4ead564/38041-2-1.ipynb).

In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks

[2020-03-31 07:09] thisisandreeeee commented on #37963
Hi, I am facing a similar issue and I've managed to replicate the problem too. Is there a fix for this?

[2020-03-31 07:18] BobTsang1995 commented on #32790
I use this way

i use this way to copy the 'tutorials' file into the tensorflow_core/example file. but it seems not work. my ide sent me this error:ImportError: cannot import name 'tutorials' from 'tensorflow_core.examples'

[2020-03-31 07:19] BobTsang1995 commented on #32790
i use this way to copy the 'tutorials' file into the tensorflow_core/example file. but it seems not work. my ide sent me this error:ImportError: cannot import name 'tutorials' from 'tensorflow_core.examples'

[2020-03-31 07:22] amahendrakar commented on #38045
@fabian57fabian,
I was able to run the code from the example file without any issues. As per the given example, I got 5 outputs. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/b19ff297ca29cb334ed61d914af7cb3d/38045.ipynb). Thanks!

[2020-03-31 07:22] Flamefire commented on #37693
And here is the log for the K80s with the crash/timeout:
[tfncclK80.log](https://github.com/tensorflow/tensorflow/files/4407360/tfncclK80.log) Looks like the above so I guess the 1080s simply don't throw a timeout error.

[2020-03-31 07:36] Saduf2019 commented on #38062
@kalaluthien
can you please provide us with complete code for us to replicate the issue

[2020-03-31 07:39] uroosehar1 commented on #27896
Yeah may be we have some basic concept missed about Lnear classifier
I got the basic idea about Linear classifiers from one tutorial
here is the link for this
URL: https://youtu.be/PKhojDaOi9Q

[2020-03-31 07:42] tushar-agarwal2909 commented on #33129
Hi @aleozlx . Please see if my recent answer is maybe close to the non-keras way you were looking for.

https://stackoverflow.com/questions/59493222/access-output-of-intermediate-layers-in-tensor-flow-2-0-in-eager-mode/60945216#60945216

[2020-03-31 07:48] PonraJS-21 opened #38068 "Tensorflow 2.2 Object detection crash while try to detect object from live feed"
The tensorflow object detection crashes while using the below code

[code]

**Tensorflow-Gpu Version:**
tf.__version__
'2.2.0-rc1'

When I use the above code it shows result  upto 2-3 seconds after that it says not responding

[2020-03-31 07:55] Saduf2019 commented on #38066
@zgsxwsdxg
Could you please update the template with requested details. (about what platform you are using ,include your TensorFlow version. )
please provide a code snippet to reproduce the issue reported here. Thanks!

We ask for this in the issue submission template, because it is really difficult to help without that information. Thanks!

[2020-03-31 08:08] DavidS3141 commented on #31514
Yes that is true, quite a lot changed of course since TF 1.13.1 which I used in August when I opened this issue. Then the argument was still documented for that version and I opened this issue. TF 1.15 API docs has also no mention of this argument. Not sure what happens with these newer versions when passing the `dilation_rate` as argument to the Depthwise Conv2D

[2020-03-31 08:12] Lillypucien commented on #37895
@ymodak TF 2.0 is not the correct tag for this issue, the bug is present in the last tf 2.2 development version

[2020-03-31 08:19] sirius0503 commented on #38036
Here's the [colab link](https://colab.research.google.com/drive/1sPfULw3TDjWUvHvAaMXweBxwWeGfj25j), have updated it in the question too!

[2020-03-31 08:21] tanzhenyu commented on #31287
What I mean is it will serve as a workaround for you before this is fixed in nightly or 2.3

[2020-03-31 08:27] Saduf2019 commented on #37956
@TheProgrammerIncarnate
i do not follow what is meant by versions 2.1.0-2 (now 2.1.0-4) , i have replicated the code shared by you, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/ebb83ff7ae4edc55d6f7792c91beb719/37956.ipynb)

please share complete details for us to replicate the issue. if possible please share a colab gist for us to analyse the issue faced.

[2020-03-31 08:35] amahendrakar commented on #38064
Was able to reproduce the issue with TF v2.2.0-rc2. Please find the gist [here](https://colab.research.google.com/gist/amahendrakar/88f59bf9ab4c7cd27ef62a49e28162be/38064.ipynb). Thanks!

[2020-03-31 08:39] #37986 closed

[2020-03-31 08:46] ravikyram commented on #38065
Provide the exact sequence of commands / steps that you executed before running into the problem.Please provide details about what platform you are using (operating system, architecture).Thanks!

[2020-03-31 08:49] ravikyram commented on #38061
@ElPapi42

Request you to share colab link or simple standalone code to reproduce the issue in our environment.It helps in localizing the issue faster.Thanks!

[2020-03-31 08:50] svobora commented on #31287
OK, thanks!

[2020-03-31 08:52] ravikyram commented on #38056
@lutzgruber

Request you to share the colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-03-31 08:53] tanzhenyu commented on #31514
Yeah it was never part of the API, but it works as intended. I think we should add it to _init_.
On the other hand, I tried to do this through:
[code]
It looks like the result is the same as the keras layer. I think this is probably a low level bug instead of a tf.keras bug then?

[2020-03-31 08:59] mgmverburg opened #38069 "Colab TPU broken on latest tf-nightly"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  6 lines of ad

[2020-03-31 09:09] xiongyu0523 opened #38070 "/bin/sh: 1: python: not found error when generate projects"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., WSLv1 Ubuntu 18.04 ):
- TensorFlow installed from (source or binary): source
- Tensorflow version (commit SHA if source):  head
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): n/a

**Describe the problem**
**Please provide the exact sequence of commands/steps when you ran into the problem**

Python is

[2020-03-31 09:10] amjass12 commented on #35585
Any update on this? it would be nice to make some progress with this as i will need to use this soon for some unequal length input and merged layers :D

thanks!

[2020-03-31 09:21] ravikyram commented on #38069
@mgmverburg

Please, use TF 2.2.0-rc1 version  (`!pip install tensorflow==2.2-rc1`) and i am not seeing any issue with latest release 2.2.0-rc1 version. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/cb5eaffca3500e3d59af2f04e19a319f/untitled754.ipynb). Thanks!

[2020-03-31 09:28] sirius0503 commented on #37706
Hi @jdduke , this seems to work on android `cpu`, but gives me an error for **gpu** and **nnapi** delegate. the error is same as [Attempting to use a delegate that only supports static-sized tensors with a graph that has dynamic-sized tensors](https://github.com/tensorflow/tensorflow/issues/38036)

[2020-03-31 09:28] mgmverburg commented on #38069
Yes I tried TF 2.2.0-rc1 and it works, but I thought it should be possible to use nightly versions too? I know that TF is still very much in development hence I sometimes want to try nightly versions to see if certain performance issues may have been fixed already, but I noticed now for a few days already it wasn't working with the TPU, but I guess this is already known by the TF team then?
I thou

[2020-03-31 09:52] tanzhenyu commented on #32133
@allenlavoie Any idea on how this would happen (for gradients)?

[2020-03-31 09:54] tanzhenyu commented on #32104
@DeviLeo Thanks for the report! Would you mind trying this on tf==2.2, since it contains many performance improvements on eager

[2020-03-31 09:55] exowanderer commented on #24496
This solved my problem completely.

My specs:
RTX 2070
Ubuntu 18.04 LTE
Tensorflow 2.1.0
Keras 2.3.0
cudnn 7.6.5
cuda10.1.0
conda 4.8.3
python 3.7.7

Built via `conda install tensorflow-gpu keras`

Thank you so much! This is the **first** time that I've gotten TF-2 to work at all! And TF-1 stopped working altogether, which is why I decided to upgrade and 'see what happens'!

Thank you!

[2020-03-31 09:59] 372046933 commented on #38065
@ravikyram . Steps

1. `./configure` (all default)
2.  `bazel build --jobs=4 --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0" --config=opt --config=cuda //tensorflow/tools/pip_package:build_pip_package`
Then build fails. Operation system is the same as `tensorflow/tensorflow:latest-devel-gpu-py3` which is Ubuntu 18.04 64bit.

[2020-03-31 10:01] tanzhenyu commented on #32268
Looking through https://github.com/tensorflow/tensorflow/issues/32241, it seems that the issue (different output node) was fixed, but freeze_graph is no longer supported.
Closing this for now. If freeze_graph is an issue, please file another one :-)

[2020-03-31 10:01] #32268 closed

[2020-03-31 10:06] tanzhenyu commented on #32341
Looks like this is fixed.
For the warning message part -- this is the output from estimator. Maybe try to set it through
tf.compat.v1.logging.set_verbosity?

[2020-03-31 10:06] #32341 closed

[2020-03-31 10:12] ongun-kanat commented on #38041
Script is not designed to be run in a notebook. `__file__` is obviously undefined since you're not running it in a script called by python executable.

I don't know if users have write permission for files in collab notebooks but you can try it with a hardcoded file name.

[code]

[2020-03-31 10:14] tanzhenyu commented on #32799
@nikhil-mathew-td @MartinMohlenkamp Thanks for the report! (And sorry for the late reply)
Looks like this is fixed in tf-nightly. Would you mind confirming it before I close the issue?

[2020-03-31 10:18] Jaskaran170599 commented on #26372
Looks like the PR is merged already , please close the issue.

[2020-03-31 10:27] jakc4103 commented on #34299
@liyunlu0618 Do you know how to specify for using per-layer instead in tflite?  I searched in many tutorials and documents, no luck however.

[2020-03-31 10:36] fabian57fabian commented on #38045
@amahendrakar i know that the example prints out 5 items.
Let's think that my problem is to detect the number of faces in a photo. I train my model, i run it with this script.

The pipeline in the script is:
- initialize the interpreter with model
- set tensor
- invoke
- get tensor
- filter 5 best results
- print results

So my problem is that the variable **result** after squeezing the output of

[2020-03-31 10:41] Ruanlt commented on #23542
how did you konw the functions name?

[2020-03-31 10:46] Ruanlt commented on #16291
+1 same problem on 1.13.1

[2020-03-31 11:07] ravikyram commented on #38069
@mgmverburg

 TF 2.2.0-rc1 is latest stable version, TF-nightly is in development stage.We can use TF 2.2rc1 since it is working without any issue.Thanks!

[2020-03-31 11:18] gadagashwini commented on #29743
@iteal, Please open new issue and provide the all the information asked in the Template. Thanks!

[2020-03-31 11:25] ravikyram commented on #38022
@SwagJ

You may try limiting your gpu memory usage with set_memory_growth option.
See https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth
Put the following snippet on top of your code and execute again

[code]
Thanks!

[2020-03-31 11:28] noticebo opened #38071 "INT8 quantized model for TF Lite"
Hi, I tried to run INT8 model on my device with TFLite but it seems its inference time is very slow and maybe it could only be run on CPU. While I run UINT8 model, it is very fast. How should I do so that it could be run normally for INT8 model? I noticed that there is an option for convert F16 to F32 by using "setAllowFp16PrecisionForFp32". is there any similar setting to convert INT8 to UINT8? t

[2020-03-31 11:31] stefanobranco commented on #34298
I know this issue has been closed, but I've also been struggling with this. Has this been resolved, or if not, any where I can follow progress?

[2020-03-31 11:42] ravikyram commented on #37993
@abpalaciot

Is there any specific reason you want to use 2.0.0-beta1. You can use 2.x stable versions TF 2.0, 2.1.0,'2.2.0-rc1' instead.And let us know if you face any problems with latest stable 2.x releases?

[2020-03-31 11:45] renatomello commented on #38038
Finally. This one works. You almost literally saved my life.

Just to be sure, what's exactly the difference from the nightly version to the 2.1.0 stable version that does the trick?

[2020-03-31 11:55] Saduf2019 commented on #32488
@datitran
please update on the above comment

[2020-03-31 11:55] Saduf2019 commented on #32895
@payne4handsome
please update as per above comment

[2020-03-31 11:58] Saduf2019 commented on #37415
@frytry
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-31 11:58] #37415 closed

[2020-03-31 12:08] icoder-new commented on #17022
**Hello guys!! I have a problem with installing _Tensorflow_!
Python 3.7.3 (v3.7.3:ef4ec6ed12, Mar 25 2019, 21:26:53) [MSC v.1916 32 bit (Intel)] on win32

How to install it ???**

[2020-03-31 12:08] reesehyde-dst commented on #38023
Sorry about that, the code sample was copied from a notebook and using the variable by a different name. Here it is fixed ([gist here](https://colab.research.google.com/gist/reesehyde-dst/3487cd382a7a4b199d117b38c74a8302/38023.ipynb)):

[code]

[2020-03-31 12:16] odinsbane commented on #36892
I think this is just a form of discouragement from using tensorflow 1.x. Compatibility has been broken, so one would need to use tensorflow 1.14, where they do not backport or provide fixes because it is outdated.

[2020-03-31 12:23] bela127 commented on #37926
Hello,

I have a verry big model, it only can fit in memory with bfloat16 or float16 on a rtx2080.
Float 16 gives me a lot of Nan because of a early overflow. Bfloat16 would have a larger dynamic with still less memory.

The only solution at the moment is training the model on CPU (a lot of ram is available) but it's very slow.

[2020-03-31 12:24] #36544 closed

[2020-03-31 12:28] ravikyram commented on #37164
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-31 12:28] #37164 closed

[2020-03-31 12:45] ElPapi42 commented on #38061
Hello! maybe i dont explain my self very well, there is no issue @ravikyram , but im interested in know the viability of implement a GAN training loop overriding `Model.train_step`. Currently i cant find a tutorial about this specific situation in the docs, and the existing one, is implemented using Custom Training Loop and GradientTape.

[2020-03-31 12:52] rakeshmothukuru1 commented on #37972
@MarkDaoust,
Thank you for your response. If I interpret your comment correctly, it means that the 1.x tutorials will be made 2.x compatible. Does it mean `Tensorflow Version 1.x` will be deprecated and there will be no Tutorials corresponding to `Tensorflow Version 1.x`, which uses `Sessions` inside the Code?

[2020-03-31 13:37] attendfov opened #38072 "tf2.1 tf.nn.ctc_loss slower，takes up a lot of GPU memory"
Please make sure that this is a bug. As per our
GitHub Policy,
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template

System information

Have I written custom code : yes
OS Platform and Distribution: centos 7, not Distribution
TensorFlow installed from docker: docker pull nvcr.io/nvidia/tensorflow:20.02-tf2-py3 .tensorflow ve

[2020-03-31 13:37] #37676 closed

[2020-03-31 14:11] vk1z opened #38073 "TFLite conversion coredumps"
**System information** : Ubuntu18.04, CUDA 10
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): No. Problem exists even when using tflite_convert OR writing custom code as described in [documentation](https://www.tensorflow.org/lite/performance/post_training_quantization)
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Ubuntu18.04
- Mobile

[2020-03-31 14:11] vk1z commented on #38073
Sorry about the unexpected capitalization above.

[2020-03-31 14:13] #37973 closed

[2020-03-31 14:19] HebaGamalElDin commented on #22512
please i still have the same issue of installing tensorflow,
Can anyone tell me please what exactly are the dependancies of tensorflow-cpu and also tensorflow-gpu ??

[2020-03-31 14:23] richardkmichael commented on #34607
@mulka :sparkles: Beautiful!  From your minimal repro, I wondered if import is thread-safe. There is an [unconfirmed bug on the CPython tracker](https://bugs.python.org/issue38884).  The repro there also uses tensorflow, so it's as yet unclear if this is a tensorflow problem or a Python problem.

[2020-03-31 14:28] jvishnuvardhan commented on #34298
@stefanobranco Please create a new issue with details and a simple standalone code to reproduce the issue. Thanks!

[2020-03-31 14:29] Papageno2 commented on #36209
Hi，I fix this issue!
I got exactly the same issue on cenos7 with `tensorflow==1.15.0`,  for me, it is only related with the dataset generation issues!

With `cityscapes` dataset, the generation of tfrecord following the tutorial doc would be
[code]

the shell commands for me (in the `/reasearch` folder),
[code]

I use pretrained weights from [`mobilenet_v3_large_seg`](https://github.com/tensorflow

[2020-03-31 14:35] vk1z commented on #38073
Follow up; The exact same behavior is observed when trying to convert the SSD Mobilenet model from the tensorflow detection Zoo - specifically: ssd_mobilenet_v2_coco_2018_03_29.

The model there was also converted to have input shape (None, 300, 300, 3) (since tflite conversions from (None, None, None, 3) fail). Consequently I believe that should be an easy bug to repro and hopefully fix since thi

[2020-03-31 14:36] attendfov commented on #38072
Since the calculation of ctc_loss is not in tf.function, I worry that there will be additional overhead. Now the code has been re-modified to encapsulate the loss calculation into the function of tf.function. Here is the latest modified code
[code]
run the above code  we found that when tf.ctc_loss is not calculated, the GPU storage uses 4865MiB, gpu usage at 95%；when tf.ctc_loss is turned on, the

[2020-03-31 14:44] MarkDaoust commented on #37972
@rakeshmothukuru1

Yes we want to move away from TF1. But we're keeping this r1 snapshot as is for the foreseeable future.

They run with colab's tf2 installation, but if you use tf1 compatibility mode:

[code]

It should make (almost) no difference whether you actually have tf1 or tf2 installed.

There are some `tf.Session` in these old tutorials. We hav e no plans to _delete_ them, we just disco

[2020-03-31 15:17] ronakkjain opened #38074 "Tf issue"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
- OS Platform

[2020-03-31 15:23] soumyadeepabhaumik opened #38075 "Invalid Output shape to Invalid input"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platf

[2020-03-31 15:25] soumyadeepabhaumik commented on #38075
Please make the changes in 2.1 version ,being an instructor i am unable to show to people about tensorflow's tiny mistakes

[2020-03-31 15:26] MaUt89 commented on #38018
Please find in the following the complete code. The data I'm using consist exclusively of String features so I have only categorical columns. Thank you for your help.

**main():**
[code]

**data_preprocessing():**
[code]

**model_evaluation():**
[code]

[2020-03-31 15:41] krille90 commented on #32180
Hi, I've run into this today and figured out that I can still use the old converter code with disabled eager execution:

[code]

this will fix it for my use case. I hope it helps others too.

[2020-03-31 15:45] zaccharieramzi commented on #35860
The current proposed solution didn't work for me.
My error still reads:
[code]

I also tried simply running `modprobe nvidia NVreg_RestrictProfilingToAdminUsers=0`, but it didn't work either.
Starting the application in `sudo` mode did solve the problem, but of course it's not ideal...

[2020-03-31 15:56] DocDriven opened #38077 "tflite with select_tf_ops enabled fails to build"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): GNU/Linux aarch64
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.2.0
- Python version: 3.6
- Bazel version (if compiling from source): 2.0.0
- GCC/Compiler version (if compiling from source): gcc 7.4.0

**Describe the problem**
Trying to build TensorFlow Lite shared library on custom a

[2020-03-31 16:00] ElPapi42 commented on #38061
Update: Im doing my own advances on this topic, i have a solution, but there is a detail, for train a GAN two optimizers are required, i was checking how the training logic was implemented, and seems like Model can only accept a single Optimizer, not a tuple or list. This is stopping me from reaching the solution, because injecting the extra optimizer using other methods, like class args or someth

[2020-03-31 16:07] Andreas5739738 opened #38078 "tf.data.experimental.ignore_errors: failed assertions are not logged"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Colab
- TensorFlow installed from (source or
binary): binary (colab)
- TensorFlow version (use command below): v2.2.0-rc1-0-gacf4951a2f 2.2.0-rc1
- Python version: 3.6.9

**Describe the current behavior**

No log out

[2020-03-31 16:10] jvishnuvardhan commented on #38063
@mengjiexu Can you please share a standalone code to reproduce the issue? Thanks!

[2020-03-31 16:15] allenlavoie commented on #32133
I don't think this has anything to do with gradient infrastructure, which conceptually is just queuing up some ops. Sounds like some op used in a gradient does not give the same result every time. We don't generally guarantee exact results; if you're using deterministic CuDNN, possibly we're not using CuDNN in some case?

@iganichev (who works on GPUs) could you decide whether this is a problem, o

[2020-03-31 16:19] mihaimaruseac commented on #34607
Thank you for the reproduction.

It seems this is going to be solved in 2.2, but it happens in 1.15 and 2.1. Unfortunately, I'm not sure if we can backport a fix safely.

[code]

(where `test.py` is the code in the reproducer)

[2020-03-31 16:30] liyunlu0618 commented on #34299
Currently if you use post-training integer quantization it's per-channel by default. There's no way to configure that to use per-layer quant. The legacy quantization-aware training (QAT) used per-layer quantization but we're deprecating that. The upcoming QAT will also use per-channel.

[2020-03-31 16:30] pryadchenko commented on #24828
Have the same issue even using official tensorflow docker (v 1.15.2 + object detection api for v 1.13.0)

[2020-03-31 16:41] csongornagy opened #38080 "Trying to convert: RuntTimeError: MetaGraphDef associated with tags {'serve'} could not be found in SavedModel."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): anaconda installation
- TensorFlow version (or github SHA if from source): 1.15

**The output from the converter invocation**

[code]

**Also, please include a link to the saved model or GraphDef**

[code]

**Any other info / logs**

When I try to convert thi

[2020-03-31 16:47] mihaimaruseac commented on #38074
You did not fill issue template, you didn't check for duplicates.

Closing as duplicate.

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-03-31 16:47] #38074 closed

[2020-03-31 16:48] mihaimaruseac commented on #17022
TF does not work on 32 bits.

[2020-03-31 16:50] mihaimaruseac commented on #38065
Can you sync back to master and try again? Also, please post the commit hash at which you are trying to build.

Is this a regression? Was there a moment where you were able to build using these steps?

PS: You should not need `--config=cuda` if you set CUDA related things in `./configure`

[2020-03-31 16:59] faustomorales opened #38081 "Allow users to specify method name when using tf.saved_model.save"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.1.0
- Are you willing to contribute it (Yes/No): Yes

**

[2020-03-31 17:03] jvishnuvardhan commented on #38038
@renatomello After releasing TF2.1 stable version, there were lots of updates. It is possible but difficult to trace which update resolved your issue. tf-nightly versions are released everyday. Thanks!

[2020-03-31 17:07] Saduf2019 commented on #38038
@renatomello
As the issue is resolved in tf_nightly, please confirm if we may move this issue to closed status.

[2020-03-31 17:09] jvishnuvardhan commented on #37884
@LAWSSSS I am not sure how you created the *.pb file. It is throwing data type mismatch error. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/0ecb928c2d2df120d05a82259c485049/untitled46.ipynb). Can you please let us know what steps you followed to create *.pb file? Thanks!

[code]

[2020-03-31 17:10] impjdi commented on #26297
You're looking for `glMapBufferRange`

[2020-03-31 17:15] feranick opened #38082 "'TFLiteConverter' object has no attribute 'experimental_new_quantizer' - TF 2.2.0-rc2"
**System information**
- Have I written custom code: See below.
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or
binary): source
- TensorFlow version (use command below): 2.2.0-rc2
- Python version: 3.6.9
- Bazel version (if compiling from source): 2.0.0
- GCC/Compiler version : XCode 11.4
- CUDA/cuDNN version: - GPU model and memory: 1

[2020-03-31 17:24] kalaluthien commented on #38062
Modified code from tensorflow/model-optimization mnist examples:
[code]

[2020-03-31 17:25] feranick commented on #38082
The issue seems to be related to the [commit](https://github.com/tensorflow/tensorflow/commit/e6895b3648595080143e8f5dd6f56c16e7852e91). In particular, the line 267:

` inference_output_type, allow_float, self.experimental_new_quantizer)`

has not been updated to the new private API. Should it be?:

` inference_output_type, allow_float, self._experimental_new_quantizer)`

[2020-03-31 17:31] vnvo2409 opened #38084 "Linking tensorflow/python/_pywrap_tensorflow_internal.so failed on debug build on Windows"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow instal

[2020-03-31 17:33] gowthamkpr commented on #37960
Can you please share a saved model with which I can reproduce this issue. Thanks!

[2020-03-31 17:33] #37909 closed

[2020-03-31 17:34] azeemabbas commented on #34431
Replace tf.app with tf.compat.v1.app

[2020-03-31 17:53] OrielResearchCure opened #38086 "Tensorboard does not show the curves"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2020-03-31 17:54] OrielResearchCure commented on #38086
Many thanks for any advice!
this tutorial was used for a guideline for the CM as well: https://www.tensorflow.org/tensorboard/image_summaries
Thanks!

[2020-03-31 18:00] jdduke commented on #38025
The first thing to check is that you're using the latest nightly builds. Can you try manually [clearing your gradle cache](https://stackoverflow.com/questions/23025433/how-to-clear-gradle-cache) or change

[code]
to
[code]
?

[2020-03-31 18:01] jsimsa commented on #37963
In TF 1, `cache` does not work with eager iteration (i.e. `from elem in dataset`). You should either use TF 2 or append `repeat` to the end of your dataset consume multiple epochs.

[2020-03-31 18:01] #37963 closed

[2020-03-31 18:06] rishabhgautam01 opened #38087 "ImportError: DLL load failed: The specified module could not be found."
import tensorflow as tf
Error in callback <bound method AutoreloadMagics.post_execute_hook of <autoreload.AutoreloadMagics object at 0x00000251F0EB3708>> (for post_execute):
Traceback (most recent call last):

  File "C:\Users\KIIT\anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *

  File "C

[2020-03-31 18:17] #37961 closed

[2020-03-31 18:20] JonasFreibur commented on #32954
Hi @humayun, I am having exactly the same isuse, have you been able to find a solution or a workaround ?

[2020-03-31 18:43] settle commented on #35116
@fgervais Did you build a devel docker image that can build tensorflow inside it, or you just installed a tensorflow binary inside the docker image?  If the former, could you share you Dockerfile?  I've attempted to do that myself, but run into issues building bazel, see [#37985](https://github.com/tensorflow/tensorflow/issues/37985).

Btw, what would be your opinion of doing pip install vs. apt-g

[2020-03-31 18:47] reedwm commented on #37926
Bfloat16 is not supported on Nvidia GPUs, such as the rtx2080, so you have to use float16 or float32. Neither bfloat16 or float16 is supported well on CPUs either, and will probably run slower. If running on the CPU and you have enough RAM, try float32 instead.

Also, most models require [mixed precision](https://www.tensorflow.org/guide/keras/mixed_precision) instead of just using float16/bfloat1

[2020-03-31 18:56] fgervais commented on #35116
@settle I installed the tensorflow binary inside a docker image.

I prefer to pip to install the dependencies to I get more control on the versions installed. It is slow, yes, but not too bad since I do it through docker `buildx`. Even if it's through emulation, it's still a lot faster than on a raspberry pi.

[2020-03-31 19:01] humayun commented on #32954
This is due to Tensorflow 2.0 version. Just install new version tensorflow 2.1 and problem go away.

[2020-03-31 19:05] jvishnuvardhan commented on #30983
This is still throwing an error with `tf-nightly`. Error trace is as follows. [Here](https://colab.research.google.com/gist/jvishnuvardhan/3dfc9a40e3d200687830c3860b51c92c/untitled47.ipynb) is the gist for our reference.

[code]

[2020-03-31 19:19] jvishnuvardhan commented on #33939
@MikeOfZen As mentioned by @yhliang2018 , this was resolved `TF2.2.0-rc2`. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/bbdb01789e1f322d5ddf16f329109309/untitled49.ipynb). Thanks!

Can you please verify and close the issue? Thanks!

[2020-03-31 19:30] tylerburleigh opened #38090 "GPU not found on Windows 10 with tf 2.1.0"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code: No
- OS Platform and Distribution: Windows 10
- TensorFlow installed from: pip
- T

[2020-03-31 19:36] particlebbq commented on #38025
Ok, I've tried switching to the "changing=true" syntax and rerunning, and after that I tried clearing the gradle cache (by removing ~/.gradle/cache) and I reran again.  In both cases, the segfault was still there.

[2020-03-31 19:37] lamberta commented on #38059
Discussed a bit previously, but not sure it's worth it.
Generally, the API is cumulative to maintain backward compatibility (aside from the major version jumps). We publish multiple versions on the site (and archive the rest in GitHub) so if you're stuck on an old version, you can browse that.

[2020-03-31 20:03] jdduke commented on #38025
I see, thanks for checking. It's possible this is an emulator-specific issue. We'll take a look.

[2020-03-31 20:16] particlebbq commented on #38025
Ok, thanks!  If there are any other checks I can do that would be helpful, I'm happy to give them a shot; just let me know.

[2020-03-31 20:18] bela127 commented on #37926
I will try, thanks

[2020-03-31 20:20] jdduke commented on #38025
If you can attach the logcat preceding the seg fault, that might be useful.

[2020-03-31 20:25] jdduke commented on #37706
Hi @sirius0503 , any chance you could share your model (or a minimal .tflite model repro) that we can use for testing?

[2020-03-31 20:49] ymodak commented on #33608
This is fixed with tf-nightly '2.2.0-dev20200331'. Also [check for 0 kernel_size](1e102f63964365d82d7f22402b7ba21e0e0e64fe) has been added.
[code]
output:
[code]
Thanks!

[2020-03-31 20:53] bela127 commented on #37982
Hi,
I definitely can help, but I'm not that deep into tensor flow backend, and more a python developer, than c++, so I guess I will need help.

The code is ready for tf 2.1 , so one could try to do the merging, but 2.2 changed a lot of API, at least at the python side, so I'm not shure how much has to be changed.

[2020-03-31 20:54] particlebbq commented on #38025
Ok, the logcat from the last run I did follows.

2020-03-31 14:31:28.646 18654-18654/? I/tflitebugrepor: Not late-enabling -Xcheck:jni (already on)
2020-03-31 14:31:28.659 18654-18654/? I/tflitebugrepor: Unquickening 13 vdex files!
2020-03-31 14:31:28.660 18654-18654/? W/tflitebugrepor: Unexpected CPU variant for X86 using defaults: x86
2020-03-31 14:31:28.894 18654-18654/com.example.tflitebugrepo

[2020-03-31 20:58] jdduke commented on #38025
That looks potentially suspicious, though it doesn't immediately address the seg fault. It's very helpful though, we'll try to get back to you soon.

[2020-03-31 20:59] thomasjungblut commented on #37938
wrestled the same problem for the whole evening, here's what fixed it for me (TF 2.1):
* install the "Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017, and 2019"
* enable long paths: https://superuser.com/questions/1119883/windows-10-enable-ntfs-long-paths-policy-option-missing
* install CUDA 10.2 (instead of 10.1) and the corresponding cudnn package
* define CUDAPATH and PATH to

[2020-03-31 21:15] reedwm commented on #37982
I think having [an RFC](https://www.tensorflow.org/community/contribute/rfc_process) for this feature would be the best process to getting it into TensorFlow. The link RFC documentation describes you should first email [developers@tensorflow.org](https://groups.google.com/a/tensorflow.org/forum/#!forum/developers) to discuss the proposal.

[2020-03-31 21:19] gowthamkpr commented on #33215
@SmileTM @saberkun Can you please try using tf-nightly and let me know if the issue still persists. Thanks!

[2020-03-31 21:23] huikang opened #38091 "unclear explanation in the Text classification with TensorFlow Hub: Movie reviews example"
## URL(s) with the issue:

https://www.tensorflow.org/tutorials/keras/text_classification_with_hub#build_the_model

Please provide a link to the documentation entry, for example:

https://www.tensorflow.org/tutorials/keras/text_classification_with_hub#build_the_model

## Description of issue (what needs changing):

The last layer in the model is `model.add(tf.keras.layers.Dense(1))`. However, in t

[2020-03-31 21:27] bela127 commented on #37982
@reedwm
ok, thanks.
if i understand the RFC documentation correctly, i should email developers@tensorflow.org directly, without creating a RFC document or feature-request before?

if this is correct, i will send a mail with a short description and a link to this issue.

[2020-03-31 21:33] jvishnuvardhan commented on #30094
@mahzoon Generally it is not recommended to combine 1.x and 2.x functionality.
In general, if you want to maintain v1 behavior, it's best to use the v1 apis as well: I updated first two lines of your code as follows.

[code]
With this change, everything works as expected. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/8c2f3b08d3ff0ff011676e4d0505f283/untitled50.

[2020-03-31 21:51] tylerburleigh commented on #38090
My bad, I didn't realize tensorflow 2.1.0 didn't work with CUDA 10.2! I installed CUDA 10.1 and now my GPU is recognized. :)

[2020-03-31 21:51] #38090 closed

[2020-03-31 21:57] gowthamkpr commented on #38067
@Arktius I don't think this is going to matter as much as we are using MSE as loss function here.

[2020-03-31 22:10] iganichev commented on #32133
There can be many reasons for non-determinism. As Allen pointed out TF uses many libraries and hand-written kernels besides cuDNN on GPU including Eigen and cuBLAS. For example, in certain convolutions, it is faster to execute them using a GEMM function in cuBLAS. In general, getting TF to behave deterministically is pretty hard. This is a known issue.

Does this non-determinism cause a serious is

[2020-03-31 22:11] gowthamkpr commented on #38047
@lolpa1n Please share the entire code to reproduce this issue. Thanks!

[2020-03-31 22:33] gowthamkpr commented on #37897
@AshiakerWang Can you please share the series of steps that you followed to reproduce this issue? Thanks!

[2020-03-31 22:34] lolpa1n commented on #38047
The code that I attached is entire code, the rest code for object detection

[2020-03-31 22:35] lolpa1n commented on #38047
The code that I attached is entire code, the rest code for object detection

[2020-03-31 22:37] gowthamkpr commented on #37897
@AshiakerWang As mentioned in the comment The problem was the incompatibility of Bazel to bash on Windows as stated at https://docs.bazel.build/versions/master/windows.html.
Please use linux based system. Thanks!

[2020-03-31 22:57] particlebbq commented on #38025
Thanks!  I agree that the "SSE instructions" message does look suspicious.

One more observation, in case it helps:  I notice that if I change the FlexDelegate to an NnApiDelegate, then I don't see a segfault, and I don't get the 'SSE instructions' message either.

[2020-03-31 23:19] JSunRae commented on #24573
Hi all. I have the same problem but have no idea how this solution can be implemented.

[2020-04-01 00:12] jakirkham commented on #29039
I noticed commit ( https://github.com/tensorflow/tensorflow/commit/210649dd56d7c4b75e3e8e2a851b61c80ae13dbb ) appears to implement some `__cuda_array_interface__` support. Am I reading that correctly? If so, what else still needs to be done here?

[2020-04-01 00:15] zhisbug commented on #34322
wonder if there is any update on this issue?

[2020-04-01 00:23] reedwm commented on #37982
@alextp can you confirm emailing develoeprs@tensorflow.org is the best process? And since @bela127 is fairly busy, is it better to wait to start the RFC process until they have more time?

[2020-04-01 00:28] tripathysa commented on #35934
@ymodak : Same issue I am facing. Please suggest a resolution.

[2020-04-01 00:41] simmalik commented on #38081
I can also work on this issue!

[2020-04-01 00:41] nouiz commented on #29039
This commit only implement the XLA part. It miss the TF part. The TF tensor themself need to support this interface.

Télécharger Outlook pour Android<https://aka.ms/ghei36>

________________________________
From: jakirkham <notifications@github.com>
Sent: Tuesday, March 31, 2020 8:12:33 PM
To: tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: Frederic Bastien <fbastien@nvidia.com>; Manual

[2020-04-01 00:45] simmalik commented on #38078
I can work on this with @shahshriya as well!

[2020-04-01 00:50] simmalik commented on #38035
I can work on this as well with @shahshriya

[2020-04-01 00:55] #37897 closed

[2020-04-01 01:06] TheProgrammerIncarnate commented on #37956
@Saduf2019
After poking around a little more, I believe the issue is out of Tensorflow's scope. The drop in performance is apparently caused by updating the python-tensorflow package from release 2 to release 4 (source version is 2.1.0 either way.) Thus this is something I need to talk to the package maintainer about (perhaps something to do with default optimization settings?)

[2020-04-01 01:07] simmalik commented on #38081
I can also work on this one with @shahshriya

[2020-04-01 01:08] ymodak commented on #35934
@robfreund @tripathysa Please open a new issue with a minimal reproducible example and I will be happy to take a look.
At this moment I cannot reproduce the reported behavior. Thanks!

[2020-04-01 01:17] tensorflowbutler commented on #33834
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-04-01 01:17] tensorflowbutler commented on #37210
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-04-01 01:17] tensorflowbutler commented on #37630
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-04-01 01:29] 372046933 commented on #38065
I have tried many times on latest master up to `566c03a749`. I built successfully once a long time ago. But I did `bazel clean` after that. Also tried removing `--config=cuda`, still failed with the same reason.

[2020-04-01 01:55] #37822 closed

[2020-04-01 02:06] dMokaMoka opened #38096 "tensorflow::mutex occasionally fails on aarch64 platform"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): **`No`**
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): **`Linux Ubuntu 18.04`**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: **`NA`**
- TensorFlow installed from (source or
binary):**`source`**
- TensorFlow version

[2020-04-01 02:14] nikhil-mathew-td commented on #32799
@tanzhenyu the original code to reproduce with DenseFeatures still fails but at a new location. Now the code fails at model.fit() with the following error:
[code]
The code goes through if the  tf.data.Dataset.from_tensor_slices only includes the columns being used by DenseFeatures and **no additional columns**. Meaning the feature_columns list provided to the DenseFeatures __init__ must include al

[2020-04-01 02:16] sjtusmartboy opened #38097 "How to create a custom distribution strategy on Tensorflow"
I know this question should be asked on Stackoverflow. But it seems that no one has the courage to answer [this](https://stackoverflow.com/questions/57852705/how-to-create-a-custom-distribution-strategy-on-tensorflow) question for half an year. So I'm trying some luck on the github, hoping there are someone who has the expertise that could give some instructions on how to realize the model paralle

[2020-04-01 02:44] tanzhenyu commented on #32799
Can you use print(tf.__version__) and let us know the output?

[2020-04-01 02:44] tanzhenyu commented on #32799
```tf.__version__```

[2020-04-01 02:47] nikhil-mathew-td commented on #32799
`tf.__version__` is the following : `'2.2.0-dev20200331'`

[2020-04-01 02:53] OrielResearchCure commented on #38086
copying to datalab notebook with tensorboard 1.14, I was able to get the scalars but not the confusion matrix images.
[code]

code for confusion matrix is taken from https://www.tensorflow.org/tensorboard/image_summaries

Will keep on trying and will let you know, Please let me know if you have any idea how to proceed.
Thanks,
eilalan

[2020-04-01 03:00] weinixuehao commented on #26297
![image](https://user-images.githubusercontent.com/17869361/78094522-4df95380-7407-11ea-95f0-df2752e60310.png)
Why transformedData print out zero value after glDispatchCompute invoked
Where is wrong?
I need to inpect the ssbo value after copyCamtextToSsbo if has an better method?
@impjdi

[2020-04-01 03:03] tanzhenyu commented on #32799
That's odd. The results I'm getting is:
tensorflow version 2.2.0-dev20200331
wrapper ||call - predict|| = 0.0
wrapper predict = [[90.]] ; correct is 3*7+5*11= 76
wrapper call = [[90.]] ; appears to do 5*(7+11)= 90

[2020-04-01 03:13] PonraJS-21 commented on #38068
Sorry what you mean by `github gist preferably colab with data` , are you asking for sample code

[2020-04-01 03:15] sibadakesi opened #38098 "when i use tf.contrib.lite.Interpreter(model_path="xxxx.lite")"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**The output from the converter invocation**

[code]

**Failure de

[2020-04-01 03:18] nikhil-mathew-td commented on #32799
Ah I see, that's the code snippet provided by @MartinMohlenkamp, yup that one returns the result you provided. I was referring the original code snippet I provided in the issue description above. The snippet is larger, so my apologies, but that's the one that's failing.

[2020-04-01 03:37] jvishnuvardhan commented on #37630
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-01 03:37] #37630 closed

[2020-04-01 03:54] amahendrakar commented on #38087
@rishabhgautam01,
Could you please check [this](https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156) comment on a similar issue and let us know if it helps. Thanks!

[2020-04-01 03:55] howl-anderson commented on #37818
@pavithrasv Please take a look, thank you!

[2020-04-01 04:03] Saduf2019 commented on #37956
@TheProgrammerIncarnate
In that case please confirm if we may move this issue to closed status

[2020-04-01 04:14] #37972 closed

[2020-04-01 04:20] gadagashwini commented on #38080
@csongornagy, Can you please share a standalone code to reproduce the issue? Thanks!

[2020-04-01 04:29] zzj0402 commented on #34834
[code]

The above sample code reproduces the error:

[code]

I am using Python 3.6.6 on Mac with TF 2.1

[2020-04-01 04:45] Arktius commented on #38067
That's what I've already written. But people want to know how to write their own custom loss and if the loss is not symmetric, it does matter.

[2020-04-01 05:02] csongornagy commented on #38080
Yeah, so this is the code I am using, the official code from the tensorflow website:
https://www.tensorflow.org/lite/guide/get_started
(I have also tried the quntized version of the code, still the same error)

[code]

[2020-04-01 05:12] jvishnuvardhan commented on #33878
@georgesterpu Is this still an issue. I ran your code with `tf-nightly` and found results were asserted for the first three conditions and only failed for the last condition. However, this could be related to numerical error as the numerical mismatch is in 5th decimal.
[code]

Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/2f27b3eb5cb8921d82d0494327e5b97a/untitl

[2020-04-01 05:16] Saduf2019 commented on #37872
@tirthasheshpatel
could you please let us know what version of tensorflow are you facing this issue in

[2020-04-01 05:24] t-niroc opened #38099 "Use only tensorflow-lite-gpu aar file"
I am trying to build an image recognition app and have a ML model ready which I have converted to .tflite type for using. I have used tflite and tflite-gpu aar files in my project for performing inference with the model and deployed it on my devices and it works fine. But I am concerned about the apk size after including these two aar. Is it possible to use just tflite-gpu aar file for my app? Or

[2020-04-01 05:33] py4 opened #38100 "tensorflow training stuck after "Successfully opened dynamic library libcublas.so.10.0""
I'm using TF 1.13 with cuda 10. I'm training a model but the TF code freezes after printing `Successfully opened dynamic library libcublas.so.10.0`. The GPU memory was all occupied and the CPU was also fully occupied meaning that it was not a deadlock or something (my problem I think is different than issue #32017).
The training script:

[code]

Output:
[code]
I enabled `TF_CPP_MIN_VLOG_LEVEL=2` a

[2020-04-01 05:45] ravikyram commented on #38098
@sibadakesi

Can you please let us know which Tensorflow version you are using? .Also, request you to share simple standalone code with supporting files to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-04-01 05:57] MachineJeff opened #38101 "How to build op in tensorflow's static graph for unknown rank tensor"
## Problem 1
[code]
I want to split it into:
[code]
However, if the tensor's shape is None, such as
[code]
How to build this **op** in tensorflow's static graph?

## Problem 2
In addition，
[code]
I want to build a series tensor based on `tensor x`:
[code]
Just the same as the Problem 1, if the tensor's shape is None, how to build this *op* in tensorflow's static graph?

[2020-04-01 06:00] tirthasheshpatel commented on #37872
Tensorflow V2.2

On Wed, 1 Apr, 2020, 10:47 AM Saduf2019, <notifications@github.com> wrote:

[2020-04-01 06:06] ravikyram commented on #37210
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-01 06:06] #37210 closed

[2020-04-01 06:22] meibenjin commented on #30121
HI, @yuefengz , any update about this issue? https://github.com/kubeflow/tf-operator/issues/1139

[2020-04-01 06:23] hristo-vrigazov commented on #32093
The pull request was recently into master, so this one is ready! Awesome!

[2020-04-01 06:23] payne4handsome commented on #32895
@Saduf2019
Yes, the issue still persist in nightly.
Please follow this link to replicate this issue.
https://colab.research.google.com/drive/19hYQVHxVK310e9KT4Wz1-PathzwkY9xC

[2020-04-01 06:27] Nithanaroy commented on #38059
Yeah, looking at the older docs on Github, I realized it would be a useful
extension to use git's power to extract when an API or its attributes were
introduced or modified automatically, without any additional work from TF
developers. As you might know many other popular libraries like pandas,
sklearn and even Python itself use this approach. Many a times this
information prompted me to upgrade m

[2020-04-01 06:37] ravikyram commented on #32093
@hristo-vrigazov

Please close this thread if it solves your question. Thanks!

[2020-04-01 06:39] fcqfcq opened #38102 "tensorflow1.15, Here is a list of operators for which you will need custom implementations: ReorderAxes.RandomStandardNormal"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04)  : ubuntu18.04
- TensorFlow installed from (source or binary):   conda
- TensorFlow version (or github SHA if from source): 1.15

**Provide the text output from tflite_convert**

[code]

**Standalone code to reproduce the issue**
Provide a reproducible test case that is the bare minimum necessary to generate
the probl

[2020-04-01 06:40] fcqfcq commented on #38102
Some of the operators in the model are not supported by the standard TensorFlow Lite runtime and are not recognized by TensorFlow. If you have a custom implementation for them you can disable this error with --allow_custom_ops, or by setting allow_custom_ops=True when calling tf.lite.TFLiteConverter(). Here is a list of builtin operators you are using: ADD, CONV_2D, FLOOR_DIV, FULLY_CONNECTED, GAT

[2020-04-01 06:42] fcqfcq commented on #38102
converter = tf.lite.TFLiteConverter.from_saved_model(PATH)
    print(dir(converter))
    #converter.experimental_new_converter = True  ####
    #converter.allow_custom_ops = True

    converter.optimizations = [tf.lite.Optimize.DEFAULT]
    converter.target_spec.supported_types = [tf.float16]
    converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS,

[2020-04-01 06:43] 2696120622 commented on #32450
@joyalbin
Hello, I have encountered the same error:
"Error recorded from training_loop: logits and labels must be broadcastable: logits_size=[4000,2] labels_size=[8,2]"
How to fix this error?

[2020-04-01 06:48] Saduf2019 commented on #38062
@kalaluthien
i ran the code shared by you but face a different error, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/deac57fdb0414f1bc02549bae098356a/38062.ipynb)

[2020-04-01 06:51] #32093 closed

[2020-04-01 06:54] quetil opened #38103 "custom training logic in subclassing model not saved"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g.,Linux Ubuntu 16.04): Google Colab (Windows/Linux as well)
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): TensorFlow 2.2.0RC2
- Python version: 3.7

**Describe the current behavior**
Hi all

[2020-04-01 07:00] ravikyram commented on #38073
@vk1z

Can you please share colab link or simple standalone code with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-04-01 07:03] Gayathri-K-2000 commented on #22512
I have tried all the above methods. But still getting this error.

I have a doubt. Actually what are the things to be installed to get tensorflow work?
Is not we install tensorflow with pip enough? But that shows this error.

Type "help", "copyright", "credits" or "license" for more information.
import tensorflow
Traceback (most recent call last):
  File "F:\lib\site-packages\tensorflow_core\pytho

[2020-04-01 07:05] DeviLeo commented on #32104
@goldiegadde and @tanzhenyu I have tried on `tf 2.2.0-rc2` with eager mode **disabled** and the issue has gone. But with eager mode **enabled**, both on `tf 2.2.0-rc2` and `tf 1.15.2` are slower.

**Eager mode: Disabled**
[code]

[code]

**Eager mode: Enabled**
[code]

[code]
So, I think the issue is solved.

Thank you all.

[2020-04-01 07:05] #32104 closed

[2020-04-01 07:26] fcqfcq commented on #38102
PATH  = './savedmodel'
    converter = tf.lite.TFLiteConverter.from_saved_model(PATH)
    print(dir(converter))
    #converter.experimental_new_converter = True  ####量化
    #converter.allow_custom_ops = True

    converter.optimizations = [tf.lite.Optimize.DEFAULT]
    converter.target_spec.supported_types = [tf.float16]
#     converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS,

[2020-04-01 07:27] zaccharieramzi commented on #15576
I know this issue has been closed for being too broad, but I am still wondering whether it should be considered for people trying to optimize their model.
In particular, [this section](https://www.tensorflow.org/guide/profiler#improve_device_performance) specifies that you should use half-precision to improve device performance, but it isn't possible with complex dtypes (which are needed for Fouri

[2020-04-01 07:29] Arktius commented on #38067
Code:
[code]
Results:
[code]

[2020-04-01 07:36] sirius0503 commented on #37706
Sure, here is the [tflite model](https://drive.google.com/file/d/1l37Ta6kcQMkEAHKlWL9dwPx3-U411xhv/view?usp=sharing), plz use this model for testing.

[2020-04-01 07:49] amahendrakar commented on #38075
@soumyadeepabhaumik,
I was able to reproduce the issue with [TF v2.2.0rc2](https://colab.research.google.com/gist/amahendrakar/0d207dfe652f6cb0b0b6291db2bbb7a1/38075-2-2.ipynb). However, the issue seems to be fixed with the latest [TF-nightly](https://colab.research.google.com/gist/amahendrakar/67bfd7bb5ebe4eb7513650dfa4847bd0/38075.ipynb) i.e. TF v2.2.0-dev20200331. Please find the attached gist.

[2020-04-01 07:56] #37871 closed

[2020-04-01 07:57] FirefoxMetzger commented on #38004
Sure: `tf.__version__ == '2.0.0'`
Minimal (not) working example to demonstrate the problem:
[code]

Minimal not working example to demonstrate the `Accuracy` metric problem:
[code]
Output:
[code]
The reason for this discrepancy is described in the opening comment.

[2020-04-01 07:59] sdu2011 opened #38104 "post_training_quant does not change weights from fp32 to int8"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
NO
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04):
ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device:
- TensorFlow installed from (source or
binary): - TensorFlow version (use command below):
conda  tensorflow

[2020-04-01 08:00] sbsky commented on #31205
@amahendrakar, no this is a further regression.  It seems that the previous workaround of reallocating tensors no longer functions.  tflite difference should be 0 & match concrete function output.

[2020-04-01 08:18] impjdi commented on #26297
Not super familiar with Java `ByteBuffer` and `FloatBuffer`, but aren't you missing a `glFinish` before you start reading from the memory location?

[2020-04-01 08:30] rakeshmothukuru1 opened #38105 "Information about Keras Tuner is missing in tensorflow.org website"
## URL(s) with the issue:
https://youtu.be/aNrqaOAt5P4?list=PLQY2H8rRoyvzuJw20FG82Lgm2SZjTdIXU&t=660

## Description of issue (what needs changing):
In the [TF Dev Summit 2020](https://youtu.be/aNrqaOAt5P4?list=PLQY2H8rRoyvzuJw20FG82Lgm2SZjTdIXU&t=660
), Paige Bailey has talked about **Keras Tuner** and has shown its implementation. I liked the functionality but I couldn't information/documentatio

[2020-04-01 08:31] dauras opened #38106 "implicit conversion from 'int' to 'float' changes value from INT_MAX to INT_MAX+1"
Clang warns

[code]
about this code
https://github.com/tensorflow/tensorflow/blob/bda5ba03da606b0d41fa3282de0108c3e98cff8e/tensorflow/lite/micro/micro_utils.cc#L106-L115

So, if `round(value/scale)` ever happens to be INT_MAX+1, it is not saturated as intended, instead has undefined wrap-around behavior (overflow is undefined for signed int,).

[2020-04-01 08:33] amahendrakar commented on #38097
@sjtusmartboy,
Could you please take a look at [this](https://www.tensorflow.org/guide/distributed_training) official TensorFlow guide for distributed training and the [overview](https://www.tensorflow.org/api_docs/python/tf/distribute) for tf.distribute and let us know it helps? Thanks!

[2020-04-01 08:34] sdu2011 commented on #28485
when would control flow ops: Merge, Switch be supported

[2020-04-01 08:37] Ruma-Dhanawate opened #38107 "https://www.tensorflow.org/install/errors"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2020-04-01 08:48] amahendrakar commented on #38105
@rakeshmothukuru1,
[This TensorFlow Blog post](https://blog.tensorflow.org/2020/01/hyperparameter-tuning-with-keras-tuner.html) about Keras Tuner points to the official [GitHub repo](https://github.com/keras-team/keras-tuner), which has the link to the [Keras Tuner documentation](https://keras-team.github.io/keras-tuner/).
Could you please check these link and let us know if it helps? Thanks!

[2020-04-01 08:53] zerollzeng opened #38108 "(SOLVE) while convert SavedModel to tflite: ValueError: as_list() is not defined on an unknown TensorShape."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 2.1.0

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**The output from the converter invocati

[2020-04-01 08:59] zerollzeng commented on #38108
by the way I am not very familiar with tensorflow, does anyone can tell me how to find the input/output node of my model? currently I check it via Netron but the render is totallly a mess

[2020-04-01 09:10] wangweitong commented on #37945
import os
import pickle

import tensorflow as tf

from util.train_model_util_TensorFlow import train_test_model_demo

os.environ["CUDA_VISIBLE_DEVICES"] = "2"

EPOCHS = 5
BATCH_SIZE = 2048
AID_DATA_DIR = '../data/Criteo/forOtherModels/'  # 辅助用途的文件路径

class DeepFM(tf.keras.Model):
    def __init__(self, num_feat, num_field, dropout_deep, dropout_fm,
                 reg_l1=0, reg_l2=0, layer_sizes=

[2020-04-01 09:12] wangweitong commented on #37945
It's the code which I have trouble with

[2020-04-01 09:28] weinixuehao commented on #26297
@impjdi @svenstaro @ktgordon @SanthoshRajendiran @gnsmrky
You can think FloatBuffer as a float * pointer(buffer) in c++
I have tried with glFinish but the same result
![image](https://user-images.githubusercontent.com/17869361/78121376-e5799900-743d-11ea-99a6-68836da0bb0a.png)
![image](https://user-images.githubusercontent.com/17869361/78121408-ef030100-743d-11ea-85c2-1efd7a902fb6.png)

[2020-04-01 09:37] Saduf2019 commented on #31171
@janprz
please update on the above comment

[2020-04-01 09:37] ivan-zidov commented on #34396
Same problem here as well

[2020-04-01 09:40] ali9653 opened #38110 "Semantic search BERT model to TFLITE"
0

I have this code for semantic search engine built using the pre-trained bert model. I want to convert this model into tflite for deploying it to google mlkit. I want to know how to convert it. I want to know if its even possible to convert this into tflite. It might be because its mentioned on the official tensorflow site :https://www.tensorflow.org/lite/convert. But I dont know where to begin

[2020-04-01 09:54] #37191 closed

[2020-04-01 09:58] Saduf2019 commented on #38103
@quetil
I have executed the code shared by you and get different error please refer to [this gist](https://colab.sandbox.google.com/gist/Saduf2019/936ac77698c63786e9c563e07da7797e/untitled121.ipynb).

with respect to the error faced there is a similar resolved issue please refer to this [comment](https://github.com/tensorflow/tensorflow/issues/37141#issuecomment-592737155)  and let us know if it h

[2020-04-01 10:01] Saduf2019 commented on #38107
@Ruma-Dhanawate
please update the template, we cannot find the tensorflow version, steps followed before you faced the error and error logs for us to analyze the issue.

We ask for this in the issue submission template, because it is really difficult to help without that information. Thanks!

[2020-04-01 10:04] renatomello commented on #38038
Just want to point out that, regardless of using tf_nightly, the conde only runs when `model.run_eagerly = True` passed.

All in all, the issue can be closed.

[2020-04-01 10:04] #38038 closed

[2020-04-01 10:05] maxkaustav commented on #38091
fixing this issue

[2020-04-01 10:09] ChinaChenp commented on #32677
Hi, Have you solved the problem ?  build Tensorflow 2.0 on CentOS 7.6 with gcc 4.8.5

[2020-04-01 10:13] ChinaChenp commented on #32677
@henrysky  Hi, Have you solved the problem, build Tensorflow 2.0 on CentOS 7.6 with gcc 4.8.5?

[2020-04-01 10:19] lip-realmax commented on #37966
Same. Tensorflow states [supports for many others](https://www.tensorflow.org/api_docs) but could find an example or guide for using to in C++. Even [installation is on Python only](https://www.tensorflow.org/install).

[2020-04-01 10:22] vk1z commented on #38073
Will do so today.

[2020-04-01 10:24] georgesterpu commented on #33878
@jvishnuvardhan thank you very much for the follow up.
As far as I understand, this may be a side effect of an optimisation.
One of the eigen developers wrote that `Having (even slightly) different results for the same input is not good.`

Looking at the commit history in ` Eigen/src/Core//functors/UnaryFunctors.h`, I think that @rmlarsen is the most qualified to clarify this.

[2020-04-01 10:44] bjtho08 commented on #37990
@pavithrasv Can I ask what is the reasoning behind this change? You mention refactoring to make things consistent, but how was the previous behavior inconsistent?

[2020-04-01 11:09] Saduf2019 commented on #32895
@payne4handsome
i have run the gist shared by you on nightly and there are no errors, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/23705cc14b2ab78014af887d9d3ac1e0/32895.ipynb)

[2020-04-01 11:10] Saduf2019 commented on #37019
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-01 11:10] #37019 closed

[2020-04-01 11:12] rakeshmothukuru1 commented on #38105
@amahendrakar ,
 In my opinion, it will be better to add the documentation in Tensorflow.org site because many people refer that site rather than many different sites. If this Functionality has to be used along with Tensorflow, then its documentation should be present in the Official Tensorflow Website.

[2020-04-01 11:13] Saduf2019 commented on #37611
@Aditya-shahh
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-01 11:13] #37611 closed

[2020-04-01 11:15] Saduf2019 commented on #37621
@lvjunsetup
could you please update as per above comment

[2020-04-01 11:16] Saduf2019 commented on #37643
@pikaliov
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-01 11:16] #37643 closed

[2020-04-01 11:20] payne4handsome commented on #32895
@Saduf2019
Please compare the results that have great differences.  First result  accuracy is 97.86444091796875 after 15 epochs. Second result  accuracy is 47.27222442626953 after 15 epochs

[2020-04-01 11:26] Saduf2019 commented on #37945
@wangweitong
i have tried to run the code shared by you on nightly, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/3c68f682d5ac697c927378f0a2c36cc5/37945.ipynb)
please share indented code so we could replicate the error faced by you.

[2020-04-01 11:27] amahendrakar commented on #38110
@ali9653,
If you have saved your model to a file, then you can use the TFLite converter Python API to convert your model to TFLite. Please follow [this](https://www.tensorflow.org/lite/convert/python_api) official guide to convert your saved model. Thanks!

[2020-04-01 11:27] gadagashwini commented on #37824
@Rajeshwari210, This issue is not related to Tensorflow can you post this issue in relevant repo TFjs. Thanks

[2020-04-01 11:34] gadagashwini commented on #37933
@ellaJin, Please follow the instructions mentioned [here](https://www.tensorflow.org/guide/migrate)  and use upgrade script to convert from Tf1 to Tf2. Find more details [here](https://www.tensorflow.org/guide/upgrade). Thanks

[2020-04-01 11:36] HopefulRational commented on #37654
@siyuany hi... could you please reply to my latest comment.. thanks :)

[2020-04-01 11:37] gadagashwini commented on #38039
@dauras , Please provide the standalone code to reproduce the issue. Thanks

[2020-04-01 11:38] gadagashwini commented on #38044
@Ljl-Jdsk, Please share the complete standalone to replicate the reported issue. Thanks!

[2020-04-01 11:40] eaaarmah commented on #31901
I also have the same problem

Some of the operators in the model are not supported by the standard TensorFlow Lite runtime. If those are native TensorFlow operators, you might be able to use the extended runtime by passing --enable_select_tf_ops, or by setting target_ops=TFLITE_BUILTINS,SELECT_TF_OPS when calling tf.lite.TFLiteConverter(). Otherwise, if you have a custom implementation for them yo

[2020-04-01 11:40] gadagashwini commented on #38071
@noticebo, Can you provide the standalone code to reproduce the issue. Thanks!

[2020-04-01 11:41] amahendrakar commented on #38101
@MachineJeff,
Could you please check out the [tf.split](https://www.tensorflow.org/api_docs/python/tf/split) function and let us know if it helps?

Attached [gist](https://colab.research.google.com/gist/amahendrakar/605e97853dfa61458a334e75e4129ae8/38101.ipynb) for reference. Thanks!

[2020-04-01 11:45] gadagashwini commented on #38100
@py4, Can you provide the standalone code snippet to replicate the reported issue here. Thanks!

[2020-04-01 11:49] eaaarmah opened #38113 "Custom Implementation for FusedBatchNormV3"
**System information**
- Linux Ubuntu 18.04:
- TensorFlow installed from (source ):
- TensorFlow version 2.0

**Provide the text output from tflite_convert**

[code]

**Standalone code to reproduce the issue**
converter = tf.lite.TFLiteConverter.from_keras_model(model)
converter.experimental_new_converter = True
tflite_model = converter.convert()

**Any other info / logs**

-----------------------

[2020-04-01 11:49] draxdave commented on #25227
@tomerk First of all, thanks for your quick response.
Yes I'm trying to use Object detection library. This is what I did (may save some time for others) :

- I Installed TFv2.2 as a default released version but it gave me `Illegal instruction` so I built it from the source. After building and installing it, I got `no attribute 'contrib'` Error.
- So I built TFv1.14 release as a tutorial was moving

[2020-04-01 11:54] bby1220 opened #38114 "[BUG] map method of tf.data.Dataset has a bug, TensorFlow version = 2.1.0"
One example of map method in the following official website said that map_func get same shape and dtype as 'tf.Tensor', however it's NOT
https://www.tensorflow.org/api_docs/python/tf/data/Dataset#map
[code]

According to the official example, I think `item` in `_func` of the following code should be an EagetTensor but it turns out to be a Tensor instead.
[code]
I want to use .numpy() to convert an

[2020-04-01 12:08] ali9653 commented on #38110
How can I save this model its a pre-trained model. The link does not have instructions of converting a bert model

[2020-04-01 12:17] jetjodh commented on #38100
I am having the same issue.
With TF 1.13.1 + CUDA 10.1 + Win10

[2020-04-01 12:24] FunkyGibbon commented on #33924
https://github.com/tensorflow/tensorflow/issues/37942

[2020-04-01 12:26] Gaozhongpai commented on #23473
Hi, I have the same problem.

2020-04-01 20:21:43.695815: E tensorflow/stream_executor/cuda/cuda_blas.cc:652] failed to run cuBLAS routine cublasGemmBatchedEx: CUBLAS_STATUS_NOT_SUPPORTED
2020-04-01 20:21:43.695883: E tensorflow/stream_executor/cuda/cuda_blas.cc:2574] Internal: failed BLAS call, see log for details

InternalError (see above for traceback): Blas xGEMMBatched launch failed : a.shape

[2020-04-01 12:32] eaaarmah opened #38116 "Error converting MobileNet and MobileNetV2 to tflite (FusedBatchedNormV3)"
**System information**
Linux Ubuntu 18.04:
Used pip install, conda install
Used 2.0.0 , 2.1.0, tf-nightly 2.2.0-dev20200401

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**The output from the converter invocation**

[code]

[2020-04-01 12:39] quetil commented on #38103
Hi @Saduf2019, thanks for the quick reply.

Please refer to [this new gist](https://colab.research.google.com/gist/quetil/5e92fb9af7cc959f8fe62f1090ef31e7/custom-train_step-in-subclassing-model.ipynb). I used the last tf-nigthly. The train_step is not saved and once loaded, it's using the default train_step.

Thanks

[2020-04-01 13:04] Gilthans opened #38117 "Using tf.constant in the model causes saving to fail"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): **Yes**
- OS P

[2020-04-01 13:06] abpalaciot commented on #37993
Because it's the latest version of TensorFlow that works in Google Cloud Functions. The newest versions can't be installed beacuse pip was not updated.

[2020-04-01 13:21] Strateus commented on #36116
Same here: i extract losses from several layers, but loss function is the same for me. Compilation succeeds, but **.fit** fails:

p.s. **.predict** might be a different issue, it works fine for me.

[2020-04-01 13:35] devpunjabi opened #38119 "Custom loss function with tf.keras"
As far as I have read and researched there is no way to use a custom loss function which uses more than the standard input variables (y_true, y_pred) in a keras model.
Meaning using a Keras Sequential model as it is and just using a custom loss function.
Which makes it difficult to use tf Estimator and gpu computing.
Please let me know if I am missing something or this is something which can be do

[2020-04-01 13:39] ravikyram commented on #37993
I have tried with TF 2.0.0-beta1 version and able to reproduce the issue. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/1d2c869abde58415689c62a1e1cd1e75/untitled758.ipynb). Thanks!

[2020-04-01 13:46] nouiz opened #38120 "TF_GPU_ALLOCATOR=cuda_malloc and the GPUBFC allocator is still used."
### Describe the problem
Describe the problem clearly here. Be sure to convey here why it's a bug in TensorFlow or a feature request.

When setting the TF_GPU_ALLOCATOR=cuda_malloc env variable, I expect the GPUBFC allocator to not be used. But I have a case where the GPUBFC allocator is still used.

Having it work as expect would help separate OOM that are due to memory fragmentation issue vs oth

[2020-04-01 13:53] leocnj commented on #35356
Just tried the code on Tensorflow 2.1 inside a Nvdia NGC docker image `20.03-tf2-py3`, which was released on 3/25/2020. Unfortunately, in both Strategy conditions, I always met the runtime error.

When tested on a local installation (TF 2.1) using pip, `OneDevice` passes while `Mirror` fails.

[2020-04-01 14:11] Kokonut133 commented on #25446
I have placed this right before defining a keras Model() instance and compiling it. My taskmanager yet still shows that indepdently all video card memory is taken. What am I doing wrong?

[2020-04-01 14:14] fabian57fabian commented on #38045
SOLVED.
I retrained a model based on ssd_mobilenet_v1_quantized_300x300_coco14_sync.
Executing detection with ssd_mobilenet_v2_coco_quant_postprocess_edgetpu.tflite gives more than 10 results.
So the problem was the way i trained my model. It had 10 placeholders for 10 bboxes.

[2020-04-01 14:14] #38045 closed

[2020-04-01 14:21] darien-schettler commented on #26502
This is still occuring with the latest Tensorflow Version installed and the latest version of PyCharm community installed.

Please address this as it's annoying.

[2020-04-01 14:30] MartinMohlenkamp commented on #32799
@tanzhenyu note that when you ran my code snippet, call and predict agreed, but both gave the incorrect output.

[2020-04-01 14:32] rambail opened #38122 "'tensorflow._api.v2.compat.v2.compat' has no attribute 'v1'"
I am working on Ubuntu 19.10.
I have installed tensorflow version '2.0.0-beta1'
I have installed tensorflow-dataset version '2.1.0'
When I try to load mnist dataset, I get the following error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/umesh/.local/lib/python3.7/site-packages/tensorflow_datasets/core/api_utils.py", line 52, in disallow_positional_args_d

[2020-04-01 14:37] #37786 closed

[2020-04-01 15:02] hardianlawi commented on #37963
Hi @jsimsa, thank you for your reply. I tried replicating it in non-eager and still experienced the same issue.

Why are you saying that `cache` does not work with eager mode in TF 1? By "does not work", do you mean it will not behave properly?

[2020-04-01 15:08] ysyyork commented on #33085
I'm trying it with today's (apr 1st 2020) nightly build. Still seeing this issue.

[2020-04-01 15:12] chaaland commented on #36634
@gowthamkpr bump on this issue

[2020-04-01 15:23] johannafrost opened #38126 "Convert 0d tensor into float value"
How can I convert a tensor of rank 0 and dtype float32 into a 'regular' float value? I am not running a session so tf.eval() does not work.

[2020-04-01 15:29] amahendrakar commented on #37858
Was able to reproduce the issue with [TF v2.1](https://colab.research.google.com/gist/amahendrakar/b7254a6f0f6c597612fa57f350b55f45/37858.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/8dfc5eb16936865e723b72b4e0adaae5/37858-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-04-01 15:33] alextp commented on #37982
Email with a description of the plan to developers@tensorflow.org is the right way to start.

I will say though that per the TF API guidelines in https://github.com/tensorflow/community/blob/master/governance/design-reviews.md#programmability--flexibility (specially the programmability section) I am not a fan of a one-push-button switch for this behavior. Can we build it instead out of other piece

[2020-04-01 15:36] TheProgrammerIncarnate commented on #37956
Ok, closing.

[2020-04-01 15:36] #37956 closed

[2020-04-01 15:51] tovaroe commented on #37938
I have the a similar setup as leocd91 (with a Titan Xp) and having the same Problem. Regardless of what I try, cudart64_101.dll isn't found. Tried with anaconda/miniconda and installing with conda or pip (and manual installation of CUDA/CUDNN).
Two more things that might have to do with this problem:
1. I had to set the CONDA_DLL_SEARCH_MODIFICATION_ENABLE to be able to import other packages (such

[2020-04-01 16:12] abhinavsp0730 commented on #38126
Hy, @johannafrost  you can use
[code]
for more info, kindly refer to this documentaiton: https://www.tensorflow.org/api_docs/python/tf/cast

[2020-04-01 16:14] impjdi commented on #26297
Not talking about the "why" part, but isn't your problem solved if you can access `ssboData`?

I also remember that I couldn't find enough examples on the web to make reasonable progress.  What you're asking right now seems slightly out of scope for TFLite GPU support, as you're asking pure OpenGLES compute shader questions.  I suggest asking Khronos forums and/or follow the code paths inside TFLI

[2020-04-01 16:15] abhinavsp0730 commented on #38119
Hey, @devpunjabi yes you can use a custom loss function in keras models. Kindly search for custom training in keras.
Also you can refer here: https://www.tensorflow.org/tutorials/customization/custom_training

[2020-04-01 16:25] jsimsa commented on #37963
In TF 1, memory-based `cache` only support reuse through subsequent `repeat`. This is because the implementation uses an in-memory cache that is owned by the iterator and thus different iterators will have different caches. This is not an issue for file-based caches because different iterators can access the same file-based cache.

This is fixed in TF 2 where a single in-memory `cache` is shared a

[2020-04-01 16:26] akanyaani commented on #37969
Hi @ravikyram,

Please run this code you will be able to generate the issue, I am still facing some issue with Colab notebook that's why I have written normal python code.

First I am creating TF records with similar data which I have and then just iterating over. Using this code you will see a continuous increase in RAM usage and after couple of iteration, it will get killed because of this.
[cod

[2020-04-01 16:28] johannafrost commented on #38126
Doesn't that still return a tensor? I would like to get a float value instead of a tensor, which I can append to a list (initiated by list = []) .

[2020-04-01 16:28] liufengdb commented on #38082
Good catch. The cherry picked cl was not include all the changes. Let me fix it now.

[2020-04-01 16:38] amahendrakar commented on #37892
@taoja12,
I am unable to access the above link. Could you please upload the file in another alternate website? Thanks!

[2020-04-01 16:48] goldiegadde commented on #37968
@lamba92 @DanielMorton thanks for reporting the issue, we are looking into it.

[2020-04-01 16:49] amahendrakar commented on #37942
@jliebers,
Is this still an issue? Please feel free to close the issue if resolved. Thanks!

[2020-04-01 17:00] tianhuat opened #38129 "Reloading Tensorflow 2.1.0 without restarting interpreter"
In the production system  preinstalled with `tensorflow-gpu==1.13.1`, if I need to run `tensorflow-gpu==2.1.0`, I can only install and reload the library, without restarting the system, but reloading the tensorflow library gives me error, how should I resolve it?

To reproduce the problem on a client computer:

1.First

    pip install tensorflow-gpu==1.13.1

2.Then run the following code

    imp

[2020-04-01 17:09] abhinavsp0730 commented on #38126
Hey, @johannafrost
suppose you are having a 0d tensor and you assign to a variable x.
[code]
now "b" is a list and you can easily access the element of the list.

[2020-04-01 17:13] ruipingyin opened #38130 "Gradient Compute Error in Embedding Layers"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes.
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Linux Ubuntu 16.04.
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: No.
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below)

[2020-04-01 17:26] tensorflowbutler opened #38132 "test"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
- OS Platform

[2020-04-01 17:26] #38132 closed

[2020-04-01 17:33] amahendrakar commented on #38041
Was able to reproduce the issue. Please find the Gist [here](https://colab.research.google.com/gist/amahendrakar/e391040cc4d3fe2064732d0741f18d55/38041-2-1.ipynb). Thanks!

[2020-04-01 17:35] yskale opened #38134 "TensorFlow-gpu for GV100 on SUSE 15"
- **OS Platform and Distribution: SUSE 15
- **TensorFlow installed from (source or binary)**: 2.1.0
- **Python version**: 3.6
- **GCC/Compiler version (if compiling from source)**: 7.5.0
- **CUDA/cuDNN version**: 10.5
- **GPU model and memory**: 100 GV

![image](https://user-images.githubusercontent.com/14827177/78168197-8441cd80-741d-11ea-9308-35e8da02be49.png)

Wed Apr  1 10:35:13 2020
+--------

[2020-04-01 17:36] qlzh727 commented on #37840
Should be fixed now. Btw, your code is not providing a correct input data to the model. The np.array([list]) will make the a numpy array with shape [1, ?, ?], and instead, you should do np.array(list).

[2020-04-01 17:36] #37840 closed

[2020-04-01 17:38] devpunjabi commented on #38119
@abhinavsp0730
Hey below is my loss function and by above mentioned methods, I dont think it is possible!

[code]

[2020-04-01 17:38] tripathysa opened #38135 "Keras Model Errors on Loading - 'list' object has no attribute 'items' with TF 2.1"
**System information**

Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ProductName:	Mac OS X, ProductVersion:	10.15.2, BuildVersion:	19C57
TensorFlow installed from (source or binary): pip
TensorFlow version (use command below): 2.1.0
Python version: 3.6.8
CUDA/cuDNN version: None
GPU model

[2020-04-01 17:38] pavithrasv commented on #37990
@briannemsick We are looking into adding a warning as well. Thank you.

@bjtho08 Earlier you will be able to see metrics_name after compile call for functional model but not for subclassed model.

[2020-04-01 17:39] FunkyGibbon commented on #37942
I still have this issue, it happens with every type of RNN i'v tested

[2020-04-01 17:40] tripathysa commented on #38135
[cnn_multichannel_dense_f0_b0.h5.zip](https://github.com/tensorflow/tensorflow/files/4416739/cnn_multichannel_dense_f0_b0.h5.zip)

[2020-04-01 17:42] FunkyGibbon commented on #37942
This is my model
[code]

[2020-04-01 17:50] Qottmann commented on #29781
I wanted to use this for models where model.trainable_variables is a list of Variable Tensors. How do I modify this workaround?

[code]

I get the correct values but for this seems not the best solution for big Neural Networks. How does one typically do this?

[2020-04-01 17:51] amahendrakar commented on #38004
Was able to reproduce the issue with [TF v2.0](https://colab.research.google.com/gist/amahendrakar/2e9acbeb5bad8ac79bd38142705635fd/38004.ipynb), [TF v2.1](https://colab.research.google.com/gist/amahendrakar/26bc1e24371e6d3c36a3b2ca25b1f82d/38004-2-1.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/75c55005e743f9cc3456b71a91b5e6a8/38004-tfnightly.ipynb). Please find the

[2020-04-01 17:53] #33215 closed

[2020-04-01 18:03] alextp commented on #29781
tape.batch_jacobian(grads, [v, w])?

On Wed, Apr 1, 2020 at 10:50 AM Korbinian Kottmann <notifications@github.com>
wrote:

--
 - Alex

[2020-04-01 18:24] Strateus commented on #36116
Here is reproducible example:
[code]

if i convert labels into list, it works:

[code]

Main problem though for me is how to put this into a DataSet, which does not support anything besides tensors, i cannot use above solution for a DataSet, unless i missed some functionality.

[2020-04-01 18:28] ymodak commented on #38108
To [determine the names of input and output nodes](https://developer.arm.com/solutions/machine-learning-on-arm/developer-material/how-to-guides/optimizing-neural-networks-for-mobile-and-embedded-devices-with-tensorflow/determine-the-names-of-input-and-output-nodes) you may use TensorBoard.

[2020-04-01 18:35] liufengdb commented on #38082
Created a fix here: https://github.com/tensorflow/tensorflow/pull/38139

[2020-04-01 19:02] DocDriven commented on #38077
@freedomtan
Thanks for your suggestion, the build just took a while as the board is not the fastest one around.

After 11 hours of compiling, I get another error.

[code]
Also, do I have to run the configure script every time a patch is applied?

[2020-04-01 19:13] bela127 commented on #37982
Ok, Il send the mail.

@alextp
I just reviewed the TF API guidelines, and instead of the "one button" solution with `tf.config.experimental.set_lms_enabled(True)` (as it is implemented by IBM) one could implement a context manager.
something like:
`with auto_swap_tensors_to_dev("cpu"):`
every tensor defined in the context gets swaped, but you can swap different tensors/model parts to other devs.

[2020-04-01 19:19] johannafrost commented on #38126
Thank a lot for the replies. Not sure how I can apply that to a 0d tensor though, since neither tensor.numpy() or list(tensor) works.

[2020-04-01 19:22] abhinavsp0730 commented on #38126
Hey, @johannafrost it worked for me would you please provide your colab notebook?

[2020-04-01 19:26] suu98 opened #38140 "AttributeError: 'list' object has no attribute 'items'"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or
binary): pip
- TensorFlow version (use command below): tensorflow 2.1.0
- Python version: Python 3.7.7
**Describe the current behavior**
when run the file : app.py ,

[2020-04-01 19:31] alextp commented on #37982
My main concern is that multiple one-button solutions tend to not combine
well with each other and with unforeseen features of TF.

On Wed, Apr 1, 2020 at 12:13 PM Bela Böhnke <notifications@github.com>
wrote:

--
 - Alex

[2020-04-01 19:33] abhinavsp0730 commented on #38126
Whenever you're doing any typecasting then assign it to another variable.
[code]

[2020-04-01 19:39] bela127 commented on #37982
I fully understand, one button solutions are nice for high level work, but for low level work, multiple single functionality is much better composable.

that is why i tried to decompose the one button solution

[2020-04-01 19:51] rodrigoruiz commented on #33646
`tf-nightly` works, but doesn't run on the GPU.

[2020-04-01 19:59] bela127 commented on #37982
i just recognized that this feature request is basically, the request for a hook into tensorflows tensor memory management strategy.

at the moment tensorflow only knows the, "calculate and keep" strategy, but there are a lot of possible [other strategies](https://github.com/cybertronai/gradient-checkpointing#how-it-works) and every thing between them, like moving tensors to other memory devs.

Hi

[2020-04-01 19:59] zmjjmz commented on #32557
I'm encountering segmentation faults while using this estimator as well, on version 2.1.0. The backtrace is [here](https://gist.github.com/zmjjmz/52e572033f0619eb9f2786420ee92985).

My environment is:
- Debian 9 x86_64
- Python 3.5.3
- Tensorflow v2.1.0-rc2-17-ge5bf8de 2.1.0

I'd believe that this issue is related to the above issues, but if it's helpful for me to file a new ticket and reproduce i

[2020-04-01 20:03] Bstrum36 opened #38141 "TensorFlow Developer Certificate"
Does the  TensorFlow exam include Keras?

Are there any sample tests available for review?

[2020-04-01 20:08] yongtang commented on #37638
@mdanatg @llan-ml I added a PR #38142 to address the `sparse.transpose` issue. For the other issue `sparse.reduce_sum`, it is inference from the C++ `SparseReduceSumSparse` ops which
will output unknown shape anyway. So it may not be easily fixable. I leave the `sparse.reduce_sum`.

Please take a look at PR #38142 for shape of `sparse.transpose`

[2020-04-01 20:13] MakGulati commented on #1511
i had same kind of error and i also checked 'tf.trainable_variables()' so there are some trainable params but few on them are untrainable as i set them. My idea is to do partial gradient flow. Is there any way to fix this?

Thanks a bunch. :)

[2020-04-01 20:16] bmc2-stripe opened #38143 "WideDeepModel cannot be serialized with tf.saved_model.save"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  No
[I used an example script, then tried to save it]
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or
binary): - TensorFlow version (use command below):
- Python version: - Bazel
version (if compiling from sour

[2020-04-01 20:28] jvishnuvardhan commented on #33646
@rodrigoruiz Can you please open a new issue with details and a simple standalone code to reproduce the issue? Currently `TF2.2.0rc2` is the latest release candidate. I expect there will be TF2.2 stable version will be released in the near future. Thanks!

[2020-04-01 20:32] rodrigoruiz commented on #33646
@jvishnuvardhan I think i figured it out, `tf-nightly` does not run on GPU, `tf-nightly-gpu` does... It's just that this is not specified in the docs.
I'll just wait for the stable version I guess.

[2020-04-01 20:47] ali9653 commented on #34396
I want to convert universal sentence encoder to TfLite for building a semantic search engine. Can anyone help me?

[2020-04-01 21:53] jvishnuvardhan commented on #38004
@FirefoxMetzger As mentioned in the error, I changed metric in the compile from `metrics=[tf.keras.metrics.CategoricalAccuracy()]` to `metrics=['accuracy']. With that change everything worked as expected. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/d710e8f57df61a6446f1845eebdd43a5/untitled54.ipynb).

Please close the issue if this was resolved for you. Thanks

[2020-04-01 22:12] rodrigoruiz commented on #33924
@FunkyGibbon I tried the proposed solution with the `batch_input_shape` if that's what you meant.
It doesn't crash anymore, but doesn't even start training... it's just stuck before starting the first epoch. i.e., still running, but nothing is actually happening.

[2020-04-01 22:12] mekhaaa opened #38144 "bug issue"
Traceback (most recent call last):
  File "C:\Users\ahmed\miniconda3\envs\tensorflow1\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\ahmed\miniconda3\envs\tensorflow1\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 28, in <module>
    _pywrap_tensorflow_internal

[2020-04-01 22:14] #38144 closed

[2020-04-01 22:15] mekhaaa opened #38145 "bug issue"
Traceback (most recent call last):
  File "C:\Users\ahmed\miniconda3\envs\tensorflow1\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\ahmed\miniconda3\envs\tensorflow1\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 28, in <module>
    _pywrap_tensorflow_internal

[2020-04-01 22:32] dmadisetti opened #38147 "`tf_http_archive` in RC breaks with Bazel 2.2.0"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Ubuntu 18 (https://hub.docker.com/r/dmadisetti/nvidia-ibazel)
- TensorFlow installed from (source or binary): Source
- TensorFlow version: tensorflow-2.2.0-rc2
- Bazel version (if compiling from source): 2.2.0
- GCC/Compiler version (if compiling from source): clang-9
- CUDA/cuDNN version: 10.1

**Describe the probl

[2020-04-01 22:34] tensorflowbutler commented on #38145
From the template it looks like you are installing **TensorFlow** (TF) prebuilt binaries:

* For TF-GPU - See point 1
* For TF-CPU - See point 2

-----------------------------------------------------------------------------------------------

**1. Installing **TensorFlow-GPU** (TF) prebuilt binaries**

*TF Version >= 1.13 requires CUDA 10.0 and TF Version < 1.13 (till TF 1.5) requires CUDA 9.0.*

[2020-04-01 22:37] pavithrasv commented on #37990
@briannemsick there are constraints because of which we will not be able to add a warning but we have updated the docs with a note and examples to clarify the behavior.

[2020-04-01 22:41] py4 commented on #38100
@gadagashwini it's not really possible. Some part of it is a confidential code (I replaced our own dataset with div2k). Isn't there any clue in the TF C++ logs?

[2020-04-01 22:45] rthadur opened #38148 "test"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2020-04-01 22:46] #38148 closed

[2020-04-01 22:46] #37990 closed

[2020-04-01 23:11] rthadur opened #38149 "test"
Traceback (most recent call last):
File "C:\Users\ahmed\miniconda3\envs\tensorflow1\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in
from tensorflow.python.pywrap_tensorflow_internal import *
File "C:\Users\ahmed\miniconda3\envs\tensorflow1\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 28, in
_pywrap_tensorflow_internal = swig_import_helper()
File "

[2020-04-01 23:12] #38149 closed

[2020-04-01 23:14] ymodak commented on #37993
There is a tracking bug for with Google Cloud Function.
To know more https://github.com/tensorflow/tensorflow/issues/34707#issuecomment-564266913
Closing this issue since switching to latest stable TF version (2.1) solves this problem. Thanks!

[2020-04-01 23:14] #37993 closed

[2020-04-01 23:45] Qottmann commented on #29781
Isnt batch_jacobian for when target_i and input_j are independent? (which is not the case in the example, right?)
Anyway, this produces:

[code]

[2020-04-01 23:47] ageron opened #38150 "Extra metric added to model.metrics in TF 2.2"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Ubuntu 18.04 (running on Colab)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
Running on Colab
- TensorFlow version

[2020-04-02 00:00] ymodak commented on #38141
The certificate program requires an understanding of building basic TensorFlow models using Computer Vision, Sequence modeling, and Natural Language Processing. So I think TF Keras is necessary.
This course https://www.coursera.org/specializations/tensorflow-in-practice can be a good prep for the exam.
To know more see https://blog.tensorflow.org/2020/03/introducing-tensorflow-developer-certificat

[2020-04-02 00:24] duncanriach opened #38151 "Test deterministic cuDNN CTC loss"
@sanjoy added deterministic cuDNN CTC loss, enabled via `TF_DETERMINISTIC_OPS`, with [this commit](https://github.com/tensorflow/tensorflow/commit/9e096debc4a0909deb69970f38bee7b77e5e5f7d). This issue is a reminder to add test for it in [tensorflow/python/kernel_tests/cudnn_deterministic_base.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/kernel_tests/cudnn_deterministi

[2020-04-02 00:24] duncanriach commented on #38151
Please will someone with the authority assign this issue to me?

[2020-04-02 00:40] mihaimaruseac commented on #38147
Afaik, we haven't yet tested if our code builds with this version of Bazel. We only test with versions specified in `./configure.py`

[2020-04-02 00:43] freedomtan commented on #38077
@DocDriven if you are not using AWS, add `--config noaws` to your bazel build command, that is, do something like
[code]

And, NOPE, you don't need run `./configure` if you don't change your configuration.

[2020-04-02 00:52] ymodak commented on #38104
You may want to try post training integer quantization instead.
https://www.tensorflow.org/lite/performance/post_training_integer_quant#convert_to_a_tensorflow_lite_model
<img width="1514" alt="Screen Shot 2020-04-01 at 5 51 17 PM" src="https://user-images.githubusercontent.com/42785357/78199748-68502300-7441-11ea-90da-f9d3a80e6ee8.png">

[2020-04-02 00:54] bby1220 commented on #38114
from the following website I know it is a feature rather than a bug for the issue I submit, but I don't think this is a good feature.
https://www.tensorflow.org/api_docs/python/tf/executing_eagerly

[2020-04-02 00:54] #38114 closed

[2020-04-02 01:05] jvishnuvardhan commented on #38104
@sdu2011 I tried the same model as in the example and find int8 for the weights of conv2d as shown below. Did you change any part of the code and did you use quantized model?

[Screenshot](https://screenshot.googleplex.com/ZptgJAm6tg3).

[2020-04-02 01:11] tensorflowbutler commented on #35897
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-04-02 01:11] tensorflowbutler commented on #37144
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-04-02 01:21] nsssss commented on #37144
Yes, this problem still exists.

[2020-04-02 01:21] jetjodh commented on #38100
Hi @py4, I solved it by reducing the batch size. Also maybe, check your verbosity level?

[2020-04-02 01:25] sanjoy commented on #23473
If at all possible I'd suggest using a more recent version of TF.  1.12 is quite old, and we're not in a position to debug issues with it.

[2020-04-02 01:38] agarwal-ashish commented on #29781
How about tape.batch_jacobian(tf.concat(grads, axis=1), [v, w]) ?

[2020-04-02 02:00] mihaimaruseac commented on #38084
I think we never tried to build with debug symbols on Windows

[2020-04-02 02:00] sdu2011 commented on #38104
i know if i do inter quantize, weights would be converted from fp32 to int8, i had already tested it．　my question is why post-training weight quantization does not change conv2d weights from fp32 to int8．

[2020-04-02 02:00] mihaimaruseac commented on #37808
I should handle these by the weekend

[2020-04-02 02:03] sdu2011 commented on #38104
[code]
no,i did not change code.

[2020-04-02 02:04] mihaimaruseac commented on #38054
There seems to be a failure before

[code]

Can you also try with TF 2.1? tf-nightly? To bisect where the error comes from.

[2020-04-02 02:12] mihaimaruseac commented on #26502
1.3 is too old, we no longer support it or bring fixes to it. Please update to 1.15 or 2.1 (long term releases)

[2020-04-02 02:19] zerollzeng commented on #38108
after try to compile it with tf-nightly, I got the follow output
[code]
and I try to visulize it via tensorboard, it still give me error
[code]
Does it means there are problems with my model?  the model was train with this [repo](https://github.com/mnicnc404/CartoonGan-tensorflow)

[2020-04-02 02:21] #36980 closed

[2020-04-02 02:22] mihaimaruseac commented on #37742
Assigning @jdduke from TF Lite. I guess if the ops don't take much space we can take them, but letting TF Lite provide guidance

[2020-04-02 02:27] rxsang commented on #36980
Hi @bestpredicts and @simonsays1980,

You need to use
`tf.config.experimental_connect_to_cluster(resolver)` API instead of
`tf.config.experimental_connect_to_host(resolver.master())`
See https://www.tensorflow.org/guide/tpu

[2020-04-02 02:50] ANaablevy commented on #34805
Any update on this? Or what version of cudnn and CUDA are used in the pypi tensorflow 1.15 build?

[2020-04-02 02:58] sjtusmartboy commented on #38097
@amahendrakar Thank you for your materials. I've checked these materials and find they teach user how to use the distribution strategies, including MirroredStrategy, TPUStrategy ... Is there any docs showing the architecture of these strategies, and how they are implemented?

[2020-04-02 03:32] khimraj commented on #38119
@devpunjabi, you need to define loss function as:
[code]
and in `model.compile` method you need to pass this custom loss function with additional arguments.

[2020-04-02 03:34] ymodak commented on #27875
Closing this issue since the associated PR has been merged. Thanks!

[2020-04-02 03:41] khimraj commented on #38143
@bmc2-stripe, you don't required to compile `combined_model` as you have already compiled individual model. and  I think you can't compile single model with two optimizer like you have done for `combined_model`. Correct code is:
[code]

[2020-04-02 03:45] ymodak commented on #30620
Closing this issue since the associated PR has been merged and the [feature](https://www.tensorflow.org/api_docs/python/tf/math/reciprocal_no_nan) has been implemented. Thanks!

[2020-04-02 03:45] #30620 closed

[2020-04-02 03:48] khimraj commented on #38150
@ageron, I think there is always one matrix corresponding to loss and there will extra as many as arguments passed in `metrics`.
You can check their names with `model.metrics_names`.
In your example there will be three metrics first for `loss`, second for `mae` and third for `mse`.
Hope it helps you.

[2020-04-02 03:49] kazenokizi commented on #27880
I found this page indicating how to use tfmot.quantization to do quantization-aware training: https://www.tensorflow.org/model_optimization/guide/quantization/api_usage
But it seems this api is not released yet?

[2020-04-02 03:49] sibadakesi commented on #38098
Thinks，i use the higher Tensorflow version(1.15.0) it works. I realized if i  quantizing this torch‘s models  i must use than or equal 1.15.0 version of Tensorflow.

[2020-04-02 03:56] formath opened #38152 "Java SavedModelBundle import LookupTable core dump"
I use `libtensorflow.jar` to load a model with `saved_model` format. The core dump occurs in `LookupTableImportOp` computation stage. However, this model could be loaded successfully via `c++ tensoflow-serving executable` or `python tf.saved_model.loader`.

* tensorflow 1.12.
* mac os. cpu only.

[code]

Error message:
[code]

Stack message:
[code]

[2020-04-02 04:04] khimraj commented on #38129
@tianhuat, you need to upgrade tensorflow to 2.x.

[2020-04-02 04:21] alanchiao commented on #27880
Update given that it's past the end of March. We've just gotten all approvals and are just finishing up the final steps.

A few documents need to be submitted and a couple more PRs. Then we'll do the release.

@kazenokizi : the examples in that document don't fully work and the API is not released yet. We were incrementally working on the documents.

[2020-04-02 04:24] tianhuat commented on #38129
@khimraj The issue is not about upgrading, it's about can't restart the production environment after upgrading, I can only do a reloading of tensorflow library

[2020-04-02 04:26] amahendrakar commented on #38145
@mekhaaa,
Could you please check [this](https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156) comment on a similar issue and let us know if it helps. Thanks!

[2020-04-02 04:36] tomerk commented on #36366
The next 2.2 release candidate will include this commit:
https://github.com/tensorflow/tensorflow/commit/410852dbd24899e22f0020f9fdc9757f527dda55
(This fixes a bug where some keras code was accidentally referring to the wrong versions internally)

If you previously had to put `layers=tf.keras.layers`, this should fix your issue.

[2020-04-02 04:48] Saduf2019 commented on #38141
@Bstrum36
please update as per above comment

[2020-04-02 04:51] formath commented on #38152
fixed

[2020-04-02 04:51] #38152 closed

[2020-04-02 04:52] ravikyram commented on #38098
@sibadakesi

Glad to know that worked with Latest versions.Please close this thread if it solves your question. Thanks!.

[2020-04-02 04:53] khimraj commented on #38129
@tianhuat, I think currently it is not possible to reload Tensorflow 2.1.0 without restarting interpreter . You have to restart the runtime to change versions.

[2020-04-02 04:54] vnvo2409 commented on #38084
Is there a way to build `py_binary` with debug symbols on Windows for bazel ?

[2020-04-02 05:06] terryheo commented on #37899
It seems that this is mostly answered.
https://www.tensorflow.org/install/source_windows is basic requirement for Windows build.
Once you have Bazel and compiler setup for your own, you can just build tflite with
[code]

[2020-04-02 05:06] #37899 closed

[2020-04-02 05:06] #37744 closed

[2020-04-02 05:11] ravikyram commented on #38140
@suu98

Please, provide colab link or simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster.Thanks!

[2020-04-02 05:40] saikrishnadas commented on #35440
I still get the same  **TrtGraphConverter** issue
Tensorflow version 2.0 GPU supported
and changed `from tensorflow.contrib.tensorrt.python import trt_convert as trt` to `from tensorflow.python.compiler.tensorrt import trt_convert as trt

Can anyone help me with this ?
 `

[2020-04-02 05:41] byronyi opened #38153 "[tf.data] _pywrap_server_lib.so breaks nightly packages"
Our in-house nightly builds were broken since 2020-03-31 when auditwheel tries to repair the nightly packages. The reason under the hood seems to be an incorrect link from the recent change of adding tf.data service support in 0b63458060d7f8400c7e5b37ccdd7ca89c2ffbe1 and enabled in nightly packages in 503179f662708e730fd0a0c98261e9678975e3b8.

Install the latest nightly, and check the dynamic link

[2020-04-02 05:45] gadagashwini commented on #38122
@rambail, Can you share the standalone code to replicate the issue and also try with the latest stable Tensorflow 2.1 version. Thanks!

[2020-04-02 05:48] weinixuehao commented on #26297
@impjdi @svenstaro @ktgordon @SanthoshRajendiran @gnsmrky
I`m a newbie for opengl es
I have viewed MediaPipe and Tflite GPU to try solved it but failed
I`m curious how to debug compute shader in android to you
it has few stuff on the network about ssbo
The code is provided by https://github.com/gnsmrky/tensorflow-lite-ssbo
Sorry for my english if you do not understand

[2020-04-02 05:50] MrCrazyCrab commented on #35440
@saikrishnadas try it on ubuntu not windows!

[2020-04-02 05:52] gadagashwini commented on #38134
@yskale, Please Provide the exact sequence of commands / steps that you executed before running into the problem and also full error log. Thanks!

[2020-04-02 05:52] sibadakesi commented on #38098
think you

[2020-04-02 05:52] #38098 closed

[2020-04-02 05:53] saikrishnadas commented on #35440
@MrCrazyCrab I use Ubuntu 18.04

[2020-04-02 05:55] ikasapoglu commented on #37681
Thanks for your reply. Yes, one of my custom models fails but my other model works (320x320). I leave two links there which contains screenshots from netron output. By the way, what kind of data do you expect me to share ? Because I do not know how can I give you a convenient explanation about the model.

1: https://icoupstudios.com/tflite/1.png
2: https://icoupstudios.com/tflite/2.png

Thanks!

[2020-04-02 06:03] sayak1711 commented on #17411
I have the same issue with Tensorflow 2.1.0. What to do?

[2020-04-02 06:04] svenstaro commented on #26297
Stop highlighting me.

[2020-04-02 06:04] rambail commented on #38122
`import tensorflow as tf
import tensorflow_datasets as tfds

print("\u2022 Using TensorFlow Version:", tf.__version__)
print("\u2022 Using TensorFlow Dataset Version:", tfds.__version__)`

• Using TensorFlow Version: 2.0.0-beta0
• Using TensorFlow Dataset Version: 2.1.0

`---------------------------------------------------------------------------
AttributeError                            Traceback

[2020-04-02 06:07] MrCrazyCrab commented on #35440
@saikrishnadas uh... maybe you should see if there is a file "trt_convert.py" in the /compile/tensorrt/. If not, you should consider whethere  to reinstall the tensorflow.

[2020-04-02 06:10] rambail commented on #38122
<import tensorflow as tf
import tensorflow_datasets as tfds

print("\u2022 Using TensorFlow Version:", tf.__version__)
print("\u2022 Using TensorFlow Dataset Version:", tfds.__version__)>

**• Using TensorFlow Version: 2.0.0-beta0
• Using TensorFlow Dataset Version: 2.1.0**

'---------------------------------------------------------------------------
AttributeError                            Trace

[2020-04-02 06:10] godsfavorite commented on #18689
Thank you man! I was trying to update tensorflow with a source build, but accidentally broke my server while trying. So I was trying to find precompiled binaries and I am glad I found yours!

[2020-04-02 06:25] szc11121 commented on #29075
same issue here. but it seems there is still a more important question remain to be done: even there is no difference between unseen sequence length, but tf.function is still much slower than eager mode when I run the example code.
  In my situation, I also have different sequence length between batchs, after I use tf.funtion with input_signature, it runs 4-5x slower than eager mode and 10x slower

[2020-04-02 06:27] aaudiber commented on #38153
Thank you @byronyi for investigating this. I just put out a CL to move the usage of `tf_python_pybind_extension` under `//tensorflow/python`. I will validate the fix and merge it as soon as possible.

[2020-04-02 06:29] byronyi commented on #38153
@aaudiber Thanks for the prompt fix! Can't wait to try out tf.data service :)

[2020-04-02 06:38] saikrishnadas commented on #35440
@MrCrazyCrab Yep ! I just re-installed tensorflow and that worked. But is it still .pb format after it convert it to tensorRT with savedmodel ? I recently converted my yolo.weight model to onnx and to tensorrt which gave a extension of .trt .

[2020-04-02 06:44] rambail commented on #38122
In colab too when I code:
[code]
I get the same error. But when I change the version to
[code]
`It works!!

But unfortunately, Ubuntu 19.10 has only upto 2.0.0b1 in its pip3 repository, And I am not equal to the task of compiling from source.

[2020-04-02 06:44] sayak1711 commented on #17411
I managed to fix my problem by building from source using bazel. It created a whl file. Then I did pip install whl file path

[2020-04-02 06:46] kkimdev commented on #37858
Hi, an easy workaround is applying @tf.function outside of the model.

[code]

[2020-04-02 06:46] MrCrazyCrab commented on #35440
@saikrishnadas  yeah, and there is more files after converting.

[2020-04-02 06:48] saikrishnadas commented on #35440
@MrCrazyCrab Thanks Man

[2020-04-02 06:57] weinixuehao commented on #26297
@svenstaro Very sorry for disturbing you

[2020-04-02 07:01] mrinalsardar commented on #35932
@gowthamkpr @hepbc
It did not resolve the issue for me. Can it be specific to `Mac`?

[2020-04-02 07:13] tonytu123 commented on #24828
@HazelSCUT
Do u have find solution?
exm :
cuda9.1
cuDNN7.1
tensorflow1.15

[2020-04-02 07:22] ZhiyiLan commented on #22109
I got the same problem,anybody solved this problem?

[2020-04-02 07:25] johannafrost commented on #38126
[LBFGS_MNIST.ipynb.zip]
It is the loss_value and the f.iter in the wrapper I am trying to add to a list, so they can be plotted. Thanks a lot.

[2020-04-02 07:38] Saduf2019 commented on #38103
i have replicated the issue reported as per gist shared above, please find the [gist here](https://colab.sandbox.google.com/drive/1K28D5mcVCiFrTwXXDopYU38ZJrEt6JNx#scrollTo=fliohxc90O-p)

[2020-04-02 07:41] gadagashwini commented on #38100
@py4, Can you try @jetjodh's suggestion and let us know if that helps in resolving your issue. Thanks

[2020-04-02 07:46] zerollzeng commented on #38108
update:
I regenerate the pb model, and now I have a better model and it render well on Netron, and when I convert it to tflite model, I got "ValueError: This converter can only convert a single ConcreteFunction. Converting multiple functions is under development."
[model.zip](https://github.com/tensorflow/tensorflow/files/4419478/model.zip)
this is the new pb model. and the tf output
[code]
I've s

[2020-04-02 07:50] pryadchenko commented on #24828
Also notices that the docker image works well on another machine (GTX 1080 Ti) while fails on mine (RTX 2080 SUPER). Tried to completely reinstall everything related to nvidia, including drivers (also tried to downgrade them) - nothing helped.

[2020-04-02 07:53] Anakeyn commented on #18689
You're welcome! Thank you for your feedback!

[2020-04-02 08:03] Saduf2019 commented on #38120
@nouiz
could you please let us know which tensorflow version are you facing this issue

[2020-04-02 08:05] terryheo commented on #37572
@komejisatori  is right. If you want to build fat APK, you need to provide --fat_apk_cpu, --host_crosstool_top options.
If you want to build a specific target arch (for example ARM64), then you just need to provide a proper "--config" option.
But this is not enough. It seems that some code require C++14 support.
I've verified the following command works for me.

[code]

[2020-04-02 08:07] Saduf2019 commented on #38130
i am able to replicate this issue, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/ec6ec90012d0717c32267da940e06267/38130.ipynb )

[2020-04-02 08:22] xam-ps commented on #24828
@pryadchenko
Same issue here. Using the official TF-Docker image. Working fine on GTX cards, having cuDNN error on RTX cards. Google should really do sth. about that!!

[2020-04-02 08:28] crystina-z commented on #26136
any solution to this? facing the same problem as well: `save_summary_steps`, `save_checkpoints_steps` are totally ignored

[2020-04-02 08:28] kalaluthien commented on #38062
I think `with quantize_scope():` should be deleted:

[code]

[2020-04-02 08:31] AchilleMascia commented on #37576
Hi @maxkaustav, thank you for your input!
However, as I stated in the issue, I already had made an implementation of the octave convolutions.
I was waiting to see if the tensorflow team was interested by it.
I have now made the Pull Request (PR #38154 ) with my implementation of the features so I invite you and the tensorflow team to look at it.

I've seen in your PR (#38052 ) that you have adapte

[2020-04-02 08:36] amahendrakar commented on #37866
@0unstoppable,
Any updates regarding the reproducible code? Thanks!

[2020-04-02 08:37] amahendrakar commented on #37883
Any updates regarding this issue? Thanks!

[2020-04-02 08:45] cecabert commented on #37673
@ConorLazarou thanks for the info. It might be one workaround when working with Gan, however when using any type of `tf.keras.Model` you will run into issue, apparently you can not mix `v1` and `v2` layers in a model which kinda make sense.
But there is definitely something wrong with `BatchNormalization` layer.

[2020-04-02 08:52] suneeta-mall commented on #35226
@johngrabner you might be interested in this https://github.com/tensorflow/tensorflow/issues/31531.

and for @ElPapi42 & @fzyzcjy the doco is here https://www.tensorflow.org/api_docs/python/tf/distribute/Strategy#experimental_run_v2 and its referenced because the original issue is raised around use of this API.

[2020-04-02 08:57] gadagashwini commented on #38116
@eaaarmah, Try with these lines of code to convert
[code]
Let us know how it progresses. Thanks

[2020-04-02 09:08] ravikyram commented on #38113
@eaaarmah

You need to enable tensorflow supported ops as follows.

Can you please try adding the following line.. Please check and let us know. Thanks!

[code]
Still if you are facing any issue, please share standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-04-02 09:17] gadagashwini commented on #36954
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-02 09:17] #36954 closed

[2020-04-02 09:18] amahendrakar commented on #38097
@sjtusmartboy,
To know more about the architecture of these APIs you can check out their respective source code on GitHub.

Implementation details can be found [here](https://www.tensorflow.org/guide/distributed_training#examples_and_tutorials_2) under the 'Examples and Tutorials' section.

Thanks!

[2020-04-02 09:20] gadagashwini commented on #36988
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-02 09:20] #36988 closed

[2020-04-02 09:22] amahendrakar commented on #38110
@ali9653,
You can select the BERT model of your choice from [this](https://tfhub.dev/s?q=bert) official TF Hub link and follow the user guide given. Thanks!

[2020-04-02 09:24] gadagashwini commented on #37645
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-02 09:24] #37645 closed

[2020-04-02 09:33] ali9653 commented on #38110
I'm sorry but I think you are not understanding the question. I know how to import a model from tensorflow hub be it bert or universal sentence encoder. I want to convert it into TfLite is the question. There is no user guide for conversation

[2020-04-02 09:43] dauras commented on #38039
Sorry, I do not have an example at hand, but I can show you that TFL handles the shape==nullptr case differently than TFLM:

https://github.com/tensorflow/tensorflow/blob/9fdaa925f4825b6c00da6f13fda7d75522fb82d6/tensorflow/lite/interpreter_builder.cc#L184-L188

https://github.com/tensorflow/tensorflow/blob/9fdaa925f4825b6c00da6f13fda7d75522fb82d6/tensorflow/lite/kernels/internal/tensor_ctypes.h#L3

[2020-04-02 09:58] MarisJon commented on #37858
@kkimdev
I agree. input_signature must be added when a model is loaded?

[2020-04-02 10:06] luke-mao opened #38155 "tf.keras.Model subclassing: when check inputs size inside the model, the size display "batch number" as None"
Hello. I am new to deep learning with the tf2.0 . And I am currently working on the cifar 10 dataset.
Recently I encounter a problem with the model subclassing. The sample code is given as

1. assign inputs from the processing, the batch size is [500, 32, 32, 3] with channel_last format. So each batch has 500 images.
2. define a CNN model
[code]
3. I call the model, such as
[code]

The sample code

[2020-04-02 10:07] dauras opened #38156 "TFLM: add run-time check that statically allocated buffers are sufficiently large"
It would be great to have a simple run-time check that the statically allocated buffer is sufficient.

This is as simple as adding one line:
[code]
after this one:
https://github.com/tensorflow/tensorflow/blob/83e974b61c7b65ee8de87774addf1a0dc6b24c9a/tensorflow/lite/micro/kernels/conv.cc#L99

[2020-04-02 10:08] luke-mao commented on #38155
In the last part of my statement, i do not mean "I cannot do the 500 images flatten process". I mean i would like to input 500 images at once so that to achieve a mini batch process. Thank you.

[2020-04-02 10:09] luke-mao commented on #38155
Although the model is not trained before i call the "predict", i would like to address the batch dimension appears as None in this issue. Thank you ~~

[2020-04-02 10:20] lip-realmax opened #38157 "TF Lite build missing .lib"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 64bit
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.1
- Python version: 3.6
- Installed using virtualenv? pip? conda?: NA
- Bazel version (if compiling from source): 2.0.0
- G

[2020-04-02 10:25] ErvisTusha commented on #37485
@karmel are you talking about my Code ?
Anyone is taking care about this bug ?

[2020-04-02 10:26] harshithdwivedi opened #38158 "Unable to batch tensorflowLite object detection model"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): MacOSX
- TensorFlow installed from (source or
binary): Binary
- TensorFlow version (use command below): 1.13.1
- Python version: 3.7

**Describe the current behavior**
I'm using the TfLite object detection models in

[2020-04-02 10:28] amahendrakar commented on #38110
@ali9653,
Please take a look at [this example](https://www.tensorflow.org/lite/convert/python_api#end-to-end_mobilenet_conversion_) for end to end model conversion.

[2020-04-02 10:35] amahendrakar commented on #38117
@Gilthans,
I was able to run the given code without any issues, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/65ae786b4d058caba56fa9f4e8a88972/38117.ipynb).

Could you please try running the code in a virtual environment and check if you are able to reproduce the error? Thanks!

[2020-04-02 10:37] ali9653 commented on #38110
I'm sorry you are still not understanding. The model they have used Mobilenet_v2 is directly supported. Mine is imported from tensorflow hub and there is no documentation regarding that.

[2020-04-02 10:40] luke-mao commented on #38155
Hello. I would like to present a simpler code for this issue.
[code]

So the problem is when the model is called, it prints that
[code]
which is very strange as i actually put a 500 in the first dim.
Thank you. ~~

[2020-04-02 10:42] duncanriach commented on #18096
I have resolved this issue. Please will someone close it. I cannot close it. @yoavz can you close it?

[2020-04-02 10:49] np000 commented on #37462
i see now the issue got assigned to @gowthamkpr , just following up now. any feedback
thanks

[2020-04-02 10:50] duncanriach commented on #22398
@eamartin, this issue was resolved, in Oct 2019, with PR [31465](https://github.com/tensorflow/tensorflow/pull/31465). In TensorFlow version 2.1 and onwards, you can enable the solution by setting the environment variable `TF_DETERMINISTIC_OPS` to "1" or "true".

For more information, see [github.com/NVIDIA/tensorflow-determinism].

[2020-04-02 10:59] PharrellWANG commented on #33634
That bazel fixation is only available since bazel v2.0.0; however when using tf 2.0.0, bazel 0.26.1 is required. Could provide more details about how you verified "this fixes the issue and creates a working dll"? Such the bazel version, tf version, cuda version, etc.

[2020-04-02 11:01] amahendrakar commented on #38126
@johannafrost,
Please take a look at [this gist](https://colab.research.google.com/gist/amahendrakar/7dd236f2b3a93f549c196794426379ae/38126.ipynb) and let us know if it resolves your query. Thanks!

[2020-04-02 11:06] epapathom opened #38160 "AttributeError: module 'tensorflow.keras.optimizers' has no attribute 'Αdam'"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Google Colab
- TensorFlow installed from (source or
binary): - TensorFlow version (use command below): 2.2.0-rc2

**Describe the current behavior**
Tensorflow 2.2.0-rc2 cannot find Adam in tf.keras.optimizers.

**Sta

[2020-04-02 11:12] #38160 closed

[2020-04-02 11:15] luke-mao commented on #38155
Hello. I found that, if i use
[code]
to train the model, everything works fine. The shape of "inputs" inside the model is [500, 32, 32, 3].
But if i use
[code]
x does not support for batch input. If i input a whole batch of 500 images, inside the model it only has shape [None, 32, 32, 3]. How to fix for batch input? Do i have to input all images one by one for prediction?
Thank you and looking for

[2020-04-02 11:20] gadagashwini commented on #38018
@MaUt89, Can you share the input data csv files. Thanks!

[2020-04-02 11:21] Qottmann commented on #29781
[code]
produces
[code]

and `tape.batch_jacobian(tf.concat(grads, axis=1), [v, w])` is expecting axis in [-1,1).

`grads` in this example code is a list of two (1,) Tensor.

[2020-04-02 11:23] orangesomethingorange opened #38161 "tflite model crashes before loading .tflite file, with no error or exception"
**System information**
- Have I written custom code:

Yes I have:

In Activity.java:

=======================================================================

[code]
...

[code]

...

`tfliteInterpreter.run(inputImageBuffer.getBuffer(), outputBuffer.getBuffer().rewind());`

=======================================================================

In build.gradle:

==================================

[2020-04-02 11:27] amahendrakar commented on #38135
Was able to reproduce the issue with [TF v2.1](https://colab.research.google.com/gist/amahendrakar/8ffb93fe9c91670fb8e3e6d21038bbcd/38135-2-1.ipynb), [TF v2.2.0-rc2](https://colab.research.google.com/gist/amahendrakar/78f9cc5cc4fdcebbe9e8e62745af53aa/38135-2-2.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/3f7747e2187f252273d49872d4615c48/38135-tf-nightly.ipynb). Works

[2020-04-02 11:33] Saduf2019 commented on #38099
@t-niroc
could you please share the tensorflow version on which this error is faced.

please refer to this [comment](
https://github.com/tensorflow/tensorflow/issues/25278#issuecomment-459609002), and let us know if its helps.

[2020-04-02 11:37] Saduf2019 commented on #37542
@ramawidrap
please update as per above comment

[2020-04-02 11:41] amahendrakar commented on #38150
Was able to reproduce the issue. Please find the gist [here](https://colab.research.google.com/gist/amahendrakar/d7806dd77e70c4bb2dcaa00914f11012/38150.ipynb). Thanks!

[2020-04-02 11:47] t-niroc commented on #38099
@Saduf2019 I am on the latest master branch.

This comment specifies to use only necessary ops to decrease size.  My question is a little different from that.

If I use all the ops and also want to use GPU acceleration, is it possible to use just the tensorflowlite-gpu.aar and avoid tensorflowlite.aar as an alternate way of reducing size?

[2020-04-02 12:25] mdanatg commented on #29075
@szc11121 is it also an issue in tf-nightly? If so, please include a snippet of code to reproduce the slowness and reopen this thread.

[2020-04-02 12:35] Happyzippy commented on #21417
Bump,
What is the current status on this regarding TF2? I see that model loading of TF 1.xx serialized models in TF2 allows this.

[2020-04-02 12:42] wasserholz opened #38162 "Provide a tensorflow maven package for AWS Lambda or lighter builds in general"
The current build size of tensorflow 1.14.0 makes it impossible to use the library on AWS Lambda without further steps to reduce the depedency size.

It would be great to have for example a tensorflow dependency for AWS Lambda specifically.

What would also work, would be a separate module for tensorflow without all native libraries and a module per native implementation. This way the overhead of

[2020-04-02 12:44] durandg12 commented on #36933
Hello, I have tried your notebook and the issue  seems indeed closed. Thanks.

[2020-04-02 12:44] #36933 closed

[2020-04-02 12:49] Saduf2019 commented on #38158
@harshithdwivedi
please refer to this [comment](https://github.com/tensorflow/tensorflow/issues/16216#issuecomment-358685965) and issues with similar error for reference and let us know if it helps.

#25549 #22377 #23600  #23399