[2021-05-16 05:32] murithinjeru commented on #22480
I am new to tf but i solved the issue by pointing to the folder with my saved model as opposed to pointing to the .pb file.

saved_path = 'models/saved_model1'

NOT

saved_path = 'models/saved_model1/saved_model.pb'

I hope this helps.

[2021-05-16 06:57] vistart commented on #35842
One year has passed since the last submission, and the software environment has changed. Currently I am waiting for NVIDIA to release TensorRT 8.0 for Windows. After the release of this version, I will test the compilation for the first time and report the results here.

[2021-05-16 08:43] parsa-ra opened #49211 "C++ compilation of rule '@llvm-project//llvm:Passes' failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.5 LTS
- Mobile de

[2021-05-16 10:12] zhaozheng09 opened #49212 "Add a new split way in split_v_op.cc"
Now tensorflow has two way to split tensor.
1. Split tensor by single thread.
2. Split tensor by multi-thread.
The current data split method is not very uniform, like:
![image](https://user-images.githubusercontent.com/33950866/118393504-1f255780-b672-11eb-83b0-b39e9a580392.png)
We should add a new parallel split way. like:
![image](https://user-images.githubusercontent.com/33950866/118393518-2fd5

[2021-05-16 10:32] zhaozheng09 commented on #49212
I am happy to contribute my code

[2021-05-16 10:43] SlimSidhom opened #49213 "Makefile: No such file or directory ( Windows )"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary):
- Tensorflow version (commit SHA if source):
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.):

**Describe the problem**
Trying to run the test_hello_world_test with make command, yet the Makefile is not present although I ch

[2021-05-16 10:52] bzamecnik opened #49214 "RNN weight conversion not applied within nested Functional models"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **no**
- OS Pl

[2021-05-16 11:03] yann-pourcenoux opened #49216 "ERROR when benchmarking TFLite model "ERROR: Given shapes, [1, 40, 23, 256] and [1, 23, 40, 256], are not broadcastable.""
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Ubuntu 20.04/Android 10
- Mobile device: Xiaomi Redmi Note 7
- TensorFlow installed from: pip
- TensorFlow version: v2.4.0-49-g85c8b2a817f 2.4.1
- Python version: Python 3.8.8

**Describe the current behavior**
I am training a model and converting it to TFLite but when benchmarking it on TFLite I got an unexpe

[2021-05-16 11:20] lastzero commented on #41808
Speechless.

[2021-05-16 11:25] bhack commented on #49214
Thanks, can you open a PR with tests?

[2021-05-16 11:33] bzamecnik commented on #49214
Yes, I'm going to prepare some simple code for reproduction and unit tests.

[2021-05-16 12:04] SongyiGao opened #49217 "TF 2.0 'Tensor' object has no attribute 'numpy' while using .numpy() when use disable_eager_execution()"
I need to convert tensor to numpy array in Graph mode.

[2021-05-16 12:09] bhack commented on #49217
Check https://github.com/tensorflow/tensorflow/issues/27519#issuecomment-490388556

[2021-05-16 12:15] iamMOY commented on #45248
Found any solutions i have same system configurations and facing the same issue while running my dl model

[2021-05-16 12:16] SongyiGao commented on #49217
Thank you!   For some reason, I have to use Graph mode in my code and would like to find a solution.

[2021-05-16 12:51] Medoalmasry commented on #48890
I know this isn't strictly how bugs should be fixed, however, if you're desperate and under a deadline like me, comment out that block of code

[code]
The segmentation error disappears

[2021-05-16 14:35] UntotaufUrlaub commented on #31312
I am not a 100% sure about this topic, but it seems the latests gpu docker image fixed the leakage problem for me.

[2021-05-16 14:48] domino14 commented on #41808
right?

[2021-05-16 14:58] RookieZB commented on #49177
I see, thank you.

[2021-05-16 14:58] #49177 closed

[2021-05-16 15:13] rubens21 commented on #41808
yup. And disappointing.

[2021-05-16 15:20] abhilash1910 commented on #49187
Hi @ucasiggcas ,I think that ```mirroredstrategy.experimental_run_v2```  has been deprecated since Tensorflow 2.2 .This can found from the release pages:
https://github.com/tensorflow/tensorflow/blob/93360e5c3bb1c7f3d5de2267d564bc8c77dfe3de/RELEASE.md
It has been renamed to ```mirroredstrategy.run``` method as specified in this segment:

```Deprecated experimental_run_v2 method for distribution st

[2021-05-16 15:21] bhack commented on #49177
See also https://github.com/google-research/language/issues/54

[2021-05-16 15:29] arubiales opened #49220 "NotFoundError: No algorithm worked! Function call stack: train_function"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- Ubuntu 18.04
- TensorFlow installed using PIP
- TensorFlow version (use command below): 2.4.1
- Python version: 3.8.8
- CUDA/cuDNN version: 11.0.228
- GPU model and memory: RTX 2070 super 8GB

**Describe the current behavior**
I'm training a model  for NLP with Bert and convol

[2021-05-16 15:38] giautm commented on #41808
@jhseu Well done. 🙄🙄

[2021-05-16 16:27] mihaimaruseac commented on #49201
There is some work that is currently planned for the OSS DevInfra team so that the gap between internal and external code is minimized. Unfortunately, if other projects rely on internal code there is nothing that can be done from the OSS side and someone in TF team needs to take to bring the other internal project up to date with the new changes.

[2021-05-16 16:38] AdityaKane2001 commented on #49201
Thanks for the prompt and detailed explanation. Hoping that this problem will be resolved soon.

[2021-05-16 16:42] LijaAlex12 opened #49221 "tensorflow lite chatbot and flutter integration"
I would like to know if a chatbot built using tensorflow and exported as tensorflow lite model can be integrated into flutter.

[2021-05-16 16:47] RitikaAg commented on #26303
@dynamicwebpaige so what would be the equivalent of tf.contrib.gan.eval.get_graph_def_from_disk('path to .pb file)

[2021-05-16 16:57] PINTO0309 commented on #49198
It's unofficial, but I applied the patch and built it, and it seemed to work fine.
https://github.com/PINTO0309/TensorflowLite-bin

[2021-05-16 17:13] jvishnuvardhan commented on #30846
@zachmayer If this is an issue with `plaidml` backend, then this issue should be opened in their repo. Please let us know if there is any bug with `tensorflow` or `tf.keras`, then please provide a simple standalone code to reproduce the issue. Thanks!

[2021-05-16 17:30] bhack commented on #49221
To use TF lite with flutter see https://pub.dev/packages/tflite
https://pub.dev/packages/tflite_flutter

[2021-05-16 17:38] bzamecnik commented on #49214
It looks that there's an existing test in [cudnn_recurrent_test.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/layers/cudnn_recurrent_test.py#L274
) but for some reason has been [disabled](https://github.com/tensorflow/tensorflow/commit/8d25e4bf616b7ae4ed101c580a23421616bf674c). It was done just before v2.3.0-rc0 so it's likely caused by the bug described above.

[2021-05-16 18:02] Saduf2019 commented on #48880
@cosmoquester
Is this still an issue as the pr is merged.

[2021-05-16 18:02] bhack commented on #49217
If you expect to autoconvert a Tensor to numpy in graph mode we cannot support this.
For the details see https://github.com/tensorflow/tensorflow/issues/38887

[2021-05-16 18:10] Saduf2019 commented on #44602
@sairmreddy
Is this still an issue can you please try with latest stable version and let us know.

[2021-05-16 18:26] aswathselvam commented on #44602
It works with the same configuration I initially built the library with. Just that include directory was wrong in cmakelists.txt, I fixed it now.

[2021-05-16 18:50] #48689 closed

[2021-05-16 19:33] zachmayer commented on #30846
yeah this is an issue on plaidml's end.  They tried to blame it on tensorflow lol.

Thanks for your attention on this and sorry for the noise!

[2021-05-16 19:33] #30846 closed

[2021-05-16 19:42] vatsDivyank commented on #49207
I tried to generate the arduino Library using
./tensorflow/lite/micro/tools/ci_build/test_arduino.sh
but the generated library is still not completly function. Is there a stable version already available?

[2021-05-16 19:52] sciann commented on #48788
I had a chance to debug the issue, and it seems to be rooted in the `train_generator_v1.py`.

Please use `tf.compat.v1.disable_eager_execution()` at the beginning of the code to get the same problem.

SciANN works on the TF1.

[2021-05-16 20:24] yarrseni commented on #48130
Big Sur 11.3 with XCode 12.5 has exactly same issues that do not seem to be addressed yet.

[2021-05-16 21:14] bzamecnik commented on #49214
A workaround to patch the module before the new Tensorflow is released (or for older TF 2 installations):

[code]

[2021-05-16 22:13] abattery commented on #49216
@yann-pourcenoux could you try TF -> TFLite model conversion with the tf-nightly version to see the above issue already fixed? If possible, please share a minimal reproducible step for the TFLite conversion.

[2021-05-17 00:18] JapinderSandhu commented on #38762
same issue here

[2021-05-17 00:49] terryheo commented on #48575
For C++ API, you should use C++ CMake project to use the libraries.
For C API, you can use the output directly.
https://www.tensorflow.org/lite/guide/build_cmake#build_tensorflow_lite_c_library

[2021-05-17 01:24] Stonepia commented on #48496
@mihaimaruseac  well, I also tried using the `CC=clang-11 CXX=clang++-11 bazel build ...` , but it still kept reporting about this.  I installed clang-11 by the Instruction from the [apt.llvm.org](https://apt.llvm.org/).

Is there any tricks about the clang's installation? In fact, by using this installation, clang should be called as `clang-11` , not `clang`. I wonder if bazel build would not fin

[2021-05-17 01:37] BorisPolonsky commented on #45931
Tested in TF v2.5. Problem remained unsolved.

[2021-05-17 01:45] thaink commented on #49188
The formula look the same. Let me check why it is not detected.

[2021-05-17 01:50] thaink commented on #49194
@SisComplex Can you try building with NDK r19c instead of r18b?
Or maybe use the docker approach maybe simpler https://www.tensorflow.org/lite/guide/build_android#set_up_build_environment_using_docker.

[2021-05-17 01:58] ashishsme14 commented on #49138
any expertise advice :-)

[2021-05-17 02:11] jhseu commented on #38762
@rxsang Could you take over the issue?

[2021-05-17 02:54] SisComplex commented on #49194
I switched to NDK r19c and it still shows Linking of rule'//tensorflow/lite:libtensorflowlite.so' failed (Exit 1), the same as before

[2021-05-17 03:33] Milkve commented on #16855
@yupbank I found the same issue on ubuntu18.04 while trying to read the node info from `.pb` model file in TF 1.14.0, and this error is caused by compilation with Bazel(I tried to fix it, and I found in `tensorflow\contrib\tensor_forest\python\ops\_stats_ops.so` the so-called `FertileStatsResourceHandleOp` is already existed), so I guess that your team has fixed that problem on Ubuntu whereas `.dl

[2021-05-17 03:37] sprash commented on #45055
@CostanzoPablo  That worked for me! Thanks for posting this solution.

[2021-05-17 03:41] zegzag commented on #49043
Well, I learned that `math_ops._bucketize` is for catergorize the batch_data. This op doesn't change the shape of the input tensor. But `math.batch_segment_x`(or `match.batch_unsorted_segment_x`) will change each vector size along the first dimension of the input tensor(batch_size dimension) and do the size alignment. `math.batch_segment_x` is the extension of `math.segment_x` for batch data.

I'v

[2021-05-17 03:57] harupy commented on #46429
@jvishnuvardhan Does tensorflow 2.5.0 contain a patch for this issue?

[2021-05-17 04:10] pranathibl opened #49223 "API to get mean and standard deviation for TFLite Models"
In the example label_image.cc (under) lite/examples/label_image, we are hardcoding mean and standard deviation to 127.5f. How does this change based on model ?
How can we get these values of mean and standard deviation for any model ? Is there any API to fetch mean and std deviation ? where is this information stored ?
Can these values obtained run time ?

To change these mean and standard deviati

[2021-05-17 04:11] thaink commented on #49194
That is weird since //tensorflow/lite:tensorflowlite does not implicitly depends on tensorflow/lite/kernels:builtin_ops
Could make a fork of tensorflow and upload your change there? I would like to take a closer look.

[2021-05-17 04:28] hcleung3325 commented on #32809
Hello Kaintels

May I know how to obtain the Model Analysis Report?
I direct copy your code on colab can only the the The FLOPs is:112.
Thanks.

[2021-05-17 04:44] Boya-Na opened #49224 "Use gpudelegates failed: java.lang.IllegalArgumentException: Internal error: Failed to apply delegate: Attempting to use a delegate that only supports static-sized tensors with a graph that has dynamic-sized tensors."
Hi,
Thanks for the project first.

### 1. System information

- OS Platform and Distribution: convert on Linux Ubuntu 20.04
- TensorFlow installation: pip package
- TensorFlow library: 2.4.1

### 2. Code
This is the model summary:

![image](https://user-images.githubusercontent.com/30684101/118437622-8a743580-b715-11eb-8d4f-8dbbc1532540.png)

Converter code:
converter = tf.compat.v1.lite.TFLiteCon

[2021-05-17 04:49] SisComplex commented on #49194
I downloaded the zip from the nightly branch of tensorflow this morning. I only modified the /tensorflow/lite/BULID file and ran ./configure.py and /tensorflow/lite/tools/make/download_dependencies.sh. Below are BULID and .tf_configure.bazelrc

[.tf_configure.bazelrc.txt](https://github.com/tensorflow/tensorflow/files/6491166/default.tf_configure.bazelrc.txt)

[BUILD.txt](https://github.com/tensor

[2021-05-17 04:50] JRice15 commented on #48941
That looks like it should do it

[2021-05-17 04:59] Saduf2019 commented on #49217
@SongyiGao
We do not suppport tensor to numpy in graph mode, you can try with the [experimental numpy API](https://www.tensorflow.org/api_docs/python/tf/experimental/numpy).

[2021-05-17 05:00] lostmsu opened #49225 "Can't call deprecated functions when embedding Python"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.5.0
- Pyth

[2021-05-17 05:06] SisComplex commented on #49194
I downloaded the zip from the nightly branch of tensorflow this morning. I only modified the /tensorflow/lite/BULID file and ran ./configure.py and /tensorflow/lite/tools/make/download_dependencies.sh. Below are BULID and .tf_configure.bazelrc
[.tf_configure.bazelrc.txt](https://github.com/tensorflow/tensorflow/files/6491236/default.tf_configure.bazelrc.txt)
[BUILD.txt](https://github.com/tensorfl

[2021-05-17 05:12] rmothukuru commented on #34268
@ziky90,
As per [bhack's comment](https://github.com/tensorflow/tensorflow/issues/34268#issuecomment-840717628) this bug is fixed in **`Nightly Version of Tensorflow (2.6.0-dev20210516)`**. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/60ff1d38ba9af0d7ffffbd452f07cbdf/34268-tf-nightly.ipynb#scrollTo=JrpVby8YUwdF) of the working code.

Can you please let us know if we can

[2021-05-17 05:16] sachinprasadhs commented on #49127
@jiqiujia , `mode` is basically value from [tf.estimator.ModeKeys](https://www.tensorflow.org/api_docs/python/tf/estimator/ModeKeys), it can be between `TRAIN, EVAL and PREDICT`.
The value is passed to the input function when the [Train and evaluate](https://www.tensorflow.org/tutorials/distribute/multi_worker_with_estimator#train_and_evaluate_the_model) is called using [TrainSpec](https://www.ten

[2021-05-17 06:10] tilakrayal commented on #49190
@Chugua ,

In order to reproduce the issue reported here, could you please provide the Tensorflow version,complete code and the dataset you are using. Thanks!

[2021-05-17 06:20] #49190 closed

[2021-05-17 06:28] rohanshingade commented on #49196
Thanks!

[2021-05-17 06:28] #49196 closed

[2021-05-17 06:48] bhack commented on #49225
/cc @mdanatg

[2021-05-17 06:50] #34393 closed

[2021-05-17 07:01] tilakrayal commented on #49184
@sat2000pts ,

In order to reproduce the issue reported here, could you please provide the Tensorflow version, complete code and the dataset you are using. Thanks!

[2021-05-17 07:06] sachinprasadhs commented on #48498
@DabiaoMa , the comment [here](https://github.com/tensorflow/tensorflow/issues/45263#issuecomment-748865985) will clear your doubts on `libcusolver.so.10` in `cuDNN 11  `.

[2021-05-17 07:11] tilakrayal commented on #49169
@alexispomares ,

In order to reproduce the issue reported here, could you please provide the tensorflow version,complete code and the dataset or colab link you are using . Thanks!

[2021-05-17 07:28] shkarupa-alex commented on #49182
Here is a sample code to reproduce issue
[test.py.zip](https://github.com/tensorflow/tensorflow/files/6491933/test.py.zip)

Also i made a demo in colab https://colab.research.google.com/drive/1IpmIj3WI17j6JkfgGWH0YEpowja7m71Y?usp=sharing
Note, that it should be runned from console, not from notebook

As far as i noticed, the issue gone if code from "main()" function is moved to the top level (drop

[2021-05-17 07:37] yann-pourcenoux commented on #49216
Thanks for your quick reply @abattery, I just tried with tf-nightly `2.6.0-dev20210516` and the error is still the same. I convert my model by doing:
[code]

[2021-05-17 08:17] abattery commented on #49216
Sorry. It is really hard to reproduce your issue at our end. Please consider creating the simple and minimal reproducible steps as a gist and share it to us if possible.

[2021-05-17 08:17] sachinprasadhs commented on #48947
@blackyang _ think this prints the number of individual batches where the updates have been performed, in your case if you are doing n iterations on your data then `optimizer.iterations` prints n.

[2021-05-17 08:29] kkzheng commented on #24439
saver = tf.train.Saver()
meta = tf.train.export_meta_graph(saver_def=saver.as_saver_def())

[2021-05-17 08:41] ashutosh1919 commented on #42383
@nikitamaia , Please assign this issue to me. I have worked on this and raised PR #49218 .

[2021-05-17 08:50] UsharaniPagadala commented on #49182
@shkarupa-alex
I  reproduced the code shared with no errors in tf-nightly.please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/c4b41038bc3509513c5403ec6ca96b1f/exception-ignored-in-function-capturableresource-__del__.ipynb).Thanks

[2021-05-17 08:50] #48867 closed

[2021-05-17 08:58] abattery commented on #49224
To fix the input shape, you can wrap your trained TF model with the tf.Module to limit the input tensors and output tensors like this [gist](https://colab.research.google.com/gist/abattery/c9c39317664100fa104447099da20574/tflite-signature-example.ipynb).

[2021-05-17 08:59] tilakrayal commented on #49203
@dfybc ,

In order to reproduce the issue reported here, could you please provide the complete code and the dataset  or colab link you are using. Thanks!

[2021-05-17 09:00] abattery commented on #49223
@daverim could you triage this issue?

[2021-05-17 09:06] tilakrayal commented on #49209
@KumaTea ,

Every TensorFlow release is compatible with specific versions, for more information please take a look at the [tested build configurations](https://www.tensorflow.org/install/source#gpu).In this case, can you please try installing TensorFlow v2.5 with tested build configurations and check if you are facing the same error.

Version | Python version | Compiler | Build tools | cuDNN | CUD

[2021-05-17 09:08] daverim commented on #49119
These are indeed different models, mobilenet_v1_0.75_224_quant.tgz was trained with quantization aware training for best possible accuracy and so has a slightly different structure

[2021-05-17 09:12] rmothukuru commented on #23086
@Santosh-Gupta,
Can you please look into [Mixed Precision Guide](https://www.tensorflow.org/guide/mixed_precision) and check if it helps? Thanks!

[2021-05-17 09:14] daverim commented on #49133
In order to prevent additional quantization error from re-quantization and improve latency, for pooling operations, we keep the input scale and output scale the same during conversion.

[2021-05-17 09:24] rmothukuru commented on #23559
@harahu,
The code you mentioned in [this PR](https://github.com/tensorflow/datasets/issues/354#issue-425485972) works without any error. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/60281a6cbbf21797a6a2644cb3aa2024/gh_23559.ipynb) of the working code. Thanks!

[2021-05-17 09:36] tilakrayal commented on #49027
@llodds ,

Please feel free to move this issue to closed status if the issue is resolved.Thanks!

[2021-05-17 09:37] tilakrayal commented on #48999
@llodds ,

Please feel free to move this issue to closed status if the issue is resolved.Thanks!

[2021-05-17 09:45] DachuanZhao opened #49227 "```tf.keras.callbacks.EarlyStopping``` always stops at the first epoch"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): google colab
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.5.0
- Python version: 3.8
- CUDA/cuDNN version:  cuda11.2 cudnn8.2.0
- GPU model and memory: gtx1070

**Describ

[2021-05-17 09:51] rmothukuru commented on #23990
@paigeQ,
Can you please let us know if this issue is still relevant because there is no documentation corresponding to GAN Estimator in Tensorflow Documentation. Also, please refer the documentation of [Distribution Strategy for Estimator](https://www.tensorflow.org/tutorials/distribute/multi_worker_with_estimator), just in case if it helps. Thanks!

[2021-05-17 10:04] rmothukuru commented on #24111
@Anton-Velikodnyy,
Sorry for the delayed response. Your code works fine even by replacing 0 with 1 or 2, successfully, in the Tensorflow Version 2.4. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/a7a529e24bc41565a6257fd378d76a7e/gh_24111.ipynb) of the working code. Thanks!

[2021-05-17 10:13] rmothukuru commented on #24763
@zh794390558,
Sorry for the delayed response. Can you please refer the [documentation of Distribution Strategy using Estimators](https://www.tensorflow.org/tutorials/distribute/multi_worker_with_estimator) and let us know if this is what you are looking for? Thanks!

[2021-05-17 10:15] UsharaniPagadala commented on #49227
@DachuanZhao
I Could reproduce the code shared.Please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/c1e109fd66344c3c8e243b881411303f/untitled1.ipynb).
Note:I changed the code little bit added **patience** keyword,Please let me know if it works
Thanks

[2021-05-17 10:16] saikumarchalla commented on #49208
Was able to reproduce the issue using TF 2.4 and Nighty version as well. Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/d15d443885f2d85552b14cc5c9d6f594/untitled72.ipynb).Thanks!

[2021-05-17 10:27] DachuanZhao commented on #49227
It works when I change
[code]
to
[code]
But the parameter ```patience``` default value is ```0``` , which causes this issue ...

[2021-05-17 10:50] #40831 closed

[2021-05-17 10:57] KumaTea commented on #49209
Thank you for your reply!

I'm rebuilding with gcc v7 and checking the issues above. Maybe reporting the results in a day or two.

[2021-05-17 11:07] innat opened #49229 "TensorFlow eager-mode VS PyTorch eager-mode"
### Config:
[code]

### Query

**We know that **eager mode** is slow compared to graph mode in `TF 2.x`. But how much it can be slow compared to `PyTorch's` eager mode??**

A question was asked in [SO](https://stackoverflow.com/q/67383458/9215780) regarding this, where the OP used a deep reinforcement learning code example with a custom training loop to compare. In that example, whereas a `pytorch

[2021-05-17 11:53] tilakrayal commented on #48941
@JRice15 ,

Please close this issue once PR is merged.Thanks

[2021-05-17 11:59] Boya-Na commented on #49224
Solved! Thanks so much!

[2021-05-17 11:59] #49224 closed

[2021-05-17 12:01] Haag-se commented on #49158
A follow up question -> The warmup effect appears to degrade over time. I can do +250k inference runs in 7.2 seconds (about 28 microseconds per prediction in average) which is great, but if i do a single inference a few minutes later with the same model, it takes at least 10x as long time.

Does Tensorflow clear the memory after some time? And if so, is there an option to stop that from happening?

[2021-05-17 12:02] cclauss commented on #45164
Is this fixed?

[2021-05-17 12:02] cclauss commented on #44485
I think this is fixed now.

[2021-05-17 12:12] kiflowb777 commented on #47309
On version 2.5.0 of the TensorFlow I am still able to replicate the error.

[2021-05-17 12:13] ArtanBerisha1 commented on #48850
@thaink I was able to run with Java API on Android, but its giving the wrong output, the accuracy of all objects is always 0.0% , and the first coordinate of the rectangle detected is always 0 , and the other 3 are wrong also. Did that model that you tried gave you good detections ?

[2021-05-17 12:16] kiflowb777 commented on #47819
I am still able to reproduce the error on TensorFlow 2.5.0

[2021-05-17 12:16] mdanatg commented on #49225
Looks most likely like a bug in the deprecation API: https://github.com/tensorflow/tensorflow/blob/5fca930c7fb1b302c6d7f1d05a80724028764480/tensorflow/python/util/deprecation.py#L101

It should be straightforward to add a test an an extra check.

[2021-05-17 12:23] parsa-ra commented on #49211
Any input?

[2021-05-17 12:43] neso613 commented on #48915
It is running now, but with Flex dependecny. Any solution for this flex issue?

[2021-05-17 12:48] ashutosh1919 commented on #47689
@nikitamaia , please assign this issue to me since I am working on it as part of PR #49230 .

[2021-05-17 12:49] ashutosh1919 commented on #48584
@bhack , @AdityaKane2001 - Please consider looking at the detailed description in the PR #49230 and provide your feedback.

[2021-05-17 12:50] #38862 closed

[2021-05-17 12:50] #48799 closed

[2021-05-17 12:50] #40790 closed

[2021-05-17 12:50] #39459 closed

[2021-05-17 12:50] #34500 closed

[2021-05-17 12:51] #38443 closed

[2021-05-17 13:15] #48999 closed

[2021-05-17 13:16] #49027 closed

[2021-05-17 13:19] LazyDareDevil commented on #23728
@Piyushagg19 I had importes like:
import tensorflow as tf
from tensorflow import keras
from keras..optimizers import Adam

then I done:
from tensorflow.keras.optimizers import Adam

and it works for me

I think, it's nessesary to add tensorflow before keras

[2021-05-17 13:21] saikumarchalla commented on #49125
Could you please provide the simple standalone code/ colab link to reproduce the issue at our end.Thanks

[2021-05-17 13:23] Piyushagg19 commented on #23728
@LazyDareDevil: I did the exact same way but for some reason it is throwing an error.

[2021-05-17 13:33] saikumarchalla commented on #49189
@XiaoyuHy  Please provide the simple standalone code/ colab link along with input data to reproduce the issue at our end.Thanks

[2021-05-17 14:00] tilakrayal commented on #49221
@LijaAlex12 ,

Please refer the links mentioned and let us know if it helps.Thanks!

[2021-05-17 14:06] Saduf2019 commented on #49212
The issue will move to closed status once the PR is merged.

[2021-05-17 14:06] Saduf2019 commented on #49184
@sat2000pts
from the error logs it does not appear to be an incompatibility issue between the sparse tensor and training pipeline, can you isolate a single layer, try feeding the sparse inputs ti it and let us know.

[2021-05-17 14:16] Saduf2019 commented on #49227
@DachuanZhao
Patience has to be an integer, it denoted the number of epochs to wait for , 1e-7 is not acceptable form for an epoch. [as in [this gist](https://colab.research.google.com/gist/UsharaniPagadala/c1e109fd66344c3c8e243b881411303f/untitled1.ipynb)

[2021-05-17 15:05] pythonic2020 opened #49233 "Should tf 2.5.0 recognize GPU on Windows 10 with CUDA 11.3/cuDNN 8.2 installed?"
[Tf docs](https://www.tensorflow.org/install/gpu#software_requirements) say that GPU support will work with CUDA 11, I assume meaning 11.* (??)

I have heard that tf GPU 2.5.0 is designed to work with CUDA 11.2 (https://github.com/tensorflow/tensorflow/issues/49190#issuecomment-841656229).

I have also heard that tf build failed with CUDA 11.3 libraries (#48803).  I assume this means that tf 2.5.0

[2021-05-17 15:25] lonerzzz opened #49234 "API Documentation pages do not allow providing written feedback"
## URL(s) with the issue:

All pages in the document including:
https://www.tensorflow.org/api_docs/python/tf

## Description of issue (what needs changing):
Right now, there is no simple means to provide feedback on the generated documentation aside from a thumbs up/thumbs down and limited multiple choice selection, making such feedback hardly useful. The API documentation at this stage is far to

[2021-05-17 15:27] MaryamBibiRcs commented on #43227
@Her0Mark I am getting the same error on google colab while I run tensorflow faster rcnn object detection api. I reduced batch size=1 but didn't passed through it. Have you solved your's?

[2021-05-17 15:27] chaymaa22 commented on #23728
I had the same problem, and i solved it by :

from tensorflow.keras.optimizers import RMSprop

instead of :

from keras.optimizers import RMSprop

[2021-05-17 15:43] StevenMapes commented on #45930
Could you post the instructions of you installed to fix this please as the notes cover 16.04 and 18.04 but not 20.04 which I#m also having troubles with now

[2021-05-17 15:50] #48644 closed

[2021-05-17 15:58] ShikharJ opened #49235 "Question Pertaining to TanH Implementation for TFLite"
I was reading through the [TFLite Zero Skew Representation paper](https://arxiv.org/pdf/1712.05877.pdf) which makes a reference to the implementation of most mathematical functions [here](https://github.com/tensorflow/tensorflow/blob/4952f981be07b8bf508f8226f83c10cdafa3f0c4/tensorflow/contrib/lite/kernels/internal/optimized/optimized_ops.h). However, though the paper mentions the implementation of

[2021-05-17 16:05] Saduf2019 commented on #48738
@Jeet1994
This question is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

You may refer to simialr error issue here: [link](https://github.com/tensorflow/tensorflow/issues/20727),[link2](https://stackoverflow.com/questions/37457207/python-typeerror-new-mis

[2021-05-17 16:09] lonerzzz opened #49236 "Custom Losses Documentation is Incomplete"
## URL(s) with the issue:

https://www.tensorflow.org/guide/keras/train_and_evaluate#custom_losses

## Description of issue (what needs changing):

### Clear description

The current documentation for writing custom loss functions is significantly incomplete. It does not indicate:

1) how to test compilation of the custom loss function
2) how to debug the custom loss function
3) what data types ar

[2021-05-17 16:14] bhack commented on #49235
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/kernels/internal/reference/integer_ops/tanh.h

[2021-05-17 16:16] bhack commented on #49234
/cc @lamberta @MarkDaoust @theadactyl

[2021-05-17 16:17] ShikharJ commented on #49235
@bhack Thanks for the link. Closing this issue for now.

[2021-05-17 16:24] bhack commented on #49221
ThIs ticket (example request) is now tracked at https://github.com/am15h/tflite_flutter_plugin/issues/116.
We can close this.

[2021-05-17 16:36] bhack commented on #49225
@lostmsu Do you want to contribute a PR?

[2021-05-17 16:36] dbouchabou opened #49237 "MultiHeadAttention padding mask example"
## URL(s) with the issue:

Please provide a link to the documentation entry, for example:
https://www.tensorflow.org/api_docs/python/tf/keras/layers/MultiHeadAttention

## Description of issue:

I try to implement tranformers layer but there is no example of using this MultiHeadAttention layer with padding mask.
It is poffible to get one ?

[2021-05-17 16:38] dundarahmet opened #49238 "ValueError: as_list() is not defined on an unknown TensorShape."
Hi. I try to implement AlexNet with Coco dataset. I want to make multi label classification but tf throws the error. Full error is:

`
ValueError: in user code:

    /usr/local/lib/python3.7/dist-packages/tensorflow/python/keras/engine/training.py:805 train_function  *
        return step_function(self, iterator)
    /usr/local/lib/python3.7/dist-packages/tensorflow/python/keras/engine/training.py

[2021-05-17 16:54] UsharaniPagadala commented on #49237
@dbouchabou
Could you please check  ,and let us know if it [helps](https://www.tensorflow.org/tutorials/text/transformer#multi-head_attention).Thanks

[2021-05-17 16:54] advaitjain commented on #45164
mbed + python 3.9 + CI is not fixed. However, with TFLM moving to a [standalone github repo](https://www.github.com/tensorflow/tflite-micro) the CI will be quite different and the current issue can be closed as a `wontfix`.

[2021-05-17 16:54] #45164 closed

[2021-05-17 17:05] nikitamaia commented on #43555
Some work has been done to reduce retracing warnings, and testing with nightly results in only two warnings in this case.
[Gist here.](https://colab.research.google.com/gist/nikitamaia/0cc6732434b5b32782a4ab0d3d5b254a/43555.ipynb)

[2021-05-17 17:05] edloper commented on #44642
@amitport ade73c6af0957e7cbe420ae515c6a5d9acc6ecb3 updated assertAllEqual and similar functions to evaluate `a` and `b` in the same graph.  Closing this as fixed, but please feel free to re-open if you find that this change doesn't address your problem.

[2021-05-17 17:05] #44642 closed

[2021-05-17 17:12] suraj-maniyar commented on #42277
Hi @dev0x13
I followed your approach to confine number of threads to 1, by passing it as argument to tflite::InterpreterBuilder
However, I get an error with destructor.

[code]

Threadinterpreter is just a struct defined as follows :
[code]

I built tensorflowlite with xnnpack delegate dependency as follows :
[code]

How do I properly delete thread resources in the destructor?

Any help on fixing

[2021-05-17 17:14] Haag-se opened #49239 "Segfault using XNNPACK with C++ API"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04.2 LTS (GNU/Linux 5.4.0-73-lowlatency x86_64)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Source
- T

[2021-05-17 17:25] UsharaniPagadala commented on #49179
@bersbersbers
Could you  please check the above comment by **mihai**  and please confirm if the issue still persist.Thanks

[2021-05-17 17:26] LijaAlex12 commented on #49221
Thank You Very Much.

[2021-05-17 17:26] LijaAlex12 commented on #49221
@bhack

[2021-05-17 17:27] #49221 closed

[2021-05-17 17:35] #49179 closed

[2021-05-17 17:37] srjoglekar246 commented on #49160
@UnickSoft The delegate code in delegates/gpu/delegate.h is what we recommend to use as the GPU delegate, since that is the well-maintained backend. Some of these delegate codebases are pretty complex, so modify with care :-). GLad that you found a fix!

[2021-05-17 17:37] #49160 closed

[2021-05-17 17:41] lonerzzz commented on #49238
This was marked as a bug. Is this a new bug or is it tied to the same bugs around make_ndArray() and numpy() methods being missing?

[2021-05-17 17:48] #42383 closed

[2021-05-17 17:50] #39882 closed

[2021-05-17 17:50] #40006 closed

[2021-05-17 18:02] minniekabra commented on #28287
Hi, I am faciing simillar isse in TF2.0, and have tried all methods present on this page.. but its not resollved..Below is my code:
`from tensorflow.python.keras import backend as K
session = tf.compat.v1.Session(graph=tf.compat.v1.Graph())
with session.graph.as_default():
    K.set_session(session)
    tf.compat.v1.disable_eager_execution()
    tf.compat.v1.global_variables_initializer()
    vgg_

[2021-05-17 18:11] bhack commented on #49238
Check https://github.com/tensorflow/tensorflow/issues/28257#issuecomment-489717572

[2021-05-17 18:24] AlexandreBourrieau opened #49240 "GridSearchCV error when n_jobs=-1"
Hello,

When I use GridSearchCV using njob=-1 I got an error bellow but it work great with njob=1. When using njob=-1 it runs for the first argument of taille_fen (7) but got error for the next. But it work with njob=1...

 The above exception was the direct cause of the following exception:

[code]

My code is

[code]

Full error

[code]

[2021-05-17 18:24] bhack commented on #43555
@nikitamaia Have you tried in your colab:
[code]

[2021-05-17 18:34] UsharaniPagadala commented on #49240
@AlexandreBourrieau

This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at Stackoverflow. There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks

[2021-05-17 18:37] dundarahmet commented on #49238
I've read it but in my situation tf.py_function returns a tuple which includes an image and a label. I cannot give the shape of anything. Here the code:

`ds_train = tf.data.Dataset.from_tensor_slices(train_annotation.index.values).map(lambda x: tf.py_function(train_images, [x], [tf.float32, tf.uint8]))`

actually, tf.py_function's input parameters is just a file name, not an input that is fed int

[2021-05-17 18:39] gabriel-vanzandycke commented on #27120
I woud like to parametrize my custom training loop training step method with the model type:
- `train_model` when running only the forward and backward on the `loss`
- `eval_model` when computing several metrics in addition to running forward and backward on the loss.

I face this error when I'm adding `model` on which the step should be performed in `_train_step`.

Is it related to this issue? Wh

[2021-05-17 18:41] suraj-maniyar commented on #40157
@thaink @terryheo
Not sure if this falls under a different topic, but I am interested in running inference using flex delegate on single thread.
For that I configured my interpreter like this :
[code]

Upon doing that I get an error in destructor for Flex delegate :
[code]

Is there a way I can confine inference with flex delegate to run on single thread?
I also built tensorflow with xnnpack suppo

[2021-05-17 18:44] minniekabra commented on #28287
Hi, I am using tensorflow2.4.1 and getting similar error.. Below is my code & error. Can yo help?

`
    from  tensorflow.python.keras import backend as K

session = tf.compat.v1.Session(graph=tf.compat.v1.Graph())

with session.graph.as_default():

    K.set_session(session)

    tf.compat.v1.disable_eager_execution()

    tf.compat.v1.global_variables_initializer()

    vgg_model_path="../input/

[2021-05-17 18:50] #44770 closed

[2021-05-17 18:50] #48439 closed

[2021-05-17 18:59] bhack commented on #49208
I think that partially could be connected with https://github.com/tensorflow/tensorflow/issues/48947 as iterations probably is not a problem with a saved and resumed model.
So I don't know if we will have other side effects manipulating `initial_epoch` on the same object.
@chrisbutner Can you reproduce exactly the same training session (loss/acc) with your `model.optimizer.iterations.assign(0, rea

[2021-05-17 19:00] cosmoquester opened #49241 "LSTM and GRU on cudnn with mask puts different output from CPU or Non-cudnn kernel"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2021-05-17 19:04] bhack commented on #48878
Can you check https://github.com/tensorflow/tensorflow/issues/48851#issuecomment-830858393

[2021-05-17 19:05] bhack commented on #27120
Can you check https://github.com/tensorflow/tensorflow/issues/48851#issuecomment-830858393?

[2021-05-17 19:11] bhack commented on #24439
I think we could close this. Also we don't support TF 1.x anymore.

[2021-05-17 19:12] YannPourcenoux commented on #49216
While creating a script to reproduce the issue, I realized I swapped the axis when specifying the input_shape for the benchmark. The error was then totally on my side.
Would adding something to ensure that the model is fed the expected shape be possible to prevent such mistakes?
Anyway, thanks again for your quick reply!

[2021-05-17 19:15] atyshka opened #49242 "Request: Function (or example) for shuffling a large dataset on disk"
**System information**
- TensorFlow version (you are using): 2.4.1
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
There is currently no supported way to shuffle a large tfrecord dataset that does not fit into memory. For example, I am working with the Waymo Open Dataset, which consists of roughly 800 TFRecord files each with 200 frames of

[2021-05-17 19:36] bhack commented on #49242
I don't know if using [Waymo TFDS](https://www.tensorflow.org/datasets/catalog/waymo_open_dataset) it can work with TFDS  [`shuffle_files` param](https://www.tensorflow.org/datasets/api_docs/python/tfds/load)

[2021-05-17 19:42] dbouchabou commented on #49237
Thank you for the link. I've already checked it but the  attention_mask is a boolean mask of shape [B, T, S] in the function tf.keras.layers.MultiHeadAttention. In the link you shared the shape is different [batch_size, 1, 1, seq_len].

I don't understand how to create a mask with shape [B, T, S]. I suppose B is for batch_size T for Targer len and S for source len. But how ans where place 1 and 0

[2021-05-17 19:43] #49112 closed

[2021-05-17 19:45] bhack commented on #49237
Can you check https://www.tensorflow.org/tutorials/text/transformer ?

[2021-05-17 19:48] atyshka commented on #49242
TFDS would be a great solution but unfortunately the TFDS version is simplified and does not contain the original data format

[2021-05-17 19:50] #48778 closed

[2021-05-17 19:54] bhack commented on #49242
I think that this is still valid https://github.com/tensorflow/tensorflow/issues/14857#issuecomment-347261151

[2021-05-17 19:55] BryanBo-Cao commented on #32814
I had the same code and had debugged for hours but still it did not work -- it just used all the GPU memory it had.

In the end, **setting GPU before loading Keras** solved my problem of limiting GPU memory usage!

https://github.com/keras-team/keras/issues/1538#issuecomment-342034737

[2021-05-17 20:14] atyshka commented on #49242
I tried that method but noticed I wasn’t getting truly random data. This is because the data is an ordered time series within each re-record file. Even though all 800 files are shuffled randomly, the data read from them is still in order. The first elements of the files are read first and the last elements are read last. This may seem like an insignificant difference in a large dataset, but I am e

[2021-05-17 20:23] a-ma-n commented on #49236
Hello there! is this issue open? can I contribute?

[2021-05-17 20:25] bhack commented on #49236
/cc @nikitamaia

[2021-05-17 20:27] harahu commented on #23559
This is fixed, at least in tf 2.x, so we can close this issue.

[2021-05-17 20:27] #23559 closed

[2021-05-17 20:27] bhack commented on #49242
So do you have the inverted use case of https://github.com/tensorflow/datasets/issues/113 ?

[2021-05-17 20:37] bhack commented on #47309
`Input` will go to create a `LambdaLayer` again.

Try to use  `tf.keras.Input`

[2021-05-17 20:50] abattery commented on #48915
Please file a feature request for the Select TF ops by adding a new issue. Thanks.

[2021-05-17 20:50] #48915 closed

[2021-05-17 20:53] abattery commented on #49216
Thanks for the confirmation!

@multiverse-tf could you take a look at https://github.com/tensorflow/tensorflow/issues/49216#issuecomment-842566632?

[2021-05-17 20:53] #49216 closed

[2021-05-17 20:57] PCJimmmy commented on #49175
I just refreshed 3 machines on Ubuntu 20.04 to run machine learning using tf.  I noticed when installing tf that we are now version 2.5.  I made a specific check on tf web site to determine cuda and cudnn versions to install.  All machines have dual GPU and getting them running in tf is very dependent on the right cuda/cudnn.

You wasted my time by NOT updating GPU instructions - in fact the page

[2021-05-17 22:30] chrisbutner commented on #49208
I'm not sure what you mean by "reproduce exactly the same training session", sorry. Thanks for that link - it sounds like https://github.com/tensorflow/tensorflow/issues/48947 deals with a very similar issue - that one is worse because it's the way a 10-line tutorial would save and resume training progress, and it's very clear what should happen - "iterations" should be saved and loaded.

In my ca

[2021-05-17 22:45] dbouchabou commented on #49237
@bhack thank but it did not help me because il this tutorial the mask shape is not the same as the native multi head attention of TF 2.5

mask shape in tutorial: [batch_size, 1, 1, seq_len]
mask shape in tf.keras.layers.MultiHeadAttention: [B, T, S]

I don't understand how can I create the mask with the shape [B, T, S] ?

[2021-05-17 22:46] chrisbutner commented on #48947
The problem is that OptimizerV2.iterations is exactly what gets passed to a LearningRateSchedule to determine the learning rate. If it reports 4 when it should be 7 then training isn't going to work properly when it saves and resumes.

https://github.com/tensorflow/tensorflow/blob/d05aa3b7d9ca3de1a44c6ca5354a3c859cda727b/tensorflow/python/keras/optimizer_v2/optimizer_v2.py#L1015

[2021-05-17 22:53] bhack commented on #49237
If you want to use the keras one you can see some Mask creation in `test_masked_` tests in `https://github.com/tensorflow/tensorflow/blob/v2.5.0/tensorflow/python/keras/layers/multi_head_attention_test.py

[2021-05-17 23:01] bhack commented on #49208
I meant if the optimizer is exactly in the same status so if the loss/accuracy it is exactly the same at every step/epoch with your `iterations` reset workaround or we have others side effects.
E.g. when serializing I still think that we have the old problem (see https://github.com/tensorflow/tensorflow/pull/42846) about recovering the optimizer status. So I don't know if we have other side effect

[2021-05-17 23:14] dbouchabou commented on #49237
@bhack thanks for this pointer I understand better. But I still one problem. The example in your link use random mask. How can I create a mask for a multi head self attention with the Keras implementation for this sequence for exemple:

seq= [A,B,C,D,0,0,0,0,0,0]

if it self attention the source and the target are the same sequence.
T = [A,B,C,D,0,0,0,0,0,0]
S = [A,B,C,D,0,0,0,0,0,0]

the mask sho

[2021-05-17 23:19] lonerzzz commented on #49236
@a-ma-n if you have any commentary, I personally would appreciate it and any knowledge can help improve the guide going forward so other can benefit

[2021-05-17 23:38] dbouchabou commented on #49237
is it a correct function to create a padding mask for the Keras multi head attention implementation ?

[code]

[2021-05-17 23:48] bhack commented on #49237
Ok as it was already semi-requested in https://github.com/tensorflow/tensorflow/issues/45854 probably we could add something in the documentation or refactor the tutorial with the Keras layer.

/cc @MarkDaoust to evaluate this.

[2021-05-18 00:09] abattery commented on #49223
@frec could you triage this issue?

[2021-05-18 00:10] abattery commented on #49239
@Maratyszcza could you take a look at this?

[2021-05-18 00:23] AldrichCabrera opened #49245 "AttributeError: module 'tensorflow.compat.v2' has no attribute '__internal__'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 20.04):
- TensorFlow version: 2.2.0
- Python version: 3.8
- Installed using virtualenv? pip? conda?:
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version: 11 / 8
- GPU model and memory: GTX 780

I'm trying to run Keras version 2.2.4 on Ubuntu 20.04 with python 3.

[2021-05-18 00:43] ymodak commented on #49245
Did you try importing keras from tensorflow?
[code]

[2021-05-18 00:50] jvishnuvardhan commented on #46429
@harupy It looks like this is intended behavior. Please check the source code here https://github.com/tensorflow/tensorflow/blob/a4dfb8d1a71385bd6d122e4f27f86dcebb96712d/tensorflow/python/keras/callbacks.py#L1801-L1803

During `on_train_begin`, self.wait is set as `0`. On `on_epoch_end`, self.wait += 1.

So `on_epoch_end`, the above condition becomes True and `stop_training` (self.model.stop_train

[2021-05-18 00:55] rxsang commented on #38762
sayakpaul@ summarized the problem well in https://github.com/tensorflow/tensorflow/issues/38762#issuecomment-787600368, I would suggest finding alternatives of pyfunctions to run on TPUs in general.

[2021-05-18 00:59] AldrichCabrera commented on #49245
@ymodak I get the same issue.

[2021-05-18 01:04] Anton-Velikodnyy commented on #24111
While i don't have a chance to test it currently. I'll close for now unless someone finds a bug with it.

[2021-05-18 01:04] #24111 closed

[2021-05-18 01:10] bhack commented on #49245
TF 2.2.0 Is CUDA 10.1

[2021-05-18 01:11] bhack commented on #49245
P.s. CUDA® 11 (TensorFlow> = 2.4.0)

[2021-05-18 01:15] chrisbutner commented on #49208
Got it. Yes, you can definitely lose state; e.g., when I construct the model/optimizer/schedule and use `load_weights` + `initial_epoch` + `steps_per_epoch` + `OptimizerV2.iterations` workaround, I'm losing SGD momentum state and just live with that, because the wrong learning rate is disastrous, but uninitialized momentum should fix itself up quickly, and I'm not giving TensorFlow any info on how

[2021-05-18 01:26] daniel-kukiela opened #49246 "model.fit() with TensorFlow callback set to log each batch causes error on the second model.fit() call"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: -
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.4.0-49-g

[2021-05-18 01:50] bradqiu1982 commented on #18736
Same problem.
Allocation of 963379200 exceeds 10% of free system memory

Why do those smart guys think memory warning is a small problem?
I have 16G RAM, 50% used. But I still got the memory warning!!! @bignamehyp

[2021-05-18 01:54] bhack commented on #49208
What I meant is all these Is related to the optimizer lifecycle.
If you don't care about the status/reproducibilty of the optimizer iterations is related to the lifecycle of the object and not to the model or fit.
Yes probably a warning could be printed if this is the intended behaviour when you have `initial_,epoch` but with your multiple fit  example and without serialization probably It expect

[2021-05-18 02:07] chrisbutner commented on #49208
Sure, I think that lines up with what I'm saying - maybe I need to explicitly tell the optimizer which absolute step to start with when starting a new `Model.fit` (just to be clear, I'm not doing multiple fit()s, that's just in the repro example).

The problem is that (a) it's not documented that `LearningRateSchedule` relies on `Optimizer.iterations`, and (b) `iterations` isn't on the public API

[2021-05-18 02:23] bhack commented on #49208
As iterations is in the weights and in you real case you load the weights I think that you need to have a fresh new optimizer and re-compile after weights load

[2021-05-18 02:26] daniel-kukiela commented on #49246
After further investigation, what triggers this issue is either:
[code]
in the `on_train_end()` method of the `TensorBoard` callback, or:
[code]
in the same method.

What possibly helps here is to call:
[code]
between first and second `model.fit()` call, like:
[code]

[2021-05-18 02:32] bradqiu1982 commented on #18736
OK, it just a warning which notice you that the memory tensorflow try to allocate is bigger than 10% of your free memory.
It doesn't mean tensorflow failed to get the memory it want.  When this warning happened , check your free memory, if it is bigger than the number which tensorflow warning, you don't need to care about it.  If you really care, close other application or add physical memory.

At

[2021-05-18 02:39] zhangenzhi commented on #43706
@Jephthia

You can use a for-loop to deal with the batch problem of tf.io.parse_tensor, like this(using your code):

[code]

[2021-05-18 02:45] multiverse-tf commented on #49216
Good suggestion! Will add more input-shape-related checks asap.

[2021-05-18 02:49] atyshka commented on #33009
Having similar issue in latest TF 2.4.1. Growing from about 60GB (I'm using a large shuffle buffer) to 128GB over the course of a few hours. Not sure if it't the same issue as originally mentioned here, since it seems to be more subtle and any number of causes could be the memory leak. Would file a new issue but it's challenging to create a minimal reproducible example

[2021-05-18 02:52] chrisbutner commented on #49208
Ah, thank you, I didn't realize `save_weights`/`load_weights` also saved optimizer state: I thought that was restricted to `Model.save`/`models.load_model`, but I see it documented there.

After adjusting the repro, everything seems to work as expected regardless of the order of `compile` and `load_weights`.

The reason I couldn't automatically take advantage of the optimizer weights is because I

[2021-05-18 03:02] 1173710201 opened #49247 "nnlib"
Tflite offers _**libhexagon_nn_skel.so**_ to use hexagon delegate.I wonder is this library produced by nnlib?
Because when i used nnlib to get my own _**libhexagon_nn_skel.so**_  and applied it in tflite,something went wrong.

The logcat:
vendor/qcom/proprietary/commonsys-intf/adsprpc/src/apps_std_imp.c:735: Successfully opened file /system/vendor/lib/rfsa/adsp/libhexagon_nn_skel_v66.so
vendor/qco

[2021-05-18 03:04] alanpurple opened #49248 "build failed with tensorrt 8.0"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 20.04.2
- Mobile device

[2021-05-18 03:40] CHIJUI0128 opened #49249 "tf.GradientTape.gradients() does not support graph control flow operations like tf.cond or tf.while at this time. Use tf.gradients() instead. If you need this feature, please file a feature request at https://github.com/tensorflow/tensorflow/issues/new"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2021-05-18 04:15] UsharaniPagadala commented on #49112
@Wmir
Could you please reopen the issue with the clear details and provide a colab gist along with the dependencies to analyse the issue reported if the issue still persist.Thanks

[2021-05-18 04:41] Maratyszcza commented on #49239
@Haag-se Could you post a backtrace right after the segfault? You can get it by running the binary under `gdb`:
[code]

[2021-05-18 05:09] janpfeifer commented on #43555
@bhack I just updated the colab to force install of the new TF 2.5.0 (by default it comes with 2.4.1) and verified that the retrace was only called twice:

https://colab.research.google.com/drive/18XwRl5d8qY1L1qKPMm-A9NT_m4qB0UxZ?usp=sharing

I feel the issue is fixed. I mean better yet if there were no retracing ... :)

[2021-05-18 05:24] abattery commented on #49247
@karimnosseir could you take a look at this?

[2021-05-18 05:30] GitUser2000 commented on #48756
Is there any suggestions?

[2021-05-18 05:38] AldrichCabrera commented on #49245
Thank you. I've tryed and it works. Thank you!! :)

[2021-05-18 06:06] dbouchabou commented on #49237
Thanks for this answer. I think it could be a good thing to add a new exemple with the Keras implementation in addition of the current one transformer implementation with Tensorflow .

Maybe in future Tensorflow versions you could provide Tranformers Encoder and Decoder as Keras layers and also a full transformer Keras implementation ?

[2021-05-18 06:14] thaink commented on #48850
In most of the cases I saw, if the result when you run TFLite with Python is different than what you got on Android, the inputs to the model are not the same. So please print the array that you feed the model and check if they are the same first.

[2021-05-18 06:16] UsharaniPagadala commented on #49204
@EdouardDKP
Could you please share the colab gist with all the dependencies as to analyse the issue reported here.Thanks

[2021-05-18 06:20] UsharaniPagadala commented on #49237
@dbouchabou
Could you please confirm if the issue still persist.Thanks

[2021-05-18 06:24] thaink commented on #40157
@suraj-maniyar It should be a different topic. Can you file a new issue for it?

[2021-05-18 06:46] UsharaniPagadala commented on #49248
@alanpurple
Could you please check with the compatiblity mentioned below

Compatibility:
TensorRT 8.0.0 EA has been tested with the following:
cuDNN 8.2.0
TensorFlow 1.15.5
PyTorch 1.8.0
ONNX 1.8.0
This TensorRT release supports CUDA:
10.2
11.0
11.1
11.2
[11.3(update)](https://developer.nvidia.com/cuda-toolkit-archive)
for more information please check [this](https://docs.nvidia.com/deeplearning/t

[2021-05-18 06:50] #48825 closed

[2021-05-18 06:55] ziruizhuang opened #49252 "SparseCategoricalAccuracy y_true and y_pred shape"
## URL(s) with the issue:
https://www.tensorflow.org/api_docs/python/tf/keras/metrics/SparseCategoricalAccuracy

## Description of issue (what needs changing):
It seems that the usage example conflicts with documentation. I suppose that the usage example is correct https://github.com/tensorflow/tensorflow/blob/a4dfb8d1a71385bd6d122e4f27f86dcebb96712d/tensorflow/python/keras/metrics.py#L3474-L3478

[2021-05-18 06:59] marcvanzee opened #49253 "dependency conflict between tensorflow and tensorflow-text"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 7.5.0-3ubuntu1~18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.5.0
- Python version: 3.6.9
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from sourc

[2021-05-18 07:01] elad-c commented on #48928
I checked the gist. Seems to validate the bug. Will this issue be fixed?

[2021-05-18 07:14] sachinprasadhs commented on #49208
@chrisbutner , Closing the issue since it is working as expected and your issue is resolved, Thanks!

[2021-05-18 07:14] #49208 closed

[2021-05-18 07:18] UsharaniPagadala commented on #49245
@AldrichCabrera
Could you please confirm if the issue still persist.Thanks

[2021-05-18 07:20] UsharaniPagadala commented on #49245
@AldrichCabrera

Could you please confirm if the issue still persist.Thanks

[2021-05-18 07:23] sachinprasadhs commented on #49103
@Leon-lianglyu , You can find the similar issues here which could solve your issue here, [issue1](https://stackoverflow.com/questions/50236117/scraping-ssl-certificate-verify-failed-error-for-http-en-wikipedia-org), [issue2](https://stackoverflow.com/questions/65242614/why-does-loading-tensorflow-on-mac-lead-to-process-finished-with-exit-code-132)

[2021-05-18 07:23] tilakrayal commented on #49233
@pythonic2020 ,

Every TensorFlow release is compatible with a certain CUDA/cuDNN version, for more information please take a look at the [tested build configurations](https://www.tensorflow.org/install/source_windows#gpu).Please try installing TensorFlow v2.5 with respective CUDA  and cuDNN  and check if you are facing the same error.

Version | Python version | Compiler | Build tools | cuDNN | C

[2021-05-18 07:27] DachuanZhao commented on #49227
Get it . And  I think the default value of  ```patience``` should be ```1``` ...

[2021-05-18 07:32] sachinprasadhs commented on #49015
@99003731  tf.gfile has been moved under tf.io.
Instead of  `tf.gfile.GFile(path, 'r')` you can use `tf.io.gfile.GFile(name, mode='r')`.
You can find more info about this from the document [here](https://www.tensorflow.org/api_docs/python/tf/io/gfile/GFile).

[2021-05-18 07:47] UsharaniPagadala commented on #48928
@elad-c
I could run this in tf2.4 as well.Please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/0e42ef32964ec9f4205a1f99b67e6038/untitled41.ipynb). Thanks

[2021-05-18 07:48] Litchilitchy opened #49254 "Performance drop if I do some operation between predictions."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): conda
- TensorFlow version (use command below): 1.15
- Python version: 3.6

**Describe the current behavior**
I am using CPU to predict, the issue oc

[2021-05-18 07:51] UsharaniPagadala commented on #48928
@elad-c
 I could run the code in tf 2.4 as well.Please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/0e42ef32964ec9f4205a1f99b67e6038/untitled41.ipynb).Thanks

[2021-05-18 08:04] UsharaniPagadala commented on #49014
@chenxinhua
Could you please confirm if the issue still persist.Thanks

[2021-05-18 08:26] elad-c commented on #48928
Hi @UsharaniPagadala ,
Maybe we have some local differences, but running the code in the gist works well for 2.3 but fails for 2.4
i'm not sure how local changes might affect the colab notebook, maybe you didn't do "RESTART RUNTIME"?

Thanks,
Elad

[2021-05-18 08:32] bhack commented on #43555
Have you tried with my example?

[2021-05-18 08:37] UsharaniPagadala commented on #48928
@elad-c
I did restart runtime  every time and worked for me and here is the [gist](https://colab.research.google.com/gist/UsharaniPagadala/0e42ef32964ec9f4205a1f99b67e6038/untitled41.ipynb).Thanks

[2021-05-18 08:42] UsharaniPagadala commented on #48919
@bas-aarts

Could you please confirm if the issue still persist.Thanks

[2021-05-18 08:48] lyw615 opened #49255 "Is CUPTI error due to tensorflow version or NVIDIA CUPTI libary API change ?"
The problem i met is in this issue  https://github.com/tensorflow/tensorflow/issues/35860.  I just want to confirm what raises this probelm. Is this due to the tensorflow version or the new version of   NVIDIA CUPTI libary? In tensorflow version belowing 2.0, my program runs normally.

[2021-05-18 08:50] #48873 closed

[2021-05-18 09:03] janpfeifer commented on #43555
Interesting, I just did, I [added it to the colab](https://colab.research.google.com/drive/18XwRl5d8qY1L1qKPMm-A9NT_m4qB0UxZ#scrollTo=B26kne4tr_ck).

This time around there were no warnings at all, neither on yours or mine.

Btw, I believe you don't need to call `model.build(...)`, since the input is specified (by `tf.kerars.Input(...)`).

At least according to [tf.keras.Sequential doc page](https

[2021-05-18 09:05] a-ma-n commented on #49236
Great I'll look into it

[2021-05-18 09:07] bhack commented on #43555
Yes but I think It Is similar to https://github.com/tensorflow/tensorflow/issues/48851#issuecomment-830858393

[2021-05-18 09:09] gabriel-vanzandycke commented on #48851
When should the `build()` method be called then? Where is the documentation for that method?

Is it okay to call build() for every batch (only the first call would have an effect) ? Or should I keep track of (un)built models?

[2021-05-18 09:21] CHIMRLINUX opened #49256 "Question VM UPGRADE Tensorflow"
Hello

Quick question, we are upgrading our systems from standalone to Virtual Machine environment Via VMware.

Specs is GPU Tesla T4

We are unsure for Tensorflow what would work best however maybe you might know?

what works best to move Tensor flow onto the VM enviroment ? ie what hardware specs.

thanks

CH

[2021-05-18 09:27] medivh-x opened #49257 "tfdbg support dump all op outputs in tf2.x (just like tf1.x) instead of only NANs"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):2.4.1
- Are you willing to contribute it (Yes/No):No

**Des

[2021-05-18 09:32] RomanSteinberg commented on #21126
@rmothukuru please, read the first message attentively. I'm pointing out to the **end slash**, i.e. trailing, not leading.

For example, `pathlib` allows you to have or not trailing slash.
[code]
It is an easy-easy issue :)

[2021-05-18 09:34] bhack commented on #49249
Can you fill the ISSUE template with all the info required? Thanks

[2021-05-18 09:41] Haag-se commented on #49239
Sure! Here is the output

[code]

[2021-05-18 09:47] jiaojiaoYe opened #49258 "[TFLite] Failed to create Hexagon delegate on REALME x50 Pro"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):macOS Catalina
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:realme x50 Pro
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below

[2021-05-18 09:50] #40225 closed

[2021-05-18 09:54] bhack commented on #43555
P.s. Just to summarize `tf.keras.Input` is going to create a placeholder internally if you don't pass your tensor with the `tensor` arg (it is in the documentation).

E.g. You can try yourself, this will not retrace as with `build`:

[code]

[2021-05-18 10:07] bhack commented on #21126
@RomanSteinberg As this issue and your example was related to TF 1.x and we don't support TF 1.x anymore if you are still interested in this can you share a version of your example compatible with a recent version of Tensorflow or a Colab?

Thanks

[2021-05-18 10:08] abattery commented on #49258
@karimnosseir could you take a look?

[2021-05-18 10:13] bhack commented on #49256
I don't think that we handle any specific request for VMware here but you could rely on third_party official infos:
https://docs.vmware.com/en/VMware-vSphere-Bitfusion/index.html
https://docs.vmware.com/en/VMware-vSphere-Bitfusion/3.0/Example-Guide/GUID-1C053853-4D83-4D94-A6F3-D6958478AAB2.html

[2021-05-18 10:40] whitehatedk opened #49259 "issu"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-05-18 10:44] magondra opened #49260 "Cannot link to built tensorflow.lib with Visual C++ -- undefined symbols;"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
-> Windows 10
- Mobile device

[2021-05-18 10:46] bhack commented on #49259
Please fill the issue template.

[2021-05-18 10:50] #40532 closed

[2021-05-18 10:58] dev0x13 commented on #42277
Hi @suraj-maniyar . I believe that your error has nothing to do with the threading settings, because setting number threads does not require any specific destruction logic.

[2021-05-18 11:01] Saduf2019 commented on #49227
@DachuanZhao
please go through [this link](https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/EarlyStopping), and [example here](https://machinelearningmastery.com/how-to-stop-training-deep-neural-networks-at-the-right-time-using-early-stopping/).

Detailed explanation on patience parameter  [is here](https://towardsdatascience.com/a-practical-introduction-to-early-stopping-in-machine-l

[2021-05-18 11:14] tianxh1212 commented on #39521
I get the same problem on r2.4.1
I solved it by using --copt -g --strip=never rather than -c dbg

[2021-05-18 11:16] tianxh1212 commented on #39521
try --copt -g --strip=never，not -c dbg，it make sense on 2.4.1~

[2021-05-18 11:23] smartaquarius10 opened #49261 "How team has made an animated 3D block diagram on tensorflow website?"
Hello Team,

This issue is not related to tensorflow package or any of its working. I am learning designing and I just wanted to know how google tensorflow team has made such a beautiful animated block diagram on the website [www.tensorflow.org](https://www.tensorflow.org/).

I'm referring to this diagram:
![Untitled](https://user-images.githubusercontent.com/7824529/118642791-6558f300-b7f9-11eb-9

[2021-05-18 11:25] sachinprasadhs commented on #12659
@meijun , The issue has been fixed in the latest Tensorflow 2.5 version for both CPU and GPU, please find the [gist](https://colab.research.google.com/gist/sachinprasadhs/240087877dd9dbc17ff2077bcf8f6239/untitled.ipynb) here and the below output.
[code]

[2021-05-18 11:29] anaradutoiu commented on #7641
@aselle I am also facing this problem of no defined gradient for the function tf.image.adjust_saturation. I am new to tensorflow so I would like to ask how should one proceed when you have to add your own gradient. Could you please give more details about that?

[2021-05-18 11:37] tpppppub commented on #36143
I

I think there may indeed be a memory leak in the label_image example.
In the [bitmap_helpers_impl.h](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/label_image/bitmap_helpers_impl.h) header,
[code]
I failed to find out where this allocation of `params` was freed.

[2021-05-18 11:40] Saduf2019 commented on #36143
@tpppppub
As this issue is in closed status can you please create a new issue, with the details.

[2021-05-18 11:42] sachinprasadhs commented on #14233
@yaroslavvb , As per the information provided [here](https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md) graph editor has been deleted in the latest Tensorflow version.
You can check [this](https://www.tensorflow.org/api_docs/python/tf/Graph) documentation for anything related to Tensorflow graph.
Feel free to close the issue if you don't have any further question.

[2021-05-18 11:52] smatzek commented on #12659
The output above shows `tf.maximum` returning the `nan` regardless of order. This doesn't align with IEEE-754R or the std::max convention see [this comment above](https://github.com/tensorflow/tensorflow/issues/12659#issuecomment-526257969).

What device was used above (CPU or NVIDIA GPU?), if CPU, was Eigen or MKL used?

[2021-05-18 12:01] ugolbck opened #49262 "Keras mask propagation between recurrent, pooling and Dense layers from Masking layer"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian 10
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.4.1
- Python version: 3.8

**Current behavior**

From what I understand, the mask created by the Masking layer propagates only through certain layers, and I am having trouble figuring out through which layers and

[2021-05-18 12:02] ShikharJ commented on #49235
@bhack Would you have an idea regarding what's the functional difference between `lite/kernels/internal/reference` and `lite/kernels/internal/optimized` implementations of integer ops? Which one is used by default in TFLite?

[2021-05-18 12:11] tilakrayal commented on #49255
@lyw615 ,

In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.

Also please take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/35860#issuecomment-585390769).Hope it helps.Thanks!

[2021-05-18 12:21] sachinprasadhs commented on #12659
@smatzek I have reproduced it in google colab, in both CPU and GPU regardless of nan order the output should return nan for all right as per the issue.

[2021-05-18 12:25] tpppppub commented on #36143
@Saduf2019
Thanks for your quick reply. I found that's my fault so I deleted my comment.

[2021-05-18 12:31] sacha-buengueroff commented on #35992
How can I implement tihs inside a ModelCheckpoint? Im having difficulties with it

[2021-05-18 12:44] saikumarchalla commented on #49246
@daniel-kukiela  I can able to reproduce the issue when calling model.fit twice() and after adding model._reset_compile_cache(),  I am not facing any issues as you mentioned above. Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/f14ae4401b461238e9edee727dba2c07/untitled.ipynb).

Looks like the issue is resolved already.  Please let us know if you have  any further

[2021-05-18 12:48] AlexFuster commented on #35928
I am having the same error in version 2.4.1
OP's code no longer replicates the eror. Instead, it appears when you add an optimizer

[code]
Both train_step_0 and train_step_1 show the error and take 10.2s, while train_step_2 doesnt and takes 1.5s

[2021-05-18 12:49] Karol-Gawlowski commented on #43030
Had the same issue @jairoMolina9, tried what you suggested but it didn't work. I also added the CUPTI/lib64 directory to PATH, still the same thing.

Windows 10
Python 3.8.5
Tensorflow 2.5.0
Cuda 11.2

I'm having a hard time checking the cudnn version though.

[2021-05-18 12:50] #41126 closed

[2021-05-18 12:50] #41234 closed

[2021-05-18 12:56] daniel-kukiela commented on #49246
For me, what I found is a workaround for a bug, not a solution. I would not call it a solution. `_reset_compile_cache` is not documented method and I doubt that it is meant/designed to be used outside of the class (because of leading `_` in its name) and that this way is or will be a supported way of dealing with this issue.

[2021-05-18 13:01] saikumarchalla commented on #49249
Duplicate issue : #36581 #31504

Could you please fill the issue template.Also Please provide the simple standalone code/ colab link to reproduce the issue at our end.Thanks

[2021-05-18 13:10] bhack commented on #49246
You need to recompile your model if you want to run on the same model again but without callbacks:
[code]

[2021-05-18 13:12] janpfeifer commented on #43555
Sorry I'm not sure I'm following.

`tf.Keras.Input` is a placeholder exactly! And it can have a variable size (let's say the batch dimension).

Searching the docs a bit, `build()` seems to be [a method of `keras.Layer`](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Layer#build), not of [`keras.Model`](https://keras.io/api/models/model/). Since Keras models can be a Layer, I believe th

[2021-05-18 13:12] AndreyPlotkinOr opened #49263 "Compilation of TF 2.6 (master) crash"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): Cloned master from Git
- TensorFlow version (use command be

[2021-05-18 13:21] daniel-kukiela commented on #49246
It does not matter if we do this with or without callbalcks. This:
[code]
yields the same error.

Is `.compile()` really necessary or is it yet another way of workaround? I specifically tracked it further to find out that some sort of cache causes this issue and it does not seem to be necessary to compile the model again. Additionally we'll have to keep an optimizer's instance aside to be able to

[2021-05-18 13:21] saikumarchalla commented on #49241
Was able to reproduce the issue on GPU using TF version 2.4. Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/140720e835b6c5edc993261502547037/untitled.ipynb).

[2021-05-18 13:28] dundarahmet commented on #49238
update the problem:

I tried to give the shapes to the image and label but this didn't work.  Here is the test codes and the error I got:

 def train_images(fn):

  image = tf.io.read_file("train2014/" + file_name)
  image = tf.image.decode_image(image, channels=3, dtype=tf.float32)
  image = tf.image.resize(image, (227, 227))
  label = tf.convert_to_tensor(train_annotation.loc[file_name].values,

[2021-05-18 13:30] ljluisjimenez12 opened #49264 "Oh and 1 other thing"
U fucking crossed the line with your fucking "specific version dependencies"

ERROR: tensorflow 2.5.0 has requirement grpcio~=1.34.0, but you'll have grpcio 1.32.0 which is incompatible.
ERROR: multiprocess 0.70.11.1 has requirement dill>=0.3.3, but you'll have dill 0.3.1.1 which is incompatible.
ERROR: google-colab 1.0.0 has requirement requests~=2.23.0, but you'll have requests 2.25.1 which is i

[2021-05-18 13:31] lyw615 commented on #49255
Thank you for your reply. I have read the comments you mentioned  before opening the issue.  I prepare to updating my project written by keras and tensorflow 1.x  with tensorflow 2.2.  The problem my project meet  is  describing in issue https://github.com/tensorflow/tensorflow/issues/35860  , and has been solved.   What confuses me  is the reason. From the comments your mentioned, it's  likely NV

[2021-05-18 13:35] haolingzhang1 opened #49265 ""download_dependencies.sh" doesn't work"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- Mac OS BigSur 11.2.3(arm64):
- TensorFlow installed from (source or binary): https://github.com/tensorflow/tensorflow
- TensorFlow version (use command below): the latest
- Python version: 3.8
- GPU model and memory:

**Describe the current behavior**
I try to use tensorflowli

[2021-05-18 13:36] bhack commented on #43555
The difference is that it will be re-trigger tracing cause what you do in fit is executed in grap mode.

As fit is running in `graph_mode` and in your examples  you cannot explicitly control `@tf.function(experimental_relax_shapes=True)` it will going to trigger retrace.

[2021-05-18 13:39] saikumarchalla commented on #49254
@Litchilitchy  Please provide the simple standalone code/ colab link to reproduce the issue at our end.

Also, Please upgrade Tensorflow version since 1.x is no more supported actively.Thanks!

[2021-05-18 13:39] ashutosh1919 commented on #42383
@SamuelMarks , You can confirm. The [gist](https://colab.research.google.com/gist/saikumarchalla/5c8d7694ffe4a3db2110f513d4805fb9/tensorflow-datasets.ipynb#scrollTo=XWqxdmS1NLKA) works normally now.

[2021-05-18 13:51] suraj-maniyar opened #49266 "Running TFLite inference on single thread using XNNPACK and Flex delegate"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS 8
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: x86_64
- TensorFlow installed from: source
- TensorFlow version (use command below): 2.3.2
- Bazel version (if

[2021-05-18 13:53] suraj-maniyar commented on #40157
@thaink I opened a new issue [here](https://github.com/tensorflow/tensorflow/issues/49266). Could you please take a look?
Thanks.

[2021-05-18 14:00] saikumarchalla commented on #49138
@ashishsme14 Could you please confirm your TF version?  I tried to reproduce the issue but facing different error. Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/ffaee10384289f40f682fba383a99d6f/untitled75.ipynb).If possible,Please provide the colab link to reproduce the issue at our end.Thanks

Note: tf.ConfigProto is deprecated in TF 2.0, In that case, use tf.c

[2021-05-18 14:00] pythonic2020 commented on #49233
Ok, I will try to downgrade my CUDA/cuDNN and see what happens.

[2021-05-18 14:02] #49130 closed

[2021-05-18 14:07] Saduf2019 commented on #49252
@ziruizhuang
Can you please let us know what has to be updated please share more specific details].

[2021-05-18 14:12] UsharaniPagadala commented on #49265
@haolingzhang1

seems like this is similar to issue [#35747](https://github.com/tensorflow/tensorflow/issues/35747). Please take a look at this and let us know if you are still facing the same issue. Thanks!

[2021-05-18 14:13] freedomtan commented on #49131
Modern, or say, recent TF  x86_64 pip wheel packages have AVX enabled. Please check if your emulator has AVX enabled.

[2021-05-18 14:17] haolingzhang1 commented on #49265
It's not the same problem I think , I put some "echo" to test and I found that the problem starts from line 37 in "https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/tools/make/download_dependencies.sh"
and I foun some notes in this file in line 64
# TODO(petewarden): Some new code in Eigen triggers a clang bug with iOS arm64,#                   so work around it by patching the

[2021-05-18 14:27] arctop-sk commented on #48884
@srjoglekar246 any updates on this?

[2021-05-18 14:50] suraj-maniyar commented on #42277
My program uses multiprocessing via forking and that is somehow causing mutex lock condition with Tensorflow's threading mechanism.

[2021-05-18 14:50] #48766 closed

[2021-05-18 14:50] #48865 closed

[2021-05-18 14:54] bhack commented on #49246
In this 2nd case it will work cause I don't think they are executed.
I don't know if it need to works with different callbacks without re-compile.

It seems that without recompile it is going to have some conflict on execution

This is broken
[code]

This is not cause it is not executed:
[code]

[2021-05-18 14:59] bhack commented on #49238
Can you share a new update colab with mnist so it will be faster to verify?

[2021-05-18 15:00] dev0x13 commented on #42277
@suraj-maniyar Oh, forking should not be used in multithreaded environment, [here ](https://www.linuxprogrammingblog.com/threads-and-fork-think-twice-before-using-them) is a good explanation of why it should be avoided. The simplest workaround is to use process spawning instead of forking.

[2021-05-18 15:01] mathslingo commented on #37219
I have the same problem today.

[2021-05-18 15:02] abhijit1247 opened #49267 "AttributeError: Layer genmodel is not connected, no input to return."
I want to train a custom GAN model, for which below is the code:
[code]
Upon executing this code in google colab I am getting this error:
AttributeError: Layer genmodel is not connected, no input to return.

[2021-05-18 15:11] sachinprasadhs commented on #20363
@voe09 , DNNBoostedTreeCombinedClassifier has been depreciated, you can use something similar like [tf.estimator.DNNClassifier](https://www.tensorflow.org/api_docs/python/tf/estimator/DNNClassifier) or [tf.estimator.BoostedTreesClassifier](https://www.tensorflow.org/api_docs/python/tf/estimator/BoostedTreesClassifier)

[2021-05-18 15:12] suraj-maniyar commented on #42277
@dev0x13
I have a hard requirement of forking. One parent process can fork one or many child processes to do work, and the destructor gets called once for each child process + once for the parent process. I cannot avoid this workflow. This problem would be solved if I can just run TensorflowLite on single thread.
Also I am not sure if I am even using xnnpack. While the [documentation](https://gith

[2021-05-18 15:15] dellis23 commented on #44403
Thanks for reporting.  I believe we fixed this a few weeks ago.  I tested [this](https://colab.research.google.com/gist/Saduf2019/94f06e74c429ac8b4117b5ef76239e34/untitled477.ipynb) repro again and cannot reproduce on the latest nightly.  I believe the fixes should have made it into 2.5 too.  Please let me know if you're still experiencing it with the latest nightly.

[2021-05-18 15:15] #44403 closed

[2021-05-18 15:23] ashishsme14 commented on #49138
tensorflow==1.13.1
numpy==1.14.5
pandas==0.24.2
scipy==1.1.0
scikit-learn==0.19.1
pytest==5.4.1
blinker==1.4.0
jupyter==1.0.0
jupyter-client==6.1.2
jupyter-console==6.1.0
jupyter-core==4.6.3
pickleshare==0.7.5
ipynb==0.5.1
matplotlib==3.0.3
seaborn==0.9.1
keras==2.3.1
six==1.14.0
setuptools==46.1.3

[2021-05-18 15:24] zhezherun commented on #44430
Unfortunately I can still reproduce this error with TF 2.5.0, so it looks like ad95899595cba5d6bc3e4936340b62ed7b7cea58 did not fix it. This time the exception is saying that AutoGraph did convert this function, however iterating over a tensor was still disallowed. As before, the error goes away if the `call` method is explicitly decorated with `@tf.function`.
<pre>
  File "C:\Python\Lib\site-pack

[2021-05-18 15:32] EdouardDKP commented on #49204
Hello,
I have tested to add the code below into my callbacks files. Thanks to that, that works.
No more issue at this time.
[code]
Best Regards

[2021-05-18 15:35] pythonic2020 commented on #49233
Several hours wasted.  TF 2.5.0 GPU will not recognize GPU using CUDA 11.0 (cuDNN 8.0.4), 11.2 (cuDNN 8.1.1), or 11.3 (cuDNN 8.2).  TF 2.4.1 GPU recognizes my GPU using all three of those.

So, I ask again if there is any evidence that TF 2.5.0 GPU will recognize GPU in a Python 3.8 environment on WIndows 10, and, if so, using what CUDA and cuDNN versions?

[2021-05-18 15:37] daniel-kukiela commented on #49246
I'm using other callbacks as well and everything works perfectly fine without re-compilation with another `.fit()` call - all of the callbacks like checkpoints or custom preview callback).

I'm almost sure that (from your examples) this:
[code]
is exactly the same what I originally posted (`update_freq=1` and `update_freq='batch'` are exactly same setting) and this:
[code]
This actually writes 2 l

[2021-05-18 15:39] jvishnuvardhan commented on #35992
@sacha-buengueroff As this is an old issue, can you please open a new issue with simple standalone code to reproduce the issue? Thanks!

[2021-05-18 15:47] ljluisjimenez12 commented on #49265
How did this shit end up in production in the first place???? Are u stupid??? and with a TODO note too !!!11

what the fuck is your cto or whatever thinking bout this?! is he happy? because if I'd be him I would be slapping all your shitfaces with my dick by now

[2021-05-18 15:51] #49264 closed

[2021-05-18 15:55] bhack commented on #49246
What I suppose with the TensorBoard callback is that if you change the freq with the second call then when it is executed the first one something it is not ready anymore (e.g. the summary writer node?).

[code]

[code]

[2021-05-18 16:02] #48606 closed

[2021-05-18 16:03] bhack commented on #49235
References have more readability and I think they are also fallback of the optimized ones. E.g. see a PR for the TANH  in Micro https://github.com/tensorflow/tensorflow/pull/48052

[2021-05-18 16:08] daniel-kukiela commented on #49246
Well, it is the same even if you do not change the frequency:
[code]

As far as I tested by subclassing TB class, it's related to writer objects or references which are probably cached with the first `.fit()` call, but as writers are then removed at the training end, whatever is cached is no longer valid.

Also, I do not see a reason to call `.compile()` in this case, as this is a TesorBoard callb

[2021-05-18 16:14] srjoglekar246 commented on #48884
TBH, your code for inference seems fine.
As a sanity check, can you try building & running our image classification [sample](https://www.tensorflow.org/lite/examples/image_classification/overview) to see if it works fine w/GPU on your device? I just want to ensure that the basic runtime works as intended on your device.

[2021-05-18 16:14] cosmoquester commented on #48880
I bypassed the problem by using custom bidirectional layer in my repository. However, the issue is still alive. You can just reproduce this issue by running attached code on TPU environment.

[2021-05-18 16:15] #48852 closed

[2021-05-18 16:15] #37000 closed

[2021-05-18 16:17] #49235 closed

[2021-05-18 16:17] rthadur opened #49268 "M1 chip"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

**Standalone code to reproduce the issue**
Provide a reproducible test case that is the bare minimum necessary to generate
the problem. If possible, please sha

[2021-05-18 16:22] svobora opened #49269 "TFLite GPU OpenGL delegate wrong results with NewConvolution1x1NodeShader"
- TensorFlow version (use command below): master, happens with all releases I got (at least since 2.3)
- GPU model and memory: Jetson TX2

I am getting wrong results using SENets 1x1 convolutions in TFLite using GPU OpenGL delegate. Results are good with CPU delegate and GPU->OpenCL delegate. I believe there is a bug in [NewConvolution1x1NodeShader ](https://github.com/tensorflow/tensorflow/blob/c

[2021-05-18 16:24] bhack commented on #49246
Is that the training_function is not recreated:

https://github.com/tensorflow/tensorflow/blob/66852f05e5fec32ea8f3f7c2346f86c7e3e4fcf5/tensorflow/python/keras/engine/training.py#L836-L837

If you bypass this if

[code]

[2021-05-18 16:39] daniel-kukiela commented on #49246
It's over my knowledge to know if it needs to be re-created. Things seem to work correctly if we invalidate the cache only, so maybe `model._reset_compile_cache()` should be called in `.fit()` instead of (or additionally to) `.compile()` since some things that require it are invoked in `.fit()` (callbacks).

Are we both on the same page speaking of classifying it as a bug? It looks like we have mu

[2021-05-18 16:59] bhack commented on #49246
It is the same as `_reset_compile_cache` (that it is a `private` API) as the name could suggest it is called by `compile` (compile is a public API).

I think in this specific case `model.train_function=None` (and it is what it is done in `_reset_compile_cache) it is probably enough.

I don't know if this is the only case that requires to recreate the `train_function` but you can try to submit a ne

[2021-05-18 17:04] arctop-sk commented on #48884
@srjoglekar246

Loading that up on my device, first thing I notice while loading is this:

2021-05-18 19:58:44.058 32248-32273/org.tensorflow.lite.examples.classification I/AdrenoGLES-0: QUALCOMM build                   : 85da404, I46ff5fc46f
    Build Date                       : 11/30/20
    OpenGL ES Shader Compiler Version: EV031.31.04.01
    Local Branch                     : promo490_3_Googl

[2021-05-18 17:06] vinceab commented on #22078
@JasonSun99 @myungjoo,
Same issue occurs on armv7a 32bits system with TensorFlow 2.4.
I dig on gitHub and did not find any patch to solve this.
Could you please elaborate on the compiler options you set to fix this issue?

BR
Vincent

[2021-05-18 17:25] svobora commented on #49269
Exact code I call from Python, this is then converted to tflite module:

`x = layers.Conv2D(squeeze_channels, kernel_size=1, padding='SAME')(x)`

These are the exact values in my example, sorry that it looks extremely cluttered but I think these are best to reproduce the problem.

(1,1,1,72) input = [[[[0.23505978286266327, 0.41290754079818726, 1.054664969444275, 0.7081828713417053, 0.956028521060

[2021-05-18 17:29] svobora commented on #49269
It is worth noting that the last 4 output values are correct (up to precision of computation) also in OpenGL.

[2021-05-18 17:32] UsharaniPagadala commented on #49204
@EdouardDKP

Thank you for your update, glad its working fine for you, kindly move this issue to closed status as it is resolved.

[2021-05-18 17:42] Maratyszcza commented on #49239
The crash happens outside of XNNPACK. I would need the model to debug it.

cc @multiverse-tf for any guesses on what might be happening here.

[2021-05-18 17:48] markub3327 commented on #49131
Here is a detailed info about my CPU in the container (Docker).
[code]

[2021-05-18 17:50] #48652 closed

[2021-05-18 17:50] #36723 closed

[2021-05-18 17:50] #37077 closed

[2021-05-18 17:50] #38488 closed

[2021-05-18 17:58] lonerzzz commented on #49234
@rmothukuru What is tensorflower? I could not see a description in google search or in repos with that name.

[2021-05-18 18:00] Haag-se commented on #49239
Model attached (had to zip it due to github filetype restrictions).

It works if I build Tflite without XNNPACK. It also works using TFlite Benchmarking Tool using XNNPACK.

[model.tflite.zip](https://github.com/tensorflow/tensorflow/files/6503330/model.tflite.zip)

[2021-05-18 18:01] brychcy commented on #44403
Yes, seems to be fixed in 2.5.0. Thanks!

[2021-05-18 18:26] lcmeng commented on #27457
@renjie-liu It seems that the Keras MultiHeadAttention has been massaged to use fully_connected, instead of BatchMatMul, during the TFLite conversion. Can you please confirm that and point me to where that is done? TIA.

[2021-05-18 18:33] suraj-maniyar commented on #48349
Hello @srjoglekar246
From this [link](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/xnnpack/README.md), it says that:
**XNNPACK engine used by TensorFlow Lite interpreter uses a single thread for inference by default**
Could you give some overview on how this is done? For example, if I want to run regular TensorFlowLite on single thread, will that be feasible? How

[2021-05-18 18:56] dundarahmet commented on #49238
Here the link
[mnist link](https://colab.research.google.com/drive/1GUEQeFm0jK1Vl-GRNh9Kv9Fjj18-5rNU?usp=sharing)
It seems illogical but I tried to keep the same structure as previous link. And I got the same error.

[2021-05-18 19:02] #49204 closed

[2021-05-18 19:11] karundawadi commented on #48946
I think this issue was resolved in another issue thank you.

[2021-05-18 19:11] #48946 closed

[2021-05-18 19:12] #48923 closed

[2021-05-18 19:23] ymodak commented on #45823
@oracle3001  Can you please test with latest release 2.5 and validate if the issue still persists? Thanks!

[2021-05-18 19:41] keyonvafa commented on #39774
@jvishnuvardhan Thanks for the note. For now I'm avoiding this issue by only using iterative training. I unfortunately don't have the bandwidth to contribute to the code

[2021-05-18 19:44] srjoglekar246 commented on #48349
We haven't enabled XNNPack by default yet. So you should be running TFLite w/ single-threaded CPU kernels by default as of now.

With XNNPack, some parts of the TFLite graph with CONV/FULLY_CONNECTED etc will get replaced by a single XNNPack kernel that performs the equivalent task but faster. XNNPack runs faster if you set num threads higher with TFLite.

[2021-05-18 19:48] bas-aarts commented on #48919
confirmed.
Is there any reason to believe the problem would have been addressed?

[2021-05-18 19:50] bhack commented on #49238
Also in this one you need to set the shape as `tf.py_function` don't return tensors with shape and it doesn't have the output_shape extra param e.g. like the generator (here the feature request/proposal https://github.com/tensorflow/tensorflow/issues/36274)

[2021-05-18 19:54] bhack commented on #48919
Other then @reedwm mentioned usability aspects that I think are quite important, or the feature request of precompiled release with debug symbols at https://github.com/tensorflow/tensorflow/issues/13295) , it seems that someone else is compiling in debug mode https://github.com/tensorflow/tensorflow/issues/39521 or not?

[2021-05-18 19:58] bhack commented on #49238
If you want an example see how to set the shape with `py_function` at https://www.tensorflow.org/guide/data#applying_arbitrary_python_logic

[2021-05-18 20:03] pythonic2020 commented on #49233
I finally got my GPU recognized by TF 2.5.0 using CUDA 11.2.2 + cuDNN 8.1.1.  Before too long, they will move to CUDA 11.3.

[2021-05-18 20:03] #49233 closed

[2021-05-18 20:03] suraj-maniyar commented on #48349
@srjoglekar246 I may be missing something here. Could you please clarify :
I am running inference on CentOS 8 linux x86_64 architecture. And based on this [part](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/xnnpack/README.md#enable-xnnpack-via-bazel-build-flags-recommended-on-desktop)
[code]

I did build TFlite with --define tflite_with_xnnpack=true. Will this not

[2021-05-18 20:12] srjoglekar246 commented on #48349
This will run w/ XNNPack & a single thread, yes. I did not realize you were building with that `--define`

[2021-05-18 20:29] karimnosseir commented on #49247
@1173710201 Hi,
Yes it is built using nnlib.

1) Are you calling the init with correct path to your custom library
[code]
See the [guide](https://www.tensorflow.org/lite/performance/hexagon_delegate)

2) One other thing is which version are you using, if you're building your own version you want to make sure it matches what libhexagon_interface expects.

If you can send sample on how you init, run

[2021-05-18 21:06] suraj-maniyar commented on #48349
That's good to know. Thanks.

But based on your previous comment :

Does TFLite still run single threaded even if XNNPack is not enabled?

I am asking this in context of a program that I am currently trying to run. It uses forking to create multiple processes to do inference. Currently, when I used default TFlite, it gets stuck in mutex lock. That's why I want to confine TFLite runtime to a single

[2021-05-18 21:12] srjoglekar246 commented on #48349
Yup, atleast for TFLite builtin ops. However, I am not sure if flex uses multiple threads. @abattery do you have an idea?

Also, are you using the same Interpreter from multiple threads? TFLite doesn't support that, you will need a new Interpreter for each concurrent thread. It might be a good sanity check to run some mobilenet model in your framework (since it has only TFlite builtin ops) and see

[2021-05-18 21:13] angerson commented on #48200
TensorFlow now has a DOI page set up with Zenodo: https://doi.org/10.5281/zenodo.4724125

I added a badge on the README and made a change that should appear on tensorflow.org/about/bib in the next few days.

[2021-05-18 21:24] suraj-maniyar commented on #48349
I am not sure I understand this completely. I specify only 1 thread when creating InterpreterBuilder, something like this :
[code]
Do you mean every child process that is forked should have its own new Interpreter instance?
My model is, in fact, mobilenetv2 which is getting stuck in lock condition.

[2021-05-18 21:26] srjoglekar246 commented on #48349
The Interpreter's kernels will use only single threaded inference in your case. However, you mentioned that you use multiple processes for inference:

Are all of these processes using the same Interpreter instance? or different ones?

[2021-05-18 21:32] jvishnuvardhan commented on #39774
@keyonvafa Do you want to close the issue or keep it open? Thanks!

[2021-05-18 21:35] keyonvafa commented on #39774
@jvishnuvardhan It seems like others are having the same issue so I'm fine keeping it open. Thanks!

[2021-05-18 21:44] bas-aarts commented on #48919
_All_ external developers have a need for this. It would be great if Google could document and support _the_ way for external developers to build TF with debug symbols.

[2021-05-18 21:48] jvishnuvardhan commented on #39774
Sure. I am adding `contributions welcome` labels so that community can pick it up and contribute. Thanks!

[2021-05-18 22:00] dundarahmet commented on #49238
with bhack help, finally my code is working. Thanks dude. But,
I had to add some extra code. These are:

First, I had to create a new method to apple tf.py_function and to give shape to the image and label. Here the method: method takes a function, input-x- and outputs and applies tf.py_function.

 image, label = tf.py_function(train_images, [x], outputs)
  image.set_shape(tf.TensorShape([227, 227

[2021-05-18 22:00] #49238 closed

[2021-05-18 22:29] freedomtan commented on #49131
[code]
it seems you are emulating AArch64/ARM64/ARMv8 instead of AMD64. What does `uname -a` show?

[2021-05-18 22:31] marwan116 commented on #37093
@mimxrt - thank you for raising this issue and for mentioning the way you resolved it. Is there any chance you can post the code of the solution that makes use of `FixedLenSequenceFeature`? would be quite grateful

[2021-05-18 22:42] markub3327 commented on #49131
[code]

`uname -a` showed that I'm emulating AMD64.

[2021-05-18 23:09] laplacericky opened #49276 "infinite dataset while it is actually finite from tf.data.experimental.choose_from_datasets"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.5 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): pip3 install
- TensorFlow version (use command bel

[2021-05-18 23:14] bhack commented on #49276
Can you check dataset `cardinality`?

[2021-05-19 00:05] abattery commented on #49266
@thaink could you take a look?

[2021-05-19 00:07] abattery commented on #49269
@impjdi could you take a look?

[2021-05-19 00:15] jwj04ok commented on #49119
Thanks, in that case, is there will be any problem if I transferred back the mobilenet_v1_0.75_224_quant to non_quant version by using the quantization info provided in the tflite file? I tried with several inputs and the middle layer outputs getting bigger and bigger and lost track in the softmax layer at the last (the power becomes 10^6 level and exp() cannot handle that). I think that's because

[2021-05-19 00:21] multiverse-tf commented on #42277
In addition to setting the number of threads to "1" explicitly when creating the interpreter, could you try adding "--define=tflite_with_ruy=true" explicitly when building the library ? This flag will disable using Eigen library, which I'm not sure, whether it's the cause of the issue.

Btw, is it possible to use std::unique_ptr instead of std::shared_ptr in your code? I just think that using std:

[2021-05-19 00:36] impjdi commented on #49269
Could you please attach a minimal tflite file that can repro the issue?  it's difficult to port those floating point numbers into opengl textures :P

Also, are you running this in FP16 or FP32?

[2021-05-19 00:54] multiverse-tf commented on #49239
Indeed. I didn't get this segfault either w/ the benchmark model tool. Could you compile the binary w/ "-c dbg" instead of "-c opt" and then post the backtrace?

Btw, it looks like you compiled tflite .so first via bazel, then which build tool did you use to compile your app code? If it's a different build tool, I'm not sure whether such a difference, like using different compiler and compiling/li

[2021-05-19 01:48] laplacericky commented on #49276
cardinality() gives a tensor with value -1 which is the constant for INFINITE cardinality

[2021-05-19 01:50] #21439 closed

[2021-05-19 01:56] #45170 closed

[2021-05-19 02:42] ymodak commented on #42680
@scd75 Apologies for the delay here. If this is still an issue; TF 2.5 was recently released. I am not able to verify the fix since the code snippet is incomplete. Perhaps you can share complete reproducible code to test.

[2021-05-19 02:50] #20857 closed

[2021-05-19 03:02] diamar338 opened #49291 "Hola desde hace días presento un problema con tensorflow lo he intentando todo he leído cada guía y parece siempre llego al mismo punto"
como se ve en la siguiente imagen mi problema es que al parecer
![image](https://user-images.githubusercontent.com/67806145/118743784-aad8e880-b818-11eb-952a-fc4ac82d02f6.png)

[2021-05-19 03:28] yngwiepang opened #49293 "tflite::InterpreterBuilder::BuildLocalIndexToRegistrationMapping() SEGV_ACCERR"
Hardware Model: iPhone8 - 12
Process: Demo [2110]
Version: 9.10.0(9.10.0)
Code Type: ARM-64 (Native)
Parent Process:  [1]
OS Version: iPhone OS 13.6 (17G68) (all version of IOS)
Report Version: 104

Exception Type: SIGSEGV
Exception Codes: SEGV_ACCERR at 0x00000001238278f8
Crashed Thread: 0

Thread 0 Crashed:
0  Demo                     0x00000001021dec6c tflite::InterpreterBuilder::BuildLocalInde

[2021-05-19 03:30] renjie-liu commented on #27457
It's being done here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/mlir/lite/tf_tfl_passes.cc#L216-L219

[2021-05-19 03:34] yngwiepang commented on #49293
This crash occur all version iPhone&&IOS，about 0.1% probability .I use mmap to load model on IOS, and byte alignment 64 compile. so please any suggest  THKS！！

[2021-05-19 03:35] HFTrader commented on #9951
who really cares - it's been +4 years

[2021-05-19 03:36] k-lam commented on #33478
Using monkey patch to break in and hook, that is not a elegant way, but it works
[code]

[2021-05-19 04:14] SanjuSoni opened #49294 "TF Import Error"
Hello Everyone

While importing Tensorflow, I am getting an error which is attached here.

But next time importing the TensorFlow, it works well.

can you please comment on it.

![err2](https://user-images.githubusercontent.com/61820415/118755553-b3680800-b886-11eb-8147-da9f599c39a9.JPG)

[2021-05-19 04:36] svobora commented on #49269
I do not set the FP precision anywhere so I presume it runs in FP32. This is how I created the attached tfile module from tf2 Keras model, first converted to frozen graph concrete function:

[code]

The example is not minimal, but it is what I can do now to reproduce on Jetson TX2. It is an image classification network, which ends with 1x1 Conv, Reshape and Flatten. So the layers[-3] is the proble

[2021-05-19 04:37] huseinzol05 commented on #23156
+1, need this.

[2021-05-19 04:38] Xpiee commented on #47554
Facing the same issue with tf 2.4.1

WARNING:absl:Found untraced functions such as attention_layer_layer_call_fn, attention_layer_layer_call_and_return_conditional_losses, conv_stage1_ecga_layer_call_fn, conv_stage1_ecga_layer_call_and_return_conditional_losses, conv_stage1_ecgb_layer_call_fn while saving (showing 5 of 110). These functions will not be directly callable after loading.

[2021-05-19 05:08] KumaTea commented on #49209
Hi.

I tried to use CentOS 7 this time, and manually installed gcc v7.3. However, the error logs are exactly same:

[code]

[code]

---

I would stop trying for now and wait for [Linaro's build](https://snapshots.linaro.org/ldcg/python/tensorflow-manylinux/latest/tensorflow_cpu/) instead.

Thank you!

[2021-05-19 05:37] saikumarchalla commented on #49138
@ashishsme14 Could you please upgrade your Tensoflow version to 2.x  since 1.x is  no more supported actively.Thanks!

[2021-05-19 05:48] lcmeng commented on #27457
Hi @renjie-liu , thank you for the quick reply. I verified that the `unfold_batchmatmul` is an attribute of `TFLiteConverterBase`, which is the base class of  `TFLiteConverterBaseV1`.

However, in my experiment, a multi-head attention implemented in TF1 still results in `BatchMatMul` after conversion by `tf.compat.v1.lite.TFLiteConverter`. Can you please confirm whether `BatchMatMul` in TF1 models

[2021-05-19 05:50] #48987 closed

[2021-05-19 06:04] georgeslabreche commented on #48200
@angerson Great! Thank you to everyone who made it happen. I look forward to referencing the TensorFlow DOI on my next publication.

[2021-05-19 06:09] lcmeng commented on #27457
I've included the implementation below. There are two calls to `tf.linalg.matmul()` to compute the attention score and attention probability matrices. Converting this TF1 model with `tf.compat.v1.lite.TFLiteConverter` produces `BatchMatMul` instead of the unfolded implementation with FC.

[code]

[2021-05-19 06:29] ashishsme14 commented on #49138
tensorflow==1.13.1 is fixed for us

[2021-05-19 06:42] rmothukuru commented on #49234
@lonerzzz,
Sorry for the confusion. Tensorflower means Google Engineer, working on Tensorflow.

[2021-05-19 06:59] renjie-liu commented on #27457
Unroll batch_matmul is the default behavior however it only works when the input shape is static, I think if you set a static shape, the batch_matmul should be unrolled.

[2021-05-19 07:30] KaleabTessera commented on #37556
Can we re-open this? This hasn't been solved.

[2021-05-19 07:35] tilakrayal commented on #49267
@abhijit1247 ,

Please take a look at this issues with similar error log.[link1](https://github.com/tensorflow/tensorflow/issues/34454),[link2](https://stackoverflow.com/questions/62654908/layer-is-not-connected-no-input-to-return-error-while-trying-to-get-intermedi).It helps.

Thanks!

[2021-05-19 07:44] kkzheng commented on #24439
Hello, i got the same problem. Did you have a solution?

[2021-05-19 07:45] kkzheng commented on #11888
Hello, i also got the same problem. Did you have a solution?

[2021-05-19 07:50] #48828 closed

[2021-05-19 07:57] DachuanZhao opened #49295 "tensorflow 2.5.0 cuda and cudnn version"
## URL(s) with the issue:

Please provide a link to the documentation entry, for example:

[https://www.tensorflow.org/install/source](https://www.tensorflow.org/install/source)
[https://github.com/tensorflow/docs/blob/master/site/en/install/source.md](https://github.com/tensorflow/docs/blob/master/site/en/install/source.md)

## Description of issue (what needs changing):

### Clear description
Th

[2021-05-19 08:09] bhack commented on #49276
I think that internally It use interleave:

https://github.com/tensorflow/tensorflow/blob/a4dfb8d1a71385bd6d122e4f27f86dcebb96712d/tensorflow/python/data/experimental/ops/interleave_ops.py#L305

You could try to assert the cardinality

https://github.com/tensorflow/tensorflow/issues/36531#issuecomment-587654123

[2021-05-19 08:29] borhan-kazimipour commented on #38422
I'm also interested to know the answers to the questions that @johann-petrak asked originally.

I did some reverse engineering and found `__next__` can be used to add links between nodes in the graph. There are some limitations though:
- You can use line number (as in the embedding TSV file) to point to a node
- It should be a 1-1 relationship so you cannot have duplicates in your `__next__` colum

[2021-05-19 08:46] UsharaniPagadala commented on #49259
@whitehatedk

We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

[2021-05-19 08:47] bhack commented on #49291
Sorry we don't officially support  TF in conda Dev here.
If you still need conda you can ask support at https://github.com/AnacondaRecipes/tensorflow_recipes

[2021-05-19 08:49] bhack commented on #49294
Sorry we don't officially support TF in conda env here.
If you still need conda you can ask support at https://github.com/AnacondaRecipes/tensorflow_recipes

[2021-05-19 08:50] #48810 closed

[2021-05-19 08:54] UsharaniPagadala commented on #49291
@diamar338
Closing this issue since it's related to conda env. Feel free to post another issue if still having problems installing TF using pip.

Thanks

[2021-05-19 08:54] #49291 closed

[2021-05-19 09:00] tilakrayal commented on #49294
@SanjuSoni ,

We see that you are using tf version 1.9.0, there is no support for 1.x, please update to 2.x and let us know if you are using same issue.

Also as bhack mentioned above, Installation issues within the Anaconda environment are tracked in the Anaconda repo. Could you please submit new issue in [Anaconda repository](https://github.com/ContinuumIO/anaconda-issues/issues).

Thanks!

[2021-05-19 09:01] Ursanon commented on #23557
Any updates on this?

[2021-05-19 09:07] Ursanon commented on #44714
Still facing this issue, are there any workarounds @mihaimaruseac ?

[2021-05-19 09:07] SanjuSoni commented on #49294
Thanks @tilakrayal  and @bhack  for your comment.

I am going to upgrade Tensorflow Version.

[2021-05-19 09:07] #49294 closed

[2021-05-19 09:27] bhack commented on #42680
You could verify in TF 2.5 but 2.5 but:

@scd75  So you need   specify the `num_tokens` arg in `tf.keras.layers.experimental.preprocessing.CategoryEncoding`

OR

[2021-05-19 09:38] bhack commented on #49209
I remember that there was other issues with gcc 7.3 https://github.com/tensorflow/tensorflow/issues/25323
Can you try to build in the official ARM AArch64 images instead of `quay.io/pypa/manylinux_2_24_aarch64` https://community.arm.com/developer/tools-software/tools/b/tools-software-ides-blog/posts/aarch64-docker-images-for-tensorflow-and-pytorch

[2021-05-19 09:44] bhack commented on #23557
Tensorflow 1.x is not supported anymore.

[2021-05-19 09:50] #41542 closed

[2021-05-19 09:58] sachinprasadhs commented on #22384
@mayou36 , This issue has been fixed in the recent Tensorflow GPU version 2.4.1, please find the [gist](https://colab.research.google.com/gist/sachinprasadhs/ab5150a0978cff62b3aff5dffc9029dd/22384.ipynb) here.

[2021-05-19 10:02] hrw commented on #49136
When it comes to released versions we have this coverage on AArch64 builds (using manylinux2014 image):

TF version | Py 3.6 |  Py 3.7 | Py 3.8 | Py 3.9
-|-|-|-|-
1.15.5 | OK | OK | -- | --
2.4.1 | OK | OK | OK | OK
2.5 | OK | OK | OK | OK

https://snapshots.linaro.org/ldcg/python/tensorflow-manylinux/4/tensorflow_cpu/ for 1.15.5 and 2.4.1 wheels
https://snapshots.linaro.org/ldcg/python/tensorflow

[2021-05-19 10:10] bhack commented on #49136
It seems it was recently introduced by @aemerson  in LLVM with https://github.com/llvm/llvm-project/commit/5b158093e2469dec16a070019c6432d26bf7be9b

[2021-05-19 10:16] hrw commented on #49136
@bhack thanks!

So LLVM in TF (or bazel) needs update to newer revision?

[2021-05-19 10:22] Saduf2019 commented on #49261
@smartaquarius10
You can start with [flutter](https://www.udemy.com/course/flutter-bootcamp-with-dart/?utm_source=adwords&utm_medium=udemyads&utm_campaign=GoogleFlutter_v.PROF_la.EN_cc.INDIA&utm_content=deal4584&utm_term=_._ag_113517924890_._ad_501402139574_._kw_flutter+tutorial_._de_c_._dm__._pl__._ti_kwd-432000815711_._li_1007768_._pd__._&matchtype=e&gclid=Cj0KCQjw7pKFBhDUARIsAFUoMDbSbmce9FoJKlI

[2021-05-19 10:22] maxhgerlach commented on #22059
Hi @rmlarsen, is some extension to lift this limitation on the TensorFlow roadmap? Applying an optimizer to a slice of a variable would unblock quite a few more flexible approaches to training certain classes of models.

[2021-05-19 10:34] bhack commented on #49136
Is that after that LLVM commit we are missing the new entry for `AArch64O0PreLegalizerCombinerHelper` in:

https://github.com/tensorflow/tensorflow/blob/3fd3ae1fbb10961dd1aa6805280674c781fd4609/third_party/llvm/llvm.autogenerated.BUILD#L483-L485

You could try to send a PR.

[2021-05-19 10:35] mayou36 commented on #22384
Good to hear, many thanks for resolving this!

[2021-05-19 10:43] sachinprasadhs commented on #22994
@personableduck , You can switch to Tensorflow 2 version, in Tensorflow 2 primary export of model is done using [savedmodel](https://www.tensorflow.org/guide/saved_model) and API is designed to support the same. You can find the pretrained model for `ResNet50V2` [here](https://www.tensorflow.org/api_docs/python/tf/keras/applications/ResNet50V2) and follow [this](https://www.tensorflow.org/tutorial

[2021-05-19 10:47] #22384 closed

[2021-05-19 10:50] #48779 closed

[2021-05-19 11:02] oracle3001 commented on #45823
Unfortunately I am writing a paper this week and so don't have time to test this. I will try and take a look in a week or so.

[2021-05-19 11:07] bhack commented on #49136
@mihaimaruseac Do you know where Is the generator? Is it an internal tool?

[2021-05-19 11:20] vikramdattu commented on #48570
Hi @jruk do you still have an issue?

Can you please share ESP-IDF version?

I would recommend to use esp-idf `release/v4.2`.

Please follow IDF setup instructions. i.e., goto IDF directory,
1.  run  `./install.sh` do install required packages including python and toolchain
2.  In the same directory run `. ./export.sh` to setup the environment.
3. Generate, build, flash and run the example as ment

[2021-05-19 11:24] vikramdattu commented on #46847
@Paryavi I have a cats_and_dogs example here with Jupyter notebook here: https://github.com/vikramdattu/tensorflow/tree/master/tensorflow/lite/micro/examples/cats_and_dogs

[2021-05-19 11:25] Saduf2019 commented on #38389
@PCSCI

Is this still an issue?

Could you please check if you are facing the same error with TF v2.4.1/nightly as well? Thanks!

[2021-05-19 11:27] Saduf2019 commented on #36667
@feranick
As we have 3.8/3.9 latest version, could you please verify if this is still an issue.Thanks!

[2021-05-19 11:30] Saduf2019 commented on #36319
This issue persists on tf 2.6, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/84ada542be689c9fa15f2bf75d86355b/untitled604.ipynb). Thanks!

[2021-05-19 11:33] bhack commented on #38389
One master `const int left_x_index = in_x > 0.0 ? floorf(in_x) : 0;` so I think that we could close this

https://github.com/tensorflow/tensorflow/blob/3fd3ae1fbb10961dd1aa6805280674c781fd4609/tensorflow/core/kernels/image/resize_bilinear_op_gpu.cu.cc#L60-L63

[2021-05-19 11:35] Georgeiva opened #49297 "013057005309211"
One master `const int left_x_index = in_x > 0.0 ? floorf(in_x) : 0;` so I think that we could close this

https://github.com/tensorflow/tensorflow/blob/3fd3ae1fbb10961dd1aa6805280674c781fd4609/tensorflow/core/kernels/image/resize_bilinear_op_gpu.cu.cc#L60-L63
https://github.com/tensorflow/tensorflow/issues/38389#issuecomment-844015731
_Originally posted by @bhack in https://github.com/tensorflow/t

[2021-05-19 11:42] Flamefire opened #49298 "Superflous keras-nightly dependency?"
**Describe the problem**

TF 2.5.0 added a dependency on keras-nightly for some reason with https://github.com/tensorflow/tensorflow/commit/d171d94d899cc73e18bd8b2b11b5c320ea7aac2c

However at no place there is an actual `import keras` or similar in the TF code, hence that package is completely optional at least or superflous it seems.

What was the reasoning for including that in the *required* d

[2021-05-19 11:44] KopfKrieg commented on #36667
Still an issue here. Stuck with Python 3.7 (Raspbian 10), need TF 2.x. Python 3.8/3.9 is unfortunately not an option.

[2021-05-19 11:46] zheyuye opened #49299 "An idea of `tf.one_hot`"
According to my personal experience , the mechanism of  `tf.one_hot` is returning the value of `0,1` that match the index number as in [one_hot](https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/one_hot). But it might cause an unforeseen problem that can not handle the input larger than depth like following code snippets described. What it be better if raise a warning or alert that tell

[2021-05-19 11:48] bhack commented on #49299
Sorry we don't support TF 1.x anymore. Please upgrade TF to the last release to verify that you can reproduce your issue.

[2021-05-19 11:50] jayagami commented on #37505
Worked for me too.
Can't believe that this problem still remains unsolved in 2021 on tf2.5

[2021-05-19 11:50] bhack commented on #49298
I don't know but probably it is part of the program to prepare and test the migration https://github.com/keras-team/keras#under-construction

[2021-05-19 11:53] Flamefire commented on #49298
Oh great! Now even more confusion what "Keras" actually is :D

Well in any case: In 2.5.0 there still is tf.keras, so what is the keras dependency for in TF 2.5.0?

[2021-05-19 11:53] orangelash commented on #252
Hello everyone,
I downloaded the latest pypy nightly build with python 3.6 using https://buildbot.pypy.org/nightly/py3.6/pypy-c-jit-latest-linux64.tar.bz2 as suggested (**pypy-c-jit-101029-118564033d0a-linux64**) previously as well as trying to get the latest head of tensorflow. I have been trying to get tensorflow 2 to work in a PyPy venv using
[code]
But I have been having issues. I have followe

[2021-05-19 11:56] PCSCI commented on #38389
Is this still an issue @Saduf2019 @bhack 。

Although for in_x > 0.0, the computation of x_lerp and y_lerp are the same. But for in_x < 0, the computation formula is different. This kind of difference is weird during application of reisze kernels.

[2021-05-19 11:57] bhack commented on #49298
I suppose it is only to prepare/test the release infra when the standalone migration will completed. If you see the commit log Keras is now a sort of mirror/auto-sync https://github.com/keras-team/keras/commits/master

[2021-05-19 12:05] hrw commented on #49136
Probably this would be enough but I cannot test it at the moment.

[code]

[2021-05-19 12:07] bhack commented on #38389
Mhh.. Can you extend the test to cover `in_x < 0 case`?
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/image/resize_bilinear_op_test.cc

[2021-05-19 12:12] alanpurple commented on #49248
@UsharaniPagadala

You're telling TF2.5 does not support TensorRT 8.0? for now? forever?

[2021-05-19 12:15] bhack commented on #49248
I think it is a dup https://github.com/tensorflow/tensorflow/issues/49150

[2021-05-19 12:15] bhack commented on #46093
Can we close this?

[2021-05-19 12:19] Flamefire commented on #49298
Sure, but that still leaves the question: What is it good for in TF 2.5? Or should it be a dependency of TF at all because it creates a circular dependency, e.g. keras directly uses TF at https://github.com/keras-team/keras/commit/4a978914d2298db2c79baa4012af5ceff4a4e203#diff-b25a4ff4c4bcd43013e75cefce6cc1dbe27b94312054aa3e132bcf10973e1787R19

[2021-05-19 12:20] jruk commented on #48570
Hi Vikram,
Thank you for the reply. I have found a branch that works with PlatformIO
for ESP32 (somebody took care of building it from the sources).  I was
able to convert a model to TFLite and then to microformat.  Still very
difficult to find complete examples for 2D cases (including model,
transformation, microcontroller code).  How to map 2D arrays to the input
tensor preserving row and column

[2021-05-19 12:23] bhack commented on #36667
You can build with Python 3.7 https://github.com/tensorflow/build/tree/master/raspberry_pi_builds#python-37

About pre-built official wheels is a sort of dup https://github.com/tensorflow/tensorflow/issues/29704#issuecomment-780021283 /cc @mihaimaruseac

[2021-05-19 12:30] bhack commented on #49298
If you want to have more details I think that we could collect more info from @qlzh727

[2021-05-19 12:36] 100rab-S commented on #38762
Yeah same issue here. Cannot use Image generator and custom generator together to train the model using TPUs. The code works fine with CPU/GPU, but doesn't work with TPUs. Please provide solution to this!

[2021-05-19 12:38] UsharaniPagadala commented on #49248
@alanpurple
You may track this [issue](https://github.com/tensorflow/tensorflow/issues/49150) to know the progress. Could you please move this to closed status as it is being tracking there to avoid duplication.Thanks

[2021-05-19 12:39] suraj-maniyar commented on #49266
**Correction**
I found out from a separate [discussion](https://github.com/tensorflow/tensorflow/issues/42277), that I am **NOT** using xnnpack. I previously thought it is a requirement for single threaded execution. But right now, single threaded execution is achieved only by passing an argument to InterpreterBuilder.
Also the test program that I am running uses forking to create multiple child p

[2021-05-19 12:40] bermeitinger-b commented on #48652
I have the same error message while building release 2.5.0.

[2021-05-19 12:45] vikramdattu commented on #48570
Hello again,

The examples here are pretty good IMHO: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/micro/examples

You can find exact instructions to generate and build the examples in README under each example: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/micro/examples/hello_world#deploy-to-esp32

Currently supported examples for ESP are: hello_wor

[2021-05-19 12:48] suraj-maniyar commented on #42277
@dev0x13
Thanks for your response. I was indeed not using xnnpack. But that was because I wanted to confine TFLite execution to single thread. Right now single threaded inference is being achieved by passing it as argument to InterpreterBuilder :
[code]
I will try your approach of disabling eigen library and also work on my code to use unique_ptr.
Thanks.

[2021-05-19 12:50] 1173710201 commented on #49247
@karimnosseir Thanks for your reply!
1.I used the default **_TfLiteHexagonInit()_** before, and i pushed my **_.so_** to **_/system/vendor/lib/rfsa/adsp_** or the path got by _**getApplicationInfo().nativeLibraryDir**_. The part of logcat:
[code]

As the logcat show,i suppose it worked? I used TfLiteHexagonInitWithPath(“/system/vendor/lib/rfsa/adsp”) instead and nothing changed.

2. yes,i do have

[2021-05-19 12:56] bhack commented on #44814
@rmothukuru `tf.random.fixed_unigram_candidate_sampler`

[2021-05-19 12:58] luckmoon opened #49301 "issue about feature_column with empty string feature"
Hi,
I am using tf1.15 with Py3.6.
Below is part of my code,
[code]
And I generated my train samples with tfrecord format.  If some of my train samples do not contains the key "city", when I parse them in training, they will be filled the "city" key with value "", right? So I can train my model successfully.
But when I inference with the exported model, if the data to predict does not contain "city

[2021-05-19 13:00] bhack commented on #49301
Sorry we don't support TF 1.x anymore. Please upgrade TF to see if your issue is reproducible.

[2021-05-19 13:08] Keshav2829 opened #49302 "Cannot import tensorflow: cannot import name 'LayerNormalization' from 'tensorflow.python.keras.layers.normalization"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- Mobile de

[2021-05-19 13:14] mattip commented on #252
You will not find a binary package available for PyPy, so the attempts to do `pip install` will not succeed. As for python3.6/python3.7: python3.6 is in security-fix only support. Many package maintainers like numpy and scipy have dropped support for it, as has PyPy. Please use 3.7.

Since there are no binary packages, you will have to build from source. The relevant information in your analysis i

[2021-05-19 13:19] bhack commented on #49302
Please check that you have the correct CUDA/Cudnn versions for TF 2.5. See https://github.com/tensorflow/tensorflow/issues/49175

[2021-05-19 13:23] bhack commented on #49302
Also if you are working with a venv please try to clean it https://www.tensorflow.org/install/pip?hl=en#2.-create-a-virtual-environment-recommended

[2021-05-19 13:26] mdanatg commented on #27120
This is a known issue. My guess is that changing model parameters causes it to rebuild internally - it's a bad interaction between tf.function and Keras. For now, the only workaround to that is to rebuild the tf.function before each experiment. For example, with something like this: `MyClass._train_step = tf.function(MyClass._train_step)`. You may actually want to make it a standalone function, be

[2021-05-19 13:33] bhack commented on #27120
@mdanatg A this ticket is 3 year old and we had many more or less partial examples do we have a minimal but compete standalone code to reproduce this?

[2021-05-19 13:41] Shadowman82 commented on #48015
Thank you @sanjoy for the suggestion. I saw the implementation of that function and it may be the one which I need.
More precisely, I am using this piece of code
[code]

I got this compilation error in the final application that integrates Tensorflow:

[code]

It may refer to the fact that the compiler cannot find the destructor of the base class of Device. I tried to export the destructor of Devi

[2021-05-19 13:47] mdanatg commented on #27120
The repro in the original post is reasonably minimal and should be complete. Normally the triage team creates a runnable gist, but since this issue is so old that's probably missing. The error occurs in many instances, but the pattern is the following:

[code]

[2021-05-19 13:48] pythonic2020 commented on #49295
I very strongly second this ticket.  The outdated docs are misleading and unhelpful.  TF 2.5.0 GPU works perfectly with CUDA 11.2.2 and cuDNN 8.1.1, at least on Windows 10 x64 in a conda environment running python 3.9 into which TF was installed using `pip install tensorflow`.

I also think that the [GPU Support page](https://www.tensorflow.org/install/gpu#software_requirements) should be updated

[2021-05-19 13:56] sachinprasadhs commented on #33193
@Rendok I was able to run the code without any error in the recent Tensorflow version 2.5, please find the gist [here](https://colab.research.google.com/gist/googly789/babde65dbbd022be58fdbf9ada6f7aff/203.ipynb).

[2021-05-19 13:59] tilakrayal commented on #49255
@lyw615 ,

Please take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/35860#issuecomment-585390769).Hope it helps.

This question is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow) since it is not a TensorFlow bug or feature request. There is also a larger community that reads questions there. Thanks!

[2021-05-19 14:11] Keshav2829 commented on #49302
thank for your reply @tilakrayal
as mentioned by you in comments i am not working with venv and from links that you have provided i have not found any solid solution. yes i have similar error log as mentioned in link2 but i am using ubuntu
 please help

[2021-05-19 14:13] jonasrauber commented on #48612
@UsharaniPagadala Has there been an update that fixes this?

[2021-05-19 14:15] Honghe commented on #46598
In TensorFlow 2.5.0, it it bigger, 838MB.

[2021-05-19 14:22] bhack commented on #49302
Can you try to make a 2.5.0 install with a fresh virtual env as in the official guide that I have mentioned?
Please verify Cuda/Cudnn version compatibility wtih 2.5.0?

[2021-05-19 14:24] KopfKrieg commented on #36667
Recently tried that, unfortunately the build-script uses the wrong NumPy version (NumPy 20.x for building, 19.x for running, which doesn't really work since it's considered as incompatible). Having official Tensorflow packages available for the RPi would entirely solve that problem for users.

[2021-05-19 14:24] drasmuss commented on #33182
As mentioned [above](https://github.com/tensorflow/tensorflow/issues/33182#issuecomment-540553089), the warning doesn't show up when executing within colab, you have to run it as an external command. I have updated the [gist](https://colab.research.google.com/gist/drasmuss/3be97c8968acee0c5476dba394f8a113/33182.ipynb) to use 2.5.0, and it shows the same warning message as before.

[2021-05-19 14:35] bhack commented on #36667
If want to edit the title and use this ticket to track @KopfKrieg issues building with python 2.7 ok.

If you just want updated pre-packaged wheels palese upvote and comment https://github.com/tensorflow/tensorflow/issues/29704

[2021-05-19 14:37] bhack commented on #36667
P.s. as officially now is only support TF lite on Raspberry the official build guide is at https://www.tensorflow.org/lite/guide/build_arm

[2021-05-19 14:44] jruk commented on #48570
Hi Vikram, Thanks for the info!   I will look closer at the references you
have sent.
Alex

On Wed, May 19, 2021 at 8:46 AM Vikram Dattu ***@***.***>
wrote:

[2021-05-19 14:44] lyw615 commented on #35860
@vlasenkoalexey Do  you mean the  version  of   NVIDIA CUPTI libary that  changes  API result in the error?  Will the old version that API  doesn't change  run normally?

[2021-05-19 14:47] GuyPozner opened #49304 "tf.data.experimental.service does not reach optimal consumption rate"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Using tensorflow/tensorflow:2.4.1-gpu docker image
- GPU model and memory: nvidia v100 32GB

Current behavior:
Training with `dataset = dataset.take(1).cache().repeat()` is 20% faster(iterations per sec) vs. training

[2021-05-19 15:30] vlasenkoalexey commented on #35860
CUPTI library is part of CUDA, before CUDA 10.x profiling didn't require admin privileges. See nvidia doc for details: https://developer.nvidia.com/nvidia-development-tools-solutions-err-nvgpuctrperm-cupti

[2021-05-19 15:35] mrawding opened #49306 "-DCMAKE_INSTALL_PREFIX has no effect when building with CMAKE"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution = Linux Ubuntu 20.04:
- TensorFlow installed from (source

[2021-05-19 15:40] mvieth opened #49307 "Locale issue in profiler/trace logger"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes, but bug is not in custom code
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04.2
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow installed from (source or binary): pip3
- TensorFlow

[2021-05-19 16:01] mdanatg commented on #27120
Unsure, it likely would have side effects - that code is overdue for cleanup and difficult to predict. But I would suggest trying it out anyway, if anyone has the bandwidth - if it passes all the TF unit tests, then it stands a good chance of working.

[2021-05-19 16:09] TheManjia commented on #34431
So the solution is to "use a thirdy part library because we removed ours?"
This is nowhere close to a solution, what if anyone has to use an existing generate_tfRecord.py?

[2021-05-19 16:17] cuneyttanrisever opened #49309 "tensorflow error code 3221225501"
windows7 64bit
what is the problem ?

Python 3.8.6 (tags/v3.8.6:db45529, Sep 23 2020, 15:52:53) [MSC v.1927 64 bit (AM
D64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "C:\Python38\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", l
ine 64, in <module>
    from tensorflow.python._pywrap_tensorflow_internal imp

[2021-05-19 16:18] ashutosh1919 commented on #43745
After looking at the above comments, I analysed the code by going in depth function call trace.

I compared below two scenarios:
Serializability of model is affected based on previous layer.
`model = keras.Sequential([ones_like_layer, logits], name="ones_like_model")` is serializable but `model = keras.Sequential([x, ones_like_layer, logits], name="ones_like_model")` is not.

The `Lambda` layer se

[2021-05-19 16:19] UsharaniPagadala commented on #49299
@zheyuye
We see that you are using tf version 1.15, Also as bhack mentioned above there is no support for 1.x, please upgrade to 2.x  and let us know if you are facing the same.Thanks

[2021-05-19 16:21] mdanatg commented on #48612
This is an inconsistency in the Tensor class. I see `ndim` was added to `EagerTensor` (forwarding to `.shape.ndims`), but not to the base `Tensor` class). That should be a straightforward fix.

The recommended method right now is `.shape.rank` and that should work consistently, but all these do need to be cleaned up.

[2021-05-19 16:22] UsharaniPagadala commented on #49299
@zheyuye
We see that you are using tf version 1.15, Also as bhack mentioned above there is no support for 1.x, please upgrade to 2.x and let us know if you are facing the same.Thanks

[2021-05-19 16:38] keisen commented on #48862
Hi, @reedwm .

Thank you so much for the improvement!

I have something to tell you first.
When I created this issue, I thought there are scenarios many more that has this problem.
However, now, I notice that almost of them can be avoided by redesigning our library's interface. That's, We should NOT define the interface that defalult value is a optimizer instance.

As a result, the scenario that n

[2021-05-19 16:43] ianguidini commented on #34431
If anyone has to use an existing generate_tfrecord.py that is incompatible
with the TensorFlow version they are using, but are also impeded from
downgrading their Tensorflow version as other comments have suggested here,
but also refuse to use a third party open-source library to patch that case
of incompatibility, then my final suggestion would be to look in other
threads for a different existing

[2021-05-19 16:56] arpadfodor commented on #33005
The issue still persists with TF 2.5.0, there is no sign of any progress at all. Please, it would be awesome having non-squared strides, or at least clarifying the documentation @tensorflowbutler.

[2021-05-19 17:19] svobora commented on #49269
Dammit, I made a mistake and was running on tflite 2.4.1 instead of 2.5.0. In 2.5.0 there is a [bugfix ](https://github.com/tensorflow/tensorflow/commit/6927b25a40869537e582cf77956affe9e9738198#diff-cb53ee4470925c90c8f5bf084c033e259b02778fd63dc9bfef474278625e9df0) of FullyConnected layer that might be relevant to this issue. I will rebuild my codes with 2.5.0 and close this report if all works wel

[2021-05-19 17:25] laplacericky commented on #49276
Yes, after asserting the cardinality by
`result = result.apply(tf.data.experimental.assert_cardinality(expected_cardinality))`,
it works with keras model.
Thx a lot!

[2021-05-19 17:38] qlzh727 commented on #49298
Thanks for asking the question. In tf 2.5, keras package is included as a deps, but not actively used. We are in the final stage for switch tf to use keras as a dependency package (and the keras code in tensorflow/python/keras will be removed afterwards).

As for the dependency circle, there isn't any since tf shouldn't rely on any keras code at python level. There is only one way deps from Keras

[2021-05-19 17:39] #49298 closed

[2021-05-19 17:39] impjdi commented on #49269
Good find!

[2021-05-19 17:44] b-entangled commented on #48930
Thank you @tilakrayal .
We are creating git patches to change visibility. So I'm closing this issue.

[2021-05-19 17:44] #48930 closed

[2021-05-19 17:50] #48647 closed

[2021-05-19 17:54] Flamefire commented on #49298
So that means that the keras package should have a dependency on the tensorflow package, shouldn't it?

I don't understand this. What does it mean to be "properly exported"? And why does this require keras to be installed (which is what the pip dep means)?

[2021-05-19 17:55] bhack commented on #49276
@jsimsa Do you need that we need to add something to the documentation or can we close this?

[2021-05-19 18:15] UsharaniPagadala commented on #49309
@cuneyttanrisever
Looking at the error log, seems like it is similar to  this [issue](https://github.com/tensorflow/tensorflow/issues/35598) and let us know if its help.Thanks

[2021-05-19 18:42] smartaquarius10 commented on #49261
Sure. I wasn't aware of that. Really sorry. In future, will ask such questions there only. Thanks for helping :)

[2021-05-19 18:47] AldrichCabrera commented on #49245
@UsharaniPagadala The issue was solved. Thank you!!

[2021-05-19 18:53] pranathibl commented on #49223
Any update on this

[2021-05-19 19:02] UsharaniPagadala commented on #49245
@AldrichCabrera

Thank you for your update, glad its working fine for you, kindly move this issue to closed status as it is resolved.

[2021-05-19 19:28] jvishnuvardhan commented on #36319
@nbro Looks like the above model in your code has single output.  If you want to define separate metric and loss for each output, then you can follow [this guide](https://www.tensorflow.org/guide/keras/functional#models_with_multiple_inputs_and_outputs).

May be [this](https://github.com/tensorflow/tensorflow/issues/48038#issuecomment-820647223) or [this](https://github.com/tensorflow/tensorflow/i

[2021-05-19 19:29] svobora commented on #49269
Yep, it was this one missing bugfix. Thx for your help anyway!

[2021-05-19 19:43] qlzh727 commented on #49298
I see why you get confused here.

If you thinking from API and layering perspective, for any python code, keras code can rely on TF for underlying ops and other lib, but not the other way around (tf low level ops, or high level API like tf.dataset or tf.distribute shouldn't aware of keras). In this sense, the dependency direction is from Keras to TF.

When we talk about PIP package, the dependency

[2021-05-19 21:08] yiliu9090 commented on #43655
Sorry about the delay.
This is not what I really wanted for tf.roll. What I mean is that if there are multiple
Currently, tensorflow only allows for same shift in the same dimension. I want different shift for the same axis just different roll.
For Example
[[1,2,3,4],
[1,2,3,4],
[1,2,3,4]]
can be only turned into
[[2,3,4,1],
[2,3,4,1],
[2,3,4,1]] in the current iteration.
I need a roll function th

[2021-05-19 21:48] ymodak commented on #49255
@lyw615 Its due to nvidia cupti api changes. See https://github.com/tensorflow/tensorflow/issues/35860#issuecomment-844217651

[2021-05-19 22:33] suraj-maniyar commented on #48349
@srjoglekar246
I am using a code written by someone else, but with some debugging I believe all the processes **are** using the same interpreter instance. And now I understand from your previous comment, that TFLite doesn't support that.
So I suppose you are suggesting me to create a new Interpreter instance for every process. That's very helpful to know.

[2021-05-19 23:20] rohanmuplara commented on #48912
@rmothukuru following up here

[2021-05-19 23:28] yyoon commented on #49293
Were you able to reproduce this with a debug version?

[2021-05-20 00:07] #49245 closed

[2021-05-20 00:10] ymodak commented on #49187
On a side note for using gpus with TF 2.4 pre built binary compatible cuda version is 11.0 and cudnn 8.0

[2021-05-20 00:11] thaink commented on #49266
You are running multiple interpreters, each on a different thread, right.
For clarifying, did you got the error when running only one interpreter single-threaded?

[2021-05-20 00:19] 8bitmp3 commented on #48912
Also feel free to ask this or any other question on the TensorFlow Forum - https://discuss.tensorflow.org/ - we have members of the TF community, core TF, and TF DevRel there 👍

[2021-05-20 00:20] MarkDaoust commented on #49234
Yeah, it's "TenaorFlow-er" not "Tensor-Flower 🌸" .

IIRC the site used have this feature, and it was just too hard to turn into actionable feedback beyond what we already knew from the ratings. Plus we have plenty of bugs in this queue already, we don't need a whole new queue.

We encourage you to use the ratings, we check that signal.
If you have more specific feedback (it sounds like you do), ra

[2021-05-20 00:20] #49234 closed

[2021-05-20 00:23] suraj-maniyar commented on #49266
@thaink
I am running one interpreter, single thread.
The gdb output is the error that I get with that.

[2021-05-20 00:36] suraj-maniyar commented on #49266
My test program uses forking. And I get this error with multiple forks running same interpreter. But I also get the same error even when only one child process is running inference.

[2021-05-20 00:55] anpingchen opened #49365 "How to configure tensorflow2.x in Qt creator?"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2021-05-20 00:57] lcmeng commented on #27457
Thanks for pointing that out. Problem solved!

[2021-05-20 01:23] thaink commented on #49266
tflite::Interpreter is not design to be run concurrently, so you will need to create one for each process (and each flat_buffer_model object too).
Can you test if it still happen if you change shared_ptr to unique_ptr?

[2021-05-20 02:12] tilakrayal commented on #49276
@laplacericky ,

Please feel free to move the issue to closed status, if the issue is resolved.

Thanks!

[2021-05-20 02:20] suraj-maniyar commented on #49266
@thaink Thanks for your response.
I am running into some other errors related to my test program when using unique_ptr. I will try to fix it and get back to you.
In the mean time, are there any plans for supporting tflite::Interpreter concurrently in upcoming releases?
Also I am using flex delegate. Any threading/concurrency issues that you are aware of for flex delegate?

[2021-05-20 02:25] yngwiepang commented on #49293
It's difficult o(╥﹏╥)o, The probability is low, and our production is not allowed with debug version online.
we use same c++ code on android and ios. android is ok, the crash occur on ios when we use mmap load model，if we don't  use mmap is ok.
from SEGV_ACCERR , I guess  when tflite load model the model file is changed.   but i'm not sure

[2021-05-20 03:02] DachuanZhao commented on #46093
Yes , you can close it since the outdated docs will be updated . [https://github.com/tensorflow/tensorflow/issues/49295](https://github.com/tensorflow/tensorflow/issues/49295)

[2021-05-20 03:36] Nytish opened #49366 "Undefined symbol zungqr_"
Traceback (most recent call last):
  File "real_time_object_detection.py", line 2, in <module>
    from imutils.video import VideoStream
  File "/var/rootdirs/home/root/tflite/tflite-env/lib/python3.8/site-packages/imutils/__init__.py", line 8, in <module>
    from .convenience import translate
  File "/var/rootdirs/home/root/tflite/tflite-env/lib/python3.8/site-packages/imutils/convenience.py", l

[2021-05-20 04:17] sanjoy commented on #43772
This is fixed at head.  We typically don't backport bugfixes to older releases.

[2021-05-20 04:17] #43772 closed

[2021-05-20 04:20] sanjoy commented on #47623
Does adding `TF_DISABLE_RZ_CHECK=1` to the environment help?

[2021-05-20 04:28] sanjoy commented on #47661
Works fine on TF nightly now.  Can you please cross check?

[2021-05-20 04:47] rmothukuru commented on #47661
@charmasaur,
As per [sanjoy's comment](https://github.com/tensorflow/tensorflow/issues/47661#issuecomment-844677445), the issue is fixed in the TF Nightly. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/0dd6b435709d08c0f20883e349fdce9e/47661.ipynb) of the working code. Thanks!

[2021-05-20 04:58] Saduf2019 commented on #49261
@smartaquarius10
Please move the issue to closed status as it is resolved.

[2021-05-20 05:00] charmasaur commented on #47661
@rmothukuru unfortunately I don't think that test is accurate: notice that `print(device_lib.list_local_devices())` only detects a CPU, which suggests that the op isn't actually running on GPU.

[2021-05-20 05:14] tilakrayal commented on #49366
@Nytish,

We see that the [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose) has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced] or if possible share a colab gist with the issue reported.

Thanks!

[2021-05-20 05:16] smartaquarius10 commented on #49261
Sure.

[2021-05-20 05:16] #49261 closed

[2021-05-20 05:30] fwz-fpga opened #49367 "benchmark_model performance"
I have a tflite quantizd model(qat).

To benchmark it's performance with device rk3399(arm), I build a binary benchmark_model form  source, command is : ./tensorflow/lite/tools/make/build_aarch64_lib.sh.

I also download a pre-build binary(linux_aarch64) here: https://www.tensorflow.org/lite/performance/measurement.

Then I have two excutable binaries,  but the tflite models'performance  has a lar

[2021-05-20 05:53] sanjoy commented on #47866
OOC, how did `array1`'s device get to be GPU:1?  Is it inferring that from the earlier call to `cupy.fromDlpack`?

Can `TFE_FromDlpackCapsule` reconstruct that from `tf.config.experimental.get_visible_devices("GPU")` and `tf.config.experimental.list_visible_devices("GPU")`?

[2021-05-20 05:59] sanjoy commented on #48041
@nluehr Does this mean `MinSystemMemory` needs some more adjustment, like in https://github.com/tensorflow/tensorflow/pull/44810?

[2021-05-20 06:04] HarshBarash commented on #24187
have you solved this problem?

[2021-05-20 06:05] HarshBarash commented on #24187
have you solved this problem?

[2021-05-20 06:05] HarshBarash commented on #24187
have you solved this problem?

[2021-05-20 06:10] sanjoy commented on #42606
It looks there is a missing early exit here: https://github.com/tensorflow/tensorflow/blob/9f594b848ac12c98518a544198fc1c0571f68ce1/tensorflow/core/kernels/training_ops_gpu.cu.cc#L812

@sgpyc can you PTAL?

[2021-05-20 06:19] bas-aarts commented on #48919
@sanjoy tried adding --copt=-O1 as well as --copt=-O2, which does not address the problem.
Also tried to use clang instead f nvcc/gcc, which results in:

`ERROR: /root/.cache/bazel/_bazel_root/21773b1a37c97ed8ddda3e8be78ee764/external/libjpeg_turbo/BUILD.bazel:41:11: undeclared inclusion(s) in rule '@libjpeg_turbo//:jpeg':
this rule is missing dependency declarations for the following files includ

[2021-05-20 06:23] sanjoy commented on #48742
TensorFlow has to reserve some amount of GPU memory for system libraries like cuDNN, cuBLAS etc.; that is likely the delta you're seeing here.

[2021-05-20 06:28] jeongukjae opened #49368 "How about adding a note of `_get_optimizer` in "Customize what happens in Model.fit" guide?"
## URL(s) with the issue:

https://www.tensorflow.org/guide/keras/customizing_what_happens_in_fit#wrapping_up_an_end-to-end_gan_example

## Description of issue (what needs changing):

### Clear description

When using Keras mixed-precision API and overriding `tf.keras.Model.compile` function like the above guide, training loss cannot converge easily, because the optimizers are not wrapped in `Los

[2021-05-20 06:28] sanjoy commented on #48545
I believe this is fixed by https://github.com/tensorflow/tensorflow/pull/49173 (CC @nouiz )

[2021-05-20 06:43] sanjoy commented on #48722
I believe we print the warning about driver/DSO version mismatch only if `cuInit` fails.  I.e. you're seeing the warning because there was a definite failure, though the message could be incorrect about the root cause.

I don't see why `cuInit` itself fails -- as you said, by the docs, 11.2 should work fine with 455.  Do things work ok if you upgrade the host driver to 460?

[2021-05-20 06:46] sanjoy commented on #48650
CC @atondwal

[2021-05-20 07:06] Flamefire commented on #49298
Thanks for the explanation, please allow me to ask another question to be sure that I understood that correctly:
The goal is to move the current code under `tf.keras.*` into a separate (pip) package so that `tf.keras == keras`, i.e. `import tf.keras as keras` and `import keras` are essentially equivalent and the TF package does not contain the actual code of that namespace anymore. Is that correct

[2021-05-20 07:07] sanjoy commented on #48057
It would be ideal if you could stub out the dataset using random tensors or shared some sample data here on this issue.

Can you also please gather & share the cuDNN API log from a failing run? Instructions [here](https://docs.nvidia.com/deeplearning/cudnn/developer-guide/index.html#api-logging).

[2021-05-20 07:18] myungjoo commented on #22078
For TF 1.13, we use a fork at https://github.com/nnsuite/ubuntuport-tensorflow/
For TF 2.3, we've started using a fork at https://git.tizen.org/cgit/platform/upstream/tensorflow2/ , but we do not build non-lite TF here.

[2021-05-20 07:43] aditisaluja5 opened #49369 "Need clarity on metrics reported in extras field on using run_op_benchmark"
## URL(s) with the issue:
https://www.tensorflow.org/api_docs/python/tf/test/Benchmark

## Description of issue (what needs changing):

I ran a simple tf.linalg.matvec operation using the benchmark framework and got different metrics in the extras field. I could not understand the difference between the keys in the extra field - allocator_max_num_bytes_GPU_0_bfc and allocator_max_num_bytes_gpu_hos

[2021-05-20 07:50] #34691 closed

[2021-05-20 07:51] girving commented on #9292
This was somewhat of a lark.  Code would still work with minor changes if anyone ever wants to use it, but definitely fine to close this issue.  I'll leave my branch up in case people feel logic exotic use of xorshift in the future.

[2021-05-20 07:51] #9292 closed

[2021-05-20 07:59] saikumarchalla commented on #28230
@pwws When I executed the below code, it returned the output as -0.5 as expected.  Please let me know if you still have any  concern.
[code]

[2021-05-20 08:31] sgpyc commented on #42606
If the variable shape is [0], the optimizer should be an no op and early exit should work.
Having an empty gradient seems strange to me, not sure whether it's an issue that should be caught earlier.

[2021-05-20 08:32] OrangeeJi commented on #45170
Thanks! It solved my problem!
But my logs still show 'SubProcess ended with return code: 0'
Is there any solution to this problem?
Thank you!

[2021-05-20 08:34] saikumarchalla commented on #30215
@zicofish  I executed the code in TF 2.5 version and  it is returning the output as expected. Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/147b32ec410157ead26e53a6bd8aa89d/untitled78.ipynb). Thanks!

[2021-05-20 08:34] #30215 closed

[2021-05-20 08:40] FSet89 opened #49370 "tflite_runtime interpreter produces strange results when warmup is done with empty images"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2021-05-20 08:49] turowicz commented on #23557
@bhack I guess the best way of dealing with bugs is to wait for the EOL of the product.

[2021-05-20 08:50] #48836 closed

[2021-05-20 08:52] yananchen1989 opened #49371 "How to solve the INFO information: INFO:absl:resolver HttpCompressedFileResolver does not support the provided handle. INFO:absl:resolver GcsCompressedFileResolver does not support the provided handle. INFO:absl:resolver HttpUncompressedFileResolver does not support the provided handle."
When I train my text classification model, there always comes the info above. I do not know where they come from ?
Any solutions to ban these ?

[2021-05-20 08:54] bhack commented on #23557
The point is that TF has not a public EOL policy.
Also the new bug fixes are available generally in nightly or in the next release as we don't have patch releases other then for security bugs.

[2021-05-20 08:58] bhack commented on #49371
Please share a very minimal example to reproduce this and fill the issue template with all the required info.

[2021-05-20 09:00] abattery commented on #49367
@multiverse-tf could you take a look?

[2021-05-20 09:03] abattery commented on #49370
Could you provide the TFLite model or a minimal and reproducible step as a gist?

[2021-05-20 09:28] saikumarchalla commented on #31171
@janprz Closing this issue since the issue is resolved  for you.

@x5675602 Please  submit a new issue and we can track it seperately. Thanks!

[2021-05-20 09:28] #31171 closed

[2021-05-20 09:39] saikumarchalla commented on #31429
@wchargin I tried to reproduce the issue in TF 2.5 and the session is not crashing  but facing different error. Please check the gist [here](url).Thanks!

[2021-05-20 09:47] xiaomsky opened #49372 "Relu fake quant after Quantification Aware Training"
hi

when  do  Quantification Aware Training with tensorflow-model-optimization, for Relu op,
after QAT, and found the min value of fake quant node is not zero ,and a constant value.

so what reason cause that , thanks.

[2021-05-20 09:57] rmothukuru commented on #33230
@KristianHolsheimer,
Can you please refer to the Embedding Projector and let us know if this is what you are looking for? Thanks!

[2021-05-20 10:11] xiaomsky commented on #49372
TF version is TF2.3.0.

[2021-05-20 10:17] Saduf2019 commented on #45121
I am able to replicate this issue please find the [gist here](https://colab.research.google.com/gist/Saduf2019/bb7cb39157ff14d9cbc33a51480c8ed2/untitled605.ipynb). Thanks!

[2021-05-20 10:19] Saduf2019 commented on #48878
@AdityaNikhil
Please update as per above comment.

[2021-05-20 10:23] Saduf2019 commented on #48837
@TianruiZhang
Apologies for the delayed response, is this still an issue, please share a colab gist with the issue reported, can you try on tf 2.5 and let us know.

[2021-05-20 10:24] zhaoyang-star commented on #44369
I met similar problem when profiling TFLite OpenCL backend. There is no per-op running-time even `--enable_op_profiling=true` is set. Hope someone's help.
[code]

[2021-05-20 10:27] tilakrayal commented on #49369
@aditisaluja5 ,

We see that the [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose) has not been filled, could you please do so as it helps us analyse the issue.

Looks like the issue is with gpu memory allocation.Please try limiting [GPU memory growth](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) using any of the methods listed here and check if it he

[2021-05-20 10:30] Saduf2019 commented on #49261
Also,if you are keen on designing from scratch, you can always import an image in to illustrator, trace it then expand to get [svg](https://www.svgator.com) object

[2021-05-20 10:32] Saduf2019 commented on #49304
@GuyPozner
Kindly share a colab gist or code such that we can replicate the issue reported.

[2021-05-20 10:38] bhack commented on #45121
We have already two tickets and a PR https://github.com/tensorflow/tensorflow/pull/49230

[2021-05-20 10:46] Saduf2019 commented on #49371
@yananchen1989

We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

@bhack
Thank you for triaging the issue but we follow a process and a template for the same, kindly let us stick to the process, once information is shared by user yo

[2021-05-20 10:51] #33193 closed

[2021-05-20 11:04] Saduf2019 commented on #49165
@ashahab
As #49166 is merged, please confirm if the issue is resolved and  move this to closed status.

[2021-05-20 11:10] Saduf2019 commented on #48931
@woodlgz
Could you please upgrade to later versions of tf and let us know as tf 1.x is not actively supported on 2.x is.
You may refer to [this discussion](https://github.com/horovod/horovod/discussions).

[2021-05-20 11:11] prikmm opened #49373 "Extremely slow data processing of tensorflow dataset using when using tf.while_loop inside a tf.function or normal function"
**System information:**
Tried the code on both - Kaggle and Colab (Both only CPU)

**Code:**
I am trying to process a dataset containing ~20,000 images, their feature vectors and their masks(image segmentation). Due to the size of data, I can't perform in-memory processing.

I load the data using this function:

[code]
The preprocessing includes getting the euclidean distances between all the imag

[2021-05-20 11:14] woodlgz commented on #48931
hi, Saduf2019, it 's not a bug. it's just a confusion.
tensorflow 2.x should make no difference.

[2021-05-20 11:14] multiverse-tf commented on #49367
I guess the difference might come from two sources:
1. the RUY library isn't enabled for the make-based build.
2. the compiler flags might be different. As for the pre-built one, we used "bazel --define=tflite_with_ruy=true --config=elinux_aarch64 --define tensorflow_mkldnn_contraction_kernel=0" to compile the binary.

So, could you try the "bazel" to build your binary? Or try "cmake" to build the

[2021-05-20 11:17] lightb0x commented on #47362
For reference, result of [mixed precision tutorial](https://www.tensorflow.org/guide/mixed_precision) on RTX 3070 is as follows.
* TF32 -> 0.9116, ~70ms per step (default)
* FP16 -> 0.9274, ~45ms per step
* BF16 -> 0.9477, ~3000ms per step

If model doesn't contain convolution layer, it runs correctly, even if it's slow.

(tested environment : Ubuntu 20.04, [nvidia tensorflow container image 21.03

[2021-05-20 11:40] cuneyttanrisever commented on #49309
I uploaded this link
https://github.com/fo40225/tensorflow-windows-wheel/blob/master/1.14.0/py37/CPU/sse2/tensorflow-1.14.0-cp37-cp37m-win_amd64.whl

import tensorflow as ft
this error when the command is given:
C:\Python37\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureW
arning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a fu
ture version of numpy, it

[2021-05-20 11:44] sachinprasadhs commented on #33840
@AravindGanesh , The issue has been fixed in Tensorflow 2.5 version, please find the gist [here](https://colab.research.google.com/gist/sachinprasadhs/586e5ad2732c96c6ee5b547f906b4213/224.ipynb).

[2021-05-20 11:49] sachinprasadhs commented on #33842
Was able to reproduce the issue in Tensorflow version 2.5, please find the gist [here](https://colab.research.google.com/gist/googly789/3f974e5f5efa0eaa39902e6a013d29f1/untitled40.ipynb).

[2021-05-20 12:04] ardtrkc opened #49374 "Segmentation fault (core dumped) - TFLite"
@tensorflow/micro  x   @tensorflow/lite

Hi !

**Describe the problem**
To read a model from official [TensorFlow source (COCO SSD MobileNet v1)](https://www.tensorflow.org/lite/examples/object_detection/overview#get_started) and perform inference with [minimal.cc](https://github.com/tensorflow/tensorflow/blob/r1.12/tensorflow/contrib/lite/examples/minimal/minimal.cc), we get the error below.

**S

[2021-05-20 12:05] sachinprasadhs commented on #33978
Was able to reproduce your issue in TF Nightly 2.6, please find the gist [here](https://colab.research.google.com/gist/sachinprasadhs/99d6bc061e5f29c90db6886ea8e4b2fd/untitled43.ipynb).

[2021-05-20 12:21] bhack commented on #33978
You need to use in your colab:
[code]
I don't know if we could escape internally

[2021-05-20 12:52] zakajd opened #49375 "Setting fixed seed in PreprocessingLayer leads to different results"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.4.1
- Python version: 3.8
- CUDA/cuDNN version: Driver Version: 450.102.04   CUDA Version: 11.0
- GPU model and memory: V100

[2021-05-20 12:55] laplacericky commented on #49276
The solution working fine so far. I am closing this.

[2021-05-20 12:55] #49276 closed

[2021-05-20 13:04] zakajd commented on #49375
Closing due to finding bug in my code. Everything works as expected.

[2021-05-20 13:04] #49375 closed

[2021-05-20 13:46] sachinprasadhs commented on #34094
@shazhongcheng , Install the latest driver for your GPU from [here](https://www.nvidia.com/Download/driverResults.aspx/175403/en-us) and upgrade your Tensorflow version to latest and for CUDA and cuDNN compatibility match you can check [this](https://www.tensorflow.org/install/source_windows#gpu) table and let us know if you are still facing issue. Thanks!

[2021-05-20 13:50] #29648 closed

[2021-05-20 13:50] #42755 closed

[2021-05-20 13:52] ashutosh1919 commented on #45121
@Saduf2019 , you can close the issue because we have exact same 2 tickets as @bhack mentioned. You can subscribe to these 2 tickets although so that you can get updates.

Attaching the 2 tickets: #48584 and #47689 .

[2021-05-20 14:09] #45121 closed

[2021-05-20 14:16] sachinprasadhs commented on #34200
I was able to reproduce the issue in Tensorflow 2.4, please find the gist [here](https://colab.research.google.com/gist/sachinprasadhs/7afb880722038a5aa0c844de049f7a96/34200.ipynb).

[2021-05-20 14:24] harishsureit opened #49377 "Tensorflow 2.3 GPU build failed | NCCL no such package | RHEL 7"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): rhel 7
- TensorFlow installed

[2021-05-20 14:27] fsx950223 opened #49378 "switch_case returns wrong dataset in graph mode"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-05-20 14:37] wojciechp6 commented on #41589
Hi, for dynamic worker removing one change in Worker class is necessary.
The change is here:
[code]

Could someone commit it? Thanks in advance.

[2021-05-20 14:56] bixia1 commented on #49150
This is a known issue, as TensorRT has breaking changes. See [work in progress PR 48917](https://github.com/tensorflow/tensorflow/pull/48917).

[2021-05-20 15:05] worldpeaceaspirer opened #49379 "Distinction between categorical_crossentropy and sparse_categorical_crossentropy is not clear in the documentation"
## URL(s) with the issue:

Please provide a link to the documentation entry, for example:
https://www.tensorflow.org/api_docs/python/tf/keras/losses/categorical_crossentropy
https://www.tensorflow.org/api_docs/python/tf/keras/losses/sparse_categorical_crossentropy

## Description of issue (what needs changing):

There is documentation for these 2 losses but there is no clear explanation distinguis

[2021-05-20 15:10] lyw615 commented on #35860
@vlasenkoalexey But  CUDA 10.x  is also troubled with the privileges problem in my local , so do many people under this issue.

[2021-05-20 15:13] feranick commented on #49150
If it's a known issue it should be reflected in the release notes. It would have saved me quite some time, if I knew...

[2021-05-20 15:18] nluehr commented on #48041
The required MinSystemMemory (GPU memory not claimed by TF allocator) can be controlled at runtime using the environment variable TF_DEVICE_MIN_SYS_MEMORY_IN_MB. @scarrazza can you check what minimum value of TF_DEVICE_MIN_SYS_MEMORY_IN_MB is needed to allow your model to run? As a starting point, I believe the default value TF selects for your GPU is 1050.

[2021-05-20 15:33] Saduf2019 commented on #49372
@xiaomsky
Your request is not clear, can you explain in brief the issue faced, we see you haven filled the issue template as well.

[2021-05-20 15:42] Saduf2019 commented on #49301
@luckmoon
Tf 1.x is not actively supported, Can you please upgrade to tf 2.x and let us know if you still face the issue.

[2021-05-20 15:55] rpytel1 commented on #45180
Hi all,
Sorry for the late response. The problem remains in the newest tf-nightly. @Saduf2019, your collab has mistakes as it is only restarting Keras session which is only removing TensorFlow objects and clears the GPU memory, while all python imports or custom defined functions are still in the memory. Here it is crucial to restart the runtime machine (in Jupyter it is called restarting kernel)

[2021-05-20 16:06] saikumarchalla commented on #32357
Closing this issue since the original issue was resolved.  Please feel free to reopen the issue  if necessary.
@mostafafazeli  @joshleiph  Could you please open the new issues and we can track it separately. Thanks!

[2021-05-20 16:07] ghanko commented on #44868
It seems that model created with newer tf uses Conv2D op too and the example is not up-to-date with this. Adding
`if (micro_op_resolver.AddConv2D() != kTfLiteOk) {
    return;
  }`
  resolved the issue for me.
  Don't forget to increase opCount of MicroMutableOpResolver if a new op is added:
  `static tflite::MicroMutableOpResolver<5> micro_op_resolver(error_reporter);`

[2021-05-20 16:07] #32357 closed

[2021-05-20 16:09] franckchateau commented on #30552
Hello,

Have you solved your problem ?
I have exactly the same issue

thank you very much

[2021-05-20 16:15] bixia1 commented on #49150
Do you mean include this in the release note of TensorRT 8, which comes after TF 2.5?

[2021-05-20 16:23] saikumarchalla commented on #32557
@netskink I tried to reproduce the issue in TF version 2.5 on [colab](https://colab.research.google.com/gist/saikumarchalla/ca102b2677b5a831ca8b9f48ce591159/untitled78.ipynb) but I am not facing any segmentation error. Seems the issue is resolved in latest TF version. Could you please check and confirm from your end as well. Thanks!

[2021-05-20 16:23] feranick commented on #49150
Maybe a line specifying that only TensorRT 7 is supported in the
TensorRT section of the Release notes for TF 2.5...

Alternatively, or in addition, this page is quite outdated (Ubuntu 20.04
is not even mentioned):

https://www.tensorflow.org/install/gpu

The point is, one could set some very conservative version numbers for
the GPU libraries needed. However, those are not available in the
current

[2021-05-20 16:30] nouiz commented on #48545
@sanjoy @GatGit12

PR  #49173 that is approved, but not yet merged should fix the `tensorflow.python.framework.errors_impl.InternalError: No allocator statistics` error.

When it is merged, the next day you can probably use TF nightly build to test it again.

Note, this new allocator can solve the issue, but this ask that all used library use cudaMallocAsync.
Do you know which allocator is used by

[2021-05-20 16:35] saikumarchalla commented on #32764
I can able to reproduce the issue using TF version 2.5 and 2.6 nightly as well. Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/8de352e91567f8fe9fd8ef459743ef73/32764.ipynb).Thanks!

[2021-05-20 16:36] #34268 closed

[2021-05-20 16:47] saikumarchalla commented on #32454
I can able  to reprouduce the issue in TF 2.5 version and it is still hanging. Thanks!

[2021-05-20 16:52] pranathibl opened #49381 "TFLite NCHW data format issue and Open Questions"
TFLite Version used - 2.4.1
Does TFlite Models can be created using NCHW format ?

When I tried to create , I was having issues ?
But the error i was getting was incorrect, Is this expected ?

In documentation it is not mentioned that NCHW is not supported ? When is this expected to support ?

Few open questions i found regarding this :-
https://stackoverflow.com/questions/66671358/which-format-is

[2021-05-20 16:53] bixia1 commented on #49150
Interesting point, TensorRT 8 comes after TF 2.5 and we have no ideas that it is not going to work with TF 2.5.

[2021-05-20 16:58] AndreyPlotkinOr commented on #30552
No =(

[2021-05-20 16:59] qlzh727 commented on #49298
This is correct.

TF 2.5 is still using keras code under tensorflow/python/keras, and NOT using code from keras-nightly. You observation is correct. It is indeed a preparation. User could turn on the Keras pip package by config a env var (_PREFER_OSS_KERAS), see https://github.com/tensorflow/tensorflow/blob/5dcfc51118817f27fad5246812d83e5dccdc5f72/tensorflow/api_template.__init__.py#L87

Keras cou

[2021-05-20 17:13] feranick commented on #49150
Indeed. The issue again is the questionable way NVidia provides packages across major version numbers. To give you a sense, you can actually have both TensorRT 7 and 8 installed through the `libnvinfer8` and `libnvinfer7` and related plugins. However, the dev package (`libnvinfer-dev`) is version agnostic, which means that when NVidia updates TensorRT to version 8, it forces the upgrade also on th

[2021-05-20 17:17] feranick commented on #49150
As to your point about the tensorRT release notes breaking APIs, I can only say that it's fair that is acknowledged. However, you can make that change in such a way that you literally break people systems with no way to recover then in a usable way. As of now, there is no straightforward way to compile tensorflow with tensorRT on Ubuntu 20.04.

[2021-05-20 17:17] saikumarchalla commented on #32799
@MartinMohlenkamp @stoyan-dixa  Could you please check in TF 2.5 and 2.6 nightly versions ad let us know if the issue still persists.Thanks!

[2021-05-20 17:18] ymodak commented on #49164
I see that your gpu setup is not compatible with the TF 2.4 version. You require cuda 11 and cudnn 8.0 with TF 2.4 version.
So right now all your computation falls on cpu since gpu is not visible to ops.
https://www.tensorflow.org/install/gpu#software_requirements

[2021-05-20 17:22] bhack commented on #49298
Some of there are natural questions then soon or later we will need to put somewhere in a visibile FAQ/Readme

[2021-05-20 17:23] ymodak commented on #44107
Closing this issue since the following setting helps resolves the problem for many users. Thank you.

[2021-05-20 17:23] #44107 closed

[2021-05-20 17:28] saikumarchalla commented on #32546
I can able to reproduce the error and the issue still exists in 2.6 nightly as well. Thanks!

[2021-05-20 17:32] surya00060 commented on #49164
Actually the computation happens on GPU and it's not falling back onto CPU. I have verified this. Tensorflow is able to detect GPU here. I get the following output when testing whether Tensorflow has access to GPU or not.
[code]

I should have pointed it out, I'm working with Nvidia Jetson AGX Xavier. It currently doesn't support CUDA 11 at the moment. I followed these steps to install Tensorflow.

[2021-05-20 17:41] ymodak commented on #46093
The docs are now updated with commit [69919bd](https://github.com/tensorflow/docs/commit/69919bd2c59a4902534f52f8de09eeead96e2ed6) Thanks!

[2021-05-20 17:41] #46093 closed

[2021-05-20 17:53] zhenghh04 commented on #29123
I encountered the same issue.
I had a python generator: gen
`tf.data.Dataset.from_generator(lambda: gen,  ....) `
It does not support repeat. But if I define a lambda generator outside of tf.data.from_generator(gen_lambda, ...) as follows
[code]
It supports repeat method.

[2021-05-20 18:04] sachinprasadhs commented on #24570
@selitvin , I was able to run your code without any warning in Tensorflow 2.5 version, please find the gist [here](https://colab.research.google.com/gist/sachinprasadhs/2d8c26de036ca88f3b6e05760eb21387/24570.ipynb).

[2021-05-20 18:06] sachinprasadhs commented on #24570
Closing the issue since it is not showing any error in the recent Tensorflow version, if you face any issue again feel free to open new issue by filling the issue template. Thanks!

[2021-05-20 18:06] #24570 closed

[2021-05-20 18:06] hrw commented on #49136
commit 04b415a fixed the problem

[2021-05-20 18:06] #49136 closed

[2021-05-20 18:15] sachinprasadhs commented on #25464
@rsepassi Can you please confirm if the issue is being solved with the above comment.

[2021-05-20 18:22] bhack commented on #49136
/cc @hawkinsp

[2021-05-20 18:25] cheshire commented on #49140
We have an internal PR with int8xint8->int32 convolutions via cuBLAS, I expect it to land shortly. Will that be sufficient?

[2021-05-20 18:33] lgeiger commented on #49140
That's great to hear! I think `int8xint8->int32` will probably cover most cases. Although in the future it I think it would be great to have parity between the backends and also support the other datatypes.

[2021-05-20 18:37] ashahab commented on #49165
@Saduf2019 I have verified this works. Thank you.

[2021-05-20 18:37] #49165 closed

[2021-05-20 18:39] ymodak commented on #48880
The code snippet fails with latest tf-nightly version as well. See [gist](https://colab.research.google.com/gist/ymodak/f4b0daeca83f6144d019d7fbed2df330/untitled14.ipynb)

[2021-05-20 18:45] ruler501 commented on #47554
I'm seeing the same issue in TF 2.5.0 as well as TF nightly.

[2021-05-20 18:47] sachinprasadhs commented on #25830
@csakvarimate , I was able to run in  Tensorflow GPU version 2.4  successfully without any error by modifying code, please find the gist [here](https://colab.research.google.com/gist/sachinprasadhs/68467d5b386b4fc0819e5a88bda4c57b/25830.ipynb).

[2021-05-20 18:47] #25830 closed

[2021-05-20 19:15] sachinprasadhs commented on #26136
I didn't face any issue while running this code and by keeping ` _keep_checkpoint_max=1` in the example [here](https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/guide/estimator.ipynb#scrollTo=oGFY5nW_B3YU).

[2021-05-20 19:31] sachinprasadhs commented on #26179
@malmaud , you can mention seed inside shuffle to produce shuffled data between epochs. Please find the gist [here](https://colab.research.google.com/gist/sachinprasadhs/7285e92602be3455e8f60ca104c2b0f6/26179.ipynb) with the working code in Tensorflow 2.5.

[2021-05-20 19:32] #26179 closed

[2021-05-20 19:34] scarrazza commented on #48041
@nluehr thanks for the feedback. I will try to reproduce this issue, however so far with the latest 2.5.0 with CUDA 11.2, I am not able to reproduce the crash anymore.

[2021-05-20 19:35] #49295 closed

[2021-05-20 19:38] berendjan opened #49389 "Show search results of old path underneath 404 sign for dead links"
A lot of old links to the Tensorflow documentation are now 404'ed. My suggestion would be that old link shows the 404 and also search results on tensorflow.org for the path. For example [https://www.tensorflow.org/deploy/distributed](https://www.tensorflow.org/deploy/distributed) should show the search results for [deploy distributed](https://www.tensorflow.org/s/results/?q=deploy%20distributed) u

[2021-05-20 19:43] suraj-maniyar commented on #49266
@thaink
I moved my definition of Interpreter and flat-buffer model inside individual processes and now everything works perfectly! Thanks for your help.

I did notice that when I use flex delegate, the total number of thread goes up to 62 but without flex, it is close to 4. Is there a way to suppress number of threads to 1 when using flex delegate?

[2021-05-20 19:48] sachinprasadhs commented on #26302
@dynamicwebpaige , you can convert Tensor to Numpy and then perform slicing like below.
import tensorflow as tf
[code]

Also you can perform Tensor slicing like numpy using [tf.slice ](https://www.tensorflow.org/guide/tensor_slicing#extract_tensor_slices)
[code]
Please find the gist [here](https://colab.research.google.com/gist/sachinprasadhs/e2f55aa1b91c9831680c7a3681044114/26302.ipynb).

[2021-05-20 19:48] #26302 closed

[2021-05-20 20:02] bhack commented on #27896
Ok the issue is that in the `LinearClassifier` the inits are `tf.keras.initializers.zeros()` so we don't have any seed effects:
https://github.com/tensorflow/estimator/blob/2248336960a2cc65d2b7d0b21aca76157ccd0e79/tensorflow_estimator/python/estimator/canned/linear.py#L1464-L1472

/cc @qlzh727 What we want to do?

[2021-05-20 20:34] karimnosseir commented on #49247
I am not sure about your setup, so to be able to know what's in your setup.
Can you try these steps using the [benchmark tool](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/benchmark)

Build the tool:
bazel build -c opt  --config=android_arm64  tensorflow/lite/tools/benchmark:benchmark_model

Push the tool:
adb push bazel-bin/tensorflow/lite/tools/benchmark/benchmark_m

[2021-05-20 20:35] Jordy-VL commented on #42741
Wow, such an easy fix! Thanks @marwan116

[2021-05-20 20:36] karimnosseir commented on #49258
Hi,

I think it's the SELinux polic "SELinux : avc: denied { find }"
Looks like in some system update they added policy to disabled access to the DSP.

If your device is rooted can you run
adb root
adb set enforce 0

then retry

Thanks

[2021-05-20 20:50] #36649 closed

[2021-05-20 21:27] adhitio-github commented on #26835
# SAVE MODEL
MODEL_BASE_PATH = "MODEL"
PROJECT_NAME = model_name
SAVE_MODEL_NAME = 'model.h5'
save_model_path = os.path.join(MODEL_BASE_PATH, PROJECT_NAME, SAVE_MODEL_NAME)
if os.path.exists(os.path.join(MODEL_BASE_PATH, PROJECT_NAME)) == False:
    os.makedirs(os.path.join(MODEL_BASE_PATH, PROJECT_NAME))

print('Saving Model At {}...'.format(save_model_path))
model.save(save_model_path,include_op

[2021-05-20 21:44] hawkinsp commented on #49136
Yes, it seems like we came up with the same fix. Thanks for the PR!

[2021-05-20 22:32] rthadur commented on #49258
cc @jvishnuvardhan

[2021-05-20 22:40] bhack commented on #49136
@hawkinsp Do you know where the generator is?

[2021-05-20 22:49] yyoon commented on #49293
The information you provided here is unfortunately too high-level for us to be able to provide any concrete suggestions. I do agree that `SEGV_ACCERR` suggests some kind of read/write race condition, but not sure.

Can you reduce this down to a smaller app where the crash issue can be reproduced?

[2021-05-20 23:16] Xpiee commented on #47554
According to this comment [link](https://github.com/tensorflow/tensorflow/issues/47479#issuecomment-815314034), it's just a warning.

[2021-05-20 23:50] thaink commented on #49266
As I know, the interpreter->SetNumThreads should work for Flex delegate as well.

[2021-05-21 00:16] suraj-maniyar commented on #49266
I tried this too. The number of threads was still 62.

[2021-05-21 00:34] hawkinsp commented on #49136
@bhack The generator is (was?) internal to Google. However, I think at this point we just manually update the BUILD file.

The BUILD file for LLVM is likely soon going to go away, in lieu of https://github.com/llvm/llvm-www/blob/main/proposals/LP0002-BazelBuildConfiguration.md

[2021-05-21 00:58] Kartik14 commented on #47166
Hi @tcervi I am also trying to build a shared tflite c library for x86 and ARM64. Using the fix you sent as a pull request, the build process gets completed successfully, But in the Release directory, only the .dll file generated(no .lib file). And the size of the .dll file is also too small (180 KB).

I see that in one of the [comment ](https://github.com/tensorflow/tensorflow/issues/47166#issuec

[2021-05-21 01:00] jvishnuvardhan commented on #36044
@fcarsten Looks like this was resolved. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/412bf7495d33e61fde09ee6736c01d83/tensorflow-issue-36044.ipynb).

Please verify once and close the issue if this was resolved for you. Thanks!

[2021-05-21 01:13] terryheo commented on #47166
@Kartik14 did you follow
https://www.tensorflow.org/lite/guide/build_cmake#build_tensorflow_lite_c_library ?

[2021-05-21 01:26] Kartik14 commented on #47166
Hi @terryheo Thanks for the quick response. I used slightly different commands, similar to @tcervi

1) First I changed the **CMakeLists.txt** file in **tensorflow\lite\c** according to the pull request [here](https://github.com/tensorflow/tensorflow/pull/49171)

2) Then I used the following two commands:

`cmake -A Win32 -DCMAKE_BUILD_TYPE=Release -S ..\tensorflow\lite\c -B .`
`cmake --build . --c

[2021-05-21 01:35] terryheo commented on #47166
@Kartik14
As showed in the https://www.tensorflow.org/lite/guide/build_cmake#build_tensorflow_lite_c_library
tensorflowlite_c.dll is the target binary you will use.
It doesn't generate lib file since it's difficult to use for 3rd party library dependency (without using CMake project).

Do you have any issue on using the dll file?

[2021-05-21 01:47] xiaomsky commented on #49372
@Saduf2019
now I use quantize_model or quantize_annotate_layer to do QAT for test model ,
but I found after do quantization ,  the min value of Relu op fake_quant node is not zero, and is it right ?
also every relu op fake_quant node min value is the same constant value.
will upload simple code followed.
please help to check. thanks.

//////////////////////////////////////////
import tensorflow as

[2021-05-21 01:48] multiverse-tf commented on #44369
No, the app doesn't support profiling metal operators. When "--enable_op_profiling=true", profiling events are emitted via tflite::Profiler APIs. However, the current GPU delegate implementation hasn't used such APIs to export profiling events.

@impjdi, could you shed some light on how to profile gpu delegate implementation itself? Many thanks!

[2021-05-21 01:58] fwz-fpga commented on #49367
Thanks very much. Does it mean ruy has a better performance than gemmlowp on arm platform?

[2021-05-21 02:01] FabianaFerreira opened #49453 "Completely different training results on TF 2.4.1 and 2.0.0"
Hi! How are you? Hope y'all good.

I have a very specific scenario and it would be awesome to have your input. I'm working on a project in which I've developed a training script using TF 2.4.1. Just to give you context, I used MobileNetV2 as the base model to feature extraction and just a Dense layer with one neuron, and, with time, it got necessary to have different base models so as to perform a

[2021-05-21 02:05] ConnyLamp commented on #47554
i'm facing this issue in tf 2.4.1

[2021-05-21 02:13] jvishnuvardhan commented on #36116
@Strateus  I updated your code for multiple outputs. It works as expected. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/75728eb4b473e3b9fb75983b6e34cbfa/untitled984.ipynb).  Thanks!

@Bidski Is this still an issue for you?  Also, please check [Functional API guide](https://www.tensorflow.org/guide/keras/functional) for detailed guide on multiple-inputs and mul

[2021-05-21 02:15] Kartik14 commented on #47166
@terryheo

I am using Visual Studio to build my other project (where I wish to use tflite). I am using steps described [here](https://docs.microsoft.com/en-us/cpp/build/walkthrough-creating-and-using-a-dynamic-link-library-cpp?view=msvc-160) to import the dll file in my project. But here they [add the lib file](https://docs.microsoft.com/en-us/cpp/build/walkthrough-creating-and-using-a-dynamic-lin

[2021-05-21 02:26] jiaojiaoYe commented on #49258
thanks for your reply. Yes, I also suspected to be a problem with the SELinux policy. But my deivce has not been rooted, I can not try to disable SELinux.

More vendors may update security patches in the future, this may affect more devices that use Hexagon delegate.  What can we do to reduce this phenomenon?

Looking forward to your reply， thanks.

[2021-05-21 02:32] multiverse-tf commented on #49367
I think so as RUY is supposed to replace gemmlowp. @talumbau, could you shed some light on this?

Note RUY is automatically enabled when building tflite library on Android.

[2021-05-21 02:36] 1173710201 commented on #49247
@karimnosseir Thanks for your answer! The logcat:
[code]
In android app(like image_classification),the incompatible version error occurs when i use custom libhexagon_nn_sekl and custom  libhexagon_interface.While i use  libhexagon_nn_skel provided by tflite and custom  libhexagon_interface,this error will not happen.
As the logcat shows,no matter whar version of libhexagon_interface and libhexagon

[2021-05-21 02:54] mavenlin commented on #42606
I don't remember what was the exact scenario that I encounter this bug since it's been a long time.
Seems to be some dynamically shaped variable whose shape is determined dynamically, in my case it is the newly allocated weights, which could be zero if no capacity increase is necessary.

[2021-05-21 03:09] DachuanZhao commented on #49227
Let me show you the difference between 2.4.1 and 2.5.0 :

2.4.1:
[code]
2.5.0 :
[code]
In 2.4.1 , no matter what ```patience``` is, the training will reach the second epoch . But in 2.5.0 , when ```patience = 0``` , the training will stop the first epoch .

[2021-05-21 03:20] tcervi commented on #47166
Hi @Kartik14

I was not using Visual Studio, only building my library windows version with a combination of MSVC and CMake. And yes I used the built DLL (x86 release) along with my library and for my use it worked fine (model inferences).
Using the PR code I was able to build both .lib and .dll.

Previously, when I was building from commit [bf15757](https://github.com/tensorflow/tensorflow/commit/

[2021-05-21 03:23] Nytish commented on #49366
Steps
1.Installed lapack on system
2. Try to run my Python code
3. Got this error as shown above

[2021-05-21 03:55] SunAriesCN commented on #44790
Hi,  @karimnosseir
Just test the new tensorflow version, 2.5, also got that error.
[code]

[2021-05-21 04:03] cataluna84 commented on #43947
Folks, please refer to the [CUDA Toolkit Major Component Versions](https://docs.nvidia.com/cuda/archive/11.3.0/cuda-toolkit-release-notes/index.html#cuda-major-component-versions) of the specific CUDA version you are using. I have played around with [CUDA 11.0](https://docs.nvidia.com/cuda/archive/11.0/cuda-toolkit-release-notes/index.html#cuda-major-component-versions), and it has issues importin

[2021-05-21 04:53] Saduf2019 commented on #49389
@berendjan
Thank you for reporting the issue, we will fix this at the earliest.

[2021-05-21 05:06] NADA87 commented on #41552
Installing tensorflow version 2.5.0 will solve the problem

! pip install tensorflow==2.5.0

[2021-05-21 05:36] abhi9rocks commented on #46575
Still getting the same error even after migrating to tf 2 , did anyone find any solution? Please help! Tensorflow==2.4.1 tensorflow-gpu==2.4.1
![2021-05-21](https://user-images.githubusercontent.com/48823353/119087249-789bd680-ba24-11eb-8f42-443f25927e63.png)

[2021-05-21 05:40] abhi9rocks commented on #46575
Still getting the same error even after migrating to tf 2 , did anyone find any solution? Please help !!!!
tensorflow==2.4.1
tensorflow-gpu==2.4.1
![2021-05-21 (1)](https://user-images.githubusercontent.com/48823353/119087558-f19b2e00-ba24-11eb-9f8e-179bc25508d9.png)

[2021-05-21 05:45] drkhan107 opened #49455 "Colab doesnt use GPU despite connected to GPU runtime"
My code worked well with GPU in Colab a few days ago. But today it was very slow. After checking the availability of GPU fI found out GPU isn't getting used despite connected to one.

[2021-05-21 05:56] thaink commented on #49266
@abattery Do you have more insight about the number of threads?

[2021-05-21 06:04] UsharaniPagadala commented on #49455
@drkhan107
Colab offers optional accelerated compute environments, including GPU and TPU. Executing code in a GPU or TPU runtime does not automatically mean that the GPU or TPU is being utilized. To avoid hitting your GPU usage limits, we recommend switching to a standard runtime if you are not utilizing the GPU. Choose Runtime > Change Runtime Type and set Hardware Accelerator to None.For more in

[2021-05-21 06:15] Saduf2019 commented on #41552
@jclaessens97
As the issue does not appear on tf 2.5, could you please upgrade and let us know.

[2021-05-21 07:29] MrinalTyagi commented on #49378
[code]

On running the provided test case, following output is produced.  Could this be a issue due to the lambda function. Also i think the switch statement is processing 3 cases due to multiple lambda.

[2021-05-21 07:29] Saduf2019 commented on #49377
@harishsureit
This has already been reported and worked upon, you may refer to these issues and pr on similar error. [#47815, #45575, #48393]

I also came across a comment that says upgrading to 2.4.1, resolves the issue, please refer to the [comment here](https://github.com/tensorflow/tensorflow/issues/47832#issuecomment-800163367), and let us know by upgrading.

[2021-05-21 07:32] rmothukuru commented on #28143
@foxik ,
The code could be run successfully when executed with **`Tensorflow Version 2.4.1`**. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/6eed6a584bc9eba2fbe801a2f2d81c1a/gh_28143.ipynb) of the working code. Thanks!

[2021-05-21 07:47] patriklaurell commented on #45695
With the merge of #47446 this issue is fixed.

[2021-05-21 07:47] #45695 closed

[2021-05-21 08:13] foxik commented on #28143
@rmothukuru It seems (see also #33260 and especially comment https://github.com/tensorflow/tensorflow/issues/33260#issuecomment-609114823) that the semantics of masking changed since TF 2.0.0beta (since commit https://github.com/tensorflow/tensorflow/commit/8c65ee1de5ebcb85485cb0f7e5bc008134a394e7).

Therefore, I am closing this issue, it is enough to track the problem in #33260. But given that th

[2021-05-21 08:13] #28143 closed

[2021-05-21 08:43] mimxrt commented on #37093
@marwan116 It has been a long time but I think this was the code snippet that mitigated this issue:

[code]

Note the commented-out parts that were replaced from the original MWE. IIRC the solution was to read bigger chunks at once instead of "line by line" (using `parse_example` instead of `parse_single_example` with the concept _batch_ -> _read_ -> _unbatch_). Hope that helps!

[2021-05-21 08:49] sroener opened #49456 "tf.io.serialize_tensor/parse_tensor: ValueError: as_list() is not defined on an unknown TensorShape in model training"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
yes

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Systems are: Ubuntu 20.04.2 LTS; Google Colab

- TensorFlow installed from (source or binary):
Installed from conda (Ubuntu), preinstalled (Colab)

- TensorFlow version (use command below):
Tensorflow v2.4.1

- Pyth

[2021-05-21 08:50] #48478 closed

[2021-05-21 09:06] sachinprasadhs commented on #26842
Was able to reproduce the error in Tensorflow 2.5, please find the gist [here](https://colab.research.google.com/gist/sachinprasadhs/27082cbbdeac4a85d13bf99439d03137/26842.ipynb).

[2021-05-21 09:14] Anuj040 commented on #49162
Any updates/recommendations?

[2021-05-21 09:21] tilakrayal commented on #49453
@FabianaFerreira,

This issue is not a TensorFlow bug or feature request, it is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a larger community that reads questions there.

Thanks!

[2021-05-21 09:28] tilakrayal commented on #49366
@Nytish,

We see that you are using tf version 1.0, 1.x is not actively supported, please update to 2.x and let us know if you are using same issue.

Also looks like your numpy installation is broken. Numpy appears installed by linked incorrectly to lapack.
Thanks!

[2021-05-21 09:33] LIFEPANTS commented on #32180
this issue is partially back in the latest latest nightly and the official tf2.5.0
it works in nightly 2.5.0-dev20210307

When doing a straight conversion to tflite it works as expected, with input and output naming carried over as it should

But when quantizing a model through converter.optimizations = [tf.lite.Optimize.DEFAULT]
the signature is empty

[2021-05-21 09:55] ToonTalk opened #49457 "404 from https://www.tensorflow.org/get_started/embedding_viz"
This is the link from http://projector.tensorflow.org/ to "Open documentation" (the circle with a question mark inside)

[2021-05-21 10:19] sachinprasadhs commented on #27537
Was able to reproduce the issue in Tensorflow 2.5, please find the gist [here](https://colab.research.google.com/gist/sachinprasadhs/18bb9100a51813086b6a434a9731b1a8/27537.ipynb).

[2021-05-21 10:30] foxik commented on #4814
@rmothukuru With TF 2, this can be now closed (the `tf.keras.metrics` are resettable).

[2021-05-21 10:37] sachinprasadhs commented on #27662
@junwan01 , It seems that in the [StackOverflow](https://stackoverflow.com/questions/55422537/) question you have given, issue is resolved, can we go ahead and close this issue?

[2021-05-21 10:41] segestic commented on #35909
The solution is  found here
https://stackoverflow.com/questions/61699140/oserror-savedmodel-file-does-not-exist-at-dnn-mpg-model-h5-saved-model-pbt

import os
whatever = load_model(os.path.join("./dnn/","mpg_model.h5"))

Note. - single dot not double before the slash"/"

[2021-05-21 10:50] #48879 closed

[2021-05-21 10:59] FabianaFerreira commented on #49453
Thank you so much, @tilakrayal and sorry for posting on the wrong community channel! I'm closing the issue.

[2021-05-21 10:59] #49453 closed

[2021-05-21 11:02] vishalkumar00 opened #49458 "Process finished with exit code 132 (interrupted by signal 4: SIGILL) on apple m1"
print("hello")
import tensorflow
print("hello")
It only prints hello before importing TensorFlow running inside the PyCharm IDE and then python stop working. How can I solve this problem?

Versions:

Python version 3.6
TensorFlow version 2.5.0
IDE PyCharm
OS Mac M1 chip
![code image](https://user-images.githubusercontent.com/72116944/119127546-1659ca80-ba52-11eb-8881-98384fe206e2.jpeg)

[2021-05-21 11:02] #49458 closed

[2021-05-21 11:10] Nytish commented on #49366
How to upgrade tf to 2.x

Numpy version 1.17.4 i installed

On Fri, May 21, 2021, 2:58 PM tilakrayal ***@***.***> wrote:

[2021-05-21 11:20] tilakrayal commented on #49457
@ToonTalk ,

We see that the issue template has not been filled, could you please fill the [template](https://github.com/tensorflow/tensorflow/issues/new/choose).

Thanks!

[2021-05-21 11:34] Saduf2019 commented on #49373
@prikmm
In the colab gist shared can you please use Runtime>Change Runtime>gpu and let us know if it helps.