[2019-03-03 18:07] henrysky commented on #25636
I follow the instruction to use official python builds  instead of conda in a VM.

For python 3.6 and 3.7 I have tested, the error still the same when using numpy 1.15, but gone when using numpy 1.16

[2019-03-03 18:52] Chk-rocks commented on #26299
I tried to convert data into ndarray still getting the same issue. Using below code

 print(type(image_data))
 image_data_ndarry = np.fromstring(image_data, dtype=np.uint8)
 print(type(image_data_ndarry))
 image = self._sess.run([self._decode_jpeg], feed_dict={self._decode_jpeg_data: image_data_ndarry})

When I print the type I am getting **<class 'numpy.ndarray'>** Still tf is not accepting the d

[2019-03-03 19:05] Zaxa13 opened #26300 "Random Uniform Not Supported for TFlite Conversion"
**System **information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): tf-nightly 1.14.1

**Describe the Problem**
Trying to convert frozen tensorflow model to .tflite so I can use it on my android phone, but conversion fails due to RandomUniform OP being unsupported.

[code]

**Any other info / logs**

Toco command used

tf

[2019-03-03 19:39] coderbhupendra commented on #13148
@alexgkendall Did you get any better solution to above problem. I am working on Reinforcement learning. and try to apply RL on Gym atari game, where dataset keeps changing as I play. Basically, I store last 50000 game frames and then I select 32 frames randomly for training. But in the case of "tf.data.from_tensor_slices(myimagedataset)", myimagedataset keeps updating/changing on each step. so wha

[2019-03-03 19:47] Garfield2013 commented on #26298
It solved it like this:

1. Uninstalled CUDA 10.1
2. Restarted
3. Installed CUDA 10.0

Thats it! :)

/Cheers peps!

[2019-03-03 19:47] #26298 closed

[2019-03-03 19:51] yongtang commented on #13148
@coderbhupendra Are you looking for have a video input with frames coming in with FIFO buffering of 50000 frames (sliding window), and randomly select 32 out of the 50000 frames window?

[2019-03-03 19:54] guptaarchit-ag commented on #23683
I think the issue still persists. I have exactly the same output as sjkim04. Is there any update regarding fix on this issue?

[issue_tensorflow.txt](https://github.com/tensorflow/tensorflow/files/2923598/issue_tensorflow.txt)

[2019-03-03 19:57] coderbhupendra commented on #13148
@yongtang Yes you can think it in that way.

[2019-03-03 20:01] mazar commented on #26150
This may be a problem with CUDA 10.1 libraries being stored differently in compare to 10.0. To build tag v1.13.1 with CUDA 10.1, I created some symlinks to allow the build to start:

[code]

Then entered CUDA version 10.1 and CuDNN version 7.5.0 during configure.
Unfortunately I got to some other problem which is explained in [26155](https://github.com/tensorflow/tensorflow/issues/26155).

[2019-03-03 20:37] yongtang commented on #13148
In `tensorflow/io` you could read video files (needs FFmpeg library install) as a dataset. Then I think you could do some additional operations to achieve the effort you want. Maybe you could take a look and give it a try?
Repo: https://github.com/tensorflow/io
Google Group: https://groups.google.com/a/tensorflow.org/forum/#!forum/io

[2019-03-03 20:43] coderbhupendra commented on #13148
@yongtang Thanks for helping me. But my dataset is not video. Its a game environment. My agent plays game and stores the frame (so its basically a 84*84 image). And I keep adding frames as I play and delete older frames from the buffer. So at each step I play I add a new frame and delete one old frame and randomly select 32 frames for training.  I hope I am not confusing you.

[2019-03-03 20:52] gunan commented on #26198
I think many errors I see are due to configure script not being run properly, I know for sure that "REPOSITORY_NAME" issue is due to that.

Moreover, I think your bazel version may be too new. For 1.12, we used 0.15 to build the branch.
https://www.tensorflow.org/install/source#linux
And I think 0.22 is not even tested with 1.13 yet.

[2019-03-03 20:57] yongtang commented on #13148
@coderbhupendra Implementation wise that should be possible. Essentially it is a streaming data as input (with frames in). Internally, the class will keep a circular buffer (FIFO) to keep only 50000 frames and drops old frames as new frames in. Each batch will randomly select 32 frames from the circular buffer (of 50000) as the output.

As @mrry mentioned this is unlikely to be supported in `tf.da

[2019-03-03 21:40] Supergitter123 commented on #25984
I tried it today but ended up with the same error:

Traceback (most recent call last):
  File "C:\Users\Mr.Jones\AppData\Local\Programs\Python\Python36\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\Mr.Jones\AppData\Local\Programs\Python\Python36\lib\site-packages\tensorflow\python\pywr

[2019-03-03 23:27] dynamicwebpaige opened #26302 "[TF 2.0] StridedSlice issue with empty slice."
Empty arrays cause TypeErrors with `StridedSlice`. A one-liner to reproduce would be:

[code]

Which returns:

[code]

The numpy equivalent:

[code]

works as expected.

[2019-03-03 23:47] wm901115nwpu commented on #26273
I install a cpu version.

[2019-03-03 23:48] wm901115nwpu commented on #26273
I completely result in from numpy version, when I upgrade numpy version 1.16, it works.

[2019-03-03 23:56] yongtang commented on #26247
@combacsa Do you have a small sample file with `JUNK` chunk? I can help create a fix if there is a sample file I could verify.

[2019-03-04 00:19] dynamicwebpaige opened #26303 "[TF 2.0] Support for TFGAN."
[TFGAN](https://www.tensorflow.org/api_docs/python/tf/contrib/gan) is a popular lightweight library for training and evaluating GANs. In addition to providing the infrastructure for easily training and evaluating GANS, this library contains modules for a TFGAN-backed Estimator, evaluation metrics, features (such as virtual batch normalization), and losses.

The purpose of this feature request woul

[2019-03-04 00:49] pbcubes opened #26304 "Trouble Importing TensorFlow"
**System information**
- Windows 10 Home

- TensorFlow installed from (source or binary): binary
- TensorFlow version: 1.13.1
- Python version: 3.6.0
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version:
- GPU model and memory:

**Describe the problem**
I installed python 3.6.0 to make sur

[2019-03-04 01:00] rajathpatel23 opened #26305 "ValueError: as_list() is not defined on an unknown TensorShape."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):yes
- OS Platfo

[2019-03-04 01:00] greaber opened #26306 "tf.python no longer available in 1.13.1?"
Sorry if this is not exactly a documentation bug, but it is, for us, a big change in 1.13.1 that is not addressed in the release notes.

I realize that tf.python was never part of the public API, but it used to be available, and after upgrading from 1.12, it isn't any longer.  The reason we need it is that it is heavily used internally by tensorflow code, and occasionally we need to "vendor" some

[2019-03-04 01:03] rajathpatel23 commented on #26305
My issue has been address in the issue [4588](https://github.com/tensorflow/tensorflow/issues/4588), however the solution is not very clear, hence reopening a new issue here

[2019-03-04 02:07] beniroquai commented on #17328
Is there anybody who tried that on Android? I've seen this piece: https://tebesu.github.io/posts/Training-a-TensorFlow-graph-in-C++-API and here https://github.com/chelexa/tensorflow-on-android

Is Androids Tensorflow Lite capable to do the training job and if so how?

Help much appreciated!

[2019-03-04 02:13] mingyr opened #26307 "Inconsistent encoding leads to AttributeError"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): N/A
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Red Hat 7.5
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): compiled from source
- TensorFlow version (use command be

[2019-03-04 03:07] Shashankjain12 commented on #25366
Hey @dynamicwebpaige can i know about any specific functions which needs some docs!?

[2019-03-04 03:16] Shashankjain12 commented on #23798
Is this issue not assigned. Can i work on this!?

[2019-03-04 03:22] shivam13juna commented on #23798
Yeah go ahead pal, I'm not working on this.

[2019-03-04 03:22] tianq01 commented on #26200
@ebrevdo thanks for response!
the PR was introduced in tf 1.5? but the problem happens on tf 1.4 already...

[2019-03-04 03:27] Shashankjain12 commented on #26270
Can i also work on updation of docs for tf.custom_gradient !?

[2019-03-04 04:11] zerychao commented on #22794
@parkerdu Savior! My system is running Python 3.7.1 on Windows 10 and my GPU is RTX 2080 Ti. All I did was downgrading CUDA from 10.1 to 10.0 and it now works. But I'm a little confused with what you mean by

since there is a version of cuDNN released on Feb 25, 2019 according to [https://developer.nvidia.com/rdp/cudnn-download](url) . It doesn't work with the latest version of TensorFlow installe

[2019-03-04 04:31] anamozov commented on #25239
@jdduke Sorry for late reply. This is a BUILD ERROR.
The problem is when I build tensorflow demo using bazel with following command **bazel build --cxxopt='--std=c++11' -c opt //tensorflow/examples/android:tensorflow_demo** in terminal, it succeed, but when I try to build using Android Studio it shows following error in tensorflow/tensorflow/java/src/main/java/org/tensorflow/op/core/Zeros.java fil

[2019-03-04 04:39] #25238 closed

[2019-03-04 04:58] cogmeta commented on #14456
I have followed all the instructions carefully here https://www.tensorflow.org/install/lang_java but i am still getting

java -cp libtensorflow-1.12.0.jar;. -Djava.library.path=jni HelloTensorFlow
Exception in thread "main" java.lang.UnsatisfiedLinkError: Cannot find TensorFlow native library for OS: windows, architecture: x86_64. See https://github.com/tensorflow/tensorflow/tree/master/tensorflow

[2019-03-04 05:03] cogmeta commented on #14456
What version of tensorflow have people tried successfully on windows?

[2019-03-04 05:14] cogmeta commented on #14456
Starting ChromeDriver 2.46.628402 (536cd7adbad73a3783fdc2cab92ab2ba7ec361e1) on port 48819
Only local connections are allowed.
Please protect ports used by ChromeDriver and related test frameworks to prevent access by malicious code.
Mar 04, 2019 10:43:03 AM org.openqa.selenium.remote.ProtocolHandshake createSession
INFO: Detected dialect: OSS
Exception in thread "Thread-4" java.lang.UnsatisfiedLi

[2019-03-04 05:34] mehdi-beng opened #26309 "tf.Data Pipeline using interleave starts fast then becomes extremely slow"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 7
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command bel

[2019-03-04 05:56] tika64208 commented on #25480
Have you solved your problem？

 a similar problem  puzzle me

`#include <stdio.h>
#include <stdlib.h>
#include <string.h>
#include "c_api.h"

#define STB_IMAGE_IMPLEMENTATION
#include "stb_image.h"

TF_Buffer* read_file(const char* file);
void free_buffer(void* data, size_t length) { free(data); }
void deallocator(void* ptr, size_t len, void* arg) { free((void*)ptr); }

TF_Buffer* read_file(const

[2019-03-04 06:02] oscarriddle commented on #26201
@gunan Yes, I did. And bazel clean in prior to configuration. I tried again and confirmed the problem.

[2019-03-04 06:23] Ayush517 commented on #25794
@dynamicwebpaige Can I please work on this?

[2019-03-04 06:30] xuefengxiaoyang opened #26310 "Trained model inference on GPU of nvidia TX2 get poor result even error result"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-03-04 06:36] Shashankjain12 commented on #23798
Ok thanks @shivam13juna .. can i get assigned to this @karmel

[2019-03-04 06:51] oscarriddle commented on #26201
I tried to change --config=opt --config=cuda to -c opt and -c cuda, then get this:
[code]

Then I removed the --config=cuda, and it started compiling.
So the new procedure is better to be updated in the releases site, I recommend.

[2019-03-04 06:54] oscarriddle commented on #26201
Then I encountered new error:
[code]

[2019-03-04 07:02] Shashankjain12 commented on #23798
By the way i was looking in the docs and this particular  `tf.estimator.export.ServingInputReceiver`
is deprecated in tensorflow v2.0 do we need to work on this issue any more or this issue still open?

[2019-03-04 07:32] vgg4resnet commented on #26300
yes，i have been seeking for a solution  for the  unsupported RandomUniform  ops these days，when  it can be solved

[2019-03-04 08:07] hsgkim commented on #10289
I used bazel 0.21 for TF 1.13.1, and I had to add `--noincompatible_strict_action_env` as well.

[2019-03-04 08:11] ageron opened #26311 "tf.function creates a new concrete function multiple times for the same inputs"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platf

[2019-03-04 08:32] dynamicwebpaige commented on #23798
😁 Thanks for your interest in helping improve the docs! And you're right -  `tf.estimator.export.ServingInputReceiver` will be deprecated in TF 2.0. Closing out this issue.

[2019-03-04 08:36] dynamicwebpaige commented on #25794
@Rajiv2605 @Ayush517 - Absolutely! Any contributions that improve our API docs are extremely welcome. 😊

[2019-03-04 08:45] byronyi commented on #22455
@hgadig I believe this has been fixed. Could you close this issue?

[2019-03-04 08:48] byronyi commented on #23618
@wt-huang I believe this issue has been fixed. Could you close this?

[2019-03-04 08:50] zuqiutxy commented on #19014
@WindQAQ  hi,dou u successfully use parvizp's script,could you tell me which version of tensorflow do you ues. I use parvizp's script, it also occured the error"lacking min and max information for depthwise/Relu6"

[2019-03-04 08:58] Oktai15 commented on #22555
@wt-huang any update about this? Why did you close the issue?

[2019-03-04 09:04] SumNeuron commented on #14181
I ran into this issue when I tried to run a bunch of experiments. So I tried calling `gc.collect()` manually with `sess.close()` and printing out `resource.getrusage(resource.RUSAGE_SELF).ru_maxrss` it just keeps increasing...

[2019-03-04 09:08] ssstuvz commented on #22550
Still the same problem in 1.13.0-rc0.

[2019-03-04 09:17] herbakamil commented on #26093
@jdduke do you use at Google some internal compilers which behave differently from gcc on officially provided TF Docker images? That would explain why it passes within Google CI and it fails on TF docker image.

[2019-03-04 09:26] OtakuSenpai commented on #26198
Ok let me try with bazel 0.15

[2019-03-04 09:36] SumNeuron commented on #17048
@asimshankar I think there needs to be a way to get around this in the python instance. e.g. if I want to make a python script which consecutively runs several models with different params.

I have tried manually calling garbage collection but still resource usage increases:

[code]

If I can not free resource from python, then how should I launch a series of experiments?

[2019-03-04 09:37] wangjiangchuan opened #26313 "All mirrors are down: [GET returned 404 Not Found]"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):MacOS 10.13.6
- Mobile device (

[2019-03-04 09:40] wangjiangchuan commented on #26313
Actually I want to install tensorflow-gpu with version higher than 1.2 for my GPU, but I cannot do that by running conda or pip, the only way is to build one for myself, so please help me.

[2019-03-04 09:40] meyerjo commented on #24024
Having the same issue:
* CUDA 10.0
* Ubuntu 16.04
* GPU Nvidia TITAN
* Tensorflow version: 2.0.0-dev20190225

The fix mentioned above seems to work.

[2019-03-04 09:45] Ayush517 commented on #25794
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/AggregationMethod
While opening the link on this page, I am getting redirected to https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/gradients_util.py which is the correct link mentioned in the issue. It's working fine I think.

[2019-03-04 09:48] rsarm commented on #26253
Found the problem. My installation of `h5py`, which is a dependency of `keras_applications`, seemed to have been corrupted. Reinstalling it solved the issue. Sorry for the misunderstanding.

[2019-03-04 09:57] Ayush517 commented on #26292
Hi! I have mentioned some links below. Can you please take a look at these.

TFLite code Repository : https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite
TFLite Website Guide : https://www.tensorflow.org/lite/overview
TFLite Github Guide : https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/guide/android.md

Is this what you were asking for?

[2019-03-04 10:01] herbakamil commented on #26097
@jianlijianli you've recently worked on this code. Is it tested on some internal Google compiler which behaves differently form gcc on official TF docker image?

[2019-03-04 10:04] wangjiangchuan commented on #26313
Sorry, it seems that I applied a unnecessary patch to the repository, after I checkout all the changes, I started to compile.

[2019-03-04 10:04] #26313 closed

[2019-03-04 10:06] ggdupont commented on #7653
Hi guys,
Not 100% sure it's relevant but I got the same error message on a clean AWS g3 instance booted with AWS ubuntu deeplearning AMI. nvidia-smi is working well and I can confirm the GPU is available in the right conda env where tensorflow is installed by default by calling:
`
from tensorflow.python.client import device_lib

def get_available_gpus():
    local_device_protos = device_lib.list_l

[2019-03-04 10:11] sahilbadyal commented on #26309
facing the same issue on distributed set up in r1.12 @mehdi-beng. CPU utilization and Global Steps/sec drop after some initial steps in my case.

[2019-03-04 10:13] Ayush517 commented on #26280
@arp95 What is the status of this issue? Is this still open?

[2019-03-04 10:18] ggdupont commented on #7653
On my end, reloading the conda environment used was the trick (probably similar to reboot since it has reloaded path and variable and such...)

[2019-03-04 10:21] Ayush517 commented on #26296
I think this might be an error caused because of MS Visual C++ 2015 Redistributable package. Try obtaining msvcp140.dll and placing it into a folder in PATH. Maybe that helps.
There is a similar closed issue : #14456

[2019-03-04 10:22] wangjiangchuan opened #26314 "output 'beam_search_ops_gpu.cu.pic.o' was not created"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.13.6
- Mobile device

[2019-03-04 10:23] wangjiangchuan commented on #26314
I still cannot compile successfully, so please offer me some help.

[2019-03-04 10:26] Ayush517 commented on #26284
@dynamicwebpaige Should I rename?

[2019-03-04 10:26] herbakamil opened #26315 "error: call of overloaded 'ResizeBilinearOpModel(<brace-enclosed initializer list>)' is ambiguous"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
-  OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04.5 LTS - docker i

[2019-03-04 10:28] herbakamil commented on #26315
@shashishekhar you've recently worked on this code. Is it tested on some internal Google compiler which behaves differently form gcc on official TF docker image?
If yes are there any plans to apply in the future compiler compatible with gcc?

[2019-03-04 10:32] sathyamoorthyrr commented on #14505
[code]

This results in,

[2019-03-04 10:38] lermag opened #26316 "TF crashes when tensor size is increased"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
- OS Platfo

[2019-03-04 10:38] cogmeta commented on #26296
I tried that. C++ 2015 Redistributable package is installed and msvcp140.dll  is on the path. It does nto resolve the issue. I have gone through every issue filed about tensorflow and windows. Nothing seems to resolve it.

[2019-03-04 10:46] hongyonggan commented on #26266
I have just solved this problem. I had a similar issue, It may be a problem caused by package conflicts.  .You can try this in your console:

`conda upgrade --all -y`

This command above can solve the following two questions.

**Issue 1：**
`>>> import pandas
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/hyg/soft/anaconda3/lib/python3.6/site-packages/pandas

[2019-03-04 10:54] Ayush517 commented on #26296
You are installing it for CPU Support Only or GPU Support?

[2019-03-04 11:04] cogmeta commented on #26296
just cpu. Following instructions from here https://www.tensorflow.org/install/lang_java

[2019-03-04 11:08] Ayush517 commented on #26304
This error signals a mismatch between protobuf and TensorFlow versions.

Take the following steps to fix this error:

Uninstall TensorFlow.
Uninstall protobuf (if protobuf is installed).
Reinstall TensorFlow, which will also install the correct protobuf dependency.

https://stackoverflow.com/questions/42006320/tensorflow-pip-installation-issue-cannot-import-name-descriptor

[2019-03-04 11:21] ghostplant opened #26318 "[FR] A better way instead of `while True: sess.run(..)`"
I'd like to make tensorflow as the inference backend, and there are quantities of inference inputs to handle.

Currently, tensorflow manages multiple inference inputs as different execution triggers of `sess.run`, e.g:

[code]

However, the throughput is very bad because every inference task will run through python runtime and also tensorflow scheduler, so I require something like this **directly*

[2019-03-04 11:27] janhartman opened #26319 "Training parameter in Keras models passed as None in 1.13"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary(pip)
- TensorFlow version (use command below): v1

[2019-03-04 11:32] Ayush517 commented on #26205
@Ekinkit Hi! I have mentioned some links below. Can you please take a look at these.

TFLite code Repository : https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite
TFLite Website Guide : https://www.tensorflow.org/lite/overview
TFLite Github Guide : https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/guide/android.md

As stated by @jvishnuvardhan , try postin

[2019-03-04 11:43] BorisMansencal commented on #26060
I have also checked the same code on Motorola Moto G6 with Android 8.0.0/API 26, and I have the same issue.

[2019-03-04 11:46] skiler07 commented on #26262
@jvishnuvardhan I shall spend some time to make it reproducible. With regards to the error logs, there are no logs. I get C level errors with no trace.

[2019-03-04 12:08] Kwander commented on #18652
Same issue with Cuda 9.0, tensorflow 1.12.0, cuDNN 7.4, Ubuntu 16.04, Titan V.

[2019-03-04 12:13] PK15946 commented on #25931
Hi, @karimnosseir

With tf-slim, the `ByteBuffer is not a valid flatbuffer model` no longer exist.

But a strange thing still persist.

If I use "same" padding, a inference of an image use converted tflite model takes about 0.7g ram on my computer;  If I use "reflect + 'valid'" padding, the same process takes 5g ram.

Here is the mini model:
[issue.tar.gz](https://github.com/tensorflow/tensorflow/

[2019-03-04 12:28] Ayush517 commented on #26197
@dynamicwebpaige Is this the file that we need to edit https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/api/generator/api_init_files.bzl ?
I read some other issues and found that .bzl are used for generating modules but I am not sure if this is the one.

[2019-03-04 12:36] parkerdu commented on #22794
you are right! I haven't see the latest version of cudnn. Thanks for your point.

[2019-03-04 12:36] parkerdu commented on #22794
you are right! I haven't see the latest version of cudnn. Thanks for your point.

[2019-03-04 12:53] #26205 closed

[2019-03-04 12:55] ZhangXiao96 commented on #24146
Hello, have you solved this issue yet?

[2019-03-04 13:09] ghostplant commented on #26318
`tf.loop_forever` might not be a valid TF_OP that decorates a compute graph, so I think this solution might be reasonable:

[code]

[2019-03-04 13:11] OtakuSenpai commented on #26198
Ok, on the same system with same everything, and using bazel 0.15 I'm getting this error:
[code]
Hope that helps.

[2019-03-04 13:13] ZhangXiao96 opened #26321 "LookupError: No gradient defined for operation 'MatrixLogarithm'"
**System information**
- OS Platform and Distribution :Linux Ununtu 14.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.13.1
- Python version: 3.6
- CUDA/cuDNN version: 10.0/7.4.2
- GPU model and memory: GeForce GTX 1080/ 8G

**Describe the current behavior**
There is no gradient defined for tf.linalg.logm(), therefore it could not be used in tr

[2019-03-04 13:32] issa-s-ayoub commented on #21223
Now I am facing the same problem with tensorflow-gpu 1.12 (Build from binaries) on windows 10 and cuda v9.0, GPU: GTX 1080 Ti.

[2019-03-04 13:51] #25751 closed

[2019-03-04 13:57] afsharshamsi commented on #10085
tf-nightly 1.14.1.dev20190304 has requirement protobuf>=3.6.1, but you'll have protobuf 3.0.0b2 which is incompatible.
tb-nightly 1.14.0a20190304 has requirement protobuf>=3.6.0, but you'll have protobuf 3.0.0b2 which is incompatible.
what should i do?

[2019-03-04 14:20] sahilbadyal commented on #26309
facing the same issue in my distributed implementation

[2019-03-04 14:25] eldar opened #26322 "[Bug]: tf.keras update_op for computing running mean and variance for BatchNorm causes an error"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
yes
- OS Platf

[2019-03-04 14:39] danecor commented on #26015
Note: I don't seem to have this problem in eager mode. At the moment my work-around is to implement the code in eager.

[2019-03-04 14:56] mattn commented on #22859
As you know, tensorflow is not only for python. Go use libtensorflow.so.

[2019-03-04 15:16] BornInWater commented on #26209
Thanks a lot mate!

[2019-03-04 15:27] cenh opened #26323 "Pruning example, ValueError: Could not find a checkpoint at: ."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-03-04 15:29] yongtang commented on #22455
@byronyi Thanks! Close the issue as it has been fixed.

[2019-03-04 15:29] #22455 closed

[2019-03-04 15:42] g7dhaliwal commented on #26266
Thanks for your reply. I updated the conda as per your suggestion. I am having the following error now

AttributeError: type object 'scipy.interpolate.interpnd.array' has no attribute '__reduce_cython__'

[2019-03-04 15:54] Mainak431 opened #26324 "tf.image.grayscale_to_rgb is not taking a grayscale image going into bugs"
*System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  ubuntu 16.04
- TensorFlow installed from (source or binary): pip installed
- TensorFlow version (use command below): 1.12
- Python version: 2.7

Code-
import tensorflow as tf
import matplotlib.pyplot
import matplotlib.pyplot as plt

fname = '/media/titan/ACER DATA/Mainak/ytfvideo/resized/Aaron_Eckhartimage_00001.jpg'

[2019-03-04 16:17] vadamoto commented on #15777
I get the same error  on Centos 7

[2019-03-04 16:18] gunan commented on #26198
[code]
Network issues?

[2019-03-04 16:24] alanhdu opened #26325 "[TF 2.0] Allow declaring dynamic tf.Variable shapes"
In the current TensorFlow 2.0 beta, `tf.Variables` inherits its shape from the initial value that it's provided:

[code]

But for some use-cases, I'd like to explicitly make the Variable have a dynamic (`None`) shape:

[code]

In the current beta, you can kind of do this via;
[code]
(xref https://github.com/tensorflow/community/pull/34#issuecomment-467690616)

But allowing you to explicitly annota

[2019-03-04 16:41] alextp commented on #26283
Why is having differently named variables a problem? With the tf v2 object-based checkpointing TF does not rely on variable names for anything (other than deprecated parameter server training).

[2019-03-04 16:50] Ayush517 commented on #25959
@RajeshThallam The link on the url seems to be working with the correct link.

[2019-03-04 16:53] alextp commented on #26244
@ezhulenev The presence of AnonymousVar here makes me think this is related to the arithmetic optimizer.

[2019-03-04 16:54] alextp commented on #23590
I'm reopening this as contributions welcome because we currently do not have the bandwidth to implement this ourselves but would be happy to review a pull request.

[2019-03-04 17:02] guillaumekln commented on #26283
Sorry I missed that.

So this is a non issue for V2 and I guess there is little motivation to change that for V1. Thanks!

[2019-03-04 17:02] #26283 closed

[2019-03-04 17:09] OtakuSenpai commented on #26198
No, my network is working fine. I even downloaded other >200 bazel packages plus some study videos later. Idk.
Maybe I could try to wget that host. But it's almost 11pm.  Maybe tomorrow.

[2019-03-04 17:12] alextp commented on #26143
I'd love to approve a PR adding this test. Feel like giving it a shot?

[2019-03-04 17:52] baslia commented on #23748
Hi,
I got the same issue, if the input is sparse then even when I apply the Dense layer I got an error.
That's too bad because to train a neural network, specifying sparse=True in the input layer makes the learning phase 5 times faster ...

Anyone has a solution for that ?

Thanks a lot.

[2019-03-04 18:16] ezhulenev commented on #26244
It's just the name auto-generated in https://github.com/tensorflow/tensorflow/blob/abdbe6ee3d81d22d70e0181cea2a3bb261f7c09f/tensorflow/core/framework/resource_mgr.cc#L48, I don't see any artifact of arithmetic optimizer in the variable name. I think it's just the problem with Keras graph.

[2019-03-04 18:25] frankchn commented on #26208
Can you show what `s.list_devices()` return? Also, in your original script, you are assigning tasks to `/job:worker/task:0/gpu:0`, however the [canonical TensorFlow device names](https://www.tensorflow.org/guide/using_gpu#using_multiple_gpus) for GPUs are in the format `/job:worker/task:0/device:gpu:0`, so that might be an issue as well.

[2019-03-04 18:30] jsimsa commented on #18302
The recommended approach is to used `tf.data.Dataset.window` to:

1) create a structure of windows (finite datasets) -- one for each component of the input structure
2) apply a map function that batches each window using the batching logic of your choice
3) flatten the output

Here is an example that applies padded batching to the first (dense) component and batching to the second (sparse) compone

[2019-03-04 18:36] alextp commented on #26244
@robieta can you take a look at this?

[2019-03-04 18:38] allenlavoie commented on #26293
@mdanatg would you mind triaging?

[2019-03-04 18:47] robieta commented on #26244
Sure, let me take a look.

[2019-03-04 18:53] jvishnuvardhan commented on #26253
Thanks! I am closing the issue as it was resolved. Please open a new ticket if you see similar issue again. Thanks!

[2019-03-04 18:53] #26253 closed

[2019-03-04 18:56] allenlavoie commented on #26311
Thank you for the report! There should be a fix landing any minute.

The `get_concrete_function` issue is different; feel free to file another issue if it's causing an issue (I think that's much less serious). Basically we treat TensorSpecs and opaque Python objects for caching purposes at the moment. We can treat them like Tensors, although we'd probably want to re-trace if the TensorSpec's `name

[2019-03-04 18:57] mdanatg commented on #26293
Thanks for the report! We're working on fixing this issue.

[2019-03-04 18:57] rishabhindoria commented on #21070
checkout the interleave doc part https://www.tensorflow.org/api_docs/python/tf/data/TFRecordDataset

[2019-03-04 18:57] #24002 closed

[2019-03-04 18:58] tensorflowbutler commented on #24002
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2019-03-04 19:04] rajathpatel23 commented on #24828
I am too facing the same issue, I believe the issue arises if we are trying to run the CNN model on CPU rather than on a GPU, it gives me an error if I am trying to run my model on a CPU , while it works fine on a GPU compilation. Would like to know if there is any work around.

[2019-03-04 19:11] impjdi commented on #26297
@anilsathyan7

Thanks for trying out the GPU delegate.

Can you provide a little bit more context in terms of timing, i.e. how many milliseconds/seconds was it before and after?

What kind of network are you using?  Specifically, are all ops supported?

Have you written a custom shader code to copy camera texture into SSBO, or are you just dumping CPU memory to SSBO by yourself?  If it's the forme

[2019-03-04 19:23] jvishnuvardhan commented on #26273
@wm901115nwpu Please check required packages [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/pip_package/setup.py). Please close if your issue was resolved. In future, double check version of required packages before you install TF through Anaconda. Thanks!

REQUIRED_PACKAGES = [
    'absl-py >= 0.7.0',
    'astor >= 0.6.0',
    'gast >= 0.2.0',
    'google_pasta >= 0.

[2019-03-04 19:26] jvishnuvardhan commented on #25636
@henrysky Please check required packages [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/pip_package/setup.py) for TF1.13.1. In future, double check version of required packages before you install TF through Anaconda. Thanks!

REQUIRED_PACKAGES = [
'absl-py >= 0.7.0',
'astor >= 0.6.0',
'gast >= 0.2.0',
'google_pasta >= 0.1.2',
'keras_applications >= 1.0.6',
'keras_prep

[2019-03-04 19:28] gunan commented on #26198
Bazel reports that it had difficulty downloading those specific links, so even if your network is working fine,  bazel is having problems with your network.

[2019-03-04 19:30] ymodak commented on #26288
@vrv @yaroslavvb Can you please take a look? Thanks!

[2019-03-04 19:35] jvishnuvardhan commented on #25468
@SmirnovKol Could you post entire commands you used?
Here are the commands that worked for me on Windows10

Creating Virtual Environment on your system
$ virtualenv -p python venv-tf
$ source venv-tf/bin/activate
$ pip install tensorflow-gpu
$ python
$ import tensorflow as tf
$ print(tf.__version__)
$ deactivate venv-tf

Please let me know how it progresses. Thanks!

[2019-03-04 19:39] ymodak commented on #26288
duplicate #1258

[2019-03-04 19:39] #26311 closed

[2019-03-04 19:40] jvishnuvardhan commented on #26249
@eugenmk Could you follow the suggestion listed by the users to resolve the issue. Some time it is better to build it freshly by uninstalling and reinstalling. If it was resolved, then please close the issue. Thanks!

[2019-03-04 19:45] robieta commented on #26244
It looks like what's happening is that the model weights are initialized inside of the `tf.device` context, but the RMSProp variables aren't. So when we try to call fit, the resultant variables are then (lazily) created and assigned to the default device: `gpu:0`. I still need to dig into why this only happens in 2.0 though.

[2019-03-04 19:47] vrv commented on #26288
That log statement appears to be a python log statement in saver.py, so the set_verbosity call should work.

INFO:tensorflow:hi

Maybe add some well-placed print statements to

https://github.com/tensorflow/tensorflow/blob/a3786f5d589a3b10f6152558dfb6f19070a6f30d/tensorflow/python/platform/tf_logging.py#L156

to figure out what the verbosity level is when that line is printed out, and see why it's

[2019-03-04 19:53] vrv commented on #26288
Also I can't seem to reproduce this in the latest version of TF on my Ubuntu-based machine:

INFO:tensorflow:Restoring parameters from /path....

(No INFO log is printed).

Perhaps this is fixed in a newer version of TF?

[2019-03-04 19:56] #25546 closed

[2019-03-04 20:00] jvishnuvardhan commented on #26182
@gian1312 That is strange. There is a guide on using gpu [here](https://www.tensorflow.org/guide/using_gpu). Using those instructions you can force TF to use a gpu. Some times it is better to uninstall and reinstall TF. Please let me know how it progresses. If the issue was resolved, please close the ticket. Thanks!

[2019-03-04 20:14] #24133 closed

[2019-03-04 20:14] #24374 closed

[2019-03-04 20:15] alextp commented on #23646
tensor_scatter_nd_add etc are differentiable, so this issue is fixed

[2019-03-04 20:15] #23646 closed

[2019-03-04 20:17] jvishnuvardhan commented on #26255
@Sawatdatta why do you want to force Keras to use compat.V1 modules? Thanks!

[2019-03-04 20:18] alextp commented on #22926
@frreiss we'll definitely accept a Go-only API to configure tensorflow.

[2019-03-04 20:20] alextp commented on #20402
Should be a small extension to the code in tf.tensor_scatter_add

[2019-03-04 20:21] ahatamiz commented on #23646
Thanks !

[2019-03-04 20:28] ppwwyyxx commented on #24800
`tf.tensor_scatter_update` seems to be a cleaner method.

[2019-03-04 20:54] henrysky commented on #25636
This is a clean windows 10 in VM. Using python instead of anaconda python

![image](https://user-images.githubusercontent.com/28623434/53762334-d7052a80-3e95-11e9-8aaa-8af054666c10.png)

[2019-03-04 21:06] alextp commented on #26085
The reason why you see the global step numbers out of sync is that there is no control dependency between the read of the variable in get_or_create_global_step and the increment to it in session.run. Because they are unordered tensorflow can either give you the old value or the new value; the tf2 implementastion of variables prefers to give you the value before update while the tf1 prefers to give

[2019-03-04 21:06] #26085 closed

[2019-03-04 21:20] ymodak commented on #25856
@jtressle Can we close this issue now, since you have found a workaround?

[2019-03-04 21:31] eddienewton commented on #25856
@ymodak yes we should be able to close it.  Thanks for circling back.

One suggestion could be to add a note to either https://www.tensorflow.org/guide/variables or https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/freeze_graph.py mentioning only global variables can be saved in a frozen graph?

Thoughts?

[2019-03-04 21:31] ymodak commented on #26305
The code snippet provided looks incomplete. In order to expedite the trouble-shooting process, please provide a minimal code snippet to reproduce the issue reported here. Thanks!

[2019-03-04 21:33] ymodak commented on #26177
@Nayana-ibm Is this still an issue? Did you get a chance to build TF again? Thanks!

[2019-03-04 21:33] jvishnuvardhan commented on #26266
Thank you for your post. We noticed you have not filled out the fields in the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. Are you getting the error d

[2019-03-04 21:37] YoussefShoeb commented on #26208
ok after changing from `/job:worker/task:0/gpu:0` to `/job:worker/task:0/device:GPU:0` there was no difference i still get the

and `s.list_devices()` returns `W tensorflow/core/distributed_runtime/rpc/grpc_session.cc:349] GrpcSession::ListDevices will initialize the session with an empty graph and other defaults because the session has not yet been created.
[_DeviceAttributes(/job:worker/replica:

[2019-03-04 21:37] jtressle commented on #25856
@ymodak yes we should be able to close it. Thanks for circling back.

One suggestion: can we add a note to https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/freeze_graph.py mentioning only global variables can be saved in a frozen graph?

Thanks!

[2019-03-04 21:44] chrisc36 opened #26331 "tf.gradients returns incorrect results if used multiple times on CudnnLSTM"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below):1.12.0
- Python version: 3.6.7
- Bazel version (if compiling from source): unknown
- GCC/Compiler ver

[2019-03-04 21:46] burnpanck commented on #3937
One year later and none the wiser... I again spent hours debugging a big hairy numeric algorithm with NaNs, this time apparently with `tf.metrics.accuracy` (I did verify/assert that all dimensions are positive)? Any news on how to more effectively debug NaNs? `add_check_numerics` is just useless this way, but would be very useful if there was a way for selectively silencing certain sub-trees. Unfo

[2019-03-04 21:52] RichardYang40148 commented on #15805
Hi, similar issue here: I've got the `tf.lite.experimental.nn.TFLiteLSTMCell` running with `tf.lite.experimental.nn.dynamic_rnn`, and resulting some unsupported ops error in the `tf.lite.TFLiteConverter`.
The error log shows: `Here is a list of operators for which you will need custom implementations: TensorListFromTensor, TensorListReserve, TensorListStack, While.`

[2019-03-04 22:00] ymodak commented on #25856
Great. Thanks for the suggestion. @allenlavoie

[2019-03-04 22:00] #25856 closed

[2019-03-04 22:00] NikolaMandic commented on #26294
would this work https://github.com/tensorflow/tensorflow/pull/26332/files

[2019-03-04 22:03] frankchn commented on #26208
Do you mean if you run it locally on the machine with the GPU you don't get the error?

Can you also try passing in a cluster_def when you create the session?

[code]

[2019-03-04 22:05] ymodak commented on #25984
Can you attach a screenshot showing environment variables to cuda path?
This issue is a duplicate of #26059 . Please take a look. Thanks!

[2019-03-04 22:06] jvishnuvardhan commented on #26200
@tianq01 Could you check whether the bug persists with TF2.0? Could you also check whether the issue is with docker env only? Thanks!

[2019-03-04 22:20] LGTrader opened #26333 "GPU Support build instructions suggest old Docker image"
**System information**
- Linux Ubuntu 18.04.2 LTS:
- TensorFlow installed from Docker image: 1.13.1-gpu-py3-jupyter
- TensorFlow version: Should be 1.13.1
- Python version: From Docker, appears to be 3.5.2
- Installed using pip: NA - don't get that far
- Bazel version (if compiling from source): Missing in docker image?
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version: cuda-

[2019-03-04 22:23] YoussefShoeb commented on #26208
Yes, if I run it locally on the machine with the GPU I don't get the error, also if I run the session remotely on the machine with the GPU using the CPU machine I don't get the error (using the ` tf.Session("grpc://remote.server.ip.address:port")` ), but if I start the session on the machine with only the CPU I get the error.

[2019-03-04 22:24] Cristy94 commented on #22794
After hours of installing different versions I finally managed to make it work, this is my final setup:

* Python 3.6.8
* Tensorflow 1.13
* CUDA 10
* cuDNN v7.5.0 (Feb 21, 2019), for CUDA 10.0

I tried with 10.1 but didn't work, switched to 10.0 and it finally worked.

[2019-03-04 22:34] yuefengz commented on #24505
You can now use `tf.distribute.MultiWorkerMirroredStrategy(communication=tf.distribute.experimental.CollectiveCommunication.NCCL`)` to try out our nccl implementation. Nccl is faster on some networks than our previous implementation but allocates extra memory buffers.

[2019-03-04 22:38] jvishnuvardhan commented on #26097
@herbakamil I am closing this as this is a duplicate of #26097. We will resolve in the other issue. Thanks!

[2019-03-04 22:38] #26097 closed

[2019-03-04 22:46] qlzh727 commented on #25895
I think the issue should be the fixed by the recent commit https://github.com/tensorflow/tensorflow/commit/391bee73641f1c23ef90cc40a9e8893f343c30fc. Can u try the same snippet with tf-nightly and see if it works?

[2019-03-04 22:47] petermattson commented on #24029
Hi mysymp, I'm not right person for one.

[2019-03-04 22:48] effiek9999 opened #26335 "error building on Windows 10: Python Configuration Error: Problem getting numpy include path."
- Windows 10
- TensorFlow installed from source following these instructions: https://www.tensorflow.org/install/source_windows
- TensorFlow version:
- Python version: 3.7 installed with Anaconda, in ../Anaconda3/python
- Bazel version (if compiling from source): 0.23.0
- CUDA/cuDNN version: 10.1/7
- GPU model and memory: Geoforce GTX 1080Ti

Running this command:

bazel build --config=opt --confi

[2019-03-04 22:56] jdduke commented on #26093
Our internal compiler version is different than that used in our Docker builds, yes. Feel free to propose a PR and I'd be happy to approve. Could you confirm which NDK version is used in the Docker builds?

[2019-03-04 23:00] albertz commented on #4820
I think this is still up-to-date.
See [here](https://github.com/rwth-i6/returnn/blob/a923504d7265214efb74ef67509db9ac72b84d1c/tests/test_TFUtil.py#L678) and [here](https://github.com/rwth-i6/returnn/blob/3f1e9a235e28f41e695686a345410f32e929a663/TFUtil.py#L4466). This test case still runs with latest TF, e.g. [here](https://travis-ci.org/rwth-i6/returnn/jobs/501581634).

[2019-03-04 23:21] jvishnuvardhan commented on #26304
@pbcubes Please follow @Ayush517 suggestion and the link also has couple of other solutions, if you like them. Please let me know how it progresses. Please close the issue if it was resolved. Thanks!

[2019-03-04 23:23] ymodak commented on #25947
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-03-04 23:23] #25947 closed

[2019-03-04 23:24] ymodak commented on #25848
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-03-04 23:24] #25848 closed

[2019-03-04 23:48] MarkDaoust commented on #26306
Hi @greaber,

Interesting, I don't see a `tf.python` in 1.12 either.

Anyway,  the module is still available.

Have you tried patching it in with something like this as the first lines in your program:

[code]

I bet that will get you unstuck.

[2019-03-04 23:48] #26306 closed

[2019-03-05 00:00] jvishnuvardhan commented on #26335
@effiek9999 What is the version number of tensorflow and numpy? Can you check the requirement of TF1.13.1 [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/pip_package/setup.py). TF1.13.1 was built against CUDA10. If you want to use CUDA 10.1, use latest version of TF and check whether CUDA and cuDNN are referencing correct paths. Best things is to install CUDA10 drivers

[2019-03-05 00:11] wangpengmit commented on #26325
Linking similar issue #26104

[2019-03-05 00:17] ppwwyyxx opened #26337 "Make weighted_cross_entropy_with_logits consistent with sigmoid_cross_entropy_with_logits in signature"
**System information**
- TensorFlow version (you are using): 1.13
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
Currently, the signature of the two functions are:
[code]
And
[code]

TF2.0 is a good chance to make them consistent in the naming.

**Will this change the current api? How?**
Yes.

**Who will benefit with this feature?**
Users

[2019-03-05 01:06] angersson commented on #26333
Hmm... those docs may be out of date; `nightly-devel-gpu-py3` is a legacy Docker image. `devel-gpu-py3` is the newer equivalent with `/tensorflow_src`. [Our Docker Hub page](https://hub.docker.com/r/tensorflow/tensorflow/) may help explain our available tags.

Ping @lamberta

[2019-03-05 01:16] Dexter2389 commented on #26303
@dynamicwebpaige I want to work on that!! How do I start??

[2019-03-05 01:40] fenglui commented on #26303
@Dexter2389 see https://github.com/zurutech/gans-from-theory-to-production

[2019-03-05 01:42] ageron commented on #26311
Thanks @allenlavoie . The TensorSpec thing is not a big deal, you're right, no need to file an issue if it doesn't break anything.

[2019-03-05 01:52] wjcskqygj2015 commented on #26289
Since based on [cublas issues](https://devtalk.nvidia.com/default/topic/1047981/cublas-for-10-1-is-missing/?offset=2 and) and [cublas new features](https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html#cublas-new-features). the cublas is in the seperate directory and therefore you may could use soft link to temporarily fix it.

[2019-03-05 01:55] lazysjb commented on #26143
I would be happy to give it a shot - I haven't contributed to TF before, would you have any pointers?
Also, would tensorflow/python/eager/backprop.py be the right place to make this change?

cc: @random-forests

[2019-03-05 01:55] LGTrader commented on #26333
OK, devel-gpu-py3 appears to have all the pieces I was looking for. I've pulled a copy of the image and have started a build using the commands on the old possibly out-of-date page. I'll report back tomorrow as to the results.

Thanks for the help and I need to learn about this ping thing going on here! :-)

[2019-03-05 02:07] YoussefShoeb commented on #26208
when i try to pass the cluster_def when I create the session I get this error
`tensorflow.python.framework.errors_impl.InvalidArgumentError: The ClusterSpec names the job and task index to be the same names that were provided when the server booted. This is currently not allowed. Job: ps, task index: 0`

[2019-03-05 02:16] byzhang commented on #21729
@hsm207 is it solved in the newer version?

[2019-03-05 02:28] neerajprad opened #26338 "CPU build error on OSX Mojave in hwloc dependency"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OSX - 10.14
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version: master branch
- Python version: Python 3.6
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source

[2019-03-05 02:31] oscarriddle opened #26339 "Build r1.12 from source with CUDA10.0 sucessfully, but still need CUDA9.0 when importing"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS7
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: None
- TensorFlow installed from (source or binary): source
- TensorFlow version: r1.12
- Python version: py3.6
- Installed using virtualenv? pip? conda?: source and pip
- Bazel version (if compiling from source):

[2019-03-05 02:32] chenjiaoAngel commented on #26292
ok, TFlite can support  ssd-mobilenet  model? And shufflenet, shuffle net-v1 model support in TFLite?

[2019-03-05 02:47] neerajprad commented on #26338
I also see another (different) error when I tried again, for the same dependency:

[code]

It seems suspect that is is trying to build `topology-linux.c`.

[2019-03-05 03:01] xilenteyex opened #26340 "Timeline not reporting compute times for some GPU ops"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-03-05 03:13] meiniangpp commented on #11236
@fferroni Is the problem solved? Is it the TF version that matters? Very interested in it.

[2019-03-05 03:47] ageron opened #26341 "A function decorated with tf.function cannot return a variable by reference"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
MacOSX 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
No
- TensorFlow installed from (source or binary):
Binary
- TensorFlow version (use command below):
tf.ve

[2019-03-05 03:53] maozezhong commented on #13103
@ebrevdo which parameter in DropoutWrapper support  recurrent weights dropout ?

[2019-03-05 03:55] Ayush517 commented on #26292
Ssd-mobilenet and Shufflenet-v2 are supported I think but I am not sure of Shufflenet-v1 in TFLite.
@jvishnuvardhan Can you please verify this. Thanks :)

[2019-03-05 04:01] devillove084 commented on #26289
I meet the same problem about cublas. Path `/usr/local/cuda/lib64`, does not include cublas library.

[2019-03-05 04:09] devillove084 commented on #26289
So, how to modify the code and complie the path for CUDA 10.1.

[2019-03-05 04:29] NiranjanAntany opened #26344 "How to retrain with custom object and get frozen_inference.pb model file with Tensorflow."
Hi,

I am working in a project for eye-lid detection. My eye-lid detection is based on landmark points in face. it uses tensor-flow library. i was stuck in a procedure how to retrain the algorithm with new data-set and generate frozen_inference.pb file. I have tried with procedure given in tensor-flow page but i cannot able to get frozen_inference.pb file. Please help me in the procedure how to re

[2019-03-05 05:08] jayfurmanek commented on #26242
#26220 is merged now. @Nayana-ibm , I see a successful build here:
https://ibmz-ci.osuosl.org/job/TensorFlow_IBMZ_CI/2154/

Should we close this one out?

[2019-03-05 05:31] jayfurmanek commented on #14934
By the way, the ppc64le docker images are published to:
https://hub.docker.com/r/ibmcom/tensorflow-ppc64le/

[2019-03-05 05:34] Nayana-ibm commented on #26242
Yes. Build is successful after #26220  commit.
Closing the issue.

Thanks @wdirons

[2019-03-05 05:34] #26242 closed

[2019-03-05 05:35] hyichao commented on #6072
Hi @robotnc @zhangyaobit

It's still confusing for me that how cudnn lstm put the weights.
My case is a layer of cudnn lstm with input 1024-dim feauture and hidden state size is 512.
The shape of cudnn lstm param matrix is  (512, 6152)

According to the previous comments, I notice that the order of gates are [I,F,C,O], but how is the order of weights and bias? [W W W W W W W W B B B B B B B B] or

[2019-03-05 05:35] oscarriddle commented on #26339
Solved by compile a new python3.6.8

[2019-03-05 05:35] #26339 closed

[2019-03-05 05:56] ParthS007 commented on #25826
@rohanmeh Is this Issue still exist?
I would like to fix this.

[2019-03-05 06:01] Sawatdatta commented on #26255
Since Keras cannot find the modules(used in my code) in the 2.0-preview, and I don't want to change my existing code.

[2019-03-05 06:06] maozezhong commented on #13103
in a word, Can I achieve DropoutConnect just through the DropoutWrapper?
DropoutConnect refers : https://arxiv.org/pdf/1512.05287.pdf

[2019-03-05 06:16] Bilal-Ahmed-Arain commented on #559
Hi Jasin.. Just write pip3 uninstall numpy.. It worked for me and the 2nd
error is due to reason that numpy's compatible version library is not
installed, when numpy will be imported after writing pip3 uninstall numpy,
you will recieve no error..

On Sun, Mar 3, 2019 at 7:03 PM jasinchandroth <notifications@github.com>
wrote:

[2019-03-05 06:20] TanCari opened #26346 "ref type problem merging simple graphs"
Hi guys, the following simple graph is compiled correctly on my computer:

graph_unique = tf.Graph()

with graph_unique.as_default():
    v = tf.get_variable(name='v', shape=[2], dtype=tf.float64)
    x = v[:1]
    y = v[1:]
    c = tf.add(x, y, name='c')
    gra = tf.gradients([c], [x])

When I try to write it as a stack of two graphs, though, I get an error.
I guess it is related with this post

[2019-03-05 06:22] maozezhong commented on #13103
@ebrevdo Can DropoutWrapper achieve DropConnect?
DropConnect is refered as  : http://yann.lecun.com/exdb/publis/pdf/wan-icml-13.pdf

[2019-03-05 06:22] TanCari commented on #26346
PS: Here above is just an attempt to obtain what I actually need.
Maybe there are better ways. Here under I describe my esential
goal.

Given the graph

with graph_small.as_default():
    v = tf.get_variable(name='v', shape=[2], dtype=tf.float64)
    x = tf.identity(v[:1], name='x')
    y = tf.identity(v[1:], name='y')

it is easy to build it up to the following one by simply adding
variables:

wi

[2019-03-05 06:59] kunakl07 commented on #26344
1)In order to train the TensorFlow model, we will need to two files — custom object Model files (.pb) and object names file (.pbtxt)
2)Inorder to train our model, we need to provide it with some training data. In our case, since we want it to detect eye-lid, we need to collect images of various tools. Make sure you collect a ton of images and you can also datasets online for this.
3)Once images ar

[2019-03-05 06:59] aravindchaluvadi opened #26347 "2019-03-05 12:24:39.106 18565-18583/org.tensorflow.lite.demo W/System.err: java.lang.ArrayIndexOutOfBoundsException: length=10; index=-2147483648"
When i run the tfLite demo app in my mobile I am getting the following error:

2019-03-05 12:24:39.106 18565-18583/org.tensorflow.lite.demo W/System.err: java.lang.ArrayIndexOutOfBoundsException: length=10; index=-2147483648

[2019-03-05 06:59] anujeet98 commented on #26344
hello Niranjan B,
are you working on tensorflow object detection api?
if so, add the new dataset with the old data, generate csv ,convert it to tfrecord
this command should begin the training process  Eg: python train.py --logtostderr --train_dir=training/ --pipeline_config_path=training/faster_rcnn_resnet101_coco.config

To generate inference graph Eg: python export_inference_graph.py --input_typ

[2019-03-05 07:03] aravindchaluvadi commented on #22278
ERROR : W/System.err: java.lang.ArrayIndexOutOfBoundsException: length=10; index=-2147483648

Even I am facing the same issue could you brief on the solution?

[2019-03-05 07:13] abhiboost opened #26348 "TF_CPP_MIN_LOG_LEVEL=3 does not work after upgrading to 1.13.1"
After upgrading to 1.13.1, the `TF_CPP_MIN_LOG_LEVEL` does not seem to work for certain warnings.
For example, I get the following warnings even if log level is set to 3:

[code]

[2019-03-05 07:29] theceday commented on #8244
@asimshankar, @karllessard
Could you please provide a basic example in which order we should put the data for FloatBuffer?

This one works, but causes wrong predictions.

`float[][][][] rawData = new float[BATCH_SIZE][IMAGE_WIDTH][IMAGE_HEIGHT][1];
..
..
return Tensor.create(rawData, Float.class);`

And there is a similar issue here, i guess:
https://github.com/tensorflow/tensorflow/issues/19359

[2019-03-05 08:00] dynamicwebpaige opened #26349 "[TF 2.0] Checkpoint breaking change for all optimizers."
**Type of breakage**: Breakage with changing code.

APIs that are affected:

1. [`tf.train.GradientDescentOptimizer`](https://www.tensorflow.org/api_docs/python/tf/train/GradientDescentOptimizer)
2. [`tf.train.MomentumOptimizer`](https://www.tensorflow.org/api_docs/python/tf/train/MomentumOptimizer)
3. [`tf.train.RMSPropOptimizer`](https://www.tensorflow.org/api_docs/python/tf/train/RMSPropOptimiz

[2019-03-05 08:07] dynamicwebpaige opened #26350 "[TF 2.0] Checkpoint breaking change for RNN."
**Type of breakage**: Breakage with changing code.

**APIs that are affected**:

1. [`tf.nn.dynamic_rnn`](https://www.tensorflow.org/api_docs/python/tf/nn/dynamic_rnn)
2. [`tf.nn.static_rnn`](https://www.tensorflow.org/api_docs/python/tf/nn/static_rnn)
3. [`tf.nn.bidirectional_dynamic_rnn`](https://www.tensorflow.org/api_docs/python/tf/nn/bidirectional_dynamic_rnn)
4. [`tf.nn.static_bidirectional_

[2019-03-05 08:13] kerwinxu opened #26352 "win10vc2017build failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (win10):
- TensorFlow installed from (source or binary): s

[2019-03-05 08:16] dynamicwebpaige opened #26353 "[TF 2.0] Provide a tool to convert checkpoints for optimizers, from TF 1.x to TF 2.0."
[Checkpoints will break with RNNs](https://github.com/tensorflow/tensorflow/issues/26350) and shared embedding columns, which is unfortunate but acceptable. For optimizers, though, [checkpoint breaking is a bit more extensive](https://github.com/tensorflow/tensorflow/issues/26349).

Ideally this feature request would result in a function or tool that could **take the old checkpoint and some inform

[2019-03-05 08:26] qwesdfok commented on #24816
I upgraded to 1.13.1 (from pip in python 3.6 & Windows 10). This problem still exists.
BUT it can be solved by move Activation Function to the place after tf.concat(buffer, 3)

`
for ks in ks_list:
buffer.append(tf.layers.conv2d(layer, 9, ks, 1, "same"))
layer = tf.concat(buffer, 3)
layer = activation(layer)
`

[2019-03-05 08:29] dynamicwebpaige commented on #26276
Added the tag `good first issue`, as well as `help wanted`, and will continue to populate! Thanks for the suggestion -- and please make sure to suggest in comments if you feel that an issue would be a good first project for a newcomer. :slightly_smiling_face:

[2019-03-05 08:29] #26276 closed

[2019-03-05 08:32] smit-hinsu commented on #23586
Closing this to no recent activity. Let us know if this is still an issue.

[2019-03-05 08:32] #23586 closed

[2019-03-05 08:42] mehdi-beng commented on #26309
@sahilbadyal Hope we can get some help. I have 750 Million inputs I want to train on. At this speed it will take months for 1 epoch.

[2019-03-05 08:45] mehdi-beng commented on #26309
@rohan100jain can you check this out if you have the time please. Thank you !!

[2019-03-05 09:01] ZhangXiao96 opened #26354 "Wrong outputs of "tensorflow.python.ops.distributions.util.fill_triangular_inverse""
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 14.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.13.1
- Python version: 3.6

**Describe the current behavior**
tensorflow.python.ops.distributions.util

[2019-03-05 09:06] #26037 closed

[2019-03-05 09:13] ghostplant commented on #26318
Using `tf.while_loop(0 < 1, ..)` might be a little ugly to understand, and it also requires to check the answer for each run of the body, which is not

so strongly suggest creating an OP named `tf.loop_forever()` not to wait and check the answer very time, and this is very necessary for GPU-based operator because we don't want to launch unnecessary kernels to do this meaningless check, or copy dev

[2019-03-05 09:31] #26354 closed

[2019-03-05 09:32] jerrychong25 commented on #23478
[Tensorflow 1.13.1](https://github.com/tensorflow/tensorflow/releases/tag/v1.13.1) now supports Python 3.7.

[2019-03-05 09:32] jerrychong25 commented on #20517
[Tensorflow 1.13.1](https://github.com/tensorflow/tensorflow/releases/tag/v1.13.1) now supports Python 3.7.

[2019-03-05 09:37] wookayin commented on #26309
I am doubtful this is a bug.

[code]

You are creating a new op into the graph **at every iteration**, that must be why it slows down. Store the initializer as `init_op`, for instance, and just execute it without re-creating new ops.

[2019-03-05 09:42] chrisfan918 commented on #26075
I figured I made a mistake during step of freezing graph. My network is based on slim's mobilenet_v2 which contains batch_norm operations. My checkpoints' meta is saved with graph where `is_training=True`. The output `pb` file skipped all `moving_mean` and `moving_variance` in batch_norm operations. Somehow the `tflite` file generated from this pb file yields different values.

My solution was to

[2019-03-05 09:50] Gonzalo933 commented on #26318
I think tensorflow doesn't have a break statement. So implementing an operation for which the only way of stopping it is by killing the process seems to go against a lot of principles.

I don't think the overhead of checking a simple condition like `tf.while_loop(True, ..)` is going to be noticeable.

[2019-03-05 10:00] aravindchaluvadi opened #26355 "running the tflite model with a video input?"
I want to give the  tflite object detection model an recorded video input instead of an live streaming video
is that possible?

[2019-03-05 10:05] alvaroslm commented on #26352
I tried vs 2017 too at first and I had to switch to 2015, which works ok. If I remember correctly nvcc was to blame. That was for TF 1.10, I'm now using 1.13 and vs 2015 still works ok.

[2019-03-05 10:11] eugenmk commented on #26249
I achieved the same error as @joshpencheon

    undefined reference to `clock_gettime'

For solving it, I needed to add ['-lrt'] at different locations of `tensorflow/tensorflow.bzl` file (not sure if all locations are required). Now it compiles, but the tests fails to compile with same link error. At least I can install the python package and import it. Still I have to check if it works properly.

[2019-03-05 10:17] naisy commented on #24828
I am using docker, ubuntu 16.04, cuda 10, cudnn 7.5.0, python 3.6.7.
When running ssd_mobilenet_v1 with tensorflow r1.12 built from source, the following problem occurred.
[code]
The reason was that host's nvidia driver version was old.
The solution is to install the latest nvidia driver.
[code]
My problem was solved.

[2019-03-05 10:30] alvaroslm opened #26356 "Low GPU usage for inference when multithreaded vs multiprocess c++"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 7 64-bit
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.1

[2019-03-05 10:34] ghostplant commented on #26318
@Gonzalo933 An ugly problem for `tf.while_loop(True, body, ..)` is there are output shape restriction among `cond`, `body` and `loop_vars`, and I have to output something from `body` for checking even if it is not needed, thus it doesn't support many existing ops while a ideal `tf.loop_forever` should be expected to support.

Just a example, `tf.group` it can be the final wrapper of train_op to ge

[2019-03-05 10:42] allendred opened #26357 "fatal error: tensorflow/cc/ops/array_ops.h"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-03-05 10:52] Niran89 opened #26359 "RAM memory issue in Xavier"
Hi,
I am currently working on an application which runs ssd mobilenet based Object detector in Nvidia AGX Xavier Developer kit, which is flashed with Jetpack 4.1.

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): LINUX UBUNTU 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy)

[2019-03-05 11:13] kl3eo commented on #6698
E tensorflow/stream_executor/cuda/cuda_dnn.cc:353] Could not create cudnn handle: CUDNN_STATUS_INTERNAL_ERROR

I had this issue with 10.1 Cuda+cuDNN7.5 and TF 1.11 compiled from source with cuda. The script I was trying to use needed these lines inserted somewhere:
`config = tf.ConfigProto()
    config.gpu_options.allow_growth = True`

and then later:
`sess = tf.Session(graph=detection_graph,confi

[2019-03-05 11:16] vladdxc commented on #18660
@azmikamis I tried what you mentioned it still throws the same error, namely:
`z_mean, z_log_var = args
SystemError: unknown opcode`

[2019-03-05 11:18] rohanmeh commented on #25826
@parths007 pretty sure it still exists.

[2019-03-05 12:00] miktoki opened #26360 "extend_with_weight_decay function doesn't exist?"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: 1.12
- Doc Link:
https://www.tensorflow.org/versions/r1.12/api_docs/python

[2019-03-05 12:16] LGTrader commented on #26333
devel-gpu-py3 appears to be Ubuntu 16.04 LTS, I'm 18.04 LTS which is python-3.6. After installing python-3.5 on my system I am able to run tensorflow in a virtual environment created using python-3.5 and it see my GTX 960 so it's a big win. Thanks! However is there a 18.04/python-3.6 Docker image to make it a more direct install on Ubuntu 18.04 LTS?

[2019-03-05 12:44] liuqiang3 commented on #25895
I install  tf-nightly -1.14.1-dev20190304, I re-run the code to find it started wording.
thank you!

[2019-03-05 12:45] liuqiang3 commented on #25895
I install tf-nightly -1.14.1-dev20190304, I re-run the code to find it started wording.
thank you!

[2019-03-05 12:49] NiranjanAntany commented on #26344
Hello,

Thanks for your reply.

i have tried your method with racoon data-set and can successfully able to freeze my variables into frozen_inference_graph.pb.

but after getting the model file i have loaded it into my eye-detection algorithm and tested it..but its showing me the below error
----------------------------------------------------------------------------------------------------------
p

[2019-03-05 12:50] yashwantptl7 opened #26362 "How can I do distributed training using Parameter Server Strategy with estimators? How to define Cluster Spec without using TF_CONFIG for Estimators?"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-03-05 13:35] alvaroslm commented on #26318
Everything is noticeable in TF. It shouldn't be, but it is. There are unintended consequences for everything.

[2019-03-05 13:39] nirvaanGarg commented on #24270
Hi i came across the same issue and haven't found the answer through pip upgrade and reinstall

here is what i got back

Traceback (most recent call last):
  File "train.py", line 47, in <module>
    import tensorflow as tf
  File "C:\Users\Nirvaan Garg\Python\lib\site-packages\tensorflow\__init__.py", line 24, in <module>
    from tensorflow.python import pywrap_tensorflow  # pylint: disable=unus

[2019-03-05 13:40] Amirtha1189 commented on #10155
Thank you very much. Especially message log under tf.logging.DEBUG was very helpful.

[2019-03-05 13:57] yarons opened #26363 "No gen_bigquery_reader_ops"
**System information**
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from: binary
- TensorFlow version: 1.12.0
- Python version: 3.5
- Installed using: pip
- CUDA/cuDNN version: 9.0
- GPU model and memory: Jetson TX2

I can't run uff conversion.
The traceback is:

[code]
There's no such file `gen_bigquery_reader_ops.py` at this location.

[2019-03-05 14:05] Pure-Entropy opened #26364 "Win 10 Import Error: Failed to load the native TensorFlow runtime TF-GPU(both1.13 and 2.0)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 x64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): tensor

[2019-03-05 14:06] hsm207 commented on #21729
@byzhang no. Just checked with 1.12.0 and still the same problem.

[2019-03-05 14:23] lissyx commented on #25137
I'm getting similar errors on r1.12 branch but it's with CUDA 9.0 / CuDNN v7.3:
[code]

[2019-03-05 14:46] kunakl07 commented on #26344
@NiranjanAntany Did you feed your annotated images to the model,along with seperate annotation file

[2019-03-05 14:53] felix-hilden commented on #26364
+1 with almost exactly same specs. GPU is a 1050 Ti and Python 3.7.2

[2019-03-05 15:00] damienstanton commented on #26364
Same is occurring for me. Similar specs: 1050Ti, Python 3.6.8, tf-nightly-gpu, same CUDA/CuDNN versions. I can also confirm there are no path issues with the CUDA components. Downgrading CUDA is not an option for me, as the 9.0 installers break my PhysX driver and Visual Studio integrations.

[2019-03-05 15:03] violettomsk commented on #25058
I got into this trouble some days ago.
Please try my solution to work around this issue.

[2019-03-05 15:03] violettomsk commented on #25058
https://github.com/violettomsk/xcodesdks

[2019-03-05 15:34] qlzh727 commented on #25895
SG, glad its fixed.

[2019-03-05 15:34] #25895 closed

[2019-03-05 15:55] lissyx commented on #25137
I'm 99.99% confindent that in my case, this was caused by values set by Bazel for `TEMP` and `TMP` which were following old DOS 8.3 convention. Setting them to a different value, and exposing them through `--action_env` my build does not error anymore because of that.

[2019-03-05 16:28] VictorAlbertos opened #26365 "Interpreter lifecycle Tensorflow Lite"
**System information**
- TensorFlow version: `org.tensorflow:tensorflow-lite:0.0.0-nightly`
- Doc Link: there is no doc as far as I know

**Describe the documentation issue**
I was not able to find information about what is the proper life cycle for the [Intepreter](https://www.tensorflow.org/api_docs/python/tf/lite/Interpreter) class. I'm a contributor of this [Android library](https://github.com

[2019-03-05 16:39] alextp commented on #26143
Yes, the change would be to add some logging to that particular file.

If you need any more pointers, happy to help.

On Mon, Mar 4, 2019 at 5:58 PM lazysjb <notifications@github.com> wrote:

--
 - Alex

[2019-03-05 16:43] shashishekhar commented on #25314
@praveen-dn : @freedomtan is correct.
@praveen-dn : Which label example were you testing and how did you enable NNAPI?

[2019-03-05 16:46] GregorKovalcik commented on #18652
I have the same problem using tensorflow 1.13.1, CUDA 10.0, cuDNN 7.5, Windows 10, nVidia 960m.
[code]

[2019-03-05 16:50] GregorKovalcik commented on #26364
You have to use CUDA 10.0 for tensorflow-gpu-1.13.1 (don't forget to download cuDNN 7.5 for CUDA 10.0 too).

[2019-03-05 16:51] shashishekhar commented on #25537
@ksekine : Please reopen if you are seeing the issue on Android.

[2019-03-05 16:51] #25537 closed

[2019-03-05 17:00] shashishekhar commented on #25172
@defaultUser3214 : Those numbers are probably not on device numbers. You can use one of the [benchmarking tools](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/benchmark) to benchmark the model if you want to test the model latency outside your app.

[2019-03-05 17:05] alextp commented on #26341
This is intended behavior for now because returning variables by reference can lead to different semantics in legacy graphs vs tf.function graphs.

[2019-03-05 17:05] #26341 closed

[2019-03-05 17:13] #26048 closed

[2019-03-05 17:14] aaronhan92 opened #26366 "How to plot train, test and validation line to evaluate your model whether overfit or underfit"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Include any logs or source code that would be helpful to diagno

[2019-03-05 17:22] alextp commented on #26098
Can you post the full stack trace? Something fishy seems to be going on here.

@robieta I think you wrote the exception-raising code, so reassigning this issue to you.

[2019-03-05 17:32] rootkitchao commented on #26364
I think you should use CUDA10.0 instead of CUDA10.1.The tensorflow-gpu compiled by pip install specifies the cuda version, which needs to be accurate to the specific subversion.

[2019-03-05 17:32] chwang85 commented on #6391
It is still not fixed...

[2019-03-05 17:33] alextp commented on #25484
I don't know how to debug this because 0.12 and 1.12 are very very many
releases apart from each other, so many things could have changed. Can you
try to find a small reproducible example of the behavior you don't like?

On Tue, Feb 26, 2019 at 7:49 AM Riccardo Volpi <notifications@github.com>
wrote:

--
 - Alex

[2019-03-05 18:19] danaugrs commented on #26098
[code]

[2019-03-05 18:21] Diniboy1123 commented on #25663
Sure!

Right now I am working with images mainly and I got a dataset with many images with transparency. However I cannot get images with transparency as an output back even though I did nothing that can cause the loss of them. The original transparent pixels are now always blue.

[2019-03-05 18:29] effiek9999 commented on #26335
My numpy version is 1.16.2, and I am getting TensorFlow directly from the github master branch. I will try these suggestions, thank you.

[2019-03-05 18:31] ymodak commented on #26366
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-03-05 18:31] #26366 closed

[2019-03-05 18:33] angersson commented on #26333
The images are all based on Ubuntu 16.04 (some of the older images were updated to 18.04, but are no longer used) -- we just haven't had the time to update them (you can find the infrastructure in tensorflow/tools/dockerfiles, if you are interested in updating them). You can still use the 16.04-based images if you don't mind using the older Python versions.

[2019-03-05 19:02] tensorflowbutler commented on #18353
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-05 19:03] lamberta commented on #26333
Hi. Can someone update these files with the correct info? Thanks
https://github.com/tensorflow/docs/blob/master/site/en/install/docker.md
https://github.com/tensorflow/docs/blob/master/site/en/install/source.md

[2019-03-05 19:08] dynamicwebpaige opened #26368 "[TF 2.0] Add skip_empty argument to tf.strings.split so that tf.string_split can be deprecated."
There were two split functions defined in TensorFlow 1.13:

1. [`tf.string_split`](https://www.tensorflow.org/api_docs/python/tf/string_split)
2. [`string_split_v2`](https://github.com/tensorflow/tensorflow/pull/19650)

We have consolidated these two ops into [`tf.strings.split`](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/strings/split) in TF 2.0:

[code]
 and wish to deprecate `t

[2019-03-05 19:09] gunan commented on #26249
I believe you need an older version of bazel for compiling 1.12 branch.
Please see here for the configurations we tested for building from sources:
https://www.tensorflow.org/install/source#linux

[2019-03-05 19:21] damienstanton commented on #26364
Confirmed to be working using CUDA 10.0 and CuDNN 7.5 for 10.0.

[2019-03-05 19:24] sendeb commented on #24410
Is there an update on this feature by any chance? Thanks!

[2019-03-05 19:38] timshen91 commented on #25830
@Artem-B This looks like what we've seen internally. Do you want to take on this?

[2019-03-05 20:11] poxvoculi commented on #24505
Horovod's TensorFusion is a dynamic technique: During execution nodes report on the tensor reductions that are ready to go, then a master determines the next reduction set based on an intersection of those reported ready.  I assume there is next a compacting data copy at each node before the collective op begins (which is an opportunity for compaction or precision reduction).  All of this requires

[2019-03-05 20:27] melissagrueter opened #26371 "[TF_Java] Enable Control Dependencies to While Loop Body from Outer Graph"
*System information*

* TensorFlow version (you are using): master
* Are you willing to contribute it (Yes/No): yes

*Describe the feature and the current behavior/state.*

We would like to be able to add control dependencies to ops within the body of a while loop from ops in the outer graph.

Why: we want to be able to update variables in the outer graph from within the while loop body. An import

[2019-03-05 20:28] melissagrueter commented on #26371
cc @skye @sjamesr @karllessard

[2019-03-05 20:38] jvishnuvardhan commented on #25597
@aniketbote Could you uninstall python and tenosrflow, and try to reinstall everything using my instruction [here](https://github.com/jvishnuvardhan/Installing-TensorFlow-GPU-on-Windows-10-TF1.12). If you want to use CUDA10, then you can install TF1.13 following the same procedure listed there but use newer version of drivers. Please let me know how it progresses. Thanks!

[2019-03-05 20:43] ymodak commented on #25899
Apologies for the delay in response. I think this issue is better asked on conversationai repo since its not a bug/feature request on TF side.
Please post it on conversationai repo from [here](https://github.com/conversationai/conversationai-models/issues).

[2019-03-05 20:52] msushkov commented on #25899
Thanks for the response, apologies for the confusion. Submitted the issue here because BestExporter does not exhibit the documented behavior (exports multiple models instead of one).

[2019-03-05 21:09] #25817 closed

[2019-03-05 21:17] lhendre commented on #26368
Ill take a quick look tonight at it

[2019-03-05 21:19] awav commented on #26204
@rmlarsen , @jvishnuvardhan ping

[2019-03-05 21:22] BlackHoundNate opened #26372 "[TF 2.0 API Docs] tf.keras.activations.softmax"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: 2.0
- Doc Link: https://www.tensorflow.org/versions/r2.0/api_docs/python/t

[2019-03-05 22:02] jvishnuvardhan commented on #26363
@yarons Could you provide more details on the problem and its context? If possible, please provide a code to reproduce the issue that makes it faster to find rootcause of the issue. Thanks!

[2019-03-05 22:04] jvishnuvardhan commented on #26362
@yashwantptl7 This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-03-05 22:04] #26362 closed

[2019-03-05 22:19] mingxingtan commented on #26360
You are right, it should be extend_with_decoupled_weight_decay.

Would be great if you can create a PR to fix this issue. Thanks!

[2019-03-05 22:27] karllessard commented on #26371
Actually that was one of my concern, I don’t about the low-level details of the while loop functionality, but ideally there should be a relationship between the inner and the outer graph (e.g. the should be able to share the same `Scope`).

Right now I don’t have a quick solution for this but it worth it to take some time to think about how to achieve this.

[2019-03-05 22:29] alextp commented on #26204
@awav thankfully when we do add support for this this it will not be an API removal; it just takes code which currently does not work and make it work.

So I don't think we need to block the tf2.0 release on fixing this, though it'd be very nice.

@rmlarsen now that we have a proper batch_matmul can we make it broadcast correctly on leading indices? I feel like this shouldn't be hard but I'm not f

[2019-03-05 22:32] nfelt commented on #24632
The root cause #25707 has been fixed in 826027dbd4277a2636fc2935ed245700fd01e7cd, and propagated into the Keras callback by @wchargin in 059ea3ba68db861e40d750eba688281011d2735f.

Issue 1 should be completely fixed, and issue 2 should only occur if you delete the event files in the middle of training (without interrupting the keras callback, as described in the OP) while the writer is still open a

[2019-03-05 22:32] #24632 closed

[2019-03-05 22:39] jvishnuvardhan commented on #26355
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-03-05 22:39] #26355 closed

[2019-03-05 22:46] jvishnuvardhan commented on #26352
@kerwinxu Please uninstall python and tensorflow and reinstall freshly using the instructions [here](https://github.com/jvishnuvardhan/Installing-TensorFlow-GPU-on-Windows-10-TF1.12). If you want to use Bazel 0.22.0 and CUDA 10.0, then please install TF 1.13.1. Please check [here](https://www.tensorflow.org/install/source_windows#gpu) for tested build configurations. Please let me know how it prog

[2019-03-05 22:51] qlzh727 commented on #26130
Thanks for reporting the issue. LayerNormBasicLSTMCell is still using the legacy way to create variable/weights via variable_scope, which is deprecated. We will update the cell and fix when we move them from contrib to tf/addons.

[2019-03-05 22:54] qlzh727 commented on #26245
Thanks for reporting the issue and sorry for the late reply. Let me take some time to troubleshoot the issue.

[2019-03-05 22:56] yuefengz commented on #26357
Could you give us more detail? How you run it? What is the error message?

[2019-03-05 23:05] qlzh727 commented on #26250
Assigning to Pavithra who is the owner of metric/loss.

[2019-03-05 23:11] ymodak commented on #26346
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-03-05 23:11] #26346 closed

[2019-03-05 23:16] pavithrasv commented on #26250
@AkbarAlam Precision metric takes predictions as probabilities, hence the error `predictions must be >= 0`. For this you will need to add `sigmoid` (if dim == 1) or `softmax` (for dim > 1) activation function to the last dense layer.

[2019-03-05 23:32] alvaroslm commented on #23692
I've also been trying to build tensorflow with TensorRT, which is unsupported in Windows. I've been modifying some of the build files and bazel files but ultimately I cause bazel itself to crash... I'd be grateful if you could give me any pointers on what are the main issues with supporting Windows here

[2019-03-05 23:42] #25481 closed

[2019-03-05 23:46] robieta commented on #26098
In general I would say the code block at the top is something of an anti-pattern, because it's sort of splitting the difference between keras / non-keras and graph / non-graph. I would offer the following two approaches as alternatives. (Depending on your preference.)

Boilerplate:
[code]

The "I want Keras to handle it for me" way:
[code]

And an example train loop:
[code]
` `
` `
` `
The "I want

[2019-03-05 23:51] ksekine commented on #25481
This issue was solved.
I found that the Add layer causes this problem.
By removing the Add layer, an error above was not occured.
Thanks.

[2019-03-06 00:11] #25594 closed

[2019-03-06 00:55] 1e100 commented on #25120
I encountered the same issue with the 64 bit variant of the build script  that I contributed earlier. IMO NNAPI should be disabled in these scripts by default. This can be easily done via a `make` parameter. With it disabled, everything builds fine, and benchmark_model works as expected. If this seems like a reasonable thing to do, I can submit a PR.

It doesn't seem like #26336 would address the

[2019-03-06 01:01] skye commented on #26371
I assume you mean control deps _from_ the outer graph _to_ the inner while loop graph? You're not allowing to have control deps (or any kind of input) from within a loop body to outside the body.

[2019-03-06 01:03] fingoldo commented on #18652
Pardon, how long should one expect the "matmul" code of the topicstarter to execute on a well-configured system? On my Win with tensorflow-gpu 1.13 it takes ~3.5 s which seems to be huge just to multiply 12 numbers.

[2019-03-06 01:22] melissagrueter commented on #26371
@skye, yes, that is what I meant -- I'll update the above to avoid confusion.

[2019-03-06 01:36] yongtang commented on #26337
Created a PR #26374 for the fix. Will let api review to decide if it is ok.

[2019-03-06 01:41] allendred commented on #26357
#include <fstream>
#include <utility>
#include <vector>
#include <Eigen/Core>
#include <Eigen/Dense>

#include "tensorflow/cc/ops/const_op.h"
#include "tensorflow/contrib/image/kernels/image_ops.h"
#include "tensorflow/cc/ops/standard_ops.h"
#include "tensorflow/core/framework/graph.pb.h"
#include "tensorflow/core/framework/tensor.h"
#include "tensorflow/core/graph/default_device.h"
#include "tens

[2019-03-06 01:42] nfelt commented on #25385
Closing this since the original tf2_overview.ipynb has been removed.  In the new code samples, we should show the new TF 2.0 summary API which doesn't require any use of `always_record_summaries()` to work.

[2019-03-06 01:42] #25385 closed

[2019-03-06 01:51] skye commented on #26371
Got it, thanks!

I agree with Karl, we need some notion of graphs nested in other graphs. In the Python API, this is represented via functions (i.e. [FuncGraphs](http://go/gh/tensorflow/tensorflow/blob/master/tensorflow/python/framework/func_graph.py#L126), which can "capture" Tensors from outer graphs). while_v2 takes advantage of this to handle closed-over inputs inside the loop body. As discuss

[2019-03-06 01:54] qqfish commented on #25724
Sorry for delay.

First for the control dependency, I think it is expected. The control dependency is created on placeholder. When you call session.run, you already fulfilled the placeholder. So the ops depends on it is ready to run as well.

To fix it, you should move line 38 and 41 out from the control_dependency context.

And back to the original issue, it is actually caused by the profiler. In

[2019-03-06 02:24] wangsiyu commented on #24505
@poxvoculi So is there any plan to do the pre-analysis based on cost model in static tensor fusion technique or other tuning method?

[2019-03-06 03:18] #26337 closed

[2019-03-06 03:20] fzyzcjy commented on #19293
Hi it seems that `ResizeNearestNeighbor` still not work? thanks!

[2019-03-06 03:45] quancq commented on #18652
I have the same problem when using Google Colab. I installed keras_contrib library to train model

[2019-03-06 03:50] depthwise commented on #21761
So as far as I can tell, in the ideal situation this is supposed to call into a platform specific runtime for the target platform to make use of highly optimized ops such as gemm, gemv, fft, etc. Where would it get that runtime when it's cross-compiling from Intel? Is there a high level doc I could read for how this is supposed to work?

[2019-03-06 04:01] OtakuSenpai commented on #26198
So what should I do? To resolve that issue?

[2019-03-06 04:22] quancq opened #26375 "Train Keras model with GPU Google Colab very slow when compared with my personal cpu"
**Information environment when I run [script](https://github.com/tensorflow/tensorflow/tree/master/tools/tf_env_collect.sh)**

== cat /etc/issue ===============================================
Linux dc5aaefaf4e1 4.14.79+ #1 SMP Wed Dec 19 21:19:13 PST 2018 x86_64 x86_64 x86_64 GNU/Linux

== are we in docker =============================================
Yes

== compiler ============================

[2019-03-06 04:41] quancq commented on #25954
How can you solved this issue? I have similar problem when train keras model on google colab gpu.

[2019-03-06 04:44] byronyi commented on #25638
@jbedorf mind to take a look here?

[2019-03-06 04:54] ppwwyyxx commented on #26337
[code]

[code]

[code]

There are still inconsistencies (targets vs labels; _sentinel in `sparse_softmax_cross_entropy_with_logits`).

[2019-03-06 05:07] jasinchandroth commented on #559
as my python version is 3.7, still the pip3 is not getting recognize in commd prompt
so i am not able to use pip3 uninstall  numpy code, for above problem

[2019-03-06 05:14] gunan commented on #26198
You can try running wget, and seeing if that works. if it does not, you may be behind a firewall, or may need a proxy. If it does works, it may just be a flake.

[2019-03-06 05:24] sayred1 opened #26376 "ModuleNotFoundError: No module named 'gast'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in Tens

[2019-03-06 05:32] DachuanZhao opened #26378 "Centos7.6+python37+tensorflow1.13.1 : ImportError: /lib64/libstdc++.so.6: version `CXXABI_1.3.8' not found"
[code]

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
CentOS Linux release 7.6.1810 (Core)
- TensorFlow installed from (source or binary):
pip install tensorflow
- TensorFlow version:
1.13.1
- Python version:
Python 3.7.1
- Installed using virtualenv? pip? conda?:
pip install tensorflow

**Describe the problem**
I think the problem is that the version of gcc is

[2019-03-06 05:32] AbuHelweh commented on #23683
Same here, Please rectify

[2019-03-06 05:43] ghostplant commented on #26318
There are 2 problems using `tf.while_loop` than ideal `tf.loop_forever`:
1) Performance: `while_loop` has to wait for a body answer before it can decide whether to schedule another body execution, so this is apparently in a synchronous style which is much inefficient to feed tasks to GPU, so the latency between adjacent body execution is high;
2) Not for all TF_Ops: it can not fully support all op

[2019-03-06 05:47] lhendre commented on #26368
So I have some code I am testing on my local fork, but an issue I am running against is that it uses the library gen_string_ops which is machine generated,  I am not quite sure how to approach this

[2019-03-06 05:50] ghostplant commented on #26318
break statement is not needed because the `sess.run` could be break or interrupt by any long-run operators that can return non-OK status, so the task could be terminated and handled by a surrounding `try: .. expect: ..` which is not strange.

[2019-03-06 05:57] mehdi-beng commented on #26309
@sahilbadyal I got it fixed. For me it was the HDD read speed not keeping up and becoming bottleneck.
The TFRecord format is pretty big on volume, try using : tf.io.TFRecordCompressionType.GZIP) when creating your TFRecords.

The file will be 1/5th of the size once compressed making it easier for the HDD. The CPU will take the additional load to decompress each line. But CPU is harder to bottlenec

[2019-03-06 06:24] HarryHHung commented on #26227
My "ImportError: DLL load failed" issue was solved after I downgraded to bazel 0.20.

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 7
- TensorFlow installed from (source or binary): Source
- TensorFlow version: 1.13.1
- Python version: 3.7.2
- Installed using virtualenv? pip? conda?: building
- Bazel version (if compiling from source): 0.20
- GCC/Compiler version (if compiling

[2019-03-06 06:25] Leslie-Fang commented on #26378
what's your libstdc++.so.6 linked version?.

[2019-03-06 06:30] Leslie-Fang commented on #26378
Build gcc 6.3, you would get libstdc++.so.6.0.22. Create  libstdc++.so.6 soft-link to it, may solve your problem

[2019-03-06 06:32] S-aiueo32 commented on #781
After removal of `tf.contrib` on TF2.0, this issue will rise again.
What is the recommended way for random rotation on TF2.0?
`tf.keras.preprocessing.image.random_rotation` doesn't work under `@tf.function` without users' effort.
I want TF to contain native `random_crop` under `tf.image`.

[2019-03-06 06:35] DachuanZhao commented on #26378
Hi,@Leslie-Fang,
The libstdc++.so.6 linked version is libstdc++.so.6.0.19 on Centos7.6
I don't want to change the system file in` /lib64` because it maybe bring other problems.
Is there any soluiton to solve it without using `sudo`

[2019-03-06 06:40] yongtang commented on #26337
Added another PR #26380 for the remaining `sparse_softmax_cross_entropy_with_logits` and `weighted_cross_entropy_with_logits` issue.

[2019-03-06 06:43] jackd commented on #8246
For anyone else tired of waiting for a PR to get reviewed/accepted, I've ported [this pull request](https://github.com/tensorflow/tensorflow/pull/15224) to a [separate repo](https://github.com/jackd/tf-repeat) with some minor tweaks. Only CPU version without gradients implemented.

[2019-03-06 06:49] Leslie-Fang commented on #26378
```strings /usr/lib64/libstdc++.so.6.0.19 | grep CXXABI_ ``` to check whether `CXXABI_1.3.8'.
If not, you could use latest lib version. Set the LD_LIBRARY_PATH before you run TF, so this lib would only be effective in this shell.

[2019-03-06 06:51] ppwwyyxx commented on #26337
Thanks to both of you!
Another small issue from @alextp's CL: after removing `_sentinel`, we should also remove the None default `labels=None, logits=None` from the signature. These meaningless defaults exist only because of sentinel.

[2019-03-06 07:12] thirdlastletter opened #26382 "Tensorflow GPU Installation Requirement Issues"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile de

[2019-03-06 07:16] aravindchaluvadi commented on #22106
I was getting an issue on
26829-27149/org.tensorflow.lite.demo W/System.err: java.lang.ArrayIndexOutOfBoundsException: length=10; index=-2147483648

1) i went into C:\Users\username\tensorflow\tensorflow\lite\examples\android in which i loaded it into android studio

2) I made the necessary changes in the DetectorActivity.java file=
     2a) private static final String TF_OD_API_MODEL_FILE = "dete

[2019-03-06 07:41] aikudexiaohai opened #26383 "tf2.0, tf.keras cannot be automatically completed in pycharm"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-03-06 07:41] AkbarAlam commented on #26250
@pavithrasv Thanks for the input. Let me check if that  works

[2019-03-06 07:43] #26383 closed

[2019-03-06 07:48] yarons commented on #26363
@jvishnuvardhan
https://github.com/tensorflow/tensorflow/blob/afab5b322f780c235c61038b49593e34b523d400/tensorflow/contrib/cloud/python/ops/bigquery_reader_ops.py#L21

This line is referencing this library but I couldn't find it anywhere.

[2019-03-06 08:07] pabloppp opened #26385 "TensorFlow Lite Android nightly runs inference x2 faster than latest version 1.13.1"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Android
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: OnePlus 6
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): `org.tensorflow:tensorflow-lite:0.0.0-nightly` / `org.tensorflow:tensorflow-lite:1.13.1`

**Describe the cu

[2019-03-06 08:08] cj741 opened #26386 "building error on win7 with VS2015: ADD_LIBRARY for library tf_contrib_tpu_ops without any source files"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win7 X64
- Mobile device (e.g.

[2019-03-06 08:10] albanie commented on #19903
Just flagging this here for others who hit the same issue.  The default behaviour affects warm starting from pre-trained Keras models that include batch norm (means and variances are not loaded after the warmstart) when calling [model_to_estimator()](https://www.tensorflow.org/api_docs/python/tf/keras/estimator/model_to_estimator). The function call happens [here](https://github.com/tensorflow/est

[2019-03-06 08:31] hackintoshrao commented on #13796
Hello @yaroslavvb . I was one of the early engineers of Minio, we are keen on making this integration. The SageMaker-Python Tensorflow wrapper currently provides this support. If you could share your thoughts on the interface it would help us to get started.

[2019-03-06 08:33] pabloppp commented on #26385
A couple more details:
In order to measure the inference latency, we use the following snippet:
[code]
This is the output using `org.tensorflow:tensorflow-lite:0.0.0-nightly`
<img width="212" alt="captura de pantalla 2019-03-06 a las 9 30 14" src="https://user-images.githubusercontent.com/4237014/53866745-8fe07c00-3ff2-11e9-8453-1721c99068e1.png">

While this is the output using `org.tensorflow:te

[2019-03-06 08:52] wuyankun commented on #23127
Yes, I still meet this bug.
OS:gentoo
command:emerge  1.12.0
CUDA:cuda 8.0
CUDNN:6.0
gcc:4.9

[2019-03-06 08:52] galeone commented on #26303
I'm currently migrating all notebooks (https://github.com/zurutech/gans-from-theory-to-production) to their Tensorflow 2.0 version.
Right now, without the new location of `tf.contrib.gan` the migration is stopped.

Thus @Dexter2389 I guess you can use notebooks 2.1, 3.0, and 3.1 as a reference.
In particular, in the 2.1 I already migrated the `discriminator_fn` to what I think the new implementati

[2019-03-06 08:54] ztoser commented on #25830
Instead of
`from keras.applications import VGG16`
I used
`from tensorflow.keras.applications import VGG16`
and retested this under a self-compiled TensorFlow 1.13.1. It works without any issues now.

[2019-03-06 09:01] wuyankun commented on #23127
Yes, I still meet this bug.
OS:gentoo
command:emerge  1.12.0
CUDA:cuda 8.0
CUDNN:6.0
gcc:4.9
bazel: 0.20.0

I can cmake the abseil-cpp , there is no error. maybe someone can help to fix it.

[2019-03-06 09:28] oquenchil opened #26388 "Bazel incompatible change: Get all tests passing with --incompatible_disable_legacy_cc_provider for Bazel 0.25.0"
It seems that bazel-watcher will start breaking with the next Bazel release 0.25 because of an incompatible change (https://github.com/bazelbuild/bazel/issues/7036)

It looks like Tensorflow is still using the legacy 'cc' provider for some Starlark rules. I explained in the issue about the steps you can take to migrate to using CcInfo. The same functionality is available with that new provider.

H

[2019-03-06 10:18] AkbarAlam commented on #26250
@pavithrasv I dont know if this is the right config. But as you suggested I have done it

it looks as follows

[code]

[2019-03-06 10:33] nouranik opened #26390 "DLL load failed with error code -1073741795, Win 7"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win 7
- Mobile device (e.g. iP

[2019-03-06 11:11] Pure-Entropy commented on #26364
Thanks for the information. Will be downloading the cudnn and cuda toolkit today. Hopefully I can run them and close this issue.

[2019-03-06 11:11] wuyankun opened #26391 "str_cat.h(267): error :expression must have a constant value"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):gentoo
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:No, intel PC
- TensorFlow installed from (source or binary): source
- TensorFlow version:1.12.0 and 1.13.0-r2
- Python version:3.4.3
- Installed using virtualenv? pip? conda?:no
- Bazel version (if compiling from sour

[2019-03-06 11:12] alvaroslm commented on #23692
In the end I got it to compile by doing all the following. I think this is enough as a basis for TF/Nvidia to produce something cleaner that works ok so you can finally support Windows.

 1 -Patch configure.py set tensorrt path & version
   if is_windows(): _DEFAULT_TENSORRT_PATH_LINUX = _DEFAULT_CUDA_PATH_WIN
   environ_cp['TF_NEED_TENSORRT'] = '1'
   I think /lib was added later in the build scr

[2019-03-06 11:18] DachuanZhao commented on #26378
Hi,@Leslie-Fang
the result is :
[code]
How can I install the latest lib version without `sudo`?

[2019-03-06 11:21] DachuanZhao commented on #26376
Hi,@sayred1
I guess you can run the following command to solve it:
`pip install gast`

[2019-03-06 11:26] Alex-zhai opened #26392 "train with MirroredStrategy with multiple gpus has no speed up"
**System information**
OS Platform and Distribution: CentOS Linux release 7.3.1611
TensorFlow installed from: (pip install tensorflow-gpu)
TensorFlow version: Tensorflow 1.12
Bazel version: N/A
GPU model and memory: Tesla P40 24G
Exact command to reproduce: N/A
Mobile device: N/A
CUDA/cuDNN version: cuda 9.0 with cudnn7.1.4

**Describe the current behavior**
I trained with tensorflow for multi-gpu

[2019-03-06 11:36] nouranik commented on #26390
I tried all of the tensorflow versions only 1.5 works and I need tensorflow 1.12 version.
regards,
Azadeh.

[2019-03-06 11:39] jackyko1991 commented on #22047
@gittyupagain it is nice to find your export C++ symbol method here. However as tf evolves to 2.0, the old cc API fadeout and I am trying to keep that up-to-date with this PR https://github.com/tensorflow/tensorflow/pull/26152

In the past necessary exported symbols can be found with the cmake contrib python file, at current status all tf library are built via bazel, and C++ symbols are exported w

[2019-03-06 11:46] ElderOrb commented on #25690
Yes, it did help that issue, but new one appeared:

INFO: Analysed target //tensorflow/lite:libtensorflowlite.so (0 packages loaded, 0 targets configured).
INFO: Found 1 target...
INFO: From Compiling tensorflow/lite/kernels/lstm_eval.cc:
cl : Command line warning D9002 : ignoring unknown option '/Gw'
ERROR: D:/ai/tensorflow/tensorflow/lite/kernels/internal/BUILD:473:1: C++ compilation of rule '//

[2019-03-06 11:49] bartoszkp opened #26393 "Kubernetes GPU Docs & k8s-compatible Docker Images"
- TensorFlow version: 1.13.1
- Doc Link: https://www.tensorflow.org/install/gpu

The existing documentation on how to setup TensorFlow with docker&GPU is great. Unfortunately it doesn't work with Kubernetes. This [Kubernetes Engine GPUs](https://cloud.google.com/kubernetes-engine/docs/how-to/gpus) guide suggest using "nvidia/cuda:10.0-runtime-ubuntu18.04" docker image. TensorFlow docs suggest "ten

[2019-03-06 12:07] YoussefBenDhieb commented on #3986
I got the same error, then when I printed the node names using
`out_names = [x.op.name for x in model.outputs]` I got u'activation_1_1/Sigmoid' as a name but it did not work.
Then I searched in the generated tmp.pb file for Sigmoid and the name I found is "activation_1/Sigmoid".
I used it and it worked!

[2019-03-06 12:08] kpe opened #26394 "Allow building TF + nvidia GPU targeting < sm35 if XLA is not enabled"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Gentoo
- TensorFlow installed

[2019-03-06 12:13] javidcf opened #26395 "build_info is missing CUDA build information"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 x64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): b'v1.1

[2019-03-06 12:17] m3h0w commented on #559
I solved the issue on Ubuntu by repeatedly uninstalling numpy with pip and doing 'rm' if pip uninstall didn't work. Apparently, there were many versions installed at the same time on my system.

[2019-03-06 12:37] fzyzcjy commented on #23896
Thank you so much!

[2019-03-06 12:40] fzyzcjy commented on #23896
Is there any easier way to do that, for example, do not build it by oneself? Thanks!

[2019-03-06 12:53] steven12138 commented on #22794
python 3.7.2
Tensorflow-gpu 2.0.0a0
tensorboard          1.13.0
tensorflow-estimator 1.13.0
CUDA 10.1
cuDNN v7.5.0 for CUDA10.0
win10 x64
Please help

[2019-03-06 13:02] stefan-falk opened #26398 "Converting tensor2tensor transformer to tf-lite graph"
I am trying to convert the frozen transformer model from tensor2tensor to a tf-lite graph:

[code]

I am getting the following error

[code]

I would seem that there are a lot of unsupported operations - does this cause the error?

The last line from the tflite_convert output says

I don't know if anybody can make sense out of that ...

Is it possible to fix this or is there simply no way to conve

[2019-03-06 13:13] danaugrs commented on #26098
@robieta thanks for the brain dump 😄. I've used that first method many times. But in this particular case I don't think either method you provided works without significant modifications, if at all. To provide more context - I'm working on [a reinforcement learning library](https://github.com/danaugrs/huskarl) and am implementing several algorithms - this latest one being [DDPG](https://arxiv.org/

[2019-03-06 13:28] CharlesCCC commented on #22794
@steven12138 You can follow the previous post that worked.
AFAIK, the python 3.7.X python is not supported.

[2019-03-06 13:28] kerwinxu commented on #26352
Thank you , the problem are vc 2017  and  cuda 10 .

### **Donot build Gpu version with vc 2017  , vc 2017 is incompatible with cuda 10 .  I build gpu version with vc 2015 and cuda 9.0**

[2019-03-06 13:28] #26352 closed

[2019-03-06 13:38] jppgks commented on #24099
Below is a script that writes a tf.data.Dataset at the end of an input pipeline to TFRecords. Those TFRecords can then be read in the input function to a TPU using tf.data.TFRecordDataset (with `tf.FixedLenFeature([], tf.string)` features passed to `tf.parse_single_example`, then `tf.parse_tensor` and `.set_shape` to read the serialized TensorProto back into a Tensor).

This way, the TPU just read

[2019-03-06 13:50] Ayush517 opened #26399 "[tensorflow.org] Devsite Code Container not working properly"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: 2.0
- Doc Link: https://www.tensorflow.org/install

**Describe the documen

[2019-03-06 13:53] ElderOrb commented on #25690
I guess this is because Microsoft's compiler doesn't switch to c++ 11 mode (btw, weird, it should be c++ 11 without any options)... In any case I've tried

[2019-03-06 13:57] ElderOrb commented on #25690
Not sure what I did besides retrying (btw, why does bazel show different random build errors on build failures) but now the error is the following:

cl : Command line warning D9002 : ignoring unknown option '/Gw'
tensorflow/lite/kernels/internal/mfcc_dct.cc(44) : error C2668: 'atan' : ambiguous call to overloaded function
        C:\Program Files (x86)\Microsoft Visual Studio 10.0\VC\INCLUDE\math.

[2019-03-06 14:26] Murtadha44 commented on #22794
This is what worked for me on Window 10 and for GPU NVIDIA GeForce RTX 2080 Ti:
Python 3.5 (3.6 did not work)
Tensorflow-gpu 1.13 (or tf-nightly-gpu)
CUDA 10
cuDNN for CUDA 10.0
The problem was because of using python 3.6. Using Python 3.5 solved it.

[2019-03-06 14:30] Ayush517 commented on #26338
@neerajprad  Can you please try "xcode-select --install" and then build for Bazel 0.15.0
Thanks.

[2019-03-06 15:11] cjqw opened #26401 "Tensor::FromProto should check the type of tensor"
When deserializing a tensor from pb, there is a Tensor::FromProto function for us to use. However, this function do not do any checks on the type of the proto. This unexpected behaviour will cause core dump when the type of the proto and that of the tensor mismatch. Here is a toy example which will cause core dump when deserializing tensor proto.

[code]

The code of  Tensor::FromProto
[code]

[2019-03-06 15:32] jdduke commented on #19293
What version of TensorFlow(Lite) are you using? You'll need to be on the latest nightly to use this TensorFlow Lite op.

[2019-03-06 15:49] alvaroslm commented on #25552
@gunan the problem here is the system path is completely gone and replaced with

The _pywrap... library fails to load because it can't load almost any of its dependencies (not even python or cuda dlls) because they're not there and they're not in PATH. I've run the script manually with my system path and it works, but not under Bazel with its crippled path.

[2019-03-06 15:59] alvaroslm commented on #25597
This could be the same problem as this other unresolved issue, see my comment there: https://github.com/tensorflow/tensorflow/issues/25552#issuecomment-470159497

[2019-03-06 16:13] steige2 opened #26403 "build error with OpenMPI"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux xxxx 3.10.0-862.6.3.el7.

[2019-03-06 16:14] jmatthewpeters commented on #26390
I have the same problem.  Clean pip install of tensorflow on python 3.7
System information

OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win 7
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
TensorFlow installed from (source or binary): installation from https://www.tensorflow.org/install/pip
TensorFlow version: 1.13
Python version: 3.7.

[2019-03-06 16:23] jdduke commented on #26365
So, the Interpreter should remain valid until you call close() on it. However, it is *not* thread-safe, so you'll need make sure any access is properly serialized. One question, are you using the GPU delegate accelerator? Or just regular CPU inference?

[2019-03-06 16:25] jdduke commented on #26300
The Random operators should be available using our [experimental pipeline for using select TensorFlow ops](https://www.tensorflow.org/lite/guide/ops_select). Feel free to re-open if you encounter issues using that pipeline. Cheers.

[2019-03-06 16:25] #26300 closed

[2019-03-06 17:06] jdduke commented on #26199
The input type is int32, which is 4 bytes (4 x 172800 == 691200).

[2019-03-06 17:06] #26199 closed

[2019-03-06 17:08] jdduke commented on #26092
We probably need to mark a few targets with the "manual" tag to allow this kind of glob-based testing for x86.

[2019-03-06 17:12] byronyi commented on #26403
As in TF 2.0, all contrib projects including the MPI support will be removed from the TF core, which means this patch will not be merged here.

MPI and MPI collectives will be migrated to tensorflow/networking. Although the migration process is still undergoing, we do not have sufficient support from the community to the MPI collectives. You are encouraged to help :)

[2019-03-06 17:13] Sri-vatsa commented on #25988
@JTunis would love to help as well! Need help with anything?

[2019-03-06 17:22] Culeshovi commented on #26382
You can just uninstall any package by running '''pip uninstall pillow''' and then you can install package with required version like '''pip install pillow==4.3.0'''

[2019-03-06 17:25] alvaroslm commented on #25552
If you're using bazel 0.21 you can build with --incompatible_strict_action_env=false to fix the path issue.
(see https://github.com/bazelbuild/bazel/issues/7026 and https://github.com/bazelbuild/bazel/issues/6648 )

[2019-03-06 17:46] mrry commented on #26179
Thanks for reporting this problem! This is definitely surprising behavior, and we should find a way to make it easier.

@rohan100jain Do you think it would be possible to extend your solution from b397935bae2530e1cf5022ca6f85a0b898a795d6 to work as expected in the eager case?

Also CCing @wangpengmit because whatever happens here ought to be compatible with [https://github.com/tensorflow/community

[2019-03-06 17:49] mhamdan91 opened #26404 "Returned None Values when computing Gradients"
**Describe the current behavior**
I am using the **Resnet50** code maintained under **_Eager Execution_** as is. When computing gradients
*grads = tape.gradient(loss, model.variables)
I get NONE values return in grads. I traced down the issue and realized that those none values correspond to the BatchNormalization layers. The layers are set to trainable=True, so I am not quite sure why they do not

[2019-03-06 17:49] nfelt opened #26405 "[TF 2.0] summary API migration paths"
This feature request tracks adding and improving migration paths in tf_upgrade_v2 to handle the various summary APIs.

The goal state is:
1) 1.x tf.summary migrated to tf.compat.v1.summary by default (done)
2) 1.x tf.summary migrated to tf.compat.v2.summary where possible to do correctly (not done, may not be feasible)
3) 1.x tf.contrib.summary migrated to tf.compat.v2.summary with best-effort cor

[2019-03-06 17:51] nfelt opened #26406 "[TF 2.0] tf.summary centralized step management"
This feature request tracks providing a way to centrally control the notion of the "step" of a given summary (used e.g. as the x-axis in TensorBoard scalar plots). In TF 1.x there was the global step, but in TF 2.0 it no longer exists and global state is generally discouraged.

Background: the TF 2.0 versions of tf.summary.scalar(), image(), etc now require a `step` argument at the callsite. This

[2019-03-06 17:54] nfelt opened #26407 "[TF 2.0] tf.summary step argument should cast to int64"
The TF 2.0 versions of tf.summary.scalar(), image(), etc now require a `step` argument at the callsite. This step argument should allow at least any integral type and probably also floating point types (at least if they have no fractional part), but it currently requires a python integer or a `tf.int64` tensor.

This results in errors like:

[code]

[code]

[2019-03-06 17:55] nfelt opened #26408 "[TF 2.0] tf.summary built-in support in Estimator"
This feature request tracks making the Estimator summary-writing logic provide built-in support for the TF 2.0 tf.summary.scalar(), image(), etc. ops.

Background: the TF 1.x summary ops are supported automatically in Estimator via use of the `tf.estimator.RunConfig` option for `save_summary_steps`, which uses `tf.estimator.SummarySaverHook` under the hood. This means that Estimator model code can

[2019-03-06 17:58] bersbersbers commented on #25970
I tried to pin down when this issue was introduced and fixed:

[code]

So, introduced some time in Aug/Sep 2018 - due to missing `tf-nightly` packages on `PyPi` from that time, I cannot get any closer. Fixed some time between Jan 25 and 29.

[2019-03-06 18:02] robieta commented on #26098
Ahh. Thanks for the explanation. So it looks like what is happening is that with https://github.com/tensorflow/tensorflow/pull/26142 the gradients are now being computed symbolically, but somewhere in the apply process we're applying them to the variables in an eager fashion.

The issue that you're seeing is that when you call `keras.backend.function`, it tries to lift the relevant subgraph from t

[2019-03-06 18:19] nfelt opened #26409 "[TF 2.0] tf.summary should be easier to use with graphs"
This feature request tracks improving the usability of tf.summary in TF 2.0 when used with graphs - specifically with `tf.function` and legacy graph mode.

Currently there are a number of interrelated limitations that make using tf.summary somewhat awkward and error-prone outside of eager mode:

- In legacy graph mode, the writer must be configured in advance
  - a writer resource handle must be c

[2019-03-06 18:26] #26376 closed

[2019-03-06 18:33] mdanatg commented on #26293
Quick update: we'll definitely fix this for Python control flow, so that it behaves like normal code. For TensorFlow loops, that task will be more challenging and initially we will probably raise an error instead.

Consider for example:

[code]

Because TensorFlow doesn't support the notion of undefined variables, replicating that behavior using `tf.while_loop` would be a bit trickier, although po

[2019-03-06 18:34] mdanatg commented on #26293
@brilee FYI

[2019-03-06 18:38] CA4GitHub opened #26410 "Add Minor Versions for cuDNN & CUDA in Tested build configurations tables"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: 1.12
- Doc Link: https://www.tensorflow.org/install/source#tested_build_co

[2019-03-06 18:46] sumchat commented on #23683
Same issue.

[2019-03-06 18:47] JTunis commented on #25988
@Sri-vatsa Totally! I've been struggling to figure out how to point the docs generator to the appropriate file to generate the markdown docs. Some things that I've poked:
* `generate2.py` located [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/docs/generate2.py). As it's looping through the results of the parser, it seems to be generating the doc from the markdown from

[2019-03-06 18:55] rajathpatel23 commented on #26305
Here is the well formatted code with the error
[code]
[code]
Minor issue when passing embedding vector from the embedding layer to the TensorFlow function tf.nn.dynamic_rnn() function.Not able to pass it directly as a tensor, as the tensor shape is unknown, the function is not able to recognize the actual shape and it gives the error.

[2019-03-06 18:56] tensorflowbutler commented on #25694
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-06 19:03] Bilal-Ahmed-Arain commented on #559
Yes Michal Gacka this problem happens when during the installation of
different packages the numpy's incompatible version (w.rt opencv lib we
have) is installed automatically, thus we need to uninstall the
incompatible version to make it work..
That's great that your problem is solved.. Sorry for the late response of
your 2nd mail..

On Wed, Mar 6, 2019 at 5:21 PM Michał Gacka <notifications@githu

[2019-03-06 19:09] melissagrueter commented on #26371
Sounds good, I will give that approach a try! Thanks @skye and @karllessard.

[2019-03-06 19:15] ppwwyyxx commented on #26404
You should use `model.trainable_variables` instead of `model.variables`.

[2019-03-06 19:17] anilsathyan7 commented on #26297
Model: Similar to the official TF model https://storage.googleapis.com/download.tensorflow.org/models/tflite/gpu/deeplabv3_257_mv_gpu.tflite.(model inference graph attached as image).The last three additional nodes
are not supported by gpu delegate, it seems.The input image size is 129*129.

Phone: OnePlus 3, GPU: Adreno 530

Timings:-
CPU Inference: 60-70 ms
GPU Inference: 40-50 ms
GPU Inference

[2019-03-06 19:21] ltrottier commented on #12001
That would be a nice addition indeed.

[2019-03-06 19:24] steige2 commented on #26403
Thanks for the info, I found the "enable MPI support" configuration option suggestive. I'll remove it from my configuration files.

[2019-03-06 19:24] #26403 closed

[2019-03-06 19:32] poxvoculi commented on #24505
@wangsiyu I've had some casual conversations with colleagues about the feasibility of doing something like that, but there's no concrete plan to do anything yet.  I think it would be interesting to do some detailed performance comparisons of the dynamic Horovod approach with the static ScopedAllocator approach and see where each looks stronger.  That might give some insight into the most worthwhil

[2019-03-06 19:34] jdduke commented on #25239
As mentioned in the TensorFlow Dev Summit today, TensorFlow Mobile is being deprecated. It's highly unlikely that we'll continue supporting the gradle-based builds for the TFMobile samples. Is there a reason you cannot use TensorFlow Lite?

That said, it looks like this is an issue with the codegen dependency, as the Fill class is dynamically generated. Maybe there have been some more recent chang

[2019-03-06 19:41] skye commented on #26371
Keep us update. There are surely tons of complications I'm not foreseeing... :)

[2019-03-06 19:45] qqfish commented on #25724
I am still investigating the gap between MatMul and memcpy.

[2019-03-06 20:04] karllessard commented on #26371
Just out of curiosity @melissagrueter, would eager execution be a better fit for the use case you are trying to cover (i.e. using Java native while loops)?

[2019-03-06 20:09] mhamdan91 commented on #26404
Thank you @ppwwyyxx , That did get rid of the NONEs. Does this mean BatchNormalization layers hold non-trainable variables?

[2019-03-06 20:20] Zaxa13 commented on #26300
Hi, thanks for this.  Using this I am now able to create the .tflite file.
I have followed the rest of the guide but am unable to run my app after adding the tensorflow-lite-with-select-tf-ops.aar module to the app.

When running the app and trying to use tflite I now get the error:
`No implementation found for long org.tensorflow.lite.NativeInterpreterWrapper.createErrorReporter(int) (tried Java_

[2019-03-06 20:21] sbrodehl opened #26411 "GPU placement of tf.nn.conv2d during tf.data.Dataset.map call causes UnimplementedError (NHWC)"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-03-06 20:40] jdduke commented on #26300
You might need to clean your build. Are you using the select-tf-ops.aar in place of the regular tflite aar?

[2019-03-06 20:42] ppwwyyxx commented on #26404
Yes.

[2019-03-06 20:51] brentsony commented on #11807
What worked for me is specifying --config=cuda_clang (instead of --config=cuda).

Compiling GPU code with clang can succeed in some instances where using nvcc does not.

[2019-03-06 20:58] mrry commented on #26411
I think the problem here is a bug in an optimization pass that's causing the `Dataset.map()`, which should be placed on **CPU**, to be rewritten to use a version of `tf.nn.conv2d()` that is only available on GPU.

Can you try disabling the layout optimizer as follows and let us know if this works?

[code]

[2019-03-06 21:03] sbrodehl commented on #26411
Thanks for the fast reply @mrry!

Indeed, the snippet you posted works fine, whichout any errors!

[2019-03-06 21:06] sumchat commented on #26390
I got the same error even with CPU version tensorflow-1.9.0-cp36-cp36m-win_amd64.whl in windows 10.
So frustrating

[2019-03-06 21:08] ajarthurs opened #26412 "Segmentation fault when loading SSD-MobileNetV1 into TF Lite calibration tool"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
- OS Platfo

[2019-03-06 21:08] sbrodehl commented on #26411
Added the original logfile and example script in the top post

[2019-03-06 21:14] mrry commented on #26411
Thanks for confirming!

@ezhulenev It looks like one of the function optimization passes in Grappler is applying the layout optimizer under the assumption that all devices will be available inside the function. Is there a way to inhibit this optimization, e.g. when the function is named in an attr that's passed to a CPU-only op? (At least for tf.data, there's another chance to run optimizers in th

[2019-03-06 21:19] Zaxa13 commented on #26300
Yes, I have added the select-tf-ops.aar file and added it to my dependencies in place of the regular tensorflow lite and then cleaned and rebuilt my project.  Are there any additional steps not listed in the page you linked?

[2019-03-06 21:28] Sudeepam97 commented on #26394
Hey, a similar issue was filed a while ago, and a fix has been deployed [here](https://github.com/tensorflow/tensorflow/pull/25767). Would be available in the master branch/the next release.

[2019-03-06 21:32] ezhulenev commented on #26411
I think it's the problem in layout optimizer, function body node does not have assigned devices, but layout optimizer "approximates" the placer with https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/grappler/optimizers/layout_optimizer.cc#L574 and https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/grappler/costs/virtual_placer.cc#L82.

Current plan is to remove

[2019-03-06 21:32] ezhulenev commented on #26411
FYI internal issue for that is b/126811947

[2019-03-06 21:41] xilenteyex commented on #25724
Hi @qqfish thanks for your input. I moved the lines outside the control_dependency context and set the environment variables as you suggested. It appears to be working fine for me now (Not sure why are you still seeing a gap in your execution) as shown in the timeline below:
[timeline JSON file can be found here](https://gist.github.com/xilenteyex/d6606ddcb7a6bc3edba95d1e531cf403)
[Updated toy_mat

[2019-03-06 21:44] VictorAlbertos commented on #26365
Thanks @jdduke for th clarification. We managed to call `Interpreter::run` thread safe an the issue is fixed.

Just regular CPU. But I think we tried at some point with the GPU delegate accelerator and we found a worse performance.

[2019-03-06 21:44] #26365 closed

[2019-03-06 21:48] jdduke commented on #26300
Hmm, that might be caused by failure to actually load the library. Are you running on an x86 emulator? I believe we only ship arm64 libs for the select-tf-ops library. Can you look at the extended log for anything that mentions something like "TensorFlowLite: failed to load native library"?

[2019-03-06 21:49] puren commented on #25618
Hello,

I have the same problem.
I use:
Ubuntu 16.04
GeForce GTX 1080 Ti
nvidia driver version: 384.130

Tensorflow and other cuda related code runs without any problem.

But in Docker, I have the following problem.
When I run
`sudo docker run --runtime=nvidia -it --rm tensorflow/tensorflow:latest-gpu  python -c "import tensorflow as tf; print('Hello world')"
`
I get the following error:
`docker:

[2019-03-06 22:05] jyang356 opened #26413 "AttributeError: module 'tensorflow._api.v1.lite' has no attribute 'Optimize' version 1.13"
following the Post-training quantization guide,
[code]
i want to convert the mnist model, full code here
[code]
tf version 1.13

[2019-03-06 22:09] Zaxa13 commented on #26300
I'm running it on a pixel 2 xl, but you are correct about the error message.

`W/System.err: TensorFlowLite: failed to load native library: dalvik.system.PathClassLoader[DexPathList[[zip file "/data/app/nehartley.za.shrubnet-STg6ZQZ0cqj1gnGF4hCSXA==/base.apk", zip file "/data/app/nehartley.za.shrubnet-STg6ZQZ0cqj1gnGF4hCSXA==/split_lib_dependencies_apk.apk", zip file "/data/app/nehartley.za.shrubn

[2019-03-06 22:11] melissagrueter commented on #26371
@skye will do!

@karllessard -- we'd like to have the option to do this in a static graph. That said, we're definitely keeping an eye on your eager mode PR and are excited to see where eager mode goes in TF Java!

[2019-03-06 22:34] anisayari commented on #22512
Downgrading protobuf to 3.6.0 bring me this error, don't know who should support this fix, protobuf or tensroflow...  :
tensorflow-gpu 1.13.1 has requirement protobuf>=3.6.1, but you'll have protobuf 3.6.0 which is incompatible.

[2019-03-06 22:44] fzyzcjy commented on #19293
I am on 1.12.0. So shall I use 1.13.0, 1.14.0 or 2.0? Thanks!

[2019-03-06 22:45] ajarthurs commented on #26412
The custom post-processor appended to the said TF Lite model's outputs is causing the segmentation fault. Excluding it as demonstrated below works. But, I would like to know how or if custom operators are supported by the TF Lite calibration tool.

[code]

[2019-03-06 23:06] #26413 closed

[2019-03-06 23:10] jdduke commented on #26300
Can you look at the contents of your APK to make sure the library is present? Or can you attach the gradle rule for including the .aar?

[2019-03-06 23:20] ymodak commented on #26295
Please provide following information. Thanks!
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version (use comm

[2019-03-06 23:22] cosmir17 commented on #26133
@allenlavoie @jvishnuvardhan   Thank you for working on this feature! I really appreciate it 👍

[2019-03-06 23:23] neerajprad commented on #26338
Thanks.

`xcode-select --install` gives a "error: command line tools are already installed" so I am guessing we are good on that front. Could you elaborate on what you mean by building for Bazel 0.15.0? If I downgrade bazel, I get a complaint "Please upgrade your bazel installation to version 0.19.0 or higher to build TensorFlow!".

[2019-03-06 23:24] karmel commented on #23798
ServingInputReceivers will still be in 2.0; there will be other options for exporting (see https://github.com/tensorflow/community/pull/34 ), but ServingInputReceivers will still be necessary for Estimators. If you would like to help with documentation/examples, that would be much appreciated.

[2019-03-06 23:28] malmaud commented on #26268
Note that even adding `run_eagerly=True` to the `compile` call doesn't resolve this.

[2019-03-06 23:34] byronyi commented on #19391
Nevermind it seems to be fixed by d624b1d75a640c50be281d8b921d62dbd6149f2a.

[2019-03-06 23:35] byronyi commented on #26338
@neerajprad Could you try not to enable NUMA support in your `./configure` script? It does not support macOS right now, as suggested in [here](https://github.com/tensorflow/tensorflow/issues/19391#issuecomment-456506914).

[2019-03-06 23:39] #26404 closed

[2019-03-06 23:42] mhamdan91 opened #26414 "ResNet50 in Eager mode. Model training set to True and False"
I am using the Resnet50 code maintained under Eager Execution as is. I am using the following code for training: **_prediction = model(x, training=True)_**
When I try to validate while training, i replace **training=True** with **training=False**. This however, results in a significant change in the loss value as if the model has not been trained at all.
Can you please explain to me what is going

[2019-03-07 00:10] jvishnuvardhan commented on #17246
Closing due to lack of recent activity. Please open a new ticket when new information becomes available. Thanks!

[2019-03-07 00:10] #17246 closed

[2019-03-07 00:15] jvishnuvardhan commented on #19283
I think it was resolved. Please open a new ticket if I am wrong. Please also check this bug with the latest TF. Thanks!

[2019-03-07 00:15] #19283 closed

[2019-03-07 00:22] ymodak commented on #26348
Can you test against tf-nightly and see if the behavior still persists? Thanks!

[2019-03-07 00:35] HarryHHung commented on #26335
I had the same problem until I downgraded my Bazel to version 0.20.

[2019-03-07 00:42] jvishnuvardhan commented on #24359
I think it was resolved. I am closing the issue. Please open a new ticket if the bug persists with latest TF version. Thanks!

[2019-03-07 00:42] #24359 closed

[2019-03-07 00:43] ymodak commented on #26347
Please provide following information. Thanks!
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version (use comm

[2019-03-07 00:44] jvishnuvardhan commented on #25539
I think it was resolved. I am closing this issue. Thanks!

[2019-03-07 00:44] #25539 closed

[2019-03-07 00:49] jvishnuvardhan commented on #25772
@adt123 could you use latest TF version and follow @Sayan-Paul suggestion to solve this issue. If it was already solved, please close the issue. Thanks!

[2019-03-07 00:52] #26164 closed

[2019-03-07 00:55] jvishnuvardhan commented on #26159
I think it was resolved. I am closing the issue. Please open a new ticket when you have new information. Thanks!

[2019-03-07 00:55] #26159 closed

[2019-03-07 00:57] jvishnuvardhan commented on #26141
I think it was resolved. I am closing the issue. Please open a new ticket when new information is available. Thanks!

[2019-03-07 00:57] #26141 closed

[2019-03-07 00:58] jvishnuvardhan commented on #26139
I think it was resolved. I am closing the issue. Please open a new ticket when new information is available. Thanks!

[2019-03-07 00:58] #26139 closed

[2019-03-07 00:59] jvishnuvardhan commented on #26137
I think it was resolved. I am closing the issue. Please open a new ticket when new information is available. Thanks!

[2019-03-07 00:59] #26137 closed

[2019-03-07 01:00] henrysky commented on #25636
@jvishnuvardhan I check with the latest tensorflow 2.0.0a0 same issue is there too

[2019-03-07 01:02] alvaroslm commented on #25773
looks like a global enum value conflicting with some already defined symbol

[2019-03-07 01:06] jlebar commented on #25548
Eagerly closing this, but please reopen if you have other questions / need more assistance.

[2019-03-07 01:06] #25548 closed

[2019-03-07 01:07] jvishnuvardhan commented on #25977
@cbcase Could you try it in recent TF1.13.1 version. I don't see any error. Thanks!

[2019-03-07 01:09] deepnarainsingh opened #26416 "Installation issues with cuda10.1"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS  Linux Ubuntu 16.04:
- TensorFlow installed from (source or binary): pip install ten

[2019-03-07 01:17] anshulsamar opened #26417 "Missing warning or documentation for upcast in sparse_softmax_cross_entropy_with_logits?"
In the "sparse_softmax_cross_entropy_with_logits" function inside tensorflow/python/ops/nn_ops.py, logits that are in fp16 are automatically upcasted to fp32. At the end of the function, the result is cast back down to fp16.

This functionality ought to be exposed in documentation and/or a warning. For users doing mixed precision training, the expected behavior would be that the entire loss (softm

[2019-03-07 01:21] jekbradbury commented on #26268
I believe you need to pass `dynamic=True` to the model constructor:
[code]
Otherwise Keras assumes that your model is able to take symbolic tensors (and uses this for shape inference) even if you've asked it to compile in eager mode. This was added in https://github.com/tensorflow/tensorflow/commit/d0373dcae4810422f7575cb56a91d6695d2c4ec6, which has a little more context.

[2019-03-07 01:28] jekbradbury commented on #26268
There is a bug here, though, in that Keras should probably tell you why this is failing.

[2019-03-07 01:43] malmaud commented on #26268
Thanks, that does the trick!

There also might be a bit a documentation issue here - I don't recall this being prominently highlighted in the new tutorials and overviews of eager mode/keras.

[2019-03-07 01:52] Leslie-Fang commented on #26378
Build GCC6.3, you will get the libstdc++.so.6.0.22

[2019-03-07 01:53] jinfagang opened #26418 "How to install tensorflow2.0 in cuda9?"
Any way to specific a cuda version with tensorflow2.0 alpha version? To  reinstall cuda is really risky, cause there are many other projects based on caffe which does not support an advanced cuda

[2019-03-07 01:53] ymodak commented on #26416
Please switch to cuda 10.0 and build again since the pre compiled TF 2.0 binaries support cuda 10. Thanks!

[2019-03-07 01:58] ymodak commented on #26309
Closing this issue since its resolved. Feel free to reopen if have further problems. Thanks!

[2019-03-07 01:58] #26309 closed

[2019-03-07 02:10] neerajprad commented on #26338
I had NUMA disabled. I just pulled from master and I think this issue was recently resolved and I was able to build now without any changes at my end.

[2019-03-07 02:10] #26338 closed

[2019-03-07 02:47] Sission opened #26419 "ResourceExhaustedError (see above for traceback): OOM when allocating tensor with shape[1711991009] and type int32 on /job:localhost/replica:0/task:0/device:GPU:0 by allocator GPU_0_bfc"
I tried to run a VAE code in my new desktop. It can run the tensorflow with GPU. However, when I tried some code in github, the error comes.
Code source: https://github.com/hwalsuklee/tensorflow-mnist-VAE

System information

OS Platform and Distribution: Windows 10
TensorFlow installed from: source
TensorFlow version: 1.12
Python version: 3.6.8
Installed using virtualenv? pip? conda?: pip
Bazel v

[2019-03-07 02:56] jdduke commented on #19293
I would give 1.14.0 a try and let me know how it goes, thanks.

[2019-03-07 03:03] csukuangfj commented on #22020
https://github.com/tensorflow/tensorflow/blob/9fa3d27c4bdd534eaff88ea2c4a7119e3174dbbf/tensorflow/python/layers/core.py#L32-L33

`tf.layers.Dense` returns an instance of `class Dense`.

https://github.com/tensorflow/tensorflow/blob/9fa3d27c4bdd534eaff88ea2c4a7119e3174dbbf/tensorflow/python/layers/core.py#L116-L117
https://github.com/tensorflow/tensorflow/blob/9fa3d27c4bdd534eaff88ea2c4a7119e3174db

[2019-03-07 03:15] christopherhesse commented on #23888
I see this as well, also using mkl.

[2019-03-07 03:36] fzyzcjy commented on #19293
OK I will try that, thanks! (btw, yesterday I use another workaround, change nearest neighbor to bilinear upsampling and it works)

[2019-03-07 04:20] Ayush517 commented on #26399
@lamberta @ymodak Can anybody please redirect me to specific file that needs to be edited for fixing the issue. I tried finding it but couldn't find it.

[2019-03-07 04:28] abhajaswal commented on #23972
Same issue in 1.13

[2019-03-07 04:30] abhajaswal commented on #23972
@lorenzesz  any solution found?

[2019-03-07 04:31] YuanLinNV commented on #24061
Regarding the single-precision floating point .approx PTX instructions (namely div.approx, rcp.approx, ex2.approx, lg2.approx, sqrt.approx, rsqrt.approx, sin.approx, and cos.approx),

1.           All of them are implemented with a few straight-line hardware instructions (some of which are predicated).
2.           The non-ftz versions have a few more instructions to handle denorms, thus are slowe

[2019-03-07 04:33] abhajaswal opened #26420 "/var/lib/jenkins/workspace/19_EMBEDDED_AI_SRID/Source/tensorflow/python/eager/BUILD:10:1: undeclared inclusion(s) in rule '//tensorflow/python/eager:pywrap_tfe_lib':"
System information

OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary): source
TensorFlow version: 1.13.0rc0
Python version: 3.6.5
Installed using virtualenv? pip? conda?: pip
Bazel version (if compiling from source): 0.21
GCC/Compiler versio

[2019-03-07 04:35] jbedorf commented on #25638
The patch from Jesse seems to be the correct way to solve it. I'll submit the patch next week.

[2019-03-07 04:42] CJDennis opened #26421 "Syntax Error in Udacity example code"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-03-07 04:47] HTelepathH opened #26422 "using TFlite: ModuleNotFoundError: No module named '_tensorflow_wrap_interpreter_wrapper'"
**System information**
- Windows 10:
- TensorFlow installed from pip:
- TensorFlow version 1.12.0:
- Python 3.6.8:

Failed when trying to run a mobilenet_v1_1.0_224.tflite model using tflite. So I copy the interpreter_test.py and run it. End up with 10 fails in 12 tests, all with the same error of '_tensorflow_wrap_interpreter_wrapper'.

Also, my D:\Python 36\Lib\site-packages\tensorflow\contrib\l

[2019-03-07 05:13] rongou commented on #26155
I fixed a similar problem by using gcc 6. You can follow the instructions here (https://askubuntu.com/questions/26498/how-to-choose-the-default-gcc-and-g-version), so it shouldn't be too hard to try on ubuntu 18.04.

[2019-03-07 05:27] Ayush517 commented on #26421
If you are not using Jupyter IPython notebook, just comment out (or delete) the line, everything will work fine and a separate plot window will be opened if you are running your python script from the console.
If you want to make use of the line, install Jupyter IPython and run the notebook through that.
Let me know if the issue still exists. Thanks :)

[2019-03-07 05:38] jbobba commented on #19391
Thank you for your interest @byronyi and thanks @poxvoculi for the implementation. Quite excited to see this.

[2019-03-07 05:45] CJDennis commented on #26421
@Ayush517 Thanks! The tutorial didn't mention Jupyter anywhere that I saw. It also wasn't obvious how to get the .py code running in Jupyter, but I've got it working now!

[2019-03-07 05:50] Ayush517 commented on #26421
If it's resolved, you can close the issue 😄
Just let us know if you have any more issues. Thanks

[2019-03-07 05:59] alanpurple commented on #26155
@rongou maybe it's not too hard, but I don't think it is a good idea to downgrade which is even below the system-default version

[2019-03-07 06:05] rongou commented on #26155
I'm not saying it's a long term solution, just a temporary workaround.

[2019-03-07 06:21] Dobatymo commented on #25282
For me simply doing `pip install mock` worked...

[2019-03-07 06:34] harshita-pal opened #26425 "How to predict images using trained mobilenet model?"
Hi ,I somehow managed to train my mobile net model but i want to know with the model trained, how can i  use it to make predictions about images?
Kindly Suggest it will be a great help!

[2019-03-07 06:43] freedomtan commented on #26161
@guoyinchen I don't work for Google. @impjdi does. I just use GPU Delegate, don't have any query.

[2019-03-07 06:45] tianq01 commented on #26200
thanks @jvishnuvardhan , the issue is not related to docker env.
tf 2.0 might be heavy to try? any other suggestions that could help investigate and narrow down the problem?

[2019-03-07 06:50] saforem2 commented on #23780
@ezhulenev Unfortunately I don't have a minimal reproducible example either.

If you really think it would help, I can work on writing up a gist or walking through the steps to reproduce the error, but I think it would require cloning a (moderately sized) repository of mine.

[2019-03-07 07:03] thirdlastletter commented on #26382
ok thank you!

[2019-03-07 07:03] #26382 closed

[2019-03-07 07:10] #26421 closed

[2019-03-07 07:22] egyptdj commented on #24660
Hello, @azaks2 and @asimshankar . Is this issue on the fix by Tensorflowers or is it still pending? Sorry to make a rush, but if this issue is something that is not to be solved (or which takes a long time to solve), then I need to work on another implementation approach of the algorithm. Thanks.

[2019-03-07 07:25] minda163 commented on #11157
I think there is no connection with "Python environment", because I try it in Colaboratory, same error.

[2019-03-07 07:38] minda163 commented on #11157
But I need this lambda layer!! Do you know another solution?

[2019-03-07 07:45] anirbankonar123 opened #26429 "Cannot import tensorflow"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution  Linux Ubuntu 18.04):
- TensorFlow installed from (source

[2019-03-07 07:58] wookayin opened #26430 "Keras model saving is not working when graph is finalized"
- TensorFlow installed from (source or binary): from pip
- TensorFlow version (use command below): 1.13.1
- Python version: 3.6

TLDR) A Keras model used in a static-graph and session mode cannot save its weight when the graph is finalized.

[code]

The error is `RuntimeError: Graph is finalized and cannot be modified.` Stacktrace:

[code]

The operation being created here is:

[code]

From [`kera

[2019-03-07 08:08] wookayin commented on #26429
You should wrap the code in a fenced codeblocks using three backticks ( ``` ).

The error message says: `ImportError: libcublas.so.10.0: cannot open shared object file: No such file or directory` --- you should have CUDA 10 installed.

[2019-03-07 08:10] wookayin commented on #26430
A workaround I'm using currently is to call `model.save` once before the MonitoredSession starts, so that those VarIsInitializedOp's can be created before finalizing the graph.

[2019-03-07 08:25] csukuangfj opened #26431 "[doc] dead link in "Build and load a SavedModel""
**System information**
- TensorFlow version: master
- Doc Link: https://www.tensorflow.org/guide/saved_model

**Describe the documentation issue**

The link <https://www.tensorflow.org/tfx/guide/serving/serving_basic> for "TensorFlow serving" is no long available in the doc [Build and load a SavedModel](https://www.tensorflow.org/guide/saved_model#build_and_load_a_savedmodel)

[2019-03-07 08:40] kitmonisit opened #26432 "ImportError: librt.so.1: No such file or directory"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): RHEL6
- Mobile device (e.g. iP

[2019-03-07 08:41] nomis-g commented on #25670
I cannot speak for @wirtsi but the fact that you cannot seamlessly use `keras.applications` inside a `tf.estimator` remains a problem

[2019-03-07 08:48] nouranik commented on #26390
in advance thanks for your help. but how come to install tensorflow on python 3.7 while it is mentioned on its official website compatible with python 3.6?
I have problem with cpu version!

[2019-03-07 09:07] Kwander commented on #20930
I am facing the same issue... I want to cache a dataset X which is generates a training set Y with a reinitializable iterator going through X. Every time I reinitialize X iterator, even though I cache X, it iterates X as if there was no caching.

[2019-03-07 09:13] gargisri68 commented on #22512
I am following https://towardsdatascience.com/python-environment-setup-for-deep-learning-on-windows-10-c373786e36d1 blog and I get the following error on writing import tensorflow:
![image](https://user-images.githubusercontent.com/22957479/53945279-46258d80-40e7-11e9-8493-df8a1ea4abdc.png)
Please help.

[2019-03-07 09:27] wirtsi commented on #25670
I have been digging around this for a while, it seems to be a general problem with using Keras models in Tensorflow. I have documented my findings here:

https://stackoverflow.com/questions/54910215/tensorflow-estimator-fails-to-converge-on-model-converted-from-keras-when-using

In my case that means: Keras is totally happy to use a single neuron output layer for a binary classification task. If y

[2019-03-07 09:31] miktoki commented on #26360
#26433

[2019-03-07 09:57] Selimonder commented on #20999
I am having this error, I guess the issue is still up

`FailedPreconditionError (see above for traceback): Error while reading resource variable Adam_1/lr from Container: localhost. This could mean that the variable was uninitialized. Not found: Resource localhost/Adam_1/lr/N10tensorflow3VarE does not exist.
	 [[node Adam_1/lr/Read/ReadVariableOp (defined at <ipython-input-23-341669cfc441>:123) ]]

[2019-03-07 10:01] gustavz opened #26435 "[Tflite] Unable to convert model to tflite with uneven input dimension"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS High Sierra
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: -
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 1.13
-

[2019-03-07 10:05] sfujiwara commented on #25652
When I tried to use `TPUEstimator.export_saved_model`, I saw the same error:

[code]

Is there another way to export SavedModel from TPUEstimator?

[2019-03-07 10:06] anirbankonar123 commented on #26429
Hi,
I was using : pip3 install -U tf-nightly-gpu-2.0-preview , which is a gpu
version, and I was doing in AWS EC2 t2large CPU instance.
Now I have installed : tensorflow==2.0.0-alpha0,
Getting a diff issue: its not finding this in jupyter :ModuleNotFoundError:
No module named 'tensorflow'

Pls see log here , I am in virtualenv, and also able to print Tensorflow
version from cmd line. But the same

[2019-03-07 10:19] moritzmeister opened #26436 "tf.contrib.training.HParams domain interval support"
Hi, this is my first issue/feature request. I hope it's relevant :)

I am currently working on hyperparameter optimisation and would like to use the HParams API but in my eyes there is a feature missing. Instead of having a discrete list of values for a parameter, I would like to represent a feasible interval, from which I can take values.

**Describe the feature and the current behavior/state.**

[2019-03-07 10:21] jaekyeom commented on #21461
@nmerino Isn't this still an issue? The `tf_repo.bzl` thing is just a workaround.

[2019-03-07 10:23] patzm opened #26437 "using HParams with TPU v2 PODs broken"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.12.0
- Python version: 2.7
- CUDA/cuDNN version: 9.0 / 7
- GPU model and memory: T4, 16 GB
- TPU type: v2-32
- TPU TensorFlow

[2019-03-07 10:26] patzm commented on #26437
a hotfix would be to pass `hparams` as a `dict` like so
[code]

[2019-03-07 10:27] grayfall commented on #11157
@minda163 I've resorted to saving weigths alone and using a constructor function to build the model itself. It seems like there is no other way around this, because `pickle` can't handle closures. The devs might want to consider `dill` as a more robust alternative to `pickle`.

[2019-03-07 10:52] patzm commented on #26437
btw I am motivated to implement a fix as well. At the moment though I am not sure which way is the best. Especially because I am not aware of any reasoning behind the way it is implemented now.

[2019-03-07 10:52] kpe commented on #26394
I actually found similar issues, but non of them was XLA related. And indeed as you pointed out (#25767) the config script does no longer allow building TF with compute capability bellow 3.5. Even it looks like if XLA is disabled TF could still be built and function properly with capability 3.0.

[2019-03-07 11:01] Ayush517 commented on #26432
Can you please let me know the output of following:
$ LD_LIBRARY_PATH=/home/kmonisit/.linuxbrew/lib:$LD_LIBRARY_PATH python3 -V

[2019-03-07 11:06] Ayush517 commented on #26429
Did you install tensorflow from source? Are you running jupyter from the source directory?
You need to run Jupyter notebook from source directory. Or if you are using a virtual environment(venv), you need to install Tensorflow in that too in order for Jupiter notebook to import it.
Let me know if this resolves your issue. Thanks :)

[2019-03-07 11:12] Ayush517 commented on #26425
@harshita-pal Can you please try going through this [Link](https://www.tensorflow.org/hub/tutorials/image_retraining). It contains step-by-step procedure and instructions to manage the model.
Let us know if you still need help 😄

[2019-03-07 11:24] ChristelSwift commented on #23410
i have the same issue with a fresh install of everything (keras / tensorflow...) but via RStudio. any idea how to solve this in R?

[2019-03-07 11:26] anirbankonar123 commented on #26429
Pls see here the steps:
I am activating venv, and the fact its activated is proven by the
tensorflow version which i can print out from cmdline:
ubuntu@ip:~$ source activate venv
(venv) ubuntu@ip:~$ python3 -c "import tensorflow as tf;
print(tf.__version__); "
2.0.0-alpha0
(venv) ubuntu@ip:~$ jupyter notebook

but then the same error msg : ModuleNotFoundError: No module named
'tensorflow'

Cant be

[2019-03-07 12:08] Squadrick commented on #24410
@skye Sorry about the delay, I've created a PR with a barebones implementation. I'll add faster algorithms and test cases over the next few hours.

[2019-03-07 12:16] Sagarsharma4244 opened #26441 "Tensorboard not opening in jupyter notebook"
I am trying to open tensorboard inside jupyter notebook with the command
`% tensorboard --logdir keras`.
But I am getting
**localhost refused to connect.**
Specifications:

- Jupyter notebook= 5.7.5
- Python = 3.6.7
- Windows =10
-  tensorflow = 2.0.0-alpha0

**Code**
[code]

[2019-03-07 12:25] Ayush517 commented on #26429
@anirbankonar123 If you really want to reinstall, I would recommend you to install via Anaconda. It'll be much easier to manage your packages through that.

[2019-03-07 12:26] gargisri68 commented on #22823
![image](https://user-images.githubusercontent.com/22957479/53956677-4a12d900-4102-11e9-8c0a-b062efa3d363.png)

I cannot import tensorflow.

[2019-03-07 12:35] gargisri68 commented on #10033
(TenKer) C:\Users\DELL7810>python
Python 3.6.8 |Anaconda, Inc.| (default, Feb 21 2019, 18:30:04) [MSC v.1916 64 bi
t (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "C:\Users\DELL7810\Anaconda3\envs\TenKer\lib\site-packages\tensorflow\pyt
hon\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.py

[2019-03-07 13:07] Ayush517 commented on #26304
@pbcubes Any progress?

[2019-03-07 13:16] MiloslavPalaxo opened #26442 "TFLite LSTM example produces different results for Lite and for standard Tensorflow for variable length input."
I have extended the LSTM example for TFLite `unidirectional_sequence_lstm_test.py` in `tensorflow/tensorflow/lite/experimental/examples/lstm` and it returns different results for standard Tensorflow and Tensorflow Lite.

The example project is available here: [https://github.com/MiloslavPalaxo/tflite-lstm-text](https://github.com/MiloslavPalaxo/tflite-lstm-text)

**System information**
- OS Platfo

[2019-03-07 13:21] codexponent commented on #22750
This error had troubled me for days. I also tried with the nightly tf build, it worked but it cost me hard cause I had to update so many dependencies as well as the CUDA version (which I shouldn't have). So, I reverted back and tried to solve the problem.
Actually the problem was that i was running the training command from the script. Weird. This had not been the problem for me before.
Example: r

[2019-03-07 13:26] Ayush517 commented on #26441
Hi @Sagarsharma4244, It's working absolutely fine on my system.
Maybe a host based firewall has been set to block all TCP ports or block IP 127.0.0.1 localhost. Maybe, You need to reboot the machine to clear O/S issues. Try resetting your network adapters too.
Let me know how it goes. Thanks :)

[2019-03-07 13:43] ttdd11 commented on #26227
@HarryHHung did you build tensorflow_cc.dll for windows?

[2019-03-07 13:50] raymondpittman opened #26444 "Tensorflow.js API documentation example issue line 19, incorect code, build error"
In the object callback on **line 19** in the bottom example on this page:
[See-sample-code-for-node.js-usage](https://www.tensorflow.org/js/tutorials/setup#see-sample-code-for-node.js-usage) has a little error.

`onEpochEnd: (epoch, log) => console.log(`Epoch ${epoch}: loss = ${log.loss}`);`

`onEpochEnd: (epoch, log) => console.log(`Epoch ${epoch}: loss = ${log.loss}`)`

[code]

`v11.11.0`

[2019-03-07 13:54] Ayush517 commented on #26418
@jinfagang Is there any version of Tensorflow already installed on your system?

[2019-03-07 13:58] cheneyoung commented on #22360
I faced the same problem and solved it with  adding  "import tensorflow.contrib.tensorrt " in the code

[2019-03-07 13:58] nxphi47 commented on #26383
Also have this issue

[2019-03-07 13:59] whyseu opened #26445 "How to install TF_GAN"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Win7 x64
- Mobile device (e.g.

[2019-03-07 14:02] Ayush517 commented on #26445
@whyseu Please follow this [Link](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/gan). Let us know if this helps or if there's something we can do. Thanks 😄

[2019-03-07 14:06] pbcubes commented on #26304
I fixed it after reinstalling it.

On Thu, Mar 7, 2019 at 8:11 AM Ayush Agrawal <notifications@github.com>
wrote:

[2019-03-07 14:06] #26304 closed

[2019-03-07 14:10] ttdd11 commented on #23342
@jesen8 were you able to build tensorflow_cc.dll?

[2019-03-07 14:11] keyyuki opened #26446 "tensorflow 1.13.1: module 'tensorflow._api.v1.keras.applications' has no attribute 'resnet'"
Hi every one

I have used Google Colab and when use keras resnet, it raise this error: module 'tensorflow._api.v1.keras.applications' has no attribute 'resnet'

my code

[code]

my tensorflow is 1.13.1, as default of google colab

Other keras application like Mobinet, VGG16 still work fine

Thank for you help

[2019-03-07 14:11] Ayush517 commented on #26405
@nfelt Can you please help me understanding this issue a little better. So, basically the main thing we need to do here is changing all occurrences of tf.summary with tf.compat.v2.summary and tf.contrib.summary migrated with tf.compat.v2.summary. Did I understanding this correctly?

[2019-03-07 14:13] sabas1080 opened #26447 "Add SAMD21 or SAMD51 TensorFlow Lite for Microcontrollers"
A widely used platform is the SAMD21 and SAMD51 family with a large number of development boards
https://www.adafruit.com/product/4064
https://www.adafruit.com/product/2772
https://www.sparkfun.com/products/13672

Support:
- C++11
- Arduino
- Circuitpython
- Makecode
- Rust

they should be considered to be ported

**System information**
- TensorFlow version (you are using): Lite
- Are you willing

[2019-03-07 14:16] Ayush517 commented on #26446
@keyyuki Can you please add this line and try again :
from keras.applications.resnet import ResNet50

Let us know how it proceeds. Thanks :)

[2019-03-07 14:24] keyyuki commented on #26446
@Ayush517
[code]
and it said

[code]

[2019-03-07 14:26] Zaxa13 commented on #26300
Inside the APK there is libtensorflowlite_flex_jni.so inside /lib/amreabi-v7a, so I assume that is what you are referring to as I can find no other files referencing tensorflow.
In build.gradle I added the line
`implementation project(':tensorflow-lite-with-select-tf-ops')`
to import the new module.  Is this what you mean?

[2019-03-07 14:27] DecentGradient commented on #25731
This is resolved in the alpha, closing

[2019-03-07 14:27] #25731 closed

[2019-03-07 14:33] peggy0135 opened #26448 "cpu build failed with openmpi"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution : ubuntu 18.04 (64-bit FriendlyDesktop image file based on

[2019-03-07 14:37] HarryHHung commented on #26227
No, I only have built a whl for python.

[2019-03-07 14:42] EivindArvesen opened #26449 "[tensorflow.org] Site not working; Potential service worker issue"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version:
- Doc Link: https://www.tensorflow.org

**Describe the documentation issue

[2019-03-07 14:44] Ayush517 commented on #26446
Please try this before import:
!pip install keras --upgrade
!pip install Keras-Applications

[2019-03-07 14:50] Ayush517 commented on #26448
Can you please try doing this :
sudo apt install libopenmpi-dev
pip install mpi4py

[2019-03-07 15:02] reinert commented on #26227
I finally got it! After 3 weeks trying :)

Thank you @gunan and @HarryHHung for the valuable tips.

I'm now haing an issue to build the whl. Here's the error:
[code]

[2019-03-07 15:03] armando-fandango commented on #26303
IF someone is willing to contribute and maintain, I propose that we move this to tf.addons for now.

[2019-03-07 15:12] keyyuki commented on #26446
@Ayush517
I think it keras, not tensorflow.keras
so after install, i run

[code]
print
[code]
and continue

[code]

it still error
[code]
note that, I run on google colab, GPU, python 3

[2019-03-07 15:22] HarryHHung commented on #26227
I have seen the 0-byte issue before.

https://stackoverflow.com/questions/52394305/creating-pip-package-for-tensorflow-with-gpu-support-results-in-0-byte-simple-co/

[2019-03-07 15:25] jvishnuvardhan commented on #26449
@eivind88 It is working on my Mac without any problem. Could you check it by clearing cache and reload it. Thanks!

[2019-03-07 15:47] eivind88 commented on #26449
Emptied cache, and did a hard reload and got the site.

Did another normal reload – same error.

Restarted Safari, and it's the same thing.
Can only seem to get the new site when ignoring cache and reloading using <kbd>alt</kbd>+<kbd>cmd</kbd>+<kbd>R</kbd> (no hero-graphics, though) – every normal reload gives me the same error. Emptying my cache does nothing.

I'm thinking there's been an error w

[2019-03-07 15:50] eivind88 commented on #26449
This seems related:
https://github.com/angular/angular/issues/26500

[2019-03-07 15:52] peggy0135 commented on #26448
fix by creating the links in thirdparty/mpi manually

[2019-03-07 16:02] pldelisle commented on #8535
Same here. Problem using FP16 with tf.keras.layers.BatchNormalization.

Using TensorFlow 1.13.1 in Eager mode.

`tensorflow.python.framework.errors_impl.InvalidArgumentError: cannot compute Mul as input #0(zero-based) was expected to be a float tensor but is a half tensor [Op:Mul] name: model/u_net_block/convolution3d/batch_normalization_v1/batchnorm/mul/`

[2019-03-07 16:08] nouranik opened #26451 "cpu tensorflow win: 7, DLL load failed with error code -1073741795"
Please make sure that this is a build/installation issue. As per our GitHub Policy, we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template

System information

OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win 7
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
TensorF

[2019-03-07 16:08] nouranik opened #26452 "cpu tensorflow win: 7, DLL load failed with error code -1073741795"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-03-07 16:08] #26452 closed

[2019-03-07 16:15] woodshop opened #26453 "Allow py_function to support functions that return RaggedTensor"
**System information**
- TensorFlow version (you are using): 1.13.1
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
`py_function` only supports functions that return `Tensor`s. However the wrapped function is executed in eager mode and therefore ideally should support other return types consistent with eager mode. As of tf-1.13.1, `py_funct

[2019-03-07 16:18] ezhulenev commented on #23780
I'll try to work on a fix, I'll let you know when it will be in master, so you could test it.

[2019-03-07 16:23] jdduke commented on #26300
Is your project configured to use arm32? How exactly did you build the .aar?

[2019-03-07 16:28] Ayush517 commented on #26446
import tensorflow as tf
from keras.applications import ResNet50 as ResNet50
from keras.optimizers import Adam as Adam
model = ResNet50(weights=None,classes=4, input_shape=(150,150,3))
model.compile(optimizer=Adam(0.01), loss='binary_crossentropy', metrics=['accuracy'])

This works for me. I am not sure if it's the correct way of doing it or just a hack. Can you please see if your issue is resolved

[2019-03-07 16:31] jvishnuvardhan commented on #26431
@csukuangfj Correct two links are not working.
1. First "Tensorflow Serving" in this [section](https://www.tensorflow.org/guide/saved_model#build_and_load_a_savedmodel) . -- this is what you found.
2. "instructions" in this [section](https://www.tensorflow.org/guide/saved_model#load_and_serve_a_savedmodel_in_tensorflow_serving).
Thanks for pointing them. We will take care of them. Thanks!

[2019-03-07 16:36] Ayush517 commented on #26451
@nouranik Can you please tell the template. Please provide details about what platform you are using (operating system, architecture), your TensorFlow version, did you compile from source or install a binary. Make sure you also include the exact command if possible to produce the output included in your test case.
It is really difficult to help without this information. Thanks!

[2019-03-07 16:43] keyyuki commented on #26446
ok I see
my code
keras.applications.resnet.ResNet50

and your code
keras.applications.ResNet50

You dont have resnet.ResNet50, and it run. But as document at https://www.tensorflow.org/api_docs/python/tf/keras/applications

they said read at https://github.com/keras-team/keras-applications and read at https://keras.io/applications/

in https://keras.io/applications/#resnet

keras.applications.resn

[2019-03-07 16:49] JianbangZ commented on #25841
@gustavz I couldn't find any documents teaching running posenet on Android with the given tflite model file. Do you know the image input size for the given "multi_person_mobilenet_v1_075_float.tflite"?

[2019-03-07 16:52] Ayush517 commented on #26446
Yeah, it's different than the document on their official website. Did the code resolved your issue? Is it working the way you were expecting it to?

[2019-03-07 16:54] jvishnuvardhan commented on #26445
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-03-07 16:54] #26445 closed

[2019-03-07 17:05] keyyuki commented on #26446
ok, it run now, thank you so much

[2019-03-07 17:09] wendy2003888 opened #26454 "[Bug report] wrong container setting in OpsTestBase::AddResourceInput, easily fix"
File: tensorflow/core/kernels/ops_testutil.h
Class: OpsTestBase
Function: [AddResourceInput](https://github.com/wendy2003888/tensorflow/commit/18b867eabd1bb8f3540ee56a8f47f96d9f3bc20d)

resource container set to empty when using default container.

Due to CLA problem,  I can't contribute rn.
Please review pull reques [#26428](https://github.com/tensorflow/tensorflow/pull/26428)  from ppwwyyxx.

Th

[2019-03-07 17:11] Ayush517 commented on #26446
Your welcome 😄
Let us know if face any other issues. You can close this issue now.

[2019-03-07 17:34] ymodak commented on #26160
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-03-07 17:34] #26160 closed

[2019-03-07 17:34] ymodak commented on #26258
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-03-07 17:34] #26258 closed

[2019-03-07 17:40] Ayush517 commented on #23366
@JasonQRY If you are using linux in Virtual Machine, try giving it more RAM (approx. 4 gigs or more). Android Studio is itself a very heavy software and takes a lot of time even on real systems. If possible, try building Gradle on a real system instead of virtual machine.
Let me know how it proceeds :)

[2019-03-07 17:41] ttdd11 commented on #22047
@Steroes I'm using your script to build tensorflow_cc.dll.

I get link errors when testing in my app. I added the symbols to tf_exported_symbols_msvc and place that file in source->tensorflow along with tf_exported_symbols and other files. After recompiling I get the same link errors. Is this the correct file location? Doesn't look like my changes to this file are sticking or something.

[2019-03-07 18:12] ymodak commented on #25694
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-03-07 18:12] #25694 closed

[2019-03-07 18:16] ghostplant commented on #26318
I think the solution should be extending an `loop_forever` for struct `RunOptions`, and if it is enabled, the `RunAsync` implementation in `direct_session.cc` could be looping executed.

Another advantage for support `loop_forever` is that it could fully replace the Tensorflow C++ programming which is very uncommon (also, complex tool chain is needed, source code is needed, building takes too much

[2019-03-07 18:23] kmaci3k commented on #23613
Option 2: instead of --config=opt, use -c opt can work for me (based on tensorflow 1.12)

[2019-03-07 18:26] MarkDaoust commented on #26431
Both fixes are in the source files, there will be some delay to push to the site.

[2019-03-07 18:26] #26431 closed

[2019-03-07 18:36] xiaoyTed commented on #26452
hello! how can you solve this problem?

[2019-03-07 18:43] jvishnuvardhan commented on #26425
@harshita-pal In future, Please post this kind of support questions in stackoverflow. We would like to keep GitHub less cluttered for open source developers. Close the issue as soon as possible. Thanks!

[2019-03-07 19:06] yongwww opened #26455 "where are the conflow flow ops like abort used?"
Previous, TF control flow primitives are Switch, Merge, Enter, NextIteration, and Exit, we can see them in a simple while_loop graph. Currently, in your r1.13 and r2.0 [docs](https://www.tensorflow.org/versions/r2.0/api_docs/cc/group/control-flow-ops), seems the control flow ops changed a lot, how could I see this ops in a graphdef? are they still in while_loop and cond?

[2019-03-07 19:09] qqfish commented on #25724
Yes, it should be safe. We may turn this feature on by default recently.

Previous we use one thread on GPU to compute CPU ops and schedule kernels on GPU. These variables create a private scheduling thread for each GPU. Then we don't need to do everything in one thread.

There are two gap in the original timeline: (1) between MatMul and MemCPYPtoP (2) between MemCPYPtoP and MatMul_2. The environm

[2019-03-07 19:34] yongwww commented on #26455
Tried to use while_loop and tf 2.0, the graphdef is still the same as previous tf versions, haven't seen abort, RefNextIteration, RefSelect, RefSwitch. Please help share a simple model example which uses these ops in your new docs.

[2019-03-07 19:41] hamidmaei opened #26456 "sparsetensor-input in the form of ids and values as FeatureColumns for tf.estimator use"
I have been struggling with this issue for a while and in TF Dev Summit 2019, also brought it with @mrry who helped me a lot but still it is a fully unresolved issue.

I have input data in the form of ids and values; that is sparse representation for a giant input feature whose non-zero element indices are stored in ids and corresponding values are stored in values. I would like to use estimators

[2019-03-07 20:08] Rajkiran93 commented on #23410
Even Im using python 3.7, can you try installing pip install tf-nightly, because it solved my problem

[2019-03-07 20:19] wookayin commented on #1763
I just ran into this issue, which is a very long-standing bug that presents even these days (TF 1.13.x and 2.0). I strongly suggest it should be fixed (with some breaking changes in behavior) at TF 2.0, and the issue remain open. I will come up with a suggestion for improving API soon.

[2019-03-07 20:21] eldar commented on #26322
The problem is very much related to #23873

[2019-03-07 20:30] nehaljwani opened #26458 "TypeError in test files"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below): 1.13.1
-

[2019-03-07 20:48] timotei commented on #23341
@hgadig Hello,

I am using CUDA 10.0, with cudnn-10.0-windows10-x64-v7.5.0.56.zip, and tensorflow-gpu-1.13.1, and I get the same issue:

[code]

[2019-03-07 21:08] jvishnuvardhan commented on #26446
@keyyuki using tf.keras works as you expected. Just for your information, if you upgrade to TF2.0, try to use tf.keras instead of keras as most of the functionality is still work-in-progress in Keras.

import tensorflow as tf
#from tensorflow import keras

model = tf.keras.applications.resnet50.ResNet50(weights=None,classes=4, input_shape=(150,150,3))
model.compile(optimizer=tf.keras.optimizers.Ad

[2019-03-07 21:08] #26446 closed

[2019-03-07 21:30] gounthar opened #26459 "TensorFlow 1.13.1 with Docker under Raspbian Stretch"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: Docker version 18.09.0, build 4d60db4 on top of Linux stf

[2019-03-07 21:33] jvishnuvardhan commented on #26458
@nehaljwani Could you provide more details on the issue and context? Could you check whether it is persisting with the TF.20? Thanks!

[2019-03-07 21:39] nehaljwani commented on #26458
What is TF.20 ?

[2019-03-07 21:41] nehaljwani commented on #26458
I am curious, do you folks not test your builds before releasing making a release/releasing wheels?

This is what I ran:
[code]

[2019-03-07 22:04] alsrgv opened #26460 "GPU Device Selector in TensorFlow 2.0"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0
- Are you willing to contribute it (Yes/No): Happy to

[2019-03-07 22:08] hgadig commented on #23341
@jvishnuvardhan  Could you PTAL.

[2019-03-07 22:16] ymodak commented on #26414
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-03-07 22:16] #26414 closed

[2019-03-07 22:18] jvishnuvardhan commented on #26458
@nehaljwani Sorry for the typo. I meant TF 2.0. We do lot of testing before releasing. Thanks!

[2019-03-07 22:27] mikeza commented on #26368
It appears the function signature will need to be modified in the python section as well as the core/ops section and the skip_empty functionality will need to be implemented in the core/kernels section.

@dynamicwebpaige, just to be clear, the skip_empty specifies that the function will not return empty strings in the list of resulting strings?

[2019-03-07 22:29] jaingaurav commented on #26460
Duplicate of #25446

[2019-03-07 22:31] hamatake commented on #26084
Unfortunately that change was rolled back because it didn't actually fix
the build in question. This dropped off my radar for awhile but it's back
on. I've reproduced the link failure on a windows machine and am working on
a fix.

On Fri, Mar 1, 2019 at 3:35 PM Amit Patankar <notifications@github.com>
wrote:

[2019-03-07 22:31] jvishnuvardhan commented on #23341
@timotei It looks like GPU options are not correct (either in build or in the code). Could you share the code to reproduce the bug? Thanks!

[2019-03-07 22:33] reedwm commented on #8535
@JustASquid and @pldelisle , thank you for the bug reports. This has been fixed in 192b618b9d3f149c98e3b72dd872f5ecc4f79c67. This fix is not in TF 1.13, but will be in the next stable release.

[2019-03-07 22:35] guptapriya commented on #26460
@jaingaurav is a replacement for setting `visible_device_list` on your radar? I ask because I think Alex said there are some technical difficulties in implementing it.

[2019-03-07 22:40] jvishnuvardhan commented on #26451
Thanks @Ayush517
@nouranik Please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. It would be great if you can provide a small code to reproduce

[2019-03-07 22:52] pldelisle commented on #8535
@reedwm If I compile Master will I have the fix? Is it merged?

Thanks !

[2019-03-07 22:58] reedwm commented on #8535
@pldelisle yes you will, it is merged.

[2019-03-07 23:01] jaingaurav commented on #26460
@guptapriya: It is on my radar, but I need to still sync up with @alextp on the potential issues.

[2019-03-07 23:51] tensorflowbutler commented on #13530
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-07 23:51] tensorflowbutler commented on #23096
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-07 23:55] soylisK commented on #22056
I get the same problem after updating, before update everything was running with no problem
could not create cudnn handle: CUDNN_STATUS_NOT_INITIALIZED
possibly insufficient driver version: 410.104.0

I am using ubuntu-18.04LTS, python3.6.7, tensorflow 1.9, I've install it by using bazel -0.17.2 build from source, cuda 10.0, cudnn-7.5.0 and my gpu is titan xp

Any ideas? Maybe rollback to an older

[2019-03-08 00:00] jvishnuvardhan commented on #26429
@anirbankonar123 I don't see any issue. check the image [here](https://screenshot.googleplex.com/d9OAKP6x4E8).

By default, when you enter like (venv) ubuntu@ip:~$ jupyter notebook, a jupyter dashboard opens up like [this](https://screenshot.googleplex.com/beEJn01vtqg)
then go to your venv folder like [this](https://screenshot.googleplex.com/5HVwQCUf69A). Then run the commands. It will work. Pleas

[2019-03-08 00:03] pavithrasv commented on #26268
Thank you @jekbradbury for the quick response on this! We will definitely need to throw an error explaining the issue here. I will look into that.

@malmaud I agree that this is not documented well. This concept is very new and we are working to see if we can remove the need for this hence the lack of documentation.

[2019-03-08 00:14] nfelt commented on #26405
So this issue is for tracking making the migration tooling and docs better, not for actually documenting the migration paths in the issue itself.

But the short version is that if you're using tf.contrib.summary, the new TF 2.0 API is pretty similar except that recording is on by default so you don't need always_record_summaries() any more.  If you're using tf.summary, the calls to `scalar()`, `hi

[2019-03-08 00:23] kitmonisit commented on #26432
[code]

[2019-03-08 00:34] zmjjmz opened #26461 "[TF2 Upgrade] contrib usage and several other TF 1.x APIs uncaught by TF2 upgrade script"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Debian 8
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): pip binary
- TensorFlow version (use command below):

[2019-03-08 00:41] kitmonisit commented on #26432
Just came back to the office and the compilation I did last night completed successfully. To compile Tensorflow, here's what I did:

[code]

[2019-03-08 00:52] Silb78dg commented on #26222
Hey @jsimsa, that's the issue we were discussing during tf dev summit.

Thanks for your help.
Denis.

[2019-03-08 00:56] jperl commented on #13148
I am collecting data during the training process and using `Dataset.from_tensor_slices` with placeholders and an initializable iterators to update the placeholders periodically with numpy arrays.

Initializable iterators are deprecated now, so what is the recommended pattern for dynamic numpy arrays. Should we switch to using a generator?

[2019-03-08 00:56] carlini commented on #23166
@azaks2 is there something we can do to help this move along?

[2019-03-08 01:17] piewchee opened #26462 "glibc"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-03-08 01:53] qlzh727 commented on #26442
Thanks for reporting the issue, I am the owner of TF RNN API, but the lite part of that was worked by another engineer. I have forwarded this issue to him, and probably he will reply here.

Also its unclear to me that what modification has been make to the original example and cause the test to fail. Can u make it more clear to us so that we can do the troubleshoot?

One of the difference I can th

[2019-03-08 01:58] ziyuwzf commented on #23007
my is tensorflow-gpu==1.12，tensorflow-estimator==1.13，i change  tensorflow-estimator==1.10.12

[2019-03-08 02:02] edwardCao opened #26463 "Load data tutorial model fails to converge"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version:
- Doc Link:

site/en/tutorials/load_data/images.ipynb

*Describe the docum

[2019-03-08 02:03] edwardCao commented on #26463
BTW I ran only on colab with GPU.

[2019-03-08 02:13] minda163 commented on #11157
Did you fixed it. I have the same error?

[2019-03-08 02:43] guikarist commented on #22047
@ttdd11 You didn't apply the patch my script applied automatically. (e.g. [for Tensorflow 1.12.0](https://github.com/guikarist/tensorflow-windows-build-script/blob/master/patches/cpp_symbol.1.12.0.patch))

[2019-03-08 03:12] allendred opened #26464 "segment erro:tensorflow/tensorflow/examples/label_image/main.cc"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-03-08 03:13] allendred commented on #26464
I make a mistake
here
https://github.com/tensorflow/tensorflow/blob/5fad2f50d610fdb765f4f99c7e0531b7a3ddbe94/tensorflow/examples/label_image/main.cc#L103

[2019-03-08 03:15] crisnv commented on #10250
Any news on this topic?
I am getting a list of unbound inputs:
if not input_map or v not in input_map]))
ValueError: Graph contains unbound inputs: $unbound_inputs_tower_0/IteratorGetNext,$unbound_inputs_cnn/conv_1/kernel/read,$unbound_inputs_cnn/conv_1/bias/read,$unbound_inputs_cnn/conv_2/kernel/read,$unbound_inputs_cnn/conv_2/bias/read,$unbound_inputs_linear_layer/linear_cnn/kernel/read,$unbound

[2019-03-08 03:19] allendred commented on #26464
If I commente out this ，it's ok.

[2019-03-08 03:22] bingyuanlee opened #26465 "Wrong built-in precision metric for estimator"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Y
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below): 1.13.0

[2019-03-08 03:29] ymodak commented on #26462
Closing this issue due to lack of information. Please provide all the information asked by the template and post an issue again from here. Thanks!

[2019-03-08 03:29] #26462 closed

[2019-03-08 03:36] ghego commented on #26244
Thanks @robieta for looking into this. Keep in mind that:
1) this only happens in eager mode, if I use `tensorflow.compat.v1.disable_eager_execution()` no error is shown
2) in this case, the code executes but I suspect all variables are created on the GPU regardless of the context setter because training runs really fast

[2019-03-08 03:37] ghego commented on #26245
Thanks @qlzh727, let me know if I can help you with anything.

[2019-03-08 03:49] egolearner opened #26466 "Java API can not create empty tensor"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):MAC OS 10.14.1
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:NO
- TensorFlow installed from (source or binary):binary
- TensorFlow version (use command below):1.8
- Python

[2019-03-08 03:59] leemgs opened #26467 "[CI] The PR Checks of TenrsorFlow are broken."
It is strange. It seems that the PR Checks are suddenly broken. Anyone why this issue is still not fixed?
As you can see, Many PRs have been not reviewed by reviewers because the Tensorflow CI facilities are still a running status. BTW, Why this issue is generated? What is a possible reasons? Who is in charge of the CI facilities of the TensorFlow github repository?

[code]

* Screenshot:

![image

[2019-03-08 04:10] saif-ellafi opened #26468 "Tensorflow.loadLibrary() not working on Windows"
Running:

`TensorFlow.loadLibrary("ner-dl/win/_lstm_ops.so")`

Returns:

[code]

We're trying to load contrib .so files dynamically from java API. These .so files are generated on Windows by installing tensorflow through pip. Using python 3.6.8 to do so and retrieving them from the library source code. These libraries are from tensorflow.contrib, since this is what we're using on our graphs. To me

[2019-03-08 04:30] airlrj commented on #26442
Hi, can you sync pass https://github.com/tensorflow/tensorflow/commit/dc3900a96964a5174a591fdcf67242d62ba05947#diff-24bb9d73def4fa712275769dcffb18b8

and try again?

Thanks a lot!

[2019-03-08 04:41] tatianashp commented on #26222
@jsimsa - will you look into this issue?

[2019-03-08 04:51] tatianashp commented on #24033
Is this issue still relevant? There has been no activity since early December.

[2019-03-08 05:01] ahatamiz commented on #24410
Great job !  How would we be able to access this custom_op ?

[2019-03-08 05:29] csukuangfj opened #26469 "[doc]: dead link in "Recurrent Neural Networks""
**System information**
- TensorFlow version: master
- Doc Link: https://www.tensorflow.org/tutorials/sequences/recurrent#language_modeling

**Describe the documentation issue**

The link <https://catalog.ldc.upenn.edu/ldc99t42> for " Penn Tree Bank" is no long accessible.

The correct URL might be https://catalog.ldc.upenn.edu/LDC99T42 , that is, upper cases for "LDC99T42"