[2020-09-06 17:38] Saduf2019 commented on #42988
@
I ran your code on tf 2.3 and tf-nightly the error does not exist, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/09c7bdfcd06ffabb2e9972f027d7170a/untitled402.ipynb). Please feel free to move the issue to closed status as the issue is resolved is latest versions of tf.

[2020-09-06 17:40] chipxx commented on #43000
Hi, my CPU is 64 bits python I don't no.

[2020-09-06 17:43] gowthamkpr commented on #37072
@sreeni5493 You can follow the following [tutorial1](https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/training.html) and [tutorial2](https://towardsdatascience.com/how-to-train-a-tensorflow-2-object-detection-model-25d4da64b817) to train your custom model using object detection API. If you have more questions, please post it in tensorflow/models repo as this issue is more

[2020-09-06 17:43] #37072 closed

[2020-09-06 17:49] gowthamkpr commented on #40310
@Goofy-G As per your comment [here](https://github.com/tensorflow/serving/issues/1719#issuecomment-677831238), I am closing this issue as it has been resolved. Thanks for the update.

[2020-09-06 17:52] Saduf2019 commented on #42981
@faniiiiii
Can you please fill in the issue template with system details, complete code for us to replicate and tf version used so we could help you resolve the issue reported. [you may refer to [this link](https://stackoverflow.com/questions/56646940/how-to-properly-saving-loaded-h5-model-to-pb-with-tf2)] #40869

Please try : [try to replace tf.keras.backend.get_session() with tf.compat.v1.keras.

[2020-09-06 17:56] Saduf2019 commented on #42975
@acxz
Please confirm if this is a duplicate of #42081

[2020-09-06 18:11] KishoreKonakanti commented on #14475
@Harry-KIT ,

please set the gpu numbers to the process... you can do this in multiple ways as per the context:

- dlib:
[code]
- OPENCV
`   cv2.cuda.setDevice(<gpu number>
`- More generic method
[code]

Hope this helps :+1:

Thank you.

[2020-09-06 18:12] bhack commented on #43000
What Is the output of:

[code]

[2020-09-06 18:21] acxz commented on #42975
Not a duplicate, #42081 has already been addressed with #42095
Essentially the problem boils down to hip_hcc is not included in ROCm anymore. (it was in 3.5 but is not in 3.7)

[2020-09-06 18:35] COTASPAR opened #43001 "NXP FRDM K66F example for micro speech does not even build"
System information

    OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
    TensorFlow installed from (source or binary): source
    TensorFlow version: bfc8733
    GCC/Compiler version (if compiling from source): arm-none-eabi-g++ 8.2.1

The example I'm running can be found here:

https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/micro/examples/micro_speec

[2020-09-06 18:54] chokosabe commented on #17702
I can confirm this bug is very much still there. What makes it worse is a lot of the tf-agents example scripts out there have the bug baked in... It really needs fixing....

[2020-09-06 19:09] jwlm-home opened #43002 "Tf.Variable handling when tf.function is set appears unfixably broken"
-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: Yes
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS 10.15.6
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
    happens on a mobile device**: No
-   **TensorFlow installed from (source or binary)**: binary
-   **TensorFlow version (use command

[2020-09-06 19:20] chipxx commented on #43000
C:\>python --version
Python 3.6.0

C:\>python -m pip list
Package                Version
---------------------- ---------
absl-py                0.10.0
astunparse             1.6.3
backcall               0.2.0
cachetools             4.1.1
certifi                2020.6.20
chardet                3.0.4
colorama               0.4.3
cycler                 0.10.0
decorator              4.4.2
gast

[2020-09-06 19:24] bhack commented on #43000
What is the failed command?

[2020-09-06 19:29] bhack commented on #43002
Is this still in the cluster of https://github.com/tensorflow/tensorflow/issues/42183#issuecomment-671522699?

[2020-09-06 19:31] bhack commented on #43000
Is this working?
[code]

[2020-09-06 19:34] chipxx commented on #43000
I wrote it on top.
"**import keras**" then gives me

[2020-09-06 19:36] bhack commented on #43000
You need to import Keras from Tensorflow as in my example.

See also https://github.com/tensorflow/tensorflow/issues/42961

[2020-09-06 19:42] chipxx commented on #43000
`Python 3.6.0 (v3.6.0:41df79263a11, Dec 23 2016, 08:06:12) [MSC v.1900 64 bit (AMD64)] on win32
Type "copyright", "credits" or "license()" for more information.

Traceback (most recent call last):
  File "<pyshell#0>", line 1, in <module>
    import tensorflow as tf
  File "C:\Python36\lib\site-packages\tensorflow\__init__.py", line 41, in <module>
    from tensorflow.python.tools import module_ut

[2020-09-06 19:57] bhack commented on #43000
This is a different issue. Can you try with python 3.6.1?

[2020-09-06 20:00] chipxx commented on #43000
I will now try

[2020-09-06 20:10] chipxx commented on #43000
I upgraded to python 3.6.1 but the error is always there.
`Python 3.6.1 (v3.6.1:69c0db5, Mar 21 2017, 18:41:36) [MSC v.1900 64 bit (AMD64)] on win32
Type "copyright", "credits" or "license()" for more information.

Traceback (most recent call last):
  File "C:\Python36\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 64, in <module>
    from tensorflow.python._pywrap_tensorflow_inte

[2020-09-06 20:45] bhack commented on #43000
Can you check if you are compliat with Windows requirements at https://www.tensorflow.org/install/pip?hl=en#windows

[2020-09-06 21:16] kukuquack opened #43003 "ImportError: DLL load failed: The specified module could not be found."
### System information

-   **just written import tensorflow**
-   **Windows 10**
-   **TensorFlow installed from pip**
-   **TensorFlow version: Latest**
-   **Python version**: 3.7.3
-   **GPU model and memory**: I am using cpu version

### Describe the problem
I have been stuck on this problem forever: https://pastebin.com/n7y5cmEQ

I have downloaded tensorflow on an i7-5600u, 16 gb ram device.

[2020-09-06 21:18] roebel commented on #42988
Fine then - thanks a lot for your comments.

[2020-09-06 21:18] #42988 closed

[2020-09-06 21:20] jwlm-home commented on #43002
None of the work-arounds suggested in https://github.com/tensorflow/tensorflow/issues/27120 work.

[2020-09-06 21:27] bhack commented on #43003
Can you check if you are compliat with Windows requirements at https://www.tensorflow.org/install/pip?hl=en#windows

[2020-09-06 21:32] kukuquack commented on #43003
I don't have the c++ thing, but I am using python,
also i don't know what is the manylinux2010 support

[2020-09-06 21:39] q-55555 commented on #41157
@jmontalt Did you edit the PR ? (I was not able to find it).
If not, can you publish here the resolution please ?

[2020-09-06 21:51] Uzair-Khattak commented on #20271
Yes Sir, it worked, Thank so much,,,can you just tell the reason for it?

[2020-09-06 21:56] bhack commented on #43003
Can you try to install TF following the guide steps?

[2020-09-06 22:03] abattery commented on #42940
The erf operator currently are not supported by TFLite builtin operator set. You need to enable Select TF op feature to convert your model. Please refer to the following documents:
https://www.tensorflow.org/lite/guide/ops_select
https://www.tensorflow.org/lite/guide/reduce_binary_size

[2020-09-06 22:32] YuyangLeng opened #43004 "Error when build the pip package for Tensorflow 1.8"
Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow):No
    OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 18.04
    TensorFlow installed from (source or binary):Source
    TensorFlow version (use command below):1.8
    Python version:2.7.17/3.6.9
    Bazel version (if compiling from source):0.10.0
    GCC/Compiler version (if com

[2020-09-06 23:19] jmontalt commented on #41157
This slipped my mind, but I have created the PR now. In the meantime, you can fix the issue using `set_shape` on the output of your TimeDistributed layer.
[code]

[2020-09-07 00:30] faerysword commented on #42601
The too long command line has lots of pathes, some of them seems useless and some of them even duplicated, such as **/Ibazel-out/x64_windows-opt/genfiles/external/eigen_archive** :

d:/ProgramData/Anaconda3/python.exe -B external/local_config_cuda/crosstool/windows/msvc_wrapper_for_nvcc.py /nologo /DCOMPILER_MSVC /DNOMINMAX /D_WIN32_WINNT=0x0600 /D_CRT_SECURE_NO_DEPRECATE /D_CRT_SECURE_NO_WARNINGS

[2020-09-07 01:48] ccl-private commented on #35100
https://github.com/610265158/face_landmark/issues/34#issuecomment-615152235

[2020-09-07 01:50] renjie-liu commented on #42941
Hi, can you try adding

```--define=tflite_with_ruy=true``` when building the benchmark tool?

thanks!

[2020-09-07 01:54] mathpopo commented on #42956
@bhack
(base) chenxin@Nitro-AN515:~/Downloads/tensorflow$ bazel build -c opt \

Starting local Bazel server and connecting to it...
INFO: Options provided by the client:
  Inherited 'common' options: --isatty=1 --terminal_columns=80
INFO: Reading rc options for 'build' from /home/chenxin/Downloads/tensorflow/.bazelrc:
  Inherited 'common' options: --experimental_repo_remote_exec
INFO: Reading rc o

[2020-09-07 01:55] mathpopo commented on #42956
@freedomtan
(base) chenxin@Nitro-AN515:~/Downloads/tensorflow$ bazel build -c opt \

INFO: Options provided by the client:
  Inherited 'common' options: --isatty=1 --terminal_columns=204
INFO: Reading rc options for 'build' from /home/chenxin/Downloads/tensorflow/.bazelrc:
  Inherited 'common' options: --experimental_repo_remote_exec
INFO: Reading rc options for 'build' from /home/chenxin/Download

[2020-09-07 02:01] shreekantgosavi opened #43006 "Issues while installing for raspberry pi through pip command"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- Tensorflow version (commit SHA if source):
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.):

**Describe the problem**
When did pip install TensorFlow lite for raspberry pi it started installation but meanwhile showing error and could

[2020-09-07 02:01] shreekantgosavi commented on #43006
Please resolve this

[2020-09-07 02:08] freedomtan commented on #42956
it seems you didn't configure Android SDK and NDK, in the [README.md](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/tools/benchmark/README.md)
[code]

[2020-09-07 02:58] Lakshmisekar commented on #37876
I was having the same warning
[code]

I could remove the warning by adding `profile_batch=0` (to disable profiling) to the [Tensorboard callback](https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/TensorBoard). Now my call back looks like this,
[code]
I am using Tensorflow 2.3.0.

[code]

and below lines removes other warnings.
[code]

[2020-09-07 03:14] NeoZhangJianyu commented on #40989
@pks It's great news! 👍
Thank you support!

[2020-09-07 03:21] njeffrie commented on #42748
I can provide some additional context from the TF Micro side:

As you probably already know, the conv and depthwise_conv kernels use per-channel scale and zero-point quantization parameters. From the scale and zero points values, we calculate a multiplier and shift during the Prepare stage, which involves some computationally expensive double precision math as well as exponent calculations. Applyi

[2020-09-07 03:46] kafji commented on #42978
Same result. Unless I also comment out https://github.com/tensorflow/tensorflow/blob/47aab0b49ef7432261f60430f5e29bb331cd5233/tensorflow/api_template.__init__.py#L119

Thanks for pointing out that flag. Now I have a workaround.

[2020-09-07 04:16] sanjoy commented on #41809
Hi @rodburns,

Sorry for the delayed response.

Generally we're moving away from putting diverse HW backends integrated into the mainline.  Instead we want them to live out of tree for obvious maintainability benefits -- the TensorFlow team can only own so much code.  Moreover, this means you retain code ownership over the TF/SYCL integration (since it would no longer live in the TF repository), a

[2020-09-07 04:21] amahendrakar commented on #43004
@YuyangLeng,
TensorFlow 1.x is not actively supported. Could you please try building TensorFlow 2.x and check if you are facing the same issue.

Also, make sure you have all the required dependencies installed as per the [tested build configurations](https://www.tensorflow.org/install/source#cpu). Thanks!

[2020-09-07 04:48] ravikyram commented on #43006
@shreekantgosavi

Can you please refer this [link](https://www.tensorflow.org/lite/guide/build_rpi) to build tensorflow Lite for Raspberry Pi.Hope this helps. Thanks!

[2020-09-07 04:57] amahendrakar commented on #42966
@tornikeo,
I was able to reproduce the error with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/914cd3beedc2d86332c8b4c66ceff3c7/42966.ipynb). However, the issue seems to be fixed with the latest [TF-nightly](https://colab.research.google.com/gist/amahendrakar/3bd91481518d8b4c4e21161396be59f1/42966-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-09-07 05:25] WindQAQ commented on #42986
Change shape from `(28, 28, 1)` to `(28, 28)` in your first code-snippet, and it works as expected.

[2020-09-07 05:40] Ao-Lee commented on #42880
@amahendrakar amahendrakar ,

with the following code below, setting the regularization term to 10, I observe the training accuracy over one epoch is around 0.91,  which is the same result as the was no regularization.
[code]

However, if the regularization is set with kernel_regularizer parameter of keras layers, I observed that the training accuracy over one epoch is around 0.11, which is what I

[2020-09-07 06:00] ravikyram commented on #42766
@ipetel

Please, close this thread if your issue was resolved. Thanks!

[2020-09-07 06:01] amahendrakar commented on #42976
@ppwwyyxx,
Looks like the issue is with the cuDNN and CUDA packages. TensorFlow 2.3 is compatible with cuDNN 7.6 and CUDA 10.1.

For more information, please check the [tested build configurations](https://www.tensorflow.org/install/source#gpu). Thanks!

[2020-09-07 06:05] #42766 closed

[2020-09-07 06:13] ravikyram commented on #42967
I was able to reproduce the issue with TF version 2.3, nightly version(`2.4.0-dev20200906`) and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/0d4767d0179310577ef82560db0e6f01/untitled310.ipynb#scrollTo=aJMXFa70L9OS).Thanks!

[2020-09-07 06:16] #42609 closed

[2020-09-07 06:29] mathpopo commented on #42956
@freedomtan   no where can see how set my ndk path?

workspace(name = "org_tensorflow")

load("@bazel_tools//tools/build_defs/repo:http.bzl", "http_archive")

http_archive(
    name = "io_bazel_rules_closure",
    sha256 = "5b00383d08dd71f28503736db0500b6fb4dda47489ff5fc6bed42557c07c6ba9",
    strip_prefix = "rules_closure-308b05b2419edb5c8ee0471b67a40403df940149",
    urls = [
        "https://st

[2020-09-07 06:42] ravikyram commented on #42990
@ofiryaish

Looks like code is incomplete. Can you please share colab link or simple standalone code with supporting files to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-09-07 06:44] Saduf2019 commented on #43003
@kukuquack
What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)
Make sure to download the latest [microsoft visual c++ redistributable from here](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads).
.Also, please fol

[2020-09-07 06:46] Saduf2019 commented on #42940
@taylorshin
Please update as per above comment, and feel free to move the issue to closed status if resolved.

[2020-09-07 06:54] Saduf2019 commented on #43000
@chipxx
Please refer to [this link](https://github.com/tensorflow/tensorflow/issues/43003#issuecomment-688073182), and verify all dependencies.

[2020-09-07 07:01] Saduf2019 commented on #42991
@dyu41
Can you please verify the above comments and update.

[2020-09-07 07:11] ravikyram commented on #42987
@MateoFlz

Can you please let us know which TF version you are using?.Please fill [issue templete.](https://github.com/tensorflow/tensorflow/issues/new/choose).

Please, share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-09-07 07:13] Saduf2019 commented on #42985
@adam-grant-hendry
Please refer to issues with similar error reported and let us know:
#39851 [link](https://stackoverflow.com/questions/63177156/tensorflow-dataloading-issue) [link1](https://stackoverflow.com/questions/63549478/error-loading-tensorflow-datasets-error-with-google-clound)

[2020-09-07 07:16] #42577 closed

[2020-09-07 07:19] Ao-Lee commented on #42880
If regularization loss can not be added via model.add_loss(), it would be very hard to add regularization to pre-trained models, such as tensorflow.keras.applications.ResNet50. One temporary solution is here: https://sthalles.github.io/keras-regularizer/
I tested the methods and it correctly works. But this is not cost efficient and I hope there would be a convinent method to add regularization lo

[2020-09-07 07:27] Saduf2019 commented on #42994
@tom-andersson
Please provide complete stand alone code with tf version for us to replicate the issue faced or if possible share a colab gist with error reported.

[2020-09-07 07:36] paulvercoustre commented on #23605
Same issue here when I try to upload a tsv file to https://projector.tensorflow.org/.

In the console I get the error: (index):1 Uncaught (in promise) Error: no convergence.
I've checked @printomi's suggestion and my file does not contain a text column.

My file looks like this:
A	B	C	D
97	92	16	4
96	69	48	64
10	12	13	78
54	53	60	64
39	11	17	52
8	1	85	92

What am I doing wrong here?

Thanks for th

[2020-09-07 07:38] q-55555 commented on #41157
Thanks a lot, I applied your PR locally and it is working well !
(BTW a review is required in order to merge, one test has failed)

[2020-09-07 07:48] Saduf2019 commented on #42872
I am able to replicate the issue reported, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/9349b1138c40303cd941077f740635c3/untitled405.ipynb)

[2020-09-07 07:49] manmay-nakhashi commented on #40504
@jaeyoo @abattery any update on this issue ? , should i open a new issue ? or is this error in same scope ?

[2020-09-07 07:51] amahendrakar commented on #42982
@kanishk-awadhiya,
In order to expedite the trouble-shooting process, please provide the complete code to reproduce the issue and also the TensorFlow version you are using.

Also, make sure you have updated the tensorflow_addons package to the latest version i.e. v0.11.2.

I was able to import the `SpectralNormalization` without any issues, please find the gist of it [here](https://colab.research.

[2020-09-07 07:52] ravikyram commented on #42980
I have tried in colab with TF 2.1.1 and i am not able to see any issue. I could reproduce the issue with TF 2.3, nightly versions(`2.4.0-dev20200906`).Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/26b939ddd8c497c148479478fca3e23e/untitled312.ipynb). Thanks!

[2020-09-07 08:24] YingzhouLi commented on #42889
@bhack, the denominator in the loss is the norm of true $y$ values, which are all away from zero. Hence, the calculation of the denominator should be just a variable of batch sampling and is independent of any trainable variables. Unless something wired is happening in the back propagation, otherwise, the denominator should not be any place near zero.

[2020-09-07 08:32] shlomi-amitai commented on #42863
Thanks,
is converting Conv3d with TF ops possible also in tf 1.14 /1.15? if so, could you send me a pointer?

[2020-09-07 08:36] uzi0espil commented on #35093
@nikitamaia I am facing the same issue, it would be useful if you could share the links here for future references.

[2020-09-07 09:00] abattery commented on #42863
You can use the above Select TF operator option in TF 1.15 version as well. Or you can export your model to a saved model directory under TF 1.15 version and you can try the TFLite conversion with the recent TF version since TFLite converter can support TF 1.x's saved model directory format.

For the TF 1.x converter API, you can refer to the following document: https://github.com/tensorflow/tenso

[2020-09-07 09:03] abattery commented on #40504
@manmay-nakhashi Sorry for the late reply. I think it would be better to file a separate issue since this one is already closed and it is not easy for readers to capture the last problem.

[2020-09-07 09:06] huafeihuayu opened #43010 "TF_lite inference error"
RuntimeError: tensorflow/lite/kernels/pad.cc:205 op_context.output->params.zero_point != op_context.constant_values->params.zero_point (0 != 255)Node number 2 (PADV2) failed to invoke.

tensorflow 1.5.0gpu + windows10 +python3.5

[2020-09-07 09:28] tom-andersson commented on #42994
Hi @Saduf2019, I've included a Google Colab link after the first paragraph in my original post. This figure shows the same behaviour on MNIST. Printing the training and validation accuracies shows that they are not exactly equal to each other, but very close (equal to ~3 d.p.). Could this be the validation `logs` dict in `Model.evaluate()` corrupting the `logs` dict passed around during training p

[2020-09-07 09:41] lutzzz commented on #42973
Thank you @bhack! There seems to be a solution for this issue provided by PR #11875. Use `gen_nn_ops.max_pool_v2` instead of `gen_nn_ops.max_pool`, which is used by default when calling `tf.nn.max_pool2d`. Change the code above to:
[code]
PR #14983 tries to integrate the utilization of `gen_nn_ops.max_pool_v2` as standard behavior but was reverted. @yongtang @rmlarsen, are you interested to push P

[2020-09-07 09:51] akshayjagatap opened #43011 "Same variable name for tf.feature_column.embedding_column embedding tensors in tf 2.3.0"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: 64 bit Linux
- TensorFlow installed from source
- TensorFlow version: v2.3.0-rc2-23-gb36436b087 2.3.0
- Python version: 3.6.10
- Cuda compilation tools, release 10.0, V10.0.130

**Describe the current behavior**
In TF 2.1.0, when I use tf.feature_column.embedding_column, the variable names of the embedding var

[2020-09-07 09:54] ravikyram commented on #42900
@aurelio-amerio

I tried in colab with TF nightly version and i am not seeing any issue .Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/2d0207d4eba4b8ce09f8f00ce8462f91/untitled315.ipynb).

Also, The argument `steps_per_execution` is no longer experimental. Pass `steps_per_execution` instead of `experimental_steps_per_execution`.

Please, verify once and close the is

[2020-09-07 09:58] ravikyram commented on #42869
@evodopyanov

Can we track the issue in Tensorflow Serving repo and close here. Thanks!

[2020-09-07 10:08] ravikyram commented on #42113
@DavidInWuhanChina

Is this still an issue?
Please, close this thread if your issue was resolved. Thanks!

[2020-09-07 10:15] alexcoca commented on #9162
@asimshankar Can you give an example of how `tf.custom_gradient` would achieve it? As far as I know, you can't use the autodiff to differentiate wrt to a `tf.Variable` slice. So in the backwards pass, all you can do is to just multiply the incoming gradients by the mask? Is that what you are suggesting?

[2020-09-07 10:19] ravikyram commented on #42091
@shepan6

I tried in colab with TF nightly version and i am not seeing any issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/eced86aace6268e56b0eb0502a5763fc/untitled316.ipynb).Thanks!

[2020-09-07 10:34] huafeihuayu opened #43013 "Why is the quantified TF_LITE slower than the unquantified TF_LITE test time on the PC side？"
import tensorflow as tf
import numpy as np
import cv2
import os
import time
from PIL import Image

model = "D:/sfz/tf_sfz/uint9.tflite"
interpreter = tf.lite.Interpreter(model_path=model)
interpreter.allocate_tensors()
input_details = interpreter.get_input_details()
output_details = interpreter.get_output_details()
print(str(input_details), '\n', str(output_details))
img = Image.open(“D:/data/0000

[2020-09-07 10:37] Saduf2019 commented on #42863
@shlomi-amitai
Please feel free to close this issue if resoved.

[2020-09-07 10:42] ravikyram commented on #43013
@huafeihuayu

Can you please fill issue template.
Request you to share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localization issue faster.Thanks!

[2020-09-07 10:43] pianogGG commented on #31153
I also encounter this problem, how do you solve this?@protossw512@jvishnuvardhan
Thanks very much!

[2020-09-07 10:46] ravikyram commented on #43002
@jwlm-home

Can you please share colab link or simple standalone code with  proper indentation  and supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster. Thanks!

[2020-09-07 10:53] Saduf2019 commented on #42912
@rajaihimdiat
Please update the issue template with all details tf version, sample code or colab gist with issue reported.
Please refer to above comment as update.

[2020-09-07 10:55] shade22413 commented on #38762
Facing same issue when iterating over a dataset created wih tf.data.Dataset.from_generator

[2020-09-07 11:04] Saduf2019 commented on #36436
@MichelHalmes
If the issue is resolved, please feel free to move this issue to closed status.

[2020-09-07 11:05] shlomi-amitai commented on #42863
Sure, just another last thing, I tried to convert with TF v1.14
set "converter.target_ops = [tf.lite.OpsSet.TFLITE_BUILTINS, tf.lite.OpsSet.SELECT_TF_OPS"

but failed with
"F tensorflow/lite/toco/graph_transformations/resolve_constant_transpose.cc:142] Check failed: op->perm.size() <= 4 (5 vs. 4)"

while "Converting unsupported operation: Conv3D"

Are you familiar with this?

[2020-09-07 11:08] Saduf2019 commented on #42997
@weichen456
Please provide with simple stand alone code for us to replicate the issue faced or if possible share a colab gist with the error reported.
With respect to error shared, please refer to:
#36436 #41306

[2020-09-07 11:10] Saduf2019 commented on #42978
@kafji
If the issue is resolved please feel free to move this to closed status.

[2020-09-07 11:11] bhack commented on #43011
I've tried this code on Colab and it is not failing with Tensorflow 2.3.0

[2020-09-07 11:12] weichen456 commented on #42997
The stand alone code can be seen [here ](https://colab.research.google.com/drive/1GB_kujPR2Mu8iayBuglmbB8ylfGh_YYk?usp=sharing)

[2020-09-07 11:16] bhack commented on #42978
@kafji Probably it was a side effect of https://github.com/tensorflow/tensorflow/pull/38663 /cc @angerson @yongtang

[2020-09-07 11:20] klaimans commented on #42119
@jvishnuvardhan

any updates on this? The above suggestion from @ravikyram did not resolve the issue.

[2020-09-07 11:24] akshayjagatap commented on #43011
is there any way I can help reproduce the error?
I'm getting the following error in tensorflow 2.3.0
[code]

[2020-09-07 11:28] bhack commented on #43011
Ok now I see better your error and it is reproducible saving with h5 format.

[2020-09-07 11:30] bhack commented on #43011
Can you test the same example with `pip install tf_nightly-cpu`?

[2020-09-07 11:33] haozaiiii opened #43014 "tf.estimator.train_and_evaluate "loss" meaning in "saving dict for global step""
when i run tf.estimator.train_and_evaluate, log prints that:
[INFO:tensorflow:Saving dict for global step 1000: eval_loss = 0.0055662687, global_step = 1000, loss = 3.3700151]
INFO:tensorflow:global_steps = 1000, loss = 0.05528491 (1202.815 sec)

question:
what's meaning of the "loss = 3.3700151"

=====================log=====================
[code]

[2020-09-07 11:36] PetrProkopNXP opened #43015 "Wrong licenses / license breach in TensorFlow"
Hi TensorFlow authors,
My name is Petr Prokop, I serve in NXP as a Trusted Advisor – person in charge of SW licenses compliance.
NXP adapts TensorFlow for its i.MX processors. Such releases are subject of license-compliance check.

Unfortunately, our scanning tool (Black Duck Protex by Synopsis) has reported following license breach:
TensorFlow file https://github.com/tensorflow/tensorflow/blob/ma

[2020-09-07 11:41] ravikyram commented on #35781
@bersbersbers

I tried in colab with TF nightly version (`2.4.0-dev20200907`) and i can see after assigning operation it is raising an `TypeError:`.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/85ef6cf191ebdd087c76313532cedb99/untitled318.ipynb).Please, verify once .Thanks!

[2020-09-07 11:43] kukuquack commented on #43003
So I need to install all 2015,2017,2019 versions of the redistributable?

[2020-09-07 11:50] bhack commented on #43003
@kukuquack Yes it is one of the requirements.

Also:

[2020-09-07 11:54] kukuquack commented on #43003
For some reason I can't find gpedit.msc on run.

[2020-09-07 12:10] optiluca opened #43016 "Dataset.from_generator breaks on last element"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from: Docker Image
- TensorFlow version: v2.3.0-rc2-23-gb36436b087 2.3.0
- Python version: 3.6.9

Running the attached gist throws InvalidArgumentError: Argument 0 is out of

[2020-09-07 12:13] bhack commented on #43003
You can check this https://www.itechtics.com/enable-gpedit-windows-10-home/

[2020-09-07 12:28] abattery commented on #43010
@huafeihuayu Could you try conversion with tf-nightly? You can export your model to a saved model directory under TF 1.5 and you can try conversion with the recent TF version and run the converted model.

[2020-09-07 12:31] kukuquack commented on #43003
2020-09-07 14:26:43.159687: W tensorflow/stream_executor/platform/default/dso_loader.cc:59] Could not load dynamic library 'cudart64_101.dll'; dlerror: cudart64_101.dll not found
2020-09-07 14:26:43.181952: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

[2020-09-07 12:31] kukuquack commented on #43003
It works now thanks!

[2020-09-07 12:55] matkaa94 commented on #42776
@ravikyram

Thanks i had some issues with cupti and cuda, but somehow managed it.

[2020-09-07 12:55] #42776 closed

[2020-09-07 13:16] amahendrakar commented on #42986
@adam-grant-hendry,
Please check @WindQAQ's comment and also [this](https://stackoverflow.com/a/44583919) similar StackOverflow comment and let us know if it helps. Thanks!

[2020-09-07 13:19] manmay-nakhashi commented on #40504
@abattery sure

[2020-09-07 13:29] Flamefire opened #43019 "action_env ignored in some cc_library calls"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): RHEL 7.5
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.3.0
- Python version: 3.7.4
- Bazel version (if compiling from source): 3.4.1
- GCC/Compiler version (if compiling from source): 8.3

**Describe the problem**

I'm trying to build TensorFlow with TF_SYSTEM_LIBS and need to set `$C

[2020-09-07 13:33] LiamRandall opened #43020 "Arduino tensorflow"
- Mac OS Catalina Version 10.15.6
- Arduino 1.8.13
- Tensorflow Library "Arduino_TensorFlowLite" version 2.1.0-ALPHA-precompiled
- Arduino Nano BLE 33

Following the Arduino instructions as listed on the [tensorflow github](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/micro/examples/person_detection#running-on-arduino
) the default person detection demonstration fails on co

[2020-09-07 13:47] avinashcpandey opened #43021 "TF_TensorToPyArray is hard coded for equality, limits performance enhancements"
Hi,

I am running one CNN model which has convolution and FC layers.
For getting optimal performance i am using buffers allocated with allocate_persistent() API and I am reusing these buffers multiple times as Network is pretty sequential.
For achieving this i pre-allocate big chunks with allocate_persistent() API and for every Op execution i use the same buffers by setting with different shape.

[2020-09-07 13:49] rafiqhasan commented on #42613
Team, any response ? Can't deploy an experimental saved model to TMS.

[2020-09-07 13:50] Patrikvs94 opened #43022 "Building and testing CPU Ops,"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2020-09-07 13:58] Saduf2019 commented on #43014
@haozaiiii
Please fill in issue template for us to replicate the issue faced.

[2020-09-07 14:10] hahmad2008 commented on #42735
@srjoglekar246 I used the same [script](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tf2.md).

[code]

I got a _544 byte_ lite model, but when I tried to test the lite model, I got the error:

[code]

- Error for this line `interpreter = tf.lite.Interpreter(model_content=tflite_quant_model)`

[code]

Any idea? how to solve this?

[2020-09-07 14:16] #42617 closed

[2020-09-07 14:17] Saduf2019 commented on #43003
@kukuquack
Thank you for your update, please feel free to move the ticket to closed status if resolved.

[2020-09-07 14:22] yongtang commented on #43015
@PetrProkopNXP I think the right way might be to vendor leveldb as a third party package through bazel, and then tensorflow's core code will use vendor'ed leveldb package.

That will resolve any license issues. It will also be easier in the future to update leveldb in case there are any bug fixes (from leveldb side).

/cc @martinwicke

[2020-09-07 14:29] Saduf2019 commented on #40804
@GhassenBenMakhlouf
Is this still an issue.

[2020-09-07 14:34] bhack commented on #43000
Check also https://github.com/tensorflow/tensorflow/issues/43003

[2020-09-07 14:35] lorenz0890 commented on #42231
Thanks!

[2020-09-07 14:35] #42231 closed

[2020-09-07 14:40] Saduf2019 commented on #43022
@Patrikvs94
Please refer to [this comment](https://github.com/tensorflow/tensorflow/issues/29831#issuecomment-504704980) and let us know if it helps.
verify with existing issues:
#40804 #36111 #31018 [for cuda version] #42436 [without gpu]

[2020-09-07 14:43] mazurick commented on #42049
Thanks @dansitu. Would you use Stable or Edge in my case? https://www.docker.com/products/docker-desktop

[2020-09-07 14:44] Patrikvs94 commented on #43022
I'm not following why the cudart64.dll files would cause my issues. Why would that affect it? It feels like there's something off about the include stuff. I'm trying to do this with CPU only.

[2020-09-07 14:47] bhack commented on #43022
@Patrikvs94 are your Nvidia and CUDA requirements satisfied? https://www.tensorflow.org/install/gpu#software_requirements

[2020-09-07 14:52] Patrikvs94 commented on #43022
Do they need to be satisfied if I'm only doing CPU only stuff?

[2020-09-07 14:53] Saduf2019 commented on #42997
I am able to replicate this issue, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/f6f09a6da1c88c3b582e849bfd694462/untitled407.ipynb)

[2020-09-07 14:55] phillips96 opened #43025 "Using Intermediate (non-Input) Layer as input to secondary network"
**System information**
- TensorFlow version: 2.3.0
- Are you willing to contribute it: No

**Describe the feature and the current behavior/state.**
Currently, a user can define a network to only run partially through a network using something like below:
[code]
However, if you were to build a final model to run through the remainder of the network, from `some_intermediate_layer_n` onward, it falls

[2020-09-07 15:03] amahendrakar commented on #43011
@akshayjagatap,
I was able to reproduce the issue with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/a72465c7e3d740127444b03ede6ed4f2/43011.ipynb).

However, the issue seems to be fixed with the latest [TF-nightly](https://colab.research.google.com/gist/amahendrakar/ca4c228b5ec181db4b9580ad8fccb96d/43011-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-09-07 15:27] raj1003daksh commented on #38461
Changing tf.variables_initializer to tf.compat.v1.variables_initializer worked for me. I am using Tensorflow 2.3.

[2020-09-07 15:36] tom-andersson commented on #42994
Hi @Saduf2019 - I have now added the Google Colab link.

[2020-09-07 15:37] Saduf2019 commented on #42994
@tom-andersson
I do not find any colab link, please check and share it.

[2020-09-07 15:40] hahmad2008 commented on #42735
@srjoglekar246

I have successfully converted the tf model, but now the output detection was 100 now is only 10! the performance is so bad now! I had converted the model previously using supported_ops and the performance was really good but now is very bad :(

[2020-09-07 15:47] dyu41 commented on #42991
tf.cast() works. But it would be better that tf.convert_to_tensor() defaults to tf.cast() directly in this case.

[2020-09-07 15:48] CheWang09 commented on #34912
Hello, I also have the same problem. When I use keras bert , it throws out an issue about inputs and outputs. Can anyone help me solve this problem.
![image](https://user-images.githubusercontent.com/32276346/92403591-58f9a200-f164-11ea-9637-d5f866aeeb00.png)
Above is my code.
And following is my code problem
![image](https://user-images.githubusercontent.com/32276346/92403672-81819c00-f164-11ea-8

[2020-09-07 15:55] NahianAlindo commented on #42811
Yes, I have fixed it just now. It seems that the TensorFlow 2.3.0 requires CUDA 10.1 after all. That's why it was searching for cudart64_101.dll instead of what I had which was cudart64_102.dll. So, I uninstalled the CUDA toolkit 10.2 and installed the CUDA toolkit 10.1 and the latest CUDNN for the CUDA toolkit 10.1. Thus, I managed to make GPU available for both TensorFlow and PyTorch.
![2](https

[2020-09-07 15:57] #42811 closed

[2020-09-07 15:57] danieltarita opened #43026 "ImportError: DLL load failed: The specified procedure could not be found."
**System information**
OS Name	Microsoft Windows 10 Pro
Version	10.0.17134 Build 17134
System Type	x64-based PC

**Describe the problem**
I was following this [guide](https://towardsdatascience.com/object-detection-with-10-lines-of-code-d6cb4d86f606)
So I installed the dependencies in the terminal:

`pip3 install tensorflow==1.13.1 `
`pip3 install opencv-python`
`pip3 install keras==2.2.4`
`pip3 i

[2020-09-07 16:04] jwlm-home commented on #43002
Colab link to working example:

https://colab.research.google.com/github/jwlm-home/variable_failure/blob/master/example.ipynb

Notice a couple of things:

(1) The call function within the custom layer is decorated with a @tf.function decorator. THat's because it will otherwise run in eager mode, in which case the second call to tf.Variable does not raise an error
(2) Other than the custom layer, t

[2020-09-07 16:05] tom-andersson commented on #42994
@Saduf2019
The link is after my first paragraph (I edited it in two mins before your post - I had forgotten initially, sorry).

Here it is: https://colab.research.google.com/drive/1JLj23q5LjZu6cvcU7SQmfmY97qYwV5Gj?usp=sharing

[2020-09-07 16:09] mintmaker commented on #42991
`tf.convert_to_tensor()` is for making something that's not a `tf.Tensor` (eg. a python list or a `np.array`) into a `tf.Tensor`. `tf.cast` is for converting a `tf.Tensor` into another dtype.
Changing the API would make `tf.convert_to_tensor()` do something it's not meant to do.

[2020-09-07 16:10] cefaci commented on #42886
You're welcome, yeah top_paths is set to 3 and originally I returned all 3, just get the first one:

[code]

[2020-09-07 16:17] bhack commented on #43022
How did you install Tensorflow?

[2020-09-07 16:19] jwlm-home commented on #43002
Also:

(3) To make this run completely correctly in eager mode, you need to add an extra if statement so that the variable initialization handles cases where the shape of the input tensor is fully specified.

[2020-09-07 16:39] dansitu commented on #42049
I think Stable should be fine!

[2020-09-07 16:46] hpssjellis opened #43027 "Please update the tflite_convert -h command line help"
What I see when I run

tflite_convert -h

[code]

and what I see from python is

[code]

If the above is available for tflite_convert using the command line could the help file reflect that ability.

[2020-09-07 16:48] #42869 closed

[2020-09-07 17:00] ravikyram commented on #43026
@danieltarita

Can you please refer the [link](https://stackoverflow.com/questions/52092810/tensorflow-error-dll-load-failed-the-specified-procedure-could-not-be-found) and see if it helps you. Thanks!

[2020-09-07 17:05] mazurick commented on #29524
Hey Daniel,

Sadly I had to reformat my device so this is a fresh machine. The actual support ticket at Apple was mad. Something I did was horribly wrong. I hope now to proceed and continue tests on a fresh machine using containers.

I’m a little new to containerization with docker.

I’ve completed Chapter 5 and I’m moving into Chapter 6 and I hope to deploy to my SparkFun Edge

https://github.com

[2020-09-07 17:06] mazurick commented on #29524
If you could just give me some itemized steps I'd be so thankful. I ordered lots of sensors and I need to get the basic programs running.

[2020-09-07 17:08] mazurick commented on #42049
Hey Daniel,

Sadly I had to reformat my device so this is a fresh machine. The actual support ticket at Apple was mad. Something I did was horribly wrong. I hope now to proceed and continue tests on a fresh machine using containers.

I’m a little new to containerization with docker.

I’ve completed Chapter 5 and I’m moving into Chapter 6 and I hope to deploy to my SparkFun Edge

#29524 (comment)

[2020-09-07 17:11] mazurick commented on #42049
If you could provide itemized steps I would be so thankful.

[2020-09-07 17:11] dansitu commented on #42049
Yep, it sounds like you're on the right track! Just shell into your Docker
container and run all the commands in there. Bear in mind that the
processes might have changed a little since the book was printed, so check
the readmes in the TensorFlow repo for the most up to date info. For
example:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/micro/examples/hello_world/README.m

[2020-09-07 17:13] dansitu commented on #42049
There are lots of walkthroughs in the readme:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/micro/examples/hello_world/README.md#deploy-to-sparkfun-edge

On Mon, Sep 7, 2020 at 10:11 AM Adam Mazurick <notifications@github.com>
wrote:

--
Daniel Situnayake
Founding TinyML Engineer, Edge Impulse <http://edgeimpulse.com/>
dan@edgeimpulse.com
+1 415-940-2607
Twitter <http://twi

[2020-09-07 17:18] XDKaioden opened #43028 "Installation error"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2020-09-07 17:20] bhack commented on #43002
I think that you can try to workaround like:
https://github.com/tensorflow/tensorflow/issues/26812#issuecomment-473736883

See also @alextp rationale at https://github.com/tensorflow/tensorflow/issues/26812#issuecomment-474595550

[2020-09-07 17:20] #43003 closed

[2020-09-07 17:22] jwlm-home commented on #43002
Incorrect. That depends on the tensors having known dimensions.

On Mon, Sep 7, 2020 at 10:20 AM bhack <notifications@github.com> wrote:

[2020-09-07 17:25] bhack commented on #43002
Is your colab working without `@tf.function`?

[2020-09-07 17:27] jwlm-home commented on #43002
As written, no. I'll add a cell which does work.

On Mon, Sep 7, 2020 at 10:25 AM bhack <notifications@github.com> wrote:

[2020-09-07 17:34] charlielito commented on #42989
I notice that `grouped` convolutions are new in tensorflow 2.3.0. I used that because the original pytorch implementation uses that for implementing depthwise separable convolutions. Nonetheless, I replaced all grouped convolution with the corresponding ` tf.keras.layers.DepthwiseConv2D` and with that I got comparable results, even faster than pytorch! I you want to check in the mentioned repo the

[2020-09-07 17:41] chipxx commented on #43000
Hi, okay solved. I put  vc++ 140_1.dll in python dll folder.  Than

[2020-09-07 17:55] jvishnuvardhan commented on #31153
@pianogGG Can you please try `tf-nightly` and share a simple standalone code to reproduce the issue? Thanks!

[2020-09-07 17:58] jvishnuvardhan commented on #31153
@protossw512 Can you please try `tf-nightly` and share the updated code. I think there are no more updates to `contrib`. So it is better to try `TF2.x` or `tf-nightly`. Thanks!

[2020-09-07 18:13] bhack commented on #43000
@chipxx Can you close this?

[2020-09-07 18:14] mazurick commented on #42049
Thanks @dansitu

//Steps Adam has/is taking to get running

//Step 1: Use containers and docker.

What I've done is I've taken a quick tutorial this afternoon to learn containerization. I wasn't familiar with the commands of docker and how to start-up a container. I'm almost done this now. I'm making dummy containers for learning purposes.

//Step 2: Shell into docker container ***Adam is here now

[2020-09-07 18:21] mazurick commented on #42049
@dansitu I am very thankful for your help and will reference the documentation.

[2020-09-07 18:23] bhack commented on #43025
Do you have a very, very minima but runnable example or colab to reproduce this?

[2020-09-07 18:32] hyiche opened #43029 "TensorFlow2 tutorials Actor-Critic method"
## URL(s) with the issue:

https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/reinforcement_learning/actor_critic.ipynb

## Description of issue (what needs changing):

### Clear description
At the second cell, we want to install additional packages for visualization.
Maybe should be added "sudo apt-get update" before the line "sudo apt-get install -y xvfb pytho

[2020-09-07 18:40] dansitu commented on #42049
Sounds good—you can also use a regular VM if it's simpler than figuring out
Docker, which is a fairly confusing experience.

On Mon, Sep 7, 2020 at 11:21 AM Adam Mazurick <notifications@github.com>
wrote:

--
Daniel Situnayake
Founding TinyML Engineer, Edge Impulse <http://edgeimpulse.com/>
dan@edgeimpulse.com
+1 415-940-2607
Twitter <http://twitter.com/dansitu> | LinkedIn
<http://linkedin.com/in/

[2020-09-07 18:44] Patrikvs94 commented on #43022
I just did a "$pip install tensorflow" and it installed tensorflow 2.3

[2020-09-07 18:48] bhack commented on #43022
Can you try instead with `pip install tensorflow-cpu`?

[2020-09-07 19:00] aurelio-amerio commented on #42900
Thank you for your time, everything seems to be working properly in the nightly version, I'm looking forward to the 2.4 release!

@ravikyram Have a nice day!

[2020-09-07 19:00] #42900 closed

[2020-09-07 19:17] ghost opened #43030 "Could not load dynamic library 'cupti64_110.dll'; dlerror: cupti64_110.dll not found"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Education
- TensorFlow version: tf-nightly-2.4.0.dev20200907
- Python version: 3.8
- Installed using virtualenv? pip? conda?: pip
- CUDA/cuDNN version: 11.0/8.0.2
- GPU model and memory: GeForce GTX 1050, 4GB

**Describe the problem**
cupti64_110.dll cannot be found, and the only CUPTI .dll file I can find

[2020-09-07 19:31] jwlm-home commented on #43002
OK, I've updated the code so it runs in eager mode but not in graph mode.

On Mon, Sep 7, 2020 at 10:26 AM John Merrill <john.merrill@gmail.com> wrote:

[2020-09-07 19:57] dmitryponv opened #43031 "AttributeError: module 'tensorflow' has no attribute 'Dimension'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2020-09-07 20:11] phillips96 commented on #43025
I'll pull something together with some sample weights tomorrow!
Thanks

[2020-09-07 20:16] #42117 closed

[2020-09-07 20:16] #42550 closed

[2020-09-07 20:17] zeyneb-chiha opened #43032 "Neural machine translation with attention issue :Translate function give Keyerror with Tunisian dialect"
i 'm working with attention model for Tunisian dialect _Standard arabic translation , with google colab ,

![image](https://user-images.githubusercontent.com/53334878/92415130-6b1d1580-f14f-11ea-8ffd-c56e417a2901.png)

[2020-09-07 20:32] ptrem commented on #42927
Is there no solution for my problem?

[2020-09-07 20:35] yogithesymbian commented on #30180
i have train on  [here collab image classificatioin](https://colab.research.google.com/github/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/tutorials/model_maker_image_classification.ipynb) and have model.tflite, could you give some full tutorial to modified the shape until export the tflite ?
[code]

but in object detection guide
* Convert the frozen graph to the TFLite model.
[code]
`i

[2020-09-07 20:59] mazurick commented on #42049
Hey @dansitu ,

I decided to Spin-up a VM instead of using Docker as per your suggestion.
I’m at the build the binary stage, I use the following command from the git repo you shared earlier.

make -f tensorflow/lite/micro/tools/make/Makefile TARGET=sparkfun_edge hello_world_bin

The output is here.

tensorflow/lite/micro/tools/make/Makefile:2: *** "Requires make version 3.82 or later (current is 3

[2020-09-07 21:03] cfRod commented on #42858
I have been tracing the linking step for x86 builds:
[code]
with libmklml_intel.so located here:
[code]
symbolically linked with:
[code]
I presume libmklml_gnu.so would be the link for non-x86 builds?
Is there a way to link libtensorflow.so to libdnnl.so/libmkldnn.so directly?

[2020-09-07 21:04] qlzh727 commented on #42760
I think this error is intended. As @EPronovost noted above, the alpha weight is created with shape [32, 32, 3] and the identity weight initializer is only applicable for 2D weights. Please change to use other initializer or constant initializer with the value you want.

Closing this bug since its working as intended.

[2020-09-07 21:04] #42760 closed

[2020-09-07 21:15] #43000 closed

[2020-09-07 21:32] qlzh727 commented on #42696
Assigning to Tom. It seems that we do special handling for class weights based on the shape of y, and do arg_max for it. So the error might be caused by the dataset element shape.

[2020-09-07 22:05] albion01 commented on #38518
I'm a newb here.  First time trying to get TF working with my Quadro M500M card.  Not sure if it's even relevant, but considering any bit of information could be useful information...

TF 2.3 + CUDA 10.1 + cudnn 10.1 - 8.0.3.33 + python 3.8 kept telling me it couldn't find cudnn64_7.dll.  After looking around I found with cudnn 10.1 came cudnn64_8.dll.  I'm new to this so I don't know much, but th

[2020-09-07 22:08] whiteRa2bit commented on #42937
@amahendrakar looking forward to hear from you! Thanks in advance!

[2020-09-07 22:13] bhack commented on #43002
Your last formulation will fail also in both modes on `v = tf.Variable(..` with the upcoming version `pip install tf_nighlty`:
[code]

[2020-09-07 22:16] #42465 closed

[2020-09-07 22:24] bhack commented on #43031
Cause `tf.Dimension` is deprecated and is `tf.compat.v1.Dimension`

[2020-09-07 22:25] bhack commented on #43031
Also generally Stylegan and Stylegan2 require `TensorFlow 1.14 or 1.15 with GPU support.`

[2020-09-07 22:38] jwlm-home commented on #43002
Quite so. That's because removing the lambda thunk at line 22, yielding

        v = tf.Variable(
            replacement_values,
            shape=tf.TensorShape((len(delta), None)))

causes this error:

ValueError: Tensor-typed variable initializers must either be wrapped
in an init_scope or callable (e.g., `tf.Variable(lambda :
tf.truncated_normal([10, 40]))`) when building functions. Please fi

[2020-09-07 22:44] abattery commented on #42937
@whiteRa2bit have you set a fixed batch size as well? Usually keras models have non-fixed size if you have not set it explicitly.

[2020-09-07 22:51] abattery commented on #43027
FYI, the first help message of the command line `tflite_convert` is coming from TF v2 while the later help message is coming from TF v1. They co-exist in the TF v2.x package.

[2020-09-07 23:00] hpssjellis commented on #43027
So do the command line quantized commands only work with TF V1 or can they still be used with TF 2?

[2020-09-07 23:00] RomanGirin commented on #41200
@gowthamkpr  yes, you are right! thank you a lot!!! I've added slicing in corresponding parts to get correct shapes and now it works on TF version 2.3.

Two remaining issues are:
the first, on  tf-nightly-gpu I still get the same error as you mentioned https://github.com/tensorflow/tensorflow/issues/41200#issuecomment-673055970

and the second, in corrected script which learns the toy network with

[2020-09-07 23:03] abattery commented on #43027
We actually recommend using TFLite converter Python API for either version, which supports quantization features. https://www.tensorflow.org/lite/convert/quantization

[2020-09-07 23:05] hpssjellis commented on #43027
I agree, but I am trying something different. We can close this issue if you wish. I will take it up on stack overflow.

[2020-09-07 23:10] abattery commented on #43027
@hpssjellis Could you leave the stack overflow link in here after you uploaded it? Thanks.

[2020-09-07 23:11] bhack commented on #42889
Can you check the impact of the numerator `norm`?

[2020-09-07 23:20] mazurick commented on #42049
I appear to have fixed the make issue using brew and changing my commands to Gmake as is required by documentation. That said, I'm trying to deploy and got the following...

[2020-09-07 23:20] mazurick commented on #42049
python3 /Users/maz/Desktop/tiny/tensorflow/tensorflow/lite/micro/tools/make/downloads/AmbiqSuite-Rel2.0.0/tools/apollo3_scripts/uart_wired_update.py -b ${921600} ${usbserial-1440} -r 1 -f main_nonsecure_wire.bin -i 6
/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.7/Resources/Python.app/Contents/MacOS/Python: can't open file '/Users/maz/Desktop/tiny/tenso

[2020-09-07 23:27] jwlm-home commented on #43002
OK, fixed. It now gives the expected tf.variable creation error.

On Mon, Sep 7, 2020 at 3:38 PM John Merrill <john.merrill@gmail.com> wrote:

[2020-09-07 23:45] hpssjellis commented on #43027
Here is my stack overflow question

[https://stackoverflow.com/questions/63785445/please-post-working-tflite-convert-command-line-examples](https://stackoverflow.com/questions/63785445/please-post-working-tflite-convert-command-line-examples)

[2020-09-07 23:52] Leslie-Fang commented on #42989
How about the accuracy? Did you need to fine-tune the model?

[2020-09-07 23:57] nectario commented on #41169
I think I may have finally resolved this issue. It seems I had two CUDA versions installed: 10.1, and 10.2. My installation was pointing to the 10.2 version. After uninstalling all the other other versions and having only 10.1 I was able to finally train more than once without issues. I will run a couple more tests. Bottom line: After uninstalling all my previous CUDA/CUDNN version and reinstallin

[2020-09-07 23:58] dansitu commented on #42049
Glad you've gotten further! It looks like you are using some funky syntax in the line where you are running `wired_update.py`. Can you try removing the `${}` that is wrapping a couple of the arguments?

[2020-09-07 23:59] dansitu commented on #42049
Also: I'm not sure how USB and virtual machines work, but if the upload fails it's possible you might have to run this on the host machine, not the VM.

[2020-09-08 00:13] bhack commented on #43002
I think that in your formulation the problem is that you are trying to create the variable twice cause it is connected to the two branch of the conditional case for `replacement_values`. This will conflict the rules that you need to protect `tf.variable` against multiple evaluations:

What the RFC states instead is that you are allowed to create variables as long as variable creation only happens

[2020-09-08 00:16] #42306 closed

[2020-09-08 00:27] bhack commented on #43030
I suppose CUDA 11.0 Update 1 renamed the library but TF code it is not ready.

[2020-09-08 00:44] jwlm-home commented on #43002
Yes, and that's exactly the bug. I need to be able to deal with the case
where I must update a set of columns in an input during training. That
requires using scatter_nd -- and that, in turn, requires a tf.variable to
handle the case where the input has unspecified length -- which is, of
course, the core case for fitting a model to a set of data in graph mode.
That, in turn, requires the creation

[2020-09-08 01:17] YingzhouLi commented on #42889
After removing the denominator, the nan appears even earlier. See [gist](https://colab.research.google.com/gist/YingzhouLi/46d48caea89f1aeaf2fd1a04a214a3ef/untitled0.ipynb).

[2020-09-08 01:24] ibrahimsoliman97 commented on #16291
+1 same problem v2.2.0

[2020-09-08 01:30] bhack commented on #42889
My previous comment was about numeratore.

[2020-09-08 01:33] huafeihuayu commented on #43013
@ravikyram
I've provided the code

[2020-09-08 02:30] renjie-liu commented on #42886
Hi Cefaci,

Looking at the results again, I think I'm a little bit confused.

The python outputs a `2-d` tensor, shaped `[1, 9]`, and the result is

[code]

while the java outputs a `1-d` tensor, shaped [10], and the result is

[code]
?

And we should expect a `2-d` tensor right?

"top_paths is set to 3", but we still only have 1 output right (while the output contains all the pats)?

[2020-09-08 02:34] pianogGG commented on #31153
Do you mean using tensorflow_model_optimization package to quantize ,right?

[2020-09-08 02:35] pianogGG commented on #31153
@jvishnuvardhan Do you mean using tensorflow_model_optimization package to quantize ,right?

[2020-09-08 03:06] joslefaure commented on #42049
After installing the newest version of make, run this in your terminal: `export PATH="/usr/local/opt/make/libexec/gnubin:$PATH"`

[2020-09-08 03:07] YingzhouLi commented on #42889
I have implement norm by tf functions and also remove the `sqrt` from the implementation. The `nan` issue is indeed caused by the `tf.sqrt` function. Likely, the function is nearly zero on a batch. (the last point is not verified)

[2020-09-08 03:30] anugrahasinha commented on #31870
This issue seem to be still open, but with [workaround](https://github.com/tensorflow/tensorflow/issues/31870#issuecomment-553269261) mentioned by @KichangKim works fine.
Version : `2.3.0`

Sample for verification
[code]

[code]

I know this is not an ideal env. I am using cygwin, on top of that I am calling a python binary installed for windows. Anyways, I think it does prove that the workaround

[2020-09-08 03:50] philipperemy commented on #32647
Usually those errors come when a change on channels happen in two different model calls. For example calling the model on (?, 28, 28, 1) followed by (?, 28, 28, 3). MNIST grayscale to MNIST colored.

[2020-09-08 03:52] wstian commented on #42917
try with ``AUTOTUNE``,  it doesn't improve anything, no change.

try with  ``batch before map``, the total time doesn't decrease. The code as below:
[code]
benchmark result as below：

* bs=1:  ``total ms: 1657.7699184417725,  each ms: 1.6577699184417725, iterations=1000``
* bs=2:  ``total ms: 1671.933889389038,  each ms: 3.343867778778076, iterations=500``
* bs=4:  ``total ms: 1770.486831665039,

[2020-09-08 03:59] ibrahimsoliman97 commented on #38393
Yes, This issue still exist in TensorFlow v2.2.0

[2020-09-08 04:16] woreom commented on #42916
I edited the notebook

[2020-09-08 04:16] #42490 closed

[2020-09-08 04:26] Saduf2019 commented on #42811
@NahianAlindo
Thanks for your update, glad to hear the issue is resolved.

[2020-09-08 04:31] kafji commented on #42978
@bhack I think it was from an older commit https://github.com/tensorflow/tensorflow/commit/5195204b47d1cf9516ff5eea8232fbff8d320521#diff-62ec18ff8bdd93adaff55160f27a7e09R69

[2020-09-08 04:37] kafji commented on #42978
I'm closing this.

The workaround is to comment out https://github.com/tensorflow/tensorflow/blob/47aab0b49ef7432261f60430f5e29bb331cd5233/tensorflow/api_template.__init__.py#L119 which located in tensorflow's `__init__.py`

[2020-09-08 04:48] rrajkumar77 opened #43033 "ImportError: DLL load failed: The specified module could not be found."
Name: tensorflow
Version: 2.3.0
Summary: TensorFlow is an open source machine learning framework for everyone.
Home-page: https://www.tensorflow.org/
Author: Google Inc.
Author-email: packages@tensorflow.org
License: Apache 2.0
Location: c:\users\user\anaconda3\lib\site-packages
Requires: numpy, wrapt, gast, protobuf, google-pasta, keras-preprocessing, tensorflow-estimator, termcolor, scipy, opt-e

[2020-09-08 04:57] k1moradi commented on #35634
I'm wondering in "on_epoch_end" function should not
`self.best_weights = self.model.get_weights()`
be like
`self.best_weights = self.model.get_weights().copy()`
?

[2020-09-08 05:17] PouriaParhami commented on #29968
Hi @Leslie-Fang
it works for me, tnx.

[2020-09-08 05:48] Saduf2019 commented on #43033
@rrajkumar77

Please installed the latest distribution of Visual C++ from [this link](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads). and refer to below duplicate issues for the same error and let us know.
#41895 #42809 #43003 #42372 #42058

[2020-09-08 05:54] Saduf2019 commented on #42916
@woreom
I ran the updated code and do not afce any errors now, please see [gist here](https://colab.research.google.com/gist/Saduf2019/f297bc18a47460a5b3717de47a56ad2a/untitled407.ipynb), and verify.

[2020-09-08 06:00] zhangqiang-hf commented on #42887
could anyone help me to resolve this build fail？ Thank you！

[2020-09-08 06:07] thaink commented on #43001
@petewarden Could you take a look at this issue?

[2020-09-08 06:08] woshildh commented on #21407
I also have this problem. Mac Os 10.15, tf 1.12 and bazel 0.15. Have you solved it?

[2020-09-08 06:09] #42815 closed

[2020-09-08 06:10] thaink commented on #42964
@advaitjain Could you take a look at this issue?

[2020-09-08 06:11] Saduf2019 commented on #42994
I am able to replicate the issue reported,please find the [gist here](https://colab.research.google.com/gist/Saduf2019/e8b2e8bf3f2f4b717e46228fd2467f7a/untitled407.ipynb)

[2020-09-08 06:16] AloneGu commented on #40420
error: 'tf.ConcatV2' op is neither a custom op nor a flex op
error: 'tf.All' op is neither a custom op nor a flex op

could you please fixed similar op tf.ConcatV2 and tf.All for tflite convert ?

[2020-09-08 06:19] ravikyram commented on #43016
I have tried in colab with TF version 2.3, nightly version(`2.4.0-dev20200907`) and was able to reproduce the issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/d83f0868204690814a2cc0890364b803/untitled320.ipynb). Thanks!

[2020-09-08 06:21] abattery commented on #40420
@AloneGu Both `tf.ConcatV2` and `tf.All` ops can be supported via Select TF ops. Please convert your model with the Select TF op set.

https://www.tensorflow.org/lite/guide/ops_select
https://www.tensorflow.org/lite/guide/reduce_binary_size

[2020-09-08 06:21] #40420 closed

[2020-09-08 06:23] rrajkumar77 commented on #43033
Even after installing Visual c++ i getting the same error.

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
~\anaconda3\lib\site-packages\tensorflow\python\pywrap_tensorflow.py in <module>
     63   try:
---> 64     from tensorflow.python._pywrap_tensorflow_internal import *
     65   # This try

[2020-09-08 06:24] Saduf2019 commented on #42885
Thank you for your update, Glad the issue is resolved in tf-nightly. In case of any new issue please feel free to create a new issue.
Moving this issue to closed status with confirmation.

[2020-09-08 06:24] #42885 closed

[2020-09-08 06:24] thaink commented on #43013
@huafeihuayu
Since you are using python, I am supposed you are running on PC.
The quantized model don't get much performance benefit on PC since it does not have specialized instruction for that.

Could you try to  compare the result on mobile. You can profile your model using one of following approaches:
https://www.tensorflow.org/lite/performance/best_practices#profile_your_model

[2020-09-08 06:26] Saduf2019 commented on #42953
@smallworld-network-wupeng
I ran the code shared and face different error,please find the [gist here](https://colab.research.google.com/gist/Saduf2019/b3ee0778a1eed73ce85771b6d5280faf/untitled407.ipynb).

[2020-09-08 06:28] ravikyram commented on #43021
@avinashcpandey

Request you to fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

Please, share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster. Thanks!

[2020-09-08 06:31] Saduf2019 commented on #43033
@rrajkumar77
Please confirm you have verified with the issues shared, compatibility issues and missing dll files in case.

You might be facing this issue because of the following reasons

You are running 32-bit Python
Your CPU does not support AVX instructions. Please share the make and model of your CPU, so that we can verify this.
Please take a look at the [system requirements](https://www.tenso

[2020-09-08 06:44] ravikyram commented on #43032
@zeyneb-chiha

Please, let us know which TF version you are using.
Please,fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

Please, share colab link or simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-09-08 06:50] thaink commented on #42987
This bug has no information.

[2020-09-08 06:50] #42987 closed

[2020-09-08 07:01] oholimoli commented on #29704
Why is no official `.whl` package for the Raspberry Pi 4 available? => https://www.tensorflow.org/install/pip

[2020-09-08 07:01] ravikyram commented on #43002
I have tried in colab with TF version 2.3, nightly version(`2.4.0-dev20200907`) and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/e2e8f729e35d45c73ceb1c79c873ec20/untitled321.ipynb). Thanks!

[2020-09-08 07:02] mhs4670go opened #43035 "Generate sparse tensor in tflite"
I'm trying to understand the `SparsityParameters` in tflite schema. But, AFAIK, there is only one example that contains this parameters(`tensorflow/lite/testdata/sparse_tensor.json`).

So, I've got trouble generating a network which has tensors whose contents include `SparsityParameters`.

As `tensorflow/core/util/sparse/README.md` said, it sounds like, even if I try to generate a sparse tensor, i

[2020-09-08 07:02] thaink commented on #42972
@nkreeger Could you take a look at this issue?

[2020-09-08 07:07] rrajkumar77 commented on #43033
OS Name	Microsoft Windows 10 Pro
Version	10.0.19041 Build 19041
Other OS Description 	Not Available
OS Manufacturer	Microsoft Corporation
System Name	DESKTOP-RAJ
System Manufacturer	Hewlett-Packard
System Model	HP EliteBook 840 G2
System Type	x64-based PC
System SKU	N2C61US#ABA
Processor	Intel(R) Core(TM) i7-5600U CPU @ 2.60GHz, 2601 Mhz, 2 Core(s), 4 Logical Processor(s)
BIOS Version/Date	Hewlett

[2020-09-08 07:15] haozaiiii commented on #43014
ok

[2020-09-08 07:15] haozaiiii commented on #43014
ok

[2020-09-08 07:15] Patrikvs94 commented on #43022
I did, but the configure file from the "Custom Ops" repository actually installs tensorflow for me. (Aka Tensorflow 2.3)

[2020-09-08 07:16] shuo-ouyang commented on #21407
Upgrade bazel to 0.15.2 can solve this issue.

[2020-09-08 07:40] phillips96 commented on #43025
Please see the primitive example below;
[code]

Note that for usability, it would be beneficial to call the input to `second_half` as one of the following options in this example
`base_model.get_layer("encoded_layer").output`
`base_model.get_layer("second_section").input`
`first_half.output`

I hope this clarifies exactly what i'm talking about. `base_model` and `first_half` build fine but `second

[2020-09-08 07:46] pianogGG commented on #31153
@jvishnuvardhan  I find it can insert fakequant with conv without bias, did you modify something? If so, how modify?

[2020-09-08 07:49] bersbersbers commented on #35781
@ravikyram thanks, I double-check that it's throwing an error as expected. I guess TF2.4.0 will have this fix then.

[2020-09-08 07:52] lyonguyen8697 commented on #42989
I think you should call `model.predict(image)` for inference instead of `model(image)` that returns a `Tensor` causing some overheat

[2020-09-08 07:56] MaarHybrid opened #43036 "I want to minimize 'cost' with variable 'h0'"
M=np.array([[1,0],[0,0]])
M=np.kron(M,np.identity(32))
M=tf.constant(M,dtype=tf.float32)
M=tf.complex(M,tf.zeros([64,64],tf.float32))
h0=tf.Variable(tf.random.normal([64,64],0,1,tf.float32),dtype=tf.float32,shape=[64,64])
h0_T=tf.transpose(h0)
ih = tf.complex(h0 - h0_T, h0 + h0_T)
u = tf.linalg.expm(ih)
u_dagger=tf.linalg.expm(-ih)
ro=tf.constant(ro[0],dtype=tf.float32)
ro=tf.complex(ro,tf.zeros([

[2020-09-08 07:58] GhassenBenMakhlouf commented on #40804
@Saduf2019
Yes, when I copy it into c:/window/system32, it solves the problem.
Actually I had to copy all these files into c:/window/system32, otherwise my script won't use GPU:

- cublas64_10.dll
- cublasLt64_10.dll
- cudart64_101.dll
- cudnn64_7.dll
- cufft64_10.dll
- curand64_10.dll
- cusolver64_10.dll
- cusparse64_10.dll
- nvcuda.dll

This is a dirty solution, I hope you find a better one.

[2020-09-08 08:01] amahendrakar commented on #42641
@gowthamkpr,
Running the code with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/6c96a7afe89fcafdd512b62f0765f28f/42641.ipynb#scrollTo=EudEPDicA6HK), throws an error stating `TypeError: can't pickle _thread.RLock objects`.

However with [TF-nightly](https://colab.research.google.com/gist/amahendrakar/74ae2a69f7d043f4be9d26b1e449738e/42641-tf-nightly.ipynb#scrollTo=EudEPDicA6HK), th

[2020-09-08 08:02] iliaschalkidis commented on #35634
You could... But why? 😃

[2020-09-08 08:06] amahendrakar commented on #42721
@AngeloMascaro,
Is this still an issue? Please feel free to close the issue if resolved. Thanks!

[2020-09-08 08:07] amahendrakar commented on #42721
@fisakhan,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2020-09-08 08:10] pianogGG commented on #31153
Conv with relu6 but without bias  can insert fakequant node

[2020-09-08 08:10] AngeloMascaro commented on #42721
I check it today afternoon or tomorrow morning and I let you know. I suppose yes: it happens with any code that includes that header file. Even an empty main

Inviato da iPhone

[2020-09-08 08:12] meteorcloudy commented on #41904
I see, https://github.com/meteorcloudy/tensorflow/commit/4b8e7bef11040c465453e973eb0c6ad43cfd3c96 basically offers an example to get the DEF file from cc_library instead of cc_binary. The DEF file will not contains symbols from the transitive cc_libraries, so it makes it easier to not exceed the symbol limits (64K). I think if you add the corresponding cc_libraries for the missing symbols in
[code

[2020-09-08 08:12] amahendrakar commented on #42769
@yuye2133,
Any updates regarding this? Please feel free to close the issue if resolved. Thanks!

[2020-09-08 08:16] flydragon2018 commented on #38589
keras is merged to tensorflow.   I guess that is the problem.

using tensorflow.keras instead of keras  after tensorflow 2.3,  It works for me.

[2020-09-08 08:20] thaink commented on #40157
Flex-ops only models can support this ops so it will not be removed.

[2020-09-08 08:27] PetrProkopNXP commented on #43015
Sorry @yongtang , I don’t understand your answer (verb “to vendor”, “bazel”)

If you suggest I should take original LevelDB sources and refactor them for Tensorflow purposes, it is exactly what I really has done, as it depends on point of view: Consider the change, as I took original LevelDB sources with LevelDB copyright headers and moved there all TensorFlow changes that have been already done.

[2020-09-08 08:33] Saduf2019 commented on #43033
@rrajkumar77
Can you please let me know if this is an anaconda installation? if yes, installation issues within the Anaconda environment are tracked in the [Anaconda repo](https://github.com/ContinuumIO/anaconda-issues/issues).

Could you please submit a new issue using [this link](https://github.com/ContinuumIO/anaconda-issues/issues) and fill in the template, so that the issue can be tracked the

[2020-09-08 09:05] bhack commented on #42885
@Saduf2019 It Is not solved

[2020-09-08 09:07] ravikyram commented on #43036
@MaarHybrid

I tried reproducing the issue in colab with TF 2.3 and i am seeing the error message(`NameError: name 'ro' is not defined`).
Please, share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster. Thanks!

[2020-09-08 09:07] jplu opened #43037 "Error "failed to connect to all addresses" when training on TPU with Colab"
Hello!

**Describe the current behavior**
When running the my Colab I get the following error:
[code]
When I try to iterator over my dataset:
[code]

**Describe the expected behavior**
Being able to iterate over the dataset.

**Standalone code to reproduce the issue**
The full Colab can be found here https://colab.research.google.com/drive/1jZaFmrDmBGbGkg8oKEJ78cL2PgIB7UF5?usp=sharing

[2020-09-08 09:12] bhack commented on #43022
Yes there is a bug with new package naming  at https://github.com/tensorflow/custom-op/blob/master/configure.sh#L89.

Can you close this ticket and open a new one on that repository?

Thanks.

[2020-09-08 09:15] cfRod commented on #42858
I have rebuilt master on x86 with --config=mkl_opensource_only
[code]

[2020-09-08 09:41] ScaleRunner opened #43038 "Pylint incorrectly identifies tensorflow public API functions in tensorflow 2.2+"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Apart from the example below, no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04/OSX 10.15.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: :x:
- TensorFlow installed from (source or binary): binary
-

[2020-09-08 09:42] Saduf2019 commented on #43037
I am able to replicate this issue, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/23e04d7ef7e70a5ee6eaf93b0b57e0e8/untitled408.ipynb)

[2020-09-08 09:47] danieltarita commented on #43026
Thank you, it worked! Problem solved.
Just had to run
`pip install protobuf==3.6.0`

[2020-09-08 09:49] bhack commented on #43038
This is true with newer pylint versions. As you see currently in master we are on `1.6.4`:
[code]

[2020-09-08 09:50] amahendrakar commented on #42778
@Vijju123-hash,
The example is fairly complex, and it is hard for us to pinpoint the issue. Can you remove the dependencies and get the example down to the simplest possible repro? That will allow us to more easily debug the issue.

Also, TensorFlow 1.x is not actively maintained. Could you please update TensorFlow to v2.3 and check if you are facing the same issue? Thanks!

[2020-09-08 10:02] ravikyram commented on #43026
@danieltarita

Please, close this thread as your issue was resolved. Thanks!

[2020-09-08 10:02] MiquelFerriol commented on #41810
Any news on this topic? Did you manage to trick TF in some way? For now, it looks TF does not support ragged tensors on target variables.

[2020-09-08 10:04] mostafa-mahmoud commented on #35982
@omalleyt12 Hello, is there any response regarding this bug?

[2020-09-08 10:08] bhack commented on #43037
@jplu Can you check https://github.com/tensorflow/tensorflow/issues/40035#issuecomment-663173209?

[2020-09-08 10:12] rrajkumar77 commented on #43033
Yes, I use anaconda
#12028 raised for anaconda issue through the link provided

[2020-09-08 10:15] jplu commented on #43037
I get the exact same error also when loading data from a Google Storage bucket.

[2020-09-08 10:22] amahendrakar commented on #42864
Was able to reproduce the issue with TF v2.3 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/52eaa7f313f759e8e08cbdd2dfc0f815/42864.ipynb). Thanks!

[2020-09-08 10:23] bhack commented on #43025
So it seems to me that your 2nd use case it is like: https://stackoverflow.com/questions/52800025/keras-give-input-to-intermediate-layer-and-get-final-output

[2020-09-08 10:23] jplu commented on #43037
You can replace:
[code]
By
[code]
In your [gist ](https://colab.research.google.com/gist/Saduf2019/23e04d7ef7e70a5ee6eaf93b0b57e0e8/untitled408.ipynb) and you will get the exact same error.

[2020-09-08 10:26] bhack commented on #43037
It seems to me that on @Saduf2019 tf-nightly gist there is another issue about Graphdef versioning:

/cc @jhseu

[2020-09-08 10:33] wulikai1993 opened #43039 "MultiWorkerMirroredStrategy.experimental_distribute_dataset return an empty DistributedDataset"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  docker hub image: tensorflow/tensorflow:2.3.0-gpu
- TensorFlow version (use command below): 2.3.0-gpu
- Python version: 3
- CUDA/cuDNN version: 7.6.4.38-1
- GPU model and memory:GeForce GTX 1080 Ti , 12G memory

**D

[2020-09-08 10:34] jplu commented on #43037
Indeed the difference comes from the fact to use `tf-nightly version 2.4.0-dev20200908` instead of the 2.3 version.

[2020-09-08 10:43] bhack commented on #43037
@jplu Yes there is no visibility about your issue reproducibility in the @Saduf2019 gist cause this new issue could be the only one (in this case your issue It Is alteady solved in nightly) or just an early issue that doesn't let to trigger your own.

The only thing to "quickly" disambiguate the status on nightly Is to resolve this new Graphdef incompatibilty.

[2020-09-08 10:44] amahendrakar commented on #43028
@XDKaioden,
Please take a look at the above comment by tensorflow-butler and also these similar StackOverflow issues [issue#1](https://stackoverflow.com/a/63712528) and [issue#2](https://stackoverflow.com/a/63438359) and let us know if it helps. Thanks!

[2020-09-08 10:57] ScaleRunner commented on #43038
Ahh, I see. I can indeed verify that when using `pylint==1.6.4`, there are no linting errors in the `example.py` I mentioned.

Are there plans to support newer versions of pylint? `pylint==1.6.4` was released on July 19th 2016 and numerous improvements have been made since.

[2020-09-08 11:08] #43026 closed

[2020-09-08 11:13] bhack commented on #43038
I don't know just let see what kind sanity checks will fails with https://github.com/tensorflow/tensorflow/pull/43040.

[2020-09-08 11:14] andreydung opened #43041 "TFLite C API problem inferencing"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  No
- OS Platf

[2020-09-08 11:20] yananchen1989 opened #43042 "tensorflow converter.convert() failure"
I built model in tf==2.3.0 and I saved my model in SavedModel format.

Here is my conversion operation:
[code]
Here is my model summary, which is a typical text classification model.
[code]

Here is the failure errors:

[2020-09-08 11:23] bhack commented on #43042
Can you shere `./binary_bert_model`?

[2020-09-08 11:26] ScaleRunner commented on #43038
I did some more digging with older versions of pylint.

No errors on `example.py`:
* last `1.x` release (`1.9.5`): ✅
* `2.0.1` up until `2.2.3` gave an error that probably has something to do with the astroid dependency https://github.com/PyCQA/astroid/issues/649
* `2.3.3`: ✅
* `2.4.4`: ✅
* `2.5.3`: ❌
* `2.6.0`: ❌

Now these only check the minimal example above, but might give an indication of wha

[2020-09-08 11:27] bhack commented on #43041
Can you share a very minimal but runnable code snippet to reproduce this?

[2020-09-08 11:32] bhack commented on #43038
With `2.6.0` the list of things to fix or ignore it is quite long:

https://source.cloud.google.com/results/invocations/65c2a3ec-39f8-4d43-823d-ba791a96cbb2/targets/%2F%2Ftensorflow%2Ftools%2Fci_build:gen_ci_sanity_out/log

[2020-09-08 11:45] ScaleRunner commented on #43038
I can imagine that the list is quite large. There are a lot of new error code introductions along the way to newer versions.

Would you (or the tensorflow team) be interested in bumping one minor pylint version at a time and fixing/disabling issues along the way? I can image that fixing (at least some of them) would require backwards-compatibility breaking changes.

[2020-09-08 11:52] bhack commented on #43038
@ScaleRunner Yes let's see what they want to do after having an overview on the LOG.

[2020-09-08 11:56] rxiang040 commented on #41485
@srjoglekar246 Thanks very much for your advice. Now it can run on GPU with tflite2.3. But still we have one problem. I have attached our model structure. At the last layer of our model, it is a ResizeBilinear layer. We found that this operation is much efficient if we can run it with CPU. So we modified tensorflow/lite/delegates/utils.cc at line 219 by adding the following code:

`  if (node_id =

[2020-09-08 11:57] SimonWeitzhofer opened #43043 "GradientTape.batch_jacobian returns the wrong type in case of constant functions"
**System information**
Google Colaboratory with TF 2.3.0, git version v2.3.0-0-gb36436b087

**Describe the current behavior**
tf.GradientTape.batch_jacobian of a constant function with return type float64 returns a zero matrix of type float32

**Describe the expected behavior**
return a zero matrix of type float64

**Standalone code to reproduce the issue**
[code]

**Other info / logs**

Workaroun

[2020-09-08 12:16] ravikyram commented on #43043
I have tried in colab with TF versions 2.3, nightly versions(`2.4.0-dev20200908`) and was able to reproduce the issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/35d2bc5bc15e34e22c1ce942dbb92918/untitled324.ipynb). Thanks!

[2020-09-08 12:16] mikkeljakobsen commented on #42738
Thank you. Had the exact same problem. This worked.

[2020-09-08 12:17] pks commented on #40989
@NeoZhangJianyu Which is the earliest CPU generation the wheel will work with?

[2020-09-08 12:22] phillips96 commented on #43025
That looks like what i'm after yes. Using against this trivial example you'd build as such

[code]
For this simplistic approach, the above is okay but it could quickly get out of hand as the original stackoverflow answer points out. In my actual code i'm having to do something slightly more convoluted to stitch the remaining layers together.

Considering the initial hurdle is simply to create an I

[2020-09-08 12:22] cefaci commented on #42886
No it is good, it is how you retrieve it in java and the batchsize is here set to 1. The last zero is wrong and differs from the same python output, the length should be both 9 as well and not an extra added zero in the end:
[code]

[2020-09-08 12:22] avinashcpandey opened #43044 "TF_TensorToPyArray is hard coded for equality, limits performance enhancements"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  Yes, modified TF code with overriding existing Op
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 18.04):  4.15.0-115-generic
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:  x86_64 24 core processor
- Ten

[2020-09-08 12:26] avinashcpandey commented on #43021
I created new issue with right template and shared detailed info.
https://github.com/tensorflow/tensorflow/issues/43044

We can close this and work on that.

[2020-09-08 12:27] bhack commented on #43025
So do you mean that you want to automate this?

[2020-09-08 12:30] phillips96 commented on #43025
Basically yes

[2020-09-08 12:32] bhack commented on #43025
I don't know the recent internals design limit to automate this in the Keras API
/cc @tanzhenyu do you have an opinion about this?

[2020-09-08 12:34] bhack commented on #43043
If let interact the watched `c` with `f` it will return the correct dtype:

[code]

[2020-09-08 12:38] renjie-liu commented on #42886
I mean why python gives you a 2-d tensor while the java gives you a 1-d tensor?

[2020-09-08 12:44] ravikyram commented on #43021
@avinashcpandey

As per your comments i am closing this issue. We can track the issue in #43044. Thanks!

[2020-09-08 12:44] #43021 closed

[2020-09-08 12:46] phillips96 commented on #43025
Just to state for the record the above solution becomes a nightmare when you're using anything residual or with multiple paths, which is why is why it would be so useful to base it off of the knowledge you already have about all the connections from the original `base_model`

[2020-09-08 12:52] mdanatg commented on #12345
@EPronovost working on other types first sounds like a good idea too. Note that Keras is moving to a stand-alone repository, and TF will not depend on it. But things like Dataset, TensorShape, etc. all sound good to me. I think it would be a good idea to do some experimentation first.
Currently, TF only has internal tests for type annotations, which use `pytype`. Setting up a set of tests which us

[2020-09-08 12:54] Sruinard opened #43045 "TFX for Mobile: Additional dtypes"
**System information**
- MacOS
- tensorflow==2.3.0.rc
- tfx==0.22.0

**Provide the text output from tflite_convert**

[code]

TFX provides a powerful ecosystem for running production-grade ML pipelines, where one of its most important components is the Transform component. Currently, it seems that the tflite converter is incapable of receiving an input string and performing the tokenization in the

[2020-09-08 12:58] Jordy-VL commented on #41810
@MiquelFerriol  Hi Miquel, sorry to disappoint but I did not find a short-term workaround :/
Dynamic padding and batching is the only solution I see for now...

[2020-09-08 13:03] davidaharon opened #43046 "TensorFlow send/recv operations scheduling"
Link to the documentation:
https://www.usenix.org/system/files/conference/osdi16/osdi16-abadi.pdf
link to the OpKernels implementation:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/sendrecv_ops.h

## Description of issue:
When a Tensorflow execute a graph, it partitions it into subgraphs s.t. each subgraph consists of nodes assigned to a single device. Value copy op

[2020-09-08 13:04] orangesomethingorange commented on #42929
I installed the [Hexagon SDK v3.5.2 - Linux](https://developer.qualcomm.com/downloads/hexagon-sdk-v352-linux?referrer=node/6116) (from [here](https://developer.qualcomm.com/software/hexagon-dsp-sdk/tools)) and cloned the [nnlib repository](https://source.codeaurora.org/quic/hexagon_nn/nnlib) (from [CodeAurora](https://source.codeaurora.org/quic/hexagon_nn/nnlib)) to build the libraries.
Build the

[2020-09-08 13:45] vaibhav-75007 commented on #42992
should i add this line off code in all my projects?? @amahendrakar .
Please reply

[2020-09-08 13:48] vaibhav-75007 commented on #42992
`i am iron man`

[2020-09-08 14:01] lynochka opened #43047 "Cardinality returns unknown for a dataset with (string, float), but also for dataset with float variable alone"
Cardinality returns unknown from a dataset with (string, float) but also for dataset with float variable alone.

I created data stored in a csv files without header representing text and a float number corresponding to this text (NALU like dataset).

I susptect that it is not possible to find the size of the data since the first column is a string it gives me an UNKNOWN cardinality (-2) back.

Dat

[2020-09-08 14:06] Saduf2019 commented on #43047
@lynochka
Please fill in issue template for us to help. tf version, simple stand alone code to replicate the issue faced or share a colab gist with issue reported with error logs.

[2020-09-08 14:11] leonjovanovic commented on #38518
I am having same problem. I can downgrade to 2.2 but then i cant use tf.keras.preprocessing.text_dataset_from_directory like tensorflow tutorial says, and "solution" to that is to use 2.3 but i cant because of problem above. Any suggestions?

[2020-09-08 14:13] bhack commented on #43047
Check https://github.com/tensorflow/tensorflow/issues/30529#issuecomment-510814608

[2020-09-08 14:15] lynochka commented on #43047
Update the issue with tensorflow = 2.3.0, the code is standalone now that the imports are added

[2020-09-08 14:16] Saduf2019 commented on #43044
@avinashcpandey
Please share simple stand alone code for us to replicate issue faced, or if possible share a colab gist with the error reported.
Can you please try with 2.x versions and let us know if you still face any performance issue.

[2020-09-08 14:17] lynochka commented on #43047
From link you gave, looks like it is less of a bug and more of a feature request ?

[2020-09-08 14:17] JCastix opened #43048 "ERROR: Could not find a version that satisfies the requirement tensorflow (from versions: none)"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2020-09-08 14:19] Saduf2019 commented on #43033
Moving this to resolved status as issue is created in anaconda repo.

[2020-09-08 14:19] #43033 closed

[2020-09-08 14:25] bhack commented on #43048
What Is your version of `pip`?

[2020-09-08 14:25] Saduf2019 commented on #43014
@haozaiiii
This question is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Please feel free to close the issue if you do not have any other query.

[2020-09-08 14:28] JCastix commented on #43048
20.2.3

From: bhack <notifications@github.com>
Sent: Tuesday, September 8, 2020 10:26 AM
To: tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: Rick Smith <rsmith@willisconsulting.com>; Author <author@noreply.github.com>
Subject: Re: [tensorflow/tensorflow] ERROR: Could not find a version that satisfies the requirement tensorflow (from versions: none) (#43048)

[ -External Email- ]

What Is

[2020-09-08 14:30] bhack commented on #43047
If you see I've just quoted the official documention.
It Is by design.

[2020-09-08 14:50] bhack commented on #43048
Can you try with an updated version of  Python 3.7.x or Python 3.8.x?

[2020-09-08 14:56] durandg12 commented on #31240
@amahendrakar the issue is solved, with the caveat that we still have to convert dense tensors to sparse tensors just for the code to convert them back to dense tensors which seems inefficient. Also some behind the scene changes caused an error with the code above so I have to put the transformation to a sparse tensor into a function and wrap it into a `Lambda` layer. So here is the final code I u

[2020-09-08 14:59] JCastix commented on #43048
Yes,

I tried switching over to python 3.8.1 32 ands  using

Pip install tensorflow

Same exception in pip
ERROR: Could not find a version that satisfies the requirement tensorflow (from versions: none)
ERROR: No matching distribution found for tensorflow

From: bhack <notifications@github.com>
Sent: Tuesday, September 8, 2020 10:51 AM
To: tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc:

[2020-09-08 15:01] bhack commented on #43048
What is `32`? 64bit python is required.

[2020-09-08 15:05] bhack commented on #43015
I think that @yongtang's solution it is correct.

[2020-09-08 15:09] JCastix commented on #43048
Ok, I got it to 3.8.5 64bit same difference

ERROR: Could not find a version that satisfies the requirement tensorflow (from versions: none)
ERROR: No matching distribution found for tensorflow

From: bhack <notifications@github.com>
Sent: Tuesday, September 8, 2020 11:02 AM
To: tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: Rick Smith <rsmith@willisconsulting.com>; Author <author@norep

[2020-09-08 15:13] bhack commented on #43048
Can you post the output of `pip3 --version`?

[2020-09-08 15:16] #42618 closed

[2020-09-08 15:16] #42639 closed

[2020-09-08 15:16] cefaci commented on #42886
- "I mean why python gives you a 2-d tensor while the java gives you a 1-d tensor?":
If I increase the batch size the next result will be just appended to the IntBuffer:
[20, 11, 47, 12, 47, 27, 26, 26, 26, 20, 11, 47, 12, 47, 27, 26, 26, 26, 0, 0, 0, 0]
- The last zero is my fault, I checked the complete returned result, e.g.
Arrays.copyOfRange(b.array(), b.arrayOffset(), b.array().length);

Many

[2020-09-08 15:16] #42886 closed

[2020-09-08 15:22] bhack commented on #43048
Also if you can the outputs of:
`python3.8 -VV`
`python3.8 -m pip install tensorflow`

[2020-09-08 15:32] amahendrakar commented on #43038
Was able to reproduce the issue with TF v2.3 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/2e2f2330c3a3c9786a9994e4c4d0b5a4/43038.ipynb). Thanks!

[2020-09-08 15:32] tanzhenyu commented on #43025
This is where subclassed model works better than functional models:
[code]

Making things modular will also help you even in residual path case, no?

[2020-09-08 15:40] srjoglekar246 commented on #42735
@hahmad2008 Please use the latest nightly for tflite_convert. Otherwise you won't get the latest convertor changes. Looks like you got it converting now, how big is the model?

`export_tflite_graph_tf2.py` has some parameters that you can use to fine-tune how many results it provides, and the accuracy.

See `ssd_use_regular_nms` & `ssd_max_detections` [here](https://github.com/tensorflow/models/bl

[2020-09-08 15:41] JCastix commented on #43048
Ok,

I got it to install and now it’s throwing this:

2020-09-08 11:39:35.785180: W tensorflow/stream_executor/platform/default/dso_loader.cc:59] Could not load dynamic library 'cudart64_101.dll'; dlerror: cudart64_101.dll not found
2020-09-08 11:39:35.785443: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

From: bh

[2020-09-08 15:42] bhack commented on #43025
@phillips96 Of course If you don't need to be constrained inside the functional API perimeter as @tanzhenyu's suggested you can handle this with model subclass.

[2020-09-08 15:46] bhack commented on #43048
1. Go to the [Microsoft Visual C++ downloads](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads/),
  2. Scroll down the page to the Visual Studio 2015, 2017 and 2019 section.
  3. Download and install the Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017 and 2019 for your platform.

[2020-09-08 15:51] mihaimaruseac commented on #42955
Yeah, we did not backport that fix since we only do patch releases for security issues.

[2020-09-08 15:51] charlielito commented on #42989
@Leslie-Fang I haven't trained it yet, so I don't know. Nonetheless, because it is exactly the same model I expect comparable accuracy results. No need of fine tuning.

@lyonguyen8697 I think I forgot to mention it, but I am testing with batch_size=1, and as the [docs](https://www.tensorflow.org/api_docs/python/tf/keras/Model#predict) says: "using __call__ is recommended for faster execution"

[2020-09-08 15:51] srjoglekar246 commented on #41485
@rxiang040 The LOG statements are sometimes buggy, especially when the graph structure is a bit complex (as is the case for FP16 graph). Its on our radar to improve this :-).

Does the model provide a speedup on the GPU? If yes, I wouldn't worry too much about a node (or two) not being run on GPU, since the other nodes in your visualization seem heavier.

As for FP16 vs FP32, this shouldn't matter

[2020-09-08 15:59] bhack commented on #42989
@charlielito Can you test the performance with  `pip install tf_nighlty`?

[2020-09-08 16:03] JCastix commented on #43048
Thanks, did that, same difference… Seems to be related to CUDA and GPU…
https://stackoverflow.com/questions/59823283/could-not-load-dynamic-library-cudart64-101-dll-on-tensorflow-cpu-only-install

I don’t have CUDA, can I get on without it I am not using GPU acceleration at this time so?

From: bhack <notifications@github.com>
Sent: Tuesday, September 8, 2020 11:47 AM
To: tensorflow/tensorflow <te

[2020-09-08 16:06] mihaimaruseac commented on #43036
This is better asked on StackOverflow as it has no issue with TF code

[2020-09-08 16:06] #43036 closed

[2020-09-08 16:06] bhack commented on #43048
try to use `python3.8 -m pip install tensorflow-cpu`

[2020-09-08 16:08] bhack commented on #43047
@jsimsa Can we close this?

[2020-09-08 16:08] phillips96 commented on #43025
Thanks @tanzhenyu, so my actual application uses subclassed models in a similar fashion to this.

I just found it curious that the api is capable of building a sub-model going from the input to and intermediate layer using that api call, but you can't go from the intermediate layer to the final output it quite the same fashion.

Happy to close this if it's not something that seems overall benefici

[2020-09-08 16:11] gunan commented on #42887
@mihaimaruseac @samikama may know

[2020-09-08 16:12] gunan commented on #42887
This is also for mips architecture. TF has no official support for this architecture.

[2020-09-08 16:17] gunan commented on #42094
As much as I would like to help, I never was able to make the debug build work in any OSs with TF.
Especially on windows, I do not have much experience.

[2020-09-08 16:17] rmothukuru commented on #42558
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-09-08 16:17] #42558 closed

[2020-09-08 16:17] bhack commented on #40072
Please be aware of https://github.com/tensorflow/tensorflow/issues/42885#issuecomment-687151509 if you are going to retest this on colab again.
That duplicated issue was closed as solved but it isn't solved.

[2020-09-08 16:20] bhack commented on #42989
Cause on nightly on your model we have a more explicit:

	 [[node BiSeNetV2/segment_branch_2/sequential_78/ge_layer_s2_6/sequential_75/batch_normalization_132/FusedBatchNormV3 (defined at <ipython-input-2-ffb1581d5ded>:206) ]] [Op:__inference_function_21059]

[2020-09-08 16:22] nluehr commented on #39054
@CNugteren now that TF nightlies are built against cudnn 8, can you verify that the issue is resolved?

[2020-09-08 16:23] JF-D opened #43049 "How to use unified memory in TF2.1"
Hi, I am trying to test unified memory performance. But I cannot find any introduction about how to use unified memory in tf2.1. Could you please offer some help? Thanks a lot!

[2020-09-08 16:26] tanzhenyu commented on #43025
No, I agree with you, this seems desirable, however currently blocked by the same reason mentioned in the stackflow thread. Contribution welcome!

[2020-09-08 16:29] JCastix commented on #43048
Yes! That did it,

THANKS MUCH!

From: bhack <notifications@github.com>
Sent: Tuesday, September 8, 2020 12:07 PM
To: tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: Rick Smith <rsmith@willisconsulting.com>; Author <author@noreply.github.com>
Subject: Re: [tensorflow/tensorflow] ERROR: Could not find a version that satisfies the requirement tensorflow (from versions: none) (#43048)

[ -E

[2020-09-08 16:30] bhack commented on #43048
Can you close this?
Thanks.

[2020-09-08 16:32] bhack commented on #43025
@tanzhenyu Yes this was the real question. Glad to know that there is any hard design constrain to implement this.

@phillips96 I suppose that a PR is welcome if you want to implement this behaviour.

[2020-09-08 16:33] jsimsa commented on #43047
Correct, this is working as intended. If you wish to compute the cardinality of a dataset whose cardinality is not known statically (and thus requires iterating over the entire dataset), you can do so via:

[code]

[2020-09-08 16:33] #43047 closed

[2020-09-08 16:36] spratik commented on #42405
Are you able to reproduce issue?  Please let me know if you need any help from my side to reproduce issue.

[2020-09-08 16:37] #43048 closed

[2020-09-08 16:38] phillips96 commented on #43025
@bhack sure thing.

This will be my first PR here so I'll sign up to the contributors forms and do some initial scoping for this.

[2020-09-08 16:45] priyansh985 commented on #11065
i am solve this problem
you type  this follow this process
right click to windows button and open windows power shell
and write this    pip install tensorflow==2.3.0
ok and give time to his computer to download this
and check the tensorflow to using import command
you type import tensorflow
and computer gives you no errors
you did it your tensorflow successfuly installed thank you ...

[2020-09-08 17:04] taylorshin commented on #42940
Enabling the Select TF op feature resulted in the model converting without spewing alphanumeric symbols. However, the converted TFLite model has a fixed input size of `3 x 5`. Could that have been set by the TFLite conversion process?

![Screen Shot 2020-09-04 at 3 00 00 PM](https://user-images.githubusercontent.com/10328411/92506626-925cfc80-f1ba-11ea-81fe-33edb371c9a2.png)

[2020-09-08 17:09] talpay commented on #26268
@surGeonGG Can you be more specific please? I assume you did more than just simply subclassing because propagating the init via a super-call shouldn't have any effect.

[2020-09-08 17:10] gunan commented on #41850
Looks like the owner of the tool has left TF.
However, I am not sure if we still need this tool.
Brian, could you take a look at what this tool does, and if we can just use what protobuf team offers instead of this?

[2020-09-08 17:16] bhack commented on #43049
Can you check https://github.com/tensorflow/tensorflow/issues/29840? /cc @jaingaurav @aaroey

[2020-09-08 17:16] amahendrakar commented on #42954
@huafeihuayu,
Without a reproducible code, it'd be difficult for us to debug the issue. In this case, is it possible for you to provide a dummy model to replicate the issue reported here? Thanks!

[2020-09-08 17:17] bhack commented on #43045
Is you example runnable?

[2020-09-08 17:34] av8ramit commented on #42405
Yes, bazel and makefile serve a similar purpose, but bazel targets are significantly easier to run for us.

Unfortunately, I have not tried to reproduce your environment due to resource and policy reasons, but hopefully maybe someone else in the community has seen this before.

[2020-09-08 17:41] aaroey commented on #29840
@sanjoy could you help to find an owner of this issue? Thanks

[2020-09-08 17:42] angerson commented on #41132
FYI @av8ramit, who IIRC set up the libtensorflow builds.

Our GPU libtensorflow builds use the default configure setting, revealed by our internal `tensorflow/release/ubuntu_16/libtensorflow/gpu/nightly` job):

[code]

[2020-09-08 17:42] bhack commented on #43046
/cc @keveman

[2020-09-08 17:44] Path-A commented on #27303
Has anyone had success with audio_microfrontend_op from tensorflow.lite.experimental.microfrontend.python.ops?

[2020-09-08 17:46] amahendrakar commented on #42992
@vaibhav-75007,
Yes, you'll have to add the code snippet to your projects. Alternatively, you can install the TensorFlow CPU package using the below command.

`pip install tensorflow-cpu`

Thanks!

[2020-09-08 17:46] naserpiltan commented on #42588
@annarev  Hi , Im so sorry for delay in my answer , I did not have internet access for a few days.
If I understood correctly your mean by original GraphDef is **frozen_inference_graph.pb** ? I downloaded it from tensorflow deeplab modelzoo. you can see that In this link : **http://download.tensorflow.org/models/deeplabv3_cityscapes_train_2018_02_06.tar.gz**.
Do i have to make some modifications in

[2020-09-08 17:46] motrek commented on #41132
@angerson It seems there are two problems being discussed on this thread.

One is that some people have older graphics cards with compute capability < 6.0.

The problem I'm seeing isn't that, since my chip (1660 Ti) has compute capability 7.5.

One thing about the 1660 Ti is that it's a Turing chip but its Tensor Cores either don't exist or aren't enabled, so maybe that's tripping up TensorFlow so

[2020-09-08 17:51] agramesh1 commented on #42858
@cfRod  You can add `linkopts = ["-lgomp"], ` here https://github.com/tensorflow/tensorflow/blob/master/third_party/mkl_dnn/mkldnn_v1.BUILD#L114 This will pull in gcc's openmp and allow you to build and run with gcc's omp library.  However gomp peformance not be as good as the intel openmp solution. For x86 builds, we get  libiomp5 as part of  binary blob. The intel openmp is available as opensour

[2020-09-08 17:54] av8ramit commented on #41132
@angerson I'll send a fix internally that matches the pip package config.

[2020-09-08 17:54] bhack commented on #43035
Have you seen the reply in https://stackoverflow.com/questions/63719424/understanding-of-sparsityparameters-in-tensorflow-lite-schema?

[2020-09-08 18:02] bhack commented on #43019
/cc @angerson

[2020-09-08 18:07] bhack commented on #360
Is this still valid? Also ` tf.scatter_update` is deprecated.

[2020-09-08 18:10] bhack commented on #823
Is this still valid? `tf.moving_average_variables` Is a TF v1 only API now.

[2020-09-08 18:13] spratik commented on #42405
Assume if I provide bazel target also. There also you need v140 (visual studio 2015 ) complier and above mentioned required software.  Irrespective of method we choose , you need required software in order to reproduce issue.  The GitHub link which I shared with you in which I mention clear guidelines what step you need to follow to setup the project. That is very easy to configure. Hardly it will

[2020-09-08 18:15] rajeev921 commented on #42888
@nikitamaia

Do you have any working examples that you have tested on nigtly_build that is scaling for multi cpus for multi hosts?

If you have please share, So I can try and see what is wrong in my situation.

[2020-09-08 18:18] bhack commented on #43022
Please close this it is already handled in https://github.com/tensorflow/custom-op/issues/74

[2020-09-08 18:18] CoreyCole commented on #42941
Hey @renjie-liu, I added that ruy flag when building the benchmarking tool (from master 86db5756535f70f1b1fab61c6f3f0483141510e8)
[code]
And then I ran the benchmarking tool on my float32 TFLite model
[code]
It seems it is running even more slowly and there is no additional information in the output (comparing to my original benchmark output linked in my original post). Do I need to run the benchm

[2020-09-08 18:39] angerson commented on #43019
Tagging @perfinion

[2020-09-08 18:44] bhack commented on #43019
It is probably upstream as it seems connected also to https://github.com/bazelbuild/bazel/issues/12049.
We could evaluate to close this.

[2020-09-08 18:55] panmari commented on #823
I guess this is by now obsolete.

[2020-09-08 18:55] #823 closed

[2020-09-08 19:17] bhack commented on #956
I think that the scope of this ticket is too broad. Can we close this as some of the operations are now covered and open new issues for the missing ones?

[2020-09-08 19:21] bhack commented on #4722
Is this still valid?

[2020-09-08 19:30] bhack commented on #1539
What is the status of this?

[2020-09-08 19:41] stefano555 commented on #41840
Hi,

I've done what you asked me. Let me guide you through the results.

1. you can find in the file tf_to_tflite_convert the code to create the 3 models (called DenseNet169_2020_07_27_dyn_range_debug, DenseNet169_2020_07_27_int_quant_float_debug, DenseNet169_2020_07_27_int_quant_uint_debug). You can find the tests on the code test_tf_lite_cpu.

These are the results calculated over 100 pics (tf m

[2020-09-08 20:13] #42894 closed

[2020-09-08 20:16] #42260 closed

[2020-09-08 20:16] #42440 closed

[2020-09-08 20:16] #42455 closed

[2020-09-08 20:24] av8ramit commented on #41132
https://github.com/tensorflow/tensorflow/commit/049fa9d21b28dbbb6780fd09852cde2f1a09b352 should fix this. I'll keep monitoring to see if there are any other issues.

[2020-09-08 20:37] gunan commented on #42819
Closing as duplicate of #41850

[2020-09-08 20:37] #42819 closed

[2020-09-08 20:43] gunan commented on #40859
Thanks @nluehr for the clue.

@ibrahimsoliman97 @alanpurple to test the theory above, could you first run `bazel clean --expunge`
Then rerun configure and rebuild?
If indeed your workspace ran a build with cuda 10.1 before, unless you run the `bazel clean --expunge` command opld configs will stay around and corrupt your build.

[2020-09-08 20:45] sRassmann opened #43052 "DLL load fail _pywrap_tensorflow_internal during CPU-only installation"
I am trying to install the CPU-only version of tf.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 64bit (v.1912)
- TensorFlow installed from (source or binary): pip (v.2.3.0), conda (v.2.1.0)
- TensorFlow version: 2.3.0
- Python version: 3.7.0 and 3.8.3
- Installed using virtualenv? conda and without using an environment
- CUDA/cuDNN version: I didn't

[2020-09-08 21:09] XOR0831 opened #43054 "Tensorflow Bazel Build"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.3
- Python version: 3.8.5
- Installed using virtualenv? pip? conda?: No
- Bazel version (if compiling from source): 3.5.0
- CUDA/cuDNN version: 11/8.0.3
- GPU model and memory: GTX 1650

ERROR: An error occurred during the fetch

[2020-09-08 21:12] SiegeLordEx commented on #42978
If you don't mind, I'd rather keep this open. It seems quite reasonable to me for TF to load shared libraries from the virtualenv installation rather than the user directory. The current behavior is quite unintuitive.

[2020-09-08 21:16] rajeev921 commented on #42888
Hi @nikitamaia

I thought to test the same setting on a bigger dataset. So did took a bigger dataset. apply local_batch_size of 512 then used
lobal_batch_size = local_batch_size * mirrored_strategy.num_replicas_in_sync

I removed .repeat and steps per epoch. and ran with a single host and 5 different hosts.

Outcome -
1. with one host I see steps per epochs as 45 and Epochs time 470 avg and 10s/st

[2020-09-08 21:30] zacwellmer commented on #40215
@qlzh727 FYI looks there is also discrepancies in how the input mask is handled between when _could_use_gpu_kernel is True and False. When it is True it looks as though we properly apply dropout (uniquely to i, f, a, and o) ([here](https://github.com/tensorflow/tensorflow/blob/2b96f3662bd776e277f86997659e61046b56c315/tensorflow/python/keras/layers/recurrent.py#L2388)).
[code]

Seems like the simpl

[2020-09-08 21:51] bhack commented on #43054
Can you check https://github.com/tensorflow/tensorflow/issues/43048#issuecomment-688966840?

[2020-09-08 21:53] bhack commented on #43054
And also https://www.tensorflow.org/install/source_windows?hl=en#install_visual_c_build_tools_2019

[2020-09-08 21:55] mkuchnik commented on #26182
Specifically, the 10-2 packages come from libcublas10 (which may get installed automatically with the others, but not if apt thinks it's already installed e.g., when I deleted the "surprise" files). A possible corner case for some.

`sudo apt-get -o Dpkg::Options::="--force-overwrite" install --reinstall cuda-10-1 cuda-drivers libcublas10  -y`

I then symbolic linked it into cuda.

[code]

[2020-09-08 22:09] nikitamaia commented on #42888
This is difficult to debug since I can't see the actual code you're running, so let's try something simple as a sanity check.
Please see this [gist](https://colab.research.google.com/drive/1uimh_CcczehHmRkONHohPnmeAUprHoZ2?usp=sharing) here for running multi worker training with MNIST

Run this code in nightly, first with one machine. Then with two. The only thing in the code you will need to chan

[2020-09-08 22:18] nikitamaia commented on #35093
Hi @uzi0espil, can you open a new issue with information on the problem you're facing and reproducible code? I can help you to debug.

[2020-09-08 22:23] nikitamaia commented on #41189
Hi @jimthompson5802 thanks for providing the code and also a workaround. I am reopening this issue for further investigation.

[2020-09-08 22:29] DanlanChen commented on #37505
Is there any solution? I am still facing it now..

[2020-09-08 22:36] sanjoy commented on #29840
Assigned to Gaurav since it looks like the core issue is https://github.com/tensorflow/tensorflow/issues/29840#issuecomment-507066169?

[2020-09-08 22:41] bhack commented on #43052
Tensorflow doesn't directly support conda setup but you can follow https://docs.anaconda.com/anaconda/user-guide/tasks/tensorflow/

[2020-09-08 22:52] nikitamaia commented on #42997
Hi @weichen456, in the gist you provided the second cell executes without error. Is that a suitable workaround for you?

[2020-09-08 22:52] abattery commented on #42940
TFLite converter uses the same shape information from the original TF model.

[2020-09-08 23:04] #42924 closed

[2020-09-08 23:07] bhack commented on #18734
Can we close this?

[2020-09-08 23:09] motrek commented on #41132
@av8ramit Very sorry, I'm new to all of this. Will the fix eventually be available in the "latest" docker image and the C API libraries that are posted to the web page that I linked to (above)? Do you have any idea when that might happen? Thanks in advance.

[2020-09-08 23:16] #41895 closed

[2020-09-08 23:25] abattery commented on #43042
Sorry. TextVectorization layer is not supported by TFLite yet. The layer requires MutableHashtable support. TFLite currently is not able to support it.

[2020-09-08 23:26] abattery commented on #43027
You will be able to run V1 converter command line when you set the environment variable like the below:

TF2_BEHAVIOR=0 tflite_convert ...

[2020-09-08 23:29] av8ramit commented on #41132
Hello @motrek I'll trigger a new push to [GCS](https://storage.googleapis.com/libtensorflow-nightly). Hopefully this next one or by tomorrow's version we can have something working.

[2020-09-08 23:30] abattery commented on #43045
@Sruinard Could you run your conversion code with the the tf-nightly version? We've made some progress in better supporting on saved model format in the upcoming TF 2.4.0 version.

[2020-09-08 23:36] bhack commented on #43042
@abettery Do you think that it can fail with a more "readable" exception?
If not I suppose that other tickets like this will be opened again.

[2020-09-08 23:40] CoreyCole commented on #42941
I did some profiling of the [TransposeConvV2](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/kernels/internal/optimized/optimized_ops.h#L5804) while running the benchmarking.

[transpose_conv_profiling.txt](https://github.com/tensorflow/tensorflow/files/5191661/transpose_conv_profiling.txt)

Evidently, the largest time sink in the function is the `cpu_backend_gemm::Gemm` that

[2020-09-08 23:43] renjie-liu commented on #42941
I see, this is really strange, can you add
`--define=ruy_profiler=true` as well when building the benchmark_tool, we should be able to see the detailed profiling,

[2020-09-08 23:50] mhsmith commented on #38642
@gilescoope: https://www.tensorflow.org/lite/guide/python now has Python 3.8 packages for Linux, but not for Windows or Mac. The TensorFlow version is still 2.1.0.

[2020-09-08 23:53] abattery commented on #43042
@bhack Thanks for your suggestion. We are working on having more readability in the conversion errors. TextVectorization is kind of a new thing, which is under experimental phase. Sorry for that :-)

[2020-09-08 23:56] bhack commented on #43042
@abattery Thanks it is just to not overload triaging activities :wink:

[2020-09-09 00:07] CoreyCole commented on #42941
That flag seemed to work! It put out more output about `cpu_backend_gemm::Gemm`

[float32_ruy_benchmark.txt](https://github.com/tensorflow/tensorflow/files/5191838/float32_ruy_benchmark.txt)

[2020-09-09 00:10] taylorshin commented on #42940
So I used a library called `ktrain` to fine-tune DistilBert on SST2 and got a weights h5 file which is included in the Google Drive link in my original post. All I do to convert that into a TFLite model is load a pretrained `TFDistilBertForSequenceClassification` from HuggingFace and load the weights onto the model. According to the author of the library, `ktrain` is most likely not the reason for

[2020-09-09 00:12] ofiryaish commented on #42990
I think I found the problem, and it's not a technical one (even though it's really true that performing gradient for GRU is much slower than performing for CNN). It's just much more faster to perform gradient on a batch rather performing on singles, and I didn't take the advantage of this, and therefore it took hours to complete.

So in overall, you can close the topic. By the way, If you got, in

[2020-09-09 00:14] ppwwyyxx commented on #42976
More precisely, __the prebuilt binaries of TensorFlow 2.3__ is compatible with cuDNN 7.6 and CUDA 10.1. But the code of TensorFlow 2.3 is compatible with at least cuDNN 7~8 and CUDA 10~11.
For all the versions I tested that are not using cuDNN 7.6 and CUDA 10.1, I was using tensorflow built by myself or by the archlinux distro.

However, providing a reproducible build so others can reproduce the i

[2020-09-09 00:14] #42976 closed

[2020-09-09 00:35] NeoZhangJianyu commented on #40989
@pks
It will work well with the CPU supports AVX2 & AVX512. AVX512 could speed up more.
The info could be searched in https://ark.intel.com/content/www/us/en/ark.html#@Processors

[2020-09-09 00:43] nikitamaia commented on #42498
To clarify, you are using the same `bert_cola_pipeline.py` and `bert_cola_pipeline_e2e_test.py` scripts from the `tfx/tfx/examples/bert/cola/` repo, and just swapping out the `bert_cola_utils.py` file?

[2020-09-09 00:44] renjie-liu commented on #42941
Thanks for sharing! Will take a look!

[2020-09-09 00:58] darmac commented on #42545
Got it.

[2020-09-09 01:39] yananchen1989 commented on #43042
Yes, I use TextVectorization which adapts to the corpus and convert the text of string into word ids.
[code]

[2020-09-09 01:52] MaarHybrid commented on #43036
import tensorflow as tf
import numpy as np
from scipy.linalg import expm, sinm, cosm
import matplotlib.pyplot as plt
import tensorflow_addons as tfa
tfa.options.TF_ADDONS_PY_OPS = True

#Load MNIST datasets from Keras
(x_train, y_train), (x_test, y_test) = tf.keras.datasets.mnist.load_data()

#Rescale the images from [0, 255] to the [0.0, 1.0] range.
x_train, x_test = x_train[..., np.newaxis]*np.p

[2020-09-09 01:57] rafasimionato commented on #42165
I am trying to build this possible fix on the top of v2.3.0 but I am getting following error:

[2020-09-09 02:11] rxiang040 commented on #41485
The model is faster on GPU. We actually tested the inference time of our model (fl32) with the last layer run on GPU or CPU. I would say the difference is huge. If the whole model is on GPU, the inference time is 195 ms/frame, and if the last layer on CPU and others on GPU, the inference time is 162 ms/frame.

So for int8 model, will it run faster on GPU?

[2020-09-09 02:18] huafeihuayu commented on #43013
@thaink @ravikyram
import tensorflow as tf
saved_model_dir='D:/tf_ocr/tf_resnet7'
converter = tf.lite.TFLiteConverter.from_saved_model(saved_model_dir)
converter.supported_types = [tf.lite.constants.INT8]
converter.optimizations = [tf.lite.Optimize.DEFAULT]
Tflite_quanit_model = converter.convert()
open("D:/sfz/tf_sfz/model10.tflite","wb").write(Tflite_quanit_model)

Since it is trainable quantize

[2020-09-09 02:43] yananchen1989 commented on #43042
I replace the textvectorization process with the traditional tokenizer,

however, there is still errors when I try to use tf.lite convert:
[---------------------------------------------------------------------------
InvalidArgumentError                      Traceback (most recent call last)
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/importer.py in _import_graph_def_internal

[2020-09-09 02:45] yananchen1989 commented on #43042
Here is the data preparation step:

[code]

[2020-09-09 03:03] yananchen1989 commented on #43042
For the tokenize version, I try to use the command line method to convert.
It seems fine.

[code]

![image](https://user-images.githubusercontent.com/26405281/92549512-03b8b000-f28c-11ea-97f5-54b3f1cff09d.png)

[2020-09-09 03:26] andreyryabov opened #43060 "Training of a simple model with KerasLayer hangs on macOSX with tf 2.3.0"
**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
custom code

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
macOS X 10.15.4 (19E287)

- TensorFlow installed from (source or binary):
binary

- TensorFlow version (use command below):
v2.3.0-rc2-23-gb36436b087 2.3.0

- Python version:
Python 3.7.3

**Describe the cu

[2020-09-09 03:33] ekurtgl commented on #37028
@BanuSelinTosun I had the same issue and I was solve it by moving 'with strategy.scope():' line into the function, just like how @rzaratx did, but I am not sure why it doesn't work in their case.

Best,
Emre

[2020-09-09 03:54] JF-D commented on #29840
I am from #43049 .
I follow [https://stackoverflow.com/questions/58025069/how-to-enable-cuda-unified-memory-in-tensorflow-v2](url). With the following instructions, I can use unified memory with single gpu training (My machine has 8 GPUs).

[code]
But for multi-gpu training, it reports the folllowing error.
![image](https://user-images.githubusercontent.com/30710061/92552149-8e041280-f292-11ea-883

[2020-09-09 03:56] JF-D commented on #43049
Yes. But I still have some problem about multi-gpu training with unified memory, and I put some new information in that issue. You can check it. @bhack

[2020-09-09 04:28] #42704 closed

[2020-09-09 04:33] thaink commented on #43013
What do you mean by "trainable quantized"?
If you use quantization aware training, the conversion should be as simple as:
https://www.tensorflow.org/model_optimization/guide/quantization/training_example#create_quantized_model_for_tflite_backend

[2020-09-09 05:24] varshadhml commented on #16091
@jiangxiluning  Thank you for the github, I could convert the MTCNN model using it.
Later, I wanted to to have variable size input for all the networks - (Pnet, Rnet and Onet). To achieve this I used tf-nightly package for conversion.
While doing conversion I converted all the layers(cls_prob,bbox_pred,landmark_pred) one by one for Pnet, Rnet and Onet.
In the conversion step, I put "--experimental

[2020-09-09 05:26] Saduf2019 commented on #43052
@sRassmann
You could be facing this issue because of the following reasons

You you running 32-bit Python or 32-bit OS
Please take a look at the [system requirements](https://www.tensorflow.org/install/pip#system-requirements) and check if you have the correct dependencies installed.

Also, check these similar duplicate issues: #42058 #41596 #40459 #39007 #38916 #36167 #36151 #36138 #36054 #36045

[2020-09-09 05:49] ravikyram commented on #43060
@andreyryabov

I have tried in colab with TF version 2.3 and i am not seeing any issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/eca6c8c8564c33f6d0dd2f9b5248ca6b/untitled325.ipynb).Can you please share error log you are getting. Thanks!

[2020-09-09 05:56] Sreerag-ibtl opened #43061 "[tflite] Processing time is high in Windows 10 but better in Ubuntu 16.0"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2020-09-09 05:57] ravikyram commented on #42990
@ofiryaish

I am closing the issue as per your comments.Thanks!

[2020-09-09 05:57] #42990 closed

[2020-09-09 05:57] tornikeo commented on #42966
That resolves this issue. Thanks @amahendrakar!

[2020-09-09 05:57] #42966 closed

[2020-09-09 06:04] Saduf2019 commented on #40804
@GhassenBenMakhlouf
As confirmed this solves the problem, please feel free to move this issue to closed status.

[2020-09-09 06:05] huafeihuayu opened #43062 "TF_lite Convert using integer-only quantization"
import tensorflow as tf
saved_model_dir='D:/sfz/tf_sfz'
def representative_data_gen():
  for input_value in tf.data.Dataset.from_tensor_slices(**train_images**).batch(1).take(100):
      yield [input_value]

converter = tf.lite.TFLiteConverter.from_saved_model(saved_model_dir)
converter.optimizations = [tf.lite.Optimize.DEFAULT]
converter.representative_dataset = representative_data_gen
converter.

[2020-09-09 06:13] andreyryabov commented on #43060
I does work in colab, as I mentioned in the description.  It freezes only when launched macOS. I traced it's a deadlock on some conditional variable deep in C++ code. There are no errors in the log since the code just hangs on .fit()

[2020-09-09 06:21] wangqiang624731186 opened #43063 "imx8 tflite opencl"
platform:imx8
tensorflow:2.3

tflite support **Vivante** OpenCL device **gc7000l** ???
i can not found **Vivante** in code   tensorflow/tensorflow/lite/delegates/gpu/cl/cl_device.h
**enum class Vendor { QUALCOMM, MALI, POWERVR, NVIDIA, AMD, INTEL, UNKNOWN }**

[2020-09-09 06:29] Flamefire commented on #43019
I'm not fully convinced it is an upstream (Bazel) issue because many actions (is this the right term?) do use the action_env. All use the (seemingly) same cc_library macro(?) but some don't get my variables. I don't really understand the Bazel architecture (and frankly I don't like the "clean env" decision at all) so I'm asking if there is anything in TF that might change the behavior of those cc_

[2020-09-09 06:29] #41600 closed

[2020-09-09 06:32] laurencgreen commented on #28705
I get the same issue... does anyone has any update i have been stuck on this for the last two weeks

[2020-09-09 06:50] ravikyram commented on #35781
@bersbersbers

Thank you for the confirmation. I am closing this issue as it was fixed in TF nightly. Thanks!

[2020-09-09 06:50] #35781 closed

[2020-09-09 06:51] Saduf2019 commented on #43061
@Sreerag-ibtl
Is it possible for you to share a simple stand alone code to replicate the issue reported or share a colab gist.

[2020-09-09 06:55] peter197321 opened #43064 "16 bit integer quantization"
Is there a way to use the TensorFlow Lite Converter for 16-bit quantization? If so, how should it be done?

[2020-09-09 07:03] Saduf2019 commented on #43064
@peter197321
Please refer to [this link](https://www.tensorflow.org/lite/performance/post_training_float16_quant) and let us know.

[2020-09-09 07:17] #40804 closed

[2020-09-09 07:27] ptrem commented on #42927
I realized that the error occurs, when using the tf.data.dataset API. Is there any relation?

[2020-09-09 07:40] rohan100jain commented on #43046
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there

Having said that - the diagram is inaccurate. Corresponding sends and recvs are on different devices - Send1 should be on Device1 and Recv2 should be on Device2. Send1 therefore has a data depen

[2020-09-09 07:40] #43046 closed

[2020-09-09 07:50] davidaharon commented on #43046
@rohan100jain I have asked in StackOverflow too:
https://stackoverflow.com/questions/63793814/tensorflow-sour-code-send-recv-operations-scheduling

1. Doesn't Send/Recv ops CPU nodes? As far as know, for example, GPU doesn't have an implementation of this kernel.

2. Regarding the data dependency, there is a data dependency between  OpKernel1 and OpKernel2 and still, we have to synchronize them wi

[2020-09-09 07:53] XOR0831 commented on #43054
I tried installling both and it works now, but i encountered a new error.

ERROR: C:/users/soria/downloads/tensorflow/tensorflow/core/util/BUILD:823:17: ProtoCompile tensorflow/core/util/event_pb2.py failed (Exit -1073741795): protoc.exe failed: error executing command
  cd C:/users/soria/_bazel_soria/s7y7zhp3/execroot/org_tensorflow
  SET CUDA_TOOLKIT_PATH=C:/Program Files/NVIDIA GPU Computing To

[2020-09-09 07:59] peter197321 commented on #43064
The link you share is about a float 16-bit quantization (Post-training float16 quantization) but I'm looking for integer 16-bit quantization...

[2020-09-09 08:27] mhs4670go commented on #43035
@bhack Yes. Actually, the author of that question is me:) After posting that question, I've understood the TACO format and thanks to the answer to that question, I also noticed that tensorflow and lite format are different.

But then, doesn't the tflite converter ever create a sparse tensor in taco format? Maybe `tensorflow/lite/tools/optimize/sparsity/format_converter.cc` is a library that does w

[2020-09-09 08:40] parasjain06 commented on #41929
Hi , i am getting similar issue while training a model.
![image](https://user-images.githubusercontent.com/63651642/92575159-a16ca900-f2a5-11ea-97ea-f24d2752c1c7.png)

project link:- https://github.com/kairess/eye_blink_detector

first run preprocess.ipynb and the train.ipynb, after this model is trained and stored .
Now when i try to load model as below, gives above error
![image](https://user-im

[2020-09-09 08:49] sRassmann commented on #43052
@Saduf2019 & @bhack Thank you for your help!!

I performed the following steps:
- Completely uninstalled everything (ana-/miniconda and related folders)
- Installed vanilla python 3.7.0
- run ```$ pip install tensorflow```
- Now ```$ python``` and ```>>> import tensorflow``` worked seamlessly (besides the warning for not using GPU)

Interestingly, after I reinstalled miniconda, tensorflow also wor

[2020-09-09 08:49] #43052 closed

[2020-09-09 08:55] Saduf2019 commented on #43052
@sRassmann
Glad to hear we could help you resolve the issue, thanks for the update.

[2020-09-09 09:11] godanyitamas opened #43065 "No gradients provided for any variable"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-09-09 09:12] bhack commented on #43054
What version are you trying to compile?

[2020-09-09 09:13] jplu commented on #34346
@rxsang any update to support PyFunc on TPUs possibly integrated in the upcoming 2.4?

[2020-09-09 09:16] #42398 closed

[2020-09-09 09:16] #42439 closed

[2020-09-09 09:25] martianvenusian commented on #14008
`import tensorflow.keras.utils as utils`
or
`from tensorflow.keras import utils`

[2020-09-09 09:26] huafeihuayu commented on #43013
@thaink @ravikyram
import tensorflow as tf
saved_model_dir='D:/sfz/tf_sfz'
def representative_data_gen():
for input_value in tf.data.Dataset.from_tensor_slices(train_images).batch(1).take(100):
yield [input_value]

converter = tf.lite.TFLiteConverter.from_saved_model(saved_model_dir)
converter.optimizations = [tf.lite.Optimize.DEFAULT]
converter.representative_dataset = representative_data_gen
con

[2020-09-09 09:28] XOR0831 commented on #43054
HEAD (master)

[2020-09-09 09:32] ptrem commented on #42927
It seemed to be a problem of the tf.keras.layers.BatchNormalization().
If this issue occurs just set the attribute fused=False and it should work fine.

[2020-09-09 09:32] #42927 closed

[2020-09-09 09:37] bhack commented on #43054
Master or 2.3.0?

[2020-09-09 09:39] XOR0831 commented on #43054
Master sorry for confusion

[2020-09-09 09:50] aumombelli opened #43068 "Model Predict problem when used one data at a time"
**System information**
- Have I written custom code **Yes**
- OS Platform and Distribution : **docker tensorflow/tensorflow:2.2.0-gpu**
- TensorFlow version (use command below): **2.2.0**
- Python version: **3.6.9**
- CUDA/cuDNN version: **V10.1.243**
- GPU model and memory: **TITAN X (Pascal) 12Go**

**Describe the current behavior**

I am currently trying to learn the sum of 2 digits thanks to K

[2020-09-09 09:55] rollingdeep commented on #38064
when turn off validation_data, it works! tf.__version__ == '2.2.0'
[code]

[2020-09-09 10:00] martianvenusian commented on #38064
check number of your training data. It might equal to zero

[2020-09-09 10:02] bhack commented on #43054
Can you check if you are compliant with others requirements at https://www.tensorflow.org/install/source_windows?

[2020-09-09 10:05] bhack commented on #43054
Also check if the current master is building sucessful in the CI for windows: https://github.com/tensorflow/tensorflow#continuous-build-status

[2020-09-09 10:05] ravikyram commented on #43068
I have tried in colab with TF versions 2.3, nightly versions(`2.4.0-dev20200908`) and was able to reproduce the issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/930e5b200a6aa3939fdad7b1eef7b928/untitled326.ipynb). Thanks!

[2020-09-09 10:12] XOR0831 commented on #43054
I double checked all the requirements and make sure that i completed it. I looked at https://github.com/tensorflow/tensorflow#continuous-build-status and it says Windows GPU failing. What should i do? checkout to r2.3? and build from there?

[2020-09-09 10:13] bhack commented on #43068
@aumombelli Can you try:
[code]

[2020-09-09 10:15] bhack commented on #43054
Yes It is what is suggested to check if it is master or you environment but please note that r2.3 doesn't support CUDA 11

[2020-09-09 10:16] XOR0831 commented on #43054
I see so i should be downgrading my CUDA to 10.1?

[2020-09-09 10:19] bhack commented on #43054
If you want to try r2.3 yes.

[2020-09-09 10:20] XOR0831 commented on #43054
Thank you

[2020-09-09 10:20] #43054 closed

[2020-09-09 10:32] Saduf2019 commented on #43064
@peter197321
Refer to [this link](https://www.tensorflow.org/lite/performance/post_training_quantization#integer_only_16-bit_activations_with_8-bit_weights_experimental), it is 16 bit int.

[2020-09-09 10:33] ryanaleksander opened #43071 "TFLite model gives random outputs when running on Android"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-09-09 10:36] amahendrakar commented on #43062
@huafeihuayu,
This question is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow) since it is not a TensorFlow bug or feature request. There is also a larger community that reads questions there. Thanks!

[2020-09-09 10:37] parasjain06 commented on #41929
Issue resolved , actually problem was that while training i was using tensorflow 2.3.0, while running i was using tensorflow 2.2.0.
Hence this issue occured.
Later i tried compiling and running with tensorflow 2.2.0 only and it got through.

[2020-09-09 10:39] peter197321 commented on #43064
it seems the missing ops implementation e.g.: RESIZE_NEAREST_NEIGHBOR

[2020-09-09 10:51] alexandrehuat opened #43072 "Duplicate code in `tf.python.keras.engine.training.Model.evaluate()`, `train_on_batch()` and `test_on_batch()`"
There is some duplicate code in methods ``tf.python.keras.engine.training.Model.evaluate()``, ``train_on_batch()`` and ``test_on_batch()``. I am not sure to have time to make a clean pull request so I report the duplicate and a solution here and someone may be able to fix it sooner.

The duplicate code is at the end of each method:
[code]

I propose to factorize this code into a new private method

[2020-09-09 11:00] amahendrakar commented on #43065
@godanyitamas,
On running the given code, I am facing an error stating `ModuleNotFoundError: No module named 'Networks'`.

Also the code provided is fairly complex, hence it would be difficult for us to pinpoint the issue. Can you remove the dependencies and get the example down to the simplest possible repro? That will allow us to debug the issue easily. Thanks!

[2020-09-09 11:05] amahendrakar commented on #43065
@godanyitamas,
Please go through the comments from this similar issue [#1511](https://github.com/tensorflow/tensorflow/issues/1511) and let us know if it helps. Thanks!

[2020-09-09 11:11] aumombelli commented on #43068
Here is the result :

The notebook has been modified accordingly.

[2020-09-09 11:19] bhack commented on #43068
I've tested in @ravikyram Colab. You need to try with `pip install tensorflow-gpu==2.3.0`

[2020-09-09 11:20] surak commented on #33280
This is the same with 1.15.3

[2020-09-09 11:29] noamfreeman opened #43073 "interperter with GPU Delegate blocks Android from rendering on Main thread."
**System information**
- Have I written custom code: Yes.
- OS Platform and Distribution: Android 27, 28, 29, and more
- Mobile device Samsong Galaxy S10, A30, J6, Pixel 3, 4a, ....
- TensorFlow imported as a gradle dependancy.
- TensorFlow version 2.2.0 / 2.3.0

**Describe the current behavior**
I've created an interperter, and ran it without the `GpuDelegate`, everyting works fine.
both creation

[2020-09-09 11:29] aumombelli commented on #43068
I added `!pip install tensorflow-gpu==2.3.0` to my notebook but I get the same result as earlier.

[2020-09-09 11:47] alexeyda commented on #38565
same here, nvidia 1050ti on Dell Notebook

[2020-09-09 12:05] bhack commented on #43068
Yes sorry it was that on the second run of that cell the warning disappeared.
On the single predict your shape is (2,) so you could test with:

[code]

[2020-09-09 12:11] bhack commented on #43073
Can you take a look at https://github.com/tensorflow/tensorflow/issues/25657 about  GL context handling?

[2020-09-09 12:18] harica opened #43074 "tf.data.experimental.make_csv_dataset seems to fail on this dataset; https://archive.ics.uci.edu/ml/datasets/Parkinsons+Telemonitoring"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Used sample code using api given in tensorflow 2.0 (as opposed to using a stock example script provided in Ten

[2020-09-09 12:19] noamfreeman commented on #43073
AFAIK, there are 3 issues there:
* blocking the calling thread (when it is not the same as the one creating the interpreter)
* overheating
* frame rate dropping *after* the inrefence.

here, i have a different thread (and GL context), that creates and runs the interpreter,
and the Delegate blocks the *main* thread.
i'm pretty sure it has something to do with the GL Context, but i didn't find somet

[2020-09-09 12:21] Leslie-Fang commented on #43016
Is 1 Batch of data(8*5) if more than the items number(17)?

[2020-09-09 12:24] aumombelli commented on #43068
It worked as expected ! Thanks @bhack
If I understand correctly it seems that numpy array does not transform correctly into a tf.Tensor, is that right ?

[2020-09-09 12:24] #43068 closed

[2020-09-09 12:41] pieper commented on #33030
We turned off all callbacks but still had the memory leak issue.

[2020-09-09 12:46] yash1155 opened #43075 "install"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2020-09-09 12:46] #43075 closed

[2020-09-09 12:49] advaitjain opened #43076 "Reproduce internal CI errors via TF Lite Micro Makefile"
@tensorflow/micro

See [this comment](https://github.com/tensorflow/tensorflow/pull/42452#issuecomment-689199971) for an internal error, due to -Wswitch that we could not reproduce via the TFLM Makefile.

The underlying issue there was a missing -Wswitch in the makefile and an inability to build without -DTF_LITE_STATIC_MEMORY.

[2020-09-09 12:52] bhack commented on #43068
@aumombelli Using indexing It is like:
[code]

[2020-09-09 13:00] aumombelli commented on #43068
Ok I understand ! Thanks a lot !

[2020-09-09 13:00] bhack commented on #43074
Please unlock you colab example cause it requires authentication.

[2020-09-09 13:02] rajeev921 commented on #42888
I have run the gist and it is scaling as you have suggested, I am getting the same result.
"""
When I run that code with one machine, I see 469 steps per epoch
When I switch to two machines, I see 235 steps per epoch on each machine.
"""
only this error I get before execting epochs on both the host.
2020-09-09 05:03:22.600791: W tensorflow/core/grappler/optimizers/data/auto_shard.cc:591] In AUTO-m

[2020-09-09 13:10] gopesh97 commented on #24828
This worked for me
For Linux:
Set the `TF_FORCE_GPU_ALLOW_GROWTH` environment variable to `true`.
In your terminal, run this command.
`$ export TF_FORCE_GPU_ALLOW_GROWTH=true`

[2020-09-09 13:11] mdanatg commented on #41189
This looks like a bug. When calling `tf.config.run_functions_eagerly(True)`, AutoGraph should not be called at all. We can confirm this by calling `tf.autograph.set_verbosity(3, True)`, which results in this log entry:

[code]

That log entry is unexpected.

@tomerk @omalleyt12 this looks like a regression, could you investigate the Keras calling site? The behavior of `call` should be consistent w

[2020-09-09 13:34] amahendrakar commented on #34912
@Supachan,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2020-09-09 13:41] rajha-korithrien commented on #18734
@bhack Yes! You can close this as it was addressed in #20763

[2020-09-09 13:41] #18734 closed

[2020-09-09 13:44] freddan80 commented on #42918
Looping in @jenselofsson

[2020-09-09 13:46] srjoglekar246 commented on #41485
How did you test the whole model being on GPU?

int8 models will provide the same latency benefits as fp32, but will be 4x smaller in size. They will also avoid weird DEQUANTIZE issues that fp16 faces.

[2020-09-09 13:53] Saduf2019 commented on #43074
@harica
Error reported does not seem like a bug or feature request for tensorflow, which can be seen only after you share complete stand alone code for us to analyse.
As per the error reported:
You may refer to [this link](https://stackoverflow.com/questions/59843548/python-valueerror-csv-row-has-different-number-of-fields-with-csv-and-tensorf) and let us know if it helps.

[2020-09-09 14:08] Saduf2019 commented on #43064
@peter197321
We see that the issue template has not been filled, can you please let us know the tf version used.
We ask for this in the issue submission template, because it is really difficult to help without that information. Thanks!
Please refer to this issue #33893 with same error.

[2020-09-09 14:19] optiluca commented on #43016
I don't think that's how the windowing works - each window steps forward only by one sample and not by an entire window width.  So my batch doesn't contain 8*5 different samples.  In any case, the issue still occurs if you replace the 17 with something large, I just set it small to make it break faster since it only breaks at the last batch!

[2020-09-09 14:32] RolfSchlup commented on #42972
Has there been any progress on this?

[2020-09-09 14:33] peter197321 commented on #43064
used the latest tf-nighlty build (supposed it's 2.4) and not working - the issue is about int8 ... ?

[2020-09-09 14:56] #42831 closed

[2020-09-09 14:58] nkreeger commented on #42972
@RolfSchlup sorry for the lag - long holiday weekend.

Can you post the exact error that is happening? I see the original model source - but it's unclear what is going on. Any chance you can try and run the model visualization tool and post the generated HTML file here:

From root tensorflow checkout:

bazel run tensorflow/lite/tools:visualize /path/to/my-model.tflite /tmp/my-model.tflite.html

We

[2020-09-09 15:03] Zappytoes commented on #35609
Was there a solution or is it just to use smaller images? Why does TF have this limitation?

[2020-09-09 15:05] harica commented on #43074
Can you let me know how to unlock the notebook?
Sorry, I do not know how to do it...

Hari Kunamneni
(408) 910-5384
hkunamneni@hotmail.com<mailto:hkunamneni@hotmail.com>
This electronic message transmission contains information from Hari P. Kunamneni, Patent Agent,  that may be confidential or privileged. The information in this message is only for the use of the intended recipient. If you are not

[2020-09-09 15:24] harica commented on #43074
Okay, I have updated the link, so that any one with access to link can access the notebook.

...

Hari Kunamneni
(408) 910-5384
hkunamneni@hotmail.com<mailto:hkunamneni@hotmail.com>
This electronic message transmission contains information from Hari P. Kunamneni, Patent Agent,  that may be confidential or privileged. The information in this message is only for the use of the intended recipient. If

[2020-09-09 15:25] peter197321 opened #43080 "Support INT16 quantisation for RESIZE_NEAREST_NEIGHBOR"
Per issue #43064 I'm requesting the RESIZE_NEAREST_NEIGHBOR of int16 implementation.

`RuntimeError: Quantization to 16x8-bit not yet supported for op: 'RESIZE_NEAREST_NEIGHBOR'.`

Thanks.

[2020-09-09 15:25] nkreeger commented on #42964
@keithm-xmos I think you are using a bad TARGET="x86". Can you try and remove that?

`make -f tensorflow/lite/micro/tools/make/Makefile test_micro_interpreter_test`

That passes for me on Darwin x86_64.

[2020-09-09 15:30] driedler commented on #35277
@advaitjain ping :)

[2020-09-09 15:33] keithm-xmos commented on #42964
@nkreeger Did you make the modification to micro_interpreter_test.cc before rebuilding and running your suggestion?  It fails on x86 and xcore for me.  I think your find that it will fail on any platform.

[2020-09-09 15:39] charlielito commented on #42989
@bhack  just tested the latest version of `tf_nightly` and it runs way faster. Now the same implementation matches pytorch with ~83 FPS (grouped convolutions). I had to use CUDA 11 though, and couldn't test pytorch because there are not pre-built packages for that version of CUDA. So my guess is that in  `tf_nightly` the grouped convolutions performance was improved?
I think the issue is resolved

[2020-09-09 15:42] harica commented on #43074
To be concise, currently the api used does not support more than one label *multiple outputs) for the dataset as it takes only one string. If I am wrong, please let me know. Below is the API, description:

label_name | A optional string corresponding to the label column. If provided, the data for this column is returned as a separate Tensor from the features dictionary, so that the dataset complie

[2020-09-09 15:43] harica commented on #43074
By the way, label when provided as string, the API, does create the dataset.

[2020-09-09 15:44] bhack commented on #42989
If your code was quite the same yes. I think you can close this and eventually reopen or just comment when you have a new run with pytorch/CUDA 11

[2020-09-09 15:45] Flamefire commented on #43019
I just patched the TF sources to allow Bazel 2.0.0 and tried that again (worked for 2.2.0) and it still fails. So that makes it very much look like something in TF changed which causes the new behavior

[2020-09-09 15:45] nkreeger commented on #42964
@keithm-xmos ah sorry i missed that - our macro is a little confusing and the test code isn't the cleanest at the moment.

Try this:
TF_LITE_MICRO_EXPECT_GT(interpreter.tensors_size(), static_cast<size_t>(0));

That works for me - the macro is checking that |0 > tensors_size| which is always false.

[2020-09-09 15:46] mihaimaruseac commented on #42094
#42676 might be able to fix this

[2020-09-09 15:53] mchandrra opened #43081 "[BodyPix] Improve body segmentation(flickering edges) updates for a video stream"
This is related to body segmentation using body-pix.
body segmentation has a flickering effect around the edges for a video stream.
Even setting edgeBlurAmount to maximum for the bokeh effect still had flickering effect around the edges since we are continuously trying to predict, segment and update frames from a video.
Had similar flickering around the edges when i get image data from the segment

[2020-09-09 15:58] #42989 closed

[2020-09-09 16:00] bhack commented on #43074
@harica I don't think it is a bug you problem is that you have removed `column_names` elements with `pop` so it is mismatching csv row elements.
[code]

[2020-09-09 16:08] harica commented on #43074
Okay, I agree, it is not a bug as the API defined right now.
However, the API, lacks capability to have multiple labels(multiple outputs) for the network. Therefore, the API may need to be enhanced to provide a way to pass more than one label column ...

Hari Kunamneni
(408) 910-5384
hkunamneni@hotmail.com<mailto:hkunamneni@hotmail.com>
This electronic message transmission contains information fro

[2020-09-09 16:11] bhack commented on #43074
@harica I think that you can close this and open a new feature request issue just for that proposal API change.

[2020-09-09 16:16] #42474 closed

[2020-09-09 16:16] #42578 closed

[2020-09-09 16:17] Saduf2019 commented on #43064
@peter197321
Please move this issue to closed status as the code error you reported above is tracked at #43080.
Also please refer to [this link](https://github.com/tensorflow/tensorflow/issues/42024#issuecomment-668744454) and let us know if it helps.

[2020-09-09 16:31] peter197321 opened #43082 "List of tensor names in graph in Tensorflow"
I got a snippet of code for [List of tensor names in graph in Tensorflow](https://stackoverflow.com/questions/35336648/list-of-tensor-names-in-graph-in-tensorflow)

[code]

but under tf2.x this ends with error:

[code]

can you advise on this?

[2020-09-09 16:37] #43064 closed

[2020-09-09 16:45] harica opened #43083 "tf.data.experimental.make_csv_dataset, currently only supports one label; However, most datasets can have more than one label"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

test_dataset = tf.data.experimental.make_csv_dataset(
    test_fp,
    batch_size,
    column_names=column_names,
    l

[2020-09-09 16:47] harica commented on #43074
As per request, this issue is closed. And feature enhancement request has been opened: #43083

[2020-09-09 16:47] #43074 closed

[2020-09-09 16:51] CRosero commented on #36684
I'm also getting the same error
`AttributeError: module 'tensorflow.lite.python.schema_py_generated' has no attribute 'Model'`
when attempting to run visualize.py on a .tflite model.

[2020-09-09 16:51] bertankursun opened #43084 ""Failed starting model allocation." while trying to allocate tensors"
**System information**
Hello everyone,
I am working on a project to implement a prediction algorithm, which is to be implemented for a microcontroller, based on an LSTM network. Therefore, I have not installed the complete library, instead I have downloaded the most recent repository and I have been selecting the files that are useful for my purpose(one by one). For the beginning I am building the

[2020-09-09 16:54] keithm-xmos commented on #42964
I applied your suggestion and I get the following:

[code]

[2020-09-09 16:55] keithm-xmos commented on #42964
I ran with

Here's my diff

[code]

[2020-09-09 16:57] mohammadrezaghorvei commented on #42014
I have a problem like you what can I do to solve it

[2020-09-09 16:59] RolfSchlup commented on #42972
This is the error that I get
"Did not find a parser for CONV_2D"

I wanted to run the bazel command, but now I found that on CentOS 7 ( the machine where the full tensorflow is running), the gcc version does not support c++14.  So, I'm currently updating it to gcc 8.2.0.   On the pi where tensorflow lite micro is running, the gcc version is already at 8.3.0

[2020-09-09 17:02] ravikyram commented on #43082
@peter197321

Can you please replace `tf.get_default_graph().get_operations()` with `tf.compat.v1.get_default_graph().get_operations()` in your code.I am not seeing any issue after replacing with `tf.compat.v1.get_default_graph().get_operations()`.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/2e53b15819b940d4be07158c7945784a/untitled327.ipynb).Thanks!

[2020-09-09 17:06] bhack commented on #43083
The same feature was also requested at https://stackoverflow.com/questions/60713541/how-to-read-multiple-columns-as-labels-using-make-csv-dataset-in-tensorflow-2

[2020-09-09 17:16] #42608 closed

[2020-09-09 17:19] peter197321 commented on #43082
under tf1.x, I see the output

Variable/initial_value
Variable
Variable/Assign
Variable/read
Variable_1/initial_value
Variable_1
Variable_1/Assign
Variable_1/read
Variable_2/initial_value
Variable_2
Variable_2/Assign
Variable_2/read
add
mul

but under your modification under tf2.x, I see nothing ...

[2020-09-09 17:20] harica commented on #43083
Above Stackoverflow proposed solution, referenced  beats the purpose why tf.data is being used, i.e. for tensorflow to handle the distributive data pre processing. If we use pd frame (in memory data from file), then distributive processing from csv files is lost, you are stuck with one node to process....

[2020-09-09 17:26] ebrevdo commented on #42993
Reassigning to Martin Wicke to decide on priority for adding this feature.

[2020-09-09 17:33] amahendrakar commented on #35337
@yourtheron,
Could you please update TensorFlow to v2.3 and check if you are still facing the same issue.

Also, please take a look at @cboulay's workaround and let us know if it helps. Thanks!

[2020-09-09 17:36] bhack commented on #43082
TF2 Is in eager mode by default.
Add `tf.compat.v1.disable_eager_execution()` after your import.

[2020-09-09 17:40] bhack commented on #43084
Can you try with TF nightly?

[2020-09-09 17:51] profzamorra opened #43085 "TF 2.3 ImportError: DLL load failed: The specified module could not be found."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): source?
- TensorFlow version: 2.3
- Python version: 3.6
- Installed using virtualenv? pip? conda? pip
- Bazel version (if compiling from source): NA
- GCC/Compi

[2020-09-09 17:52] fisakhan commented on #42510
As soon as I create a graph or load a .pb model, thread count reaches the number of cores.

The following is my code to load a savedmodel (.pb) and it increases the number of threads from 1 to 8 (using "top -H -b -n1 | grep example | wc -l" command on linux).

Status LoadGraph(string graph_file_name, std::unique_ptr<tensorflow::Session>* session) {
  tensorflow::GraphDef graph_def;
  Status load_g

[2020-09-09 18:01] peter197321 commented on #43082
Now, it works :)

![image](https://user-images.githubusercontent.com/46971586/92636129-28864500-f2d7-11ea-88a2-d5bd0cbda138.png)

Thank you.

[2020-09-09 18:01] #43082 closed

[2020-09-09 18:06] amahendrakar commented on #30983
Was able to reproduce the issue with TF v2.3 and TF-nightly i.e. v2.4.0-dev20200909. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/448971baf40e42a8ee759ebbef1e97a2/30983.ipynb). Thanks!

[2020-09-09 18:27] martinwicke commented on #42993
Adding the argument to the decoders is easy, I guess. Changing their default behavior, sadly, is not. So we can add the argument and have it default to num_classes-1. That's a bummer, I agree this is very ugly.

@tensorflow/api-owners for discussion.

[2020-09-09 18:36] surak commented on #39890
@cheers00 how did you pass options to eigen?

[2020-09-09 18:39] snehpandya123 commented on #28692
I am having same issue what was the solution to above problem?

[2020-09-09 18:51] kujaomega opened #43086 "Issue on Load Trax"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution: Linux Ubuntu 18.04
- Docker container: tensorflow/tensorflow:latest-devel-gpu (sha256:81b1629c567b638dbc197aa24aa7aaa22b84ae88d1bb6c963fa7e3d970cbe77e)
- CUDA/cuDNN version: Cuda compilation tools, release 11.0, V11.0.221
Build cuda_11.0_bu.TC445_

[2020-09-09 18:54] rxsang commented on #34346
@michaelbanfield is looking into the Cloud TPUs connection issue.

[2020-09-09 18:55] gowthamkpr commented on #42891
@FreddyLab Is the error occuring with tensorflow 2.2.0 or tf-nightly?

[2020-09-09 19:08] amitDaMan commented on #42276
*ping*

[2020-09-09 19:16] RolfSchlup commented on #42972
I just updated gcc to 8.2.0 and reran the command.  I also got the latest from tensorflow master branch.  Got rid of the unknown option -std=c++14 error.  Now I get

Extracting Bazel installation...
Starting local Bazel server and connecting to it...
INFO: Options provided by the client:
  Inherited 'common' options: --isatty=1 --terminal_columns=183
INFO: Reading rc options for 'run' from /home/r

[2020-09-09 19:27] RolfSchlup commented on #42972
I have bazel release 3.10 installed

[2020-09-09 19:32] RolfSchlup commented on #42972
@nkreeger What is the minimum version of gcc? I'm going to try again with 8.30

[2020-09-09 19:53] koushikroy commented on #36358
I'm doing the coursera TensorFlow course. And one of it's Exercise this problem occurred. In my local machine I ran with 'accuracy' and it worked but in coursera jupyter notebook 'acc' worked.

[2020-09-09 19:58] bhack commented on #43086
Is `tensorflow/tensorflow:latest-devel-gpu` updated?

[2020-09-09 20:14] #41292 closed

[2020-09-09 20:28] bhack commented on #43081
I think you need to open this at https://github.com/tensorflow/tfjs

[2020-09-09 20:34] #42165 closed

[2020-09-09 21:07] bhack commented on #43085
Do you have installed  C++ redistributable? https://support.microsoft.com/it-it/help/2977003/the-latest-supported-visual-c-downloads

[2020-09-09 21:16] #42659 closed

[2020-09-09 21:17] Bocharick opened #43087 "tflite_runtime Interpreter import error"
OS: Ubuntu 16.04

Hi, there. I'm trying to use tflite_runtime Interpreter from [this docs](https://www.tensorflow.org/lite/guide/python) , but unfortunately I have an import error, when trying to use this package after installation.
I have tested all "supported" versions of python from this doc, and installed tflite_runtime package for each versions of pythons from 3.5 to 3.8.
My code is:
[code]
I

[2020-09-09 21:25] sumanthratna commented on #39852
I haven't had the chance to revisit this issue but I trust the colab notebook you've sent, so I'll close this issue.

[2020-09-09 21:25] #39852 closed

[2020-09-09 21:31] nikitamaia commented on #43039
Hi @wulikai1993, this is a lot of custom code. Can you please trim it down and provide a minimal reproduction? Looks like the majority of the code here is not relevant to the specific issue you're facing.

From the error message, sounds to me like the problem here is not having enough data in each batch to distribute evenly across your replicas. Can you try running this in nightly? You can also tr

[2020-09-09 21:38] nikitamaia commented on #42888
The `Error: Found an unshardable source dataset: name: "TensorSliceDataset/_2` can be ignored. It's slightly misleading but it's just a warning and not an error that will affect your code.

From the logs it looks like it's crashing on the validation step, as it appears to make it through the training step before the error message. You can try removing the validation step for now since the goal is

[2020-09-09 21:45] gowthamkpr commented on #42862
@digital-thinking Please provide standalone code for us to reproduce this issue. Thanks!

[2020-09-09 21:47] gowthamkpr commented on #42830
@EnderWiggin14 It defaults to tensorflow 2.3.0 now

[2020-09-09 21:58] jvishnuvardhan commented on #42381
Please close the issue if this was resolved for you. Thanks!

[2020-09-09 22:02] #42381 closed

[2020-09-09 22:11] k1moradi commented on #35634
I'm not sure how get_weights() function works. Imagine if it returns only a pointer to the weights, then what happens if model is trained more? It might be able to change the weights. No?

[2020-09-09 22:37] yash-2209 opened #43089 "Link doesn't work."
Link for _TensorFlow graph optimization with Grappler_ from url https://www.tensorflow.org/guide/tf_numpy#performance_comparisons does not exist.
The link points to page https://www.tensorflow.org/guide/guide/graph_optimization which give Page not found error

[2020-09-09 22:47] cfRod commented on #42858
@agramesh1, thanks for this pointer. I built TensorFlow with gcc's omp library for x86, I can see it linking to libgomp.so. I presumably should see a libdnnl.so/libmkldnn.so linked here (?)
[code]

[2020-09-09 23:16] #41474 closed

[2020-09-09 23:34] #43076 closed

[2020-09-09 23:53] bhack commented on #43060
@andreyryabov In the ticket I see `v2.3.0-rc2-23-gb36436b087`. What Is your version?

[2020-09-10 00:37] ahindy1234 opened #43090 "LSTM Issue"
Hello, I am trying to implement an LSTM with input (123,45,4) and output (123,45,1) with a sequence of 4 integers as the input and a single number as the output. I am using Mac OS, Google Colab, and TF version 2.3.0.

Here is my model:

[code]

When I try running the code: model.fit(x_train, y_train, epochs = 50) I get the error:     **AssertionError: Could not compute output Tensor("dense_2/trued

[2020-09-10 00:50] terryheo commented on #42276
NnApiImplementation() is a TFLite internal function for NNAPI wrapping. It's not for external use.
If you want to use NNAPI, you can use it directly instead of calling it via TFLite internal functions.
https://developer.android.com/ndk/reference/group/neural-networks#aneuralnetworks_getdevicecount

[2020-09-10 00:57] terryheo commented on #36684
This is the same issue with https://github.com/tensorflow/tensorflow/issues/41846 which is still under investigating.

[2020-09-10 01:30] anands-repo commented on #34291
Could you explain how the patch flow works?

For instance, do we first launch bazel - get it to fail, then go to tensorflow/bazel-tensorflow/external/grpc/src and then perform the patch application through either git apply <patch file name> or patch -p1 < <patch file name> ?

[2020-09-10 01:41] CoreyCole commented on #42941
I wanted to see if this problem was specific to x86, so I built the benchmark tool on an AWS A1 arm instance. I did two benchmarks of the same model, one with `--define=ruy_profiler=true` and one without.

[code]

[float32_arm_ruy_benchmark.txt](https://github.com/tensorflow/tensorflow/files/5198671/float32_arm_ruy_benchmark.txt)
[float32_arm_benchmark.txt](https://github.com/tensorflow/tensorflow

[2020-09-10 01:57] guptadhaval18 commented on #43089
Can I create a pull request to fix this issue?

[2020-09-10 02:10] rxiang040 commented on #41485
We have a RK3399 board with Andoird system and we use c++ for deployment. Basically the time is measured from inputting an image to obtaining the final segmentation result. E.g with total 77 ops, test1: time of (76 GPU operation + 1 CPU operation), 162 ms/frame; test2: time of 77 ops on GPU, 195 ms/frame

[2020-09-10 02:11] wulikai1993 commented on #43039
@nikitamaia The custom code is mostly used in Dataset.map. In the main function, I succeed in printing the original Dataset's elements, which means the custom code is working correctly in the original Dataset. And you can see the element's shape is (8, 640, 640, 3), which means the batch size is 8. I used 3 workers with 1 gpu on each, so the elements should be enough for each worker.

Then I just

[2020-09-10 02:16] HirataYurina opened #43092 "OP_REQUIRES failed at reshape_op.h:57 : Invalid argument: Size 1 must be non-negative, not -9"
1.environment: windows10, cuda10.1, cudnn7.6.5 and tensorflow2.2.0

2.my problem:
i wanted to save my total model with tf.saved_model.save , and i used tf.squeeze and tf.reshape together. Then, when i used `model.signatures["serving_default"](inputs)` some bugs happened.
**But, if i used tf.keras.models.load_model('./saved_model') to save model, everything is ok when predicting.**

3.part of my co

[2020-09-10 02:20] HirataYurina commented on #43092
if i don't use tf.squeeze, codes are operating correctly.
[code]

[2020-09-10 02:30] renjie-liu commented on #42941
ruy is enabled by default for arm devices, so the numbers should be similar

[2020-09-10 02:51] #43042 closed

[2020-09-10 02:54] qlzh727 commented on #40215
Very sorry for the long wait.

I checked RNN code history in recurrent.py. Historically we have 2 implementation, which is branched by flag "implementation" in https://github.com/tensorflow/tensorflow/blob/8c80b0433f6f09a720a4fc2fbe55b64b4948965c/tensorflow/python/keras/layers/recurrent.py#L2429.

In the implementation 1, the input/recurrent input to IFCO gates are dropout via different mask, wher

[2020-09-10 03:00] dathudeptrai commented on #40504
@abattery @thaink @jaeyoo Hi, i can reproduce the reshape bug in tf-nightly, but in `tf-nightly==2.4.0-dev20200630` everything is ok.

this is a colab.

[2020-09-10 03:14] tungnat97 opened #43093 "RaggedTensor support for model output"
**System information**
- TensorFlow version: 2.3.0
- Are you willing to contribute it (Yes/No): No

**Current behavior/state.**
Loss function is implemented in a way that tries to convert `y_true` and `y_pred` to Tensor. That means the output of a model can't be a RaggedTensor, otherwise error shows up as RaggedTensor can't be converted to Tensor.

**Will this change the current api? How?**
Line 6

[2020-09-10 03:16] #42622 closed

[2020-09-10 03:34] #43014 closed

[2020-09-10 03:39] jvishnuvardhan commented on #42957
@drajsel Is this happening only in colab or it also happened in the local with GPU? Thanks!

[2020-09-10 03:52] nikitamaia commented on #43039
I can try and reproduce this on my end if you provide minimal reproducible code. Having minimal code helps a lot in expediting the troubleshooting process. Thanks!

[2020-09-10 04:03] gowthamkpr commented on #42430
@norbertmarko Usually in some cases changing the order of channels (with tensorflow backend) might cause some problems. Working with "channels_last" is less troublesome because of a great amount of other (non convolutional) functions that work only on the last axis.

I think this is the reason for the issue.

Can you please provide us a  minimal example(gist) like mnist, reproducing the entire iss

[2020-09-10 04:16] #36833 closed

[2020-09-10 04:18] sanjoy commented on #42957
`2.4.0-dev20200819` is the first release with CUDA 11, so it is very likely that that's the root issue.  Colab needs to be adjusted to use CUDA 11 instead of CUDA 10.1.

[2020-09-10 04:22] rajeev921 commented on #42888
I also thought the same, I have removed validation data but still, it's failing the same way. no changes.

[2020-09-10 04:29] ravikyram commented on #43085
@profzamorra

What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)
Make sure to download the [latest microsoft visual c++ redistributable from here](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads).
.Also, please

[2020-09-10 04:52] rohin-dasari opened #43094 "batch training with model.fit not working for all batch_sizes"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
    Yes

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
    Windows

- TensorFlow installed from (source or binary):
    binary via anaconda

- TensorFlow version (use command below):
    2.1.0

- Python version: 3.7.9

**Describe the current behavior**
When the numb

[2020-09-10 04:59] thaink commented on #43084
Hi @bertankursun As I check the op is not supported in TFlite Micro now.
If possible, you should tweak your model to only use supported op in: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/micro/all_ops_resolver.cc

[2020-09-10 05:19] Saduf2019 commented on #42991
@dyu41
Please update as per above comment.

[2020-09-10 05:31] Zantares commented on #42510
Hi @fisakhan , below is my CC case which met similar issue before, I used the flag `set_use_run_handler_pool` to solve this issue as I mentioned:
[code]
Because you can't use it in C case, I think you may change this condition(https://github.com/tensorflow/tensorflow/blob/r2.3/tensorflow/core/common_runtime/direct_session.cc#L600-L601) to `true`  and source build TF to see whether it works

[2020-09-10 05:34] jvishnuvardhan commented on #42957
@drajsel As mentioned by @sanjoy this is related to colab. Can you please open an issue in colab repository [here](https://github.com/googlecolab/colabtools). Thanks!

[2020-09-10 05:42] sanjoy commented on #42957
CC @fischman

[2020-09-10 05:47] profzamorra commented on #43085
My cpu model is Intel Core i7-4771 3,5Ghz and the latest version of C++ Redistributable is 2017 14.11.23325, installed 13.6.2020.

[2020-09-10 06:28] thaink commented on #43013
You don't need to have accuracy data for representative_dataset so just images are enough.
Assumes image_paths is the list of your image files. You can take a look at following example:
def representative_dataset_gen(image_paths):
	image_paths_tensor = tf.convert_to_tensor(image_paths, dtype=tf.string)
	dataset = tf.data.Dataset.from_tensor_slices(image_paths_tensor)

	def map_fn(path):
	    image

[2020-09-10 06:29] YoPatapon opened #43095 "Input_c/Input_h shape in Cudnn LSTMP"
Hi, I'm using Cudnn LSTMP as implemented here: [https://github.com/tensorflow/tensorflow/blob/v1.15.0/tensorflow/contrib/cudnn_rnn/python/ops/cudnn_rnn_ops.py#L1848](url).

I have a question about the shapes of **input_h** and **input_c** in the `__call__` method. Why the shape is `[n_layers, batch_size, n_proj]` for both shapes. In LSTM cell, `h` is of shape `[n_layers, batch_size, n_proj]` while

[2020-09-10 06:34] momodagithub commented on #28799
Is the problem solved？I meet the same problem when saving a model with custom layer（in this layer ,I use the add_weight function）,the tensorflow vesion is 2.0.0

[2020-09-10 06:35] freddan80 commented on #42951
We'll have a look at this issue.

[2020-09-10 06:35] iliaschalkidis commented on #35634
Ok, I get it.  Maybe it's an extra precaution, but if this the case then the original, quite ill-adviced, implementation of `EarlyStopping` is also wrong / buggy: https://github.com/tensorflow/tensorflow/blob/e5cc10bcb5140ef8478a58c2ab260c5dcb2b1315/tensorflow/python/keras/callbacks.py#L1742

I doubt that such a huge bug resides there for almost 3 years.....

This seems to be the actual implementa

[2020-09-10 06:50] yjiangling commented on #42672
Thank you for the reply. I finally find out the reasons. It turns out that the function of tf.contrib.crf.crf_decode in TensorFlow implemented with dynamic_rnn, in source code of dynamic_rnn function in TensorFlow (tf.nn.dynamic_rnn function is assigned in tensorflow/python/ops/rnn.py), it assume that the output shape of the RNN net could not be None, so I rewrite a new function "crf_decode" refer

[2020-09-10 06:54] yjiangling commented on #42672
Since the problem has been solved, I will close this issue. Thanks a agin for everyone.

[2020-09-10 06:54] #42672 closed

[2020-09-10 07:16] #42645 closed

[2020-09-10 07:16] #42661 closed

[2020-09-10 07:16] #42085 closed

[2020-09-10 07:18] freddan80 commented on #38024
@dmanning23 sorry for the late reply on this. Is this still an issue? I tried it on the latest baseline and it seem to work.

1. `make -f tensorflow/lite/micro/tools/make/Makefile TARGET=sparkfun_edge TAGS="cmsis-nn" clean clean_downloads`
2. `make -f tensorflow/lite/micro/tools/make/Makefile TARGET=sparkfun_edge TAGS="cmsis-nn" micro_speech_bin`

[2020-09-10 07:21] Blubbaa commented on #27519
That was actually the solution for me, I reused some old code which imported directly from keras, not tensorflow.keras layers etc. changing the import statements resolved the attribute error.

[2020-09-10 07:21] lamak commented on #34302
Check your python version, tensorflow officially supports up to 3.7

[2020-09-10 07:27] fisakhan commented on #33627
@wei-v-wang Once I Build TF 2.3 (latest version) from source with --config=mkl_threadpool command, what/how should I change my following piece of code to restrict the number of threads to 1?
As soon as I load the model the number of threads reaches 8 ((using "top -H -b -n1 | grep example | wc -l" command on linux).
[code]

[2020-09-10 07:34] FreddyLab commented on #42891
@gowthamkpr I've only tested with Windows TF Java 2.3.0 libs so far (downloaded at https://www.tensorflow.org/install/lang_java#tensorflow_with_the_jdk).

I haven't tested with TF 2.2 or tf-nightly yet, because I haven't found any links to download these Libtensorflow JNI packages versions. At the URL https://storage.googleapis.com/libtensorflow-nightly I only found libs for Linux and MacOs but no

[2020-09-10 07:36] ravikyram commented on #43085
@profzamorra

Anaconda by default has a Python environment of its own, which comes with TensorFlow preinstalled.TensorFlow is tested and supported on 64-bit systems.So you'll need Anaconda 64 bit for this.

Alternatively,if you want to install TensorFlow on Python (ie. without Anaconda), please check if you have all the compatible hardware and software requirements mentioned [here](https://www.ten

[2020-09-10 07:38] breadbread1984 opened #43096 "dense_to_ragged_batch fails with map function implemented with py_function"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2020-09-10 07:39] freddan80 commented on #37730
Hi @tom-gall , I think we discussed this briefly in the TFLu SIG gitter forum, but I'll add some info here as well for visibility. There is a copy of the CMSIS arm_math.h in the mbed folder structure (`/mbed-os/cmsis/TARGET_CORTEX_M/arm_math.h` as you mention). It may conflict with the arm_math.h that is downloaded directly from the CMSIS repo via the TFLu CMSIS third party download mechanism. Thi

[2020-09-10 07:42] wulikai1993 commented on #43039
@nikitamaia I try my best to trim down redundant code. The reserved code is used to parse the tfrecord file.

[code]

The log as following:

[code]

[2020-09-10 07:48] Deep-learning-practitioner opened #43097 "Understanding the Difference between Normal Training vs eager mode training in TFOD API v2"
Eager mode allowed you to see tensor values when TF 1 used sessions and graphs but since eager mode is the default in tf 2.0 so its a little confusing.

I want to know the differences between the normal training vs Eager mode training.  One clear difference I can see is that the code is a lot different for both of them. Even the final data format is not in tfrecords in eager mode.  And the code is

[2020-09-10 07:56] amahendrakar commented on #43081
@mchandrra,
As mentioned by @bhack, TensorFlow.js issues are tracked in tensorflow/tfjs repo. Could you please submit a new issue from [this link](https://github.com/tensorflow/tfjs/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2020-09-10 07:57] ravikyram commented on #43096
@breadbread1984

I have tried in colab with TF version 2.3, nightly versions(`2.4.0-dev20200909`).Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/238c82cf3caf6e38e80b3683d71767b4/untitled328.ipynb).You are also seeing the same behavior?
Thanks!

[2020-09-10 07:57] rafiqhasan commented on #42613
Infact, upon careful investigation of the error message from saved_model_cli - it says. Which is inline with the error that TMS is raising for the saved model.

[code]

[2020-09-10 07:59] fisakhan commented on #35387
@crystalwan did you solve the problem? I'm facing the same problem. I couldn't find answer to this question on the following github and stackoverflow issues:
https://github.com/tensorflow/tensorflow/issues/42510
https://github.com/tensorflow/tensorflow/issues/33627
https://github.com/usnistgov/frvt/issues/12
https://github.com/tensorflow/models/issues/3176
https://github.com/tensorflow/tensorflow/

[2020-09-10 08:04] bwang1991 opened #43099 "Allow symmetric TFLite quantization (no zero point/scale only)"
As far as I know, TFLite's quantization forces activations to have both scales and zero points. However, for some networks, symmetric quantization (no zero point) does not cause a significant loss in accuracy. It is therefore sufficient to use scale only. Please add support for symmetric quantization.

[2020-09-10 08:05] breadbread1984 commented on #43096
@ravikyram there was some problem in the code reproducing the problem. I update the code. please try again. thx

[2020-09-10 08:06] marwan116 commented on #42741
@bhack  - sorry to respond back late - sure if you are saying this check should apply when using an h5 format, that's understandable - but currently the if statement used in `set_model` doesn't take the saving format into account. It seems to me the fix here is to add an `if (save_format == 'h5')` check to the statement to prevent it from reverting`self.save_weights_only` to True - as for the save

[2020-09-10 08:07] Ananas120 commented on #42412
@amahendrakar i updated my github by cleaning the code and replacing my SV2TTS tacotron by the original tacotron
Also i trained it and also have the error after around 300 steps

I also have a strange warning when running the model saying that the input type of my BiLSTM-forward node isn’t of the right type but the error is only shown on the command line of jupyter (and not in the notebook itself)

[2020-09-10 08:10] drajsel commented on #42957
@jvishnuvardhan I opened the issue [there](https://github.com/googlecolab/colabtools/issues/1574). Thank you for your time!

[2020-09-10 08:10] #42957 closed

[2020-09-10 08:24] thaink commented on #43061
@Sreerag-ibtl Please provide performance profiling using following tool with --enable_op_profiling=true. https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/benchmark

From there we can see which op is not performing well.

[2020-09-10 08:30] pokerfaceSad commented on #42851
Thx for your reply.

[2020-09-10 08:30] #42851 closed

[2020-09-10 08:53] FlorianMerkle opened #43100 "Have similar default values for min_delta in ReduceLROnPlateau and EarlyStopping callbacks"
The min_delta default values are 1e-4 for the ReduceLROnPlateau callback and 0 for the EarlyStopping callback.

This leads to cases in which training is stopped before the learning rate is reduced even though the patience parameter is higher for EarlyStopping, when the min_delta value is not set explicitly.

[2020-09-10 09:27] ravikyram commented on #43096
@breadbread1984

I tried with the updated code. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/69cedd1588405ae4ed7cfd2a387262f3/untitled329.ipynb).You are also getting the same error?
Thanks!

[2020-09-10 09:30] xiankgx commented on #33150
Same problem in TF 2.x GPU. I was shocked to see my model exporting script failing just because I removed unnecessary stuffs from the training script. Instantiating a tf.data.Dataset which is not used somehow fixes the problem.

[2020-09-10 09:30] ravikyram commented on #43100
@FlorianMerkle

Request you to fill [issue template.](https://github.com/tensorflow/tensorflow/issues/new/choose).

Please, share colab link or simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-09-10 09:37] RebornL commented on #14626
in tensorflow 2.x, complie tflite for stm32f7 is always error. Anyone success in building tflite 2.x for stm32f7?

[2020-09-10 09:40] pandrey-fr opened #43101 "Graph mode failure with mask-fed RNN layers within a train_step loop on GPU."
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Linux Mint 19.1 & CentOS 8
- TensorFlow installed from: binary (pip)
- TensorFlow version: 2.2.0 (v2.2.0-rc4-8-g2b96f3662b)
- Python version: 3.6.9
- CUDA/cuDNN version: 10.1 / 7
- GPU model and memory: Quadro P1000 (4GB) & RTX 6000 (24GB)

**Describe the current behavior**

Model training fails in graph mode

[2020-09-10 09:43] mschneider commented on #37556
@ravikyram this should definitely be a feature request. this setting used to be configured as part of session.run but with the switch to eager, keras does not expose the session run arguments anymore.

[2020-09-10 09:48] serenadeRay commented on #33150
hey guys, i met the same problem, and i found it is because what i fed is not the correct format(no pics in test), hope this may help

[2020-09-10 09:50] rxiang040 opened #43102 "Huge size difference of GPU delegate library between static and dynamic"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: RK3399
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below)

[2020-09-10 10:05] Saduf2019 commented on #43101
@pandrey-fr
I ran the code shared on tf-nightly GPU "2.4.0-dev20200909" [also tf 2.3] and do not face any errors, please find [gist here](https://colab.research.google.com/gist/Saduf2019/6410bbf7dab4158a3dc3253d89520596/untitled410.ipynb), please confirm if the code shared is the code that creates the error reported. if possible please share a colab gist with the error reported.

[2020-09-10 10:06] pandrey-fr commented on #43094
Hi,
My guess is that the issue comes from your specifying a fixed batch size in the `Input` layer.
Could you please change the line `model.add(Input(shape=input_shape, batch_size=batch_size, name='input'))` to `model.add(Input(shape=input_shape, batch_size=None, name='input'))` and run the script?

[2020-09-10 10:07] Lif3line commented on #42057
Thanks @mihaimaruseac. I just want to confirm that this is still an issue as of the newest `tensorflow/tensorflow:devel`. Any help would be greatly appreciated.

[2020-09-10 10:09] amahendrakar commented on #43087
@Bocharick,
To resolve the `/lib/x86_64-linux-gnu/libm.so.6: version GLIBC_2.27 not found` error, please take a look at [this](https://stackoverflow.com/a/20560664) StackOverflow comment and let us know if it helps. Thanks!

[2020-09-10 10:09] pandrey-fr commented on #43101
@Saduf2019 As I wrote in my issue report, the bug arises in 2.2, and not in later releases - and your attempt confirms it. It thus seems to have been fixed, but I would actually be curious to get a sense of why it used to occur.

[2020-09-10 10:13] FlorianMerkle commented on #43100
@ravikyram
I was not sure which template is appropriate, as this is not a bug but I think the default values should be consistent.

Also, this is hard to reproduce but consider the toy model with the training procedure showcased in this gist:
https://gist.github.com/FlorianMerkle/97895acf0159c45e2950b44c95d31b63#file-min_callbacks_example-py-L1

If the validation loss decreases in the patience per

[2020-09-10 10:20] breadbread1984 commented on #43096
yeah, I got the same error. batching ragged tensor fails

[2020-09-10 10:21] kaibrach commented on #34201
For Tensorflow 2.**3** you have to do the following for using the Keras Backend function in eager execution mode:

[code]

[2020-09-10 10:23] bhack commented on #43089
https://github.com/tensorflow/docs/pull/1667

[2020-09-10 10:23] mchandrra commented on #43081
Thank you @bhack and @amahendrakar. Submitted a new ticket at https://github.com/tensorflow/tfjs/issues/3902

[2020-09-10 10:33] pandrey-fr opened #43103 "cuDNN error when passing all-masked sequences to RNN layers on GPU"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: CentOS 8
- TensorFlow installed from: binary (pip)
- TensorFlow version: 2.3.0 (v2.3.0-rc2-23-gb36436b087)
- Python version: 3.6.8
- CUDA/cuDNN version: 10.1 / 7
- GPU model and memory: RTX 6000 (24GB)

**Describe the current behavior**

When passing a boolean mask together with data to a RNN layer running on

[2020-09-10 10:36] mchandrra commented on #43081
Since this issue will be tracked at https://github.com/tensorflow/tfjs/issues/3902, closing this ticket.

[2020-09-10 10:36] #43081 closed

[2020-09-10 10:39] albertsokol opened #43104 "TF lite fails conversion with post train int quantization, converts fine without: RuntimeError: Mismatch between number of weight maxs and channels"
Hey there, I've managed to convert StyleGan2 to a tf lite model with your recent advice, however now upon trying to quantize the model I'm getting an error. The model converts **with no issues** if quantization is not used. It also converts fine with dynamic range quantization, only failing if a **representative dataset** is used. I have replicated the issue on a small part of the full model here.

[2020-09-10 10:40] albertsokol commented on #42923
Have managed to figure this out without using any 4D ops. Thanks!

[2020-09-10 10:40] #42923 closed

[2020-09-10 10:47] ravikyram commented on #43100
@FlorianMerkle

I have tried in colab with TF version 2.3, nightly version(`2.4.0-dev20200910`) .Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/88de454f148bba811267d0d27be2dec2/untitled332.ipynb).You are also seeing the same behavior?
Thanks!

[2020-09-10 10:48] siarencjusz commented on #37505
I ran into a similar problem. Workaround which seems to work for me is to force garbage collector:

[code]

[2020-09-10 10:49] yourtheron commented on #35337
@amahendrakar
If I run the simple code I posted on 24/12/2019 on tf 2.3, Windows 7, Python 3.8.3, the error occurred on the following line
`
super(TestNet, self).__init__(name=name, **kwargs)
`
Then the error info reads

  File "D:\TProgramFiles\Anaconda3\envs\keras-gpu\lib\site-packages\tensorflow\python\training\tracking\base.py", line 457, in _method_wrapper
    result = method(self, *args, **k

[2020-09-10 11:11] Saduf2019 commented on #43101
@pandrey-fr
Yes the issue is fixed in tf 2.3 and nightly, its hard to pin point, many bugs get addressed and performance is worked upon on newer versions.
Please feel free to move the issue to closed status as its resolved in later version. Thanks!

[2020-09-10 11:12] ravikyram commented on #43103
@pandrey-fr

I have tried in colab with TF nightly version(`2.4.0-dev20200910`) and i am not seeing any issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/1b31cd0dc4889e6dcbb817e6517bb76d/untitled334.ipynb). Thanks!

[2020-09-10 11:13] Saduf2019 commented on #42956
@mathpopo
Please update if this is still an issue.

[2020-09-10 11:15] Saduf2019 commented on #42882
@xiaoyaozhuzi
Please update, does creating single quantized div operator help.

[2020-09-10 11:18] yourtheron commented on #35337
@amahendrakar
`
super(TestNet, self).__init__()
`
works in tf 2.1, Python 3.7.7 though, together with the workaround in CBR above,

[2020-09-10 11:34] pandrey-fr commented on #43101
This is a very disappointing, uninformative answer; I would have hoped for better, but fine.

[2020-09-10 11:40] Jordy-VL commented on #34201
@kaibrach Life-Saver!

Thank you very much :)

[2020-09-10 11:40] Harsh188 commented on #42450
Hi @shkarupa-alex! I'm currently working on the documentation of `set_optimizer_experimental_options` to specify the parameters more clearly. I believe that the different functions of the graph optimizers are explained thoroughly so depending on your problem you should decide which features to turn on.

[2020-09-10 12:03] andrescodas commented on #42450
Hi @Harsh188

I have been trying to leverage grappler for some time and I'm finding it hard to find the relevant documentation.

I sub-classed tf.Module following **Saving a custom model here** [here](https://www.tensorflow.org/guide/saved_model#saving_a_custom_model).  There I write several graphs (with tf.function) that I would like to optimize them for fast execution.

Could you exemplify how t

[2020-09-10 12:19] Bocharick commented on #43087
first of all those stackoverflow topic about older version of glibc (2.17).
And my question is -  why different versions of python needs different versions of glibc?
Could you make it with lowest glibc version, like at python3.5 version package of tflite_runtime?

[2020-09-10 12:40] ahtik commented on #42838
@amitpandey2194 To confirm, initial issue description mentions `conda`, although it's an issue about building from source. Is `conda` involved here to any capacity?

Is the TF `1.12.0` version number correct, trying to build from a ~2 years old source? Doing this requires a rather old bazel (0.15) and MSVC (v2015). Might be worth considering the option of migrating to TF2.2 or 2.3 :) I've built su

[2020-09-10 12:47] ahtik commented on #42960
@Ch33s3Burger What looks a bit suspcious is the `C:/Python38-32/python.exe` part, initial "System information" section mentions "Python 3.6". Would you mind running `C:\Python38-32\python.exe -VV` and make sure it's a 64bit python build, not
32bit? TF requires 64bit. Worth double checking if the freshly built wheel is really the one that is being installed and gives the AVX2 warning.

I do have a

[2020-09-10 12:50] cataclysmus opened #43107 "No gradient defined for operation RaggedTensorFromVariant / or no gradients at all"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-09-10 12:53] bhack commented on #42960
@ahtik Nice catch. Yes python 64 Is required.

[2020-09-10 12:55] github2016-yuan opened #43108 "Several visual studio editions and error of LLVM requires at least MSVC 2017."
I want to build tf-2.2.0 with bazel in win10.After some preparations， I follow cmds like below:
**First:**
python ./configure.py

.... **everything ok**

**Then:**
bazel build --config=opt //tensorflow:tensorflow_cc.dll

I get **some errors:**
 D:/softwares/tensorflow-2.2.0/tensorflow/core/framework/BUILD:582:1: C++ compilation of rule '//tensorflow/core/framework:bfloat16' failed (Exit 2)

注意: 包含

[2020-09-10 12:55] freedomtan commented on #42956
@mathpopo in https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android, you can find the following message,

[code]

[2020-09-10 13:03] ntreepoint commented on #42190
@abattery ,
Coming back to the conversion issue i have using TF 2.3:
`note: see current operation: %579 = "tf.Pad"(%578, %cst_72) {device = ""} : (tensor<3x16x1x16x1x1xf32>, tensor<6x2xi32>) -> tensor<3x16x2x16x2x1xf32> error: 'tf.Pad' op is neither a custom op nor a flex op`
The error message is confusing. It states that the operator is not supported whereas i think it is supported by Tensorflow

[2020-09-10 13:16] bertankursun commented on #43084
I have done this at the beginning :
"
!pip install tf-nightly

import tensorflow.compat.v2 as tf
tf.enable_v2_behavior()

"

then I have removed "tf.enable_v2_behavior() " and I had another error with the model :
"
Only 1 subgraph is currently supported.
"

[2020-09-10 13:17] nkreeger commented on #42964
@keithm-xmos sorry I had a bad vim buffer - yes this was accidentally regressed. I just opened https://github.com/tensorflow/tensorflow/pull/43109 to fix this -

Hopefully this isn't breaking you on anything right now - this API is mostly around for unit tests and inspecting of a model. I'd advise against looping through the graph on that API. Those values are now allocated from the "persistent" m

[2020-09-10 13:54] jenselofsson commented on #42918
I'm able to reproduce the error, and I've also found the cause for it.

It is due to the filter_offset parameter in the CMSIS-NN version of the FullyConnected-kernel being uninitialized, which in turn leads to it being assigned an incorrect value.

When building micro_speech_test with the debug-profile, which uses the -Og flag, it gets assigned 8.
When building with the release-profile, which uses

[2020-09-10 13:59] pandrey-fr commented on #43103
Indeed, the issue is solved in nightly. I will therefore use my workaround with the current stable release and discard it when I upgrade to 2.4 after a stable release is issued.
It is a bit tiring to constantly have to maintain / upgrade code to get such apparently-small bug fixes which are not back-ported to previous stable releases, but at least the bug seems fixed; thank you!

[2020-09-10 13:59] #43103 closed

[2020-09-10 14:13] ben-arnao opened #43111 "tf .function gives different output than standard function"
No custom code. TF 2.3

I am trying to make a "backtest" differentiable so i decide to use tf.function's auto differentiation capability.

Despite taking a very long time to compile the function, finally it gets converted into TF ops. However the "loss" i get when running a TF version of the function and the python version are completely different.

[code]

The inputs for this function are precomp

[2020-09-10 14:16] 183amir commented on #29576
I am trying to scope variable names in a nested manner (in tensorflow 2.3), but I am not able to do so:

1. Only `tf.keras.layers.Layer` can be scoped in a nested manner, `tf.keras.Model` and `tf.keras.Sequential` do not work. For example:
[code]
prints:
[code]
As you can see model name or parent scope name are not in variable names.

Another example:
[code]
prints
[code]
As you can see model name

[2020-09-10 14:19] spratik commented on #42405
I manage to create bazel target as per your request.
Please find below github link for same for your reference.
https://github.com/spratik/Python_CPP_Bazel_target

Please read readme.md file where I have mention required step to execute before run bazel target.
I hope that now you can easily run bazel target in your system. still I if you face any issue please let me know.

[2020-09-10 14:21] aynesss commented on #24520
I have same problem, here was my code:
`def distort_simclr(image):
    image = tf.cast(image, tf.float32)
    v1 = color_distortion(image / 255.)
    v2 = color_distortion(image / 255.)
    return v1, v2
training_set = tf.data.Dataset.from_generator(path, output_types=(tf.float32, tf.float32), output_shapes = ([2,224,224,3],[2,2]))
training_set = training_set.map(distort_simclr, num_parallel_calls

[2020-09-10 14:21] Saduf2019 commented on #42960
@Ch33s3Burger
You could be facing this issue because of the following reasons

You you running 32-bit Python or 32-bit OS
[Your CPU does not support AVX instructions, please provide the make and model of your CPU in this case.]
Please take a look at the [system requirements](https://www.tensorflow.org/install/pip#system-requirements) and check if you have the correct dependencies installed.

Also,

[2020-09-10 14:27] amahendrakar commented on #43092
@HirataYurina,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and the dataset you are using.

Also, please update TensorFlow to v2.3 and check if you are still facing the same issue. Thanks!

[2020-09-10 14:34] katreparitosh opened #43112 "Basic Queries regarding MobileBERT predictions using TFLite Model Maker"
Hello,

I trained the pre-trained MobileBERT using TFLite Model Maker for a binary text-classification task. The training and evaluation went fine.

I have two doubts:

1) How can the trained model be used to predict the label for a **sample sentence** which is passed as an argument to the model? When we tried the many possible methods to predict the label for a sample sentence, we got errors rega

[2020-09-10 14:44] bhack commented on #43084
@bertankursun take a look at https://github.com/tensorflow/tensorflow/issues/40574#issuecomment-647922464