[2021-02-28 07:14] bondhugula commented on #40860
Because otherwise you'd be using a different compile configuration from the rest  and it would lead to the errors in the OP when things are linked with protoc_lib.

[2021-02-28 07:17] miramar-labs commented on #46975
@game-sys  I have a [repo on github](https://github.com/miramar-labs/tensorflow-build) for building TF ... I added some pretty detailed notes as to exactly what versions of things I ended up using .. hope it helps :)

[2021-02-28 07:23] halhwadi opened #47458 "issue with tf.data.experimental.rejection_resample method"
when I run the below block of code i got this error:
"Shape must be rank 3 but is rank 2 for '{{node Tile}} = Tile[T=DT_FLOAT, Tmultiples=DT_INT32](ExpandDims, Tile/multiples)' with input shapes: [1,11,11], [2]."

I need to balance the "train_dataset" which has 11 labels by using the follwoing line of codes:

1) create class_fun:
[code]

2)create resampler object with targer_dist:
[code]
When run

[2021-02-28 07:30] game-sys commented on #46975
Ok i will try and let u know. @miramar-labs

[2021-02-28 08:04] amahendrakar commented on #47032
@jvishnuvardhan,
I was able to reproduce the issue with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/05d275a4b5719c6e85b89425ab8e639a/47032.ipynb). Thanks!

[2021-02-28 08:32] amahendrakar commented on #47107
@karanjakhar,
As mentioned by @abattery, I was able to run the code without any errors using the latest TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/c2ea23a0ac5cdf619d705f5a03961c68/copy-of-object_detection.ipynb). Thanks!

[2021-02-28 08:38] StephKua opened #47459 "Error "failed to connect to all addresses" when iterating dataset on TPU with Colab or Kaggle"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): I'm currently

[2021-02-28 08:42] yuriy-vorontsov commented on #47032
Same error, checked on python 3.8 and TF: v2.2.0, 2.3.0, 2.4.0, 2.4.1
Found a quick solution with custom loss function:
[code]

[2021-02-28 09:06] webia1 commented on #44485
How did you install it @mihaimaruseac ?
 Thanks for feedbacks,..

[code]

[2021-02-28 09:40] around-star commented on #47445
@ipcamit  can you please grant access to the reproducible code ?

[2021-02-28 09:41] byronyi commented on #44485
Use python -m pip install instead of pip when you have multiple installations

[2021-02-28 09:47] tjacobconley1 commented on #31077
I tried both pip and pip3 to re-install
got the "no matching distribution" error for both

[2021-02-28 09:50] tjacobconley1 commented on #31077
Github should allow images on these forms

[2021-02-28 09:54] webia1 commented on #44485
Dear @byronyi  Already tried that, the same result:

[code]

[2021-02-28 10:03] cclauss commented on #44485
@webia1 You are on a Mac and [macOS is not yet supported](https://github.com/tensorflow/tensorflow/issues/44485#issuecomment-786086270).

[2021-02-28 10:08] ipcamit commented on #47445
Added file permission

On Sun, 28 Feb 2021, 15:11 Hiran Sarkar, <notifications@github.com> wrote:

[2021-02-28 10:28] karanjakhar commented on #47107
It worked !! Thankyou so much @abattery @amahendrakar @karimnosseir

[2021-02-28 10:31] webia1 commented on #44485
:sob:

[2021-02-28 10:36] ipcamit commented on #47445
Its basically copy pasted code from tensorflow docs.
reproducing here, as I still cant figure out how to make google colab file public!

[code]

[2021-02-28 10:41] amahendrakar commented on #47115
@HLSS-Hen,
On running the code, I am facing an error stating `NotFoundError: Unsuccessful TensorSliceReader constructor: Failed to find any matching files for logs/0/ckpt`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/6fadd34d835958cdc4b62794a15c76c6/47115.ipynb#scrollTo=3PjN7uxli9Rs).

Could you please confirm if this is the same error you are facing. Than

[2021-02-28 11:09] halhwadi opened #47460 "unable to train model by using TPU(free TPU)"
I have prepared pipe line to train x-rays image classification model, train dataset is not balanced so did balance it by using resampling methods see the below link for more information:
https://www.tensorflow.org/guide/data#resampling

please see the error msg I got when fit the model:
_""UnavailableError: 2 root error(s) found.
  (0) Unavailable: Socket closed
  (1) Unavailable: Unable to find a

[2021-02-28 11:28] punitha-valli commented on #23692
Hi,

Thank you for your reply

Can you please share me the tensorrt file for Windows ,

It will be great help for me

Thank you so much

On Sun, Feb 28, 2021, 6:15 AM sabrabano0 <notifications@github.com> wrote:

[2021-02-28 11:49] #47107 closed

[2021-02-28 11:54] kleinicke commented on #44613
I'm getting the error: ImportError: cannot import name 'keras_tensor' from 'tensorflow.python.keras.engine' (/Users/florian/anaconda/lib/python3.7/site-packages/tensorflow_core/python/keras/engine/__init__.py)

In https://github.com/tensorflow/tensorflow/issues/33786 they say, that tensorflow.python.keras.engine does not exist.

[2021-02-28 13:02] mohammadhakim73 commented on #35726
I got same error from colab

[2021-02-28 13:06] #47254 closed

[2021-02-28 13:35] amahendrakar commented on #47230
@markub3327,
I was able to reproduce the issue with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/92fbae9d2dd5af0f67b8ec853d627537/47230.ipynb#scrollTo=0lQejRoawvGo).

Could you please take a look at [this guide](https://www.tensorflow.org/guide/function#loops) for using loops with tf.function and check if it helps. Thanks!

[2021-02-28 13:41] webia1 commented on #44751
Can that help: https://github.com/apple/tensorflow_macos ?

[2021-02-28 13:49] levivosWOW commented on #14065
Hi, I don't know whether the issue is already resolved, but if not I would like to give it a try. I was thinking of the following solution:

![image](https://user-images.githubusercontent.com/45478473/109420646-e7dcce00-79d3-11eb-92f0-eeb50b3609af.png)

Of course, adoptions and tests need to be made before the code can be implemented in TensorFlow. I would like to take up and finish the issue if s

[2021-02-28 13:49] leiup opened #47461 "minimize total loss without step loss"
I want to minimize total loss without step loss (each loss no back-propagation), how to implement it?
total_loss = 0
idx = 0
for data in train_datas:
       pre = model(data)
       loss = metric(pre, gt)
       total_loss = total_loss + loss
       idx = idx + 1
       if idx %10 == 0:
              train_ops = optimizer(total_loss)
              sess.run(train_ops)

[2021-02-28 14:09] amahendrakar commented on #47143
@niciBume,
Thank you for the update. Is this still an issue?

[2021-02-28 14:24] embeddetech commented on #47452
The CMake build _seemed_ to work, though I do get an error below.

`  quantize.cc
  random_standard_normal.cc
  random_uniform.cc
**C:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\VC\Tools\MSVC\14.28.29333\include\random(1876,5): error C2338: invalid template argu
ment for uniform_int_distribution: N4659 29.6.1.1 [rand.req.genl]/1e requires one of short, int, long, long long, unsi

[2021-02-28 14:30] levivosWOW commented on #30877
Hi, I would like to give this problem a try. Is it still open or is it resolved?

[2021-02-28 14:32] Lucy20211 opened #47462 "Problem with TensorFlow model example with custom Sin operator"
Hi,

I would like to practice with the TensorFlow model example with custom Sin operator (https://www.tensorflow.org/lite/guide/ops_custom#create_a_tensorflow_model). In particular, I'm interested to repeat the error
"Error: Some of the operators in the model are not supported by the standard TensorFlow Lite runtime...... Here is
a list of operators for which you will need custom implementations:

[2021-02-28 14:38] levivosWOW commented on #13644
Hi, is this still open to contribute to? It seems like a very interesting module to help with.

[2021-02-28 14:47] amahendrakar commented on #47144
@divastar,
Could you please confirm if you've added the CUDA, CUPTI, and cuDNN installation directories to the %PATH% environmental variable as mentioned in [this guide](https://www.tensorflow.org/install/gpu#windows_setup). Thanks!

[2021-02-28 15:02] amahendrakar commented on #47163
@snigdhasen,
On running the code, I am facing an error stating `FileNotFoundError: [Errno 2] No such file or directory:'/home/newbiggatcdh1/phd/LALR.csv'`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/506c3a9910d69a32be4216c0dd234a40/47163.ipynb#scrollTo=hmUnOeaAIRVX).

In this case, could you please upload the dataset to Google Drive and share it with us.

[2021-02-28 15:23] niciBume commented on #47143
@amahendrakar sorry forgot to close the issue. It's working consistently now! Thanks a lot!

[2021-02-28 15:23] #47143 closed

[2021-02-28 15:26] snigdhasen commented on #47163
@amahendrakar
Please find attached dataset
https://drive.google.com/file/d/1x94BgnF6gfabFqpHgKmfgT9gIsnNboGp/view?usp=sharing

[2021-02-28 15:31] ALIANS-PRODUCTIONS commented on #47066
OS Windows 10 Pro : 1909 18363.1379
CUDA TOOLKIT : 11.1
CUDNN: 8.1.0

GPU : MSI RTX 3090 x trio
CPU i7 3930k 32GB ram
using Anaconda
python 3.7.9
tf-nightly-gpu 2.5.0.dev20210114
tf-nightly  2.5.0.dev20210114

=> The above config allows me to run my code LSTM code in tensor flow (extract below):
However clone the environment in Anaconda and upgrade the tf-nightly build to anything more recent, inc

[2021-02-28 16:54] yongtang commented on #30877
@levivosWOW The PR in tensorflow-io has been merged and you can use:
[code]
for 24bit wav files.

I will close this issue for now. If you have any questions you can open a new issue in https://github.com/tensorflow/io

[2021-02-28 16:54] #30877 closed

[2021-02-28 16:54] MJimitater commented on #18736
Im having this issue running a jupyter notebook, the kernel connection then breaks. Is there any way to increase the memory allocated to tensorflow?
Im already at batch_size=1 and enabled memory growth on the GPU.
BTW, is this the GPU memory that is exceeded or is it the RAM memory?

[2021-02-28 17:13] amahendrakar commented on #47223
Was able to reproduce the issue with [TF v2.4](https://colab.research.google.com/gist/amahendrakar/4947b00a5b3eb902506eebdf37d4b575/47223.ipynb) and TF-nightly, where prediction time is ~ 260 seconds.

Whereas with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/34520b50b6ff3f535ce33ecba8876896/47223-2-3.ipynb), the predict time is ~6 seconds. Please check the linked gist for referen

[2021-02-28 17:29] amahendrakar commented on #47244
@StevenShi-23,
Could you please provide the ported code, so that we can reproduce the issue on our end. Thanks!

[2021-02-28 17:58] amahendrakar commented on #47253
@nayrr25,
Please try importing TensorFlow in the macOS terminal i.e. outside the conda environment and check if you are facing the same issue. Thanks!

[2021-02-28 18:01] amahendrakar commented on #47281
@andy6804tw,
In order to reproduce the issue reported here, could you please provide the complete code and the dataset you are using. Thanks!

[2021-02-28 18:02] amahendrakar commented on #47297
@Fawcett-cpu,
Thank you for the update. Closing this issue as it is being tracked in tensorflow/models repo.

[2021-02-28 18:02] #47297 closed

[2021-02-28 18:40] jvishnuvardhan commented on #26417
@anshulsamar I know this is a stale issue. There were lot of improvements with `mixed_precision`.  Is this still an issue for you?

If this is still an issue, can you please share a simple standalone code to reproduce the issue. Thanks!

[2021-02-28 19:16] markub3327 commented on #47230
[code]

Is this a naive solution for a large memory that will contains about 1M experiences from the game? I try it with `.read(index)`, but I get an error too:

**Should I figure it out with using the tf.Dataset?**

[2021-02-28 19:30] HLSS-Hen commented on #47115
@amahendrakar this just my input error, [here](https://colab.research.google.com/drive/1sFaEse3NxATiyI9hTVNxYX1PNPD23ueU?usp=sharing).
I have said before:

[2021-02-28 20:00] CyangXu opened #47464 "Suspected duplicate code in resize_bilinear_op.cc"
I suspect these two code blocks are doing very similar tasks and can potentially be merged:

- [Code block 1](https://cs.opensource.google/tensorflow/tensorflow/+/master:tensorflow/core/kernels/image/resize_bilinear_op.cc;l=254;drc=9e274c0b2ff75f64a97c9aec57aa59b030c5a01b;bpv=1;bpt=0)
- [Code block 2](https://cs.opensource.google/tensorflow/tensorflow/+/master:tensorflow/core/kernels/image/resize_

[2021-02-28 20:02] CyangXu commented on #47464
I can help to fix if my judgement is correct. That would be my first code contribution to TF :)

[2021-02-28 20:19] ogreyesp opened #47465 "Correct range of input values for MobileNet"
Hello,

I want to use the implementation of MobileNetV3 (either the MobileNet_large or MobileNet_small version) in my project. I'm using the TensorFlow v2.4.1.

 I get confused when I read the documentation about the range of input values for MobileNet-based models. According to this [link](https://tfhub.dev/google/imagenet/mobilenet_v3_large_100_224/classification/5)  the expected range of values

[2021-02-28 22:18] abattery commented on #47452
@embeddetech The above random uniform op is recently added and the error can be fixed by a simple fix. Will provide a fix with few days.

[2021-02-28 22:20] abattery commented on #47462
@Lucy20211 you need to add the `converter.allow_custom_ops = True` line to enable custom ops.

[2021-02-28 22:29] embeddetech commented on #47452
Thank you for your help, @abattery!

[2021-02-28 22:37] embeddetech commented on #47452
@abattery Do you know if CMake only works with Visual Studio Professional, not Community? I used Professional in the results above, however actually opening Visual Studio Pro and using it for a C# application, I was unable to get a valid license for some reason. So I uninstalled Professional and installed Community and started getting this error when trying to build:

[code]

I since uninstalled a

[2021-02-28 22:42] abattery commented on #47452
@embeddetech Sorry. I do not know the details of the differences of the Visual Studio editions.

[2021-02-28 22:51] embeddetech commented on #47452
@abattery I found that when performing step 4 of the CMake build link you provided above, it checks for an installer and uses that from then on. After doing that step is when I uninstalled Pro and installed Community. After blowing everything away and starting over, I can see in that step 4 where it finds Community instead of Professional.

[code]

[2021-02-28 22:54] walterdumba commented on #35632
Hi there,

I was experiencing the same issue with the following configuration:

OnePlus One
Adreno 330
Android 10
org.tensorflow:tensorflow-lite:2.4.0
org.tensorflow:tensorflow-lite-gpu:2.4.0

I downgrade to 2.1.0 and worked

[2021-02-28 23:10] embeddetech commented on #47452
Just FYI, there are a few other suspicious strings emitted that may or may not be real errors during the execution of "CMake .../tensorflow_src/tensorflow/lite":

[code]

[code]

[code]

[2021-02-28 23:31] embeddetech commented on #47452
@abattery I just attempted to run the make option for building a tensorflow lite for microcontrollers "Hello World" example on this fresh git pull. This resulted in the flatbuffers checksum error I mentioned before. This is when I try to run the following:

`make -f tensorflow/lite/micro/tools/make/Makefile TARGET=arc_emsdp OPTIMIZED_KERNEL_DIR=arc_mli ARC_TAGS=no_arc_mli generate_hello_world_make

[2021-03-01 01:00] charmasaur commented on #47337
This is now fixed in tf-nightly: https://colab.research.google.com/drive/1qRZo4q1qwwt_pt6EfxRJPVohXmDUrdvN?usp=sharing

[2021-03-01 01:25] abattery commented on #47452
I managed to resolve the random uniform related error in https://github.com/tensorflow/tensorflow/commit/358948ec8da338b694416b4cd83d5ed3648933b0. Could you try again? For the flatbuffer checksum issue, can you create a separate issue in the github to track?

[2021-03-01 01:39] rrklearn2020 opened #47466 "RuntimeError: Mixing different tf.distribute.Strategy objects while using tf.distribute.MirroredStrategy()"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Ubuntu 18.04)
- TensorFlow installed from (source or binary):binary
- TensorFlow version (use command below): 1.15
- Python version:3.6.9
- CUDA/cuDNN version: 10
- GPU model and memory: TitanXP

TF 1.0: `python -c "impor

[2021-03-01 01:41] #47329 closed

[2021-03-01 01:44] embeddetech opened #47467 "Flatbuffers Checksum Issue Building With Make"
**System information**
- No custom code
- Windows 10
- TensorFlow installed from source
- TensorFlow current version

**Describe the current behavior**

Using make to build Tensorflow Lite example projects fails using make for several projects. On Windows, setting command prompt to the tensorflow repository directory, and following the README for tensorflow\lite\micro\examples\magic_wand:

`make -

[2021-03-01 01:45] embeddetech commented on #47452
Will do, will notify you shortly to confirm the fix. Added Issue [47467](https://github.com/tensorflow/tensorflow/issues/47467) for the flatbuffers issue.

[2021-03-01 02:19] byronyi commented on #44485
API compatibility test fails:

[code]

cc @mihaimaruseac

[2021-03-01 02:23] embeddetech commented on #47452
Steps:

- Open command prompt
- Navigate to CMake installation directory
- Run git clone https://github.com/tensorflow/tensorflow.git tensorflow_src
- Run "mkdir tflite_build" to create tflite_build folder
- Run "cd tflite_build" to go into that folder
- Run "cmake ../tensorflow_src/tensorflow/lite". Appears successful, however potential issues listed under "Build Config Results" below.
- Run "cma

[2021-03-01 02:29] UEBoy2019 opened #47468 "how to Training .TextGrid file by tensorflow"
now, i have get some audio label file , that  read .wav file and use Annotate -TextGrid(sentence) button operator by Praat tool;
open file  :

`File type = "ooTextFile"
Object class = "TextGrid"

xmin = 0
xmax = 17.275351473922903
tiers? <exists>
size = 1
item []:
    item [1]:
        class = "IntervalTier"
        name = "silences"
        xmin = 0
        xmax = 17.275351473922903
        inter

[2021-03-01 02:44] sayakpaul commented on #47465
Hi @ogreyesp. The following options might be worth trying while someone from the team replies to your query -

* Load up the MobileNetV3 model and print the summary of the model. Inspect the first few layers and if you see something like Normalization or Rescaling to be present there then you can be sure that you can pass an input image as is. This is in fact the case for all the EfficientNet mode

[2021-03-01 02:45] sayakpaul commented on #47459
Related issues:
* https://github.com/tensorflow/tensorflow/issues/39122
* https://github.com/tensorflow/tensorflow/issues/39719
* https://github.com/tensorflow/tensorflow/issues/38762

[2021-03-01 02:55] sayakpaul commented on #38762
Here are some suggestions:

* `tf.data.Dataset.from_generator` is known to be incompatible with TPU hardware ([reference](https://github.com/tensorflow/tensorflow/issues/39099#issuecomment-749878735)).
* It's better to apply `tf.py_function` related functionalities to your dataset ahead of time and serialize them as TFRecords inside a GCS Bucket which you would use anyway when using TPUs for train

[2021-03-01 04:01] Alwaysproblem commented on #31542
you can try this code
[code]

[2021-03-01 04:02] hockman1 commented on #36792
Just use pytorch. Tensorflow and keras dont go well together

[2021-03-01 04:40] StephKua commented on #47459
@sayakpaul  I'm currently using GCS Bucket and still facing the same error. Based on the related issues, I couldn't really get a proper solution for this problem.

[2021-03-01 04:44] sayakpaul commented on #47459
So, if you are using `tf.py_function` inside your data loader chances are likely that it is causing the issue. So, in that case, you might want to apply your `tf.py_function` related functionalities to your data, serialize it as shards of TFRecords inside your GCS Bucket and then load them during training time.

[2021-03-01 04:50] Saduf2019 commented on #47468
@UEBoy2019

This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2021-03-01 04:56] Saduf2019 commented on #47458
@halhwadi
 I ran the code shared and face a different issue, please  find the [gist here](https://colab.research.google.com/gist/Saduf2019/e57b5fe550307126e26d8aea24221595/untitled554.ipynb). Please share all dependencies for us to replicate and analyse the issue faced.

[2021-03-01 05:04] Saduf2019 commented on #47461
I am able to replicate the issue reported on tf 2.4 and nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/0fa70861612a9e33b4ba427d1e506971/untitled554.ipynb).

[2021-03-01 05:06] Saduf2019 commented on #47454
I am able to replicate the issue reported on tf 2.4 and nightly, please find the [gist here]((https://colab.research.google.com/gist/Saduf2019/0fa70861612a9e33b4ba427d1e506971/untitled554.ipynb)).

[2021-03-01 05:12] angelxd84130 commented on #33285
That works! Installing python certificates solve my problem. Thanks

[2021-03-01 05:20] Saduf2019 commented on #47396
@wuxianxingkong
Please share simple stand alone code to replicate the issue reported or a colab gist with the error and code.

[2021-03-01 05:27] Saduf2019 commented on #47407
I am able to replicate the issue reported on tf 2.4 and tf-nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/66fa2cb4ec7f25013f81c209b3c887a3/untitled554.ipynb).

[2021-03-01 05:31] Saduf2019 commented on #47428
@jameshfisher
I ran the code shared in colab but do not face same error reported, please have a look at the [gist here](https://colab.research.google.com/gist/Saduf2019/e61628339732c736514c00a900143689/untitled554.ipynb).

[2021-03-01 05:32] luvwinnie commented on #47292
Any progress on this?

[2021-03-01 05:35] leiup commented on #47461
@Saduf2019

I want to minimize total loss without step loss (each loss no back-propagation), how to implement it?
total_loss = 0
idx = 0
for data in train_datas:
  pre = model(data)
  loss = metric(pre, gt)
  total_loss = total_loss + loss
  idx = idx + 1
  if idx %10 == 0:
    train_ops = optimizer(total_loss)
    sess.run(train_ops)

[2021-03-01 06:06] #47054 closed

[2021-03-01 06:06] #47122 closed

[2021-03-01 06:08] abattery commented on #47452
The build config test is used for finding out the correct set of the options for the given compilers. They are just indicators of the MSVC's characteristics.

For the compiler warnings, TFLite has a number of other libraries including eigen and so on. It is common to see warnings during compliations.

[2021-03-01 06:13] #47468 closed

[2021-03-01 06:14] amahendrakar commented on #47436
@cfrancesco,
On running the given code snippet, I am facing an error stating `NameError: name 'config_manager' is not defined`. Could you please provide the complete code to reproduce the issue on both single GPU and multiple GPUs?

Also, please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same issue. Thanks!

[2021-03-01 06:24] Lucy20211 commented on #47462
Thanks @abattery for you reply, but before using the line you suggested I would just like to repeat the above error. Since the model in the example does not consist of layers, how can I tell the converter to try to convert in a TFLite model the model that uses the Sin operator?

[2021-03-01 06:35] pierremotard commented on #27303
My model using STFT still fail at inference with the following error:
tensorflow/lite/kernels/reshape.cc:58 stretch_dim != -1 (0 != -1)Node number 26 (RESHAPE) failed to prepare.
I filed an issue with more details here: https://github.com/tensorflow/tflite-support/issues/352 but got no answer.

Any news on this? Thanks a lot!

[2021-03-01 06:39] JCL823 opened #47469 "Tensorflow WARNING: tensorflow:Gradients do not exist for variables"
I am trying to implement the VQ-VAE using TensorFlow 2.X.
I borrow the code of the VQ-VAE training from [this github][1] which is written in TF 2x. and I'm working on merging the Keras code of PixelCNN training & sampling from [this tutorial][2] to the VQ-VAE TF 2.X code.

For the training of VQ-VAE, I think it was fine. But when I want to get the quantization vectors from the trained VQ-VAE and u

[2021-03-01 06:46] abattery commented on #47462
Could you create a gist for the problem? If the above flag is on, the above error message will become an warning and the conversion will be succeded. If not, there is something wrong happening but it is rare since the custom operator enabling is quite stable for a long time.

[2021-03-01 07:08] Lucy20211 commented on #47462
I haven't used the converter yet, I only copy and paste this part of the example code:

import tensorflow as tf

# Define training dataset and variables
x = [-8, 0.5, 2, 2.2, 201]
y = [-0.6569866 ,  0.99749499,  0.14112001, -0.05837414,  0.80641841]
offset = tf.Variable(0.0)

# Define a simple model which just contains a custom operator named `Sin`
@tf.function
def sin(x):
  return tf.sin(x + offs

[2021-03-01 07:08] abattery commented on #47462
Yeah, I confirmed the custom op example is outdated. Sorry for that. tf.Sin op is now a part of the TFLite builtin op set. You can use tf.RandomUniform operator to produce the custom op.

For example,

[code]

[2021-03-01 07:35] kretes opened #47470 "Large overhead when py_function returns tuple of lists"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2021-03-01 07:47] amahendrakar commented on #47456
@xiedeacc,
In order to expedite the trouble-shooting process, could you please provide the the exact sequence of commands / steps that you executed before running into the problem. Thanks!

[2021-03-01 08:01] Rumeysakeskin commented on #44467
Thank you, it works

[2021-03-01 08:14] amahendrakar commented on #47459
@StephKua,
Please take a look at @sayakpaul's comment above and let us know if this is still an issue. Thanks!

[2021-03-01 08:20] orsharir commented on #24196
This is still an issue both on latest TF1 and TF2. See attached Colab notebooks demonstrating the issue:
TF1: https://colab.research.google.com/drive/1eomQKlLSBvZsyDLU3EM_Bv74imxT_RwU?usp=sharing
TF2: https://colab.research.google.com/drive/1mlHwozUWUyMv4ShGlhIYMzkxqtLrGcny?usp=sharing

[2021-03-01 08:22] cuikunyu commented on #47242
I met a similar problem when I run the BERT model (repo: https://github.com/google-research/bert).
I have downgrade Numpy from 1.20 to 1.19.2 and the problem solved.
Thanks!

[2021-03-01 08:25] Lucy20211 commented on #47462
Ok, therefore can I convert an entire trained model in a TFLite model with:

`tf.lite.TFLiteConverter.from_concrete_functions([my_custom_operator.get_concrete_function()])?`

I mean, shouldn't I try to convert before the trained model somehow, which contains the custom operator that cannot be detected, then use these lines (since the error should appear):

`converter = tf.lite.TFLiteConverter.from

[2021-03-01 08:25] puneetsl commented on #46361
After some digging, I found that although you can register the custom function using `@tf.keras.utils.register_keras_serializable()` decorator and would work for classes that have the `get_config` module implemented, however, it will not work for user-defined functions. The reason is when you register a function it would be added to the `custom_object` dictionary as `Custom>{func_name}`.
https://g

[2021-03-01 08:32] kretes commented on #47470
This might be a duplicate of https://github.com/tensorflow/tensorflow/issues/44555

[2021-03-01 08:40] teakfi commented on #47263
I'm having this issue with numpy 1.19.5, python 3.8.5 and tf 2.4.1, in windows 10 & anaconda environment.

[2021-03-01 08:43] Lucy20211 commented on #47462
After `Error: Didn't find custom operator for name 'my custom operator' Registration failed.` I'd create and register the custom operator.

I would like to practice this simple example in order to later try to implement a 1D convolution operator for a Temporal Convolutional Network, as this operator should not yet be supported by TensorFlow Lite.

[2021-03-01 08:45] amahendrakar commented on #47466
@rrklearn2020,
TensorFlow 1.x is not actively supported. Could you please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same issue. Thanks!

[2021-03-01 09:10] abattery commented on #47462
If the converter does not throw any errors related to the custom operator, it succeded on the conversion with the given TFLite builtin operator, which is a good sign.

[2021-03-01 09:16] jameshfisher commented on #47428
@Saduf2019 your gist shows the same problem. See the final code cell in your gist. `model_with_normalization_layer.predict(bad_input)` only produces a `WARNING` log line, and returns a nonsense value of shape `(5,1)`. But what it _should_ do is raise a `ValueError`, and not return any value, because its input has shape `(5,)`, which does not match the shape enforced by its first layer, `tf.keras.I

[2021-03-01 09:27] Saduf2019 commented on #47451
@jeball
I ran the code shared and face a different error, please refer to this [gist here](https://colab.sandbox.google.com/gist/Saduf2019/d5326e86b8bd3905ab35163d41e20189/untitled554.ipynb).

[2021-03-01 09:37] Lucy20211 commented on #47462
Okay, I'll try to follow your suggestions, thank you very much @abattery.

[2021-03-01 09:49] xiedeacc commented on #47456
@amahendrakar, I will provide a small project to reproduce this problem, need a few days(sorry for my busy work)

[2021-03-01 10:00] Saduf2019 commented on #47136
@ssnirgudkar
We will not be able to replicate this on tf 1.2, please upgrade to 2.x as informed earlier and move this issue to closed status if there is no error or create a new issue in case you face any errors.

[2021-03-01 10:12] Saduf2019 commented on #47428
@jvishnuvardhan
I ran the code on nightly as well, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/a80eb59cba101df53317a6b74a8bf35d/untitled555.ipynb).

[2021-03-01 10:51] ALIANS-PRODUCTIONS opened #47473 "tf-nightly-gpu builds from February are crashing on 'tf.keras model.fit()' for Nvidia RTX 3090; January builds performance is slower than 2080ti on : 2Layer Bidirectional LSTM + 3 Dense Layers"
**System information**
OS Windows 10 Pro : 1909 18363.1379
CUDA TOOLKIT : 11.1
CUDNN: 8.1.0
Latest GPU Driver 461.72

GPU : MSI RTX 3090 Gaming X Trio
CPU i7 3930k 32GB ram

using Anaconda
python 3.7.9
tf-nightly-gpu 2.5.0.dev20210114
tf-nightly 2.5.0.dev20210114

**Describe the problem**

=> The above config allows me to run my code LSTM code in tensor flow (extract below):
However if i create an

[2021-03-01 11:06] #47139 closed

[2021-03-01 11:06] sangireddysiva commented on #45929
@left-brain, me and @anilkumarKanasani  have added the TanhExp activation functionality and pull request #47472 has been created for the same.

[2021-03-01 11:37] mdickinson opened #47474 ""import tensorflow" configures Python logging if tensorboard is not installed"
**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.15.7, Python 3.8 from MacPorts, Python venv
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary wheel `t

[2021-03-01 12:22] rrklearn2020 commented on #47466
Code was written in TF1.13 and currently works with TF1.15 (Stable version). We tried to convert to TF2.x, starting with the 'Automatic conversion script' and trying make changes for each errors. But not successful. Request for hints to solve the issue in TF1.15 version for using distribute.MirroredStrategy().

[2021-03-01 12:29] andy6804tw commented on #47281
@amahendrakar  Sure!
I take the `cnn-who-is-she` dataset for [example](https://www.kaggle.com/scott1205/cnn-who-is-she) from Kaggel.
Here is my kernel I shared. https://www.kaggle.com/andy6804tw/47281-issue.

Thank you!

[2021-03-01 12:49] amahendrakar commented on #47431
@liyinhgqw,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here.

Also, please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same error. Thanks!

[2021-03-01 13:07] amahendrakar commented on #47445
Was able to reproduce the error with [TF v2.4](https://colab.research.google.com/gist/amahendrakar/7e5b6c862b2f856bbeffb4ed9898152c/47445.ipynb) and TF-nightly.

However, I did not face any errors while running the code with [TF v2.3.2](https://colab.research.google.com/gist/amahendrakar/0806b3b0ce33a030bb9885261ad1800c/47445-2-3.ipynb#scrollTo=mn_knFxrME8c). Please check the linked gist for refer

[2021-03-01 13:11] amahendrakar commented on #47450
@CharlesSS07,
In order to reproduce the issue reported here, could you please provide the complete code and the dataset you are using.

Also, please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same error. Thanks!

[2021-03-01 13:16] Julescorbara commented on #40510
Hi @jianlijianli
Any updates on this issue? There's still no support for quantized LSTM on the EdgeTPU?

[2021-03-01 13:18] amahendrakar commented on #47453
@NasonZ,
On running the given code snippet, I am facing an error stating `NameError: name 'vocab_size' is not defined`. In order to reproduce the issue reported here, could you please provide the complete code and the dataset you are using.

Also, please try limiting GPU memory growth using any of the methods listed [here](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) and check

[2021-03-01 13:21] amahendrakar commented on #47457
@vilmara,
TensorFlow 1.x is not actively supported. Could you please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same issue. Thanks!

[2021-03-01 13:24] amahendrakar commented on #47460
@halhwadi,
In order to reproduce the issue reported here, could you please provide the TensorFlow version, the complete code and the dataset you are using. Thanks!

[2021-03-01 13:31] amahendrakar commented on #47467
@embeddetech,
Please go through these comments from similar issues [#46916](https://github.com/tensorflow/tensorflow/issues/46916#issuecomment-774973928) and [#46936](https://github.com/tensorflow/tensorflow/issues/46936#issuecomment-776585339) and check if it helps. Thanks!

[2021-03-01 13:42] jeball commented on #47451
Remove the plot commands – the print statements will show different numbers. Alternately just squeeze the last dimension out.

John Ball, Ph.D.
Associate Professor and Robert Guyton Endowed Chair for Teaching Excellence | Electrical and Computer Engineering

[cid:image002.png@01D70E6E.5D537160]
Associate Editor | IEEE Signal Processing Letters
Associate Editor | Journal of Applied Remote Sensing
E

[2021-03-01 13:50] jeball commented on #47451
I have made the changes in the notebook. Code runs now.

John Ball, Ph.D.
Associate Professor and Robert Guyton Endowed Chair for Teaching Excellence | Electrical and Computer Engineering

[cid:image002.png@01D70E6F.8BE86160]
Associate Editor | IEEE Signal Processing Letters
Associate Editor | Journal of Applied Remote Sensing
Editorial Board Member | MDPI Electronics
Faculty Advisory Council | Tr

[2021-03-01 13:52] jeball commented on #47451
Not sure changes get saved?

Add these lines in

d_img_tfa = np.squeeze(d_img_tfa)

and

d_img_scipy = np.squeeze(d_img_scipy)

just before the plots.

John Ball, Ph.D.
Associate Professor and Robert Guyton Endowed Chair for Teaching Excellence | Electrical and Computer Engineering

[cid:image002.png@01D70E6F.C6A1A500]
Associate Editor | IEEE Signal Processing Letters
Associate Editor | Journal of

[2021-03-01 14:02] Tanelo commented on #27303
Waiting for the same problem as Pierre Motard..

[2021-03-01 14:06] hainesdata commented on #47229
Reopening as there was an issue with installing the wheel. The wheel built successfully, but doesn't want to install on my RPi. I built the wheel for armv6l and Python3.8, both of which are what's on my Pi.
[code]
I have no clue what the issue is now.

[2021-03-01 14:20] ALIANS-PRODUCTIONS commented on #47473
In addition to what i wrote above :  i have tested the issue with different sample codes and can replicate the error.
Attached is the jupyter notebook from Laurence Mooneys Tensorflow for Developer Course (from Coursera).
It runs absolutely fine on Google colab, on my tf-nighlty build from January (as written above) but crashes as soon as the code reaches the model.fit section

[S+P_Week_3_Lesson_

[2021-03-01 14:35] ALIANS-PRODUCTIONS commented on #47473
Lastly to check that it wasnt my python environment in Anaconda that was corrupt.
I have created a fresh new virtual env, python3.7, with tf-nightly-gpu 2.5.0.dev20210228, tf-nightly, tf-nightly-gpu 2.5.0.dev20210228, conda install pandas, numpy, scikit-learn and matplotlib : and still get the crash as described above when running the code on my 3090. I have a seperate pc with an RTX 2080ti and it

[2021-03-01 14:37] mdanatg commented on #36792
@rohan2734 could you include the few bottom frames in the error message? The top ones are not very informative.

[2021-03-01 14:38] Valret commented on #45285
Same problem here with tf-nightly, last line I see is:
`2021-03-01 15:30:30.757086: I tensorflow/stream_executor/cuda/cuda_blas.cc:1838] TensorFloat-32 will be used for the matrix multiplication. This will only be logged once.`
After this program just exits without any error message, If I run it on jupyter I get kernel died error there. I'm using Ryzen 5 + Nvidia 3080.

[2021-03-01 14:46] Saduf2019 commented on #47433
@ymodak
I ran the code shared on tf 2.4 and tf-nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/60f4f4d4b88be8b92afb54c1c58cfd79/untitled554.ipynb).

[2021-03-01 14:47] mdanatg commented on #44485
The API compatibility tests are brittle around `typing` objects, especially across versions. We have some normalization for Python 3.7, and likely need to repeat it with 3.9. If that's the sole failure you see, you can safely ignore it until it's patched.

[2021-03-01 14:54] Arman-IMRSV commented on #47326
@abattery
Could you please let me know who I should request help from? Who has been in TFlite implementation to help, please?

[2021-03-01 14:54] embeddetech commented on #47467
Thank you @amahendrakar , I see that there appears to not be a Windows build solution for a TFLite for Microcontrollers project. Will it be possible to create/repair a functioning Micro project build so as to have at least a single reference?

Note that I am currently able to CMake TFLite as of today. However I am not exactly clear the distinction between TensorFlow Lite and Tensorflow Lite for Mi

[2021-03-01 15:00] mdanatg commented on #44613
We discussed creating a TF interface that KerasTensor can use, but unfortunately it not be available in 2.5.

[2021-03-01 15:18] rohan2734 commented on #36792
[code]
- These are the bottom most lines of error

@hockman1 sir, I was doing NLP , and i was working with spacy and keras, not tensorflow actually

[2021-03-01 15:35] mdanatg commented on #36792
That's the error message. There are no stack trace lines above it, that indicate the actual code which generated the error? Note that ipython might truncate the full stack trace.

Also, I recommend asking the question in the spacy support forums as well.

For example, if I write this:

[code]

I get this error message:

[code]

[2021-03-01 15:39] dcbarton opened #47475 "Saving and loading a model using tf.keras and CategoricalCrossentropy with from_logits=True restores an incorrect model."
Only incorrect when using CategoricalCrossentropy with from_logits=True and sigmoid outputs. Using from_logits=False and softmax outputs is fine, as is BinaryCrossenropy with from_logits=True and sigmoid outputs.

Big problem since CategoricalCrossentropy is most popular loss, and from_logits=True is recommended usage due to numerical stability.

Model is saved using ModelCheckpoint, val_accuracy,

[2021-03-01 15:57] prashantchandel97 commented on #33150
Using model.save_weights and model.load_weights worked for me.

[2021-03-01 16:06] #47125 closed

[2021-03-01 16:37] CharlesSS07 commented on #47450
Certainly @amahendrakar ,

I'll show two simple python files, and the resulting terminal output, which I ran on the tf 2.4.1 docker on my mac (no GPU). The first does not save successfully. The second does.

**File 1: failure**

[code]

**File 1 output:**

[code]

**File 2: success**
[code]

**File 2 output:**
[code]

The only difference between these two files is this line:
```kernel_initializer=

[2021-03-01 16:39] markemus commented on #34771
I believe this thread is incorrect, and tf.keras actually uses graph execution inside of layers. See the issue [here ](https://github.com/tensorflow/tensorflow/issues/36715) where we discuss this.

 Can anyone confirm?

[2021-03-01 16:43] #43038 closed

[2021-03-01 17:20] jurahul commented on #47386
I have filed a new issue with bazel: https://github.com/bazelbuild/bazel/issues/13135. @nouiz, would it be possible for you to provide build configuration information on the bazel issue? After that, I think we can close this issue.

[2021-03-01 17:27] TomWildenhain-Microsoft commented on #47326
The way we did this with the onnx converter is a bit of a hack, but it would probably work here.  Just curious, why do you want to convert this model to tflite?  Tflite is designed to run on low-power devices so I'm surprised you'd want to run such a huge model on it.

[2021-03-01 17:40] Saduf2019 commented on #47381
@Zumbalamambo
Please update as per above comment

[2021-03-01 17:42] amahendrakar commented on #44541
@hoondy, @zndr27,
Could y'all please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2021-03-01 17:53] AdityaKane2001 commented on #47470
Hi,
I'm not sure if this is correct, but hear me out. As stated [here](https://www.tensorflow.org/guide/function#tracing), and [here](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#map)

Thus, the map function traces the graphs if the input/output has a python object. numpy arrays work similar to Tensors and result in similar performance when a graph is traced.
 But, as mentioned in yo

[2021-03-01 17:54] Saduf2019 commented on #47403
@liming-developer-python
Please verify if you have 64 bit python version and OS.
Please refer to similar issues : #47365, #47151, #42163,

Could you please update pip using the below commands and check if you are still facing the same issue?
pip install --upgrade pip
pip install tensorflow.

[2021-03-01 17:58] Saduf2019 commented on #47406
@Homayra22
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

Please paste error logs its easy to search the issue.

[2021-03-01 18:01] Saduf2019 commented on #47475
@dcbarton
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

[2021-03-01 18:02] AdityaKane2001 commented on #44555
Please see [#47470 ](https://github.com/tensorflow/tensorflow/issues/47470). Along the same lines, please take a look at the source of `convert_to_tensor()` [here](https://github.com/tensorflow/tensorflow/blob/85c8b2a817f95a3e979ecd1ed95bff1dc1335cff/tensorflow/python/framework/ops.py#L1482)
Note that the function returns a graph capture, which means that the creation of a Tensor from a Python lis

[2021-03-01 18:07] Paryavi commented on #47027
Thanks, @amahendrakar, Yes I was able to fix it using @abattery help. Thank you both!

[2021-03-01 18:08] Path-A commented on #27303
The current issue seems to be that stft itself is not supported because tflite uses different functions to do the DFT compared to full tensorflow. You have to currently do a work around by manually using rfft and frame. This also doesn't return the phase, which probably isn't something most people need, but would be nice to have.

[2021-03-01 18:14] dcbarton commented on #47475
I'm filing this as a courtesy and gave detailed info. I don't know what template you are referring to. My tf version is:

v1.12.1-51802-gb334cd537ac 2.5.0-dev20210228

I'm on ubuntu 20.04, cuda 11.1, cuDnn 8.1

[2021-03-01 18:21] embeddetech commented on #47452
I am working on trying to manually pull in the appropriate Tensorflow Lite code into a Visual C project from the CMake build as a reference. I am floundering a bit, as there is just so much code. A working make build of one of the Tensorflow Lite for Microcontrollers examples would really help clear the clutter (that's what I used in the past). I'm running Windows, so I'd have to get up to speed o

[2021-03-01 18:25] amahendrakar commented on #46606
@rednag,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2021-03-01 18:34] mihaimaruseac commented on #47245
If you compile on your own machine AVX issue should not occur, **assuming** you are using the compiled TF and not the one from PyPI. Can you check to make sure that this is the case?

[2021-03-01 18:41] tmladek commented on #47245
Yes; the one from PyPi did not even import without crashing. These issues I get using TensorFlow I compiled on the AVX-less machine, following the [official instructions](https://www.tensorflow.org/install/source).

[2021-03-01 18:44] fh127 opened #47478 "Tensorflow Lite Custom Object detection Model Error in Android app"
Could you please help to solve this error?

I am testing a custom Object Detection model using TensorFlow Lite in Android App according to the documentation, but I have an error when the library tries to recognize an image.

I am using the Tensorflow lite sample app: `https://github.com/tensorflow/examples/tree/master/lite/examples/object_detection/android`

**Using Task Library:** `https://www.te

[2021-03-01 18:45] mihaimaruseac commented on #47245
Right. So now this is a GPU issue. Assigning @sanjoy to take a look

[2021-03-01 19:01] hoondy opened #47479 "Saving model in TF 2.4"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS 7
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): v2.4.0-rc4-

[2021-03-01 19:39] #47478 closed

[2021-03-01 19:39] fh127 commented on #47478
resolved

[2021-03-01 19:52] #47027 closed

[2021-03-01 19:56] jvishnuvardhan commented on #47242
I am closing this issue as this is more related to numpy version as mentioned above and not related core Tensorflow. Loading correct numpy version resolves the issue. Thanks!

[2021-03-01 19:56] #47242 closed

[2021-03-01 21:10] Ierezell commented on #44485
Hi all, just an update FYI.

I just loaded a TFBertModel in huggingface, and runned finetunning with tensorflow.
- pip 21.0.1
- python 3.9.2
- tf-nightly 2.5.0.dev20210228
- linux kernel zen 5.11.1 (Archlinux)

However, I got errors with cuda but for some light operations on cpu it seems to be working.

[2021-03-01 21:19] abattery commented on #47326
The ONNX-TFLite converter actually creates the corresponding TensorFlow graph from the given original model. Could you file a feature request towards the ONNX-TFLite converter in order to pull out of weights separately and use a saved model format for the weight serialization instead of inlining weights in the operator definitions in a single protobuf file like https://github.com/tensorflow/tensor

[2021-03-01 21:20] bhack commented on #41396
We need to also find a solution for astroid at https://github.com/PyCQA/pylint/issues/2603

[2021-03-01 21:26] chenmoneygithub commented on #47308
The responses above look good. In Keras we provide basic components and leave room for customization, and the different lr scenario is an example of customization.

[2021-03-01 21:26] #47308 closed

[2021-03-01 22:27] innat commented on #47115
We're also facing the same issue. Is there any update on this?

[2021-03-01 22:35] jvishnuvardhan commented on #47066
@ALIANS-PRODUCTIONS Looks like you may have different issue when compared to the current issue. Can you please open a new issue with the standalone code. Creating new issue may help others who are facing similar issue like you. Thanks!

[2021-03-01 23:00] jvishnuvardhan commented on #47156
@RocaVincent Can you please check whether this was an issue (regression) with earlier version like 2.3 or 2.4? thanks!

[2021-03-01 23:05] ymodak commented on #47404
Your assumption is correct, you need to instantiate the `tf.keras.model` before inspecting the shapes of the layers. `dense layer` by itself has not attribute `output_shape`.
https://www.tensorflow.org/api_docs/python/tf/keras/layers/Dense#example

[2021-03-01 23:05] nikitamaia commented on #45157
Hi all, it seems that my explanation resulted in more confusion.

The solution was not to avoid `train_on_batch`, but instead to explain that `train_on_batch` will result in some warnings that you can ignore. Ideally, we would silence these warnings, but for now they are just warnings that don't actually affect the training process.

The sharding options set on the original dataset don't apply to

[2021-03-01 23:20] ALIANS-PRODUCTIONS commented on #47066
Hi there, I created a separate ticket with sample code attached in the second comment and extensive detail:
Thank you very much for looking at my case!

tf-nightly-gpu builds from February are crashing on 'tf.keras model.fit()' for Nvidia RTX 3090; January builds performance is slower than 2080ti on : 2Layer Bidirectional LSTM + 3 Dense Layers #47473

From: Vishnuvardhan Janapati <notifications@gi

[2021-03-01 23:21] ALIANS-PRODUCTIONS commented on #47473
I think the issue is with LSTMs in the current TF-nightly builds : they crash on a RTX 3090. A basic sequential model seems to run fine

[2021-03-01 23:22] pawarrick commented on #41169
@ion-elgreco, upgrading to the driver version 465.12 (developer)  solved this problem for me as well with TF2.2/Cuda 10.1.  Wonder whether this version in off the master release path and when a supported release driver will work.  I did not try the latest suggested driver to check.  Just happy I'm running again. Many thanks

[2021-03-01 23:26] arshren commented on #41380
**checkpoint_path = r"\training_1\cp-lowest-loss.ckpt"
checkpoint_dir = os.path.dirname(checkpoint_path)**

Make sure your checkpoint path contains the name of the .ckpt files and the error got resolved for me

[2021-03-01 23:30] reedwm commented on #47156
For the nonfused cases, Tensorflow does both [BatchNormalization](https://github.com/tensorflow/tensorflow/blob/c20905d3da8027bb8cd1b2de71f266a64cd7d0fe/tensorflow/python/keras/layers/normalization.py#L783-L786) and [LayerNormalization](https://github.com/tensorflow/tensorflow/blob/c20905d3da8027bb8cd1b2de71f266a64cd7d0fe/tensorflow/python/keras/layers/normalization.py#L1236-L1238) in float32 inte

[2021-03-01 23:33] nikitamaia commented on #47203
Hi @unfazing, just my thoughts on this: in `MultiWorkerMirroredStrategy` the forwards and backwards passes are computed on each replica and the gradients synchronized across all GPUs on a machine and all machines in the cluster.  So if you have a machine that has 4 GPUs, it's going to complete the forward/backwards passes on the data in a particular step faster than the machine with 2 GPUs (assumi

[2021-03-01 23:34] ymodak commented on #47337
Thanks for the fix, this should be a part of TF 2.5 release.

[2021-03-01 23:34] #47337 closed

[2021-03-01 23:40] agramesh1 commented on #47415
Adding @gzmkl from Intel-TF team who can help.

[2021-03-01 23:45] charmasaur commented on #47337
Thanks @ymodak ; any idea when we should expect TF 2.5 to be released?

[2021-03-01 23:59] ymodak commented on #47330
Have you tried using [TensorFlow profiler](https://www.tensorflow.org/tensorboard/tensorboard_profiling_keras) tool to discover performance bottlenecks?

[2021-03-01 23:59] mushtaqsyed opened #47485 "flatbuffers download:"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Windows 10:
- TensorFlow installed from (source or binary):Binary
- TensorFlow version:

[2021-03-02 00:07] unfazing commented on #47203
Okay, so the error is by design. In the situation that 4 weaker GPUs end up having the same computational power as 2 more powerful GPUs, is there a way to run the training without encountering the error?

[2021-03-02 00:14] ksangeet9ap opened #47486 "Building tensorflow_cc target (cpu-only) from scratch with xla failing (TF1.15.5)"
### System information

-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
-   **TensorFlow installed from (source or binary)**: source
-   **TensorFlow version (use command below)**: 1.15
-   **Python version**: 3.6
-   **Bazel version (if compiling from source)**: 0.26.1
-   **GCC/Compiler version (if compiling from source)**: 7.5.0 (set using --action env GCC_HOST_COM

[2021-03-02 00:29] jpienaar commented on #47307
For these the tools are built with host compiler options, I'm not sure where/how you are setting the march file. Normally the tools are build with different options than the general bazel run so that this isn't needed. Try passing different arch via --host_copt/--host-cxxopt for the tools

[2021-03-02 01:03] jvishnuvardhan commented on #47454
@lancerutkin I think this is intended behaviour and kind of limitations of `mixed-precision` computations for some activation layers like BatchNorm and softmax (when it is used as a final layer for prediction). Please check the guide [here](https://www.tensorflow.org/guide/mixed_precision). Also, note that NVDIA recommends small changes required when using mixed precision with BatchNorm and Softma

[2021-03-02 01:13] jvishnuvardhan commented on #47454
@reedwm Do you think we need to add some note on our `mixed_precision` guide about how to use BatchNorm layer. Current guide mentions the issue about `softmax` layer when it is used in the prediction layer. Thanks!

[2021-03-02 01:40] edend10 opened #47487 "Can't save/load a Keras model's optimizer weights when using SavedModel format"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow installed from (source or binary): No
- TensorFlow version (use command below): 2.4.1
- Python version: 3.7.10

**Describe the current behavior**
When saving a keras model in TensorFlow SavedModel

[2021-03-02 01:54] reedwm commented on #47454
Layers are not intended to be passed as a `kernel_constraint`, and the weights of the layers will not be trained when this is done (I'm not sure what your use case is).  But it typically will work as any callable can be passed. With mixed precision, weights are float32 but layer outputs are float16. The `kernel_constraint` output dtype must be the same as the weight dtype, which is why you must pa

[2021-03-02 02:00] swapnilsayansaha opened #47488 "Untraced function warning and Model parsing failure for Keras TCN Regressor (TF Lite)"
**The error:** TF Lite converter throws an untraced function warning when trying to convert a temporal CNN (built using the widely used Keras TCN library: https://github.com/philipperemy/keras-tcn ), and throws in model parsing error when trying to do post-training quantization

### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installa

[2021-03-02 02:06] ckkuang commented on #47086
The issue is fixed in tf-nightly.

[2021-03-02 02:06] #47086 closed

[2021-03-02 02:06] abattery commented on #47488
You can ignore the above warnings if the conversion was succeeded.

Could you triage this issue, @ethkim ?

[2021-03-02 02:08] aa12356jm commented on #38285
@MeghnaNatraj  now QAT can convert to int8 or unint8 ?  thanks

[2021-03-02 02:37] byronyi commented on #44485
Another error lies in `//tensorflow/python/module:module_test`:

[code]

[2021-03-02 03:13] qurugou opened #47492 "GPUOptions C++ free(): invalid pointer"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2021-03-02 03:51] HiveYuan commented on #18736
it works for me too. I wonder why...

[2021-03-02 04:28] amahendrakar commented on #47469
@JCL823,
On running the code, I am facing an error stating `NameError: name 'Autoencoder' is not defined`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/99d470e30d820d97de94c728c9bb2dc2/47469.ipynb).

In order to reproduce the issue reported here, could you please provide the TensorFlow version, the complete code and the dataset you are using. Alternatively,

[2021-03-02 05:00] hfahrudin opened #47493 "Cosine annealing learning rate scheduler with minimum learning rate boundary"
**System information**
- TensorFlow version (you are using): Tensorflow 2.x
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
In the nightly build, we have API called [tf.keras.optimizers.schedules.CosineDecay](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/schedules/CosineDecay)  which schedule decaying learning rate. Howeve

[2021-03-02 05:13] xcodz-dot opened #47494 "https://www.tensorflow.org/guide/estimators - HTTP Error 404: Page not Found"
Looks like this shows a 404 to me at the time of writing
https://www.tensorflow.org/guide/estimators

[2021-03-02 05:19] tomerk commented on #46605
If by intermediate layer access you mean via the functional model layer intermediate inputs/outputs accessing for an already-made model, that is correct. We may come up with a solution at some point in the future for slicing into nested functional models, but it's less clear we'll be able to do so for subclass models in the general case. (Subclass models can support things that the functional api

[2021-03-02 05:21] VincentYu68 opened #47495 "keras lstm layer produces different results in tf 1 and tf 2 due to different default activation"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- TensorFlow version:
1. TF 1.0: v1.15.4-39-g3db52be7be8 1.15.5
2. TF 2.0: v2.4.0-49-g85c8b2a817f 2.4.1

**Descr

[2021-03-02 05:31] Saduf2019 commented on #47475
@dcbarton
Please hare simple stand alone code as requested for us to replicate the issue and analyse or if possible share a colab gist with the error reported.

[2021-03-02 05:36] Saduf2019 commented on #47473
@ALIANS-PRODUCTIONS
Can you please use the table version of tf 2.4 and let us know if you face the same issue.

Meanwhile please have a look at existing issue and let us know:
#46093, #44959, #46851

[2021-03-02 05:45] Saduf2019 commented on #34432
@csukuangfj
In that case can you please move this to close status.

[2021-03-02 05:55] #34432 closed

[2021-03-02 06:03] Saduf2019 commented on #47495
@VincentYu68

1. There is no suppport for tf 1.x now, there is support only for 2.x.
2. I ran the code shared, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/2a200017506a101be4189ac992cef9bf/untitled556.ipynb)

[2021-03-02 06:05] Saduf2019 commented on #47492
@qurugou
We see that you are using an old version of tensorflow for which there is no support, please upgrade to tf 2.x and let us know in case you face any issues.

[2021-03-02 06:11] Saduf2019 commented on #47486
@ksangeet9ap
We see that you are using a old version of tenor flow and there is no support for tf 1.x, can you please upgrade to 2,x and verify you meet the [requirements](https://www.tensorflow.org/install/source).

[2021-03-02 06:25] smuzaffar commented on #47307
@jpienaar , I set the following env before calling bazel
[code]
and looks like these options are then passed to all tools. How can I pass --host_copt/--host-cxxopt for individual tools?

[2021-03-02 06:33] msameeruddin commented on #17254
before all the imports in your script file.

[2021-03-02 06:37] Saduf2019 commented on #47390
I am able to replicate the issue reported, please find [gist here](https://colab.research.google.com/gist/Saduf2019/41277ef17882a989fe5f29c3f5061fbd/untitled.ipynb)

[2021-03-02 07:13] sokrypton opened #47496 "zero gradient for higher-order derivatives when using tf.function and tf.scan"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow version (use command below): v2.4.1-0-g85c8b2a817f
- Python version: 3.0

**Describe the current behavior**
When using tf.function decorator on functions involving tf.scan, the second-order derivative goes to zero.

**Describe the expected behavior**
I would expect the gradient not to be zer

[2021-03-02 07:20] sokrypton commented on #47496
I just tried with latest version of tensorflow:
`!pip install tf_nightly`

Bug no more!

[2021-03-02 07:20] #47496 closed

[2021-03-02 07:20] suganth1997 commented on #26390
I solved it with the help of this repo https://github.com/fo40225/tensorflow-windows-wheel

Seems like processors that don't support AVX instructions (old processors) won't work with official build of tensorflow.

[2021-03-02 07:21] shivaditya-meduri commented on #47428
I'd like to work on this.

[2021-03-02 07:35] jiangjing1989 opened #47497 "rtx3090 tf2.4.1 error with single machine multi-card"
strategy is tf.distribute.MirroredStrategy, I train the model on two cards, it reports that
F tensorflow/stream_executor/cuda/cuda_driver.cc:1289] Check failed: context != nullptr success should entail non-null context.
how can I solve it?

[2021-03-02 07:50] Junaidkhan1809 opened #47498 "-1073741795"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2021-03-02 08:06] #47129 closed

[2021-03-02 08:22] Saduf2019 commented on #47498
@Junaidkhan1809
Please verify your system meets the requirements mentioned above mentioned for you to use tensorflow.

[2021-03-02 08:48] amahendrakar commented on #47474
Was able to reproduce the issue with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/fb1db566517e29553062515d8262aeff/47474.ipynb). Thanks!

[2021-03-02 09:02] amahendrakar commented on #47494
@xcodz-dot,
Could you please let us know the source from where you got the link, so that we can correct it. The working link is

https://www.tensorflow.org/guide/estimator

Thanks!

[2021-03-02 09:05] MehmetEminELMACI commented on #23728
from tensorflow.python.keras.optimizers import RMSprop
My optimizers doesnt work can u help me
How can ı fix this

[2021-03-02 09:06] #47177 closed

[2021-03-02 09:11] MehmetEminELMACI commented on #23728
The mistake is;
ImportError: cannot import name 'RMSprop' from 'tensorflow.python.keras.optimizers' (C:\Anaconda3\lib\site-packages\tensorflow\python\keras\optimizers.py)

[2021-03-02 09:16] rmothukuru commented on #47390
@coreqode,
Can you please share the complete code i.e., code for building your model and code for saving it? Thanks!

[2021-03-02 09:19] amahendrakar commented on #47497
@jiangjing1989,
In order to reproduce the issue reported here, could you please provide the complete code and the dataset you are using. Thanks!

[2021-03-02 09:22] amahendrakar commented on #47497
Also, please take a look at issue [#46851](https://github.com/tensorflow/tensorflow/issues/46851) with a similar error log and check if it helps. Thanks!

[2021-03-02 09:28] amahendrakar commented on #47485
@mushtaqsyed,
Please go through these comments from similar issues [#46916](https://github.com/tensorflow/tensorflow/issues/46916#issuecomment-774973928) and [#46936](https://github.com/tensorflow/tensorflow/issues/46936#issuecomment-776585339) and check if it helps. Thanks!

[2021-03-02 09:32] Junaidkhan1809 commented on #47498
My machine has windows 7 64bit i3

[2021-03-02 09:38] samanemami commented on #47430
`tensorflow.__version__
'2.4.1'`

[2021-03-02 09:51] smuzaffar commented on #47307
looks like `--host_*opt` is not properly used for building mlir-tblgen

[code]

this causes the build to fail due to ` Illegal instruction`
[code]

[2021-03-02 09:52] amahendrakar commented on #47488
@swapnilsayansaha,
Regarding the quantization part, I was able to reproduce the issue with [TF v2.4.1](https://colab.research.google.com/gist/amahendrakar/737651fd677b87319bef3b969d395235/47488.ipynb#scrollTo=iHumRloTSBwh).

However, with the latest [TF-nightly](https://colab.research.google.com/gist/amahendrakar/bcc12993a4b5dc07aa8186f61a32a6d9/47488-tf-nightly.ipynb#scrollTo=iHumRloTSBwh), I am

[2021-03-02 10:14] Junaidkhan1809 commented on #47498
What specification are required to run tensorflow @Saduf2019

[2021-03-02 10:16] amahendrakar commented on #47450
@CharlesSS07,
I did not face any errors while running both the code snippets with TF v2.4.1, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/b5e7b289755797b911f71af5a098be7a/47450.ipynb).

Could you please try running the code in a new virtual environment and check if it helps. Thanks!

[2021-03-02 10:20] Saduf2019 commented on #47498
@Junaidkhan1809
Please click on the links given by bot above and verify [ex python 64 bit, AVX support, os 64 bit etc].

[2021-03-02 10:21] RocaVincent commented on #47156
@reedwm I just tested what you mention with *tf.debugging.check_numerics* and indeed variance overflowed quite quickly. It's certainly the cause of the GAN divergence even if this divergence happens only after lots of train steps.

Do you think mean computation (not only in InstanceNormalization) can also product overflow ?

[2021-03-02 10:31] rmothukuru commented on #43650
@Dhyeythumar,
Can you please let us know if you have updated the code according to @nikitamaia's suggestions? Thanks!

[2021-03-02 10:33] Saduf2019 commented on #47451
@jeball
I have added the two lines as suggested but face the same [error](https://colab.research.google.com/gist/Saduf2019/f038f646736a2ddf5bba2d995f97e193/untitled554.ipynb), please share a colab gist with the error reported.

[2021-03-02 10:38] Junaidkhan1809 commented on #47498
My machine is not compatible !
one last query What type of machine is required in terms of specification @Saduf2019

[2021-03-02 10:42] Saduf2019 commented on #34305
@Emilien-P
Is this still an issue.

[2021-03-02 10:45] Saduf2019 commented on #33823
@chrism0dwk
Is this still an issue.

[2021-03-02 10:46] Saduf2019 commented on #33794
@brorro
Is this still an issue.

[2021-03-02 10:47] spacelg opened #47501 "Tensorflow failed to build due to error C2039 C3861 on windows with MSVC"
Hi All,

Tensorflow failed to build due to error C2039 C3861 on windows with MSVC. It can be reproduced on latest master branch commit. Could you please help take a look at this issue? Thanks in advance!

Environment
Tensorflow(latest master branch revision from github) + VS 2019 + Windows Server 2016

Note:
build.log in build.zip attachment.
[build.zip](https://github.com/tensorflow/tensorflow/fi

[2021-03-02 10:55] rmothukuru commented on #43591
@kuan0808,
Issue has been resolved in **`TF Nightly`** (`2.5.0-dev20210302`). Please find the [Gist of the working code](https://colab.research.google.com/gist/rmothukuru/9d24fde1d43daf19d376723196d97425/43591.ipynb#scrollTo=c9xLppX3TOis). Thanks!

[2021-03-02 11:09] ogreyesp commented on #47465
Hi @sayakpaul. Thank you for your suggestions, they were very helpful.

Indeed, MobileNet v3 has a rescaling layer, so we don't need to rescale the images before passing them to the model.

Thanks!

[2021-03-02 11:11] dolphina commented on #40143
@gupta35 Did you resolve the problem? I am facing the same problem with ssim loss

[2021-03-02 11:16] chrism0dwk commented on #33823
@Saduf2019 Yes, I believe it is now covered in the new Tensorflow Basics section of the TF [Guide](https://tensorflow.org/guide).  Very many thanks for the new resource!

[2021-03-02 11:16] #33823 closed

[2021-03-02 11:25] Junaidkhan1809 commented on #47498
Thank You !

[2021-03-02 11:25] #47498 closed

[2021-03-02 11:28] amahendrakar commented on #47479
@hoondy,
I was able to reproduce the issue with [TF v2.4.1](https://colab.research.google.com/gist/amahendrakar/57712f2e5ad9bca4a6cc7018e2b365f8/47479.ipynb) and TF-nightly.

Whereas with [TF v2.3.2](https://colab.research.google.com/gist/amahendrakar/47503d1d9f3f40b93c66861f922906cb/47479-2-3.ipynb), I am facing a different warning stating `WARNING:tensorflow:From /usr/local/lib/python3.7/dist-pa

[2021-03-02 11:31] ilrd commented on #18736
Chrome eats up a lot of memory, so maybe that's the reason. If you close Chrome, you have more memory left for Tensorflow.

[2021-03-02 11:34] pierremotard commented on #27303
Thanks @Path-A so stft is still not supported. I will use this gist from padomeru who manually wrote everything (it looks like including rfft and frame) but you are saying that now tf.rfft and tf.frame are supported right now? So it reduces the amount to write by hand which is less optimized.

[2021-03-02 11:36] ALIANS-PRODUCTIONS commented on #47473
Hi, i downgraded to cuda 11.0 : kept everything else the same : same crash on the 3090 as before.
Next i kept cuda 11.0 and downgraded from tf-nightly-gpu and tf-nightly TO tf 2.4.1 : and it runs fine!
I then UPGRADED cuda back to 11.1 : keeping tf 2.4.1 : also runs fine.

So there is an issue with the current tf-nightly builds for 3090s.

I am happy to use tf 2.4.1 but will the fix for issue : mu

[2021-03-02 11:38] amahendrakar commented on #47501
@spacelg,
Looks like this is a duplicate of issue [#46902](https://github.com/tensorflow/tensorflow/issues/46902), which has already been addressed by a member of the TensorFlow team.

Please take a look at [this comment](https://github.com/tensorflow/tensorflow/issues/46902#issuecomment-780667266) for more information. Thanks!

[2021-03-02 11:51] Dhyeythumar commented on #43650
Yes, I have updated the colab notebook with a standard loss function and, it works, so definitely, there is a problem with the custom loss function. I have also updated imports like `keras` to `tensorflow.python.keras`. Still, the error remains.

[2021-03-02 11:58] mattiadg commented on #43569
I have the same problem. I converted an encoder-decoder model for machine translation using two separate tflite models respectively for the encoder and the decoder.

The encoder uses BiLSTM and generates the error in the title. The same error doesn't occur if I use `unroll=True`, but this is unfeasible for me as I need input sequences of length 100. In this case, I don't get the error but then the

[2021-03-02 12:34] foxik commented on #41810
The issue is now fixed in `tf-nightly-2.5.0.dev20210302`, see https://colab.research.google.com/drive/18P6gZQUlP6qxBq70UCRfI42RSilRJ2Mx?usp=sharing

[2021-03-02 12:41] Saduf2019 commented on #33823
@chrism0dwk
Thanks for your update.

[2021-03-02 12:42] Saduf2019 commented on #47473
@ALIANS-PRODUCTIONS
Please create a new issue for this query, as this issue is related to build and install and cuda  11.1 is not a tested we suggest to use 11.0. As this is resolved, we request you to move this to closed status and create anew issue for the query.

[2021-03-02 12:44] mdanatg commented on #44485
That one looks like a bad test - the check for the error message is too specific and breaks when the error message changes. If anyone is interested in sending t a patch, the fix is straightforward - just update the regex at line 339.

[2021-03-02 13:11] ALIANS-PRODUCTIONS commented on #47473
its not resolved. tf-nightly build from Feb crashes on ALL versions of cuda for 3090.
Apologies if i am misunderstanding you here. Are you saying that for now, for 3090 users: they cannot use any of the recent tf-nightly builds ? and have to use tf 2.4.1?

[2021-03-02 13:26] lefumathannah commented on #43527
Exact same error here with ssd_mobilenet_v2_fpnlite_320x320 trained with tensorflow object detection api. Tensorflow= 2.4.1.
Might not solve everyone's problem but you can load it with tf:
`model = tf.saved_model.load(path)`

[2021-03-02 13:33] LucasStromberg opened #47502 "Error when using quantization aware training with custom activation function"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Custom code

-

[2021-03-02 13:38] jpienaar commented on #47307
That is different: you are building the tool with that option, then you are basically hitting a LLVM bug where avx512 isn't supported, but you are explicitly requesting to build the binary. The host flags come to play where you are building a target that uses mlir-tblgen as a tool (e.g., by way of gentbl rule). Also try passing in option via --cxopt="-march=skylake-avx512 flag to bazel vs environm

[2021-03-02 13:41] abattery commented on #47502
@ethkim could you triage this issue?

[2021-03-02 13:49] jeball commented on #47451
Hello support,

The lines were not there?

Please install TF 2.4, not a nightly build. TFA does not seem compatible to this version.
Please use the commands below.

pip install tensorflow==2.4
pip install tensorflow-addons[tensorflow]

The script is shown below.

""
    TFA Addons Connected Components not working properly

    Using:
    TensorFlow 2.4.0
    Python 3.8.5
    TFA 0.12.1
    Scipy 1

[2021-03-02 13:53] amahendrakar commented on #47487
@edend10,
Looking at similar issue [#33424](https://github.com/tensorflow/tensorflow/issues/33424#issuecomment-544933871), I was able to save and load the model's optimizer weights.

Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/307f21bd82efefb6a97daf321c946919/test_load_optimizer_weights.ipynb). Thanks!

[2021-03-02 13:54] rrklearn2020 opened #47503 "`tf.distribute.MirroredStrategy(),` but getting unbalance GPU usage"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes, with reference.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.4.0-49-g85c8b2a817f 2.4.1
- Python version: 3.6.9
- CUDA/cuDNN version: CUDA 11 and cuD

[2021-03-02 14:04] #47495 closed

[2021-03-02 14:05] Saduf2019 commented on #47447
@yisongsong
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced], also please share  data in text format its easier to search.

[2021-03-02 14:10] mattiadg opened #47504 "LSTMs with XNNPACK: ERROR: Attempting to use a delegate that only supports static-sized tensors with a graph that has dynamic-sized tensors."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 2.4.1

**Provide the text output from tflite_convert**

The conversion is actually correct, the problem occurs when trying to use the model with a delegate that requires static-sized tensors.

[2021-03-02 14:14] Saduf2019 commented on #47503
@rrklearn2020
The code provided is fairly complex hence it would be difficult for us to pinpoint the issue. Could you please get the example down to the simplest possible repro? That will allow us to determine the source of the issue easily, or if possible share a colab gist with the issue reported.
Thanks!

[2021-03-02 14:17] deven-amd opened #47505 "install_pip_packages.sh specifies incompatible version combo for pylint and astroid"
This PR https://github.com/tensorflow/tensorflow/pull/46046 introduces what seems to be an incompatible version combination for pylint and astroid.

see this line : https://github.com/tensorflow/tensorflow/pull/46046/files#diff-c8d38bb153d3e8107f198a493594dba5a8725176bbc6069304aec7fcec2fabc6R89

The nightly TF ROCm build (which uses the `install_pip_packages.sh` script when creating the docker con

[2021-03-02 14:43] around-star commented on #47186
@nailimixaM , @rmothukuru if I am not wrong, isn't the one you are looking for is [sigmoid_cross_entropy_with_logits](https://github.com/tensorflow/tensorflow/blob/v2.4.1/tensorflow/python/ops/nn_impl.py#L115-L191)

[2021-03-02 14:58] JanderHungrige commented on #20415
Hi, was there any solution for that issue?

[2021-03-02 15:06] #47111 closed

[2021-03-02 15:11] nailimixaM commented on #47186
Hi @around-star, I'm afraid that's not it, this loss function is for regression, not classification

[2021-03-02 15:33] hoondy commented on #47479
Additionally, I am seeing these new warning messages after training a slightly more complex model with larger data:

[code]

[2021-03-02 15:36] bhack commented on #47505
I will check this constrain today

[2021-03-02 15:48] rrklearn2020 commented on #47503
@Saduf2019

**Point 1:** The performance concern while using tf.distribute.MirroredStrategy(). Screenshot attached. Question: The 1st GPU is used most of the time and other 2 GPU's are seldom used for the same code, same training instance. **_How to improve the performance by having all GPU running with similar load?_**

![GPU_Use_MirroredStrategy](https://user-images.githubusercontent.com/7049112

[2021-03-02 15:49] mattlyon93 commented on #42399
The Conv3DLSTM feature would be very useful for my work also.

[2021-03-02 16:11] vineethdas commented on #36465
Using the numba libraries helped me aswell, normally tensorflow 2 automatically closes the sessions, unlike tensorflow1.
But while working with celery worker nodes, the sessions are not closed, as the PID holds onto celery somehow, manually including cuda.close() from numba might help. It did for me :)

[2021-03-02 17:05] CharlesSS07 commented on #47450
Hi @amahendrakar ,

Looks like I made a mistake while copying and pasting those two code snippets. I have edited my previous comment. The mistake was in the first code snippet which was supposed to error, and I had accidentally added a '()'. This mistake made the two code snippets equivalent, and so the error never occurred in your gist.

Thanks for catching that, I have no idea how it happened. C

[2021-03-02 17:11] yakovdan commented on #46499
Thank you for solving this. Can you explain why this large scale value is selected and how would I choose something more reasonable?
I've noticed that most scale values are in the range [0,1.1] so I chose 0.5 as a test and I still got all zeros.

[2021-03-02 17:16] i-chaochen commented on #41169
Do you mean upgrade the drive version not the cuda version? I think this Bcuda10.1_amd64.deb link is not working and make sure tensorflow 3.1 is installed is not correct.

[code]

I have the same problem, I think it's because the versions of cuda and cudnn have been messed up.

My tensorflow is 2.4.1
CUDA Version: 11.2
Driver Version: 460.39

I installed cudnn by ```sudo dpkg -i libcudnn8_8.1.0.77

[2021-03-02 17:53] swapnilsayansaha commented on #47488
trainX is any nX200X6 matrix as I stated above.. You can use numpy to generate it, for example:
[code]

[2021-03-02 17:57] MeghnaNatraj commented on #38285
@aa12356jm We only support int8 quantization but the model input/output can be int8 or uint8. Use the latest TF version
`pip install tensorflow` should install the latest stable version

[2021-03-02 18:06] DimChatz commented on #33375
I am sorry. I did this but all i got is :
ln: failed to create symbolic link './bin': File exists

Do you know of another workaround @DawyD ?

[2021-03-02 18:10] bhack commented on #47505
Check https://github.com/tensorflow/tensorflow/pull/47506

[2021-03-02 18:26] smuzaffar commented on #47307
ah my bad, `--distinct_host_configuration=false ` was the issue, sorry for the noise.

[2021-03-02 18:26] #47307 closed

[2021-03-02 18:33] Homayra22 commented on #47406
Thanks, my problem is solved. I just used the full forms of all the slurm commands and delete " -l" from the first line. Also, I run the model training code without " srun python 3" command.

[2021-03-02 18:39] s-agar opened #47509 "Scores are always inverse of each other in person_detection example with OV7670 Camera"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10, Version: 20H2, OS Build: 19042.804
- TensorFlow installed from (source or binary): Arduino IDE 1.8.13 Library Manager
- Tensorflow version (commit SHA if source): 2.4.0-ALPHA (Arduino IDE 1.8.13 Library Manager)
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Arduino Na

[2021-03-02 18:50] MeghnaNatraj commented on #46824
I've patched the change in and the latest `tf-nightly` package has the schema_py_generated file. Thank you for the fix @xunkai55

[2021-03-02 18:51] #46824 closed

[2021-03-02 18:53] wenjielu123 commented on #42082
It makes sense that for quantization-awared models, representative dataset shouldn't be necessary. To convert a QAT model to int8, by specifying `converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS_INT8]`, it will throw an error if a representative dataset is not provided.

Without specifying the supported_ops to int8, biases will be converted to int32. Any suggestions would be a

[2021-03-02 19:06] #47008 closed

[2021-03-02 19:22] ymodak commented on #47465
For completeness of the issue :
 `tf.keras.applications.MobileNet` (v1,v2,v3) models expect pixel [range [-1,1]](https://www.tensorflow.org/api_docs/python/tf/keras/applications/mobilenet_v3/preprocess_input#returns_1) where as TF Hub image models expect [0,1] range. Thanks!

[2021-03-02 19:25] park-junha commented on #44485
@mdanatg I can open a PR for it

[2021-03-02 20:06] #44448 closed

[2021-03-02 20:06] #47176 closed

[2021-03-02 20:16] bendykstra94 commented on #43478
@Liu-Da Just ran in to this issue where I trained a model with a tensorflow_addon metric. In the file where I load the saved model, import both tensorflow and tensorflow_addons, then the saved model loads without issue.

[2021-03-02 20:34] jvishnuvardhan commented on #47474
@mdickinson I cannot reproduce the issue with `TF2.4.1` and `tf-nightly`. [Here](https://colab.research.google.com/gist/jvishnuvardhan/6dd00b069523a678946a89468eb93049/47474.ipynb) is a gist with `tf-nightly` and [here](https://colab.research.google.com/gist/jvishnuvardhan/3d2fbe4df01dea9c1e36ed8cf55406a6/47474.ipynb) is a gist with `TF2.4.1`. Thanks!

Can you please verify my gist and let me know

[2021-03-02 20:45] mihaimaruseac commented on #47474
Can you send a PR please?

[2021-03-02 21:09] abattery commented on #47504
@multiverse-tf could you take a look at this?

[2021-03-02 21:12] abattery commented on #47504
CCing @renjie-liu as well for LSTM.

[2021-03-02 21:30] park-junha commented on #44485
https://github.com/tensorflow/tensorflow/pull/47512 @byronyi @mdanatg should fix the test failure

[2021-03-02 21:43] tomerk commented on #45888
Closing because this is non-actionable for us currently. Feel free to open a new issue (Under a more relevant title) if/when you have profile trace files to share that we can look at in detail.

[2021-03-02 21:43] #45888 closed

[2021-03-02 21:46] PratsBhatt opened #47513 "Missing documentation for bucket_by_sequence_length api"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
https://github.com/tensorflow/t

[2021-03-02 21:59] tomerk commented on #46515
Hmm I don't seem to be able to view these profiles. Not sure if it's an issue on my side or not. Let me try getting someone else since I'm not sure I'll have the bandwidth to dig in to this.

[2021-03-02 22:06] #46666 closed

[2021-03-02 22:49] reedwm commented on #47156
Thank you for the update! I am unsure why the variance overflows quickly but the gradient penalty takes longer to diverge. It is possible that the NaN or Inf from the overflow is removed in a future layer, making all values finite and allowing the model to partially train. I am also currently unfamiliar with WGAN-GP and gradient penalty in general, so it could be something specific to how gradient

[2021-03-02 22:53] bhack commented on #46618
Check also https://github.com/tensorflow/tensorflow/pull/45784
https://github.com/tensorflow/tensorflow/pull/43611

[2021-03-02 23:19] jvishnuvardhan commented on #47212
I am closing this issue as this is more related Anaconda repository than TensorFlow. Please feel free to reopen if I am mistaken. Thanks!

[2021-03-02 23:19] #47212 closed

[2021-03-02 23:26] jvishnuvardhan commented on #42943
@dominikj2 Can you please follow the suggestion mentioned above and let us know whether the issue resolved for you. If not, can you please add more details about your use-case and the feature you are looking. Thanks!

[2021-03-02 23:38] ymodak commented on #25955
Is this still an issue with latest version TF 2.4? Thanks!

[2021-03-02 23:49] ymodak commented on #26268
Closing this issue since it is resolved. Feel free to reopen if necessary. Thanks!

[2021-03-02 23:49] #26268 closed

[2021-03-02 23:56] byronyi commented on #44485
[code]

I ran Python 3.6-3.8 tests prior to Python 3.9 and all passed.

/cc @mdanatg

[2021-03-02 23:58] byronyi commented on #44485
It's a v1 test so may not be that important. Context: https://bugs.python.org/issue37804

[2021-03-03 00:01] ymodak commented on #25980
This is fixed TF 2.4.1. See [gist](https://colab.research.google.com/gist/ymodak/36c744a25affa7c74147d5cccbf94140/git44970.ipynb) for reference. Thanks!

For other related issues it's better to create a new issue thread and tag this issue for reference. Thanks!

[2021-03-03 00:01] #25980 closed

[2021-03-03 00:38] ymodak commented on #34355
For TF-GPU , CUDA, CUDNN compatibility refer [tested build config](https://www.tensorflow.org/install/source#gpu)chart.
Closing this issue since it's resolved. Feel free to reopen if necessary. Thanks!

[2021-03-03 00:38] #34355 closed

[2021-03-03 01:16] jvishnuvardhan commented on #42629
@MMKrell As mentioned by @wangpengmit tensor is too large. With the most recent `tf-nightly`, code is not crashing. It is throwing `ResourceExhaustedError` as shown below.

---------------------------------------------------------------------------
ResourceExhaustedError                    Traceback (most recent call last)
<ipython-input-2-17d1ab0502a4> in <module>()
      1 import tensorflow as t

[2021-03-03 01:16] #42629 closed

[2021-03-03 01:44] mdanatg commented on #44485
Makes sene. Looks like that test is brittle, too. It seems that the symbol is already special-cased by the test: https://github.com/tensorflow/tensorflow/blob/27cb1e3e60d03be9262351795f46690ada5797e3/tensorflow/tools/api/lib/python_object_to_proto_visitor.py#L48

Perhaps just adding isAlive in there will be sufficient.

[2021-03-03 02:08] kdonbekci commented on #31173
Any updates? Would love to see this feature back!

[2021-03-03 02:21] jiangjing1989 commented on #47497
**my environment is :**
Ubuntu 18.04.5 LTS
python3.8
rtx3090
conda install cudatoolkit=11.0
conda install cudnn=8.0.5
pip3 install tensorflow_gpu-2.4.1-cp38-cp38-manylinux2010_x86_64.whl
pip install tfa-nightly

code address is https://github.com/jiangjing1989/asr_test/tree/master/my, the start script if train_sublm.py.

I run the code with RTX2080 successfully.

[2021-03-03 02:26] reedwm commented on #46380
@lgeiger solution works, but as he said, it is brittle (doesn't work with subclassed models, there is no guarantee a layer's config has a `dtype` attribute, etc). It will work in many cases though.

Alternatively, the model can be rebuilt as a float32 model. This will work in any case as long as the model can be rebuilt and supports float32. In either case, the weights of the mixed precision model

[2021-03-03 02:28] MoFHeKa opened #47516 "Can not convert 'tf.reshape' with dynamic shape from chlo dialect to mhlo dialect in MLIR"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): libtensorflow_framework.so.2.5.0
- Python version: Python 3.7.0
- Bazel version (if compiling from so

[2021-03-03 02:31] jiangjing1989 commented on #47497
sorr, tensorflow version is tf_nightly_gpu-2.5.0.dev20210130-cp38-cp38-manylinux2010_x86_64.whl

[2021-03-03 02:36] abattery commented on #46380
@reedwm Thanks for reminding us of the feature request for mixed_float16 for TFLite.

CCing @talumbau

[2021-03-03 02:56] MichaelOdermatt opened #47517 "ImportError: DLL load failed: A dynamic link library (DLL) initialization routine failed."
**System information**
- windows 10
- TensorFlow installed using pip
- tensorflow-2.0.0
- Python 3.6.2

Hey, I've been trying to use [this](https://www.youtube.com/watch?v=wypVcNIH6D4) tutorial to get a simple chatbot running but am running into this issue when I try compiling main.py file:

`Traceback (most recent call last):
  File "C:\Users\Micha\anaconda3\envs\chatbot\lib\site-packages\tensorf

[2021-03-03 02:56] jiangjing1989 commented on #47497
sorry again, cudnn version is 11.2

[2021-03-03 03:19] MichaelOdermatt commented on #47517
Hooray! I fixed it by doing this: https://github.com/tensorflow/tensorflow/issues/23683#issuecomment-510718458

[2021-03-03 03:19] #47517 closed

[2021-03-03 03:53] sayakpaul commented on #38285
@MeghnaNatraj say `model` (it's a `tf.keras.Model` instance) is trained using QAT and now I would like to integer-quantize it, will the following be the right way to achieve that? I truly apologize if this is redundant:

[code]

No representative dataset is required since the model is already calibrated to adjust to the activation changes.

[2021-03-03 03:59] JCL823 commented on #47469
@amahendrakar Thank you very much for the response. Please check [the Colab](https://colab.research.google.com/drive/1J3MN-nTLrs-LcS5DGwq-cWU_UWL6mUCI?usp=sharing) for the reproduction. Even though it is not exactly the same as my original output but I still have warnings saying missing losses:

[2021-03-03 04:06] #47188 closed

[2021-03-03 04:11] terryheo commented on #47383
@JohannSchumann did you use USB 3.0 port to connect the accelerator?

[2021-03-03 04:20] terryheo commented on #47357
Hi, can you use debug build to get more verbose stack track?

https://www.tensorflow.org/lite/guide/build_android#build_and_install
[code]

[2021-03-03 04:24] terryheo commented on #47271
One question, do you prefer to use it as shared library or static library?

[2021-03-03 04:28] terryheo commented on #47229
Are you trying to install it to RPI zero with Python 3.8?

You need to check
1. Python interpreter version (python3 --version)
2. Target CPU & ABI https://www.tensorflow.org/lite/guide/build_cmake_arm#check_your_target_environment

[2021-03-03 05:00] Saduf2019 commented on #47406
@Homayra22
Please move this issue to closed status as its resolved.

[2021-03-03 05:06] mushtaqsyed commented on #47485
Hi Abhilash:
These links,  #46916
<https://github.com/tensorflow/tensorflow/issues/46916#issuecomment-774973928>
 and #46936
<https://github.com/tensorflow/tensorflow/issues/46936#issuecomment-776585339>,
did not help. The impression that I get from these is that TFLite is not
supported under Windows 10. Is this correct?
I am following the book TiniML, and that does not say so. Could you please
el

[2021-03-03 05:13] thesigmaguy commented on #42958
What is an RTX 3080Ti, there is only a 3080 and 3090 right?

[2021-03-03 05:59] terryheo commented on #47166
Hi, I tried this and it works well on my side.

I used CMake 3.20.0-rc2 and MSVC 19.27.29111.0.
Also I installed some necessary packages for TF build. https://www.tensorflow.org/install/source_windows

[code]

And I verified it's a 32bit binary.
[code]

[2021-03-03 06:12] KvitnucaZahradka commented on #45930
The way I solved this problem was the following:

- My setup: Ubuntu 18.04, Tensor Flow 2.4.
- I got missing libraries: `libcudart.so.11.0`,`libcusparse.so.11`.
- I did not want to install `conda` but rather just use `pip`.

My solution:
- Just run Ubuntu 18.04 docker, where you install `cudatoolkit` (version that has cuda 11)
- inside that docker find locations of `libcudart.so.11.0`,`libcusparse

[2021-03-03 06:40] amahendrakar commented on #47488
@swapnilsayansaha,
Thank you for the update.

@rmothukuru,
I was able to reproduce the issue with [TF v2.4](https://colab.research.google.com/gist/amahendrakar/737651fd677b87319bef3b969d395235/47488.ipynb#scrollTo=iHumRloTSBwh).

Whereas with the latest [TF-nightly](https://colab.research.google.com/gist/amahendrakar/2ad3f6ccf670658c6719035e1e14ca55/47488-tf-nightly.ipynb#scrollTo=iHumRloTSBwh), t

[2021-03-03 07:57] MeghnaNatraj commented on #38285
@sayakpaul yes this is perfectly right.

[2021-03-03 08:05] ogreyesp commented on #47465
Hi @ymodak

I'm not sure... according to the implementation of MobileNetV3 at this [link](https://github.com/tensorflow/tensorflow/blob/v2.4.1/tensorflow/python/keras/applications/mobilenet_v3.py#L561-L563), more specifically line 265, the input is rescaled to [0,1] scale.

[code]

[2021-03-03 08:55] brychcy opened #47520 "TensorBoard callback: step is always 0 for batch_steps_per_second"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 11.2.1
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v1.12.1-51

[2021-03-03 09:07] amahendrakar commented on #47466
@rrklearn2020,
Could you please share the Python script / notebook you are running, so that we can reproduce the issue on our end. Thanks!

[2021-03-03 09:13] xunkai55 commented on #47357
I think I've seen this before, and I remember indeed there's one weird style transfer model.

Khanh, do you have any clue for this? I remember we've talked about it before.

[2021-03-03 09:15] brychcy commented on #47520
PR is #47521

[2021-03-03 09:40] abattery commented on #47488
There is a bug in the `representative_dataset` method.

Try the below one:

[code]

[2021-03-03 09:40] #47488 closed

[2021-03-03 09:44] amahendrakar commented on #47516
@MoFHeKa,
In order to reproduce the issue reported here, could you please provide the complete code and the dataset you are using. Thanks!

[2021-03-03 09:52] KarlKulator commented on #47271
Using BUILD_SHARED_LIBS as an option so the user can decide would of course be ideal.

Otherwise I would default to a static lib like in the make build.

[2021-03-03 10:00] amahendrakar commented on #47450
@CharlesSS07,
Thank you for the update.

Please take a look at similar issue [#47054](https://github.com/tensorflow/tensorflow/issues/47054) and the fix for it [#47128](https://github.com/tensorflow/tensorflow/pull/47128) and check if it helps.

[2021-03-03 10:00] swapnilsayansaha commented on #47488
It's not working on my end, same error persists.

[2021-03-03 10:04] amahendrakar commented on #47497
@jiangjing1989,
Currently TensorFlow is not compatible with **CUDA 11.2**.

TF v2.4 and TF-nightly are built and tested against **CUDA 11.0**. Could you please check if you are facing the same error with **CUDA 11.0** and **cuDNN 8**. Thanks!

[2021-03-03 10:04] hoaquocphan commented on #3986
Hi Mr @phamdanglam1986, @InCogNiTo124, @sivasweta, @Nannigalaxy @wysohn

I used command **saved_model_cli show --all --dir efficientnet_b0_classification_1/** with the model from tensorflow hub, and the output as below:

[code]

so how can I get the output_node_names? Please help me

[2021-03-03 10:06] abattery commented on #47488
Please use the tf-nightly version.

[2021-03-03 10:10] swapnilsayansaha commented on #47488
Ya it works with tf-nightly. Thanks.

[2021-03-03 10:19] dnaveenr commented on #29968
The following works for me with TensorFlow 2.3.1 :
The aim was to limit the CPU usage to a maximum of 1 CPU.
`
import os
import tensorflow as tf

num_threads = 1
# Maximum number of threads to use for OpenMP parallel regions.
os.environ["OMP_NUM_THREADS"] = "1"
# Without setting below 2 environment variables, it didn't work for me. Thanks to @cjw85
os.environ["TF_NUM_INTRAOP_THREADS"] = "1"
os.env

[2021-03-03 10:28] Vocco commented on #46194
Can confirm, running into the same problem in TF 2.4.1

[2021-03-03 10:29] Cnotey opened #47522 "Model Accuracy Goes Static When Arbitrary Lines Are Added"
**System information**
- I have written custom code, repo link below.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Windows 10 Home, build 19041.804**
- TensorFlow installed from (source or binary): source, **Anaconda3**
- TensorFlow version (use command below): **2.1.0**
- Python version: **3.7.7**
- CUDA/cuDNN version: 10.1
- GPU model and memory: EVGA Geforce GTX 1080 SC, 8GB

**

[2021-03-03 10:32] codePerfectPlus opened #47523 "getting error while adding metadata to object detection tflite model"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10
- TensorFlow installation (pip package or built from source): pip package
- TensorFlow library (version, if pip package or GitHub SHA, if built from source): tf-nightly

### 2. Code

Reference Link- https://www.tensorflow.org/lite/convert/metadata

I am trying to add metadata into my tflite model as me

[2021-03-03 10:36] abattery commented on #47523
@lu-wang-g could you take a look at this issue?

[2021-03-03 10:47] fhausmann commented on #29968
With the gist above (tf-nightly) I got:
[code]
And limiting by using the enviroment variables:
[code]
I got:
[code]

So not really an improvement. I didn't checked the number of running threads, but this was always fine for me.
But I cannot see any big improvement in the total number of threads.

I think several things get confused in this issue and I want to clarify this a bit:
- Tensorflow somet

[2021-03-03 10:48] maunzzz opened #47524 "Increase GPU memory usage in tensorflow 2.4.1 versus tensorflow 2.3.2"
**System information**
- OS Platform and Distribution: Ubuntu 18.04.5
- TensorFlow installed from: tensorflow dockers _tensorflow:2.3.2-gpu_ and _tensorflow:2.4.1-gpu_
- TensorFlow version (use command below): 2.3.2 and 2.4.1
- Python version: 3.6.9
- CUDA/cuDNN version: for **2.3.2**: CUDA 10.1.243 CUDNN 7.6.4.38-1 for **2.4.1**: CUDA 11.0.3 CUDNN 8.0.4.30-1
- GPU model and memory: GeForce RTX 20

[2021-03-03 10:52] AIGR-sw commented on #46871
@shanmukh05
Try to rename the weights as follows:

[code]

I know you shouldn't mess with underscore variables but it seems to work.

[2021-03-03 10:58] shanmukh05 commented on #46871
Thanks, that is working

[2021-03-03 11:01] pablo-pnunez commented on #44986
My solution:
`with tf.device("cpu:0"): prediction = model.predict()`
Using the CPU for the inference solves the problem in my case.

[2021-03-03 11:46] Tessil opened #47525 "[TFLite] Segmentation fault on inference due to int overflow in im2col"
Hello,

The convolution kernel uses im2col to optimize some convolutions and [uses](https://github.com/tensorflow/tensorflow/blob/7677422a56f18c10e3827e29dc8da8a7b23fbede/tensorflow/lite/kernels/conv.cc#L453) an intermediate buffer of size `batches*output_height*output_width*(input_depth*filter_height*filter_width)` for that.

If the size of this buffer overflows an `int`, there is a risk of integ

[2021-03-03 11:49] fjpolo commented on #45686
Fixed commenting the following lines under flatbuffers.h:

2741 to 2748

//extern volatile __attribute__((weak)) const char *flatbuffer_version_string;
//volatile __attribute__((weak)) const char *flatbuffer_version_string =
//  "FlatBuffers "
//  FLATBUFFERS_STRING(FLATBUFFERS_VERSION_MAJOR) "."
//  FLATBUFFERS_STRING(FLATBUFFERS_VERSION_MINOR) "."
//  FLATBUFFERS_STRING(FLATBUFFERS_VERSION_REVIS

[2021-03-03 11:49] #45686 closed

[2021-03-03 11:58] abattery commented on #47525
@multiverse-tf could you take a look at this issue? Here is an external report on the out-of-memory issue regarding the im2col optimization technique.

[2021-03-03 12:14] liyinhgqw commented on #31162
I have got the same error when using CentralStorageStrategy (2.4.1). It can be reproduced by changing the strategy in https://github.com/tensorflow/docs/blob/master/site/en/tutorials/distribute/parameter_server_training.ipynb.

@yuefengz has it been fixed?

[2021-03-03 12:33] worldpeaceaspirer opened #47526 "Need for Normalization of Pixel Data can be mentioned in Basic Image Classification Tutorial"
## URL(s) with the issue:

Please provide a link to the documentation entry, for example:
https://www.tensorflow.org/tutorials/keras/classification#preprocess_the_data

## Description of issue (what needs changing):
The Tutorial states

It would be clear to the beginners if the reason for **`Normalization`** has been specified because there has been questions out of confusion. Example [Question 1]

[2021-03-03 12:33] PratsBhatt commented on #47513
Can I work on it and provide a PR @ymodak ?

[2021-03-03 13:00] xcodz-dot commented on #47494
It's all over this page:
https://github.com/tensorflow/estimator

[2021-03-03 13:00] MoFHeKa commented on #47516
***Build command***
In $LLVM_SRC_DIR:
`git reset --hard 2bfe27da171e8a6dddac6c444c4bca003103941a`
Then:
`bazel build --distdir=$build_dir --override_repository=llvm-project=$LLVM_SRC_DIR   -c opt tensorflow/compiler/mlir:tf-opt
***Run command***
`./tf-opt --tf-to-hlo-pipeline ~/tem_new_graph_def.tf_dialect.mlir -o ~/tem_new_graph_def.tf_mhlo.mlir`

tem_new_graph_def.tf_dialect.mlir was shared in:

[2021-03-03 13:17] jimblackler commented on #36833
This issue is still present, and saving in 'hd5' format is not an option if you wish to use TensorFlow Lite.

[2021-03-03 13:44] samyon7 opened #47528 "Error while Compile to the model into TFLite model"
I use it in google Colab

[Here is notebook link 1](https://colab.research.google.com/drive/1voMaXutl7pOcybTZKwtjSjU_5aqncBdp?usp=sharing)
[Here is notebook link 2](https://nbviewer.jupyter.org/github/samyon7/Convert_TFLite_Problem/blob/master/Untitled243.ipynb)

Was that because I used the branching model?

[2021-03-03 13:44] Saduf2019 commented on #46871
@shanmukh05

Please move this issue to closed status if resolved

[2021-03-03 13:48] abattery commented on #47528
There is an uncovered op by TFLite builtin op set, tf.Selu. In such case, we recommend using the Select TF op. Please refer to https://www.tensorflow.org/lite/guide/ops_select.

You can convert your model with the following snippet:

[code]

[2021-03-03 13:57] samyon7 commented on #47528
So can't we use selu?
Even though this activation is actually pretty good compared to others, except relu.
But thanks for the solution, cheers!

[2021-03-03 13:58] #46871 closed

[2021-03-03 13:59] abattery commented on #47528
If you really want to support selu op in TFLite builtin op set, please file a new issue for the feature request. Thanks

[2021-03-03 14:26] abattery commented on #47528
Closing for now. Please re-open this if there is any other concern or file a new issue for the other request.

[2021-03-03 14:26] #47528 closed

[2021-03-03 14:27] relativeflux commented on #35138
What is the actual solution for this? I see the TF2 Keras example in the docs still uses `experimental_run_tf_function=False`, but is the recommended solution for TF>=2.2 to override model train_step (which I am doing anyway) and use `DistributedGradientTape` with a plain optimizer?

[2021-03-03 14:32] fragolka commented on #45402
Any updates on this? Thanks

[2021-03-03 14:35] DanielMH commented on #25980
It seems I encountered a similar problem when I tried the [Google Machine Learning Guide on Text Classification](https://developers.google.com/machine-learning/guides/text-classification/)

Adding todense() solved it for me:

x_train = vectorizer.fit_transform(train_texts).todense()
x_val = vectorizer.transform(val_texts).todense()

[2021-03-03 14:36] C-Compton opened #47529 "Estimator#export_saved_model section links to irrelevant guide or guide missing relevant section"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

https://www.tensorflow.org/api

[2021-03-03 14:39] Chaosdrachin opened #47530 "Failed to get convolution algorithm [CUDA 11.0 - cuDNN 8.0.4 - Python 3.8]"
**System information**
- Windows 10
- PC
- TensorFlow installed from (source or binary): via pip
- TensorFlow version: 2.4.0
- Python version: 3.8
- Installed using virtualenv? pip? conda?: pip
- CUDA/cuDNN version: Cuda 11.0 | cuDNN 8.0.4
- GPU model and memory:
RTX 2060
6GB

**Describe the problem**
I Coded a CNN in Tensorflow on CPU it works without any problems, then i wanted more performance

[2021-03-03 14:43] DanielMH commented on #42916
It seems I encountered a similar problem when I tried the [Google Machine Learning Guide on Text Classification](https://developers.google.com/machine-learning/guides/text-classification/).

Adding todense() solved it for me:

[code]

[2021-03-03 15:03] jdlee0 commented on #39439
So the underlying surprising feature in that protobuf doesn't make separate allocations for each empty std::string in its structures. Instead it tries to have a fixed empty string `fixed_address_empty_string`, which you get a pointer to with `GetEmptyStringAlreadyInited`. Then on every `set_<field>` there are checks against this magic default pointer, and a new string is allocated if the pointer m

[2021-03-03 15:13] Xhark commented on #46754
The main problem is current QAT toolkit doesn't support concat op yet.
(concat op inputs should have the same scale, so this scale guessing algorithm may have some problem.)

if you are okay to use add op instead of concat op, then it seems works fine.

[2021-03-03 15:15] ialdencoots opened #47531 "Unable to access resources using tf.data.experimental.service"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2021-03-03 15:23] amahendrakar commented on #36833
@jimblackler,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2021-03-03 15:27] Marouaneghoulami commented on #42153
It worked for SSD Mobilenet v2.

[2021-03-03 15:28] garrettbingham commented on #46475
I temporarily fixed the issue by replacing `ReLU()` with `lambda x : tf.math.maximum(x, 0.0)`.

[2021-03-03 15:31] Saduf2019 commented on #47522
@Cnotey
The code provided is fairly complex hence it would be difficult for us to pinpoint the issue. Could you please get the example down to the simplest possible repro? That will allow us to determine the source of the issue easily.
Or share a colab gist with the error reported.Thanks!

[2021-03-03 15:33] hoondy opened #47532 "working with sparse input"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) colab
- TensorFlow installed from (source or binary): colab
- TensorFlow version (use command below): 2.4.1
- Python version: 3
- Bazel version (if compi

[2021-03-03 15:35] Saduf2019 commented on #47282
@ZYG151541155

Please refer to this [issue](https://stackoverflow.com/questions/55870127/module-tensorflow-has-no-attribute-contrib) and let us know if it helps.

[2021-03-03 15:43] blacktoby commented on #46475
I have the same issue with cuda 11 and tensorflow >= 2.4.0.
Replace relu with elu and memory leak was gone.
What it also fixed for me: Swapping my Google cloud VM from a Nvidia Tesla V100 to a Nvidia P100 WITHOUT replacing the ReLU. So ReLU + Nvidia P100 works fine, ReLU + Nvidia Tesla V100 results in memory leak.

[2021-03-03 16:05] amahendrakar commented on #47494
@xcodz-dot,
Thank you for reporting the issue. I've submitted a fix for the broken link in PR [#63](https://github.com/tensorflow/estimator/pull/63).

This issue will be closed once the PR is merged.

[2021-03-03 16:08] #47505 closed

[2021-03-03 16:35] OmriSteiner opened #47533 "tf.device breaks when using tf.data.Dataset.from_generator"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.5
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.4.1
-

[2021-03-03 16:56] Cnotey commented on #47522
Hi Saduf. I already spent about 30 hours cutting out 1 000 lines of intellectual property to even be able to share the repo. This is the simplest form that will function.

I have not used Google Colab before but could try it. I would have ignored the issue, but it's just so weird and has persisted for nearly a year and is preventing further progress on the project.

[2021-03-03 17:10] SysuJayce commented on #44448
Going through the same issue.
According to the tensorflow profile, I found that Standardize and Split Op both execute on CPU not GPU.

I just wonder how can we put the above ops to GPU? Maybe that's the cause of memory leak?

[2021-03-03 17:26] ramonemiliani93 opened #47534 "Dataset not ending when created inside predict_step function."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS Catalina 10.15.6
- TensorFlow installed from (s

[2021-03-03 17:43] Saduf2019 commented on #33345
@koenhelwegen,
Since the associated PR has been merged,please confirm if the issue can be closed. Thanks!

[2021-03-03 17:45] Saduf2019 commented on #32938
@invencode
Is this still an issue.

[2021-03-03 17:57] Saduf2019 commented on #31739
@kingofthebongo2008
Please update as per above comment.

[2021-03-03 17:59] Saduf2019 commented on #31543
@Uiuran
Is this still an issue.

[2021-03-03 18:34] tgaddair commented on #35138
Hey @relativeflux, the TF2 Keras example uses `experimental_run_tf_funcion` for backwards compatibility with older versions of TF2. However, with versions >= 2.2, you should be able to use `model.fit()` without it. The `DistributedGradientTape` approach is also fine if you aren't using `model.fit()`.

[2021-03-03 18:49] zacwellmer opened #47535 "Error grabbing variables after a forward pass using autograph, dropout and GRUCell"
**System information**
- TensorFlow version: 2.4.0

**Describe the current behavior**
[code]

**Describe the expected behavior**
the variable method can safely be called after performing a forward pass with autograph and dropout.

**Standalone code to reproduce the issue**
Provide a reproducible test case that is the bare minimum necessary to generate
the problem. If possible, please share a link

[2021-03-03 19:09] relativeflux commented on #35138
@tgaddair Excellent, that's good to know.

[2021-03-03 19:13] deven-amd commented on #47505
TF ROCm nightly build passed with this PR merged. Thanks @bhack for the quick response.

http://ml-ci.amd.com:21096/job/tensorflow-rocm-nightly/632/

[2021-03-03 19:32] lu-wang-g commented on #47523
Seems like model_file was not passed in successfully, i.e. it became an empty string. Please try using the full path for model_file.

You can also try the new MetadataWriter Library. Here is an example to write metadata for an ImageClassifier model:

1. Install the TFLite Support nightly Pypi package:
[code]
2. Write metadata to the model using the following script:
[code]
3. Verify the populated

[2021-03-03 19:40] wysohn commented on #3986
@hoaquocphan
[code]

Probably it's StatefulPartitionedCall, but I am not entirely sure

[2021-03-03 20:20] rschumi0 commented on #45706
Yes, it seems it's not an issue any more with the latest version. I initially had an older version.

[2021-03-03 20:20] #45706 closed

[2021-03-03 20:38] lgariv commented on #47441
This seems to solve the issue when using Python directly instead of Jupyter Notebook - so I guess that's a different bug. Also experiencing some performence issues, so I'll probably end up compiling TensorFlow myself. Anyway, both issues are not so related to this one, so I'll consider it solved.
Thanks a lot!

[2021-03-03 20:38] #47441 closed

[2021-03-03 20:56] samhodge commented on #39439
I am grateful for your insight to this issue

it seems that the creation of multiple definitions and thereby multiple symbols in the shared library are the cause of the incorrect behaviour. When it is possible to create a static library such as on Linux and OSX we are left with a single definition during the linking of the static archive.

So the unsafe work around seems to be less work than fixin

[2021-03-03 21:09] AritroSaha10 opened #47536 "Native C++ Tensorflow Lite project build failing on Raspberry Pi"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Raspbian Buster
- Mobile devic

[2021-03-03 21:11] abattery commented on #47536
@terryheo could you take a look at this Cmake failure for RPi boards?

[2021-03-03 21:19] qlzh727 commented on #47535
Adding Kathy since _dropout_mask_cache is more for savedmodel.

[2021-03-03 21:27] isaacgerg opened #47537 "tf.keras.backend.in_train_phase / tf.keras.backend.in_test_phase not documented"
Tensorflow 2.4.1

tf.keras.backend.in_train_phase / tf.keras.backend.in_test_phase not documented.

Reference tf 2.4.1 docs here on the tf.keras.backend lib.  You will see neither function appears.

https://www.tensorflow.org/api_docs/python/tf/keras/backend

[2021-03-03 22:34] advaitjain commented on #47509
I don't believe that you are doing anything wrong, that is the expected behavior. Tagging @njeffrie for confirmation.

[2021-03-03 22:35] PratsBhatt commented on #47513
I have completed working on the PR and it is ready for the review @ymodak . The pull request is named "Update grouping.py".

[2021-03-04 00:00] njeffrie commented on #47509
This is expected. It's a function of using a softmax activation on the classifier outputs, along with a symmetric quantized output tensor. Post-softmax, the scores always sum to 1.0, meaning post quantization they always sum to 0.

[2021-03-04 00:10] ymodak commented on #47537
Docs are not generated intentionally for some of the `tf.keras.backend` functions.
See commit [a37bf6c](https://github.com/tensorflow/tensorflow/commit/91e5ad0fad9bbf8462a797ddd7183df1c15f6832#diff-3bac640d4fd7baf52009c2ed77c693723025a266052799f44c16cf53c3bdfc53)
[tf.keras.backend.in_train_phase](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/backend.py#L4693-L4694)
[

[2021-03-04 00:24] hoaquocphan commented on #3986
hi @wysohn

it is ok with this model, but when I tried with other models from tensorflow hub  as below:
[code]

the output as below:

[code]

so how can I get the  **output_node_names**? Please help me

[2021-03-04 00:28] ymodak commented on #47530
You may try gpu memory resources management by allowing gpu memory growth.
To know more see https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth
Make sure your exit all python processes and create a new python session and try by limiting gpu memory growth on the top of your script.
[code]

[2021-03-04 00:35] ymodak commented on #47513
Thanks for the PR.

[2021-03-04 00:35] hav4ik commented on #36453
What is the status of this one so far? Would love to jump in.

[2021-03-04 00:44] innat opened #47544 "Obtain the output of intermediate layer (Functional API) and use it in SubClassed API"
# Documents

In the [keras doc](https://keras.io/getting_started/faq/), it says that if we want to pick the **output of the model** (sequential and functional), all we need to do as follows:

[code]

So, here we get two models, the `intermediate_layer_model` is the sub-model of its parent model. And they're independent as well. Likewise, if we get the **output feature maps** of the parent model (o

[2021-03-04 01:10] #47509 closed

[2021-03-04 01:25] jvishnuvardhan commented on #46530
@quetil There are some differences while saving and loading of Sequential/Functional models when compared to Subclass models. The approach you followed is correct for Sequential/Functional models but need slight modification as shown in the following [gist](https://colab.research.google.com/gist/jvishnuvardhan/9e531f99119f1f13d6a0f7916aa23c95/46530-tf-nightly.ipynb).

In simple you need to impleme

[2021-03-04 01:33] kdonbekci opened #47545 "tf.data.zip and tf.data.cache throws cachefile AlreadyExistsError and/or deletes valid cachefiles"
**System information**
Running on Ubuntu 20.04 using the docker container 2.4.1-gpu-jupyter.
Also occurs on Google Colab environment running TF 2.4.1

**Describe the current behavior**
`tf.data.Dataset.cache` and `tf.data.Dataset.zip` do not operate well together in certain situations, where there is a hierarchy between datasets but nevertheless they are both desired and cached. Imagine the scenar

[2021-03-04 01:35] Chaosdrachin commented on #47530
it works thanks :3

[2021-03-04 01:35] #47530 closed

[2021-03-04 01:42] kdonbekci commented on #32180
Looking forward to updates on this issue! For extreme use cases, every byte counts and would be great if we had the option to remove some of the unnecessary metadata and tensor names from the exported C array.

[2021-03-04 01:46] antkillerfarm opened #47546 "About reshape op on TF Lite nnapi delegate"
Android NN API only supported tensor rank: up to 4. So maybe need to add rank restriction on TF Lite nnapi delegate. If not, some models which have reshape op(rank > 4) will be failed on Android platform.

For example:
tensorflow/lite/delegates/nnapi/nnapi_delegate.cc:

[code]

[2021-03-04 01:46] abattery commented on #32180
@kdonbekci @maxpv

Please see https://github.com/tensorflow/tensorflow/issues/32180#issuecomment-772140542 for the solution.

[2021-03-04 01:46] #32180 closed

[2021-03-04 01:50] sayakpaul commented on #36453
I have been able to serialize `SavedModel`s to GCS Bucket folders directly from AI Platform Notebooks in the following manner:

[code]

where `export_module_dir` is either a GCS Bucket or a `SavedModel` name inside a GCs Bucket. Of course, you would need to have write access to the bucket to be able to do this. I don't think that is problematic to configure.

One can load back the model similarly

[2021-03-04 01:53] abattery commented on #47546
@miaowang14 could you review this suggestion regarding shape op validation in NNAPI?

[2021-03-04 01:54] ericxsun opened #47547 "TRT：converted tensorRT model pb too large"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-03-04 02:23] wysohn commented on #3986
@hoaquocphan

For that, I am not really sure how to figure that out. It might not be named tensor or something, but it's out of my knowledge. There is a quote in the documentation, however, and it might provide some clue

[2021-03-04 03:47] marcusturewicz commented on #47233
A PyTorch implementation for reference https://github.com/rwightman/pytorch-image-models/blob/master/timm/models/nfnet.py

[2021-03-04 03:47] xiedeacc commented on #47456
copy .tf_configure.bazelrc and .bazelrc from  tensorflow root directory to my own project resolved this problem

[2021-03-04 03:47] #47456 closed

[2021-03-04 03:49] jlapin1 opened #47548 "Different behavior between eager execution and tf.function"
Hello Tensorflow community

I have a loss function with a few logarithms in it:

[code]

This is a form of the beta distribution. My network outputs parameters _a_ and _b_: the range for both outputs is >=(1+1e-8). _targ_ is a spectrum whose values are normalized from 0-1. There are three terms in this equation. Where necessary you can see that I added 1e-8 to avoid log(0). I believe I have put in

[2021-03-04 04:30] codePerfectPlus commented on #47523
I Think It will not work in my case.  I am creating tflite model for the object detection problem and I am getting the error while writing the metadata with the above script.

[code]

Colab:- https://colab.research.google.com/drive/1MkPxvYWVWdygFYxDk8U-jXDBhEjsSnMa#scrollTo=wrKT_tf2dYKX

[2021-03-04 04:35] #47406 closed

[2021-03-04 04:43] anilnishad19799 opened #47549 "How can i secure my .tflite model on edge device?"
I have built the TensorFlow model and converted it into a .tflite model, I want to deploy my .tflite model into an edge device(android or IoT).
Final goal: I want to protect my model from being a copy or reverse engineered and also the user is only able to use this model in my android app or IoT device.
how can I do that?

[2021-03-04 04:55] Saduf2019 commented on #47532
I am able to reproduce this on tf 2.3,tf 2.4 and nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/29a944c75db2fbc56f02f682b300736c/untitled557.ipynb).

[2021-03-04 05:07] Saduf2019 commented on #47533
@ymodak
I am able to replicate this issue on tf 2.3, tf 2.4 and nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/dcad70fe2cccd8fc8c4aa82f2ed6f09a/untitled557.ipynb).

[2021-03-04 05:12] Saduf2019 commented on #47548
@jlapin1
The code shared above is not sufficient to reproduce the issue reported, please share code such that we can reproduce your issue or is possible share a colab gist with the error reported.

[2021-03-04 05:18] jlapin1 commented on #47548
Hopefully this is enough code to help you reproduce it. If it helps, targ, a, b all have dimensions batch_size, 9100

[code]

[2021-03-04 06:02] jiangjing1989 commented on #47497
Thanks. With CUDA 11.0 and cuDNN8.0.2, it run successfully.

[2021-03-04 06:06] #46970 closed

[2021-03-04 06:09] abattery commented on #47549
There are some options for encrypting your model, for example, applying [AES method](https://stackoverflow.com/questions/6788018/android-encryption-decryption-with-aes).

Encryption requires a key and a key should be stored in somewhere safely. For example, you can look at the [security key attestation](https://developer.android.com/training/articles/security-key-attestation)

[2021-03-04 06:19] innat commented on #47233
Another PyTorch implementation for ref. https://github.com/vballoli/nfnets-pytorch

[2021-03-04 06:35] Saduf2019 commented on #47545
@kdonbekci
I ran the code shared but do not see the error reported on tf 2.4, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/0392fdc2e633c9207b98abf329f64cf1/untitled557.ipynb).

[2021-03-04 06:41] ferryvg opened #47550 "Validation fails while model fit"
**System information**
- OS Platform and Distribution: Linux Mint 19.3
- TensorFlow installed from: pypi
- TensorFlow version: v2.4.0-49-g85c8b2a817f 2.4.1
- Python version: 3.8

[tf_env.txt](https://github.com/tensorflow/tensorflow/files/6081336/tf_env.txt)

**Describe the current behavior**
Train finished complete, but validation fails

**Describe the expected behavior**
Train and validation suc

[2021-03-04 07:16] defr8001 opened #47551 "Wrong output values in TFLite_Detection_PostProcess operation when max_classes_per_detection > 1"
**System information**

OS Platform and Distribution: Ubuntu 18.04
TensorFlow installed from: pypi
TensorFlow version: 1.15.2
Python version: 3.6.9

**Describe the current behavior**

When you add the NMS operation at exporting the TFlite graph with the option `max_classes_per_detection > 1`, you'll get more than one class per detection as expected, but the class IDs and their corresponding scores

[2021-03-04 07:24] abattery commented on #47551
@thaink could you review this suggestion?

[2021-03-04 07:46] worldpeaceaspirer opened #47552 "Hyperlinks can be added for improved understand-ability of Basic Image Classification Tutorial"
## URL(s) with the issue:

Please provide a link to the documentation entry, for example:
https://www.tensorflow.org/tutorials/keras/classification#import_the_fashion_mnist_dataset
https://www.tensorflow.org/tutorials/keras/classification#set_up_the_layers
https://www.tensorflow.org/tutorials/keras/classification#compile_the_model
https://www.tensorflow.org/tutorials/keras/classification#feed_the_

[2021-03-04 07:51] worldpeaceaspirer opened #47553 "A sentence in Basic Image Classification Tutorial is not clear"
## URL(s) with the issue:

Please provide a link to the documentation entry, for example:
https://www.tensorflow.org/tutorials/keras/classification#make_predictions

## Description of issue (what needs changing):
The statement, **The model's linear outputs, [logits](https://developers.google.com/machine-learning/glossary#logits).** can't be understood.

More explanation can be added on why the Out

[2021-03-04 08:30] lgeiger commented on #36453
@sayakpaul That is correct, the `SavedModel` format correctly supports GCS, however when saving a `.h5` file GCS is still not supported.

[2021-03-04 08:40] samhodge commented on #39439
https://developers.google.com/protocol-buffers/docs/reference/arenas Leaving for reference

[2021-03-04 08:40] samhodge commented on #39439
https://developers.google.com/protocol-buffers/docs/reference/arenas Leaving for reference

[2021-03-04 08:46] sayakpaul commented on #36453
True that. On a personal level, I think serializing your model as a `SavedModel` is more uniform with respect to the TensorFlow ecosystem.

[2021-03-04 08:49] GF-Huang commented on #35146
![image](https://user-images.githubusercontent.com/4510984/109937109-9735df80-7d09-11eb-98e7-367f4025afa3.png)

![image](https://user-images.githubusercontent.com/4510984/109937184-9bfa9380-7d09-11eb-9bc7-05db57081e23.png)

[2021-03-04 08:51] GF-Huang opened #47554 "WARNING:absl:Found untraced functions such as lstm_cell_2_layer_call_fn, lstm_cell_2_layer_call_and_return_conditional_losses, lstm_cell_2_layer_call_fn, lstm_cell_2_layer_call_and_return_conditional_losses, lstm_cell_2_layer_call_and_return_conditional_losses while saving (showing 5 of 5). These functions will not be directly callable after loading."
`WARNING:absl:Found untraced functions such as lstm_cell_2_layer_call_fn, lstm_cell_2_layer_call_and_return_conditional_losses, lstm_cell_2_layer_call_fn, lstm_cell_2_layer_call_and_return_conditional_losses, lstm_cell_2_layer_call_and_return_conditional_losses while saving (showing 5 of 5). These functions will not be directly callable after loading.
`

![image](https://user-images.githubusercont

[2021-03-04 09:13] WindQAQ opened #47555 "Optimize TFLite argmin/argmax"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Pixel 3a Android 11
- TensorFlow installed from (source or binary): source
- TensorFlow version (or github SHA if from source): nightly

**Standalone code to reproduce the issue**

[code]

Given a simple sequence model with 5000 output labels, ArgMax takes as much time as computation-intense ops like FullyConnected a

[2021-03-04 09:16] ghylander commented on #47263
having found the issue, and it being numpy compatibility, i would like to request compatibility with numpy v1.20 both to make use of the new functions added and because it's a dependency in other packages

should i close this issue and create a new one asking for compatibility with numpy 1.20, or should i keep this one open?

[2021-03-04 09:18] abattery commented on #47555
Thanks for filing the feature request!

[2021-03-04 09:22] nguyenhoan1988 commented on #46044
@ben-xD : mine took almost 3 hours to finish, on a M1 Mac

[code]

[2021-03-04 09:24] nguyenhoan1988 commented on #46044
I can also install tensorflow that runs on Rosetta successfully following your steps, @easadler.
Especially, I have to rename the `.whl` file from `11_0` to `10_16` to `pip` it.

Thank you for sharing the guide 👍

[2021-03-04 09:27] thaink commented on #47551
Agreed that that loop looks wrong. Basically, we can do either stack all valid values first like:
output[0] = detection1_top1_class_id
output[1] = detection2_top1_class_id
output[2] = detection2_top2_class_id
output[3] = garbage (because detection 1 has only one class)
Or use memory like for a matrix:
output[0] = detection1_top1_class_id
output[1] = garbage (because detection 1 has only one class)

[2021-03-04 09:31] #44075 closed

[2021-03-04 09:43] amahendrakar commented on #47550
@ferryvg,
In the given code snippet, you have defined the functions but are not calling them anywhere. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/156837ac5e88bef8d10badc553ec840f/47550.ipynb).

In order to reproduce the issue reported here, could you please provide the complete code and the dataset you are using. Thanks!

[2021-03-04 09:49] dniku opened #47556 "Lambda(tf.identity) fails to deserialize, while Lambda(lambda t: tf.identity(t)) works fine"
Note: I'm not sure if this belongs here or the Keras bug tracker. I'm filing this report here because I use `tf.keras`, not `keras`.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow installed from (source or binary): bundled in Colab
- TensorFlo

[2021-03-04 09:59] Zhuxinpei opened #47557 "What's the correct matcher of 'tf.nn.conv2d_transpose' in quantization aware training ?"
To some reason, I have to use TF1.X (actually TF1.14.0) to quantize a custom model.
As general,
[code]
was used to create fakequant min/max variable and I could find the min/max value of 'tf.nn.conv2d_transpose' in checkpoint. But when
[code]
created the Fakequant Evaluation Graph, 'tf.nn.conv2d_transpose' was not added fake quantization nodes. I tried transpose only, transpose --> relu6, transpos

[2021-03-04 10:00] innat commented on #47553
In that blog, the outputs of the model are of course linear. They define the model as

[code]

Here you can see they didn't use any activation and by default, it's `None`. And that makes it a linear layer. So the output would be `logit`. And further, they add another layer which is `softmax` to get `probabilities` from the `logit`.

[code]

So, `model` here is giving linear outputs (`logit`) but w

[2021-03-04 10:06] ZhangWeiguo commented on #36155
Did someone solved this problem?
So sad, this memory still bothered me.....

[2021-03-04 10:25] worldpeaceaspirer commented on #47553
@innat,
Thank you for your response. I agree with your explanation but my point is that we can add the same explanation in the Tutorial so that it will be clear to Newbies. Also, the sentence formation of the statement, **`The model's linear outputs, logits`**, is not proper and is incomplete.

[2021-03-04 10:25] abattery commented on #47557
@ethkim could you triage this issue?

[2021-03-04 10:31] karthajee opened #47558 "Unable to create custom Wide and Deep model with shared inputs"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): Bundled along with Colab
- TensorFlow version (use comma

[2021-03-04 10:47] neta111111 opened #47559 "Fails to run the model in an Android app"
Hi, I've created a model using keras. The model works fine in google-colab but when I attach it to my app in Android Studio I get the following comment:

`java.lang.AssertionError: Error occurred when initializing ImageClassifier: Input tensor has type kTfLiteFloat32: it requires specifying NormalizationOptions metadata to preprocess input images.`

My app works fine with a different model so I be

[2021-03-04 10:48] jameshfisher commented on #47205
Note: Homebrew now seems to have updated `python@3.8` to include `pip3` version `21.0.1`. So the following now seems to work:

[code]

[2021-03-04 10:50] abattery commented on #47559
@lu-wang-g could you take a look at this? Thanks

[2021-03-04 11:06] #47178 closed

[2021-03-04 11:06] #47236 closed

[2021-03-04 11:31] ferryvg commented on #47550
@amahendrakar , it's works in notebook, very strange

[2021-03-04 11:40] Lif3line commented on #42057
Just want to bump because this still exists in `2.4.1`. Same symptoms, still reproducible with the above.

[2021-03-04 12:32] rmothukuru commented on #39772
@dhiegomaga,
Documentation of [Saved Model](https://www.tensorflow.org/guide/saved_model) now comprises [Specifying the Signatures](https://www.tensorflow.org/guide/saved_model#specifying_signatures_during_export), [Loading a Saved Model in C++](https://www.tensorflow.org/guide/saved_model#load_a_savedmodel_in_c), etc..

Also. please find the documentation related to [Save and Serialize](https://w

[2021-03-04 12:40] UcanYusuf commented on #44683
1- Go to Environment Variables from search panel.
2- You will see Local variables and System variables.
3- Click new for system variables.
4- Variables name = TF_XLA_FLAGS
5- Variables value = --tf_xla_enable_xla_devices
6- Save it and try your scripts (e.g. python -c "import tensorflow as tf;print(tf.reduce_sum(tf.random.normal([1000, 1000])))")

[2021-03-04 13:12] SRaent opened #47560 "passing constants to costume rnn cell not working"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):yes
- OS Platfo

[2021-03-04 13:15] ferryvg commented on #47550
Error raises when i use `tf.compat.v1.disable_eager_execution()`

[2021-03-04 13:15] #47550 closed

[2021-03-04 13:17] #46693 closed

[2021-03-04 13:17] #46699 closed

[2021-03-04 13:30] amahendrakar commented on #47524
@maunzzz,
I was able to run the code without any issues on both [TF v2.3](https://colab.research.google.com/gist/amahendrakar/12660c3c92cbf4f10728b05c450f116d/47524-2-3.ipynb) and [TF v2.4](https://colab.research.google.com/gist/amahendrakar/0b4fc66059bc127e630904cd1a764bc3/47524.ipynb). Please check the linked gist for reference.

To prevent the out of memory error please try setting a hard limit

[2021-03-04 13:36] isaacgerg commented on #47537
@ymodak There is not documentation for differing behavior between test/train time despite the flag learning_phase() being provided and documented.

[2021-03-04 13:40] amahendrakar commented on #47531
Was able to reproduce the issue with [TF v2.4](https://colab.research.google.com/gist/amahendrakar/128826b210f2d4b5598040e902fce4ed/47531.ipynb) and TF-nightly.

Whereas on running the code with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/658b9346d3e74da9a03c269c8f09169b/47531-2-3.ipynb#scrollTo=5dc9GGSJcknG), I am facing an error stating `TypeError: __init__() missing 1 required

[2021-03-04 13:55] #47560 closed

[2021-03-04 13:56] SRaent commented on #47560
the minimum working example and problem description is wrong, sorry for the inconvenience. I will update and open a new one once i am sure everything is correct.

[2021-03-04 14:06] #47214 closed

[2021-03-04 14:06] #47218 closed

[2021-03-04 14:07] amahendrakar commented on #47534
Was able to reproduce the issue with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/3103c98f5f9947333fe79ce72631b59e/47534.ipynb). Thanks!

[2021-03-04 14:11] fisakhan commented on #16091
@varshadhml  @jiangxiluning  can you please provide python code for how to use onet.tflite, pnet.tflite and rnet.tflite?

[2021-03-04 14:11] maurodlt opened #47561 "tf.train.Checkpoint.read breaking inside a @tf.function"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS 11.2.1
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.4.1
- Python version: 3.8

**Describe the current behavior**
"Tensor is unhashable. Instead, use tensor.

[2021-03-04 14:13] sailor239 opened #47562 "Didnt find op for builtin opcode 'RESIZE_NEAREST_NEIGHBOR' version '3' when trying to run on Android"
### 1. System information

- OS Platform and Distribution (Windows 10):
- TensorFlow installation (pip package):
- TensorFlow library (2.3.1, pip package):

### 2. Code

# Convert the model
converter = tf.lite.TFLiteConverter.from_saved_model(saved_model_dir) # path to the SavedModel directory
converter.target_spec.supported_ops = [
    tf.lite.OpsSet.TFLITE_BUILTINS, # enable TensorFlow Lite ops.

[2021-03-04 14:23] cgebbe opened #47563 ""Status: device kernel image is invalid" with A100"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS7
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): source (pip)
- TensorFlow version (use command below): 2.3.0
-

[2021-03-04 14:38] abattery commented on #47562
Since you are using the Select TF option, please refer to the following documents to enable Flex delegate for FlexSize op:
https://www.tensorflow.org/lite/guide/ops_select

You need to link the additional aar for the Select TF option. There is two options, one for prebuilt aar and one for custom built aar to reduce the unused parts.

[2021-03-04 14:47] joonb14 commented on #19982
In my case, I used multiple inputs. I solved the similar problem with
![image](https://user-images.githubusercontent.com/30307587/109981154-fadcfe80-7d43-11eb-86d6-def6fd797196.png)

[2021-03-04 15:00] mevol commented on #25254
I think the issue with not having enough data in the last batch still exists. For me it happens when running model.predict() as my data is passed in through a generator. Here my problem:

len(X_test) = 567
batch_size = 5
number of steps = 567 / 5 = 113.4

When using this calculation I have 113 steps, as 0.4 or the last two samples are being ignored. This causes the warning below, which is correct:

[2021-03-04 15:31] LutzWeischerFujitsu opened #47564 "pip3 install tensorflow-cpu fails on AArch64, Fedora 33"
I guess it is because there is no 'wheel' defined yet. 'pip3 install tensorflow' is available, works. Is there a difference, if you have no (dedicated) GPU?

[2021-03-04 15:38] greenzeal commented on #47400
+1

[2021-03-04 15:40] n-moussa commented on #32180
@abattery

If I'm not wrong, the issue is not solved at C++ level ?
Is there any way to solve it with tflite C++ API ?

Thanks

[2021-03-04 15:47] amahendrakar commented on #47564
@LutzWeischerFujitsu,
Please try installing the Linux aarch64 release under the Community Supported Builds from [this page](https://github.com/tensorflow/tensorflow#community-supported-builds) and check if it helps. Thanks!

[2021-03-04 15:54] amahendrakar commented on #35628
@sharvil,
Closing this issue based on [your comment](https://github.com/tensorflow/tensorflow/pull/36206#issuecomment-579969531) in PR #36206.

Please feel free to re-open if mistaken. Thanks!

[2021-03-04 15:54] #35628 closed

[2021-03-04 15:55] suiluj opened #47565 "TensorBoard Embedding Projector Metadata filepath format not clear"
## URL(s) with the issue:

- https://www.tensorflow.org/tensorboard/tensorboard_projector_plugin
- https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/TensorBoard
  - description of argument *embeddings_metadata*; See details link is gone: https://www.tensorflow.org/how_tos/embedding_viz/#metadata_optional

## Description of issue (what needs changing):

At the moment i try to use the em

[2021-03-04 16:18] SwathiAunooru commented on #46146
You need to disable eager execution then it is able to create unique names i was able to run it
tf.compat.v1.disable_eager_execution()

[2021-03-04 16:22] SwathiAunooru commented on #46146
In this colab we just need to disable eager execution and it works fine and i was able to run through it.

[2021-03-04 16:24] Yu-Hang commented on #19293
@srjoglekar246 Is there any updates on this issue? I'm also exploring the possibility of using MaskRCNN on Android with TFLite. I checked [Running TF2 Detection API Models on mobile](models/research/object_detection/g3doc/running_on_mobile_tf2.md) and [Running on mobile with TensorFlow Lite](models/research/object_detection/g3doc/running_on_mobile_tensorflowlite.md). Both docs still says TF Lite o

[2021-03-04 16:34] zaccharieramzi commented on #46146
@SwathiAunooru good catch!
It indeed works in eager mode.
However the names of the weights are still off. This time they are not identical, but they are still not what they were before, which might prove infefficient for debugging should it happen
I also don't know how easy it is to switch between eager mode and graph mode when loading/saving weights (is it possible?).

[2021-03-04 16:34] amahendrakar commented on #35667
@bersbersbers,
The documentation for [tf.Variable](https://www.tensorflow.org/api_docs/python/tf/Variable#assign) has been updated and the above mentioned incorrect statement no longer exists.

Closing this issue as it is resolved. Please feel free to re-open if mistaken. Thanks!

[2021-03-04 16:34] #35667 closed

[2021-03-04 16:39] santiagoRuizSchiphol commented on #45157
Hi all, please be aware that you also have this warring message not only at training time but also when you are just predicting and you want to leverage with `MirroredStrategy` to increase the batch size.

[2021-03-04 16:50] Saduf2019 commented on #47563
@cgebbe
Could you please refer to these existing resolved issues and let us know: #43911, #43701,#41990,#41132,#42428

[2021-03-04 16:50] karimnosseir commented on #32180
@n-moussa There is a C++ API for using Signatures

* To get list of signatures available
interpreter.signature_def_names();
* To get inputs/output of a single Signature:
TfLiteTensor* input_1_tensor = interpreter.input_tensor_by_signature_name("input1", "mySignature");
TfLiteTensor* input_2_tensor = interpreter.input_tensor_by_signature_name("input2", "mySignature");
const TfLiteTensor* output_ten

[2021-03-04 16:53] mihaimaruseac commented on #45633
Did you manage to test on another project?

[2021-03-04 16:56] Saduf2019 commented on #47554
@GF-Huang
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

Please refer to similar issues and let us know, [link](https://github.com/tensorflow/tensorflow/issues/44541), #44938 .

[2021-03-04 16:57] mihaimaruseac commented on #47205
Awesome. What else is needed for this issue?

[2021-03-04 17:00] mihaimaruseac commented on #47263
We can keep this one or create a new one and deduplicate all other numpy 1.20 issues to that one.

It will take a while for TF to become compatible with numpy 1.20 given that it needs the same version both for the C++ and for the Python code. Since numpy 1.20 is not backwards compatible with previous versions, this will require a lot of changes in TF if we want to maintain backwards compatibility

[2021-03-04 17:13] srjoglekar246 commented on #19293
@Yu-Hang Are you interested in the masks output from MaskRCNN? If its bounding boxes, is it on your own dataset?

[2021-03-04 17:28] goldiegadde opened #47568 "Update TF with CUDA 11.2 and cuDNN 8.1"
Update TF with CUDA 11.2 and cuDNN 8.1

[2021-03-04 17:34] amahendrakar commented on #47547
Colab session crashes on running the code with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/4ca6a70325eac68fe87033d8dd8702a6/47547.ipynb). Thanks!

[2021-03-04 17:39] GF-Huang commented on #47554
version: `tf 2.4.1`

reproduce:
[code]

[2021-03-04 17:40] redradist commented on #44500
@samfux84 Have you found the solution for downloading llvm ?
I have the same issue with tensorflow 2.4.1

[2021-03-04 18:06] around-star commented on #47464
@ymodak I sent in a pull request which must solve this.

[2021-03-04 18:18] oholimoli opened #47569 "TFLite micro hard fault when using tf.reduce_sum"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): pip install tensorflow
- Tensorflow version (commit SHA if source): 2.4.1
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Arm M4 with Zephyr

**Describe the problem**

I'm trying to export my TF-model with one simple custom

[2021-03-04 18:24] Cy-r0 commented on #47068
I tried training the autoencoder without normalising the images to the 0-1 range. I kept them in the 0-255 range (converting to float of course), since I noticed that some pre-trained models used in the AI-Benchmark app have been trained in this way.

However, no dice. Once I quantise and convert to tensorflow lite, mse is terrible. Any updates on your end?

[2021-03-04 18:30] CyangXu commented on #47464
I expected that I could become the assignee and fixed it. Why not give a newbie an opportunity? So sad.

[2021-03-04 18:39] XXZhou25 opened #47570 "tensorflow.keras and tensorflow.python.keras"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux centos
- Mobile device (

[2021-03-04 18:42] AraibKarim opened #47571 "LSTM conversion into Tflite. Error: This is not a valid Tensorflow lite model file -- Android Studio"
### 1. System information

On Google colabs

### 2. Code

`import tensorflow as tf

converter = tf.lite.TFLiteConverter.from_keras_model(model)
tflite_model = converter.convert()
with open('model_tensor.tflite', 'wb') as f:
  f.write(tflite_model)
`

### 3. Model Creation
model = keras.Sequential()
model.add(
    keras.layers.Bidirectional(
      keras.layers.LSTM(
          units=128,
          i

[2021-03-04 18:43] RuofanKong commented on #45312
@thaink Thanks for helping it! On our end, this is indeed blocker issues for our model, when any invalid computation ops are involved, we have no way to tell the output is valid vs invalid values per clipping results, but TF is good. So it would be good to fix it.

[2021-03-04 19:12] ymodak commented on #47010
Closing this issue since its addressed above. Feel free to reopen if necessary. Thanks!

[2021-03-04 19:12] #47010 closed

[2021-03-04 19:19] andreperezmaselco opened #47573 "Handle null pointer parameters in C functions"
**System information**
- TensorFlow 2.4.0.
- Are you willing to contribute it? Yes.

**Describe the feature and the current behavior/state.**
Currently, when a null pointer (that should not be null) is passed to a C function, segmentation fails, causing the program to be interrupted. It would be good to handle this case to report the error in the `TF_Status` object.

**Will this change the current

[2021-03-04 19:22] redradist commented on #46118
Seems like I have figured out the issue with Bad address ... most of the time it happens because some third party is not available in google storage or through google mirror ...

When I switch to github, package downloaded properly and build proceed

[2021-03-04 19:22] redradist commented on #39680
Seems like I have figured out the issue with Bad address ... most of the time it happens because some third party is not available in google storage or through google mirror ...

When I switch to github, package downloaded properly and build proceed

[2021-03-04 19:24] jameshfisher commented on #47205
I think nothing, so I'll close it!

[2021-03-04 19:24] #47205 closed

[2021-03-04 19:34] mdickinson commented on #47474
@mihaimaruseac: I can definitely create a PR with just the fix. Would this need a regression test, too?

@jvishnuvardhan: I'm not really sure how I could go about finding out why you're not seeing that warning: I can't reproduce your non-reproduction here, and I don't know anything about your system or Python environment. One suggestion would be to try this at a plain old Python prompt: it looks a

[2021-03-04 19:38] mdickinson commented on #47474
@jvishnuvardhan: Ah, looking harder at your gist, you've already imported `tensorflow` to get the version, right at the top. That means that your later import will be using the existing cached import. You need to import tensorflow for the first time _after_ uninstalling tensorboard.

[2021-03-04 19:48] iainwo commented on #38081
Thanks @faustomorales for opening the thread - it helped me a lot.

For others, that are using a higher version of TF (where tf.python is no longer exported) here is what I did to get around the limitation:

[code]

Afterwards was able to call the rest classify endpoint and get a result.

[2021-03-04 20:20] Yu-Hang commented on #19293
@srjoglekar246 Yes, I'm interested in the object masks. Right now I just want to convert a pre-trained model, and run inference on Android and see the performance. We have a trained MaskRCNN model with our own dataset. The goal is to run inference with this model on Android.

[2021-03-04 20:21] ymodak commented on #46984
Apologies for the delay in response. Is this still an issue?

[2021-03-04 20:23] mdinoulis commented on #46984
Hi Yasir,

Yes, this is still an issue. I’ve not been able to resolve the problem.

Best Regards,
Dino

On 4 Mar 2021, at 20:21, Yasir Modak <notifications@github.com> wrote:

﻿

Apologies for the delay in response. Is this still an issue?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://emea01.safelinks.protection.outlook.com/?url=

[2021-03-04 20:26] ymodak commented on #46984
Since it appears to be hardware issue, Have you tried posting this question on [ST community](https://community.st.com/s/)?
I found a similar [thread](https://community.st.com/s/question/0D50X00009XkXSgSAN/stm32f429-white-screen-flashing-com-led)

[2021-03-04 20:32] mdinoulis commented on #46984
Hi Yasir,

The problem doesn’t seem to be hardware related, the display works fine and examples from the ST website (which use a different display library) work fine.

Best Regards,
Dino

On 4 Mar 2021, at 20:27, Yasir Modak <notifications@github.com> wrote:

﻿

Since it appears to be hardware issue, Have you tried posting this question on ST community<https://emea01.safelinks.protection.outlook.c

[2021-03-04 20:44] jvishnuvardhan commented on #46414
@prokotg Code is too long. I didn't see BatchNormLayer from Keras. Did you implement your own batchnorm layer?

 GitHub is mainly for bugs and performance related issues. This issue looks more like a support issues. We encourage you to post it in Stackoverflow where there is a large community to support this kind of questions. Thanks!

[2021-03-04 21:00] Yu-Hang commented on #19293
@srjoglekar246 Our app does not process images in real-time. The accuracy of MaskRCNN is appealing to us even though it is computationally expensive compared to SSD.

[2021-03-04 21:08] swapnilsayansaha opened #47574 "Undefined symbol micro_test::did_test_fail in tensorflow_lite/tensorflow/lite/micro/kernels/conv_test_common"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- Tensorflow version (commit SHA if source): 2.4.0
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Arm Mbed OS

The error happens when I try to compile the project in Mbed Studio with tflite micro files generated u

[2021-03-04 21:13] srjoglekar246 commented on #19293
Did you train the MaskRCNN from the [detection zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md)? Or did you use some other code?
In any case, you can probably try converting the model with [Select TF ops](https://www.tensorflow.org/lite/guide/ops_select) to check whether it converts, and report back errors?

[2021-03-04 21:27] advaitjain opened #47575 "Exception related symbols appear to be showing up in the final binary with the xtensa toolchain"
The tests described in this issue are with the RI-2020.4-linux toolchain and the Fusion F1 core.

Build the keyword_benchmark with:
[code]

List all the symbols:
[code]

We see symbols that appear to be related to exception handling:
[code]

Some of the full command line options (to confirm that we are passing in `-fno-exceptions` when building the .cc files):
[code]

[2021-03-04 21:30] abattery commented on #47571
@lu-wang-g do you know when the android studio reject the given TFLite?

[2021-03-04 21:39] AraibKarim commented on #47571
When I try to add a Tensor flow Lite Model.
In Android Studio:
File -> Other -> Tensor flow Lite Model

[2021-03-04 21:41] abattery commented on #47571
@AraibKarim could you share your TFLite file? And which TF version did you use?

[2021-03-04 21:42] ssuwal commented on #44472
This issue has be stagnant for 3 months now, any feed back or updates would be great.
Let me know if you anything is needed from my side to resolve this issue or assist in any way.

[2021-03-04 21:42] abattery commented on #47571
And which android studio version are you using?

[2021-03-04 21:42] Yu-Hang commented on #19293
@srjoglekar246 No, we trained using the [matterport](https://github.com/matterport/Mask_RCNN) code base. Does this make a difference since that codebase is using TF1? Do you suggest we retrain using the one from the TF2 model zoo?

Okay, I will try converting the MaskRCNN model from TF2 model zoo using Select TF ops.

[2021-03-04 21:47] AraibKarim commented on #47571
Android Studio 4.1.2
TF 2.4.1 in Google Colab
See the zip file. Unzip to find the model.

[My_TFlite_Model.zip](https://github.com/tensorflow/tensorflow/files/6086781/My_TFlite_Model.zip)

[2021-03-04 21:50] abattery commented on #47571
Thanks for sharing! The converted model looks fine. I will ask @lu-wang-g about this behavior.

[2021-03-04 22:00] srjoglekar246 commented on #19293
TF1 support can be messy, if it contains control flow etc (MaskRCNN most probably does, but you can check)

Trying the one from the detection zoo makes more sense, we can debug the errors if they arise :-)

[2021-03-04 22:09] lu-wang-g commented on #47571
This is a known issue for AS 4.1. LSTM models may have multiple subgraphs, where the Android Studio ML binding expects only one. This issue has been fixed in AS 4.2.

[2021-03-04 22:16] hainesdata commented on #47229
I did install Python 3.8.3 on my Pi Zero in the middle of this thread. Even when building for Python 3.7, I still had issues. I've given up on trying to cross-compile my application for a Pi Zero, and ordered a set of Pi v4s instead which should alleviate the issue. I'll open a new thread and post a comment linking to it here should I have any issues building TFLite.

[2021-03-04 22:16] #47229 closed

[2021-03-04 22:25] jvishnuvardhan commented on #35146
@GF-Huang Can you please open a new issue with a standalone code to reproduce the issue? thanks!

[2021-03-04 22:29] swapnilsayansaha commented on #47574
Further information, my hunch says the problem is happening here in conv_test_common.cc, as it invokes a function from "tensorflow/lite/micro/testing/micro_test.h", where its calling micro_test::did_test_fail boolean variable but not finding it for some reason despite having the variable in the namespace in micro_test.h file.

![Screenshot from 2021-03-04 14-27-36](https://user-images.githubuserco

[2021-03-04 22:32] redradist commented on #46118
@angerson

Also I got the following error for flatbuffer:
[code]

[2021-03-04 22:54] tcervi commented on #47166
Thanks for your feedback @terryheo,
from which branch/tag did you run this build?

Will give it a new try next Monday and check if I missed any Windows dependency.

Cheers

[2021-03-04 23:19] ngc92 commented on #39671
yes, that looks good

[2021-03-04 23:24] swapnilsayansaha commented on #47574
Update: Solved the issue by changing the following function in micro_test.h:
[code]
to
[code]
I am not sure if this is recommended or it will break something, so waiting for a tensorflower to comment.

[2021-03-04 23:57] #28979 closed

[2021-03-05 00:19] jvishnuvardhan commented on #47529
@C-Compton I agree with you. The link is misleading but the link is a more detailed guide on [Using the SavedModel format](https://www.tensorflow.org/guide/saved_model#savedmodels_from_estimators). May be we need to change from "For a detailed guide, see [SavedModel from Estimators](https://www.tensorflow.org/guide/saved_model#savedmodels_from_estimators)."  to "For a detailed guide on SavedModel,

[2021-03-05 01:13] kdonbekci commented on #47545
I am sorry if I can't see but running the gist you've sent, I still see that the `AlreadyExistsError` is being caught by the code block demonstrating the issue. I've pasted the mentioned block here.
[code]

[2021-03-05 01:15] jvishnuvardhan commented on #45325
@donglinz Sorry for the late response. In the graph mode, as the error shows 'Tensor' object has no attribute 'ndim'. However running it in eager mode will work without any issue.  [Here](https://colab.research.google.com/gist/jvishnuvardhan/9a7ec379c7ea3cacc3a77173eb35bdf9/45325-tf-nightly.ipynb) is a gist for our reference.

Why do you want to disable eager execution? Is there any specific reaso

[2021-03-05 01:19] thaink commented on #45312
@RuofanKong I think there should be some way to avoid inf value being produced, like checking if dividing to 0 or use isinf for input.

[2021-03-05 01:23] teijeong commented on #46499
Can you elaborate what have you observed? Did you manually modified the scale for PadV2 op? you might also want to modify zero point, too.

From the [quantization specification](https://www.tensorflow.org/lite/performance/quantization_spec), the scale is determined by `(max - min) / quant_range` where `quant_range = 255` for int8 quantization. So when the range gets large like (1, -1000000000), sc

[2021-03-05 01:31] kdonbekci commented on #47545
And here is the entire self-sufficient code block + output demonstrating the issue again,
[code]
OUTPUT
[code]

[2021-03-05 01:33] jvishnuvardhan commented on #46907
@princyok Input Argument text sequence can be `can be a list of strings, a generator of strings (for memory-efficiency), or a list of list of strings.`  So, after changing one line in your code (`# t = tf.constant(a, dtype=tf.string)`), everything worked as expected.

 [Here](https://colab.research.google.com/gist/jvishnuvardhan/8e6459701bedb03e56a02a6f919453ba/untitled524.ipynb) is a gist for ref

[2021-03-05 01:39] DachuanZhao commented on #39526
I don't know how to use the ```install_and_run.py``` script . It raises error :
[code]
When I run
```/sbin/ldconfig -N -v $(sed 's/:/ /g' <<< $LD_LIBRARY_PATH) | grep libcupti``` ,
It gives :
[code]

[2021-03-05 01:40] lu-wang-g commented on #47523
I thought you were interested at the ImageClassification API. I've correct my previous answer for ObjectDetection. Please try it again and see if it works.

[2021-03-05 01:43] yyoon commented on #34757
The multiple input explanation has been added to the [README file](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/tools/benchmark/README.md) since. Closing.

[2021-03-05 01:43] #34757 closed

[2021-03-05 01:45] ericxsun commented on #47547
see the log `INFO:tensorflow:Linked TensorRT version: (0, 0, 0)`, it means tensorflow-gpu with tensorRT does not be installed

[2021-03-05 01:46] ericxsun commented on #47547
see the log INFO:tensorflow:Linked TensorRT version: (0, 0, 0), it means tensorflow-gpu with tensorRT does not be installed

[2021-03-05 01:52] abattery commented on #46905
@thaink could you take a look at this?

[2021-03-05 01:58] sailor239 commented on #47562
Hi, thanks very much for your reply. I will try it.
For the solutions you mentioned, does it also apply for the issue of 'RESIZE_NEAREST_NEIGHBOR' version '3' when deploying on Android?

[2021-03-05 02:01] abattery commented on #47562
For the RESIZE_NEAREST_NEIGHBOR issue, could you file a separate issue with the reproducible steps?

[2021-03-05 02:08] jvishnuvardhan commented on #46090
@lizhen2017 Sorry for the late response. I changed couple of lines and it works as expected. [Here](https://colab.research.google.com/gist/jvishnuvardhan/3759195bb062465c63291175a5be1444/untitled616.ipynb) is a gist for reference. Currently model `call` expects single argument `inputs` other than self, traininig=`True` or `False`.

The following lines were added or changed

[code]

Please verify o

[2021-03-05 02:26] sailor239 commented on #47562
Thank you for your reply. It is actually the same issue. After I converted the model to .tflite, when I try to deploy the model on Android. I encounter the issue of RESIZE_NEAREST_NEIGHBOR. Any ideas? :)

[2021-03-05 02:29] abattery commented on #47562
Can you share the model creation script or the TFLite model?

[2021-03-05 02:33] innat opened #47578 "Gradient Accumulation with Custom fit in tf.keras?"
## Documents:
[Customizing fit : TF.Keras](https://keras.io/guides/customizing_what_happens_in_fit/)
This a great article and one of the best deep learning practices. However, with this reading intuition, I was trying to implement Gradiant Accumulation (**GA**) by customizing the `.fit()` method, overriding the `train_step` within `tf.keras.Model` class. But I couldn't implement it yet.

I don't w

[2021-03-05 02:40] WindQAQ commented on #47555
@abattery Here is my benchmark on argmax of a 1-D float32 tensor because I only focus on `axis=-1`. For 2-D or higher tensor with `axis=-1`, it will roughly take `outer_size * timeof(axis_size)` time.

On Pixel 3a android 11.

| Size | Naive (min/max/avg microsecs) | Hand-crafted Neon intrinsics (min/max/avg microsecs) |
| ---- | -------| ------------ |
| 10 | 0/63/0.260737| 0/49/0.216432  |
| 100

[2021-03-05 03:27] KodeWorker opened #47579 "Build C API on Windows - test failed"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): source
- TensorFlow version: v2.4.0
- Python version: 3.8.5
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source): 3.1.0
- GCC/Compiler version (if compiling from source): MSCV 14.16.27023
- CUDA/cuDNN version: 11.0/8.0.5

[2021-03-05 03:28] abattery commented on #47555
Looks like it can achieve 10x improvement. Very impressive! Look forward to seeing the PR soon.

[2021-03-05 03:47] thaink commented on #46905
@dpmcgonigle  I think the problem here is you only build tensorflow-lite-select-tf-ops.aar for arm:
`bazel build --cxxopt='--std=c++14' -c opt --config=android_arm --config=monolithic //tensorflow/lite/java:tensorflow-lite-select-tf-ops`
but might be you are trying to run it on emulator, which is x86.

[2021-03-05 04:06] #46273 closed

[2021-03-05 04:18] codePerfectPlus commented on #47523
@lu-wang-g yup it's working, I think it's missing in Tensorflow documentation.
Thanks for sharing the script.

[2021-03-05 04:34] mohammedayub44 commented on #27491
@Victor-Almeida  I'm running into the same issue. Could you post a simple example for you suggestion.

Also, the issue I'm running into is from tensorflow object detection repo (https://github.com/tensorflow/models/issues/9778) where the distributed training step is wrapped in tf.function call and not able to access the training metrics returned.
Alternatively, running the training is eager mode i

[2021-03-05 04:44] donglinz commented on #45325
Hi @jvishnuvardhan
Thanks for the response! I was using tf.data.Dataset.map for data augmentation which has to be running in the graph mode. I know I can use tf.py_function to wrap some python logic to do the same thing in graph mode as tf.keras.preprocessing.image.random_shift did in eager mode. But generally speaking, tf.py_function have much lower performance compared to built-in tensorflow ope

[2021-03-05 05:05] GF-Huang commented on #35146
#47554

[2021-03-05 05:07] mushtaqsyed commented on #47485
Hi Abhilash:
Any feedback?
I forgot to mention in my first post that I was running the make command in
a cygwin terminal as an administrator. I have also tried the same in a
MINGW64 as administrator and got the same error message.
Thanks a lot!
Cheers,
Mushtaq

On Tue, Mar 2, 2021 at 1:28 AM Abhilash Mahendrakar <
notifications@github.com> wrote:

[2021-03-05 05:07] fonghyalex commented on #46285
In my case, the command
`toco --saved_model_dir ./exported-models/tflite/saved_model --allow_custom_ops --graph_def_file ./exported-models/tflite/saved_model/saved_model.pb --output_file ./exported-models/tflite/tflite/detect.tflite  --input_shapes 1,300,300,3 --input_arrays normalized_input_image_tensor –output_arrays 'TFLite_Detection_PostProcess’,’TFLite_Detection_PostProcess:1','TFLite_Detecti

[2021-03-05 05:18] advaitjain commented on #47241
https://github.com/tensorflow/tensorflow/pull/47240#issuecomment-791160760 describes why will not be able to add cmake support at this time, and also gives some direction for how you might be able to integrate TFLM as part of a larger project.

[2021-03-05 05:18] #47241 closed

[2021-03-05 05:19] ymodak commented on #47306
Value of `k` can be 0-D tensor as per the docs. With `k=np.ndim(np.array([1,2]))` we get 1-D tensor.
[code]
Perhaps we can update docs to state that k expects a scalar tensor (0-D).

[2021-03-05 05:28] XXZhou25 commented on #47570
I remember like last year, my keras was under tensorflow/python/keras, but I reinstalled my environment, after that my keras was under tensorflow/keras. I don't remember their versions. Is it caused by tensorflow version? I will appreciate if you have any idea of importing tensorflow.keras directly. Thanks!

[2021-03-05 05:41] Saduf2019 commented on #47554
@GF-Huang
Please let us know if the links help.

[2021-03-05 05:51] alisonwh commented on #46882
@furknclk There are some examples for TFLu in https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/micro/examples. You can try them first.

[2021-03-05 06:04] Saduf2019 commented on #47545
@ymodak
I am able to replicate the issue reported on tf 2.3, 2.4 and nightly, please fin the [gist here](https://colab.research.google.com/gist/Saduf2019/311a685d3e3cffe63736427ceb4720d5/untitled558.ipynb).

[2021-03-05 06:09] Saduf2019 commented on #47570
@XXZhou25
We see that you are using an old version of tensorflow, we do not have support for 1.x, could you please upgrade to 2.x and let us know if you face any issues.
Yes you would see changes due to the new version and because there is no support for 1.x.

[2021-03-05 06:11] Saduf2019 commented on #47548
I ran the above code on tf 2.3, tf 2.4 and nightly and do not see nay output or error, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/55a64fddbfd6c68aa5fb85e36a720a48/untitled558.ipynb), can you please share a colab gist with the error reported.

[2021-03-05 06:24] samfux84 commented on #44500
@redradist : Please have a look at #45739

[2021-03-05 06:25] emadboctorx opened #47582 "Ghost bug on macOS Big Sur - TypeError: tf__gradient_update() missing n required positional arguments"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code: yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OSX 11.2.1
- Tensor

[2021-03-05 06:45] ymodak commented on #46896
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2021-03-05 06:45] #46896 closed

[2021-03-05 06:48] sandeep22-v commented on #39909
I have the same issue...
I saw here that installing tf-nightly-gpu==2.3.0.dev2020061 can solve the issue,but I'm unable to install a specific version of tf-nightly-gpu using pip,it always installs the latest version.
How can tf-nightly-gpu==2.3.0.dev2020061 be installed

[2021-03-05 06:56] #46986 closed

[2021-03-05 06:56] sailor239 commented on #47562
I may not be able to share the model creation script or the model. It is a custom-trained model based on YOLO V3. After training, I get the checkpoint (3 files: checkpoint, .index & .data). Then a script (convert_to_pb.py from https://github.com/pythonlessons/TensorFlow-2.x-YOLOv3/tree/master/tools) is used to convert it to .pb, and then another script (shown in original post as 2. Code) to conver

[2021-03-05 07:01] SunAriesCN commented on #46986
Hi all, any good news for it?

[2021-03-05 07:06] multiverse-tf commented on #46986
The fix I mentioned earlier was pushed 3 days ago in the RUY repo (https://github.com/google/ruy/commit/54774a7a2cf85963777289193629d4bd42de4a59). Could you try to patch it and see whether it fixes the crash or not? Thx!

[2021-03-05 07:09] AraibKarim commented on #47571
So should I update my Android Studio to 4.2 and it will work?

[2021-03-05 07:18] sandeep22-v commented on #26696
Update podungo

[2021-03-05 07:20] SunAriesCN commented on #46986
Well cool, I think TensorFlow([tensorflow/tensorflow@f779f42](https://github.com/tensorflow/tensorflow/commit/f779f42004d1873784cb2b4cb351d4b342ad0816)) could be easier for me to check, isn't it?

[2021-03-05 07:25] multiverse-tf commented on #46986
Indeed!

[2021-03-05 07:27] maunzzz commented on #47524
Alright, thank you. What hardware did you run it on?
Setting a hard limit on the GPU helped for 2.4.1

[2021-03-05 07:36] XXZhou25 commented on #47570
Hi @Saduf2019 ,
I see. I just updated tf to 2.x and it works perfect. Thank you so much!

[2021-03-05 07:40] kdonbekci commented on #47545
Yes, can confirm the gist contains the error.

What's missing in the gist is the second failure of `.cache` and `.zip` where if multiple cached datasets are zipped together, Tensorflow will fail to cache all of the datasets. In fact, it will only cache a single dataset in the zip and emit warnings for the rest as such:
[code]

[2021-03-05 07:45] kdonbekci commented on #47545
The snippet below illustrates the second issue of incomplete iterators.
[code]

[2021-03-05 07:50] abattery commented on #47562
I am not sure that it can be reproducible on my side. If possible, could you provide a minimal reproducible step for reducing the graph structure and carrying dumb weights?

I saw that you are using TF 2.3.1. I would highly recommend using TF 2.4.1 and tf-nightly both for the TFLite conversion since there are a lot of improvements in the conversion.

[2021-03-05 07:56] kdonbekci commented on #47545
Right now, the only way to avoid this not-fully-consumed iterator issue is to a dummy iteration over all of the to-be-zipped dataset before the `.zip` in a redundant/wasteful way.

[2021-03-05 07:58] abattery commented on #47571
According to @lu-wang-g 's words, it should be fixed in AS 4.2. Could you try again with Android Studio 4.2?

[2021-03-05 08:02] multiverse-tf commented on #46986
Btw, as the model has dynamic shape, what's the proper input layer shape to be specified when running the inference? I am just wondering if the fix could be verified by the benchmark model tool which supports specifying input layer name and its shape.

[2021-03-05 08:08] hakehuang commented on #47241
@advaitjain
it is strange why TFLM does not want to have CMAKE support, as I see in the TFLite there is ready CMAKE solution, can you explain the reason?

[2021-03-05 08:18] SunAriesCN commented on #46986
Emmmm....I think this fix can be checked by the [hello world example](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/minimal/minimal.cc), because I have ever got the similar crash with that tool.

[2021-03-05 08:31] karimnosseir commented on #47448
Hi @1173710201
There is a way to support user defined operation on hexagon DSP, but it is experimental and not supported by Qualcomm, so we didn't expose it.

If you can share details on your usage, we can look if we can plan adding this.

Thanks

[2021-03-05 08:38] multiverse-tf commented on #46986
I just checked the mirnet_dr.tflite model with the minimal binary w/ the patch. The binary still crashed with segfault. But the stack trace is quite different as shown below:

#0  tflite::tensor_utils::NeonSymmetricQuantizeFloats (values=0x0, size=0, quantized_values=0x0, min=0x7fffffffd458, max=0x7fffffffd454, scaling_factor=0x0)
    at tensorflow/lite/kernels/internal/optimized/neon_tensor_utils

[2021-03-05 08:40] ClementViricel commented on #43559
Hi,
I'm currently running into this problem too as well with TextVectorization.get_vocabulary.

OS: Windows 10
Python: 3.8.8
TensorFlow: 2.4.2

[2021-03-05 08:45] SunAriesCN commented on #46986
( T ^ T )  Ohhhh God, BIT ME.....It's a BAD NEWS....however, it's really thankful for your new reply, I think we can reopen this issue again.

[2021-03-05 08:54] junneyang opened #47583 "how can i access the dataset on each worker node when using MultiWorkerMirroredStrategy training?"
when i use MultiWorkerMirroredStrategy to distributed training,
i want to know how the dataset shard with multiple workers in each batch-train,
but there is no way to debug...

thanks for your help!

[2021-03-05 08:55] multiverse-tf commented on #47525
Hi Tessil,

Thanks for uncovering such a subtle issue! Coincidentally, we have been aware of this issue internally recently. We have a WIP fix that will avoid this overflow, and it will be pushed out very soon.

Basically, in such scenarios, we think this im2col temporary tensor takes too much memory, and it's likely to cause OOM when running the inference. So the fix is simply to skip such im2col

[2021-03-05 08:56] #47252 closed

[2021-03-05 08:57] JulieYao0754 opened #47584 "CANNOT FIND the source code of “gen_candidate_sampling_ops”"
I’m reading the source code(python version) of sampled softmax loss(tf.nn.sampled_softmax_loss) since I want to write my own “sampled_values”, and it leads me to the function “log_uniform_candidate_sampler” in candidate_sampling_ops.py.

———————————————————————————————————-
@tf_export(
    'random.log_uniform_candidate_sampler',
    v1=[
        'random.log_uniform_candidate_sampler',
        'nn.

[2021-03-05 08:58] tcrossley17 opened #47585 "TensorFlow Lite currently doesn't support control flow ops: Merge, Switch."
TensorFlow Lite currently doesn't support control flow ops: Merge, Switch. We are working on supporting control flow ops, please see github issue at https://github.com/tensorflow/tensorflow/issues/28485. Some of the operators in the model are not supported by the standard TensorFlow Lite runtime. If those are native TensorFlow operators, you might be able to use the extended runtime by passing --e

[2021-03-05 09:12] hfahrudin commented on #47493
Could i start working on this?

[2021-03-05 09:27] Saduf2019 commented on #47584
@JulieYao0754
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

[2021-03-05 09:32] GF-Huang commented on #47554
Not help.

[2021-03-05 09:39] abattery commented on #47585
Sorry for encountering this issue. We do not have plans to support TF v1 control flow ops but we do support v2 control flow ops. Please consider the migration to TF v2 control flow ops or you can enable v2 control flow ops through this. https://www.tensorflow.org/api_docs/python/tf/compat/v1/enable_control_flow_v2

[2021-03-05 09:50] araabovyan commented on #43915
sahal-mulki have you solved your problem. I have the same problem.

[2021-03-05 09:52] neel04 opened #47586 "[Keras] Model does not learn at all - loss and val_acc remains constant - what other problems can be there?"
I am doing text classification and have made a dummy dataset to aid in debugging. The problem is that the model does not learn/converge. I am trying to predict one out of 20 labels and have tried most fixes on the net to no avail.
[code]
Any Idea on how to do I fix this network? I am totally stumped after trying to fix it for 4 days :(

I posted this on Stack Overflow also, but seeing the lack of

[2021-03-05 10:42] div3125 opened #47587 "Failed to build TF on Ubuntu 18.04 due to C++ compilation of rule '//tensorflow/stream_executor/cuda:cusparse_stub' failed (Exit 1)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.5 LTS
- TensorFlo

[2021-03-05 11:01] saikumarchalla commented on #40994
@HedgehogCode @xqr-g  Closing the issue since the bug was fixed already [here](https://critique-ng.corp.google.com/cl/359853088). Please feel free to re open the issue if the isse still persists.Thanks!

[2021-03-05 11:01] #40994 closed

[2021-03-05 11:15] CaptainDario commented on #46380
@reedwm thank you very much for the code snippet!!
Now I am able to train with float 16 precision but still save a tflite model.

[2021-03-05 11:27] suakim commented on #46754
@Xhark, thank you for the answer. Yes it works now after changing 'concat' to 'add'.

[2021-03-05 11:35] humayunah commented on #43956
Hey,

[2021-03-05 11:38] humayunah commented on #43956
Hey @tea321000. I have the same issue that I am not able to build it from docker directly, which is why I jumped to build it from source and got the same problem. Kindly explained how you deploy TF1.15 version in Docker-File?
Thanks!

[2021-03-05 11:56] #47172 closed

[2021-03-05 12:01] rmothukuru commented on #27146
@lee-bin,
Can you please let us know if this change is still relevant as we don't use `Graph Transform Tool` much in **`Tensorflow 2.x`** ? Thanks!

[2021-03-05 12:44] oberon98 opened #47588 "My python version is 3.6. I successfully installed tensorflow, but when I imported in idle it gives error as following :"
2021-03-05 18:13:41.002427: W tensorflow/stream_executor/platform/default/dso_loader.cc:60] Could not load dynamic library 'cudart64_110.dll'; dlerror: cudart64_110.dll not found
2021-03-05 18:13:41.003385: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
Traceback (most recent call last):
  File "<stdin>", line 1, in

[2021-03-05 12:47] felix-johnny opened #47589 "CMSIS-NN - Missing compiler warning flags"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (

[2021-03-05 12:48] anuragbhatia1980 commented on #36792
I faced this problem with TF version 2.4
Moved back to TF version 2.3
No longer facing this issue.

[2021-03-05 12:51] AxelBohm commented on #9489
I'm on cuda-11-0 and tensorflow 2.4 and got the same errror.
First of all, removing the chache folder `~/.nv` did noting for me.
Secondly, while
[code]
got my code running, the actual error was that I had `libcudnn8=8.1.1.33` installed (which seems to rely on cuda-11-2). So downgrading libcudnn to 8.0.5.39 was the actual fix.

[2021-03-05 12:56] #47260 closed

[2021-03-05 13:14] PratsBhatt commented on #47513
The pull request has been merged. This issue can be closed?

[2021-03-05 13:21] Saduf2019 commented on #47588
@oberon98
Please refer to these resolved issues and let us know: #47517, #45398

[2021-03-05 13:29] jlapin1 commented on #47548
My apologies Saduf. The code as I sent it to you is running with eager execution, since the tf.function is commented out (right below the beginning of def train()).

Can you run it again but replace the train subroutine with this code? Notice that the variable "graph" is now an actual tensorflow graph of the function "train_step"

[code]

[2021-03-05 13:37] sahal-mulki commented on #43915
No but I was due to get a new laptop, when I got my new laptop and installed tensorflow and the problem wasnt there

[2021-03-05 13:38] Milloyy commented on #46194
I am getting the same error in Keras 2.4.3 and Tensorflow 2.4.1 when computing gradients too.

A line original code in example is: `grads = K.gradients(loss, model.input)[0]`, but it raise RuntimeError while running. And than I replaced it with the following codes:

[code]

The same error appear. The complete code in here:

[code]

[2021-03-05 14:13] AdityaKane2001 commented on #47586
@neel04
I tried your code in Colab, here's the [gist](https://colab.research.google.com/gist/AdityaKane2001/f2b018a594becbdc6bf2e411f3881d98/47586.ipynb).  As you mentioned in your SO issue,

In the above gist, the metrics keep changing, but as the dataset is quite small, they don't make any sense.  Is this the problem you were facing?
Also, if possible, could you please upload the logs and config

[2021-03-05 14:21] snehitvaddi commented on #44790
In case it helps. In google colab I had this issue if I used the default TF version, which was 2.4.0.
Running ` !pip install tensorflow==2.3.0` and restarting the runtime, then converting corrected the issue.

[2021-03-05 14:23] amahendrakar commented on #42228
@sayakpaul,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2021-03-05 14:26] Feynman1999 commented on #24986
2021 now , tflite gpu delegate support sum op?

[2021-03-05 14:34] defr8001 commented on #47551
Thanks @thaink and @abattery,

I agree with your idea to solve the problem. If the bug is fixed, would it be solved both in TF1 and TF2?

[2021-03-05 14:36] neel04 commented on #47586
The problem was that even after removing the dropout and regularizations - the network does not overfit

[2021-03-05 14:49] amahendrakar commented on #47558
@karthajee,
On running the code, I am facing an error stating `NameError: name 'crossed_columns_input' is not defined`.

In order to reproduce the issue reported here, could you please provide the complete code and the dataset you are using. Alternatively, you can also share the Colab notebook you're running, with us. Thanks!

[2021-03-05 14:56] AdityaKane2001 commented on #47586
Ok, I found the issue
So the `train_text` has only one character, and thus the vectorized form is something as follows:
[code]

Thus the normalized form becomes:
[code]
Hence, the inputs are same for all samples, and thus the model is not training.

[2021-03-05 14:57] Saduf2019 commented on #47554
@GF-Huang
Can you please try with tf-nightly and let us know if you face the issue.

[2021-03-05 15:02] neel04 commented on #47586
Good one, but it still does not overfit even if we don't normalize

[2021-03-05 15:03] amahendrakar commented on #47561
@maurodlt,
I am facing a different error stating `NotFoundError: Unsuccessful TensorSliceReader constructor: Failed to find any matching files for variables` on running the code. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/2575450e985220c21ea919d2f2691436/47561.ipynb).

In order to expedite the trouble-shooting process, could you please provide the complet

[2021-03-05 15:11] AdityaKane2001 commented on #47586
Yes, I tried that. The reason being, the function we are now trying to fit to is (for one sample):
[code]

which I don't think is the best function to fit using a transformer :)

[2021-03-05 15:11] AdityaKane2001 commented on #47586
I tried the sigmoid, but nothing changed

[2021-03-05 15:12] neel04 commented on #47586
yeah, but I heard I have to use `categorical_crossentropy`

[2021-03-05 15:14] AdityaKane2001 commented on #47586
That's correct, but the the function you are trying to fit is not possible, because it is not a curve that you can plot in some n-dimensional space.

[2021-03-05 15:17] neel04 commented on #47586
no, I meant for the actual dataset I am using, should I use sigmoid?

[2021-03-05 15:17] AdityaKane2001 commented on #47586
yup

[2021-03-05 15:18] AdityaKane2001 commented on #47586
Else you are just training a linear regression model 😅

[2021-03-05 15:22] neel04 commented on #47586
yeah, I didn't see it that way. I didn't pick that up because in the examples I looked, they all used softmax. Well, it is training with sigmoid with a pretty small network (without normalization).

Thanx a lot Aditya!! :+1: :100: :rocket:

Just one last thing - I heard that normalization can help in converging since there would be less interference of weights since the range is [1,40000]. Is ther

[2021-03-05 15:23] karthajee commented on #47558
@amahendrakar Ah yes, I cannot share the notebook because the full notebook is confident. However, I can share the necessary inputs to run the code.

### For wide_inputs = crossed_columns_input and wide_feature_columns = crossed_columns
[code]

#### For deep_inputs = deep_columns_input and dnn_feature_columns = deep_columns
[code]

[2021-03-05 15:27] Saduf2019 commented on #35072
Moving this to close status as the pr is merged.

[2021-03-05 15:27] #35072 closed

[2021-03-05 15:30] patchmeifyoucan commented on #46635
It would be nice if this could be implemented soon. Using map_fn with RaggedTensors is very convenient when working with data of different shapes. Unfortunately one must run these operations on CPU right now.

[2021-03-05 15:33] AdityaKane2001 commented on #47586
Ok, sorry about that. You must use softmax in your case, because each of your tokens have some probability associated with them. Sigmoid and softmax are close enough, just that sigmoid is for binary classification whereas softmax is for multilabel classification.

[2021-03-05 15:33] AlxndrMlk commented on #44790
@snehitvaddi

I did the same. Also current version of TF on Colab worked correctly (2.4.1 if I remeber correctly)

[2021-03-05 15:35] AdityaKane2001 commented on #47586
About normalization: normalization works as it keeps the weights from overflow or underflow. Input data normalization can be done as you have done in the above code.

[2021-03-05 15:38] neel04 commented on #47586
well, using softmax doesn't help at all :disappointed:

[2021-03-05 15:46] tianhuat opened #47593 "Given an input and get two outputs"
I am using Tensorflow 2.4.0 and Ubuntu 16.04

Given this model

    base_model = tf.keras.applications.EfficientNetB0(weights="imagenet", include_top=False)
    base_model.trainable = base_model_trainable
    inputs = tf.keras.Input(shape=(IMG_SIZE,IMG_SIZE,3), name="input")
    x = tf.keras.applications.efficientnet.preprocess_input(inputs)
    # more details - https://www.tensorflow.org/tutorial

[2021-03-05 15:47] maurodlt commented on #47561
Hi @amahendrakar,

The code was trying to access a folder that was not created at that point. Please find the corrected notebook [here](https://colab.research.google.com/gist/maurodlt/68cda6c01348981f08e31dc75831b82f/47561.ipynb) (same code below).

Thanks! : )

    import tensorflow as tf
    from tensorflow.keras import Model
    from tensorflow.keras.layers import Dot, Embedding, Flatten

    c

[2021-03-05 15:50] sdonatti commented on #47191
The issue can be mitigated using earlier TensorFlow versions (e.g., 1.15.0) or other package managers (e.g., PIP). It would be good if TensorFlow starts to support its Anaconda packages in the future. Cheers!

[2021-03-05 16:05] AdityaKane2001 commented on #47586
Ok, I got a bit confused.
Softmax is used for `multi-label` classification : which means if output consists of more than one label per sample.
Sigmoid is used for `multi-class` classification: which means if output has exactly one label out of many possible labels.
Most tutorials don't show the bigger picture: they show only binary  classification.

Thus, use sigmoid for your task. Sorry for the p

[2021-03-05 16:16] neel04 commented on #47586
Right now, situation is something like this:-
[code]
it was working well when I initially used sigmoid, but after that, I made a lot of changes to try to get softmax working so now I don't know what exact things I used :(
Any possible insight?

Cheers,
Neel Gupta

[2021-03-05 16:27] AdityaKane2001 commented on #47586
When using `one_hot` encoding, use `categorical_crossentropy`. Use sigmoid in last layer.
Also, please close this issue as we have now pinpointed the root cause.

[2021-03-05 16:32] #47586 closed

[2021-03-05 16:38] AdityaKane2001 commented on #47586
Could you get it to work?

[2021-03-05 16:39] fonghyalex opened #47595 "Tensorflow Lite Android Object Detection — Mobile SSD models are expected to have exactly 4 outputs, found 8"
**Problem Encountered:**

**Problem Description**
- Android Application Source: TensorFlow Lite Object Detection Example from Google
- Error shown when starting the Example Application

**Model Description**
- Custom Model Used? **YES**
- Pre-trained Model Used: ssd_mobilenet_v2_fpnlite_640x640_coco17_tpu-8
- Inference type: FLOAT
- Number of classes: 4

**System Information**
- OS Platform and Di

[2021-03-05 16:39] maxiwell commented on #44626
Hi all,

IIUC, the Flamefire's patch removes TF specialization + InputMappers, which forces both functions `CuboidConvolution` and `SpatialConvolution` to use the old/slow tensor code from Eigen (unsupported/Eigen/CXX11/src/Tensor).

There is some benchmark available to measure the impact of this change on performance?

[2021-03-05 16:45] sayakpaul opened #47596 "Drastic changes in predictions during training and validation on the SAME data"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-03-05 16:46] neel04 commented on #47586
no, it seems to be randomly guessing.

[2021-03-05 16:49] AdityaKane2001 commented on #47586
Can you provide a small dataset so I can try on Colab?

[2021-03-05 16:51] amahendrakar commented on #47578
Was able to reproduce the issue with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/88e42704e1f5f9f9ed14766013e25e0e/47578.ipynb). Thanks!

[2021-03-05 16:59] neel04 commented on #47586
[val_text.txt](https://github.com/tensorflow/tensorflow/files/6092019/val_text.txt)
[val_label.txt](https://github.com/tensorflow/tensorflow/files/6092020/val_label.txt)
[train_text.txt](https://github.com/tensorflow/tensorflow/files/6092021/train_text.txt)
[train_label.txt](https://github.com/tensorflow/tensorflow/files/6092022/train_label.txt)

I have attached 5 examples of each - you can try an

[2021-03-05 17:04] StephaneKazmierczak commented on #24520
Had the exact same error in tf 2.3.0
set_shape solved the error with model.fit

[2021-03-05 17:15] AdityaKane2001 commented on #47586
I don't know what's going on in these files 😅 . Can you share some data source that is easy to load?

[2021-03-05 17:22] lu-wang-g commented on #47523
We'll add the documentation once the full MetadataWriter Library is done. Please stay tuned.

[2021-03-05 17:27] #47464 closed

[2021-03-05 17:37] amahendrakar commented on #47583
@junneyang,
In order to reproduce the issue reported here, could you please provide the TensorFlow version, the complete code and the dataset you are using. Thanks!

[2021-03-05 17:41] amahendrakar commented on #47502
@LucasStromberg,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the dataset you are using. Thanks!

[2021-03-05 17:52] amahendrakar commented on #47535
Was able to reproduce the issue with TF v2.3, TF v2.4, TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/2f0c09a1c4472c437bfc15cad432c256/47535.ipynb). Thanks!

[2021-03-05 17:53] KiranKhanna721 commented on #47553
It is a image classification problem that is why we are using Softmax()  activation function in
probability_model = tf.keras.Sequential([model, tf.keras.layers.Softmax()])

[2021-03-05 17:54] ezhulenev commented on #44626
There are benchmarks for convolutions in `tensorflow/core/kernels/eigen_benchmark_cpu_test.cc`

[2021-03-05 17:59] PratsBhatt commented on #47529
I can work on the PR. Shall I go ahead with your suggestion @jvishnuvardhan ?

[2021-03-05 18:03] karimnosseir commented on #44790
Thanks for the report everyone.
Working on a fix.

Thanks

[2021-03-05 18:14] #35199 closed

[2021-03-05 18:23] AraibKarim commented on #47571
I tried with Android Studio 4.2 Beta and it was able to load the model.

Thank you for the support! closing the issue now

[2021-03-05 18:23] #47571 closed

[2021-03-05 18:24] RocaVincent commented on #47156
The tests I have done for few days show that the mean computation may overflow (wheter with `keras.backend.mean` or `tensorflow.reduce_mean`), even if there is no overflow in the input. It's certainly due to the sum before division. It's a bad thing beacause all these casts to float32 and float16 (for every mean computation) dtype make the model much more heavier.