[2019-02-07 01:07] SungchulLee opened #25564 "tf.keras.initializers.glorot_normal is not consistent with its documentation"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platf

[2019-02-07 02:11] facaiy commented on #25543
Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. Github is mainly for addressing bugs in installation and performance. Thanks!

[2019-02-07 02:23] facaiy commented on #25564
Hi, I am confused about what do you mean "2". If fan_in = 100, fan_out = 100, then stddev = sqrt(2 / (fan_in + fan_out)) = 0.1. So the samples are drawn from N(0.0, 0.1).

[2019-02-07 02:57] Benehiko commented on #21223
Also, have the same issue running Ubuntu18.04, 3GB GTX 780 with Cuda 10.0.130, Tensorflow 1.12.0 compiled from source for GPU

[2019-02-07 03:11] LeeTanPepsi opened #25567 "Bug in CrossShardOptimizer for Windows running with TPU"
Using tensorflow 1.12.0 (also tried with 1.10.0 on a windows 7 OS running a Tesla V100 TPU, I was not able to optimize using the CrossShardOptimizer.

The following is very simple code that illustrates the bug.

x = tf.placeholder(tf.float32, shape=(None, 32))
y = tf.layers.dense(x, 5)
yhat = tf.ones((20, 5))
loss = tf.reduce_mean(tf.square(y - yhat))

opt = tf.contrib.tpu.CrossShardOptimizer(tf.t

[2019-02-07 03:23] SungchulLee commented on #25564
If fan_in = 100, fan_out = 100, then stddev = sqrt(2 / (fan_in + fan_out)) = 0.1. So the samples are drawn from truncated_N(0.0, 0.1), not N(0.0, 0.1). See below ref2. If samples are from truncated_N(0.0, sigma) with sigma=0.1, then they are in [-2*sigma,2*sigma], i.e., [-0.2,0.2]. Oh, I mean 0.2, not 2. Sorry about the confusion.

Correction:
I generated them with fan_in = 100, fan_out = 100 and

[2019-02-07 03:24] #25567 closed

[2019-02-07 03:35] leedtan opened #25568 "Bug in CrossShardOptimizer for Windows running with TPU"
**System information**

* Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
* OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows server 2012
* Tensorflow installed from (source or binary): pip
* Tensorflow version (use command below): tensorflow-gpu 1.12.0
* Python version: 3.6.6
* CUDA/cuDNN version: 9.0  V9.0.176
* GPU model and mem

[2019-02-07 03:40] ymodak commented on #23934
Apologies for the delay in response. Is this still an issue?

[2019-02-07 03:41] ymodak commented on #24146
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-02-07 03:41] #24146 closed

[2019-02-07 03:44] ymodak commented on #23941
Apologies for the delay in response. Can you please build latest TF 1.13.0rc0. Note that TF 1.13.0.rc0 comes with prebuilt cuda 10 binaries. So make sure you update the cuda drivers too.

[2019-02-07 03:49] ksachdeva opened #25569 "When using MirroredStrategy in keras, custom callbacks receive an incorrect model instance"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.12
- Pyt

[2019-02-07 03:59] ymodak commented on #24431
What is the output of ```python tf.Session(config=tf.ConfigProto(log_device_placement=True))``` in your console?
Note that TF 1.13.0rc0 has released and comes with prebuilt cuda 10 libraries. You might want to give it a try.

[2019-02-07 04:10] #25293 closed

[2019-02-07 04:13] bareblackfoot commented on #25504
When you set x = tf.constant([1.,2.,3.])
It returns 0.0
There are multiple gpus in our lab and i tried it for many servers with different settings and there was the same error. :(

[2019-02-07 04:16] bareblackfoot commented on #25504
Also, I already said that the error I wrote does not happen in the terminal, just for my code :(

[2019-02-07 04:34] ZhiqingXiao opened #25570 "Feature Request: tf.keras.layers.Conv2D supports channels_first when there are no GPU"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.13.0-rc0,  b'v1.13.0-rc0-0-ga8e5c41c5b'
- Are you willin

[2019-02-07 04:39] #25463 closed

[2019-02-07 05:44] ymodak commented on #24232
Apologies for the delay in response. I created a short code snippet to compare the sqrt results by using tf.keras, keras and numpy. The results are identical and correct.
[code]
Output:
[code]

[2019-02-07 06:00] margaretmz opened #25575 "TFLite Converter not able to convert tf.keras model in TensorFlow 2.0"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-02-07 06:20] craigcitro commented on #25463
I've added a `$NO_GCE_CHECK` environment variable that allows a user to completely sidestep the GCE metadata checks; anyone who's hitting the original issue (slow timeouts + retries attempting to fetch a public GCS resource) should be able to use this to get unblocked.

For Colab in particular, I'm going to add this patch and enable it in our runtimes (where GCE metadata is never available).

[2019-02-07 06:22] craigcitro commented on #25464
My fix in a252fe8 adds a hook to avoid the "unnecessary access" part of this bug; we still get noisier logs than I'd like. I'm going to repurpose this issue for "make logs less chatty for expected retries".

[2019-02-07 06:22] sathyamoorthyrr opened #25576 "error while loading shared libraries: libprotobuf.so.17: cannot open shared object file: No such file or directory"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): [source](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile)
- TensorFlow version: 1.12
- Python version: 3.6
- Installed

[2019-02-07 06:24] sathyamoorthyrr commented on #25018
Hi, same error. Have filed an [issue](https://github.com/tensorflow/tensorflow/issues/25576)

[2019-02-07 06:26] HaoboZ opened #25577 "Running code with Tensorflow GPU"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): 1.12.0
- TensorFlow version: 1.12.0
- Python version: 3.6
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source): 0.22

[2019-02-07 06:31] vinayonchip commented on #21526
Hi Assignees.!

Till when can we expect the t2t model ops (BatchMatMul, Cos, Enter, GatherNd, IsFinite, ListDiff, LoopCond, MatrixBandPart, ScatterNd, Where) to be available for use ?

Thanks in advance..!

[2019-02-07 07:05] sathyamoorthyrr commented on #25576
somehow managed to work by copying `tensorflow/tensorflow/contrib/makefile/gen/protobuf/lib/libprotobuf.so.17` to `/usr/local/lib` and running `sudo ldconfig`
right approach?

[2019-02-07 07:09] vishalsubbiah commented on #22102
in tf1.13 using dynamic_rnns use xla entirely :)

[2019-02-07 07:09] #22102 closed

[2019-02-07 07:09] vishalsubbiah commented on #22216
in tf1.13 using dynamic_rnns use xla entirely :)

[2019-02-07 07:09] #22216 closed

[2019-02-07 07:12] dynamicwebpaige commented on #25361
#25575

[2019-02-07 07:46] anshkumar opened #25578 "CancelledError: Loop execution was cancelled"
I was doing some regression analysis using google colabs and until 2 days back everything was working fine but suddenly I'm getting following error. I din't know why the training is getting stopped in the middle. On stackoverflow I came to know that tensorflow was updated from 1.12 to 1.13.0rc0. The issue started the moment the tensorflow was updated.

Here is the link to my [notebook](https://col

[2019-02-07 07:53] rsepassi commented on #25463
Thanks!

On Wed, Feb 6, 2019 at 10:24 PM Craig Citro <notifications@github.com>
wrote:

[2019-02-07 08:50] 0xB4DF4C3D commented on #17022
!pip install tf-nightly

This works for me :D

[2019-02-07 08:54] ksekine opened #25579 "Linear alpha shape does not match the number of input channels.Node number 9 (GpuDelegate) failed to prepare."
Dear TensorFlow developer,

I implemented my custom model in my app. And I tried to set GPU delegate.
But if I instantiate `Interpreter` with GPU delegate option, the following error occurs.
[code]
What does this error message suppose to mean?
Or is there anything I need to be careful on TFLite converting?
Anything would be helpful.
Thanks!

The model I used is here.
[classify.tflite.zip](https://

[2019-02-07 08:58] anamozov commented on #25239
@akshayudnur do you have any news so far?

[2019-02-07 09:00] vidursatija opened #25580 "Edit Distance Matrix for CTC"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.12.2
- Are you willing to contribute it (Yes/No): Yes

*

[2019-02-07 09:18] zhang-jian commented on #25462
Just wondering if there is any update on this? Thanks

[2019-02-07 09:34] deepakmeena635 commented on #5786
os = ubuntu18
python3.6
tf 1.9 installed from pip3
sonnet installed from pip3

im new to tf's lower level constructs, so any feedback/facts are welcome

below are the parts of the graph that are being used inside an estimator the code below is just to test if i can get sonnet, slim and estimators working together, before using them on the actual project that I'm working on
the idea is to get image

[2019-02-07 10:15] mgaido91 commented on #25564
The documentation is correct: it is a truncated normal distribution with that standard deviation. If it were what you expected, the standard deviation of the distribution would be lower (because of the truncated part). Eg. you can run:
[code]
As you can see, the stddev of a truncated normal distribution (where the non-truncated normal distribution is a N(0, 1)) is lower than 1.0. So if you want a

[2019-02-07 10:22] oleksandrlazariev commented on #22550
the issue is still present in release version 1.12.0. I've just called `K.get_session()` inside of an estimator hook in  the `end` method

[2019-02-07 10:50] dedeco commented on #25093
I open a question about that on SO: https://stackoverflow.com/questions/54571367/downgrade-to-python-3-6-5-with-brew-error-bin-sh-sphinx-build-command-not-fo

[2019-02-07 10:50] sahertariq07 opened #25581 "Issue regarding import library for tensorflow-gpu 1.0.1 version"
System information
- OS Platform: Linux Ubuntu 15.10
- TensorFlow installed from (source or binary):
- TensorFlow version: TensorFlow-GPU 1.0.1
- Python version: 3.7
- Installed using pip command: pip install tensorflow-gpu==1.0.1
- Using anaconda jupyter for programming
- CUDA/cuDNN version: 8
- GPU model and memory:NVIDIA Corporation GM204 [GeForce GTX 970]

I'm using tensorflow-gpu package to t

[2019-02-07 11:02] dedeco commented on #25093
It doesn't work for me!

[2019-02-07 11:22] esidorovics opened #25582 "Load multiple TensorRT graphs. Cannot add function 'TRTEngineOp_0_native_segment' error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.12
- P

[2019-02-07 12:05] AdamWP commented on #15633
@SteveIb   You also need to change  NUM_DETECTIONS = 500 in TFLiteObjectDetectionAPIModel.java

[2019-02-07 12:09] dedeco commented on #25093
I solved:

I solved changing the formula e run locally.

1) Download the original formula 3.6.5 here:

    https://raw.githubusercontent.com/Homebrew/homebrew-core/f2a764ef944b1080be64bd88dca9a1d80130c558/Formula/python.rb

2) Comment lines from 199 to 210:

    cd "Doc" do
      if build.head?
        system bin/"python3", "-m", "venv", "./venv"
        resource("blurb").stage do
          system

[2019-02-07 12:51] sathyamoorthyrr commented on #14157
@FloopCZ Where should I place the **example** folder or its contents. From which location should I run those last commands(**3rd point under Usage**) in your [repository](https://github.com/FloopCZ/tensorflow_cc/) ?

[2019-02-07 12:57] eliasah opened #25585 "Inconsistent results between tf1 and tf2-preview with Keras"
I'm just trying to migrate a simple code from `keras 2.2.4` towards `tensorflow 2.0.0-preview`.

Let's first consider the following input :

[code]

And the network with just an input layer and an embedding output layer:

[code]

So mainly the only differences between both codes should be with the imports:

[code]

is changed to:

[code]

Nothing special about that.

Now I'm trying to project a si

[2019-02-07 13:05] vdemario commented on #25490
@jvishnuvardhan Sure, here's what I did:

[code]

Some of these flags or directory paths need to be adjusted depending on each person's configuration.

[2019-02-07 13:20] FloopCZ commented on #14157
Lets continue at https://github.com/FloopCZ/tensorflow_cc/issues/112#issuecomment-461413277.

[2019-02-07 13:26] Sudeepam97 commented on #25393
Looks like @HanGuo97 has fixed this issue. I suppose it can be closed now.

[2019-02-07 13:30] shyamalschandra commented on #597
@girving and @martinwicke: Okay, can you start by adding paper references to all the "implementations" inside the Tensorflow repository?  The version number is now around 2.0 preview.  Can you please tell the technical writers to add this information?

[2019-02-07 13:43] #25393 closed

[2019-02-07 13:48] shyamalschandra opened #25587 "Could you please include small examples with the functions embedded in real code with the documentation?"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0 preview
- Are you willing to contribute it (Yes/No): N

[2019-02-07 13:56] klapstoelpiloot commented on #24976
I also stumbled upon this problem.

- On Ubuntu 18.04.1, using GCC
- Using libtensorflow-cpu-linux-x86_64-1.12.0.tar.gz from the same link @matth79 mentioned above.
- Using protobuf 3.6.1 built locally.

The problem is easy to replicate:
`
#include <iostream>
#include <tensorflow/c/c_api.h>

// Enable this line to include protobuf
//#include <google/protobuf/message.h>

// Main program entry
int m

[2019-02-07 14:09] facaiy commented on #25564
glorot_normal is inherited from [VarianceScaling](https://www.tensorflow.org/api_docs/python/tf/keras/initializers/VarianceScaling). Its API explains:

https://github.com/tensorflow/tensorflow/blob/a6d8ffae097d0132989ae4688d224121ec6d8f35/tensorflow/python/ops/init_ops.py#L474-L478

Hence in your example, the real stddev is corrected as 0.1 / 0.87962566103423978 = 0.11368472343385565, so the sampl

[2019-02-07 14:21] facaiy commented on #25393
Yes, thank @HanGuo97 for your contribution :-)

@Sudeepam97 I think #25564 is also a good issue for starter if you're interested in it.

[2019-02-07 14:24] learnermaxRL commented on #22750
Is it working,I get this error when running faster rcnn in Multiprocessing environment:

Check failed: c->in_use() && (c->bin_num == kInvalidBinNum)

[2019-02-07 14:25] nhubbard opened #25588 "Object Detection: Build for TF Lite Demo completes successfully, but custom model fails with operations error"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Fedora 29 x86_64
- Mobile devi

[2019-02-07 14:28] Sudeepam97 commented on #25393
@facaiy Thank you for pointing it out. I'll take a look at it.

[2019-02-07 14:50] mdanatg commented on #25159
Thank you for the detailed report and tracking down the fix! Sorry for the delay.

Your suspicion is right, `defun` is a precursor of `function` in 2.0. In integrates with a stable version of autograph, one which converts control flow only.
We recently changed the logging mechanism in Autograph to make it easier to control. It is also quite verbose now. You can now enable it either by calling [tf.

[2019-02-07 14:56] mrry commented on #25310
This seems to have been answered [on Stack Overflow](https://stackoverflow.com/q/54424335/3574081).

[2019-02-07 14:56] #25310 closed

[2019-02-07 15:09] MoreYoungGavin commented on #310
i am also the problem ,i don't kown how to solve it in window

[2019-02-07 15:14] learnermaxRL commented on #20241
What is the fix for this,I have same issue

[2019-02-07 15:36] mgaido91 commented on #25564
@facaiy despite I think that a note to clarify that would be good, I haven't submitted a PR because it would mean that we have to make the same clarifications also in all the other initializers using a truncated normal distribution (eg. `lecun_normal`) and I am not sure this approach is easy to maintain; moreover the description is accurate (despite the misunderstanding is easy since truncated nor

[2019-02-07 15:37] artsobolev commented on #23780
I have the same problem on TF 1.12 + Ubuntu 16.04 and my custom code. Weirdly enough, even though I share the `vact_scope` code in different modules, the problem does not happen always (It might be due to calling `tf.nn.dynamic_rnn` in the same scope twice with `scope.reuse_variables()` between the calls)

@ezhulenev, any news on the problem? Any workarounds? Maybe there's a way to disable the `Ar

[2019-02-07 15:43] mdanatg commented on #25159
After a bit more digging into the logging, it seems that defun indeed does not call Autograph! I'll look into applying the fix you suggested.

[2019-02-07 15:54] learnermaxRL commented on #25474
Check failed: c->in_use() && (c->bin_num == kInvalidBinNum)

This happens when spawning multiple TF process on same GPU,after running fine for few seconds, assigning .4 GPU memory fraction per process In configproto and using TF Object detection API with fasterRCNN.
Can you suggest any fix for this?

[2019-02-07 16:21] ea42gh commented on #18332
Just encountered this same issue. Any known workarounds?

[2019-02-07 16:21] jdduke commented on #21526
`LoopCond` requires support for control flow, which is being tracked separately (and is a top priority for the TensorFlow Lite team).

[2019-02-07 16:22] ea42gh commented on #18332
And how does adding a comment "unassign asimshankar"?????

[2019-02-07 16:25] victorinno commented on #25173
ymodak this is the result:

[2019-02-07 16:37] martinwicke commented on #597
There are many papers referenced in the docstrings. If you would like to add more, please send PRs.

[2019-02-07 17:01] karmel commented on #25525
In TensorFlow 2.0, there will be no collections, as these represent global state that we are moving away from. The keras layers operate in the way that 2.0 at large will operate-- objects like variables and ops should be tracked and passed around explicitly using their Python handles.

There are a couple of ways to think about the above:
* Simplify the workaround using tf.add_to_collection.
* Igno

[2019-02-07 17:10] someshbhalsing commented on #25530
The issue is solved.
I installed tensorflow-nightly and then used the tflite convertor.

[2019-02-07 17:13] nwestlake commented on #25525
So how does this work with estimator and model_fn? Will users have to move away from having a model_fn as an actual function which calls functions and have to create a class whose only purpose is to additionally keep track of update_ops?

[2019-02-07 17:42] SungchulLee commented on #25564
Mant thanks @mgaido91 and @facaiy. I understand what happens. However, documentations are still inconsistent or at least misleading. I think documentations should be updated. I have a simple suggestion below.

ref1: https://www.tensorflow.org/api_docs/python/tf/keras/initializers/glorot_normal
It draws samples from a truncated normal distribution centered on 0 with stddev = sqrt(2 / (fan_in + fan_

[2019-02-07 18:03] karmel commented on #25525
Keras APIs handle layer update ops as part of their fit and evaluate loops. However if you use the Estimator API with a Keras model as part of your model function or any low level TensorFlow APIs, you will need to add these layer updates explicitly in your training loop to the train_op. For example, consider this example which uses the Estimator API:

[code]

The new Estimator Head that is being w

[2019-02-07 18:04] karmel commented on #25525
CC @dynamicwebpaige -- this is a FAQ; is there a place we are compiling FAQs?

[2019-02-07 18:07] ezhulenev commented on #23780
You can disable all optimizations in arithmetic optimizer with something like:

[code]

another example in https://github.com/tensorflow/tensorflow/blob/b17d53c0cd07bbae46a55dc9c12d3f48a1c19604/tensorflow/python/debug/lib/debug_graph_reconstruction_test.py#L45-L51

But I suspect that the real problem is in memory optimizer, you can disable it with this option: https://github.com/tensorflow/tensorf

[2019-02-07 18:15] daidong commented on #25552
I also have problems compiling Tensorflow 1.13 with cuda 10.0/cuddnn 7 on RTX 2070 GPU.

* OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
* Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
* TensorFlow installed from (source or binary): source
* TensorFlow version: 1.13
* Python version: 3.6
* Installed using virtualenv? pip? conda?

[2019-02-07 18:15] daidong commented on #25552
```ERROR: C:/codes/tensorflow/tensorflow/BUILD:573:1: Executing genrule //tensorflow:tf_python_api_gen_v1 failed (Exit 1): bash.exe failed: error executing command  cd C:/users/daido/_bazel_daido/arhjsgmd/execroot/org_tensorflow  SET CUDA_TOOLKIT_PATH=C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v10.0    SET CUDNN_INSTALL_PATH=C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v10.0    SET P

[2019-02-07 18:18] guptapriya commented on #17851
Yes, actually I've now modified the same example to be using 2.0 and tf.function. Take a look :https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/distribute/python/examples/mnist_eager_multigpu.py

[2019-02-07 18:35] ericstj opened #25590 "Build Tensorflow version that detects CPU instruction set at runtime and lights-up/down"
**System information**
- TensorFlow version (you are using): 1.12.0 CPU

**Describe the feature and the current behavior/state.**
Currently Tensorflow cross-compiles for different instruction sets and will warn if the CPU supports instructions that the TF build does not use, and fail to load if the CPU does not support an instruction set that the TF build uses.  This makes it impossible to build a

[2019-02-07 18:45] asimshankar commented on #25440
I didn't quite understand? Why do you say that? :)
As per the [documentation of `ExpandDims`](https://godoc.org/github.com/tensorflow/tensorflow/tensorflow/go/op#ExpandDims), it adds an extra dimension to the input Tensor. In `constructGraphToNormalizeImage` it is used to convert a 3D tensor corresponding to a single image (of shape (Height, Width, NumChannels)) to a 4D tensor corresponding to a b

[2019-02-07 18:51] tensorflowbutler commented on #21250
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-07 18:54] martinwicke commented on #25578
@skye this looks like a control flow problem, it's on 1.13 -- we should check whether this is at head as well.

@aselle FYI. Potential blocker for 1.13.

[2019-02-07 18:59] maxfiedler opened #25591 "Bug in tf.image.resize_images"
### System information

I am running Ubuntu 18.0.4 on my PC with CUDA-10 and Python 3.6 and Pillow 5.4.1
[code]
with Tensorflow version `b'v1.12.0-0-ga6d8ffae09' 1.12.0`

### Describe the problem
I am trying to resize an image with `tf.image.resize_images` using all available methods but I am getting completely crappy results for anything except NEAREST_NEIGHBOR

For example simply loading this im

[2019-02-07 19:01] maxfiedler commented on #6720
@johnpjf Sorry to bother you as well, but did you already merge something here?
I just posted another issue of which I wonder if it is related to changes that were made w.r.t. this issue here.
See https://github.com/tensorflow/tensorflow/issues/25591

[2019-02-07 19:03] anilknayak commented on #25440
Below function will prepare a small graph that will be used to convert to tensor. The second method will be used to run that graph
[code]
Run this method to create a tensor of shape [1,224,224,3] from image (Mat type). This method accepts tensors Image, session, input and outptu tensor prepare in the previous method and runs the model graph.
[code]
Here after running above two methods I will get a

[2019-02-07 19:10] jvishnuvardhan commented on #25490
@vdemario Thanks for taking time to post all the steps. I am sure community will get benefited. Thanks again!

[2019-02-07 19:13] jvishnuvardhan commented on #25530
I am closing this as it was resolved. Thanks!

[2019-02-07 19:13] #25530 closed

[2019-02-07 19:13] guptapriya commented on #25425
@peidaqi thank you for trying out MirroredStrategy.
I can't comment on what you're seeing with BERT without more information. But for the small example you provided - my hypothesis is that the graph building time is likely majority of the time that you measured. MirroredStrategy has a known overhead at graph building time as it tries to build 2 copies of your computations, one for each replica, an

[2019-02-07 19:14] annemenini commented on #21250
The problem is still present in the version 1.12. But I saw that tf.Print will be deprecated and replaced by tf.print in 2.0. I don't know if the problem will still be present there.

I proposed a PR that fixed the problem by modifying the print op. However it was suggested to fix that at a lower level and mirror the change in the abseil common C++ library as TF should ultimately use it for the pr

[2019-02-07 19:16] jpatts opened #25592 "tf.contrib.summary.image() fails silently and inconsistently"
**System information**

* Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
  No
* OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
  Ubuntu 18.04
* Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
  No
* TensorFlow installed from (source or binary):
  Source
* TensorFlow version (use command below):

[2019-02-07 19:22] skye commented on #25578
@mrry @jsimsa do you know if anything went in between 1.12 and now that would affect cancellation? Or who would know better about this? (http://go/gh/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/control_flow_ops.cc#L613 is newly triggering apparently)

[2019-02-07 19:29] jpatts commented on #25592
Update: it managed to log the images again, here is what `tensorboard --inspect` shows (its normal).
Immediately following this, it was unable to log images again after rerunning the program with no changes.

[code]

[2019-02-07 19:29] ymodak commented on #25173
It shows that you have TF-GPU installed on your system. Since you don't have a compatible gpu config on your system you can uninstall the tf-gpu version and install regular tf version.

[2019-02-07 19:31] ymodak commented on #24811
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-07 19:31] #24811 closed

[2019-02-07 19:32] ymodak commented on #24703
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-07 19:32] #24703 closed

[2019-02-07 19:32] mrry commented on #25578
The cancellation check itself was added after 1.12:

https://github.com/tensorflow/tensorflow/commit/fc5392dedec126f988788a597edb55021fb07b60

[2019-02-07 19:33] skye commented on #25578
Ok that's probably why it started showing up :) Is it correct for this to be an error?

[2019-02-07 19:36] ymodak commented on #25413
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-02-07 19:36] #25413 closed

[2019-02-07 19:44] jvishnuvardhan commented on #25592
@jpatts Please check tested [build configurations](https://www.tensorflow.org/install/source#linux). Please check Bazel version and CUDA. I think this error may be due to bazel version 0.21.0. For the system configuration you mentioned, Bazel 0.15.0 is supported. Need to downgrade CUDA/cuDNN. Could you try to install 0.15.0 version and check whether the issue persists? Thanks!

[2019-02-07 19:47] jvishnuvardhan commented on #25592
@jpatts Please check a [solution](https://github.com/tensorflow/tensorflow/issues/25490#issuecomment-461410778) to similar issue like you have. The user downgraded and posted solution that worked for him. Please let me know how it progresses. Thanks!

[2019-02-07 19:51] maxfiedler commented on #25591
Trying the same with OpenCV gives me perfectly reasonable results for both Bilinear and Nearest Neighbor
[code]

[2019-02-07 19:55] jpatts commented on #25592
This is definitely not the reason, as like I said, there is no error message. Its a silent failure. I found that tf.contrib.summary.image() was failing depending on what the values of the input were. This is a serious problem because if it fails, I need to know why. Thus I think this is a design problem with tf.contrib.summary.image().

[2019-02-07 20:05] jpatts commented on #25592
Furthermore, I have noticed that it only fails (randomly) in my test function, not my train function. The main difference between the two is that train always has the same batch size, whereas test has the same batch size until it decreases for the last batch, as I run through all my test data exactly once. What I think is happening is that when the batch sizes differ in size, tf.contrib.summary.im

[2019-02-07 20:08] apiszcz opened #25593 "Python 3.7 (nightly) TF 1.12, GLIBC 2.23 import failure on Centos 7.5"
Using Centos 7.5 which has glibc2.17, tensorflow nightly build fails on import
Since updating glibc on Centos appears is not advised, is their a hard requirement for GLIBC 2.23?
Thank you.

ImportError: /lib64/libm.so.6: version `GLIBC_2.23' not found (required by /python3.7/site                                                                          -packages/tensorflow/python/_pywrap_tensorflow

[2019-02-07 20:21] markdryan opened #25594 "Test sharding appears to be broken"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): v

[2019-02-07 20:22] artsobolev commented on #23780
Either `arithmetic_optimization = off` or `memory_optimization = off` does the job, thanks!

[2019-02-07 20:43] ymodak commented on #25593
Python 3.7 will be supported in the official release.

[2019-02-07 20:47] ymodak commented on #25582
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-02-07 20:47] #25582 closed

[2019-02-07 20:55] KostasBitsakos commented on #17629
February 2019, stil no concrete solution.

[2019-02-07 20:59] MarkDaoust commented on #25587
Hi @shyamalschandra,

Thanks for your interest. This is a known issue. There are thousands of functions, it's just a question of prioritization.

If you have any examples like this that you'd like to contribute, these `api_docs` files are generated from the python docstrings. We should welcome submissions.

But I don't see added value in keeping this bug open.

[2019-02-07 20:59] #25587 closed

[2019-02-07 20:59] jvishnuvardhan commented on #25592
@jpatts I understand your feelings. It is really difficult to find root-cause of the error when the installed version of some of the applications were not tested. If you can downgrade those applications or upgrade TF version, then we can try to find root-cause.  Meanwhile, we will see what we can do. Thanks and Have a good day!

[2019-02-07 21:00] ymodak commented on #25577
duplicate #24828. Please take a look at the [workaround](https://github.com/tensorflow/tensorflow/issues/24828#issuecomment-457425190) used by another user.

[2019-02-07 21:05] alextp commented on #5786
Two Adam variables is because adam accumulates two things, a momentum and a
gradient norm thingy. This is expected.

On Thu, Feb 7, 2019 at 1:38 AM deepakmeena635 <notifications@github.com>
wrote:

--
 - Alex

[2019-02-07 21:12] maxfiedler commented on #25591
Never mind. I simply did not catch that BILINEAR converts the Tensor automatically to tf.float32 ...
a simple numpy `astype(np.uint8)` solves the mytery ...
Grrrr

[2019-02-07 21:12] #25591 closed

[2019-02-07 21:13] dynamicwebpaige commented on #25366
#25587

[2019-02-07 21:13] HaoboZ commented on #25577
Already tried that. Cudnn was installed using the instructions [here](https://docs.nvidia.com/deeplearning/sdk/cudnn-install/index.html#install-linux).

Using conda list cudnn did not list any packages. The cudnn version was also the latest one available, compatible with cuda 10.0. I did try to use both methods since I first tried the debian file, which gave the same error. Later did the unzip to

[2019-02-07 21:25] jvishnuvardhan commented on #25581
@sahertariq07 Please check tested [build configurations](https://www.tensorflow.org/install/source#linux). Python version you are using is not supported for the TF version you are using. Please check Bazel version also. Another thing I noticed was libcudart.so.8.0 error. This was one of the common error and there are [solutions](https://github.com/tensorflow/tensorflow/issues/5343) in the GitHub a

[2019-02-07 21:27] jvishnuvardhan commented on #25591
@maxfiedler Thanks for resolving and posting the solution here. Thanks again!

[2019-02-07 21:33] aniketbote opened #25597 "Dll exception"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
XPS 15 9570 specs --
Processor : Intel(r) Core(Tm) i7-8750H CPU @2.20GHz 2.21GHz
Ram : 16 Gb
System type : 64 bit, x64 based processor
Windows 10 Home single Language  --
version = 1803
OS Build 17134.523

- TensorFlow installed from (source or binary):
Used pip install
- TensorFlow version:
tensorflow-gpu = 1.12.0
-

[2019-02-07 21:35] ymodak commented on #25559
@samikama Can you PTAL? Thanks!

[2019-02-07 21:43] jaingaurav opened #25598 "tf_upgrade_v2 upgrade script should do absl-py conversions"
Currently the tf_upgrade_v2 upgrade script changes uses of tf.app, tf.flags & tf.logging to tf.compat.v1.*. It seems that is would be more elegant for us to simply add the necessary absl-py imports and modify the code to use those instead.

[2019-02-07 21:45] ymodak commented on #24044
@zheng-xq Gentle ping. Can you please take a look/point me at another resource? Thanks!

[2019-02-07 21:48] ymodak commented on #24443
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-02-07 21:48] #24443 closed

[2019-02-07 21:53] ymodak commented on #23722
Apologies for the delay in response.
I was able to execute your code snippet successfully using TF 1.13.rc0
Can you please confirm? Thanks!

[2019-02-07 22:07] skye commented on #25578
Ah, according to the discussion at https://github.com/tensorflow/tensorflow/pull/23811, the error behavior is correct. I'm confused why this is firing in your colab though, as I don't see any timeouts set.

I think this is the code snippet where the error is occurring:
[code]

@mrry do you know what besides a timeout might be triggering this cancellation? @anshkumar do you happen to know where in

[2019-02-07 22:16] jvishnuvardhan commented on #25552
@daidong Could you implement the solutions mentioned above to remove the default limit on length of a path in Windows10. Then, install TFlow again. Please let me know how it progresses. Thanks!

[2019-02-07 22:23] ymodak commented on #23656
I see that you are using python 3.7. Note that python 3.7 will be supported in TF 1.13 official version.
However the good news is that TF 1.13.0-rc0 comes pre-built cuda 10 binaries.

[2019-02-07 22:34] joepareti54 commented on #24811
i would still want to know the reason of the exception listed below. My
original post was confusing, tensorflow runs correctly (based on other test
cases)

ValueError: Tensor(“buffer_size:0”, shape=(), dtype=int64,
device=/device:CPU:0) must be from the same graph as
Tensor(“MapDataset_1:0”, shape=(), dtype=variant).

Am Do., 7. Feb. 2019 um 20:36 Uhr schrieb ymodak <notifications@github.com>:

--

[2019-02-07 22:40] jvishnuvardhan commented on #25592
@jpatts Could you check whether you are able to run a simple deep learning code (mnist or any) without any errors? I want to make sure the error is not related to build/Installation and also not related to Tensorboard. Are you using any random seed? Is it possible to upload code to GitHub so that we can debug to see whether the issue is due to some randomness in the code. Thanks!

[2019-02-07 22:44] mmkos commented on #23934
I also came across this problem just now.

**System information**

* OS Platform and Distribution: Linux Ubuntu 18.04
* TensorFlow installed from: Source
* TensorFlow version: Github Master version
* Python version: 2.7
* Installed using virtualenv? pip? conda?: None.
* Bazel version (if compiling from source): 0.22.0
* GCC/Compiler version (if compiling from source): 7.3.0

[2019-02-07 23:03] ymodak commented on #24811
I was able to execute ```tensorflow/examples/get_started/regression/linear_regression_categorical.py``` successfully using TF 1.13.0.rc0 . TF 1.7 is a very old version. Please switch to a newer version. Thanks!

[2019-02-07 23:12] nizlas opened #25601 "Batchnorm does not work in Eager mode in TF 1.12: InternalError: Could not find valid device for node"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platf

[2019-02-07 23:23] suharshs commented on #23213
Closing due to inactivity.

[2019-02-07 23:23] #23213 closed

[2019-02-07 23:24] suharshs commented on #20718
Closing due to inactivity.

[2019-02-07 23:24] #20718 closed

[2019-02-07 23:24] srjoglekar246 commented on #24380
Closing this, feel free to re-open if the problem still exists.

[2019-02-07 23:24] #24380 closed

[2019-02-07 23:25] suharshs commented on #19949
Closing due to inactivity.

[2019-02-07 23:25] #19949 closed

[2019-02-07 23:26] ymodak commented on #23934
Can you please paste the error? Also what are the steps you followed to install TF?

[2019-02-07 23:28] tofulawrence commented on #23187
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-07 23:28] #23187 closed

[2019-02-07 23:30] jw447 commented on #25557
Thank you @jvishnuvardhan for the help. The build on ubuntu went through. May I follow up with another question, I'm also trying Tensor-Flow on a centos server which gives me more computation resources. I'm getting the error of

[code]

Could you please help with this one as well?

[2019-02-07 23:31] jpatts commented on #25592
@jvishnuvardhan all of my models work fine, and so does the rest of tensorboard. There is no chance that this is an issue with my specific system. Unfortunately I cannot show much code, asides from this:

[code]

I only included the code that could affect the outcome of .image(). Note that logits is the exact same for both training and testing.

As you can see, there are two primary differences be

[2019-02-07 23:35] suharshs commented on #23625
Closing due to inactivity.

[2019-02-07 23:35] #23625 closed

[2019-02-07 23:37] jdduke commented on #24059
Are you using the same shape with the Java demo and benchmark_model? I'm not able to repro the large discrepancy in latency. You might also check the Java demo you build to make sure it's using the 64-bit libraries.

[2019-02-07 23:37] #24059 closed

[2019-02-07 23:38] suharshs commented on #24121
Closing due to inactivity, please create a new issue with details on the issue and how to repro if you are still having an issue.

[2019-02-07 23:38] #24121 closed

[2019-02-07 23:38] liyunlu0618 commented on #25033
Folded batchnorm has its limitations. Only certain ops are supported now:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/quantize/python/fold_batch_norms.py#L40

[2019-02-07 23:38] #25033 closed

[2019-02-07 23:39] jdduke commented on #22884
Yep, this is being tracked separately. For now, there's not a lot of support we can give to the CMake build, but feel free to make a pull request if you see issues in the bazel build.

[2019-02-07 23:39] #22884 closed

[2019-02-07 23:44] jdduke commented on #24308
Are you able to share the output .tflite model? or the source model?

[2019-02-07 23:44] liyunlu0618 commented on #23598
Still working on a fix internally. Stay tuned.

[2019-02-07 23:45] jdduke commented on #21787
We're in the process of upstreaming the fix to Eigen, stay tuned.

[2019-02-07 23:47] jdduke commented on #25162
Duplicate of #23678.

[2019-02-07 23:47] #25162 closed

[2019-02-07 23:50] miaout17 commented on #23899
The newest example is using TensorFlowLite 1.12.0 pod and I don't see this happening.
Please reopen if you can still reproduce it. Thanks!

[2019-02-07 23:51] #23899 closed

[2019-02-07 23:52] skye commented on #25578
Oh duh, thanks :)
Are you able to share "./drive/My Drive/data.zip" so I can try to copy your colab and run it myself? You can email me if that's easiest.

[2019-02-07 23:52] suharshs commented on #25228
What values are your inputs during float training preprocessed to?

Based on those values you have to set std_value and mean_value accordingly.

The quantized model expects [0,255] inputs, but also expects these values to map to float.
mean_value = an integer value from [0,255] that corresponds to float 0.0f.
std_value = 255 / (float_max - float_min)

[2019-02-07 23:53] ymodak commented on #25504
@alextp Can you PTAL? thanks!

[2019-02-07 23:53] miaout17 commented on #25045
We recently improved the [iOS demo document](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/demo_ios.md) and added more explanation.
We're also working on adding more language binding support. Stay tuned.

[2019-02-07 23:56] stakemura commented on #24059
@jdduke In my environment, I confirmed TF Lite is x3 - x10 slower than TF mobile under same model including transpose_conv op, same in/out shape condition on Windows 64bit / MacOS X / Android arm64.
I will show the detail of the benchmark result within days.

[2019-02-07 23:56] liyunlu0618 commented on #24138
We don't support quantization aware training with keras yet...

Your understanding is correct. Currently we don't have a well supported way to do quantization aware training with a model containing custom ops and convert it...

[2019-02-07 23:59] mrry commented on #25578
@skye It might not be a timeout. An asynchronous `Session.close()` will set the cancelled bit. Also, any op failure will trigger this code to set the cancelled bit: https://github.com/tensorflow/tensorflow/blob/5c909541ee86bb1130f11a5c3b6a51ee8c7e12c9/tensorflow/core/common_runtime/executor.cc#L2227 (but that seems to be happening after the executor's [status is set](https://github.com/tensorflow/

[2019-02-08 00:00] suharshs commented on #23932
Closing due to inactivity.

[2019-02-08 00:00] #23932 closed

[2019-02-08 00:03] suharshs commented on #21889
It look like the original issue has been resolved? Closing this. Please create a new issue if there is still a problem.

[2019-02-08 00:03] #21889 closed

[2019-02-08 00:05] jvishnuvardhan commented on #25557
@jw447 Good to hear that the resource worked. There are several posts on CentOS in GitHub and Stackoverflow. Here is [one](https://github.com/tensorflow/tensorflow/issues/23673#issuecomment-441880448) in GitHub. It might help you. Please let me know how it progresses. Try searching GitHub with filter "is:issue centOS is:closed centOS", it shows up open and closed issues of centOS. Check the issues

[2019-02-08 00:05] #25557 closed

[2019-02-08 00:06] kulkarnivishal commented on #10515
```tensorboard --logdir=<$MODEL_DIR> --host localhost ```
this would solve it.

[2019-02-08 00:09] suharshs commented on #23134
LSTMs are currently hard to convert, we are actively working on this. We have a workaround here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/experimental/examples/lstm/unidirectional_sequence_lstm_test.py
Will close this issue since this is the current path, but future simpler paths will be added. Thanks!

[2019-02-08 00:09] #23134 closed

[2019-02-08 00:10] jvishnuvardhan commented on #25045
Thanks @miaout17. I am closing this as I don't see a reason to keep this open. Thanks!

[2019-02-08 00:10] #25045 closed

[2019-02-08 00:12] suharshs commented on #22278
Closing due to inactivity and since this is answered above.

[2019-02-08 00:12] #22278 closed

[2019-02-08 00:13] suharshs commented on #17540
Closing due to inactivity.

[2019-02-08 00:13] #17540 closed

[2019-02-08 00:13] karimnosseir commented on #23806
Can you please follow the updated instructions here
https://www.tensorflow.org/lite/demo_ios
and let me know if it is not working.

Thanks

[2019-02-08 00:23] shyamalschandra commented on #25587
@MarkDaoust: Shouldn't you wait for more people to respond before negating the suggestion or feature request?

[2019-02-08 00:25] alextp commented on #21884
Is this still an issue?

[2019-02-08 00:25] jdduke commented on #25275
Are there any additional logcat messages surrounding the dlopen failure?

[2019-02-08 00:26] jdduke commented on #22643
Which version of Bazel are you using? I believe there are issues with the latest public release, so you might need to downgrade.

[2019-02-08 00:26] fkjpn1204 commented on #24138
Since I was able to convert SSD model to tensorflow mobile format 8bit model(pb), I will use that model.
And I compare the speed of the 8bit model and the speed of the 32bit model, but it is a little disappointing that there has been almost no change.(Validate with smartphone)
If I could convert to 8bit model of tensorflow lite format, can it speed up..?

Anyway, since the conversion from pb to tf

[2019-02-08 00:27] #24138 closed

[2019-02-08 00:28] alextp commented on #25504
You might seeing it work sometimes with tf.constant because tf.constant runs constant folding which runs on the CPU and not the GPU.

I think this (failing on out of range) is intended behavior of the gather op.

[2019-02-08 00:28] jdduke commented on #24059
Keep in mind that TF mobile enables threading by default, whereas TF lite does not. Please test TF mobile single-threaded to form an accurate comparison.

[2019-02-08 00:31] jdduke commented on #24913
This does not look related to TensorFlow Mobile, this looks more like an Android toolchain issue in how you're generating your app .so. StackOverflow is probably a better place for this question.

[2019-02-08 00:31] #24913 closed

[2019-02-08 00:32] tofulawrence commented on #24888
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-08 00:32] #24888 closed

[2019-02-08 00:33] jvishnuvardhan commented on #25597
@aniketbote Please check [Tested build supports](https://www.tensorflow.org/install/source_windows#gpu).    What OS you have in your system? What is your Bazel version? I have noticed that MSVC is higher verion. You might need to downgrade to 2015 version. There is another [issue](https://github.com/tensorflow/tensorflow/issues/24886) with WINDOWS10 where it limits the path length. Also, check whe

[2019-02-08 00:33] karimnosseir commented on #23146
Did you verify that the file is on the same path on both phones ?

[2019-02-08 00:34] tofulawrence commented on #24709
I'm glad that you found a workaround.

[2019-02-08 00:36] srjoglekar246 commented on #23627
@milinddeore Are you trying to convert a graph that performs model training? We can typically only convert graphs that perform eval. Can you post your code that builds the graph?

[2019-02-08 00:39] karimnosseir commented on #23890
Closing the bug since it has been few months waiting on reply. @michael-stram please feel free to open new one or reopen this one if the problem is still happening with the details in @aselle  reply above.

Thanks

[2019-02-08 00:39] #23890 closed

[2019-02-08 00:39] srjoglekar246 commented on #23954
Closing this, feel free to open if issue still persists.

[2019-02-08 00:39] #23954 closed

[2019-02-08 00:40] tofulawrence commented on #23540
Thanks for bringing these to our attention. Fixed the broken links.

For TOCO, please see here:
https://www.tensorflow.org/lite/convert

Thanks!

[2019-02-08 00:40] #23540 closed

[2019-02-08 00:40] srjoglekar246 commented on #23600
@zjbaby , were you able to convert the model?

[2019-02-08 00:41] tofulawrence commented on #22846
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-08 00:41] #22846 closed

[2019-02-08 00:55] #25411 closed

[2019-02-08 01:01] ymodak commented on #24470
Closing this issue since original installation error is resolved. Please post a new issue if running into bug/performance issue and provide all the info. asked by the template. Thanks!

[2019-02-08 01:01] #24470 closed

[2019-02-08 01:08] physicsrob commented on #17824
I'm running into this exact issue, and also agree that this is an important limitation of the estimator API.

[2019-02-08 01:09] ymodak commented on #24524
Closing this issue since workaround has been provided and [PR](https://github.com/tensorflow/tensorflow/pull/24552) is in process. Thanks!

[2019-02-08 01:09] #24524 closed

[2019-02-08 01:11] jvishnuvardhan commented on #25601
@nizlas I am not sure why you are not able to run. I was able to run the your code as follows. I had to change float type from float64 to float32 and removed brackets around enabling eager. Please check whether this will work on your computer.

import tensorflow as tf
tf.enable_eager_execution
import numpy as np
from tensorflow.keras.layers import BatchNormalization
bn = BatchNormalization()
x = n

[2019-02-08 01:12] qlzh727 commented on #24600
Thank for reporting this, and sorry for the very late reply.

The cudnn gru kernel is provide by Nvidia, and we don't think it has a bug. tf.keras.layers.GRU is an equivalent implementation as the Cudnn GRU. They should generate same math result if the inputs and kernel weights are the same. Due to the limit of resource, we don't have enough time to debug your code. You can refer to tf.keras.layer

[2019-02-08 01:14] MarkDaoust commented on #25587
@shyamalschandra I don't mean to give the impression that I'm negating your request!

The request is 100% valid. I agree that it's something we should work on.

Issues in the tracker here however are more helpful if they're precise and achievable. Like "better docs for tf/audio/decode_wav"

This overall task would make sense to track with a spread-sheet and issues for the 100 most popular apis. Th

[2019-02-08 01:16] ksekine commented on #25579
Thank you for your reply.
Issue template is shown below.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.14.2
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: on Simulator and on Samsung Galaxy S8
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 0.0.0-gpu-experimental
- Python ver

[2019-02-08 01:17] gehring opened #25606 "~40% slow down since 1.13.0.dev20190202"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: public Colab instance and Debian
- TensorFlow installed from (source or binary): binary
- TensorFlow version: >= 1.13.0.dev20190202
- Python version: 3.6.7
- CUDA/cuDNN version: 10
- GPU model and memory: K80 (originally occurred on T4 and V100)

**Describe the current behavior**
Performance on some simple loo

[2019-02-08 01:24] qlzh727 commented on #25421
Sorry for the late reply.

If I read your code correctly, the input to LSTM is the output from a flatten layer, which should be a 2D tensor. If that's the case, then it is expected to throw an error since RNN will expect a 3D tensor as input (batch, timestep, feature).

[2019-02-08 01:28] ymodak commented on #25305
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-08 01:28] #25305 closed

[2019-02-08 01:29] ymodak commented on #25237
Closing this issue since its resolved. Thanks!

[2019-02-08 01:29] #25237 closed

[2019-02-08 01:30] ymodak commented on #25216
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-08 01:30] #25216 closed

[2019-02-08 01:58] ksekine commented on #25537
Additional info.
I tried runnnig my custom model on Galaxy S8. It takes about **150 msec** to run inference.
It is faster than on Simulator, but slower than on Benchmark Tool.

I expect that my custom model should run much faster than [mobilenet on official tutorial](https://www.tensorflow.org/lite/performance/benchmarks) because it is very light model compared to mobilenet.

[2019-02-08 02:18] stakemura commented on #24059
Thanks. I've already checked both single and multiple threading with C++ benchmark model tool (not Java demo).

[2019-02-08 02:51] TropSpirit opened #25607 "Error while Building tensorflow using cross-tool for aarch64"
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): - Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): source trying to build and install for aarch64 (arm64)
- TensorFlow version:  1.12.0 (trying to install)
- Python version: 3.6
- Installed using virtualenv? pip? conda?: NO - virt

[2019-02-08 03:08] TropSpirit opened #25608 "Building tensorflow from Source for arm64"
Hi All,

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.12.0
- Bazel installed version : 0.21.0
- Python version: 3.6
- Installed using virtualenv? pip? conda?:
- Bazel vers

[2019-02-08 03:21] hemangjoshi37a commented on #8385
@TomMaullin okay bro. Thank for the help.

[2019-02-08 03:38] hefv57 commented on #20778
@case540
your suggestion worked for me just fine on Windows 10. Thank you!

[2019-02-08 03:39] asimshankar commented on #25440
From what you've described I'm having a hard time understanding where the error is (is it when running the classifier or normalizing the image?), what this has to do with your original question of batching, what `inputTensor` is etc.

Please provide a [minimal, complete, verifiable example](https://stackoverflow.com/help/mcve) as described in https://stackoverflow.com/help/mcve to make it possible

[2019-02-08 03:43] freedomtan commented on #25171
@defaultUser3214 Surely TFLite doesn't have image_tensor problem, because there is no such node if you follow [the article](https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193) I mentioned. I don't know if there is any documentation on preprocessing and postprocessing of the model. I guess most people figure it out by read

[2019-02-08 03:56] Sayan98 commented on #20517
To anyone else coming to this thread, the above mentioned tf-nightly packages are good. Install them with `pip3 install tf-nightly` for the CPU version. Tested, working on Python 3.7.2 on MacOS Mojave 10.14.2

[2019-02-08 04:40] mccane opened #25609 "tf.nn.conv2d_transpose different behaviour if output_shape is a list"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
tf version 1.12. It probably relates to other versions too. System information doesn't matter.

**Describe the c

[2019-02-08 05:44] anshkumar commented on #25578
@skye [data.zip](https://drive.google.com/open?id=1WeloJjk-9nwEIrtxCcAkJi-QIiilH8Kq)
[temperature data](https://drive.google.com/open?id=1ixIwfLEP0UXrhxXi3edBlJDH3CzbIXX6)

[2019-02-08 06:13] daidong commented on #25552
@jvishnuvardhan thanks for your comment.  The path length in Windows 10 was already removed before I had these error messages.

[2019-02-08 07:17] edumotya commented on #12745
It's not solved yet. The same issue using runtimeVersion 1.12:

[code]

[2019-02-08 08:19] KandariAnkita commented on #25541
pip install tensorflow
this command work for me.

On Wed, Feb 6, 2019 at 9:18 PM Vidur Satija <notifications@github.com>
wrote:

[2019-02-08 08:23] peter197321 opened #25610 "Make of benchmark tool"
Is there a make to build benchmark tool instead of bazel?

[2019-02-08 09:16] dmitrievanthony opened #25611 "Docker images with tags `1.13.0rc0` and `1.13.0rc0-py3` contains wrong version of TensorFlow"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 17.04**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **-**
- TensorFlow installed from (source or binary): **Binary/Docker**
- TensorFlow version: **???**
- Python version: **2.7**, **3.5**
- Installed using virtualenv? pip? conda?: **Docker**
- Bazel

[2019-02-08 09:20] mgaido91 commented on #25564
@SungchulLee I still think that the documentation is correct and not inconsistent.
ref1 says: "It draws samples from a truncated normal distribution centered on 0 with stddev = sqrt(2 / (fan_in + fan_out)) ..." which is true.

ref2 says: "The generated values follow a normal distribution with specified mean and standard deviation..." which is true again.

You are saying that the documentation is i

[2019-02-08 09:21] Vooblin commented on #25486
@mdfaijul Thanks for you response!

[2019-02-08 09:21] #25486 closed

[2019-02-08 09:54] ved27 opened #25614 "Segmentation fault - Convolution in tflite"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-02-08 10:40] joepareti54 commented on #24811
thanks for the hint, however it fails just as before even with tensorflow
1.13.

see the log file with highlighted keypoints

Am Fr., 8. Feb. 2019 um 00:23 Uhr schrieb ymodak <notifications@github.com>:

--
Regards,
Joseph Pareti - Artificial Intelligence consultant
cell +49 1520 1600 209
cell +39 339 797 0644

[2019-02-08 10:43] apiszcz commented on #25593
Thanks, we are trying to get all platforms to 3.7, (from 3.5) will wait for 1.13, thank you!

[2019-02-08 10:43] #25593 closed

[2019-02-08 10:44] herbakamil commented on #25526
even though later I've installed estimator.

So of course I've tried to rerun with tensorflow-estimator installed but it didn't help
Inside ipython `from tensorflow_estimator.python import estimator` runs fine

[2019-02-08 10:54] bwolfus opened #25616 "How to get the minimum and maximum cuda compute capability for the given version of TensorFlow."
Hello, is any way to get the supported versions of compute capablity.
An exemplary function could look like this:
`>>>import tensorflow as tf`
`>>>tf.get_supported_compute_capablity()`
`(3.0, 7.0)`

**System information**
- TensorFlow version 1.10:
- Are you willing to contribute it (Yes/No): Yes

[2019-02-08 11:02] scouvreur commented on #25461
Sure ! I will work on the GCC/Compiler, CUDA/cuDNN versions and the GPU model and memory

[2019-02-08 11:32] Seondong commented on #24828
Same issue here!

[2019-02-08 12:03] nwestlake commented on #25525
Thanks for the reply.

I think my use case is the use of a model_fn without Keras rather than using a Keras model in an estimator. Currently, users are being told that the use of batch_normalization is deprecated and being directed to the Keras layer. The problems are two fold:

1. (communication "gotcha") The alternative does not change UPDATE_OPS but there is no warning in the deprecation messag

[2019-02-08 12:50] lucasbsimao opened #25618 "Docker image tensorflow/tensorflow:latest-gpu failed to use nvidia/cuda image"
Hello guys,

I am facing some problems when running image tensorflow/tensorflow:latest-gpu. When I try to execute the command ( which is found in [docs](https://www.tensorflow.org/install/docker#examples_using_gpu-enabled_images) ) :

[code]

I get the following error:

[code]
It may be caused by not properly installed NVidia driver, as seen [here](https://devtalk.nvidia.com/default/topic/1046289/

[2019-02-08 12:53] Windsmild commented on #20690
wrong syntax
should be
`sudo sed -i "backupname"  's/async/async_py3/g' /usr/local/lib/python3.7/site-packages/tensorflow/python/pywrap_tensorflow_internal.py
`
and work

[2019-02-08 12:57] ElderOrb commented on #22643
Okay, I'll downgrade bazel and retry. Any hints on missing symbols issue (undefined reference to 'vtable for tflite::ErrorReporter') ?

[2019-02-08 13:47] Ashokcharu commented on #25480
Above I had explained everything????

I got the graph data from the trained graph.

Then I passed both image data and graph data into **TF_SessionRun** . After done passing data's, When I view ` cvShowImage("Face Detection", img);`. It's not detecting the face.

Above I posted my full code please check.

Atleast, If any one will give idea!!!, That will be great help.

Thanks

[2019-02-08 13:50] ygoncharov commented on #23733
The same problem exists on the official Cloud Deep Learning VM Image (TF 1.12, CUDA 10). It runs out of memory within a few minutes when training data on gs://. Runs perfectly fine when the bucket is mounted to the local fs.

[2019-02-08 14:05] teffanymae opened #25619 "Could I possibly count the detected object in tensorflow?"
here is my code

import os
import cv2
import numpy as np
import tensorflow as tf
import sys

sys.path.append("..")

from utils import label_map_util
from utils import visualization_utils as vis_util
from api import object_counting_api

MODEL_NAME = 'inference_graph'
IMAGE_NAME = 'tree.png'

CWD_PATH = os.getcwd()

PATH_TO_CKPT = os.path.join(CWD_PATH,MODEL_NAME,'frozen_inference_graph.pb')

PATH_T

[2019-02-08 14:36] iLeW commented on #25542
I have had the same problem and I have solved it setting `write_graph=False` inside the callback creation:
`cb = keras.callbacks.TensorBoard(log_dir='./logs', histogram_freq=5, batch_size=256, write_graph=False, write_grads=True, write_images=False, embeddings_freq=5, embeddings_layer_names=None, embeddings_metadata=None, embeddings_data=train_data)`.
This should be because the different use of gr

[2019-02-08 14:41] ksachdeva opened #25620 "MirroredStrategy, dataset sharding, notion of keras epoch - inconsistent and confusing"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Both
- TensorFlow version (use command below): 1.12
- Pytho

[2019-02-08 14:50] aniketbote commented on #25597
My OS as stated in issue is windows 10.
I don't have bazel since I am building it from source.
I have uninstalled Microsoft visual studio 2017 community edition, cuda and delete cudnn from system
I started fresh as per the tested build supports.
1) Uninstalled python and deleted the site - packages folder from the system
2) Downloaded Microsoft visual studio 2015 community edition from [here](http

[2019-02-08 14:59] facaiy commented on #25564
@fchollet @ppwwyyxx can anyone shed some light on the discussion?

[2019-02-08 15:13] wickstopher opened #25621 "TopKV2 Op incorrectly requiring scalar input for k"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS Mojave 10.14.2
- TensorFlow installed from (source or binary): binary (pip)
- TensorFlow version (use command below): ('v1.12.0-rc2-3-ga6d8ffae09', '1.12.0')
- Python version: 2.7.10

**Describe the current beh

[2019-02-08 15:18] zvikapeter commented on #20241
@learnermaxRL
Well, I'm not sure why but for me downgrading tensorflow 1.11 to 1.10 fixed this issue...
I'd be happy to know it worked for you.
Good luck :-)

[2019-02-08 16:41] jvishnuvardhan commented on #25597
@aniketbote Did you remove the restriction on path length as mentioned in my earlier response. Thanks!

[2019-02-08 17:03] alextp commented on #25504
@iganichev do you know why the placer is getting confused here?

[2019-02-08 17:09] SungchulLee commented on #25564
@mgaido91 My point is that:

The key word stddev in the definition of tf.truncated_normal_initializer in ref2 is the standard deviation of the underlying normal distribution, not  the standard deviation of the truncated normal distribution itself (I did a simple experiment with above python code and ckecked this fact. @mgaido91 misunderstood this part) whereas

the key word stddev of tf.truncated_

[2019-02-08 17:12] jvishnuvardhan commented on #25607
Thank you for your post. We noticed you have not filled out the fields in the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. Thanks!

[2019-02-08 17:13] cih9088 opened #25623 "behaviour of tf.GPUOptions(allow_growth=False) seems different"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-02-08 17:14] mmkamani7 commented on #11626
I am getting this error in Python as well, similar to @vipinpillai. Is there any update on this issue? Is there any short-term workaround for it?

[2019-02-08 17:16] jvishnuvardhan commented on #25608
@TropSpirit I am closing this issue as it was a duplicate issue #25607 . Please fill the template in that open issue then we will try to resolve as soon as possible. In future, please don't create duplicate issues. Thanks!

[2019-02-08 17:17] jvishnuvardhan commented on #25610
Thank you for your post. We noticed you have not filled out the fields in the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Thanks!

[2019-02-08 17:22] mgaido91 commented on #25564
@SungchulLee I understood what you mean and why you got confused. The point is that in ref1 the documentation is talking about the stddev of the truncated normal distribution (I think it is quite clear from the snippet I copy-pasted above); while in ref2 it is referring to the stddev of the underlying normal distribution (again, I think it is clear from the snippet copied from there). I think the

[2019-02-08 17:24] jvishnuvardhan commented on #25614
@ved27 Could you share some reproducible code and also please mention what is your OS. Please provide as many details as possible to resolve this faster. Thanks!

[2019-02-08 17:27] aniketbote commented on #25619
You can count the number of objects detected/ bounding boxes printed by making slight change in visualization_utils which is placed in the utils folder which you are importing.
In the visualization_utils, search for the function "**visualize_boxes_and_labels_on_image_array**".
In the function there is a for loop  stated like "**for box, color in box_to_color_map.items():**".
To count the number of

[2019-02-08 17:32] TropSpirit commented on #25607
* OS Platform and Distribution (e.g., Linux Ubuntu 16.04): - Ubuntu 16.04
* Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
* TensorFlow installed from (source or binary): source trying to build and install for aarch64 (arm64)
* TensorFlow version:  1.12.0 (trying to install)
* Python version: 3.6
* Installed using virtualenv? pip? conda?: NO - virt

[2019-02-08 17:33] jdduke commented on #22643
I've added a proper shared library target for the C/C++ API. Have a look [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/BUILD#L404).

For static libraries, bazel does not generally produce monolithic static libraries. Each cc_library will produce a static library, but only for the sources of that target; dependencies will remain in separate static libraries. There is a

[2019-02-08 17:33] #22643 closed

[2019-02-08 17:35] ymodak commented on #25541
That's right. I will close this issue since its resolved. Feel free to reopen if have any additional questions. Thanks!

[2019-02-08 17:35] #25541 closed

[2019-02-08 17:37] jvishnuvardhan commented on #25619
@teffanymae Please try @aniketbote solution.
As this is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-02-08 17:45] TropSpirit commented on #25608
@jvishnuvardhan  this is not duplicate #25607 is error while using cross compile and this issue #25608 is directly compiling/building from source on arm64 bit processor and i'm getting this error. Two different issues.

[2019-02-08 17:47] jvishnuvardhan commented on #25618
@lucasbsimao Please fill the [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Which TF version, CUDA/cuDNN, python etc you installed? Thanks!

[2019-02-08 17:48] aniketbote commented on #25597
Yes, i followed the link provided by you.
My long path was already enabled (set to 1).

[2019-02-08 18:05] ved27 commented on #25614
Hi ,

 I'm unable to share the exact code. However, I am able to reproduce the issue setting the above input shapes and kernel sizes in the testing code of quantized convolution in tflite.

Awaiting your reply,

[2019-02-08 18:08] Sudeepam97 commented on #25564
The documentation looks correct to me as well. To make sure that such a confusion does not arise again, maybe we can edit the **Returns** part of ref2 to say. "A tensor of the specified shape filled with random values from a truncated normal distribution with `trunc_mean = mean` and `trunc_stddev = stddev / 0.87962566103423978`".

[2019-02-08 18:11] ymodak commented on #24955
@jesen8 Apologies for the delay in response. (Correct me if I am wrong) I see that you are trying to install tf-gpu version with cuda 10. In that case you should try installing TF 1.13.0-rc0 as it comes with pre-built binaries for cuda 10. Let me know if that helps. Thanks!

[2019-02-08 18:16] surak commented on #22940
Yes it is still an issue. Tensorflow's docker images are broken: https://www.tensorflow.org/install/docker links against cuda 9, but deploys will cuda 10

[2019-02-08 18:21] jvishnuvardhan commented on #25621
@wickstopher the tf.nn.top_k op is expecting a scalar and you are providing a tensor. Please check an implementation [here](https://stackoverflow.com/questions/40808772/tensorflow-top-n-values-in-tensor) and [here](https://www.tensorflow.org/api_docs/python/tf/math/top_k) is the TF resource.

This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [St

[2019-02-08 18:21] #25621 closed

[2019-02-08 18:25] ymodak commented on #22940
The latest release TF 1.13.0-rc0 comes with cuda 10 support. Therefore the docker gpu images are deployed with cuda 10.

[2019-02-08 18:25] SungchulLee commented on #25564
How about changing ref1 as follows:

ref1: https://www.tensorflow.org/api_docs/python/tf/keras/initializers/glorot_normal
It draws samples from a truncated normal distribution centered on 0 with ```standard deviation``` sqrt(2 / (fan_in + fan_out)) where fan_in is the number of input units in the weight tensor and fan_out is the number of output units in the weight tensor.

This change is ok with

[2019-02-08 18:26] omalleyt12 commented on #25585
Hi @eliasah, thanks for the issue! Could you share how you are creating `embedding_layer`?

[2019-02-08 18:27] Yuui-Asuka commented on #25552
@daidong I also encountered this problem. How did you solve it?

[2019-02-08 18:30] mmv commented on #21889
@suharshs this is still a problem because:
* the feature should be available without any workaround, especially something as low level as overriding the variable creation
* the override in the workaround goes against the direction of tensorflow which is to use ResourceVariables by default

[2019-02-08 18:32] surak commented on #22940
Maybe google itself hasn't been updating their stuff?

[code]

[2019-02-08 18:36] surak commented on #22940
This is inside of the official nightly devel-gpu image:

[code]

So, clearly linked to cuda 9. BUT:

[code]

[2019-02-08 18:40] jvishnuvardhan commented on #25527
@Dekken Were you able to successfully install tf_gpu? I have followed the following [resource](https://github.com/rnreich/ubuntu-tensorflow-gpu-all-versions) and installed tf_gpu successfully. Could you try it. You might need to modify few things like CUDA version and drivers etc. Please let me know how it progresses. Thanks!

[2019-02-08 18:42] ymodak commented on #24221
Apologies for the delay in response. Can you please build against latest version of TF and test again.
Note that TF 1.13.0-rc0 comes pre-built cuda 10 binaries, thus you may have to upgrade your cuda version. Thanks!

[2019-02-08 18:51] iganichev commented on #25504
This error message is checking for obvious device assignment violations during op creation in Python (ops.py). It appears that the tower0/gradients/tower0/cond/while_1/cond/Prod_grad/GatherV2_1/axis op has "/device:GPU:0" explicitly requested in the code and there is a colocation context active that asks for this op to be colocated with tower0/cond/while_1/cond/Prod, which is on "/device:CPU:0".

[2019-02-08 18:53] #24257 closed

[2019-02-08 18:53] tensorflowbutler commented on #18353
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-08 18:53] tensorflowbutler commented on #18786
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-08 18:54] tensorflowbutler commented on #24257
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2019-02-08 18:54] tensorflowbutler commented on #24336
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-08 18:57] yifeif commented on #25513
Could you try following the guide at https://github.com/tensorflow/custom-op ?

[2019-02-08 18:57] Sudeepam97 commented on #25564
@SungchulLee, let's see what others think and we can change it the way you say, if more people agree to it. However, we have to keep in mind that if we are making any changes to ref1, then we should also make similar changes in the documentation of other initializers using a truncated normal distribution as well. On the other hand, changing the **Returns** part of ref2 would allow us to skip this

[2019-02-08 19:04] yifeif commented on #16184
Thanks @pkit. As @gunan mentioned, this won't be in 1.13, but it is in the latest nightly, as well as the default if you follow the official guide building from source.

[2019-02-08 19:05] av8ramit commented on #20517
The 1.13.0rc1 release includes Python3.7 binaries for all OS-es for [cpu](https://pypi.org/project/tensorflow/1.13.0rc1/#files) and [gpu](https://pypi.org/project/tensorflow-gpu/1.13.0rc1/#files).

[2019-02-08 19:16] SungchulLee commented on #25564
@ Sudeepam97 I think you misunderstood the situation in two ways:

1. tf.random.truncated_normal is more fundamental than tf.keras.initializers.glorot_normal. tf.keras.initializers.glorot_normal depends on tf.random.truncated_normal.

2. In tf.random.truncated_normal, stddev means the standard deviation of the underlying normal distribution, not the standard deviation of the truncated normal distr

[2019-02-08 19:17] plooney opened #25625 "Dependence of output on batch size"
The response from a convolutional neural network is sometimes dependent on the batch size.

Code to reproduce

    import tensorflow as tf
    import numpy as np

    reuse = False
    init = tf.initializers.variance_scaling()
    X = tf.placeholder(
        dtype=tf.float32,
        shape=[None] + [86]*3 + [1])

    with tf.variable_scope("level1"):
        net1 = tf.layers.conv3d(X, 16, 3, activ

[2019-02-08 19:18] av8ramit commented on #25479
I'm going to close this issue for now. Please comment if this is still an issue.

[2019-02-08 19:18] #25479 closed

[2019-02-08 19:22] Dekken commented on #25527
I can install the ROCM deb file and it's fine, but I think that link is sure for Nvidia GPUs no?

[2019-02-08 19:28] whchung commented on #25527
logic for ROCm in upstream TensorFlow is not complete yet, to the very least we need #25596 in.
For now please use downstream fork from AMD at: https://github.com/ROCmSoftwarePlatform/tensorflow-upstream

[2019-02-08 19:29] skye commented on #25609
@mccane would you be willing to submit a PR? (No worries if not)

[2019-02-08 19:30] Dekken commented on #25527
fair enough, just seems a bit odd to have the config option IMO

[2019-02-08 19:30] skye commented on #24976
@gunan @allenlavoie can either of you comment?

[2019-02-08 19:34] #25527 closed

[2019-02-08 19:45] Sudeepam97 commented on #25564
@SungchulLee, I'm confused. I'm not sure why you think that I misunderstand.

I agree with these two points and this is what I had been thinking. Am I wrong? If so, then can you please explain the actual situation to me? If I am not wrong then can you please point out why you thought that I think otherwise? I sense some miscommunication.

[2019-02-08 19:46] Yuui-Asuka commented on #25552
@daidong I have same problems when I build tensorflow1.13 from source with cuda10.0 and cuda9.2,how did you solve it?

[2019-02-08 19:46] daidong commented on #25552
No, the issue is still there.

[2019-02-08 20:02] lucasbsimao commented on #25618
According to [TensorFlow docs](https://www.tensorflow.org/install/docker) there is no need of previous installation of python or CUDA. Just Nvidia driver.

[2019-02-08 20:14] eliasah commented on #25585
Oh sure @omalleyt12 ! Sorry, I thought it was there.

So here it is :

[code]

[2019-02-08 20:20] Sudeepam97 commented on #25564
In ref1, **stddev** refers to the standard deviation of truncated normal. There are other initializers as well (like `lecun_normal`) where **stddev** refers to the standard deviation of truncated normal. Going by your way, we should edit **stddev** to **standard deviation** for all of these initializers.

Now, all of these initializers depend on `tf.random.truncated_normal` and in it, **stddev** r

[2019-02-08 20:54] tomerk commented on #25418
This has been fixed in head.

[2019-02-08 20:54] #25418 closed

[2019-02-08 20:55] tomerk commented on #24686
Just an update to this: We've actually come up with a solution to this inside of tensorflow, that should now be in the nightlies.

[2019-02-08 20:58] pachpandepriti opened #25629 "tf.reshape function error using lambda layer in tensorflow backend keras"
Example - size of spectrum is (2240,1)
def rehape(spectrum):
    N_Sub=32
   spectrum=tf.manip.reshape(encode_complex,[(tf.size(encode_complex)/N_Sub),N_Sub])
   return spectrum
The resulting size is (2240,1) instead of (70,32)
Can anyone help me where I am going wrong?
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.m

[2019-02-08 21:02] SungchulLee commented on #25564
@Sudeepam97 I think we are on the same page. Good.

I don't think it is wise to change any key word. What I propose is to change documentation instead.

Original:
ref1: https://www.tensorflow.org/api_docs/python/tf/keras/initializers/glorot_normal
It draws samples from a truncated normal distribution centered on 0 with stddev = sqrt(2 / (fan_in + fan_out)) where fan_in is the number of input units

[2019-02-08 21:12] omalleyt12 commented on #25585
Hmm, it looks like in both latest Keras and latest TF Keras, support for the `weights` argument no longer exists:

https://github.com/keras-team/keras/blob/master/keras/layers/embeddings.py#L80

I'm seeing the right results with this approach:

[code]

We should probably throw an error or at least a warning when unsupported args are passed

[2019-02-08 21:17] erdeq-upenn commented on #17411
works for me if downgrade to 1.5 (pip install tensorflow==1.5)

[2019-02-08 21:19] erdeq-upenn commented on #19584
I have the same issue. Tried to build binary with bazel but failed. Try this "pip install tensorflow==1.5". It works for me.

[2019-02-08 21:19] eliasah commented on #25585
This sounds good to me ! Thanks for your help.

[2019-02-08 21:27] jvishnuvardhan commented on #25542
@chandanchinta Please try solution provided by @iLeW, if the solution works then close this issue and open another issue for TF2.0. Thanks!

[2019-02-08 21:43] jvishnuvardhan commented on #25607
@TropSpirit One thing I quickly noticed is version of Bazel. Please check the test build configuration [here](https://www.tensorflow.org/install/source#linux). DO you mind downgrading Bazel to 0.15.0 and test whether the error is same or not. Meanwhile I will also take a deeper look at the issue. Thanks!

[2019-02-08 21:43] ymodak commented on #25193
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-08 21:43] #25193 closed

[2019-02-08 21:43] nkdsoft opened #25632 "Tensorflow v1.13.0-rc1 compilation fails. Bazel 0.19.0"
**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from: Source.
- TensorFlow version:  v1.13.0-rc1
- Python version: 3.6
- Installed using:  within a conda virtual environment
- Bazel version: 0.19.0 /  0.19.2 / 0.20.0 / 0.21.0  (same results)
- GCC/Compiler version: 4.8.5
- CUDA/cuDNN version: 10.0
- GPU model and memory: RTX 2070 8,192 MB

**Describ

[2019-02-08 21:47] RitiP commented on #5125
@civilman628 Did you find a solution for this? I'm facing the same issue.

[2019-02-08 21:50] ymodak commented on #23413
I was able to execute your code snippet successfully using TF 1.13.0-rc0 Thanks!

[2019-02-08 21:50] #23413 closed

[2019-02-08 21:51] Sudeepam97 commented on #25564
Can you clear me up on what exactly do you mean by 'key word'? Even I propose to change the documentation, but I suppose that we should change [this](https://www.tensorflow.org/api_docs/python/tf/random/truncated_normal#returns) section of ref2 to say, (I'll re-phrase) "returns a tensor of the specified shape, filled with random values from a truncated normal distribution with the mean equal to `m

[2019-02-08 21:56] xilenteyex commented on #24587
Hi @alextp ,
I tried adding control dependencies after creating the graph, but the graph is not updating. Specifically, I tried modifying the control_inputs field of the ops, but looks like its not mutable. [here is the link of the code that i tried](https://gist.github.com/xilenteyex/bb6b63bafc0691102920b4b6b6f1ad2b). Goal is to modify the graph by adding control dependencies and load this new gr

[2019-02-08 22:03] jvishnuvardhan commented on #24211
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-02-08 22:04] alextp commented on #24587
I told you this is not supported. You keep insisting on it, don't. Refactor
the code and add the dependencies at creation time. Anything else is
unlikely to work in a reliable way.

On Fri, Feb 8, 2019 at 2:00 PM xilenteyex <notifications@github.com> wrote:

--
 - Alex

[2019-02-08 22:06] ymodak commented on #24399
For follow up questions, They are better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/t

[2019-02-08 22:06] #24399 closed

[2019-02-08 22:06] Sudeepam97 commented on #25625
@plooney, I am not sure that I understand your issue. Can you provide a more detailed explanation? Do you mean to say that your convolutional network produces slightly different outputs when trained using batches of slightly different sizes? That is supposed to happen. Batch sizes affect the values obtained by trainable parameters.

[2019-02-08 22:07] jvishnuvardhan commented on #24216
@KrisHan999 This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-02-08 22:07] angersson commented on #25611
This was caused by a bug in our CI for the Docker images (it didn't check release candidates properly). I've updated the tags manually and fixed the CI.

Thanks for the report!

[code]

[2019-02-08 22:07] #25611 closed

[2019-02-08 22:18] angersson commented on #25618
A bug (which has been fixed) in our Docker release CI led to the `latest-` tagged images containing CUDA 10 libraries but TF 1.12 (which needs CUDA 9). The images have been updated so that they use CUDA 10 and TF 1.13rc1 (which needs CUDA 10). Sorry about the confusion.

I think your driver is too old to support CUDA 10 (see [NVidia's compatibility table](https://docs.nvidia.com/deploy/cuda-compat

[2019-02-08 22:19] maweigert commented on #21637
Hi,

I've seen the same prediction artifacts with CUDA 9.0, tf 1.12, cudnn 7.4.2 and even for more innocuous input shapes (e.g. `96, 480, 480`). **The solution was to install all the CUDA 9.0 patches** that are listed at the [installation page](https://developer.nvidia.com/cuda-90-download-archive?target_os=Linux&target_arch=x86_64&target_distro=Ubuntu&target_version=1704&target_type=runfilelocal)

[2019-02-08 22:22] angersson commented on #25558
There was a bug in our Docker CI scripts that pushed broken images. Now that they've been fixed, I verified that this works on Linux:

[code]

[2019-02-08 22:22] ymodak commented on #24471
@ChineduLB Apologies for the delay in response. TF 1.13.0-rc0 is released and comes with cuda 10 pre-built binaries. Give it try. Thanks!

[2019-02-08 22:23] angersson commented on #25458
A bug (which has been fixed) in our Docker release CI led to the `latest-` tagged images containing CUDA 10 libraries but TF 1.12 (which needs CUDA 9). The images have been updated so that they use CUDA 10 and TF 1.13rc1 (which needs CUDA 10). Sorry about the confusion.

[2019-02-08 22:23] #25458 closed

[2019-02-08 22:23] #25558 closed

[2019-02-08 22:23] #25618 closed

[2019-02-08 22:35] Sudeepam97 commented on #25629
What is encode_complex? If you're trying to reshape `spectrum`, the command should be...
`spectrum = tf.manip.reshape(spectrum, [ (tf.size(spectrum) / N_Sub), N_Sub])`

Also, please keep in mind that this panel is meant for "code/doc bugs, performance issues, feature requests and build/installation issues". Your issue is essentially a question for [stackoverflow](https://stackoverflow.com/).

[2019-02-08 22:37] SungchulLee commented on #25564
@Sudeepam97 I am new to github (this is my first writing in github), python (2 years in a computer language), and tensorflow (so, you can guess) and so my wording may be incorrect. Even, I don't know what is PR.

According to my shallow understanding of python language

[code]

[2019-02-08 22:41] pachpandepriti commented on #25629
I tried that still doesn't work. I get same output

[2019-02-08 22:48] xilenteyex commented on #24587
I don't know how to add dependencies to each low level operation created individually when I create an [LSTM cell](https://www.tensorflow.org/api_docs/python/tf/nn/rnn_cell/LSTMCell) for a neural network in my model.

[2019-02-08 22:52] ymodak commented on #24448
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-08 22:52] #24448 closed

[2019-02-08 22:54] jvishnuvardhan commented on #25608
@TropSpirit Sorry for the mistake. Please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Thanks!

[2019-02-08 22:54] leimao commented on #10287
I got a similar problem recently on Ubuntu 18.04 LTS with TensorFlow-GPU 1.12. The driver, CUDA, cuDNN are the latest. For training even simple small model, the screen turned black but the computer was fine (as I could still listen to the music from the computer). Still have no clue what is going wrong. I had a RTX 2080 GPU.

[2019-02-08 22:55] ymodak commented on #24427
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-08 22:55] #24427 closed

[2019-02-08 22:55] racinmat commented on #23795
@Prakash19921206  did you build it with XLA JIT or not?

[2019-02-08 22:56] skye commented on #24393
I believe most language bindings that wish to support an TF Eager-like API (e.g. GradientTape) wrap the TFE_* functions in addition to the TF_* functions. Does this help?

[2019-02-08 23:02] ymodak commented on #24685
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-02-08 23:02] #24685 closed

[2019-02-08 23:03] plooney commented on #25625
@Sudeepam97 Perhaps I am missing something. In the above example there is no training. I appreciate the effect of batch size on training. [This](https://github.com/tensorflow/tensorflow/issues/11295)  bug sounds similar

I am using a patch based approach to do image segmentation. When I have trained my model I break my images up into patches pass these through the CNN and combine the outputs to gi

[2019-02-08 23:09] jvishnuvardhan commented on #25597
@aniketbote Thanks for the confirmation. I will try to install on my windows10 system and get back to you. Meanwhile, try to install CUDA 9.0 because some of the modules looking for a cuda9.0 path. This is one of the common error. So it is better to load 9.0 version or check whether all the paths (CUDA-->cuDNN, Python, tensorflow, other modules) are referenced correctly. Thanks!

[2019-02-08 23:20] mccane commented on #25609
Nah - more trouble than it’s worth for me at the moment. Someone else can claim all the glory (or blame):-)

Cheers,

Brendan

[2019-02-08 23:32] anilknayak commented on #25440
Sorry for the log code, This would help to analyse what I am trying to do

[code]

[2019-02-08 23:32] gunan commented on #25552
Could you share full build logs using pastebin?
The error means dll cannot be found, but I think there was another issue building the DLL.

Could you also use pastebin to share the logs when you run configure?

[2019-02-08 23:35] ppwwyyxx commented on #25625
Many floating point operations are not deterministic on GPU and they also have limited precision. So it's very common to not obtain bit-wise identical results.

[2019-02-08 23:39] lostmsu commented on #18
My company is developing a full C# binding to Python API: https://losttech.software/gradient.html

[2019-02-08 23:43] plooney commented on #25625
@ppwwyyxx I seem to get consistent and expected results for certain batch sizes but not others. Is your explanation consistent with that observation?

[2019-02-08 23:47] ppwwyyxx commented on #25625
That's reasonable as well. Tensorflow (or cudnn) may choose to use one implementation for certain batch sizes and another implementation for others.

[2019-02-09 00:00] anilknayak commented on #25440
Like we feed in Python
[code]
Here in ```feed_dict={input: images }```
images is the numpy 4D array [<batch>, <height>, <width>, <channels>]
this will give output as [<batch>][output]

[2019-02-09 00:09] gunan commented on #25312
This is really interesting. I have never seen this issue.
While this may cost you quite some time, could you try running:
`bazel clean --expunge`
Then rerunning configure, then build?

Also, did you modify the source code at all?

[2019-02-09 00:13] plooney commented on #25625
@ppwwyyxx Consider the following

    for i, t in enumerate(tensors):
        print(i, np.mean(np.abs(t))/np.mean(np.abs(tensors[0])))

The output is

0 1.0
1 1.0
2 1.0
3 1.0
4 1.0
5 1.0
6 1.0
7 1.0
8 1.0
9 1.0
10 1.0
11 1.0
12 1.0
13 1.0
14 1.0
15 1.0
16 1.0
17 1.0
18 1.0
19 1.0
20 1.0
21 1.0
22 1.0
23 1.0
24 1.0
25 1.0
26 1.0
27 1.0
28 1.0
29 1.0
30 0.98064667
31 1.0
32 1.0
33 0.9253961
34 1.0
3

[2019-02-09 00:28] gunan commented on #25616
Minimum compute capability can be seen here:
https://www.tensorflow.org/install/gpu#hardware_requirements

If we are not supporting this value, that means we have a bug.
While the API is an interesting idea, I think our docs cover this. And this is a pretty stable value that I don't think a new API symbol is that useful.

[2019-02-09 00:28] #25616 closed

[2019-02-09 00:48] ppwwyyxx commented on #25625
That's some very interesting results to see. Running the same code on my environment gives the ratios all between 0.9999 and 1.0.

This seems to be more of an environment issue, then. It might help to upgrade cudnn because AFAIK cudnn mentions in several release notes about improvement/bugfix of numerical issues.

[2019-02-09 00:49] facaiy commented on #25564
Don't worry, PR is short for pull request :-)

Thank everyone for your useful suggestion! Let's make it simple and keep consistent with VarianceScaling, I'm fine with:

It draws samples from a truncated normal distribution centered on 0 with **standard deviation (after truncation)**  stddev = sqrt(2 / (fan_in + fan_out))

Welcome to create a PR if anyone is interested in it. Please ping me,then I'

[2019-02-09 00:59] henrysky opened #25636 "1.13.0rc1 requires numpy >=1.16.0 instead of >=1.13.3 stated in setup.py in r1.13 branch???"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 x64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Binary
- TensorFlow version: 1.13.0rc1
- Python version: 3.7.1
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): N

[2019-02-09 01:00] jvishnuvardhan commented on #23702
@Abhijit-2592 and @XYudong Is this still an issue? Could you try loading newer TF version and check it? Please let me know the progress. Thanks!

[2019-02-09 01:06] jvishnuvardhan commented on #23715
I think it was resolved. I am closing the issue. Please open new ticket if you see similar issue again. Thanks!

[2019-02-09 01:09] jvishnuvardhan commented on #23716
@sanjaybharadwaj and @hoavt-54 Is this still an issue? If it is still an issue, please fill the fields in the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Thanks!

[2019-02-09 01:17] jvishnuvardhan commented on #24218
@farimani Is this still an issue with new TF version? Could you check whether the issue persists? Thanks!

[2019-02-09 01:19] plooney commented on #25625
Upgraded to cudnn v7.4.2 with similar results

0 1.0
1 1.0
2 1.0
3 1.0
4 1.0
5 1.0
6 1.0
7 1.0
8 1.0
9 1.0
10 1.0
11 1.0
12 1.0
13 1.0
14 1.0
15 1.0
16 1.0
17 1.0
18 1.0
19 1.0
20 1.0
21 1.0
22 1.0
23 1.0
24 1.0
25 1.0
26 1.0
27 1.0
28 1.0
29 1.0
30 0.967046
31 1.0
32 1.0
33 0.9185082
34 1.0
35 1.0
36 1.0
37 1.0
38 1.0
39 0.97963786
40 0.992207
41 0.85242534
42 1.0
43 1.0
44 1.0
45 1.0
46 0.798846

[2019-02-09 01:27] TropSpirit commented on #25607
I tried using bazel 0.15.0 for crosscompiling still same error. i even tried tensorflow 1.8 and bazel 0.10.0

$ bazel build -c opt //tensorflow/examples/label_image --cpu=aarch64 --crosstool_top=//tools/aarch64_compiler:toolchain --host_crosstool_top=@bazel_tools//tools/cpp:toolchain --verbose_failures

**_ERROR: /home/cmp/.cache/bazel/_bazel_nshivash/a20291383e693f326d5a9bf14cdd7b80/external/nsyn

[2019-02-09 01:28] SungchulLee commented on #25564
@facaiy  I am fine with your proposal.

[2019-02-09 01:33] jvishnuvardhan commented on #25629
@pachpandepriti
spectrum=tf.zeros([2240,1], tf.int32)
N_Sub=32
spectrum = tf.manip.reshape(spectrum, [(tf.size(spectrum) / N_Sub), N_Sub])

Please note that reshape fun looks for a tensor as input. The above worked for me and the final shape was (70,32) as you are expecting.

In future, please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorf

[2019-02-09 01:33] #25629 closed

[2019-02-09 02:32] hoavt-54 commented on #23716
@jvishnuvardhan The message is still there but I was able to use the GPUs so it's not my problem anymore.

[2019-02-09 02:42] Abhijit-2592 commented on #23702
@jvishnuvardhan , I checked on Tensorflow 1.12.0 (pip released on 6th Nov 2018) and the bug still exists. You want me to check on the 1.13.0rc1 version? which was released on 8th Feb 2019?

[2019-02-09 03:43] scm-ns commented on #3308
Use ldd on your binary to figure out if the lib dependencies are being added.
This changes based on the linux flavor you are using, but some versions of ld, will not link a library unless its is used.
In the tf case, tensorflow_cc was not being linked to my binary, even though I specified -l tensorflow_cc.
The solution was to add -Wl,--no-as-needed flag to gcc. GCC processes flags left to right, s

[2019-02-09 03:50] facaiy commented on #24181
@aselle @drpngx what do you think?

[2019-02-09 03:51] teffanymae commented on #25619
Thank you very much!! T_T

what I did is add this code at **756**

  tree = (len(box_to_color_map.items()))
  cv2.putText(image,'Tree count: ' + str(tree),(10,150),font,0.5,(255,255,0),1,cv2.LINE_AA)

[2019-02-09 04:08] teffanymae commented on #25619
last question.. T_T

how to resize the output video and image??

[2019-02-09 05:32] dpinthinker commented on #25228
@suharshs

Thank you for your detailed answer.

The preprocessed floating model used is from TFHub. The url of it is [https://tfhub.dev/google/imagenet/inception_v3/feature_vector/1](https://tfhub.dev/google/imagenet/inception_v3/feature_vector/1)

But I didn't find any info of the std_value and mean_value from it.
If possible, could you help loop the tfhub guys in this issue?

[2019-02-09 06:30] newpoo opened #25637 "c++ backend thread pool overhead"
Is there a configuration to eliminate the intra and inter thread pool and always do computation in C++ client threads that call session->run().

[2019-02-09 07:49] mvacaporale commented on #22505
I'm having the same issue (also trying to implement a wgan-gp using tensorflow eager).
@vibss2397 Were you able to get it to work?

[2019-02-09 08:10] vibss2397 commented on #22505
@mvacaporale yess. A workaround would be Disabling `tf.contrib.eager.defun` for the critic, but then again you won't get the speedup offered by `defun`

[2019-02-09 08:25] Sudeepam97 commented on #25564
@facaiy I'll be happy to create a PR. I'll submit one by today. Should I edit the documentation for all the initializers that depend on `tf.random.truncated_normal` or should I edit `glorot_normal' only?

[2019-02-09 08:28] Jeremy1995 commented on #18652
I got the same problem and it  took about 1 min to start

[2019-02-09 08:34] nkdsoft commented on #25632
I am closing this issue. After deleting the tensorflow directory and cloning it again I don't get those errors anymore. Looks like there were some Bazel generated files in the folder (not tracket by git) that were causing the problems.    I have not been able to compile but now the errors are different.

[2019-02-09 08:34] #25632 closed

[2019-02-09 10:34] sahertariq07 commented on #25581
Thank you very much @jvishnuvardhan for your response. My issue is resolved. It was due to compatibility with my system's driver. I'm going to close this issue now.

[2019-02-09 10:34] #25581 closed

[2019-02-09 10:46] facaiy commented on #25564
Thank you, Sudeepam. How about only glorot_normal at first?

[2019-02-09 10:51] Sudeepam97 commented on #25564
Alright, I'll start right away.

[2019-02-09 10:57] SteveIb commented on #23954
@achowdhery yes thanks

[2019-02-09 11:34] ElderOrb commented on #22643
After building this shared library (using bazel 0.21 and NDK 18b) and trying to link against it, I'm still getting errors:

..\app/tensorflowlite.cpp:436: error: undefined reference to 'tflite::InterpreterBuilder::operator()(std::unique_ptr<tflite::Interpreter, std::default_delete<tflite::Interpreter> >*)'
..\app\tensorflowlite/tensorflow/contrib/lite/error_reporter.h:36: error: undefined referenc

[2019-02-09 12:09] DEKHTIARJonathan opened #25638 "Can't build tensorflow master with CUDA & MPI enabled"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 16.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): master
- Python version: 3.5.2
- Bazel version (if compiling from source): 0.22.0 (tried with 0.21.0, 0.20.0, 0.19.0)
- GCC/Compiler version (if compiling from source): 5.4.0
- Nvidia Driver: 410.48
- CUDA/cuDNN ver

[2019-02-09 12:13] facaiy commented on #25570
Could you take a try with MKL? https://www.tensorflow.org/guide/performance/overview#tuning_mkl_for_the_best_performance

[2019-02-09 12:30] facaiy commented on #25609
I'm afraid that only TensorShape and list are valid for `output_shape`.

[2019-02-09 12:35] Sudeepam97 commented on #23951
@gunan I can submit a patch for this. Can you please suggest a good warning message? I have framed this one based on what @odinsbane said, but I'm not sure if its good enough `Warning: compute capabilities >= 3.5 are required for TensorFlow to work`

[2019-02-09 12:43] Emile0205 commented on #17629
This issue seems to not be given enough attention. Why is tensorflow searching for libcublas.so.9.0 when CUDA 10.0 is installed. I installed tensorflow and ran some programs but it seemed most of the GPU memory wasn't being allocated to tensorflow so I rebooted my pc and then I received this error. This needs more attention.

[2019-02-09 12:49] andreidore commented on #25093
Here is a solution to downgrade python to 3.6.5

https://www.pyimagesearch.com/2019/01/30/macos-mojave-install-tensorflow-and-keras-for-deep-learning/

[2019-02-09 13:11] lef-fan commented on #20771
you could use the aar package from here:
https://bintray.com/google/tensorflow/tensorflow/1.13.0-rc0#files/org%2Ftensorflow%2Ftensorflow-android%2F1.13.0-rc0

[2019-02-09 13:16] lef-fan commented on #22802
you could use the aar package from here:
https://bintray.com/google/tensorflow/tensorflow/1.13.0-rc0

[2019-02-09 14:01] ElderOrb commented on #22643
Okay, finally I fixed the build by commenting out my subclass for ErrorReporter, but now it crashes on querying inputs. Does it mean model format was changed?

Also, windows build is failing with the following errors:

INFO: From Linking tensorflow/lite/libtensorflowlite.so:
LINK : warning LNK4044: unrecognized option '/lpthread'; ignored
LINK : warning LNK4044: unrecognized option '/ldl'; ignored

[2019-02-09 14:36] Jakejaga5 commented on #25162
why

[2019-02-09 15:04] ilous12 commented on #25193
Hi guys. Thanks your helps.

I has a question.

When I saw deeplabv3plus codes, input_name was "ImageTensor" and output_name was "SemanticPredictions".

But deeplabv3_257_mv_gpu.tflite was inputname : sub_7, out_name : resizeBilinear_3.
I did not understand why is different ?

And I trained deeplab3plus(https://github.com/tensorflow/models/tree/master/research/deeplab), I checked by tensorboard, t

[2019-02-09 15:31] Alok-Baba opened #25639 "I want to reshape Tensor of shape[None,19,19,25] to [None,19,19,5,5] .Can anyone help me out"
I want to reshape Tensor of shape[None,19,19,25] to [None,19,19,5,5] .Can anyone help me out

[2019-02-09 15:50] Jakejaga5 commented on #23678
it just works fine with tf-nightly build of tensorflow....i converted my model successfully!!!!
please use this command to upgrade the existing tensorflow in your environment(conda)..
     pip install --ignore-installed --upgrade tf-nightly

[2019-02-09 15:59] Jakejaga5 commented on #23678
![screenshots of newly obtained tflite model](https://user-images.githubusercontent.com/16951929/52522946-661b8a00-2cbe-11e9-92a4-df0856bee2ae.png)
![tflite conversion successfully completed](https://user-images.githubusercontent.com/16951929/52522947-661b8a00-2cbe-11e9-9eab-86eee30fb15c.png)

[2019-02-09 16:30] guillaumekln opened #25641 "tf.rnn wrappers are incompatible with tf.keras.layers cells"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Ubuntu 16.04
- TensorFlow installed: binary
- TensorFlow version: `2.0.0-dev20190206`
- Python version: 3.6.6

**Describe the current behavior**

In the TensorFlow 2.0 preview, the `tf.rnn.DropoutWrapper` and `tf.rnn.ResidualWrapper` wrappers are incompatible with cells from `tf.keras.layers`. It raises an err

[2019-02-09 17:32] SippieCup commented on #25638
I had to downgrade to bazel 18.1 in order to get it to build

[2019-02-09 17:40] DEKHTIARJonathan commented on #25638
There is no chance you can build `master` branch with Bazel 0.18.1

[code]

[2019-02-09 17:47] munirulsigo commented on #23410
use nightly build that solved for me
`pip install tf-nightly`

[2019-02-09 17:50] jvishnuvardhan commented on #25639
import numpy as np
import tensorflow as tf
a=tf.placeholder(tf.int32,shape=[None,19,19,25],name='Const')
a2 = tf.reshape(a, [-1, 19,19,5,5])           # -1 means "all"
a2.shape

In future, Please post this kind of support questions in Stackoverflow as there is a big community to support.  GitHub is mainly for Build/Installation and Bug/Performance issues. Thanks!

[2019-02-09 17:50] #25639 closed

[2019-02-09 18:25] optimal16 commented on #25597
have you solved this problem ?  I meet the same one

[2019-02-09 18:40] Sudeepam97 commented on #23207
If that is so, then maybe someone with the appropriate permissions should transfer this issue to the TensorFlow benchmarks project. [This](https://help.github.com/articles/transferring-an-issue-to-another-repository/) page shows how it's done.

[2019-02-09 18:46] tensorflowbutler commented on #21022
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-09 18:46] tensorflowbutler commented on #21081
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-09 18:46] tensorflowbutler commented on #21959
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-09 19:13] Sudeepam97 opened #25643 "Maybe create a new project tensorflow/help?"
Hi, I have recently started contributing to the TensorFlow community, and I'm seeing that a lot of issues that people post are essentially some questions meant for Stack Overflow.

These issues clutter the issue tracker of the main repository which is meant for development purposes, since a maintainer who is not familiar with the answer to the question would usually not close the issue right away,

[2019-02-09 20:12] psandev commented on #24447
Hi,
this issue just happened to me.
Cuda - 10.0
CudaDNN - 7.4

./configure
WARNING: --batch mode is deprecated. Please instead explicitly shut down your Bazel server using the command "bazel shutdown".
INFO: Invocation ID: 9cf9c46b-c379-4fdc-a9f5-13ad76711061
You have bazel 0.22.0 installed.
Please specify the location of python. [Default is /home/peter/PycharmProjects/Virtual_envs/tensorflow/bin/

[2019-02-09 20:21] psandev opened #25644 "Illegal ambiguous match on configurable attribute "deps" in //tensorflow/tools/pip_package:included_headers_gather"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Ubuntu 18.04:
-
- TensorFlow installed from source
- TensorFlow version:
- Python versi

[2019-02-09 20:24] psandev commented on #25644
Tensorflow: 1.12

[2019-02-09 21:00] jpohanka commented on #21022
@tensorflowbutler Yes, it is still an issue.

[2019-02-09 21:56] maedoc opened #25645 "Inconsistent eigh gradients"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-02-09 22:53] yongtang commented on #25641
Added a PR #25646 for the fix.

[2019-02-09 23:25] asimshankar commented on #25440
That [full program provided above](https://github.com/tensorflow/tensorflow/issues/25440#issuecomment-461982846) helps (though, I'd say it qualifies as a "complete" example, but not "minimal" or "verifiable" :), I'd strongly suggest looking at guidelines in the the [link provided previously](https://stackoverflow.com/help/mcve). Doing so will make it easier for others to help).

With that said, I

[2019-02-10 01:13] jvishnuvardhan commented on #25644
Please find the [tested build configurations](https://www.tensorflow.org/install/source#linux). TF 1.12 was tested and supported with Bazel 0.15.0. Could you follow the instructions [here](https://github.com/rnreich/ubuntu-tensorflow-gpu-all-versions) and let us know how it works. I recently used those steps and successfully installed tensorflow-gpu. If you had already resolved the issue, please c

[2019-02-10 01:20] JesseFarebro commented on #25638
Seems to be caused by [this](https://github.com/tensorflow/tensorflow/commit/2dcb0a07c88ce34196d8fe55ab8f415e537e1484#diff-e7a427f0a288fee9dca5408b8d4f5ef6). `TensorResponse::InitPartial` now takes `AllocationAttributes`. If you pass in the default `AllocationAttributes` from `tensorflow/core/framework/allocator.h` it ends up compiling fine (I compiled `r1.96`).

I think @poxvoculi would have a be

[2019-02-10 01:43] jvishnuvardhan commented on #25643
Thanks @Sudeepam97 . Good Idea. We are currently working on minimizing clutter by routing support questions to [Stackoverflow](https://stackoverflow.com/search?q=tensorflow). We are also measuring few metrics that may help us to take right approach to minimize "support" questions. Thanks again!

[2019-02-10 03:16] #25325 closed

[2019-02-10 03:16] ymodak commented on #25325
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-10 03:16] ymodak commented on #24400
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-10 03:16] #24400 closed

[2019-02-10 04:03] mccane commented on #25609
Well that is a bizarre requirement unless there is some chance the output shape contents will be changed in the function. But OK, if that’s what you’re going to stick with then please have an error check that fails when a tuple is passed in. At the moment the function carries on without doing the error checking and this causes bizarre errors later on that are difficult to find. In any case, a Tens

[2019-02-10 04:15] impjdi commented on #25193
@ilous12

re: input

I have not run deeplabv3plus code you am referring to, but it looks like the input tensor usually goes through some normalization, e.g. 2.0 * (x / 255.0) - 1.0.  Apparently that has been removed, assuming the user would take care of the normalization before running the input.

re: output

I do see multiple resize bilinears in the model file?  https://github.com/tensorflow/mode

[2019-02-10 04:49] dynamicwebpaige commented on #21765
@SushanthIkshwaku Definitely still up for grabs! This would be a great add to `tf.image` ops. :+1:

(cc: @martinwicke)

[2019-02-10 05:08] facaiy commented on #25609
I understand, and for convenience, I'm fine with your proposal as well . As python is a dynamical language, it's not so easy to check type strictly without cost (type hints only supports for py3). As @skye said, welcome to submit a PR :-)

[2019-02-10 06:29] ChildishGiant commented on #18503
For me, I just needed to use 3.6 instead of 3.7

[2019-02-10 07:42] aniketbote commented on #25597
When I try to install cuda 9.0 version in my system.
I get this.
![capture](https://user-images.githubusercontent.com/38111546/52531047-3c517a00-2d35-11e9-824e-c1a95525287f.PNG)

However when I try to install 9.2 and 10 it works fine.
The above mentioned are the only two that works fine.

[2019-02-10 09:42] LordSycho commented on #22098
Same issue I am facing. Any update will be helpful?
Thanks

[2019-02-10 10:30] anilsathyan7 commented on #25193
We tried the same models and it was giving around 500ms on (OnePlus3 with Adreno 530) with proper segmentation mask.
Try using a smaller input size for better performance (at cost of accuracy offcourse)..
See:https://github.com/intel/webml-polyfill/tree/master/examples/semantic_segmentation/model
for model conversion commands.
Also if we use quantized version of same model with multiple threads it

[2019-02-10 10:49] haemaenpaa commented on #25459
I see. I tried to change the code to this:

[code]

But the behavior repeats, including emptying the network's layers.

[2019-02-10 11:21] andma1 opened #25649 "How to fix - ImportError: DLL load failed, when importing keras"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 x64
- TensorFlow installed from (source or binary): Using pip, binary
- TensorFlow version: 1.12.0
- Python version: 3.6.0
- Installed using virtualenv? pip? conda?: Installed Using Pip and virtualenv
- CUDA/cuDNN version:  ??
- GPU model and memory: Intel(R) HD Graphics, 1664 MB

I am trying to install ke

[2019-02-10 11:41] Nedrarick opened #25650 "😛😛"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-02-10 11:41] Nedrarick opened #25651 "T"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-02-10 12:11] #25651 closed

[2019-02-10 12:11] #25650 closed

[2019-02-10 12:13] facaiy commented on #25650
Hi, please provide useful information in your issue.

[2019-02-10 12:13] facaiy commented on #25651
Hi, please provide useful information in your issue.

[2019-02-10 12:26] facaiy commented on #22771
I think the issue has been fixed in #23004. Feel free to reopen it if have any additional questions. Thanks.

[2019-02-10 12:26] #22771 closed

[2019-02-10 13:16] jpohanka commented on #21022
@tensorflowbutler This feature has already been incorporated. This issue can be closed.

[2019-02-10 15:10] lgeiger commented on #25643
@Sudeepam97 Great Idea.
This process could also be easily automated by a simple bot or a [GitHub action](https://github.com/features/actions) that transfers the issue when a maintainer adds a `type:support` or `type:help` label.

[2019-02-10 16:53] pooyadavoodi commented on #25559
The GPU builds of 1.13 are built against TRT5.0, but TRT4 is also supported.

[2019-02-10 16:58] Complovr commented on #2584
@lin65505578 that could be from the way tensorflow decodes the images. try the decode_jpeg method with dct_method='INTEGER_ACCURATE' argument

[2019-02-10 17:50] geek101 commented on #22750
I noticed that this issue does not occur with tf-nightly-gpu `1.13.0.dev20190208` when compared to `1.12`.

[2019-02-10 18:28] crocoM4 commented on #25577
According to these [instructions](https://www.tensorflow.org/install/gpu) tensorflow is compatible with cuda 9.0 and, if i'm not mistaken, you have installed version 10.0. Maybe you should try to downgrade, i had a similar issue too

[2019-02-10 18:35] Sudeepam97 commented on #25643
@lgeiger, I'll be willing to work on a bot if everyone agrees. We can also try GitHub Actions but seems like it's in a beta release. Will be alright to try a beta feature?

[2019-02-10 18:41] HaoboZ commented on #25577
I tried installing cuda 9.0 first, but it also crashed with a different error, saying some compatibility issues. I then read from [here](https://devtalk.nvidia.com/default/topic/1042338/does-it-work-rtx-2080-cuda-9-0-ubuntu-16-04-/) that it doesn't support turing architecture.

Only the default tensorflow on pip supports cuda 9.0, but the nightly build supports cuda 10.0. So it's to either build i

[2019-02-10 20:17] mluszczyk opened #25652 "export_saved_model raises TypeError: Failed to convert object of type <class 'dict_values'> to Tensor."
`TPUEstimator.export_saved_model` raises `TypeError` (when used on CPU). The same code with TPUEstimator replaced with Estimator works correctly.

The error is:

[code]

**The relevant code**

[code]

**Current behaviour**

`export_saved_model` fails with `TypeError`.

**Expected behaviour**

`export_saved_model` should export the model successfully.

**System information**

MacOS, Python 3.6, Ten

[2019-02-10 20:45] shalin4788 commented on #17022
the ONLY perfect option..Thanks

[2019-02-10 20:48] ymodak commented on #25649
can you try,
```from tensorflow.keras import Sequential```

[2019-02-10 21:15] 2sn commented on #17022
I was just able to successfully install tensorflow on default python 3.7.2
built from scratch (under Fedora 29).

~>pip3 install tensorflow
Collecting tensorflow
  Downloading
https://files.pythonhosted.org/packages/be/80/18adfb46ba0a4044e9feaa0897ceae4673ac07d34deeb74490bc0d4e4987/tensorflow-1.13.0rc1-cp37-cp37m-manylinux1_x86_64.whl
(92.7MB)
    100% |████████████████████████████████| 92.7MB 697

[2019-02-10 22:13] HareshMiriyala commented on #8830
Thanks for that comment ! I found my module at **/opt/apps/cuda/9.0/extras/CUPTI/lib64/** ,
adding it here just incase someone else stumbles upon the same problem. Goodluck !

[2019-02-10 22:34] agnz commented on #25513
I followed the provided instructions to build zero-out example op using Bazel with success. Executing the op works as expected
I replaced zero-out kernel with a simple kernel that inherits ReaderBase. The package builds fine. But when I try to load and execute the op I get
[code]

[2019-02-11 00:27] jesen8 commented on #24955
@ymodak ,thanks,i will take a try and will response you

[2019-02-11 01:28] freedomtan commented on #25193
@ilous12 the GPU delegate doesn't support ops before sub_7 and after ResizeBilinear_3 yet. With tools, such as [`//tensorflow/tools/graph_transforms:summarize_graph`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/summarize_graph_main.cc), you should be able to see ResizeBilinear_3.

[2019-02-11 02:17] dyyzhmm commented on #21741
I found a page:
[https://www.pytorials.com/how-to-install-tensorflow-gpu-with-cuda-10-0-for-python-on-ubuntu/](url)
It shows how to  build Tensorflow using bazel.

[2019-02-11 02:24] RicciWoo commented on #24136
I got the same error when going through TensorFlow Keras guide to the last snippet on colab.

[2019-02-11 03:32] PuZhang-github commented on #25406
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
import os
import json
import tensorflow as tf
from tensorflow import feature_column as fc

# for python 2.x
# import sys
# reload(sys)
# sys.setdefaultencoding("utf-8")

flags = tf.app.flags
flags.DEFINE_string("model_dir", "./model_dir", "Base directory for the model.")
flags.DEFINE_string

[2019-02-11 04:57] cristianccq commented on #24828
Hola, yo tenía el mismo error.
Descagué el paquete de cudnn para mi sistema y los remplace con los antiguos.
Esto solucionó mi problema.

[2019-02-11 06:39] sathyamoorthyrr commented on #10669
@petewarden
Which will have good performance or speed improvements for **Inference**(only) with C++?
1. Loading a frozen model
2. Loading a graph/Checkpoints

Or not C++ at all?
will loading with Python be actually faster?

[2019-02-11 07:02] highfly22 opened #25656 "Distributed training using grpc+verbs got an assertion in verbs/rdma.cc:1557"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Custom code us

[2019-02-11 07:12] liuguiyangnwpu commented on #23410
`Traceback (most recent call last):
  File "/Users/wuming/CodeRepo/TSPADSystem/model/sequence_model/lstm_model.py", line 129, in <module>
    model.build_model()
  File "/Users/wuming/CodeRepo/TSPADSystem/model/sequence_model/lstm_model.py", line 47, in build_model
    model.add(keras.layers.Dropout(self.drop_rate))
  File "/Users/wuming/tools/virtual/py3ts/lib/python3.7/site-packages/tensorflow/p

[2019-02-11 07:56] Bahramudin commented on #24828
It is just a problem with cuDNN version incompatibility. I also downgrade to 1.8, although solving the problem, but no need when there is a much higher version which is definitely better than the old version. So I found that I was using conda installing TF, which conda was also installed everything even Cuda and cudnn, so the python was not detecting my installed Cuda and cudnn, it was using which

[2019-02-11 08:11] ZhiqingXiao commented on #25570
@facaiy This link is useful. Thanks!

[2019-02-11 08:44] dailystudio opened #25657 "TFLite GPU Delegate will block the thread who is calling interpreter.run()"
**System information**
- OS Platform and Distribution: Linux Ubuntu 16.04
- Mobile device: OnePlus 3, One Plus 5 and Pixel 2 XL
- TensorFlow Lite version on Android: 0.0.0-gpu-experimental
- Have I written custom code: a GitHub repo contains the codes to reproduce the issue.
https://github.com/dailystudio/ml/tree/master/deeplab
- DeepLab v3 TFLite model: [DeepLab segmentation (257x257)](https://st

[2019-02-11 08:55] xuelinchao opened #25658 "test时代大厦多"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-02-11 09:09] wxtyixiao commented on #9489
`2019-02-11 16:42:08.094047: E tensorflow/stream_executor/cuda/cuda_blas.cc:366] failed to create cublas handle: CUBLAS_STATUS_NOT_INITIALIZED
2019-02-11 16:42:08.101327: E tensorflow/stream_executor/cuda/cuda_blas.cc:366] failed to create cublas handle: CUBLAS_STATUS_NOT_INITIALIZED
2019-02-11 16:42:08.101418: E tensorflow/stream_executor/cuda/cuda_blas.cc:366] failed to create cublas handle: CUB

[2019-02-11 09:10] plooney commented on #25625
@ppwwyyxx Can you share details on your environment?

[2019-02-11 09:11] wxtyixiao commented on #9489
I have tried 'rm ~/.nv' and 'config = tf.ConfigProto() config.gpu_options.allow_growth = True', no one work.

[2019-02-11 09:24] #25658 closed

[2019-02-11 09:27] facaiy commented on #25658
Please provide useful information in your issue.

[2019-02-11 09:41] lifehome commented on #17022
Also can confirm Python 3.7.2 is able to install tensorflow.
[code]

[2019-02-11 09:43] sangeet259 opened #25659 "Keras Concatenate : AttributeError: 'list' object has no attribute 'shape'"
I am using Google Colab.
Here is a small code I have written:
[code]

Some Info about data :
*  `data_cnn` : type = numpy.ndarray | shape = (2580, 100, 1)
*  `data_mw` : type = numpy.ndarray | shape = (2580, 1)
*  `val_data_cnn` : type = numpy.ndarray | shape = (645, 100, 1)
*  `val_data_mw` : type = numpy.ndarray | shape = (645, 1)

Link to the notebook : https://colab.research.google.com/drive/1

[2019-02-11 09:44] sangeet259 commented on #25659
And here is the traceback that I got:
[code]

[2019-02-11 09:44] clovking commented on #13583
@keyankarthisdk , maybe the reason is some picture is not the JPEG format. You can use tf.image.decode_jpeg() to test which picture is not the right format for tensorflow and then discard. I use this way solve the problem.

[2019-02-11 10:10] sarmadidrees opened #25660 "TFL Detect app crash while using NNAPI"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS P

[2019-02-11 10:21] AndrzejKRK opened #25661 "NNAPI does not accept the reshape operation with the -1 parameter"
**System information**
* OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
* Mobile device: Xiaomi Mi MIX 2S (Android 9, API 28)
* TensorFlow Lite version on Android: 0.0.0-gpu-experimental

**Provide the text output from tflite_convert**

[code]

**Describe the current behavior**

I use SSD mobilenet V1 model from [zoo](https://github.com/tensorflow/models/blob/master/re

[2019-02-11 11:15] Diniboy1123 opened #25663 "[FR] Adding alpha channel support"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-02-11 12:07] wbadry commented on #17022
Hello,
Anyone was able to compile tensorflow-gpu for Python 3.7.x ? Thanks

[2019-02-11 12:38] CheukNgai commented on #23283
@clustarycx Could you pls help following this issue? If not, i will close this issue because i have left my intern job.

[2019-02-11 12:41] michalo2882 commented on #20886
The problem is, you cannot apply `create_eval_graph` to the graph on which you already called `create_training_graph`.
To solve this, I save variables after training with fake quantization using `tf.train.Saver.save`.
Then I simply create a new graph from scratch, call `create_eval_graph` and finally restore the variables using `tf.train.Saver.restore`.
Remeber to call execute `tf.global_variables

[2019-02-11 12:51] yhshu opened #25665 "Type Error caused by using AttentionCellWrapper: Tensors cannot be iterated."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Manjaro Illyria 18.0.2
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:no mobile device related
- TensorFlow installed from (source or binary):binary
- TensorFlow ve

[2019-02-11 12:54] SystemErrorWang commented on #3986
I met similar issue, even after i print out all the node name by using `print([node.name for node in graph.as_graph_def().node])` and chose a name from them, the freeze_graph.py still return `AssertionError: MobileNet/Predictions/Softmax is not in graph`

[2019-02-11 13:05] Hema414 commented on #22634
@Steroes Thank you, it helped.

[2019-02-11 13:22] benDavidson6 commented on #17353
If you are having a similar error you might have made a mistake in creating the tfrecords (as I did)

https://github.com/tensorflow/models/issues/2312

[2019-02-11 13:23] 2sn commented on #17022
works fire for me as well.  (latest nvidia driver on Fedora 29)

On Mon, 11 Feb 2019 at 23:11, Waleed El-Badry <notifications@github.com>
wrote:

[2019-02-11 13:37] ChampagneLee opened #25666 "tf.GradientTape.gradient raises error with tf.math.segment_max"
**System information**
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): installed by pip
- TensorFlow version (use command below): 1.13-rc1
- Python version: 3.6

**Code to reproduce the issue**
[code]

**Other info / logs**
[code]
I find that op.outputs for 'segment_max' is None, and is there any solution for that?

[2019-02-11 13:38] Sudeepam97 commented on #25659
`model.fit` requires numpy arrays. This error occurs when you are using normal python lists and not numpy arrays. You might want to check if `data_cnn`, `data_mw` etc. were all initialized as proper numpy arrays using `np.array()`.

[2019-02-11 13:54] keyankarthisdk commented on #13583
Thank you so much

On Mon, 11 Feb 2019, 3:22 pm clovking <notifications@github.com wrote:

[2019-02-11 14:02] sangeet259 commented on #25659
Hey, @Sudeepam97 they are indeed proper numpy arrays.
And I don't need to concatenate the arrays. I need to pass multiple inputs to my models.
So I don't see how `np.concatenate would help :confused:

[2019-02-11 14:10] pmusta commented on #23898
@protoget Anything new? I'm getting this exact same error but with cudnn_gru,
" The name 'cudnn_gru/opaque_kernel_saveable' refers to an Operation not in the graph'

[2019-02-11 14:11] chiragmak10 opened #25667 "Trigger point of object detection in tensorflow lite"
I am doing object detection using tensorflow  lite. My code detects the object & add a label with it & also display the label with it, but after that, I want to display the label of an object which is detected separately.
& I want that point (trigger point) in code from where the label is displayed .
can you please help me to find out code .
 I am giving link of  my source code :
https://github.co

[2019-02-11 14:15] timyee90 commented on #25552
I was able to run configure.py and get bazel to build, however, I am still not successfully able to build. I'm guessing it is related to what I type into "Please specify optimization flags to use during compilation when bazel option "--config=opt" is specified [Default is /arch:AVX]: avx2". Ideally I want CPU & GPU support in the same build which includes avx2, mkl, etc... Do I need to type 'AVX2'

[2019-02-11 14:26] plooney commented on #25625
On CPU all are true and equal to 1

[2019-02-11 14:30] Sudeepam97 commented on #25659
`data_cnn` and `data_mw` are numpy arrays, your error is because of the fact that writing
`[data_cnn, data_mw]` concatenates them and returns a python list.

Try to run this to get a better understanding of what I mean...
`import numpy as np`
`a = np.array([ [[1, 2]], [[2, 3]], [[3, 4]] ])`
`print (a)`
`print (a.shape)`
`b = np.array([ [[2]], [[3]], [[4]] ])`
`print (a)`
`print (b.shape)`
`c = [a,

[2019-02-11 14:42] sangeet259 commented on #25659
I get that `[data_cnn, data_mw]` is a list.
But **that is how you are supposed to** pass inputs to the `model.fit()` in case your model has multiple inputs. _(If you see my model definition you can see there are two branches which I accept two inputs)_

See this : https://stackoverflow.com/a/43196972/6507303

Also see the Concatenation documentation at : https://keras.io/layers/merge/#Concatenate

[2019-02-11 15:01] bipika commented on #16194
@yufengjinsong
I tried your solution but it says error again as:
"ValueError: could not convert string to float: b'\xff\"
at line:
    predictions = sess.run(softmax_tensor, {'Placeholder:0': image_data})

[2019-02-11 15:10] Sudeepam97 commented on #25659
Oh, pardon me. Indeed in this case, this is how you'll pass inputs to `fit()`. I can't help you any more without actually running your code and I'll have to study this architecture so please allow some time. Meanwhile, Someone else may also help you out. As a final note, I am not observing any `model.compile` statement, maybe your error is because your model with two inputs is not compiled?

[2019-02-11 15:16] sangeet259 commented on #25659
Sorry, I forgot to include the `compile()` here. It's there in the actual code.
Doesn't make a difference.

[2019-02-11 15:17] dmitrievanthony opened #25669 "Docker images with tags `1.13.0rc0` and `1.13.0rc0-py3` contains wrong version of TensorFlow Estimator"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 17.04**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **-**
- TensorFlow installed from (source or binary): **Binary/Docker**
- TensorFlow version: **???**
- Python version: **2.7**, **3.5**
- Installed using virtualenv? pip? conda?: **Docker**
- Bazel

[2019-02-11 15:17] dmitrievanthony commented on #25669
I guess it's related to https://github.com/tensorflow/tensorflow/issues/25611.

[2019-02-11 15:41] plooney commented on #25625
I've seen the same issue in training when using  tf.data.TFRecordDataset. For certain values of batch size fails to train

[2019-02-11 16:12] msmsajjadi commented on #23410
I can confirm that both examples above now work without errors on the latest TensorFlow pip package v1.13.0rc1.

[2019-02-11 16:17] sgasse opened #25670 "Unable to use keras.application within TF Estimator"
I am having problems using keras.applications within an estimator. After much trying out myself, I came up with a minimal version to indicate the problem. I presume that it is caused by keras only having one session at a time while estimators set up several sessions for training and evaluation.

This is my [original post from stackoverflow](https://stackoverflow.com/questions/54589386/tensorflow-i

[2019-02-11 16:26] daidong commented on #25552
please check the configuration logs at: https://pastebin.com/LGK64Yhk
and build logs at: https://pastebin.com/TiVAsvVb

Many warning generated during the building. But I think the last error stopped it.

[2019-02-11 16:31] qlzh727 commented on #25421
Closing this issue for now since the input the does not meet the expectation for RNN. Please reopen the issue if you feel this is not the case.

[2019-02-11 16:31] #25421 closed

[2019-02-11 16:31] #24600 closed

[2019-02-11 16:49] jdduke commented on #22643
We need more details about the crash to say more. Is there an unresolved symbol error when the library is opened? What does the crash stack look like?

[2019-02-11 17:08] ved27 commented on #25614
Hi,

I kindly request you to look into this soon, as it would be helpful for me to rule out the models which seem to take high memory.

Awaiting your reply,

[2019-02-11 17:11] corlov commented on #21602
Hi all!
I use inception_v3 model in a simple app for smartphone (Android OS).
An input images have an arbitrary sizes and I have some trouble and confuse.

tflite.run(imgData, labelProbArray);

This instruction generates the exception:
[code]
I suppose an author of the model has created a config file and written something like I wrote bellow:

[code]
Do I understand it right?
I think so because 60

[2019-02-11 17:13] evolu8 commented on #24181
Yes please! If it can be GPU optimised and support 16 and 32bit float tensors it would also be a huge improvement over OpenCV etc... Especially for high bit depth users, such as in medical imaging.

[2019-02-11 17:21] andrehentz commented on #25549
See https://github.com/tensorflow/tensorflow/issues/23600 for a possible dupe.

[2019-02-11 17:21] #25549 closed

[2019-02-11 17:24] #24755 closed

[2019-02-11 17:28] andrehentz commented on #16216
See https://github.com/tensorflow/tensorflow/issues/23600 for a possible dupe.

[2019-02-11 17:28] #16216 closed

[2019-02-11 17:40] jdduke commented on #21602
You can, but you'll need to manually crop and resize them first. You can look at our samples as a guide for doing this, either by way of [TextureView](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/java/demo/app/src/main/java/com/example/android/tflitecamerademo/Camera2BasicFragment.java#L824) or directly with a [Canvas transform](https://github.com/tensorflow/tensorflow/blob

[2019-02-11 17:44] jdduke commented on #19685
Please reopen if this is still an issue, I haven't observed this in more recent builds.

[2019-02-11 17:44] #19685 closed

[2019-02-11 17:47] jlebar commented on #25143
Good questions, I really don't know.  Perhaps Yanan or @hpucha can speak to this.  (I'm not sure what is Yanan's github handle.)

[2019-02-11 17:54] trevor-m commented on #25402
@aaroey Could you take a look at this? This is affecting InceptionV4 in TF-TRT since the Flatten() layer at the end of the network is not able to be converted.

[2019-02-11 18:08] shahiduos14 commented on #16216
Tensor can be resized in Tflite, check https://github.com/tensorflow/tensorflow/issues/23940#issuecomment-447380387

[2019-02-11 18:29] karmel commented on #25525
Re: (1) I agree that additional notes in the error would be helpful-- would you be interested in sending a PR that reflects your preferred messaging?

With regard to making sure these are called, one option is to use the @tf.function decorator. This decorator introduces implied control dependencies, so update ops inside should run as expected. There are restrictions on the decorator-- ie, variable

[2019-02-11 18:30] corlov commented on #21602
Thanks.

[2019-02-11 18:33] anilknayak commented on #25440
@asimshankar Thanks a lot for the help. buffer is working. I will work on op.Pack() in graph. Nice!

[2019-02-11 18:43] ymodak commented on #25440
Closing this issue since its resolved. Feel free to reopen if the issue still persists. Thanks!

[2019-02-11 18:43] #25440 closed

[2019-02-11 18:46] ymodak commented on #21741
TF 1.13.0-rc0 has released and it contains pre-built binaries to support cuda 10. Give it a try. Thanks!

[2019-02-11 18:48] suharshs commented on #25228
The link you provided says: "The input images are expected to have color values in the range [0,1]". This means the mean_value and std_value can be computed using those formulas above, mapping [0, 255] to [0, 1].
mean_value  = 0.
std_value = 255/ (1-0) = 255

Thanks!

[2019-02-11 18:49] jvishnuvardhan commented on #23702
@Abhijit-2592 Yes. It would be great if you can check with the 1.13.0rc1 version. Thanks!

[2019-02-11 19:06] mrry commented on #23702
@Abhijit-2592 If this still fails with 1.13.0rc1, please share a code snippet that reproduces the problem so that we can investigate further.

[2019-02-11 19:08] rahul003 opened #25674 "Segfault when using VLOG with with MKL on 1.13rc1"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO
- OS Platfo

[2019-02-11 19:10] #23944 closed

[2019-02-11 19:10] Ryan-Qiyu-Jiang commented on #25461
I made a pr for
* TensorFlow installed from (**source or binary**)
* **Python** version
* **Bazel** version (if compiling from source)
https://github.com/tensorflow/tensorflow/pull/25673

tensorflow version seemed already part of output,
wasn't sure how to confirm source or binary so I added location install info,
if it's installed under python/site-packages it's a good sign tf was installed from

[2019-02-11 19:10] tensorflowbutler commented on #21772
It has been 20 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-11 19:11] tensorflowbutler commented on #23944
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2019-02-11 19:24] jvishnuvardhan commented on #21959
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-11 19:24] #21959 closed

[2019-02-11 19:31] jvishnuvardhan commented on #25597
@aniketbote Thanks. Did you check whether all the paths to CUDA/cuDNN are set right? Thanks!

[2019-02-11 19:38] aniketbote commented on #25597
Yes, the path is set.

[2019-02-11 19:40] jvishnuvardhan commented on #25513
@agnz As @gunan [asked](https://github.com/tensorflow/tensorflow/issues/25513#issuecomment-461120767), could you share commands you used to build custom op. Thanks!

[2019-02-11 19:41] htcai commented on #21959
Sorry that I didn't notice your comment posted in January.

After extensive exploration of the source code of tensorflow and the [code](https://github.com/tensorflow/models/tree/master/research/adversarial_text) written by Andrew Dai and Neal Wu, I found out that the argument `input_sequences` requires thread-and-queue-based implementation of the input sequences. Nonetheless, this crucial point is

[2019-02-11 19:52] agnz commented on #25513
@jvishnuvardhan I'm not sure what exactly you're asking me to share...
I built the custom op in 2 ways:
1) Using g++ directly and I shared the command [here](https://github.com/tensorflow/tensorflow/issues/25513#issuecomment-461168577)
2) Using bazel, as asked by @yifeif, and I used exact instructions specified on the page she linked to.

Can you please elaborate what you're asking?

[2019-02-11 20:14] Steroes commented on #22634
@Hema414 You can also build tensorflow using bazelon windows or linux using this [guide](https://github.com/guikarist/tensorflow-windows-build-script).

[2019-02-11 20:35] laminarinteractive commented on #17353
I did indeed make a mistake.  Thanks for pointing it out.  My embedding layer was off by one.

It's interesting that running on the GPU quashes the error.  I wonder what it did to my model.  I guess I will have to do a quick run on the CPU in the future to catch this sort of thing (or be more thorough on my part).

[2019-02-11 20:52] mrry commented on #24968
Closing this because @suphoff has figured out the problem (thanks!) and there doesn't seem to be a bug in the underlying library.

[2019-02-11 20:52] #24968 closed

[2019-02-11 21:19] impjdi commented on #25657
@dailystudio

Unfortunately, that is not the case when using OpenGL.  OpenGL is a state machine, and a proper GL context needs to be kept around.  This GL context is bound to the thread that it was created on.

https://www.khronos.org/opengl/wiki/OpenGL_and_multithreading

There are mechanisms to transfer GL contexts or use parent / children GL contexts for multithreaded architectures, but at the

[2019-02-11 21:27] kobeeraveendran commented on #17022
TF v1.13.0-rc1 cpu version now works for me on python 3.7.2 (osx high sierra). Installs and imports just fine.

[2019-02-11 21:40] jw447 opened #25677 "Build from source with MPI support"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (

[2019-02-11 21:42] azaks2 commented on #22987
I just fixed the lifetime of internal profiling related objects so they do not get GCed at the end of session.run

[2019-02-11 21:42] #22987 closed

[2019-02-11 21:57] jvishnuvardhan commented on #21959
@htcai Thanks for the nice writeup and the resource. Thanks!

[2019-02-11 22:01] Kublai-Jing commented on #21745
Met the similar issue where the same code works fine for tf 1.6 and not for tf 1.12. Isn't this issue being solved ?

[2019-02-11 22:30] jvishnuvardhan commented on #25677
@jw447 Please check [tested build configurations](https://www.tensorflow.org/install/source#linux). Bazel 0.15.0 is supported with TF1.12. If possible could you follow the instructions [here](https://github.com/rnreich/ubuntu-tensorflow-gpu-all-versions) to install TF1.12. I had recently installed TF1.12-gpu successfully. One question. Were you able to follow instructions at [TF website](https://w

[2019-02-11 22:44] jvishnuvardhan commented on #25670
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. I have seen your clear problem description on Stackoverflow and I think community will r

[2019-02-11 22:47] ymodak commented on #25559
Closing this issue since it was answered by @pooyadavoodi . Feel free to reopen if have any folow up questions. Thanks!

[2019-02-11 22:47] #25559 closed

[2019-02-11 23:00] alextp commented on #25439
@akshaym this is weird, do you have time to take a look?

[2019-02-11 23:08] evictor opened #25678 "Tensorboard server freezing"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04.4 LTS (Xenial Xerus) Linux a1006d7babbc 4.15.0-1037-azure #39-Ubuntu SMP Tue Jan 15 10:24:08 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
- TensorFlow installed from (source or binary): Docker base image tenso

[2019-02-11 23:08] ymodak commented on #24882
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-11 23:08] #24882 closed

[2019-02-11 23:08] ymodak commented on #24716
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-11 23:08] #24716 closed

[2019-02-11 23:09] #23941 closed

[2019-02-11 23:14] jvishnuvardhan commented on #25667
@chiragmak10 Could you mention more details about the issue and its context. Please provide as many details as possible to find a solution faster. Also, I noticed that you forgot to provide link to your source code. The link you provided is from TF Lite examples. Thanks!

[2019-02-11 23:16] zhang-jian commented on #22584
Sorry to post on the closed issue.
@wt-huang  did you test your tf.nn.conv2d_transpose outputs, i couldn't get expected results as in https://github.com/tensorflow/tensorflow/issues/25462, thanks.

[2019-02-11 23:29] jw447 commented on #25677
@jvishnuvardhan Thank you for the suggestions. I got the problem fixed. Turns out I need to "export CC=mpicc" if MPI support is enabled.

[2019-02-11 23:29] #25677 closed

[2019-02-11 23:45] scouvreur commented on #25461
Hi @dynamicwebpaige, I just submitted a pull request #25679 with the features I mentioned above

[2019-02-12 00:06] Ayshine opened #25681 "Error running ./configure on Cuda 10 (Building from Source)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 18.04):Linux Ubuntu 18.04)
- Mobile de

[2019-02-12 00:13] #18250 closed

[2019-02-12 00:13] alextp commented on #18250
decode_webp should also go first in the SIG IO

[2019-02-12 00:52] dksb commented on #25117
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-02-12 00:53] dksb commented on #25260
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-02-12 00:55] dksb commented on #25237
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-02-12 00:57] dksb commented on #25670
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-02-12 00:58] dksb commented on #25063
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-02-12 00:58] dksb commented on #25530
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-02-12 00:59] dksb commented on #25621
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-02-12 01:00] dksb commented on #25557
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-02-12 01:00] dksb commented on #25411
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-02-12 01:02] dksb commented on #25490
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-02-12 01:03] dksb commented on #24890
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-02-12 01:04] dksb commented on #25331
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-02-12 01:06] dksb commented on #25103
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-02-12 01:06] dksb commented on #25372
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-02-12 01:08] dksb commented on #25303
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-02-12 01:08] dksb commented on #25176
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-02-12 01:25] ymodak commented on #25473
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-12 01:25] #25473 closed

[2019-02-12 02:13] ageron commented on #24742
I just discussed with @alextp about this. The problem is that the default behavior (`range` vs `tf.range`, python args vs tensor args, etc.) is quite surprising to new users (as I experienced last week when giving a TF2 course). Indeed, pretty much everyone expected `foo(5)` to behave like `foo(tf.constant(5))` when using `autograph=True`.  Similarly, everyone expected `range` to be included in th

[2019-02-12 02:22] freedomtan commented on #25660
Post-processing ops of the model used by the App are not supported by NNAPI.

[2019-02-12 02:25] saeta commented on #14518
Hi @suphoff ! Great question. Unfortunately, while I wanted to add indexing to TFRecords, I never got around to it. :-( Sorry! -Brennan

[2019-02-12 02:32] sjain-stanford commented on #13463
@guillaumekln thanks for the pointer to [`tf.data.experimental.ignore_errors`](https://www.tensorflow.org/api_docs/python/tf/data/experimental/ignore_errors). I do have a follow-up question on that:

How does it handle `tf.errors.OutOfRangeError` - does it ignore that too? I use this to track the end of my dataset (validation). When I `ignore errors`, it seems that the validation loop is stuck upo

[2019-02-12 02:33] hufenghufeng commented on #22138
In feature_extractor.py, there is a function named '_preprocess_zero_mean_unit_range'. 'return (2.0 / 255.0) * tf.to_float(inputs) - 1.0' here will cause this problem. Make this function do nothing, just return the input and declare the input as  'input_image = tf.placeholder(tf.float32, [1, None, None, 3], name=_INPUT_NAME)' will help

[2019-02-12 02:43] LuckyPigeon commented on #24869
@Worthy7
My OS: Ubuntu 18.04 with virtualenv
I install tensorflow-gpu first then install tf-nightly-2.0-gpu-preview and it works.

[2019-02-12 02:48] Worthy7 commented on #24869
So, does this means that tensorflow-gpu is *required* for 2.0? If so, it
should be listed....

On Tue, 12 Feb 2019 at 11:46, Pigeon <notifications@github.com> wrote:

[2019-02-12 02:51] tensorflow2019 opened #25682 "in the website "https://tensorflow.google.cn",the experience of auto-scroll is so bad for focusing on the content. I wish it could be improved.Tks"
in the website "https://tensorflow.google.cn",the experience of auto-scroll is so bad for  focusing on the content. I wish it could be improved. Thanks.

[2019-02-12 03:05] marvinxu-free commented on #21407
Couldn't build file external/protobuf_archive/js_embed: Linking of rule '@protobuf_archive//:js_embed' failed (Exit 1)
ld: unknown option: -no-as-needed
clang: error: linker command failed with exit code 1 (use -v to see invocation)

-----

does any one know how to resolve this problem, i use mac osx, tensorflow 1.4, bazel 0.9

[2019-02-12 03:06] mdanatg commented on #24742
Thank you Aurélien for your input. The insights you gathered are most valuable. Please continue to send us any new data points you might gather.

It would seem that new users tend to have different expectations compared to "veteran" developers who wrote lots of TF graph code.

One thing that becomes obvious is that mechanisms which reliably avoid ambiguity would be useful regardless of what the de

[2019-02-12 03:10] apepkuss commented on #25490
@gunan Thanks for your useful info, I downgraded bazel to 0.11.0 for TF r1.9, and the issue's solved. But a new error appears, could you please give me some advice? The error message is shown as below.

ERROR: /private/var/tmp/_bazel_sam/870243a2e9f6c8f6d71c0be6efaf0c54/external/protobuf_archive/BUILD:259:1: **undeclared inclusion(s) in rule '@protobuf_archive//:js_embed'**:
this rule is missing d

[2019-02-12 03:25] raofengyun commented on #13094
@tjingrant it's now published on EMNLP: https://aclanthology.info/papers/D18-1477/d18-1477
we tried it on some dataset, and it really works good and fast, but we have to use pytorch, since the tf version SRUCell is NOT faster than GRUCell.

could anyone implement a tf-version SRU instead of SRUCell?

[2019-02-12 03:25] scm-ns commented on #25058
You most probably have to link to C++ runtime to the project. The errors are about not being able to link c++ std lib classes.

[2019-02-12 03:31] dailystudio commented on #25657
Hmm..., but I am not using OpenGL in my demo application. I understand your points, but from my point of view, as a developer who is using TFLite, I only care about how to use your APIs to achieve my own goals. In my codes, there are no OpenGL related codes. So, let me learn and understand the concept of OpenGL contexts or multi-threads architectures seems like an imposition.
I think my case is qu

[2019-02-12 03:39] haithink commented on #19203
@craigcitro, thanks very much!

[2019-02-12 03:46] sjain-stanford commented on #12701
On a related topic, can we please add the ability to skip `tf.errors.OutOfRangeError` from being ignored? At the moment it seems to be stalled at the end of a dataset when `ignore_errors` is applied.

[2019-02-12 03:52] ageron commented on #24742
Hi @mdanatg ,
It's great that `range(tf.constant(n))` is now rejected! :)
Would `autograph=STRICT` be the default? If so, I guess it would mean that by default `range()` would act like `tf.range()` (great!).  Would it also mean that `foo(5)` would be rejected, or better, behave like `foo(constant(5))`? I would vote for that!
People who want the current behavior could specify something like `autogr

[2019-02-12 04:28] ageron commented on #24742
Actually, thinking about this some more, I should probably mention that the most surprising behavior (to me and to the participants in my course) was, by far, the fact that `foo(n)` traces the function once for each distinct value of `n` (when `n` is a python value). It is not clear to me how often this behavior will be needed. I didn't run into any actual use case yet. So I would argue that the d

[2019-02-12 04:51] GzuPark commented on #24845
#24526  merged

[2019-02-12 04:51] #24845 closed

[2019-02-12 05:35] lunasdejavu commented on #17353
ya I found the blog I followed is wrong with creating TFrecords,
I found a better [blog](https://blog.csdn.net/qq_29462849/article/details/85342153) to beginners ,just use  the google translate ,it is very useful.

[2019-02-12 05:40] gsutanto commented on #25469
Hi, just checking: is there any update on this? How long usually this will get resolved? I am working on a paper deadline that depends on this, and I would deeply appreciate if this issue could be fixed soon...

[2019-02-12 06:17] nishprabhu commented on #21016
tf.keras.estimator.model_to_estimator doesn't seem to support nested subclassed models even without eager execution enables in 1.12

[2019-02-12 06:17] nishprabhu commented on #21016
Any update on this?

[2019-02-12 06:55] Raviteja1996 opened #25686 "Running the transformer model with Tensor2Tensor using Mesh-Tensorflow(GPU implementation)"
Hello I posted the below concern in mesh-tensorflow and tensor2tensor GitHub issues but did not get any response. So I am posting here if any one can help me about this issue.

I am trying to run the transformer model with Tensor2tensor using mesh-tensorflow (GPU-implementation) but I am facing few errors.

I am attaching my error log also.

**steps to reproduce:**

PROBLEM=translate_enfr_wmt32k
M

[2019-02-12 07:18] sarmadidrees commented on #25660
Thanks for your answer. Do you have any update when will NNAPI support that Post-processing op?

[2019-02-12 07:23] #25311 closed

[2019-02-12 07:40] abhi278 opened #25687 "Functional safety compliance"
We want to use Tensorflow for building Deep Learning based models in production for Automotive.
The Automotive industry requires strict compliance with ISO 26262 for functional safety.

One of the clause in ISO 26262 is “the classification of all the software tools used in development shall be performed according to ISO 26262-8, clause 11 ‘Confidence in the use of software tools’”.
Such classifica

[2019-02-12 07:54] guillaumekln commented on #13463
I think it does.

Not sure sure about this. The following snippet does raise the `OutOfRangeError` exception:

[code]

[2019-02-12 08:41] Gutsu7 commented on #17022
TensorFlow v1.13.0rc1 is now working for me on python 3.7.0 on windows 10. i had to upgrade my numpy package to v1.16.1 to overcome some few errors.

[2019-02-12 08:53] rahulsinghpatel commented on #14356
The approach provided mohamedadaly is described here with an example. check this link:
https://interviewbubble.com/typeerror-cannot-interpret-feed_dict-key-as-tensor-tensor-tensor-is-not-an-element-of-this-graph/

[2019-02-12 08:58] IvyGongoogle commented on #19530
@HwMohanLiu After using `fold_old_batch_norms`, we get a `BiasAdd` for  `FusedBatchNorm`, but there is no `biases` op after `weights` op. But there is a `Conv2D_bn_offset` op,  is this an op with same meaning of `biases`?

[2019-02-12 08:59] tbirn opened #25688 "Compile issue for TF Lite for Android NDK wit TF ops enabled"
**System information**
- OS Platform and Distribution: Ubuntu 16.04
- TensorFlow installed from (source or binary): source
- TensorFlow version: v1.13.0-rc0
- Python version: 3
- Bazel version: 0.21.0
- GCC/Compiler version (if compiling from source): NDK r14b, r18b, clang
- CUDA/cuDNN version: -
- GPU model and memory: -
- Android SDK/NDK API level: 21

**When trying to build TFlite as shared lib

[2019-02-12 09:03] adppark opened #25689 "cannot convert model to tflite"
when I try to converto to tflite, occur below errors

$ tflite_convert --output_file=./model1/test.tflite --keras_model_file=./model1/186-0.0481.hdf5

WARNING:tensorflow:From /usr/local/lib/python2.7/dist-packages/tensorflow/python/ops/init_ops.py:96: calling __init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:

[2019-02-12 09:08] SherrySheng commented on #25120
I also meet this error, and I want to know how to disable NNApi?

[2019-02-12 09:17] dynamicwebpaige commented on #25461
Thanks so much for your contributions! We appreciate it - and including this information in the environment capture script will certainly help folks who are filing issues. 🙏

(cc: @martinwicke @alextp)

[2019-02-12 09:24] meteorcloudy commented on #25551
@evgal This issue is fixed by https://github.com/tensorflow/tensorflow/commit/4beea30ec8a231a12b9183f631608a6af64b8172, but it will only be released in 1.13

You can also cherry-pick this commit to build your own TF pip package that contains the import library.

[2019-02-12 09:24] #25551 closed

[2019-02-12 09:48] nemo-point commented on #24732
Hello @sdeoras I have exactly the same problem on a armv7l board (cortex A9) with tensorflow 1.12.0. Do you solve this problem on StackOverflow (i didn't find any relevant questions on SO) ?

Regards.

[2019-02-12 10:09] mvoelk commented on #25516
The following works, but it is still more a hack than a solution.
[code]

[2019-02-12 10:33] HwMohanLiu commented on #19530
@IvyGongoogle You can determine it by tracing the input ops of the BiasAdd node until finding a const or ref op with the size of the corresponding bias.

[2019-02-12 10:38] meteorcloudy commented on #25252
This would be fixed when https://github.com/tensorflow/tensorflow/pull/24963 is merged.

[2019-02-12 10:43] meteorcloudy commented on #24885
@nartes That sounds a good idea. But I'm not very familiar which headers should be included for the shared library.
@gunan Do you know anyone could help on this?

[2019-02-12 11:05] fuchao01 commented on #25440
@anilknayak How to use on op.Pack() in graph？

[2019-02-12 12:20] ElderOrb opened #25690 "Tensorflowlite: bazel windows build is broken"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows 10

- Mobile device (e

[2019-02-12 12:23] mdanatg commented on #24742
We'd have to think very carefully about adding modes like `STRICT` and `MIXED`. We want to avoid adding complexity to the interface unless absolutely necessary, so it might take a bit to decide whether we move from idea to implementation. The biggest unanswered question, as you point out, is what to do with things like hyperparameters (e.g. `train=True/False`, `num_layers`, etc.). Perhaps those wo

[2019-02-12 12:35] sdeoras commented on #24732
@nemo-point: i saw the issue on arm 6 but things worked fine on arm 7. I tried master though. no, i have not found a solution so far.

[2019-02-12 13:12] fgsalomon commented on #22902
For Tensorflow v1.9.0 what I did was change this part in `tensorflow/BUILD`:

[code]
into:
[code]

[2019-02-12 13:15] MagixInTheAir commented on #20517
I can't seem to be able to install it. Any simple troubleshooting steps ?

[2019-02-12 13:44] Jojuh commented on #25312
I'm having the same issue, CentOS 7, Tensorflow 1.12, GCC 7.3.0, CUDA 9, cuDNN 7. Something breaks eigen include paths when using --output_base. I found this when trying to build using EasyBuild and replicated the steps when building manually to chase what was failing the build. The following works for me:

`bazel build --compilation_mode=opt --action_env=PYTHONPATH --config=opt --config=cuda --di

[2019-02-12 13:50] Fighting-JJ commented on #24359
same problem

[2019-02-12 13:52] freeknortier commented on #16752
Still doesn't work

[2019-02-12 14:03] ziofil opened #25691 "Missing mathematical definitions of tf.norm"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: 1.12
- Doc Link: https://www.tensorflow.org/api_docs/python/tf/norm

**Des

[2019-02-12 14:04] hyoo commented on #23783
I have a same issue. Can anyone suggest how to inform the new variable to TF code?

[2019-02-12 14:20] yuvdar commented on #24770
Any ideas?

[2019-02-12 14:32] IvyGongoogle commented on #19530
@HwMohanLiu when I trace the input ops of the `BiasAdd`, I find the `Conv2D_bn_offset` op is indeed an op with same meaning of `biases`. Thank you very much.
But I have another question: the result of infering this merged-BN  pb is slightly different with the original pb, about several numbers.

[2019-02-12 14:33] scotthuang1989 commented on #24600
@COthello  can you  put all your code into a gist and share with me? I want to try it.

[2019-02-12 15:17] mrry commented on #12701
@sjain-stanford `ignore_errors()` shouldn't be ignoring an `OutOfRangeError`, so that sounds like a bug. Can you please open a new issue with some code that reproduces the problem? Thanks!

[2019-02-12 15:33] ziyuang commented on #18861
I wonder how to integrate this with `tf.contrib.predictor.from_saved_model`: for the same reason I cannot set different devices in different `tf.predictor.from_saved_model(<model_folder>, config=tf.ConfigProto(gpu_options=tf.GPUOptions(visible_device_list='<devices>')))`

[2019-02-12 15:49] gehring commented on #25606
The issue still remains in the most recent nightly build:
[code]

[2019-02-12 16:20] tarrade opened #25692 "pip install tf-nightly-2.0-preview on Windows 10: missing file TensorSyclConvertToDeviceExpression.h"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version: tf-nightly-2.0-preview==2.0.0.dev20190208
- Python version:3.6.6
- Installed using virtualenv? pip? conda?: pip (18.0)
- Bazel version (if co

[2019-02-12 16:25] anilknayak commented on #25440
I am working on it. as soon as I get some information I will share it. Thanks for the question.

[2019-02-12 16:32] brilee commented on #24742
In terms of literals, there's a variety of ways that the graph can change with different python literals - num_layers, mode=TRAINING, unroll_steps, etc.

For the autoboxing question... probably the least surprising way to go about things is to copy NumPy's autoboxing semantics. But I don't know that NumPy is a shining star for unsurprising behavior - I discovered just now that `[1, 2, 3] * np.arra

[2019-02-12 16:35] alextp commented on #24742
@ageron The decision to retrace on python scalars was to allow people to write code like

[code]

We take this conservative retracing approach because (1) the set of things you're allowed to do with a python scalar is strictly bigger than the set of things you're allowed to do with a tf scalar (see here for example using it to set the number of layers of a resnet), and (2) for uniformity between a

[2019-02-12 17:17] jdduke commented on #25688
Can you paste the contents of the `.tf_configure.bazelrc` file in the root source directory (where you ran ./configure)? Thanks.

[2019-02-12 17:24] impjdi commented on #25657
@dailystudio

That's actually pretty good feedback and one of the reason's why we put out a developer "preview" to gather feedback like yours.  We really appreciate it.

The fact that you have to be mindful of the GL context is inevitable, especially when you work in multithreaded settings.  We actually tried our best to hide that away from the users (and that's why you don't see the GL context in

[2019-02-12 17:25] jvishnuvardhan commented on #25689
Please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. It would be great if you can provide a small code to reproduce the error. Thanks!

[2019-02-12 17:27] cgarciae commented on #25670
I think this should be a bug, how can it be that you cannot train an estimator using a Keras application? This is a super common use-case. We've had to resort to saving the Keras application as a saved model and loading it as a predictor in the input_fn, to deploy we've had to merge the two saved models together in a separate script.

All this doesn't make sense. If TFHub enabled you to have varia

[2019-02-12 17:41] cgarciae opened #25693 "Enable Keras Applications with pretrained Weights to be used inside the Estimator API"
Examples like #25670 show you that is impossible to use Keras Applications inside the Estimator API. The issue has to do with some global tensors that Keras creates by itself that live or were created in a separate session, thus, when the Estimator API wants to construct the `model_fn` it raises an error saying that it found a Tensor from a different graph.

I think Keras should be modified to avo

[2019-02-12 17:44] azaks2 commented on #23557
I do not think there is an actually leak. The relevant code:

 static XlaDeviceOpRegistrations* registrations =
      RegisterXlaDeviceKernels(DEVICE_TPU_NODE, DEVICE_TPU_XLA_JIT);
  (void)registrations;

So we should have a global reference to the objects but it is possible the variable gets optimized away.
Do you have exact instructions (like build command) so i can reproduce the error.

Thanks

[2019-02-12 17:56] eghbalhosseini opened #25694 "TF_gradient"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-02-12 18:02] ymodak commented on #25694
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create fr

[2019-02-12 18:13] jvishnuvardhan commented on #25692
@tarrade There is a common issue with Windows10 where path length is restricted by default. Please check this [resource](https://www.howtogeek.com/266621/how-to-make-windows-10-accept-file-paths-over-260-characters/) to remove that restriction and then install TF. There are several users [reported](https://github.com/tensorflow/tensorflow/issues/24835) similar issue. Please let us know how it prog

[2019-02-12 18:14] av8ramit commented on #17022
Yes, to reiterate: The 1.13.0rc1 release includes Python3.7 binaries for all OS-es for [cpu](https://pypi.org/project/tensorflow/1.13.0rc1/#files) and [gpu](https://pypi.org/project/tensorflow-gpu/1.13.0rc1/#files).

[2019-02-12 18:15] av8ramit commented on #20517
@MagixInTheAir I'm closing this issue since it's just about general Python 3.7 support. Please reopen a new issue with logs and more information about your setup if you're still having issues.

[2019-02-12 18:15] #20517 closed

[2019-02-12 18:18] jakline commented on #25430
Amit: We are using bazel 0.19.2.  Do we have any requirements to run with bazel 0.21 or 0.22?

[2019-02-12 18:22] nomis-g commented on #25670
I agree with @cgarciae since it is said everywhere that Keras and Tensorflow work hand in hand - though when using the estimator function `train_and_evaluate`, it apparently breaks.

It would be good to have an official answer from somebody who fully understands the inner workings. E.g. I can only assume that a problem arises from Keras only having one session while `train_and_evaluate` (as far as

[2019-02-12 18:24] eghbalhosseini opened #25695 "TF-Gradient issue"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-02-12 18:28] eduardo4jesus opened #25697 "FFT parallelized over feature maps, minibatches and within each 2-D transform"
# Performance Issue

Note: This is not a bug, but it is a performance issue that I have faced, and it might or might not lead to a new feature request. So, I am bringing this up here for discussion.

**System information**
- I am using Kaggle Kernels for running my tensorflow code with the GPU option enabled.

Environment Information:

Output:

# The Issue
**Context**

I reproduced this [paper](ht

[2019-02-12 18:35] av8ramit commented on #25430
Not at the moment, the recommended way is still only 0.19.2.

[2019-02-12 18:41] freeknortier commented on #23457
Same here. This issue has to be reopened as it still persists.

[2019-02-12 18:47] angersson commented on #25669
Hmm. I'm not sure if we can handle this in a good way. TF submodules like `tensorflow-estimator`  aren't guaranteed (as far as I know) to have a pre-release version that aligns with TensorFlow's prerelease versions. And they're not guaranteed to be available when the final images are built, either -- they're not orchestrated by the same release team, I don't think.

One possible fix would be to ad

[2019-02-12 18:54] Cameron-Chancey commented on #23557
The options are :
/usr/bin/c++
-I/usr/local/include
-I/home/developer/workspace/tensorflowleaktest/build/../projects/include
-I/home/developer/workspace/tensorflowleaktest/build/../tests/include
-I/home/developer/tensorflow -I/home/developer/tensorflowincludes/bin
-I/home/developer/tensorflowincludes/genfiles
-I/usr/local/lib/python3.5/dist-packages/tensorflow/include
-I/usr/local/lib/python2.7/di

[2019-02-12 18:55] jvishnuvardhan commented on #25678
@evictor Correct. Tensorboard doesn't mess with those huge files, it only collect data from your TF model run. There could be several reason why Tensorboard is freezing.
1) Did you try the same model with smaller dataset? Is it working well without any freezing?
2) Is it possible for you to use current Tensorboard and Tensorflow versions instead of old versions? Newer versions are much better in h

[2019-02-12 18:56] #24313 closed

[2019-02-12 18:56] tensorflowbutler commented on #24313
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2019-02-12 19:00] dmitrievanthony commented on #25669
Actually, this problem was already discussed in https://github.com/tensorflow/tensorflow/issues/25165 and it looks like the correct version of estimator in our case is [1.13.0rc0](https://pypi.org/project/tensorflow-estimator/1.13.0rc0/).

My problem is that without correct version of `estimator` some functionality of distributed learning doesn't work in `tensorflow`. In my local case I fixed it b

[2019-02-12 19:11] sjain-stanford opened #25700 "Dataset iterator is stalled indefinitely with corrupt TFRecord despite using `ignore_errors`"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v

[2019-02-12 19:13] tarrade commented on #25692
@jvishnuvardhan thanks a lot. I installed more than 300 packages with pip and conda and never saw that. You are right the path was 273 characters long and allowing to have more than 260 characters as mention in your link fixed the issue. Thanks a lot

[2019-02-12 19:13] #25692 closed

[2019-02-12 19:13] binfoo1993 opened #25701 "The number of non-zero element exceed 32-bits integer"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Centos 7
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source):  1.12.0

**Provide the text output from tflite_convert**

[code]
I was running a model using a sparse tensor whose number of non-zero elements exceed int32 range. And I got this.

Does that mean

[2019-02-12 19:14] sjain-stanford commented on #13463
@guillaumekln You're right, what I'm seeing may not have to do with `OutofRangeError`, but the execution stalls indefinitely when it encounters corrupt data within a TFRecord, despite using `tf.data.experimental.ignore_errors()`. I've created #25700 with the minimal code to reproduce what I'm seeing. Have you encountered this before?

[2019-02-12 19:17] sjain-stanford commented on #12701
@mrry On a closer look, it seems to be stalled when it encounters a corrupt tfrecord, despite using `tf.data.experimental.ignore_errors()`. I've opened #25700 with the minimal code to reproduce this issue. Thanks for taking a look.

[2019-02-12 19:22] angersson commented on #25669
Oh, I see. I forgot about the Pip installation specifications.

It looks like the dependency was incorrectly specified in rc0. That's a bug in TF, not in the Docker containers, so I don't think this needs any attention, especially since rc1 is working fine.

[2019-02-12 19:22] #25669 closed

[2019-02-12 19:52] jvishnuvardhan commented on #25645
@maedoc I think it was due to incorrect dtype used in the code. The dtype of lg_np was float64 where as dtype of lg.tf was float32. Because of the mismatch in the dtype, the difference in precision level of each result affect the norm. I modified the code here.

import numpy as np
import tensorflow as tf

def loss_z_np(z, G, w, ne=3):
    from autograd import jacobian, grad
    def loss(z):

[2019-02-12 20:27] jjhelmus commented on #24172
When imported the Anaconda mkl tensorflow packages will set the `KMP_BLOCKTIME` and `OMP_PROC_BIND` environment variables, if they are not already set, to values which have been found to give good performance with an MKL enabled Tensorflow.  These variable may have effects on other libraries which use OpenMP or MKL.

If these default values are not desired either set the before importing tensorflo

[2019-02-12 20:41] yongtang commented on #18250
@w4-sjcho the `decode_webp` op was implemented in SIG IO:  tensorflow/io#86

You can follow the progress there.

[2019-02-12 20:46] corlov commented on #20798
Hi all!
I use tensorflow 1.11.0 and Debian 4.9.88-1+deb9u1 (2018-05-07) x86_64 GNU/Linux.
I have trained a neural network and I want to use it on a mobile device (Android OS).
My main issue is that of I can't create tflite-file.
I have tried to change input parameters of tflite_convert.
Sometimes I receive error messages at the moment of creating tflite-file:

[code]
[code]

[code]

Sometimes tfli

[2019-02-12 20:59] achowdhery commented on #20798
SSD MobileNet model is for detection, where the conversion instructions are different as detailed in [blog](https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193).
For classification, you would use MobileNet model as given in the codelab you referenced.
The meaning of the following can be found [here](https://www.tensorflow.

[2019-02-12 21:06] yongtang commented on #25701
Added a PR #25702 to remove the limitation.

[2019-02-12 21:10] anilmaddala commented on #25667
@chiragmak10 If your referring to the label on the tracked output, its being set at https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/android/app/src/main/java/org/tensorflow/demo/tracking/MultiBoxTracker.java#L188

[2019-02-12 21:26] jvishnuvardhan commented on #25697
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-02-12 21:26] #25697 closed

[2019-02-12 21:28] EliasHasle commented on #13977
Any chance of getting an axis parameter, such as in numpy? (Maybe I should open a new issue for that feature request?)

[2019-02-12 21:31] av8ramit commented on #25430
We have internally decided not to increase the upper limit.

[2019-02-12 21:31] #25430 closed

[2019-02-12 21:32] av8ramit commented on #21524
There is no immediate plan to create a better UI or adopt Travis for libtensorflowbuilds.

[2019-02-12 21:32] #21524 closed

[2019-02-12 21:32] jvishnuvardhan commented on #25695
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-02-12 21:32] #25695 closed

[2019-02-12 21:43] marsupial-tail opened #25703 "Cache intermediate results in custom op for backwards pass"
Hello,

I wonder if there is a feature in Tensorflow which allows caching of intermediate results in a custom operation for the backwards computation, similar to the the ctx->save_for_backward interface in Pytorch. Does the C++ context object that we get to work with provide such a functionality?

Best,

Ziheng Wang

[2019-02-12 21:43] jvishnuvardhan commented on #25637
@newpoo Could you describe more details about the approach and features you are looking? Thanks!

[2019-02-12 21:53] dthomas888 opened #25704 "TypeError: Expected config_proto to be a ConfigProto"
python /root/tensorflow/tensorflow/examples/image_retraining/retrain.py \
        --image_dir /home/training/data/images \
        --how_many_training_steps=4000 \
        --eval_step_interval=100 \
        --output_graph /home/training/data/graph.pb \
        --summaries_dir /home/training/data/summaries \
        --output_labels /home/training/data/output_labels.txt \
        --bottleneck_dir /h

[2019-02-12 22:10] newpoo commented on #25637
@jvishnuvardhan If possible, essentially we'd like to eliminate the two thread pools (inter_op and intra_op pools) inside tensorflow library , and run session->run() in client thread. Because we run online inference on CPU, and we'd like to reduce the context switch introduced by these two thread pools.

[2019-02-12 22:16] yongtang commented on #25700
I think the issue was that, when ignore_errors is used, the same file will repeat as the file_index is not moved forward to completion.

Created a PR #25705 for a shortcut fix.

Not very familiar with this part of the code, maybe there are some better ways of fixing it? /cc @mrry

[2019-02-12 22:23] jvishnuvardhan commented on #25652
@mluszczyk When I run it in google colab with TPU, i see different kinds of error for both the codes. Are you sure it is related to Bug/performance? If it is a support kind of question, please ask it in [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and p

[2019-02-12 22:33] jvishnuvardhan commented on #25703
@marsupial-tail Could you describe more details about context of your problem. Thanks!

[2019-02-12 22:35] peterfarted commented on #24496
Was this closed too early? It looks like this is only a partial resolution. From the original post by @tydlwav, there is at least one model that the "growth=true" trick does not work on:

[2019-02-12 22:38] karmel commented on #23822
Re: the feature request in the note above, set both save_summaries_steps and save_summaries_secs to None:

[code]

Assigning to @rchao for the file writing issue; presumably the hook is not properly closing the file handles? Not sure if this would be an issue with the summary writer or the hook itself.

[2019-02-12 22:40] karmel commented on #24503
Thanks, @tobegit3hub , for the request. I am having trouble understanding exactly what you want, though. Can you clarify what the "model files" are here? Do you mean the checkpoint? Why do you want to override them?

[2019-02-12 22:42] karmel commented on #24924
@jazztronomers , does this happen if you use the tf.data API as well? https://www.tensorflow.org/api_docs/python/tf/data/TFRecordDataset

[2019-02-12 22:43] sjain-stanford commented on #25700
Thanks @yongtang!

[2019-02-12 22:43] alxfed commented on #25578
What does this line even mean? Especially with NOTHING after the colon?
 I'm getting it too in one of the standard notebooks that I'm trying in Colab.
<pre>
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for upda

[2019-02-12 22:44] ahmed1186 commented on #17807
That was the solution in my case, i updated to protobuf 3.6.1 through conda and it worked.

[2019-02-12 22:47] karmel commented on #25288
The tags to load should be a list in your last line:

[code]

When I run with that, everything works as expected. Closing this issue; please reopen if I have misunderstood.

[2019-02-12 22:47] #25288 closed

[2019-02-12 22:48] rahul003 commented on #25674
This issue happens only when we turn on TF_CPP_MIN_VLOG_LEVEL=1

[2019-02-12 22:52] karmel commented on #25327
Can you try using the [tf.keras.experimental.export](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/experimental/export)? This handles Keras models more gracefully.

[2019-02-12 22:54] mynktwri commented on #13715
I have the same error. Continuing to research on this

[2019-02-12 23:02] mynktwri commented on #17807
@ahmed1186 I have protobuf installed and it still gives the same error
python 3.6
tensorflow 1.12
protobuf 3.6.1
Windows 8.1 64-bit
CPU: i7-4510U

[2019-02-12 23:10] jvishnuvardhan commented on #25700
Thanks @yongtang. @sjain-stanford If your issue was resolved by @yongtang , then please close it or let me know. Thanks

[2019-02-12 23:20] drpngx commented on #25665
Could you:

    * print out what "state" is?
    * trace down where the state comes from and who creates it?

[2019-02-12 23:29] nhasabni commented on #25674
@rahul003 The is not an MKL issue per say. `options.graph` in `optimization_registry.cc` [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/common_runtime/optimization_registry.cc#L44) could be invalid depending on the phase of the graph pass. So dumping it could cause a problem.

I have a fix for this issue. Let me submit a PR.

[2019-02-12 23:35] rahul003 commented on #25674
Thanks @nhasabni , look forward to the fix!

[2019-02-12 23:44] nfelt opened #25707 "summary v2 create_file_writer() behavior leads to incorrect resource deletion"
This is a tracking bug for the known issue that the V2 summary API's `create_file_writer()` logic behaves unexpectedly in regards to the underlying resource lifecycle management.  This typically manifests as users seeing errors like `tensorflow.python.framework.errors_impl.NotFoundError: Resource localhost/logdir:./log/N10tensorflow22SummaryWriterInterfaceE does not exist. [Op:WriteScalarSummary]

[2019-02-12 23:45] nfelt commented on #25524
Duplicate of #25707

[2019-02-12 23:46] nfelt commented on #25524
I've opened #25707 for the root cause, which is independent of Keras.  We can either leave this open for the manifestation of the bug within the TensorBoard Keras callback, or close it and just track the root cause.

[2019-02-12 23:50] sjain-stanford commented on #25700
@jvishnuvardhan Seems like this will close automatically when #25705 is merged. I can let you know once I test the fix though (need to build from source).

[2019-02-12 23:52] nfelt commented on #24632
Thanks for the reports!

Issue 1 has the root cause #25707 which is actually independent of Keras.

Issue 2 is not strictly speaking the same problem, but the proposed solution to #25707 would also fix issue 2, because it would mean each execution of the callback would create a new event file (the same as the 1.x behavior).

[2019-02-13 00:09] skye commented on #25578
@alxfed tf.colocate_with is going away in TF 2.0, which is why it prints the deprecation warning. It's trying to say that you don't need to worry about updating because it should be handled automatically, but I agree this could be more clear. I don't believe that's related to this issue however.

@anshkumar as an update, I was able to repro the problem in a copy of your notebook, but unfortunately

[2019-02-13 00:19] believeohiozua opened #25708 "DLL load failed with error code -1073741795"
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
~\Anaconda3\lib\site-packages\tensorflow\python\pywrap_tensorflow.py in <module>()
     57
---> 58   from tensorflow.python.pywrap_tensorflow_internal import *
     59   from tensorflow.python.pywrap_tensorflow_internal import __version__

~\Anacon

[2019-02-13 00:20] samhodge commented on #5302
@ktsumura I just got tcmalloc working under Windows, the difference is spectacular to say the least, memory is given back and shared between sessions, I love both @beniz  for pointing out what was becoming a show stopper for me, that I couldn't rely on GPU memory being given back in a tidy way.

[2019-02-13 00:24] ymodak commented on #24210
Take a look at similar [attempt](https://github.com/PatWie/tensorflow-cmake/issues/1) made by another user. Closing this issue since its not a bug/feature request. Feel free to reach out to [Stack Overflow](http://stackoverflow.com/questions/tagged/tensorflow)community for follow up questions related to this issue. Thanks!

[2019-02-13 00:24] #24210 closed

[2019-02-13 00:26] robbiemu commented on #21377
@aselle  I have a simple example to volunteer :) I wish you would take mine as an example! Full source is https://colab.research.google.com/drive/1sB8vv3TM5Sp45TicJ8PxEvpUAX42XqPY#scrollTo=t5AMh3Ui115y&uniqifier=1
 and I can gladly provide sample data as well.

Here's the part specific to consrtructing the model:

[code]

[2019-02-13 00:39] MarkDaoust commented on #25687
Hi @abhi278,

Please see: https://github.com/tensorflow/tensorflow/blob/master/LICENSE#L145

[2019-02-13 00:39] #25687 closed

[2019-02-13 00:49] scm-ns commented on #23253
Same issue. Is there a solution for this?

[2019-02-13 01:05] scm-ns commented on #19431
@milinddeore Did you find a solution to this issue?

[2019-02-13 01:08] scm-ns commented on #19431
@andrehentz But is the freeze_graph script supported? Do you what step causes this error to be thrown. Can you provide me some internal context on why this error might be occurring?

[2019-02-13 01:18] lzw429 commented on #25665
`state`: `<type 'tuple'>: (<tf.Tensor 'rnn_state:0' shape=(50, 100) dtype=float32>,)`
\_\_len\_\_ = 1

`state` is returned by this statement `output, state = multi_cell(inputs, tuple(self.state))`
where
`self.state = [tf.placeholder(tf.float32, [self.batch_size, self.rnn_size], name='rnn_state') for _ in xrange(self.layers)]`
`multi_cell = rnn_cell.MultiRNNCell([cell] * self.layers)`
`inputs = tf.

[2019-02-13 01:21] alaa-Mz opened #25709 "Check failed: status == CUDNN_STATUS_SUCCESS (7 vs. 0)Failed to set cuDNN stream."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution: Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow installed from (source or binary):source
- TensorFlow version (use command below): 1.12.0
- Python version: 3.6
- Bazel vers

[2019-02-13 01:27] HwMohanLiu commented on #19530
@IvyGongoogle If the original pb is used for validation before folding BN, you may have to keep the input batch size as training to get a similar accuracy. After folding, you can input the images one by one. There could be very slight difference between them. However, the difference can be ignored since the gap is normally after four decimals according to my experience.

[2019-02-13 01:29] csteegz commented on #25288
Thanks - that resolved my issue. It would be nice to have an example using simple saver in the API docs or type annotations or something.

[2019-02-13 01:43] TropSpirit opened #25710 "Tensorflow Build fail on rockchip arm64"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04 64 bit
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): Source
- TensorFlow version: 1.8.0
- Python version: 2.7
- Installed using virtualenv? pip? conda?: N/A
- Bazel version (if compiling from source): 0.1