[2020-03-05 09:25] Saduf2019 commented on #37334
please find the [gist](https://colab.sandbox.google.com/gist/Saduf2019/04e40b481d05e6a0c2e36ef9c0887ae6/37334.ipynb) for kernel_size=0

[2020-03-05 09:29] luvwinnie commented on #36391
any progress on this issues?

[2020-03-05 09:30] ngc92 commented on #33820
The documentation is still lacking for the `CosineSimilarity` class, and contains a sign error.
I have submittd #37343 for that.

[2020-03-05 09:34] ravikyram commented on #37338
@Rogersjk
Can you try running the code in latest -tf-nightly version(`!pip install tf-nightly`). I am not seeing any issue in Nightly version. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/f642d14fddacae3d59be20b354406c37/untitled705.ipynb).Thanks!

[2020-03-05 09:37] eQueue commented on #34679
@Noltibus
hi i'm running posenet example of Tensorflow lite.
i got a same issue in GPU Delegate.
 i found where this app select CPU,GPU, NNAPI.
that file is at android/posenet/src/main/java/org.tensorflow.lite.examples.posenet.lib/Posenet.kt
Unfortunately, posenet example is written of kotlin. so i can't insert your same java code.
i modified,
`class Posenet(
  val context: Context,
  val filename

[2020-03-05 09:38] pandrey-fr commented on #36998
Hi,
I was able to replicate the issue, thanks for clarifying.
I have two distinct answers, and I will start with the obvious but perhaps unsatisfactory one.

1. Your custom Model does not abide by the current API.
If you replace it with a custom keras Model subclass, such as the one implemented below, then it trains perfectly, with or without tf.function decorating your custom training step.
[code

[2020-03-05 09:38] jurgenweber opened #37345 "freebsd build tensor v2.1.0"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
FreeBSD  12.1-RELEASE-p1 FreeBSD 12.1-RELEASE-p1 GENERIC  amd64

- TensorFlow installed from (source or binary):
source,
- TensorFlow version:
v2.1.0
- Python version:
python --version
Python 3.7.6
- Installed using virtualenv? pip? conda?:
pip
- Bazel version (if compiling from source):
bazel --version
bazel 0.29.0

[2020-03-05 09:41] oracle3001 commented on #37300
Yes, that has fixed the issue. Thank you.

[2020-03-05 09:41] #37300 closed

[2020-03-05 09:41] amahendrakar commented on #36915
Was able to reproduce the issue with sample dataset. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/b643887f3e32ecb0267dfe4da6e2f4c3/36915.ipynb). Thanks!

[2020-03-05 09:45] OmerLiberman commented on #36332
problem was found:
<img width="1440" alt="Screen Shot 2020-03-05 at 11 44 35" src="https://user-images.githubusercontent.com/38648402/75968871-c2a7a380-5ed6-11ea-824e-1071aae460b6.png">

it enters this line at the end of the epoch

[2020-03-05 09:55] Saduf2019 commented on #26398
@EphChem Could you please respond to the above comment.
@stefan-falk please confirm if the issue still persist.

[2020-03-05 09:59] padoremu opened #37346 "Training of tf.keras.layers.RNN with preceding Reshape using tf.shape fails"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution: Linux Ubuntu 18.04
- Mobile device if the issue happens on mobile device: -
- TensorFlow installed from: binary
- TensorFlow version: 2.2.0-dev20200303
- Python version: 3.6.9
- Bazel version (if compiling from source): -
- GCC/Compiler versio

[2020-03-05 10:00] amahendrakar commented on #37342
@JiayuanSternLi,
Could you please check if it works with the latest nightly version and let us know if it works? Thanks!

[2020-03-05 10:00] Rogersjk commented on #37338
Thank you @ravikyram , I change the tensorflow version to 2.0.1, the error also disappears. So I guess it's the problem of tensorflow version 2.1.0

[2020-03-05 10:09] julj commented on #37290
I followed the instructions and got the wrong version installed in the end. I had to purge cuda* and nvidia and install everything manually (downloading the packages from NVIDIA).

[2020-03-05 10:09] #37290 closed

[2020-03-05 10:10] anthonyatp commented on #37273
Hmm, it's difficult to reproduce simply without having trained the model with the checkpoints.

I'd suggest running the notebook from the tutorial: https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/text/image_captioning.ipynb

And once the model has been trained and checkpoints saved, restart the kernel to reset the `encoder` and `decoder` variables and try to

[2020-03-05 10:14] anspire commented on #37301
I am also getting similar error [notebook link](https://github.com/anspire/Notebooks/blob/master/yolov3_tiny_keras.ipynb)
`RuntimeError: Regular TensorFlow ops are not supported by this interpreter. Make sure you apply/link the Flex delegate before inference.Node number 41 (FlexSize) failed to prepare.
`

log test file of converted model while running on android native c++
[android_native_log.txt]

[2020-03-05 10:29] Gorospe opened #37347 "Quantization problem while reproducing person detection example"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution: Ubuntu 18.04.4 LTS
- Tensorflow version: 1.15
- Target platform: OpenMV Cam H7 (https://openmv.io/products/openmv-cam-h7)

**Problem description**
I am trying to reproduce the person detection example (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/micro/examples/person_detection/training_a_model.m

[2020-03-05 10:35] arjun-majumdar commented on #36574
https://github.com/arjun-majumdar/tensorflow_codes/blob/master/Recreating_Error.ipynb

[2020-03-05 10:39] ThomasRobertFr commented on #37289
I recently looked at this issue of making tensorflow free GPU memory, from what I understood I does not seem like it's gonna be available anytime soon. So for now when tf allocates some GPU memory, it will not free it until the cuda session is closed, regardless of it being used to store objects or not.

You can close the whole cuda session using numba (e.g. https://github.com/tensorflow/tensorflo

[2020-03-05 10:41] GeorgeLiang3 commented on #37230
@gowthamkpr  Thanks for your reply! But if I add one more 'if' or 'for' statement in the function, the both give the same error. Please find my gist [here](https://colab.research.google.com/drive/1p0bb2ePkc6ect0Q26RVB_BByOUFtppeq)

[2020-03-05 10:48] ahnjaewoo commented on #37289
Thanks for suggestion. (especially numba)
I decided to execute it as a sub-process with another python code.
I hope this problem to be resolved in TF society someday :)

Thanks 👍

[2020-03-05 10:48] #37289 closed

[2020-03-05 11:22] Saduf2019 commented on #37339
@Rogersjk
Could you please share all dependencies for us to replicate the issue faced by you, please find the [gist](https://colab.sandbox.google.com/gist/Saduf2019/5f23558078f731add7d3aba4338512c1/untitled74.ipynb) of the error faced while we replicate your issue in our local.

[2020-03-05 11:31] ravikyram commented on #37338
@Rogersjk

You could use tf-nightly for now and in the next couple of months new stable version will be released. I am closing the issue for now. Please feel free to open the issue if it persists with the new version. Thanks!

[2020-03-05 11:31] #37338 closed

[2020-03-05 11:31] gadagashwini commented on #37298
@thomaslundgaard, This issue is fixed in Tf-niglty version. Would you like to try with latest version.
Please find the gist [here](https://colab.sandbox.google.com/gist/Saduf2019/578347ae4dc350907ffd1aee58d30f63/untitled417.ipynb). Thanks!

[2020-03-05 11:36] gadagashwini commented on #37336
@shiningrain, I tried replicating the reported issue. I didn't receive an error. Please take a look at the gist [here](https://colab.sandbox.google.com/gist/Saduf2019/6351f70f3c49499cd34265d487664bad/untitled419.ipynb). Thanks!

[2020-03-05 11:37] BinyanHu commented on #36981
@davisyoshida Thank you for sharing. Will test your implementation as soon as possible!

[2020-03-05 11:37] beojan commented on #33374
Looks like a 3.8 wheel is now available for Linux:

![image](https://user-images.githubusercontent.com/3727925/75978118-bd962480-5ed5-11ea-9a43-77d0043ffe3f.png)

[2020-03-05 11:45] amahendrakar commented on #37299
@FB43,
Any GPU which satisfies the hardware and software requirements listed [here](https://www.tensorflow.org/install/gpu#hardware_requirements) can be used to build the TensorFlow GPU package.

You can also check out the tested build configurations for Windows from the official [documentation](https://www.tensorflow.org/install/source_windows#gpu). Thanks!

[2020-03-05 11:51] Rogersjk commented on #37339
Hi @Saduf2019 , the error is disappeared when I change the version of tensorflow from 2.1.0 to 2.0.1. But it still occurs in 2.1.0 version. Please find the error in the [gist](https://colab.research.google.com/gist/Rogersjk/9ea5803e9248f67156067cb3e2384dab/untitled74.ipynb)

[2020-03-05 11:54] Rogersjk commented on #37338
Thanks for your help.

[2020-03-05 11:55] Andreas5739738 opened #37351 "tf.where raises ValueError for RaggedTensor arguments"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): no
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): OS X
- TensorFlow installed from (source or
binary): `pip install tensorflow`
- TensorFlow version (use command below): v2.1.0-rc2-17-ge5bf8de410 2.1.0
- Python version: 3.7.4

**Describe the current behavior**
Callin

[2020-03-05 12:04] Saduf2019 commented on #37340
@burgerkingeater please let us know which version of tensorflow are you facing the issue.please update the template it helps us resolve the issue faster.

[2020-03-05 12:09] Saduf2019 commented on #37346
I could replicate the issue please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/ecddb668c05648186c1f19484fdffc48/untitled73.ipynb)

[2020-03-05 12:22] amahendrakar commented on #37316
@maurera,
As per the [documentation](https://www.tensorflow.org/install/
) TensorFlow 2 packages require a pip version >19.0.

Please check [this](https://github.com/tensorflow/tensorflow/issues/26578#issuecomment-543286872) comment from a similar issue and let us know if it works. Thanks!

[2020-03-05 12:25] lxl910915 opened #37352 "TF-TRT is slower than native-TF with 512*512 image"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  [EAST ](https://github.com/argman/EAST)model
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04):  Ubuntu 16.04
- TensorFlow installed from (source or
binary): - TensorFlow version (use command below):  1.15.0
- Python version: - Bazel
version (if compiling from source):

[2020-03-05 12:34] harahu commented on #33374
@ErikBjare @gunan I guess this is something like a roadmap? https://github.com/orgs/tensorflow/projects/8#card-32797473

[2020-03-05 12:44] wangrui261 commented on #22803
I find a solution about this question. Just change the attribute fused of tf.keras.layers.bn to false. The output is correct.

[2020-03-05 12:49] beeb opened #37353 "nvidia-smi missing from tensorflow:latest-gpu-py3-jupyter docker container (TF 2.1.0)"
Hey all,

I just upgraded my codebase to TF 2.1.0 and as such also started using the "latest" container instead of the 1.15.x container I was using before.

My pipeline relies on `nvidia-smi` to get information about the memory utilization of the GPUs and other things, but I was disappointed to see that the tool has been seemingly removed from the container in the newer versions.

Can anyone else

[2020-03-05 12:52] beeb commented on #37353
Actually it seem the problem is only with my specific setup. Because if I run:

    docker run --gpus=all tensorflow/tensorflow:latest-gpu-py3-jupyter nvidia-smi

it works...
Could it be because I use docker-compose and set the default runtime to be `nvidia`?

[2020-03-05 12:59] ashutosh1919 commented on #37111
@tigert1998 , Can you please provide the link of the file in tensorflow where you have checked this code. I also want to take a look at it.

[2020-03-05 13:01] amahendrakar commented on #37306
@CleanPegasus,
I was able to reproduce the issue with [TF2.1](https://colab.sandbox.google.com/gist/amahendrakar/ae4921f2d23cd2dfdf60524888168574/37306.ipynb), however the issue seems to be fixed in [TF-nightly](https://colab.sandbox.google.com/gist/amahendrakar/da264a2d14b1b6242ee67f663e5059fe/37306-tf-nightly.ipynb). With TF-nightly, I see that the functions `on_epoch_end` and `on_train_end` are

[2020-03-05 13:05] beeb commented on #37353
Nevermind, I just had to clear all my cached images and build again. Somehow there were some leftovers that were messing with the base image.

[2020-03-05 13:05] #37353 closed

[2020-03-05 13:19] FancyXun opened #37354 "Speed up AES in tf-2.1.0"
hi,
I hava implemented AES encryption in tensorflow,but it is too slow.
I guess there are lots of map_fn operation which make it slowly.But I don't know how to fix it
https://stackoverflow.com/questions/60545000/aes-encryption-in-tensorflow-is-too-slow

[code]

My tensorflow version is 2.1.0

[2020-03-05 13:28] CleanPegasus commented on #37306
Thanks for the help.

[2020-03-05 13:28] #37306 closed

[2020-03-05 13:33] amahendrakar commented on #37234
@soyers,
If the issue is fixed in the TF-nightly version, we can expect it in the next available stable release. Thanks!

[2020-03-05 13:34] jepperaskdk opened #37355 "Raspberry Pi 3: ERROR: tensorflow-2.1.0-cp35-none-linux_armv7l.whl is not a supported wheel on this platform."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Raspbian 10
- Mobile device (e

[2020-03-05 13:47] amahendrakar commented on #37324
@SpikingNeuron,
I tried to reproduce the issue but did not face any warnings and errors. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/af1ab144bf9ba0a7ce77b7f0c8967199/37324.ipynb). Thanks!

[2020-03-05 13:54] mohlondon commented on #37172
thank you for your reply i did managed to fix this by downgrading tensorflow to 0.12.1 version then it worked but i have a problem the chat i created it doesn't work correctly i guess it keep gigin me this resault no matter how much time i train it
python3 ./translate.py  --en_vocab_size=40000 --fr_vocab_size=40000 --data_dir=/home/baba055h_s/ --train_dir=/home/baba055h_s/ --decode
/home/baba055h_

[2020-03-05 13:55] mohlondon commented on #37172
thank you for your reply i did managed to fix this by downgrading tensorflow to 0.12.1 version then it worked but i have a problem the chat i created it doesn't work correctly i guess it keep gigin me this resault no matter how much time i train it
python3 ./translate.py  --en_vocab_size=40000 --fr_vocab_size=40000 --data_dir=/home/baba055h_s/ --train_dir=/home/baba055h_s/ --decode
/home/baba055h_

[2020-03-05 13:56] mohlondon commented on #37172
i didn't close it it's a mistake i'm waiting for an answer

[2020-03-05 13:56] mohlondon commented on #37172
i didn't close it it's a mistake i'm waiting for an answer

[2020-03-05 14:03] freedomtan commented on #37345
you have to link `libexecinfo`. Add `--linkopts=-lexecinfo` to your bazel command line

[2020-03-05 14:19] thomaslundgaard commented on #37298
This is indeed fixed in tf-nightly.
Unfortunately, nightly has other bugs which means I cannot use that either. I will have to wait for those issues to get fixed.

[2020-03-05 14:19] #37298 closed

[2020-03-05 14:20] ucas010 commented on #33328
No,
the same codes tf1.15
[code]

but the error :
[code]

[2020-03-05 14:30] #37354 closed

[2020-03-05 14:59] CalebGreer commented on #22898
I am also having this error. Did you find a solution too @arnaldog12?

[2020-03-05 14:59] tobillsung-doc commented on #37239
@jvishnuvardhan Yes, please. Thank you.

[2020-03-05 15:05] ngc92 opened #37357 "pathlib.Path support"
**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes/No):
Yes

**Describe the feature and the current behavior/state.**
In 3.4 python added the `pathlib` module for handling of file system paths. Currently, the corresponding `pathlib.Path` objects cannot be passed to tensorflow functions directly as they expect strings.

**Will this change the curren

[2020-03-05 15:09] ben-arnao opened #37358 "Anyone have an interest in making ReduceLROnPlateau compatible with weight decay optimizers?"
**System information**
- TensorFlow version (you are using): 2.0, should work with 2.1 too
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

**Will this change the current api? How?** No

**Who will benefit with this feature?** Those using decoupled weight decay optimizers with reduce LR callback

**Any Other info.**

It has been shown that

[2020-03-05 15:18] LukeChow opened #37359 "Cannot create interpreter: Op builtin_code out or range: 74. Are you using old TFLite binary with newer model?"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
Yes
- OS Platf

[2020-03-05 15:21] shiningrain commented on #37336
Hi! @gadagashwini
Thank for your help!
I have read your code and it did run well in colab. But when I try to run the same code on my PC, the error I described above will still arise.(Shown in the following pictures.) This really confuses me.

![pic1](https://user-images.githubusercontent.com/46860123/75994629-3927be00-5f36-11ea-8df1-ff10d225b232.jpg)
![pic2](https://user-images.githubusercontent.c

[2020-03-05 15:33] zaccharieramzi commented on #28264
Hi, are there any updates on this?
In my use case, I don't necessarily want to train the model fully, but just test things out, which usually means I am using CPU.

[2020-03-05 16:11] gabrieldemarmiesse commented on #36799
If one wants to be able to use numpy in a `Metric`, I believe that's possible. A metric doesn't require any gradient and you just have to execute `result` and `update_states` in eager mode. I mean, in eager mode you can do pretty much anything you want anyway, so I fail to see how using numpy would be a problem.

[2020-03-05 16:31] GreatEmerald commented on #33758
I ran into this as well, @hi-ogawa's workaround worked. Which commit fixes it in the mainline tree?

[2020-03-05 16:42] snehal1405 opened #37360 "ERROR:root:Internal Python error in the inspect module."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2020-03-05 16:47] mihaimaruseac commented on #33758
![s5po5u1qiYp](https://user-images.githubusercontent.com/323199/76004198-f9bd8b00-5ebd-11ea-852d-70635f24a432.png)

[2020-03-05 16:47] johan-andersson01 commented on #36853
Unfortunately I can't publish the original code, but I'll try to create a simpler working example when I find the time. Thanks for your patience. :)

[2020-03-05 16:50] GreatEmerald commented on #33758
Ah, good to know, thanks!

[2020-03-05 16:53] mihaimaruseac commented on #36937
It's 3 backticks, not two

[2020-03-05 16:55] mihaimaruseac commented on #36937
Can you check if the two packages (TF and textgenrnn) are built using the same toolchains?

[2020-03-05 16:57] ibarrond commented on #25227
While fighting with a similar porting, I bumped into this [colab notebook](https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/guide/migrate.ipynb#scrollTo=ulaB1ymO4pw5) containing a very juicy paragraph on the subject:

I hope it is useful to other people!

[2020-03-05 17:02] mihaimaruseac commented on #35749
Guys, please stop spamming with "it works" messages.

[2020-03-05 17:04] zhisbug commented on #34322
wonder if there is any update on this issue?

[2020-03-05 17:09] mihaimaruseac commented on #33374
@harahu Yes, those are the issues that should be solved before TF2.2 gets released.

@beojan (and others): Yes, nightly now has py3.8 support and TF 2.2 will also have this. However, note that this will be for Windows and Linux for now. MacOS support is supposed to arrive in the upcoming weeks, hopefully before the TF 2.2 final release (it's an upstream issue, not something we can fix at the momen

[2020-03-05 17:11] GeorgeS2019 commented on #35405
@ravikyram @gunan  any update to [this](https://www.tensorflow.org/install/lang_c) for 2.0?

[2020-03-05 17:12] #36963 closed

[2020-03-05 17:27] ml-0 opened #37361 "CMSIS-NN kernel is slower than C-reference kernel"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution: Linux Ubuntu 18.04 in WSH on Win10
- TensorFlow installed from (source or binary): source
- Tensorflow version: 4030aa1fe5bdd846301f379d1f1a0e58efbceae4
- Target platform: SparkFun Edge (Cortex M4F)

**Describe the problem**
Since commit 4030aa1fe5bdd846301f379d1f1a0e58efbceae4 the convolutional layers (conv, depthwise_

[2020-03-05 17:37] #37105 closed

[2020-03-05 17:45] tgaddair commented on #37237
Hey @omalleyt12, any update on this issue?

[2020-03-05 17:59] rthadur opened #37363 "test issue"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- Tensorflow version (commit SHA if source):
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.):

**Describe the problem**

**Please provide the exact sequence of commands/steps when you ran into the problem**

[2020-03-05 17:59] #37363 closed

[2020-03-05 18:15] omalleyt12 commented on #37237
@tgaddair Yes this should be fixed in the latest nightly

Also have a cherrypick out for the 2.2 release branch: https://github.com/tensorflow/tensorflow/pull/37314

[2020-03-05 18:15] tgaddair commented on #37237
Thanks!  I'll try it out today and get back to you.

[2020-03-05 18:16] omalleyt12 commented on #37237
Sounds good, thanks!

[2020-03-05 18:21] haozha111 commented on #37134
It doesn't seem like those are where tensorlist ops originated. Do you mind sharing your model file along with a reproducible script?

[2020-03-05 18:21] haozha111 commented on #37134
The issue is the same. Do you have a reproducible script?

[2020-03-05 18:28] qlzh727 commented on #37346
I think this error is expected since it you are feeding a symbolic tensor from model.output.shape to tf.keras.layers.Reshape(). Note that target_shape param for Reshape layer is expected to be tuple of integers, rather than tensors. The error message is also quite explicit about that slide op which is produced by `dim_time_read = tf.shape(model.output)[1]`

When u need reshape the output from prev

[2020-03-05 18:34] jvishnuvardhan commented on #35763
This is still reproducing same error. Here is the full error trace for our reference. Thanks!

[code]

[2020-03-05 18:37] av8ramit commented on #37317
Hi @loricrotser unfortunately due to [storage limits on pypi](https://pypi.org/stats/) and our whls taking up nearly 1TB of space we were forced to remove them from pypi.

However as a courtesy I've made the internal archive link public so you can download that particular whl [here](https://storage.googleapis.com/tensorflow-nightly/prod/tensorflow/release/ubuntu_16/gpu_py35_full/nightly_release/3/

[2020-03-05 18:37] #37317 closed

[2020-03-05 18:44] karmel commented on #33997
As shown in [this comment](https://github.com/tensorflow/tensorflow/issues/33997#issuecomment-586279455), calling the model/layer's call method can work under a tf.function, but we do not expect calling the model's predict method inside a function to work necessarily. Inside of predict, we wrap the calling of the model itself in a function, but predict takes care of some higher-level processing th

[2020-03-05 18:44] #33997 closed

[2020-03-05 18:46] karmel commented on #37026
In 2.x, we would recommend using tf.data.Datasets, which can handle multiprocessing of input pipelines. See https://www.tensorflow.org/guide/data for more information.

[2020-03-05 18:46] #37026 closed

[2020-03-05 18:54] mihaimaruseac commented on #37316
`RUN python3.7 -m pip install --upgrade pip` is indeed the right solution. Can you please make a PR to add it to the dockerfiles?

[2020-03-05 18:56] mihaimaruseac commented on #37042
Closing as duplicate.

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-03-05 18:56] #37042 closed

[2020-03-05 19:01] allenlavoie commented on #35763
Does the loss have any variables? It doesn't look like it, in which case there isn't anything to checkpoint.

Basically, what should the Checkpoint object do with the loss object?

[2020-03-05 19:25] mr-goldhands commented on #37088
I confirmed @tomtobback notification.

If I do NOT apply TF Lite model optimization, the model works as expected with input 28x28 px.

If I convert model to TF Lite with either of `tf.lite.Optimize.OPTIMIZE_FOR_SIZE` or `tf.lite.Optimize.OPTIMIZE_FOR_LATENCY` I just receive wrong predictions.

Tested on ESP32, built with ESP IDF.

[2020-03-05 19:32] humayun commented on #32954
I have similar errors. I have GAN model to generate fake images but after few epochs, program crash due to out of memory error. Error happened at the line of
`g_loss = model.train_on_batch(x, y)`

My intuition is when Generator create an image from noise (size is 400) and output of generator is image size of (batch_size, 128, 128, 3).  It is allocating gpu memory in each _**train_on_batch**_ call.

[2020-03-05 19:37] nshoman opened #37364 "ConvLSTM2D Mixed Precision casting"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): yes

- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Ubuntu 16.04

- TensorFlow installed from (source or
binary): - TensorFlow version (use command below): 2.1.0

**Describe the current behavior**
Presumably, dtype isn't correctly cast for ConvLSTM2D when using mixed

[2020-03-05 19:44] ujjwal-ai opened #37365 "ResNet models in tf.keras.applications contain a bias term which should not be there."
Pretrained ResNet models available as part of `tf.keras.applications` include a `bias` weight with all the convolutional layers which is weird. What is even weirder is that the pretrained weights contain `all zeros` for the bias weights, which is definitely a problem.

ResNet models do not use a bias term because of the use of `batch normalization`. Even the TensorFlow models repository, the [ResN

[2020-03-05 19:46] mihaimaruseac commented on #36859
Closing as duplicate.

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-03-05 19:46] #36859 closed

[2020-03-05 19:47] mihaimaruseac commented on #36858
Please consult the [security guidelines](https://github.com/tensorflow/tensorflow/blob/master/SECURITY.md)

[2020-03-05 19:48] mihaimaruseac commented on #37221
Closing as duplicate.

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-03-05 19:48] #37221 closed

[2020-03-05 19:54] mihaimaruseac commented on #37203
Closing as duplicate.

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-03-05 19:54] #37203 closed

[2020-03-05 19:55] mihaimaruseac commented on #36975
Closing as duplicate.

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-03-05 19:55] #36975 closed

[2020-03-05 19:56] SpikingNeuron commented on #37324
@amahendrakar Please try in command prompt or terminal with local python installation. The jupyter-notebook might be changing the behavior of the debugger.

This is the error I get
[code]
I realized it is not an error but a warning. The message indicates it as error but the `W` tag at the start indicates that it is a warning.

I assume if I ignore the warning I will be safe.

Is this warning a cri

[2020-03-05 20:09] mihaimaruseac commented on #26870
If you get this working by downgrading to 2.0.0 then you can use 2.1.0 by downloading the new MSVC redistributable from Microsoft

[2020-03-05 20:13] PhanatosZou opened #37366 "tf_upgrade_v2 fails to deal with set_session"
**System information**
- Linux Ubuntu 16.04:
- TensorFlow 2.0
- Python 3.6

I use `tf_upgrade_v2` to convert my script from TF1.14 to 2.0. But the converted script run into an error.

[code]

Finally I changed the code manually to make it work.
[code]

Is there anything going with `set_session` when use `tf_upgrade_v2`?

[2020-03-05 20:21] settle commented on #35116
@fgervais Did you ever manage to build raspberry pi wheel for python 3.7?  I am seeing the same behavior, builds for PI-PYTHON3 but not for PI-PYTHON37.  I just booted up Ubuntu 19.10 armhf on my Raspberry Pi 4 device (which has python3.7 installed) and was hoping to give this a spin (I tried the arm64/aarch64 image as well, see below if you're interested).

@petewarden Do you have any recommendat

[2020-03-05 20:38] sam-ulrich1 commented on #37026
@karmel As I mentioned earlier, I have created a quite complex data pipeline and I'm not able to completely re-write my pipeline at the moment. Considering there are a number of people in a similar position as me and the fix seems very simple, I believe this warrants more consideration than simply closing the issue.

I think it would be reasonable to explore such a simple solution in pursuit of ba

[2020-03-05 20:53] fgervais commented on #35116
@settle I couldn't make it work, I changed my plan and built a docker image based on debian:stretch (which uses python 3.5) and added then tensorflow dependencies on top.

See here:

https://github.com/tensorflow/tensorflow/issues/36672#issuecomment-587499389

[2020-03-05 20:54] crystina-z opened #37369 "feature request: add tf_random_seed argument for TPUConfig"
<em>tag:feature_template</em>

**System information**
- TensorFlow version: 1.15 and 2.0
- Are you willing to contribute it (Yes/No): I would like to yet not quite sure how

**Describe the feature and the current behavior/state.**
add `tf_random_seed ` option for `TPUConfig` ([here](https://www.tensorflow.org/api_docs/python/tf/compat/v1/estimator/tpu/TPUConfig)) as for `RunConfig` ([here](https:/

[2020-03-05 20:58] jvishnuvardhan commented on #37043
@TCBocean You have described multiple issues here. Can you please separate the issues so that it will be easy for the community to follow your issue?  It will be easy for us to resolve issues faster if they are focused on one topic in each post.

Also, in each of the post, provide standalone code and also full error trace. Adding links to colab would be very helpful (but required). Also, check wit

[2020-03-05 21:05] whatdhack opened #37370 "Element/Coefficient wise Mul _MklMul"
Occasionally  see that for element/coefficient wise multiplication ( e.g.  scalar*tensor or tensor*tensor) that multiple types of operators are used  ( e.g. Mul and _MklMul) .  My questions are as follows,

1.  Is there any difference between Mul and _MklMul ?
2. Why  for some Ops Mul is picked and for others _MklMul is picked ?

Files referring to Ops/Kernels  are as follows:
https://github.com/t

[2020-03-05 21:17] mehdishafiei commented on #25446
@opcecco you are a lifesaver.
Thank you.

[2020-03-05 21:18] jvishnuvardhan commented on #36430
@dathudeptrai I think this was resolved in recent `tf-nightly`. Can you please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/f734059f02e2d2aad44327775e0f8686/36430.ipynb). When I ran your code with `tf-nightly`, I cannot reproduce the error.

Please run yourself and let us know whether it resolved for you or not. If it was resolved, please feel free to close the issue.

[2020-03-05 21:25] sanjoy commented on #36778
Are you sure this is the same problem?  @double344931987 's logs don't have "out of memory" errors.

Can you try using [`set_memory_growth`](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) to prevent TF from allocating all of the GPU memory on startup? Does that address this issue?

[2020-03-05 21:29] houtoms commented on #36508
From the error log, the cuDNN didn't successfully create the handler. So, it seems not to be a CuDNN RNN issue. Can you try some convolution examples to see if the cuDNN is able to create handler? @ARozental

[2020-03-05 21:30] bixia1 commented on #36959
The GPUGeviceContext  comes from here
https://github.com/tensorflow/tensorflow/blob/aae5c218bea680b2c5ef581a4f215501ccd66b4e/tensorflow/core/common_runtime/gpu/gpu_device.cc#L479-L486

which is initialized here and can't be changed for the object
https://github.com/tensorflow/tensorflow/blob/aae5c218bea680b2c5ef581a4f215501ccd66b4e/tensorflow/core/common_runtime/gpu/gpu_device.cc#L359-L371

[2020-03-05 21:36] jvishnuvardhan commented on #37052
@Kiranendra Can you please create a standalone code to reproduce the issue. I tried to create model but it throws an error in this line `data_dest.append(start_stop_tags(preprocess_text(line[1])))`. The error is as follows. Basically `line` was empty but we are trying to access line[1]. Thanks!

[code]

[2020-03-05 21:56] mehdishafiei commented on #24496
I had the same problem and `allow_growth = True` was the solution. BUT, for TensorFlow 2, in order to do that you need to add the following lines:

`gpu_devices = tf.config.experimental.list_physical_devices('GPU')
for device in gpu_devices:
    tf.config.experimental.set_memory_growth(device, True)`

Thanks to user  @opcecco in this issue: https://github.com/tensorflow/tensorflow/issues/25446

[2020-03-05 21:57] dipen0807 commented on #27935
I created the another environment "tf" from anaconda navigator and installed the Jupyter. Now what happened is that in this new Jupiter my tensoflow works but all other previously installed libraries do not work(like sklearn)m and in the old jupyter tensorflow doesnt work and other libraries work.

So how to solve this issue?

[2020-03-05 22:24] #36857 closed

[2020-03-05 22:44] mihaimaruseac commented on #34427
Closing, since issue stems from toolchain and we fixed that

[2020-03-05 22:44] #34427 closed

[2020-03-05 22:47] mihaimaruseac commented on #36986
In this case, you need to update MSVC redistributable (install the latest one) and then you can use 2.1.

Closing as duplicate.

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-03-05 22:54] jvishnuvardhan commented on #37025
@razor1179 Can you please provide a simple standalone code to reproduce the issue? I tried but got an error `NameError: name 'MultiRNNCell' is not defined`. Please check the [gist here](
https://colab.sandbox.google.com/gist/jvishnuvardhan/dd69c6005d2afdd176df3870697c070b/untitled865.ipynb#scrollTo=GQGYzikS4Hok). Thanks!

[2020-03-05 23:00] jvishnuvardhan commented on #36855
@vihari1729 Can you please provide a standalone code to reproduce the issue? Thanks!

[2020-03-05 23:03] holokai-ai opened #37376 "Hexagon Delegate not working with quantized EfficientNet Lite0"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-03-05 23:32] tgaddair commented on #37237
Looks like this issue is resolved.  Thanks for the fix @omalleyt12!

[2020-03-05 23:32] #37237 closed

[2020-03-05 23:36] gowthamkpr commented on #37318
You should use this version of tensorflow as shown [here](https://github.com/tensorflow/tensorflow/tree/r2.2/tensorflow/core/ops/compat/ops_history_v1). Thanks!

[2020-03-05 23:38] karimnosseir commented on #37376
Is this model quantized using post-training quantization ? If yes, then it is not yet supported - we are working on it.

[2020-03-05 23:46] holokai-ai commented on #37376
Thank you for your quick reply Karim.

According to the referenced page, it does look like those EfficientNet Lite models were post-training quantized:

Can you point me to pages showing how to do TF2 quantization-aware training myself?  Thanks!

[2020-03-05 23:47] jurgenweber commented on #37345
it doesn't matter what I do, that opt fails:
[code]

[2020-03-05 23:52] mathemakitten commented on #30418
Hi @ppham27, just chiming in to +1 definitely interested in an implementation of gradient checkpointing which works in graph mode. The tf-slim version doesn't run for TF2+ versions which no longer have contrib (without quite a bit of hackery, anyway).

[2020-03-05 23:54] karmel commented on #36344
Estimators do not distribute to GPUs natively, and we do not offer support for Estimators on GPU at this time. If you would like to use Keras Layers with GPU, we would encourage you to use Keras models with Distribution Strategies for GPUs: https://www.tensorflow.org/guide/distributed_training

It is possible that workarounds exist here, but because we do not explicitly support this use-case, Stac

[2020-03-05 23:56] gowthamkpr commented on #37283
@lizhen2017 Please take a look at this [article](https://medium.com/@bsramasubramanian/running-a-tensorflow-lite-model-in-python-with-custom-ops-9b2b46efd355) about Loading a TensorFlow-Lite model in Python with Custom Operators.

[2020-03-06 00:09] karimnosseir commented on #37376
See the bottom of this page
https://www.tensorflow.org/lite/convert/quantization
"During training: Quantizing models for integer-only execution."

You will also need to set
converter.experimental_new_converter=False

Let me know how it goes.

Thanks

[2020-03-06 00:17] dathudeptrai commented on #36430
Thanks, it fixed.

[2020-03-06 00:17] #36430 closed

[2020-03-06 00:23] jurgenweber commented on #37345
ok, I tried a clean, same error it looks:

Command: `tensorflow# bazel build --config=opt --linkopt=-lexecinfo //tensorflow/tools/pip_package:build_pip_package`

[code]

[2020-03-06 00:36] MeghnaNatraj commented on #37302
We're porting this example to TF2.0 completely and will ensure this is factored in. I have personally wanted this feature as well, and it's one of our requirements for porting it. Is this a blocker for you right now?

[2020-03-06 01:05] martinwicke commented on #36918
What is the "CompanyName." part of the name here?

[2020-03-06 01:05] 2696120622 commented on #37134
@haozha111
Could you try the following shared link again and download all in the link.

Then,you can train one model with train_test.ipynb and convert it with convert_model_test.ipynb.
And, should I implement the custom op "TensorListFromTensor" by myself according to my issue?

[2020-03-06 01:05] sanjoy commented on #35672
Can you please check if this still happens on TF-nightly?  We have made some improvements in this area.

[2020-03-06 01:13] tensorflowbutler commented on #30304
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-06 01:13] tensorflowbutler commented on #32687
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-06 01:13] tensorflowbutler commented on #34181
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-06 01:14] tensorflowbutler commented on #35747
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-06 01:14] tensorflowbutler commented on #35526
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-06 01:14] tensorflowbutler commented on #32780
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-06 01:15] freedomtan commented on #37345
Linking libexecinfo should work. Please add `--host_linkopt=-lexecinfo`  `bazel build --config=opt --linkopt=-lexecinfo --host_linkopt=-lexecinfo //tensorflow/tools/pip_package:build_pip_package`. You may also need `--cxxopt=-std=c++14 --host_cxxopt=-std=c++14`

[2020-03-06 01:23] ronsoohyeong commented on #33569
This issue is still not fixed. I downloaded the whl from PyPi.
[code]

pip install tensorflow_gpu-1.14.0-cp36-cp36m-manylinux1_x86_64.whl    works.
pip install tensorflow_gpu==1.15.0   works.

Whl installation is needed for some corporate environments. Can you please let the people have the correct whl file?

[2020-03-06 01:27] ewilderj commented on #36918
(I'm seeking advice on the answer to this, btw, sorry for the delay.)
cc/ @theadactyl

[2020-03-06 01:32] razor1179 commented on #37025
Please add line
`from tensorflow_core.python.ops.rnn_cell_impl import MultiRNNCell`

[2020-03-06 01:54] dskkato commented on #26813
When I switched to use flake8 instead of pylint, all error message related to importing keras has gone. If you try, open VScode setting page and serach `Linting Enabled`, and

1. Uncheck `Python › Linting: Pylint Enabled`
2. Check `Python › Linting: Flake8 Enabled`

[2020-03-06 02:44] ronsoohyeong commented on #33569
Whl has a wrong requirement on python version.
This is how I fixed this problem:

1. check the version of wheel
[code]

2. update wheel to a latest version
[code]

3. unpack the problematic whl
[code]

4. open the METADATA
[code]

5.  Modify the lines 45~46 as follows:
BEFORE:
[code]
AFTER:
[code]

6. pack the wheel
[code]

7. Now the pip install works
[code]

[2020-03-06 02:51] nbro commented on #24622
I still get this error!

[2020-03-06 03:27] isaacgerg commented on #33840
Any update on this.  Have the same issue with 2.1.0-rc2

[2020-03-06 03:27] JiayuanSternLi commented on #37342
Yup, tf2.2 is good now

[2020-03-06 03:52] lostmsu commented on #36918
@martinwicke [Lost Tech](https://losttech.software/gradient.html). Based in Bellevue.

[2020-03-06 03:53] ravikyram commented on #35526
@WPDreamMelody

Any update on this issue please.Thanks!

[2020-03-06 03:55] samipkalyani commented on #25143
same issue, any solution

[2020-03-06 03:56] wangxiang2713 commented on #36778
I try using set_memory_growth but the error still happens, @sanjoy. My code is:
[code]

[2020-03-06 04:03] ravikyram commented on #34181
@kweonwooj

Any update on this issue please. Thanks!

[2020-03-06 04:04] ravikyram commented on #32687
@parascse

Any update on this issue please. Thanks!

[2020-03-06 04:04] ghosalsattam commented on #36979
@ashutosh1919  @ravikyram @nscotto
I am trying to address the problem by making a numpy() function in the Tensor class. But I am facing a problem. Can anyone tell me from which attribute of Tensor class I can find the data.

[2020-03-06 04:09] Kiranendra commented on #37052
I am using Google Colab. I've split the code and tested it. But, not really getting the error. Here is the output **snap** for one iteration.
-------------------
![image](https://user-images.githubusercontent.com/47424842/76050660-407ab600-5f8e-11ea-865e-f180aec51f4e.png)

[2020-03-06 04:38] dhiren-hamal commented on #10779
**New Line**
`origin_folder = 'http://storage.googleapis.com/tensorflow/tf-keras-datasets/'`

[2020-03-06 04:42] sanjoy commented on #25143
CC @cheshire

[2020-03-06 05:05] Leslie-Fang commented on #37295
will submit a PR to improve the performance.

[2020-03-06 05:05] #37295 closed

[2020-03-06 05:20] gadagashwini commented on #37336
@shiningrain, Can you try with changing import statement as
[code]
Let us know how it works. Thanks

[2020-03-06 05:20] Saduf2019 commented on #37360
@snehal1405
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the TensorFlow version you are using. Thanks!

Also from the error posted, could you please refer to [this link](https://github.com/tensorflow/tensorflow/issues/36167), [link2](https://github.com/tensorflow/tensorflow/issues/33378#issuecomment-5425

[2020-03-06 05:34] dynamor2019 opened #37379 "matplotlib.mlab has been removed, update code please"
## URL(s) with the issue:

a link to the documentation entry
https://tensorflow.google.cn/tutorials/estimator/boosted_trees_model_understanding

## Description of issue (what needs changing):
A bug I found in "TensorFlow > Learn > TensorFlow Core > Tutorials > Gradient Boosted Trees: Model understanding" as below:

matplotlib.mlab has been removed @ version 3.1.0 "https://matplotlib.org/3.1.0/api/

[2020-03-06 05:37] Sean0123456789 commented on #26769
same issue, any updates?

[2020-03-06 06:05] Saduf2019 commented on #37335
@shiningrain
There is a duplicate ticket with same code/issue #37336, could you please confirm if we may close this issue as duplicate as it is been monitored there.

[2020-03-06 06:12] gadagashwini commented on #37261
@cappittall, To predict your own data with trained model, you use the following code
[code]
Let us know if this helps. Thanks!

[2020-03-06 06:16] gadagashwini commented on #36663
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-06 06:16] #36663 closed

[2020-03-06 06:18] gadagashwini commented on #36703
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-06 06:18] #36703 closed

[2020-03-06 06:18] ravikyram commented on #37365
I have tried on colab with TF version 2.1.0, 2.2.0-dev20200305 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/fe1cc7f0f62c04d52390653aa1d598df/untitled707.ipynb). Thanks!

[2020-03-06 06:20] gadagashwini commented on #36816
Closing this issue since the title of the issue is resolved. Thanks!

[2020-03-06 06:20] #36816 closed

[2020-03-06 06:22] JiayuanSternLi commented on #36477
Hi, Yufeng
Please use TF2.2, it's a nightly version.

[2020-03-06 06:23] 07rafix commented on #23542
There is easy way to rebuild import library (.lib) and DLL libraries on Windows with adding missing unresolved symbols in **a few seconds**.

In my case when I build TF, I get the following files in **bazel-genfiles**:

[code]

File **tensorflow_filtered_def_file.def** contains all imported/exported symbols.
File **tensorflow_cc.dll-2.params** contains list of static library which are used to gene

[2020-03-06 06:27] yufengm commented on #36477
Yeah. I've tested that w/ the nightly version on colab and it is working. Thanks. @JiayuanSternLi
But I'm not sure why @jonyvp still got the error w/ the nightly version.

[2020-03-06 06:40] alex83803 commented on #37302
Hi Megna,

these are really great news. This feature is a great plus if we want to add a smooth workflow that consists on adding new labels and train.

Currently I have to adjust the number of epochs manuals depending on my training results and the EarlyStopping function would save me a lot of time. This is kind of a Blocker because my workflow is not completely automated :-).

I a really looking

[2020-03-06 06:50] freedomtan commented on #36645
@miaowang14 and @jdduke: in case you don't have time to take a look at it yet. I dug a bit into it. The
[code]
messages were caused by a scalar as the second operands of the Pow op,
[code]

I ran into similar problem when trying to pass [ALBERT](https://github.com/google-research/ALBERT) squad_v1 to NNAPI delegate.

[2020-03-06 06:51] ravikyram commented on #37269
@rudraxx

Can you please check unzipped folder of `cats_and_dogs.zip` will be saving in `.keras/datasets` folder. Thanks!

[2020-03-06 07:15] padoremu commented on #37346
@qlzh727 Thank you very much, I wasn't aware of the possibility to specify -1 for a particular unknown dimension. Setting `dim_time_read = -1` works perfectly. Below you find sample code for the CRNN, in case one is interested. I am closing the ticket.

[code]

[2020-03-06 07:15] #37346 closed

[2020-03-06 07:19] lucifer2288 commented on #37254
same issue

[2020-03-06 07:29] PawelFaron opened #37380 "Model customization in iOS"
First of all, thank you all for providing great example for model customization in Android https://github.com/tensorflow/examples/tree/master/lite/examples/model_personalization
It works great and I want to use it right away in my company!
I have a question about example or support for iOS. Should I hold my breath that it will be available in near future or should I look for some workarounds?

[2020-03-06 08:16] Saduf2019 commented on #37366
@PhanatosZou
We see that with respect to this issue there is existing discussion, please refer [to this](https://github.com/OlafenwaMoses/ImageAI/issues/372#issuecomment-539216312)

[2020-03-06 08:18] Saduf2019 commented on #37366
Also please refer to [this link](https://github.com/OlafenwaMoses/ImageAI/issues/367#issuecomment-578531046) and let us know if it helps

[2020-03-06 08:22] exist2disappear commented on #36055
I have some problem ,change android config, fix it

[2020-03-06 08:38] gadagashwini commented on #36794
@paokuwansui, I tried on colab with Tf 2.1. Its working without any warnings.
Please take a look at gist [here](https://colab.sandbox.google.com/gist/gadagashwini/68db324a7685ee397abf70aa28b0ce7e/untitled421.ipynb). Thanks!

[2020-03-06 08:40] gadagashwini commented on #36885
@yanyanglu, Is this still an issue?

[2020-03-06 08:41] gadagashwini commented on #36966
@VILLAIN511, Did you get a chance to look at document provided above.

[2020-03-06 08:42] gadagashwini commented on #36988
@open-v, Can you update for the above comment.

[2020-03-06 08:43] gadagashwini commented on #37008
@yuanlida, Were you able to resolve this?

[2020-03-06 08:50] Saduf2019 commented on #37113
@ayushmankumar7
please let us know if we could move this to closed status as it is monitored in #37223

[2020-03-06 08:51] gadagashwini commented on #37024
@Jup11ter, Thanks for reporting this issue.
I tried replicating the issue with TF 1.15. but getting different error.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/032c54ca5347603ded5e772c0858f476/untitled422.ipynb) and confirm. Thanks!

[2020-03-06 08:53] ayushmankumar7 commented on #37113
Yeah. It's not a problem.

[2020-03-06 08:53] gadagashwini commented on #37139
@wangzhizhengduke, Can you provide more information to understand the issue better. Thanks!

[2020-03-06 08:54] soyers commented on #37234
Thanks for the information and for looking into this!
Closing this issue since the bug will be fixed in the next release.

[2020-03-06 08:54] #37234 closed

[2020-03-06 08:55] damirtm opened #37382 "Inconsistent device placement when using nondifferentiable_batch_function and GPU"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): colab.research.google.com
- TensorFlow installed from (source or
binary): - 2.1.0 (latest)
- Python version: Google colab python 3
- CUDA/cuDNN version: Google colab GPU

I'm trying to test the possibility of using `

[2020-03-06 09:00] gadagashwini commented on #37266
Issue is replicating on colab with Tf 2.0 and tf-nightly.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/eabd1801363a1f8eb64950264d046da1/untitled423.ipynb). Thanks!

[2020-03-06 09:18] witaly-iwanow commented on #4640
I've forked off Bennett's script and fixed a few things (like wrong x86_64-simulator config args, missing multi-core build, disabling archs you don't need actually works now), bumped the protobuf version to 3.7.0. I've spent two days trying to make it work on my machine (macOS 10.15.3, Xcode 11.3.1), hate protobuf more than ever. Anyways, check my script out:
https://gist.github.com/witaly-iwanow/

[2020-03-06 09:22] shiningrain commented on #37336
Thanks for your help!
I have changed the import statement and **it still raises the same error**, shown as the following picture.
![pic3](https://user-images.githubusercontent.com/46860123/76070093-ef3ee680-5fce-11ea-9801-23729218dd18.jpg)

[2020-03-06 09:27] #37231 closed

[2020-03-06 09:29] FB43 commented on #37299
OK. The new GPU is on the list! Thanks for your help. François

[2020-03-06 09:29] #37299 closed

[2020-03-06 09:36] shiningrain commented on #37335
Hello, thank you very much for your reply.
 Both of this question and [issue 37336](https://github.com/tensorflow/tensorflow/issues/37336)   hope that the problem can be reproduced with the shortest possible code, thus the structure of the codes are similar. **But they reflect totally different problems**.  This issue focuses on **‘Tensorflow may lack a detection of improper parameters when establ

[2020-03-06 09:39] freedomtan commented on #36645
@helloworld1 with my one-line patch, you should be able to delegate some ops of the model to NNAPI, but don't expect performance improvement yet. On Pixel 4, when I ran [TFLite Model Benchmark Tool](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/benchmark) `./benchmark_model --graph=gpt2-64.tflite --use_nnapi=1 --allow_fp16=1`, I got
[code]

As you can see `SQUARED_DIFF

[2020-03-06 10:01] jonyvp commented on #36477
I can confirm it works with the latest nightly version.

[2020-03-06 10:17] ml-0 commented on #37361
I have attached an example project that includes a cifar10 example. The network consists of three convolutional layers. Place the example into the tensorflow/lite/micro/examples/ directory and execute the above listed steps for it:
make -f tensorflow/lite/micro/tools/make/Makefile TARGET=sparkfun_edge cifar10_bin
make -f tensorflow/lite/micro/tools/make/Makefile TAGS=cmsis-nn TARGET=sparkfun_edge

[2020-03-06 10:22] Jasonnor commented on #22145
+1, got same error on Tensorflow 1.13.1
Codes:
[code]

[2020-03-06 10:30] Ljl-Jdsk commented on #37325
TensorFlow version: 1.10
operating system: linux, centos7
architecture: multiple GPUs on a single machine, Use parameter server in the future

[2020-03-06 10:33] ravikyram commented on #37058
@rajkpammi

Any update on this issue please. Thanks!

[2020-03-06 10:40] gadagashwini commented on #37351
@Andreas5739738, I tried replicating the issue but getting different error. Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/4138a70a375e358fe5022fe3358db691/untitled424.ipynb).
Here
[code]

[2020-03-06 10:41] moniGra commented on #36391
I was having this issue too with my keras model (TF 2.0 and nightly reported "Cannot find the Placeholder op that is an input to the ReadVariableOp." while trying to convert to SM model) - I managed to solve this by following the suggestions from here: https://stackoverflow.com/questions/51858203/cant-import-frozen-graph-with-batchnorm-layer/52823701#52823701
Basically:
1) set trainable to false i

[2020-03-06 10:47] Andreas5739738 commented on #37351
It looks like the notebook is testing with TF 1.15 (I see `/tensorflow-1.15.0/python3.6/tensorflow_core/python/framework/tensor_util.py` in the error messages)?

Here is a different repro case where the tensor dimensions are the same, which results in the same error:
[code]

[2020-03-06 10:53] FelixHo commented on #33339
@ckkuang  Thanks for the reply, I have tried using TF2.1 and turned off auto shard, but the problem still exists.

code based on **TF 2.1.0**
[code]

ERROR LOG:
[code]

[2020-03-06 10:56] LukeChow commented on #37359
This model worked about 7 months ago on iOS APP with Xcode and cocoapods. I think maybe now Tensorflow lite is newer and my model is too old. If only I could use older TensorFlow Lite. But I can't, because it's always version 0.0.0-nightly.

[2020-03-06 11:13] Saduf2019 commented on #37019
@votesappteam
I tried replicating the code shared by you and face a different error,please refer to [the gist](https://colab.sandbox.google.com/gist/Saduf2019/967ba100b6072abcfc5b11fdaff93f04/untitled62.ipynb) for the same

[2020-03-06 11:24] amahendrakar commented on #37364
@nshoman,
I was able to reproduce the issue with [TF2.1](https://colab.sandbox.google.com/gist/amahendrakar/c45aca54869703bfd02b1e0b23203668/37364.ipynb), however the issue seems to be fixed with [TF-nightly](https://colab.sandbox.google.com/gist/amahendrakar/1d52785593f67345e46e6e9be01cf8e7/37364-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-03-06 11:38] rychter commented on #26546
@MarkDaoust

  <- worked for me

[2020-03-06 11:57] Saduf2019 commented on #37113
Moving this issue to closed status with confirmation that it will be monitored in #37233

[2020-03-06 11:57] #37113 closed

[2020-03-06 12:01] pesapower commented on #37103
I have same problem too:
- TensorFlow 2.1.0 (installed with conda)
- Python 3.7
- Windows 10

[2020-03-06 12:04] amahendrakar commented on #36522
@ucesfpa,
Any updates regarding this issue? Thanks!

[2020-03-06 12:04] csachs opened #37390 "More elaborate logging implementation (implementing TFLogSink s, etc.)"
**System information**
- TensorFlow version: master
- Are you willing to contribute it: Yes

**Describe the feature and the current behavior/state.**
Currently, logging seems to directly write to `stderr`, if the log messages level fits the current log level.
https://github.com/tensorflow/tensorflow/blob/efff893c709b585da9771cb3a2997321efef36ae/tensorflow/core/platform/default/logging.cc#L259
This

[2020-03-06 12:06] Saduf2019 commented on #37382
@dtim1985
I have run the code shared by you but face a different error, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/670869059455d9c71e903810064ac2fe/37382.ipynb)

[2020-03-06 12:43] amahendrakar commented on #36937
@sjurajpuchky,
I was able to run the above code without any issues using TF-nightly. Please find the output attached to this message.
![36937 output](https://user-images.githubusercontent.com/57165142/76084435-e56cb180-5fd5-11ea-8817-b515f7b4fb88.png)

I had used the sample `hacker_news.hdf5` and `hacker_news_2000.txt` files given in the [documentation](https://github.com/minimaxir/textgenrnn) of

[2020-03-06 12:55] Jup11ter commented on #37024
Thank you for your help!
The code expression in the previous version is not clear enough, which brings inconvenience to your reproduction. **Now it has been changed to a better version, and the same result as the issue described above can also be obtained on colab** (`kernel_size = 0` can save the model  (Without reporting an error). Hoping to have a positive effect on solving the problem.
Thank y

[2020-03-06 13:08] luvwinnie commented on #36391
which version of the tensorflow did you use?
I have tried by setting learning phase to 0 but, it doesn't work.
I also tried with this link methods to freeze my graph, but also doesn't work, i think it is a problem with [this link](https://medium.com/@xianbao.qian/how-to-export-the-inference-model-in-tf2-279ac233915c) methods.

[2020-03-06 13:12] #37364 closed

[2020-03-06 13:13] vikramdattu commented on #37007
@kunalkul Actually, there is an issue (which is not an issue!) with TFMicro project gen system.

When you generate an example and try to generate different example after that it generates it successfully and throws the error message you get.

For now, please ignore the message and go ahead building the example generated.

[2020-03-06 13:41] ujjwal-ai commented on #37365
This is a rather serious issue requiring an urgent fix because too many people rely upon `tf.keras.applications` for pretrained models. As of yet there are no V2 versions of slim models available and hence `tf.keras.applications` is the only resort.

Hence, unless this issue is resolved, usage of TF V2 for code porting and new code writing is going to be a big burden.

[2020-03-06 13:43] tanzhenyu commented on #36449
@artemmavrin Thanks for the report! This has been fixed nightly [here](https://github.com/tensorflow/tensorflow/commit/9f7ded2d44a8bf8c3c47cc2a475a5ca6bab6b765)

Let us know if you have other questions.

[2020-03-06 13:43] #36449 closed

[2020-03-06 13:48] amahendrakar commented on #37152
@jkpower,

As per the [documentation](https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/keras/preprocessing/image/ImageDataGenerator#apply_transform) for TF 1.15, could you please try importing as
[code]
Attached [gist](https://colab.sandbox.google.com/gist/amahendrakar/aafb757113b45c6e6abf21c4a2ae7b2d/37152.ipynb) for reference. Thanks!

[2020-03-06 14:06] AdityaHPatwardhan commented on #37007
@kunalkul , It seems you have installed tensorflow with `pip install tensorflow`, that should be done when you want to use tensorflow functions python code.
For being able to compile the [tensorflow/lite/micro/examples](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/micro/examples) and flash the binaries on the respective devices, you need to download the source code as menti

[2020-03-06 14:21] kafan1986 commented on #37242
@haozha111 Any help?

[2020-03-06 14:43] anhtu812 commented on #12132
Hi @byronyi, it requires fp16 , it is not enough. I think this issue still open

[2020-03-06 14:44] amahendrakar commented on #37324
@SpikingNeuron,
Running it on a local machine gives the same output. Please find the screenshot attached to this message.
![37324 output](https://user-images.githubusercontent.com/57165142/76093385-e22df180-5fe6-11ea-8108-27e6d22d7f38.png)

Warnings are generally used to alerts programmers of future deprecation or obsolete methods. In this case, unless you face errors you can continue using break

[2020-03-06 14:53] gthb commented on #36281
FYI I saw this same failure, but in my case the cause was that I was running with a very small dataset (puny laptop testing...), such that the validation dataset (which I was creating as just the last 10% of the overall set) did not fill a full batch (and I was discarding the remainder, so probably feeding an empty validation set). @Flamefire you mentioned “with a large batch size” — might this be

[2020-03-06 15:08] isaacgerg opened #37393 "tf.image.ssim_multiscale broke in tensorflow 2.1.0-rc2"
**System information**
Python 3.7.6 on Windows 10, x64.

Using tensorflow 2.1.0-rc2.

GPU Hardware: pciBusID: 0000:01:00.0 name: TITAN X (Pascal) computeCapability: 6.1
coreClock: 1.531GHz coreCount: 28 deviceMemorySize: 12.00GiB deviceMemoryBandwidth: 447.48GiB/s

**Describe the current behavior**

Code should print the word 'done'

**Describe the expected behavior**

tensorflow.python.framework.

[2020-03-06 15:41] isaacgerg commented on #32564
@ravikyram @jvishnuvardhan Any update on this?

[2020-03-06 15:47] bilalghanem commented on #37068
Upgrade your tensorflow version to 2.0.

[2020-03-06 16:01] Wrzlprmft commented on #35517
It seems that your problem is the same as the one I am describing [here](https://stackoverflow.com/q/60567645/2127008).

[2020-03-06 16:16] roebel commented on #24496
@sanjoy sure here three variations of the script above changing the order of commands and  a fourth variant that starts with 4 stft and ends with conv2d

Here four different logs using the script from
https://github.com/tensorflow/tensorflow/issues/24496#issuecomment-593098386
replacing the last four lines

conv2d last:
[code]

[log.conv2d.last.txt](https://github.com/tensorflow/tensorflow/files/4

[2020-03-06 16:22] rudraxx commented on #37269
@ravikyram : Haven't found a great solution as yet.

Here is what I have as of now:
1) Specify the log dir using os library,  which will give windows style path. For eg:
`logdir = os.path.join(model_folder_name, "tensorboard", "my_logs")
`
(This results in a logdir like:  ..\cnn_dog_cat_classifier\tensorboard\my_logs)

2) Launch TensorBoard from command window, NOT for the Jupyter notebook. Specif

[2020-03-06 16:22] SpikingNeuron commented on #37324
But I do get a warning. Now I have suppressed it.  Note that I am using binaries built for windows.

![image](https://user-images.githubusercontent.com/2289914/76101658-11d0ff80-5fcf-11ea-8b3d-7efd43dba4c6.png)

[2020-03-06 16:29] rudraxx commented on #37269
@vguerrero87:  Haven't found a great solution as yet.

Here is what I have as of now:
1) Specify the log dir using os library,  which will give windows style path. For eg:
`logdir = os.path.join(model_folder_name, "tensorboard", "my_logs")
`
(This results in a logdir like:  ..\cnn_dog_cat_classifier\tensorboard\my_logs)

2) Launch TensorBoard from command window, NOT for the Jupyter notebook. Spec

[2020-03-06 16:39] #36477 closed

[2020-03-06 16:51] talhaanwarch commented on #34025
same issue

[2020-03-06 17:11] dominthomas commented on #36539
I can confirm the same issue. Waiting for a fix.

[2020-03-06 17:12] SpikingNeuron commented on #37324
Yes I noticed it late that it is warning as the message clearly says that it is an error but the start tag is `W`

[2020-03-06 17:13] SpikingNeuron commented on #37324
Yes I noticed it late that it is warning as the message clearly says that it is an error but the start tag is `W`

[2020-03-06 17:13] #37324 closed

[2020-03-06 17:20] haozha111 commented on #37242
Can you try using the tf-nightly  (it will use the new TF Lite converter).

[2020-03-06 17:53] ckkuang commented on #33339
The fix is currently in tf-nightly, and will be included in future tf 2.2. You may try it using tf-nightly.

[2020-03-06 18:19] helloworld1 commented on #36645
Thanks a lot @freedomtan I am going to try your patch out

[2020-03-06 18:21] stevemance opened #37397 "tf.ragged.map_flat_values with tf.argmax on ragged axis produces wrong operation"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: N/A
- TensorFlow installed from (source or
binary): Pip
 - TensorFlow version (use command below): v2.1.0-r

[2020-03-06 18:24] ntlex commented on #27298
@zzh8829 facing the same issue here. Any ETA on this? Or any case that we can increase the priority of this issue?

[2020-03-06 19:22] miaowang14 commented on #36645
Thanks a lot @freedomtan .

Also we are working on limiting the number of partitions when using NNAPI delegate, as it is never a good recipe for performance if we partition a graph into many small subgraphs.

Also, we are considering supporting SQUARED_DIFFERENCE with the ops already supported by NNAPI, e.g. MUL and SUB. Hopefully that could also help with models like this.

[2020-03-06 19:34] kafan1986 commented on #37242
@haozha111 I installed latest tf-nightly and tried converting my model. It is giving me error.

**TOCO Command**
`toco --saved_model_dir=/Users/debasish/Downloads/tfdir/ --graph_def_file=/Users/debasish/Downloads/tfdir/agegendermultitaskdpcnn_2_1.pb --output_format=TFLITE --inference_type=FLOAT --inference_input_type=FLOAT --output_file=/Users/debasish/Downloads/tfdir/agegendermultitaskdpcnn_2_1.t

[2020-03-06 19:35] raniaCht opened #37399 "InvalidArgumentError: Cannot assign a device for operation conv2d_1/kernel/IsInitialized/VarIsInitializedOp: node conv2d_1/kernel/IsInitialized/VarIsInitializedOp (defined at /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/framework/ops.py:1748) was explicitly assigned to /job:worker/replica:0/task:0/device:TPU:0 but available devices are [ /job:localhost/replica:0/task:0/device:CPU:0, /job:localhost/replica:0/task:0/device:XLA_CPU:0 ]. Make sure the device specification refers to a valid device. [[conv2d_1/kernel/IsInitialized/VarIsInitializedOp]]"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
- OS Platform

[2020-03-06 19:39] gowthamkpr commented on #36231
@yxchng Are you still facing the issue?

[2020-03-06 19:45] raniaCht commented on #31318
InvalidArgumentError: Cannot assign a device for operation conv2d_1/kernel/IsInitialized/VarIsInitializedOp: node conv2d_1/kernel/IsInitialized/VarIsInitializedOp (defined at /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/framework/ops.py:1748)  was explicitly assigned to /job:worker/replica:0/task:0/device:TPU:0 but available devices are [ /job:localhost/replica:0/task:0/device:CPU

[2020-03-06 19:46] raniaCht commented on #31318
help-me

InvalidArgumentError: Cannot assign a device for operation conv2d_1/kernel/IsInitialized/VarIsInitializedOp: node conv2d_1/kernel/IsInitialized/VarIsInitializedOp (defined at /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/framework/ops.py:1748)  was explicitly assigned to /job:worker/replica:0/task:0/device:TPU:0 but available devices are [ /job:localhost/replica:0/task:0/d

[2020-03-06 19:50] gowthamkpr commented on #37185
Did you try using the latest tf-nightly version i.e., 2.2dev0 @HadiSDev ?

[2020-03-06 20:07] rodrigoruiz commented on #33924
@houtoms Any updates on this?

[2020-03-06 20:12] houtoms commented on #33924
@rodrigoruiz Sorry for the late reply. I checked your log but I didn't see anything wrong.

Just one more thing to confirm, you also got the `CUDNN_STATUS_INTERNAL_ERROR` error from cudnnRNNBackwardData() API?

[2020-03-06 20:16] mmilosav commented on #29879
@rohan100jain Any update on this?  The issue persists in 2.2.0-dev20200306.  Many thanks.

[2020-03-06 20:23] m-nasiri commented on #27688
The reason why it didn't work was because I had the same namestrings for all the weights in my custom keras layers.
Lesson: If you make keras layers, give them different name strings!

[2020-03-06 20:28] rodrigoruiz commented on #33924
To be honest, I have no idea what that is.
Do you mean in those logs? I don't really know how to interpret them.
For me, Jupyter notebook just crashes and restarts (no other error messages).
Sometimes I do get this log from Jupyter notebook before crashing:

[code]

[2020-03-06 20:32] sjurajpuchky commented on #36937
Thanks a lot i will try tommorow

[2020-03-06 20:33] helloworld1 commented on #36645
Yes, the patch works and prevent the crash. But the performance regressed by more than 50%.

[2020-03-06 20:51] jdduke commented on #34679
@terryheo can help further diagnose.

[2020-03-06 20:53] sanjoy commented on #37332
@wangxiang2713

 - Can you please a complete reproducer (something we can copy/paste)?
 - Is this fixed on `tf-nightly`?

[2020-03-06 21:01] pushkalkatara opened #37401 "FasterRCNN_resnet101 .tflite conversion"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): pip install tf-nightly

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**The output from the c

[2020-03-06 21:09] impjdi commented on #35632
@bilalsoomro Please sync to the latest git commit and try it out.  A fix should have been submitted.

[2020-03-06 21:10] jvishnuvardhan commented on #37025
@razor1179 When I enable custom_ops as mentioned by the error description, I was able to convert the model.
I added this line just before the conversion.
`converter.allow_custom_ops = True `

Added this line to write the tf_lite_model.
`open("my_tflitemodel.tflite",'wb').write(tflite_seg)`

Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/3bf9170ef111f9bb0b3aaaf2ab

[2020-03-06 21:12] jvishnuvardhan commented on #37025
@razor1179 If possible, can you please try `TF2.1` or `tf-nightly`? I suspect statefull LSTM was not part of `TF1.x`. Thanks!

[2020-03-06 21:18] #37242 closed

[2020-03-06 21:23] jdduke commented on #21526
You'll need to either manually build the TFLite runtime, or use our nightly Select TF ops build for Android/iOS, to execute these Flex ops. See https://www.tensorflow.org/lite/guide/ops_select. We're working on some improvements to this, in particular, supporting execution of those ops from within the Python PIP environment without a rebuild.

[2020-03-06 21:39] pushkalkatara commented on #37401
Is Padding layer not supported yet?

[2020-03-06 21:42] dominthomas commented on #36539
Is there anyway, tf.data() can be used?

[code]
Tried every possible way of doing this, and with the above example, it outputs:
`TypeError: binary_crossentropy() missing 2 required positional arguments: 'y_true' and 'y_pred'`

[2020-03-06 21:45] gowthamkpr commented on #37358
@ben-arnao Please post this issue [here](https://github.com/tensorflow/addons/issues) as it is more appropriate to the tensorflow addons repo than tensorflow itself as this has been implemented in addons as shown [here](https://github.com/tensorflow/addons/blob/1af92905ed03f05fcf6f4918783c3d151a8b8350/tensorflow_addons/optimizers/weight_decay_optimizers.py#L266-L336).

[2020-03-06 21:52] gowthamkpr commented on #37339
@Rogersjk Thank you for reporting this.
This is already fixed in the latest version of tensorflow (tf-nightly). Please find the gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/f9517b4ffe3eeeb9c856e985109b445c/copy-of-untitled74.ipynb) .

[2020-03-06 21:54] jvishnuvardhan commented on #37052
@Kiranendra Can you please try running your entire colab. When I tried and print `data` after reading from the Gdrive, it prints as follows.

[code]

Looks like it is not reading for the above reason. I will try again with tensorflow on my local. Thanks!

[2020-03-06 22:09] impjdi commented on #37102
Thank you for attaching the model.  Found the issue.  I'll prepare a fix and will let you know.

[2020-03-06 22:11] jsimsa commented on #37266
@gadagashwini you can you reproduce the issue with TF 2.1?

[2020-03-06 22:33] jvishnuvardhan commented on #37359
@LukeChow
1) Did you use TF1.x to create the model or `TF2.1`?
2) can you share the model and a standalone code? Thanks!

[2020-03-06 22:45] gowthamkpr commented on #35932
@mrinalsardar Please go ahead and make changes in the colab and share the gist. Thank you!

[2020-03-06 22:46] jvishnuvardhan commented on #37357
@ngc92 Sorry. It is not clear. Where do you what to implement the feature? in `pathlib` or `tensorflow`? Thanks!

[2020-03-06 22:47] gowthamkpr commented on #36135
Sure. I am closing this issue now. If you have any more questions please open a new issue. Thanks!

[2020-03-06 22:47] #36135 closed

[2020-03-06 22:50] kafan1986 opened #37404 "TFLite inference throwing error at one of the run"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Followed official classifier example

- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Android 9

- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: Huawei 9 lite

- TensorFlow version (use command below):
    implementation

[2020-03-06 22:57] adisurtya opened #37405 "TensorFlow 2.1.0: _FallbackException: This function does not handle the case of the path where all inputs are not already EagerTensors"
I am writing a custom loss function which involves another (already trained) neural network, called model_weight, evaluating predictions on the input of the model I'm currently training:
Code to fully reproduce: [https://colab.research.google.com/gist/adisurtya/387383b8f4e518dbb938ecd1af87b982/37405_full.ipynb](url)

Where the issue is:
[code]

Getting an error when weight() calls model_weight.pre

[2020-03-06 23:10] gowthamkpr commented on #36320
I think this [issue](https://stackoverflow.com/questions/43714713/modify-keras-model-after-training) would be very helpful in your case.

You can first add a layer and save the weights of all the layers using the code below
`temp_weights = [layer.get_weights() for layer in model.layers]` and then load the individual layer weights into your model and train it again.

[2020-03-06 23:11] wookayin commented on #16076
For someone who might find this in the future by Googling:

If you are using pytest, write a `conftest.py` (in the project root, etc.) file including the following hook:

[code]

Reference: https://docs.pytest.org/en/latest/reference.html

[2020-03-06 23:13] gowthamkpr commented on #36332
Can you please reproduce it and share it on [colab](temp_weights = [layer.get_weights() for layer in model.layers]) as I am not able to find your gist @OmerLiberman. Thanks!

[2020-03-06 23:15] Arnold1 commented on #8854
@sayakpaul thanks for the notebook!

any idea why that doesn't work like that - without your function?
[code]

I see this error:
[code]

[2020-03-06 23:22] wookayin commented on #29439
For someone who might find this in the future by Googling:

If you are using pytest, you could write a `conftest.py` (in the project root, etc.) file including the following hook, to have `test_session`s **not collected** rather than *skipped*:

[code]

Reference: https://docs.pytest.org/en/latest/reference.html

[2020-03-06 23:34] dswah commented on #35813
@omalleyt12 hey there. Have you had a chance to take a look?
Any idea where I could help out?

thanks!

[2020-03-06 23:36] gowthamkpr commented on #36580
@smescarzaga I am closing this issue as it is not related to bug/performance, build/install, feature request or doc related issues. Please post this issue on stackoverflow where there is a wider community to help. Thanks!

[2020-03-06 23:36] #36580 closed

[2020-03-06 23:37] gowthamkpr commented on #36231
@yxchng You can actually try to save weights of few select layers as saving a part of the network is not possible.

[2020-03-06 23:42] jvishnuvardhan commented on #37379
@dynamor2019 Thanks for filing this issue. Yes, we need to update the tutorial. We need to use `griddata` from `scipy`. So need to import like this `from scipy.interpolate import griddata`. Thanks!

[2020-03-06 23:48] gowthamkpr commented on #37243
@rafaelmarconiramos I am closing this issue as this is not related to bug/performance, build/install, feature request or doc related issues. Please post this issue in stackoverflow where there is a wider community to respond. Thanks!

[2020-03-06 23:48] #37243 closed

[2020-03-07 00:18] freedomtan commented on #36645
@miaowang14 Glad to hear that. Yes, back and forth between CPU and accelerator because of tiny subgraphs doesn't sound right. Any plan for PACK? Converting PACK to RESHAPE + CONCATENATION should work.

[2020-03-07 00:20] ewilderj commented on #36918
This usage is fine.  We ask for attribution in our brand guidelines, so please note that "TensorFlow is a trademark of Google LLC"  in your documentation.

[2020-03-07 00:20] #36918 closed

[2020-03-07 00:52] #37333 closed

[2020-03-07 00:53] lamberta commented on #37379
Thanks for the report. That file lives over here in the tensorflow/docs repo: https://github.com/tensorflow/docs/blob/master/site/en/tutorials/estimator/boosted_trees_model_understanding.ipynb
Please send a pull request 😀

[2020-03-07 00:54] sujithgunturu commented on #37333
I am not working with tensor flow. The issue is with adel wheat which is an other paclage.

[2020-03-07 00:57] impjdi commented on #37102
Are you okay with a fix that requires you to do

instead of

?

[2020-03-07 00:58] TCBocean commented on #37043
@jvishnuvardhan Thanks for your advice.

[2020-03-07 00:58] #37043 closed

[2020-03-07 00:59] MarkDaoust commented on #37379
+ @crawles

[2020-03-07 01:14] omalleyt12 commented on #36279
@PavelKovalets Thanks for the issue! This is fixed in the latest nightly `pip install -U tf-nightly`

[2020-03-07 01:14] #36279 closed

[2020-03-07 01:39] jpatts commented on #37240
Bump. I’m pretty sure that the issues I’m having are from the loss functions not actually having settable parameters. IE you can’t set “from_logits” during initialization, it needs to be set every time it is executed. So in this case, “config” is literally just calling the function with it’s supplied parameters. This makes me question why this is a feature...

[2020-03-07 02:05] xiaoyangnihao commented on #34865
@SmileTM Hi, How did you solve this problem ? I am stuck in this problem for several days, hoping you reply, thanks.

[2020-03-07 02:34] zkx741481546 opened #37407 "Tensorflow2.1.compat.v1 distributed training occasionally goes wrong"
`TaskIndex: 4 | Episode: 1995/100000  | Episode Reward: 52.2229  | Running Time: 7.6459 | EnvStep Time: 0.7538 | Render Time: 0.0000
TaskIndex: 1 | Episode: 1984/100000  | Episode Reward: 2.9837  | Running Time: 7.6459 | EnvStep Time: 1.4454 | Render Time: 0.0000
TaskIndex: 6 | Episode: 1992/100000  | Episode Reward: 8.1637  | Running Time: 7.6850 | EnvStep Time: 1.0630 | Render Time: 0.0000
TaskI

[2020-03-07 02:35] JoshEZiegler commented on #33358
This issue still shows up with tf-nightly-2.2.0.dev20200306. See [this](https://colab.research.google.com/gist/JoshEZiegler/2a923a707d831ca7efd33dbfbf9779c9/premade.ipynb) colab notebook.

Was there a specific version where you believe it should work?

[2020-03-07 02:38] minjac commented on #29907
Hey, try to edit your freeze_saved_model.cc.
before:
void ConvertVariableToConstant(const NodeDef& variable_node,
                               const Tensor& variable_value,
                               NodeDef* const_node) {
  const_node->set_name(variable_node.name());
  const_node->set_op("Const");
  (*const_node->mutable_attr())["dtype"] = variable_node.attr().at("dtype");
  variable_value.

[2020-03-07 02:43] vufg commented on #6698
Same platform, same problem

[2020-03-07 03:52] SvenLikeTech commented on #36517
I have same problem. Did you fix it?@raltech@miaout17

[2020-03-07 04:37] w19787 opened #37409 "OperatorNotAllowedInGraphError occur when using tf.function"
**System information**
Python 3.6.9 on Ubuntu 18.04

Using tensorflow 2.1.0-

GPU Hardware: Quadro P6000

**Issue description:**
I try to use a map function to split a string to multiple tensors. with following sample code:
[code]
![image](https://user-images.githubusercontent.com/731496/76136765-2fa27100-6070-11ea-9306-ad3279481df4.png)

but if change the above function to:
[code]

the result wil

[2020-03-07 05:09] duncanriach commented on #36974
I was about to open a new issue, and then GitHub figured out exactly what I was looking for and brought me to this issue. I seem to be dealing with a slightly different flavor of the same problem, with the same root cause. Here is my issue description:

**Title**: TensorFlow will not run on GPU in devel-gpu container (because of CUDA stubs)

**Reproduction Instructions**

[code]

**Other Informati

[2020-03-07 05:15] SmileTM commented on #34865
In tensorflow2.0,  if you have  two parameters or more  parameters， we need follow this code：

[code]
 two parameters or more  parameters need to be packed by list or tuple in `def call`.
If your parameters not be packed by list or tuple, it will have some errors when you deploy `.pd` in your server .

the `.pd`, just use `model.save('path')` can be getten.

[2020-03-07 05:56] amahendrakar commented on #36844
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-07 05:56] #36844 closed

[2020-03-07 05:57] amahendrakar commented on #36877
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-07 06:34] xiaoyangnihao commented on #34865
Thanks for your quick reply, I will try.

[2020-03-07 06:36] talhaanwarch commented on #24622
thanks, this worked for me

[2020-03-07 06:52] kafan1986 commented on #37404
Figured it out myself. Closing issue.

[2020-03-07 06:52] #37404 closed

[2020-03-07 07:00] luvwinnie commented on #36391
Hmm. I look at the [test code](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/framework/convert_to_constants_test.py) of convert_variables_to_constants_v2, It seems like when our model have the LSTM or GRU's layers, what we need to do is by pass one more argument `lower_control_flow=False` in order to make the convert_variables_to_constants_v2 work.

The below code is an ex

[2020-03-07 07:25] cappittall commented on #37261
Yea, there at basic image classification all are very clear.  I am working on text classification. I am sorry I must describe this at the beginning. (Detail was at StackOverflow link)  However, I work on

I come to the end with success (with my data.) Build the model. Now Should I use the same like image detection as:

[code]
I tried this with no success. Gives:
 `Error when checking input: expect

[2020-03-07 07:28] suraj-maniyar opened #37410 "Center Loss in TF 2.0"
I am trying to implement center loss in Tensorflow 2.0 by referring to code in following repositories:

- https://github.com/handongfeng/MNIST-center-loss

- https://github.com/mjDelta/keras-center-loss-MNIST

- https://github.com/Kakoedlinnoeslovo/center_loss

I noticed that some arguments in the method "self.add_update((self.centers,new_centers),x)" when creating a custom layer, are deprecated.

[2020-03-07 07:51] kunalkul commented on #37007
I executed steps 1 and 2, and ran

`make -f tensorflow/lite/micro/tools/make/Makefile TARGET=esp generate_hello_world_esp_project`

got the following error : `C:\Users\kkulk\tensorflow\tensorflow\lite\micro\tools\make\Makefile:2: *** "Requires make version 3.82 or later (current is 3.81)".  Stop.`

I proceeded ahead by running `idf.py build`
and got this error : `Checking Python dependencies...
Py

[2020-03-07 08:13] FangliangBai commented on #17867
Could you please give a link to the source code that calculates euclidean distance?

[2020-03-07 08:17] w19787 commented on #37409
i misunderstand the return value of tf.strings.split. it is NOT a bug. closed.

[2020-03-07 08:17] #37409 closed

[2020-03-07 08:41] ngc92 commented on #37357
this is a change to tensorflow. I think it would also be best not to specialize to `pathlib.Path` (though that is probably the main use case), but to make everything based on the `os.PathLike` interface for generality.

[2020-03-07 08:43] nnnnwang commented on #30094
the same problem in tf2.0.0

[2020-03-07 08:52] JoshEZiegler commented on #36642
To add some confusion, but maybe some debugging assistance:
I'm also getting this error on v2.1.0-rc2-17-ge5bf8de410 in my personal code. But, I adapted some example code as an attempt to reproduce it and was unable to reproduce the error.

[Here](https://colab.research.google.com/gist/JoshEZiegler/317daa870ba923512887f5db9c9706de/functional.ipynb) is working embedding sharing code.

[Here](https:

[2020-03-07 09:05] venkat-kittu opened #37412 "Cannot get accuracy for vgg19 in tflite"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: pip3(20.02)
- **TensorFlow version (use comma

[2020-03-07 09:27] AhmedSheha0 commented on #35749
i have python 3.6.0 , CUDA 10.2 and cuDNN and this fixed my problem :
- downgrade to tensorflow-gpu 2.0 , and downgrade to protobuf 3.6.0  ,  install Microsoft Visual C++ Redistributable 2015-2019 x86 /  x64

[2020-03-07 09:58] its-akhr commented on #20690
I too have the same problem. Can anyone solve this issue?

[2020-03-07 10:26] freedomtan commented on #37412
Where did you get your model? if it's converted from [SLIM](https://github.com/tensorflow/models/tree/master/research/slim) checkpoints, notes that those VGG models were converted from caffe models so that they have different preprocessing part and classes (1000 instead of 1001).

[2020-03-07 10:41] Deadsec69 commented on #37262
I think thats more of the memory problem can you show us the output of nvidia-smi before runnnig the code and also the cudnn version

[2020-03-07 10:41] whaozl commented on #29997
and, only use gpu version tensorflow jar.

[2020-03-07 11:20] Kiranendra commented on #37052
I've gone through everything again and didn't find any error. So, I made a new notebook and split the code into parts. Here is the ZIP file with the notebook and dataset.

[tflite_file_conversion.zip](https://github.com/tensorflow/tensorflow/files/4301726/tflite_file_conversion.zip)

I forgot to change the file paths(for dataset and checkpoint). As you said that you will try local, please change t

[2020-03-07 11:38] Susmit-A commented on #37278
A simpler way to share weights using a custom layer would be to use `tf.nn.conv2d`:

class SharedDilatedConv(tf.keras.layers.Layer):
     def __init__(
            self,
            filters,
            kernel_size,
            strides=None,
            padding=None,
            dilation_rates=None,
            activation=None,
            use_bias=True,
            **kwargs
        ):
        sel

[2020-03-07 11:42] mohlondon opened #37413 "random output"
the chat i created it doesn't work correctly i guess it keep givin me this kind of result no matter how much time i train it

/home/baba055h_s/.local/lib/python3.5/site-packages/tensorflow/python/framework/dtypes.py:463: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.

[2020-03-07 11:48] evdcush commented on #36438
What is it with this bizarre coupling of keras to tensorflow (especially in TF 2.0)? TensorFlow should just be TensorFlow... 2.0 didn't make me use keras anymore than I did before. It just made me start using pytorch.

[2020-03-07 12:08] beardwolf opened #37414 "ValueError: No gradients provided for any variable: ['dense_26/kernel:0', 'dense_26/bias:0']"
**System information**
- OS Platform and Distribution: Windows 10

- TensorFlow installed from Anaconda 1.9.12. Channel: default.
Tensorflow Version: 2.1.0

- Python version: 3.7.6

- CUDA/cuDNN version:
cudatoolkit: 10.1.243
cuDNN: 7.6.5

- GPU: NVidia GeForce GTX 1060, 6 GB

**Describe the current behavior**
I've been developing a Relativistic Style GAN, but when I try to train the discriminator

[2020-03-07 13:03] ErfanRoshan commented on #25807
Hi I have the same issue and fixed it with renaming all missing DLLs that I have them with _10.Dll
like it: I have cudart64_10.dll rename it to ==> cudart64_100.dll
this all DLLs are in CUDA10.1

[2020-03-07 13:12] Manasmalhotra commented on #28213
I am facing error AttributeError: module 'tensorflow' has no attribute 'keras' in windows,please tell what to do

[2020-03-07 13:39] 007fred50 commented on #28213
what is your python file name?

[2020-03-07 13:45] lhsome commented on #22512
我这样做了。但还是无法解决问题

[2020-03-07 13:53] frytry opened #37415 "Tensorflow2.0 is not supporting this code"
Tensorflow2.0 is not supporting this `tf.contrib.training.bucket_by_sequence_length` and what can I use instead of this

[2020-03-07 14:07] kmkolasinski commented on #36539
This error is not related to tf.data, you are using keras loss function incorrectly.

Instead of writing:
[code]
you should do:
[code]

[2020-03-07 14:29] dominthomas commented on #36539
@kmkolasinski Thank you for the reply, I beleive this is because of an improper return list dimensions:

[code]

Here is a sample output:
[code]

Could this be the problem? Should it not be a numpy array for the labels with shape(6,)?

[2020-03-07 14:34] kmkolasinski commented on #32180
Hi, I have found (temporal) solution for this problem. It seems that the invalid output names are generated within this function:

[code]
It has a default argument `add_control_dependencies` set to True. Switching it to False before model conversion leads to correct names when combined with keras.Lambda and tf.identity e.g:

[code]
gives me following output details:
[code]

My shitfix for this is

[2020-03-07 15:20] richardmark commented on #22512
I upgraded to free version of Microsoft Visual Studio Community 2019 Version 16.4.5 including Microsoft Visual C++ 2019 then reinstalled TensorFlow 2.1.0 and it worked without issues.  I really needed Tensorflow 2.1.0 for an application I wanted to test.
Rick

[2020-03-07 15:51] mihaimaruseac commented on #35749
@AhmedSheha0 that's a terrible advice.

Solution is given in https://github.com/tensorflow/tensorflow/issues/35749#issuecomment-588425399 (among other places). Let's not hide the solution with fake solutions and spam

[2020-03-07 16:42] AhmedSheha0 commented on #35749
Im sharing what worked for me .. You can dislike my advice , or claim it didnt work for you , that's your right but it's not too nice of you to say it's a "terrible" advice and that I'm spamming and giving out fake solutions.

[2020-03-07 17:17] Manasmalhotra commented on #28213
Thanks for your reply to my query, but I got the solution to it, a file in
the same folder was named tensorflow by me.

On Sat, 7 Mar, 2020, 7:09 PM Frederik L. Frandsen, <notifications@github.com>
wrote:

[2020-03-07 17:45] LeechMuse opened #37416 "Precision at top_k does not compute the precision *on average* as stated in the API"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2020-03-07 18:27] JoshEZiegler commented on #36642
After some more debugging it looks like this code will run if `dataset_size` modulo `batch_size` is zero. Hopefully that's helpful!

[2020-03-07 18:27] caisq commented on #36845
@YINWIZHANG

Can you try modifying your loss function under the MirroredStrategy as follows:

[code]

[2020-03-07 19:27] NickDinges commented on #33374
Curious. Tried today pip install tf-nightly on Windows with Python 3.82 x64 and get this message:
ERROR: Could not find a version that satisfies the requirement tf-nightly-gpu (from versions: none)
ERROR: No matching distribution found for tf-nightly-gpu

[2020-03-07 19:29] seanpmorgan commented on #33374
Not yet published for Windows:
https://pypi.org/project/tf-nightly/2.2.0.dev20200307/#files

[2020-03-07 20:26] av8ramit commented on #37415
Perhaps [`tf.data.experimental.bucket_by_sequence_length`](tf.data.experimental.bucket_by_sequence_length) can help? It might require some modification to use [`tf.data.Dataset`](https://www.tensorflow.org/api_docs/python/tf/data/Dataset).

[2020-03-07 21:13] dominthomas commented on #24520
@rachellim Yes, this works for me, **TF 2.1**:

[code]
However, the performance is quite bad, comparable to the old Keras `fit_generator()`, which defeats the whole purpose of `tf.data`.
Does anyone know how to increase the performance of the dataset?
Can a iterator be used?

[2020-03-07 22:29] HadiSDev commented on #37185
I was going to try but when I try to import tensorflow i get:
[code]

[2020-03-07 22:38] saqibshakeel035 opened #37417 "tensorflow.python.framework.errors_impl.InvalidArgumentError: Assign requires shapes of both tensors to match. lhs shape= [3,3,3,32] rhs shape= [3,3,1,32] [[{{node save/Assign_78}}]]"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Mint 19.1
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 1.14
- Python version: 3.7
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source):N/A
- GCC/

[2020-03-07 23:43] ngragaei commented on #6011
@RikHeijdens How can i use it instead of Maxpooling?

[2020-03-08 01:08] YINWIZHANG commented on #36845
Thanks! It solves the problem!

[2020-03-08 01:08] #36845 closed

[2020-03-08 01:45] Leslie-Fang commented on #29968
Hi @penpornk
I think it works....
I have tried this version(TF2.0): 99cb9fd68d1b8c6f0857c0775c366234537bacf5
With a combination of OMP_NUM_THREADS, intra_threads and inter_threads
For example:
[code]
From the view of HTOP, I may see **more than 2 threads existing**, but actually **only 2 threads are running**. I bet the others threads are sleeping.
Although, _i don't know why there are more than 2

[2020-03-08 04:25] gyla1993 commented on #35306
tf.__version__=1.15.0
tf.keras.__version__ = 2.2.4-tf

I encounter a similar problem when using tf.keras.layers.convLSTM2D with initial_state being input. The code raises the problem is
[code]
Following a possible solution in https://github.com/keras-team/keras/issues/9761#issuecomment-499222895, I remove
[code]
from tensorflow_core/python/keras/layers/convolutional_recurrent.py. However, the foll

[2020-03-08 05:00] sandeepmcr commented on #37265
Apologize for late resonse ravi:

I have Thinkpad mobile workstation with Intel Core i7 2.8 Ghz, 64-bit,  64GB RAM , Windows 10
NIVDIA Quadro M620
i installed Python 64bit both 3.7 and 3.8.

[2020-03-08 05:12] sandeepmcr commented on #37265
I updated VC++ distributable as per link provided by you.  Now when import tensorflow i get this specific error. Should ignore it because at least tensorflow seems to load.

2020-03-08 10:40:29.002371: W tensorflow/stream_executor/platform/default/dso_loader.cc:55] Could not load dynamic library 'cudart64_101.dll'; dlerror: cudart64_101.dll not found
2020-03-08 10:40:29.006704: I tensorflow/stream

[2020-03-08 05:32] yeyupiaoling opened #37418 "How to gray images in Android?"
I want to identify the MNIST image on an Android device. How do I modify the following preprocessing code. How to grayscale the image

https://github.com/tensorflow/examples/blob/f812d2c36469823c8784e387f690f43ad9d17683/lite/examples/image_classification/android/app/src/main/java/org/tensorflow/lite/examples/classification/tflite/Classifier.java#L307
[code]

[2020-03-08 05:39] HBiSoft commented on #34230
@eQueue
I have not yet found a way around this.

@yyoon

Does this mean that we will not be able to detect a pose in real time? Any updates on this issue will be appreciated.

[2020-03-08 08:18] bavincen commented on #10033
DLL Import Error can be resolved by installing latest c++
[https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads)

[2020-03-08 09:39] Nirvana93 commented on #24496
I got the same problem with following configuration:
TensorFlow installed from (source or binary): r1.13.1,r.1.13.2,r1.14
Python version: 3.6.1
Bazel version (if compiling from source):
GCC/Compiler version (if compiling from source):
CUDA/cuDNN version: CUDA 10 with cuDNN 7.4.1
GPU model and memory: RTX 2070 8GB.

I sovled this problem with:
TensorFlow installed from (source or binary): r1.12.0
P

[2020-03-08 09:49] votesappteam commented on #37019
Hi Sadu,
The original code Github is not compatible with Tensorflow version 2.
Please replace code in classify.py with below:

import os, sys

import tensorflow as tf
#https://github.com/minto5050/NSFW-detection
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2'
tf.config.optimizer.set_jit(True)

    # change this as you see fit
image_path = img

    # Read in the image_data
image_data = tf.io.gfile.GFile(i

[2020-03-08 10:30] andiconda commented on #31842
@mdanatg I have use “print” in train_step(), it shows that each epoch has a "print" work. and my code killed because of OOM.

are there some solutions for it?

thank you in advance.

[2020-03-08 10:48] jurgenweber commented on #37345
ok, so!

[code]

The build was successful.. and then:

[code]

scipy install error. Ok, time to work that out, just looks like a dependency issue.

[code]

I need to go to bed now and i'll leave this building, I assume it wont be short and report back in the morning. Thank you!

[2020-03-08 10:57] igormorgado commented on #24774
I had the same issues. Vectorized map works faster but still subpar compared with numpy alternatives. In the same dataset size  `numpy.apply_along_axis` takes 50microseconds (over a numpy array) while `tf.vectorized_map` takes 25ms over a tensor (numpy is 500x faster), if comparing with `tf.map_fn` over a tensor, things go even worse, since it takes `300ms` (numpy is 6000x faster).

[2020-03-08 12:13] Questdream commented on #16768
it worked

[2020-03-08 13:14] edric1261234 commented on #37352
same issue!

[2020-03-08 13:54] dominthomas commented on #37178
Similar issue for me:

[code]

[2020-03-08 13:57] vnvo2409 commented on #19297
I am interested in this feature and I am working on my proposal for this feature. Could you please provide more detail. Thank you 😄

[2020-03-08 14:38] a5467021 opened #37423 "Failed to build TF 1.14 on Windows with CUDA 10.1"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 14393.0
- Mobile de

[2020-03-08 14:44] dominthomas commented on #24520
I have figured it out.
**With keras, to improve performance:**

[code]

Why does this work? Is this even the correct implementation?

[2020-03-08 14:48] Papageno2 commented on #34983
I fix this problem by adding `tf.config.experimental_run_functions_eagerly(True)` after import tensorflow,  the following links may help:
[1] https://stackoverflow.com/questions/58352326/running-the-tensorflow-2-0-code-gives-valueerror-tf-function-decorated-functio.
[2]https://www.tensorflow.org/guide/effective_tf2#use_tfconfigexperimental_run_functions_eagerly_when_debugging.

[2020-03-08 15:15] Zaaachary commented on #35618
problem solved!

[2020-03-08 16:21] dominthomas commented on #36539
[This](https://github.com/tensorflow/tensorflow/issues/24520#issuecomment-596213250) helped in my case.

[2020-03-08 16:22] dominthomas commented on #37178
[This](https://github.com/tensorflow/tensorflow/issues/24520#issuecomment-596213250) helped in my case.

[2020-03-08 16:35] ayushmankumar7 commented on #35825
Since this issue is opened for a long time, let me work on this.

[2020-03-08 18:43] induraj2020 commented on #32708
Put these lines at the starting of the program
import tensorflow as tf
tf.enable_eager_execution()
tf.executing_eagerly()

[2020-03-08 18:47] ayushmankumar7 commented on #37379
Can I make a PR for this Issue ? @lamberta  @MarkDaoust

[2020-03-08 18:51] iperov commented on #32708
I am working with deep learning frameworks for 2 years.
And I am saying

GRAPH SYSTEM IS THE BEST.

pytorch sucks and only good for research.
So I cannot understand why to copy pytorch and enabling eager by default.

[2020-03-08 18:58] Tuxius commented on #35100
**Problem description**

I am using TensorFlow 2.1.0 for image classification under Centos Linux. As my image training data set is growing, I have to start using a Generator as I do not have enough RAM to hold all pictures. I have coded the Generator based on this [tutorial](https://stanford.edu/~shervine/blog/keras-how-to-generate-data-on-the-fly).

It seems to work fine, until my program all the

[2020-03-08 18:59] Hamza5 commented on #28007
Please solve it fast. I really need to use tf.map_fn inside the data preprocessing pipeline.

[2020-03-08 19:22] crmh opened #37426 "NotFoundError: No registered 'Identity' OpKernel for 'TPU' devices compatible with node"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platf

[2020-03-08 20:09] chiraag opened #37427 "Add logging to intermediate layers in TFLite"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.15
- Are you willing to contribute it (Yes/No): Yes

**D

[2020-03-08 20:47] jguhlin commented on #35925
No solution, I've fallen back to using python generators instead of trying to use the tf.dataset. In reference to an earlier comment (thanks for the advice though!)

I was using this with custom code, following the tensorflow guide to creating datasets, but used the tfds lib here to make a really small working example so no need for extensive custom code in the issue.

[2020-03-08 21:27] stephenhermes opened #37428 "tf.Graph.get_tensor_by_name does not work as expected in TF2"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Max OSX 10.15.3 (Catalina)
- Mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version: v2.1.0-rc2-17-ge5bf8de410 2.1.0
- Python version: 3.7.6
- Bazel version (if compiling from source): N/A
- GCC/Compiler version (if compiling from source):  N/A
- CUDA/cuDNN version: - GP

[2020-03-08 21:31] jurgenweber commented on #37345
o0o0o0o0o, yeah!

[code]

Thank you!

[2020-03-08 21:31] #37345 closed

[2020-03-08 23:17] miladtoutounchian commented on #36998
What is the next action folks?

[2020-03-09 00:35] tensorflowbutler commented on #36337
It has been 33 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-09 00:35] tensorflowbutler commented on #36345
It has been 36 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-09 01:30] ShawnHymel commented on #32468
Has there been any updates on this? I'm running into the same error as @dustedduke . I ran the example found here: https://www.tensorflow.org/lite/performance/post_training_integer_quant to produce the *mnist_model_quant_io.tflite* model.

I ran that model through this converter code to create a .h file with the model as constant bytes:

[code]

I loaded the file on Arduino (TensorFlow library v1.

[2020-03-09 01:48] zxk19981227 commented on #31842
I'm sorry  to hear that. But I solved my problems by turning off auto
trace. Maybe your problem is not the 'print' but the auto trace. You can
try this.
I hope it helps

anna <notifications@github.com> 于2020年3月8日周日 下午6:30写道：

[2020-03-09 01:54] zye1996 commented on #26755
Save here. Did you find a solution?

[2020-03-09 03:01] airplane2230 commented on #36345
Sorry, Thank you for your check this issue.

The full code is as follows:
[https://drive.google.com/open?id=1stCgY9E3JG0tzT9bC5oNibcXcmE_8SKd](https://drive.google.com/open?id=1stCgY9E3JG0tzT9bC5oNibcXcmE_8SKd)

[2020-03-09 03:03] moyans commented on #23550
when I use  mobile_ssd， this erro `Unrecognized option: --input_file=` still exist @wangyongqi

[2020-03-09 03:03] airplane2230 commented on #36345
+ mistake: close --> reopen

Sorry, Thank you for your check this issue.

The full code is as follows:
[https://drive.google.com/open?id=1stCgY9E3JG0tzT9bC5oNibcXcmE_8SKd](https://drive.google.com/open?id=1stCgY9E3JG0tzT9bC5oNibcXcmE_8SKd)

I haven't solved this problem yet.
Unlike before, I am ready to answer quickly.

[2020-03-09 03:28] kimchicanh commented on #37182
@ravikyram @ymodak Hi, Are there any solution???

[2020-03-09 03:33] wuhy08 commented on #26755
@zye1996

Check https://github.com/tensorflow/tensorflow/pull/37279, https://github.com/tensorflow/tensorflow/issues/33397 for current status.

[2020-03-09 04:47] venkat-kittu commented on #37412
I have taken the model from Keras API

[2020-03-09 04:51] bela127 opened #37429 "Wrong Error Massage, when passing wrong datatype to tf.TensorArray"
Hi,
I hope i picked the right issue type, not sure if documentation or implementation was the right category

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): No
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Linux Mint 19.3 (ubuntu)
- TensorFlow installed from (source or
binary): binatry
- TensorFlow version (use

[2020-03-09 04:53] #37169 closed

[2020-03-09 05:13] Tylersuard commented on #37189
@amahendrakar I'm sorry, I can't give you any exact sequence of commands.  This post is just me venting my frustration at using Tensorflow for over a year, and it being by far the most difficult package to install each and every time.

Tensorflow doesn't work with the most recent version of Python.  Tensorflow doesn't work with the most recent version of CUDNN.  Tensorflow doesn't work with the mo

[2020-03-09 05:22] wuhy08 commented on #33397
@cjtang

The PR has just been merged. Expect a few days before it is in tf-nightly.

Thanks.

[2020-03-09 05:22] #33397 closed

[2020-03-09 05:34] jimmy9389 commented on #31053
same issue, watching

[2020-03-09 05:48] Saduf2019 commented on #37426
I am able to replicate the issue, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/c31e0255179d513782e50bbf20609726/37426.ipynb).

[2020-03-09 05:49] omalleyt12 commented on #37237
Great, no prob, thanks for verifying!

[2020-03-09 05:51] Expert73 commented on #37015
The build of the software code was excellent for the release version 2.1. The problem was in Path. You can close the problem. Problem solved.

[2020-03-09 05:51] #37015 closed

[2020-03-09 05:58] rmothukuru commented on #34603
@metarag,
Can you please confirm if we can close this issue. Thanks!

[2020-03-09 06:00] Expert73 opened #37430 "MKL Error on Bazel 2.0 (TensorFlow 2.1 latest - nightly)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10 x64 18363.693
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow installed from (source or binary): from git
- TensorFlow version: TF 2.1 latest version
- Python version: 3.7/3.8
- Installed using virtualenv? pip? conda?: no
- Bazel version (if c

[2020-03-09 06:02] rmothukuru commented on #36323
@Ordgod,
Can you please respond to the above comment. Thanks!

[2020-03-09 06:06] Saduf2019 commented on #37415
@frytry
please let us know if the above comment helps.

[2020-03-09 06:06] Expert73 commented on #37430
build cmd
bazel --output_base=c:/bazel/output_dir/ build --config=mkl --config=opt //tensorflow/tools/pip_package:build_pip_package

[2020-03-09 06:07] ravikyram commented on #37423
@a5467021

Can you please try with the [tested build configuration](https://www.tensorflow.org/install/source_windows#gpu) and check whether the issue still persists. Thanks!

[2020-03-09 06:08] freedomtan commented on #37412
note that there are two problems.

1. preprocessing: keras supports 3 kinds of pre-processing: caffe, tf, and pytorch [1]. It seems Keras' VGG19 is from Caffe too, so it needs Caffe preprocessing [2]. Mobilenet uses tf preprocessing [3].

2. number of classes: you need an off-by-one labels file

[1] https://github.com/keras-team/keras-applications/blob/master/keras_applications/imagenet_utils.py#L

[2020-03-09 06:09] gadagashwini commented on #36697
@muellesi, Any update on reproducible code snippet? Thanks

[2020-03-09 06:11] Saduf2019 commented on #37399
@raniaCht

It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue.
please share tensorflow version,code to replicate your

[2020-03-09 06:15] saikumarchalla commented on #37297
@CH0102NG Can you please share colab link or simple standalone code to reproduce the issue in our environment,it helps us localizing the issue faster.Thanks!

[2020-03-09 06:17] Hazeline2018 opened #37431 "undefined reference error while building Lite for ESP32 "person_detection" example"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win7
- TensorFlow installed from (source or binary): source
- Tensorflow version (commit SHA if source): Latest version
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): ESP32

**Describe the problem**
I git the whole latest tensorflow branch on my WIN7 PC. I intended to use "Tensorf

[2020-03-09 06:18] bela127 commented on #34025
same here, only with multi gpu setup, singel gpu has no warnings

[2020-03-09 06:22] gadagashwini commented on #37266
@jsimsa, Issue is not replicating with Tf 2.1. Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/40c8a38201342c07c15f4f05d453a6e7/untitled429.ipynb?authuser=2). Thanks

[2020-03-09 06:22] bela127 commented on #33649
i think
#34025
is has the same problem

[2020-03-09 06:26] gadagashwini commented on #37428
@stephenhermes, I tried replicating the issue but getting different error .
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/eda9478397bd2186c904344a8f9b93e1/untitled430.ipynb?authuser=2) and provide more information to replicating the reported issue. Thanks!

[2020-03-09 06:40] gadagashwini commented on #37261
@cappittall, Can you provide the complete standalone code to analyze the issue. Thanks

[2020-03-09 06:43] bela127 commented on #33649
I may have found the "Problem"
I implemented a simple function with a `print` statement to see when it is traced.
similar to :
https://www.tensorflow.org/tutorials/customization/performance#tracing_and_polymorphism
and ran it on a multi gpu setup.

Output is:
[code]

so the graph is traced on every used cpu/gpu one time, thats why the warning is shown
the warning code counts how often a trace is m

[2020-03-09 06:44] rmothukuru commented on #36345
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2020-03-09 06:49] metarag commented on #34603
Yes.

[2020-03-09 06:49] #34603 closed

[2020-03-09 06:50] airplane2230 commented on #36345
I will try it.

Thank you and close this issue.

[2020-03-09 06:50] #36345 closed

[2020-03-09 06:51] MichaelKarpe commented on #36718
Hi @hongjunChoi,

Sorry for the late reply, I have very little time these days to work on this. I tried with `tf.data.Dataset`, it looks like it's approximately working...

For example I can find a workaround for the `validation_split` parameter by using `validation_data` instead, however it seems the `model.predict` returns different predictions depending on the batch size (using `.batch()` on `t

[2020-03-09 06:52] GyanendroKh opened #37432 "Encountered unresolved custom op: BatchMatMulV2."
**System information**
- OS Platform and Distribution (Pop!_OS 19.10):
- TensorFlow installed from (source or binary):python3 -m pip install
- TensorFlow version - 2.2.0-dev20200308
- TensorFlowLite version [0.0.0-nightly](https://bintray.com/google/tensorflow/tensorflow-lite/0.0.0-nightly#)

I was trying to convert a Transformer model to TfLite. It converted successfully with Python using the `co

[2020-03-09 06:58] amahendrakar commented on #37416
Was able to reproduce the issue with TF 2.1 and TF-nightly. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/835c0ddf7b10b0c134967080939efffe/37416.ipynb). Thanks!

[2020-03-09 07:00] GoingMyWay commented on #18572
@imanirajian

Have you figured out how to input variable length feature data to get embedding columns?

[2020-03-09 07:06] gadagashwini commented on #37351
I could replicate the issue with tf 2.1.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/c29154968a86ae94e4973533b1385df1/untitled431.ipynb). Thanks

[2020-03-09 07:13] Saduf2019 commented on #37431
@Hazeline2018
Could you please refer to existing old issues related to this topic.
please let us know if [this helps](https://github.com/tensorflow/tensorflow/issues/28105#issuecomment-490139562)

[2020-03-09 07:26] Saduf2019 commented on #37209
@oskar347567
please update on the above comment.

[2020-03-09 07:29] PreVizsla opened #37433 "AttributeError: module 'tensorboard' has no attribute 'lazy'"
I've been trying to import tensorflow, downloading Anaconda 3, creating virtual environment, use pip install tensorflow, pip install keras and when I try to import tensorflow an error occured  "Failed to load the native TensorFlow runtime." then I tried to resolve it by downloading cygwin to update the gcc. After that, another error occured

[code]

Tried to solve it by downloading CUDA 10.1 versi

[2020-03-09 07:52] wangxiang2713 commented on #37332
Hi：
    Thankyou for your response, i am sorry i can't send the code because of authority. I am trying to slove this problem with my workmates, i will tell you the reason immediately if i solve this problem.

At 2020-03-07 04:53:39, "Sanjoy Das" <notifications@github.com> wrote:

@wangxiang2713

Can you please a complete reproducer (something we can copy/paste)?
Is this fixed on tf-nightly?

—
You

[2020-03-09 08:12] dodiak commented on #36135
So I can confirm that it runs as we expected. Thanks a lot.

[2020-03-09 08:27] #37342 closed

[2020-03-09 08:31] ravikyram commented on #37416
@LeechMuse
In the code provided by you `y_true` = [0, 0, 1, 1], `y_pred` = [1, 1, 1., 1.] , top_k = top-k classes to be considered to calculate precision.

If top_k = none it consider all the classes.

Precision is calculated by TP/TP+FP. So in the case top_k =1 it considers the first value only to calculate precision (ie y_true = [0]  and y_pred = [1]) so precision is zero.

Similarly top_k=2 con

[2020-03-09 08:43] sanjoy commented on #37352
CC @tfeher @bixia1 @DEKHTIARJonathan

[2020-03-09 08:44] ravikyram commented on #37414
@beardwolf

Will it be possible to share the sample data , it helps us to reproduce the issue in our environment.Thanks!

[2020-03-09 08:47] ravikyram commented on #37407
@zkx741481546

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Request you to share simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster. Please, fill [the Github new issue template](https://github.com/tensor

[2020-03-09 09:04] Saduf2019 commented on #37301
@anspire
We have tried to replicate the link shared by you,  find the gist for the[ errors faced](https://colab.sandbox.google.com/gist/Saduf2019/d548215265cbbae3042f1cde381dab05/37301.ipynb), please share all dependencies for us to resolve the issue.

if possible share a colab gist with us.

[2020-03-09 09:21] Saduf2019 commented on #36734
@etetteh
If possible can you please share a colab link of the same with us, we are unable to replicate with the information shared as it still shows same error as informed earlier.

[2020-03-09 09:22] gadagashwini commented on #37024
@Jup11ter, Tried with update code to replicate issue but code executed without any error.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/9468015fd6292e82bf0741187aaa0b1c/untitled432.ipynb). Thanks

[2020-03-09 09:23] ravikyram commented on #37397
I have tried on colab with TF version 2.1.0 beta,2.2.0-dev20200308 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/1344668f02641b79a34e585d3e1b7f2c/untitled713.ipynb). Thanks!

[2020-03-09 09:25] Saduf2019 commented on #37273
@anthonyatp
As per steps shared by you,  "And once the model has been trained and checkpoints saved, **restart the kernel** to reset the encoder and decoder variables and try to run:" restarting kernel would lose all the stored information.
Could you please share a colab link with the same if possible.

[2020-03-09 09:29] gadagashwini commented on #37036
@HebeVinny, Please update for the above comment. Thanks

[2020-03-09 09:30] gadagashwini commented on #37059
@rajkpammi, Is this still an issue?

[2020-03-09 09:32] gadagashwini commented on #37128
@Billy1900, Was the above comment help you to resolve this issue?

[2020-03-09 09:33] amahendrakar commented on #37393
Was able to reproduce the issue with TF 2.1 and TF-nightly. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/a27e55132ee756c965af0069155a326d/37393.ipynb). Thanks!

[2020-03-09 09:48] ravikyram commented on #37430
@Expert73

Can you please provide us the error log. Thanks!

[2020-03-09 09:52] ravikyram commented on #37410
@suraj-maniyar

Thanks for reporting the issue. Can you please share the simple standalone code to reproduce the issue. It helps us in localizing the issue faster. Thanks!

[2020-03-09 10:08] mario-alvaro commented on #35749
Tensorflow-gpu 2.1
Cuda 10.1
Python 3.6.5
cuDNN 7.6.4
Had the same problem, and upgrading Visual C totally worked for me.

[2020-03-09 10:09] JoaoLages commented on #36320
@gowthamkpr exactly. but that's the problem. I need to load the weights one by one and match them. very unpractical when I could just load the weights and disregard the ones that dont match in length (same as we disregard with different names)

[2020-03-09 10:14] xiaoyangnihao opened #37439 "TypeError: '_UserObject' object is not callable, why tf.saved_model.load() failed?"
**System information**
- TensorFlow installed from (source or
binary): - TensorFlow version (use command below): 2.1.0
- Python version: 3.7.4

**Describe the current behavior**
[code]
**Describe the expected behavior**

**Standalone code to reproduce the issue**
Provide a reproducible test case that is the bare minimum necessary to generate
the problem. If possible, please share a link to Colab/J

[2020-03-09 10:19] dtim1985 commented on #37382
@Saduf2019 I clarified tf version number 2.X -> 2.1.0 - which is the current colab latest version.
I don't have any errors even with tf-nightly when running the gist you privded and error itself `load() missing 2 required positional arguments: 'tags' and 'export_dir'` looks pretty odd as there is only one required parameter - and it is `export_dir`.
Unfortunately, I can't confirm the original issu

[2020-03-09 10:21] zkx741481546 commented on #37407
Win10 1903
anaconda
python3.7
tensorflow2.1 avx2
tebsorflow2.1-gpu avx2

It turns out to be a bug of pycharm, after this error, python program launched by pycharm can't find  cuda lib, but it works normally with powershell.
After I restart pycharm, the problem never occored.

[2020-03-09 10:22] venkat-kittu commented on #37412
@freedomtan thank you for your answer, but for calculating accuracy using tflite tool, do I need to make changes in the code of tflite accuracy tool for integrating Caffe preprocessing in it?

[2020-03-09 10:25] Billy1900 commented on #37128
sort of, I have to use the previous version to run my code. but it is not what i truly want.

[2020-03-09 10:33] renatobellotti commented on #33283
Thank you! :)

[2020-03-09 10:33] debasis1990 commented on #17702
@taixhi Could you please help me in solving for different DEFINED Parameters. As your solution just solves it for **DEFINE_string** by using
tf.app.flags.DEFINE_string('f', '', 'kernel')

How can I declare the flags for the below code which has integer, string and float ?

flags = tf.app.flags
FLAGS = tf.app.flags.FLAGS
flags.**DEFINE_integer**('hidden1', 128, 'Number of units in hidden layer 1.')

[2020-03-09 10:39] renatobellotti commented on #26033
Has there been progress?

[2020-03-09 10:46] ravikyram commented on #34528
@andmax

This was resolved in ``tf-nightly`(!pip install tf-nightly)`. Please check the gist [here](https://colab.sandbox.google.com/gist/ravikyram/cc4d485120973b17d5616b85b81a61f0/untitled715.ipynb).

You could use tf-nightly for now and in the next couple of months new stable version will be released.Can you please confirm whether we can close this issue as this was resolved.
Thanks!

[2020-03-09 10:57] evgal opened #37440 "AutoGraph error with FOR loop in Keras loss"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10, x64
- TensorFlow installed from (source or binary): Binary (pip)
- TensorFlow version (use command below): TF 2.1.0 as well as TF 2.2.0 (2.2.0.dev20200304)
- Python version: 3.7
- CUDA/cuDNN version: 10.1

[2020-03-09 11:01] gadagashwini commented on #37135
I was able to replicate the issue with Tf 1.15.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/63019ec8c97b8220b06605ccd5dec1b9/untitled433.ipynb). Thanks

[2020-03-09 11:01] amahendrakar commented on #37405
@adisurtya,
When I tried to run the above code, I got an error stating `NameError: name 'theta' is not defined`. Please find the gist of it [here](https://colab.sandbox.google.com/gist/amahendrakar/170a8327e9da4d0372bfcc8561c74963/37405.ipynb).

Looks like the given code is incomplete, in order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the is

[2020-03-09 11:11] #37209 closed

[2020-03-09 11:14] rakeshmothukuru1 opened #37441 "ValueError: Cannot convert a Tensor of dtype resource to a NumPy array"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  Yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04):  N/A, as it can be reproduced in Google Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device:  N/A
- TensorFlow installed from (source or
binary): - TensorFlow version

[2020-03-09 11:20] amahendrakar commented on #37413
@mohlondon,
In order to expedite the trouble-shooting process, could you please provide the minimal code to reproduce the issue reported here. Thanks!

[2020-03-09 11:29] stephenhermes commented on #37428
The issue reported is with TensorFlow version 2.1.0 (not 1.15.0).

[2020-03-09 11:29] powerbf commented on #35030
I am also experiencing continually increasing memory usage with tensorflow 2.1.0 and 2.0.0
I'm not using Lamda layers - just Dense and Dropout layers.
Adding calls to del model, tf.keras.backend.clear_session() and gc.collect() slows the rate of growth, but it still grows endlessly.

I'm using Python 3.6.9 on Linux Mint 19.1
Like others, I've been unable to reproduce the issue in colab.

I've been

[2020-03-09 11:33] zhangwujun666 commented on #37320
Hi, there, I just followed this instruction to implement the installation:

and the version of Tensorflow is following:
`git` clone https://github.com/tensorflow/tensorflow.git -b v1.5.0
After I did this command to build the file:
`bazel build --config=cuda --config=opt --action_env PATH --action_env LD_LIBRARY_PATH --action_env DYLD_LIBRARY_PATH //tensorflow/tools/pip_package:build_pip_package`

[2020-03-09 11:34] ravikyram commented on #36368
@Goofy-G

Any update on this issue please. Thanks!

[2020-03-09 11:44] Saduf2019 commented on #37441
I have replicated this issue in nightly as well and the issue persist, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/4a455a71f944fba5432b96ce7cae23e6/37441.ipynb).

[2020-03-09 11:54] gadagashwini commented on #37428
@stephenhermes, The code is compatible to Tf 1.x version. Please confirm.
Thanks

[2020-03-09 12:00] mohlondon commented on #37413
What code i did mention that i used the translate.py script of this project branch: r0.11

[2020-03-09 12:22] turinglife commented on #21832
**### nvidia drivers mismatch**

my nvidia driver is 384.90.

**before**:  error which is same as the title of the thread.
tensorflow-gpu 1.15.0 with cudatoolkit 10.0.130 + cudnn 7.6.5

**after**: Worked
tensorflow-gpu 1.15.0 with cudatoolkit 9.0 + cudnn 7.6.5

**solution**:
conda uninstall cudatoolkit (10.0.130)
conda install cudatoolkit=9.0

![image](https://user-images.githubusercontent.com/111

[2020-03-09 12:27] amahendrakar commented on #37429
@bela127,
I tried running the above code with TF 2.1 and TF-nightly and got the error `TypeError: 'numpy.float32' object cannot be interpreted as an integer`. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/d041d143a9d6c97d6ed2024bf7c3b0cd/37429.ipynb). Thanks!

[2020-03-09 12:43] ravikyram commented on #37440
I have tried on colab with TF nightly and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/4f9dbb6a4b25213e7aec3edbe830f75f/untitled722.ipynb).Thanks

[2020-03-09 12:54] amahendrakar commented on #37439
@xiaoyangnihao,
On running the above code, I got an error stating `NameError: name 'model' is not defined`. Please find the gist of it [here](https://colab.sandbox.google.com/gist/amahendrakar/0e172b1fa3c2202b97ea6978ec78a304/37439.ipynb).

In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-03-09 12:57] xiaoyangnihao commented on #37439
Sorry for missing some codes. I update the description above, so you can reproduce the issue, thanks

[2020-03-09 13:02] mdanatg commented on #37323
Indeed, you should avoid using private fields - they may change at any moment.

The easiest and most robust way is to use a global Python counter, like so:

[code]

[2020-03-09 13:03] freedomtan commented on #37412
Relevant code is there [1]. I never tried it personally.

[1] https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/evaluation/stages

[2020-03-09 13:08] bela127 commented on #36963
thanks, changed to nightly and the fix is working

[2020-03-09 13:13] etetteh commented on #36734
I don't have a colab file as I wasn't working in Colab.
Please use this instead
`from mimic3models.biobert.biobertlayer import BioBertLayer"`

Please, check the subdirectories well and create __init__.py file if necessary.
Create a folder inside the mimic3models called biobert and copy the files [here](https://drive.google.com/drive/folders/1i_CGyn5vQ0WTs6KXjB6KMd6nvZ_vqxlo?usp=sharing)
inside it.

[2020-03-09 13:15] bela127 opened #37444 "InaccessibleTensorError in graph mode with for loop itteration (different sized tensors) ( tf.image.resize)"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): custom Layer, using tf.image.resize
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04):  Linux Mint 19.3 Cinnamon (Ubuntu based)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: No
- TensorFlow installed from (source or
binar

[2020-03-09 13:28] isaacgerg commented on #37393
@amahendrakar Thank you.  @ymodak Please let me know what you need form my end to help!

[2020-03-09 13:29] Expert73 commented on #37430
Tensorflow 2.1 latest (nightly)
C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\VC\Tools\MSVC\14.24.28314\include\xtr1common(163): note: see reference to class template instantiation 'std::integral_constant<bool,false>' being compiled
C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\VC\Tools\MSVC\14.24.28314\include\xtr1common(163): note: see reference to class templat

[2020-03-09 13:34] bela127 commented on #37429
interesting...
i just checked again and now its working with:
tf.TensorArray(dtype=tf.float32, size=tf.cast(5, dtype = tf.float32), dynamic_size=False)
i try to reproduce the original bug and create test code...

[2020-03-09 13:36] mjul opened #37445 "Document purpose for tf.keras.preprocessing module"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/keras/preprocessing

## Description of issue (what needs changing):

The module documentation is very terse and only states that it contains "preprocessing utils". It does not state the specific purpose.

It would be helpful if it defined the intended use of the `tf.keras.preprocessing` module (_e.g._ to clean up or transform

[2020-03-09 14:09] stephenhermes commented on #37428
The code requires `tf.global_variables_initializer()` to run in TF 1.15; including it does not fix the issue in TF2.1:

[code]

[2020-03-09 14:15] ziofil commented on #26270
bump

[2020-03-09 14:34] Lotte1990 commented on #33634
I think I might be experiencing the same problem as @chrisagblake

- Pull nightly (TF 2.2.0-dev20200308)
- Add `features = ["windows_export_all_symbols"],` to `tensorflow/lite/build_def.bzl`
- `bazel build -c opt //tensorflow/lite:tensorflowlite`
- This gives me `tensorflowlite.dll.if.lib` (56.4 MB) and `tensorflowlite.dll` (13.6 MB)
- I can successfully link the `.dll` using the `.dll.if.lib` in

[2020-03-09 14:38] venkat-kittu commented on #37412
@freedomtan Thank you, I will check it out once.

[2020-03-09 14:39] Yuki-Nagato commented on #28582
I run into this error with tensorflow 2.1.0 and CUDA 10. Not always, but most of the times.

[2020-03-09 14:42] zaccharieramzi opened #37446 "Python crashes when computing max/min of a complex tensor"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.1
- Python version: 3.6.8

**Describe the current behavior**
When taking (by mistake) the max value o

[2020-03-09 14:55] Richard-Yang-Bose commented on #37102
@impjdi  Thanks for finding the issue!
Yeah that could be a work around, however it's not ideal since I believe some network structure has MUL with 4D tensor required inside the implementation (e.g. [convlstm).](https://github.com/tensorflow/tensorflow/blob/e5bf8de410005de06a7ff5393fafdf832ef1d4ad/tensorflow/python/keras/layers/convolutional_recurrent.py#L703)
Do you think it's possible to have MU

[2020-03-09 15:13] ManishAradwad commented on #37445
I'll start working on it...
Thanks!

[2020-03-09 15:22] evgal commented on #37440
I just noticed that the same bug also appears even if the loss is a simple callable instead of a subclass of keras.losses.Loss.

[2020-03-09 15:28] bela127 commented on #37429
Cant reproduce it, and already changed the code that original produced the error, so i have no way to find it again.

Closing for now...

i will reopen the issue if im successful

[2020-03-09 15:28] #37429 closed

[2020-03-09 15:35] beardwolf commented on #37414
Sure. I've uploaded some data to my repository. In the script just change the directory variable to the directory where you put the data. Sorry about the double zip extension in the filename. I'm new to GitHub. It's a normal zip file, not double zipped. Thanks!

[data.zip.zip](https://github.com/tensorflow/tensorflow/files/4307523/data.zip.zip)

[2020-03-09 15:54] RyanCocking commented on #36111
Thanks so much @jalpeshpanchal99, this sorted it for me!

[2020-03-09 16:01] WillNichols726 opened #37447 "Cross-compile instructions for TFLite XNNPACK delegate on ARM"
Are there any instructions on how to cross-compile the XNNPACK delegate for ARM?

I've tried the following:
export CC=arm-linux-armeabief-gcc
export CPP=arm-linux-armeabief-g++
bazel-2.1.0 build //tensorflow/lite/delegates/xnnpack:xnnpack_delegate

ERROR: /home/andy/.cache/bazel/_bazel_andy/ff7061ef3fb000e53210886b26774f34/external/XNNPACK/BUILD.bazel:1654:1: C++ compilation of rule '@XNNPACK//:ss

[2020-03-09 16:09] tonyreina opened #37448 "Increase BiasGrad size: "BiasGrad requires tensor size <= int32 max""
**System information**
- TensorFlow version (you are using): 2.1.0
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**

We've using 3D U-Net on large images (e.g. 512x512x256x4) and have found that when the input size increases above a certain size we get the error:

[code]

I'm pretty sure that this is because the BiasGrad function is using an

[2020-03-09 16:14] NikoKVCS commented on #7482
Any updates? Can I append an existing TFRecord?

[2020-03-09 16:16] mihaimaruseac commented on #35749
@AhmedSheha0 no, it is a terrible advice because 2.0 is not a LTS release hence after a year it will no longer receive security updates (just one example of why downgrading is not a solution)

Also, think how many people are notified and how many confusing "solutions" are in these threads. Also, notice how many people replied with the same spammy advice of "it works for me if you downgrade"

We co

[2020-03-09 16:16] jploski opened #37449 "Resource temporarily unavailable, ENOMEM on CPU with memory rlimit"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): yes, trivial example
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Debian buster
- TensorFlow installed from (source or
binary): source
- TensorFlow version (use command below): 2.1.0
- Python version: 3.73
- Bazel version (if compiling from source): ?
- GCC/Compile

[2020-03-09 16:17] yongtang commented on #19297
@vnvo2409 I can help you on this issue with respect to S3. If I remember, there were several dependencies that needs to be resolved for S3. curl is one, boringssl could be another one. In [tensorflow/io](https://github.com/tensorflow/io) we get the curl working in windows so you may copy the BUILD file and give it a try.

On a side note, there are ongoing discussions about moving S3/GCS support to

[2020-03-09 16:20] mihaimaruseac commented on #37189
Unfortunately this is a huge project with too many dependencies, so making sure everything works as soon as new dependencies versions are released is a Sisyphean task with little recognition. It is what it is.

Fortunately, this is a community project, anyone from the open source can provide PRs to upgrade build tools/code so that TF would work with the newer versions.

There is the alternative of

[2020-03-09 16:21] jsimsa commented on #37266
And it is replicating with tf-nightly?

[2020-03-09 16:23] mihaimaruseac commented on #35618
Solution is to download the [latest microsoft visual c++ redistributable from here](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads).

Locking conversation to prevent spammy "works for me" and fake solutions of "downgrade to TF 2.0"

[2020-03-09 16:26] mihaimaruseac commented on #37265
@sandeepmcr that is just a warning that cuda couldn't be loaded on your system. As the second line says, you can ignore that if you don't need GPU.

If you do, then you have to make sura CUDA 10.1 libs are available.

[2020-03-09 16:30] LeechMuse commented on #37416
Sure, this is true, but in that case it's not on average, and instead you should say precision at top_k (ties are broken by the order in which the values are provided).

If it was on average, it should be expected to break ties according to expectation. So in the case of top_k=1, it should still be 0.5, because under random assignment of order (given that all y_hat are equal), 0.5 of the permutati

[2020-03-09 16:32] mihaimaruseac commented on #19297
Let's keep this on hold for a while longer until Windows modular filesystem is released (if all goes well, at most 3-4 weeks?)

[2020-03-09 16:32] Hazeline2018 commented on #37431
@Saduf2019
thanks for your prompt response. However, I read through the post you suggested but did not see anywhere could help with my own issue. I'm trying to make for ESP32 mcu on WIN7 machine. But the link you suggested was for Android build. Please help pointing to the right direction. Thanks!

[2020-03-09 16:34] anthonyatp commented on #37273
Apologies, I forgot colab storage gets deleted when runtime refreshes - I am using a notebook on google ai platform.

Ok, so I have put together a colab notebook with instructions to reproduce the problem. I have added a link to download my checkpoints so you don't have to train the model again:

https://colab.research.google.com/drive/1P322lnNI_S9L2dP1ZcsJhU_izemgNcMg?authuser=1#scrollTo=9Psd1quz

[2020-03-09 16:34] anthonyatp commented on #37273
What I'm really trying to solve is how do you save this type of model architecture (encoder, decoder, attention) and deploy it for serving - checkpoints may be the wrong method entirely.

[2020-03-09 16:38] musikisomorphie commented on #31067
Hi @alextp, @capilano, do anyone still work on this issue? Otherwise, I can give it a try.

[2020-03-09 16:38] LeechMuse commented on #37416
Or, if the average is referring to average across the batches, it should still say how you handle ties in y_hat. While this might seem trivial, I have failed in the past reproducing results of papers because of that.

[2020-03-09 16:41] CH0102NG commented on #37297
Hi, sorry I forgot to update. I have managed to resolve the issue by upgrading my ktrain to version 0.10.0 and shutting down another jupyter notebook that was also using cuda. Thanks so much for response:)

[2020-03-09 16:52] BeWe11 commented on #35194
I get the same error when using `tf.scan` in one of my layers. tf.lite conversion works fine if I don't enable post-training quantization but crashes when I turn it on.

There are several issues around this error but its never mentioned whether this is an inherent limitation in the tf.lite converter or if there is a fix coming. Can somebody clarify this?

Thanks!

[2020-03-09 17:07] #35122 closed

[2020-03-09 17:08] alextp commented on #31067
Please give it a try.

On Mon, Mar 9, 2020 at 9:38 AM musikisomorphie <notifications@github.com>
wrote:

--
 - Alex

[2020-03-09 17:16] mdanatg commented on #37440
@pavithrasv AutoGraph is not applied in custom losses, I believe. Should we add it, for consistency with the Layer behavior?

[2020-03-09 17:17] mihaimaruseac commented on #10033
Since the above is the solution, and to prevent future messages hiding it, I'm going to go ahead and lock the converstation.

[2020-03-09 17:21] pavithrasv commented on #37440
Yes, i think it's a good idea to explore autographing custom Loss/Metric.

[2020-03-09 17:23] Hazeline2018 commented on #37431
**Edit:**
To correct my original problem description: the make step was successful after I ''hacked" the MD5 checksum and manually downloaded those 5 3rd party downloads.

But this **'undefined reference to `RespondToDetection(tflite::ErrorReporter*, unsigned char, unsigned char)'** error came when I tried to build the example prj using "**idf.py build**" cmd.

Just as a reference, I also tried bu

[2020-03-09 17:24] ben-arnao opened #37450 "tensorflow-gpu 2.0.1 hangs mid-epoch"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): The only modif

[2020-03-09 17:28] impjdi commented on #37102
While it's not technically impossible (extending it to the batch dimension is trivial), I think you will have a much bigger problem as it won't be just `MUL` that doesn't support your particular use case; the majority, if not all, of TFLite GPU ops are not designed in a batch-friendly fashion.  We will have a lot more plumbing to do to accommodate the batch size we will investigate more in the com

[2020-03-09 17:29] mttsndrs commented on #34256
I had the same problem (using a shaded jar, `NativeLibrary.getMajorVersionNumber` returned null). But since your fix wasn't yet available in the 1.15 release, I worked around it by adding an `Implementation-Version` that starts with `1.` to the shaded jar's manifest using Maven's `ManifestResourceTransformer`.

[2020-03-09 17:38] pstadelmann commented on #35318
ARM with CMSIS-NN optimization seems to be also affected by this issue. At least the int8 tests fail and once the same workaround as above is added [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/micro/kernels/cmsis-nn/fully_connected.cc), all tests pass.

[2020-03-09 17:51] codeislife99 commented on #37099
Can someone comment on why the conversion from frozen graph to TFLite model changes the node to float64 which is originally float32.

[2020-03-09 17:53] PhanatosZou commented on #37366
@Saduf2019 Seems like a possible way to make it work is to downgrade to a lower version. Would it be fixed in TF2.0 or further versions?

[2020-03-09 17:55] bela127 commented on #37444
I found a workaround, which is a bit wired because logicically does the same as the original code, but it splits the work in to loops.
So a lot overhead in typing code, and not very intuitive.

The workaround (Test 6) shoes that tensorflow is basically able to perform the required computation.
It has nothing to do with tf.image.resize but with autograph loop handling
So i guess the solution should

[2020-03-09 18:07] 13ecd1 commented on #10515
When I try this, I get "Access is denied". Do you happen to know why?

[2020-03-09 18:08] MarkDaoust commented on #34221
Hi,

There are a few things going on here, that combine top make this happen:

------------------------------------------------------------

1. `crossentropy(y,softmax(x))` will overflow and return NANs easily.

2. The root of the difference is that, to help beginners, Keras tries to patching this to use the safe "from_logits=True" form when it is running in graph mode (inside a `tf.function`). If

[2020-03-09 18:10] sandeepmcr commented on #37265
This has got resolved now after I installed CUDA 10.2 toolkit . Tensorflow is getting imported without error .

[2020-03-09 18:26] adisurtya commented on #37405
Sorry, forgot to include this. Here is the fully reproducible code: [https://colab.research.google.com/gist/adisurtya/387383b8f4e518dbb938ecd1af87b982/37405_full.ipynb](url)

[2020-03-09 18:34] olalakul commented on #36508
I resolved this problem by reinstalling CUDA, cuDNN and tensorflow. I followed the instructions at tensorflow website https://www.tensorflow.org/install/gpu , but took CUDA 10.2 and did not specify the version of cuDNN  and version of libnvinfer (so I suppose it took the latest version).  I also updated the PATH and removed the old versions of CUDA

[2020-03-09 18:47] Richard-Yang-Bose commented on #37102
Yeah, that make sense, especially inference use cases usually have the batch-dimension fixed to 1 or a constant.
I'm not familiar with how the GPU ops are implemented, but I guess as a first cut, it would be nice to have `MUL` to allow 4D input, while the first dimension only supports to be set as 1 ?

[2020-03-09 19:06] jdduke commented on #37432
We plan on adding support for BatchMatMul in the TF 2.3 release.

[2020-03-09 19:07] codeislife99 commented on #37099
I solved this issue by using the experimental MLIR converter as shown here:
https://groups.google.com/a/tensorflow.org/forum/#!topic/tflite/C7Ag0sUrLYg
It just needed one line of change.
`converter.experimental_new_converter = True  # Add this line
`
 The error is not there anymore. I also verified that the PyTorch output and TFLite interpreter outputs match within tolerance values.

[2020-03-09 20:11] reedwm commented on #26033
Sorry no updates yet :(

[2020-03-09 20:15] sjurajpuchky commented on #36937
Its working with version r2.2 build on CentOS 7 Python 3.6
Thanks a lot

[2020-03-09 20:28] lamba92 commented on #37426
Having same issue [here](https://drive.google.com/open?id=1LCeeTcdJuXGXoddfSPAQAqDgigSdqQTl), although the model seems to work when using the GPU. I believe it may be related to the override of the Keras ImageGenerator but I have not enough knowledge to be sure.

[2020-03-09 20:48] jdduke commented on #33634
In general, if you're using the C++ API, you need to be extremely careful that your client library (referencing TFLite code) is built with identical build/link options as the TFLite library itself.

In general, prefer using the tensorflow/lite/c shared library to avoid ABI and stdlib incompatibilities.

[2020-03-09 20:54] twkx commented on #33634
@Lotte1990 double check you use the exact same .h files in your project that the ones used to compile the library itself (extract those .h from the cloned tflite repository to be sure).

Also, as @jdduke said, be carefull to use the same stdlib implementation in your project than the one used in the tensorflowlite library.

[2020-03-09 21:03] ben-arnao commented on #37450
Upgrading to 2.1 seemed to fix whatever bug this is.

[2020-03-09 21:03] PhilipMay commented on #35100
@Tuxius I have the same Issue. Should be reopen this? Why is it closed anyway?

[2020-03-09 21:49] dd1923 commented on #34876
Anyone actively working on this issue? Its a bug that hits a core functionality such as tensorboard

[2020-03-09 22:42] italo-goncalves opened #37456 "Ops with SparseTensor on GPU gives result in CPU."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  custom code
-

[2020-03-09 23:08] jdduke commented on #37427
@suharshs didn't we add this functionality recently?

[2020-03-09 23:10] ymodak commented on #37075
Closing this issue as per the threads discussion. Thanks!

[2020-03-09 23:10] #37075 closed

[2020-03-09 23:13] gowthamkpr commented on #36552
@xcwanAndy Can you please try this with Tensorflow 1.14 docker image and let me know if it is working as expected. Thanks!

[2020-03-09 23:18] ymodak commented on #37336
@shiningrain Can you try updating keras version ? The colab hosts Keras Version: 2.2.5

[2020-03-09 23:31] alexcreature opened #37457 "pip install tensorflow could not find a version"
**System information**
- macOS Catalina version 10.15.3
- pip install tensorflow
- GPU model and memory: Intel Iris Plus Graphics 645 1536 MB

**The problem**
Both `pip install tensorflow` and `pip install tf-nightly` lead to the following error messages:

[2020-03-09 23:37] shiningrain commented on #37336
Hello!
Thanks for your help!.
The Keras version led to these errors is 2.3.1, which was also shown in my last comment.
![pic4](https://user-images.githubusercontent.com/46860123/76266044-306e1980-62a1-11ea-9791-e416ef4123cd.jpg)

I also tried Keras version 2.2.4 in the following pictures and the problem didn't seem to disappear
![pic5](https://user-images.githubusercontent.com/46860123/76266140-7e

[2020-03-09 23:42] ymodak commented on #37457
Did you try updating your pip version?

[2020-03-09 23:53] vnvo2409 commented on #19297
@yongtang I wrote a small C++ program to list the content of a bucket on S3 ( by sending a curl http get request) and it works with openssl and the libcurl provided by Windows. However, I did not manage to build the curl by [tensorflow/io](https://github.com/tensorflow/io) on window. Could you please provide more instructions about building it on windows.

@mihaimaruseac If the modular filesystem

[2020-03-09 23:54] chaaland commented on #36634
@gowthamkpr yes I'm familiar with the custom op repo. My issue is not with being able to compile a GPU operation as I've managed to get that working already. I'd like to know how (or if it's even possible at all) to launch two CUDA kernels in 2 different streams.

In CUDA this can be done with a simple malloc of a new stream and passing the string as the 4th argument to the kernel itself. TensorFl

[2020-03-09 23:56] ymodak commented on #37264
This is fixed with tf-nightly version '2.2.0-dev20200309'. Thanks!

[2020-03-09 23:56] #37264 closed

[2020-03-09 23:59] arrow53 opened #37458 "how to extract tflite_hexagon_nn_skel_v1.14.run"
**System information**
- OS Platform and Distribution - Debian based but tried on Ubuntu 18.04 too

Per the instructions here

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/performance/hexagon_delegate.md#step-2-add-hexagon-libraries-to-your-android-app

when I try to run the extractor I'm presented with a colon. I've tried 'yes', 'accept', but nothing works. It just s

[2020-03-10 00:10] yongtang commented on #19297
@vnvo2409 Building [tensorflow/io](https://github.com/tensorflow/io) on windows is done through Bazel, we have GitHub Actions CI to check every commit: https://github.com/tensorflow/io/actions

The config file of GitHub actions is located: https://github.com/tensorflow/io/blob/master/.github/workflows/build.yml

Inside you can find related Windows part:
https://github.com/tensorflow/io/blob/edd02b

[2020-03-10 00:13] pabloyshi commented on #22794
after I download MSVC and CUDA (I am with NVIDIA card) and cuDNN it worked.

[2020-03-10 00:14] sanjoy commented on #37131
On `tf-nightly` this does not segfault, but nevertheless fails with

[code]

@bixia1 can you PTAL?

[2020-03-10 00:24] haozha111 commented on #34396
Have you tried with latest tf-nightly? Is the issue resolved?

[2020-03-10 00:39] aligirayhanozbay opened #37460 "map_fn + @tf.function + tf.nn.conv2d throws error when strides to conv2d are supplied in the elems argument for map_fn"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platf

[2020-03-10 00:53] pkanwar23 commented on #36696
This is fixed. You can try it with today's nightly build. Let me know if you still encounter any issues.

[2020-03-10 00:53] #36696 closed

[2020-03-10 01:17] ali-chaudhry8 opened #37461 "Installation for Python 3.8.1?"
Hey , just wanted to confirm if you now have the support for Python 3.8.1? If not, I want to use tensorflow 1.15, which python version works best with it?

[2020-03-10 02:05] Theoda commented on #35573
I got the same error after `pip3 install tensorflow`, but solved simply through:
[code]
The latest protobuf 3.11.3 works fine.

[2020-03-10 02:41] ciel-zhang commented on #28007
i also have this problem, it works well in cpu ,but gpu not,  how can I to solve it ?

[2020-03-10 02:48] xiaoyangnihao commented on #34865
@SmileTM Hi, I opened a issue: https://github.com/tensorflow/tensorflow/issues/37439, which also is similar,  TypeError: '_UserObject' object is not callable, can you have a quick look, or any suggestions ? Thanks.

[2020-03-10 02:49] a5467021 commented on #37423
I installed VS2017 build tools alongside my VS2019. The bazel build command was successful after swtiching to VS2017. But I encountered following new error when building pip package:
[code]

[2020-03-10 03:02] np000 opened #37462 "Custom rnn migration to tensorflow 2.x"
I want to migrate tensorflow 1.x code to 2.x. I have tried migration script and refererd migration guide. But still its unclear that how to migrate
1.place holder with shape such as [x,None,y] .
2. Convert tf_get_variable with xavier initialization
Please find the stackoverflow post link (not answered)

https://stackoverflow.com/questions/60601770/custom-rnn-migration-to-tensorflow-2-0

[2020-03-10 03:05] ayushmankumar7 opened #37463 "ImportError: No module named builtins"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
- OS Platform

[2020-03-10 03:05] npv0 commented on #37462
@dynamicwebpaige

[2020-03-10 03:19] anj-s commented on #37057
@maximsmol Does this OOM memory only happen for multiple workers? Do you see this behavior on a single machine as well?

[2020-03-10 03:23] anj-s commented on #37151
@pingsutw Can you post the failure stack trace? The messages that you pasted above are warning messages.

[2020-03-10 03:27] pingsutw commented on #37461
@ali-chaudhry8 As I know, TensorFlow 1.15 doesn't support Python 3.8, you could use Python 3.7 ot work with it
related to #33374

[2020-03-10 04:02] agarwal-ashish commented on #36928
FWIW, see https://github.com/GPflow/GPflow/issues/553 for similar discussion.

[2020-03-10 04:04] Ashtonoid commented on #32070
Try to reduce your path length. The best you can try with this `testA = os.path.normpath('C:/)`

[2020-03-10 04:05] jostheim commented on #35879
What is going on here? I wrote a lot of code using Sequence and it is not even deprecated with time given to port, it just stops working with no warning.  My code won't run at all now, and there is no guide to porting a Sequence to a DataSet (a Sequence is not a generator so it is not that easy).  This should not be closed... I am dropping back to 2.0.1.

[2020-03-10 04:16] Nithanaroy commented on #24520
`set_shape([])` for scalar tensors worked me too.

[2020-03-10 05:35] ppham27 commented on #30418
I'm not sure if it works in pure eager mode, but I do recall it working with TF2 if you annotated your computation with `@tf.function` (possibly with `experimental_compile=True`). This was months ago since I last tried, and perhaps, the situation is different, now.

Okay, I'll see what it takes to push something to https://github.com/tensorflow/addons. I'm not on the TF team at Google and only con

[2020-03-10 05:45] sharvil commented on #21929
If anyone is still looking for a fast LayerNorm LSTM implementation, there's one at https://github.com/lmnt-com/haste. It's much faster than `LayerNormBasicLSTMCell` because it's a single fused op.

[2020-03-10 05:48] Jup11ter commented on #37024
Thank you for your help!
Yes, this is exactly the problem I described above. **Using the dangerous parameter `kernel_size = 0`, TensorFlow can still generate and save the model**. It seems to lack a detection mechanism for this illogical parameters.

[2020-03-10 05:52] JerrySongCST commented on #24828
I was using one gpu training, meanwhile trying to use the same gpu for testing, then encountered this problem. After I used another gpu when running test program, the error is gone.

[2020-03-10 05:52] SmileTM commented on #37439
The tensorflow2.0 use dynamic graphs.
the model can auto infer the input shape by your input.
But in your "low-level api" code, the Dense layer has not been inputed, so it can't auto infer the shape of input to build model. So, you need input some data like  your ''high-level api" code, then save model.

I suggest you  follow the code behind like keras, to let the model know the  shape of your inp

[2020-03-10 06:29] GyanendroKh commented on #37432
So, when can we expect TF 2.3 release.

[2020-03-10 06:47] xiaoyangnihao commented on #37439
Yeah, this does work.
But In my real project, I use tf.saved_model.save() to save the model in checkpoint_interval, I think **after running serveral bath_sizes, the input_shape should be configured**, but when I use tf.saved_model.load() to load the model and call the input, TypeError: '_UserObject' object is not callable arises. I wonder why ?

[2020-03-10 06:47] bilalsoomro commented on #35632
Hi @impjdi, the latest build has fixed the issue.

[2020-03-10 07:47] minjac opened #37467 "No gradient defined for op"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
auto entropy_0 = Xlogy(scope_loss.WithOpName("xlogy0"), input_labels_var, out_segmentation);
- OS Platform: Windows7
- VS2015
- Python version: 3.6
- Bazel version: 0.26.0
- TensorFlow version: tensorflow 2.0
- CUDA/cuDNN version: Cuda 10.0 && Cudnn 7.4.1
- GPU : Geforce GTX 107

[2020-03-10 07:49] Kirill94a opened #37468 "Neural network with several target vectors to run on TPU"
I try to create my own neural network with several outputs (it follows that there are several target vectors); these target vectors dynamically change during training and depend on the predictions of the neural network. That is, it looks like the following: `y_proba = f(input), y_true = g(y_proba)`, where `input` - input vector, `f` - function of the neural network, `y_proba` - predicted target ve

[2020-03-10 07:53] evgal commented on #37440
Your answer seems surprising to me. I expected that the whole training loop was AutoGraphed in the fit method, thus including any custom loss. Moreover, if the custom loss is not AutoGraphed, it should just be ran in Eager mode without any bug.

Moreover, the error message "**Use Eager execution or decorate this function with @tf.function.**" is wrong, decorating the custom loss with @tf.function

[2020-03-10 08:21] freedomtan commented on #37458
`I ACCEPT`

[2020-03-10 08:25] mwsunshine commented on #17014
hi，avoid this error by including tf.contrib.resampler in the begining works fine for me(python3.7 and tensorflow 1.14).

However, when I want to convert the py file to exe file at the platform of  Windows by using pyinstaller. This error occurs again.

Is there anything I could do to solve this problem?

[2020-03-10 08:31] freedomtan commented on #37458
@karimnosseir it seems, on some Linux platform, no message is displayed just like what @arrow53 showed. It's a bit confusing.

[2020-03-10 08:35] ayushmankumar7 commented on #37462
@npv0 did you try compat.v1 ?

[2020-03-10 08:36] endamaco commented on #35663
So is tflite working only with conda and not venv?

[2020-03-10 08:40] yaronhe commented on #29471
The same problem!  Has anyone solved this？

[2020-03-10 08:48] pandrey-fr commented on #36916
Hi,

I have been encountering the same issue, and found out by reading the [source code](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/tracking/data_structures.py) for tracking data structures that the issue arises from `Layer` subclasses' `list` attributes being automatically converted to `ListWrapper` at attribute setting time.

The solution, as documented per t

[2020-03-10 08:50] bhaveshgoyal27 opened #37470 "Cannot import tensorflow"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 64bit
- TensorFlow

[2020-03-10 08:52] Freen247 commented on #33685
float32 works well.

[2020-03-10 08:54] moberweger opened #37471 "TFLite allocate tensors fails: (CONCATENATION) failed to prepare"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Ubuntu 18.04**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **N/A**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use comman

[2020-03-10 08:55] bhaveshgoyal27 commented on #37470
so how do I run it offline??

[2020-03-10 09:01] Lotte1990 commented on #33634
Thanks for the quick reply. I'm using the same git checkout for (1) compiling tensorflowlite.dll (2) the header files (3) exporting the .tflite file. I'm no expert regarding the library stuff. I tried adding different lines to CMakeLists.txt, such as `set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -stdlib=libc++")` and `set(CMAKE_EXE_LINKER_FLAGS "${CMAKE_EXE_LINKER_FLAGS} -stdlib=libc++ -lc++abi")`, but

[2020-03-10 09:07] Hyvok commented on #35414
I have this exact same issue with Tensorflow 2.0 and bazel 2.0.0. The directory in question seems to exist.

[2020-03-10 09:09] SmileTM commented on #37439
[code]
yeah, in this way ,it really have  TypeError: '_UserObject' object is not callable arises.

According my understand , a keras model need input_layer.  If you have not input_layer, you  saved model that is not really model .it is just a layer .

I also want to know how you  explain this issue.  @amahendrakar

[2020-03-10 09:24] bjtho08 commented on #35982
Any update on this or workaround to avoid silently crashing the kernel once the leak gets too severe, as I'm experiencing?

[2020-03-10 09:32] WeiHao97 opened #37472 "Configurable attribute "srcs" doesn't match this configuration"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Ubuntu 16.04.2 LTS (GNU/Linux

[2020-03-10 09:38] bharadwajdhornala commented on #13888
Hi @Sharath-girish  @liyzjj  @skye  @gunan @cuevas1208
Tensorflow=1.10.0
OS platform =Windows 10
CUDA/cuDNN version=9.0

I get this error while testing DISN code.
InvalidArgumentError (see above for traceback): No OpKernel was registered to support Op 'Resampler' with these attrs. Registered devices: [CPU], Registered kernels:

[[Node: resampler/Resampler = Resampler[T=DT_FLOAT](ResizeBilinear_1,

[2020-03-10 10:15] xiaoyangnihao commented on #37439
@amahendrakar any suggestions?

[2020-03-10 10:18] MahdiBayat95 opened #37473 "Tensorflow import error //ImportError: DLL load failed: The specified module could not be found."
Traceback (most recent call last):
  File "C:\Users\Research\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3326, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-7-db26ddd430d7>", line 1, in <module>
    mnist = tf.keras.mnist
AttributeError: module 'tensorflow' has no attribute 'keras'

During handling of the above exception, another e

[2020-03-10 10:32] RobinBaumann commented on #37462
In idiomatic TF2 code, you should convert any `tf.Placeholder` objects to function arguments to a `@tf.function` that replaces your `tf.compat.v1.Session()`.

As stated in the [Migration Guide](https://www.tensorflow.org/guide/migrate), replace all `tf.get_variable()` calls with `tf.Variable()` and the `tf.variable_scope`s should be wrapped in python objects like [`tf.keras.layers.Layer`](https://

[2020-03-10 10:39] jlturriff opened #37474 "Building bazel on OpenSuSE Leap 15.1 fails due to unrecognized option."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
[code]

**Describe the problem**
Installation fails with the following message:
[code]

*

[2020-03-10 10:52] malcolmreynolds commented on #17014
@mwsunshine sorry, I have no experience with pyinstaller. If it's an officially supported configuration maybe someone on the TF team can help.

[2020-03-10 11:06] Goofy-G commented on #36368
HI
  I got it, thanks bro

[2020-03-10 11:07] Goofy-G commented on #36368
Hi
   I got it, thanks bro.

[2020-03-10 11:07] #36368 closed

[2020-03-10 11:53] gorogaron commented on #37038
Thanks, the mentioned PR has solved the problem for me!

[2020-03-10 12:27] GeorgeLiang3 commented on #37230
@gowthamkpr Any solution to this? Thanks in advance

[2020-03-10 12:31] iwatake2222 commented on #33634
@Lotte1990
Do you use MSVC and run your program with Debug configuration?
If so, you can try Release configuration. I actually experienced unexpected crash with Debug configuration on Visual Studio 2017. With Release configuration, my program worked well.

[2020-03-10 12:35] 4doge commented on #35100
@Tuxius @PhilipMay the same problem here

[2020-03-10 12:49] mdanatg commented on #37440
This is a fair point. The training loop is indeed autographed. However, AutoGraph does not descend into internal TensorFlow APIs, and Keras is considered an internal API (it's part of the `tensorflow` module). In other places, like Keras layers, tf.data, etc., the internal APIs applies AutoGraph to all user-supplied functions. We need to do something consistent here.

So from that perspective, thi

[2020-03-10 13:09] Leslie-Fang commented on #37474
please use bazel-2.0
refer to this PR: https://github.com/tensorflow/tensorflow/pull/36913

[2020-03-10 13:20] RobinBaumann opened #37477 "Additional mode for loading of segmentation data in tf.keras.preprocessing.image.ImageDataGenerator.flow_from_dataframe()"
**System information**
- TensorFlow version (you are using): 2.1.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

As of now, one has to come around with a workaround to load segmentation data in `tf.keras.preprocessing.image.ImageDataGenerator` to load images and segmentation masks in a generator. A current workaround could look like:

[2020-03-10 13:23] puneetjindal commented on #32024
Any resolution on this as i am also going through same issue

[2020-03-10 13:28] ArnoSchaepe commented on #37184
Sorry the code I uploaded does not reproduce the issue correctly. As it really seems to be a duplicate of 37158 I would propose to close this issue.

[2020-03-10 13:28] #37184 closed

[2020-03-10 13:28] henry860916 commented on #37160
sometimes gpu resource is not released after session closed.

[2020-03-10 13:31] Lotte1990 commented on #33634
I use CMake to generate a .sln file that I open in MSVC. Then I press `right-click --> build` on the solution. Nothing else. I tried `set(CMAKE_BUILD_TYPE "Debug")` and `set(CMAKE_BUILD_TYPE "Release")` in CMakeLists.txt, but the result is the same. Any other suggestions?

[2020-03-10 13:35] ManishAradwad opened #37478 "Tensorflow Website not working properly in Firefox"
## Description of issue (what needs changing):
Tensorflow website UI doesn't seem right when opened in Firefox. I'm not sure if it's happening only in my case or not...

### Request visuals, if applicable
![Screenshot_2020-03-10 tf keras callbacks TensorBoard TensorFlow Core v2 1 0](https://user-images.githubusercontent.com/29497701/76317231-de111500-6301-11ea-8654-03cd0d29eeb9.png)

[2020-03-10 13:37] mathemakitten commented on #30418
Just updating that I spent some time extricating the necessary code out of tf-slim and it runs with `tf-nightly==2.2.0.dev20200303` in graph mode successfully for a model running on TPU.

[2020-03-10 13:43] musikisomorphie commented on #31067
@alextp, I studied convhull and fillpoly code implemented in opencv, I think it is doable for me.

https://github.com/opencv/opencv/blob/45d073f8898c42a95ae54e2e83a827fc26ec336b/modules/imgproc/src/convhull.cpp#L49
https://github.com/opencv/opencv/blob/225566da7bab2147d7109f42a0ec9d6039963edb/modules/imgproc/src/drawing.cpp#L1965

After reading the previous discussions, I think it would be better

[2020-03-10 13:49] danperazzo commented on #17014
Thanks @malcolmreynolds !

[2020-03-10 13:59] iwatake2222 commented on #33634
You can select that configuration using UI in Visual Studio (I'm not sure CMAKE_BUILD_TYPE makes an effect to configuration for Visual Studio). Please find a drop box just under a menu bar in Visual Studio, and select Release. Also make sure you use x64 architecture (not x86). You can also find a drop box to select architecture next to the drop box to select configuration. It's also located under

[2020-03-10 14:16] fcunilim commented on #36340
Thank you!

Le mer. 4 mars 2020 à 11:05, tanzhenyu <notifications@github.com> a écrit :

[2020-03-10 14:24] padoremu opened #37479 "Excessive memory consumption and preparation runtime of tf.keras.backend.max in custom layer with masking"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Linux Ubuntu 18.04
- Mobile device if the issue happens on mobile device: -
- TensorFlow installed from: binary
- TensorFlow version: 2.2.0-dev20200303
- Python version: 3.6.9
- Bazel version: -
- GCC/Compiler version: -
- CUDA/cuDNN version: CPU only
- GPU model and memory: CPU only

**Describe the current be

[2020-03-10 14:31] ayushmankumar7 opened #37480 "'third_party/tensorflow/compiler/aot:codegen_test' No such directory found"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
https://github.com/tensorflow/t

[2020-03-10 14:39] vusalismayilovx commented on #32520
Any updates so far?

[2020-03-10 14:40] integritybravery commented on #36155
+1
![Image 2020-03-10 22-39-17](https://user-images.githubusercontent.com/20059289/76323776-1c1d3180-6320-11ea-91c4-227d7a7d1a11.png)

[2020-03-10 14:44] karimnosseir commented on #37458
Looking

[2020-03-10 14:48] karimnosseir commented on #37458
@arrow53 I just tried it on a debian based Linux and the license agreement shows and ask you to use "I ACCEPT"

"
....
Type "I ACCEPT" if you agree to the terms of the license:
You didn't accept the license. Extraction aborted.
"

Can you provide more information on the environment you used ?
@freedomtan Can you also share some information

Thanks

[2020-03-10 14:50] karimnosseir commented on #37458
@arrow53 does it happen also on the v 1.10.3 or only on v1.14

Thanks

[2020-03-10 14:51] integritybravery commented on #36155
Execute the following code, a memory leak will occur

[code]

[2020-03-10 14:53] integritybravery commented on #36155
![Image 2020-03-10 22-39-17](https://user-images.githubusercontent.com/20059289/76325130-f09b4680-6321-11ea-831f-107d4ea167b6.png)

[2020-03-10 14:53] Reid-C commented on #36155
@integritybravery yes...basically this is what I did, still no answer yet

[2020-03-10 15:02] khaniamir commented on #28311
This method does not work.
The tensor cannot be converted to an array by asarray

[2020-03-10 15:07] freedomtan commented on #37458
@karimnosseir I tested it on Ubuntu 18.04 LTS. I figured out why. It's dash's problem (on Ubuntu /bin/sh is a symbolic link to dash, which is a sh clone). `rm /bin/sh; ln -s /bin/bash /bin/sh`  then it works.

[2020-03-10 15:15] karimnosseir commented on #37458
Thanks @freedomtan. @arrow53 Can you try what @freedomtan suggested.

Thanks

[2020-03-10 15:26] TimCapes commented on #32932
This is fixed. Thanks.

[2020-03-10 15:32] ben-arnao commented on #37450
Issue still happens with tensorflow 2.1

[2020-03-10 15:33] larsmathuseck commented on #35754
What about the macOS version?

[2020-03-10 15:43] peter197321 opened #37482 "Benchmark tool"
Is there available "benchmarking tool" for TensorFlow Lite for Microcontrollers?

[2020-03-10 15:46] arrow53 commented on #37458
@freedomtan thank you so much!!!
@karimnosseir yep works great.

I'm going to close this issue as the solution can be searched now. I'm not sure why the license agreement didn't pop up for me on Ubuntu 18.04. But, maybe just something wrong with my system.

[2020-03-10 15:46] #37458 closed

[2020-03-10 15:48] Leslie-Fang commented on #37446
Hi @zaccharieramzi, I think the input type of tf.complex64 is not support in reduce_max.
Here make a PR to pick out this condition and avoid core_dump.

[2020-03-10 15:51] arrow53 commented on #37458
@karimnosseir yes, I see the same on both versions on Ubuntu 18.04 and my embedded Debian system (Dragonboard 820c).

[2020-03-10 15:55] maximveksler commented on #32104
Hi guys, any updates?

[2020-03-10 16:02] zaccharieramzi commented on #37446
yes of course, you can't use `reduce_max` on a complex tensor, but I mean there should be a way to fail nicely: hopefully your PR does the job.
What is the new output with this fix?

[2020-03-10 16:11] karmel commented on #33365
This appears to be an issue with fused batch norm in particular, and if you disable the fused kernel, the code above does not raise an error:

[code]

@reedwm / @qlzh727 -- this is an unfortunate hard edge for BatchNorm. Can we either add fp64 support to the fused kernel or not default to fusing for unsupported datatypes?

[2020-03-10 16:15] reza1314 opened #37484 "58"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
- OS Platform

[2020-03-10 16:16] suharshs commented on #37427
No not yet. There is a pending change to enable this.

[2020-03-10 16:33] arrow53 commented on #37154
@terryheo I have a debian based system. Is there a way to use the snapdragon hexagon delegate with that? This builds fine on my dragonboard 820c and now I'm trying to accelerate it.
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/examples/label_image

[2020-03-10 16:34] fionapatriciamoss opened #37485 "AssertionError on using model.fit() in tf.distribute.MirroredStrategy"
**System information**
- OS Platform and Distribution: Ubuntu 18.04.4 LTS
- TensorFlow installed from (source or binary):
- TensorFlow version: 2.2.0-dev20200308
- Python version: 3.7.6
- Installed using virtualenv? pip? conda?: pip

**AssertionError on using model.fit() in tf.distribute.MirroredStrategy**

I'm trying to build an LSTM Autoencoder model to make time series prediction on a large dat

[2020-03-10 16:39] aniketbote commented on #37104
I know the issue but don't whether that is the expected behavior or not. When using sigmoid the output layer gives array of shape (n * 1) for binary classification problem and when using softmax it outputs (n * 2). The error is because of the assert statement which expects array of shape (n * 1).

[2020-03-10 16:44] alextp commented on #31067
Do keep in mind we also need tfxla implementations of those if we want them
to run on TPUs.

On Tue, Mar 10, 2020 at 6:43 AM musikisomorphie <notifications@github.com>
wrote:

--
 - Alex

[2020-03-10 16:52] chiraag commented on #37427
Is there WIP in progress branch that I can look at? Also is the approach/API similar to what I described? If this is coming out soon then I can just wait if not I can help contribute this change.

[2020-03-10 17:00] #37484 closed

[2020-03-10 17:00] mihaimaruseac commented on #37484
Closing as there is no information supplied

[2020-03-10 17:01] mihaimaruseac commented on #37470
In this case, you need to update MSVC redistributable (install the latest one) and then you can use 2.1.

Closing as duplicate.

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-03-10 17:01] #37470 closed

[2020-03-10 17:02] mihaimaruseac commented on #37461
We don't back-release old releases on newer versions of python.

[2020-03-10 17:02] #37461 closed

[2020-03-10 17:03] musikisomorphie commented on #31067
Do you have some tfxla implementations related to this problem that I can learn from?

[2020-03-10 17:06] alextp commented on #31067
The kernels in
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/compiler/tf2xla/kernels
are
a good place to start

On Tue, Mar 10, 2020 at 10:03 AM musikisomorphie <notifications@github.com>
wrote:

--
 - Alex

[2020-03-10 17:40] reedwm commented on #33365
I'll start by not defaulting to fused for unsupported datatypes. We can add fp64 support to the fused kernel later.

[2020-03-10 17:47] mspinaci opened #37488 "tf.numpy_function with lambda function is much slower starting from TF 1.15"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 18.04 (our machine), and also COLAB.**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **No**
- TensorFlow installed from (source or binary): **binar

[2020-03-10 17:50] Kriyszig commented on #37478
This is a result of icons failing to load and being replaced by their `alt` tag. I'm not sure what is causing this in the reported case given TensorFlow logo and Github log being displayed correctly - I'm not able to reproduce this atm on Firefox 71

[2020-03-10 18:05] musikisomorphie commented on #31067
great, thanks for the instruction. I will take a look.

[2020-03-10 18:27] gunan commented on #13888
Looks like this is about a very very old version of TF, which is not supported any more.
Please use 1.15 or 2.x

[2020-03-10 18:27] #13888 closed

[2020-03-10 18:33] ynackash commented on #35935
This solution worked for me, I recommend others to try this. Thank you!

[2020-03-10 18:54] Nishikoh commented on #34230
I thought about two ways to improve.
1. Edit lines 446, 447 and 449 of PosenetActivity.kt

      // Process an image for analysis in every 3 frames.
      frameCounter = (frameCounter + 1) % 3          // delete or comment this line
      if (frameCounter == 0) {                                    // delete or comment this line
        processImage(rotatedBitmap)
      }

[2020-03-10 19:13] jacksonloper opened #37492 "tf.linalg.diag doesn't use "k" value"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): no
- OS Platfo

[2020-03-10 19:29] rmlarsen commented on #26204
Closing since triangular solve now has broadcasting.

[2020-03-10 19:29] #26204 closed

[2020-03-10 19:32] raframzs opened #37494 "Importing tensorflow just after installation"
(base) C:\Users\rafra>python -c "import tensorflow as tf;print(tf.reduce_sum(tf.random.normal([1000, 1000])))"
Traceback (most recent call last):
  File "C:\Users\rafra\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\rafra\Anaconda3\lib\site-packages\tensorflow_core\python

[2020-03-10 19:51] allenlavoie commented on #35928
There's some thought, or at least hope, that https://github.com/tensorflow/tensorflow/commit/3a03164a24ea7dbfe221e84ca62e2a39b745c379 fixes the issue. Would you mind waiting until that's in a nightly (presumably tomorrow) and trying again?

If that fixes it then the performance issue was that this dtype mismatch meant that Grappler wasn't choosing the CuDNN LSTM implementation, and presumably the

[2020-03-10 19:53] 13ecd1 commented on #29215
When I do this and open tensorboard using tensorboard --logdir logdirlocation only a scalars tab opens up. Do you happen to know why the graphs tab does not appear? I have tf.summary.trace_on defined after I instantiated my models.

[2020-03-10 20:47] isaacgerg commented on #32564
This is still broken in tf 2.1

[2020-03-10 20:49] #33365 closed

[2020-03-10 20:49] #37168 closed

[2020-03-10 21:01] mulka commented on #34607
I'm also running into this issue with the `flask run` command in development with the latest versions of tensorflow and flask:
`FLASK_ENV=development flask run`

[2020-03-10 22:29] mihaimaruseac commented on #19297
@vnvo2409 once we have modular filesystem support for windows, we will start replacing the current ones with plugins for GCS, S3, Hadoop. Plan is for these plugins to reside under [tensorflow/io](https://github.com/tensorflow/io) and to work from the start on Linux, Mac and Windows.

Note that there are also two other students that are supposed to start working on filesystems as part of [ROSEdu](h

[2020-03-10 22:29] 00krishna commented on #35680
@fchollet I thought I would just follow up on this question. Is there any direction on whether users should use the Feature Columns API, or the TF Keras Preprocessing features? Both seem to do very similar things, so I image that Google would not want to maintain redundant code.
Thanks.

[2020-03-10 22:30] adamw96 opened #37495 "Custom Pearson Correlation Loss Taking Unfeasible Values During Training"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): **Yes**
- OS P

[2020-03-10 22:39] StanleyGan commented on #22221
I am also experiencing this error on TF1.15 when trying to compute Laplacian, with 1st gradient of some operations overwritten using decorator `@tf.custom_gradient`. I computed the Laplacian using `tf.while_loop` by creating each row of Hessian and summing relevant parts. With this code implemented without overwriting the 1st gradient, my code runs fine. However, when I introduce my code in overwr

[2020-03-10 22:45] mihaimaruseac commented on #22794
Locking conversation to not get more comments that mute the solution

[2020-03-10 22:52] nio1814 opened #37496 "C-API timeline for TensorFlow 2"
On the Install TensorFlow for C page, it notes that
 "There is no libtensorflow support for TensorFlow 2 yet. It is expected in a future release."

Is there any update on when we can expect the c api for TF2?

[2020-03-10 23:03] ymodak commented on #37336
Can you please change your imports to `tensorflow.keras` rather than 'keras`?
[code]

[2020-03-10 23:08] ymodak commented on #37335
Can you please change your imports to `tensorflow.keras` rather than `keras`?
[code]

[2020-03-10 23:23] jvishnuvardhan commented on #37158
@soyers I don't see any issue with `tf-nightly`. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/224c93836dc5265ad42d565b1897e528/tf-2-saving-nested-models-fails.ipynb). Thanks!

Please close the issue if the issue resolved for you. Thanks!

[2020-03-10 23:29] jvishnuvardhan commented on #37158
@soyers I ran your code as it is in `tf-nightly` and I don't see any issues. Recently, there were lot of improvements in saving the model. I think this issue was resolved by one of those recent changes.

I am closing this issue as it was resolved. Feel free to reopen if this was not resolved for you. Thanks!

[2020-03-10 23:29] #37158 closed

[2020-03-10 23:29] ymodak commented on #36883
This works successfully with tf-nighly version '2.2.0-dev20200310'. Thanks!

[2020-03-10 23:29] #36883 closed

[2020-03-10 23:48] liyunlu0618 commented on #36926
Are you converting a quantization-aware trained tf model? Can you try post-training integer [quantization](https://blog.tensorflow.org/2019/06/tensorflow-integer-quantization.html) instead?

[2020-03-10 23:55] mihaimaruseac commented on #37494
In this case, you need to update MSVC redistributable (install the latest one) and then you can use 2.1.

Closing as duplicate.

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-03-10 23:55] #37494 closed

[2020-03-11 00:06] alextp commented on #22221
Please file a separate issue for your problem with instructions to
reproduce.

On Tue, Mar 10, 2020 at 3:40 PM Stanley Gan <notifications@github.com>
wrote:

--
 - Alex

[2020-03-11 00:09] rybakov commented on #27303
Here is implementation of DFT using matrix matrix multiplication. It is fully compatible with TFLite. You can use the same approach to compute inverse transformation: https://github.com/google-research/google-research/blob/master/kws_streaming/layers/magnitude_rdft.py

[2020-03-11 00:11] xlnwel opened #37497 "Confusing behavior of GRUCell"
[code]
Why would `GRUCell.get_initial_state` return a Tensor, while calling `GRUCell` requires a list of Tensor as input? Is this a desired behavior? (code tested in TF2.1)

Furthermore, while `Cell` returns output and state separately, RNN returns the output and states together in a single list.

[code]

I'm wondering why `rnn` and `cell` behave differently?

[2020-03-11 00:25] StanleyGan commented on #22221
@alextp. Sorry I just deleted my comment as it is pretty vague and not a good way to explain my error. I am thinking if this should be a separate issue, but I ran the same example as described by @girving on TF1.15, the error still persists.

[2020-03-11 00:31] alextp commented on #22221
And what about nightly?

On Tue, Mar 10, 2020 at 5:25 PM Stanley Gan <notifications@github.com>
wrote:

--
 - Alex

[2020-03-11 00:55] StanleyGan commented on #22221
There are no more nightly builds for version 1.15 on pypi.

[2020-03-11 00:56] tensorflowbutler commented on #34525
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-11 00:56] tensorflowbutler commented on #35850
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-11 00:56] tensorflowbutler commented on #35626
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-11 01:25] jvishnuvardhan commented on #37044
@javipa1995 Can you please describe your use case or the reason behind this specific experiment? Thanks!

[2020-03-11 01:32] Leslie-Fang commented on #37446
@zaccharieramzi you will failed to create the max op and see the error message as this:
[code]

[2020-03-11 01:45] beeCwright commented on #36266
I also had issue doing cross-fold validation and concatenating folds together to form the training set. Concatenated dataframes seem to fail. A simple solution that worked for me was to just reset the dataframe index after concatenating.

df = pd.concat(df_a, df_b)
df = df.reset_index()

[2020-03-11 02:11] Leslie-Fang opened #37498 "Master branch failed to build the debug version"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Centos7.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version: master, commit-id: b45adaf6efeeb8e4acf8517a01f7dc01bdf21db9
- Python version: 3.6
- Installed using virtualenv? pip? conda?:
- Bazel ve

[2020-03-11 02:11] lssac7778 commented on #24828
I had same issue on ubuntu 18.04, tensorflow 2.1.0. I resolved it through allowing gpu growth. After a while I get same error and I don't know why. Now I found reason, it is because of asynchronous learning model that I implemented through threaing.Thread. Other models work properly. If you have this error, check if you are using threading or mulitiprocessing.

[2020-03-11 02:17] FLming commented on #35063
Now, Tensorflow has been upgraded to 2.2.0-rc0, and the release doc say:
[code]
According to the above description, I think that can be used on custom the ctc training loop, so I try to write a train_step and override it, here is my code:
[code]
But I got the error:
[code]
Maybe I code it incorrectly, now only have a default train_step function about use this way to custom training loop.

[2020-03-11 02:28] a5467021 commented on #37423
There maybe something wrong with the `unzip` command in my cmd environment. Some files are skipped. I executed the same command in MSYS2 bash and successfully built the wheel. The wheel is functioning. Great!

[2020-03-11 03:02] RaymondJiangkw commented on #28311
I do not know whether I fully understand the condition in which this problem is raised. But based on my experience, it does work. If there is any misunderstanding, I apologize first.

For a simple example,
`import numpy as np`
`import tensorflow as tf`
`from tensorflow.keras.layers import Dense`
`from tensorflow.keras.models import Sequential`

`X = 10 * np.random.rand(10000,1)`
`Y = 2 * X + 1`

`

[2020-03-11 03:15] sentosajie commented on #31852
I have the same error

[2020-03-11 03:43] MahdiBayat95 commented on #37473
@gadagashwini Would you please help me with this issue, still it is not clear for me what to do?
Thank you,

[2020-03-11 04:03] cappittall commented on #37261
Here my code so far:

[code]

Now I need to make predictions.  I have a text array ( scraped site text) that need to get predict whether each text is an e e-commerce site or not.   (ie myArray = [[a sitetext],[ another site text], [ another site text]]

[2020-03-11 04:30] kieranricardo opened #37500 ""WARNING:tensorflow:sample_weight ..." when training a `keras.Model` with a `Sequence` object"
**System information**
- OS Platform and Distribution: macOS 10.14.5
- Python version: 3.6

**Describe the current behavior**

Calling `tf.keras.Model.fit(...)` with any `tf.keras.utils.Sequence` object triggers the following warning:

[code]

Even when not using `sample_weight`.

**Describe the expected behavior**

Training keras models without sample weights specified or correctly specified shou

[2020-03-11 05:07] lu-wang-g commented on #37418
You'll first need a model that can recognize a grayscale image. The image classification example app provided by tflite takes a RGB image instead.

If you do have a custom model that can recognize grayscale images, you then need to convert the image into ByteBuffer with proper preprocessing, such as resizing and cropping, and then pass it into tflite.interpreter. Unfortunately, TFLite Support libr

[2020-03-11 05:07] #37418 closed

[2020-03-11 05:19] Saduf2019 commented on #37251
@jacketchan
Could you please update on the above comment.

[2020-03-11 05:20] Saduf2019 commented on #37254
Could you please update us on the above comment on standalone code to help us resolve your issue

[2020-03-11 05:21] Saduf2019 commented on #37257
@Questdream
Please update us on the above comment

[2020-03-11 05:35] Saduf2019 commented on #37320
@zhangwujun666
I see an old issue with similar pattern as it has the similar configuration as you have mentioned, could you please downgrade your CUDA version and try. please refer to [this link](https://github.com/tensorflow/tensorflow/issues/19646) and let us know if it helps.

[2020-03-11 05:46] gadagashwini commented on #37266
@jsimsa,
Was able to replicate the issue with Tf-nightly.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/3498ef44d88ff2cc5fd6640e58753489/untitled434.ipynb). Thanks!

[2020-03-11 06:01] amahendrakar commented on #37457
@alexcreature.

As per the [documentation](https://www.tensorflow.org/install) TensorFlow 2 packages require a pip version >19.0.

Could you please try the following commands and let us know if it works.
`python3 -m pip install --upgrade pip` or `pip install --upgrade pip` and then try

`pip install tensorflow`

Thanks!

[2020-03-11 06:03] gadagashwini commented on #37456
Was able to replicate the issue with Tf 2.1.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/71a5af89e786fbc5a935c1b53dc87576/untitled435.ipynb). Thanks!

[2020-03-11 06:12] uchihatashi commented on #28668
@jvishnuvardhan hey thanks a lot for the response and I found my error as I was having a problem with the version of TensorFlow and Keras.

[2020-03-11 06:21] theAB316 commented on #25922
Hi,
I had the same issue. Don't pass the port ':0' in your input array.
Try just 'input/input_data'.

Should work.

[2020-03-11 06:27] talhaanwarch opened #37501 "WARNING:tensorflow:Gradients do not exist for variables"
While training BERT on TPU i am getting these warnings and my precision and recall is zero while accuracy is 100

[code]

Here is google colab file i am using
https://colab.research.google.com/drive/1l0Eoram6vJRK5xQBmnCx-eU1e46higlo

updated colab file
https://colab.research.google.com/drive/1D-eKgddRHROG39R2iyqE3qR7w0N0OHAB

[2020-03-11 06:27] gadagashwini commented on #37468
@Kirill94a, Will it be possible to post the complete standalone code to analyze the reported issue. Thanks!

[2020-03-11 06:36] jvishnuvardhan commented on #36953
@372046933 Can you please try with the recent `tf-nightly` or `TF2.1` and let us know whether the issue persists or not. Thanks!

[2020-03-11 06:38] gadagashwini commented on #37473
@MahdiBayat95,
Can you check whether your CPU model support AVX instruction sets or not. Since, TensorFlow release binaries version 1.6 and higher are prebuilt with AVX instruction sets. Thanks!

[2020-03-11 06:43] Saduf2019 commented on #37447
@WillNichols726
Could you please refer to [this link](https://www.tensorflow.org/lite/guide/build_arm64) and let us know if it helps.