[2019-07-17 13:31] ignvinay commented on #20886
Yes, even in new file the same error.
That gradient problem, i am not able remove.

[2019-07-17 13:32] Daqure commented on #28846
I get the same error about the "Built-in function ...  returned a result with an error set" but refers to the function 'TFE_Py_TapeWatch'.
I find that all functions with 'TFE' are defined in pywrap_tensorflow_internal. So I try to import it on tape but the result is the same as before.
Version: tensorflow-gpu== 2.1 beta
Platform: Google Colab

[2019-07-17 13:33] ajinkya933 commented on #30477
?

[2019-07-17 13:43] ravikyram commented on #30770
Can you please share the sufficient dummy data to reproduce the issue.Thanks!

[2019-07-17 13:49] olesalscheider opened #30804 "tf.keras.layers.Conv2D fails because it captures tensor from inner function"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): v1.12.1-6461-gc6352706d6 1.14.0
- Python version: 3.6.7
- Bazel version (if compiling from source):

[2019-07-17 14:04] vibhatha opened #30806 "Inference on Larger Data Size on Edge"
**System information**
- Have I written custom code (Custom Code using resources and my own design):
- OS Platform and Distribution (Linux Ubuntu 16.04):
- Mobile device (trying inference on google coral dev board)
- TensorFlow installed from (pip3 install tensorflow==2.0.0-beta1):
- TensorFlow version (2.0.0-beta1):
- Python version: 3.6.9
- Bazel version (not used):
- GCC/Compiler version (not u

[2019-07-17 14:12] Ramzi09 commented on #30747
OS: Ubuntu 16.04 (64-bit)
CPU: core i5-3230M CPU 2.60GHZ
RAM: 8Go
TensorFlow 1.10.1
I did install a binary
I found the code in Keras. The link is :
https://wiseodd.github.io/techblog/2016/12/05/contractive-autoencoder/
How can I change in TensorFlow?

[2019-07-17 14:19] Leslie-Fang commented on #30746
@ravikyram
Really thanks  for your reply.
I aslo try
[code]
It would install tf1.14 and would **not** reproduce my issue.

However if I build the TF from src with the commit-id: 81acfa851ecf413df02c6bdf4795630524f2f859
It do reproduce the issue.

I also check the PR request, the changes has been introduced since this PR request has been merged https://github.com/tensorflow/tensorflow/pull/29579

@

[2019-07-17 14:34] Leslie-Fang commented on #30746
I use this command to print tensorflow version
[code]

1. Build from source code: https://github.com/tensorflow/tensorflow/commit/81acfa851ecf413df02c6bdf4795630524f2f859
('v1.12.1-5541-g81acfa851e', '1.14.0')

2. pip install tensorflow
('v1.14.0-rc1-22-gaf24dc91b5', '1.14.0')

Is this due to some version difference?
Which one would be the long-term supported?

[2019-07-17 14:37] ved27 commented on #20886
Hi ,

do not import from meta as it has info of training .

call your deepnn , followed by create eval graph ;

- y_conv, keep_prob = deepnn(x)
- graph = tf.get_default_graph()
- tf.contrib.quantize.create_eval_graph(input_graph=graph)

- then create saver and restore

sess.graph.as_graph_def()
out_graph_def = tf.graph_util.convert_variables_to_constants(sess,gd,

[2019-07-17 14:38] random-forests commented on #27895
@lendle, thank you for this feedback! @karmel, we don't have anyone working on a FC guide from my side. We do have a contributor hacking on an update "Classify structured data" tutorial to use the Pet Finder dataset https://www.kaggle.com/c/petfinder-adoption-prediction/data, which is a bit more fun / real-world. I'll share this thread with her so we can avoid these performance problems in the new

[2019-07-17 14:51] anush-o commented on #30666
I was able to replicate the issue with TF version 1.14.Thanks!

[2019-07-17 15:01] DocDriven commented on #27880
@vibhatha
You are right, I am using the latest stable version of tf 1.14.0, however with Python 3.6.8. I also copy-pasted the code in combination with the official docker image latest-gpu-py3.

I have also tried using the Python API of the converter, but it worked equally well as the CLI, e.g. it produces a file, but fails when allocating memory.

I think the difference lies in the input format, a

[2019-07-17 15:03] aayushthakur commented on #28163
I no longer face the above error but now if I use my custom quantized model and I get this error
`java.lang.IllegalArgumentException: Cannot convert between a TensorFlowLite buffer with 602112 bytes and a ByteBuffer with 150528 bytes.`

If I use a custom float model then there are no errors.

My code is as follows:
[code]

[2019-07-17 15:11] TeoZosa commented on #28313
Anyone?

[2019-07-17 15:18] jdduke commented on #28163
How did you quantize your model? Note that, with post-training quantization, the default approach is to preserve float inputs/outputs, implicitly quantizing/dequantizing as necessary. You can check the input tensor type using [`interpreter.getInputTensor(0).dataType()`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/java/src/main/java/org/tensorflow/lite/Tensor.java#L49), or

[2019-07-17 15:30] vibhatha commented on #27880
@ohtaman
Good Custom Upsampling model

[Custom Upsampling vs Original Upsampling](https://colab.research.google.com/drive/1oyWyijDUGwEP5sseaGDSBKiIqz8oiBPB)

[2019-07-17 15:33] corynezin opened #30807 "Memory Leak in `tf.estimator.experimental.InMemoryEvaluatorHook`"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Red Hat Enterprise Linux 7
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**:

[2019-07-17 15:35] vibhatha commented on #27880
@DocDriven
Yes, I was able to compile it.
I first took a look at what @ohtaman has done. Then read all the docs that I can find on quantization with TF.

Then I created 3 or 4 models custom builts using previous examples and my own examples.
I was able to get done 100% TPU conversion at the edgetpu_compiler and the inference also worked well.

My main issue is I am having troubles when handling la

[2019-07-17 15:42] olesalscheider opened #30808 "Serialization of keras object fails if called with different input sizes"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): v1.12.1-6461-gc6352706d6 1.14.0
- Python version: 3.6.7
- Bazel version (if compiling from source):

[2019-07-17 15:44] marianopeck commented on #30716
Thanks @freedomtan for all your help.
I finally took the time to [write down everything I found during my attempt to get TensorFlow C library compiled for Raspberry Pi](https://dev.to/martinezpeck/challenge-accepted-build-tensorflow-c-binding-for-raspberry-pi-in-2019-4f89). In that tutorial, I point back to this issue in case any progress is done.
Thank you

[2019-07-17 15:45] beasteers opened #30809 "Add keras.layers.Layer.add_callback"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): `1.13.1`
- Are you willing to contribute it (Yes/No): mayb

[2019-07-17 15:45] marianopeck commented on #30764
I finally took the time to [write down everything I found during my attempt to get TensorFlow C library compiled for Raspberry Pi](https://dev.to/martinezpeck/challenge-accepted-build-tensorflow-c-binding-for-raspberry-pi-in-2019-4f89). In that tutorial, I point back to this issue in case any progress is done.
Thank you

[2019-07-17 15:46] aayushthakur commented on #28163
My Model takes FLOAT32 as input, but when I use the float code mentioned above the code works fine but the time taken increases dramatically (2.3 seconds per image) as compared to my float model (0.8 seconds per image). Float Model file is which is of larger size ~80MB as compared to post-training Quantized Model size ~20MB.

[2019-07-17 15:47] marianopeck commented on #30359
Hi, as I found no binary available, I had to manage myself.
I finally took the time to [write down everything I found during my attempt to get TensorFlow C library compiled for Raspberry Pi](https://dev.to/martinezpeck/challenge-accepted-build-tensorflow-c-binding-for-raspberry-pi-in-2019-4f89). In that tutorial, I point back to this issue in case any progress is made.
Thank you

[2019-07-17 15:50] VitalieStirbu opened #30810 "AttributeError: module 'tensorflow' has no attribute 'init_scope'"
**System information**

**Have I written custom code (as opposed to using a stock example script provided in TensorFlow):**
 -No
**OS Platform and Distribution (e.g., Linux Ubuntu 16.04):**
-Windows
**Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:**
-No
**TensorFlow installed from (source or binary):**
-Pip
**TensorFlow version (use command below):**

[2019-07-17 15:52] alextp commented on #20586
@maohuui this is a completely unrelated error on a completely unrelated piece of code. Please file a new issue following the template instead of spamming existing issues.

[2019-07-17 15:53] VitalieStirbu commented on #29992
@gadagashwini
https://github.com/tensorflow/tensorflow/issues/30810

[2019-07-17 15:58] olesalscheider opened #30811 "Saving of BatchNormalization layer fails"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): v1.12.1-6461-gc6352706d6 1.14.0
- Python version: 3.6.7
- Bazel version (if compiling from source):

[2019-07-17 15:59] DocDriven commented on #27880
@vibhatha
Thank you for this walkthrough, I will investigate this the next few days. If you could provide a simple example, I would be very grateful. Maybe my bug is hiding in plain sight :/

[2019-07-17 16:09] AndreyPlotkinOr commented on #30552
I edited the file to include missing symbols in v1.14, but it didn't work.

    def_fp.write("\t ??1OpDef@tensorflow@@UEAA@XZ\n")
    def_fp.write("\t ?size@?$RepeatedPtrField@V?$basic_string@DU?$char_traits@D@std@@v?$allocator@D@2@@std@@@protobuf@google@@QEBAHXZ\n")
    def_fp.write("\t ??0SessionOptions@tensorflow@@QEAA@XZ\n")
    def_fp.write("\t ?NewSession@tensorflow@@YAPEAVSession@1@AEBUSess

[2019-07-17 16:12] DocDriven commented on #30714
Update: the problem seems to be the conversion process from the frozen model to tflite model. For better control, I switched to the Python API. Using the setup with inference type FLOAT, the model is convertible and deployable.

My code for conversion:

[code]

It seems the frozen graph is alright, and something goes wrong during the conversion with quantization enabled. Consider the code which pr

[2019-07-17 16:13] vibhatha commented on #27880
Here is what I did using an existing code by another user. The license part is from him.

I added a comment on what I did change.

`#@title MIT License
#
# Copyright (c) 2017 François Chollet
#
# Permission is hereby granted, free of charge, to any person obtaining a
# copy of this software and associated documentation files (the "Software"),
# to deal in the Software without restriction, includin

[2019-07-17 16:14] jdduke commented on #28163
Just to confirm, you're saying that the quantized model (which is 4x smaller), takes 3x longer during inference? One thing to try is to explicitly set the number of threads when executing your model (e.g., compare single-threaded performance). We're still working on multi-threading support for the "hybrid" quantization path for post-training quantization. 
With the new [post-training integer quant

[2019-07-17 16:16] TimSmole commented on #29791
@javicivit I am not completely sure since I never run code on TPU, but perhaps you should install tensorflow-gpu  (!pip install tensorflow-gpu==1.13.1)?

[2019-07-17 16:20] vibhatha commented on #27880
@DocDriven
The above link has a quantized code. Please check and tell me if there is an issue.

[2019-07-17 16:24] jsolves commented on #28563
Any progress deleting all those awful BATCH_TO_SPACE_ND layers that makes converted tfmodels run like a turtle...?

[2019-07-17 16:35] ignvinay commented on #20886
Got it. Thanks.
But tflite conversion still gives error
``
(tflite) D:\Vinay\gyrus\models>toco --graph_def_file=frozen_inference_quantize.pb --output_file=tflite_model.tflite --input_format=TENSORFLOW_GRAPHDEF --output_format=TFLITE --inference_type=QUANTIZED_UINT8 --input_shape="1,784" --input_array=input_x --output_array=ArgMax --std_dev_value 127 --mean_value 255 --default_ranges_min 0 --defaul

[2019-07-17 16:55] jsolves commented on #26474
Any luck getting ride of those pesty BATCH_TO_SPACE?

[2019-07-17 16:58] lwu025 commented on #28563
My method works good for me. I removed all BATCH_TO_SPACE_ND and it gives me correct result.

[2019-07-17 16:59] ved27 commented on #20886
Hi ,

This seems another issue .
- Do you have a dropout layer during inference ?
- What kind of deepnn is yours ?

[2019-07-17 17:05] qlzh727 commented on #30554
I think the 1.14 release has already been published, and we probably won't change it unless there is a dramatic issue. Given the fact that its fixed in nightly and 1.15 is not far away, probably just wait for next release?

[2019-07-17 17:09] yanghoonkim opened #30813 "variable scope is changed by force when reopened (with regard to use Adam)"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-07-17 17:18] joglekara commented on #30766
@ymodak @gadagashwini , I've already implemented this, I am happy to share, or even submit a PR if you like.

[2019-07-17 17:19] joglekara commented on #30767
Hmm, not quite.

I'm saying there needs to be a `minimum` number of epochs before the `patience` parameter kicks in.

@jvishnuvardhan @ravikyram, I'm happy to share the code and submit a PR.

[2019-07-17 17:20] game-sys commented on #30612
C:\WINDOWS\system32>cd c:\

c:\>cd tensorflow

c:\tensorflow>git checkout r1.9
Already on 'r1.9'
Your branch is up to date with 'origin/r1.9'.

c:\tensorflow>python ./configure.py
WARNING: The following rc files are no longer being read, please transfer their contents or import their path into one of the standard rc files:
c:\tensorflow/tools/bazel.rc
WARNING: Ignoring JAVA_HOME, because it must p

[2019-07-17 17:21] game-sys commented on #30612
And also tell is above configuration is correct to run tensorflow

[2019-07-17 17:30] qlzh727 commented on #30430
Thanks for reporting the issue, let me take a look.

[2019-07-17 17:38] aakhundov commented on #30554
@qlzh727 sure, we’ll wait for 1.15. Thank you!

[2019-07-17 17:38] #30554 closed

[2019-07-17 17:51] sajagkc11 commented on #28132
I have the same problem. Did you resolved your issue?

[2019-07-17 17:54] jbgh2 commented on #30773
@rmothukuru Fixed the code in the original post. input_shape = [60, 80] was missing.

[2019-07-17 17:55] gunan commented on #30701
I have seen similar issues these days if I did not have `msys` installed or the environment variable `BAZEL_SH` not set up correctly. Did you install bazel as described here and completed all the steps? https://docs.bazel.build/versions/master/install-windows.html

[2019-07-17 17:57] gunan commented on #30687
@chsigg to confirm, but I think this should be fixed at head?

[2019-07-17 17:59] gunan commented on #30703
I think this is a related issue:
https://github.com/tensorflow/tensorflow/issues/26610

As far as I know, MPI with TF is community supported.

[2019-07-17 18:00] aaroey commented on #30600
@pooyadavoodi would you please take a look? Thanks.

[2019-07-17 18:03] qlzh727 commented on #30430
I think it is because the numeric underflow when some certain prediction produce a very small number in the result.

if you change your code with self.assertAllClose(x, results[0]), you will notice that most of time, there is only less than 1% of the result are different, and the diff is actually very small (~1e-5). If you add the atol and rtol to the assertAllClose or np.allclose, the error actua

[2019-07-17 18:03] #30430 closed

[2019-07-17 18:12] #30040 closed

[2019-07-17 18:14] sumitpai opened #30814 "Precision change of tf.variable while doing some ops"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-07-17 18:25] emrul opened #30815 "Feedback on Tensorflow 2.0 beta - documentation issues?"
Hi,

Please accept the following as feedback on my experience of Tensorflow 2.0 (beta):
1. Read the [migration guide](https://www.tensorflow.org/beta/guide/migration_guide) and figured I would give it a go.
2. Installed without issues on my Mac Conda environment.  This was to be the highlight of my successes.
3. The [documentation site](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf)

[2019-07-17 18:27] nhasabni commented on #30383
@plopresti We will look into this issue and get back to you soon.

[2019-07-17 18:37] patelprateek commented on #30629
Yes

[2019-07-17 18:40] leofang commented on #29039
btw, we recently added support of `__cuda_array_interface__` to mpi4py, see this comment and links therein: https://github.com/chainer/chainer/issues/7476#issuecomment-511172683. I am not sure if tensorflow can work with MPI/mpi4py (looks like not?), but this could be of interest for many people working with `__cuda_array_interface__`.

cc: @mrocklin

[2019-07-17 18:43] ymodak commented on #30766
Perhaps you can elaborate more on how the new proposed feature distinguishes itself from the current implementation of [tf.sparse.sparse_dense_matmul](https://www.tensorflow.org/api_docs/python/tf/sparse/sparse_dense_matmul)?

[2019-07-17 18:46] patelprateek opened #30816 "tensorflow latency 2-3x worse with multiple input tensors"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-07-17 18:50] ymodak commented on #30768
The code snippet works with TF 1.14

[2019-07-17 18:51] jbgh2 commented on #30774
@ppham27 Thank you! This could be made more obvious in the docs.

[2019-07-17 18:55] celinew1221 commented on #13463
I just restarted my computer and it works. dk what the problem is. could be memory issue.

[2019-07-17 18:57] sharvil opened #30818 "tf.py_function in tf.data.Dataset pipeline doesn't work with TPUEstimator"
Environment is Google Colab with TPU runtime.

**Describe the current behavior**
I have an input pipeline that contains tf.py_function as one of its processing steps when training a model with TPUEstimator. When I run the code, I get the following error:

[code]

According to the documentation (https://www.tensorflow.org/guide/using_tpu) "The input pipeline generated by your input_fn is run on CPU

[2019-07-17 19:01] joglekara commented on #30766
The current implementation only allows a `left multiply` with a `SparseTensor`, but what if one needs to be able to perform a `right multiply` with a SparseTensor? One cannot simply reverse the order of operations because matrix products do not commute i.e. AB != BA.

[2019-07-17 19:03] tfoxkustudent commented on #30726
After a purge and if I used the following script exactly as it is.  Some reason it works now

sudo apt-get update
sudo apt-get install --no-install-recommends nvidia-384 libcuda1-384 nvidia-opencl-icd-384
sudo reboot

[2019-07-17 19:04] tfoxkustudent commented on #30726
issue solved thank you

[2019-07-17 19:15] patelprateek opened #30820 "Can xla compile tf.estimator.DNNLinearCombinedEstimator?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 16.04
- Mobile device (

[2019-07-17 19:18] jvishnuvardhan commented on #30767
@joglekara Do you have any use case that requires the feature you are interested in? Please feel free to submit a PR if you have use cases that supports that feature.

For most (or all) of the cases I have come across, patience param will be sufficient. In the initial stages of training, there will be high fluctuation in the metrics so it will earlystopping will not kickin for few iterations. Than

[2019-07-17 19:21] ankurash commented on #24828
Confirming this fix on tf 1.14 installed using pip (inside anaconda) on python 3.7.3. CUDA Toolkit 10.0, cudnn 10.0, windows 10.

[2019-07-17 19:24] AndreyPlotkinOr commented on #30416
@meteorcloud I tried the compilation without shell = True, but it still throws the same exception.

[2019-07-17 19:30] jvishnuvardhan commented on #30680
@Adnan-annan Did you try latest TF versions (TF1.14, tf-nightly(TF1.15), TF2.0.0b1). There were lot of performance improvements implemented in latest versions. Thanks!

[2019-07-17 19:33] mrocklin commented on #29039
I'm very glad to hear it @leofang !  It's great to see so many community projects take on that protocol.

Well, presumably if TensorFlow chose to implement support for `__cuda_array_interface__` then people could more easily integrate mpi4py with TensorFlow in custom applications without TensorFlow having to provide explicit support.

[2019-07-17 19:43] horacejlee commented on #29896
I had a similar issue where when trying to fine-tune a pre-trained Keras model on a Colab TPU (using `model.load_weights()` to load the pre-trained weights), I got an error message saying "Resource worker/batch_normalization_10/moving_mean/replica_7/N10tensorflow3VarE does not exist".

[code]

However, I fixed this issue by calling `model.load_weights()` after `model.compile()` (rather than before

[2019-07-17 20:19] thomasyue opened #30822 "tf.keras: Model with multiple outputs cause error"
Hi

I'm training an auto-encoder, and this is the model summary.

`
Model: "model"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
ENCODER_INPUT (InputLayer)      [(None, 1

[2019-07-17 20:46] jvishnuvardhan commented on #30748
@AmitMY You could use `allow_soft_placement=True` as an argument to ConfigProto so that it uses any other existing and supported devices for that operation. Check the following [example](https://www.tensorflow.org/guide/using_gpu) from TF website.

[code]
Please let me know how it progresses. Thanks!

[2019-07-17 20:55] ymodak commented on #30306
@jashshah The code snippet you provided is incomplete. Can you please update it and also as a sanity check for gpu config., Can you please try to execute your code in [google colab](https://colab.sandbox.google.com/notebooks/welcome.ipynb#recent=true) using gpu (clcik edit notebook settings and select gpu from the drop down). Thanks!

[2019-07-17 20:58] ymodak commented on #30700
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-07-17 20:58] #30700 closed

[2019-07-17 21:00] lamberta commented on #30566
Thanks. That guide is gone so removed link in https://github.com/tensorflow/tensorflow/pull/30824

[2019-07-17 21:17] ialdencoots commented on #30430
If there is underflow, would that just be the particulars of a given computation? Shouldn't it be the same regardless of the batch size? Also, a diff of 1e-5 is not actually that small when the average values we're talking about are less than 1.

[2019-07-17 21:58] qlzh727 commented on #30430
1e-5 is 0.00001 which is quite small compare to 1.

I think the indeterministic behavior is caused by floating point number, and we actually hit it a lot during unit test, which is why we sometimes have to give the test some atol and rtol.

[2019-07-17 21:59] jvishnuvardhan commented on #29896
@horacejlee Can you share a standalone code to reproduce the issue? Thanks!

[2019-07-17 22:20] AmitMY commented on #30748
Thanks @jvishnuvardhan
Using this config, it now does not error.
However, with the `log_device_placement` I see:

Although I only create the computation graph under `tf.device('gpu:0')`

I also see:

(To make sure I didn't change anything except for this config, when I remove the config I am getting that error again, still seeing my GPUs as XLA_GPU)

[2019-07-17 22:39] alextp commented on #30234
This is sadly not something we can feasibly fix. Keras is not compatible with meta learning because TF variable assignments, used during the training process, are not differentiable.

To do meta learning in TF use the lower level operations (no layers and no optimizers) and write your own training loop; this way you can make your training loop itself differentiable.

[2019-07-17 22:39] #30234 closed

[2019-07-17 22:40] jvishnuvardhan commented on #30757
@NEGU93 The error is correct as you are trying to multiply a complex number (of dtype tf.complex64) with another dtype. Hence, there is a mismatch in dtype. But, if you define `b` as of dtype=tf.complex64, then it works without any issue. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/dad77e1df747c75d394b284597c18259/tf_30757.ipynb).

If you looking for different

[2019-07-17 23:17] annarev commented on #26902
Hi @ppwwyyxx! Do you have a simple example where tf_upgrade_v2 changes a file to be non-executable?

I just tried the following:
[code]

After these commands are run, `test2/bar.sh` does have executable permissions. Could it be instead that file ownership changed?

[2019-07-17 23:35] Young768 commented on #29975
Hi @guptapriya I am little confused by the example. I checked the [Doc](https://www.tensorflow.org/beta/tutorials/distribute/training_loops). when we use experimental_run_v2(train_step,args=(x,)), then all these two workers will consume the same batch size, x here. But for my case, I want to assign for example 32 MB to cpu and 64 MB to GPU.

[2019-07-17 23:38] pavithrasv commented on #30780
The class version compute the per-sample loss values and then applies sample weight, reduces loss as per the reduction specified. The categorical_crossentropy function just computes the per-sample loss values. We would like to keep all the class as well as the function versions of losses.

[2019-07-17 23:38] #30780 closed

[2019-07-18 00:05] guptapriya commented on #29975
The doc is assuming you're using "strategy.experimental_distribute_dataset" which does the batch splitting for you. I am recommending not using that API. I am saying create your distributed input manually with the help of experimental_run_v2 (and do not use datasets).
in other words, if `x` is generated by `experimental_distribute_dataset`, that will be equally split. But if `x` is generated by yo

[2019-07-18 00:18] Young768 commented on #29975
Ok. I got it. Your example has two devices. How to specify that 32 is assigned to /cpu:0 and 64 is assigned to /gpu:0?

[2019-07-18 00:25] pedrobagatin commented on #24828
Can you explain how to uninstall CUDA and cudnn using conda please?

[2019-07-18 00:29] freedomtan commented on #30359
good to see another effort on Smalltalk + TensorFlow. Smalltalk is one of my favorite language. I tried [Pharo bindings for TensorFlow](https://github.com/PolyMathOrg/libtensorflow-pharo-bindings) before and was able to use both TensorFlow C API and TensorFlow Lite C API on x86 machines

[2019-07-18 00:39] nhasabni commented on #30772
@plopresti Yes we could reproduce the issue. Also, for 30383, we are looking into it.

[2019-07-18 00:54] breadbread1984 commented on #30787
thx got it.

[2019-07-18 00:54] #30787 closed

[2019-07-18 01:04] BorisPolonsky commented on #30786
That worked and thank @pandrey-fr for the answer.
I used tuple to prevent content of `self.convs` from being changed. Didn't know why tuple is not allowed in this case.

[2019-07-18 01:04] #30786 closed

[2019-07-18 01:14] guptapriya commented on #29975
use replica_id_in_sync_group. it's value matches the order in which you specified your devices in the mirrored strategy constructor.

[2019-07-18 01:19] maohuui opened #30828 "error: static assertion failed: Specified Data Type not supported"
`auto gt_pts_trans = tensorflow::ops::Transpose(root, gt_pts, NULL);`
I used 'tensorflow::ops::Transpose()' and occurred error despite gt_pts is DT_FLOAT

[2019-07-18 01:22] yuq-1s commented on #26041
I went into this error when using `tf.keras.layers.GRU`. Switching to `tf.compat.v1.keras.layers.CuDNNGRU` resolved the problem.

[2019-07-18 01:24] marianopeck commented on #30359
Hi @freedomtan
We are in the same boat then :)  That's great to hear. The Pharo bindings are actually a port made by @SergeStinckwich  from the [work done on Cuis Smalltalk](https://github.com/Cuis-Smalltalk/Machine-Learning). The latter was mostly done by @gerasdf and he is now doing most of the [port to VASmalltalk](https://github.com/vasmalltalk/tensorflow-vast).
I am interested in hearing abou

[2019-07-18 01:26] kaigeplus commented on #25087
Hi, what is this "The nudge logic is added to simulate "VQRDMULH". Why is it necessary?

[2019-07-18 01:46] Young768 commented on #29975
Thanks @guptapriya So, here comes my last question, where can I pass the desired batch size to my specified devices?

[2019-07-18 02:04] TCBocean commented on #30632
@ravikyram
Hello, in the example, the code for "kernel_example.cu.cc" has a header file "#include tensorflow/core/util/cuda_kernel_helper.h". But when I compiled ".so" with g++, I was prompted not to find this file. I did not find this file in the "\Anaconda3\envs\CV_env\Lib\site-packages\tensorflow\include\tensorflow\core\util" folder.
I did not install the C++ library, but instead used the pytho

[2019-07-18 03:05] gjxcq opened #30829 "how can I create a model without tf.keras in tf2.0"
if I use tf2.0 and not use tf.keras, which advanced api(like tf.layers.* or tf.contrib.* in  tf1.x ) I can use for creating model

[2019-07-18 03:12] theangels opened #30830 "The model of tf1 cannot be converted to a model of tflite in tf2"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0-be

[2019-07-18 03:15] berniekirby commented on #30703
It looks to me as though tensorflow/contrib/mpi_collectives/kernels/ring.cu.cc needs to somehow via #includes get the definition of CudaLaunchKernel from somewhere.
It's apparently defined in /tensorflow/core/util/gpu_kernel_helper.h
It's to convoluted for me to figure all that out so I'll just leave it.

If it's community supported, then I suppose we'll just have to wait.

Thank you for your time

[2019-07-18 04:19] byronyi commented on #30703
I will work on a fix.

[2019-07-18 04:25] AbhimanyuAryan commented on #30776
'''
A typical freeze_graph.py command looks like this :

python freeze_graph.py --input_meta_graph model.ckpt.meta --output_node_names "Model/Activation_8/softmax_output" --output_graph model_frozen.pb --input_checkpoint model.ckpt --input_binary=true
'''

This answer is using a softmax at end. But I'm not sure what is my last layer/node

https://software.intel.com/en-us/forums/computer-vision/top

[2019-07-18 04:49] gadagashwini commented on #30429
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-18 04:49] #30429 closed

[2019-07-18 04:54] gadagashwini commented on #30612
@game-sys Please take a look at the instructions mentioned in the [Tensorflow website](https://www.tensorflow.org/install/source_windows) to build Tensorflow from source on Windows system.Thanks!

[2019-07-18 05:05] acezzz commented on #30552
Looks like you are build the C version. You should build the cpp version of tensorflow, which is tensorflow_cc.dll and tensorflow_cc.lib.
Please try to use to use following command
bazel build -c opt  //tensorflow:tensorflow_cc

[2019-07-18 05:12] aaroey commented on #30748
@sanjoy would you please help to take a look?

[2019-07-18 05:13] chenbiaolong commented on #12132
I also face a strange issue. when I use DepthwiseConv2D in decoder stage(4*4-->resize to 8 * 8 --> DepthWiseConv2D ---> resize to 16* 16 -->DepthWiseConv2D ...) of a FCN, it run much more slower than the encoder (from big feature map to small feature map) stage which use the same DepthWiseConv2D. (decoder: more than 1s VS encoder: less than 100ms). I ran the test code in a mobile device.

[2019-07-18 05:49] sjtusmartboy opened #30831 "How to get the detail type of auto eigen variable in op"
The auto variable is annoying in eigen as the interpreter cannot decide how to interpret it. See the detail [here](https://stackoverflow.com/questions/57057123/how-to-get-the-scalar-value-returned-by-eigen-tensors-sqrt-function/57075471#57075471)

[2019-07-18 06:10] ravikyram commented on #30740
This question is better asked on StackOverflow since it is not a bug or feature request. There is also a larger community that reads questions there and provide better and faster support for such issues. Thanks!

[2019-07-18 06:14] anush-o commented on #30738
@jusonn,
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-07-18 06:34] gadagashwini commented on #30811
@olesalscheider I tried executing the code on Colab with Tensorflow 1.14.0. But I did not get any error. Please take a look at gist of [Colab](https://colab.research.google.com/drive/1A4jaDTzJ4M_b8g86FnIaAv_7Dl55JCrK). Thanks!

[2019-07-18 06:43] AndreyPlotkinOr commented on #30552
Switching to the target you proposed didn't help as well:

	ERROR: D:/data/users/andrey/projects/tensorflow_1.14_cpu_cpp_v5/tensorflow/BUILD:566:1: Linking of rule '//tensorflow:tensorflow_cc.dll' failed (Exit 1120): link.exe failed: error executing command
	  cd D:/data/users/andrey/projects/tensorflow_1.14_cpu_cpp_v5/52qnlwry/execroot/org_tensorflow
	  SET LIB=C:\Program Files (x86)\Microsoft Vi

[2019-07-18 06:45] gadagashwini commented on #30808
@olesalscheider I tried reproducing the issue on Colab with Tensorflow version 1.14.0. I didn't receive any error. Please have a look at [Colab](https://colab.research.google.com/drive/18DPNelOKIdJiXq2q8-oNHiTadqcuwRY-) link. Let us know is this expected behavior.Thanks!

[2019-07-18 06:51] olesalscheider commented on #30811
Oh, I forgot to mention: The code above used to work with older versions of Tensorflow (I think including 1.14.0). This is a regression in the current master branch.

[2019-07-18 06:54] olesalscheider commented on #30808
This is a regression in the current master branch. The code above used to work with older Tensorflow versions including 1.14.0.

I had to request access to the Colab link (because my Google account has a different email address?). I will look at it once I have access.

[2019-07-18 07:48] AbhimanyuAryan commented on #30776
slim  has been discontinued by TF? https://github.com/tensorflow/models/issues/539#issuecomment-363954823 and NCS supports SLIM implementation.

[2019-07-18 07:53] michisaak opened #30832 "Cannot convert from tensorflow to tensorflow lite"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian 9
- TensorFlow installed from (source or binary): From Conda
- TensorFlow version (or github SHA if from source): 1.14.0

**Text output from tflite_convert**

[code]

GraphDef :
https://github.com/michisaak/ObjectDetection/blob/master/saved_model.pb

**Logs**
Traceback (most recent call last):
  File "/home/mi

[2019-07-18 08:17] sidharthskumar commented on #30810
how did solve?

[2019-07-18 08:20] sidharthskumar commented on #29992
how did u solve >

[2019-07-18 08:22] #29974 closed

[2019-07-18 08:26] ziyuang commented on #4632
I think `tf.shape(input)` returns a tensor whose content can be determined later while `input.shape` returns an ordinary tuple and "dynamic" dimensions will have a `None` there.

[2019-07-18 08:32] jashshah commented on #30306
@ymodak can you tell me where it is incomplete? I believe @rmothukuru was able to reproduce the issue. The only thing that I cannot provide you with is the data since that is proprietary.

[2019-07-18 08:34] meteorcloudy commented on #30416
@AndreyPlotkinOr Thanks for the test! So looks like the AutoRun was not triggered in Bazel. I reviewed your bug report again, IIRC, you tested nvcc.exe outside of Bazel and can still reproduce the bug. So I guess it's nvcc that somehow triggered the AutoRun? If that's the case, the only way to fix it is to disable `AutoRun`. What Bazel can do is to detect AutoRun is enabled and give users a warnin

[2019-07-18 08:36] njzjz commented on #30753
If TensorFlow only support CUDA 10.0, I think `configure` script should prevent from using other CUDA versions.

[2019-07-18 08:42] SergeStinckwich commented on #30359
hi @marianopeck, @freedomtan already have done some contributions to the Pharo port.
Yes all on the same boat, let's try to go in the same direction :-) Let's discuss about that in ESUG 2019 ?

[2019-07-18 08:50] jsolves commented on #28563
Sure, but my 514 and 520 lines are comments... xD

[2019-07-18 08:59] pandrey-fr commented on #30786
You are welcome!
I totally understand why you would intuitively go for a tuple instead of a list, and to be honest it could be nice if TF would recognize those (I think this has to do with wrapper classes implementation, but I do not know much about it). Anyway, what matters is that your code works :)

[2019-07-18 09:05] ujsyehao commented on #27163
Can you solve the problem?

[2019-07-18 09:09] pandrey-fr commented on #30769
"It's not a bug, it's a feature."

In 2.0 (at least as of now), `tf.__version__` is replaced with `tf.version.VERSION` and all other (pseudo) constants under `tf.version`, so as to make versioning clearer. This is actually indicated in the mere issue template you filled in...

[2019-07-18 09:12] gadagashwini commented on #30811
I am able to reproduce the issue with Tensorflow 2.0.0.beta1. Please take a look at [gist here](https://colab.research.google.com/drive/1YgQAH_apOpqzuY_bdXiF8sCYCPvNbRQs). Thanks!

[2019-07-18 09:18] gadagashwini commented on #30808
I could reproduce the issue with tensorflow 2.0.0.beta1. Please find the [gist here](https://colab.research.google.com/drive/14_RzRKLpMb1OBQuk5LEOxAI4INA1yUwE). Thanks!

[2019-07-18 09:25] rmothukuru commented on #30306
@ymodak ,
Sorry for the confusion. Reproduced the code in Google Colab with GPU as Runtime, with TF Version, 1.14 and with Dummy Data. This is the [Gist](https://colab.sandbox.google.com/drive/1BmaVlJHPX9dsJ1QNpkZKbbZkgWBvdaLR#scrollTo=VjoPXkL5SNbN).

Execution was stuck as explained by @jashshah,  with the exception shown below, as I might have used X_TEST and Y_TEST as simple integers. Thanks.

[2019-07-18 09:31] bluehope opened #30834 "tf 2.0 Keras GaussianNoise to supports dtype=tf.float64"
**System information**
- TensorFlow version (you are using): `2.0.0-beta1`
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**

* This (`model_float32`) works
[code]
without error.
[code]
 * However, the (`model_float64`) dose not work.
[code]
The error output is shown as below.
[code]

**Will this change the current api? How?**
`tf.keras.layer

[2019-07-18 09:45] gadagashwini commented on #30802
I was able to reproduce the issue on Colab with Tensorflow 2.0.0.beta1. Please have a look at gist of [Colab](https://colab.research.google.com/drive/1UXGUopt4bVq-NUslCJVxw_BHeOlq0Rkz) link. Thanks

[2019-07-18 09:50] gadagashwini commented on #30784
@derekhsu Please find the instructions mentioned in the [Tenosrflow](https://www.tensorflow.org/install/source) website to build tensorflow.Thanks!

[2019-07-18 09:59] gadagashwini commented on #30784
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-07-18 10:01] anush-o commented on #30726
Closing the issue since it is solved.

[2019-07-18 10:01] #30726 closed

[2019-07-18 10:04] Rhyssiyan commented on #26418
I don't find the tf2.0 package built with cuda9.0 from https://github.com/tensorflow/tensorflow/tags and https://pypi.org/project/tensorflow-gpu/. And it's troublesome for me to install tf by building. Finally, I give up and adopt the shell from https://github.com/phohenecker/switch-cuda to switch cuda version as a temporary solution.

[2019-07-18 10:06] ravikyram commented on #30800
@Oktai15
In order to expedite the trouble-shooting process, please provide a complete code snippet to reproduce the issue reported here. Thanks!

[2019-07-18 10:07] anush-o commented on #30774
@jbgh2 ,
Looks like issue is resolved.Can i proceed for closure.Thanks!

[2019-07-18 10:08] gadagashwini commented on #30790
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-07-18 10:08] 4saad commented on #1757
I have the same problem I am using  GeForce RTX 2080 and i only able to train small data set on batch size of 8?  can any one help me ?

[2019-07-18 10:10] aqeeliqbal commented on #30117
Still having this problem. i am build static library for android using MacOS system.
[code]
i have tried building with both command
`tensorflow/contrib/makefile/build_all_android.sh`
and
`make -f tensorflow/contrib/makefile/Makefile TARGET=ANDROID`
but same result

[2019-07-18 10:11] anush-o commented on #30747
@Ramzi09 ,
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-07-18 10:14] breadbread1984 commented on #24823
OK thx, by the way. by the way, do you know where odeint is in tf2.0?

[2019-07-18 10:15] gadagashwini commented on #30814
I am able to reproduce the issue on Colab with Tenosrflow 1.14.0. Please find the [gist here](https://colab.research.google.com/drive/1f3m2HkQMO2MczoLjBchlFYyU791rIBP8). Thanks!

[2019-07-18 10:24] anush-o commented on #30822
@thomasyue ,
In order to expedite the trouble-shooting process, please provide complete code snippet to reproduce the issue reported here also provide TF version being used .Thanks!

[2019-07-18 10:26] anush-o commented on #30816
@patelprateek ,
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-07-18 10:36] gadagashwini commented on #30820
@patelprateek Could you provide more details about the issue.Thanks!

[2019-07-18 10:37] ravikyram commented on #30803
@lminer
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the code snippet to reproduce the issue. If you are unclear what to include see the issue template displayed in the [Github ](https://github.com/tensorflow/tensorflow/issues/new/ch

[2019-07-18 10:37] anush-o commented on #30813
@yanghoonkim ,
I tried executing the same code and faced the following error `AttributeError: 'module' object has no attribute 'global_variable'`.let us know if the same issue is faced by you.Thanks!

[2019-07-18 10:37] hashishoya commented on #30647
I added the unresolved externals in the `tensorflow\tools\def_file_filter\def_file_filter.py.tpl` file:
'''bash
    # Header for the def file.
    if args.target:
      def_fp.write("LIBRARY " + args.target + "\n")
    def_fp.write("EXPORTS\n")
    def_fp.write("\t ??1OpDef@tensorflow@@UEAA@XZ\n")

    def_fp.write("\t ??0Operation@tensorflow@@QEAA@PEAVNode@1@@z\n")
    def_fp.write("\t ??0Initial

[2019-07-18 10:39] anush-o commented on #30810
@VitalieStirbu ,
In order to expedite the trouble-shooting process, please provide complete code snippet to reproduce the issue reported here. Thanks!

[2019-07-18 10:42] meghasharmaojha commented on #24828
Hey guys, I am using the weights from the pre-trained model with ResNet50 backbone on COCO dataset to train on my CSV dataset. I am getting this error : *Unknown: Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning │ log message was printed above.*I am running the following command in a virtual environment on Ubuntu 16.0 to f

[2019-07-18 10:44] ravikyram commented on #30797
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the code snippet to reproduce the issue. If you are unclear what to include see the issue template displayed in the [Github](https://github.com/tensorflow/tensorflow/issues/new/choose) new

[2019-07-18 10:46] Ramzi09 commented on #30747
Thanks, I asked this question on StackOverflow, but no answer until now

[2019-07-18 10:47] anush-o commented on #30804
@olesalscheider ,
In order to expedite the trouble-shooting process, please provide complete code snippet to reproduce the issue reported here. Thanks!

[2019-07-18 10:52] anush-o commented on #30798
@liudefu ,
Please provide the information asked in the template.Thanks!

[2019-07-18 11:00] meghasharmaojha commented on #24496
Hey guys, I am using the weights from the pre-trained model with ResNet50 backbone on COCO dataset to train on my CSV dataset. I am getting this error : *Unknown: Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning │ log message was printed above.*I am running the following command in a virtual environment on Ubuntu 16.0 to f

[2019-07-18 11:03] ssable opened #30835 "Keras Adam optimizer unsupported by GPU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Colab**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): **preinstalled in colab**
- TensorFlow version (use comman

[2019-07-18 11:06] gadagashwini commented on #30769
@ageron,
Issue is fixed in latest TF 2.0 nightly version. Can we close the issue. Thanks!

[2019-07-18 11:12] ravikyram commented on #30788
@nongxi
Glad to see the improved results.I am closing this issue as this is not a bug or feature request.Thanks!

[2019-07-18 11:12] #30788 closed

[2019-07-18 11:15] TharunAts commented on #22285
Did u get the solution? If so please discuss here.

[2019-07-18 11:16] gadagashwini commented on #28206
@futuyao Can you submit this PR against master? . Thanks!

[2019-07-18 11:21] anush-o commented on #30702
@VinothInspirit,
When i tried executing the last section of the code i faced the following `error RuntimeError: Attempted to use a closed Session`.Kindly help us to reproduce the issue.Thanks!

[2019-07-18 11:26] yanghoonkim commented on #30813
Oh, It was my fault.The last line of the code should be `print tf.global_variables()`

[2019-07-18 11:33] jichangsheng opened #30837 "Some of the operators in the model are not supported by the standard TensorFlow Lite runtime and are not recognized by TensorFlow. If you have a custom implementation for them you can disable this error with --allow_custom_ops, or by setting allow_custom_ops=True when calling tf.lite.TFLiteConverter(). Here is a list of builtin operators you are using: ADD, CONV_2D, TANH. Here is a list of operators for which you will need custom implementations: DEPTH_TO_SPACE."
Some of the operators in the model are not supported by the standard TensorFlow Lite runtime and are not recognized by TensorFlow. If you have a custom implementation for them you can disable this error with --allow_custom_ops, or by setting allow_custom_ops=True when calling tf.lite.TFLiteConverter(). Here is a list of builtin operators you are using: ADD, CONV_2D, TANH. Here is a list of operato

[2019-07-18 11:47] ismael-elatifi commented on #30797
Actually it may not be a bug because TF is somewhat forced to assume first dimension is batch dimension.
I solved my issue by switching to batch major (removing the `x = tf.transpose(x, perm=[1,0,2])` in my model).
I needed time major dimensions because `tf.nn.ctc_greedy_decoder` expects time major logits. But now I do not the transpose inside the model but outside just before the call to tf.nn.ct

[2019-07-18 11:47] #30797 closed

[2019-07-18 11:51] themightyoarfish commented on #30117
I think I also had the problem after the merge, not quite sure though. It could be that `CoreFoundation` gets linked into the library alright, but not the benchmark app that gets built as well.

[2019-07-18 12:00] VinothInspirit commented on #30702
[code]

[2019-07-18 12:00] VinothInspirit commented on #30702
I've pasted the indented code. This should work.

[2019-07-18 12:19] aqeeliqbal commented on #30117
so how to solve this?
i only need to build library.

[2019-07-18 12:45] bonlime commented on #30753
@anush-o  it says "TensorFlow supports CUDA 10.0 (TensorFlow >= 1.13.0)". I supposed it meant TF should support old versions of CUDA 9.0 as well as new 10.0

[2019-07-18 12:46] ravikyram commented on #30521
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-18 12:46] paulbauriegel opened #30838 "Unable to quantize buffer or min/max value for input 1 in op MUL in subgraph 0, node: 8"
**System information**
- OS: Linux Ubuntu 19.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v1.14.0-rc1-22-gaf24dc9 1.14.0
- Python version: 3.7.3
- CUDA/cuDNN version: 10.0.130/ 7.4.1
- GPU model and memory: Tesla V100-SXM2-16GB

**Describe the current behavior**
Running the official tutorial on post training quantization:
https://www.tensorflo

[2019-07-18 12:51] oracle3001 opened #30839 "Tensorflow 2.0 - Build From Source not creating Python Wrappers such as _pywrap_tensorflow_internal.lib"
**System information**
- OS : Windows 10
- TensorFlow installed from : source
- TensorFlow : 2.0.0
- Python version : 3.7.3
- Bazel version (if compiling from source): 0.25.2
- GCC/Compiler version (if compiling from source): VS2017
- CUDA/cuDNN version: 10.0
- GPU model and memory: Nvidia 960m

When building tensorflow v1.14 from source, using configure.py script then building the resulting bazel

[2019-07-18 12:52] ravikyram commented on #30551
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-18 12:53] OlavHN opened #30840 "2.0.0-beta1 no op for reassign variable to different shape (e.g. a validate_shape=False option)"
[code]

Outputs:

[code]

Similarly, the `compat.v1` seems to ignore the `validate_shape` argument for variables in 2.0 ( https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/state_ops.py#L228 ).

I'm working on a model which is being served as a saved_model. Is there a way of changing shapes of variables in 2.0? In 1.14 it worked using assign ops with `validate_shape=False`.

[2019-07-18 12:53] ravikyram commented on #30623
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-18 12:53] #30623 closed

[2019-07-18 13:02] OlavHN commented on #30840
I found this similar issue: https://github.com/tensorflow/tensorflow/issues/26104 with instructions that solved my issues:

Explicitly setting shape information to `None`

[code]

gives expected behaviour.

[2019-07-18 13:02] #30840 closed

[2019-07-18 13:03] olesalscheider commented on #30804
You can use this as a testcase:

[code]

[2019-07-18 13:08] marianopeck commented on #30359
OK, I sent you both and the rest of the involved parts a private email to so that we can continue discussing :)

[2019-07-18 13:18] jiahuigeng opened #30841 "cannot detect communication between clusters when CollectiveAllReduceStrategy"
tensorflow 1.12
CUDA 10
Ubuntu 16.04

Here is the part of code in the main script:
  strategy=tf.contrib.distribute.MirroredStrategy(num_gpus=FLAGS.n_gpus)#devices=["/gpu:0", "/gpu:1"]
  if FLAGS.strategy=="ps":
    os.environ['TF_CONFIG'] = json.dumps({
        'cluster': {
            "worker": ["10.60.131.148:8081", "10.60.131.149:8082"],
            "ps": ["10.60.131.150:8083"]
        },

[2019-07-18 13:26] qiangyang870307 opened #30842 "change protobuf version to 3.8 then build failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 14.04):
- GCC 4.8.4
- build CPU only

[2019-07-18 13:27] qiangyang870307 commented on #30842
And  no protobuf installed in my system

[2019-07-18 13:30] thomasyue commented on #30822
@anush-o
Thanks for the reply. I'm using tensorflow-gpu==beta1

[code]

[2019-07-18 13:36] aayushthakur commented on #28163
Yes, you understood it correctly. Currently, I am running the classifier class from a DB class as soon as media path gets inserted into my DB, I pass the media path to classifier methods which then runs respective code to get the confidence probabilities. So This whole thing is running in a background thread synchronously. One thing which I don't get is why the smaller model takes more time than t

[2019-07-18 13:53] themightyoarfish commented on #30117
If you just need it once, you can hardcode `-framework CoreFoundation` to the makefile targets `$(LIB_PATH)` and `$(BENCHMARK_NAME)`.

[2019-07-18 13:57] ravikyram commented on #30818
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

If you are unclear what to include see the issue template displayed in the [Github](https://github.com/tensorflow/tensorflow/issues/new/choose) new issue template.

We ask for this in the issue submission template,

[2019-07-18 14:00] VitalieStirbu commented on #30810
@anush-o,
What code snippet? train.py is the file from /models/research/object_detection/legacy folder. I didn't make any changes.  In faster_rcnn_nass_coco.config I changed only NUM_CLASSES to 1 and the path to my data.
I tried to follow the steps from this <a href="https://www.youtube.com/watch?v=K_mFnvzyLvc&list=PLQVvvaa0QuDcNK5GeCQnxYnSSaar2tpku&index=3">video</a>

[2019-07-18 14:04] aqeeliqbal commented on #30117
thanks for the hint, can you please direct me exactly where (what line number) i should add this.

[2019-07-18 14:33] mdanatg commented on #30768
@ageron Unfortunately, `tf.Variable` does not override arithmetic operators and in effect `v = v + x` will replace the `Variable` `v` with a `Tensor` - is this what you expected?

@alextp @jaingaurav  I suspect the root cause here is that `tf.function` captures a weak reference to the variable, which is then deallocated. If that's indeed the case, then this example shows that the weakref should in

[2019-07-18 14:38] AndreyPlotkinOr commented on #30552
Switching to the target you proposed (the exact same command you wrote) didn't help as well.

Adding missing symbols in def_file_filter.py.tpl throws the exception above.
Without editing this file, dll/lib compiled ok, but linking with my code fails with same missing definitions.

[2019-07-18 14:38] rishabhsahrawat opened #30843 "Unable to train model on multiple GPUs using MirroredStrategy in TF2.0"
I have two Tesla T4 GPUs from Google. I am using this [example](https://www.tensorflow.org/beta/tutorials/load_data/text#split_the_dataset_into_text_and_train_batches) in order to train it on multiple GPUs with defined the `model` inside `tf.distribute.MirroredStrategy()` as described [here](https://www.tensorflow.org/beta/guide/distribute_strategy#using_tfdistributestrategy_with_keras). The model

[2019-07-18 14:58] alextp commented on #30768
The issue is that `v = v + x` doesn't assign to the variable, it throws the variable away (deleting it) and then assigns a tensor internal to the function (v+x) to the name `v`.

Because you threw the variable away and you're trying to execute a graph which reads the value of the variable (so it can compute `v+x`, which translates internally as `add(read_variable(v), x)`) we fail.

The error messa

[2019-07-18 15:02] AndreyPlotkinOr commented on #30552
I see missing symbols in these 2 files:
core_cpu_impl.lo.lib
protobuf_lite.lib
But they were not added to dll for some reason.

[2019-07-18 15:07] pandrey-fr commented on #30834
Hi,
I looked up the source code and it appears you do not even need a dtype argument when instantiating the layer, since the noise is being generated on each call. I therefore submitted a PR to have the noise's dtype adjusted to that of the inputs on each call, which should fix your issue without requiring any specification in the code.

[2019-07-18 15:11] AndreyPlotkinOr commented on #30552
I added these libs manually, and got other error of double definition. Probably part of symbol definitions from libs were added into dll.
I temporary resolved it by adding /FORCE:MULTIPLE in my program linking stage.

Running the code gave me other error:

[2019-07-18 15:23] siavash-khodadadeh commented on #30234
@alextp Thank you for your response.
So the gradient tape should be used when there is real data flowing in the model and it cannot be used when we just define models with keras since there is no computation happened. Is my understanding right?
Actually, I am a little confused about gradient tape and why it should not work in this example.

[2019-07-18 15:29] zachmayer opened #30846 "mismatch in the description of BatchDot and TensorFlow's implementation."
## URL(s) with the issue:
https://www.tensorflow.org/api_docs/python/tf/keras/backend/batch_dot

## Description of issue (what needs changing):
I raised [an issue on the plaidML repo](https://github.com/plaidml/plaidml/issues/358), and after some back and forth we determined the documentation for BatchDot doesn't quite match the actual implementation in the tensorflow code.

### Clear description

[2019-07-18 15:34] jdduke commented on #28163
In this case, it's because you're using a "hybrid" quantized model, which doesn't yet have multi-threading support. I would try using the new [post-training, integer quantization](https://medium.com/tensorflow/tensorflow-model-optimization-toolkit-post-training-integer-quantization-b4964a1ea9ba) path, which should get you both faster execution and a smaller model.

If you don't mind, could you att

[2019-07-18 15:47] Ir0098 commented on #22893
The same issue, did you find a solution?

[2019-07-18 15:48] vsatyakumar commented on #28799
@fchollet Is there a fix for this?

[2019-07-18 15:51] jesen8 commented on #24499
@gmt710 hi,can you teach me how to build tf on vs?

[2019-07-18 15:53] patelprateek commented on #30820
@gadagashwini : can you please elaborate what details you need ?

I took the DNNLinearCombinedEstimator code , trained a model and then tried xla AOT compilation.
Can't get that to compile because of the following error :
error : {{node dnn/input_from_feature_columns/input_layer/xyz/axyz_embedding_weights/SparseReshape}}
. Registered:
){{node dnn/input_from_feature_columns/input_layer/ad__ad_id_em

[2019-07-18 15:54] trevor-m commented on #27163
@aaroey Should TF-TRT try to catch exceptions from TRT library functions? Or this is more of TRT problem since they are not catching their exceptions?

[2019-07-18 15:58] alextp commented on #30234
The issue here is not about the gradient tape; it also happens with tf.gradients. The issue is around tf.variable, and how operations on tf.variables are not differentiable.

So for example in the following code snippet

[code]

and the gradient is None because TF doesn't track assignments to tf.Variables to their source operations, because state in variables is stored outside the graph. To get th

[2019-07-18 16:12] michaelbenayoun opened #30847 "DistributedDataset iteration fails with data of type string"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04.5 LTS
- TensorFlow installed from

[2019-07-18 16:14] AndreyPlotkinOr commented on #30552
Currently I have these 3 libs linked in my project:

and tensorflow_cc.dll near project exe.

Maybe I have to link more libs to overcome "Registered factories are {}." ?

[2019-07-18 16:16] jeffreyscholz opened #30849 "tf.data.experimental.make_csv_dataset cannot decompress files"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): custom
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS 10.14.5 (but also tested in RedHat 7)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): pip3
- TensorFlow ve

[2019-07-18 16:46] dzhu opened #30850 "Restoring Keras model fails inside a distribution strategy scope"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Arch Linux**
- TensorFlow installed from (source or binary): **binary** (using `pip`)
- TensorFlow version (use command below): both `v1.14.0-rc1-22-gaf24dc9 1.14.0` and `v2.0.0-beta0-17-g8e423e3 2.0.0-beta1`
-

[2019-07-18 16:49] dsgupta commented on #30715
I am facing the same problem using LSTM layers in a custom subclassed Keras model.

[2019-07-18 16:58] siavash-khodadadeh commented on #30234
@alextp Thank you for clarifying this. I see what was the reason now.

[2019-07-18 17:05] lwu025 commented on #28563
My version is 1.13.0rc0
I hope this screenshot can help find the piece of code.
Line 514 is new and Line 520 is modified
![Uploading Screenshot from 2019-07-18 10-03-07.png…]()

[2019-07-18 17:09] wendy518 opened #30851 "Can not Exporting a GraphDef from file"
Hi, i used code provided in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/convert/cmdline_examples.md.

Convert a TensorFlow GraphDef

[code]

### error
 Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA
2019-07-18 17:14:34.558992: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2494150000 Hz
2019-07-1

[2019-07-18 17:18] UltraSpecialException opened #30852 "Teacher-forcing in the Transformer tutorial"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

Please provide a link to the documentation entry, for exa

[2019-07-18 17:25] sharvil commented on #30818
I shared a Google Colab notebook that reproduces the issue... so operating system, architecture, source vs. binary, etc. questions in the new issue template are not relevant. I'm using the default TF version which, at the time of writing, is 1.14.0.

Are you unable to reproduce the issue after running the Colab notebook?

[2019-07-18 17:29] robieta commented on #30448
Indeed, this is because in v1 making a dataset iterator adds ops to the graph.
`print('Processing time {:.2f}, {} ops on graph'.format(time.time() - debug_time, len(inp.graph.get_operations())))`

In v2 (`tf.enable_v2_behavior()`), you'll see that there is no accumulation of ops and run time does not increase over subsequent `model.predict` calls.

It's not obvious why the performance drops off so

[2019-07-18 17:29] #30448 closed

[2019-07-18 17:29] vineel-concat opened #30854 "Out of Memory Issues with beam search decoder"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.13
- Python version: 3.7
- CUDA/cuDNN version: 10/7.66
- GPU model and memory: v100 and 16GB

**Describe th

[2019-07-18 17:40] #29872 closed

[2019-07-18 17:53] NiravRaiyani commented on #7623
I installed tensorflow in anaconda and running it on CPU. But when I tried importing the tensorflow it is giving me following error.
Traceback (most recent call last):

  File "<ipython-input-1-64156d691fe5>", line 1, in <module>
    import tensorflow as tf

  File "C:\Users\raiyani\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\__init__.py", line 24, in <module>
    from tensorflo

[2019-07-18 17:53] pavithrasv commented on #30711
@dekromp You can remove return statements and group ops from custom metrics. It is not required. Built in metrics have a different requirement because of an issue with TPUs. Once that is fixed we will remove the return from update_state from built-in metrics as well.

Thank you!

[2019-07-18 17:53] karmel commented on #30666
It looks like you are mixing low-level TF APIs with Keras, which can yield strange behavior. When using Keras, tf.keras.Input is preferable to tf.placeholder, and model.predict is preferable to trying to run individual outputs. You can see some examples [here](https://www.tensorflow.org/guide/keras).

[2019-07-18 18:09] mketcha commented on #30321
Following @IuriiZhakun 's comment above:

I did not attempt the MirrorStrategy as I am also using fit_generator

[2019-07-18 18:26] Uiuran commented on #30666
however the conv implementations force us to use keras, what should be only
a short to a name-space with all ops to do convolution. Also, why input is
supposed to have a different behavior than tf.placeholder ?

Keras, supposing to make the things easier, changes the behavior that one
is waiting from the low level API and make things lot harder to debug.

On Thu, Jul 18, 2019 at 3:01 PM Karmel All

[2019-07-18 18:29] chsigg commented on #30687
Yes, this has been fixed. Please let us know if you still see this issue.

[2019-07-18 18:29] #30687 closed

[2019-07-18 18:31] dsgupta opened #30855 "TF2: tf.distribute.MirroredStrategy() running sequentially on GPUs"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-07-18 18:35] horacejlee commented on #29896
If you run this code below on the official notebook (https://colab.research.google.com/github/tensorflow/tpu/blob/master/tools/colab/fashion_mnist.ipynb), you should be able to reproduce the issue:

[code]

[2019-07-18 18:39] AdrianTanTeckKeng opened #30856 "ImportError: /opt/gnu/gcc/lib64/libstdc++.so.6: version `GLIBCXX_3.4.21' not found"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOs 6.10 Linux: 2.6.32-754.

[2019-07-18 18:40] gunan commented on #30632
https://github.com/tensorflow/custom-op for the latest documentation on creating custom ops.
@yifeif may be able to answer if there is anything missing there.

[2019-07-18 18:49] gunan commented on #30629
@mihaimaruseac who did the release for 1.13.2
Did we see this issue in the release branch?

Also, did you make any changes to the source?

[2019-07-18 18:51] 814HiManny opened #30857 "TF2: Out of Memory using model.fit with class_weight parameter"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
[code]
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
[code]
- TensorFlow installed from (source or binary):
[code]
- TensorFlow version (use command below):
[code]
- Python version:
[code]
- CUDA/cuDNN version:
[code]
[code]
- GPU model and memory:
[code]

**Describ

[2019-07-18 18:57] VIGS25 opened #30858 "Nested Layer saving with tf.train.Checkpoint"
**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.13.1
- Python version: 3.5.6

**Describe the current behavior**
tf.train.CheckPoint fails to save

[2019-07-18 19:12] #30566 closed

[2019-07-18 19:14] rohan100jain commented on #27086
https://github.com/tensorflow/tensorflow/commit/f6e0ec468a3dee7c2ae1fa3575bb46d884b4a319 should hopefully fix this issue

[2019-07-18 19:23] gunan commented on #26177
I think we can also work around the problem by unsetting `HAVE_XLOCALE_H`
however, I cannot even find where we are setting it in the first place :/

[2019-07-18 19:24] gunan commented on #26177
Looks like https://github.com/tensorflow/tensorflow/pull/26156 fixed this.

[2019-07-18 19:31] pdhe commented on #24520
I have the same error like so:

`  File "C:\Program Files\JetBrains\PyCharm Community Edition 2019.1.1\helpers\pydev\pydevd.py", line 1758, in <module>
    main()
  File "C:\Program Files\JetBrains\PyCharm Community Edition 2019.1.1\helpers\pydev\pydevd.py", line 1752, in main
    globals = debugger.run(setup['file'], None, None, is_module)
  File "C:\Program Files\JetBrains\PyCharm Community Edit

[2019-07-18 19:43] aaroey commented on #27163
@trevor-m I think we should fix the problem in TRT library. In general TF prevents using exceptions.

[2019-07-18 19:54] mihaimaruseac commented on #30629
I didn't change the source.

Also, the release landed after the issue was opened. I'd try a rebuild now? Can you also try a newer version of Bazel? I used 0.21.0 for the release and everything worked

[2019-07-18 19:57] YuMan-Tam commented on #30440
@ravikyram: Sorry for my late reply. I believe @jbedorf has located the root cause of this issue. The same problem persists in the configure script for the 2.0 version of tensorflow.

In fact, I am not sure how to do the `debug toggle` as suggested by @byronyi. However, I could investigate further (a.k.a. confirm the finding from @jbedorf) if this is still helpful.

[2019-07-18 20:00] #30440 closed

[2019-07-18 20:20] liuyanqi opened #30861 "representative_dataset error for TFlite converter quantization"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-07-18 20:28] mjlbach commented on #30605
Thanks for the idea! I'm currently building my model as a subclass of tf.Module containing keras layers across my actor and learner thread. I'd like to use Autograph as my model uses graph convolutions which seem to perform significantly more slowly in eager execution. Is this paradigm incompatible with autograph?

[2019-07-18 20:39] Pidem commented on #25348
My guess is that this is related to the TensorRT version that Tensorflow was build with ?@nocotan @aaroey

[2019-07-18 20:51] dgkutnic commented on #30846
To further elaborate on this issue: there also seems to be output shape mismatches between the TensorFlow and Theano backend implementations of `BatchDot`. Theano's implementation seems to be much closer to the documented definition of `BatchDot` than TensorFlow.

Could we either change the documentation to more clearly describe TensorFlow's engineering decisions behind `BatchDot` or modify the Te

[2019-07-18 21:08] jvishnuvardhan commented on #30815
@emrul Just few questions and pointers on docs.

Item (3) : What do you mean by `3. The documentation site isn't searchable by version`?. On the page you listed, you can select any TF version (For Ex. TF1.12) from the dropdown of `API`.  You could see detailed release notes from [here](https://github.com/tensorflow/tensorflow/releases).

Item (4): Regarding `contrib module is gone in 2.0`, contrib

[2019-07-18 21:09] ymodak commented on #30837
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create fr

[2019-07-18 21:09] #30837 closed

[2019-07-18 21:23] aspenlin opened #30863 "tf.test.is_gpu_available return False"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Amazon Linux 2 AMI
- Mobile de

[2019-07-18 21:30] ppham27 commented on #30855
I'm pretty sure this is the expected behavior since the default execution mode is `SYNC`. You can try changing it to `ASYNC`, https://github.com/tensorflow/tensorflow/blob/3794c88add3f4d5dec3d3e4147940ef76e21f030/tensorflow/python/eager/context.py#L62.

I've run into all types of strange errors when I do. Maybe there should be warning about using MirroredStrategy outside a `tf.function` context.

[2019-07-18 21:39] #30378 closed

[2019-07-18 21:55] agupta4 commented on #30634
I would like to make a contribution for this request.

[2019-07-18 22:07] jvishnuvardhan commented on #30808
@olesalscheider I think the `ValueError` is correct as there is a mismatch in the shape. If you use strides=(1,1), then shapes are same and there is not error. Please throw little more details on why you think this as a bug? Thanks!

[2019-07-18 22:16] karmel commented on #30666
I think that gives me a better sense for what you are trying to do, and I would highly recommend trying out the [beta](https://www.tensorflow.org/beta), in which you can just pass the np array directly through the conv layer:

[code]

[2019-07-18 22:24] saumpsh commented on #30376
Hi,

Can someone ( @petewarden @gadagashwini ) guide me to the solution of the above problem? It would be of great help.

Thank you.

[2019-07-18 22:32] alicehaejungcho commented on #28287
I am having the same issues and was wondering what the value of some_custom_config was?

[2019-07-18 22:45] aspenlin commented on #30863
I removed CUDA 10.1 and reinstalled 10.0 but the error persists

[2019-07-18 23:10] sanjoy commented on #30748
Can you please attach the full log?

XLA creates an XLA_GPU device for every present on the system whereas TF creates a GPU device only for GPUs suitable for compute (i.e. ignores slower GPUs) so that could explain what you're seeing.  TF logs out "Ignoring visible gpu device" when it does this enhanced filtering so you should see it in your logs.

[2019-07-18 23:13] allenlavoie commented on #30858
Can you try with a more recent version of TensorFlow? 1.14 should have this fixed I believe. sub-Layer tracking was not automatic like Model's in 1.13.

[2019-07-18 23:21] sajagkc11 opened #30864 "How can I get h5 file to tflite file. I tried to do with the documentation but it is giving me an error"
`from keras.models import load_model
keras_file ="project.h5"
keras.models.save_model(model,keras_file)
from tensorflow import lite
coverter = lite.TFLiteConverter.from_keras_model_file(keras_file)`

This is the error I am getting

[code]

This is my keras model.
[code]
`

[2019-07-18 23:22] hamatake commented on #27653
Is this fixed now?

[2019-07-18 23:31] AndreyPlotkinOr commented on #30647
Having the same issue here: https://github.com/tensorflow/tensorflow/issues/30552

[2019-07-19 00:25] tgs266 commented on #30811
I am getting the exact same error. Anybody have any way to fix this?

[2019-07-19 00:31] milinddeore commented on #30593
@ravikyram I got this issues using both my code as well as with c++ code on Tensorflow.

[2019-07-19 00:48] gmt710 commented on #24499
@jesen8 hello,I wrote the installation instructions.May you follow this:[windows+bazel+tensorflow-v1.12.0(GPU)](https://blog.csdn.net/qq_35975447/article/details/91986142).

[2019-07-19 01:42] guizili0 opened #30865 "TF2.0 is graph_transform still available in TF 2.0?"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-07-19 02:08] moshimo2019 opened #30866 "Tensorflow 2.0 add regularization losses"
<em>In Tensorflow 1.x, I can add regularization losses by using code like this:
`regularization_loss = tf.add_n(tf.losses.get_regularization_losses(), 'regu')`
`total_loss = loss + regularization_loss`
But in tensorflow 2.0.0beta1 api, the 'losses.get_regularization_losses()' was canceled.So how can I add that loss In this case?

**System information**
- TensorFlow version :2.0.0beta1

[2019-07-19 02:19] Daya-Jin commented on #12733
Same problem. I want to do validation when traning, but meet the ```Incompatible shapes``` err. I don't know what shape the ```GreedyEmbeddingHelper``` is.

[2019-07-19 02:30] yongtang commented on #30849
I think the issue is that, `make_csv_dataset` will try to probe the column name automatically if not present. In order to "probe" the column automatically, it use python's `csv` module to check for the first line of the file. But the compression_type was not accounted for in this situation.  Once column is available then internally CsvDataset process the file correctly, though.

Created a PR #3086

[2019-07-19 02:59] bluehope commented on #30834
Hi,
Thank you for prompt PR.
I've updated the comment to not to take `dtype` as argument (not to change the specification of keras).
Thank you.

[2019-07-19 02:59] FantasyJXF commented on #26572
Same here running my Tensorflow multiprocess code with cuda 10, TF 1.13.1, python 3.6.8

[2019-07-19 03:05] jetjodh commented on #13127
@arnaldog12 Will this repo work with tf v1.14?

[2019-07-19 03:25] Daya-Jin commented on #12733
A stupid approach is set ```batch_size=1``` when validation.

[2019-07-19 03:28] aijianiula0601 commented on #15060
I encoutered the same problem.How to save it ,thanks!

[2019-07-19 04:11] theiron97 opened #30868 "Tensorflow on Jetson TX2's performance suddenly decrease, don't know reason"
A week ago, I run my face-id project, that achieved 7fps, but now, after one week, I dont know why my project just achieve 3-4 fps, I dont modify source code and any dependency library.

**Project**: Face-Id based on Tensorflow (FaceNet)
**OS**: Ubuntu 16.04
**Board**: Jetson TX2
**Cuda/CuDNN**: 9.0/7.1.5.14
**Tensorflow**: 1.9.0

[2019-07-19 04:25] Deepak-HpyAda commented on #30645
Hi, I am able to convert tensorflow model to tensorflowlite model through this code

**tflite_convert --output_file=/Users/deepak/Desktop/Quantize/undertaker.tflite --graph_def_file=/Users/deepak/Desktop/Quantize/tflite_graph.pb --input_arrays=normalized_input_image_tensor --output_arrays='TFLite_Detection_PostProcess','TFLite_Detection_PostProcess:1','TFLite_Detection_PostProcess:2','TFLite_Detec

[2019-07-19 04:37] w4-sjcho commented on #23733
Is there a way to pass this flag when running on TPUs?

[2019-07-19 04:40] olesalscheider commented on #30808
You mean there is a mismatch in the input to Inner.call()? Yes, that is true. But this just contains a fully convolutional layer which can operate on inputs of different sizes.

Also, using the model works fine: Executing for example `infer.infer_(tf.random.uniform([1, 64, 64, 8]))` instead of saving the model runs without error. If the shape mismatch was a problem it should not run. I expect that

[2019-07-19 04:49] w4-sjcho opened #30869 ""'NoneType' object has no attribute '_fetch_cloud_tpu_metadata'" when using TPU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 1.14.0

[2019-07-19 04:54] Leslie-Fang commented on #30215
same issue as: https://github.com/tensorflow/tensorflow/issues/30691
Please refer to this PR: https://github.com/tensorflow/tensorflow/pull/30707
I try it and fix this issue

[2019-07-19 05:15] lengoanhcat commented on #22094
Please reopen the issue:

OS Platform and Distribution: Linux Ubuntu x86_64 - 4.15.0-52-generic (kernel)
TensorFlow installed from: conda 4.7.5
TensorFlow version: 1.13.1
Bazel version: N/A
CUDA/cuDNN version: 10.0
GPU model and memory: Tesla V100-SXM2-16GB
Exact command to reproduce:
Mobile device: N/A

`
import tensorflow as tf
import numpy as np

config = tf.ConfigProto()
config.gpu_options.all

[2019-07-19 05:16] Leslie-Fang commented on #30215
The reason when we comment this line:
#d = tf.constant([5, 6, 7, 8, 9, 10], dtype=tf.int32)
would fix the issue is that: the nodes numbers need to be greater than 4 then that the code would go through this optimization path(which cause the problem).
Please refer to this code, if you change the min_graph_nodes larger than 4, the problem wouldn't happen
[code]

Could anyone help to have a review of

[2019-07-19 05:23] anush-o commented on #30864
@sajagkc11 ,
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.Thanks!

[2019-07-19 05:31] hiteshnitetc commented on #30640
@gadagashwini Ok, thnx

[2019-07-19 05:34] covertg opened #30870 "Post-Training Integer Quantization on Models for 'Edge' / Coral TPUs"
**System information**
- Have I written custom code: Yes (below)
- OS Platform and Distribution: Arch
- TensorFlow installed from (source or binary): Binary (pip)
- TensorFlow version: v2.0.0-beta0-17-g8e423e3
- Python version: 3.7.3

**Description**
I'm interested in using TF2.0's ```tf.function``` to build graphs that can be run on an Edge TPU. As that device only supports (8-bit) integer quanti

[2019-07-19 05:36] jvishnuvardhan commented on #30863
@aspenlin Please check software requirements for Cuda10 [here](https://www.tensorflow.org/install/gpu#software_requirements).

[code]

Looking at error trace, I strongly feel CUDA drivers were not compatible to load CUDA10. Tensorflow correctly detects your GPU, but cuDNN you have is 3.7 (major 3 and minor 7) where as the requirements say it is compatible with >=7.4.1. I would say, please check NV

[2019-07-19 05:48] gadagashwini commented on #30835
@ssable , I tried executing the given code on Colab with Tensorflow 1.14.0 with GPU activate. I didn't get any error. Can you check once and let us know, is still an issue. Thanks!

[2019-07-19 05:56] gadagashwini commented on #30832
@michisaak Please provide any commands you followed to convert Tflite model.Thanks!

[2019-07-19 05:58] gadagashwini commented on #30829
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-07-19 05:58] #30829 closed

[2019-07-19 05:58] ravikyram commented on #30839
Just to verify did you get chance to follow instructions from [TensorFlow](https://www.tensorflow.org/install/source_windows) website .Please, let us know. Thanks!

[2019-07-19 06:06] jiarongqiu opened #30871 "TensorRT INT8 Calibration Table is Missing"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-07-19 06:06] gadagashwini commented on #30601
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-19 06:06] #30601 closed

[2019-07-19 06:10] Nayana-ibm commented on #16364
Looks liked fixed by https://github.com/tensorflow/tensorflow/issues/16540.
This issue can be closed

[2019-07-19 06:12] Nayana-ibm commented on #11290
Looks liked fixed by #16540.
This issue can be closed

[2019-07-19 06:22] jusonn commented on #30738
@anush-o
Thanks for reply.
Since this is my first issue report, I'm confusing how much code should I share.
Would you let me know how much code snippet is needed?
I think it's not the entire code.

[2019-07-19 06:34] sayanmandal commented on #30601
This solved the problem:

bazel build --config cuda --strip=never -c dbg --copt="-DNDEBUG" //tensorflow/tools/pip_package:build_pip_package

[2019-07-19 06:35] tangjie77wd commented on #30580
I have the same warnings so i want to know if you have solved the warnings in your outputs: **(One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line

[2019-07-19 06:40] tangjie77wd commented on #30308
@czgdp1807 @amitml Have you solved the warnings since i have the same warnings with you ?

[2019-07-19 06:47] tangjie77wd commented on #29878
@el1995  I have tried what you said as the followings:
`
#include "c_api_experimental.h"
TF_SessionOptions* options = TF_NewSessionOptions();
TF_EnableXLACompilation(options,true);
`
but the output is **collect2: error: ld returned 1 exit status** when compiling.

[2019-07-19 06:50] tangjie77wd commented on #28996
@x666633  Hello,have you solved this problem? I have the same with you .

[2019-07-19 07:00] czgdp1807 commented on #30308
@tangjie77wd I haven't figured out a way yet to silence the warnings. We are planning to leave them as it is in the travis logs.

[2019-07-19 07:02] czgdp1807 commented on #30308
@sanjoy @tpopp  any updates on how to silence the warning since we are not planning to use XLA for testing purposes.

[2019-07-19 07:06] rjurney commented on #15846
This is very confusing. What does the loss function want?

[2019-07-19 07:12] tangjie77wd commented on #30308
@czgdp1807  Well,the performance is poor if i do not handle with it.

[2019-07-19 07:21] FantasyJXF commented on #8220
That would be very slow when inference, since import TensorFlow and load model consume seconds

[2019-07-19 07:34] mmmmayi opened #30872 "cna't use tf.image.resize_images in TFLite"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 18.04.2
- TensorFlow installed from (source or binary):binary
- TensorFlow version (or github SHA if from source):1.13.1

**Provide the text output from tflite_convert**

[code]

I think the error happened because of using function of tf.image.resize_images:
```stft = tf.image.resize_images(stft, (128, 12

[2019-07-19 07:36] ivankreso opened #30873 "TF2: Memory leak during implicit conversion from EagerTensor to numpy"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): tensorflow-gpu==2.0.0-beta1
- Python version: 3.7
- CUDA/cuDNN version: 10.0 / 7.5
- GPU model and memory:

[2019-07-19 07:39] AmitMY commented on #30748
I wouldn't say 1080Ti is slow...
I also tried on a server with 4 Titan X Pascals.

I can't attach the full log including `log_device_placement`, as it is at least 100 times the size of my console buffer.
Without that flag:

Titan X log output:

[2019-07-19 07:51] pandrey-fr commented on #30834
No problem, thank you for spotting and reporting the bug!

If you want to integrate the fix (which is really nothing in terms of coding effort) in your local installation without waiting for the PR validation process, you may simply update the `<somewhere on your computer>/site-packages/tensorflow/python/tensorflow/keras/layers.noise.py` file and it should work.

[2019-07-19 07:55] tlkh commented on #30729
@jw447 can you share which exact script you are using to run the benchmark?

The 3x speed-up reported on [this page](https://devblogs.nvidia.com/nvidia-automatic-mixed-precision-tensorflow/) includes **doubling the batch size to 256**. This could explain the bulk of the difference.

In addition, I noticed that you are using CUDA 9.2 (and most probably a older version of cuDNN as well). Simply upgr

[2019-07-19 08:11] gadagashwini commented on #30820
@patelprateek Please provide the reproducible code to expedite the trouble-shooting process. Thanks!

[2019-07-19 08:11] andreyhristov commented on #27697
Hi,
what I did for my program was to pass a -I param to the compiler, so it does know where to look for the files.
I use a Makefile, and also export a TENSORFLOW_PATH variable, which contains the path to the headers. The headers can be extracted with a bazel target. For me the flag to gcc is :
-I$(TENSORFLOW_PATH)/external/protobuf_archive/src

[2019-07-19 08:12] anush-o commented on #30843
@rishabhsahrawat ,
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here and also mention the TF version being used. Thanks!

[2019-07-19 08:15] gadagashwini commented on #30721
@leops95 Looks like you found a workaround. Can we close this issue. You can update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-19 08:16] anush-o commented on #30831
@sjtusmartboy ,
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?
Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue

[2019-07-19 08:18] gadagashwini commented on #30601
Glad it resolved.

[2019-07-19 08:23] jinfagang commented on #28222
@gadagashwini  How to using  cmake in 2.0? It does not released yet but our full product has been update into tensorflow 2.0

[2019-07-19 08:23] MischaPanch commented on #28287
In case you want to configure your session (which I had to do), you can pass the config in this parameter. Else just leave it out.

[2019-07-19 08:37] VIGS25 commented on #30858
That worked, yes, thanks!

[2019-07-19 08:37] #30858 closed

[2019-07-19 08:37] gison93 opened #30874 "base64 strings contains " ""
## URL(s) with the issue:
https://www.tensorflow.org/api_docs/python/tf/io/decode_base64

## Description of issue (what needs changing):
Some base64 strings contains  " ".
### Clear description
It could be useful to add this information after this paragraph:

[2019-07-19 08:40] anush-o commented on #30738
@jusonn ,
Thanks for response. Please provide us the code with which we can replicate the issue.

[2019-07-19 08:50] anush-o commented on #30753
@bonlime ,
This is Tested and existing compatibility of CUDA and TF versions. In order to use CUDA 9.0 you can downgrade the TF version to 1.12.Thanks!

[2019-07-19 08:53] #30721 closed

[2019-07-19 08:54] rishabhsahrawat commented on #30843
@anush-o thank you for your questions.
I am using TF2.0 as I mentioned it in the Title.
I am using the exact same code as this [example](https://www.tensorflow.org/beta/tutorials/load_data/text#split_the_dataset_into_text_and_train_batches) provided by TF except before the model definition I added 2 lines for the multiple GPU support. The lines are
`mirrored_strategy = tf.distribute.MirroredStrate

[2019-07-19 08:58] gadagashwini commented on #28222
@cdluminate We don't provide support for the CMake build, instead use Bazel. Please find the instructions mentioned in the [Tenosrflow](https://www.tensorflow.org/install/source) website.Thanks!

[2019-07-19 09:04] anush-o commented on #30804
@olesalscheider ,
When i executed the given code with dilation_rate == 2, i got the error `KeyError: 'conv2d_4/dilation_rate`. Can you confirm if the same error is faced. Thanks!

[2019-07-19 09:06] Chintan-1991 commented on #30160
i was facing the same error on my system.

[2019-07-19 09:08] Mouradost commented on #30160
how did you solve it then?

[2019-07-19 09:23] oracle3001 commented on #30839
Yes, that is the guide I followed. As I say, with v1.14, it builds everything as expected, following the same procedure with v2.0.0, it builds without errors with the main libraries builts, however the directory that usually contains things such as _pywrap_tensorflow_internal.lib has not been created.

[2019-07-19 09:25] ialdencoots commented on #30430
Whether or not 1e-5 is significant depends on the application. Setting greater tolerance values only removes errors from comparisons in test cases, it doesn't resolve the issue.
With respect to this behavior, it is deterministic. If you give the same sample in a batch with the same number of samples you always get the same value. The values returned by inference should not depend on the batch size

[2019-07-19 09:26] junhwanjang commented on #26297
@jsolves As I tested gpu inference with basic 3-channel input model, I couldn't get right results.
However, when I changed model with 3-channel into fake 4-channels input (using new Input and strided_slice ops), finally get right results :)

[2019-07-19 09:29] zhengxiawu commented on #27872
The bug still exists in 1.14,  does any knows how to fix it?

[2019-07-19 09:33] kerolos opened #30875 "getting unexpected result from customize pre-Training model form Keras (Xception model) in C++ after freezing the model .pb ."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution  (debian 9.1):
- TensorFlow installed from (source):
- TensorFlow version (13.1):
- Python version: python 3.5
- Bazel version (11):
- CUDA/cuDNN version: 10
- GPU model and memory: 32 GB, GTX 1080 TI

**Describe the current behavior**
I am wonderi

[2019-07-19 09:42] ssable commented on #30835
Thank you for your feedback.
I tried again and indeed the code works fine. Sorry for the confusion.

I modified the example above to add MirroredStrategy() which is what is causing the issue. You should be able to reproduce the bug this time.

[2019-07-19 10:04] ramrahu commented on #30349
Hi this suggestion solved that error. But I am getting a new error now
**java.lang.IllegalStateException: Internal error: Unexpected failure when preparing tensor allocations: tensorflow/lite/kernels/concatenation.cc:68 t->dims->size != t0->dims->size (1 != 2)Node number 27 (CONCATENATION) failed to prepare.**
Any idea how to fix this??

[2019-07-19 10:15] guangyuyan commented on #29347
def tfrecord_input(parallel_reads_per_file, parallel_parse, prefetch_buffer_size, shuffle_buffer_size,
				   batch_size, epochs, input_files):
	dataset = tf.data.TFRecordDataset(input_files, num_parallel_reads = parallel_reads_per_file)
	# dataset = tf.data.Dataset.from_tensor_slices(input_files)
	dataset = dataset.map(parser, num_parallel_calls = parallel_parse)
	dataset = dataset.shuffle(shuffl

[2019-07-19 10:17] guangyuyan commented on #29347
def tfrecord_input(parallel_reads_per_file, parallel_parse, prefetch_buffer_size, shuffle_buffer_size,
				   batch_size, epochs, input_files):
	dataset = tf.data.TFRecordDataset(input_files, num_parallel_reads = parallel_reads_per_file)
	# dataset = tf.data.Dataset.from_tensor_slices(input_files)
	dataset = dataset.map(parser, num_parallel_calls = parallel_parse)
	dataset = dataset.shuffle(shuffl

[2019-07-19 10:19] olesalscheider commented on #30804
No, I get this error with the testcase:

[code]

Which version of tensorflow do you use? I used the current master branch.

[2019-07-19 10:24] drpipespromzy opened #30876 "tensorflow issue. I have installed keras and tensorflow but still get issues loading data"
ImportError                               Traceback (most recent call last)
~\Anaconda3\envs\AirtificialIntelligence\lib\site-packages\tensorflow\python\pywrap_tensorflow.py in <module>
     57
---> 58   from tensorflow.python.pywrap_tensorflow_internal import *
     59   from tensorflow.python.pywrap_tensorflow_internal import __version__

~\Anaconda3\envs\AirtificialIntelligence\lib\site-package

[2019-07-19 10:47] dekromp commented on #30711
@pavithrasv
That did the trick. Thanks for helping out.

[2019-07-19 10:47] #30711 closed

[2019-07-19 10:49] guangyuyan commented on #30457
hi nolan,jsimsa,
does this mean
change from
handle = tf.placeholder(tf.string, shape=[])
iterator = tf.data.Iterator.from_string_handle(handle, training_ds.output_types, training_ds.**output_shapes**)

to
handle = tf.placeholder(tf.string, shape=[])
iterator = tf.data.Iterator.from_string_handle(handle, training_ds.output_types, training_ds. **output_classes**)

thanks!

[2019-07-19 10:52] ElPapi42 commented on #30533
Any advance on this? its really annoying

[2019-07-19 11:00] Mouradost commented on #30160
So I think I did solve the problem actually I had python 32bits and because everything else was on 64bits, it was causing conflict however now I have a new problem, it said that :
ImportError: Could not find 'cudart64_.dll'. TensorFlow requires that this DLL be installed in a directory that is named in your %PATH% environment variable. Download and install CUDA  from this URL: https://developer.nv

[2019-07-19 11:01] mihaimaruseac commented on #30160
The link for installing CUDA is given in the error message you're quoting.

I think the issue now is that the directory you installed CUDA to is not in the %PATH% directories.

[2019-07-19 11:04] Mouradost commented on #30160
the link was for cuda toolkit 9.0 and I actually did include it in the %PATH
![Annotation 2019-07-19 190420](https://user-images.githubusercontent.com/17816194/61530950-12288480-aa58-11e9-8b43-53dedc8d7f2f.png)
%

[2019-07-19 11:13] richardwth commented on #24823
According to [this blog](https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md), odeint is going to be moved to tensorflow/scientific, but I have not found the API documentation for this yet. Guess we'll have to wait.

[2019-07-19 11:18] Mouradost commented on #30160
I did actually find it in my files but under the name of cudart64_101.dll
![Annotation 2019-07-19 191709](https://user-images.githubusercontent.com/17816194/61531630-faea9680-aa59-11e9-954e-40b40bd9e8a7.png)

[2019-07-19 12:05] carlthome opened #30877 "Feature request: 24-bit audio support in tf.audio.decode_wav"
**System information**
- TensorFlow version (you are using): 1.14
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
I'm working with music data of "DVD-quality" i.e. 48 kHz / 24-bit WAV and want to read the files into a `tf.data` pipeline for model training via `tf.io.read_file` and `tf.audio.decode_wav` but unfortunately I got caught up on

[2019-07-19 12:49] reemawits opened #30878 "Cors Policy issue - tensorflowjs teacheable machine learning algorithm"
Hello,
We are trying to execute tensor flow Javascript machine learning algorithm wherein we are getting CORS Policy issue.
Below URL referred -
https://codelabs.developers.google.com/codelabs/tensorflowjs-teachablemachine-codelab/index.html#0

Please note : Few days back it was running successfully but from last two days it is throwing CORS issue.

Refer attachment
![TensorFlowGlitchError](https:

[2019-07-19 13:11] ElPapi42 commented on #30533
I discover something, in the code above, i make sigmoid the activation of the lstm for get rid of:

`2019-07-19 09:01:52.787220: W tensorflow/core/grappler/optimizers/implementation_selector.cc:199] Skipping optimization due to error while loading function libraries: Invalid argument: Functions '__inference___backward_cudnn_lstm_395_571' and '__inference___backward_cudnn_lstm_395_571_specialized_f

[2019-07-19 14:03] bravenoob commented on #22341
Any changes with this feature?

[2019-07-19 14:07] hansamann commented on #30878
Same here - this worked a few days ago.

Now, the JS is served via CORS and the response does not have a cors header that allows my browser to load the content. For libraries like these, there's either no cors or cors is set to allow all * origins.

Any fix?

[2019-07-19 14:34] ElPapi42 commented on #30533
Obviously the Unsupported Type 21 Error is something that must be checked, there is something broke

[2019-07-19 14:50] sajagkc11 commented on #30864
Model Name:	MacBook Pro
  Model Identifier:	MacBookPro11,3
  Processor Name:	Intel Core i7
  Processor Speed:	2.5 GHz
  Number of Processors:	1
  Total Number of Cores:	4
  L2 Cache (per Core):	256 KB
  L3 Cache:	6 MB
  Hyper-Threading Technology:	Enabled
  Memory:	16 GB
  Boot ROM Version:	153.0.0.0.0
  SMC Version (system):	2.19f12
  Serial Number (system):	C02NF1XAG3QD
  Hardware UUID:	411A542B

[2019-07-19 14:58] jeet4690 commented on #30693
@anush-o after trying that it gave me this error

`ValueError: No model found in config file.

![Screenshot from 2019-07-19 20-23-04](https://user-images.githubusercontent.com/32290207/61544538-51100780-aa63-11e9-895c-ce9408c96c10.png)

`

[2019-07-19 15:00] leops95 commented on #30721
@gadagashwini problem solved. I had to update numpy and suppress pandas FutureWarning using

[code]

Thanks again for the help !

[2019-07-19 15:02] aspenlin commented on #30863
Yep you are right. Somehow AWS installs CUDA for you but some of the libraries are missing. I solved the problem by 'sudo yum install cuda-libraries-10-0' and install new cudnn. And now tensorflow.test.is_gpu_available() returns True!

[2019-07-19 15:02] #30863 closed

[2019-07-19 15:19] PragmaticSoftwareSolutions opened #30879 "TFLite conversion: AudioSpectogram, Mfcc, RandomUniform not supported"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 1.13

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Include any logs or source code that would be

[2019-07-19 15:41] wdirons commented on #30856
This issue looks like a duplicate of https://github.com/tensorflow/tensorflow/issues/26826

[2019-07-19 15:42] mihaimaruseac commented on #30160
Well, that's CUDA 10.1 which is not supported in 1.13 afaik

[2019-07-19 15:55] msaitkulov commented on #26600
Had same problem,
Installing tensorflow-gpu compatible with CUDA solved the problem..
Try to search "cuda tensorflow gpu compatibility"

[2019-07-19 16:08] alicehaejungcho commented on #28287
Thank you so much! Everything is running perfectly now.

[2019-07-19 16:15] tnodelan opened #30881 "Inference on TFLite object detection model fails on run : "(num_classes_with_background - num_classes <= 1) was not true""
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, however g

[2019-07-19 16:27] gargn commented on #30830
I ran the code you provided with the model you provided on the `tf-nightly-2.0-preview` (which is a more recent beta) and I was able to convert the model successfully. For context I ran `pip install tf-nightly-2.0-preview` and have version `2.0.0.dev20190719` installed.

[2019-07-19 16:35] durandg12 opened #30882 "Dense does not flatten inputs with rank >2 and behaves exactly like TimeDistributed(Dense)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.13.6
- TensorFlow installed from (source or binary): from pip install
- TensorFlow version (use command below): v2.0.0-beta0-16-g1d91213fe7 2.0.0-beta1
- Python version: v3.6.7:6ec5cf24b7, Oct 20 2018, 03:02:

[2019-07-19 16:40] jesen8 commented on #24499
thanks!,can you give me your wchart id?

[2019-07-19 16:40] jvishnuvardhan commented on #30863
@aspenlin Thanks for posting solution here as it will help other users. Thanks again.

[2019-07-19 16:40] jesen8 commented on #24499
@gmt710

[2019-07-19 16:56] dubey commented on #22344
Closing due to inactivity.

[2019-07-19 16:56] #22344 closed

[2019-07-19 16:59] mdanatg commented on #27644
It turns out that automatically parallelizing arbitrary code is a topic very much open to research and we're unlikely to have a robust general solution any time soon.

That said, APIs like `tf.map_fn`, `tf.while_loop`, `tf.data` and `tf.distribute` are quite aggressive in parallelizing loops, even when it might not appear that they aren't. Ultimately it becomes an engineering task to profile and f

[2019-07-19 16:59] #27644 closed

[2019-07-19 17:00] guangyuyan commented on #30457
hi @nolanliou @jsimsa
"Setting the output_classes argument of from_string_handle to training_ds.output_classes will fix your issue."
does this mean fix the issue by change as below?

change from
handle = tf.placeholder(tf.string, shape=[])
iterator = tf.data.Iterator.from_string_handle(handle, training_ds.output_types, training_ds.**output_shapes**)

to
handle = tf.placeholder(tf.string, shape=[])

[2019-07-19 17:01] patelprateek commented on #30820
@gadagashwini : Please read my previous update , you can take DNNLinearCombinedEstimator provided by estimators api and try compiling with xla.
There is no need for me to share any code here (plus that is all internal code and would be hard to share , i already gave you enough information), i am talking about the pre built estimators
Also the error clearly shows what kind of feature is problematic

[2019-07-19 17:01] slerman12 opened #30883 "How to define a ReLU with TensorFlow custom_gradient?"
I'm practicing using TensorFlow's custom_gradient decorator and I tried to define a simple ReLU. One would think it would be as simple as defining the gradient to be 1 when x > 0 and 0 otherwise. However, the following code does not yield the same gradients as a ReLU:

[code]

Can someone explain to me why this standard definition of ReLU's gradient does not yield the same performance as:

[code]

[2019-07-19 17:03] chengchu88 commented on #30748
I got the same problem too.

[2019-07-19 17:04] angersson commented on #30842
The TF team doesn't provide build support for versions as old as r1.5, sorry. Please try [building the most recent release](https://www.tensorflow.org/install/source) instead.

[2019-07-19 17:04] #30842 closed

[2019-07-19 17:08] lamberta commented on #26210
Marked as fixed in b/116473083
I think this is the same issue as https://github.com/tensorflow/tensorflow/issues/26449

[2019-07-19 17:08] #26210 closed

[2019-07-19 17:10] petermattson commented on #30673
Hi Patz, this is not mine. Maybe try Tensorboard folks or xprof team?

[2019-07-19 17:11] jdduke commented on #30755
@peterszaszlateral that looks like a different issue. TFLiteObjectDetectionAPIModel is a part of the sample, not of tensorflow-lite.aar.

I'm not able to reproduce the issue with the nightly build, though. Are you able to successfully the build the classification example? https://github.com/tensorflow/examples/tree/master/lite/examples/image_classification/android

[2019-07-19 17:13] jdduke commented on #30087
Thanks for flagging this, please refer to Example A, we'll likely be removing Example B from the lite repo soon.

In practice, using `setUseNNAPI(true)` is equivalent to adding the `NnApiDelegate`.

[2019-07-19 17:23] tpopp commented on #30308
Sorry about this. The warning should not have been printed when you aren't using XLA at all. There's not any environment variable to hide this warning, but I will work on a fix in the code now.

[2019-07-19 17:31] dsgupta commented on #30855
@ppham27 How/Where do I set this mode?

[2019-07-19 17:33] doraeric commented on #28256
I just met the same problem, it looks like there is no way to get the correct palette indexes with native tensorflow. However, I solved my problem with `tf.py_func`. I'll leave my code here in case somebody finds it useful.
[code]

[2019-07-19 17:34] dsgupta commented on #30855
Further updates: I recreated the model, omitting a custom-layer using the Tensorflow Functional API. When I run that model, I can see that it parallelizes across the GPUs (to a certain extent, even though the execution % is quite imbalanced). However, with the exact same layers with my subclassed Keras model, I only ever get sequential execution.

Does the functional API have graph mode execution

[2019-07-19 17:36] AmitMY commented on #30748
Actually, works fine on the same machine hardware with CUDA Version 10.0.130
It doesn't work on CUDA Version 8.0.61

My bad, I checked CUDA version on the wrong server when reporting the issue.

Is this version of Tensorflow even supposed to work for v8? if not, I'll close this issue.

[2019-07-19 17:40] jsimsa commented on #30457
@guangyuyan please take a look at the documentation of [from_string_handle](https://www.tensorflow.org/api_docs/python/tf/data/Iterator#from_string_handle). `output_classes` is a separate argument from `output_shapes`.

[2019-07-19 17:49] tpopp commented on #30791
Hi, sorry to hear about the performance problems.

The checklist that comes to mind immediately is:
- When testing, make sure to take the graph and run it multiple times then take the lowest number. XLA is a jit, so sometimes people compare the number on the first run, and that includes the compile time. Averaging multiple runs will also have the same problem for small times like this also.
- It's

[2019-07-19 17:50] bonlime commented on #30753
The reason why opened this issue is because I expected TF 1.13 to support lower versions of CUDA as well. Looks like it doesn't.
I'll close the issue, but if anyone finds a way to compile from sources for CUDA 9.0 feel free to comment here

[2019-07-19 17:50] #30753 closed

[2019-07-19 17:58] aaroey commented on #30717
Hi @nseidl, is it possible for you to provide the `tiny-yolov3` model mentioned above for further investigation?

[2019-07-19 18:04] sanjoy commented on #30748
The failure is almost certainly because of the cuda version, going by the log:

[code]

The build probably bakes in `TF_CUDA_VERSION` as `10`.  I'm not sure if we have a build that supports older cuda version, but you could try building one for yourself to check (`configure.py` should ask you for the cuda version).

[2019-07-19 18:10] jw447 commented on #25724
Can someone explain why TF_GPU_THREAD_COUNT should be 2 when gpu_thread_mode is private? Why not larger numbers?

Also, how about when thread_mode is shared? Shall I have larger TF_GPU_THREAD_COUNT be larger?

Thanks!

[2019-07-19 18:15] nseidl commented on #30717
You can download the `tiny-volov3` model, as the frozen graph `tiny-yolov3_frozen.pb`.

[2019-07-19 18:39] corynezin opened #30885 "Possible GPU Memory Leak in Non-Distributed Use of `tf.estimator.train_and_evaluate`"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-07-19 18:47] jw447 commented on #30729
Hi @tlkh,

Thanks for getting back to me. The script I'm using is as follows:

args='--data_format=NCHW --batch_size=512 --num_batches=100 --model=resnet50 --optimizer=sgd --variable_update=replicated --all_reduce_spec=nccl --use_fp16=True --xla_compile=False --nodistortions --gradient_repacking=2 --datasets_use_prefetch=True --per_gpu_thread_count=2 --loss_type_to_report=base_loss --compute_lr_on

[2019-07-19 18:52] chengchu88 commented on #30748
mine combination is tf 1.13 and cuda 10.. even cuda 9 is not working.

On Fri, Jul 19, 2019 at 10:44 AM Amit Moryossef <notifications@github.com>
wrote:

[2019-07-19 18:56] ezhulenev commented on #30533
This was fixed in https://github.com/tensorflow/tensorflow/commit/24174643a75e819b8ce01fd70d45d03616e50071, should be in nightly build

[2019-07-19 18:57] ezhulenev commented on #30533
For the implementation selector problems I think there is work in progress by @qlzh727.

[2019-07-19 19:04] haoyuz commented on #25724
When `TF_GPU_THREAD_MODE` is set to `gpu_private`, then `TF_GPU_THREAD_COUNT` is the number of threads **per GPU** for kernel launching. For some reference / benchmark models we find using 1 or 2 threads per GPU perform well. You can customize it to larger numbers, but be aware of contention if the total number of GPU private threads, data processing threads, and other CPU computation threads.

Wh

[2019-07-19 19:07] ElPapi42 commented on #30533
Can you give the pip command for indtal tf2.0 nightly build?

[2019-07-19 19:25] jdduke commented on #30349
What are the dimensions of your inputs? I believe the model requires 4 inputs, but I see you only provide 2 (input_node[1,16,19,26], previous_state_c[1,2048], previous_state_h[1,2048], input_samples[512]).

[2019-07-19 19:31] dlepzelter commented on #30770
Apologies for taking so long; I wanted to ensure the sample had the same problem, and for unrelated reasons ended up having to do a pretty thorough reinstallation on my system. The same problem still comes up with the data set I'm attaching.
[trainingfile.zip](https://github.com/tensorflow/tensorflow/files/3412470/trainingfile.zip)

[2019-07-19 19:32] skeydan commented on #30665
Sorry for commenting on a closed issue, but reg.

Did you compile 1.14 manually against CUDA 10.1? As per the documentation and from experience

[code]

neither 1.14 nor the nightly, nor the nightly-tf2-preview, work with CUDA 10.1...

@ravikram could you please reopen this?

Many thanks!

[2019-07-19 19:36] alextp commented on #30702
@azaks2 do you know off the top of your head what could cause this?

[2019-07-19 19:38] alextp commented on #30545
Can you send a PR removing const from this struct?

[2019-07-19 19:44] bionicles commented on #30659
these both work for us now, might require some tf.squeeze action for other applications

[code]
highly cool if fast distances were supported by TF team, also Sinkhorn / OT and Higher Order SVD, Normalized Compression Distance could be good loss for many many applications, but there's not a clear way to compress tensors for this metric in TF 2.0

[2019-07-19 19:52] jdduke commented on #30799
Rather than using mvn to install your .aar, you can also add a "libs" folder in your Android Studio project, put your `tensorflow-lite-with-select-tf-ops.aar` file there, and modify your gradle project with:

[code]

[2019-07-19 19:56] jdduke commented on #30793
Is this a quantized model? If so, can you provide a link?

[2019-07-19 20:13] xinsu626 commented on #30665
@skeydan Hi,

Sorry I just checked my server and the CUDA version is 10.0(`Cuda compilation tools, release 10.0, V10.0.130`) instead of 10.1.

I didn't compile 1.14 manually. I used pip to install it. `python3.6 -m pip install tensorflow-gpu`. I also ran the code below with CUDA 10.0 and tensorflow 1.14, and there was no error.

[code]

[2019-07-19 20:16] guptapriya commented on #30850
Hi - we don't support saving with hdf5 format. However, you can save and restore with the standard TF format - just remove the hdf5 extension from the file path. See https://www.tensorflow.org/beta/tutorials/distribute/save_and_load for more information.

[2019-07-19 20:16] #30850 closed

[2019-07-19 20:16] alextp commented on #30702
@azaks2 replied offline:

1. A profile would be nice
2. We do not generally encourage inference via python, so python gc comes to mind
3 We overlap with the computation of next_batch

[2019-07-19 20:17] guptapriya commented on #28599
This works now with the latest 2.0 nightly. Please check out https://www.tensorflow.org/beta/tutorials/distribute/save_and_load for more details.

[2019-07-19 20:17] #28599 closed

[2019-07-19 20:25] alextp commented on #30763
Sorry, there are a lot of issues raised here, let me tackle them one by one.

This is tricky. In eager mode we can make shapes always available, but in graph mode it often makes sense to work with partially specified shapes, as this lets you build valid graphs in more circumstances.

Note that working with tf.shape() should give valid results in both eager and graph modes (as we can constant-fold

[2019-07-19 20:27] ssusie commented on #30191
It didn't work for me. Still getting that error.

[2019-07-19 20:28] woodshop commented on #23101
I also ran into this problem (using TF 1.14.0 and 2.0-compatible operations). I would be curious if this behavior is considered intentional by developers.

For others who land on this issue, I've pasted an example workaround for tf.keras.layers.Conv1D:

[code]

[2019-07-19 20:40] guptapriya commented on #30847
Can you explain the behavior you would expect? I am not sure I understand

[2019-07-19 20:55] edloper commented on #27653
Yes this was fixed by 84cf4d436eb5e41b0a7b24a3a079fd20c1603594.

[2019-07-19 20:56] mjlbach opened #30887 "TF 2.0: tf.distribute example not working (NCCL all reduce issue)"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-07-19 21:00] jw447 commented on #25724
Hi @Haoyuz,

Thanks. Is this TF_GPU_THREAD_COUNT thread pool for computation? I'm not very familiar with tensorflow runtime, when you said "kernel launching", do you mean a single GPU can only use 2 threads for computation?

[2019-07-19 21:11] corynezin commented on #23898
Same issue

[2019-07-19 21:30] joglekara commented on #30767
Yes, definitely a few use cases for this feature.

The most straightforward one is if you're using a training schedule w.r.t. epoch, you may only want EarlyStopping to apply after a certain portion of the training schedule is reached.

Sounds good, I will submit a PR

[2019-07-19 21:36] haoyuz commented on #25724
Thread pool is for CPU, and this number is controlling how many CPU threads you want to schedule GPU kernels. You do not have to worry about the number of "threads" on GPU (technically GPU has different concepts controlling different levels of parallelism, and a single GPU stream running ops with a large enough batch size can usually saturate the GPU).

[2019-07-19 21:43] alextp commented on #29867
In general this is an error that is easy to fix in user code so I'd rather fix it there. It's ambiguous what to do with a floating point range.

[2019-07-19 21:43] #29867 closed

[2019-07-19 21:44] elyasmehtabuddin commented on #30580
@tangjie77wd Not sure, I don't know how to solve that warning

[2019-07-19 21:47] alextp commented on #26608
@meyerjo did you ever send a PR to fix this?

[2019-07-19 21:51] alextp commented on #29075
I recommend always getting the next element inside the function as this
should always have superior performance (more pipelining available to the
runtime)

On Wed, Jul 3, 2019 at 1:34 AM Guillaume Klein <notifications@github.com>
wrote:

--
 - Alex

[2019-07-19 21:53] yongtang commented on #30877
@carlthome do you have a sample to share? Might be able to take a look.

[2019-07-19 22:02] ymodak commented on #25472
This is fixed TF 2.0 nightly '2.0.0-dev20190718'
Thanks!

[2019-07-19 22:02] #25472 closed

[2019-07-19 22:07] sgambient commented on #30779
Hi, tried to recreate the problem with a Tensorflow Object Detection model. Looks like TF_TRT is not even able to convert.  The error I get is as follows:

`ValueError: NodeDef expected inputs '' do not match 1 inputs specified; Op<name=Const; signature= -> output:dtype; attr=value:tensor; attr=dtype:type>; NodeDef: {{node Preprocessor/map/while/ResizeToRange/strided_slice/stack}}`

**My hacked up

[2019-07-19 22:10] ymodak commented on #25938
This is fixed TF 2.0 nightly '2.0.0-dev20190718'
Thanks!

[2019-07-19 22:10] #25938 closed

[2019-07-19 22:11] ymodak commented on #26260
This is fixed TF 2.0 nightly '2.0.0-dev20190718'
Thanks!

[2019-07-19 22:11] #26260 closed

[2019-07-19 22:17] ymodak commented on #28668
This is fixed in latest TF 2.0 nightly build '2.0.0-dev20190718'
Thanks!

[2019-07-19 22:17] #28668 closed

[2019-07-19 22:17] ymodak commented on #26809
This is fixed in latest TF 2.0 nightly build '2.0.0-dev20190718'
Thanks!

[2019-07-19 22:17] #26809 closed

[2019-07-19 22:37] AndreyPlotkinOr commented on #24974
I had the same problem, building with this command:

TF 1.14
Windows 10 x64

[2019-07-19 22:43] hartikainen commented on #28668
@ymodak is the example I posted above also supposed to work with `tf-nightly-gpu-2.0-preview==2.0.0-dev20190718`? I'm still seeing the same issue (with a slightly modified script):
[code]

I get:
[code]

[2019-07-19 22:45] alextp commented on #27684
I recommend reading https://stackoverflow.com/a/42497444/433287 for a description of the most common workaround to the nan-where problem.

Eugene, I think the automatic rewrite is a little dangerous because not every single case of x log y wants to compute the (cross) entropy.

[2019-07-19 22:51] sanjoy commented on #30580
I see.

Unfortunately I'm not familiar enough with the Python API side of things to help you here.  Maybe @alextp can help, or find someone else who can help?

[2019-07-19 22:54] patzm commented on #30673
Sorry, I don't quite know what / who the xprof team is and how to reach them. Also, I doubt that this is TensorBoard specific or implemented there 🤔 .

[2019-07-19 23:12] #27086 closed

[2019-07-19 23:17] ymodak commented on #28668
@hartikainen Thanks for testing against TF 2.0  Can you please post a new issue for the same? Its better to track this separately. Thanks!

[2019-07-19 23:20] base0 opened #30891 "ffmpeg not found when build in Raspberry Pi 3 B+ Raspbian 10"
**System information**
- OS : Raspbian 10
- Device : Rasberry Pi 3 B+
- TensorFlow installed from source
- TensorFlow version: 1.9
- Python version: 3
- Installed using : I followed the instruction from https://www.tensorflow.org/install/source_rpi

I followed the instruction from https://www.tensorflow.org/install/source_rpi   The commands are copy from the link as follows:

`git clone https://gi

[2019-07-19 23:36] hartikainen opened #30892 "tf.keras.models.load_model fails on Sequential model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): `tf-nightly-gpu-2.0-preview==2.0.0-dev20190718`
- Python version: 3.7

**Describe the current behavi

[2019-07-19 23:37] hartikainen commented on #30892
Related to https://github.com/tensorflow/tensorflow/issues/28668. cc @ymodak.

[2019-07-19 23:43] sjtusmartboy commented on #30831
Ubuntu 18.10 Tf 14 compiled from source

I modify the code [here](https://github.com/tensorflow/tensorflow/blob/c174697c09737e543e1919ca5cd5cfc373a96012/tensorflow/core/kernels/training_ops.cc#L2310) in line 2310 and 2311 to be the code as follows

auto linear_square = linear * linear;
auto linear_square_sum = linear_square.sum();
Eigen::Tensor<T,0> _linear_l21_norm = linear_square_sum.rsqrt();
au

[2019-07-20 01:18] atoyissan commented on #30191
it work for me. Thank you

It work for me. Thank you

[2019-07-20 01:52] fabio11c commented on #30191
Works for me, thanks!

[2019-07-20 02:19] guangyuyan commented on #30457
it works, appreciate!

[2019-07-20 02:31] gmt710 commented on #24499
@jesen8 hi,Can you email me, OK?

[2019-07-20 02:54] jvishnuvardhan commented on #30254
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-20 02:54] #30254 closed

[2019-07-20 02:56] Ryandry1st commented on #29545
Any luck on this issue? One option for the data is of course just randomly generating x and y values. It does not matter what data is fed into the network, only that it is a trained subclassed network that is attempted to save

[2019-07-20 03:23] zh794390558 opened #30894 "tf.TensorArray with Defun"
when using Defun under tf 1.x, the tf.TensorArray input will degrade to a Tensor.

[code]

without Defun decorator,  everything is ok

[code]

[code]

[2019-07-20 04:55] breadbread1984 commented on #24823
thx

[2019-07-20 05:04] ramrahu commented on #30349
The ones that you mentioned are the dimensions. I've attached my code file. Maybe you will be able to help me better in clearing the error. And apologies I forgot to mention one thing. I changed the model from the pretrained model to my model. I trained the same architecture mentioned above with my data. The latest error I posted is from my model. I've commented the lines giving me the error.
publ

[2019-07-20 05:33] shoyer commented on #24823
We have a BDF solver in TF-probability now. If anyone is interested in porting over the RK45 solver from tf.contrib.integrate to TF probability, that would be very welcome.

[2019-07-20 05:58] Mouradost commented on #30160
I guess it is on 1.14 but I have the same error with it

[2019-07-20 06:33] khazali commented on #30687
Thanks for your considerations. However, I have compiled the master branch (since there was no change in release_1.14.0), and the error still persists. The compiler log can be accessed here:
https://github.com/khazali/TensorflowOutput/blob/master/Out.txt

[2019-07-20 06:39] aakashaakad730 commented on #9241
AttributeError: module 'tensorflow' has no attribute 'constant'
how to solve this

[2019-07-20 06:47] PINTO0309 commented on #30359
Although I do not have C language implementation skills, I tried to generate a binary for RaspberryPi of Tensorflow v1.14.0. I have not confirmed the operation.
https://github.com/PINTO0309/Tensorflow-bin.git

[2019-07-20 07:40] kuri-leo opened #30895 "[TF 2.0] autograph issue"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes

- OS Plat

[2019-07-20 08:15] SamuelMarks opened #30896 "Standard way of sharing architectures?"
**System information**
- TensorFlow version (you are using):
1.14, and sometimes the latest v2 pre-release
- Are you willing to contribute it (Yes/No):
Yes

**Describe the feature and the current behavior/state.**
Found a number of interesting architectures on GitHub. Starting making PRs to them, to support Python 2.7–3.6, and soon for proper setuptools integration.

The [Dataset](https://www.tens

[2019-07-20 08:46] unknownazazel commented on #30449
https://pastebin.com/bqLsRj6L
No output at all ...

[2019-07-20 08:50] ErmiaAzarkhalili opened #30897 "Inconsistency between using keras and tf.keras"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): Binary
- TensorFlow version: Tensorflow 2
- Python version: 3.6.8
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): N

[2019-07-20 08:57] paythonme commented on #26376
i got this error when i install gast
ERROR conda.core.link:_execute_actions(337): An error occurred while installing package 'defaults::tqdm-4.32.1-py_0'.
CondaError: Cannot link a source that does not exist. C:\Python-Anaconda\Anaconda3\Scripts\conda.exe
Attempting to roll back.

[2019-07-20 11:44] Zoltrix commented on #27112
can confirm @krisives solution solved this issue :)

[2019-07-20 11:44] themightyoarfish opened #30898 "Makefile build does not create contrib ops"
**System information**
- OS Platform and Distribution: MacOS
- TensorFlow installed from (source or binary): Source
- TensorFlow version: c6352706d6280d7ed34964969503b104471a9335
- Bazel version (if compiling from source): not used
- GCC/Compiler version (if compiling from source):
[code]

**Describe the problem**

When compiling with `tensorflow/contrib/makefile/build_all_linux.sh`, the following

[2019-07-20 11:53] liupengkd opened #30899 "failed to “sudo bazel build -c opt --config=cuda --verbose_failures //tensorflow:libtensorflow.so”"
I want to compile tensorflow‘ c library version
system info：
  ubuntu 16.04
  bazel 0.19.2
  tensorflow 1.13
  gpu RTX 2080 Ti
  cuda10.0
  cudnn 7.4.2

steps：
1.Install bazel by sh file
2.git clone --recursive https://github.com/tensorflow/tensorflow
3.git checkout r1.3
4.sudo ./configure
5.sudo bazel build -c opt --config=cuda --verbose_failures //tensorflow:libtensorflow.so

error:
 Starting lo

[2019-07-20 12:23] tensorflowbutler commented on #28211
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-07-20 12:59] FlamesoFF commented on #18329
Same error after completing these instructions: https://www.tensorflow.org/install/pip

[2019-07-20 13:26] czgdp1807 commented on #30308
@tangjie77wd set `TF_XLA_FLAGS=--tf_xla_cpu_global_jit` for using XLA as far as I can figure out from the warning message. This will improve the performance.

[2019-07-20 13:27] czgdp1807 commented on #30308
@tpopp Thanks, waiting for this issue to be closed via some PR.

[2019-07-20 14:24] mmv commented on #29075
@alextp I understand that as much as possible should be done inside the function, but that's not practical since the training loop will probably not be that simple.

If you're handling varying-length data, it means things like keras' `.fit()` will likely not work for you and so you'll need to write your training loop from scratch, including everything you might need from metrics to progress tracke

[2019-07-20 14:55] Siddhant1410 commented on #8340
This did solve the Issue I've been looking for it everywhere. thank you @CNugteren

[2019-07-20 15:25] jvishnuvardhan commented on #1325
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-07-20 15:25] #1325 closed

[2019-07-20 15:35] tlkh commented on #30729
In TensorFlow 1.14, automatic mixed precision is available via the `tf.train.experimental.enable_mixed_precision_graph_rewrite` function call.
Here's a simple example how to use it with tf.keras. The usage in TensorFlow is very similar, just wrap a `tf.train.Optimizer` instead.

[code]

[2019-07-20 15:37] jeet4690 opened #30900 "ERROR: saved_model_cli"
working on ubuntu 18.4

tensorflow version 2.0.0b1

I am trying to find `output_node_names` with the help of command `saved_model_cli show --dir DIR_PATH --all`

got this ERROR `OSError: SavedModel file does not exist at: DIR_PATH`

this is my SAVED MODEL

![Screenshot from 2019-07-20 21-06-51](https://user-images.githubusercontent.com/32290207/61580704-5b4d0700-ab32-11e9-8fac-7fc38ab4b00b.png)

[2019-07-20 15:54] ErmiaAzarkhalili commented on #15831
It's there any solution to resolve this issue?

[2019-07-20 16:04] jvishnuvardhan commented on #28211
@closing this issue as it is duplicate of https://github.com/tensorflow/tensorflow/issues/28309. Please let me know if I'm mistaken.Thanks!

[2019-07-20 16:04] #28211 closed

[2019-07-20 16:21] Daniel451 commented on #28010
Same problem here. Is this being worked on?

[2019-07-20 16:52] ErmiaAzarkhalili commented on #26502
Thanks, but is it pythonic solution? It seems circumvention to me, not a real solution.

[2019-07-20 18:27] mihaimaruseac commented on #30160
Not really supported there either. From what I remember the CUDA 10.1 support is only partial

[2019-07-20 18:45] virginie-do opened #30901 "Issue with AttentionWrapper and non unique key dictionary in feed_dict"
Hello,

I would like to use Bahdanau Attention in a decoder, using tf.dynamic_rnn

For my decoder, I am feeding the previous state of AttentionWrapperState at each time step.

[code]

I am feeding the state as follows
[code]

And I get this error :

`ValueError: Could not flatten dictionary: key Tensor("lstm/lstm/attention_wrapper/Softmax:0", shape=(?, ?), dtype=float32) is not unique.`

I printed

[2019-07-20 19:19] yongtang commented on #30576
Added a PR #30902 for the fix.

[2019-07-20 19:48] ZHTLoveYC opened #30903 "Duplication indices in the results of hessian_vector_product()"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code.
- OS Platform and Distribution: Ubuntu 18.04.
- TensorFlow installed from pip
- Te

[2019-07-20 20:02] dzhu commented on #30850
Unfortunately, that does not resolve the issue: it makes `save_model` fail, so that the program never even gets a chance to load the model.

_With TF 1.14:_ removing the extension still defaults to HDF5, leading to the same exception, and specifying `save_format="tf"` gives this:
[code]
(I don't think it would be feasible for me to use eager execution, due to external constraints.)

_With TF 2.0:_

[2019-07-20 20:19] ymodak commented on #28367
This is fixed TF 2.0 nightly '2.0.0-dev20190718'
Thanks!

[2019-07-20 20:19] #28367 closed

[2019-07-20 20:32] ymodak commented on #30068
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-20 20:32] #30068 closed

[2019-07-20 20:41] ymodak commented on #30841
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-07-20 20:41] #30841 closed

[2019-07-20 20:42] ymodak commented on #30441
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-07-20 20:42] #30441 closed

[2019-07-20 20:44] ymodak commented on #29682
Automatically closing due to lack of response. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-20 20:44] #29682 closed

[2019-07-20 21:32] kornesh commented on #17702
As @spotiris mentioned you could just remove all the cli args by
[code]

[2019-07-20 21:34] kornesh commented on #17702
As @spotiris mentioned you could just remove all the cli args by
[code]

[2019-07-20 21:45] guptapriya commented on #30850
The error you see with 2.0 has been fixed, which version of 2.0 are you testing with?

For 1.x, maybe you need to use a different API then if that one is not supported. Do you need only the weights from the trained model or do you need the graph too?

[2019-07-21 01:59] bionicles commented on #30763
Thank you @alextp @pandrey-fr

[2019-07-21 02:40] guileryu01 commented on #29831
I'm having the same problem. It appears that build_info.py is supposed to be generated by calling gen_build_info and passing in cuda/cudnn versions via environment variables TF_CUDA_VERSION and TF_CUDNN_VERSION. However when gen_build_info is called, neither environment variable is set. More over, if I set TF_CUDA_VERSION to e.g. 101 before invoking the build, it will fail to find cuda.h - there i

[2019-07-21 02:48] praeclarum commented on #30891
I am getting the same error. I have tried it on Stretch and Buster on both version 3 and version 4 PIs without success.

[2019-07-21 03:36] ErmiaAzarkhalili commented on #30897
#15831

[2019-07-21 03:41] bojangus commented on #30532
Hi @k-w-w , anything i can do to help clarify this further?

[2019-07-21 05:07] Mouradost commented on #30160
Okay, then I will roll back to 10

[2019-07-21 05:18] dzhu commented on #30850
For TF 2.0, I have `tf.version.VERSION == '2.0.0-beta1'` and `tf.version.GIT_VERSION == 'v2.0.0-beta0-17-g8e423e3'`. I installed via `pip install tensorflow-gpu==2.0.0b1`. That is the latest released version on both [GitHub](https://github.com/tensorflow/tensorflow/releases) and [PyPI](https://pypi.org/project/tensorflow-gpu/#history), as far as I can tell.

If I understand TF correctly, I don't n

[2019-07-21 06:43] tlkh commented on #30852
Each `train_step` takes in `inp` and `tar` objects from the dataset in the training loop. Teacher forcing is indeed used since the correct example from the dataset is always used as input during training (as opposed to the "incorrect" output from the previous training step):

* `tar` is split into `tar_inp`, `tar_real` (offset by one character)
* `inp`, `tar_inp` is used as input to the model
* mo

[2019-07-21 07:21] panfeng-hover commented on #13463
Fixed by increasing the number of tf record shards.

To check tf record files:
[code]

[2019-07-21 07:50] MovGP0 opened #30905 "Failed to install tensorflow-estimator"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows 10.0.18362.0

- Mobile

[2019-07-21 08:56] colmantse commented on #14252
hi @ebrevdo , since this issue has been closed, just wondering if the feature has been implemented. thanks much!

[2019-07-21 09:38] ageron commented on #30768
Thanks @alextp, I know it is WAI, this issue is about the error message, as I wrote earlier:
"This issue is about the error message, not the error itself (I should have called the variable's assign() method)."

[2019-07-21 09:40] #30769 closed

[2019-07-21 10:34] littleDing commented on #30441
I think the codes above is clearly enough.
It looks like the implementation of file_io module has choose to use a PUT method which suffers when uploading object too large.

Or do I miss anything?
Is there any document or api guilds to manipulate the s3 options to use a Multipart Upload?

[2019-07-21 10:47] LIUHUANUCAS commented on #18736
- have the same issue with log ``` W tensorflow/core/framework/allocator.cc:108] Allocation of 1966080000 exceeds 10% of system memory```
- how to solve it ?
- **need help**

[2019-07-21 12:21] pekaalto commented on #30094
Same problem in tf 1.14.0

[2019-07-21 12:30] j-bac opened #30906 "tf.scatter_nd_update missing"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-07-21 13:44] mabodx opened #30907 "tf.contrib.factorization.WALSMatrixFactorization( AttributeError: 'module' object has no attribute 'WALSMatrixFactorization')"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-07-21 14:04] dbonner opened #30908 "model.fit output is badly formatted in TF2 on Windows (distributed training example)"
**System information**
- Custom code: No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Windows 10
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): Tensorflow-GPU 2 beta 1
- Python version: 3.7.3 Anaconda
- CUDA/cuDNN version: 10.0 / 7.6.1
- GPU model and memory: Occurs with RTX 2080 Ti and RTX 2080 Max Q on 2 separate machines

**Descri

[2019-07-21 14:39] #30906 closed

[2019-07-21 15:06] tarrade opened #30909 "TF 2.0 nightly: tf.keras.estimator.model_to_estimator -> got an unexpected keyword argument 'use_v2_estimator'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YEs
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.14.5
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): No
- TensorFlow version (use command below): tf-nightly

[2019-07-21 15:57] eric-0x72 commented on #30191
It didn't work for me. Still getting that error.

[2019-07-21 16:30] sdmars commented on #23683
@TamirisCrepalde can you plz help me out? its not working for me. In fact, I don't know how to use conda.

[2019-07-21 17:06] kuccello commented on #28053
Hi all, I have encountered this issue consistently while working through the TF tutorial for the fashion-mnist (https://www.tensorflow.org/tutorials/keras/basic_classification).

My rig is a Razor Pro laptop (Late 2016), win 10 pro with a Thunderbolt 3 connected egpu Razor Core X Chroma housing an Asus GeForce 2080 Ti

[code]

The code executes and makes a prediction. The error code 30 seems to ha

[2019-07-21 17:42] marianopeck commented on #30359
That worked perfectly!!

[2019-07-21 17:43] lytkarinskiy opened #30910 "[TF 2.0 keras] Conv2D looses shapes with dilation rate other than 1"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Mojave
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.0.0-beta0-16-g1d91213fe7 2.0.0-beta1
- Python version: 3.7
- Bazel version (if compiling from source):

[2019-07-21 18:36] jimmyvo2410 commented on #27880
Hello all, first of all, thanks for this helpful discussion I learned alot from the last two weeks. I wish that I was good enough to contribute to the community like you guys did. Honestly, I don't really understand the stuff behind the conversion. I am stuck at the last step: **convert frozen graph to tflite model** with the error:
[code]
So it complains about Sqrt opt, which has not implemented.

[2019-07-21 18:59] chikum commented on #30191
It worked for me also.

[2019-07-21 19:00] chikum commented on #30191
conda update --all
pip install tensorflow

[2019-07-21 19:35] PhanDuc commented on #26502
Well, for loss functions ` from tensorflow.python.keras.losses import *` or simple keras `from tensorflow.python import keras` should work.

[2019-07-21 19:38] ironhide23586 commented on #28902
As far as I've looked on the internet, this seems to stem from some dimension mismatch between input tensor and expected input tensor just before a dense layer (perhaps the input is from a conv layer which needs to be flattened?).
Check out [https://github.com/tensorflow/tensorflow/issues/30303](url) - this might be of help.

[2019-07-21 20:35] danganea commented on #24496
Same problem here. Allow_growth workaround works. Otherwise I get this error on the most basic MNIST tensorflow dataset.

RTX2060 mobile here.

[2019-07-21 21:35] Uiuran commented on #30666
Agree with you, TF 2.0 beta seems to be beautifull and intuitive to use. But i would like to know how much they changed the API and the Backend

[2019-07-21 22:12] lengoanhcat commented on #22631
I am facing a similar error mentioned above. I will try my best to help resolve this issue as it benefits my work as well. Please reopen the issue @ebrevdo .

OS Platform and Distribution: Linux Ubuntu x86_64 - 4.15.0-52-generic (kernel)
TensorFlow installed from: conda 4.7.5
TensorFlow version: 1.13.1
Bazel version: N/A
CUDA/cuDNN version: 10.0
GPU model and memory: Tesla V100-SXM2-16GB
Exact com

[2019-07-21 23:33] joehoeller opened #30912 "TF-GPU v1.14 CUDA runs out of memory"
Hello TF Team,

I am hoping you can please pull down my custom TF-GPU, CUDA X, and Anaconda container solution with Jupyter. I am hoping you can assist because whatever the problem is, the fix for the container is same as Ubuntu. Link to repo, [here](https://github.com/joehoeller/Anaconda-CUDA-Accelerated-TensorFlowGPU-Development-Environment).
Here is the error when running Tensorboard and benchm

[2019-07-22 00:10] qlzh727 commented on #30639
Thanks for reporting the issue, the while loop placement issue should be solved by ca7acecce5066f518b775da339b6258fafd3db23 and f0fd2bed4d5358ebdb8bae5243c1a86fd7967f27. Could u try the code again with the tf-2.0-nightly builds?

Thanks.

[2019-07-22 01:17] joehoeller commented on #30912
I have addt'l erros and info here:
[https://github.com/joehoeller/Anaconda-CUDA-Accelerated-TensorFlowGPU-Development-Environment/issues/1](https://github.com/joehoeller/Anaconda-CUDA-Accelerated-TensorFlowGPU-Development-Environment/issues/1)

[2019-07-22 01:37] haximilian commented on #30566
@lamberta Out of curiosity, do you have any idea what happened to the original guide or where I could find it?

[2019-07-22 02:13] lamberta commented on #30566
@haximilian Yep, some of the older /api_guides are archived here in tensorflow/docs (r1.11 branch): https://github.com/tensorflow/docs/tree/r1.11/site/en/api_guides/python
Though, as you've found, there are still some links that need to be removed.
These guides mostly existed pre-module—and now modules have their own overview pages in the API docs.

[2019-07-22 02:19] sjtusmartboy commented on #3725
@ydp still in this SparseApplyFtrlOp I cannot find where the var is set to zero if var = (sign(linear) * l1 - linear) / quadratic if |linear| <= l1 , so where is the sparse solution

[2019-07-22 02:21] sjtusmartboy opened #30913 "Maybe there's a bug in SparseApplyFtrlOp for the sparse solution"
in the class SparseApplyFtrlOp from tensorflow/core/kernel/training_ops.cc

[code]

I only find the update of `var = x / y;`  directly, not considering the situation var = 0 when abs(linear) <= l1_scalar according to the paper
![ftrl_paper](https://user-images.githubusercontent.com/12267324/61602302-8a1ac880-ac6b-11e9-80dc-d982f6ebdc50.png)

[2019-07-22 02:39] Gmrevo opened #30914 "CPU.ModifyGraphWithDelegate is disallowed when graph is immutable. Delegate should run on the same thread where it was initialized.Node number 64 (TfLiteGpuDelegate) failed to invoke.ed to invoke."
<em>
-We are trying to enable GPU using GPU delegate in TensorFlow[ object detection sample project](https://github.com/tensorflow/examples/tree/master/lite/examples/object_detection/android), by taking reference from GPU enabled sample project of [Object  Classification](https://github.com/tensorflow/examples/tree/master/lite/examples/image_classification/android).-- we are also using Float Model

[2019-07-22 04:27] alfdnl commented on #30810
I have the same Error

**System information**

**Have I written custom code (as opposed to using a stock example script provided in TensorFlow):**
-No
**OS Platform and Distribution (e.g., Linux Ubuntu 16.04):**
-Windows 10
**Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:**
-No
**TensorFlow installed from (source or binary):**
-Pip
**TensorFlow versio

[2019-07-22 04:35] JaneShenYY commented on #30740
@ravikyram Thanks for the suggestion. Before asking it here, I put the question on StackOverflow, but no reply after many days. Thus, I came here and thought this place would be more likely to have some responses.

[2019-07-22 04:44] EmilianoVO commented on #30647
Hi, I have been experiencing the same problems, has anyone found a solution?

[2019-07-22 04:53] zh794390558 commented on #24570
Same problem when using tf1.14.

[2019-07-22 05:13] gadagashwini commented on #29727
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-22 05:13] #29727 closed

[2019-07-22 05:15] gadagashwini commented on #30640
@hiteshnitetc Were you able to solve this issue? Thanks!

[2019-07-22 05:18] #30784 closed

[2019-07-22 05:22] gadagashwini commented on #30865
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-07-22 05:28] zh794390558 opened #30915 "Dataset Iterator is not an iterator when using fit_generator"
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/engine/training_generator.py#L363

below is ok.
[code]

[2019-07-22 05:35] guizili0 commented on #30865
@gadagashwini I am try to ask if the API tensorflow.tools.graph_transforms still available in TensorFlow 2.0 official release. So I think it is does not matter the OS version, or TensorFlow version I current in use.

If you really need this, I use Ubuntu 16.04 x86_64. And the TensorFlow version would be TensorFlow 2.0 via pip install.

[2019-07-22 05:58] kushalj001 commented on #30531
Did you find how to solve this?

[2019-07-22 05:58] ravikyram commented on #30665
@skeydan
Can you please go through the comments of xinsu626 and let us know still if you want us to reopen this issue. Thanks!

[2019-07-22 05:59] WangYongzhao commented on #30159
kindly ping...

[2019-07-22 06:02] kushalj001 opened #30916 "Problems with running keras models in colab TPU"
[code]
`fit_generator` is not supported for models compiled with tf.distribute.Strategy.

Is there any way to solve this?

[2019-07-22 06:13] gadagashwini commented on #30892
I was able to reproduce the issue on Colab with Tensorflow-gpu 2.0.0-dev20190718 version.

[2019-07-22 06:16] blackhu commented on #30531
I am waiting for the reply from Tensorflow Project RD

[2019-07-22 06:23] ravikyram commented on #30740
@JaneShenYY

Normally padding with zeros will be distributed equally from both left and right  and also up and down.Normally It will not take from one direction.

I am closing this issue since it is not a bug or feature request.Thanks!

[2019-07-22 06:23] #30740 closed

[2019-07-22 06:24] gadagashwini commented on #30895
Was able to reproduce the issue with the Tensorflow vesrion 2.0.0-dev20190718 on Colab. Find the gist [here](https://colab.research.google.com/drive/1VcnK8pmrTIe9lWXi5eVqugNRJ2L99r0a).

[2019-07-22 06:28] anush-o commented on #30828
@maohuui ,
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?
Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue templ

[2019-07-22 06:37] ravikyram commented on #30830
@theangels
Did you get a chance to check the comments by @gargn .Thanks!

[2019-07-22 06:43] aidenmj commented on #30810
I'm having the same error,

(tensorflow_gpu) C:\TensorFlow\workspace\training_demo>python train.py --logtostderr --train_dir=training/ --pipeline_config_path=training/faster_rcnn_inception_v2_pets.config
WARNING:tensorflow:From C:\Users\THIS PC\Anaconda3\envs\tensorflow_gpu\lib\site-packages\tensorflow\python\platform\app.py:125: main (from __main__) is deprecated and will be removed in a future v

[2019-07-22 06:48] gadagashwini commented on #30901
@virginie-do In order to expedite the trouble-shooting process, please provide a complete code snippet to reproduce the issue reported here. Thanks!

[2019-07-22 07:03] jordanparker6 opened #30918 "Keras fails to initiate training with custom BERT layer."
**System information**
- Have I manipulated custom code in attempt to build a Keras layer for BERT. Following this example: https://towardsdatascience.com/bert-in-keras-with-tensorflow-hub-76bcbc9417b
- Windows 10:
- TensorFlow installed from (source or binary):
- TensorFlow version: 1.14
- Python version: 3.7
- CUDA/cuDNN version: CUDA 10
- GPU model and memory:  NVIDIA GTX1080ti

**Describe the

[2019-07-22 07:05] gadagashwini commented on #30907
@mabodx Will it be possible to provide the minimal code snippet to reproduce the issue. Thanks!

[2019-07-22 07:11] gadagashwini commented on #30910
I could able to reproduce the issue with Tensorflow 2.0.0.beta1 on Colab. Please take a look at gist of [Colab](https://colab.research.google.com/drive/1swIU2bAUBTdgeEcriw_SAJiQtiXtMBLh).

[2019-07-22 07:25] skeydan commented on #30665
@ravikyram thanks for asking, @xinsu626 thanks for clarifying!

We have a similar-looking issue here https://github.com/rstudio/keras/issues/843 and I'm now passing on the recommendation to use TF 1.14 with CUDA 10.0 to evade the problem.

If  it's okay with you, I might ask to reopen at a later time in case that issue persists even in  the recommended configuration. Thanks!

[2019-07-22 07:32] amxineohp opened #30919 "tf.keras.layers.Embedding set trainable to False does not work"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.14.0
- Pytho

[2019-07-22 07:59] jackwish commented on #30472
Encountered similar issue when using [PocketFlow]() which is running on top of TensorFlow. The message
[code]

When with TF 1.12, there is no such issue. With TF 1.14, the `absl.flags._exceptions.DuplicateFlagError` is raised.

[2019-07-22 08:03] mabodx commented on #30907
@gadagashwini  I just use code over here
https://github.com/GoogleCloudPlatform/training-data-analyst/blob/master/courses/machine_learning/deepdive/10_recommend/walsmodel/model.py#L25

Never change anything

[2019-07-22 08:20] nikoliazekter commented on #28485
@miaout17 there were several commits recently like this one https://github.com/tensorflow/tensorflow/commit/eedf79ed3782dddd1c4787c72fc9804a20252245 but no updates were posted in this thread. Can you update us on when all these features will be available and in which tensorflow version (only 2.0 I assume)?

[2019-07-22 08:20] jackwish commented on #30472
@alextp , as @mihaimaruseac pointed out, the `log_dir` is not defined by TF itself, but defined by `absl` library which TF uses. See stack
[code]

The `absl` dependency is introduced by commit [`2435a1875b574f5d299b1dee431ab5ceccd6132f`](https://github.com/tensorflow/tensorflow/commit/2435a1875b574f5d299b1dee431ab5ceccd6132f). And, the interesting thing is that, the patch declares to *resolve flag

[2019-07-22 08:22] gadagashwini commented on #30868
@theiron97 In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-07-22 08:22] Dcyx commented on #30635
same issue.
macOS 10.14.4
java version : 1.8.0_152
pom:
        <dependency>
            <groupId>org.tensorflow</groupId>
            <artifactId>libtensorflow</artifactId>
            <version>1.14.0</version>
        </dependency>
        <dependency>
            <groupId>org.tensorflow</groupId>
            <artifactId>proto</artifactId>
            <version>1.14.0</version>
        </dependen

[2019-07-22 08:30] ravikyram commented on #30905
@MovGP0
Just to verify did you get chance to follow instructions from [TensorFlow](https://www.tensorflow.org/install/pip) website .Please, let us know.
https://stackoverflow.com/questions/55739873/tf-estimator-package-not-installed
Also, please go through the below link and see if it helps you.Thanks!

[2019-07-22 08:35] anush-o commented on #30873
Was able to reproduce the issue with TF version gpu==2.0.0-beta1.Thanks!

[2019-07-22 08:37] Dcyx opened #30922 "Java tensorflow got negative value when use package class insdead of primitive class to create Tensor."
**System information**
- custom code :
[code]
- OS Platform and Distribution : macOS 10.14.4
- TensorFlow version (use command below):
[code]
Thanks for help.
When I use package class to create Tensor, then I will got negative value and the output result have a pattern as you can see. While there is no problem when I use primitive class.
And thanks for help agin.

[2019-07-22 08:39] freedomtan commented on #30872
You many wanna take a look at [TensorFlow Lite and TensorFlow operator compatibility](https://www.tensorflow.org/lite/guide/ops_compatibility) and the document of [tf.image.resize](https://www.tensorflow.org/api_docs/python/tf/image/resize_images). In short,  `method=3`, that is, `ResizeMethod.AREA` is not supported by TFLite now. I think what you can do is either replacing it with a supported one

[2019-07-22 08:41] tangjie77wd commented on #30580
Thanks anyway.I am trying other solutions.

[2019-07-22 08:44] gadagashwini commented on #30883
@slerman12 Please provide TensorFlow version.Thanks!

[2019-07-22 08:45] Dcyx commented on #30922
Ok, I got this info from that.
[code]
So, will you support package class ?

[2019-07-22 08:50] TCBocean commented on #30632
@yifeif  @ravikyram
I think I am lucky.
I changed my environment:
Ubuntu16.04
gcc4.8
CUDA9.0
cudnn7.1.4
TensorFlow-gpu1.12
I used the code framework in "https://github.com/tensorflow/custom-op" to replace the custom OP code in the HDRnet project and successfully compiled the dynamic library.
Thank you for your active help.

[2019-07-22 08:50] #30632 closed

[2019-07-22 08:52] OmriPi commented on #26502
This occurs also in 1.14, and renders PyCharm completely useless with TensorFlow. It used to be OK, what happened?

[2019-07-22 09:02] tangjie77wd commented on #30308
@czgdp1807  Thanks very much.Do you mean **export TF_XLA_FLAGS=--tf_xla_cpu_global_jit=/mytensorflowpath/tensorflow/compiler/xla:$TF_XLA_FLAGS=--tf_xla_cpu_global_jit** ?

[2019-07-22 09:39] gadagashwini commented on #30835
@ssable I tried reproducing the issue on Colab with the updated code and i didn't see any error. Let us know the expected behavior. Thanks!

[2019-07-22 09:45] czgdp1807 commented on #30308
@tangjie77wd Yes

[2019-07-22 09:50] ravikyram commented on #30899
Just to verify did you get chance to follow instructions from [TensorFlow](https://www.tensorflow.org/install/source) website .Please, let us know. Thanks!

[2019-07-22 09:52] bionicles opened #30925 "How do you feel about Shape Variables?"
**System information**
- TensorFlow version (you are using): 2b1
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Ragged/variable shapes are currently described with (None, None, 10) type syntax. This is not informative for the user or the compiler.

How do you feel about the concept of Shape Variables? Shape syntax with strings or variable

[2019-07-22 10:01] tangjie77wd commented on #30308
However,the warning is still the same.

[2019-07-22 10:12] czgdp1807 commented on #30308
The warning suggested `XLA_FLAGS=--xla_hlo_profile` this too. If after setting this the things don't work then please make a comment here. Probably this may need a fix. For more details read the warning message again and try the suggestions in it.
PS - Did you observe any improvements after applying https://github.com/tensorflow/tensorflow/issues/30308#issuecomment-513706301?

[2019-07-22 10:17] jsolves commented on #28563
Hello, I managed to change those lines in nn_impl.py and now my converted model has no batchtospace stuff. Thank you very much.

 Now the only difference between my converted model and the oficial one is the input quantization. Mine is 0 <= q <= 255 while oficial's is -1 ≤ q ≤ 0.9921875. I have no luck finding something to modify this, Does anyone know how to "magically" change this?

[2019-07-22 10:20] tangjie77wd commented on #30308
Is the specific path of XLA_FLAGS=--xla_hlo_profile the same with TF_XLA_FLAGS=--tf_xla_cpu_global_jit ?

[2019-07-22 10:26] joshlk commented on #27045
It's caused by abseil instead of tensorflow: abseil/abseil-py#99

Workaround:
[code]

https://github.com/dhalperi/pybatfish/blob/f8ddd3938148f9a5d9c14c371a099802c564fac3/pybatfish/client/capirca.py#L33-L50

[2019-07-22 10:32] czgdp1807 commented on #30308
Yes probably, this is what my intuition says. I suspect that is there any thing extra to be installed for using XLA. In fact, you can also take a look XLA usage in tensorflow guide. @tpopp any suggestions/corrections for @tangjie77wd 's situation.

[2019-07-22 10:36] tangjie77wd commented on #30308
@czgdp1807 It can not be better if there is something extra to be installed for using XLA. Do i need to do something with /mytensorflowpath/tensorflow/compiler/xla/service/BUILD ?

[2019-07-22 10:41] tangjie77wd commented on #30308
@czgdp1807 I know i can choose open XLA and AXV and SSE during the libtensorflow_cc.so building if i uninstall my tensorflow and rebuild it.However, i really do not want to uninstall  my tensorflow now.

[2019-07-22 10:43] ravikyram commented on #30875
@kerolos
Looks like the code is incomplete.Can you please provide full code snippet to reproduce it on our environment.Thanks!

[2019-07-22 10:49] gadagashwini commented on #30907
@mabodx I tried executing the code given in the file model.py but i didn't see any error. Let us know what is the expected behavior. Thanks!

[2019-07-22 11:03] tuanphan09 commented on #30376
The input shape (1,49,40,1) is right which mean there are bugs in their code. 'tflite for microcontrollers' is on progress so you should update the source code. I re-generated 'micro_speech' from the source a week ago and it solved my problem!!!

[2019-07-22 11:06] tangjie77wd commented on #30308
@czgdp1807 Am i wrong ?Maybe it is TF_XLA_FLAGS=--tf_xla_cpu_global_jit=/mytensorflowpath/tensorflow/compiler/xla/...cc or TF_XLA_FLAGS=--tf_xla_cpu_global_jit=/mytensorflowpath/tensorflow/compiler/git/...cc when i look at [https://stackoverflow.com/questions/45681405/tensorflow-xla-not-producing-the-dot-file](url)

[2019-07-22 11:18] Monikasinghjmi commented on #23253
anyone has a concrete solution to this? @liyunlu0618 can you elaborate more on this?

[2019-07-22 11:19] dgriffiths3 opened #30928 "BatchNormalization() does not work with autograph"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-07-22 11:22] czgdp1807 commented on #30308
Well, https://www.tensorflow.org/xla/jit#step_3_run_with_xla should work. Have you tried it?

[2019-07-22 11:22] mabodx commented on #30907
@gadagashwini
I just try to run this
[code]
I get this code from this notebook in before `In[36]`
https://github.com/GoogleCloudPlatform/training-data-analyst/blob/master/courses/machine_learning/deepdive/10_recommend/wals.ipynb

![image](https://user-images.githubusercontent.com/4045116/61628733-b65b3700-acb5-11e9-8105-ccd29a2e9615.png)

If you run this from any terminal through command,  you wil

[2019-07-22 11:24] czgdp1807 commented on #30308
Or what about using XLA from within the code as shown in https://www.tensorflow.org/xla/tutorials/xla_compile?

[2019-07-22 11:25] anush-o commented on #30903
@ZHTLoveYC ,
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-07-22 11:26] #30790 closed

[2019-07-22 11:38] anush-o commented on #30894
@zh794390558 ,
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-07-22 11:46] VinothInspirit commented on #30702
Reg:2. We do not generally encourage inference via python, so python gc comes to mind
VinothInspirit: **What then would be the tf prescribed way of running(and measuring) inferences?**
Reg:3. We overlap with the computation of next_batch
VinothInspirit: **We give the inputs here using feed_dict, not by a pipeline, so I'm not sure if sess.run(...) would still overlap with next_batch.**

[2019-07-22 11:48] anush-o commented on #30879
@PragmaticSoftwareSolutions ,
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here.
Provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2019-07-22 11:56] anush-o commented on #30690
Closing due to lack of recent activity.Thanks!

[2019-07-22 11:56] #30690 closed

[2019-07-22 11:59] anush-o commented on #30678
Closing due to lack of recent activity.Thanks!

[2019-07-22 11:59] #30678 closed

[2019-07-22 12:01] anush-o commented on #30705
Closing due to lack of recent activity.Thanks!

[2019-07-22 12:01] #30705 closed

[2019-07-22 12:16] lee-bin commented on #30791
Thanks for your detailed answer. @tpopp
- I skipped the first run and averaging 1000 runs after the first run. Is averaging multiple runs excluding the first run OK?
- I tried setting `TF_CPP_VMODULE=xla_compilation_cache=2`, nothing was printed. I used the Python API as the code is written in Python, does this environment variable work with Python API?
- I tried setting `TF_XLA_FLAGS=--tf_xla_alw

[2019-07-22 12:21] FishHe commented on #28304
Closing XLA support at configure step helps.

[code]

[2019-07-22 12:22] anush-o commented on #30876
@drpipespromzy ,
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.
Provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2019-07-22 13:15] vibhatha commented on #27880
@jimmyvo2410
I am also no expert on the topic. But I what I can see is the operator shown in the error message is not yet supported for quantization.
If you take a look at @ohtaman solution, the upsampling2D is not yet supported for quantization. So he has written a custom one using already quantization supported ops. This is something similar you might have to do. What I can see is this solution.

[2019-07-22 13:16] DocDriven commented on #27880
@vibhatha
Thank you for your help. I have tested your code over the last few days, with mixed results.

- When using the docker image with the TF 2.0.0-beta1, your code runs just fine. But as soon as I switch back to TF 1.14.0, I run into an error:

[code]

Is there an equivalent of this attribute in v1? Also, you do not seem to prepare the graph for usage with quantized params as you had before.

[2019-07-22 13:20] TamirisCrepalde commented on #23683
@sdmars how did you install pip? I installed pip through Anaconda package and for this path it is possible to install the python packages through Anaconda too using "conda install <package name>". I usually use pip to install the packages but for this one, I used conda but is the same idea: get access to the terminal and type "conda install TensorFlow". If you don't know Anaconda, just get a look

[2019-07-22 13:28] SharoneDayan commented on #23748
Maybe, the medium article I wrote on ingesting sparse inputs in Tensorflow Keras can help you out : https://medium.com/dailymotion/how-to-design-deep-learning-models-with-sparse-inputs-in-tensorflow-keras-fd5e754abec1

[2019-07-22 13:28] michaelbenayoun commented on #30847
I expect to be able to iterate over a dataset containing strings without having an exception being raised once the last batch has been seen.

[2019-07-22 14:23] UltraSpecialException commented on #30852
@tlkh Thanks for the response! I see what you mean.

[2019-07-22 14:23] #30852 closed

[2019-07-22 14:24] sanjoy commented on #29878
Have you followed all the instructions in https://www.tensorflow.org/install/lang_c (in particular, were you able to get https://www.tensorflow.org/install/lang_c#compile to run)?

If not, can you please post the entire linker error you get?

[2019-07-22 14:26] mdanatg commented on #30802
AutoGraph does not currently override `enumerate`, so it has the wrong behavior in graph mode. It would be a nice feature to add, and it shouldn't be too hard to do it.

In the mean time, to enumerate over datasets, please use `ds.enumerate()`. It works both inside and outside `tf.function`:

[code]
[code]

[2019-07-22 14:31] jimmyvo2410 commented on #27880
@vibhatha thanks for the hint, I saw that code but never thougth it was about the same issue

[2019-07-22 14:37] mdanatg commented on #29122
Since we expect the warnings to clear in the beta or nightly builds, but we can't confirm from our side whether the warnings clear in the latest build, I will close this issue for now. Please re-open it if they still appear in the nightly build though. Thanks!

[2019-07-22 14:37] #29122 closed

[2019-07-22 14:39] WindQAQ commented on #15026
@wangyexiang The gap of performance between tf.keras and external keras in your example is because of the default learning rate of Adadelta. tf.keras uses 1e-3 while keras uses 1.0. Once you use 1.0 in tf.keras, you can still achieve the same performance obtained by external keras.

ref1: https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adadelta
ref2: https://keras.io/optimizers/

No

[2019-07-22 14:40] tlkh commented on #30918
How long did you wait for?

In the background (it is not printed to console) the weights for the TF Hub module will have to be downloaded (500MB for BERTBASE, 1GB for BERTLARGE), and then the BERT layer instantiated. This does take a fair amount of time for the download, and then to build the graph.

I don't like the example in the medium post. They made a few mistakes e.g. the way they implemente

[2019-07-22 14:42] OutSorcerer opened #30929 "tf.data.experimental.prefetch_to_device("/gpu:0") moves tensors back to CPU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.2 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: none
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):

[2019-07-22 14:46] elyasmehtabuddin commented on #30580
@alextp

[2019-07-22 14:56] BeWe11 commented on #30802
@mdanatg thank you, that worked for me. I'm gonna let this issue stay open, as the underlying problem hasn't been fixed yet, but feel free to close if you need to.

[2019-07-22 15:28] peterszaszlateral commented on #30755
@jdduke It all started working again last week at some point + the sample app you specified is also building successfully. Thanks for the help!

[2019-07-22 15:37] vibhatha commented on #27880
@DocDriven

In 1.14 there is no field called

`converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS_INT8]`

Instead please use

`converter.target_ops = [tf.lite.OpsSet.TFLITE_BUILTINS_INT8]`

What I do is, I keep a generic converter which is written with a factory design pattern to support compiling for multiple TF versions.
Always take the support of the IntelliSense in the IDE,

[2019-07-22 15:41] alextp commented on #30063
Is this because bitcasting through integers generates not differentiable operations?

[2019-07-22 15:43] jdduke commented on #30755
Glad it's working!

[2019-07-22 15:43] #30755 closed

[2019-07-22 15:47] alextp commented on #30580
Maybe we should then extend the tf-xla bridge to support temporary variables with known shapes?

[2019-07-22 16:21] aaroey commented on #30657
Apparently there is some issues with TF-TRT in 1.14, @bananabowl for more information.

If you try with tf-nightly-gpu, the output will look like:
[code]

[2019-07-22 16:23] VitalieStirbu commented on #1757
same problem. I have GeForce GTX 1070 Ti 8GB.  batch_size 1, num_classes 1, 100 images. Did anyone fix this issue?

[2019-07-22 16:24] aaroey commented on #30595
Hi @CLIsVeryOK, would you please provide the code and data via github? Thanks.

[2019-07-22 16:28] gunan commented on #30449
Sorry, should have clarified.
I was asking the full terminal output and your inputs for the `configure.py` script run then the subsequent `bazel build ....` command.

[2019-07-22 16:29] aaroey commented on #30717
Thanks @nseidl, I think the problem is with 1.14 and we're investigating. Also @bananabowl.

Meanwhile, if you try with tf-nightly-gpu it should work, please let me know if it doesn't.

[2019-07-22 16:30] gunan commented on #30839
@meteorcloudy I think he first looked into creating custom ops with TF bazel build.

[2019-07-22 16:35] gunan commented on #30687
In our continuous tests, for the last week I have never seen the issue recur.
https://source.cloud.google.com/results/invocations/c96c6321-edc4-4f0d-bbf3-c0da191c407f/log
The above is the most recent build log for TF at head.

Is it possible your client was not synced to head?

[2019-07-22 16:49] elyasmehtabuddin commented on #30580
That would be a great solution as well!

[2019-07-22 17:17] aaroey commented on #25348
@Pidem @nocotan we made some changes since  2.0-beta0, so I just updated the test script. Would you please retry with tf-nightly-gpu-2.0-preview? Thanks.

[2019-07-22 17:19] CJMenart commented on #30551
NOTE: I was encountering this error too, and was getting all ready to post a long description here--when I tried pulling down the latest tf2-nightly. The error disappeared for me. So...thought I'd mention there's a possibility this has been taken care of somewhere along the line.

[2019-07-22 17:25] jsimsa commented on #24570
@rachellim can you please take a look?

[2019-07-22 17:35] slerman12 commented on #30883
1.12.0

[2019-07-22 17:35] jvishnuvardhan commented on #30639
@jkamalu As @qlzh727 mentioned, it was resolved. I ran your code in `tf-nightly-gpu-2.0-preview ` and I don't see any error. Please check the gist [here](https://colab.sandbox.google.com/gist/jvishnuvardhan/5e4a2c43934f1f126563b47e3dcc6797/tf_30639_lstm.ipynb).

I am closing this issue as it was resolved, but please let me know if I'm mistaken.Thanks!

[2019-07-22 17:35] #30639 closed

[2019-07-22 17:40] jsimsa commented on #30685
@aaudiber could you please take a look?

[2019-07-22 17:47] alextp commented on #30659
Maybe this belongs in tf probability of tf addons, but unclear if it belongs in core TF given how easy it is to implement with TF.

[2019-07-22 17:47] #30659 closed

[2019-07-22 17:52] Pidem commented on #25348
@aaroey It does run ! thanks.

[2019-07-22 18:02] claytonjschneider commented on #29747
@jackshi0912 was this resolved? I've been encountering this frequently in Jupyter Notebooks as I'm shifting from 1.14 to 2.0.0-alpha

[2019-07-22 18:13] captain-pool opened #30932 "[BUG] tf.saved_model.load cannot load Keras compiled model"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-07-22 18:14] jackshi0912 commented on #29747
Yes, this method is no longer supported in 2.0
You should consider justing using a for loop to iterate through the dataset. Pretty much all methods that returns a graph node is gone.

[2019-07-22 18:32] claytonjschneider commented on #29747
Thank you. I'm using an example COLAB notebook from TF 1.14 and trying to migrate it to 2.0. I'm not new to coding, but am to TF.

I don't think iteration is necessary in this example, unless I'm misunderstanding the tf objects...

`print('type: ', tf.data.get_output_types(path_ds))`. I know the method is deprecated, but having types / shapes of even one image printed would still be useful for thi

[2019-07-22 18:41] omalleyt12 commented on #28010
Was able to repro and have a fix out for this, should be in in a day or two

[2019-07-22 19:13] Kaynato opened #30934 "[BUG] [TF 2.0 Keras] Pointwise Conv2D numerically inconsistent in keras model vs manual run"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04
- **Docker container**: 2.0.0b1-gpu-py3-jupyter
- **CUDA/cuDNN version**: CUDA 10.2
- **GPU model and memory**: GeForce GTX 1080
- **Exact command to reproduce**: See script below.

### Des

[2019-07-22 19:43] monatis opened #30935 "Wrong URL for Cuda download in dll not found error message"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windos 10 64Bit
- Mobile devic

[2019-07-22 19:58] nseidl commented on #30717
@aaroey I just tried with:

- `NVIDIA-SMI 410.104      Driver Version: 410.104      CUDA Version: 10.0`
- the same [nvidia-docker `tensor:19.02-py3` (Ubuntu 16.04)](https://docs.nvidia.com/deeplearning/sdk/tensorrt-container-release-notes/rel_19-02.html#rel_19-02)
- `tf-nightly-gpu`

I've attached the `do.py` script that I execute with the following command:
[code]

I ran this twice to get two dif

[2019-07-22 20:12] jdduke commented on #30349
Are your inputs/outputs identical to the DeepSpeech model?

[2019-07-22 20:18] jvishnuvardhan commented on #30865
@guizili0 [Here](https://github.com/tensorflow/tensorflow/tree/r2.0/tensorflow/tools/graph_transforms) is the link to graph_transform in 2.0. Thanks!

[2019-07-22 20:19] aaroey commented on #30717
For the slowdown from native->trt_fp32, @pooyadavoodi

For the increased graph size, that is expected. The problem is currently the converted graph has two copies of the weights, but we're fixing it in #30789.

[2019-07-22 20:20] jvishnuvardhan commented on #30866
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-07-22 20:21] nseidl commented on #30717
Just tried `int8` and there is an error:
[code]

[code]

[2019-07-22 20:21] revan commented on #30472
Hi there, as Mihai said this flag is defined in absl: https://github.com/abseil/abseil-py/blob/master/absl/logging/__init__.py#L234

Importing tensorflow as of 1.14 causes an import of absl logging, which itself defines certain flags like `log_dir`. The good news is the workaround is very easy -- just don't define the `log_dir` flag, and rely on the one already defined.

If for some reason you nee

[2019-07-22 20:21] #30472 closed

[2019-07-22 20:24] 3arbie opened #30938 "shape_a should be an arange not just a list"
`
#I think it should be
shape_a = np.arange(a.get_shape[0])
#instead of
shape_a = a.get_shape().as_list()
`
<em>Please make sure that this is a bug. As per our [GitHub ### ### Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System informatio

[2019-07-22 20:25] jdduke commented on #30349
Part of the problem here is that you're trying to plug in the DeepSpeech model into the SpeechRecognition sample, which is using a *very* different model. These models take different inputs and provide different outputs.

[2019-07-22 20:25] jdduke commented on #30349
This question would be better served asking on StackOverflow. It doesn't appear to be an issue with TensorFlow Lite, but in how you're using TensorFlow Lite.

[2019-07-22 20:25] #30349 closed

[2019-07-22 20:32] christopherbate commented on #30855
I am also struggling with this issue. When I try to add the "@tf.function" decorator to my function which executes the distribute step, my performance goes from ~2 seconds per batch to over 10 seconds across 4 GPUs. When I try to profile, I mostly just see empty space in the profiler in Tensorboard, where there's some sporadic activity on my CPU seemingly due to the only layers in my model where I

[2019-07-22 20:50] jvishnuvardhan commented on #30897
Please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. Thanks!

[2019-07-22 21:00] jvishnuvardhan commented on #30912
Please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. It would be great if you can provide a small code to reproduce the error. Thanks!

[2019-07-22 21:11] ymodak commented on #30832
https://github.com/tensorflow/tensorflow/issues/30185#issuecomment-506833929

[2019-07-22 21:11] #30832 closed

[2019-07-22 21:15] jvishnuvardhan commented on #30871
@jiarongqiu Did you check whether the issue persists with latest versions (TF1.14, or nightly builds) of TF? Thanks!

[2019-07-22 21:16] ymodak commented on #30879
Some some operations not implemented in TensorFlow Lite
See
```--enable_select_tf_ops``` - https://www.tensorflow.org/lite/guide/ops_select
```custom implementations``` - https://www.tensorflow.org/lite/guide/ops_custom

[2019-07-22 21:23] ymodak commented on #30784
@derekhsu Perhaps you can try,
```pip install tensorflow-gpu==1.12```

[2019-07-22 21:41] jvishnuvardhan commented on #30910
@lytkarinskiy This was resolved in tf-nightly-builds. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/8d0b507a3f1d1972012542f6c440c110/tf_30910_dilation.ipynb).

I am closing the issue. Feel free to open if the issue persists. Thanks!

[2019-07-22 21:41] #30910 closed

[2019-07-22 22:03] #30879 closed

[2019-07-22 22:17] dsgupta commented on #30855
@christopherbate If it's not a problem, could you please share the steps involved to profile using `tensorboard` or maybe point me to documentation/tutorial you followed? Even I am getting extremely weird behavior when I try to use `@tf.function`

[2019-07-22 22:31] ppham27 commented on #30855
@dsgupta

See https://www.tensorflow.org/api_docs/python/tf/config/experimental/set_synchronous_execution?hl=en.

You can try `tf.config.experimental.set_synchronous_execution(False)`. I'm not that optimistic that this will fix your issue, though.

[2019-07-22 22:32] jhseu commented on #30818
Unfortunately this will be complicated with TPUEstimator since:

- This requires a Python interpreter.
- We run the input pipeline on the TPU VM, which doesn't have an interpreter.
- The Python VM isn't included in the TensorFlow graph.

[2019-07-22 22:42] synapse8 commented on #24828
@meghasharmaojha
Can you try this instead?

config = tf.ConfigProto()
config.gpu_options.allow_growth = True
tf.keras.backend.set_session(tf.Session(config=config))

Another option is to set the environment variable TF_FORCE_GPU_ALLOW_GROWTH to true. I think this only will work for some setups, but it did for me with Ubuntu 18.04.

[2019-07-22 22:45] anj-s commented on #30605
"I've had difficulty getting the distributed strategy to work without decorating my train loop in tf.function" - can you share a code snippet to help us repro this issue? You should be able to use tf.distribute strategy without tf.function without errors.

[2019-07-22 22:47] swethmandava commented on #11311
@Nicolas99-9 How did you fix it? I have the same issue

[2019-07-22 22:52] ymodak commented on #30874
Argument ```input``` should cover all string cases.
https://www.tensorflow.org/api_docs/python/tf/io/decode_base64#args
Perhaps you can elaborate more for your doc request? Thanks!

[2019-07-22 22:55] tpopp commented on #30308
Using the environment variable should be something like this:
`export TF_XLA_FLAGS=--tf_xla_cpu_global_jit`

It is a boolean flag, so setting it to some other string evaluated to false because it did not make sense relative to a boolean value. Also, setting it without enabling XLA with --tf_xla_auto_jit=2 will not affect performance. This message being printed was a bug because it was only suppose

[2019-07-22 23:13] sharvil commented on #30818
Is the eventual goal to run the input pipeline on CPU with TPUEstimator or are the docs incorrect? I need to decide if I should re-think my use of TPUs / structure of my input pipeline or if I should wait for the TPUEstimator implementation to catch up to the docs.

[2019-07-22 23:16] ymodak commented on #30602
@tportenier Thanks for sharing your investigation. Limiting GPU memory is recommended approach to overcome OOM.
https://www.tensorflow.org/beta/guide/using_gpu#limiting_gpu_memory_growth

[2019-07-22 23:19] synapse8 commented on #24496
@Hayashi-Yudai

What were the exact commands you added to your code? Try the following instead if it's different ...

config = tf.ConfigProto()
config.gpu_options.allow_growth = True
tf.keras.backend.set_session(tf.Session(config=config))

[2019-07-22 23:28] jvishnuvardhan commented on #30857
@814HiManny I was able to reproduce the issue with `tf-nightly-gpu-2.0-preview==2.0.0.dev20190718`. However, when I remove `class_weights` from the model.fit, the model runs without any issue. Thanks!

[2019-07-22 23:33] jhseu commented on #30818
The input pipeline does run on CPU, but on the CPU of the TPU VM. Essentially you're connecting to a remote host to run your model. If you can express your input pipeline in terms of tf.data but without the py_func, then it should work.

[2019-07-22 23:42] dsgupta commented on #30855
I tried that but the execution is still sequential. If I try to use `@tf.function` decorator for `dist_train_step` and `dist_test_step`, I am getting the following error:

`ValueError: No gradients provided for any variable:`

But it is working perfectly in `eager` mode.

[2019-07-23 00:34] saumpsh commented on #30465
Hi,

I have been able to compile the model for micro_speech successfully. I would recommend setting up a environment using [Docker.](https://www.tensorflow.org/install/docker). Its much easier to work with and it takes care of all TensorFlow related dependencies.

Also if possible try not to train the model using  VMWare as the training will be too slow. Instead try getting hold of a Linux compute

[2019-07-23 00:52] guizili0 commented on #30865
@jvishnuvardhan thank you! But when compile with --config=v2, this api would not compile, did TensorFlow Team decide not compile this, or just miss this API by mistake, thanks.

[2019-07-23 01:21] tangjie77wd commented on #29878
Absolutely,i am not only able to get [https://www.tensorflow.org/install/lang_c#compile](url) to run but also [https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/multibox_detector/main.cc](url) to run successfully .However, i will get the warning **(One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want X

[2019-07-23 01:29] tangjie77wd commented on #30308
Yeah,once i have tried to active XLA before main function in my c++ code like the following:
**#include "c_api_experimental.h"**
**TF_SessionOptions* options = TF_NewSessionOptions();**
**TF_EnableXLACompilation(options,true);**
However,these above make my project building failed with error **collect2: error: ld returned 1 exit status** ! I am not only able to get [https://www.tensorflow.org/insta

[2019-07-23 01:32] tangjie77wd commented on #30308
No,i think i can not try it since i use tensorflow 2.0 c++ api with eclipse GUI on Ubuntu 16.04 .

[2019-07-23 01:33] ankitgc1 opened #30942 "unable to load trained model"
I trained the NMT model on my RTX2080 ti. I saved the model by

checkpoint_dir = './training_checkpoints'
checkpoint_prefix = os.path.join(checkpoint_dir, "ckpt")
checkpoint = tf.train.Checkpoint(optimizer=optimizer,
                                 encoder=encoder,
                                 decoder=decoder)

and in the training step

if (epoch + 1) % 2 == 0:
   checkpoint.save(file_prefix

[2019-07-23 01:39] jackwish commented on #30472
This breaks some apps built on top of TF, and all related tools should be rewritten, because these apps are likely to have their own default value of `log_dir` which the tools are not likely to overwrite. Now, the `log_dir` needs to be assigned.

[2019-07-23 01:41] tangjie77wd commented on #30308
You mean that the warning **(One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line flag, not via TF_XLA_FLAGS) or set the envvar XLA_FLAGS=--xla_hlo

[2019-07-23 01:45] tangjie77wd commented on #30580
No,i do not change the input size of the model since the size of my input image is the same with the requirement size of the model.

[2019-07-23 02:11] tangjie77wd commented on #29878
There are so many discussions about how to active XLA in python but very few in C++ API . I have set environment variable like this **export TF_XLA_FLAGS=--tf_xla_cpu_global_jit=/mytensorflowpath/tensorflow/compiler/xla:$TF_XLA_FLAGS=--tf_xla_cpu_global_jit** but the warning is still the same.

[2019-07-23 02:25] jiarongqiu commented on #30871
I haven't checked the other versions yet. I will check with TF 1.14.

[2019-07-23 02:34] tangjie77wd commented on #30308
Sorry for my negligent reply . The warning **2019-07-23 10:17:57.259354: E tensorflow/core/util/command_line_flags.cc:106] Couldn't interpret value =/mytensorflowpath/tensorflow/compiler/xla:=--tf_xla_cpu_global_jit for fl_jlag tf_xla_cpu_globait.** occurs after i set environment variable **export TF_XLA_FLAGS=--tf_xla_cpu_global_jit=/mytensorflowpath/tensorflow/compiler/xla:$TF_XLA_FLAGS=--tf_xla

[2019-07-23 03:03] czgdp1807 commented on #30308
AFAICT, Yes.

[2019-07-23 03:07] Leslie-Fang commented on #30746
@ravikyram @ymodak  Hi, sorry to interrupt, but any update of this question?

[2019-07-23 03:08] chong-lee commented on #30657
According to my experience, model optimized directly with the tf default installation package does not have 'TRTEngineOp', which means that the optimization is not successful. According to NVIDIA's official documentation, you need to use TensorFlow container or compile TensorFlow with TensorRT through source code. The latter one I tried is ok(cuda10+tf1.14). Through experiments, QPS of the classif

[2019-07-23 03:36] christopherbate commented on #30855
@dsgupta
Put:
`with self.writer.as_default():
         tf.summary.trace_on(graph=False, profiler=True)`

Right before you want to start profiling, then:
` with self.writer.as_default():
         tf.summary.trace_export(step=step, name="model_profile", profiler_outdir="./test_profile")`

To stop profiling. Generally I try to capture 2-3 batches to see what things look like.

Can you provide your co

[2019-07-23 03:47] jiarongqiu commented on #30871
Is there somewhere that I could check the cache and the threshold T TensorRT chose for activations and weights?

[2019-07-23 04:31] VivekPanyam opened #30943 "TensorFlow C API Nightly URLs"
[This README](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/c/README.md) mentions the following URLs for nightly builds of libtensorflow:
- https://storage.googleapis.com/tensorflow-nightly/github/tensorflow/lib_package/libtensorflow-cpu-linux-x86_64.tar.gz
- https://storage.googleapis.com/tensorflow-nightly/github/tensorflow/lib_package/libtensorflow-gpu-linux-x86_64.tar.gz
- ht

[2019-07-23 05:25] gadagashwini commented on #30670
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-23 05:25] #30670 closed

[2019-07-23 05:40] taotaolin commented on #22338
Please tell me your contact information

[2019-07-23 05:52] ravikyram commented on #30432
We are closing this issue and we can track the issue in  google/pasta#70.Thanks!

[2019-07-23 05:52] #30432 closed

[2019-07-23 05:56] gadagashwini commented on #30928
@dgriffiths3 , Please provide us the complete code to reproduce the issue. Thanks!

[2019-07-23 06:08] zh794390558 commented on #26430
Same problem when using Estimator + Keras model.

[2019-07-23 06:12] zh794390558 commented on #26472
This is an most important problem. Please check it .

[2019-07-23 06:18] ravikyram commented on #30641
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-23 06:18] #30641 closed

[2019-07-23 06:21] gadagashwini commented on #30916
@kushalj001 Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

In order to expedite the trouble-shooting process, please provide a complete code to reproduce the issue reported here. Thanks!

[2019-07-23 06:27] tportenier commented on #30602
@ymodak I still consider this a bug, since eating up 11GB of memory for doing ifft1D on a signal of that size seems unreasonable...