[2020-02-16 09:38] colinwke commented on #24816
I implement a custom `tf.feature_column.input_layer` and encounter the problem.
and I reference the official implement, and add a `tf.reshape` to each tensor before concat, then the error disappeared!

[2020-02-16 10:12] oeyvindds opened #36792 "Cannot convert a symbolic Tensor (Neg_1:0) to a numpy array"
Hello.

I am trying to derive with Tensorflow, and get an error telling me to report the behavior to the TensorFlow team. Hence this post.

My code:
[code]

[2020-02-16 10:18] oeyvindds commented on #36792
I did manage to get around it by not relying on numpy. The new code is:

def cal_sigma(y):
    return 1 / (1 + e**-y)

@tf.function
def get_derivative2(x, y):
    with tf.GradientTape(persistent=True) as tape:
        tape.watch(y)
        y_sigma = cal_sigma(-y)
        f = (x + y_sigma) / ((x -y)**2)
    df_dy = tape.gradient(f, y)
    return df_dy

With these changes, it does work also for y.

[2020-02-16 10:53] oeyvindds opened #36793 "Same input - different output"
I have written a small code, and notice that I get a different result dependent on if I use Numpy or not.

This code should give the same result for both df_dy and df_dy_p, but it does not. It does not matter if I change the order of the calculations.

`from math import e
import numpy as np

def calc_sigma(y):
    return 1 / (1 + e**-y)

def get_derivative(x, y):
    with tf.GradientTape(persisten

[2020-02-16 11:57] paokuwansui opened #36794 "a bug about tf.function"
WARNING:tensorflow:AutoGraph could not transform <function converge_to_2 at 0x7f6e047dae50> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: invalid value for "node": expected "ast.AST", got "<class 'NoneType'>"; to visit lists of nodes, use "visit_block" ins

[2020-02-16 11:58] paokuwansui commented on #36794
@tf.function
def converge_to_2(n_iters):
    total = tf.constant(0.)
    increment = tf.constant(1.)
    for _ in range(n_iters):
        total +=increment
        increment /= 2.0
    return total
print(converge_to_2(20))

[2020-02-16 12:34] tarrade commented on #30947
Hi @guptapriya ,

Thanks for the follow up. I will be happy to contribute but I would like to be sure that this is useful.

Before TF 2.0, it was mention many time that tf.estimator will continue. Since TF 2.0 is out it seems that tf.estimator will not continue after 2.x. This was mention many time by Googlers. We can also see that tf.estimator still use v1.comp ops. Keras seems now to have all op

[2020-02-16 13:25] mjohenneken commented on #22414
For people searching the keyword CUDNN_STATUS_ALLOC_FAILED
 and finding this issue. You may check if there is another process allocating the gpu. In my case i got this error on terminal after previously running tensorflow from a jupyter notebook

[2020-02-16 14:46] AlmogDavid commented on #36705
I'm having the exact same issue, someone knows what is the problem?

[2020-02-16 15:37] am15h commented on #36766
adding,
`s.library = 'c++'`
to `.podspec` file makes this error go away.

[2020-02-16 15:44] maazqureshi446 commented on #26141
m

[2020-02-16 19:08] am15h commented on #36766
@yyoon I am unable to directly use `s.dependency 'TensorFlowLiteC', '2.1.0'` in iOS, dart:ffi dynamic lookup fails with this, although there are no issues when I use
`s.dependency 'TensorFlowLiteObjC', '2.1.0'`. The same problem occurs when trying to use `TensorFlowLiteC.framework`, I am aware that TensorFlowLiteC is meant to be used internally for ObjC and swift, but is there a way to get TensorF

[2020-02-16 19:28] abhilash1910 commented on #36785
Hi @8bitmp3 , I also had a similar doubt when I came across the paper and the API documentation. I think according to the paper,the step size converges to 1 at end of training and the convergence occurs when the gradients and parameters updates are smaller. However there is a mismatch in the documentation which suggests that lr=0.001 whereas in the paper it is lr=1.0 and epsilon=1e-6. The less the

[2020-02-16 19:31] OverLordGoldDragon opened #36797 "Severe slowdown with 1 BN step in while_v2"
I'm developing recurrent batch normalization for LSTM, and am seeing a best-case scenario of **8x slowdown** relative to base implementation (worst-case can **exceed 20x**). `tf.function` helps notably, but not nearly enough - and the behavior is unreasonable; applying the operation on _1 out of 150 steps_ yields a 6.7x slowdown, and on 150/150 steps, 8x. I suspect [`while_v2.while_loop()`](https:

[2020-02-16 19:43] colt18 opened #36798 "TF 2.0: Spyder auto complete and go to definition not working. Please fix it!"
Due to the nature of the "lazy import" spyder IDE is not able to resolve the package tree and fails both "auto complete" and "go to function definition".

Spyder guys told me TF should implemeny .pyi files to overcome this.

https://github.com/spyder-ide/spyder/issues/11553

[2020-02-16 19:50] guptapriya commented on #30947
@tarrade thanks for the follow up. tf.estimator is available in TF 2.x but your assessment is correct that there isn't much investment in improving it going forward, and all efforts are focused on Keras. If you're able to migrate your code to Keras, that is great and I would agree that you do not need to work on this fix. I was only suggesting that in case you could not move to estimator and were

[2020-02-16 20:39] PhilipMay opened #36799 "Feature Request: General Purpose Metrics Callback"
# Background
I am coming from tensorflow addons and have been send here by @pavithrasv and @seanpmorgan to start this discussion. The root of this is that we have great problems to implement a clean and bugfree F1 metric for keras. See here: https://github.com/tensorflow/addons/issues/825

# Feature Request Description
For keras / tensorflow it is possible to implement custom metrics. These metric

[2020-02-16 22:08] phemmer commented on #36722
Thanks. I'll try again once the next release following 2.1.0 is out.

[2020-02-16 22:08] #36722 closed

[2020-02-16 22:46] tim-evain opened #36800 "Pip package building fail on third party NASM linking"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Pro (version 1903 ; 18362.657)
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.0.1
- Python version: 3.7.3
- Bazel version (if compiling from source): 0.26.1
- GCC/Compiler version (if compiling from source): MSVC 16 (VS2019)
- CUDA/cuDNN version: 10.2 + 7
- GPU model and mem

[2020-02-16 22:46] BabbiM commented on #20444
installed using the wheel file.

[2020-02-16 23:28] abkw commented on #7378
I have the same issue and setting `export OPENCV_OPENCL_RUNTIME=` didn't work

[2020-02-16 23:32] nbro opened #36801 "TypeError: Object of type float32 is not JSON serializable"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Mac OS Catalina (Version: 10.15.3)
- TensorFlow installed from: binary
- TensorFlow version: 2.1
- Python version: 3.7.5
- GPU model and memory: Intel Iris Pro 1536 MB

**Describe the current behavior**

I get the following error

when I try to save the state of the optimizer **after** having trained the model

[2020-02-16 23:54] rodrigoruiz commented on #33924
Ok, so, I'm not sure what's going on, I did train a model with this exact same code (except for the fake data) and now it's not working anymore. The weird part is it does start the training and works for some batches, but after a random number of batches (sometimes 2, sometimes 25, all on the first epoch), it restarts my kernel (running on Jupyter Notebook).

[code]

[2020-02-17 00:41] robosmith commented on #24496
Have been trying to run the [lambda Tensorflow2-tutorial basic-image-classification](https://github.com/lambdal/TensorFlow2-tutorial) code for days and getting the same cudnn handle error until I tried your solution. It is finally running now on RTX 2070 Max Q and using minimal GPU memory.

[2020-02-17 00:50] stefanondisponibile commented on #34968
Are there any updates on this? 🙂

[2020-02-17 00:56] cheyang opened #36802 "DataLoss error on TFRecords - Randomly when accessing the dataset on S3 like storage"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution (e.g.,Linux Ubuntu 16.04): CentOS Linux 7.7
- TensorFlow installed from (source o

[2020-02-17 01:01] jingxu10 commented on #36717
@mihaimaruseac  There should be no new features or new functions. All amendments should be all about bug fixes or security issue fixes.

[2020-02-17 01:15] dMokaMoka opened #36803 "Start the thread in Hook, resulting in failure to exit when train_step fails"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information** - Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): - OS Platform

[2020-02-17 01:34] huanyingjun opened #36804 "TFlite got error output when enable hexagon delegate"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information** - Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): - OS Platform

[2020-02-17 02:11] Joey155 commented on #36146
Hello I thought this issue was solved but it's been open for quite some time.
I would like to contribute if contributions are still being accepted.

[2020-02-17 02:28] Abdulazizbek opened #36805 "Convert `std::vector<tensorflow::Tensor>` into `std::vector<float>`"
How to convert Tensor `<type: float shae: [1, 512, 800, 1] >` into `std::vector<float>` ?

I've tried [stackoverflow](https://stackoverflow.com/questions/44843368/convert-tensorflow-tensor-of-variable-size-to-stdvector-in-c) and some others  also, but failed
Thank you beforehand.

[2020-02-17 02:41] rex-yue-wu commented on #21896
Same issue. As today, using tensorflow v1.15 and the latest object detection API, I still encounter the same issues:

1. when `throttle_secs` < the time required for validation, no training will happen and the `object_detection/model_main.py` script simply does validation all the time
2. when `throttle_secs` is explicitly set to be greater than the required validation time, training happens in bet

[2020-02-17 02:44] kitepro commented on #36329
Doesnt tensorflow already uses BLAS for dot products?

[2020-02-17 03:31] ihuale commented on #36576
Sorry for replying so late, i just found one solution according this [solution](https://github.com/tensorflow/tensorflow/issues/31520#issuecomment-524584978 "issues"),  i just edit file like that, and use vs2019, bazel 0.24.1, cuda 10.1, at last, i build tensorflow_cc.dll(tensorflow 2.0.0 ) successed!
but there still are some error when i use  tensorflow_cc.lib, i got some lnk 2001 error, and then

[2020-02-17 03:38] aluds123 opened #36806 "how to use pretrain weight"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2020-02-17 03:58] openyuanmu opened #36807 "wrong doc for categorical_hinge loss"
## Description of issue (what needs changing):

document for tensorflow.keras.losses.categorical_hinge is wrong

### Clear description

[code]

Should be: `neg=maximum((1-y_true)*y_pred)` and `pos=sum(y_true*y_pred)`

[2020-02-17 04:18] Lay4U opened #36808 "Is Tensorflow impossible to predict multiple steps?"
Thank you for reading. I'm not good at English.

I am wondering how to predict and get future time series data after model training. I would like to get the values after N steps.

So, I used the time series in the Tensorflow tutorial to practice predicting the model.

[code]
The results are predicted by linear graphs from nonlinear graphs as shown below.

![1](https://imgur.com/7tenqRd.png)

How c

[2020-02-17 04:47] hangyao commented on #35934
I had the same issue and I downgrade tensorflow to 2.0.0 and it works fine.

[2020-02-17 04:56] gadagashwini commented on #36750
@harshithdwivedi, Please find the [doc](https://www.tensorflow.org/tutorials/keras/save_and_load) for Tensorflow save and load model. Thanks!

[2020-02-17 04:56] Saduf2019 commented on #36730
@PingYufeng Please let us know if the above comment helps resolve the issue.

[2020-02-17 05:04] Hyperclaw79 commented on #35934
Same here but a rollback should be a last resort imo.

[2020-02-17 05:05] Saduf2019 commented on #36806
@aluds123  Please refer to the link shared to raise this issue [Stack Overflow](http://stackoverflow.com/questions/tagged/tensorflow)

[2020-02-17 05:05] #36806 closed

[2020-02-17 05:09] gadagashwini commented on #36733
@kamalravi, Did you use Distribution strategy to employ multiple GPUs. Please take a look at different ways to use multiple GPUs in this [doc](https://www.tensorflow.org/guide/distributed_training). Thanks!

[2020-02-17 05:11] Saduf2019 commented on #36804
@huanyingjun Please provide us with simple executable stand alone code[along with the tensorflow version] so we could replicate the issue in our environment.

[2020-02-17 05:24] jackd opened #36809 "import_graph_def with cond nodes fails in eager/tf.function contexts"
*Have I written custom code*: Yes
*OS Platform and Distribution*: Ubuntu 16.04
*Tensorflow installed from*: binary
*Tensorflow version*: v2.1.0-rc2-17-ge5bf8de 2.1.0 (cpu)

**Describe the current behavior**
`import_graph_def` fails to rebuild graphs containing `tf.cond` nodes in eager mode/`tf.function`ed calls.

**Describe the expected behavior**
Work as it does using tf 1.x-style session calls,

[2020-02-17 05:41] kamalravi commented on #36733
Thanks for the suggestion! Closing the issue.

[2020-02-17 05:41] #36733 closed

[2020-02-17 05:53] Saduf2019 commented on #36599
@arshren Please respond to the above comment

[2020-02-17 06:03] Saduf2019 commented on #36787
@LGDHS Please provide with executable stand alone code to replicate this issue in our environment along with the version on tensorflow been used.

[2020-02-17 06:10] david-waterworth commented on #35968
I couldn't get this to work on Ubuntu 18.04 either - specifically the first part which is supposed to add the repo's didn't work (i.e. nothing added to /etc/apt/sources.list *) so everything else will clearly then fail.

What I ended up doing was to download the deb files directly from http://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64/

i.e. I located the versio

[2020-02-17 06:18] Saduf2019 commented on #36789
@sushil579 It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you wil

[2020-02-17 06:59] gadagashwini commented on #36791
@JaeinKim85, Can you provide the standalone code to replicate the reported issue. Thanks!

[2020-02-17 07:02] gadagashwini commented on #36794
@paokuwansui, Check the `gast` version. Tensorflow 2.x supports gast ==0.2.2. Thanks!

[2020-02-17 07:07] Saduf2019 commented on #36790
@Hemal-Mamtora Could you please confirm if the issue faced by you is similar to existing [issue](https://github.com/tensorflow/tensorflow/issues/33365)

[2020-02-17 07:08] Prasandhmcw opened #36810 "Gradient Support for Unique operator"
I am trying to run a custom graph with only Unique op for a debugging.

`with tf.GradientTape() as g:
y = tf.unique(x)
dy_dx = g.gradient(y, x)`

The Forward pass runs fine, but getting this error during Backward pass:

Gradient yet to be supported for Unique (or) there is no gradient for Unique ? Please help me understand why incase if its the second one.

[2020-02-17 07:08] ayushmankumar7 commented on #36693
Please assign this to me

[2020-02-17 07:19] gadagashwini commented on #36805
@Abdulazizbek, Can you provide the Tensorflow version that you are using. Thanks!

[2020-02-17 07:32] nikunjramani opened #36813 "utils"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2020-02-17 07:34] nauyan commented on #36654
@terryheo I am Importing Tensorflow-Lite from **implementation 'org.tensorflow:tensorflow-lite:2.0.0'** instead of building the library so I think addr2line utility cannot be used in these circumstances.

[2020-02-17 07:37] bharathts1507 commented on #26572
I am facing the similar issues when loading model for object detection and using multiprocessing

[2020-02-17 07:39] yyoon commented on #36766
@am15h Hi Amish. Could you clarify which `.podspec` file you were referring to?
The `TensorFlowLiteC.podspec` file should already have the `s.library = 'c++'` line:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/experimental/ios/TensorFlowLiteC.podspec#L21

If you're just trying to use the pure C API, there is no reason for you to use the Obj-C CocoaPods. Anyways, I'll take a

[2020-02-17 07:41] terryheo commented on #36654
@nauyan, therefore you'd better build tflite by yourself. In this way, you can add more debug code to tflite.

[2020-02-17 08:14] atangfan commented on #31312
Similar leakage case while using tf.data.Dataset on Colab.

[2020-02-17 08:29] taye1 commented on #17022
Traceback (most recent call last):
  File "C:\Users\taye\Anaconda3\envs\tensor\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\taye\Anaconda3\envs\tensor\lib\site-packages\tensorflow_core\python\pywrap_tensorflow_internal.py", line 28, in <module>
    _pywrap_tensorflow_internal = s

[2020-02-17 08:31] harshithdwivedi commented on #36750
I can't find the answer to my issue in the doc that you linked @gadagashwini

[2020-02-17 08:35] sai110594 commented on #36769
@Pinkmei  Please refer the [link](https://github.com/tensorflow/tensorflow/issues/36167) for similar issue and let us know if it helps.

[2020-02-17 08:42] Saduf2019 commented on #36793
@oeyvindds please provide with simple stand alone code with all dependencies from the code for us to replicate in our environment, i was unable to replicate the code shared by you due to dependencies in the code.
Also please highlight the tensorflow version you are facing th eissue in.

[2020-02-17 08:53] Sam-Persoon commented on #36391
Another way of achieving this, is also fine. But it should be possible at least as all the information is in the graph anyway.

[2020-02-17 08:55] mankeyboy commented on #36720
Can you explain what the difference would mean? I'm not sure what difference would occur from a frozen graph def or otherwise.

[2020-02-17 09:03] mankeyboy commented on #36723
@aaroey I've been able to convert a frozen graph to a saved_model but I'm somehow unable to get it to save the variables which is why I've been looking for the ability to be able to use the frozen graph directly like the previous APIs.

[2020-02-17 09:10] Saduf2019 commented on #36766
@@am15h please let us know if the above comment helps resolve the issue.

[2020-02-17 09:12] Saduf2019 commented on #36580
@smescarzaga Please respond to the above comment.

[2020-02-17 09:16] beihaifusang commented on #24816
Hi Colin, that's interesting, could you share more about your findings about this?

[2020-02-17 09:16] B3N50N commented on #26403
@steige2 can you explain more detail for how you fix this error?

[2020-02-17 09:27] Saduf2019 commented on #36810
@Prasandhmcw please provide us with complete executable code and the tensorflow version to replicate the issue faced by you in our environment.

[2020-02-17 09:28] harshithdwivedi opened #36814 "Can't import Layer from tensorflow.python.keras.engine.base_layer"
I'm getting an error that says `from tensorflow.python.keras.engine.base_layer import Layer` while importing tensorflow in my app.

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): MacOS
- TensorFlow installed from (source or
binary): binary
- TensorFlow version (u

[2020-02-17 09:34] oeyvindds commented on #36793
Hello.

Here is a complete code that runs fine on my machine (Anaconda Python) in an empty notebook:

`import tensorflow as tf
import numpy as np
from math import e

def calc_sigma(y):
    return 1 / (1 + e**-y)

def get_derivative(x, y):
    with tf.GradientTape(persistent=True) as tape:
        tape.watch(x)
        sigma = calc_sigma(-y)
        f = (x + sigma) / np.power((x - y), 2)
        p

[2020-02-17 09:36] Saduf2019 commented on #36781
@JivanRoquet Please refer to this [link](https://github.com/tensorflow/tensorflow/issues/11812) and let us know if this helps resolve your issue.

[2020-02-17 09:45] carlpe opened #36815 "2GB Protobuf limit"
Greetings,

I am training some deep learning models using Ubuntu Server 18.04 along with the following nvidia docker: nvcr.io/nvidia/tensorflow:20.01-tf1-py3

Tensorflow-gpu 1.15.2
CUDA 10.2
GPU TITAN RTX 24GB

Everything is working very well and with a solid performance boost compared to my windows setup.
However, it is limited to having a set window size of 328,328,328 - once I go with any large

[2020-02-17 09:49] JesperLindberg commented on #36576
@ihuale Thanks, however I am locked to vs 2017 since I am on a work computer with no admin rights.

[2020-02-17 09:49] gadagashwini commented on #36775
I could replicate the issue with Tf 2.1.

[2020-02-17 09:50] Saduf2019 commented on #36739
@Hannabrahman please provide us with complete stand alone code so we could replicate the issue in our environment

[2020-02-17 09:51] Sam-Persoon commented on #36505
I don't see how I am not factor in these. If I adapt the script posted above to:
[code]
I get the following output:
[code]
And downloading them first and then loading:
[code]
Gives following output
[code]
I timed everything now, so network operations are in here. I can execute both scripts multiple times, the execution times are always in line with these results.

[2020-02-17 09:54] Ljl-Jdsk opened #36816 "Can tensorflow use multiple ps servers to store an embedding variable?"
Thank you for reading.
Can tensorflow use multiple parameter servers to store an embedding variable?
My embedding is too big, the bandwidth of a server is not enough.
Which module should I use?

Looking forward to your reply！
Thanks！

[2020-02-17 09:58] gadagashwini commented on #36299
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-17 09:58] #36299 closed

[2020-02-17 09:58] 372046933 commented on #19144
This problem still exists on 1.13 branch

[2020-02-17 09:59] gadagashwini commented on #36338
@vishwas1234567, Closing since it is resolved. Please feel free to open if still issue persists. Thanks

[2020-02-17 10:00] #36338 closed

[2020-02-17 10:04] gadagashwini commented on #36421
@simplezhang57, Closing since its resolved. Please feel free to open or comment if issue still persists. Thanks!

[2020-02-17 10:04] #36421 closed

[2020-02-17 10:06] gadagashwini commented on #36437
@divyag11, Closing as it is resolved. Please feel free to open if still issue persists.Thanks

[2020-02-17 10:06] #36437 closed

[2020-02-17 10:10] gadagashwini commented on #36455
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-17 10:10] #36455 closed

[2020-02-17 10:14] gadagashwini commented on #36480
@rakeshmothukuru1, Are you happy to close this issue since its resolved. Thanks!

[2020-02-17 10:15] gadagashwini commented on #36491
@prakHr, Is this still as issue ?

[2020-02-17 10:16] gadagashwini commented on #36495
@glarchev, Did you get a chance to check @jhseu's comment. Thanks

[2020-02-17 10:18] gadagashwini commented on #36529
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-17 10:18] #36529 closed

[2020-02-17 10:20] am15h commented on #36766
Thanks @yyoon, actually I was referring to `ios/tflite_flutter_plugin.podspec` file in my project ([link](https://github.com/am15h/tflite_flutter_plugin/blob/ios_support/ios/tflite_flutter_plugin.podspec#L24)).

Just to be clear Undefined symbols for architecture error was resolved and now I am facing **flutter dynamic lookup failed** using the TensorFlowLiteC library.

I don't have much knowledge

[2020-02-17 10:25] yyoon commented on #36766
And what is your Xcode version? If you're using Xcode 10 or below, could you try using Xcode 11?
In the meantime, I'll try to reproduce your case.

[2020-02-17 10:27] ayushmankumar7 commented on #36807
Can i be assigned to this issue?

[2020-02-17 10:29] am15h commented on #36766
Already using latest version Xcode.

[2020-02-17 10:31] Saduf2019 commented on #36614
@Kaushikudaya Could you please respond to the above comment

[2020-02-17 10:34] tabarkarajab commented on #31224
this code might help you.

import numpy as np
import tensorflow as tf

# Load TFLite model and allocate tensors.
interpreter = tf.lite.Interpreter(model_path="/content/drive/My Drive/Colab Notebooks/YOLO/optimized_pydnet++.tflite")
interpreter.allocate_tensors()

# Get input and output tensors.
input_details = interpreter.get_input_details()
output_details = interpreter.get_output_details()

# Tes

[2020-02-17 10:36] gadagashwini commented on #36538
@zysNLP, TensorFlow Datasets exposes the public research datasets as `tf.data.Datasets` for more read [here](https://blog.tensorflow.org/2019/02/introducing-tensorflow-datasets.html).
file = open("mspr.txt', 'r'), this reads the content of text file later can be used as train and test dataset. Thanks!

[2020-02-17 10:37] huanyingjun commented on #36804
@Saduf2019
tensorflow is at commit ID: a00bd4687adac4d5f1880595262276e656375322, Date:   Sun Feb 16 15:18:17 2020 -0800
I use tflite benchmark_model for testing, just modify a few lines:
benchmark_tflite_model.cc   PrepareInputData
line 478: modify low and high
int low = 1;//has_value_range ? low_range : 0;
int high = 1;//has_value_range ? high_range : 254;

and line 656, modify "RunImpl" as below

[2020-02-17 10:38] gadagashwini commented on #36542
@bioothod, Any update

[2020-02-17 10:40] rakeshmothukuru1 commented on #36480
Yes @gadagashwini . Thanks you.

[2020-02-17 10:40] #36480 closed

[2020-02-17 10:41] gadagashwini commented on #36552
@xcwanAndy, Is this still an issue?

[2020-02-17 10:45] gadagashwini commented on #36553
@vivien624, Any update?

[2020-02-17 10:46] gadagashwini commented on #36569
@haolujun, Closing since its resolved.

[2020-02-17 10:46] #36569 closed

[2020-02-17 10:47] gadagashwini commented on #36577
@caizd1994, Please share the code snippet to replicate the issue. Thanks

[2020-02-17 10:48] xcwanAndy commented on #36552
@gadagashwini  Yes, I still cannot make it in my docker container.

[2020-02-17 10:49] gadagashwini commented on #36581
@chih-wei-chen, Can you provide the code snippet to replicate the reported issue along with Tensorflow version. Thanks!

[2020-02-17 10:51] gadagashwini commented on #36613
@ccl-private, Any update?

[2020-02-17 10:57] vihari1729 commented on #36500
Did you try the tflite model in android studio?Is it working there?.could you please send the images of the tflite model and graphdef model by opening it in https://lutzroeder.github.io/netron/

[2020-02-17 10:58] yyoon commented on #36766
Hmm, I'm not seeing the build error you pasted above, and seeing a different error when the app is launched. See below.

[code]

Here's my `flutter doctor` output from my mac, just in case.

[code]

Seeing the exact same error when I try to run it on iOS Simulator.
Is this error expected? Or should it be displaying some Flutter UI instead?

[2020-02-17 11:02] gadagashwini commented on #36703
@acvander, Thanks for the code but looks like code is incomplete to replicate the reported issue. Please provide more information to debug. Thanks

[2020-02-17 11:09] vihari1729 opened #36818 "How the Frozen model from tensor flow audio recognition is made and converted to tensor flow lite model?"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2020-02-17 11:10] #36818 closed

[2020-02-17 11:10] Abdulazizbek commented on #36805
Tensorflow version: Tensorflow C++ API 1.14

[code]
[code]

[2020-02-17 11:28] am15h commented on #36766
Yes @yyoon the log you have shared is the expect error.

as I said in a previous comment I had shared log for the error Unresolved symbol for architecture which I was able to resolve, now we are facing **Failed to lookup symbol** (as you have shared)

[2020-02-17 11:30] gadagashwini commented on #36768
@lcdavis13, I tried with Tf 2.1 and Latest Tf nightly version, its working as expected no error seen. Thanks

[2020-02-17 11:34] yyoon commented on #36766
Ah, so we're on the same page now. Thanks for clarifying.
Looks like I'll need to understand dart:ffi and how it works in flutter a bit to investigate this further.
Let me get back to you when I find any clues.

[2020-02-17 11:35] gadagashwini commented on #36779
@rmothukuru, Can you refer similar issue resolution on stackoverflow https://stackoverflow.com/questions/60237754/change-in-the-dimension-shape-because-of-np-hstack-on-tf-keras-preprocessing-t. Thanks!

[2020-02-17 11:39] huanyingjun commented on #36804
And I also test with mobilenet-v2 ( https://storage.googleapis.com/download.tensorflow.org/models/tflite_11_05_08/mobilenet_v2_1.0_224_quant.tgz )

Also set input values as 1 just for testing, modify below codes:
benchmark_tflite_model.cc
line 478 PrepareInputData ：
[code]

and line 656, modify "RunImpl" as below:
[code]
CPU and DSP got different output values
![cpu_dsp_mv2](https://user-images.gi

[2020-02-17 11:42] Saduf2019 commented on #36731
@dmitry-kabanov could you please install tensorflow using pip and try on virtual environment, let us know if that helps resolve the issue.

[2020-02-17 11:42] Prasandhmcw commented on #36810
File : (please rename to .py)

[unique.txt](https://github.com/tensorflow/tensorflow/files/4213491/unique.txt)

TF version :
`>>> tf.__version__
'1.14.0'`

[2020-02-17 11:43] gadagashwini commented on #36788
@yo-png, Can you raise this issue on [Tensorflow js repository](https://github.com/tensorflow/tfjs/issues).

[2020-02-17 11:45] #36779 closed

[2020-02-17 11:45] gadagashwini commented on #36813
@nikunjramani, Provide all the information asked in the Template. Thanks

[2020-02-17 11:47] anilsathyan7 commented on #36707
When i tried the above code (v1 or v2 lite converter) for a keras model, it adds a quantize layer at beginning and dequantize layer at the end(netron viewer). I even tried to do the same with a saved model version of the same keras model; but results are same. Also tried with nightly versions dev20200212 and dev20200216. Anybody else facing this issue and how can it be resolved?

Here is the code:

[2020-02-17 11:51] castilho25 opened #36819 "Keras fit generator - ValueError: Failed to find data adapter that can handle input"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information** - Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platf

[2020-02-17 11:52] gadagashwini commented on #36816
@Ljl-Jdsk, Tensorflow supports distribution strategy please take a look at [guide](https://www.tensorflow.org/guide/distributed_training#parameterserverstrategy) for parameter server strategy. Thanks!

[2020-02-17 12:02] durandg12 commented on #35314
I can confirm that the warning disappeared for me when using tf-nightly.

[2020-02-17 12:16] akdnfbf opened #36820 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/sbmadwq

[2020-02-17 12:20] sai110594 commented on #36783
@haolujun In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2020-02-17 12:26] sai110594 commented on #36764
@pkan2 Please provide the code snippet  in proper format  as  we are facing indentation error.  Also, please provide the TF version. Thanks!

[2020-02-17 12:30] dmitry-kabanov commented on #36731
@Saduf2019 I installed Python 3.7 via conda in a conda environment and install tensorflow and all dependencies via `pip`. I still get the same issue. Please see the attached logfile.

My version of Python is `3.7.6 h359304d_2`.

[logfile.txt](https://github.com/tensorflow/tensorflow/files/4213714/logfile.txt)

[2020-02-17 12:34] sai110594 commented on #36792
@oeyvindds  Could you please confirm to close this as it looks like a duplicate issue  You can track the progress in #36793.

[2020-02-17 12:35] Hemal-Mamtora commented on #36790
Yes, seems like TF 2.0 has issues with float 64, but data comes in float 64,

Till when would this issue he resolved ?

[2020-02-17 12:51] sai110594 commented on #36780
@traduy1998 In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2020-02-17 12:52] plooney opened #36821 "Memory leak using generators with tf.data.experimental.AUTOTUNE"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information** - Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): - OS Platform

[2020-02-17 12:55] punndcoder28 commented on #36146
Hey @Joey155 ! PR #36186 has been opened regarding the same.

[2020-02-17 13:25] #36820 closed

[2020-02-17 13:31] tgsmith61591 commented on #30802
@mdanatg

Could you guys add this to [the documentation](https://www.tensorflow.org/api_docs/python/tf/data/Dataset) for tf.Dataset? Seems like a quick addition that would prove super valuable. Thanks!

[2020-02-17 13:33] bioothod commented on #36542
This is a bit tricky process to run this large chunk of code, I can put both model and data online, but can you instead release package with debug symbols? It will be order of magnitude faster getting that I have all setup handy, I will also make a core

[2020-02-17 13:43] steige2 commented on #26403
I accepted the default to this configuration question:
Do you wish to build TensorFlow with MPI support? [y/N]
that is, solved the problem by NOT building with MPI support.

[2020-02-17 13:44] ngc92 opened #36822 "exception in gradient computation for losses when combining Tensor and EagerTensor"
**System information** - Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): - Linux Mint 19
- TensorFlow installed from (source or binary): binary (pip)
- TensorFlow version (use command below): v2.1.0-rc2-17-ge5bf8de 2.1.0
- Python version: 3.6

**Describe the current behavior**
The followi

[2020-02-17 13:54] skeydan opened #36823 "decode_wav_op.cc:55 : Invalid argument: Bad file size for WAV: Expected 16 or 18, but got 40"
**System information**

- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Fedora 31
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
 - TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2

[2020-02-17 14:07] foxik commented on #36656
After some investigation, this feels more like a tensorboard graph plugin problem. Notably even with the above GPU errors (about CUPTI etc), the CPU profile is generated (it seems very similar to what `tensorflow-cpu` produces without any error) and it can be even viewed in the Profile tab (but not in Graph tab).

So my guess is maybe the TF 2.1 profile uses some new or different features which th

[2020-02-17 14:10] mdanatg commented on #30802
@tgsmith61591 This issue should be resolved - enumerate should now work correctly with datasets in tf.function, with TF >= 1.5. Have you been still experiencing issues?

[2020-02-17 14:18] faroit commented on #20068
@hbi-tianyi did you come up with a good solution for your data pipeline? We are having similar problems and also work on audio (reading random audio chunks)

[2020-02-17 14:24] am15h commented on #36766
Thanks @yyoon, These are some related issues https://github.com/dart-lang/ffi/issues/28, https://github.com/flutter/flutter/issues/33227,  https://github.com/flutter/flutter/issues/46887, after going through the comments I suspect that this might be a dart:ffi and flutter related problem, still I can't say that with surety as,
**linking works fine with ObjectBox.framework and not TensorFlowLiteC.f

[2020-02-17 15:01] helen119 opened #36825 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 15:09] Blahblahblahsomething commented on #36825
Why?

On Mon, Feb 17, 2020, 8:08 AM helen119 <notifications@github.com> wrote:

[2020-02-17 15:14] Ru-Van opened #36826 "tf.lite.TFLiteConverter error when I trying to convert keras .h5 Yolov3 model."
**System information**
google colab
tf ver. '2.1.0'

**Command used to run the converter or code if you’re using the Python API**

[code]

**The output from the converter invocation**

[code]

**Also, please include a link to the saved model or GraphDef**

[code]

**Failure details**
I read #22564, bit this decision is not clear to me.
Also, i try to use TFLiteConverter.from_concrete_functions()
[

[2020-02-17 15:22] oeyvindds commented on #36792
No. This is not the same issue. This seems to be a bug related to TensorFlow not being able to use Numpy. Here it cannot convert the symbolic Tensor to a numpy array. Hence, when using Numpy it comes to a complete stop.

Issue #36793 is a different issue. There it works fine with numpy. However, the two seemingly identical ways of doing a task give two different outputs.

It might be related to nu

[2020-02-17 15:23] vivien624 commented on #36553
I think I figured it out. Thank you very much.

gadagashwini <notifications@github.com> 于2020年2月17日周一 上午5:45写道：

[2020-02-17 15:32] pkan2 commented on #36764
Hello @sai110594 !

The code is as following:
[code]

And I think the version used by the Windows CPU Python3 test is:
[code]

Thank you!

[2020-02-17 15:32] durandg12 opened #36827 "Keras with multiple outputs: cannot evaluate a metric without associated loss"
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.13.6
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.1.0-rc2-17-ge5bf8de410 2.1.0
- Python version: v3.6.7:6ec5cf24b7, Oct 20 2018, 03:02:14

**Describe the current behavior**

I

[2020-02-17 15:32] mdanatg commented on #31962
I checked the colab posted by @mmv against tf-nightly and it looks like #33497 resolved the issue.

[2020-02-17 15:32] #31962 closed

[2020-02-17 15:53] lamarrr commented on #35699
Alright, Will do!

[2020-02-17 15:53] #35699 closed

[2020-02-17 15:54] Mazecreator opened #36828 "Build from Source Failure (Ubuntu 18.04 CUDA/cuDNN 10.1/7.6.5 Py 3.6 no AVX)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Ubuntu 18.04
- TensorFlow installed from (source or binary):
Source
- TensorFlow version:
GPU 2.1
- Python version:
3.6
- Installed using virtualenv? pip? conda?:
NA - PIP3
- Bazel version (if compiling from source):
0.29.1
- GCC/Compiler version (if compiling from source):
7.4.0
- CUDA/cuDNN version:
10.1/7.6.5
- GP

[2020-02-17 16:01] hgaiser opened #36829 "[Keras] Fatal exception training a model with more outputs than targets from the generator"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
 - Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Plat

[2020-02-17 16:01] CNOCycle commented on #35107
any update for this issue?

[2020-02-17 16:12] yoke2 commented on #34607
I'm also facing the same issue when using TensorFlow v2.1.0 and 2.0.0 with Flask in Docker & Docker-Compose. As mentioned by above thread, setting FLASK_DEBUG=0 is a valid workaround.

Another way that worked for me that allows keeping FLASK_DEBUG=1 during development is to use package versions `Flask==1.1.1` and `tensorflow==2.0.0-beta1`. By the way, I'm using this flask+docker image from [uwsgi-

[2020-02-17 16:29] lcdavis13 commented on #36768
Hi, thanks for the response. It seems to work as expected if I add the line "tf.enable_eager_execution()" , which is not included in the tutorial. But it then throws a warning about this method being deprecated. I've tested on 3 different environments and all show the same issue when following the tutorial. I'm not using the nightly builds though, but rather the latest Anaconda releases. Tested on

[2020-02-17 16:29] tessy1234 commented on #33266
I created 2 conda environments:
1) tensorflow2_0_conda environment:
conda installation using
`conda install python=3.7 tensorflow=2.0`
2) tensorflow2_0_pip environment:
pip installation using
`conda install python=3.7
pip install tensorflow==2.0.0
`
Both installations completed without any error.

Import test:
`python -c "import tensorflow as tf"`
ad 1) conda env works fine
ad 2) pip env failed wi

[2020-02-17 16:33] krishnak commented on #33788
I am getting this error, I am using pure keras, what needs to be done to switch to tf.keras

converter = tf.lite.TFLiteConverter.from_keras_model(model)

should this line be changed to something else, please advise with a code snippet

[2020-02-17 17:02] Hannabrahman commented on #36739
@Saduf2019 thanks for reply.
Actually It's not a part of code. However, this is what I want to do. I have an script which prepare my tfrecord data like following:
[code]
Here x1_ids, x1_len, x1x4_ids, x1x4_len, and x4_m are all integers and float. However label is string.
I want to use label as string during my training. I want to do some string matching.
When running my session in tf and creating

[2020-02-17 17:13] Andreasksalk commented on #31991
Any updates on this? I need a custom layer that does a for loop.

[2020-02-17 17:15] yo-png commented on #36788
Yes I've already did that 😉
Thanks

[2020-02-17 17:16] menon92 commented on #31991
@Andreasksalk

Layer does not support iteration. you have to perform operation on entire batch

[2020-02-17 17:20] pingsutw commented on #32477
Getting the same problem.

[2020-02-17 17:22] Andreasksalk commented on #31991
So it is a completely no go to use packages that is not keras? I have to perform optimal transport on a set of tensors in a keras model. i have found a way to do this on a single input but cannot seem to find a way to implement this into the keras model.

[2020-02-17 17:33] Pinkmei commented on #36769
Thank you. I have installed it successfully.

[2020-02-17 17:33] #36769 closed

[2020-02-17 18:19] foxik commented on #33260
This is still true for TF 2.1 Notably the following example
[code]
produces `None` on both TF 2.0 and TF 2.1.

Therefore, the model **silently** ignores the mask! Therefore, if it would be used in training, silently the training would be performed on all elements instead of on the non-masked only.

[2020-02-17 18:20] foxik commented on #33260
Also, as mentioned in #28143, TF 2.0.0-alpha0 was raising and error.

[2020-02-17 18:21] foxik commented on #26406
This is still the case in TF 2.1.

[2020-02-17 18:23] janosh commented on #26406
What's still the case? You mean this isn't implemented yet?

[2020-02-17 18:24] Riccorl opened #36831 ""ValueError: No gradients provided for any variable" in TF2.1 custom models"
**System information**
- OS Platform and Distribution: Arch Linux
- TensorFlow version: v2.1.0-rc2-17-ge5bf8de 2.1.0

I'm trying to train a custom model with tf.GradientTape, but it gives me this error:

[code]

I don't see anything wrong in my code, can you point out where is the problem?

[code]

where `MyModel` is for example

[code]

[2020-02-17 18:35] foxik commented on #4814
@gadagashwini With TF 2, this can be closed.

[2020-02-17 18:36] abhilash1910 commented on #36785
Hi @8bitmp3 ,@gadagashwini, Have made a comment in the  https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/optimizer_v2/adadelta.py
The comment states the original details as mentioned in the paper with LR 1 and epsilon 1e-6.
 PR #36832

[2020-02-17 18:41] foxik commented on #26406
Yes, I meant nothing changed in TF 2.1 compared to TF 2.0 (as far as I know).

Personally I would really like an optional `step` argument to `SummaryWriter.as_default` and `set_as_default`. It would be also simple to implement. I will consider sending a pull request.

[2020-02-17 19:24] yufengm opened #36833 "[tf2.1.0] model.save() throws TypeError when using tf.debugging.enable_check_numerics()"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Redhat 8.1 (in Docker)
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): TF2.1.0
- Python version: 3.6.8
- CUDA/cuDNN version: 10.1
- GPU model and memory: V100, 32

[2020-02-17 19:40] melloelout opened #36835 "graph_transforms not found when running export_tflite_ssd_graph.py to convert ssd model"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 2.1.0

**Command used to run the converter or code if you’re using the Python API**
From issue #31015 I'm trying to run:

python ../models/research/object_detection/export_tflite_ssd_graph.py --pip

[2020-02-17 19:52] chrisagblake commented on #33634
I'm fairly sure I copied the .dll across into the runtime folder correctly. However I could have made some other mistake. I'll give it another go later when I get a chance.

[2020-02-17 19:57] sanjoy commented on #36228
How did you triage the problem to that line?  Is it because that's the only place that uses 6.0 as a compute capability?  If so, that might be a red herring.

IIUC the TF JNI GPU packages are uploaded here https://storage.googleapis.com/tensorflow-nightly/github/tensorflow/lib_package/libtensorflow_jni-gpu-linux-x86_64.tar.gz.

@gunan Do you know how these JNI packages are built and uploaded?

[2020-02-17 20:03] dtsmith2001 opened #36837 "Tensorflow Lite Build Problem - Specialization for Eigen::internal::scalar_logistic_op<float> Removed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Lunux Ubuntu 18.04
- Mobile de

[2020-02-17 20:10] JivanRoquet commented on #36781
@Saduf2019 already went through it. It doesn’t solve anything.

[2020-02-17 20:22] austinmw commented on #24328
Nope.

[2020-02-17 20:25] sanjoy commented on #35583
CC @DEKHTIARJonathan

[2020-02-17 20:25] Ru-Van commented on #36826
There was a conflict of variables.
[code]
This work for me

[2020-02-17 20:25] #36826 closed

[2020-02-17 20:27] artokarj commented on #36700
I encountered this problem just yesterday when attempting to use transfer learning with pretrained models from tensorflow.keras.application-package. The validation loss and accuracy aren’t progressing as one would expect (except with VGG16 and others which don’t use BN). Still after loading the model weights I manually set this flag to be true for each BN layers and after that everything seemed to

[2020-02-17 21:59] pavanky commented on #36717
@preethivenkatesh are you using the same bazel version? Can you also check for symbols in `libtensorflow_framework.so`

[2020-02-17 22:01] pavanky commented on #36717
@penpornk are you using the same version of bazel ? 0.24.1?

[2020-02-17 22:05] chaaland commented on #36634
Any updates on this?

[2020-02-17 22:20] david-waterworth commented on #35968
Some additional info I've discovered, the reason it failed for me (Ubuntu 18.04) is the step to install the key

errors with

I'm not sure why, google suggest using http rather than https but that also fails. So I installed the key manually, i.e.

Also not sure if it's an error or warning but this probably should be done as the first step, installing `cuda-repo-ubuntu1604_10.1.243-1_amd64.deb` fir

[2020-02-17 22:31] arashb commented on #1592
If someone is still interested, we have developed open source libraries on top of @tensorflow and TensorFlow Lite to train and deploy binarized neural networks (BNNs) similar to XNOR-NET.
- [Larq](https://github.com/larq/larq) to train BNNs.
- [Larq Compute Engine](https://github.com/larq/compute-engine ) to deploy BNNs on Arm devices.

[2020-02-17 22:34] foxik commented on #26406
I created a PR with the `step` argument of `SummaryWriter.as_default`. For symmetry, I added it also to `SummaryWriter.set_as_default`.

[2020-02-17 22:34] OverLordGoldDragon opened #36840 "Connecting to invalid output X of source node Y which has Z outputs [TF2.1-nightly]"
Occurs in Graph execution (not Eager) with a `return_sequences=True` followed by `return_sequences=False` (but not either on its own) custom RNN layer; the layer involves `nn.moments` and `nn.batch_normalization` ops in `call`, as described [here](https://github.com/tensorflow/tensorflow/issues/36797). The error occurs upon:

 - `model.train_on_batch()` -- `.fit()` -- `.save_weights()` -- `.save()

[2020-02-17 23:16] nekapoor commented on #29590
@gargn I exported a .tflite file generated from AutoML. The default input is 224x224. Any ideas on how to change the input to 200x80 and then save and download a new .tflite file? I can't seem to find documentation on this? I know i can use `resize_tensor_input`, but then I have to do the inference at that time. I'd love to get a new tflite file that has a new input tensor all together.

Thoughts?

[2020-02-17 23:26] foxik commented on #36823
The file is not a regular WAVE_FORMAT_PCM (this is currently the only one supported by TF), but instead an instance of WAVE_FORMAT_EXTENSIBLE https://docs.microsoft.com/en-us/windows/win32/api/mmreg/ns-mmreg-waveformatextensible ; see bytes 21 and 22 which contain `0xFFFE` instead of `0x0001`. Therefore, TensorFlow cannot handle it (but yes, the error message is suboptimal).

[2020-02-17 23:31] deliahu opened #36841 "DockerHub tag 2.1.0-py3 includes GPU support"
**System information**

DockerHub: [tensorflow/tensorflow:2.1.0-py3](https://hub.docker.com/layers/tensorflow/tensorflow/2.1.0-py3/images/sha256-14ec674cefd622aa9d45f07485500da254acaf8adfef80bd0f279db03c735689?context=explore)

**Describe the problem**

This Docker image seems to have the pip `tensorflow` package installed, rather than the `tensorflow-cpu` package. As of version 2.1.0, the `tensor

[2020-02-17 23:36] foxik commented on #36808
You did not train the model (no `.fit` method is called).

[2020-02-17 23:42] pablo53 commented on #24828
Why is this ticket closed? Has the Tensorflow team make any fix for this in the sources? I have been even compiling Tensorflow from scratch against CUDA 10.1 and CUDA 10.2 on ubuntu 18.04 using the latest sources and it still fails with the same error.
The workaround with allow_growth=True helps only with smaller models, but is still only a workaround and not the fix.

[2020-02-17 23:52] HelpMePlz1234 opened #36842 "Tensorlfow with Pycharm"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): Source
- TensorFlow version: Latest to today
- Python version:3.7
- Installed using virtualenv? pip? conda?:Conda
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version: idk
- GPU model and memory:

[2020-02-18 00:42] FrankYinXF opened #36844 "Documentation is very unclear. It lacks formulas in many APIs."
For example, in SparseCategoricalAccuracy(), the words in this API does not help to give a clear picture to understand what it is doing. Why not give a formula. A formula, associated with an example, is clear enough for this API.

[2020-02-18 00:44] Lay4U commented on #36808
Thank you. Updated the .fit call.

[2020-02-18 01:14] MeghnaNatraj commented on #35746
Update:  Due to the lack of of support for full int-8 quantization in TF2.0, we are currently only supporting model training in TF1.x.

[2020-02-18 01:14] #35746 closed

[2020-02-18 02:03] terryheo commented on #36445
Fix was merged.

[2020-02-18 02:03] #36445 closed

[2020-02-18 02:28] MeghnaNatraj commented on #34217
Hello, could you confirm if you are still facing this issue? I am yet to reproduce the issue on the micro-controller but it seems to be working on the jupyter notebook.

[2020-02-18 02:31] Ljl-Jdsk commented on #36816
Yes, the following code can distribute v1, v2 and v3 to two different parameter servers. But now I want to separate the v1 and store it on two servers. Sorry, can you tell me the specific function? I ’m abroad and I can’t open the guide.

cluster_spec = {
    "ps": ["ps0:2222", "ps1:2222"],
    "worker": ["worker0:2222", "worker1:2222", "worker2:2222"]}
with tf.device(tf.train.replica_device_sette

[2020-02-18 02:47] Padarn commented on #27416
I don't believe the above workaround is effective if using this inside an estimator
`def mlp_fn(features, labels, mode, params):

    """
    defines model & optimisation props
    """
    feature_layer_inputs = {}
    feature_layer_inputs['dense_input'] = tf.keras.Input(shape=(4,), name='dense_input', dtype=tf.string)

    feature_columns = [
        tf.feature_column.numeric_column('dense_input'

[2020-02-18 03:00] vickykhan89 commented on #17022
Hi all,
pip install tensorflow==1.13.1
Its work for me, but when i create new project then there is tensorflow 2.1 avaliable, that doesnot work. How can i make tensorflow == 1.13.1 for every project same.
Please need help

[2020-02-18 03:11] YINWIZHANG opened #36845 "tf.keras.losses.SparseCategoricalCrossentropy within the multi-GPU strategy.scope() generates NAN value"
My input is `rgb` and `depth` are all `[480,640,3]` images, and the `labels` are `[480,640,1]`. When I use` losses.SparseCategoricalCrossentropy()` in single GPU, it works fine and gives a single loss value. However, when I use it under multi-gpu case, it gives wrong values. Any one can solve this issue?
[code]

[2020-02-18 03:15] YINWIZHANG commented on #36845
In the single-gpu case, I have
[code]

In the multi-gpu case, I have the result
[code]

[2020-02-18 03:24] gadagashwini commented on #36553
@vivien624, Glad that it resolved.

[2020-02-18 03:24] #36553 closed

[2020-02-18 03:36] gadagashwini commented on #36768
@lcdavis13, Can you include gist or full error log to analyze the issue. Thanks!

[2020-02-18 03:48] ianferreira opened #36846 "There aren't enough elements in this dataset for each shard to have at least one element (# elems = 1, # shards = 2)"
**Environment**
Python 3.7.3 (default, Dec 20 2019, 18:57:59)
[GCC 8.3.0] on linux
tensorflow(cpu) 2.1.0
tensorflow_datasets 2.0.0
Description:    Raspbian GNU/Linux 10 (buster)

**Using code the example from**
https://www.tensorflow.org/tutorials/distribute/multi_worker_with_keras

**TFConfig below**

`
{'cluster': {'worker': ['RpiCluster1:2222', 'RpiCluster2:2222']}, 'task': {'type': 'worker', '

[2020-02-18 03:49] xintin commented on #28326
Hi All,
I am trying to run an example from [https://www.tensorflow.org/xla/tutorials/autoclustering_xla](https://www.tensorflow.org/xla/tutorials/autoclustering_xla) in my local.

Configuration is: Conda End, TF2.1, cuDNN 7.6, cuda 10.1 and I have tried out various combination from [https://www.tensorflow.org/install/source#tested_build_configurations](https://www.tensorflow.org/install/source#tes

[2020-02-18 03:52] xintin opened #36847 "Unable to run "Classifying CIFAR-10 with XLA" Experiment: Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning log message was printed above. [[{{node conv2d/Conv2D}}]]"
Hi All,
I am trying to run an example from [https://www.tensorflow.org/xla/tutorials/autoclustering_xla](https://www.tensorflow.org/xla/tutorials/autoclustering_xla) in my local.

Configuration is: Conda End, TF2.1, cuDNN 7.6, cuda 10.1 and I have tried out various combination from [https://www.tensorflow.org/install/source#tested_build_configurations](https://www.tensorflow.org/install/source#tes

[2020-02-18 03:54] xintin commented on #36847
I have referred [#28326 ](https://github.com/tensorflow/tensorflow/issues/28326) but not of much help!

[2020-02-18 04:04] guptapriya commented on #28018
I think what we need to do is handle list of per-replica hooks correctly. Current code assumes that the grouped_estimator_spec.evaluation_hooks is one PerReplica hook - but it's actually a list. We need to handle them correctly as the training_hooks [1]

We would be happy to take a contribution to fix this if someone in this thread wants to do that?

[1] https://github.com/tensorflow/estimator/blo

[2020-02-18 04:35] daihuidai commented on #35931
Thank you very much, I tried some methods and finally solved the problem.

[2020-02-18 04:35] #35931 closed

[2020-02-18 04:56] byronyi commented on #36240
@lgeiger I took a closer look and also suspect that the same issue occur in our environment. I am still investigating...will keep you posted.

[2020-02-18 05:09] supasitk commented on #36510
In my case, setting environment variable "TF_FORCE_GPU_ALLOW_GROWTH=true" can train the model without crash.

[2020-02-18 05:12] yug95 commented on #36728
is there any update ?

[2020-02-18 05:28] ankitesh97 opened #36848 "Not able to use 'training' argument in the call method for a custom layer."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information** :

OS - CentOs
tensorflow-gpu = 2.1.0
tensorflow = 2.0.0
installed in the conda version - conda version : 4.8.1

[2020-02-18 05:49] smescarzaga commented on #36580
The notebook was authored by Google Earth Engine developers and is public facing, not sure how I can help with your specific exception. Did you authorize earth engine api?

[2020-02-18 06:05] Saduf2019 commented on #36731
@dmitry-kabanov
Can you please refer to [link](https://github.com/tensorflow/tensorflow/issues/32859) where workaround is working by installing gast ( pip install gast==0.2.2).
let us know if that helps.

[2020-02-18 06:09] Saduf2019 commented on #36793
@oeyvindds please provide us with indented code that is executable and has all dependencies, code shared is not indented , dependencies are not shared.
you could share a gist of your code using colab.

[2020-02-18 06:11] gadagashwini commented on #36842
@HelpMePlz1234,
TensorFlow release binaries version 1.6 and higher are prebuilt with AVX instruction sets.
Therefore on any CPU that does not have these instruction sets, either CPU or GPU version of TF will fail to load. Please check does your CPU supports AVX instruction sets or not. Thanks!

[2020-02-18 06:31] Saduf2019 commented on #36810
i have replicated the code shared and issue persist, please find the gist [here](https://colab.sandbox.google.com/gist/Saduf2019/2299cbbb43b152bfdb731fc81e005086/36810.ipynb)

[2020-02-18 06:42] ravikyram commented on #36332
@OmerLiberman

Will it be possible to share colab link or simple standalone code with  proper indentation to reproduce the issue in our environment. It helps in localizing the issue faster. Thanks!

[2020-02-18 06:43] rahulremanan commented on #34607
I encountered the same error recently, using Tensorflow 2.1 GPU in Ubuntu 19.10.

When I ran:
`sudo python3 -c 'import tensorflow.keras as keras; print(keras.__version__)'`
it worked; but, running:
`python3 -c 'import tensorflow.keras as keras; print(keras.__version__)'`
without the `sudo` prefix gave me this error.

Here is how I fixed it. In my case, I correctly identified that the user account

[2020-02-18 06:48] Saduf2019 commented on #36804
@huanyingjun Can you please share the tensorflow version used, it helps us resolve th eissue

[2020-02-18 06:51] Saduf2019 commented on #36801
@nbro can you please confirm if the issue faced is similar to [link](https://github.com/tensorflow/tensorflow/issues/28799).

[2020-02-18 06:57] Spider8801 commented on #36693
Okay

On Mon, Feb 17, 2020, 11:08 Ayushman Kumar <notifications@github.com> wrote:

[2020-02-18 06:59] av8ramit commented on #36691
That error seems unrelated. I'd recommend filing a new issue or seeing if another exists. I'll also keep a lookout. Closing this for now.

[2020-02-18 06:59] #36691 closed

[2020-02-18 07:04] gadagashwini commented on #36728
@yug95, I tried with  Tf2.0. I didn't receive any error.
Change these imports as
[code]
Try running the code. Thanks!

[2020-02-18 07:08] Krishna-Aditya commented on #21742
python my_programme.py --arg1=5 --arg2=7

[2020-02-18 07:17] yyoon commented on #36766
@am15h Could you try this? Modify your `ios/tflite_flutter_plugin.podspec` file to include `-all_load` flag in the `OTHER_LDFLAGS` section.

[code]

And then, run `pod install` again inside `example/ios` and do `flutter run`
This seems to have fixed the problem for me.

[2020-02-18 08:01] skeydan commented on #36823
Many thanks for clarifying!

[2020-02-18 08:01] #36823 closed

[2020-02-18 08:04] Lillypucien commented on #36064
Any update ?

[2020-02-18 08:12] huanyingjun commented on #36804
@Saduf2019
tensorflow is at commit ID: a00bd46, Date: Sun Feb 16 15:18:17 2020 -0800

[2020-02-18 08:47] Corea commented on #32052
Any more updates? I had similar issue on [Google Cloud AI Platform](https://cloud.google.com/ai-platform), and I cannot use different `tcmalloc` on the cloud. Memory leakage got worse especially when I concatenated multiple dataset.

[2020-02-18 08:48] OverLordGoldDragon commented on #33487
Just saw a **2.5x slowdown** in Graph execution for a large model relative to both TF1 and TF2.1-Eager - also an _extreme_ reproducibility difference w.r.t. 2.1-Eager. Guess I should open a new issue on this - no reproducible code yet, will post when I'm able.

[2020-02-18 08:54] Saduf2019 commented on #23104
@waltermaldonado please confirm if the above comments help and your issue is resolved.

[2020-02-18 08:57] Saduf2019 commented on #23200
@amcphail Can you please confirm if your issue is resolved.

[2020-02-18 08:58] astridtijskens commented on #27780
In which version of tensorflow is this fixed? In the latest nightly 2.2.0.dev20200217, I still experience very slow DepthwiseConv when using mixed precision.

[2020-02-18 09:00] Saduf2019 commented on #23374
@eslamahmedkhair please confirm if you are still facing any issues.

[2020-02-18 09:03] Saduf2019 commented on #23649
@raven1989 please confirm if the above comments help resolve your issue.

[2020-02-18 09:09] Saduf2019 commented on #25058
@andreapavan please confirm if your issue is resolved

[2020-02-18 09:10] saikumarchalla commented on #36764
I tried to reproduce the issue in colab  with TF 2.1 and didn't face any issues. Please find the [gist](https://colab.sandbox.google.com/drive/1oI3bNG72gHc7MjnpcwHiv6i3M_jDCVO9#scrollTo=l4K9fKHwfwci) here. Thanks!

[2020-02-18 09:11] ravikyram commented on #36848
@ankitesh97

I tried to reproduce the issue in colab with Tensorflow-gpu = 2.1.0.However i am seeing the error message` NameError: name 'Input' is not defined`. Can you please help me with colab link or simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster.Thanks!

[2020-02-18 09:23] ravikyram commented on #36845
@YINWIZHANG

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.
Request you to fill the [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).Thanks!

[2020-02-18 09:23] Saduf2019 commented on #31567
@RochaStratovan please confirm if your issue is resolved.

[2020-02-18 09:23] Randryn0 commented on #36748
I also now tested this with TensorFlow 1.4 and Cuda 10.0 and tried cuDNN 7.4.2 and cuDNN 7.6.5 and the same problem happens.

[2020-02-18 09:27] 07rafix commented on #36064
I had the similar problems with TF2.1 and Eigen (_tensorblockv2.h_ file from _unsupported_ module).

You can upgrade your compiler to VS 2019 or in older varsions you could put the keyword **typename** to all places where the errors come from, for example:

`template <StridedLinearBufferCopy::Kind kind>`

should be replaced by

`template <typename StridedLinearBufferCopy::Kind kind>`

**Kind** is

[2020-02-18 09:31] neenaloysius opened #36851 "TypeError: Tensor is unhashable if Tensor equality is enabled. Instead, use tensor.experimental_ref() as the key. in colab"
When tryig to build the following model, I get error Tensor is unhashable (see figure)
input_data = Input(name='the_input', shape=(208, 224,224, 3), dtype=dtype)
 layer1 =        TimeDistributed(
            MobileNet(weights='imagenet',include_top=False))(input_data)

layer2 =  TimeDistributed(GlobalAveragePooling2D())(layer1)
##********************************* Create Bidirectional LSTM*********

[2020-02-18 09:40] on-device-ai commented on #34217
I used the float point model with the last TensorFlow source code doing the demo because the quantized model has the same issue for prediction. I just joined the tinyML Summit 2020, and I will take the time to confirm it again.
![74486009-e98f2e80-4e70-11ea-99cb-8386ac6c106c](https://user-images.githubusercontent.com/44540872/74723004-cf8c8c00-5274-11ea-8f19-2aae43c75ef1.png)

[2020-02-18 09:54] ravikyram commented on #36829
@hgaiser

I tried to reproduce the issue in colab with TF 2.1 by enabling and disabling v2_behavior. I am not seeing any error message.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/d80d5b3723420971b154409e66cc6e86/untitled645.ipynb). Is this the expected behavior? Thanks!

[2020-02-18 10:20] am15h commented on #36766
Thanks a lot, @yyoon things are now working fine with TensorFlowLiteC.framework.

[2020-02-18 10:20] hgaiser commented on #36829
Hey, it looks like you didn't enable V2 in one of the two blocks. Could you
try that?

On Tue, 18 Feb 2020, 10:55 ravikyram, <notifications@github.com> wrote:

[2020-02-18 10:21] johan-andersson01 opened #36853 "The minimum required Cuda capability is 6.0 for the binary C-API releases 1.14.0 and 1.15.0"
**System information**
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from: binary C-API release (https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-gpu-linux-x86_64-1.14.0.tar.gz)
- TensorFlow version: `1.14.0`
- Docker image: `tensorflow/tensorflow:1.14.0-gpu-py3`
- GPU model and memory:

[code]

**Describe the problem**
Using the C-API, the following erro

[2020-02-18 10:22] yyoon commented on #36766
Awesome! Thanks for verifying.

[2020-02-18 10:22] #36766 closed

[2020-02-18 10:23] johan-andersson01 commented on #25329
@christian-rauch I have now opened an issue for this: https://github.com/tensorflow/tensorflow/issues/36853 (although for the 1.14 and 1.15 releases)

[2020-02-18 10:37] louis925 commented on #26383
tf.keras also can't be automatically completed in VS Code. Bazel test also can't find the tf.keras. Only the tf.python.keras exists.

[2020-02-18 10:38] byronyi commented on #27780
You need to build TF from source using latest cuDNN.

[2020-02-18 10:59] hgaiser commented on #36829
I slightly changed your example:

https://colab.research.google.com/gist/hgaiser/222f71b25e2cd3c7479931f59af5e757/untitled0.ipynb

[2020-02-18 11:13] helen225 opened #36854 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-18 11:25] urimerhav commented on #27780
Any idea whether this fix will make it into the next release?

[2020-02-18 11:26] Randryn0 commented on #36748
Alright, I think I found a working configuration. I installed tensorflow 1.11 and am using cuda 9.0 with cuDNN 7.4.2 and it seems to be working. I tried both the MNIST examples and the Superman vs Batman logo classificator mentioned above.

[2020-02-18 11:31] vihari1729 opened #36855 "How the Frozen model from tensorflow audio recognition is made and converted to tensorflow lite model?"
After following the steps train.py and freeze.py from the [tutorial](https://github.com/tensorflow/docs/blob/master/site/en/r1/tutorials/sequences/audio_recognition.md) ,the structure of my frozen model looks like(https://imgur.com/a/JtNVkHw) which is different from the official frozen model conv_actions_frozen.pb(https://imgur.com/a/KJXExbV).

When I Converted Frozen model to Tensorflow lite usin

[2020-02-18 11:36] dmitry-kabanov commented on #32859
After installing `gast 0.2.2` (which requried uninstalling `gast 0.3.3`):

[code]

I confirm that it helped to solve the issue.

[2020-02-18 11:43] gadagashwini commented on #36851
@neenaloysius, Can you please provide complete code to reproduce the reported issue. Also provide the Tensorflow version. Thanks!

[2020-02-18 11:52] gadagashwini commented on #36808
@Lay4U, Are you happy to close this issue as it is resolved. Thanks!

[2020-02-18 11:59] gadagashwini commented on #36831
@Riccorl, Please provide the complete standalone code to replicate the reported issue. Thanks!

[2020-02-18 12:05] ravikyram commented on #36822
I have tried on colab with TF version 2.1.0, 2.2.0-dev20200218 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/7085b1ad3a03380e559078aa220d186b/untitled646.ipynb). Thanks!

[2020-02-18 12:06] edwardyehuang commented on #36848
Checkout the code below may helpful.

[code]

[2020-02-18 12:13] ravikyram commented on #36819
@castilho25
Looks like code is incomplete. Request you to share colab link or simple standalone code to reproduce the issue in our environment. It helps in localizing the issue faster. Thanks!

[2020-02-18 12:29] Saduf2019 commented on #36651
@Jyothif Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-18 12:29] #36651 closed

[2020-02-18 13:06] nbro commented on #36801
@Saduf2019 Have you read my issue above? In my case, the thing that isn't apparently serializable is a float32, while in the other issue a `Variable` isn't serializable. Furthermore, I am not using `save_model` or any similar method (because I can't use them and then load models from those save files with TFP).

[2020-02-18 13:13] saikumarchalla commented on #36792
Was able to reproduce the issue in colab with TF 2.1. With out using Numpy ,I am not facing any issue. Please find the [gist](https://colab.sandbox.google.com/gist/saikumarchalla/aa5e9834f9cca84bf3ab1e6b65d2b01f/untitled8.ipynb) here. Thanks!

[2020-02-18 13:26] ravikyram commented on #36847
@xintin

Please provide details about what platform you are using (operating system, architecture).

Provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2020-02-18 13:27] wwwind commented on #36692
This change https://github.com/tensorflow/tensorflow/pull/36856 fixed the crash

[2020-02-18 13:30] ravikyram commented on #36844
@FrankYinXF

Can you please provide the links you are referring to.Thanks!

[2020-02-18 13:32] YINWIZHANG commented on #36845
I am using ubuntu 18.04 and tensorflow 2.0.0. My PC is a Lambda stack which has 4 RTX8000 GPUs.

[2020-02-18 13:44] pingsutw opened #36857 "Key error message doesn't print the new line in Estimator"
output in the concole:
[code]
The link to the code snippet:
https://github.com/tensorflow/estimator/blob/6915557cef8bfc86f29f87e4467d601e4553b957/tensorflow_estimator/python/estimator/keras.py#L119-L129

The key error message doesn't print the new line, we should update it.
It's related to https://stackoverflow.com/questions/46892261/new-line-on-error-message-in-keyerror-python-3-3

[2020-02-18 13:48] Mazecreator commented on #36828
I saw reference to Bazel 0.27 for TF 2.1 so loaded 0.27.2 and got similar results:
ERROR: /home/greg/tensorflow/tensorflow/core/kernels/BUILD:1257:1: output 'tensorflow/core/kernels/_objs/snapshot_op_gpu/snapshot_op_gpu.cu.pic.o' was not created
ERROR: /home/greg/tensorflow/tensorflow/core/kernels/BUILD:1257:1: not all outputs were created or valid
Target //tensorflow/tools/pip_package:build_pip_p

[2020-02-18 13:49] aayusharora opened #36858 "Securing models before sending it to client for inference"
We have Tensorflow Saved model format (.pb file  )that we want to ship in an offline application.
Is there a way to secure the model such that, it is not exposed to the client?

We understand that any logic that is running on the client-side is exposed by definition but wondering whether there are best practices to mitigate this risk?

[2020-02-18 13:53] circlesun commented on #24496
I also meet this problem
anacondacloud install tensorflow-gpu2.0

rtx2070s
tensorflow-gpu.2.0.0
cuda 10.0.13
cudnn 7.6.5
Could not create cudnn handle: CUDNN_STATUS_INTERNAL_ERROR
Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning log message was printed above.

[2020-02-18 13:56] dtsmith2001 commented on #36858
Please do some searches, there are a variety of ways to accomplish this goal with varying degrees of risk.

[2020-02-18 14:02] #36719 closed

[2020-02-18 14:04] ravikyram commented on #36840
@OverLordGoldDragon

Can you please provide simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-02-18 14:05] circlesun commented on #24828
Why is this ticket closed? Has the Tensorflow team make any fix for this in the sources? I have been even compiling Tensorflow from scratch against CUDA 10.1 and CUDA 10.2 on ubuntu 18.04 using the latest sources and it still fails with the same error.
The workaround with allow_growth=True helps only with smaller models, but is still only a workaround and not the fix.

___________I agree with you!

[2020-02-18 14:19] ravikyram commented on #36857
@pingsutw
Can you please let us know which TensorFlow version you are using?.Please, share the colab link or simple standalone code to reproduce the issue in our environment. It helps in localizing the issue faster. Thanks!

[2020-02-18 14:21] ahmedbilal commented on #24541
Hi. I was able to resize it but don't recall how. Probably, I had used numpy resizing methods https://docs.scipy.org/doc/numpy/reference/generated/numpy.resize.html

[2020-02-18 14:24] dtsmith2001 commented on #36837
@gadagashwini how can I help?

[2020-02-18 14:26] aayusharora commented on #36858
@dtsmith2001
I have done my research by didn't find anything convincing.
Can you please share some resources?
Any help would be appreciated.

[2020-02-18 14:30] Anto95 opened #36859 "Tensorflow-gpu 2.1 Cuda 10.2, ImportError: DLL load failed: The specified module could not be found."
**System information**
- OS Platform and Distribution: Windows 10
- TensorFlow installed from: pip install tensorflow-gpu
- TensorFlow version: tensorflow-gpu-2.1.0
- Python version: python 3.7.6
- Visual_Studio_Community 2019
- CUDA/cuDNN version: Cuda 10.2.89, cudnn-10.2-windows10-x64-v7.6.5.32
- GPU model and memory: NVIDIA GeForce 940MX 2GB

**Describe the problem**

I followed all the steps t

[2020-02-18 14:46] pingsutw commented on #36857
@ravikyram thanks for the reply
here is my colab [link] (https://colab.research.google.com/drive/1B_0Vbnk3EkNFfkKkmZK9gG8NbKxUqHxP) to reproduce problem
Actually it's keyErorr Exception bug, they don't support `\n` in the error message
you can see this [link](https://stackoverflow.com/questions/46892261/new-line-on-error-message-in-keyerror-python-3-3) for reference

[2020-02-18 14:54] fgervais commented on #36672
Just in case someone would want to use my image right now, run the following on the raspberry pi (tested only on the raspberry pi 4):

[code]

[2020-02-18 14:55] tessy1234 opened #36860 "Tensorflow 2.0.0 - DLL load failed - windows cpu"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 64 bit
- Mobile dev

[2020-02-18 15:02] MarkDaoust commented on #36790
Hi @Hemal-Mamtora ,

I think you're right.

It looks like this is being caused by the mismatch of [metric.py recognizing `floatx`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/metrics.py#L146)  but [metric_utils.py casting directly to float32](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/utils/metrics_utils.py#L427) .

@pavithrasv, wh

[2020-02-18 15:12] xintin commented on #36847
@ravikyram Please find the details below:

18.04.1-Ubuntu x86_64 GNU/Linux

user: nvidia-smi -L
GPU 0: GeForce RTX 2080
GPU 1: GeForce RTX 2080

user: lscpu |grep 'Model name'
Model name:          Intel(R) Xeon(R) Gold 5115 CPU @ 2.40GHz

Regarding steps, I have tried installing TensorFlow and proceeded with the usual steps but now I am trying with the conda env. So, I created an env and installed

[2020-02-18 15:18] PhoenixUA commented on #14356
Had the same issue and the solution helped me, but with small improvement:

[code]

[2020-02-18 15:20] johngrabner opened #36861 "saves everything: The optimizer configuration... it is not able to save TensorFlow optimizers"
## URL(s) with the issue:
https://www.tensorflow.org/tutorials/keras/save_and_load

## Description of issue (what needs changing):

The first reference to "optimizer configuration" is unqualified.
The second reference to "optimizers" is kind of qualified with "(from tf.train)".
Does this mean, tf.keras.optimizer states are stored but not tf.optimizer or does this mean no optimizer states are store

[2020-02-18 15:20] pkan2 commented on #36764
Is it possibly caused by the fact the code is tested with graph mode rather than eager execution mode?

Here is the full file:
[code]
    variable -= (1-learning_rate) * (variable + lambda_ * gradient
        / (frobenius_norm(gradient) + epsilon))
[code]
    variable -= (1-learning_rate) * (variable
    + lambda_ * top_singular_vector(gradient))
[code]

[code]

The code is from the following page

[2020-02-18 15:20] dathudeptrai commented on #24607
@dusanmacho how about if u set fixed size for length and it large enough (let say around 1minutes). Then u can apply masking input on the begining of the code ?

[2020-02-18 15:35] Black-Behemoth commented on #34722
Thanks a bunch! Though in my case, it was Google Colab that allowed me to download "csv.py" from their example library and thus cause this unnecessary mess.

[2020-02-18 15:39] dtsmith2001 commented on #36858
I don't think this is a question for tensorflow.

Are you using Python or some other language in the remote app?

[2020-02-18 15:47] dathudeptrai commented on #33711
@gargn Hi, i'm wondering why don't we set the fixed length large enough then use tf.slice or tf.boolean_mask to obtain the desired shape. Example the inputs_shape is [1, 1000] then we can pass the 2nd input tensor is the scalar real_length so we can easily obtain the desired inputs by using tf.slice(inputs, [0, 0], [-1, real_length]). By this way we also use with quantization.

[2020-02-18 15:50] HelpMePlz1234 commented on #36842
It is an i5-6300u. Also it is a Q3 so I think it supports it.

[2020-02-18 16:02] pandrey-fr commented on #31991
@Andreasksalk It depends on what you want to perform, and more specifically when you want it to happen. The overall issue is very simple: in order to train your model through backpropagation, tensorflow needs to be able to track what happens to the data, and hence to compute the gradients of the loss function relative to the model's trainable weights. But if you want to operate on your input data

[2020-02-18 16:27] mshmsh1234 opened #36863 "trouble importing tensorflow_hub"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Microsoft Windows 10 pro
- Ten

[2020-02-18 16:38] preethivenkatesh commented on #36717
@pavan,
[libtf_symbols.txt](https://github.com/tensorflow/tensorflow/files/4220398/libtf_symbols.txt)

[2020-02-18 16:44] #36441 closed

[2020-02-18 16:47] HamzaRahmani commented on #36672
Inside the dockerfile you use this in the first build stage.
`FROM debian@sha256:872b72a2b8487e4b91ae27855c7de1671635d3dc2cc0b89651103e55c74ed34a AS base`
After finding said image on [dockerhub](https://hub.docker.com/layers/arm32v7/debian/stretch/images/sha256-872b72a2b8487e4b91ae27855c7de1671635d3dc2cc0b89651103e55c74ed34a), only two lines are executed.
The first involved adding this file. What

[2020-02-18 16:54] stefanondisponibile commented on #27170
Also, will subclassing a `tf.keras.layers.Layer` allow passing ragged inputs?

Currently that's [not possible](https://github.com/tensorflow/tensorflow/blob/e5bf8de410005de06a7ff5393fafdf832ef1d4ad/tensorflow/python/keras/engine/base_layer.py#L738). 😕

[2020-02-18 16:54] dusanmacho commented on #24607
Thanks! Unfortunately, I am unable to run quantization on a fixed shape input either. See details below.

TF inference model:
[code]
The following runs correctly, and the TFLite model inference results match those of the original TF model (@gargn thumbs up!!!):
[code]
The following gives an error due to dynamic shapes not being supported in TFLite quantization yet:
[code]
Setting a fixed input sha

[2020-02-18 16:58] Mostafa-Nakhaei commented on #25072
Had the same issue. I was trying to solve it for more than 3 hours and finally Bingo, as easy as the following:
Pip uninstall protobuf
pip install protobuf==3.6.0

[2020-02-18 16:59] fgervais commented on #36672
@HamzaRahmani I base on the official debian:stretch docker image for arm32. The file add you refer to is added inside the official debian image. I don't have any info on how they generate their images.

[2020-02-18 17:06] dathudeptrai commented on #24607
@dusanmacho be carefull with rnn, at this time, lstm haven’t fully support yet. Pls replace rnn to dilated convution (eg temporal convolution network).

[2020-02-18 17:12] markomernick commented on #27170
@nectario - This should be possible in nightly.

@stefanondisponibile - It is possible, just set self._supports_ragged_inputs = True after you call super().__init__().

[2020-02-18 17:13] gunan commented on #36228
The person who used to build these has left the team. So I do not know who owns them now.
@goldiegadde any ideas?

[2020-02-18 17:16] allenlavoie commented on #36720
If the GraphDef is frozen, it doesn't refer to a training checkpoint anymore. It just has one set of values for the variables hard-coded. Making a SavedModel from an un-frozen GraphDef that has pointers to variables plus a training checkpoint is easy, but making a SavedModel from a frozen GraphDef and a new training checkpoint isn't really feasible.

[2020-02-18 17:18] RochaStratovan commented on #31567
@Saduf2019, I can confirm that I no longer have the error when I work with 1.15.0

Thank you.

[2020-02-18 17:18] mihaimaruseac commented on #34607
The recommended way to prevent this is to:

1. install using `python -m pip install ...`
2. check using `python -m pip list`

Or, to use virtualenvs or similar.

[2020-02-18 17:21] mihaimaruseac commented on #36441
Please also say how the issue got fixed so other people searching for their issue and reaching here can use the same fix if their issue is similar.

[2020-02-18 17:22] mihaimaruseac commented on #36717
@jingxu10 Yes, I know that. But I'm asking because the build process changed between the 1.15.0 and 1.15.2 and wanted to make sure this issue is not because of that.

[2020-02-18 17:26] mihaimaruseac commented on #33266
Conda built from source whereas pip used a prebuilt binary.

Building from source allows you to get working pip even if your CPU does not support AVX

If conda didn't built from source, someone else did a built for conda.

[2020-02-18 17:27] mshmsh1234 commented on #36441
I switched computers at work and this issue stop occurring on my new computer. Unfortunately can't offer a solution for others to replicate.

[2020-02-18 17:31] claynerobison commented on #36717
Are the changes in the build process in the r1.15 branch?

[2020-02-18 17:33] dartlune commented on #24520
I'm currently using tf.__version__: 2.1.0 docker image from TensorFlow docker hub.

I encountered this issue when I used tf.data.TFRecordDataset() as an argument of model.fit().
As @birkanatici mentioned, using dataset.as_numpy_iterator() helped me to resolve the error, but it's just workaround.

[2020-02-18 17:34] mihaimaruseac commented on #36505
Thanks. I'll get a look into this, though not this week or the next (loaded with other work items).

[2020-02-18 17:37] mihaimaruseac commented on #36717
The build scripts are in the branch now. They weren't before we started the patch process release.

[2020-02-18 17:41] Lay4U commented on #36808
No.. The problem was updated and not solved. Still predict plots linear.

[2020-02-18 17:49] rachellim commented on #24520
@dartlune -- please see my comment above (https://github.com/tensorflow/tensorflow/issues/24520#issuecomment-577325475). Does the workaround of using `set_shape` help?

[2020-02-18 17:51] TensorFlow-MKL commented on #36717
so , does this mean you are able to build it with the latest r11.5?

[2020-02-18 17:52] pavithrasv commented on #36790
Thank you @MarkDaoust. It should be cast to the predictions' dtype. If anyone would like to work on the fix please feel free to send me a PR.

[2020-02-18 17:54] aayusharora commented on #36858
Yes @dtsmith2001 , we are using python in the app.

[2020-02-18 17:58] StanHR commented on #36441
@aayusharora  I had to switch to TF1.14 and that ended up creating a lot more problems because Ragged tensors were introduced in TF1.15. I then had to convert that model to be compatible to TF1.14

[2020-02-18 17:59] crccw commented on #36510
Thanks for sharing your solution. There're more details on https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth

You can also use logical GPU as described in the guide.

[2020-02-18 17:59] #36510 closed

[2020-02-18 18:08] ymodak commented on #36682
Python 3.8 is a work in progress and not supported yet. Thanks!
For more info. duplicate #36790

[2020-02-18 18:08] #36682 closed

[2020-02-18 18:13] dartlune commented on #24520
@rachellim Oh, I thought that only tensor(non-scalar) should be applied `set_shape`.
After I apply `set_shape` to a scalar, the error is gone!
Thank you 👍

[2020-02-18 18:18] av8ramit commented on #17022
@taye1

Please see: https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

[2020-02-18 18:18] liufengdb commented on #36183
`experimental_new_quantizer` is not tied to the new MLIR converter feature release, and it is not guaranteed to work at current stage.

[2020-02-18 18:20] av8ramit commented on #36859
Any chance this comment helps:

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

I notice you already have Visual_Studio_Community 2019.

[2020-02-18 18:21] lindong28 commented on #34346
Sorry everyone for the late notice. I tested this bug using tf-nightly pip package [1] a few days ago and realized that the issue still exists.

Previously I don't know how to reproduce the bug using a modified/locally-built TF binary. I learned how to do it this time. Here is what I found:

1) The functions eager_py_func() and py_func_common() which we updated in https://github.com/tensorflow/ten

[2020-02-18 18:21] av8ramit commented on #36860
Any chance this comment helps:

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

[2020-02-18 18:29] akanyaani opened #36864 "Tensorflow 2.1.0 is not using GPU"
**System information**
- OS Platform: - Google Cloud Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.1
- Python version: 3.7
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version: 10.01
- GPU model and memory: Tesla P100, 16GB

When I train any model using TensorFlow using 2.1 it runs on

[2020-02-18 18:34] haozha111 commented on #33788
I mean when you build your keras model, use the `tf.keras.xxx` layer API instead of the one without the `tf` prefix. I believe there are some minor differences between the two set of APIs. Cheers.

[2020-02-18 18:36] penpornk commented on #36717
@pavanky Yes, I used bazel 0.24.1. I haven't had a chance to try your docker file yet, sorry!

Would love to know if you had problems with 1.15.0 too.

[2020-02-18 18:48] sonichandni commented on #18895
Hey @acesaif

I am having same issue with my dataset. what was the issue with your dataset?
kindly shre that.

Thank you

[2020-02-18 18:51] yifeif commented on #36064
+1 on what @07rafix said, we did [switched to VS2019](https://github.com/tensorflow/tensorflow/issues/35036#issuecomment-565611549) when building TF 2.1. Would you mind give that a try @Lillypucien?

[2020-02-18 18:53] Conchylicultor commented on #36531
Thanks to jsmira, this should be fixed in https://github.com/tensorflow/tensorflow/commit/d25235b1964991dd331de7edef6be4f2c74fd7a4 with `tf.data.experimental.assert_cardinality(123)`

[code]

[2020-02-18 18:54] mihaimaruseac commented on #36441
[As said](https://github.com/tensorflow/tensorflow/issues/36441#issuecomment-583480775), switching to 1.14 was a terrible advice.

[2020-02-18 18:57] #36531 closed

[2020-02-18 19:22] StanHR commented on #36441
I understand that very well. But sometimes, terrible option is better than no option at all.

[2020-02-18 19:30] ujjwal-ai commented on #34211
Is there any update on this ???

[2020-02-18 19:31] spate141 opened #36865 "TensorFlow Lite Op Request"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 2.1.0

**Code** (https://www.tensorflow.org/lite/performance/post_training_quantization#weight_quantization)
[code]

**Provide the text output from tflite_convert**

[code]

[2020-02-18 19:31] ujjwal-ai commented on #34767
Is there any update on this ??

[2020-02-18 19:35] ujjwal-ai commented on #36831
If you use `tf.compat.v1.train.AdamOptimizer` the problem would most likely go away.

Could you please check and respond ?

[2020-02-18 19:48] houtoms commented on #33924
@rodrigoruiz Thx for providing the repro script. I just ran your script, but I didn't encounter any errors in my local machine (TF1/TF2+GV100) and Colab with TF1/TF2+GPU. Btw, Colab with TF1+GPU was extremely slow and I think it didn't use GPU.
Logs from Colab + TF2 + GPU
[code]
Logs from Colab + TF1 + GPU
[code]

[2020-02-18 19:51] soaring52 commented on #35769
This works for me with
tensorflow ver.: 2.0.0
keras ver.: 2.2.4-tf
python ver.: 3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]

**from tensorflow.python.keras.applications import ResNet50**
ResNet50_model_ = ResNet50(weights='imagenet')

[2020-02-18 19:57] #35874 closed

[2020-02-18 20:03] spate141 commented on #36865
Solved:

**Updated code:**

[code]

[2020-02-18 20:03] #36865 closed

[2020-02-18 20:10] steven807 opened #36866 "missing ops"
**System information**
- MacOS Mojave: 10.14.6
- TensorFlow installed from binary
- TensorFlow version: 2.1.0

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Full output:
[code]

[2020-02-18 20:14] konradqweleg opened #36867 "Why i have same value in confusion matrix always 12% even after 17000 lerning rate?"
Model after train don,t work and Confusion matrix have one column value other column 0

[2020-02-18 20:24] glarchev commented on #36495
@gadagashwini I did not. I may come back to it, but this solution is not ideal for me (see latest comments in #35133 for more detail).

[2020-02-18 21:38] amcphail commented on #23200
I reverted to the anaconda version of TF.

[2020-02-18 21:41] xam-ps commented on #24828
Same problem here

nvidia-driver-440.59
Ubuntu 18.04.4 LTS
Nvidia RTX 2060
CUDA 10.2
Nvida Docker 2
TF 2.1 (2.1.0-gpu-py3-jupyter)

Doesn't matter if the container was just started or already run some times, always the same error, so it can't be memory usage.

Trying to run "https://www.tensorflow.org/tutorials/quickstart/advanced"

[2020-02-18 21:43] lindong28 commented on #32712
Just FYI, by adding "!pip install tf-nightly==2.2.0.dev20200131", the error changed from "No registered 'PyFunc' OpKernel for 'CPU' devices compatible with node" (see [this](https://colab.sandbox.google.com/drive/1Jf43Aq8LtGxUD5QSMGp4KJJnoUdYGiF-#scrollTo=KtHGmqEtvMZa)) to "End of sequence" (see [this](https://colab.sandbox.google.com/drive/1WikNeKoOxq09DaYJMXI1W1hd8f06wnzc#scrollTo=dp9njklCaBG8))

[2020-02-18 21:48] maxx2s commented on #31115
Hey guys, any updates on this?

[2020-02-18 22:19] #36624 closed

[2020-02-18 22:40] raltech commented on #36517
@miaout17
I am still stuck on this issue. Could you tell me how to fix this?

[2020-02-18 22:47] sarthfrey commented on #35878
@dubey with TF 2.1 I now get the following for the following code.

python
[code]

Logs:

[code]

[2020-02-18 22:48] #33758 closed

[2020-02-18 22:57] gowthamkpr commented on #36802
Please take a look at this [issue](https://github.com/tensorflow/tensorflow/issues/13463) especially this [comment](https://github.com/tensorflow/tensorflow/issues/13463#issuecomment-456122189) and this [one](https://github.com/tensorflow/tensorflow/issues/13463#issuecomment-460947809) and let me know if it helps. Thanks!

[2020-02-18 22:58] haozha111 commented on #31115
hi, currently we don't have concrete plans to support it on our roadmap. Sorry about that. If you can share some common scripts that could help walk-around this issue, that will be great. thanks!

[2020-02-18 23:03] foxik commented on #36808
I am not part of official TF development team, but I believe this issue tracker should be used to report bugs or feature requests. In this case there seems to be nothing wrong with TF, but instead you would like to get help about TF -- there are better places where to get it, for example on https://stackoverflow.com.

BTW, you should probably not use `y_val_uni` on _input_, given it contains valid

[2020-02-18 23:07] mihaimaruseac commented on #33758
Apologies for the long delay. We got this fixed now, I think (not my work, but of a concurrent contributor)

[2020-02-18 23:12] ymodak commented on #36748
Can you please try by killing all active python sessions/jupyter notebook.
You need exit() all python interpreters.
Start new python instance and add following lines on top `mnist_3.1_convolutional_bigger_dropout.py ` script.
[code]

[2020-02-18 23:15] awav commented on #34908
@k-w-w, @alextp Hello! Because of this issue, in [GPflow](https://github.com/GPflow/GPflow) we can't save models. My suspicion that it also affects TensorFlow Probability project. Can you make an update about it? Can you propose any workaround? Can you advise on how we can contribute to TensorFlow to make this work?
Thanks!

[2020-02-18 23:49] dubey commented on #35878
cc @ckkuang

[2020-02-19 00:12] ckkuang commented on #35878
I suspect the issue is because of automatic data sharding. The program uses `tfds` to create datasets. `tfds` is usually backed up by files in GCS. The mnist dataset probably has only one file, and TF tries to [shard](https://www.tensorflow.org/api_docs/python/tf/data/experimental/DistributeOptions#auto_shard_policy) the file to two workers, so one worker ends up getting no input.

Can you try dis

[2020-02-19 00:16] nluehr commented on #36423
MX230 is a Pascal chip with compute capability 6.1 and does support CUDA. However, for typical TensorFlow workloads, the 2GB of GPU memory is quite small, and could easily be the problem as @ymodak suggests. The fact that the trivial 2x3x2 matrix multiply test above worked further suggests the problem is not related to the GPU or CUDA configuration.

Depending on what applications you have running

[2020-02-19 00:21] jvishnuvardhan commented on #34767
@wkelongws On GPU, I can still reproduce the issue with `tf-nightly-gpu`. However, with CPU, there is no issue. Please check the [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/762bea845c3ce926e8dc93863f1b1b3e/untitled825.ipynb) with CPU.
Please check the [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/20a72b25a5c16f98438d30b08351d1fe/34767.ipynb) with GPU.

With GPU, the e

[2020-02-19 00:23] jvishnuvardhan commented on #35527
I am closing the issue as it was resolved. Please feel free to open it if the issue persists again. Thanks!

[2020-02-19 00:23] #35527 closed

[2020-02-19 00:39] lffan opened #36870 "How to override gradient in a FuncGraph created by tf.function"
With tensorflow 1.x API, I can override gradients with a gradient_override_map during building a graph as follows

[code]

As we are moving to TF2, I'd like to use native TF2 API to do the same task with `tf.function` and `tf.GradientTape`. As I have learnt, `tf.function` creates a FuncGraph for each different `input_signature`, and I can use `get_concrete_function` to create one ConcreteFunction

[2020-02-19 00:41] sarthfrey commented on #35878
Hi @ckkuang, I have tried your suggestion but unfortunately I receive the same error. Here is the change I made:

[code]

logs:
[code]

[2020-02-19 00:45] sarthfrey commented on #35878
I also tried turning off autosharding before calling `train_datasets.batch(BATCH_SIZE)`

[2020-02-19 00:52] sarthfrey commented on #35878
Ah it works now - I added the fix in the wrong place, thanks! I am now receiving a different error but the training makes progress through all the epochs.

[code]

logs:

[code]

[2020-02-19 00:52] ckkuang commented on #35878
Looks like `train_datasets` is overwritten at the next line of `with strategy.scope():`. Can you try setting the option after that? You can also set the option inside `make_datasets_unbatched()` before returning the dataset.

[2020-02-19 00:57] ckkuang commented on #35878
Thanks for confirmation! The new logs are only showing warnings about caching more input data than needed. Closing this issue now. Feel free to reopen if you encounter new errors.

[2020-02-19 00:57] #35878 closed

[2020-02-19 00:58] sarthfrey commented on #35878
Gotcha, thanks @ckkuang !

[2020-02-19 01:44] ardeal opened #36871 "whether the netwrok code is needed to run the prediction procedure"
Hi,

I have the trained .pb model, and I would like to load it and then run the prediction procedure.

Is the network code needed to run the prediction?, or I only need the following code but don't need the network code?

[code]

Thanks,
Ardeal

[2020-02-19 02:11] shazhongcheng commented on #33924
I try on pycharm with gtx1060, tensorflow2.1+cuda10.1.
It run fluently! So strange. I try run Bidirectional with another code, it run error.
And i can`t handle it.
[link](https://github.com/tensorflow/tensorflow/issues/34094)

[2020-02-19 02:18] Zhengnan97 commented on #33924
@shazhongcheng Could you provide your cudnn verison pls? I am running into the exact same problem><

[2020-02-19 02:20] shazhongcheng commented on #33924
@Zhengnan97  cudnn-10.1-windows10-x64-v7.6.5.32.zip

[2020-02-19 02:21] haolujun commented on #36783
I think MatMul is most expensive op, and most people say that avx512 can improve the float-mul operation than avx2 two times . But In my case, that not work.

[2020-02-19 02:38] rayeh5 opened #36872 "How to quant TFLite model in int8 format"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
   -- x86 Linux Ubuntu 16.04
- TensorFlow installed from (source or binary):
   -- binary
- Tensorflow version (commit SHA if source):
   -- 2.1.0
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.):
   -- x86 Linux

**Describe the problem**
   -- How to quant TF model to int8 format so

[2020-02-19 02:54] metanav commented on #32468
I am having the same issue. Please add missing ops for quantized model.

[2020-02-19 03:05] Zhengnan97 commented on #33924
@shazhongcheng I tried with 940MX, tf2.0.0, cuda 10.0.130 and cudnn 7.6.5, it still cannot run. I'll try to change the versions and see whether it will help.

[2020-02-19 03:27] suharshs commented on #36154
Hmm, yes it seems that REDUCE_MAX doesn't yet have a quantized implementation, can you print all ops in your tensorflow graph and see is Max is in there for some reason?

[2020-02-19 03:33] GoingMyWay commented on #9400
See [this question](https://stackoverflow.com/questions/47910681/tensorflow-setting-allow-growth-to-true-does-still-allocate-memory-of-all-my-gp)

Set `os.environ['TF_FORCE_GPU_ALLOW_GROWTH'] = 'true'` in Python code.

[2020-02-19 04:10] Rewove commented on #35462
You can still use TF as usual while you got this prompt out.

[2020-02-19 04:23] allen-ash opened #36874 "time of tensorflow1.14 built from source perfroms worse than tensorflow1.14 from pypi"
**System information**
- OS Platform and Distribution : Linux Ubuntu 16.04
- TensorFlow installed from: source
- TensorFlow version:1.14.0
- Python version:3.6.2
- Installed using :pip
- Bazel version: 0.25.2
- GCC/Compiler version: 5.4.0
- CPU: Intel Core i9-9900K

I want to speed up CPU inference on trained Mask R-CNN pb model.  So, I followed instructions on tensorflow webpage [here](https://ww

[2020-02-19 04:47] SirRob1997 commented on #26256
Yes, but for my specific use case I need the AdaMax optimizer to inherit `tf.train.Optimizer` which the `tf.keras` optimizer isn't doing.

[2020-02-19 04:58] ravikyram commented on #36860
@tessy1234

What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)
Make sure to download the [latest microsoft visual c++ redistributable from here](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads).
.Also, please fo

[2020-02-19 05:14] ankitesh97 commented on #36848
Hi,
you just need to import the library, below is the code to regenerate the issue

[code]

[2020-02-19 05:25] Anitha1997 commented on #27935
thank you so much

[2020-02-19 05:56] batulrangwala commented on #35054
Coral Tech Support had indicated from the dmesg logs that the memory was not assigned for BAR 0

[code]

The BAR0 for pcie bridge didn't get memory range assigned, is is an issue with the driver in the SoC. This "BAR 0 failed to assign" is preventing our device from accessing the host's memory. This is exactly why you get this issue right during load delegate. Unfortunately, this is a little outsi

[2020-02-19 06:17] amahendrakar commented on #36373
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-19 06:17] #36373 closed

[2020-02-19 06:29] Saduf2019 commented on #36864
@akanyaani
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you wil

[2020-02-19 06:36] apivovarov commented on #13853
To get `proto` parameter for `TF_SetConfig` we can use `tensorflow/core/protobuf/config.pb.h` and `tensorflow::ConfigProto` class
The implementation is included to `libtensorflow.so`

Core example https://github.com/apivovarov/TF_C_API/blob/master/config.cc

build command:
[code]
TF_SetConfig API:
https://github.com/tensorflow/tensorflow/blob/r1.15/tensorflow/c/c_api.h#L147

[2020-02-19 06:40] luozhouyang opened #36875 "Add a Model.fit-like API for seq2seq models"
Many models can be trained by `tf.keras.Model.fit` API, which is very convenient. But for seq2seq models, we have to use a custom training loop. As we know, seq2seq Models are used very often, so why not build a API to train these models in a convenient way?

[2020-02-19 06:40] Saduf2019 commented on #23200
@amcphail please confirm if we may proceed to move this issue to resolved.

[2020-02-19 06:44] Saduf2019 commented on #31567
Moving this issue to resolved status as per confirmation

[2020-02-19 06:44] #31567 closed

[2020-02-19 06:48] Saduf2019 commented on #26645
@Jasonnor
@krishnap25
could you please confirm if the issue still persist

[2020-02-19 06:50] Saduf2019 commented on #26047
@ageron please confirm if you still face the issue

[2020-02-19 06:55] Saduf2019 commented on #28706
@ianhellstrom Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-19 06:55] #28706 closed

[2020-02-19 06:56] Saduf2019 commented on #28331
@ramithuh please confirm if you are still facing the issue

[2020-02-19 06:57] amahendrakar commented on #36867
@konradqweleg,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the TensorFlow version you are using. Thanks!

[2020-02-19 06:58] Saduf2019 commented on #27895
@lendle please confirm if the issue still exist

[2020-02-19 06:59] Saduf2019 commented on #27390
@dibya-pati please confirm if the issue still persist

[2020-02-19 07:00] Saduf2019 commented on #27217
@snknitin please confirm if the issue still persist

[2020-02-19 07:03] amahendrakar commented on #36872
@rayeh5,
Could you please check [this](https://github.com/tensorflow/tensorflow/issues/34350#issuecomment-576786774) comment on a similar issue and let us know if it works. Thanks!

[2020-02-19 07:03] Saduf2019 commented on #31415
@Uiuran Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-19 07:03] #31415 closed

[2020-02-19 07:04] Saduf2019 commented on #31006
@boraca  Proceeding to close this issue as its resolved

[2020-02-19 07:04] #31006 closed

[2020-02-19 07:05] Saduf2019 commented on #30730
@sthomdev please confirm if you are still facing any issue

[2020-02-19 07:06] ravikyram commented on #36829
I tried to reproduce the issue in colab with [TF 2.1 gist](https://colab.sandbox.google.com/gist/ravikyram/4cf7cbc1f16674a7c0c96f58601a9017/untitled0.ipynb) ,[TF 2.2.0-dev20200218 gist](https://colab.sandbox.google.com/gist/ravikyram/bb51b125d818125a6d2b147ec69671f3/untitled649.ipynb) and was able to reproduce the issue.Thanks!

[2020-02-19 07:08] #36533 closed

[2020-02-19 07:12] akanyaani opened #36877 "Memory leak in TensorFlow 2.0 DataSet when using group_by_window."
**System information**
- OS Platform: - Google Cloud Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.0.0
- Python version: 3.7
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version: 10.01
- GPU model and memory: Tesla P100, 16GB
- Running on GRAPH MODE:- YES

This is creating memory leak

[2020-02-19 07:15] KoustubhPhalak opened #36878 "Tflearn import error in Tensorflow 2.1: "ModuleNotFoundError: No module named 'tensorflow.contrib'""
So, basically, I am trying to migrate the entire code to TF 2.1.0. However, it seems that **tensorflow.contrib** has been deprecated. Due to this, importing tflearn always throws an error of the missing module of tf.contrib. So, how am I supposed to implement this code without using tflearn?
[code]

And then, I use this method like this:
[code]
**Edit:**
**This is the error I get after execution:*

[2020-02-19 07:21] akanyaani commented on #36864
Hi @Saduf2019

I updated the issue using the format which you suggested.

Thanks

[2020-02-19 07:29] vihari1729 commented on #36855
@petewarden Kindly go through the question once

[2020-02-19 07:42] gunan commented on #31567
@yifeif @av8ramit looks like some headers are missing on the windows package.

[2020-02-19 07:45] bilalsoomro opened #36879 "Basic LSTM TFLite model created with new experimental converter results in model with incorrect output shape"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 2.2.0-dev20200218

**Command used to run the converter or code if you’re using the Python API**

[code]

**The output from the converter invocation**

[code]

**Failure details**
I am creating a ba

[2020-02-19 07:46] rayeh5 commented on #36872
@amahendrakar, thanks for your feedback.
The model file is trained via tensorflow/examples/speech_commands.
I try the following python code:
----------
import tensorflow as tf
model = tf.saved_model.load('/home/swai01/tfl-m_speech_model')
print(model.signatures.keys())
concrete_func = model.signatures[tf.saved_model.DEFAULT_SERVING_SIGNATURE_DEF_KEY]
concrete_func.inputs[0].set_shape([1, 49, 40, 1

[2020-02-19 07:51] Zhengnan97 commented on #34094
Hello @sanjoy ,

I encountered the exact same problem when trying the tutorial codes, with the same error logs.

**Configurations of my system:**

- **OS**: Windows 10 Enterprise 1809, build 17763.973
- **Tensorflow installed from**: Anaconda
- **Tensorflow version**: tensorflow-gpu 2.0.0
- **Python version**: 3.7.4
- **CUDA/cuDNN version**: cudatoolkit 10.0.130, cudnn 7.6.5
- **GPU model and memo

[2020-02-19 07:54] shivam13juna opened #36880 "No gradients for bias and kernels in Dense layer."
**System information** - Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): - Yes
OS: Mac OS Catalina
TensorFlow installed from: pip
TensorFlow version:  2.1
 Python version: - 3.7

I'm getting this error,

`**WARNING:tensorflow:Gradients do not exist for variables ['flight_2/layer1/kernel:0', 'flight_2/layer1/bias:0', 'flight_2/layer2/kernel:0', 'fligh

[2020-02-19 08:01] YumainOB commented on #35618
I ran through this issue too during an update of mt TF environment. The installation of latest Visual C redistribuable tools solved the issue for me too obviously.
This solution is well documented in build from source for windows [https://www.tensorflow.org/install/source_windows#install_visual_c_build_tools_2019](https://www.tensorflow.org/install/source_windows#install_visual_c_build_tools_2019)

[2020-02-19 08:12] amcphail commented on #23200
Yes.

On Wed, 19 Feb 2020, 19:41 Saduf2019, <notifications@github.com> wrote:

[2020-02-19 08:15] Sam-Persoon commented on #36505
Thanks.

[2020-02-19 08:16] Hui-Zhi opened #36881 "How could I can add a new OS on the support on the "tested and supported" list?"
## URL(s) with the issue:
https://www.tensorflow.org/install

## Description of issue (what needs changing):
Could someone instruct me how to add a new OS on the support on the "tested and supported" list, I would like to make some efforts for Opensuse and SLE.

There might have some steps to make sure an OS is "tested and supported", right?

[2020-02-19 08:21] stefanondisponibile commented on #27170
Thank you @markomernick !

[2020-02-19 08:26] saikumarchalla commented on #36821
@plooney  Could you please share colab link or simple standalone code with supporting files to reproduce the issue in our environment,it helps us localizing the issue faster.

[2020-02-19 08:30] GatzZ opened #36882 "Is NonMaxSuppressionV4 supported？"
**System information**
- Linux Ubuntu 16.04
- TensorFlow 2.1.0

**Provide the text output from tflite_convert**
[code]

**Code**
[code]

According to https://www.tensorflow.org/lite/guide/ops_compatibility,  `NON_MAX_SUPPRESSION_V4` was already supported.
However,  when I use it to build my model and try to convert it into tflite, the error came out.

I tried a solution with `tf.lite.OpsSet.SELECT

[2020-02-19 08:31] cheyang commented on #36802
It doesn't really help. May I know what may cause this issue? It's my guess on the storage level. https://github.com/Alluxio/alluxio/issues/10929 Does it make sense?

[2020-02-19 08:34] ankitesh97 opened #36883 "Not able to load a saved model with custom layer"
Please make sure that this is a bug. As per our

**System information** - Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): - OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): - Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: - TensorFlow installed from (source or
binary): - TensorFlow version (use c

[2020-02-19 08:36] dekromp commented on #35879
Are there any plans to support `tf.keras.Sequence` instances as arguments for the `validation_data` argument in the future? It is kind of counterintuitive that it works for the `x` and `y` arguments but not for validation_data.

[2020-02-19 08:37] Saduf2019 commented on #36874
@allen-ash please note during the bazel build command: everything is done from scratch and the whl file is generated, which is not the case during pip installation, hence the time difference.

[2020-02-19 08:38] ravikyram commented on #36848
@ankitesh97

I have tried on colab with TF version 2.1.0 and i am not seeing any issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/ab298a28ea90e251d46e56dc838bb7dd/untitled651.ipynb). Thanks!

[2020-02-19 08:38] andrewstanfordjason commented on #35879
I have worked around this by using evaluate(). It's not ideal but as my data is generated it works.

[2020-02-19 08:42] RAHUL9545416 opened #36884 "sue: Build/Installation Issue"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2020-02-19 08:50] ankitesh97 commented on #36848
Hi, thanks for the reply.
If you check this part of the code
[code]

There are 4 params 2 trainable and 2 non trainable. so basically there are 4 params for each feature
in the batch norm layer. so if I have x features in some layer it will have 4*x params for the corresponding batch norm layer. However, if you see the summary of the Model in you gist (I have attached a screen shot)
<img width="10

[2020-02-19 08:52] Saduf2019 commented on #36884
@RAHUL9545416
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue t

[2020-02-19 08:56] DanielFirmbach commented on #32052
I too had a memory leak, where my RAM usage increased linearly. I could resolve it by removing the num_parallel_calls parameter of the map function when using it on my dataset.

[2020-02-19 09:11] saikumarchalla commented on #36828
@Mazecreator Please look into [this](https://github.com/tensorflow/tensorflow/issues/31926#issuecomment-527584855) and let  me know if  it helps you. Thanks!

[2020-02-19 09:13] Jasonnor commented on #26645
Not see a 404 now, but the link of test guild on [this page](https://www.tensorflow.org/api_docs/python/tf/test) is same as it(api page). 🤣

[2020-02-19 09:23] Corea commented on #32052
Like @DanielFirmbach said, I also did remove `num_parallel_cells` of map function too. A memory leak was alleviated pretty much, but the problem still exists somewhere. Of course, training speed got worse than before about 20%. Here is graph of worker memories.

- When I use `num_parallel_cells` of map function on dataset.
![image](https://user-images.githubusercontent.com/1433166/74820096-c1a63c0

[2020-02-19 09:24] ravikyram commented on #36881
@Hui-Zhi
Opensuse and SLE are Linux flavours. Can you please follow the instructios in [TensorFlow website](https://www.tensorflow.org/install/source) and see how it progresses. Thanks!

[2020-02-19 09:37] yanyanglu opened #36885 "protobuf error when saving model"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Ubuntu 18.04.3
- TensorFlow installed from: pip
- TensorFlow version: v2.1.0-rc2-17-ge5bf8de
- Python version: 3.7.0 from anaconda
- CUDA/cuDNN version: 10.1.243
- GPU model and memory: GTX 2080 Ti, 11091 MB

**Desc

[2020-02-19 09:38] Lillypucien commented on #36064
Both solutions given by @07rafix indeed work, thanks.
By the way, I had another issue while building my custom operators: files located in "tensorflow_core/include/tensorflow_core/core" still have includes to "tensorflow/core",  which doesn't exist anymore.

[2020-02-19 09:38] #36064 closed

[2020-02-19 09:47] ravirama12001 opened #36887 "ImportError: DLL load failed: The specified module could not be found."
C:\Users\ravikumarm\AppData\Local\Programs\Python\Python37\python.exe C:/AI/imageClassification.py
Using TensorFlow backend.
Traceback (most recent call last):
  File "C:\Users\ravikumarm\AppData\Local\Programs\Python\Python37\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\ravikuma

[2020-02-19 09:56] quen-de commented on #36887
I believe this happens because you lack the latest Visual C++ package. You can find it here:
https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads
I recall having the same problem on Windows for TF2.1, but yeah, this error could use some clarification.

[2020-02-19 10:10] Hui-Zhi commented on #36881
Yes, you're right, I should not use new OS, thanks for figuring it out. And Ubuntu is also Linux flavors. On this website, it only have instructions for Ubuntu and Mac OS, what I am trying to do is adding Opensuse and SLE to the "tested and supported" list to give users more options, sure I believe the instructions for Opensuse and SLE is needed, and it's different from Ubuntu and Mac.

But what I

[2020-02-19 10:19] Jyothif opened #36889 "ValueError: We need at least 1 word to plot a word cloud, got 0."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information** - Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): - OS Platform

[2020-02-19 10:23] ravirama12001 commented on #36887
It worked. Thanks a lot.

[2020-02-19 10:24] byronyi commented on #27780
@urimerhav Both features are included in the 2.1 release tarballs. Note that the change is only enabled with compile-time cuDNN version check, and [TensorFlow 2.1.0 on PyPI is built with cuDNN 7.6.2](https://github.com/tensorflow/tensorflow/blob/r2.1/tensorflow/tools/dockerfiles/partials/ubuntu/nvidia.partial.Dockerfile#L8). Note that in https://github.com/tensorflow/tensorflow/commit/1af66b1e18ca

[2020-02-19 10:26] windmaple commented on #36882
Use new MLIR converter:

converter.experimental_new_converter = True

[2020-02-19 10:29] vihari1729 opened #36890 "How does the frozen model for speech recognition has been created?"
After following the steps train.py and freeze.py from "https://github.com/tensorflow/docs/blob/master/site/en/r1/tutorials/sequences/audio_recognition.md", The inputs of my frozen model(https://imgur.com/a/JtNVkHw) is quite different from the actual frozen model conv_actions_frozen.pb(https://imgur.com/a/KJXExbV). What changes should I make to get the original frozen model for speech recognition?.

[2020-02-19 10:35] allen-ash commented on #36874
@Saduf2019 Thanks for your replay. Yes I understand that, I just want to know In which way from scratch can be optimizing time cost.
Considering currently command is `bazel build --config=mkl --cxxopt=-D_GLIBCXX_USE_CXX11_ABI=0 --copt=-march=sandybridge --copt=-mtune=ivybridge --copt=-O3 //tensorflow/tools/pip_package:build_pip_package`  didn't perfrom well.

[2020-02-19 10:38] pandrey-fr commented on #36880
Your model's call method returns the output of `layer4(x)`, meaning that the first three layers have no effect on the predictions, hence the absence of gradients.

You probablye wanted to write :
[code]
so that all four layers are being used sequentially in processing the inputs.

[2020-02-19 10:41] #36880 closed

[2020-02-19 10:41] Saduf2019 commented on #36863
@mshmsh1234
What is make/model of your cpu?. Does your cpu supports AVX instructions sets.Thanks!

Make sure to download the latest microsoft visual c++ redistributable from here.
 Make sure if there is a library that is in a different location/not installed on your system that cannot be loaded.Also, please follow the instructions from Tensorflow website.

Please, refer #36167 and see if it helps

[2020-02-19 10:41] Harmageddon commented on #35216
@ZYHZ100 Did you find a solution for this? I'm having the same problem right now after migrating from `keras` to `tensorflow.keras` with a custom loss function.

[2020-02-19 10:42] pandrey-fr commented on #36875
Hi,
Could you please elaborate on this statement, and maybe provide a small example?
I personnally use custom sequence-to-sequence models and have no problem whatsoever wrapping them up in keras and using the built-in training loop, so at this point I do not quite understand your issue, but surely I am missing something.

[2020-02-19 10:45] ravikyram commented on #36889
@Jyothif

Looks like code is incomplete.Can you please share colab link or simple standalone code with supporting files to reproduce the issue in our environment. It helps us in localizing the issue faster.Thanks!

[2020-02-19 10:46] Saduf2019 commented on #36887
@ravirama12001  Please, refer #36167 and see if it helps you. Thanks!

Make sure to download the latest microsoft visual c++ redistributable from here.
Make sure you update environment path for cuda(please refer this https://www.tensorflow.org/install/gpu#windows_setup ). Make sure if there is a library that is in a different location/not installed on your system that cannot be loaded.Also, please

[2020-02-19 10:48] Saduf2019 commented on #36887
@ravirama12001 please confirm if we may proceed to move this issue to resolved

[2020-02-19 10:52] #36887 closed

[2020-02-19 10:57] gadagashwini commented on #36871
@ardeal, Please provide the details about Tensorflow version and full error log. Thanks!

[2020-02-19 11:07] Jyothif commented on #36889
**here is the code**

import re
import nltk
import string
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option("display.max_colwidth",200)
warnings.filterwarnings("ignore",category=DeprecationWarning)

train = pd.read_csv('train_E6oV3lV.csv')
test = pd.read_csv('test_tweets_anuFYb8.csv')
train.head()

train[train['label']==0].he

[2020-02-19 11:13] luozhouyang commented on #36875
Sorry, I didn't make it clear. I mean, I have to use a loop to generate the whole sequence during the prediction in seq2seq models.
Here is an example from [Transformer](https://www.tensorflow.org/tutorials/text/transformer#evaluate):

[code]

Obviously, this process can not be finished by `Model.predict` API.

What i want is, once i create my seq2seq model, I can use something like `predict_loop`

[2020-02-19 11:17] dshirron commented on #21135
The solution: Look on the rename file names and delete the target file ( e.g.  Failed to rename: training\checkpoint.tmp5e2c65c350c24211a132a1aabfa7d446 to: training\checkpoint -> delete training\checkpoint)
In my case i think the error cause was that a backup program(syncplicity) locked the target file when it was supposed to be deleted.

[2020-02-19 11:41] lgeiger commented on #36126
This issue doesn't show up in `tf-nightly==2.2.0.dev20200218` anymore. It would be nice if this could be backported, but at least v2.2 will include a fix for it.

[2020-02-19 11:42] lgeiger commented on #36240
Just for reference, #36126 doesn't show up in `tf-nightly==2.2.0.dev20200218` anymore so one can workaround this issue by not repeating the dataset.

[2020-02-19 11:47] amahendrakar commented on #36877
@akanyaani,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-02-19 11:48] Saduf2019 commented on #36883
@ I have executed your code on tensorflow 2.0 please find the gist [here](https://colab.sandbox.google.com/gist/Saduf2019/52f7e8ca6a28871831992b2dc3013b05/36883_2-0.ipynb) the issue does not exist in 2.0, also executed it on tensorflow 2.1 gist for the [same](https://colab.sandbox.google.com/gist/Saduf2019/a9d49a5f67faf7e8ffb05a331a69aeb7/36883_2-1.ipynb) where the error is not the same as faced b

[2020-02-19 11:51] OverLordGoldDragon commented on #36559
@qlzh727 Github notifications seem broke - didn't see your reply; no Exceptions, but the `tf.Variable` created via `self.add_weight()` would simply not update the original `tf.Variable`. Note that in your example, you aren't slicing `a` and updating the slice, but are assigning some slice value to `a`. Also, unsure if it makes a difference, but my ops were in a `while_v2` graph context.

[2020-02-19 11:55] Jyothif commented on #36889
@ravikyram  hey it is resolved...Thanks!

[2020-02-19 11:55] #36889 closed

[2020-02-19 11:56] amahendrakar commented on #36438
@phamkhactu,
Any updates regarding this issue? Thanks!

[2020-02-19 11:57] neenaloysius commented on #36851
#%tensorflow_version 2.x
import tensorflow as tf
from tensorflow.python.keras import Sequential
from tensorflow.python.keras.layers import LSTM, Bidirectional,Lambda
from tensorflow.python.keras.layers import Dense, TimeDistributed,Input,CuDNNLSTM
from tensorflow.python.keras.layers import Dropout, GlobalAveragePooling2D
from tensorflow.python.keras import optimizers
from tensorflow.keras.applicat

[2020-02-19 11:57] ravikyram commented on #30839
@oracle3001
Any update on this issue please. Thanks!

[2020-02-19 11:59] Saduf2019 commented on #36599
@arshren Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-19 11:59] #36599 closed

[2020-02-19 12:00] Saduf2019 commented on #36614
@Kaushikudaya Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-19 12:00] #36614 closed

[2020-02-19 12:00] odinsbane opened #36892 "Unable to build r1.15 using gcc 4.8.5-39 because of -std=c++14 argument."
The crux of this issue is **Does tensorflow r1.15 compile with gcc 4.8.5** when I check out r1.15, I cannot compile due to an invalid argument "-std=c++14" similar to #31760 but I do not understand the resolution from that.

I am preparing to migrate to version 2.X so I tried to build r1.15. I get two errors.

The first error is resolved in #28824

The second error I have not gotten around. Everth

[2020-02-19 12:02] Saduf2019 commented on #36693
MOving this to closed status as its been addressed in #36811

[2020-02-19 12:02] #36693 closed

[2020-02-19 12:09] orf opened #36893 "tf.io.gfile.listdir does not with with S3 buckets"
**System information** - MacOS, Tensorflow 2.1, Python 3.7.6

**Describe the current behavior**

Executing `tf.io.gfile.listdir("s3://bucket-name/")` results in:

[code]

**Describe the expected behavior**

It should return a list of objects within the bucket.

S3 is quite limited in features for searching/globbing S3 objects but simple operations like listing objects under a given key (in the cas

[2020-02-19 12:17] ravikyram commented on #36893
@orf
Could you please share simple stand alone code to reproduce the issue in our environment. It helps in localizing the issue faster. Thanks!

[2020-02-19 12:19] orf commented on #36893
Hey @ravikyram , so I provided it in the description: `tf.io.gfile.listdir("s3://bucket-name/")`.

You obviously need a S3 bucket set up. I can provide this privately if required, but I expect you have the ability to create one yourselves.

[2020-02-19 12:30] amahendrakar commented on #36473
@himanshisyadav,
Sorry for the delayed response.
I tried to reproduce the issue on TF-GPU 1.15.2, but did not get the warnings mentioned above. You can take a look at the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/48764af7da92e616399ad8bf4d961a8c/36473.ipynb). Thanks!

[2020-02-19 12:36] amahendrakar commented on #36543
@venkatamaguluri,
Any updates regarding this issue? Thanks!

[2020-02-19 12:39] amahendrakar commented on #36566
@KDDaddy01,
Any updates regarding this issue? Thanks!

[2020-02-19 12:40] amahendrakar commented on #36656
@ksabr,
Any updates regarding this issue? Thanks!

[2020-02-19 12:41] Rayarrow opened #36894 "tf.keras.layers.ReLU() drops tensor._keras_mask (sample_weight) unintentionally."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
Windows 10 1903, TF 2.0 or 2.1, Python 3.7, CUDA10.1, cuDNN 7.6, GTX 1070 8G

**Describe the current behavior**

[2020-02-19 12:43] pandrey-fr commented on #36875
Oh, I see! So, your problem is indeed with the prediction loop rather than the training one?

In one of my personal working cases, I implemented a custom looping prediction method for the Layer that wraps my model's architecture, but having a general mechanism available in TF would be great. Let's wait for a tensorflower to pick up this issue and give their opinion and expertise on the topic then

[2020-02-19 12:47] amahendrakar commented on #36692
@wwwind,
Is this still an issue? Please feel free to close the issue if it is resolved. Thanks!

[2020-02-19 12:54] karlschriek commented on #36846
I have the exact same issue using `tensorflow/tensorflow:2.0.0-py3`

[2020-02-19 13:03] moniGra commented on #35987
any updates on this issue?

[2020-02-19 13:04] jashshah opened #36895 "Custom implementations for AvgPool3D, Conv3D, MaxPool3D"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian 9
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (or github SHA if from source): 2.1.0

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Include any logs or source code that woul

[2020-02-19 13:06] uddmorningsun opened #36896 "Use bazel crosstool to compile other arch wheel file raise lots of undefined reference error"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian GNU/Linux 9 (stretch)
-

[2020-02-19 13:08] yanyanglu commented on #36885
my protobuf version: protobuf=3.11.3=pypi_0

[2020-02-19 13:08] NEGU93 opened #36897 "Feature Request: Pickle an entire model."
**System information**
TensorFlow version 2.0.0

**Describe the current behavior**
This request follows the issue [#33204](https://github.com/tensorflow/tensorflow/issues/33283).
When trying to pickle a model to save its current state I get the error: `TypeError: can't pickle _thread._local objects`. Even when doing a low-level code and just trying to save keras layers it gets the same error messa

[2020-02-19 13:10] NEGU93 commented on #33283
@renatobellotti  I just did [#36897](https://github.com/tensorflow/tensorflow/issues/36897). It is the first time I use GitHub to ask for a feature so I hope it is well written.

[2020-02-19 13:19] saikumarchalla commented on #36809
@jackd  I tried to reproduce the issue on colab with TF 2.1 but getting different error. Please find the [gist](https://colab.sandbox.google.com/gist/saikumarchalla/9264519582cef95421c7d15fcf6abdaa/-36809.ipynb) here.Also,tried on tf-nightly and getting same output.
Please provide more information to reproduce the issue.Thanks!

[2020-02-19 13:32] JohanHaggmark commented on #29011
I was getting this error when defining the layers to the same variable:
[code]

The solution for me was to defining new variables for new layers:
[code]

[2020-02-19 13:35] yanyanglu commented on #36885
when I call ` print(tf.compat.v1.get_default_graph().as_graph_def())`
this error also appears:
[code]

[2020-02-19 13:37] ayushmankumar7 commented on #36786
I look forward to do this task but i need some guide how to do this. I am a beginner.

[2020-02-19 13:40] anilsathyan7 commented on #31368
I'am having same issue with a tflite model with **transpose convolution**. Tensorflow 1.x does not seem to support transpose convolution. With latest tf2.0-nighlty quantized tflite emodel it gives the error: **'Internal compiler error. Aborting!**. It would be helpful, if the compiler exactly  prints the cause of failure i.e. if some operators or it's version is not supported. Is the version 2 ope

[2020-02-19 13:40] amahendrakar commented on #36833
@yufengm,
I tried to reproduce the issue given above but I am facing an error stating `AttributeError: 'Dense' object has no attribute 'op'.`
Please find the Gist of it [here](https://colab.sandbox.google.com/gist/amahendrakar/919ae43998fbe508d97b44a29772875a/36833.ipynb). Thanks!

[2020-02-19 13:42] GatzZ commented on #36882
It works. Thank you very much

[2020-02-19 13:42] #36882 closed

[2020-02-19 13:44] vinorth05 commented on #33925
I also have this error when adding the following options before converting to tflite:

`converter = tf.compat.v1.lite.TFLiteConverter.from_frozen_graph(graph_def_file, input_arrays, output_arrays, input_shapes)
converter.allow_custom_ops = True
converter.representative_dataset = representative_dataset_genconverter.optimizations = [tf.lite.Optimize.OPTIMIZE_FOR_SIZE]
converter.target_spec.supported

[2020-02-19 13:47] dudasdavid commented on #24732
It seems fused Conv2D and ReLU operations can work on ARMv6 if I disable biasing in Conv2D operations (use_bias=False).

[2020-02-19 13:48] amahendrakar commented on #36814
@harshithdwivedi,
I tried to reproduce the error given above but was unable to do so, looks like the given code is incomplete. Please find the Gist of it [here](https://colab.sandbox.google.com/gist/amahendrakar/8aad3e50a6496ef82b2443dc629df54a/36814.ipynb).

In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-02-19 13:50] MaximusMutschler opened #36899 "Autograd cannot handle if conditions with line brakes when accessing fields"
### System information
- custom code:
- Linux Ubuntu 18.04
- TensorFlow installed from binary:
-  tensorflow-gpu 2.1.0:
-  3.6.8:
- cuda 10.0:
- Nvidia Geforce 1080ti 11Gb:

### Describe the problem
BUG: Autograd cannot handle if conditions with line brakes when accessing fields.

### Source code / logs
This works:

import tensorflow as tf
class Test:
    a = tf.Variable(1.0)

    @tf.function

[2020-02-19 13:58] petkovacs19 opened #36900 "when using mixed_precision.Policy('mixed_float16'), training is stuck at saving checkpoints for 0"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): yes
- OS Platf

[2020-02-19 14:29] StanislasGaitUp commented on #24139
Here is what I did to solve my problem in Kotlin (exact same than @zjmirving solution)
[code]

[2020-02-19 14:54] plooney commented on #36821
[code]

[2020-02-19 14:56] AdamMoses-GitHub commented on #32468
I was able to overcome this by cloning the latest version of Tensorflow and building just the examples from TFLite Micro directories. Once I had that I could map my CMakeLists to the same makefile arrangement that was used there, copied the same source tree, and it worked.

I think in the past I had been using TF 1.12, as that's what my model was builtin, but once I upgraded everything to the TF m

[2020-02-19 14:58] Randryn0 commented on #36748
Hey, I actually had tried that before and it didn't work but I did the mistake of trying to put it into my code. When I put the code that you mentioned before ANYTHING else in my code it seems to work.
Could you please tell me what it does and do you know what the underlying problem is?

Thank you very much!

[2020-02-19 15:01] andreeas26 opened #36901 "tensorflow/core/grappler/optimizers/meta_optimizer.cc:561] layout failed: Invalid argument: MutableGraphView::SortTopologically error:"
Hi! I have the following message whenever I train a ConvLSTM with attention, after the samples are loaded in the buffer. The training goes on, but I haven't found anything on the internet related to this. I am not sure if its a bug, or I've made a mistake.

The complete code I am using is from [here](https://github.com/dtransposed/Paper-Implementation/tree/master/action_recognition_using_visual_at

[2020-02-19 15:03] sungholee95 commented on #27170
How could I do this in subclassed models (which does not take tf.keras.layers.Inputs as input layers, if I'm not mistaken)?

I tried setting self._supports_ragged_inputs=True in the subclassed model and subsequent layer classes but I keep getting the following error from training_utils.validate_input_types()

    ValueError: Please provide as model inputs either a single array or a list of arrays.

[2020-02-19 15:49] shelkesagar29 commented on #33925
I could not find any solution. Finally, I had to go for quantization aware training.
At the time, slim supported quantization aware training on single GPU only.

[2020-02-19 15:52] konradqweleg commented on #36867
I used the default train.py

[2020-02-19 16:00] Tockra opened #36903 "Executing genrule //tensorflow/python/keras/api:keras_python_api_gen failed"
**System information**
- Dockerimage: nvidia/cuda-ppc64le:10.1-cudnn7-devel-ubuntu18.04
- TensorFlow installed from (source or binary): source
- TensorFlow version: r2.1 (branch)
- Python version: Python 3.6.9 (also setted /usr/bin/python3 while ./configure)
- Installed using virtualenv? pip? conda?: no, github repository and build
- Bazel version (if compiling from source): 0.27
- GCC/Compiler ve

[2020-02-19 16:02] joutsen commented on #35968
@sharonwoo
I solved exactly the same problem by upgrading to CUDA 10.1 (both toolkit and CUDNN). I had CUDA 10.0 on Ubuntu 18.04.

[2020-02-19 16:07] #36903 closed

[2020-02-19 16:14] tessy1234 commented on #36860
I am running Intel® Core™ i7-820QM Processor (8M Cache, 1.73 GHz).
Installed:

- Microsoft Visual C++ 2015-2019 Redistributable (x64) - 14.24.28127

- pip version 20.0.2

- Python 3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]

Open question: @av8ramit, @ravikyram
Is there a library that is in a different location/not installed on your system that cannot be loaded?

support: in

[2020-02-19 16:20] Ailsorxd commented on #33144
I have the same problem - the Tensor sent with input_value is float32.

[2020-02-19 16:25] venkatamaguluri commented on #36543
I have submitted in HUB. Thanks - Venkata

[2020-02-19 16:25] #36543 closed

[2020-02-19 16:25] tessy1234 commented on #36860
The dependency walker confirms that all DLLs could be loaded:

![image](https://user-images.githubusercontent.com/41914070/74852267-a0d9e880-533c-11ea-806f-bb695497408b.png)

[2020-02-19 16:27] yufengm commented on #36833
@amahendrakar
sorry, my bad. There was a typo in my provided code. It should be
[code]

[2020-02-19 16:31] karkirowle commented on #24828
This thing happened to me after installing keras-vis and downgrading to scipy 1.1.0, but I'm not sure it's related, because reverting these changes, didn't solve the issues. However a simple reboot solved the issue. By the way, I often find that "nonsense" TF errors are solved by reboots. :)

[2020-02-19 16:47] glarchev commented on #36495
@gadagashwini I tried to go through the install process just to see if it works, and it failed on the `./configure` step because it expects bazel version 2.0.0, and I have 2.1.0. So it wants me to downgrade my bazel version, which I shouldn't have to do.

[2020-02-19 16:49] glarchev commented on #35133
The installation steps in README also fail on the `./configure` step if you don't have bazel version 2.0.0 (I have 2.1.0).

[2020-02-19 16:55] stefanondisponibile commented on #27170
uhm @sungholee95 , can you maybe provide a snippet? @markomernick solution worked for me.

[2020-02-19 17:00] Riccorl commented on #36831
I'll provide a working code as soon as possible, sorry for the delay.

[2020-02-19 17:00] the-rccg commented on #36111
FWIW, for me just copy-and-paste the *101.dll's into the 10.2/bin folder worked fine.

[2020-02-19 17:03] marewi commented on #26813
same issue with VScode 1.42.1 & tensorflow 2.0.1

[2020-02-19 17:10] MarkDaoust commented on #30730
We have this on our todo list: better documentation for tensorflow internals.

[2020-02-19 17:17] MarkDaoust commented on #31415
There's an extensive "readme" in the source directory:

https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/graph_transforms

But we can't add this to tensorflow.org as it is not considered an implementation detail and not part of the public API.

[2020-02-19 17:20] kate5586 opened #36905 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-19 17:25] MarkDaoust commented on #27217
Hi @snknitin,

Before tensorflow 2.0 keras metrics were sloppy about their naming.

IIRC with TF2.0+ if you say `model.compile(..., metrics=['acc'])` or `model.compile(..., metrics=['accuracy'])` the key used in the logs will match what you specified to the metric argument.

If you want more control over this you can always do `model.compile(..., metrics=[keras.metrics.SparseCategoricalAccuracy(na

[2020-02-19 17:38] MarkDaoust commented on #28706
Hi @ianhellstrom

We've hidden all the old versions of the docs from search. We've also moved most of the old versions off the site, Into [branches on the tensorflow_docs repository](https://github.com/tensorflow/docs/tree/r1.9/site/en/api_docs).

So I think this is fixed.

[2020-02-19 18:12] qlzh727 commented on #36559
Oh, sorry to misunderstand your question.

First, the return value from the slide op is a Tensor, which is not the original variable.
[code]

With a tensor, it doesn't have methods like "assign" or "assign_add" etc.

I think the most feasible way to create a TensorArray, which contains your slides of mean/variance value, and read/write to it within the call() body for cell. Once the layer goes ove

[2020-02-19 18:30] renata117 opened #36906 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-19 18:42] Blahblahblahsomething commented on #36906
No way 😮😮😮😮

On Wed, Feb 19, 2020, 11:37 AM renata117 <notifications@github.com> wrote:

[2020-02-19 18:46] miaout17 commented on #36219
The `experimental_new_converter` attribute only work on TF 2.1 and above. When doing this in 2.0 it doesn't change anything.

[code]

It seems you're running the [microcontroller version of TFLite](https://www.tensorflow.org/lite/microcontrollers). At this moment it only support a subset of TFLite features, and control flow isn't supported yet.

At this moment it's working as intended. @petewarden

[2020-02-19 18:48] OverLordGoldDragon commented on #36559
@qlzh727 Thanks for the suggestion; per an overwhelming pile of bugs in 2.1, I've suspended my work on this, but I'll try your idea if it becomes relevant - particularly since my method still involves an update tensor shaped as the full original tensor, which may be poorly-performant.

[2020-02-19 19:02] xintin commented on #36847
@ravikyram I have tried tf 2.1, 2.0 and 1.14 combinations from [https://www.tensorflow.org/install/source#tested_build_configurations](https://www.tensorflow.org/install/source#tested_build_configurations). Still facing the same issue! Can you help?

[2020-02-19 19:10] Namburger commented on #36705
@julian-urban
Unrelated, but make sure you [compile the model](https://coral.ai/docs/edgetpu/compiler/) after converting it to a tflite model, otherwise model will still be executed on CPU. Also don't forget this:
[code]

Also, your input shape is dynamic, which isn't supported:
[code]
Can you try fixing that?

[2020-02-19 19:23] jvishnuvardhan commented on #36775
@jraman This was updates in the `tf-nightly`. Please check it [here](https://www.tensorflow.org/api_docs/python/tf/Tensor?version=nightly).

By default, eager is enabled in `TF2.x`. If you want to run any op in graph then please disable the eager mode. If you still want to use a `tf.Session` then please add  `tf.compat.v1.disable_eager_execution()` at the start, before defining any operation.

[He

[2020-02-19 19:23] #36775 closed

[2020-02-19 19:37] qinyao-he commented on #27780
@byronyi I checked the git history of v2.1.0 and seems #31597 is in but #33836 is not.

[2020-02-19 19:47] grofte commented on #31162
Hi Rishabh,

Generally, an embedding layer in Keras uses more RAM than you would expect. To get the RAM requirements do: no. tokens * no. dimensions * dtype * approx. 15. So for 400k tokens, 1k dimensions, 32 bit dtype you would need about 1.6 * 15 which is about 24 GB. This probably loads on the CPU because it is able to use your swapfile. If the weights were simply in a NumPy array it would only

[2020-02-19 20:11] Nitish-McQueen commented on #35749
1.https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads
2. download  x64: vc_redist.x64.exe
3.install it.

It works.

[2020-02-19 20:13] MarkDaoust commented on #27390
Hi @dibya-pati,

Personally, if I had to get a tensor-value from a cpp program to a python program I'd try:
[serialize-tensor](https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/serialize-tensor) and
[parse-tensor](https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/parse-tensor) first, since these have clear python implementations: [serialize_tensor](https://www.tensorflow.org/ap

[2020-02-19 20:23] sanjoy commented on #36778
These lines from the log look pertinent:

[code]

Are you sure you have a cuDNN installation?

You could consider using the [TensorFlow GPU docker images](https://www.tensorflow.org/install/docker#examples_using_gpu-enabled_images) to guarantee that the right versions of libraries like cuDNN are available.

[2020-02-19 20:24] harshad16 opened #36909 "Source build of TensorFlow 2.0 with 0.26.1 bazel fails at C++ compilation of rule '@nccl_archive//:device_lib'."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): centos6
- Mobile device (e.g.

[2020-02-19 20:25] xam-ps commented on #24828
That gives me
[code]

[code]
is working for me, but that's still just a workaround. The docker hub tensorflow 2.1 container in my opinion should work out of the box without any error messages.

[2020-02-19 20:31] ckkuang commented on #33339
The issue should have been fixed in tf-nightly. In your original example you will need to disable dataset autosharding (see https://github.com/tensorflow/tensorflow/issues/35878) as the number of files is less than the number of workers.

[2020-02-19 20:31] #33339 closed

[2020-02-19 20:36] harshad16 commented on #36909
If it helps, here is the configuration set:
[code]

[2020-02-19 20:56] jraman commented on #36775
@jvishnuvardhan, thank you for updating the document.  I was looking for documentation and not a way to use `tf.Session`.  The updated doc looks good to me.

Couple of questions/suggestions:
 1. It may be good to point out early in the document that there are two modes of execution: eager mode (the default) and graph mode.
 1. The updated document refers to Graph mode as legacy.  But, `tf.function

[2020-02-19 21:05] lerobitaille commented on #36164
I've added more details about the source of the bug and a workaround at https://github.com/lerobitaille/tf-issue-36164-workaround. The memory leaks comes from the sampling of the `op_seed` in the function `tensorflow/python/framework/random_seed.py:get_seed` [here](https://github.com/tensorflow/tensorflow/blob/e5bf8de410005de06a7ff5393fafdf832ef1d4ad/tensorflow/python/framework/random_seed.py#L39)

[2020-02-19 21:29] BaoshengHeTR commented on #19200
Just want to add that I have the same issue. In addition, I have the same issue on using other libraries like Spacy. I have a feeling that if the training load is not very intensive (can be done on AWS sagemaker M4 or C5 instances by 1-3 hours), using gpu is NOT a good option.

[2020-02-19 21:30] OverLordGoldDragon commented on #33487
A CPU user reported a phenomenon of periodic (and increasing) inference-time spikes in TF2, not seen in TF1: from the [SO](https://stackoverflow.com/questions/60267911/keras-inconsistent-prediction-time):

![image](https://user-images.githubusercontent.com/16495490/74878243-5aa67880-5380-11ea-980f-4931b30e65fe.png)

Using `model(x)` opposed to `.predict()` largely solved the problem - regardless,

[2020-02-19 22:00] julian-urban commented on #36705
@Namburger
Thanks for your answer. I set the input and output type to tf.uint8 and fixed the input shape to (1, n). I tried to compile the model, but unfortunately it throws the same error:

[code]

Any ideas? Thanks for bringing the dummy example to my attention, I will check it out and see if it helps my issue.

[2020-02-19 22:02] jvishnuvardhan commented on #36746
@Abdelrahmanalii you can create three different [graphs](https://www.tensorflow.org/api_docs/python/tf/Graph) and run them in one session.
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly fo

[2020-02-19 22:02] #36746 closed

[2020-02-19 22:12] Namburger commented on #36705
@julian-urban
Humn, so I'm still seeing this:
[code]
Possibly due to undefined weight, can you show me your current code for producing model by any chance?

[2020-02-19 22:23] julian-urban commented on #36705
@Namburger

The dummy example with Conv2D worked (also with more than one layer). I adapted the code to have two Dense layers:

[code]

The same error appears when I try to compile it. Note that I still have (n,) as the input shape, I tried fixed ones as well but to no avail. I don't think the problem is related to this. Do I need to initialize the weights manually? If I remember correctly, I trie

[2020-02-19 22:45] gowthamkpr commented on #36802
@cheyang Please try using `tf.data.experimental.ignore_errors()` as fixed in this issue [here](https://github.com/tensorflow/tensorflow/issues/25700). This should help you work around Data loss error as shown [here](https://github.com/tensorflow/tensorflow/blob/00fad90125b18b80fe054de1055770cfb8fe4ba3/tensorflow/core/kernels/data/reader_dataset_ops.cc#L848) I cannot exactly point to the reason why

[2020-02-19 22:51] liufengdb commented on #36610
So looks like the TFLite converter does the right job and you are asking for a good approach to post-processing all the nodes to uint8 for edge TPU execution? As far as I know, the current edge TPU runtime will automatically convert int8 activation to uint8, so you don't need to handle them by yourself.

[2020-02-19 23:01] jvishnuvardhan commented on #36775
@jraman Agree with you on (1) and (3). regarding (2), `legacy` term was used to denote that graph mode as in TF1.x is going to be out of practice and not supported in the future. A graph mode with `tf.function` in TF2.x is supported.

Are you interested in creating a PR. If you are not interested, then I will create a PR. If you are interested to create PR, [here](https://www.tensorflow.org/guide/

[2020-02-19 23:08] liufengdb commented on #36610
Can you set both the `converter.inference_input_type = tf.int8`, `converter.inference_output_type = tf.int8` and `converter.inference_type=tf.int8` and then give it another try? I noticed the extra Quatize op is converting uint8 to int8. So if you set all all the inference types to int8, the nodes of the model will be in int8 and the edge tpu converter should be able to do the right job.

[2020-02-19 23:11] Namburger commented on #36705
@julian-urban Right now this looks like a tflite convertion issue to me as @terryheo mentioned that it [works without quantization](https://github.com/tensorflow/tensorflow/issues/36705#issuecomment-585591604). Maybe @daverim will have more insight?

I do have a dummy example for converting a .pb file, it downloads a mobile net model and converts it to tflite. Although not sure if it'd help you in

[2020-02-19 23:25] jackd commented on #36809
Looks like `tf.test` doesn't like colab. Please replace the `__main__` section with

[code]

[2020-02-19 23:36] MarkDaoust commented on #28331
Thanks, it looks like this is a duplicate of: #26645
I'll go fix that.

[2020-02-19 23:36] #28331 closed

[2020-02-19 23:36] karimnosseir commented on #29028
Hexagon Delegate is available now
See
https://www.tensorflow.org/lite/performance/hexagon_delegate

[2020-02-19 23:36] #29028 closed

[2020-02-19 23:46] MattConley commented on #35115
I had run into this issue, and adding the bazel flag `--noincompatible_do_not_split_linking_cmdline` when using bazel 0.27.1 allowed the build to complete successfully, with python3 and TensorRT support enabled.

[2020-02-19 23:47] yangyang945 commented on #30191
I tried this and the tensorflow was successfully installed, but I had error when tired to use it. Than I tried
pip install --upgrade tensorflow==2.0.0-beta1
and after this, it works well!

[2020-02-19 23:50] MattConley commented on #35584
In case it helps, adding the bazel flag `--noincompatible_do_not_split_linking_cmdline` when using bazel 0.27.1 and python3 allowed my build to complete successfully.

[2020-02-19 23:53] gowthamkpr commented on #36735
@ding-c3 I am not running into any error using this code below

[code]
which means the problem is occuring during the deserialization of metrics

[2020-02-19 23:56] gowthamkpr commented on #36758
@vadimen Can you plese check using the latest version of tensorflow-gpu docker image and let me know if it works. Thanks!

[2020-02-19 23:59] k-w-w commented on #36735
I believe this issue should be fixed soon, I have a change waiting to be reviewed.

[2020-02-20 00:01] matthewp14 opened #36910 "Cannot Convert Tensor Object to Numpy Array"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information** -
Have I written custom code - YES
 OS Platform and Distribution - macOS Catalina 10.15.2
 TensorFlow installed

[2020-02-20 00:01] danielegrattarola opened #36911 "tensorflow.python.ops.linalg.sparse.matmul crashes when inputs have different rank, but only if either is a CSRSparseMatrix"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from: binary
- TensorFlow version (use command below): v2.1.0-rc2-17-ge5bf8de 2.1.0
- Python version: 3.7.5
- CUDA/cuDNN version: 10.2/7.6.4
- GPU model and memory: Nvidia GeForce GTX 1050 4GB

**Describe the current behavior**
`tensorflow.python.ops.linalg.sparse.matm

[2020-02-20 00:01] qlzh727 commented on #34114
Thanks for the suggestion. Since this feature is affecting the existing API contract (type of the return value), I am not sure if we can easily change it in TF2 without breaking other users. Having said that, I think the proposed API is more intuitive, and we probably should consider it.

Adding @fchollet and @omalleyt12 here.

[2020-02-20 00:05] danielegrattarola commented on #36911
The issue is related to `SparseMatrixMatMul` if only one of the inputs is sparse, and `SparseMatrixSparseMatMul` if both are sparse.
Looking at the code it seems that `tfsp.matmul` is basically a switch to decide which op to use, so maybe this should be changed as a feature request?
I opened it as a bug because the documentation does not specify any restrictions on the inputs.

[2020-02-20 00:06] julian-urban commented on #36705
@Namburger

That explains a lot, however, I do see 'FullyConnected' on the list. How do I implement the operation in keras or tensorflow? Should I just use matrix-vector multiplication syntax?

[2020-02-20 00:09] gowthamkpr commented on #36739
@Hannabrahman Closing this issue as it is not related to bug/performance, build/install, feature request or docs related issues.

Please post this question in stack overflow as there is a bigger community to respond. Thanks!

[2020-02-20 00:09] #36739 closed

[2020-02-20 00:12] Hannabrahman commented on #36739
@gowthamkpr I have already asked it [here](https://stackoverflow.com/questions/60177218/how-to-get-original-string-data-back-from-tfrecorddata). But received no response. So TensorFlow github doesn't allow asking questions?

[2020-02-20 00:18] #35306 closed

[2020-02-20 00:24] ekuznetsov139 commented on #36343
This appears to be fixed by the commit 930c651.

[2020-02-20 00:35] gowthamkpr commented on #36714
Please paste the output of the below command as I am unable to see the serving_default signature
`saved_model_cli show --dir {export_path} --all`

Thanks!

[2020-02-20 00:38] gowthamkpr commented on #36706
You can follow the following[ tutorial](https://medium.com/tensorflow/how-to-write-a-custom-estimator-model-for-the-cloud-tpu-7d8bd9068c26) to write your custom estimator model.
If you have more questions please post them in stackoverflow as there is a bigger community to respond. Thanks!

[2020-02-20 00:38] #36706 closed

[2020-02-20 00:42] ardeal commented on #36871
@gadagashwini , I'm now using Tensorflow 1.14.0.
In my C++ code, I would like to load the weight model of YoloV3 downloaded from web site, and then write the C++ code to run prediction.

My question is:
whether I should write the network code in C++?

Thanks,
Ardeal

[2020-02-20 00:48] bixia1 commented on #36675
I ran the test without the forced garbage collection in tf_trt_integration_test_base.py, and did see TRT engines created for both F16 and F32. So the problem is gone in the current tree.  My commands are similar to this:

$ blaze run -c opt tensorflow/python/compiler/tensorrt:gpu_dynamic_input_shapes_test --define use_experimental_tensorrt=1 --config=cuda  --test_env=TF_CPP_VMODULE=convert_nodes=2

[2020-02-20 00:48] chiapas opened #36912 "lower accuracy when model.compile() inside strategy.scope() (TPU)"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: N/A
- TensorFlow installed from (source or
binary): - TensorFlow version (use command below): TF 2.1.

[2020-02-20 00:49] jsimsa commented on #36686
@edloper could you please take a look? As far as I can tell, this is related to boxing ragged tensors in a variant so that they can be batched/unbatched. Thanks.

[2020-02-20 00:49] wkelongws commented on #34767
@jvishnuvardhan  Thanks for the update.
By commenting/uncommenting the corresponding lines in the GPU gist that you provided above I got below findings:

scenario 1: model = Model_Functional_API()  +  model.save('saved_model', save_format='tf')
PASS

scenario 2: model = Model_Sequence()  +  model.save('saved_model', save_format='tf')
FAIL

scenario 3: model = Model_Functional_API()  +  model.save(

[2020-02-20 00:55] sanjoy commented on #36675
@bixia1 if this issue is fixed at head, can you do the following:

- Delete the explicit call to the Python GC in the test.
- Add a test case that would have caught the original issue if feasible.

[2020-02-20 01:01] #26645 closed

[2020-02-20 01:02] xiankgx commented on #30947
Hi, I'm also facing this problem, but I'm doing custom training loop and not using TF Estimator. I also have batch norm layers in my models.

[2020-02-20 01:21] nicci1771 commented on #36610
Hello I found the bug is hard to reproduce since it is required to rebuild tensorflow.
Can you attach the post-training quantized tflite model if possible? Thanks!

[2020-02-20 01:23] edloper commented on #36686
I'll look into what the problem is.  But in the meantime, note that if you don't actually want/need padding added, you can use [tf.data.experimental.dense_to_ragged_batch](https://www.tensorflow.org/api_docs/python/tf/data/experimental/dense_to_ragged_batch) to batch items into ragged tensors:

rt = tf.ragged.constant([[1,2,3], [2], [1,2,3,4], [1,1]])
ds = tf.data.Dataset.from_tensor_slices(rt)
ds

[2020-02-20 01:24] soheilazangeneh commented on #26813
Same issue TensorFlow 2.0 in PyCharm.

[2020-02-20 01:25] jraman commented on #36775
@jvishnuvardhan, thanks for getting back.  Sure, no worries, I'll create a PR.

I see what you mean by legacy--it's legacy in TF1, but not in TF2.  Since this is documentation for TF2, I think using legacy here may confusing since TF2 supports graph mode.  In any case, let me open a PR and maybe we can take it from there.

[2020-02-20 01:40] vdouet opened #36914 "Models with tf.lite.Optimize cause abort() when interpreter->Invoke()"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS Catalina 10.15.2
- TensorFlow installed from (source or binary): Installed with pip `pip install --upgrade tensorflow`
- Tensorflow version (commit SHA if source): Version 2.1.0 and TFLITE_SCHEMA_VERSION (3)
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): ESP32

**Describe th

[2020-02-20 01:57] edloper commented on #36686
Ok, here's a bit more information:

* A DataSet's elements can be encoded as Tensors or RaggedTensors.  If they're encoded as RaggedTensors, then they have a ragged_rank indicating how many ragged dimensions they have.  You can check how elements are encoded by printing `my_dataset.element_spec`.

* When you use `ds = tf.data.Dataset.from_tensor_slices(rt)`, you construct a DataSet whose elements

[2020-02-20 02:16] omalleyt12 commented on #34114
There's actually two ways to pass dicts through the Functional API at the moment (which is a little ambiguous, so maybe we should clean this up). IMO here is the most supported way:

[code]

Using this pattern, you can then extend the base model like this:

[code]

This should work in the latest nightly

Since we do allow the other way (directly passing nested structures to the Functional API `tf.

[2020-02-20 02:19] ezhulenev commented on #35308
This was done originally to reduce the number of instantiated templates, however this could be always computed with tensors:

(1) Rank 2 for NHWC -> fuse all dimensions before last
(2) Rank 3 for NCHW -> fuse all dimensions after dim 1

I'm not sure when I'll have cycles to add this fix myself, but it should be rather trivial. Would gladly review external contribution.

[2020-02-20 02:30] irum opened #36915 "tf.keras.applications.ResNet50 is not working"
<em>I am working on transfer learning and used the ResNet50 model to predict 10 classes of my dataset. The losss went to 0.7 and acc=99% during training phase, but when i evaluate the model on test dataset, it gave me acc=10% and loss=2.275. The most panicking thing was that model was predicting only one class during test phase.  I tried every solution , even for over fitting but in vain. Then, i

[2020-02-20 02:55] dantengdekaoya commented on #26813
If you upgrade pycharm to 2019.3 version, this issue may can be solved.

Soheila Zangeneh <notifications@github.com>于2020年2月20日 周四上午10:25写道：

[2020-02-20 05:21] gadagashwini commented on #36842
@HelpMePlz1234, Did you install the Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017, and 2019. Starting with the TensorFlow 2.1.0 version, the msvcp140_1.dll file is required from this package (which may not be provided from older redistributable packages). The redistributable comes with Visual Studio 2019 but can be installed separately from https://support.microsoft.com/en-us/h

[2020-02-20 05:28] ankitesh97 commented on #36883
Thanks, for the reply. I downgraded my TensorFlow to 2.0 it is working now. I don't know what error is happening in tf 2.1 though.

[2020-02-20 05:38] longbill commented on #36853
I am using tfjs-node-gpu, which uses the binary C-API release (https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-gpu-linux-x86_64-1.14.0.tar.gz)。         My GPU is Titan X, which has cuda capacity 5.2.

I got exactly the same error:

`I tensorflow/core/common_runtime/gpu/gpu_device.cc:1717] Ignoring visible gpu device (device: 0, name: GeForce GTX TITAN X, pci bus id: 0000:02:0

[2020-02-20 05:52] HelpMePlz1234 commented on #36842
Thank you I will do this now and see what happens

[2020-02-20 05:56] HelpMePlz1234 commented on #36842
It works now but I got two new errors

2020-02-19 21:54:58.529308: W tensorflow/stream_executor/platform/default/dso_loader.cc:55] Could not load dynamic library 'cudart64_101.dll'; dlerror: cudart64_101.dll not found
2020-02-19 21:54:58.529658: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

[2020-02-20 06:07] ravikyram commented on #36909
@harshad16

Can you please let us know GPU model.May be your GPU model is not compatible with CUDA/cuDNN versions. Thanks!

[2020-02-20 06:12] ravikyram commented on #36896
@uddmorningsun

Can you please upgrade with Bazel 0.26.1 and GCC/Compiler version 7.3.1 and see how it progresses. Please, find the tested build configurations from [here](https://www.tensorflow.org/install/source#cpu).Thanks!

[2020-02-20 06:22] huyng commented on #34114
@qlzh727 @omalleyt12  thanks for the detailed response. I was not aware that adding a  `name` parameter  to  `Input` would change the input type for `model()` to a dict.

While this addresses `Model.inputs`, the naming information is still loss for `Model.outputs` if for example, we define a `Model` that outputs a dictionary:

[code]

To extend the model above, we would have to resort back to inde

[2020-02-20 06:22] nauyan commented on #36654
@terryheo I have tried the addr2line utility. I ran the following command:

`$ANDROID_NDK_ROOT/toolchains/arm-linux-androideabi-4.9/prebuilt/linux-x86_64/bin/arm-linux-androideabi-addr2line -C -f -e /home/nauyan/Desktop/libtensorflowlite_jni.so 0022b194`

The output I got is:

[code]

[2020-02-20 06:23] ravikyram commented on #36900
@petkovacs19

Could you please provide us colab link or simple standalone code with supporting files to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-02-20 06:30] gadagashwini commented on #36851
Was able to replicate the issue with Tf 2.1.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/81dc9ecd6c0756e951d7f0e3ddc72d88/untitled396.ipynb). Thanks!

[2020-02-20 06:32] Saduf2019 commented on #31236
@jannik-w Could you please confirm if the issue persist, i have tried this on anaconda and colab there is no issue.

[2020-02-20 06:37] nauyan commented on #36654
@terryheo Here I have run addr2line for all the adresses from error log

[code]

[2020-02-20 06:39] Prasandhmcw commented on #36810
@gowthamkpr the labels have been changed, does this mean Gradient for Unique is not yet supported ?

[2020-02-20 06:40] gadagashwini commented on #36894
@Rayarrow, Thanks for reporting this issue.
Can you share the complete code to replicate the reported issue. Thanks!

[2020-02-20 06:43] harshad16 commented on #36909
The GPU model is NVIDIA Corporation GP100GL [Tesla P100 PCIe 12GB].

[2020-02-20 06:45] huyng commented on #34114
Whoops, also just saw @jjedele 's comments regarding `output_names`.  Although this would allow us to reconstruct model.output's naming information, IMO the API proposed above feels a little more intuitive and would be nicer to work with since we wouldn't have to go through the extra trouble of rebuilding the input and output dictionaries every time we want to extend a model.

[2020-02-20 06:45] uddmorningsun commented on #36896
About bazel version, since I refer to https://github.com/tensorflow/tensorflow/blob/v2.0.0/configure.py, so choose the minimum version
[code]

 @ravikyram Thanks, I will follow your suggestions and update related env to try it !

[2020-02-20 06:49] ravikyram commented on #36858
@aayusharora

This question is better asked on StackOverflow since it is not a bug or feature request. There is also a larger community that reads questions there and provide better and faster support for such issues. Thanks!

[2020-02-20 06:53] Nimoab opened #36916 "ValueError: Unable to save the object ListWrapper(...) (a list wrapper constructed to track trackable TensorFlow objects) when calling the method tf.keras.Model.save_weights"
**System information**
- Have I written custom code:  yes
- OS Platform and Distribution: macOS Catalina Version 10.15.3
- TensorFlow installed from: binary (using pip in conda)
- TensorFlow version (use command below): v2.1.0-rc2-17-ge5bf8de410 2.1.0
- Python version: Python 3.6.10 :: Anaconda, Inc.

Note: probably related to this closed issue https://github.com/tensorflow/tensorflow/issues/35075

[2020-02-20 06:53] Saduf2019 commented on #36910
@matthewp14 I am unable to replicate your code in my local to help you resolve your issue due to the binary_ops dependency used by you in the code, please refer to the [gist](https://colab.sandbox.google.com/gist/Saduf2019/4e2c57e65ddebdf66c7ed194f3f6d7ee/36910.ipynb), and share all dependencies to replicate your issue.

[2020-02-20 06:55] Joey155 commented on #36910
Hey @matthewp14  could you provide a gist or code, if possible, for your binarize method?

[2020-02-20 06:56] Saduf2019 commented on #36899
@MaximusMutschler I have tried to replicate the code shared by you in our local environment and the error faced is not the same ,please find the [gist](https://colab.sandbox.google.com/gist/Saduf2019/8ac933dbbc61451341ec65164107318c/36899.ipynb) attached.
please share complete code for us to replicate your issue.

[2020-02-20 07:10] Nimoab commented on #36916
**Update**

Apparently, it comes from the member `self._var` that is initialized in the `update` function. If I change the property `groupedVariables` to have it to recompute the list every time, it seems to solve the issue. I still think it is a bug as initializing a member as `self._var` shouldn't, in my opinion, affect the behaviour of the `save_weights` function.

[2020-02-20 07:18] gurugaurav opened #36917 "input_details shape is mismatching when converting Estimator to tflite"
**System information**
- OS Platform and Distribution :Ubuntu 18.04
- TensorFlow installed from : pip
- TensorFlow version : '2.2.0-dev20200218'

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.
[code]
**Output is**
[code]
why shape is [1] if I am passing 2 feature column to train. And if it is correct, how

[2020-02-20 07:26] lostmsu opened #36918 "Using trademarked word "TensorFlow" in the name of a C# binding"
My company is developing a proprietary TensorFlow binding for .NET called [Gradient](https://losttech.software/gradient.html). We are considering to rename it to clearly indicate, that it is designed to work with TensorFlow: into `CompanyName.TensorFlow`. I could not find any information if it is OK to use `TensorFlow` as part of the name in such manner. We will correctly only refer to Google as t

[2020-02-20 07:35] liangsun-ponyai commented on #30191
That works for me

[2020-02-20 07:42] Monkey1GIt commented on #36193
I also have the same problem when I'm running Tensorflow model object detection API in Win10, Python3.7, tensorflow 1.15. I try `pip install -U tensorflow_estimator` as @ashutosh1919 suggested, but it didn't work. I solve the problem for these steps:
1. `pip list`
2. make sure your pip install packages like this:
![Snipaste_2020-02-20_15-22-49](https://user-images.githubusercontent.com/43908098/74

[2020-02-20 07:43] Rayarrow commented on #36894
The real dataset and code I used to train is too large and messy to be attached here, so I faked a dataset produced by a random sequence generator but I think it's enough to explain my issue.

This script does an evaluation on the model, and then a training process followed by another round of evaluation. Please run this script twice:
    1. With ReLU. The accuracy will soar (~40%) during the trai

[2020-02-20 07:51] Mauhing opened #36919 "Memory leak in finalizing GeneratorDataset iterator"
**System information**
- OS Linux Ubuntu 18.04
- TensorFlow installed from `pipenv install tensorflow~=2.1
- TensorFlow version 2.1.0
- Python version: 3.6
- CUDA/cuDNN version: 10.1
- GPU model and memory: 2 x (RTX 2080 Ti 11GB)

**Describe the current behavior**

`tf.keras.preprocessing.image.ImageDataGenerator` output warning message `Error occurred when finalizing GeneratorDataset iterator: Ca

[2020-02-20 07:53] artemry-mlnx commented on #36691
Thanks, it looks like `pip install horovod` related error has been fixed.

[2020-02-20 07:54] Mauhing commented on #35100
I think the error is not spurious. It indicates the memory leak for each epoch. Try to train for extremely large epochs. You will use up all memory.

[2020-02-20 08:00] eubergene commented on #36714
Yes, of course. Please find below:

[code]

[2020-02-20 08:08] ravikyram commented on #36916
I have tried on colab with TF version 2.1.0 , 2.2.0-dev20200218 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/157e5efbaf9f0c985083bb3a0d8f3df5/untitled654.ipynb). Thanks!

[2020-02-20 08:19] ashutosh1919 commented on #36193
@Monkey1GIt ,
`pip install -U tensorflow_estimator` didn't help to @monocongo  too. What helped him is [this one](https://github.com/tensorflow/tensorflow/issues/23163#issuecomment-509178978). The reinstallation of the same helps. Please just change the version correctly as per your requirements.

[2020-02-20 08:20] ai-starter commented on #35968
I have the same problem. How to slove it?  Too many answers confuse me .Can someone summarize the solution to this problem?

[2020-02-20 08:20] dynamor2019 opened #36921 "tensorflow:AutoGraph could not transform"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
Downloading and preparing dataset imdb_reviews (80.23 MiB) to /root/tensorflow_datasets/imdb_reviews/subwords8k/

[2020-02-20 08:22] gadagashwini commented on #36885
@yanyanglu, Can you provide the complete code to reproduce the reported issue. Thanks!

[2020-02-20 08:23] wangyexiang commented on #33977
tf.__version__
2.1.0
tf.keras.__version__
2.2.4-tf
I meet the same issue. I want to change [https://github.com/guilherme-pombo/keras_resnext_fpn/blob/master/resnext_fpn.py](url) into tf.keras, like
)

![图片](https://user-images.githubusercontent.com/23202109/74914320-3341c100-53fd-11ea-95d0-0d6b52887412.png)

[2020-02-20 08:26] gadagashwini commented on #36885
@yanyanglu, I tried it on colab with Tf 2.1 and with Protobuf version 3.10.0.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/51980b41e0bdc4346b0fde1be7a8646f/untitled397.ipynb). Can you try with Protobuf 3.10.0. Let us know how it works. Thanks!

[2020-02-20 08:26] ravikyram commented on #36919
@Mauhing

Could you please share colab link or simple standalone code with supporting files to reproduce the issue in our environment. It helps in localizing the issue faster. Thanks!

[2020-02-20 08:32] david-waterworth commented on #35968
@ai-starter basically you need to upgrade to cuda 10.1 and install the correct version CUDNN and TensorRT libraries

You should be able to follow https://github.com/tensorflow/tensorflow/issues/35968#issuecomment-577329399

If it doesn't work this is what worked for me - I suspect what works may depend on what you currently have installed / how you installed it.

[code]

[2020-02-20 08:32] milena5511 opened #36922 "HACKED WESTERN UNION TRANSFERS WORLDWIDE 💰💰💰"
HACKED WESTERN UNION TRANSFERS WORLDWIDE 💰 💰 💰
ESCROW VERIFIED💎💎💎
👇 👇 👇

https://tinyurl.com/sr7r3e4

[2020-02-20 08:42] FeVo96 commented on #35754
I think Tensorflow 2.1.0 is no available on Anaconda.

I reinstalled it today and installed tensorflow, here it automatically installed Tf 2.1.0

My steps:
Open anaconda prompt
-> conda create -n tf Tensorflow // here it downloaded Tensorflow 2.1.0

I dont know if there is the possibility to update it by any Command. But this way works.

[2020-02-20 08:44] wpc009 commented on #33991
So, is there any roadmap for this?
Or, all we got is a workaround.

[2020-02-20 09:04] amahendrakar commented on #36915
@irum,
I tried transfer learning from [this](https://www.tensorflow.org/tutorials/images/transfer_learning) Tensorflow tutorial using ResNet50 and was able to run the code without any issues. Please find the Gist [here](https://colab.research.google.com/gist/amahendrakar/2c4720f92ec19824d324ef2434f6b250/36915.ipynb). Thanks!

[2020-02-20 09:08] scentini commented on #35115
cc @oquenchil, seems like this failure is related to https://github.com/bazelbuild/bazel/issues/7687

[2020-02-20 09:13] wuliytTaotao commented on #35754
@FeVo96 Is your reinstalled TF2.1 GPU version?

I just looked at https://repo.anaconda.com/pkgs/main/linux-64/ and found tensorflow-2.1 CPU version, but no GPU version.

[2020-02-20 09:15] vihari1729 commented on #36890
@erksch Kindly go through the question

[2020-02-20 09:19] ravikanth076 opened #36923 "how to install tensorflow in python 3.7.2 in 32 bit system"
hi....
 im trying to install tensorflow and keras for my project execution. Im able to install keras. But im unable to install tensorflow.
can any one please tell me?

[2020-02-20 09:23] open-v opened #36924 "How collect gradients with two and more losses?"
[code]
How to can train model with two and more losses? Help?

[2020-02-20 09:33] ravikyram commented on #36923
@ravikanth076

Can you please follow the instructions to install tensorflow from [here](https://www.tensorflow.org/install).Please, follow the instructions based on your OS and let us know how it progresses. Thanks!

[2020-02-20 09:43] gadagashwini commented on #36788
@yo-png, Will close this issue. We can track the solution in Tf js repository. Thanks!

[2020-02-20 09:43] #36788 closed

[2020-02-20 09:50] Saduf2019 commented on #36892
@odinsbane tensorflow r1.15 is compatible with gcc 4.8.5 , you can check this link for [reference](https://www.tensorflow.org/install/source#tested_build_configurations).

please share entire error logs and steps follwed before you faced this issue.

[2020-02-20 09:50] tanzhenyu commented on #34114
IIUC this breaks backward compatibility if users were passing a dictionary before? Seems niche case we can drop for the broader benefit here...

[2020-02-20 09:59] ravikyram commented on #36924
@open-v

Can you please go through the [link](https://www.pyimagesearch.com/2018/06/04/keras-multiple-outputs-and-multiple-losses/) and see if it helps you. If you still need support please fill [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new/choose). Please provide details about what platform you are using (operating system, architecture). Also include your Ten

[2020-02-20 10:03] gadagashwini commented on #36816
@Ljl-Jdsk, Please find the example for Parameter server strategy
[code]
For more read [here](https://www.tensorflow.org/api_docs/python/tf/distribute/experimental/ParameterServerStrategy). Thanks

[2020-02-20 10:04] FeVo96 commented on #35754
It is also the gpu version available.
I just opened up the conda environment in the prompt and typed conda Upgrade tensorflow-gpu. And it works

[2020-02-20 10:08] edwardyehuang commented on #35754
Tensorflow 2.1 should included GPU

[2020-02-20 10:08] amahendrakar commented on #36921
@dynamor2019,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the TensorFlow version you are using. Thanks!

[2020-02-20 10:09] gadagashwini commented on #36827
I am able to replicate the issue with Tf 2.1.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/40449d13fb2f790a30a5595c30ef3852/untitled399.ipynb). Thanks!

[2020-02-20 10:15] gadagashwini commented on #36842
@HelpMePlz1234,Are you installing GPU support tensorflow with CUDA and cuDNN? as
`pip install tensorflow-gpu==2.1`
Thanks!

[2020-02-20 10:19] odinsbane commented on #36892
I have included all of the steps, but Ill include all of the log output too. PART 1

    ~/local/Python3.8/bin/python3 -m venv tensorflow-build-env
    git clone https://github.com/tensorflow/tensorflow.git

    cd tensorflow
    git checkout r1.15

    . ../tensorflow-build-env/bin/activate
    pip install Keras-Preprocessing numpy six wheel

    ./configure

    bazel build --config=opt --config

[2020-02-20 10:21] gadagashwini commented on #36866
@steven807,You may try converting your model using `Select TensorFlow Ops`
Please take a look at similar [#35605](https://github.com/tensorflow/tensorflow/issues/35605#issuecomment-571737987) issue comment. Thanks!

[2020-02-20 10:22] amahendrakar commented on #36895
@jashshah,
Could you please check [this](https://github.com/tensorflow/tensorflow/issues/35449#issuecomment-570318723) comment from a similar issue and let us know if it works. Thanks!

[2020-02-20 10:22] ravikanth076 commented on #36923
is there any other alternate  method to install Tensorflow? because i have this system only....
please help me..

[2020-02-20 10:23] Jackie-L-Staiger commented on #36141
I am still getting this error on my raspberry pi 4, even after installing tensorflow 2.1.0 using the instructions in https://github.com/PINTO0309/Tensorflow-bin. I used the instructions for "Example of Python 3.x + Tensorflow v2 series" since I am using Python 3.7.3

[2020-02-20 10:28] oeyvindds opened #36925 "Import module as -- gives error"
I am experiencing some strange behavior:

[code]
gives the following output:

[code]

However, if I changes it to

```from tensorflow.keras.utils import to_categorical```

it works fine.

With other modules it works fine. For example, no problem with:

[code]

[2020-02-20 10:28] ravikyram commented on #36544
@bestpredicts

Any update on this issue please. Thanks!

[2020-02-20 10:29] ravikyram commented on #36530
@JiayuanSternLi

Any update on this issue please. Thanks!

[2020-02-20 10:30] irum commented on #36915
I have done the coding in the same way by using the above mentioned tutorial but the model was predicting only one class . I used tape.gradient loop to train the model . Then I used model.fit as well to train the model but for my dataset this resent model was not working at all.

[2020-02-20 10:33] Saduf2019 commented on #36864
@akanyaani please share a simple stand alone code for us to replicate the issue faced by you.

[2020-02-20 10:33] oeyvindds commented on #36793
Here is the code indented:

[code]
It gives this output:
[code]

[2020-02-20 10:34] ravikanth076 commented on #36923
is there any alternate method to do this? because i have only this system...

[2020-02-20 10:35] ravikyram commented on #36528
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-20 10:35] #36528 closed

[2020-02-20 10:38] ravikyram commented on #36485
Closing the issue since its resolved. Thanks!

[2020-02-20 10:38] #36485 closed

[2020-02-20 10:42] Syirrus commented on #34135
I'm having the same problem and restarting my machine does nothing. :(

[2020-02-20 10:42] ravikyram commented on #36262
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-20 10:42] #36262 closed

[2020-02-20 10:42] odinsbane commented on #36892
PART 2: After modifying the WORKSPACE to include the following:

[code]
 Then the building gets started:

     vi WORKSPACE
     bazel build --config=opt --config=cuda //tensorflow/tools/pip_package:build_pip_package

[2020-02-20 10:43] ravikyram commented on #36172
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-20 10:43] #36172 closed

[2020-02-20 10:44] odinsbane commented on #36892
It makes it through over 20K jobs before failing. You can see from the log that it is using the -std=c++14, which is not supported in gcc 4.8.

Also, the reference you have provided doesn't say anything about tensorflow 1.15

[build-log.txt](https://github.com/tensorflow/tensorflow/files/4230238/build-log.txt)

[2020-02-20 10:45] ravikyram commented on #35933
@indexraja

Any update on this issue please. Thanks!

[2020-02-20 10:57] vadimen commented on #36758
@gowthamkpr I installed tensorflow/tensorflow:nightly-gpu-py3 image released 8 hours ago and everything did work. I couldn't get GUI output from opencv but it's clear why, at least I got console output from python which told me that my code is executed 5 times slower than on CPU on host machine. I think it's because of not enough memory, my mx110 card gas 2GB of memory but output says it's all use

[2020-02-20 11:00] shubham894 opened #36926 "Array Relu, which is an input to the Conv operator producing the output array conv2d_1/BiasAdd, is lacking min/max data, which is necessary for quantization"
Hi,
I am facing the following issue while converting my Frozen graph(.pb) to tflite

Array Relu, which is an input to the Conv operator producing the output array conv2d_1/BiasAdd, is lacking min/max data, which is necessary for quantization. If accuracy matters, either target a non-quantized output format, or run quantized training with your model from a floating point checkpoint to change the in

[2020-02-20 11:08] luozhouyang commented on #36924
You should combine the multi losses to one.

[code]

or with a factor:

[code]

[2020-02-20 11:14] ravikyram commented on #36925
@oeyvindds

You can use from `tensorflow.keras.utils import to_categorical` instead of `from tf.keras.utils import to_categorical` or you can use `tf.keras.utils.to_categorical` directly without importing. Thanks!

[2020-02-20 11:17] luozhouyang commented on #36897
I think the recommend way to save a model is saving it in `Checkpoints` or `SavedModel` format.

[Traning checkpint](https://www.tensorflow.org/guide/checkpoint)

[2020-02-20 11:24] prokotg opened #36927 "Invalid output for MobileNet SSD with Hexagon Delegate and QCS605"
Hi there!

I have been using Tensorflow Lite and Coco SSD MobileNet for some time now in my Android (API 27) application and I decided to add a Hexagon Delegate. There is an unprecedented improvement in prediction time but prediction itself is full of false positives. I am using custom board with QCS605 on it.

![Prediction without Hexagon delegate](https://user-images.githubusercontent.com/195360

[2020-02-20 11:27] erksch commented on #36890
Hey @vihari1729
I will try to give a detailed walkthrough (if I remember :D).
I am a little bit occupied at the moment but will try to do it today or tomorrow.

[2020-02-20 11:35] odinsbane commented on #36892
It looks like mlir was made to require c++14 which is not compatible with gcc 4.8.

https://github.com/tensorflow/tensorflow/commits/r1.15/third_party/mlir/CMakeLists.txt

It sounds like there is a way to disable mlir, but I do not understand how.

[2020-02-20 11:40] SirPhemmiey commented on #36141
I'm still getting the message however, i can do all my TensorFlow related tasks without issues. So i am guessing that your application should work normally even if this message shows up.

[2020-02-20 11:46] gjpicker opened #36928 "if GPU available, raise Exception "Cholesky decomposition was not successful. The input might not be valid" ,otherwise, in CPU mode, The Official Unittest is ok"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  No
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or
binary):  pip install tensorflow-gpu==1.15.0

[tf_env.txt](https://github.com/tensorflow/tensorflow/files/4230518/tf_env.txt)

[code]
[code]

**Describe the c

[2020-02-20 11:47] amahendrakar commented on #36911
Was able to reproduce the issue with TF 2.1 and TF nightly. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/098f60ba73339d773791c538b7fdea14/36911.ipynb). Thanks!

[2020-02-20 11:49] amahendrakar commented on #36915
@irum,
Could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-02-20 12:03] antoinecomp commented on #30998
@georgealexandruvlad Has the issues been solved ? Have they found a way to support `tensorflow-text` on windows?

[2020-02-20 12:05] uddmorningsun commented on #36896
Found 0.24.1 to 0.26.1 has a big change in toolchain configuration, increase learning cost to unexperenced bazel user

[code]
Maybe CROSSTOOL file doesn't work any more, I found or guess

Loading `*.bzl` extension file to configure toolchain, refer https://docs.bazel.build/versions/master/tutorial/cc-toolchain-config.html to learn and adjust

[2020-02-20 12:16] MaximusMutschler commented on #36899
@Saduf2019  Just changed the code so that it reproduces the error: see [my_gist](https://colab.research.google.com/gist/MaximusMutschler/9d41805c5bd7cd91a974871e42e08f65/36899.ipynb)
Interestingly the error does not occur when using jupyter notebooks.
But if the code is run directly on the system i can recreate the error in google colab
It works with tf2.0 but fails with tf2.1

[2020-02-20 12:32] NEGU93 commented on #36897
I agree it is the recommended way. In my particular case I did my own model using keras layers and that's why I said:

So this way does not apply to my case and therefore I wanted to use pickle.

[2020-02-20 12:32] tanzhenyu commented on #33260
@omalleyt12 do you remember if we implicitly swallow it?

[2020-02-20 12:35] irum commented on #36915
`import tensorflow as tf
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras import optimizers,regularizers
import os
from PIL import Image
import numpy as np

Dir = "/media/irum/DATA/Dataset"
Dir_test="/media/irum/DATA/Dataset"

catogories = ['bottles', 'cans', 'chain', 'cloth', 'gloves', 'metal_objects', 'pipe_joints', 'plastic_pipes', 'sponges',

[2020-02-20 12:47] SivamPillai commented on #36787
I believe the library now uses `tf.random.normal()` instead of the older `tf.random_normal()`. Please replace the function and see if that works. I am assuming you are using TF2.0. Sharing here as I was also once stuck with this error to later realize the problem!

HTH

[2020-02-20 12:58] chensers commented on #36916
I have the same wrong error... I save the model with 'h5' no problem but save with 'tf' will cause this problem

[2020-02-20 13:21] Starballon opened #36929 "(Solved and Not BUG)No module named 'tensorflow_core.compat' when import tensorflow_datasets in VSCode"
Sorry, I think I should check my code again, this problem may be caused by my mistakenly import other dependent files. Don't spend your precious time on my issue.

System: Window10 Pro 1909 zh-cn
Python version: 3.7.6
Tensorflow version: 2.1
CUDA version: 10.01
Visual Studio Code version: 1.42.1 with extension of zh-cn

I'm a beginner in Tensorflow studying. And now I'm studying with the tutorial

[2020-02-20 13:22] astridtijskens commented on #27780
I have just tried with v2.1.0 build for CUDA/CuDNN 10.2.89_441.22/7.6.5.32 and DepthwiseConv is still slow when using mixed precision. The fix does indeed not seem to be included in 2.1.

If I build nightly from source, should it be fixed then?

[2020-02-20 13:32] #36929 closed

[2020-02-20 13:35] lgeiger commented on #27780
I think this is expected for mixed precision, since depthwise convolutions are not whitelisted in the [auto mixed-precision optimizer](https://github.com/tensorflow/tensorflow/blob/7966f2df6b6405a3d4672c868f6b301246ab9870/tensorflow/core/grappler/optimizers/auto_mixed_precision_lists.h#L76-L80), or am I missing something @reedwm @benbarsdell?

[2020-02-20 13:50] plooney commented on #36877
Could you change

   `buffer_size=tf.data.experimental.AUTOTUNE`

to a fixed size and see if the problem persists?

[2020-02-20 13:56] myself659 commented on #35749
I will try  this solution

[2020-02-20 14:02] dynamor2019 commented on #36921
I just followed the tutorials of tensorflow @ tensorflow.google.cn,

i try to learn&nbsp;

Text classification with preprocessed text: Movie reviews
with colab,&nbsp;

after&nbsp;
try:
&nbsp;&nbsp;#&nbsp;%tensorflow_version&nbsp;only&nbsp;exists&nbsp;in&nbsp;Colab.
&nbsp;&nbsp;!pip&nbsp;install&nbsp;-q&nbsp;tf-nightly
except&nbsp;Exception:
&nbsp;&nbsp;pass
import&nbsp;tensorflow&nbsp;as&nbsp;tf

[2020-02-20 14:07] kitepro opened #36931 "Bazel build cannot access private member.. windows"
Im trying to build tensorflow from source on windows 10
I cant use pip install tensorflow coz i want to add user_ops in the build.
(Please let me know if that is possible any other way than source build)

------------------------------------------------------------------------

So I'm using these for build:
      Python = 3.7.6
      TF = Currently On Github (2/20/20)
      Bazel = 2.0.0
      MSV

[2020-02-20 14:07] vihari1729 commented on #36890
@erksch Thanks for the reply. From the tutorial i suspect something need to change in freeze.py. Because in the [netron](https://lutzroeder.github.io/netron/) the structure of the model is changing after the creation of frozen(.pb) model.