[2020-01-22 08:31] gadagashwini commented on #35767
@praharshbhatt, Were you able to solve this issue. Thanks!

[2020-01-22 08:32] gadagashwini commented on #35771
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-22 08:32] #35771 closed

[2020-01-22 08:35] padoremu commented on #36093
@oanush
Have you tried loading the saved model? With my 2.0.0-dev20190731 installation, when adding the line

`model2 = tf.keras.models.load_model('rnn.tf')`

at the end, loading fails:

[code]

[2020-01-22 08:37] Cospel commented on #34454
It's working in tf-nightly-2.2...!  Thank you @k-w-w .

You can close this!

[2020-01-22 08:55] bj1123 commented on #35930
@oanush
I think your modification can not assure the weights are successfully loaded. If you comment out the code for initializing the model, there is no difference in the model weights. Printing old and new variable happen to be the same whether or not the weights are successfully loaded. I slightly changed the codes for better understanding, and it still shows the same problem.
[code]

[2020-01-22 09:14] igorhoogerwoord opened #36121 "Installation broken - Tensorflow 2.1 Cuda 10.1 Ubuntu 18.04"
Having followed the installation guide for GPU support multiple times, each time starting from a blank Ubuntu 18.04 LTS instance it breaks when installing cuda 10-1 after installing the driver and rebooting.

See guide for Ubuntu 18.04 + Cuda 10.1: https://www.tensorflow.org/install/gpu
Cuda 10.1 is the version with which Tensorflow 2.1 is compiled and therefore Cuda 10.1 needs to be installed.

*

[2020-01-22 09:16] gadagashwini commented on #35777
@cnzjhdx, Any update

[2020-01-22 09:16] #35903 closed

[2020-01-22 09:18] gadagashwini commented on #35795
@xav12358, Did you get a chance to look at the provided gist. Thanks!

[2020-01-22 09:24] shauryad15 commented on #35389
sorry, I posted a different model.
[detect.zip](https://github.com/tensorflow/tensorflow/files/4096225/detect.zip)

this is the correct model.

[2020-01-22 09:29] blyscuit opened #36122 "Code will not compile Image classification"
https://www.tensorflow.org/tutorials/images/classification

## Description of issue (what needs changing):

### Clear description

There's a bug in code

`history = model.fit_generator(
    train_data_gen,
    steps_per_epoch=total_train // batch_size,
    epochs=epochs,
    validation_data=val_data_gen,
    validation_steps=total_val // batch_size
)`

where
`    steps_per_epoch=total_train // bat

[2020-01-22 09:36] gadagashwini commented on #30064
@shbnm21,
Please find the documentation on how to convert pb to lite model in this [link](https://www.tensorflow.org/lite/convert/cmdline_examples#convert_a_tensorflow_graphdef_). Thanks!

[2020-01-22 09:36] trayanmomkov commented on #34350
If I remove `concrete_func.inputs[0].set_shape([])` the error is:
[code]
When add `converter.experimental_new_converter = True` the error is:
[code]
Here are the signatures (I need "predict" I guess?):
[code]

Maybe the model is not correctly saved?
Here is how I create DNNClassifier estimator and save the model:
[code]

[2020-01-22 09:42] NIravMeghani commented on #20444
pip install https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.8.0-py3-none-any.whl
after if i write import tensorflow then it's give error.... how to solve this.
![2020-01-22 15_10_07-Administrator_ Command Prompt](https://user-images.githubusercontent.com/56798346/72883016-94587500-3d29-11ea-9e2e-ce0c95ae9d34.png)

[2020-01-22 09:52] NIravMeghani commented on #33374
pip install https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.8.0-py3-none-any.whl
after if i write import tensorflow then it's give error.... how to solve this.
![2020-01-22 15_10_07-Administrator_ Command Prompt](https://user-images.githubusercontent.com/56798346/72883836-0b423d80-3d2b-11ea-8f1b-df3babd941bd.png)

[2020-01-22 09:53] niccle27 commented on #35909
Sorry for the late reply,
I manage to identify the problem, the path was alright. The problem concern the h5py package installed using pip on the raspberry pi. Apparently there seem to be some issue with it. I managed to fix it by installing using the debian repository : sudo apt-get install python3-h5py.

This is indeed irrelevant to tensorflow, therefore the issue can be closed.

Thanks a lot !

[2020-01-22 09:53] #35909 closed

[2020-01-22 10:00] djstrong opened #36123 "ERROR: intel-tensorflow has an invalid wheel"
Are you maintaining intel-tensorflow?

With pip 20.0.1:
[code]
I guess the error is related to new pip.

[2020-01-22 10:02] SalahAdDin commented on #35968
it is a warning, i found that [**TensorRT**](https://developer.nvidia.com/tensorrt) is a **nVidia** developed library to improve the _CNN_ performance, but i think it is not needed, I'm working with `tensorflow 2.0` in **Colab** and it is working very good.

You can find a tutorial here: https://medium.com/@ardianumam/installing-tensorrt-in-ubuntu-dekstop-1c7307e1dcf6

[2020-01-22 10:02] amitport commented on #33374
@NIravMeghani this issue is still open, I would have been surprised if it did work

[2020-01-22 10:09] marius-sm commented on #36073
I did not know that, thank you ! I think it would be nice to mention that in the docs though.

[2020-01-22 10:12] ahtik commented on #33374
@NIravMeghani Your wheel link points to a tensorflow 1.8.0 macOS wheel that is not compiled for python3.8. Also this issue is about python3.8 support for tensorflow 2.x.

Look at https://www.tensorflow.org/install/pip#package-location for the latest possible wheels (Python 3.8 wheels are not yet available).

For now the easiest way is to build the wheel by yourself, takes possibly a few hours max.

[2020-01-22 10:15] gadagashwini commented on #32678
@prpeixoto, Which Tensorflow and python version are you trying to install?

[2020-01-22 10:17] batulrangwala commented on #36089
Using a docker resolved this issue. The Docker is provided by Coral and has all the necessary environment set.
Docker Link :
https://coral.ai/docs/edgetpu/retrain-detection/#set-up-the-docker-container

[2020-01-22 10:17] #36089 closed

[2020-01-22 10:17] batulrangwala commented on #35690
Using a docker resolved this issue. The Docker is provided by Coral and has all the necessary environment set.
Docker Link :
https://coral.ai/docs/edgetpu/retrain-detection/#set-up-the-docker-container

[2020-01-22 10:17] #35690 closed

[2020-01-22 10:18] batulrangwala commented on #35692
Using a docker resolved this issue. The Docker is provided by Coral and has all the necessary environment set.
Docker Link :
https://coral.ai/docs/edgetpu/retrain-detection/#set-up-the-docker-container

[2020-01-22 10:18] #35692 closed

[2020-01-22 10:22] batulrangwala commented on #35695
There is Docker provided by Coral which has all the necessary environment set.
Docker Link :
https://coral.ai/docs/edgetpu/retrain-detection/#set-up-the-docker-container

However the conversion is successfull only when using the standard parameters while tflite_convert.

When I try to convert my custom model by changing input_arrays, input_shapes I get the same error

[code]

[2020-01-22 10:23] zaccharieramzi commented on #30602
@rryan I am having the above problem for the fft2d of a `[35,640,368]` tensor. In don't have a reproducible example yet, but here is the error I got (even after trying the proposed fixes):

[code]

[2020-01-22 10:27] DoumanAsh commented on #35734
Thanks for fix!

[2020-01-22 10:31] #26135 closed

[2020-01-22 10:31] kbhute-ibm commented on #26135
The corresponding PR is merged which resolves this issue. So closing the issue. Thanks.

[2020-01-22 10:37] Alieladi commented on #24520
I encountered the same problem with tf.data.Dataset. When I checked 'mydata.element_spec'. some elements had 'TensorSpec(shape=<unknown>)'. I used padded_batch instead of batch in which I added the wanted shapes to padded_shapes with the same structure as 'mydata.element_spec'.
For example:
'''
padded_shapes = ({'input_mask': [128],
                  'input_type_ids': [128],
                  'inp

[2020-01-22 10:39] jmtc7 commented on #17386
I am using **Python 3.6.0** with an i5-6300U (which should have **AVX2 support**, according to [intel](https://ark.intel.com/content/www/us/en/ark/products/88190/intel-core-i5-6300u-processor-3m-cache-up-to-3-00-ghz.html)). I have tried installing **TensorFlow 1.7, 1.6 and 1.4** but nothing worked. The **wheel file** did **not work** either. Any idea of what can be the cause of my issue? I get thi

[2020-01-22 10:39] gadagashwini commented on #36105
@NIravMeghani, Looks like issue is not related to Tensorflow, can you post this issue in relevant location. Thanks!

[2020-01-22 10:52] padoremu commented on #27303
@rryan Thanks! Using the magenta code helped, up to the point where I use `tf.signal.mfccs_from_log_mel_spectrograms`, which apparently needs RFFT / FlexRFFT as well. Any hint for a replacement to make it TFLite compatible without making use of TensorFlow ops (avoiding the use of flex delegates)?

[2020-01-22 10:52] christian-ri opened #36126 "Tensorflow: Model.Fit Error - [[{{node IteratorGetNext}}]]"
Hey Tensorflow-Team,

there is an error, that accurs when you try to follow the tutorial how to Load CSV data. [(Link)](https://www.tensorflow.org/tutorials/load_data/csv) When the model runs through all the epochs, each time there is this error-code: `BaseCollectiveExecutor::StartAbort Out of range: End of sequence [[{{node IteratorGetNext}}]]`. There are already some entries here on GitHub, but

[2020-01-22 11:00] padoremu commented on #21526
I would like to ask to add the following operations to the list: ComplexAbs, RFFT, Real (as required for audio processing with `tf.signal.stft` + `tf.signal.mfccs_from_log_mel_spectrograms`).

[2020-01-22 11:01] praharshbhatt commented on #35767
Thanks for the reply, I had the work done with visual CV so did not have to install Tensorflow.
I will comment if the issue arises in future.

[2020-01-22 11:01] #35767 closed

[2020-01-22 11:02] zaccharieramzi commented on #30602
Unfortunately, even for a batch size of 1, I get this error.

My minimal failing example is basically:

[code]
Giving the error:
[code]

So it's not very informative.

However, the warnings are:
[code]

So I guess it's actually a problem with blas not being loaded correctly.

[2020-01-22 11:08] shauryad15 commented on #35389
ok, i'll explain what I did, may be from there you can guide me better. I took ssd_mobilenet_v1 model, did transfer learning on my data and saved the model using https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193 this link. After training, I exported the model using python object_detection/export_tflite_ssd_graph.py \
--p

[2020-01-22 11:10] zaccharieramzi commented on #30602
Ok it was indeed a blas problem, following [this advice](https://github.com/tensorflow/tensorflow/issues/9489#issuecomment-562394257), I got rid of the error.

[2020-01-22 11:13] dkurt commented on #36123
/cc @chuanqi129

[2020-01-22 11:32] NIravMeghani commented on #36105
yeap
how can i transfer this to other topic ?

[2020-01-22 11:54] gadagashwini commented on #36111
@frogtd129,
You may need to find which directory these dlls are in, and then update your PATH to include that directory. Thanks

[2020-01-22 11:57] Flamefire opened #36127 "Make TensorFlow build with system packages"
We want to control what versions of libraries are getting used on our cluster. TF using included and downloaded stuff is a misbehavor.

Is it possible to get a list of dependencies and whether the system version is used/found?

Can we interactively pass some arguments and have it use the system versions with TF showing if it does before running the build?

Examples that I've seen are zlib and prot

[2020-01-22 12:01] gadagashwini commented on #36114
@dishkakrauch,
Could you post the complete code to reproduce the reported issue. Thanks!

[2020-01-22 12:05] paloha opened #36128 "Tensorflow.summary.histogram produces wrong output"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
**Tested on my machine with Linux Ubuntu 16.04 and in Google Colab**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binar

[2020-01-22 12:05] jjedele commented on #36096
Update: Benchmarks with more data:

![embedding_lookup_bm](https://user-images.githubusercontent.com/779877/72892866-ea242180-3d17-11ea-8394-f4873f2f7a14.png)

[2020-01-22 12:13] jjedele commented on #36096
I would also be interested where the strong peak around a batch size of 50 comes from.

[2020-01-22 12:26] OlofHarrysson commented on #33479
I wrote a repo to handle this issue. It utilizes docker to load/save models in different tensorflow versions and gets around the ragged keyword. Here it is https://github.com/OlofHarrysson/tensorflow-model-converter

[2020-01-22 12:33] NachoLiu1234 commented on #24520
I encountered this too

[2020-01-22 12:35] ravikyram commented on #36116
@Bidski

Can you please provide colab link or simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster.Thanks!

[2020-01-22 12:37] gitathrun commented on #34441
@yyoon Hi, Yoon, could you be more specific about the step at the stage of "in place of the TensorFlowLiteC framework"? Do I need to modify the .podsepc file only? or do I need to rewrite the TensorflowLiteSwift's source code, such as change the __import__ of __TensorflowLiteC__ to __TensorflowLiteSelectTfOps__ ?

[2020-01-22 12:39] tensorflowbutler commented on #35224
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-01-22 12:39] tensorflowbutler commented on #35633
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-01-22 12:50] saintthor commented on #33479
It seems great._

[2020-01-22 12:51] ravikyram commented on #36065
I have tried on colab with TF version 2.1.0-rc2 and was able to reproduce the issue.Please, find the for MobileNetV2 [gist ](https://colab.sandbox.google.com/gist/ravikyram/c884c558e88b6214bf44c2b4728d25b1/untitled576.ipynb)and MobileNet [gist](https://colab.sandbox.google.com/gist/ravikyram/0d87b4b027dcfbad75f54e9df084d673/untitled580.ipynb). Thanks!

[2020-01-22 13:25] hgaiser commented on #33691
@srjoglekar246 I've seen a [commit](https://github.com/tensorflow/tensorflow/commit/0e805c551596362fbe8560b40b1abab419d2b949) by you in `master` that seems to affect this subject, is that the fix you were talking about? I tried the nightly from today but the issue still persists for me. Using tf-nightly, I have converted my model to tflite again (I don't think this was necessary?) and ran it on an

[2020-01-22 14:08] prpeixoto commented on #32678
@gadagashwini thank you for the reply. I'm using tensorflow 2.0 and Python 3.7 on windows. I was previously using tensorflow 2.1, but downgraded since other issues were occurring that were resolved when downgrading.
The current issue is as follows:
ImportError("cannot import name 'Layer' from 'tensorflow.python.keras.engine.base_layer'
 Any ideas or suggestions on what could be causing this and ho

[2020-01-22 14:31] Robmosh91 commented on #35853
Hi @ymodak , I’m actually trying use a custom metric. As loss I use focal loss which I have implemented in my own and it runs just fine. Thanks for the help!

[2020-01-22 14:36] yohskar commented on #6541
I think this is a very relevant issue since almost all speech applications need this .
I developed some model for speech recognition and in branches 1.13.1 or 1.14, with the contrib spectrogram implementation, run like 10x or 20x faster than with tf 2.x ... with the signal.stft implementation.

[2020-01-22 14:41] juskuz opened #36132 "Build Tensorflow 2.0 error (CUDA 10.1, Windows 10, conda)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.0.0
- Python version: 3.7.6 (conda)
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source):

[2020-01-22 14:46] ravikanth076 commented on #36092
thank u so much for the link.
in 2nd point(creating virtual environment ) i do not understand the statement. the statement is given below:
virtualenv --system-site-packages -p python3 ./venv
 can u please explain me in detail?

[2020-01-22 14:57] mihaimaruseac commented on #20444
@NIravMeghani please stop spamming unrelated issues.

TF 1.8 is out of life for a few years already. Please use TF 1.15, 2.0 or 2.1.

TF has no support for python 8 at the moment. You can compile from source if you want to. We are working on releasing python 8 support soon.

In the future, please open a new issue instead of riding on the back on unrelated issues.

[2020-01-22 14:58] frogtd129 commented on #36111
I added the directory to path and still get the same warning.

[2020-01-22 15:10] Aquinius-Aquila commented on #26209
I solved the problem with missing libraries in tensorflow-gpu by creating these links:

sudo ln -s /usr/local/cuda-10.2/targets/x86_64-linux/lib/libcudart.so.10.2.89 /usr/local/cuda/lib64/libcudart.so.10.0
sudo ln -s /usr/local/cuda-10.2/targets/x86_64-linux/lib/libcudnn.so.7.6.5 /usr/local/cuda/lib64/libcudnn.so.7
sudo ln -s /usr/lib/x86_64-linux-gnu/libcublas.so.10.2.2.89 /usr/local/cuda/lib64/l

[2020-01-22 15:11] adekability opened #36133 "initializer() method has no attribute run()"
**System information**
- Windows 10(x64)
- TensorFlow 2.1.0
- Python 3.7
- CUDA 10.0:
- GPU - NVIDIA GeForce GTX 1660 Ti:
__________________________________________________________________________________________________________

I wanted to repeat some code from book named "Machine Learning with TensorFlow" of Nishant Shukla (@BinRoot)

![Снимок](https://user-images.githubusercontent.com/43477533

[2020-01-22 15:16] driedler commented on #32809
This works using TF 2.1

[code]

[2020-01-22 15:17] bazako commented on #28485
I met the same problem. I am using a batch normalization layer (tf.layer.batch_normalization).

2020-01-22 15:33:09.575787: F ./tensorflow/lite/toco/toco_tooling.h:38] Check failed: s.ok() Found Mul as non-selected output from Switch, but only Merge supported. Control flow ops like Switch and Merge are not generally supported. We are working on fixing this, please see the Github issue at https://g

[2020-01-22 15:26] HarrisonWilde opened #36134 "Cannot build TensorFlow from source on Mac OS Catalina"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS Catalina
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.0
- Python version: 3.7.6
- Installed using virtualenv? pip? conda?: miniconda
- Bazel version (if compiling from source):

[2020-01-22 15:33] juskuz commented on #36132
I installed tf 2.1.0rc0 and run in python console:

[code]
so __GeForce GTX 1660 Ti computeCapability: 7.5__

[2020-01-22 15:33] Lotte1990 commented on #21429
Somehow, this functionality is not in TF2. In TensorFlow 2.1.0 I get:

TypeError: from_keras_model() got an unexpected keyword argument 'custom_objects'
when using `tf.lite.TFLiteConverter.from_keras_model`

or

AttributeError: type object 'TFLiteConverterV2' has no attribute 'from_keras_model_file'
when using `tf.lite.TFLiteConverter.from_keras_model_file`

My model was created using TensorFlow 2

[2020-01-22 15:40] rushabh-v commented on #36122
@blyscuit `total_train // batch_size` is integer devision of `total_train` and `batch_size`.
In python 3, `a / b` is floating point devision and `a // b` is integer devision :)

[2020-01-22 15:46] dodiak opened #36135 "model.save() Error: object has no attribute '_compile_metrics'"
<em>With python3 model saving stopped to work.</em>

After switching from python2 to python3 I started to get for my not compiled model the following error:
Error: 'Model' object has no attribute '_compile_metrics'
Later I switched to TF 2 - right now running with 2.0.1 - but nothing has changed.

**System information**
- Ubuntu, Debian
- TensorFlow installed from binary
- TensorFlow version from

[2020-01-22 15:50] OverLordGoldDragon commented on #35724
@qlzh727 Indeed, it is from paper 1, whereas Keras' implementation is based on _2_. As noted in my previous reply, 2's source code at the last page uses no scaling, as confirmed with a lookup to [`srng.binomial()`](https://github.com/Theano/Theano/blob/master/theano/sandbox/rng_mrg.py#L896). i.e., Keras' implementation _conradicts the authors'_.

Regarding formula 18, authors mention it as an exam

[2020-01-22 16:08] alanpurple commented on #35977
@ymodak

after update another error came up.
this time, short and brief

[code]

[2020-01-22 16:08] Sahar-Abdelnabi commented on #23698
I was having a similar issue although I made sure that the vocab size is len(words) + 1 and there is no input larger than vocab size-1. I was having a dropout layer before the embedding layer and when I changed the order (embedding layer first) it worked. I am not sure why.

[2020-01-22 16:32] srjoglekar246 commented on #33691
The latter :-). Since it affects a bunch of stuff, the review is taking time. I will ping back on this issue as soon as its in. Thanks for the patience!

[2020-01-22 16:56] mihaimaruseac commented on #36092
This is not a question for this venue as it is not related to Tensorflow code issues. Please consult relevant Python documentation, do Google searches, ask on Stack Overflow, etc.

[2020-01-22 16:56] #36092 closed

[2020-01-22 16:57] mihaimaruseac commented on #36134
Since you are installing from source, can you post the commit hash/branch you are building from?

[2020-01-22 16:58] rachellim commented on #24520
There are two separate issues here. @rodyt, I think you're encountering an issue with datasets with unknown shape + distribution strategy, which we've fixed (#34469) at head. For other people, a temporary workaround while we work on a fix is using `set_shape` if you know the output shapes, as @adriancaruana pointed out.

[2020-01-22 16:59] #35938 closed

[2020-01-22 17:00] allenlavoie commented on #35489
Do you have a fix in mind? I doubt I'll get to this soon, but if you want to make changes I'm happy to discuss/review.

[2020-01-22 17:03] Ryandry1st opened #36136 "TPU Socket Closed"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
Platform:

[2020-01-22 17:03] vilmara commented on #36008
hi @dubey / @byronyi, the system is configured with 2 nodes (each with 4xV100GPU's) for a total of 8xV100-16GB GPU's. I see scaling degradation happens only "across nodes"

[2020-01-22 17:14] dubey commented on #36008
Thanks for the clarification @vilmara.

In general the scaling across nodes may be lower because of lower bandwidth interconnect.  In this case since the model size is not too large it may be possible to tune some parameters to get better performance.

For NCCL, the number of rings and the number of threads per socket may be useful.  I'm not familiar with Horovod tuning.  @byronyi may have more id

[2020-01-22 17:15] mihaimaruseac commented on #36123
We are not maintaining that wheel, I think this should be redirected to Intel.

[2020-01-22 17:18] mihaimaruseac commented on #35795
Please make sure the title is descriptive. I tried replacing it but I'm not sure it matches the error you've encountered

[2020-01-22 17:18] DimiDR commented on #31350
Maybe try this
[Get Started](https://www.tensorflow.org/lite/guide/get_started)
[code]

[2020-01-22 17:53] deluksic commented on #33721
Works for me too! I had a similar problem when using `disable_v2_behavior()`, while it ran correctly without it.

[2020-01-22 18:21] mihaimaruseac commented on #35653
I am unable to reproduce locally. For me the build succeeds (both on master and `r2.1` branch). I don't get `pybind11` generated in two different places:

[code]

Can you please try again on a fresh checkout and record all the commands you run? I'm curious what causes the other pybind to be generated.

[2020-01-22 18:31] #35955 closed

[2020-01-22 18:33] jvishnuvardhan commented on #33247
@fhausmann This was resolved in `tf-nightly`. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/28eb34025ba304b45f2a8bb74c2cd2a4/untitled774.ipynb).

As this was resolved, I am closing this issue. Please feel free to reopen if the issue persists later. Thanks!

[2020-01-22 18:33] #33247 closed

[2020-01-22 18:35] faltinl opened #36138 "Tensorflow 2.0.0 cpu, import error: DLL load failed"
**System information**
- OS Platform and Distribution: x86_64-w64-mingw32/x64 (64-bit) under Win10 x64 (build 18363)
- TensorFlow installed from (source or binary): binary
  1) under Rstudio 1.2.5033 with R 3.6.2 (20191212) & Miniconda3 4.7.12 (Py 3.7.4-64bit)
  2) under conda (since no. 1 failed, see below)
- TensorFlow version: 2.0.0
- Python version: 3.6.10 (under conda)
- Installed using virtu

[2020-01-22 18:38] rachellim commented on #24520
Update: Based on talking to @robieta, keras expects its inputs to have at least known rank (even if dimensions are unknown). So, if the dataset has components with unknown rank, keras will not work.

In some cases, tf.data is not able to statically infer the rank of its outputs (e.g. if you use a py_func), so you have to manually use `set_shape` to tell the dataset what shapes its outputs are, as

[2020-01-22 18:42] gunan commented on #35968
That is correct.
if you install tensorrt, the problem should go away.
But otherwise, TF should continue running.

[2020-01-22 18:42] #35968 closed

[2020-01-22 18:47] mjlbach commented on #35968
Just to clarify, the install instructions for ubuntu 16.04 should be updated; there are several erros, one being that cuda-10-1 is the appropriate cuda package, the other is that  libnvinfer-plugin6=6.0.1-1+cuda10.1 is missing.

[code]

[2020-01-22 18:50] mjlbach commented on #35968
See: https://github.com/tensorflow/docs/pull/1403

[2020-01-22 18:52] gunan commented on #33374
until 2.2 is released, `pip install tensorflow` will not work with python 3.8
Please see https://github.com/tensorflow/tensorflow/issues/33374#issuecomment-571074915

[2020-01-22 18:53] dishkakrauch commented on #36114
Sure! No problem.
Here is it:

import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
#import tqdm
import gc
gc.enable()
import os
import sys
import graphviz
os.environ["PATH"] += os.pathsep + 'C:/Program Files (x86)/Graphviz2.38/bin/'

import tensorflow as tf
import sklearn
from sklearn import *

import matplotlib.pylab as plt
import matplotlib.image as mpimg
im

[2020-01-22 18:55] ymodak commented on #36099
Thanks for the report. Meanwhile you may refer those links from the website.
See https://www.tensorflow.org/lite/convert

[2020-01-22 18:59] frankchn commented on #36094
@Flamefire, thanks for the bug report. I am happy to review your PR, so just create one and assign it to me. Thanks!

[2020-01-22 19:10] jvishnuvardhan commented on #34029
@deaputri This was resolved in `tf-nightly`. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/172a07741aa76b82fa1a128c08e33f5a/untitled775.ipynb).

I am closing this issue as it was resolved. Please feel free to reopen if the issue persists again. Thanks!

[2020-01-22 19:10] #34029 closed

[2020-01-22 19:15] parvizp commented on #34845
@srjoglekar246 Thanks for looking at this -- I suspect your pipeline changes will reduce the graph complexity which why my main challenge.

What version of TF should I use? I tried to use the latest to get the MLIR-based TOCO but `master` of `models` fails, seems to expect `TF 1.X` in https://github.com/tensorflow/models/blob/master/research/object_detection/exporter.py#L20:
[code]

[2020-01-22 19:40] jmhessel opened #36139 "Inconsistent crashing behavior with CuDNN, tensorflow RNNs, and padding"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): v2.1.0-rc2-17-ge5bf8de 2.1.0
- Python version: Python 3.6.8
- CUDA/cuDNN version: CUDA Version: 10.1/cuDNN v7.6.5
- GPU model and memory: GTX Titan X

**Describe the current behavior**

CuDNN has inconsist

[2020-01-22 19:42] jtavrisov commented on #35379
Is this working for anyone. I updated to 2.1 and I no longer get this same error but now I get

TypeError: Input 'filter' of 'Conv2D' Op has type float16 that does not match type float32 of argument 'input'.

I tried this first on my models and then ran the given snippet and got the same deal.

[2020-01-22 20:00] pavithrasv commented on #35490
This is fixed now in : https://github.com/tensorflow/tensorflow/commit/ba8a0c934147fcf2a879f349677fc11676c73835#diff-1d3c0e76cc08b7d6e2e3a6ab89965a5c

[2020-01-22 20:00] #35490 closed

[2020-01-22 20:01] jvishnuvardhan commented on #32869
@mpdn I think this was resolved in `tf-nightly`. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/d30cfe2f0b6a5c3f6b72227378fbdad9/32869.ipynb).

I am closing this issue as it was resolved. Please feel free to reopen if the issue persists again. Thanks!

[2020-01-22 20:01] #32869 closed

[2020-01-22 20:03] rryan commented on #27303
Yea, that's right -- calculating MFCCs requires the DCT, which is implemented using an FFT :-/.

You would need to replace the DCT that it uses with something that uses an RDFT instead of RFFT. Here's a colab showing how to do it and checking for tf.signal compatibility:
https://colab.research.google.com/drive/1C9jyM4CtW2Yn9xsPXt31cZnQuNe7sjU8

I just noticed that the Magenta `_naive_rdft` functio

[2020-01-22 20:06] Chosen-ones opened #36140 "ValueError: Tried to convert 'y' to a tensor and failed. Error: None values not supported."
### System information
2.0.0 Tensorflow version
IDE Spyder(Python 3.7)

### Source code / logs
import sys
import os
from tensorflow.python.keras.preprocessing.image import ImageDataGenerator
from tensorflow.python.keras import optimizers
from tensorflow.python.keras import Sequential
from tensorflow.python.keras.layers import Flatten, Dense, Activation
from tensorflow.python.keras.layers import Co

[2020-01-22 20:17] prpeixoto commented on #22480
@ThomasKlein18 Hy Thomas, that appeared to be my error, however, now as I try to run the program I get the following error:
AttributeError("type object 'h5py.h5.H5PYConfig' has no attribute '__reduce_cython__'")
Any ideas on what it could be? Thank you

[2020-01-22 20:24] tuomassiren opened #36141 "HadoopFileSystem load error: libhdfs.so: cannot open shared object file: No such file or directory"
**System information**
- Linux tutkain 4.19.93-v7l+ #1290 SMP Fri Jan 10 16:45:11 GMT 2020 armv7l GNU/Linux
- Debian 10.2 on Raspberry PI 4+ 4GB

**Describe the problem**
(venv) tas@tutkain:~ $ python -c "import tensorflow as tf;print(tf.reduce_sum(tf.random.normal([1000, 1000])))"
2020-01-22 20:21:52.312444: E tensorflow/core/platform/hadoop/hadoop_file_system.cc:132] HadoopFileSystem load error:

[2020-01-22 20:43] reedwm commented on #35441
Thanks for the example to reproduce! However, when I try running the new example (without changing the x6 and x9 lines to the version), I get the error:

[code]

Can you double check the example? I got that above error in TF 2.0, TF 2.1, and the nightly TF.

Unfortunately no. The fix will only be in TF 2.2 and above.

Thanks for the feedback. Ideally all documentation should conform to the [Google

[2020-01-22 21:06] MichaelKarpe commented on #35785
Hi @rxsang @ymodak,

I tried your suggestion but it didn't change anything. I also tried to make a simple reproducible example but I have now the same error as in the other [issue](https://github.com/tensorflow/tensorflow/issues/34346) about `ImageDataGenerator`. Thus I made a reproducible example using `ImageDataGenerator` with the example from the official TPU guide. Please find the gist [here](

[2020-01-22 21:08] hd1090 commented on #34759
@SalahAdDin You're missing the libnvinfer library found in TensorRT (see [here](https://docs.nvidia.com/deeplearning/sdk/tensorrt-install-guide/index.html#installing)). CUDA-10.1 seems to have loaded fine.

[2020-01-22 21:13] mihaimaruseac commented on #36141
Do you have `libhdf.so` in a searchable location? Is it at the right version?

[2020-01-22 21:17] crccw commented on #33723
Hello gaurav-singh1998, have you verified that it works without tf.distribute.MirroredStrategy()?

[2020-01-22 21:22] klanderson opened #36142 "TF2.0 to 2.1 breaking for tf.image.random_jpeg_quality"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- TensorFlow version (use command below): 2.1.0
- Python version: 3.5

**Describe the current behavior**
I upgra

[2020-01-22 21:48] reedwm commented on #35379
Unfortunately the fix did not make it into 2.1 :(. It will be in 2.2 however, and the fix is already in `tf-nightly`

I'm not sure why the error message is different. Note that `Model.save_weights` still works, just not `Model.save`.

As a workaround, you can call `Model.save_weights`, rebuild the model in fp32, call `Model.load_weights` on the fp32 model then call `Model.save`. But understandably

[2020-01-22 22:06] kierenj commented on #19510
@mashkovtsevlx @garywoodfine am seeing something similar, did either of you get the bottom of this?

[2020-01-22 22:17] jvishnuvardhan commented on #36065
@dbacea The tutorial was to demonstrate transfer learning approach where pretrained weights are used. In that case, `num_train=18609` and `num_val =2326` are sufficient as the number of trainable params are only 1,281. But, in your case, trainable params are 2,225,153 but the `num_train` and `num_val` are of same size. In order to get better val_accuracy, increase number of epochs from 10 to 30 an

[2020-01-22 22:17] #36065 closed

[2020-01-22 22:21] tuomassiren commented on #36141
I do not think so. If that would be the case, it would work as expected, obviously.

The point being, installation instructions at https://www.tensorflow.org/install/pip **do not mention anything** about `libhdf.so`.

Problem with the package, should work out-of-the box without manually installing a missing dependency. Before this is fixed, a **validated** workaround is appreciated.

There's a dup

[2020-01-22 22:22] goldiegadde commented on #34454
yes this issue is fixed with latest tf-nightly. please see the updated [gist](https://colab.sandbox.google.com/gist/goldiegadde/9c8c6b3e324ca6fbe16e8e3c446fb9c0/34454.ipynb)

Updating your code to below should work.
model_loaded = tf.keras.Model(
    inputs=model_l2.input, outputs=[model_l2.get_layer(layer_name).output for layer_name in ["probs", "embeddings"]]
)

[2020-01-22 22:23] #34454 closed

[2020-01-22 22:27] pidajay commented on #35942
The loading works if one saves and loads the model outside the distribution context (i.e outside the with strategy.scope() block). Looks like one is not allowed to save or load models when in a cross device context. Is it safe to assume that from tf 2.1+ one can save and load keras models only outside the distribution context?

[2020-01-22 22:37] goldiegadde commented on #34070
This is fixed with the latest tf-nightly: here is an updated [gist](https://colab.research.google.com/drive/19ICXHeL4tzAN9z1LCi-3Su8l5X2_NhxM?usp=sharing)

[2020-01-22 22:39] jvishnuvardhan commented on #36102
@psunn I ran comparison between your `tensorlfow model` and `tf_lite_model` and the max difference is very low. `Max absolute difference: 2.0861626e-07` is what I got from the code. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/fc3386eb9e40c05c9fe7b5f1ee190cf0/untitled778.ipynb). Thanks!

Please close this issue if it was resolved for you. Thanks!

[2020-01-22 22:49] ebrevdo commented on #35685
This is partly a question for the TF-Agents repo, and partly for Keras (CC @fchollet).  On the TF-Agents side, it's true you need to do a forward pass to create the appropriate Variables.  The easiest way to do this is to take your TF-Agents network objects, and call net.create_variables() on each of them (you may want to pass training=True to this call in case you have batch norm or dropout).

Th

[2020-01-22 22:52] jvishnuvardhan commented on #35879
I am closing this issue as it was resolved. Please feel free to reopen if the issue persists again. Thanks!

[2020-01-22 22:52] #35879 closed

[2020-01-22 23:01] tvlenin opened #36143 "Memory leak at tflite::Interpreter::Invoke()"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): tflite example

[2020-01-22 23:02] Kal213 commented on #35950
I just thought I'd update with the fix in case anyone else is unfortunate enough to experience this!

[I found the fix here.](https://devtalk.nvidia.com/default/topic/1068082/cudnn/cudnn-lstm-is-broken-above-driver-431-60-unexpected-event-status-1-cuda-/)  The gist of it is that LSTM layers are a bit messy with NVIDIA drivers above 431.60.  Downgrading to 431.36 with a clean install fixed the prob

[2020-01-22 23:02] #35950 closed

[2020-01-22 23:04] applied-math-K opened #36144 "makefile fails to execute a.out file"
I am new to TensorFlow. At the moment, I am learning TensorFlow for C code on my Macbook. I follow the instructions by Google and manage to run the 'hello world' in C.

I set the paths on my bash_profile as follows:

export LIBRARY_PATH=$LIBRARY_PATH:/usr/local/tensorflow/lib

export DYLD_LIBRARY_PATH=$DYLD_LIBRARY_PATH:/usr/local/tensorflow/lib.

My makefile is as follow.

tensorlib = -L/usr/loca

[2020-01-22 23:05] shbnm21 commented on #30064
@gadagashwini thank you

[2020-01-22 23:06] Bidski commented on #36116
[code]

This code generates a slightly different error when resizing the ground truth images
[code]
but otherwise this code behaves similarly to what I described above.

Play with the `if` statement conditions in the `scale_output_resolution` function see the different behaviours.

Run the code as `python ./test.py ./train.tfrecord ./valid.tfrecord`.

Here are some links to tfrecord files to test.

[2020-01-22 23:10] jvishnuvardhan commented on #36088
@breadbread1984 I don't see any issue with your code. May be there is some cuda initialization issue. Can you please restart your system and run your code. Also, paste the full trace of the error. Thanks!

[2020-01-22 23:20] mihaimaruseac commented on #32885
@dhumal436 please refer to #36141 and if that doesn't solve your issue please open a new one.

[2020-01-22 23:23] talumbau commented on #35283
I'm glad this has resolved the issue! We are interested in reproducing on our side. Is it possible for you to upload the model?

The new matrix multiply library, ruy, shouldn't be invoked on the LSTM/RNN ops as of yet, so I'm interested in understanding why this fixed your issue.

Also, to clarify, is the following correct:

Old behavior: same inference latency whether or not the app is in focus

[2020-01-22 23:23] mihaimaruseac commented on #36141
Hadoop file system requires additional setup on your system, which can be found on [Hadoop project's page](https://hadoop.apache.org/docs/stable/hadoop-project-dist/hadoop-common/SingleCluster.html)

We cannot document how to install all third party libraries in all operating systems and all environments in the world. The world is not just a "install this one thing and everything must work now" ty

[2020-01-22 23:24] mihaimaruseac commented on #36141
Reopening, as it seems your error is related to #32885, not to wanting to use the Hadoop filesystem

[2020-01-22 23:25] silky commented on #35489
@allenlavoie only fix i had in mind was to not use globs, and just match the path exactly, which may break some compat with people who are using the (as i see it, unintended) glob behaviour.

[2020-01-22 23:28] #35853 closed

[2020-01-22 23:40] mihaimaruseac commented on #35489
But `get_matching_files` is supposed to allow globs.

[2020-01-22 23:40] gowthamkpr commented on #35088
@cmp1 Please let me know if the above comment helped you to resolve the issue. Thanks!

[2020-01-22 23:41] gowthamkpr commented on #35083
I am closing this issue as it has been resolved. Please add additional comments and we can open this issue again.

[2020-01-22 23:41] #35083 closed

[2020-01-22 23:42] ymodak commented on #35849
Logging device placement should print devices (gpu,cpu) used to execute the operations.
See https://www.tensorflow.org/guide/gpu#manual_device_placement
What information is logged for `apply_gradients` op?

[2020-01-22 23:42] mihaimaruseac commented on #35489
Is the documentation for the C++ `GetMatchingPaths` (which Python's `files_io.get_matching_files` ends up calling in the end) wrong?

https://github.com/tensorflow/tensorflow/blob/8ffef7b09555a65174632513069bd87d834c116c/tensorflow/core/platform/file_system.h#L123-L146

[2020-01-22 23:42] gowthamkpr commented on #34426
I am closing this issue as it has been resolved. Please add additional comments and we can open this issue again. Thanks!

[2020-01-22 23:42] #34426 closed

[2020-01-22 23:43] gowthamkpr commented on #35260
@mihaimaruseac Can we close this issue?

[2020-01-22 23:48] mihaimaruseac commented on #35260
I think so. Closing due to no responses from issue opener.

[2020-01-22 23:48] #35260 closed

[2020-01-22 23:51] silky commented on #35489
@mihaimaruseac there's a documentation mismatch

maybe down that far in the call chain globs are okay, but the main api for checkpoints says _path_ *not* "glob".

see - https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/ModelCheckpoint

[2020-01-22 23:53] breadbread1984 commented on #36088
i keep getting the following error

2020-01-23 07:49:01.813219: W tensorflow/stream_executor/platform/default/dso_loader.cc:55] Could not load dynamic library 'libnvinfer_plugin.so.6'; dlerror: libnvinfer_plugin.so.6: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /home/xieyi/.mujoco/mjpro150/bin:/home/xieyi/opt/nccl2/lib:/home/xieyi/opt/dlib/lib:/usr/local/cuda/lib64:

[2020-01-23 00:01] mihaimaruseac commented on #35489
Seems to be a bug in the checkpoint reading code: it assumes end of path is a glob but doesn't check that no globbing characters are used in the path before that.

I have a roadmap to fix all of these filesystem issues but they are pending on [modularizing the filesystem support](https://github.com/tensorflow/community/pull/101) so it will be a while until I get here.

If you have a PR that fixes

[2020-01-23 00:03] silky commented on #35489
@mihaimaruseac no prob; it's not urgent, glad it's on the _path_ to getting fixed :)

[2020-01-23 00:10] mjlbach commented on #35685
@ebrevdo Thanks for the comments! Just to clarify, the *only* thing I'm using from tf-agents is the EpisodicReplayBuffer class, I'm constructing my own tf.keras model using the low-level apis.

[2020-01-23 00:23] rchao commented on #34127
Closing for lack of activity. Please reopen if the issue still exists. Thanks!

[2020-01-23 00:23] #34127 closed

[2020-01-23 00:23] gowthamkpr commented on #35823
@pj1989 I am running into a different error. Please find my gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/9845da51bda0e78f94c142ace16adda3/untitled276.ipynb). Also please use Keras that embedded in Tensorflow as keras has been integrated into Tensorflow.

Thanks!

[2020-01-23 00:29] gowthamkpr commented on #35932
@mrinalsardar Please provide us a minimal sample to reproduce this issue. Thanks!

[2020-01-23 00:51] haozha111 commented on #28485
You need the new MLIR converter to convert models with control flow. Please update your tensorflow version to the latest and then use the new converter(converter.experimental_new_converter = True).
https://github.com/tensorflow/tensorflow/issues/28485#issuecomment-574453673

[2020-01-23 01:00] ymodak commented on #35805
Did you install Microsoft Visual Studio 2015?
See https://www.tensorflow.org/install/pip#1.-install-the-python-development-environment-on-your-system select `Windows`

[2020-01-23 01:06] breadbread1984 commented on #36088
I reinstalled cuda 10.1 and solved the problem. sorry for the false alarm

[2020-01-23 01:06] #36088 closed

[2020-01-23 01:09] jvishnuvardhan commented on #29545
Closing this issue since I understand it to be resolved by updating the warning, but please let me know if I'm mistaken.

The current warning is clearly mentions what to do to save subclass model.
Current Warning message is as follows
`NotImplementedError: Saving the model to HDF5 format requires the model to be a Functional model or a Sequential model. It does not work for subclassed models, beca

[2020-01-23 01:09] #29545 closed

[2020-01-23 01:23] Leslie-Fang commented on #36142
@klanderson  Could you provide a piece of code which to reproduce this issue?

[2020-01-23 01:44] eduardoavila1m commented on #35805
Yes, I've installed Visual Studio and it does not work.

[2020-01-23 01:51] ethereon opened #36146 "tf.function and tf.nest break for valid Mapping instances"
`tf.function` makes invalid assumptions about arguments that are `Mapping` instances. In general, there are no requirements for `Mapping` instances to have constructors that accept `[(key, value)] ` initializers, [as assumed here](https://github.com/tensorflow/tensorflow/blob/v2.1.0/tensorflow/python/util/nest.py#L145).

This leads to cryptic exceptions when used with perfectly valid `Mapping` sub

[2020-01-23 02:59] Leslie-Fang commented on #36142
This commit id
https://github.com/tensorflow/tensorflow/commit/ef3508020e0af36bbe9f5088222778ef3678bc6f
makes the changes.
@klanderson I suspect you need to pass the None in the last shape parameter

[2020-01-23 03:30] #36122 closed

[2020-01-23 04:22] ProNoobLi opened #36147 "What factors influence training time through distributed strategy?"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platf

[2020-01-23 05:10] oanush commented on #36123
@djstrong ,
Can you please check @mihaimaruseac  update on this and redirect to Intel?thanks!

[2020-01-23 05:41] oanush commented on #36140
@Chosen-ones ,
Can you refer solutions in the links and let us know if it helped [link1](https://stackoverflow.com/questions/58261348/valueerror-tried-to-convert-y-to-a-tensor-and-failed-error-none-values-not) and [link2](https://stackoverflow.com/questions/58279628/what-is-the-difference-between-tf-keras-and-tf-python-keras). Thanks!

[2020-01-23 05:42] SahilChachere commented on #32949
Thank you, this worked for me.

[2020-01-23 05:46] oanush commented on #36093
@padoremu ,

Hello you can try installing nightly version with  [!pip install tf-nightly ](https://pypi.org/project/tf-nightly/), it should work fine!

[2020-01-23 06:03] oanush commented on #35657
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-23 06:03] #35657 closed

[2020-01-23 06:03] mrinalsardar commented on #35932
@gowthamkpr here you go:
[tf_sample_input.zip](https://github.com/tensorflow/tensorflow/files/4101475/tf_sample_input.zip)

[2020-01-23 06:10] Robmosh91 commented on #35853
HI, it’s not solved, I still cannot use the custom metric and have no clue why. I don’t want to use it as loss, but as metric.
Can you please help to solve the issue?

[2020-01-23 06:11] #36000 closed

[2020-01-23 06:19] Vishal2188 opened #36148 "Compatibility issue with cudnn 7.0.5 and cuda 9.0"
My source code required tensorflow 1.7.0 with cuda 9.0 and cudnn 7.0.5 version. However when i install cudnn 7.0.5 then my cuda 9.0 version downgraded to 8.0 that arise error during training. While when i install cuda 9.0 and cudnn 7.1.2 then i got following error:

**E tensorflow/stream_executor/cuda/cuda_dnn.cc:396] Loaded runtime CuDNN library: 7102 (compatibility version 7100) but source was c

[2020-01-23 06:26] PalashSharma15 commented on #35376
@gadagashwini do we need to uninstall previous version first?

[2020-01-23 06:43] gadagashwini commented on #35376
@PalashSharma15, In case of multiple versions, Add the desired version path $LD_LIBRARY_PATH

[2020-01-23 07:08] padoremu commented on #36093
@oanush
Unfortunately, that doesn't work for me at all, as in bash, the exclamation mark will substitute the command name with the last command in my history starting by that name - and this is somewhat arbitrary. What was your purpose of the exclamation mark?

If I create a new virtual environment and do `pip install tf-nightly`, it downloads `tf_nightly-1.15.0.dev20190730-cp36-cp36m-manylinux1_x

[2020-01-23 07:19] tuomassiren commented on #36141
Straw man. It's **your** application that requires the 3rd party library by default, out-of-the-box. Not **my** code, system nor environment.

And hell yeah. The world is full of crappy second class open source software with incorrect documentation, non-working sample code and tons of open critical issues.
Resume the tradition, keep up the good work.

Finally we're getting _somewhere_. Not using H

[2020-01-23 07:23] jomoengineer commented on #34219
I just tried release Release 2.1.0 and it still has the issue with the activation_utils.h file where it is needed to change line 43 to:

` return std::signbit(a)`

Also, there were a number of 'printf' errors that required adding <cstdio> to:
  **_./tensorflow/lite/experimental/micro/micro_optional_debug_tools.cc_**

Errors seen:
[code]

After these changes, the code compiled fine.

[2020-01-23 07:31] RomanSteinberg commented on #33913
@omalleyt12 the status of this issue is _awaiting tensorflower_. Is it about you? May be you need to change status or something?

[2020-01-23 07:34] padoremu commented on #27303
@rryan Thank you, that's of great help!

Now I get on my 2.0.0.dev20190731 installation:
`RuntimeError: tensorflow/lite/kernels/strided_slice.cc ellipsis_mask is not implemented yet.Node number 22 (STRIDED_SLICE) failed to prepare.`

I will comment further once I find the time to dig into this, hopefully next week.

[2020-01-23 08:05] rryan commented on #27303
Ah, bummer. I vaguely remembered that `...` in a strided slice was unsupported. If you know the rank you can simply hard-code the dimensions. Otherwise you can replace strided slice with a `tf.slice` (which is much more awkward). Sorry about all the trouble :(.

[2020-01-23 08:08] padoremu commented on #27303
Thank you again for the great and fast support! I will go with the hard coded dimensions for now. Thanks again.

[2020-01-23 08:09] skeydan commented on #36138
If I may add: This issue - DLL not found - looks very similar to the recently closed

tensorflow/tensorflow#35749 and
tensorflow/tensorflow#35618

which were solved by either

- reverting from 2.1 to 2.0
- installing `tensorflow-cpu` explicitly
- installing _Microsoft Visual C++ Redistributable for Visual Studio_

@faltinl tried all of those but none worked. The above screenshot shows the "DLL not

[2020-01-23 08:13] justlike-prog commented on #34706
hey what is the status on this? I proposed (with another account) to work on this issue as a part of a GSoC project but didnt get any answers as for mentorship yet. Anyone has a clue who I could contact directly in this matter?

[2020-01-23 08:33] padoremu commented on #27303
As expected, replacing `[..., :axis_dim]` by `[:, :, :axis_dim]` and `[..., :dct_coefficient_count]` by `[:, :, :dct_coefficient_count]` worked in my case. Thanks! :)

[2020-01-23 08:40] ravikyram commented on #36116
@Bidski

I have tried on colab with TF version 2.1.0-rc2 and i am seeing different error message.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/c726a43c31ad0882f8c06d825e452ec0/untitled589.ipynb). Thanks!

[2020-01-23 08:46] yourtheron commented on #35441
@reedwm I see. Well, for some reason I do not know, we have run a dummy signal through the net as follows before saving the model
[code]
or
[code]

[2020-01-23 08:49] djstrong commented on #36123
Unfortunately, I can't find contact information to Intel.

[2020-01-23 08:52] ravikyram commented on #35633
@shan1322

Any update on this issue please. Thanks!

[2020-01-23 08:55] padoremu commented on #21526
Just wanted to mention that the previously mentioned ops TensorListFromTensor, TensorListReserve, TensorListStack, While are required for an RNN to run. Thanks.

[2020-01-23 08:58] oanush commented on #35906
Issue replicating replicating for[ tf-nightly](https://colab.sandbox.google.com/gist/oanush/d6fd3ccc61a2653c16eeee42e837b4f3/35906.ipynb),thanks!

[2020-01-23 09:01] Bidski commented on #36116
@ravikyram that looks to be the same error message that I reported originally?

[2020-01-23 09:04] gadagashwini commented on #36126
@christian-ri, I tried executing Load CSV data tutorial but it worked without error.
Can you check once and let us confirm. Thanks!

[2020-01-23 09:23] kaibrach commented on #34201
I found a way (workaround) how the `K.function()` can be executed with eager_execution enabled.
I tried this with **TF 2.1 Version**.

We need to import private functions from `tensorflow.python.keras` instead of `tf.keras.backend` to get access to `symbolic_learning_phase()`.

[code]

This workaround is ok for development but take care to enter private functions!
`tf.keras` (Public)
`tf.pyhton.ke

[2020-01-23 09:23] Saduf2019 commented on #36143
Could you please provide us with simple standalone code to reproduce the issue in our environment, Thanks.

[2020-01-23 09:26] gadagashwini commented on #32678
@prpeixoto, Could you open the new issue by providing information asked in [Template](https://github.com/tensorflow/tensorflow/issues/new/choose). Issue could be configuration specific.

[2020-01-23 09:31] dk7998 opened #36150 "Cause: No module named 'tensorflow_core.estimator'"
WARNING:tensorflow:Entity <bound method TopLevelFeature.decode_example of Translation({
    'en': Text(shape=(), dtype=tf.string),
    'pt': Text(shape=(), dtype=tf.string),
})> could not be transformed and will be executed as-is. Please report this to the AutoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: can

[2020-01-23 09:37] andreap9 opened #36151 "Error in pywrap_tensorflow.py after installing tensorflow"
Hi!
I have this error after installing Tensor Flow. I downgraded my python version to python 3.6.9 and it still doesn't work.

ImportError: Traceback (most recent call last):
  File "C:\Anaconda3_x64\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Anaconda3_x64\lib\site-packages\tensorflo

[2020-01-23 09:54] christian-ri commented on #36126
I will tell you when I checked it. Thank you so far!

[2020-01-23 09:59] gadagashwini commented on #36133
@adekability, Issue looks like Tensorflow version incompatibility.
Please provide the standalone code to replicate the reported issue. Thanks!

[2020-01-23 09:59] Sapnil98 opened #36152 "Error while converting to tflite"
Hi I am using Tensorflow 2.0 installed through anaconda
I was trying to convert an RNN model to TFlite and I got an error.
ConverterError                            Traceback (most recent call last)
<ipython-input-9-d0e813d03e06> in <module>
      1 converter=tf.lite.TFLiteConverter.from_keras_model(model)
      2 converter.experimental_new_converter = True
----> 3 tflite=converter.convert()

C:\P

[2020-01-23 10:01] Saduf2019 commented on #36146
Issue replicating in [tf-nightly.](https://colab.research.google.com/gist/Saduf2019/52d668ef566842781e293594fabf27ef/36146.ipynb) Thanks.

[2020-01-23 10:04] gadagashwini commented on #36135
@dodiak, Can you provide the complete code to reproduce the reported issue. Thanks!

[2020-01-23 10:15] Flamefire opened #36153 "MultiWorkerMirroredStrategy training does not work with multiple epochs"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Minor adaption of https://www.tensorflow.org/tutorials/distribute/multi_worker_with_keras
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): RHEL 7.5
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below):2.1.0
- Python version: 3

[2020-01-23 10:17] maxence-drouhin commented on #36099
Hi. Would like to contribute. How can i get write access right? Thanks

[2020-01-23 10:33] oanush commented on #35980
Tried replicating the issue from[ given code](https://colab.sandbox.google.com/gist/oanush/6e224557fe243a2e53b7421176afbfa0/35980.ipynb),it just keeps running without any output.Thanks!

[2020-01-23 10:35] oanush commented on #35763
Issue replicating for [tf-nightly](https://colab.sandbox.google.com/gist/oanush/9bfa54eea4b310293ecb54ce9297556a/35888.ipynb).Thanks!

[2020-01-23 10:39] ravikyram commented on #36139
@jmhessel
I have tried on colab with TF version 2.1.0-rc2 and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/6065ae0d608ed737aa8e373daad06a0b/untitled590.ipynb). Thanks!

[2020-01-23 10:42] oanush commented on #36152
@Sapnil98 m
Please try including the code before tflite=converter.convert()
[code]
For more information refer #35590
If the issue is still not resolved please provide us the complete code snippet used.Thanks!

[2020-01-23 10:48] ravikyram commented on #36148
Please provide details about what platform you are using (operating system, architecture).

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

We ask for this in the issue submiss

[2020-01-23 10:51] louisjc commented on #34070
Great, thanks @goldiegadde !

[2020-01-23 10:51] #34070 closed

[2020-01-23 11:02] AntonioDeVita commented on #36061
Waiting for someone to answer, I tried a trivial solution. I a modified the file micro_test.h at line 95. I removed the %s and I only used "Testing" as argument. Now I have not errors, and what I see is this:

![Immagine](https://user-images.githubusercontent.com/59959289/72979016-bc061680-3dd7-11ea-88b2-5961ca56e98f.png)

Can I consider that as the test was successfully passed?  If so, it seems c

[2020-01-23 11:17] shashank-industrail opened #36154 "Error while converting to quantized tflite."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04.3 LTS
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 2.1.0
- Python version : 3.5.6 anaconda

**Describe the Problem**
I implemented lite-weight custom model based on SSD Paper to detect just one Object, Person.
I want to run that model o

[2020-01-23 11:24] arashb commented on #29910
@jdduke I appreciate it if you share the link to the blog post.

[2020-01-23 11:28] joao-carvalheira commented on #36111
I'm having the same problem. According to the [docs](https://www.tensorflow.org/install/gpu):

 I tried with CUDA 10.2 and the right cuDNN according to their website (
"Download cuDNN v7.6.5 (November 18th, 2019), for CUDA 10.2") and it worked, but then it stopped working and I don't know what I did. The GPU driver's version is higher than 418.x.

Now I'm using CUDA 10.1, cuDNN v7.6.5 and I'm gett

[2020-01-23 11:31] HarrisonWilde commented on #36134
Apologies, I actually got this working after trying with the latest release branch, I was initially trying to build master but your comment made me realise I didn't want to do that.

[2020-01-23 11:31] #36134 closed

[2020-01-23 12:06] yutkin opened #36155 "Memory leak in Tensorflow Graph on CPU"
I have a Face Detector that I'm trying to use for inference in Golang via official [Tensorflow bindings](https://godoc.org/github.com/tensorflow/tensorflow/tensorflow/go). However, I faced a stepwise memory leak that causes the killing of an application due to OOM.

# Screenshot with the leak:
![image](https://user-images.githubusercontent.com/2982775/72971506-d8f01900-3dda-11ea-8b7e-8057879f15de.

[2020-01-23 12:07] lgeiger commented on #35942
@pidajay How would you fit the reloaded model using multiple GPUs then? Could you provide a code example?

[2020-01-23 12:17] ravikyram commented on #36150
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2020-01-23 12:22] Intellicode commented on #35980
Thanks for checking @oanush, I tried the notebook, but I think the notebook environment loads tensorflow before doing the monkey patch:

[code]

This is the same warning I get when I import tensorflow before importing gevent. Also, to reproduce the error you probably need to load an actual tensorflow model (replace `tensorflow_model_dir`)

[2020-01-23 12:30] tensorflowbutler commented on #35115
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-01-23 12:30] tensorflowbutler commented on #35665
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-01-23 12:32] ravikyram commented on #36144
@applied-math-K
Just to verify did you followed the instructions from [Tensorflow site](https://www.tensorflow.org/install/lang_c). Thanks!

[2020-01-23 12:43] christian-ri commented on #36126
@gadagashwini I get the same error for the code used in the tutorial. Do you have any suggestions?
<img width="1351" alt="Bildschirmfoto 2020-01-23 um 13 42 45" src="https://user-images.githubusercontent.com/60178097/72985431-405f9600-3de6-11ea-8a36-8a6261baea14.png">

[2020-01-23 12:55] bilalsoomro opened #36156 "Output from TFLite model converted using experimental converter does not match old converter"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- TensorFlow installed from (source or binary): pip install tf-nightly
- TensorFlow version (or github SHA if from source): 2.2.0-dev20200123

EDIT: I am experimenting with converting the SSD MobileNet V2 models. Using the old converter, the model seems to work without any issues. However, the model converted w

[2020-01-23 12:57] dantengdekaoya commented on #26813
Please reopen. This is a real issue.

[2020-01-23 13:04] ravikyram commented on #36072
@liuxingbaoyu

I have tried on colab with TF version 2.2.0-dev20200121 and i am not seeing any issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/8e3a23bef4ec032c7bd0bdc3e16cb3f0/untitled581.ipynb). Thanks!

[2020-01-23 13:08] dkashkin commented on #27303
@padoremu can you please share the full code snippet that works for you? This workaround  sounds promising!

[2020-01-23 13:11] ravikyram commented on #36151
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2020-01-23 13:17] amahendrakar commented on #35870
Any updates regarding this issue? Thanks!

[2020-01-23 13:18] amahendrakar commented on #35729
Any updates regarding this issue? Thanks!

[2020-01-23 13:18] amahendrakar commented on #35713
Any updates regarding this issue? Thanks!

[2020-01-23 13:20] ahtik commented on #33544
@VitaMusic Knowing how magical path resolutions can be, I'd recommend to give it a go with a few predefined env vars that I have used to make sure bazel build picks the correct envs for tensorflow build. This way I can have multiple VS and CUDA versions installed in parallel (Win10).

Adjust the following vars to match your env and try again with TF 2.1. Also ensure your `C:\Program Files (x86)\Mi

[2020-01-23 13:24] andreap9 commented on #36151
I am using Windows 10 and I have installed TensorFlow ( Version: 2.2.0.dev20200121) using the command 'pip install tf-nightly' in the Anaconda Prompt . The error appears when I import tensor flow:

import tensorflow
Traceback (most recent call last):

  File "C:\Anaconda3_x64\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tens

[2020-01-23 13:24] andreap9 commented on #36151
I am using Windows 10 and I have installed TensorFlow ( Version: 2.2.0.dev20200121) using the command 'pip install tf-nightly' in the Anaconda Prompt . The error appears when I import tensor flow:

import tensorflow
Traceback (most recent call last):

File "C:\Anaconda3_x64\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in
from tensorflow.python.pywrap_tensorflow_internal

[2020-01-23 13:27] liuxingbaoyu commented on #36072
@ravikyram
Sorry, I don't know why, but it does happen on my computer, is there any good way? Thank you.

[2020-01-23 13:34] Sam-songchen commented on #15751
how to solve the problem,Does anyone have a solution

[2020-01-23 13:38] ahtik commented on #36132
Reported compute capability of 7.5 for 1660 Ti is correct.

GeForce GTX 1660 Ti is built on Turing TU116-400-A1 and CUDA reports it's compute capability to be 7.5, although it's one of the very few GPU-s that have 7.5 capability but *do not* have Tensor Cores, go figure... :-)

You can also safely switch now to tf 2.1.0 final, it's built with CUDA 10.1.

If you still want to have fun building from

[2020-01-23 13:44] padoremu commented on #27303
@dkashkin My python file has 350 lines of code, so I wouldn't want to paste it. Is it allowed to attach a python file as a TXT file?

[2020-01-23 13:56] mdanatg commented on #34433
This should now be fixed at head. With the pip package from source, running code_warning_py38.py should no longer print a warning.

[2020-01-23 13:56] #34433 closed

[2020-01-23 13:56] brian1985 commented on #35988
It works now. I am not sure what caused the issue but I believe it was somehow related to Pycharm. I closed the program, restarted Pycharm AND then closed the Ipython terminal at the bottom. After that I assume it forced Pycharm to do something because it then worked.

[2020-01-23 14:01] #35713 closed

[2020-01-23 14:16] ashcrok commented on #35988
I have switched temporarily to TF-CPU. I will re-switch to GPU in the following days and post here an update.

[2020-01-23 14:16] juskuz commented on #36132
Thanks for answer and hints.
I just tried tf 2.1.0rc0 and it works with MaskRCNN (in contrast to 2.1.0) so building from source is not necessary for me now.

[2020-01-23 14:19] karan1210 commented on #8654
**AttributeError: module 'tensorflow' has no attribute 'layers'** means that tensorflow has not this kind of any command in that. it might have two cases.

1. your syntax may wrong. (for example with new update in tensorflow syntax of layers may change)
 in that case syntax is : `tf.keras.layers.Layer`  for tensorflow 2.1

2. If your syntax is right then you might have installation problem or path

[2020-01-23 14:21] dkashkin commented on #27303
@padoremu I'd hugely appreciate if you can create a public gist on Github and post a link to it. Thank you!

[2020-01-23 14:30] yutkin commented on #36155
Test this in Python and got the memory leak too .

Look at the spike at the end:
![image](https://user-images.githubusercontent.com/2982775/72993142-eec70380-3e05-11ea-9f6f-49f5b1c231a4.png)

Python code:
[code]

[2020-01-23 14:33] cgebe commented on #30653
Is there a simper way to access raw values?

In my case i had to:

[code]

on top of calling tf.py_function.

This looks a bit circuitous.

[2020-01-23 14:35] padoremu commented on #27303
@dkashkin Thanks for the hint. There you go: [public gist](https://gist.github.com/padoremu/8288b47ce76e9530eb288d4eec2e0b4d)

I haven't compared the output to that of the TF functions yet though. The file also contains other test functions for problems with TF / TFLite in the context of audio processing, as described in the file header.

[2020-01-23 14:56] cgebe commented on #32842
https://github.com/tensorflow/tensorflow/issues/30653

[2020-01-23 15:01] Flamefire commented on #36094
Ok I opened a PR with the class itself. I'll change the tests once the general approach is accepted. I don't see why it won't but I don't want to waste time if something significant needs changing.

[2020-01-23 15:34] rafariva commented on #34953
its the same...

![image](https://user-images.githubusercontent.com/26292862/72998480-e6ea6d80-3dcb-11ea-9ce9-184290c71b76.png)

[2020-01-23 15:36] brandonbell11 commented on #35852
Having the same problems. Hope this is resolved soon

[2020-01-23 15:54] PalashSharma15 commented on #35376
Okay Thanks

[2020-01-23 16:04] Flamefire commented on #32817
@Xiaohui-Z I can also confirm that the issue is not solved. Using the example code from the TF docs still produces the issue:

[code]

I noted that this only happens during the first iteration where the total count seems to be unknown. This is odd too because the `numExamples` in the `statistics` key of the dataset_info.json is set correctly.

[2020-01-23 16:30] git-hamza commented on #30249
Can you please post your solution as well, i am facing the same problem.

[2020-01-23 16:32] srjoglekar246 commented on #34845
I think that makes sense. Sorry about the weirdness of this :-/

[2020-01-23 16:35] mihaimaruseac commented on #36141
Can you use TF 1.15 or TF 2.1 (or TF 2.0) instead of TF 1.14?

See #32885.

[2020-01-23 16:46] rutrilla commented on #35194
Hey, is there any news on this issue? Thanks!

[2020-01-23 16:48] Flamefire commented on #33531
I can verify this. I independently reported https://github.com/tensorflow/tensorflow/issues/36153 which seems to be the same issue. I haven't seen an influence of the accuracy metric though and it does happen when using a single node and multiple GPUs too. It does NOT happen when using a single GPU only. It does happen when using 2 nodes with 1 GPU each.

I tried the code posted here but get multi

[2020-01-23 17:01] lamberta commented on #36099
Thanks. Please submit a pull request to the repo and someone will review. See the TF contributor guide for instructions: https://www.tensorflow.org/community/contribute

[2020-01-23 17:07] Chosen-ones commented on #36140
Thank you, but I removed ".python." to the imports and now It work. However, the accuracy don't rise from 0.5 in the validation phase. Do you know what it happen?

[2020-01-23 17:29] sw1sh commented on #24364
Hey. Any updates on this? I was looking for a way to efficiently inverse a block matrix. Seems like a way to go is having LinearOperator support anti diagonals, and having LinearOperatorBlockAntiDiag  with LinearOperatorBlock additional to LinearOperatorBlockDiag classes.

[2020-01-23 17:30] echu87 opened #36160 "Op Request"
**System information**
- Windows 10
- TensorFlow installed from source:
- TensorFlow version 2.1 (cpu)

[code]
Also, please include a link to a GraphDef or the model if possible.
https://github.com/arthurflor23/handwritten-text-recognition/blob/master/src/network/model.py (Flor implementation, not Bluche or Puigcerver)

[2020-01-23 17:31] namitajadhav opened #36161 "Logic Error in memory planner"
Host OS Platform and Distribution
NAME="Ubuntu"
VERSION="18.04 LTS"
ID=ubuntu
PRETTY_NAME="Ubuntu 18.04 LTS"
VERSION_ID="18.04"
Python versionL 2.7.15+
Target platform : K64F

Describe the problem
I am trying to deploy a GRU model on the ARM Cortex M board(K64F). During memory allocation of the tensor, I get the following error message. I don't understand the error.
It would be quite helpful if so

[2020-01-23 17:33] bjacob commented on #35283
Could you please try the following (With ruy. So in this experiment, do NOT build with `--define=tflite_with_ruy=false`):

Edit this line:
https://github.com/tensorflow/tensorflow/blob/e6983d538f140552d18fff6377a80c45236f1e36/tensorflow/lite/experimental/ruy/wait.cc#L66

increase the number of milliseconds here, change the current value 2 to something like 20 instead. does this help?

[2020-01-23 17:40] prpeixoto opened #36162 "Error importing tensorflow"
**System information**
- My code has been custom made
- Windows 10
- TensorFlow installed from pip
- TensorFlow version 2.1.0
- Python version 3.7
- h5py version 2.10

**Brief Description**
I am part of a team that develops a standalone software for Windows that encountered an error when trying to import TensorFlow.
The software, called "Hera", is developed in Python and we are now trying to use a

[2020-01-23 17:41] prpeixoto commented on #32678
Of course, just did it, https://github.com/tensorflow/tensorflow/issues/36162
Thank you

[2020-01-23 17:48] datomnurdin commented on #24835
How about Mac?

[2020-01-23 17:57] VitaMusic opened #36163 "undeclared inclusion(s) in rule when build from source"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): RHEL 7.7
- TensorFlow installed from (source or binary): source
- TensorFlow version: v2.1.0-rc2
- Python version: intel 3.6.9
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source): 0.29.1
- GCC/Compiler version (if compiling from source): 7.3
- CUDA/cuDNN version: 10.0 or 10.1 (

[2020-01-23 17:59] #35430 closed

[2020-01-23 18:06] lerobitaille opened #36164 "Memory leaks when doing a random tf.op on a previously converted to NumPy Tensor in TF2.1"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Nope
- TensorFlow installed from (source or binary): binary (docker image)
- TensorFlow version (use

[2020-01-23 18:17] ymodak commented on #35358
Closing this issue since we are already tracking this with #24520 Thanks!

[2020-01-23 18:17] #35358 closed

[2020-01-23 18:37] #35335 closed

[2020-01-23 18:39] ymodak commented on #36062
It can be a good idea to raise this issue on [tensorflow/models](https://github.com/tensorflow/models/issues) repo.
Since we have https://github.com/tensorflow/models/tree/master/research/object_detection hosted there. Thanks!

[2020-01-23 18:39] #36062 closed

[2020-01-23 18:50] pavithrasv commented on #36048
Hi @breadbread1984, the labels and predictions are expected to be at least 2D for the metric: https://www.tensorflow.org/api_docs/python/tf/keras/metrics/MeanSquaredError?version=nightly#update_state

y_true: Ground truth values. shape = [batch_size, d0, .. dN].
y_pred: The predicted values. shape = [batch_size, d0, .. dN].

[2020-01-23 18:50] #36048 closed

[2020-01-23 18:51] gowthamkpr commented on #36083
Yes, I tried running on colab notebook, I ran into the error too. Here is my [gist](https://colab.research.google.com/gist/gowthamkpr/85159b9cdabb3190d1825d6991af04e6/tensorboard_in_notebooks.ipynb)

[2020-01-23 18:56] sirajbb opened #36166 "Tensorflow issue"
I am getting this error when I run in PyCharm

Using TensorFlow backend.
Traceback (most recent call last):
  File "C:\Users\Siraj\PycharmProjects\cnn\venv\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 18, in swig_import_helper
    fp, pathname, description = imp.find_module('_pywrap_tensorflow', [dirname(__file__)])
  File "C:\Users\Siraj\PycharmProjects\cnn\venv\lib\imp.py", li

[2020-01-23 19:18] jvishnuvardhan commented on #32532
@daviddiazvico Are you raising any PR to update the code and docs? Thanks!

[2020-01-23 19:18] mihaimaruseac commented on #36138
There are many DLLs that are loaded and depending on which one fails to load the solution is different. It would be great if we have the DLL name listed in the issue.

[2020-01-23 19:19] mihaimaruseac commented on #36166
Please fill in the issue template and use ` ``` ` around code and error blocks.

[2020-01-23 19:24] dishkakrauch commented on #36114
@gadagashwini any suggestions?

[2020-01-23 19:25] jvishnuvardhan commented on #32911
@alibeyram I am closing this issue as it is intended behavior. If your use case require additional features, then please raise new issue as a `feature request. Thanks

[2020-01-23 19:25] #32911 closed

[2020-01-23 19:28] Brayden1000 opened #36167 "Help! I have an issue when importing TF!"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
no, it is custom code but I did not write it https://medium.com/swlh/nvidia-jetson-nano-custom-object-detection-from-scratch-using-tensorflow-and-opencv-113fe4dba134 I got it from here and the TF conversion script
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Window

[2020-01-23 19:29] gowthamkpr commented on #36004
@Joshuaalbert I tried running the code above in colab but ran into an error. Please take a look at it [here](https://colab.sandbox.google.com/gist/gowthamkpr/2cf51a1edacf960ff35581392bebd515/untitled277.ipynb) and let me know if you are facing the same issue. Thanks!

[2020-01-23 19:39] pavithrasv commented on #32911
In TF 1.x we had different loss functions in `tf.losses` and `tf.keras.losses`, we unified them in TF 2.0. We went the `tf.keras.losses` way for the functions where the inputs are expected to be at least 2D and we mean across the last dimension.

[2020-01-23 19:39] skeydan commented on #36138
Yeah! Do you know a good way of getting it, apart from adding a print statement to line 342 of `imp.py` (which might be a way though; and shouldn't require admin rights I guess [[but not sure as myself I'm not on Windows]])

[2020-01-23 19:40] karmel commented on #35650
@kyao -- Keras supports ndarray, but we have to check and handle a variety of types. It's likely that the Sequence registration is throwing off some of these checks. @tomerk will take a look, but it may be that you are best using the raw ndarray.

[2020-01-23 19:58] miaout17 commented on #33564
(I'm sorry for the delay -- Missed these message due to my notification settings)

Did you run into any real problems with this issue on iOS devices?
If I understand correctly, [MTLCreateSystemDefaultDevice](https://developer.apple.com/documentation/metal/1433401-mtlcreatesystemdefaultdevice) returns a reference to the preferred default Metal device object, so it's not really creating multiple dev

[2020-01-23 20:00] rchao commented on #35799
@faustomorales, would you be open to send out a PR with your modification that fixes the problem? Thanks in advance.

[2020-01-23 20:08] maxiwelian opened #36168 "@tf.custom_gradient does not behave as expected when used with @tf.function (for 2nd order derivatives)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04

- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 2.2.0-dev20200123 (observed in other versions)
- **Python version**: 3.7.6

- **CUDA/cuD

[2020-01-23 20:31] reedwm commented on #35441
With your second code sample, with `TUNet._set_inputs(x)`, I was able to get the example to work. Once I replace `x6` and `x9` though, I get a different error on the `TUNet.summary()` line. If I comment the summary line out, I can reproduce your original error in TF 2.0 ("A `Concatenate` layer requires inputs with matching shapes..."). However, I cannot reproduce in TF 2.1. Therefore, I'm assuming

[2020-01-23 20:31] #35441 closed

[2020-01-23 20:37] johngrabner commented on #20698
I am not finding documentation for feeding models with multiple inputs with different dimensions with tf.data.
The above exchange leaves me still struggling for an understanding on feeding such models.  May I asked for clarification?

[code]
I can use the generator directly, but my goal is to move the  generator to a full tf.data pipleline, but I am missing something fundamental to get started.

T

[2020-01-23 20:41] thekillertoaster commented on #33442
Can confirm i'm getting the same problem with train.py

[2020-01-23 20:58] dubey commented on #35878
I'm not sure but I think this could be originating from https://github.com/tensorflow/tensorflow/blob/4c9f77709aa612058434d91984e0b7b7e3ef5774/tensorflow/core/nccl/nccl_manager.cc#L51.

Can you rerun with the [`NCCL_DEBUG`](https://docs.nvidia.com/deeplearning/sdk/nccl-developer-guide/docs/env.html#nccl-debug) environment variable set to `INFO`?

[2020-01-23 20:59] mihaimaruseac commented on #36167
This issue shows up in multiple places #36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

No such place mentions which DLL fails or differentiates from the others.

[2020-01-23 21:01] Brayden1000 commented on #36167
Yeah I've seen that it had been mentioned a lot of times any solutions that you have found or no?

[2020-01-23 21:05] hdpklm commented on #35070
this link is not available

[2020-01-23 21:18] aalugore commented on #33184
I am also seeing this while using TF2.1 and TensorRT 7. Not sure where this should be reported, but maybe someone here knows. Here's what mine looks like:
`2020-01-23 21:07:28.087833: I tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op.cc:736] Building a new TensorRT engine for StatefulPartitionedCall/BatchMultiClassNonMaxSuppression_1/map/while/MultiClassNonMaxSuppression/ClipToWindow_87/TRTE

[2020-01-23 21:30] mihaimaruseac commented on #36167
There are at least 3 possible scenarios:

1. You need to install the MSVC 2019 redistributable
2. Your CPU does not support AVX2 instructions
3. Your CPU/Python is on 32 bits
4. There is a library that is in a different location/not installed on your system that cannot be loaded.

[2020-01-23 21:43] saitama8mychicken commented on #30397
hi.
You are facing this problem because your output dimension of placeholder(60000, 10) do not matches the actual output(60000, 1) dimension .
Rather you can try changing your actual output values to categorical by the following code, just after loading the data and make sure to import to_categorical from keras.utils.

y_train = to_categorical(y_train)
y_test = to_categorical(y_test)

Problem solv

[2020-01-23 21:44] mdanatg commented on #36146
It looks like `tf.nest` is overly permissive with `Mapping` subclasses, because the contract of `Mapping` does not seem to specify an interface for constructors. Users may accept key-value pairs, **kwargs or just about anything else and they'd still have a valid Mapping. Moreover, detecting how to properly use that constructor is extremely difficult in Python.

The correct solution is either to on

[2020-01-23 21:44] jvishnuvardhan commented on #36069
@ianfhunter Can you please provide simple standalone code for faster resolution? You could use any public data. Thanks!

[2020-01-23 21:45] ymodak commented on #36139
One of the requirement to use cuDNN implementation of GRU layer is that `Inputs are not masked`
See https://www.tensorflow.org/api_docs/python/tf/keras/layers/GRU
Therefore you may want to set `mask_zero=False` or use CPU implementation.
Thanks!

[2020-01-23 21:48] Joshuaalbert commented on #36004
I fixed the error in the colab. My bad, I placed the session in the wrong location.

[2020-01-23 21:51] yhliang2018 commented on #32557
The error disappears in latest tf-nightly by running your example [here](https://colab.research.google.com/drive/1ayucxfWWYFf50jNlo3bvGP01u9iZtV3X?usp=sharing)).

@netskink Can you help to verify it with tf-nightly? Thanks.

[2020-01-23 21:52] suphoff commented on #36161
Invalid lifetime indicates that the tensor is either never used as an input to an operation or as an output of an operation (or used as model input/output tensors).
Can you retry with the top of tree version of TF - at the very least you will get better error reporting on invalid lifetime.
As a workaround you may be able to force a valid lifetime by adding the tensor as an input or output to the m

[2020-01-23 21:57] jvishnuvardhan commented on #36016
@aboerzel Can you please share the keras model. I could not access the model from your links. Thanks!

[2020-01-23 22:04] mihaimaruseac commented on #36004
By "the error" do you mean the double free/corruption or just the error @gowthamkpr mentioned?

If the double free/corruption is fixed, can we close?

[2020-01-23 22:12] ymodak commented on #36097
Your code snippet executes successfully in google colab. Can you create virtual env and use Python 3.4–3.7 to see if the issue persists? Thanks!

[2020-01-23 22:16] jmhessel commented on #36139
Thanks for the reply! Is it really the case that CuDNN RNNs don't support masking in any capacity? It seems like they behave properly in some cases (e.g., the first sequence in the example I gave) but not in others. But, even if they don't support masking at all, then shouldn't there be a check in tf.keras that disables CuDNN's RNNs if you are using masking, rather than failing silently? Am I unde

[2020-01-23 22:18] ymodak commented on #35989
This has been fixed with https://github.com/tensorflow/tensorflow/commit/b8f3b2481ffe60f69ee385ee98659c70be8b02f8#diff-8a050116d943251fa084fd5be82feb2e
Thanks!

[2020-01-23 22:18] #35989 closed

[2020-01-23 22:19] jmhessel commented on #36139
#23269 seems to suggest that there is CuDNN functionality for masking --- it looks like one just needs to convert the padding tensors into sequence lengths. I suspect this is being done internally given that the all-mask sequence does return an all-zero vector for the working example.

[2020-01-23 22:29] ymodak commented on #35923
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-23 22:29] #35923 closed

[2020-01-23 22:44] gowthamkpr commented on #36004
Yes This error has been fixed @mihaimaruseac I am closing this issue.

[2020-01-23 22:53] manivaradarajan commented on #36083
Sorry you're having trouble.

Can you please run the diagnose_tensorboard.py script (link below) in the same
environment from which you normally run TensorFlow/TensorBoard, and
paste the output here?

https://github.com/tensorflow/tensorboard/blob/master/tensorboard/tools/diagnose_tensorboard.py

[2020-01-23 23:00] suphoff commented on #34719
@RafayAK : FYI: Docker files for creating your own images are now in tensorflow/tools/dockerfiles/dockerfiles

[2020-01-23 23:02] gowthamkpr commented on #35980
Looks like an error in the environment itself. Can you try this in a new virtual environment and let me know if you are facing the same issue?

[2020-01-23 23:11] yhliang2018 commented on #34592
This issue is fixed in latest tf-nightly. Close this for now. Feel free to reopen it if needed.

[2020-01-23 23:11] #34592 closed

[2020-01-23 23:13] goldiegadde commented on #33178
Thanks @Tetragramm . @algrmur please let us know if your issue has been fixed and we can close this issue.

[2020-01-23 23:13] goldiegadde commented on #35835
@weihnachten033 @sspohrer this PR has been merged 2 days ago, so it should be availabe in the latest tf-nightly. It is not in TF 2.1.0 and will be available in the next TF release.

[2020-01-23 23:14] jvishnuvardhan commented on #35885
@suha-glal Did you follow @gargn's suggestion in converting the model? Please close the issue if it was resolved. If not, please share a standalone code to reproduce the issue. Thanks!

[2020-01-23 23:21] jvishnuvardhan commented on #35678
I am closing the issue as it was resolved. Please feel free to open it if the issue persists again. Thanks!

[2020-01-23 23:21] #35678 closed

[2020-01-23 23:27] gowthamkpr commented on #35860
The error states that

May be its an error with the configuration itself.

[2020-01-23 23:38] yomcoding commented on #36083
### Diagnostics

<details>
<summary>Diagnostics output</summary>

[code]

</details>

### Suggestion: Fix conflicting installations

Conflicting package installations found. Depending on the order of
installations and uninstallations, behavior may be undefined. Please
uninstall ALL versions of TensorFlow and TensorBoard, then reinstall
ONLY the desired version of TensorFlow, which will transitivel

[2020-01-23 23:42] manivaradarajan commented on #36083
Thanks. It looks like you have a polluted Python environment with conflicting tensorboard versions. See your diagnostic output above.

Can you please try with a clean Python virtualenv? I'm going to close this because this is an installation issue and not an underlying tensorboard issue.

Please reopen if you find an issue with tensorboard.

[2020-01-23 23:42] #36083 closed

[2020-01-23 23:44] impjdi commented on #33564
Yeah, we changed it from C-compatible to ObjC-compatible, because we didn't foresee Swift usage.  I think it's fine to use `void*`.

[2020-01-23 23:48] jdduke commented on #35807
@miaowang14 what is the expected behavior here?

[2020-01-23 23:59] impjdi commented on #36075
Yeah, the major reason for OpenGL ES 3.1 was for compute shaders & SSBO.   I would just comment out the version check and see whether things work :P

[2020-01-24 00:11] boxerab commented on #36075
Thanks, @impjdi

[2020-01-24 00:11] #36075 closed

[2020-01-24 00:16] ffriande opened #36169 "Can't run TensorFlow Model Benchmark Tool"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Linux Ubuntu 18.04
- Mobile de

[2020-01-24 00:26] jvishnuvardhan commented on #35750
@SumNeuron Can you please provide simple standalone code to reproduce the issue? Thanks!

[2020-01-24 00:37] coert commented on #35672
I did some more digging. I believe the error only occurs when you use load_model in combination with model_to_estimator. So it seems something is not loaded properly. Here's the example:

[code]

[2020-01-24 01:06] Joshuaalbert commented on #36004
@mihaimaruseac  @gowthamkpr please reopen this issue, as the problem is not resolved. The colab notebook that gow shared runs now that I fixed the code to do as I intended. But, please reread the issue report again. I said this is a non-deterministic problem. That is, it occurs in roughly 50% of jobs that I run, when they are run with identical input parameters.

[2020-01-24 01:18] mavengences commented on #35968
Installing tensorflow-gpu==2.0 worked for me!

[2020-01-24 01:26] applied-math-K commented on #36144
Yes! I followed the instructions from Tensorflow site.

[2020-01-24 01:30] lsy323 commented on #26278
Hi @ppwwyyxx ,

May I ask why the expected output is
[code]

I executed your code:
[code]

The "resize" tensor is:
[code]
So the cropped tensor is:
[code]

Actually, the output above makes sense to me. I'm wondering why this is different from the expected result in your original post. Would you please give me a brief explanation on this?

Thanks so much and happy new year!

[2020-01-24 01:51] nectario commented on #36000
For those interested the issue is raised here:

[#483 TF Hub ](https://github.com/tensorflow/hub/issues/483)

[2020-01-24 02:09] ckkuang commented on #35942
Loading and saving keras models inside a distribution strategy scope as TF SavedModel / Checkpoint format is supported and should work as expected. However loading .h5 format model inside a strategy scope is not yet supported.

However as mentioned in one of the early thread ([#33424](https://github.com/tensorflow/tensorflow/issues/33424)), loading a SavedModel / Checkpoint doesn't restore the opt

[2020-01-24 02:21] dbonner opened #36170 "Build fails with messages including "undefined reference to symbol 'acos@@GLIBC_2.2.5' ", "Linking of rule '@flatbuffers//:flatc' failed""
**System information**

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): Attempting to build from source
- TensorFlow version: 2.1.0 (attempting to build from master)
- Python version: 3.8.0
- Installed using virtualenv? pip? conda?: virtualenv
- Bazel version (if compiling from source): 1.2.1
- GCC/Compiler version (if compili

[2020-01-24 02:26] dbonner commented on #34433
I can't test the resolution until I build tensorflow for python 3.8.0.  Unfortunately my build is failing (see issue #36170 )

[2020-01-24 03:07] dbonner commented on #36170
After googling of this error, it sounds like there is a missing '-lm' flag.  However, I don't know how to incorporate this flag in to  the source.

[2020-01-24 03:25] Brayden1000 opened #36172 "AttributeError: module 'dataset_utils' has no attribute 'int64_list_feature'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
no, it is code pulled off a website
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10 x64
- TensorFlow installed from (source or binary): pip install tensorflow
- TensorFlow version (use command 2.1.0
- Python version: 3.7
- CUDA/cuDNN version: 10.1
- GPU mod

[2020-01-24 03:32] PiyushDatta commented on #29178
@alanhdu Hi, I've tried this on tensorflow 2.1 and tf-nightly and haven't got this issue. Can you please check on your end?

[2020-01-24 04:05] mjlbach commented on #35968
The solution isn't to downgrade tensorflow (there is no problem with tensorflow 2.1, just the install docs). Install the missing library:

[code]
There is a PR to fix the docs.

[2020-01-24 04:17] netskink commented on #32557
I’ll try tomorrow.  Many thanks.

On Thu, Jan 23, 2020 at 16:51 Yanhui Liang <notifications@github.com> wrote:

--
Rocking the roll like a natural man!

[2020-01-24 04:21] ashish010 commented on #24828
For me, I had the same problem because my server was being used by multiple devices so there wasn't enough memory to run the code on the dataset.

Some solutions can be to free some memory and reduce size of the dataset.

[2020-01-24 05:05] ravikyram commented on #35665
@SinghB

Any update on this issue please. Thanks!

[2020-01-24 05:08] sumit0309 commented on #22641
I am also facing same issue.

[2020-01-24 05:23] shauryad15 commented on #35389
@impjdi any update?

[2020-01-24 05:23] lindong28 commented on #34346
Hi everyone, we have pushed a commit [1] which place all PyFuncOp on the local host's address space (defined by job/replica/task) if ops.executing_eagerly_outside_functions() returns True. This change should be able to fix the bug for this issue.

The patch should be included in TF 2.2.0 which is scheduled to have branch cut on 2/26.

[1] https://github.com/tensorflow/tensorflow/commit/7bfb8380a7c

[2020-01-24 05:38] impjdi commented on #35389
I'm not familiar with the object detector, but the post clearly states that it's related to quantization.  If you inspect your network, you can see it has FakeQuant ops everywhere.  Those are not compatible with GPUs as mentioned before.  Try to get a hold of the original float model.

[2020-01-24 05:42] RafayAK commented on #34719
@suphoff Thanks! I'll check it out

[2020-01-24 05:46] gunan commented on #36138
What is your CPU make and model?
Also I see that you installed through anaconda, adding @jjhelmus to see if there are any known issues there.

[2020-01-24 05:46] gunan commented on #36167
Could you share your CPU make and model?

[2020-01-24 05:52] dbonner commented on #36170
I was able to get the build to continue by doing the following:
[code]
After the line "linkstatic = 1", add this line:
[code]
@Saduf2019 please let me know if this is the right thing to do.
All the best,
Dan

[2020-01-24 05:53] ravikyram commented on #36151
What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements).Make sure to download the [latest microsoft visual c++ redistributable from here.](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads).Make sure you update environ

[2020-01-24 06:06] ravikyram commented on #35983
@patrikohlsson

Can you please go through #15213 and see if it helps you. Thanks!

[2020-01-24 06:12] dbonner commented on #35115
I encountered this exact same error building master (2.1.0), cuda 10.1, cudnn 7.6.5, and tensorrt support with python 3.8 using the specified bazel 1.2.1.
I am currently running a new build, this time using the [https://github.com/tensorflow/tensorflow/issues/35584#issuecomment-570836764](workaround) mentioned earlier in order to build with bazel 0.26.1.
I'll write another comment to update as to

[2020-01-24 06:37] gunan commented on #36138
From what I can tell, this CPU does not have AVX instruction set. That is
the cause of your problem. You can build TF from source to use it, however
prebuilt binaries will not work for you.

On Thu, Jan 23, 2020, 10:27 PM Leo Faltin <notifications@github.com> wrote:

[2020-01-24 06:41] ChetanRajput opened #36174 "UnknownError: Failed to get convolution algorithm."
**System information**

- OS Platform and Distribution : Windows 10
- TensorFlow version: tensorflow 2.0.0
- Python version: Python 3.7.6
- Installed using virtualenv? pip? conda?: conda
- CUDA/cuDNN version: cuda10.0_0 / cudnn 7.6.5
- GPU model and memory: RTX 2060 - 6GB

**Description of problem**
UnknownError: Failed to get convolution algorithm. This is probably because cuDNN failed to initial

[2020-01-24 06:46] ChetanRajput commented on #36174
As per best of my knowledge versions are compatible so please have a thorough idea before mentioning the issue of incompatibility of versions.

[2020-01-24 06:49] nauyan commented on #36059
@ravikyram @ymodak any update?

[2020-01-24 07:07] ChetanRajput commented on #36174
**Below code solved the issue :**

import tensorflow as tf
gpus = tf.config.experimental.list_physical_devices('GPU')
if gpus:
    try:
        for gpu in gpus:
            tf.config.experimental.set_memory_growth(gpu, True)

    except RuntimeError as e:
        print(e)

[2020-01-24 07:07] #36174 closed

[2020-01-24 07:19] ChetanRajput opened #36175 "Low GPU usage while executing CNN with keras (tf backend)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow version (use command below): tensorflow 2.0.0
- Python version: Python 3.7.6
- CUDA/cuDNN version: cuda10.0_0 / cudnn 7.6.5
- GPU model and memory: RTX 2060 - 6GB

**Describe the current behav

[2020-01-24 07:23] drscotthawley commented on #1757
For future reference: Switching to Tensorflow 2 without changing other parts of the code can result in this behavior.
When I was getting this error earlier  today (with plenty of memory left), it's because I pulled Tensorflow 2, when the code was intended for Tensorflow 1.14.  Switching to the proper TF version made the OOM errors go away and the code trains well.
(will have to update other parts

[2020-01-24 07:32] faltinl commented on #36138
Tnx. That's raising several questions for me:
- From which TF versions onwards has the AVX instruction set been used? I have used TF 1.8,
  Reticulate 1.10 & Keras 2.1.6 until 2 weeks ago without any (for me) noticable restrictions.
- Which ones are the 'prebuilt binaries', i.e. in which way does that restrict my future work with NNs?
- How would I install TF from source? How could I circumvent th

[2020-01-24 07:41] dbonner commented on #35115
Yes, you still need to use bazel 0.26.1 to build master (2.1.0), cuda 10.1, cudnn 7.6.5, and tensorrt support with python 3.8.  Using bazel 0.26.1 my build completed successfully.

[2020-01-24 08:13] ahtik commented on #35115
@dbonner I had a very similar error a few times and what helped was to run `bazel clean --expunge`, not just `bazel clean` before the configure and build commands.

This error occurred when doing multiple builds with different cuda and python versions in a row (and possibly switching between tf 2.0, 2.1 and latest master, which resulted in bazel version switch).

[2020-01-24 08:19] punndcoder28 commented on #36146
Hey! I would like to work on this. Could you guide me?

[2020-01-24 08:22] dbonner commented on #35115
Thanks, I'll keep that in mind.  However, I think I got this error from a fresh git clone, so there was nothing for bazel to clean.

[2020-01-24 08:29] ahtik commented on #35115
Bazel keeps a cache of it's own outside the tensorflow git-cloned directory, but if also bazel was never used before then it's another issue.

[2020-01-24 08:32] dbonner commented on #35115
Oh, I see.  I'll try `bazel clean --expunge` and use the bazel version tensorflow recommends (1.2.1) next time I try to build.

[2020-01-24 08:38] yutkin commented on #36155
Tested yet another [model](https://yadi.sk/d/AYypBO3ke2c2ig) (NSFW detector). There is a memory leak too.

<img width="967" alt="Screenshot 2020-01-24 at 11 36 55" src="https://user-images.githubusercontent.com/2982775/73055428-d4d8ff80-3e9d-11ea-9919-aea207e1cf8c.png">

Code:

[code]

[2020-01-24 08:39] skeydan commented on #36138
thanks @gunan! (I would just be wondering why 1.8 has worked for @faltinl then, since AVX builds should have happened since 1.6)?

@faltinl on the build-from-source page (which also contains the instructions how to build from source on Windows)

https://www.tensorflow.org/install/source

it says

so in theory, even 1.8 should not have worked? Anyways, since that was a version that you say worked f

[2020-01-24 08:49] TheArheus opened #36176 "ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type NoneType)."
Hello, I'm trying to convert my pytorch model to keras and I have ready onnx file for It. When I started to converting onnx to keras, I've got next error:
[code]

There is my code:
[code]

And here is my onnx file to reproduce my errors:
https://drive.google.com/file/d/1NjYMbidm5WOB4SeeBw22dGzn-jZIrU2-/view?usp=sharing

Is there a possibillity to convert onnx to keras using onnxruntime?

Thank you

[2020-01-24 08:57] magiclevinho commented on #31927
@eliadl Have you any solutions for the problem?

[2020-01-24 09:05] Saduf2019 commented on #36169
@ffriande Could you please let us know what Tensorflow version are you facing the issue on.

[2020-01-24 09:07] aboerzel commented on #36016
I had made a mistake in the file sharing - sorry!

Here the link to download the [keras-model](https://drive.google.com/open?id=1GpQkBigddPvprAdplkr8ksT2nYRiAQNQ)

[2020-01-24 09:13] koodzi opened #36177 "While compiling `benchmark_model_plus_flex`: error: target 'saved_model_portable_proto' not declared in package"
- other issues: I found similar issues https://github.com/tensorflow/tensorflow/issues/30226 - with similar error message

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: na
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.0,

[2020-01-24 09:24] dbonner commented on #34433
I got the build to work.  Yes, this is fixed.

[2020-01-24 09:30] gadagashwini commented on #36114
@dishkakrauch, I tried replicating the issue on colab but getting different error. Please take a look at colab [gist](https://colab.research.google.com/gist/gadagashwini/ec233809cd9bc7d15a0d3f98b459e8c1/untitled22.ipynb) and provide more information to reproduce the issue. Thanks!

[2020-01-24 09:42] peter197321 opened #36178 "How to build Tensorflow lite shared library ?"
Hello

I am looking for a modification of build to be created share "so" library for TensorFlow-lite -please can help what/where to modify to create a shared library?

Thank you.

[2020-01-24 09:45] gadagashwini commented on #36162
@prpeixoto, can you provide the versions of
[code]
Thanks

[2020-01-24 09:50] ffriande commented on #36169
I've added it to the issue. It's Version: 1.14.0

[2020-01-24 09:50] gadagashwini commented on #36029
@18970901926, Could you fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) and provide all the information to analyze the issue. Thanks!

[2020-01-24 09:51] #36167 closed

[2020-01-24 09:56] gadagashwini commented on #36163
@VitaMusic, Please follow the instructions mentioned in the [Tensorflow doc](https://www.tensorflow.org/install/source). Thanks!

[2020-01-24 09:58] Intellicode commented on #35980
@gowthamkpr I've tried creating a seperate containter for this purpose:

[code]

where `tf_test.py` contains the following code:

[code]

This is the complete output:
[code]

[2020-01-24 10:10] Intellicode commented on #35980
You can also reproduce the error with the code from the [official beginner tutorial](https://www.tensorflow.org/tutorials/quickstart/beginner):

[code]

[2020-01-24 10:18] gadagashwini commented on #36166
@sirajbb, Provide all the information asked in [Template](https://github.com/tensorflow/tensorflow/issues/new/choose). Thanks

[2020-01-24 10:27] vkuzmin-uber opened #36179 "tensorflow 1.15.1 produces V2 style pip with V2 enabled by default"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
MacOS
- Mobile device (e.g. iP

[2020-01-24 10:39] dk7998 commented on #36150
I'm using Ubuntu 18.04 64bit OS, tensorflow version is 1.14.0 and the place where I got the error is

examples, metadata = tfds.load('ted_hrlr_translate/pt_to_en', with_info=True,
                               as_supervised=True)
train_examples, val_examples = examples['train'], examples['validation']

tokenizer_en = tfds.features.text.SubwordTextEncoder.build_from_corpus(
    (en.numpy() for pt,

[2020-01-24 10:46] gadagashwini commented on #36168
Issue is replicating on colab with Tf  2.2.0-dev20200123.
Please find the [gist here](https://colab.research.google.com/gist/gadagashwini/a80d6d940295d12a296ab434e9791371/untitled23.ipynb). Thanks!

[2020-01-24 10:53] vkuzmin-uber commented on #36179
I guess that I need to checkout:

commit 590d6eef7e91a6a7392c8ffffb7b58f2e0c8bc6b (tag: v1.15.0)
Merge: 07bf6634f6 b27ac431aa
Author: Goldie Gadde <ggadde@google.com>
Date:   Mon Oct 14 14:08:43 2019 -0700

    Merge pull request #31861 from tensorflow-jenkins/relnotes-1.15.0rc0-16184

    Update release notes for TensorFlow 1.15.0

and build. But it would be great to have 1.15.1 compatible with 1

[2020-01-24 10:58] blyscuit commented on #35864
I'm using this same tutorial and save the model with
[code]
and getting the same error
[code]

[2020-01-24 10:59] faltinl commented on #36138
Tnx for replies, [@gunan](https://github.com/gunan) and [@skeydan](https://github.com/skeydan) ! I tried `pip install tensorflow==1.8` as suggested, installation went smoothly, but import failed again, though with different error messages:

![import_tensorflow1 8 as tf_20200124a](https://user-images.githubusercontent.com/22592465/73063245-ac053a00-3e9e-11ea-8c70-c2c91e0d3ff3.PNG)
![import_tensorfl

[2020-01-24 11:15] blyscuit commented on #35864
It seems the problem is with input buffer size. In `ModelDataHandler` I changed my
[code]
to
[code]
and now working perfectly.

[https://github.com/tensorflow/tensorflow/issues/21602#issuecomment-414412800](url)

[2020-01-24 11:19] gadagashwini commented on #35988
@Shivani29sheth  and @brian1985, Please take a look at support [hardware requirements](https://www.tensorflow.org/install/pip#hardware-requirements) of Tensorflow.
Use [Dependency Walker](http://www.dependencywalker.com/), it will show you the DLL dependency tree, you will find which DLL cause the problem. You can then install the needed library or vcredist version, or add some path to system vari

[2020-01-24 11:35] patrikohlsson commented on #35983
@ravikyram yes, I've seen that issue and it doesn't help in this particular case.

Actually the issue seems to be that the `tf_library` macro doesn't default to the host `target_triple` value on windows which results in tfcompile producing ELF-style object-files. Adding the correct triple in the test BUILD files was successful, i.e.:
[code]

But I guess the proper fix would be to automatically inf

[2020-01-24 11:36] dbonner commented on #35115
I just tried building after doing `bazel clean --expunge` and I still got the same error:
[code]

[2020-01-24 11:41] patrikohlsson commented on #35983
Just adding windows as a target at the end of `//tensorflow/compiler/aot/tfcompile.bzl` *seems* to do the trick.

[2020-01-24 11:54] bazako commented on #28485
Hi!
I am using tf 1.15 to train the nnet.
To use the new MLIR converter it is necessary to have a pb file. In tf 1.15 load the model from checkpoint and save in "saved_model.pb".  [I don't know how to do in tf2.1, some idea¿?]

Then in tf 2.1 I use the following:

`converter = tf.lite.TFLiteConverter.from_saved_model(save_path)`
`converter.experimental_new_converter = True`
`tflite_model = convert

[2020-01-24 12:02] Lotte1990 commented on #36178
For Ubuntu 18.04:

sudo apt-get install python3 python3-pip
pip3 install numpy protobuf

cd to tensorflow folder
./configure (for me it only worked when using the path to py3, not py2)

bazel build //tensorflow/lite:libtensorflowlite.so

[2020-01-24 12:18] Debashis-Gupta commented on #31264
def adversarial_pattern(image, label):
    images = tf.convert_to_tensor(image, dtype=tf.float32)
    with tf.GradientTape() as tape:
        tape.watch(images)
        prediction = model(images)
        loss = tf.keras.losses.MSE(label, prediction)
    print("Gradient ",tape.gradient(model.total_loss,images))
If i run this code i get : Gradient None

However instead of total_loss if i use loss li

[2020-01-24 12:20] ravikyram commented on #36150
@dk7998

Will it be possible to share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-01-24 12:48] prpeixoto commented on #36162
@gadagashwini , these are the versions that are currently installed.

keras
2.2.4-tf
keras-applications
1.0.8
keras-preprocessing
1.1.0

[2020-01-24 12:48] mdanatg commented on #36146
Sure, here are a few directions for improvement -

First, the documentation of all `@tf_export` methods inside [tf.nest](https://github.com/tensorflow/tensorflow/blob/r2.1/tensorflow/python/util/nest.py) needs to be brought to date and clarify what is a "structure". Some entries mention that you can have dicts, others do not. I think the module documentation should clarify that. The docstrings in

[2020-01-24 12:55] VitaMusic commented on #36163
What is wrong in my install script ?

пт, 24 Янв 2020 г., 10:56 gadagashwini <notifications@github.com>:

[2020-01-24 12:59] eliadl commented on #31927
@magiclevinho I ended up using the [Keras functional API](https://www.tensorflow.org/guide/keras/functional), rather than a Sequential model.

[2020-01-24 13:01] ravikyram commented on #35440
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-24 13:01] #35440 closed

[2020-01-24 13:02] skeydan commented on #36138
These are just warnings... Can you try running a simple program against that installation?

Although you'd need to make sure you don't use any newer than 1.5 features ...

[2020-01-24 13:04] shauryad15 commented on #35389
@impjdi can you please add someone who can help me in converting ssd_mobilenet_v1 model into tflite float model for running in snapdragon board using gpu delegate. I can't find a proper **documentation** anywhere. When i'm using this script :

tflite_convert --output_file ./model.tflite --saved_model_dir /home/shaurya/Downloads/ssd_mobilenet_v1_coco_2018_01_28/saved_model --output_format TFLITE --

[2020-01-24 13:04] ravikyram commented on #35432
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-24 13:04] #35432 closed

[2020-01-24 13:08] ravikyram commented on #35602
@fdb

Automatically closing due to lack of recent activity. I believe you have raised issue in TFX repo and tracking the issue in TFX repo. Thanks!

[2020-01-24 13:08] #35602 closed

[2020-01-24 13:10] ravikyram commented on #35633
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-24 13:10] #35633 closed

[2020-01-24 13:11] ravikyram commented on #35655
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-24 13:11] #35655 closed

[2020-01-24 13:12] aloksingh3110 commented on #29997
how you have solved the above problem can you explain the procedure..

[2020-01-24 13:21] TheArheus commented on #34926
So, in newer versions I don't have this issue anymore and build correctly. I was using newest versions of tensorflow(downloaded 24/1/2020) and bazel version 1.2.1. Thank you.

[2020-01-24 13:21] #34926 closed

[2020-01-24 13:34] ravikyram commented on #36172
@Brayden1000
Can you please share colab link or simple standalone code along with supporting files to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-01-24 13:50] nbro opened #36181 "AttributeError: 'Tensor' object has no attribute 'log_prob'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS Catalina (Version: 10.15.2 (19C57))
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.1
- Python version: 3.7.5
- GPU model and memory: Intel Iris Pro 1536 MB

[2020-01-24 13:55] faltinl commented on #36138
No, unfortunately not - I even don't come that far. Using the installation sequence I was used to apply earlier (with tensorflow 1.5, reticulate 1.10 and keras 2.1.6 (also 2.2.0), with a `restart R` for every new attempt), i.e.

[code]
Whichever "install_..." command I actually use, I get the error message
[code]
Without any of the `install_` commands nothing happens at all, except that keras is n

[2020-01-24 14:06] skeydan commented on #36138
Please don't use R in this issue, this one's purpose is just to get your TensorFlow installation working from the Python side. I meant pasting a simple example in Python, just to see if 1.5 is working on your machine.

Honestly though, I don't know how much sense it makes using TF 1.5. (Our current R wrappers might not be compatible with 1.5 either.)

As to compiling 2.0 from source on Windows, I

[2020-01-24 14:07] tvlenin commented on #36143
Hi @Saduf2019,
Actually if you run the label_image example you get this memory leak as follow:

==12072== 912 bytes in 3 block(s) are lost, originally allocated at:
**==12072==    at 0x00007f0854dc27f2: calloc + 68
==12072==    at 0x00007f0854fe54a7: _dl_allocate_tls + 39
==12072==    at 0x00007f0854b95228: pthread_create + 2168
==12072==    at 0x00007f08548c1925: std::thread::_M_start_thread(std:

[2020-01-24 14:41] elvetian commented on #28865
Adding BAZEL_VC environment variable for the VC++ build tool location solved it for me:
BAZEL_VC
C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC

[2020-01-24 14:51] faltinl commented on #36138
Well, I don't have an example in Python - and if I had, I simply wouldn't know how to get it running there. Except for typing in the few commands forwarded in your posts I have never before used Python.

My entry to Keras and all that happened by reading [@jjallaire](https://github.com/jjallaire)'s and [@fchollet](https://github.com/fchollet)'s book "Deep Learning with R" which had me so excited t

[2020-01-24 14:53] patzm commented on #36179
And I think that the whole `contrib` module got removed conveniently!

[2020-01-24 14:58] deluksic commented on #8448
Also hitting this problem rn, trying to map over indices in the first (None) dimension.

[2020-01-24 14:58] faustomorales commented on #35799
Yes, certainly I can do that. Will try to get it out soon.

On Thu, Jan 23, 2020 at 2:00 PM Rick Chao <notifications@github.com> wrote:

[2020-01-24 15:00] patzm commented on #36179
See https://github.com/tensorflow/tensorflow/compare/v1.15.0...v1.15.1#diff-bb845bf0c867fef59b6527c0946799f9

[2020-01-24 15:15] echu87 commented on #36160
Hi, I just followed the advice that @oanush gave in #36152, and it seems that it has fixed the issue.

"Please try including the code before tflite=converter.convert()

converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS,
                                       tf.lite.OpsSet.SELECT_TF_OPS]
For more information refer #35590
If the issue is still not resolved please provide us the

[2020-01-24 15:20] echu87 commented on #36160
One additional issue, when I try to load the TFLite model I run into the issue:

Traceback (most recent call last):
  File "details.py", line 4, in <module>
    interpreter.allocate_tensors()
  File "C:\Users\Evan.Chu$\AppData\Local\Programs\Python\Python37\lib\site-packages\tensorflow_core\lite\python\interpreter.py", line 247, in allocate_tensors
    return self._interpreter.AllocateTensors()

[2020-01-24 15:26] Jap8nted commented on #32557
I am having the same issue and I have no access to the nightly, what can I do to have access ?

print(platform.python_version())
print(tf.version.GIT_VERSION)
print(tf.version.VERSION)
print(tf.__version__)

3.7.6
v2.0.0-rc2-26-g64c3d38
2.0.0
2.0.0
627

Many thanks :)

[2020-01-24 15:26] magiclevinho commented on #31927
@eliadl Thank You for answering!
I don't know if the following code does similar as you said, but it works for me!
I copied the code from an another website, (i don t know if I m allowed to post links?) the user was posting is, so the credit goes for him/her: Egor B Eremeev
`from __future__ import absolute_import, division, print_function

import numpy as np
import pandas as pd

#!pip install tens

[2020-01-24 16:34] oscar7692 commented on #34083
I'm using tensorflow-cpu==2.1.0 and I had the same issue

`ModuleNotFoundError:  No module named 'tensorflow.examples'`

I solve this downloading manually the directory called "tutorials" from tensorflow repo
[https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/tutorials](url)

and placed it in my virtual env directory
`myenv\Lib\site-packages\tensorflow_core\examples\`

after

[2020-01-24 16:37] aalugore commented on #33184
System information

Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): RHEL 7.6
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
TensorFlow installed from (source or binary): binary
TensorFlow version (use command below):2.1
Python version:3.6
Ba

[2020-01-24 16:39] Dok11 opened #36182 "Broken link "Share your TensorFlow Lite story""
## URL(s) with the issue:

https://www.tensorflow.org/lite/

## Description of issue (what needs changing):

This button
![image](https://user-images.githubusercontent.com/2697890/73086114-09ba7600-3ee1-11ea-9b27-1f75816b4e94.png)

links to 403 page
![image](https://user-images.githubusercontent.com/2697890/73086137-1a6aec00-3ee1-11ea-9fa1-0ace2995a872.png)

[2020-01-24 16:41] mihaimaruseac commented on #36179
There are multiple changes here:

1. First, you need to build with `--config=v1`, even though you are on the `r1.15` branch. Default bazel config is to use `--config=v2` by default
2. We removed `contrib` and can no longer build it
3. We removed support for python 2 as it is dead.

[2020-01-24 16:49] Rexhaif opened #36183 "TFLite new quantizer brokes ALBERT model"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): docker container with ubuntu 16.04, running on host with fedora 31
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 2.2.0-dev20200119

**Command used to run the converter or code if you’re using the Python API**

[code]

**The output from the converter invoca

[2020-01-24 16:54] punndcoder28 commented on #36146
Hey! Thanks for the input.
`First, the documentation of all @tf_export methods inside tf.nest needs to be brought to date and clarify what is a "structure". Some entries mention that you can have dicts, others do not. I think the module documentation should clarify that. The docstrings in there are used to generate the public docs.`
Regarding this if am not wrong a couple of the function's documen

[2020-01-24 16:54] aselva-eb opened #36184 "./build_aarch64_lib.sh fails in densify.cc"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2020-01-24 17:06] Ansreng360 opened #36185 "tf.data.Dataset.from_tensor_slices throws error when using an array of numbers instead of a string"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 (64 bit), Windows-10-10.0.18362-SP0
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary (pip)
- TensorFlow

[2020-01-24 17:13] srjoglekar246 commented on #33691
This change has gone in to TensorFlow's master branch. @hgaiser May you confirm and close this issue if it works?

[2020-01-24 17:15] hgaiser commented on #33691
Awesome! Can't wait to try it ou. I will confirm it next Tuesday, but I can't close it because this is not my issue ;)

[2020-01-24 17:25] nbro commented on #34765
@jvishnuvardhan, @fchollet Actually, it seems that, at least in one case, you can call `model.predict`, when the output of your model is a distribution. See, for example, the comment https://github.com/tensorflow/probability/issues/538#issuecomment-561113039, where the following code is provided

[code]

which can be executed with TF 2.1 and TFP 0.9 without getting any errors. However, I remember

[2020-01-24 17:27] yhliang2018 commented on #32557
@Jap8nted @netskink sorry for the incorrect colab link. You may try the [gist version](https://colab.research.google.com/gist/yhliang2018/308ea6cde76dd8c1853dc1453791a078/github-issue-32557_verify.ipynb).

[2020-01-24 17:33] mdanatg commented on #36146
I'd start with everything in one PR (docstring changes and small code changes), and if you end up changing lots of code, break it down into more pieces.

[2020-01-24 17:47] Ansreng360 commented on #36185
It's probably an issue with the different length of the arrayy.

[2020-01-24 17:47] #36185 closed

[2020-01-24 17:47] punndcoder28 commented on #36146
@mdanatg I've create a PR #36186 addressing this. Could you please review?

[2020-01-24 18:01] trangnm58 commented on #35702
Hi!
@crownk1997 Have you resolved this issue?
I installed tensorflow-gpu 2.1 with cuda 10.1 but I my GPU (GTX 1060) is not detected by tensorflow as well and I don't know why because I followed the exact instructions and got all the versions right.

[2020-01-24 18:07] nbro commented on #32219
@kristofgiber, @reedwm, @brianwa84, @ravikyram, this issue seems to be solved in TF 2.1. The original example works both with TFP 0.8 or TFP 0.9.

[2020-01-24 18:28] jvishnuvardhan commented on #36016
@aboerzel I am able to reproduce the issue. Thanks. [Here](https://colab.sandbox.google.com/gist/jvishnuvardhan/e0b2d59dbf6a2e1887711b935e460c9d/untitled790.ipynb) is the gist for our reference. Thanks!

[2020-01-24 18:32] smsrikanthreddy commented on #35935
I am getting the same error.
OS -  Windows 10- 64 bit

command ran is
"conda install tensorflow" (python 3.7 version )
Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: C:\Users\xxxxxx\AppData\Local\Continuum\anaconda3

  added / updated specs:
    - tensorflow

The following packages will be downloaded:

    package

[2020-01-24 18:36] parvizp commented on #34845
For anyone else trying to reproduce, I've successfully used `tensorflow==1.15` and @srjoglekar246 's tips to generate a relatively clean inference graph.
Then using a newer TF/TOCO (`2.2.0-dev20200122`)
I was able to:
[code]

[2020-01-24 18:36] #34845 closed

[2020-01-24 18:42] srjoglekar246 commented on #34845
Thanks for confirming!

[2020-01-24 18:44] joao-carvalheira commented on #36111
Using miniconda worked:
[code]

[2020-01-24 18:50] gunan commented on #36138
One potential difference could be, if you are getting TF binaries through conda/anaconda.
We are not building them, so I am not sure which version started to require AVX. @jjhelmus may know that.

When it comes to `pip install tensorflow`, looks like 1.5 is where we switched?
https://github.com/tensorflow/tensorflow/releases/tag/v1.5.1
So the reason 1.8 worked for you may be because you got them t

[2020-01-24 18:59] mihaimaruseac commented on #36121
Can you try installing the 2 deps in `Depends:`?

[2020-01-24 19:19] vkuzmin-uber commented on #36179
There are multiple changes here:

I'd expect that 1.15.1 is compatible with 1.15.0 and has only critical fixes./patches

Can you confirm that this Issue (no v1 style, no compatibility with 1.15.0) is a problem/bug and should be fixed?

I think it should be a high priority, because I see 1.15.1 was officially released today, and branch has tag 1.15.1. Because if somebody upgrade to 1.15.1 that will

[2020-01-24 19:23] chriselion opened #36188 "Functions removed from tensorflow namespace between 1.15.0 and 1.15.1"
I'm not sure if this was intended behavior, but if so it wasn't documented in the 1.15.1 release notes. I first hit this for `tf.set_random_seed()`, but it even effects the sample code for getting the version.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS

[2020-01-24 19:26] chriselion commented on #36188
I've worked around this in my code by using `tensorflow.compat.v1` instead, but I wouldn't expect such a major change to happen in a bugfix release.

[2020-01-24 19:34] mr-goldhands opened #36189 "Unable to build "Hello World" for ESP32"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from: source
- Tensorflow version: ca0d5142f640d42037f22367ce3530b6b7a23b44
- Target platform: ESP32

**Describe the problem**
Building the example Hello World for ESp32 fails.

**Please provide the exact sequence of commands/steps when you ran into the problem**
1. I successful

[2020-01-24 19:35] homocomputeris commented on #36097
I'm afraid I cannot:
[code]
[code]

[2020-01-24 19:40] Mikkil commented on #36111
At first, I installed tensorflow-gpu using **pip** and after seeing this comment i tried it with **conda** and it worked for me!

[2020-01-24 19:59] jsimsa commented on #35762
Putting `_ = dataset.cache()` will have no effect on the input pipeline graph that ends up being created and executed, so your performance difference must be due to noise.

[2020-01-24 19:59] #35762 closed

[2020-01-24 20:27] jjhelmus commented on #36138
AFAIK all the conda packages of Tensorflow released by Anaconda, Inc do not require AVX, our target CPU minimum is nocona (x86_64 with SSE3).

[2020-01-24 20:32] mihaimaruseac commented on #36179
Please ignore release of today, we removed it and will regenerate.

We will make `--config=v1` be the default for the branch and bring this back to be compatible with 1.15.0.

[2020-01-24 20:42] gowthamkpr commented on #36176
@TheArheus Please post this issue [here](https://github.com/nerox8664/onnx2keras/issues)  as we don't look at oonx2keras related issues.

I am going to close this issue. Thanks!

[2020-01-24 20:42] #36176 closed

[2020-01-24 20:50] chriselion commented on #36188
Sounds like this might be the same root cause as https://github.com/tensorflow/tensorflow/issues/36179 ?

[2020-01-24 21:14] ymodak commented on #34068
This is fixed latest tf-nightly version `'2.2.0-dev20200123'`. Thanks!

[2020-01-24 21:23] #16146 closed

[2020-01-24 21:25] MarkDaoust commented on #15792
We have a new saved-model format for TensorFlow2. I think this bug is obsolete.

[2020-01-24 21:25] #15792 closed

[2020-01-24 21:26] mihaimaruseac commented on #36188
It is the same root cause. Sorry about that.

[2020-01-24 21:26] #36188 closed

[2020-01-24 21:26] #16247 closed

[2020-01-24 21:26] lamberta commented on #20771
This is now TF Lite?

[2020-01-24 21:26] #20771 closed

[2020-01-24 21:27] MarkDaoust commented on #17374
The fix PR is merged, so I think we can close this.

[2020-01-24 21:27] #17374 closed

[2020-01-24 21:28] MarkDaoust commented on #17839
Contrib seq2seq has moved to tensorflow addons. If this is still an issue, please send a new Issue to that repository.

[2020-01-24 21:28] #17839 closed

[2020-01-24 21:28] lamberta commented on #1984
I think this is obsolete?

[2020-01-24 21:28] #1984 closed

[2020-01-24 21:29] MarkDaoust commented on #18443
@reedwm do you know the answer?

[2020-01-24 21:29] chriselion commented on #36188
No problem, thanks for confirming.

[2020-01-24 21:31] MarkDaoust commented on #19162
This API is removed in TF2.

[2020-01-24 21:31] #19162 closed

[2020-01-24 21:34] MarkDaoust commented on #19298
What's the status of this? You might have more luck with SIG-JVM, which is taking over tensorflow's Java functionality.

github.com/tensorflow/java

[2020-01-24 21:34] #19298 closed

[2020-01-24 21:38] MarkDaoust commented on #19420
Sequential accepts a`training` argument now.

[2020-01-24 21:38] #19420 closed

[2020-01-24 21:40] lgeiger commented on #36126
@gadagashwini Note that colab hides `stderr` from the C++ TensorFlow runtime by default so the error won't show up in the UI. However the error will still be thrown if executed as a normal Python script.

Checkout [this colab notebook](https://colab.research.google.com/drive/1-M0IxI6klmtViFSTbPR2jDZP-xEv2Z-H) which reproduces the error using the following snippet:
[code]

[2020-01-24 21:44] jottbele commented on #34319
Hi, I have the same problem.

[2020-01-24 21:52] mr-goldhands commented on #36189
I suppose issue related to changes made by [this commit.](https://github.com/tensorflow/tensorflow/commit/38ca4ecbf7418ace4d8c7edaf179cae7fc4c1ca5#diff-e574b564bf79a94413a08244c308291dL46)

[2020-01-24 22:02] jdduke commented on #33472
Hey @DoumanAsh , apologies for the severely delayed response.

We have migrated our [C API](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/c) out of experimental, and it does not pull in the flatbuffer headers. At the same time, I'm trying to pull out the flatbuffer header dependency from the C++ API, but that's a bit more involved.

I should also note that we started exporti

[2020-01-24 22:05] mihaimaruseac commented on #36179
`r1.15` head should be fixed now. It will take a while until we can produce the pip though

[2020-01-24 22:11] yhliang2018 commented on #35030
With the latest tf-nightly as can be seen on [colab link](https://colab.research.google.com/drive/1mHK-Zhok-e4FXYaDPvgdjRkasiIdwUgz?usp=sharing#scrollTo=ouUwL95S6kYp), the memory usage is down to 10311MB vs 9140 MB (TF 1.14).

[2020-01-24 22:24] balansky commented on #35888
I got similar issue. Here is my code to reproduce the error.

    input_ = tf.keras.Input(shape=[10, 30, 32])
    block = tf.keras.layers.Dense(128)
    rnn_block = tf.keras.layers.GRU(128, return_sequences=False)

    x = block(input_)
    x = tf.unstack(x, axis=1)
    x_stacks = tf.TensorArray(tf.float32, size=10, element_shape=[None, 128])

    tf.while_loop(lambda i, x_i: tf.less(i, 10), lambd

[2020-01-24 22:25] klanderson commented on #36142
Thanks, I just wanted to bring up the issue as it was something that changed between 2.0 and 2.1.

[2020-01-24 22:27] EricSites commented on #35770
I am also having the same issue.

[2020-01-24 22:29] gowthamkpr commented on #36004
@Joshuaalbert I don't see any changes in my colab notebook. Can you please share  your colab gist. Thanks!

[2020-01-24 22:35] reedwm commented on #18443
On GPUs, fp16 Matmul accumulation is done in fp32.

[2020-01-24 22:35] #18443 closed

[2020-01-24 22:51] jdduke commented on #29910
Hey @arashb, the blog post itself has been in flux, though we've highlighted the work a bit in recent talks, e.g., at [TFWorld](https://youtu.be/0SpZy7iouFU?t=627).  We're planning a more comprehensive performance blog post soon.

[2020-01-24 22:54] gowthamkpr commented on #35630
@BrEr The reason for the error is that The `txt` file was missing from the `setup.py`. Its been fixed in tfds-nightly. Please check it and confirm it.

For more information, please take a look at the following [issue](https://github.com/tensorflow/datasets/issues/1304). Thanks!

[2020-01-24 22:56] jsimsa commented on #35682
tf.data does not maintain any state across iterations (with the exception of `shuffle` and `cache`). In other words, if your input pipeline is deterministic, does not contain `shuffle` and unseeded random operations, and does not depend on any external state, it will always produce the same sequence of numbers.

If you would like your input pipeline to produce deterministic behavior, that at the s

[2020-01-24 23:00] jvishnuvardhan commented on #34900
@roccqqck BERT model is a custom model, and doesn't have a config defined. I think you need to add a custom_object as a config to BERT model?

This is more related to transformers repository. Please post the issue [here](https://github.com/huggingface/transformers/issues). Thank!

Closing this out since I understand it to be resolved, but please let me know if I'm mistaken. Thanks!

[2020-01-24 23:00] #34900 closed

[2020-01-24 23:10] arjun-majumdar opened #36192 "TensorFlow fit() and GradientTape - number of epochs are different"
if I define the architecture of a neural network using only dense fully connected layers and train them such that there are two models which are trained using **model.fit()** and **GradientTape**. Both the methods of training use the *same* model architecture.

The randomly initialized weights are shared between the two models and all other parameters such as optimizer, loss function and metrics a

[2020-01-24 23:18] bersbersbers commented on #35682
Thanks for the explanations!

[2020-01-24 23:18] #35682 closed

[2020-01-24 23:22] Joshuaalbert commented on #36004
@gowthamkpr I updated the first post to show the correct code.

[2020-01-24 23:51] Artaches commented on #35283
@talumbau The behavior is indeed as you described; higher inference times when app is not in focus. I've gotten a model that I can share, could you email me @ artashes333@hotmail.com so I can share it?

@bjacob Changing the `DurationFromMilliseconds(N)` number has improved the performance when the app is not in focus by a bit. On Pixel 3a:
`DurationFromMilliseconds(2)`: ~3.3x increase in inference

[2020-01-25 00:27] zepef commented on #36111
The Conda install works great for me with TF2.1 and VSCode Win 10

[2020-01-25 01:08] saudet commented on #19298
We're using JavaCPP there now, so this can be considered "fixed".

[2020-01-25 02:19] carsonDB commented on #19420
[The doc](https://www.tensorflow.org/guide/keras/custom_layers_and_models#privileged_training_argument_in_the_call_method) about `training` argument dropout is outdated.
Now `training` argument is a boolean tensor, not a python boolean.
So can't use python `if-else` only, instead actually use `tf.keras.backend.in_train_phase`, or [`smart_cond`](https://github.com/tensorflow/tensorflow/blob/r2.1/te

[2020-01-25 02:42] monocongo opened #36193 "ModuleNotFoundError: No module named 'tensorflow_estimator.contrib'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary):
I have installed tensorflow into my conda environment via `pip install tensorflow`
It shows as version 2.1.0 when I list the installed version, but wh

[2020-01-25 03:18] byronyi commented on #36170
@dbonner this is not an issue for 2.1. Try build from master a couple of days ago.

Ping @petewarden; seems the CL adf6e22e4af83afd55e0da3caa7e7959def1e6b6 breaks Linux builds.

Specifying `--linkopt=-lm` in `bazel build` does not fix this issue.

[2020-01-25 03:23] byronyi commented on #36170
Gently ping @smit-hinsu as well.

[2020-01-25 03:25] iperov commented on #25996
[code]

[2020-01-25 03:34] Xiaohui-Z commented on #34637
I use tensorflow 2.0-GPU, nivida-tesla V100, 32G, gru model

I also get the same warning and the process do not move for two days.
My code  is :
[code]

the warning is:
[code]

has anyone know the solution ?

[2020-01-25 04:30] wmmxk opened #36194 "Can not train a BERT fine tuning model using TF on TPU"
I am training a tensorflow model defined as follows on a TPU. But when it starts training, I run into this error:
UnimplementedError: {{function_node __inference_distributed_function_299068}} Compilation failure: Dynamic concatenation is not supported yet: %reshape.3993 = s32[832]{0} reshape(s32[2,416]{1,0} %reshape.621), metadata={op_type="Reshape" op_name="Reshape_1636"}
	TPU compilation failed

[2020-01-25 04:43] dbonner commented on #36170
@byronyi do you mean that this problem

- **is** an issue for the current head because adf6e22e4af83afd55e0da3caa7e7959def1e6b6 broke linux builds
- and this was **not** an issue in the master from a couple of days ago before before adf6e22e4af83afd55e0da3caa7e7959def1e6b6?

[2020-01-25 06:03] vishwas1234567 opened #36196 "not getting installed in python 3.8.1"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2020-01-25 06:03] vishwas1234567 commented on #36196
![image](https://user-images.githubusercontent.com/48592314/73117078-7e83c380-3f66-11ea-855d-349ba8a2d448.png)

[2020-01-25 06:04] vishwas1234567 opened #36197 "not even getting detected for the python3.8.1"
![image](https://user-images.githubusercontent.com/48592314/73117091-98bda180-3f66-11ea-9ad4-163ea27b8904.png)

[2020-01-25 06:10] yourtheron opened #36198 "model.summary() Does not Work in Some Cases"
Tf Version 2.1
Having been suggested by @reedwm I am filing this bug. Please see the last comment in issue #35441 for details.
/CC @reedwm

[2020-01-25 06:51] HLSS-Hen commented on #34637
@Xiaohui-Z try use tf2.1. Or, add `get_confgi()` function to your `MyRNN` class.
In my try, custom Model without `get_config()` function in TF2.1 will have the WARNING  -- `WARNING:tensorflow:Model failed to serialize as JSON. Ignoring... ` .
I don't know if it matters

[2020-01-25 07:21] thelinuxmaniac opened #36199 "./tensorflow/lite/tools/make/download_dependencies.sh: line 59: 1: Usage: download_and_extract URL DIR"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux 4.19.0-6-amd64 #1 SMP Debian 4.19.67-2+deb10u2 (2019-11-11) x86_64 GNU/Linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): from source at https://github.com/tensorflow/tensorflow/archive/v2.1.0.tar.gz
- TensorFlow

[2020-01-25 07:28] thelinuxmaniac commented on #36199
Updating the `tensorflow/lite/tools/make/download_dependencies.sh` file as follows fixes this issue:
[code]

[2020-01-25 07:37] byronyi commented on #36170
@dbonner that is correct. Technically you need to revert both commits I mentioned above to build the current master.

[2020-01-25 08:15] dishkakrauch commented on #36114
It's cause you don't have data for training. How can I share it with you?

[2020-01-25 08:17] peter197321 commented on #36178
I used to build with build script `./tensorflow/lite/tools/make/build_aarch64_lib.sh`
and as the target, I have an ARM device (aarch64) and build with host machine (cross-compile). So in case, I use Bazel as you indicated how can I specify the target ARM platform (assume cross-compilation) ?

[2020-01-25 08:25] rushabh-v commented on #36199
Can I open a PR if you are not interested @thelinuxmaniac ?

[2020-01-25 08:50] generationzcode opened #36200 "Copyright years in the files"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2020-01-25 09:08] thelinuxmaniac commented on #36199
Did you mean "you are interested"? Yes, please open a PR so that I can send a fix.

[2020-01-25 09:28] galah92 opened #36201 ""Could not load dynamic library 'libnvinfer.so.6'" when installing from WSL 2"
**System information**

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu through **WSL 2** on Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary (pip)
- TensorFlow version: 2.1.0
- Python version: 3.6.9
- Installed using virtualenv? pip? conda?: pip, no virtualenv
- Bazel

[2020-01-25 09:31] faltinl commented on #36138
to [@gunan](https://github.com/gunan):

No, certainly not (at least not that I noticed it!-), but what might have happened is that I downloaded v1.8, but overlooked that the version was automatically downgraded, e.g. during installation. (I must confess that, for me, Anaconda is a necessary evil - my aim is to work with Keras for R within RStudio).

Yeah, I'm using that snippet for tests already.

[2020-01-25 09:50] mr-martin-metal commented on #35133
Same issue. C-API in place, tests OK. go 1.11:

go get github.com/tensorflow/tensorflow/tensorflow/go
package github.com/tensorflow/tensorflow/tensorflow/go/genop/internal/proto/github.com/tensorflow/tensorflow/tensorflow/go/core: cannot find package "github.com/tensorflow/tensorflow/tensorflow/go/genop/internal/proto/github.com/tensorflow/tensorflow/tensorflow/go/core" in any of:
	/opt/go/1.11.2/

[2020-01-25 10:03] thelinuxmaniac commented on #36199
patch:

[code]

[2020-01-25 10:23] namitajadhav commented on #36161
Thank you for your response. Is there a way to find out the name of tensor which is never used as an input? I tried to remove all unused tensors in the model but resulted in the same error.
Since my model can be used only with Tensorflow 1.14 I could not test with Tensorflow 2.0.0.

[2020-01-25 10:30] Lotte1990 commented on #36178
https://www.tensorflow.org/lite/guide/build_arm64

[2020-01-25 10:53] Lotte1990 commented on #36178
Never did this myself. You could try adding the following flags to the bazel build:
--cpu=aarch64 --crosstool_top=//tools/aarch64_compiler:toolchain --host_crosstool_top=@bazel_tools//tools/cpp:toolchain

[2020-01-25 10:56] rushabh-v commented on #36199
I meant that I can open if you are not interested or you don't have time for that.
But yes you are right, we should ask the maintainers first.

[2020-01-25 11:09] christian-ri commented on #36126
@lgeiger Thank you for your answer! So does this mean, the error is actually no error and has nothing to do with the calculation?

[2020-01-25 11:31] thelinuxmaniac commented on #36199
@rushabh-v Thank you for offering to help. Let me wait for response from maintainers and I will send a pull request, if required.

[2020-01-25 11:31] RomainSabathe commented on #32817
Can also confirm that the error (warning) is still being raised on 2.1 (my docker base image is cuda:10.1-cudnn7-devel-ubuntu18.04).

`dataset = raw_dataset.map(_parse_proto).take(32).batch(8)
model.evaluate(dataset)`

[2020-01-25 11:47] ashutosh1919 commented on #36197
@vishwas1234567, Please take a look at [this issue](https://github.com/tensorflow/tensorflow/issues/33374#issuecomment-577331441). It says that tensorflow is not supported for python 3.8 as of now. And if we talk about tensorflow 2.0 specifically, it supports the python range 3.4 to 3.7. If your computer has python 3.8 installed then you can install 3.7 too and use virtualenv to install tensorflow

[2020-01-25 11:49] ashutosh1919 commented on #36196
@vishwas1234567, Please take a look at [this issue](https://github.com/tensorflow/tensorflow/issues/33374#issuecomment-577331441). It says that tensorflow is not supported for python 3.8 as of now. And if we talk about tensorflow 2.0 specifically, it supports the python range 3.4 to 3.7. If your computer has python 3.8 installed then you can install 3.7 too and use virtualenv to install tensorflow

[2020-01-25 11:57] ashutosh1919 commented on #36193
@monocongo, I understood your problem. I have found out [this past issue](https://github.com/tensorflow/tensorflow/issues/23163) in which somebody else had the same problem. But with the below solution, it worked fine.

Try this after installing tensorflow :
[code]
Thanks to [this](https://github.com/tensorflow/tensorflow/issues/23163#issuecomment-449767938).

[2020-01-25 12:26] igorhoogerwoord commented on #36121
Yes tried that, but it gets stuck at installing cuda-**** something. Attempted to run this multiple times but for some reason it doesn't find one of the packages.

Need to try this again to see which specific package it wouldn't install..

[2020-01-25 12:46] ashutosh1919 commented on #36201
@galah92 , It seems that you must have GPU to work with the tensorflow-gpu packages. Your error is because the computer is not able to locate the file **libnvinfer.so.6**. If you have NVIDIA GPU installed and nvcc is running, please check TensorRT installation guide [here](https://docs.nvidia.com/deeplearning/sdk/tensorrt-install-guide/index.html). Also take a look at [this past issue](https://git

[2020-01-25 13:12] mdanatg commented on #36168
@saxenasaurabh could you triage?

[2020-01-25 14:35] WTRipper commented on #28388
@samhodge Did you find a less direct method to build a static library? If not could you explain your approach a bit more in detail? which tools did you use exactly?
I am currently struggling with creating a static library for windows.

[2020-01-25 14:41] peter197321 commented on #36178
It's been built and I found it `/tensorflow/bazel-tensorflow/bazel-out/k8-opt/bin/tensorflow/lite/`
In case I want to use built shared library e.g. with label_image [C++ image classification demo](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/examples/label_image); where to modify this app for use with share `libtensorflowlite.so` library?

[2020-01-25 14:46] galah92 commented on #36201
Thank you for the response. This is exactly was I understood from the error, but I installed the non-GPU version of tensorflow so I don't understand why it expects a GPU. The best part is that I don't even have a dedicated GPU on my machine (Dell XPS 13 9530). This is the installed package:

    galah92@XPS13:~$ python3 -m pip freeze | grep tensor
    tensorboard==2.1.0
    tensorflow==2.1.0
    t

[2020-01-25 14:51] Matoran opened #36203 "unable to use TimeseriesGenerator with fit_generator"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2020-01-25 15:08] ashutosh1919 commented on #36201
@galah92 , Please install tensorflow==1.15 using pip and not 2.x because default mode for 2.x seems to be GPU and default mode for 1.15 is CPU

[2020-01-25 15:10] Lotte1990 commented on #36178
When you have the .so file, you can use CMake or Bazel or Visual Studio or whatever you like.
I'm not a big fan of Bazel and Visual Studio. When using CMake it is as easy as adding this line
`target_link_libraries(<insert project name> <insert location of .so file>)`
to your CMakeLists.txt file.
See also: https://cmake.org/cmake/help/latest/command/target_link_libraries.html

[2020-01-25 15:55] monocongo commented on #36193
Thanks, @ashutosh1919 . I actually saw this before posting and tried the suggestions there to no avail. For example:
[code]

[2020-01-25 16:23] Brayden1000 opened #36205 "ModuleNotFoundError: No module named 'pycocotools._mask' PLEASE HELP ME!!!!"
I am running a Windows 10 x64 machine and I do find the _mask.pyx file in the path specified but it still can't find it for some reason! I have followed the instructions off of this website. Any help is much appreciated, I have run the build.py off of the cocoAPI since I am on windows. I have tried to install pycotools through pip. I have gone through every website with this issue mentioned and no

[2020-01-25 16:40] ashutosh1919 commented on #36193
try [this one](https://github.com/tensorflow/tensorflow/issues/23163#issuecomment-509178978). (Reinstallation may help)

[2020-01-25 16:42] peter197321 commented on #36178
Why `bazel-genfiles` is not generated?

[2020-01-25 17:28] monocongo commented on #36193
@ashutosh1919  That did the trick. Thanks so much for your help!

[2020-01-25 17:28] #36193 closed

[2020-01-25 17:29] SUNILARAVA commented on #14725
Thanks it worked for Python 2.7

[2020-01-25 17:31] ashutosh1919 commented on #36193
@monocongo , You're most welcome.

[2020-01-25 18:06] Xiaohui-Z commented on #34637
@HLSS-Hen ，Hi Hen, Thanks. Can you show me how to add `get_config()` to the MyRNN class. I think get_config() just give you a dictionary containing the configuration of the model and only be used when you save a model, How can it affect my current model ?Thanks

[2020-01-25 18:13] AkashB23 opened #36207 "Need help in finding out the file where exactly TFlite "Post training Quantization" is implimented in the tensorflow Repository"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2020-01-25 19:59] jmhessel commented on #36139
This also seems to imply that you can use padding with cudnn, but only post-padding?

https://www.tensorflow.org/guide/keras/masking_and_padding

[code]

[2020-01-25 20:42] turfday commented on #36175
This has always been a problem since Tensorflow 2.0 was released.

[2020-01-25 20:57] xiang123 opened #36208 "tensorflow lite model prediction cause Segmentation fault (core dumped)"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-01-25 21:25] monocongo opened #36209 "Segmentation fault when training DeepLab segmentation model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): `conda install tensorflow=1`
- TensorFlow version (use command below): 1.13.1
- Python version: 3.6.7

**Describe the current behavior**
I am trying to trai

[2020-01-25 22:01] ymodak commented on #36201
@galah92 You can safely ignore those warning logs and continue using TF. Note that TF will implement cpu for all your computations. TF 2.x packages are provide both cpu and gpu support.
See https://www.tensorflow.org/install/pip#tensorflow-2-packages-are-available

[2020-01-25 22:46] monocongo commented on #36209
I have just confirmed that this also happens on an AWS EC2 instance (Ubuntu 18.04) with GPU using tensorflow-gpu version 1.15, here is the output from the training command above:
[code]

[2020-01-25 22:52] daviddiazvico commented on #32532
[This one](https://github.com/daviddiazvico/tensorflow/commit/e33e1c5f88e9832b2578f495ee85bcae7e9a5a4f). It's been open for a while, but I'm afraid I couldn't find where is the documentation to update. The only doc related I could find is just a pointer to [keras docs](https://github.com/daviddiazvico/tensorflow/blob/master/tensorflow/python/keras/README.md).

I opened this same PR in keras ([here

[2020-01-25 22:56] Matoran commented on #36200
Hi, that is not how it works. You can find a lot of ressources with a simple search like `copyright year`.  One good explanation: https://stackoverflow.com/questions/2390230/do-copyright-dates-need-to-be-updated

[2020-01-26 00:23] guptapriya commented on #36147
hi, thank you for the analysis you've done. a couple of quick observations/questions:

1. batch size. in the keras example, the batch size seems "per replica" batch size, but in the custom training loop example, the batch size is "global", i.e. "per replica batch size * num replicas". Is that accurate? If so, the scaling you expect in those cases will be different. You should use "per replica batc

[2020-01-26 00:28] Timothee56 opened #36212 "Issue on importing tensorflow"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac Catalina version 10.15.2
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): installed from source
- TensorFlow version: 2.1
- Python version: 3.7
- Installed using virtualenv? pip? conda?: virtualenv
- Bazel version (if c

[2020-01-26 01:12] suphoff commented on #36161
@namitajadhav : I assume the limitation on Tensorflow 1.14 is for training and converting the model to tflite - if that is the case you can still deploy the tflite/flatbuffer on current (top of tree) tensorflow master,

@PeteBlackerThe3rd 's   tflite analyzer may help you to analyze your tflite file: https://github.com/PeteBlackerThe3rd/tflite_analyser

[2020-01-26 02:26] edf-spire commented on #35582
Thank you for this, it was very helpful.

I'm running TX2 with JetPack 4.3 (comes with TensorRT 6.0.1). I tried to compile Tensorflow 1.14.1. This is the patch I had to apply (one difference with the previous one):

[code]

[2020-01-26 02:40] mihaimaruseac commented on #36212
This seems to be an ssue with the macos python. See also #33183

[2020-01-26 02:41] mihaimaruseac commented on #36212
Since this is not a TF issue, we'll close this issue.

[2020-01-26 02:41] #36212 closed

[2020-01-26 02:42] mihaimaruseac commented on #36208
Please properly format the code, use ` ``` ` around it.

[2020-01-26 02:43] mihaimaruseac commented on #36205
Please provide the information required by the issue template.

[2020-01-26 02:43] mihaimaruseac commented on #36200
Closing as it is not really an issue. Plus, @Matoran provided a reasoning

[2020-01-26 02:43] #36200 closed

[2020-01-26 02:46] mihaimaruseac commented on #36197
Closing as duplicate of #33374. Please use search before opening new issues, especially when opening multiple related ones.

[2020-01-26 02:46] #36197 closed

[2020-01-26 02:46] mihaimaruseac commented on #36196
Closing as duplicate of #33374. Please use search before opening new issues, especially when opening multiple related ones.

[2020-01-26 02:46] #36196 closed

[2020-01-26 03:01] djwenren opened #36213 "Build using nvcc + clang?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile de

[2020-01-26 03:11] suha-glal commented on #35885
Thanks for your help.
I will try it soon and tell you the outcomes.

I will close the issue for now.

[2020-01-26 03:11] #35885 closed

[2020-01-26 03:25] royhershkovitz commented on #28388
I am still struggling with it for Arm, it worked well with CMake on Linux x86, but the arch in Arm file is not fine for the cross compilers.  The next approach will be compiling everything with bazel.

[2020-01-26 03:39] generationzcode commented on #36200
thanks!

[2020-01-26 04:24] phemmer opened #36216 "Keras: expose loss metric of singular output"
**System information**
- TensorFlow version (you are using): 2.1.0
- Are you willing to contribute it (Yes/No): maybe

**Describe the feature and the current behavior/state.**
Currently when training a keras model with multiple outputs, you get multiple "loss" metrics. One for each output, and then an overall loss for the whole model. However when your model only contains a single output, the metr

[2020-01-26 04:48] phemmer commented on #36216
As an example, I commented out [this line in `training.py`](https://github.com/tensorflow/tensorflow/blob/c044803bcd710a040d6baa6f39588581ae1c5c01/tensorflow/python/keras/engine/training.py#L413) to expose the output loss, and you can see that there is indeed a difference (my output is called `action`):

[code]

As you can see, `loss != action_loss` and `val_loss != val_action_loss`.

[2020-01-26 05:17] Krishnarohith10 commented on #29958
I am using tensorflow==2.1 and when I ran this algorithm I got error saying this:
![1](https://user-images.githubusercontent.com/44919399/73130987-fca89e80-4028-11ea-85d7-b7e25c34e621.jpg)
Briefly it says that logs.get('acc') is Nonetype and 0.99 is float so, '>' this cannot compare.
Can someone help me?

[2020-01-26 05:18] jkkj1630 opened #36217 "Report "model_pruner failed: Invalid argument: Invalid input graph." when i call C++ API"
model format ".pb"
python are success to predict, input dim is {1,512},code like this:

sess = tf.Session()
graph = tf.get_default_graph()
with tf.gfile.FastGFile('./model_tags.pb','rb') as f:
	graph_def = tf.GraphDef()
	graph_def.ParseFromString(f.read())
	sess.graph.as_default()
	g_in = tf.import_graph_def(graph_def)
	tensor_input = sess.graph.get_tensor_by_name('import/input_1:0')
	tensor_outpu

[2020-01-26 06:38] punndcoder28 commented on #35342
Hey! I would love to work on this. Any guidance would be appreciated.

[2020-01-26 07:30] yohaiaz commented on #34580
anyone can help please. trying go get
go get github.com/tensorflow/tensorflow/tensorflow/go

getting an error "cannot find package..."

what i'm doing wrong ?

[2020-01-26 07:36] ruapotato commented on #36184
I'm getting something similar on the Librem5/PureOS
[code]

[2020-01-26 08:44] vaibhavgupta-hike commented on #23613
Both of the above solutions did not work for me.

The import command does not work, since there is no file 'bazel.rc' in the specified location, as has previously been mentioned by @jsonwang

Using -c opt made noi differnce either

[2020-01-26 09:18] ashutosh1919 commented on #35628
@sharvil , @jvishnuvardhan and @MarkDaoust. Please review the above PR of mine. I have solved the problem with the doc.

[2020-01-26 09:41] HLSS-Hen commented on #34637
@Xiaohui-Z  `get_confge()` is to tell keras what your parameters you defined in `__init__()`.
Here are my codes:
[code]
[code]

[2020-01-26 10:05] AlexCWestover commented on #18503
For people still facing this issue and know their CPU is compatible, try updating your Visual C++ redistributable can be found here. https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads

[2020-01-26 12:01] pramodjayram opened #36219 "tf.lite.converter.convert() Erroe"
**System information**
- OS Platform and Distribution Ubuntu 18.04
- TensorFlow version (or github SHA if from source):2.0.0b1

I am trying to test LSTM/GRU code using TensorFlow 2.0.0b1 in ubuntu 18.04.
Below you can find my simple model and converter code

[code]

I get the following error

[code]

[2020-01-26 12:02] FarisHijazi commented on #25807
For Windows users.

If the PATH variable is too long it won't work, you'll have to move it to the beginning.

![image](https://user-images.githubusercontent.com/47270244/73134865-ad746500-404c-11ea-8ab8-e3403eff466a.png)

Simply adding the path to the PATH environment variables isn't gonna work if PATH is too long, so I just moved to the beginning and it worked.

This happens because the PATH get'

[2020-01-26 13:08] BigIan1969 commented on #22794
Sorry I realize this isn't helpful but I've now given up trying to do anything serious with Python under Windows.  3 Weeks in and I'm still trying to install all the shit I need for the first tutorial (Maybe I set my sights too high but then I do remember punch cards and paper tape)

[2020-01-26 13:08] NickvdMeij commented on #35133
same here using docker.

`Sending build context to Docker daemon  11.26kB
Step 1/6 : FROM golang:1.13
 ---> 272e3f68338f
Step 2/6 : WORKDIR /go/src/app
 ---> Using cache
 ---> ab323f30415a
Step 3/6 : COPY ./go .
 ---> Using cache
 ---> ceb815a86117
Step 4/6 : RUN go get -d -v github.com/tensorflow/tensorflow/tensorflow/go
 ---> Running in 366c170d1ab3
github.com/tensorflow/tensorflow (download)
gi

[2020-01-26 13:54] gsdaemon commented on #35977
@alanpurple have you found a final solution?

What exactly did you updated?

Thanks

[2020-01-26 13:58] ashutosh1919 commented on #35816
@ManishAradwad , I don't think that it is a problem to batch together first and pre-processing later. These two things are independent and if the data is well shuffled then we can batch them before. Please state any disadvantages of this implementation?

[2020-01-26 14:02] Smsmadly commented on #9076
write
from tensorflow.python.keras.utils import data_utils

[2020-01-26 14:03] Squadrick commented on #34408
@shun-lin Any update on adding multi-input/multi-output support?

[2020-01-26 14:03] Squadrick commented on #34408
I can take up this issue if you're busy. Need it for a personal project.

[2020-01-26 14:33] mihaimaruseac commented on #36219
Why not switch to a final release? 2.0 or 2.1?

[2020-01-26 14:33] mihaimaruseac commented on #36217
Please properly format all code blocks using ` ``` ` and also fill in the issue template.

[2020-01-26 14:36] mihaimaruseac commented on #36207
I think this would be a better fit for StackOverflow

[2020-01-26 14:41] AkashB23 commented on #36207
Absolutely correct but i thought it may also help others if contributors specify bit ofmore information by specifying folder names that impliment major operations in the ReadMe section

[2020-01-26 14:43] brycearden commented on #33000
The GNMT tensorflow benchmark relies on `tf.contrib` heavily and would be a non-trivial amount of work to get this benchmark converted into TF2. However, this still reproduces on tensorflow `1.15.0`.

[2020-01-26 14:49] peter197321 opened #36221 "TF-Lite example label Image w shared library"
I have built tf-lite with shared `libtensorflowlite.so` library, I  am looking for help to get compiled label_image example using that shared library.
Basically to separate projects from the tf framework.
How do I set a shared library to use with label image example?

[2020-01-26 15:13] alanpurple commented on #35977
@gsdaemon
what i meant was "git pull" in master

[2020-01-26 15:55] Ekaanth commented on #14970
I'm still facing the problem despite using S in session.

[2020-01-26 16:16] enhany commented on #35791
I can confirm the same error with TF 1.13 and 1.15.
The error raises only in Windows.
I tried to get this error in CentOS/Ubuntu with the same GPU - nothing.

[2020-01-26 16:25] tensyq opened #36222 "Could we have conv2d_transpose for C++?"
**System information**
- TensorFlow version : 2.1

In python we have conv2d_transpose to upsample. Could we have something similar for the C++ api inaddition to ResizeBilinear, ResizeNearestNeighbor and ResizeBicubic and ResizeArea?

[2020-01-26 16:55] faroit commented on #33844
@Yablon I agree that this should be reopened. With full distributed training support, TF2 only recommends two ways for training which is `.fit` and custom (gradient tape) training loops.

Also I think the callbacks can easily be rewritten so that they are available from custom training loops. E.g. think of using a learning rate scheduler

[code]

[2020-01-26 18:05] jedrendelima opened #36223 "tensor flow instlaling error"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2020-01-26 18:05] wuliytTaotao commented on #35754
I prefer to install tensorflow with conda, because conda does not require us to consider GPU support. Hope tensorflow 2.1 can be installed through conda as soon as possible.

[2020-01-26 18:33] wmmxk commented on #30596
Hi, I was also training a tf.keras model. The loss reduced very quickly when calling model.fit but it plateaued very quickly when I updated the weights manually using tf.GradientTape(). Could I know how you figured out the reason?

[2020-01-26 18:36] wmmxk commented on #35585
I also run into the same problem. The loss is far larger when I updated the weights using tf.GradientTape than calling model.fit.

[2020-01-26 18:41] shun-lin commented on #34408
@Squadrick yes may you pick this one up? I didn't have too much time recently to dive deeper into good solution, thanks!

[2020-01-26 18:42] mihaimaruseac commented on #36223
https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-01-26 18:42] #36223 closed

[2020-01-26 18:42] mihaimaruseac commented on #36223
Closing as duplicate

[2020-01-26 18:47] xiang123 commented on #36208
after I pull the newest version of tensorflow problem solved

[2020-01-26 18:47] #36208 closed

[2020-01-26 18:48] xiang123 commented on #34425
after I switch CUDA back to 10.0 problem solved

[2020-01-26 18:48] #34425 closed

[2020-01-26 19:41] wmmxk commented on #31184
@jvishnuvardhan . I also run into the same problem when training a tf.keras model even though I add "train=True". The loss reduced sharply when calling model.fit, but the performance is far worse when I use tf.GradientTape.

I created a [reproducible example](https://colab.research.google.com/drive/1aIRqi_x-YGAFtZCWL4gkOPkW_8sSlZ_N) on Colab. Could you have a look? It would take 2 minutes to repro

[2020-01-26 20:00] dendrondal commented on #35925
I tried changing my model to Sequential to circumvent this error, and the error still occurs. Has anyone found a way around this?

[2020-01-26 20:06] rodyt opened #36224 "tf.keras NaN loss when using multiple GPUs"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): Pip
- TensorFlow version (use command below): 2.0
- Pytho

[2020-01-26 20:22] samhodge commented on #28388
I recently revisited this as part of the bazel process in bazel-bin directory there are _obj folders with the .o files

Running a

find bazel-bin -name “*.o” | grep -v “not these” > list.txt

Will get you a list of all of the .o files to make the bazel target you chose like libtensorflow_cc.so

Then you can write a short Python command to turn that list into a sub process to pack those .o files in

[2020-01-26 20:55] peter197321 opened #36225 "download_and_extract URL DIR download_dependencies.sh"
I follow [the build for arm64](https://www.tensorflow.org/lite/guide/build_arm64) and try  to execute `download_dependencies.sh` script but end up with issue:

[code]

Anybody can advise on this issue?

[2020-01-26 20:59] thelinuxmaniac opened #36226 "How is data laid out in TfLiteTensor.data.uint8[]?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux 4.19.0-6-amd64 #1 SMP Debian 4.19.67-2+deb10u2 (2019-11-11) x86_64 GNU/Linux
- TensorFlow installed from (source or binary):  source at https://github.com/tensorflow/tensorflow/archive/v2.1.0.tar.gz
- TensorFlow version (or github SHA if from source): 2.1.0

I am loading a MobileNet V2 in tensorflow-lite and th

[2020-01-26 21:05] thelinuxmaniac commented on #36226
I am trying to guess the layout using the code below:
[code]
If this were the data layout, my calculations should match the output of the average pool layer. But this does not match.

[2020-01-26 21:16] cmichelenstrofer opened #36227 "Poor performance and warning for GradientTape.jacobian with experimental_use_pfor=False"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-01-26 22:30] jguhlin commented on #35925
@dendrondal The only way I've found around it is not using tf.data at all and using a plain Python generator. @amahendrakar Should I submit a PR for the tf.keras.model doc's since they say they support tf.data datasets but that is incorrect?

[2020-01-26 22:55] callicles opened #36228 "tensorflow java GPU compute capabilties 6.0 instead of 3.7"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu Linux 18.06
- TensorFlo

[2020-01-27 00:06] byronyi commented on #36227
Any reasons why you are setting `experimental_use_pfor=False`? `pfor` means "parallel for" and it brings greater parallelism.

[2020-01-27 01:15] cmichelenstrofer commented on #36227
@byronyi Indeed I had to use both the ``experimental_use_pfor=False`` and the ``persistent=True`` options for my real case (would get an error and a message saying I needed to). But I did not check if this toy case would run without them. I will check in more detail tomorrow when I am back in front of a computer and update the toy case if necessary to better reflect my real case.

[2020-01-27 01:38] ghunkins commented on #31850
For anyone running into this, particularly when looking to run inference on a pre-trained `tf.keras.Model` object, simply load the model with the flag `compile=False`.

[code]

You will still be able to run inference using the `predict` functionality.

[2020-01-27 02:55] maximuslee1226 commented on #32793
Hi Shun-lin, Did you get any response on this one? I am getting the same error in the following
/usr/local/cuda-10.2/bin/nvcc
Sun Jan 26 18:52:57 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 440.33.01    Driver Version: 440.33.01    CUDA Version: 10.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Na

[2020-01-27 03:34] ZTZ-99 opened #36229 "external/pybind11\include/pybind11/pybind11.h(139): error C2783: “std::tuple<pybind11::detail::type_caster<pybind11::handle,void>>::tuple(void) noexcept(<expr>)”: 未能为“__formal”推导 模板 参数"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Windows 10 1903
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary):source
- TensorFlow version:1.15.0
- Python version: Python 3.6.8rc1
- Installed using virtualenv? pip? conda?: N/A
- Bazel version (if compiling from sourc

[2020-01-27 03:44] oanush commented on #36219
@pramodjayram,
Please switch to latest versions of tf 2.0 or 2.1 and try adding
[code]
in the code, and let us know if it helps. Please find refer #[35590](https://github.com/tensorflow/tensorflow/issues/35590) similar issue.Thanks!

[2020-01-27 04:28] ravikyram commented on #31850
@ghunkins

Request you to open the new issue by filling the [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).Thanks!

[2020-01-27 04:30] ghunkins commented on #31850
@ravikyram No issue, just adding a solution for any other lonely wanderers who have the same question / issue.

[2020-01-27 04:38] perfinion commented on #35653
It's a bundled libs problem. If pybind11 is installed with pip first, then those headers get picked up by `@local_config_python//:python_headers` and the pybind headers are duplicated and things go wrong. I've unbundled pybind in gentoo and it fixes it, i'll send a PR upstream soon to fix it in TF too, it needs some reworking because the `#include` paths are off in TF

[2020-01-27 04:55] ashutosh1919 commented on #33374
@mihaimaruseac , Please consider these changes in [#1435](https://github.com/tensorflow/docs/pull/1435) for doc correction till python 3.8 is not supported and review PR.

[2020-01-27 05:07] Saduf2019 commented on #36224
Could you please provide us with simple standalone code to reproduce the issue in our environment, Thanks.

[2020-01-27 05:07] ashutosh1919 commented on #35936
@JMMarchant , Close this issue if the doc is already merged with the alternative PR merge.

[2020-01-27 05:29] oanush commented on #36182
@Dok11 ,
I just tried accessing the[ link](https://services.google.com/fb/forms/tensorflowcasestudy/) worked fine without any issues, can you try again and let us know?Thanks!

[2020-01-27 05:41] djwenren commented on #36213
The original error when using clang as cuda compiler (cannot find libdevice) seems to go away after upgrading clang to a new version (10.0.0-++20200126090219+73a91477f70-1~exp1~20200126201656.19). Is the build supposed to be done either by gcc+nvcc or purely by clang? Or is Clang supported?

Using the new clang version still fails due to errors like the following. To isolate the problem, the targe

[2020-01-27 05:44] oanush commented on #36142
@klanderson ,
Please feel free to close the issue if its resolved.Thanks!

[2020-01-27 05:55] ashutosh1919 commented on #35336
@CNOCycle , Please try to see Nightly it shows the arguments and returned params if it helps.

[2020-01-27 06:03] sanjoy commented on #32793
@shun-lin Can you try running with tf-nightly?  The codepath that was causing the original error has been fixed.

@maximuslee1226 What version of TF are you using?

[2020-01-27 06:07] sanjoy commented on #24751
Closing for lack of activity.  If this is still blocking you please reopen with a reproducer.

[2020-01-27 06:07] #24751 closed

[2020-01-27 06:21] SirPhemmiey commented on #33746
Hey guys, this didn't work for me. I'm still getting the same error
<img width="1183" alt="Screen Shot 2020-01-27 at 10 20 36 AM" src="https://user-images.githubusercontent.com/22390818/73153853-bc135880-40ee-11ea-8816-7e99ab176f69.png">

[2020-01-27 06:32] yxchng opened #36231 "How to save weights of part of a network in TF2.0?"
TF provides `save_weights` API which saves the weights of a network. However, it does not allow one to save only part of the network. For instance, I have

[code]

and I just want to save the weights of `group1`. PyTorch has the `ModuleList` API which is able to turn `group1` into a subnetwork and allows one to just call `X.group1.save_weights(...)`. What about TF? How to do so in TF2.0?

[2020-01-27 07:04] oanush commented on #35601
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-27 07:04] #35601 closed

[2020-01-27 07:04] oanush commented on #35646
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-27 07:04] #35646 closed

[2020-01-27 07:05] oanush commented on #35681
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-27 07:05] #35681 closed

[2020-01-27 07:12] chris-opendata opened #36232 "Convert TensorArray to RaggedTensor"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): TensorFlow-gpu 1.14+
- Are you willing to contribute it (Y

[2020-01-27 07:25] Rixtrema commented on #28582
How exactly did you upgrade those? I am getting the same error with tf 1.15 and CUDA v10. Thanks!

[2020-01-27 07:50] freedomtan commented on #36170
`--host_linkopt=-lm` should work.

[2020-01-27 08:51] oanush commented on #35772
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-27 08:51] #35772 closed

[2020-01-27 08:53] oanush commented on #35815
@bersbersbers ,
Any update on the issue ?Thanks!

[2020-01-27 08:56] abinayakanthanathan opened #36233 "object_detection"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2020-01-27 08:56] oanush commented on #35863
@Jon573 ,
Just provide us the complete code with link of data-set used so that we can reproduce the issue.Thanks!

[2020-01-27 08:57] shashank3110 commented on #36222
As an alternative to Conv2DTranspose you could also  use Upsample + conv2D for achieving deconvolution/learnable upsampling .

[2020-01-27 09:01] oanush commented on #36198
@yourtheron ,
Thank you for raising bug, can you please provide us an example to reproduce the issue?

[2020-01-27 09:07] gadagashwini commented on #36194
@wmmxk, Can you provide the complete code to reproduce the reported issue and also Tensorflow version. Thanks!

[2020-01-27 09:07] shashank3110 commented on #36209
As an alternative approach you could try Mask-RCNN [https://github.com/matterport/Mask_RCNN](url)  however i think maskrcnn is instance based.

[2020-01-27 09:22] bersbersbers commented on #35815
Not really, it's still and issue in 2.1, and I have no idea whether to expect that that this will be fixed in TF 2.1.x (or TF 2.2, for that matter).

[2020-01-27 09:24] gadagashwini commented on #36217
@jkkj1630, Please fill the issue [Template](https://github.com/tensorflow/tensorflow/issues/new/choose).

[2020-01-27 09:26] gadagashwini commented on #36203
Was able to reproduce the issue with Tf 2.1.
Please find the gist [here](https://colab.research.google.com/gist/gadagashwini/b4ffb529c9f547b739dcb41b4a6cfe73/untitled358.ipynb). Thanks!

[2020-01-27 09:26] pramodjayram commented on #36219
I switched to the latest version of tf 2.1 and added the above lines. It perfectly created the tflite file. But when I use the GRU model on the board, I get an error message on the serial console of the board.
[code]
If I remove the GRU layer from the model above, it works perfectly. But when GRU is included it ends up with this error.
It would be quite helpful if somebody knows the solution or an

[2020-01-27 09:28] gadagashwini commented on #36181
Could able to reproduce the issue with Tf 2.1.
Please take a look at the gist [here](https://colab.research.google.com/gist/gadagashwini/a64c7d6f31212ac2b3b0653989d45b32/untitled359.ipynb). Thanks!

[2020-01-27 09:31] JacobLau84 commented on #26696
Any Update?

[2020-01-27 09:32] ye2020 commented on #28007
I know the root cause for this issue is not in the tf.summary module, but for those who get here because of using tf.summary.image() inside @tf.function, my workaround is to return the outputs and do summaries outside:
[code]

[2020-01-27 09:44] B0yma opened #36234 "SpeechRecognition android example"
**System information**
- OS Platform - macOS mojave:
- TensorFlow version - master

**Failure details**
im trying to build example from tensorflow/tensorflow/examples/speech_commands/
so i save model by freeze.py and get savedModel then i build android app from tensorflow/tensorflow/examples/android/
so my quesion is how to use savedModel in mobile in this example?

another question is how to conv

[2020-01-27 09:48] gadagashwini commented on #36114
@dishkakrauch, Can you provide data as zip as file here. Thanks

[2020-01-27 09:50] Jon573 commented on #35863
@oanush
I am unable to provide the dataset for privacy reasons, but I no longer have the problem since I moved to using the latest docker image provided over the weekend. There must have been something wrong with the install on both machines but I don't know what.

I also found, during debugging, that normalising the images using `image = (image/127.5) -1 ` as done in the transfer learning with tr

[2020-01-27 09:55] angelineaish opened #36235 "Dll load failed"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2020-01-27 10:01] foxik opened #36236 "GradientTape.gradient fails when tf.gather is used after LSTM/GRU in tf.function"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Stretch**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use command below)

[2020-01-27 10:18] wllhf commented on #35968
As tensorflow points to tensorflow-gpu now, uninstall tensorflow and install tensorflow-cpu if you are on a non GPU machine.

[2020-01-27 10:22] #35863 closed

[2020-01-27 10:23] Dok11 commented on #36182
Still 403 (google chrome and firefox)
![image](https://user-images.githubusercontent.com/2697890/73167036-25539580-4108-11ea-8f10-a9f1cd1f057e.png)

[2020-01-27 10:23] gadagashwini commented on #35936
@JMMarchant, Associated PR has been merged, can we close this issue. Thanks!

[2020-01-27 10:26] oanush commented on #36235
@angelineaish ,
Hi, please provide the information asked in the template.
Also please refer the [comment1](https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577874481) [comment2](https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156) from @mihaimaruseac for similar issue and let us know if it helps.

[2020-01-27 10:40] JMMarchant commented on #35936
Looks good! Thanks all!

[2020-01-27 10:40] #35936 closed

[2020-01-27 10:44] tomshalini commented on #35729
Could you please tell me reason of increasing model's parameter by prunning wrapper?

[2020-01-27 10:45] shashank-industrail commented on #36154
@ymodak Could you Please take a look of this issue.

[2020-01-27 10:56] shauryad15 commented on #35389
any help sir?

[2020-01-27 11:01] MiWeiss opened #36237 "Layer Names tf.keras.applications vs keras.applications not matching"
Not sure if this is a documentation issue or a functional bug.

## Description of issue:
The layer names in 'tf.keras.applications' are not consistent with the layer names in 'keras.applications'.

## Example:
`keras.applications.resnet50.ResNet50(weights='imagenet').summary()` prints the following layers:

`tf.keras.applications.resnet50.ResNet50(weights='imagenet').summary()` prints the followin

[2020-01-27 11:04] ashwin17083 commented on #32377
I am facing a similar issue. I tried to downgrade gast version 0.2.2.
OS:CentOS Linux release 7.7.1908 (Core)
tensorflow version: 1.15.0-dev20190718

The issue aeries when saving the lstm model as:
final_model.save("complete_model",save_format='tf') whereas it is doesnt throw an error upon saving it as final_model.save("complete_model.h5")

The error message is as follows:

W0127 16:22:09.873542 1

[2020-01-27 11:09] Jap8nted commented on #32557
I tried it, the problem remained the same. The kernel is killed. Any other think I could do?

3.7.6
v1.12.1-23065-g4fb7a4a
2.2.0-dev20200123
2.2.0-dev20200123

[2020-01-27 11:25] ashwin17083 opened #36238 "AutoGraph issue"
**System information**
- OS Platform and Distribution : CentOS Linux release 7.7.1908 (Core)
- TensorFlow version: 1.15.0-dev20190718
- Python version: 3.4

I am trying to save a custom built LSTM model.
The issue arises when saving the lstm model as:
final_model.save("complete_model",save_format='tf'), whereas it is doesn't throw an error upon saving it as final_model.save("complete_model.h5").

[2020-01-27 11:40] patzm commented on #36179
Can you also push the docker image for that?

[2020-01-27 11:41] ravikyram commented on #36003
@brian1985

Any update on this issue please. Thanks!

[2020-01-27 11:49] lgeiger commented on #36126
I think the error still needs to be fixed, it is just not showing up in colab since it logs inside C++

[2020-01-27 12:08] gadagashwini commented on #36221
@peter197321, Please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose). Thanks!

[2020-01-27 12:09] gadagashwini commented on #36222
@tensyq, Please fill the issue [Template](https://github.com/tensorflow/tensorflow/issues/new/choose). Thanks!

[2020-01-27 12:15] gadagashwini commented on #36225
@peter197321, Can you please fill the [Template](https://github.com/tensorflow/tensorflow/issues/new/choose) to analyze the issue. Thanks!

[2020-01-27 12:29] amahendrakar commented on #36175
@ChetanRajput,
Could you please provide the supporting files you are using. Tried to reproduce the error but was unable to do so, please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/e15d127d27ab2cfea9bedd1b67e8c34d/36175.ipynb). Thanks!

[2020-01-27 12:44] lgeiger opened #36240 "TF 2.1 Keras: Cached datasets use 40% more memory than in TF 2.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.1.0
- Python version: 3.7.6
- CUDA/cuDNN version: 10.1 / 7.6.5.32
- GPU model and memory: NVIDIA V100

*

[2020-01-27 12:46] gdudziuk commented on #35030
@yhliang2018, the issue was not reproducible on colab from the very beginning (see the discussion above), just on local machines. So closing the issue basing on colab results is not relevant. Said that, the issue is not fixed for me with tf-nigtly. I have just tested both TF 2.1.0 and TF nightly (2.2.0-dev20200123) on my local workstation and I obtain the same results as before (i.e. twice too hig

[2020-01-27 12:49] ruizengalways commented on #4914
selsqrt_grad is very interesting

[2020-01-27 12:54] ravikyram commented on #36231
@yxchng
Can you please go through the [link](https://www.tensorflow.org/tutorials/keras/save_and_load) ,[link2](https://www.tensorflow.org/guide/keras/save_and_serialize)and see if it helps you. Thanks!

[2020-01-27 13:07] gdudziuk commented on #33030
For me the memory leak is fixed with TF 2.1.0. I get low and stable memory usage for the above test code. There is a speed problem however, but this is a separate issue (cf. #35124).

[2020-01-27 13:09] arjun-majumdar opened #36241 "EarlyStopping TensorFlow 2.0 discrepancy"
I am running a code using Python 3.7.5 with TensorFlow 2.0 for MNIST classification.
I am using **EarlyStopping** from TensorFlow 2.0 and the callback I have for it is:

    callbacks = [
                 tf.keras.callbacks.EarlyStopping(
                     monitor='val_loss', patience = 3,
                     min_delta=0.001
                 )
    ]

According to [EarlyStopping - TensorFlow 2.

[2020-01-27 13:10] igorhoogerwoord commented on #36121
Report on installing dependencies:

[code]
 Installing cuda-runtime-10-1 results in:
[code]

Installing cuda-drivers results in:
[code]

Installing ```libnvidia-fbc1-440``` is successful and then also lets me install ```cuda-drivers```.
cuda-drivers installation is successful and now it appears I can run this part from the guide without problems:
[code]

However, when testing to see if Tensorflow

[2020-01-27 13:17] igorhoogerwoord commented on #36121
Update 2:

When trying to reinstall ```sudo apt-get install --no-install-recommends nvidia-driver-418``` from the guide:
[code]

It appears that Nvidia driver 418 depends on 430. When trying to install nvidia-driver 430 I ran into the same problem of many broken packages which would not be installed.

After successfully installing nvidia-driver-430 by going down the rabit hole of broken packages a

[2020-01-27 13:18] ravikyram commented on #36233
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2020-01-27 13:20] elaPa commented on #31140
Yes, I needed this for the signature field. Perfect, thank you for letting me know. Closing this issue then.

[2020-01-27 13:20] #31140 closed

[2020-01-27 13:20] monocongo commented on #36209
Thanks @shashank3110 . Unfortunately, I have already tried Mask R-CNN and had similar issues with that model (see [this](https://github.com/matterport/Mask_RCNN/issues/1961) and [this](https://github.com/matterport/Mask_RCNN/pull/1896#issuecomment-578460832)).

[2020-01-27 13:36] yutkin commented on #36155
Short output of Valgrind:
[code]

[2020-01-27 13:49] yutkin commented on #36155
Full output of `valgrind -s --leak-check=full --log-file=valgrind-out.txt ./facedetector`
[valgrind-out.txt](https://github.com/tensorflow/tensorflow/files/4117365/valgrind-out.txt)

[2020-01-27 14:08] LemonRay commented on #35614
Have you solved the problem yet? If you did it, could you tell me? Thanks!

[2020-01-27 14:11] renatobellotti opened #36244 "Default training algorithm: When are the gradients applied?"
## Description of issue (what needs changing):

It is not clear how a Keras model is trained by default. Are the gradients applied after each minibatch, or are they averaged over all minibatches, and then the average gradients are applied?

[2020-01-27 14:17] renatobellotti opened #36245 "Malformatted doc page for SGD optimizer"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/SGD#apply_gradients

## Description of issue (what needs changing):

### Clear description

The formatting in the "References" section is wrong; there is a ``nesterov = True,`` that has nothing to do with the reference.

[2020-01-27 14:17] nkoep opened #36246 "Hessian-vector product raises exception about Fetch argument"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v1.15.0-

[2020-01-27 14:21] himanshisyadav opened #36247 "XLA Warning and could not interpret set environment"
**System information**
- OS Platform and Distribution:18.04
- TensorFlow version: 1.14.0
- Python version: 2.7.17

`Couldn't interpret value =/home/hyadav/deephyp/lib/python2.7/site-packages/tensorflow/compiler/xla:--tf_xla_cpu_global_jit=/home/hyadav/deephyp/lib/python2.7/site-packages/tensorflow/compiler/xla:=--tf_xla_cpu_global_jit=--tf_xla_cpu_global_jit for flag tf_xla_cpu_global_jit.`

I tri

[2020-01-27 14:22] peter197321 opened #36248 "TF-Lite example label Image w shared library"
Please update `label_image` example to be compilable using a shared library.
It means to use a shared library with `label_image` example.

[2020-01-27 14:23] #36221 closed

[2020-01-27 14:27] peter197321 opened #36249 "Issue on download_and_extract URL DIR download_dependencies.sh"
I follow [the build for arm64](https://www.tensorflow.org/lite/guide/build_arm64) and try  to execute `download_dependencies.sh` script but end up with issue:

[code]

How it can be fixed?

[2020-01-27 14:27] #36225 closed

[2020-01-27 14:31] gm-spacagna opened #36250 "Tensorflow keras metrics cannot be used straight into the keras compile method"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu
- TensorFlow installed from (source or binary): using pip
- TensorFlow version (use command below):  2.1.0
- Keras version: 2.3.1
- Python version: 3.6.4

tensorflow.version.GIT_VERSION, tensorflow.vers

[2020-01-27 14:49] ablanch5 commented on #27416
I noticed that in this post when you create your model you get the values of feature_layer_inputs with .values() function. I think this could be dangerous because you cannot gaurantee that the values are in the correct order. I think you should probably use an OrderedDict no?

[2020-01-27 14:55] byronyi commented on #36240
I am using TF 2.0/2.1/2.2 nightly for regular benchmarking ImageNet models and I did not find this issue loading data from disks. Btw I have not used tensorflow datasets; maybe it is better for you to raise the question there.

[2020-01-27 14:57] josdewitte opened #36252 "TF 2.1 libtensorflow library does not build under Windows"
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
None
- TensorFlow installed from (source or binary):
Source
- TensorFlow version:
master or 2.1 labeled version
- Python version:
3.6.8
- Installed using virtualenv? pip? conda?:
Partially Pip as specified in manual at
- Bazel version

[2020-01-27 15:01] lgeiger commented on #36240
@byronyi This issue only appears when caching the dataset using `.cache()`, have you tried it with caching? Also I am reading the data from `GCS` which might change the story a bit.

[2020-01-27 15:01] netskink commented on #32557
Still results in segmentation fault.

code gist is [here](https://gist.github.com/netskink/078c114a2e4d1a73c853822487b9ebc0).

output is here
---------------------
tf20) davis@twenty:~/progs/tf-boost$ head minimal.py
# from
# https://www.tensorflow.org/beta/tutorials/estimators/boosted_trees
# TODO: 2.0 is out now
#!pip install tensorflow==2.0.0-rc1
#try:
#    %tensorflow_version 2.x
#except Excep

[2020-01-27 15:14] nbro commented on #36181
See https://github.com/keras-team/keras/issues/4506#issue-191721607.