[2020-05-27 01:23] abattery commented on #37626
@aruno14 are you using the stateful RNN op in the model?

[2020-05-27 01:28] reedwm commented on #39894
I think this is fixed in 2730e4b0bcba80799ddc10f52081927848540f30. Unfortunately, this commit didn't make it into TF 2.2. I commented a very hacky workaround in [this comment](https://github.com/tensorflow/tensorflow/issues/38516#issuecomment-613712149).

[2020-05-27 01:28] #39894 closed

[2020-05-27 01:45] vatsan commented on #9330
This might sound ridiculous but it appears like tensorboard did not like me using my Google Drive folder for logs (`/Users/me/Google Drive/logs`). When I switched it to something without a space (ex: `/tmp/me/logs`) it works alright. Ugh!

[2020-05-27 01:52] aruno14 commented on #37626
@abattery I used the script given by @thaink to generate the model. So It only contains `LSTM ` and `Embedding`.

[2020-05-27 02:00] renjie-liu commented on #37626
@aruno14 the error is because the batch size is not set, can you fix the batch size when export to tflite?

thanks!

[2020-05-27 02:04] StephenGreat commented on #29574
Actually, some functions for graph optimization cause that problem.
These functions are :

- strip_unused_lib.strip_unused
- graph_util.remove_training_nodes
- fold_batch_norms

The following code must be after these optimized functions.
`for function_def in graph_def.library.function:
     if function_def.signature.name == 'swish_f32':
        new_graph_def.library.function.extend([copy.deepcopy(

[2020-05-27 02:32] driedler commented on #34057
From what I can tell there is a regression in the latest master:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/micro/micro_allocator.cc#L177
The inverted logic is back.

[2020-05-27 02:42] Kuloud commented on #35445
None, we changed the model.

[2020-05-27 02:42] #35445 closed

[2020-05-27 02:46] anavanab99 commented on #39818
@Saduf2019
[tf2_env.txt](https://github.com/tensorflow/tensorflow/files/4686151/tf2_env.txt)

Okay, I use anaconda to configure the tensorflow environment, which is all my environment dependent files

[2020-05-27 02:49] severussong commented on #32549
Have you figured out how to solve this problem

[2020-05-27 02:51] GaussRieman commented on #36433
Hi, Have you solved this problem?

It has been troubling me for quite a long time until I add a header file in the source cpp in which the main function is compiled.

You can try to add "tensorflow/cc/client/client_session.h" in your entrance source file.

Though It has solved this problem, but I still don't know why.

[2020-05-27 02:53] aruno14 commented on #37626
@renjie-liu Sorry, I don't know how to set the batch size...

[2020-05-27 02:57] Crispy13 commented on #37571
I know that google colab does not support multiple gpu. Does mirrored strategy work on one gpu?

[2020-05-27 03:06] godweiyang commented on #7414
I come across the same issue as yours when I use `tf.image.extract_patches`. Do you have ways to solve it?

[2020-05-27 03:06] w19787 commented on #39875
the comments are acceptable. thanks. this issue will be closed.

[2020-05-27 03:06] #39875 closed

[2020-05-27 03:08] renjie-liu commented on #37626
@aruno14 can you try the codelab here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/experimental_new_converter/Keras_LSTM_fusion_Codelab.ipynb

specially see the using concre function part to set the shape

thanks!

[2020-05-27 03:57] ravikyram commented on #39874
@AngelPone

Can you share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-05-27 04:27] kevint324 commented on #24135
same problem on TF1.14
First it's the link to mkl_dnn is broken. comment that out, then the broken icu leads me here.
Seems tensorflow doesn‘t maintain release version availability at all.

[2020-05-27 04:30] Saduf2019 commented on #39162
@EgorLakomkin
Please update as per above comment.

[2020-05-27 04:33] bondhugula opened #39895 "[MLIR] xla hlo -> lhlo conversion issue when operand is a constant tensor"
With master branch as of 831a55584749593400807e0baa7478476b5dbc70 (May 26):
The xla hlo to lhlo lowering doesn't convert completely when the operand of an op (in this example below, that of broadcast_in_dim) is a constant tensor. To reproduce, please use:

[code]

and

[code]
Using `-print-ir-after-all` reveals the operand for the lhlo broadcast_in_dim op wasn't converted to a memref:

[code]
This

[2020-05-27 04:35] aruno14 commented on #37626
@renjie-liu Thank you for your link. It was a little too complicated for me.
Finally, I found how to setup batch size on input and it works fine. I used below code:
[code]

I could convert it to tflite model and used it in an Android app.

I also tried to use concre function, but I don't know how to set it correctly (shape and 2 inputs).
I used below code inserted after the above code:

[code]

An

[2020-05-27 04:43] #38760 closed

[2020-05-27 04:53] Saduf2019 commented on #39895
@bondhugula
Please share simple stand alone code for us to replicate the issue faced.

[2020-05-27 05:04] ravikyram commented on #39878
I have tried in colab with TF version 2.1, 2.2 and nightly version(2.3.0-dev20200526) and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/9cbaf9474dceb8c5184247e633a3bff5/untitled45.ipynb#scrollTo=T9IWe6lpeyO9).Thanks!

[2020-05-27 05:05] renjie-liu commented on #37626
sorry for your trouble and glad you found a way to make it work :)

I think the error message says

[code]
for the first input, it should be 2-d, and you have two inputs, you would need to construct two separate `tf.TensorSpec`s.

[2020-05-27 05:15] neel04 commented on #39789
@Saduf2019 As discussed in my question above, the training data looks something like this:-
`0,5`
`1,6`
`2,7`
`3,8`
`4,9`
Where 5 is added to each number. So, you can simply create a file named `train.csv` and modify it's path in the Colab notebook. The `csv` file would contain data in the given format. My function will then convert this to an array automatically upon running the code.

Regards,
N

[2020-05-27 05:27] Saduf2019 commented on #39883
@ruixin-bao
Please share simple stand alone code for us to replicate the issue faced along with the exact steps before which you encountered this issue

[2020-05-27 05:33] Saduf2019 commented on #39789
@neel04
I ran the code with the csv and face [this error](https://colab.sandbox.google.com/gist/Saduf2019/f78fcad22fee1d84c8cb91d8b637fd09/untitled197.ipynb), can you please share a colab gist with the error for us to analyse it.

[2020-05-27 05:42] neel04 commented on #39789
@Saduf2019 I think that the problem is arising due to the incorrect length of training data. You can copy/paste this exact sequence in the `train.csv` for further use.

`0,5`
`1,6`
`2,7`
`3,8`
`4,9`
`5,10`
`6,11`
`7,12`
`8,13`
`9,14`
`10,15`
`11,16`
`12,17`
`13,18`
`14,19`

[2020-05-27 05:48] Saduf2019 commented on #39879
@TekayaNidham
The gist shared does not replicate the issue, please share it after you run and face the error.

[2020-05-27 05:57] bondhugula commented on #39895
But that's exactly what I provided above. Did you expect something else?

[2020-05-27 05:57] Saduf2019 commented on #39869
@raharth
Please refer to [this link](https://stackoverflow.com/questions/28036812/indexerror-too-many-indices-for-array) and let us know if it helps

[2020-05-27 06:04] ravikyram commented on #39885
@TekayaNidham
This issue is more suitable for TensorFlow Models repo. Please post it on Models repo from [here.](https://github.com/tensorflow/models/issues) Thanks!

[2020-05-27 06:10] #25058 closed

[2020-05-27 06:14] Saduf2019 commented on #39872
I ran the gist shared and was able to replicate the issue, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/c5ceac8ed5f3bf255ed941125576e151/untitled204.ipynb)

[2020-05-27 06:21] ravikyram commented on #39890
@cheers00

Request you to fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).Thanks!

[2020-05-27 06:27] Saduf2019 commented on #39789
I am able to replicate the issue reported, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/42189e7e4645183431851f04b22028ea/untitled204.ipynb) Thanks!

[2020-05-27 06:28] ravikyram commented on #39284
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-05-27 06:28] #39284 closed

[2020-05-27 06:32] Saduf2019 commented on #30635
@larryrxu
Is this still an issue.

[2020-05-27 06:35] Saduf2019 commented on #30647
@hashishoya
Is this still an issue

[2020-05-27 06:36] Saduf2019 commented on #30672
@ufimtsev
Is this still an issue.

[2020-05-27 06:39] Saduf2019 commented on #31619
@yqtianust
Is this still an issue.

[2020-05-27 06:42] AdrienCorenflos commented on #38909
Hi,

As an FYI, this behaviour persists when asking for larger samples. This is a table of the log-time (log seconds) it took to sample a uniform of a certain log-size. For most practical purposes (<1M samples) tensorflow is severely underperforming. Note that this is not improved by decorating the call to random nor is by using stateless sampling. I tried using THREEFRY to see if the otherhead wa

[2020-05-27 06:56] a798347923 commented on #39783
It's running on a desktop of ubuntu,thanks.

[2020-05-27 07:02] dragen1860 commented on #34604
@siju-samuel Thanks for your update!
yes, ExtraImagePatches op is really important! I hold the same opinion with you!

[2020-05-27 07:18] storypku commented on #39759
Has any one any idea on how to fix this?

[2020-05-27 07:32] nicolastonon commented on #36433
Hi, yes I managed to solve it, unfortunately I tried so many things I don't remember what helped.
I now link as such (probably an overkill):
`LFLAGS+= -L/home/mypath/tensorflow/bazel-bin/tensorflow -Wl,--allow-multiple-definition -Wl,--whole-archive -ltensorflow_framework -Wl,--whole-archive -Wl,--no-as-needed -ltensorflow_cc #-lprotobuf`

I think what caused the issue for some reason was this :
`

[2020-05-27 07:35] amahendrakar commented on #39718
Closing this issue as resolved.

[2020-05-27 07:36] amahendrakar commented on #39718
@sramirez,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template along with the complete code, so that we can track the issue there. Thanks!

[2020-05-27 07:56] tjan90 commented on #35573
python 3.6, Tf 2.2.0, protobuf 3.12.1. Stil doesnt work, tried many other other of both tf and protobuf but no success.
Using Pycharm and working in venv

[2020-05-27 07:57] TekayaNidham commented on #39879
@Saduf2019 while doing it i ran into another error i solved before by copying object detection folder in my workspace, but on gist didn't seem to work, could you please check it

[2020-05-27 08:16] Thomas-K-John commented on #39745
Any updates on this?

[2020-05-27 08:27] JacobSMoller commented on #39307
@ConverJens Sorry didn't get a notification for you writing me.

Yes not a nice solution. But i did make it work...

Here is a public bucket with working libtensorflow 2.2 for unix and osx (If you haven't got them already)

https://console.cloud.google.com/storage/browser/vml-tf-lib?forceOnBucketsSortingFiltering=false&project=dev-vml-cm

The next step is the not so nice step...

`FROM golang:1.13

[2020-05-27 08:28] amahendrakar commented on #39834
Was able to reproduce the issue with [TF v2.2](https://colab.research.google.com/gist/amahendrakar/c9337fcd83ce34c7a8d968b2980070c9/39763.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/cccc06e3bdd090a88ba9ccfe805c07c0/39763-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-05-27 08:38] philipp-ghtest commented on #39257
@ymodak @ravikyram any updates on this?

[2020-05-27 09:06] J1810Z commented on #38598
Trying the latest nightly (tf_nightly-2.3.0.dev20200526-cp37-cp37m-manylinux2010_x86_64.whl), the problem is unfortunately only partly solved for me. After around 3 million model predicts, memory consumption still increased by 200 MB. The memory consumption of the code is completely stable with tensorflow-gpu 2.0.1.

[2020-05-27 09:08] amahendrakar commented on #39870
@pranathibl,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the TensorFlow version you are using. Thanks!

[2020-05-27 09:11] amahendrakar commented on #39873
@Tolure,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-05-27 09:11] AndreiUngureanu101 commented on #39786
@Saduf2019, thanks for the reply but none of these solutions worked

[2020-05-27 09:19] AlAlaa-Tashkandi commented on #26835
don't miss '{' after 'custom_objects='

[2020-05-27 09:24] Azrael1 opened #39899 "Batch, shuffle, and unbatch"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-05-27 09:24] fzalkow opened #39900 "Keras: Regularizer not saved for Lambda layers"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Ubuntu 16.04.6 LTS
- TensorFlow installed from: binary, using pip
- TensorFlow version: v2.1.0-rc2-17-ge5bf8de 2.1.0
- Python version: 3.6.6
- CUDA version: 10.2

**Describe the current behavior**

Using the keras API, I can add regularizers to all layers. However, if I add a regularizer to a Lambda layer, aft

[2020-05-27 09:27] wwwind commented on #39718
@amahendrakar Could this bug be fixed in tf-nightly ?
I am working with tf-nightly and I really appreciate if it will be fixed in the current code.

[2020-05-27 09:33] wangxiang2713 commented on #23898
same issue, any possible solution?

[2020-05-27 09:36] hashishoya commented on #30647
well, I haven't tried this anymore as I shifted to other C++ inference APIs like TensorRT, which have their own problems 😆 but easier to manage and solve.

Anw, I guess the provided @sitting-duck 's solution might be working well, so I'm closing this issue and would re-open it later if needed ..

[2020-05-27 09:36] #30647 closed

[2020-05-27 09:55] sohartma commented on #39871
@ravikyram sure!

[2020-05-27 10:28] ravikyram commented on #39900
I tried in colab with TF version 2.1, 2.2, nightly versions and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/c6d52af5beef1cdd7a64c4203d1b788f/untitled930.ipynb).Thanks!

[2020-05-27 10:35] amahendrakar commented on #39763
@alvarobasi,
I am facing a `NonMatchingChecksumError` while loading the dataset. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/1fbde998f49c33cf39e49dacbc42c491/39763.ipynb#scrollTo=P895a6UMnZSo).

Could you please try running the code in a virtual environment and check if it still crashes Ubuntu. Thanks!

[2020-05-27 10:52] kkimdev commented on #39864
I'm sorry for the trouble but this was an explicit API decision now allowing variable recreation in tf.function.

If you don't want to create variable outside, there are two workarounds:

[code]

[2020-05-27 10:58] liyinhgqw commented on #39524
I've got this issue too. Is it relevant to RTTI?

[2020-05-27 10:58] liyinhgqw commented on #39524
https://github.com/tensorflow/tensorflow/issues/25113

[2020-05-27 11:10] Azrael1 commented on #39899
https://colab.research.google.com/drive/1nyymFSV6-tAX9WuZ_LmPaO570Q1dWJsn#scrollTo=mw68rBbhs1Gs

Solved issue by the link presented above, thank you.

[2020-05-27 11:10] #39899 closed

[2020-05-27 11:13] GACLove commented on #39669
@hyc3z you can try this.  it's work  https://github.com/phrb/intro-cuda/blob/master/src/cuda-samples/7_CUDALibraries/cuHook/libcuhook.cpp

[2020-05-27 11:13] voravich-ch opened #39903 "Can't import tensorflow ( tf-nightly-gpu)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Window10
- TensorFlow installed from (source or binary): Anaconda
- TensorFlow version: tf-nightly-gpu    2.3.0.dev20200526
- Python version: Python 3.7.4
- Installed using virtualenv? pip? conda?: Yes
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version:

[2020-05-27 11:20] EgorLakomkin opened #39904 "XLA compilation requires that operator arguments that represent shapes or dimensions be evaluated to concrete values at compile time"
Hi,

I am compiling a custom RNN with XLA (colab link to reproduce with tf-nightly https://colab.research.google.com/drive/1ehh6kklHmXSmcDs6mCdM-6y59v01dXKF?usp=sharing#scrollTo=MpeMlEwGje0n).

What I get is:
    XLA compilation requires that operator arguments that represent shapes or dimensions be evaluated to concrete values at compile time

 It could be as well that I am doing something comple

[2020-05-27 11:22] EgorLakomkin commented on #39060
@cheshire Thank you! Filed a ticket with another issue: https://github.com/tensorflow/tensorflow/issues/39904 Cannot assign you directly on GitHub (at least did not find out how).

[2020-05-27 11:24] EgorLakomkin commented on #39162
@cheshire thank you, then maybe we can close this ticket.

[2020-05-27 11:33] EgorLakomkin commented on #39811
Hi @ravikyram, I am getting ResourceExhaustedError as it looks like 15GB of GPU memory is asked to be allocated

[2020-05-27 11:38] adityak1911 commented on #38461
same issue here also

[2020-05-27 11:39] raharth commented on #39869
@Saduf2019
I have seen that post but I think it is a different problem.

If I run a loop over sentences of different length, it sometimes work sometimes it does not, even though all of them have the same shape (1D tensors). To demonstrate that I have added the code with a tensor of the same shape but a different length. Empirically it works with tensors longer than ~30 entries, but fails with shor

[2020-05-27 12:05] JoanaGodinho commented on #37485
@fionapatriciamoss have you found a solution for this issue?
I'am having the same problem using tensorflow v1.15 and tf.keras.utils.Sequence as my input data.

[2020-05-27 12:07] Azrael1 commented on #39899
https://colab.research.google.com/drive/1nyymFSV6-tAX9WuZ_LmPaO570Q1dWJsn#scrollTo=mw68rBbhs1Gs

Solved

[2020-05-27 12:09] shivangipandey06 commented on #29054
I hard coded the value and changed it to 1917 instead of 10, but again i am getting error as this .Please help.

 java.lang.IllegalArgumentException: Cannot copy between a TensorFlowLite tensor with shape [1, 1917, 2] and a Java object with shape [1, 1917].
        at org.tensorflow.lite.Tensor.throwIfShapeIsIncompatible(Tensor.java:435)
        at org.tensorflow.lite.Tensor.throwIfDataIsIncompati

[2020-05-27 12:21] mathlf2015 commented on #30175
hello mdorier , can you show the code which help you solved this issue, i met the same problem

[2020-05-27 12:28] ruixin-bao commented on #39883
Hi,
@Saduf2019, thank you for the reply. I encountered this error while running the test cases, so might not have a simple stand alone code. I tried isolating that test case (and its related functions) into the following python file, would that work?

[code]

I originally encountered this issue after I build TensorFlow 2.2.0 on Ubuntu 18.04 x86 and run its test suite, but that might be a bit time

[2020-05-27 12:34] mdorier commented on #30175
Right now I still sort of hard-code `libraries=[':libtensorflow_framework.so.2']` when creating the `Extension` object. My code is a bit particular, it runs on a supercomputer and I cannot `import tensorflow` on the node where I'm building it (tensorflow is cross-compiler for compute nodes), so I ended up having my setup.py script load a small JSON file indicating the library name (`:libtensorflow

[2020-05-27 12:41] rposts commented on #39185
Closing - Fixed in https://github.com/tensorflow/tensorflow/pull/39311

[2020-05-27 12:41] #39185 closed

[2020-05-27 12:42] amahendrakar commented on #39888
Was able to reproduce the issue with [TF v2.2](https://colab.research.google.com/gist/amahendrakar/f7d49ea4f957b3e5e3688553634d13a2/39888.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/1c69ec8d886adeb6d615ba891b280baa/39888-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-05-27 12:46] mathlf2015 commented on #30175
`File "../../model/embedding/listing2vec.py", line 247, in __init__
    os.path.join(os.path.dirname(os.path.realpath(__file__)), 'utils/word2vec_ops.so'))
  File "/root/anaconda3/lib/python3.7/site-packages/tensorflow_core/python/framework/load_library.py", line 61, in load_op_library
    lib_handle = py_tf.TF_LoadLibrary(library_filename)
tensorflow.python.framework.errors_impl.NotFoundError: li

[2020-05-27 12:53] Hung20736 commented on #39586
I also have this problem, this is my notebook:

https://colab.research.google.com/drive/15Sta5cKbQ8e4UC1Fh_D2yg9nYpmVzNIT#scrollTo=NkQtWL5PMj0l

You can check it. There are some workarounds using inheritance of tf.keras.metrics.Metric but I think it's better that this bug is fixed.

[2020-05-27 12:59] mdorier commented on #30175
Not sure what you've done so far but on my laptop on Debian with tensorflow 2.1.0 installed via `pip` with the `--user` flag, `tf.sysconfig.get_link_flags()` returns `['-L/home/mdorier/.local/lib/python3.7/site-packages/tensorflow_core', '-l:libtensorflow_framework.so.2']`. From this, you should find out which one is a library directory (the one with `-L`) and which one is the library ('-l`), then

[2020-05-27 13:04] MikhailStartsev opened #39905 "tensorflow.dll build with GPU support fails on Windows with "( was unexpected at this time""
**System information**
- OS Platform and Distribution: Windows 10 Enterprise 1809
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.2.0
- Python version: 3.5.6 (via Anaconda)
- Bazel version (if compiling from source): 2.0.0
- GCC/Compiler version (if compiling from source): MS VisualStudio 2019 14.25.28610
- CUDA/cuDNN version: 10.1/7.6.5.32
- GPU model and memory: NV

[2020-05-27 13:04] amahendrakar commented on #39892
Was able to reproduce the issue with [TF v2.2](https://colab.research.google.com/gist/amahendrakar/ab7031d4e9e3311eab41d2d59f29d778/39892.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/12c26d032d116dfb761a927cd4ea6cc6/39892-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-05-27 13:05] liyinhgqw commented on #39524
We've implemented a custom op using:
[code]

Is there any chance that compiling tensorflow and our custom op on two machines would cause this issue?

[2020-05-27 13:07] Saduf2019 commented on #39869
i am able to replicate this issue, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/d8fccfb3293a1a54dec5ae4361cfba68/untitled198.ipynb), Thanks!

[2020-05-27 13:10] Saduf2019 commented on #39162
Moving this to closed status with confirmation.

[2020-05-27 13:10] #39162 closed

[2020-05-27 13:12] aruno14 commented on #37626
Finally, I found how to use `concrete_func`, I put the code below maybe it can help someone.

[code]

[2020-05-27 13:13] Saduf2019 commented on #39903
@voravich-ch

What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements).
Make sure to download the latest [microsoft visual c++ redistributable](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads) from here.
.Also, please

[2020-05-27 13:20] Wheest commented on #37099
Am currently debugging TFLite.  Have confirmed that in the TFLite model file, the Add operation has inputs and output of type float32 (consistent with the rest of the model.

However, during runtime, calling the `Eval()` function in `tensorflow/lite/kernels/add.cc`, the type of the output tensor is actually 4 (`kTfLiteInt64`).  It is because of this that `Eval()` throws the error.

Am currently tr

[2020-05-27 13:25] voravich-ch commented on #39903
My CPU is Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz 2.59 GHz
Both my CPU and Python is on 64bits.

[2020-05-27 13:29] voravich-ch commented on #39903
I installed microsoft visual c++ redistributable  and it works now
Thank you Saduf2019 !

[2020-05-27 13:29] #39903 closed

[2020-05-27 13:54] #39382 closed

[2020-05-27 13:56] amahendrakar commented on #39904
Was able to reproduce the issue. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/2b38a0398bdb8cc66c2713689a44389c/39904.ipynb). Thanks!

[2020-05-27 14:10] #39484 closed

[2020-05-27 14:14] menon92 opened #39906 "Model cannot be saved because the input shapes have not been set."
Hello, I'm following [save_and_serialize subclass model](https://www.tensorflow.org/guide/keras/save_and_serialize#whole-model_saving_loading) . When I run the following code,
[code]
I get the this error, `ValueError: Model <__main__.CustomModel object at 0x7f96797a2c10> cannot be saved because the input shapes have not been set. Usually, input shapes are automatically determined from calling .fit

[2020-05-27 14:24] renjie-liu commented on #37626
great! thanks a lot! :D

[2020-05-27 14:38] stayprivates commented on #38053
Regular TF.

[2020-05-27 14:38] Saduf2019 commented on #39906
@menon92
I ran the code shared by you and do not face any errors, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/7ea93b577b7c605b3656251f739bc09b/untitled200.ipynb)

[2020-05-27 14:43] s4sarath commented on #37615
Its so sad that no one has given much attention to this, its such a serious bug.

[2020-05-27 14:49] yakovdan opened #39907 "TFlite with hexagon delegate returns wrong result."
**System information**
- I have written custom code
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Snapdragon 855 running Android 9
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.2.0
- Python version: python 3.8
- Bazel version (

[2020-05-27 14:55] PrasadNR commented on #36116
Is this https://github.com/keras-team/keras-preprocessing/issues/295 somehow related?

[2020-05-27 15:01] Bocharick opened #39908 "Connecting to invalid output 163 of source node GRU_1/while which has 163 outputs.."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): VERSION: 2.2.0; GIT_VERSION: v2.2.0-rc4-8-g2b96f3662b
- Python version: 3.7
- CUDA/cuDNN version: CUDA 10.

[2020-05-27 15:02] vladdders opened #39909 "Max and min for dynamic tensors should be recorded during calibration: Failed for tensor Shape"
**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed using pip, it's actually tf-nightly-gpu
- TensorFlow version: tf-nightly-gpu==2.3.0.dev20200527

**Command used to run the converter or code if you’re using the Python API**

[code]

[code]
Traceback (most recent call last):
  File "...", line 29, in <module>
    tflite_model = converter.convert()
  Fi

[2020-05-27 15:10] #39491 closed

[2020-05-27 15:10] #39494 closed

[2020-05-27 15:21] wangxiang2713 commented on #23898
I find this problem is because one node named 'cudnn_lstm/opaque_kernel_saveable' was added to graph.collection['saveable_objects'] but this node not added to saved model.
when i build saved model, i run print(sess.graph.get_collection('saveable_objects')), then i got:
[<tensorflow.contrib.cudnn_rnn.python.ops.cudnn_rnn_ops.CudnnLSTMSaveable object at 0x7fd0881535d0>]
so, i try this before buildin

[2020-05-27 15:39] amahendrakar commented on #39681
@tantheta01,
Is this still an issue? Please feel free to close the issue if resolved. Thanks!

[2020-05-27 15:42] amahendrakar commented on #39681
@tantheta01,
I am facing an error stating `TypeError: datapreprocessing() missing 1 required positional argument: 'file'` while running the code. Please find the gist of it [here](https://colab.sandbox.google.com/gist/amahendrakar/cc56f1c4fc5ac3aeb6f9ad06f9db91fa/39681.ipynb#scrollTo=YHZpoXMPc5Ix). Thanks!

[2020-05-27 15:43] allenlavoie commented on #39820
Currently you need to hold on to the Python object that owns the queue resource outside of the function, like this: https://github.com/tensorflow/tensorflow/blob/b1a712d40d67a7a9f88d6e2f5f5fe28fa10c7f1e/tensorflow/python/kernel_tests/fifo_queue_test.py#L145-L157

It'd be good if we threw an error message, or alternatively let the function create and destroy a transient queue resource every time it

[2020-05-27 16:07] Vallum commented on #34551
I guess that the reason of this problem is gast==0.3.3 and its mismatch with  tf 1.13 and 1.14.
[code]
This should be gast-0.2.2 for tf 1.13 and tf 1.14
gast-0.3.3 >= 0.2.0
But gast-0.3.3 is obvioursly incompatible with tf1.13 and tf1.14
* Test environment
CentOS Linux release 7.5.1804 (Core)
tensorflow_gpu-1.14.0-cp27-cp27mu-manylinux1_x86_64.whl
tensorflow_gpu-1.14.0-cp36-cp36mu-manylinux1_x86_6

[2020-05-27 16:09] axelning commented on #30635
well actually i meet this issue in tensorflow1.13.1 when I run the java app with self-compiled tensorflow with bazel, the document says the java only need libtensorflow.jar and libtensorflow_jni.so but actually libtensorflow_framework.so is also needed when i run my project. I had to build a directory with both so file and insert them into the official maven tensorflow-jni dependency JAR.

[2020-05-27 16:23] Tolure commented on #39873
from subprocess import check_call, CalledProcessError, PIPE

import datetime

import time

import DatasetTemplates.ForEx_10d_5w_5m as a

ForEx10d5w5m = a.mng()
ForEx10d5w5m.TrainActiveModels()

exit()

while True:

    start = datetime.datetime.now()

    try:

        out = check_call(['ping', '-n', '3', '8.8.8.8'], stdout=PIPE)

    except CalledProcessError as e:

        # non zero return code

[2020-05-27 16:23] Tolure commented on #39873
import math
import random
import shutil

import numpy as np
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import SGD

import BaseClasses.BaseModuleTemplate as BMT
import Services.DataBase as mngDb
from Services import  AiCreator as aiCreator

class mng(BMT.Base):

    ModelName = "ForEx_10d_5w_5m"
    LabelTableName = "labels_forex_10d_5w_5m"

[2020-05-27 16:25] #39815 closed

[2020-05-27 16:26] Sidong-Wei opened #39912 "//tensorflow/python/compiler/xla:jit_test fails on s390x and need to add support for llvm"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): N/A
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below):

[2020-05-27 16:27] Tolure commented on #39873
There are other files in the project. Please let me know if there is another file that you would need to isolate this issue.

[2020-05-27 16:40] gunan commented on #39632
It looks like the issue was root caused?

[2020-05-27 16:43] tarrade opened #39913 "[TF 2.2.0/TPU]: tf.data.Dataset segmentation fault with "the Encode() method is not implemented for DatasetVariantWrapper objects" after calling TPUCusterResolver()"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.14.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):
- Pyth

[2020-05-27 16:45] gunan commented on #39905
@Artem-B @chsigg any ideas?

[2020-05-27 16:46] impjdi commented on #39632
@gunan

1. I think @byronyi got his problem solved somehow, but @CuiYifeng hasn't reported back.
2. QQ: I'm not familiar with tensorflow-io.  Does it apply `com_google_absl_fix_mac_and_nvcc_build.patch` before building?

[2020-05-27 16:58] Tombana commented on #25087
Thanks for the clarification, that helps a lot!
I will investigate the latency impact of this on the systems I'm interested in, and if its significant I'll submit a patch.

I have one more question about this: from what I understood, the scheme should always round-to-nearest, and the freedom is in how perfect ties are rounded. But in the example above, the numbers `0.25`, `1.25`, `2.25` etc all ge

[2020-05-27 17:01] yongtang commented on #39632
@impjdi For tensorflow-io, we can only update the abseil once TF 2.3.0 rc0 is out. The master branch of tensorflow-io only depending on TF releases (not tf-nightly releases) due to the C++ API difference in tf-nightly. We will update the tensorflow-io code to make it compatible once TF 2.3.0rc0 is out.

[2020-05-27 17:18] impjdi commented on #39632
tensorflow-io depending on TF releases only is fine, but that doesn't explain the situation of commit 6c7e338 breaking the nightly.  If tensorflow-io depends on TF releases and commit 6c7e338 isn't a part of the latest release, it shouldn't break, should it?

[2020-05-27 17:29] chsigg commented on #39905
I think the message is from bazel when the 'compiler' (msvc_wrapper_for_nvcc.py) returns non-zero.
Would you mind checking the result code of running the command explicitly? And maybe add some manual logging to the wrapper to figure out what's going on?
Sorry I don't have any better advice. I just had a similar issue last week, and couldn't get the --copt=--cuda_log to work either and reverted to

[2020-05-27 17:38] amahendrakar commented on #39751
Was able to reproduce the issue with [TF v2.1](https://colab.research.google.com/gist/amahendrakar/17820dde35568591baa98206d1388a20/39751-2-1.ipynb), [TF v2.2](https://colab.research.google.com/gist/amahendrakar/fca593f80e7de9d32a3665bd98c1a531/39751-2-2.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/1d2d581d32e765c575bf52e19a1a7856/39751-tf-nightly.ipynb). Please find

[2020-05-27 17:43] yongtang commented on #39632
@impjdi From the description by @CuiYifeng I think the build is `tf-nightly` + `tensorflow-io`. As mentioned this will not work due to C++ API change in tf-nightly. A `tensorflow (2.2.0)` + `tensorflow-io (0.13.0)` will work.

[2020-05-27 17:46] sumanthratna commented on #39864
Thanks for the reply! Is it possible to add a method called `tf.reset_all_variables` that `del`s `Variable`s and removes them under the hood? IMO this would make for much cleaner and readable code (although I do recall that TF 2 is aiming to do less Variable management on its own). The variable-creations would still be in the method graph, but after each function call, they would be appropriately

[2020-05-27 17:47] impjdi commented on #39632
Gotcha.  Thanks for clarifying!

@CuiYifeng Please try out the recommendation.  I don't think there is anything we can do at this point until TF 2.3.0 rc0 is out.

[2020-05-27 17:51] amahendrakar commented on #36996
@chn-lee-yumi,
I was able to run the code without any issues with TF v2.2. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/f838683868b5e02729ba910248474a8d/36996.ipynb). Thanks!

[2020-05-27 17:53] mihaimaruseac commented on #39890
All the `--copt` options are the options you would pass to the compiler if not using Bazel. Cannot known if those are exactly the options you need.

[2020-05-27 17:54] mihaimaruseac commented on #39886
I'll have to look through documentation and code history to get more details than what's already included in the comments.

[2020-05-27 17:55] Tolure commented on #39873
If this is more than you wanted. I'll gladly trim it back to the method that is causing the issue.

[2020-05-27 17:59] wang19951120 opened #39916 "segment only person"
resized_im, seg_map = MODEL.run(orignal_im)

seg_map has multiple categories,Including person.
I want get only person.What should i do？

[2020-05-27 18:02] amahendrakar commented on #35944
Issue persists in [TF v2.2](https://colab.research.google.com/gist/amahendrakar/5774003c375fe71b6a690cb00bd18b47/35944.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/0f979ce994bea24bcc30c1718bebe7b3/35944-tf-nightly.ipynb#scrollTo=4O4xzQAJQ9WD) i.e. 2.3.0-dev20200527. Please find the attached gist. Thanks!

[2020-05-27 18:07] amahendrakar commented on #33491
@yxleung,
Is this still an issue? Could you please check @zaccharieramzi's comment and let us know if it helps. Thanks!

[2020-05-27 18:20] uidchet opened #39918 "Tflite.tensorflow Cannot convert a Tensor of dtype resource to a NumPy array. after multi mirrored strategy training"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3 LTS
- TensorFlow installed from (source or binary): Tnsorflow 2.2-gpu docker
- TensorFlow version (or github SHA if from source): tensorflow/tensorflow:2.2.0-gpu

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[2020-05-27 18:26] amahendrakar commented on #34268
Issue persists in [TF v2.2](https://colab.research.google.com/gist/amahendrakar/d5e885eb1cef9d2a157c5ca9c9e3c004/34268.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/22694d3212c28afe0a8f2208bf0b8c4b/34268-tf-nightly.ipynb) i.e. v2.3.0-dev20200527. Please find the attached gist. Thanks!

[2020-05-27 19:09] hlopko commented on #38205
Could you please verify that https://github.com/tensorflow/tensorflow/pull/39849 fixed the issue for you?

[2020-05-27 19:27] jdduke commented on #29054
It's not clear where the [2] dimension value is coming from, but your output buffer appears to be the wrong shape. @srjoglekar246 can help advise.

[2020-05-27 19:28] abdalkhalik opened #39920 "TfLiteGpuDelegate Init: Tensor "model/tf_op_layer_Reshape/Reshape" has bad input dims size: 5."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Android**
- TensorFlow version (use command below): **org.tensorflow:tensorflow-lite:0.0.0-nightly / org.tensorflow:tensorflow-lite-gpu:0.0.0-nightly**
- GPU model and memory: **Hawaii Nova3 built in GPU**

I am Trying to the run this example https://github.com/tensorflow/examples/tree/master/lite/examples/object_d

[2020-05-27 19:37] quantitative-technologies commented on #20067
@dmitrievanthony That worked for me for a while, but the same error came back even with growth enabled.

[2020-05-27 19:46] abdalkhalik commented on #39920
The problem is resolved by using tensorflow/tensorflow-gpu **v2.1** instead of **nightly**

[2020-05-27 19:46] #39920 closed

[2020-05-27 19:49] malyasova opened #39921 "Cannot save keras model in tf format"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):yes
- OS Platfo

[2020-05-27 19:49] jvishnuvardhan commented on #38581
[Here](https://colab.research.google.com/gist/jvishnuvardhan/921420847232e4e7b2cc76d6c24867d3/valid_generator_memory_leak.ipynb) a gist with recent tf-nightly. This is for our reference. Thanks

[2020-05-27 20:03] srihari-humbarwadi commented on #38891
@pavithrasv any updates?

[2020-05-27 20:04] #34363 closed

[2020-05-27 20:16] amitDaMan commented on #38991
@lintian06  any sort of progress/input?

[2020-05-27 20:29] bjacob commented on #25087
Ah, I understand what you were saying now, sorry that I didn't read closely enough the first time.

It's not very well defined what exactly are the boundaries of what's allowed. As I alluded to above, some hardware targets have needed to perform these computations at lower bit depths, such as 16-bit fixedpoint multipliers on Qualcomm HVX or 23-bit-mantissa float32 on Google EdgeTPU. That in itself

[2020-05-27 20:32] nluehr commented on #39054
I can reproduce with CUDNN 7.x. The issue will be fixed in CUDNN 8.

[2020-05-27 20:44] ssagkriotis opened #39922 "MultiWorker Mirrored strategy fails to start with TF_CONFIG"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes. A few imp

[2020-05-27 21:00] nouiz commented on #38205
I just tried and still have this error:
[code]

[2020-05-27 21:01] talumbau commented on #39812
Hi,

Hopefully I can help you but I just want to make sure I understand the case you are interested in. Please add additional clarification if my answers below don't help. My understanding is that you are concerned with enabling/detecting enablement of Ruy in (at least) one of the following scenarios:

1. Create a build of TF Lite that has Ruy enabled.

Answer: with a bazel build, add the command

[2020-05-27 21:02] amitDaMan opened #39923 "NNAPI Reference does not output the same result as CPU for style transfer app on android for tensorflow lite"
I have altered this app significantly such that "StyleTransferModelExecutor" could configure the interpreter with more fine granularity:
For example:
`StyleExecutor(appContext, quant = true, device = Device.NNAPI, NNAcc = "nnapi-reference")`

I am more than willing to share all that code, however the main point is:
running inference with:
style_predict_quantized_256.tflite"
style_transfer_quantize

[2020-05-27 21:24] ymodak commented on #39846
Please provide following information relevant to your case.
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version:
- Python version:
- Installed using virtualenv? pip? conda?:
- Bazel version (if compiling f

[2020-05-27 21:45] Artem-B commented on #39905
No idea what's going on, but it should be possible to narrow the issues down a bit.
* add printouts in the `msvc_wrapper_for_nvcc.py` to check whether we actually get to launch nvcc.
* if we don't get to the wrapper, the issues is somewhere in bazel
* if the wrapper launches, but we fail to launch nvcc, then there's some sort of issue with python.
* if we do launch nvcc, modify the wrapper to pass

[2020-05-27 22:09] jysohn23 commented on #39674
Instead of:
[code]

Can you run:
[code]

If you're going to use `grpc://` you need to provide it a gprc endpoint like `grpc://10.0.0.2:8470` where `10.0.0.2` would be the TPU internal IP address.

[2020-05-27 22:33] sanjoy commented on #32128
Hi @samhodge,

We don't have cycles to investigate this in the near term.  Are you open to contributing a patch to implement this hook?

[2020-05-27 22:34] feihugis opened #39924 "DynamicPaddedBatchDatasetOp for tf.data"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): tf-nightly
- Are you willing to contribute it (Yes/No): Ye

[2020-05-27 22:46] sanjoy commented on #39052
Hi @McSlay

I believe this is the key line:

[code]

It means that TF is using the CUDA driver to JIT compiler PTX to SASS.  This takes a long time.

There is no easy way to out of this unfortunately.  TF ships with recompiled SASS for a specific set of compute capabilities, and if your GPU is not compatible with any of those we have to JIT compile.  The not-easy way out is to build TF from source

[2020-05-27 22:50] jsimsa commented on #39913
As per [TPU documentation](https://www.tensorflow.org/guide/tpu#tpu_initialization), the TPU initialization needs to happen before any TensorFlow operations are executed.

So you will need to do the following:

[code]

[2020-05-27 22:57] jsimsa commented on #39924
I think this use case could be addressed using the existing `tf.data.experimental.group_by_window` transformation. For instance, for the input pipeline for the official Transformer model uses this transformation to group sentences based on length and creates padded batches for each bucket separately.

[2020-05-27 23:01] getsanjeevdubey opened #39925 "Missing pre-processing for Mobilenet V2 model training"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2020-05-27 23:56] duncanriach commented on #38197
I'm now actively working on this issue ...

[2020-05-28 00:14] LryF commented on #39566
Any thoughts? @omalleyt12

[2020-05-28 00:14] feihugis commented on #39924
Thanks very much @jsimsa! Yeah, `group_by_window` can be used here. The example in the official Transformer model is exactly what I want do. Thanks again!

[2020-05-28 00:14] feihugis commented on #39924
Closed this issue as it has been resolved.

[2020-05-28 00:14] #39924 closed

[2020-05-28 00:16] ymodak commented on #35940
Closing this issue since the associated PR has merged.
Feel free to reopen if necessary. Thanks!

[2020-05-28 00:16] #35940 closed

[2020-05-28 00:19] henglicad commented on #39834
It will be very valuable to have the issue fixed.

[2020-05-28 00:20] wwdok commented on #26355
@aravindchaluvadi Hi,  I want to do this recently, do you have the python script now ? If have, can you share with me ? Thanks !

[2020-05-28 00:21] gowthamkpr commented on #39523
Closing this issue as it has been inactive for 2 weeks. Please add additional comments for us to open this issue again. Thanks!

[2020-05-28 00:21] #39523 closed

[2020-05-28 00:22] gowthamkpr commented on #39030
Closing this issue as it has been inactive for more than 2 weeks. Please add additional comments for us to open this issue again. Thanks!

[2020-05-28 00:22] #39030 closed

[2020-05-28 00:23] gowthamkpr commented on #38892
Closing this issue as it has been inactive for more than 3 weeks. Please add additional comments for us to open this issue again. Thanks!

[2020-05-28 00:23] #38892 closed

[2020-05-28 00:25] gowthamkpr commented on #38841
Closing this issue as it has been inactive for more than 2 weeks. Please add additional comments for us to pen this issue again. Thanks!

[2020-05-28 00:25] #38841 closed

[2020-05-28 00:27] gowthamkpr commented on #37414
Closing this issue as it has been inactive for more than 3 weeks. Please add additional comments for us to open this issue again. Thanks!

[2020-05-28 00:27] #37414 closed

[2020-05-28 00:29] gowthamkpr commented on #37185
Closing this issue as it has been inactive for more than 3 weeks. Please add additional comments for us to open this issue again. Thanks!

[2020-05-28 00:29] #37185 closed

[2020-05-28 00:29] henglicad commented on #32809
I was able to use this code to calculate flop. However, when I call the function get_flops more than once, it seems the returned values are accumulated. For example, when I call get_flops(model_1), it returns 1000, then I call it the second time get_flops(model_2), it would return 2000, then 3000 the third time... There must be some static variable here that is accumulated. Anyone has any idea ?

[2020-05-28 00:49] jvishnuvardhan commented on #39880
@rposts Yes. Recently metric was changed from 'acc' to 'accuracy'. Can you please create a Pull-Request (PR) to update the code? Thanks!

Please close this issue. Thanks!

[2020-05-28 01:16] samhodge commented on #32128
I would be more inclined to move away from Tensorflow or to have a subprocess architecture to work around the problem but the possibility to fix it is something I might entertain.

Sam

[2020-05-28 01:21] SarahLynnePu commented on #24814
2020-05-28 11:16:19.791171: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA
2020-05-28 11:16:19.819834: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 3599930000 Hz
2020-05-28 11:16:19.820503: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x467ba80 executing c

[2020-05-28 01:22] SarahLynnePu opened #39926 "ICPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA"
[code]

_Originally posted by @SarahLynnePu in https://github.com/tensorflow/tensorflow/issues/24814#issuecomment-635035003_

[2020-05-28 01:23] SarahLynnePu commented on #39926
Is there anyone can support me to solve this issue please?

[2020-05-28 01:30] policeme commented on #39846
os: centos 7.4
tensorflow: tensorflow-gpu 1.14
python: 3.6.8
pip: 20.1.1
bazel: no
gcc: 4.8.5
cuda:10.0 cudnn:7.6.4
gpu: V100-16G

[2020-05-28 01:54] aruno14 commented on #37626
I check the error with my real model (to generate caption of image). I had no error in tflite conversation and `has_rank_one_input_condition` error disappear. So it seems to be fixed.

However, now I have a `Cannot copy between a TensorFlowLite tensor with shape [0, 6441] and a Java object with shape [1, 6441]` error when I execute `runForMultipleInputsOutputs`.
I checked the model I load with `tf

[2020-05-28 02:21] terryheo commented on #39637
Here is the way to build it.

https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/pip_package

[2020-05-28 02:37] terryheo commented on #39648
Bazel will find the library if you provide a valid SDK home while running the configuration script.

I'm wonder if you installed Android SDK 26 support.
Could you share the content of your .tf_configure.bazelrc?
Can you verify if you have Android SDK 26 with SDK Manager tool?

[2020-05-28 03:01] byronyi commented on #39632
@gunan My issue was that my RBE builds with `-c opt` does not correctly set `-DNDEBUG` and hit Abseil's assertion during unit testing, which was introduced in the aforementioned patch. Current workaround is a manual `--copt=-DNDEBUG`, but I'd like to see why `-DNDEBUG` is not set in the RBE platform and/or toolchain definitions.

[2020-05-28 03:28] sanjoy commented on #38230
@amahendrakar I was not able to reproduce this on tf-nightly.  Are you still able to reproduce this?

[2020-05-28 03:40] j-sarge commented on #39439
I'm experiencing the same thing on 1.15.3. As are others, such as: https://github.com/tensorflow/tensorflow/issues/16291#issuecomment-573886148

[2020-05-28 03:51] qlzh727 commented on #37627
Replied on #37196. See https://github.com/tensorflow/tensorflow/pull/37634#issuecomment-635080461 for more details.

[2020-05-28 03:51] #37627 closed

[2020-05-28 03:52] SarahLynnePu opened #39931 "model = keras.models.Sequential() # I tensorflow/stream_executor/cuda/cuda_driver.cc:801] failed to allocate 72.19M (75694080 bytes) from device: CUDA_ERROR_OUT_OF_MEMORY: out of memory"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-05-28 04:10] #39293 closed

[2020-05-28 04:13] sanjoy commented on #39857
@jaingaurav do you want to take this?

[2020-05-28 04:36] multiverse-tf commented on #39749
This is an issue specific to the gpu delegate implementation. The error msg is emitted here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/gpu/common/model_builder_helper.cc#L252-L254

[2020-05-28 05:48] nammbash opened #39934 "[TF 2.3.0] [Intel MKL] BFloat16 Support for Intel CPUs"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**Adding support for Bfloat16 datatype for running models on Intel CPUs.**
Attn: @penpornk
**The following PRs have bee

[2020-05-28 05:54] nammbash opened #39935 "[TF 2.3.0] [Intel MKL] Eigen Threadpool Support with Intel oneDNN"
**PR to be submitted to replace OpenMP with Eigen Threadpool.**
Attn: @penpornk

1. https://github.com/tensorflow/tensorflow/pull/39893 **( Merged)**
2. https://github.com/tensorflow/tensorflow/pull/39915 **(Merged)**
3. #40128 **(Merged)**
4. #40254 **(Merged)**
5.  #40488 **(Merged)**
6.  #40489 **(Merged)**

Edited by penpornk@ to update the PR list.

[2020-05-28 06:01] Saduf2019 commented on #39786
@AndreiUngureanu101
Can you please provide with simple stand alone code for us to replicate the latest error faced by you "Check failed: s.ok() Unimplemented: this graph contains an operator of type Cast.....
Fatal Python error: Aborted" or if possible please share a colab gist with the error faced.

[2020-05-28 06:14] HansGabriel commented on #26835
Oh, thanks for pointing out. I was also wondering why my code didn't run last time. 
    On Wednesday, 27 May 2020, 05:20:00 pm GMT+8, AlAlaa Tashkandi <notifications@github.com> wrote:

I use follow this code it work
model.save('./model/saved.h5')
new_model = tf.keras.models.load_model('./model/saved.h5',custom_objects='KerasLayer':hub.KerasLayer})
 new_model.summary()

https://colab.research.goo

[2020-05-28 06:17] ravikyram commented on #39908
I tried in colab with TF 2.1.0 and i am not seeing any issue.However i am able to reproduce the issue with TF 2.2.0, nightly version (2.3.0-dev20200527).Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/477ee58cb1a6f299e9f5c6e838f80b09/untitled931.ipynb).Thanks!

[2020-05-28 06:17] yuefengz commented on #18880
@byronyi Launching jobs on multiple remote GPU workers is not supported. When we support it, probably via single-client architecture, checkpoints can be made periodically by the client. If any worker fails, there is already some mechanism to update the configuration of the cluster, clear eager context, rebuild resources, load from checkpoint etc. but there are other components missing to make remo

[2020-05-28 06:18] shivangipandey06 commented on #29054
This is my model which i trained in that [1,1917,2] scores  , is this and i am unable to make changes accordingly in my android project as its showing error as i mentioned above
[Uploading
TFLiteObjectDetectionAPIModel_javaClass.txt…]()
![Screenshot (45)](https://user-images.githubusercontent.com/48325131/83105918-2ce87280-a0d9-11ea-866a-02237a100520.png)

[2020-05-28 06:23] anavanab99 commented on #39485
I'm very sorry, because the recent initial difference has been unable to reply to this problem, I tried to solve one of the problems with other methods, but tf.feature_column.sequence_numeric_column, such feature columns can still not be input to the keras model. Simple and incomplete, unable to understand the use of api, dear google staff, do you consider a more complete api documentation descrip

[2020-05-28 06:25] renjie-liu commented on #37626
do you mind attaching your model and the code you invoke the model?

thanks

[2020-05-28 06:27] anavanab99 commented on #39485
The tensorflow API documentation on featurecolumns is too simple and incomplete, and we really cannot understand its detailed usage. However, feature engineering is indeed very important for the network.

[2020-05-28 06:53] anilsathyan7 commented on #39749
@multiverse-tf So is it a bug? How can we fix it and properly run the model using gpu delegate ?

[2020-05-28 06:55] impjdi commented on #39749
We have a candidate and will check with your models.  Stay tuned :)

[2020-05-28 06:57] ArishSayyed commented on #37876
Try Stochastic Gradient Descent, remove the 'batch_size = 512' from model.fit and it shouldn't give you the warning.

[2020-05-28 07:05] sanjoy commented on #38443
I think the message from redzone_allocator.cc is a red herring and that the `CUDA_ERROR_LAUNCH_FAILED: unspecified launch failure` errors have some other root cause.  Can you please attach the full log?

[2020-05-28 07:05] aruno14 commented on #37626
The model file (it is a zip archive containing a bz2 archive, I had to do that to be under 10MB):
[classifier_caption.tflite.bz2.zip](https://github.com/tensorflow/tensorflow/files/4693741/classifier_caption.tflite.bz2.zip)

The code invoking the model:
[code]

[2020-05-28 07:07] dreamPoet commented on #38285
By the way, can we use converter to create an uint8 inference tflite model rather than an int8 inference model?

[2020-05-28 07:20] #39916 closed

[2020-05-28 07:22] freddan80 commented on #37711
I believe this issue is solved now with the arena_used_bytes().

[2020-05-28 07:22] #37711 closed

[2020-05-28 07:32] Bocharick commented on #39908
I was talking about this. the bottom line is that in the new "stable" version 2.2.0, the code does not work. This is either a bug or some kind of change that I do not understand

[2020-05-28 07:41] carusyte opened #39936 "lstm_cell.get_initial_state(batch_size, dtype) caught 'Duplicate node name' error if batch_size is unknown"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
<ins>Yes</ins>

[2020-05-28 07:45] Brandonli-13 opened #39937 "No module named 'tensorflow.contrib'"
I'm using tensorflow with python3.8, but when I run the code, the output shows: `No module named 'tensorflow.contrib'`
Detailed:
`Traceback (most recent call last):
  File "/Users/brandonli/PycharmProjects/untitled/main.py", line 7, in <module>
    import tflearn
  File "/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/tflearn/__init__.py", line 4, in <module>
    from

[2020-05-28 07:48] aayushthakur commented on #39396
Can anyone clarify what is the latest version of Tensorflow lite on Android? Because on the main page of this github it says 1.15.0 but on here https://bintray.com/google/tensorflow/tensorflow-lite
we have 2.2.0 as well. Android studio also suggests 1.15.0. Which one to use?

[2020-05-28 08:02] tarrade commented on #39913
@jsimsa you are right, this solve this issue. I missed this in the documentation. It was clear that the model need to be created within the strategy scope but not what you mentioned. Thanks a lot. Closing

[2020-05-28 08:02] #39913 closed

[2020-05-28 08:12] mathlf2015 commented on #30175
thank you ,i solve this problem by [this](https://www.tensorflow.org/guide/create_op#compile_the_op_using_your_system_compiler_tensorflow_binary_installation)

[2020-05-28 08:28] AndreiUngureanu101 commented on #39786
Hi @Saduf2019,

Here are the steps I took before getting the error:

- I downloaded `mars-small128.pb` from: https://drive.google.com/drive/folders/1m2ebLHB2JThZC8vWGDYEKGsevLssSkjo and renamed it to 'saved_model.pb'
- I installed tensorflow v1.14.0
- I browsed the graph to get the 'input_arrays', 'output_arrays' and 'input_shapes' values
- I ran the following line:
''' toco --graph_def_file=works

[2020-05-28 08:49] leocorne opened #39938 "micro_speech example breaks when feeding it trained model on Arduino"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- TensorFlow version (use command below):
1.15
- Microcontroller used:
Arduino Nano 33 BLE Sense (Arduino 1.8.12 IDE)

**Describe the current behavior**
micro_speech example works on pretrained model, but whenever I try to train a model and run it on the device it breaks (eve

[2020-05-28 09:00] MiWeiss commented on #36237
@qlzh727 Would you consider reopening this **documentation** issue?

[2020-05-28 09:35] git-chenjiqing opened #39939 "Segmentation fault (core dumped)"

[2020-05-28 09:36] git-chenjiqing opened #39940 "Segmentation fault (core dumped)"
tensorflow2.1.0
Linux mctech 2.6.32-431.el6.x86_64
centos7

[2020-05-28 09:39] Anasel23 commented on #39803
@SirTapir Any updates on this error ?

[2020-05-28 09:49] segvee opened #39941 "Building libtensorflow.so 1.10.1 on Linux with GCC 4.8 and -std=c++11 doesn't export CXX11 symbols"
**System information**
- OS: CentOS 7.6
- TensorFlow installed from: source
- TensorFlow version: 1.10.1
- Python version: 2.7
- Bazel version: 0.15.0
- GCC version: 4.8.5

**Describe the problem**
When I try to build a shared TensorFlow library on CentOS 7 with the GCC 4.8 compiler the compiled library doesn't used C++11 for their exported symbols. However, when I try to use the library in a stan

[2020-05-28 09:53] zaccharieramzi commented on #38561
@omalleyt12 thanks ! One question I didn't ask though is: was this bug slowing down anything or I am just getting annoyed with an unwanted warning?

[2020-05-28 10:13] Saduf2019 commented on #39921
I am able to replicate this issue, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/772b59094fe6d546ef2b36f394575df3/untitled200.ipynb) Thanks!

[2020-05-28 10:22] lamazavr opened #39942 "Incorrect Layer Normalization description"
Hi,
I see a [description of LayerNormalization](https://www.tensorflow.org/addons/tutorials/layers_normalizations).
According to this image:
![image](https://user-images.githubusercontent.com/1153259/83129373-64f5b280-a0e5-11ea-9f66-8f4ae4e3fbb2.png)
LayerNorm should compute mean and var across dimensions (C, H, W), thus I expect them to be 1D tensors of length N.
But the code of [tf.keras.layers.

[2020-05-28 10:48] Philipduerholt commented on #39574
Just tested the same procedure (with TF 1.15 and TF 2.2) on a larger AWS instance (p3.8xlarge with 4 GPUs).
Used a fix for memory distribution (https://github.com/tensorflow/tensorflow/issues/30321#issuecomment-508956878).
Even in this setting, TF 1.15 worked well and TF2.2 produced the OOM error.

@ravikyram Maybe this helps assessing the scope of the problem.

[2020-05-28 11:10] #39506 closed

[2020-05-28 11:13] amahendrakar commented on #39918
Was able to reproduce the issue with [TF v2.2](https://colab.research.google.com/gist/amahendrakar/3cc83d1f8f00b85b6d707ab67e41e038/39918.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/eca8e32076002fb5c907e6cededf0de9/39918-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-05-28 11:24] Saduf2019 commented on #39921
@malyasova
I ran your code in [nightly](https://colab.sandbox.google.com/gist/Saduf2019/50a684ea2d9918014bc4014331a55960/untitled199.ipynb) and do not face the value error as faced in 2.0.

[2020-05-28 11:33] korosig opened #39943 "EagerTensor without building a function"
Hi there,

I want to create a simple pipeline to predict Survival in the Titanic dataset.
My goal to load data butch by butch from disk (I don't want to load all CSV into the memory) and made a prediction with DNNLinearCombinedClassifier.

During the testing I got  #RuntimeError: Attempting to capture an EagerTensor without building a function.#  error message.

The script work well with this esti

[2020-05-28 11:36] vishalverma116 commented on #13715
#getting same issue, anyone help

import tensorflow as tf
Traceback (most recent call last):
  File "C:\Program Files\Python37\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Program Files\Python37\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 28, in <module>
    _py

[2020-05-28 11:40] Saduf2019 commented on #39909
@vladdders
Please refer to this issue with similar error#39718 and let us know if it helps.

[2020-05-28 11:53] Saduf2019 commented on #39883
@ruixin-bao
I ran the code shared and face a different error, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/3fec449ff781573ad1e9ceed7d4eafa2/untitled198.ipynb)

[2020-05-28 12:10] Saduf2019 commented on #39936
@carusyte
I ran the code shared on tf 2.2 and do not face the error as faced on 2.1, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/99e8008fde16d35e7d34a86f1ef85d11/untitled198.ipynb)

[2020-05-28 12:12] amahendrakar commented on #38230
@sanjoy,
Yes, I am able to reproduce the issue with the stable version of TF v2.2 and TF-nightly.
Code runs forever and never reaches the print statement. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/225d6850361258566ff3cb325325e839/38230.ipynb). Thanks!

[2020-05-28 12:12] Saduf2019 commented on #39939
@git-chenjiqing
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue

[2020-05-28 12:14] amahendrakar commented on #39940
@git-chenjiqing,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-05-28 12:17] git-chenjiqing commented on #39940
Here's what I get when I execute it with gdb:
`Program received signal SIGSEGV, Segmentation fault.
update_refs (generation=<value optimized out>, n_collected=0x7fffffffaad8, n_uncollectable=0x7fffffffaae0, nofail=0)
    at /tmp/build/80754af9/python_1546061345851/work/Modules/gcmodule.c:243
243     /tmp/build/80754af9/python_1546061345851/work/Modules/gcmodule.c: No such file or directory.

[2020-05-28 12:17] cpkson commented on #39941
Have you tried compiling with a newer devtoolset? GCC 4.8 doesn't support the C++11 flags.

[code]

[2020-05-28 12:20] peter197321 opened #39944 "per-channel quantization"
Hello,

It seem the tool by default uses "per-channel-quantization" is this possible to turn-off during quantization? I need that support to switch-off (switch-off per-channel quantization) since my device does not support it and is an integer only hardware accelerator.

I am looking for a way to quantize it all uniformly, so all input channels are quantized equally (in the same range) and fully.

[2020-05-28 12:23] vladdders commented on #39909
@Saduf2019
I have tried with tensorflow 2.2.0, but unfortunately I get the same error :/

[2020-05-28 12:23] lokesharma-dev commented on #39858
Thanks a lot! This was of help and we can close the issue now.

[2020-05-28 12:23] #39858 closed

[2020-05-28 12:27] segvee commented on #39941
The target system this is being built for only has GCC 4.8 that is why I need to get it working in a GCC 4.8 environment.
What do you mean GCC 4.8 doesn't support C++11 flags? I thought -std=c++11 works with GCC 4.8?

[2020-05-28 12:29] git-chenjiqing commented on #39939
###&nbsp;CentOS&nbsp;release 6.5 (Final)
### tensorflow.__version__==:2.1.0-rc1
An error occurred at tf.keras.Model (inputs, (x_ 8, x), name=name)
This is my output through DGB
[code]

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Saduf2019"<notifications@github.com&gt;;
发送时间: 2020年5月28日(星期四) 晚上8:13
收件人: "tensorflow/tensorflow"<tensorflow@noreply.github.com&gt;;
抄送: "长夜"<1013692111@qq

[2020-05-28 12:30] git-chenjiqing commented on #39940
### CentOS release 6.5 (Final)
### tensorflow.__version__==:2.1.0-rc1
An error occurred at tf.keras.Model (inputs, (x_ 8, x), name=name)
This is my output through DGB
[code]

[2020-05-28 12:50] iso03 commented on #22314
Bonjour j'ai le même problème : j'ai installeé la version python 3.6 mais à chaque j'ai cette erreur. Est ce que quelqu'un pourrait m'aider à résoudre mon problème
ImportError: Traceback (most recent call last):
  File "c:\python36\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 18, in swig_import_helper
    fp, pathname, description = imp.find_module('_pywrap_tensorflow_i

[2020-05-28 12:59] Saduf2019 commented on #39939
@git-chenjiqing
Please refer to these links and let us know if it helps:
#36841 #37689 #35968 #36201 [link](https://stackoverflow.com/questions/60368298/could-not-load-dynamic-library-libnvinfer-so-6) [link1](https://community.rstudio.com/t/tensorflow-error-after-deploy-at-shinyapp-io/56792/3)

[2020-05-28 13:09] isaacgerg commented on #38443
Hi @sanjoy, the fully log is in the first post. Let me know if you need anything else.

[2020-05-28 13:12] yyoon commented on #39748
Instead of using separate dilation ops, could you set the dilation parameter in the convolution ops?

TFLite only supports a subset of TF ops, and `Dilation2D` op itself is not supported. Please refer to this compatibility guide: https://www.tensorflow.org/lite/guide/ops_compatibility.

[2020-05-28 13:21] robkuehl opened #39947 "Can't build tensorflow from source with docker image"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Mint 19.3
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command b

[2020-05-28 13:26] lissyx commented on #39509
Update: I might have correct values by adding one `RUY_MAKE_ZERO(q7);`

[2020-05-28 13:34] yyoon commented on #39756
Yeah, I can actually reproduce this, and I think the import name should be `flatbuffers` but the following `\n` is somehow not correctly escaped and ended up being interpreted as character `n`.

This must be a bug somewhere in the flatbuffer build rule, or the flatbuffer tool. Let me dig a bit more about it.

[2020-05-28 13:38] why-freedom opened #39948 "ERROR: Unrecognized option: --experimental_repo_remote_exec"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile de

[2020-05-28 13:56] yyoon commented on #39876
You can build a shared library with the following command.

[code]

This will output the resulting shared library (`.dll`, `.so`, or `.dylib`), which you could dynamically link into your own project. You could also provide the `tensorflow` repository root as an include path so that you could include the `tensorflow/lite/...` headers.

[2020-05-28 13:59] amahendrakar commented on #39922
@ssagkriotis,
As per [this document](https://www.tensorflow.org/tutorials/distribute/multi_worker_with_keras#multi-worker_configuration), TF_CONFIG with the above values is likely to fail.

Please take a look at [this guide](https://www.tensorflow.org/guide/distributed_training#setting_up_tf_config_environment_variable) to set up TF_CONFIG and let us know if it helps. Thanks!

[2020-05-28 14:16] hlopko commented on #38205
I managed to repro and the "fix" is to remove stubs from `LD_LIBRARY_PATH`. I used
[code]

and got a green run. Stubs were introduced in https://github.com/tensorflow/tensorflow/pull/30911. It seems that the PR expects that the stubs are overwritten but maybe they're not? @gunan do you have more context there?

[2020-05-28 14:17] ravikyram commented on #39944
@peter197321

Request you to share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-05-28 14:19] OriAlpha opened #39949 "Tflite convertor generates 2 graphs"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 18.04):
- TensorFlow installed from (source):
- TensorFlow version (tf-nightly.2.3.0-dev20200527):

I have used the latest version of TF-nightly and used it for the quantization of a model.
The model consists of LSTM layers, when I tried to convert to tflite version it generates main and subgraph.

The subgraph consists of L

[2020-05-28 14:21] Saduf2019 commented on #39947
@robkuehl
Please refer to these issues with similar error message.
#23401 #23765 [link](https://csharp.developreference.com/article/13574855/Tensorflow+Custom+Compile+on+Windows)

[2020-05-28 14:22] ruixin-bao commented on #39883
Hi,

@Saduf2019, thanks for the reply and providing the gist. I saw the flag error as well when I am running this gist. I took some time to find why that is the case as this test case works for me locally.

According to https://github.com/jupyter/notebook/issues/2746 and its linked stack overflow, it seems that
 ```unittest.main looks at sys.argv by default, which is what started IPython, hence th

[2020-05-28 14:24] peter197321 commented on #39944
here is a snippet from code

[code]

[2020-05-28 14:28] MikhailStartsev commented on #39905
@chsigg @Artem-B Thank you for the suggestions for debugging! Following your recommendations:
* It does get to the msvc_wrapper_for_nvcc.py call, and this finishes successfully (%errorlevel% is 0)
* Because of this, adding -v to the wrapper (as well as calling it with --cuda_log flag) does not shed any extra light on the fail reason...

To me, the symptoms look similar to something like this: http

[2020-05-28 14:33] Saduf2019 commented on #39883
@ruixin-bao
I need permission to view the gist shared.

[2020-05-28 14:33] mrpotes commented on #38971
I was playing along at home with @BenTheElder's [blog post](https://elder.dev/posts/open-source-virtual-background/) playing with using TFJS, but hit this issue on my laptop with a Quadro M1200 Mobile with `compute capability 5.0`. It would be great to get a fix!

[2020-05-28 14:36] ruixin-bao commented on #39883
@Saduf2019
oops, sorry,  I just learned how to use colab today.
does this: https://colab.research.google.com/drive/1FQPJfqnaHH6PuJpvxMaEHyv1mCK0AEoD?usp=sharing work?

[2020-05-28 14:40] cova-fe commented on #38971
I guess it can be fixed by recompiling TF on your machine. I tried that, and indeed you can create TF that works with 5.0 (I was trying exactly the same :)  but tfjs requires libtensorflow1 and I'm not able to compile libtensorflow2. --config=v1 in bazel keeps giving me libtensorflow 2.0

[2020-05-28 14:43] lissyx commented on #39509
PR #39951 is a tentative fix on the r2.2 branch. I'm unsure of what would be the recommended way to fix it further:
 - should it be only fixed on master
 - on master, should it be a patch on top of ruy, or should the fix be directly in ruy repo

[2020-05-28 14:43] robkuehl commented on #39947
Issues don't seem related as neither of the others appeared using the docker image or am I wrong?

[2020-05-28 14:48] amahendrakar commented on #39937
@Brandonli-13,
- `tensorflow.contrib` does not exist in TF 2.x. You'll have to use TF 1.x to use `tensorflow.contrib`

- The reason you are unable to install TF 1.x is due to the Python version incompatibility. Please check the tested build configurations [here](https://www.tensorflow.org/install/source#linux).

- In this case, I'd suggest you to migrate your code to TF 2.x. You can also switch to

[2020-05-28 14:50] lissyx commented on #39509
PR against upstream ruy: https://github.com/google/ruy/pull/69

[2020-05-28 14:53] yyoon commented on #39756
Found the issue, which was caused by the different `sed` tool behavior between linux and mac, as described here: https://stackoverflow.com/a/22203933/922135

I'll send a fix soon, but in the meantime you should be able to try the fix locally.

In the `tensorflow/third_party/flatbuffers/build_defs.bzl` file at line365, change:

    "import flatbuffers\\n/' > %s"

to

    "import flatbuffers\\'$'\\n

[2020-05-28 14:57] lissyx commented on #39509
And I could verify the patch on current tensorflow master to also fix the issue:
[code]

[2020-05-28 15:02] wangwenchao-job opened #39953 "The problem of using the function “SetDefaultDevice” to set the gpu"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-05-28 15:23] Saduf2019 commented on #39931
@SarahLynnePu
Please share simple standalone code to replicate the issue faced or share a colab gist for us to analyse.

[2020-05-28 15:40] ChiHangChen opened #39954 "Convert keras model to quantized tflite lost precision"
I'm trying to convert my keras model into tflite quantized model so that I can run my model on coral TPU, but the output of my keras model and tflite model are significantly different.

The red points are quantized tflite model output, and blue points are original keras model output.

[img is here](https://i.stack.imgur.com/AdFyR.png)

Here is my code to convert keras model to quantized tflite mod

[2020-05-28 15:41] ChiHangChen commented on #39954
I use tensorflow-gpu==2.2.0 BTW.

[2020-05-28 15:46] qlzh727 commented on #36237
Sure. Sorry for the late reply.

[2020-05-28 15:46] amahendrakar commented on #39943
@korosig,
In order to expedite the trouble-shooting process, could you please share the `train.csv` and `eval.csv` files you are using in the code. Thanks!

[2020-05-28 15:52] mihaimaruseac commented on #39926
Please also fill in issue template.

Note that nothing in the message there (edited it for you to have proper markdown formatting) is an error. These are just information notices.

[2020-05-28 15:52] bjacob commented on #39509
Thanks for the ruy PR. Merging it at the moment. We will also need to update TensorFlow's references to the ruy repo to point to this new commit. I'll take care of this in a few hours.

[2020-05-28 15:53] xchani commented on #39909
I think it's due to some latest commit. Since I also encounter this error with the nightly version, but the same code works with stable version.

[2020-05-28 15:54] amahendrakar commented on #39437
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-05-28 15:54] #39437 closed

[2020-05-28 15:55] lissyx commented on #39509
Perfect, I was just asking about that on tensorflow side.

[2020-05-28 15:58] adamp87 commented on #31509
In my case with TF-2.1, I load both train and validation dataset from a TFRecord file. E.g. tf.data.TFRecordDataset(filePath). This means, the tf.fit function has no chance to know the number of samples in the file. As @rmarru pointed out, if the params in the tf.fit function (_steps_per_epoch_, _validation_steps_) are set, then the function knows the number of elements and no warning should be se

[2020-05-28 15:58] mihaimaruseac commented on #39792
Please use proper markdown formatting around code/error blocks so this is readable.

[2020-05-28 16:05] jdduke commented on #29054
You need to change the shape of the output Java array you provide to [1,1917,2].

[2020-05-28 16:06] RisanLi commented on #23815
thanks a lot. It  works!!!
Reload from old training directory and then output to a new directory

[2020-05-28 16:17] amitDaMan commented on #39923
(Further information)

The models are taken from the tflite example project "style transfer" and looking at this particular gradle file, you can see the links where the models are stored:
https://github.com/tensorflow/examples/blob/master/lite/examples/style_transfer/android/app/download_model.gradle

or:
https://www.tensorflow.org/lite/models/style_transfer/overview
at the bottom of this page, th

[2020-05-28 16:20] yashjain1129 commented on #39792
@mihaimaruseac my later comment is easy to follow and can be easily tested. I tried debugging from my side and found some bugs but was not able to remove completely. In my earlier commit history [https://github.com/tensorflow/tensorflow/pull/39700](url) I tried to solve. The for loop removing the argument in the ReduceOp function in hlo_legalize_to_lhlo.cc is giving segmentation fault. Also, hlo.r

[2020-05-28 16:20] Tombana commented on #25087
Thanks for the clarification, that makes a lot of sense, and the 'fix' I suggested does not satisfy those criteria.

I'm not sure if that is a big problem, since the nudge was already being added to the 64-bit multiplication result, before it was right-shifted back into a 32-bit value. I do agree that the function as a whole would no longer translate to a common hardware instruction.

That sounds

[2020-05-28 16:34] #39522 closed

[2020-05-28 16:35] bhack commented on #37689
I have the same problem with pytest with `-s` flag on CPU. This error is going to create problem cause it is parsed an an error. /cc @seanpmorgan

[2020-05-28 16:52] mdanatg commented on #32546
Sorry for the delay. @omalleyt12, any thoughts on that error?

[2020-05-28 17:02] Harish2104 opened #39955 "AttributeError: module 'tensorflow.python.keras.api._v2.keras.preprocessing.text' has no attribute 'text_dataset_from_directory'"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Using example

[2020-05-28 17:06] FlorentijnD opened #39957 "TF Lite wheel is not supported on platform including ARMv7 and python 3.6.5"
@tensorflow/micro

**System information**
- Hardware : Freescale i.MX6 Quad/DualLite
- Processor: ARMv7 Processor rev 10 (v71)
- OS Platform and Distribution: Yocto built Linux distribution (kernel 4.9.4+)
- TensorFlow Lite interpreter installed: wheel https://dl.google.com/coral/python/tflite_runtime-2.1.0.post1-cp36-cp36m-linux_armv7l.whl (https://www.tensorflow.org/lite/guide/python#learn_more)

[2020-05-28 17:07] #36790 closed

[2020-05-28 17:10] #39442 closed

[2020-05-28 17:10] #29654 closed

[2020-05-28 17:10] #31596 closed

[2020-05-28 17:11] FlorentijnD commented on #39957
I also tried the same exact thing but with python 3.7.4 and the corresponding ARMv7 wheel and had the same exact outcome.

[2020-05-28 17:37] karmel commented on #39670
If you are using Distribution Strategies, it is best to use the full TFv2 functionality and enable eager mode. In particular, using train_on_batch with Dist Strat and eager disabled is not supported.

[2020-05-28 17:37] #39670 closed

[2020-05-28 17:39] dgrechka opened #39958 "Training fails with "CUDA_ERROR_LAUNCH_FAILED: unspecified launch failure" on Windows 10"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Windows 10**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **No**
- TensorFlow installed from (source or binary): **binary (via pip install)**
- TensorFlow vers

[2020-05-28 17:40] karmel commented on #39450
At this time, we do not support python multithreading in Keras, as we found there were many issues and unknowns in how people were intending to use multithreading. If this is an area you are interested in, we would be willing to consider a proposal for how and what we should support here via an RFC: https://www.tensorflow.org/community/contribute/rfc_process

[2020-05-28 17:40] #39450 closed

[2020-05-28 17:42] Sidong-Wei commented on #39912
Hi, I have been trying to fix the support issue by modifying the BUILD file directly. The build succeeds and the test case //tensorflow/python/compiler/xla:jit_test passes after applying the patch below:
[code]
I have tested this patch on Ubuntu 20.04 with s390x architecture, and I wonder will this be a legit way to add llvm support for a new architecture? Thanks.

Sidong

[2020-05-28 17:42] karimnosseir commented on #39907
Hi,

It will be hard to check what is wrong without a model.
Can you share the model ? (you can share it privately, no need to attach it here).

Thanks

[2020-05-28 17:43] bhack commented on #37689
I've a stub PR at https://github.com/tensorflow/tensorflow/pull/39956

[2020-05-28 17:45] #38523 closed

[2020-05-28 17:47] karimnosseir commented on #39736
Hi,
Sorry for the delay.
We currently have also arm linux version which we can share.
Is it hard requirement to use musl ?

[2020-05-28 17:48] karimnosseir commented on #36143
No activity. Closing.
Please reopen if you have more data.
Thanks

[2020-05-28 17:48] #36143 closed

[2020-05-28 17:49] karimnosseir commented on #31239
No activity.
Closing.
Please reopen if you're still having issues.

Thanks

[2020-05-28 17:49] #31239 closed

[2020-05-28 18:03] peter197321 opened #39959 "how to check quantization method applied"
how do I check what quantization specification has been applied to model (TensorFlow quantized format)?
I'd like to know what
- Dynamic range quantization, Full integer quantization, Float16 quantization,etc...
- Symmetric vs asymmetric
- Per-axis vs per-tensor
- Signed integer vs unsigned integer
- etc..

Thank you

[2020-05-28 18:04] saurabhsbb opened #39960 "windows 8.1 : import error: DLL load failed"
windows 8.1
pip install tensorflow_cpu
import tensorflow as tf

ImportError                               Traceback (most recent call last)
~\anaconda3\envs\tensorflow_cpu\lib\site-packages\tensorflow\python\pywrap_tensorflow.py in <module>
     57
---> 58   from tensorflow.python.pywrap_tensorflow_internal import *
     59

~\anaconda3\envs\tensorflow_cpu\lib\site-packages\tensorflow\python\pywra

[2020-05-28 18:13] ehennis opened #39962 "TFLite Convert Python API Has Bad Code"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue: https://www.tensorflow.org/lite

[2020-05-28 18:19] bjacob commented on #25087
Right, that's the concern that I was highlighting here.

I agree with everything you say. I hadn't been following these developments around TFLite for microcontrollers. It does sound like some documentation or at least comments to make the conclusions of the present discussion more discoverable, would be useful.

Point taken that, SaturatingRoundingDoublingHighMulWithShift, while less friendly to

[2020-05-28 18:20] xxanissarxx opened #39963 "Error when using Class_Weight in Keras for binary classification"
Here is the model summary:
[code]
Here is the error message:

[code]
Somehow I'm getting a massive negative number? My dataset is all percentile data so numbers between 0 and 1.

Also here is the code to set up the model:
[code]
And then the code to compile and run it:
[code]
I know this is a problem with my class_weight because when I remove it, everything works (but the model is terrible because

[2020-05-28 18:22] #35799 closed

[2020-05-28 18:24] rmlarsen commented on #38279
This appears to be fixed in the latest version at head. I cannot reproduce the error with the code snipped provided. Feel free to reopen if you see this again.

[2020-05-28 18:24] #38279 closed

[2020-05-28 18:24] durandg12 commented on #32957
@amahendrakar I have checked the Colab gists and the issue seems solved indeed, I have also checked that I can import `Dataset` with `from tensorflow.data import Dataset`.

I never got an answer as to why the only supported API usage would be
[code]
when all official tutorials and guides deviate from it.

[2020-05-28 18:34] saurabhsbb commented on #17386
I had installed tensorflow 2.2 and facing the same error. Can you please elaborate on what should I do (step by step procedure would be more helpful)

[2020-05-28 18:50] ssagkriotis commented on #39922
Thanks for replying. The issue ended up being that I had to run another instance of the whole script with the index number set to 1.

[2020-05-28 18:50] #39922 closed

[2020-05-28 18:54] MeghnaNatraj commented on #38285
**Note:** *The following discussion is not related to the current issue of supporting full integer tensorflow lite models, including input and output, in TF 2.0*

@dreamPoet No, this is not possible in TensorFlow 2. We cannot create a uint8 inference tflite model and only support int8 inference model. We've moved away from the uint8 quantization is because with int8, we're able to use asymmetrical

[2020-05-28 18:59] suharshs commented on #25087
Thanks @bjacob for the detailed responses.

We cannot change the default rounding mode in TFLite due to backwards compat issues, that being said since you are targetting a microcontroller, TFLite Micro may be able to accomodate this need in their infra. Will assign to them to get their thoughts.

Thanks!

[2020-05-28 19:01] gunan commented on #39905
You can use the `-s` flag of bazel to log all commands invoked by bazel.

[2020-05-28 19:02] gunan commented on #39632
@r4nt @hlopko may know.
Where do we control which flags are set by `-c opt`

[2020-05-28 19:06] hlopko commented on #39632
(quick answer from phone)
In the cc_toolchain_config there is a feature named "opt" where these flags usually come from. Or there are other features that are conditionally enabled/flag_sets conditionally expanded based on the "opt" feature. I can look into this issue tomorrow.

[2020-05-28 19:10] #39514 closed

[2020-05-28 19:29] hanishsairohit opened #39965 "Use of unresolved identifier 'CoreMLDelegate'"
![Screenshot 2020-05-29 at 12 50 56 AM](https://user-images.githubusercontent.com/44207274/83184096-918de680-a146-11ea-836f-1cf6c895c7fb.png)

pod version TensorFlowLiteSwift 0.0.1-nightly.20200527

Facing this issue even after running

[2020-05-28 19:34] fmmohammadi commented on #35512
Try rebuild tensorflow with mkl support
also make sure that the debugger of VS is not activate during running (even in release mode)

[2020-05-28 19:47] gowthamkpr commented on #39306
I am sort sure if this will solve your issue but we have a few text embedding modules in tensorflow hub that you can use. You can find them [here](https://tfhub.dev/s?tf-version=tf2&q=lite). You can specifically take a look at Albert, a lite version of BERT [here](https://tfhub.dev/tensorflow/albert_lite_base/1).

[2020-05-28 20:13] garar opened #39968 "TensorFlow "steals" stdout when using output redirection"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Example code provided.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04 and Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pypi
- TensorFlow versi

[2020-05-28 20:16] jgciudad commented on #39199
Same issue here regarding use of generators for validation data. If we're working with generators, how are we supposed to check validation accuracy and loss? It doesn't have any sense to include the `'validation_split'` argument to create two subsets in `ImageDataGenerator`, but then allow to use just the training one in `fit`.

[2020-05-28 20:29] areiner222 opened #39969 "Simple keras model "predict" call fails inside py_function"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes. Created a

[2020-05-28 20:31] dgrechka commented on #39842
Does this colab run on WIN10?
How can we see the runtime setup of this gist colab (e.g. cuda version, python version etc)?

Thanks.

[2020-05-28 20:32] karmel commented on #39884
Thanks @tanguycdls . At this time, we don't want to add this complicating argument to the main Keras Input API. However, we are working on some refactors that may make this easier in the future. No promises, but we will update this thread if we find that there is a user-friendly way to make the datatype specification possible.

[2020-05-28 20:34] gunan commented on #38205
Unfortunately, I do not have much context on that change.
@angerson may know. @yifeif in case she has ideas.

[2020-05-28 20:53] hardiksd commented on #39736
I can give the arm linux version a try first, can you send it to me? Also, was it compiled for Armv8 instruction set?

[2020-05-28 21:25] prathak opened #39970 "Unable to use tfp.optimizer.lbfgs_minimize, error after 2 iterations"
Hi I am unable to use tfp.optimizer.lbfgs_minimize, following the tutorial on https://www.tensorflow.org/probability/examples/Optimizers_in_TensorFlow_Probability.

Similar to https://github.com/tensorflow/probability/issues/398,

I am facing error "Inputs to operation Select of type Select must have the same size and shape.  Input 0: [110] != input 1: [1] [Op:Select]"

I noticed that when my cost

[2020-05-28 21:25] AndrewJWashington commented on #36111
I had a similar issue and found out the issue was using Python 3.8. I downgraded to Python 3.7 and it started working.
Before that I tried reinstalling drivers, making sure all files existed, using conda vs venv, tf 2.1 vs tf 2.2, reinstalling tf, and explicitly installing tensorflow-gpu.

[2020-05-28 21:28] chrisbutner commented on #39838
Thanks. Confirmed fixed on 2.2, can train and predict after loading.

[2020-05-28 21:28] #39838 closed

[2020-05-28 22:20] ZIKO94ZIKO commented on #26758
Hello @ismaelestalayo  , i have the some problem  ,when i run my script python ,  tensorflow-gpu using only 10% of my GPU , please tel me how can be resolve it , i see in you are using LSTM or CuDNNLSTM , please tell me how , thanks in advance.

[2020-05-28 22:25] jeffheaton commented on #35754
Any updates on TF 2.2?

[2020-05-28 22:38] ZIKO94ZIKO commented on #26758
Im using OS  Linux Ubuntu 18.04,  i have this problem since 2 week , please help me,

[2020-05-28 22:59] jvishnuvardhan commented on #39867
@squall1988 Looks like only description is not correct as you mentioned. But the formula used in the code is correct.

Are you interested in raising PR to correct the doc? Thanks!

[2020-05-28 23:26] ymodak commented on #39699
This is caused due to the tool you are using to visualize the h5 and pb files.
There are two kinds of graph representations : op-level graph and conceptual graph.
In your case, the h5 visuals depict conceptual graph where as the pb visuals show op-level graph.
You may try using tensorboard to visualize your model.
By default it displays op level graph.
See https://www.tensorflow.org/tensorboard/gr

[2020-05-28 23:29] ymodak commented on #39617
Closing this issue for now. Thanks!

[2020-05-28 23:29] #39617 closed

[2020-05-28 23:41] jvishnuvardhan commented on #39386
@CodeJjang Can you please check with `TF2.2` and let us know whether it detects or not. Thanks!

[2020-05-29 00:03] jvishnuvardhan commented on #38775
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-05-29 00:03] #38775 closed

[2020-05-29 00:10] #39249 closed

[2020-05-29 00:14] gunan commented on #35754
Please file conda related issue through anaconda issue tracker, located at:
https://github.com/ContinuumIO/anaconda-issues/issues

Anaconda manages the TF releases on their platform, and they do not monitor this issue tracker.

[2020-05-29 00:18] angerson commented on #38205
I'm not sure of how the stubs work, either. There's more context in #36974, where there are more suggestions for improvements.

[2020-05-29 00:22] jvishnuvardhan commented on #38923
@SpikingNeuron As I mentioned in my [last response](https://github.com/tensorflow/tensorflow/issues/38923#issuecomment-620104527), when you save a keras model using `model.save` then we need to need `tf.keras.models.load_model` to load the model. I have updated your colab [here](https://colab.research.google.com/gist/jvishnuvardhan/6689b38218dc53c634e7b5324cdafa72/tf2_save_and_load_custom_model.ip

[2020-05-29 00:41] #39756 closed

[2020-05-29 00:53] #39937 closed

[2020-05-29 01:09] jvishnuvardhan commented on #39643
@tanguycdls I think there is some typo or extra dimension as input to the `assert_equal`.

I changed one line as follows and the two errors are similar and shows `InvalidArgumentError` related to mismatch in batch_size. Please take a look at the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/62a964d8cba44476778bfa17bde76459/untitled189.ipynb#scrollTo=b5zRT4LoOXzK). Thanks!

[cod

[2020-05-29 01:10] #38576 closed

[2020-05-29 01:10] #39237 closed

[2020-05-29 01:19] losDaniel commented on #37876
I got this warning on the first epoch and then not again.

![image](https://user-images.githubusercontent.com/40213289/83208743-16afd600-a11c-11ea-8023-7c02a35c38e2.png)

The warning comes from [this file](https://github.com/keras-team/keras/blob/master/keras/callbacks/callbacks.py) and highlights any method that slows down in comparison to the benchmark function "batch update" which runs every ep

[2020-05-29 01:27] jvishnuvardhan commented on #39199
@bersbersbers I ran your codes in `TF2.2` and `tf-nightly` and both are not any infinite loop now. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/d181ea48127195b8d037fdeb112b13a4/nightly_gpu.ipynb).

Please verify once and close the issue if this was resolved for you. Thanks!

[2020-05-29 01:49] ChungNPH opened #39972 "Can't use Keras with GPU (Tensorflow-gpu==1.15)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.4 LTS
- TensorFlow installed from (source or binary): source
- TensorFlow version: tensorflow-gpu==1.15
- Python version: 3.7
- Installed using virtualenv? pip? conda?: pip
- CUDA/cuDNN version: CUDA Version: 10.1
- GPU model and memory: GeForce RTX 2080 Ti/PCIe/SSE2

Hi guys, I'm installed tensorflow-gp

[2020-05-29 01:50] carusyte commented on #39936
I tried the gist provided and seems they're working on 2.2 version.
Guess I'll have to upgrade TF and keep up with the pace. Thanks so much, @Saduf2019 !

[2020-05-29 01:50] #39936 closed

[2020-05-29 01:54] gigadeplex commented on #35590
I'm currently faced with this issue `Exception: <unknown>:0: error: loc("Dilation2D"): 'tf.Dilation2D' op is neither a custom op nor a flex op`
When will tflite support tf.nn.dilation2d??

[2020-05-29 01:57] gigadeplex commented on #35590
Also if I add `converter.allow_custom_ops = True` it works and exports a tflite file.
However, it crashes in the phone with error:
`Caused by: java.lang.IllegalStateException: Internal error: Unexpected failure when preparing tensor allocations: Regular TensorFlow ops are not supported by this interpreter. Make sure you apply/link the Flex delegate before inference.
    Node number 0 (FlexIdentity

[2020-05-29 02:04] jackCplusplus commented on #39842
Hi
    the project [keras-ocr](https://github.com/faustomorales/keras-ocr) can run in win10,but in anaconda not in google colab.
in cmd console, input `python` check python version. cuda version check in Environment variables。use 'pip freeze' show all.

[2020-05-29 02:07] ThePyProgrammer commented on #17022
Is there an alternative to Tensorflow for 32-bit users?

[2020-05-29 02:14] ralfmue commented on #3688
Hi there,
all worked fine for  me until I accidently double-clicked the "Reset Spyder Settings.py"...
I got the error messages described above, when trying to serve the Tensorboard directly through Spyder console.
Solution for me: run the tensorboard call directly from Anaconda Powershell.

[2020-05-29 02:18] sun-peach opened #39973 "dataset.from_generator error with multiple inputs"
**System information**
- no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): tensorflow-2.1.0 (cpu)
- Python version: 3.7

**Describe the current behavior**
I use tf.keras.Model to build up a model. It has multiple inputs, say input is like `[i_1, i_2, i_3, a_1]`, output is only one

[2020-05-29 02:20] AroMorin commented on #37900
I am experiencing this issue as well. I am training with a tf.dataset and using dataset.map() + a tf.py_function() to process the dataset elements. Can't share code. Maybe I'll try tf-nightly.

[2020-05-29 02:31] AroMorin commented on #37900
Update: If I put this line inside a `with tf.device('/device:cpu:0'):` block, then I don't get the error and everything works well. The idea was to prevent a copy from CPU to GPU, and this achieves that idea. Not sure what happened, but it's a quick-fix.

[2020-05-29 02:31] AayushN01 opened #39974 "Setuptools 40.0.0 is incompatible"
Does this error affect  tensorflow while executing it as import tensorflow as tf?

![Screenshot (5)](https://user-images.githubusercontent.com/25500477/83214482-67f3b000-a184-11ea-89ce-41725b15b702.png)

[2020-05-29 02:32] CasiaFan commented on #30649
This [thread](https://github.com/tensorflow/models/issues/5421#issuecomment-510821659) may help. I'm not sure whether you are meeting this error in tf models repo. @ZhuLingfeng1993

[2020-05-29 02:42] gnovack opened #39976 "RandomContrast Layer - confusing __init__ error message"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow installed from (source or binary): Colab
- TensorFlow version (use command below): 2.2.0
- Python version: 3.6.9

**Describe the current behavior**
When instantiating a RandomContrast layer object

[2020-05-29 02:43] SpongeBob-222 commented on #39699
@ymodak

In fact, I use Netron to visualize the model, and I will try it later using Tensorboard, thanks a lot!

[2020-05-29 02:44] SlowMonk opened #39977 "map the input image path dataset."
[code]
This will return the images, boxes with

I want to map this file path to the real image path

[code]

**NotImplementedError: in converted code:
    relative to /home/jake:

    Gits/ssd_tensorflow/train.py:46 func2  *
        images = np.array(image)
    venv/lib/python3.7/site-packages/tensorflow_core/python/autograph/impl/api.py:396 converted_call
        return py_builtins.overload_of(f)

[2020-05-29 02:51] AroMorin commented on #37900
Update 2: Another part of my pipeline reproduced this issue. Instead of putting it in a with `tf.device()` block as above, I turned OFF "num_parallel_calls" in my dataset.map() function. The error went away. It seems there is something about the `num_parallel_calls` attribute that triggers this error.

[2020-05-29 03:37] 07freedom commented on #39564
@ahmedalesh Hi I'm dealing with the same error. Could you tell which version is it to fix it ? Thx

[2020-05-29 03:47] renjie-liu commented on #37626
@xunkai55, Hi Xunkai, can you help with the java api?

thanks a lot!

[2020-05-29 03:58] ckkuang commented on #39512
Good question. Since you mention multi threading, I would assume you are probably talking about MirroredStrategy which can run on multiple GPUs? If that's the case, the answer is two folded:
1. If you are using purely eager execution, currently the implementation is not optimized and effectively there is no parallelism. I believe you will get a warning about the performance. This mode is only reco

[2020-05-29 04:09] bondhugula commented on #39895
@r4nt Please assign this issue to me - I'll add the missing rewrites needed to get this working. @MaheshRavishankar @joker-eph for visibility and their information.

[2020-05-29 04:16] jvishnuvardhan commented on #39830
@michalCyberfish Can you please provide a standalone code to reproduce the issue? Thanks!

[2020-05-29 04:41] SpikingNeuron commented on #38923
I will close the issue ... but I still think that having a class method in `tf.keras.models.Model` for loading model can be a better idea as the custom class model `MyCustomModel` that is inheriting `tf.keras.models.Model` can then load model with class type `MyCustomModel` instead of `tf.keras.models.Model`

[2020-05-29 04:41] #38923 closed

[2020-05-29 06:09] aaudiber commented on #39403
@AdrienCorenflos As far as I can tell, `element_spec` does work correctly for named tuples:

[code]
[code]

One easy mistake to make is passing a list of tuples or named tuples to `from_tensor_slices`. `from_tensor_slices` expects its input to be a structure of tensors, and will coerce Python `list`s (along with their contents) into tensors. For example, `[(1, 2), (3, 4)]` is seen as a 2d tensor o

[2020-05-29 06:19] vladdders commented on #39909
It doesn't work for me. Did you try my code by any chance and got it to work?

[2020-05-29 06:26] leocorne commented on #39938
It seems the newest version of the micro_speech training script creates a model that's incompatible with the TF Lite library downloadable in the Arduino IDE. Issue was fixed by building a .zip library with the latest version of TF Lite instead.

[2020-05-29 06:26] #39938 closed

[2020-05-29 06:28] ravikyram commented on #39955
@Harish2104

Can you please go through the [link](https://www.tensorflow.org/api_docs/python/tf/keras/preprocessing/text_dataset_from_directory) and see if it helps you.Request you to share colab link or simple standalone code with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-05-29 06:33] kriskorrel-cw commented on #37900
@AroMorin Thanks for sharing. Good to know that `num_parallel_calls` is also essential for producing this bug. Unfortunately, with that, I'm still not able to reproduce. [This](https://gist.github.com/kriskorrel-cw/72317d7007ee3d3688f884b7a61a4257) is what I tried, btw.

Is it for you also true that `img = img.numpy()` will 'fix' the issue?

[2020-05-29 06:37] ravikyram commented on #39963
@xxanissarxx

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.

Request you to share colab link or simple standalone code with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-05-29 07:06] guillaumekln opened #39978 "Missing positional argument error when deepcopy a LSTMCell"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Ubuntu 16.04
- TensorFlow installed from: binary
- TensorFlow version: 2.2.0
- Python version: 3.5 & 3.6

**Describe the current behavior**

An exception is raised when calling `copy.deepcopy` on a `tf.keras.layers.LSTMCell`.

**Describe the expected behavior**

Keras layers should support `copy.deepcopy` with

[2020-05-29 07:19] leocorne opened #39979 "micro_speech example broken"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Embedded device: Arduino Nano 33 BLE Sense (IDE 1.8.12)
- TensorFlow installed from (source or binary): Source (latest version)

**Describe the current behavior**
This issue is regarding TensorFlow Lite f

[2020-05-29 07:23] MikhailStartsev commented on #39905
@gunan I used it in the initial post already, hoping to catch the actually failing command, but it is not listed (see the output log I posted), unfortunately - the command sequence after which the crash happens completes successfully.

**Another update:** I set all the variables that were used in the CI build log but that I did not set before (i.e. GCS_BUCKET_NAME, GOOGLE_CLOUD_CREDENTIAL, BAZEL_W

[2020-05-29 07:29] McSlay commented on #39052
Hi @sanjoy

That's a shame, I will have to look into other solutions then.

Thank you for your help.

[2020-05-29 07:29] #39052 closed

[2020-05-29 07:34] crisNguyen commented on #32784
I'm trying TensorFlow 2.2.
I got same error.
i can't fix it  from link https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/compatibility

please help me

[2020-05-29 07:36] #39842 closed

[2020-05-29 07:40] ravikyram commented on #39969
I have tried in colab with TF version 2.2 ,nightly version(`2.3.0-dev20200528`) and was able to reproduce the issue.Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/b72b16e5ec0c4339658c43ba4f3fb1db/untitled932.ipynb)Thanks!

[2020-05-29 07:47] ravikyram commented on #39973
@sun-peach

Request you to share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-05-29 07:49] duncanriach commented on #38197
Hey @Zethson, I repo'd your issue and found a solution. To get determinism, you need to do the following:

In both calls to `shuffle`, you should:

1. set `seed=123` (any integer)
2. set `reshuffle_each_iteration=False`

`tf.data.Dataset` re-shuffling (which is the `shuffle` default) is currently not reproducible when used in conjunction with `tf.distribute.MirroredStrategy` (or I suspect any `tf.

[2020-05-29 07:52] ravikyram commented on #39977
@SlowMonk
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.

Request you to share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-05-29 07:55] yzwer commented on #32790
**The tf1 API be used under the tf2 env：**
`import tensorflow.compat.v1 as tf`
`tf.disable_v2_behavior()`

[2020-05-29 08:09] nitinmnsn opened #39980 "tf.keras.layers.Multiply fails on Variables"
tensorflow 2.2.0

ubuntu 20.04

I am trying a simple code:
[code]
I am getting:
[code]
What am i doing wrong? please help me understand the issue

[2020-05-29 08:10] abhinavsp0730 opened #39981 "tf.math.maximum example is written incorrectly."
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/math/maximum#returns

## Description of issue (what needs changing):

The example of tf.math.maximum is not written correctly.
It's written in this manner,
Example:
``` x = tf.constant([0., 0., 0., 0.]) y = tf.constant([-2., 0., 2., 5.]) tf.math.maximum(x, y) ```
Instead of this it should've written in this manner,
[code]

##

[2020-05-29 08:13] dreamPoet commented on #38285
@MeghnaNatraj  How about in tf1.x? I can only use toco and lite.converter without representative_dataset attributes to produce uint8 inference tflite model, while for int8 inference model, I can set representative_dataset to help quantize, is that right?

[2020-05-29 08:13] tanguycdls commented on #39643
Hi @jvishnuvardhan Thanks for the response !
I checked and yes it works but actually we only want to check the first shape dim not the second one ! Maybe it's the get_item that breaks it ? maybe i can try a tf.gather instead of [0]? I will try and get back to you.

[2020-05-29 08:23] leocorne commented on #39979
I did some more digging around. It seems the inference is taking too long (about 1.9 seconds for every 1 second of recording), which doesn't allow the model to run properly. Is there any way to fix this?

[2020-05-29 08:28] jadevaibhav opened #39982 "For tf.keras.losses.categorical_hinge maximum op dtype missmatch using mixed_precision with float16"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-05-29 08:34] nitinmnsn commented on #39831
Thank you for response.

Yes the issue stands resolved if i do not use batch normalization as the preprocessing step.

I did not get what you meant by 'it should not be used as a first layer as standardization using a batch statistics will affects the statistics of next batch'. Do you mean the effect will propogate through beta and gamma? Because, my understanding is that each batch will be normal

[2020-05-29 08:44] Saduf2019 commented on #39883
@ruixin-bao
I ran the gist shared and [here](https://colab.sandbox.google.com/gist/Saduf2019/2ae27e7d82ef757c105a123d94eb58d8/untitled207.ipynb) is the error faced.

[2020-05-29 08:48] bhack commented on #38352
/cc @angerson in the case the riunification with Devel images could be get in charge by the SIG-Build

[2020-05-29 08:59] romainchenshu commented on #37942
HEY, have you solved this problem with the soluion mentioned above by jlieber?
i have crossed the same problem with you

[2020-05-29 09:16] swghosh commented on #39360
Hi,

Any updates on this?

@tanzhenyu Can we look into this as a part of our project as well?

[2020-05-29 09:28] msoelch commented on #32730
@jvishnuvardhan Thank you. The issue indeed seems fixed in `TF1.15.3`.

However, the bug shows in the latest `TF2.2`, with a similar snippet:
[code]
The first group of assertions on CPU passes, the second group on GPU fails.

[2020-05-29 09:30] ravikyram commented on #39980
I have tried in colab with TF 2.2, nightly versions and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/9d9eb07e8f7b60f8523d78928cd00391/untitled934.ipynb).Thanks!

[2020-05-29 09:30] amahendrakar commented on #39948
@why-freedom,
Is there any specific reason you are using TensorFlow 1.8?

Could you please upgrade to TensorFlow 2.x and let us know if you are facing the same issue. Thanks!

[2020-05-29 09:43] kmonachopoulos commented on #39601
The code is integrated into a larger framework called DeePavlov that is commonly used for NLP tasks. I can link the repo but I don't think that this is sufficient. Actually, I think that the issue raised here is pretty straight forward ->  **REDUCE_MAX** is not supported in int8...

[2020-05-29 09:50] kandekar007 commented on #39981
I would like to work on this issue.

[2020-05-29 10:08] jeremyholleman commented on #39756
That fixed it for me.  Thanks!

[2020-05-29 10:08] Shafaq-S opened #39983 ""/usr/local/lib/python3.6/dist-packages/tensorflow/include/unsupported/Eigen/CXX11/../../../Eigen/src/Core/" Number of warnings generated during project build"
**System information**
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
TensorFlow installed from (source or binary): binary
TensorFlow version (use command below): tensorflow-g

[2020-05-29 10:10] ravikyram commented on #39983
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the code snippet to reproduce the issue. If you are unclear what to include see the issue template displayed in the [Github new issue template](https://github.com/tensorflow/tensorflow/iss

[2020-05-29 10:20] Svdvoort opened #39985 "Conv3D operations are not using tensor cores with mixed float16 policy"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **CentOS 7**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **N/A**
- TensorFlow installed from (source or binary): **pip package**
- TensorFlow version (use comman

[2020-05-29 10:24] amahendrakar commented on #39954
In order to expedite the trouble-shooting process, could you please provide the keras model file you are using in the code. Thanks!

[2020-05-29 10:28] caffeine-lab commented on #39674
@jysohn23 I did try that, And It was still not connecting.
I tried all the following, and still no success.
[code]
[code]

[2020-05-29 10:34] ChiHangChen commented on #39954
Sure, you can download my weights file from my [google drive](https://drive.google.com/file/d/1_9Nl5dT17HLap0H_kNZTGqUAYh3XMsnQ/view?usp=sharing), and the following code is my model structure :
[code]

As you can see from file name of my weights file, this is my 5th version model, and this problem only occur on this version, the same code works well on the previous version of my model weights.

[2020-05-29 10:37] ChiHangChen commented on #39954
If you need my training data to run the representative data function, there is a download link in my [github repository](https://github.com/ChiHangChen/Masked_Classification_with_Facial_Landmark)

[2020-05-29 10:38] amahendrakar commented on #39958
@dgrechka,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here.

Also, please check [this](https://github.com/tensorflow/tensorflow/issues/37942) similar issue and let us know if it helps. Thanks!

[2020-05-29 10:39] short-circuitt commented on #39432
Similar observation here. I believe it is related to the tf.keras.losses binary_crossentropy implementation.

I have run 3 versions in Colab of the Keras VAE tutorial:
https://keras.io/examples/variational_autoencoder/

Version 1 using Keras
Version 2 using tf.keras
Version 3 using tf.keras + a non-standard implementation of binary_crossentropy

Version 1 and 3 converge, version 2 does not

Result

[2020-05-29 10:59] diggee commented on #37942
Hi, no I did not use the solution mentioned by jlieber as I use windows 10 and do not want to switch my OS. Like I mentioned earlier in this thread, the problem goes away if you restart Spyder. If you are working in a Jupyter notebook, just restart Jupyter itself. It is a bit irritating but this is the shortest workaround. However I still wonder what suddenly caused this issue to come up all of a

[2020-05-29 11:09] dgrechka commented on #37942
Yes. this looks like pure Windows related.

The issue can be similar to #39958 which I created yesterday. I'll try to assemble the minimum repo on windows. Heh...

[2020-05-29 11:11] dannyfriar commented on #38945
@kkimdev Yes, calling `tf.keras.backend.clear_session()` does not appear to help

[2020-05-29 11:12] leandro-gracia-gil commented on #29529
By the way, I have noticed that at least in TF 2.2 it does not seem possible to have ragged tensors stored as hash values either (or at least not when using KeyValueTensorInitializers). It raises an exception about ragged tensors not having len().

Is there any particular reason for this? It feels like there's nothing really preventing this to work.
- The first dimension of any ragged tensor is un

[2020-05-29 11:17] unicorn-io commented on #38349
Can I work on this issue if someone isn't now?

[2020-05-29 11:21] Shradha97 commented on #22697
Thanks a lot!!...You saved my life.

[2020-05-29 11:22] zhuzilin opened #39986 "Custom dataset op encounters refcount error"
I'm trying to implement a customize dataset op so that developing extention of tf.data may not need to recompile the whole tensorflow codebase. And as a start, I'm implementing an identity dataset op that would do nothing but pass the data of its input.

After compiled according to the custom op tutorial, the dataset can successfully output data, but it will raise error on destruction. The error m

[2020-05-29 11:24] dannyfriar commented on #38945
@qlzh727 I just tried this again with TF 2.2.0 on Ubuntu 18.04.3. I used the same script as in the original post but create the training/validation data once outside of the loop and use this instead of validation_split (same as the final cell of this [notebook](https://colab.research.google.com/drive/1s76eoH9lE21BiUFOESJVX2XeT1ACLCoy#scrollTo=_Blz6Tj01MTO). There still appears to be an increase in

[2020-05-29 11:25] romainchenshu commented on #37942
NoNoNo, i didnt well explain my question, i mean that by changing input_shape with batch_input_size etc.

[2020-05-29 11:30] ben-davidson-6 commented on #34062
This is also still an issue in tf 2.2.

[code]

[2020-05-29 11:30] nawabhussain commented on #28250
I am trying to replicate this [example](https://github.com/huggingface/transformers/tree/master/examples/token-classification) and I am getting the following error:
`tensorflow.python.framework.errors_impl.InvalidArgumentError:  Received a label value of -1 which is outside the valid range of [0, 25)`. I see a lot of similar issues but none of them have solutions. Any update on this?

[2020-05-29 12:33] ConverJens commented on #39307
@JacobSMoller Thanks for the detailed answer! I will try it the week after next and let you know how it goes!

[2020-05-29 12:36] ruixin-bao commented on #39883
@Saduf2019

Odd `NameError: name 'unittest' is not defined` looks like an import error, and running multiple times in colab did not catch this somehow..

[this](https://colab.research.google.com/drive/1kDsQVec4GxyMyv6JkxFeg8-2lu_Pd0kh?usp=sharing) is the updated one with `unittest` imported. Do you mind having another quick check? Thanks

[2020-05-29 12:38] kartik1300 commented on #39130
thanks  i

[2020-05-29 12:46] dathudeptrai commented on #39850
@ymodak any update ?

[2020-05-29 12:53] Krishnarohith10 opened #39989 "Could not create cudnn handle: CUDNN_STATUS_ALLOC_FAILED"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-05-29 12:59] miohana commented on #39794
@ymodak I've changed for `tensorflow==2.0.0b0` version but still not working, with a different error related to memory.

I've increased the memory allocated to 2GiB, now I receive the following message when I try to deploy:

[code]

I'm trying to run a prediction of a custom model of a CNN architecture.

[2020-05-29 13:01] djdongjin opened #39991 "Correct way of using tf.keras.layers.experimental.preprocessing layers under strategy scope"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-05-29 13:05] ravikyram commented on #39989
@Krishnarohith10

I have tried in colab with TF version 2.1.0 and i am not seeing any issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/c343bc3e4198859068604bbe9fb7851d/untitled935.ipynb).Thanks!

[2020-05-29 13:31] Saduf2019 commented on #39818
@anavanab99
The error is face is because the training data is missing, which needs to be shared for us to replicate.

[2020-05-29 13:32] amahendrakar commented on #39968
@garar,
On running the code with TF v2.2, I see that I got the 'correct' output. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/b41a4217e244d24d7793e84e1b49ebc0/39968.ipynb). Thanks!

[2020-05-29 13:33] eriikj opened #39992 "Suboptimal execution order of parallel map calls for tf.data"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 and Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command

[2020-05-29 13:34] Shafaq-S commented on #39983
Comment has been updated with required details.

[2020-05-29 13:34] Saduf2019 commented on #39909
@vladdders
Can you please try it on version as suggested by xchani and share a colab gist in case you face any issues.

[2020-05-29 13:36] Saduf2019 commented on #39664
@mahesh2996
I am unable to access the links shared, Could you please share a gist of your complete code along with the errors faced.

[2020-05-29 13:40] JoeHRIsaac commented on #26596
How?

[2020-05-29 13:48] Saduf2019 commented on #39960
@saurabhsbb

Please, fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).It helps us in localizing the issue faster.

What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements).

Make sure to download the latest [microsoft visual

[2020-05-29 13:49] Saduf2019 commented on #39965
@hanishsairohit
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue

[2020-05-29 13:55] andreilica opened #39993 "TensorFlow 2.2.0 - Can't create layer of type "Max" in function 'getLayerInstance' OpenCV"
**System information**
https://pastebin.com/QVAkgHib
- Tensorflow-GPU => 2.2.0
- OpenCV => 4.3.0-dev
- Operating System / Platform => Ubuntu 20.04
- Compiler => GCC 8.4.0

I have created a Triplet Model based on a ResNet50:
[code]
After training this model, I froze all the layers and then saved it like this:
[code]
which results in a folder containing a pb file and assets and variables folder.

Th

[2020-05-29 13:57] Saduf2019 commented on #39970
@prathak
Please share a simple stand alone code along with tensor flow version for us to replicate the issue faced.

[2020-05-29 13:58] jaketae commented on #39980
Looking at the error logs, perhaps the fix would be to rewrite `_merge_function(self, inputs)` in `tensorflow/python/keras/layers/merge.py`, specifically to replace

[code]

with

[code]

or

[code]

Can someone confirm that this is the write direction to deal with it? I would like to take a jab at this.

[2020-05-29 13:59] Saduf2019 commented on #39974
@AayushN01
Please run a simple stand alone code and share the error in case you face any.

[2020-05-29 14:05] Saduf2019 commented on #39978
i am able to replicate this error on tensorflow 2.0, 2.1 and nightly as well, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/1f2bb8b9b9a9c37f6888e3425b92f141/untitled199.ipynb)

[2020-05-29 14:06] csmcallister commented on #35419
I had the same issue using the `ssd_mobilenet_v2_quantized_300x300_coco` model. I was able to finetune for a couple dozen steps on my data and then export the graph, convert to tf lite, and use the python tf lite interpreter. But when I finetuned on my own data again for ~200,000 steps and repeated the same process, it failed with the `ValidatedBoxed` error message. I'm on Windows 10 using TF vers

[2020-05-29 14:24] Krishnarohith10 commented on #39989
Nope but it isn't working in anaconda prompt. I uninstalled previous version and installed your but no use.
![1](https://user-images.githubusercontent.com/44919399/83270458-2136a200-a1e6-11ea-8b1a-439421b91550.jpg)
![2](https://user-images.githubusercontent.com/44919399/83270469-2562bf80-a1e6-11ea-9d45-0b3479ed8a8f.jpg)

[2020-05-29 14:25] Saduf2019 commented on #39883
i am able to replicate the issue faced, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/fabe9e823c30f0b188e8896b0dc60c71/untitled208.ipynb)

[2020-05-29 14:30] fedxa commented on #39432
Looks like a separate problem for me... Mine was clearly the initial learning rate in AdaDelta optimizer.  Yours looks like different binary_crossentropy realizations

[2020-05-29 14:34] Saduf2019 commented on #39991
@djdongjin
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2020-05-29 14:36] mdanatg commented on #38349
@tushar-dalal The challenge is that verifying for such NaN inputs can be taking on performance. When debugging, `tf.debugging.check_numerics` can indeed help with that.

@unicorn-io Feel free to tackle it, but note that it's extremely challenging to solve. That said, there was a PR (#38467) to add a warning message to the docs of tf.where, it would be useful to revive it.

[2020-05-29 14:40] anavanab99 commented on #39818
This error is not a lack of training data. I do not want to train a neural network that can be used, but I want to make this program run even if it can not fit pred or loss nan. I solved some errors through the following methods.
the code:
[feature_columns_solve.txt](https://github.com/tensorflow/tensorflow/files/4702368/feature_columns_solve.txt)

By using this method ,feature columns like catego

[2020-05-29 15:08] tanzhenyu commented on #39360
I think this is already fixed

[2020-05-29 15:09] djdongjin commented on #39991
Okay. I do think this is a feature request. For me, the current preprocessing layers do not support distribute strategy, which prevents them from being used in any model that wants to support distribute strategy.

[2020-05-29 15:09] swghosh commented on #39360
Okay okay.

[2020-05-29 15:09] #39360 closed

[2020-05-29 15:12] amahendrakar commented on #39976
Was able to reproduce the issue with [TF v2.2](https://colab.research.google.com/gist/amahendrakar/46ccdd512567b0dd3cf99a9548aead9c/39976.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/54056391942fbc1344d936558161b88f/39976-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-05-29 15:15] nitinmnsn opened #39995 "broadcasting behavior in tensorflow keras layers vs base tensorflow operators"
ubuntu : 20.04
Tensorflow : 2.2.0

Tensorflow keras layers have different broadcasting semantics than numpy broadcasting (same as tensorflow core). Briefly speaking, AFAIK, broadcasting should keep adding a dimension on left hand side to the point where ndim of two arrays being operated on become equal and then the operation is carried out by required number of replications along all the axis of s

[2020-05-29 15:31] amahendrakar commented on #39982
@jadevaibhav,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and the TensorFlow version you are using. Thanks!

Also, please check [this thread](https://github.com/tensorflow/tensorflow/issues/34406) from a similar issue and let us know if it helps. Thanks!

[2020-05-29 15:43] diggee commented on #37942
Oh, no I did not try that. but TBH I do not think that is a fix, cos I have been running LSTM cells without the 'batch_input_size' parameter and with the 'input_shape'. This issue just occurs randomly with me, it has got nothing to do with the parameters, for me at least.

[2020-05-29 15:47] AdrienCorenflos opened #39996 "tf.Module break gradient registration"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab default

**Describe the current behavior**
When using operations within a tf.Module init, the gradient is broken

**Describe the expected behavior**
The gradient should still be registered properly

**Standalon

[2020-05-29 15:50] mahesh2996 commented on #39664
i tried gist.but not able to do.sorry for that.
In this notebook all cells are executed perfectly except the error one.
i used this data set:[https://www.kaggle.com/keenwarrior/small-flicker-data-for-image-captioning/version/1](url)
[Notebook](https://github.com/mahesh2996/image_caption)

[2020-05-29 16:10] creatist opened #39998 "STOP UPDATING"
More updations, more pains!!!

[2020-05-29 16:19] unicorn-io commented on #38349
I am motivated to do this can you give me some tips to start with I will try my best to understand and resolve this issue.

[2020-05-29 16:27] mihaimaruseac commented on #32784
TF 2.2 does not have `tensorflow_core`. Please check output of `pip lists`, it's likely you have packages predating this release.

Please open new issue, fill in issue template.

[2020-05-29 16:32] mihaimaruseac commented on #17022
You can use Google Colab notebooks, just like other Google Drive files and have your code run in the cloud.

GCP also offers VMs suited for deep learning that could be used in the cloud

[2020-05-29 16:36] lkubin opened #39999 "Wrong output shape with ellipsis in tflite from keras models"
I'm working on converting a model using tflite, starting from a keras model, and I noticed that if I use ellipsis to slice up tensors something weird happens: once I loaded the tflite model inside the interpreter, before allocating tensors (through `interpreter.allocate_tensors`) calling the function `interpreter.get_output_details()` gives as output shape the same one that I got with my keras mod

[2020-05-29 16:54] wwwind opened #40000 "TFLite, 2.2.0, accuracy drops significantly when tf.lite.Optimize.DEFAULT option is used"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

Colab:
https://colab.research.google.com/drive/1Z2Xvh2dufYR8y9U-973

[2020-05-29 16:56] ravinderkhatri commented on #37351
I tried using below example in tf 2.2.0 and giving me the same error
[code]
**ValueError: TypeError: object of type 'RaggedTensor' has no len()**

[2020-05-29 17:06] bhack commented on #34719
I think that we could track this in https://github.com/tensorflow/build/issues/5

[2020-05-29 17:09] zaccharieramzi commented on #36559
I also wanted to know how to efficiently update a tensor slice, but in my case not a model weight (that is, not a `tf.Variable`), but the input of a layer.

A non-working template of what I am trying to do is:

[code]

of course when building this (`AddToEven().build(tf.TensorShape([None, None]))`) I get the following error:

[code]

I can achieve this simple example via the following:

[code]

(y

[2020-05-29 17:10] MaheshRavishankar commented on #39895
THanks Uday! But is the expectation to have xla_hlo.const and I think there is a conversion from xla_hlo.const to xla_lhlo.const. Then the conversion to memref does work. I am not sure there is an expectation to mix dialects as in your example. But I dont see any reason not to have such a pattern, but maybe you could reuse some of the conversion from hlo -> lhlo for std -> lhlo conversion.

[2020-05-29 17:13] impjdi commented on #39749
Ok.  fix was submitted internally.  should go live sometime soon.  commit log should read something like "TFLite GPU: Expand how an HWC tensor is read."  I'll close this issue for now; reopen if needed.

[2020-05-29 17:13] #39749 closed

[2020-05-29 17:14] LucasColas opened #40001 "cannot import name 'compiler'"
Hello,

**System information**
I try to run a code on Google Colab. I'm using Tensorflow 2.2.0

When I try to run my code to import tensorflow_probability as tfp.

`import tensorflow_probability as tfp
import tensorflow as tf`

And then when I execute I get :
`ImportError: cannot import name 'compiler' `

[2020-05-29 17:15] rposts commented on #39880
@jvishnuvardhan - it seems like this testcase is withdrawn from master.  Would you know if there is a corresponding replacement where this patch might apply?

[2020-05-29 17:18] jvishnuvardhan commented on #32730
@msoelch Please update the question or create a new issue as the original issue was resolved. It will be easy for users to follow the issue. Thanks!

[2020-05-29 17:32] bondhugula commented on #39895
Dumping an XLA protobuf and using tf-mlir-translate -hlo-to-mlir-hlo actually yields such an input (std.constant instead of an xla_hlo.const). xla_hlo.const -> xla_lhlo.const would work, but the -hlo-legalize-to-lhlo pass could potentially be presented with such an input in other ways, and so making -hlo-to-mlir-hlo generate hlo.const isn't a real solution. The std.constant in these cases is isomo

[2020-05-29 17:34] foxik opened #40002 "The tf.keras.Model.compile metrics do not respect masking since TF 2.2"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Debian Stable**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: --
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use comm

[2020-05-29 17:35] OverLordGoldDragon commented on #36559
@zaccharieramzi New Issue, surely. Can also try [Stack Overflow](https://stackoverflow.com/).

[2020-05-29 17:43] AITutorials opened #40003 "About the official document variable name introduced by Profiler is inconsistent！"
About the official document variable name introduced by Profiler is inconsistent！

Please see the URL：
[https://tensorflow.google.cn/guide/profiler?hl=en](https://tensorflow.google.cn/guide/profiler?hl=en)

![WechatIMG6](https://user-images.githubusercontent.com/61530230/83288790-8c986800-a216-11ea-94aa-0b6ddc2d4e51.png)

You can find problems with two variables：“tb_callback” and “tensorboard_call

[2020-05-29 17:55] dgel opened #40004 "Link error for libtensorflow_cc.so when using LoadSavedModel"
The version scripts don't export any symbols from protobuf. This is fine as long as basic functionality doesn't use symbols from protobuf, but LoadSavedModel seems to me to be a part of the basic functionality of tensorflow. Adding `*google*protobuf*` to the version scripts fixes the issue, as would hiding the protobuf data from the interface

**System information**
- Have I written custom code (a

[2020-05-29 17:58] IvanGas opened #40005 "Conflict python between Tensorflow, Spyder and Octave"
Hello,
I am very new of python environment.
After some time spent learning python through Anaconda on Windows PC (in particular with Spyder), I also decided to learn Tensorflow, always in Spyder. So, I created a new dedicated environment for TF with the v3.6.9 and v1.17.2, respectively, for python and numpy.

I have never had problems running codes that require TF import with this configuration.
H

[2020-05-29 18:02] Saduf2019 commented on #39985
i am able to replicate the issue, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/9ed522f57b0f8f679cd4a114511e6476/untitled199.ipynb)

[2020-05-29 18:05] zaccharieramzi commented on #36559
@OverLordGoldDragon sure, I think I might try SO first. You can see the question [here](https://stackoverflow.com/questions/62092147/how-to-efficiently-assign-to-a-slice-of-a-tensor-in-tensorflow).

[2020-05-29 18:14] haoyuz commented on #38372
Reassigning to Sanjoy to take a look at potential GPU memory issues. Thanks!

[2020-05-29 18:14] goldiegadde commented on #39199
This is similiar to #39277 and has been fixed in #b53ed4d. The fix is available in nightly and the next TF version release will have it.

[2020-05-29 18:30] srjoglekar246 commented on #39923
Can confirm that the output is different for NNAPI vs CPU using the inference tool:

[code]

This shows a raw error of 2.2 averaged across all elements of the output tensor. For comparison, `delegate=hexagon` gives an error of ~0.008. I tried delegating only half the graph by modifying the delegate, and the error is still ~0.99.

Adding Miao from NNAPI.

[2020-05-29 18:54] Tolure commented on #39873
For more information. When I start the program and it loads in the first model my GPU doesn't get used but it does something gets loaded into it's dedicated memory. The picture bellow is after a minute or three of the first model being fit.

![image](https://user-images.githubusercontent.com/3880648/83295031-5201e180-a1bc-11ea-918f-323f80ab96f0.png)

[2020-05-29 19:00] Ryandry1st commented on #36136
I reran the gist using tf2.2 and found that it runs. I also tried the various data types and it seems to be running now under most cases. The cases that I found it **did not** work were for:

1. uint8, uint16, uint64
2. int8, int16

All other cases worked including booleans and half/double precision floats. When an error occurs it is for a missing OpKernel  type as mentioned earlier.

So it seems

[2020-05-29 19:00] #36136 closed

[2020-05-29 19:07] AdrienCorenflos commented on #34519
Hi,

This is probably not monitored actively, but I am facing the same issue and I managed to hack my way through:

[code]

[2020-05-29 19:10] #39423 closed

[2020-05-29 19:30] Zethson commented on #38197
@duncanriach
Thanks!
I will try the approach in the next ~ 10 days and report back.
I also had reproduciblity issues with the CPU, do you expect them to be related to the dataset shuffling?

[2020-05-29 19:57] aicam commented on #37323
If I got the issue correctly you want to save the state of your graph so you can use [lru cache](https://docs.python.org/3/library/functools.html#lru_cache), I tested both inside tensorflow library and only combination of @tf.function and @lru_cache in my main.py and both worked fine but actually i was testing a simple graph with one plus, I don't know the side effects

[2020-05-29 20:08] courageon commented on #28868
Just ran into this issue, tf.summary.image seems to not work with symbolic tensors. I'm trying to display output from a layer in my network.

[2020-05-29 20:20] scarrazza opened #40006 "custom operators by reference in tf2.2.0"
**System information**
- TensorFlow version (you are using): 2.2.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

Following the [custom operator guide](https://www.tensorflow.org/guide/create_op) we learn how to build a custom operator.

However, the guide does not explain how to build custom operators when the input and output are passe

[2020-05-29 20:38] bhomaidan1990 commented on #35860
I did that with Alienware 15m GPU 1070 MaxQ, after that the laptop stopped responding, so I restarted it, after that Nvidia control panel disappeared from the right mouse click! nad I wasn't able to use my GPU! maybe the NVIDIA driver  isn't working, so I have to install it again!

[2020-05-29 20:45] jvishnuvardhan commented on #35590
@gigadeplex Can you please open a new issue with a description (as above) and a standalone code to reproduce the issue? Thanks!

[2020-05-29 21:00] angerson commented on #38351
It took longer than I thought, but I have an internal change prepared for review that adds the same functionality in a different way.

[2020-05-29 21:31] srjoglekar246 commented on #39692
Nupur, could you take a look?

[2020-05-29 21:33] sun-peach opened #40007 "Is there a way to train large amount of variable size data in TF"
Hi, I am working on a model (structure shown below). I have 9 inputs, 8 is images whose size is (224,224,3) and the other is audio whose size is (1, 96, 1366). I use tf.keras to construct model following: `model = Model([image_1...image_8, audio_input], output)`
![image](https://user-images.githubusercontent.com/14579257/83305598-ed438880-a1b5-11ea-81ec-626acff96b11.png)

Since my data is too larg

[2020-05-29 21:56] rryan commented on #39761
Thanks for the feature request @avnx, but I'm confused. Setting a bitrate doesn't seem to have been part of the tf.contrib.ffmpeg public API? Do you mean you edited the source code?

It would be nice if encode/decode audio had this support. I think we could mark this contributions welcome, because I doubt the core team has bandwidth to look at it.

[2020-05-29 22:19] duncanriach commented on #38197
You're welcome. Yes, with these changes you should see the CPU training become reproducible as well. (Let me know the outcome of that.) The sources of non-determinism that we are addressing here are not related to the ops and therefore not related to which type of processor the ops are running on. Therefore, `TF_DETERMINISTIC_OPS` was necessary but not sufficient for determinism.

[2020-05-29 22:21] caffeine-lab commented on #39674
It was an internal TPU problem, I solved it by creating a new Google Cloud project.

[2020-05-29 22:21] #39674 closed

[2020-05-29 22:48] jvishnuvardhan commented on #39949
@OriAlpha Can you please share a standalone code to reproduce the issue? Model code or saved models would be better. Thanks!

[2020-05-29 22:49] angerson commented on #39947
`gcc: internal compiler error: Killed (program cc1plus)`
It's very likely that the docker container ran out of RAM during compilation. [Limiting Bazel's memory usage ](https://www.tensorflow.org/install/source#bazel_build_options) might be able to help, e.g. `--local_ram_resources=2048`.

[2020-05-29 23:14] CodeJjang commented on #8340
For whoever gets here today, setting the tensorflow logger level to warning does the job as well:

[code]

[2020-05-30 01:51] Lincoln93 commented on #39215
@ravikyram is it bug or there's something wrong in the code?

[2020-05-30 03:46] 307509256 opened #40008 "convert error"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

**Standalone code to reproduce the issue**
Provide a reproducible test case that is the bare minimum necessary to generate
the problem. If possible, please sha

[2020-05-30 04:30] pilot87 commented on #39742
Sorry for so long offline.
Well this code
[code]
still producing this warnings (I omitted standard output because result is wright):
[code]

[2020-05-30 05:07] lucasveljacic commented on #34313
Hi!, could any of you solve this issue?
I'm having the same error with an LSTM clasifier.
In fact, not exactly the same... actually I'm getting this:

`java.lang.IllegalArgumentException: ByteBuffer is not a valid flatbuffer model`

[2020-05-30 05:21] Artem-B commented on #39905
I'm fresh out of ideas. Debugging windows issues is such a pain. I can't wait until WSL2 supports GPUs so we could just use linux build. @gunan -- do we have any contacts at MSFT working on/with TF? There's a good chance that someone out there does have the know-how of dealing with these kinds of issues.

[2020-05-30 05:59] jvishnuvardhan commented on #30898
@themightyoarfish Is this still an issue? Please close the issue if this was resolved already. Thanks!

[2020-05-30 06:03] jvishnuvardhan commented on #31236
@jannik-w Can you check with `TF2.2` or `tf-nightly` and let us know if you notice the issue?

Please close the issue if this was already resolved. Thanks!

[2020-05-30 06:10] #29590 closed

[2020-05-30 06:16] jvishnuvardhan commented on #31235
@SumNeuron Sorry for missing this issue. I ran it with `TF1.15.3` and I cannot reproduce the issue. I think it was resolved in recently updated `TF1.15.3`. PTAL at this [gist](https://colab.research.google.com/gist/jvishnuvardhan/b920183b618e9f91e3866fdeb51ae7d0/tf-issue-31235.ipynb). Thanks!

Please verify once and close the issue if this was resolved for you. Thanks!

[2020-05-30 06:23] rohan100jain commented on #39981
Thanks! Feel free to submit a PR

[2020-05-30 06:32] jarednielsen commented on #39588
Any update on these performance problems in TF 2.2? This issue is one of many; see also https://github.com/tensorflow/tensorflow/issues/39665 and https://github.com/tensorflow/tensorflow/issues/38675 and https://github.com/tensorflow/tensorflow/issues/39574 and https://github.com/tensorflow/tensorflow/issues/39434.

What is the status?

[2020-05-30 06:45] themightyoarfish commented on #30898
I have no idea to be honest, i have not touched Tensorflow since raising this issue. I suppose it can be closed for now.

[2020-05-30 06:45] #30898 closed

[2020-05-30 06:52] ymodak commented on #39944
You may try [Post-training integer quantization](https://www.tensorflow.org/lite/performance/post_training_integer_quant) in this case.
It ensures compatibility with integer only devices.
See https://www.tensorflow.org/lite/performance/post_training_quantization#integer_only

[2020-05-30 07:04] ymodak commented on #39959
You can use TensorBoard to load your TF model and explore [op-level graph](https://www.tensorflow.org/tensorboard/graphs#op-level_graph) to examine the node properties.
Another way is to visualize your model using [netron](https://github.com/lutzroeder/netron).

[2020-05-30 07:08] lordfiftyfive commented on #25980
why not use tf.sparse.to_dense(x)

[2020-05-30 07:18] peter197321 commented on #39944
this way of quantization doesn't work if per-channel quantization for the device I have ... So the question of how to turn-off this way quantization and not to use per-channel quantization as you are implicitly suggesting.

[2020-05-30 07:19] peter197321 commented on #39959
can you please give some visual examples of what exactly you mean - how to check it?

[2020-05-30 07:43] ymodak commented on #39953
By using a python session can you please print [list of visible devices](https://www.tensorflow.org/api_docs/python/tf/config/get_visible_devices) in your session.
You can use:
[code]
This can help us determine if other devices are recognized or not. Thanks!

[2020-05-30 07:51] F-Node-Karlsruhe commented on #25980
I need sparse tensors as usual tensors are too large. is the a possibility to use to_dense() in the Keras model, i.e. just before usage?

[2020-05-30 07:52] ezdevelop commented on #38474
@sayakpaul

@tf.function
--->
@tf.function(input_signature=[tf.TensorSpec(shape=[None], dtype=tf.string)])

[2020-05-30 07:53] jadevaibhav commented on #39982
@amahendrakar I have recreated the [bug and tested a way to fix this](https://drive.google.com/open?id=1BgfoS1_Co7DlKtMPYsJ-98vp4ctrVaPL). I have submitted the merge request. Thanks!

[2020-05-30 07:58] jadevaibhav commented on #39982
@amahendrakar ,
I checked the mentioned thread, it shows the error dtype missmatch for tf 2.0. It was same for me, but this issue is in 2.2.0. Sorry that I haven't mentioned this before.

[2020-05-30 08:21] peter197321 commented on #39944
just fyi: models from [Hosted models](https://www.tensorflow.org/lite/guide/hosted_models) works for me but models from [Coral Edge TPU](https://coral.ai/models/) do not work.

What is a different quantization method used?

[2020-05-30 09:47] #38474 closed

[2020-05-30 10:44] Habib-allah commented on #32809
@henglicad try to reset the graph like this:

tf.compat.v1.reset_default_graph()

[2020-05-30 11:23] peter197321 commented on #39944
Is it possible to enforce Per-axis (aka per-channel) or Per-tensor quantization on the model?

[2020-05-30 12:23] menon92 commented on #39906
@Saduf2019 I try the same code in `pip` version of tensorflow and it works without any issue.
I think there is an issue in `conda` version of tensorflow

[2020-05-30 12:51] lheim commented on #40000
Hi @wwwind,
enabling `converter.optimizations = [tf.lite.Optimize.DEFAULT]` results in the weights being quantized from `float32` to `int8` - see [here](https://www.tensorflow.org/lite/performance/post_training_quantization#dynamic_range_quantization).
If you disable this option your converted network stores the weights in `float32`, as your original keras model. You shouldn't see a difference in

[2020-05-30 13:01] malyasova commented on #39921
For anyone like me who doesn't want to upgrade cuda and tensorflow to the latest version, there's also a quick fix: add a Reshape layer after the Conv2DTranspose. Then keras can determine the shape.

[2020-05-30 13:01] #39921 closed

[2020-05-30 13:09] tkkcc commented on #32982
I am using `deoplete-jedi` and `tensorflow=1.15.0`. Changing `PYTHONPATH` works.
[code]

[2020-05-30 13:16] tkkcc commented on #32982
I am using `deoplete-jedi` and `tensorflow=1.15.0`. Changing `PYTHONPATH` works.
[code]

[2020-05-30 13:48] jgasperlin commented on #39407
Any ETA on potential fix ?

[2020-05-30 14:31] parthpatadiya commented on #39732
ImportError: cannot import name 'export_saved_model' from 'tensorflow.python.keras.saving.saved_model' (C:\Users\Microsoft\anaconda3\lib\site-packages\tensorflow\python\keras\saving\saved_model\__init__.py)

getting same error while
import keras.layers

`---------------------------------------------------------------------------
ImportError                               Traceback (most recent call

[2020-05-30 15:20] dimtass commented on #30953
Hi @lheim I've tried the above snippet and I'm getting an error that `x_test_normalized` is not set, which OK it makes sense because I haven't defined it anywhere. How did you created this normalized set? Thanks!

[2020-05-30 15:48] joyoFeng commented on #12539
I got almost the same issue, this is just the right answer, and --rpath or LD_LIBRARY_PATH should be checked. Thank you so so much.

[2020-05-30 16:04] anidh commented on #39539
Thanks for replying. I tried researching more around this issue and found that maybe the so files which are provided aren't compatible with my phone arch. So I found that you can generate your own so file using the bezel toolkit for dsp delegate using the command `bazel build -c opt --config=android_arm64 tensorflow/lite/experimental/delegates/hexagon/java:tensorflow-lite-hexagon`
But I'm getting

[2020-05-30 16:50] henglicad commented on #32809
It works! Thanks @Habib-allah a lot!

[2020-05-30 17:38] OmarJay1 commented on #33634
Hello, I got the latest version of TF and tensorflow/lite/build_def.bzl seems to be slightly different than listed above.  I try to build and it says there are multiple values for argument features.

ERROR: C:/temp/tensorflow/tensorflow/lite/build_def.bzl:157:24: Traceback (most recent call last):
        File "C:/temp/tensorflow/tensorflow/lite/BUILD", line 610
                tflite_cc_shared_ob

[2020-05-30 18:54] rao208 commented on #34727
@catqaq what was the problem? How did you find the solution? I have the same error

[2020-05-30 19:02] acrushdjn opened #40014 "DNNLinearCombinedClassifier serving input format"
I used the code below to train and export a DNNLinearCombinedClassifier model, but the input format is not what I want, **is there a way to export DNNLinearCombinedClassifier model to support serving input format like below?
'{"signature_name":"xxx", "instances":[{"feature1": [1.0, 1.0, 1.0, 1.0..........], "feature2": [1.0, 1.0, 1.0, 1.0..........], "feature3": [1.0, 1.0, 1.0, 1.0..........].....

[2020-05-30 19:42] prntcena commented on #36358
mine was giving error for `log.get('accuracy')` but when I changes it to` logs.get('acc')`, it worked

[2020-05-30 20:29] jkr26 commented on #39610
@Saduf2019

Yes, the code above is not entirely self-contained--it would be rather nontrivial to produce such a complete example, but doable. Is this what you would prefer?

[2020-05-30 20:29] #31236 closed

[2020-05-30 20:41] tsbressan opened #40015 "Error ImageDataGenerator in multiple GPU"
I have the following error when running code using multiple GPUs. I am using ImageDataGenerator to classify images that are separated by directories.
The error is:

Traceback (most recent call last):
  File "new_train_alg_CNN.py", line 113, in <module>
    train = model.fit_generator(generator=train_generator,steps_per_epoch = trai              n_generator.samples/BATCH_SIZE,validation_data=valida

[2020-05-30 20:42] romelgomez commented on #348
@relh

I builded a script to have various environments in one project DEV, QA, etc, in each run, I delete the .temp folder, where is the venv for each environment, and I get the error error: `invalid command 'bdist_wheel'`,  I realize that the error disappears if I don't delete the folder, but then I add the install `pip3 install wheel` before install the other libs and that resolved the problem t

[2020-05-30 22:24] dtrodrigues commented on #39478
Is there an update on this? Is MacOS supported as a `make` target for tensorflowlite?

[2020-05-30 23:37] TekayaNidham commented on #28285
in case anyone still facing this:
i got cuda 10.2 and i just ran into this problem and here's how i solved it :
cd ~
gedit .bashrc
[code]

[2020-05-30 23:39] TekayaNidham commented on #26182
in case anyone still facing this:
i got cuda 10.2 and i just ran into this problem and here's how i solved it :
[code]
[code]

[2020-05-30 23:45] gowthamkpr commented on #39980
@nitinmnsn As you can see below,
![image](https://user-images.githubusercontent.com/47574994/83341139-c4de8b80-a294-11ea-9a7b-e3902873447b.png)
you need to get the value from the variable and then multiply the two values from 2 different variables.

[2020-05-30 23:57] gfkeith opened #40016 "Overflow in tf.keras.layers.experimental.preprocessing.Normalization"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes (see below for code to reproduce).
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows 10 10.0.18363.836
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
Binary

[2020-05-31 00:20] Vivaldi64 opened #40017 "Image recognition with TensorFlow Lite for Andorid"
0

I am new to Android Studio and TensorFlow lite, I have used google teachable machines to train some model an create my tflite files I started working form this git code that tensorflow provides for image-classification:

https://github.com/tensorflow/examples/tree/master/lite/examples/image_classification/android

And after following this tutorial:

https://codelabs.developers.google.com/codela

[2020-05-31 02:30] tobivcu commented on #252
Could you please help me on that? I also desperately want my tensorflow to be compatible with pypy <33 Thank you!

[2020-05-31 03:03] gowthamkpr commented on #39879
@TekayaNidham  Please post this issue in [tensorflow/models](https://github.com/tensorflow/models/issues) or in stackoverflow as this issue is primarily a models issue. Thanks!

[2020-05-31 03:16] gowthamkpr commented on #39818
This is similar to this question [here](https://stackoverflow.com/questions/54375298/how-to-use-tensorflow-feature-columns-as-input-to-a-keras-model) where the workaround has been provided.

[2020-05-31 03:19] gowthamkpr commented on #39800
@fengxiuyaun Please post this question on stackoverflow as this issue is not related to bug/performance, build/install or feature request related issues. Thanks!

[2020-05-31 03:22] juanlp commented on #33618
Where do you update this? Thanks

[2020-05-31 03:22] legel commented on #38194
Just to confirm solution by @palisadoes works.
Just to make sure you have installed everything (developer version) and then you can run:
`sudo apt-get install cuda-cudart-10-1`

[2020-05-31 03:24] legel commented on #38578
See https://github.com/tensorflow/tensorflow/issues/38194
Just make sure you have installed everything (developer version) and then you can run:
`sudo apt-get install cuda-cudart-10-1`

[2020-05-31 03:50] w19787 opened #40019 "When subclassing the `Model` class, you should implement a `call` method."
tf version: tf 2.1.0

[code]

without sub_test_model, the model save/load will work fine. with the sub model, it will occur the following error.
![image](https://user-images.githubusercontent.com/731496/83344067-e3945f00-a334-11ea-813d-7819e99a7db9.png)

[2020-05-31 04:43] ymodak commented on #39794
Can you try reducing the batch size and check if the error still happens?

[2020-05-31 04:47] ymodak commented on #36121
Closing this issue since the associated PR has been merged. Feel free to reopen if necessary.
Thanks!

[2020-05-31 04:47] #36121 closed

[2020-05-31 04:49] ymodak commented on #35431
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-05-31 04:49] #35431 closed

[2020-05-31 04:56] ymodak commented on #37227
Apologies for the delay in response. This is fixed with TensorFlow version 2.2
Please give it a try. Thanks!

[2020-05-31 05:52] jimmy6 commented on #39434
I also found memorry issue once i upgrade from GPU 2.0 to 2.2. I already reduce half of the data size. But still getting on model.fit. The Nvidia GPU will just disappear in Window.
[code]

[2020-05-31 06:00] SlowMonk opened #40020 "TypeError: 'tuple' object is not callable"
tensorflow 2.0
pycharm
python 3.7

[code]

File "/home/jake/Gits/ssd_tensorflow/train.py", line 36, in train
    run_train(dataset.map(resize_image, num_parallel_calls=tf.data.experimental.AUTOTUNE).batch(64).prefetch(tf.data.experimental.AUTOTUNE))
  File "/home/jake/Gits/ssd_tensorflow/train.py", line 22, in run_train
    predicted_locs, predicted_socres = model(image)# (N, 8732, 4), (N, 8732, n

[2020-05-31 06:23] arwen-x commented on #34275
Could you please give more details on adding optimizer as a string and learning rate as a float?I am not able to experiment with different learning rates on HParams. Here is the [link](https://github.com/tensorflow/tensorboard/issues/3688) to my issue.

[2020-05-31 06:45] yqtianust commented on #31619
@Saduf2019 I think so.
However, according to #31408.

[2020-05-31 06:50] yashem66 commented on #39744
I got the same problem last night.
I execute this and I fixxed it.
`
cd $GOPATH/src/github.com/tensorflow/tensorflow/tensorflow/go
git checkout r1.11
`

[2020-05-31 07:44] BeardyMan37 commented on #38377
Was this issue solved? I'm facing it while building TensorFlow 1.15.2 from the source in Ubuntu 20.04, even after changing the strip prefix and sha checksum.

[2020-05-31 08:41] PetrDvoracek commented on #39744
Same problem, this "fixed" the problem at least temporarily.

[2020-05-31 08:45] shivamjadhav-alfa commented on #39367
i have installed  packages using "conda install tensorflow" but in spyder when i am trying to  imports that getting the import error "export_saved_model"

[2020-05-31 08:46] vladdders commented on #39909
@Saduf2019 I have tried what @xchani suggested and sadly the same issue occurs. I have installed the stable version `2.2.0` as mentioned previously. Please find the gist [here](https://colab.research.google.com/drive/1yIx_J3NfIlDpaJw9XMgXpIT4XY69Y6nJ?usp=sharing).

[2020-05-31 08:46] shivamjadhav-alfa commented on #39367
please help me out!!! ASAP

[2020-05-31 08:51] PhilipPurwoko commented on #26835
use this
tf.keras.models.load_model('model.h5',custom_objects={'KerasLayer':tfhub.KerasLayer})

[2020-05-31 08:52] PhilipPurwoko commented on #26835
Use this code instead :
tf.keras.models.load_model('DogVisionModel.h5',custom_objects={'KerasLayer':tfhub.KerasLayer})

[2020-05-31 08:56] jadevaibhav commented on #39982
[working link](https://colab.research.google.com/drive/1BgfoS1_Co7DlKtMPYsJ-98vp4ctrVaPL?authuser=1)

[2020-05-31 09:05] Saduf2019 commented on #39995
I am able to replicate this issue, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/73e91c8d3f3e1a9091d69a771b0a0254/untitled208.ipynb)

[2020-05-31 09:08] Saduf2019 commented on #40008
@307509256
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue temp

[2020-05-31 09:13] Saduf2019 commented on #39664
@mahesh2996
Like the earlier gist shared i am unable to access this code, can you please paste the code here so i could try to replicate the issue.

[2020-05-31 09:20] HansGabriel commented on #26835
Thanks! I will update the code according to your post. I really appreciate your effort.
    On Sunday, 31 May 2020, 04:52:21 pm GMT+8, Philip Purwoko <notifications@github.com> wrote:

Use this code instead :
tf.keras.models.load_model('DogVisionModel.h5',custom_objects={'KerasLayer':tfhub.KerasLayer})

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub

[2020-05-31 09:53] gowthamkpr commented on #39654
@zredlined Try batching several lines to generate at once into the model.predict() while maintaining individual LSTM state per line in the batch and let us know if it speeds up on no.

[2020-05-31 09:56] Saduf2019 commented on #40005
Can you please refer to this [comment](https://github.com/tensorflow/tensorflow/issues/39130#issuecomment-623335820) also can you down grade your python [3.7] and let us know if it helps.
please refer to his [page](https://www.tensorflow.org/install/pip)

#33374  #33543  [link](https://github.com/tensorflow/tensorflow/issues/38750#issuecomment-623088620)

[2020-05-31 10:09] rubjim commented on #33755
same problem here

[2020-05-31 10:11] Saduf2019 commented on #40002
I am able to replicate this issue, [masking occurring in 2.1](https://colab.sandbox.google.com/gist/Saduf2019/16ac32138d26f2a15b72c284d30b2442/untitled205.ipynb) and works as not in [tf 2.2](https://colab.sandbox.google.com/gist/Saduf2019/32c69933c866dce75e755d620ad8b663/untitled208.ipynb)

[2020-05-31 10:17] Saduf2019 commented on #40020
@SlowMonk
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue templ

[2020-05-31 10:34] michalCyberfish commented on #39830
[code]
Main code:
[code]

[2020-05-31 10:35] nitinmnsn commented on #39980
This will break the gradients flowing back to `v1` and `v2`. And why do we need to supply the numpy values of the tensors. The op should be able to operate on variables

[2020-05-31 10:41] vishnunaiir commented on #36358
This depends on what name you use to store your accuracy variable. IF its stored as 'acc' use log.get('acc') else if you stored accuracy to "accuracy" use log.get('accuracy').  If you stored on some other variable, use it so.
Cheers m8

[2020-05-31 10:51] lheim commented on #30953
@dimtass there is no special requirement from the TF Lite converter side.
You only need to provide a *representative* dataset which is the same format as your training samples. In my case I used my whole normalized test set, as my network was trained on normalized data. Usually less samples are also fine (~100).

[2020-05-31 11:35] alankongfq commented on #36501
@CMCDragonkai -- I also faced the same issue as you.
I had ported code from tf 1.15 to tf 2.1 and tried running the same code that work on my other machine. Following the tensorflow guide at https://www.tensorflow.org/guide/gpu, i had tried these 2 block of codes:

code 1
[code]
code 2
[code]
Both code blocks allocated all GPU memory instead of my previously observed behavior of incremental increa

[2020-05-31 11:38] ravikyram commented on #39993
@andreilica

Looks like the error is with opencv and not Tensorflow. If you feel the error is related to Tensorflow please share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-05-31 11:44] ravikyram commented on #39989
@Krishnarohith10

Can you please provide colab link or simple standalone code to reproduce the issue in our environment instead of screenshots.It helps in localizing the issue faster.Thanks!

[2020-05-31 11:45] ravikyram commented on #39998
@creatist
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.

Make sure you also include the code snippet to reproduce the issue. If you are unclear what to include see the issue template displayed in the Github [new issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).Thanks!

[2020-05-31 11:58] rensburger commented on #39744
Worked for me also

[2020-05-31 12:21] zhen8838 commented on #35346
@anj-s  Is there any way to speed up the compilation?

I am currently training 7 models in tf.function, and it takes more than 20 minutes to start training !!! Very bad.

I observed that the CPU can only use one core to compile, is there any way to start multiple threads to compile at the same time?

[2020-05-31 12:30] DENESTY opened #40022 "why pd converted to cpkt, pd model detection effect is poor, nothing can be detected"

[2020-05-31 12:40] Krishnarohith10 commented on #39989
@ravikyram
I didn't get I posted the code in Standalone code section when I started the issue?

[2020-05-31 12:52] omertortumlu commented on #3304
When I change batch_size, the quality of training decreases. It should have had a better optimization.
Cuda version=10.0
Tensorflow-gpu==1.14.0
Python=3.6.4
...
Limit:                  3150400716
InUse:                  3148202496
MaxInUse:               3150392320
NumAllocs:                  545033
MaxAllocSize:           2255688704
W tensorflow/core/framework/op_kernel.cc:1502] OP_REQUIRES faile

[2020-05-31 12:57] Shuntw6096 opened #40023 "OperatorNotAllowedInGraphError: iterating over `tf.Tensor` is not allowed"
**code below**
[code]
**error massage below**
[code]
The problem should be
[code]
Error is about iterating over `tf.Tensor` is not allowed.
Is reduce_mean not working in tf.function?

[2020-05-31 13:08] omertortumlu opened #40024 "How to set batch_bize best. I get leakage in old Cuda versions, allocated memory consumption error in new Cuda versions."
Cuda :10.0.0
Tensorflow :  1.14.0
Keras :  2.3.1
Python=3.6.4
Nvidia GeForce GTX 970

Keras Model InceptionV3, Epoch 10, BatchSize=80, ImageSize=(170,170,3), Activation softplus, Optimizer Adam, Loss Function Categorical_crossentropy, Learning_rate=0.0001,

...
2020-05-31 15:32:23.841070: I tensorflow/core/common_runtime/bfc_allocator.cc:812] 9 Chunks of size 12582912 totalling 108.00MiB
2020-05-3

[2020-05-31 13:11] OverLordGoldDragon opened #40025 "Same labels and predictions, non-zero loss"
[code]

[code]

What's the deal?

[2020-05-31 13:29] jfb54 commented on #39790
I am also seeing this issue. Any hope of a near term fix? I am blocked.

[2020-05-31 13:41] user-vm opened #40026 "Cannot build TensorFlow Lite iOS framework for benchmark tool due to '@XNNPACK//:neonv8_ukernels' rule compilation failure"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.14.6
- Mobile device

[2020-05-31 13:50] AlexWang1900 opened #40027 "TF2.2 HALT TRAINING ON 2 2080TI+NVLINK BRIDGE"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):NO
- OS Platfor

[2020-05-31 14:16] OverLordGoldDragon commented on #40025
This is expected behavior - my mishap.

[2020-05-31 14:16] #40025 closed

[2020-05-31 14:32] SirTapir commented on #39803
@Anasel23 Yes, I trained the model with the same command. Btw, I've also opened a question at stack overflow [here](https://stackoverflow.com/questions/62025209/invalid-output-tensor-index-1-when-running-a-custom-yolov3-tiny-model-on-google) maybe it could be of some help.
On the topic of updates regarding this error:

- I've successfully ran the model without crashing. I did this by only putting

[2020-05-31 14:33] bmabir17 commented on #39179
@ymodak can you please help to understand why this error is error is being thrown?

[2020-05-31 14:48] Minakshee25 commented on #36878
I cannot install tensorflow ==1.14
command: pip install tensorflow==1.14
ERROR: Could not find a version that satisfies the requirement tensorflow==1.14 (from versions: 2.2.0rc1, 2.2.0rc2, 2.2.0rc3, 2.2.0rc4, 2.2.0)
ERROR: No matching distribution found for tensorflow==1.14

Need help

[2020-05-31 14:51] thanoscs opened #40028 "Tensorflow after built from source in High Sierra won't import in Jupyter notebook"
Hello and i would to apologise if this is not the right place to ask the question i have but it is my first time writing to ask for help.

Getting to my question, i built tensorflow from source in my macbook pro (mid 10) which is running on High Sierra 10.13.6. After installing tensorflow it imports without problems in python from terminal but when i open jupyter notebook and i try to import it fr

[2020-05-31 15:20] ahmadmustafaanis opened #40030 "models.metrics"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-05-31 15:27] orsharir commented on #29304
@alexrenda Hi, I've encountered a similar issue, but it happens only when using TPUs where SummaryWriter throws the same exception. Have you managed to sort it out in your case?

[2020-05-31 16:02] bondhugula commented on #37498
I still experience this issue with fa0721cfbd93a1506d39735296a260a877354e6c (May 21). The real issue here is that the inline asm code in question isn't meant to compile with debug build flags (-c dbg), but only with -O3/-O2/-O1 specified. So, aws-checksums uses DEBUG_BUILD to avoid that inline asm and use an alternative slow implementation for debug builds. As such, for TensorFlow's debug builds,

[2020-05-31 16:15] Saduf2019 commented on #40024
@omertortumlu
Please share simple stand alone code that replicates the issue faced.

[2020-05-31 17:10] #39606 closed

[2020-05-31 17:41] umair13adil opened #40031 "Unexpected failure when preparing tensor allocations: tensorflow/lite/kernels/transpose.cc:"
I have trained an audio classification model using Keras & Tensorflow and converted it to Tensorflow lite, it is converted fine but when I run on Android I get this error:

[code]

**Usage:**

[code]

**Android Dependency:**

` implementation 'org.tensorflow:tensorflow-lite:2.2.0'`

**Python Requirements:**

[code]

**Model Conversion:**

    # Create a converter
    converter = tf.lite.TFLiteConv

[2020-05-31 18:11] acrushdjn commented on #40014
@amahendrakar Hi sir, could you please take a look at this

[2020-05-31 18:23] ElPapi42 commented on #38871
Any advances or hints on this topic? at least some guidance about how to quantize or optimize models fo being deployed on Tensorflow Serving?

[2020-05-31 18:31] anavanab99 commented on #39818
Yes, this problem is indeed very similar, but he can only solve the feature series of dense layers. It is used to input the **sequence** characteristic column of the lstm layer, which cannot be run by this method. You can try my code. There will be an error that I cannot understand. thank you very much
[my_code.txt](https://github.com/tensorflow/tensorflow/files/4708171/my_code.txt)

[2020-05-31 18:32] anavanab99 commented on #39818
Yes, this problem is indeed very similar, but he can only solve the feature series of dense layers. It is used to input the **sequence** characteristic column of the lstm layer, which cannot be run by this method. You can try my code. There will be an error that I cannot understand. thank you very much
[my_code.txt](https://github.com/tensorflow/tensorflow/files/4708173/my_code.txt)

[2020-05-31 18:36] orsharir opened #40032 "Regression on tf-nightly when using Cloud TPU and writing to GCS"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian 4.19.118-2
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): tf-nightly==2.3.0.dev20200531
- Python version: 3.7.3
- GPU model and memory: v3-8 TPU on Google Cloud

[2020-05-31 18:40] testote commented on #30794
When I do "sudo -H pip2 install tensorflow==1.15" I get
ERROR: Package 'mock' requires a different Python: 2.7.18 not in '>=3.6'

When I do "sudo -H pip3 install tensorflow==1.15" I get
ERROR: Could not find a version that satisfies the requirement tensorflow==1.15 (from versions: 2.2.0rc1, 2.2.0rc2, 2.2.0rc3, 2.2.0rc4, 2.2.0).

The fact that  tensorflow.contrib was removed from python3 tensorflow

[2020-05-31 18:41] testote commented on #39616
When I do "sudo -H pip2 install tensorflow==1.15" I get
ERROR: Package 'mock' requires a different Python: 2.7.18 not in '>=3.6'

When I do "sudo -H pip3 install tensorflow==1.15" I get
ERROR: Could not find a version that satisfies the requirement tensorflow==1.15 (from versions: 2.2.0rc1, 2.2.0rc2, 2.2.0rc3, 2.2.0rc4, 2.2.0).

The fact that  tensorflow.contrib was removed from python3 tensorflow

[2020-05-31 19:34] HEKMATTAHERINEJAD commented on #39367
The same issue here! I get error both on Windows and on Ubuntu 20.04 .

[2020-05-31 20:10] sun-peach commented on #40007
Does anyone have the same problem? It seems a dead end for me to use TF to train my system.

[2020-05-31 20:15] ismaelestalayo commented on #26758
Sorry to tell you that I did not "fix" it per se (if it even was a bug or error of Tensorflow).
As you can see in my previous message, GPU-Z actually showed a 40% load on the GPU which is way more significant, and the other 60% missing could partly be because of very small batch sizes which are not optimal as another user suggested in this very issue.

Lastly, if you're using LSTM, I recommend you

[2020-05-31 22:16] caffeine-lab opened #40035 "Training error on Cloud TPUs"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-05-31 22:51] DBraun commented on #21965
I fixed my problem by cloning https://github.com/google/flatbuffers and including the path to "flatbuffers\include"

[2020-05-31 23:03] OriAlpha commented on #39949
[code]

You could use this code to generate the model and use the above code to convert to TFLITE

[2020-05-31 23:37] jpeleuterio commented on #8037
Nope, It shows even if you are using GPU, if you haven`t silenced the messages you should also see Tensorflor loading your GPU device in command prompt.

[2020-06-01 00:27] edwardyehuang commented on #39588
Tensorflow 2.2 takes much more time than 2.1/2.0 to start training, after called "keras.fit".

[code]

It stucks about 7 mins to start training.

[2020-06-01 00:30] edwardyehuang commented on #39588
Log from 2.1

[code]

[2020-06-01 00:47] jarednielsen commented on #39588
Interesting that the random weighing causes the performance slowdown. In my case, turning on dropout layers (even with dropout_prob=0) causes the performance slowdown. Could it be something in the tensorflow randomness modules?

[2020-06-01 00:53] edwardyehuang opened #40036 "Tensorflow 2.2 takes much more time than 2.1/2.0 to start training with "keras.fit""
**System information**
- OS Platform and Distribution:Ubuntu 18.04
- TensorFlow installed from (source or binary):conda (I trided pip, same)
- TensorFlow version:2.2
- Python version:3.7
- CUDA/cuDNN version: 10.1
- GPU model and memory:  Titan RTX * 2  = 48GB

Tensorflow 2.2 takes much more time than 2.1/2.0 to start training, after called "keras.fit".

[code]

It stucks about 7 mins to start tra

[2020-06-01 02:06] mihaimaruseac commented on #39616
Before TF 2.2 you need python 3.5, 3.6 or 3.7. Not Python 2 or python 3.8

[2020-06-01 02:07] zhen8838 commented on #40036
I have same issue. https://github.com/tensorflow/tensorflow/issues/35346#issuecomment-636463855

I think it cause by AutoGraph compiled slow.

[2020-06-01 02:12] ChungNPH commented on #39972
Hi @amahendrakar , i created a new env and installed tensorflow-gpu 1.15 and keras, but i still face this issue. :(

[2020-06-01 02:14] ChungNPH commented on #39972
Package              Version
-------------------- -------------------
absl-py              0.9.0
astor                0.8.1
backcall             0.1.0
certifi              2020.4.5.1
decorator            4.4.2
entrypoints          0.3
gast                 0.2.2
google-pasta         0.2.0
grpcio               1.29.0
h5py                 2.10.0
importlib-metadata   1.6.0
ipykernel            5.1.4
i

[2020-06-01 02:22] xunkai55 commented on #38337
@LavitzBr Based on the contents in the original post, it looks like you got an "Image Classification" model (mobilenet_v2_140_224) from TFHub. That model is used for predict the category of images. However, your app is the "Object Detection" app. An "image classification" model cannot be used for "object detection" without subtle modifications.

If you want an Image classification app, please chec

[2020-06-01 02:58] ravikyram commented on #40001
@LucasColas

I have tried in colab with TF version 2.2.0 and i am not seeing any issue.Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/d7ad500756d76dc15577110c28b2bf78/untitled936.ipynb).Thanks!

[2020-06-01 03:05] ElPapi42 commented on #27780
Any advances on support this? this has a huge impact on the MobileNetV2 provided by tensorflow.keras.applications.

[2020-06-01 03:07] chn-lee-yumi commented on #36996
@amahendrakar
Hello, I have checked the code, it can run on TF v2.2 without any issues. The colab default TF 2.x version had changed to TF v2.2 too.

[2020-06-01 03:20] ravikyram commented on #40004
@dgel

Can you go through the l[ink1](https://github.com/tensorflow/tensorflow/issues/35623),[link2](https://github.com/tensorflow/tensorflow/issues/14632),[link3](https://github.com/tensorflow/tensorflow/issues/22980) and see if it helps you.Thanks!

[2020-06-01 03:30] ravikyram commented on #40015
@tsbressan

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.
Request you to fill [Github new issue template.](https://github.com/tensorflow/tensorflow/issues/new/choose).

Will it be possible to share colab link or simple standalone code to reproduce the issue in our environment.It helps is in localizing the issue fast

[2020-06-01 03:51] Flomastruk commented on #38689
Seems like I am experiencing the same issue, even after specifying `batch_size` parameter to `model_fit`. Native keras backend seems to give 2.5x faster training time versus tensorflow.keras backend.

Below is a code for a basic model and simulating random data. With the settings of basic colab GPU session (Tesla P4, rest from specs in the first post of the thread) it takes 16 sec/epoch using tens

[2020-06-01 03:59] hematogender commented on #33153
Facing the same problem using the wheel on Android. It tries to lazy-load the full TensorFlow module, which surely fails. I need to bundle only the tflite_runtime... The import is on line 30 in interpreter.py

[2020-06-01 04:25] ymodak commented on #34007
@durandg12 Thanks for the findings. The guide has been updated addresses the topics discussed in this issue.

[2020-06-01 04:25] #34007 closed

[2020-06-01 04:45] Saduf2019 commented on #40036
@edwardyehuang
Please provide with simple indented stand alone code for us to replicate the issue faced.

[2020-06-01 04:46] ymodak commented on #34898
@hsgkim Can you please take a look at this issue? Looks like this is possibly related to your changes in the past.
Thank you.

[2020-06-01 04:46] ravikyram commented on #40019
@w19787

Can you please try with TF 2.2 .I am not seeing any issue with TF version 2.2.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/c9beebb86c45ef7bcb9f4df1eef40d91/untitled938.ipynb).Thanks!

[2020-06-01 04:53] Shuntw6096 commented on #40023
Use a = tf.reduce_mean(loss_history, axis=1) , if want to use tensor element, use a[0], a[1], ..., it works. It look like that tensor can not catch separately.

[2020-06-01 04:53] #40023 closed

[2020-06-01 05:06] omertortumlu commented on #40024
`import tensorflow as tf
import keras
from keras import backend as K
from keras.callbacks import ModelCheckpoint
from keras.metrics import categorical_crossentropy,binary_crossentropy,mean_squared_error,mean_absolute_error,mean_absolute_percentage_error,mean_squared_logarithmic_error,squared_hinge,hinge,categorical_hinge,logcosh,sparse_categorical_crossentropy,kullback_leibler_divergence,poisson,c

[2020-06-01 05:15] emadboctorx opened #40037 "How am I supposed to debug an error with this complexity? - Shapes mismatch YoloV4 - tensorflow 2.2"
I recently added a new feature to my [yolo implementation in tensorflow 2.2](https://github.com/emadboctorx/yolov3-keras-tf2) is models are currently loaded directly from [DarkNet](https://github.com/AlexeyAB/darknet) cfg files for convenience, I tested the code with yolov3 configuration as well as yolov4 configuration they both work just fine except for v4 training. Shortly after I start training

[2020-06-01 05:19] qlzh727 commented on #39908
Thanks for reporting the issue.

I think there are several issues we need to address here:

1. The model is built with 2 inputs and 4 outputs. However, the training data only have 2 inputs and 2 outputs. This is causing the issue for Error log №2. After I removed 2 extra output when building the model, the model.fit() still failed with. I need to check with runtime team and see what's the root cau

[2020-06-01 05:20] fsx950223 commented on #40037
Your class number is different from yolov4 weight.

[2020-06-01 05:25] qlzh727 commented on #39908
Btw, I think the issue is probably related to https://github.com/tensorflow/tensorflow/issues/38906, which we have same finding for tensorflow.python.framework.errors_impl.AlreadyExistsError.

Btw, disable_eager_execution() will probably cause some side effects in our code base, since it will fallback to some legacy behavior, which might not be recommended for current user. Do you really need eage

[2020-06-01 05:33] emadboctorx commented on #40037
@fsx950223 The problem has nothing to do with weights, i dont even load the weights to produce the error just run the code using the code snippet and the data i provided, you'll get the same error and try again using yolo3.cfg it will run perfectly fine and since there is no clear indication of which tensors that are incompatible, i can't trace the source of the error

[2020-06-01 05:34] fsx950223 commented on #40037
The log shows ```node yolo_loss/logistic_loss/mul (defined at ../Helpers/utils.py:260)```

[2020-06-01 05:35] YinTat opened #40038 "Warnings in tf.autodiff.ForwardAccumulator"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-06-01 05:39] emadboctorx commented on #40037
I ran the program in pycharm debugger, the inputs of the loss function are the same for yolo3 and yolo4 configuration or maybe i overlooked something however, the error happens in some tensorflow module that is named execute.py or a similar name

[2020-06-01 06:10] korosig commented on #39943
Yes ... here is it
[eval.txt](https://github.com/tensorflow/tensorflow/files/4709672/eval.txt)
[train.txt](https://github.com/tensorflow/tensorflow/files/4709673/train.txt)

[2020-06-01 06:38] Krishnarohith10 commented on #39989
So, I reinstalled the whole setup with new drivers and anaconda. Here are details:

**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow version (use command below): 2.2.0
- Python version: 3.7.6
- CUDA/cuDNN version: 10.1.105/ 7.6.5
- GPU model an

[2020-06-01 07:06] adityakpranav commented on #33545
thanks bro!! was getting a similar error `TypeError: Expected Operation, Variable, or Tensor, got 1`

[2020-06-01 07:09] paulis-reece commented on #39981
Can I work on this issue?

[2020-06-01 07:19] orwa-te commented on #16768
I am facing the same problem. The model is trained well on CPU and the problem only appears on GPU. Isn't there a solution? It is not reasonable to change the Python code to solve it

[2020-06-01 07:21] Saduf2019 commented on #40024
@omertortumlu
Please provide indented code, indentation error faced while i ran the code shared. please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/deaa7a6a98309337946099a9de8e31d8/untitled210.ipynb) or provide a colab gost witht he error faced.

[2020-06-01 07:21] Ritaprava95 commented on #16768
Your GPU memory is less, decrease the batch size and try.

On Mon, Jun 1, 2020, 12:50 Orwa Kassab <notifications@github.com> wrote:

[2020-06-01 07:35] ialdencoots commented on #37227
Thanks, no issues now with 2.2

[2020-06-01 07:35] #37227 closed

[2020-06-01 07:37] Saduf2019 commented on #40031
@umair13adil
I ran the code shared by you there is syntax error, can you please share simple indented stand alone code such that we can replicate the issue or if possible share a colab gist to analyse the issue.

Can you please refer to issues with similar error message: #36555 #38926 if it helps.

[2020-06-01 07:38] amahendrakar commented on #39992
Was able to reproduce the issue with [TF v2.2](https://colab.research.google.com/gist/amahendrakar/8471d51d7c8204008b6d6e62726ae9bf/39992.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/1a32d5ca9f34b8dcb1b68916d3430cc6/39992-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-06-01 07:40] johnamcleod commented on #39088
This appears to have been fixed in the latest nightly build (`2.3.0.dev20200531`).

[2020-06-01 07:41] Saduf2019 commented on #40027
@AlexWang1900
I am unable to open the file shared, can you please provide a colab gist or paste the code here that replicates the issue.

[2020-06-01 07:44] ValYouW commented on #33634
@OmarJay1 Check commit fa32891 to see the correct files, it should work on "master".
Regardless, as jdduke recommended above, you can try and use the C library, it worked pretty well for me (made a [youtube](https://youtu.be/dox1ZkFP-f4) video showing how to build and use)

[2020-06-01 07:45] CuiYifeng commented on #39632
@impjdi `tensorflow-2.2.0` doesn't meet my needs. Actually I replace the abseil-cpp with the one in r2.2 to build TF with recent master branch. The case you mentioned hasn't affected me yet. May I think you will resolve this issue in TF 2.3.0 rc0?

[2020-06-01 07:50] umair13adil commented on #40031
@Saduf2019 The Issue is on the Android side. Tensorflow lite library is crashing when I run it, If you run the Android code in Android studio, you will see the exception details.

Can you tell me what I can do to optimize my model so Tensorflow lite can run without crashing?

[2020-06-01 07:51] AlexWang1900 commented on #40027
It's also here in Tensorflow's GitHub
https://github.com/tensorflow/docs/blob/master/site/en/tutorials/distribute/keras.ipynb

[2020-06-01 07:59] Saduf2019 commented on #39909
I am able to replicate this issue, please find [gist here](https://colab.sandbox.google.com/gist/Saduf2019/ff1cf5b8fbd883b1677cf41088166bc0/untitled211.ipynb). Thanks!

[2020-06-01 08:05] vizsatiz commented on #38503
I faced the same issue, was fixed by switching to tensorflow=2.1.0 and keras=2.3.1, also it did work fine with tensorflow=2.0.0

Issue is in tensorflow=2.0.0.

[2020-06-01 08:10] #39582 closed

[2020-06-01 08:22] orwa-te commented on #16768
It did not work. I tried multiple values for the batch size and still getting the same exception.
I monitored the usage of my GPU and it only reached about 14% as max at the first moments of training the model!!!!!!!!!
My GPU info: NVIDIA GeForce GTX 1050

[2020-06-01 08:27] Ritaprava95 commented on #16768
1050 has 4 gb memory, which is pretty low. Only reducing batch size won't
work. Resize all your images to 30*30. Run a loop through the images to
resize them. Then try to train with batch size of 16.

On Mon, Jun 1, 2020, 13:52 Orwa Kassab <notifications@github.com> wrote:

[2020-06-01 08:29] Ritaprava95 commented on #16768
OOM means out out of memory, GPU usage and graphics memory usage are two
different things

On Mon, Jun 1, 2020, 13:56 Ritaprava Dutta <ritaprava95@gmail.com> wrote:

[2020-06-01 08:44] ravikyram commented on #40030
I have tried in colab with TF version 2.2, nightly version and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/596178d7832c35f15db66df49febf958/untitled939.ipynb).However i am not seeing any issue with TF version 2.1.0 .Thanks!

[2020-06-01 08:49] orwa-te commented on #16768
It worked with a batch size of 8. Thanks very much

[2020-06-01 08:53] amahendrakar commented on #40000
@wwwind,
Could you please check @lheim's comment and let us know if it works. Thanks!

[2020-06-01 08:53] labusi opened #40041 "Customizing what happens in fit()"
I read the guide document of keras, and run codes of 'Customizing what happens in fit() -> Going lower-level', just copy code on the guide and run it, but I get this error message:

"ValueError: The model cannot be compiled because it has no loss to optimize."

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform

[2020-06-01 08:54] ravikyram commented on #40007
@sun-peach

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.

Request you to share colab link or simple standalone code with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-06-01 08:58] ravikyram commented on #40035
@caffeine-lab

Request you to share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-06-01 09:10] #39464 closed

[2020-06-01 09:17] beew opened #40042 "Tensorflow getting slower and slower"
I am benchmarking tensorflow with the cifar10_train.py script from https://github.com/tensorflow/models (v.1.13.0)

Running for 100000 steps, in the first  190 steps
[code]
then it progressively goes downhill.

in the last 200 steps;
[code]
There is a steady drop in examples/sec
is this normal?

OS Ubuntu-16.04
Tensorflow 1.15.3 compiled from  source
python-3.7.6
tested for both cuda-10.0 and 10.1

[2020-06-01 09:27] ravikyram commented on #40038
@YinTat
I have tried in colab with TF nightly version(`2.3.0-dev20200531`) and i am not seeing any issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/2e0550ac41f691ddc5371a467d9edf6f/untitled941.ipynb).You could use tf-nightly for now and in the next couple of months new stable version will be released. Please, verify once and close the issue. Thanks!

[2020-06-01 09:28] amahendrakar commented on #39996
Was able to reproduce the issue with [TF v2.2](https://colab.research.google.com/gist/amahendrakar/af9e7b3b1a72432c7561691518453a40/39996.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/627d9652a3c45160e098f4bdb32d0fef/39996-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-06-01 09:46] zhuzilin commented on #39986
Some update with regards to this issue.
The code could be successfully executed in graph mode and the error only appears in eager mode. Also, the code works fine in both eager and graph mode, if I put it into tensorflow codebase and compile as a whole.
I've uploaded the code to github [here](https://github.com/zhuzilin/custom_dataset_op)

[2020-06-01 09:49] vinorth05 commented on #39909
Hello everyone, I also have the exact same error :

Traceback (most recent call last):
  File "convert_tflite.py", line 111, in <module>
    app.run(main)
  File "/home/vinorth/anaconda3/envs/yolov4-tflite/lib/python3.7/site-packages/absl/app.py", line 299, in run
    _run_main(main, args)
  File "/home/vinorth/anaconda3/envs/yolov4-tflite/lib/python3.7/site-packages/absl/app.py", line 250, in _ru

[2020-06-01 09:52] caffeine-lab commented on #40035
My code is based on. : https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/text/image_captioning.ipynb

code snippet which remodified

[code]

Rest of the code remains the same as in the notebook