[2017-01-30 17:38] botonchou commented on #5688
Similar problem here with deep 2d convolution network and huge batch size (because my input is [seq_length * batch_size, height, width] ).

[code]

Change batch size to a smaller one solves the issue. It'd great if it can throw a python exception : )

[2017-01-30 18:01] drpngx commented on #6599
Main memory as in CPU? Could you build with tcmalloc, then get a heap profile?

[2017-01-30 18:03] drpngx commented on #7013
Right which one?

[2017-01-30 18:06] drpngx commented on #6349
Please also follow #7116

[2017-01-30 18:07] drpngx commented on #4775
Just to put the links in github form: #7116, #6349

[2017-01-30 18:10] alquraishi commented on #4552
I think we may be talking about two distinct levels of abstractions. I understand that "solving" the time-optimal or space-optimal memory execution order problem may be difficult. What I'm asking for is something that would prevent TF from executing an op if that would result in an OOM error. Perhaps I'm making an undue assumption: I'm assuming that TF can estimate the memory requirement of a sing

[2017-01-30 18:10] cancan101 commented on #5073
So I think this issue is related to the checkpoint file containing the `tmp` path before the rename occurs.

Inside the `checkpoint` folder:
[code]

but that folder has been renamed:
[code]

[2017-01-30 18:24] karllessard opened #7149 "[Java][Feature] Generating operation methods used to build a graph"
As suggested in https://www.tensorflow.org/versions/r0.11/how_tos/language_bindings, the list of operation methods for building a graph should be generated dynamically from the list exposed by the core, using preferably protobuf.

Is anyone already working on that feature? If not, I'm tempted to try it. I was thinking of generating a builder hierarchy that allows to optionally set an argument afte

[2017-01-30 18:35] drpngx commented on #7149
Thanks @karllessard! @asimshankar should know if that's in the plans or if it would be a welcome contribution.

[2017-01-30 18:38] vrv commented on #4552
@alquraishi it wasn't easy to determine whether executing an op would OOM in the current framework, since you're already in the execution of the OpKernel when you find out you run out of memory, and the framework doesn't really handle re-executing an OpKernel well (it may be possible, though).

I think there are two possible approaches to solve this (none of which I'm too involved in at the moment

[2017-01-30 18:40] Faur commented on #6007
I have another use-case for the having multiple variables have the same name. (I might be completely misunderstanding something, any help is appreciated)

I want to track some variables in TensorBoard. I am saving the validation loss and training loss (and other things) in separate directories, such that TensorBoard thinks they are from separate runs. The only problem with this approach is that du

[2017-01-30 18:51] yaroslavvb commented on #4552
@alquraishi estimating memory needed is hard, but simple heuristic might be to use an upper bound instead of true memory requirement. IE, suppose the largest op output is 1GB. Then you assume that once memory hits 11GB on TitanX, any new op executed will cause OOM and output needs to be placed on CPU.

Hence, once you hit 11GB, all GPU kernels place their output in main RAM until GPU RAM is reclai

[2017-01-30 18:56] yaroslavvb commented on #6599
To enable tcmalloc

[code]

[2017-01-30 19:01] yaroslavvb commented on #6360
BTW, there's another potential use-case for locking that came up [here](http://stackoverflow.com/questions/41920371/tensorflow-multi-threaded-queuerunner)

You have two aligned queues of images and labels. Then you have something like `f(images.dequeue(), labels.dequeue()`. If you run this function in two parallel run calls, the queues can get out of sync. A user-facing interface might be to have

[2017-01-30 19:04] Noahsark commented on #6896
I have exactly same issue. My cpu does not support avx2 and it will cause core dumped each time when import tensorflow.

[2017-01-30 19:05] alextp commented on #6360
For queues I recommend using a single queue for both images and labels. This is why all queues support tuples of Tensors.

What's the advantage of separate queues, if the enqueues and dequeues need to match, and so need any internal shuffling and whatnot?

[2017-01-30 19:06] alquraishi commented on #4552
Yes these would all be reasonable solutions. The problem I'm having right now is that I'm unable to run the model _at all_, which is a big step down from having to do some extra GPU<->CPU copying. I've tried to manually enforce sequential computations using `control_dependencies`, and it's alleviated the problem somewhat, but there are still many models I can't run that I would be able otherwise.

[2017-01-30 19:12] #5354 closed

[2017-01-30 19:18] yaroslavvb commented on #6360
Not sure what the advantage is. I guess this is similar to the use-case that was mentioned earlier, you may have function `f(a,b)` which modifies variables `a`,`b` and you don't want that function to see `a`,`b` variable in a partially updated state another copy of `f` is being executed concurrently

[2017-01-30 19:53] bazinac opened #7150 "Quantization:quantize_graph produces corrupted graph"
Hi,
sorry to bother again. In order to save some space I would like to quantize my graph, but everytime I run quantize_graph, it becomes unusable in android app later on. I would like to generally ask, how is this facility meant to be used. What I have done:

1. retrained graph (works fine)
2. optimized it using optimize_for_inference (works fine)
3. bazel-bin/tensorflow/tools/quantization/quantiz

[2017-01-30 21:22] andrewharp commented on #7150
@bazinac There should be more info associated with the segfault; can you please provide the adjacent log lines?

It might also be helpful to add some print statements following the call to runInference() until you can narrow down the exact line this crash is happening on.

As a random guess, are you positive that you're reading out the right data types from final_result_a and final_result_b?

[2017-01-30 21:33] knjeri opened #7152 "Library not loaded: @rpath/AdobeCreativeSDKCore.framework/AdobeCreativeSDKCore"
I just completed migrating my project from swift 2 to swift 3. I had installed AdobeCreativeSDKCore and AdobeCreativeSDKImages as pod file. The code builds but I get a "**_Thread 1: signal SIGABRT_**" error in the "**_0_abory_with_payload_**" file and "**_10_dyld_start_**"

[code]

[code]

On the console I get
[code]
I've been checking the podfile, I seem to have the framework in the "Pods" dropli

[2017-01-30 21:35] bazinac commented on #7150
Thanks for answer. I put before and after log around. runInference, all I got is:

`D/INFERNECE: before
I/native: tensorflow_inference_jni.cc:228 End computing. Ran in 2822ms (2822ms avg over 1 runs)
D/INFERNECE: after
D/INFERNECE: before
A/libc: Fatal signal 11 (SIGSEGV), code 1, fault addr 0xb9583000 in tid 9986 (inference)
Application terminated.`

Regarding right data types reading - I suppose

[2017-01-30 21:38] andrewharp commented on #7150
Right, so continue to place log statements until you don't see one getting hit. Then when that happens start bisecting the area between the last printout and the first missing printout until you've narrowed down the exact line.

There should also be more information associated with the segfault, could you please provide it?

[2017-01-30 21:55] asimshankar commented on #7136
Sorry for the trouble and thanks for catching it. Yup, that generate script does assume a single directory in GOPATH.

Contributions to fix this are welcome, as are ideas to make the whole process smoother.
(For example, avoiding the need for `go generate` by committing the generated code to the git repository is something we're thinking of but haven't started on)

[2017-01-30 22:07] asimshankar commented on #7149
Having generated code for ops in Java is indeed a next step for the Java API, but we haven't gotten around to it, or figuring out what an appropriate API would be.

We'd be happy to hear any suggestions/proposals you may have. As for the suggestion above, I don't think we want to put all operations as methods in a single `GraphBuilder` class for a few reasons such as (a) Per-op attribute handling

[2017-01-30 22:16] asimshankar commented on #7134
@jhseu : Weren't you looking into this? Is @EronWright 's plan above in sync with yours?

[2017-01-30 22:28] jiazhentim commented on #7116
Hi @drpngx , did you repro it?

[2017-01-30 22:36] bazinac commented on #7150
Yeah but issue is that it is happening at .runInference call, on the second time when its called. I placed those log statements like this:

[code]

and unfortunatelly there is not any further info regarding segfault, just

[code]

[2017-01-30 22:44] jhseu commented on #7134
Ah, yeah, I was going to do it last week but illness prevented me. Seems like it saved me some time :)

@EronWright happy to review the pull request when you think it's ready.

[2017-01-30 22:48] andrewharp commented on #7150
I see, you are calling runInference() twice? You should only need to call it once, even if you're reading from two output nodes. Though it shouldn't crash if you do.

There's nothing at all beyond the SIGSEGV line? That is surprising -- are you sure you're not filtering it out somehow?

[2017-01-30 22:48] kchen92 commented on #6263
I'm encountering a similar error using Tensorflow r0.12 and r1.0 as well. For me, the code breaks when I start a new session using `with sv.managed_session(...) as sess`.

[2017-01-30 22:52] andrewharp commented on #7150
Or do you mean it crashes on the second time through? What I am trying to figure out is if you are doing something like:
[code]
or
[code]

because if possibly you are reading calling runInference twice, once for each output node, and then trying to read from an output buffer that was cleared by the second runInference call, that could potentially cause a problem.

[2017-01-30 22:54] #6576 closed

[2017-01-30 22:58] bazinac commented on #7150
Yeah I run it twice, because I am using two instances of Classifier, one for each output layer, which is probably not the best design). However it worked with non quantized version of graph.

When displaying really all output (not just related to my app), i see:
[code]

Thank you for your time Andrew, I really appreciate your help here.

[2017-01-30 23:00] SloaneLAD commented on #1269
hi everybody,

I'm a old developper from Paris. I'm interesting by tensorflow, so I can to build and test.
But : I have a some problem. I have read all the forum, but I have not idea of my mistake.

I have trained image and unstripped (It's work fine), I have created the file "TensorFlowImageListener.java" and put it in my Android-studio in the right place (I think) but when I launch a build.....I

[2017-01-30 23:03] jhseu commented on #7134
@EronWright some feedback on the code: I was imagining we'd use a static factory method on the Session class. Is there a reason to make a new SavedModelBundle class instead (note that the C++ equivalent isn't ideal and may change)?

Something like:
`public static Session loadSavedModel(String/Path path)` with a variant that also retrieves the metagraphdef.

[2017-01-30 23:04] notnot commented on #7136
Yes 'go generate' is for the package maintainer(s) to call, not for the end user who wishes to install the package. As long as the maintainer(s) know that generate.sh only works with a single-directory GOPATH all is fine.
I did some searching to figure out how to robustly find the directory that a shell script is in, so that it could find PROTOC from there. There seems to be no reliable cross-plat

[2017-01-30 23:24] andrewharp commented on #7150
To be clear, you have instantiated two unique TensorFlowInferenceInterface objects in your app, and you use one for each layer you're interested in? If you make the calls in the opposite order, does it still crash?

To workaround your issue, if the input data remains the same in computing finaleResultA/B, you can and should get both output layers from a single runInference call on a single TensorF

[2017-01-30 23:25] bazinac commented on #7150
I have tried it with another phone, and here, error is the same, but log is more verbose. It might be that such a stupid design as I have produced somehow corrupts memory management in android. Please Andrew, do not waste your time here, tommorow I will rewrite my code properly to use just one Classifier (and doing fillnode just once), maybe it will help. I will post how did it went.

[code]

[2017-01-30 23:31] gunan commented on #5343
If you are still seeing this problem, please file a new issue.
From your error message, it does not look related to me.

[2017-01-30 23:31] #7142 closed

[2017-01-30 23:55] andrewharp commented on #1269
@SloaneLAD Thanks for the interest in TensorFlow. See https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android and https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/android for examples and build instructions.

However, for general usage and Android help please post questions to StackOverflow, as we try to limit GitHub issues to actual issues with TF.

[2017-01-30 23:56] yaroslavvb commented on #7128
@rmlarsen is there some planned work, or should I mark this as contributions welcome?

[2017-01-31 00:42] abhinavvishnu commented on #2916
Thanks for the detailed discussion.

We are currently making code changes in the TF runtime. The reason we have
a memcpy at this point is because we had issues with pyfunc not working
correctly for all versions. More as soon as we have updates.

Sincerely,

:- Abhinav

On Mon, Jan 30, 2017 at 2:33 AM, avader906 <notifications@github.com> wrote:

--
Abhinav Vishnu
Research Scientist
Pacific Northwe

[2017-01-31 00:48] yaroslavvb commented on #2916
@abhinavvishnu are you modifying C++ core runtime (ie files like `executor.cc`) or just the Python parts? Changes to core runtime would take significant effort to integrate since they touch everything. Modifying python parts and compiled code loaded through `tf.load_library` mechanism are much easier to integrate.

[2017-01-31 00:49] EronWright commented on #7134
@jhseu I thought that too but it didn't work in practice.   `TF_LoadSessionFromSavedModel` produces both a session and a graph that the caller takes ownership of.   The session never takes ownership of the graph.   Meanwhile, the JNI method may produce only a single return value.   All together, a `SavedModelBundle`  was the obvious solution.

Regarding the `metagraphdef`, a saved model is not ver

[2017-01-31 00:58] abhinavvishnu commented on #2916
We are starting with Python. Our objective is to minimize changes to C++,
but we may have to. We will keep you posted of some of the decisions!

Thanks,

:- Abhinav

On Mon, Jan 30, 2017 at 4:49 PM, Yaroslav Bulatov <notifications@github.com>
wrote:

--
Abhinav Vishnu
Research Scientist
Pacific Northwest National Lab
Richland, WA 99352

[2017-01-31 01:31] iantheconway commented on #7019
I tested it today. Using MSBuild, I was able to build all executables in RelWithDebInfo :). I'll try devenv.exe and hopefully that will allow me to use Visual Studio to build. Thanks for all the help.

[2017-01-31 01:31] #7019 closed

[2017-01-31 04:06] Noahsark commented on #6809
@gunan
I have similar issue issues issue. My cpu does not support avx2 and it will cause core dumped each time when import tensorflow. Is there any option to compile without this optimization?

[2017-01-31 04:08] yaroslavvb commented on #6809
@Noahsark yes, 1.0rc0 should not have SSE 4.1

[2017-01-31 04:21] karllessard commented on #7149
I agree that exposing operations in their own particular object would create a richer API than declaring everything into a single builder class, I'll also get my mind into it.

Now, without insisting, I'll clarify how my suggestion would have handled point a), maybe some of those ideas can morph into something else:

1. The generated builder class implements each operations by returning a speciali

[2017-01-31 04:21] yaroslavvb commented on #7146
I tried your code with the latest head, (configured with XLA) and it works normally there

[2017-01-31 04:22] yaroslavvb commented on #7146
Can you try it with latest head and see if problem persists?

[2017-01-31 05:56] gunan commented on #6809
@Noahsark It also does not have avx2.
It is back to the original compilation options.

[2017-01-31 06:34] kvrd18 opened #7156 "Spatial Cross Entropy Loss - Feature Request"
For Fully Convolutional Networks, the logits are reshaped into 2D tensors `[batch_size, n_classes]`. Can't there be a spatial loss function similar to [SpatialClassNLLCriterion](https://github.com/torch/cunn/blob/master/lib/THCUNN/SpatialClassNLLCriterion.cu') built by Torch?

[2017-01-31 06:50] c810armyHuan commented on #7146
The program still froze with latest master branch. (`4cc0d1e7905454de7bd3cb6c20c3f9fb459ed335`)

I got the following output before the program froze:
[code]

I used gdb to attach the program, and the output of `bt` is:

[code]

[2017-01-31 08:05] calvin-is-seksy opened #7157 "AttributeError: 'module' object has no attribute 'constant'"
I've just installed tensorflow (without the gpu) on my mac, through my virtual environment. I initially had tensorflow downloaded in my ~/ directory, but then found that I could not import it at all in python3.4. I found that I fixed this by making a copy of the tensorflow directory in my working directory fixed that. But now the problem is that once I import tensorflow with $ import tensorflow as

[2017-01-31 08:37] wielandbrendel commented on #6798
@jart Is there any progress on the Poisson sampler? I'd be very interested in using this feature. Thanks!

[2017-01-31 09:08] ashokvishnoi1994 opened #7158 "Documentation for Inference from saved model"
As explained at https://www.tensorflow.org/tutorials/mnist/pros/#build_a_multilayer_convolutional_network I created a CNN for MNIST image recognition. I don't want to test it in the same script so I trained the model, saved the checkpoint files and graph structure and then using freeze_graph.py script(https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/freeze_graph.py)  I

[2017-01-31 09:19] yonatanaol opened #7159 "Tensorflow restore doesn't work on AWS"
I am running a script that perfectly works on ubuntu 14.04, docker over ubuntu 14.04, docker over MAC OS - but doesn't work on ubuntu 16 on AWS.
the script is:

[code]

the errors i get:

in order to reproduce this, you can use the pre-trained open source model here:
https://drive.google.com/file/d/0B5MzpY9kBtDVSTgxX25ZQzNTMGc/view

I'm using tensorflow (python) 0.12.1 .

I suspect that it has som

[2017-01-31 09:41] edgarriba opened #7160 "Decrease accuracy after upgrade from v0.11 to v0.12"
Hi! I've recently updated from v0.11 to v.012 using pip with CUDA 8.0, cuDNN 5.1in a TitanX under Ubuntu 16.04 LTS.

During the training of a small CNN triplet network with triplet margin loss I noticed that the performance in terms of accuracy went down by a factor of ~40%.  Getting around 9% and 14% FPR95 with v0.11 and v0.12 respectively, both at epoch 30th. Notice with v0.12 the accuracy gets

[2017-01-31 12:21] jonasrauber commented on #6809
Thanks a lot!

[2017-01-31 12:53] yonatanaol commented on #7159
related (unanswered yet) stackoverflow question - http://stackoverflow.com/questions/41958096/cannot-load-checkpoint-file

[2017-01-31 13:30] rasbt commented on #7160
Hi,
I have some continuous integration tests set up for some of my projects, where I run the code on small training sets and didn't notice any change in performance when I was switching from 0.11 to 0.12. The integration tests are running on CPU though. Maybe could you check for the first epochs if you get the same results in 0.11 vs 0.12? This would tell us that there is something going on with t

[2017-01-31 13:42] reuben opened #7162 "Can't quantize nodes of an RNN ("The node has inputs from different frames.")"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

I found a few similar, but not equivalent, problems with frozen/quantized graphs:

Cannot import graph_def for 8-bit Quantized cnn model #5470

tf.import_graph_def: graph_def is invalid at node #4044

Unable to import frozen graph with batchnorm #3628

### Environment info
Operating Syste

[2017-01-31 13:49] reuben commented on #7162
This error happens whether or not you freeze the graph first.

[2017-01-31 15:05] #7159 closed

[2017-01-31 15:05] yonatanaol commented on #7159
seems like a currepted file

[2017-01-31 15:08] kshmelkov opened #7164 "contrib.batch_norm fails on float16 input"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

I have found a bunch of old issues dated from the initial implementation of float16, but nothing relevant.

### Environment info
Operating System: FC21

Installed version of CUDA and cuDNN: CUDA8, CuDNN 5.1
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
[code]

If instal

[2017-01-31 15:35] inflation commented on #7164
Can confirm with CPU version too.

[2017-01-31 15:38] dustinvtran opened #7166 "How should Python packages depending on TensorFlow structure their requirements?"
Many packages build on TensorFlow. For example, our work in Edward uses `tensorflow>=1.0.0a0` as an install requirement.

However, this conflicts with `tensorflow-gpu`, which can no longer be installed because of the requirement specifically on `tensorflow`. What do you suggest is the best way to handle this?

One option suggested by @gokceneraslan (https://github.com/blei-lab/edward/pull/428#issu

[2017-01-31 16:25] GeorgianaPetria commented on #4451
hello, I'm also trying to run the retrained tensorflow model on my htc one M8, but the app is crashing.
I followed this tutorial: https://medium.com/@mgazar/experimenting-with-tensorflow-on-android-part-2-12f3dc294eaf#.gbp69dmst

Steps:
- retrained inception v3 with the stanford dogs dataset
- used strip_unused
- copied stripped_retrained_inception.pb and retrained_labels.txt to the demo assets fo

[2017-01-31 16:35] andrewharp commented on #4451
@GeorgianaPetria From your log:
[code]

You can use the nocompress_extensions = ["pb"] Bazel directive to disable compression on your android_binary target.

[2017-01-31 16:46] GeorgianaPetria commented on #4451
@andrewharp, thanks. that was the problem.
I disabled the compression for .pb files in build.gradle:

aaptOptions { noCompress 'pb' }

[2017-01-31 17:18] Noahsark commented on #6809
@gunan @yaroslavvb
I do switch to 1.0rc0 with the default compile option, but the problem still exists.

Here is the output when I try to import it.

I tensorflow/stream_executor/dso_loader.cc:125] successfully opened CUDA library libcublas.so.8.0 locally
I tensorflow/stream_executor/dso_loader.cc:125] successfully opened CUDA library libcudnn.so.5 locally
I tensorflow/stream_executor/dso_loader.c

[2017-01-31 17:20] yaroslavvb commented on #7146
@yuanbyu any idea? Why would replacing `tf.constant(5)` with `5` make a difference for `while_loop`

[2017-01-31 17:23] yaroslavvb commented on #6809
@Noahsark can you give a link to the binary that you've used?
(unless your built it yourself, which would be a different issue)

[2017-01-31 17:43] ddetone commented on #6503
Hi @rmlarsen, I am looking through the `rc-v1.0` and I don't see the `SvdGrad` op registered [here](https://github.com/tensorflow/tensorflow/blob/r1.0/tensorflow/core/ops/linalg_ops.cc). Is there somewhere else I should look for it?

[2017-01-31 17:57] jart commented on #6798
@shoyer is the better person to ask.

[2017-01-31 18:04] shoyer commented on #6798
Looks like it's still being finished up.

[2017-01-31 18:23] Noahsark commented on #6809
@yaroslavvb
Yes, I build it from source. Any way to get avoid this?

[2017-01-31 19:08] #6823 closed

[2017-01-31 19:16] alextp commented on #7038
https://github.com/tensorflow/tensorflow/commit/06e3aa655506773e49ce9a855f81ba3eae2a6b88#diff-333845d139890198962551b3a1c2a33b should have fixed this issue (it adds a test, even)

[2017-01-31 19:21] yaroslavvb commented on #7146
OK, I can reproduce the hang (I was mistakenly running with CUDA_VISIBLE_DEVICES=)

[2017-01-31 19:22] jlebar commented on #6816
Fixed in 081758b0e5efc1a1591cda068a4866099bf8a3c5.

Thanks for your patience, and thanks again for the high-quality bug report.  (As you can see from the commit, we actually had this in hand six days ago, but for unrelated reasons it took until today before we had a successful uplift to github.)

[2017-01-31 19:22] #6816 closed

[2017-01-31 19:31] classner commented on #252
Alright, managed to build with bazel and cmake successfully (v1.0.0-rc0). The trick to make it work is to rename the generated `_pywrap_tensorflow.so` to `_pywrap_tensorflow.pypy-XX.so`, where XX is the pypy version code (in my case 41 for pypy 5.6.0). With this naming scheme, `import tensorflow` works nicely. So second base touched.

This part of the 'get started' code runs:

[code]

`sess.run(in

[2017-01-31 19:44] martinwicke commented on #6809
This is surprising -- you are compiling (by default) with
-march=native. ​This means that unless you compile on a computer other than
the one you run on, it should not use optimizations your machine doesn't
understand. Did you set the optimization flags? Which hash are you building
from?

[2017-01-31 19:47] bazinac commented on #7150
I have changed my code according to your advice and now I utilize single runInterference call on single TensorFlowInferenceInterface). However, Fatal signal 11 (SIGSEGV) still persists, when using quantized graph.

**What I have tried now:**
When I use just optimized graph, I can use both output layers of my graph just fine (final_result_A, final_result_B). When I quantize graph to eightbit, I can

[2017-01-31 19:48] hannes-brt commented on #6263
I actually store the graph before I initialize a session. I tried with and
without a session present and it doesn't make a difference.

--Hannes

On Mon, Jan 30, 2017 at 5:49 PM, Kevin Chen <notifications@github.com>
wrote:

[2017-01-31 20:00] yaroslavvb commented on #7065
Can someone try it out and get timings with the latest head?

[2017-01-31 20:16] chrisrn commented on #3270
I updated the above code take a look. Finally the second model (recognition) cannot produce the right predictions, but in a script without the first model it works fine.

[2017-01-31 20:17] andrewharp commented on #7150
@bazinac Ok, that does seem to narrow it down to TF a bit more. I think it'd help to know more about your graph topology. What are unique nodes on the path to final_result_B that don't connect to final_result_A? What are the types/dimensions? Can you run quantize_graph with just final_result_B and then query it at runtime?

@petewarden Do you know of any issues involving quantization with multiple

[2017-01-31 20:25] bazinac commented on #7150
Actually Andrew, maybe it would be easier if I provide my graph to you? If you promise me that you wont put it to piratebay, then I would be fine with it as I kind of trust and respect you :).

One thing here is that I have read in some old post that in order to use quantized ops, I should add 	"//tensorflow/contrib/quantization:cc_ops","/tensorflow/contrib/quantization/kernels:quantized_ops", to

[2017-01-31 20:57] andrewharp commented on #7150
Sure, you can email a link to andrewharp at google. Might be helpful to have both the quantized and unquantized graphs, thanks.

[2017-01-31 21:21] gpapan commented on #7065
@seguinbe can you please verify that the fix just pushed solves the conv2d vs. fully connected discrepancy issue?

[2017-01-31 21:23] shoyer commented on #7166
I'm pretty sure the fundamental issue here is that pypi doesn't support uploading wheels with and without GPU support (see [PEP 425](https://www.python.org/dev/peps/pep-0425) for a list of supported tags). Hence the separate "tensorflow-gpu" distribution on pypi.

Both of your suggested work-arounds (hacks in setup.py or simply removing problematic dependencies altogether) are commonly done by Pyt

[2017-01-31 21:39] neilatsyracuse opened #7169 "Java: Update README to run the configure script"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-01-31 21:44] MicaelCarvalho opened #7170 "tf.pow(x,y) doesn't work for non-integer values of y"
**Operating System:** Debian 4.8.15-2
**Installed version of CUDA:** 8.0
**Installed version of cuDNN:** 5.1.5
**The output of `ls -l /path/to/cuda/lib/libcud*`:**

**A link to the pip package you installed:** Lost in history. I don't think this is the problem, so I'm going to skip it.

**The output from `python -c "import tensorflow; print(tensorflow.__version__)"`:**

**Minimal reproducible exam

[2017-01-31 21:49] mrry commented on #7170
`tf.pow()` requires that both its arguments have the same type, so to use a `tf.float32` Tensor as the exponent (`y`), you must pass a `tf.float32` Tensor for `x`. e.g.

[code]

[2017-01-31 21:49] #7170 closed

[2017-01-31 22:25] jhave commented on #6235
@Ghost---Shadow how exactly does one put C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0\extras\CUPTI\libx64 folder in path on windows 10?

I have exact same issue.

[2017-01-31 22:28] yaroslavvb commented on #7170
So this works
sess.run(tf.pow(2., 2))

but this doesn't
sess.run(tf.pow(2, 2.))

`apply_op_def` has logic to promote types to shared type T but it doesn't always work. Perhaps type promotion should be done on a deeper layer in runtime

[2017-01-31 22:36] #6786 closed

[2017-01-31 22:36] crjensen21 commented on #1419
I'm getting a very similar error that I can't get around. If I add //tensorflow/core/kernels:reader_base to the Bazel dependencies, though, I get this error:

tensorflow/core/kernels:reader_base cannot depend on tensorflow/core:framework.

It seems both these builds have the other listed in their disallow_deps attribute. I can't find a workaround.

[2017-01-31 22:54] vvpreetham commented on #6132
The problem seems to be the SparseTensor. Note that the following piece of code works:

    categorical_cols = {k: tf.SparseTensor(
            indices=[[i, 0] for i in range(df[k].size)],
            values=df[k].values,
            shape=[df[k].size, 1]) for k in CATEGORICAL_COLUMNS}
    for d in ['/gpu:0','/gpu:1','/gpu:2']:
        with tf.device(d):
            # Converts the label column int

[2017-01-31 23:06] jhave commented on #6999
Same cluster of issues.
Renaming wheel does not help.

`tensorflow_gpu-0.12.1-cp36-cp35m-win_amd64.whl is not a supported wheel on this platform.`

Windows 10
GPU TF
Python 3.6.0 | Anaconda 4.3.0 (64-bit)

TF installed and ran the basic test code
...Then after CUDA install it failed
Tried putting C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0\bin in path as suggested here:
https://github.

[2017-01-31 23:48] EDjur opened #7171 "DBpedia datasets not available. 404."
Trying to run the code in /learn/text_classification returns a 404 when trying to download the DBpedia dataset.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/learn/text_classification.py

The constant "DBPEDIA_URL" in .../learn/python/learn/datasets/text_datasets.py seems to be wrong as it returns a 404 in Chrome as well.

This is the URL in text_datasets.py:
https://goo

[2017-02-01 00:03] yaroslavvb commented on #1419
I had the same issue recently when trying to add dependency to `tensorflow/core:core` from my custom op -- https://github.com/tensorflow/tensorflow/issues/7030#issuecomment-274882446

I used bazel query to make sure `core` doesn't depend on framework, so I'm not sure what's going on, my guess is that custom tf_custom_op Bazel macro does something funky
`bazel query "somepath(//tensorflow/core:core

[2017-02-01 00:15] yaroslavvb commented on #7160
@edgarriba Ouch, those ones are hard to troubleshoot, can you try with latest nightly from https://github.com/tensorflow/tensorflow ?

[2017-02-01 00:26] civilman628 opened #7172 "freeze graph fail by using the published checkpoint file: Attempting to use uninitialized value"
I am using the latest Tensorflow code on Ubuntu 16.04

1. I download **Inception-ResNet-v2** model from the link https://github.com/tensorflow/models/tree/master/slim
the check point file is:
http://download.tensorflow.org/models/inception_resnet_v2_2016_08_30.tar.gz

2. use the code below to get graph define, which output is **graph.pbtxt**

[code]
3, use the freeze graph tool to get **.pb** file

[2017-02-01 00:30] civilman628 commented on #7172
I try to freeze the model: inception v2, and get similar error as well. Please notice you need change num_classes=1000, to num_classes=1001 in .py file.

Traceback (most recent call last):
  File "/home/scopeserver/RaidDisk/DeepLearning/mwang/tensorflow/bazel-bin/tensorflow/python/tools/freeze_graph.runfiles/org_tensorflow/tensorflow/python/tools/freeze_graph.py", line 218, in <module>
    app.run

[2017-02-01 00:34] civilman628 commented on #6954
the above approach, which get .pbtxt and then freeze into .pb does not work, see the defect:

#7172

[2017-02-01 00:39] civilman628 commented on #7172
so the question is how to freeze the published .ckpt model files successfully

[2017-02-01 00:45] mckeesh commented on #6899
@asimshankar is there a reason this isn't in the docs? Putting the notice of deprecation somewhere in v0.12 or v1.0 docs might save people some time :)

[2017-02-01 00:51] asimshankar commented on #6899
@mckeesh : As pointed out above, it is in the release notes file ([RELEASE.md](https://github.com/tensorflow/tensorflow/blob/master/RELEASE.md)). I'll look into making those notes even more accessible from www.tensorflow.org

[2017-02-01 01:00] andrewharp commented on #7150
Is the second output layer's name actually final_result_b? I'm not seeing it or final_result_a, only final_result.

[2017-02-01 01:02] yaroslavvb commented on #7172
You are not using correct model for that checkpoint, as you mention in referenced issues, pre-trained checkpoint files are useless by themselves, you need to use the code that created the model that generated it.

[2017-02-01 01:03] yaroslavvb commented on #7172
I think this is a documentation issue, can you say where you found the place that mentions the checkpoint (http://download.tensorflow.org/models/inception_resnet_v2_2016_08_30.tar.gz). That same document should also describe how to load it

[2017-02-01 01:05] Lucas2012 opened #7173 "a bug in inception models?"
Hi,

I tried to use inception-vx model to extract features, but it keeps giving me error saying tensor name xxx not found in checkpoint files. I'm wondering whether it's my incorrect usage or there's some inconsistency.

The model files(ckpt) are downloaded from: https://github.com/tensorflow/models/blob/master/slim/README.md#pre-trained-models

My code is:

import tensorflow as tf
import nets.inc

[2017-02-01 01:08] petewarden commented on #7150
Sorry you're hitting so many problems @bazinac! As a side note, we're moving over active development from the Python scripts you mention to the Graph Transform Tool:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/graph_transforms/#quantize_weights

It might be worth trying that approach just to see if there's any difference.

I'll sync with Andrew and get the model files fro

[2017-02-01 01:25] tloo opened #7174 "MacOSX ImportError: dlopen(/usr/local/lib/python3.5/site-packages/tensorflow/python/_pywrap_tensorflow.so, 10): Library not loaded: @rpath/libcudart.8.0.dylib"
Installed tensorflow for python3.5 on Mac, try the testing code as follows:

[code]

It is working when run it from the terminal. But if I run it from eclipse, will get this exception:
[code]

[2017-02-01 01:33] yaroslavvb commented on #7174
it sounds like your eclipse is not propagating the ld_library_path/dyld_library_path/path env vars correctly, this sounds like a good q to ask on stackoverflow rather than a bug in tensorflow itself

[2017-02-01 01:33] #7174 closed

[2017-02-01 01:34] gunan commented on #6999
As @mrry pointed out, renaming the whl file does not help in windows.
Many of the tools we depend on(virtualenv, pip, bazel, libraries we depend on, etc.) has many many more bugs, and much less support on windows, so getting anything to work on windows takes more time for us.
We are working to get this to work, but we do not have the built packages yet.

In the meantime, if you need the pip packag

[2017-02-01 01:42] tloo commented on #7174
thanks @yaroslavvb , I put in stackoverflow, but not body answered me yet:
http://stackoverflow.com/questions/41949689/import-tensorflow-failed-in-eclipse
Just have a try here.

[2017-02-01 01:45] notnot opened #7175 "Go: Documentation of default values for attributes of generated ops can be confusing"
In the Go documentation of op.MatMulTransposeA it says
"value: If true, "a" is transposed before multiplication. If not specified, defaults to b:false"
which should probably be
"value: If true, "a" is transposed before multiplication. If not specified, defaults to a:false"

I haven't figured out yet where the documentation for the generated Go source code comes from, maybe it is used to generate d

[2017-02-01 01:45] dustinvtran commented on #7166
Do you have some examples? This would be great references in deciding from the work-arounds. (I'm leaning towards removing the dependence.)

[2017-02-01 02:01] chengshuyi commented on #3834
@shartoo I type `64.233.188.121` in browser,but it cant be accessed.Does that way you supposed still could work or not?

[2017-02-01 02:06] andrewharp commented on #7150
Ok, figured out the layer names :)

I've been able to reproduce this by requantizing your graph from the original optimized and then running benchmark_model on it. As you say it only crashes when reading the results from the second output node in the quantized version. We'll take a look to see what might be going on.

[2017-02-01 02:11] shoyer commented on #7166
@dustinvtran Here's an example for patsy: https://github.com/pydata/patsy/issues/5

[2017-02-01 03:28] yaroslavvb commented on #7166
@shoyer interesting example, I wonder if that explains why pip install --upgrade $TF_BINARY_URL replaces MKL numpy on our machines with OpenBLAS numpy (there's `REQUIRED_PACKAGES = [ 'numpy >= 1.11.0',` instide of TF's setup.py

[2017-02-01 04:59] yaroslavvb commented on #7175
could you provide link please? Documentation for Python is automatically generated from the string in C file with implementation here -- https://github.com/tensorflow/tensorflow/blame/a0d784bdd31b27e013a7eac58a86ba62e86db299/tensorflow/core/ops/math_ops.cc#L1030

[2017-02-01 05:28] menglin0320 opened #7181 "can't open tensorboard while training"
(You can navigate to http://127.0.1.1:6006)
 * Running on http://0.0.0.0:6006/ (Press CTRL+C to quit)
127.0.0.1 - - [31/Jan/2017 23:25:27] "GET /neon-animation/neon-animation-behavior.html HTTP/1.1" 200 -
127.0.0.1 - - [31/Jan/2017 23:25:27] "GET /neon-animation/web-animations.html HTTP/1.1" 200 -
127.0.0.1 - - [31/Jan/2017 23:25:27] "GET /iron-overlay-behavior/iron-overlay-backdrop.html HTTP/1.1"

[2017-02-01 05:28] menglin0320 commented on #7181
version is '0.12.head'

[2017-02-01 05:51] namrata-ibm commented on #6823
Thank you @jart and @rmlarsen for resolving this.

[2017-02-01 06:09] gunan commented on #7118
I will try to see if I can add this to either an FAQ in our docs, or incorporate the modifications through our bazel switches.
I will keep the issue open until then.

[2017-02-01 06:31] carltonwang commented on #6599
I was training a seq-to-seq network like "Hierarchical Recurrent Encoder-Decoder": https://arxiv.org/abs/1507.02221
My code runs very well on CPU, the performance is also good, except that it is slower than GPU...
But when I run my code on GPU (GTX 1070, CUDA 8.0.44, CUDNN 5.1), the main memory will keep growing.
I am using CentOS 7, can I solve this problem by gperftools? If so, how can I install

[2017-02-01 06:35] luckyuho commented on #1402
try this one
https://github.com/tensorflow/tensorflow/issues/559
from author se7en007 commented on 4 Jan 2016
import numpy as np
np.path
['/System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python/numpy']
exit()
sudo rm -rf /System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python/numpy
...

[2017-02-01 06:37] jart commented on #6823
Pleasure to be of service.

[2017-02-01 06:40] rajat95 commented on #6702
I am experiencing similar issue when trying to create a shuffled training batch. Here's my script for same.

[code]

[2017-02-01 07:11] blazerygy opened #7183 "If using multiple parameter servers, how to divide model parameters on these PSs?"
If using multiple parameter servers, how to divide model parameters on these PSs?  each PS stores an equal number of parameters and updates them?

[2017-02-01 07:42] asimshankar commented on #7175
I think I know what's happening.

Short story: That "b" there (yes, confusingly) refers not to the name of the attribute but rather the name of the field in the `AttrValue` proto.

Long story: The documentation for Go is generated by the `genop` code generator. The linke you're referring to comes from [`genop.go:177`](https://github.com/tensorflow/tensorflow/blob/f8d75baaf4c92e76837de6bb64adccf812

[2017-02-01 07:44] asimshankar commented on #7169
There isn't enough detail here to go by. Please include as much detail as you can to reproduce the problem. Filling in all the fields above of the bug template would help, as would any logs of the steps you took and the full output of the error.

[2017-02-01 07:55] asimshankar commented on #5
Alright, seems like we have enough of a base to build on (e.g., enough to build the [LabelImage example](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/java/src/main/java/org/tensorflow/examples) and folks are filing more specific bugs/feature requests.

I'm going to close this issue out. There is still much to do in the Java API, but let's discuss/track those in separate issues.

[2017-02-01 07:55] #5 closed

[2017-02-01 07:57] asimshankar commented on #3
Closing this out as a duplicate of #5 and #18.

[2017-02-01 07:57] #3 closed

[2017-02-01 08:15] Lucas2012 commented on #7172
I'm also curious about how to use/load the checkpoint model. I tried using the nets.inception_v4 or nets.inception_res_v2 codes but it didn't work for me. #7173

Thanks.

[2017-02-01 08:23] sbyma commented on #1419
Yeah tf_custom_op_library has some restrictions on what you can depend on.

For disallow_deps, you should be able to depend on //tensorflow/core:framework_headers_lib, which may include reader_base.h

[2017-02-01 09:00] luketg8 opened #7184 "1"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-02-01 09:00] #7184 closed

[2017-02-01 09:37] aliosmanulusoy opened #7185 "Float support for scatter_nd"
Hi,
It seems the updates input to scatter_nd is limited to int32 and int64 input: [https://www.tensorflow.org/api_docs/python/array_ops/slicing_and_joining#scatter_nd](https://www.tensorflow.org/api_docs/python/array_ops/slicing_and_joining#scatter_nd)

It'd be great to have float32 and float64 support. Is this possible?

Thanks!

[2017-02-01 10:34] aliosmanulusoy commented on #2358
Thanks @AdityaGudimella ! I've tested the gradients and it seems to work. Can anybody else confirm?

[2017-02-01 10:55] maddin200 opened #7186 "missing fclose"
\contrib\pi_examples\label_image\label_image.cc line 105

missing fclose(infile);

[2017-02-01 11:03] kishorenayar commented on #7095
@mrry , From the nightly build, I have installed the and tried to execute the **TensorForestEstimator** and now it is working. Great !!! :ok_hand:

[2017-02-01 11:31] Nayana-ibm commented on #3527
https://github.com/tensorflow/tensorflow/pull/6686
This test is now passing on big endian system. Fixed through PR #6686

[2017-02-01 11:32] Nayana-ibm commented on #3527
@girving @gunan
To extend my post on CI:
We would like to know that how TensorFlow CI can be extended to support z system.
Please let us know what support will be required from IBM side. We are aware on the H/w support.
We can provide s390x machines on which we will setup Jenkins slave node to build TensorFlow. T
he present Jenkins master will manage this node and post the s390x build results to G

[2017-02-01 12:07] bazinac commented on #7150
Hi guys, thanks for looking into it. I fiddled with graph_transforms as proposed by Pete, however I am unable to succesfully run even strip_unused_nodes(type=float, shape="1,299,299,3"). It quickly fills whole available memory of my PC (which is 8GB) and then crashes with "terminate called after throwing an instance of 'std::bad_alloc'", which probably means it has ran out of memory.

I am eagerly

[2017-02-01 12:21] Pyrestone commented on #6509
Hi guys, what's the status on this?
I've encountered the same bug on Windows/GPU with a GTX Titan Black.
When I replaced
`target_one_hot=tf.onehot(targets,vocab_size_targets,dtype=tf.float32)`

with the workaround by name-name
it worked just fine.

here's the function wrapper i used for the workaround:
[code]
my `targets` and `vocab_size_targets` are both tf.int32 Tensors.

I'm currently on r0.12

[2017-02-01 12:43] Randl commented on #7065
Recent update of [Benchmarking State-of-the-Art Deep Learning Software Tools](https://arxiv.org/abs/1608.07249) shows some performance issues. For example, (see table 7) `AlexNet-R` is significantly (~ 10 times) slower in TF than in other frameworks, an it's even slower at GTX 980 than at GTX 1080. Also, ResNet-50 is ~5.5 times faster in MXNet. Those are most significant differences.

In addition,

[2017-02-01 13:24] petewarden commented on #7150
Urk! Can you copy and paste the command line you ran that hit that problem?

[2017-02-01 13:29] bazinac commented on #7150
[code]

[2017-02-01 14:18] yaroslavvb commented on #7065
@Randl -- thanks, @annarev has been looking at those differences (ps, additional details should probably go to a different github issue since the problems there are different from vgg difference which is almost solved)

[2017-02-01 14:29] Randl opened #7187 "hclhkbu dlbench shows Tensorflow is slower than other frameworks"
Based on https://github.com/tensorflow/tensorflow/issues/7065#issuecomment-276648478

Recent update of [Benchmarking State-of-the-Art Deep Learning Software Tools](https://arxiv.org/abs/1608.07249) (by @shyhuai @FreemanX @xiaowec , if I got it right) shows some performance issues. For example, (see table 7) `AlexNet-R` is significantly (~ 10 times) slower in TF than in other frameworks, an it's ev

[2017-02-01 14:36] yaroslavvb commented on #7187
PS, the code is at https://github.com/hclhkbu/dlbench/, and the authors are quite prompt at updating it. I found an issue with CIFAR multi-GPU benchmark and it was fixed within a day -- https://github.com/hclhkbu/dlbench/pull/4

[2017-02-01 14:40] crjensen21 commented on #1419
Adding //tensorflow/core:framework_headers_lib produces an error saying the dependence is duplicated in the attributes of the build rule:

`Label '//tensorflow/core:framework_headers_lib' is duplicated in the 'deps' attribute of rule 'wav_reader_op.so_check_deps'.
`

I think a part of the problem here is that 'reader_base.h' includes 'reader_base.pb.h' which appears to be part of the protocol buff

[2017-02-01 14:44] yaroslavvb commented on #7030
BTW, the issue with using Bazel to build such op is that the such internal dependencies are disallowed. IE there's this [line](https://github.com/tensorflow/tensorflow/blob/a0d784bdd31b27e013a7eac58a86ba62e86db299/tensorflow/tensorflow.bzl#L701) in tf_custom_op

`             disallowed_deps=["//tensorflow/core:framework",
`

Since `//tensorflow/core:core` depends on `//tensorflow/core:framework`

[2017-02-01 14:51] yaroslavvb commented on #7172
@sguada -- do you know how are people coming across these checkpoints/where the docs should go?

[2017-02-01 14:52] sbyma commented on #1419
To be honest, we actually gave up on inheriting from the `reader_base` framework. It was too much hassle, and the overheads were quite high.

Another thing you can do is create a vanilla Op that takes a `string` type tensor filename, that when executed reads your file from disk into a `Tensor` of whatever type/shape you need and output it. However, if you need to read pieces of a file every step,

[2017-02-01 15:06] ezerkar commented on #6563
Thanks, helped a lot.

[2017-02-01 15:12] yaroslavvb commented on #7183
Hi could you post this on stackoverflow with tag tensorflow please? The issues are meant for bugs/features in TensorFlow itself

[2017-02-01 15:12] #7183 closed

[2017-02-01 15:15] yaroslavvb commented on #7186
would you like to send a PR to fix this?

[2017-02-01 15:16] yaroslavvb commented on #7187
assigning to @annarev for further triage

[2017-02-01 15:31] mrry commented on #6509
@Pyrestone We disabled the broken GPU kernel for `tf.one_hot()` in the Windows build, so if you upgrade to 1.0.0rc0 you should no longer need the patch.

[2017-02-01 15:35] yaroslavvb commented on #7186
BTW, PR for such small change is quite easy and you can do it mostly from browser:

First, click "Fork" on github tensorflow page

Then in Terminal:
git remote add mine https://github.com/<username>/tensorflow
git remote add tfmain https://github.com/tensorflow/tensorflow.git
git fetch tfmain
git checkout tfmain/master -b bugfix
git push --set_upstream mine

Then in bugfix branch on <username>/ten

[2017-02-01 15:35] sarshalom opened #7188 "Unexpected behavior after updating a placeholder"
The output of the following snippet
[code]
is `[5]`, and not `[1005]` as could be expected.
Perhaps it's because placeholders can't be evaluated, and therefore TF ignores the update op of `ph`?

[2017-02-01 15:39] clarklight commented on #1402
If anyone had the same problem as mine, i managed to fix it. My error was
 **ImportError: numpy.core.multiarray failed to import
Error importing tensorflow. Unless yo......**

Because i am running on a Mac, there are 2 sets of numpy thats running at the same time, as the Mac came with Python installed, so even if you are updating the numpy, it wasnt updating the one thats needed for Tensorflow. I

[2017-02-01 15:42] crjensen21 commented on #1419
Thanks a lot @sbyma and @yaroslavvb for your help. I'd really like to just get something working before I ditch inheriting from reader_base, but the build is proving difficult. I got it to compile with g++ but I had to copy header files into the user lib folder that tensorflow passes as the "include" folder since reader_base.h isn't copied there. It really doesn't seem like the best way to go so I

[2017-02-01 15:44] avader906 commented on #2916
@abhinavvishnu what is the ballpark overhead / performance penalty of python route vs refactoring transport architecture dependency in core ? 20% ? 40%?

@yaroslavvb what are unit tests for gRPC dependencies in the repository ? ease of integration and various ugliness of same nature should never be a development objective. what is your estimate for refactoring ?

[2017-02-01 15:45] yaroslavvb commented on #1419
summoning @keveman the wizard of all user_ops things related

[2017-02-01 15:54] yaroslavvb commented on #7188
you overwrote your original placeholder in `ph+=1000` line so you are not feeding what you think you are feeding. PS we are trying to keep questions like this on stackoverflow and this list for bugs in TensorFlow itself

[2017-02-01 15:54] #7188 closed

[2017-02-01 16:18] yaroslavvb commented on #7185
This also works

[code]

[2017-02-01 16:22] vishnuog commented on #254
can somebody post the links to download the faster version of tensorflow on raspberry pi. Pls help we r doing project based on it and current tensorflow is running very slow.help pls

[2017-02-01 16:58] vrv commented on #7030
@keveman, @josh11b  I feel like we should allow the following public headers from libraries as we do in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/pip_package/BUILD#L22

@yaroslavvb have you tried not using bazel and trying to build your code using https://www.tensorflow.org/how_tos/adding_an_op/#building_the_op_library and then just loading the .so?  I suspect that will

[2017-02-01 17:09] yaroslavvb commented on #7030
@vrv indeed, I was able to compile it successfully using g++ on Mac and Linux, and released final product here -- https://github.com/yaroslavvb/memory_probe_ops

The only remaining issue is that cpu allocator always reports 0 bytes allocated. There's this line in `allocator.cc`

`static bool cpu_allocator_collect_stats = false;
`

But it feels like it should be superceded by this line:

`  if (cpu

[2017-02-01 17:29] raraujosc commented on #7052
Tensorflow 1.0 does not have the fix for #6706. We still don't have any tags or branches that work when Tensorflow is used as an external dependency, like tensorflow_serving uses it. Only the HEAD version is usable.

[2017-02-01 17:41] civilman628 commented on #7172
I download the checkpoint file from the page: https://github.com/tensorflow/models/tree/master/slim

You can see a table here: https://github.com/tensorflow/models/tree/master/slim#pre-trained-models

It has all checkpoint files for inception v1-v4... I just use the published check point files.

[2017-02-01 17:49] aliosmanulusoy commented on #7185
Thanks @yaroslavvb. I guess I misread the API. It works for me too.

[2017-02-01 17:49] #7185 closed

[2017-02-01 17:53] neilatsyracuse commented on #7169
I followed the step of TensorFlow for Java. I installed all the requirement and clone the whole tensorflow repository from git.  I was caught the error when I was trying to use this commend:
bazel build -c opt \
  //tensorflow/java:tensorflow \
  //tensorflow/java:libtensorflow_jni
under the tensorflow folder.
The detailed errors:
ERROR: /Users/neil/tensorflow/tensorflow/core/BUILD:1226:1: no such

[2017-02-01 18:03] UkiDLucas commented on #5478
If you use brew:
- brew install python - installs 2.7
- brew install python3 - installs 3.6
in any case, you are not running optimal version for TensorFlow 3.5

When running:
 $ sudo  pip3 install --ignore-installed --upgrade $TF_BINARY_URL

it looks like it installs everything 100%
$ conda list
...
tensorflow-gpu            0.12.1                    <pip>
...

but when running $ jupyter notebook

[2017-02-01 18:11] jart commented on #7052
I think I'm going to reopen that bug.

[2017-02-01 18:12] jart commented on #6706
Are we sure this is fixed? As far as I can tell, running `./configure` is still mandatory, so I'm not sure how TensorFlow could be used as an external dependency.

[2017-02-01 18:18] raraujosc commented on #7052
That bug is about a broken reference to a bzl file. It's fixed in HEAD but in this bug I'm asking for a stable tag that has the fix. There's no such tag today. Tensorflow 1.0 does not have the fix for #6706.

Running ./configure is a separate issue that we can live with for now, but it'd be nice to get that fixed too.

[2017-02-01 18:33] Lucas2012 commented on #7172
@yaroslavvb I also got the checkpoint files from the webpage @civilman628 mentioned.

[2017-02-01 18:59] asimshankar commented on #7169
Ah, I see. The problem is that the [`configure`](https://github.com/tensorflow/tensorflow/blob/master/configure) script needs to be run first (as per the "[install from sources](https://www.tensorflow.org/get_started/os_setup#configure_the_installation)" instructions on www.tensorflow.org) I will update the java README to reflect that.

Please run that and let us know if that solves your problem.

[2017-02-01 19:17] UkiDLucas opened #7193 "ImportError: No module named 'tensorflow.python' Mac GPU"
Running 2 Jupyter kernels reflecting conda envs:
- tensorflow CPU
- tensorflow GPU
Both are configured with 0.12.1 for Mac.

CPU VERSION (tensorflow 0.12.1) works well as expected:

[code]
OUT: tensorflow imported

[code]

['/cpu:0']  - as expected only CPU shows

SAME CODE GPU VERSION (tensorflow-gpu 0.12.1 ):

OUT: tensorflow imported

So **it sees the TensorFlow correctly, but then only a part

[2017-02-01 19:33] gunan commented on #7052
Which commit did fix the problem for you? I can maybe cherrypick that into 1.0 branch.

[2017-02-01 19:36] raraujosc commented on #7052
I'm not sure the exact commit. See your comment here: https://github.com/tensorflow/tensorflow/issues/6706#issuecomment-273939158

[2017-02-01 19:39] raphaccgil commented on #42
Hello everybody....

I was trying to install tensorflow with pip commands and it was not supported...I am using windows system and python 2.7. The tflearn was possible to install. Do you have any suggestions?

[2017-02-01 19:44] anujdutt9 commented on #42
@raphaccgil  Hi. Tensorflow is not yet supported on Python 2.7 on Windows System. Instead you can do the following:
1. Install Python 3/3.5 [64-bit]
2. Go to python installation folder using CMD
3. cd to Scripts folder.
4. Use command:
     pip3.5.exe install tensorflow

It will install perfectly.
Check your installation using:
    import tensorflow as tf
in IDLE.
Hope this helps :)

[2017-02-01 19:52] yaroslavvb commented on #7172
I see....it may be a problem with the checkpoints then, that page lists @nathansilberman @sguada  are maintainers

[2017-02-01 20:06] #7169 closed

[2017-02-01 20:16] drpngx commented on #7095
Happy to hear!

[2017-02-01 20:16] #7095 closed

[2017-02-01 20:32] gunan commented on #7193
I cannot reproduce the exact problem on my mac-gpu machine.
Could you try reinstalling, maybe it is a problem with some files being copied during installation?

[2017-02-01 21:13] Hasan-ta opened #7195 "Running tensorflow-gpu on windows 10"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
I am trying to run to train a convolutional network on lenet dataset but whenever I open a session and start `sess.run(training_operation,` feed_dict={x: batch_x, y: batch_y})` I get the following error:

### Environment info
Operating System: Windows 10 Home

Installed version of CUDA and

[2017-02-01 21:20] vrv commented on #5876
Okay, with https://github.com/tensorflow/tensorflow/commit/df52532ccb9a6084ed8877a5b11698fa451a8762 we now fail loudly when you try to take second derivatives of ops that can't be done that way.  I think we're just going to rely on removing these fused ops via XLA one day as the eventual solution.

[2017-02-01 21:20] #5876 closed

[2017-02-01 21:27] #6846 closed

[2017-02-01 21:33] yaroslavvb opened #7196 "./configure modifies build_config.bzl which is version-controlled"
Configure modifies `build_config.bzl` that is tracked by version control. This causes following annoyances:

1. When you do `git pull`, it'll overwrite `build_config.bzl` after which you need to do a ./configure and rebuild. I sometimes do testing of the same change on Mac and Unix host, and use `git pull` to sync them, which will overwrite my machine-specific config with default value.
2. You can

[2017-02-01 21:36] vijtad commented on #6533
I am getting this error on Windows 10

  Could not find a version that satisfies the requirement protobuf>=3.1.0 (from tensorflow) (from versions: )
No matching distribution found for protobuf>=3.1.0 (from tensorflow)

[2017-02-01 21:36] junshi15 commented on #2916
Does anybody has a neural net that benefits significantly from fast networking (e.g. infiniband, etc)?

I played with the vgg model from https://github.com/tensorflow/models/tree/master/slim. I compared two cases: (1) single-node-single-gpu, (2) 1-worker-1-ps, where the worker is on a GPU node and the parameter server is on a CPU node. In both cases, I used batch size 32 and I saw almost identical

[2017-02-01 21:39] gunan commented on #6533
That is a separate issue.
Please file a new issue for that problem, with more information.

[2017-02-01 22:07] gunan commented on #6706
What this issue refers to should be fixed.
But you are right, I am not sure how the options set by `configure` are handled.

@kirilg @raraujosc @nealwu how do you handle `configure` script when depending on tensorflow as an external dependency?
Do you simply default to GPU? Or create your own configure script?

[2017-02-01 22:10] raraujosc commented on #6706
Yes, this issue is fixed but is not in 1.0 release. Can you please cherrypick it into 1.0? Thanks.

[2017-02-01 22:15] avader906 commented on #2916
@junshi15 there will be no speedup training on two threads - one CPU another GPU. compute time will run at CPU which is the bottle neck - GPU will finish and remain idle.

You need to test on the machine with 2 GPUs. TF speedup will be minimal (https://github.com/Microsoft/CNTK/raw/master/Documentation/Documents/PerformanceChart.png)

Benchmark pages are http://dlbench.comp.hkbu.edu.hk/ (very rece

[2017-02-01 22:16] kirilg commented on #6706
TensorFlow serving requires you to run ./configure from within the TensorFlow directory. It would be great if we could somehow depend on TF as a workspace target and configure it with some defaults, but I agree it's a different issue and this one is resolved (though may need to be cherrypicked into 1.0 as Robson mentioned).

[2017-02-01 22:21] vivek-rane commented on #7048
Either running the update certificates command above or upgrading to 0.4.4 fixed this for me.

[2017-02-01 22:23] yaroslavvb commented on #7048
There's a high chance 0.4.4 fixes it, so if nobody complains this issue can be closed in 7 days

[2017-02-01 22:25] damienmg commented on #6706
FWIW a bit update on Bazel side:

We released 0.4.4 that should remove the need for the @%s// trick (to be verified).

The change for removing need from ./configure as a separate step are still in-flight: see https://cr.bazel.build/8218 and its parent, should be in next Bazel release.

Once those change are in the Bazel release, we can update TF configure script to be only an user interface that s

[2017-02-01 22:39] jhave opened #7198 ""Failed to get the number of CUDA devices: CUDA driver version is insufficient for CUDA runtime version" on Windows 10"
Tensorflow was working on my new Windows 10 for about 24 hours then broke.
Running a Keras lstm_text-generator with a small test txt file, all was well.
After running the same script with a larger 8mb txt file as input data, python encountered an error, system froze, rebooted.

### Environment info

Windows 10
Tensorflow 0.12.1
Python 3.5.2

Path includes both:
C:\Program Files\NVIDIA GPU Computin

[2017-02-01 22:55] junshi15 commented on #2916
@avader906 Thanks for your informative reply.

I have no doubt that high-speed interconnection helps in a multi-node setting. We see it with Caffe, more precisely CaffeOnSpark since Caffe does not go beyond single node. I however have yet to see it with Tensorflow.

The chart you provided "PerformanceChart.png" does not scale to more than 1-node for tensorflow. The Alexey-Kamenev tensorflow benchm

[2017-02-01 23:12] avader906 commented on #2916
@junshi15 Sorry, but I do not understand the purpose of your test and how does it relate to RDMA. If you want to test scalability - run TF on two GPUs on the same node and compare it with other kits. This is the absolute performance you can get regardless the interconnect used.

Regarding Hadoop/Spark - are you running builds supporting RDMA in infiniband environment? What order of speedup have yo

[2017-02-01 23:36] neggert opened #7199 "Incorrect computation results on /gpu:1 on dual K80 servers"
We have a bunch of servers with 2 K80 cards each (2 GPUs per card, for a total of 4 GPUs per machine). We're having problems with even simple computations on `/gpu:1` returning wrong results. This happens across multiple machines. Interestingly, if we re-map the GPUs, using `CUDA_VISIBLE_DEVICES` (e.g. `CUDA_VISIBLE_DEVICES="3,2,1,0"`), it's still always `/gpu:1` that has problems.

To reproduce,

[2017-02-01 23:43] junshi15 commented on #2916
@avader906 Let's say I want to train a model with 32 GPU's. The maximum number of GPUs I can cram in a single box is 8. So I end up with 4 nodes. Then I connect the nodes with 1Gbps ethernet (those are all I have at this moment).  I launch the distributed version of Tensorflow, start training. It may take weeks to finish. I am not happy. Let's say I can not change the neural nets to reduce the com

[2017-02-01 23:44] gunan commented on #3527
@Nayana-ibm As far as support goes, I cannot really promise we can fully support ourselves as we do not have big endian machines. So we cannot give first class support for this platform.

But I can help setup our jenkins to run all TF tests on your machines periodically. When there are failures, most probably we will escalate the issues to you, if they seem to be specific to your machines, and we

[2017-02-01 23:57] yaroslavvb commented on #2916
This seems to be model specific, for instance https://github.com/rafaljozefowicz/lm becomes 8x slower if you use 8 1-GPU machines with 1Gbps connectivity compared to 8 GPUs in a single process.

[2017-02-02 00:04] avader906 commented on #2916
@junshi15 x2 improvement is only from IPoIB ? Have you compiled / used RDMA aware versions of Hadoop and Spark? In terms of your test - it says nothing about multinode / multi-GPU environment and whether your setup is sufficient. You may have to invest into refining the test further.

@yaroslavvb That is to be expected given the overhead in communication / gradient exchanges and the obvious connec

[2017-02-02 00:15] amirj commented on #654
In the original [Google's SmartReply paper](https://arxiv.org/abs/1606.04870):

I want to implement something similar. Some questions:

 1. How to represent the set of all possible responses (R) in a trie data structure in TF?
 2. Does the current implementation of beam search support retaining only hypotheses that appear in the trie?

[2017-02-02 00:15] yifeif commented on #7052
Looks like this commit? https://github.com/tensorflow/tensorflow/pull/6958/commits/0ee1301dd2eb7cc3671f88f5e25bb1795faf87fe

[2017-02-02 00:19] gunan commented on #7052
there should be a separate one for jpeg.

On Wed, Feb 1, 2017 at 4:16 PM, Yifei Feng <notifications@github.com> wrote:

[2017-02-02 00:28] kohpangwei commented on #5876
Cool. Thanks!

[2017-02-02 00:28] mshunshin commented on #2169
@Pepslee Many thanks for your code. If you are using None as the batch_size in the placeholder,  batch_range = tf.reshape(tf.range(output_shape[0], dtype=tf.int64), shape=[input_shape[0], 1, 1, 1]) fails with an error in reshape. Is there anyway around this?

[2017-02-02 00:29] charlesq34 opened #7201 "Feeding to boolean placeholder -- works in TF 0.11 but not in 0.12.1"
@yaroslavvb The info is attached below. I've targeted the problem to the conflict of tf.cond on boolean placeholder with the ExponentialMovingAverage's apply function.

The same code works just fine in TF 0.11

Environment Info
============================
OS: Ubuntu 14.04
CUDA: 8.0 with cuDNN 5.1
TEnsorflow 0.12.1

Minimal Example:
============================
[code]

Error Message:
=============

[2017-02-02 00:32] yaroslavvb commented on #7201
Could you fill out the template?

[2017-02-02 00:34] yifeif commented on #7052
Also saw this one https://github.com/tensorflow/tensorflow/commit/4f6e6eb285e0e925271d632cc688811ca4e8c5a2 but it should already be in v1.0.0-rc0.

[2017-02-02 00:58] gunan commented on #6850
In my tests, on ubuntu the installed package redirects the header to `/usr/local/cuda/include/cudnn.h` using `/etc/alternatives`.
Which specific OS are you running into this problem?

[2017-02-02 01:02] ales6164 opened #7203 "Noticable lag with different Inception model"
Running the demo app on Android works absolutelly great. Then I tried retraining the inception5h model (as used by the app) with no success. I retrained Inception v3 model but then image recognition would lag. I tried quantizating the model but it lagged even more. So what I'm asking is for a direction or help on the issue or a retrainable Inception5h model with some instructions.

[2017-02-02 01:35] hartb commented on #6850
The OS is Ubuntu 16.04 for IBM POWER (ppc64le).  The cuDNN .deb packages are:

libcudnn5_5.1.5-1+cuda8.0_ppc64el.deb
libcudnn5-dev_5.1.5-1+cuda8.0_ppc64el.deb
libcudnn5-doc_5.1.5-1+cuda8.0_ppc64el.deb

The redirect with those packages doesn't involve /usr/local/cuda* at all:

/usr/include/cudnn.h -> /etc/alternatives/libcudnn -> /usr/include/powerpc64le-linux-gnu/cudnn_v5.h

And update-alternative

[2017-02-02 01:47] shoyer commented on #7166
@yaroslavvb yes, that's likely the case. Pip install only recently got the option `--upgrade-strategy=only-if-needed` which is probably what you want to use here. Eventually this will become the default behavior (https://github.com/pypa/pip/issues/3871).

[2017-02-02 02:35] botonchou opened #7204 "Should use math_ops.reduce_prod() in mixture.py instead of array_ops.reduce_prod()"
Hi,

I tried to use mixture density distribution with batch_size **None**, and triggered this error
[code]
Please see https://github.com/tensorflow/tensorflow/blob/r1.0/tensorflow/contrib/distributions/python/ops/mixture.py#L262

I believe this is a bug since `reduce_prod` is in `math_ops.py` instead of `array_ops.py`.

I'm using version v0.12.1, but I checked it's the same for r1.0

Thanks

[2017-02-02 02:49] thesuperzapper commented on #5282
This seems to be an issue with the current Docker-gpu image as well. That is, `libcupti-dev` is missing.

[2017-02-02 03:36] thesuperzapper opened #7207 "libcupti.so missing from Docker.gpu"
### Environment info:
The latest docker GPU image.
`gcr.io/tensorflow/tensorflow:latest-gpu`

### Issue:
While running [mnist_with_summaries.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/tutorials/mnist/mnist_with_summaries.py), you get
`tensorflow/stream_executor/dso_loader.cc:119] Couldn't open CUDA library libcupti.so. LD_LIBRARY_PATH: /usr/local/nvidia/lib:/usr/l

[2017-02-02 04:15] andrewharp commented on #7203
For help retraining inception5h you can try asking on StackOverflow, but I imagine mainly it's the same as Inception v3 just with different layer names (found in ClassifierActivity.java).

Regarding the latency, Inception v3 is a larger model so it's expected that it will run more slowly. What sort of numbers are you seeing, and on what devices?

[2017-02-02 04:41] phaniparsa commented on #6584
@ilblackdragon @ispirmustafa @michaelisard Is this issue fixed. Kindly comment.

[2017-02-02 05:15] AshishBora commented on #2973
I was also facing `Restore called with invalid save path` error. Even after fixing the paths, the error persisted. The solution for me was upgrade to `v0.12.1` from `v0.11.0`

[2017-02-02 05:58] #2076 closed

[2017-02-02 06:15] cvmlarun opened #7210 "Tensorflow android does not recognize imported networks(.pb files) with python operations"
tensorflow android does not recognize operations from an imported network(.pb files) defined/created with python operations  like  recogonize tf.python.ops.FIFOQueue . Works when the network is built/defined with tf.FIFOQueue. Similarly the tensorflow android implementation cribs about unrecognized operation RECIPROCAL when running inference for a network described [here](https://github.com/davids

[2017-02-02 06:22] menglin0320 commented on #7181
@dsmilkov could you please take a look at this issue?
I guess the reason is that I used the wrong version of bazel
Build label: 0.4.2

[2017-02-02 06:37] prats226 opened #7212 "tf.import_graph_def prepends 'import' to tensor names but graph_util.convert_variables_to_constants can't find the tensors"
I am trying to merge two graph and encountering this issue.
[code]

This throws error

[code]

whereas tensor 'final_training_ops/weights/final_weights:0' is declared in original graph.

[2017-02-02 08:31] SivanKe commented on #512
I have to say that fixing this bug helped my results a lot!
I train a model of cnn + attention for OCR, and after adding a change to fix this bug my word error rate improved noticeably.
I know that you are implementing a new dynamic attention mechanism, but until it is stable (documented and tested) many people will probably stay with the old mechanism, so it can be nice if you could write a docum

[2017-02-02 09:44] ezerkar opened #7213 "TensorFlow Linear Model Tutorial code"
Not sure this is right place for my question...

At any rate, I'm trying to follow the Linear model [tutorial ](https://www.tensorflow.org/tutorials/wide/), there is a code link there but leads to the wide and deep code , what am I missing here?

[2017-02-02 10:01] jowagner commented on #707
While not everybody reads all the way to the "Args" section that explains it, most users will read the first paragraphs up to the example. It should therefore be sufficient to more precisely state the behaviour in the sentence starting "Like the Python builtin": Instead of wrongly saying that start defaults to 0, say what really happens, similarly to what you say in the "Args" section for "limit".

[2017-02-02 10:15] ishaybee commented on #1122
hi,
I have same problem as other described that I have good training results but validation/testing is bad after using batch_norm.
I use the function like this:
conv_normed1 = tf.contrib.layers.batch_norm(conv1 + block1_layer3_1_biases, updates_collections=None, scale=True, decay=batch_norm_decay, center=True, is_training=is_training )
decay value is 0.9
do I need to set the reuse flag?
I will gla

[2017-02-02 10:24] machrisaa opened #7214 "tf_upgrade do not update concat, tf.image.resize_images"
There are 2 issues about `concat`:
- used `concat_dim` instead of `axis`.
- Incorrect position of the explicit signature if the parameter is `[...]`
e.g.
[code]
becomes
[code]

<br/><br/>

The `height` and `width` signature of `tf.image.resize_images` has been changed to `size`. But it is not updated the current converter.

[2017-02-02 10:37] ezerkar commented on #7213
OK, now I see it's the same code

[2017-02-02 11:16] danielwatson6 commented on #5761
As of version .12, `tf.strided_slice` has `[misleading documentation](https://www.tensorflow.org/versions/master/api_docs/python/array_ops/slicing_and_joining#strided_slice)`.  A fourth argument is mandatory, not a keyword argument, and it cannot be `None`.

[2017-02-02 11:29] nightrome opened #7215 "Incorrect documentation on log_loss"
1) I noticed that [1] states that tf.contrib.losses.log_loss is deprecated and that tf.losses.log_loss should be used instead. However in v0.12 that function does not exist and the documentation in [2] does not talk about this. So which one is correct?
2) Furthermore it seems that tf.contrib.losses.log_loss only returns a scalar for the summed loss of all dimensions. Is there a function more like

[2017-02-02 11:31] DavidNorman opened #7216 "Cannot build Tensorflow with XLA, but without GPU support"
I believe it is probably commit 191658d54f90ac03c15b339326129cd52d1f56a3

To be clear, this is when I build without configuring CUDA at the ./configure stage.   I have not tried to configure with CUDA but then build without the --config=cuda.

Here is the final few lines of the build output:
[code]

You can see that the cuda libraries are included in the build, and that the linker is complaining t

[2017-02-02 12:20] panky8070 opened #7217 "Error while creating quantized graph using bazel tool"
Hi,
I am trying to quantize the already stripped and retrained inception graph using the following bazel commands, also I am using docker environment in ubuntu 16.10:

bazel build tensorflow/contrib/quantization/tools:quantize_graph
bazel-bin/tensorflow/contrib/quantization/tools/quantize_graph \
  --input=/face_tf_train/new_retrained_graph.pb \
  --output_node_names=final_result \
  --output=/fac

[2017-02-02 12:48] DavidNorman commented on #7216
Further to the earlier comment, the problem occurs on Linux too.

[code]

[2017-02-02 12:51] DavidNorman commented on #7216
This is the target that I am building

[code]

[2017-02-02 13:12] hawkinsp commented on #7048
Bazel 0.4.4 was just released:
https://github.com/bazelbuild/bazel/releases/tag/0.4.4

[2017-02-02 13:18] Ape commented on #1924
I no longer need this workaround with TensorFlow 1.0.0-rc0 and OpenCV 3.1.0. So the bug has finally been fixed.

[2017-02-02 14:00] ales6164 commented on #7203
I get about 1 or 2 predictions per second on Huawei Mate 9.

StackOverlow: http://stackoverflow.com/questions/42003846/retraining-inception5h-model-from-tensorflow-android-camera-demo

[2017-02-02 14:29] IgnacioCarlucho commented on #7133
I have the exact same Issue with tensorflow version 0.12.1

[2017-02-02 14:48] MicaelCarvalho opened #7220 "tf.pow(x,y) doesn't compute complex results"
Slightly related to #7170

**Operating System:** Debian 4.8.15-2
**Installed version of CUDA:** 8.0
**Installed version of cuDNN:** 5.1.5
**The output of `ls -l /path/to/cuda/lib/libcud*`:**

**A link to the pip package you installed:** Lost in history. I don't think this is the problem, so I'm going to skip it.

**The output from `python -c "import tensorflow; print(tensorflow.__version__)"`:**

[2017-02-02 14:53] MicaelCarvalho commented on #7220
Note: I'm not sure if this behavior is expected or not — the result would be a complex number

[2017-02-02 14:55] qiyuelu1 opened #7221 "Linking of rule '@protobuf//:internal/_api_implementation.so' failed:"
I am trying to build tensorflow v0.12.0 from source with bazel 0.4.3 and failed with this error:

[code]
I searched online and found github bazelbuild/bazel #1867 and tensorflow/tensorflow issue #2266, #5617 and #5616, but it seems the changes suggested in these issue have already been implemented in the source code of version 0.12.0. I am not sure why this problem still exists.

Environment info

[2017-02-02 15:07] machrisaa commented on #7214
After a little investigation, I found that the second issue of `concat` is related to the `col_offset` of the `ast` nodes. When the parameter is a list, the `col_offset` does not include the `[`.

Apparently, using `ast` with `col_offset` is not the best way to calculate the position of the arguments.

[2017-02-02 15:16] danielmogilny commented on #7133
I solved it by just downgrading in the end.

Sent from my Samsung device

-------- Original message --------
From: Ignacio Carlucho <notifications@github.com>
Date: 2017-02-02  9:30 AM  (GMT-05:00)
To: tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: danielmogilny <danielmogilny@gmail.com>, Author <author@noreply.github.com>
Subject: Re: [tensorflow/tensorflow] Loading Files with New Tens

[2017-02-02 15:21] KendallWeihe commented on #3492
Any word on if dilated convolutions have been implemented in the convolutional transpose layers? Or a timeline on when it can be?

[2017-02-02 15:33] MicaelCarvalho commented on #7221
Have you tried changing the TF_BINARY_URL link to the version 0.12.0? Or do you need that specific commit?

Example:
`# Ubuntu/Linux 64-bit, GPU enabled, Python 3.4
# Requires CUDA toolkit 8.0 and CuDNN v5. For other versions, see "Installing from sources" below.
$ export TF_BINARY_URL=https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-0.12.1-cp34-cp34m-linux_x86_64.whl`

The varia

[2017-02-02 15:42] hawkinsp commented on #7216
I can reproduce the problem on Linux, and I asked the author of that change to take a look.

(We don't have any continuous builds for the combination of XLA enabled and GPU disabled, which is why no-one noticed.)

The easiest workaround would be to install the CUDA libraries and build with GPU enabled. You don't actually need to have a GPU to do this.

[2017-02-02 15:47] DavidNorman commented on #7216
I've confirmed that undoing the changes to the dependencies in 191658d54f90ac03c15b339326129cd52d1f56a3 will make the build succeed again.

I think that the problem is the target :cuda_platform is referred to in a target called :stream_executor_cuda without being tested for CUDA config.

This is as opposed to its use in the macro tf_cuda_library, where it isn't included when cuda isn't enabled.

T

[2017-02-02 15:48] DavidNorman commented on #7216
I don't really want to have to install the CUDA libraries.  However, I can temporarily remove the offending dependencies from stream_executor_cuda while the problem is fixed.

thanks for the response

[2017-02-02 15:50] hawkinsp commented on #7216
Sure. I just wanted to make sure you weren't blocked by this issue; it might take a few days to get the fix checked in.

[2017-02-02 15:54] DavidNorman commented on #7216
no problem.  all ok here.

[2017-02-02 16:14] infwinston commented on #6976
@yaroslavvb Thanks for your help. I've faced another issue related to this. Could you please take a look on my stackoverflow [post](http://stackoverflow.com/questions/42006967/scalability-issues-related-to-distributed-tensorflow) if you have time? Thanks a lot.

[2017-02-02 16:23] drasmuss commented on #7026
`LogAllRegisteredKernels` shows only CPU versions of the `ScatterNd` op being registered.  Based on the comment here https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/scatter_nd_op.cc#L354, I don't think the ScatterND GPU kernel is supposed to be registered, so that is expected. (Uncommenting those lines just results in errors since those kernels don't exist).  But do yo

[2017-02-02 16:37] DavidNorman commented on #7216
Without those deps, I can build the system, but it is failing to run the unit tests because of a lack of a symbol (__cpu_model) - i'll treat this as a separate problem though

[2017-02-02 16:51] andrewharp commented on #7203
This seems within normal ranges (hard to say without exact numbers). Closing as there is no addressable TensorFlow issue here.

[2017-02-02 16:51] #7203 closed

[2017-02-02 17:03] qiyuelu1 commented on #7221
@MicaelCarvalho Thanks for your response.
Unfortunately, we need to build this specific version from source because, as we tested, keras, using tensorflow as backend, has some problem with newer (0.12.head) versions. I have to roll back older version like 0.12.0.

[2017-02-02 17:07] MicaelCarvalho commented on #7221
@qiyuelu1 the proposed approach will install version 0.12.0... if you only need "older version like 0.12.0" it should work; the only situation for which it won't do the job is if you really need _that specific commit_.

[2017-02-02 17:08] DavidNorman opened #7223 "OS/X doesn't compile Tensorflow"
Not sure of the exact circumstances of this, but I get an undefined symbol when trying to load the _pywrap_tensorflow.so.

The symbol is __cpu_model.

There is a discussion here about it: https://github.com/numpy/numpy/issues/8530

It seems that the file crc32c_accelerate.cc calls the compiler function `__builtin_cpu_supports`.  While there is a test for the presence of this at the top of the file

[2017-02-02 17:08] vincentvanhoucke commented on #3396
Closing this issue as stale. Feel free to reopen if there is any concrete action to be taken.

[2017-02-02 17:08] #3396 closed

[2017-02-02 17:12] #4081 closed

[2017-02-02 17:14] #7213 closed

[2017-02-02 17:14] vincentvanhoucke commented on #4102
Closing as stale. Feel free to reopen if this issues is a problem today.

[2017-02-02 17:14] #4102 closed

[2017-02-02 17:15] #4125 closed

[2017-02-02 17:15] drpngx commented on #7199
What's the diff when it's wrong?

[2017-02-02 17:16] vincentvanhoucke commented on #3715
Closing as stale. Feel free to reopen if this is a relevant issue today.

[2017-02-02 17:16] #3715 closed

[2017-02-02 17:18] yaroslavvb commented on #7223
I wonder this is related github.com/tensorflow/tensorflow/commit/51e5197b

[2017-02-02 17:19] DavidNorman commented on #7223
Yes - the change occurred in commit 51e5197bb73653609f4100439664123b80126447

[2017-02-02 17:21] yaroslavvb commented on #7223
cc @martinwicke  to triage to owner of 51e5197b

[2017-02-02 17:21] DavidNorman commented on #7223
Not sure what the right thing to do is.  Maybe there is a clang inbuilt preprocessor symbol which can be used to disable this on OS/X before some known working version.  or something like that.

[2017-02-02 17:22] vincentvanhoucke commented on #4779
Was there any resolution on this issue?

[2017-02-02 17:22] Enet4 commented on #7134
That looks like a good approach to the issue. Is there any part of the implementation still missing in https://github.com/cookieai/tensorflow/commit/64360fc51bd5ce48b06f52901e032313b68dfacd, or just the tests? :)

[2017-02-02 17:23] DavidNorman commented on #7223
This is the llvm bug and fix - was a long time ago though...

https://llvm.org/bugs/show_bug.cgi?id=25510

[2017-02-02 17:26] aselle commented on #7214
Looking...

[2017-02-02 17:27] #4911 closed

[2017-02-02 17:28] kshmelkov commented on #7164
Well, I found a workaround for that one. I just modified `BatchNormalization` layer `get_variable()` calls to use dtype from passed initializers. Ugly, but worked. Btw, it is a regression from 0.12.0. I found a machine with that version that doesn't have this bug on python side.

However, the problem is much worse. Even when I make everything float16, it messes up somewhere deep in C++ code.

[cod

[2017-02-02 17:28] yaroslavvb commented on #4779
Every couple of months someone asks how to get a hold of GPU data initialized by TensorFlow, or give TensorFlow GPU data initialized by someone else, and I haven't seen any solution (latest q was https://github.com/tensorflow/tensorflow/issues/6955#issuecomment-273828989)

[2017-02-02 17:28] vincentvanhoucke commented on #4847
Is this still an open issue?

[2017-02-02 17:31] yaroslavvb commented on #4779
Latest official word is that it's not supported: https://github.com/tensorflow/tensorflow/issues/2210#event-706768999

[2017-02-02 17:35] vincentvanhoucke commented on #4779
Assigning to @aselle for visibility. Feel free to close if indeed that's the official word.

[2017-02-02 17:50] vincentvanhoucke commented on #7223
In the absence of a good way to test this, we probably won't be able to suggest a fix. If you find a good way to disable it, feel free to send a PR.

[2017-02-02 18:00] aselle commented on #7214
Good catch. While col_offset isn't perfect, I think using ast is already more reliable than using a regex or other simple search.  In particular, as you discovered, it looks like a bug in col_offset for list comprehensions. Generators, tuples, (even plain lists) work fine.  I can work around this by scanning backward to find the opening [ if it is a list comprehension, but that may be difficult to

[2017-02-02 18:01] neggert commented on #7199
It's way off. Just did a test. Mean absolute difference over the whole result matrix was 125.

[2017-02-02 18:03] jhave commented on #7198
Issue resolved.
Reinstalled all CUDA CUDNN drivers.

[2017-02-02 18:03] #7198 closed

[2017-02-02 18:27] qiyuelu1 commented on #7221
@MicaelCarvalho Thanks for your response. Actually, installing binary directly doesn't work for me. I am porting tensorflow on a cluster which is running RHEL 6.8, its default gcc is 4.4.7 (I use 4.9.2 in my build as a module). I have to build from source and make modifications on CROSSTOOL.tpl etc. files, otherwise, will get glibc version complaints.

[2017-02-02 18:48] civilman628 commented on #7172
i figure out how to use them. the code below is to export .pbtxt file for inception_resnet_v2.

Use this .pbtxt and the published .ckpt to  freeze graph, if you want to get .pb file.

if you want to load other models or get other .pbtxt files, just change the key word **inception_resnet_v2** to other model name, such as **inception_v2**, **inception_v3**

the first node of .pb file is **Placeholde

[2017-02-02 19:07] civilman628 commented on #7172
the cmd to free graph for the model, pay attention to ouput node name, you can get it from .pbtxt file.

bazel-bin/tensorflow/python/tools/freeze_graph --input_graph=/home/scopeserver/RaidDisk/DeepLearning/resnetv2.pbtxt --input_checkpoint=/home/scopeserver/RaidDisk/DeepLearning/slim/inception_resnet_v2.ckpt --output_graph=./inception_resetv2.pb --output_node_names=**InceptionResnetV2/Logits/Predi

[2017-02-02 19:16] charlesq34 commented on #7201
@yaroslavvb I've found the solution, but I'm still not sure why this will happen for TF 0.12.1 (there is no error for TF 0.11). The info is attached below.

When I moved the line "ema_apply_op = ema.apply([batch_mean, batch_var])" out of the "mean_var_with_update" function, so that it's one line above the definition of "mean_var_with_update", the error no longer appears. Otherwise, the error is:

[2017-02-02 19:30] hycis opened #7224 "dropout does not take in dynamic shape"
I realize dropout `noise_shape` does not allow dynamic shape which becomes useless in batch processing whereby the batchsize can varies
[code]
throws Exception. Whereby it requires dimension to be >= 0

however if we pass noise_shape as the shape of X which is dynamic, dropout can understand the shape.
[code]
Therefore there is inconsistency in noise_shape inputs. How do we give dynamic shapes to

[2017-02-02 19:57] newwhitecheng commented on #4393
yep Chage `f.Size()` to` f.size()` then it works.

[2017-02-02 20:04] yaroslavvb opened #7225 "Feature request: equivalent of np.clip"
`tf.clip_by_value` is missing an important property of `np.clip` which lets upper/lower bounds to be tensors, whereas `tf.clip_by_value` only takes scalars

A work-around is `tf.minimum(upper, tf.maximum(lower, x))` but that uses 2x memory for gradients. Another potential work-around is to use `tf.map_fn` + `tf.clip_by_value`, but it is orders of magnitude slower. Some profiling: https://github.co

[2017-02-02 20:06] kshmelkov opened #7226 "conv2d gives NaN gradients with float16 input"
### Environment info
Operating System: Ubuntu 16 LTS
breaks already on CPU

If installed from binary pip package, provide:

1. A link to the pip package you installed: recent nightly build
2. The output from `python -c "import tensorflow; print(tensorflow.__version__)"`.
[code]

### If possible, provide a minimal reproducible example (We usually don't have time to read hundreds of lines of your co

[2017-02-02 20:16] yaroslavvb commented on #7216
BTW, on MacOS, bazel 0.4.4, you also need to propagate your env with `--action_env` flags, or build process fails with libcuda not found --

[code]

[2017-02-02 21:08] yaroslavvb opened #7227 "ld: file not found: -lcudart.8.0 when building CUDA on MacOS and bazel 0.4.4"
In today's head https://github.com/tensorflow/tensorflow/commit/b47dc70e548e6958919f87864b83866919473a92, and bazel 0.4.4, bazel building with XLA + CUDA on MacOS fails because it can't find cuda library when linking. I was able to build with the same setup from head from Jan 24 .

[code]

I see `libcudart_static.a` in my `/usr/local/cuda/lib` and similar issue [suggests](http://stackoverflow.com/

[2017-02-02 21:11] thesuperzapper commented on #7199
On our cluster, we have a bunch of K80's as well. I just ran your example, and nothing went wrong.

For reference, I am running the docker implementation, and I had to change one line of your code, because it was throwing depreciation warnings.
I changed, `tf.initialize_all_variables()` to `tf.global_variables_initializer()`

![k80-test](https://cloud.githubusercontent.com/assets/5735406/22568553/

[2017-02-02 21:19] charlesq34 commented on #7201
A related post about the problem in StackOverflow:
http://stackoverflow.com/questions/41543774/invalidargumenterror-for-tensor-bool-tensorflow-0-12-1

It seems that the boolean placeholder is not correctly initialized.
After using ```python
sess.run(init, {isTrain: True}) ```
The minimal example works fine.

[2017-02-02 21:20] Omnipresent commented on #6594
I'm still getting this error after the changes from @beniz

I get the error when following along with this tutorial https://www.tensorflow.org/how_tos/image_retraining/ . I'm using the `TFAMI.v3 - ami-0e969619` AMI

My release is 0.12.0

[code]

In `tensorflow/workspace.bzl` I've placed the following:
[code]

[2017-02-02 21:23] yaroslavvb commented on #7201
Can you try in a later version (ie, nightly?)

I tried your example in a version I built from head last week, and it worked without error

[2017-02-02 21:24] marvely commented on #6584
@ilblackdragon Just ran into this "AttributeError" today. Tried to upgrade the tensorflow package but seems like the issue still exists... If anyone knows any work around and would like to share, it will be highly appreciated. Thanks in advance.

[2017-02-02 21:25] Omnipresent commented on #6594
The below works. Thanks @ahundt for updating the **edit**

[code]

[2017-02-02 21:43] machrisaa commented on #7214
Hi @aselle , thanks for the reply. You are right. Using the `ast` would have the limitation about the position of a list-like object and problem about preserving the comments. I think you have tried to preserve the comment as much as possible.

I have tried other methods to convert an inline method -> ast -> transform -> unparsing -> replace the original method by using `ast. NodeTransformer`. The

[2017-02-02 21:56] neggert commented on #7199
What OS are you running? That's really the only thing we weren't able to try multiple versions of.

Otherwise, can you think of any other environment information I could give that might be relevant?

Re: the deprecation warning, I think that was changed from 0.11 to 0.12. The script was originally written for 0.11.

[2017-02-02 22:17] thesuperzapper commented on #7199
Here is my environment:

**Host:**
OS: Ubuntu 16.04.1
Drive: 375.20
Docker: 1.13
Nvidia-Docker: 1.0.0

**Docker:**
Image: gcr.io/tensorflow/tensorflow:latest-gpu
Tensorflow: 0.12.1
CUDA: 8.0.44
CUDNN: 5.1.10

[2017-02-02 22:30] mayank1123 commented on #1661
I know it hasn't been long but is there any news on this ? We are currently using Caffe for 4D light-fields convolutions but would love to shift to tensorflow.

[2017-02-02 22:39] gunan commented on #6850
I am not sure with the above link structure why we would have failures.
@hawkinsp could you confirm after #7151 issue is resolved?
Also, do you have the link through etc/alternatives as @hartb described (I can confirm that link structure gets built for me when I try in docker)

[2017-02-02 22:51] goodfeli commented on #7225
+1

[2017-02-02 22:59] hawkinsp commented on #6850
Seems fixed for me at head. Closing.

I also have the the /usr/include/cudnn.h -> /etc/alternatives/libcudnn -> /usr/include/x86_64-linux-gnu/cudnn_v5.h symlink chain as @hartb described.

[2017-02-02 22:59] #6850 closed

[2017-02-02 23:19] civilman628 commented on #7173
[code]

[2017-02-02 23:25] yaroslavvb commented on #7216
btw, building with XLA *with* GPU support is currently blocked by https://github.com/tensorflow/tensorflow/issues/7227

[2017-02-02 23:26] namrathaurs commented on #6726
Any pointers for the following error would be greatly appreciated. I am new to GitHub and its working model. So, please do let me know what details you would need that would help me in resolving this issue being encountered -

bash_prompt: ~ $ python
Python 2.7.3 (default, Oct 26 2016, 21:01:49)
[GCC 4.6.3] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback

[2017-02-02 23:49] jrajagopal commented on #1325
@VerityStone Yes, I am using the same. I had to load the variables into a dictionary where each variable is referenced by its name. At the same time, I use the same code which contains tf.nn.bidirectional_dynamic_rnn() for inference, which means it will create the same set of variables but with an "_1" suffix in the name. It will also initialize each variable randomly.

Then I overwrite the value

[2017-02-02 23:49] Carmezim commented on #6726
@namrathaurs welcome to Github. It would be interesting to open a new issue but let's get at it. How did you install TensorFlow?

[2017-02-03 00:27] IsaacBanjo commented on #1325
@jrajagopal I did not use the skflow package at that time, instead I wrote my own graph which worked, but I heard the skflow people have updated their library and they re-defined the restore function.

[2017-02-03 00:36] martinwicke commented on #6132
If you're still getting the same error message (cannot put string tensor on GPU), then you still haven't enabled soft placement (or soft placement does not consider colocation constraints? @vrv do you know?). You cannot put string tensors on GPUs, so that particular tensor has to live on the CPU.

[2017-02-03 00:48] martinwicke commented on #6998
This is a great question for StackOverflow. It looks to me that there is no bug, but that the error message could be improved. I'll leave this open while I improve this error.

[2017-02-03 00:53] namrathaurs opened #7235 "undefined symbol: clock_gettime on Ubuntu 12.04"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-02-03 01:02] namrathaurs commented on #6726
@Carmezim - Thanks for your quick reply to my issue here on GitHub! Appreciate it.

Just as an FYI here, since I already opened a new issue :
Well, I did check #121 as you suggested before I could post my issue here. However, when I was reading about updating the GLIBC version, I was fumbled as I read that a new GLIBC would mean upgrading the current version of Ubuntu to 14.04 (which may not be fe

[2017-02-03 01:42] yaroslavvb commented on #1661
@vincentvanhoucke know anyone at Google that likes 4D convolutions?

[2017-02-03 01:42] vvpreetham commented on #6132
I am still getting the error. I am super certain that soft placement is enabled as I have dry run the code with log.info and also breakpoints. I also add the gpu_fraction and soft placement directly in the session (The GPU memory fraction works, and soft placement works as I have stated for constants). My modified code for session is as follows:

`def get_session(gpu_fraction=DEFAULT_GPU_FRACTION)

[2017-02-03 01:53] yaroslavvb commented on #7235
https://github.com/benoitsteiner/tensorflow/commit/d82328afcde4c9c8eac5ea0199f0349d209a6f51 has added dependency on time libraries. I was able to build it on Ubuntu 14.04 and MacOS Sierra. Could it be that Ubuntu 12.04 is missing this function? @aselle  -- what is the official status of support of 12.04?

[2017-02-03 03:28] satyam-cyc commented on #6503
Yes, this would help experiment with spectral methods. @rmlarsen Is this still in active development ?

[2017-02-03 03:51] altosaar opened #7236 "Gradient is incorrect for log pdf of Normal distribution"
Am I missing something basic here?

Gradients of the log pdf of normal distributions are zero. I might be going crazy, it is late at night.

[code]

[2017-02-03 04:22] altosaar commented on #7236
Thanks to @poolio - it's because of reparameterization:

[code]

so it makes sense that the gradient is zero.

This is very unexpected behavior and broke my regression model.

Distributions should abstract parameters: a sample should be treated as a new tensor.

Is there a discussion of this anywhere?

[2017-02-03 06:34] zergylord commented on #6998
Wait a second -- the error message wasnt the primary concern here. The question was about whether or not my use case is currently  (or planned to be) supported by tensorflow.

[2017-02-03 07:17] UkiDLucas commented on #559
$ conda install -c conda-forge numpy

[2017-02-03 08:13] DavidNorman commented on #7223
Thanks - i will.  I think a test for APPLE and a test for the particular compiler major/minor version strings.

[2017-02-03 09:06] DavidNorman commented on #7223
As noted: I made a fix.  I don't have Sierra, so I don't know if my expression catching the apple compiler is too broad.  however, I will check on that today.

[2017-02-03 09:46] MoAbd commented on #1269
@syed-ahmed @andrewharp
Hi Guys,
Thanks for your comments,now I am able to use the new inception model .
I trained im2txt model and I need to use it in the Android demo example instead of inception model,I only have experience in python and TensorFlow and I didn`t do java or c++ before .
My question is : the changes will it be major changes or simple like this one ?

Thanks in advance

[2017-02-03 10:08] DavidNorman commented on #7223
Ok - i think the fix was basically right - however it isn't fixed in the system clang 8.0.0 (which is in Sierra).

See the code around line 370 in https://github.com/darktable-org/darktable/blob/master/src/CMakeLists.txt

This references https://llvm.org/bugs/show_bug.cgi?id=25510

Apparently it is something of an incompatibility between libgcc and clang compiler-rt.  It is mentioned as fixed (Ali

[2017-02-03 12:08] plooney commented on #383
Try using

saver.restore(sess, tf.train.latest_checkpoint('./') )

[2017-02-03 12:13] bazinac commented on #7150
Hi Andrew, is there any chance that you will find where the issue lies, or should I rather start looking into some other techniques (eg. prunning or something like this.) Thank you for your help...

[2017-02-03 12:18] petewarden commented on #7150
I have tracked down the issue with the transform graph command line. It's in the argument parsing code, and I have a fix pending, but in the meantime you can remove the new lines and it should work:
[code]

[2017-02-03 12:32] Nayana-ibm commented on #3527
@gunan
This sounds good to us.

As per my understanding,  we will provide you a Jenkins slave node which will be added under your master. Correct? Also, wanted to know how the build results will be shared with us? through GitHub issue? Please let me know.

[2017-02-03 13:03] bazinac commented on #7150
Thank you very much Pete!

[2017-02-03 13:13] mrocklin commented on #3532
Interestingly I was just looking at what the status of all this was.  The last DaskDataFeeder was made without any collaboration with Dask devs.  I am not particularly surprised that it flopped.

I (a Dask dev) have some time for this coming up if anyone wants to work together to try things out.

[2017-02-03 13:17] orhan-v opened #7242 "How to use Tensorflow in my android project?"
I am working on a project, where I change the View with a button (working with Fragments). I am changing between a FirstFragment and a CamFragment. Now I want to use Tensorflow (it works on my phone) instead of CamFragment.

When I "import new Module", I get Errors only. Do you have any Tips or solutions how I can do that?

Thank You

[2017-02-03 13:19] dustinvtran commented on #7236
there is some in the reparameterization type doc. generally when calculating score functions, you have to perform `tf.gradients(q.log_prob(tf.stop_gradients(z)), mu)`. i agree having to be aware of how the sampling mechanism is implemented can be unintuitive. both use cases—taking gradients through samples or not through samples—are useful though.

[2017-02-03 13:53] Sinan81 commented on #7118
Thanks for reporting this bug!

[2017-02-03 13:55] ds9133 commented on #5854
Hi. I was informed we can reopen the issue with the updates from above, but its still closed - can we re-open please?

[2017-02-03 13:59] ds9133 commented on #5854
I'll just open a new issue.

[2017-02-03 14:01] ds9133 opened #7243 "std::system_error after tensor flow install"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

Found no threads matching the exact output of the problem, and troubleshooting with the tensor flow website was unsuccessful.

### Environment info
Operating System:

CentOS Linux release 7.2.1511 (Core)

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cu

[2017-02-03 14:40] aaronpries commented on #781
@ringw The rotation op works great. Any chance to add interpolation?

[2017-02-03 14:42] altosaar commented on #7236
Thanks Dustin!

I think it's weird to have to remember this.

For example, if you have a Bernoulli distribution, you don't need the tf.stop_gradients.

Samples from distributions behaving differently in various contexts adds a lot of complexity to my code.

[2017-02-03 15:17] boche commented on #6072
If a layer is bidirectional, how are the 16 (8 * 2) matrices ordered ?

[2017-02-03 15:59] carlthome commented on #3532
I think Dask integration would be pretty sweet as an in-between to tf.train.Example protocol buffers and using feed_dict with NumPy.

[2017-02-03 16:18] kwotsin opened #7244 "Saver unable to restore from checkpoint file although it had successfully restored previously."
I am currently seeing a very strange behavior from using tf.train.Saver. Basically I had previously successfully run my code and restored all the variables from the TensorFlow-slim inception-resnet-v2 model and even obtained my losses and predictions. However, after I added some scopes to exclude in `variables_to_restore = slim.get_variables_to_restore(exclude = [...])` , which I successfully run,

[2017-02-03 16:27] rasmusbergpalm commented on #1406
I have spent 8 hours on exactly this bug. An option to disable broadcasting globally or raising a warning, etc. would be very nice.

[2017-02-03 16:31] jrajagopal commented on #1325
@IsaacBanjo Ok good to know - thanks!

[2017-02-03 16:47] Ettrai commented on #7118
@Sinan81, I hope this saved you some time!

[2017-02-03 16:50] vincentvanhoucke commented on #1661
@yaroslavvb not that I know of. I think it would be a perfectly good feature for a motivated contributor to pick up. Note that in my experience, treating the time dimension convolutionally is not always a good idea. It makes you throw a lot of parameters at a dimension that comparatively has a lot less semantic content than the spatial dimensions. YMMV.

[2017-02-03 17:04] shoyer commented on #3532
`enqueue_data`, which already turns numpy arrays and pandas DataFrames into TensorFlow queues, is possibly a good entry point for this functionality: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/learn/python/learn/dataframe/queues/feeding_functions.py

(It's already serves some use uses in-between `feed_dict` and `tf.train.Example` protos)

[2017-02-03 17:05] maystroh commented on #3126
@dzhyeon building what ? you mean rebuilding tensorflow with cuda option?

[2017-02-03 17:10] terrytangyuan commented on #3532
Yes, that should be a good place to start. @mrocklin The original DaskDataFeeder was actually created by me with your help understanding dask but it will be removed soon. Feel free to create another one that's similar to that and incorporates enqueue_data

[2017-02-03 17:33] mrocklin commented on #3532
At first glance this appears to be a single machine solution.  Correct?  Any thoughts on handing data from a distributed dask cluster over to tensorflow workers?

Additionally, any thoughts on spinning up tensorflow workers from dask workers?  It might be convenient to use dask as a launching platform if it is possible to start distributed tensorflow by calling python functions.

Also, let me know

[2017-02-03 17:45] vatlidak opened #7245 "OutOfRangeError on FIFOQueues of different experiments"
Hi,

I am running some experiments with Tensorflow on a 4-GPU machine using CIFAR10 with the FIFOQueue implementation for input data pipeline.

I want to simultaneously run one different instance of my experiment on each of the four GPUs,
but because the data processing queues are always places on the CPU I get an OutOfRange error and
cannot run more than one instance per machine.

Is there a way

[2017-02-03 18:00] nitintarget opened #7246 "Pool Allocator Problem"
I was running LSTM having 2 layers and 64 nodes in each layer running in batch mode with small data size. I am unable to figure out the problem. I am getting warning like

 tensorflow/core/common_runtime/gpu/pool_allocator.cc:257] Raising pool_size_limit_ from 100 to 110
I tensorflow/core/common_runtime/gpu/pool_allocator.cc:245] PoolAllocator: After 1323 get requests, put_count=2336 evicted_count

[2017-02-03 18:06] sskgit commented on #7158
@ashokvishnoi1994 You will have to export your trained model with Tensorflow Serving Server for inference. Here is the documentation on Inference/serving.
https://tensorflow.github.io/serving/serving_basic
and
https://tensorflow.github.io/serving/serving_advanced

[2017-02-03 18:07] cjfpainter commented on #1501
I ran into it on Ubuntu14.04 trying to install Pycuda and I think Moonboots answer is correct; it worked for me, and I realise that the crucial point is about environment variables ( I mainly make executables ),
These are used during runtime (versus compile time)

[2017-02-03 18:21] namrathaurs commented on #7235
@Carmezim @yaroslavvb

I did see the comment by @yaroslavvb regarding my issue. But could not see any new answers posted for his comment/question. Is there anything else that you guys would want me to try from my end? If yes, please do let me know. Or, do I just wait to hear from any of you again?

I may be a little on my toes needing help. But, just getting used to GitHub and how you all work wit

[2017-02-03 18:25] andrewharp commented on #7242
Thanks for you interest in TensorFlow, but for general TF usage and Android development questions we recommend that you ask on StackOverflow (I believe I responded to your question there; can't find it now though).

[2017-02-03 18:25] #7242 closed

[2017-02-03 18:25] rylanchiu commented on #6064
@foxik Thanks for your reply! It solves my problem perfectly!

[2017-02-03 18:25] #6064 closed

[2017-02-03 18:46] yaroslavvb commented on #7235
@b0nol in case he has some insight about clock_gettime portability

[2017-02-03 18:50] yaroslavvb commented on #7245
Hi, could you please ask this on stackoverflow? We are trying to keep this list for tensorflow bugs/feature requests

[2017-02-03 18:53] vatlidak commented on #7245
Okay

[2017-02-03 18:53] #7245 closed

[2017-02-03 19:00] yaroslavvb commented on #7246
It's not clear that those messages indeed indicate the problem, cc @zheng-xq  just in case. Note that each K80 uses has two gk110 GPUs, and most things in TF don't automatically parallelize over multiple GPUs.

In terms of SGEMM FLOPS, gk110 sgemm peaks at about 3 TFLOPS whereas GTX Pascal TitanX is about 11 TFLOPS, which means there are situations where your K80 setup is expected to run 4x slower

[2017-02-03 19:03] cancan101 commented on #2284
@mrry How would you use slice to accomplish this?

[2017-02-03 19:05] yaroslavvb commented on #7244
If you think it's a bug in TensorFlow you can use [inspect_checkpoint](https://github.com/tensorflow/tensorflow/blob/ec7929b878926c39255254e9aea992f0bc65aa68/tensorflow/python/tools/BUILD#L54) tool to isolate it further. IE, check what names are saved in checkpoint, and then what names are getting restored (`print tf.get_default_graph().as_graph_def()` will let you obtain you names of variables in

[2017-02-03 19:16] mrry commented on #2284
@cancan101 Assuming the crop region should be at the same location in each image, you would just take `images[:, y_start:y_end, x_start:x_end, :]` where `x_start`, `x_end`, `y_start`, and `y_end` define the corners of the crop region.

[2017-02-03 19:22] cancan101 commented on #2284
okay, but then need to copy over logic like:
[code]
to get those values.

[2017-02-03 19:27] mrry commented on #2284
Sure, but you don't need to use a `tf.while_loop()`, which was suggested in the original issue.

I don't feel strongly either way adding such a function in `image_ops.py`... feel free to open a new issue with the proposed interface if you'd like!

[2017-02-03 19:35] yaroslavvb commented on #6539
BTW, PR for such small change is quite easy and you can do it mostly from browser:

First, click "Fork" on github tensorflow page

Then in Terminal:

[code]
Then in bugfix branch on /tensorflow on Github, find file, click "Edit" button, edit file, then click commit, then click "Pull Requests" and select tensorflow/master on left and <username>/tensorflow:bugfix on right

[2017-02-03 19:47] yaroslavvb commented on #6998
Not sure what's the status of sparse gradients is, I see a recent commit referencing gradients and sparse together -- ef489fb3

[2017-02-03 19:48] bazinac commented on #7150
Yeap it works, this way (using transformations strip_unused_nodes, remove_nodes, all those folds, then round_weights and eightbit) my graph does not crashes anymore when used in android, like it did when I have used python scripts.

However, final_result layer works the same in just stripped version as in eightbit, but the other (final_result_musoth - originally referenced as final_result_b produc

[2017-02-03 21:00] mrry commented on #7195
Can you try upgrading to the 1.0.0rc version of `tensorflow-gpu`? There were some buggy GPU kernels in the 0.12 release that caused similar failures.

[2017-02-03 21:20] yaroslavvb commented on #7236
so is this expected behavior, or is it a bug in TensorFlow?

[2017-02-03 21:25] yaroslavvb commented on #7196
Such trivial change may be better discussed in a PR, so closing for now

[2017-02-03 21:25] #7196 closed

[2017-02-03 21:32] martinwicke commented on #6998
If you just pass `M.values` instead, I bet your code will just work. I think I'll just fix this though, just have to add tests.

[2017-02-03 21:46] subzerofun opened #7249 "ValueError: Only call `sigmoid_cross_entropy_with_logits` with named arguments (labels=..., logits=..., ...)"
**OS:**
macOS 10.12, CUDA 8.0 / cudnn 5, GeForce GTX 780

Tensorflow version:
0.12.head, build from source with CUDA 8 support. Is working!

---

**Problem:**
Trying to run the code of this project (written for tensorflow 0.10 – and i have 0.12):
https://github.com/david-gpu/srez

And am getting the following error:
[code]

The file which generates the **"ValueError: Only call `sigmoid_cross_entro

[2017-02-03 21:48] drasmuss opened #7251 "Native GPU version of `tf.dynamic_stitch`"
### Environment info
Operating System: Windows 10

Installed version of CUDA and cuDNN: 8.0, 5105
tensorflow release 0.12.1

### If possible, provide a minimal reproducible example (We usually don't have time to read hundreds of lines of your code)
[code]

The `log_device_placement` output shows that everything is assigned to the GPU, as expected.  However, inspecting the trace output shows that d

[2017-02-03 21:52] EntilZha commented on #6533
Any word on new packages for `tensorflow-gpu` being pushed to pypi?

[2017-02-03 22:18] yaroslavvb commented on #7251
This is probably due to the following `HostMemory` annotations in definition of DynamicStitch in [dynamic_stitch_op.cc](https://github.com/tensorflow/tensorflow/blob/27711108b5fce2e1692f9440631a183b3808fa01/tensorflow/core/kernels/dynamic_stitch_op.cc#L184)

[code]

These kinds of annotations are were originally added because the data needed to be on CPU, but you wanted to avoid the extra overhead

[2017-02-03 22:19] akdeoras opened #7253 "tf.reshape() of a tensor with an unknown dimension (None) does not seem to work"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
https://github.com/fchollet/keras/issues/4302

### Environment info
Operating System: Mac (CPU)

If installed from binary pip package, provide:

1. A link to the pip package you installed:
2. The output from `python -c "import tensorflow; print(tensorflow.__version__)"`.
0.12.1

### If pos

[2017-02-03 22:54] yaroslavvb commented on #7251
I looked at it with a bit more instrumentation in [dynamic_stitch_gpu.py](https://github.com/yaroslavvb/stuff/blob/master/dynamic_stitch_gpu.py) and it looks like there are two kinds of transfers going on.

If you run with `output_partition_graphs=True` and look at `partition_graphs` in generated metadata [pbtxt](https://github.com/yaroslavvb/stuff/blob/master/dynamic_stitch_gpu_profile.pbtxt) you

[2017-02-03 23:08] machrisaa commented on #7214
Hi @aselle , based on the thinking I have mentioned. I have created a demo in [#7254](https://github.com/tensorflow/tensorflow/pull/7254) that use RedBaron to parse the source into "Full Syntax Tree" with comments and formatting preserved. Then transform the tree nodes based on the rules and finally unparse the tree back to source code.

The `tf_update2.py` is a working prototype. It can already c

[2017-02-03 23:15] #549 closed

[2017-02-03 23:15] carltonwang commented on #6599
Can this problem be solved in the next release?

[2017-02-03 23:22] civilman628 commented on #5764
we meet the same issue, we freeze inception_v2 and load in the iOS.

2017-02-03 14:51:13.543432 CameraExample[28689:12736455] 0x17015dbc0 Copy matching assets reply: XPC_TYPE_DICTIONARY  <dictionary: 0x17015dbc0> { count = 2, transaction: 0, voucher = 0x0, contents =
         "Assets" => <data: 0x170278c80>: { length = 1229 bytes, contents = 0x62706c6973743030d4010203040506646558247665727369... }

[2017-02-03 23:26] yaroslavvb commented on #6599
@carltonwang Could you give a reproducible example and profile as a picture/graph?
cc @ebrevdo in case he has ideas

[2017-02-03 23:42] andrewharp commented on #5764
@civilman628 It looks like depthwise_conv_op.cc was never added to tf_op_files.txt. If you add it there, does that resolve the issue?

I'll go ahead and send a change to add it since I can't think of any reason it shouldn't be there.

[2017-02-03 23:49] rohitgirdhar opened #7255 "Multi-GPU training drastically slow after recent commit"
I recently upgraded to the latest master, in order to fix the issues caused by this bug: https://github.com/tensorflow/tensorflow/issues/7038
Though the above fix does resolve the issue of same batch being pulled from the GPU, now my model training has become drastically slow (> 4x), and most time is being spent in dequeues. A timeline snapshot is here:

![screenshot from 2017-02-03 18-43-55](http

[2017-02-03 23:56] yaroslavvb commented on #7255
It seems crux of the fix in that issue is to set `stateful` property to true, any chance you can change it to read ` op_def->set_is_stateful(false);` and see if this fixes things?

https://github.com/tensorflow/tensorflow/commit/06e3aa655506773e49ce9a855f81ba3eae2a6b88#diff-333845d139890198962551b3a1c2a33b

[2017-02-04 00:18] aselle commented on #7214
Thanks for looking at this in detail. Sorry I missed your comments from before. In any case, I was able to fix the handling the list comprehensions in #7229.  A few thoughts on RedBaron vs ast.

* One of the goals of the upgrade script was to have minimal extra dependencies. I'd ideally like people not to have to install extra python packages to use it. That's one reason why I used ast instead of

[2017-02-04 00:33] civilman628 commented on #5764
we add this .cc file to tf_op_files.txt and works.

[2017-02-04 00:34] yichinwang opened #7256 "couldn't find "libtensorflow_demo.so""
Hi All:
  I'm a newbie on trying out tensorflow in Android,
by following the guildline to build the libtensorflow_demo.so,  I new a folder "libs" to put this so file in folder "tensorflow/examples/android/libs"

    sourceSets {
        main {
            manifest.srcFile 'AndroidManifest.xml'
            java.srcDirs = ['src', '../../contrib/android/java']
            resources.srcDirs = ['src']

[2017-02-04 00:48] ebrevdo commented on #6599
Are you using dynamic or static rnn?

[2017-02-04 00:52] asimshankar commented on #7256
Are you following the instructions outlined in https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android ?

That suggests the use of `bazel build` to build the demo, and has some instructions for using Android Studio as well. Are you following those?

If you're using a custom setup, then perhaps you want to add some more detail on your setup and post your question on stackov

[2017-02-04 01:09] yichinwang commented on #7256
Yes,  I use Android Studio 2.2.3 to import tensorflow project,
and follow the instructions listed in this page,
and also use command line below to build the apk
bazel build -c opt //tensorflow/examples/android:tensorflow_demo

then run this project, the error "couldn't find libtensorflow_demo.so" appears...
after refering to some suggestions, I new a folder "libs" and put so file in, but the probl

[2017-02-04 01:20] yaroslavvb commented on #7255
PS, spending time in dequeues can mean that you have queue starvation, so it's really the `.run` call which enqueues to your queue that is slow. So you should make sure your `queue.size()` is always above batch size, and if not, profile your enqueue `.run` call. Here's an example of similar issue https://github.com/tensorflow/tensorflow/issues/6845

[2017-02-04 01:21] yaroslavvb commented on #7249
try to run your code through @aselle 's upgrade script -- https://github.com/tensorflow/tensorflow/blob/cb17d1b0e2b581b5da1d9597b7929ba764749d38/tensorflow/tools/compatibility/BUILD

[2017-02-04 01:32] yaroslavvb commented on #7220
Note that definition of `Pow` op means that all types are the same

[code]

`_op_def_lib.apply_op` is not smart enough to figure out that -83.56^1.5 is complex, so that all inputs must also be treated as complex. This is similar https://github.com/tensorflow/tensorflow/issues/7170 and the lesson is that except for a few common special cases, you must specify `dtype` explicitly.

This works

[code]

[2017-02-04 01:32] #7220 closed

[2017-02-04 01:33] jkiske commented on #1419
@crjensen21 & @yaroslavvb I am having the same issue. Patching with below allows compilation into a shared library, but seg faults after any program that loads the library (with `tf.load_op_library`) finishes.

<pre>
diff --git a/tensorflow/tensorflow.bzl b/tensorflow/tensorflow.bzl
index d78cb7b57..7d0d5ae9a 100644
--- a/tensorflow/tensorflow.bzl
+++ b/tensorflow/tensorflow.bzl
@@ -774,8 +774,9 @

[2017-02-04 01:36] asimshankar commented on #7256
So the `bazel build -c opt //tensorflow/examples/android:tensorflow_demo` succeeds?
Can you manually install the `.apk` using

`adb install -r <path_to_apk_printed_by_bazel_build>`
?

Does that work?

[2017-02-04 01:49] yaroslavvb commented on #1419
I'm not sure it's the same issue. Maybe build with `-c dbg` to get line numbers? Also, during configure, there's an option that asks if you want `jealloc` so that's another thing to experiment with

[2017-02-04 02:02] Mahdizade commented on #6599
I use static rnn.

[2017-02-04 02:11] rohitgirdhar commented on #7255
@yaroslavvb I changed `tensorflow/core/framework/op_def_builder.cc` Line 379 (true->false). Now my code gives a segmentation fault after it prints "INFO:tensorflow:Starting Queues." (I'm using the slim models)..

[2017-02-04 02:23] easycheese commented on #6252
New user here.  This is very confusing to see, especially when you are following the guide exactly.

[2017-02-04 02:34] subzerofun commented on #7249
Thanks for the script! I switched back to tf version 0.11 and got rid of the errors. Will try the script on the 0.10 files and then update again to 0.12 and rerun the project.

[2017-02-04 02:35] #7249 closed

[2017-02-04 03:12] rohitgirdhar commented on #7255
I changed the line in `tensorflow/core/framework/op_def_builder.cc`, L379 (true->false). Now I'm getting a segmentation fault with my code, right after it prints `INFO:tensorflow:Starting Queues.`. Maybe there has been some other change in the last few days that conflicts with this...?

[2017-02-04 03:24] jmchen-g commented on #7130
Agreed. This sounds like a bug. Do you mind taking a PR for this please? Thanks. :)

[2017-02-04 03:29] tobegit3hub commented on #5110
There are two problems we need to fix for this code and now it works.

The placeholder problem is similar to http://stackoverflow.com/questions/38825741/running-distributed-tensorflow-with-invalidargumenterror-you-must-feed-a-value?rq=1 . We should not use `summary_op` in `Supervisor` when using placeholder(not sure if we need to fix this later). Now it doesn't complain about `You must feed a valu

[2017-02-04 03:29] #5110 closed

[2017-02-04 04:03] bigmoumou commented on #3864
Hi iNLyze, I got the same problem as you.
The point is here :

name: GeForce GTX 1070
major: 6 minor: 1 memoryClockRate (GHz) 1.683
pciBusID 0000:01:00.0
Total memory: 7.91GiB
Free memory: 148.69MiB

Total memory we have is 7.91GiB, but available is only 148.69MiB.
This mean that our vram has been allocated to other places.
So before we run the code, just add :

import os
os.system('export CUDA_VI

[2017-02-04 04:03] yichinwang commented on #7256
Hi:
 I think the "bazel build" is successful for it didn't come out build error and finally shown build result as below

INFO: Found 1 target...
Target //tensorflow/examples/android:tensorflow_demo up-to-date:
  bazel-bin/tensorflow/examples/android/tensorflow_demo_deploy.jar
  bazel-bin/tensorflow/examples/android/tensorflow_demo_unsigned.apk
  bazel-bin/tensorflow/examples/android/tensorflow_dem

[2017-02-04 04:28] asimshankar commented on #7256
That seems like the native library is being [built for a different architecture](http://stackoverflow.com/questions/24572052/install-failed-no-matching-abis-when-install-apk).

Did you setup the `WORKSPACE` file with the appropriate SDK/NDK.
Also, you might want to try with:

`bazel build -c opt --config=android_arm //tensorflow/examples/android:tensorflow_demo`
(notice the `--config=android_arm`)

[2017-02-04 04:50] vahidk commented on #7108
Any progress on this?

[2017-02-04 05:15] rohitgirdhar commented on #7255
I downgraded my tensorflow installation to 0.12.1 release (4d924e796368163eff11a8151e8505715345f58d)
After the required API changes, my code seemed to run at a similar speed as I'm seeing with the latest head. So it might be possible that last few weeks I've been running it with the optimization bug with made it 4x faster (by copying the same batch onto all 4 GPUs), and the slowdown I'm seeing now

[2017-02-04 06:47] carltonwang commented on #6599
I use dynamic_rnn, my model is very complicated, this is the code I use to update parameters:
`VARIABLES = tf.trainable_variables()
 GRADIENTS = tf.gradients(ys=MEAN_LOSS, xs=VARIABLES)
 CLIPPED_GRADIENTS, _ = tf.clip_by_global_norm(t_list=GRADIENTS, clip_norm=gradient_clip_norm)
 OPTIMIZER = tf.train.AdamOptimizer(LEARNING_RATE)
 GRADIENT_VARIABLE_PAIRS = zip(CLIPPED_GRADIENTS, VARIABLES)
 UPDATE

[2017-02-04 07:08] zergylord commented on #6998
Yup, that solved it -- thanks!

[2017-02-04 08:26] yichinwang commented on #7256
Hi:
 Yes, the SDK/NDK path is already configured, and if the "bazel" command line has "x86" build config ?

because I'm using x86 Android emulator...(run faster the arm version ^_^)

[2017-02-04 08:31] dmitry-xnor opened #7257 "Feature request: Please provide AVX2/FMA capable builds"
I would go out on a limb and guess that the vast majority of Tensorflow users on Linux at least use fairly modern CPUs. It would therefore be beneficial for them to have the prebuilt TF binaries support AVX2/FMA. These two ISA extensions, and especially FMA, tend to speed up GEMM-like math pretty significantly.

It'd be great if TF team provided prebuilt Linux release *.whl that supports AVX2/FMA,

[2017-02-04 08:57] yichinwang commented on #7256
Hi:
  when I use ARM ver emulator, the so lib can be found

[2017-02-04 09:33] kwotsin commented on #7244
@yaroslavvb After inspecting the checkpoint, I have found 908 variables to restore, but using `slim.get_variables_to_restore()` I got around 1.5k variables. Turns out it was because I defined the variables to restore after I created my train_op, which caused many more variables that weren't defined in the checkpoint file to be tried to restore. After I defined the variables to restore **immediatel

[2017-02-04 09:33] #7244 closed

[2017-02-04 10:07] AdamWP commented on #4790
I made a model, froze it, optimized for inference, yet I'm getting an error message about FIFOQueue on iOS

"Could not create TensorFlow Graph: Invalid argument: No OpKernel was registered to support Op 'FIFOQueue' with these attrs. Registered devices: [CPU], Registered kernels: <no registered kernels>
[[Node: fifo_queue = FIFOQueue[capacity=30, component_types=[DT_FLOAT, DT_FLOAT, DT_FLOAT], cont

[2017-02-04 13:51] orodbhen commented on #491
This press release from NVIDIA may be relevant to the performance issues mentioned.

https://blogs.nvidia.com/blog/2015/08/31/mac-driver/

[2017-02-04 14:22] andrewharp commented on #7256
The CPU type that gets built for in Android Studio/Gradle builds is defined here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/build.gradle#L10

The default is armeabi-v7a, so if you're running in an x86 emulator you'll need to change that accordingly.

[2017-02-04 15:02] yichinwang commented on #7256
Thanks, but I can not figure out which cpu type to specify, will it look like below
bazel build -c opt --config=x86 //tensorflow/examples/android:tensorflow_demo

I tried but seems still not build "x86" version lib

[2017-02-04 15:13] andrewharp commented on #7256
What's the log output when you try that? There are no .so files placed under bazel-bin?

[2017-02-04 15:16] luketg8 opened #7258 "Building a .dll on Windows"
I have built libtensorflow.so with Bazel and used it successfully with the C Api in Ubuntu, however I was wondering if it is possible at all to use Bazel to build a .dll extension to use for Windows? As I want to integrate TensorFlow into an existing project.

Thanks in advance

[2017-02-04 15:20] yichinwang commented on #7256
I use the command below
1. bazel clean
2. bazel build -c opt --config=x86 //tensorflow/examples/android:tensorflow_demo
3. sudo find / ./ -name libtensorflow_demo.so

the search result is below, where I didn't notice the "x86" version is generated ?!
and not found any so file under bazel-bin.

/private/var/tmp/_bazel_ycw/a122119f088e17a4855898206da17645/execroot/tensorflow/bazel-out/android-arm-li

[2017-02-04 15:32] andrewharp commented on #7256
Oh, you actually need to use the --cpu flag, not config.

build.gradle already uses that, though -- are you sure that doesn't work when you modify the CPU type?

[2017-02-04 16:19] yaroslavvb commented on #7257
As a performance datapoint, this matrix multiplication benchmark goes 0.31 Tops/sec -> 1.05 Tops/sec when enabling avx2/fma on our Intel Xeon 3 @ 2.4 Ghz servers: https://github.com/yaroslavvb/stuff/blob/master/matmul_bench.py

On the other hand, there may be technical issues with infrastructure that make it hard to setup such a build. @caisq for comment

[2017-02-04 16:35] tbaker2 opened #7259 "Configure script optimization flags don't work"
The default optimization switches that are set when running the configure script do not change the compiler settings.  The values are put into the bazel.rc file.  They don't get into the gcc command line.  For example if I run ./configure with all of the default answers the optimization should be "-march=native".  I have tested this on multiple Ubuntu 16.04 systems with don't have CUDA.

If I then

[2017-02-04 16:58] machrisaa commented on #7214
Hi @aselle, I totally understand and that is exactly why I asked you if it is allowed to use RedBaron. I have finished all the coding to convert the original `tf_update.py` to use the new method. It can now support all the original command line parameters and will generate `report.txt` after the conversion.

I have uploaded it to a standalone repository [tf0to1](https://github.com/machrisaa/tf0to1

[2017-02-04 17:05] szb0 commented on #6611
My intuition was from looking at the generate_batch function and seeing when data_index was incremented.

The first loop increments data_index 2 * skip_window + 1 times.

The next for loop increments data_index (batch_size // num_skips) times.
So I use this to calculate the number of steps (2*skip_window + 1  + (batch_size // num_skips)).

The formula  len(data) // (batch_size // num_skips) allows

[2017-02-04 17:06] szb0 commented on #6611
Actually only looking at it after posting that comment it seems both are getting cut short on the whole data set and I am not sure why. I'll have to make sure I haven't messed something up.

[2017-02-04 17:21] yaroslavvb commented on #7259
You have to build with --config=opt rather than -c opt

[2017-02-04 17:41] szb0 commented on #6611
With finer grained output:

len(data) // (batch_size // num_skips):

('Est. Avg loss at step ', 63449, ': ', 0.015983373641967773, ' data index 4251150')
('Est. Avg loss at step ', 63450, ': ', 0.011031746864318848, ' data index 4251217')
('Est. Avg loss at step ', 63451, ': ', 0.013918094635009766, ' data index 4251284')
('Est. Avg loss at step ', 63452, ': ', 0.014092603683471679, ' data index 5

[2017-02-04 17:47] tbaker2 commented on #7259
Thanks.  I didn't understand the explanation printed by the configure script.  It would help to have this explained in the manual.

[2017-02-04 17:50] yaroslavvb commented on #7259
Would you like to send a pr to fix it?

On Feb 4, 2017 9:47 AM, "Tom Baker" <notifications@github.com> wrote:

[2017-02-04 19:36] yichinwang commented on #7256
HI:
In bazel command line, no matter I set the --cpu to ios_x86_64 or darwin,
after tensorflow_demo.apk built and unzip it to check, the so file is always located in "armeabi-v7a"

lib/armeabi-v7a/libtensorflow_demo.so

is it normal ?

[2017-02-04 20:05] yaroslavvb commented on #7259
BTW, here's the recipe I use for making pull requests
https://gist.github.com/yaroslavvb/bdb0a92f2a516ebbe2d386c48f5e2c45

[2017-02-04 20:24] IvanBudnikov opened #7260 "load_op_library don't see Ops"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
http://stackoverflow.com/questions/42019818/tensorflow-load-op-library-load-incorrectly?noredirect=1#comment71258436_42019818
### Environment info
Operating System: Linux Gentoo

Installed version of CUDA and cuDNN:
-rw-r--r-- 1 root root 558632 Dec 28 08:08 /opt/cuda/lib64/libcudadevrt.a

[2017-02-04 21:29] daj opened #7261 ""No Android SDK found" error when building Android demo app"
I'm only following [the README instructions](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/README.md) to build the Android demo app.

I believe I have configured my ./WORKSPACE file correctly.  This seems to be a different error to the obvious one you get if you haven't update the WORKSPACE file...

### What related GitHub issues or StackOverflow threads have you

[2017-02-04 22:12] andrewharp commented on #7256
You don't want to build for iOS if you're targeting Android. The cpu value is x86, but you also need to pass the crosstool flags described in the instructions at https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/android

And to clarify, have you tried modifying build.gradle to set the cpu to x86, and then building from *within* Android Studio yet?

[2017-02-04 22:42] civilman628 commented on #4790
First, Google does not plan to support iOS well. Tensorflow is a very sham open source project. They let users to help them test and find bugs only, but not wish fully support if you meet problems.

You can see my code in #7172 about how to get .pbtxt file and freeze the models in .pb files like inception v1-v4 and inception_resnetv2...  The first node is "Placeholder", which accept a image, like

[2017-02-04 23:13] GeorgianaPetria commented on #3408
I had this issue when using an aws instance that had tensorflow installed.
I tried installing mock, but it didn't make any change.
Finally, it turned out the installed tensorflow version was quite old and the issue was related to this https://github.com/tensorflow/serving/issues/139

I just had to upgrade tensorflow and it worked: https://www.tensorflow.org/get_started/os_setup

[2017-02-04 23:44] ahundt commented on #781
@aaronpries as per commit message "Mirror and interpolation will be added in follow-ups."

[2017-02-04 23:45] gunan commented on #7258
/cc @asimshankar
At the moment, we have not tested building a dll in windows.

[2017-02-04 23:47] gunan commented on #7259
We have updated our documentation, and configure script at head.
But I am happy to accept another change do either our docs or the explanation printed by configure script.

[2017-02-05 00:10] Montmorency commented on #527
I'm currently having this exact issue. Not sure what the conclusion was although thread looks closed now due to lack of activity.

[2017-02-05 00:52] AdamWP commented on #4790
I added "tensorflow/core/kernels/fifo_queue_op.cc" to tensorflow/contrib/makefile/tf_op_files.txt then ran compile_ios_tensorflow.sh .  It seems to have done the trick.

[2017-02-05 01:14] fangyan93 opened #7266 "undefined reference to `google::protobuf::internal::fixed_address_empty_string'"
![error_2_4](https://cloud.githubusercontent.com/assets/14129554/22622882/bd9c80a0-eb15-11e6-9ee1-3269efd7e0bd.png)

Hello,
I am tring to do install core of tensorflow on Raspberry PI 3, on Ubuntu 16.04 LTS using python 3.5.2, exactly following the instruction on https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile, but got error messages at last step "make -f tensorflo

[2017-02-05 01:50] yichinwang commented on #7256
Hi:
 I modify the cpu type as "x86_64" of gradle file below, and run "Build APK" in "Build" menu.

it appears error below..
Error:(63) Error: This fragment should provide a default constructor (a public constructor with no arguments) (org.tensorflow.demo.CameraConnectionFragment) [ValidFragment]

[2017-02-05 02:38] Montmorency opened #7268 "C++ compilation of rule '@jemalloc//:jemalloc' failed:"
Trying to install tensor flow on cluster from source. I have installed bazel
[bazel release 0.4.4- (@non-git)], and I am using python 2.7.13 with pyenv. Upon trying to build the tensorflow pip wheel I am getting a compilation error:

ERROR: ~/.cache/bazel/_bazel/e924d9c3ba75314415252c6f4f93bb86/external/jemalloc/BUILD:10:1: C++ compilation of rule '@jemalloc//:jemalloc' failed: gcc failed: error e

[2017-02-05 03:45] martinwicke commented on #527
I believe the latest is that this is blocked on bazel. Not sure there's
much we can do from the TensorFlow side. Have you tried building with cmake?

[2017-02-05 04:45] ppwwyyxx commented on #7255
FYI, on my side it runs faster with the bug as well, because it reused the same data 4 times.

[2017-02-05 04:52] jmchen-g commented on #3717
Close due to no activity. Feel free to reopen! :)

[2017-02-05 04:52] #3717 closed

[2017-02-05 05:02] jmchen-g commented on #436
assigned to girving mostly because he has been following this bug. Feel free to re-assign. Thanks.

[2017-02-05 06:23] andrewharp commented on #7256
Seems that newer SDK levels require a default constructor: http://stackoverflow.com/questions/29762949/error-this-fragment-should-provide-a-default-constructor-a-public-constructor

You can try adding a default constructor (or just lower your target API level)l. Feel free to send a PR with the fix if this addresses the issue for you, thanks.

[2017-02-05 06:44] jmchen-g commented on #7158
You should be able to run the frozen graph. Pete should know all hte details about how to run a frozen graph. :)

[2017-02-05 06:48] jmchen-g commented on #7164
close this one as it is resubmitted as another issue.

[2017-02-05 06:48] #7164 closed

[2017-02-05 07:17] jmchen-g commented on #7181
If you already have a suspect of the reason, can you try to fix it and come back please? Thanks.

[2017-02-05 07:29] jmchen-g commented on #7216
Assigned to Peter fow now. Feel free to re-assign. Thanks.

[2017-02-05 07:38] carltonwang commented on #6599
This is the simplified version of my code and data (in TFRecord), please run it on GPU...
My system is: CentOS 7, GTX 1070, CUDA 8.0.44, CUDNN 5.1, NVIDIA Driver 375.26

[test.zip](https://github.com/tensorflow/tensorflow/files/752806/test.zip)

[2017-02-05 08:21] kshmelkov commented on #7164
I resumbitted another thing that I detailed in the second message and then edited out. When I fixed this issue with BN (by manually editing my TF installation as I explained above in an unelegant way) I discovered another problem that firstly I thought also related to float16 and BN, but in C code. It turned out it wasn't linked to BN, so I resumbitted it in #7226.

Please reopen this one as it is

[2017-02-05 09:05] gaoshan2006 opened #7270 "Failure in "Linking CXX shared library libpywrap_tensorflow.so" , with error info "additional relocation overflows omitted from the output""
I am using Cmake 3.5.1 to compile sourcecode in Ubuntu 16.04 with a ppc64le machine ( Power64 little endian ).  Python 2.7.12.  The compile is failed in  "Linking CXX shared library libpywrap_tensorflow.so". The error info is as bellows.   I try compiling source code both 0.10.0 and 0.12.0,  and get the same error.
Could you give me a help please ? Thanks

[ 98%] Running SWIG to generate Python wr

[2017-02-05 10:25] heojiwoong opened #7272 "CUDA_ERROR_OUT_OF_MEMORY"
i tried to excute chabot application (DeepQA). but i found out error.
this is the problem screen.....

E tensorflow/core/common_runtime/direct_session.cc:135] Internal: failed initializing StreamExecutor for CUDA device ordinal 0: Internal: failed call to cuDevicePrimaryCtxRetain: CUDA_ERROR_OUT_OF_MEMORY; total memory reported: 18446744073648275456
Traceback (most recent call last):
  File "main.

[2017-02-05 14:50] yichinwang commented on #7256
Hi:
  I add "checkReleaseBuilds false" below to resolve the "default constructor" issue,
    lintOptions {
        abortOnError false
        checkReleaseBuilds false
    }

  and finally the "libtensorflow_demo.so" can be loaded in x86 emulator.

 However once launch the demo app, the error occurs ,
and I'm not sure if it's because the x86 issue or not ?!

02-05 22:48:47.447 4814-4814/? I/art: No

[2017-02-05 15:15] gaoshan2006 commented on #4368
I meet the same issue. I built bazel( 0.4.3) from a old bazel ( 0.4.0).  Then ./configure on Tensorflow, then use 0.4.3 bazel to compile. Got the issue ,
ERROR: The specified --crosstool_top '//third_party/gpus/crosstool:crosstool' is not a valid cc_toolchain_suite rule.

[2017-02-05 15:16] yichinwang commented on #7256
(Followed)
when set cpu = armeabi-v7a and using "arm" version emulator,
the below error also occur..

02-05 23:13:02.691 4190-4190/org.tensorflow.demo I/art: Not late-enabling -Xcheck:jni (already on)
02-05 23:13:02.695 4190-4190/org.tensorflow.demo W/art: Unknown instruction set features for ARM CPU variant (generic) using conservative defaults
02-05 23:13:06.459 4190-4190/org.tensorflow.demo D/t

[2017-02-05 15:21] Montmorency commented on #7268
Ultimately I just disabled jemalloc when prompted by the tensorflow/configure file. Tensor flow seems to have compiled fine from there on.

[2017-02-05 16:01] inflation commented on #7158
@ashokvishnoi1994 Some documentation does help. But if you want to get some quick information, you can try something like this:
[code]
where you need to know the name of input node and output node when you freeze the graph.

[2017-02-05 16:13] zhubofei commented on #3263
@jrimestad Might be too late for your question, but for anyone who doesn't know how to add the symlink:
[code]
run this in terminal will do the trick.

[2017-02-05 16:24] gunan commented on #4368
Any bazel version older than 0.4.2 will not work, as there has been some backwards incompatible changes to our build files. Not sure what you mean with you built bazel 0.4.3 from 0.4.0.

[2017-02-05 17:47] andrewharp commented on #7256
This is currently missing from the directions (needs to be fixed), but if you're not building with Bazel you need to download and extract the contents of https://storage.googleapis.com/download.tensorflow.org/models/stylize_v1.zip into the assets/ dir.

[2017-02-05 17:48] Montmorency commented on #527
I had GLIBC Errors of this sort and wrote some notes on installing TensorFlow from source on [Scientific Linux Cluster without root privilege](http://harlambert.co.uk/tensorflow_notes/).

[2017-02-05 18:39] andrewharp commented on #7256
The null asset error indicates that the model is not being found in the assets/ dir.

This is currently missing from the directions (needs to be added), but if you're not building with Bazel you'll need to download and extract the contents of https://storage.googleapis.com/download.tensorflow.org/models/stylize_v1.zip into the assets/ dir.

[2017-02-05 19:29] inflation commented on #2412
Hi, I'm trying to play around with the C API. After running `bazel build //tensorflow:libtensorflow.so`
and copy the shared library into another folder, I successfully compiled and linked a small example. But when I tried to run it, it showed something like this:
[code]

I must put the library in the same folder structure as it said to run it without error. So what is wrong here?

[2017-02-05 19:42] cgao3 commented on #2412
Maybe you should set
DYLD_LIBRARY_PATH ?
---------- Forwarded message ----------
From: Aaron Hu <notifications@github.com>
Date: Sun, Feb 5, 2017 at 12:30 PM
Subject: Re: [tensorflow/tensorflow] Tensorflow as C++ library (#2412)
To: tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: cgao3 <cgao3@ualberta.ca>, Mention <mention@noreply.github.com>

Hi, I'm trying to play around with the C API

[2017-02-05 19:43] asimshankar commented on #2412
Seems like you're using OS X.
For that your choices are to either:

- Copy `libtensorflow.so` into `/usr/local/lib`
- Or use `DYLD_LIBRARY_PATH` (e.g., `export DYLD_LIBRARY_PATH=/path/to/dir/containing/libtensorflow.so`)

Hope that helps

[2017-02-05 19:51] menglin0320 commented on #7181
Thanks for your advise. I may do that later. I don't know anything about bazel and it takes time to compile Tensorflow, so I'm not sure I should use a newer version or older version.  I expect someone who knows the library to help me. I'm pretty busy utils this Wednesday , I may try to fix it afterward.

[2017-02-05 20:09] KaixiangLin opened #7274 "Is it possible to call TensorBoard smooth function manually?"
I have two arrays X and Y.

Is there a function I can call in tensorboard to do the smooth?

Right now I can do an alternative way in python like:
[code]
But I didn't get a similar results as shown in tensorboard by doing so. Is there a function I can call?  Could you provide an API that allow this kind of operation?

Thanks.

[2017-02-05 20:28] inflation commented on #2412
@asimshankar Thanks a lot!

[2017-02-05 20:33] mshunshin commented on #1122
I have been using batch_norm as described in this thread (with a tf.bool for training; and ops.GraphKeys.UPDATE_OPS) and everything works.

When saving and restoring using:
saver = tf.train.Saver()
it works,

but when saving using:
saver = tf.train.Saver(tf.trainable_variables() + [global_step])
so that I can save storage space (by not saving the gradients etc)
on restore there is an error:
"unini

[2017-02-05 20:43] civilman628 commented on #4790
this way will retain many unnecessary nodes, which are not needed for inference phase. you can print out the nodes to see.

[2017-02-05 22:41] abred commented on #5988
still occurring with 0.12.1

[2017-02-05 23:01] HannahMontanna opened #7276 "Weights are nan, loss is computed fine and gradients are too small"
I have been researching about this over the INTERNET for a very long time. But I still do not know where my problem lies. I am finetuning a siamese fashioned vgg. And the problem is that even after first iteration distance calcualted is fine, loss calculated is fine but the gradients are too small(which is a problem) and the weights that are updated are nan. I do not understand what the problem is

[2017-02-05 23:45] DrSleep commented on #1122
@mshunshin moving mean and variance are not trainable variables: there are no gradients coming to them, they are just accumulating statistics across minibatches of examples.
To save/restore them, you can use tf.global_variables()

[2017-02-06 00:45] yaroslavvb commented on #7276
BTW, this list is for bugs and feature requests in TensorFlow. It is common to get NaN's during normal operation. There was probably no response on stackoverflow because such problems are often due to a subtle bug in network design or training, and requires significant effort to track down. If you think this is a bug in TensorFlow, please more specific details of which functionality of TF is misbe

[2017-02-06 00:46] yaroslavvb commented on #7272
It sounds like your network is requiring more memory than is available. This list is for bugs/features in TensorFlow itself, and your issue sounds like something on user end

[2017-02-06 00:48] yaroslavvb commented on #7268
cc @jhseu who added jemalloc. @Montmorency can you specify your linux/bazel versions?

[2017-02-06 00:52] deepak09027 commented on #5688
@prb12, @zheng-xq any updates on this issue?

[2017-02-06 00:52] yaroslavvb commented on #7274
@KaixiangLin I'm suspecting this function is implemented in javascript logic of TB so it would be hard to make available, but cc @dandelionmane just in case

[2017-02-06 00:53] yaroslavvb commented on #7266
cc @samjabrahams who made TF work on PI

[2017-02-06 01:02] yaroslavvb commented on #7255
![picard12](https://cloud.githubusercontent.com/assets/23068/22631578/c203add0-ebc4-11e6-8a97-8658e8964870.png)

[2017-02-06 01:03] samjabrahams commented on #7266
Thanks @yaroslavb - I haven't seen the "undefined reference to ...protobuf..." error before. Generally, the error code 1 messages I've seen were due to an out of memory error, though that doesn't seem likely to be the case here. Currently at a super bowl party, but I'll try to take a closer look soon.

[2017-02-06 02:28] aizvorski opened #7278 "Feature request: separable convolutions in 3D"
I would like a `tf.nn.separable_conv3d` identical to `tf.nn.separable_conv2d` except with separability between dimentions [1,2,3] and 4, for use with 3D CNNs.

Rationale: separable convolutions perform very well in 2D (see: Xception architecture https://arxiv.org/abs/1610.02357 ).  In 3D, the number of parameters grows even faster for non-separable convolutions, so the reduction in parameters from

[2017-02-06 03:32] russellanam commented on #1258
Hi, I am using tf 12.1. I compiled it from the master branch. I have set the following in my python code:

`import os
os.environ['TF_CPP_MIN_LOG_LEVEL']='0'`

but I don't get any VLOG outputs from the C code.

Specifically I am after this particular log (tensorflow/core/platform/default/conv_op.cc)

VLOG(2) << "Conv2D: in_depth = " << in_depth
            << ", input_cols = " << input_cols

[2017-02-06 05:17] byronyi commented on #7268
@Montmorency Possibly unrelated, but I've met random problems using bazel build on NFS hosted home directory.

[code]

This might help.

[2017-02-06 05:28] yaroslavvb commented on #1258
It's TF_CPP_MIN_VLOG_LEVEL, not TF_CPP_MIN_LOG_LEVEL
Also, note that if TF_CPP_MIN_LOG_LEVEL is set, then TF_CPP_MIN_VLOG_LEVEL
values are ignored

On Sun, Feb 5, 2017 at 7:32 PM, russellanam <notifications@github.com>
wrote:

[2017-02-06 05:31] yaroslavvb commented on #1258
Also, not sure if 12.1 is late enough, you may need 1.0rc1 or later

On Sun, Feb 5, 2017 at 9:27 PM, Yaroslav Bulatov <yaroslavvb@gmail.com>
wrote:

[2017-02-06 05:52] Lucas2012 commented on #7173
Thank you.:) It worked.

[2017-02-06 05:52] #7173 closed

[2017-02-06 06:14] russellanam commented on #1258
Thanks for the quick reply. I can confirm that TF_CPP_MIN_VLOG_LEVEL does not work with v0.12. I will try with 1.0rc1.

[2017-02-06 06:22] gunan commented on #7243
Our pip packages are built on Ubuntu machines. We currently have official support for Ubuntu but not for centOS.

You might want to try building from sources using either cmake or bazel for running on centOS.

[2017-02-06 06:42] mahatosourav91 opened #7281 "Feature Request : Latent Dirichlet Allocation impementation using tensorflow(skflow)"
I am trying to Topic Modelling (LDA) using tensorflow. But I could find any existing LDA implementation in TF learn (skflow) package.

Is there any other way to implement Topic Modelling using tensorflow?

It would be helpful if LDA support is given in TF Learn (skflow) similar to the scikit-learn Latent Dirichlet Implementation.

[2017-02-06 07:23] jmchen-g commented on #7207
The fix is already merged so closing this...

[2017-02-06 07:23] #7207 closed

[2017-02-06 07:31] jmchen-g commented on #7221
@girving Assign to you mainly because you have comments in the mentioned issues. Feel free to re-assign. Thanks.

[2017-02-06 07:39] jmchen-g commented on #7223
@rmlarsen Assigning to you mainly because you commented in the PR. Feel free to re-assign. Thanks.

[2017-02-06 08:14] samjabrahams commented on #7266
This appears to be a duplicate of #5684. @fangyan93 - it may be good to move the discussion over there.

As an aside, you mentioned that you experienced a bug following the instructions on my repo. If you have the time, would you mind opening up an issue over there with a few details so I can investigate that problem separately?

[2017-02-06 08:19] jmchen-g commented on #7225
Assigned to @vrv mainly because you wrote the original clip_by_value(). Feel free to re-assign. Thanks.

[2017-02-06 08:32] jmchen-g commented on #7226
It is normal to see that float16 doesn't have enough range especially in the beginning of the training. So this is an intended behavior instead of a bug...

If you want to ask around about how to train with float 16, please go to stackoverflow... Thanks.

[2017-02-06 08:32] #7226 closed

[2017-02-06 08:41] ishaybee commented on #1122
for me things started to work when I used this wrapper:
`def batch_norm_wrapper(x, phase, decay, scope, reuse):
    with tf.variable_scope(scope, reuse=reuse):
        normed = tf.contrib.layers.batch_norm(x, center=True, scale=True, decay=decay, is_training=phase, scope='bn',updates_collections=None, reuse=reuse)
        return normed`
the whole using of scopes and reuse is not clear in this thre

[2017-02-06 08:45] pitercius opened #7283 "“module has no attribute 'learn' ”"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
https://github.com/tensorflow/tensorflow/issues/6607

### Environment info
Operating System:
 Windows 7 Enterprise

### If possible, provide a minimal reproducible example

1. I have download and installed the windows docker with:
docker run -p 8888:8888 -e "PASSWORD=****" -d --name tensor

[2017-02-06 09:12] kshmelkov commented on #7226
Are you kidding me or what? How can it not have enough capacity when we start we just one convolution?

Fine, let's modify an example. Choose conv layer with zero weights
[code]
and as well zero batch:
[code]
It still fails. Do you imply that float16 does not have enough capacity to backpropagate on zero batch through all zero convolution? It is clearly a bug somewhere in native code. Please reope

[2017-02-06 09:26] normanheckscher commented on #7227
I've seen a nearly identical issue. The major difference is that I didn't build with XLA+CUD; I only built with CUDA.

OSX 10.12.3
Retina MacBookPro 10,1 mid 2012.
Nvidia GT 650M
Python 2.7.13 build in a virtual environment from brew with the latest requirements from pip
Latest build requirements from brew (wheel, six, etc)
Latest CUDA 8.0.63
Latest cuDNN 5.1.10

The issue only started after I bre

[2017-02-06 09:58] benwu232 opened #7284 "Any clear way to restore saved network and parameters?"
I'm using tensorflow-gpu0.12.1 on a linux-minit18 machine.

I found it is very hard to restore the saved network and its parameters. The closest answer is

http://stackoverflow.com/questions/33759623/tensorflow-how-to-restore-a-previously-saved-model-python

and

https://www.tensorflow.org/api_docs/python/state_ops/exporting_and_importing_meta_graphs

I followed the example in the above link using

[2017-02-06 10:01] heojiwoong commented on #7272
Today i executed this program. then, it worked very well.. I think that this program concerned about network temporarily. (case by case).  Now it work well, but I'm afraid that it doesn't work again..
I'm gonna notice you that promgram's ouput. thank you for your comment! :)

[2017-02-06 10:36] danchokobo opened #7285 "AttributeError: module 'tensorflow' has no attribute 'Variable'"
I run project from here=> https://github.com/david-gpu/deep-makeover
I installed tensorflow by using Anaconda, then I run python3 dm_main.py --run train

Then I have this problem:
File "dm_main.py", line 18, in <module>
    import dm_model
  File "/Users/oteldanagul/Downloads/deep-makeover-master/dm_model.py", line 5, in <module>
    import dm_arch
  File "/Users/oteldanagul/Downloads/deep-makeove

[2017-02-06 10:47] Julian opened #7286 "Upload sdists to PyPI"
Hi.

It appears that PyPI only contains wheels for tensorflow:

https://pypi.org/project/tensorflow/#files

Thanks for uploading those! Wheels are great.

But sdists are good to have too -- specifically, I'm not sure whether tensorflow works on PyPy (I'm about to try it out -- EDIT: now I've seen #252, which I might try to help on) but not having sdists uploaded makes that harder to try without hu

[2017-02-06 12:02] HannahMontanna commented on #7276
Makes sense. The problem is with the first two conv layers only. Latter ones are updated fine. Thank you for your reply, Ill take a look into design.

[2017-02-06 12:36] jeffheaton opened #7287 "SKFLOW/TFLearn SKCompat does not properly implement SKLearn predict and predict_proba"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-02-06 12:52] riless opened #7288 "Are linkopts propagated from copts and/or deps ?"
The linker complains about not finding `-lpthread`, while I didn't add this flag to linkopts.

I've checked the executed command, and in fact there is extra flags on it `-lz  -lpthread ...`.

Where did they came from ? Is there a workaround for this ?

More details
====

BUILD file
---

[code]

Command
---
`bazel build -c opt //:libfoo.so --crosstool_top=//external:android/crosstool --cpu=armeabi-

[2017-02-06 13:05] classner commented on #252
Any feedback on this from the interface developers? Could this TypeError be resolved easily?

[2017-02-06 13:19] carlorosati opened #7289 "tensorflow/core/platform/setround.cc:27:4: error: 'fesetround' is not a member of 'std'"
[code]

Looks like the issue is that this file is being compiled with gcc instead of g++

[2017-02-06 13:37] yichinwang commented on #7256
Hi:
 finally I use the command to obtain the model, and run it successfully in emulator,
much appreciated for your guild.

$ curl -L https://storage.googleapis.com/download.tensorflow.org/models/inception5h.zip -o /tmp/inception5h.zip
$ curl -L https://storage.googleapis.com/download.tensorflow.org/models/mobile_multibox_v1.zip -o /tmp/mobile_multibox_v1.zip

$ unzip /tmp/inception5h.zip -d tensor

[2017-02-06 14:21] lethienhoa opened #7290 ""SAME" padding for ConvNet doesn't work as expected !"
Hi folks,
When I want to reimplement the paper [VDCNN for Text Classification](https://arxiv.org/abs/1606.01781), I need to do padding=1 with filter_kernel=3 to keep the same input's dimension between ConvNet in the model.  When I use padding 'SAME', the result isn't well expected. There's a problem in the height_size_output. It seems doesn't do element-wise product of block convnet 72x3 between t

[2017-02-06 14:26] mshunshin commented on #1122
Many thanks. With tf.global_variables() the save files are much larger as I think it includes the gradients; in the end I used:

saver = tf.train.Saver([x for x in tf.global_variables() if 'Adam' not in x.name])

and because the session manager init doesn't initialise them properly:

sess.run(tf.variables_initializer([x for x in tf.global_variables() if 'Adam' in x.name]))

(Using tf.train.AdamOpt

[2017-02-06 14:35] lethienhoa commented on #7290
I found the answer by using tf.pad() in this post, so I will close this topic.
http://stackoverflow.com/questions/37659538/custom-padding-for-convolutions-in-tensorflow

However, it should be mentioned in the doc this issue because the actual tensorflow's guide is not clear enough at this point ! Thanks

[2017-02-06 14:35] #7290 closed

[2017-02-06 14:39] hawkinsp commented on #7216
This issue was fixed by commit  https://github.com/tensorflow/tensorflow/commit/edc1bf117b88059b92d7500953615f417122950a .

[2017-02-06 14:39] #7216 closed

[2017-02-06 14:55] sunsided commented on #3628
The script @barbolo provided failed for me on an ExponentialMovingAverage node; I added `AssignAdd` just like `AssignSub`, then it worked.

[2017-02-06 15:10] caisq commented on #7257
+@gunan

I believe our tooling and CI machines have the capacity to run bazel build with `--copt=-mavx2` and `--copt=-mfma`. Gunhan, what do you think of expanding the nightly and release matrices to support those build options? My sense is that we are already a little constrained in terms of the machine resource and manpower to fix breakages.

[2017-02-06 15:11] mrry commented on #252
Can you provide more information about the `TypeError`? From looking at `session.py`, it seems the most likely candidate for raising this exception is [this line](https://github.com/tensorflow/tensorflow/blob/ac352bc807410c8a863d0b95202cceeb62ed0f10/tensorflow/python/client/session.py#L772). What type does `run_metadata_ptr` have in your version of the code?

[2017-02-06 15:35] nevermoredanny opened #7292 "F c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\stream_executor\cuda\cuda_blas.cc:268] Check failed: s.ok() could not find cublasCreate_v2 in cuBLAS DSO; dlerror: cublasCreate_v2 not found"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-02-06 15:55] KaixiangLin commented on #7274
@yaroslavvb  Thanks for the comment.

If directly call the function is not available right now, Could you briefly explain the method how tensorboard smooth the curve? @dandelionmane

Thanks a lot!

[2017-02-06 15:57] chestnut3108 commented on #7157
Maybe there is a script named Tensorflow left on your system which is getting referenced instead of the Tensorflow package...so check it and rename it

[2017-02-06 15:57] girving commented on #436
@jmchen-g Unassigning myself a second time.  I'll mark this contributions welcome.

[2017-02-06 15:58] girving commented on #7221
@jmchen-g Please use the who-do-I-notify sheet.  I do not know about build issues.  @martinwicke.

[2017-02-06 15:59] lethienhoa opened #7293 "How to do k-max pooling with proper dim ?"
Hi folks,

Does anybody has this same issue as me ? I want to apply a k-max pooling to this var, however it's is not in the proper dimension yet:

For ex:
h = tf.Variable(batch_size,1,18,512)     # This is the obligatory dim's result I got when I apply Deep CNN in NLP

I want to have the result of k-max pooling like this:
h_kmaxpooling with dim (batch_size,1,**8**,512)

If I use tf.nn.top_k(h, 8),

[2017-02-06 16:08] girving commented on #7284
Please ask another question on Stackoverflow if the previous questions do not suffice.  The structure you want is doable in current TensorFlow, but Github issues are only for bug reports and feature requests.

[2017-02-06 16:08] #7284 closed

[2017-02-06 16:11] girving commented on #7283
If you import just `tensorflow as tf`, does `tf.contrib.learn` work?

[2017-02-06 16:12] hawkinsp commented on #7227
I confirmed that this issue is unrelated to XLA --- it's a CUDA on Mac OS X problem:
ERROR: /Users/phawkins/g/tensorflow/tensorflow/python/BUILD:2278:1: Linking of rule '//tensorflow/python:_pywrap_tensorflow.so' failed: link_dynamic_library.sh failed: error executing command external/bazel_tools/tools/cpp/link_dynamic_library.sh no ignored ignored ignored external/local_config_cuda/crosstool/clan

[2017-02-06 16:12] girving commented on #7285
What version of TensorFlow are you using?  What's `dir(tf)`?

[2017-02-06 16:16] girving commented on #7281
LDA is probably not in scope for `tf.learn`, but I'll wait for @ilblackdragon to comment.

[2017-02-06 16:17] pitercius commented on #7283
It doesn´t:

**AttributeError                            Traceback (most recent call last)
<ipython-input-2-2c24d9475067> in <module>()
     51 # Build vocabulary
     52 max_document_length = max([len(x.split(" ")) for x in x_text])
---> 53 vocab_processor = tf.contrib.learn.preprocessing.VocabularyProcessor(max_document_length)
     54 x = np.array(list(vocab_processor.fit_transform(x_text)))

[2017-02-06 16:21] girving commented on #7278
@aizvorski TensorFlow's 2-D separable convs are built out of normal convs and depthwise convs.  The first bit already exists in 3-D.  The second bit can be implemented in Python by splitting, but it's slower than a native op (this is how separable convs in 2D used to work, I think).  We'd be happy to accept a native 3-D version of depthwise conv, but I don't know of plans to do it ourselves.  I al

[2017-02-06 16:22] girving commented on #7274
Please ask questions like these on Stackoverflow (or scicomp).  Github issues are for feature requests and comments.

[2017-02-06 16:22] #7274 closed

[2017-02-06 16:23] girving commented on #7272
Closing since it sounds like the problem evaporated.

[2017-02-06 16:23] #7272 closed

[2017-02-06 16:24] girving commented on #7270
@mrry Can you comment on this cmake issue?

[2017-02-06 16:25] riless commented on #7288
[code]

[2017-02-06 16:25] girving commented on #7268
@jhseu Can you comment?

[2017-02-06 16:26] arkwave commented on #1013
@alihusn Sorry to resurrect an old thread, but how did installing this fix your problem? I've installed Visual C++ 2015 Redistributable and have made sure that `MSVCP140.DLL` is in my path, yet I'm still getting the error.

[2017-02-06 16:27] girving commented on #7266
Closing as a duplicate per @samjabrahams's comment.

[2017-02-06 16:27] #7266 closed

[2017-02-06 16:29] girving commented on #7261
@petewarden Are you still the right person for Android issues?

[2017-02-06 16:31] girving commented on #7260
Presumably your `actv.so` file is linked against some other files in directory dependent way.  Try running `ldd actv.so` in both places and see if they're different.

[2017-02-06 16:33] girving commented on #7259
@tbaker2 Are you happy with the change?  We'd be happy to accept clarifying PRs.

[2017-02-06 16:37] andrewharp commented on #7261
@daj When you run `/Developer/Android/sdk/tools/android` do you see the specified build tools and  API installed?

[2017-02-06 16:39] dwyatte opened #7294 "Any reason to not publish wheels for Mac OS < 10.11.x on PyPI?"
The tensorflow wheels for Mac OS on PyPI are tagged with a platform of 10.11 and thus aren't picked up by pip on Mac OS 10.10.x or earlier. Google hosts wheels that work on any version of Mac OS (e.g., https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-0.12.1-py2-none-any.whl).

Can these be uploaded to PyPI or can a wheel be published there that supports older versions of Mac OS?

[2017-02-06 16:39] girving commented on #7253
`tf.reshape` takes a tensor of ints as the shape argument.  You are passing None, so it doesn't work.  Maybe you want to replace `x.get_shape()[0]` with `tf.shape(x)[0]`?

[2017-02-06 16:39] #7253 closed

[2017-02-06 16:41] VigneshSrinivasan10 opened #7295 "tf.get_collection to extract variables of one scope"
Hi,

I have `n`(e.g: n=3) scopes and `x` (e.g: x=4) no of Variables defined in each scope.
The scopes are:

        model/generator_0
        model/generator_1
        model/generator_2

Once I compute the loss, I want to extract and provide all the variables from only one of the scope based on a criteria during run-time. Hence the index of the scope `idx` that I select is an argmin tensor cast in

[2017-02-06 16:43] girving commented on #7251
A natively GPU version of `dynamic_stitch` looks doable to me (not fundamentally harder than scatter or gather), so I'll mark this contributions welcome.

[2017-02-06 16:48] girving commented on #7224
There are only a few functions that understand negative arguments to shape, such as `tf.reshape`.  Generalizing every function that takes a shape to support them wherever possible would overly complicate the code (currently, `tf.dropout` just passes the shape to `tf.random_uniform`.  Since dropout already does support dynamic shape, as you note, I'll close this.

[2017-02-06 16:48] #7224 closed

[2017-02-06 16:49] mrry commented on #7270
I don't think this error is specific to CMake, but rather the unsupported build platform. Unfortunately I don't have a `ppc64le` machine to reproduce the error, and it's not one of our supported platforms, so I'll have to mark this as "community support".

In case it's helpful, here are a couple of random suggestions:

* Have you tried building with Bazel? (I'm not sure if Bazel is supported on th

[2017-02-06 16:51] girving commented on #7210
@cvmlarun Since code size is precious on Android, we strip out a lot of ops by default.

@petewarden Is there a clean way of reenabling the ops he wants?  `tf.reciprocal` might be something we want to turn on always.

[2017-02-06 16:52] girving commented on #7171
Looks fixed at head: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/learn/python/learn/datasets/text_datasets.py#L30.

[2017-02-06 16:52] #7171 closed

[2017-02-06 16:53] girving commented on #7156
Your link to torch is broken.

[2017-02-06 16:54] girving commented on #7288
@jart Have you seen this before?

[2017-02-06 16:56] girving commented on #7286
@caisq Can you comment?  I'm unfamiliar with sdists.

[2017-02-06 16:59] girving commented on #7283
@martinwicke Thoughts?  This is pretty weird.  Could it be related to this even weirder issue?

https://github.com/tensorflow/tensorflow/issues/7285

[2017-02-06 17:10] classner commented on #252
The line in question is indeed causing the TypeError. This is what I get when adding an ipdb breakpoint just before:

[code]

(`str` and `repr` don't give any more helpful information)

[2017-02-06 17:11] rakdl commented on #1824
@prb12 the timeline gives cumulative time taken by each op type (e.g. total time taken by matmul).. Is there a way to see the time taken not just by op type, but by each graph node ? e.g. if i want to measure the time taken by the matmus inside a lstm cell vs. the matmul in the sampled softmax, how do I get that split ?

[2017-02-06 17:14] yaroslavvb commented on #1824
@rakdl I don't know of any tool that has this kind of customization for aggregation, but you can get the raw timing information from the run_metadata.step_stats object, and aggregate stats yourself in a custom way

[2017-02-06 17:14] girving commented on #252
I don't have anything constructive to say, but I can't resist chiming in to gripe about error messages of one of these two forms:

1. "You gave me an X.  I expected something else!"
2. "I expected a Y.  You gave me something else!"

Head...desk.

[2017-02-06 17:14] martinwicke commented on #7283
contrib is lazy-loaded to avoid some contrib project breaking your TF installation. However,

[code]

should definitely work.

@pitercius, what code generates the error above?

[2017-02-06 17:17] mbz opened #7296 "Seperate gradients in tf.gradients"
based on [documentation](https://www.tensorflow.org/api_docs/python/train/gradient_computation#gradients) `tf.gradients` return the `sum(dy/dx)`. For our problem, **sum** doesn't make sense. Is it possible to get the list of gradients instead?

[2017-02-06 17:17] prb12 commented on #1824
@rakdl the timeline gives cumulative time taken by each op type (e.g. total time taken by matmul)..

No, it doesn't.  It shows the time taken by each graph node?

[2017-02-06 17:20] beraybentesen opened #7297 "Slow GPU performance"
Fresh installed on Azure Linux VM with Nvidia Tesla M60 which has 2x8 GB Ram and dual GPU but program prints only one GPU and 8 GB ram as available. Result is worse than GTX 1080.

I can't find specific information for Tesla M60. Is there any trick for dual core GPU's ?

[2017-02-06 17:33] yaroslavvb commented on #7297
1. You can't match fp32 performance of good gaming card with the current cloud compute offering. M60 is rated for peak 3.8 TFlops per core, whereas 1080 is is 8.4 TFlops. Also, M60 is an older Pascal architecture, so it's peak flops are harder to achieve.
2. Do any other tools see both GPUs? Can you rule out driver issues? Our system people had some difficulty getting multi-GPU setups to work on A

[2017-02-06 17:37] yaroslavvb commented on #7296
Generally not possible, you need to do `n` calls to `tf.gradients` or use a trick from ian here: https://github.com/tensorflow/tensorflow/issues/4897#issuecomment-253056458

[2017-02-06 17:40] pitercius commented on #7283
It should work but it doesn´t:

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-3-efeec648fb66> in <module>()
      1 import tensorflow as tf
----> 2 print(tf.contrib.learn)

**AttributeError: 'module' object has no attribute 'learn'**

@martinwicke , the failing part of the code

[2017-02-06 17:41] VigneshSrinivasan10 commented on #7295
@yaroslavvb : I have posted it there now.
http://stackoverflow.com/questions/42073239/tf-get-collection-to-extract-variables-of-one-scope

[2017-02-06 17:41] vrv commented on #7157
Indeed, try a clean install and make sure you have activated the proper virtualenv, and there are no other installs of tensorflow or directories anywhere else.

This is a question more suited for StackOverflow, so please consider posting it there and tagging 'tensorflow'

[2017-02-06 17:41] #7157 closed

[2017-02-06 17:42] mrry commented on #252
@girving Unfortunately that error message is in generated code. Maybe take it up with the authors of https://github.com/swig/swig? :)

Judging by that generated code, we seem to be in case 2 ("I expected a `TF_Buffer*`"). SWIG converts this C type to and from a pointer-wrapper object. I don't know enough about PyPy or `cpyext` to know if this type could be getting swizzled somehow. Here are the re

[2017-02-06 17:45] tbaker2 commented on #7259
I don't see where the changes are.  The only commit from @gunan that I see is about cuDNN library handling.  I would like to contribute more information about optimization.  It would help to have some feedback from the TensorFlow maintainers about what the default should be.  For example, why is '--config=opt' not recommended when building with the '-c opt' flag?

[2017-02-06 17:46] yaroslavvb commented on #7294
The infra team would need to setup older MacOS machines and test wheels in that environment, and fix/document "older MacOS/tensorflow" snags, before publishing an official wheel....how much impact would such releases have?

[2017-02-06 17:47] vrv commented on #7225
@yaroslavvb if you look at the implementation of clip_by_value, it is exactly doing ```tf.minimum(upper, tf.maximum(lower, x))```, so presumably we could change the documentation to not mention it's only scalar arguments.

Your gradient argument seems reasonable, I'm going to assume that XLA will help address these issues instead of writing custom kernels.

However, if someone wants to write a cus

[2017-02-06 17:56] yaroslavvb commented on #7259
`config=opt` was added in https://github.com/tensorflow/tensorflow/commit/c4e3d4a74e86fce3a09badd20952f067ff340f32#commitcomment-20600666 and documented in https://github.com/tensorflow/tensorflow/pull/7211

-c opt means "compilation mode=opt"

If you do `--config=opt` and `-c opt`, you are adding `-c opt` option twice because it's one of the options added when you do `--config=opt`

[2017-02-06 17:58] jart commented on #7288
Since copts and linkopts are viral and propagate to dependencies, `-lpthread` is most likely being inherited from `@boringssl//:crypto`. See: https://github.com/google/boringssl/blob/bbcaa15b0647816b9a1a9b9e0d209cd6712f0105/BUILD#L91

If linking against BoringSSL for an Android build is genuinely a good thing to do, then this could be a bug. Hey @petewarden what's the correct way to get SSL functi

[2017-02-06 18:07] martinwicke commented on #7283
Which version of Tensorflow is that?​

[2017-02-06 18:08] kvrd18 commented on #7156
Try [this](https://github.com/torch/cunn/blob/master/lib/THCUNN/SpatialClassNLLCriterion.cu) link?

[2017-02-06 18:20] aizvorski commented on #7278
@girving Thank you!  Yes I would really like some detail on how to do the no-new-op version of separable conv.  The depthwise part seems easy, just with a 1x1x1xN kernel; I couldn't figure out a good way to do the pure spatial conv. I can try to do a native version later if this shows good performance.

[2017-02-06 18:23] gunan commented on #7257
This was discussed before, and the decision was to make the released binaries work for everyone.
While it is very easy for users to upgrade personal computers, many cloud providers or thousands of machines take longer to upgrade. With 0.12, we tried to enable avx and sse4.1, but we had to roll it back because it is not as common for AMD CPUs to have sse 4.1 as intel CPUs.

So, we decided this to b

[2017-02-06 18:24] riless commented on #7288
@jart Thank you for your answer.

I think a similar question is discussed [here](https://github.com/google/protobuf/issues/1373#issuecomment-204619831). but I don't understand proposed solution, can you help me ?

`BUILD:40:18: in linkshared attribute of cc_binary rule //:foo: 'linkshared' used in non-shared library.`

You are right, only `-std=c++11` is required here.

[2017-02-06 18:27] pitercius commented on #7283
I get it with:
docker run -p 8888:8888 -e "PASSWORD=****" -d --name tensorflow b.gcr.io/tensorflow-udacity/assignments

Could be https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/udacity/Dockerfile ?

[2017-02-06 18:28] yaroslavvb commented on #7257
Since Intel is getting involved, perhaps they would be willing to maintain an Intel-optimized build of TensorFlow? cc @mahmoud-abuzaina in case he has some connections

[2017-02-06 18:29] girving commented on #7156
Ah, it's just a link to code, not documentation.  Could you give a self contained mathematical description?

[2017-02-06 18:33] karllessard commented on #7149
Anyone curious to see how a static API for building a graph may look like, I've pushed a little POC to my [repo](https://github.com/karllessard/tensorflow/tree/java-static-api/tensorflow/java) (this [commit](https://github.com/karllessard/tensorflow/commit/d2a5518a5830ec9d0b81912b95e3e33b64bd5ec5))  that minimally fulfill the requirements of the [LabelImage](https://github.com/karllessard/tensorfl

[2017-02-06 18:34] dmitry-xnor commented on #7257
IIRC only Microsoft uses AMD CPUs in the cloud and those are on their way
out. The proposal is not to make this the new default whl. The proposal is
to pre-build binaries for Haswell and above as a second wheel set. Just
build them with the same settings you build the regular whls but say -mavx2
and -mfma and throw them into the cloud bucket. That's what users will do
when building their own from

[2017-02-06 18:34] hycis commented on #7224
@girving So in this how do we create a dropout mask for batch training of variable batch size, for example in a sequence of text embeddings of dimension `(batchsize, seqlen, embed_dim)` where we want to randomly dropout the some of the word embedding in the sequence, which will require noise shape of `noise_shape=[-1, seqlen, 1]`, then how we do it with the current dropout?

[2017-02-06 18:36] gunan commented on #7294
The pip package you linked is simply renamed to `none-any` to avoid any issues that may be caused by older pip versions. That is not actually built for older versions.
As @yaroslavvb pointed out, we wont be able to test the pip packages for older versions, and have as good support for it. This combined with Apple's policy of quickly sending updates to all devices as soon as possible, we decided to

[2017-02-06 18:41] jvdillon commented on #7236
On Fri, Feb 3, 2017 at 1:21 PM, Yaroslav Bulatov <notifications@github.com>
wrote:

Arguably yes/yes, yes/no, no/yes, no/no. :)

Many of the samplers don't have analytic gradients due to being
dynamic-loop based, eg rejection samplers.  We have a reparameterization
annotation for each class.  However, we should consider at least triggering
a warning if backpropping into a non-reparameterizable sam

[2017-02-06 18:48] yaroslavvb commented on #7257
@dmitry-xnor I guess the issue here is limited resources at Google. Releasing an official wheel with a new configuration means you have to support it and fix issues that arise. I have seen some subtle alignment issues caused by enabling avx2, so troubleshooting such things can take time. And if you don't fix them, people get mad, since it's "official". Also, this sets a precedent for supporting a

[2017-02-06 18:49] martinwicke commented on #7283
@vincentvanhoucke, I don't know much about that docker file, is it up to date?

[2017-02-06 18:52] yaroslavvb commented on #7236
ok, I'll go the least effort route and interpret it as "working as intended" :) If this is a bug/feature request, feel free to provide more concrete details of what should be changed, and I'll reopen

[2017-02-06 18:53] #7236 closed

[2017-02-06 18:56] vincentvanhoucke commented on #7283
@martinwicke no, it hasn't been regenerated in a while. I'll put it on my queue. We need to do it after all the API changes.

[2017-02-06 18:57] dwyatte commented on #7294
Helpful context -- thanks guys. Even if this is a "won't fix", it's useful to have it here in GitHub for others who experience the same issue.

Anyway, to answer @yaroslavvb's question about impact: I think this is pretty low impact. Most people using tensorflow seriously will be using it on Linux with a GPU. Of the small subset of Mac users, only a few will be on old versions of the OS.

As the p

[2017-02-06 19:04] jart commented on #7235
Thanks for reaching out @namrathaurs. The TensorFlow team is committed to supporting Ubuntu Linux 14 LTE to 16. Ubuntu 12.04 isn't in our support matrix. That release is actually going to be EOL in two months. The Ubuntu team is going to stop creating security updates for your system. Please consider upgrading as soon as possible.

[2017-02-06 19:04] #7235 closed

[2017-02-06 19:20] tbaker2 commented on #7259
I see it now.  I was looking on the tensorflow.org site.  Everything looks good.

[2017-02-06 19:25] yaroslavvb commented on #7259
It's on master version of "Get Started/Os Setup" -- https://www.tensorflow.org/versions/master/get_started/os_setup#optimizing_cpu_performance , which means it'll eventually be on tensorflow.org default version. Closing issue since it seems resolved

[2017-02-06 19:25] #7259 closed

[2017-02-06 19:49] PierreAndreNoel opened #7300 "API documentation "Core graph data structures""
A few things are wrong in the documentation around [https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/api_docs/python/framework.md#tfgraphadd_to_collectionname-value-graphadd_to_collection](url).

* Near the end of tf.Graph.name_scope, the line about ValueError is incomplete.
* The paragraph at the very end of tf.Graph.name_scope should be in tf.Graph.add_to_collection.
* Both

[2017-02-06 19:53] carlthome opened #7302 "Weird grouping of tf.layers ops in TensorBoard graph visualization"
This doesn't always happen, but sometimes when stacking multiple tf.layers, variables get placed in previous layers' graphical boxes. Setting variable_scope prevents this, but it's still a bit confusing as to why this is happening. It could have something to do with how tf.layers decide on a scope name automatically.

An example on TensorFlow 1.0.0-rc0 (but I think this also happens on the current

[2017-02-06 19:57] #5764 closed

[2017-02-06 20:05] malmaud opened #7303 "Creating cyclic graphs with the C API"
I'm trying to use the C API to create a cyclic graph that corresponds to a while loop with `merge` and `switch` operations.

It doesn't seem possible though, since `TF_AddInput` requires a `TF_Operation` pointer, which in turn can only come from `TF_FinishOperation`, which expects all the inputs of the `TF_OperationDescription` to be filled in.  How can you create cyclic graph by creating nodes on

[2017-02-06 20:20] andrewharp commented on #7288
@riless @jart
-lpthread is not necessary or possible on Android, so it sounds like the solution would be to add another condition for the select statement as in the linked commit https://github.com/google/protobuf/pull/1386:

[code]

which would necessitate adding a config setting like so:

[code]

The only other workaround I know of that doesn't require editing the other repository is to create a

[2017-02-06 20:36] jhseu commented on #7268
@Montmorency I tested against gcc 4.8.4 and it works for me.

Can you copy the compilation error that you get before that error message? Also, can you try removing NFS as a potential issue by doing what @byronyi mentioned?

[2017-02-06 20:44] yaroslavvb commented on #7257
@dmitry-xnor now to think of it, I could probably drop such binaries into a public shared folder as well, as I'm going through my build process. I'm building with `--config=opt --config=cuda` with CUDA 8.0 on `Intel(R) Xeon(R) CPU E5-2630 v3 @ 2.40GHz` from Cirrascale which seems like a common configuration. The downside is that I don't have time to setup cloud storage/ research uploading, but if

[2017-02-06 21:16] thesuperzapper opened #7304 "Python Pandas in Docker Images"
### Feature

What are everyone's opinions on including Python Pandas in the [Docker images](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/docker)?

### Reason

TF.Lean is commonly used with Pandas for data ingestion, (And [in many](https://www.tensorflow.org/tutorials/wide/) of the [examples](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/learn/tex

[2017-02-06 21:20] crjensen21 commented on #1419
@jkiske : I actually had success by removing the disallowed_deps line as well. Every time I tried to build it with gcc there was an unrecognized symbol that I could never fix. I think @yaroslavvb is right that your segfault could be a separate issue.

This is now working and I also hacked the class definition from the inheritance of ReaderBase to use tf.load_op_library instead of the gen_user_ops.

[2017-02-06 21:25] salmanprk commented on #6586
This seems to be related to the issue as #6509 as @gunan mentioned.

1) I had the same problem then I changed the **t.one_hot()** to a custom solution as mentioned by @name-name in #6509, the problem went away. May be it might work for this.

[2017-02-06 21:28] rmlarsen commented on #7128
@yaroslavvb The current OP is using the single-threaded (CPU) Householder QR in Eigen. Does the MKL version run multi-threaded?

[2017-02-06 21:31] yaroslavvb commented on #2980
BTW, I'm experiencing this issue again in latest version. To reproduce on MacOS:
export CUDA_VISIBLE_DEVICES=
unset LD_LIBRARY_PATH

It's probably similar issue as what was fixed in https://github.com/tensorflow/tensorflow/pull/3448

[2017-02-06 21:33] rmlarsen commented on #7014
I "fixed" the underlying NaN problem for SIMD max/min Eigen in

https://bitbucket.org/eigen/eigen/commits/738d7c6becf04a2a8f400d5edd2c13ea44f28428

(plus a few followup). Please notice that it is a bit subtle since max and min are defined to match the (elementwise) behavior of std::max / std::min. See http://eigen.tuxfamily.org/bz/show_bug.cgi?id=1373 for a discussion.

Unfortunately we have not b

[2017-02-06 21:34] yaroslavvb commented on #7128
Yes, MKL version seems to be using 800-900 CPU

[2017-02-06 21:41] mawah opened #7306 "OutOfRangeError/Early EOF on file read in Windows Server 2012"
Hi folks,

I am finding that tensorflow code snippets which ran on Windows 10 are failing on Windows Server 2012/NTFS. In particular, anytime I try to load a file (with `tf.gfile.Open`, `tf.gfile.FastGFile`, or `tf.contrib.slim.assign_from_checkpoint_fn`), I encounter an "out of range" error.

### What related GitHub issues or StackOverflow threads have you found by searching the web for your prob

[2017-02-06 21:45] girving commented on #7224
`noise_shape=[tf.shape(...)[0], seqlen, 1]`

[2017-02-06 21:48] jmchen-g commented on #7303
I believe you need to have all inputs ready in the C API for now. @yuanbyu can give suggestions on the while loop construction. Thanks.

[2017-02-06 21:52] girving commented on #7278
@aizvorski Here's the commit that turned the depthwise conv native: https://github.com/tensorflow/tensorflow/commit/975094c8382ee15dad434278804cb096f9bac84f.  You should be able to do an analogous thing to the 2D case to make a non-native depthwise conv for 3D, and then a separable conv is just depthwise followed by normal conv.

[2017-02-06 21:58] zhangyaobit commented on #6072
I don't think being bidirectional affect the order; the same order is used.

Could you clarify what 16, 8, and 2 respectively mean here?

[2017-02-06 22:01] yaroslavvb commented on #7257
thanks, I'll give it a shot on the next build

[2017-02-06 22:13] malmaud commented on #7303
Great. It also occurs to me that I could perhaps just construct the appropriate `GraphDef` proto for my cyclical graph and then use `TF_ImportGraphDef`.

[2017-02-06 22:18] gunan commented on #6586
You can also upgrade your TF version to 1.0.0rc1 to resolve the problem.

[2017-02-06 22:20] girving commented on #7212
@nickj-google Looks like you touched the `graph_util.convert_variables_to_constants` function recently.  Do you know what's going on here?

[2017-02-06 22:24] drpngx commented on #7014
Nice!

[2017-02-06 22:29] girving commented on #7289
gcc vs. g++ is highly unlikely to be the reason.  What platform are you on, and what compiler are you using?

[2017-02-06 22:38] altsoph opened #7308 "Small inaccuracy in Mandelbrot tutorial"
Just noticed a small inaccuracy in  [the Mandelbrot tutorial](https://www.tensorflow.org/tutorials/mandelbrot/):

There is a snippet like this:

[code]

In the comment there is an area [-2,2]x[-2,2], but in the code itself it looks more like [-2.1]x[-1.3,1,3].
Nothing important but still slightly confusing :)

[2017-02-06 22:39] asimshankar commented on #7303
Support for creating while loops from the C API is in progress (@skye), but is not there yet.

In the mean time, yes, you can still create the graph in python and then importing it using `TF_ImportGraphDef`

[2017-02-06 22:43] girving commented on #2444
@rmlarsen @benoitsteiner What's the status of this issue?

[2017-02-06 22:51] girving commented on #3667
Closing due to lack of activity.

[2017-02-06 22:51] #3667 closed

[2017-02-06 22:56] dmitry-xnor commented on #7257
Sounds great, thanks! Looking forward to prebuilt WHLs! It just doesn't make sense to use the CPU at 1/3rd the speed. 👍

[2017-02-06 22:56] girving commented on #3986
Closing due to lack of response.

[2017-02-06 22:56] #3986 closed

[2017-02-06 22:58] girving commented on #3875
@aselle Could you comment on the reopen?  @poulson-google Did you ever figure out a fix?

[2017-02-06 23:04] aselle commented on #3875
Just wanted to get a final followup since it was a crashing issue.

[2017-02-06 23:17] poulson-google commented on #3875
This is fixed in HEAD:
https://github.com/tensorflow/tensorflow/blob/6bdc4cdb8fe9557e567d59a6ad3a758bf120e2fc/tensorflow/cc/tutorials/example_trainer.cc#L149

[2017-02-06 23:22] girving commented on #3875
Great!

[2017-02-06 23:22] #3875 closed

[2017-02-07 00:59] sguada commented on #1122
You can also use tf.model_variables() which contains the variables of the model, i.e. moving_mean

[2017-02-07 01:04] chemelnucfin commented on #1501
Just noticed this.  The new issue is #1701 and #2053 solved it.

[2017-02-07 01:45] beraybentesen commented on #7297
Thank you for detailed information.

Output when I run code :

Found device 0 with properties:
name: Tesla M60
major: 5 minor: 2 memoryClockRate (GHz) 1.1775
pciBusID 85bb:00:00.0
Total memory: 7.93GiB
Free memory: 7.86GiB

Also output from nvidia-smi

![screen shot 2017-02-07 at 04 43 07](https://cloud.githubusercontent.com/assets/6421164/22674263/a9c7937a-ece7-11e6-9f0d-197c9c4cf63e.png)

I work

[2017-02-07 02:02] daj commented on #7261
I think I have everything I need for API level 21, API level 23 and build tools 24.0.3:
[code]
![screen shot 2017-02-06 at 8 55 46 pm](https://cloud.githubusercontent.com/assets/739125/22674612/e5900754-ecae-11e6-80a9-c45e47bc2a6c.png)

![screen shot 2017-02-06 at 9 01 36 pm](https://cloud.githubusercontent.com/assets/739125/22674719/81d76d14-ecaf-11e6-905e-11d6cc45bc02.png)

![screen shot 2017-02

[2017-02-07 02:11] yaroslavvb commented on #7251
One gotcha to avoid is to make sure GPU outputs are real-valued, since integer tensors on GPU don't seem to be supported ([register_types.h](https://github.com/tensorflow/tensorflow/blob/a304537954a865752ad1b18461e6bd67b36082db/tensorflow/core/framework/register_types.h))

[code]

[2017-02-07 02:15] daj commented on #7261
D'oh, it looks like I was missing the specific API level that I had specified in the WORKSPACE file.  My bad.
![screen shot 2017-02-06 at 8 44 56 pm](https://cloud.githubusercontent.com/assets/739125/22674827/279d0e66-ecb0-11e6-97a1-5df9de45140b.png)

In hindsight the error message is pretty good, though it would be awesome if it said which specific SDK version was missing, e.g. `Android SDK versi

[2017-02-07 02:31] jaejun-yoo commented on #6509
@mrry Then the problems are now gone?  (I am using win10 64bit tf-gpu-0.12.1 with cuda 8.0 and CuDNN 5.1)

I encountered similar issue with 0.12.1 and tried suggested get-arounds and found the results are strange. [Here](https://github.com/jaejun-yoo/Three-ways-to-avoid-tf.one_hot-function-) you can find three get-arounds I have tried to avoid using tf.one_hot().
I found that the substitutes worke

[2017-02-07 02:34] loliverhennigh opened #7311 "tfrecords giving parsing error when saved examples are too big"
When I try to save a example to a tfrecord that is too large a parsing error occurs. I need to save a large sequence of float valued images (states of a fluid flow simulation) and when the states and sequences get too large a parsing error occurs.

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

I think that this might be the same erro

[2017-02-07 02:37] Montmorency commented on #6968
Not sure if this is related but I am unable to build with jemalloc on a cluster with gcc 4.8.2 and an older version of libc.so.6 (old enough that I have to build tensor flow from source). The build fails with a message:

ERROR:~/.cache/bazel/_bazel_/e924d9c3ba75314415252c6f4f93bb86/external/jemalloc/BUILD:10:1: C++ compilation of rule '@jemalloc//:jemalloc' failed: gcc failed: error executing comm

[2017-02-07 02:49] skaarthik opened #7312 "incorrect usage of num_gpus & num_workers in mnist_replica.py"
[mnist_replica.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/dist_test/python/mnist_replica.py#L126) has the following code.
[code]
This will work fine in a single worker setup with one or more GPUs. However, it will throw error if the number of workers is greater than the number of GPUs available in each worker. For example, using 2 workers each with 1 GPU will trigger

[2017-02-07 02:51] hycis commented on #7224
Thanks,  I can make the noise_shape able to take in -1 by simply converting a -1 at i position to a tf.shape(X)[i], i can make a pull request if that works.

[2017-02-07 03:07] andrewharp commented on #7261
@daj Great, glad you found it! Yeah, a more informative error message doesn't sound like a bad idea -- you could create an issue/send them a PR over at https://github.com/bazelbuild/bazel

[2017-02-07 03:07] #7261 closed

[2017-02-07 03:08] orkhanbd opened #7313 "AttributeError: module 'tensorflow.contrib.learn' has no attribute 'SKCompat'"
Hi,

I cannon import SKCompat. Running 0.12.head on osx. Any ideas?

[2017-02-07 03:11] jkiske opened #7314 "slice_input_producer does not return a queue"
`tf.train.slice_input_producer` does not return a queue for each slice. This means the outputs cannot be used with the BaseReader api. Shouldn't this be consistent with the other `*_input_producer` methods like `string_input_producer`?

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
http://stackoverflow.com/questions/34340489/tensorflo

[2017-02-07 03:22] buptjz commented on #2373
Has this problem been solved yet?

[2017-02-07 03:38] yaroslavvb commented on #7296
Closing to keep things in one place (http://stackoverflow.com/questions/42058690/separate-gradients-in-tf-gradients)

[2017-02-07 03:38] #7296 closed

[2017-02-07 03:47] yaroslavvb commented on #7314
Seems like an odd one out since other input producers give queues. cc @josh11b who added this code

[code]

[2017-02-07 04:06] D-X-Y commented on #554
@sangramkapre http://download.tensorflow.org/models/image/imagenet/inception-2015-12-05.tgz
You could see https://github.com/tensorflow/models/blob/master/tutorials/image/imagenet/classify_image.py

[2017-02-07 04:37] martinwicke commented on #5551
We chose not to include the collections arguments when we ported the layers to core.

When using the core layers: If you need access to the variables, use the scope. If you want to add the activations to a collection, do that using the returned tensor.

I'm closing this, since the contrib layers are being deprecated in favor of those in core.

[2017-02-07 04:37] #5551 closed

[2017-02-07 04:50] D-X-Y opened #7316 "Explicit device does not work with saved GraphDef?"
### explicit device seems not work with a saved GragphDef
I try https://github.com/tensorflow/models/blob/master/tutorials/image/imagenet/classify_image.py
and want to use gpu to classify an image.

I change the create-graph code
[code]
but from logs all operations are done on cpu not gpu.

Is there anyone to help me use gpu with classify_image.py
### Environment info
Operating System: Ubuntu 14.0