[2016-06-30 17:19] dzhyeon opened #3126 "GPU not working on C++"
I'm on working on load trained model in c++ like [this](http://stackoverflow.com/questions/34343259/is-there-an-example-on-how-to-generate-protobuf-files-holding-trained-tensorflow/34343517#34343517).
After many tries, I've manage to load trained model with its weights. But it looks like c++ version doesn't use GPU for inference. While running my code in c++, I check GPU usage using nvidia-smi and

[2016-06-30 17:25] arashno opened #3127 "installation problem (version `GLIBC_2.14' not found)"
Hello,
I tried to install tensorflow using pip.
It has been installed without any error.
When I am trying to use it:
import tensorflow as tf
it gives me the following error, but the requested library exists at the /lib64/.
What should I do?!
Thanks

### Environment info
Operating System:
Linux mmmlog2 2.6.32-573.26.1.el6.x86_64 #1 SMP Tue Apr 12 01:47:01 EDT 2016 x86_64 x86_64 x86_64 GNU/Linux Red

[2016-06-30 17:48] kskp commented on #110
My which gcc says: /usr/bin/gcc
But echo $CC says: /opt/rh/devtoolset-2/root/usr/bin/gcc

And hence even after restoring older gcc, I still get gcc version as 4.8.2.

Did I ruin everything?

[2016-06-30 17:55] jimfleming commented on #3088
Closing as user error.

[2016-06-30 17:55] #3088 closed

[2016-06-30 17:58] tomrunia commented on #3009
Hi Paul, thanks a lot for your incredibly detailed analysis of what's happening here. This give me much more insight in what's is happening under the hood. I will rethink about the data processing (input) pipeline and see if I can optimize it here and there and decrease the queue size. Great work with the analysis!

[2016-06-30 18:02] rmlarsen commented on #3083
To sum up discussion with @martinwicke on the proposed PR: "This is an outdated example, it's in line to be updated, just has to wait its turn. If the new [tflearn] code cannot handle uint8s it should."

@ilblackdragon will you address this issue or assign to whoever will?

[2016-06-30 18:02] ibab commented on #3067
The main reason this is so confusing is that `tf.gather` currently doesn't check its indices when running as a GPU op: https://github.com/tensorflow/tensorflow/blob/c8b59c0/tensorflow/core/kernels/gather_op_gpu.cu.cc#L65
If you pass in `[-1]`, as in your case, it will return a tensor containing zeros.
It then continues to run until the gradient gives you an error.

I think once `tf.gather` checks

[2016-06-30 18:11] KendallWeihe opened #3128 "conv3d_transpose -- Error in 'python': free(): invalid pointer"
I'm running into an issue with the recently added `conv3d_transpose` -- error statement in the title. The network builds, but upon first training session it outputs the above error, runs for a second, and then `Aborted (core dumped)`.  I have verified all dimensions and data.

I wrote a simple convolutional-deconvolutional network to reproduce the bug. This small program actually outputs a differe

[2016-06-30 18:26] martinwicke commented on #3021
Thanks Damien. I'm closing this. @zhangwei0119 if you have indications for a bug in TensorFlow, you can comment to reopen.

[2016-06-30 18:26] #3021 closed

[2016-06-30 18:26] martinwicke commented on #3116
I merged 0.9 into master earlier today.

[2016-06-30 18:26] #3116 closed

[2016-06-30 18:31] #2740 closed

[2016-06-30 18:36] martinwicke commented on #3047
Hm. So the logger is already configured to make a StreamHandler which should by default point to stderr (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/platform/tf_logging.py#L46). Does jupyter discard stderr? Do we have to log to stdout for it to show up?

[2016-06-30 18:39] martinwicke commented on #3027
I want to get rid of this dockerfile. As a stopgap, can you use the Dockerfile we use for testing?

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/Dockerfile.gpu

[2016-06-30 18:46] martinwicke commented on #2940
There's a bunch of separate issues on this thread. The half_plus_two issue should have been resolved since. @tomnielsen @Velkan as for the wheel problem -- I haven't seen that other than when there's a lingering old version of setuptools around. Can you try installing in a virtualenv? Especially on Mac that often helps.

[2016-06-30 18:50] martinwicke commented on #2335
FYI our Mac CI uses setuptools 18.3.1.

[2016-06-30 18:55] ilaripih commented on #1924
@beniz the linker script defines what symbols in `libtensorflow.so` will be exported: in this case it exports symbols that match the pattern `*tensorflow*` and keeps everything else (eg. everything from `libpng` and `libjpeg`) internal.

I think all you need to do is add this to the `libtensorflow.so` Bazel rule:
`linkopts = [ "-Wl,--version-script=tensorflow/tf_version_script.lds" ],`
Then rebuil

[2016-06-30 18:59] martinwicke commented on #2920
The ./configure script will hopefully disappear soon, to be replaced by bazel build rules alone. That should take care of the overwriting problem.

The cuDNN thing, is it still an issue?

[2016-06-30 19:31] JulesGM commented on #2797
I also have this problem when trying to run
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/skflow/resnet.py

[2016-06-30 19:42] andydavis1 commented on #3128
Looks like this came in from https://github.com/tensorflow/tensorflow/pull/3049

@daeyun can you take a look?

[2016-06-30 20:02] andydavis1 commented on #3068
Did this resolve the issue? Can we close this out?

[2016-06-30 20:13] andydavis1 commented on #3038
I was also unable to reproduce this issue. Closing this issue, please re-open if the problem persists.

[2016-06-30 20:13] #3038 closed

[2016-06-30 20:18] andydavis1 commented on #510
This request is from last here. Is it still open?

[2016-06-30 20:22] martinwicke commented on #3127
This seems to be a CentOS 6 system. Its glibc is too old for the pre-built TensorFlow packages. You may be able to install from source.

[2016-06-30 20:22] #3127 closed

[2016-06-30 20:23] martinwicke commented on #3086
That is fascinating. I have no idea what the problem is, but it may be endemic to AWS lambda. I'll close this issue.

[2016-06-30 20:23] #3086 closed

[2016-06-30 20:30] xiangacadia commented on #1421
Upgrading from TF 0.7 to TF 0.9 on my Mac solved my problem. Despite tensorboard still shows the TAG warning, there is no problem with visualization.

[2016-06-30 20:43] yaroslavvb commented on #2920
I dunno, symlink work around works for me. I'm traveling and noone else is complaining so I'll close it for now

[2016-06-30 20:43] #2920 closed

[2016-06-30 20:51] rmlarsen commented on #2207
I plan to add an op for dense, since-machine SVD using the divide-and-conquer in Eigen. For sparse it would be nice to implement something like the Lanczos algorithm in PROPACK (which I'm the author of), but I have no immediate plans to work on that.

[2016-06-30 21:14] andydavis1 commented on #3119
More information is required to understand the issue. Can you please provide the information requested in the "NewIssue" template:

GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues

[2016-06-30 21:17] StephenOman commented on #2716
Yes thanks that works now. I see Simple App binary is 15.3MB on the disk.

Before I close this out, what is the purpose of the android_tensorflow_lib_lite collection in the Bazel BUILD in tensorflow/core?

[2016-06-30 21:35] kalleknast commented on #2903
Sorry for the delay.
Inspite of doing my best to remove protobuf with apt-get I did still have it installed, and it was version 2.6:
`$ locate libprotobuf`
...
`/usr/lib/x86_64-linux-gnu/libprotobuf-lite.a`
`/usr/lib/x86_64-linux-gnu/libprotobuf-lite.so`
`/usr/lib/x86_64-linux-gnu/libprotobuf-lite.so.9`
`/usr/lib/x86_64-linux-gnu/libprotobuf-lite.so.9.0.1`
`/usr/lib/x86_64-linux-gnu/libprotobuf.a`

[2016-06-30 21:37] andydavis1 commented on #3126
Did you print out the GraphDef and check that the "/gpu:0" device was set in each node? Can you include a link to your C++ code which has the issue?

[2016-06-30 21:48] andydavis1 commented on #3101
I'm not clear if this is a feature request, or question. Perhaps you could start by asking this question on StackOverflow first, and tag it with the `tensorflow` tag.

[2016-06-30 21:53] andydavis1 commented on #3092
It looks like that pull request has been committed. Can you please try it and close this issue if it resolves your problem.

[2016-06-30 21:53] vrv commented on #3101
I think it's a feature request

[2016-06-30 21:54] andydavis1 commented on #3079
Looks resolved. Closing for now...

[2016-06-30 21:54] #3079 closed

[2016-06-30 22:10] dustinvtran commented on #2423
Do you know where I can find the `gen_random_ops` file? It seems like the Gamma sampler uses it, and I can't track how it's implemented.

[2016-06-30 22:13] LeavesBreathe commented on #511
@jakob-grabner  is `dynamic_rnn` only faster in graph creation or actual computation time? It doesn't seem that it should be

[2016-06-30 22:16] wchan commented on #511
faster graph creation, slightly slower in computation

[2016-06-30 22:48] andydavis1 commented on #3089
Unfortunately, this looks like bazel's inability to deal with connectivity issues with github, though not sure why it is persistent in your case. Do you have restricted internet connectivity? In either event, consider opening an issue against the bazel repo for this one.

[2016-06-30 22:48] #3089 closed

[2016-06-30 23:01] andydavis1 commented on #2377
Chatted with @zheng-xq offline: someone on the team is looking at this.

[2016-06-30 23:12] cancan101 commented on #3027
I am using the following Dockerfile with the relevant changes highlighted and it now builds: https://github.com/4Catalyzer/tensorflow/blob/ce67e52461f9e6b05ec8cd35d0736dd0c68f07eb/tensorflow/tools/docker/Dockerfile.devel-gpu#L82-L85

[2016-06-30 23:45] ylongqi opened #3131 "string_input_producer misbehave when num_epochs is set"
string_input_producer doesn't seem to enqueue string when the **num_epochs** is set.

With the following code, the program print [0], which is not right.
[code]

But if I take out num_epochs,

[code]

It prints [3] as expected.

Is there anyone else encounter the same issue?

[2016-07-01 00:00] petewarden commented on #2716
That's to have a version of the library that doesn't include any operators, so we can pick and choose exactly which implementations we use to reduce the code size even further. That's still a work in progress  though.

[2016-07-01 00:15] jacobringmann commented on #92
+1 for java

[2016-07-01 00:21] ibab commented on #2237
Thanks for posting this, @kingtaurus! This is quite useful for me.
If I'm not mistaken, your code constructs a tensorflow expression on a per-tree basis.
I think it would be more efficient to use control flow mechanisms to collect the tensors at each node and send them through a single previously defined network in batches.
But it seems that implementing it this way is quite tricky.

[2016-07-01 00:21] dzhyeon commented on #3126
Here is the code. when printing out std::cout <<  node->device() << std::endl, /gpu:0 was printed out. But no GPU was running.

`#include <opencv2/core/core.hpp>
#include <opencv2/highgui/highgui.hpp>
#include <iostream>

#include "tensorflow/core/public/session.h"
#include "tensorflow/core/platform/env.h"
#include "tensorflow/core/graph/default_device.h"
#include "tensorflow/core/graph/graph_def_

[2016-07-01 00:25] mweber7 opened #3135 "Raspberry Pi build error"
I am trying to build tensorflow on a Raspberry Pi 3 (Raspbian OS, gcc 4.9.2, no USB stick for swap) according to the steps provided [here](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile).  When I execute the following make command,

make -f tensorflow/contrib/makefile/Makefile HOST_OS=PI TARGET=PI \
 OPTFLAGS="-Os -mfpu=neon-vfpv4 -funsafe-math-optimizations -ftre

[2016-07-01 00:35] zongyuange commented on #3068
Hi all, This issues has been resolved with code compiled with CUDA 8.0.
Thanks all

[2016-07-01 00:35] #3068 closed

[2016-07-01 01:14] martinwicke commented on #3027
Cool, thanks! Do you want to make a PR with that?

On Thu, Jun 30, 2016 at 4:12 PM Alex Rothberg <notifications@github.com>
wrote:

[2016-07-01 01:15] dexter4455 commented on #3036
@prb12 any update?
or anyone else? what to do next...

[2016-07-01 01:25] kingtaurus commented on #2237
@ibab - Yup, you're correct about the per-tree basis. I believe that this gives a non-ideal starting point for how to implement recursive structure in tensorflow. Right now it's problematic because the graph state has to be cleared (since each tree gets a graph, some memory may be allocated, so this has to be dealt with) and then reloaded. I think trying to shoe-horn in the other flow-control oper

[2016-07-01 01:53] terrytangyuan commented on #2935
@thirdOctet Thanks for reporting! I've added a temporary fix in #3137. Please use `DNNClassifier` as seen in the added test.

[2016-07-01 02:31] fayeshine commented on #2727
seems solved in the master branch now

[2016-07-01 02:36] dexter4455 opened #3138 "weird behavior on GPU ec2 - zero tensor instead of random one on local machine"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-07-01 02:36] dsindex commented on #2973
@andydavis1

i tried tf.train.latest_checkpoint(). but it returned `None`

[code]

interestingly, the reverse case works.

[code]

[2016-07-01 02:56] jarrydfillmore commented on #3138
+1!

[2016-07-01 02:58] kakashidan commented on #3017
@danieleghisi you can run bazel in the tensorflow root directory
```bazel build tensorflow/cc:cc_ops```. But, the ops files generated stay in the ```bazel-genfiles/tensorflow/cc/ops```

```bazel build cc_ops``` don't work because of some relative path in the BUILD file.

eg.
[code]

[2016-07-01 03:27] domluna commented on #2654
So an update on this. The `finalize` method is great I'm using it on all my code now to make sure nothing sketchy is going on.

I think I found the problem with the particular code and it might be an issue with Keras. When I call `train_on_batch` on a Keras model.

The culprit being

https://github.com/fchollet/keras/blob/a1610eb2747e2020b9460b1f60e6e750d253fffb/keras/engine/training.py#L673

Afte

[2016-07-01 03:33] normads opened #3139 "Building tensorflow (makefile method) on arhmf Olimex A20"
Building tensorflow using the makefile method, i get the below error,

`PROTOC = "protoc"
CC_PREFIX = ""
gcc --std=c++11 -DIS_SLIM_BUILD -O0 -I/usr/local/include -I. -I/home/olimex/tf/tensorflow/tensorflow/contrib/makefile/downloads/ -I/home/olimex/tf/tensorflow/tensorflow/contrib/makefile/downloads/eigen-eigen-334b1d428283 -I/home/olimex/tf/tensorflow/tensorflow/contrib/makefile/gen/proto/ -I/hom

[2016-07-01 04:57] vrv commented on #3070
Closing via your commit in 09d2363, thanks for the PR!

[2016-07-01 04:57] #3070 closed

[2016-07-01 05:11] mnuke commented on #3039
Looking at this, it seems like in 5c9bc51857bc0c330d3ab976871ee3509647d1e7 the the maybe_download and extract_data methods (among others) were removed from input_data.py without checking that they were used outside the file.

Not sure where else this affects but as @jackywang529 points out, models/image/mnist/convolutional.py has similar methods, so one solution might be to adapt maybe_download in

[2016-07-01 05:12] cmxnono commented on #2397
Hello, i had the same problem while using distributed train.
Here is my train script

[code]

[2016-07-01 05:59] hartsantler commented on #3017
`bazel build tensorflow/cc::cc_ops` may work, didn't get a chance to try it because it trigger a full rebuild of tensorflow, which takes forever on my machine.

I noticed this ugly code in `cc_op_gen.cc`
[code]

by ugly i mean, generating header files from a script-like c++ program that is hard coded to the bazel build system.

[2016-07-01 05:59] ludimagister commented on #2158
Hi @giancds,

while your proposed change probably would make sense in a perfect world, possibly just this thread is as informative to understand what's going on? If you want you can send a PR but I am honestly not sure it is worth it given the info in this thread...

[2016-07-01 06:28] cancan101 commented on #3027
https://github.com/tensorflow/tensorflow/pull/3143

[2016-07-01 07:16] #2716 closed

[2016-07-01 07:23] sterkhedkar opened #3144 "Weird behavior with no skflow installation."
Environment info: Pycharm-Community Editon
Operating System: Ubuntu-14.04-x64
Pip package: https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.9.0-cp27-none-linux_x86_64.whl
Tensorflow version 0.9.0 (from python -c import tensorflow)

When I was trying the text_classification examples from skflow repository (which are now moved to tensorflow), at line: `word_list = tf.unpack(word_vect

[2016-07-01 08:07] MartianWearables commented on #2810
I've run into the same problem exactly as described by floringogianu except w/ Ubuntu 16.04 and gcc 4.9. Also, i used the --override flag when installing cuda toolkit via the .run script, which may or may not be relevant. cifar10 runs fine.

[2016-07-01 09:48] damienmg commented on #110
`gcc -v` still says 4.8.2?

What does `./compile.sh` result in now?

[2016-07-01 10:28] dzhyeon commented on #3126
I've just found that when running a tensorflow python script using '$python ~.py', GPU was used.
But if the script is built with bazel and execute binary, GPU was not used.
I've put my code on tensorflow/example/myproject directory in tensorflow source location.

[2016-07-01 10:29] danieleghisi commented on #3017
Thanks, I had managed to compile, but I didn't know that generated files were in bazel-genfiles/tensorflow/cc/ops and for some reason I couldn't find them. That works!

[2016-07-01 11:20] dzhyeon commented on #3126
My bad. building with '-c opt --config=cuda' option solved problem.

[2016-07-01 11:20] #3126 closed

[2016-07-01 12:04] yaroslavvb commented on #3126
BTW, in the future you can use IsCudaEnabled from
tensorflow/core/util/port.cc in your tests to catch building without GPU
options, AddDevices from tensorflow/core/common_runtime/device_factory.h to
catch cases when GPUs are missing for other reasons

On Fri, Jul 1, 2016 at 2:20 PM, dzhyeon <notifications@github.com> wrote:

[2016-07-01 12:05] jlowin commented on #3054
@langmore very cool! Looking forward to the new tools. I'll close this issue.

[2016-07-01 12:05] #3054 closed

[2016-07-01 12:09] akors commented on #2959
Hi, has a fix arrived? Is there a workaround?

[2016-07-01 12:19] danieleghisi opened #3146 "eigen-eigen issue"
Hi,

I am trying to compile an example with C++ api, and I'm running into this issue:

[code]

I do not seem to have an "eigen-eigen-334b1d428283" folder anywhere.
There's an eigen.BUILD file at the root level, but I am unable to bazel it with
`bazel build eigen`
nor
`bazel build tensorflow/eigen`
(but it should be the first one, isn't it? eigen.BUILD being at the root level... Or how does bazel w

[2016-07-01 13:22] jakob-grabner commented on #511
@LeavesBreathe definitely faster graph creation time, not sure about computation times.

[2016-07-01 13:26] tomrunia opened #3147 "Better way to count number of zero elements across a dimension?"
I was wondering whether there is a nicer way to count the number of zero elements across a given dimension? Looking through the API the closest result is `tf.unique_with_counts` ([link](https://www.tensorflow.org/versions/r0.9/api_docs/python/array_ops.html#unique_with_counts)) but this operation returns the values in order of occurrence so I first would need to find the index of the zero-element.

[2016-07-01 14:31] kskp commented on #110
gcc -v is still 4.8.2

./compile.sh still results in an error:

[sree@ds1 bazel]$ ./compile.sh
INFO: You can skip this first step by providing a path to the bazel binary as second argument:
INFO:    ./compile.sh compile /path/to/bazel
🍃  Building Bazel from scratch......
🍃  Building Bazel with Bazel.
INFO: Found 1 target...
ERROR: /home/sree/bazel/src/main/cpp/BUILD:53:1: C++ compilation of rule '

[2016-07-01 14:37] mrry commented on #3131
The solution is to add the line

[code]

...before starting the queue runners. The `tf.train.string_input_producer()` function creates a variable internally to track the current epoch index, and (at present) it needs to be initialized before use.

[2016-07-01 14:37] #3131 closed

[2016-07-01 14:46] lightcatcher commented on #3103
I created a smaller test case.

[code]

with output
[code]

[2016-07-01 15:08] LeavesBreathe commented on #511
@wchan  thanks for your response -- Also big thanks for your attempts to make the LSTM faster. Really looking forward to that!

@jakob-grabner  thanks for getting back but I'm pretty sure as @wchan stated its slower on comp time.

[2016-07-01 15:27] ziaoang opened #3148 "nan error: linear regression demo at tensorflow.org"
There is a linear regression demo on [Here](https://www.tensorflow.org/versions/r0.9/get_started/index.html).
The x_data is generate by
[code]
but when I change it to
[code]
the "w" and "b" will become "nan".

[2016-07-01 15:30] concretevitamin commented on #1828
@siddharth-agrawal I noticed that many of the ops are now in the same following form:

[code]

Is it possible that we use some registration wrapper / decorator to factor out this form?

[2016-07-01 15:45] siddharth-agrawal commented on #1828
@concretevitamin Yes, this should be possible. But there are exceptions, for example `tf.abs()`. I'm not very familiar with registration wrappers / decorators. Could you provide some example in the TF code where they are used?

[2016-07-01 16:13] andydavis1 commented on #1066
I added instructions for Ubuntu users to add these flags if they see this issue in g3doc/get_started/os_setup.md (we do not want to set these flags for all OSes at this point). Closing this issue.

[2016-07-01 16:13] #1066 closed

[2016-07-01 16:15] andydavis1 commented on #3147
This is a question better suited for StackOverflow. Please ask it there and tag it with the `tensorflow` tag.

[2016-07-01 16:15] #3147 closed

[2016-07-01 16:22] petewarden commented on #3135
I've seen this bug on gcc 4.9 - can you try installing 4.8 manually, and then running it like this:

[code]

[2016-07-01 17:11] ebrevdo commented on #511
by slower, william meant 2-3% (if that)

On Fri, Jul 1, 2016 at 8:09 AM, LeavesBreathe <notifications@github.com>
wrote:

[2016-07-01 17:19] rmlarsen commented on #2917
Sorry for missing this one. I don't think this is a good change. By leaving the explicit casting outside the op, the user is unable to provide a value that is not  in the range of the desired type, and therefore less likely to be surprised by getting back a tensor with a different value than the one they specified.

[2016-07-01 17:24] trungnt13 commented on #110
Tensorflow is built successfully on CPU, however, it is failed on GPU.

I keep getting this error, even though I modified all path in CROSSTOOL and crosstool_wrapper... from /usr/bin to my gcc path

[code]

[2016-07-01 17:30] rmlarsen commented on #3103
@lightcatcher as you point out, our current implementation of sum reduction (and the various ops that depend on it) is not deterministic on either GPU or multi-threaded CPUs. It is primarily a speed/accuracy trade-off and if we could get comparable speed from one of the approaches you mention, we would be happy to switch the implementation. In short, this is working as intended for now, but contri

[2016-07-01 18:07] tengerye opened #3152 "num_epochs does not work in modified cifar10"
I am running cifar10 examples and have made some changes. I would like to evaluate every example only once, while the original example can only do mass evaluation. My question are described [here](http://stackoverflow.com/questions/38125436/tensorflow-how-to-evaluate-all-test-set-with-every-example-once-and-only-once). And was suggested by changing function 'tf.train.string_input_producer'.

But i

[2016-07-01 18:27] rmlarsen commented on #3146
@danieleghisi Indeed, eigen-eigen-334b1d428283 is not a file, but refers to a commit timestamp in the Eigen repository.  bazel (magically) pulls a copy of Eigen when building tensorflow. The copy of Eigen ends up in bazel-tensorflow/external/eigen_archive/eigen-eigen-334b1d428283/.

However, if you are trying the to use the C++ TF API, I recommend that you start by cloning the code and build rules

[2016-07-01 18:30] danmane commented on #3085
That is pretty funny :)

It is really easy to fix if you want to fix it.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/platform/tf_logging.py#L56
Change it to use logger._warning (and verify that everything still works)

[2016-07-01 18:55] #2099 closed

[2016-07-01 18:55] #3102 closed

[2016-07-01 19:22] LeavesBreathe commented on #511
okay good to know thanks @ebrevdo

[2016-07-01 20:04] prb12 commented on #2959
I just submitted a fix internally... it should go out to github in the next sync.

If this is a blocker for you then a simple workaround is to add the code below [here](https://github.com/tensorflow/tensorflow/blob/r0.9/tensorflow/core/common_runtime/gpu/gpu_tracer.cc#L488):

[code]

[2016-07-01 20:53] zhangwei0119 opened #3154 "can't enable --config=cuda"
I successfully built tensorflow 0.9.0 with bazel 0.3.0 on Redhat Enterprices 6.6 without cuda support.

### but when I enable --config=cuda, the build process stopped at linking '@protobuf//:protoc'

I suspected some settings associate with both cuda and python are incorrect (from the highlighted error logs) but have no idea how to reconfigure. Can you please help to find the problem?  I am using

[2016-07-01 22:28] mweber7 commented on #3135
Thanks, this worked for me and I am closing this issue.

[2016-07-01 22:28] #3135 closed

[2016-07-01 23:23] zhangwei0119 commented on #3154
all the output files include "protoc" already generated with third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc in the cache directory.
And I also tried adding pythonhome to LD_LIBRARY_PATH DYLD_LIBRARY_PATH and even PATH. problem still same

[2016-07-01 23:55] smirn0v opened #3155 "More clear error message required"
Tensorflow 0.9.0

Trying to load and execute that graph+checkpoint from C++ API: https://cloud.mail.ru/public/5yk3/No887jqS8

Model was prepared using 'freeze_graph.py'

Code based on Tensorflow examples(graph contains no input layer):
`std::string output_layer = "output_node";
    std::vector<tensorflow::Tensor> outputs;
    tensorflow::Status run_status = session->Run({{}},{output_layer}, {}, &o

[2016-07-02 00:29] terrytangyuan commented on #3125
@ziaoang Yeah you are using the old version. Please install the latest version.

[2016-07-02 02:05] ilblackdragon commented on #2935
At this moment compatibility with model selectors in scikit learn has been
disabled. We are implementing model selection in tf.learn itself
On Fri, Jul 1, 2016 at 6:37 PM ebrevdo <notifications@github.com> wrote:

[2016-07-02 04:04] jackywang529 commented on #3039
Ya as @mnuke mentioned, those methods were removed from input_data.py. However, those methods are not exactly the same as the ones defined in the mnist/convolution.py, as the ones in mnist/convolution.py sets the data type to be float32 which shouldn't happen in this case, as the fully_connected_reader.py's read_and_decode method changes it to float32 again, thinking that it received int8 type. Th

[2016-07-02 06:29] mrphoenix13 commented on #3071
my pip version is the latest one 8.1.2
as I said before upgrading tensorflow from web cause no problem in my system. But when I'm trying to upgrade it via downloaded wheel file in my offline system, It gives me the error that i mentioned before. I'm surprised too. before this release I had no such problem in upgrading via file.

[2016-07-02 12:40] ziaoang commented on #3125
Do you mean I should re-install tensorflow via source code instead of pip?

[2016-07-02 14:07] thirdOctet commented on #2935
I see. Well thank you for the update and for investigating the issue @terrytangyuan. On the road map of tasks for tf.learn when might I expect the implementation of model selection to be complete? @ilblackdragon

[2016-07-02 14:41] bertolo1988 commented on #37
# +1

[2016-07-02 15:38] 333caowei opened #3159 "How to remember the unit position of Dropout"
I am using dropout in my neural network:
[code]

**outputs_L1** is the output of LSTM which has 3D-Tensor[sentence length, batchsize, hidden unit]. So, you can see the "for loop" code, I use "for loop" to do dropout for each **outputs_L1[step_index,  :,  :]**. But in this way, each outputs_L1[step_index,  :,  :] has it's own position of dropout.

For example:
**outputs_L1[1,  :,  :]** and **output

[2016-07-02 16:49] RobRomijnders commented on #3101
Yes, it's a feature request.

For exaple, squeeze(), reduce_sum() an any other reduce_() function, they all have arguments where you define the axes to be operated on.

For reduce_sum(), you define which axes ought to be reduced and summed. Why not generalize the SoftMax like that too?

At the moment, the softmax API is
    tf.nn.softmax(logits, name=None)

My feature request is to to
    tf.nn.so

[2016-07-02 17:00] sergulaydore commented on #225
I had the same error when I run the script in ipython shell. Interestingly, it worked fine in python shell. This was my script: https://gist.github.com/sergulaydore/e9d768356ab004c2bf97ca171312f43d

[2016-07-02 20:38] smirn0v commented on #3155
I have found out that iOS build of tensorflow lacks numerous files. FIFOQueue one of them. Is there fully functional iOS tensorflow version ?

[2016-07-02 21:49] smirn0v opened #3160 "iOS: No OpKernel was registered to support Op 'Assign'"
`Running model failed: Invalid argument: No OpKernel was registered to support Op 'Assign' with these attrs
     [[Node: save/Assign_18 = Assign[T=DT_INT64, _class=["loc:@input_producer/limit_epochs/epochs"], use_locking=true, validate_shape=true, _device="/device:CPU:0"](input_producer/limit_epochs/epochs, save/restore_slice_18)]]`

Tensorflow 0.9 iOS build.
Model+graph: https://cloud.mail.ru/pub

[2016-07-02 23:19] smirn0v commented on #3160
Adding tensorflow/core/kernels/dense_update_ops.cc (contains REGISTER_KERNEL_BUILDER) have no effect either.

[2016-07-03 00:09] ibab commented on #1140
I'd like to help with this, as I have a few applications that could benefit from better `float64` support.
@siddharth-agrawal: Are you okay with splitting the work on this to speed things up? We could use this issue to announce which ops we want to work on, so we don't end up duplicating work.

I've noticed that the reduction ops for `float64` are quite slow when executing on the GPU.
I've submitt

[2016-07-03 01:02] danielmogilny opened #3161 "Sequence_Length for RNN Bug"
I'm using the current up-to-date version of Tensorflow for Apple. For Long-Short Term Memory, there is an error which prevents me from specifying the sequence length [batch_size] Tensor. Code used to work until I updated Tensorflow:

`seq_len = tf.placeholder("int64", [batch_size])`

...
...
...

`lstm_fw1_cell = rnn_cell.BasicLSTMCell(n_LSTM_input, forget_bias=1.0)`

`state_fw1 = tf.fill([batch_s

[2016-07-03 02:41] fayeshine opened #3163 "the results is not reproducible"
the results is not reproducible due to some random factors, is there a way to reproduce the exactly same result in NN training

[2016-07-03 03:08] thammegowda commented on #1528
I am having the same problem. I see that the proposed solution was to use nightly build.
I created a model using `v0.9.0` (which is built by pulling master branch today) and I am trying to use it in  a script which uses `v0.9.0` (installed by pip).

The python source is here https://github.com/eldor4do/Tensorflow-Examples/blob/master/retraining-example.py

and full stack trace here :
<pre>
W tenso

[2016-07-03 06:34] dtracers opened #3165 "AttributeError: 'Tensor' object has no attribute 'shape'"
### Environment info
Operating System:  BashOn Windows

Installed version of CUDA and cuDNN:
(doesnt matter CPU version only)

If installed from binary pip package, provide:
0.9.0

If installed from sources, provide the commit hash:

### Steps to reproduce

[code]

label is a string
point list is a list of an array of x, y values
ex:
[code]
[code]

### What have you tried?
googling why a tensor wo

[2016-07-03 06:49] siddharth-agrawal commented on #1140
@ibab Surely, how about I take all the `*Sampler` ones (unless you want `*Sampler`s for your application)? @samjabrahams is already working on `CTC*`, so that leaves quite a few ops.

@samjabrahams I saw the PR you referenced above, it looks like the right change for CPU. However, the issue is to enable `float64` for the GPU, and as far as I remember the `CTC*` ops don't have any GPU implementatio

[2016-07-03 06:54] samjabrahams commented on #1140
Cool, I'll give it a shot.

[2016-07-03 06:54] siddharth-agrawal commented on #1140
@samjabrahams I should have been more clear above. The issue title suggests that we just need to enable `float64` for the ops. However, if you look at the StackOverflow links in the issue description, you will see what I meant.

[2016-07-03 07:07] samjabrahams commented on #1140
Definitely- no worries on your end, I should have been more diligent reading the original message.

Something I've noticed is that some Ops have fleshed out GPU implementations, while others simply register to GPU using the same implementation as CPU. Is that due to some operations being able to take better advantage of highly-parallel computation, or am I missing something?

[2016-07-03 08:12] Invisibility commented on #2940
I also hit the same issue on Mac. I investigated a little bit.

As mentioned earlier in this thread, the crash happens because tensorflow couldn't load a cuda shared library. tensorflow shouldn't crash but it did because `LOG(INFO) <<  ... << getenv("LD_LIBRARY_PATH")` doesn't support char pointer being nullptr. I enclosed the relevant code at the end of this message.

As for why tensorflow didn't

[2016-07-03 09:07] siddharth-agrawal commented on #1140
@samjabrahams I have the same question, since I haven't written any op implementation. @girving could you give us a brief explanation of the same?

[2016-07-03 09:40] yaroslavvb commented on #2940
@Invisibility nice digging. I've seen similar looking crashes on Mac in other places with similar stack trace, now I know where to look for. BTW, you can set env var in anaconda directly using something like this

[code]

[2016-07-03 10:13] ibab commented on #1140
@samjabrahams @siddharth-agrawal I think the reason is that if there is no registered GPU kernel for an op, then that op will give you an error if you execute it inside a `with tf.device('/gpu:0'):` block, which is quite annoying.

There are a few situations where it doesn't really make sense to have a real GPU op, and there might be ops for which a proper GPU kernel hasn't been written yet and we

[2016-07-03 10:32] yaroslavvb commented on #1140
@ibab another example is integer [Add](https://github.com/tensorflow/tensorflow/blob/d42facc3cc9611f0c9722c81551a7404a0bd3f6b/tensorflow/core/kernels/cwise_op_add.cc#L28) . At some point there were shape-related calculations on Tensors on GPU had a bottleneck in crossing the logical device boundary, so those ops were registered with "fake" GPU implementations to avoid the gpu/cpu device crossing o

[2016-07-03 10:35] siddharth-agrawal commented on #1140
@ibab Thanks for the explanation. However, there are cases where the implementation of the op has the device as a template parameter, without the `HostMemory` bit. Some examples are `[MatMul](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/matmul_op.h)`, `[L2Loss](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/l2loss_op.h)`. I guess the qu

[2016-07-03 10:59] ibab commented on #1140
You will need to instantiate an explicit GPU implementation if you want to actually use the GPU.
`MatMul` for example actually runs on the GPU, so it wouldn't be correct to use `.HostMemory`.

It might be a bit tricky to spot how running GPU computations is accomplished, because it is nicely abstracted by the Eigen interface.
Whenever you see a line like
[code]
then this will either run on the hos

[2016-07-03 11:08] ibab commented on #1140
@yaroslavvb: Thanks for clarifying this, I was actually wondering why `int32` was treated as a special case in many places.

[2016-07-03 11:22] fobus42 opened #3167 "Using a `tf.Tensor` as a Python `bool` is not allowed."
### Environment info
Operating System: Linux Mint 17.3 Rosa
$uname -a

Linux Pabeda 3.19.0-32-generic #37~14.04.1-Ubuntu SMP Thu Oct 22 09:41:40 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

$python -c "import tensorflow; print(tensorflow.__version__)"
0.9.0

### Steps to reproduce
$ git clone https://github.com/ilblackdragon/tf_examples.git
$ python titanic.py
### What have you tried?
1. I'm trying to

[2016-07-03 11:29] siddharth-agrawal commented on #1140
@ibab Thanks again, that clarifies some things.

[2016-07-03 11:29] MatthieuBizien opened #3168 "fully_connected_preloaded example: Attempting to use uninitialized value input/input_producer/input_producer/fraction_of_32_full/limit_epochs/epochs"
I have the error `Attempting to use uninitialized value input/input_producer/input_producer/fraction_of_32_full/limit_epochs/epochs` when I load data in my code. I have found the same issue on the fully_connected_preloaded example, so I think it may be a regression.

### Environment info
Operating System: Ubuntu 16.04

Installed version of CUDA and cuDNN: Cuda 8.0 and CuDnn 8.0

[code]

If install

[2016-07-03 11:30] fobus42 opened #3169 "AttributeError: 'module' object has no attribute 'linear'"
I'm trying to run this tutorial : https://medium.com/@ilblackdragon/tensorflow-tutorial-part-1-c559c63c0cb1#.1a7hit535

I have got some errors on this bug report : https://github.com/tensorflow/tensorflow/issues/3167

Then I have tried to fix it by modifying the TF Learn code.

### Environment info
Operating System: Linux Mint 17.3 Rosa
$uname -a

Linux Pabeda 3.19.0-32-generic #37~14.04.1-Ubuntu

[2016-07-03 13:39] nmerci opened #3170 "Gradients are always zero during training"
I have implemented [YOLO](http://pjreddie.com/media/files/papers/yolo.pdf) algorithm in tensorflow and face with an issue during training: all my gradients are equal to zero from the very beginning of training. I also noticed that with some weights initialization gradients become non-zero at first several iterations and then stick to zero. Thanks in advance for any help!

### Environment info
Oper

[2016-07-03 15:53] dtracers commented on #3165
Okay figured it out.  Fit can not take a tensor as an input.  (it would be helpful if that was the error message instead)

[2016-07-03 15:55] dtracers opened #3172 "float division by zero"
It seems that if you only run 1 training step at a time then you can come to a point where it is too fast

[code]

This happens because the time between the start of the step and the end is exactly the same because it is a single step.

Here is the code snippet

[code]

Maybe add an if statement to just say zero if elapsed_time is zero?

[2016-07-03 16:01] off99555 commented on #17
If I want to turn on the Bash on Windows, I need to check the **Windows Subsystem for Linux (Beta)** right? But I can't find this menu in the Windows Features dialog. I'm following the guide [here](http://blog.mosthege.net/2016/05/11/running-tensorflow-with-native-linux-binaries-in-the-windows-subsystem-for-linux/) and [here](http://www.hanselman.com/blog/DevelopersCanRunBashShellAndUsermodeUbuntu

[2016-07-03 18:13] erfannoury commented on #17
@off99555 You're Windows 10 should have the latest preview release (Fast Ring). Check your build, if it is lower than ~14000, then you don't have this feature yet. (This update will be GA August 2nd)

[2016-07-03 19:10] 3rd3 opened #3173 "Pip should not install as super user in the install tutorial (sudo pip install …)"
Is there a particular reason it is installed as root in this case? It is usually deprecated to do it this way.

[2016-07-03 19:17] 3rd3 commented on #3173
See also this SO Q/A: http://stackoverflow.com/questions/33004708/osx-el-capitan-sudo-pip-install-oserror-errno-1-operation-not-permitted/33004920#33004920

[2016-07-03 19:43] kestrelm commented on #17
Hello,

For Tensorflow Windows support, are we going to be able to build out Windows Binaries that are not msys2 binaries? This makes sense since it would be a possible to do actual deployment on most user's machines.

If this is not possible, can we have a way to just deploy a stripped down version of the prediction pass/forward pass of the library for this purpose? I can train on Linux just fine

[2016-07-03 20:06] vasusharma opened #3174 "C Stack smashing from inside python when using tensorflow"
I am trying to implement Fully Connected Convolutional Network in python using tensorflow and I am getting a Stack Smashing error in one of the Convolution operators. I have checked and all the filter sizes match up and are perfectly in sync with the layer shapes. I did my research on the error and found that this error is caused when you overflow the alloted buffer but I cant see any place where

[2016-07-03 22:31] ahmetemir commented on #3172
You can measure the elapsed time in microseconds (**datetime.timedelta**) and than scale it to get steps done per seconds.

[2016-07-03 22:37] dtracers commented on #3172
I added an if statement that says if elapsed time is zero just set it to
added steps. That fixed it too
On Jul 3, 2016 4:33 PM, "ahmetemir" <notifications@github.com> wrote:

[2016-07-03 22:43] ahmetemir commented on #3172
It can mislead you.Think that elapsed time is zero and you get 10 steps.This doesn't mean 10 steps per seconds.If the elpased time is actually 100 microseconds than you should know that it's  100 steps per seconds.

[2016-07-04 00:46] cardshuffle opened #3175 "Android demo: unable to build with Bazel, could not read RELEASE.TXT"
### Environment info
Operating System: Ubuntu 14.04 LTS 64-bit

Installed version of CUDA and cuDNN: none (not using GPU)

### Steps to reproduce
Note: TensorFlow was installed previously.
1. Install Bazel as instructed here: http://www.bazel.io/docs/install.html#install-on-ubuntu
2. Install Android Studio (which includes the SDK).
3. Install Android NDK through the Android Studio SDK Manager.
4.

[2016-07-04 01:01] Heepo commented on #135
@iRapha Worked for me perfectly with tensorflow-0.9.0.

[2016-07-04 01:08] Invisibility commented on #2940
Thanks for the tip, @yaroslavvb. I tried, but it still crashed. It seems that for some reason `dlopen` in `DsoLoader::GetDsoHandle` didn't see the environment variable. I noticed that in my environment, ipython is a script with the following content:

    #!/bin/bash <my anaconda virtual environment path>/bin/python.app
    if __name__ == '__main__':
        import sys
        import IPython

[2016-07-04 01:18] mlinxiang commented on #1325
did this problem fix ? my code used get_varaible(), and  validation when train is ok, but when i restore from checkpoint, predict will always the same weight, not correct
@girving

[2016-07-04 01:33] heibaidaolx123 commented on #3087
Same problem for imagenet multi-GPU training.

[2016-07-04 03:01] randomiser commented on #16
Thanks Stephen for those extra details. Will try it now and see how I get on.

[2016-07-04 03:24] ziaoang commented on #3125
I re-install tensorflow via source code, and the example runs normally. Thank you @terrytangyuan .

[2016-07-04 03:24] #3125 closed

[2016-07-04 04:47] petewarden commented on #16
Based on this discussion I actually updated the build_all_ios.sh script to use "-Os" by default, and to build in parallel to lower overall compile times:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/makefile/build_all_ios.sh#L32

[2016-07-04 04:49] IvanUkhov opened #3176 "Mutability of TF_NewTensor’s arguments"
The C API provides the [following function](https://github.com/tensorflow/tensorflow/blob/v0.9.0/tensorflow/core/public/tensor_c_api.h#L195) for creating tensors:

[code]

Based on what the function does conceptually and on how it is [implemented](https://github.com/tensorflow/tensorflow/blob/v0.9.0/tensorflow/core/client/tensor_c_api.cc#L122), it doesn’t seem to be reasonable that `dims` is requi

[2016-07-04 05:51] off99555 commented on #42
My docker won't start up it said **Failed to create VM "MobyLinuxVM: Failed to get the disk in ..."**
This message occur on a red whale icon after it installed Hyper-V and reboot the Windows.

[2016-07-04 06:35] gnujimmik opened #3177 "Is wide_n_deep compatible with python3.5?"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-07-04 06:52] QLQLQL opened #3178 "How to check/enlarge computer memory in Mac OS when running .py code?"
Hi everyone,

I'm new to python, and learning tensorflow recently on my mac OS X Yosemite system with 8g memory. I'm using anaconda with tensorflow installed within it. When trying some demo codes, I found they run very slowly.

 I've saw somewhere previously that python only use 2g (or 1g? sorry I cannot remember clearly) memory in Mac OS since it was installed in virtual environment, so one can

[2016-07-04 06:56] QLQLQL commented on #3178
@takluyver @carreau

[2016-07-04 07:47] wchuanghard opened #3179 "ImportError: cannot import name pywrap_tensorflow"
### Environment info
Operating System: Mac OS X 10.10

### Steps to reproduce
1.
%matplotlib inline
%load_ext autoreload
%autoreload 2
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.cm as cm
from matplotlib import gridspec
2.
import sys
sys.path.append('..')
3.
from tasks import *

input_dim=10
output_dim=10

sess = tf.InteractiveSession()

cell = NTMCell(input_dim=input_dim,

[2016-07-04 08:09] tobegit3hub commented on #1569
Thanks @keveman and it works 👍

[2016-07-04 08:53] peterswang commented on #2773
Hi,

I just ran into the same issue and adding /Developer/NVIDIA/CUDA-7.5/lib in DYLD_LIBRARY_PATH as suggested didn't help.

$ python
Python 2.7.11 (default, Jan 22 2016, 08:29:18)
[GCC 4.2.1 Compatible Apple LLVM 7.0.2 (clang-700.1.81)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA librar

[2016-07-04 08:58] Hvass-Labs opened #3180 "Execution order of ReLU and Max-Pooling"
Hello Everyone,

I'm new to Deep Learning and TensorFlow. From studying tutorials / research papers / online lectures it appears that people always have the execution order: ReLU -> Pooling. But in case of e.g. 2x2 max-pooling it seems that we can save 75% of the ReLU operations by simply reversing the execution order to: Max-Pooling -> ReLU. This should calculate the exact same thing using only a

[2016-07-04 09:56] sjperkins opened #3181 "tf.initialize_variables fails on missing Tensor initializer attribute"
### Environment info
Operating System: `Ubuntu 14.04.4`

Installed version of CUDA and cuDNN:  CUDA 7.5 and cuDNN 4.0.7
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

[code]

If installed from binary pip package, provide:

1. Which pip package you installed. Nightly build, Ubuntu/Linux 64-bit, GPU enabled, Python 2.7
2. The output from `python -c "import tensorflow; print(tensor

[2016-07-04 10:05] sjperkins commented on #3181
`tf.linspace` needed to be wrapped in a `tf.Variable` like so:

[code]

[2016-07-04 10:05] #3181 closed

[2016-07-04 13:02] TimZaman commented on #3180
Reversing the order 'optimizing' auto**magically** is a bad idea imo, especially (relatively to other DNN frameworks) tensorflow being relatively low level. Moreover, computationally, it might be inconclusive because the ReLU is a relatively cheap operation compared to the heavy convolutions, it would be a very minor optimization in terms of computational cost.
In any case, I think you're right in

[2016-07-04 13:13] TimZaman opened #3183 "Implement tf-slim from tensorflow/models."
Feature request: Implement tf-slim from `tensorflow/models` into `tensorflow/tensorflow`.
See requests from models: https://github.com/tensorflow/models/issues/186, https://github.com/tensorflow/models/issues/203. Maybe mark for 0.9 as suggested by @sguada?

[2016-07-04 13:40] milohoffman opened #3184 "Configure script attemps to seek for libcudart.so in wrong path"
Hi! I'm trying to configure build for cuda utilization. When I answer the question

i get the following error:

but i have cuda installed in:

lrwxrwxrwx 1 root root 16 мар 30 15:25 /usr/lib/x86_64-linux-gnu/libcudart.so -> libcudart.so.7.5

This happens because of the following code in `configure` file:
[code]

Why it tries to look for cuda installation in `lib64` subdirectory? I think make me to

[2016-07-04 13:53] takluyver commented on #3178
If you are really using a virtual *environment*, it cannot, as far as I know, limit the memory a process can use. If you're using a virtual *machine*, or a container system such as Docker, it can.

[2016-07-04 14:29] zuoxingdong opened #3185 "Udacity Notebook with "None" kernel"
I use Jupyter notebook to open the .ipynb files, but it shows a red "None" kernel on top right corner and all lines of code cannot run.

Method I use:
1. Build a new directory and extract .ipynb files from `examples/udacity` to the directory
2. In terminal, run `jupyter notebook`

[2016-07-04 14:53] tengerye commented on #3152
Dear All,
I managed to solve it at the cost that I have to set every thread reads only one test example. I think the queues and threading mechanism of TensorFlow should re-design: the threading should be able to read the rest of queues automatically.

Thank you very much. And I would also appreciated if better solution to be given

[2016-07-04 16:26] dsmilkov commented on #3087
Hi @JianbangZ ! Thanks for reporting.

The reason why the multi-GPU graph looks like that is because the namescoping in the multi-GPU version creates tower_N namespaces that have incoming edges (tensors) above a certain threshold, at which point we extract those nodes on the side since usually they end up being auxiliary and not part of the main net architecture.

If we don't extract nodes on the

[2016-07-04 16:46] Phhere commented on #2902
Also happens with 70de76e696c21da617fd2e6435cf7fedab220db8 and bazel 0.3.0 for me

[2016-07-04 16:47] eplondke opened #3186 "Insufficient alignment in u_ union in tensorflow/core/lib/gtl/inlined_vector.h"
### Environment info

Operating System: Linux

Installed version of CUDA and cuDNN: None

If installed from sources, provide the commit hash: aa2cacd6627ffb296bedc910c957a0fd4a2f957f
### Steps to reproduce
1. Find an architecture with 32 bit pointers but strict alignment requirements for 64 bit
2. Compile and run "benchmark" from tensorflow/contrib/makefile
3. Get bus error from misaligned pointer

[2016-07-04 17:08] nmerci commented on #3170
The issue has been fixed by itself.

[2016-07-04 17:08] #3170 closed

[2016-07-04 18:05] Carreau commented on #3178
Yeah, that's one of the issues with tensor flow we heard about. I've heard the you can configure tensor flow not to do that but that. IIUC you need to do that when you create a session:

http://stackoverflow.com/questions/34199233/how-to-prevent-tensorflow-from-allocating-the-totality-of-a-gpu-memory

[2016-07-04 20:53] chrisgrimm opened #3188 "BasicLSTMCell __call__ fails."
### Environment info
Operating System:
OSX Yosemite 10.10.5

If installed from binary pip package, provide:

1. Which pip package you installed: CPU only mac-version
2. The output from `python -c "import tensorflow; print(tensorflow.__version__)": 0.9.0rc0

I've been getting a strange error when trying to use the BasicLSTM cell. Running the below code:
[code]
results in a ValueError:
[code]
the er

[2016-07-04 21:04] danijar commented on #586
@mrry Any news on the internal refactoring?

[2016-07-05 01:58] omgteam opened #3190 "How does wide_n_deep model support install app columns?"
wide_n_deep model in paper [1] support embedding for users' installed app features.
But in wide_n_deep.py and feature_column.py, I haven't find something about supporting embedding for users' installed app features, which trains embedding jointly for multi-columns.
Do I miss anything? or misunderstanding

[1] Wide & Deep Learning for Recommender Systems @moonboots

[2016-07-05 02:16] QLQLQL commented on #3178
"If you are really using a virtual environment, it cannot, as far as I know, limit the memory a process can use. If you're using a virtual machine, or a container system such as Docker, it can." -- Thanks for the reply. Actually I'm not 100% sure whether I'm using a virtual environment or virtual machine or Docker (sorry I'm not major in computer and not very familiar with computer systems). If I'

[2016-07-05 02:18] QLQLQL commented on #3178
Yeah it cannot solve my problem... But still thanks for your kind help! @Carreau

[2016-07-05 03:04] Carreau commented on #3178
If you are not sure, then there is 99% chance that you are not using either Docker or a VM. If you are you would explicitly start these and you would thus be able to pass an option at startup to limit the RAM, in te case of Docker `--memory="<memory>" `. In case of OS X it's worse as you run Docker in a VM.

Os it's unlikely that your python is memory limited already:

[code]

(note we might want

[2016-07-05 03:45] QLQLQL commented on #3178
Get it. Currently I’m just in a learning phase. Though the macbook is slow, I think I can live with it for the moment. Thanks again! @Carreau

[2016-07-05 04:05] john-difool commented on #16
Undefined symbols for architecture x86_64:
  "google::protobuf::io::CodedInputStream::ReadTagFallback(unsigned int)", referenced from:
      tensorflow::EntryValue::MergePartialFromCodedStream(google::protobuf::io::CodedInputStream*) in test_log.pb.o
      tensorflow::BenchmarkEntry::MergePartialFromCodedStream(google::protobuf::io::CodedInputStream*) in test_log.pb.o
      tensorflow::BenchmarkEn

[2016-07-05 04:08] john-difool commented on #16
...
  NOTE: a missing vtable usually means the first non-inline virtual member function has no definition.
ld: symbol(s) not found for architecture x86_64
clang: error: linker command failed with exit code 1 (use -v to see invocation)
make: *** [/Users/Shared/Develop/google/tensorflow/tensorflow/contrib/makefile/gen/host_bin/proto_text] Error 1
+ '[' 2 -ne 0 ']'
+ echo 'armv7 compilation failed.'

[2016-07-05 04:21] john-difool opened #3191 "iOS build breaks"
git rev-parse HEAD
70de76e696c21da617fd2e6435cf7fedab220db8

ld: symbol(s) not found for architecture x86_64
clang: error: linker command failed with exit code 1 (use -v to see invocation)
make: *** [/Users/Shared/Develop/google/tensorflow/tensorflow/contrib/makefile/gen/host_bin/proto_text] Error 1
+ '[' 2 -ne 0 ']'
+ echo 'armv7 compilation failed.'
armv7 compilation failed.
+ exit 1

The rest o

[2016-07-05 04:40] john-difool commented on #3191
tensorflow/contrib/makefile/compile_ios_protobuf.sh PASSED
make -f tensorflow/contrib/makefile/Makefile TARGET=IOS IOS_ARCH=ARM64   FAILS

[2016-07-05 06:13] Hvass-Labs commented on #3180
Such code optimizations are common in e.g. C / C++ compilers. It has probably been 15 years since I've implemented a compiler, but as I recall, these kinds of optimizations are called Peephole Optimizations. TensorFlow is a kind of compiler which uses a computational graph, so it would make sense for it to do automatic code optimizations like this.

Regarding the potential time savings, I think mo

[2016-07-05 08:09] fengjian0106 commented on #3004
hi, @petewarden @sitefeng
I met a similar problem with the latest code, the error message is
[code]
any suggestion?

[2016-07-05 10:42] Vijayenthiran opened #3193 "AttributeError: 'LinearClassifier' object has no attribute 'save'"
### Environment info
Operating System:
OS X 10.11.5

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
NA

If installed from binary pip package, provide:

1. Which pip package you installed.
2. The output from `python -c "import tensorflow; print(tensorflow.__version__)"`.

Tensor Flow verison: `0.9`

If installed from sources, provide the commit

[2016-07-05 13:33] shree-shell commented on #352
I think when the GPU runs out of its memory, the weights and maps storage is shifted onto the RAM.
I observed this when I trained a 50 Layer ResNet on my GT 755m(running on 97%) laptop with 16GB(running on 32%) of RAM. Never faced any issues.

[2016-07-05 15:16] KendallWeihe commented on #3128
Any update on this @daeyun ?

[2016-07-05 16:17] dzhwinter opened #3194 "[install error] install failed on RedHat"
In large scale cluster,  Entherprise RedHat system is mainstream distribution branch, and its always encounter a low version of kernel and libc problem.  There  several similar issue in this project.  I'm wondering that
1  is there any method to build tensorflow offline?
2  how can I build tensorflow cc part as static library instead of shared library.
3  is there any way to pay a cheap price to r

[2016-07-05 18:13] sguada commented on #3183
It is already part of 'master' take a look at contrib/slim, we plan to include more docs, nets, examples and make it part of 0.9.1
More updates would come for the 0.10

[2016-07-05 19:06] zhangwei0119 commented on #3154
shall I try r0.6?

[2016-07-05 19:07] daeyun commented on #3128
@KendallWeihe I'm unable to reproduce the error, it seems to run without any error. Have you tried running a 2D version of this? Are you using GPU or CPU? I installed from sources with cuda 7.5, cuDNN 5.1.3, python 3.5 (anaconda), ubuntu 14.04.

[2016-07-05 19:39] goodfeli commented on #175
any updates on this issue?

[2016-07-05 19:51] rizar opened #3195 "Documentation of Session arguments seems outdated"
In [README.md](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/public/README.md) a session is created as `tf.Session("local")`. At the same time, the [docstring](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/client/session.py#L888) says "no value other than an empty string is supported". This is clearly an inconsistency.

[2016-07-05 20:40] KendallWeihe opened #3196 "Nightly builds 404 Not Found"
I'm getting a 404 error on trying to download all nightly builds: https://github.com/tensorflow/tensorflow#installation

[2016-07-05 20:47] rubenstern opened #3197 "add l2 regularization and dropout"
Hi,

Is it posible to add l2 regularization and dropout in the text_classification_cnn.py ?

Thanks

[2016-07-05 21:16] girving commented on #2654
@fchollet: Is there a Keras issue here?

[2016-07-05 21:23] LeavesBreathe commented on #2169
Any plans to get a unpool layer to tensorflow? @girving as you point out, if the gradient operation already exists, then it doesn't seem like much work to get it working?

[2016-07-05 21:37] fchollet commented on #2654
@domluna no, if you read the code you linked, you can see that `tf.gradients` is called exactly once, then the results are cached in the model instance (`train_function` attribute). Calling `train_on_batch` many times only results in a single call to `tf.gradients` at the very beginning.

Since `Model` cannot be modified after being instantiated, this cache is never invalidated.

@girving as far a

[2016-07-05 21:56] girving commented on #2169
@LeavesBreathe I was wrong initially about how easy it would be, since the gradient operators as written taken the original input.  Thus, we probably do need a new exposed op, though it may be able to use the same underlying compute kernels (I'm not sure).

[2016-07-05 22:46] aayushgarg opened #3198 "Error: Nodes were connected by a reference connection"
I am running distributed TF 0.8 for Py 3.5. I have followed the initialization of tf.train.Server() as in the imagenet_distributed_train.py. I am getting the following error while executing sv.prepare_or_wait_for_session(). I am passing remote ps server and local workers as the arguments. I do have blocks of code using tf.device('/cpu:0') at some places.

sv = tf.train.Supervisor(is_chief=is_chief

[2016-07-05 23:22] domluna commented on #2654
@fchollet my mistake, thanks for the explanation.

[2016-07-05 23:37] lykaust15 opened #3199 "All weights become nan after training more than about 20000+10000 times"
Operating System: CentOS 7
Installed version of CUDA and cuDNN: cuda 7.5.18, cudnn4

When I run my own project, I found that all weights would become nan after training more than 20000+10000 times (That means I first trained the model for 20000 times, and then I continued training the model for 10000 times). The accuracy would suddenly change from 0.8 to 0.5. I thought that might be my own problem

[2016-07-06 01:07] ppwwyyxx commented on #2939
It failed again.

[2016-07-06 01:55] terrytangyuan commented on #3197
@rubenstern You can use `contrib.layers.regularizers` found [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/layers/python/layers/regularizers.py)

[2016-07-06 01:58] syed-ahmed commented on #851
Has anyone tested this on jetson tx1? I can't seem to get bazel build on aarch64.

[2016-07-06 03:16] fengjian0106 commented on #3191
I met the same problem

[2016-07-06 03:42] thinxer commented on #3167
This is not a TensorFlow issue.  You should report to https://github.com/ilblackdragon/tf_examples not here.

Anyway, to fix it, just follow the instructions: replace `if t` with `if t is not None`.

[2016-07-06 03:58] dexter4455 commented on #3036
switched to 0.9 and things worked

[2016-07-06 03:59] dexter4455 commented on #3138
switched to 0.9 and things worked

[2016-07-06 04:39] normads commented on #3139
tried with gcc version 4.9.2
same result. can i not build the benchmark model? help!

[2016-07-06 05:01] eyewy opened #3200 "dnn_linear_combined.py is not compatible with Python 3"
in Python 3.x, line 215 of dnn_linear_combined.py (master version) results in an error.

**line 215 is:**
return sorted(set(self._dnn_feature_columns)) if self._dnn_feature_columns else None

**the error is:**
builtins.TypeError: unorderable types: _SparseColumnHashed() < str()

**to reproduce this error:**
in wide_n_deep_tutorial.py, change the following line:
feature_cols = dict(continuous_cols.

[2016-07-06 05:15] eyewy commented on #3177
in wide_n_deep_tutorial.py, change the following line:
feature_cols = dict(continuous_cols.items() + categorical_cols.items())
to
feature_cols = {**continuous_cols , **categorical_cols}
this change makes wide_n_deep_tutorial.py compatible with Python 3.x.
Now simply run it like:
python3.5 wide_n_deep_tutorial.py --model_type=wide

note that the wide_n_deep option (--model_type=wide_n_deep) still h

[2016-07-06 06:20] normads commented on #3139
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=71776

[2016-07-06 07:29] jaeoh2 commented on #851
@syed-ahmed I tested it on TX1. This is my configurations.
- Cuda Toolkit 7.0, JetPack 2.2(32bit)
- Bazel 0.2.1
- jdk-8u76-ea-bin-b02-linux-arm-vfp-hflt-04_jan_2016.tar.gz
- ./configure : compute capability 5.3
- bazel option : --local_resources 2048,2.0,1.0

[2016-07-06 07:44] zhengwy888 opened #3201 "Calculate a vector l1 norm of a tensor creates unnecessary copy of tensor"
I am using tensorflow 0.9.
when I am trying to calculate a simple l1-norm of vector, like
[code]

Tensorflow allocates memory for the results of tf.abs(matrix). when matrix size are large, this could cause out of memory issue.
Is there a way I can avoid this additional allocation?

[2016-07-06 08:54] Robin-des-Bois opened #3202 "genrule //tensorflow/contrib/session_bundle/example:half_plus_two ignores bazels TEST_TMPDIR and uses uses /tmp/"
I am trying to build tensorflow 0.9.0 on a cray cluster using bazel 0.3. Becuase I have limited space in my home directory I set TEST_TMPDIR to some scratch space.

Somehow the /tmp directory already contains a folder half_plus_two created by another user of the system. Therefore I don't have write access and the build fails:

[code]

Wouldn't it make sense if the genrule half_plus_two would also

[2016-07-06 10:03] lykaust15 commented on #3199
I tried again, training 40000 times continuously. I got the same problem at training step 32400.
<img width="295" alt="screen shot 2016-07-06 at 12 52 28" src="https://cloud.githubusercontent.com/assets/19503832/16614456/0917f60c-437a-11e6-8c49-c6b3e888a190.png">

[2016-07-06 10:09] lykaust15 commented on #3199
I do not know that's a hardware problem or software problem. However, at the end, I indeed got some warning of running out of memory.
<img width="1009" alt="screen shot 2016-07-06 at 12 53 51" src="https://cloud.githubusercontent.com/assets/19503832/16614604/d82f2e38-437a-11e6-9f8e-afea48f5e5b9.png">

[2016-07-06 10:12] mbaytas opened #3203 "ImportError for graph_util from tensorflow.python.framework"
Importing `graph_util` from `tensorflow.python.framework` fails with an `ImportError`.

I discovered this while I was trying to go through the [TensorFlow for Poets Codelab](https://codelabs.developers.google.com/codelabs/tensorflow-for-poets/index.html), an the the [re-training](https://codelabs.developers.google.com/codelabs/tensorflow-for-poets/index.html?index=..%2F..%2Findex#4) failed.

I can

[2016-07-06 10:14] yaroslavvb commented on #3199
NaN's are a common situation with neural network training. If the dataset
is easy enough, then SGD will drive your log loss to negative infinity,
which will overflow at some point and cause NaNs.

An indication of a problem is when you run the same network on two
different versions of tensorflow, and it only diverges on one, but not the
other.

On Wed, Jul 6, 2016 at 2:09 PM, Yu Li <notifications@

[2016-07-06 10:43] isabel-schwende commented on #1592
Has there been any movement in this issue? I'm very interested in seeing how binary networks can be trained using tensorFlow. I have studied the work of Courbariaux and played a bit with his implementations (specifically BinaryConnect) but my final goal would be to have XNOR-Net running with tensorFlow.

[2016-07-06 11:07] lykaust15 commented on #3199
@yaroslavvb , thank you!

I found a solution to this problem just now. http://stackoverflow.com/questions/33712178/tensorflow-nan-bug?newreg=c7e31a867765444280ba3ca50b657a07.

[2016-07-06 11:07] #3199 closed

[2016-07-06 11:23] l4chong commented on #2084
@neverPick just wondering, what did you end up doing?

[2016-07-06 12:04] Phhere commented on #2811
Same happens for 3.0.10
`(cd /root/.cache/bazel/_bazel_root/2b02cca0edf7f3a977d1db2d1af2e0e1/execroot/tensorflow-0.9.0 && \
  exec env - \
    PATH=/software/gcc/6.1.0/login/bin:/software/tensorflow/0.9.0/:/software/python/3.4.5/login/bin:/software/intel/xe2015/composer_xe_2015.1.133/bin/intel64:/software/intel/xe2015/composer_xe_2015.1.133/bin/intel64_mic:/software/intel/xe2015/composer_xe_2015.1

[2016-07-06 12:40] timmeinhardt commented on #1045
I had the same issue. But 'tf.initialize_all_variables()' solved it. This should be mentioned in the documentation or be considered as a bug.

[2016-07-06 12:56] Robin-des-Bois commented on #3202
I was able to circumvent this issue because I am the owner of the directory in /tmp/ on one cluster node.. Still, this should get fixed some how..

[2016-07-06 12:58] BenjaminHess opened #3204 "Knights Landing feature request"
It would be nice to see a tensorflow binary compatible with Knights Landing for AWS.

[2016-07-06 13:15] Robin-des-Bois opened #3205 "Failed to build tensorflow using custom Python/3.5.1-CrayGNU-2016.03"
I am trying to build tensorflow 0.9.0 (bdc43730c9e6037c608adb91fe55d6c1a82879a8) on a cray cluster using bazel 0.3.0.

I was able to build tensorflow using a fresh installation of python3.5.1 but [this paper from the cluster admins](https://cug.org/proceedings/cug2016_proceedings/includes/files/pap145.pdf ) suggests that I loose quite some performance by not using an optimized python installation.

[2016-07-06 13:27] caisq commented on #1145
Fixed by commit e19437c09af0ba8eb83b282ffd4b76a2444f01d3

[2016-07-06 13:27] #1145 closed

[2016-07-06 13:43] TimZaman commented on #3180
Good write-up.

This is probably due to the empirical basis of many findings. We can also question why we are using MaxPooling at all? I have recently seen many nets where MaxPooling is substituted just by an extra convolutional stride, without significant loss of performance (if any).

[2016-07-06 13:56] rdipietro commented on #2294
Ping :).

@jihunchoi for right now I just recommend using `tf.while_loop`. The accompanying `TensorArray` stuff is a bit messy, but you can create as many `TensorArrays` as you need, even with different-shaped `Tensors` inside, bypassing the problems with the higher-level `tf.scan`.

[2016-07-06 14:19] Chelinka commented on #3203
I'm having the same problem and can't seem to find a solution with the master branch.
While this is no real solution for the problem itself you could try pulling the r0.9 version from git.
This seems to work for me at the very least.

[2016-07-06 14:40] sguada commented on #3165
Actually there is a bug in data_feeder.py it should use get_shape() instead .shape.

[2016-07-06 14:44] jjough opened #3206 "Error compiling tf gpu on OSX: "declared output 'third_party/gpus/cuda/cuda.config' was not created by genrule.""
### Environment info
Operating System: OSX El Capitan 10.11

Installed version of CUDA and cuDNN:
-rw-r--r--@ 1 root    wheel    533344 18 May 05:42 /Developer/NVIDIA/CUDA-8.0/lib/libcudadevrt.a
-rwxr-xr-x@ 1 root    wheel    287392 18 May 05:42 /Developer/NVIDIA/CUDA-8.0/lib/libcudart.8.0.dylib
lrwxr-xr-x@ 1 root    wheel        19 18 May 05:42 /Developer/NVIDIA/CUDA-8.0/lib/libcudart.dylib -> li

[2016-07-06 15:37] tylerfox commented on #851
@syed-ahmed I got it to build on an aarch64 TX1. I mostly followed the instructions for the TK1 at cudamusing.blogspot.de. The only additional things I did was
- add aarch64 to the ARM enum in /bazel/src/main/java/com/google/devtools/build/lib/util/CPU.java by changing line 28 to   "ARM("arm", ImmutableSet.of("arm", "armv7l", "aarch64"))," without quotes
- Added aarch64 as valid ARM machine type i

[2016-07-06 15:40] martinwicke commented on #851
Maybe make a PR against bazel?

On Wed, Jul 6, 2016 at 8:38 AM Tyler Fox <notifications@github.com> wrote:

[2016-07-06 15:45] prb12 commented on #3036
@zheng-xq  Very difficult to repro - but possibly related to some issues you mentioned.  Given it appears fixed by 0.0, please close if there is not helpful information here.

[2016-07-06 15:48] martinwicke commented on #3071
Can you uninstall 0.8.0 first? I'm wondering whether this is a problem with 0.8.0 instead which surfaces during upgrades. Although I'm just guessing at this point.

[2016-07-06 15:55] syed-ahmed commented on #851
@tylerfox Thank you! I'll try your suggestions. In the meanwhile, any thoughts on this: https://github.com/bazelbuild/bazel/issues/1264 and @wtfuzz 's [change for cc_configure.bzl](https://github.com/wtfuzz/bazel/commit/ddc37b2a69b53e54a0664719fe9326925c909422). I was getting a toolchain error. So wondering if you encountered it.

[2016-07-06 16:02] tylerfox commented on #851
@syed-ahmed yes, changing the buildenv.sh should fix that issue. Also it's worth noting that I used bazel 0.1.4 per the instructions on cudamusing. I should probably also test on the current version of bazel, but for now I know 0.1.4 works

[2016-07-06 16:21] #3159 closed

[2016-07-06 16:52] aselle commented on #3206
The error says greadlink is not found. That probably means you need to run 'brew install coreutils'. Please carefully follow the detailed instructions on our web page.
https://www.tensorflow.org/versions/r0.9/get_started/os_setup.html#installation-for-mac-os-x

[2016-07-06 17:12] syed-ahmed commented on #851
@jaeoh2 How do you decide the values of --local_resources 2048,2.0,1.0?

[2016-07-06 17:21] zheng-xq commented on #3036
This should be a different issue from another failure that we were investigating. Closing for now.

[2016-07-06 17:21] #3036 closed

[2016-07-06 17:27] aselle commented on #3196
The links here do not seem to work https://github.com/tensorflow/tensorflow#installation
The links here do work https://www.tensorflow.org/versions/r0.9/get_started/os_setup.html#optional-install-cuda-gpus-on-linux

[2016-07-06 17:48] liusiqi43 opened #3208 "minimize raises "ValueError: None values not supported." error when tf.while_loop used inside fn() of tf.cond()"
On TF 0.9.0, The following code with tf.while_loop inside tf.cond raises ValueError when minimized.

[code]

It works fine if I add la, lb as follows, although this would force execution of loss_a and loss_b regardless of the pred in tf.cond().

[code]

Is this a known issue or did I miss something in how to use tf.while_loop within tf.cond?

[2016-07-06 17:51] lakshmanok commented on #5
@saudet
Thanks for creating javacpp and the presets for tensorflow.  I was able to successfully recreate a Python graph in Java, but I am stuck trying to restore from a saved model file.  This line doesn't work:

Tensor fn = new Tensor(tensorflow.DT_STRING, new TensorShape(1));
		CharBuffer buffer = fn.createBuffer();
                buffer.put("modelfile.tf");
                session.Run(...);

b

[2016-07-06 18:02] aselle commented on #3195
The documentation is incorrect. You should probably be using tf.Session() most of the time. so we will updates the tf.Session() docstring as well ad the README.md.
See here for another example https://www.tensorflow.org/versions/r0.9/how_tos/distributed/index.html.

[2016-07-06 18:08] aselle commented on #3194
You did not specify what version of RedHat you are using (Please paste cat /etc/issue or cat /etc/redhat-release). But judging from the gcc version 4.4.4, I am guessing it is RHEL6.x. Bazel itself is not supported on less than RHEL/CentOS 7. Others have managed to get it to work by changing Bazel's source significantly, but this is not supported).

1. I don't understand what this means? You could

[2016-07-06 18:24] fobus42 commented on #3167
@ilblackdragon, what do you think about @thinxer's reponse?

[2016-07-06 18:29] zhaopku opened #3209 "Problems with Tensorboard on Ubuntu 16.04"
I'm running code from https://github.com/MorvanZhou/tutorials/blob/master/tensorflowTUT/tf15_tensorboard/full_code.py on my own computer, which is a sample of how to use Tensorboard, however, I see nothing from the Tensor board from my computer: every tab of the Tensorflow is empty, saying no XX data is found.

I tried the '--inspect option':

and the '--debug' option:

zhao@zhao-ubuntu:~/Desktop/

[2016-07-06 19:23] warpuv commented on #17
I don't understand why you are added support for Mac OS and not Windows. You cannot use normal CUDA GPU on most Macs. It is useless platform for deep learning training

[2016-07-06 19:50] danmane commented on #3209
Just checking, do you have a directory called 'logs' within your ~/Desktop/samples directory?
If so, can you try passing a logdir as a full path (eg `logdir=$(pwd)/logs`)

[2016-07-06 19:52] danmane commented on #3209
Oh, you can't have a space before the equals. It is looking for "/home/zhao/Desktop/samples/=' because you have `logdir = X`, which it parses as `logdir == '='`.

Please use `logdir=X` or `logdir X`, the space is equivalent to an equals sign.

[2016-07-06 19:52] #3209 closed

[2016-07-06 20:10] zhaopku commented on #3209
Oh, so stupid I am.
Thanks!

[2016-07-06 20:15] syed-ahmed commented on #851
I am trying to build the tensorflow r0.9 release. I got bazel 0.2.1 installed following @tylerfox 's suggestions. Getting this following error when trying to build tensorflow. Any thoughts? Appreciate all the help.

[code]

[2016-07-06 20:50] alvisememo commented on #211
Is there any news on this bug? Should I better compute it with different operations?

[2016-07-06 21:04] martinwicke commented on #3196
caisq@ can you look at this? I think either the cp commands in the builds need to be updated, or we should just adjust the links.

[2016-07-06 22:15] syed-ahmed commented on #851
Anyone knows what farmhash is being used for in tensorflow r0.9? My motivation for installing tensorflow 0.9 on the jetson tx1 is to solely utilize some of the fp16 ops. Hence, if farmhash is not doing anything important, may be I could remove the firmhash related code and build without it. Here is the farmhash [commit]( https://github.com/tensorflow/tensorflow/commit/50fd1301afe9214fab42abbafbe96

[2016-07-06 22:28] aselle commented on #3173
That stackoverflow is interesting, but the comment which suggests not using sudo pip install does not suggest a solution that works for all users globally. That is one reason that sudo pip install  could be preferred.

[2016-07-06 22:29] KendallWeihe commented on #3196
@aselle I need the nightly builds. I don't see any nightly builds in the second link. I need `conv3d_transpose` added here: https://github.com/tensorflow/tensorflow/pull/3049#issuecomment-229742733

[2016-07-06 22:30] KendallWeihe commented on #3128
I'm currently trying to install python 3.5, but the nightly builds are 404 https://github.com/tensorflow/tensorflow/issues/3196#issuecomment-230926570

[2016-07-06 22:44] tinar9678 commented on #2482
I also have the same problem. Did you, @newbornking999 ever figure it out?

[2016-07-06 22:44] martinwicke commented on #3196
If you click on the "build history" links, you can click through to the
actual file from there.

On Wed, Jul 6, 2016 at 3:29 PM Kendall Weihe <notifications@github.com>
wrote:

[2016-07-06 22:50] aselle commented on #3148
This type of question is best asked on StackOverflow. I don't believe this is a bug. Your arange() version has a mean of 50ish. That means the learning rate provided to gradient descent will be too high for stable convergence. You can fix this by
x_data = np.arange(100).astype(np.float32) / 100
or if you don't want to change your data you'll need to reduce learning rate to .0001 and take 40000ish

[2016-07-06 22:50] #3148 closed

[2016-07-06 22:51] KendallWeihe commented on #3196
@martinwicke I'm missing the "build history" link. You're saying it's on this page right? https://www.tensorflow.org/versions/r0.9/get_started/os_setup.html#optional-install-cuda-gpus-on-linux

(that's what @aselle linked) I actually just need the latest Python 3.5 build for linux

[2016-07-06 22:55] ebrevdo commented on #2294
We just pushed support for this request. Can you confirm you see it at head?
On Jul 6, 2016 6:56 AM, "Robert DiPietro" <notifications@github.com> wrote:

[2016-07-06 23:00] aselle commented on #3163
Please re-ask this question on stackoverflow. Issues are primarily for bugs.

[2016-07-06 23:00] #3163 closed

[2016-07-06 23:01] elhigu opened #3210 "Using foldl inside while_loop doesn't seem to work"
### Environment info
Operating System: OSX

If installed from binary pip package, provide:

1. Which pip package you installed.

tensorflow (0.1.0)       - UNKNOWN
  INSTALLED: 0.9.0rc0
  LATEST:    0.1.0

2. The output from `python -c "import tensorflow; print(tensorflow.__version__)"`.

0.9.0rc0

### What have you tried?

I'm trying to use foldl inside while_loop and wrote reduced test case to f

[2016-07-07 00:13] aselle commented on #3167
Closing for now as now as this is intended behavior. Using implicit bool conversions is error prone which is why it is disallowed. Thanks!

[2016-07-07 00:13] #3167 closed

[2016-07-07 00:16] aselle commented on #3169
Like #3167, I believe the problem here is that @ilblackdragon tutorial is not up to date for 0.9. So I am closing for now.

[2016-07-07 00:16] #3169 closed

[2016-07-07 00:19] aselle commented on #3178
@QLQLQL, If your question has  been answered sufficiently, I will close.

[2016-07-07 00:26] trunerd opened #3211 "ValueError: Shape (?, ?) must have rank 1"
r9.0

code:
[code]

Stack trace:

[code]

Obviously it does have a rank of 1 but the dim itself is unknown

[2016-07-07 00:31] tobegit3hub commented on #2218
@itsmeolivia Are you still working on this?  We're looking forward to this feature as well.

[2016-07-07 00:39] martinwicke commented on #3196
They're in the readme:
CPU: http://ci.tensorflow.org/view/Nightly/job/nightly-python35-linux-cpu/
GPU: http://ci.tensorflow.org/view/Nightly/job/nigntly-matrix-linux-gpu/TF_BUILD_CONTAINER_TYPE=GPU,TF_BUILD_IS_OPT=OPT,TF_BUILD_IS_PIP=PIP,TF_BUILD_PYTHON_VERSION=PYTHON3.5,label=gpu-linux/

[2016-07-07 00:51] petewarden commented on #3139
Have you tried -mno-thumb in your compiler settings? From memory this helped when I was trying to cross-compile for the Pi (which I ended up giving up on in the end, and compiling natively on-device).

[2016-07-07 00:52] QLQLQL commented on #3178
Yeah, please close the issue. Thanks.

    On Thursday, July 7, 2016 8:21 AM, Andrew Selle <notifications@github.com> wrote:

 @QLQLQL, If your question has been answered sufficiently, I will close.—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-07-07 01:03] alexatknit commented on #1300
It looks like fp16 is very slow:
[code]

vs fp32:
[code]

[2016-07-07 02:57] benwu232 opened #3212 "Nan causes writing summary failed"
I find when I try to write some weights or biases into summaries, they cannot be Nan, or it causes the program crashed. When I turn off writing summaries, everything runs normally, unless sometimes the loss could be Nan.

Is it normal that some variables (e.g. weights, biases) be Nans at sometime and the whole training process runs ok? If it is, please modify the writing summary functions to avoid

[2016-07-07 03:33] stepelu commented on #1823
It does not seem to be documented in v0.9, where can I check this API?

[2016-07-07 03:34] normads commented on #3139
i just tried -mno-long-calls and that appears to work so far. if it fails i'll try -mno-thumb. thanks!

[2016-07-07 03:45] gallupliu commented on #2995
I would like to know how the multi-layer BLSTM to achieve ？thank you

[2016-07-07 04:30] lukesleeman commented on #3175
This seems to be a duplicate of https://github.com/tensorflow/tensorflow/issues/1468
Unfortunately #1468 was closed by the submitter after people suggested he download an old version of the NDK.

The workaround helps the person that submitted #1468, but the issue with the TensorFlow build system remains ...

[2016-07-07 04:34] josh11b commented on #3176
That sounds like a fine change to me.

[2016-07-07 04:36] aselle commented on #3183
Does this address your need @TimZaman? If so I will close this bug.

[2016-07-07 04:41] aselle commented on #3179
Please provide more information.
How did you install tensorflow? is it from binary or source? If from binary, which pip package? We typically only support and test on Mac OS X 10.11.

[2016-07-07 04:47] aselle commented on #3184
Most users install CUDA using the .sh run scripts NVIDIA provides. I assume you used a different installation method. We can't support every permutation of install methods for NVIDIA drivers, so we have chosen the way most people tend to do it, because usually people directly download from NVIDIA to get the most up to date driver. Hopefully doing such will solve your problem without the need to sy

[2016-07-07 04:49] andrewharp commented on #3175
@cardshuffle Which version of Bazel did you install? 0.3.0 is required for NDK 11 support. Otherwise you'll need to use Android NDK r10e (links in #1468) as @lukesleeman suggests.

[2016-07-07 04:50] aselle commented on #3212
NaNs usually indicate something wrong with your training. Perhaps your learning rate is too high, perhaps you have invalid data. Maybe you have an invalid operation like a divide by zero. Tensorflow refusing to write any NaNs is giving you a warning that something has gone wrong with your training.

If you  still suspect there is an underlying bug, you need to provide us a reproducible test case (

[2016-07-07 04:53] andrewharp commented on #2775
@jvmvik Are you sure this is an Android-specific issue? Does it work if you try to similarly link the non-Android libraries into your targets?

[2016-07-07 05:01] sergulaydore commented on #2218
@alexatknit When you say to use Spark, do you mean to input batches of rdd's as a placeholder?

[2016-07-07 05:42] abrahamrhoffman commented on #559
Just a shoutout to this thread! Thanks guys 👯  OS X El Capitan, rm -rvf numpy path then pip install tensorflow

[2016-07-07 06:03] #3183 closed

[2016-07-07 06:12] IvanUkhov opened #3213 "Accompany TF_LoadLibrary with TF_DeleteLibrary"
The C API provides the [following function](https://github.com/tensorflow/tensorflow/blob/r0.9/tensorflow/core/public/tensor_c_api.h#L357) for loading libraries:

[code]

The documentation says that “the caller owns the library handle” returned by the function. Unlike other functions allocating memory and returning pointers, `TF_LoadLibrary` doesn’t have a counterpart for properly freeing the memo

[2016-07-07 06:39] killuabone commented on #1013
I'm using docker and I get the same error.
[code]

[2016-07-07 06:44] timotheecour opened #3215 "build_pip_package => no such package '@iron_range_behavior//'"
bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer
works (and runs)
bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package
fails:

ERROR: ~/git_clone/tensorflow/tensorflow/tensorboard/bower/BUILD:5:1: no such package '@iron_range_behavior//': Error cloning repository: https://github.com/polymerelements/iron-range-behavior.git: cannot open git-uplo

[2016-07-07 07:17] llhe commented on #2218
@itsmeolivia Will Kerberos be supported for the HDFS integration?

[2016-07-07 07:21] kirai commented on #36
I run into the same problem. I use Mac OS X in Japanese.
[code]
Solved it :)

But I think en_us.UTF-8 should not be assumed by default on installation.

[2016-07-07 08:01] benwu232 commented on #3212
Thank you for your reply! @aselle

Here is a snapshot of my current training.
![image](https://cloud.githubusercontent.com/assets/3946864/16645430/77269270-4456-11e6-8a0b-e12b471ebaaf.png)
![image](https://cloud.githubusercontent.com/assets/3946864/16645457/ae73702c-4456-11e6-97af-4848a62e357d.png)

I turned off the writing summary so that the training can continue. If it is turned on, the program

[2016-07-07 08:34] normads commented on #3139
-mno-long-calls or -mlong-calls did not help.
-mno-thumb is not an arm option (https://gcc.gnu.org/onlinedocs/gcc/ARM-Options.html)

[2016-07-07 08:56] anantzoid commented on #86
I'm getting the same error while running `GradientDescentOptimizer ` too for the translation seq2seq exapmle. This is the exact error:

[code]

[2016-07-07 08:59] omgteam commented on #3190
I figure out a simple way, define a IdenticalSparseColumn(_SparseColumn), and transform data into multi-column SparseTensor in data preparation

    1 import tensorflow as tf
  2 from tensorflow.python.framework import dtypes
  3 from tensorflow.contrib.layers import feature_column
  4
  5
  6 class IdenticalSparseColumn(feature_column._SparseColumn):
  7   """Identical sparse column to support tr

[2016-07-07 08:59] #3190 closed

[2016-07-07 09:26] laurentk67 opened #3216 "after freezing a graph the inference time is slower than when restoring variables from checkpoint"
I'm using the  freeze_graph.py script that takes a graph definition and the corresponding checkpoint to combine them them into a single file (variables are replaced by constants). On my system (Linux, titanx tensorflow R0.9) I'm measuring aprox 50% slower inference time compared to the same graph running with  variables restored from the checkpoint file.
Is it normal?
Thanks
Laurent

[2016-07-07 09:34] xinyuwuhenZZ opened #3217 "ImportError: cannot import name pywrap_tensorflow"
I followed the TensorFlow installation instructions for Mac OS X.(Mac OS X, CPU only, Python 2.7):
export TF_BINARY_URL=https://storage.googleapis.com/tensorflow/mac/tensorflow-0.9.0rc0-py2-none-any.whl
sudo pip install --upgrade $TF_BINARY_URL

Got this error:

In [2]: import tensorflow
---------------------------------------------------------------------------
ImportError

[2016-07-07 09:35] milohoffman commented on #3184
Yes, I think you're right. Preferred installation method solved my problem. My bad, thank you. I think you may close the issue...

[2016-07-07 09:35] #3184 closed

[2016-07-07 09:54] Samurais opened #3218 "Can not build tf from source - no such package '@grpc//': Error c loning repository"
# description

Try to build&install tf from source. But it does not work with the guide.
I think it is because I am working in China and it has Great Fire Wall.

Built with commit id: 71f6bb336e5e11d6da2cedac6ba1c992ad9992bd
And OS: Mac OSX EI

[code]

Other related issues -
https://github.com/tensorflow/tensorflow/issues/1387
https://github.com/tensorflow/tensorflow/issues/1413

@fayeshine
@melod

[2016-07-07 09:57] yaroslavvb commented on #3216
Freezing graph inlines variable values into Graph definition, while checkpoint restore stores the values in Containers. Graph isn't optimized for storing large tensors so there may be some slowness introduced by this method. I would run under cProfile and visualize using snakeviz to see where the time is going

[2016-07-07 09:57] Samurais commented on #3218
Also, I am running Proxy in Global Mode. And I verified, git can clone repo from googlesource.

[2016-07-07 09:58] rdipietro commented on #2294
That's great – thanks.

I'm not seeing the change yet though ... changes must have been made to `functional_ops.py`, yes?

[2016-07-07 11:19] ibab commented on #3211
Are your tensors `one` and `two` scalars?
In that case, the error would make sense, as sparse tensor indices have rank 2 (The shape is `[N, ndims]`, where `N` is the number of non-zero elements and `ndims` the rank of the underlying tensor).

[2016-07-07 11:42] Samurais commented on #3218
I dont know why, but after running several times, the problem disappear.

[2016-07-07 12:03] newbornking999 commented on #2482
I upgraded every version of my mac-os then problem solved
try to upgrade every mac-os

2016-07-07 7:46 GMT+09:00 Tina Ryu <notifications@github.com>:

[2016-07-07 12:23] entron commented on #739
If you don't mind not using TF, then there are implementations (fast/faster) with chainer:

https://github.com/apple2373/chainer-simple-fast-rnn
https://github.com/mitmul/chainer-faster-rcnn

[2016-07-07 14:53] KendallWeihe commented on #3196
@martinwicke when I install that build it installs it in python 3.4?

[2016-07-07 14:58] KendallWeihe commented on #3128
I have installed tensorflow for python 3.4 and I'm still getting the same error `*** Error in `python3.4': free(): invalid pointer: 0x00007f98bf2eb0b0 ***`

Still trying to install for python 3.5, but the nightly builds for 3.5 install for 3.4.

[2016-07-07 14:58] lingz commented on #2685
In this case the error message is out of date and someone should patch it right?

[2016-07-07 15:08] pkonovalov-softheme commented on #17
Can the team tell us  please about estimates for native windows support?

[2016-07-07 15:13] chasep255 opened #3220 "AggregationMethod.EXPERIMENTAL_ACCUMULATE_N gives Already exists error."
I have used EXPERIMENTAL_ACCUMULATE_N in all my past tensorflow projects since it lets me use larger batch sizes.  I have never had any issues with it until now.  Now I get the following error when I run the train step.

[code]

This error goes away if I change the aggregation method of ADD_N.  Here is my code.  I am trying to implement a sequence to sequence model to translate english to german.

[2016-07-07 15:31] martinwicke commented on #3196
That's the 3.5 link, so no. The top level readme contains the nightly build
history links.
On Thu, Jul 7, 2016 at 07:53 Kendall Weihe <notifications@github.com> wrote:

[2016-07-07 15:35] KendallWeihe commented on #3196
Why would it be installing in python 3.4? When I run `python3.5 tensorflow_project.py` it gives me `no module named tensorflow` and I have confirmed it isn't in the python 3.5 directory. But I have also confirmed that when I run that installation, it refreshes my python 3.4 directory.

[2016-07-07 15:40] martinwicke commented on #3196
That probably just means your pip is setup for your Python 3.4.
On Thu, Jul 7, 2016 at 08:35 Kendall Weihe <notifications@github.com> wrote:

[2016-07-07 15:56] hellf opened #3221 "Distributed tensorflow does not allocate well 'worker' to GPUs"
### Environment info
Operating System: Ubuntu 14.04 desktop
Installed version of CUDA and cuDNN: 7.5,  5.0.5
tensorflow 0.9.0.rc0 is installed from source.

(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
$ ls -l /usr/local/cuda/lib64/libcud*
-rw-r--r-- 1 root root   322936  8 16  2015 /usr/local/cuda/lib64/libcudadevrt.a
lrwxrwxrwx 1 root root       16  8 16  2015 /usr/local/cuda

[2016-07-07 16:06] KendallWeihe commented on #3196
I am unable to find any support for installing pip for python 3.5. I've tried upgrading `sudo pip -U pip` but it tells me it is already up to date.

I've outlined everything here: http://stackoverflow.com/questions/38249961/install-pip-for-python-3-5

Any help?

[2016-07-07 16:40] aselle commented on #3186
What you're saying makes sense. What are some example processor architectures with this property? It's unlikely we are going to support it, but we would be open to a patch that detects this property in a architecture and does this alignment only when necessary. You indicate it might improve performance to do this extra alignment but it actually also might hurt performance, and without testing we a

[2016-07-07 16:49] aselle commented on #3185
You haven't provided sufficient information for us to help. The new issue template provides a list of information we need to help. It sounds like a installation problem where jupyter installation or tensorflow installation. If you see indication of a bug in tensorflow, please reopen.

[2016-07-07 16:49] #3185 closed

[2016-07-07 16:54] KendallWeihe commented on #3128
Ok I have successfully installed Python 3.5, but the error still exists. `*** Error in `python3.5': free(): invalid pointer: 0x00007f09bc3cde30 ***
Aborted (core dumped)`

I'm installed with the latest nightly build [here](http://ci.tensorflow.org/view/Nightly/job/nightly-python35-linux-cpu/)  for CPU, python 3.5.2, and ubuntu 14.04. Can you test this setup?

[2016-07-07 16:54] aselle commented on #3205
Looks like it can't find your libpython dso when running /users/user_name/tf_cray_env/bin/python. Make sure you have activated your virtualenv before running bazel if you are using virtualenv. Otherwise, maybe you need to adjust your LD_LIBRARY_PATH.

[2016-07-07 17:04] aselle commented on #3213
I suppose it is possible that the caller cannot know what free-store the memory of TF_LoadLibrary was allocated from. Unloading libraries is generally unreliable as dlclose isn't really required by POSIX to do much except invalidate the handle.

[2016-07-07 17:11] Waffleboy commented on #2810
Same problem here. Downgraded to gcc 4.9 to use theano, now tensorflow is broken with CUDA_MISALIGNED_ADDRESS. (bottleneck generation is rapidly improved though)

[2016-07-07 17:19] aselle commented on #3138
Glad to hear that @dexter4455. Closing! We can reopen if this doesn't resolve it for @jarrydfillmore

[2016-07-07 17:19] #3138 closed

[2016-07-07 17:20] gppezzi commented on #3205
Actually, the workaround we used is to re-build Python using rpath.

We hit the same problem with PCRE (dependency of Swig), which was also fixed by using rpath.

[2016-07-07 17:20] plaliberte commented on #3144
Have you had any luck on this?  I am having the same issue.

[2016-07-07 17:27] martinwicke commented on #3196
You did the right thing, Stackoverflow is the place to ask these questions.

On Thu, Jul 7, 2016 at 9:06 AM Kendall Weihe <notifications@github.com>
wrote:

[2016-07-07 17:28] aselle commented on #3154
It appears the linking of the protobuf library failed. But there is no error message just an exit code one. You'll have to see if there is a more detailed error on why that failed. If you can't find it in the bazel logs you can maybe try running the command from the shell yourself (make sure to get the environment matchin)

[2016-07-07 17:34] eplondke commented on #3186
Some ARM variants will give an exception on misaligned LDRD (but some do
not, especially if misaligned support is enabled in ARMv7).

You'd probably have a problem if someone used the buffer for a double
precision value on many targets that don't support misaligned loads and
stores (MIPS, ARM)

Sorry, my patch got formatted by github:

========
diff --git a/tensorflow/core/lib/gtl/inlined_vector.h

[2016-07-07 17:34] aselle commented on #3177
@hengtze could you fix this?

[2016-07-07 17:58] duangenquan commented on #3191
How did you fix this issue?

[2016-07-07 18:00] concretevitamin commented on #1828
Not directly applicable, but search for `ops.Tensor._override_operator` in `math_ops.py`.

Now that I think about it more - what we wanted was more like a macro, not registration.  I don't see a good solution immediately, so fine to drop it for now.

[2016-07-07 18:04] Waffleboy opened #3224 "Error polling for event status: failed to query event: CUDA_ERROR_MISALIGNED_ADDRESS"
### Summary:

Trying inceptionv3, was working fine all the way until I downgraded gcc 5+ to gcc4.9 to use Theano with keras: following this example http://deeplearning.net/software/theano/install_ubuntu.html

Now hitting this error before training starts (bottlenecks generate fine) whenever i run

bazel-bin/tensorflow/examples/image_retraining/retrain --image_dir <image dir>

[code]

Cant figure o

[2016-07-07 18:11] aselle commented on #3200
That only works on 3.5 or higher, so it would make it incompatible with python 2.x  so maybe we should do
feature_cols = dict(continuous_cols)
feature_cols.update(categorical_cols)

[2016-07-07 18:15] aselle commented on #3200
@hengtze could you take a look at the fix and integrate it if possible?

[2016-07-07 18:23] zer0n opened #3225 "Make cuDNN compile-time vs. load-time validation use major version only"
### Environment info
Operating System: Ubuntu 14.04

Installed version of CUDA and cuDNN:
[code]

If installed from binary pip package, provide:

1. Pip package: `https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.9.0-cp27-none-linux_x86_64.whl`
2. The output from `python -c "import tensorflow; print(tensorflow.__version__)"`.
[code]

### Steps to reproduce
1. `git clone https://gith

[2016-07-07 18:24] zer0n commented on #3225
The benchmark script ran fine with TF 0.8.

[2016-07-07 18:43] zheng-xq commented on #3224
@Waffleboy, what type of GPU do you have?

[2016-07-07 19:13] aselle commented on #3225
Did doing what the message say, work? I.e. you are using a binary pip so try upgrading cudnn?

[2016-07-07 19:40] chasep255 commented on #3220
When I replaced the dynamic_rnn in the encoder scope with something I unrolled my self the issue goes away.

[code]

[2016-07-07 19:56] fjanoos opened #3226 "Failure to build from source"
Hello,
I'm trying to build tensorflow with GPU enabled from source using the instructions given here. https://www.tensorflow.org/versions/r0.9/get_started/os_setup.html#installation-for-linux.

The build for the tutorial_example_trainer fails for me, with no error messages that I can discern. Please advise

[code]

### Environment info
Operating System:
Debian 3.16.7

Installed version of CUDA and

[2016-07-07 20:05] aselle commented on #3226
Debian 3.16 is quite an old version of Linux, so it is unsurprising that you need to build custom gcc and hack the build configuration. It's unclear whether you were able to get it to work with your custom changes to the build file or not. Regardless, I would suggest upgrading to a version we support like Ubuntu 16. Unfortunately, we are unable to support older versions of Linux. I am closing for

[2016-07-07 20:07] aselle commented on #3197
@rubenstern, does this address your need. If so please close the bug.

[2016-07-07 20:21] fjanoos commented on #3226
I am not able to upgrade since I don't have admin on this machine.
Therefore, I would appreciate it if you can point me to what the cause of the error / failure is ?

[2016-07-07 20:27] zheng-xq commented on #2810
@johnfrombluff, @tsitsilin, @acowlikeobject, @kalleknast, @dzupin, @floringogianu, @MartianWearables, sorry that we cannot reproduce this problem on our side. I will try to guess where the problem is and see whether it could be fixed.

Among folks who encountered this problem, what is common is that all used gm107 and gm108 based GPUs. That is compute capability 5.0. TensorFlow binary by default c

[2016-07-07 21:09] aselle commented on #3226
I apologize that I can't tell you what the problem is, and I can't reproduce your problem since we don't have any machines with your operating system. So, if you want to get it working, you will need to go into the bazel build log you attached, search for the word error and discover that. Doing that, it looks like a "dependency is undeclared". That usually means the build file has incorrectly decl

[2016-07-07 21:28] aselle commented on #3210
I see this in r0.8, but in r0.9 I do not see it (at least on the docker containers I was using). Could you give r0.9 or nightly a try.

[2016-07-07 21:33] aselle commented on #3172
I think the right answer is probably inf steps / second since as seconds goes to zero the relative performance should become arbitrarily large. The question is whether the Summary system is able to handle that..

[2016-07-07 21:41] aselle commented on #3202
The right thing to do is probaly use tempfile module which will use the standard temp directory TMPDIR or TMP or TEMP depending on platform. Please feel free to submit a PR at this time. I'll also file an internal bug to improve our handling of temporary files, because this is not an isolated problem.

[2016-07-07 21:46] LeavesBreathe commented on #2789
@alquraishi what you are suggesting only applies when you use the dropout wrapper from `rnn_cell.py`. However, if you just apply dropout at the `rnn.py` level, you can easily adjust the stochastic dropout masks should change on each timestep.

I'm working on implementing zoneout right now and I think that all you need to do is use `tf.nn.dropout` to achieve this with `rnn.py`

[2016-07-07 21:52] ahmetemir commented on #3172
And statistically you can't trust the results of such a low sample measurement.To get more precise results, same test have to run for a long period of time over and over and you have to analyze the results using statistics.

[2016-07-07 21:57] aselle commented on #510
Automatically closing due to lack of activity.

[2016-07-07 21:57] #510 closed

[2016-07-07 21:59] aselle commented on #2174
Automatically closing due to lack of activity.

[2016-07-07 21:59] #2174 closed

[2016-07-07 22:09] elhigu commented on #3210
I thought I was running  r0.9 directly from pip install. I'm using python3 could it cause the difference? Is there way to install nightly with pip?

[code]

[2016-07-07 22:15] elhigu commented on #3210
I ran tensorflow install again, and indeed its not failing anymore 👍

[code]

Thanks!

[2016-07-07 22:15] #3210 closed

[2016-07-07 22:17] alquraishi commented on #2789
@LeavesBreathe yes I'm aware but I wanted to keep the clean software design of the dropout wrapper. Btw, I have already implemented zoneout, and will be submitting a PR.

[2016-07-07 22:24] cgarciae opened #3228 "Dockerhub image tags naming inconsistency"
Hi,

I see on dockerhub that the image for version `r0.8` is the tag `0.8.0` but for version `r0.9` is `r0.9`. It would be nice if they were consistent so you don't have to look up every time you want to update.

[2016-07-07 22:46] andrewharp commented on #2084
@l4chong You can edit [TensorflowImageListener.java](https://cs.corp.google.com/piper///depot/google3/third_party/tensorflow/examples/android/src/org/tensorflow/demo/TensorflowImageListener.java?q=tensorflow/examples/android+inception&sq=package:piper+file://depot/google3+-file:google3/(experimental%7Cobsolete)&l=45) according to the comment there to adapt it to handle Inception v3.

[2016-07-08 00:09] ajaech commented on #3188
I think each lstm cell should be defined in it's own named scope.

[code]

[2016-07-08 01:11] aselle commented on #3210
Glad it worked!

[2016-07-08 01:39] nikitakit commented on #5
@lakshmanok

The part of my code that deals with tensorflow graphs is here: https://gist.github.com/nikitakit/d3ec270aee9d930267cec3efa844d5aa

It's in Scala, but porting to Java / other JVM language should be straightforward.

My code for actually running nodes in the graph is unfortunately heavily tied up with a Scala framework I'm using, so you'll have to rely on the tensorflow API docs for thi

[2016-07-08 03:16] raingo commented on #3226
The following error
[code]
can be solved by adding the line
[code]
in `tensorflow/third_party/gpus/crosstool/CROSSTOOL` at around line 64.

Basically, you need to tell bazel the location of the GCC include path.

Good luck, but since you've got gcc 4.9.1 installed, it should be possible.

I've done this successfully with gcc4.8.5, also on an old system.

[2016-07-08 03:34] Waffleboy commented on #3224
@zheng-xq GeForce GTX 860M/PCIe/SSE2

[2016-07-08 03:51] wwfeng2 opened #3232 "ImportError: cannot import name pywrap_tensorflow"
Operating System: MAC ISO 10.11

[2016-07-08 03:54] fjanoos commented on #3226
thanks. that solved it!
On Jul 7, 2016 23:18, "Raingo" <notifications@github.com> wrote:

[2016-07-08 04:54] zheng-xq commented on #3224
Please look at my comment in the other thread, and see if that fixes your problem. Thanks.

https://github.com/tensorflow/tensorflow/issues/2810#issuecomment-231197086

[2016-07-08 06:18] kakashidan commented on #2721
@petewarden  I also had the same problem. I tested ```tensorflow/examples/label_image/main.cc``` and it took 5 seconds or more to predict the result. However, evaluation tested using python only took 0.5 seconds more or less.
Do you have any idea about the difference about performance?

[2016-07-08 06:21] vrv commented on #2721
If compiling the binary using bazel, I suspect you are not compiling your binary with -c opt or --copt=-mavx  on the command lines.  But we'd need more information to debug this anyway.

[2016-07-08 06:53] nikitakit opened #3233 "partial_run can't do incremental feeds in InteractiveSession"
Here is a section of code copied from the docstring of `partial_run`, with required import statements added. However, note that this constructs an `InteractiveSession` instead of a `Session`.

[code]

The code fails with a `NotFoundError`. When the `InteractiveSession` is replaced by a normal `Session`, the code runs correctly. The difference between the two is that the interactive session sets th

[2016-07-08 06:56] Waffleboy commented on #3224
Hi, thanks for your reply!

I ran ./configure to do what you said, but now i get this strange error:

[code]

I have double and triple checked that the files are there, and that it was cuDNN v4. Should i ignore this and select default?

[2016-07-08 07:00] Waffleboy commented on #3217
You're running the script in the same directory as tensorflow. Move it out and you should be fine.

[2016-07-08 07:01] Waffleboy commented on #3232
See https://github.com/tensorflow/tensorflow/issues/3217

[2016-07-08 07:01] zheng-xq commented on #3224
Normally the versions are like 4.0.7. You can check the name of the library for the version number.

ls /usr/local/cuda-7.5/lib64/libcuda.so.*

[2016-07-08 07:13] hellf opened #3234 "distributed tensorflow does not use GPU 1,2,3 on server B"
### Environment info
Operating System: Ubuntu 14.04 desktop
Installed version of CUDA and cuDNN: 7.5,  5.0.5
 tensorflow 0.9.0.rc0 is installed from source.

--------------------------------------------------------------------------------------------------------------------

I'm using distributed tensorflow with 8 Titan-x GPUs in two servers.
4 GPUs are in one server.

GU=gpu utilization

These ar

[2016-07-08 07:14] #3221 closed

[2016-07-08 07:15] hellf commented on #3221
https://github.com/tensorflow/tensorflow/issues/3234

[2016-07-08 07:36] kakashidan commented on #2721
@vrv Thank you very much!
It really helps.

[2016-07-08 07:37] siddharth-agrawal commented on #1828
@concretevitamin If we are dropping this, then this issue has been resolved. Unless, of course, there is some problem with the list I provided above.

[2016-07-08 08:08] ohmystack commented on #217
@staranjeet I don't think we should ignore any pep8 errors, `E501,E111,E114,E701`.

Every developer should config his/her Python editor with a full PEP8 checker.

Like the [coding style](http://docs.openstack.org/developer/hacking/) of OpenStack, the largest open source project in Python, says,

I know that TensorFlow has made some declaration about `E111` in [Coding Guide](https://www.tensorflow.

[2016-07-08 08:17] ohmystack commented on #217
You can use a tool [autopep8](https://pypi.python.org/pypi/autopep8) to fix all of the PEP8 things. Though this may effect the `git blame` now, it will take a good effect to the future.

[2016-07-08 08:40] Waffleboy commented on #3224
I can't even generate the bottlenecks now.. It instantly fails =/

[code]

[2016-07-08 09:20] Waffleboy commented on #1528
Hi @thammegowda , Can I ask, how would I install it on ubuntu? thanks alot for your help! :)

[2016-07-08 09:21] zhaolili commented on #2890
I am facing the same problem, i am using Ubuntu 14.04 cuda 7.5

[2016-07-08 09:32] hit-suit commented on #1924
put "import pylab"  before "import tensorflow as tf" and it may help
so, the code likes this

`
import pylab
import tensorflow as tf

blabla....
`

[2016-07-08 09:33] hit-suit commented on #1927
put "import pylab"  before "import tensorflow as tf" and it may help
so, the code likes this

[code]

[2016-07-08 09:37] #3205 closed

[2016-07-08 09:49] hbfs commented on #22
any chance of getting acceleration on the rx 480?

[2016-07-08 09:58] Robin-des-Bois commented on #3205
For Piz Daint users who might stumble upon this issue:
[Building TensorFlow on Piz Daint](https://github.com/eth-cscs/TensorFlow/wiki/TensorFlow-0.9.0-Daint-GPU-build)

[2016-07-08 10:07] zer0n commented on #3225
As you can see from the `ls -l /usr/local/cuda/lib64/libcud*`, my cuDNN is already 4.0.7. I cannot upgrade cuDNN further.

[2016-07-08 10:21] dzhwinter commented on #3194
release version of system as you guessed, RHEL6.3, actually .

1. this is an problem in fact since our cluster is offline, which means the cluster physical isolation with internet. And bazel clone a lot of dependency files from elsewhere.
I use tensorflow smoothly on my workstation, but when it comes to company level cluster envrionment, Since the building tool system do not support linux version

[2016-07-08 10:50] naibaf7 commented on #22
@benoitsteiner
LibDNN standalone would be available for integration:
https://github.com/naibaf7/libdnn

[2016-07-08 11:51] MycChiu commented on #1045
@timmeinhardt Thank you! your comment put me on the right track. However, I think the current [master branch](https://github.com/tensorflow/tensorflow/blob/71f6bb336e5e11d6da2cedac6ba1c992ad9992bd/tensorflow/python/training/input.py#L83) put the created variables into the LOCAL_VARIABLES collection, so i had to initialize with tf.initialize_local_variables() as well.

[2016-07-08 13:10] drdozer commented on #5
Has anyone got anywhere with embedding the python tensorflow environment in the jvm? Say with jython + JyNI? Or is this all a bit too experimental to get to work reliably?

[2016-07-08 13:41] Kontrakt commented on #3201
I have encountered the same problem. Tensorflow also allocates memory for gradients of intermediate operations and it makes working with large models impossible. It would be great to hear reasons for such memory model and how unnecessary allocations can be avoided.

[2016-07-08 14:08] aselle commented on #3194
The simplest easiest way to deploy tensorflow is probably through docker or virtual machine. People do get it to work on older clusters, and if you search around issues you might find the solution to your problem. But it will not be easy. Good luck!

[2016-07-08 14:11] aselle commented on #3225
You probably have both an old and new version of cudnn on your machine and your search path LD_LIBRARY_PATH is finding the old one. Read the manual on LD_DEBUG so you can trace what libraries are loading (use grep with it)

[2016-07-08 14:20] hassnov commented on #3068
What tensorflow version were you using?

[2016-07-08 14:52] LeavesBreathe commented on #2789
Thanks @alquraishi . On your implementation of zoneout, did you multiply the outputs by `1 - (1/d)` in order to maintain the sum of the outputs the same? I tried to see if they did that in the paper and couldn't find if they did that or not.

Also, did you end up using the LSTM variant that they showed right before section 4? http://arxiv.org/pdf/1606.01305v2.pdf

I find that these elements may be

[2016-07-08 15:03] claguna commented on #3085
Sorry if this is a naive question:

What is the standard way to verify that "everything still works"?
Is there a test suite to validate changes?

[2016-07-08 16:35] vrv commented on #3225
What @aselle suggests is a good short-term diagnosis solution.

We can probably start thinking about making this check a little less restrictive by comparing only the major version number.  I believe NVidia has been providing ABI compatibility within major versions lately.  I'll try to get to this some time.

[2016-07-08 16:54] aselle commented on #3152
What version of tensorflow are you using on what operating system and version? Have you tried it with r0.9?

Original Error was
 with NotFoundError: Tensor name "input_producer/limit_epochs/epochs" not found in checkpoint files

[2016-07-08 16:54] zheng-xq commented on #3224
@martinwicke, @vrv, have you seen this error before, on Ubuntu 16.04?

ImportError: /storage/git/tensorflow/bazel-bin/tensorflow/examples/image_retraining/retrain.runfiles/org_tensorflow/tensorflow/python/_pywrap_tensorflow.so: undefined symbol: _ZNK6google8protobuf7Message11GetTypeNameEv

From the following link, it seems to be a compiler version related issue.

https://github.com/szagoruyko/load

[2016-07-08 16:57] aselle commented on #3161
Could you please provide a reproducible test case?  Please also follow the instructions in new issue and provide us the PIP version you used if a binary, what version of the source if built as source, what version of MacOS you are using?

[2016-07-08 16:59] aselle commented on #3188
Thank you for the response @ajaech. That should prevent the name conflict. @chrisgrimm  please close the issue if this solved your problem.

[2016-07-08 16:59] concretevitamin commented on #1828
@siddharth-agrawal I am closing this issue.  Thanks again for your awesome series of work on this!

[2016-07-08 16:59] #1828 closed

[2016-07-08 17:01] chrisgrimm commented on #3188
Thanks for clearing this up!

[2016-07-08 17:01] #3188 closed

[2016-07-08 17:17] staranjeet commented on #217
So I can start working on this?. What should be the line length that we are following for E501?

[2016-07-08 17:24] lorenlugosch commented on #1592
would also be interested in this!

[2016-07-08 17:45] aselle commented on #3205
Sure, rpath is also an option for finding shared libraries. Glad you got it to work!

[2016-07-08 17:47] vrv commented on #3180
Seems like a nice option for a future compiler optimization -- as @TimZaman said, I suspect this doesn't show up as a huge performance win yet, but these types of optimizations are definitely on our mind.

Btw, I would argue that when the user can't tell the difference, we should automatically do the optimization (e.g., if the only consumer of ReLU is MaxPooling -- no manual fetching or summaries,

[2016-07-08 17:48] aselle commented on #3226
Glad it worked!

[2016-07-08 17:48] #3226 closed

[2016-07-08 18:26] eplondke commented on #3186
Created pull request with fix

[2016-07-08 18:53] thammegowda commented on #1528
@Waffleboy Try using the same version for creating the model as well as for using the model (i.e. retrain.py and classify.py).

(Here are the scripts am I using to retrain & classify - https://github.com/thammegowda/notes/tree/master/deeplearning/imagerec, these are working fine with `v0.9.0rc0` - installed using pip on OS X )

[2016-07-08 19:34] zer0n commented on #3225
@aselle Thanks. There was indeed a hidden cudnn 4.0.4.

[2016-07-08 19:38] vighneshbirodkar opened #3238 "Android example fails to build with AndroidResourceProcessingAction: No such file or directory"
### Environment info
Operating System:
Ubuntu 16.04 LTS

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
[code]

If installed from binary pip package, provide:

1. Which pip package you installed.:
Compiled python wheel from source and installed it. But I don't think that is relevant for building the Android demo. I maybe wrong.
2. The output f

[2016-07-08 19:41] josh11b commented on #5
I am currently working on expanding the C API to add support for graph definition.  Not sure when it will be done, but it is one of our goals before 1.0.

[2016-07-08 19:41] josh11b commented on #476
I am currently working on expanding the C API to add support for graph definition.  Not sure when it will be done, but it is one of our goals before 1.0.

[2016-07-08 19:44] vrv commented on #3225
Reopening to keep the feature request open

[2016-07-08 19:45] josh11b commented on #2494
I'm sorry, I have no idea about this.

[2016-07-08 19:48] josh11b commented on #1277
Maybe @shlens would know more about the Cifar example? Is there a standard main loop now that handles this error?

[2016-07-08 20:06] andrewharp commented on #3238
The steps you've tried should be sufficient. Did you clone recently? The current version of TF is 0.9.0, but you are seeing 0.8.0

[2016-07-08 20:09] vighneshbirodkar commented on #3238
Yes I cloned today. The tensorflow wheel I installed was compiled from source a month back. That should not matter, right ?

[2016-07-08 20:17] andrewharp commented on #3238
Which version of Bazel are you using?

Can you please bazel clean, then run:
`bazel build //tensorflow/examples/android:tensorflow_demo --verbose_failures -s`
and paste the full log?

[2016-07-08 20:20] vighneshbirodkar commented on #3238
Bazel details are
[code]

I will paste the log shortly. Should I run `./configure` before building ?

[2016-07-08 20:23] andrewharp commented on #3238
It shouldn't be necessary to run configure for the Android demo.

I'd try upgrading to the most recent bazel (0.3.0) first to see if that fixes your problem.

[2016-07-08 20:28] ScartleRoy commented on #2995
@gallupliu A simple skeleton is like:
[code]

Using ```bidirectional_dynamic_rnn``` would make you create the model faster.

[2016-07-08 20:34] shlens commented on #1277
If this is an issue due to poor handling of running to the end, then yes there is a better way to handle this.
Namely, one would need to update [cifar10_multi_gpu_train.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/models/image/cifar10/cifar10_multi_gpu_train.py) to employ the [Supervisor](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/supervi

[2016-07-08 20:36] vighneshbirodkar commented on #3238
Thanks @andrewharp That fixed the issue. I remember specifically downgrading bazel because tensorflow (0.8.0) would not build with newest bazel. Closing this

[2016-07-08 20:36] #3238 closed

[2016-07-08 21:06] danmane commented on #3085
You can run bazel test //tensorflow/... to run every test, although that will be unnecessary since it will test a lot of code you haven't touched at all. bazel test //tensorflow/python/... is plenty.

When you submit a PR, we will have Jenkins test it, and this will test and build the code in several different environments.

[2016-07-08 21:06] el3ment opened #3239 "FFT gradient over variables fails"
The following code fails with an error `ValueError: Shapes (3, 32, 28, 28) and () are not compatible`

[code]

Performing backprop of an FFT over a variable is important for reproducing the work found [https://hips.seas.harvard.edu/files/rippel-spectral-nips-2015.pdf](https://hips.seas.harvard.edu/files/rippel-spectral-nips-2015.pdf)

[2016-07-08 21:29] zxzhijia commented on #1528
@thammegowda I tried to use your classify.py as below: it gives me the same error:

python classify.py --in=/home/xu/Desktop/Robot/Data/a/0.jpg --model=/home/xu/Desktop/Robot/retrained_graph.pb --labels=/home/xu/Desktop/Robot/retrained_labels.txt
W tensorflow/core/framework/op_def_util.cc:332] Op BatchNormWithGlobalNormalization is deprecated. It will cease to work in GraphDef version 9. Use tf.nn

[2016-07-08 21:31] zxzhijia commented on #1528
@thammegowda  I trained and tested them on my linux with anaconda installed tensorflow 0.9.0.

[2016-07-08 22:00] ringw commented on #2423
Hi Dustin,

Sorry for the delay. gen_random_ops is generated automatically in the build process from the ops defined in [random_ops.cc](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/random_ops.cc). The Python code itself is generated by [python_op_gen.cc](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/framework/python_op_gen.cc), but each function

[2016-07-08 22:07] zxzhijia commented on #1528
@thammegowda  Ok, I reinstalled tensorflow 0.9.0rc0. It still shows the same error.

(tensorflow)xu@xu-Lenovo-Yoga-2-Pro:~$ pip show tensorflow
---
Metadata-Version: 2.0
Name: tensorflow
Version: 0.9.0rc0
Summary: TensorFlow helps the tensors flow
Home-page: http://tensorflow.org/
Author: Google Inc.
Author-email: opensource@google.com
Installer: pip
License: Apache 2.0
Location: /home/xu/anaconda

[2016-07-08 23:35] martinwicke commented on #3228
Yes. r0.9 should be 0.9.0. We should update our scripts.

[2016-07-08 23:42] aselle commented on #3168
This appears to be a regression since r0.9. Can you try r0.9 and see if it works for you?

[2016-07-09 00:03] aselle commented on #3201
It is always possible to create monolithic custom ops on your side when you find bottlenecks that are show stoppers. However, we are always working to improve performance. Perhaps  @michaelisard @vrv can provide context and point of view.

[2016-07-09 00:07] lahwran commented on #3196
http://ci.tensorflow.org/view/Nightly/job/nigntly-matrix-linux-gpu/TF_BUILD_CONTAINER_TYPE=GPU,TF_BUILD_IS_OPT=OPT,TF_BUILD_IS_PIP=PIP,TF_BUILD_PYTHON_VERSION=PYTHON2,label=gpu-linux/150/

as of build 151, the name changed from none-linux to none-any.

[2016-07-09 00:11] aselle commented on #3168
Assigning @josh11b as he is the original author of fully_connected_preloaded.py

[2016-07-09 00:14] aselle commented on #3218
Ok, closing for now since it seems like a network caching issue.

[2016-07-09 00:14] #3218 closed

[2016-07-09 00:15] aselle commented on #3216
@yaroslavvb's response seems most plausible. Please let us know if it seems to be some other bug rather than performance implications of the strategy. Thanks!

[2016-07-09 00:17] aselle commented on #3217
Thanks for the response @Waffleboy. @xinyuwuhenZZ , please close the issue if this resolves installation for you.

[2016-07-09 00:17] aselle commented on #3232
Thanks for the reply @Waffleboy. @wwfeng2 please close the issue if this suggestion resolves your problem.

[2016-07-09 00:24] aselle commented on #3198
@mrry, could you please take a look.

[2016-07-09 00:25] #3177 closed

[2016-07-09 00:26] aselle commented on #3215
Make sure you can actually git clone thoise packages manually.
See https://github.com/bazelbuild/bazel/issues/587 for information about bazel behind a proxy.

[2016-07-09 00:36] aselle commented on #3233
I am able to reproduce this. @yuanbyu could you take a look, as you have looked at other partial_run issues?

[2016-07-09 00:36] zxzhijia commented on #1528
@thammegowda Ok, it works now. I was using example files from tensorflow 0.9.0 from github. I updated it to 0.9.0rc0, now it works. Thank you.

[2016-07-09 00:37] aselle commented on #3203
Assigning @danmane since he is on sync rotation next week to see the patch through.

[2016-07-09 00:53] aselle commented on #3239
Correct me if I'm wrong @vrv, but batch_ifft2d does not have a gradient on the cpu. I assume you are using a cpu build. If you want to do gradients of fft's you need to use a gpu. (assigning to @petewarden  as internal bug 29447493 is assigned to him)

[2016-07-09 01:01] aselle commented on #3234
Could you please take a look @mrry.

[2016-07-09 01:08] aselle commented on #3220
It is a known issue with using EXPERIMENTAL_ACCUMULATE_N with dynamic_rnn. But it really shouldn't be needed for dynamic_rnn's  already accumulates internally. @yuanbyu  or @ebrevdo can elaborate. Closing for now since it is an experimental feature that is technically unsupported.

[2016-07-09 01:08] #3220 closed

[2016-07-09 01:36] eyewy commented on #3200
But the error in line 215 of dnn_linear_combined.py still persists.

[2016-07-09 01:44] aselle commented on #3193
Correct me if I'm wrong @martinwicke, I believe that if you specify model_dir to the classifier constructor, you will get an autosaved model i.e.
[code]
Let me know if this fixes your issue.

[2016-07-09 02:23] chunfuchen commented on #3191
encounter the same issue.

[2016-07-09 02:45] staranjeet commented on #217
@ohmystack @martinwicke : any comments?

[2016-07-09 03:15] wtusm commented on #3200
yes

[2016-07-09 03:16] wtusm commented on #3200
under the python3.5, the newest wide_n_deep_tutorial.py still encounter the  problem of "TypeError: unorderable types: _SparseColumnHashed() < str()"

[2016-07-09 03:24] aselle commented on #2610
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-09 03:24] #2610 closed

[2016-07-09 03:33] aselle commented on #2610
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-09 03:33] aselle commented on #2662
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-09 03:33] #2662 closed

[2016-07-09 03:33] aselle commented on #2771
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-09 03:33] aselle commented on #2766
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-09 03:33] #2766 closed

[2016-07-09 03:33] #2771 closed

[2016-07-09 03:33] aselle commented on #2895
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-09 03:33] aselle commented on #2753
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-09 03:33] #2753 closed

[2016-07-09 03:33] #2895 closed

[2016-07-09 03:33] aselle commented on #2928
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-09 03:33] #2928 closed

[2016-07-09 03:33] aselle commented on #2496
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-09 03:33] #2496 closed

[2016-07-09 03:33] aselle commented on #2777
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-09 03:33] #2777 closed

[2016-07-09 03:33] aselle commented on #2780
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-09 03:33] aselle commented on #3047
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-09 03:33] aselle commented on #3081
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-09 03:33] #3081 closed

[2016-07-09 03:33] aselle commented on #2825
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-09 03:33] aselle commented on #3092
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-09 03:33] aselle commented on #3119
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-09 03:33] #3119 closed

[2016-07-09 03:33] #3092 closed

[2016-07-09 03:48] aselle commented on #3059
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-09 03:48] #3059 closed

[2016-07-09 03:49] aselle commented on #2293
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-09 03:49] #2293 closed

[2016-07-09 03:49] aselle commented on #3034
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-09 03:49] #3034 closed

[2016-07-09 03:51] lw394 commented on #2773
I'm having the same problem as @peterswang.

$ python
Python 2.7.12 |Continuum Analytics, Inc.| (default, Jul  2 2016, 17:43:17)
[GCC 4.2.1 (Based on Apple Inc. build 5658) (LLVM build 2336.11.00)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
Anaconda is brought to you by Continuum Analytics.
Please check out: http://continuum.io/thanks and https://anaconda.org

[2016-07-09 03:52] aselle commented on #2621
At this point I'd recommend trying things on 0.9 since 0.7.1 is quite old at this point. If you want further help, a complete reproducible test case would be necessary.

[2016-07-09 03:52] aselle commented on #2631
Closing since it seems to be of no further problem. Reopen if further bugs are discovered.

[2016-07-09 03:52] #2631 closed

[2016-07-09 03:53] aselle commented on #2636
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-09 03:53] #2636 closed

[2016-07-09 03:54] aselle commented on #2758
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-09 03:54] #2758 closed

[2016-07-09 04:00] aselle commented on #2452
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-09 04:00] #2452 closed

[2016-07-09 04:09] IvanUkhov commented on #3176
Fixed in #3214.

[2016-07-09 04:09] #3176 closed

[2016-07-09 04:12] Waffleboy commented on #3224
I dowongraded to 4.9 to use another library. Is there a way to link tensorflow only to gcc5?

[2016-07-09 06:07] el3ment commented on #3239
Perhaps I am not doing it right -- but calling `tf.device(":gpu0"):` resulted in the same error

[2016-07-09 06:29] oahziur opened #3245 "Training learn.DNNClassifier iteratively does not yield similar result"
### Environment info
Operating System: OS X 10.11.5

If installed from binary pip package, provide:

1. Which pip package you installed.
[code]

2. The output from `python -c "import tensorflow; print(tensorflow.__version__)"`.
[code]

### Steps to reproduce
1. I used the code in [tf.contrib.learn.QuickStart](https://www.tensorflow.org/versions/r0.9/tutorials/tflearn/index.html#tf-contrib-learn-qu

[2016-07-09 07:29] zheng-xq commented on #3224
In the "configure", you should be able to specify which version of gcc you want to use.

[2016-07-09 08:03] uenoyama commented on #3068
the **master branch** of tensorflow works well with GTX1080, CUDA8.0 and cudnn5.
(r0.9 doesn't work.)

[2016-07-09 08:51] Vijayenthiran commented on #3193
Thanks @aselle. Providing model_dir parameter to the classifier worked. It saved 8 files in a folder. I was expecting one `.ckpt` file.
How do I restore this classifier? `learn.Estimator.restore()` does not work.

[2016-07-09 09:23] EN10 commented on #3043
had the same error, thanks.

[2016-07-09 09:41] KnHuq commented on #208
The problem of scan and map together is solved by the latest release of Tensorflow.

[2016-07-09 13:26] siddharth-agrawal commented on #1828
@concretevitamin Thanks! If there are any other `SparseTensor` ops I can help with, do let me know.

[2016-07-09 15:03] martinwicke commented on #3193
Right now that's a bit of a mess. Provide the same model_dir, call fit
again (you can pass max_steps to prevent it from actually doing anything),
then predict should work.

We're working on re-enabling proper save/restore.
On Sat, Jul 9, 2016 at 01:51 Vijayenthiran Subramaniam <
notifications@github.com> wrote:

[2016-07-09 15:46] Vijayenthiran commented on #3193
@martinwicke Pardon my daftness, `classifier.fit()` doesn't seems to accept `max_steps` are parameter. Can you provide an example?

[2016-07-09 16:19] martinwicke commented on #3193
Oh sorry. That is at master but not in 0.9. You should be able to use the
steps argument. Just be warned that we're in the process of changing this.
On Sat, Jul 9, 2016 at 08:47 Vijayenthiran Subramaniam <
notifications@github.com> wrote:

[2016-07-09 17:32] davidbernat opened #3246 "tf.matmul() fails when matrices are sparse, even if a_is_sparse is set. Cryptic error."
tf.matmul(A, B, a_is_sparse=True) fails on a = ops.convert_to_tensor(a, name="a") with cryptic error.

Example code:
[code]

Error:
 line 12, in <module>
    _ = sess.run(tf.matmul(x, y, a_is_sparse=True), feed_dict={
  File "/usr/local/lib/python2.7/site-packages/tensorflow/python/ops/math_ops.py", line 1189, in matmul
    a = ops.convert_to_tensor(a, name="a")
  File "/usr/local/lib/python2.7/si

[2016-07-09 18:35] skywildworld commented on #3200
This works fine for me(python 3.4).
Change function _get_dnn_feature_columns in learn/python/learn/estimators/dnn_linear_combined.py as:

def _get_dnn_feature_columns(self):
    return sorted(
        set(self._dnn_feature_columns),
        key=lambda x: x.key) if self._dnn_feature_columns else None

[2016-07-09 19:14] khurram18 commented on #3001
I want to work and enhance using BNNS on iOS. Can anybody suggest from where to start.

[2016-07-09 21:21] tanmayshankar opened #3247 "Different padding boundaries for different directions."
Hello,

I recently started to use TensorFlow to implement and idea using 3D convolutions. It requires me to use different padding boundary conditions along spatial and temporal directions (dimensions) of the tensor (I need `padding='SAME'` for spatial and `padding='VALID'` for temporal directions).  `tf.nn.conv3d` and `tf.nn.max_pool3d` specify padding for the operation as a whole.

Is there any w

[2016-07-09 22:12] eyewy commented on #3200
Thanks, checked with 3.5, and your solution solves the issue.

[2016-07-09 23:33] Mistobaan commented on #10
I tried the go branch after a rebase and it works on my mac. Now I would like to propose some changes with a PR (https://github.com/Mistobaan/tensorflow/tree/go). But clearly the current go branch is behind respect to master and the PR is huge.
Should we rebase the main go branch or merge it in master and keep continuing the development there?
What is the best feasible strategy to keep patches com

[2016-07-09 23:50] alonsovidales commented on #10
Hi @Mistobaan , I've been a bit out the last months because I'm moving to Dublin. @dave-andersen mentions on a previous comment that someone at Google could be interested on taking ownership of the Go development, the code was lent in the Go branch waiting for the integration with Jenkins and for other people to play with it and provide some feedback, I'm not sure about what is the current status.

[2016-07-10 00:16] wfs opened #3251 "tensorflow mobile : pi_examples - unable to locate graph.pb.h"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-07-10 01:46] thammegowda commented on #1528
@zxzhijia I am glad you found a way to get around with this issue! Good luck

[2016-07-10 02:03] ericox commented on #1824
@prb12 I've started work on the plumbing for the distributed trace plumbing discussed earlier. I got a bit delayed but I did some code injection to see what relevant code gets executed during a distributed run. FWIW my group mates and I were hoping that we could try to aggregate trace files by merging the json data from individual worker nodes, but it seems that no data is generated for the Chrome

[2016-07-10 02:05] concretevitamin commented on #1824
@ericox I believe it is exactly due to that.  The whole stack of `RunOptions/RunMetadata -> StepStats -> Chrome timeline` is currently supported in `DirectSession` only.

[2016-07-10 02:07] ericox commented on #1824
@concretevitamin Ok thanks. I thought I may have been missing something.

[2016-07-10 03:33] lan2720 opened #3254 "Cannot see summaries after running "mnist_with_summaries" exmaple"
Hi, I'm learning something about tensorboard and summaries. After I run the code from /tensorflow/examples/tutorials/mnist/mnist_with_summaries.py, open the tensorboard, I can't see any histograms or scalar summaries. All are blank. It's wired.
![](http://ww3.sinaimg.cn/large/901f9a6fjw1f5on9oq9tnj20a90m5wft.jpg)
![](http://ww1.sinaimg.cn/large/901f9a6fjw1f5on9xq4npj20iy0gt0uw.jpg)

operation syst

[2016-07-10 04:09] petewarden commented on #3191
I have a pending fix in PR #3253. It was caused by an error in the ordering of header and library paths, so the build would pull from global /usr/local installations of different versions of the protobuf library, which didn't match the results from the locally-built protoc.

[2016-07-10 04:58] #3213 closed

[2016-07-10 05:45] Vitiell0 commented on #3200
I had the same _SparseColumnHashed() < str() error on wide_n_deep_tutorial.py

The change skywildworld suggested fixed it for me as well on 3.5

[2016-07-10 06:53] Damcy opened #3256 "[feature request]copy lstm parameters"
I'm using tensorflow to implement DQN network and use LSTM at the bottom layer.

But in DQN, a target network is used(coping the main network and keep it for a while, and at the mean time update the original network), when use the `tf.Variable` as parameter A, I can use `tf.Variable.assign` to copy A to A', but when I use LSTM, it seems like there is no way to do this copy operation.

Or maybe the

[2016-07-10 10:34] tomrunia commented on #2838
I am also interested in having a good way to remember the LSTM states for the next batch. This question was also asked by me on StackOverflow: http://stackoverflow.com/questions/38241410/tensorflow-remember-lstm-state-for-next-batch-stateful-lstm

[2016-07-10 13:20] lw394 commented on #2773
here's my output from gdb after running a script that only imports tensorflow, followed by bt.

(gdb) run testtf.py
Starting program: /Users/lw17567/anaconda2/envs/tensorflow2/bin/python testtf.py
warning: `/Users/ilan/minonda/conda-bld/work/Python-2.7.12/Modules/_codecsmodule.o': can't open to read symbols: No such file or directory.
warning: `/Users/ilan/minonda/conda-bld/work/Python-2.7.12/Modu

[2016-07-10 13:21] tengerye commented on #3152
I used 0.8 and I believe the problem, that evaluation on each example only once, need redesign. Although in the [post](http://stackoverflow.com/questions/38125436/tensorflow-how-to-evaluate-all-test-set-with-every-example-once-and-only-once), I proposed a go-round solution, but it can only applied to test. For real evaluation, each example should feed and evaluate only once, I still can not find a

[2016-07-10 15:26] hellf commented on #3234
https://github.com/aselle I could not find anything related with this issue in  https://github.com/mrry

Could you tell me which file or directory should I look at?

[2016-07-10 15:30] Mistobaan commented on #10
@alonsovidales see #3258

[2016-07-10 16:25] zuoxingdong opened #3260 "Deep Dream Tutorial with UnsupportedOperation: fileno"
When running Deep Dream Tutorial on Jupyter Notebook, for the section of Naive feature visualization, it shows following

`UnsupportedOperation: fileno`

backtracked up from

`PIL.Image.fromarray(a).save(f, fmt)`

upto  `PIL/ImageFile.pyc in _save(im, fp, tile)`

[code]

The TensorFlow is installed under Anaconda and created an environment with internal installation of PIL package.
[code]

[2016-07-10 16:35] ebrevdo commented on #2838
We are working on a system that makes this easy. Something should already
in the github repo within a coupe of weeks.
On Jul 10, 2016 3:34 AM, "Tom Runia" <notifications@github.com> wrote:

[2016-07-10 18:46] prb12 commented on #1824
@ericox  Merging the JSON data is unlikely to be a good idea... it is *much* simpler for the master to just collect the `StepStats` protobufs from each worker and merge the protos (which is a single line of code!)  The Timeline code ought to just deal with the merged `StepStats` and create a single JSON file.

[2016-07-10 19:12] kashif commented on #2977
@LeavesBreathe can you kindly test with my branch? Thanks!

[2016-07-10 19:21] Mazecreator commented on #2444
I ran a profile based upon #1824 and got the following.  I am not sure how to read this, but the GPU iteration took over 10ms where the CPU alone is <10ms.  I am running the HEAD of TensorFlow on Ubuntu 15.10 with CUDA 7.5 and cuDNN 4.  The CPU is a dual XEON 6 core processors (24 threads total) with 72 GB or RAM (DDR3).

I have a GTX 950, not the fastest, but is this related to the structure of t

[2016-07-10 19:59] #2935 closed

[2016-07-10 20:01] terrytangyuan commented on #2935
@thirdOctet it should work now

[2016-07-11 00:14] LeavesBreathe commented on #2977
@kashif thanks for doing this. Right now my gpu's are tied up so it will be at least a few days before I can give it a test. Will post back here upon testing. Thanks again.

[2016-07-11 01:26] gbkedar opened #3261 "Environment variables PATH and LD_LIBRARY_PATH not being passed to Protobuf compiler"
With protobuf neither the PATH nor LD_LIBRARY_PATH are being passed and building tensorflow fails with:
[code]
Further, checking the dependencies of protoc shows that they are set correctly when it is compiled
[code]

I have checked out and built the master of bazel. Previous to https://github.com/bazelbuild/bazel/commit/c9bc051f32b0d153110863e983749420200d000c other parts were being passed the PA

[2016-07-11 01:38] rajisme opened #3262 "IOS Makefile Problem"
I followed the steps given in https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile but ran into problems when running the command  make -f tensorflow/contrib/makefile/Makefile  TARGET=IOS  IOS_ARCH=ARM64.
### Environment info

Operating System:
MacBook Pro (Retina, 13-inch, Mid 2014), 10.11.5 El Capitan
Xcode 7.3.1

[make_file_errors.txt](https://github.com/tensorflow/t

[2016-07-11 01:39] raj4 commented on #3262
The error message:
[make_file_errors.txt](https://github.com/tensorflow/tensorflow/files/356312/make_file_errors.txt)

[2016-07-11 01:45] lw394 opened #3263 "Segmentation fault, import tensorflow, tensorflow 0.9, mac osx"
I have followed the installation steps for GPU enabled tensorflow 0.9 on OSX, (https://www.tensorflow.org/versions/r0.9/get_started/os_setup.html#installation-for-mac-os-x), within a conda environment.  The installation seems to go smoothly, but I get a seg fault error when importing tensorflow.  I have tried the fixes from related threads without success.

See below for the segmentation fault err

[2016-07-11 03:12] carpedm20 opened #3265 "Change is_training of tf.contrib.layers.batch_norm to conditional function"
`tf.contrib.layers.batch_norm` is using `is_training` as a python boolean variable so I may have to define two different ops which share its variables by using `reuse=True` to the second op.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/layers/python/layers/layers.py#L209

However, I think it is better to use `tf.placeholder` or other tensor variables as `is_training` an

[2016-07-11 03:14] rryan commented on #211
Sorry for the delay, I carved out some time to work on it this weekend and will be sending it out for review as soon as the GPU tests pass.

[2016-07-11 04:11] pjoz opened #3266 "ERROR: Cannot find './util/python/python_lib"
### Environment info
Operating System:
OSX El Capitan 10.11.5

Installed version of CUDA and cuDNN:
N/A

If installed from sources, provide the commit hash:
a4b7bb9

### Steps to reproduce
1. `git clone --recursive https://github.com/tensorflow/models.git`
2. `cd models/syntaxnet/tensorflow`
3. `./configure`
4. `cd ..`
5. `bazel build syntaxnet/...`

### What have you tried?
1. Confirmed that baze

[2016-07-11 04:33] XianXing commented on #3217
Similar problem was asked and addressed in #1013.

[2016-07-11 04:49] xinyuwuhenZZ commented on #3217
@Waffleboy @aselle, Thanks for help! I did run script in other directory rather than installation directory.
@XianXing, not exactly the same issue, #1013

[2016-07-11 05:26] arielscarpinelli commented on #2791
@jorgemf I'm experiencing the same issue, though solution doesn't make sense? You would end up sending jpeg strings if such instead of the image matrices

[2016-07-11 05:39] mariolew commented on #3168
Same issue with cuda-7.0 cudnn v4 and tesla k40c.

[2016-07-11 08:00] Vijayenthiran commented on #3193
Will be good if these are updated in the docs. :)

[2016-07-11 08:47] jediweon commented on #1470
I'm facing the same problem. Fetching the gradient values with session.run() always result in Type Error - which was mentioned by @gliese581gg .
I've tried various terms, including code snippet @mrry suggested above, but not so effective.

[2016-07-11 09:09] akors opened #3267 "TensorBoard: gracefully handle deleted event files"
Hi!

At the moment, TensorBoard at firstignores the deletion of folders and event files inside the log directory, and displays them as though they were there. Then at some later time (i can't tell what triggers it), it starts throwing exceptions, like

[code]

However, sometimes a cleanup is required, and unused runs have to be deleted. This is not possible under the current version.

The workarou

[2016-07-11 09:22] jediweon commented on #1470
I'm facing the same problem. Fetching the gradient values with session.run() always result in Type Error - which was mentioned by @gliese581gg .
I've tried various terms, including code snippet @mrry suggested above, but not so effective.

[2016-07-11 10:07] XingxingZhang commented on #190
Hi @ebrevdo

**Background**:
I am installing tensorflow from source, since I am using a server where I don't have the root access.
The default python version on that server is python 2.6 (but I have my own virtual environment with python 2.7).
The default gcc is "4.4.7", but we also have a gcc "4.9.1" somewhere else.
I have successfully installed bazel.

**Problems:**
The bazel issue you mentioned

[2016-07-11 10:27] stepelu opened #3268 "Timeline's reported memory usage not properly displayed in Chrome"
I am attempting to debug out-of-memory issues using the recently introduced support for timeline:

[code]

The file is generated, but when opened via `chrome://tracing/` the memory usage events are not displayed at all, only the names. Moreover, opening such memory section results in the CPU-usage events disappearing as well:

<img width="665" alt="screen shot 2016-07-11 at 7 23 59 pm" src="https:

[2016-07-11 10:59] suraj1990 commented on #212
I am running into a similar error. I have trained two models. en-fr and fr-en models. The fr-en model has different vocab size compared to the en-fr model.
`ValueError: Variable embedding_attention_seq2seq/RNN/EmbeddingWrapper/embedding already exists, disallowed. Did you mean to set reuse=True in VarScope? Originally defined at:

  File "/usr/local/lib/python2.7/dist-packages/tensorflow/models/rn

[2016-07-11 12:02] suraj1990 opened #3270 "Loading Multiple models into the same session of tensorflow"
I have trained two models. en-fr and fr-en models. The fr-en model has different vocab size compared to the en-fr model. The first model is being loaded properly. It crashes while loading the second one. I have trained both the models separately. Please check the log file attached to see the error logs. kindly tell me the right way to go ahead.

I want to create a webservice for en-rf and fr-en tr

[2016-07-11 12:07] aayushgarg commented on #3198
Specifically, I have converted [translate.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/models/rnn/translate/translate.py) to run in the TF synchronous distributed mode. The above error occurs while preparing the session:-

sess = sv.prepare_or_wait_for_session(target, config=sess_config)

[2016-07-11 12:13] suraj1990 commented on #3270
@lukaszkaiser any inputs?

[2016-07-11 12:18] nanxintin commented on #559
@ivarvanwooning Thank you very much. It really works!

[2016-07-11 13:27] jorgemf commented on #2791
@arielscarpinelli Your are right, I wrote the wrong solution. This is how I solved it:
[code]

[2016-07-11 15:00] michaelosthege commented on #1421
It looks like it's looking for this file: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tensorboard/TAG
which (in my case) was actually not present in the /tensorboard directory.

After **creating a file called "TAG" with the content "22"** (which was the content in the master branch when I looked it up) everything worked fine.

[2016-07-11 16:08] michaelisard commented on #3201
We realize that unnecessary copies are undesirable: they can make you run out of GPU memory as you observe, and even when they don't they consume unnecessary memory bandwidth.

There are two strategies being investigated that could help here, but both are non-trivial and will take some time to be done in a comprehensive fashion.

The first is to allow general-purpose Ops to do in-place updates, i.

[2016-07-11 16:08] #3201 closed

[2016-07-11 16:21] KendallWeihe commented on #3128
Pinging @daeyun again on this. @andydavis1 can you try to recreate this issue? You just need to copy and paste the example code I have given. Are you training with a CPU or a GPU?

[2016-07-11 16:27] danmane commented on #3254
This was fixed in a recent commit (but hasn't made it into a release branch yet) - see:
https://github.com/tensorflow/tensorflow/commit/cf7f7de701874a091156cd76286c0ead6dc98be1

[2016-07-11 16:27] #3254 closed

[2016-07-11 16:55] aselle commented on #3245
The classifier.fit call might wipe out the model each time you call fit. Can you see if just running it once with steps=5 looks any different?

[2016-07-11 16:56] KnHuq commented on #2661
@ebrevdo  I have downloaded the latest nightly build but the same problem is there! my tensorflow version is '0.9.0rc0'.

[2016-07-11 16:57] aselle commented on #3246
@concretevitamin, Is this expected to work, or is this a known limitation of sparse tensors.

[2016-07-11 16:58] jhollowayj commented on #3234
@hellf, mrry is a person.  That link goes to his personal github page.
aselle was asking mrry to to take a look at the issue.

[2016-07-11 16:59] #3191 closed

[2016-07-11 17:06] el3ment opened #3271 "Reverse for complex numbers"
tf.reverse does not seem to be implemented for complex numbers

[code]

I came across this needing to construct a matrix that is conjugate symmetric, but this was also referenced on StackOverflow : [http://stackoverflow.com/questions/38145235/why-cant-i-reverse-a-sequence-of-complex-numbers-in-tensorflow](http://stackoverflow.com/questions/38145235/why-cant-i-reverse-a-sequence-of-complex-numbers-

[2016-07-11 17:15] oahziur commented on #3245
Here is the output:

[code]

[2016-07-11 17:16] aselle commented on #3245
Yeah that looks pretty much like it is starting from scratch each iteration. Looking...

[2016-07-11 17:19] lukaszkaiser commented on #212
You're creating both models so that they share variables, which is not possible when vocabulary sizes differ. If you want separate variables for each model, use, e.g., "with tf.variable_scope('enfr'):" when creating one and "with tf.variable_scope('fren'):" when creating the other.

[2016-07-11 17:24] aselle commented on #3217
Did that resolve the issue @xinyuwuhenZZ. If so, please close the issue.

[2016-07-11 17:27] aselle commented on #3245
Also see #3193 (not exactly same issue), but it indicates that this part of tf.contrib.learn is in flux, but will hopefully settle soon.

[2016-07-11 17:31] lukaszkaiser commented on #3270
As said in the other thread -- you want separate variables for each model. So you need to use "with tf.variable_scope(...)" before creating each model. And since you didn't do this before training, you'll have to re-name the variables you restore from the checkpoint. This can be done by passing a dict to the Saver object, rather than just a list of variables (as is done now). Let me know if you ha

[2016-07-11 17:31] martinwicke commented on #3245
tf.learn in 0.9 is woefully incomplete. The issue is likely fixed at head.

[2016-07-11 17:36] concretevitamin commented on #3246
Flags `a_is_sparse` and `b_is_sparse` do not indicate the operands being `SparseTensor`s.  Instead, they are algorithmic hints to invoke a more efficient algorithm on the two dense `Tensor` operands.

To matmul a SparseTensor and a dense Tensor, you could use `tf.sparse_tensor_dense_matmul()` instead.

[2016-07-11 17:36] #3246 closed

[2016-07-11 18:05] KendallWeihe commented on #3128
@daeyun I tested on Mac OS, CPU, Python 3.5. It trains for one iteration and then seg faults. It is probably a similar problem as this issue -- memory running out because it isn't able to `free()`

[2016-07-11 18:37] jmchen-g commented on #3200
@hengtze could you take a look at this please?

[2016-07-11 18:41] jmchen-g commented on #3245
Could you check if the issue is fixed at head now?

[2016-07-11 18:46] jmchen-g commented on #3251
@petewarden could you take a look at this please?

[2016-07-11 18:47] jmchen-g commented on #3256
@ebrevdo Could you take a look at this please?

[2016-07-11 18:53] jmchen-g commented on #3262
@petewarden Could you take a look at this please?

[2016-07-11 18:54] jmchen-g commented on #3263
@martinwicke Could you take a look at this please?

[2016-07-11 18:59] rohitgirdhar commented on #3009
I was facing similar issues, copying large amounts of data from numpy to TF. I moved all the data loading and preprocessing into the graph (using https://www.tensorflow.org/versions/r0.9/how_tos/reading_data/index.html) and jpeg_decode, resize_images etc functionalities, and it sped up the training significantly.

[2016-07-11 19:01] ericox commented on #1824
@prb12 OK that sounds simpler. Thank you.

[2016-07-11 19:27] BernardoGO opened #3273 "Cannot build from source"
Cannot build from source

### Environment info
Operating System: Arch Linux

Installed version of CUDA and cuDNN:
7.5

(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
-rwxr-xr-x 1 root root 311596 May  1 07:04 /opt/cuda/lib/libcudart.so.7.5.18
-rw-r--r-- 1 root root 558020 May  1 07:04 /opt/cuda/lib/libcudart_static.a

If installed from binary pip package, provide:

1. Which pip p

[2016-07-11 19:33] gbkedar commented on #3261
It looks like the macro tf_proto_library is defined here which is causing the error is defined [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/platform/default/build_config.bzl).

[2016-07-11 19:33] alvisememo commented on #211
Thanks @rryan , looking forward!

[2016-07-11 19:34] gbkedar commented on #3261
It looks like the macro tf_proto_library which is causing the error  is defined [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/platform/default/build_config.bzl).

[2016-07-11 20:03] prb12 commented on #1824
@ericfox  FYI - I just started hacking this up...  I think I can probably have something basic working by the end of the day.

[2016-07-11 20:30] brando90 commented on #1122
is there a small script with a very simple NN that shows what is the proper way of using this "official" BN layer? I'd really appreciate it.

[2016-07-11 20:35] ericox commented on #1824
@prb12 Sounds good. I wouldn't mind still helping out on this if you want to split the work.

[2016-07-11 20:39] brando90 commented on #1122
sorry if this is a little repetitive, but it seems the API talks about BN in a different interface: https://www.tensorflow.org/versions/r0.9/api_docs/python/nn.html#batch_normalization

is that not the official way to use BN? I am confused on how to use it. Any help appreciated :)

[2016-07-11 20:44] hengtze commented on #3200
No problem. I'll take a look again. Thanks for reporting the issue!

[2016-07-11 21:05] prb12 commented on #1824
@ericox Great!

There's some basically working code [here](https://github.com/prb12/tensorflow/tree/distributed-tracing).   I've only tried it with a single Grpc worker, and I haven't plumbed through the GPUTracer yet, but you ought to be able to patch and try it out.

Obviously this will take some work to clean up and write tests etc. before it could be submitted! ;-)

[2016-07-11 21:49] kingtaurus commented on #1458
I believe that the whitening should be different on a per image basis (one because there is saturation effects that adjusting the contrast and brightness may cross, two the adjustments for data augmentation should be on a per 'image' basis). Take for example (using numpy):

[code]

[2016-07-11 21:50] vrv commented on #1881
I believe our docs https://www.tensorflow.org/versions/r0.9/get_started/os_setup.html are currently accurate.

[2016-07-11 21:50] #1881 closed

[2016-07-11 21:51] vrv commented on #2441
Without more information there's not much we can do -- closing for now but feel free to reopen if you have more information!

[2016-07-11 21:51] #2441 closed

[2016-07-11 21:53] vrv commented on #2726
Yeah, without better information from nvidia/cuda libraries, or cuda-memcheck, I'm not sure how much more we can help.  Let us know if you find anything.

[2016-07-11 21:53] #2726 closed

[2016-07-11 21:59] reesepathak opened #3276 "Trouble building from source: import tensorflow fails (from any directory)"
### Environment info
Operating System: Ubuntu 14.04

Installed version of CUDA and cuDNN: 7.5/5
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
-rw-r--r-- 1 root root 189170 Oct  8  2015 /usr/local/cuda/lib/libcudadevrt.a
lrwxrwxrwx 1 root root     16 Oct  8  2015 /usr/local/cuda/lib/libcudart.so -> libcudart.so.7.5
lrwxrwxrwx 1 root root     19 Oct  8  2015 /usr/local/cuda/lib/li

[2016-07-11 22:00] rueberger opened #3277 "Broadcast 0-rank tensors when computing gradients for tf.nn.relu"
### Environment info
Operating System: OSX (macOS....?), CPU only, version 0.9.0

Perhaps this is desired behavior, but I would have much appreciated a more descriptive warning at least, which would have saved much debugging.

I haven't found a small reproducible case for this: but in the code I originally found this bug, no error is raised as the other variables are trained, leaving me scratching

[2016-07-11 22:00] oahziur commented on #3245
I just installed from the source in master, and verified that the problem has been fixed on master.

[2016-07-11 22:01] #3245 closed

[2016-07-11 22:13] ericox commented on #1824
@prb12 Excellent! Thanks for the code. I will try it out and do the plumbing through the GPUTracer + tests ASAP. This is a big help!

[2016-07-11 22:42] sterkhedkar commented on #3144
Hard luck. It's not working. It's so worst that even after fresh installation it's still stuck there. And more importantly it works on the system with skflow installed on it. How's that possible?

[2016-07-11 22:52] prb12 commented on #1824
I just pushed some code to start/stop the GPUTracer in the right places - haven't tested in anger.

To produce a decent visualization the GPUTracer::Collect method changing to be able to pass in a worker-specific device prefix.

Other than that, it should be mostly there.

[2016-07-11 23:19] vrv commented on #3247
Unfortunately at the moment there is no way to specify different padding algorithms for different dimensions.

The ideal way to handle this (and other future feature requests like this) would be to support explicit padding -- the user passes the amount of padding on the 'top' and 'bottom' of each dimension, so they have full control of the algorithm.

To do this, code that calls into eigen_spatial

[2016-07-12 00:02] aselle commented on #2384
@shendiaomo, were you able to resolve your issue using @mrry or @mmuneebs?

[2016-07-12 00:23] KendallWeihe opened #3278 "Implement 3D data for LSTM RNN -- request"
I'm new to this, and I'm not sure where is the appropriate place to make a dev requests. If I am in the wrong place, can someone please redirect me?

I am not an experienced Tensorflow dev or I would try to build this myself, but I think it is a really interesting idea and I would love for another dev to build it.

The idea is for an LSTM RNN to accept 3D data -- such as video frames. I'm interest

[2016-07-12 00:50] allenlavoie commented on #3277
So I checked this out, does seem to be a bug. The good news is it looks like it might be really easy to fix.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/framework/numeric_op.h#L90
Just add NDIM_CASE(0); on line 90 and the template magic should take care of the rest.

I'll work on getting this submitted.

[2016-07-12 00:51] brando90 commented on #1122
sorry for the spamming, but what is wrong with just using something like this:

[code]

then its simple to tell tensorflow which one to use with a feed dictionary as in:

[code]
since its unclear if the implementation will change, I wanted to give a suggestion.

[2016-07-12 00:57] ericox commented on #1824
I am hacking on adding the worker-specific device prefix to the `GPUTracer::Collect` method. To get something going I am trying to get it built and running with the interface `GPUTracerImpl::Collect(StepStatsCollector *collector, string device_prefix)`.

[2016-07-12 01:33] brando90 commented on #1122
@pawni @ppwwyyxx did you guys decide if you had to use reuse to true to solve the scoping issue?

[2016-07-12 02:01] pawni commented on #1122
@brando90 currently I am doing something like:
[code]
However, I think that #3265 would basically want to implement it like this. A reference could be the dropout implementation here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/layers/python/layers/layers.py#L433-L435

[2016-07-12 02:07] pawni commented on #3265
I am currently using it like that with my own wrapper around it and think that it is supposed to work like that as `tf.contrib.layers.dropout` does: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/layers/python/layers/layers.py#L433-L435

[2016-07-12 02:39] fengjian0106 commented on #3191
can work, cool!

[2016-07-12 03:04] rueberger commented on #3277
Great!

[2016-07-12 04:08] yihe2 commented on #329
A workaround, you can write your summaries to different directories, and load them as different runs.

[2016-07-12 04:57] mrry commented on #3234
Hi there! I'm on vacation right now, but if this is still a problem in a fortnight, feel free to reassign to me.

[2016-07-12 04:57] mrry commented on #3198
Hi there! I'm on vacation right now, but if this is still a problem in a fortnight, feel free to reassign to me.

[2016-07-12 04:59] vrv commented on #3198
You cannot place the assign op on a different device than the variable -- fix that and the problem goes away -- as far as I can tell this isn't a bug, so any follow ups should probably be on StackOverflow.

[2016-07-12 04:59] #3198 closed

[2016-07-12 05:11] suraj1990 commented on #3270
Thanks for your quick response @lukaszkaiser
my doubts may be very trivial but I will go ahead and ask.
I have trained two models. you rightly pointed out that I have not used tf.varaible_scope during the training stage. When you say I need to rename variables that I restore from the checkpoint,

    `ckpt = tf.train.get_checkpoint_state(FLAGS.train_dir)
     if ckpt and tf.gfile.Exists(ckpt.model

[2016-07-12 05:55] ebrevdo commented on #3161
Can you provide us with _X.get_shape()?

[2016-07-12 05:59] ebrevdo commented on #3115
Most cells in core use a merged weight matrix for all gates for performance purposes, making gate specific initialization difficult.  If you have an approach that doesn't involve breaking up the weights into 4 smaller tensors, we should consider it for merging.

[2016-07-12 06:00] ebrevdo commented on #3114
Can you confirm this has been fixed at head?

[2016-07-12 06:12] ebrevdo commented on #2926
Multiple tensors are now supported for map_fn and scan.

[2016-07-12 06:14] ebrevdo commented on #2719
Should be fixed. Reopen if it's still an issue.

[2016-07-12 06:14] #2719 closed

[2016-07-12 06:14] jmchen-g commented on #3260
Please provide operating system, GPU version if used, tensorflow version, etc...

[2016-07-12 06:17] jmchen-g commented on #3261
@martinwicke Could you take a look at this please?

[2016-07-12 06:19] jmchen-g commented on #3266
Duplicate to https://github.com/tensorflow/models/issues/266

[2016-07-12 06:19] #3266 closed

[2016-07-12 06:22] jmchen-g commented on #2703
@caisq Could you take a look at this please?

[2016-07-12 06:28] pjoz commented on #2703
I had this same issue in the closed tickets referenced above, @jmchen-g thanks for re-opening this one.

[2016-07-12 06:29] ebrevdo commented on #2237
You can use a while loop with TensorArray.  What you need to do is find an indexing structure mapping a linear index to nodes of the tree and back.

[2016-07-12 06:31] jmchen-g commented on #3276
This is a question better suited for StackOverflow. Please ask it there and tag it with the `tensorflow` tag.

[2016-07-12 06:31] #3276 closed

[2016-07-12 06:32] jmchen-g commented on #3268
@prb12 Could you take a look at this please?

[2016-07-12 06:33] ebrevdo commented on #3256
You can access the underlying variables using tf.get_ variable() or, alternatively, by looking through tf.trainable_variables().  E.g.

print [v.name for v in tf.trainable_variables))]

[2016-07-12 06:35] ebrevdo commented on #1779
This has been submitted.

[2016-07-12 06:35] #1779 closed

[2016-07-12 06:36] jmchen-g commented on #3278
@ebrevdo Could you take a look at this please?

[2016-07-12 06:37] stepelu commented on #3268
Update: zooming out a lot in the browser make the dots appear, but that's more of a workaround than a real solution.

By the way, are the colours related in any way to the size of memory allocations?

[2016-07-12 06:37] ebrevdo commented on #1830
This has been delayed as I work on performance improvements to the implementation.

[2016-07-12 06:43] ebrevdo commented on #3278
Perhaps you want each frame convolved with some trainable kernel. See the cell types in tf.contrib.rnn and tf.contrib.grid_rnn.  perhaps something there already does what you want.

[2016-07-12 06:48] jediweon commented on #1470
Now I see the problem. With your program ended without freeing related resources, Variables with trainable=True will remain and be called by optimizer's compute_gradients() unless you specify Variables you want to know about. And that will result in returning non value objects(which is NonType), for those remaining Variables has nothing to do with current program.

This can be avoided in various w

[2016-07-12 07:38] suraj1990 commented on #3270
I trained two new models with fewer steps. While training the new models, I used with tf.variable_scope("en_fr") for en-fr translator and with tf.variable_scope("fr_en") for fr-en translator.

For training :
    `with tf.variable_scope('fr_en'):
      model = create_model(sess, False)`

    with tf.variable_scope('en_fr'):
      model = create_model(sess, False)

[2016-07-12 07:47] tomrunia commented on #2838
This might be of interest to @danijar : https://github.com/tensorflow/tensorflow/issues/2695
Great that you are working on things to make this easier, I will wait for an update :-)

[2016-07-12 08:20] sjperkins commented on #3271
Related to https://github.com/tensorflow/tensorflow/issues/2577 which tracks general support for complex numbers in tensor transformation functions.

[2016-07-12 10:27] zt706 commented on #2807
I have the same problem and my operation is similary to "changyun79". I test inception_v3 on my computer and the results were:
         Before/After quantization, elapsed time were 36 seconds vs. 108 seconds per 10 images
         Before/After quantization, my trained inception_v3 size were 92M vs. 22M

[2016-07-12 11:01] gbkedar commented on #3261
Sorry, the close was a mistake

[2016-07-12 11:42] Ape commented on #1924
@ilaripih If I use that `linkopts` and rebuild, it seems that the produced `libtensorflow.so` doens't contain the C API functions. I get "undefined reference" for `TF_NewSession`, `TF_ExtendGraph` etc. Is there a way to include the C API to the library, but still filter out `libjpeg` etc.?

[2016-07-12 11:57] suiyuan2009 commented on #2391
I find bazel does not output anything, but there are compile errors in my code

[2016-07-12 12:07] gbkedar opened #3280 "Default env python maybe different from python selected in config step"
Python that is default in the environment maybe different from the one selected in the  configure step. [File](https://github.com/tensorflow/tensorflow/blob/master/third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc)
calls ``#!/usr/bin/env python``, it should instead be the one defined in the configuration step.

[2016-07-12 12:26] phenomax commented on #92
+1 for java

[2016-07-12 13:16] zuoxingdong commented on #3260
Ubuntu 16.04 LTS
CPU only
TensorFlow 0.9

[2016-07-12 13:18] ibab commented on #2237
@ebrevdo: I thought about doing that at first, for example using heap indexing (or something more clever to deal with trees that are not complete).
The problem I had is that each single example in the dataset can have a different shape.
E.g. if we want to do sentiment analysis on sentences, then the number of words can be different in each sentence and the structure of each tree depends on how the

[2016-07-12 15:42] prb12 commented on #3268
@stepelu I'm not sure exactly what is going on in this case to produce the UI issues you are seeing - from your description of things changing with zoom levels, it could very easily be an issue with the chrome viewer (which is nothing to do with TensorFlow).  To reproduce it would be helpful if you could provide a copy of the `StepStats` protobuf (preferably) or at least the JSON of the chrome tra

[2016-07-12 16:16] #3224 closed

[2016-07-12 16:16] Waffleboy commented on #3224
Thanks, that worked :)

[2016-07-12 17:27] kuza55 commented on #2780
So, I made some example playbooks that use these roles: https://github.com/kuza55/ansible-examples/tree/master/tensorflow

I also ended up writing up detailed instructions on how to use the playbooks I open sourced: https://medium.com/@kuza55/deep-learning-in-the-cloud-tensorflow-on-ec2-spot-instances-with-ansible-554ef7f59423#.ii8f4st5t

Would it be appropriate to link the Medium post in the comm

[2016-07-12 18:14] aselle commented on #2780
@martinwicke, Could we add a link somewhere to this in the ocmmunity section?

[2016-07-12 18:22] syed-ahmed commented on #2169
Are there any performance gain/loss if one uses the second output of `tf.nn.max_pool_with_argmax` (which are the indices of the max pool) and uses it along with a `tf.map_fn` to achive a max unpooling?

[2016-07-12 18:27] zh19970205 commented on #3127
But installation from source needs Bazel

Bazel needs GLIBC_2.14

What Should I do?

@martinwicke

[2016-07-12 18:28] girving commented on #2169
@syed-ahmed That doesn't work: if you are doing unpooling, you don't start out with an input that you could pass to `tf.nn.max_pool_with_argmax`.

[2016-07-12 18:34] zh19970205 opened #3285 "How to install with GLIBC_2.12?"
I install it directly with conda

And get "version `GLIBC_2.17' not found,required by _pywrap_tensorflow.so"

I use LD_PRELOAD to load GLIBC_2.17

And get "__vdso_time: invalid mode for dlopen(): Invalid argument"

I try to install from the source, but bazel require GLIBC_2.14

What should I do?

---
[code]
and the version of glibc is 2.12

[2016-07-12 18:37] syed-ahmed commented on #2169
Can we not just save the indices from tf.nn.max_pool_with_argmax during downsampling for reuse during upsampling? We would use the saved argmax indices to inform us where we want the input to the corresponding upsample layer to go.

[2016-07-12 19:26] aayushgarg commented on #3198
Hi - I am not doing any assignment in the code. As noted above, I am changing translate.py example in TF to the distributed one. It is using seq2seq implementation from TF code itself. I suspect there is bug in the seq2seq implementation in TF which is assigning nodes to the different devices.

[2016-07-12 20:10] vrv commented on #3198
Try updating to r0.9 -- I checked in a change that ignores impossible placements a month or so ago. :)

[2016-07-12 20:38] aselle commented on #206
- [x] Implement rvalue basic indexing
- [ ] Implement lvalue basic indexing
- [ ] Implement advanced indexing
- [ ] Implement bool mask indexing

[2016-07-12 21:16] ibab commented on #3212
In my opinion, it would be better if the summary writers didn't crash the program if they get passed a NaN.
Instead, it would be nice if they were stored and then flagged somehow in tensorboard.
Users can then use tensorboard to find the source of the NaNs more easily.

Or alternatively, it should be the optimization ops that complain about NaN values.
That seems more natural than having the monit

[2016-07-12 21:17] Menerve commented on #3263
Having the same problem, It appears that it fails when loading libcuda.dylib. Unfortunately, since  #https://github.com/tensorflow/tensorflow/pull/2878 it's now looking for libcuda.1.dylib instead.

Creating a symlink or changing the name of libcuda.dylib to libcuda.1.dylib in /usr/local/cuda/lib seems to do the job.

[2016-07-12 21:24] aselle commented on #2917
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-12 21:24] #2917 closed

[2016-07-12 21:27] aselle commented on #2917
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-12 21:30] aselle commented on #1803
There have been a lot of a code changes since this was last posted. Have @anuragkr90  @pescam managed to try it on one of our later builds? If not, I will close this due to lack of activity.

[2016-07-12 21:39] lukaszkaiser commented on #3270
I think what you did is good and you're almost there. The one problem you see is due to [this line](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/models/rnn/translate/seq2seq_model.py#L166). The Saver() object takes a list of variables, and it's tf.all_variables(), so it's trying to restore them all. While your checkpoint only has a subset of them (not the en_fr ones), so you get

[2016-07-12 21:46] lukaszkaiser commented on #3056
This has been resolved in a CL a few days ago.

[2016-07-12 21:53] ebrevdo commented on #1140
Pretty sure TensorArray calls all support float64

[2016-07-12 22:31] sguada commented on #1122
When the updates_collections=None then the updates happens in-place and it is easier to use a tf.cond() to allow is_training being a Tensor a bit more complicated is when the updates are delayed and the the update_ops are run later.
I will try to get the first part in soon.

[2016-07-12 22:57] ibab commented on #1140
The reason the script flags `TensorArray*` is because of the flow inputs/outputs.
These happen to be `float32` tensors.

[2016-07-12 23:16] ibab commented on #3285
A possible solution would be to build bazel from source as well.
You can then use your custom bazel to build tensorflow.
This requires a bit more work, but would be more robust.

[2016-07-12 23:25] martinwicke commented on #2780
I think we should link to both from the resource/community section. Make a PR with the change to add it to the list?

[2016-07-12 23:43] martinwicke commented on #3127
That's why I wrote "may be able to" :(

For C++ only, you can build using the cmake or makefile in contrib. But that doesn't give you the python (as of now).

Do you have the ability to install things (like a new glibc) on these machines?

[2016-07-13 00:01] alexatknit opened #3287 "tf.cond and tf.case execute all branches"
When I run:

[code]

my expected output is: 2.0 1.0 but my actual output is 2.0 2.0. I need control flow in my graph that actually controls which nodes get executed, not just selects from a list of tensors. Am I missing some sort of operation here?

[2016-07-13 00:06] vrv commented on #3287
Assigning to Yuan -- this is expected behavior, but we still need more documentation on this.

I believe if you define your control dependencies as a function, and the lambda calls the function, it will work.

e.g.,

    def fn1():
      with tf.control_dependencies....

    cond_result = tf.cond(cond_value, lambda: fn1(), lambda: fn2())

or something like that.  Essentially the ops have to be def

[2016-07-13 00:10] alexatknit commented on #3287
ah, I see. This may require a large amount of refactoring on my part

[2016-07-13 00:10] alexatknit commented on #3287
the assigns need to be in the method as well:

[code]

[2016-07-13 00:15] alexatknit commented on #3287
Lifting this requirement would allow me to have more modular code when designing resnet structures:

[code]

In this case, feedback will add the two tensors with a 70% chance or simply pass X1 with a 30% chance.

[2016-07-13 01:17] yuanbyu commented on #3287
For your simple example, I believe that you could simply do:

[code]

[2016-07-13 01:40] lw394 commented on #3263
@Menerve , THANK YOU!  It worked, I would have never found that.

[2016-07-13 01:53] jhollowayj commented on #1686
@cgorman, have you made any progress?  I'm thinking of taking a stab at it soon but didn't want to duplicate any work.

[2016-07-13 02:10] ank286 commented on #3002
For me, the retrained inception-v3 model loads properly as I am able to see all the different types of tensors including "final_result" and "DecodeJpeg/contents." The model file doesn't seem corrupted. But I do get the exact same DecodeJpeg error as zxzhijia

[2016-07-13 02:17] zxzhijia commented on #3002
@ank286 It works for me now after I use tensorflow 0.9.0 rc0.

[2016-07-13 02:20] zxzhijia commented on #3002
@ank286 So please have a try and see if it works.

[2016-07-13 02:37] ank286 commented on #3002
I did a "pip show tensorflow" and I have 0.9.0rc0 running.

I still get an error when trying to call import_graph_def(graph_def, name='') with a retrained Inception-v3 model for the flowers data.

`W tensorflow/core/framework/op_def_util.cc:332] Op BatchNormWithGlobalNormalization is deprecated. It will cease to work in GraphDef version 9. Use tf.nn.batch_normalization().
E tensorflow/core/common_

[2016-07-13 02:43] zxzhijia commented on #3002
@ank286 , is the version which you downloaded from github also 0.9.0 rc0?
What I did is installing using pip, and also downloaded the tensorflow
source code from github *with version 0.9.0 rc0*.

On Tue, Jul 12, 2016 at 10:39 PM, ank286 <notifications@github.com> wrote:

[2016-07-13 02:48] ank286 commented on #3002
So you installed TensorFlow 0.9.0rc0 using `sudo pip2 install https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.9.0rc0-cp27-none-linux_x86_64.whl`

and you also compiled from source? Or you downloaded the source code for 0.9.0rc0 and put it in some folder, which folder?

Thank you

[2016-07-13 03:06] zxzhijia commented on #3002
Download it to any folder you wants and run

       cd /tensorflow/

bazel build -c opt --copt=-mavx tensorflow/examples/image_retraining:retrain

On Tuesday, July 12, 2016, ank286 <notifications@github.com> wrote:

[2016-07-13 03:08] xinyuwuhenZZ commented on #3217
Not yet.

[2016-07-13 03:12] cgorman commented on #1686
@jhollowayj Not really, no. After 0.9 came out I tried again but still wasn't able to get it installed on the cluster. I asked the support staff to try and they weren't able to either, so I just gave up.

[2016-07-13 03:17] zxzhijia commented on #3002
Then run below in the same folder to retrain. For more detail, you can see
Tensorflow for poets.

bazel-bin/tensorflow/examples/image_retraining/retrain \
--bottleneck_dir=/tf_files/bottlenecks \
--model_dir=/tf_files/inception \
--output_graph=/tf_files/retrained_graph.pb \
--output_labels=/tf_files/retrained_labels.txt \
--image_dir /tf_files/flower_photos

On Tuesday, July 12, 2016, Xu Zhang <x

[2016-07-13 03:19] Hwhitetooth commented on #2400
@mrry I checked out commit 3d62fc6. But a new issue is incurred.

`missing input file '@grpc//:src/core/lib/support/backoff.h'.`
Could you please help me work it out? Thanks a lot!

[2016-07-13 03:20] ank286 commented on #3002
Okay, I am retraining now with 0.9.0rc0 and re-generating the .pb model file. I will report back if I can import this model successfully.
Thank you for all your help!

[2016-07-13 03:23] Waffleboy commented on #3217
Can you post the full traceback (in proper code annotation format) after you have moved it to a completely different directory?

[2016-07-13 03:27] xinyuwuhenZZ commented on #3217
In [1]: import tensorflow as tf
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-1-41389fad42b5> in <module>()
----> 1 import tensorflow as tf

/usr/local/lib/python2.7/site-packages/tensorflow/__init__.py in <module>()
     21 from __future__ import print_function
     22
---> 23

[2016-07-13 03:28] zxzhijia commented on #3002
No problem. Let us know if it works.

On Tuesday, July 12, 2016, ank286 <notifications@github.com> wrote:

[2016-07-13 03:29] xinyuwuhenZZ commented on #3217
I just followed the official instruction, and run it in other directory.

[2016-07-13 03:48] xinyuwuhenZZ commented on #3217
Maybe it is a little mess up. I can try it in pycharm.

[2016-07-13 04:23] Waffleboy commented on #3217
Well now you have a different error, try this.

https://coderwall.com/p/-k_93g/mac-os-x-valueerror-unknown-locale-utf-8-in-python

[2016-07-13 04:32] lvella commented on #252
PyPy only good interface with native code seems to be [CFFI](https://cffi.readthedocs.io/en/latest/), but it is a C <-> Python, and besides being slower on CPython, it would be painful to interface with C++ (Python <-> C <-> C++).

[2016-07-13 04:45] xinyuwuhenZZ commented on #3217
https://coderwall.com/p/-k_93g/mac-os-x-valueerror-unknown-locale-utf-8-in-python
That's the nub of the matter, thanks for your patience.

[2016-07-13 04:45] #3217 closed

[2016-07-13 04:49] Damcy commented on #3256
@ebrevdo It can serve my needs, though I need to see what variables have been created by LSTMCell or other interface and their names. Thank you very much!
cc to @jmchen-g

[2016-07-13 04:50] Damcy commented on #3256
closed

[2016-07-13 04:51] Damcy commented on #3256
closed #3256

[2016-07-13 04:51] #3256 closed

[2016-07-13 05:19] hellf commented on #3234
Thanks all :)
I'm still in this problem.

[2016-07-13 06:25] huixutech commented on #2748
I've met the same problem when I used Jupyter Notebook environment to implement convolutional networks model with early stoping and custom decay function for learning rate according to [scikit-flow-intro](http://terrytangyuan.github.io/2016/03/14/scikit-flow-intro/).

The error log from Jupyter Notebook environment is here: https://gist.github.com/huixutech/1763c1b992247eecf639c38d5df4fe72

My scr

[2016-07-13 07:39] power9694 commented on #2235
Can i ask you something?

In my case, There was a same error, 'module' object has no attribute 'conv3d'.
I used jupyter notebook and shell to run tf.nn.conv3d, but coudn't run it.
I typed this code " print(sys.version) ".
The result is 2.7.6 (default, Jun 22 2015, 17:58:13)
Should i install another version of python in my computer to run tf.nn.conv3d??

[2016-07-13 07:48] wfs opened #3289 "tensorflow mobile : makefile raspberry pi - protobuf build error"
### Environment info

Operating System:
pi@raspberrypi:~ $ cat /proc/version
Linux version 4.4.13-v7+ (dc4@dc4-XPS13-9333) (gcc version 4.9.3 (crosstool-NG crosstool-ng-1.22.0-88-g8460611) ) #894 SMP Mon Jun 13 13:13:27 BST 2016
### Steps to reproduce
1. Follow instructions under Raspberry Pi section - https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile
2. pi@raspberry

[2016-07-13 08:15] cesc-park opened #3290 "I think tf.nn.moments() produces negative variance."
tf.nn.normalize_moments() calculates variance like this.

[code]

This code can cause negative variance due to floating point precision problem.

Thanks.

### Logs or other output that would be helpful
(If logs are large, please upload as attachment).

tf.Print output for variance from tf.nn.moments().
[code]

[2016-07-13 08:21] manjunaths commented on #808
I am using nvidia-docker and the latest everything on RHEL 7.2 and I still have this issue.

`manju@o185i089:/lvol/manju$ docker run -it gcr.io/tensorflow/tensorflow:latest-devel-gpu`
`Unable to find image 'gcr.io/tensorflow/tensorflow:latest-devel-gpu' locally`
`latest-devel-gpu: Pulling from tensorflow/tensorflow`
`759d6771041e: Pull complete`
`8836b825667b: Pull complete`
`c2f5e51744e6: Pull co

[2016-07-13 09:43] akors commented on #2235
@power9694

No, python 2.7 should definitely work with TensorFlow. What is your TensorFlow version?
conv3d should be present from version 0.9 on.

Could you run the following code:

[code]

[2016-07-13 10:52] suraj1990 commented on #3270
With your inputs, I made the modifications in seq2seq_model.py

    `all_vars = tf.all_variables()
    model_one_vars = [k for k in all_vars if k.name.startswith("en_fr")]
    model_two_vars = [k for k in all_vars if k.name.startswith("fr_en")]

    if not model_two_vars:
       self.saver_en_fr = tf.train.Saver(model_one_vars)
    else:
       self.saver_fr_en = tf.train.Saver(model_two_vars)`

i

[2016-07-13 10:53] ilaripih commented on #1924
@Ape If you need to export symbols not covered by `*tensorflow*`, you can add them to the version script's `global` section, eg.: `*tensorflow*; *TF_*;`

[2016-07-13 12:20] siddharth-agrawal commented on #508
@girving Should this be a generic comment saying that TF uses numpy-style broadcasting? Or should it be specific to the operations that are affected by it (alternatively just mention the operations)?

[2016-07-13 12:22] wishforgood opened #3291 "How to create an op like conv_ops in tensorflow?"
Notice that I'm not looking for a tutorial like [this](https://github.com/jikexueyuanwiki/tensorflow-zh/blob/master/SOURCE/how_tos/adding_an_op/index.md).
**What I'm trying to do**

I'm new to C++ and bazel and I want to make some change on the convolution operation in tensorflow, so I decide that my first step is to create an ops just like it.

**What I have done**

I copied conv_ops.cc from //te

[2016-07-13 12:52] terrytangyuan commented on #2748
@huixutech which version are you using?

[2016-07-13 14:02] metap opened #3293 "Slicing of rank>=6 tensor?"
Currently it throws a not implemented error "inputs rank not in [0,5]".

[2016-07-13 14:53] girving commented on #508
TF doesn't use numpy style broadcasting for all ops, just for elementwise operations (specifically binary elementwise operations).  Referring to elementwise ops is sufficient; there's no need to list them all.

[2016-07-13 15:04] #3002 closed

[2016-07-13 15:04] girving commented on #252
The medium term plan for language bindings is to go through the C API.  We're in the process of moving functionality from Python to C++, at which point it will also be exposed through an extended C API.  Moving stuff out of Python to C++ isn't relevant for PyPy, but the improved C API might make it easy to write a separate PyPy interface.

[2016-07-13 15:21] #3225 closed

[2016-07-13 15:25] girving commented on #2169
@syed-ahmed To clarify, it will work but it's a bit awkward.  You can certainly store the indices, but the current `MaxPoolGradWithArgmax` op also wants the *values* that you originally passed to max pooling.  It should use only the shape from these values, but you still need to pass them in.  That's not too horrible when it's used as a gradient (though it's still a memory usage bug), but it is no

[2016-07-13 15:28] u4lr451 opened #3295 "tf.train.Server.create_local_server has two problems :1)performance drop 2 times compare to without it,2) gpu memory fraction limitations fails."
tf.train.Server.create_local_server has two problems :1)performance drop 2 times compare to without it,2) gpu memory fraction limitations fails

my model is a dnn network with 12 layers, same as the alphago policy network!

## code1: whitout server = tf.train.Server.create_local_server(start = True)
[code]

## - code2:  using server = tf.train.Server.create_local_server(start = True)
[code]

# Que

[2016-07-13 15:49] allenlavoie commented on #3277
Looks like the fix got pushed. Could you check whether this solves the issue with your more complicated example?

Thank you for the awesome bug report!

[2016-07-13 16:10] syed-ahmed commented on #2169
@girving Thanks for clarifying! I totally forgot the case about the gradient. I'll try to fix this issue.

[2016-07-13 16:31] alexatknit commented on #3287
sure, I get that, I threw it together to test the unexpected behavior I was seeing running rnns, wasn't supposed to be a polished example. Now I'm getting some weird behavior when converting my trainable variables to constants. It might be a separate issue but the stack looks like:

[code]

[2016-07-13 16:39] LiamConnell commented on #206
Here's another workaround for the case where your `params` variable is of unknown length. Hope it helps, and if there is a better way currently known please let me know! Not sure about differentiability because I'm using it for a policy gradient
[code]

[2016-07-13 17:13] sbrodehl commented on #1300
Thanks for work done here!

I am not sure what hardware @alexatknit uses, but I can confirm the slow speed on a 1080 using CUDA 8 and cuDNN 5.0:
fp16
[code]

vs. fp32
[code]

What need's to be done to make this fast?

[2016-07-13 17:18] #3270 closed

[2016-07-13 17:32] #3146 closed

[2016-07-13 17:33] rmlarsen commented on #3103
I'm closing this as "working as intended".

[2016-07-13 17:33] #3103 closed

[2016-07-13 17:35] rmlarsen commented on #2271
@ivankreso Did you make any progress on investigating this further?

[2016-07-13 17:50] changyun79 opened #3299 "Frequent dynamic memory allocation in tensorflow/core/kernels/conv_ops.cc?"
I am looking at the code in tensorflow/core/kernels/conv_ops.cc, Compute(OpKernelContext* context)  function:
`
  // Output tensor is of the following dimensions:
  // [ in_batch, out_rows, out_cols, out_depth ]
  Tensor* output = nullptr;
  OP_REQUIRES_OK(context, context->allocate_output(0, out_shape, &output));
`
Does it mean each CONV OP will always dynamic allocate output tensor (including th

[2016-07-13 18:26] jmchen-g commented on #3291
I suggest you just create a new conv_op in the same file to avoid all such issues.

Please redirect such questions to stackoverflow.

[2016-07-13 18:26] #3291 closed

[2016-07-13 18:26] jmchen-g commented on #3289
@petewarden Could you take a look at this please?

[2016-07-13 18:37] petewarden commented on #3289
@wfs I think this is just a missing step in the documentation. Can you try running this install command (from the Ubuntu section earlier in the readme):

`sudo apt-get install autoconf automake libtool curl make g++ unzip`

If that works, let me know and I'll update the docs. I'm guessing the problem was that I already had those installed on my Pi's, so I didn't see the problem there.

[2016-07-13 18:42] jmchen-g commented on #3293
It is not supported as we don't see a good use case yet. What is yours here?

[2016-07-13 18:48] jmchen-g commented on #3280
Thanks for reporting.
@vrv Could you take a look at this please?

[2016-07-13 18:49] jmchen-g commented on #3290
Thanks for reporting. Actually @zheng-xq is already working on this. Any updates XQ?

[2016-07-13 19:35] ivankreso commented on #2271
@rmlarsen No, I am currently running experiments on a smaller dataset which fits into memory. I will have free time on my machine over the weekend or during next week and then I can try to reproduce the problem again on the newest TF version. I will then post any new observations and the report from perf record logs here.
@dvyukov Thanks for good suggestion!

[2016-07-13 19:57] zheng-xq commented on #3290
We are aware of this issue caused by numerical precision. Internally we are discussing a solution with a better tradeoff between numerical stability, memory and computation efficiency.

For now, please work around this issue by clamp the variance to zero, or a small positive value.

[2016-07-13 19:59] vrv commented on #3280
I'm really not sure what we can do here, short of rewriting all python files during configure (which would be insane) -- I would suggest using an environment where the python you use in your configure step matches the environment.  If someone else has any suggestions, please let us know.

[2016-07-13 19:59] #3280 closed

[2016-07-13 20:04] NikunjBajaj-Reflektion opened #3300 "Error trying to predict using skflow example dnn_autoencoder_iris"
I am trying to generate new data using trained construction layer using dnn autoencoder on iris data. I run into a couple issues detailed after the system and installation information.

### Environment info
Operating System:

Mac OSx 10.11.5

I installed from the source code and the commit hash is-
bef942ca38d03bda48e3f39d3473973f0219933a

**Error 1:**
### Steps to reproduce
* Add the following li

[2016-07-13 20:04] jiapei100 commented on #2033
Me too...

Ubuntu: 16.04
Cuda: 8.0.27 RC
cudnn: 5.0.5
tensorflow: 0.9.0

the error message is like:

Any solutions ?

Thank you very much....
Pei

[2016-07-13 20:16] jmchen-g commented on #3300
@ilblackdragon Could you take a look at this please?

[2016-07-13 20:21] jmchen-g commented on #3273
The supported Operating systems by TensorFlow are: Ubuntu Linux 14 LTE to 16. Mac OS X El Capitan. CentOS 7 and above

For other OS, please direct the question to Stackoverflow and people might be able to help there.

[2016-07-13 20:21] #3273 closed

[2016-07-13 20:22] zheng-xq commented on #3299
Yes. All tensors in TensorFlow are refcounted, dynamically allocated and freed. On GPU, this goes through its own non-blocking BFC memory allocator. All the tensors are freed when their refcount goes to zero. For temporary tensors, that is often when "Compute" finishes. For output tensors, that is when they finish being used as input tensors.

[2016-07-13 20:26] zheng-xq commented on #2810
From an offline conversation, we can confirm that this problem goes away:

1. Build from source while explicitly setting 5.0 build target.
2. Or install the latest graphics driver 367.27.

So it does seem like a JIT compiler issue that goes away the latest driver.

[2016-07-13 20:57] jmchen-g commented on #3295
@mrry Could you take a look at this when you are back?

[2016-07-13 21:03] Mistobaan commented on #3204
What would be the benefit ?

[2016-07-13 21:04] #3277 closed

[2016-07-13 21:17] changyun79 commented on #3299
Thanks, @zheng-xq . Any theory behind this design? To me, make memory static is important for both performance and memory fragmentation. I am basically looking to optimize the inference time and wondering whether it is doable on top of tensorflow. Thanks.

[2016-07-13 21:18] rryan commented on #211
Added in 35df3ed43edabbc4ad1b2439bbc7de8917026d6e.

[2016-07-13 21:18] vrv commented on #211
Yay!

[2016-07-13 21:18] #211 closed

[2016-07-13 21:19] vrv commented on #3203
I suspect the patch went through, though don't know which commit fixed this :(

[2016-07-13 21:19] #3203 closed

[2016-07-13 21:28] #3168 closed

[2016-07-13 21:31] zheng-xq commented on #3299
For CPU, the allocation/free overhead is not an issue because we use tcmalloc internally.

http://goog-perftools.sourceforge.net/doc/tcmalloc.html

There is a discussion on whether we should enable tcmalloc by default for the open-source build. Meanwhile, feel free to try tcmalloc yourself and it should improve things a lot.

[2016-07-13 21:31] neocxi opened #3302 "[Tensorboard] Make long column names in "Images" tab more readable"
Currently it's difficult to read long experiment names in "Images" tab due to the lack of word-break and adaptive cell height:
![image](https://cloud.githubusercontent.com/assets/1441616/16820454/e5bbb9c8-4905-11e6-908f-25caa0ba9027.png)

Adding `word-break: break-all;` to and removing `height: 30px;` from the css class `.run-name-cell.tf-image-grid` will make it easier to read:
![image](https://c

[2016-07-13 21:36] changyun79 commented on #3299
Thanks for the quick response, @zheng-xq I can close this ticket and will play with tcmalloc then.

[2016-07-13 21:36] #3299 closed

[2016-07-13 21:42] mukul1992 commented on #110
Hello,
@rdipietro :  I am trying to install tensorflow/0.9.0 on a cluster running CentOS 6.7. I have bazel installed already. Here is the error I am getting.
`ERROR: /gpfs_home/mdave/.cache/bazel/_bazel_mdave/541ff47a1a214f62e91d090e1e816e43/external/highwayhash/BUILD:17:1: C++ compilation of rule '@highwayhash//:sip_hash' failed: crosstool_wrapper_driver_is_not_gcc failed: error executing command

[2016-07-13 22:53] ibab commented on #3271
I've enabled `reverse` for complex numbers in #3281, so this can be closed if everyone agrees.