[2017-07-05 01:30] madhurcodes commented on #11277
No I'm doing nothing special. Just installed tensorflow-gpu from pip and executing that python file throws thr shown error.

[2017-07-05 02:31] hitvoice commented on #1377
The same problem still appears in Chrome (latest version, Version 59.0.3071.115) on Mac OS. In Firefox and Safari on Mac OS, it works fine.
Example affected page: https://www.tensorflow.org/tutorials/word2vec

<img width="725" alt="wx20170705-102404 2x" src="https://user-images.githubusercontent.com/13765633/27846840-8a9e1ccc-616c-11e7-8d2f-f0d77240bde7.png">

[2017-07-05 02:57] huyong1109 commented on #11080
@joshua-xia So delete(key) is possible in MutableHashTable?  What I do now for expediency  is to close the session and then restart. Very time-consuming when the hash table is large.

[2017-07-05 03:07] guschmue commented on #11277
It is dynamically loaded as dll here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cmake/tf_python.cmake#L879
but also statically linked here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cmake/tf_core_kernels.cmake#L66

The fix is to add it to the exclusion list (like gru for example)
https://github.com/tensorflow/tensorflow/blob/master/tensor

[2017-07-05 03:14] jakiechris commented on #11231
found a link to test libtensorflow-core.a
https://tebesu.github.io/posts/Training-a-TensorFlow-graph-in-C++-API

[2017-07-05 03:21] happyharrycn commented on #10520
A similar error can be triggered by using conv3d and setting data_format to "channel_first". And here is the reason for them. For better efficiency, an input/output 5D tensor is reshaped into a 4D tensor (by chunking the third and the fourth dimension), and added to the bias. However, when the 5D tensor (or the output for deconv) has a non-determined batch size (None). The reshape operation will r

[2017-07-05 03:24] ebrevdo commented on #11277
Thanks Guenther!  We do have unit tests for this op in tf.contrib on the
python side... were they disabled in the windows build?

On Tue, Jul 4, 2017 at 8:08 PM, Guenther Schmuelling <
notifications@github.com> wrote:

[2017-07-05 03:27] AEGQ commented on #9926
@junshi15

For multiple IB devices in a single box. **open_default_device** may open a DOWN state device .

How about this change ? thank you :)  [#L28](https://github.com/AEGQ/CProj/blob/master/yahoo/common/rdma/rdma_adapter.cc#L28)

[2017-07-05 03:36] feiga opened #11284 "Error when build tfprof, bazel version 0.5.2"
Hi, I want to try with tfprof, but failed to build the tool. The error information is as follow.

### System information
- **OS Platform and Distribution**:  Linux Ubuntu 14.04
- **Bazel version (if compiling from source)**: 0.5.2
- **Exact command to reproduce**: ```bazel build --config opt tensorflow/tools/tfprof/...```

[code]

[2017-07-05 03:37] happyharrycn commented on #5694
I do not think the issue is fully resolved. And the lack of fused batch norm can be a critical performance issue for networks with 3D convolutions. I have done the modification in _fused_batch_norm as suggested by @zhangyaobit. Yet, I do see the [to-do comment](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/layers/normalization.py#L144) in normalization.py, which is more fu

[2017-07-05 03:54] vanpersie32 commented on #2690
@mrry  hi merry, it seems that the problem still occurs in the latest tensorflow 1.2.1. I run the code provided by yaroslavvb and get the errors.
![1](https://user-images.githubusercontent.com/15981416/27848565-9db83386-6178-11e7-8453-976170eb2b27.png)

I use ubuntu 14.04 , tensorflow-gpu 1.2.1, titianx-black

[2017-07-05 03:59] xzy256 opened #11286 "tensorboard fetching sprite image... parsing metadata takes forever"
When i study tensorboard embedding, My code refers #6322 @danielgordon10. Whatever my datasets size is(I modify `batch_size` , `epoches` and `embedding data_szie`, but it doesn't works ), `localhost:6006#embedding` takes forever and the browser  shows always `fetching sprite image... parsing metadata`. What should i do? Could someone give me any ideas?

[2017-07-05 04:32] davidshen84 commented on #11096
I just tried building with VS 2015, got the same error...maybe it is the master branch that is broken? I will try tag v1.2.

[2017-07-05 04:35] girving commented on #2690
@vanpersie32 That error is unrelated: the calling convention of `tf.reverse` changed with 1.0 to match numpy.  See https://www.tensorflow.org/api_docs/python/tf/reverse.

[2017-07-05 04:58] roshangiyanani opened #11287 "Missing definition in Getting Started With TensorFlow guide"
### System information
- macOS 10.12.5
- installed from binary
- Tensorflow v1.2.0-1751-g43a819e13 1.2.1
- Python 3.6.1
- Bazel 0.5.2-homebrew

### Describe the problem
The custom model section of the ["Getting Started With TensorFlow" guide](https://www.tensorflow.org/get_started/get_started) doesn't define "eval_input_fn".

I ran across the error when I copied the code line by line and ran it on

[2017-07-05 05:23] skaarthik commented on #7312
Now that the PR is merged, can I close this issue?

[2017-07-05 05:26] drpngx commented on #11277
Thanks @guschmue ! Good guess, @ebrevdo !

[2017-07-05 06:27] guschmue commented on #11277
Ok, fixed and waiting for the tests to pass. I have enabled all tests in contrib/seq2seq.
In cmake the unit tests under contrib are enabled selective - I can spend some time going over this to make sure we have the max enabled.

[2017-07-05 07:09] ManojPabani commented on #11263
I have posted it in stackover flow please guide i am using windows to do this.
https://stackoverflow.com/questions/44897648/image-retrain-inception-only-check-the-own-specific-category-not-tensor-dataset

[2017-07-05 07:18] SanZhiYuan commented on #2126
hi, why not take a little step forward,  like users should explicitly declare where the computation should happens (cpu, gpu, ps), but just with a 'virtual' device id, then tf automatically schedule the sub graphs to any free devices, or a preferred device list would be even better for migration between distrubuted, multi-gpus, single gpu and cpu only. And I think this would be much easier for us

[2017-07-05 07:38] waynesuzq commented on #9080
@eth-n Hi, quoting from MPS guide book:
"Stream callbacks are not supported. Calling any stream callback APIs will return an error."
Do you think this is the reason for Tensorflow not working? I tried caffe, it works well. But I just take a guess, coz I didn't really read through the code. Thanks for the reply.

[2017-07-05 07:54] elefthei commented on #9080
@waynesuzq is correct, stream callbacks are not supported. I'm working on
an MPS compatible PR.
On Wed, Jul 5, 2017 at 10:40 AM waynesuzq <notifications@github.com> wrote:

[2017-07-05 08:08] Deepak- commented on #11247
@printdhruv Yes exactly! How do I debug it?

[2017-07-05 08:12] albertz commented on #6620
A related issue is #5972, to be able to optimize variables with dynamic/unknown shape.

[2017-07-05 08:17] elefthei commented on #9080
Lack of CUDA streams creates some issues, like single stream per TF session
with MPS handling most of the optimizations. My best guess is this will be
faster for multi-process (i.e. MPI) but slower for single process
tensorflow use cases.
On Wed, Jul 5, 2017 at 10:54 AM Lefteris Ioannidis <rausted@gmail.com>
wrote:

[2017-07-05 08:29] theWondererr opened #11289 "argument --learning_rate: conflicting option string: --learning_rate"
Hi everyone,

I'm currently learning how to user Tensorflow, but when I'm running the fully_connected_feed.py file from tensorflow website. It returns the following error:
argument --learning_rate: conflicting option string: --learning_rate

Does someone know how to fix the issue?

This is the entire Error message:

  File "<ipython-input-8-db6c9214eb7b>", line 1, in <module>
    debugfile('C:/Use

[2017-07-05 08:42] albertz commented on #9370
This is not a bug in the checkpointing nor in `RNNParamsSaveable`.

This is a bug in the `CudnnRNNParamsToCanonical` op or in `CudnnSupport::createRnnDescriptor` or even in cuDNN itself.

Note that the test also seems to be not correct. You are only summing `shape[0]`. But you should sum `prod(shape)`. I wonder why that worked for you in the unidirectional case. It does not for me.

[2017-07-05 08:57] xzy256 commented on #11286
The reason why my hardware is old. When i change a new machine, it displays normally.

[2017-07-05 08:57] #11286 closed

[2017-07-05 08:59] jubjamie commented on #11263
Thanks @ManojPabani I will come over and continue the discussion there. Please close this issue to clear the issue tracker for the devs!

[2017-07-05 09:20] namrata-ibm opened #11290 "Restoring SavedModel in //tensorflow/c:c_api_test fails"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version**: 'v1.2.1-0-gb4957ff', '1.2.1'
- **Python version**: 2.7.12
- **Bazel version**: 0.4.5
- **CUDA/cuDNN versi

[2017-07-05 09:53] notimesea commented on #10755
There is another bug if path to save contains double slash e.g. 'logdir//model'. In this case old checkpoints are not removed as well.

[2017-07-05 11:41] capone3691 commented on #10649
Thk

[2017-07-05 11:46] harelfar2 commented on #10708
Hi @nectario  @aselle  , I'm just wondering if you found a solution yet and you just forgot to mention here. Because I'm facing the same problem here.
Thanks, Harel.

[2017-07-05 11:56] JackieLeeTHU11 commented on #8670
@aselle Today, I replace the inception_v2 with vgg (slim), and everything goes well. So I think the bug is associated with inception_v1~v3. Do you has any reminder?

[2017-07-05 12:16] Androbin commented on #8897
@kwotsin I will recompile, retrain and requantize and comment the results as soon as I have them.

[2017-07-05 12:38] vanpersie32 opened #11293 "tf.reverse doesn't support tensor with unknown shape"
### System information
   ubuntu 14.04
   tensorflow installed from binary
   tensorflow version: tensorflow-gpu  1.2.1
   python version: python 2.7
   CUDA/CuDNN version: cuda 8.0/ CUDNN 5.1
   GPU model

You can collect some of this information using our environment capture script:

https://github.com/tensorflow/tensorflow/tree/master/tools/tf_env_collect.sh

### Describe the problem
Hey tensor

[2017-07-05 12:44] mopimoi commented on #11045
Hello,

Any progress on this issue ? I'm having the same one on Windows 7 Pro.

Thank you in advance !

[2017-07-05 12:48] Androbin commented on #11182
@kwotsin
It seems that the remove transformation also drops output nodes #8181.
And sometimes removing them damages certain layers (e.g. batch norms) which happen to use some Identity ops which cannot be removed unconditionally.

[2017-07-05 12:59] nicaogr opened #11294 "Feature request : Add more Scipy Optimizer"
Hi,

Could it be possible to wrap the [scipy.optimize.basinhopping](https://docs.scipy.org/doc/scipy-0.19.0/reference/generated/scipy.optimize.basinhopping.html) and [scipy.optimize.anneal](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.optimize.anneal.html) the same way the [tf.contrib.opt.ScipyOptimizerInterface](https://github.com/tensorflow/tensorflow/blob/r1.2/tensorflow/co

[2017-07-05 13:02] jorgemf commented on #8670
@JackieLeeTHU11 This is not related with the issue I opened. Please open your own issue and provide code examples of your problem.

[2017-07-05 13:03] yaroslavvb commented on #1045
The order is random, so you may get different results upon reruns. I still think the difference is due to order, the actual ops to be executed should be the same. You can use linearize utility to guarantee that ops run in the same order -- https://github.com/yaroslavvb/stuff/tree/master/linearize

[2017-07-05 13:11] JackieLeeTHU11 opened #11295 "Different batch size different result with inception_v2"
I user inception_v2 as a base network for classification. During training, the batchsize=128. During testing, if the batchsize=128, everything is ok. However, if the batchsize is smaller than 128 the results are different. And the precision declines as the batchsize drops. If the batchsize=1, the network will failed. I also used inception_v3 and inception_v1, the same problems appered. However, if

[2017-07-05 13:12] JackieLeeTHU11 commented on #8670
@jorgemf OK, I will. Thanks!

[2017-07-05 13:32] 0rchard opened #11296 "No OpKernel was registered to support Op 'LesseEqual' with these attrs on Android"
On Android I am trying to load a tensorflow graph which I have frozen by using convert_variables_to_constants however I am getting:

com.example.trio.tensordemo E/TensorflowDebug:
java.lang.IllegalArgumentException: No OpKernel was registered to support Op 'LessEqual' with these attrs.  Registered devices: [CPU],
Registered kernels:
<no registered kernels>
[[Node: bidirectional_rnn/fw/fw/LessEqual

[2017-07-05 13:50] more-more-tea opened #11297 "Matrix Inverse in TensorFlow"
I have a problem related to calculating matrix inverse in TensorFlow python interface version 1.1.0 on Linux. What I'm now trying to do is that, I have an input vector as `tensorflow.float64`, say `S` and a value `V`. I augment the vector `S` to be polynomial fashion in the form ![A=[ 1, S, S^2, S^3 ]](https://latex.codecogs.com/gif.download?A%3D%5B%201%2C%20S%2C%20S%5E2%2C%20S%5E3%20%5D) and want

[2017-07-05 14:01] prashanthmadi commented on #4256
Here is another blog to run tensorflow in Azure App Services
https://prmadi.com/playing-piano-python-app-in-azure-app-services-linux/

[2017-07-05 14:15] kzos opened #11299 "undefined reference to 'soc_interface_AllocateInOutNodeBuffers' Hexagon build failed with latest commit"
OS: Ubuntu 16.04 64bits
 Android Version: 7.1 (Nougat)
 NDK Version: android-ndk-r12b
 HEXAGON SDK: 3.1
 nnlib source: https://source.codeaurora.org/quic/hexagon_nn/nnlib

I have cloned to git commit id - 43a819e1386195f7010f8ca9c74ed96ab81913d8

when I try to build executable for hexagon,
`CC_PREFIX=${CC_PREFIX} NDK_ROOT=${NDK_ROOT} "${BUILD_ALL_ANDROID_PATH}" -x "${GEN_LIBS_DIR}" -s "${TF_ROOT_D

[2017-07-05 14:16] kzos commented on #11299
@Satok provide pointers.

[2017-07-05 14:24] qinyuhang commented on #6698
I have the same issue. Running macOS 10.12.5 GT 750M 2GB

[code]

[2017-07-05 14:35] jubjamie commented on #11295
_Warning: As this doesn't appear to be a bug with Tensorflow, the devs may ask for this to be moved to Stack Overflow._

It looks like you are asking about what Batch Size is. It is expected that reducing the batch size will reduce the accuracy. This is because you are giving your model a limited view of the data. But this is ok because we go over all the batches. There is a trade off with batch s

[2017-07-05 14:42] jubjamie commented on #11279
You can just copy the binaries into the project. I just got them from the nightly and put them into my libs folder in my project.  I would recommend looking at the android demo app here for more information: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android

@drpngx when I started with the android stuff a few months ago it was incredibly painful getting it to work, e

[2017-07-05 15:12] basejn commented on #9672
I have the same problem .

    Win 7
    TensorFlow 1.2 installed via pip.
    Python 3.5 (Anaconda)

[2017-07-05 15:25] gazzterran commented on #7108
I met the same problem. use LSTM, and fixed by the upper method "setting inter_op_parallelism_threads and intra_op_parallelism_threads to 1".
Is there any better methods to fix it ? Or tensorflow on IOS not support LSTM?

[2017-07-05 15:31] skye commented on #11135
@martinwicke it looks like something is wrong with the imports/sealing

[2017-07-05 15:39] skye commented on #11085
I'm not sure if there's extra work required to implement Mac OS support on top of iOS support, so I'll just reopen this ticket.

[2017-07-05 15:43] PKUEcho opened #11300 "State of GPU support for commercial Android devices"
Question has been asked in  [this thread](https://github.com/tensorflow/tensorflow/issues/663) but got no answer. Just curious what's the plans of TF team to support Android GPUs (or no plan at all) for commercial devices such as Nexus. I understand OpenCL is not included in Android now, but we still have RenderScript. And [some work](https://github.com/nesl/RSTensorFlow/tree/matmul_and_conv/tenso

[2017-07-05 15:43] JackieLeeTHU11 commented on #11295
@jubjamie Hi Jubjamie, thanks for your reply. However, my question is not about how to select the batch size during training, but about the batch size during testing. I found the output are complete different when the batch size are different during testing.

[2017-07-05 15:43] #11121 closed

[2017-07-05 15:46] alextp commented on #8057
I'm closing this issue since technically these values are not slots (as there is not one value per variable in the model).

[2017-07-05 15:46] #8057 closed

[2017-07-05 16:08] jbalma commented on #8552
Looks good . Thanks

[2017-07-05 16:09] more-more-tea commented on #11297
It looks in the given case, the matrix is not invertible. However, why for the same input to `matrix_inverse` the output is different? The forward computation should be deterministic, right?

[2017-07-05 16:10] skye commented on #11151
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-07-05 16:12] skye commented on #11157
@nealwu

[2017-07-05 16:15] pradyumnanpk opened #11301 "Blas SGEMM launch failed"
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: I am using Resnet code from tensorflow models with some modifications.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Fedora 24
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: ('v1.2.0-rc2-21-g12f033d', '1.2.0')
- **Python ve

[2017-07-05 16:17] skye commented on #11165
FYI @mrry

[2017-07-05 16:18] skye commented on #11171
@prb12 can you comment or redirect? Thanks.

[2017-07-05 16:20] skye commented on #11181
@tfboyd can you comment or redirect? Thanks.

[2017-07-05 16:29] hyperdo commented on #11203
Thanks so much! Closing now.

[2017-07-05 16:29] #11203 closed

[2017-07-05 16:47] tfboyd commented on #11232
I am working on a post with data to help people with CPU only situations.  MKL can provide a lot of improvement for CNN style models but there are some edge cases and you will need to set some environment variables as well as use the desired data format NCHW (assuming image data).  I am a big fan and I realize there is a lot we do not know about MKL performance.  With not very many people running

[2017-07-05 16:51] tfboyd commented on #10982
Ping myself.  My test will be weak.  I am going to give this a try locally today with python2 and head just to make sure nothing is wrong.

[2017-07-05 17:04] mrry commented on #11293
The docs for `tf.reverse()` indicate (perhaps too subtly...) that the `axis` argument must be one-dimensional, so you should instead pass `axis=[0]`. The following code works as intended:

[code]

[2017-07-05 17:04] #11293 closed

[2017-07-05 17:04] tfboyd commented on #10685
I have some numbers only CNN based models.  There are cases where AVX or AVX2 is faster and more so if the wrong settings are used.  I should have a draft done this week and I may (most likely will) just share what I know on this thread ASAP because the info is not secret but it takes time to get all the editing done to meet the quality bar for the tf.org site.

[2017-07-05 17:05] danijar opened #11303 "Catch KeyboardInterrupt in sess.run()"
Right now, Ctrl+c does not abort a long session run.

[2017-07-05 17:09] m23project opened #11304 "TensorFlow on Kieler Open Source und Linux Tage?"
Hi,

I didn't find any contact information for the TensorFlow project, so I try it here :-)

We are organising our 15th "Kieler Open Source und Linux Tage" (northern of Germany, www.kielux.de), a conference with 4 parallel tracks with talks and workshops and a smal exhibition for open source community projects and companies.

Is there anybody who would like to hold a talk and/or give a TensorFlow

[2017-07-05 17:10] ysuematsu commented on #11080
This requires some updates in the API and it's in the works right now.

[2017-07-05 17:21] satok16 commented on #11257
Sure, thank you for the update.

[2017-07-05 17:21] #11257 closed

[2017-07-05 17:23] satok16 commented on #11210
Sure, thank you for the update!

[2017-07-05 17:23] #11210 closed

[2017-07-05 17:26] prb12 commented on #11171
I'm not really the best person to answer this, but yes we are aware of this technique and similar things crop up in various places in TensorFlow:

- XLA has an optimization pass that does selective rematerialization of HLO expressions when necessary to fit in a memory budget `tensorflow/tensorflow/compiler/xla/service/hlo_rematerialization.h`
- Grappler has a rewriting pass that does this: `tensor

[2017-07-05 18:27] jakiechris commented on #11231
this post helps me a lot:
https://github.com/tensorflow/tensorflow/issues/3308

[2017-07-05 18:30] cy89 commented on #10703
@jart, this does seem like a Bazel issue; PTAL when you have a moment.

[2017-07-05 18:32] cy89 commented on #10703
a

[2017-07-05 18:36] cy89 commented on #10866
@shanalikhan When you have a moment with access, it'd be lovely to have the precise answer, and then we could close this issue. Thanks for your help!

[2017-07-05 18:44] odhinnsrunes commented on #10866
The actual code that worked for me was to replace:
`      buffer[:] = data[:span]`

With:

`      for word in data[:span]:
        buffer.append(word)`

[2017-07-05 18:47] jakiechris commented on #11231
there are really several important notations of tensorflow/contrib/makefile :

the header files of libtensorflow.a consists of generated h files in tensorflow/contrib/makefile/gen and in tensor source.

tensor depends on protobuf to serial class objects to file. fortunely, protobuf lib file is also generated in gen folder.

all platforms has different shell scripts to build tensor, but share the s

[2017-07-05 18:49] shanalikhan commented on #10866
@cy89 its the same one i wrote :)
As this issue was opened by me, I should close this issue as its solved

[2017-07-05 18:49] #10866 closed

[2017-07-05 18:51] cy89 commented on #10950
@albertz could you please fill in the exact version numbers that you're using, perhaps just copy/pasting the form from ali01's response?

Also, it's not clear to me whether you can construct a smaller exhibitor code sample, but that would help a bunch. Thanks!

[2017-07-05 18:53] mvpel commented on #7257
@xinyazhang - that can have performance implications, albeit slight, since CPUs will throttle their frequency if they are pushed into the upper limits of their temperature range for too long.

@apacha - There's not much point to vector instructions in a GPU-enabled TF runs, since the work that would be done by those instructions in the CPU is done in the GPU much more quickly, and so the fact that

[2017-07-05 18:55] jakiechris commented on #11231
so when you have your own c++ project ,
i recommend you to compile tensor first,
and then copy the entire tensorflow folder to your c++ project,
in your c++ project , config -I    -L    -l  paths to point to the tensorflow folder.

compile errors always caused by -I -L path not found and easy to solve
if there are runtime errors , modify  tensorflow/contrib/makefile/gen/Makefile to add sources to

[2017-07-05 19:11] Androbin commented on #8897
I might need some time though, there are currently some issues with building the inference library.

[2017-07-05 19:31] tfboyd commented on #10982
I know this is not super helpful although I had an idea at the end.  I just ran the following setup and the example worked.  I double checked the timeline to ensure XLA was 100% running:

- CUDA 8
- cuDNN 5.1
- TF (head past 1.2):  3a64879a86e46908ad90a387efe56ad32be61e94
- GTX 1080, which should not matter
- Python2.7, I doubt python is the issue as the error is coming from the `op` but it would

[2017-07-05 19:32] andydavis1 commented on #11297
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-05 19:32] #11297 closed

[2017-07-05 19:36] andydavis1 commented on #11289
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-05 19:36] #11289 closed

[2017-07-05 19:40] andydavis1 commented on #11299
Is this issue still open?

[2017-07-05 19:42] cy89 commented on #11142
@kwotsin would you please add the sequence of commands you issued to get the error?

[2017-07-05 19:43] satok16 commented on #11299
Sorry, I'm on it.  Will be fixed asap.

[2017-07-05 19:45] dr4b commented on #11287
This is a duplicate of #11123 but I think the information is probably relevant and useful for that issue too.

[2017-07-05 19:45] #11231 closed

[2017-07-05 19:51] andydavis1 commented on #11279
assigned to add documentation for a how-to on this.

[2017-07-05 20:09] eliben commented on #11171
@sanjoy

[2017-07-05 20:29] andydavis1 commented on #11271
@zheng-xq any idea in this one?

[2017-07-05 20:30] andydavis1 commented on #11245
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-05 20:30] #11245 closed

[2017-07-05 20:34] andydavis1 commented on #11277
Can this be closed now?

[2017-07-05 20:35] andydavis1 commented on #11295
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-05 20:35] #11295 closed

[2017-07-05 20:37] andydavis1 commented on #11269
@martinwicke have you seen this one before?

[2017-07-05 20:54] ebrevdo commented on #9527
Can you provide examples/gists of your manual unrolling code, how you're calling static_rnn, and also your custom dynamic_rnn which doesn't use TensorArrays?

It's true that if you don't care about the final state or properly zeroing out your outputs (both require using tf.where) then you can get faster performance.  You disable this by passing sequence_length=None to dynamic_rnn.  You can also us

[2017-07-05 20:56] cy89 commented on #11180
@wwh2259253, would you please try @gunan's suggestion, and let us know whether it helps?

[2017-07-05 21:14] amandajliu commented on #11256
@ScorpioCPH when I run `wide_n_deep_tutorial.py` on r1.2, I get a ValueError:

[code]

Any advice on this? Thanks.

[2017-07-05 21:23] RylanSchaeffer commented on #9764
I'm struggling to figure out how `AttentionWrapper` interacts with `MultiRNNCell` in TensorFlow 1.2. Could anyone explain or link me to an example? @gunan @ales-t @drpngx

Also, for anyone else coming along, TensorFlow 1.2 replaces `DynamicAttentionWrapper` with `AttentionWrapper`.

[2017-07-05 22:15] anishathalye commented on #11091
Okay, so I tried the following:

I have a network `y(x)`, where `y` contains no `tf.gradient` ops, and I checked:

1. `tf.check_numerics(tf.gradients(y, x)[0])` -- result is ok

2. `tf.test.compute_gradient_error(x, ..., y, ...)` -- result is ~ 983 (is that okay? in any case, for training, first derivatives seem to work)

3. `tf.check_numerics(tf.gradients(tf.gradients(y, x)[0], x)[0])` -- result

[2017-07-05 22:22] anishathalye commented on #11023
Oh hmm, I upgraded to 1.2.0 and now it works.

[2017-07-05 22:22] #11023 closed

[2017-07-05 22:27] annieyuan opened #11307 "Feature are incompatible with given information in evaluate() using contrib.learn.SVM"
Code is as follows:
[code]

However, when I run the program, it runs into error as follows:
[code]

I cannot find any relevant questions online and therefore is very lost
Please help! Thanks in advance

[2017-07-05 22:29] eraoul commented on #4371
I installed Bazel from the macOS installer

`./bazel-0.5.2-installer-darwin-x86_64.sh --user`

and I have the same problem when trying to build something (a fork of the Magenta repo, in my case):

`ERROR: /private/var/tmp/_bazel_epnichols/3e6515dd3746b8d7b7b2bef4294514b6/external/protobuf/protobuf.bzl:91:19: name 'HOST_CFG' is not defined.`

A bit more info:
[code]

Is this actually broken in the

[2017-07-05 22:30] alextp commented on #11091
This is really hard to debug without having access to the full graph.

What I'd do if I did have access  to the full graph would be bisect it;
removing chunks of graph at a time until the error in second derivative
goes down to see if there's some part of the code which is less numerically
stable than it should be.

On Wed, Jul 5, 2017 at 3:17 PM, Anish Athalye <notifications@github.com>
wrote:

-

[2017-07-05 22:31] dobbysock1002 opened #11308 "Reading data from GCS, processing hangs indefinitely"
### System information
- Using the ml engine example here: https://github.com/GoogleCloudPlatform/cloudml-samples/tree/master/census/estimator/trainer
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OSX 10.11.5
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.1.0
- **Python version**: 2.7.12

### Describe the problem
This

[2017-07-05 23:05] darrengarvey commented on #11122
Looks like this came in with the `ComputationPlacer` in 7d3497a6. Although it might have just been exposed by that commit.

Specifically, [this check](https://github.com/tensorflow/tensorflow/commit/7d3497a639670d9c31d09185ff97b852f0fbe101#diff-91c1769c96df8265caf0c5f0ea83666fR99) fails for the Executor plugin. The `TransferManager` registers  itself in the executor plugin ([like this](https://git

[2017-07-05 23:09] cy89 commented on #11192
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-05 23:15] ylmeng commented on #11192
Ok thanks. I do think it is a bug though. A wrong variable is used here.

[2017-07-05 23:24] cy89 commented on #11240
@albertz checking configuration: this occurs on the CPU; no GPU required?

[2017-07-05 23:49] cy89 commented on #11192
Sorry, I missed that. I agree.

[2017-07-05 23:50] cy89 commented on #11192
#10403 looks like the same problem, with a little more context about the x/y confusion.

[2017-07-05 23:53] cy89 commented on #10403
Our apologies. I think @navya-xx -s correct that the x_is_dict on the last line should be a y_is_dict.

[2017-07-05 23:53] #11192 closed

[2017-07-06 00:17] junshi15 commented on #9926
@AEGQ
There was a proposal for the user to specify the device. Yours is to find the first usable device. I think your approach will work as well. If you want to make the change, please send in a pull-request. Thanks.

[2017-07-06 00:18] dustinvtran opened #11309 "Mixture of multivariate distributions"
Consider a mixture of 2-dimensional Gaussians in TensorFlow:
[code]
This works because each `MultivariateNormalDiag` distribution has a batch shape of `()`. It is compatible with the `Categorical`'s batch shape.

Now consider a mixture of 2-dimensional Bernoulli's, or Gamma's, or Laplace, or StudentT's. We need an equivalent `MultivariateBernoulli`, `MultivariateGamma`, etc. distribution which all

[2017-07-06 00:29] cy89 commented on #11296
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

As an aside, is there any chance that you've registered the kernel on GPU, but the node is trying to find the CPU variant, so that's why you're not finding the correctly registered ke

[2017-07-06 00:29] #11296 closed

[2017-07-06 00:32] cy89 commented on #11300
@petewarden and @andrewharp: can you offer any guidance?

[2017-07-06 00:39] cy89 commented on #11304
This seems like a better request to post to the TensorFlow Discuss mailing list (https://groups.google.com/a/tensorflow.org/forum/#!forum/discuss), rather than to this issue tracking tool. Please try there, and have a great workshop!

[2017-07-06 00:39] #11304 closed

[2017-07-06 00:45] cy89 commented on #11308
As a first step, perhaps you could use tf.print() to figure out where the code is hanging?

[2017-07-06 00:59] jxua opened #11310 "My problem---tensor-flow connect with Windows IIS?Hello,i just ask a question three days ago, but no response,can you spend some time to reply me?"
I set up a tensorflow system, use flask grammar to set up . And in local computer, all run ok, no error.
But when I mount it in IIS, as Web API to use, It always show FASTCGI error. Does tensorflow incompatiable with IIS?

[2017-07-06 01:03] nectario commented on #10708
Sorry, I haven't spent the time required to find a solution. :-(

[2017-07-06 01:04] cy89 commented on #11196
@poxvoculi can you shed any light on this discussion?

[2017-07-06 01:11] cy89 commented on #11254
@shaoyn0817 please try @ScorpioCPH 's suggestion, and let us know if it helps.

[2017-07-06 01:32] Nicolas99-9 opened #11311 "AttributeError: 'Tensor' object has no attribute 'assign_add'"
I'm trying to use "assign_add" :
https://www.tensorflow.org/api_docs/python/tf/assign_add

my code :
accum_ops = tf.assign_add(accum_grad, grad, name=name)

Output ;
AttributeError: 'Tensor' object has no attribute 'assign_add'

Has the name changed ?

[2017-07-06 01:38] huyong1109 commented on #11080
@ysuematsu That's great!

[2017-07-06 01:42] vanpersie32 commented on #11293
@mrry thank you mrry.

[2017-07-06 01:48] shaoyn0817 commented on #11254
thx~

[2017-07-06 01:48] #11254 closed

[2017-07-06 01:52] martinwicke commented on #11135
Looks like this is resolved on master.

[2017-07-06 01:52] #11135 closed

[2017-07-06 02:00] zsz02 opened #11312 "tf.gfile.FastGFile(filename, 'r').read() error: 'utf-8' codec can't decode byte 0xff"
### Describe the problem
Describe the problem clearly here. Be sure to convey here why it's a bug in TensorFlow or a feature request.
TensorFlow 1.2.0

image_data = tf.gfile.FastGFile(filename, 'r').read()
python2.7 is good，but Python3.5 error ：  'utf-8' codec can't decode byte 0xff in position 0: invalid start byte

why???

[2017-07-06 02:07] JackieLeeTHU11 commented on #11295
@andydavis1 Thanks, I will.

[2017-07-06 02:14] nealwu commented on #11157
That's very odd that the error disappears with TensorFlow 1.0. @lukaszkaiser do you know what might be happening here?

[2017-07-06 02:16] zhangdingfei commented on #10982
I tried with one GPU, but got the same failure.

linux-swfm:~/workarea> CUDA_VISIBLE_DEVICES=0 python3  mnist_softmax_xla.py
Extracting /tmp/tensorflow/mnist/input_data/train-images-idx3-ubyte.gz
Extracting /tmp/tensorflow/mnist/input_data/train-labels-idx1-ubyte.gz
Extracting /tmp/tensorflow/mnist/input_data/t10k-images-idx3-ubyte.gz
Extracting /tmp/tensorflow/mnist/input_data/t10k-labels-idx1-ub

[2017-07-06 02:16] ScorpioCPH commented on #11311
Please show me the `version` of `TensorFlow`:

[code]

[2017-07-06 02:20] ScorpioCPH commented on #11284
Which branch are you in?

Checkout released branch, e.g. `v1.2.0`, and retry.

[2017-07-06 02:20] Nicolas99-9 commented on #11311
1.2.1

[2017-07-06 02:23] chunyang-wen opened #11313 "tf.nn.embedding_lookup_sparse behaves not as expected"
Simple repeated code:

[code]

**expected results**: 2*3

[code]

but **actual results**: 4\*3

[code]

I do not get it. Can anyone help to clarify the result?

Tensorflow version: 1.2.1, installed with pip.
OS: mac os 10.12.5

[tf.nn.embedding_lookup_sparse](https://www.tensorflow.org/api_docs/python/tf/nn/embedding_lookup_sparse)

Another problem: I am using a partitioned variable to lookup. Pse

[2017-07-06 02:38] ScorpioCPH commented on #11311
As this method defined:

[code]

**Args:**

- ref: A mutable Tensor.

So `accum_grad` must be reference-typed.

From [stackoverflow](https://stackoverflow.com/a/37959933/3167471)

[2017-07-06 02:41] lukaszkaiser commented on #11157
There were a lot of changes to RNNCell since 1.0, must ask @ebrevdo  to take a look.

[2017-07-06 02:48] dobbysock1002 commented on #11308
I think I've narrowed it down. It's actually hanging on this code:
[code]
If I remove the code, then the program is able to run with the data in my bucket. But I don't see anything in the source code to suggest why it's getting stuck.

[2017-07-06 02:48] feiga commented on #11284
@ScorpioCPH I was using master branch. I also tried with v1.2.0, and it also failed.

[2017-07-06 03:24] 1234clam commented on #11271
Do you have some idea to solve this problem.Thank you! @drpngx @andydavis1

[2017-07-06 03:25] KeithYin opened #11314 "There is no work_sharder file in tensorflow/core/framework"
I am reading the `Add a new op` section in official website. There is a link [https://www.github.com/tensorflow/tensorflow/blob/r1.2/tensorflow/core/framework/work_sharder.h](work_sharder.h), and this link is 404 not found. Then i tried to find the work_shader.h in tensorflow/tensorlfow/core/framework, and i failed. where can i find work_sharder.h file and detailed documentation of it ?
Thx.

[2017-07-06 03:27] marcsto commented on #4648
In case someone else runs into this, predict can take a generator as a parameter.

Here's a class that wraps an estimator with a generator. This means you can make multiple calls to predict without reloading the graph.

https://github.com/marcsto/rl/blob/master/src/fast_predict.py

[2017-07-06 03:31] yzhwang commented on #11271
Hi @1234clam . Just to make sure, is this the example you are using? https://www.tensorflow.org/get_started/mnist/beginners Thanks!

[2017-07-06 03:31] KeithYin commented on #11314
Found it, in tensorflow/core/util/work_sharder.cc

[2017-07-06 03:31] #11314 closed

[2017-07-06 03:47] 1234clam commented on #11271
Yes I have run this example and  run the minst_mlp.py in keras example,it can work every well but when i use the cnn it  caused such a mistake. Do you have some advice to solve this problem? The result minst_softmax.py example just like this:
[code]

[2017-07-06 04:04] ScorpioCPH commented on #11284
Do you run `./configure` before bazel buiild?

[2017-07-06 04:45] ywchan2005 opened #11315 "tf.assert_equal throws "object was never used" error in v1.2.x"
The following code is copied from some tensorflow repository outside.

`tf.assert_equal( tf.size( x ), tf.constant( 1 ) )`

While running in tensorflow v1.2.0 or v1.2.1, it throws the following log.

`ERROR:tensorflow:==================================
Object was never used (type <class 'tensorflow.python.framework.ops.Operation'>):
<tf.Operation 'update_hyper/cond/assert_equal/Assert/Assert' type

[2017-07-06 04:52] BastiaanBergman opened #11316 "order of execution of functions in cond statement is inconsistent"
### Inconsistency and/or feature request.

Tensorflows control flow method
`tf.cond(condition, fn1, fn2)`
executes both functions fn1 and fn2 and returns only one depending on the evaluation of condition. In addition, the order in which the two functions are evaluated varies or is undefined as the following code shows:
[code]
The output of this varies from run to run, but a typical example is:
[co

[2017-07-06 05:03] kwotsin commented on #11182
Thanks for the explanation! Hopefully there's a fix coming soon

[2017-07-06 05:07] #11313 closed

[2017-07-06 05:30] mrry commented on #11316
If you create the `tf.assign()` ops outside the branch functions, this is working as intended. I [answered the question on Stack Overflow](https://stackoverflow.com/a/44936931/3574081) with an explanation of how to make this consistent.

[2017-07-06 05:30] #11316 closed

[2017-07-06 05:32] mrry commented on #11311
If the statement `accum_ops = tf.assign_add(accum_grad, grad, name=name)` yields the error `AttributeError: 'Tensor' object has no attribute 'assign_add'`, then I'm betting that you've accidentally created a tensor called `tf`, which has overwritten the module alias `import tensorflow as tf`. Such are the joys of a dynamic language like Python! The solution would be to rename that tensor to someth

[2017-07-06 05:32] #11311 closed

[2017-07-06 05:37] SarthakJShetty commented on #11134
Hey! just fixed the problem. Bash on windows comes with Python 3.x 32 bit in built and had to install Python 3.x 64 bit to fix the issue. TensorFlow working perfectly fine. Thanks for the help!

[2017-07-06 06:21] theflofly commented on #9837
Hello, this is a message to keep you updated. I think that I have a working version, I'll soon share the code. I still have a TODO list of minor things to do.

[2017-07-06 06:35] albertz commented on #11240
@cy89 Good that you mention this, I would not have thought that this might be related to GPU. I just tested this with and without GPU and it only seems to fail with GPU. (Tested now with TF 1.2.1.)

[2017-07-06 06:50] JeremyCCHsu commented on #11122
I have the same problem.

### Code to reproduce the issue:
[code]

The error message:
[code]

However, replacing the last 2 lines with the following won't trigger the error.
[code]
This yielded normal output and did not trigger core dump.
[code]

### System Info
OS: Ubuntu 16.04
Tensorflow: 1.2.1, built from source
  commit ee4259a271f56a32f046cb840215f1370acaf186
  (and commit 43a819e1386195f7010

[2017-07-06 07:24] #11263 closed

[2017-07-06 07:36] albertz commented on #10950
Ok, I reduced the test case a bit.

`demo.cpp`:
[code]

`demo.py`:
[code]

If you call `demo.py`, with Python 2.7.12, on Ubuntu 16.04, I get this output:
[code]

But as I already guessed in the title, the problem is probably that the TF binary from the pip package is binary-incompatible to the protobuf pip package (3.3.0).
And the solution, as written maybe indirectly in #1419, is to just export t

[2017-07-06 08:13] JieHe96 commented on #9476
@s1ddok @petewarden @hansonboy I found a solution for this issue. Try this:
in the (your tensorflow root)/tensorflow/contrib/makefile/Makefile
remove the line "-D__ANDROID_TYPES_SLIM__ " under "# Settings for iOS." for all "$(IOS_ARCH)"
then recompile the libtensorflow-core.a according to the modified Makefile.

The reason why this happened is because:
in tensorflow/core/kernels/cwise_ops_common.h

[2017-07-06 09:06] minhlab opened #11318 "TypeError: Input 'strides' of 'StridedSlice' Op has type int32 that does not match type int64 of argument 'begin'."
I just want to get a slice of a tensor. It works for int32 but not for int64:

[code]

[2017-07-06 09:11] martinwicke commented on #11269
It looks like it's trying to relocate symbols from libgomp into bss, but libgomp is not relocatable?
Have you tried adding `-fPIC`, or increasing `-mlarge-data-threshold`?

See also: `-mcmodel=medium` in https://gcc.gnu.org/onlinedocs/gcc-4.5.3/gcc/i386-and-x86_002d64-Options.html

@cwhipkey I honestly don't know what we're exactly building with, do you know?

[2017-07-06 09:12] meteorcloudy commented on #11045
@dgovil @mopimoi I also believe this is a Path issue.
I have the following relevant path on my machine:
[code]

Can you please check if you have all corresponding directories in PATH?

[2017-07-06 09:35] davidshen84 commented on #11096
Finally, I got the build pass. I think the problem is not related to the `AVX2` option, but the `  -Dtensorflow_BUILD_CC_TESTS=ON` option.

I guess some of the unit tests are really complicate and relies on features only available on *gcc*.

It would be nice to verify the build with unit test on Windows, but I do not think it is of high priority. :)

[2017-07-06 09:37] GearFear commented on #11086
### System information
OS: RedHat_7.2_x86_64
CPU Model: Intel(R) Xeon(R) CPU E5-2680 v3 @ 2.50GHz
TensorFlow installed with pip install tensorflow-gpu

[nvidia-smi.txt](https://github.com/tensorflow/tensorflow/files/1127376/nvidia-smi.txt) - output of nvidia-smi -q

Python 3.5.2 :: Intel Corporation is used
CUDA version: 8.0

TensorFlow Version: v1.0.0-65-g4763edf-dirty 1.0.1
[kmeans_rep.txt](http

[2017-07-06 09:40] sunyaping1991 commented on #8645
@lufengguang I have same problem。How did you solve it?

[2017-07-06 09:56] superrrrrr1995 opened #11320 "BeamSearchDecoder Bug on beam_width"
### System information
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 14.04
- TensorFlow installed from (source or binary): Pip Binary
- TensorFlow version (use command below): 1.2.1
- Python version: 3.4
### My coustom code
[code]
### Error Desciption
It is ok to build tfGraph.

[2017-07-06 10:25] lizekui opened #11321 "Is 'tf.concat' 's API is wrong?"
According 'tf.concat' 's API (0.12):

`t1 = [[1, 2, 3], [4, 5, 6]]`
`t2 = [[7, 8, 9], [10, 11, 12]]`
`tf.concat(0, [t1, t2])`

while console returns:

`tf.concat(0, [t1, t2])
Traceback (most recent call last):`
`File "<ipython-input-65-5990b998f0fa>", line 1, in <module>
    tf.concat(0, [t1, t2])`
`File "E:\SDK\Anaconda2\envs\py3\lib\site-packages\tensorflow\python\ops\array_ops.py", line 1044, i

[2017-07-06 11:04] s2244521 commented on #7246
I also have the problem. I want to train a multi_task network and the main network I used is the inception v2 but I reduced the number of inception blocks. I wrote the code by myself.
I tensorflow/core/common_runtime/gpu/pool_allocator.cc:247] PoolAllocator: After 2422 get requests, put_count=2413 evicted_count=1000 eviction_rate=0.414422 and unsatisfied allocation rate=0.457886
I tensorflow/core/

[2017-07-06 11:39] ScorpioCPH commented on #11321
As this API defined [here](https://www.tensorflow.org/api_docs/python/tf/concat):

[code]

And args must follow:

- `values`: A list of `Tensor` objects or a single `Tensor`.
- `axis`: 0-D int32 `Tensor`. Dimension along which to concatenate.
- `name`: A name for the operation (optional).

[2017-07-06 11:54] ScorpioCPH commented on #11310
Sorry i don't understand

can you show me an `example` with more details?

[2017-07-06 12:04] JerrikEph commented on #11076
Would it redirect the whole tensor to a file, or it would just output the summary?

[2017-07-06 12:54] yonidonner commented on #7610
Building from sources (MKL enabled) seems to help a lot with this issue. Compared to the pip binary, almost 10x faster.

[2017-07-06 12:58] mjanusz commented on #7610
@girving Yes. The commit a999474 fixes a regression that should provide a 3x-5x speedup, depending on the exact configuration. The next step to improve performance is to write a contraction mapper in eigen_cuboid_convolutions.h, but I haven't had the chance to do that yet.

[2017-07-06 13:08] datomnurdin opened #11324 "TypeError: concat() got an unexpected keyword argument 'concat_dim'"
I got this error message regarding to tf.concat

[code]

Code: https://github.com/datomnurdin/tensorflow-image-segmentation/blob/master/index.ipynb

Please advice. Thank you.

[2017-07-06 13:34] talesa opened #11325 "[contribution] 3d geometric transformations?"
Hi!
I wonder if you see purpose in adding 3d geometric transformations to contrib? (such as those available in [transforms3d library](https://github.com/matthew-brett/transforms3d))
I've written a few of those in tensorflow for one of my projects and I wonder if it would be worth doing some refactoring and documentation to make it contribution-worthy?
I've implemented them using tf python function

[2017-07-06 13:44] brianwa84 commented on #4638
@aselle probably want to keep this open right?

[2017-07-06 13:52] #11321 closed

[2017-07-06 14:29] arduano opened #11326 "ModuleNotFoundError: No module named '_pywrap_tensorflow_internal'"
Windows 10 Home
Python 3.6
CUDA 8.0 & 7.5
cuDNN 5.1 (for both 8.0 and 7.5)
CUDA path variables set (to 8.0)
GeForce GTX 970
tensorflow installed from:
https://github.com/tensorflow/tensorflow/tree/r1.2
http://i.imgur.com/tqTp5LA.png

I also have Theano and CNTK installed and they both work

the error happens when importing tensorflow
`import tensorflow as tf`

[code]

[2017-07-06 14:32] navya-xx commented on #10403
No worries. I am glad that its been solved now.. Thanks.. :)

[2017-07-06 14:34] BerndSchmitt commented on #9222
I have nearly the same problem here. (i think):

System information
OS: windows 7 64 bit
Tensorflow installed with for windows python 3 (with GPU) from binary (pip3 install....)

Tensorflow version:

import tensorflow as tf; tf.__version__
'1.0.1'

I do not have any protoc ...

$ bazel version
WARNING: ignoring http_proxy in environment.
Build label: 0.5.2- (@non-git)
Build target: bazel-out/msys_

[2017-07-06 14:37] ashern commented on #4648
Thanks Marc - that is exactly the pattern I was describing.

On Wed, Jul 5, 2017 at 11:29 PM, Marc Stogaitis <notifications@github.com>
wrote:

[2017-07-06 14:38] kzos commented on #10763
@petewarden,
I am implementing few of the ops mentioned above.
started with mean, stop gradient and then
conv2dbackpropinput.

For op_mean, collecting information from graph transferrer as below(4 inputs) (1 output):

      const struct tensor *input = self->input[0];
      const struct tensor *axes = self->input[1];
      const struct tensor *dims = self->input[2];
      const struct tensor *redu

[2017-07-06 14:41] zhisbug commented on #11092
Any follow-up on this thread??? thanks!

[2017-07-06 15:12] ma0ho opened #11327 "Backprop through conv2d with large tensors fails"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
1.1.0
- **Python version**:
3.5.2
- **Bazel version (if compiling from source)**:
0.4.5
-

[2017-07-06 15:29] AEGQ commented on #9926
@junshi15

thanks for you reply :)

I will send a PR after test if it ([L69](https://github.com/AEGQ/tensorflow/blob/verbs/tensorflow/contrib/verbs/rdma.cc#L69)) is acceptable to you :)

[2017-07-06 15:30] madhurcodes commented on #11277
Sure, though it would be nice if someone could point me to where the latest windows builds are stored. I checked the jenkins page but couldn't find out how to get the binaries it builds. (Don't want to install everything to build it myself).

[2017-07-06 15:33] amandajliu opened #11328 "wide_n_deep AttributeError (master) and ValueError (r1.2)"
I'm using TensorFlow 1.2.1. When I run `python wide_n_deep_tutorial.py --model_type=wide` from the [Linear Model tutorial](https://www.tensorflow.org/tutorials/wide), I get the following AttributeError:

[code]

I tried switching to r1.2, as suggested in #11256, but got this ValueError on r1.2:

[code]

[2017-07-06 15:38] jubjamie commented on #11326
@mrry has a great script to help diagnose these problems. What are the results of that?

Check out this post here: https://stackoverflow.com/questions/42011070/

These problems are often caused by the MSVCP140.DLL not being installed and/or in your path.

(Side bar: Are you installing tensorflow in the root of your anaconda and then accessing it through an environment or all through root?)

[2017-07-06 15:48] ebrevdo commented on #11157
Do you get this error in earlier versions of python (i.e., python 3.4)?  I'm trying to replicate locally with python2.7.

[2017-07-06 15:48] ebrevdo commented on #11157
Scratch that; i'll test it with python3.4.

[2017-07-06 16:15] mrry commented on #11312
Python 3 introduces a distinction between the "r" and "rb" modes for [opening a file](https://docs.python.org/3/library/functions.html#open). Using the "r" mode will cause Python to interpret the file contents as text&mdash;in your case (and the common case) using an UTF-8 encoding&mdash;but the error message indicates that data is binary format (presumably some image format, based on your variabl

[2017-07-06 16:15] #11312 closed

[2017-07-06 16:16] andydavis1 commented on #11277
@martinwicke @mrry Any idea where windows builds are stored (see question above).

[2017-07-06 16:17] mrry commented on #11324
It looks like that code was written for an older version of TensorFlow. From TensorFlow 1.0 onwards, [`tf.concat()`](https://www.tensorflow.org/versions/r1.0/api_docs/python/tf/concat) takes the arguments `values` and `axis`. Replacing `concat_dim` with `axis` will fix the problem.

[2017-07-06 16:17] #11324 closed

[2017-07-06 16:21] tatatodd commented on #11275
@carlthome What version of tensorflow are you using?  Since XLA and tfcompile support is currently experimental, I'll suggest you build from sources at HEAD.

Also, can you provide a minimal test case that demonstrates the problem?  Thanks!

[2017-07-06 16:22] mrry commented on #11277
See [here](http://ci.tensorflow.org/job/tensorflow-master-win-cmake-py/) under "Last Successful Artifacts".

[2017-07-06 16:26] andydavis1 commented on #11327
@yzhwang  can you take a look?

[2017-07-06 16:36] andydavis1 commented on #11277
Thanks derek!

[2017-07-06 16:36] #11277 closed

[2017-07-06 16:40] andydavis1 commented on #11309
@ebrevdo can you comment on this if you have a chance?

[2017-07-06 16:43] lincolnBush opened #11329 "tf.image.rgb_to_grayscale Bug?"
Hi,
I have the same problem with this one with the current version of tensorflow under python 3.5. It seems that tf.image.rgb_to_grayscale cannot accept RGB input. Wonder if anyone could check this. Many thanks.

https://stackoverflow.com/questions/40924184/error-while-feeding-images-to-tensorflow-graph

[2017-07-06 16:46] tfboyd commented on #10982
My final thought is to compile the latest version from head, which is where I started.  It is entirely possible there was an XLA issue in the 1.1 branch.  I would also use CUDA 8.  With XLA being experimental I try to stick with the most common settings and the most recent code.

I know this can be frustrating and is why it is still marked as experimental.  If I think of anything else I will updat

[2017-07-06 16:47] poxvoculi commented on #11196
The analysis of the situation by @jongsae and @byronyi seems largely correct.  Inter-process communication is less performant than intra-process, so the later is to be preferred when using multiple GPUs on a single machine.   Separate processes cannot access each other's address space, so TF will always try to use an RPC when communicating between processes, even if they're on the same machine.  A

[2017-07-06 16:53] andydavis1 commented on #11265
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-06 16:53] #11265 closed

[2017-07-06 16:55] andydavis1 commented on #11193
@jart any ideas on this one?

[2017-07-06 17:03] andydavis1 commented on #11219
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-06 17:03] #11219 closed

[2017-07-06 17:05] andydavis1 commented on #11199
@printdhruv thanks for your help on this one!

[2017-07-06 17:05] #11199 closed

[2017-07-06 17:08] andydavis1 commented on #11163
@benoitsteiner can you look at the bug fix #11283?

[2017-07-06 17:11] #11273 closed

[2017-07-06 17:12] jwbono commented on #2938
I'm working with TF v1.2.0.  I have the original issue, where in reshaping the input for tf.nn.dynamic_rnn(), I can set the final dimension with an integer, but the first two must be placeholders. If I reshape with this mixture of tf.placeholders() and Python integers, I don't get the auto-packing:

[code]

I tried converting the final dimension to a tf.constant() and using tf.stack() to get a sha

[2017-07-06 17:20] cy89 commented on #11318
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-06 17:21] cy89 commented on #11320
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-06 17:21] #11320 closed

[2017-07-06 17:25] mrry commented on #2938
(Please use Stack Overflow for questions like this in future!)

The problem stems from these definitions:

[code]

For some reason, the `batch_size` and `trainLength` are defined as length-1 vectors, rather than scalars. `h_size` is a scalar. Auto-packing only works if all of the elements are the same shape. I'd recommend redefining `batch_size` and `trainLength` as scalars:

[code]

...though thi

[2017-07-06 17:30] datomnurdin commented on #11324
It worked!! Thanks!!

[2017-07-06 17:31] mrry commented on #11329
That Stack Overflow question doesn't describe a bug... instead the original questioner was defining a placeholder of the wrong size (1 channel instead of 3 channels). I'm going to close this as working-as-intended, but feel free to reopen if you can show a minimal example that demonstrates a bug.

[2017-07-06 17:31] #11329 closed

[2017-07-06 17:57] Moriadry commented on #9837
@theflofly happy to hear that, looking forward to your code.

[2017-07-06 18:34] aluo-x commented on #11096
@davidshen84 Could you try running the code I [linked to here](https://github.com/aluo-x/tensorflow_windows/issues/1#issuecomment-312762361), but with the batch norm layer. My builds were successful, but did not have correct behavior when running batch norm.

[2017-07-06 18:37] aselle commented on #11123
This is fixed in the master branch...
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/get_started/get_started.md

[2017-07-06 19:09] ma0ho commented on #11327
Just updated to TF 1.2.1 (built from source), but the issue persists.

[2017-07-06 19:21] andydavis1 commented on #11325
You could send a PR to add them to contrib.

[2017-07-06 19:26] minhlab commented on #11318
It looks like a bug for me... I mean, why can't int64 be used as a simple index? What happen if I have a vector of more than 2^32 elements?

[2017-07-06 19:42] persiyanov opened #11332 "[feature request] Inconsistency of new Decoder api and Dense layer"
TF 1.1 has released new seq2seq API (`tf.contrib.seq2seq.BasicDecoder` etc.) and Decoders have `output_layer` parameter, which must be subclass of `tf.layers.Layer`.

If one wants to use dense projection, it has to do `from tensorflow.python.layers.core import Dense` which seems a bit inconvenient.

Maybe the better way is to include `Dense` and `Dropout` classes into `tf.layers`? After that, one

[2017-07-06 19:57] dashesy commented on #3047
@ilblackdragon setting `tf.logging.set_verbosity(tf.logging.INFO)` did not produce any logging in Jupyter (QtConsole) for me, but I can see the logs in `ipython` shell.

[2017-07-06 20:01] dashesy commented on #6438
Same issue happens exists `Jupyter QtConsole`, no logs. ipython shows the logs.

[2017-07-06 20:09] datomnurdin opened #11333 "ValueError: Variable vgg_16/conv1/conv1_1/weights already exists, disallowed"
I got this kind of error message when trying use existing weight.

[code]

Code: https://github.com/datomnurdin/tensorflow-image-segmentation/blob/master/index.ipynb

Please advice. Thank you.

[2017-07-06 20:18] #11134 closed

[2017-07-06 20:30] yzhwang commented on #11327
@ma0ho Thanks. I will take a look later today.

[2017-07-06 20:31] faifai21 opened #11334 "Memory Overhead/Leak in Android lib"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Nexus 6p, Android v7.1.2
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**:  1.2.0-rc2
- **Python version**: 2.7.10
- **Bazel version (if compiling from

[2017-07-06 20:45] EthanAI commented on #10779
If you want to just copy paste into Terminal:
`/Applications/Python\ 3.6/Install\ Certificates.command
`

[2017-07-06 20:45] renato2099 commented on #2386
Did anybody got any answers or hints on this one?

[2017-07-06 20:53] andrewharp commented on #11300
Most mobile acceleration work being done currently is for the Hexagon DSP, which can offer an order of magnitude speedup. @satok16 has been working on this and may be able to offer more details.

We may also support CUDA on Android in the future, but this would be limited to select Nvidia devices like the TX1/TX2.

[2017-07-06 21:10] svtphysicist commented on #11123
Thank you for the update.

Jeff

On Thu, Jul 6, 2017 at 12:39 PM, Andrew Selle <notifications@github.com>
wrote:

--
*Jeffery Aguiar*, *Ph. D*
Material Scientist and Designer
Phone: (650) 346-1558
Web: https://www.linkedin.com/in/jefferyaguiar
Researcher Profile: https://www.researchgate.net/profile/Jeffery_Aguiar
ORCID: 0000-0001-6101-4762
E-mail: Jeffery.Aguiar@gmail.com

   Work E-mail: Jeffery

[2017-07-06 21:47] dylanrandle opened #11336 "TF 1.2 vs 1.1: Keras K.set_learning_phase(False) not working in 1.2 but works in 1.1"
Hi all,

Works fine in 1.1 but in 1.2:
[code]
[code]

This does not happen in 1.1. What may have changed that cause this in 1.2?

Thank you in advance.
Best regards,
Dylan Randle

[2017-07-06 22:00] songhuiming opened #11337 "get error in tensorflow 1.2 but the code works on tensorflow 1.0"
Hi,

I have the following code. I can run it successfully in tf v1.0 but it failed in tf v1.2. The error is from the (inputs, state) in the GRUCell. Can you help me understand why the errors come from?

Thank you.

[code]

[code]

[2017-07-06 22:13] persiyanov commented on #11332
This seems like a small fix in https://github.com/tensorflow/tensorflow/blob/r1.2/tensorflow/python/layers/layers.py, I can prepare it if it makes sense.

[2017-07-06 23:23] av8ramit commented on #11063
1.2.1 was released and fixes this issue: https://github.com/tensorflow/tensorflow/commit/8695d596385e754159af5a1f0ae0676163bc73bb#diff-739fc4f018f5288972ae5826b15c36e7

[2017-07-06 23:23] #11063 closed

[2017-07-06 23:24] benbarsdell commented on #8535
Friendly ping. Any updates on this?

[2017-07-06 23:30] cy89 commented on #11214
@pankajkgupta Does the recent commit fix the problem for you, and if so, can we close?

[2017-07-06 23:37] cwhipkey commented on #11269
For sources that bazel generates, the force_pic flag listed here: https://docs.bazel.build/versions/master/bazel-user-manual.html seems to indicate the default is off for static files.

This general stack overflow question has some things to try:
  https://stackoverflow.com/questions/29200461/recompile-with-fpic-flag
e.g. - can we find a libgomp.pic.a instead of libgomp.a to use?  Where is the lib

[2017-07-06 23:40] cy89 commented on #11284
Please see #4279, which seems relevant. Sorry we haven't figured out better error messages.

[2017-07-06 23:40] #11284 closed

[2017-07-06 23:42] anishathalye commented on #11091
Ok, I have some more evidence indicating that there is in fact a bug. Also, I can share the full graph with you.

I don't want to post it publicly, so I've sent you an email with this additional information.

[2017-07-07 00:54] lizekui commented on #11321
@ScorpioCPH
I have some problems when clicking your URL (Maybe my HOSTS is not correctly haha )

I wonder know what's difference between your URL and below API:
[https://www.tensorflow.org/versions/r0.12/api_docs/python/array_ops.html#concat](tf.concat)

Thanks a lot !

[2017-07-07 00:58] arduano commented on #11326
Sorry for the late response,
MSVCP140.DLL is installed and is in my PATH

I installed tensorflow with Anaconda's pip to the default location and I am accessing it from a different folder.

[2017-07-07 01:07] arduano commented on #11326
Just ran the script and got this result:
[code]
I installed the new version of tensorflow for python 3.6

[2017-07-07 01:10] #11017 closed

[2017-07-07 01:10] #11132 closed

[2017-07-07 02:59] Abhipray opened #11339 "Implement Audio Ops for Python Client"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS X 10.10.5
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.2.1
- **Python version**: 3.5.2

There are some very useful audio operations defined in tensorflow/core/ops/audio_ops.cc. It would be great if python client users could access these by defau

[2017-07-07 03:48] Warvito opened #11341 "Feature request: Add float16 support for Conv3D, MaxPool3D and AvgPool3D ops"
Support for `tf.float16 dtype` was added ([#1300](https://github.com/tensorflow/tensorflow/issues/1300)) to a bunch of ops. Can we add it for conv3d too, please?

conv3d is important to development of videos and medical images systems. Since both consumes a lot of memory, it would be good to have fp16 support to allow deeper models.

[2017-07-07 04:19] aqeelanwar commented on #7445
How did you solve it?

[2017-07-07 04:38] liuzqt opened #11343 "Does tensorflow support mfcc now?"
Is mfcc support in tensorflow now? I found this https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/mfcc.h

but I can't find this op in Python API in tensorflow.

So is that not open yet? Or it's wrapped in some other Python api?

[2017-07-07 06:00] asimshankar commented on #11343
Closing this as a duplicate of #11339. Let's continue discussion there.

[2017-07-07 06:00] #11343 closed

[2017-07-07 06:01] asimshankar commented on #11339
@petewarden would know about any plans for the state of these operations and whether they can be made available in the Python API

[2017-07-07 07:04] nyyznyyz1991 opened #11344 "can't find some header files when i'm using c/c++ API, eg: tensorflow/core/example/example.pb.h"
TF version 1.1.0      ubuntu 14.04 ,    install by pip
In many examples about c or c++ API in tensorflow, i can find some codes like:

#include "tensorflow/core/example/example.pb.h"
#include "tensorflow/core/example/feature.pb.h"
#include "tensorflow/core/framework/graph.pb_text.h"

but in the folder where tensorflow is intalled, i can't find these file, someone knows why?

[2017-07-07 07:13] asimshankar commented on #11344
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

That said, note that the `pip` installation is for Python (`pip` is a python package manager). For now, to use the C++ API you need to build from source. See for example [related Stac

[2017-07-07 07:13] #11344 closed

[2017-07-07 07:38] nyyznyyz1991 commented on #11344
am i must install tensorflow from source, using **.proto to generate **.pb.h and **.cc ?

[2017-07-07 07:52] andykernahan commented on #11339
@Abhipray @petewarden FYI I have recently begun work on [this](../compare/master...andykernahan:wav-op-fixes). There are a couple of outstanding tasks:
* Add tests for the `audio_ops.py`
* Add tests cases for multi-channel inputs.
* Determine why [`AudioSpectrogramOp`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/spectrogram_op.cc) fails with `Spectrogram size calcu

[2017-07-07 07:57] buffxz commented on #8665
seeing the same problems here. it doesn't seem like the `--initializer_nodes` is doing anything. @petewarden

[2017-07-07 07:59] buffxz commented on #8665
I have a node:
`init_table = tf.tables_initializer(name='init_all_tables')`
and when I freeze the graph, I specify `--initializer_nodes=init_all_tables` . is this what I need to do?

[2017-07-07 08:08] meteorcloudy opened #11345 "//tensorflow/python:nn_test is failing on Windows"
https://ci.tensorflow.org/job/tf-master-win-bzl/1218/consoleFull
[code]

[2017-07-07 08:11] meteorcloudy commented on #11345
Possible culprit: https://github.com/tensorflow/tensorflow/commit/eccd162119675d0bf5bc6f8e6a93dcda7ab6db4a

[2017-07-07 08:15] AnishShah commented on #10612
Can I work on Alpha dropout?

[2017-07-07 08:18] lakshayg commented on #10612
Yeah, sure!

[2017-07-07 09:16] elbaro opened #11347 "[Doc] tf.abs + complex numbers"
TF 1.2.0

`tf.abs` already supports complex numbers but this is not documented.

https://www.tensorflow.org/api_docs/python/tf/abs

[2017-07-07 09:17] carlthome commented on #7712
[SELU](https://arxiv.org/abs/1706.02515) feels like a big improvement over ReLU (without needing extra parameters) so I don't believe PELU is relevant anymore. As far as I'm concerned this issue could be closed.

[2017-07-07 09:36] PKUEcho commented on #11300
@andrewharp Thanks Andre for your reply. So is there any workable toy that I can play with now on any Android GPU? And I saw TF supports OpenCL now (as I configure it it asks me if I want to add OpenCL support). If I have a OpenCL library on my Android device, is it possible that TF can work without further modification?

[2017-07-07 10:45] ilya-edrenkin commented on #11315
It seems to be a feature, not a bug. Tensorflow now seems to warn you when you create debug operations but don't use them.

[2017-07-07 11:49] narain-code opened #11348 "The order in which tensorflow libraries are loaded leads to segmentation fault"
I have a simple java code below.Running this code produces a core dump.
i am running this on debian/8 jessie system. I use tensorflow 1.2.1.
The same code works fine in mac osx but has problems when we run the same  in Linux.
When the code is changed to load tensorflow libraries before rocksdb library it works fine on all platforms.

package com.test.tensorflow;

import org.rocksdb.RocksDB;
import

[2017-07-07 11:56] rmkemker commented on #7712
I will give it a shot.  As a FYI, I was able to stabilize training for PELU in some instances by lowering the learning rate.  It is still pretty finicky.  Hopefully, SELU is more stable during training!

[2017-07-07 12:00] johnfrombluff commented on #11269
Thank you both for your help. I've tried adding --force_pic --copt='-mcmodel=medium' to the Bazel command line, but the result is exactly the same error. I did not try -mlarge-data-threshold because I have no idea which number to use. I'm just a hobby coder, not a real software engineer ;-)

[2017-07-07 12:52] coopie opened #11350 "MonitoredTrainingSession to have accessible summary writer."
**Tensorflow version: 1.2.1**

I am using `MonitoredTrainingSession` extensively to train models, and for the most part does exactly what I want it to do. However, I would like to be able to extract (or pass in) a `FileWriter` object so I can report other summaries from inside my evaluation routines. This is because only one` FileWriter` can write to the events log:

At the moment, this is the bes

[2017-07-07 13:10] yony228 commented on #9620
I find some reason:there is a env is not setted correct by the script.

_Sent from my Xiaomi MIX using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-07 14:06] MaxBareiss opened #11351 "transform_graph quantize_weights doesn't compile on windows"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:

I'm executing a command from documentation, and I don't think that my custom model is part of the issue.

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

Windows Server 2012 R2 64-bit

- **TensorFlow installed from (source or binary)**:

Latest master (7/7/2

[2017-07-07 14:17] MansourTrabelsi opened #11352 "Ran out of memory when running ROLO on tensorflow"
Hello,

Environment : ubuntu 14.04, Nvidia 740M 2Gb, 8Gb RAM, Cuda 7.5, TF 0.8.0

`I tensorflow/stream_executor/dso_loader.cc:105] successfully opened CUDA library libcublas.so locally
I tensorflow/stream_executor/dso_loader.cc:105] successfully opened CUDA library libcudnn.so locally
I tensorflow/stream_executor/dso_loader.cc:105] successfully opened CUDA library libcufft.so locally
I tensorflow/

[2017-07-07 14:34] MarvinTeichmann commented on #11171
Thanks for the answers. I had a short look through the gradient computation code in tensorflow. By now I am quite confident that node-mirroring can be be (fully) implemented in python. The whole think bowls done to manipulating the code which produces the [gradient computation subgraph](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/gradients_impl.py#L488-L516).

At the

[2017-07-07 14:59] MarvinTeichmann commented on #11171
Also, I had a short look at the other memory optimization projects mentioned. XLA and grapper implement good ideas. However those projects aim at performing memory optimization fully automated. I feel for advanced users it will be much more valuable to give them options for manual memory optimization. I think many users know the bottleneck of their model and manual optimization can archive much be

[2017-07-07 15:28] MarvinTeichmann commented on #11171
Thanks for the very fast reply, @prb12. I am very happy to learn about existing ways to recompute gradients instead of keeping them. This will allow me to use Tensorflow for my next CRF based project.

I will take a closer look at defun and how it might be used for gradient recomputation after I return from my conference. I am very happy about alternative suggestions in the meantime.

[2017-07-07 15:46] TethysSun commented on #11200
@aselle Hi, I have the same problem when I was trying to install it on Mac OS.

When ./configure, I used the default `-march=native`. However, the warning 'argument unused during compilation : '-march=native' shows up when calling `bazel build` with '--config=opt'.

I also tried suggestions in #7778 by using `sudo bazel build --config opt --copt=-msse4.1 --copt=-msse4.1 --copt=-mavx --copt=-mavx2

[2017-07-07 15:59] AlexGreason commented on #3128
I am also having this problem using the bleeding-edge version of theano (as of july 6)

[2017-07-07 16:00] TethysSun commented on #7449
@martinwicke Hi, I have the same problem when I was trying to install it on Mac OS.

When` ./configure`, I used the default `-march=native`. However, the warning “**argument unused during compilation : '-march=native'** “shows up when calling `bazel build` with `--config=opt`. Do you know why does that happen?

I also tried suggestions in #7778 by using `sudo bazel build --config opt --copt=-msse4

[2017-07-07 16:06] patrikohlsson commented on #11275
I'm having the same issue with tfcompiler and tf.nn.dynamic_rnn.

OS:
Ubuntu 16.04
TF version:
1.2.1 built from source without GPU support and no XLA JIT.

Test case:
[code]

outgraph.config.pbtxt:
[code]

BUILD file:
[code]

Command:
`bazel build //tensorflow/compiler/aot/tests/test_dyn_rnn:test_dyn_rnn`

The build command results in `INVALID ARGUMENTS: Missing Exit successor to encoder/rnn/while

[2017-07-07 16:06] andydavis1 commented on #11345
@ekelsen any chance this is related to recent changes to the moments calculation?

[2017-07-07 16:12] dongsungkim opened #11355 "Use pretrained model VGG16 for android app (demo example)"
I download demo example which uses tensorflow_inception_graph.pb from the google tensorflow download page.

What I want to do is to replace it with vgg_16.pb. (The same demo app, only difference is the model')

But I need a help for replacing those with new ones.

In ClassifierActivity.java (https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android)

[code]

I want to replac

[2017-07-07 16:13] andydavis1 commented on #11307
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-07 16:13] #11307 closed

[2017-07-07 16:18] prb12 commented on #11171
One other way to temporarily override gradient code is to use `gradient_override_map`
https://github.com/tensorflow/tensorflow/blob/2cfbd3347b943a389bb688125c2a90095b7735b5/tensorflow/python/framework/ops.py#L3773

[code]
Since the custom gradient function is passed the original `Operation`, it can recompute the op from the same inputs.

The main reason this doesn't get used for recomputation is t

[2017-07-07 16:21] andydavis1 commented on #11255
@honkentuber can you comment on this one?

[2017-07-07 16:22] andydavis1 commented on #11337
@ebrevdo can you comment on this?

[2017-07-07 16:27] andydavis1 commented on #11247
Thanks for your help @printdhruv.  @dandelionmane have you seen this issue before?

[2017-07-07 16:28] andydavis1 commented on #11233
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-07 16:28] #11233 closed

[2017-07-07 16:28] smilli commented on #6503
+1 would be very useful :) @rmlarsen

[2017-07-07 16:29] andydavis1 commented on #11355
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-07 16:29] #11355 closed

[2017-07-07 16:33] cy89 commented on #11352
Can you try this with the latest release of TF, please?

[2017-07-07 16:33] ebrevdo commented on #11171
We may be able to add a decorator/wrapper that just does this Defun trick.
Call it "@recompute_on_gradient" or something.

On Fri, Jul 7, 2017 at 9:18 AM, Paul Barham <notifications@github.com>
wrote:

[2017-07-07 16:36] andydavis1 commented on #11333
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-07 16:36] #11333 closed

[2017-07-07 16:39] andydavis1 commented on #11235
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-07 16:39] #11235 closed

[2017-07-07 16:41] cy89 commented on #11348
I'm sorry not to be super helpful, but official support covers Ubuntu and CentOS. It'd be awesome if there were other Debian users who could offer help.

[2017-07-07 16:41] yhenon opened #11356 "Cannot run example in tensorflow docker due to missing dependency"
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: running in official docker container
- **TensorFlow version (use command below)**: 1.1.0
- **Python version**: 2.7
- **CUDA/cuDNN version**: CUDA 8.0
- **GPU model and

[2017-07-07 16:43] cy89 commented on #11336
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](htt

[2017-07-07 16:52] andydavis1 commented on #11239
I'm not following why you'd want to declare the variable inside the function (your second example where you move it outside the function scope makes more sense to me). @alextp Can you comment on the second error int64 vs ref_int64 types, and perhaps suggest a better usage pattern for variables here?

[2017-07-07 16:53] cy89 commented on #11356
@caisq can you please comment on whether leaving h5py might be intentional?

[2017-07-07 16:58] cy89 commented on #11334
It looks to me like there's a related discussion about the overheads of feed/run/fetch in #8712. Does any of that help?

[2017-07-07 17:04] caisq commented on #11356
@cy89, @yhenon No, leaving h5py out from the dockerfiles is not intentional. Nobody has requested it so far. I'm fine with adding it. Feel free to send a pull request to add h5py to the following Dockerfiles:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/docker/Dockerfile
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/docker/Dockerfile.gpu

[2017-07-07 17:05] dylanrandle commented on #11336
Hi, Sorry for that.

Ubuntu 16.04
Tensorflow version is 1.2 (install binary)

To clarify, the entire script is above, except:
`model.uses_learning_phase <-- returns TRUE`
is really
[code]

[2017-07-07 17:07] andydavis1 commented on #11315
@langmore @ebrevdo Can either of you comment on this?

[2017-07-07 17:09] andydavis1 commented on #11187
@sguada can you comment on this one?

[2017-07-07 17:13] jongsae commented on #11196
@poxvoculi Thanks for your answer! Following your suggestion, I will consider re-implementing the existing TF application such that the parameter server and workers sit in the same process and they use the intra-process communication. @saeta, I am looking forward to hearing regarding your experience in deploying data parallel programs in a single process.

In a short-term perspective, I agree with

[2017-07-07 17:13] amandajliu commented on #11328
Resolved by using `tf.contrib.learn.LinearClassifier` and using its `fit` function.

[2017-07-07 17:13] #11328 closed

[2017-07-07 17:14] cy89 commented on #11328
Thanks!

[2017-07-07 17:15] cy89 commented on #11256
@amandajliu please see #11328.

[2017-07-07 17:24] cy89 commented on #11308
I agree that none of the primitives you're invoking ought to hang.

Can you chop things up further, and isolate which of the filename values in filenames is causing train.match_filenames_once() to hang up? The particular filename might tell us something useful.

[2017-07-07 17:29] arita37 opened #11359 "Feature : Multi-dimensional input in LSTM"
Current input format for RNN Cell (ie LSTM) is
[code]
it would be useful to have multi-dimensionnal input as below :

`        (batch_size, Sequence_length, extra_dim1)`

[2017-07-07 17:47] cy89 commented on #11332
I checked internally, and it sounds like we are planning to address this in the next 2-4 weeks, after a few other internal dependencies are worked out (constraints API and Network class). Thanks for offering to make the fix; I think the right thing is to close for now, and ask you to reopen if you don't see an appropriate change roll out in a month or so.

[2017-07-07 17:47] #11332 closed

[2017-07-07 17:48] cy89 commented on #11326
Sorry, I'm confused by your update. Do you mean that you installed the new version of TF for Windows, which works with 3.6, and you're still experiencing the problem?

[2017-07-07 17:59] cy89 commented on #11290
There's a suggestion of a workaround for Endianness conversion in #2619. Also some discussion of how to set and handle the IS_LITTLE_ENDIAN flag.
I think we're in the unfortunate situation of not being able to test big-endian code. We're happy to accept patches that add big-endian support.

[2017-07-07 18:00] trickmeyer commented on #6360
Periodically evaluating model performance on unseen test data while training is an important use case.  Any updates that occur to the model during testing invalidate the test's results.

[2017-07-07 18:02] cy89 commented on #11280
@slandersson does the technique in #4480 help?

[2017-07-07 18:04] cy89 commented on #11278
Closing as a duplicate of #11159. Please reopen if that PR doesn't fix the issue.

[2017-07-07 18:04] #11278 closed

[2017-07-07 18:09] cy89 commented on #11252
Pardon me for not understanding all of the context, but should totA be defined, or come from an import, in your example?

[2017-07-07 18:09] tjingrant commented on #10003
Hi, so by reading up the code, I've found out that as @asiakaczmar pointed out, there is no `a_is_sparse` option in the implementation of multiply as in [link](https://github.com/tensorflow/tensorflow/blob/cf18c6d384a96a53b448bd51a90c117af0ed7c96/tensorflow/python/ops/math_ops.py#L304). However, there is indeed the option of specifying `a_is_sparse` option in the implementation of `matmul` as in [

[2017-07-07 18:11] persiyanov commented on #11332
Ok, thanks for the detailed response:)

[2017-07-07 18:14] cy89 commented on #11250
@petewarden can you please comment on whether label_image and MobileNet are supposed to play well together.

[2017-07-07 18:16] cy89 commented on #11240
Sorry to be a little formulaic: could you please fill in the GPU-related bits of the issue template, for the usual reproduction reasons?

Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the out

[2017-07-07 18:21] liuliu opened #11361 "Feature Request: Change REGISTER_OP macro to facilitate customization on static initialization sequence"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: iOS
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: 1.0
- **Python version**: N/A
- **Bazel version (if compiling from source)**: N/A
- **CUDA/cuDNN ve

[2017-07-07 18:25] #11356 closed

[2017-07-07 18:26] av8ramit commented on #10081
http://ci.tensorflow.org/view/Nightly/job/nightly-matrix-cpu/544/
Nightlies are passing now!

[2017-07-07 18:26] #10081 closed

[2017-07-07 18:28] cy89 commented on #11184
Could I ask you to open a separate bug about the "paths with spaces" issue? That doesn't necessarily seem like a Mac-specific problem, and might be something that we should be handling at a different level.

Then we could focus the issue down to the "invisible files" problem on OSX.
The thread at https://stackoverflow.com/questions/284115/cross-platform-hidden-file-detection suggests that just det

[2017-07-07 18:37] cy89 commented on #11336
@fchollet could you comment on this? I don't understand some of the subtleties. It looks to me as if "uses_learning_phase" is intended to indicate whether a model behaves differently during learning or inference. But I think that the "set_learning_phase" flag is just indicating whether learning or inference is being done.

[2017-07-07 18:42] ebrevdo commented on #11315
If you're just creating tf.assert_equal, and not using it, you're doing it wrong.  Creating the op does not actually run the assertion.  you need to do something like:

[code]

[2017-07-07 18:42] #11315 closed

[2017-07-07 18:42] cy89 commented on #11182
@kwotsin is the bug resolved for you? The other threads that @androbin references (#8181 and #10579) suggest that there are still some issues being worked out.

[2017-07-07 18:43] terrytangyuan commented on #10081
Great. Thanks!

On Fri, Jul 7, 2017 at 2:28 PM, Amit Patankar <notifications@github.com>
wrote:

[2017-07-07 18:54] dr4b commented on #11347
Do you have a suggestion for how you'd like it to read, or do you want to submit a PR with a specific fix?

[2017-07-07 19:05] aselle commented on #1325
@lukaszkaiser , any suggestions?

[2017-07-07 19:10] lukaszkaiser commented on #1325
This is a very old problem with saving, Sherry worked on it a while ago, no idea why it was dropped.

[2017-07-07 19:15] LuminousXLB commented on #11200
@aselle I'm sorry but I got a huge amount of warnings when Building the pip package. And then it gives as below:
`external/snappy/snappy.cc: In member function 'void snappy::SnappySinkAllocator::Flush(size_t)':
external/snappy/snappy.cc:1403:23: warning: comparison between signed and unsigned integer expressions [-Wsign-compare]
     for (int i = 0; i < blocks_.size(); ++i) {

[2017-07-07 19:22] honkentuber commented on #11255
train, evaluate, and predict always build the full graph and load from checkpoint. You can get multiple predictions, while loading the graph only once, by feeding multiple batches via `input_fn` and iterating over the results.

@ispirmustafa @martinwicke

[2017-07-07 19:33] feranick commented on #11252
Sorry for the missing information. totA come from an import. In details:

    `totA = np.vstack((A, A_test))`

where A is my training tensor, and A_test is my validation tensor.

As I said, the code is exactly the same for when I run DNNClassifier through tf.estimator or through
tensorflow.contrib.learn

Please let me know if you have any more questions.

[2017-07-07 19:57] ebrevdo commented on #5729
@petewarden agrees that some sort of official support would be good.  We're currently looking into options for automated testing and builds.

[2017-07-07 19:58] ebrevdo commented on #5729
Additional build options for RPi:

https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/pi_examples

and

@petewarden just added frozen Mobilenet models here:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/tutorials/image_retraining.md#other-model-architectures

[2017-07-07 20:13] martinwicke commented on #11255
You can also use the generator_input_fn if your inputs come via a generator.

We like to keep the Estimator state 100% on disk. This is crucial for distributed training since we wouldn't want to maintain a consistent state ourselves.

[2017-07-07 20:13] #11255 closed

[2017-07-07 20:23] alextp commented on #11239
Assigning tf.Variable variables inside functions is not currently supported.

You can get around it by using tf resource variables, which are accessible by using tf.get_variable(..., use_resource=True) instead of tf.Variable to construct your variables.

I think declaring a resource variable outside the function will solve your problem.

[2017-07-07 20:34] EddieGao98 opened #11363 "tf.parse_single_example parses labels incorrectly"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes, but only slightly--I'm using the Inception v3 framework but made some minor modifications to the inception_eval.py code (none around the image processing script)
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux 16.04
- **Ten

[2017-07-07 20:40] MansourTrabelsi commented on #11352
Good evening,

OK I'll try it w and tell you the result of course.

On 7 Jul 2017 17:36, "Cliff Young" <notifications@github.com> wrote:

[2017-07-07 20:58] cy89 commented on #11144
Hi @julj, so I think I'm still stuck on @ali01's original question: bug or feature?

Are you saying this is a bug, because you think your code should work, and MultiRNNCell ought to be able to successfully wrap a PhasedLSTMCell? So your exhibitor ought to work but doesn't?

Or is there some aspect of PhaseLSTMCell that makes it difficult to wrap (perhaps it needs an additional time input to indica

[2017-07-07 21:03] jrbtaylor opened #11364 "Error on tf.contrib.training.stratified_sample"
I made a small example to illustrate, which makes some synthetic data with unbalanced classes and tries to take balanced samples from it:
[code]

This gives the error:
[code]

All the searching I did on this TypeError message returned legitimate bugs, not user errors, so I'm putting this here. For completeness:
`python -c "import tensorflow as tf; print(tf.GIT_VERSION, tf.VERSION)"` gives ('v1.2.0

[2017-07-07 21:09] alexvays commented on #11255
The specific use case is:
- input data for prediction arrives at random points in time;
- DNNRegressor.predict() is invoked to generate prediction.
As it stands, there is approximately 3-4 seconds latency for each prediction when running on Google App Engine flex with model_dir in a Google Storage bucket.  The latency seems to be to a substantial extent due to reloading the model from a gs:// path

[2017-07-07 21:30] faifai21 commented on #11334
@cy89 thanks for the response. I read that issue before posting mine and it was related. Unfortunately, the discussion turned towards timing and performance as opposed to memory allocation.

[2017-07-07 21:48] cy89 commented on #11364
It looks to me like stratified_sample takes a list of tensors, not a single tensor for the "tensors" argument.
I tried editing the call from stratified_sample(data_tensor,...) to stratified_sample([data_tensor],...), and things got farther but still failed with a shape mismatch error.

So, a couple of thoughts: first, do you have a known-working example of stratified_sample that you're starting fr

[2017-07-07 21:57] anishathalye commented on #11091
I found the bug: I updated the original post.

[2017-07-07 22:07] jrbtaylor commented on #11364
1. I don't have a known working example, either from myself or anywhere else on the net. Nothing came up when I searched for one. Hence, I started by trying to make the simplest example I could before I try to use this in an actual project (at which point the data tensor would be filenames to be loaded further on in the input pipeline).

2. From the documentation: `target_probs: Target class propo

[2017-07-07 22:30] cy89 commented on #11138
I tried running your script inside the latest nightly docker image, and got:
NameError: name 'real_valued_column' is not defined

So I tried patching it with
from tensorflow.contrib.layers import real_valued_column

and got some errors that suggest that wasn't the right thing to do:
WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand

[2017-07-07 22:41] andydavis1 commented on #11239
thanks @alextp. please ask this on stackoverflow if you need further assistance.

[2017-07-07 22:41] #11239 closed

[2017-07-07 22:55] cy89 commented on #11318
Invoking @vrv who has suffered a long time working on the differences in behavior between int32 and int64.

Can you not do a cast from int64 to int32 to get the effect you want? I.e., do you really have a >4B-element vector that you want to access in practice?

[2017-07-07 22:57] cy89 commented on #11364
@joel-shor, might you be able to point @jrbtaylor at a publicly visible working example code? It'd help a bunch if we could use stratified_sample as intended.

[2017-07-07 22:58] cy89 commented on #11334
Makes sense. @petewarden, are there perhaps any updates about our Android TF ecosystem and its memory usage behavior?

[2017-07-07 23:03] vrv commented on #11318
StridedSlice definitely supports int64 indices, I think the problem is that the datatype of 'begin' is int64 and the datatype of 'strides' is int32, and that's a type mismatch.

@aselle: my guess is that there's some kind of missing cast to match the dtype of 'begin' somewhere in the SliceHelper.  Do you know the code well enough to know what the fix is quickly?

[2017-07-07 23:05] vrv commented on #11318
@minhlab knowing the version of TensorFlow and all the information requested in the template would help to make sure it's not already fixed.

[2017-07-07 23:06] vrv commented on #11318
In fact, I think this was already fixed two months ago in https://github.com/tensorflow/tensorflow/pull/9000/files, and you are probably using an older version of TF that doesn't have the bug fix.

[2017-07-07 23:20] nikwalia commented on #5684
Hello,
I had the exact same issue and I had already specified "CXX =g++-4.8" when building using make. I'm also doing the exact same thing as discussed above. Thanks!

[2017-07-07 23:40] cy89 commented on #11252
OK, I built a stand-in for totA using a random normal numpy array.
Now the example breaks with "NameError: name 'dnntfDef' is not defined".
Is there something else I should stub out to replicate?

[2017-07-07 23:58] aselle commented on #11200
Could you please fill in the template? I.e. what compiler are you using? What version of Linux? It seems like you are using an old distribution or old compiler if you are getting so many warning. You could start with some conservative options rather than all possibilities i.e. only -msse2 instead of all the options. My guess is you are using RHEL6 which we don't officially support. You can google

[2017-07-08 00:03] #11123 closed

[2017-07-08 00:21] cy89 commented on #11183
There shouldn't be a retry limit.

In the meantime, can you tell us exactly what you're doing, with the usual template:

Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in y

[2017-07-08 00:25] cy89 commented on #11241
@yifeif can you please comment on whether adding checkpoint_convert.py would be OK?

[2017-07-08 00:29] cy89 commented on #11301
I'm sorry, but Fedora isn't a supported configuration for us.
It seems worth asking: can you restart from a checkpoint, and roll past the 67000 step failure point? Or otherwise repeat the failure?

[2017-07-08 00:33] cy89 commented on #11341
@sesse and @benoitsteiner could you comment on plans for further fp16 support, please?

[2017-07-08 00:36] cy89 commented on #11359
What does the extra_dim1 argument do? You haven't modified any of the rest of the code, so I don't see how it should affect the operation of the LSTM cells. Can you not just fold it into the batch dimension?

[2017-07-08 00:38] prb12 commented on #11171
The `swap_memory` flags get passed through to `tf.while_loop` and into the [`WhileContext`](https://github.com/tensorflow/tensorflow/blob/cf7c008ab150ac8e5edb3ed053d38b2919699796/tensorflow/python/ops/control_flow_ops.py#L1907),  which pass flags to the stack related ops [here](https://github.com/tensorflow/tensorflow/blob/cf7c008ab150ac8e5edb3ed053d38b2919699796/tensorflow/python/ops/control_flow

[2017-07-08 00:40] cy89 commented on #11361
@josh11b, this seems like deep C Macro wizardry. Are there design considerations that make @liuliu 's request difficult?

[2017-07-08 01:47] arduano commented on #11326
Sorry for the confusion,
I didn't change anything, I just ran the script.
I always had the new version of tensorflow that is compatible with 3.6 installed, with Python 3.6 itself (anaconda).
And also sorry for the late responses, I live in Australia.

[2017-07-08 01:58] jagthebeetle opened #11365 "seq2seq.AttentionWrapper cannot implement Bahdanau model (RNNsearch)"
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes, but there is no stock example script
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: OSX 10.12.5
- **TensorFlow installed from (source or binary)**: source (via virtualenv/pip3)
- **TensorFlow version (use command below)**:v1.2.0-5-g435cdfc 1.2.1
- **Python version**: 3.6.1
- *

[2017-07-08 02:28] feranick commented on #11252
Sorry about that, those were previously defined variables. Given a train set A, with related classes Cl, and a test set A_test, with related labels Cl_test, the code proceeds as follows:

[code]

The code using tensorflow.contrib.learn is the same other than the last two lines:
[code]
I hope this helps. Thanks for your help.

[2017-07-08 02:36] ehhthing commented on #37
+1

[2017-07-08 02:49] dgovil commented on #11045
@meteorcloudy I've got all those paths in my PATH, with the exception of `c:\tools\cuda\bin` because that's all inside `C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0\bin`

I get this error still. It looks identical to me, but I'm just pasting it again in case there's anything of value here.

[code]

[2017-07-08 03:29] andrew-anki opened #11366 "Problems with AOT-Compiled Inception V3 model (runtime crash / nonsense output)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS X 10.12.5
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: ('v1.2.0-rc2-21-g12f033d', '1.2.0')
- **Python version**: 2.7.13
- **Bazel version (if

[2017-07-08 03:32] andrew-anki commented on #11366
One other note (since I mentioned I'm on `r1.2`): I did add this `target_llvm_triple()` definition to `tfcompile.bzl` as well, having found that in another issue about using AOT on OSX (which appears to have been since merged to master): `x86_64-none-darwin`

[2017-07-08 03:43] tjingrant commented on #11228
I'm working on this one.

[2017-07-08 03:48] jowettcz opened #11367 "saver will cause crash,error message:"InvalidArgumentError: Shape [xx] has negative dimensions""
### It should be a bug of tensorflow
add the saver will cause the procedure crash. error message is strange, as following:
_### InvalidArgumentError (see above for traceback): Shape [-1,32,32,3] has negative dimensions
	 [[Node: x = Placeholder[dtype=DT_FLOAT, shape=[?,32,32,3], _device="/job:localhost/replica:0/task:0/cpu:0"]()]]_

the added part is:
            if (i % 1000 == 0) or (i == num_it

[2017-07-08 04:43] sidshetye commented on #10033
[NVidia's instructions](http://developer2.download.nvidia.com/compute/machine-learning/cudnn/secure/v5.1/prod/doc/cudnn_install.txt) are wrong

[code]
## Wrong
[code]

## Correct
[code]

[2017-07-08 05:11] martinwicke commented on #11113
@shin-migami Consider yourself assigned!

The right spot for this is in contrib.

I cannot formally assign you, but everybody who wants to work on this should check this issue first, and find that you are already working on it. Please reference this issue in any PR you create, and update the issue when you are making progress.

[2017-07-08 06:03] oborchers commented on #675
Hey there! I have been going through some of the solutions to compute J, however, all of them seem to be non feasible in a case where the dim of x is large. Even in the small mnist case with only 20 hidden units and a batch size of 32 it is infeasible to compute j(h, x).

[2017-07-08 07:23] thor008 opened #11368 "Feature : Tensorflow works on ubuntu12.04"
Hi,all:
I have a computing cluster,with a master and some slaves.
I want to tran the AI model on master, and then send to slaves for calculation。
But，for some reason, part of slaves works on ubuntu12.04, and i can not update them to 14.04.
so, how can i get a lite tensorflow or a saved model lib, than can be restored on ubuntu12.04 slaves.
Many thanks!

[2017-07-08 07:46] sujoyp opened #11369 "TFRecord parse multiple times using parse_example"
In order to parse a sequence of example, I am using the following code in tensorflow.

    sequence_len = 10
    filename_queue = tf.train.string_input_producer(['foo.tfrecords'])
    reader = tf.TFRecordReader()
    _, seralized_example = reader.read_up_to(filename_queue,sequence_len)
    features = tf.parse_example(seralized_example,features={'feature_raw': tf.VarLenFeature(dtype=tf.float32)})

[2017-07-08 08:10] christopherhelf opened #11370 "Feature Request: Include Depthwise Convolution in graph_transforms fold_batch_norms"
Hi!

Currently, the graph_transforms tool includes only `Conv2D` and `MatMul` ops when folding batch normalization scaling/multiplication into its weights, as in `fold_batch_norms.cc`. Google's Mobilenet example uses depthwise convolution extensively, so it would be nice to include this feature for the `DepthwiseConv2dNative` operation. The problem here is that weights are ordered differently for

[2017-07-08 08:20] wwmmqq commented on #2787
➜  src python -c "import tensorflow; print(tensorflow.__version__)"
1.2.0

➜  ValueError: Inconsistent shapes: saw (?, ?) but expected (150,) (and infer_shape=True)

[2017-07-08 08:31] sesse commented on #11341
@cy89 I left Google over a year ago, so I'm not involved in this anymore.

[2017-07-08 08:59] arita37 commented on #11359
Lets example of CNN input:

(Nbsample,  X, Y, Z)
X, Y: 2D
Z: color depth
NbSample: nb of sample

We wish to add one more dimension in LSTM input (ex: to represent color depth).

Regards
Kevin

On 8 Jul 2017, at 09:38, Cliff Young <notifications@github.com> wrote:

What does the extra_dim1 argument do? You haven't modified any of the rest of the code, so I don't see how it should affect the operati

[2017-07-08 09:48] Michael-Jing commented on #327
I noticed that this issue is closed and the problem should be fixed, however, I encountered the same poblem today when trying to build tensorflow serving, and  the solution is set environment variables before running configure. The environment variable is:
PYTHON_INCLUDE_PATH
which sholud be set to where Python.h resides.

[2017-07-08 09:59] zeis opened #11371 "Placeholder with shape=(None, 1024) gives an error when used with tf.cond"
I'm using TensorFlow v1.2.0. Here is a simple example that shows the problem.
If a dimension of a placeholder is None I get the following error:

[code]

If I set the shape to None or to (1024, 1024) it gives no error.

[code]

[2017-07-08 11:13] TimZaman commented on #10622
Why would it be intentional? Because the C++ backend _is_ open ([source](https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/record-input)), and it's been described and recommended in the high performance models guide ([source](https://www.tensorflow.org/performance/performance_models)).

[2017-07-08 11:18] TimZaman opened #11372 "RecordInput blocks if file_pattern returns no files."
The `tensorflow.python.ops.data_flow_ops.RecordInput()` blocks forever if the first input argument with keyword `file_pattern` is a pattern that does not point to (an) existing file(s).

It does not seem to be waiting for that file to appear either, because if I make it appear after the launch it's still blocked, leading me to believe this is a bug.

Reproduce:
[code]

[2017-07-08 11:29] shawnyuen commented on #2228
@peigolee
Exactly.
''
import numpy as np
plt.imshow(np.uint8(img_bi))
''
Resized images are showed properly.

[2017-07-08 11:50] minhlab commented on #11318
Hi @vrv, you're right. After running pip install --upgrade, the problem was gone.

[2017-07-08 11:50] #11318 closed

[2017-07-08 12:14] redserpent7 opened #11373 "[Slim] Training accuracy is increasing very slowly"
Hi,

I feel something odd is happening with my Inception_Resnet_v2 training. I am what I'm seeing is correct but it seems the training will take forever at the current rate.

I am training slim against the full Imagenet dataset approx 14M images. The training is running on 8GPUs and the batch size is the default 32. If my calculations are correct this means that each epoch should consist of approx

[2017-07-08 12:20] albertz commented on #11240
Ok, but as I wrote, this is anyway stochastic, and I doubt that it depends on the particular GPU model, and I wrote already about OS and TF version.

- **CUDA/cuDNN version**: CUDA 8.0 and cuDNN 5.1
- **GPU model and memory**: GeForce GTX 680, 4036MiB

[2017-07-08 13:11] Jacobtom opened #11374 "bazel build //tensorflow/examples/android:tensorflow_demo"
when i run  bazel build //tensorflow/examples/android:tensorflow_demo.i get the result as follow:

INFO: Found 1 target...
ERROR: missing input file '@androidsdk//:build-tools/24.0.3/lib/dx.jar'.
ERROR: /home/zhu/tensorflow/tensorflow/examples/android/BUILD:63:1: //tensorflow/examples/android:tensorflow_demo: missing input file '@androidsdk//:build-tools/24.0.3/lib/dx.jar'.
Target //tensorflow/exa

[2017-07-08 14:06] Sudharsansai opened #11375 "tensorflow-"ValueError: Operation 'init' has been marked as not fetchable" Plz Help"
I started working with LSTMs for conversation modelling. I have got a sample piece of code with a persistent error. The code is given below.

'''
A Dynamic Recurrent Neural Network (LSTM) implementation example using
TensorFlow library. This example is using a toy dataset to classify linear
sequences. The generated sequences have variable length.
Long Short Term Memory paper: http://deeplearning.c

[2017-07-08 14:10] #11375 closed

[2017-07-08 14:34] meijieru opened #11376 "py_func does not properly"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 14.04
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
1.2
- **Python version**:
3.6
- **Bazel version (if compiling from source)**:
- **CUDA/cuD

[2017-07-08 14:46] sdevn commented on #11374
You may did a mistake in this step https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android#edit-workspace
Did you provide the right payh?

[2017-07-08 14:59] sujoyp opened #11379 "TFrecord reading time very high"
#I have divided a dataset into 10 tfrecords files and I want to read 100 data points from each to create a batch of 10 sequence of 100 data points. I use the following function to do that. The data loading time from the tfrecords start off slow and then reaches to around 0.65s and after 100-200 sess.run calls it increases to around 10s. Can you please point out any mistake or suggestion which migh

[2017-07-08 15:00] theflofly commented on #9837
I opened a pull request. Feel free to share your thoughts.

It basically add this kind of operation:
```auto train = GradientDescentOptimizer(0.01).Minimize(scope, {loss});```

You can see a detailed example here: https://github.com/theflofly/tensorflow/blob/optimizer-cc-issue-9837/tensorflow/cc/training/optimizer_test.cc in the second function.

I put some TODO(theflofly) listing some improvement

[2017-07-08 15:05] minhlab opened #11380 "Error while slicing with int64"
This is similar to #11318 but with a slice instead of an individual index. I upgraded to the latest version using `pip3 install --user --upgrade tensorflow-gpu`.

[code]

[2017-07-08 16:37] mishajw opened #11383 "Feeding TensorArray when running a session using feed_dict"
Currently there is no way to define a placeholder for a `tf.TensorArray`. A solution is to zero-pad a `tf.Tensor` and then unstack and slice it into a `tf.TensorArray`. However, this adds unpadding overhead which would have to be done for every batch.

A possible change would be to add a new placeholder type for feeding a `tf.TensorArray` to the graph, for example called `tf.tensor_array_placehold

[2017-07-08 17:39] jawhster commented on #2909
How to upgrade Bazel?

[2017-07-08 17:39] jawhster commented on #2909
How to upgrade Bazel?

[2017-07-08 18:00] yaroslavvb commented on #11171
Getting Chen's performance is too complicated for gradient decorator -- for a uniform chain of length n, you want to insert "checkpoints" every sqrt(n) nodes, which doesn't necessarily correspond to number of gradient calls. This kind of mirroring is indeed possible by using contrib.graph_editor to clone nodes. This enables a node execution order which uses less memory, and you can use control dep

[2017-07-08 18:28] griffin2000 commented on #10382
I am also having this issue. How do you work out what DLL it is trying to load? Is it possible to get tensorflow to log the DLLs it is attempting to load. It is pretty hard to fix DLL path issues like this without that.

[2017-07-08 18:37] RylanSchaeffer opened #11384 "Upgrading to 1.2 Causes Issue with CUDA"
I don't know how to describe my problem any better than that, unfortunately. Previously, I was running TensorFlow 1.0, and I could successfully use CUDA:

[code]

etc. However, my new code relies on TensorFlow 1.2, so I upgraded. However, this seems to have somehow disconnected TensorFlow from CUDA:

[code]

What can I do to fix this problem?

[2017-07-08 22:10] ebrevdo commented on #11171
Not sure I fully understand your checkpoints model, Yaroslav.  How is it
different from just using the Defun every sqrt(n) nodes - and the rest of
the time using the standard calls?

On Sat, Jul 8, 2017 at 11:01 AM, Yaroslav Bulatov <notifications@github.com>
wrote:

[2017-07-08 22:48] erinjerri opened #11387 "Unable to install Tensorflow on Windows - Anaconda error trace"
I posted this issue on Stack Overflow, I seem to always have problems related to Anaconda dependencies, even related to my Mac. I'm on Python 3.6 which came with an auto-install when I installed Visual Studio. Do I just need to downgrade to get this to work? I'm also on the latest version of CUDA/cuDNN and have a TitanX.

I'm on a new PC deep learning rig now, and installed CUDA, afterward I ran s

[2017-07-09 00:23] ahundt commented on #10622
@TimZaman has a valid point

[2017-07-09 01:36] aselle commented on #11384
It seems you probably installed the non-gpu version of tensorflow. Try downloading the wheel manually and make sure to choose the gpu version.

[2017-07-09 01:37] aselle commented on #11366
@tatatodd, do you have any thoughts?

[2017-07-09 01:46] aselle commented on #11380
It is known that int 64 index support is not well supported in many of our ops. the workaround is to cast to tf.int32 (with tf.cast) or in this case since it is a constant use  tf.int32. If you are using over 2 billion entry tensors, then you might need to work on adding the support. @vrv, has some ideas on how to handle this more elegantly.

[2017-07-09 02:02] Natural-Desire commented on #4267
Hello,
I have asme problem

 python -c "import tensorflow; print(tensorflow.__version__)"

I tensorflow/stream_executor/dso_loader.cc:128] successfully opened CUDA library libcublas.dylib locally
I tensorflow/stream_executor/dso_loader.cc:128] successfully opened CUDA library libcudnn.dylib locally
I tensorflow/stream_executor/dso_loader.cc:128] successfully opened CUDA library libcufft.dylib loca

[2017-07-09 02:59] vrv commented on #11380
Pretty sure this is another bug in SliceHelper. Probably in the first if
condition when iterating over the slice objects. I'll try to take a look
later.

On Sat, Jul 8, 2017, 6:47 PM Andrew Selle <notifications@github.com> wrote:

[2017-07-09 04:26] erinjerri commented on #11387
Now I tried installing via `pip -install -user tensorflow-gpu` as suggested, but after running the `activate tensorflow-gpu` command I receive this error `source activate envname` which I enter and still nothing?

[2017-07-09 04:27] erinjerri commented on #11387
All I get are the same trace back errors after `source activate envname`

`$ source activate envname
Traceback (most recent call last):
  File "C:\Program Files\Anaconda3\Scripts\conda-script.py", line 5, in <module>
    sys.exit(conda.cli.main())
  File "C:\Program Files\Anaconda3\lib\site-packages\conda\cli\main.py", line 15                                  4, in main
    activate.main()
  File

[2017-07-09 04:31] byronyi opened #11388 "[Feature Request] Tensor::SummarizeValue for GPU backed tensors"
Currently it crashes when calling ``Tensor::SummarizeValue`` and ``Tensor::DebugString`` in GPU backed tensors. I am wondering if there is a better way to debug when writing GPU code.

[2017-07-09 04:35] erinjerri commented on #8161
I have the same errorss as @nwertzberger . I also have these errors related to Anaconda that keep coming up during a Windows installation with the latest version of CUDA on Windows 10. From writing `source activate envname` because (`activate tensorflow-gpu` won't work) it prompts me with the other command, I get this trace:

`Traceback (most recent call last):
  File "C:\Program Files\Anaconda3\S

[2017-07-09 04:36] erinjerri commented on #8161
@mrry any thoughts? It seems to be a common problem with the roaming Python error. I also tried using other pip installs to no avail: https://stackoverflow.com/questions/44991377/trouble-installing-tensorflow-on-windows-10-error-trace-related-to-anaconda

[2017-07-09 04:41] byronyi commented on #11388
Just discovered ``GPUUtil::MemoryDebugString`` for the exact purpose I asked for.

[2017-07-09 04:41] #11388 closed

[2017-07-09 04:48] lighthx opened #11389 "CUDA_ERROR_LAUNCH_FAILED"
I'm useing CNN like Tutorials
tensorflow-gpu 1.2.1
CUDA Toolkit 8.0
cuDNN 5.1
python 3.5.2
windows10
![image](https://user-images.githubusercontent.com/15059661/27991248-2b1ca360-64a3-11e7-802e-d50dd64acc64.png)
when it run :

2017-07-09 11:51:59.107569: W c:\tf_jenkins\home\workspace\release-win\m\windows-gpu\py\35\tensorflow\core\platform\cpu_feature_guard.cc:45] The TensorFlow library wasn't co

[2017-07-09 05:01] #11376 closed

[2017-07-09 05:26] vrv commented on #11380
Yup, bug in SliceHelper -- I'm submitting a fix with tests, and it'll be in probably early this week.

[2017-07-09 05:29] randomrandom commented on #8375
I also get strangely small recall for multi-class problem. Here's a comparison between the metrics I get via scikit-learn and via Tensorflow:
**Scikit-learn code**
[code]

**Scikit-learn output**

[code]

**Tensorflow code**

[code]

**Tensorflow output**

[code]

As you can see the difference between scikit's recall and tensorflow is quite drastic. Not sure if this is a bug or a difference in the

[2017-07-09 05:43] cryptox31 commented on #11141
@skye yes, that is the file.

[2017-07-09 05:48] cryptox31 commented on #11141
I have re-installed tensorflow=1.0.1 and it gave me the same error. But this time I installed it without anaconda environment and with python2.7.
Further, I came across that the the tensorflow api has changed and so I had to do a
`git checkout master`
in /models/ directory
and this worked.

[2017-07-09 05:48] #11141 closed

[2017-07-09 05:54] cryptox31 commented on #8267
@alexiskattan just do a
`git checkout master` in the /models/ directory it should update to the new tensorflow apis.

[2017-07-09 05:56] martinwicke commented on #10622
If they are used, we should expose them through a public endpoint in contrib. We don't want to expose them directly since that would subject them to API stability guarantees, and they're not ready for that yet.

[2017-07-09 08:16] jiangruoqiao opened #11390 "I used TensorFlow to build a deep learning training network and test network, and I was going to use the weights in the training network to use as the weight of the test network, where the training network and the test network were not the same, how should I solve?"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-07-09 08:18] jowettcz commented on #11367
Now i found the cause. If I remove the global_step=train_step when saving the saver, error will disappear.
So the reason should be train_step been wrongly run without feed_dict. It easily mislead developer wasting a lot of time checking the data-loading process.
Now I closed it. But i think this message of the issue is still useful to other developers.

[2017-07-09 08:18] #11367 closed

[2017-07-09 08:23] jowettcz commented on #11371
if py_flag == True, then session run. But palceholder cannot find the feed_dict. Then error happened.
There is possibility in other places you call the op without feed_dict. Have a try, good look.

[2017-07-09 08:55] asimshankar commented on #11390
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-09 08:55] #11390 closed

[2017-07-09 09:23] vlasenkov opened #11391 "" argument unused '-mcpu=native' " makes logs 3 times larger"
### System information

- macOS 10.12.4
- Building from source according to the docs
- 'v1.2.0-1874-g75f56f0bd' 1.2.1
- Python 3.6.1 :: Anaconda 4.4.0 (x86_64)
- bazel: stable 0.5.2
- no cuda
- clang: Apple LLVM version 8.1.0 (clang-802.0.42)

### Description

When building TF on macOS I get lots of these warnings:
[code]
It makes the log three times larger
Is it clang only issue? How to fix it? I

[2017-07-09 12:24] kimown commented on #37
+1

[2017-07-09 12:34] yaroslavvb commented on #11171
@ebrevdo manually wrapping sqrt(n) nodes into defun would do the trick, I just didn't get how the decorator would do this.

There's some ambiguity in docs on whether Defun recomputes the values. There's `noinline=True` option to Defun, although when I tried on 1.1, it worked without having to set that attribute.

PS, swapping stuff to main memory is not that great for O(n) operations. I benchmarke

[2017-07-09 15:45] DimanNe opened #11395 "Gradients are not registered"
(System information probably is not relevant to the issue, so I moved it below)

## The Problem

It seems that the code, generated by macros `REGISTER_GRADIENT_OP` in [math_grad.cc](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/cc/gradients/math_grad.cc) is never executed:
`static bool unused_ret_val_123 = ::tensorflow::ops::GradOpRegistry::Global()->Register(name, fn);`

My `BUI

[2017-07-09 16:47] TimZaman opened #11396 "RecordInput blocks if buffer_size is larger than the amount of files in tfrecords."
If the `buffer_size` keyword argument in `data_flow_ops.RecordInput(file_pattern, .. buffer_size=buffer_size)` is larger than the amount of files inside of `file_pattern`, the op will block forever.

This is slightly related to #11372, another case where `RecordInput` blocks forever.

Not sure how difficult/possible it would be to check for this or throw an error when this occurs. Feel free to mar

[2017-07-09 18:22] ahundt commented on #10622
@martinwicke There are some other TF APIs that have been both documented and clearly marked as experimental and subject to change. How does that sounds as an approach?

[2017-07-09 18:24] ahundt commented on #10622
Considering recent discussion can this be reopened?

[2017-07-09 18:47] eaplatanios commented on #10089
@asimshankar I created a pull request to link to my repository from some of the documentation pages, but I could not figure out how to link to it from [https://www.tensorflow.org/api_docs/](https://www.tensorflow.org/api_docs/) as you suggested. Could you please help me with that?

@skye Is there any update on the support for gradients over while loops, etc., that we discussed before? Thanks! :)

[2017-07-09 19:02] thiell opened #11398 "slow cifar10_multi_gpu_train.py stock example and 'Ignoring device specification /device:GPU' warning"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no, using stock example scripts from cifar10
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04.2 LTS inside singularity container using docker image tensorflow:latest-gpu
- **TensorFlow installed from (source or binary)**: docker://tensorflow/tensor

[2017-07-09 19:39] sheerun opened #11399 "Let string_split support splitting utf-8 characters"
### Describe the problem

Type of issue: feature request

The [string_split](https://www.tensorflow.org/versions/r0.12/api_docs/python/string_ops/splitting) function has (mostly) good behavior when splitting utf-8 strings by single-character delimiter, but fails to do it properly on null-width delimiter because of its documented behavior:

For models like seq2seq one needs a split function that ca

[2017-07-09 19:57] buc030 commented on #8003
I feel this should be implemented. Or at least an informative warning message. Or remove this API...

As the justification on the first place for such high level methods (tf.case, instead of nested tf.cond) is usability, to my opinion, it doesnt make sense to expect the programmer to browse through github issues. This is making TF as some kind of "magic", where replacing equivalent statements make

[2017-07-09 20:29] hanxiao commented on #7817
Just want to add something here, I implemented a multiprocess-based data feeding pipeline for multi-task learning. avg. GPU utilization >90% and quad-core CPU utilization >95%. In case anyone interested: https://hanxiao.github.io/2017/07/07/Get-10x-Speedup-in-Tensorflow-Multi-Task-Learning-using-Python-Multiprocessing/

[2017-07-09 20:33] hanxiao commented on #7951
Just want to add something here, I implemented a **multiprocess-based** data feeding pipeline for multi-task learning. It can achieve avg. GPU utilization >90% and quad-core CPU utilization >95%. Less prone to memory leak and particularly good for days-long training. Not saying it's perfect, but at least works much better than current TF queue API in my case. If anyone interested: https://hanxiao.

[2017-07-09 21:11] drpngx commented on #11395
Thanks for spotting this. Yes, a PR would be nice.

[2017-07-09 22:02] ebrevdo commented on #11171
To do fw recomputation in the gradient with a defun you would do something
like:

def fw(x1, x2):  # x1 and x2 are tensors
  ...
  return y1, y2  # y1 and y2 are tensors

def recalc_fw_grad(fw_op, dy1, dy2):
  x1, x2 = fw_op.inputs
  # DON'T USE THESE: # y1, y2 = fw_op.outputs
  y1, y2 = fw(x1, x2)
  return tf.gradients(ys=[y1, y2], xs=[x1, x2], grad_ys=[dy1, dy2])

@Defun(python_grad_func=recalc_

[2017-07-09 22:03] ebrevdo commented on #11171
You probably also want to add noinline=True to the Defun constructor.

On Sun, Jul 9, 2017 at 3:02 PM, Eugene Brevdo <ebrevdo@google.com> wrote:

[2017-07-09 22:16] AdityaShirvalkar opened #11401 "cuDNN version issues"
I am trying to train a ConvNet on my Windows laptop and I got this error.

Loaded runtime CuDNN library: 5005 (compatibility version 5000) but source was compiled with 5105 (compatibility version 5100).  If using a binary install, upgrade your CuDNN library to match.  If building from sources, make sure the library loaded at runtime matches a compatible version specified during compile configurati

[2017-07-10 01:34] h313 commented on #11401
What version of Tensorflow are you using? Is it a compiled version?

[2017-07-10 03:18] lakshayg commented on #11200
@LuminousXLB It seems that you are in the tensorflow repository when importing tensorflow in python. You need to first change your directory to something other than the TF repo so that python does not try to import from the repo itself.

[2017-07-10 03:24] netheril96 opened #11403 "Feature request: explicit state interfaces"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.2.0
- **Python version**: 2.7.12

### Description:

The current API is immensely statefu

[2017-07-10 03:40] zmlmanly commented on #1122
@sguada  Hi, sguada, I have a problem.
The definition of contrib.layers.batch_norm in tensorflow:
def batch_norm(inputs,
decay=0.999,
center=True,
scale=False,
epsilon=0.001,
activation_fn=None,
param_initializers=None,
param_regularizers=None,
updates_collections=ops.GraphKeys.UPDATE_OPS,
is_training=True,
reuse=None,
variables_collections=None,
outputs_collections=None,
trainable=True,
batch_wei

[2017-07-10 03:43] ppwwyyxx commented on #1122
When scale=False, gamma is a constant 1.

[2017-07-10 05:34] PatWie commented on #7951
That was already done in [TensorPack](https://github.com/ppwwyyxx/tensorpack) for a while now by @ppwwyyxx. There you also get further speedup using ZMQ -- plus it has a nice interface using Python generators. So far, the way tensorpack handles input data, is the most elegant way.

[2017-07-10 06:09] kwotsin commented on #11182
@androbin not sure if it matters, but I am using gcc and not clang when I configured my TF version, + python 2.7; also, I git checked out r1.2 instead of the master branch for the build.

@cy89 yes I think the bug is resolved for me so far. I am seeing rather good results coming from the quantization when I remove those two problematic transformation - `remove_nodes` and `quantize_nodes`

[2017-07-10 06:52] asimshankar commented on #10089
@eaplatanios : I believe that particular landing page isn't checked into github, but I will take care of adding that before the next release. Thanks!

[2017-07-10 07:17] jacob1017 opened #11404 "Build TF 1.2 error: no such package '@nccl_archive//' OR undeclared inclusion(s) in rule '@nccl_archive//:nccl': this rule is missing dependency declarations for the following files included by 'external/nccl_archive/src/libwrap.cu.cc':"
Hi，I compiled tensorflow r1.0 successfully with Centos 7.0，cuda 8.0 and CUDNN 6.5，gcc 4.8.5.  Recently，We want follow the latest version of Tensorflow，error below are always occur:

`ERROR: /home/jiangbo/tensorflow/tensorflow/tools/pip_package/BUILD:76:1: no such package '@nccl_archive//': /home/jiangbo/.cache/bazel/_bazel_jiangbo/0c80707bb0528f07a36b6bc1e1bf9b14/external/nccl_archive/build (Opera

[2017-07-10 07:21] zmlmanly commented on #1122
@ppwwyyxx Thank you very much for your help. I use tf.contrib.layers.batch_norm(input, scale=False)  in Tensorflow, and now I am convering the batchnorm of Tensorflow to Caffe. How to set the param of BatchNormLayer and ScaleLayer in Caffe?
Thank you very much.

[2017-07-10 07:26] ManojPabani opened #11405 "Finding position of detected object"
Is it possible to find the position of detected object with accuracy in given image using tensor flow?﻿
I am using label_image.py to test my trained data how can I get the position of detected object as I am getting the accuracy of detected object?

Reference:
https://stackoverflow.com/questions/44942587/save-image-of-detected-object-from-image-using-tensor-flow?noredirect=1#comment76982154_449425

[2017-07-10 08:02] meteorcloudy commented on #11045
Hmm,, this looks strange. What version of cudnn do you have? Is there a `cudnn64_6.dll` under  `C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0\bin` ?

[2017-07-10 08:33] loveJasmine opened #11407 "how I upgrade my code(build on Tensorflow 1.0.1 python3) to compatible with TF1.2?"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/45007249/how-i-upgrade-my-codebuild-on-tensorflow-1-0-1-python3-to-compatible-with-tf1

[2017-07-10 08:41] ckalas commented on #11265
moved to https://stackoverflow.com/questions/45007328/tensorflow-object-detection-faster-rcnn-randomly-fails

[2017-07-10 09:03] swordspoet commented on #6861
@soloice Thank you so much, I have met this problem and I struggled it for a long time until I saw "Try to switch these 2 parameters."

[2017-07-10 09:35] utkrist commented on #1940
Yes. I need this too.

[2017-07-10 09:50] davidshen84 commented on #11096
@aluo-x , I uncommented your code and used

        h_flat = tf.reshape(h_norm4, [-1, 28 * 28 * 16])

The training is slow, but no error so far.

But in terms of normalization, I think you should have a separated step to normalize all your data at once and save it some where; then use the normalized data, rather than normalize the data as they are loaded.

[2017-07-10 10:16] ernestyalumni commented on #8828
2 days ago, virtualenv option install of tensorflow (tf) on Ubuntu 16.04 LTS, CUDNNv6, when import tensorflow, gave error ImportError: libcudnn.so.5: cannot open shared object file: No such file or directory so it was still looking for CUDNN v5, but when I

[code]
(do that with tensorflow-gpu as well)
then it now works with CUDNNv6 successfully.  So be sure to pip install --upgrade ... (i.e. updat

[2017-07-10 10:51] horance-liu commented on #10785
@Erstwild Has it been implemented yet? Or is it in progress?

[2017-07-10 11:18] gmvidooly commented on #11265
I am getting same error too.

[2017-07-10 13:14] rubenvereecken commented on #11017
:tada:

[2017-07-10 13:38] hanxiao commented on #7951
@PatWie thanks for pointing this out! I just quickly checked @ppwwyyxx repo really awesome! Thanks again

[2017-07-10 13:56] Androbin commented on #11182
@kwotsin
I am currently using clang, so will try with gcc now, thanks for the hint!
The version of python (3.5.2 in my case) should not matter?
Last pulled git commit is 454f704b094dee26a31d073c02f488cc8dce5944 from master.

[2017-07-10 14:19] pickou commented on #10816
I ran into the same problem, I have no idea how to solve it. Can you explain your solution in detail? Thank you.

[2017-07-10 14:42] Styrke commented on #7407
@pkubik's suggestion fixed the problem for me.

After replacing my homemade metric
```tf.reduce_mean(tf.cast(tf.equal(predicted_classes, labels), tf.float32))```
with
```tf.metrics.accuracy(labels, predicted_classes)```
it runs smoothly.

Maybe something could throw a more useful exception that indicates how to solve the problem, when people try to use improper metrics?

[2017-07-10 14:58] jakublipinski commented on #2883
I fixed @lxtGH & @AlvarezAriel problem by running:
`/tensorflow/bazel-bin/tensorflow/tools/quantization/quantize_graph --input=YOUR_STRIPPED_MODEL.pb --output_node_names=final_result --output=quantized_stripped_model.pb --mode=weights`

[2017-07-10 15:18] kzos commented on #11299
@satok16, keep me posted.

[2017-07-10 15:31] bendaf commented on #8092
I had the same issue. Installing jdk manually solved the issue.

[2017-07-10 15:39] gunan commented on #11384
From what it looks like, you have cuda 7.5 installed. If you are trying to use prebuilt tensorflow pip packages, we build these against cuda 8.0.

So you either need to upgrade cuda, or install from sources.

[2017-07-10 15:41] gunan commented on #11387
If you are on windows, you usually need to start a terminal as an administrator.
This is due to anaconda directories being only writable by administrator.

[2017-07-10 15:42] ktamiola commented on #11327
I can also confirm that issue in freshly compiled  `1.2.1`.

[2017-07-10 15:45] gunan commented on #11389
It is possible our latest (1.2.1) binaries are built against cudnn 6.
is it possible to try and upgrade cudnn on your machine?

@av8ramit FYI I think this has been a side effect of our efforts to upgrade our CI to cudnn6. We were not able to add support for multiple cudnn versions on the CI machines.

[2017-07-10 15:48] gunan commented on #11368
How about using docker?
Can you get docker running on these machines?

Since ubuntu 12.04 is quite old, and even canonical does not support the OS, and do not push the latest compiler/glibc updates on the machines it would be difficult for us to support this version of the operating system.
So I will have to decline this feature request.

However, you can try building TF from sources on a machine

[2017-07-10 15:48] #11368 closed

[2017-07-10 15:50] ahaider3 opened #11411 "Fetching data in Distributed Tensorflow has too much latency"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:

https://gist.github.com/ahaider3/ae4f6d2d790d963a93b346bb0138a41d

The above is a simple benchmark which tests the overhead of distributed TF. It fetches a configurable sized variable from the parameter server and does a matmul on the worker. It also does a matmul from a lo

[2017-07-10 15:52] gunan commented on #11310
I am not sure what do you mean by web API.
tensorflow does not have any web API.

With the little amount of information provided, we have no idea how to help out.
I will close this issue. But please feel free to file a new issue, and this time make sure to provide all the information required by the template.

[2017-07-10 15:52] #11310 closed

[2017-07-10 16:46] michaelisard commented on #1325
@sherrym do you have any idea of the current status of this?

[2017-07-10 16:54] satok16 commented on #11299
It's fixed last week.

[2017-07-10 16:54] #11299 closed

[2017-07-10 16:55] petewarden commented on #11250
I think this may be a documentation issue. Here's an example set of arguments I've been able to run on my copies of Mobilenet:

[code]

The key differences from yours are that I'm specifying the width and height explicitly, that I'm using -127 to 127 as the range, and that I'm using the set of labels required for Mobilenet.

I've recently updated the TF for Poets docs and scripts to support Mobile

[2017-07-10 16:58] michaelisard commented on #9171
@asimshankar assigning to you for triage. It seems as if the current way we set random seeds has missing use cases: do you want to look at future redesigns?

[2017-07-10 17:01] michaelisard commented on #10675
@asimshankar would you decide if this is worth fixing?

[2017-07-10 17:02] RylanSchaeffer commented on #11384
I do have cuda 7.5 installed. Thanks for clarifying what causes the issue and how to fix it!

[2017-07-10 17:09] #11384 closed

[2017-07-10 17:09] michaelisard commented on #11372
@ekelsen it looks as if RecordYielder main loop will exit immediately with an error if the fileset is empty, which should cause the yield op to return immediately with an error. Not sure why the above behavior is being reported.

[2017-07-10 17:14] TimZaman commented on #11372
Version is 1.2.1 from pypi (Both macOS and Ubuntu14.04).

On Mon, 10 Jul 2017 at 19:13, Michael Isard <notifications@github.com>
wrote:

[2017-07-10 17:20] YMMS opened #11413 "Request genuine consecutive scheme batch generation for RNN Trainning"
The concept of “genuine consecutive scheme ” can be seen at [here(5.4. Batch)](http://www.sciencedirect.com/science/article/pii/S088523081400093X?via%3Dihub).

My scenario is as follows:

I have some files with different sequence lengths.

First, do buckecting to generate file-batches with parameter `batch_size`

Then, split each  file-batch with parameter `seq_len` to generate trainning sample-ba

[2017-07-10 17:27] petewarden opened #11414 "TensorFlow needs a mascot"
Every open source project deserves a mascot. Here's Teensy the TensorFlow Pony, and he's ready to serve:

![img_20170710_073626](https://user-images.githubusercontent.com/161459/28030840-3a882240-655a-11e7-99ae-4469eec0a58a.jpg)

[2017-07-10 17:39] kzos commented on #11299
@satok16 , I missed it, I guess this is the commit id-06d25a7e, will check with this,
thanks.

[2017-07-10 17:47] michaelisard commented on #11371
It looks as if this is fixed in the master branch: would you try there?

[2017-07-10 18:03] michaelisard commented on #11373
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-10 18:03] #11373 closed

[2017-07-10 18:12] skye commented on #10089
@eaplatanios: I've been working on the framework for generating the backprop graph of while loops, but haven't committed anything yet. I'll post here as I make progress, and once the general framework is in we'll have to address how to generate unimplemented C++ op gradients.

[2017-07-10 18:31] byronyi commented on #11411
This is a known issue (#4498, #6116, #11196) with several workarounds:

1. Wait until #7466 (cause:  #6116) is merged, which gives roughly 2-3x speedup to gRPC large tensor transport.
2. Use alternative communication protocol, such as `grpc+verbs` or `grpc+mpi`. This requires RDMA capable hardware.
3. Refactor your code and try to use intra-process communication.

[2017-07-10 18:44] on-the-run opened #11416 "Distributed training with synchronized SGD using 'grpc+verbs' sometimes hangs indefinitely"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04.2 LTS
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: v1.2.0-1755-gee4259a 1.2.1
- **Python version**: Python 3.5.2
- **Bazel version (if

[2017-07-10 18:48] on-the-run commented on #11416
@junshi15 Could you shed some light on this? Thanks!

[2017-07-10 18:50] alanyee opened #11417 "Apache License header does not include HTTPS link"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 10.12.15
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.2
- **Python version**: 2.7.13

### Describe the problem
Various code files have `http:

[2017-07-10 18:56] byronyi commented on #11416
Have you tried your code in loopback mode? It helps to make sure that the problem doesn't lie in your network fabrics configuration.

[2017-07-10 19:04] on-the-run commented on #11416
@byronyi Thanks for the quick reply. I have tried my code over Ethernet, and it worked fine. I think that should indicate the network fabrics is fine. Also, one experiment I tried over RDMA did go through as I described in the issue. So RDMA fabric seems fine. The loopback mode won't traverse the network stack, right?

[2017-07-10 19:24] michaelisard commented on #11086
I tried to repro, but the call to read_csv with dtype float64 failed because of the first column which is characters. If you give more context (or link to the full log) for your error it may be easier to debug.

--------------------------

ValueError                                Traceback (most recent call last)
<ipython-input-1-ea7c4a9a280b> in <module>()
      4 kmeans = tf.contrib.learn.KMean

[2017-07-10 19:32] byronyi commented on #11416
Note that RoCE requires a lossless fabric, while gRPC does not. If you could reproduce the error in loopback mode, it would be easier for us to identify the possible issue.

[2017-07-10 19:38] michaelisard commented on #11092
@cwhipkey assigning to you for triage: please reassign to someone else if appropriate thanks!

[2017-07-10 19:42] michaelisard commented on #10824
You are right unfortunately that the initializer is making a large constant. @jhseu I see you have been making changes here recently: any thoughts of how to e.g. make it broadcast from a scalar instead?

[2017-07-10 19:54] michaelisard commented on #11113
Adding contributions welcome tag just so it's clear that this issue has been triaged: this doesn't contradict the fact that @shin-migami is working on it!

[2017-07-10 19:58] shamoya commented on #9926
Nice @AEGQ
We are working on a similar patch which adds control over some configurations from the user.
Beside RDMA device we also want to have configurable port, gid index, and various QP and CQ parameters.
Still debating if to use env variables (like in your case) or passing some configuration file/proto to Server creation. What do you think ?

@byronyi, good to hear the script is working for yo

[2017-07-10 19:59] michaelisard commented on #11122
@hyouklee it looks as if you added the ComputationPlacer code: would you take a look?

[2017-07-10 20:03] byronyi commented on #9926
@shamoya I'll take a look into the logs tomorrow.

Btw, my GDR patch uses librdmacm so it should be easier to configure host, port, and other related issues :)

[2017-07-10 20:05] cy89 commented on #11250
@vade; does what @petewarden says get you back in business?

[2017-07-10 20:07] cy89 commented on #11341
Thanks, @sesse; sorry I didn't know.

[2017-07-10 20:09] michaelisard commented on #11182
@Androbin please let us know how this goes: I will close the issue if it's solved for you.

[2017-07-10 20:09] vade commented on #11250
Im out of the office today/tomorrow but will definitely check once I'm back. Thanks in advance @petewarden @cy89 !

[2017-07-10 20:11] purpledog commented on #9978
Yaroslav, your fixes would be very welcome.

[2017-07-10 20:14] atabakd opened #11419 "KL divergence not in tf.contrib.distributions as of 1.2.0"
Apparently KL divergence is no longer in contrib.distributions.
This page is broken:
https://www.tensorflow.org/api_docs/python/tf/contrib/distributions/kl

and this file is removed:
tensorflow/contrib/distributions/python/ops/kullback_leibler.py

but I couldn't find it being mentioned in the changelog. Did I miss it?

[2017-07-10 20:18] shamoya commented on #11416
@on-the-run, can u verify the RoCE configuration with ib_write_bw between the 2 nodes ?
As @byronyi said, you may need to configure lossless (PFC) or ECN to prevent the packet loss.
ib_write_bw is a good stress test to see if RoCE is configured good.
Can u attach the full logs of the PS and worker ? I'm missing a lot of events here in the logs.

[2017-07-10 20:18] cy89 commented on #11359
So is it that you want a 3D grid LSTM cell? Or is it that you still want a 2D cell, but there's some way in which the num_units argument of the 2D cell doesn't meet your needs?

(and my apologies if I'm just not getting it--I'm a systems person more than an NN person).

[2017-07-10 20:25] printdhruv commented on #11419
I didn't understand your question correctly. But, If you are referring `API r1.2` than see the link [https://www.tensorflow.org/api_docs/python/tf/contrib/distributions/kl_divergence](https://www.tensorflow.org/api_docs/python/tf/contrib/distributions/kl_divergence)

[2017-07-10 20:30] atabakd commented on #11419
Oh I see. So it is just a name change from `kl` to `kl_divergence`

[2017-07-10 20:30] #11419 closed

[2017-07-10 20:36] alextp commented on #11240
Can you try with resource variables (i.e. use tf.get_variable(..., use_resource=True) instead of tf.Variable?

[2017-07-10 20:43] jrbtaylor commented on #11364
I got an answer on [stackoverflow](https://stackoverflow.com/questions/44978255/tensorflow-stratified-sample-error). Both use cases (batch and single example inputs) are covered. I'd suggest improving the documentation accordingly.

[2017-07-10 20:45] on-the-run commented on #11416
@shamoya, the RDMA I am using is Infiniband, instead of RoCE. `ib_write_bw` runs fine. The workers and the parameter sever can talk to each other via RDMA. Posting the output from running `ib_write_bw` between one worker and one parameter server below.
[code]

[2017-07-10 20:47] on-the-run commented on #11416
@shamoya, about the logs of PS and worker, I didn't turn on VLOG for the log file I posted earlier. will a log with VLOG(2) enabled useful?

[2017-07-10 20:55] printdhruv commented on #11407
Did you tried guidelines listed here [https://www.tensorflow.org/install/migration](https://www.tensorflow.org/install/migration) ?

[2017-07-10 20:55] erinjerri commented on #11387
@gunan I tried what you said but still got this error after the prompts `activate tensorflow` and `pip install --ignore-installed --upgrade <url>`

Says it's not supported wheel on this platform. I'm on Windows 10?
![tf-error](https://user-images.githubusercontent.com/3184381/28039500-65fc42d6-6577-11e7-8077-b077241c15b5.png)

[2017-07-10 21:00] printdhruv commented on #11419
I also encourage you to review guidelines and follow template [here](https://github.com/tensorflow/tensorflow/blob/master/ISSUE_TEMPLATE.md) before raising an issue.

[2017-07-10 21:02] andrewharp commented on #11334
@faifai21 Thanks for the detailed report! Are you able to determine exactly how much the memory use increases per inference pass? If you change the size of your input array, does the rate of increase vary proportionally? I'm just curious if something else in the run() call could be allocating memory that never gets cleaned up.

@asimshankar Any idea why this might be happening, given that closeFet

[2017-07-10 21:05] shamoya commented on #11416
If it's IB then we shouldn't have any packet loss.
VLOG(2) is maybe too much verbose, maybe just change all VLOG in rdma.cc to 0, so we can just see the Rendezvous protocol messages.
How many model parameters are there ?

[2017-07-10 21:06] junshi15 commented on #11416
@on-the-run Did you even run an example successfully, say InceptionV3 training on ImageNet dataset?

[2017-07-10 21:12] on-the-run commented on #11416
@junshi15, Yes. The same code did go through once on RDMA, and it worked well at that time. I didn't try InceptionV3, though.

[2017-07-10 21:16] asimshankar commented on #11334
There was a leak in 1.2.0-rc0 and prior versions,
 fixed by https://github.com/tensorflow/tensorflow/commit/8304e197ea9eeb617f224a1ba0cc4068596098d1

@faifai21 : Since you're building from source, could you confirm that your build includes the commit mentioned above?

[2017-07-10 21:19] erinjerri commented on #11387
@gunan also tried installing a different version since I'm on Python 3.6, Anaconda 4.3 (64 bit version on Windows)

![tf-36-error](https://user-images.githubusercontent.com/3184381/28040455-b86b2728-657a-11e7-8b59-aca27acf202b.png)

But still didn't work either. Referring to this other [post](https://github.com/tensorflow/tensorflow/issues/6533).

[2017-07-10 21:19] junshi15 commented on #11416
that's strange. I have not seen issues like that, Your problem probably depends on the ordering of events, which is random. I am wondering if there is memory corruption somewhere.

[2017-07-10 21:20] printdhruv commented on #11398
Can you try to put `'num_gpus',2` manually in the file `cifar10_multi_gpu_train.py` found at` line 59:`
[code]

[2017-07-10 21:21] andrewharp commented on #11300
@PKUEcho See [master/tensorflow/contrib/hvx](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/hvx) for instructions on running HVX-accelerated TF on supported devices.

We don't currently have internal plans to add OpenCL support on Android, but if the community wants to add it that would be great. I have no idea what sort of issues might be run into though.

Otherwise I'd s

[2017-07-10 21:24] songhuiming commented on #11337
when I run on tensorflow 1.0.1, with the following change, there is no error message of shape unmatch.

[code]

[code]

[2017-07-10 21:35] andrewharp commented on #11279
@RohitDulam It's currently not possible to build Android TF on Windows directly using Bazel (this is a Bazel limitation). See https://github.com/tensorflow/tensorflow/issues/6385 for details and workarounds. The preferred method of using TF on Android is the [AAR distribution](https://github.com/tensorflow/tensorflow/issues/6385#issuecomment-299913647) which allows integration with a few lines of

[2017-07-10 21:41] pbamotra commented on #10811
Update dask
`conda update dask`

[2017-07-10 21:42] on-the-run commented on #11416
@junshi15, one thing that I observed to happen repeatedly was that after the RDMA channels have been built, worker 1 sent a `RDMA_MESSAGE_TENSOR_REQUEST ` to PS, and never got an ACK. Then worker 1 was blocked there. And, PS never received that `RDMA_MESSAGE_TENSOR_REQUEST `. Does this ring a bell?

[2017-07-10 21:51] zeis commented on #11371
I'm having troubles installing the latest version of Bazel unfortunately. It only let me install version 0.1.3 and I can't build TensorFlow as it requires version 0.4.5 (on a Mac). I would suggest though that if you tested my example and it works in the master branch then we can mark this as closed. Thank you.

[2017-07-10 22:07] ahaider3 commented on #11411
I am mostly interested in the performance of small tensors. I have tried grpc+verbs and haven't seen any significant benefits. I will try with MPI.

[2017-07-10 22:14] rinugun commented on #11280
This can happen if you build TensorFlow from source and answer "No" to the question "Do you wish to build TensorFlow with Google Cloud Platform support?". However you indicated that you installed a pre-built TensorFlow via `pip install` which should presumably have this option enabled. Adding @jhseu to help.

[2017-07-10 22:21] kayzhu commented on #11122
I will take a look at this, since @hyouklee is away this week.

[2017-07-10 22:31] ekelsen commented on #11372
Bug identified, should be fixed internally soon.

[2017-07-10 22:38] jhseu commented on #11280
I verified that gs is included in our builds. Maybe you're using the wrong version of tensorboard? You should use `pip3 install` for Python 3.

Maybe try to `pip uninstall tensorflow` first and `pip3 install` TF.

Closing because I manually verified gs paths work with the latest builds.

[2017-07-10 22:38] TimZaman commented on #11372
Thank you sir. Can you check out if you can fix #11396 while you're at it?

[2017-07-10 22:46] on-the-run commented on #11416
@shamoya, there are about 70 million parameters. Here are full logs:
[ps.txt](https://github.com/tensorflow/tensorflow/files/1137272/ps.txt),
[worker0.txt](https://github.com/tensorflow/tensorflow/files/1137274/worker0.txt),
[worker1.txt](https://github.com/tensorflow/tensorflow/files/1137275/worker1.txt)
In this case, worker 1 hanged, but worker 0 didn't. Not sure if the log of worker 1 gives eno

[2017-07-10 23:19] yzhwang commented on #11327
Thanks @ma0ho and @ktamiola . I was able to reproduce this too. Investigating now.

[2017-07-10 23:27] fidlej commented on #2774
The out of range index can be still produced, if the input is not finite.
Is it desired? Should it be documented?

Example:
[code]

[2017-07-10 23:28] andrew-anki commented on #11366
Update: I rebuilt from master (pulled this morning) and sent in the same two images I was testing with. It seems to be reporting reasonable results now using my standalone binary. So either I was doing something wrong on my r1.2 branch or the root cause has been fixed.

_However_, I'm still getting the `BAD ACCESS` crash when linking into my larger project, so any suggestions there would be much a

[2017-07-11 00:39] Branden-Zhang commented on #6503
Yes, please add this feature, super helpful for matrix nuclear norm. @rmlarsen

[2017-07-11 00:45] mrry commented on #11326
The latest version of TensorFlow *is* compatible with Python 3.6 (I've updated the [self-check script](https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c) to reflect that).

You mentioned that CUDA is in your `%PATH%`... have you also added the cuDNN `bin\` directory to your path?

[2017-07-11 00:47] mikigom opened #11422 "No clue to inform what 'dimension' arg of argmin or argmax means in API docs"
In documentation of TF API 1.2, `tf.argmin` and `tf.argmax` have `dimension` argument.

* [tf.argmin](https://www.tensorflow.org/api_docs/python/tf/argmin)
* [tf.argmax](https://www.tensorflow.org/api_docs/python/tf/argmax)

However, there is no any explanation for what it means.

[2017-07-11 01:20] proflim commented on #8860
Got the same error but it worked fine when I just reran it.

[2017-07-11 01:21] loveJasmine commented on #11407
sure，but I got a tough issue

https://stackoverflow.com/questions/45015314/tensorflow1-2-caused-the-error-cant-pickle-thread-lock-objects-on-deepcopy-or

[2017-07-11 01:22] arduano commented on #11326
Yes.
http://i.imgur.com/vinpQwY.png

The script returns:
[code]

[2017-07-11 01:23] Branden-Zhang commented on #6503
Have you test the code @kcyu2014 contribute? Is it work? @albertpumarola

[2017-07-11 01:25] mrry commented on #11422
The `dimension` argument is a deprecated synonym for `axis`. You should use `axis` in new code.

(The appearance of `dimension` in the generated docs suggests that this is something we should avoid in the doc generator. I'll assign this to @MarkDaoust, since he's most familiar with the recent advances in our doc generation technology!)

[2017-07-11 01:25] arduano commented on #11326
Oh, and your script's exception traceback:
[code]

[2017-07-11 01:27] mrry commented on #11326
OK, in that case there must be some missing dependency. In the same terminal as you used to run `ipython`, can you try running [Dependency Walker](http://www.dependencywalker.com/) on the file `D:\Programs\Anaconda3.6\lib\site-packages\tensorflow\python\_pywrap_tensorflow_internal.pyd`, and let us know what DLLs it reports as missing?

[2017-07-11 01:28] smilli commented on #6503
I tried it and it didn't work for me :/ Can find logs later if it's helpful for people

[2017-07-11 01:34] arduano commented on #11326
I'm, not too sure how to use this, but this is what I got:
http://i.imgur.com/lh8Byqk.png

[2017-07-11 01:37] mrry commented on #11326
Can you get the full list of modules that have "Error opening file." next to them? Annoyingly, the `API-MS-WIN-*.DLL` and `EXT-MS-WIN-*.DLL` modules are false negatives, but hopefully something else turns up in the list.

[2017-07-11 01:39] arduano commented on #11326
https://pastebin.com/npcKuW1y

[2017-07-11 01:39] printdhruv commented on #11407
Hi,
      There is an existing thread for that here! I think it's an old issue started showing up again! See the [https://github.com/tensorflow/tensorflow/issues/11157](https://github.com/tensorflow/tensorflow/issues/11157)

1. I encourage you to paste the code / online fiddle / repl link which you are trying to migrate?

2. Also, you can search through `API r.1.2 ` for manually updating existing

[2017-07-11 01:48] mrry commented on #11326
From the list of missing dependencies:

It looks like that DLL depends on cuDNN 6! I assume at some point our nightly builds changed to use cuDNN 6 instead of cuDNN 5.1. Can you try upgrading to cuDNN 6, updating all of the necessary paths, and see if that fixes the problem?

[2017-07-11 01:55] arduano commented on #11326
Yay!
It finally works!
Thanks

[2017-07-11 01:59] mrry commented on #11326
Thanks for persevering! I'll have to figure out how to upgrade the script so that we can handle cuDNN 5.1 versus 6 issues....

[2017-07-11 01:59] #11326 closed

[2017-07-11 02:00] philipperemy commented on #6365
@yuefengz thanks!

[2017-07-11 02:03] byronyi commented on #11411
I see both of your model size and batch size is small (128/256?). What's the time spent on computation each round before fetching model parameters from PS? If it only spends tens to hundreds of microseconds, I don't think the current distributed runtime could reach a performance on par to that of a single process, as there's a fixed overhead on setting up interprocess communication.

[2017-07-11 02:19] andrew-anki commented on #11366
Also note that my "larger project" is being built with Xcode. I'm adding all the flags and `force_loads` I see when running bazel with `-s` to my build settings in Xcode, but still no luck.
[code]

[2017-07-11 02:34] loveJasmine commented on #11157
I totally reproduced this error on py3.6.0 and py2.7.10 on Mac, but the error are different:

for python3.6.0:
seq2seq.py", line 910, in embedding_attention_seq2seq
    encoder_cell = copy.deepcopy(cell)
  File "/usr/local/Cellar/python3/3.6.0_1/Frameworks/Python.framework/Versions/3.6/lib/python3.6/copy.py", line 161, in deepcopy
    y = copier(memo)
  File "/usr/local/lib/python3.6/site-packages

[2017-07-11 02:52] faifai21 commented on #11334
@asimshankar I just checked and that commit is included in the build. I can try rebuilding from the latest release and see if the issue goes away.

@andrewharp I'll get you that information first thing tomorrow morning.

[2017-07-11 04:10] suiyuan2009 commented on #11416
does distributed tensorflow using 'grpc+verbs' have unit tests? I didn't find any. I meet `2017-07-11 09:46:46.591411: F tensorflow/contrib/verbs/rdma.cc:95] Check failed: cq_ Failed to create completion queue
` when using 'grpc+verbs' in an ib network.

[2017-07-11 04:14] #6749 closed

[2017-07-11 04:22] andrei-pokrovsky commented on #5719
You could use a GPU cuda radix sort sample that comes with standard CUDA distribution as a starting point for implementing topK (even though there's probably a simpler way to do it in CUDA)

[2017-07-11 04:26] JieHe96 commented on #10192
Try this:
in the (your tensorflow root)/tensorflow/contrib/makefile/Makefile
remove the line "-D__ANDROID_TYPES_SLIM__ " under "# Settings for iOS." for all "$(IOS_ARCH)"
then recompile the libtensorflow-core.a according to the modified Makefile.

The reason why this happened is because:
in tensorflow/core/kernels/cwise_ops_common.h
#if defined(ANDROID_TYPES_SLIM)
// Note that ANDROID_TYPES_SLIM i

[2017-07-11 05:28] lighthx commented on #11389
@gunan
i changed my cudnn to 6
and error code:

2017-07-11 13:24:16.892008: W c:\tf_jenkins\home\workspace\release-win\m\windows-gpu\py\35\tensorflow\core\platform\cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use SSE2 instructions, but these are available on your machine and could speed up CPU computations.
2017-07-11 13:24:16.892356: W c:\tf_jenkins\home\workspace\release-wi

[2017-07-11 06:47] pickou commented on #6683
I ran into the same issue when I reloaded a pretrained rnn model to generate a sequence. Now I have no idea about this problem.I haved tried many ways to check my code, I wonder whether some params in rnn are not stored.

[2017-07-11 06:52] rryan commented on #11339
Ahh hm, so there's a reason that those ops don't have Python wrappers yet -- we don't actually want to make them public / supported yet. I'm sorry this decision wasn't better documented, but could you please hold off on this work?

[2017-07-11 06:53] khaotik commented on #5719
I've ported PyTorch implementation for Theano at [here](https://github.com/Theano/Theano/pull/5959), which uses radix selection. I mostly works but still need some cleanup.

[2017-07-11 06:57] tuong-olli commented on #445
I install tensorflow in Beaglebone black with Docker successfully. But when I predict model, it's failed that:
Illegal instruction (core dumped)

[2017-07-11 07:00] clumsydzd commented on #4434
@mddrill have you solved your problem? I ran into the same situation

[2017-07-11 07:03] clumsydzd commented on #2807
Any progress? After quantize, network is 3 times slower with bad performance at accuracy

[2017-07-11 07:17] andykernahan commented on #11339
Ah, that's a shame; may I inquire as to the reason why? Presumably the ops & kernels will remain in core, so it's safe to take a dependency on them in a saved model?

[2017-07-11 07:28] junshi15 commented on #11416
@on-the-run RDMA_MESSAGE_TENSOR_REQUEST is a fairly simple message. Here are some possibilities why PS did not receive it.
1) the message was not sent by worker. Note we only enqueue the message. The actual RDMA write happens [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/verbs/rdma.cc#L640-L656), by logging more in that function, we will know if the message is inde

[2017-07-11 07:33] junshi15 commented on #11416
@suiyuan2009 It's a good idea to add unit tests. right now there is none. Your error is likely due to hardware config. For example, the IB adapter is down. One situation I have seen is some people have multiple IB adapters, let's say the first one is down, the second is up. The current code opens the first [device](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/verbs/rdma.

[2017-07-11 08:02] ScorpioCPH commented on #10216
@girving @Panaetius

I am sorry to comment on this closed issue, but I think `max_pool` has same behaviour with `max_pool_with_argmax `

Code:
[code]

Output:
[code]

The last element should be `0` with `zero-padding` as `0` is bigger than `-2`.

WDYT?

[2017-07-11 08:14] gunan commented on #11389
Looks like with cudnn6, you are able to run longer, but still run into the same issue.

@guschmue @mrry have you seen this error on windows before?

[2017-07-11 08:15] gunan commented on #11387
by any chance, are you on a 32 bit OS?

[2017-07-11 08:32] PKUEcho commented on #11300
Thanks @andrewharp for your reply!

[2017-07-11 08:32] #11300 closed

[2017-07-11 08:38] soukira opened #11426 "Resource exhausted error for translate.py Seq2seq model (CPU)"
Windows 10
Tensorflow: 1.0.0
Python version : 3.5
 I get the following error when i try to run translate.py for Seq2seq model

Resource exhausted: OOM when allocating tensor with shape[576,1024]
Is there any way i could reduce the size in translate.py so that the error does not occur?
Thanks

[2017-07-11 09:00] suiyuan2009 commented on #11416
@junshi15 , it's seems user and root have different limit in my vm, I use root to run tf then it works.

[2017-07-11 09:30] mino98 commented on #10399
Same here, exactly the same code that @martin-gorner pointed out is causing the crash.

[2017-07-11 09:35] zklgame opened #11427 "wrong with tf.norm, it will produce nan"
I use version 1.0.0 in server, in my code, the result will be nan if i use :
[code]
but if i change it to be:
[code]
everything will be ok, and result is some float between 0 and 1.

[2017-07-11 09:41] noahbishop commented on #7521
@fabienbaradel Do you mind sharing how you fixed the issue?

[2017-07-11 09:41] LiYaHX opened #11428 "NameError: name 'eval_input_fn' is not defined"
OS : MacOS 10.12
TensorVersion : 1.2
PythonVersion : 2.7

Run the example of 'A custom model' in the document '[Getting Started With TensorFlow](https://www.tensorflow.org/get_started/get_started#a_custom_model)', occur the exception:
`Traceback (most recent call last):
  File "linear_regression_tf_contrib_learn_custom_model.py", line 35, in <module>
    eval_loss = estimator.evaluate(input_fn=eva

[2017-07-11 09:45] albertz commented on #6602
This is not complete yet. When I try to include `stream_executor.h`:
[code]
I get:
`/u/zeyer/.local/lib/python2.7/site-packages/tensorflow/include/tensorflow/stream_executor/dso_loader.h:32:30: fatal error: cuda/cuda_config.h: No such file or directory`

[2017-07-11 09:53] August-us commented on #1353
I was wondering if it was wrong to pass your parameters, The tf.truncated_normal(shape,mean,stddev...)

[2017-07-11 10:44] martinwicke commented on #10950
@jart @jhseu Could this be related (or fixed by) to the protobuf version change we had recently?

[2017-07-11 10:56] ernestyalumni commented on #6548
@Carmezim

I am on Fedora 23 Workstation (will upgrade soon with full reinstall) and --ignore_installed worked perfectly for me, with anaconda installed.  In my next reinstall on this system, I would NOT install anaconda because of how it places the site-packages separately other than from root, during pip.

Since I also confirmed pip install --ignore-installed tensorflow-gpu worked without a hitc

[2017-07-11 11:02] minogame commented on #1915
Got the same problem as above, there must be something wrong with the implementation of gradients in the latest release.

[2017-07-11 11:21] bensowden commented on #11138
I am sorry I missed the include for real_valued_column I accidentally removed it when simplifying the code to share, as you say simply adding the line `from tensorflow.contrib.layers import real_valued_column` fixes this. I will edit the original to fix this.

The warnings you see are warnings not errors and as such are not expected to prevent the algorithm from correctly training. These are also

[2017-07-11 12:02] uirye opened #11430 "tf.matrix_inverse doesn't support complex tensor"
I'm trying to run the next code:

Code:

    x=tf.placeholder(tf.float64,[2,2])
    y=tf.matrix_inverse(x)

Result OK :

    <tf.Tensor 'MatrixInverse_2:0' shape=(2, 2) dtype=float64>

Code:

    x=tf.placeholder(tf.complex64,[2,2])
    y=tf.matrix_inverse(x)

Result (Error):

    Traceback (most recent call last):

    File "<ipython-input-163-f259114be54a>", line 2, in <module>
    y=tf.matrix_i

[2017-07-11 12:24] namrata-ibm opened #11431 "Rank calculated incorrectly using 'gen_array_ops.rank()'"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 'v1.2.1-0-gb4957ff', '1.2.1'
- **Python version**:  2.7.12

[2017-07-11 13:20] redsphinx commented on #11414
sure

[2017-07-11 13:42] FightingZhen opened #11433 "My CNN is not learning , who can help me fix this porblem ?"
import tensorflow as tf
import Transform_Data_New as td
import numpy as np

max_accuracy=0
timer=0
Epoch=300
learning_rate=1e-3

training_batch_size=100
validation_batch_size=40
test_batch_size=40

len_training_data, validation, test = td.Initialization(validation_batch_size,test_batch_size)
iteration_time=int(len_training_data/training_batch_size)+1

sess=tf.InteractiveSession()

def weight_varia

[2017-07-11 13:42] #11433 closed

[2017-07-11 13:45] FightingZhen opened #11434 "My CNN is not learning ,who can help me fix this problem? Thx !"
[CNN.txt](https://github.com/tensorflow/tensorflow/files/1139040/CNN.txt)

That's the whole code of my CNN, the data for training, validation, test are all organized myself, which is not the problem.
While training this CNN, the result in Console showed that all weights and biases did not change. If I replace the RELU in six convolutional layers with Sigmoid, the CNN performed well.
Who can help m

[2017-07-11 13:51] psycharo commented on #6503
The implementation by @kcyu2014 does not have gradients for U, only for S and V (those seem to agree with numerical gradients though).

[2017-07-11 13:54] asross opened #11435 "Feature request / possible bug: cannot take second derivative of a MaxPool"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OSX El Capitan
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: v1.0.0-65-g4763edf-dirty 1.0.1, but I've tested it on later versions too, and lookin

[2017-07-11 14:04] #11380 closed

[2017-07-11 14:12] oborchers commented on #11371
I am having a very similar problem to this one. Tf cond does not seem to affect my input placeholder to which I want to ad some salt and pepper noise. Consider the following code:

`
def noise_mask(input, keep_prob):
    return tf.zeros_like(input)

def binary_noise(input, keep_prob=0.05, is_training=True):
    is_training = tf.Variable(is_training)
    return tf.cond(is_training, lambda: noise_ma

[2017-07-11 14:18] cwhipkey commented on #11092
@benoitsteiner as well.  I will be able to take a closer look on Friday...

[2017-07-11 14:49] albertz commented on #11240
I tried and I don't get the error in that case. Is there any documentation about this? Also, even if this is a possible work-around, shouldn't it also work with the normal `tf.Variable`? Or why doesn't it work with `tf.Variable`?

[2017-07-11 14:51] suryaprakaz commented on #11414
If only she could magically solve my installation problems..

[2017-07-11 14:51] carlthome commented on #11275
I've been able to consistently reproduce the error `INVALID ARGUMENTS: Missing Exit successor to rnn/while/Switch` with master, thanks to @patrikohlsson's example. Perhaps @ebrevdo has some insight into what makes `tf.nn.dynamic_rnn` finicky with tfcompile?

[2017-07-11 15:21] michaelisard commented on #11252
@jhseu any ideas?

[2017-07-11 15:22] michaelisard commented on #11426
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-11 15:22] #11426 closed

[2017-07-11 15:23] michaelisard commented on #11428
Thanks! @dr4b could you take a look?

[2017-07-11 15:27] dreamsuifeng commented on #394
sudo is fine for me with the same issue.

[2017-07-11 15:30] michaelisard commented on #11434
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-11 15:30] #11434 closed

[2017-07-11 15:47] mrry commented on #11389
I haven't seen this error before... it doesn't seem to be Windows-specific, so someone with more CUDA expertise probably needs to take a look.

[2017-07-11 15:50] petewarden commented on #11339
We are planning on making them public soon, I have a pending change that I hope to get in over the next couple of weeks.

[2017-07-11 15:54] Jose30 commented on #11387
@erinjerri the `pip install --ignore-installed --upgrade <url>` didn't work for me either, so, what I end doing was installed locally downloading the wheel directly from the link provided in the Installation section:

*Windows GPU: Python 3.5 64-bit (build history) / **Python 3.6 64-bit (build history)**

Once I downloaded I used `pip install --ignore-installed --upgrade <PC url>` and the **not su

[2017-07-11 16:01] guschmue commented on #11389
yes, same here, don't think this is a windows specific thing. There are a bunch of references to the CUDNN_STATUS_MAPPING_ERROR mostly hinting at resource problems with large convolutions but without clear root cause. If your model is a large cnn you could try a smaller batch size and see if this makes a difference.
Is there a way that I can run this model myself?
For windows/1.2.1: just ran some

[2017-07-11 16:02] erinjerri commented on #11387
@gunan I have a 64 bit, my issues are like the same as @Jose30. I tried also installing Keras (same issue, only odd bc I thought they only supported up to Python 3.5, and of course need to install Tensorflow along with that0. I really don't want to have to downgrade to another version of Python or Anaconda if the support is there for Tensorflow and Keras and this is just some random Anaconda error

[2017-07-11 16:03] ahaider3 commented on #11411
Without fetching model parameters it only takes a few hundred microseconds. Yes, that's the problem I have. My compute time per iteration is low and so going to distributed requires double/triple the time per iteration due to the fixed overhead.

I didn't see much benefit when I was testing with grpc+verbs, but that was with larger tensors. Is there a difference between `grpc+mpi` or `grpc+verbs`

[2017-07-11 16:11] byronyi commented on #11411
If you are in doubt, you could try my own [GPU Direct patch](#11392) which is theoretically of lowest latency. It does neither memory copy nor serialization. Btw if your computation is not that complicated, you should avoid using GPU; copying data from/to GPU adds nontrivial overhead in your communication pipeline.

[2017-07-11 16:17] theflofly commented on #11414
Awful :D

[2017-07-11 16:23] girving commented on #10216
If they have the same bug, does that just mean the padding is with -inf?

[2017-07-11 16:28] andykernahan commented on #11339
Excellent, thanks.

In the mean while, I identified a small [issue](/andykernahan/tensorflow/commit/0c0152d31a5e02f0025b62d1c715dc3cecb7c876) with the `AudioSpectrogram` op shape function; should I submit a PR for this, or leave it?

[2017-07-11 16:45] aluo-x commented on #11096
The code was meant to be a functional test. Could you give the full configuration for your build? VS version, python version, commands used etc.

[2017-07-11 17:04] on-the-run commented on #11416
@junshi15, Thanks for the suggestion. For 1, I am pretty sure that the RDMA write from worker succeeded, or at least didn't return non-zero value. The evidence is that this [line](url) went through, and I did see the code in `ibv_post_send()` (defined in `infiniband/verbs.h`) was executed. I will try to look at 2 and 3.

[2017-07-11 17:13] alextp commented on #11240
resource variables and variables have different backend implementations,
and the default will be switched to resource variables soon. For now that's
the workaround.

On Tue, Jul 11, 2017 at 7:51 AM, Albert Zeyer <notifications@github.com>
wrote:

--
 - Alex

[2017-07-11 17:24] #11040 closed

[2017-07-11 17:26] pascalxia commented on #10766
I upgraded my Tensorflow to v1.2.1. But I am still facing the same error message when I am trying to train a model to learn an appropriate sigma value for the Gaussian filter. Am I doing something wrong? My system is Win10. I installed Tensorflow through Anaonda. Here is my code.
`import tensorflow as tf
import tensorflow.contrib.distributions as ds
import numpy as np
import scipy.ndimage.filters

[2017-07-11 17:49] GearFear commented on #11086
Hi!
Sorry - I forgot that I've pre-processed this dataset. I used all columns except first one for clustering.

With first column removed form this dataset, I recieve the error.

[2017-07-11 17:58] TheButlah commented on #4920
I think this should be reopened. Initializing variables from other variables that depend on placeholders is still really difficult. It would be ideal if it were achievable in a single run call, without depending on the graph editor method that @yaroslavvb provided. Although the behavior of initialized_value changed so that it uses tf.cond to decide whether or not to run the initializer, this is st

[2017-07-11 18:24] dr4b commented on #11428
This is a duplicate of #11123 and has been fixed in the master branch but won't show up as root until 1.3 is released.

[2017-07-11 18:24] #11428 closed

[2017-07-11 18:27] ekelsen commented on #11396
Should also be fixed internally.

[2017-07-11 18:32] fabienbaradel commented on #7521
@noahbishop  Have a look at that: https://stackoverflow.com/questions/38187808/how-can-i-run-tensorflow-on-one-single-core

[2017-07-11 18:33] jhseu commented on #10950
Someone also encountered this bug internally (b/62536806), and it was fixed by syncing. Pinged to see if they know what the original issue was.

Possibly fixed by a newer protobuf version?

[2017-07-11 19:00] #11391 closed

[2017-07-11 19:03] ktarplee commented on #10766
v1.2.1 does not have the fix.  The fix is on master.  You need to cherry-pick the commit I mentioned above (ea79ba41be89d76180305b14d26d5c2f256d4c08)  onto your v1.2.1 branch.

[2017-07-11 19:04] jhseu commented on #10950
This issue is fixed by https://github.com/tensorflow/tensorflow/pull/9994, which didn't make it into the TF 1.2 release.

[2017-07-11 19:04] #10950 closed

[2017-07-11 19:27] anne1994 commented on #7172
@civilman628
I have used the slim/inception_v3 model.
finetuned it and got the graph.pbtxt , .cpkt files.
I am trying to freeze the finetuned result( graph.pbtxt, .cpkt) but I am getting the same error. How did you get past the error to generate a frozen.pb ?

[2017-07-11 19:42] eamartin commented on #11411
I'm also interested in this issue, with the application of training small feedforward nets (say 200-100-50-4) as quickly as possible. Note this only has ~100KB of parameters. I'd like to run on an algorithmic minibatch size of 8K, split up among as many workers as possible (so 8 workers means each handles 1K examples per iteration). As I add more workers, the batch size per worker gets smaller, wh

[2017-07-11 19:42] anne1994 commented on #7172
my errors:
1)
Traceback (most recent call last):
  File "freeze_graph.py", line 255, in <module>
    app.run(main=main, argv=[sys.argv[0]] + unparsed)
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py", line 43, in run
    sys.exit(main(sys.argv[:1] + flags_passthrough))
  File "freeze_graph.py", line 187, in main
    FLAGS.variable_names_blacklist)
  File "freeze_gr

[2017-07-11 20:20] Androbin commented on #11182
Rebuilt everything from latest master, last error section changed slightly:
I found `zero_copy_stream` to be replaced by `coded_stream` but nothing else changed.

[2017-07-11 20:23] byronyi commented on #11411
@eamartin In my patch, tensors are transferred in terms of direct memory access (DMA) of the underlying tensor buffer, so there is no serialization nor memory copy. It is titled "GPU Direct RDMA", but certainly works for CPU as well.

[2017-07-11 20:35] cancan101 commented on #7108
We are also seeing this issue on iOS. We believe the issue is caused by a `where` op which does in fact seem to have a [fair bit of threading related code](https://github.com/tensorflow/tensorflow/blob/2cfbd3347b943a389bb688125c2a90095b7735b5/tensorflow/core/kernels/where_op.cc).

[2017-07-11 20:37] mrry commented on #11431
Switching to `array_ops.rank(a)` presumably fixes the problem because it's using the statically inferred rank from Python. I expect this would fail if, for some reason, `a` had a statically unknown rank (e.g. `a = tf.placeholder(tf.float32, shape=None)`).

Given the type punning involved in the [implementation of `TensorShape::dims()`](https://github.com/tensorflow/tensorflow/blob/99a38ffd9d77c55c

[2017-07-11 20:37] byronyi commented on #7521
Or use nvidia-docker to run TF and pass the ``--cpus`` option when launching your containers.

[2017-07-11 20:49] bkrosenz commented on #11398
I have the same problem, even after setting the DEFINE_integer flag manually.

[2017-07-11 21:07] RylanSchaeffer opened #11438 "Switching Session to MonitoredTrainingSession Produces Negative Dimension Tensors from Queues"
I already [posted](https://stackoverflow.com/questions/44831580/receiving-negative-input-dimensions-with-tensorflow-monitoredtrainingsession) on StackOverflow, but received no response.

I've made some changes to my code since posting on StackOverflow, but the problem is still the same: the readers and queues I use without a problem with a vanilla `tf.Session()` work fine, but if I try to switch t

[2017-07-11 21:48] mddrill commented on #4434
@clumsydzd no I was never able to figure it out.

[2017-07-11 22:02] pascalxia commented on #10766
Oh now I see! Thank you so much @ktarplee !

[2017-07-11 22:11] faifai21 commented on #11334
@asimshankar I pulled in the latest master and built against commit
https://github.com/tensorflow/tensorflow/commit/99a38ffd9d77c55ca6d0c373c6d4b72686284ac5. The memory leak is still occurring though.

@andrewharp It seems like memory is increasing by ~0.1 MB per inference pass, which makes sense as each input array is around 110kb. As well, increasing the size of the input array does cause the me

[2017-07-11 22:21] faifai21 commented on #11334
I also tried decreasing the size of the input array to 30\*30\*3, which resulted in each input having a size of 10kb. The memory leak was still present, but it was much less apparent. As expected though, memory usage increased by ~0.01 mb per run.

[2017-07-11 23:08] printdhruv commented on #11398
Did You tried various options to set GPU manually listed here ?[https://www.tensorflow.org/tutorials/using_gpu](https://www.tensorflow.org/tutorials/using_gpu)

You may try  in various setting of `Python 3.6, cuDNN, native installation for GPU` and see what errors you are getting?

For reference pasting an actual code involved behind your errors:

` A non-primary context 0x48f93a0 exists before in

[2017-07-12 00:59] erinjerri commented on #11414
The T logo reminds me of the tech museum logo.

[2017-07-12 01:03] #11372 closed

[2017-07-12 01:03] #11422 closed

[2017-07-12 01:17] erinjerri commented on #11387
@gunan:

So I got it working half way until I hit this error upon the command `import tensorflow as tf`

`  import numpy as np
  File "C:\Program Files\Anaconda3\lib\site-packages\numpy\__init__.py", line 142, in <module>
    from . import add_newdocs
  File "C:\Program Files\Anaconda3\lib\site-packages\numpy\add_newdocs.py", line 13, in <module>
    from numpy.lib import add_newdoc
  File "C:\Pro

[2017-07-12 01:22] strman opened #11440 "Linear Model Tutorial: How to extract prediction?"
Similar to this issue: https://github.com/tensorflow/tensorflow/issues/97

For the "[TensorFlow Linear Model Tutorial](https://www.tensorflow.org/tutorials/wide)", the project implies that it will end with a program that, based on input data, outputs a 0 or 1:

However, it seems that the tutorial is incomplete. The last steps have you calculate the accuracy of the trained model:

And then point yo

[2017-07-12 01:41] erinjerri commented on #11387
@gunan

Okay so I reinstalled Numpy successfully then got this error which told me to put in the entire trace after I ran the same `import tensorflow as tf` command:

`C:\Users\erinj>python
Python 3.6.0 |Anaconda 4.3.0 (64-bit)| (default, Dec 23 2016, 11:57:41) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call l

[2017-07-12 03:16] sddi opened #11441 "wide_n_deep Tutorial processing large data"
I am a freshman of tensorflow, and want to use the wide & deep network.
## I see the code of wide_n_deep tutorial, find that in "def train_and_eval()" function reading the total data using pandas at once.
## I confuse if the data is large maybe 5 GB or more, and I cannot read all the data in memory, and how can I processing it?

Thank you~~~

[2017-07-12 03:23] davidshen84 commented on #11096
# VS version

    C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC>msbuild /version
    Microsoft (R) Build Engine version 14.0.25420.1
    Copyright (C) Microsoft Corporation. All rights reserved.

    14.0.25420.1

    C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC>cl
    Microsoft (R) C/C++ Optimizing Compiler Version 19.00.24215.1 for x64
    Copyright (C) Microsoft Corporation.

[2017-07-12 03:30] michaelisard commented on #11438
Is it possible for you to try the code at head? I think this may be fixed (at least that error is no longer generated by the shape code).

[2017-07-12 03:38] michaelisard commented on #11440
@jhseu I don't know who owns this tutorial, but it does seem as if it would be nice to add instructions on outputting the predictions.

[2017-07-12 04:33] lakshayg commented on #11435
Related: https://github.com/tensorflow/tensorflow/issues/6143

[2017-07-12 04:40] DaveYin commented on #4427
It is very strange to have a fixed-sized window in the implementation of AttentionCellWrapper, because there is no description about it in the Bahdanau paper. Of course, the behave of the window is not clear, which makes me confused. Can anyone explain it?

[2017-07-12 04:46] asimshankar commented on #10829
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-07-12 04:46] #10829 closed

[2017-07-12 04:48] DaveYin opened #11442 "The window in tf.contrib.rnn.AttentionCellWrapper()"
It is very strange to have a fixed-sized window in the implementation of AttentionCellWrapper, because there is no description about it in the Bahdanau paper. Of course, the behave of the window is not clear, which makes me confused. Can anyone explain it?

[2017-07-12 05:02] erinjerri commented on #11387
@Jose30 @gunan thanks for your help, it turns out that a lot of this stemmed from two issues:

1) Had to delete extra dll files that were a part of 1-3 different Anaconda + Miniconda installs
2) Reinstalling Numpy a few times.
3) Adding CUDNN and Anaconda into my environment variables path.
4) Having the wrong version of CUDNN installed (was on 6.0 instead of 5.1) which threw everything off.

Some

[2017-07-12 05:02] #11387 closed

[2017-07-12 05:05] lakshayg commented on #11427
I was unable to reproduce the problem with v1.2.1. Could you please post a code snippet to reproduce the problem. BTW I would suggest that you use `tf.reduce_sum(...)` over `tf.square(...)` as it will likely be more efficient to compute.

[2017-07-12 05:15] zklgame commented on #11427
my related code snipper is:
[code]

and what's the implement of your suggestion about use tf.reduce_sum(...) over tf.square(...)? Thx.

[2017-07-12 05:47] lakshayg commented on #11427
I tried this code snippet and it works perfectly fine on my machine with tf v1.2.1. Let me know if I'm missing something.

[code]

When I said that you should prefer tf.reduce_sum(...) over tf.square(...), I meant that you should prefer `result = tf.reduce_sum(tf.square(penalize))` over `result = tf.square(tf.norm(penalize))`

[2017-07-12 05:51] suiyuan2009 commented on #11416
I meet stuck problem twice today when using `grpc` not `grpc+verbs`.

[2017-07-12 05:58] zklgame commented on #11427
this simple program works fine in my server, too. but my original program is quite big and it takes time to run and print related logs. So I hope I can find what exactly happens with the numbers some day ...

[2017-07-12 06:03] kayzhu commented on #11122
Have a fix: the priority of XLA_EXEC is set too high in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/plugin/executor/device.cc#L50 changing it to lower (40 for eg.) fixes the problem.

A fix should be merged upstream soon.

[2017-07-12 06:05] asross commented on #11435
Agh, I hadn't tested with a new enough version. Thanks 😅

[2017-07-12 06:05] #11435 closed

[2017-07-12 06:11] asimshankar commented on #9171
I think adding a `reset_op_seed` parameter to `tf.set_random_seed` could be acceptable. Something like: `tf.set_random_seed(seed, reset_op_seed=False)` (I'll ask around if anyone has objections for it defaulting to `True`).

@ekelsen has been looking at determinism in general and might have other ideas.

@girving : RE [your comment](https://github.com/tensorflow/tensorflow/issues/9171#issuecomment

[2017-07-12 06:36] dgovil commented on #11045
@meteorcloudy I have cudnn-8.0-windows10-x64-v6.0

[2017-07-12 06:58] Maaater commented on #9976
I have the same problem when i use
c:> tensorboard --logdir='DIR'
but when i use
c:> tensorboard --logdir= "DIR"
its ok
win10

[2017-07-12 07:52] albertz commented on #10527
Maybe to add some context: I wanted that `tf.TensorArray` uses a global resource manager and not the per-run/per-step resource manager (described [here](https://stackoverflow.com/questions/44418036/tf-tensorarray-across-multiple-computation-steps-supposed-to-remember)). To accomplish this, I derived my own `GlobalTensorArrayCreationOp` which basically does the same as `TensorArrayCreationOp` excep

[2017-07-12 08:08] zhouyang209117 commented on #6220
Find below a minimal version that causes the error:
[code]
The error looks like this:
[code]

[2017-07-12 08:22] oborchers commented on #11371
I am able to replicate the error of the first post.
    self.x_input = tf.placeholder(tf.float64, [None, self.n_input])
    self.x = utils.binary_noise(self.x_input, self.is_training)

As I change "None" for 100 everything works fine.

InvalidArgumentError (see above for traceback): Shape [-1,2000] has negative dimensions
	 [[Node: AEC/Placeholder_1 = Placeholder[dtype=DT_DOUBLE, shape=[?,2000], _

[2017-07-12 08:44] CR-Gjx opened #11446 "Is tf.split() not create a new object? Using tf.split() and tf.concat() will has some bugs......"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-07-12 09:08] patrickltobing opened #11447 "Feature Request: sparse matrix triangular solver"
I have just written about this in stack overflow,
but I just realized it would be more relevant if be put here.

I think it would be very helpful if we could do solve linear equation Ax = b,
where A has a sparse matrix representation, for example,
containing lower triangular entries for a banded symmetric-matrix.

Because, AFAIK, in this case, we need to convert the sparse matrix A
with the `tf.sp

[2017-07-12 09:16] xiangqian0011 commented on #6048
meeting same quetion:CUDA_ERROR_OUT_OF_MEMORY
2017-07-12 16:37:11.170870: I tensorflow/core/common_runtime/gpu/gpu_device.cc:996] Creating TensorFlow device (/gpu:2) -> (device: 2, name: GeForce GTX 1080, pci bus id: 0000:05:00.0)
2017-07-12 16:37:11.207585: E tensorflow/stream_executor/cuda/cuda_driver.cc:924] failed to allocate 198.29M (207925248 bytes) from device: CUDA_ERROR_OUT_OF_MEMORY
2017

[2017-07-12 10:09] jubjamie commented on #11405
_Warning: As this doesn't appear to be a bug with Tensorflow, the devs may ask for this to be moved to Stack Overflow._

Hi @ManojPabani I am back from my break and have replied to you on the thread. As this isn't a bug with Tensorflow I suggest we continue the conversation on the existing thread!

Thanks

[2017-07-12 10:16] deepali-c opened #11450 "Link to Benchmarks not working"
The link to [Benchmarks ](https://www.tensorflow.org/community/benchmarks)on the page [https://www.tensorflow.org/community/](https://www.tensorflow.org/community/) is not working.

[2017-07-12 11:18] snnn opened #11452 "20 minutes for compiling a single file(conv_grad_ops_3d.cc)?"
-----------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **TensorFlow installed from (source or binary)**:
- **TensorFlow version (use command below)**:
2533ada7dd45b84d60677b8735e013d21044651a

- **Python version**:
- **Bazel version (if com

[2017-07-12 11:22] neelkadia commented on #37
**+1**

[2017-07-12 12:06] rhythm9229 commented on #11334
@andrewharp We are also experiencing the same issue with tensorflow library on android. The memory keeps on increasing as the number of inference runs keep on increasing. This is leading to lot of out of memory errors in our application.
We tried creating a new TensorFlowInferenceInterface after every inference but even that did not solve the problem. It looks like a memory leak in tensorflow c++

[2017-07-12 12:21] yjl9122 opened #11453 "python create model and c++ uses model without bazel"
I just have used python to create ckpt model. But i have to use c++ to test my picture without bazel. Some one can help me? I am so eager to solve this problem! Thanks!!

[2017-07-12 12:22] namrata-ibm commented on #11431
Thanks @mrry for your comments.

So switching to `array_ops.rank(a)` would not be the right thing to do even though majority of the tests are passing with this!
I am going through `tensor_shape.h` and trying to figure out where exactly things are going wrong on big endian.
Another point to note is that `gen_array_ops.rank(a)` was working fine in TensorFlow version 0.10.0 and transpose tests were p

[2017-07-12 12:28] AEGQ commented on #9926
@shamoya

Thanks and glad to hear that , it will be great to have fix and optimization from Mellanox , I will waiting for that .

ps:
In my use case, it is easy to add env variables  to the docker container other than mount the configure file :)

[2017-07-12 12:54] cooijmanstim commented on #10476
@james-ough The error has to do with differentiation inside dynamic loops; it doesn't seem to work if the differentiation crosses loop iteration boundaries. Consider that `x` in your lambda function is a tensor that, as far as Tensorflow can tell, is not connected to `a` in any way.

What you can do instead to make this work is call `tf.map_fn` on a sequence of indices, i.e. `tf.range(tf.shape(a)[

[2017-07-12 13:07] MtDersvan opened #11456 "GPU-Isolated docker containers fail in a distributed training with more than one worker."
### System information
- **Have I written custom code**: Yes
- **OS Platform and Distribution**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: No
- **TensorFlow version**: v1.2.0-rc2-21-g12f033d 1.2.0
- **Python version**: Python 3.5.2
- **Bazel version**: -
- **CUDA/cuDNN version**: 'CUDA_VERSION': '8.0.61' / 'CUDNN_VERSION': '5.1.10'
- **GPU model and memory**: 8x GCE K8

[2017-07-12 13:22] MtDersvan commented on #11456
Also, I posted an SO question under `tensorflow` tag and it was not answered by a tensorflow team just yet:
https://stackoverflow.com/questions/44804982/google-compute-engine-tesla-k80-has-additional-htod-an-dtoh-ops-and-a-way-lower
It would be really nice to get an answer to it.

[2017-07-12 14:32] lhlmgr commented on #10972
I had a similar problem. As a workaround: I created the `plugins/tensorboard_text` directory with the `tensors.json` file (containing the name of the tensor) and then it worked for me. So my educated guess is, that the `FileWriter` needs the information that summary contains a `tf.text.summary` to create the named file/directory.

[2017-07-12 14:39] indra215 opened #11457 "How to use pre-trained models for fine tuning on different dataset ?"
Hi,

I have downloaded a pre-trained model for inception v3 (inception_v3_2016_08_28.tar.gz file)from [https://github.com/tensorflow/models/tree/master/slim#Pretrained](url) which contains the file inception_v3.ckpt. Could anyone please help me how to use this file to fine-tune on a different dataset ?

Thanks in advance.

[2017-07-12 14:41] martinwicke commented on #11182
Pete, who is best to look at graph_transform issues, other than you?

[2017-07-12 14:56] yangjunpro commented on #11163
@benoitsteiner can you please take a look at this fix? We have made this fix and waited for code review for about one week.

Thanks.

[2017-07-12 14:57] Google1234 commented on #6011
why SPP net cannot update  parameters below SPP  layer during training？

[2017-07-12 15:15] shoeffner commented on #4814
Concluding the suggestions by @AshishBora (https://github.com/tensorflow/tensorflow/issues/4814#issuecomment-254197646) and @nathansilberman (https://github.com/tensorflow/tensorflow/issues/4814#issuecomment-305688961) I came up with this function to create all three ops with one call, while keeping the variables encapsulated:

[code]

An example to create the operations inside the graph is then l

[2017-07-12 15:27] Androbin commented on #10456
@yifeif This doesn't seem resolved yet?

We probably should set defaults
[code]

right after assigning them explicitly

[code]

The same applies to other variables as well.

[2017-07-12 15:29] Androbin commented on #10398
Seems to be resolved now, closing.

[2017-07-12 15:29] #10398 closed

[2017-07-12 15:29] skye commented on #10527
Hmm according to our docs at https://www.tensorflow.org/extend/adding_an_op, installing from pip should be OK: (under "Prerequisites") "Must have installed the TensorFlow binary, or must have downloaded TensorFlow source, and be able to build it."

@albertz if you're still working on this, it looks like you'll need to build from source for now, but we should either make the pip package include hea

[2017-07-12 15:30] Androbin commented on #10640
@magixsno Any updates on this?

[2017-07-12 16:01] carlthome commented on #11453
Here's [a tutorial](https://www.tensorflow.org/performance/xla/tfcompile) for compiling standalone programs from a TensorFlow graph.

PS: Your question is more suited for [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow) with the tag tensorflow because it's not a bug report.

[2017-07-12 16:01] albertz commented on #10527
@skye Many header files already are, and you can do custom op development, so the documentation is not wrong. This is a special case here because I want to derive from the existing `TensorArrayCreationOp`.

[2017-07-12 16:06] carlthome commented on #11446
This is not a bug. You've made a mistake. In fact, your example will produce an exception:

[code]