[2019-01-08 17:04] shoyer commented on #8369
Okay, I forgot stack needs a sequence, not a Tensor. So nevermind, transpose is your best bet.

[2019-01-08 17:13] minhhg opened #24774 "why is tensorflow.map_fn slow, what is wrong with following code?"
I am trying to use tensorflow map_fn to do parallel computation. However it seems to me that the performance gain is not significant.

Here are example code running Python 3.6.5, Tensorflow version 1.12.0 on Ubuntu 14.04 LTS, 28 duo cores (Intel(R) Xeon(R) CPU E5-2697 v3 @ 2.60GHz) = 56 processors

These same codes running on Amazon AWS SagerMaker ml-p3-xlarge even took longer time, 227 seconds.

[2019-01-08 17:53] auvilink opened #24775 "How to freeze low_latency_svdf model?"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-01-08 18:02] #23458 closed

[2019-01-08 18:43] farimani commented on #24218
Vistual Studio does not pack adjacent bitfields if they are of different type. In this case, "kind" is of an enum type, treated as an unsigned int (32 bits), and "size" is uint64. The resulting class is 8+16 bytes in size. The fix is to declare "kind" also as uint64 and typecast the assignments. But even when you fix that you will run into other issues with files generated by the protocol buffer c

[2019-01-08 18:55] jsimsa commented on #23903
@koenhelwegen

Based on the information available on [AWS website](https://aws.amazon.com/ec2/instance-types/p3/), the machines use Intel Skylake architecture which generally has [multiple sockets](https://software.intel.com/en-us/articles/intel-xeon-processor-scalable-family-technical-overview). What likely happens when you go from 32vCPUs to 64vCPUs you end up running more sockets, copying large

[2019-01-08 18:57] tensorflowbutler commented on #19691
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-08 18:57] tensorflowbutler commented on #23668
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-08 19:15] vinitmuchhala commented on #12388
@mmawada Try this link, it worked for me - TF==1.8, Cuda 9.2
https://www.pytorials.com/how-to-install-tensorflow-gpu-with-cuda-9-2-for-python-on-ubuntu/

[2019-01-08 19:44] av8ramit commented on #21524
@PlatinumLyfe unfortunately we are having some issues on our infrastructure side so we haven't been able to update the tf-nightly-gpu binaries since [12/26](https://pypi.org/manage/project/tf-nightly-gpu/release/1.13.0.dev20181226). Sorry for the inconvenience. We also have plans in the future to support Python3.7 for windows.

@eaplatanios we don't have any plans for that at the moment unfortunat

[2019-01-08 19:45] MartinThoma commented on #22479
@ironmanciti  @AthanasiosTsiaras  This solution gives me

[code]

[2019-01-08 20:13] GothamCityPro opened #24778 "SetDefaultDevice doesn't seem to work; Multiple Tensorflow Session on Separate GPU's Cannot Seem to Speed up Inference"
I am trying to speed up Tensorflow inference by creating multiple Sessions, with each Session loading its own graph on its own GPU. When I ran this same model for a batch of 10 images on a single GPU, it took about 2700 ms. I was hoping I can run 2 batches, one per GPU and process 20 images in the same time frame. Instead, the run time actually took about 5300 ms. So it seems like I was not able t

[2019-01-08 20:17] powderluv commented on #24385
Please dont release a version of Bazel if it breaks tensorflow.

Tensorflow is the reason a lot of us are using bazel and there is always an incompatibility with the latest bazel that requires users to fish around and find the last stable version of Bazel.

[2019-01-08 20:25] bodin-e opened #24779 "assert_shapes for validating tensor shapes and their relationships to other tensors"
**System information**
- TensorFlow version (you are using): 1.12
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
I am under the impression that many errors users of TensorFlow (and users of libraries making use of TensorFlow) run into has their source in mistakes in passing it tensors with the correct/expected dimension order (and number

[2019-01-08 20:37] msymp commented on #24660
Hello @azaks2  & @asimshankar , this user has written a custom regularizer (spectral normalization) that is passed to the tf.layers module, and the behavior is as follows: there is a significant slowdown in the first epoch, and further slowdown in successive epochs, and finally aborts with an error after several epochs. Can you please advise. Thanks.

[2019-01-08 21:18] karmel commented on #23918
Reassigning to @caisq for dynamic_partition on GPUs.

[2019-01-08 21:56] jvishnuvardhan commented on #24739
@zyq11223, as it is not clear to find the root-cause of the issue, could you fill the following build/installation [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md).  Please report the installation process followed and commands used.

[2019-01-08 22:09] msymp commented on #24676
Hello @aselle , since NNAPI is only available on devices with Android 8.1 or later (by setUseNNAPI), and the fallback is on CPU implementation on older devices, for this user the TFLite throws an error on tensors with rank 0. Can you please advise. Thanks.

[2019-01-08 22:12] jvishnuvardhan commented on #24761
@majiali1995, as it is not clear to find the root-cause of the issue, could you fill the following build/installation [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md).  Please report the installation process followed and commands used.

[2019-01-08 22:18] jvishnuvardhan commented on #24763
@zh794390558, Could you provide more details on the issue? As it is not clear to find the root-cause of the issue with the limited details provided, could you fill the following build/installation [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md).  Please provide any code to reproduce the issue.

[2019-01-08 22:20] msymp commented on #24684
Thanks @iganichev . As the work on the Eager mode for XLA / Defun proceeds to completion in a couple of weeks, @twiecki shall resubmit this issue. Closing for now. Thanks.

[2019-01-08 22:23] yongtang commented on #24771
@philnguyenresson I am not able to reproduce with tf-nightly. Can you give tf-nightly a try and see if the issue has been solved or not?

[2019-01-08 22:25] msymp commented on #24685
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-01-08 22:31] msymp commented on #24690
The PR #24693 for the fix was closed. Hence we close this issue. Thanks.

[2019-01-08 22:31] #24690 closed

[2019-01-08 22:44] msymp commented on #24694
Hello @MariAmon , can you please provide us the TensorFlow Windows 10 binary version you are installing.
[New Issue Template](https://github.com/tensorflow/tensorflow/issues/new)
Thanks.

[2019-01-08 22:44] allenlavoie commented on #24756
ValueError is a bit more standard/specific than OpError. Does seem like the docstring should be updated. Can you send a PR?

[2019-01-08 22:50] geyungjen opened #24781 "Failed to build, multiple definition of mkl_dnn"
Failed to build, multiple definition of mkl_dnn, what could be the work around? Thanks

Following is the information that might be helpful

Bazel version

-bash-4.2$ bazel --help
INFO: Invocation ID: 46e9d78c-edd1-4c29-ae93-1d51511023b9
                                              [bazel release 0.21.0- (@non-git)]

Following is  .tf_configure.bazelrc
build --action_env PYTHON_BIN_PATH="/opt/hado

[2019-01-08 22:53] philnguyenresson commented on #24771
I haven't been able to try tf-nightly, but it does work fine on a more up to date version of tensorflow

[2019-01-08 22:53] #24771 closed

[2019-01-08 22:53] msymp commented on #24698
Hello @samhodge , Your query is very systems related.

This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

Thanks!

[2019-01-08 22:53] #24698 closed

[2019-01-08 22:59] sharvil commented on #24756
Are there any other code paths in `tf.train.init_from_checkpoint` that could raise `tf.errors.OpError`? If so, simply updating the docstring doesn't seem like the right answer here. I'll also point out that making the doc change would make it harder to distinguish between two pretty distinct error modes: missing variables in graph vs. missing tensors in checkpoints.

[2019-01-08 23:00] claynerobison commented on #24781
Hm. Living on the edge with bazel 0.21 and python 3.7. Are you building master branch or a specific tag?

[2019-01-08 23:01] msymp commented on #24702
Hello @ufukcbicici , Please step back to bazel 0.15.0 for the source version tensorflow_gpu-1.12.0 and build again, and let us know. Thanks.

[2019-01-08 23:03] preethivenkatesh commented on #24781
This error appears when building using master branch. As a workaround you can try to checkout the 1.12 branch and build.

[2019-01-08 23:10] jdduke commented on #24521
@karimnosseir will be helping with this issue, thanks for the report and apologies for the trouble! I suspect the fix is pretty trivial.

[2019-01-08 23:13] allenlavoie commented on #24756
AFAICT the docstring was never correct. So unless there's a strong use-case for a different exception type I'd say it just needs a docstring update.

[2019-01-08 23:13] msymp commented on #24703
Hello @amitisgr8 , Please mention the correct TensorFlow version you are building from.
[New Issue Template](https://github.com/tensorflow/tensorflow/issues/new)
Also if you are using the current version 1.12.0, please step back to bazel 0.15.0, and build again.

[2019-01-08 23:36] msymp commented on #24717
Hello @ebrevdo , This user has queue APIs that seem to have their threads deadlock on a file read. Can you confirm that the user is correct in the statement: "Maybe the document should warn people not to share any file among queues." Thanks.

[2019-01-08 23:47] ebrevdo commented on #24717
the queues should not deadlock when reading from the same file.  what filesystem are you reading from?

[2019-01-08 23:54] #23133 closed

[2019-01-08 23:57] ymodak commented on #22946
Closing this issue since it no longer persists with the latest TF build. Thanks!

[2019-01-08 23:57] #22946 closed

[2019-01-08 23:59] ymodak commented on #22306
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-08 23:59] #22306 closed

[2019-01-09 00:01] ymodak commented on #22245
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-01-09 00:01] #22245 closed

[2019-01-09 00:03] ymodak commented on #22079
Apologies for the delay in response. @MartinWong-H Is this still an issue?

[2019-01-09 00:04] msymp commented on #24717
@hanayashiki , can you provide the filesystem details on your Ubuntu 16.04.5 LTS. Thanks.

[2019-01-09 00:36] nikhil-dev commented on #24571
@asimshankar Checking to see if you have any inputs/updates regarding the above?

[2019-01-09 00:41] msymp commented on #24726
Hello @martinwicke , @ageron has elucidated the polymorphic property of tf.function usage, and pointing to scalar and array arguments throwing warnings. If this intended, can this be noted? Thanks.

[2019-01-09 00:45] geyungjen commented on #24781
Thanks for the comments,  I will checkout the 1.12 branch and rerun

[2019-01-09 00:45] bstemper opened #24784 "./tensorflow/core/util/cuda_launch_config.h:127] Check failed: work_element_count > 0 (-608567296 vs. 0) Aborted (core dumped)"
Hey @ all,

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): openSUSE Leap 42.3
- TensorFlow version (use command below): tensorflow 1.12.0 | tensorflow-base 1.12.0 | tensorflow-gpu 1.12.0
- Python version: 3.6.6
- cuDNN version: 7.1.2
- CUDA version: 10.0.130
- GP

[2019-01-09 00:48] msymp commented on #24728
Hello @abhiramsingh0 , @vidursatija has addressed the original query for this issue. This issue shall be closed. But feel free to raise a PR for gradient implementation for ctc_loss, if necessary. Thanks.

[2019-01-09 00:48] #24728 closed

[2019-01-09 00:49] amirmazaheri1990 opened #24785 "Autonomous name change in tf.layers"
Hi,

I am confused about the reuse and naming of the variables in Tensorflow. It seems that it autonomously adds an "_n" to some variable names which destroy the whole weight sharing process in many networks. I have a sample piece of code here to explain what I mean:
[code]
In fact, I need to define 2 dense layers in the inner loop (the '+str(i)' in the variable_scope name supports taht) and these

[2019-01-09 00:53] jingxu10 commented on #24650
Hi,
I tried your code on TensorFlow installed from https://storage.googleapis.com/intel-optimized-tensorflow/tensorflow-1.12.0-cp36-cp36m-linux_x86_64.whl. There was no error thrown out.
Could you try this version, please?

[2019-01-09 01:09] msymp commented on #24744
Hello @grobman , we would like to thank @freedomtan for addressing your post-training quantization vs. quantization-aware training query in TFLite.
Please kindly submit a follow up issue for your query:
A slightly unrelated issue that I cannot find any documentation on - does the TFlite quantization use channel-wise quantization as explained in [1] or layer-wise quantization? https://arxiv.org/abs

[2019-01-09 01:09] #24744 closed

[2019-01-09 01:15] ppwwyyxx commented on #24650
The version your provided does not throw an error. However I was testing with a later version which means the bug may be introduced after 1.12.

From the behavior it seems very likely that the bug comes from the recent graph transformation optimization added in `mkl_layout_pass` which merges padding and convolution to a single op.
@nhasabni who seems to be the author of this feature.

[2019-01-09 01:22] ageron commented on #24726
Thanks @msymp. My code produces the warnings to show when the function is being traced. My point is that `square(1)`, `square(2)` and `square(3)` produce and cache three different concrete functions. This seems wasteful and counterintuitive. If I wrap the integers in `tf.constant()`, it has the expected behavior (just one concrete function is generated).

[2019-01-09 01:43] jingxu10 commented on #24650
May I know the commit id of "b'v1.12.0-5324-g3ae375aa92' 1.12.0", please?

[2019-01-09 01:45] sharvil commented on #24756
Good to know. I won't be able to make the docstring change but hopefully someone can take this on.

[2019-01-09 01:48] ppwwyyxx commented on #24650
3ae375aa92, as part of the version string.

[2019-01-09 01:49] jingxu10 commented on #24650
Noted.

[2019-01-09 01:51] msymp commented on #24618
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-09 01:51] #24618 closed

[2019-01-09 02:08] msymp commented on #23931
Hello @sdeoras , this Stack Overflow post addresses your query:
https://stackoverflow.com/questions/46366954/saving-tf-model-trained-with-keras-and-then-evaluated-in-go
Please see answer by _nessuno_ ; please let us know. Thanks.

[2019-01-09 02:09] yongtang commented on #24756
@sharvil Created a PR for that.

[2019-01-09 02:14] msymp commented on #23943
Hello @pauldelmusica , please try building with bazel 0.15.0 and gcc 4.8 , and let us know. Thanks.

[2019-01-09 02:17] lorenzoriano commented on #9260
I actually tried the code with a small array, and the results are biased:
[code]

The output is:

Anything that I'm doing wrong?

[2019-01-09 02:32] msymp commented on #23946
Hello @josh11b , user points out that _accumulate_n_ op does not work in interactive session mode, but _add_n_ op works. Can you please advise. Thanks.

[2019-01-09 02:36] freedomtan commented on #24715
Kinda overfitting probably. Mobilenet V2 has much fewer parameters than the other two, so this looks reasonable to me.

[2019-01-09 02:45] freedomtan commented on #24668
@jennings1716, 113 + 21 = 134 ~= 135. Mostly you didn't remove old model.

[2019-01-09 02:46] ymodak commented on #24602
Is this still an issue? Can you check with the latest version of TensorFlow and try again?

[2019-01-09 02:47] #21842 closed

[2019-01-09 02:47] chaoyueziji commented on #23472
I also face the same issue

[2019-01-09 02:48] freedomtan commented on #24663
@sachin-ranka you are not supposed to run object detection models with image classifier code!

[2019-01-09 02:49] shawn-tian commented on #24311
@jdduke could you help to look at my issue here #23399? I convert the model with none square input shapes, but it still not allow resizing at runtime. Thank you.

[2019-01-09 02:49] msymp commented on #23965
Hello @MHDBST , this Stack Overflow post answers your query about metrics with custom estimators:
https://stackoverflow.com/questions/50120073/tensorflow-metrics-with-custom-estimator
Please let us know. Thanks.

[2019-01-09 02:50] mpjlu commented on #23668
Hi all, the PR is submitted. https://github.com/tensorflow/tensorflow/pull/24788/
Thanks.

[2019-01-09 02:59] brianwa84 commented on #9260
Your logits are 0,1,2,3,4,...
Which says the most likely are those with the highest indices, which is
consistent with the samples. Try logits=tf.zeros([10]) for uniform, or
[0]*5+[1]*5 for something interesting.

On Tue, Jan 8, 2019, 9:21 PM Lorenzo Riano <notifications@github.com wrote:

[2019-01-09 03:06] sharvil commented on #24756
Nice, thanks for the fix @yongtang!

[2019-01-09 03:07] freedomtan commented on #24323
@akotlarsky probably the same problem as #21574. That is, NEON stuff was not linked in.

[2019-01-09 03:45] azraelkuan commented on #24753
@azraelkuan I think variable_scope can do this, but not name_scope,

[2019-01-09 03:47] vidursatija commented on #24785
Hi,
```tf.layers.dense``` has a reuse parameter which will solve your issue. Set reuse=True when you call the function more than once.
For the first time reuse=False(default), after that reuse=True for all calls if you want weight sharing.

[2019-01-09 03:49] azraelkuan commented on #24753
Also, I have test the api of `tf.layers.xx`, in the `tf.layers.xx`'s function `add_weight`,
https://github.com/tensorflow/tensorflow/blob/9ef579d1ee7a5b8a420c061102f4e745c73976d6/tensorflow/python/layers/base.py#L413
but at the `tf.keras.layers.xxx`'s function `add-weight`, there is not such **set scope**

[2019-01-09 03:50] vidursatija commented on #24774
Hi,
I think you encounter this problem because it takes time for tensorflow to create the graph and create the session. A more accurate value for elapsed time will be as follows:
[code]

[2019-01-09 03:55] azraelkuan commented on #24785
@vidursatija he has done the weight sharing.
@amirmazaheri1990 indeed, you print the operation name but not the variable name
![image](https://user-images.githubusercontent.com/23380152/50875903-609ffb00-1405-11e9-84b4-36f386773d07.png)

[2019-01-09 04:12] josh11b commented on #23946
I'm not familiar with the specifics of that code. Interactive session should not be significantly different from regular session. @alextp likely knows more.

[2019-01-09 04:29] sonnguyen64 opened #24789 "TensorRT's create_inference_graph() produced output with too big size"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow version (use command below): 1.12.0
- Python version: 3.6.7
- CUDA/cuDNN version: 9.0
- GPU model and memory: Titan V

**Describe the current behavior**

I have tried to optimize my cu

[2019-01-09 05:03] amitsrivastava78 commented on #24703
Thanks for the reply @msymp , yes you are right my tensorflow version is 1.12.0 , but tensorflow does not allow to downgrade the bazel version below 0.19, I tried to by pass some checks to make it compile but in the end they are too many checks and i am not sure if this is the cause of the problem, i tried the same configuration on my server with 12GB GPU RAM instead of 6GB in my machine and to my

[2019-01-09 05:07] Shailendra2803 commented on #24685
Hi ,
 System information
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- OS Platform and Distribution : Ubuntu 16.04
- TensorFlow installed from (source or binary):Binary
- TensorFlow version (use command below):tf1.10
- Python version:Python 2.7.14  and Python 3.6.3.

**Details :**
I am trying to quantize the following model
https://github.

[2019-01-09 05:17] facaiy commented on #24067
Should we close PR #23993, which breaks the GPU version?

[2019-01-09 05:20] facaiy commented on #24753
variable_scope is going to be removed in tf 2.0, while name_scope is preserved.

[2019-01-09 05:36] azraelkuan commented on #24753
@facaiy how can i set prefix to variable name using tf.nn.xx but not tf.keras.layers?

[2019-01-09 06:03] mhtvsSFrpHdE opened #24792 "Import failed while under Windows remote desktop environment"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 x64 Pro 1803 17134.

[2019-01-09 06:09] sachin-ranka commented on #24663
@freedomtan The sample app code link: [https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/examples/android/BUILD](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/examples/android/BUILD) file doesn't exists, only python code exists in that folder. ( as per the article provided) I've generated TFLite files using the same steps. Pls help me out h

[2019-01-09 06:18] freedomtan commented on #24663
TFLite related code moved from tensorflow/contrib/lite into tensorflow/lite, use https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/android/BUILD instead

[2019-01-09 06:41] kanul commented on #23598
@tensorflowbutler, @suharshs, @liyunlu0618

t has been a long time with no activity.

How did your status for this issue?

[2019-01-09 06:51] LeManhTruong commented on #24446
Hi, i have problem with toco
"RuntimeError: TOCO failed see console for info.
2019-01-09 08:05:08.698392: I tensorflow/contrib/lite/toco/import_tensorflow.cc:1080] Converting unsupported operation: TensorArrayV3
2019-01-09 08:05:08.698452: I tensorflow/contrib/lite/toco/import_tensorflow.cc:1127] Op node missing output type attribute: question_encoding/rnn/TensorArray
2019-01-09 08:05:08.698462: I

[2019-01-09 07:17] hanayashiki commented on #24717
文件系统       类型          1K-块       已用       可用 已用% 挂载点
udev           devtmpfs  115468104          0  115468104    0% /dev
tmpfs          tmpfs      23100400      19188   23081212    1% /run
/dev/sdb2      ext4      215960612  190471176   14496236   93% /
tmpfs          tmpfs     115501980        208  115501772    1% /dev/shm
tmpfs          tmpfs          5120          4       5116    1% /run/lock

[2019-01-09 07:18] vinayonchip commented on #24596
Hi @Cuiwanxin1998 @jvishnuvardhan @ymodak
I am facing similar issues while building libtensorflow_inference.so. Is there a standard/detailed procedure for building...?

[2019-01-09 07:30] jennings1716 commented on #24446
@LeManhTruong What model are you using ? Please give more details

[2019-01-09 07:52] brucechou1983 commented on #23598
Got the same issue when implementing GAP in a deeplab-like quantized model.

[2019-01-09 08:37] yann-yy opened #24794 "Build from v1.12.0 failed"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): centos 4.4.131-1.el7.elrepo.x86_64
- TensorFlow installed from (source or binary): source
- TensorFlow version: tag v1.12.0
- Python version: python2.7
- Bazel version (if compiling from source): 0.21.0
- GCC/Compiler version (if compiling from source): gcc 4.9.2

**Describe the problem**
try to build from source ena

[2019-01-09 08:39] Steroes commented on #22047
See: https://github.com/guikarist/tensorflow-windows-build-script

[2019-01-09 08:42] AzizCode92 opened #24795 "Recurrent batch normalization : While_loop and control_depenecies bug"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.8.0
- Python

[2019-01-09 08:48] aprimostka commented on #23386
Confirm roots of issue in static build.
After removing `--config=monolithic` I can build TF without problems.

[2019-01-09 08:55] meteorcloudy commented on #22047
@Steroes 's solution looks good to me

[2019-01-09 09:16] naisy commented on #24738
It is simple, because Intel Architecture does not support FP16.
See also:
https://stackoverflow.com/questions/49995594/half-precision-floating-point-arithmetic-on-intel-chips
https://stackoverflow.com/questions/15340781/python-numpy-data-types-performance

[2019-01-09 09:16] Honghe commented on #18237
I am facing the same problem. Running python script locally works well. but when:
- execute a python script using ssh to connect to a server.
- execute a python script in `tmux`.

[2019-01-09 09:20] minhhg commented on #24774
Hi vidursatija,
The difference is only 1 second, I re-run with your code. It took 28 (seconds).

[2019-01-09 09:40] lissyx commented on #24095
Hello, can we get some update here ? @mrry @petewarden

[2019-01-09 09:40] samhodge commented on #24698
turns out it was a duplicate of https://github.com/tensorflow/tensorflow/issues/20586 but I assumed it was the system, so after installing CentOS 7 CUDA 9.2 and cuDNN 7.3.1 I was able to reproduce the error and then found it was in my code. For the record long int is not supported changing the template from int64_t to int64 made the compiler error go away. Still working on testing the software wit

[2019-01-09 09:42] AzizCode92 commented on #24795
Looking down for the implementation of the batch norm I read this comment on the code of the ```tf.contrib.layers.batch_norm```:

    # appropriate collections. We disable variable partitioning while creating
    # them, because assign_moving_average is not yet supported for partitioned
    # variables (this needs to be handled carefully, as it may break
    # the checkpoint backward compatibility

[2019-01-09 09:46] LeManhTruong commented on #24446
I use model for VQA, link source <https://github.com/DeepRNN/visual_question_answering>. When I converting model into "tflite", I have problem with TOCO, error "unsupported operation".

[2019-01-09 09:54] jennings1716 commented on #24446
did you try with  Python 1.12 ?

[2019-01-09 10:00] LeManhTruong commented on #24446
yes, I try with Tensorflow 1.12

[2019-01-09 10:12] musikisomorphie commented on #24133
Hi @alextp, I am a CV research student and use Tensorflow  a lot. I have experiences writing custom op functions and willing to contribute to this problem. Can I take it? I guess my task is gonna be add  numpy like syntax such as x[x > 0.01] to tf.boolean_mask or you think there is something else I could do?

[2019-01-09 10:22] JaviBonilla commented on #19293
I am trying to generate the **tflite** from [faster rcnn inception v2](http://download.tensorflow.org/models/object_detection/faster_rcnn_inception_v2_coco_2018_01_28.tar.gz)  with the following command,

`bazel run -c opt tensorflow/lite/toco:toco -- \
--input_file=frozen_inference_graph.pb \
--output_file=mask_rcnn_inception.tflite \
--input_shapes=1,300,300,3 \
--input_arrays=image_tensor \
--o

[2019-01-09 10:38] holianh commented on #12388
Thank you!
[code]

it worked for me!!!
tuananhktmt

[2019-01-09 10:43] JaviBonilla commented on #19293
I think this issue is related to #24407. I will have a look at the info over there.

[2019-01-09 11:04] ConnieWangYuan commented on #93
I met the same error. Please show the solution.

[2019-01-09 11:17] demeiyan commented on #24530
I don't set os.environ["CUDA_VISIBLE_DEVICES"] . I solve the problem. Thanks !

[2019-01-09 11:17] #24530 closed

[2019-01-09 11:32] iamtelo commented on #19046
` bazel --batch build -s //tensorflow/core:version_info_gen
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by com.google.protobuf.UnsafeUtil (file:/C:/Users/Telo%20Anderson/_bazel_Telo%20Anderson/install/3a7287a15200b68eb8146fc168635be1/_embedded_binaries/A-server.jar) to field java.lang.String.value
WARNING: Please consider reporting this to the ma

[2019-01-09 11:33] iamtelo commented on #19046
` bazel --batch build -s //tensorflow/core:version_info_gen
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by com.google.protobuf.UnsafeUtil (file:/C:/Users/Telo%20Anderson/_bazel_Telo%20Anderson/install/3a7287a15200b68eb8146fc168635be1/_embedded_binaries/A-server.jar) to field java.lang.String.value
WARNING: Please consider reporting this to the ma

[2019-01-09 11:52] cjjjy opened #24800 "Tensor conversion requested dtype float32_ref for Tensor with dtype float32?"
word_embeddings = tf.nn.embedding_lookup(params=_word_embeddings,ids=self.word_ids)
  word_embeddings_modify = tf.scatter_nd_update(word_embeddings, self.error_word, sum_all)

error:
  Tensor conversion requested dtype float32_ref for Tensor with dtype float32

from the error it seems word_embeddings in function scatter_nd_update dtype is tf.float_32,but scatter_nd_update should accepted word_embe

[2019-01-09 12:09] Maxtoq commented on #24735
Hi,
I tried this and I have the same issue:

DEBUG: C:/users/maxim/_bazel_maxim/xv6zejqw/external/bazel_tools/tools/cpp/lib_cc_configure.bzl:115:5:
Auto-Configuration Warning: 'BAZEL_VC' is not set, start looking for the latest Visual C++ installed.
DEBUG: C:/users/maxim/_bazel_maxim/xv6zejqw/external/bazel_tools/tools/cpp/lib_cc_configure.bzl:115:5:
Auto-Configuration Warning: Looking for VS%VERS

[2019-01-09 12:52] qqqtankqqq opened #24803 "TfLiteCameraDemo on android 8.0 and 9.0"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:centos 7
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:Pixel 2
- **TensorFlow installed from (source or binary)**:source
- **TensorFlow version (use command b

[2019-01-09 13:02] sdeoras commented on #23931
@msymp, thanks for sharing link. i am able to work with it although restructuring the name internally can be bit confusing to users particularly when there are no other nodes already defined with that name. Here is what I get when I explore the above graph. It seems the correct name to use is `flatten1/Shape`.

[code]

[2019-01-09 13:02] #23931 closed

[2019-01-09 13:25] chiragmak1 opened #24804 "Regarding merging tensorflow and Arcore in android app"
hello guys i am tryng to merge tensorflow and arcore in android app.i am facing this error ->
Error: Program type already present: android.support.design.widget.CoordinatorLayout$Behavior

and I think that we are merging two diffrent technology so there will be some gradle dependencies  are missing anyone of you has tried doing this can u suggest how can I fix

thanks in advance

[2019-01-09 14:05] iamtelo opened #24806 "TENSORFLOW- GPU BUILD ERROR ERROR: C:/tensorflow/tensorflow/tensorflow/python/BUILD:5651:1: Executing genrule //tensorflow/python:framework/fast_tensor_util.pyx_cython_translation failed (Exit 2): bash.exe failed: error executing command"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.12
- Python version: 3.6
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source): 0.17.2
- GC

[2019-01-09 14:52] Adopteruf commented on #24725
Issues happen when run a operator in tensorflow on GTX2080ti.
I get this issues done through just assigning the operator on CPU.

[2019-01-09 15:07] dawgster commented on #22374
I'm facing the same issue with tensorflow 1.12. I'm trying to compile my project using our own build system and linking against the tensorflow_cc.so. Is that possible or will I have to find a way to build my code using bazel?

[2019-01-09 16:09] dawgster commented on #22411
I'm facing the same issue with tensorflow 1.12. I'm trying  to compile my project using our own build system and linking against the  tensorflow_cc.so. Is that possible or will I have to find a way to  build my code using bazel?

[2019-01-09 16:45] slargo-IT opened #24807 "Installation failed of C API on Ubuntu"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Ubuntu 18.04
- Mobile device (e

[2019-01-09 16:46] anglia88 opened #24808 "InvalidArgumentError (see above for traceback): Assign requires shapes of both tensors to match. lhs shape= [1,1,2048,2] rhs shape= [1,1,2048,1001] [[Node: save/Assign_31 = Assign[T=DT_FLOAT, _class=["loc:@InceptionV3/Logits/Conv2d_1c_1x1/weights"], use_locking=true, validate_shape=true, _device="/job:localhost/replica:0/task:0/device:CPU:0"](InceptionV3/Logits/Conv2d_1c_1x1/weights, save/RestoreV2:31)]]"
Wenn  I ran following the bashscript, I got the following the errors. I want to train my dataset using the transferlearning of Inception-v3.
How do I go about correcting this? Thank you very much.

Bashcript:
python3 train_image_classifier.py \
 --train_dir=satellite/train_dir \
 --dataset_name=satellite \
 --dataset_split_name=train \
 --dataset_dir=satellite/data \
 --model_name=inception_v3 \

[2019-01-09 16:54] chiragmak1 opened #24809 "regarding tensor flow detect code"
hello guys
how can we get TFdetect code only and
how is it installing 4 apps  at a time

thank in advance for your generous help

[2019-01-09 17:43] alextp commented on #24067
@reedwm wdyt? You have the most context here.

[2019-01-09 17:51] alextp commented on #24133
@musikisomorphie thanks for the interest!

Currently in tf if you do tensor[...] this gets translated to a call to the stridedslice op which does not support boolean dtypes and so fails.

So you need to go to array_ops.py where we implement the slicing logic and change it to call boolean_mask if the dtype of the passed-in tensor is boolean. I think this will allow tensor[tensor > 5] to work.

Want

[2019-01-09 18:04] sanjoy commented on #23946
Usually this means the graph has an illegal cycle.  I've since changes this piece of code to print a friendlier error message:  https://github.com/tensorflow/tensorflow/blob/1ee193a2563d51ee45b401f2cff91f6e480e21db/tensorflow/compiler/jit/deadness_analysis.cc#L639

Maybe you could try running on HEAD to see if that helps?

[2019-01-09 18:40] jdduke commented on #24311
Thanks for flagging, @shawn-tian, this appears to be the same issue that we're tracking internally, I'll consolidate the bugs.

[2019-01-09 18:43] #23399 closed

[2019-01-09 18:44] jdduke commented on #23399
Duplicate of #24311

[2019-01-09 18:46] jdduke commented on #24311
As mentioned in the related issue #22377, not all graphs can be arbitrarily resized after conversion (e.g., when there's a reshape op that expects compatibility with a particular fixed shape).

[2019-01-09 18:48] tensorflowbutler commented on #24257
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-09 18:48] tensorflowbutler commented on #24270
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-09 19:02] trevor-m commented on #24789
This may be caused by this change: https://github.com/tensorflow/tensorflow/pull/24478

[2019-01-09 19:33] #22172 closed

[2019-01-09 19:34] #22176 closed

[2019-01-09 19:50] #24521 closed

[2019-01-09 20:36] msymp commented on #24730
Hello @twalk4821 , Thanks for the detailed model schematics PDF.
Hello @aselle & @andrehentz , can you please check the user's code fragment in _interpreter_ function, and if the TFLite setUseNNAPI usage is correct. Please advise. Thanks.

[2019-01-09 20:39] ziofil commented on #24374
@lhendre, could you update us? Thanks 🙏

[2019-01-09 20:48] msymp commented on #24732
Hello @sdeoras , Although your question is interesting, it is more of a systems query regarding ARM6 vs ARM7 builds, hence is best addressed on Stack Overflow at:
[Stack Overflow](http://stackoverflow.com/questions/tagged/tensorflow)
We shall close this issue now. Thanks.

[2019-01-09 20:52] joepareti54 opened #24811 "tensorflow ends with a ValueError exception"
I am experimenting with tensorflow/examples/get_started/regression/linear_regression_categorical.py and according to https://www.tensorflow.org/api_guides/python/regression_examples it ought to be fairly straightforward.
My script (for qsub submission) is as follows:
#PBS -N my_project_tf_l0
cd /home/u22835/tensorflow-master/tensorflow/examples/get_started/regression/
echo start
./linear_regressio

[2019-01-09 21:03] msymp commented on #24751
Hello @GothamCityPro , TensorFlow tends to allocate GPU resources to each session and thread in the order they are created.
Hi @azaks2 , can you advice how the user can allocate GPUs to sessions to threads, if possible. Thanks.

[2019-01-09 21:36] BhuvaneshBhatt commented on #20517
Hi, any progress on this compatibility issue?

bbhattmaclap:~ bbhatt$ pip3 install --upgrade tensorflow
Collecting tensorflow
  Could not find a version that satisfies the requirement tensorflow (from versions: )
No matching distribution found for tensorflow
bbhattmaclap:~ bbhatt$

[2019-01-09 21:38] penpornk commented on #24172
Also looping in @claynerobison since I just remembered @agramesh1 is on vacation.

[2019-01-09 21:41] ppwwyyxx commented on #24800
You should not use `scatter_nd_update` in this case because it's for updating variables. You should use `scatter_nd` instead.

[2019-01-09 21:43] hgadig commented on #18353
@mrry  Is this still applicable with the latest Tensorflow version ?

[2019-01-09 21:46] skye commented on #24410
Hi @Squadrick, I'm trying to find someone on the TF team who would be a good reviewer for this (and also give a better estimate of how much work this is, etc.). In the meantime though, you could start development in https://github.com/tensorflow/addons if you like.

[2019-01-09 21:49] hgadig commented on #24162
Please let us know if this still happen with the latest Tensorflow version used with Bazel 0.18 or 0.15

[2019-01-09 21:50] mirh commented on #22
YES THERE IS JUST LOOK AT THE LAST HANDFUL OF POSTS.

[2019-01-09 21:53] ymodak commented on #19589
Is this still an issue for you? Did you get a chance to try @sampathweb suggestion?
You are right about the CUDA compute capability limitation. TensorFlow GPU version requires CUDA® Compute Capability 3.5 or higher. However people in the past were able to install it with compute capability 3.0 by building from sources unfortunately that's not officially supported by the TF team.

[2019-01-09 21:55] msymp commented on #18449
Hello @rayanelleuch , please check Stack Overflow for tf.contrib.summary usage. One example is:
https://stackoverflow.com/questions/49083680/how-are-the-new-tf-contrib-summary-summaries-in-tensorflow-evaluated
Thanks.

[2019-01-09 21:56] hgadig commented on #18786
Please provide all the information asked above. Also request you to provide a reproducible code snippet to generate the error from our end.

[2019-01-09 22:03] hgadig commented on #21224
@RanFeldesh  Does it happen with the latest tensorflow version ?

[2019-01-09 22:03] robcustsup opened #24814 "TensorFlow binary was not compiled to use : AVX2 AVX512F FMA"
Using the virtualenv install procedure (https://www.tensorflow.org/install/pip)
(venv) user@ubuntu:~$ pip install --upgrade tensorflow

Installing collected packages: tensorflow
Successfully installed tensorflow-1.12.0

(venv) user@ubuntu:~$ python -c "import tensorflow as tf; tf.enable_eager_execution(); print(tf.reduce_sum(tf.random_normal([1000, 1000])))"

2019-01-09 21:39:35.073563: I tensorfl

[2019-01-09 22:07] Beenhakker commented on #14273
When using pyenv, omit the "--user", so in my case: pip install --ignore-installed --upgrade "Download URL"

If you already ran the command, you can "rm -rf ~/.local" to cleanup your mess on OSX :)
"pip --user" reference: https://docs.python.org/3.7/library/site.html

@rakshitsareen That's the whole purpose of this issue, so read carefully from the top.

[2019-01-09 22:08] ymodak commented on #19564
AVX512 is not officially supported, configuring using MKL can be good option in this case. Is this still an issue for you? Also can you please share your solution if you were able to solve it? Thanks!

[2019-01-09 22:09] #18356 closed

[2019-01-09 22:11] av8ramit commented on #20517
@BhuvaneshBhatt the latest tensorflow official package does not have Python3.7 support. You'll have to use your tf-nightly-gpu package. We are trying to have it for 1.13.

[2019-01-09 22:12] ymodak commented on #24814
Its a warning message which you can safely ignore and continue using TensorFlow. Your TF installation is successful.

[2019-01-09 22:12] msymp commented on #19824
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-01-09 22:12] irenedea commented on #24483
PR here: https://github.com/tensorflow/tensorflow/pull/24813

[2019-01-09 22:12] #24814 closed

[2019-01-09 22:14] hgadig commented on #24336
Do you say that this issue is solved now ? Correct me if I'm wrong.

[2019-01-09 22:15] ymodak commented on #20555
Closing this issue since its resolved for the original author. Please post a new issue by providing all the information asked by the template. Thanks!

[2019-01-09 22:15] #20555 closed

[2019-01-09 22:17] mdanatg commented on #24701
Thank you for bringing this to our attention! I believe we fixed the problems in the master version - if you have a chance to give it another try, please reopen this thread if you encounter any more issues.

[2019-01-09 22:17] #24701 closed

[2019-01-09 22:22] ymodak commented on #18211
Closing this issue since its [resolved](https://github.com/tensorflow/models/pull/3798). Feel free to reopen if the problem still persists. Thanks!

[2019-01-09 22:22] #18211 closed

[2019-01-09 22:34] msymp commented on #19989
@jlaako , Please check with r1.12.0 for this AWS S3 error on the debian releases. Thanks.

[2019-01-09 22:41] ymodak commented on #17762
@aselle Can you please take a look? Thanks!

[2019-01-09 22:53] #20922 closed

[2019-01-09 22:57] robcustsup commented on #24814
Thanks!

On Wed, Jan 9, 2019 at 4:16 PM ymodak <notifications@github.com> wrote:

[2019-01-09 23:01] jvishnuvardhan commented on #20922
I think it was resolved. Closing due to lack of recent activity. Please reopen new ticket if the issue arises. Thanks!

[2019-01-09 23:14] sdeoras commented on #24732
@msymp, np. i'll try to explore this issue on stack overflow. I could not tell from the error mesg if was code issue or ARM6 issue :)

[2019-01-09 23:14] jlaako commented on #19989
I'm not working at Intel anymore or on Tensorflow things in general. But maybe someone else who has the same problem can help checking? @joeyearsley

[2019-01-09 23:18] dimitriadamou commented on #24536
Thank you for the response, I became busy with work - I will try again with Bazel 0.15, however I think when I tried anything lower than 0.18 it told me to use 0.18 or higher - will keep you posted.

[2019-01-09 23:18] daniel-ziegler opened #24815 "If a branch contains summaries, tf.cond doesn't support Operations as branches"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Mojave (10.14.2)
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v1.12.0-rc2-3-ga6d8ffae09 1.12.0
- Python version: 3.6.6 (Anaconda)

**Describe the current beha

[2019-01-09 23:21] msymp commented on #24772
Hello @hsilva664 , Just to be aligned, can we back up and build with bazel 0.15.0 , gcc 4.8 , CUDA 9 / cuDNN 7.4 and check if the tfdbg works then?

[2019-01-09 23:30] ymodak commented on #24714
Closing since this is now a duplicate of latest posted issue. Lets track it there.

[2019-01-09 23:30] #24714 closed

[2019-01-09 23:37] MarkDaoust commented on #24599
Hi @iggy12345

Thanks for the report.

I don't have a windows box handy to try this on.
So help me understand.

The install_source_windows file includes in the setup section [Install Visual C++ Build Tools 2015](https://www.tensorflow.org/install/source_windows#install_visual_c_build_tools_2015)

Isn't that what the "C++ with Bazel" page you linked to says?

Or is it just not clear in [Setup](http

[2019-01-09 23:42] ymodak commented on #24642
I suspect your operating system does not follow AVX instruction sets. TensorFlow official release binaries version 1.6 and higher are prebuilt with AVX instruction sets. In the case of macOS, TF is tested and supported against macOS 10.12.6 (Sierra) or later. To use Tensorflow on old CPUs you'll need to build a binary on your own.

[2019-01-09 23:50] ymodak commented on #24500
Closing this issue since @rootkitchao is correct.

[2019-01-09 23:50] #24500 closed

[2019-01-09 23:51] jvishnuvardhan commented on #20120
I think it was resolved. Closing due to lack of recent activity. Please open new ticket if you see similar issue. Thanks!

[2019-01-09 23:51] #20120 closed

[2019-01-09 23:54] ymodak commented on #24324
Apologies for the delay in response. Is this still an issue for you? If yes can you please provide following info. Thanks!
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version:
- Python version:
- Installed

[2019-01-09 23:55] jvishnuvardhan commented on #20194
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-09 23:59] msymp commented on #24775
@auvilink is executing a widely used speech recognition tutorial of the binary release on MacOS. They seem to observe a shape mismatch error. @allenlavoie can you advise. Thanks.

[2019-01-10 00:14] dizcology commented on #9901
@yaroslavvb besides time to transform the graph, did you also record the number of nodes of the transformed graph?  does it also grow super-linearly with respect to the number of nodes in the original graph?

[2019-01-10 00:16] allenlavoie commented on #24775
@petewarden do you know who's maintaining the audio recognition example? (This looks like it's more to do with the example itself than saving APIs)

[2019-01-10 00:21] geyungjen commented on #24781
Thanks for the tips.

I checkout the r1.13 and finally successfully build

(base) -bash-4.2$ tail -f nohup.out
WARNING: /opt/hadoop/tf_branch/tensorflow/tensorflow/contrib/learn/BUILD:17:1: in py_library rule //tensorflow/contrib/learn:learn: target '//tensorflow/contrib/learn:learn' depends on deprecated target '//tensorflow/contrib/session_bundle:gc': No longer supported. Switch to SavedModel im

[2019-01-10 00:34] #24669 closed

[2019-01-10 00:41] msymp commented on #24778
Hi @asimshankar & @azaks2 , this is a recurrent query from users, i.e. allocation of sessions to GPUs and whether device assignment works on older TensorFlow releases. Please advise. Thanks.

[2019-01-10 00:42] aespielberg commented on #11076
These solutions don't really work though when what you want is an easily readable CSV file.

[2019-01-10 00:57] msymp commented on #24784
Hello @bstemper , can you provide your CUDA version being used. Thanks.
Hi @asimshankar & @gunan , this is a recently recurrent user query, where they are running r1.12.0 GPU binaries on macOS 10. Thanks.

[2019-01-10 00:58] ymodak commented on #24171
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-10 00:58] #24171 closed

[2019-01-10 01:06] asimshankar commented on #24483
Thanks for the report and even more for the fix! Will take a look at the PR.
FYI @karllessard

[2019-01-10 01:17] msymp commented on #24789
Hello @sonnguyen64 , please provide the model as the community has requested. Thanks.

[2019-01-10 01:19] cjjjy commented on #24800
Thanks for your apply ,I just want to update some values in tensor word_embeddings  ,but scatter_nd seems just create a new tensor  by applying sparse updates to individual values or slices within a tensor (initially zero for numeric, empty for string) of the given shape according to indices

[2019-01-10 01:19] jvishnuvardhan commented on #20812
@rafiqhasan Thanks for providing solution to the issue. I am closing it as it was resolved by @rafiqhasan

[2019-01-10 01:32] msymp commented on #24792
Hello @mhtvsSFrpHdE , thanks for pointing this out. Please search on Stack Overflow for relevant post:
[Stack Overflow](http://stackoverflow.com/questions/tagged/tensorflow)
This issue is closed. Thanks.

[2019-01-10 01:32] #24792 closed

[2019-01-10 01:43] yifeif commented on #24523
I pushed the first version of tensorflow/tensorflow:nightly-custom-op just now and am in the middle of setting up a nightly release. Please give it a try. Thanks!

[2019-01-10 01:47] msymp commented on #24794
Hello @yann-yy , Please step back and try building with bazel 0.15.0 , gcc 4.8 , and let us know. Thanks.

[2019-01-10 01:54] ppwwyyxx commented on #24800
Your tensor is by definition immutable and you cannot update it.

In your case to avoid the zeros you can do a `scatter_nd` to create a tensor with the differences and add it back to `word_embeddings`.

[2019-01-10 01:59] haoransh opened #24816 "Wrong Error Raised: "The graph couldn't be sorted in topological order""
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-01-10 02:04] dgboy2000 opened #24817 "TFDBG Segmentation Fault"
TFDBG encounters a seg fault (see output at bottom) when debugging my TF code. Incidentally this code hangs on a GPU, but code and tfdbg both run without incident on CPU only (setting tf.device). As a side note, is tensorflow ever supposed to produce different execution results on CPU and GPU?

- OS Platform and Distribution: AWS Deep Learning Base AMI (Ubuntu) Version 14.0 (ami-012b19f1736b6aae8)

[2019-01-10 02:06] XVilka commented on #22
@filips123 no, there are no updates and will never be in any foreseeable future - probability of that is lower than of alien invasion and finding a way to travel back in time.

[2019-01-10 02:32] sonnguyen64 commented on #24789
Thanks @samikama, @trevor-m and @msymp a lot for your responses.

Download my model [here](https://drive.google.com/open?id=1cyMN34fkqNsWQLL5X4drGL0Ar6YJTE11). It includes the Tensorflow checkpoint files and conversion code. When running file `convert.py`, it'll have the error about exceeding 2GB.

For the model details, this is the repo I'm using to produce the checkpoint: https://github.com/Deep

[2019-01-10 02:44] NewUserHa commented on #20517
@PlatinumLyfe unable to install.
your link only have `xxx-cp36-cp36m-...`. no `cp37` and no `-gpu-` version.

[2019-01-10 02:49] msymp commented on #23970
@guizili0 , we need to track down the contributor of this regression commit.

[2019-01-10 02:58] msymp commented on #24735
@Maxtoq , you may be correct, it has been noticed that MSVC 2015 update 3 is more reliable with r1.12.0 , and since you are building r1.13.0 from source, please investigate this. Thanks.

[2019-01-10 03:17] yann-yy commented on #24794
@msymp , I have built successfully with `bazel 0.21.0` and `gcc 4.8.5`. I'm trying to build with `-mavx512f` to have better performance( `CPU： 3.2GHz Intel Xeon® Skylake 6146` supports AVX512) while `-mavx512f` option is only support by `gcc 4.9` and later. I also have built successfully with `bazel 0.21.0` and `gcc 4.9.2` without `-mavx512f`. And I found `_mm512_castsi512_ps` function in `gcc 5+`

[2019-01-10 03:52] shawn-tian commented on #24311
@jdduke Is it possible to locate which op cannot be resized after conversion? In my case, the error occurs in the add op as reported by @raviilango, even I freeze the graph with a non-square input.

[2019-01-10 04:02] lppier commented on #22
This intel initiative PlaidML works reasonably well, worth checking it out.
https://github.com/plaidml/plaidml
It runs on opencl OR metal on mac.
Meanwhile, could you guys help vote for Pytorch support in PlaidML? https://github.com/plaidml/plaidml/issues/63

[2019-01-10 04:07] proteneer opened #24818 "eigvalsh documentation error"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: 1.12
- Doc Link:

https://www.tensorflow.org/api_docs/python/tf/linalg/eig

[2019-01-10 04:13] cjjjy commented on #24800
Yes ,I understand what you mean ,I googled and found another method it says
            var_output_2 = tf.Variable(0, dtype=tf.float32,name="a",trainable=False,validate_shape=False)
            var_output_3=tf.assign(var_output_2, word_embeddings, validate_shape=False)
            word_embeddings = tf.scatter_nd_update(var_output_3, self.error_word, sum_all)

[2019-01-10 04:13] cjjjy commented on #24800
Yes ,I understand what you mean ,I googled and found another method it says
var_output_2 = tf.Variable(0, dtype=tf.float32,name="a",trainable=False,validate_shape=False)
var_output_3=tf.assign(var_output_2, word_embeddings, validate_shape=False)
word_embeddings = tf.scatter_nd_update(var_output_3, self.error_word, sum_all)

[2019-01-10 04:15] cjjjy commented on #24800
Yes ,I understand what you mean ,I googled and found another method it says
var_output_2 = tf.Variable(0, dtype=tf.float32,name="a",trainable=False,validate_shape=False)
var_output_3=tf.assign(var_output_2, word_embeddings, validate_shape=False)
word_embeddings = tf.scatter_nd_update(var_output_3, self.error_word, sum_all)

[2019-01-10 04:16] cjjjy opened #24819 "Invalid argument: Must have updates.shape = indices.shape[:batch_dim] + params_shape[slice_dim:]"
I want to test some example with my training model ,but it occur error during test ,console tell me the wrong in my code is focus on line 94:

 line90：var_output_2 = tf.Variable(0, dtype=tf.float32,name="a",trainable=False,validate_shape=False)
 line91: row_vector = tf.gather_nd(word_embeddings, self.word_error_embed, name="a_word_error_embed")
 line92: sum_all = tf.reduce_sum(row_vector, 1, name=

[2019-01-10 06:15] auvilink commented on #24775
@allenlavoie @petewarden I also copied those files to a linux machine (ubuntu 16.04) and re-tried the same command "python tensorflow/examples/speech_commands/freeze.py
--model_architecture=low_latency_svdf
--start_checkpoint=/tmp/speech_commands_train/low_latency_svdf.ckpt-135000
--output_file=/tmp/my_frozen_graph.pb"

I got the same error:

"    self._traceback = tf_stack.extract_stack()

Invali

[2019-01-10 06:33] Robird commented on #3332
Also need group conv !

[2019-01-10 06:49] rpsg35 opened #24821 "tensorflow-0.10.0rc0-cp27-none-linux_x86_64.whl is not a supported wheel on this platform."
I am  trying to install  tensorflow after activating conda environment using pip
$ conda activate /home/eartaert/anaconda3/
$ pip install --upgrade /home/eartaert/Downloads/tensorflow-0.10.0rc0-cp27-none-linux_x86_64.whl

 but the following error is coming

tensorflow-0.10.0rc0-cp27-none-linux_x86_64.whl is not a supported wheel on this platform.

uname -a results are as follows
Linux ubuntu 4.15.

[2019-01-10 07:11] martinwicke commented on #23970
@rmlarsen may have some pointers for where to start.

[2019-01-10 07:29] gyliu513 opened #24822 "`pip install tensorflow` still install 1.5.0"
I installed tensorflow via `pip install tensorflow`, but found it was still using a very old version tensorflow, and this caused the `tf.enable_eager_execution()` failed. Can we upgrade the tensorflow to a new version?

[code]

[2019-01-10 07:48] breadbread1984 opened #24823 "tf.contrib.integrate.odeint can only accept time points in increasing order"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.12
- Are you willing to contribute it (Yes/No): No

**De

[2019-01-10 07:58] ymodak commented on #24822
That's strange, It should have given you TF 1.12 by default.
Can you try this,

[2019-01-10 08:06] cjjjy opened #24824 "ValueError: as_list() is not defined on an unknown TensorShape."
I want to test some example with my training model ,but it occur error during test ,console tell me the wrong in my code is focus on line 119:

line112: cell_fw = LSTMCell(self.hidden_dim,forget_bias=0.4)
line113: cell_bw = LSTMCell(self.hidden_dim,forget_bias=0.4)
line114: (output_fw_seq, output_bw_seq), _ =
            tf.nn.bidirectional_dynamic_rnn(
line115:    cell_fw=cell_fw,
line116:    cel

[2019-01-10 08:10] #24819 closed

[2019-01-10 08:31] Archernarkiu opened #24825 "Unsupported data type in placeholder op:2"
When I tried to convert a .pb to .tflite, an error occurred.
The command line shows below:

And the errors :

I have no idea about this error, can anyone offer help.

[2019-01-10 08:50] milleramit commented on #17968
Also happening with tf1.12.

Happens randomly, with low prob.
AWS P3 instances [happened on at least two different instances].
GPU at 100% "utilization", but temp/fan are low, and training is stuck.

[2019-01-10 09:48] gyliu513 commented on #24822
@ymodak thanks, this works.

[code]
[code]

[2019-01-10 09:55] Jasonnor commented on #15983
+1

[2019-01-10 10:30] jiangxiluning commented on #16091
@kangshan0910 plz use my repo https://github.com/jiangxiluning/facenet_mtcnn_to_mobile

[2019-01-10 10:56] mhtvsSFrpHdE commented on #24792
@msymp Got it 😉

[2019-01-10 10:58] Oceania2018 commented on #24825
@Archernarkiu Hope this can help you:

[code]

[2019-01-10 10:59] bodin-e commented on #24779
Great. I agree fully about the signature change to skip separate/redundant name passing.

I'll send a pull request in the coming weeks.

[2019-01-10 11:06] EbadSyed commented on #19384
@SerjSmor Did you move the JNI folder to the custom application folder ?

Or did you just made changes to existing files without changing any locations ?

I am trying to do the same but still confused.

[2019-01-10 11:09] Maxtoq commented on #24735
But last try was actually with r1.12.0 and MSVC 2015 Update 3 (and bazel 0.15.0).
The weird thing is that it still tries to look for a file in the folder "../Miscrosoft Visual Studio/2017/".
I'm gonna try to uninstall VS Code and reinstall MSVC 2015 to see if there's a change.

If you have any other idea, I'll take it.

Thanks.

[2019-01-10 11:14] atulapra commented on #24243
My version of cuDNN was not compatible with tensorflow-gpu 1.12.
The correct version for tensorflow-gpu 1.12 can be found [here.](https://stackoverflow.com/questions/50622525/which-tensorflow-and-cuda-version-combinations-are-compatible/53727997#53727997)

If it still doesn't work, try rebooting.

[2019-01-10 11:41] mayou36 commented on #23946
I've run it again on head (CPU-only, default compilation flags: XLA on, others off).

The problem persists, the message changed though. This is the error message:

[code]

For completeness, the stacktrace
[code]

[2019-01-10 12:13] 777ki opened #24826 "tf.estimator rebuild graph at per training step"
hello everyone:
    i'm working on reading source code of tf.estimator, I found a little problem of this implementation，

[code]
 this code is part of Estimator.training, look at this
[code]
it will be called at every training step, that is a build graph operation, i think is called one time at the begining is better, am I right?

[2019-01-10 12:47] gabrieldemarmiesse opened #24827 "tensorflow.keras.backend.clip has different semantics than keras.backend.clip."
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):

TF built from master.

- Are you willing to contribute it

[2019-01-10 12:49] deepakrai9185720 opened #24828 "Error : Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning log message was printed above."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (

[2019-01-10 12:55] Cairang commented on #16548
top = tf.layers.conv2d(inputs,
                               filters=filters,
                               kernel_size=3,
                               padding=padding,
                               activation=activation,
                               kernel_initializer=kernel_initializer,
                               bias_initializer=bias_initializer,
                               name=n

[2019-01-10 13:22] learnermaxRL commented on #22994
You can used TF 1.11 and abpve , which will fix the issue.

[2019-01-10 13:33] minhhg commented on #24774
Hi msymp,
The issue is not  solved. It is 28 (seconds) with tensorflow vs 0.5 (seconds) with python. Thanks.

[2019-01-10 13:47] mksarker commented on #24270
Thanks. The issue was solved.

[2019-01-10 14:07] lyhue1991 commented on #24686
@facaiy Thank you very much. This limitation is really painful.

[2019-01-10 14:18] musikisomorphie commented on #24133
@alextp no problem, yes I would love to. I am going to work on this problem from now on.
If I make some progress, you will be informed.

[2019-01-10 14:37] rafalfirlejczyk opened #24830 "TfLiteCameraDemo performance of NNAPI on Honor10 View (Kirin 970)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO.
I used the TF code from the TFLiteCameraDemo example. Only modified the line 47 in interpreter.cc where I set UseNNAPI(true);
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.1 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue h

[2019-01-10 14:47] februarysea opened #24831 "Build a Convolutional Neural Network using Estimators"
Hello

I'm learning CNN with mnist from this [Documentation](https://www.tensorflow.org/tutorials/estimators/cnn). I followed the tutorial step by step. After I finished the code and run it, the error comes:

**ValueError: Can not squeeze dim[1], expected a dimension of 1, got 10 for 'sparse_softmax_cross_entropy_loss/remove_squeezable_dimensions/Squeeze' (op: 'Squeeze') with input shapes: [100,10

[2019-01-10 14:48] rafalfirlejczyk commented on #24830
My Honor 10 View has Android 9.0.

[2019-01-10 14:53] deslum commented on #24450
[code]

[2019-01-10 15:17] jesen8 opened #24832 "Could NOT find CUDA: Found unsuitable version "9.2" ON WINDOWS SOURCE BUILD WITH CMAKE"
**System information**
- Windows 10
- TensorFlow installed from source: r1.8
- TensorFlow version: r1.8
- Python version: 3.6.5
- Bazel version (if compiling from source): not use bazel
- GCC/Compiler version (if compiling from source): cmake 3.13.0-rc1
- CUDA/cuDNN version: 9.2/7.1.4
- GPU model and memory: 2G

when i try to build rensorflow on windows,there is the error:

D:\tf3\tensorflow-r1.8\

[2019-01-10 16:43] asimshankar commented on #24450
@deslum : Sorry about that, the issue you encountered is different from what @sdeoras and is more like https://github.com/tensorflow/tensorflow/issues/23257#issuecomment-433751410 (Which I agree is a problem regardless). For now, you could work around this by doing what is suggested in the comment there. I'll send out a fix so that the `master` branch compiles again. Longer term probably want to f

[2019-01-10 16:43] zhasulan opened #24833 "Triplet loss semi hard function does not work"
The triplet loss semi hard function does not work in the line where have an assertion which checking variable dimension

[2019-01-10 17:15] asimshankar commented on #24450
@sdeoras: Oh, right, sorry missed that last sentence of your previous message. Would you like to contribute a PR for this?

[2019-01-10 17:31] #24270 closed

[2019-01-10 17:34] geyungjen commented on #24781
Just needed to update, I ran the newly build tensorflow on an Xeon server, that tensorflow with MKL enabled, to run recurrent_neural_network.py that recognize MNIST, performance (time to finish) seems to be far worse than stock tensorflow that I had "pip install" before.  I expect it should have been better not worse in theory.

[2019-01-10 17:36] akshaym commented on #19945
As @feihugis says, I believe this should be fixed. I believe commit 42be3a9034e3c1d4c2a90f2c495eecff970d44d0 re-fixed this.

Apologies for the trouble.

[2019-01-10 17:36] #19945 closed

[2019-01-10 17:40] rafalfirlejczyk opened #24834 "tf-nightly-2.0-preview failed to install on my Windows 7/64"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 7/64
- Mobile device (

[2019-01-10 17:42] rafalfirlejczyk commented on #24834
pip install tf-nightly-2.0-preview does not install on my Windows 7/64

Collecting tf-nightly-2.0-preview
  Using cached https://files.pythonhosted.org/packages/a6/d9/0499db98422207eb3d7643ee3b8152dd503a85dc2f958f77834aa0a3fcde/tf_nightly_2.0_pre
view-1.13.0.dev20190108-cp36-cp36m-win_amd64.whl
Could not install packages due to an EnvironmentError: [Errno 2] No such file or directory: 'C:\\Users\\

[2019-01-10 18:10] ymodak commented on #24822
Awesome. I will close this issue now since its resolved.

[2019-01-10 18:10] #24822 closed

[2019-01-10 18:16] preethivenkatesh commented on #24781
Most optimizations in tensorflow-mkl are targeted for CNN architectures(e.g Resnet, VGGnet). To see if MKLDNN primitives are being called, set the MKLDNN_VERBOSE to 1 (export MKLDNN_VERBOSE=1) before running you script which prints MKL calls on the console. Are you running any standard benchmarking script? Can you please attach the script if possible so we can try from our end.

[2019-01-10 18:34] geyungjen commented on #24781
""" Recurrent Neural Network.

A Recurrent Neural Network (LSTM) implementation example using TensorFlow library.
This example is using the MNIST database of handwritten digits (http://yann.lecun.com/exdb/mnist/)

Links:
    [Long Short Term Memory](http://deeplearning.cs.cmu.edu/pdfs/Hochreiter97_lstm.pdf)
    [MNIST Dataset](http://yann.lecun.com/exdb/mnist/).

Author: Aymeric Damien
Project: ht

[2019-01-10 18:35] ehennis opened #24835 "Windows 10/Anaconda3: Missing File on install"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow instal

[2019-01-10 18:41] #24775 closed

[2019-01-10 18:41] auvilink commented on #24775
I retrained it and it works now. Thanks guys.

[2019-01-10 18:53] geyungjen commented on #24781
excerpt of the mkldnn call after  export MKLDNN_VERBOSE=1

mkldnn_verbose,exec,reorder,jit:uni,undef,in:f32_blocked out:f32_blocked,num:1,128x128,0.0568848
mkldnn_verbose,exec,sum,simple:any,undef,in:f32_blocked out:f32_blocked,num:2,128x128,0.0720215
mkldnn_verbose,exec,reorder,jit:uni,undef,in:f32_blocked out:f32_blocked,num:1,128x128,0.065918
mkldnn_verbose,exec,sum,simple:any,undef,in:f32_bloc

[2019-01-10 18:53] tensorflowbutler commented on #23326
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-10 19:05] jvishnuvardhan commented on #23290
As mentioned by @pkulzc, this looks like support question on android development to implement object detection. Please ask support questions in [Stackoverflow](https://stackoverflow.com/) community. Closing this issue due to lack of recent activity. Please open new ticket if you see similar issue. Thanks!

[2019-01-10 19:05] #23290 closed

[2019-01-10 19:16] gunan commented on #24784
GPUs on MacOS is not an officially supported setup. I do not think even apple has official support for NVIDIA GPUs on Mac machines.
It is entirely community supported.

But the machine setup is really interesting. I am not aware of any retail mac machines that have CPUs that support AVX512, let alone 4 P100s.
I think this is on a cloud machine and the operating system field is wrongly reported.

[2019-01-10 19:17] tferrerITBA opened #24836 "Bazel build failed building Android demo"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.12.0
- Python version: 2.7.12
- Installed using virtualenv? pip? conda?: no
- Bazel version (if compiling from source): 0.19.0

[2019-01-10 19:36] msymp commented on #23900
Hello @SumNeuron , There some good posts on Stack Overflow about Estimator export/import:
https://stackoverflow.com/questions/50612923/tensorflow-export-estimators-for-prediction
https://stackoverflow.com/questions/51537682/how-do-i-export-an-estimator-tf-estimator-dnnclassifier
We shall close this issue now. Thanks.

[2019-01-10 19:42] bstemper commented on #24784
@msymp I have provided the CUDA version. Also, by accident I put MacOS whereas in reality the error occurs on the compute server which runs Linux (openSuse). I have changed the details above so now they are correct.

[2019-01-10 19:44] sdeoras commented on #24450
@asimshankar: sure, i'll send out a pr for this bug.

[2019-01-10 19:51] msymp commented on #23992
Hello @jchia , your suggestion for optimization as part of the Graph Transform Tool for Switch nodes is useful.
We currently don't have anybody working on this. It would be great if you could help us by working on this and submitting a PR.
We will close this issue now. Thanks!

[2019-01-10 19:51] #23992 closed

[2019-01-10 19:56] SumNeuron commented on #23900
@msymp I believe you misunderstood.

as stated in the question title, this is about a missing `clear_devices` flag in the export function.

Further, I would say that your two linked SO posts are not really related.

The first just uses the `model_dir` flag in the estimator constructor.
The second either uses the `serving_input_reciever_fn` or also the `model_dir`.

Both of which lead me to believe

[2019-01-10 19:56] trevor-m commented on #24032
Hi, thanks for reporting the issue.

* `Input tensor with shape [?,?,?,3] has an unknown non-batch dimemension at dim 1.`
Could you try with is_dynamic_op=True for create_inference_graph? TF-TRT requires all shapes to be fully defined unless in dynamic mode. You could also have the shapes be explicitly defined by doing the following:
[code]

*  `Assertion `d.nbDims >= 3' failed.`
Which version of

[2019-01-10 19:57] msymp commented on #24612
Hello @Zhiqiang-Ye , we hope @alextp was able to address your initial query. We shall close this issue now. Thanks.

[2019-01-10 19:57] #24612 closed

[2019-01-10 20:10] msymp commented on #24636
Hello @ZhangYuef , since you are running on Windows 10, you may need to adjust you cuDNN version (major & minor) for windows such that both save to .pb file program and restore from .pb file program work correctly. Please experiment with latest major/minor version until it works. Let us know. Thanks.

[2019-01-10 20:13] jdduke commented on #24311
OK, the problem in this specific issue is related to the ResizeNearestNeighbor op.

In particular, it looks like the Add op that fails takes two inputs: one that has the new proper shape from the explicit resize, and one from the ResizeNearestNeighbor op. However, the ResizeNearestNeighbor op is using a fixed size, which produces a tensor (1, 48, 48, 96) that is incompatible with the resized tenso

[2019-01-10 20:18] irenedea opened #24837 "[TF Java, Control Flow] Constant nodes created via TF_AddGradients are not in the correct frame"
**System information**
- TensorFlow version (you are using): 1.12
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
We are using TF Java's `graph.addGradients` which calls upon c_api.h's `TF_AddGradients`. Currently the function works fine when called in the outermost frame (frame '')).

However, we would like to call TF Java's `graph.addGra

[2019-01-10 20:19] irenedea commented on #24837
@melissagrueter @samdow

[2019-01-10 20:48] karmel commented on #24136
Note that master of the Official Models should run against the nightly releases, so using tensorflow-nightly in this case (or tensorflow-estimator-nightly if you want to install estimator independently) is the expected behavior. We are currently not cutting releases for the Official Models, but may do so again in the future (CC @lintian06 )

I will close this as the mismatched build seems to be th

[2019-01-10 20:48] #24136 closed

[2019-01-10 20:59] MatthiasRathbun opened #24838 "importing tf-nightly-gpu error"
os: windows 10
Anaconda clean env
pip 10.4
python 3.6.8

I installed the windows python 3.6 wheel https://pypi.org/project/tf-nightly-gpu/1.13.0.dev20181225/#files and installed it in a clean environment. Importing Tensorflow yields me this error:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\envs\tf\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <mod

[2019-01-10 21:00] #24838 closed

[2019-01-10 21:05] MatthiasRathbun opened #24839 "importing tf-nightly-gpu error"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow instal

[2019-01-10 21:11] jdduke commented on #24311
@shawn-tian I've added some notes on issue #23399 about your specific model. In this case, the dimension being square was a red herring.

[2019-01-10 21:17] md-k-sarker commented on #23765
yes. still issue.

[2019-01-10 21:17] jvishnuvardhan commented on #24140
@SumNeuron Could you provide any example code to reproduce the error? Also, mention any details about context, describe the expected behavior, and provide any error snapshots. All these details will be useful to find a root cause of the issue. Thanks!

[2019-01-10 21:22] martinwicke commented on #24835
Anna, do you know what could be wrong here?

[2019-01-10 21:55] jvishnuvardhan commented on #23693
I think it was resolved. Closing due to lack of recent activity. Please open new ticket if you see similar issue. Thanks!

[2019-01-10 21:55] #23693 closed

[2019-01-10 22:04] ehennis commented on #24835
I didn't have that option in the group policy section but I was able to update using the registry (https://www.itprotoday.com/windows-10/enable-long-file-name-support-windows-10). After a reboot I was able to install.

Somewhat related, I have a similar issue with Windows limits with a jupyter notebook using a virtual environment. The shortcut path is too long and it crashes. Go Windows.

[2019-01-10 22:04] #24835 closed

[2019-01-10 22:05] jvishnuvardhan commented on #23673
Thanks @erley and @metalalive for providing solution. I think it was resolved.  Please open a new ticket if you see similar issue. Thanks!

[2019-01-10 22:05] #23673 closed

[2019-01-10 22:21] jvishnuvardhan commented on #21653
@SharkWater could you check whether the problem still persist. If yes, could you send a small model code to reproduce the error? Thanks!

[2019-01-10 22:52] jvishnuvardhan commented on #18356
Thanks @eaigner for the workaround. I think it was resolved.  Please open a new ticket if you see a similar issue. Thanks!

[2019-01-10 22:59] petewarden commented on #21566
Unfortunately optimize_for_inference has become outdated over the last couple of years, and needs to be deprecated. We have an alternative in the Graph Transform Tool (though this is also getting a bit out of date): https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/README.md#optimizing-for-deployment

[2019-01-10 22:59] msymp commented on #24795
Hello @AzizCode92 , confirm that you want this to be treated as documentation issue. Thanks.
Hi @ebrevdo , can we document this moving_mean/moving_variance behavior or is there some workaround? Thanks.

[2019-01-10 23:06] chargrnv opened #24841 "Fix support for newer bazel versions - Issue 23673 closed with incorrect solution."
I believe https://github.com/tensorflow/tensorflow/issues/23673 was closed incorrectly.

The problem is newer versions of bazel are not reading the bazel.rc that provides:
[code]

The solution can not be to install ares as this option is supposed to disable the need for it.

Please fix the build process to support newer versions of bazel (in my case, using 0.19.0)

[2019-01-10 23:10] msymp commented on #24774
Hi @tatianashp , can you please advise why the user is not seeing gains from tf.map_fn in parallel runs over 28 cores. Thanks.

[2019-01-10 23:32] ebrevdo commented on #20194
For this it's better to modify the graphdef directly.  you'd export to a graph_def, modify that, then load it back in (or save it to file) depending on how you're going to use it

[code]

this will work for most data types, i think, including float and integer.  however it will break for string types.  presumably you're not freezing strings in graphs.

[2019-01-10 23:32] #20194 closed

[2019-01-10 23:56] irenedea commented on #24837
PR here: https://github.com/tensorflow/tensorflow/pull/24842

[2019-01-11 00:33] samuallin commented on #24579
Hi, we met SquaredDifference is not supporting operator as well and check from Tensorflow 1.9 to 1.12, all have this problem.
Could you let us know if this is a bug? If yes, could you let us know do you have planning to fix this?
Thanks.

[2019-01-11 00:34] mbuckler commented on #12001
I would be interested in this

[2019-01-11 00:40] msymp commented on #19611
Hi @karmel & @ezhulenev , please advise if we can consider this issue resolved and hence close it. Thanks.

[2019-01-11 00:44] msymp commented on #19989
The author has indicated that this issue can now be closed, until some resubmits a similar issue. Thanks.

[2019-01-11 00:44] #19989 closed

[2019-01-11 00:54] msymp commented on #23970
Hi @rmlarsen , we would to track down the correctness issue for yolov3 that this regression commit seems to have introduced.
https://bitbucket.org/eigen/eigen/commits/af207140728002141ce3ff17f6f14cc159965f93
Thanks.

[2019-01-11 01:04] samuallin commented on #24497
Hi, we met SquaredDifference is not supporting operator as well and check from Tensorflow 1.9 to 1.12, all have this problem.
Could you let us know if this is a bug? If yes, could you let us know do you have planning to fix this?
Thanks.

[2019-01-11 01:07] samikama commented on #22514
Is this still there with TRT5.0?

[2019-01-11 01:09] samikama commented on #22957
as @ardianumam mentions, you need to set your keras to inference mode *before* loading or constructing your model. TFTRT works with frozen models.

[2019-01-11 01:13] jiayiliu commented on #24591
@jvishnuvardhan Thank you for checking on this.  It links to couple other issues #22029 #5387 #4363

Here I provides a minimal code using tf hub:

[code]

Then I encountered the IndexError as I run

`python -m tensorflow.python.tools.freeze_graph --input_graph=resnet/model.pb --input_checkpoint=resnet/model --output_graph=resnet/frozen_graph.pb --output_node_names=module/resnet_v2_50/predictions/R

[2019-01-11 01:13] msymp commented on #24735
Hi @mrry , can you advise what this user may be facing with respect to the MSVC 2017? Thanks.

[2019-01-11 01:13] canyon289 commented on #24684
@msymp Why reopen this issue? Not challenging the decision, just curious!

[2019-01-11 01:20] msymp commented on #24684
@canyon289 , we keep it open so that @twiecki can rejoin this thread in a couple of weeks after the work on Eager mode completed.

[2019-01-11 01:21] dingguijin commented on #24626
Hi, Thanks for your response.

But I do not have CUDA 9, only CUDA 10 for my RTX card.
If CUDA 10 is helpful, I can try.
One question is 'tensoflow_gpu-1.12.0` the latest release?

Thanks.

[2019-01-11 01:44] msymp commented on #24685
Hi @petermattson , can you advise who would be able to address a fast style transfer query. Thanks.

[2019-01-11 01:47] samikama opened #24843 "Add MetaOptimizer option to save the graph after each optimization pass"
Adding an option to MetaOptimizer to dump the graph after each optimization pass will help in development of optimizers and understanding of how the graph is modified before being executed. Currently only final graph is saved if VLOG level is 1. Extending it to the per optimization level is much more useful than saving the final graph, since it is already possible to get final graph through RunMet

[2019-01-11 01:48] samikama commented on #24843
tagging @azaks2  since we discussed this a few months back and current implementation is not covering this issue.

[2019-01-11 02:04] gyliu513 commented on #24822
@ymodak but when people follow the guidance here https://github.com/tensorflow/tensorflow#installation , they will encounter same issue as me, I think the document needs to be updated?

[2019-01-11 02:12] iSevenDays commented on #20517
Does anybody have a compiled version for mac CPU?

[2019-01-11 02:12] lorenzoriano opened #24844 "BUS Error, likely with blas"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-01-11 02:20] faciler commented on #24487
This is probably because tensorflow::ops::Relu() doesn't work properly.

[2019-01-11 02:22] Alnlll commented on #22706
Tried some wheels in https://github.com/tensorflow/tensorflow/issues/22706#issuecomment-447706296,
I keep getting such error when using tensorRT int8 inference:
[code]
Also I built a wheel based on nvidia tensorflow docker 18.12(py27), the same error.

Does anyone run into this error and solve it?

[2019-01-11 02:44] GzuPark opened #24845 "Different with keras.layers.Dropout and tensorflow.keras.layers.Dropout, rate argument"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (sourc

[2019-01-11 02:49] zjj2wry commented on #21745
@erwa thank you, that works fine

[2019-01-11 03:02] #24545 closed

[2019-01-11 03:14] hoavt-54 commented on #23716
Hi there, is there any update on this?

[2019-01-11 03:16] hoavt-54 commented on #23716
Hi there, is there any update on this?
I was able to compile TF on Nvidia Jetson tx2 but still see "ARM64 does not support NUMA - returning NUMA node zero".

[2019-01-11 03:30] wangzhe258369 commented on #24835
1. Hit the Windows key, type `gpedit.msc` and press Enter.
2. Navigate to `Local Computer Policy > Computer Configuration > Administrative Templates > System > Filesystem`.
3. Double click the `Enable Win32 long paths` option and enable it.

ref: https://superuser.com/questions/1119883/windows-10-enable-ntfs-long-paths-policy-option-missing

[2019-01-11 03:46] yann-yy commented on #24794
Finally, I built successfully with `bazel 0.21.0` and `gcc 5.3.1`. It seems `eigen` requires `gcc 5+` when compile with `-mavx512f`.
My build command is `bazel build --config=opt --copt=-mavx512f --cxxopt=-fabi-version=6 --incompatible_package_name_is_a_function=false //tensorflow:libtensorflow_cc.so`
I'm testing the binary now.

[2019-01-11 03:46] nmerrill67 commented on #10155
Check out [this thread](https://github.com/tensorflow/tensorflow/issues/14713). This is possible with a custom hook.

[2019-01-11 04:02] yongtang commented on #18250
@w4-sjcho WebP support has been added to tensorflow/io (tensorflow/io#43). It allows you to feed WebP image format into tf.data and used in tensorflow. You could give it a try if interested.

For `decode_webp` type of API, will look into api review team first.

[2019-01-11 05:33] geyungjen commented on #24781
I ran convolutional_network.py without modification from

https://github.com/aymericdamien/TensorFlow-Examples/tree/master/examples/3_NeuralNetworks

1. On stock tensorflow pip installed

time python convolutional_network.py

Note: it said:

2019-01-11 00:17:24.826687: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled t

[2019-01-11 05:38] HareshMiriyala commented on #8830
What if i donot have the cuda folder in /usr/local ? I'm trying to run it on cloud and I use module to load cuda.

[2019-01-11 05:40] lppier commented on #22
My apologies, I had not realised there was no tensorflow support. My assuming brain thought that keras gpu support == tensorflow support.

[2019-01-11 05:46] rnreich opened #24846 "gpu installation automation"
installation with gpu is very difficult. could you please publish a one-command script that does the whole process? see a list of the steps here (i wrote them):

https://github.com/rnreich/ubuntu-tensorflow-gpu-all-versions

[2019-01-11 05:48] facaiy commented on #24686
@tomerk Hi, Tomer. Could you answer the question?

[2019-01-11 05:51] aaroey commented on #23853
I can reproduce the error and I added a mutex which did solve the problem. I'll make a fix soon.

[2019-01-11 06:11] rafalfirlejczyk commented on #24834
Thank you ymodak.
I installed the vitualenv via pip install and followed your instruction adopting it to the Windows, (yours is for Linux).
My python is mapped to python3.
**virtualenv -p python venv-tf-nightly-2.0
venv-tf-nightly-2.0\Scripts\activate
pip3 install tf-nightly-2.0-preview**

Still get the same environment error:

**(venv-tf-nightly-2.0) C:\Users\brm738>pip3 install tf-nightly-2.0-pr

[2019-01-11 06:34] Mickeypeng commented on #7993
Many thanks!

[2019-01-11 06:37] rafalfirlejczyk commented on #24830
**No difference.** In both cases CPU and NNAPI, the timings are similar - between 300ms and 400ms - when set to mobilenet V1 floating point model.
**Does it mean: NO driver available?**
Setting the model to quantize makes the inference faster for both CPU and floating point case. In both cases I got between 50ms and 150ms.
**Is setting UseNNAPI(true) needed to activate the driver?**
I set it to **

[2019-01-11 06:59] liupeng89 opened #24847 "Upgrade tensor flow from 1.9 to 1.12, Using tf.keras : ImportError: cannot import name 'Layer'"
'from tensorflow.keras.layers import Embedding, Dense, Input, Dropout, LSTM, Activation, Conv2D, Reshape, Average, Bidirectional'

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-4-b2fcd5276851> in <module>()
----> 1 from tensorflow.keras.layers import Embedding, Dense, Input, Dro

[2019-01-11 07:00] Shailendra2803 commented on #21526
hi,
Any update on  Quantized TransposeConv (#21394) issue?
Is it already part of any release or yet under development?

Regards
Shailendra Singh Yadav

[2019-01-11 07:11] rafalfirlejczyk commented on #24830
According to this source:
**https://www.xda-developers.com/honor-view-10-mini-review/**
Kirin 970 should have the driver and NNAPI support:

_Beyond the dedicated Kirin AI API, the NPU can be accessed through Android’s Neural Networks API (NNAPI), and it supports many popular machine learning platforms such as Facebook’s Caffe2 and Google’s TensorFlow and TensorFlow Lite. In other words, apps with

[2019-01-11 07:21] astu9880 commented on #24308
@MaeThird When I run the code on the given reference on 1.12 tf, i get the error in the line tf.lite.OpsSet.TFLITE_BUILTINS
Error:
AttributeError: module 'tensorflow' has no attribute 'lite'

I tried changing it to:-
tf.contrib.lite.OpsSet.TFLITE_BUILTINS as well.
But it is unable to find OpsSet atrribute for lite. Any idea about how to solve this?

[2019-01-11 07:34] mnboos commented on #7258
@guikarist Thanks for your effort! Unfortunately, none of my unresolved symbol errors disappeared. I updated the `BUILD` file as well as the `tf_exported_symbols_msvc.lds`.

Any idea what could be wrong?

Here the part from the `BUILD` file, would be nice if you could have a quick look:

[code]

[2019-01-11 07:58] guikarist commented on #7258
@mnboos Have you added your unresolved symbols into `patches\tf_exported_symbols_msvc.lds`?

[2019-01-11 07:59] breadbread1984 opened #24849 "GradientTape return none for variable not being present in expression"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.12
- Are you willing to contribute it (Yes/No): No

**De

[2019-01-11 08:09] AzizCode92 commented on #24795
Hello @msymp, thank you for your answer. Yes part of my question should be treated as lack of the documentation for handling the moving_mean/moving_variance in case of
1. bidirectional rnn (how to keep track of the update_op inside the while_loop ).
2. distributed training (maybe extend the batch_norm to include number of gpus (int variable: optional) and it will handle averaging the mean/variance

[2019-01-11 08:12] freedomtan commented on #24830
As far as I know, there is no standard way to check if there are NN HAL drivers and if they are configured properly. Enable NNAPI debugging may be helpful:
[code]
then you can check message with `adb logcat`

[2019-01-11 08:16] mnboos commented on #7258
Yes. Some of the errors even were symbols, that already were existent in this file. It looks like somehow this file is being ignored. On the other hand, after every change of this file and starting the build of tensorflow, it will link the libtensorflow_cc.so.

[2019-01-11 09:05] shawnthu commented on #17272
I have the same issue when using tf.estimator, running the simplest iris code.

[2019-01-11 09:23] mayou36 commented on #22384
@ymodak this issue still persists in 1.12 (binary) and the corresponding PR #22420 has been closed and the branch deleted. Seems also that I am not the only one affected. Can we reopen this?

[2019-01-11 09:37] erniejunior opened #24850 "Too many LSTM implementations (6)"
**System information**
- TensorFlow version: v1.8
- Doc Link: [tf.contrib.rnn.LSTMCell](https://www.tensorflow.org/versions/r1.8/api_docs/python/tf/contrib/rnn/LSTMCell), [tf.contrib.rnn.LSTMBlockCell](https://www.tensorflow.org/versions/r1.8/api_docs/python/tf/contrib/rnn/LSTMBlockCell), [tf.contrib.rnn.LSTMBlockFusedCell](https://www.tensorflow.org/versions/r1.8/api_docs/python/tf/contrib/rnn/LS

[2019-01-11 10:16] rafalfirlejczyk commented on #24830
thank you.
I followed your advice. Attached is the logcat log.
Here are some filtered lines. You can see a possible problem:
**Device ipuadaptor can't do operation CONV_2D**

[honor10view-nnapi-logcat.txt](https://github.com/tensorflow/tensorflow/files/2749187/honor10view-nnapi-logcat.txt)

01-11 10:50:09.006 26033 28849 I TfLiteCameraDemo: Changing model to mobilenet v1 float device NNAPI
01-11 1

[2019-01-11 11:04] erniejunior commented on #24850
Seems like the issue is considered by the roadmap for v2.0 (read it here in [short](https://www.tensorflow.org/community/roadmap) or [long](https://groups.google.com/a/tensorflow.org/forum/#!topic/discuss/bgug1G6a89A)).

[2019-01-11 11:10] #23257 closed

[2019-01-11 11:38] ema987 commented on #21566
Hi @petewarden, shall we use then Graph Transform Tool in place of optimize_for_inference wherever it is used? Is there a newer alternative since you say it's becoming out of date? Thank you.

[2019-01-11 11:56] #9738 closed

[2019-01-11 13:19] pkit commented on #11736
Yep, definitely still a problem in current `master` (doh!)

    python: can't open file 'external/local_config_cuda/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc': [Errno 2] No such file or directory
    Target //tensorflow/tools/pip_package:build_pip_package failed to build
    Use --verbose_failures to see the command lines of failed build steps.
    INFO: Elapsed time: 6.132s, Critica

[2019-01-11 13:21] freedomtan commented on #24830
That's interesting. `...can't do operation DEPTHWISE_CONV_2D` kinda makes sense to me ('cause the hardware may be designed before Mobilenet V1, so it doesn't support depthwise convolution. But `can't do operation CONV_2D` looks weird. You may want to try older well-known network, such as Inception V3 and SqueezeNet. Check [1] and [2] for some pretrained TFLite models.

[1] https://github.com/tenso

[2019-01-11 13:38] februarysea commented on #24831
the reason is I import local dataset:`mnist = input_data.read_data_sets('MNIST_data',  one_hot=True)`

it should be `mnist = input_data.read_data_sets('MNIST_data')`

[2019-01-11 13:39] Alireza89 opened #24854 "second max_pool probably is missing in "create_conv_model" function in tensorflow/examples/speech_commands/models.py"
in function `create_conv_model()` which is defined in: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/speech_commands/models.py

It seems that the second max pool is missing.
Due to the documentation of the function this should be the layout of the graph:

&nbsp;(fingerprint_input)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;v
 [Conv2D]<-(weigh

[2019-01-11 13:47] Vooblin opened #24855 "[Error, Quantization] tf.nn.quantized_conv2d with filter type tf.qint8"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1

[2019-01-11 14:21] MarcelBeining commented on #19913
Having the same issue with SGD optimizer, also tensorflow version 1.8.0

[code]

It works as soon as I do not provide any parameters to SGD  (`Optimizer = tf.keras.optimizers.SGD() ` )

[2019-01-11 14:56] ehennis commented on #24835
@wangzhe258369 I did have the setting at that location. I was down in the NTFS section looking earlier.

[2019-01-11 15:06] Randl commented on #13641
As far as I understand, the idea is to through out the direction which is "parallel" to the family of the SVDs, since it will not move you to another family. While this is not a gradient, neither equals to numerical gradient, it could possibly work well. Also I think it will get you out of the region with undefined gradient.

I'm not sure why such an instability would exist. For distinct singular

[2019-01-11 15:42] tfboyd commented on #7993
@Mickeypeng   I do not know if that was for me but if so you made my morning better.  :-)

[2019-01-11 16:38] ehennis opened #24856 "Eager Execution Guide link is broken"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: v2.0
- Doc Link: https://github.com/ehennis/Blog/tree/master/TensorFlow

*

[2019-01-11 16:46] suphoff commented on #14518
I am contemplating implementing a dataset using an index file to allow random access to (uncompressed) TFRecord files and came across this issue.

- @saeta  Did you have TFRecords in mind for index support? (and if so - did you get a chance to implement anything?)

- As for the original issue: Changing the operation from shuffling a dataset to transforming an index dataset by reading the correspon

[2019-01-11 16:50] jdduke commented on #24308
@astu9880, can you try using the nightly TF build instead?

[2019-01-11 16:51] jdduke commented on #24161
The nightly TF/TFLite builds should have resize_bilinear, and it will also be in the upcoming 1.13 release.

[2019-01-11 16:51] #24161 closed

[2019-01-11 17:07] jdduke commented on #22884
The CMake-based build path for TensorFlow Mobile is a best effort project, and it's sadly unsurprising that it's out-of-sync with the proper source tree. I would strongly encourage you to try the bazel-based build path again. I was able to build successfully using NDK r15c:

[code]

The relevant bazelrc section after running `./configure` from the root checkout directory:

[code]

[2019-01-11 17:29] psmlbhor opened #24857 "Getting wrong predictions after saving and reloading an Estimator"
I am trying to save an `Estimator` and then load it to predict as required. Part where I train the model:

    classifier = tf.estimator.Estimator(model_fn=bag_of_words_model)

    # Train
    train_input_fn = tf.estimator.inputs.numpy_input_fn(
        x={"words": x_train},  # x_train is 2D numpy array of shape (26, 5)
        y=y_train,                   # y_train is 1D panda series of length 26

[2019-01-11 17:37] ymodak commented on #22384
@yongtang Do you have any updates on the PR #22420? Thanks!

[2019-01-11 17:45] omalleyt12 commented on #24845
`rate` is what fraction of neurons you drop, i.e. everything would be zeros. In general, this is not something users should be able to do. This error is intended, except perhaps it should mention `rate` if the `rate` arg is used rather than `keep_prob`

[2019-01-11 17:49] ymodak commented on #24834
Thanks for the information. This issue is likely due to limitation of path length on windows. See a duplicate issue #24835

[2019-01-11 18:36] ymodak commented on #24847
Can you try,

[2019-01-11 18:38] girving commented on #23561
@gunan @yifeif Let me if that test case isn't reproducible, or if more information would help for some other reason.

[2019-01-11 18:45] tomerk commented on #24686
Hi @facaiy what question still needs answering?
As you mentioned this is still a known limitation, because Jupyter notebooks don't capture C++ output.

We've decided to not add python-specific logic at this time (which we could do by running py_funcs internally) because it would prevent universal exporting of models that use `tf.print`

I've bumped the relevant issue on the ipython kernel's github

[2019-01-11 18:47] mhurliman commented on #24839
Same here. +1

[2019-01-11 18:49] ymodak commented on #24850
Thanks for sharing the roadmap links @erniejunior. We can expect better structured tf.contrib module after TF 2.0 official release.

[2019-01-11 18:50] #24850 closed

[2019-01-11 18:55] msymp commented on #23946
Thank you @sanjoy.

[2019-01-11 18:56] tensorflowbutler commented on #24125
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-11 18:57] tensorflowbutler commented on #24562
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-11 18:58] msymp commented on #19611
Thank you @ezhulenev

[2019-01-11 19:06] rafalfirlejczyk commented on #24834
Not possible to get rid of path length limitation on Windows 7. I have to upgrade to Windows 10

[2019-01-11 19:08] Hemnepal commented on #418
I have matrices of different shape, I want to use them as an input in Tensorflow or Keras, any suggestions how to proceed on this?

[2019-01-11 19:13] rootkitchao commented on #24839
I don't know if the nightly version of Tensorflow 1.13 supports CUDA10.0.However, the stable version of Tensorflow 1.13 installed via PIP does not support CUDA10.0.

[2019-01-11 19:19] msymp commented on #24735
Hi @Maxtoq , I believe you may have narrowed it down. Can you please submit the issue with the Bazel GitHub community, since it is a bazel / MSVC 2015 issue along with your specific environment. Their link is: https://github.com/bazelbuild/bazel/issues
Meanwhile we will close the issue here. Thanks.

[2019-01-11 19:19] #24735 closed

[2019-01-11 19:22] robinqhuang commented on #22884
android_arm64 build failed which we need to support

[2019-01-11 19:24] ymodak commented on #24856
The link you are pointing in this issue is incorrect since you are the owner of the repo.
I think you meant this link for the [eager execution guide](https://github.com/tensorflow/docs/tree/master/site/en/r2/tutorials/eager)

[2019-01-11 19:32] msymp commented on #24794
@yann-yy , glad to hear that. Since we have addressed your initial query, we shall close the issue now. Thanks.

[2019-01-11 19:32] ehennis commented on #24856
Jeez, copy and paste issue.

Here is the page: https://github.com/tensorflow/docs/blob/master/site/en/r2/tutorials/eager/index.md. If you look at the link "eager execution guide" it goes to "https://github.com/tensorflow/docs/blob/master/site/en/r2/guide/eager" which gets a 404.

[2019-01-11 19:33] ehennis commented on #24856
I can edit the original if that would make more sense.

[2019-01-11 19:37] Maxtoq commented on #24735
I'll do that.
Thanks

[2019-01-11 19:43] ymodak commented on #24856
@lamberta Can you please take a look?

[2019-01-11 19:44] girving commented on #20517
Please stop asking for other people to provide compiled binaries.  In addition to spamming everyone interested in when official Python 3.7 support lands, asking on a publicly commentable page for someone to send you a binary to run is not particularly secure.

[2019-01-11 19:44] asimshankar commented on #24231
(Apologies for the delayed response, didn't notice this issue earlier).

Backward edges are a bit iffy and making the API more prominent makes it easy to create invalid/incorrect graphs, which I'd like to avoid.

Even in Python we are moving towards a representation of loops in the graph that does not involve backward edges (see https://github.com/tensorflow/tensorflow/blob/1d1aeb64b91effd4329965c

[2019-01-11 19:57] phymbert commented on #23649
tensorflow/contrib/makefile are building c++ core lib (tensorflow-core.a), but you still need the c api in tensorflow.so (c/c_api.h).

[2019-01-11 20:15] jdduke commented on #22884
What is the arm64 failure you're seeing? There's a known issue with certain NDK versions and arm64 builds where you need to change the NDK API version. See also issue #20192. In particular, if you change `ANDROID_NDK_API_LEVEL` in `.tf_configure.bazelrc` to 21, then `--config=android_arm64` ought to build. Can you give that a try?

[2019-01-11 20:16] reedwm commented on #24067
@alextp, you think we should add an optional argument, say `include_batch_in_index`, that will revert the CPU version back to it's old behavior? That way if someone's model breaks because we changed the CPU version, they can pass the flag to go back to the old behavior.

[2019-01-11 20:22] gptshubham595 commented on #22300
help same issue
`ImportError                               Traceback (most recent call last)
C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py in swig_import_helper()
     17         try:
---> 18             fp, pathname, description = imp.find_module('_pywrap_tensorflow_internal', [dirname(__file__)])
     19         except ImportError:

C:\ProgramData\Ana

[2019-01-11 20:23] alextp commented on #24067
SGTM

On Fri, Jan 11, 2019 at 12:20 PM Reed <notifications@github.com> wrote:

--
 - Alex

[2019-01-11 20:40] #23768 closed

[2019-01-11 20:43] andrehentz commented on #24755
There is no GraphDef equivalent to a .tflite file. If you need to make transformation to the GraphDef, the best approach is to do so before you use toco.

[2019-01-11 21:10] reedwm commented on #24067
Ok, someone should add an `include_batch_in_index` attribute which defaults to False, and implement both cases for the CPU version. Then @facaiy or someone else can modify #23993 to use the attribute.

@facaiy, do you want to modify #23993 once support for the attribute is in? Also, if you want to, you can add the attribute as well.

[2019-01-11 21:11] shoubhik commented on #24855
I ran the stock code (installed from conda) on mac with tensorflow 1.12 and got the following error after running the above code
[code]

This is the **error log** I am getting, is this the expectation? Do I need to compile tensorflow with `mkl` to test the quantized ops?

[code]

[2019-01-11 21:30] ymodak commented on #24824
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-01-11 21:37] andrehentz commented on #18731
I think there is partial support in TOCO for converting placeholder_with_default. The SwitchMerge restriction has to do with TF Lite not supporting control flow, right?

[2019-01-11 21:50] miaout17 commented on #24825
Type 2 is DOUBLE (see also `tensorflow::DataType` definition).

TensorFlow Lite doesn't support double type now. The easiest way is modify your graph and use float instead.

I'm closing this ticket as this is working as intended. Please file a feature request if you think double is required for your use case. Then we'll prioritize accordingly. Thanks!

[2019-01-11 21:50] #24825 closed

[2019-01-11 21:51] martinwicke commented on #20444
TensorFlow will have a 3.7 on pip when its dependencies have one. This, in particular, means protobuf. There are patches for protobuf making it possible to work on 3.7 (since November, roughly), but there hasn't been a release yet.

[2019-01-11 21:55] gargn commented on #24734
This should be fixed in the latest tf-nightly.

[2019-01-11 21:58] miaout17 commented on #24830
@miaowang14 Could you help to comment on this issue?

[2019-01-11 21:58] jdduke commented on #24734
Yeah, this should be fixed with 9f3acf3d89a4ef5f9313a6e2cb2d81e03177e8ef, apologies for the trouble.

[2019-01-11 21:58] #24734 closed

[2019-01-11 22:04] jdduke commented on #24059
Can you add some more details about this? How did the performance differ relative to running the native benchmark_model? Is your imgData a ByteBuffer or multi-dimensional array?

[2019-01-11 22:05] miaowang14 commented on #24830
I believe the key error msg is the following:
01-11 10:50:09.066 740 13436 E aiserver: AiModelMngrServic::getSupportedOperations_1_1 not relaxed Model.

The main reason is that currently the NPU in Honor 10 View can only accelerate models with relax precision computation (basically FP16 precision). The mobilenet model bundled in the demo is FP32, and by default FP32 models imply full precision FP3

[2019-01-11 22:33] andrehentz commented on #24730
Are you resizing the input tensor in java in any way? It looks like the op is expecting a 4D tensor, but is getting an empty tensor (0D) instead???

[2019-01-11 22:41] jdduke commented on #24730
Also, when you converted your .tflite model, what shape did you specify for the input tensor?

[2019-01-11 23:02] asimshankar commented on #24450
For the record, fixed by #24840
Thanks @sdeoras

[2019-01-11 23:02] #24450 closed

[2019-01-11 23:06] preethivenkatesh commented on #24781
Thank you for the information. I don't think tensorflow 1.13 is officially out yet. I don't see an announcement for 1.13. However, I did a quick test on the RNN example from your link with TF 1.12 on a Haswell processor and was able to see about 2x speed-up. Looks like you are using a conda package manager and If you are interested to try it out, rather than building from source you can just do a

[2019-01-11 23:07] asimshankar commented on #24483
For the record, fixed by #24813
Thanks @samdow @irenedea @melissagrueter

[2019-01-11 23:07] #24483 closed

[2019-01-11 23:20] robinqhuang commented on #22884
tensorflow build for arm64 now.

but I still have link issue for my app: undefined reference to 'google::protobuf::io::CodedInputStream::SetTotalBytesLimit.

Please see my source code at beginning.

BTW,
(1)how to build with cmake , any working branch is ok. I would like to give a try.

(2) --config=android_x86 is not supported ?

(3) I know tf mobile will be deprecated. but tflite support rnn alr

[2019-01-11 23:36] nmerrill67 opened #24863 "AttributeError: 'MirroredStrategy' object has no attribute 'read_var'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below): 1.12

[2019-01-11 23:44] miaout17 commented on #24830
I think `Interpreter::SetAllowFp16PrecisionForFp32(true)` is the key solution. I'm closing the ticket as the question is answered. Please reopen if you have further questions.

[2019-01-11 23:44] #24830 closed

[2019-01-11 23:45] jiayiliu commented on #21024
Similar problem again with `Key Error: 'ExperimentalIteratorGetDevice'`.  Unfortunately resampler doesn't work this time.
 I am using tf ver=1.11.0 and http://download.tensorflow.org/models/official/20181001_resnet/checkpoints/resnet_imagenet_v2_fp32_20181001.tar.gz

[2019-01-11 23:50] facaiy commented on #24686
Thanks for your detailed explanation, and workaround :-)

[2019-01-11 23:55] ymodak commented on #24745
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-11 23:55] #24745 closed

[2019-01-11 23:56] ymodak commented on #24712
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-11 23:56] #24712 closed

[2019-01-11 23:56] #24642 closed

[2019-01-11 23:57] ymodak commented on #24563
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-11 23:57] #24563 closed

[2019-01-11 23:59] ymodak commented on #24167
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-11 23:59] #24167 closed

[2019-01-11 23:59] ymodak commented on #24141
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-11 23:59] #24141 closed

[2019-01-12 00:02] #23198 closed

[2019-01-12 00:02] ymodak commented on #23198
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-12 00:05] guptapriya commented on #17851
Hi @jrabary, i am working on an example right now to train MNIST using multi GPU in eager mode. It works, but it is very slow right now, so as of now it will not actually be useful to scale things up. I will share it when it is submitted so you can get an idea of how the API will be used (by next week).
We will look into the performance, but I don't have an ETA on that yet.

[2019-01-12 00:06] irenedea commented on #24231
Thanks for the information @asimshankar!

Reading through the RFC, it seems that there is support for taking the gradient of the entire while loop; however, we were wanting to calculate gradients *within* the body of the while loop (for example, training a model via gradient descent). Are there any plans to add support for this use case?

[2019-01-12 00:14] awav opened #24865 "[TF2.0] Custom variables"
Hello all,

I'm testing new features of TF2.0. Especially, I'm interested in creating custom variables. According to [Variables RFC](https://github.com/tensorflow/community/blob/master/rfcs/20180817-variables-20.md) description, it must be easy to do:

But, I'm getting errors and because of lack of the documentation, I can not figure out either I do something wrong or this feature doesn't work at

[2019-01-12 00:14] asimshankar commented on #24231
I'm probably missing something, but why do edges need to be updated when computing the gradient within a single iteration of the loop? The original issue description talks about creating an edge from a `NextIteration` to a `Merge`, but these don't appear within the body subgraph of the loop, right?

Could you describe the graph that you want to create in a bit more detail? Thanks.

[2019-01-12 00:17] lamberta commented on #24856
Fixed in https://github.com/tensorflow/docs/pull/295
Thanks

[2019-01-12 00:17] #24856 closed

[2019-01-12 00:47] shoubhik commented on #24855
Could it be because of QuantizedConv2D being registered like this

[code]
[here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/quantized_conv_ops.cc#L587-L595)

[2019-01-12 01:01] twalk4821 commented on #24730
I thought of that as well, was hopeful that would have been the problem. I believe this is the command I used:

`
tflite_convert --output_file=/export/model.tflite --saved_model_dir=//export/1546746950 --input_shapes=1,100,100,1 --input_arrays=Placeholder
`

[2019-01-12 01:11] twalk4821 commented on #24730
I just want to say thank you guys for your responses, I hope this isn't a waste of time for you.

I thought of that as well, was hopeful that would have been the problem. This is the command I used:

`tflite_convert --output_file=/export/model.tflite --saved_model_dir=/export/1546746950 --input_shapes=1,100,100,1 --input_arrays=Placeholder
`

As far as transforming the input, all I am doing is pas

[2019-01-12 01:15] irenedea commented on #24231
You are correct that we do not need to use `updateEdge` for anything other than creating an edge from a `NextIteration` to a `Merge`. This issue description was purely to add support for creating a while loop.

The functional solution outlined in the RFC looks promising, but from playing around with the python `while_v2` implementation, it errors when we attempt to  generate gradients within the b

[2019-01-12 01:20] mdsimmo commented on #19584
I've built tf 1.13.0 for CPU without any fancy instructions here:
https://github.com/yaroslavvb/tensorflow-community-wheels/issues/97
Hope it helps someone

[2019-01-12 02:10] DevDaring commented on #24562
Hello Team,
Thanks for your cooperation.
I found the root cause of the issue.
I was using portable python package.I installed tensorflow in that package.It created a long path of some files that same path was replicated in local cache.Due to long path name in cache,it was not properly created hence the issue occurred.
I just put my package outside of folder,directly in drive and it worked.You can

[2019-01-12 02:49] samdow opened #24866 "Gradient descent in the body of while loop (v2) causes error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.13.6, TensorFlow r1.12
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version (use com

[2019-01-12 03:20] kevinyen-oath commented on #23431
I'm at version 1.12.0, and `model.save_weights('my_weight.h5')` works fine.

I did ran into the callback issue as well. The following seems to work for me
[code]

However this doesn't work and raises `AttributeError: 'NoneType' object has no attribute 'save_weights'` like OP's issue.
[code]

[2019-01-12 03:43] askerlee commented on #17022
It's stupid to me that python 3.7 is still not support yet..

[2019-01-12 04:01] sharypovandrey commented on #20881
I also trying to convert keras biLSTM to tflite model, but still have the same issues. Waiting for a support

[2019-01-12 04:54] panfengli opened #24868 "TF tutorial for Custom Layers seems not work for multiple GPUs case"
In the tutorial [Custom layers](https://www.tensorflow.org/tutorials/eager/custom_layers), it says to extend the `tf.keras.Layer` class. However, Keras layer doesn't have `_reuse` attribute, and it doesn't work for multiple GPUs case. I check that in the `tf.layers.conv` definition script, it inherits from two classes:

[code]

The second class provides support for variable reuse.

I am wondering

[2019-01-12 05:16] #24868 closed

[2019-01-12 07:33] learnermaxRL commented on #24828
In the meanwhile I have tried with Cudnn versions : 7.1,7.0.5,7.3,7.4 , gcc6,still no luck, however I dont get any of these issues when i installed it from conda using conda install tensorflow-gpu.
However I want to build from source hence I would prefer if this issue is resolved

[2019-01-12 08:02] martinwicke commented on #24726
@alextp I believe this is intentional (for optimization purposes) but I agree it needs to be very clear in the docs.

[2019-01-12 08:05] martinwicke commented on #24759
I believe this is an autograph issue?

[2019-01-12 08:08] #24549 closed

[2019-01-12 08:09] ymodak commented on #24549
Apologies for the delay in response. @Maxtoq  Is this still an issue for you? Can you share your progress till now? We can reopen this issue if required. Thanks!

[2019-01-12 08:56] learnermaxRL commented on #22994
Also try to load the model from same version in which you created the frozen graph,that might solve this

[2019-01-12 09:18] ageron commented on #24726
Thanks @martinwicke , I was afraid it might be intentional.  This behavior is really surprising to me, and even now that I know it, I am concerned that I might unintentionally fall into this trap again. Perhaps it should be opt-in, somehow. Can you please give an example of where it might be useful?

[2019-01-12 10:55] Vooblin commented on #24855
@shoubhik There is another kernel for `quantized_conv2d()` with `mkl` in `tensorflow/core/kernels/mkl_conv_ops.cc`:
[code]

[2019-01-12 11:42] lyhue1991 commented on #24686
@facaiy Yeah, maybe the best approach to solve this problem is to let ipykernel capture output coming from C and C++ libraries. @tomerk Thank you for your explanation.

[2019-01-12 12:11] gauravshimpi commented on #8385
Hello,

i have the Visual C++ Redistributable 2015 x64 as well as DLL (msvp..) file too....
i am using tensorflow for the first time on windows 10
when i m running the following statement in python
import tensorflow as tf
==============================================================
it gives the following error
==============================================================
import tensorflow as tf

[2019-01-12 12:58] jiujiangxueyuan opened #24869 "install error"
FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\acer\\AppData\\Local\\Temp\\pip-build-dvj27vs5\\tf-nightly-gpu-2.0-preview\\tf_nightly_gpu_2.0_preview-1.13.0.dev20181221.data/purelib/tensorflow/include/tensorflow/include/external/eigen_archive/Eigen/src/IterativeLinearSolvers/LeastSquareConjugateGradient.h'

[2019-01-12 13:58] redna11 commented on #22706
Does it include nccl 2.3.7? I have installed nccl but TF cannot find it.

[2019-01-12 14:11] shoubhik commented on #23157
@wt-huang, if I want to create custom op for `tf.nn.quantized_conv2d` where I register the data types I want, is there a way to do so? What I am thinking is registering my own kernels only like this

[code]

[2019-01-12 14:55] rafalfirlejczyk commented on #24830
I changed  **interpeter.cc** in three places. Please verify if OK

**Line 48**:
for (int i = 0; i < kTfLiteMaxExternalContexts; ++i) {
    external_contexts_[i] = nullptr;
  }

  UseNNAPI(**true**);
}

**Line 150:**
void Interpreter::UseNNAPI(bool allow) { primary_subgraph().UseNNAPI(**true**); }

**Line 165:**
void Interpreter::SetAllowFp16PrecisionForFp32(bool allow); {
  for (auto& subgraph : s

[2019-01-12 14:59] ageron commented on #24759
Thanks for your feedback @mdanatg.  Indeed, until a fix is found, I like the idea of reverting to `autograph=False` and outputting a warning. Or perhaps simply having a more explicit error message?

[2019-01-12 15:10] mdanatg commented on #24759
Agreed, we'll definitely add a better error message.

[2019-01-12 15:14] Maxtoq commented on #24549
I still have the same issue. But I think the problem is that Bazel can't find the path of MSVC 2015 directories.
It was looking in the installation directory of Microsoft Visual Studio 2017. I uninstalled it and now Bazel just can't find any path for MSVC.
I posted my issue on the Bazel Stackoverflow to see if they can help.
I don't think we need to reopen this issue, unless someone has an idea. B

[2019-01-12 15:35] BrunoCapron opened #24870 "tensorflow installed but cannot be imported"
**System information**
- Microsoft Windows 10 Home Single Language
- TensorFlow installed from binary
- TensorFlow version: 1.12.0 but also tried bit 1.5.0 and 1.11.0
- Python version: Python 3.6.8 and also tried 3.5.2
- Installed using virtualenv? pip? conda?: tried using pip and conda
- CUDA/cuDNN version: cannot find a cuda or cudnn file
- GPU model and memory: Nvidia geforce 840 - Total memory

[2019-01-12 16:59] triple-tam commented on #24548
@rootkitchao I'd like to try out your suggestion, but could I get some more details please? I'm new to such environments, and I am getting the same error.
- I have a GPU, and my TF is installed with GPU-support, so why is it trying to access/match instruction sets with my CPU?
- If it's still necessary for me to fix this CPU issue, where can I find a pre-compiled TF with SSE2 or SSD4_1 instruction

[2019-01-12 17:52] wendli01 commented on #19567
For me an arbitrary combination of reinstalling tensorflow and/or CUDNN and/or CUDA solved the problem unreliably.

However `tf.reset_default_graph()` fixes it every time.
This can happen when some zombie process (invisible in nvidia-smi) has some memory allocated on the GPU.

Environment info

- Tensorflow 1.10.1
- Python 3.6.6
- CUDA 10.0
- cuDNN 7.3.1
- Nvidia Driver 410.78
- OS: Ubuntu 18.04 L

[2019-01-12 18:18] miaowang14 commented on #24830
Is it still showing "Device ipuadaptor can't do operation CONV_2D" with "adb shell setprop debug.nn.vlog 1"?

Just to make sure if the model is running on the NPU.

[2019-01-12 18:37] tensorflowbutler commented on #23944
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-12 19:04] prachm commented on #24870
I am facing a similar problem

System information

Microsoft Windows 10 Home
TensorFlow installed from .whl
TensorFlow version: tf-nightly-gpu-2.0-preview
Python version: Python 3.6.6
Installed using virtualenv? pip? conda?: pip
CUDA/cuDNN version: CUDA 10/cuDNN
GPU model and memory: Nvidia geforce 1050
The installation of tensorflow using the pip install tensorflow command was successful but when

[2019-01-12 19:08] narayant commented on #24870
Mac OS X EI Captain.Python Anaconda 3.6, am getting the following error when i run "from keras.models import Sequential"

Using TensorFlow backend.
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
/Applications/Anaconda/anaconda/lib/python3.6/site-packages/tensorflow/python/pywrap_tensorflow.py i

[2019-01-12 19:18] prachm commented on #24839
Same error faced with same config and CUDA 10

[2019-01-12 19:43] lenaevans opened #24871 "Documentation on reducing the binary size of tflite library on iOS"
**System information**
- TensorFlow version: r1.12
- Doc Link: https://www.tensorflow.org/lite/

**Describe the documentation issue**

The tflite library seems to add around 2.5 MB to my iOS binary, which is far bigger than the 700 kB claimed in the documentation. Are there custom build options for tflite like there was with tfmobile that can help get this library size down? I haven't been able to

[2019-01-12 19:54] narayant commented on #11281
System Information
Mac OS X El Captain
Python: Anaconda 3.6

I get this error when I execute the following command, can someone guide me in the right direction.

from keras.models import Sequential

ImportError                               Traceback (most recent call last)
/Applications/Anaconda/anaconda/lib/python3.6/site-packages/tensorflow/python/pywrap_tensorflow.py in <module>()
     57
--->

[2019-01-12 19:59] narayant opened #24872 "Unable to load native tensorflow"
Mac OS X EI Captain.Python Anaconda 3.6, am getting the following error when i run "from keras.models import Sequential"

Using TensorFlow backend.
ImportError Traceback (most recent call last)
/Applications/Anaconda/anaconda/lib/python3.6/site-packages/tensorflow/python/pywrap_tensorflow.py in ()
57
---> 58 from tensorflow.python.pywrap_tensorflow_internal import *
59 from tensorflow.python.pywra

[2019-01-12 20:32] amapic commented on #19564
Hi ymodak,
I managed to install tensorflow and tensorflow-gpu. What is your final goal ?

[2019-01-12 20:43] urialon opened #24873 "tf.sparse.to_dense warns that you should use itself"
**System information**
- TensorFlow version: 1.12
- Doc Link: https://www.tensorflow.org/api_docs/python/tf/sparse/to_dense
- Implemented here: https://github.com/tensorflow/tensorflow/blob/r1.12/tensorflow/python/ops/sparse_ops.py#L1115

**Describe the documentation issue**
Hi,
The function [`tf.sparse.to_dense`](https://github.com/tensorflow/tensorflow/blob/r1.12/tensorflow/python/ops/sparse_ops

[2019-01-12 21:43] yongtang commented on #24873
@urialon I think the issue has been fixed in #24037.

[2019-01-12 21:48] urialon commented on #24873
Right, thanks!

[2019-01-12 21:48] #24873 closed

[2019-01-12 22:45] nikhil-dev commented on #24571
@asimshankar Tried the above. By looking at the output from setting `log_device_placement=True`, I see that during the forward pass, it gets scheduled on CPU (even without the above hack). During the backward pass, `matrix_triangular_solve` still seems to be being placed on the GPU even with the hack.

[2019-01-13 01:56] samhodge commented on #23073
I can confrm following the instruction on how to build from source verbatim resulted in about 430 errors, but running the script mentioned by @gunan did not result in errors, perhaps the install instructions should be updated to repeat this script rather than worrying users building from source , because I need to to build from source, becaue I have an older CPU without AVX2 instructions

[2019-01-13 02:29] botev opened #24874 "Eager mode / AutoGraph control dependencies"
In the current main examples of `autograph` which uses eager mode when calling `opt.minimize` there is this comment:
[code]
So my question is could you clarify how this magic is happening behind the scenes (e.g. what are the conditions for which autograph creates these dependencies and if one wants to somehow force in eager mode some form of dependencies, how to achieve it. For instance consider t

[2019-01-13 02:59] ZijingPeng commented on #23763
@vishalghor I have the same problem as you. Sometimes it does not save .meta file, and once it instead saved ckp.meta.tmp854491c52a564b4a910a8836b8cb2734 which was an empty file. I have no idea with it. Have you got some solutions now?

[2019-01-13 04:16] priyagarg1304 commented on #13715
i have python version 3.6.5
and tensorflow (cpu) is installed

Traceback (most recent call last):
  File "C:\Users\JHGA\Desktop\pro\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\JHGA\Desktop\pro\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 28, in <module>

[2019-01-13 05:13] CtfGo opened #24875 "How to define a variable with different value for each tower under MirroredStrategy"
I tried to train model on multi-gpus with tf estimator and MirroredStrategy. And I found that variables of the model are wrapped as MirroredVariables which are always in sync among towers.

However, there is a variable that needs to have different value for each tower on every step of training, How to define such variable ? that is, a variable with locality T, refers to (https://www.tensorflow.org

[2019-01-13 06:43] martinwicke commented on #24839
We're still working on CUDA10 for some platforms. You can probably wait it out, shouldn't take much longer.

@av8ramit FYI.

[2019-01-13 07:31] yuvdar opened #24877 "TFLite Upsample Nearest Neighbors"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macos
- TensorFlow installed from (source or binary): 1.12 /  tf-nightly-1.13.0.dev20190112
- TensorFlow version (or github SHA if from source):

command: tflite_convert --keras_model_file=model.h5 --output_file=model.tflite --input_array=input_1 --inference_type=FLOAT --input_shape=1,512,512,3

I'm trying to convert

[2019-01-13 08:37] av8ramit commented on #24839
We are still working on adding CUDA 10 for Windows and the Ubuntu Python3.7 build for tf-nightly-gpu. Sorry for the delay and thank you for your patience. The official 1.13 will support CUDA 10.

[2019-01-13 09:39] ZeroCarlos commented on #18652
which makes the following sentence, os.environ['TF_CPP_MIN_LOG_LEVEL']='2' I understand that it is like a jump.

[2019-01-13 11:41] triple-tam commented on #24548
For others' reference, here is a useful repository of [custom TensorFlow builds](https://github.com/lakshayg/tensorflow-build). I tried installing one of their wheels, but then got "import tf; Illegal Instruction" so it's still a figuring-out-in-process, but maybe you'll have better luck with it

[2019-01-13 14:07] legion-zver commented on #18199
Still would Firebase Mlkit supported the acceleration out of the box, it would be cool... But as long as it's scary!

[2019-01-13 15:04] YunyanYao opened #24879 "how to control the dimension of operation tf.spectral.fft2()"
Hi TF, I am new here and wondering that

for a tf.tensor (placeholder) normally defined as shape=[batch_size, image_height, image_width, channel_number], along which dimensions would fft2 operate on?

what if I just want to do 2d fft in image domain, i.e. the middle two dimensions of the above fourth-order tensor?

huge thanks

[2019-01-13 16:19] seanpmorgan commented on #24409
@ppwwyyxx @erfannoury We'll be adding group_norm as a generalized layer_norm and instance_norm in Addons. tensorflow/addons#6

It'll be refactored though in a similar manner to the keras_contrib [GroupNormalization](https://github.com/keras-team/keras-contrib/blob/master/keras_contrib/layers/normalization.py#L415), so I'm not sure this issue will still be valid in the new implementation. We will a

[2019-01-13 16:40] Nayana-ibm commented on #23771
Closing this as TensorFlow can be built on s390x by disabling Apache Ignite support through ./configure

[2019-01-13 16:40] #23771 closed

[2019-01-13 16:48] Nayana-ibm commented on #22023
@gunan @benoitsteiner an you please confirm if using flag --copt=-DEIGEN_ENABLE_AVX512 is correct on Intel for vectoriztion?

We are still struggling with TenorFlow build failures on s390x with vetorization using flag  -march=z14 -mzvector.

[2019-01-13 16:49] Nayana-ibm commented on #22023
I have tried simple example using eigen vector functions on both the platforms : Intel and s390x.
On Intel , the code can compile with vectorization (by default -msse2 ) and generates output.

On s390x, compilation failed with an error:` __builtin_s390_vfi was not declared in this scope`.
Same issue is observed while building TensorFlow with vectorization on z14 vm.

I have used -march=z14 -mzvect

[2019-01-13 17:43] lenaevans commented on #24871
Nevermind, after compiling with size optimization, this seems to be a non-issue.

[2019-01-13 17:43] #24871 closed

[2019-01-13 18:35] tensorflowbutler commented on #24313
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-13 18:35] tensorflowbutler commented on #24328
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-13 19:02] ymodak commented on #24847
Closing this issue since its resolved. Thanks!

[2019-01-13 19:02] #24847 closed

[2019-01-13 19:07] pooyadavoodi commented on #22706
Perhaps you haven't run calibration which is required for INT8 unless you manually insert dynamic ranges.

Also I think you are using an old TF (perhaps 1.12?) because we have renamed `my_trt_op` to `TRTOpEngine`.

[2019-01-13 20:29] shoubhik opened #24881 "Support per channel quantized ops"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):1.12
- Are you willing to contribute it (Yes/No): Yes

**De

[2019-01-13 20:42] drselvimunuswamy opened #24882 "Tensorflow import issue"
**System information**
-Windows 10
-Python 3.6
-TensorFlow installed using pip3
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**
I am getting Importerror as  **DLL load failed: A dynamic link library (DLL) initialization routine failed.**
[code]

[2019-01-14 01:15] av8ramit commented on #24839
Unfortunately, I believe until CUDA 10 is supported you'll see this import error with CUDA 10 out of the box

[2019-01-14 02:01] xiaoyug0901 commented on #13096
Has anyone solved this problem? Thank you~

[2019-01-14 02:13] jackyLens commented on #13096
This is a bug in Windows environment. If you run your command in Ubuntu or Centos, it will be OK.

[2019-01-14 02:35] ljdang commented on #24059
@jdduke The model used to test the difference:
[model.zip](https://github.com/tensorflow/tensorflow/files/2753865/model.zip)
The imgData is ByteBuffer, and the outputArray is multi-dimensional array, according to the TFLite Java Demo. The timecost to run model inference is about 170ms.
But I profiled the model with the benchmark_model tool, the summary by node type shown below:
![screenshot from 2

[2019-01-14 02:48] guikarist opened #24885 "Complete support for building C++ API on windows using Bazel"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.11.0
- Are you willing to contribute it (Yes/No): Yes

*

[2019-01-14 03:15] PeterJaq opened #24886 "tf-nightly-2.0-preview failed to install on windows1809"
**System information**
- OS Platform and Distribution:Windows 10 1809 x64
- TensorFlow installed from (source or binary): binary
- TensorFlow version: tf-nightly-2.0-preview
- Python version: 3.6
- Installed using virtualenv? pip? conda?: use pip
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version: cuda 9.0
- GPU model and memory: gtx 1070

**Describe the problem**
When I try t

[2019-01-14 03:33] Alnlll commented on #22706
@pooyadavoodi Thanks for responding!!
1. It's a calibrated graph running correctly in [Nvidia TensorFlow docker 18.12](https://docs.nvidia.com/deeplearning/dgx/tensorflow-release-notes/rel_18.12.html#rel_18.12). Got this error when trying to run on TensorFlow generated from source as mentioned.
2. Yes, I'm using tensorflow r1.12 just for matching the docker, will give a try on r1.13.
3. Noticed th

[2019-01-14 04:41] YunyanYao commented on #24879
Numerically it seems that fft2 acquiescently operates on the first two dimensions of a predefined tensor

[2019-01-14 05:18] jesen8 commented on #23674
@gunan hello, i try to build libtensorflow.so by bazel that can succeed,but now i want to build a libtensorflow_cc.so, that's failed,detail is follow:

System information

    OS Platform and Distribution : windows10
    TensorFlow installed from : source
    TensorFlow version: r1.12
    Python version: Python 3.5.4
    Bazel version (if compiling from source): 0.19.0
    cuda 10.0, cudnn 7.3, gt

[2019-01-14 05:20] #24832 closed

[2019-01-14 05:44] idstein commented on #24676
As far as I understand NNAPI does not support LeakyRelu only Relu Relu1 and Relu6.

See operator mapping
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/nnapi/nnapi_delegate.cc

NNAPI documentation also does not list it. https://developer.android.com/ndk/reference/group/neural-networks

[2019-01-14 06:46] threeleafzerg opened #24887 "Distributed training fails when using CollectiveAllReduceStrategy"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes.
- OS Plat

[2019-01-14 06:58] Archernarkiu opened #24888 "Tflite Op missing:Stack"
**System information**
- OS Platform and Distribution (Linux Ubuntu 16.04):
- TensorFlow installed from ( pip ):
- TensorFlow version ( 1.10 ):

**Provide the text output from tflite_convert**

[code]

[2019-01-14 07:05] GzuPark commented on #24845
@omalleyt12 I can understand what you want to say, but my point is why they use different applied argument between `keras` and `tensorflow.keras`.

[2019-01-14 07:09] freedomtan commented on #24830
If you are not sure how to modify interpreter.cc, since `SetAllowFp16PrecisionForFp32()` is exported Java already, you may want to start from [ImageClassifier.java](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/java/demo/app/src/main/java/com/example/android/tflitecamerademo/ImageClassifier.java)

[2019-01-14 08:11] Archernarkiu commented on #24888
As far as I know, the Op 'Stack' is closely related to Op 'Strided_slice', and both of them seems easy to be implemented.
So I wonder why these Ops weren not supported by the standard TensorFlow Lite runtime.

[2019-01-14 08:24] gittyhub2018 opened #24890 "XLA Compiler Error "(...)C++ compilation of rule '//tensorflow/compiler/xla:window_util' failed (Exit 2): python.exe failed: error executing command""
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Version 1809 Betrie

[2019-01-14 08:50] LuckyPigeon commented on #24869
Have you install tensorflow-gpu instead of tf-nightly-gpu before?

[2019-01-14 09:06] sachin-ranka commented on #24663
I am getting this error while trying to follow the article (as suggested above)
[code]

Not sure what to do further, pls help me out...

[2019-01-14 09:22] Iamanorange opened #24892 ""Transient arrays with strings are not supported yet" when converting GraphDef to tflite file"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.12
-

[2019-01-14 09:47] wx1111 opened #24893 "the results of tf.image.decode_image() and opencv.imread() are different"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-01-14 10:07] padovanl commented on #24445
Does anyone have a solution or a motivation fot this behavior?

[2019-01-14 10:24] lucylqe commented on #21653
I also have this issue
2019-01-14 02:10:12.076965: E tensorflow/core/distributed_runtime/master.cc:269] Master init: Unavailable: OS Error
2019-01-14 02:10:12.077125: I tensorflow/core/distributed_runtime/master_session.cc:1017] DeregisterGraph error: Unavailable: OS Error
2019-01-14 02:10:12.077165: I tensorflow/core/distributed_runtime/master_session.cc:1017] DeregisterGraph error: Unavailable:

[2019-01-14 10:32] Invisible1 opened #24895 "Issue with training of object detection api (ssd_mobilenet_v2_coco.config)"
Command Used:
python train.py --logtostderr --train_dir=training/ --pipeline_config_path=training/ssd_mobilenet_v2_coco.config

Please guide me if i am doing something wrong.

Error Trace:
Traceback (most recent call last):
  File "train.py", line 163, in <module>
    tf.app.run()
  File "/home/tayyab/Desktop/tensor_android/local/lib/python2.7/site-packages/tensorflow/python/platform/app.py", line

[2019-01-14 10:58] jesen8 commented on #23342
hello,meteorcloudy, at first, i use the command which you give, bazel  build --config=opt //tensorflow:libtensorflow.so, then i build with it, there is no error, i'm so exciting !!!(because i had try to build with cmake for 3 days,but not success),but i think this will build a c api? i find some blog that tell me to use this command  build --config=opt //tensorflow:libtensorflow_cc.so which is for

[2019-01-14 11:04] alcaster commented on #21889
Same issue. I'm trying to use frozen model which uses elmo but if fails with the same error.

[2019-01-14 12:03] meteorcloudy commented on #23342
@jesen8 Can you try this solution?
https://github.com/tensorflow/tensorflow/issues/7258#issuecomment-450802749

[2019-01-14 12:04] ilovesusu commented on #20444
It seems difficult to support python3.7. It's been months and still no progress

[2019-01-14 13:41] iggy12345 commented on #24599
I will do that, thank you for your response!

[2019-01-14 13:41] georgesterpu opened #24897 "Fusing context and cell output in AttentionWrapper"
**System information**
- TensorFlow version (you are using): 1.12
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
`AttentionWrapper` fuses the `cell_output` and the `context` vector using an `array_ops.concat` operation when specifying an attention layer: [link](https://github.com/tensorflow/tensorflow/blob/r1.12/tensorflow/contrib/seq2seq

[2019-01-14 14:19] MatthewD1993 opened #24898 "TensorFlow tfrecord OutOfRange error"
In [src/datasets/h36m_edit.py](https://github.com/MatthewD1993/hmr_extend/blob/5a496695c0ebdc8207a847f4d83c49426a25e934/src/datasets/h36m_edit.py#L196-L229):
[code]

Sometimes the inner loop stops before it reaches the maximum iter limit (train_shards) 500.
[code]
And when it writes to the number 625 tfrecord file, there is OutOfRange error (it supposes to finish with more than 3000  tfrecord file

[2019-01-14 15:05] jvishnuvardhan commented on #24888
@Archernarkiu Could you provide an example code to reproduce the error? That will help us to find the root-cause of the issue? Thanks!

[2019-01-14 15:42] skye commented on #24231
Hi @samdow, sorry for missing this earlier! Please assign or mention me in any future while_loop issues you file.

One potential problem for Tensorflow Java is that while_v2 gradients are only implemented in Python, and not in the C API. So the design will have to be ported to the C API, or however Tensorflow Java is computing gradients (unless it's somehow calling the Python code).

[2019-01-14 15:42] psmlbhor commented on #24857
I have also asked a question on stackover https://stackoverflow.com/questions/54129098/getting-wrong-prediction-after-loading-a-saved-model

[2019-01-14 15:45] xhm1014 commented on #6698
i had the same problem on win10 system. but it is found to be memory problem. kill the other running app which consumes huge memory resources and have a try.

[2019-01-14 15:45] skye commented on #24866
while_v2 currently works only with ResourcesVariables, which aren't enabled by default in TF yet. Try calling `tf.enable_resource_variables()` at the beginning of your code or passing `use_resource=True` to the `tf.Variable` constructor. Please see https://stackoverflow.com/questions/40817665/whats-the-difference-between-variable-and-resourcevariable-in-tensorflow for more information on ResourceV

[2019-01-14 16:15] alextp commented on #24726
Indeed it is intentional. It's a compromise to support the case where the python scalar is something like "num_layers" which dramatically affects the structure of the generated graph :-/

[2019-01-14 16:15] #24726 closed

[2019-01-14 18:17] jvishnuvardhan commented on #24562
@DevDaring Great! I am happy that you found the root cause of the issue. I am closing this issue.

[2019-01-14 18:17] #24562 closed

[2019-01-14 18:37] MatthiasRathbun commented on #24839
@av8ramit is there a tentative timeframe for the release of 1.13?

[2019-01-14 18:38] asimshankar commented on #24571
@nikhil-dev : I updated the hack in the comment above (https://github.com/tensorflow/tensorflow/issues/24571#issuecomment-453630352), I think it works on the backward pass now too.

[2019-01-14 18:38] zhouxf53 commented on #8785
Worked for me as well

[2019-01-14 18:40] ymodak commented on #24869
I am guessing you have a build/install related issue. Can you please provide the following information? Thanks!
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version:
- Python version:
- Installed using virt

[2019-01-14 18:42] jvishnuvardhan commented on #21653
@SharkWater, based on the system information you provided, i suspect Bazel version may be creating an issue. Based on the [Tested build configurations](https://www.tensorflow.org/install/source), TF1.8 requires Bazel 0.10.0. Is it possible for you to upgrade your Bazel version and check whether the problem solved or not?

@bbarnes52 and @lucylqe, Please provide [system information](https://github.

[2019-01-14 18:43] Cory-Kramer commented on #8773
What is the current status of building a tensorflow C (or C++) dll on windows?
From what I've been reading here and elsewhere, the CMake build process is deprecated.
The current Bazel instructions only include C instructions for Mac or Linux, not Windows.
Is there any documentation to use Bazel (or whatever the preferred build process is) for building on Windows?

[2019-01-14 18:45] preethivenkatesh commented on #24781
Sounds good. We will close this ticket since the original issue has been addressed. If you are having performance related issues/questions, please open a new ticket

[2019-01-14 18:55] bhack commented on #24387
https://arxiv.org/abs/1811.11168

[2019-01-14 19:13] ymodak commented on #24870
@prachm  I see that you are trying to install TF 2.0 preview version. Since this is a different issue than the original one, Can you please post a new issue describing your problem? Thanks!
I will close this issue since it's resolved for the author. Thanks!

[2019-01-14 19:13] #24870 closed

[2019-01-14 19:18] anilknayak commented on #24420
Just curious
After we build the wheel. Does it install libtensorflow.so shared libs?

[2019-01-14 19:44] alanchiao commented on #23747
@SanthoshRajendiran : starting to code the fix now. Apologize for the delay

[2019-01-14 19:49] martinwicke commented on #24410
@sofienbouaziz would be a good reviewer for an op. I would suggest starting in tensorflow/addons.

@seanpmorgan FYI.

[2019-01-14 20:34] samdow commented on #24866
It worked! Thanks for your help!

[2019-01-14 20:34] #24866 closed

[2019-01-14 20:57] etragas-fathom commented on #24326
Thank you @josh11b for clarifying things and @yuefengz for picking up the embedding support. Looking forward to the solution!

[2019-01-14 21:06] ymodak commented on #24872
This error indicates that TF was installed incorrectly. Can you please provide following information? Thanks
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version:
- Python version:
- Installed using virtual

[2019-01-14 21:09] ymodak commented on #24846
Thanks for the document!

[2019-01-14 21:16] zhenghh04 opened #24905 "Build AVX512 Error (v1.13.0): target specific option mismatch _mm512_xor_ps (__m512 __A, __m512 __B)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux 4.4.103-6.38-default x86

[2019-01-14 21:16] jdduke commented on #22884
At the moment, we don't have concrete plans to maintain CMake support indefinitely. As stated before, this has been best-effort. Of course, we'd be happy to accept PRs that fix the CMake build issue.

For TensorFlow Lite, yes. For TensorFlow Mobile, again, the situation isn't quite as clear. What issues are you seeing? Does it fail to compile?

We are working on control flow and general RNN suppor

[2019-01-14 21:17] jonasrauber opened #24906 "tf.contrib.eager.defun does not handle variables as documented"
TensorFlow version: 1.12.0

The docs for `defun` contain this example:
[code]

**Describe the expected behavior**
The example should run as is.

**Describe the current behavior**
But instead it throws this error:

[2019-01-14 22:06] #24781 closed

[2019-01-14 22:38] jonasrauber commented on #24906
Looks like TensorFlow 1.11.0 this still worked.

[2019-01-14 22:51] Oceania2018 commented on #22634
Still can't find `tensorflow\contrib\data\ops\dataset_ops.cc`, after I copied that file to `contrib\data\ops`, it works. starting compiling...

[2019-01-14 23:00] mzechmeister commented on #24548
I entered the same problem. The readme only says `pip install tensorflow`, but it simply does not work.
And from this issue, I don't get the solution.
Can you give clear install instructions (I'm on Linux, opensuse)?

[2019-01-14 23:02] raviilango commented on #24311
Hi Jared,

I have attached the results from my test.  The issue is still open.  Is there any timeline for a fix.  This is really critical for a project I am working on.  The current solution having multiple models (one each for a specific size) is not scalable.  Please note that the protobuf model works fine with variable sized inputs.   Greatly appreciate your assistance in prioritizing this issu

[2019-01-14 23:18] dkashkin opened #24910 "TFLiteConverter unable to convert object detection model from export_tflite_ssd_graph.py"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 1.13.0-dev20190114

**Provide the text output from tflite_convert**

Some of the operators in the model are not supported by the standard TensorFlow Lite runtime. If those are native TensorFl

[2019-01-14 23:42] acotterson commented on #23715
I found a fix on my system! On my Windows computer using Anaconda, I found that using conda for some package (tensorflow? although I'm successfully using a custom tensorflow package) automatically grabbed another version of cudnn as a dependency--the version that was giving me troubles. Updating through conda and pip wouldn't give me a version more recent, so I fixed it through manually updating t

[2019-01-14 23:53] nikhil-dev commented on #24571
Works now - thank you!!

[2019-01-15 00:02] mixaz commented on #24420
@anilknayak are you sure it is the same error? We have different error messages, and yours  seems to be related to #24104. Seems that the issue was caused by bazel 0.20, downgrading to 0.19 shall help

Anybody can close this issue? Just I'm building with tensorflow-on-arm and testing if master head builds will take some time...

[2019-01-15 00:18] alextp commented on #24906
This is working as intended. tfe.defun now does not keep references to the variables you create inside it; you're supposed to do that via objects or something similar. Consider tf.wrap_function if you just want to wrap arbitrary variable-creating code in functions.

[2019-01-15 00:18] #24906 closed

[2019-01-15 00:20] alextp commented on #24865
We don't have an interface for inheriting from Variable yet (the RFC isn't as fully implemented as it seems). There'll probably be another RFC for the inherit-from-variable interface; it is tricky as we need to maintain compatibility with checkpointing and distribution strategies and parameter servers and functions and other things which want to control variable creation and initialization.

[2019-01-15 00:42] ageron commented on #24726
Hi @alextp , oh I see, thanks for the example use case.  This probably deserves a very clear warning in the documentation, wdyt?

[2019-01-15 00:50] alextp commented on #24726
Good point about a warning in the documentation. Do you feel like writing
one, or do you want me to take a stab at it?

On Mon, Jan 14, 2019 at 4:46 PM Aurélien Geron <notifications@github.com>
wrote:

--
 - Alex

[2019-01-15 01:17] ageron commented on #24726
Hi @alextp, I won't have time in the next couple of days, but I can do this at the end of the week.

[2019-01-15 01:49] jesen8 commented on #24030
oh my gold, i can't find out which file run this command, the error is because my windows system have not this path "C:\Program Files (x86)\Windows Kits\10\include\10.0.17763.0" after i uninstall the  newer version and now my system is "C:\Program Files (x86)\Windows Kits\10\Include\10.0.10240.0" version which give me this error when bazel build tensorflowlib_cc.so

D:\tf3\tensorflow-r1.12>bazel b

[2019-01-15 01:53] aisolab opened #24912 "When passing tf.data.Dataset instance to model.predict method which is instantiated by tf.keras.Sequential, tf.keras.Model, subclassing tf.keras.Model, return of model.predict is different from return of model.call"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-01-15 02:08] SuperSaiyan30 opened #24913 "When I compile andorid so using bazel build and reference this so in a new project, the generated so will be linked to the absolute path."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- Linux Ubuntu

[2019-01-15 02:14] AmberCheng commented on #22902
hi， I met the same error when I compile on my Mac. May I know your solution?

[2019-01-15 02:37] jesen8 commented on #23342
@meteorcloudy thanks a lot, it maybe okay, after i change my windows system  language to US and set the cmd coding with 65001 which is utf-8, and now, i'm building tensorflow with bazel, after i update my windows sdk to correctly version for "10.0.17763.0 ",and if there is also some problem i will ask you for help, so thanks

[2019-01-15 04:08] byronyi commented on #24887
@yuefengz Could you take a look here?

[2019-01-15 04:23] dkashkin opened #24916 "The Object Detection Tutorial is broken"
**System information**
- TensorFlow version: 1.13.0-dev20190114
- Doc Link: https://www.tensorflow.org/lite/
**Describe the documentation issue**
TFLite's home page links to this Object Detection tutorial: https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193
The tutorial is not compatible with the latest TensorFlow (1.13).

[2019-01-15 04:31] austinmw commented on #24328
Hi, thanks for your response. I'm running Python 3.5.x with both. I've put the model code in a tensorflow docker image and uploaded it to the AWS ECR. Then when I run the SageMaker.estimator.Estimator.fit command while inside a SageMaker notebook instance it spins up an other EC2 instance, pulls the ECR image I uploaded, runs the model on there, then displays the output in the SageMaker notebook i

[2019-01-15 04:38] jonasrauber commented on #24906
@alextp Is there any way to get the `wrap_function` in TF 1.12. `defun` doesn’t do it anymore and `wrap_function` does not yet exist?!

[2019-01-15 04:52] jesen8 commented on #23374
@eslamahmedkhair what's the param --config=monolithic meaning ? i dont understand this param, mybe its related to my failed build from source.

[2019-01-15 05:12] va-andrew commented on #24496
I've been running into the same issue with the same GPU: "CUDNN_STATUS_INTERNAL_ERROR".

RTX 2070 GPU
CUDA 10
cuDNN 7.4.2
Ubuntu 18.04
tf-nightly-gpu (r1.13, Jan 13)
Python 3.6.7

[code]

[2019-01-15 05:17] hackermd commented on #21983
I went down the `model_fn` route using `estimator.train_and_evaluate` with version `1.12`. However, no summaries get written in `train` mode, while they do get written in `eval` mode. I've tried adding an instance of `train.SummarySaverHook` to `estimator.TrainSpec.hooks`, but this also had no effect. I've also tried explicitly specifying `summary.scalar` in `model_fn`, but this didn't help either

[2019-01-15 06:41] Archernarkiu commented on #24888
@jvishnuvardhan Thanks for your help, and my code shows below:

    """Resize an image and bounding boxes. """
    # Resize image.
    with tf.name_scope('resize_image'):
        height, width, channels = _ImageDimensions(image)
        image = tf.expand_dims(image, 0)
        image = tf.image.resize_images(image, size,method, align_corners)
        image = tf.reshape(**image, tf.stack([size[0], s

[2019-01-15 06:45] jesen8 commented on #23655
@stakemura @cielavenir @stbnps  how do you success?  i only changed code below according to @cielavenir 's tutorial

1.  in D:\tf3\tensorflow-r1.12\third_party\icu\BUILD.bazel
cc_library(
    name = "icuuc",
    srcs = glob(
        [
            "icu4c/source/common/*.c",
            "icu4c/source/common/*.cpp",
            "icu4c/source/stubdata/*.cpp",
        ],
    ),
    hdrs = glob([

[2019-01-15 06:49] ucasiggcas opened #24919 "About the MFCC feature in input_data.py"
Dear,
In the script,
[https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/speech_commands/input_data.py](url)
is there any related pdf or other file about the mfcc feature extraction,
Could U help me about this, please?
Any advice or suggestion will be okey.
Thx.

[2019-01-15 07:08] jesen8 commented on #23963
but i only use windows 10 , how can i solve it ? thanks. @habom2310  the same error

[2019-01-15 07:30] huangyihe2017 opened #24920 "how to use resnet_v1"
How can I use the resnet model in the core library 'from tensorflow.contrib.slim.nets import resnet_v1' for cifar-10. Is there anyone do the example for me? Thank you very mach.

[2019-01-15 07:33] fkjpn1204 commented on #24138
In my case, I interpreted that it is necessary to retrain the model under the condition of quantization.
( Because SSD model includes custom operations.)
How can I retrain the model with the keras library? do you know?
or because of can't use keras library,  have to retrain the model with tensorflow ? (without keras library)

If possible , I would like to convert the current 32-bit model to an 8-b

[2019-01-15 07:40] ZhuoyaYang commented on #14947
I define op with argmax, but my loss function is differentiable. When I use python 3.6 ,it works without error.When I transfer the same code to the server(python 2.7)，it report an error "TypeError: Input 'begin' of 'StridedSliceGrad' Op has type int64 that does not match type int32 of argument 'shape'".Maybe it is a bug of tensorflow?

[2019-01-15 08:05] ZhuoyaYang commented on #14947
Oh, my problem solved! If your python is 2.7,try it!
 index = tf.to_int32(tf.argmax(xxx))

[2019-01-15 08:06] psmlbhor commented on #24857
I tried it but I got same results.

[code]

This gives:

[code]

Most of the classes are again ```0```.

[2019-01-15 08:18] zsdonghao opened #24923 "tf_upgrade_v2 AnnotationError"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac 10.14
- Mobile device (e.g

[2019-01-15 08:19] jazztronomers opened #24924 "Connection loops occur while Reading TFRecord from S3"
Connection loops occur while Reading TFRecord from S3
note that i've successfully installed aws credential already and have no trouble reading data from S3
( using method from tensorflow.python.lib.io import file_io )

the problem occurs  when i pass my tfrecords S3 Address directly through input_fn to tensorflow.**estimator**, it takes about 2 hours while do mnist classification training which ta

[2019-01-15 08:29] sumitdas46 opened #24926 "I have installed python 3.6.5 on windows and installed tensorflow. tensorflow not getting imported and throwing error"
PFB the error message:
C:\Users\hp>python
Python 3.6.5 (v3.6.5:f59c0932b4, Mar 28 2018, 17:00:18) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "C:\Users\hp\AppData\Local\Programs\Python\Python36\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow

[2019-01-15 08:33] cielavenir commented on #23655
@jesen8 Perhaps your bazel is too new. Try 0.15.0.

[2019-01-15 08:42] abhajaswal commented on #21526
I am getting issue while running toco for Fast style transfer model shared at
https://github.com/hwalsuklee/tensorflow-fast-style-transfer

After enabling quantization aware training for same on tensorflow v 1.12.0  i am getting issues as :
 Array ExpandDims, which is an input to the Reshape operator producing the output array truediv, is lacking min/max data, which is necessary for quantization.

[2019-01-15 09:12] cheer67 opened #24928 "Compiler error : To build Android TensorFlow library on mac os"
OS platform : mac os 10.13.6
TensorFlow : source code
TensorFlow : 1.12

Build Cmd:
NDK_ROOT=/Users/cheer67/android_ndk/android-ndk-r15c tensorflow/contrib/makefile/compile_android_protobuf.sh -c

Error Log:

checking whether make sets $(MAKE)... yes
checking whether make supports nested variables... yes
checking whether UID '501' is supported by ustar format... yes
checking whether GID '20' is su

[2019-01-15 09:44] jesen8 commented on #23655
oh!, @cielavenir , thanks foy your help, but after i change bazel to 0.15, the new error has occurred,that's below:

D:/tf3/tensorflow-r1.12/tensorflow/cc/BUILD:456:1: Linking of rule '//tensorflow/cc:ops/state_ops_gen_cc' failed (Exit 1120): link.exe failed: error executing command
  cd C:/users/swls/_bazel_swls/5dz6uozl/execroot/org_tensorflow
  SET CUDA_TOOLKIT_PATH=C:/Program Files/NVIDIA GPU

[2019-01-15 10:33] drselvimunuswamy commented on #24882
No.

[2019-01-15 10:47] AntoinePlumerault commented on #8830
If you use a module, you have to find where your module is use the path of the cuda version inside. For me it was:
`export LD_LIBRARY_PATH=/opt/cuda-9.0_cudnn-7.4.2/extras/CUPTI/lib64:$LD_LIBRARY_PATH`

[2019-01-15 10:50] ucasiggcas commented on #24919
Second,
What's the meaning of the func get_features_range in input_data.py ?
`  # TODO(petewarden): These values have been derived from the observed ranges
  # of spectrogram and MFCC inputs. If the preprocessing pipeline changes,
  # they may need to be updated.`
and also the up words ?
If the sample_rate change, need change the range?
Any help will be good.
Thx

[2019-01-15 12:45] jhnnhgh commented on #22837
I am also having this problem on version 1.12.0

[2019-01-15 12:45] Randl opened #24930 "Continuously differentiable eigendecomposition"
**System information**
- TensorFlow version (you are using): 1.12
- Are you willing to contribute it (Yes/No): Yes, but I'd probably need some guidance.

**Describe the feature and the current behavior/state.**
Currently, when any two eigenvalues are equal, the `tf.gradients( tf.self_adjoint_eig(matrix), matrix) ` function returns NaN.
It was proposed to return a subgradient (https://github.com/te

[2019-01-15 13:12] hengdos commented on #21889
@yangw1234

Great!  Changing the default value of `use_resource` to `False` works. But, changing variable creator doesn't work well, and got the error like this:

[code]

I leave my code in case:
[code]

Could you show the entire code?

Thanks in advance!

[2019-01-15 13:29] Phwanwilai opened #24931 "unexpected keyword argument 'serialized_options'"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-01-15 14:25] sahil210695 opened #24933 "Export model with "REGRESS" URI not working in tensorflow-serving"
Hi,

I've created the linear regression model which I want to serve using the tf-serving for which I have exported the model using the export model and **REGRESS_METHOD_NAME** in the signature_def after saving which the log is:

[code]

After deploying the saved_model with tf-serving for prediction I'm using

1. Working API for PREDICTION - with **predict** in uri
[code]
**Output**:
[code]

2. Not

[2019-01-15 14:39] AntoineWeber opened #24934 "Building from source the shared library for Raspberry-Pi"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Raspbian Stretch 9.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.9.0
- Python version: 3.5
- Installed using virtualenv? pip? conda?: none
- Bazel version (if compiling from source): 0

[2019-01-15 14:48] msmsajjadi commented on #23410
@theeheng You might want to change the labels (if you can) as this issue seems to be unrelated to Keras and directly related to booleans.

Here's some minimal examples to get the error:

[code]

[code]

[2019-01-15 14:51] ophiry commented on #21429
The issue is still open.
will appreciate if somebody will mere the patch from the original version (I have problems with submitting a  pull request with my user)

[2019-01-15 15:08] HamzaElgarrab commented on #14736
We need AMD GPUs support,

- Their cards present amazing value for the money..
- They offer more VRam than GTX cards..
- HBM2 is way faster than DDR6. As u may know, memory bandwidth is the general bottleneck in DL tasks

[2019-01-15 15:18] harrysalmon opened #24936 "High memory usage of tensorflow.python.ops.lookup_ops.index_table_from_file compared to vocabulary_file size on disc"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
    - OSX Mojave 10.14.2
    - 2.3 GHz Intel Core i5
    - 8 GB 2133 MHz LPDDR3
    - Number of Processors: 1
    - Total Number of Cores: 2
- TensorFlow installed from (source or binary):
    - pip installed into an

[2019-01-15 16:10] anilknayak commented on #24104
Thanks this discussion helped me a lot and I have summarized all the things in the below link
https://stackoverflow.com/questions/53874017/error-while-building-libtensorflow-so-on-raspberry-pi/54202653#54202653

[2019-01-15 16:14] vishalvanpariya commented on #20975
@Lexicographical and @Qryptoc I have installed ubuntu in windows but how I can run my python file?
when I run that file at that time I got errors numpy is not defined, no one dependency is in it.
how can I use anaconda's environment here like an anaconda prompt?
please tell me both I waiting for an answer

Thank you both

[2019-01-15 16:15] mcobzarenco commented on #17022
Is there a timeline for eventually supporting Python 3.7?

[2019-01-15 16:18] alextp commented on #24726
Sounds good to me. We're not cutting a release branch between now and then.

On Mon, Jan 14, 2019 at 5:21 PM Aurélien Geron <notifications@github.com>
wrote:

--
 - Alex

[2019-01-15 16:21] alextp commented on #24906
I think wrap_function is only on nightly / will be on 1.13. There are other
usable workarounds (make the variables global; append them to a global
list; etc).

On Mon, Jan 14, 2019 at 8:42 PM Jonas Rauber <notifications@github.com>
wrote:

--
 - Alex

[2019-01-15 16:34] jdduke commented on #21526
Yes, we're tracking support for quantized div internally.

[2019-01-15 16:48] Maxtoq commented on #24735
I solved the problem. The problem was I had badly set the environment variable BAZEL_VS (or BAZEL_VC). I followed the examples given here: https://docs.bazel.build/versions/0.21.0/install-compile-source.html#bootstrap-windows-bootstrap.

[2019-01-15 16:49] Maxtoq commented on #24549
I found the solution. The problem was that I had badly set the environment variable BAZEL_VS (or BAZEL_VC). I followed the examples given here: https://docs.bazel.build/versions/0.21.0/install-compile-source.html#bootstrap-windows-bootstrap.

[2019-01-15 16:56] JAY-KISHAN-PANJIYAR commented on #18503
I have the same problem. I tried everything but it is not solved

[2019-01-15 17:01] anilknayak commented on #24104
@alexellis @Kishwar
I have successfully generated the libternsorflow.so but when I tried to use the shared lib in GoLang
I am facing issue
# github.com/tensorflow/tensorflow/tensorflow/go
/home/pi/go/src/github.com/tensorflow/tensorflow/tensorflow/go/attrs.go:173: type [1073741824]_Ctype_longlong larger than address space
/home/pi/go/src/github.com/tensorflow/tensorflow/tensorflow/go/attrs.go:173:

[2019-01-15 17:04] anilknayak commented on #24934
Try
https://stackoverflow.com/questions/53874017/error-while-building-libtensorflow-so-on-raspberry-pi/54202653#54202653

[2019-01-15 17:05] yangw1234 commented on #21889
@hengdos your error is not caused by changing creator, is because you are setting the vocabulary size in the embedding layer to 1 (only index 0 is valid) and the training data you feed is 1 (thus not in  [0, 1)). Try feeding 0?

[2019-01-15 17:08] Kishwar commented on #24104
@anilknayak Are you building on Odroid device?

[2019-01-15 17:10] ksachdeva opened #24938 "tf.keras.backend.zeros implementation ends up tracking tensors as well in graph mode"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OSX
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.12
- Python ve

[2019-01-15 17:11] jvishnuvardhan commented on #24898
Thank you for your post. We noticed you have not filled out the following field in the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=00-bug-performance-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Moreover, please provide as many details as possible to find root cause of the issue. Thanks.

[2019-01-15 17:17] jvishnuvardhan commented on #24926
Thank you for your post. We noticed you have not filled out the fields in the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Thanks.

[2019-01-15 17:17] azaks2 commented on #23703
No the issue should not be happening in head.

[2019-01-15 17:18] #23703 closed

[2019-01-15 17:20] Kishwar commented on #24104
@anilknayak Try to build on Raspberry pi instead of Docker. It will take time (few days) but this addressing issue should disappear. I got out of memory address problem when used Odroid to build.

[2019-01-15 17:24] jvishnuvardhan commented on #24895
Thank you for your post. We noticed you have not filled out the fields in the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. It would be great if you pr

[2019-01-15 17:33] jvishnuvardhan commented on #24893
Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support. Github is mainly for addressing bugs in installation and performance. Thanks!

[2019-01-15 17:41] robinqhuang commented on #22884
It seems missing APIs in bazel build as proposed. We have to stay for Makefile solution.

I am using bidirectional_dynamic_rnn, tf.contrib.rnn.LSTMCell and tf.contrib.seq2seq. Hope all of them are available in tf.lite.

[2019-01-15 17:44] anilknayak commented on #24104
I am able to resolve th e issue:
https://github.com/tensorflow/tensorflow/issues/24450

by changing for 32 bit arch. change the following line
in github.com/tensorflow/tensorflow/tensorflow/go/attrs.go
find 1<<30 for int64 slice and change it to 1<<27 it will work fine.

I think the above issue is addressed but not pushed to master not even to v1.12.0 or v.1.11.0 branch of tensorflow.

[2019-01-15 17:45] azaks2 commented on #23834
Are you trying to continue with training of the model. Or use the graph for inference?

[2019-01-15 17:46] hackermd commented on #21983
After inspecting the event files using `train.summary_iterator`, I realized that the summaries got written, but were not displayed in tensorboard.

Specifying `training` as log directory name when launching tensorboard solved the problem for me:
[code]

The [comment](https://github.com/tensorflow/tensorflow/issues/9701#issuecomment-301114886) by @MMCMA on issue #9701 pointed me in the right direct

[2019-01-15 17:46] azaks2 commented on #23657
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-15 17:48] karmel commented on #24857
Are either of these known correct? My suspicion here is that Estimator.predict is giving you the wrong values, and that both predictor and SavedModelEstimator are correct, as the class values from .predict seem to be just incrementing. Can you provide the Estimator code in question? @bananabowl , can you take a look?

[2019-01-15 17:49] karmel commented on #24857
(To clarify, I meant provide the model_fn, bag_of_words_model)

[2019-01-15 17:50] ymodak commented on #24549
I see. Thanks for sharing your solution.

[2019-01-15 17:52] jvishnuvardhan commented on #24920
@huangyihe2017 Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support. Github is mainly for addressing bugs in installation and performance.

For transfer learning, TF hub may be a good reference. It provides some guides and tutorials for different ml tasks, such as [image classification](https://www

[2019-01-15 17:57] anilknayak commented on #24420
I am able to build libtensorflow.so for raspberry pi. I have summarized my approach after searching some issue in github tensorflow. Check otu the stackoverflow link and vote

https://stackoverflow.com/questions/53874017/error-while-building-libtensorflow-so-on-raspberry-pi/54204267#54204267

[2019-01-15 18:05] jvishnuvardhan commented on #24919
@ucasiggcas Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support. Github is mainly for addressing bugs in installation and performance. I found this [paper]
(http://www.cs.cmu.edu/~chanwook/MyPapers/b_li_interspeech_2017.pdf) and there are several resources covering advanced MFCC. Thanks!

[2019-01-15 18:09] yongtang commented on #24923
@zsdonghao it will be more helpful if you could provide a `self-contained` code that could trigger the  error.

Without the content of the `tensorlayer` the log you posted may not be very easy to see where the issue is.

[2019-01-15 18:10] ymodak commented on #24882
You have to install it. Please take a look at these [installation steps](https://www.tensorflow.org/install/pip) and select windows for steps 1 and 2.

[2019-01-15 18:19] gunan commented on #8773
@meteorcloudy

[2019-01-15 18:20] SumNeuron commented on #23834
Use the same model on another machine (device (s)) for inference but the ability to continue training should exist

“My strength lies solely in my tenacity.” ~ Louis Pasteur

[2019-01-15 18:43] psmlbhor commented on #24857
Sure. Here you go:

[code]

Actually, my test set is exactly like the train set. Each entry belongs to different class.

[2019-01-15 18:48] martinwicke commented on #24923
I fixed this in google/pasta at head. I have to cut a new release of pasta and update the deps in TF.

[2019-01-15 19:14] martinwicke commented on #24923
Upgrading google_pasta (pip install -U google_pasta) should fix this. Give it a try? I'll update the deps in the night tf package.

[2019-01-15 19:40] jvishnuvardhan commented on #24890
@gittyhub2018  Please check [tested build configurations](https://www.tensorflow.org/install/source_windows). Please check Bazel version. For the system configuration you mentioned, MSVC 2015, Bazel 0.15.0, cuDNN 7, CUDA 9.0  are supported. Could you try to installing CUDA 9.0 and check whether the issue persists? Thanks!

[2019-01-15 19:46] jvishnuvardhan commented on #24931
Thank you for your post. We noticed you have not filled out the fields in the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. Are you getting the error d

[2019-01-15 20:08] ramtin2080 opened #24940 "NNAPI doesn't support tensors with rank 0 - Mobilenet"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Windows 10 for retraining, Linux Ubuntu 16.04 for converting to tflite model
- Mobile device: Sony Xperia Z1 - Android 9 (AICP ROM)
- TensorFlow installed from : binary
- TensorFlow version: b'v1.12.0-rc2-3-ga6d8ffae09' 1.12.0
- Python version: 3.6

**Describe the current behavior**
I retrained "https://tfhub.

[2019-01-15 20:40] bananabowl commented on #24857
Thanks for reporting this, I will take a look. Are you running TF 1.12.0?

[2019-01-15 20:51] ymodak commented on #24928
@resec Can you please take a look? Thanks!

[2019-01-15 20:57] ymodak commented on #24933
This issue is more appropriate on TesnorFlow Serving repo. Please post it on TF Serving from [here](https://github.com/tensorflow/serving/issues/new). Thanks!

[2019-01-15 20:57] #24933 closed

[2019-01-15 20:57] achowdhery commented on #24910
The FPN model is not supported yet.

[2019-01-15 21:01] MarcioMaia commented on #17022
Where is 3.7 support?

[2019-01-15 21:10] #20629 closed

[2019-01-15 21:23] #24756 closed

[2019-01-15 21:23] josharian commented on #17022
May I humbly suggest that someone with permissions lock this issue, to limit comments to collaborators? That'd prevent spam for those of us watching this issue to get notified about when 3.7 support lands. Thanks.

[2019-01-15 21:38] bananabowl commented on #24857
Two theories:

1. The exported saved model is incorrect. You might be able to rule this out with the saved model CLI tool which you can use to manually determine the output of a given input to the model: https://www.tensorflow.org/guide/saved_model#cli_to_inspect_and_execute_savedmodel
If it produces the wrong output, we'll know there's some bug in the export step.

2. The x_test is somehow differ

[2019-01-15 21:39] dimitree54 commented on #22803
@hubert0527 Thank you for pointing at batch normalization: when I had removed it from network my outputs became normal (not nan). But of course the quality of my network fell drammatically without batch normalization. I tried to replace tf.layer.batch_normalization with tf.keras.layers.BatchNormalization and tf.contrib.layers.batch_norm, but no effect. Finally I solved the problem by implementing

[2019-01-15 21:40] jvishnuvardhan commented on #24905
@zhenghh04 The issue could be due to Bazel 0.21.0 as another [user](https://github.com/tensorflow/tensorflow/issues/24549) mentioned. His got it solved by following [this](https://docs.bazel.build/versions/0.21.0/install-compile-source.html#bootstrap-windows-bootstrap). Check [this](https://stackoverflow.com/questions/53975108/bazel-installation-error-when-attempting-to-install-tensorflow-from-sou

[2019-01-15 21:56] ebrevdo commented on #24897
@qlzh727 fyi.

[2019-01-15 21:59] dkashkin commented on #24910
Ouch... I was using the official Tensorflow Detection Model Zoo and assumed that all these models can be converted to TFLite. If this is not the case, I would highly recommend two things:

1) Clearly indicate which models are compatible with TFLite on the list of models https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md (can I assume that all mo

[2019-01-15 22:15] jandog8990 commented on #11037
What if we don't want to use Anaconda? What if it's a straight Python3.5 install? Has anyone solved this?

[2019-01-15 22:20] jvishnuvardhan commented on #24879
@YunyanYao Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support. Github is mainly for addressing bugs in installation and performance. Responses to your questions will help others also if you post them on Stackoverflow. Thanks!

[2019-01-15 22:21] jvishnuvardhan commented on #24875
@CtfGo Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support. Github is mainly for addressing bugs in installation and performance. Responses to your questions will help others also if you post them on Stackoverflow. Thanks!

[2019-01-15 22:35] jandog8990 commented on #7069
The runnign directory is just a "chance" thing, this is not really a solution for those whose import is having actual problems. Here's mine in OSX El Capitan:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/System/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/tensorflow/__init__.py", line 24, in <module>
    from tensorflow.python i

[2019-01-15 22:49] josh11b commented on #24863
Looks like you are using an older version of the tensorflow_estimator package. At head, that line has been updated to use "strategy.extended.read_var" which should work: https://github.com/tensorflow/estimator/blob/5875cd0acd21887c1eabd66d7ddfcd7af85a7618/tensorflow_estimator/python/estimator/estimator.py#L1213

[2019-01-15 22:49] #24863 closed

[2019-01-15 22:55] jvishnuvardhan commented on #24836
@tferrerITBA Your issue looks similar to the following [1](https://github.com/tensorflow/tensorflow/issues/23673), [2](https://github.com/tensorflow/tensorflow/issues/24841), and [3](https://github.com/tensorflow/tensorflow/issues/24905). Could you follow the solutions in those posts and let us know how it progresses? Thanks!

[2019-01-15 22:56] glard commented on #21223
So am I

[2019-01-15 22:58] jvishnuvardhan commented on #24833
@zhasulan Thank you for your post. We noticed you have not filled out the fields in the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A?

Along with the template, please provide as many details as possible to find the root cause of the issue. It would be grea

[2019-01-15 23:10] jvishnuvardhan commented on #24844
@lorenzoriano Please post this issue in [TensorFlow magenta repo](https://github.com/tensorflow/magenta/issues). This repository is mainly for solving issues TF Core and TF Lite. Thanks!

[2019-01-15 23:10] Sasha1296 commented on #12649
thank you, I'm also trying to use FasterRcnn and it finally worked!

[2019-01-15 23:44] jvishnuvardhan commented on #24821
@rpsg35 Could you follow the instructions [1](https://www.anaconda.com/blog/developer-blog/tensorflow-in-anaconda/), [2](https://www.digitalocean.com/community/tutorials/how-to-install-and-use-tensorflow-on-ubuntu-16-04), and [3](https://towardsdatascience.com/tensorflow-gpu-installation-made-easy-use-conda-instead-of-pip-52e5249374bc). Please let us know how it progresses? Thanks!

[2019-01-15 23:46] jingxu10 commented on #24650
I've requested the dev team to investigate this issue.
I'll update you later once it is fixed.

[2019-01-15 23:56] lorenzoriano commented on #24844
I've posted in the Magenta repo, but I'm not sure the error is due to Magenta or TF Core. The latter is likely imho

[2019-01-16 00:02] pangyuteng commented on #17022
below works for Windows 8.1, python 3.7.1 (via Miniconda)
then install the below:
numpy‑1.16.0+mkl‑cp37‑cp37m‑win_amd64.whl
protobuf‑3.6.1‑cp37‑cp37m‑win_amd64.whl
tensorflow‑1.9.0‑cp37‑cp37m‑win_amd64.whl

[2019-01-16 00:10] erfannoury commented on #24409
@seanpmorgan this is a good idea. I will then follow the progress of tensorflow/addons#6 for the new implementation of group normalization. This issue probably can be closed then.

[2019-01-16 00:13] prachm commented on #24839
@martinwicke @av8ramit Any updates?

[2019-01-16 00:36] huangyihe2017 commented on #24920
I am sorry for that and  I will ask this kind of question at Stackoverflow next time. Thank you very much.

[2019-01-16 00:42] #23655 closed

[2019-01-16 01:07] cielavenir commented on #23655
@tensorflow-copybara Sorry but this error has not been addressed yet.

[code]

It looks like I still need to force `"framework_shared_object": "false",`.

[2019-01-16 01:14] skye commented on #24885
FYI @gunan @allenlavoie @asimshankar

[2019-01-16 01:20] cheer67 commented on #24928
OK

[2019-01-16 01:56] ClusterM commented on #24359
Same problem.

[2019-01-16 02:00] jackyko1991 commented on #8773
if possible can you provide the method for library linking and header file locations?

[2019-01-16 02:13] facaiy opened #24945 "How to eliminate duplicate codes for shape inference"
**System information**
- TensorFlow version (you are using): tf 2.0-preview
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**

When we are looking into issue: https://github.com/tensorflow/addons/issues/12, as @jaingaurav said,  SetShapeFn only works in graph constructing stage. So for eager mode, we have to add the duplicate logic (codes) in

[2019-01-16 02:22] samikama opened #24946 "tensorflow/third_party/toolchains/gpus/cuda/BUILD"
tensorflow/third_party/toolchains/gpus/cuda/BUILD file contains hard coded paths which would not necessarily true for all systems. Anyway I thought these files were generated through repository gen rules in `third_party/gpus/cuda`. Isn't it the case anymore?

[2019-01-16 02:39] Oceania2018 commented on #22007
@LJXLJXLJX The file struct should looks like below:
![image](https://user-images.githubusercontent.com/1705364/51222977-9c572b00-1905-11e9-9983-8eb340f70896.png)

[2019-01-16 02:41] rivergold commented on #23260
@Nimitz14 Thanks for the solution.
But I meet the same problem using NDK18. I build tflite from the TensorFlow 1.12 source code.
Is there any solution?

[2019-01-16 02:42] jesen8 commented on #23655
@cielavenir you can try r1.11 version,it's no problem

[2019-01-16 02:44] twalk4821 commented on #24730
No it wasn't, but thanks anyway.

[2019-01-16 02:53] yongtang commented on #24523
@yifeif I tried with `tensorflow/tensorflow:nightly-custom-op` to build custom ops and it works great. Thanks!

[2019-01-16 02:53] #24523 closed

[2019-01-16 03:06] yifeif commented on #24523
Great! Thanks for letting us know.

[2019-01-16 03:08] av8ramit commented on #24839
The rc0 will be out probably next week, and the official release 3 weeks after that.

[2019-01-16 03:30] dingguijin commented on #24626
I want to build tensorflow from the latest source not the latest release 1.12. Thanks though.

[2019-01-16 03:32] Noirai opened #24948 "Linking of rule '//tensorflow/contrib/nccl:python/ops/_nccl_ops.so' failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: macOS 10.13.5
- TensorFlow installed from: source
- Tenso

[2019-01-16 03:33] SuperSaiyan30 commented on #24913
@jvishnuvardhan ， thank you for reply，
the tensorflow need bazel 0.18.0 at least, i try with bazel 0.18.1 and the issue persists

[2019-01-16 03:41] MatthiasRathbun commented on #24839
@av8ramit the rc0 will support cuda 10, correct?

[2019-01-16 03:43] drpngx commented on #7069
It's probably missing some libraries. You could try
[code]
to figure out which it might be.

[2019-01-16 03:43] brubakerjeff opened #24949 "Tensorflow random categorical"
Hi,

I'm running
https://www.tensorflow.org/tutorials/sequences/text_generation

When I arrive at the line the following error is produced. Is there an import missing?
sampled_indices = tf.random.categorical(example_batch_predictions[0], num_samples=1)
sampled_indices = tf.squeeze(sampled_indices,axis=-1).numpy()

AttributeError                            Traceback (most recent call last)
<ipython

[2019-01-16 03:55] stakemura commented on #23655
@jesen8 r1.11? The correct one is not r1.11 but r1.13,right? I believe the latest version should work.

[2019-01-16 04:08] zsdonghao commented on #24923
@yongtang @martinwicke Thanks, I successfully convert the codes one-by-one instead of converting the entire folder.

[2019-01-16 04:44] byronyi commented on #24948
Could you try the latest tensorflow, i.e. master branch?

[2019-01-16 05:36] 1049451037 opened #24951 "embedding_lookup return a SparseTensor"
Neither embedding_lookup nor embedding_lookup_sparse can return a sparse tensor. Could you add a feature to support SparseTensor returned?

I don't mean just convert the dense to sparse. It's **sparse lookup**.

[2019-01-16 05:43] ymodak commented on #24949
I would recommend you to install tf-nightly to execute the tutorial locally. You can also try running the the tutorial in google colab to avoid new tf installation. The tutorial works as expected in the google colab thus should not have issues in nightly version as well.

[2019-01-16 05:57] salemmohammed opened #24953 "Multiple parameter servers are not sharing the load when running TensorFlow distributed"
This is a performance issue question.
I have one, two, and four parameter servers experiments to test performance.
In the two and four parameter server networks utilization, only one parameter server has a highly utilized network and the rest is having low utilization.
For example:
in 4 parameter server tasks with 4 worker tasks. Each task is on one machine.

After running the experiments, I colle

[2019-01-16 05:57] ymodak commented on #24603
Apologies for the delay in response. This issue is more suitable on TensorFlow Serving repo. Can you please post it on TensorFLow Serving repo from [here](https://github.com/tensorflow/serving/issues). Thanks!

[2019-01-16 06:19] av8ramit commented on #24839
Yes we are adding CUDA 10 support to 1.13 rc0.

[2019-01-16 06:22] curious1me opened #24954 "AttributeError: module 'tensorflow' has no attribute 'keras'(Tensorflow 1.4.0 has problem with new Model directory)"
System information

Have I written custom code (as opposed to using a stock example script provided in TensorFlow): not custom code / object_detection

**OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04**

**TensorFlow installed from (source or binary): binary**

**TensorFlow version (use command below): 1.4.0**

**Python version: 3.5**

**CUDA/cuDNN version: 8.0/6.0**

[2019-01-16 06:52] Bahramudin commented on #23928
I have the same error, did you solve this problem? Thanks!

[2019-01-16 06:53] jesen8 commented on #23655
@stakemura  yeah,it's r1.13 right, i'm wrong

[2019-01-16 07:05] jesen8 opened #24955 "fatal error LNK1120, LNK2019, LNK2001"
**System information**
- OS Platform and Distribution :    windows 10
- TensorFlow installed from :          source
- TensorFlow version:                     r1.12
- Python version:                            3.5.4
- Installed using :                            exe
- Bazel version :                               0.15.0
- CUDA/cuDNN version:                 10.0, 7.3
- GPU model and memory:

[2019-01-16 07:07] Noirai commented on #24948
With latest version new errors emerged:
external/curl/lib/vtls/darwinssl.c:848:10: error: use of undeclared identifier 'TLS_AES_128_GCM_SHA256'
    case TLS_AES_128_GCM_SHA256:
         ^
external/curl/lib/vtls/darwinssl.c:851:10: error: use of undeclared identifier 'TLS_AES_256_GCM_SHA384'
    case TLS_AES_256_GCM_SHA384:
         ^
external/curl/lib/vtls/darwinssl.c:854:10: error: use of undecla

[2019-01-16 07:09] gunan commented on #23561
I had some spare time to try out, but I ran into build issues when trying to rebuild tf with gcc 7.
So had to start going down the rabbit hole and got distracted.
I will retry on a macos.