[2017-01-09 06:57] NoNoCalm commented on #6731
![image](https://cloud.githubusercontent.com/assets/6457892/21759010/d284a55a-d67b-11e6-9b45-2c6fac98712a.png)
Is it caused by this?

[2017-01-09 07:06] DjangoPeng commented on #6630
@mrry @drpngx Could you have a look? And re-pin the corresponding reviewer?

[2017-01-09 07:09] concretevitamin commented on #6456
@aselle doesn't look like so to me.

[2017-01-09 07:14] concretevitamin commented on #6417
That particular check was contributed from the community -- @PuchatekwSzortach, could you fix that?

[2017-01-09 07:44] PuchatekwSzortach commented on #6417
Someone has spotted the same problem a week ago and I already fixed it - but the code is still awaiting review.
Here's the original post that mentions the issue: https://github.com/tensorflow/tensorflow/pull/6601#issuecomment-271063210
And here's a pull request fixing the issue:
https://github.com/tensorflow/tensorflow/pull/6601

[2017-01-09 08:16] HWiese1980 commented on #6417
Great! I've got to wait for it to get included into the native Windows version, though... haven't managed yet to build TF on my Windows 10 from sources...

[2017-01-09 08:26] ziky90 commented on #6661
@michaelisard It looks more like a bug in tensorflow or at least backwards incompatibility. So from my point of view it's more an issue than question for stackoverflow. But if you wish, then here is the stackoverflow question http://stackoverflow.com/questions/41543774/invalidargumenterror-for-tensor-bool-tensorflow-0-12-1.

[2017-01-09 08:46] HRLTY commented on #6501
@yaroslavvb  Thanks. I thought my python release has bug...

[2017-01-09 08:52] cshapeshifter commented on #550
@julien888: Yes, I reported the same error and it's already been fixed:
https://github.com/tensorflow/models/issues/771#issuecomment-269059667

[2017-01-09 09:18] jonasrauber opened #6735 "slim parallel_read should pass seed to string_input_producer"
Currently, the seed passed to `parallel_read` is only passed to the RandomShuffleQueue, but not to the string_input_producer. This should be fixed. Furthermore, it should also be documented that the output will never be deterministic if `num_readers` is greater than 1.

https://github.com/tensorflow/tensorflow/blob/e121667dc609de978a223c56ee906368d2c4ceef/tensorflow/contrib/slim/python/slim/data/p

[2017-01-09 09:27] jonasrauber opened #6736 "batch_normalization layer argument name and documentation wrong in core and contrib layers"
The batch normalization layers both in core and contrib take a `center` argument that controls whether a variable beta should be created that is then **added after the normalization**. The name of the argument (`center`) and even more so the documentation (_center: If True, subtract `beta`. If False, `beta` is ignored._) indicate however that this argument controls whether the mean of the input is

[2017-01-09 09:28] chenghuige opened #6737 "tf.nn.sampled_softmax_loss fail for master code"
Build the leates tensorflow gpu version and  face this error(the code work ok for release 0.12.1) complaining float32 and int64 multiply.
tf.nn.sampled_softmax_loss(self.w_t,
                                          self.v,
                                          inputs,
                                          labels,
                                          num_sampled,

[2017-01-09 09:30] Hvass-Labs commented on #6414
Thanks for the detailed comments.

The Notebook for my Tutorial #15 has a slightly awkward implementation of this idea. The implementation I wrote above is cleaner.

However, from your comments I can see that the idea is still not perfectly clear. I think it would help if I write a Python Notebook to demonstrate it, and then perhaps you can give suggestions on where it might belong in TensorFlow a

[2017-01-09 09:55] tillahoffmann commented on #6692
You could do something like [this](https://gist.github.com/tillahoffmann/c04dd6ca9259ef68f743e44c74e3d095).

[2017-01-09 11:19] damienmg commented on #4848
Ok I found out the issue.

`local = True` from [cuda_configure.bzl#L818](https://github.com/tensorflow/tensorflow/blob/master/third_party/gpus/cuda_configure.bzl#L818) basically invalidate the repository for a lot of little things, I suggest removing that local = True.

[2017-01-09 12:00] gawinghe commented on #2768
You need to call inception_v3() within the arg_scope() returned by inception_v3_arg_scope()

[2017-01-09 12:01] cyanoboy opened #6738 "How to train Multibox object detector included in the TF Detect Android demo"
There is a way to train a custom model for the multibox object detector that is included in the [TF Detect Android demo](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/src/org/tensorflow/demo/DetectorActivity.java)?

[2017-01-09 12:16] chenghuige commented on #6737
looks api changed... close this

[2017-01-09 12:16] #6737 closed

[2017-01-09 12:44] kvothe commented on #6313
I had the same problem and can confirm that `--logdir foo:D:\some\path` does indeed work on windows with tensorflow 0.12 while `--logdir D:\some\path` does not.

[2017-01-09 12:52] rizar commented on #6391
Meanwhile, you guys could at least print a warning, raise an exception, deprecate this API, or add a line to the documentation. I do like Tensorflow, and I think you are doing a great job, but for people outside Google it is often very unclear which ops are "mostly deprecated" in favor of which.

[2017-01-09 12:58] Lldenaurois commented on #6644
Hi Michael,

Yes, here is the information

Operating System: Ubuntu 16.04.1 LTS (GNU/Linux 4.4.0-53-generic x86_64)

Setup:
  tensorflow installed via "pip install tensorflow-gpu"
  CUDA 8.0 & cuDNN 3.5
  4 Tesla K80 (2 GPUs per card) @ 24GB per card

[2017-01-09 13:18] chenghuige opened #6739 "lstm_cell/weights does not exist, fail only using master code, ok for release version 0.12.1"
The code like below:
`
for i in range(max_steps):

  with tf.variable_scope("RNN", reuse=True if i > 0 else None):

     (output, state) = self.cell(last_symbol, state)
`

  File "/home/gezi/mine/tensorflow-exp/deepiu/seq2seq/rnn_decoder.py", line 189, in generate_sequence
    (output, state) = self.cell(last_symbol, state)
  File "/usr/lib/python2.7/site-packages/tensorflow/contrib/rnn/python/ops

[2017-01-09 13:38] carlthome commented on #434
@yaroslavvb, thanks!

Matter of taste, I guess, but it's cleaner to keep with the `tf.get_variable` / `tf.variable_initializer` API instead of mixing in `tf.Variable`, especially for variable scoping and sharing variables.

Passing a `tf.constant` to `tf.get_variable`, or making a custom initializer just for this, isn't very clean IMO. E.g. I like:

[code]

[2017-01-09 14:11] ppwwyyxx commented on #6417
`gfile.IsDirectory('')` returns True. @HWiese1980 are you sure this is the function that causes the issue?

[2017-01-09 14:30] raady07 opened #6740 "loading text file and accessing data using tensorflow"
ubuntu 14.0.04
python 3.5

I have a text file of size (20480,8) with all float values. I want the data in 4th column in to one array. I am able to do it using python as

`file_pathname1 = os.path.join(os.path.expanduser('~'),'TF','1st_test', '20.10.22.12.09.13')`
`x= np.loadtext(file_pathname1)`
`y= x[:,4]`
`#print(np.shape(x))`
`print(np.shape(y))`

I get the size of the y as (20480,)

but I am t

[2017-01-09 14:33] chenghuige commented on #6739
Also find another error, using adagrad with latest master code which used to work with release 0.12

  File "/usr/lib/python2.7/site-packages/tensorflow/contrib/layers/python/layers/optimizers.py", line 275, in optimize_loss
    gradients, global_step=global_step, name="train")
  File "/usr/lib/python2.7/site-packages/tensorflow/python/training/optimizer.py", line 409, in apply_gradients
    self.

[2017-01-09 14:36] ppwwyyxx opened #6741 "tf.divide handles "name" argument differently"
If installed from binary pip package, provide:

1. A link to the pip package you installed:
https://ci.tensorflow.org/view/Nightly/job/nightly-matrix-linux-gpu/TF_BUILD_IS_OPT=OPT,TF_BUILD_IS_PIP=PIP,TF_BUILD_PYTHON_VERSION=PYTHON2,label=gpu-linux/lastSuccessfulBuild/artifact/pip_test/whl/tensorflow_gpu-0.12.1-cp27-none-linux_x86_64.whl
2. The output from `python -c "import tensorflow; print(tenso

[2017-01-09 15:03] asross opened #6742 "`tensorflow.examples.tutorials.mnist` not currently downloadable"
### If possible, provide a minimal reproducible example (We usually don't have time to read hundreds of lines of your code)

[code]

raises `http.client.RemoteDisconnected: Remote end closed connection without response`, if you don't already have the data cached. I believe this is because the underlying data [SOURCE_URL](http://yann.lecun.com/exdb/mnist/) is currently [down](http://downforeveryone

[2017-01-09 15:05] raady07 commented on #6740
for solution

x1 = tf.constant(y,name = 'x1')
model = tf.initialize_all_variables()
with tf.Session() as session:
    session.run(model)
    print(np.shape(session.run(x1)))

[2017-01-09 15:05] #6740 closed

[2017-01-09 15:05] VigneshSrinivasan10 opened #6743 "Is there a function which performs the opposite of tf.extract_image_patches ?"
Hello,

I was looking for a function in the latest tf version, which performs the opposite of tf.extract_image_patches. If I did not miss it, it would be great to have this feature in tensorflow.
It would help me for the task I am doing.

Thanks in advance,
Vignesh

[2017-01-09 15:17] asross commented on #6742
...It's back up again now. Looks like it was just a temporary disruption.

[2017-01-09 15:48] PhoenixDai commented on #6478
I put together a repro case in a .ipynb file. Please place the file in the slim folder (./models/slim) so that it can find the slim dataset lib. The 4th and 7th cell set the dataset path, please point it to the converted cifar dataset tfrecord folder. Then, you should be able to run it.

At the penultimate cell, you can see results of a batch with different images and most of the classifications m

[2017-01-09 16:07] nikhilshinday opened #6744 "Bus error (core dumped) when importing TensorFlow"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-01-09 16:18] ppwwyyxx commented on #6478
In test time you didn't seem to set batch_norm to is_training=False.
Then with an identical batch it will certainly fail.

[2017-01-09 16:24] PhoenixDai commented on #6478
Oh, thank you so much for pointing this out. I will have a try and let you know how it goes.

[2017-01-09 16:53] andrewharp commented on #6711
@milinddeore It's worth checking that you're not running into https://github.com/tensorflow/tensorflow/issues/4911, which can affect some Android 5.0 devices. You can use the volume keys to turn on debug mode and view the image that's actually being sent to the classifier.

[2017-01-09 16:56] rperdon commented on #4547
Hi, were you able to find a solution to this?

[2017-01-09 16:58] andrewharp commented on #6738
@cyanoboy We're preparing a walk through for exactly this; should be out sometime in the not-too-distant future.

[2017-01-09 17:06] PhoenixDai commented on #6478
I set batch_norm to is_training=False but still have the same issue. Below is the updated evaluation/test graph:

[code]

Am I doing it in the right way?

[2017-01-09 17:20] AIROBOTAI commented on #6360
hi @mrry , you said

I don't quite understand what that means. Could you give an example to show such "automatical conversion"? And could you please explain what is "reference tensors"? Thanks!

[2017-01-09 17:31] mrry commented on #6360
Here's a simple example that appears quite frequently: the `tf.identity()` removes the ref-ness from its input, but doesn't make a copy, so the result, which has `tf.float32`, is actually a mutable buffer(!):

[code]

[2017-01-09 17:44] yaroslavvb commented on #6744
Can you run it under gdb and show stack trace?

it

[code]

[2017-01-09 17:46] yaroslavvb commented on #6736
@sguada

[2017-01-09 17:46] yaroslavvb commented on #6732
this list is for bugs in TF/feature requests, could you ask on stackoverflow?

[2017-01-09 17:46] #6732 closed

[2017-01-09 17:50] yaroslavvb commented on #6744
Although, `bus error` looks weird, the only time I've seen it was when trying to read from NFS and network was flaky

[2017-01-09 18:14] yaroslavvb commented on #434
OK, that seems like a case that's not covered. Not sure what's the state of initializers are (if they are going to get deprecated at some point), cc  @fchollet for opinion on having identity_initializer

[2017-01-09 18:16] drpngx commented on #6630
Right, it's incorrectly parsed by the markdown. Looping internally. We have a new version of the docs coming soon so we might not fix this one.

[2017-01-09 18:17] #6630 closed

[2017-01-09 18:18] yaroslavvb commented on #434
@carlthome So given that `glorot_uniform_initializer` was just added to core, I think if you wrote `identity_initializer` that used `tf.ones`, that would probably get accepted

[2017-01-09 18:19] bazookaboots opened #6745 "Tensor flow just stopped working all of a sudden"
My new to tensorflow and I was following the tutorial on tensorflow for poets to train an image classifier on a Docker image of gcr.io/tensorflow/tensorflow:latest-devel and I got it up and running but then yesterday I told it to classify an image that it has classified before and it threw an error now when im trying to retain it I keep getting this error

Looking for images in 'tensorflow'
No fil

[2017-01-09 18:23] carlthome commented on #434
Neat. :+1:

Sidebar: I see some merit of deprecating `tf.get_variable` actually. Python already has classes, so much of it is redundant. It's also a bit weird to see neural network specific stuff like Glorot initialization in TensorFlow's top package instead of in `tf.nn`.

[2017-01-09 18:38] krautt commented on #6727
FWIW,  tf.contrib.learn.monitors.ValidationMonitor  works like a champ when passed x,y parameters instead of input_fn, as instructed by the [tutorial](https://www.tensorflow.org/tutorials/monitors/)

[2017-01-09 18:38] hannes-brt commented on #6702
Thanks @yaroslavvb,

the behaviour I'm seeing is kind of subtle, so hopefully I can describe it a little better.

The graph creation works fine, the "deadlock" happens in `session.run`, when running the graph. By deadlock I mean that CPU load gets extremely high, such that the machine becomes unresponsive.

This is quite certainly an issue with multi-threading. If I don't supply a ConfigProto to s

[2017-01-09 18:45] martinwicke commented on #6630
Yes, I think the {} anchors will go away entirely.

[2017-01-09 18:58] yaroslavvb commented on #6702
Could it be that there's a bad tfrecords example which causes infinite loop? If you use 1 thread, it takes longer to get to that example, so that explains the extra delay. You can fix seeds to help with determinism and print out example keys to see which example could be the problem

[2017-01-09 19:08] yaroslavvb commented on #6745
This seems more appropriate to stack overflow (this list is for reproducible bugs in tensorflow + feature requests)

[2017-01-09 19:23] abossenbroek commented on #6729
Tried the following:
[code]

[code]

directory shows:
[code]

What should  I try next?

[2017-01-09 19:27] yaroslavvb commented on #6729
turn off SIP?

On Mon, Jan 9, 2017 at 11:23 AM, Anton Bossenbroek <notifications@github.com

[2017-01-09 19:31] abossenbroek commented on #6729
wanted to prevent that for security reasons.... but will try that.

[2017-01-09 19:35] yaroslavvb commented on #6729
Doesn't work with SIP unfortunately. Also LD_LIBRARY_PATH as I mentioned above

[2017-01-09 19:54] ThomasColthurst commented on #6500
Hi!  Thanks for reporting this bug!

Could you try reproducing it with the latest version of TensorFlow?  I think a change we checked in last month (https://github.com/tensorflow/tensorflow/commit/1943a9bbb87c67ee841eb2b0060b0c83c8770f96) should fix your problem.

[2017-01-09 19:59] drasros commented on #6724
interested in this too!

[2017-01-09 20:06] nikhilshinday commented on #6744
Hey, here is the stack trace:

[code]

[2017-01-09 20:11] yaroslavvb commented on #6744
That seems consistent with something wrong with your file-system, perhaps try copying all the CUDA .so files to another directory

[2017-01-09 20:18] nikhilshinday commented on #6744
alright, I copied it into a directory as follows:
[code]
and got the same Bus error issue.

[2017-01-09 20:20] AIROBOTAI commented on #6360
thanks for your kind response @mrry. But could you please explain more about in which cases we might need to remove the ref-ness from input? I have found no docs introducing the differences of `reference` and `non-reference` `dtype`, thus I have no idea when I should use which one of them.

Thanks for your time!

[2017-01-09 20:20] yaroslavvb commented on #6744
Stack trace makes me think the problem is outside of TensorFlow. I see similar issue here

https://bugs.kde.org/show_bug.cgi?id=340824

[2017-01-09 20:29] hannes-brt commented on #6702
I set a seed and printed every tf record key, but the it always hangs at a different example.

I did manage to run the CPU profiler though and created two profiles for the singled threaded configuration and the hanging multi threaded configuration.

Single-threaded: https://drive.google.com/open?id=0B_AiZCOgaorxSXRaaUl3SGJCYUk
Multi-threaded (hanging): https://drive.google.com/open?id=0B_AiZCOgaor

[2017-01-09 20:35] alextp commented on #6360
@AIROBOTAI you shouldn't have to worry about keeping / removing refness from inputs. While now it's not currently true that it's safe to treat all tensors as constant, I'm working on changing the system to make this true, so the notion of ref won't be necessary.

That said, removing ref from inputs is not something you do; the type system allows ref tensors to be treated as non-ref tensors, but no

[2017-01-09 20:43] AIROBOTAI commented on #6360
Wow, cool! Thanks @alextp! Also, sorry for deviating from the topic of this issue :-P

[2017-01-09 20:48] yaroslavvb commented on #5696
I concur, search could use improvement. For example, I go to main API page and search for "segment_max" -- https://www.tensorflow.org/s/results/?q=segment_max&p=%2F

This gives "segment_max" as second result, but when you go there, it has broken images/broken links because it's actually for version 0.10

[2017-01-09 21:11] WI-KIWI commented on #6692
@tillahoffmann thank you so much. I followed your suggestion and it worked! I appreciated your help!

Also many thanks to all here, especially to @szb0

Just WOW!

Cheers

[2017-01-09 21:32] abossenbroek commented on #6011
I can't get it to work on python3. Any recommendations?

Output
[code]

[2017-01-09 21:42] sguada commented on #6478
I'm not sure what your classifier_features or classifier_outputs do.
If you are using drop_out you also need to set is_training=False.

[2017-01-09 21:48] gunan commented on #4848
Will try the suggestion out locally.

[2017-01-09 21:50] gunan commented on #4848
After removing local=True, I still see the same problem.
@damienmg do you think I missed something, or is this not the full fix?

[2017-01-09 21:55] damienmg commented on #4848
I need to investigate a bit more. removing local = True should do the trick... I'll try to reproduce tomorrow, all I need is docker right?

[2017-01-09 22:01] gunan commented on #4848
You actually need a machine with a NVIDIA gpu, docker or not.
When I try on my machine, I can confirm that local = True does not fix the
problem for me.

On Mon, Jan 9, 2017 at 1:56 PM, Damien Martin-Guillerez <
notifications@github.com> wrote:

[2017-01-09 22:02] AndreaFar commented on #6355
this issue has been fixed now I have another issue

[2017-01-09 22:06] fchollet commented on #434
@yaroslavvb I think we do need an `Identity` initializer. Btw, note that we are currently refactoring initializers to be classes instead of functions that return functions. Let's add the new initializers afterwards.

[2017-01-09 22:09] AndreaFar opened #6748 "Got an unexpected keyword argument error when I call tf.contrib.layers.convolution2d on Tensorflow for Windows"
When I invoke tf.contrib.layers.convolution2d the tensorflow execution terminates with an error about one of the parameters used

the call is

[code]

I have tried to fix according new documentation using tf.random_normal_init but get always the same problem

OS: Windows 10 x64
Tensorflow 0.12.0

Related Stackoverflow question: http://stackoverflow.com/questions/41539658/tensorflow-error-when-i-tr

[2017-01-09 22:13] shawnjhenry opened #6749 "sparse_placeholder no longer accepts python ints in shape argument"
Hi,

After recently updating tensorflow, sparse_placeholder stopped working correctly.  It appears that the shape argument must now be int64 in order for tensorflow to convert the shape to a tensor, so the following fails:
[code]
with error message:
[code]
This is inconsistent with the behavior of tf.placeholder, for which:
[code]
succeeds.

Thanks,
Shawn

[2017-01-09 22:33] andrewharp commented on #6385
@AndreyRub Please see http://ci.tensorflow.org/view/Nightly/job/nightly-android/ for a full selection of prebuilt Android TF libs, which has just come online.

You can either download libtensorflow_inference.so for something that can be dropped into a standalone app, or grab
libtensorflow_demo.so if you're trying to get the TF Android demo to run (contains libtensorflow_inference.so + demo-specifi

[2017-01-09 22:37] alexminnaar opened #6750 "Error building TensorFlow within Docker Container"
I am following the instructions for using TensorFlow serving from https://tensorflow.github.io/serving/serving_inception.html
and after I clone tf within the container and build it with `./configure`

I get the following errors

[code]

and the `...` in the last error contains about 200 lines of additional text

[2017-01-09 22:47] gunan commented on #6750
Looks like this is an issue in tensorflow serving docker image.
@kirilg @jharmsen Could you take a look?

[2017-01-09 23:04] kirilg commented on #6750
Can you try running `update-ca-certificates -f`?

[2017-01-09 23:08] eraoul commented on #5722
+1 to built-in support for GPU-based data queues. Not all of us are running huge inception-style models with images. I definitely have a application with a smaller network but huge data sets, and got a graphics card with a large amount of RAM in order to queue up all the data in memory. I was really surprised that some people don't consider this a standard use case.

[2017-01-09 23:11] alexminnaar commented on #6750
@kirilg I tried that.  There was no change

[2017-01-09 23:20] DrSleep commented on #6011
It is not a problem with python3.
You have this error because the batch size of your input is not defined (it is None), and it is referred to in the reshape operation: `pool_outputs.append(tf.reshape(pool, [shape[0], -1]))`.
You can fix it in multiple ways: for example, rather than keeping `-1` to find out the hidden size, you can infer the batch size instead and run `pool_outputs.append(tf.reshap

[2017-01-09 23:37] kirilg commented on #6750
Hmm, not sure. This the the general workaround fix for these java.security.InvalidAlgorithmParameterException errors that worked for us before. Did that command succeed and you still see the error? Can you also try:
`sudo apt-get install ca-certificates-java`
`sudo update-ca-certificates -f`

[2017-01-09 23:51] alexminnaar commented on #6750
Ok working now.  My hunch is this was due to a spotty network connection - maybe something got downloaded incorrectly

[2017-01-09 23:56] yaroslavvb commented on #6716
This would also help with benchmarks which last week [were modified](https://github.com/tensorflow/tensorflow/commit/99d4517a) to store maximum memory usage . As far as I can tell, the memory parsing from timeline just adds up all allocations, so doesn't actually represent peak memory @ebrevdo

[2017-01-10 00:02] michaelisard commented on #6716
The [timeline](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/client/timeline.py) code does try to figure out the deallocations and compute peak usage, based on essentially reconstituting the graph from the logs. It would be better to do it properly, but I don't think it's as bad as you fear. @prb12 can correct me if I'm wrong.

[2017-01-10 00:08] #6750 closed

[2017-01-10 00:14] gibiansky commented on #5772
Looks like this is still an issue on current `master`. It would be nice to get this fixed! The CUDA error is _quite_ mysterious when you run into it.

[2017-01-10 01:07] gunan commented on #6748
Looking at the documentation here:
https://www.tensorflow.org/api_docs/python/contrib.layers/higher_level_ops_for_building_neural_network_layers_#separable_convolution2d

- weight_init is not a keyword, it has to be weight_initializer
- num_output_channels is not a keyword, maybe you mean num_outputs

Please make sure you read the documentation carefully. Python wont accept any abbreviations or an

[2017-01-10 01:07] #6748 closed

[2017-01-10 01:23] bowu opened #6752 "Matrix Vector multiply not parallelized."
### What is the problem?

Matrix vector multiply is not parallelized. Please see my example code. No matter how I change the intra_op_parallelism_threads, the running time is always similar. I used "top" to confirm that only one thread was used. However, the parallel speedups for square matrix matrix multiply are quite noticeable. Again, "top" confirmed that multiple threads were used.

### What r

[2017-01-10 01:41] yaroslavvb commented on #6744
I'm seeing lots of potential causes for dlopen causing sigbus: https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=bus+error+on+dlopen

I'll close this for now, please reopen if you find that problem lies with TensorFlow rather than with system dlopen call

[2017-01-10 01:41] #6744 closed

[2017-01-10 01:43] AndreaFar commented on #6748
same problem got an unexpected keyword argument 'weight_initializer'

[2017-01-10 01:47] jam-world opened #6755 "OSX Fail to run tensorflow/contrib/makefile/download_dependencies.sh"
Running on OSX

Run

sh tensorflow/contrib/makefile/download_dependencies.sh in the home directory

And I get

downloading https://bitbucket.org/eigen/eigen/get/60578b474802.tar.gz
downloading https://github.com/google/gemmlowp/archive/a6f29d8ac48d63293f845f2253eccbf86bc28321.tar.gz
downloading https://github.com/google/googletest/archive/release-1.8.0.tar.gz
downloading https://github.com/google/

[2017-01-10 01:53] prb12 commented on #6716
As @michaelisard  says, the Timeline class _does_ have some code in to try and track the refcounts of Tensors using information in the trace, but it is very unreliable since the only information it has is is the string names of inputs to each operation (from the ASCII timeline label).  These aren't robust to graph partitioning, rewriting and constant folding etc., and this is why the memory histog

[2017-01-10 01:54] PhoenixDai commented on #6478
classifier_features and classifier_outputs are used to define the model. Please see the 3rd cell in the attached .ipynb file in my second reply to michaelisard for more details.

Yes, I'm using drop_out and classifier_features(batch_images, is_training) will set is_training=False for drop_out

[2017-01-10 02:12] yaroslavvb commented on #6752
Here's a better benchmark that removes the cost of data transfer. It seems CPU usage is indeed quite low and it won't break 6 G ops/sec on Xeon. However, this problem is bandwidth limited so you are going to spend most of the time transferring data between RAM and CPU, so I'm not sure if this performance can be improved much. @benoitsteiner

[code]

[2017-01-10 02:37] tlbtlbtlb commented on #6202
@tvkpz The semantics of tf.zeros_initializer went through multiple changes between recent tensorflow versions. The latest git master of universe-starter-agent uses `tf.constant_initializer(0.0)`, which has been stable. So checking out should fix it.

[2017-01-10 02:51] jam-world commented on #6755
Make sure your curl support https. Sometimes it is a problem for OSX. And the error message is muted in the download script.

[2017-01-10 02:51] #6755 closed

[2017-01-10 02:51] bowu commented on #6752
Did you also observe that the operation is not parallelized by Eigen? Please note that this is a different question from whether the operation has high throughput.

[2017-01-10 02:54] yaroslavvb commented on #6752
I can't tell if it's parallelized or not. I think the goal should be performance, if higher performance is not possible with parallelization, then it shouldn't be parallelized.

[2017-01-10 02:59] yaroslavvb commented on #6752
What kind of performance are expecting/needing for this operation?

[2017-01-10 03:04] solomatov commented on #5514
It would be nice if you update your tutorial here https://www.tensorflow.org/tutorials/mnist/beginners/ to use the new method.

[2017-01-10 03:21] yaroslavvb commented on #6741
So what's happening here is that `divide` tries to do version-sensitive Python2 or Python 3 style divide. It calls `a/b` which drops the name, and then gets redirected to Python2 or Python3  . I think you probably want `tf.div` instead of `tf.divide`.

[2017-01-10 03:36] yaroslavvb commented on #6741
@aselle for comment if this is likely to get fixed .... it seems `tf.divide` loses the name which makes annoying for graph/timeline visualization

[2017-01-10 03:50] bowu commented on #6752
I agree that performance should be the goal, but I actually want to get a confirmation about whether TF parallelizes matrix vector multiply.

[2017-01-10 03:53] yaroslavvb commented on #6752
Not sure who handles CPU Eigen implementations, assigned to martin to reassign

[2017-01-10 03:58] yaroslavvb commented on #6716
This may also help solving the mysterious issue of TF running out of memory on step xyz, even though there are no changes to graph between steps. I've ran across it, and also [here](http://stackoverflow.com/questions/41540073/why-the-gpu-memory-is-not-the-same)

[2017-01-10 04:03] prb12 commented on #6716
There are numerous sources of non-determinism in memory allocation (and op dispatch), but more importantly, many people forget that there are often multiple steps running at the same time (e.g. if your model involves queues), does checkpointing, etc.

[2017-01-10 04:51] yaroslavvb commented on #6360
@michaelisard so turns out @danijar were both working on an A3C, and have similar use-case -- use-case is for `Snapshot` type op that lets you obtain a variable between updates. More specifically, our A3C implementation in https://github.com/openai/universe-starter-agent has agents trying to make prediction using parameters stored on a parameter server, which may be in the process of being updated

[2017-01-10 05:01] michaelisard commented on #6360
Yes this is a use case that we thought about when @alextp was designing the new variable implementation, and will be relatively straightforward. I don't know the timeframe but the idea is that a lot of this functionality will be filled in after TF 1.0 is out.

[2017-01-10 05:54] bazookaboots commented on #6745
ya, your right

[2017-01-10 05:55] #6745 closed

[2017-01-10 06:10] tvkpz commented on #6202
This is a reference is to a different project that includes tensorflow. Confused about what changes I need to make in the tensorflow-serving branch to get rid of this issue.

Appreciate if you can spell out the exact changes I need to make.

[2017-01-10 06:51] sjlee7748 commented on #4775
@c0710204 Hi, I want to know detailed information about how you compile tensorflow with AVX 512.
When I used option '--copt=-DEIGEN_ENABLE_AVX512', compiling the source code is okay, but there was no speedup. (I think the option was not applied)
So, I want to know what is your version of tensorflow and compiling command.
Additionally, If you use further action, please tell me about that.

Thank yo

[2017-01-10 07:05] c0710204 commented on #4775
@sjlee7748 Do you also add the  the avx512 compile flag like ‘--copt=“-mavx512f”'?  You can add macro to Eigen code to check it worked or not. The version I used is before the avx-512 Fixedpoint function add into the tensorflow(because I used the Xeon-phi when i build)
The command I used is
[code]

[2017-01-10 07:47] jingli9111 commented on #2818
Same problem when running dynamic_rnn with complex hidden state.

  File "/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/tensorflow/python/ops/gradients.py", line 264, in _VerifyGeneratedGradients
    dtypes.as_dtype(inp.dtype).name))
ValueError: Gradient type float32 generated for op name: "RNN/while/Switch_2"
op: "Switch"
input: "RNN/while/Merge_2"
input: "RNN/whil

[2017-01-10 07:48] jingli9111 commented on #2818
Same problem when running dynamic_rnn with complex hidden states.
[code]

[2017-01-10 09:22] bodokaiser commented on #6743
+1

[2017-01-10 09:29] fayeshine opened #6760 "distributed example fail on GPU"
When I run `https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/dist_test/python/mnist_replica.py`, the distributed example
I can run it with CPU(1 ps and 2 workers all on CPU in same machine )
but when I run it with GPU, I set the GPU
number to 2(1 ps on CPU and 2 workers on GPU in same machine), the first worker runs normally, but when I start the second one, it shows the follo

[2017-01-10 09:30] bodokaiser commented on #6743
@VigneshSrinivasan10 I found it hard to work with `tf.extract_image_patches` as it does a lot in the background. If your patches are just non-overlapping blocks then I found it easier to use `tf.reshape` and `tf.transpose`:

[code]
See [stackoverflow](http://stackoverflow.com/questions/41564321/split-image-tensor-into-small-patches) for more.

[2017-01-10 09:32] fayeshine commented on #6760
@michaelisard

[2017-01-10 09:37] VigneshSrinivasan10 commented on #6743
@bodokaiser, `tf.extract_image_patches` in my case can also work with overlap. I am looking to add the values in the places where they overlap.

[2017-01-10 09:47] bodokaiser commented on #6743
@VigneshSrinivasan10 in this case I think its best to put all `patches` belonging to the same `image` in one `batch` reshaping it to a 2d-tensor and then using `tf.nn.conv2d` to handle the overlap.

As this is not trivial to implement and something which I think occurs quite often it would really be great to have this supported by tensorflow.

[2017-01-10 09:50] chenghuige commented on #6739
I will file another bug for this .

[2017-01-10 09:50] #6739 closed

[2017-01-10 10:00] chenghuige opened #6761 "variable_scope behave differently for master code and release 0.12.1"
For master code, git rev-parse HEAD
ec7929b878926c39255254e9aea992f0bc65aa68

The problem is one of my code used to work for release 0.12.1 fail for master code, which use adagrad as optimizer.
ValueError: Variable OptimizeLoss/w_h/Adagrad/ does not exist, or was not created with tf.get_variable(). Did you mean to set reuse=None in VarScope?

I traced this and find below two simple codes can repro

[2017-01-10 10:07] revelationnow commented on #6509
I'm facing the same issue, I ran the cuda-memcheck on the job and I see a lot of null pointer accesses from EigenMetaKernel.
[error_log.txt](https://github.com/tensorflow/tensorflow/files/695756/error_log.txt)

[2017-01-10 10:18] jowagner opened #6762 "configure assumes ldconfig can be called and that CuDNN is installed in a system library location"
The configure script calls "ldconfig" to locate the CuDNN library but this makes 2 assumptions that can be wrong:
1. It assumes that "ldconfig" can be called. However, on some GNU/Linux systems such as openSUSE Leap 42.1, only root has it in their path. (On Leap 42.1, normal users get the desired output from "/sbin/ldconfig -p".)
2. It assumes that the CuDNN library is installed in a system librar

[2017-01-10 10:20] Pouyan-Jahangiri commented on #5780
@petewarden  I also have got this issue. I got the checkpoints and the binary .pb file but the freeze_graph.py shows me a utf8 decoder error similar to what @MikeChenfu posted. I tested freeze_graph_test.py and it was working OK.

What is the problem with the checkpoints / protobuf file. By the way I am getting my checkpoints through running inception V3 model. I validated the model as well and th

[2017-01-10 10:22] oorlov opened #6763 "Android: build shared library using Makefile with r0.12, migrating from r0.11"
I've been successfully using r0.11 Makefile with couple of additions (see below) to build shared library for Android.
Now trying to migrate to r0.12 with same Makefile modifications but getting a SIGSEGVs at model initialization.

I followed [contrib/makefile/README.md](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/makefile/README.md). I've checked https://github.com/tens

[2017-01-10 11:15] ems7 opened #6765 "Tensorflow v0.12 tf.nn has no module rnn_cell"
`Import tensorflow as tf`

`a = tf.nn.rnn_cell.LSTMCell(100)`

results in:

Tensorflow 0.12

ls -l 'cuda':
-rw-r--r-- 1 root root 189170 Jan  9 10:49 /usr/local/cuda/lib/libcudadevrt.a
lrwxrwxrwx 1 root root     16 Jan  9 10:49 /usr/local/cuda/lib/libcudart.so -> libcudart.so.7.5
lrwxrwxrwx 1 root root     19 Jan  9 10:49 /usr/local/cuda/lib/libcudart.so.7.5 -> libcudart.so.7.5.18
-rwxr-xr-x 1 roo

[2017-01-10 12:06] jrosti opened #6766 "softmax_cross_entropy_with_logits aborts the process, if a tensor with zero first dimension is passed as an argument"
### Environment info

Operating System: Ubuntu 16.04
Installed version of CUDA and cuDNN: CUDA-8.0, CUDNN 5.1.5

Tensorflow version: 0.12.1 installed from
https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-0.12.1-cp35-cp35m-linux_x86_64.whl

Reproduced also using tf-0.11.0, CUDA-7.5, CUDNN-5.1.3

### Minimal reproducible example

[code]
Result on GPU:
[code]
Result on CPU:
[code]

[2017-01-10 12:12] chenghuige commented on #6761
Also master code will fail when using cell(), I'm don't know how to workaround.
`    for i in range(max_steps):
      with tf.variable_scope("RNN", reuse=True if i > 0 else None):
        (output, state) = self.cell(last_symbol, state)  `

[2017-01-10 12:20] chenghuige opened #6767 "dynamic_rnn slower using master code then 0.12.1 release code"
For master code, git rev-parse HEAD
ec7929b878926c39255254e9aea992f0bc65aa68

same code running for 0.12.1
 batch_size:[256] batches/s:[4.76] insts/s:[1217.74]
 batch_size:[256] batches/s:[5.39] insts/s:[1379.17]
 batch_size:[256] batches/s:[5.11] insts/s:[1306.94]
 batch_size:[256] batches/s:[5.05] insts/s:[1292.61]

for master code:
batch_size:[256] batches/s:[4.18] insts/s:[1069.37]
 batch_size

[2017-01-10 12:41] DjangoPeng commented on #6630
@drpngx Yep, I do agree with you. It's not a separate problem, but a more general issue of markdown parser. Look forward to the new version of G3docs.

[2017-01-10 12:44] VigneshSrinivasan10 commented on #6743
@bodokaiser, I totally agree. It will be great to have this supported by tensorflow

[2017-01-10 13:03] DjangoPeng commented on #6634
@ebrevdo I do agree with you. And I'm working on it.

[2017-01-10 13:16] youngxiao commented on #3834
Thanks for your answer, @shartoo. It really works.

[2017-01-10 13:28] yemengsky commented on #1402
pip install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/protobuf-3.1.0-cp27-none-macosx_10_11_x86_64.whl

[2017-01-10 14:07] carlthome opened #6768 "Add "Hide empty panes" option to TensorBoard"
When filtering runs, empty panes show up if a hidden run has a summary in a scope that the visible runs don't have. This makes TensorBoard very messy when comparing different machine learning models with different variable scopes, and so on. Could an option to hide empty panes be added?

Example (note the empty LSTM scope):
![image](https://cloud.githubusercontent.com/assets/1595907/21809055/56b42

[2017-01-10 14:16] sdeoras commented on #10
Hi Folks, I am just curious why wrapper util functions in "op" folder don't seem to take node name as input argument. This prevents me from calling functions twice in a scope. For instance, I can't define two constants in a graph. There are no errors when I explicitly define constants or placeholders using tf.OpSpec by providing values for the Name field.

[2017-01-10 14:44] asimshankar commented on #10
@sdeoras : The alternative for now is to use [`Subscope`](https://godoc.org/github.com/tensorflow/tensorflow/tensorflow/go/op#Scope.SubScope), which is [used in the label image example](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/go/example_inception_inference_test.go#L211) as well (resulting in constants named `make_batch/Const`, `size/Const` etc. in the graph).

The answer to

[2017-01-10 15:02] wangli0519 opened #6769 "TF Learn TypeError: DataType float64 for attr 'T' not in list of allowed values: float32, float16"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-01-10 15:02] sdeoras commented on #10
@asimshankar : Thanks for your quick reply. Since it is easier for me to think in terms of graphs and operations on them, I am currently just rewriting some of the wrapper functions with node name as additional argument to avoid getting errors from underlying C++ code. I do, however, feel the same that providing names for every op declaration is cumbersome and hope that future versions of TF will

[2017-01-10 15:19] petewarden commented on #5780
Can you send me the checkpoint and graphdef file so I can reproduce the issue? If you don't want to publicly attach them to this issue, feel free to email me at petewarden at google.com instead.

[2017-01-10 15:36] yaroslavvb commented on #6752
OK, there do seem to be some missing optimization opportunities here.

First of all, matrix*vector matmul doesn't seem to be parallelized. Doing nxn by nx1 multiply uses one CPU core and runs at about 5 G ops/sec.

For some comparative experiments, note that this operation can be equivalently written as tf.mul+tf.reduce_sum, or simply as reduce_sum(...,axis=1) since our vector is all ones

Some ex

[2017-01-10 15:38] andrewharp commented on #6763
Can you describe more about your device and the sigsegv you're seeing?

Maybe not related to your issue, but Ndk 12b is suggested (12e does not exist afaik), as well as Bazel 0.4.2

Are you building with build_all_android.sh? That is the preferred way to build using the Makefile system.

Bazel is also a fully supported build method, e.g.:
[code]

[2017-01-10 15:43] yaroslavvb commented on #6767
@ebrevdo is there some existing benchmark that tracks dynamic_rnn?

[2017-01-10 15:45] yaroslavvb commented on #6769
What if you cast to float32 before feeding into maxpool?

[2017-01-10 15:46] schackv commented on #5921
@PhilipZeratul: I worked around this by adding the following to `tf_op_files.txt`:

[code]
I've also replaced `__ANDROID_TYPES_SLIM__` with `__ANDROID_TYPES_FULL__` everywhere in the Makefile, but admittedly I am not sure whether this is needed.

For a couple of other flavours of the same error I also had to add
[code]
This is along the lines of the suggestions in issue [4863](https://github.com/t

[2017-01-10 15:52] sid027 commented on #6087
I am having similar issues when using map_fn().
tensorflow.python.framework.errors_impl.InvalidArgumentError: The node 'map/while/Variable_9/Assign' has inputs from different frames. The input 'map/while/random_normal_9' is in frame 'map/while/map/while/'. The input 'map/while/Variable_9' is in frame ''.

[2017-01-10 16:05] yaroslavvb commented on #6702
Hm, from the profile it seems to get stuck in NonBlockingThreadPoolTempl::WorkerLoop -> sched_yield .... not really familiar with that part of the code but this vaguely seems like a bug in `parse_single_sequence_example`

blame [says](https://github.com/tensorflow/tensorflow/blame/a4b9b3ad4d602621f2a81fe86d11a531aaa4701d/tensorflow/core/ops/parsing_ops.cc) vrv put that code in, but it maybe misatt

[2017-01-10 16:16] yaroslavvb commented on #6765
It's been moved to contrib

[2017-01-10 16:16] #6765 closed

[2017-01-10 16:30] ebrevdo commented on #6767
There have been a number of chanes.  There are internal benchmarks but no red flags.

Any chance you could send the chrome traces (from tf.Timeline) from 0.12 and master?  We're looking for:

1. All ops still running on GPU
2. All ops still running on the same GPU

depending on which one of these is different, I can help more.

[2017-01-10 16:50] denfromufa commented on #18
@tiagosomda you can ask from @snarb about his experience with tensorflow and pythonnet. I just tried importing it successfully, but have not played with it yet.

[2017-01-10 17:08] Labalex21 commented on #6724
Me, too! Don't know if there is a way to do a 1d deconvolution with `nn.conv2d_transpose.`

[2017-01-10 17:18] yaroslavvb commented on #6724
This is a very vague feature request. There's already a kind of deconvolution implemented in TensorFlow. Also 1D vector can be turned into as 1xn 2D image using reshape so that 2D functions can be applied.

[2017-01-10 17:22] yaroslavvb commented on #6724
BTW, there's 1D FFT+inverse FFT [implemented](https://www.tensorflow.org/versions/master/api_docs/python/math_ops/fourier_transform_functions) in TensorFlow, the other kind of deconvolution can be done by combination of FFT and pointwise divide, would that work for you?

[2017-01-10 17:24] Binay2011 commented on #5514
I'm no expert by any means but I will try to do that over the next weekend. Hopefully I won't mess anything up :)
Binay

    On Monday, January 9, 2017 7:05 PM, Konstantin Solomatov <notifications@github.com> wrote:

 It would be nice if you update your tutorial here https://www.tensorflow.org/tutorials/mnist/beginners/ to use the new method.—
You are receiving this because you commented.
Reply to

[2017-01-10 17:24] Labalex21 commented on #6724
I will try it out and response here, thanks!

[2017-01-10 18:08] undercutspiky commented on #6766
I get the same error for tf-0.10.0 as well

[2017-01-10 18:39] tlbtlbtlb commented on #6202
`tf.zeros_initializer` had multiple incompatible API changes between 0.11, 0.12, and -master.
If you need compatibility across versions, use `tf.constant_initializer(0.0)` instead.

[2017-01-10 18:43] aselle commented on #6741
I think I have a fix. The problem is that operator overload __div__ cannot pass name, but I do want to use a class' division dispatch to honor the Python2/Python3 modes. I can do that with a dummy class. I have a fix that I'm testing internally. WIll keep this bug updated.

[2017-01-10 19:06] wangli0519 commented on #6769
@yaroslavvb It works. Big thanks.

[2017-01-10 19:08] #6769 closed

[2017-01-10 19:50] yaroslavvb commented on #6760
There was a same error in https://github.com/tensorflow/tensorflow/issues/4033 which has been caused by PS crashing with CUDA_OUT_OF_MEMORY, could this be the issue here as well?

[2017-01-10 20:01] learyg commented on #6752
Yeah, I believe @meheffernan had some significant matrix-vector speedups in his queue at some point, not sure we found the priority to finish landing them at the time. +@eliben

[2017-01-10 20:21] gokceneraslan commented on #5
It would have been maybe nicer to support C backend of Swig and generate TF C API via Swig as well: https://github.com/swig/swig/issues/800

[2017-01-10 20:24] gokceneraslan commented on #5
It would have been maybe nicer to support C backend of Swig and generate TF C API via Swig as well: https://github.com/swig/swig/issues/800 so that other languages like Go, Ruby, R can use the C api to write their own bindings.

[2017-01-10 20:55] devMls opened #6773 "svhn digit recongnition"
is posible add svhn digit recongnition to Scikit flow integrated in the framework now?

[2017-01-10 20:59] jhseu commented on #5
We have an existing C API for adding support for any language with a C FFI:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/c/c_api.h

[2017-01-10 21:04] Quantum64 commented on #5
Could the C API be accessed using [JNA](https://github.com/java-native-access/jna)?

[2017-01-10 21:10] gokceneraslan commented on #5
@jhseu I meant, it could have been maybe generated from C++ API earlier, before manually implementing the C API.

[2017-01-10 21:51] snarb commented on #18
@denfromufa it is ok. works, but I have used it mainly for sort of unit-testing of my C# implementation :)

[2017-01-10 21:54] yaroslavvb commented on #6773
@ilblackdragon would it make sense to mark this Contributions Welcome?

[2017-01-10 21:56] tristanbrown commented on #6548
The only other python distribution I have installed is WinPython, but I've already removed the path variables for that installation.

I have followed the conda instructions. That line only creates the new environment, named "tensorflow."

I have tried both:
1. Installing tensorflow within a conda environment and running it within that environment.
2. Installing tensorflow to the root environment a

[2017-01-10 22:02] gunan commented on #6548
What is your python installed with WinPython?
Also, I think when you say you followed Anaconda Instructions, that means you also have anaconda installed. So I believe you have two python distributions installed.
So maybe there is some confusion about your terminal which program is invoked?

[2017-01-10 22:03] lininglouis commented on #135
@yselivonchyk   works great!

[2017-01-10 22:10] alexminnaar commented on #6202
I am also running into this problem when following the TensorFlow serving tutorial here https://tensorflow.github.io/serving/serving_inception.html

[2017-01-10 22:11] yaroslavvb opened #6774 "`import_meta_graph` appends `_1` to node in GraphDef but doesn't add `_1` to Variable name in Collection"
In an example below, second `import_meta_graph` will create variable nodes `[a, a_1]`, but corresponding global variables collection has variables `[a, a]`. So now `report_uninitialized_variables` is empty, even though there's an uninitialized variable `a_1` in the graph. Example below crashes with `uninitialized` error.

[code]

[2017-01-10 22:12] yaroslavvb commented on #6774
@sherrym maybe simplest solution is to just throw an error when `import_meta_graph` tries to add an op that exists in the graph already?

[2017-01-10 22:23] alexminnaar commented on #6454
I am also experiencing this issue.  The referring issue was not able to solve it for me

[2017-01-10 22:25] rmlarsen commented on #6752
It is correct that the Eigen implementation deliberately falls back to a sequential implementation for matrix-vector multiplication. The reason is that there are specialized sequential matvec kernels in core Eigen that are approximately 4x faster than the matmul kernel called by the parallelized tensor contraction code used for matmul in TensorFlow.

In other words, if using the matmul kernel, you

[2017-01-10 22:32] maystroh opened #6775 "Issue when using binary tensorflow shared library"
I generated a shared library of tensorflow using the following command:

it was generated without any error and it's located in /usr/local/lib/libtensorflow.so.

BUT, when I add its dependency to my CMake file:

and I try to build my project I got the following:
[code]

[2017-01-10 22:33] martinwicke commented on #6647
@ilblackdragon didn't you fix something similar to this?

[2017-01-10 22:50] rmlarsen commented on #6682
Despite having a TODO for myself in the code, I'll add contributions welcome, in case somebody can beat me to it. It is not on the top of my list.

[2017-01-10 22:55] rmlarsen commented on #6503
As mentioned, this underway internally. I believe both the person working on it and I are just back from vacation. I assume this will be available within the coming month.

[2017-01-10 22:56] rmlarsen commented on #6504
I am not aware of anybody working on this ATM. Care to send us a PR @kstant0725 ?

[2017-01-10 23:00] Pouyan-Jahangiri commented on #5780
@petewarden I sent an email to you. Thank you very much. I appreciate your help.

[2017-01-10 23:00] ElchinValiyev opened #6776 "Siamese Inception model"
Already tried on StackOverflow - no success.
Please, help.

How to implement such network in TensorFlow?
[code]

I need to reuse weights in Inception for transfer learning.

[2017-01-10 23:19] ShownX opened #6777 "Compiled fails on Ubuntu 16.04 server"
Hi, there,

I compiled the latest v1.0.0-alpha version on a Ubuntu 16.04 server with GPU support. Here is the error I got:
[code]

Versions of packages:
1. The protoc --version is 3.1.0. I installed both C++ and python version;
2. CUDA 7.5, cudnn 5

PS: I compile it without cuda and everything goes well.

[2017-01-10 23:22] rmlarsen commented on #6752
I should also mention that @benoitsteiner  and others have been working on new low level kernels based on libxsmm. I believe the current focus is to improve matmul performance on Haswell and newer processors. But, once the code is in, we should probably re-evaluate the situation for matvec as well.

[2017-01-10 23:39] bowu commented on #6752
Great. Thanks.

[2017-01-10 23:39] #6752 closed

[2017-01-10 23:56] danijar commented on #6360
@alextp Okay cool. Will this change the last paragraph of the `tf.Variable.value()` docs? I think that's the unexpected behavior we ran into for A3C. It's definitely not safe behavior when running sessions from multiple threads.

[2017-01-11 00:11] yaroslavvb commented on #6775
This may be better addressed at stackoverflow (here's a related issue, answered without config=cuda) -- http://stackoverflow.com/questions/38256180/how-to-make-shared-libraries-with-bazel-at-tensorflow

[2017-01-11 00:29] alextp commented on #6360
Instead there will be a sister class to variable (now named
ResourceVariable, already in the codebase but hidden as it's still
incompatible with a lot of things) with different behavior. It will have a
Read op where a Read is guaranteed to see the result of all writes on which
it depends and to not see the results of writes which depend on it. It'll
also be possible to add operations with stronger

[2017-01-11 00:31] yaroslavvb commented on #6776
This list is for feature requests/bugs in tensorflow. Same people also monitor stackoverflow

[2017-01-11 00:31] #6776 closed

[2017-01-11 00:48] jart commented on #6731
Thank you for reaching out. I've assigned this feature request to one of the contrib/cmake maintainers.

To the best of my knowledge, the Bazel+Windows build currently doesn't have support for the packages in contrib. So there's probably no viable workaround right now for using contrib/tfprof on Windows.

[2017-01-11 00:53] yaroslavvb commented on #6775
I would guess this has to do with CUDA libraries not being found by your cmake procedure

[2017-01-11 00:54] jart commented on #6702
Per last comment, I'm assigning to @vrv to take this out of triage queue.

[2017-01-11 00:57] vrv commented on #6702
I don't really know what parse_single_sequence_example is, I think the original author was @ebrevdo, so assigning to him.

[2017-01-11 00:58] agriasgg commented on #6119
Make sure you delete any pre-existing models. Assuming this is the iris tutorial take a look at

``classifier = tf.contrib.learn.DNNClassifier(feature_columns=feature_columns,
                                            hidden_units=[10, 20, 10],
                                            n_classes=3,
                                            model_dir="/tmp/iris_model")
``

If you don't delete

[2017-01-11 01:01] jart commented on #6692
@WI-KIWI Based on my cursory glance of this issue, it seems what @tillahoffmann suggested was able to solve your problem. In that case, a new feature might not be necessary. Therefore I'm going to close this issue. If you disagree, and still feel that a feature should be added, let me know and I'll re-open this issue.

[2017-01-11 01:01] #6692 closed

[2017-01-11 01:08] chaitanya2692 opened #6778 "Parameter to MergeFrom() must be instance of same class: expected TensorProto got Variable. for field Value.tensor"
I am trying to save variables through checkpoints to introduce fault tolerance to my program. The following is my configuration:-

[code]

In this, the [CheckpointSaveHook](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/api_docs/python/functions_and_classes/shard2/tf.train.CheckpointSaverHook.md#tftraincheckpointsaverhook__init__checkpoint_dir-save_secsnone-save_stepsnone-sa

[2017-01-11 01:22] NickShahML opened #6779 "Training Slows Down -- But Speeds up If Entire Net is Reloaded"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

There are a few issues but none that simulate the same problem.

### Environment info
Operating System: Ubuntu 14.04, tf 0.12

Installed version of CUDA and cuDNN: 8.0
(please attach the output

[2017-01-11 01:22] jart commented on #6493
Thank you for your patience.

[410 Gone on GCS](https://cloud.google.com/storage/docs/json_api/v1/status-codes#410_Gone) is related to poisoned or expired upload sessions ([see also](https://github.com/stephenplusplus/gcs-resumable-upload/issues/15#issuecomment-249324122)).

Since your backtrace into [translate.translate](https://github.com/tensorflow/models/blob/86ecc9730d751c1f72e3bfecac95816639

[2017-01-11 01:22] #6493 closed

[2017-01-11 01:40] jart commented on #6120
I'm surprised load_graph_def doesn't check the version information, which is already present in the GraphDef proto. It seems like a simple check to add. I'm assigning to @girving since he was the one who added the version field to the proto.

[2017-01-11 01:49] NoNoCalm commented on #6731
Does It mean that this issue won't be solved in the coming months?

[2017-01-11 01:52] jart commented on #6733
@sherrym how do you think this request for meta graph example code should be triaged?

[2017-01-11 01:55] jart commented on #6734
I'm not sure what roi_pooling.cc is because that doesn't appear to be in our codebase. Could you please help us out with more details?

[2017-01-11 02:04] jart commented on #6735
@sguada I'm not sure if this is a bug, but @jonasrauber seems to be requesting a relatively trivial change.

[2017-01-11 02:07] jart commented on #6738
Assigning to @andrewharp assuming he wants to add `Fixed #6738` to the commit message which adds that walkthrough.

[2017-01-11 02:32] pswpswpsw commented on #4620
@yaroslavvb How did tensorflow choose to transfer information() across GPU directly, rather than goes to CPU as an intermediate state?

Second question, more important, internally, how does tensorflow off-load job to GPU? Does it off-load all training data + weights all together into GPU memory then computing until the end of training, then bring the final weight back to CPU? Or, does it only off-

[2017-01-11 02:35] jart commented on #6743
@gpapan two users are requesting this feature. Since you introduced the ExtractImagePatches op, I figured you might be a good person to weigh in on the merits.

[2017-01-11 02:37] yaroslavvb commented on #6779
What about using `tcmalloc`?

[2017-01-11 02:39] yaroslavvb commented on #6779
One way to narrow this down is to use google performance tools to take performance profile before and after slowdown, and see if there's some obvious difference in where the time is spent

[2017-01-11 02:42] buptjz opened #6780 "crash when run distributed training"
When I run distributed training on tensorflow 0.12, everything ok at first, loss and global step was printed.
But after thoudsands of steps, following errors appear

tensorflow.python.framework.errors_impl.UnavailableError: {"created":"@1484093728.844289839","description":"EOF","file":"external/grpc/src/core/lib/iomgr/tcp_posix.c","file_line":235," grpc_status":14}

and

tensorflow.python.framewor

[2017-01-11 02:45] yaroslavvb commented on #4620
The user specifies where to locate weights and training data and TensorFlow adds transfers are necessary. If you place your training data and weights on GPU, and all ops have GPU implementation, then all the data will stay on GPU. You can use timeline profiling to see where ops are executes and when CPU/GPU transfers are taking place -- https://github.com/tensorflow/tensorflow/issues/1824#issuecom

[2017-01-11 02:55] yaroslavvb commented on #6780
Can you give complete backtrace? I can't see what device it was trying to assign to.

Also, googling error code shows that this code can be returned when connection can't be established.

Currently if connection is dropped, TensorFlow session can become invalid and process needs to be restarted. Not sure if anything can be done about error messages @mrry

[2017-01-11 02:59] NickShahML commented on #6779
Hey @yaroslavvb thanks for your response. I will use `tcmalloc` and try to diagnose what exactly is going on. Do you recommend just running it like this?

`LD_PRELOAD=/usr/lib/libtcmalloc.so.4 HEAPPROFILE=/tmp/profile python timestep_network.py`

[2017-01-11 03:01] souterjk opened #6781 "Java API: How to implement a PlaceHolder"
I've been loving experimenting with @asimshankar 's Java API, and finally got it working tonight with a model that i've trained myself based of of inception. However, I noticed his comment in his tutorial/demo java class that says:

I'd be very interested in seeing how to do this with the java API. I want to be able to optimize using the same graph for a bunch of images which would be fed into the

[2017-01-11 03:06] jart commented on #6749
Maybe @mrry can comment on what might be an issue with the `tf.sparse_placeholder` shape API.

[2017-01-11 03:10] yaroslavvb commented on #6779
Something like

export LD_PRELOAD="/usr/lib/libtcmalloc_and_profiler.so.4"
export CPUPROFILE="cpu-profile"
python lm_benchmark_grpc.py --num_gpus=1

export exe=`which python`
google-pprof --pdf $exe $CPUPROFILE > profiling_output.pdf

On Tue, Jan 10, 2017 at 6:59 PM, Nick Shah <notifications@github.com> wrote:

[2017-01-11 03:45] neuralearner commented on #6454
Anyone have a solution for this? I'm experiencing the same issue while exporting v3 weights.

[2017-01-11 03:49] neuralearner commented on #6202
Still experience the same issue here. Just did a fresh clone of tf_serving to export weights which has the latest tensorflow as well

[2017-01-11 04:10] bowu opened #6782 "./configure has issues after copying the tensorflow codebase to a different machine"
I copied my modified tensorflow codebase to a different machine. After running ./configure, I got the following errors. How can I fix it?

ERROR: /home/bwu/ResearchProjects/tensorflow_org/tensorflow/workspace.bzl:17:3: //external:eigen_archive: no such attribute 'urls' in 'new_http_archive' rule.
ERROR: /home/bwu/ResearchProjects/tensorflow_org/tensorflow/workspace.bzl:17:3: //external:eigen_archi

[2017-01-11 04:21] yaroslavvb commented on #6202
@neuralearner The issue I described is due to API change affecting user code and can be fixed by changing tf.ones_initializer to tf.ones_initializer() in your program

[2017-01-11 04:27] jart commented on #6761
@wicke do you think some of the 1.0 work might have caused this?

[2017-01-11 04:32] jacktang commented on #6119
Update to tensorflow 0.12.1. It seems fixed.

[2017-01-11 04:50] jart commented on #6762
Thanks for bringing this to our attention. It would be nice if the configure script was smarter about discovering this library. As for ldconfig, wouldn't it work if it was just changed to `/sbin/ldconfig`? Where else could it be?

Please be advised that OpenSUSE isn't in our support matrix. Our goal is to support Ubuntu Linux 14 LTE to 16. Mac OS X El Capitan. CentOS 7 and above. So it might be be

[2017-01-11 05:01] chenzhekl commented on #22
How about using HIP to port CUDA code to platform agnostic one? https://github.com/GPUOpen-ProfessionalCompute-Tools/HIP/blob/master/docs/markdown/hip_porting_guide.md

[2017-01-11 05:03] jart commented on #6763
There's a lot to digest here. @petewarden might want to be aware of all this commentary concerning the makefile build.

@oorlov you might want to file an issue at https://github.com/google/gemmlowp asking them why it doesn't compile with -O0.

[2017-01-11 05:10] jart commented on #6766
@zheng-xq Here's a GPU memory alloc issue. Reported both here and on Stack Overflow: http://stackoverflow.com/questions/41530966/memory-error-with-eigenallocator

[2017-01-11 05:13] jart commented on #6775
I concur. If you have reason to suspect this might be a bug in TensorFlow, please let us know, and I'll re-open this issue.

[2017-01-11 05:13] #6775 closed

[2017-01-11 05:19] jart commented on #6768
@dandelionmane This feature request sounds pretty reasonable. Is there any reason why we would want to display empty panes at all?

[2017-01-11 05:36] jart commented on #6777
Maybe `@protobuf//:protoc` needs to be added to the `data` attribute of `//tensorflow/tools/pip_package:build_pip_package` and then the script should `export PROTOC=...` to the location of the one built by bazel before calling `bdist_wheel`.

As a workaround, you might want to install https://github.com/google/protobuf/archive/008b5a228b37c054f46ba478ccafa5e855cb16db.tar.gz on your system from sou

[2017-01-11 05:42] jart commented on #6778
Thanks for reaching out. Is that the complete backtrace?

[2017-01-11 05:46] chaitanya2692 commented on #6778
This is the complete error I get:-
[code]

[2017-01-11 05:46] jart commented on #6781
Thanks for reaching out. We try to keep this issue tracker limited to bugs and feature requests. We recommend posting on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) for community-driven support. Unless of course @asimshankar is interesting in weighing in on this question.

[2017-01-11 05:46] #6781 closed

[2017-01-11 05:50] buptjz commented on #6780
@yaroslavvb Here's the complete backtrace:)

[code]

[code]

[code]

[2017-01-11 05:51] jart commented on #6782
Thanks for reaching out. Your other machine isn't running Bazel ≥0.4.2. Installing the latest Bazel will do the trick.

[2017-01-11 05:51] #6782 closed

[2017-01-11 05:52] gunan commented on #6777
This is curious.
Maybe there are two different versions of protoc?
This message looks interesting to me
[code]

Where did you download protobuf packages you installed?

@jhseu in case he can help.

[2017-01-11 05:56] ahundt commented on #6294
closed in favor of #6413

[2017-01-11 05:56] #6294 closed

[2017-01-11 06:06] jihunchoi commented on #6682
Okay. I will look forward it if there's a point I can contribute.
By the way, is it somewhat "uncommon" to use `tensordot` function?
I was a user of "reshape (or transpose) - matmul - reshape (or transpose)" approach previously, and am finding methods for doing this boring series of operations.
I think `einsum` function is an attractive alternative, indeed more powerful alternative. A single quest

[2017-01-11 07:11] luzi82 opened #6783 "TensorFlow GPU, CUDA_ERROR_LAUNCH_FAILED on tf.one_hot()"
Use tf.one_hot() on Windows 10, GPU, Nvidia 970.  Error CUDA_ERROR_LAUNCH_FAILED happens.

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

I have post an issue in http://stackoverflow.com/questions/41115476/tensorflow-gpu-cuda-error-launch-failed-on-tf-one-hot .  No solution found.  More people report the same issue.

### Environment i

[2017-01-11 07:15] jart commented on #6777
@gunan Files like [protobuf_optimized_pip.sh](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/protobuf/protobuf_optimized_pip.sh) lead me to believe that `setup.py bdist_wheel` is doing unholy things as part of the build process, like getting protoc from /usr/bin. Exporting that environment variable in the pip package script would most likely make things a little mor

[2017-01-11 07:19] olesalscheider commented on #22
It seems AMD is working on that: https://github.com/GPUOpen-ProfessionalCompute-Tools/HIP/issues/45#issuecomment-269827686

[2017-01-11 07:24] jart commented on #6778
Maybe what you want is `tf.Summary(value=[tf.Summary.Value(...)])`.

In the future please direct questions like these to [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow). We try to keep this issue tracker limited to bugs and feature requests.

[2017-01-11 07:24] #6778 closed

[2017-01-11 07:43] joergfranke commented on #1588
Is someone working on this op?

[2017-01-11 08:01] gunan commented on #6777
That is exclusively for ci_build, where we build the cpp optimized protobuf pip package.
That one never gets touched by anything else in our codebase.

Bazel is powerful, it can build a lot of things but IMHO we need to be careful about balancing.
In a perfect world we let bazel build everything it can.
In real life, the more we let bazel build things, the more painful our developer experience is

[2017-01-11 08:44] fayeshine commented on #6760
Yes, I need to use CUDA_VISIBLE_DEVICES='' to disable the ps using memory

[2017-01-11 09:14] jowagner commented on #6762
TLDR: A solution may be to set PATH="$PATH":/sbin at the start of the configure script. This way, if the system or the user has a preferred "ldconfig" somewhere else it will be used and if not the script will automatically fall back to /sbin/ldconfig.

The FHS http://www.pathname.com/fhs/pub/fhs-2.3.html only mentions "ldconfig" in the /sbin section. From this point of view, it should be safe to a

[2017-01-11 09:17] tvkpz commented on #6202
I see that the .pyc files have the zero_initializer. Has anyone tried replacing the zero_initializer function with constant_initializer and regenerated the pyc files. In that case please outline the steps you followed.

[2017-01-11 09:51] oorlov commented on #6763
@andrewharp you are right, my NDK is Pkg.Revision = 12.1.2977051 that is r12b. Misspelled a folder inspired by ndk-r10e.

Another thing I've realized is that after all changes (disabled neon, and OPTFLAGS := -O0) I'm getting ~110MB libtensorflow.so artifact that **DOES** work in the same way as r0.11

Looks like I messed up some things yesterday like android version or ndk version were different b

[2017-01-11 10:49] chrisruk opened #6785 "Bug with TensorFlow Serving in TensorFlow 0.12"
I have found the following code works fine when using TensorFlow 0.11, installed using:
export TF_BINARY_URL=https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.11.0rc2-cp27-none-linux_x86_64.whl

However when using TensorFlow 0.12 installed using:
export TF_BINARY_URL=https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-0.12.1-cp27-none-linux_x86_64.whl

I get the follo

[2017-01-11 11:30] Bruczzz commented on #504
@syed-ahmed .
Can you please tell me how you created .pb file from model.ckpt.
Thanks.

[2017-01-11 11:43] keotic opened #6786 "Variable "matching_filenames" @ tf.train.match_filenames_once() should be local?"
This var holds the matched file names for the input stream pipeline.
Since it is added to the graph, when using the contractor of tf.train.Saver() it is saved
as part of the checkpoint state.
Hence loading saved models from checkpoints for inference, the training file names are loaded instead of the val / inference files.

Shouldn't this Var become a local variable? will it not be saved by default

[2017-01-11 11:51] expenses opened #6787 "could not find cuDevicePrimaryCtxSetFlags in libcuda DSO; dlerror: /usr/lib/libcuda.so.1: undefined symbol: cuDevicePrimaryCtxSetFlags"
Hi, when trying to get tensorflow on my Nvidia GPU, the output started with the following:

    I tensorflow/stream_executor/dso_loader.cc:128] successfully opened CUDA library libcublas.so locally
    I tensorflow/stream_executor/dso_loader.cc:128] successfully opened CUDA library libcudnn.so locally
    I tensorflow/stream_executor/dso_loader.cc:128] successfully opened CUDA library libcufft.so

[2017-01-11 12:15] kwotsin opened #6788 "Tf-slim: Unable to read dataset using slim.data_set_provider.DataSetProvider when images are not in JPEG."
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
Couldn't find relevant threads as there aren't many tf-slim questions.

### Environment info
Operating System:
**Ubuntu 16.04**

Installed version of CUDA and cuDNN:
**8.00**

If installed from binary pip package, provide:

1. A link to the pip package you installed:
2. The output from `py

[2017-01-11 13:00] carlthome opened #6789 "TensorBoard: Improve handling of tall images"
**[Example of how it looks today](https://cloud.githubusercontent.com/assets/1595907/21849403/e4a3a9e4-d805-11e6-9210-705cff983b4a.png), and [an example of how it would look without stretching](https://cloud.githubusercontent.com/assets/1595907/21849399/da03e30a-d805-11e6-80f4-02f2a44417b9.png).**

TensorBoard's CSS for image summaries stretches the image to 100% which makes it hard to interpret i

[2017-01-11 13:11] CasyWang commented on #3725
by the way, where is the bias of logistic regression?

[2017-01-11 14:05] antikantian commented on #5
@Quantum64, [here](https://github.com/mskimm/tensorflow-scala) is a Scala binding of tensorflow that uses JNA.

[2017-01-11 14:14] sjlee7748 commented on #4775
@c0710204 When I used your command, I had below errors.
`gcc: error: unrecognized command line option '-mavx512f'`
`gcc: error: unrecognized command line option '-mavx512cd'`
`gcc: error: unrecognized command line option '-mavx512er'`
`gcc: error: unrecognized command line option '-mavx512pf'`

I think this error related with Tensorflow , OS and GCC version, but I don't know what is the best combi

[2017-01-11 14:37] fanyangxyz commented on #5853
A related question: is it true that backpropagation involving sparse_tensor_dense_matmul is NOT supported on GPU in version r0.11?

More specifically, the following code failed to run on GPU:
`import tensorflow as tf
import numpy as np

with tf.device("/gpu:0"):
    x = tf.sparse_placeholder(tf.float32)
    v = tf.Variable(tf.random_normal([4, 1]))
    cost = tf.reduce_sum(tf.sparse_tensor_dense_m

[2017-01-11 14:46] buptjz opened #6790 "Only Master worker do predict when using estimator.Estimator.predict"
I run distributed training via a estimator.Estimator.The model is save at hdfs with multiple files.
When I use this model to predict, only the master worker do prediction while other workers do nothing,
just stop at the beginning of the for loop.

classifier = tf.contrib.learn.estimator.Estimator(
        model_fn=l2m_model_fn,
        params=model_params,
        config=run_config,
        model_

[2017-01-11 14:50] ppwwyyxx commented on #6270
Is there any update on this since 1.0 is already in alpha now.

[2017-01-11 14:53] asimshankar commented on #6781
@souterjk : Such questions are better suited for Stackoverflow as @jart pointed out. That said, use of the placeholder is like any other operation. The following example shows construction of a trivial graph to add two float tensors and then repeated invocation of the single graph using placeholders:

[code]

[2017-01-11 15:23] alarmz opened #6791 "Contrib support on Windows"
# step to reproduce:
attached file (https://www.dropbox.com/s/7yglwzjx4tyoguz/save_restore_model.zip?dl=0)
 is my source code
I am testing saver.save and saver.restore function under windows.
working envirment : Windows R2 Server 2012 x64,
python 3.5 x64, TF 1.0 and master daily build, working with virtualenv
I also tested TF 0.12

1. download source code save into C:\work\tensorflow001 ,
2. creat

[2017-01-11 16:41] martinwicke commented on #6761
@lukaszkaiser or @ebrevdo , can you comment?

[2017-01-11 16:42] greninja opened #6793 "One hot encoding of words?"
How can I create one hot encoding of words with  each word represented by a sparse vector of vocab size and the index of that particular word equated to 1 ?
something like `oneHotEncoding(words = ['a','b','c','d']) ->  [[1,0,0,0],[0,1,0,0],[0,0,1,0],[0,0,0,1]]`

[2017-01-11 16:43] wumengfei commented on #1850
Hi, VDalibard：
I'm a freshman on tensorflow. Now I'm trying to establish a distributed tensorflow on two Ubuntu servers. I've used the code on tersorflow.org and ran the following codes
`CUDA_VISIBLE_DEVICES='' python distribute.py --ps_hosts=10.105.36.225:2223 --worker_hosts=10.105.36.225:2224,10.105.32.251:2224 --job_name=ps --task_index=0`
to setup the parameter server. And
`CUDA_VISIBLE_DEVICE

[2017-01-11 17:19] ebrevdo commented on #1588
No, you are welcome to give it a shot.

On Tue, Jan 10, 2017 at 11:43 PM, Jörg Franke <notifications@github.com>
wrote:

[2017-01-11 17:20] lightcatcher commented on #4663
Has there been any progress on this?

[2017-01-11 17:25] ebrevdo commented on #6702
That op does not use multiple threads.  Could you try running with
--config=asan to see if there are any associated memory issues?

If you want me to try to debug, you'll have to send me enough input data,
so i can reproduce, by email.  You can send it to my username@, the domain
is either gmail.com or google.com.

On Tue, Jan 10, 2017 at 4:58 PM, Vijay Vasudevan <notifications@github.com>
wrote:

[2017-01-11 17:30] mrry commented on #6749
Looks like the problem is in `array_ops._normalize_sparse_shape()`. It converts its argument to a tensor, which for a list of Python `int` values will result in a `tf.int32` tensor. I suspect the correct answer is to add a `dtype=dtypes.int64` to the `ops.convert_to_tensor()` call, but since there doesn't appear to be any unit test for this I'll defer to @ilblackdragon, who originally added that f

[2017-01-11 17:59] #6736 closed

[2017-01-11 18:08] alexminnaar commented on #6202
@neuralearner I got it working by changing tf.ones_initializer to tf.ones_initializer() and tf.zeros_initializer to tf.zeros_initializer() in `/serving/bazel-bin/tensorflow_serving/example/inception_export.runfiles/inception_model/inception/slim/ops.py`.  [This issue](https://github.com/tensorflow/serving/issues/250) helped me solve the problem.

[2017-01-11 18:14] woodthom2 opened #6795 "Unable to compile HEAD on Windows with Bazel"
I'm unable to successfully build the current HEAD (or versions 1.0 or 0.12) with Windows and Bazel.

## Environment info

* Operating System: Windows 10
* Installed version of CUDA and cuDNN: None
* Bazel version: 0.4.3 (Build time: Thu Dec 22 12:31:31 2016 (1482409891))
I have done the following

* install prerequisites for Bazel on Windows (https://bazel.build/versions/master/docs/windows.html)

[2017-01-11 18:20] NickShahML commented on #6779
Hey @yaroslavvb I just wanted to update you and let you know for right now, `tcmalloc` seems to have resolved the issue. I haven't fully trained all the way but so far, it does seem to be pretty stable! Thanks! I'll close for right now.

[2017-01-11 18:20] #6779 closed

[2017-01-11 18:36] Bobrosoft98 commented on #6460
I tried profiling the code as described [here](http://stackoverflow.com/a/37774470) and got interesting results.
This is what I get with GradientDescentOptimizer and 30 workers:
<img width="1010" alt="2017-01-11 21 22 17" src="https://cloud.githubusercontent.com/assets/9952727/21861086/6a3148f8-d844-11e6-89b9-a1bdef990be9.png">
This is AdamOptimizer with 30 workers
<img width="1048" alt="2017-01-1

[2017-01-11 18:41] hsaputra commented on #5
Since this issue still open, how does
  `https://github.com/tensorflow/tensorflow/tree/master/tensorflow/java`
being implemented and what was the PR for the commit?

[2017-01-11 18:48] asimshankar commented on #5
@hsaputra : Could you elaborate on what you're looking for? There are multiple commits that contribute to the code in [`tensorflow/java`](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/java), most of which are referenced in this issue (such as 2b1cd28, d73a266 and many others in between)

[2017-01-11 18:48] ShownX commented on #6777
@gunan @jart Thanks your response!

The server indeed has multiple version of protobuf because some users run Caffe which need protobuf v2.5. I tested the libprotobuf header in ```/usr/local/include``` and version of protoc. Both of them are v3.1.0. It is downloaded and compiled from release page [https://github.com/google/protobuf/releases/tag/v3.1.0](https://github.com/google/protobuf/releases/t

[2017-01-11 18:48] #6777 closed

[2017-01-11 18:54] rohan100jain commented on #6537
I believe commit https://github.com/tensorflow/tensorflow/pull/6719/commits/493188ebe0f68ace157bd97453c41e2cb0d642c8 should have fixed this issue.

Can you verify and make sure things work fine now?

[2017-01-11 18:57] hsaputra commented on #5
HI @asimshankar , thanks for the reply.

I am just wondering what was the path that `tensorflow/java` take to implement Java API since this ticket is not closed.
There were discussions about using JavaCPP vs SWIG vs call via Jython.

Seemed like the `tensorflow/java` is implemented with direct JNI to call C APIs instead?

[2017-01-11 18:58] yaroslavvb commented on #4663
`tf.identity` does some weird things (like removing ref-ness from its input), I think @alextp was working on sorting out semantics, @alextp will your resource containers work affect behavior of identity?

[2017-01-11 18:59] asimshankar commented on #5
Correct.

[2017-01-11 19:01] alextp commented on #4663
tf.identity doesn't actually copy the value of the variable (if you want a copy something like +0 will do). For the new variables I'm working on there'll be a read op which does act like it makes a copy.

[2017-01-11 19:09] mrry commented on #6795
From a look at the error message, it seems to be failing when compiling a part of the protobuf library (viz. the Python extension that uses the optimized C++ implementation, which is the target `"//:python/google/protobuf/pyext/_message.so"` in [protobuf's `BUILD` file](https://github.com/google/protobuf/blob/228d242c583fb4e0dde17f0a52899f995d85c200/BUILD#L612)). The CMake build doesn't use this e

[2017-01-11 19:19] mrry commented on #6460
@concretevitamin Thanks for the hopefulness, but alas I don't think any of my recent optimizations will make this better.

@Bobrosoft98 What is your CPU utilization like on the PS machine when running Adam with one worker? From a quick glance it looks like the ops duration might be dilating because of contention for the threadpools (in particular the intra-op parallelism) that do parallel work in

[2017-01-11 19:23] mrry commented on #6795
@gunan Do we do anything special with the `bazel.rc` file on the Windows CI build to avoid hitting this? I couldn't see anything in the scripts, so presume it could be environmental, or controlled by some configuration file that I'm unaware of?

[2017-01-11 19:28] gpapan commented on #6743
The opposite of `tf.extract_image_patches` is its gradient or transpose operation.
There is an implementation of that [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/array_grad.py#L575).
Also see: #2921.

[2017-01-11 19:35] gunan commented on #6795
'--cpu=x64_windows_msvc --host_cpu=x64_windows_msvc --copt=/w --verbose_failures --experimental_ui'

The above are all the options we use, and the build at master seems to be healthy for the last week(failures are infra issues):
http://ci.tensorflow.org/job/tf-master-win-bzl/

@meteorcloudy in case he knows something

PS: the return value, `-1073741515` is too random, it looks fishy. Almost like a

[2017-01-11 19:37] gunan commented on #6795
Just checking, by any chance did you accidentally install 32 bit version of anything?

[2017-01-11 19:55] Carmezim commented on #6783
Do you think it can be related to [GTX 970 memory issues](http://wccftech.com/nvidia-geforce-gtx-970-memory-issue-fully-explained/) when trying to allocate more than 3.5GB?

[2017-01-11 20:01] #6741 closed

[2017-01-11 20:17] bodokaiser commented on #6743
What do I need to do to create API docs for this?

[2017-01-11 20:38] Carmezim commented on #6783
There is an issue with memory allocation on GTX 970 when trying to go over 3.5GB but in this case it seems related to #6509

[2017-01-11 21:00] ods94065 commented on #3388
Here's code that reproduces the Keras problem for me from a recent build of my test system. Ubuntu 14.04, Python 3.4 (default OS version), TensorFlow 0.12.1, Keras 1.2.0:

[code]

[2017-01-11 21:50] aselle commented on #6741
@ppwwyyxx, master now has the fix, You can cherry pick it if you need it in an older version, otherwise in the mean-time you can use the workaround. Thanks!

[2017-01-11 21:51] dsblr commented on #6402
@jhseu I am still getting the same error for 0.12.1 release. Please help to resolve the issue.

D:\Users\user1\tensorflow\softwares\anaconda>python.exe -m pip install
 tensorflow-0.12.1-cp35-cp35m-win_amd64.whl
Processing d:\users\user1\tensorflow\softwares\anaconda\tensorflow-0.1
2.1-cp35-cp35m-win_amd64.whl
Requirement already satisfied (use --upgrade to upgrade): numpy>=1.11.0 in d:\us
ers\user

[2017-01-11 22:17] oorlov commented on #6763
Checked Android build with Bazel, followed these instuctions:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/android

Bazel build script for libtensorflow_inference.so generates different compilation error:

[code]
Log: [bazel-android-inference.txt](https://github.com/tensorflow/tensorflow/files/700122/bazel-android-inference.txt), Verbose: [bazel-android-inference-verbose

[2017-01-11 22:34] andrewharp commented on #6763
@oorlov //tensorflow/contrib/android:libtensorflow_inference.so was missing several link targets in 0.12 that add the necessary definitions. This has since been fixed, but if you want to patch 0.12 just add:

[code]

to the linkopts section and it should build.

[2017-01-11 22:51] sguada commented on #6735
Totally it makes sense.

[2017-01-11 22:54] jhseu commented on #6402
Works for me on my Windows machine. The problem seems to be this error:
`Could not fetch URL https://pypi.python.org/simple/protobuf/: There was a prob
lem confirming the ssl certificate: [SSL: UNKNOWN_PROTOCOL] unknown protocol (_s
sl.c:645) - skipping`

I'm guessing you're sitting behind a proxy. I don't have any advice to give you, but stackoverflow has some questions about it.

[2017-01-11 23:04] ods94065 commented on #3388
Another update: ITOT the `gc.collect()` solution I attempted in my straight-up TensorFlow test ended up not working reliably either. So, I went from doing this:

[code]

To doing this:

[code]

It's a nondeterminstic error, so we'll see if that takes.

[2017-01-11 23:10] raingo opened #6797 "eiddccfiutbfedncengrfggkburbbbfvkufejukucetr"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-01-11 23:10] #6797 closed

[2017-01-11 23:40] syed-ahmed commented on #504
@Bruczzz Hi, you can check out this script: [freeze_graph.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/freeze_graph.py). Also, pete warden has posted a nice documentation on deployment. Check it out: [Graph Transform Tool](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/README.md)

[2017-01-12 00:22] tedsandler commented on #6196
@nealwu line 133 of "ptb_word_lm.py" has a comment that reads:

     # The alternative version of the code below is:
     #
     # inputs = tf.unstack(inputs, num=num_steps, axis=1)
     # outputs, state = tf.nn.rnn(cell, inputs,
     #                            initial_state=self._initial_state)

https://github.com/tensorflow/models/blob/master/tutorials/rnn/ptb/ptb_word_lm.py#L133

However, it

[2017-01-12 00:38] expenses commented on #6787
I installed the `nvidia`,`nvidia-libgl` and `nvidia-utils` packages instead of their `nvidia-340xx` equivalents, which did the trick.

[2017-01-12 00:38] #6787 closed

[2017-01-12 00:42] nealwu commented on #6196
@tedsandler It replaces the 7-line chunk of code right below it that generates `outputs` and `state`.

Also, this is an issue someone else opened and isn't the best place to ask such a question. In the future if you believe there is an issue with the code you can open a new issue, or if you just have a question like this you should ask on [StackOverflow](http://stackoverflow.com/questions/tagged/t

[2017-01-12 01:00] ispirmustafa commented on #6714
If you want to change feed_dict in every run, you can use a hook. Example is as follows:
[code]

[2017-01-12 01:05] sdeoras commented on #10
Hi Folks, I am not sure if this thread is the best place to ask TF GO API related questions. If not, please suggest a link to the right forum.

So I can't seem to get following code to work. It complains on second use of op.Reshape at runtime but allows two calls to op.Const... what am I doing wrong?

`	scope := op.NewScope()
	x := op.Placeholder(scope, tf.Double)
	s := op.Const(scope, []int32{3,

[2017-01-12 01:06] yyaodong opened #6798 "Poisson Number Generator"
Hi,

I was wondering if it is possible to implement the Poisson Random Number generator in the random_ops in the future?

Thanks.

[2017-01-12 01:15] chaitanya2692 commented on #6778
I tired your solution and it gives the same error. Below is the link to my Stackoverflow query:-

[https://stackoverflow.com/questions/41539934/tensorflow-parameter-to-mergefrom-must-be-instance-of-same-class-expected-ten](https://stackoverflow.com/questions/41539934/tensorflow-parameter-to-mergefrom-must-be-instance-of-same-class-expected-ten)

[2017-01-12 01:28] asimshankar opened #6799 "Go: Unable to create two ops of the same type using generated op wrapper functions"
As reported in https://github.com/tensorflow/tensorflow/issues/10#issuecomment-272045853 , the following test (at head: d4b5c606fc9fbd1a20b5b113b4bc831f31d889a3):

[code]

fails with:

[code]

(Thanks for pointing this out @sdeoras).

[2017-01-12 01:36] asimshankar commented on #10
Please use stackoverflow for general questions, or file new github issues for bugs/feature requests. In this case I've filed #6799 - I think I know what the problem is, will update there.

[2017-01-12 01:39] jart commented on #6778
At second glance, you're most likely not going to get a response to your question, because you don't indicate in your question what `y` is.

[2017-01-12 01:51] dsblr commented on #6402
@jhseu Thanks for your response. Yes, working behind firewall. Got the solution to fix this.
Need to download the protobuf separately and install using pip install.
Link to download protobuf : https://pypi.python.org/pypi/protobuf/3.1.0
pip install protobuf-3.1.0-py2.py3-none-any.whl

After this step TensorFlow installation works for me.

[2017-01-12 01:52] chaitanya2692 commented on #6778
I have added more details to the question. Thanks for the tip.

[2017-01-12 02:06] dandelionmane commented on #6322
Sorry for the slow response, this was assigned to me while I was on vacation.

We would be grateful to receive pull requests that improve the documentation. @dsmilkov would be the best person to review

[2017-01-12 02:07] dandelionmane commented on #4721
We just added a new feature to the image dashboard that lets you load older images by dragging a slider around. It should be in the next major release of TensorFlow after 1.0. Closing the issue since work is complete (although it will be a little while until the feature is available)

[2017-01-12 02:07] #4721 closed

[2017-01-12 02:09] Caisho opened #6800 "Getting AbortionError when running modified tensorflow serving client"
(I initially posted this on stackoverflow but have gotten no response.) I modified the mnist_export.py and mnist_client.py to run an LSTM on some excel data. No issue with the training and exporting, but I run into this error below when running the client code.

[code]
My input data is in the shape of [None, 1, 20] where 1 is the time_step and 20 is the features.

Below are the relevant parts of m

[2017-01-12 03:12] fayeshine opened #6801 "1.0alpha configure problem"
[code]

[2017-01-12 03:19] fayeshine commented on #6801
shoud be the network problem

[2017-01-12 03:19] #6801 closed

[2017-01-12 03:21] ppwwyyxx commented on #6741
Great! Thanks a lot!

[2017-01-12 04:34] linbojin commented on #6063
Try to use tf.summary.scalar: https://github.com/tensorflow/tensorflow/blob/cb17d1b0e2b581b5da1d9597b7929ba764749d38/tensorflow/tools/compatibility/tf_upgrade.py

[2017-01-12 06:37] Caisho commented on #6800
After some trial and error, adding a dtype=tf.float32 seems to have fixed it

[code]

[2017-01-12 06:42] lihungchieh commented on #2807
I met the same problem, the quantized model is much slower than the unquantized one, are there any solution now?

[2017-01-12 06:44] lukaszkaiser commented on #6761
It looks like some interaction between scopes and the initializer change (#5813). Could you provide a small but fully self-standing example code, so we can investigate further?

[2017-01-12 07:02] xapcloud commented on #5591
Have you solved the problems? I have set the LD_LIBRARY_PATH environment and also useless....oops

[2017-01-12 07:11] chenghuige commented on #6761
@lukaszkaiser  for the lstm cell, now I can workaround.
It is due to self.cell declared not in "RNN" scope, if I do below to init self.cell in class.__init__ then ok for master code or version 1.0
    with tf.variable_scope("RNN"):
      self.cell = ...

[2017-01-12 07:23] fayeshine opened #6802 "build with CPU optimization and GPU support are conflict?"
[code]
Can I use both --copt=-march=native and --config=cuda , for now it gives out an error
[code]

[2017-01-12 07:39] Bruczzz commented on #504
Thanks @syed-ahmed .
I tried retraining model specified in https://github.com/tensorflow/models/blob/master/inception/README.md
 and i tried this on CPU version of tensorflow . i can create model.ckpt files and checkpoints. How to convert into .pb file .
And I tired https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/how_tos/image_retraining/index.md
this way also. gen/head is no

[2017-01-12 07:49] chenghuige commented on #6761
@lukaszkaiser  for my code LSTM part I now get workaround by adding "RNN" scope when init self.cell
 `    with tf.variable_scope("RNN"):
        self.cell =  ...
  `

[2017-01-12 08:30] rajiv235 commented on #2882
@yyyreal I am having the same problem with CUDA 8.0 and cudnn v5. Can you tell a bit more detail on how you were able to solve it? Thanks a ton!

[2017-01-12 08:47] Labalex21 commented on #6724
It worked easily reshaping the data and using the 2D functions, thank you!

[2017-01-12 09:01] rajiv235 commented on #684
I am also having the same problem with CUDA,8.0 cuDNN v5.

[2017-01-12 09:41] revelationnow commented on #6509
Wondering if anyone is looking into this. An update would be good.

[2017-01-12 10:07] chenghuige opened #6803 "dynamic seq2seq add example of using context_state"
tf v1.0, in contrib/seq2seq/seq2seq_test.py , the code do not show how to use context_state, so we can get best path as output instead of rnn outputs.
Can we add sample code?

[2017-01-12 10:31] albertz commented on #3710
If I run that sample code, I get

    ValueError: Unknown keyword arguments: ['x']

When I remove `x=` in the `Defun` call, this exception is gone.

But then I get:

    tensorflow.python.framework.errors_impl.NotFoundError: Op type not registered 'custom_op_d6da5a2c'

Is there something broken again?

[2017-01-12 10:57] albertz opened #6804 "Defun broken: errors_impl.NotFoundError: Op type not registered"
This code fails:

[code]

Exception:

    tensorflow.python.framework.errors_impl.NotFoundError: Op type not registered 'custom_op_da39a3ee'

[2017-01-12 11:00] eaigner commented on #4255
Just mmapped a quantized and unquantized graph, both resulting in a broken graph

- 8bit quantized graph says 0 nodes converted, and can't load resulting `pb` graph (error `Out of range: Read less bytes than requested`)
- unquantized graph says 16 nodes converted but prints error `Session was not created with a graph before Run()` when calling `Run()`

[2017-01-12 11:02] Bruczzz commented on #504
@syed-ahmed  I have figured out the issue. Its running fine now .

[2017-01-12 12:01] barbolo commented on #3628
@pavelgonchar Your suggestion didn't work for me:

[code]

Error:

[code]

[2017-01-12 12:09] barbolo commented on #3628
@pavelgonchar  This has worked for me:

[code]

[2017-01-12 12:10] philokey commented on #6734
@jart I add roi_pooling.cc to tensorflow/core/user_ops,  you can find the code [here](https://github.com/philokey/Faster-RCNN_TF/blob/master/lib/roi_pooling_layer/roi_pooling_op.cc).

[2017-01-12 12:15] barbolo commented on #3628
The full script I use to convert a checkpoint model to a protobuf graph is below, in case more people using batch norm layers find it useful.

[code]

[2017-01-12 13:03] chenghuige commented on #6767
@ebrevdo I'm not quite understand 'chrome trances tf.Timeline' how to ?
I find below warnings might these hurt perfomance?
W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use SSE4.2 instructions, but these are available on your machine and could speed up CPU computations.
W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't

[2017-01-12 13:15] eaigner opened #6806 "convert_graphdef_memmapped_format produces corrupt graphs"
I tried memory mapping an exported/frozen graph. Let's say the graph is named `graph.pb`. After converting the graph like this

    ./path/to/convert_graphdef_memmapped_format --in_graph=graph.pb --out_graph=graph_mmap.pb

I get

- `Converted 16 nodes` for an unquantized graph
- `Converted 0 nodes` for the 8bit quantized version of the graph

If I try to load any of these output files using the C+

[2017-01-12 13:27] albertz commented on #6804
The example is partly taken from #3710 although the bug reported there is probably a different one and was already fixed.

[2017-01-12 13:41] vrenkens commented on #6034
I have the same problem, with beam search I get positive scores but with greedy I get negative ones

[2017-01-12 13:42] Bobrosoft98 commented on #6460
@mrry I run everything on a single machine, the CPU load with one worker is the same as with 30 workers (about 50% on all cores).
Still, it's not clear for me why Adam has this problem, and other optimizers don't. What do mean these huge "Mul" and "Assign" blocks on the timeline? Why assigning something takes so much time?

[2017-01-12 14:28] Faur opened #6807 "[TensorBoard] To small dropdown menu"
This is not a big issue, but it is a tad annoying.

When using TensorBoard to visualize the graph the 'run' drop-down menu is very small.

![tb_menu](https://cloud.githubusercontent.com/assets/8115763/21893472/783d3b5e-d8db-11e6-81b0-08bc6fadf982.png)

I am using Chrome `Version 55.0.2883.87 m`

[2017-01-12 14:44] ppwwyyxx commented on #6802
Have the same issue.

[2017-01-12 14:51] ppwwyyxx opened #6808 "Wrong argument order for input_producer"
The signature of `input_producer` is:
[code]
and this function adds scalar summary of the fraction of the queue that is full (not actually queue size), with name `summary_name`.

But `range_input_producer` is calling `input_producer` like this:
[code]
It looks like a bug to me: name and summary_name might need to swap.

[2017-01-12 15:31] gitDawn commented on #5214
Hi, I've the same problem with the installation, but when I'm trying to run './configure' in Ubuntu terminal I'm getting "./configure: No such file or directory". @QuantumTCode

[2017-01-12 15:39] jonasrauber opened #6809 "TensorFlow 1.0.0 alpha binaries require SSE4.1"
The TensorFlow 1.0.0 alpha binaries require SSE4.1, which was not necessary to run the binaries of earlier versions (e.g. 0.12.1). SSE4.1 is only supported by a few AMD architectures. In particular, it is not supported by the  "Barcelona" and the "Bobcat" architecture. They support SSE4a, which is not supported by Intel processors.

Therefore, running the 1.0.0 binaries on our workstations with "A

[2017-01-12 15:52] guschmue commented on #6509
I'm looking at but have not had luck yet. My biggest issue is that when I compile the kernels with full debug info my repro case doesn't fail anymore. But I found that the one_hot tests in tensorflow/python/kernel_tests/one_hot_op_test.py.py can still repro a crash and before it crashes the results of tests are already wrong. When it crashes the arguments in EigenMetaKernel->EigenMetaKernelEval ar

[2017-01-12 15:53] yaroslavvb commented on #6804
Version info?

[2017-01-12 15:58] albertz commented on #6804
Version 0.12.0.

[2017-01-12 16:21] yaroslavvb commented on #6804
Somehow running the init op breaks things. The code below works, but fails in the same way if you uncomment the `init_op` line

[code]

[2017-01-12 16:25] yaroslavvb commented on #6804
@zffchen78 must all the custom ops be created before the first `session.run` call? I didn't see this req in the docs

[2017-01-12 16:26] yaroslavvb commented on #6804
@albertz a work-around is to create your `custom_op` and save node before first run call

[2017-01-12 16:41] sharod opened #6811 "tf.unstack:AttributeError: 'module' object has no attribute 'unstack'"
I am trying to use tf.unstack but is getting the error:

AttributeError: 'module' object has no attribute 'unstack'

I am trying the alternative code version of the two lines in ptb_word_lm.py

[2017-01-12 16:47] albertz commented on #6804
How do I save it before the first run call?

[2017-01-12 17:04] drpngx commented on #5214
you have to run that from the main tensorflow directory, as pointed out above. If you don't have it, then you have an incomplete version of the code.

[2017-01-12 17:17] drewm1980 opened #6812 "python documentation for tensorflow.abs out of sync"
I checked out the master branch tonight:
d4b5c606fc9fbd1a20b5b113b4bc831f31d889a3

I installed the code with pip into a conda environment

It seems the tensorflow.complex_abs() function has been merged into the overloaded tensorflow.abs() function.

The docstring, along with the rest of the python documentation don't seem to reflect this change:

[2017-01-12 17:22] yaroslavvb commented on #6804
Ie in my example, you can change order of first  session run and creating init_op and it'll work

[2017-01-12 17:27] yaroslavvb commented on #6811
Could you fill out the issue template? (version info, reproducible example)

[2017-01-12 17:27] albertz commented on #6804
I see. So the workaround for my example:

[code]

But I think this is a bug then, right? Because I would suppose that this should work. Or is this hard to fix?

[2017-01-12 17:39] yaroslavvb commented on #6808
Nice catch. BTW, easy fixes like this may be easier to deal with as Pull Requests. I was able to make this PR in about 60 seconds using github's "Edit Feature"

[code]

Then in `bugfix` branch on yaroslavvb/tensorflow, find file, click "Edit" button, then click commit, then click "Pull Request" and select "tensorflow/master" on left and "yaroslavvb/tensorflow:bugfix" on right

[2017-01-12 17:42] yaroslavvb commented on #6802
Similar thing was fixed 2 days ago in https://github.com/tensorflow/tensorflow/pull/6759, can you check with master?

[2017-01-12 17:44] yaroslavvb commented on #6804
Yes, I think it was unexpected, I'll leave to @zffchen78 to comment if it's intended behavior or not

[2017-01-12 17:47] yaroslavvb commented on #6767
Here are instructions for generating timeline: https://github.com/tensorflow/tensorflow/issues/1824#issuecomment-225754659

Those warnings were added recently and they are probably irrelevant to your case

[2017-01-12 17:49] yaroslavvb commented on #6724
OK, since it works for @Labalex21 I'll close this for now. If this doesn't cover, please open new bug request with detailed specifications of what is needed, possibly with links to existing implementation and/or examples of how it'll be used in TensorFlow

[2017-01-12 17:49] #6724 closed

[2017-01-12 18:05] tarrencev commented on #842
@dandelionmane would it make sense to leverage the existing image summaries for this instead of creating a new summary type?

[2017-01-12 18:05] gunan commented on #6509
@rmlarsen @benoitsteiner
Adding for possible issues in Eigen.

[2017-01-12 18:07] gunan commented on #6558
Does #6759 Fix this issue?
Are we OK to close this?

[2017-01-12 18:08] sharod commented on #6811
version: 0.11.0
reproducible example:

inputs = tf.unstack(inputs, num=num_steps, axis=1)

I am trying out ptb_word_lm.py provided with tensorflow itself. In the middle of the code a commented out portion provides a suggested improvement to the code. I am trying that suggestion. The line of code above is already provided by the original version of the ptb_word_lm.py but commented.My entire code is

[2017-01-12 18:34] vb2408 commented on #2885
Hi guys, i am facing the same issue but in windows? Please help me to solve

[2017-01-12 18:53] c0710204 commented on #4775
Oh ,sorry.I forgot the gcc version.To use avx-512, you must use gcc 4.9+ (I suggest use latest version like gcc 6.x)
To set the gcc you can change the bazel cache file (path looks like  `*****/external/local_config_cc/CROSSTOOL`). It will generated by bazel after 1 build (bazel clean will delete it)

[2017-01-12 19:05] lukaszkaiser commented on #6761
I think these 2 things might be unrealted: rnn cells migrated, and optimizers changed, so there might be 2 things. Could you prepare some small code to illustrate the remaining problems? Thanks!

[2017-01-12 19:17] zafartahirov commented on #6558
It looks like it is working for `bazel build --copt=-march=native -c opt //tensorflow/tools/pip_package:build_pip_package --verbose_failures`

The compilation is still going, but it was throwing the error almost immediately before

[2017-01-12 19:22] davidslac opened #6814 "mnist preload data reader example fails"
I am using tensorflow version 12, following the documentation at

https://www.tensorflow.org/how_tos/reading_data/

which points to the example:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/how_tos/reading_data/fully_connected_preloaded_var.py

however, when I run that example, I get errors about un-initialized variables. Here is the output:

[code]

[2017-01-12 19:33] StanislawAntol commented on #6558
I was also able to compile the most recent version of master with the following:
`bazel build -c opt --copt=-mavx --copt=-mavx2 --copt=-mfma --copt=-mfpmath=both --config=cuda //tensorflow/tools/pip_package:build_pip_package`

Also, I find it odd that the [nightly build](https://ci.tensorflow.org/view/Nightly/job/nightly-matrix-cpu-mavx/) doesn't seem to be working. I would think it's using simila

[2017-01-12 20:00] zhangyaobit commented on #6466
@robotnc Sorry for my late response; I was on vacation. Yes, dropout is not supported yet, see [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cudnn_rnn/kernels/cudnn_rnn_ops.cc#L701).

Adding @zheng-xq

[2017-01-12 20:10] alquraishi commented on #6466
If we do get dropout support, can we get _recurrent_ dropout, as that's the form that seems to actually help. Similar to what's in [LayerNormBasicLSTMCell](https://github.com/tensorflow/tensorflow/blob/cb17d1b0e2b581b5da1d9597b7929ba764749d38/tensorflow/contrib/rnn/python/ops/rnn_cell.py).

[2017-01-12 20:13] gunan commented on #6558
Nightlies are able to build, but they are having test failures.
We are investigating them, but occasional test failures in nightlies are expected.
@zafartahirov Once (if)your build succeeds, could you close this issue.
If it does not, please share the new failures so we can continue debugging.

[2017-01-12 20:30] yaroslavvb opened #6815 "keep_dims vs keepdims"
There are 15 results for [keepdims](https://github.com/tensorflow/tensorflow/search?utf8=%E2%9C%93&q=keepdims) and 77 results for [keep_dims](https://github.com/tensorflow/tensorflow/search?utf8=%E2%9C%93&q=keep_dims&type=Code) in TF codebase, any chance this can be made consistent in 1.0? Ideally TF would just match numpy API and use `keepdims` @martinwicke @karpathy

[2017-01-12 20:33] yaroslavvb commented on #6815
@aselle for comment on whether it's a feasible change

[2017-01-12 20:39] aselle commented on #6815
Yes, it's possible, probably it would be handled like axis where we keep the old argument around, but make keepdims the defacto version. It's too late to remove the old arg  for 1.0, but we can definitely make both work and the document be keepdims.

[2017-01-12 20:40] yaroslavvb commented on #6815
Cool, having alias for `keepdims` would solve the user annoyance problem

[2017-01-12 21:09] Hebali commented on #6809
I'm also having trouble finding the correct compiler flags to enable SSE4.1, SSE4.2 and AVX instructions. If anyone has insights, I'd really appreciate it.

Building on a Retina MBP with 2.6 GHz Intel Core i7 on Mac OS X El Capitan 10.11.6
from commit https://github.com/tensorflow/tensorflow/commit/d4b5c606fc9fbd1a20b5b113b4bc831f31d889a3 with this custom build rule:
[code]

Based on [this StackOv

[2017-01-12 21:19] zafartahirov commented on #6558
Complete (with warnings about `-pthread`). Closing

[2017-01-12 21:19] #6558 closed

[2017-01-12 21:20] zhangyaobit commented on #6620
@boche, yeah, you are right that CudnnLSTM doesn't have a shape known at static time, which is required by AdamOptimizer. As CuDNN manages the internal storage structure for weight and bias parameters, this shape is hardware-and-CuDNN dependent and only available at runtime. I think the solution by @robotnc is a right, natural thing to do, given the this requirement of a known shape by AdamOptimiz

[2017-01-12 22:26] jart commented on #6015
Ping @ilblackdragon

[2017-01-12 22:34] jart commented on #6814
@mrry I'm noticing two recent issues about "attempting to use uninitialized value" in the past couple days. Mind taking a look?

See also: https://github.com/tensorflow/tensorflow/issues/6785

[2017-01-12 22:36] jart commented on #6785
It's possible that this is related to https://github.com/tensorflow/tensorflow/issues/6814. It would help us if you could provide a minimal example of how to reproduce this issue, since we can't troubleshoot hundreds of lines of code.

[2017-01-12 22:41] jart commented on #6812
This change is being documented as part of the 1.0 release process. Please see https://github.com/tensorflow/tensorflow/releases/tag/v1.0.0-alpha

Are you suggesting that we change the docstring above to say something like "Given a tensor of real or complex numbers x, this operation returns a tensor [...]"? If so, maybe this would be an easy opportunity for you to make a contribution to the codeba

[2017-01-12 22:45] jart commented on #6809
Having the TensorBoard binary require SSE4.1 sounds problematic. Could you take a look @zffchen78?

[2017-01-12 22:47] jart commented on #6807
Thoughts on this one @dandelionmane?

[2017-01-12 22:47] nryant opened #6816 "Intermittent CUDA_ERROR_ILLEGAL_ADDRESS errors during back propagation for some networks when using XLA."
### Summary
In playing around with the XLA JIT compiler I've experienced intermittent CUDA_ERROR_ILLEGAL_ADDRESS errors during back propagation for some network structures. While other structures may also fail, I can confirm that this happens with simple fully-connected networks when dropout is applied to the hidden units. I have not, however, observed errors when not using XLA or when using XLA,

[2017-01-12 22:50] jart commented on #6816
@jlebar Mind taking a look at this compiler/xla issue report?

[2017-01-12 22:51] dandelionmane commented on #6807
Yeah, we should fix this, and it should be trivial. I'll file a bug internally and send it to @chihuahua

[2017-01-12 22:52] jart commented on #6806
Could you please provide the full stack traces?

[2017-01-12 22:58] jart commented on #6803
More samples and documentation is always a good thing. I'm going to mark this as contributions welcome. Although I would like to bring this request to the attention of @xiejw who seems to be a big seq2seq contributor.

[2017-01-12 23:09] jart commented on #6800
I'm glad to hear you solved the issue. In the future, please be mindful of the fact that this issue tracker is for bugs and feature requests. We understand that not everything on Stack Overflow gets a response. But there are other venues you can potentially try, such as Reddit maybe, when that happens.

[2017-01-12 23:09] #6800 closed

[2017-01-12 23:13] jart commented on #6798
Does [tf.contrib.distributions.Poisson](https://www.tensorflow.org/api_docs/python/contrib.distributions/univariate__scalar__distributions#Poisson) serve your needs?

[2017-01-12 23:16] yyaodong commented on #6798
Thanks a lot for the reply.

`tf.contrib.distributions.Poisson` does not implement the "sample_n" method, even though in the API documentation it says so.

[2017-01-12 23:20] jart commented on #6793
Thanks for reaching out. We try to keep this issue tracker limited to bugs and feature requests. We recommend posting on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) for community-driven support.

[2017-01-12 23:20] #6793 closed

[2017-01-12 23:24] jart commented on #6791
Thanks for reaching out and we're sorry to hear about the issue you're facing. Could you please provide a minimal inline code example demonstrating the bug and showing how to reproduce? Downloading a zip file and troubleshooting another app is not a level of support we're able to offer.

[2017-01-12 23:29] jart commented on #6790
Thanks for reaching out. I'm responsible for triaging bugs today. I'm not deeply familiar with the TensorFlow distributed runtime. Could you please help me understand why this is a bug and not a configuration issue?

[2017-01-12 23:36] jart commented on #6789
What browser are you using? What happens if you tune the interpolation algorithm in the CSS? Those screenshots look like nearest neighbor, and it does kind of feel like it's losing something when resized.

Disabling image stretching is probably not something we would consider. Perhaps instead we should provide a choice of image interpolation algorithms.

cc: @dandelionmane

[2017-01-12 23:44] dandelionmane commented on #6789
The latest version of TensorBoard has a button attached to every image that lets you view it as true pixel size. Will that solve the need for you?

Also, +1 for Justine's question about which browser you're using. On chrome by default it doesn't interpolate, just increases size, so it will become blocky rather than blurry. Maybe we don't have the right CSS setting for your browser, though.

[2017-01-12 23:44] shoyer commented on #6798
This is being worked on internally.

[2017-01-13 00:01] mkolod opened #6817 "Add CUDA implementation of fused hue adjustment"
Currently, the fused (rgb2hsv->hue_adjust->hsv2rgb) hue adjustment kernel exists in TF [for the CPU](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/adjust_hue_op.cc), but not for the GPU. This is also why the CPU path can only be enabled "secretly" (via [setting the TF_ADJUST_HUE_FUSED env var](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops

[2017-01-13 00:03] mkolod commented on #6817
Mentioning @zheng-xq since he implemented the CPU version. I will be submitting a PR for this issue soon so feel free to assign me.

[2017-01-13 01:04] mrry commented on #6814
I suspect this has been broken since 4c85a95925a68fec324f70cd0d7f3d4548f97a38, which made the internal variable in a `tf.train.slice_input_producer()` a local variable, but didn't add any code to initialize the local variables in this example.

Assigning to @ilblackdragon, who made that change.

[2017-01-13 01:05] mkolod commented on #6817
BTW, by the [following test](XXX), run on a machine with 32 GB RAM, a 6-core Intel Core i7-5930K CPU @ 3.50GHz and an NVIDIA GTX 1080 GPU produced a GPU-based speedup factor of 17.3, given both the use of a fused CPU and GPU kernel. This was based on a test with a 4D random image tensor with a batch size of 64 and "image" size of 256x256x3. The GTX 1080 throughput 31,950 images per second, while t

[2017-01-13 01:07] yaroslavvb commented on #6790
@ispirmustafa -- do Estimators distribute their work over multiple workers?

[2017-01-13 01:10] mrry commented on #6785
(Incoming from the mention in #6814...) This looks less straightforward than the problem in #6814. I'm not familiar with the session bundle code, but since the problem appears to be an uninitialized model parameter, I'm assuming that the example code is either not saving the model parameters as intended, or there's some missing call in the loading code.

@chrisruk Can you inspect the checkpoint th

[2017-01-13 01:35] petewarden commented on #5780
Thanks @Pouyan-Jahangiri for the graph. I was able to give it a try, and it appears the utf-8 error happens when the input graph is binary format, but the script is expecting a text format protobuf.
To fix that, pass in `--input_binary=true` to the command line. For example:
`bazel-bin/tensorflow/python/tools/freeze_graph --input_graph=/tmp/Cymax_graph.pb --input_checkpoint=/tmp/model.ckpt-50 --ou

[2017-01-13 01:45] Pouyan-Jahangiri commented on #5780
@petewarden Thank you so much for your time and consideration. I did that and I got a new error as following:

INFO: Found 1 target...
Target //tensorflow/python/tools:freeze_graph up-to-date:
  bazel-bin/tensorflow/python/tools/freeze_graph
INFO: Elapsed time: 0.160s, Critical Path: 0.00s
W tensorflow/core/platform/cpu_feature_guard.cc:95] The TensorFlow library wasn't compiled to use SSE4.2 inst

[2017-01-13 01:45] Pouyan-Jahangiri commented on #5780
@petewarden May I kindly ask you to look into this new error ?

[2017-01-13 01:56] jart commented on #6788
@kwotsin would you be able to do what you want to do just by using the core (i.e. non-contrib) APIs?

@sguada This issue makes a compelling case that there's an API design issue in contrib/slim that prevents the user from loading grayscale PNG files. It's a niche use case, but looks like something that ought to be fixed, if you have time to help our friend.

[2017-01-13 02:09] Pouyan-Jahangiri commented on #5780
@petewarden The same error appears when I run it with the text protobuf file (.pbtxt).

[2017-01-13 02:10] jart commented on #6786
Would it be possible for you to use `tf.matching_files` instead?

[2017-01-13 02:40] Pouyan-Jahangiri commented on #5780
@petewarden I guess I am doing something wrong with passing --output_node_names. I am not really sure what I should pass to this flag. Currently, I am passing the default in the freeze_graph.py:
--output_node_names=softmax

is there anything else must be passed to this flag?

[2017-01-13 02:48] jart commented on #6798
@yyaodong The requested feature will be pushed to GitHub probably sometime next week. When that happens, this issue will be automatically closed.

[2017-01-13 02:59] fayeshine commented on #6802
@yaroslavvb master branch seems solved the problem

[2017-01-13 02:59] #6802 closed

[2017-01-13 03:01] yaroslavvb commented on #5722
Looks like there's `enqueue` like op with GPU support being added -- github.com/tensorflow/tensorflow/commit/85acf52a

[2017-01-13 03:07] #6524 closed

[2017-01-13 03:25] yaroslavvb commented on #6780
So it looks like the crash happens in Estimator. This kind of `UnavailableError` can happen if your network connection is interrupted, but a higher level framework should detect these and recreate session rather than crashing everything. cc @ispirmustafa since he's the last person to modify this code

[2017-01-13 03:55] jart commented on #6783
@mrry do you think this should be closed out as a duplicate of #6509?

[2017-01-13 04:40] #6799 closed

[2017-01-13 06:39] chenghuige commented on #6761
@lukaszkaiser  For RNN cell problem. I find out the reason.
When training I used  dynamic_rnn without setting sope, and tf v0.12 defualt scope is 'RNN'
while tf v1.0 defualt scope is 'rnn'. So that cause the error. Not a bug.

[2017-01-13 06:48] jlebar commented on #6816
Of course, I'll see what I can figure out here.  Thank you for the detailed bug report, Neville.

[2017-01-13 07:19] jihunchoi commented on #654
Can't we use the newly added `dynamic_rnn_decoder`?
According to the documentation, we can use `context_state` parameter of `decoder_fn` to implement beam search, however I am not sure how to use that.
I think I could see if we can implement beam search using the function in a couple of weeks, but is there anyone interested on this?

[2017-01-13 07:35] nikitakit commented on #654
@jihunchoi Thanks for bringing this to my attention. As far as I can tell `dynamic_rnn_decoder` is just a thin wrapper around `raw_rnn`. That is, the raw_rnn based implementation I have would be functionally identical to a dynamic_rnn_decoder one, so no point in modifying something that already works.

[2017-01-13 07:44] jart commented on #6761
Terrific. I'm glad we got to the bottom of things. I'm going to close this one out now.

[2017-01-13 07:44] #6761 closed

[2017-01-13 07:51] keotic commented on #6786
@jart , I will give it a try, if this is the recommended method, the documentation at
https://www.tensorflow.org/how_tos/reading_data/ should be changed.

[2017-01-13 07:58] lukaszkaiser commented on #6761
Hmm, the RNN was only the second problem. How about the first one? If it's still there, please reopen and, in the best case, attach some simple code that exposes the problem. Thanks!

[2017-01-13 08:01] jart commented on #6786
If I understand correctly, the goal of match_filenames_once is that it delegates to matching_files and then saves the result to checkpoints, so the operation only happens once. The documentation doesn't appear to be making any recommendations, so I'm not sure what is actionable here for  TensorFlow. If you believe there is a bug in the software or documentation, let me know and I'll re-open this i

[2017-01-13 08:12] kilsen512 commented on #6749
simple workaround:
`
shape = [1, 3]
shape = np.array(shape, dtype=np.int64)
tf.sparse_placeholder(tf.int32, shape=shape)
`

[2017-01-13 08:12] jart commented on #6734
It's awesome that you're adding features to TensorFlow. If those features have merit, we'll happily review a pull request once those features are polished off and ready for TensorFlow core. It's just that we have a policy in place where we rely on the [Stack Overflow](http://stackoverflow.com/questions/tagged/tensorflow) community to provide user support. We try to keep this issue tracker limited

[2017-01-13 08:12] #6734 closed

[2017-01-13 08:13] jschenxiaoyu commented on #6110
Also meet this problem. Any suggestion? @ericyue

[2017-01-13 08:14] keotic commented on #6786
There is not a bug, but it may cause undesired and unnoticed behavior in the following scenario:
1. Use "match_filenames_once" to feed data in the training phase.
2. Save model checkpoints with default 'tf.train.Saver()'

3. Use again 'match_filenames_once' with a different pattern to load the inference / test files.
4. Load previously saved model checkpoint for inference / test.

In this scenario

[2017-01-13 08:14] chenghuige commented on #6761
@lukaszkaiser  adgrad problem also find out reason.  I think it is my code problem, I should use addtional scope and set variable reused in that scope, before using tf.contrib.layers.optimize_loss.
Though tf v0.12 can work but I think tv v1.0's behavior is ok not a bug also. Thanks lukaszkaiser and jart!

Below code can reproduce this, it works with tf v0.12 fail v1.0 without using addtional scope

[2017-01-13 08:20] jart commented on #6786
@dr4b Do you feel we should add further clarity to our documentation on loading models as @keotic is suggesting?

[2017-01-13 08:23] jart commented on #6761
@chenghuige Thanks for the clarification. Do you think that there's anything actionable on the part of TensorFlow that we could do better?

[2017-01-13 08:25] alexgurrola commented on #6533
@MichaelCaraccio, your solution works flawlessly.  Thanks.

[2017-01-13 08:31] eaigner commented on #6806
I'm not sure what stack trace and how to provide it since it doesn't crash. `ReadBinaryProto` just returns a status with `code` `OUT_OF_RANGE` and `msg` `Read less bytes than requested` for e.g. the 8bit quantized graph.

[2017-01-13 08:39] jart commented on #6806
We try to keep this issue tracker limited to bugs and feature requests. We recommend posting on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) for community-driven support.

[2017-01-13 08:39] #6806 closed

[2017-01-13 08:40] namrata-ibm opened #6823 "Upgrade HighwayHash"
The HighwayHash module which is downloaded as an external dependency in TensorFlow produces different hash results on big endian and little endian architectures. This causes the test `testStringToHashBucketsStrong` from `//tensorflow/python/kernel_tests:string_to_hash_bucket_op_test` to fail on big endian. After raising an [issue](https://github.com/google/highwayhash/issues/35) with HighwayHash c

[2017-01-13 08:43] chenghuige commented on #6761
@jart Tensorflow is such a greate framework! I can always get help quickly whenever facing problem:)
There are adequate documentations, but still the more the better.
For me currently focusing on dynamic seq2seq, as I have filed in another bug, I find it's hard to read seq2seq code.
It would be great to see more example code showing the usage of context state and dynamic seq2seq with beam search.

[2017-01-13 09:15] woodthom2 commented on #6795
OK thank you everybody.

this argument fixed it:
[code]

[2017-01-13 09:18] jihunchoi commented on #6682
Actually, for some cases, `einsum` also fails!
For instance, the below codes fails on evaluation.

[code]

This is the error message:
[code]

[2017-01-13 09:21] woodthom2 commented on #6795
Please can I request that this page https://www.tensorflow.org/get_started/os_setup#installing_from_sources is updated, under section "Create the pip package and install":

[code]

With this update, the instructions on this page will now be fully comprehensive for Mac, Windows and Linux (unless I am missing something else?)

[2017-01-13 09:21] #6795 closed

[2017-01-13 09:22] jihunchoi opened #6824 "tf.einsum fails on evaluation in some cases"
Hello,
I was a user of 'reshape-matmul-reshape' approach, however it felt me a bit messy, so I am trying some alternatives that do this automatically.
I had tried `tf.tensordot` before, however it did not work well when shapes are partially known (#6682).
As an alternative, I tried to use `tf.einsum`.
However, similar to `tf.tensordot`, it cannot handle some variables with partially-known-shape, f

[2017-01-13 10:08] chenghuige commented on #6767
Not sure if it is ok just to trace one sess run step, below are the two generated chrome trances.
[v0.12_timeline.ctf.json.txt](https://github.com/tensorflow/tensorflow/files/704006/v0.12_timeline.ctf.json.txt)
[v1.0_timeline.ctf.json.txt](https://github.com/tensorflow/tensorflow/files/704007/v1.0_timeline.ctf.json.txt)

[2017-01-13 10:17] chenghuige commented on #6767
Not sure if it is ok just to trace one sess run step, below are the two generated chrome trances.
[v0.12_timeline.ctf.json.txt](https://github.com/tensorflow/tensorflow/files/704029/v0.12_timeline.ctf.json.txt)
[v1.0_timeline.ctf.json.txt](https://github.com/tensorflow/tensorflow/files/704028/v1.0_timeline.ctf.json.txt)

[2017-01-13 10:51] chrisruk commented on #6785
I copied the inspect_checkpoint.py file from your link, but I seem to get an error when it attempts to load it:

[code]

[2017-01-13 11:53] bhack commented on #22
Can XLA backends LLVM IR be converted to SPIR-V with https://github.com/KhronosGroup/SPIRV-LLVM?

[2017-01-13 11:54] jihunchoi commented on #6824
I think the reason of the error is on `_reshape_if_necessary` function; in line 364, `new_shape` is defined to be a tuple which is constructed by replacing `None` with `-1` of `new_shape`.
If there exist two or more `None` values in a variable, the `shape` parameter passed to `reshape` function contains two or more `-1` values, thus the error is triggered.

[2017-01-13 12:04] ladislav-urban opened #6826 "Why is validation_metrics and validation_monitor code twice in tutorial code iris_monitors.py?"
Why is validation_metrics and validation_monitor code twice in tutorial code iris_monitors.py?
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/tutorials/monitors/iris_monitors.py

[2017-01-13 12:07] pengjiao123 opened #6827 "HOW can I USE tf.exp(x) to back propagation Gradient?"
@tf.RegisterGradient("FGGrad")
def grad_fg(op, x):
    return (2*tf.exp(x))/((1+tf.exp(x))**2)
def fg(x):
    with G.gradient_override_map({"Identity": "FGGrad"}):
         return tf.identity(x)

The code is above .
But i made a mistake.
HOW can I USE  (2*tf.exp(x))/((1+tf.exp(x))**2) to back propagation Gradient?
(I can use tf.pow(x,2))to back propagation Gradient)

[2017-01-13 12:18] sdeoras commented on #6799
Thanks folks for quick resolution. It is working great now!

[2017-01-13 12:19] jihunchoi commented on #6824
I don't fully understand how `einsum` works, but as far as I read, the reason is that when there exist two or more `None` values in one of `input` parameters, then `uncompacted_shape` in line 339 has two or more `None` values.
Then, in `_reshape_if_necessary` function, `None` values of `uncompacted_shape` are replaced with `-1` and passed to `reshape` function. Since `shape` parameter of `reshape`

[2017-01-13 13:00] casiciaco commented on #152
Hi,
I am still observing problems w/ GPU reservation in a 16 GPU node. For some GPUs, when reserving the GPU with CUDA_VISIBLE_DEVICES, it fails to reserver the node. In TF 0.10 it generated a coredump. In TF 0.12 it complains about not being able to start the tf.Session.

The node status is this:
[code]
And when I use CUDA_VISIBLE_DEVICES=1 , which is free:
[code]

[2017-01-13 13:05] bodokaiser commented on #2605
@jyshee did you get this working?

[2017-01-13 13:10] nitish11 opened #6828 "Tracking moving persons with ID"
I want to track person with IDs. I am able to run android APK for tracking, but  [C++ build](https://github.com/tensorflow/tensorflow/blob/v1.0.0-alpha/tensorflow/examples/android/jni/object_tracking/object_tracker.h) is taking a lot of time to build. Is there any way to run  python code for tracking??

[2017-01-13 13:19] casiciaco commented on #152
Actually, this also fails in the above example:
[code]
but
[code]
and
[code]
work.

Note that the same happens with the new ConfigProto options: https://github.com/tensorflow/tensorflow/issues/1888
[code]
doesn't work but
[code]
works.

[2017-01-13 13:24] alrojo commented on #654
The `dynamic_rnn_decoder` was built to, eventually, support beam search. We just havn't gotten around to implement it yet.

[2017-01-13 13:58] sdeoras commented on #10
Hi Folks, I am running into another issue with shape argument in op.VarHandleOp. Pl. advise if this should be filed as a bug.

[code]

[2017-01-13 14:52] alarmz commented on #6791
Thanks your response,
fallow is my code:
please download checkpoint that created by TensorFlow saver
https://www.dropbox.com/s/v5xl1dzssi58opf/model.zip?dl=0
copy it to "C:\work\tensorflow001\model\"
in model will have 5 files, checkpoint, result, result.index.....
when TensorFlow restore checkpoint will crash.
[code]

[2017-01-13 14:53] asimshankar commented on #10
Yeah, shape attributes handling [wasn't finished](https://github.com/tensorflow/tensorflow/blob/8f6cb22/tensorflow/go/graph.go#L263), but should be easy. Feel free to file a new issue for this (and don't hesitate to file new issues for other things instead of adding to this closed one).

[2017-01-13 15:21] joonggonyim opened #6831 "running session multiple times with tf.random returns different values for conv2d"
[code]
If I run the code above with option1, I get the same values for `x_conv_np` and `x_conv_np2`
However, when I run the above with option2, I get different values for `x_conv_np` and `x_conv_np2`.

I am guessing the `tf.random_normal` gets initialized every time the session is ran.
Is this meant to happen or is it a bug?
I found this out while I was trying to debug my code, and it took me a wh

[2017-01-13 15:42] tvkpz commented on #6202
Thanks @alexminnaar ! This solution worked for me. There were a few more hacks required.

For those trying please also note that you need to change all tf.histogram_summary and tf.scalar_summary to tf.summary.histogram and tf.summary.scalar, to successfully load and export the model as indicated in the post pointed by @alexminnaar above

[2017-01-13 15:49] VelizarVESSELINOV commented on #6533
For automatic testing and deployment, we need `pip install -r requirements.txt`.
We are working on very different configurations.
For us, building workarounds it is not the expected solution.

[2017-01-13 16:01] zffchen78 commented on #6804
@albertz the behavior you see is explainable.

the line
  sess = tf.Session()
effectively snapshots the default graph which includes the functions instantiated so far at that point.
If the function is instantiated (the line custom_op(x) after that point, so far, our implementation does not re-snapshot the graph. That might be feasible but may be a bit complex, too.

[2017-01-13 16:03] carlthome commented on #6789
Yes, screenshots are from Chrome.

The button to show the actual size is nice, but IMO it would be better if the stretching didn't occur, or at least was controlled with `max-height: 50vh` or something because `width: 100%` really goes bonkers with `height: auto`. For example, [this slice of a spectrogram](https://cloud.githubusercontent.com/assets/1595907/21936553/d1f1eb00-d9b1-11e6-8709-6fc4b807

[2017-01-13 16:04] shoyer commented on #6831
Yes, this is intentional. See the docs for more details on how you can control this behavior:
https://www.tensorflow.org/api_docs/python/constant_op/random_tensors

In the future, please use StackOverflow for usage questions like this.

[2017-01-13 16:04] #6831 closed

[2017-01-13 17:16] ebrevdo commented on #6761
We're working on a cleaner seq2seq API now. Hope to release within the next
month.

On Jan 13, 2017 12:43 AM, "allen" <notifications@github.com> wrote:

[2017-01-13 17:16] Carmezim commented on #6827
This is a question for Stack Overflow. They also monitor there.

[2017-01-13 17:31] vrv commented on #6202
@aselle wrote a tool to try to upgrade code (at least at 0.11?) to 1.0 APIs.  See https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/compatibility and send PRs / file bugs for better functionality :)

[2017-01-13 17:38] #6827 closed

[2017-01-13 17:58] sdeoras opened #6833 "Go: Unable to set shape attributes on operations"
Hi TensorFlow/Go team, I am attaching a code snippet that is failing due to the way shape argument is expected.

cc: @asimshankar and referencing [this](https://github.com/tensorflow/tensorflow/issues/10#issuecomment-272461355) discussion

[code]

[2017-01-13 18:03] hollinwilkins commented on #5
Hey,

I just got these Swig bindings working yesterday. I have a request for an API change. Currently in order to generate Tensors reflection is required and the format of the arrays are a bit unweildy, as they require the use of n-dimensional native Java arrays. Can we keep this interface, but also add some methods for creating tensors that require 1-dimensional arrays and specifying the shape us

[2017-01-13 18:09] strin opened #6834 "tf.strided_slice outputs tensor of incorrect shape"
so for tensor x of shape (?, 41, 41, 32), using

[code]

will produce tensor <tf.Tensor 'StridedSlice_9:0' shape=(?, 20, 20, 31) dtype=float32>. This result is unexpected, since for last dimension, begin = 0, last = -1, and stride = 1. It should extract the entire dimension.

[2017-01-13 18:09] asimshankar commented on #5
@hollinwilkins : I'm hoping PR #6577 addresses this, with just a slight tweak to your proposed factory method:

[code]

[2017-01-13 18:10] hollinwilkins commented on #5
@asimshankar This is great! Thanks for the quick reply. It looks like it's pretty close to being merged too :+1:

[2017-01-13 18:24] sguada commented on #6788
tf-slim.data can decode jpeg, png or raw see [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/slim/python/slim/data/tfexample_decoder.py#L269)

The only caveat is that it needs to know that the encoded image has png format when creating the [tf-example](https://github.com/tensorflow/models/blob/master/slim/datasets/dataset_utils.py#L56).
When you created the dataset d

[2017-01-13 18:30] yaroslavvb commented on #6834
note that a[:-1] doesn't extract whole of `a`, it stops one element short, and  `strided_slice` copies numpy semantics

If you want to go all the way, you could do a[:] in Python subscript notation (which is syntactic sugar for `strided_slice`) or use `end_mask` argument to ignore the endpoint

`y=tf.strided_slice(x, [0, 0, 0, 0], [-1, -1, -1, -1], [1, 2, 2, 1], end_mask=8)`

[2017-01-13 19:02] jart commented on #6791
Hmm if you insert a line into your script to trigger the lazy loading of the contrib library, e.g. `_ = tf.contrib.tensor_forest` then does it work?

[2017-01-13 19:03] yaroslavvb opened #6837 "occasional GraphHandle not found error"
We occasionally get this error like below on universe-starter-agent. This is on a dedicated box and the code doesn't handle task restarts, so the common scenario doesn't apply . @mrry any idea if there's any way to get this error without a task restart?

https://github.com/openai/universe/issues/112

[code]

[2017-01-13 19:08] jart commented on #6834
@strin does @yaroslavvb's response address your issue?

[2017-01-13 19:22] drpngx commented on #6799
Woohoo!

[2017-01-13 19:24] jart commented on #6763
@oorlov does the comment above address your issue?

@andrewharp do you think there's anything actionable here on the part of TensorFlow?

[2017-01-13 19:29] jart commented on #6743
I'm going to mark this as resolved, per @gpapan's response. If you feel this should still be actionable on the part of TensorFlow, let me know and I'll re-open this issue.

[2017-01-13 19:29] #6743 closed

[2017-01-13 19:34] jart commented on #6762
That makes sense. In that case, we'd be grateful if you joined the ranks of TensorFlow contributors and sent us the one line change you proposed. CC me and I'll review it.

[2017-01-13 19:35] optimality opened #6838 "Saver fails to restore on GCloud"
You can demonstrate this with the distributed MNIST example code: https://cloud.google.com/ml/docs/quickstarts/training#train_on_the_cloud_distributed

Running it on gcloud produces:

[code]

[2017-01-13 19:36] jart commented on #6731
We've got people actively working to bring good Windows support to TensorFlow. We can't promise timelines but we're doing our best to take care of our Windows users.

[2017-01-13 19:37] oorlov commented on #6763
Hey guys!
Bazel build works pretty well for me and I get both x86 and armv7 libraries for android-14 and it seems working well on my devices. Nothing is changed for Makefile, so I will stick to Bazel build for now.

Thank you for assistance!

[2017-01-13 19:38] mrry commented on #6837
Can you describe the exact setup? I'm not sure what "dedicated box" and "common scenario" mean.

Is it possible that some other  thread could have decided to close the session before that exception was raised? I think if a `close()` and a `run()` issue concurrently, it's possible to see a partially-shut-down state, which would correspond to this error message.

(If no process restarted, I'd be ver

[2017-01-13 19:46] andrewharp commented on #6763
@oorlov Great!

Was looking at the actual segfault you had (cannot locate symbol "rand" referenced by libtensorflow_android.so) and it seems to be related to this: http://stackoverflow.com/questions/27091001/how-to-use-mkfifo-using-androids-ndk

Suggestions there were to lower the Android native API and see if the problem is resolved, or attempt to add the " -fPIE -pie" as suggested. However as we

[2017-01-13 19:46] #6763 closed

[2017-01-13 19:48] bodokaiser commented on #6743
@jart @gpapan it is still not very clear to me how you use that function. I also do not find anything in the API docs about it.

[2017-01-13 19:51] ncullen93 commented on #446
For future lurkers, here's an end-to-end example of using this optimizer on the UFDL sparse ae tutorial

https://github.com/ncullen93/UFDL_Tensorflow/blob/master/tf_sparse_ae.py

[2017-01-13 19:55] jart commented on #6838
Thanks for bringing this to our attention. That error message isn't helpful, which is something we could improve. See https://github.com/tensorflow/tensorflow/issues/436 which contains a possible solution. There are StackOverflow threads as well if you search that error. If you discover there's an error in the tutorial, please file an issue with https://github.com/GoogleCloudPlatform/cloudml-sampl

[2017-01-13 19:55] #6838 closed

[2017-01-13 19:58] jart commented on #6826
Thanks for reaching out. We try to keep this issue tracker limited to bugs and feature requests. We recommend posting on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) for community-driven support.

[2017-01-13 19:58] #6826 closed

[2017-01-13 20:02] jart commented on #6824
Assigning this issue to @drpngx who is reviewing the pull request you were generous enough to send us.

[2017-01-13 20:17] hannes-brt commented on #6702
@ebrevdo Emailed you with some scripts that should hopefully reproduce the problem

[2017-01-13 20:20] jart commented on #6823
This doesn't sound good. I'm going to write up a change that upgrades TensorFlow. I just hope this change won't cause problems for people with big endian CPUs who stored the result of the previous hash.

[2017-01-13 20:36] jart commented on #6811
tf.unstack wasn't added until [v1.0.0-alpha](https://github.com/tensorflow/tensorflow/releases/tag/v1.0.0-alpha). Try upgrading.

[2017-01-13 20:36] #6811 closed

[2017-01-13 20:37] oorlov commented on #6763
@andrewharp

It is a different SIGSEGV. It seems presence of Motorola 4.4.4 device in SIGSEGV logs are misleading. If you check SIGSEGV related logs you will find all of them about binary compiled for android-21 when MotoX device is android-14.
So when you run such binary on Android 4.4.4 (android-19) device it dies with `cannot locate symbol "rand" referenced by libtensorflow_android.so` and it i

[2017-01-13 20:46] andrewharp commented on #6763
@oorlov Sorry, which log shows the other SIGSEGV? I only see ones that refer to a missing definition for "rand" (including both the failing Pixel logs).

Googling this led me to http://stackoverflow.com/questions/28504875/android-ndk-cannot-load-libc-shared-so-gets-cannot-locate-symbol-rand-refe, which in turn points to the previous link I posted.

[2017-01-13 20:52] oorlov commented on #6763
@andrewharp  for example [neon.o2.android21.txt](https://github.com/tensorflow/tensorflow/files/698359/neon.o2.android21.txt)
This is about android-21 devices Galaxy S7, 6.0.1, Pixel, 7.1.1 Galaxy Note 3, 5.0.1, so "rand" error is not there for them. MotoX there is just by a mistake.

[2017-01-13 21:09] jart commented on #6789
I retract my previous comment about stretching algorithm. I failed to notice the two screenshots were at different steps, which explains why they looked so different.

It's been really difficult for us to find a way to make the images dashboard fit all use cases. For example, the mnist tutorial has really tiny images, so we'd naturally want to stretch those.

Your suggestion of vh is actually a re

[2017-01-13 21:09] andrewharp commented on #6763
Thanks, I see now -- I'd just been scrolling to the end and then scanning for the start of the error out of habit.

Sigsev 11s typically happen due to invalid memory access. Hard to say what is actually going wrong without seeing code and debugging, but it could be a bug in the code and not a necessarily a build flag issue. Certain builds can be arbitrarily more picky about enforcing valid memory

[2017-01-13 21:29] jart commented on #6785
A new checkpoint format was introduced in 0.12. `CheckpointReader` was updated to be backwards compatible. The way it appears to determine if it should use the new checkpoint reader is if there's a name.index file. Does `/tmp/cnn/00000001/checkpoint.index` exist on your hard drive? If so, how do you think it got there?

[2017-01-13 21:42] jart commented on #6760
This appears to be a duplicate of #6378 which @zheng-xq should be taking a look into soon.

[2017-01-13 21:42] #6760 closed

[2017-01-13 21:48] mrry commented on #6795
@woodthom2 That seems like a reasonable request. We're currently revising some of the installation instructions, but it would be good to include these. Would also be worth getting @meteorcloudy to confirm that these are the best options to use on Windows, since the Bazel support is the result of his hard work.

[2017-01-13 21:50] jart commented on #6683
Thanks for reaching out @xisnu. I'm having a hard time determining if this information indicates a bug in TensorFlow. You might want to try [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) for community support, since this issue tracker is for bugs and feature requests. If you can help us understand better why a bug exists, let me know and I'll re-open this issue.

[2017-01-13 21:54] chrisruk commented on #6785
Hmm, I only seem to have the following files:
[code]

[2017-01-13 22:05] jart commented on #6823
This upgrade is now blocked by https://github.com/google/highwayhash/issues/36.

[2017-01-13 22:10] mrry commented on #6783
Yes, let's close this as a duplicate, since it looks like it's the same problem (i.e. `tf.one_hot()` is broken for Windows/GPU).

[2017-01-13 22:10] #6783 closed

[2017-01-13 22:13] jimmyein commented on #3991
Did you have NVIDA GPU on your Mac?
If not then don't use the CUDA version of the tensor flow.
Uninstall tensor flow and reinstall the CPU version of the tensor flow you will be able to bypass the error.

[2017-01-13 22:13] mrry commented on #6509
A small update here: I've managed to reproduce the failures, but I'll have to rely on people more experienced in Eigen/CUDA/MSVC to figure out why this op is being compiled to incorrect code on Windows.

In the mean time, I've sent out #6822, which disables the broken GPU kernels for `tf.one_hot()` (and some `tf.matrix_diag()` and `tf.matrix_diag_part()`, which seem to have the same failure mode,

[2017-01-13 22:18] schwehr opened #6841 "A zip and/or tar for pypi"
As of 0.12.1, https://pypi.python.org/pypi/tensorflow/ only has os specific wheels.  It would be very nice for packages (e.g. me with fink on the mac) to have a point release tar or zip file too.

[2017-01-13 22:18] andrewharp commented on #6670
@AlexandreBriot We'll probably update the code soon to just load from a txt file, as separately supporting a  proto build in the Android example adds disproportionate overhead.

In the meantime, I've exported entire box prior proto to text, which you should be able to easily load into your Python code:

https://gist.github.com/andrewharp/136b07af1f221e9c95b383889f9911e0

[2017-01-13 22:20] nfiedel commented on #6785
@mrry and @chrisruk, at least one possibility here. The first root error, "Attempting to use uninitialized value convolution2d_1_W_1", appears due to an uninitialized Tensor.

While I do see the model code setting the init_op, I don't see it passed to the model_exporter. As-is, the exporter will not set an init_op on the model export, so at load time the init_op will not be called.

To try this fi

[2017-01-13 22:22] jart commented on #4875
For people googling this issue in the future: the solution may have been to disable SIP (System Integrity Protection) by running `csrutil disable`.

[2017-01-13 22:35] chrisruk commented on #6785
@nfiedel I still get the same error message alas in 0.12.

[2017-01-13 22:49] Intropy commented on #5
I'm trying to use the new java API, and I've come across some things that make it harder to use than I think it ought to be:

1. The java API should accept a GraphDef object. Currently it only accepts a byte array representing the serialized binary of the GraphDef protocol buffer. It's odd to require a serialization/deserialization step at the library boundary.
2. Session.Runner.feed should be abl

[2017-01-13 22:52] yaroslavvb commented on #6837
Thanks for the explanation! We indeed had threads calling `sess.run` and `sess.close` in parallel

[2017-01-13 22:52] #6837 closed

[2017-01-13 23:10] jart commented on #6729
I'm terribly confused by this issue. In the original error message, [python_op_gen_main.cc](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/framework/python_op_gen_main.cc) is crashing when invoked by a genrule to create a Python wrapper for contrib/ffmpeg:decode_audio_op because it can't load Cuda due to [SIP](https://en.wikipedia.org/wiki/System_Integrity_Protection)? I'm

[2017-01-13 23:29] asimshankar commented on #5
@Intropy : Thanks for your comments and they definitely make sense. For now I can share some quick thoughts with you:

RE: protobufs: At this point we're trying to keep the core API independent of protobufs for a number of reasons (including use on resource restricted systems where something like [nanproto](https://github.com/google/protobuf/tree/master/javanano#nano-version) may be more appropria

[2017-01-13 23:29] jart commented on #6841
I'm not familiar with Fink. Why can't it use wheel files? What are the advantages of putting a tarball on cheeseshop instead of just the wheels?

[2017-01-13 23:33] #5611 closed

[2017-01-13 23:42] jart commented on #6644
That error message appears to mean one of your checkpoint files is <48 bytes in size. Is it possible that your training script failed or files got corrupted or truncated afterwards? If you regenerate the data, does the same error still happen?

[2017-01-13 23:57] jart commented on #6548
@tristanbrown Could you also copy and paste your command line session into this bug similar to what @Carmezim did above? That should hopefully help us get a better idea of what's going on, since we can see the error message and the commands you're running.

[2017-01-14 00:07] jart commented on #6515
Does this problem go away if you upgrade to the latest release?

[2017-01-14 00:08] jart commented on #6355
We're glad to hear the issue is resolved. As for the other issue, that appears to be resolved in https://github.com/tensorflow/tensorflow/issues/6748.

[2017-01-14 00:08] #6355 closed

[2017-01-14 00:23] yaroslavvb commented on #6729
@jart The way TensorFlow loads dynamic libraries is not secure (loading by relative path means someone could trick TF to load malicious code from an all-writeable location). So MacOS disables it https://github.com/BVLC/caffe/issues/3227

As far to why `gen_decode_audio_op_py_py_wrappers_cc` needs CUDA, a possibility is that is it built in in the wrong mode. Bazel builds in [two configurations](htt

[2017-01-14 00:24] Carmezim commented on #6548
@jart I followed his same [steps](https://github.com/tensorflow/tensorflow/issues/6548#issuecomment-269576043) to try reporduce his error.
- Installed clean TensorFlow installation through `pip` with ignore flag
- Created new anaconda env
- Activated it
- Imported TensorFlow (where his error occurred) and ran snippet successfully

The difference is I have only one Python distribution which is Anac

[2017-01-14 00:31] schwehr commented on #6841
Fink builds from source.  It needs to be able to control the entire setup process.  Looking in the wheel, I find:

file tensorflow/python/_pywrap_tensorflow.so
tensorflow/python/_pywrap_tensorflow.so: Mach-O 64-bit dynamically linked shared library x86_64

otool -L tensorflow/python/_pywrap_tensorflow.so
tensorflow/python/_pywrap_tensorflow.so:
	bazel-out/local-opt/bin/tensorflow/python/_pywrap_te

[2017-01-14 00:50] jart commented on #5440
Apologies for the delayed response. Is your .so file being generated in the same directory as the script that loads it? If so, you should be able to say `data = ["zero_out_op.py"]` and then load the op library using `tf.resource_loader.get_path_to_datafile('zero_out.so')`. If you grep the codebase, particularly in contrib, you should see many examples of this.

[2017-01-14 00:50] #5440 closed

[2017-01-14 00:57] jart commented on #6729
Where is TensorFlow loading libraries by relative path? I know with op libraries get_path_to_datafile() turns relative .so paths into absolute paths before passing them along to dlopen. I'm not sure where cuda is being loaded, but I'd like to know more. If TensorFlow is being insecure, it should be fixed.

Re: Cuda dep, that program is [passed](https://github.com/tensorflow/tensorflow/blob/1f5d61d

[2017-01-14 01:01] amnezzia opened #6844 "changing number of outputs/classes"
my StackOverflow thread: http://stackoverflow.com/questions/41645571/changing-number-of-outputs-classes-in-tensorflow

### Environment info
Operating System: OSX
1. python3 installed with miniconda3, TF installation link: https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-0.11.0rc1-py3-none-any.whl
2. Version 0.11.0rc1

Minimal example:
[code]
The last one produces the error below.
My ma

[2017-01-14 01:08] Intropy commented on #5
@asimshankar Thanks for your thoughts.

Regarding the first point, it's not really a big deal. As you say there are times where a byte[] makes the most sense. In my own use case I have an InputStream, which is trivial to convert to byte[]. The protocol buffer API makes conversion straightforward. I just consider the byte[] a wart on the API because you're going to have to deserialize anyway (in TF

[2017-01-14 01:15] yaroslavvb commented on #6729
I'm just going by the error message which say `@rpath/libcudart.8.0.dylib`, which I'm assuming means that `libcudart` is loaded by path relative to location in `DYLD_LIBRARY_PATH` which Apple thought was a security hazard. I guess I don't understand why cuda is being loaded then -- my understanding was that dynamic linking of cuda was a property of target configuration rather than a particular tar

[2017-01-14 01:50] jart commented on #6729
@gunan do we dllopen() cuda with a relative path?

[2017-01-14 01:54] DanielTakeshi commented on #6119
Also, does anyone have a way to get rid of the error messages? The API is deprecated and tf.contrib.learn keeps changing so it's a bit hard to keep track of API updates.

[2017-01-14 01:59] jart commented on #6841
Have you considered configuring Fink to download the tarball from the [release page](https://github.com/tensorflow/tensorflow/releases/tag/0.12.1)?

[2017-01-14 02:02] jart commented on #6548
In that case I'll trust your judgement and close this one out. Thank you for your time @Carmezim.

[2017-01-14 02:03] schwehr commented on #6841
Sure, but the normal thing for python packages to do is to put a tar and/or zip on pypi.

[2017-01-14 02:03] jart commented on #6743
@bodokaiser we recommend [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) for community-driven support.

[2017-01-14 02:44] Carmezim commented on #6548
@jart Glad to help. If you try to install TensorFlow outside the conda env then try to import it inside the conda env it'll not work as expected and give the exact import error reported.
But as he said he also tried within the environment and didn't succeed, I believe it's not a TensorFlow issue. (Sorry, I inverted the order of the steps above fixing on edit)

Here are the entire logs:

1. Testing

[2017-01-14 03:00] jart commented on #6841
Normally Python packages are capable of being built from source by setuptools, which is not the case with TensorFlow. Uploading the GitHub tarball to cheeseshop would add complexity to our release process and I can't think of any reason why it would provide greater benefit to our users.

[2017-01-14 03:00] #6841 closed

[2017-01-14 03:21] jart commented on #6844
Please don't crosspost StackOverflow threads. TensorFlow is community supported. We try our best to keep this issue tracker limited to bugs and feature requests.

[2017-01-14 03:38] jart commented on #6473
Thank you for providing more useful information for future people googling this issue. If you want to contribute to the documentation, we would be happy to review any pull requests you would be generous enough to contribute.

[2017-01-14 03:38] #6473 closed

[2017-01-14 03:44] jart commented on #6674
Closing due to inactivity. Perhaps consider filing this issue against the Bazel project instead. Feel free to borrow any code from our repository that you like.

[2017-01-14 03:44] #6674 closed

[2017-01-14 03:58] jart commented on #4348
This was fixed in https://github.com/tensorflow/tensorflow/commit/7ea4e2f

[2017-01-14 03:58] #4348 closed

[2017-01-14 04:02] #6824 closed

[2017-01-14 04:17] bodokaiser commented on #6743
I still see this as a documentation issue - as mentioned earlier I could fix that with a PR if I know where to start.

[2017-01-14 04:30] migueldeicaza commented on #18
We are interested in doing this work.

I believe someone in my team had started work on this, if not, we will be happy to contribute it.

[2017-01-14 04:36] jart commented on #6743
In that case, please open up a new issue requesting more in-depth documentation for `tf.extract_image_patches`. I'll triage it right away and make sure the appropriate people see it.

[2017-01-14 04:38] jhseu commented on #18
@migueldeicaza That'd be great! Please look at https://www.tensorflow.org/versions/r0.11/how_tos/language_bindings/ as a starter guide.

Also, if you'd like code review from the TensorFlow team, then please loop in me and @asimshankar after it's committed somewhere. Thanks!

[2017-01-14 05:12] sharod commented on #6811
jart can you pls tell me which of the .py files have the unstack function? Actually upgrading is a problem in my machine.

[2017-01-14 05:33] jart commented on #6811
@sharod Here's the commit that added unstack: https://github.com/tensorflow/tensorflow/commit/0ee63d0cdb63df0f34dada5176d6a5ad92fbccab. It appears to be a renaming of tf.unpack. So you should actually be able to just use that function in its place.

[2017-01-14 06:06] rsethur commented on #2514
Many thanks to all contributors & to @markpwoodward , @ebrevdo, @danijar.
Since this thread is around 4 months old, curious to know the final solution you settled on- any updates on dong this more efficient/simpler?
Very grateful for any inputs.

[2017-01-14 06:12] sjperkins commented on #5722
This is great news. Thanks to those who put this together. I can't wait to try it out.

[2017-01-14 06:12] ebrevdo commented on #2514
There is now a set of methods in tf.train that allow conditional enqueue.  E.g. tf.train.maybe_batch.  the conditional may be a boolean Tensor. This is probably the appropriate solution from now on.

[2017-01-14 07:31] ericyue opened #6845 "input pipeline spends all time in QueueDequeueMany"
My training process use tfrecord format for train&eval dataset .
I test the benchmark of reader , only 8000records/second.  and io speed(see from iotop command) just 400KB-500KB/s.
I'm using the cpp version of protobuf here https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/get_started/os_setup.md#protobuf-library-related-issues

### What related GitHub issues or StackOverflow t

[2017-01-14 07:41] ericyue commented on #4467
can you show me a demo code for using FixedLengthRecordReader to read tfrecord files? I think the tfrecord are not fixed length , how to do this ? @titusnicolae

[2017-01-14 07:46] benwu232 opened #6846 "tf.contrib.losses.sparse_softmax_cross_entropy not normal"
When I tried to use tf.contrib.losses.sparse_softmax_cross_entropy with weights for losses, I got the error:

ValueError: weight.get_shape().ndims cannot be None

Later, I used tf.contrib.losses.softmax_cross_entropy and onehot labels,  everything was ok.  Is there anything wrong with tf.contrib.losses.sparse_softmax_cross_entropy?

Thanks a lot!

[2017-01-14 08:05] ericyue commented on #6780
i have this problem too, but it seems that just restart it with supervisor is a trick solution

[2017-01-14 08:18] yaroslavvb commented on #6256
So I tried after compiling latest version (with XLA) and my benchmark got a bit slower

python client_transfer_benchmark.py --direction=p2t --profile
600 MB/s (down from 728)

python client_transfer_benchmark.py --direction=t2p --profile
1308 MB/s (down from 1879)

[2017-01-14 08:25] yaroslavvb commented on #6780
So the issue is that network conditions can interrupt the connection which
results in UnavailableError.
Supervisor doesn't handle this, and session may become invalid, so you need
to restart session yourself (or just restart the whole program).

MonitoredSession/MonitoredTraining session improve on Supervisor by adding
retries in presence of UnavailableError

On Sat, Jan 14, 2017 at 12:05 AM, Eric

[2017-01-14 08:29] bodokaiser opened #6847 "Better documentation for tf.extract_image_patches"
In this [issue](https://github.com/tensorflow/tensorflow/issues/6743#issuecomment-272525783) someone requested a reverse operation to `tf.extract_image_patches`. The comments suggest that there exists a [gradient operation](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/array_grad.py#L575) for this purpose which was added with [this PR](https://github.com/tensorflow/ten

[2017-01-14 08:30] bodokaiser commented on #6743
Thank you @jart! you find the corresponding request at #6847.

[2017-01-14 12:22] chenghuige commented on #6803
Well, I have find out how to do this. like below in decoder_fn

    if cell_output is None:
      context_state = tensor_array_ops.TensorArray(
        dtype=dtype, tensor_array_name="best_path", size=0, dynamic_size=True, infer_shape=False)
    else:
      step_path = tf.expand_dims(next_input_id, 0)
      context_state = context_state.write(time - 1, step_path)

and use it :

    tf.transpose(de

[2017-01-14 13:34] Lldenaurois commented on #6644
Hi Jart,

Thanks so much for your response.

Yes, the error is persistent. It seems like the Checkpoint file is being created through a deprecated class, and I can't figure out how to fix it.

I'm now trying to simply rebuild the entire model from scratch and using the newest API documentation for version 0.12

Do you think I could contact you directly via eMail or Google Hangout with questions? J

[2017-01-14 13:39] Lldenaurois commented on #6644
Sorry, to your questio : The training script does not fail, but the eval script does. I think the checkpoint file is truncated because its calling a deprecated API call, which leads to the truncated checkpoint file.

Like I said, I'm rebuding the entire model from scratch. Maybe once its done, we could add the source to the model zoo. I saw that lm_1b is in there, but only the eval script, not the

[2017-01-14 13:49] chenghuige commented on #6803
In seq2seq_test.py 108-119, might be a minor bug, here should

    maximum_length=decoder_sequence_length

    # now Inference decoder
        decoder_fn_inference = Seq2SeqTest._decoder_fn_with_context_state(
            decoder_fn_lib.simple_decoder_fn_inference(
                output_fn=output_fn,
                encoder_state=encoder_state,
                embeddings=decoder_embeddings,

[2017-01-14 14:23] luketg8 commented on #18
Pythonnet in .net works, but is not particularly practical. SWIG (using Linux/Mono) generated wrapper/manually exposing the C API in a wrapper is working well for me

[2017-01-14 14:41] chenghuige commented on #6761
@ebrevdo cool, looking forward to new seq2seq.

[2017-01-14 14:55] jeffheaton opened #6849 "Regression error (worked in 0.8): DNNRegressor no longer supports multiple output neurons"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-01-14 14:57] hawkinsp opened #6850 "cudnn.h header not found on Ubuntu when using NVidia's CUDNN .debs"
The official libcudnn5-dev package from NVidia (developers.nvidia.com), version 5.1.5-1+cuda-8.0, places the cudnn.h header at
`/usr/include/x86_64-linux-gnu/cudnn_v5.h`

but Tensorflow's config script looks for it at:
`/usr/lib/x86_64-linux-gnu/include/cudnn.h`

which means that running Tensorflow's `configure` script fails.

A workaround is to add a symlink:
[code]
after which Tensorflow's `conf

[2017-01-14 15:30] ericyue commented on #6845
here is my benchmark script and timeline result (timeline.json original file inlcude)
https://gist.github.com/ericyue/7705407a88e643f7ab380c6658f641e8

[2017-01-14 15:32] ericyue commented on #6845
https://github.com/tensorflow/tensorflow/issues/4732
I read this issue that you guys talk about, seems the same problem. I'am using the latest version of tensorflow , but it's still unsolved.
@gunan  @ebrevdo  @yaroslavvb

[2017-01-14 15:34] ericyue commented on #6845
![screen shot 2017-01-14 at 11 15 56 pm](https://cloud.githubusercontent.com/assets/918889/21956027/ec463fbe-dab1-11e6-9670-9f75f1b21e6d.png)

[2017-01-14 15:43] JimSEOW commented on #18
@luketg8 with SWIG, someone(s) [most likely from the C API guys who also must know .NET - unfortunately not in this case here] to **"manually exposing" to keep/catch up** with the _latest code change._

With CppSharp, as discussed by @tritao, you need an experienced specialist committed to setup the **workflow** to create the .NET bindings, after that, users like us could just simply use the creat

[2017-01-14 15:56] luketg8 commented on #18
@JimSEOW I agree that it is a lot of effort to maintain the wrapper for the C API when there are new updates, but it is just what is working for me at the minute with the limited amount of C# I need to do. For now, I have just had to write a lot of my code in C++ and prototype in Python.

However, I do agree (having experimented briefly) with the use of CppSharp for this, but I think I'd need to l

[2017-01-14 18:16] caffreit commented on #6136
I had the same issue. Thanks very much. Sound lad!

[2017-01-14 18:24] yaroslavvb commented on #6845
It's not clear if it's a bug in TensorFlow or somewhere else....can you give a reproducible example? (ie, I can't run your example because it's missing the input files).

Also, the time Dequeue op takes is surprisingly similar to the time in https://github.com/tensorflow/tensorflow/issues/4740 . The issue there was queue starvation. Python thread scheduler always scheduled compute thread ahead of

[2017-01-14 19:12] vrv commented on #6838
Also, you can try posting CloudML related questions on StackOverflow with the tag "google-cloud-ml" -- the team monitors that tag and is very helpful!

[2017-01-14 20:53] yaroslavvb opened #6854 "XLA: random numbers are the same across `session.run` calls"
Not sure if that's intended, but that changes behavior of training pipelines:

[code]

Output:
[code]

[2017-01-14 20:59] yaroslavvb commented on #6854
@leary for comment if that's normal

[2017-01-14 21:24] hannes-brt commented on #6263
I have the same issue - using `tf.contrib.framework.add_model_variable(variable)` doesn't help.

[2017-01-14 21:57] gojira commented on #4187
I just hit this error in r1.0 alpha.

dyld: Library not loaded: @rpath/libcudart.8.0.dylib
  Referenced from: /private/var/tmp/_bazel_Keiji/1dc08e629317533c84e553c6b75a1110/execroot/tensorflow/bazel-out/host/bin/tensorflow/contrib/layers/gen_bucketization_op_py_wrappers_cc
  Reason: image not found
/bin/bash: line 1: 83868 Abort trap: 6           bazel-out/host/bin/tensorflow/contrib/layers/gen_bu

[2017-01-14 22:27] yaroslavvb commented on #6729
Actually, maybe it's not an issue of SIP, but `LD_LIBRARY_PATH` environment getting lost during tool invocation:

Someone else hit similar issue and fixed it by modifying Bazel's genrule-setup.sh to add `LD_LIBRARY_PATH` in https://github.com/tensorflow/tensorflow/issues/4187#issuecomment-272656233

There's been a similar issue with tools getting called by Bazel not getting the environment propaga

[2017-01-15 03:57] guo253 opened #6855 "Installation error from source code with cuda7.5"
For bugs or installation issues, please provide the following information.
The more information you provide, the more easily we will be able to offer
help and advice.

### Environment info
Operating System:
     Ubuntu 14.04

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
~$ ls -l /usr/local/cuda/lib64/libcud*
-rw-r--r-- 1 root root 322936  8月

[2017-01-15 04:27] ericyue commented on #6845
@yaroslavvb    I upload a part of my dataset here.
[20161230_part-00390.output.pb.zlib.zip](https://github.com/tensorflow/tensorflow/files/706423/20161230_part-00390.output.pb.zlib.zip)

1) increase queue size to fit the entire dataset
the "queue size " you mentioned is `capacity` in `tf.train.shuffle_batch()` ?
in my script, `capacity = thread_number * batch_size + min_after_dequeue`, I tried inc

[2017-01-15 04:30] yaroslavvb commented on #6845
You could just add time.sleep(30) after starting queue runners and checking
if it makes things faster. If not and get timeline for one of the first few
iterations

On Jan 14, 2017 8:27 PM, "Eric Yue" <notifications@github.com> wrote:

[2017-01-15 04:46] ericyue commented on #6845
@yaroslavvb   I do as you said.
After I add `time.sleep` and increase `capacity` in tf.batch, the speed changed from 7k/s to 70k/s.
But I find two thinks :
1) the speed become slower with the time elapse.
2) then increase the thread number , the speed become slow.  the best number is  2.(my server are 24cores cpu)

[2017-01-15 04:49] ericyue commented on #6845
and if the reason why it's slow is queue starvation, how to solve this? manually time.sleep every batch? is there any better solution ?

[2017-01-15 05:14] ericyue commented on #6845
I have read the post you answered http://stackoverflow.com/questions/39840323/benchmark-of-howto-reading-data/39842628#39842628
you said
[code]
so my question is :
1、 The solution is to increase number of Python threads
do you mean increase the thread number in `tf.train.shuffle_batch()` ? I tried it . but not working . increase the number of thread can descrease the speed.

2、 increase queue size

[2017-01-15 05:43] ericyue commented on #6845
BTW in iotop command , I can only see `one` tensorflow `thread` reading disk io when I set thread number in tf.shufle_batch . (sometime show 2 threads. )

[2017-01-15 06:14] yaroslavvb commented on #6845
I suppose this is a "bug" in how Python works. What happens when main compute thread session.run call is too fast (ie, <2ms), then Python does not switch to the other reading read and will keep running your compute thread until it runs out of data to consume. At which point it'll switch to "read one example-run one train step-read another example", which is much less efficient than reading many ex

[2017-01-15 06:33] ericyue commented on #6845
sorry I can not understand. You means the main reason it slows is because the dequeing half too fast?  In my acutal script , the training process is a 4-layer network each with 128 hidden unit. I think it's complex enough .
I'm confused. Increase the thread number can not speed up , so it maybe that the queue is always full, and the dequeing part is slow ?  it's not match with your thought about d

[2017-01-15 06:35] yaroslavvb opened #6858 "Support for mixed precision gradients"
To save memory while keeping precision it's useful to be allow functions that store activations as fp16, but compute gradients in fp32. We are working on custom ops that compute gradients in mixed mode, but it requires hacks on Python gradient type checks side to working. The feature request is to relax these checks.

Here's an example computation graph with mixed precision gradient. Forward propa

[2017-01-15 06:38] yaroslavvb commented on #6845
I'll try running your example on Monday, but meanwhile you could try benchmarking just the enqueuing part of the pipeline (no training, just adding data to queue) and seeing how fast it is.

[2017-01-15 06:49] ericyue commented on #6845
thanks.  The script I provide is just without training. it's just read from file and get from queue.
I didn't know how to measure the time only adding data because I cannot get the timestamp when the queue is full. I'm not using the `Queue` directly.

[2017-01-15 06:57] yaroslavvb commented on #6845
You can call queue size operation directly from graph, ie

print(tf.get_default_graph().as_graph_def())
...
node {
  name: "batch/fifo_queue_Size"
  op: "QueueSize"
  input: "batch/fifo_queue"
...
then you can do `sess.run("batch/fifo_queue_Size")` to get number of elements in that queue

[2017-01-15 07:12] ericyue commented on #6845
there's a "shuffle_batch/random_shuffle_queue_Size", but value keeps `None`.

[code]

[2017-01-15 07:24] guo253 commented on #6855
I have found the problem.

Just add: --local_resources 2048,.5,1.0

[2017-01-15 07:24] #6855 closed

[2017-01-15 07:26] awilliamson commented on #6533
@domschl Can confirm this works on Arch Linux. TensorBoard no longer throws a fit when it's asked to import TensorFlow. CPU & GPU, 64-bit, Python 3.6

[2017-01-15 07:28] #6735 closed

[2017-01-15 08:37] gunan commented on #6729
For CUDA, I think we have an indirection setup by cuda_configure.bzl
@davidzchen @damienmg Could you take a look?
Looks like we are having quite a few issues with CUDA on macos.

[2017-01-15 09:08] ankitvgupta commented on #3492
Is there any timeline for implementing tf.nn.pool with "SAME" padding with dilation_rate > 1? It looks like tf.nn.atrous_conv2d works with SAME padding, but the tf.nn.pool function doesn't have it.

[2017-01-15 09:13] wookayin commented on #6220
@lukaszkaiser Hi I found that your workaround to put a variable_scope which wraps the outermost num_gpus loop, but I am still confused why it does eliminate the error.

[code]

Is it just because that the `tf.get_variable_scope()` (which is identical to `vscope`) are explicitly created than the implicit default? Then, what do these two `VariableScope` objects differ in?

What do you mean by "leaky

[2017-01-15 09:15] soloice opened #6860 "Problems with generate_batch() in word2vec_basic.py"
Does the generate_batch() function miss some possible (word, context) pairs? The sliding window always skips the end of a batch.

For example, if I change the demonstration codes followed by this function into
[code]
, the sampled pairs would be:
[code]

Note that the sampled sentence is:
`Sample data [5242, 3083, 12, 6, 195, 2, 3134, 46, 59, 156] ['anarchism', 'originated', 'as', 'a', 'term', 'of

[2017-01-15 09:56] chiphuyen opened #6861 "Strange bug with tf.nn.nce_loss"
So for tf.nn.nce_loss for word2vec_basic, if I explicitly use keyword arguments, such as:
      tf.nn.nce_loss(weights=nce_weights,
                     biases=nce_biases,
                     labels=train_labels,
                     inputs=embed,
                     num_sampled=num_sampled,
                     num_classes=vocabulary_size))

everything is fine. But if I get rid of the keywords:

[2017-01-15 10:11] gitDawn commented on #5214
@drpngx  I've installed tensorflow-0.12.1 in windows as described [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/get_started/os_setup.md).
After the installation is complete, I can't find the configure file in
C:\Program Files\Anaconda3\Lib\site-packages\tensorflow.

Below is the package information I'm getting from pip.

[code]

[2017-01-15 10:12] Qingmu opened #6862 "Error when tensorflow installed with conda virtual environment in windows 10"
### Environment info
Operating System:
    windows 10

I was trying to install tensorflow in `windows 10` with the guidance of the `readme.md`.
Because the version of `python` in my pc is `2.7.X` which is not compatiable with the guidance as it say  `python version=3.5`. Therefore, I use `conda create --name tensorflow python=3.5` to create a virtual environmnt and install tensorflow.

However, an

[2017-01-15 11:33] k-hashimoto commented on #22
How about this? I think this package can work on Radeon GPU.

https://github.com/RadeonOpenCompute/ROCm

[2017-01-15 11:34] bhack commented on #6449
@lukeiwanski Now that a first version of XLA it s released what do you think of https://github.com/tensorflow/tensorflow/issues/22#issuecomment-272426528?

[2017-01-15 11:40] yaroslavvb commented on #6845
Correction, sess.run("batch/fifo_queue_Size:0"). Also getting timeline for actual enqueue step will tell where true slowness is, maybe also combined with CPU profile from Google perf tools

[2017-01-15 11:44] foxik commented on #6846
I have encountered the issue before.

The problem is that if `weights` has unknown shape (for example if it is `[None]`), the following line (referenced current head):
https://github.com/tensorflow/tensorflow/blob/333dc32ff79af21484695157f3d141dc776f7c02/tensorflow/contrib/losses/python/losses/loss_ops.py#L424
causes the resulting shape to be `None` (because the number of dimensions after the `squ

[2017-01-15 13:04] yaroslavvb commented on #6845
BTW, when I run your example on MacBook everything seems to be running consistently between 13k and 17k examples per second

[code]

[2017-01-15 13:29] mattdns100689 opened #6863 "Protobuf import issue"
I am trying to run tensorboard but I am getting the following import error on mac osx;

`AttributeError: module 'pkg_resources' has no attribute 'declare_namespace'`

I have tried reinstalling setuptools and distribute. This is coming up as an error in python 3.5 even though my tensorflow is installed in 2.7; I.e.

[code]

[2017-01-15 13:49] soloice commented on #6862
No idea about how to solve this.
I installed Anaconda both 2 and 3 (They can coexist with each other, see [Install Anaconda both 2 and 3](http://blog.csdn.net/infin1te/article/details/50445217)) on win7 and use the Python 3.5 environment for Tensorflow.  It works very well.

[2017-01-15 13:58] ericyue commented on #6845
I try on my macbook pro too (MacBook Pro (Retina, 13-inch, Early 2015))
I'm wondering why the different come from.
I'm using tensorflow 0.12.1 and install from pip. And using the cpp-implemention protobuf in python.

[code]

[2017-01-15 14:02] ericyue commented on #6845
@yaroslavvb   hi, I tried as you said to try benchmarking just the enqueuing part of the pipeline, the result is 7058records/s on my macbook.
I'm using a large min_after_dequeue to ensure 5 seconds can not load all the records.
[code]

[2017-01-15 14:04] ericyue commented on #6845
I tried on my server , the speed is 7567/s .
So it seems that the bottleneck  is read speed ?   Why increase thread number can speed up ?

[2017-01-15 14:23] soloice commented on #6861
If you try to look into the documentation of this function, say, run
`print(tf.nn.nce_loss.__doc__)`
, you'll get:
[code]
So if you pass arguments by position instead of by keyword, the 3rd argument is inputs, and the 4th is labels. Try to switch these 2 parameters.

[2017-01-15 14:26] hawkinsp commented on #6854
That's definitely not working as intended. We don't seem to be setting the RNG seed correctly, which is why you get the same result.

I'll check in a change disabling JIT compilation of the RNG ops until they are fixed.

[2017-01-15 14:39] jungle-cat commented on #6518
@aselle Could we just convert seq_lens to int32 if its dtype is int64 in tf.sequence_mask implementation?

However since the error occurs due to `less` operation in `gen_math_ops._range(0, maxlen, 1) < expand_dims(lengths, 1)` where the left operand is int32 and the right operand is int64. Maybe we could add `type promotion` mechanisms in these operations.

If it's ok by converting seq_lens to int

[2017-01-15 15:05] mcnarik commented on #6184
For someone who is searching as I was...

The [tutorial](https://www.tensorflow.org/tutorials/wide/) has two issues (at least on windows installation):
1. TypeError: __init__() got an unexpected keyword argument 'density_shape'
2. AttributeError: 'NoneType' object has no attribute 'bucketize'

**Issue 1 - temp. solution**
Change "density_shape" in following code:
`  categorical_cols = {
      k: t

[2017-01-15 15:27] hawkinsp commented on #6854
Actually, it turns out that Tensorflow is constant-folding away the _XlaLaunch ops containing the random-number generation code. Fix coming shortly (mark _XlaLaunch as stateful).

[2017-01-15 15:52] yaroslavvb commented on #6854
Good to know it's an easy fix. BTW, if you setup the internal github/google email it'll add you to TensorFlow org automatically and I'll be able to assign future XLA issues to you (martin knows the place for the mapping)

[2017-01-15 15:58] Leary commented on #6854
Hry folks,
  Must have been some typo when you launched this thread. I am not related
to the tensor flow project. You aren't communicating with who you think you
are.

On Jan 15, 2017 9:53 AM, "Yaroslav Bulatov" <notifications@github.com>
wrote:

[2017-01-15 16:06] hawkinsp commented on #6854
I don't have permissions to reassign issues, but feel free to remove learyg (who is not the right Leary) and assign me.

[2017-01-15 16:07] hawkinsp commented on #6854
Ah, I see, I can't be assigned. I email Martin to add me to the Github org.

[2017-01-15 16:37] vrv commented on #6854
@hawkinsp invited

[2017-01-15 16:37] vrv commented on #6854
Also it is @leary-g I think

[2017-01-15 16:50] prodipta commented on #6184
As I see it from my attempts, it is an windows version issue - they do not ship the DLLs for some shared libraries like they do the SOs for the Linux version. Better switch to the Linux version, it appears to work just fine.

[2017-01-15 16:55] drpngx commented on #5214
This is a binary release, you need to build from source

On Jan 15, 2017 2:12 AM, "gitDawn" <notifications@github.com> wrote:

[2017-01-15 18:15] shadofren commented on #6184
@mcnarik I experience your problem 1 as well and I'm using linux, the parameter name on linux is **dense_shape** and should be changed to **shape**. I guess they forget to update the tutorial.

[2017-01-15 18:18] prodipta commented on #6184
to be clear, the issues with windows is on the point 2, bucketize has no definition, the shared objects missing in windows.

[2017-01-15 19:53] shaayaansayed commented on #4535
+1, this would be incredibly useful.

Does anyone have the multiple session workaround going by any chance?

[2017-01-15 20:37] prats226 opened #6865 "zlib removed from repository url mentioned in build"
I was building docker container for tensorflow r0.11 branch and it throws error because it repository url for package zlib mentioned in build file is no longer available on that url. Here is snippet for error.

[code]

[2017-01-15 21:41] gojira commented on #6865
I just hit the same thing in r0.11 running ./configure

[2017-01-15 21:49] lukaszkaiser commented on #6220
Sure, let me try to clarify.

When you do `tf.get_variable_scope().reuse_variables()` you set the current scope to reuse variables. If you call the optimizer in such scope, it's trying to reuse slot variables, which it cannot find, so it throws an error. If you put a scope around, the `tf.get_variable_scope().reuse_variables()` only affects that scope, so when you exit it, you're back in the non-r

[2017-01-15 22:12] jart commented on #6644
The repository you linked in the original comment appears to be doing a lot of checkpoint loading logic by hand. Please understand that TensorFlow is community supported and we also can't provide support for other people's projects.

Right now I'm trying to determine if a TensorFlow API is responsible for writing corrupt data. If that's the case, then it's a bug, and we want to fix it. Anything yo

[2017-01-15 22:28] jart commented on #6847
@dr4b @vrv Want to bring to your attention that two users have requested better documentation for ExtractImagePatches, which currently has a one-liner doc. I think more accessible documentation is always a good thing. I've marked it "contributions welcome" but feel free to self-assign if it's something you're interested in doing.

[2017-01-15 22:36] jart commented on #6865
Thanks for bringing this to our attention. This was fixed in the r0.12 branch in https://github.com/tensorflow/tensorflow/commit/1e317b1f7dc5ccf04fc51ac96d97f5bdaefa9af9 but not the r0.11 branch, which I'll do now. In the meantime you can change the URL in tensorflow/workspace.bzl to http://zlib.net/fossils/zlib-1.2.8.tar.gz.

I'll also mention that at HEAD we now using redundant mirroring when do

[2017-01-15 22:41] jart commented on #6863
Thank you for bringing this to our attention @mattdns100689. What version of TensorFlow are you using? Can you share the full backtrace?

[2017-01-15 22:53] jart commented on #6862
What version of conda are you running? Do you think this issue is being caused by https://github.com/conda/conda/issues/3494?

[2017-01-15 22:55] jart commented on #6861
Thank you for helping our friend @soloice. For future reference @chiphuyen we try to keep this issue tracker limited to bugs and feature requests. We recommend posting on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) for community-driven support.

[2017-01-15 22:55] #6861 closed

[2017-01-15 23:10] mattdns100689 commented on #6863
I have installed it for both 2.7 and 3.5 and get the same error on both.

[code]

[2017-01-15 23:28] jart commented on #6860
Thanks for reaching out @soloice. I'm triaging bugs this week. I'm not deeply familiar with this tutorial, but I'm reluctant to triage this as a bug in TensorFlow since it's modified example code and skipping pairs when training appears to be an intended behavior of the skip-gram model. Maybe the following resources will help?

- https://www.quora.com/How-does-word2vec-work
- http://mccormickml.co

[2017-01-15 23:40] olegsinyavskiy commented on #2940
The issues still persist in tensorflow 1.0.0 alpha:

`python -c "import tensorflow; print(tensorflow.__version__)"
I tensorflow/stream_executor/dso_loader.cc:125] successfully opened CUDA library libcublas.8.0.dylib locally
I tensorflow/stream_executor/dso_loader.cc:125] successfully opened CUDA library libcudnn.5.dylib locally
I tensorflow/stream_executor/dso_loader.cc:125] successfully opened CU

[2017-01-15 23:41] jart commented on #6863
This stacktrace is going into the Protobuf codebase so this doesn't look like a bug in TensorFlow. It looks like something is wrong with the setuptools on your system. Maybe try reinstalling it? You can also try installing TensorFlow inside a virtualenv.

[2017-01-15 23:41] #6863 closed

[2017-01-15 23:43] jart commented on #6858
Assigning this gradient feature request to @girving.

[2017-01-16 00:20] yaroslavvb commented on #6858
I could send a PR that implements this if someone would help me get it in

[2017-01-16 00:26] jart commented on #6850
@davidzchen would it be possible to make cuda_configure.bzl compatible with the NVidia Debian packages?

cc: @gunan

[2017-01-16 00:30] wookayin commented on #6220
Ah, great. Your explanation is clear and helpful. Thanks!

A lesson from this example is that **where the (Adam-like) optimizer acts**, i.e. `opt.apply_gradients(...)`
(which is where the error is thrown from) should lie in the scope with **`reuse=False`** in order to properly create the slot variables.

[2017-01-16 00:32] jart commented on #6849
Thanks for reaching out. A lot of time has passed since 0.8. As you know, the API is not going to become stable until 1.0. I'm not sure what version you're currently using. The release history should document the breaking changes that have occurred since. https://github.com/tensorflow/tensorflow/releases Beyond that, you may want to consider [StackOverflow](http://stackoverflow.com/questions/tagge

[2017-01-16 00:34] jart commented on #6846
Thank you for helping our friend @foxik.

[2017-01-16 00:41] jart commented on #6845
@yaroslavvb You've offered some really excellent guidance in this thread. The problem appears to be resolved from my perspective. I'm going to close this out since I'm not seeing evidence of a bug in TensorFlow. But by all means, feel free to continue discussing.

[2017-01-16 00:41] #6845 closed

[2017-01-16 00:49] jart commented on #6644
Also would tf.train.NewCheckpointReader serve your needs?

[2017-01-16 02:11] alarmz commented on #6791
thanks your response,
I am insert that line of code, please check it out,
if that insert to right place, the result still crash.

[code]

[2017-01-16 02:19] ugtony commented on #5480
I ran the program as @civilman628 did
[code]
The program allocated the memory on GPU-2 as I expected using Tensorflow 0.11,
but allocated the memory on all GPUs when I moved the project to Tensorflow 0.12.1.

I wonder if it is a bug. Since the behavior is inconsistent.

[2017-01-16 02:32] zafartahirov commented on #5308
I think we can close this issue due to a) No new comments in the past 2+ months b) This is not really an issue, and the documentation is work in progress.

[2017-01-16 02:32] #5308 closed

[2017-01-16 02:34] nina124 commented on #6515
Currently not.
Do I need to build from source to upgrade to the latest release?
I am still using the pip install version
`pip install --upgrade https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-0.12.0-cp27-none-linux_x86_64.whl`

[2017-01-16 02:46] jart commented on #5639
Closing due to inactivity. Most likely due to needing a newer version of TensorFlow installed. Also see related commit improving error message.

[2017-01-16 02:46] #5639 closed

[2017-01-16 02:57] ericyue commented on #6845
I'm sorry but where the solution above ?
The every solution in stackoverflow or older issue is not possible.
I do speed up by add a time.sleep in the beginning , but a seconds later it slower again. So this is the solution ?
pool performance is not a bug ?

[2017-01-16 03:01] jart commented on #5333
Closing out as a duplicate of #4640.

[2017-01-16 03:01] #5333 closed

[2017-01-16 03:05] jart commented on #5882
@bboonz did the steps @mrry gave you work? Also want to note that @mariolew is also reporting this, so I'm not going to close due to inactivity.

[2017-01-16 03:07] ericyue commented on #6845
I didn't know why increase thread number can not speed up  enqueuing speed .
can you try to use my script on your macbook ?
just try thread number 1 and 5.  I do this on 3 server and 2 macbooks.
The result shows that increase thread do decrease the speed.
@yaroslavvb

[2017-01-16 03:07] jart commented on #5883
Closing due to inactivity. Provided new information, I will re-open.

[2017-01-16 03:07] #5883 closed

[2017-01-16 03:09] jart commented on #6048
Closing due to inactivity. If @poxvoculi's response didn't help and you are still encountering this issue, please let us know, and I'll re-open.

[2017-01-16 03:09] #6048 closed

[2017-01-16 03:13] nina124 commented on #6515
Solved. Thank you!

[2017-01-16 03:13] #6515 closed

[2017-01-16 03:15] jart commented on #6845
@yaroslavvb was unable to reproduce the performance decline you describe. The problem seems related to how TensorFlow is being used w.r.t. Python scheduling rather than a bug in TensorFlow itself. As for increasing threads decreasing speed, that's because GIL causes Python threads to have negatively scalability. For many types of computations, particularly CPU-bound ones, 1 + 1 < 1.

[2017-01-16 03:21] jart commented on #5907
Closing because we haven't heard back from the OP in a while. @yaroslavvb has offered good guidance here, and he also shared some helpful knowledge regarding queues in https://github.com/tensorflow/tensorflow/issues/6845. If you're still encountering problems @gowithqi and believe there's a performance bug in TensorFlow, let us know, and I'll re-open.

[2017-01-16 03:21] #5907 closed

[2017-01-16 03:23] ericyue commented on #6845
Thanks for reply.
He reproduced speed at 13k-17k , but I think if he add `time.sleep` in the main thread it may speed up to 60k or higher.
So do you think the enqueuing speed at 13k-17k is a reasonable speed?  If so I will accept it .
And I am wondering that if it is a python-gil issue , Why tensorflow support multi-thread or something to support a useless (it seems slower than single thread) func

[2017-01-16 03:24] jart commented on #6076
Closing due to inactivity. It's possible that the code closed the file and tried to read from it again. Since the stack trace indicates threads are being used, it's possible that there's a bug in the user code. If the problem persists, please consider posting the code to [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) for community-driven support.

[2017-01-16 03:24] #6076 closed

[2017-01-16 03:26] #6148 closed

[2017-01-16 03:31] jart commented on #6181
Just sent out a PR so this will be fixed shortly.

[2017-01-16 03:31] jeffheaton commented on #6849
I do believe it to be a bug.  As stated above, I am using 12.1.  I did look at the breaking changes and did not see anything that covers this.

Multiple output neurons is an important feature for neural networks.  One of the core maintainers of **contrib.learn** added this feature, as discussed on stackoverflow here:

[http://stackoverflow.com/questions/34224826/skflow-regression-predict-multiple-

[2017-01-16 03:34] jart commented on #6357
The work @samjabrahams is actively doing on bringing TensorFlow to Raspberry Pi seems like a satisfactory response to this question. If you would like to request TensorFlow for a specific platform, e.g. ARM Cortex M4F, or have the aforementioned project merged into TensorFlow, then please open a new issue. Or I can re-open and rename this one.

[2017-01-16 03:34] #6357 closed

[2017-01-16 03:36] jart commented on #6362
Closing due to inactivity. If provided new information, I will re-open.

[2017-01-16 03:36] #6362 closed

[2017-01-16 03:41] jart commented on #6374
Thank you @mrry for the advice. The conclusion I'm drawing is to use a distributed file system when using distributed TensorFlow. So I'm going to close this one out. If you're still experiencing this issue @ericyue, let me know and I'll re-open.

[2017-01-16 03:41] #6374 closed

[2017-01-16 03:42] ericyue commented on #6845
ok, forget it. even though can not solved the problem, but I do realized more about the tf.
I will try to dig more and see if I can find the reason.

@yaroslavvb  @jart   Thanks for your help :)

[2017-01-16 03:43] jart commented on #6374
I'll also add that I will gladly review a pull request updating our documentation to make this more clear to users. We've done a lot of work recently getting GCS to be available for everyone by default in our build, which should hopefully make this very simple to do.

[2017-01-16 03:57] jart commented on #6613
This was probably due to an ephemeral GitHub outage. At HEAD we've got a new system for redundant downloading where this will never happen again thanks to https://github.com/bazelbuild/bazel/commit/4c67807964e37cfd55bbcda4c6374fcc480bcecc and https://github.com/bazelbuild/bazel/commit/ed7ced0018dc5c5ebd6fc8afc7158037ac1df00d. However we haven't applied it to the TensorBoard downloads yet since tha

[2017-01-16 03:57] #6613 closed

[2017-01-16 04:00] jart commented on #6730
Closing due to seven days of no activity. If provided new information, I will re-open.

[2017-01-16 04:00] #6730 closed

[2017-01-16 04:02] #6181 closed

[2017-01-16 04:12] samjabrahams commented on #6357
Just saw this thread: I figured I may as well chip in a few bits of info:

Regarding Makefile support:

* If you're simply looking for any kind of inference support, the "most officially supported" thing to do is to try and modify the [Makefile instructions](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile) to work on whatever system you're trying to build. This lea

[2017-01-16 04:50] aryanbhardwaj commented on #135
@yselivonchyk, solution worked for me thank you.

[2017-01-16 05:23] zafartahirov opened #6869 "Confusion regarding `jemalloc`"
@jhseu In one of the recent commits (83c6e0c), `jemalloc` was introduced. The [blame comment](https://github.com/tensorflow/tensorflow/commit/83c6e0c63acdcab2c58c4ed7220bfa58879b1d57) says that it is "Only enabled on Linux for now". However, it defaults to `enabled` for any OS. If it is intended to work for Linux only, I think it should default to `disabled`, or should ask only if detected Linux-b

[2017-01-16 05:45] jart commented on #6845
The TensorFlow team is glad to help. If you manage to pinpoint the root cause of a performance issue, and are able to help us understand what specific part needs to be improved, please report back and we'll be more than happy to listen.

[2017-01-16 05:52] zafartahirov opened #6870 "POSIX compliance"
This is a non-urgent issue that might require a lot of changes

I was looking into modifying some TF files to make it work on BSD, and noticed that a lot of files ignore the POSIX compliance. Quick example, `configure` is written in Bourne shell, which is not POSIX.

I think it is important to write everything with POSIX in mind, because later on if TF would need to add support for other OS's, it

[2017-01-16 05:56] jart commented on #6849
Thanks for the additional information. As promised, I'm re-opening, and bringing your concerns to the attention of @sandersk who should be able to take a closer look.

[2017-01-16 06:04] jart commented on #6791
Can you put that line right after the `import tensorflow as tf` line? I ask because your stack trace indicates the `saver = ...` line is what crashes, and the code above inserted it after that.

I'm pretty confident that my suggestion will fix your problem. This is the result of a known issue we're planning to fix eventually, where the build graph and op loading needs to be smarter about loading l

[2017-01-16 06:07] zafartahirov opened #6871 "Windows `uname -s` might return different values"
[`configure#L14`](https://github.com/tensorflow/tensorflow/blob/73bc42890/configure#L14) checks if the system is Windows, but doesn't check `uname -s` values correctly according to the [wiki page](https://en.wikipedia.org/wiki/Uname#Examples).

Unless not supported, I think other Windows SDE's should be included in the check.

[2017-01-16 06:15] zafartahirov commented on #6871
@drpngx could you please check if #6872 solves it

[2017-01-16 06:19] drpngx commented on #6871
Yeah, I think that's fine. I'm not sure how far you can go with the build after that. The configuration that works is the cmake build.