[2017-12-06 17:05] #15158 closed

[2017-12-06 17:08] drpngx commented on #15160
Closing until we resolve your previous error.

[2017-12-06 17:08] #15160 closed

[2017-12-06 17:09] martinwicke commented on #14887
I like it. We can figure out details, if any, on the PR.

[2017-12-06 17:10] drpngx commented on #14886
@martinwicke WDYT?

[2017-12-06 17:11] drpngx commented on #15072
@mrry any idea?

[2017-12-06 17:12] drpngx commented on #15070
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-06 17:12] #15070 closed

[2017-12-06 17:14] drpngx commented on #15118
Not sure, without looking at the code, maybe gcc is too old?

[2017-12-06 17:16] drpngx commented on #15128
on the top of my head, I don't know that this is configurable.

@vrv is there a knob somewhere?

[2017-12-06 17:18] drpngx commented on #15134
@rryan do you know anything about that?

[2017-12-06 17:19] drpngx commented on #15136
@gunan @jart should we update the package?

[2017-12-06 17:21] drpngx commented on #15148
@skye @alextp any idea?

[2017-12-06 17:21] ngc92 commented on #15046
Then it would make sense to include this in the documentation, making this behaviour deliberate instead of a design accident.

[2017-12-06 17:24] Giuseppe-Accardo opened #15161 "Create Simple DNNClassifier"
Hi, I'm beginner in Machine Learning and Tensorflow.
I edited [this](https://www.tensorflow.org/get_started/estimator) to adapt it to my dataset (102 features-input and 4 classes-output).

**Question:**
This simple approach is correct for a simple classifier?
Why can't I change the number of nodes and levels (compilier gives errors)?

**Code:**

[code]

[2017-12-06 17:28] sujitpoudel123 commented on #14186
Any update on this issue? I've exact same issue and `build_all_android.sh` never completes. I've tried changing NDK versions, tweaking some parts of the makefile, but this still persists.

[2017-12-06 17:30] ebrevdo commented on #15150
+Andrew.  Andrew, wdyt?  A bug in the variational dropout wrapper?

On Wed, Dec 6, 2017 at 9:22 AM, drpngx <notifications@github.com> wrote:

[2017-12-06 17:38] mrry commented on #15072
No. Googling that error message ("cannot import name 'add_newdocs'") suggests it's a frequent problem when installing NumPy on Windows, so you might find something by searching NumPy forums.

[2017-12-06 17:51] reedwm commented on #15115
`accuracy` is recomputed everytime it is evaluated.

How `tf.metrics.accuracy` works in general is that it maintains two variables, `total` and `count`, each which starts at 0. Whenever `accuracy` is evaluated, it returns `total / count` (or 0 if count is 0), and does not modify `total` or `count`. `accuracy` also does not look `labels` or `predictions`. It just does a division.

When `update_op`

[2017-12-06 17:51] mrry commented on #15152
Hm, it looks like the problem is that `Dataset.batch()` doesn't validate that the shapes of all elements in the batch are the same. It merely checks that the number of elements matches, which allows you to silently batch together 512x768 and 768x512 images. I'm preparing a fix.

[2017-12-06 17:52] YoelShoshan commented on #14887
@yongtang I agree - good to have it for other possible usage as well.
Will continue discussion on  PR #15132 as you said.

[2017-12-06 17:59] martinwicke commented on #14698
Since you're running an old version of TensorFlow, this may be fixed in 1.4. Can you check whether this is fixed in 1.4? It works fine for me, but I am using Py2. That's the only difference I can think of. How much memory is in the machine you're using?

[2017-12-06 18:01] reedwm commented on #15159
Hmmm, the 2-line program works when I try it on my workstation. Did you try the aws cli command line in the docker container, or outside of it?

/CC @drpngx, any ideas?

[2017-12-06 18:04] vrv commented on #15128
I don't think there is a way to configure this; https://github.com/tensorflow/tensorflow/commit/9fe7c29605a5ee1519cceba8e67a6d8413444fac changed the chunk splitting policy to be less wasteful though.

If you're running a release before this commit, you might want to try updating.  If you're already past this change, I don't know if there is a knob to select here.

[2017-12-06 18:04] pfc commented on #22
Is this currently in a usable state on non-ubuntu linux systems?  The roadmap page simply links here.

[2017-12-06 18:05] reedwm commented on #15155
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-06 18:05] #15155 closed

[2017-12-06 18:07] martinwicke commented on #14698
Oh wait, you said that. Sorry. I take that back. Let me test again with Py3.

[2017-12-06 18:20] chris-smith-zocdoc commented on #15159
The cli command works both from without and outside the container. It might be worthwhile to try and reproduce on a common docker image. Do you have one that you'd recommend?

In my current setup, I'm running the container using docker for mac with a mounted volume for my aws credentials

[2017-12-06 18:29] martinwicke commented on #8658
It is absolutely possible. The easiest would be to use `tf.estimator.train_and_evaluate` with your `Estimator`,  and add an `Exporter` in our `EvalSpec`. The [`Exporter`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/estimator/exporter.py) is a simple class which you derive from to implement whatever behavior you want. It receives each eval result and can decide based on t

[2017-12-06 18:34] karthik-hegde commented on #15105
Hello,

Thanks for the info, I updated to v1.4 and `tfdbg` works for me.

However, there seems to be some unsupported features. When I ran with `tfdbg> run -f has_inf_or_nan`, my model diverged with a NaN.

However, I received the following error:

`tensorflow.python.training.basic_session_run_hooks.NanLossDuringTrainingError: NaN loss during training.
Exception ignored in: <bound method LocalCLID

[2017-12-06 18:35] charlie-ruan commented on #14736
yes,   it supports newer version of AMD GPUs, such as GFX8 GPU's (Fiji & Polaris Family) and GFX9 (Vega).  I tried AMD RX 480 and works great !  See link below:

https://github.com/ROCmSoftwarePlatform/hiptensorflow/blob/hip/README.ROCm.md

[2017-12-06 18:37] reedwm commented on #15159
Good idea. The TensorFlow docker images are [here](https://hub.docker.com/r/tensorflow/tensorflow/tags/). The following commands worked for me:

[code]
I ran this on Ubuntu 14.04 and didn't use any AWS credentials. I don't think the host OS matters, but try without the credentials to match what I did.

[2017-12-06 18:39] MtDersvan commented on #12508
@AKhilGarg91 @twksos Thanks for the information, can you open an issue or a PR in the tutorial repo, so we can deal with it there. Also, @twksos it looks like a `r1.4` backward compatibility issue as
[code]
is already in the core library, so technically it should work. Maybe a tf core team can verify this? Or else, a new issue might be needed to be created.
Does `tensorflow.contrib.learn.build_par

[2017-12-06 18:43] gunan commented on #15136
@av8ramit is working on 1.4.1
If we have a fix, we can cherrypick this into 1.4.1
However, the only attempted fix ended up breaking the pip package.
if we have a fix that works for all python versions, I am happy to release it with 1.4.1

[2017-12-06 18:43] gunan commented on #15136
Also CC @yifeif

[2017-12-06 18:44] angersson commented on #15137
The fix has been applied to our internal branch. The next repository sync should bring the fix over to Github.

[2017-12-06 18:50] mumas opened #15162 "tf.data.Dataset.from_generator creates too many threads throwing "thread constructor failed""
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:Adapted an example from documentation
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Mac OS Siera (10.12.6)
- **TensorFlow installed from (source or binary)**:pip install tensorflow
- **TensorFlow version (use command below)**: tensorflow-1.4.0-cp27-cp27m-macos

[2017-12-06 18:51] reedwm commented on #15105
I can reprodce on master with the following program:

[code]

@caisq, can you fix this?

[2017-12-06 18:59] drpngx commented on #15159
Right, I'm guessing it's an auth issue. Some of these things are env variable controlled. The cli also drops files in the home directory. Is it a public bucket?

[2017-12-06 19:00] caisq commented on #15105
Thanks for letting me know. Will fix it soon.

[2017-12-06 19:05] tensorflowbutler commented on #15149
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-06 19:06] tensorflowbutler commented on #15151
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-06 19:06] tensorflowbutler commented on #15153
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-06 19:09] mrry commented on #15162
The problem arises from  calling `Iterator.get_next()` *inside* the loop, which creates a new operation (and, in this case, a new background thread) in each iteration. The following code should not suffer from the same problem:

[code]

[2017-12-06 19:09] #15162 closed

[2017-12-06 19:12] mumas commented on #15162
Makes sense now!

--
Linas

[2017-12-06 19:15] gunan commented on #15131
@sandipmgiri @Nayana-ibm
As we do not have power machines, it is difficult for us to help with these issues.
Should we just redirect these issues to you? Is there a separate IBM support flow these users should follow?

[2017-12-06 19:32] chris-smith-zocdoc commented on #15159
I can confirm official tensorflow docker image works correctly for both public and private buckets.

The below Dockerfile is the smallest repro of the issue. Are there additional dependencies I need to install? Does the pip installation ship with the s3 filesystem?

[code]

[code]

[2017-12-06 19:51] jolespin opened #15165 "LSTM layer in consistent with tf.keras v2.0.8-tf and keras 2.1.2"
It looks like there are some inconsistencies with the output shape of the LSTM layer.

Running the following code does not produce an error in `keras 2.1.2`:
[code]

but produces this error in `keras v2.0.8-tf`:

[code]

If I keep return_sequences = True and remove Flatten() after the LSTM I get the following:

[code]
More on the discussion in https://github.com/uci-cbcl/DanQ/issues/9#issuecomment

[2017-12-06 19:51] Androbin commented on #10296
We could of course run the tests directly as part of the `cmake` build.
But I wonder if a separate test might be good to have.

[2017-12-06 19:54] MtDersvan commented on #14613
@ispirmustafa I can confirm now that using [InitializerHook](https://github.com/tensorflow/tensorflow/issues/14613#issuecomment-347719771) does not fix the behaviour.

[2017-12-06 19:55] znmeb commented on #22
@pfc Is what currently usable on non-Ubuntu Linux? TensorFlow using OpenCL in general? Or TensorFlow using OpenCL on an AMD GPU? I'll assume the latter, since it's the only reason you'd want to run TensorFlow using OpenCL. For an NVidia GPU you'd use the NVidia drivers / libraries and for CPU-only there's nothing to gain from OpenCL.

I had this working a few weeks ago on Arch Linux, using the pro

[2017-12-06 20:03] bensander commented on #22
https://github.com/ROCmSoftwarePlatform/hiptensorflow/tree/hip/rocm_docs is the officially supported way to run tensor flow on AMD hardware.

[2017-12-06 20:11] David-Levinthal commented on #7449
see the same kind of issue on SKX if I use -march=native during configure
ubuntu 16.04 and history output below shows the installation

2004  git clone https://github.com/tensorflow/tensorflow
 2005  cd tensorflow
 2006  git checkout r1.4
 2007  sudo apt-get install openjdk-8-jdk
 2008  sudo echo "deb [arch=amd64] http://storage.googleapis.com/bazel-apt stable jdk1.8" | sudo tee /etc/apt/sources.l

[2017-12-06 20:13] gunan commented on #10296
Sorry, missed this.
I agree with @mrry that this should be a bazel test, as that is our ground truth.
We should add a BUILD file under contrib/cmake, and have a py_test for this in that BUILD file. It will be picked up by our contrib builds automatically.

[2017-12-06 20:16] Androbin commented on #10296
Sorry @gunan, already sent this PR #15166
I will turn it into a bazel test, if you want.

[2017-12-06 20:23] gunan commented on #7449
When you add `-march=native` during configure, it wont automatically get added to your build.
also, `-c` is short for `--compilation_mode`, not `--config`
You will need to modify your build command as follows:
[code]

However, this will almost surely fail because there are known compilation issues with avx512+TF. You may need to debug and fix your build to get it working.

[2017-12-06 20:24] znmeb commented on #22
@bensander Does the ROCm runtime work on Ubuntu 16.04.3? I haven't been able to get it working.

[2017-12-06 20:36] laurentlb commented on #15137
Thanks!

[2017-12-06 20:48] reedwm commented on #15151
This seems like the same issue as #6698. Try some of the advice there. In particular, try making sure no other processes are using the GPU by running `nvidia-smi`.

@mrry, any ideas what the problem could be?

[2017-12-06 20:55] rosecatherinek commented on #11301
Did anyone fix this?

We are getting this error (Blas SGEMM launch failed) while trying to learn word2vec embeddings. The code is pretty much the one in the TF tutorial (https://www.tensorflow.org/tutorials/word2vec). It runs without any problem on a regular GPU machine. However, we are trying to run it in a CodaLab setup (http://codalab.org/). The TF docker image is the official one from https://

[2017-12-06 21:01] sammcj commented on #22
Hmm, I don’t (and wouldn’t) fun Ubuntu anywhere but I do have a CentOS 7 w/ repos and a GTX1080TI in it, running kernel 4.14.x and the latest Nvidia beta driver, so I could help test it out on there at some point today if it helps?

--
Sam McLeod

[2017-12-06 21:07] umangmehta12 commented on #14186
I didn't encounter issues when building for `arm64-v8a`.

[2017-12-06 21:08] AbhiRepository commented on #5036
+1

[2017-12-06 21:12] znmeb commented on #22
@sammcj Why would you run an NVidia GPU with OpenCL when there are perfectly good CUDA libraries for it?

[2017-12-06 21:18] sammcj commented on #22
Just to help test it for you!

No worries if you don’t need a hand testing, just thought I’d offer. I haven’t even tried that machine with cuda TBH, I’ve only tried it on MacOS where I can’t use OpenCL through Docker at the moment.

--
Sam McLeod

[2017-12-06 21:19] Androbin commented on #10296
I added bazel tests as you requested.

[2017-12-06 21:22] pfc commented on #22
@znmeb I was going to try ComputeCpp SYCL however they only provide the ubuntu installer(I am also on arch) and the aur install script is broken.  It is good to hear that it can work.  If I get desperate enough I may try it out.
@bensander That looks like exactly what I need to get ADM support however I am worried by the fact that this code has not been back-ported to TF and that its code was last

[2017-12-06 21:24] znmeb commented on #22
@pfc I got the ComputeCpp SYCL working on Arch - there was a binary tarball on their website when I did it.

[2017-12-06 21:29] mrry commented on #15151
No idea, sorry!

[2017-12-06 21:41] av8ramit commented on #14182
tf-nightly and tf-nightly-gpu now has a python3.6 binary built from scratch for Linux.
1.5.0-dev20171206 and up

This should fix the warning

[2017-12-06 21:56] av8ramit commented on #15126
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-06 21:56] #15126 closed

[2017-12-06 22:01] drpngx commented on #15046
Sounds good. Feel free to send a PR

On Wed, Dec 6, 2017, 9:26 AM ngc92 <notifications@github.com> wrote:

[2017-12-06 22:31] av8ramit commented on #12935
There is now a python binary for tf-nightly and tf-nightly-gpu that is built from python3.6 as of 12/06!

Closing this issue for now. @cmccarthy15 can you please provide more information? What OS and python version are you running?

[2017-12-06 22:31] #12935 closed

[2017-12-06 23:11] tatatodd commented on #14675
@eamartin I agree that name-based op seeding is probably an overall better choice; as you point out, it's more commonly (and easily) controlled by the user.  But I'm unsure whether the benefit is worth the implementation cost - let's discuss the concrete points below.

Ping @ekelsen @alextp @asimshankar to get their input as well.

Assuming for a moment that we wanted to make this change, there ar

[2017-12-06 23:25] WaNePr commented on #14173
The batch_normalization already included the addition of the bias term.
check out this link https://stackoverflow.com/questions/46256747/can-not-use-both-bias-and-batch-normalization-in-convolution-layers.

[2017-12-06 23:49] rezwan16 commented on #15118
I have updated my gcc to 4.8.2. Same compilation error shows up.
A similar error might have been reported [here](https://github.com/tensorflow/models/issues/1261#issuecomment-293288093).

[2017-12-07 00:00] gunan commented on #15108
Looks like I was wrong, the PR I mentioned did not fix this completely. However this is fixed internally.
@caisq when are we planning the next push from internal to github?

[2017-12-07 00:40] xiaoyunwu commented on #13649
why? the http://arxiv.org/abs/1409.2329 says the dropout is only applied to input not state, why can we just do a dropout on the input first?

[2017-12-07 01:03] martinwicke commented on #14698
I just tried with TF 1.4 and Py 3.6.3, and I don't see this failure.

[2017-12-07 01:16] ebrevdo commented on #13649
You're right.  This should be sufficiently easy, by adding new
input_keep_prob and variational_recurrent args to the constructor.  If
someone is interested in adding this, I'm happy to review the PR.

On Wed, Dec 6, 2017 at 4:41 PM, xiaoyun wu <notifications@github.com> wrote:

[2017-12-07 01:25] reedwm commented on #15165
/CC @fchollet, can you look into this?

[2017-12-07 01:34] fchollet commented on #15165
Please print `model.layers[-1].output.get_shape()` after every line of your model definition. Some layer causes a TF-side static shape inference interruption and we'd need to know which one.

[2017-12-07 01:35] xushenkun commented on #15028
@drpngx Could you please explain the meaning of 'count the blanks' more detail. After I used Viterbi with ctc to find the most probable path, which is not the true align path. I think ctc loss just make sure the sum of probs is biggest for all probable paths, but the prob of true align path may be very small among the candidate paths. And we can't get the real align path in fact according to ctc l

[2017-12-07 01:38] caisq commented on #15108
I'll push as soon as the ongoing pull is complete, @gunan

[2017-12-07 01:44] tensorflowbutler commented on #15157
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-07 01:45] tensorflowbutler commented on #15161
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-07 01:45] damienpontifex opened #15171 "[FeatureRequest] Decorator for estimator input_fn"
In the documentation for [Passing input_fn Data to Your Model](https://www.tensorflow.org/get_started/input_fn#passing_input_fn_data_to_your_model) there are a few methods provided for using a function to construct input data and then wrapping that to get a function object. The documentation suggests `functools.partial` or `lambda`.

Would it be possible to provide a python decorator (maybe under

[2017-12-07 01:51] WenmuZhou commented on #15057
@ebrevdo how  can I install the tensorflow nightly

[2017-12-07 01:52] lion-wang opened #15172 "Linking of rule '//tensorflow/python:_pywrap_tensorflow_internal.so' failed"
ERROR: /Users/lion/Documents/opensoft/tensorflow/tensorflow/python/BUILD:2749:1: Linking of rule '//tensorflow/python:_pywrap_tensorflow_internal.so' failed: link_dynamic_library.sh failed: error executing command external/bazel_tools/tools/cpp/link_dynamic_library.sh no ignored ignored ignored external/local_config_cuda/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc -shared -o ... (remai

[2017-12-07 01:53] WenmuZhou commented on #14942
@ispirmustafa the output is a None dict
[code]

[2017-12-07 02:01] rezwan16 commented on #15032
The issue is related to a new feature request (added option to deal with ties in _in_top_k_ op). Is the feature requested in  #10767  part of the latest tensorflow? I cloned the latest tensorflow version from github and could not find the change. Just wondering if anyone has implemented the [changes](https://github.com/nolanliou/tensorflow/commit/681724f94e025bbd8377c5406eec4047d58fc31b) done by @

[2017-12-07 02:22] secsilm commented on #15115
@reedwm Thank you for your detailed explanation. I got the idea.

[2017-12-07 02:23] reedwm commented on #11812
@rosecatherinek I am not sure what CodaLab is or how it works, but I doubt it's `fork()`ing the TensorFlow so this seems like a different issue.

From the logs, I see the line
[code]

This seems to indicate TensorFlow cannot initialize cuBLAS within the codalab docker container. Maybe try asking for support from the codalab authors? This is difficult to debug for us since we do not use codalab.

@

[2017-12-07 02:27] JackShen2015 commented on #15108
I tried to build it, but it seems that the issue still exist

[2017-12-07 02:32] PeanutMonkey commented on #5120
I believe that he was referring to the tutorial:
https://github.com/Hvass-Labs/TensorFlow-Tutorials/blob/master/cifar10.py

I'm having the same problem unfortunately. When calling

`maybe_download_and_extract()`

I get

`module 'download' has no attribute 'maybe_download_and_extract'`

(I downloaded "download" through pip install)
Is there a way around this? Thanks!

[2017-12-07 02:47] zh794390558 commented on #10479
I have encountered this same problem in T2T.

[2017-12-07 03:05] haiy commented on #7823
+1

[2017-12-07 03:09] zuokai commented on #15149
Have I written custom code      yes
OS Platform and Distribution    centos6.5
TensorFlow installed from         anaconda
TensorFlow version                    1.4 train & 1.1 test
Bazel version                               n/a
CUDA/cuDNN version                 5.0
GPU model and memory             p40，4kernels
Exact command to reproduce     n/a

[2017-12-07 04:04] SystemErrorWang opened #15175 "Got "Attempting to use uninitialized value" error after variable initalization"
I am working on windows 10, Python 3.6 and tensorflow 1.4.0. I tested the code on two laptops, one with gpu and another without, both of them had this problem.

This is my code:

`def network(self, net_input):
        dense1 = tf.layers.dense(net_input, 64)
        norm1 = tf.contrib.layers.batch_norm(dense1)
        relu1 = tf.nn.relu(norm1)
        dense2 = tf.layers.dense(relu1, 32)
        nor

[2017-12-07 04:09] sobhannp commented on #3971
You need to call tf.initialize_local_variables().run() AFTER you call tf.contrib.metrics.streaming_auc() and BEFORE you call a session.run().

I hope it helps.

[2017-12-07 04:10] mrry commented on #15175
I think the problem is that your code has

[code]

...before you build the network in this line:

[code]

You must create the initializers and run them *after* you build the network, because building the network creates the variables that you need to initialize.

[2017-12-07 04:10] #15175 closed

[2017-12-07 04:33] gauss-clb commented on #15156
@drpngx I have tried, but also get the same result, a little difference between different running.

[2017-12-07 04:45] castleguarders commented on #15108
FYI, Issue still there in case the push already happened.

[2017-12-07 05:03] caisq commented on #15108
The push is open in PR https://github.com/tensorflow/tensorflow/pull/15174, awaiting approval.

[2017-12-07 05:04] himsikha123 commented on #15144
Have I written custom code: N/A
OS Platform and Distribution: UBUNTU 16.04LTS
TensorFlow installed from:  https://www.tensorflow.org/install/install_linux
                                           https://www.tensorflow.org/install/install_linux#InstallingVirtualenv
CUDA/cuDNN version : N/A
GPU model and memory: N/A
Exact command to reproduce:
 1.https://codelabs.developers.google.com/codelabs/te

[2017-12-07 05:05] himsikha123 commented on #15144
After running the 2nd command ,i got error as:
tensorflow.python.framework.errors_impl.NotFoundError: /u/tensorflow-master/bazel-bin/tensorflow/python/tools/freeze_graph.runfiles/org_tensorflow/tensorflow/contrib/data/python/ops/../../_prefetching_ops.so: undefined symbol: _ZN6google8protobuf8internal26fixed_address_empty_stringB5cxx11E

[2017-12-07 05:08] himsikha123 commented on #15144
Please let me know if you want any other information to solved the problem.

[2017-12-07 05:13] #12736 closed

[2017-12-07 05:13] #14143 closed

[2017-12-07 05:13] #14711 closed

[2017-12-07 05:13] #15019 closed

[2017-12-07 05:13] #15152 closed

[2017-12-07 05:18] SnShine commented on #15128
Thanks for clarifying. I'm running r1.4 and the above-mentioned commit https://github.com/tensorflow/tensorflow/commit/9fe7c29605a5ee1519cceba8e67a6d8413444fac.

I'm closing this as there is no way to configure this. But can I know the reason why it's like that? Or can I open another issue as a feature request?

[2017-12-07 05:18] #15128 closed

[2017-12-07 05:50] PALYGAP commented on #22
In this news about the release of SYCL 1.2.1
https://www.roboticstomorrow.com/news/2017/12/06/the-khronos-group-releases-finalized-sycl-121-/11107/
it says :
 **_The new specification incorporates significant experience gained from three separate implementations and feedback from developers of machine learning frameworks such as TensorFlow, which now supports SYCL alongside the original CUDA accel

[2017-12-07 05:52] ukoxyz commented on #15124
Hi David, thanks for reporting this issue. We have committed a workaround to disable bfloat16 tests for unknown backends by default:
https://github.com/tensorflow/tensorflow/commit/557e0ce1ca949abb0ffdcccc6ab0480e65ea9fe1

[2017-12-07 05:57] sandipmgiri commented on #12325
Fixed in PR #15147

[2017-12-07 05:59] #12325 closed

[2017-12-07 06:04] warriorZH commented on #14215
Hi @eli99999 i have generated ops_to_register.h by using tensorflow/python/tools/print_selective_registration_header.py. And then copy it into "tensorflow/core/framework/", and after bazel build the libtensorflow_inference.so also changed.
But my error log is still appear.

error log:
E/native: executor.cc:643 Executor failed to create kernel. Not found: No registered 'ListDiff' OpKernel for CPU d

[2017-12-07 06:21] ZhimingZhou commented on #12598
I have exactly the same problem.

Any idea on how to solve/avoid this?

A related issues [4920](https://github.com/tensorflow/tensorflow/issues/4920).

[2017-12-07 06:23] goodmangu commented on #12052
Sure, this one: tf_nightly_gpu-1.head-cp27-none-linux_x86_64.whl

[2017-12-07 06:36] znmeb commented on #22
"Easily" in the sense that some low-level software / drivers / libraries for the AMD hardware is where most of the broken stuff is, not in the hardware or TensorFlow or the OpenCL standards or SYCL. ;-) If you've got working AMD GPU drivers and working OpenCL libraries you've got TensorFlow on AMD GPUs.

[2017-12-07 07:15] facaiy commented on #13649
@ebrevdo Do you mean to implement dropout in `LSTMBlockFusedCell`, rather than make `DropoutWrapper` supports `LSTMBlockFusedCell`, right?

[2017-12-07 07:32] EVA-wu commented on #15151
Thank you for your replies so quickly ! It's OK when i restart the computer.

[2017-12-07 07:43] WayneWang12 commented on #14620
@drpngx Hi, I'm following this:
[code]
This solved my problem on ubuntu. As for mac os, I suggest you to try instructions on this document: https://www.tensorflow.org/extend/adding_an_op . Below there is some for mac os.

[2017-12-07 07:56] shrimalmadhur commented on #7072
Hello, the solution by @shingte doesn't solves this problem for me. Any more ideas on what to do?

I am seeing
2017-12-06 23:54:30.748791: E C:\tf_jenkins\home\workspace\rel-win\M\windows-gpu\PY\35\tensorflow\stream_executor\cuda\cuda_blas.cc:366] failed to create cublas handle: CUBLAS_STATUS_ALLOC_FAILED
2017-12-06 23:54:30.751041: E C:\tf_jenkins\home\workspace\rel-win\M\windows-gpu\PY\35\tensor

[2017-12-07 08:23] zond opened #15178 "Dataset.from_generator doesn't play nice with feature_column.categorical_column_with_vocabulary_list"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux 4.4.0-98-generic #121~14.04.1-Ubuntu SMP Wed Oct 11 11:54:55 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)

[2017-12-07 08:25] dengyuning commented on #11148
check this [official code for tfdebug](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/debug/examples/debug_mnist.py).maybe you should use `sess = tf_debug.LocalCLIDebugWrapperSession(sess)` after you have initialized all the variables.

[2017-12-07 08:44] namrata-ibm opened #15179 "Failure in LMDBReaderTest while reading testdata"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: s390x Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: v1.4.0
- **Python version**: 2.7.12
- **Bazel version (if compiling from source

[2017-12-07 09:23] satendrapratap commented on #14698
Did you get the error (using rnn_tc.txt)  with TF 1.3 and Py3 and did not get that error with TF 1.4 and Py 3.6.3 ?? Is this what you are saying?

[2017-12-07 09:29] shahinkl opened #15180 "More simpler examples of using dataflow_ops.StagingArea"
### Describe the problem
Getting the below error when using StagingArea.
`ValueError: Fetch argument <tf.Operation 'group_deps' type=NoOp> cannot be interpreted as a Tensor. (Operation name: "group_deps"
op: "NoOp"`

The error happens only after completing a few 100 steps. It would be a great help if someone can place simpler examples of proper usage of StagingArea

### Source code / logs
`compute

[2017-12-07 09:30] fedden commented on #15134
I was talking to a friend about this and he tested a bunch of prominent FFT libraries such as FFTW, and he noted that the output was different for those. So maybe its to be expected across implementations. Just wanted to let you know at any rate.

[2017-12-07 09:36] lgrcyanny commented on #14689
came with the same issue:
conda remove protobuf
pip install tensorflow=1.4.0
pip install protobuf==3.4.0
pip install protobuf==3.5.0.post1
python -c "import tensorflow"
thanks @gokceneraslan and @TarrySingh

[2017-12-07 09:57] eeilon79 commented on #12052
Still no Windows 10 support for Cuda 9.0 + cuDNN 7.0? Just verifying.

[2017-12-07 09:58] euntaik commented on #15144
I think this might be a protobuf version problem. protobuf 3.5.0.post1 works fine.

[2017-12-07 10:15] OakSuen commented on #6923
I have the same question as yours.

[2017-12-07 10:26] zihuaweng commented on #10618
I got the same error in 1.2 version when using multiple GPUs.
Update to 1.4 then everything works fine.

[2017-12-07 10:26] xialeiliu commented on #13803
I found second answer is convenient to pass the variables needed to optimizer. Sorry for the late reply.

[2017-12-07 10:26] #13803 closed

[2017-12-07 10:32] zihuaweng commented on #8898
Download the cudnn6 and extract it into lib64 file path, in my case: /usr/local/cuda-8.0/lib64
Ensure that you append the lib64 file path (/usr/local/cuda-8.0/lib64) to the LD_LIBRARY_PATH environment variable

[2017-12-07 10:40] sandipmgiri commented on #8945
This GitHub issue was created for 12 test failures , now all got resolved for me. Please find the details below (currently I am working on TF1.3.1 ):

**1     //tensorflow/compiler/tests:binary_ops_test_cpu**

This test was failing with the error : `nan vs expected inf.`
I ran sample code using inputs equivalent to ones used in the test case and using tensorflow "realdiv" API :

[code]

This is pr

[2017-12-07 10:40] #8945 closed

[2017-12-07 11:12] SarshesJ commented on #12951
So, any progress? i have similar errors when compiling tensorflow v1.4.0.

`/opt/rh/devtoolset-6/root/usr/bin/gcc -o bazel-out/host/bin/tensorflow/python/gen_lookup_ops_py_wrappers_cc '-Wl,-rpath,$ORIGIN/../../_solib_k8/_U_S_Stensorflow_Spython_Cgen_Ulookup_Uops_Upy_Uwrappers_Ucc___Utensorflow' '-Wl,-rpath,$ORIGIN/../../_solib_k8/_U_S_Sthird_Uparty_Smkl_Cintel_Ubinary_Ublob___Uexternal_Smkl_Slib'

[2017-12-07 12:30] facaiy commented on #15171
Looks concise, however I'd prefer to use lambda, which might be straightforward enough.

[2017-12-07 12:37] himsikha123 commented on #15144
Please someone guide me how can i convert my retrained model (.pb file) into .tflite format so that i can run on the  android device.

[2017-12-07 12:44] zhang13850588961 commented on #15122
@andrehentz  It's work for me,very thanks for your help.

[2017-12-07 12:47] facaiy commented on #15157
Hi, I am not familiar with gan estimator, however many function support dict in tensorflow. Could dict solve the problem?

[2017-12-07 12:59] maxfiedler commented on #15158
Okay.
Personally, I don't think that will offer enough flexibility. What if you need to implement Faster R-CNN style alternative training schedules, where you first train only the RPN and then the classifier Head.
If you use e.g. a LoggingTensorHook in this setting and tell it to log Tensors both from RPN and the Head, then you will produce an error while training only RPN for the first time as Te

[2017-12-07 13:01] maxfiedler commented on #15158
Why not at least implement a simple switch with which you can signal that a specific session.run should NOT trigger the hooks?
i.e. `MonitoredSession.run(..., trigger_hooks=False)` (default=True)

[2017-12-07 13:31] smitshilu commented on #12052
@goodmangu I tried with 1.4 but OSX 10.13 and CUDA 9 cuDNN 7. You can find steps [here](https://gist.github.com/smitshilu/53cf9ff0fd6cdb64cca69a7e2827ed0f)

[2017-12-07 13:34] tensorflowbutler commented on #15171
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version

[2017-12-07 13:34] tensorflowbutler commented on #15172
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-07 13:44] clockzhong commented on #8388
amanbeniwal,

It seems your issue relates to https protocal, can you make some debgging work in you environment, and if confirm it's a issue in tensorflow, and then report it as another new bug here? This bug's root cause is located to the wrong downloading  URL in tensorflow source tree, and they already fixed it, and it's closed.
And it seems your issue relates to the SSL&HTTPS, it should be a n

[2017-12-07 13:47] blappm commented on #15145
I see the same problem with Tensorflow 1.4 and Python 3.6 (Anaconda), trying to build the CPU version.

bazel build --verbose_failures --copt=-mavx --copt=-mfma --copt=-msse4.2 --copt=-msse4.1

Interestingly building the GPU version with Python 3.6 works, and building the CPU/GPU version with python 2.7.11 works too.

[2017-12-07 14:01] PALYGAP commented on #22
I am a bit surprise by what you said " If you've got working AMD GPU drivers and working OpenCL libraries you've got TensorFlow on AMD GPUs". I had understood that TensorFlow "Official" version was not running on OpenCL (CUDA only). Seems I got confused.
I was quite happy to find the PlaidML project that at least allow for some Keras code to run on my iMac with AMD Redeon HD 6970. (https://groups.

[2017-12-07 14:14] smsrikanthreddy commented on #14358
Thanks @ThomasColthurst and @drpngx ,
After upgrading tensorflow version from 1.3 to 1.4,  issue got resolved.

[2017-12-07 14:14] #14358 closed

[2017-12-07 14:23] tasx0823 commented on #7469
When you use slim.batch_norm,be sure to use "slim.learning.create_train_op" instead of "tf.train.GradientDecentOptimizer(lr).minimize(loss)" or other optimizer. Try it to see if it works!

[2017-12-07 14:25] tasx0823 commented on #1122
When you use slim.batch_norm,be sure to use "slim.learning.create_train_op" instead of "tf.train.GradientDecentOptimizer(lr).minimize(loss)" or other optimizer. Try it to see if it works!

[2017-12-07 15:25] MarkDaoust commented on #14620
Thanks @WayneWang12. So the fix is documented already, and people keep missing the instructions? Anyone have good ideas on where we should add links to these instructions so people are more likely to find them?

[2017-12-07 15:29] alextp commented on #14788
Fixed by #15069

[2017-12-07 15:29] #14788 closed

[2017-12-07 15:41] edelsohn commented on #11603
max on Power currently uses the vec_max intrinsic, which maps to xsmaxsp instruction.  It appears that TensorFlow and Eigen want the "c" version of the instruction, xsmaxcsp.  There currently is no compiler intrinsic to access that version, but one can use GCC or LLVM inline assembly to generate xsmaxcsp instead of xsmaxsp.

[2017-12-07 15:43] edelsohn commented on #11603
Note that xsmaxcsp (and xsmaxjsp) are new in Power ISA 3.0 (Power9).

[2017-12-07 16:43] martinwicke commented on #14698
I did not get the error (using your repro `python -c "import tensorflow as tf; tf.contrib.learn.datasets.load_dataset('dbpedia', size='full')"`) in TensorFlow 1.4, Python 3.6.3.

[2017-12-07 16:46] facaiy commented on #15049
Could you give more details about your code and log? AFAIK, OneHot[T=DT_FLOAT, TI=DT_INT32] kernel is registered for GPU.

[2017-12-07 16:57] joel-shor commented on #15157
@facaiy made the point I wanted to make: TFGAN already supports dictionaries. Could you just use the namedtuple `_asdict()` function for the duration of the GANEstimator? I'm also happy to have you add support for nametuples in `_convert_tensor_or_l_or_d`, which I think would also fix your issue?

[2017-12-07 16:58] mghildiy commented on #14884
Hi,

I trained ssd mobilenet model. When I use the trained model fo rinferecne on ain image, I get error as:

ValueError: cannot reshape array of size X into shape (a,b,c)
X,a,b,c are different values for different test images.

SO link is:
https://stackoverflow.com/questions/47699181/tensorflow-object-detectionvalueerror-cannot-reshape-array

Please help me here.

[2017-12-07 17:05] bringtree commented on #15079
and I find it maybe will have a problem in tf.nn.sampled_softmax_loss.  The tf.nn.sampled_softmax_loss 's labels sum maybe will not be 1(I guess). @facaiy

[2017-12-07 17:14] mghildiy commented on #14884
Issue is solved. My image has 4 channels, while program expects image with 3 channel.

[2017-12-07 17:18] sujitpoudel123 commented on #14186
@keyongyu That brings to about 50 different
`error: invalid argument '-std=c++11' not allowed with 'C/ObjC'`

[2017-12-07 17:20] bringtree commented on #15079
I guess maybe it will have a problem when we use the tf.nn.sampled_softmax_loss.
I can't be sure that  tf.nn.sampled_softmax_loss will choose the labels can be add up to 1 in future.
Though tf.nn.sampled_softmax_loss often is used to the word2vec, and In word2vec the tf.nn.sampled_softmax_loss's label sum will be 1.

[2017-12-07 17:30] drpngx commented on #14566
Sounds good. Do you want to send a PR?

[2017-12-07 17:32] drpngx commented on #14584
Have you thought about using the `dataset` API? That would be our preferred solution. Queues are a little bit harder to diagnose without taking a deeper look.

[2017-12-07 17:35] drpngx commented on #15032
Right, implementing a new feature is also a kind of usage question. It's best to share your experience so we can build the knowledge base on stackoverflow..

[2017-12-07 17:35] #15032 closed

[2017-12-07 17:35] ppwwyyxx commented on #14566
@kweisamx You can clip by a tensor which changes with the steps. Why do you think the clipping value __has to be__ fixed at the beginning?

[2017-12-07 17:44] drpngx commented on #14772
OK, it looks like it's a problem in the TFRecordReader. I glanced at the code of the reader itself and it seems fine. Would you mind putting a few `LOG(INFO)` statements to see if the lock reset code gets called, and if not, why?

[2017-12-07 17:57] Utumno commented on #14772
Thanks for the response @drpngx - where should I add those statements ?

[2017-12-07 18:03] drpngx commented on #14772
I would start here:
https://github.com/tensorflow/tensorflow/blob/b07791f6e9b306937eb58f7bb6c3300cd26583af/tensorflow/core/kernels/tf_record_reader_op.cc#L47

[2017-12-07 18:05] drpngx commented on #15156
@sguada is there anything special here?

[2017-12-07 18:08] lordadamson opened #15188 "error: 'isnan' was not declared in this scope"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: Master branch commit: `4ad12049`
- **Python version**: N/A
- **Bazel version (if comp

[2017-12-07 18:09] lordadamson commented on #15188
I think replacing `isnan(v)` with `std::isnan(v)` solves the problem.

[2017-12-07 18:11] Utumno commented on #14772
This means I will have to recompile tf - I have no time for this now, hopefully soon

[2017-12-07 18:22] drpngx commented on #14772
SG
/CC @josh11b

[2017-12-07 18:22] reedwm commented on #15171
@martinwicke what do you think of this proposal?

[2017-12-07 18:28] reedwm commented on #15179
/CC @rmlarsen do you know if you can fix this despite not having access to a big endian system?

/CC @sandipmgiri @Nayana-ibm can you help us fix this?

[2017-12-07 18:38] gunan commented on #12052
@eeilon79 there is an nvcc bug on windows that prevent us frombuilding binaries. We are getting help from nvidia to fix those issues.

[2017-12-07 18:39] jolespin commented on #15165
[code]

[2017-12-07 18:40] martinwicke commented on #15171
[unrelated] @av8ramit: Can you look into the template checking and make sure there's a good way to create feature requests? Maybe a field in the template itself, or checking the description for "feature request" or "FR"?

@ispirmustafa wdyt?

[2017-12-07 18:45] mrry commented on #15178
It looks like the problem stems from `feature_column.categorical_column_with_vocabulary_list()` requiring a defined rank for its input. By default `Dataset.from_generator()` does not know anything about the shapes of the tensors that it generates, but you can work around this by passing `output_shapes` when you create it. The following input function worked for me:

[code]

[2017-12-07 18:48] reedwm commented on #15087
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-07 18:48] #15087 closed

[2017-12-07 18:58] dsdelhi commented on #12022
@justinshapiro: Are you able to resolve it now? Any temporary wayout?

[2017-12-07 19:03] reedwm commented on #14601
This only occurs on the CPU, not the GPU. The fact the CPU and GPU results differ is a serious issue.

/CC @yzhwang @rmlarsen

[2017-12-07 19:07] thunterdb opened #15190 "S3 reads eventually fail with tensorflow's dataset API"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04.3 LTS
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.4.0-rc1-11-g130a514
- **Python version**: Python 2.7.12
- **Bazel version (if com

[2017-12-07 19:10] thunterdb commented on #15190
cc @smurching

[2017-12-07 19:11] mrry commented on #15190
I suspect the problem is this line:

[code]

`iterator.get_next()` creates a new op each time it's called, and this op happens to be an especially heavyweight one that owns a thread, so calling it in a loop will eventually cause a resource leak. The fix is  simple, and we'll shortly start printing a warning message to advise users to do it when we detect this situation:

[code]

[2017-12-07 19:17] thunterdb commented on #15190
@mrry thanks for the response, I am going to give it a try and get back to you.

[2017-12-07 19:24] ispirmustafa commented on #15171
we do check the arguments of given `input_fn` within Estimator. `tf_data_input_fn` uses *args, **kwargs which eliminates the check.

[2017-12-07 19:27] thunterdb commented on #15190
By the way, one suggestion I would have for the documentation of `get_next` is emphasize that calling the resulting op repeatedly is going to return sequential batches of data. From the documentation at [1] and from most iterator interfaces (java, c++), the convention assumes that you would have to call `get_next` to fetch a new batch.

[1] https://www.tensorflow.org/versions/master/api_docs/pytho

[2017-12-07 19:37] tensorflowbutler commented on #15180
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-07 19:55] frankiecancino commented on #14948
I'm also getting the same error with a pip install of the tf_nightly.whl on a similar, but separate environment (CentOS7). With error 'Failed to load the native TensorFlow runtime.'

[2017-12-07 20:06] znmeb commented on #22
@PALYGAP I don't think VirtualBox exports OpenCL from a Mac host into a Linux guest, and Ubuntu 16.04.3 doesn't work right now. I don't have a Mac so I don't have any way of testing things.

[2017-12-07 21:03] isaprykin commented on #15158
Hi!

Would [after_create_session()](https://github.com/tensorflow/tensorflow/blob/r1.4/tensorflow/python/training/session_run_hook.py#L115) work for something that you want to run only once?

What are those "auxiliary session.run() calls" that you are talking about?  [The relevant queues that I can think of are given](https://github.com/tensorflow/tensorflow/blob/r1.4/tensorflow/python/training/mo

[2017-12-07 21:28] bowang commented on #15179
@namrata-ibm `data.mdb` is very simple and generated with LMDB's python interface.
It contains ten entries as below:
[code]

[2017-12-07 21:49] augustkx commented on #1501
Hi, I am using Ubuntu14.04 with pycharm , but the  environment variables setting didn't work for me.

Weird is that I can run it in a terminal, but not in pycharm.

[2017-12-07 22:21] alextp commented on #15148
The shape of the tf.add(...) tensor returned from the body seems to be confusing / not invariant. Do instead x = tf.add(...); x.set_shape(...); return index+1, x in your body and it should work.

[2017-12-07 22:32] sujitpoudel123 commented on #14186
I was basically able to remove the error after removing a particular nsync build folder corresponding to the architecture I was trying to build. For example, I had problem with armeabi and so, I removed `./tensorflow/contrib/makefile/downloads/nsync/builds/armeabi.android.c++11` folder and it built fine after that for that arch

[2017-12-07 22:34] panyx0718 commented on #14957
Nice catch. I got a fix to add memory tracking for loop, will submit it soon.
Note: it only works for GPU now so you need to place it on gpu.

![image](https://user-images.githubusercontent.com/2887803/33742078-a0e74c9c-db5b-11e7-9270-96eba4cd992e.png)

[2017-12-07 23:08] satyajit123A commented on #6996
![image](https://user-images.githubusercontent.com/28672917/33743150-9c345430-dbd1-11e7-949a-537fea76f918.png)
getting this error how to solve please help

[2017-12-07 23:09] sadlerjw commented on #14605
@apollo-time @llyyun I'm having trouble too - I tried adding `-lnsync.a` (since I include `nsync.a` in the project), and also tried including it directly via `-l~/tensorflow/tensorflow/contrib/makefile/downloads/nsync/builds/lipo.ios.c++11/nsync.a` but I still get
[code]

Could you please be more specific about how to add this to the linker flags? (I'm not good with wrangling the compiler, sorry)

[2017-12-07 23:24] nave01314 commented on #6996
@satyajit123A That is deprecated. For more information, see https://github.com/tensorflow/nmt for an up-to-date explanation.

[2017-12-07 23:39] yaroslavvb commented on #14957
drive-by comment, some scripts to parse out peak memory from run_metadata are [here](https://github.com/yaroslavvb/chain_constant_memory/blob/master/mem_util_test.py)

[2017-12-07 23:46] usul83 commented on #14226
perhaps an argument for tf.image.resize_images to tell it the number of dimensions would work? or a 3D option for the other functions. I think this is an issue for mapping with datasets as the image processing functions accept a mixture of 4D and 3D tensors so hard to combine. @girving was looking at this topic in a prior thread

[2017-12-07 23:51] mrry commented on #13766
Lots of progress, in fact! If you upgrade to the nightly build, `tf.SparseTensor` is now usable wherever `tf.Tensor` is in all core `Dataset` operations including `Dataset.from_tensors()`, `Dataset.from_tensor_slices()`, `Dataset.map()`, and `Dataset.batch()`. The `tf.parse_single_example()` and `tf.parse_example()` operations work as normal with sparse and variable-length features.

Thanks for re

[2017-12-07 23:51] #13766 closed

[2017-12-07 23:54] damienpontifex commented on #15171
Correct me if I'm wrong, but the given `input_fn` with the decorator is the same as that if you use `functools.partial` directly as suggested in the docs?

Something like `functools.partial(<function my_input_fn at 0x11b078d90>, data_set=[])`

[2017-12-07 23:55] reedwm commented on #15149
Closing, since this appears to be a duplicate of tensorflow/models#2977.

[2017-12-07 23:55] #15149 closed

[2017-12-08 00:35] bhack commented on #12888
http://onnx.ai/news#article16

[2017-12-08 00:37] bhack commented on #12888
Seems a little bit marginal as a PR announcement.

[2017-12-08 01:08] #15188 closed

[2017-12-08 01:14] powderluv opened #15196 "[XLA] OSX tfcompile compile failure in ../llvm_ir/kernel_support_library.cc"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: OSX 10.13.2
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: Top of Master (34bcd09c5fd4f6435517a499987b7e5044c8f2c0)
- **Python version**:
- **Bazel ver

[2017-12-08 01:40] EVA-wu commented on #15151
After that i think i should introduce this solve in detail ,
if you  encounter
"An error ocurred while starting the kernel
cc:366  failed to create cublas handle: CUBLAS_STATUS_NOT_INITALIZED
cc:4637 stream 000000000F5CB190 did not memcpy host-to-device; sorce:0000000204C00900
cc306 Error recording event in stream:error recording CUDA event on stream 0000000008C4220:
CUDA_ERROR_OUT_OF_MEMORY; not

[2017-12-08 01:40] #15151 closed

[2017-12-08 01:58] luizcalaca commented on #12416
@wei-yuan Your post works for me! Thanks!

[2017-12-08 02:32] rezwan16 commented on #15032
I have asked the question [here](https://stackoverflow.com/questions/47706810/dealing-with-ties-in-in-top-k-op-of-tensorflow) in StackOverflow.

[2017-12-08 02:32] stecklin opened #15198 "Missing documentation for using the Dataset API in combination with image summaries"
The `Dataset` API is now the recommended input pipeline, however I am missing some guidance on how to include summaries of my images.

[code]

This is what I would do intuitively, but since `map()` uses a different thread and therefore a different `tf.Graph` instance (?), the summaries are lost.

What is the recommended way of adding image summaries when using the `Dataset` API? I would like to re

[2017-12-08 02:55] ad26kt opened #15199 "missing instruction for BahdanauAttention"
This is just my opinion:
when call BahdanauAttention instance , it create a variable scope with None name_or_scope variable.
While name_or_scope is None, and get_variable with the same name inside the variable scope repeatedly, it will automatically add '_N' to the name of the scope. And I think it is not compatible with some functions like stati_rnn, because there are explicit 'for loop' inside t

[2017-12-08 03:11] bfan1256 commented on #12052
Is there any update for CUDA 9 in the Tensorflow Nightly Version (1.5-dev) under the `tf-nightly-gpu` pip package?

[2017-12-08 03:15] bfan1256 commented on #14622
Does this work with the new nightly builds? It doesn't seem to work with the `tf-nightly-gpu`

[2017-12-08 04:44] adwaye commented on #15148
@drpngx got some updates on https://stackoverflow.com/questions/47646962/tensorflow-function-defun-with-a-a-while-loop-in-the-body-is-throwing-shape-err/47707845#47707845
Still have the issue of global N though.

[2017-12-08 04:55] rezwan16 commented on #15129
I am also facing same issue here when I try to build Tensorflow for CPU from source.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Red Hat Enterprise Linux Server release 6.9 (Santiago)
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: master branch the latest version
- **Python version**: 2.7.13
- **Bazel version (if compilin

[2017-12-08 05:24] goodmangu commented on #12052
Thanks @smitshilu .

[2017-12-08 05:25] caisq commented on #14993
@zh794390558 @reset I tested the nmt model with tfdbg on a GPU machine
* GeForce GTX 1050 Ti 4GB
* Ubuntu 16.04
* tf-nightly-gpu version: 1.5.0-dev20171206. (This is close to HEAD, installed with `pip install tf-nightly-gpu`)

The code I used to activate tfdbg is at: https://github.com/caisq/nmt/commit/a0591f3b7650f1be0d16ac681ec5df0686daaf65

I couldn't reproduce the error. I ran a few training i

[2017-12-08 05:44] kweisamx commented on #14566
@ppwwyyxx yep, that i have tried, but the clipping not changing by step,

[2017-12-08 06:02] sandipmgiri commented on #15179
We had not observed this test failure on ppc64le.

[code]

Please note we had executed the test for Tensorflow v1.3.1.

[2017-12-08 06:08] resec commented on #14993
@caisq tensorflow version maybe? both @zh794390558 and I are working on tf 1.4.0. I installed it with `pip` directly. maybe you can give it a try.

[2017-12-08 06:20] facaiy commented on #15165
For keras, I think it uses its `_keras_shape`, which is more smart for lstm layer.

[code]

[2017-12-08 06:21] PumayHui opened #15203 "DataLossError : Checksum does not match"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:windows 7 professional,64bit
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use command below)**:1.3.0
- **Python version**: 3.6.2
- **Bazel version (if compiling from source

[2017-12-08 06:25] w19787 commented on #14779
Thanks @chjshan. Installing setuptools worked for me too.

[2017-12-08 06:34] huoyushi opened #15204 "compile error with config sycl"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:source
- **TensorFlow version (use command below)**:1.4,the latest version I git from tensorflow
- **Python version

[2017-12-08 06:45] maxfiedler commented on #15158
As an example, in our old input pipeline, we needed to evaluate the current size of the RandomShuffleQueues several times within the session block, in order to efficiently be able to switch between training and validation queues. For these evaluations we needed three separate session.run(rsq.size) calls, that evaluated nothing else and that always triggered all hooks, even though nothing in the we

[2017-12-08 06:46] drewszurko commented on #14273
Thanks @SteffenNa

For anyone else, the "macOS Sierra" build worked on my macOS High Sierra 10.13.1

[2017-12-08 06:59] maxfiedler commented on #15158
As for the problem with creating the string_handles for the feedable iterator, after_create_session could be used to solve it, I guess but then I would have to create an extra hook just for that, that would also make the code much harder to read.
I am not a great fan of hiding away simple logical algorithmic steps in convoluted constructs. I should be able to recognize all essential steps of the g

[2017-12-08 07:05] ebrevdo commented on #6996
DaoD, try using word pieces instead. The vocabulary is smaller and unks
much more rare, possibly no longer even necessary.

On Thu, Dec 7, 2017, 3:25 PM nave01314 <notifications@github.com> wrote:

[2017-12-08 07:10] XiaoSX commented on #14610
@Sixigma ,hi, i am using intel machine, too. I have tried the command above, but there is still something wrong. It looks like some run-time cpp files, showed  lines "from StringIO import StringIO" , py3 has no that module, but could not be edited.

[2017-12-08 07:27] gunan commented on #12052
OK, the PR is just merged.
In about 10-12 hours our new nightlies should be built with cuda9, except for windows.
On windows, we are still  blocked by an NVCC bug.

[2017-12-08 07:59] zond commented on #15178
Ah, good workaround, thanks!

[2017-12-08 08:27] cipri-tom commented on #15057
@WenmuZhou you can use the docker images with "nightly-" from here: https://hub.docker.com/r/tensorflow/tensorflow/tags//

[2017-12-08 08:41] zotroneneis commented on #15150
I can provide all code and a table with validation and test perplexities of all models that I trained if that helps. I've trained >30 models with different dropout values.

[2017-12-08 08:50] marcoadurno commented on #15198
Hi,

afaik you can run the summary, but only after you created the iterator and fetched the next element:
[code]

[2017-12-08 09:03] stecklin opened #15206 "Unusual memory allocation while running "tf.assign""
### System information
- **Have I written custom code**: Yes
- **OS Platform and Distribution**: Linux Ubuntu 16.04
- **TensorFlow installed from**: binary
- **TensorFlow version**: 1.4.0
- **Python version**: 2.7
- **Bazel version**: 0.8.1
- **CUDA/cuDNN version**: 8.0.61 / 6.0.21
- **GPU model and memory**: Tesla K80
- **Exact command to reproduce**: run the script attached below

### Describe t

[2017-12-08 09:24] joyspark commented on #12673
I have the same issue.
fancyerii, did you solved this problem?
My python code is in
https://github.com/joyspark/TensorFlow/blob/master/simpleRegression.py
and java code
https://github.com/joyspark/TensorFlow/blob/master/loadPythonModel.java

[2017-12-08 09:51] stecklin commented on #15198
@marcoadurno That's true, but it comes with a drawback. Assume the training loop looks like this:

[code]

This will invoke the iterator's `get_next` twice, once you run `t_example` and once you request the summary since you introduced a dependency.

[2017-12-08 10:01] ferreirafabio commented on #15040
@mrry

[2017-12-08 10:05] NicholaiStaalung commented on #14107
Im facing the same resource exhausted error when running predictions on validation and test sets (changing batch size doesnt affect the outcome). The same script worked flawlessly (But slowly) when i ran on the CPU. The problem occured when i compiled tensorflow to run on the GPU. I have one GeForce 1080 ti 11gb.

My conclusion are so far that either (1) the GPU cant offload the memory fast enough

[2017-12-08 10:45] archenroot commented on #12052
I finished general CUDA 9 and CUDANN 7 package for Gentoo system and tried dummy test and looks like working by dummy import tensorflow as tf in python, but I need to do additional tests:

I am using commit: c9568f1ee51a265db4c5f017baf722b9ea5ecfbb

[2017-12-08 11:02] carlthome opened #15207 "Feature request: automatically pick all defaults in ./configure"
Everytime a new configuration option is added my CI halts on the ./configure step as it's prompted for input. Instead of setting each flag could we have some `USE_DEFAULTS=1 ./configure` flag instead?

I assume the intention is to slowly move away from the shell script to something better (hence configure.py, I wager) but for now, when testing projects with the master release it would be very usef

[2017-12-08 11:15] 4F2E4A2E commented on #12052
Would you mind posting the link in here to that issue? Thanks in advance!

[2017-12-08 11:36] zh794390558 opened #15208 "Eager bugs"
After I use eager to debug code, the default version of tf changed when I reusing ipython, and tf can not placement mode to GPU, but placed on CPU.

[code]

In another environment, my code is work well and version is correct:
[code]
Code：
rerun the blew code more times.
[code]

OS Platform and Distribution
CentOS Linux 7 (Core)   4.4.77-1.el7.elrepo.x86_64

TensorFlow installed from
Instlled from

[2017-12-08 11:51] masasys commented on #12052
@smitshilu Your article helped me.
And I wrote an article with some elements added.
https://github.com/masasys/MacTF1.4GPU

[2017-12-08 11:54] zhang13850588961 commented on #15122
@andrehentz @aselle
I face one problem like below,
I retain my modes ,and test in pc:
ubuntu@ip-172-31-27-248:~/tensorflow$ python tensorflow/examples/label_image/label_image.py \

xi hong shi 0.99971
xi qin 0.000140324
hu luo bo 6.89621e-05
shang hai qing 3.10927e-05
jian jiao 2.14989e-05
the reusult is very nice!

but after I quant the model with:
bazel-bin/tensorflow/contrib/lite/toco/toco \

[2017-12-08 12:05] namrata-ibm commented on #15179
@bowang , Thank you for your inputs.
I generated the `data.mdb` for s390x(big endian) and the test is passing with it.

[2017-12-08 12:06] namrata-ibm commented on #15179
Closing this issue.

[2017-12-08 12:06] #15179 closed

[2017-12-08 12:09] facaiy commented on #15207
If you use mac, try ˋyes "" | ./configure ˋ

[2017-12-08 12:13] kaspermarstal opened #15209 "CMake: If/else statement in CMAKE_CACHE_ARGS breaks CMake build on Ubuntu 17.10"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 17.10.
- **TensorFlow installed from (source or binary)**: Source (CMake)
- **TensorFlow version (use command below)**: 2cfb088cf72b52c74a742d780cc5c4f93a74640e (tip of master at time of writing)
- **P

[2017-12-08 12:24] drpngx commented on #15032
Thanks!

On Thu, Dec 7, 2017, 6:35 PM rezwan16 <notifications@github.com> wrote:

[2017-12-08 12:31] outofbusiness opened #15210 "Incorrect Result from Add Function"
### System information

- Have I written custom code: Yes
- OS Platform and Distribution: Linux Ubuntu 16.04.3 LTS
- Bazel version: Not applicable
- TensorFlow installed from binary
- TensorFlow version: 1.4.0
- Python version: 3.5.2
- CUDA/cuDNN version: 8.0 / 6.0 for CUDA 8.0
- GPU model and memory: GM107M [GeForce GTX 960M] 4GB
- Exact command to reproduce:

Here is a simple program to add:

se

[2017-12-08 12:40] npanpaliya commented on #11603
@drpngx : We want to understand the impact of this behavior of min/max function in the tensorflow (usage of Relu/Max operator).
As per [IEEE754 ](https://msdn.microsoft.com/en-us/library/windows/desktop/jj218760(v=vs.85).aspx#alpha_754_Deviations) standard, max(x, Nan) = max(Nan, x) = x. So, it seems Power's behavior is as per IEEE rule.

[2017-12-08 12:57] tensorflowbutler commented on #15199
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-08 13:02] jfjallid opened #15211 "Deep MNIST - exit code 139 (interrupted by signal 11: SIGSEGV)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: I have copied all the code lines from the tutorial Deep MNIST for Experts manually into a python file.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Arch Linux, kernel: 4.13.12-1-ARCH
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow

[2017-12-08 13:06] carlthome commented on #15207
Haha, that's a sweet trick. Thanks!

[2017-12-08 13:08] kaspermarstal commented on #15209
d0a5d885d61b837018cb931a4d577289acc826fc introduced the change @martinwicke

[2017-12-08 13:13] visshvesh commented on #14610
Getting the same error while building tensorflow servings on docker.....
Any help Please.....
Thanks in advance

ERROR: '@org_tensorflow//tensorflow/contrib/lite/toco:graph_transformations' failed (Exit 1).
In file included from external/gemmlowp/public/../internal/dispatch_gemm_shape.h:20:0,
                 from external/gemmlowp/public/gemmlowp.h:19,
                 from external/org_tensorflo

[2017-12-08 13:14] MtDersvan opened #15212 "lookup.index_table_from_tensor() emits an error in eager mode when invoked more than once."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: +
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS
- **TensorFlow installed from (source or binary)**: tf-nightly
- **TensorFlow version (use command below)**: 1.5.0-dev20171206
- **Python version**: 3
- **Bazel version (if compiling from source)**: -
- *

[2017-12-08 13:35] MtDersvan commented on #15212
Actually, exposing a `shared_name` var, [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/lookup_ops.py#L1095), and assigning explicitly a unique string solves the problem for the eager execution mode.
Solution:
[code]
I do not know if a `shared_name` was intentionally abandoned, but I can submit a PR, assuming that adding a `shared_name` argument to `lookup_ops` is

[2017-12-08 13:54] carlthome commented on #15028
Could you clarify the difference between _the most probable path_ and _the true align path_? Do you mean you want the output sequence without collapsed repeats and including blanks so it's of the same time resolution as your input?

[2017-12-08 14:02] ppwwyyxx commented on #14566
Then it sounds more like a bug report and you'd better post your code so people can find out the problems. From the documentation of `tf.clip_by_*` this feature is definitely supported.

[2017-12-08 14:05] marcoadurno commented on #15198
@stecklin I'm not sure I fully understand the reason why image_batch and label_batch have be be fetched using sess.run to then fed back in using placeholders. If doing so, I think the `summary_op` should use the `image` placeholder, same as `train_op` does but I struggle to see why mixing the Data api with placeholders.

If things can be shuffled around:
[code]
Or alternatively you can use a monit

[2017-12-08 14:05] AleksTk commented on #15129
Exactly same issue on Red Hat Enterprise Linux release 6.3 (Carbon). Looks like linker option '--linkopt=-lrt' does not propagate to gcc.

[2017-12-08 14:14] MtDersvan commented on #14732
@asimshankar, on a related note. Are `lookup_ops` supported inside the `tf.data.Dataset.map` in the eager mode?

I'm getting a similar Error when using `lookup_ops` in it:
[code]
in a `.map()` function:
[code]
while the cause of the exception are the following lines in the `parse_tfrecord_dataset`:
[code]

Are there any workarounds for including lookup tables into eager data pipelines?

[2017-12-08 14:15] rongjiecomputer opened #15213 "XLA/AOT Windows support"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 x64
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: master
- **Python version**: 3.6
- **Bazel version (if compiling from source)**: 0.8.0
-

[2017-12-08 15:18] drasmuss opened #15214 "tf.profiler overrides shape_invariants in while_loop"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.5.0-dev20171120
- **Python version**: 3.5
- **Bazel version (if compiling from source)**:

[2017-12-08 15:19] cyrilP-qs opened #15215 "Tensorflow - Unable to import frozen graph with batchnorm : uninitialized value batch_normalization/moving_mean"
I am trying to freeze in a pbtxt file a checkpoint containing batchnorm layers (ubuntu, python 2.7, tf 1.1.0).

context :
**Have I written custom code**
Yes, see below

**OS Platform and Distribution**
Docker with Ubuntu 14.04

**TensorFlow installed from**
pip installer

**TensorFlow version**
tensorflow and tensorflow-gpu 1.1.0

**Bazel version**
N/A

**CUDA/cuDNN version**
Cuda 8, CUDNN 5.1

**

[2017-12-08 15:22] gauravkaila commented on #14610
@visshvesh , you can try compiling it by using the following cmd

`bazel build -c opt --copt=-msse4.1 --copt=-msse4.2 tensorflow_serving/... `

I have also made a docker image compiled with tf-serving (CPU) and tf-serving(GPU). You can use them by pulling the image from the docker hub,

CPU:
`docker pull gauravkaila/tf_serving_cpu`

GPU:
`docker pull gauravkaila/tf_serving_gpu`

[2017-12-08 15:45] Joshuaalbert commented on #3032
Indeed if you want to optimize over a complex variable you need to instead define two float variables which take the place of real and imaginary parts, and then use var_list=[real_var, imag_var].

[2017-12-08 16:03] weidong8405347 opened #15216 "When data become large,parition variables can not initialized successfully"
i use tensorflow to distributed trainning models,  i use the partition valriables to store an array data, when the data is not so bigger, everything looks ok,but when the array data become larger, when the session initialize, the partition variables can not  initialized and the session will wait util time out.
### Describe the problem
Describe the problem clearly here. Be sure to convey here why i

[2017-12-08 17:27] 32nguyen opened #15218 "stupid question but please help me to answer this"
I have a problem with parallel computing. I know that CUDA or pyCUDA can do such thing like 3D convolution in parallel.
I think about using tensorflow GPU by calling tf.nn.conv3d(input, filter), does it uses build in functions in CUDA to operate 3D convolution with parallel computing or there are somethings else?
I am not familiar with C++ or even with pyCuda I am not sure how to implement 3D conv

[2017-12-08 17:48] Bonnevie opened #15219 "tf.foldl implementation inherits incompatibility issues from tf.while"
The example
[code]
illustrates that despite applying `tf.foldl` to a static list, the internal implementation via while loops leads to a type error. The problem disappears if the fold operation is carried out manually using a for loop. While implementing `foldl` using the while loop clearly makes the operation  more widely applicable, it seems problematic if syntactic sugar can lead to code that h

[2017-12-08 18:11] sleighsoft commented on #15157
I would still love to see namedtuples for their immutability but I can live for now with a dictionary.
@joel-shor You can decide wether you leave this request open or close it.

[2017-12-08 18:14] sleighsoft commented on #14257
1. I have found a good solution to circumvent that problem.
2. Great :)
3. For now I am using two plain `Estimator`s for both the pretraining of generator and discriminator.  Let me know when you come up with a better solution for that problem :)

[2017-12-08 18:15] #15157 closed

[2017-12-08 18:18] joel-shor commented on #14257
Your PR #14723 solves this, no? Instead of using the default train step, just set it up to train the generator for M steps then the discriminator for the next N steps, then do whatever you want with training. Doesn't that work?

[2017-12-08 18:49] MtDersvan opened #15220 "ResidualWrapper and HighwayWrapper require rnn inputs' last dimension to be equal to num_units"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: -
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**:  v1.4.0-rc1-11-g130a514 1.4.0
- **Python version**: 3.6
- **Bazel version (if compiling from source

[2017-12-08 18:59] #12857 closed

[2017-12-08 18:59] #12908 closed

[2017-12-08 18:59] tensorflowbutler commented on #15206
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
Exact command to reproduce

[2017-12-08 18:59] tensorflowbutler commented on #15208
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-08 18:59] tensorflowbutler commented on #12857
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-12-08 18:59] tensorflowbutler commented on #12908
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-12-08 19:03] Bala1718 commented on #15211
Code 139 is attempt to access a virtual address which is not in your address space, which would support a memory allocation error, which could happen easily if you are on 32-bit system

SIGSEGV is a hard crash of the process do to an invalid memory access in native code, it has no chance to signal that to the multiprocessing host.
It should throw an exception on its own, is that not happening?

[2017-12-08 19:10] winston-zillow opened #15221 "Dataset.from_generator doesn't support strings"
I have hit the same problem described in https://stackoverflow.com/questions/47705684/tesnorflow-dataset-generator-does-not-work-with-strings

I think it is a missing feature instead of a bug?

[2017-12-08 19:21] jfjallid commented on #15211
I am running it on a 64-bit system and the exit code message is the only error output I get from running the program. The exit code message is from running the python code through my IDE (Intellij). When I run it from a terminal with and without gdb I only get Segmentation fault (core dumped)

[2017-12-08 19:22] reedwm commented on #15219
/CC @skye @mrry @ebrevdo

[2017-12-08 19:23] mattrunchey opened #15222 "tfcompile error - no matching function for call to 'transform'"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No.  This is on a clean checkout of tensorflow.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  OSX Sierra
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: building from master (command outputs 1.3.0)
-

[2017-12-08 19:24] jc-barroso opened #15223 "stdin"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-12-08 19:26] mrry commented on #15221
This bug was fixed in https://github.com/tensorflow/tensorflow/commit/17ba3a69f4c3509711a3da5eff3cb6be99e0936d but hasn't yet made its way into a release. I posted a workaround on the Stack Overflow question.

[2017-12-08 19:26] #15221 closed

[2017-12-08 19:36] darksipu commented on #15196
Same issue here, when trying to compile the pip_build_package as a target

Trying to build from source on OS X Sierra 10.12.6, following the exact instructions on the Tensorflow website. Not trying to compile for GPU, only for CPU

[2017-12-08 19:41] reedwm commented on #15211
To clarify, are you using a GPU version of TensorFlow? You listed a GPU, but put N/A for CUDA/cuDNN version. I cannot reproduce with either.

/CC @benoitsteiner @rmlarsen, any ideas what the issue could be?

[2017-12-08 19:43] sanjoy commented on #15196
Do you mind verifying that replacing the `std::transform` with a for loop works on OSX and send a PR?  Alternatively, let me know that it worked, and I'll fix it internally and the change will get upstreamed in the next sync.

[2017-12-08 19:44] reedwm commented on #15223
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-12-08 19:44] #15223 closed

[2017-12-08 19:46] jfjallid commented on #15211
No, I'm using a standard build of TensorFlow running on my CPU. Yes, I realise it might be confusing so I changed the GPU to N/A aswell.

[2017-12-08 19:47] reedwm commented on #15213
/CC @tatatodd

[2017-12-08 19:51] reedwm commented on #15207
@yifeif although the `yes "" | ./configure` trick works, do you think its worth adding a USE_DEFAULTS flag/env var?

[2017-12-08 19:57] reedwm commented on #15041
/CC @zheng-xq @ebrevdo, can you comment?

[2017-12-08 20:05] kovkev commented on #3032
@Joshuaalbert Would it take care of doing back propagation the way it is explained in the following paper?

https://openreview.net/forum?id=H1S8UE-Rb

That still needs to be implemented somehow, right? Do you know what the best way to do so would be?

[2017-12-08 20:06] quaeler commented on #15222
This seems like a duplicate of #15196

[2017-12-08 20:11] reedwm commented on #15091
@ebrevdo @laghaout is the issue resolved and can it be closed?

[2017-12-08 20:21] reedwm commented on #15049
As @facaiy stated, can you post a code sample to reproduce the problem? OneHot does have both CPU and GPU implementations, but the error messages implies it has no implementation.

[2017-12-08 20:23] mattrunchey commented on #15222
Ah yes, sorry!  I thought I'd looked for the same thing but missed that one.

[2017-12-08 20:23] #15222 closed

[2017-12-08 20:43] ebrevdo commented on #15091
Yup.

On Fri, Dec 8, 2017 at 12:12 PM, Reed <notifications@github.com> wrote:

[2017-12-08 20:44] ebrevdo commented on #15219
updated title.  i think we have an existing issue that this is a duplicate of?

[2017-12-08 20:45] ebrevdo commented on #15219
We don't yet have a good story for 2nd order gradients of tf.while_loop; though @alextp has given this a little bit of thought in the past.

[2017-12-08 20:47] #15091 closed

[2017-12-08 20:52] reedwm commented on #15203
@martinwicke any ideas what the problem could be?

[2017-12-08 21:03] skye commented on #15219
Having a "static" while loop option (i.e. unrolled) that we could propagate to derivative ops like foldl is an interesting idea. This would obviously not always be possible, e.g. in the case of foldl, the shape of the input tensor must be known (or at least the first dimension). So I'm worried that such an option could potentially be confusing since it wouldn't always work and it isn't obvious whe

[2017-12-08 21:09] darksipu commented on #15196
In the end it worked by just building with the normal:

`bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package`

but during the `./configure`, I had to select **No** for the following (_Yes_ for the ones not mentioned):

Do you wish to build TensorFlow with the XLA just-in-time compiler (experimental)?
Do you wish to build TensorFlow with VERBS support?
Do you wish to build Ten

[2017-12-08 21:40] yongtang commented on #8246
Added a PR #15224 for the fix.

[2017-12-08 22:03] darknoon commented on #15116
Not a google developer, but how about this?
https://www.google.com/about/appsecurity/

[2017-12-08 22:35] gunan commented on #15156
There are known issues with op ordering that may prevent you from getting the same results after different runs. Especially with larger graphs this can be a problem.
This is just caused by how the threads are scheduled by the OS.

[2017-12-08 22:42] #15137 closed

[2017-12-08 22:53] gunan commented on #14712
CMake files are under contrib, and just like the rest of contrib, they are maintained as best effort (on windows we have a different support level for them).
Is there a reason you are not using bazel?

[2017-12-08 23:18] thunterdb commented on #15190
@mrry I updated the gist following your suggestion. It failed after ~ 10M reads on S3 (a few hours) with the following stack trace.

Has anyone else encountered this issue before? Our current workaround is to copy the data locally to the machines' drives before starting the training, but this adds some complexity.

[code]

[2017-12-08 23:25] mrry commented on #15190
I believe the S3 filesystem was contributed by @yongtang... hopefully he will have some suggestions!

[2017-12-09 00:28] fchollet commented on #15165
The issue is with the LSTM output. In `tf.keras/backend.py`, at the end of the call to `rnn`, we need to call `.set_shape(shape)` on the outputs, with a shape that's basically `(inputs.get_shape[0], inputs.get_shape[1], None)` (batch dim and time dim -- no need to specify the feature dim since it's already correctly inferred).

Feel free to open a PR.

[2017-12-09 00:28] fchollet commented on #15165
In general we need to make sure that TF static shape inference (in backend methods) and Keras static shape inference (at the layer level) are in sync.

[2017-12-09 00:39] av8ramit commented on #15057
@WenmuZhou you can also use pypi binaries `tf-nightly` and `tf-nightly-gpu`

[2017-12-09 00:47] songgc commented on #14107
@yaroslavvb We do use queue and python threading for GPU feeding, which works well with v1.3.

[2017-12-09 00:53] ppwwyyxx commented on #14107
I used queues and python threading (and also StagingArea) for feeding as well. And I haven't seen significant speed difference in ResNet-50 training in 1.4.

[2017-12-09 01:03] tensorflowbutler commented on #15210
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
Bazel version
CUDA/cuDNN version

[2017-12-09 01:03] tensorflowbutler commented on #15214
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
CUDA/cuDNN version
GPU model and memory

[2017-12-09 01:03] tensorflowbutler commented on #15215
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-09 01:03] tensorflowbutler commented on #15216
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-09 01:03] tensorflowbutler commented on #15218
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-09 01:19] drpngx commented on #15028
@carlthome , @xushenkun is saying that the decode does not allow you to constrain the path for alignment, and the loss function computes the full forward probability (in the log semiring, not max). For instance if you computed the top1 from beam search and used the `ctc_loss`, then you'd get a probability that's greater than or equal t the one returned by the decoder.

@xushenkun you'd need to eit

[2017-12-09 01:19] jda91 commented on #14610
**@gauravkaila hey, I tried compiling with that but I always get the same error when trying to test the running model, in fact I get the error trying to run anything in the container. I had to export the model myself by adding savedmodelbuilder code into the retrain script for inception. I pulled your image and am again running into the same error:**

root@42fd2c27af9d:/serving# bazel-bin/tensorfl

[2017-12-09 01:21] drpngx commented on #15159
Can you try `env` to see what you have defined (please don't paste your secret key here).

[2017-12-09 01:26] drpngx commented on #11603
OK, what would you need to understand?

[2017-12-09 01:32] drpngx commented on #15180
@mrry do you happen to know what the status is of staging area? Is it still actively maintained?

[2017-12-09 01:35] drpngx commented on #15178
@ispirmustafa could you take a look?

[2017-12-09 01:36] mrry commented on #15180
Not AFAIK, although it is still used in the CNN benchmarks. @rohan100jain is working on replacing it with a `tf.data`-based version, but it is currently only available in TF Eager.

[2017-12-09 01:40] drpngx commented on #15050
So, reading the thread, it looks like the root cause is the wrong cublas version. I'm closing this, feel free to reopen if you think it's a bug in tensorflow.

[2017-12-09 01:40] #15050 closed

[2017-12-09 01:41] drpngx commented on #14758
Closing as this seems to be resolved.

[2017-12-09 01:41] #14758 closed

[2017-12-09 01:43] drpngx commented on #15180
@shahinkl I think your best bet is to move to another API. Ideally you would find what you need to do with the `dataset` API. LMK if that works.

[2017-12-09 01:45] drpngx commented on #15124
Thakns @ukoxyz . @DavidNorman I think that should solve your problem. Feel free to reopen if it doesn't.

[2017-12-09 01:45] #15124 closed

[2017-12-09 01:48] drpngx commented on #15102
@shkarupa-alex it looks like @aselle answered the question. Reading the doc, I think the doc is clear enough for a reasonably skilled tensorflow developer. That's a tradeoff for conciseness. Feel free to submit a PR if you find a better wording.

[2017-12-09 01:48] #15102 closed

[2017-12-09 01:52] drpngx commented on #15144
Are you able to run the network correctly without freeze graph? Can you use `nm` on the tensorflow shared object and see which one is defined? Did you try the protobuf as suggested by @euntaik ?

[2017-12-09 01:56] drpngx commented on #15198
@MarkDaoust maybe we need more docs.

/CC @mrry

[2017-12-09 01:56] #15196 closed

[2017-12-09 01:57] drpngx commented on #15204
Sorry, opencl is not fully supported.

[2017-12-09 01:58] drpngx commented on #15212
@josh11b any idea what that could be?

[2017-12-09 02:13] powderluv commented on #15196
@drpngx is there a fix committed ? @darsipu above just disabled XLA so it would compile

[2017-12-09 02:17] #8029 closed

[2017-12-09 02:24] dr4b commented on #11770
Hey, this specific bug has been fixed by the deprecation of enumerate() to enumerate_dataset()

(see here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/data/python/ops/enumerate_ops.py)

So I'm closing this out unless there's a reason to keep it open?

[2017-12-09 02:24] #11770 closed

[2017-12-09 03:13] dennismckinnon commented on #14726
@Erichliu00 I'm not sure using copy works to solve the problem fully. If we use copy then we can't change the weights of the one model without it affecting the weights of the other model. For example:

[code]

the train here is just to mock what happens if we have the variable changed.

[code]

Prints out
[code]

So I don't know how to make a clone of a model I would love to know though... I curre

[2017-12-09 03:54] gauss-clb commented on #15156
@gunan I find the first number never changes, which means the issues happened during the backpropagation.  So I wonder whether it will cause the gradient updating more unstable.

[2017-12-09 04:16] LLLLKKKK opened #15228 "Bug in XLA, if branches optimized by grappler/arithmetic_optimizer"
grappler/arithmetic_optimizer may merge different Const op with same value into one. However, if two Const ops are in different branches (tf.cond, or SwitchOp, user-defined SwitchOp things), XLA will make them into one cluster, which would cause this XlaLaunchOp can't be run forever.

One way to walk around this is to disable arithmetic_optimizer.

[2017-12-09 04:53] ssm9462 commented on #136
Just restarting Pycharm resolved this problem for me as well

[2017-12-09 04:55] pengyu opened #15230 "tensorflow-gpu on mac"
I can use the following to install tensorflow on mac.

Python 2

[code]

Python 3

[code]

But I don't find the correponding files for tensorflow-gpu. Can it be generated and posted over there? Thanks.

[2017-12-09 04:56] powderluv commented on #15196
@sanjoy as requested I have a PR up at https://github.com/tensorflow/tensorflow/pull/15229. I can't reopen this bug so will move discussion to the PR.

[2017-12-09 04:57] powderluv commented on #15222
I have a PR up at https://github.com/tensorflow/tensorflow/pull/15229

[2017-12-09 05:36] ebrevdo commented on #15220
The ResidualWrapper adds the inputs to the outputs of the RNNCell it wraps.  How do you add if the input and output depths are different?

[2017-12-09 06:03] nasergh commented on #12052
@arbynacosta
i run
bazel build --config=opt --config=cuda //tensorflow/tools/pip_package:build_pip_package --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0"
but i get this error
Error : the build command is only supported from within a workspace.

i also try tensor nightly but it give error
attributeerror : module 'tensorflow' has no attribute ....
output of dir(tf)
['__doc__', '__loarder__', '__name__', __pa

[2017-12-09 06:04] nasergh commented on #12052
@arbynacosta
i run
bazel build --config=opt --config=cuda //tensorflow/tools/pip_package:build_pip_package --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0"
but i get this error
Error : the build command is only supported from within a workspace.

i also try tensor nightly but it give error
attributeerror : module 'tensorflow' has no attribute ....
output of dir(tf)
['__doc__', '__loarder__', '__name__', __pa

[2017-12-09 06:23] Tweakmind commented on #12052
Sorry @goodmangu, I was away. Did you get it working? I did miss the closing double quotes as @arbynacosta pointed out. I have this running under Ubuntu 17.10 now with CUDA 9.0 and cuDNN 7.0.4. I can work on a MacOS build if needed. I bailed on both Win10 and MacOS but can work on them this weekend if folks need it.

@nasergh, are you running that command from inside the cloned tensorflow director

[2017-12-09 06:51] nasergh commented on #12052
@Tweakmind
i run command
sudo su
and then goto tensorflow folder(there was workspace file in there)
but i get this errors
[code]

[2017-12-09 06:53] gunan commented on #12052
@nasergh Please make sure you follow all of the instructions here:
https://www.tensorflow.org/install/install_sources

[2017-12-09 06:57] Tweakmind commented on #12052
If you are building with GPU support, make sure you are configuring appropriately.

#### Install Tensorflow 1.4 from Source.
* As of this writing, this is the only way it will work with CUDA 9.0 and cuDNN 7.0
* Instructions: https://www.tensorflow.org/install/install_sources
* Some of the instructions may not make sense, here is how I did it:
[code]
The sample output and options will differ from t

[2017-12-09 07:34] juhui0419 opened #15231 "tensorboard doesn't show my graph"
In the morning I can use the following command to open my graph.
`tensorboard --logdir=graph_file_dir`

However, in the evening, I use another PC, I can't see my graph any more.
Error Information is
![image](https://user-images.githubusercontent.com/4633426/33793649-ff2545c4-dc6f-11e7-8719-50c8ea543c3a.png)

Then, I tried to use the following command to inspect the content.
![image](https://user-i

[2017-12-09 07:41] juhui0419 commented on #13953
@ybsave You are genus!

[2017-12-09 07:45] goodmangu commented on #12052
@Tweakmind : thanks for getting back to me on this. Yes, I got it working for Ubuntu, and still have no luck with Mac OSX (10.12.6) with an eGPU (1080 Ti). For all the sources I followed,  build failed after some 10-15 minutes. It would be great if we have a reproducible success. Thanks in advance.

[2017-12-09 07:47] juhui0419 commented on #15231
This can be closed, should run tensorboard from the same driver.

[2017-12-09 07:47] #15231 closed

[2017-12-09 08:04] masa-matsu opened #15232 "Install new TensorFlow via anaconda, but failed"
Hello,

When I tried to install TensorFlow via anaconda.
I`ve searched the suitable cite to submit the issue, but failed to find out it.
If this is not sorry for it and advice me.

The target os is 'windows 10', and via anaconda 5.0.1 For Windows (Python 3.6 version 64bit).
After intall anaconda, from my terminal 'cmd.exe',
$ conda create -n tensorflow python=3.6
but received an error message.

Bu

[2017-12-09 08:11] nasergh commented on #12052
@Tweakmind
i do following you say but
[code]
[code]

[2017-12-09 08:17] Tweakmind commented on #12052
@goodmangu, I will work on the MacOS build over the weekend.

@nasergh, Did you install cuDNN?

Here is my guide for cuDNN including source and docs to test the install:
#### Download cuDNN 7.0.4 files
You must log into your Nvidia developer account in your browser
* https://developer.nvidia.com/compute/machine-learning/cudnn/secure/v7.0.4/prod/9.0_20171031/cudnn-9.0-linux-x64-v7
* https://develop

[2017-12-09 08:37] asimshankar commented on #15230
As per: https://www.tensorflow.org/install/install_mac - GPUs-on-Macs are not supported by the TensorFlow team (since after version 1.2).

Some more discussion is here: https://groups.google.com/a/tensorflow.org/d/msg/discuss/BbnxAK9Rc54/XeTIG7JsBQAJ

[2017-12-09 08:37] #15230 closed

[2017-12-09 09:19] keven425 commented on #14712
I intend to build on windows. However, I develop on Mac OS. So ideally I hope to cmake it on Mac.

I have found MSBuild (configured with cmake) to be very slow on windows. Usually taking 10+ minutes for a minimal file change.

[2017-12-09 10:40] nasergh commented on #12052
Dear @Tweakmind
your way works thanks for your help(i was trying to install tensor for more than 3 weeks!!!)
problem is i install it on python3.6 and now i have a problem with PIL package

[code]

i try to install pillow but it's not help
i also try to install PIL but
[code]

[2017-12-09 11:08] outofbusiness commented on #15210
Updated, thank you!

[2017-12-09 11:26] Tweakmind commented on #12052
What do you get with:
[code]

[2017-12-09 11:40] Tweakmind commented on #12052
@nasergh, I need to crash but I'll check in when I get up.

[2017-12-09 11:43] Tweakmind commented on #12052
@goodmangu, I won't be able to do the Mac build over the weekend as I don't have access to my 2012 Mac Pro. Hopefully, you're good with Ubuntu for now. I know it works well for me. I should have it back next weekend.

[2017-12-09 12:56] tensorflowbutler commented on #15228
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-09 13:12] codrut3 commented on #14107
The OOM issue reported by @johnsrude is likely caused by fused batch norm. The documentation incorrectly states that `tf.contrib.layers.batch_norm` with Fused=None will use the default implementation. This is not true: it will call the newer, fused version, which is more expensive in terms of gpu resources.

@johnsrude, can you please replace `batch_norm_layer` in model.py with the following:

def

[2017-12-09 13:13] Joshuaalbert commented on #3032
The paper you mention uses projections of the form `W = W_r + i W_i` and input tensors of the form `x= x_r + i x_i`. The standard perceptron complex output is then
[code]
In the last line you see that you can represent the complex weight kernel as `W_r` and `W_i` stacked on top of each other.
Therefore you can represent this complex forward projection as the following set of operations:
[code]

My

[2017-12-09 13:51] NicholaiStaalung commented on #14107
So i partially solved my problem by splitting the graph and run it on both the CPU and GPU with tf.device(). What made most sense was running forward and backprop on the CPU while running the predictions on the GPU. Its a bit slower than running everything on the GPU, but way faster than CPU only. So i guess my problem was a combination of my conclusions 1 and 2, and thus not a tensorflow issue.

[2017-12-09 14:03] PabloRR100 opened #15235 "Loss should change depending on the number of epochs chosen even if I set the seed?"
Hi colleagues,

I am using Keras to train different NNs. I would like to know why if I increment the epochs, the result until the same number of epochs is not the same for the evolution of loss. I am using shuffle=False, and np.random.seed(2017), tf.set_random_seed(2017), and I have check that if I repeat with the same number of epochs, the result is the same, so the random initialization is worki

[2017-12-09 14:35] DrSajid opened #15236 "Error while using cuda-9.0, libcublas.so.8.0: cannot open shared object file: No such file or directory"
Hi,

I just installed cuda-9.0
and done all the requirements for cuda to run tensorflow like libcudnn7_7.0.5.15-1+cuda9.0_amd64.deb, libcudnn7-dev_7.0.5.15-1+cuda9.0_amd64.deb.
The test example of libcudnn are working fine.

I installed tensorflow-gpu, it finished normally while using "$ sudo pip3 install tensorflow-gpu" but at the time of import, it gives me  error "
ImportError: libcublas.so.8.0

[2017-12-09 15:33] qianyizhang opened #15237 "[Feature Request]Add SGDR, SGDW, AdamW and AdamWR"
This is a duplicate request from pytorch issue, which I even reuse their issue title
https://github.com/pytorch/pytorch/issues/3790

And the fix from the paper seems to be trivial but I'm not sure how TF should approach this, perhaps just adding another parameter?

[2017-12-09 15:43] WenmuZhou commented on #15057
tf-nightly-gpu 1.5.0-dev20171120
[code]
tf-nightly 1.5.0-dev20171120
[code]

[2017-12-09 15:58] beniroquai commented on #3032
Thanks for clarfying this. This might be a bit of off-topic, but what could be the best way to define a complex loss-function? Just imagine you compare imag/imag with real/real in your loss function or you do it with abs and phase of your complex number. There is a wrap-around problem with the phase at 2p, but maybe it's a better metric if it comes to stability.

Maybe it's faster to optimize firs

[2017-12-09 16:46] bachiraoun opened #15238 "CPU usage drops after several steps"
I am running a tensorflow computation graph. The same graph was running fine before but all of a sudden I noticed that after several steps and checkpoint the CPU usage drops from more than 600% to 100% for the rest of the session. It seems like all executors are dying (when saving maybe) and the computation keeps running on only 1 Core shooting up and down from 100 to 200%.

I also posted the issu

[2017-12-09 16:49] MtDersvan commented on #15220
Yeah, I guess there is not much that can be done without adding more parameters. I usually just add a linear transformation that converts depth into num_units. Sorry for bothering.

[2017-12-09 16:49] #15220 closed

[2017-12-09 17:30] Rassibassi commented on #10749
Hi,
using tensorflow to do some signal processing and the fft problem has appeared. I did some tests and hope they are helpful. I also created a repository with the example signal where the fft really goes wrong using the cpu, error after fft is `>1e+14`. With a gpu it looks good.

Code:
(https://github.com/rassibassi/fftTensorflow)
[code]
unix ubuntu cpu:
[code]

scientific linux hpc-cluster cpu:

[2017-12-09 17:38] sguada commented on #15156
Cuda can also introduce randomness in backpropagation

[2017-12-09 17:39] sguada commented on #15156
Try passing seed to truncated_normal_initializer and to random_normal

[2017-12-09 17:44] lefnire commented on #10289
Got snagged by this too. Anaconda is very common, recommend adding a side-note of this flag in the installation instructions

[2017-12-09 17:57] aselle commented on #15074
This appears to be fixed in #15191. Thanks for the report.

[2017-12-09 17:57] #15074 closed

[2017-12-09 18:02] aselle commented on #15122
Doing quantized requires specialized training. Your input of default ranges sets invalid ranges that are useful for testing the possible speedup due to quantization but will not result in correct classification. We plan to release a quantized training script to show how you might do this with your model.

As far as changing TfLiteCameraDemo to support floats:
edit this
https://github.com/tensorflo

[2017-12-09 18:06] aselle commented on #15093
Lite unfortunately currently doesn't support Sub. We are planning to add support to it soon.
If you could share the python source of your model, we might be able to point out an alternative approach. You could possibly simulate a subtraction by doing a 1x1 conv with same padding with the filter -1 and then do an addition... i.e.

`foo - bar `
is equivalent to
`foo + bar* -1`

[2017-12-09 18:55] tensorflowbutler commented on #15232
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-09 20:09] cesarsouza opened #15239 "No gradient defined for op: Pow"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 x64
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.4
- **Bazel version**: N/A
- **Python version**: None
- **CUDA/cuDNN version**: None
-

[2017-12-09 20:19] DaoodS opened #15240 "in minimize ([str(v) for _, v in grads_and_vars], loss)) ValueError: No gradients provided for any variable - This error occurs while using minimize for an adam optimizer()"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-12-09 20:20] DaoodS commented on #15240
The code for which I am facing the issue.

import numpy as np
import tensorflow as tf
from tensorflow.examples.tutorials.mnist import input_data
mnist = input_data.read_data_sets('MNIST_data', one_hot = True)
'''/tmp/data/'''
n_classes = 10
batch_size = 150

x = tf.placeholder(tf.float32, shape=[None, 784])
y = tf.placeholder(tf.float32, shape=[None, 10])

keep_rate = 0.8
keep_prob = tf.placeholde

[2017-12-09 20:30] mohnkhan commented on #22
Did anyone successfully try out working TensorFlow on AMD via OpenCL  and succeed ?.

[2017-12-09 20:58] znmeb commented on #22
@mohnkhan I have the @lukeiwanski fork working (Arch Linux) - see <https://github.com/tensorflow/tensorflow/issues/22#issuecomment-349877056>. I'm waiting on some more AMDGPU-Pro work before I publish a blog post - see <https://github.com/corngood/archlinux-amdgpu/pull/54>.

[2017-12-09 21:06] mohnkhan commented on #22
@znmeb  Thank you for the inputs

[2017-12-09 21:15] znmeb commented on #22
@mohnkhan BTW, AMD are building an alternative path that's fully open source - translating the CUDA code to OpenCL code with a compiler toolchain. I'm not sure what the status of that is for the older cards like mine though.

[2017-12-09 22:31] jeffheaton commented on #6849
No problem... I moved on to Keras.

[2017-12-09 22:41] unitive-jim commented on #8511
I'm trying to write a C++ application that loads a SavedModel and feeds it tensors in the same process. I'm using Tensorflow 1.4 and it seems to me that there is still too little documentation on how to do this. The documentation at https://www.tensorflow.org/programmers_guide/saved_model comes close, but should have an example using build_raw_serving_input_receiver_fn() in Python and then show ho

[2017-12-09 23:10] quaeler commented on #15232
The step failing here, as you write above, does not involve TensorFlow - so this issue should probably be closed.

[2017-12-10 00:07] drpngx commented on #15240
Please re-file an issue with the template properly filled out. It takes time for us to support issues and our time is limited. Thank you.

[2017-12-10 00:07] #15240 closed

[2017-12-10 00:09] drpngx commented on #15238
Any logs? I'm assuming this is training? Single machine? What does `nvidia-smi` say? Can you fill out the template with system arch etc?

[2017-12-10 00:10] drpngx commented on #15236
You are missing that shared library. Can you run `ldconfig -v` to see which one you have? I have seen another report where the cublas `9.0` was installed.

[2017-12-10 00:44] mirh commented on #15204
That doesn't [seem](https://github.com/tensorflow/tensorflow/issues/11807) opencl \*specific\*

[2017-12-10 00:49] DrSajid commented on #15236
Hi,
It look like its there,

ldconfig -v
/sbin/ldconfig.real: Can't stat /lib/i686-linux-gnu: No such file or directory
/sbin/ldconfig.real: Can't stat /usr/lib/i686-linux-gnu: No such file or directory
/sbin/ldconfig.real: Path `/usr/lib/nvidia-384' given more than once
/sbin/ldconfig.real: Path `/usr/lib32/nvidia-384' given more than once
/sbin/ldconfig.real: Path `/lib/x86_64-linux-gnu' given m

[2017-12-10 00:55] tensorflowbutler commented on #15235
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-10 00:55] tensorflowbutler commented on #15237
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-10 00:55] tensorflowbutler commented on #15238
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-10 00:58] drpngx commented on #15236
Yeah, it looks like you have `9.0`, not `8.0` that the software is looking for. Please install `8.0` for now.

[2017-12-10 01:16] prajwalmv commented on #8129
(i) Open a command prompt in admin mode
(ii) Change your directory to where your event files are located;
 run tensor board works with the appropriate logdir, works beautifully !

[2017-12-10 02:19] faisalalamri opened #15241 "Error using Faster RCNN in MATLAB."
Hi there,
I am working on a project that is about detecting multiple object classes (object classes detection), where the dataset that I am using is MSCOCO (2014).
The method that I am using is Faster RCNN detection method, where I am using matlab 2017a
Please note that all training is done on a machine with a GPU (NVIDIA Tesla K80)
I have wrote the code attached in the zipped file, dropbox link f

[2017-12-10 02:56] faisalalamri opened #15242 "Error using alexnet with Faster-RCNN?"
Hi everyone,
I am doing object categories detection on COCO dataset using transfer learning (alexnet as a pre-trained with Faster RCNN). However, I am getting this error.

  In fastRCNNObjectDetector>@(x,filename)fastRCNNObjectDetector.invokeRegionProposalFcn(fcnCopy,x,filename) (line 158)
  In fastRCNNObjectDetector.extractRegionProposals (line 218)
  In fastRCNNObjectDetector.train (line 168)

[2017-12-10 03:10] mirh commented on #9445
For some reason they dropped the note _description_ itself after [0.3.2](https://developer.codeplay.com/computecppce/v0.3.2/supported-platforms) docs.
Though, it doesn't make sense. Even a year ago [cl_khr_spir](https://community.amd.com/thread/207051#2756287) was already supported in amd 'latest' closed driver.

@DuncanMcBain do you know perhaps who wrote that part of the readme? And/or why the n

[2017-12-10 03:27] bachiraoun commented on #15238
Thank you.
here are the info

Have I written custom code:
YES

OS Platform and Distribution:
MacBook Pro (Retina, 15-inch, Mid 2015)
Processor 2.8 GHz Intel Core i7
Memory 16 GB 1600 MHz DDR3

TensorFlow installed from
using pip

TensorFlow version
1.4.1

Bazel version
Build label: 0.4.4-homebrew
Build target: bazel-out/local-opt/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_de

[2017-12-10 04:05] mirh commented on #22
If you are going to write an article, I guess it wouldn't hurt to also explain (took 3 hours to get the whole picture):

* TF has in fact a SYCL 1.2 backend. No \*actual\* opencl.
* in turn, you have two [implementations](https://github.com/tensorflow/tensorflow/tree/master/third_party/sycl/crosstool) of the standard (trisycl [looks](https://www.youtube.com/watch?v=LUzZxdElY0Y) cool, but it's [lim

[2017-12-10 04:15] gauss-clb commented on #15156
@sguada I have tried to pass seed to truncated_normal_initializer and to random_normal, but no effect.

[2017-12-10 04:19] austingg commented on #14719
@atrah22  Is there any result about quantized mode vs. float model ?

[2017-12-10 04:21] Moldy01 commented on #15050
Phil,

I'm sorry.  I guess I was not all that clear.  I was not reporting a bug, it should have been thought of as an enhancement request.  Close if you like, I've got my work around, and am even considering setting up to build my own.  It is just nicer to be able to download an executable, and not bother.

thanks for your attentive responses and suggestions,

Mitch
_______________________________

[2017-12-10 04:29] sifatron commented on #206
Can anyone help me with this? Embedding Gather always giving Negative Index. How to solve this? Using Keras with Tensorflow backend

[code]

[2017-12-10 04:34] jpienaar commented on #15228
Do you perhaps have a repro?

[2017-12-10 05:15] yongtang commented on #14509
Added a PR #15243 for `tf.broadcast_to`. Please take a look.

[2017-12-10 05:33] DrSajid commented on #15236
Well i found a solution by installation through source code.
in git log file(b43d0f3) " git log --oneline --decorate"

(HEAD -> master, origin/master, origin/HEAD) Merge pull request #15233 from ManHyuk/typo
70644fc fix typo
688bc53 Merge pull request #15225 from Androbin/patch-1
8267844 Enable GCS filesystem for Windows (#14856)
d3e35f9 Also install libssl-dev to make pip/py3.6 work properly. (#1

[2017-12-10 06:15] huoyushi commented on #15204
@mirh ,yeah, I am not familiar with bazel  tools ,But I guess that some Configuration may not be appropriate because I find that  in /third_party/sycl/sycl/BUILD.tpl  some configuration confuse me.
In that file
config_setting(
    name = "using_sycl_ccpp",
    define_values = {
        "using_sycl": "true",
        "using_trisycl": "false",
    },
)

config_setting(
    name = "using_sycl_trisycl"

[2017-12-10 06:22] drpngx commented on #15236
Great!

On Sat, Dec 9, 2017, 9:39 PM DrSajid <notifications@github.com> wrote:

[2017-12-10 06:38] znmeb commented on #22
@mirh
1. I'm not concerned with pre-GCN cards. Mine's a Sea Islands and I'm not planning on acquiring anything older. Then again, I'm not planning on acquiring another AMD GPU either. ;-)
2. I don't know whether ROCm will run on my workstation - there's no open source hardware tester that can give me a yes-or-no answer. I've opened an issue for that and received no response.
3. SPIR-V is a compile

[2017-12-10 06:50] bringtree commented on #15079
Sorry, I don't know how to correct it. Could you help me to correct it?  I want to know how you modify the codes?@facaiy
`math_ops.equal(math_ops.reduce_sum.reducesum(labels),constant_op.constant(1.0,dtype=precise_logits.dtype))`

[2017-12-10 06:54] KingRando95 commented on #15239
TST: add test case
ENH: add pow grad

[2017-12-10 06:54] facaiy commented on #15239
@cesarsouza I have created a PR to resolve the issue.

[2017-12-10 06:56] KingRando95 commented on #14845
TST: add test case
ENH: add pow grad

[2017-12-10 06:57] tensorflowbutler commented on #15239
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version

[2017-12-10 07:00] facaiy commented on #15079
@bringtree You can refer to my PR #15245 and `BinaryGradCommon` method in `cc/gradients/math_grad.cc`. Moreover, [C++ API | TensorFlow](https://www.tensorflow.org/api_guides/cc/guide) might be useful for you.

[2017-12-10 07:02] hassaanseeker opened #15246 "Error while running Tensor-Flow examples using Bazel build"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-12-10 08:26] PabloRR100 commented on #15235
I am sorry, here I attached the required information

### System information
OS: MacOs High Sierra 10.13.1

Anaconda Environment
- Python 3.5.4
- Tensorflow installed via pip command from Tensorflow website
- Tensorflow version: v1.4.0-rc1-11-g130a514 1.4.0
- No CUDA. GPU = Intel HD Graphics 530 1536 MB

I hope this is all the info you need. If not, please let me know,

Thanks!

[2017-12-10 09:00] zhewang95 commented on #15089
When I remove the 'quantize_node' option of transform_graph, the transformed graph can be loaded correctly. It seems that there are some bugs in the "quantize_node" option.

[2017-12-10 09:37] yokiqust commented on #14610
@jda91 i have same problem,have u solve that?

[2017-12-10 09:58] n3011 opened #15250 "Batch Norm variance output mismatches with tf 1.4.0"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from  binary**: binary
- **TensorFlow version (use command below)**: 1.4.0
- **Python version**:  2.7.0
- **Bazel version (if compiling from source)**:
- **GCC/Compiler versi

[2017-12-10 10:05] ZahlGraf commented on #1122
@vincentvanhoucke You wrote in another post in this thread:

Do you mean with "slim batch_norm wrapper" the function `tf.contrib.layers.batch_norm`? If so, I would suggest to add this information to the documentation text of this function. Thus it gets very clear, that this function performs the batch normalization exactly like described in the paper... for both FC-Layer and Conv2D-Layer. At the m

[2017-12-10 10:53] LogicHolmes commented on #8717
I don't know why I send the command:
bazel-bin/im2txt/train --input_file_pattern="${MSCOCO_DIR}/train-?????-of-00256" --inception_checkpoint_file="${INCEPTION_CHECKPOINT}" --train_dir="${MODEL_DIR}/train" --train_inception=false --number_of_steps=1000000

there have a error:
I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA library libcublas.so.8.0 locally
I tensorflow/strea

[2017-12-10 10:54] LogicHolmes commented on #6968
I don't know why I send the command:
bazel-bin/im2txt/train --input_file_pattern="${MSCOCO_DIR}/train-?????-of-00256" --inception_checkpoint_file="${INCEPTION_CHECKPOINT}" --train_dir="${MODEL_DIR}/train" --train_inception=false --number_of_steps=1000000

there have a error:
I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA library libcublas.so.8.0 locally
I tensorflow/strea

[2017-12-10 10:59] meetshah1995 commented on #12052
@Tweakmind - Have you seen any performance boost with CUDA 9 and cuDNN 7?

[2017-12-10 11:07] svetlov commented on #13766
great news, and what for `Dataset.padded_batch`, is it in plans?

[2017-12-10 11:22] helloiamsourav commented on #14244
hey how do I install tensorflow for Cuda 9 in Windows? Awesome work for Linux...

[2017-12-10 12:06] sleighsoft commented on #14257
I haven't tested that yet but it should. I finished the two separate Estimators before there was any traction with my pull request.

[2017-12-10 12:14] cesarsouza commented on #15239
Huge thanks @facaiy! Also I've just noticed that I used the wrong title for the issue, probably it seemed confusing at first. Sorry about it, and thanks again for the extremely fast PR!

[2017-12-10 12:33] keryell commented on #22
@mirh thanks for the good summary with all the links. I think you have not wasted your 3 hours... :-)

[2017-12-10 12:36] #15236 closed

[2017-12-10 12:57] tensorflowbutler commented on #15241
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-10 12:57] tensorflowbutler commented on #15242
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-10 13:30] nlw0 commented on #4104
Just adding a bit to the discussion. It may not be clear and obvious right now, but Tensor decomposition has a chance of becoming very relevant for image analysis, what is probably well within the scope of TensorFlow right now. Let's wait and see...

[2017-12-10 13:39] masa-matsu commented on #15232
Sorry for bothering you.
I understand the issue template, but my post is not suitable for here.
Thanks.

[2017-12-10 13:39] #15232 closed

[2017-12-10 14:00] weidong8405347 commented on #15216
Have I written custom code
yes
OS Platform and Distribution
linux platform
TensorFlow installed from
N/A
TensorFlow version
r1.4
Bazel version
CUDA/cuDNN version
no gpu
GPU model and memory
no gpu
Exact command to reproduce
N/A

[2017-12-10 14:39] DuncanMcBain commented on #9445
Hi!
The readme is written by us. To some extent, you have answered your own question there in the way you described people getting stuff working - we tend to say that any compliant, SPIR-supporting platform *should* work, but we will only describe something as supported if we know we have tested that combination of driver and hardware internally, because we can then actually reproduce failures, wr

[2017-12-10 14:54] jda91 commented on #14610
@yokiqust nope :/

[2017-12-10 15:19] rupeshs commented on #7856
@mrry
yep ,that worked (Windows 7,64bit )
tensorboard --logdir=training:E:\tmp\tensorflow\mnist\logs

[2017-12-10 15:31] pesser commented on #12598
Indeed, the problem seems to be with `_build_initializer_expr` and its exhaustive graph traversal. Just replacing this function with an identity function works fine for me so I'm not sure why it is needed.

As a workaround without modifying tensorflow code, I found that one can use an arbitrary initializer for variables and then work with the node returned from an assign op during the initializati

[2017-12-10 16:11] quaeler commented on #15246
What options did you specify in your configure step, and are you specifying a `--config` in your build command?

[2017-12-10 16:34] corner200 opened #15251 "different output size for avg_pool and max_pool"
Hello,

I have the same bug as this user.

https://stackoverflow.com/questions/47423172/tensorflow-why-does-avg-pool-ignore-one-stride-dimension

My version is uo-to-date

Have I written custom code: Yes
OS Platform and Distribution: Linux Mint 18.3, codename "Sylvia"
TensorFlow installed from Tensorflow Website
TensorFlow version 14.1.0
Bazel version N/A
CUDA/cuDNN version N/A
GPU model and memor

[2017-12-10 16:42] tanabics commented on #6035
It would be useful for me too....

[2017-12-10 16:43] ic0n opened #15252 "vm compiled tensorflow - libmklml_intel.so ImportError"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04 VM
- **TensorFlow installed from (source or binary)**:
Source
- **TensorFlow version (use command below)**:
Branch `r1.4` and branch `master`
- **Python version**:
3.6.3
- **Bazel version (i

[2017-12-10 18:14] werner-rammer opened #15254 "CMake build on Windows (tensorflow.dll) does not include many GPU ops"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10
- **TensorFlow installed from (source or binary)**:
from source
- **TensorFlow version (use command below)**:
1.4

- **Python version**:  3.5.2
- **Bazel version (if compiling from source)**:
using CMa

[2017-12-10 19:06] drpngx commented on #15252
OK, since you have a fix, would you mind sending a PR?

/CC: @gunan

[2017-12-10 19:22] drpngx commented on #15250
Can you try the core version `tf.layers.batch_norm`? This one has stronger support guarantees.

[2017-12-10 19:28] drpngx commented on #15246
It looks like `isnan` is missing in both `allocator.h` and `Eigen/Core`. The correct identifier and place to get it in `C++11` is `<cmath>`. Would you mind checking if it's properly included, and if not, send a PR?

[2017-12-10 19:29] drpngx commented on #15254
@werner-rammer good to know! Would you mind sending a PR to fix this?

/CC @guschmue @mrry

[2017-12-10 19:41] n3011 commented on #15250
@drpngx still the tests are falling even if I use `tf.layers.batch_normalization`

[2017-12-10 19:51] rosecatherinek commented on #11812
Thanks for pointing that out, @reedwm ! We hadn't noticed that at first. We are trying to fix that now. Thanks again!

[2017-12-10 19:51] drpngx commented on #15250
OK, I was confused about the `mismatch=100%` comment, it looks like the numbers are approximately `10%` off. It's not clear to me that after 10 updates you are guaranteed to get that close?

[2017-12-10 19:57] n3011 commented on #15250
If I run the same test with tf version `1.3.0`, after 10 updates values are close to 4 decimal points.

[2017-12-10 20:04] ahundt commented on #14248
@fchollet Could the tf keras import and the backend become simpler for the next release?

Perhaps:
`import tf.keras` and `from tf.keras import backend as K`

Or some other reasonable and easy to use option?

[2017-12-10 20:12] ic0n commented on #15252
@drpngx  PR #15253 sent, not very clean though.

oh, there's a related PR #14709 .

[2017-12-10 20:14] #14951 closed

[2017-12-10 20:30] drpngx commented on #15252
Thanks!

[2017-12-10 20:57] guschmue commented on #15254
this used to work when BUILD_SHARED_LIB=ON was introduced but since new ops like boosted trees have been added and the windows build (especially gpu) might need some touches to catch up.
If the missing symbols are related to lstm/gru - if I remember this correctly tensorflow.dll should not contain or reference those since they come from _lstm_ops.dll.
Maybe let me do a build what errors there are.

[2017-12-10 21:05] rryan commented on #15103
@VinceMarron in your STFT example, the Mel matrix is the only part that relies on Exp I believe. You can move the `linear_to_mel_weight_matrix` outside of the GPU device assignment block, or use soft device placement (which should automatically put the Exp on CPU): https://www.tensorflow.org/tutorials/using_gpu#using_a_single_gpu_on_a_multi-gpu_system

[2017-12-10 21:23] quaeler commented on #15246
@drpngx  - looks like this was addressed in a PR a few days ago: https://github.com/tensorflow/tensorflow/pull/15189

[2017-12-10 21:24] alextp commented on #15212
As it is now these functions are not really eager-compatible. When you set a shared_name they work by accident.

We should add a class-based version of them like we have been doing for other packages (like feature_column).

[2017-12-10 21:31] drpngx commented on #15246
Thanks @quaeler ! @hassaanseeker can you confirm?

[2017-12-10 22:44] mirh commented on #9445
I was reading AMD itself [knows](https://community.amd.com/thread/221158#2832345) their latest proprietary driver (at least on linux) is shit with SPIR.

Then, it's legit that you just claim as "supported" (even though maybe a better word could be tested or certified) platforms you tested.. But I think it's pretty blatant that "_somehow_ broken support" is different than no support at all.

p.s. I

[2017-12-10 23:00] mirh commented on #22
As I told you quite [some times](https://github.com/grmat/opencl-amd/issues/2#ref-pullrequest-271195948), no it won't work.
Pre GCN 3rd gen gpus simply lack the hardware for ROCm to either perform or even work at all.

SPIR(-V).. I'm not sure what you are talking about. It's not your job to care about that. Computecpp makes it from SYCL "commands", and then it's all (opencl) driver business.

You

[2017-12-11 00:13] Joshuaalbert commented on #3032
Generally, doing it in phase and amplitude space is better because there are far fewer local minima, however then yes you have phase wrapping. If you do it in phase/amp space then you should solve phase first (mostly) before doing pase+amplitude. Phase errors are usually the most important. I'm curious what problem you are trying to solve?

[2017-12-11 01:01] tensorflowbutler commented on #15251
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-11 01:13] MtDersvan commented on #15212
@alextp I couldn't find the `feature_column` with eager support code you referred to. Can you send a link?
Is a `shared_name` hack +/- stable?
It's just such a pure joy to debug big NLP models with eager, so I'd like to make at least a  somewhat proper support.
btw, are there any available public roadmap for eager compatibility?

[2017-12-11 01:20] ngcabang commented on #12954
I am experiencing this too, I can't restore my saved session for inference.

[2017-12-11 01:31] mudream4869 commented on #11588
GPU for SVD seems done now? https://github.com/tensorflow/tensorflow/issues/13603

[2017-12-11 01:39] corner200 commented on #15251
Thanks you.
I changed it.

And I have a question.
Why is it not possible to give the ksize of tf.nn.avg_pool or max_pool as a
tensor? It makes no sense, that it has to be an int.

Sincerely
Viktor

Am 11.12.2017 10:04 schrieb "Alfred" <notifications@github.com>:

[2017-12-11 01:42] corner200 commented on #15251
Thanks you. I changed it
 And I have a question. Why is it not possible to give the ksize of tf.nn.avg_pool or max_pool as a tensor? It makes no sense, that it has to be an int.
https://stackoverflow.com/questions/47740967/tf-avg-pool-with-dynamic-ksize

Sincerely Viktor

[2017-12-11 01:44] #14800 closed

[2017-12-11 01:51] WayneWang12 commented on #14620
@MarkDaoust Hi Mark, I suggest there should be instructions on the [read.me](https://github.com/tensorflow/models/blob/master/tutorials/embedding/README.md) because I followed the instruction from [word2vec](https://www.tensorflow.org/tutorials/word2vec) here but the operation is different from [Adding an op](https://www.tensorflow.org/extend/adding_an_op). It took me a while to find the real solu

[2017-12-11 02:12] XeMinZa opened #15256 "Problem about tf.data.Dataset.from_sparse_tensor_slices"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-12-11 02:22] drpngx commented on #15256
Could you elaborate a little bit more on what the problem is? Are you in a position to send a PR with more explanations?

/CC @mrry

[2017-12-11 02:44] #14819 closed

[2017-12-11 02:53] LvJC opened #15257 "can't read my own tfrecords and face FailedPreconditionError"
Please go to Stack Overflow for help and support:

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 1604
- **TensorFlow installed from (source or binary)**: conda tensorflow
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**: 2.7
- **Bazel version: N/A
- **CUDA/cuDNN version: N/A
- **GPU model and memory: N/A

### Describe the probl

[2017-12-11 03:26] stecklin commented on #15198
@marcoadurno Thank you so much for pointing that out. You made me realize that I am not using the `Dataset API` as it is meant to be used, that there is no need for placeholders.
Summaries can be added as you suggested, works like a charm.

[2017-12-11 03:33] XeMinZa commented on #15256
OK. thanks for your respond.
As the code I copy. When I call the `iterator_feature.get_next()`, it return (<Tensor>,<Tensor>,<Tensor>)
Are they represent the element's position,value and dense shape? I guess they are. I mean you could specific them. So that we can use the lib more convinient.

[2017-12-11 04:15] ad26kt commented on #15199
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes, but only with a few lines.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: conda pip install with the instruction on the tensorflow website(binary)
- **TensorFlow version (use command below)**: 1.4
- **Python vers

[2017-12-11 04:34] CrazyEric404 opened #15258 "[no such file or directory: 'x86_64'] when building the library in TensorFlow Lite for iOS"
Hi all, I encountered with an issur when trying to [setting up the environment to build TensorFlow Lite for iOS. ](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/g3doc/ios.md#building).
But when I was trying to build the library for all five supported architectures on iOS using `tensorflow/contrib/lite/build_ios_universal_lib.sh`, I have the follwing issue.

    xcrun

[2017-12-11 05:32] mingu6 opened #15259 "Using tensorflow to compute gradients w.r.t. spectral decomposition error"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-12-11 05:40] himsikha123 commented on #15144
Hi,
yes,its running correctly without freeze graph.
-> protoc --version
libprotoc 2.6.1
 I am trying now with protobuf 3.5.0 version and shall update the same.

[2017-12-11 05:49] himsikha123 commented on #15144
Actually,my current version of protobuf: 3.0.0 ,so i was trying to install 3.5.0 version but got the following error:

root@pcz-ee210201:/u/protobuf-master/python# pip install protobu
Collecting protobu
  Could not find a version that satisfies the requirement protobu (from versions: )
No matching distribution found for protobu

[2017-12-11 06:05] ppwwyyxx commented on #14657
Turned out that `Conv2d` actually does support empty tensor, but `FusedBatchNorm` does not. That is probably why I saw this error. To reproduce:
[code]

[2017-12-11 06:11] ppwwyyxx commented on #14657
There is a problem with conv2d backward as well, though forward works:
[code]

[2017-12-11 06:22] tukushan commented on #14363
Confirmed that cuDNN 7.0.5 from https://developer.nvidia.com/rdp/cudnn-download fixes this on the AWS p3.8xlarge (Volta 4 GPU)

[2017-12-11 06:29] facaiy commented on #15251
Related issue: Hvass-Labs/TensorFlow-Tutorials#19

[2017-12-11 06:53] chenhxbj commented on #9678
@haikuoyao I have followed the scripts in your first post, but when i use the generated quantize_graph.pb to transfer style with magenta/models/image_stylization/image_stylization_transform.py, i got the following error:
....
2017-12-11 14:30:08.818967: W tensorflow/core/framework/op_kernel.cc:1192] Data loss: Unable to open table file models/quantize_graph.pb: Data loss: not an sstable (bad magic

[2017-12-11 06:59] zhangcong2009 commented on #13962
@johnsrude I get the same error "error MSB3073". But I have input the full path of Anaconda pothon.exe in the cmake command, like  -DPYTHON_EXECUTABLE="D:\Program Files\Anaconda3\python.exe", and this error still happens. How can I solve this to compile wheel? Thanks!

[2017-12-11 06:59] himsikha123 commented on #15144
->I have downloaded the protobuf 3.5.0 from the below link :
https://github.com/google/protobuf/releases

->and followed the following steps to install from
https://github.com/google/protobuf/tree/master/python
->Then i tried to run the below cmd:
root@pcz-ee210201:/u/tensorflow-master#  bazel-bin/tensorflow/python/tools/freeze_graph --input_graph=/home/ee210201/tensorflow-for-poets-2/tf_files/ret

[2017-12-11 06:59] Achilles-96 opened #15261 "ValueError: Variable Model/LSTMenc/rnn/basic_lstm_cell/weights does not exist, or was not created with tf.get_variable(). Did you mean to set reuse=None in VarScope?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use command below)**: ('v1.1.0-rc0-61-g1ec6ed5', '1.1.0')
- **Python version**: 2.7.12
- **Bazel version (if

[2017-12-11 07:51] ad26kt opened #15262 "Bug with tf.layers.Dense"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-12-11 08:04] sandipmgiri commented on #15131
The Power h/w access can be obtained easily via http://osuosl.org/services/powerdev/request_hosting/
This should make it easy for this reporter as well as any other interested developers to test and analyze ppc64le specific behaviour and issues. Those can then be reported on this forum.

[2017-12-11 08:10] werner-rammer commented on #15254
I am afraind I am not proficient enough with CMake et al to send a (useful) PR. Happy to help, though!

[2017-12-11 08:13] hassaanseeker commented on #15246
Thanks a lot guys yes the issue was resolved by replacing **if (isnan(v))** with **if (Eigen::numext::isnan(v))** on line 49 in tesnorflow/core/framework/numeric_types.h.

[2017-12-11 08:16] talhadar opened #15263 "Cannot parse tensor from proto: dtype: DT_INT32 when using tf.extract_image_patches and tf.reshape"
Hi,
I'm experiencing a problem when using TensorFlow to extract image patches and then reshape the output. I'm using TensorFlow 1.3.0, what am i doing wrong?

That's my code:
[code]

The error i'm getting is this:
[code]

[2017-12-11 08:20] ad26kt commented on #15199
I updated the Exact command to reproduce field

[2017-12-11 08:30] facaiy commented on #15262
Could you give a reproducible code? Thanks.

[2017-12-11 08:39] facaiy commented on #15263
Hi, @talhadar .
I think you should use `I, P = sess.run([image,patches])` since there are only two Tensors here `[image, patches]`.

By the way, this question is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2017-12-11 08:49] himsikha123 commented on #15144
I have installed  protobuf-3.5.0:
  /usr/local/lib/python2.7/dist-packages/protobuf-3.5.0-py2.7.egg
But still its showing the same error.Please guide me in order to resolved this.

[2017-12-11 09:37] npanpaliya commented on #11603
I want to understand the use or area/feature of tensorflow where Relu operator or Max operator is used. And specially this particular test case where these operators may have NaNs and based on the results, something is decided. So, in case we change the behavior of this operator for NaNs, what features would be impacted or where can we see the difference in the TF's functionality.

[2017-12-11 09:42] alumae commented on #13926
From the documentation here https://www.tensorflow.org/install/install_linux I understand that CUDA 7.0 is also officially supported by Tensorflow (given that I compile it myself).

[2017-12-11 10:05] wangsen1312 commented on #14244
@helloiamsourav  maybe you should build it from source~

[2017-12-11 10:06] sandipmgiri opened #15266 "//tensorflow/compiler/xla/tests:array_elementwise_ops_test_cpu_parallel test fails on ppc64le"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
     Ubuntu 16.04 (ppc64le)
- **TensorFlow installed from (source or binary)**:
      Installed from source (v1.3.1)
- **TensorFlow version (use command below)**:
      TF1.3.1
- **Python version**:
     Python 2.7.5
- **Bazel version (if compiling from source)**:
       0.5.4
- **CUDA/cuDNN version**:
     NA
-

[2017-12-11 10:33] 121649982 opened #15267 "2017-12-11 17:53:55.834374: F tensorflow/contrib/lite/toco/tflite/export.cc:192] Unsupported operator: Slice"
System information
https://stackoverflow.com/questions/tagged/tensorflow
### System information
- **OS Platform and Distribution **:Linux Ubuntu 16.04
- **TensorFlow installed from **:source
- **TensorFlow version ,installed from source**:1.4
- **Python version**:2.7
- **Bazel version :1.5
- **GCC/Compiler version**: 5.4.0   20160609
- **cpu version(**:Intel® Core™ i5-7500 CPU @ 3.40GHz × 4
CUDA/c

[2017-12-11 11:05] adamcavendish opened #15269 "tf.layers.Layer.set_scope() problem might cause unexpected duplicate name ValueError"
- **OS Platform and Distribution**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version**: 1.4.1
- **Python version**: 3.5.2
- **CUDA/cuDNN version**: CUDA 8.0, CUDNN 7.0.5
- **GPU model and memory**: GTX1080 (8G)
- **Exact command to reproduce**: python3 test.py
- **Have I written custom code**: True
- **Bazel version**: N/A
- **GCC version**: N/A

Repod

[2017-12-11 11:32] cyrilP-qs commented on #15215
Post is updated

[2017-12-11 11:44] mamrehn commented on #14622
@bfan1256 At least it works with the latest tensorflow v1.4.1 ([tensorflow-gpu-v1.4.1-cuda-v9-cudnn-v7.whl](https://github.com/mind/wheels/releases/tag/tf1.4.1-gpu-cuda9)). I'm afraid you'd have to look into their compilation process and adopt it to the nightly version yourself to test it.

[2017-12-11 11:44] sleighsoft opened #15271 "TFGAN ideas for pretraining/training"
With the PR #14723 enabling `get_hooks_fn` to be set manually instead of the default `1` step generator and `1` step discriminator there comes a set of new "problems" / things to consider.

1. The `Estimator` saves configured tensor summaries in the background. This does not work when doing something like a `2/2` split for generator/discriminator or a `2/3`. Then `Estimator` will only save one ste

[2017-12-11 11:44] sleighsoft commented on #14257
I opened up a new issue for the pre-training/training with GANEstimator here #15271.

[2017-12-11 11:51] joel-shor commented on #15271
1) The GANEstimator is purposefully designed to record 1 step for 2/2 if that is what's specified. If want it to be saved as 2 steps, you should specify 1/1, no?

2) The generator would get 10 different batches of data. That is the normal behavior; AFAIK it is not standard to train multiple times on the same minibatch.

3) That behavior isn't standard in any estimator. An easy fix would be to have

[2017-12-11 12:00] qiuqiangkong opened #15272 "Wrongly used dropout bug"
Hi,

    I guess it should use **tf.layers.dropout** instead of **tf.nn.dropout** here? Because in the inference stage, all the nodes should be used instead of dropout. I guess this is a bug.

https://github.com/tensorflow/tensorflow/blob/r1.4/tensorflow/examples/tutorials/mnist/mnist_deep.py#L92

    Many thanks!

Best wishes,

Qiuqiang

[2017-12-11 12:12] sleighsoft commented on #15271
1. It makes it difficult to compare the performance of runs with different splits. If there is an easy way to configure it I would use it but if that is too much hassle to implement I can also live without it.
2. You are so correct, I completely misinterpreted that ....
3. The idea with `tf.cond` is great.

[2017-12-11 12:49] ruuda opened #15273 "Dataset Iterator is not an iterator"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: confidential
- **TensorFlow installed from (source or binary)**: [Pypi](https://pypi.python.org/pypi/tensorflow-gpu/1.4.1)
- **TensorFlow version (use command below)**: `v1.4.0-19-ga52c8d9 1.4.1`
- **Python v

[2017-12-11 12:58] tensorflowbutler commented on #15257
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-11 12:58] tensorflowbutler commented on #15258
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
TensorFlow installed from
Bazel version
CUDA/cuDNN version
GPU model and memory

[2017-12-11 13:14] snnn commented on #15273
I think it is expected. You can't write code like:
[code]

[2017-12-11 13:31] edelsohn commented on #11603
How does TensorFlow rely on this specific NaN behavior that apparently is probed in the testsuite? Is this documented in TensorFlow as semantics of its API?

[2017-12-11 13:31] ruuda commented on #15273
Is there a technical reason that prevents `Iterator` from being an iterator? It looks like the iterator does something unexpected, [and there is already a warning for that](https://github.com/tensorflow/tensorflow/blob/4be5afc8b656cf6b540b547a1faafd2a0a82f5f2/tensorflow/python/data/ops/iterator_ops.py#L30-L39). But as far as I can see, nothing prevents a `next()` and `__next__()` method that simpl

[2017-12-11 13:33] ruuda commented on #15273
CC @mrry, who is the author of the note.

[2017-12-11 13:36] alextp commented on #15212
The shared name hack will continue to work.

On Dec 11, 2017 01:16, "MtDersvan" <notifications@github.com> wrote:

[2017-12-11 13:46] MikulasZelinka commented on #8854
When trying to load a frozen pb model to visualise its graph, the snippets above didn't work for me in tensorflow 1.4, Python 3.6 (the resulting folder was empty).

Using the `import_to_tensorboard` function did the trick though:

https://github.com/tensorflow/tensorflow/blob/r1.4/tensorflow/python/tools/import_pb_to_tensorboard.py

[2017-12-11 14:08] sleighsoft commented on #15271
Is it ok if I open up a pull request that allows to disable `_use_check_shapes` in `GANEstimator`?

[2017-12-11 14:12] joel-shor commented on #15271
I'm waiting on a review to make this change internally, then it will be
pushed to github within 24 hours. Sorry for the delay.

On Mon, Dec 11, 2017 at 2:09 PM, Julian Niedermeier <
notifications@github.com> wrote:

[2017-12-11 14:24] sleighsoft commented on #15271
Great :)

[2017-12-11 14:38] sleighsoft commented on #15271
An idea regarding pre-training
[code]
The `RunTrainOpsHook` allows to set the number of pretraining steps which will be used only for the first step. After that you can configure the actual adverserial training approach e.g. 1/1

[2017-12-11 14:54] qmick commented on #15272
For `minst_deep.py`, the `keep_prob` argument of `tf.nn.dropout` is set to 1.0 to keep all nodes at test stage. It is not necessary to change to `tf.layers.dropout`.

[2017-12-11 15:11] AngusSinclair opened #15274 "breaking change to distributed training moving from TF v1.3 to v1.4: “UnavailableError: Trying to connect an http1.x server”"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
n/a
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Red Hat Enterprise Linux Server release 7.3 (Maipo)
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
1.4 (moving from 1,3)
b'v

[2017-12-11 15:21] martinwicke commented on #1560
It's likely still valid. A PR adding name scopes consistently would be
welcome!

On Dec 11, 2017 7:07 AM, "CSJY" <notifications@github.com> wrote:

[2017-12-11 15:26] yongtang commented on #15190
I tried the script and it is still running
[code]

Probably it is not long enough. Will see if I could reproduce it.

[2017-12-11 15:27] sleighsoft commented on #15271
Alternatively a new `GANTrainSteps` class can be created or the current one could be extended with pretrain steps to make it a 4 tuple `((pretrain_gen, pretrain_dis), (train_gen, train_dis))`.

[2017-12-11 16:00] sleighsoft opened #15278 "No gradient for argmax"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: binary (pip)
- **TensorFlow version (use command below)**: 1.5.0-dev20171210 (nightly from today)
- **Python version**: 3.6.2

`ArgMax` crashes w

[2017-12-11 16:20] vincentvanhoucke commented on #1122
@ZahlGraf I'll happily consider a PR that clarifies the documentation. We've been at this for so long that I no longer have a good sense of what's obvious or not, and would welcome clarifying documentation for someone with a fresh perspective on the topic.

[2017-12-11 16:21] LucasMahieu commented on #2118
I would say that you can invert 'input' and 'output' in the expression of conv2d output shapes:
for conv2d:
[code]

so I would say that for conv2d_transpose:
[code]

What do you think about that ?

[2017-12-11 16:41] qiuqiangkong commented on #15272
Many thanks! I see! I will close this issue!

[2017-12-11 16:41] #15272 closed

[2017-12-11 16:57] Androbin commented on #10296
@gunan @mrry Do we want this for (let's say) `tf_core_kernels.cmake` and `tf_tests.cmake` as well?

[2017-12-11 17:11] jsimsa commented on #13766
@svetlov, could you please describe your use case to me to make sure that when the support is implemented, it addresses your needs? thanks

[2017-12-11 17:27] OluwoleOyetoke commented on #12093
@GrandathePanda
Please I am having the same issue. I'm quite surprised at how its so difficult to get my loss value out of the TF Estimator object. I have asked the question on stack overflow also, still awaiting answers.

Please can you let me know the work around you used?

[2017-12-11 17:33] juliebernauer commented on #14363
@tukushan Glad to hear you can confirm the fix. @ManuelaPa @mholt @RerRayne @ljanyst Should be fixed by using cuDNN 7.0.5.

[2017-12-11 17:52] martinwicke commented on #15209
I am interested in a PR. Thank you!

[2017-12-11 17:52] yzhwang commented on #14601
@Oewyn Thanks for reporting the issue.
I believe the issue is due to code here:
https://bitbucket.org/eigen/eigen/src/b6e6d0cf6a77518580b5c7070beda7101118067c/unsupported/Eigen/CXX11/src/Tensor/TensorImagePatch.h?at=default&fileviewer=file-view-default#TensorImagePatch.h-266
And you are right on how to fix this too. We have noticed this internally too and have fixed the internal Eigen by adding th

[2017-12-11 17:53] GrandathePanda commented on #12093
Hey so while I monkey patched the original method to suit my purposes in that instance. I later found it was simpler (and more correct) to just grab loss on my evaluation passes. The .evaluate() method on the estimator returns a dictionary of metrics you can specify in your model function, in the estimator spec, https://www.tensorflow.org/api_docs/python/tf/estimator/EstimatorSpec eval_metric_ops

[2017-12-11 17:58] martinwicke commented on #8511
The source for that guide is in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/programmers_guide/saved_model.md

If you send a PR, we can add such an example. I think it would be helpful.

[2017-12-11 18:00] #12249 closed

[2017-12-11 18:12] isaprykin commented on #15158
If you run the calls to evaluate the size of the queue inside run_step_fn, then it won't trigger hooks.

In your code example, suppose the MonitoredSession instance handled a transient failure for you that resulted in a new underlying raw session.  The new session has restored from the last saved checkpoint, possibly undoing the updates that have been computed but haven't been checkpointed yet.  I

[2017-12-11 18:20] isaprykin commented on #13779
According to [this record](https://github.com/tensorflow/tensorflow/commit/6287fa848fb86994a503353ceb3bd663c3def4ac#diff-078d8aa8dc9179be5e99435311ade88f) that adds [ignore_live_threads=True](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/monitored_session.py#L1076), the stuck threads get killed later elsewhere.

[2017-12-11 18:30] headupinclouds commented on #14194
@johsrude The CMake build appears to be configured to generate an new version file `tensorflow/core/util/version_info.cc` for *every* build, which is included in the low level `tf_core_framework`.  This is at least partly responsible for the rebuild problems.

There is a custom command that creates the version file from python + git here:

https://github.com/tensorflow/tensorflow/blob/dcd820616d35

[2017-12-11 18:31] camaclean commented on #13926
This policy of only supporting the most bleeding edge dependencies is very problematic for HPC centers. Kernel module updates required for the latest Cuda versions are a much bigger deal on a supercomputer than they are on a workstation. At Blue Waters, we are still on Cuda 7.5, although we hope to get 8 at some point. We won't be getting 9. Please understand that "just run the most bleeding edge

[2017-12-11 18:33] tatatodd commented on #14798
We now have some auto-generated tables listing the supported ops on CPU and GPU:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/tf2xla/g3doc/cpu_supported_ops.md
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/tf2xla/g3doc/gpu_supported_ops.md

Unlike the TFLite docs, we don't have a breakdown starting from the Python APIs; the above tables are ba

[2017-12-11 18:37] mrry commented on #14194
@headupinclouds I'd be happy to review a PR for this. Thanks!

[2017-12-11 18:38] yifeif commented on #15207
I think it's easier to find out about the `yes "" | ./configure` trick than a new flag :). Closing this issue for now.

[2017-12-11 18:38] #15207 closed

[2017-12-11 18:40] skye commented on #15219
Using while_loop should have similar performance characteristics as an unrolled loop (and makes your graph smaller). I think there have been issues where people make very small body functions, and then there may be some noticeable overhead.

I agree the foldl situation is less than ideal. Thanks for filing this issue, it's very clear and at the very least will help others who run into this problem

[2017-12-11 19:02] #12822 closed

[2017-12-11 19:02] #12931 closed

[2017-12-11 19:02] tensorflowbutler commented on #15266
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code

[2017-12-11 19:02] tensorflowbutler commented on #15267
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
CUDA/cuDNN version
GPU model and memory

[2017-12-11 19:02] tensorflowbutler commented on #15269
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
Bazel version

[2017-12-11 19:03] tensorflowbutler commented on #12822
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-12-11 19:03] tensorflowbutler commented on #12931
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-12-11 19:07] angersson commented on #15269
Looks like the butler jumped the gun here.

Thanks for prepping a PR for this. Since it seems like a QOL improvement, I'll mark it as a FR rather than a bug, and wait for input on the PR rather than pinging someone here directly.

[2017-12-11 19:08] VinceMarron commented on #15103
@rryan  -- Agreed. I may be mistaken but I think the tf.gather() portion of tf.contrib.signal.stft() must run on cpu, and cpu is probably better suited for that operation, whereas having to copy a tensor to cpu to run tf.exp() on complex64 seemed silly. It appears @facaiy has implemented a gpu kernel that fixes this. Thanks.

[2017-12-11 19:09] angersson commented on #15263
Thanks, @facaiy!

This problem is indeed much better addressed on Stack Overflow, so I will close this issue. Thanks!

[2017-12-11 19:09] #15263 closed

[2017-12-11 19:11] angersson commented on #15261
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-11 19:11] #15261 closed

[2017-12-11 19:11] civilman628 commented on #8879
run this fix the issue.

 sudo rm -rf ~/.nv

[2017-12-11 19:12] adamcavendish commented on #15269
@tensorflowbutler Fields added.
@angersson Since it might cause someone's wrapping functions, i.e. `block` in `resnet` or `densenet` fail to have a function variable scope name, it's not simply a naive issue in my example or so.

[2017-12-11 19:14] civilman628 commented on #6698
run this fix the issue.

sudo rm -rf ~/.nv

[2017-12-11 19:15] rryan commented on #15103
@VinceMarron -- Gather does have a GPU kernel (I'm one of its authors :)).

https://github.com/tensorflow/tensorflow/blob/70e33e0f77cb4f92ddd70a8dd601873b178124fc/tensorflow/core/kernels/gather_op.cc#L153

https://github.com/tensorflow/tensorflow/blob/70e33e0f77cb4f92ddd70a8dd601873b178124fc/tensorflow/core/kernels/gather_functor_gpu.cu.cc

[2017-12-11 19:15] eLvErDe commented on #13926
I couldn't agree more.

This is why I build my own Debian/Ubuntu packages against provided CUDA framework.

I don't see installing latest bleeding edge CUDA toolkit by hands on production servers as a good practise...

[2017-12-11 19:15] angersson commented on #15259
Thanks for your detailed explanations! Since this doesn't look very much like a bug or a feature request, though (there is a chance that a bug is in here, in which case please file another issue once you can demonstrate it), please ask your question on [Stack Overflow](http://stackoverflow.com/questions/tagged/tensorflow), which is much better suited for community support questions.

Thanks!

[2017-12-11 19:15] #15259 closed

[2017-12-11 19:28] orpillar opened #15280 "Missing dlcose()/FreeLibrary() after dlopen()/LoadLibrary()"
Have I written custom code: N/A
 OS Platform and Distribution: N/A
 TensorFlow installed from: N/A
 TensorFlow version: N/A
 Bazel version: N/A
 CUDA/cuDNN version: N/A
 GPU model and memory: N/A
 Exact command to reproduce: N/A

Problem description:
A. Looking at code below, there are couple of issues:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/nnapi/NeuralNetwor

[2017-12-11 19:41] mrry commented on #15273
Yes. In TensorFlow (except Eager mode), we use the `tf.data.Iterator` to get symbolic `tf.Tensor` objects that can be chained together with other operations to build a dataflow graph. We typically build the graph once, and use it many times. Wrapping the graph construction in a `for` loop (by using the `tf.data.Iterator` as a Python iterator) would not be efficient. Furthermore, `tf.data.Iterator`

[2017-12-11 19:41] #15273 closed

[2017-12-11 19:49] mrry commented on #15256
In TensorFlow 1.5, we'll deprecate `tf.data.Dataset.from_sparse_tensor_slices()` and fold its behavior into `tf.data.Dataset.from_tensor_slices()`: you'll be able to use a `tf.SparseTensor` in place of a `tf.Tensor` in that API (and many more), and it will work better with batching etc. You can try this out by installing the `tf-nightly` PIP package, or building from source. You'll be able to writ

[2017-12-11 20:12] VinceMarron commented on #15103
Ah.. Awesome work on this @rryan. Clearly I'm the rookie here (but trying to learn..)

I very well could be doing something else wrong but appears there is a glitch in 'gathering' from frame indices on gpu in eager mode.

Example:

In standard graph mode this code runs just fine:

[code]

The equivalent code in eager mode, however, produces an error:

[code]

Using  tfe.enable_eager_execution(tfe.

[2017-12-11 20:41] CraigKnoblauch commented on #14182
Same issue on MacOS 10.11.6 with Python 3.6.1

[2017-12-11 21:02] angersson commented on #15251
This looks like a duplicate of #14886 -- please add any further comments there.

[2017-12-11 21:02] #15251 closed

[2017-12-11 21:04] AlphasCodes commented on #22
@znmeb and everyone

I have (L)Ubuntu 17.10 incl. kernel 4.14.x and the OpenCL library parts from the AMDGPU Pro 17.40 driver running and can run OpenCL applications like clinfo or Boinc (e.g. Engima@Home, Milkyway@Home) without issue on my AMD A12-9800E APU.

I can also successfull compile and use the tensorflow (currently version 1.4.1) CPU version. But i fail to successfully compile the OpenCL

[2017-12-11 21:07] angersson commented on #15235
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-11 21:07] #15235 closed

[2017-12-11 21:15] angersson commented on #15215
Thanks for your post. Unfortunately, the issues tracker is for tracking bugs and feature requests -- not for escalating support requests.

[2017-12-11 21:15] #15215 closed

[2017-12-11 21:15] gunan commented on #13926
Supporting only one version of CUDA officially just means we have limited resources and other priorities unfortunately preempted older CUDA versions. But I definitely understand your side of the problem.
I will escalate the issue, and see what we can do, but as always, we are happy to accept any contributions that will keep TF working for older CUDA versions. If you have any fixes, I can try to ge

[2017-12-11 21:18] angersson commented on #14691
@gunan Any updates on this? Can we link to an nvidia page / thread to help triage this issue?

[2017-12-11 21:20] angersson commented on #13575
Assigning to @saxenasaurabh as part of triage.

[2017-12-11 21:23] angersson commented on #13461
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-12-11 21:23] #13461 closed

[2017-12-11 21:24] svetlov commented on #13766
@jsimsa, I learn model to estimate video - text relevance, so from one side i have sequence of frames(var length), and by other side i have bag of words/ngrams. For this it's convinient to use old interface `tf.batch(..., dynamic_pad=True)`, cause i want padded video frames for lstm and sparse representation of bag of words/ngrams cause of `tf.contrib.layers.safe_embedding_lookup_sparse`.

[2017-12-11 21:32] mrry commented on #14596
Yes, this is an unfortunate implementation detail of `Defun`, which I'm in the process of fixing. We should be able to prune from a function body all *stateless* nodes that do not influence either a return value or the input to a stateful node. This should apply to `Dataset.map()` and other `Dataset` transformations that are parameterized by a function.

[2017-12-11 21:33] angersson commented on #13201
@shamoya, any update on this?

[2017-12-11 21:40] angersson commented on #11583
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-12-11 21:40] #11583 closed

[2017-12-11 21:44] angersson commented on #13083
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-11 21:44] #13083 closed

[2017-12-11 21:47] angersson commented on #12539
This appears to be resolved, so I'm closing the issue to help keep the issue tracker focused.

[2017-12-11 21:47] #12539 closed

[2017-12-11 21:53] angersson commented on #12667
@lsy643, @jorgemf, can you confirm that the issue has been fixed at HEAD?

[2017-12-11 22:01] boeddeker commented on #14596
I am not sure if it is possible, but it would be really nice if there is a full analysis of the `Dataset` graph.
 - The simplest case is what you describe, prune the function body of `Defun`.
 - But what if you do `Dataset.map().map()`? Does the `Defun` allow detect _stateless_ nodes from the second map in the first map?
 - Maybe the most difficult but also the most interesting case. Is it possibl

[2017-12-11 22:02] znmeb commented on #22
@AlphasCodes I don't have anything running on Ubuntu - all my working things are on Arch. I do have the machine dual-booted with Ubuntu 16.04.3 but the AMD proprietary libraries don't work there yet. As far as I know they're not supported on 17.10, but if you've got the OpenCL piece working on 17.10 I might add a third boot - I have plenty of disk space. ;-)

What kind of errors are you getting? I

[2017-12-11 22:05] carlthome commented on #14798
Thanks!

[2017-12-11 22:11] eLvErDe commented on #22
What you mean, "not supported" ?

[2017-12-11 22:11] shamoya commented on #13201
sure @angersson this was already merged to tensorflow master.
See #13564
Relevant description was also added to the [verbs readme page](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/verbs/README.md)

[2017-12-11 22:17] mirh commented on #22
[This](http://support.amd.com/en-us/kb-articles/Pages/AMDGPU-PRO-Driver-for-Linux-Release-Notes.aspx).
As for ubuntu, only 16.04.3 is said to be supported (at least officially then, considering even arch can get it to work after some script magic)

[2017-12-11 22:39] mrry commented on #14596
Yes, we have plans to perform deeper rewrites on the `Dataset` graph that should cover at least the first two cases. The third case is difficult because an `Iterator` might have multiple consumers that you different sets of the outputs from a `Dataset`, and a new consumer that requires a superset of the existing consumers' outputs might arrive after we start processing. We'd need a more restrictiv

[2017-12-11 22:40] CrazyEric404 commented on #15258
@tensorflowbutler thanks, I've updated that.

[2017-12-11 22:41] znmeb commented on #22
If anyone cares, the port of AMDGPU-Pro Driver 17.40 to Arch is ongoing and is very active on GitHub at <https://github.com/corngood/archlinux-amdgpu/pull/54>,

We really should close this issue, since, as @mirh pointed out, TensorFlow uses SYCL, not OpenCL. Maybe we should open another one, "TensorFlow on AMD cards"??

[2017-12-11 22:57] angersson commented on #15199
I'm having a hard time understanding what the issue here is. Can you rephrase your question with an explicit bug report or feature request?

[2017-12-11 23:00] mirh commented on #22
No, it's totally legit.
You want tensorflow to run on opencl devices, that's the aim, end and legit.
Saying it was actually using SYCL was only a technical nitpick I made, because all these acronyms of magically random technologies were making me mad.

If you want something all-that-specifically-crafted for amd, I'd recommend to check their [hiptensorflow](https://github.com/ROCmSoftwarePlatform/h

[2017-12-11 23:07] angersson commented on #13187
@balaji-in-git, can you provide code to verify this regression? Something that used to be fast but is now slow?

[2017-12-11 23:12] felicitywang commented on #8658
@martinwicke Do you mind giving a detailed tutorial(lines of code) for this method? It's still unclear to me how to implement this.

[2017-12-12 00:09] flx42 opened #15284 "[RFE] Runtime GPU Docker image without Jupyter"
Current image size for `nightly-gpu`:
[code]
Current Dockerfile:
https://github.com/tensorflow/tensorflow/blob/abd5375ba8d373045321d1eebdb4501c36ab0ccd/tensorflow/tools/docker/Dockerfile.gpu

I see two potential improvements:
1) We already switched the `FROM` to use the `runtime` base image of CUDA. We could go one step further and use `nvidia/cuda:9.0-base`. This flavor of CUDA is new with CUDA 9

[2017-12-12 00:09] flx42 commented on #15284
@gunan thoughts?

[2017-12-12 00:09] ad26kt commented on #15199
I uploaded an exact code to reproduce the error up there.
In a nutshell, an rnn cell with attention wrapper can only be used with decoder function but not rnn function

[2017-12-12 00:10] ad26kt commented on #15262
`
import tensorflow as tf
with tf.variable_scope('hello') as var_scope:
    var = tf.get_variable('var', [3,4,5])
    dense = tf.layers.Dense(5, name = 'dense_layer')
    b = dense(a)
`

[2017-12-12 00:13] gunan commented on #15284
I like the idea, and I expecially like the image size improvement. But I almost never use jupyter myself.
@wolffg @caisq @martinwicke what do you all think?

[2017-12-12 00:25] martinwicke commented on #15284
Many people do though -- a thinner docker container would make a lot of sense for a lot of people (could we use it in our CI?), but I'm not sure we have an appetite for maintaining more of those.

[2017-12-12 00:34] drpngx commented on #15190
Note that S3 can fail every so often. I am not sure if we have retry logic.

[2017-12-12 00:36] flx42 commented on #15284
Could these people use the `devel-gpu` image instead? i.e., are they likely to require other packages provided by `devel`? The `nightly-devel-gpu` image is 4.87 GB, but maybe we can shrink it down more to make it acceptable.

[2017-12-12 00:36] facaiy commented on #15262
Thanks, I think you may forget to define variable a in the code.

[2017-12-12 00:42] hanfeisun opened #15285 "Add kappa coefficient as a new metric?"
Currently tensorflow supports using accuracy as a metric for model's performance.

However, for unbalanced datasets, kappa coefficient (https://www.wikiwand.com/en/Cohen%27s_kappa#) is a commonly used metric. Would it be possible to add this one in the model.metrics?

[2017-12-12 00:43] ad26kt commented on #15262
I did by `tf.get_variable` function.
Do you mean that I should define variable with other function?

[2017-12-12 00:44] martinwicke commented on #15284
That's a very good idea. We probably want to clean the devel image a bit, but saving weight is always good.

[2017-12-12 00:49] facaiy commented on #15262
Oh, if I understand you correctly, `a` is written as `var` by mistake, right?
[code]

[2017-12-12 00:54] angersson commented on #12177
@mrry, can you take a look at this?

[2017-12-12 01:02] ad26kt commented on #15262
Yes, It was my mistake.
Oh, I didn't attention the difference between variable and tensor.
Then, can I ask a question that, why Tensorflow gives such a restriction?

[2017-12-12 01:07] tensorflowbutler commented on #15274
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code

[2017-12-12 01:09] mrry commented on #12177
Nothing obvious springs to mind. There might be some issue in one of the Eigen kernels we use when building with MSVC.

Can you narrow the reproduction down further? In particular, it would be useful to know which op produces a different *output* in the two configurations. For example, to get the immediate inputs of the failing op, you could run the following code in both versions:

[code]

[2017-12-12 01:17] ppwwyyxx commented on #15262
Tensorflow should __not__ give such a restriction.
Before this is fixed, you can work around it by:
[code]

[2017-12-12 01:17] facaiy commented on #15262
The question is too broad for me,

As @alextp clarified it in https://github.com/tensorflow/tensorflow/issues/14788#issuecomment-348651437

I think perhaps @fchollet @alextp are more suitable to answer the question.

[2017-12-12 01:24] angersson commented on #15285
@roumposg, what do you think about this?

[2017-12-12 01:26] angersson commented on #13201
Thanks!

It looks like this is resolved, so I'm closing the issue.

[2017-12-12 01:26] #13201 closed

[2017-12-12 01:27] fchollet commented on #15262
Can you provide the full stack trace?

[2017-12-12 01:29] angersson commented on #15199
@lukaszkaiser, can you take a look at this?

[2017-12-12 01:41] ad26kt commented on #15262
Sure,
The original code is :
[code]

And the stack trace:
[code]

[2017-12-12 01:45] facaiy commented on #15269
@adamcavendish I think you recreate the variable_scope, which introduces the name conflict:
[code]

Perhaps a better way is to always create new variable_scope when invoked repeatedly,  I mean, use `with tf.variable_scope(None, default_name='two_batchnorm'):` instead.

[2017-12-12 01:46] tensorflownoob99 opened #15288 "Eager: eager mode considerably slower than standard TensorFlow for large matrix multiplications"
We have been benchmarking eager mode versus standard TensorFlow for large square matrix multiplications, specifically the time to run

m = tf.matmul(A, B) (in eager mode)

versus

m = sess.run(self.c, feed_dict={self.A:A, self.B:B})

in non-eager mode.

We find that while runtimes are comparable for small matrices, eager mode is considerably slower for repeated multiplications of large matrices (e

[2017-12-12 02:01] headupinclouds commented on #14194
I've pushed the above changes in a PR (tested in another branch) for now:

https://github.com/headupinclouds/tensorflow/tree/pr.cmake.incremental.build

I'm running into some unrelated build issues after pulling the latest from master.  I'll hold off on submitting this until I sort those out.

[2017-12-12 02:12] unitive-jim opened #15290 "Feature request: provide a means to configure, build, and install that includes cc"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-12-12 02:16] flx42 opened #15291 "Dockerfile.devel-gpu: infinite prompt loop"
[code]

Is it because the `1.4` branch doesn't support CUDA 9.0?
https://github.com/tensorflow/tensorflow/blob/abd5375ba8d373045321d1eebdb4501c36ab0ccd/tensorflow/tools/docker/Dockerfile.devel-gpu#L74-L76

@gunan

[2017-12-12 02:18] zh794390558 commented on #15208
@tensorflowbutler  Done.

[2017-12-12 02:19] wweichn commented on #15084
yeah, I though h can be applied to calculate gradients directly.  I mean apply_gradients(h, types_lookup_table). But the size of h is different from gradients in h = sess.run(gradients), however, it seems that h is composed of three elements, and it needs some change to get the final gradients that can be applied to apply_gradients.

[2017-12-12 02:23] facaiy commented on #15278
It seems duplicate of https://github.com/tensorflow/tensorflow/issues/14931#issuecomment-347751803

[2017-12-12 02:51] adamcavendish commented on #15269
@facaiy Yep, you're right. It does break the existing behavior. However, we have to break the existing behaviors if we'd like solve the problem.

I just wonder why it should be an expected behavior, I mean if deliberately, in my example, `two_bn/bn, two_bn/bn_1, two_bn/bn, two_bn/bn_1` should be accepted rather than `two_bn/bn, two_bn/bn_1, two_bn/bn_2, two_bn/bn_3` or `two_bn/bn_1, two_bn/bn_2, t

[2017-12-12 03:02] flx42 commented on #15284
Ok, I'll see what I can do.
Are you open to docker [multi-stage builds](https://docs.docker.com/engine/userguide/eng-image/multistage-build/)? It requires a recent version of Docker to build, but the generated container image is still compatible with older versions of Docker.

[2017-12-12 03:07] yongtang commented on #15284
👍 for multi-stage build (docker 17.05), if the infrastructure of Jenkins supports it.

[2017-12-12 03:11] cdbfoster commented on #14809
I just got bitten by this.  The way that it's mentioned in the doc is very easy to overlook, considering that updating these manually is critical for use, and the note font is smaller than any other on the page...

It would be great to have these updated internally by default, providing an option to update manually if desired.

[2017-12-12 03:12] #15105 closed

[2017-12-12 03:25] corneel commented on #10104
I had the same problem. Tensorflow wants at least two categories. After that, I still had an issue and realized that my second folder only contained PNG files. I exported one of the PNG files as a Jpeg and the problem was solved. So in short, it needs at least two folders and it seems to be partial to Jpeg files.

[2017-12-12 03:41] facaiy commented on #15269
Do you try
[code]

It might resolve your problem.

[2017-12-12 03:41] amirjamez opened #15292 "Converting a .pb file to .meta in TF 1.3"
Using `tf.slim`'s pre-trained models we can [export_inference_graph](https://github.com/tensorflow/models/tree/master/research/slim#exporting-the-inference-graph) to generate a `.pb` file for a given `.ckpt`, say `inception_v3`. Is there a way to generate `.meta` file of inception_v3 using these two files as well?

My specific use case is that I need to see the pre-trained weights if inception in

[2017-12-12 03:43] adamcavendish commented on #15269
@facaiy Yep, however, it'll make incrementations on `two_bn`, but not `bn_x`

[2017-12-12 03:48] naveenjafer commented on #2924
@jinfengfeng I did not understand Point 2 either, could you please help. @IvyGongoogle Were you able to solve the issue?

[2017-12-12 04:10] facaiy commented on #15269
@adamcavendish Yes, increment on variable_scope is intentional: it sees function `two_batchnorm` as an unit, and we create two ones here: `two_batchnorm`, and `two_batchnorm_1`.

When reentering one existing variable scope, it's not clear that you want to create new layer or reuse the one created before. I think the layer's behavior is consistent with variable, see: [variables#sharing_variables](h

[2017-12-12 04:25] davidcittadini opened #15293 "Encrypted Data"
It is not easy/possible to use TensorFlow with encrypted data, such as via Homomorphic Encryption or Multi-Party Computation.  It would be useful if future versions of TensorFlow could support HE/MPC or provide the ability for third-party HE/MPC support.

------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFl

[2017-12-12 04:35] rryan commented on #15103
@VinceMarron huh, so I haven't used Eager mode with a GPU, but I think that error is saying your `signal` tensor is not located on the GPU, while the op `Shape` (which is part of the subgraph created by `tf.contrib.signal.frame`) expected that it was.

Can you try the advice in the error of putting `.gpu()` on the end of your definition of signal to explicitly copy it to the GPU?  Or maybe define

[2017-12-12 04:45] adamcavendish commented on #15269
I think very probably you're right, but I'd leave this issue and PR open for further discussions.

[2017-12-12 04:59] nguyenhong86thinh opened #15294 "Error tensorflow load library with Cuda 8 and 9"
Hello,
I use TF 1.0.1, and in my PC (Ubuntu 17.03), I already installed both Cuda 8.0 and Cuda 9.0.

When I run a demo code (Fast R_CNN), I got this error:

I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA library libcublas.so.8.0 locally
I tensorflow/stream_executor/dso_loader.cc:126] Couldn't open CUDA library libcudnn.so.5. LD_LIBRARY_PATH: /usr/local/cuda-8.0/lib64
I te

[2017-12-12 05:53] shm007g commented on #2924
I did not understand Point 2 either, could you please help. @IvyGongoogle Were you able to solve the issue?

[2017-12-12 05:57] naveenjafer commented on #2924
I tried what was mentioned in point 2, but running a command like `/opt/glibc-2.17/lib/ld-linux-x86-64.so.2 --library-path /opt/glibc-2.17/lib:$LD_LIBRARY_PATH:usr/lib64/ /home/njafer/python/bin/python3` at least works, but a command like `/opt/glibc-2.17/lib/ld-linux-x86-64.so.2 --library-path /opt/glibc-2.17/lib:$LD_LIBRARY_PATH:usr/lib64/ ls` gives me a `
ls: error while loading shared librarie

[2017-12-12 06:03] sandipmgiri commented on #15266
Hi @tensorflowbutler, I have updated the relevant field :  `Have I written custom code :N/A`

[2017-12-12 06:07] wujsy commented on #14706
@angersson Thanks for your reply, Yes, I use Docker for building, my bazel version 0.7.0, but I can build sucessfully if do not use a Docker. So I doubt that is it a Docker problem?
Here is my Docker system info:
### System information
- **Have I written custom code: No
- **OS Platform and Distribution : Linux Ubuntu 16.04
- **TensorFlow installed from: Source
- **TensorFlow version (use command b

[2017-12-12 06:22] gunan commented on #15291
The reason is 1.4 branch defaults to CUDA 8, and if you do not have cuda8 available on the image.
@angersson actually fixed this internally to avoid the infinite loop there.

You should be able to get around this by setting TF_CUDA_VERSION to 9.0, and TF_CUDNN_VERSION to 7 in the image.
In the future, we should have this controlled by ARGS in the image.

[2017-12-12 06:49] facaiy opened #15296 "variable_scopes_count miscalculates when reentering variable_scope again"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: mac 10.11
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.4
- **Python version**:  3.5
- **Bazel version (if compiling from source)**: N/A
- **GCC/Co

[2017-12-12 06:51] flx42 commented on #15291
Sure, but I'm reporting that your official Dockerfile is broken ;)

[2017-12-12 06:52] snnn opened #15297 "tf.bfloat16 is unsigned on Windows"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
1.4.0
- **Python version**:
3.5.4
- **Bazel version (if compiling from source)**:
None
- **GC

[2017-12-12 06:57] bitzy commented on #14267
Encountered the same problem. Is there any solution?
I am using tensorflow 1. & opencv 3.2.0 in Ubuntu 16.04.
The bazel version is 0.6.1,
and the tensorflow compile command is: ` bazel build -c opt --copt=-mavx --copt=-mavx2 --copt=-mfma --copt=-mfpmath=both --copt=-msse4.2 --config=cuda tensorflow:libtensorflow_cc.so`

[2017-12-12 07:18] sleighsoft commented on #15278
What makes me wonder is that my generator worked in a previous configuration and the error originates from `tf.contrib.seq2seq.TrainingHelper` which is a common class for seq2seq training. The only thing I believe I have changed is switching from tf1.4 to tf1.5 nightly

[2017-12-12 07:27] tensorflowbutler commented on #15280
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-12 07:32] yanghanxy commented on #10215
Hoping to have this feature soon.
Linear Chain CRF really helps a lot in tasks such as POS tagging, named entity recognition and slot extraction.

[2017-12-12 08:07] hongjizhou commented on #14547
I met the same question on iOS again. Do you know how to solve it?Thank you.

[2017-12-12 08:58] sleighsoft commented on #15278
So I tested my code with tensorflow 1.4 instead of tf-nightly from yesterday and I do not get the `ArgMax no gradient` bug. This seems to be an issue in 1.5 (nightly)

[2017-12-12 09:07] xysmlx commented on #5193
Hi, Qing @qingyangqing , in the density of pruned neural networks (about 10%-30%), sparse-dense matrix multiplication **cannot** outperform dense-dense matrix multiplication both in GPU and CPU. Although the sparse method reduces lots of computation, the utilization of CPU/GPU is much lower than that of dense-dense matrix multiplication. According to experiments, GEMM can achieve up to 90%+ peak f

[2017-12-12 09:16] XeMinZa commented on #15256
Thanks for your help. Now, SparseTensor can be put into the model easily.  But I got other bug like "index out of other" and "index repeat". I think I can fix it. And doesn't the tf-nightly have GPU-version.?It is a little bit slow....

[2017-12-12 09:27] sleighsoft commented on #15271
I looked at the graph of `GANEstimator` in Tensorboard and I have an additional `Discriminator_1`.
Is that to be expected?

![image](https://user-images.githubusercontent.com/9438971/33876870-026f8cda-df27-11e7-86d1-2766f21574f1.png)

[2017-12-12 09:35] vijaysaimutyala commented on #7856
@enpasos Works on Windows 10, 64-bit with Python 3.5. Point to be noted, you should be in the drive only and not even inside the log folder.

Works only when inside D:\> not when in the complete log path.

Only issue I had was to I had to execute it with python instead using tensorboard directly.
python -m tensorboard.main --logdir="D:/JupyterNotebooks/MultivariateTimeSeries/logs/"

[2017-12-12 09:37] HedgehogCode commented on #7149
What is the current status of this issue? Is someone working on it and is it supposed to be resolved soon or is it a goal which lies far in the future?

[2017-12-12 09:37] joel-shor commented on #15278
It seems likely unrelated to your particular code, but just in case (and for completion) can you include the code snippet that is throwing this error?

[2017-12-12 09:41] sleighsoft commented on #15278
I cannot share the whole code, it is rather large.
But it comes from the `TrainingHelper`

[code]

[2017-12-12 09:47] joel-shor commented on #15271
1) One discriminator is for the real data, the other is for the fake data. The weights are shared.
2) To support pretraining, how would you feel about making a function in `train.py` called `get_pretraining_sequential_train_steps(pretraining_steps, train_steps)` that runs `pretraining.discriminator_train_steps` pretraining for D, `pretraining.generator_train_steps` pretraining for G, then `train_s

[2017-12-12 09:55] jorgemf commented on #12667
@angersson I have been using a nightly build for the last week and no stop happening anymore. I am not sure about TF 1.4.1

[2017-12-12 09:56] ferreirafabio commented on #15040
@mrry

[2017-12-12 09:56] ferreirafabio commented on #15040
I'd appreciate your comment @mrry

[2017-12-12 09:56] sleighsoft commented on #15271
Where is `get_sequential_train_steps` used right now?

[2017-12-12 10:07] joel-shor commented on #15271
1) That is the normal variable scope naming mechanism. You could add an extra encapsulating name scope
2) A few places. You should use code search to find them all

[2017-12-12 10:08] manuel-reil opened #15305 "Feature: Tensorflow-native doc2vec implementation planned?"
### System information
Have I written custom code N/A
OS Platform and Distribution N/A
TensorFlow installed from N/A
TensorFlow version N/A
Bazel version N/A
CUDA/cuDNN version N/A
GPU model and memory N/A
Exact command to reproduce N/A

### Describe the problem

**Situation:**

- We are seeking for a doc2vec implementation based on Tensorflow.
- The reason for this is to be "as PaaS as possible"

[2017-12-12 10:11] omarcr commented on #1355
I think the solution is to clean  the session after training a model

[2017-12-12 10:22] bhack commented on #12888
Also AMD, ARM, IBM, Intel, Huawei, NVIDIA, and Qualcomm logos appeared.

[2017-12-12 10:27] sleighsoft commented on #15271
When searching in `tensorflow\contrib\gan\python` I only find it to be defined in `contrib\gan\python\train.py` and never used.

[2017-12-12 10:41] meldron opened #15306 "GO Tests Fail for Tensorflow 1.4.0 but example code works on amd64 and arm64"
### System information
- ~**Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**~:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Linux Ubuntu 16.04 on amd64 and arm64
- **TensorFlow installed from (source or binary)**: amd64: binary (https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-gpu-linux-x86_64-1.4.0.tar.gz); ar

[2017-12-12 10:44] AlphasCodes commented on #22
OK i don't know if i have enough time to do the build again and provide the compile errors until the weekend. But i added my existing documentation to my new github repo.

See https://github.com/AlphasCodes/DeepLearning for Details (My hardware/software setup + AMD OpenCL setup + Tensorflow setup)

[2017-12-12 10:50] rishabh135 commented on #13348
@mrry  I am also facing a similar issue when applying a dense layer just after using tf.layer.Flatten() , is there any workaround where we can use dense with some layer that is of the shape [batch_size , None] (None as the dimensions of the second shape argument keeps changing ) . I did go through your answer on stack overflow regarding the same question https://stackoverflow.com/questions/3994779

[2017-12-12 10:50] meldron commented on #1924
The problem still exists in 1.4.1. The fix for version 1.3 mentioned above no longer works.

[2017-12-12 10:52] facaiy commented on #15278
Perhaps it is related to 69c32459 , which removed the `tf.cast` about 5 days ago.

[code]
Output:
[code]

[2017-12-12 10:55] sleighsoft commented on #15278
That seems to be a hot lead.
Will it be added back then :D

[2017-12-12 12:34] SimianRainbow commented on #6385
The link referring to the [AAR build](https://bintray.com/google/tensorflow/tensorflow-android) is now giving a 404. Has the link for this windows build method now changed?

[2017-12-12 12:47] rongjiecomputer commented on #10521
Any improvement on this is welcomed. Currently `conv_grad_ops_3d.cc` and `conv_ops_3d.cc` took 2 hours to compile each on my machine (2 Core + 4GB RAM + HDD). I have to try to avoid making changes to common header files to avoid recompiling these two files...

[2017-12-12 12:49] sandipmgiri commented on #15266
Continued with the debugging, found following things:

**IsFiniteScalarF32 sub-test fails at line**:
https://github.com/tensorflow/tensorflow/blob/v1.3.1/tensorflow/compiler/xla/tests/array_elementwise_ops_test.cc#L99
`auto result = builder.IsFinite(builder.ConstantR0<float>(NAN));`
and https://github.com/tensorflow/tensorflow/blob/v1.3.1/tensorflow/compiler/xla/tests/array_elementwise_ops_test.cc

[2017-12-12 13:02] BL4CKvGHOST opened #15311 "Support python3.6 Linux"
Python3.6 support Linux

[2017-12-12 13:12] meteorcloudy commented on #10521
@rongjiecomputer The slow compiling is caused by `__force_inline` used in eigen, we have a change to remove `__force_inline`, but it's not merged yet.

If you don't mind you can use @gunan's temporary repository. Follow the change in https://github.com/tensorflow/tensorflow/pull/15265.

[2017-12-12 13:20] orpillar commented on #15280
@tensorflowbutler, template updated as below. Thanks.
Have I written custom code:  N/A
OS Platform and Distribution:  N/A
TensorFlow installed from:  N/A
TensorFlow version:  N/A
Bazel version:  N/A
CUDA/cuDNN version:  N/A
GPU model and memory:  N/A
Exact command to reproduce:  N/A

[2017-12-12 13:23] Anmol-Sharma commented on #12508
@felicitywang did it work for your use case?

[2017-12-12 13:24] timmolter commented on #14855
@XiaXuehai Did you ever figure out a fix? After building TF from source on a Mac running High Sierra, and running Tensorboard, I also get that same exact error.

[2017-12-12 13:26] facaiy commented on #15311
https://www.tensorflow.org/install/install_linux#python_36 ?

[2017-12-12 13:30] tensorflowbutler commented on #15292
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-12 13:30] tensorflowbutler commented on #15293
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-12 13:30] tensorflowbutler commented on #15294
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-12 13:32] sleighsoft commented on #15271
Regarding 1. in your comment https://github.com/tensorflow/tensorflow/issues/15271#issuecomment-350702852

When altering the train_steps or get_hooks_fn, how would I log the loss for the pretraining steps?

[2017-12-12 13:33] anonym24 opened #15312 "iOS build_all_ios_ssd.sh 'double-conversion/double-conversion.h' file not found"
iOS `build_all_ios_ssd.sh` `'double-conversion/double-conversion.h' file not found`

[code]
but script downloaded `double-conversion` in `downloads` folder located at `tensorflow/contrib/makefile`

[2017-12-12 13:41] philipjan commented on #10458
hello guys, currently experiencing on this. do u have any ideas?

[2017-12-12 13:43] Nassimbelmecheri opened #15314 "tensorflow.python.framework.errors_impl.NotFoundError: Can not get size for:"
D:\Python\Python35\models-master\research\object_detection>D:\Python\Python35\python train.py --logtostderr --train_dir=training\ --pipline_config_path=training\ssd_mobilenet_v1_pets.config
Traceback (most recent call last):
  File "train.py", line 163, in <module>
    tf.app.run()
  File "C:\Users\USER\AppData\Roaming\Python\Python35\site-packages\tensorflow\python\platform\app.py", line 48, in r

[2017-12-12 14:46] kxhit commented on #14267
Hi, I meet the same problem. Is there any solution?
I am using tensorflow r1.4 and opencv3.1 in ubuntu14.04.
As far as I include #include <tensorflow/core/public/session.h> or #include "tensorflow/cc/ops/standard_ops.h" I cannot read image. When I didn include these tensorflow files, I can read frame successfully. Anyone could help me? Thanks a lot!!!
my cpp file:
#include <tensorflow/core/platfor

[2017-12-12 15:08] esddse commented on #14779
Thanks @chjshan. Saved my day.

[2017-12-12 15:16] creativesh opened #15317 "tensorflow multigpu with dataset api is not converging"
Hi
I am trying to write a code on multigpus,already I have run the same code in single gpu ,successes fully
I have used this link:
[(https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10/cifar10_multi_gpu_train.py)]

and I have added tensorflow Dataset input pipline to it
But after some steps loss is some value and does not changes any more!(value =0.693147 always)
I have tested

[2017-12-12 15:18] secsilm commented on #4648
Hi guys, I have trained my cnn model with `tf.estimator` and `tf.data` API. Model's input is an one-shot iterator. The relative model files(ckpt, meta, index) have been saved in `model_dir`. **Now I want to predict one or more images' label using the trained model.**

Any instructions for this?

[2017-12-12 15:19] #15317 closed

[2017-12-12 15:23] creativesh opened #15318 "tensorflow multigpu with dataset api is not converging"
I am trying to train a resNet50  on multi_gpus,
I have used
[https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10/cifar10_multi_gpu_train.py)](url)

and I have added tensorflow Dataset input pipeline to the link code
But after some steps loss is some value and does not changes any more!(value =0.693147 always)

I have tested this network with dataset API on single gpu,and worke

[2017-12-12 15:32] sleighsoft commented on #15271
Is there a way to do gradient clipping with `GANEstimator` already?

[2017-12-12 15:35] joel-shor commented on #15271
https://github.com/tensorflow/models/blob/master/research/gan/pix2pix/train.py#L123

[2017-12-12 15:44] karllessard commented on #7149
It is still ongoing and actively being committed but it takes some time, there is a lot of code and iterations involved. Pull request #14094 is related to this story and is currently being reviewed by @asimshankar .

[2017-12-12 15:53] yongtang commented on #15190
My test is still running and I haven't been able to reproduce yet:
[code]

[2017-12-12 15:55] yongtang commented on #15190
I think adding retry logic to S3 support would be great.

I can't commit to have it done in the short term but will give it a try at some point once I have some spare time.

In the meantime, if anyone is interested in working on retry logic for S3 that would be excellent as well.