[2019-11-29 20:56] danmou opened #34715 "Can't use assert statement inside tf.function"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Manjaro Linux
- TensorFlow version (use command below): 2.0.0
- Python version: 3.7

**Describe the current behavior**
`assert` with a tensor inside a `tf.function` results in the following error:
[code]

**Describe

[2019-11-29 21:09] lgeiger commented on #34332
@reedwm Since `AutoCastVariable` just wraps an other variable, what about returning a new instance wrapping the `_UnreadVariable` returned by the assign op. Would something like the following work?
[code]

[2019-11-29 21:34] benchislett commented on #34694
Great! Thanks for letting me know.

[2019-11-29 21:34] #34694 closed

[2019-11-29 21:50] henglicad commented on #32809
This feature would be very helpful for me too.

[2019-11-29 22:23] ringdk commented on #33267
I’m having similar odd problems with TensorFlow C++ dll on Windows, but linking statically against all .a files seems to work.

Can someone please confirm the correct usage of tensorflow_cc.dll on Windows for even a simple example? For example, @dbergh ’s above or better still, the ‘example_trainer’ in ‘cc/tutorials’. Thanks in advance for your help!

[2019-11-29 23:03] haideraltahan opened #34716 "tf.map_fn does not execute in parallel"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
- OS Platfo

[2019-11-30 00:04] solomonvimal commented on #27079
Doesn't work for me! Python 3.6.6, tensorflow 2.0.0, tensorflow-estimator-2.0.1 in Ubuntu 16.04.

[2019-11-30 02:52] Remember2018 commented on #34632
@oanush thanks a lot for your kind reply! I've found the cause. In the project, the number of input `boxes` of `tf.image.crop_and_resize` are about 12000, which seems too large and leads to slow performance. When decreasing the number, we can get the reasonable performance.

[2019-11-30 02:52] #34632 closed

[2019-11-30 04:58] x7night commented on #34648
@gowthamkpr
does the gist like blow ? i just find the buttom to save the .ipynb as the github gist. the link is:
https://gist.github.com/x7night/45ba9eb08f568909bde0cc5f65050653

[2019-11-30 05:50] irvingzhang0512 commented on #32799
same issue here.
@tanzhenyu @jvishnuvardhan any updates?

[2019-11-30 06:05] gunan commented on #19198
Please see https://github.com/tensorflow/tensorflow/issues/19198#issuecomment-456508088

At the moment, 1.12 branch is more than 1 year old.
Therefore, we have completely dropped support for that version.
Please use a newer branch.

[2019-11-30 06:23] songs18 opened #34717 "How to boost speed for cpu in TF2?"
I am running a program based on tensorflow2.0 and do not use GPU, i use the 'top' command, i found the CPU's usage is strange:
%Cpu0  : 21.0 us,  1.0 sy,  0.0 ni, 78.0 id,  0.0 wa,  0.0 hi,  0.0 si,  0.0 st
%Cpu1  : 15.7 us,  0.0 sy,  0.0 ni, 84.3 id,  0.0 wa,  0.0 hi,  0.0 si,  0.0 st
%Cpu2  : 13.8 us,  1.3 sy,  0.0 ni, 84.8 id,  0.0 wa,  0.0 hi,  0.0 si,  0.0 st
%Cpu3  : 15.2 us,  1.3 sy,  0.0 n

[2019-11-30 06:39] ifsheldon opened #34718 "explicit GPU device placement failed due to runtime error "unknown CPU""
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-11-30 06:40] freedomtan commented on #34135
It seems it's not documented. At least, I don't remember seeing it mentioned. Using delegate is kinda API/ABI dependent, if there is data structure or function parameters changes, loading a delegate could fail. A safe way to make sure you can use the Edge TPU delegate is to check the source code by Edge TPU team. E.g., the [latest source code](https://github.com/google-coral/edgetpu) you can find

[2019-11-30 06:47] songs18 commented on #34369
Thanks for your patient, unfortunately, i can not open the gist link as i am in China and i cannot use Gloole any service, i post my snippet in [Gitee](unfortunately) which is one webiset like github in China.

[2019-11-30 07:09] MADHAVAN001 commented on #32809
I am also looking for this feature

[2019-11-30 07:18] songs18 commented on #34717
The result of tf.config.threading.get_intra_op_parallelism_threads() is 0, i know this means that tf will pick  an appropriate number, Is there any mechanism to pick the number in TF? If not, is there any guidence for select the number according to the graph and the server condition? I can only trial and error?

[2019-11-30 07:58] RafayAK opened #34719 "Docker build for TensorFlow GPU taking too long(Up 45 hours!)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3 LTS
- Mobile de

[2019-11-30 11:58] levyfan commented on #18652
Hi @chsigg, do you mean `nvprune  -arch sm_35 libtensorflow_framework.so ...`?

[2019-11-30 12:25] tensorflowbutler commented on #32465
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-11-30 12:25] tensorflowbutler commented on #33850
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-11-30 12:25] tensorflowbutler commented on #34267
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-11-30 13:44] benni93 commented on #34415
I tried
[code]
using `tensorflow.keras`. It doesn't work on Windows 10, Windows 10 WSL and Ubuntu. On Ubuntu and WSL it uses all CPUs, no matter the number I set. On Windows 10 it seems to regulate something, but not exactly the number of CPUs. And what is the difference between intra and inter op?

[2019-11-30 14:35] awav commented on #26204
@bloops , ping? :)

[2019-11-30 14:42] xieydd opened #34720 "Bug in person_detection tf-lite example"
tf==1.15
I just follow the step in [person_detection example](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/experimental/micro/examples/person_detection/training_a_model.md), after i get `vww_96_grayscale_frozen.pb`, when i want to generate `vww_96_grayscale_quantized.tflite`, I get a error `ValueError: Cannot set tensor: Dimension mismatch`, can you see it  @dansitu

[code]

[2019-11-30 15:21] irvingzhang0512 commented on #32799
tf1.14.0 can reproduce the bug, both eager mode and graph mode.

[2019-11-30 16:08] tlkh commented on #34633
Please do check the console output (in the Terminal window if you are using Jupyter) and see if TensorFlow reports that CUPTI is not found.

[2019-11-30 16:46] hoangcuong2011 opened #34721 "Missing information: embedding_lookup automatically returns 0 for an out-of-vocab index"
Greetings,

I expected embedding layer gives an error when a word id is beyond the fixed pre-determined vocab size. Nonetheless, it is not the case as tf.nn.embedding_lookup automatically return 0 for an out-of-vocab index. While this is nice, it is risky because there is no information or anything like that from the website https://www.tensorflow.org/api_docs/python/tf/keras/layers/Embedding. I p

[2019-11-30 17:17] bozcani commented on #34715
@Danmou  tf.Assert includes optional parameters "summarize" and "name" which might be useful for debugging. With the expected behavior that you mentioned above, this information cannot be fed using Python's standard assert statement. What would happen in that case?

[2019-11-30 18:32] realiti4 commented on #31509
I'm having the same issue, I though I was doing something wrong at first loading numpy data to tf.data, but then it gave me same errors following this example

https://www.tensorflow.org/tutorials/load_data/numpy

[2019-11-30 19:00] R0b4 opened #34722 "ModuleNotFoundError tensorflow.python' is not a package"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Home
- TensorFlow version (use command bel

[2019-11-30 19:05] DarshanDeshpande commented on #33938
I tried this but it didn't work out for me. There's no problem with the code as such because it ran fine on my colab notebook. Maybe it's just the GPU driver issue or something. Anyway thanks for the help. Closing this topic now

[2019-11-30 19:05] #33938 closed

[2019-11-30 19:43] realiti4 opened #34723 "2.1.0rc0 cudart64_101.dll not found"
**System information**
- OS Platform: Windows 10
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.1.0rc0
- Python version: 3.7
- Installed using virtualenv? pip? conda?: virtualenv
- CUDA/cuDNN version: 10.0
- GPU model and memory: rtx 2060

**Describe the problem**

When I tried to install tensorflow 2.1.0rc0, It didn't recognize my gpu and gave me this error:

Could

[2019-11-30 19:54] #34723 closed

[2019-11-30 23:40] mariusjohan opened #34724 "Can't accept a 2d array"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-12-01 00:05] leoffx commented on #31312
I'm facing the same issue, but using TF 2.0 alpha works for me. Using the latest release spends all 25 GB of RAM on Google Colab, but with alpha it barely uses 3 GB.

[2019-12-01 02:50] pavithrasv commented on #32578
Thank you for the response. You can create a custom loss that depends on the label by using `add_loss` API in a custom layer. Please see the add_loss examples here. The VAE example is close to what you are looking for: https://www.tensorflow.org/guide/keras/custom_layers_and_models

Here is another small [colab](https://colab.research.google.com/drive/1mz1vtC-iVAkgMQLRZGNBSDTUqTowgSNK) example.

[2019-12-01 02:50] #32578 closed

[2019-12-01 02:58] Remember2018 commented on #7456
I have the same problem. The environment is: Ubuntu 16.04, 2 GTX 1080Ti cards, tensorflow 1.15, compiled from source with cuda 10.0+cudnn 7.6.4.
(1) When using one card with `batch_size=2`, the training is OK.
(2) When uisng two cards with `batch_size=2`, the training is OK.

Then I copied the code to another machine (which has V100, four GPU cards.
(3) training with four cards with `batch_size=4`

[2019-12-01 04:37] tlkh commented on #33090
I have discovered the behavior of BatchNorm was changed specifically in TensorFlow 2.0 according to the docs in the code (which don't render correctly on the website). This answers my confusion why training that worked in TF 1.x does not work in TF 2.0

https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/keras/layers/normalization_v2.py#L26-L65

[2019-12-01 06:02] perfinion opened #34726 "tensorflow/workspace: re2 dependency does not use release/master branch"
tensorflow/workspace.bzl has this for the re2 dep:

[code]

That commit is https://github.com/google/re2/commit/506cfa4bffd060c06ec338ce50ea3468daa6c814 which is on some random branch called abseil (https://github.com/google/re2/commits/abseil) and incompatible with master or any released version of re2. This completely breaks building against system libs. On Gentoo we have re2-2019.09.01 packaged

[2019-12-01 06:19] catqaq opened #34727 "AttributeError: module 'tensorflow_datasets' has no attribute 'load'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (pip):
- TensorFlow version (2.0):
- Python version: 3.6

**Code to reproduce the issue**
import tensorflow_datasets as tfds
data = tfds.load('glue/mrpc')

[2019-12-01 06:27] #34727 closed

[2019-12-01 06:49] Danmou commented on #34715
In my opinion those can just be left at their default values. The name can be decided by AutoGraph just like for all the other ops it creates. If someone wants full control they can still use tf.Assert.

The current behavior is unintuitive - you can use a tensor as the condition in an if statement but not in an assert.

[2019-12-01 06:53] TeammakS commented on #34719
use the update and the upgrade and then run the code in the docker cloud.

[2019-12-01 07:08] taylorchu commented on #33681
weight-share a huge layer more than 4 times? @alexeyr

[2019-12-01 07:32] lxz1104 opened #34731 "ValueError: Unknown loss function:smooth_l1_loss"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from (source or binary):  anaconda
- TensorFlow version (use command below): 2.0
- Python version: 3.7.5
- CUDA/cuDNN version: 10.1

**Error info**
[code]

**Code crop**
[code]

[2019-12-01 07:40] bard1988 commented on #34677
Hi,
Please see the edited code (hope its good now)

[2019-12-01 08:22] zhm9484 commented on #34368
Hi, everyone!
I wrote an easy case to reproduce the problem. Here is the code:
[code]
Here is the timeline:
![image](https://user-images.githubusercontent.com/12964346/69911433-66a42d80-1456-11ea-8877-67557aabb1a9.png)

It still took extra time to do the MemcpyHToD.

[2019-12-01 08:24] chsigg commented on #18652
A binary with just sm_35 is only going to work on sm_35 and sm_37 GPUs.

For the experiment whether forcing TF to use sm_70 CUBIN for your sm_75 GPU improves startup time, use `nvprune -arch sm_70 libtensorflow_framework.so`.

[2019-12-01 08:35] colin1227 commented on #10994
If anyone else finds themself here, the combination of adding the dll from the Jozef Jarosciak's blog and setting the path in the second answer on [this](https://stackoverflow.com/questions/57528027/importerror-could-not-find-cudart64-100-dll) stack overflow seems to work for me. I am sure there is a better way than putting those lines of code in every tensorflow project so if you find the real is

[2019-12-01 09:02] MoizArif commented on #34568
I have created the strategy instance before the collection ops definition and it seems to have by-passed my original error.

[2019-12-01 09:02] #34568 closed

[2019-12-01 09:27] olk commented on #33809
I've used a slightly modified version of MNIST example:
[code]

invoked at command line: _numactl --cpunodebind=1 --membind=1 python mnist.py_

OneDeviceStrategy: 330s
MirroredDeviceStrategy: 651s

So, MirroredDeviceStrategy is two times slower even if the model is distribued on two GPUs belonging to the same NUMA node?!

[2019-12-01 09:30] hoangcuong2011 opened #34732 "Bug with embedding layer for position of sequence using tf.cumsum"
Greetings,

I wanted to create an embedding layer for token position along with an embedding layer for token
in the sequence.

The first way I did was that I create a pos_ids input tensor, and feed an numpy array of position into the input. I then use embedding layer for the input as usual:

`word_ids = Input(dtype='int32', batch_shape=(batch_size, max_seq_length), name='word_ids')
pos_ids = Input

[2019-12-01 09:41] Emnolope opened #34733 "loss=tf.keras.backend.sparse_categorical_crossentropy is different than loss='sparse_categorical_crossentropy'"
So they run differently, with the version from the backend performing significantly worse.
This was performed on a google colab notebook reset each time, with GPU acceleration.

**Code 1**
`
%tensorflow_version 2.x

import tensorflow as tf

print(tf.__version__)

mnist = tf.keras.datasets.fashion_mnist

(training_images,training_labels),(test_images,test_labels)=mnist.load_data()

training_images=

[2019-12-01 10:09] jothamsl commented on #34561
<p>Ok i'm using Google colab and it works perfectly, thanks!</p>

[2019-12-01 10:09] #34561 closed

[2019-12-01 10:40] Santosh-Gupta commented on #30531
Is `fit_generator` still not supported?

[2019-12-01 10:41] Santosh-Gupta commented on #30162
Is `fit_generator` still not supported?

[2019-12-01 10:46] Santosh-Gupta commented on #33725
Where did you hear this?

[2019-12-01 11:11] Santosh-Gupta commented on #31231
Any update to this? Particularly curious about tf.keras.utils.Sequence

[2019-12-01 12:55] ziofil opened #34734 "tensor_diag_part does not vectorize?"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.15.1
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0
- Python version: 3.7

**Describe the current behavior**
This code throws an error, despite `tf.lin

[2019-12-01 13:07] x007007007 commented on #17553
I have a same problem , very weird

[2019-12-01 13:13] x007007007 commented on #17553
This link could be helpful
https://stackoverflow.com/questions/45893235/tensorflow-tfrecordwriter-access-is-denied

[2019-12-01 14:52] songheej opened #34735 "tensorflow-gpu 2.0 cannot be imported"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: Ubuntu 18.04)
- TensorFlow installed from (source or bina

[2019-12-01 15:26] zeineb12 commented on #30191
This worked for me
Env: Mac OS 10.14.6

[2019-12-01 16:23] Dieblitzen commented on #34559
@gowthamkpr Yes that surpasses the warning, but my question is why are the gradients for those bias/weight terms always 0? Even if I manually set the gradients to 0 using the code you shared, I still find that the gradients are 0 for every run. Do you know why this is happening?

[2019-12-01 16:46] RafayAK commented on #34719
@TeammakS Thanks for the response I'll try it out.
A few more questions:
1. During the configuration procedure, I am not prompted to specify a list of CUDA compute capabilities or if I want TensorRT or not like many tutorials point out. All these seem to be automatically set.
opening up `.tf_configure.bazelrc ` I see `TF_CUDA_COMPUTE_CAPABILITIES="3.5,5.2,6.0,6.1,7.0` and `--config=tensorrt` alrea

[2019-12-01 17:22] realiti4 opened #34736 "2.1.0rc0 doesn't find GPU libraries"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 1909
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.1.0rc0
- Python version: 3.7.5
- Installed using virtualenv? pip? conda?: pip/virtualenv
- CUDA/cuDNN version: Cuda 10.0, cudnn v7.6.4
- GPU model and memory: rtx 2060 6gb

**Describe the problem**

2.1.0rc0 and nightly bui

[2019-12-01 17:24] RafayAK commented on #34719
Following is the log when I try to execute `tf.test.is_gpu_available()`:
[code]

[2019-12-01 17:24] realiti4 commented on #34736
2019-12-01 20:12:55.597639: W tensorflow/stream_executor/platform/default/dso_loader.cc:55] Could not load dynamic library 'cudart64_101.dll'; dlerror: cudart64_101.dll not found
2019-12-01 20:12:55.601941: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
timestamp divided..
timestamp divided..
(1112,)
2019-12-01 20:1

[2019-12-01 17:25] realiti4 commented on #34736
Closed by mistake

[2019-12-01 17:53] Override0330 commented on #33183
Thank, I solve my problem.🤣

[2019-12-01 18:06] arunikayadav42 opened #34737 "tensorflow.python.framework.errors_impl.InvalidArgumentError: Input to reshape is a tensor with 294912 values, but the requested shape has 73728"
I downloaded the precomputed image features from
[https://github.com/kuanghuei/SCAN](url)

and then tried to store them in a tfrecord file and trying to read them from that file but then i get this array. any help will be appreciated.

[2019-12-01 18:36] MARMOTatZJU opened #34738 "Delete init_op option"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.15.0
- Are you willing to contribute it (Yes/No): Yes

*

[2019-12-01 19:10] georgesterpu commented on #34736
Try using a video driver >= 418.96 and Cuda 10.1

[2019-12-01 19:13] realiti4 commented on #34736
I thought it doesn't support Cuda 10.1, it doesn't mention on release notes.

[2019-12-01 19:27] georgesterpu commented on #34736
Please see https://github.com/tensorflow/tensorflow/pull/34494

[2019-12-01 19:31] realiti4 commented on #34736
Oh thank you a lot that's great, I'm upgrading now. Closing it.

[2019-12-01 19:31] #34736 closed

[2019-12-01 20:52] DuyguA opened #34739 "Embedding visualization in TensorFlow 2.0 not supported"
This is the way I create a Tensorboard callback in the Keras:

[code]

What I get is:

[code]

When I launched Tensorboard, `Projector` is under `Inactive`

[2019-12-01 21:13] leandro-gracia-gil opened #34740 "Autograph failure with tf.ragged.boolean_mask"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes, providing source
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS 10.15.1, most likely irrelevant.
- TensorFlow installed from (source or binary): binary from pip
- TensorFlow version (use command below): v2.0.0-rc2-26-g64c3d382ca 2.0.0
- Python version: 3.

[2019-12-01 22:15] niccle27 commented on #34518
Still having the issue, even so i upgraded to latest cudnn package. Does anybody have a fix ?

[2019-12-01 23:27] jonathanrjpereira opened #34741 "NameError: name 'x_train' is not defined"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Custom Code
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab (GPU)
- TensorFlow installed from (source or binary): pip install
- TensorFlow version (use command below): 1.15.0
- Python version: 3.6

**Describe the current behavior**
Error when using `fit_g

[2019-12-01 23:30] drakkan opened #34742 "libtensorflow_framework.so.2 segfault in OPENSSL_strcasecmp"
**System information**
- OS Platform and Distribution Ubuntu 18.04 on jetson xavier
- TensorFlow installed from source
- TensorFlow version: 2.0.0
- Python version: 3.6.9
- Bazel version: 0.26.1
- GCC/Compiler version: 7.4.0
- CUDA/cuDNN version: 10.0.326-1/ 7.5.0.56 installed from nvidia repo

after compiling tensorflow 2.0 from source my application segfaults this way:

[code]

openssl version i

[2019-12-02 01:15] jiapei100 opened #34743 "Will TF2.0 build with Python3 ONLY, without Python2?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 19.10
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.0
- Python version: 3.7.5
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source):1.1.0
- GCC/Compiler version (if compiling from source): 9.2.1
- CUDA/cuDNN version:10.2/7.6.5
- GPU model and

[2019-12-02 02:22] zwqjoy commented on #34638
set NCCL_LL_THRESHOLD=0  it works.

[code]

[2019-12-02 03:29] x10000year commented on #27780
any update?

[2019-12-02 03:31] CasiaFan commented on #34615
[code]
My tf version is 1.14. To visualize the node info, just turn `as_text` to `True`. And then check the node `Preprocessor/map/TensorArray_2`.
@oanush

[2019-12-02 03:59] ChunHsinWang commented on #34637
Also met with the same warning with distributed strategy. The model I used is an encoder-decoder UNet++ architecture. The warning only shows up when I connect two UNet++ models together. My guess is the graph compile time is just too long for such sophisticated model that it exceed the predefined time. Is there anyway to bypass this?

[2019-12-02 04:08] suharshs commented on #24665
Right now post training quantization is only optimized for ARM CPU, not x86. So you will see speed up on mobile but not desktop just yet. We are working on x86 support.

[2019-12-02 04:15] ostruk opened #34744 "Nested TensorArray using tf.function. Write->concat->write"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):

 **Yes**

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):

**Windows 10 Pro 1809. OS Build: 17763.503**

- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:

**Not applicable**

- TensorFlow installed from (source or binary

[2019-12-02 04:27] cshjin commented on #29944
In the 1.x version, **minimize** function takes the loss as **a tensor**.
https://github.com/tensorflow/tensorflow/blob/1cf0898dd4331baf93fe77205550f2c2e6c90ee5/tensorflow/python/training/optimizer.py#L367

And in the 2.x version, the **minimize** function takes the loss as **a callable function**
https://github.com/tensorflow/tensorflow/blob/1cf0898dd4331baf93fe77205550f2c2e6c90ee5/tensorflow/pyt

[2019-12-02 04:38] rohanreddych commented on #34712
I made a pull request can you once check if it is correct or not. In the docs_ref it is given to remove the ``` and put >>> and to keep ... for indentation.
@dynamicwebpaige  can you once check this.

[2019-12-02 04:43] jaeyoo commented on #34277
@DocDriven Hi I am Jae from TFLite team and I want to help you. To follow the long threads, I want to list up the issues. please feel free to correct me if i am wrong.

- compilation issue on C API is fixed (1e-9 number of output nodes, etc.) -> fixed
- tf.Multinomial / tf.RandomStandardNormal are required in TFLite side. -> i will work on it.
- build issue on arm64.
I didn't yet reproduce it, but

[2019-12-02 04:43] ostruk commented on #34744
New observation: using stack() instead of concat() eliminates the issue (I would like to use concat though, because in reality my tensors are un-even on one dimension).

[code]

[2019-12-02 05:00] oanush commented on #34731
@lxz1104 ,
Hi,can you please provide complete code to reproduce the error ?Thanks!

[2019-12-02 05:16] oanush commented on #34722
@R0b4 ,
Please try reinstalling Tensorflow by
Uninstall tensorflow:
`pip uninstall tensorflow`

Then reinstall it:
`pip install tensorflow`
Also refer this [link](https://stackoverflow.com/questions/41415629/importerror-no-module-named-tensorflow-python).
Thanks!

[2019-12-02 05:29] luluka2 commented on #31660
If use_bias=True , When converting to float tflite toco/tflite_convert can fold them back into single op.Is that ture?why i can't fuse them to a op.thanks

[2019-12-02 05:30] yanghoonkim commented on #30813
I just want to know why this kind of action happens and is it solved in the updated version?

[2019-12-02 05:33] 1044197988 commented on #33725
我也认为fit_generator will be deprecated in the future
现在fit也支持生成器，多GPU的话，直接用fit就可以

[2019-12-02 05:40] guptapriya commented on #33809
@olk - let's focus on the issue of why the learning is different between the 2 for your use case. We should look at the performance/slowness issue separately. Are you able to change the colab to be more similar to your use case so we can try to repro the convergence issue?

[2019-12-02 05:50] oanush commented on #34699
@DeveloperRachit ,
Can you share a simple and standalone code to reproduce the issue? also mention Tensorflow version being used.Thanks!

[2019-12-02 05:51] DeveloperRachit commented on #34699
yes

[2019-12-02 05:51] gadagashwini commented on #34705
@frank1789, Will it be possible to provide the minimum code snippet  which generates reported issue. Thanks!

[2019-12-02 05:52] DeveloperRachit commented on #34699
this is my config file faster_rcnn_resnet101.config"

[2019-12-02 05:53] DeveloperRachit commented on #34699
model {
  faster_rcnn {
    num_classes: 545
    image_resizer {
      fixed_shape_resizer {
        height: 350
        width: 350
      }
    }
    feature_extractor {
      type: 'faster_rcnn_resnet101'
      first_stage_features_stride: 16
    }
    first_stage_anchor_generator {
      grid_anchor_generator {
        scales: [0.25, 0.5, 1.0, 2.0]
        aspect_ratios: [0.5, 1.0, 2.0]

[2019-12-02 05:53] littlebeandog commented on #34633
Hi, I think tf recognized gpu correctly, and gpu is utilized for training.
![image](https://user-images.githubusercontent.com/14145834/69933774-daa00d80-150a-11ea-8d42-c9bb2c578b64.png)
![image](https://user-images.githubusercontent.com/14145834/69933851-1c30b880-150b-11ea-8796-0d76327ddd32.png)

[2019-12-02 05:53] DeveloperRachit commented on #34699
and rest of i am using train.py which is inside object detection api

[2019-12-02 05:55] DeveloperRachit commented on #34699
https://github.com/tensorflow/models/blob/master/research/object_detection/legacy/train.py

this is above link that i am using to train my datasets

[2019-12-02 05:55] DeveloperRachit commented on #34699
https://github.com/tensorflow/models/blob/master/research/object_detection/legacy/eval.py

[2019-12-02 05:56] DeveloperRachit commented on #34699
INFO:tensorflow:global step 258266: loss = 650309252677632.0000 (0.618 sec/step)
INFO:tensorflow:global step 258266: loss = 650309252677632.0000 (0.618 sec/step)
some time losses is very high what is exact problem
i am using GPU Quadro M5000 with 8GB Ram
and having 32 GB CPU RAM

[2019-12-02 06:01] littlebeandog commented on #34633
Thanks for reply, I do find log as you said. What should I do to fix?
[code]

[2019-12-02 06:01] guptapriya commented on #34637
Yeah it looks like grappler is taking too long and timing out for the big graph - and is likely skipping some graph optimizations.
@HLSS-Hen when you say it is slow, can you provide some numbers? is the time to start first step slow or is the actual training slow? Can you provide numbers for 1 GPU (No distribution) vs 2 GPUs with mirrored strategy?

[2019-12-02 06:01] littlebeandog commented on #34633
Thanks for reply, I do find log as you said. What should I do to fix?

[code]

[2019-12-02 06:13] withme6696 commented on #32488
I use this method to solve it.
call fuction has only one param: inputs, package the multi inputs, eg: inputs=[x1, x2]
and the input_signature is:
`@tf.function(input_signature=[[tf.TensorSpec([None, 22], dtype=tf.int64, name='x1'),
                                   tf.TensorSpec([None, 22], dtype=tf.float32, name='x2')]])`

[2019-12-02 06:18] gadagashwini commented on #34713
Issue is replicating with Tensorflow 2.0.
Please see the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/4cf87dc282425b24a19bf1bfeb8d165a/untitled285.ipynb). Thanks!

[2019-12-02 06:26] ravikyram commented on #34733
I have tried on colab with TF version 2.0  and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/30c0346fd136e1b76963fa6235326846/untitled426.ipynb). Thanks!

[2019-12-02 06:32] guptapriya commented on #34609
I am not able to repro this either. Is it possible that you have somewhat different versions of TF? I tested with TF @ master.

[2019-12-02 06:38] zhm9484 commented on #34368
@ymodak
Hi! Could you tell what was wrong in the case above?

[2019-12-02 06:51] ravikyram commented on #34717
Here is the clear explanation on how the parameters controls the multithreading in Tensorflow.
https://stackoverflow.com/questions/41233635/meaning-of-inter-op-parallelism-threads-and-intra-op-parallelism-threads .
Please, see if it helps you. Thanks!

[2019-12-02 06:59] gadagashwini commented on #34724
@mariusjohan, Please provide the complete standalone code to replicate the reported issue here. Thanks!

[2019-12-02 07:05] proppy opened #34748 "TFLite micro hello_world sketch fails to build"
**System information**
- OS Platform and Distribution: 4.19.67-2rodete2-amd64
- Target platform: Arduino 1.8.10 w/ `nano33ble` target
- TensorFlow version: 1.15.0-ALPHA

**Describe the problem**

`hello_world` sketches fails to build due to a missing header file (not included in the Arduino libraries distribution).

**Provide the exact sequence of commands / steps that you executed before running

[2019-12-02 07:05] olk commented on #33809
@ guptapriya, I strongly disagree - I'd like to focus at the missing speedup. Please note that I've bought a second GPU in order to speedup the learning. I hope you understand the disappointment that the MirroredStrategy with two GPUs is much slower than using OneDeviceStrategy with one GPU.
My example can not be ported to colab because of the complex data generation.
Let us stick with MNIST examp

[2019-12-02 07:06] proppy commented on #34748
Simply removing the following include workaround the issue.
[code]

[2019-12-02 07:24] AarynBaelish commented on #9171
try to use `tf.reset_default_graph()`

[code]

Output:
[code]

[2019-12-02 07:41] frank1789 commented on #34705
[code]

[2019-12-02 07:52] nutsiepully commented on #34702
Hi Charlize,

From your question, it's unclear if the issue is with model accuracy or with the GPU implementation? Can you run your model on CPU and confirm whether you are getting the same accuracy or not.

If it's not the same, we can investigate why the GPU delegate results are different. (Please attach the model in that case.)

DeepLab is currently the latest available image segmentation model

[2019-12-02 08:00] byronyi commented on #33809
@olk There are two kinds of scaling when working with more processors: strong-scaling and weak scaling.

Strong-scaling means that for a fixed **TOTAL** problem size, and in your case it means that **half** the original batch size for each of your two GPUs, and then measure your speedup. Strong-scaling does not concern the convergence rate regarding to the number of steps, because no matter how ma

[2019-12-02 08:01] nutsiepully commented on #34748
@advaitjain - Assigning since you're reviewing https://github.com/tensorflow/tensorflow/pull/34747

[2019-12-02 08:02] ravikyram commented on #34716
@haideraltahan

Can you please go through the [link ](https://stackoverflow.com/questions/52774351/how-to-run-parallel-map-fn-when-eager-execution-enabled)and see if it helps you.Thanks!

[2019-12-02 08:06] gadagashwini commented on #34732
@hoangcuong2011, Please provide the complete standalone code to reproduce the reported issue and also include the Tensorflow version. Thanks!

[2019-12-02 08:13] ravikyram commented on #34715
I have tried on colab with TF version 2.0 ,2.1.0-dev20191201 and was able to reproduce the issue. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/e8c0136d50bb52032150dfbf0a84119a/untitled428.ipynb). Thanks!

[2019-12-02 08:13] anshkumar commented on #34339
Yes I was using Tensorflow lower than 2.0. Using following command I'm able to convert properly,

`trt_converter = trt_convert.TrtGraphConverter(input_saved_model_dir='/home/xavier3/single_model', precision_mode="FP16", is_dynamic_op=True)`

[2019-12-02 08:13] #34339 closed

[2019-12-02 08:18] RomanSteinberg commented on #33913
@jvishnuvardhan your gist hasn't solved this issue.
I ran first cell of your gist. It install tf 2.1.0-dev20191201 and asked me to restart runtime. I did it and ran all cells before section 'Putting it all together' and trained vae for 1 epoch. I've got [the same issue](http://i.imgur.com/6FhueIr.png).

Second experiment. I restarted runtime and ran all cells including section 'Putting it all toge

[2019-12-02 08:21] ravikyram commented on #34710
This issue is more suitable for TensorFlow Serving repo. Please post it on Serving repo from [here.](https://github.com/tensorflow/serving/issues) Thanks!

[2019-12-02 08:23] olk commented on #33809
@byronyi The convergence rate issue was only an observation that I thought could give you a hint of the root of this problem. As explained, my intention is to speed-up the training (I would expect two GPU system should not be slower than one GPU configuration).

As I understand the documentation MirroredStrategy distributes the samples of one batch over all configured devices (in my case two GPUs)

[2019-12-02 08:54] ravikyram commented on #34697
@Edwin-Koh1

Can you please check with nightly version(`!pip install tf-nightly==2.1.0dev20191201 `) and see if the error still persists. There are lot of performance improvements in latest nightly versions. Thanks!

[2019-12-02 09:02] #34717 closed

[2019-12-02 09:03] AgoloCuongHoang commented on #34732
@gadagashwini: Thx. Trying to create a minimal version of this, I found 2 versions as below.
version 1 - no parameters
version 2 - having parameters.

The only difference between them is the way I declare Input ( batch_shape=(32, max_seq_length), or shape(max_seq_length,). Why is this the case?

[code]

-> output:
![image](https://user-images.githubusercontent.com/38926056/69945429-168f9e80-151c-1

[2019-12-02 09:03] hoangcuong2011 commented on #34732
@gadagashwini: Thx. Trying to create a minimal version of this, I found 2 versions as below.
version 1 - no parameters
version 2 - having parameters.

The only difference between them is the way I declare Input ( batch_shape=(32, max_seq_length), or shape(max_seq_length,). Why is this the case?

[code]

-> output:
![image](https://user-images.githubusercontent.com/38926056/69945429-168f9e80-151c-1

[2019-12-02 09:09] geet2019 commented on #31350
File "C:\Users\USER\Desktop\ph.d work\PROTEIN STRUCTURE PREDICTION\FINAL\rgn-master\model\model.py", line 18, in <module>
    import tensorflow.contrib.layers as layers

ModuleNotFoundError: No module named 'tensorflow.contrib'

[2019-12-02 09:19] mlinxiang opened #34749 "how to convert tensorflow1.13 trained model ckpt to tflite use tensorflow2.0?"
i have a model trained use tensorflow1.13 and i can export model to pb from checkpoints and then convert to tflite file by tf.lite.TFLiteConverter.from_frozen_graph. but in tensorflow 2.0 there is no this method. my code trained use slim, so is very hard to change to tf2.0 retrain the model, are there any method to read from the original ckpt files to convert tf2.0 tflite file?

[2019-12-02 09:23] SeekerYb opened #34750 "estimator API may not save the latest variable value"
**System information**
- TensorFlow version :tf1.10.0

**Describe the current behavior**

hello,I build a model with estimator API, According to this tutorial: https://www.tensorflow.org/tutorials/distribute/multi_worker_with_estimator ,I use parameter server distribute strategy to train my model. I devide the training data into several parts on average, the chief get one part, each worker get one

[2019-12-02 09:30] zwqjoy commented on #34638
set NCCL_LL_THRESHOLD=0, It works

[2019-12-02 09:31] #34638 closed

[2019-12-02 09:32] zwqjoy opened #34752 "MultiWorkerMirroredStrategy Performance is low (2gpu, 2node) X1.3 speed-up"
System information

    Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
    OS Platform and Distribution: Ubuntu 18.04
    TensorFlow installed from (source or binary): pip install tensorflow-gpu
    TensorFlow version (use command below): 2.0
    Python version: 3.6.9
    CUDA/cuDNN version: 10/7.6.4.38
    GPU model and memory: Tesla P4  8G

Descri

[2019-12-02 09:55] durandg12 commented on #34691
As I said, [the documentation of `compile`](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/Model#compile) implies it, read what is written in  the `metrics` argument.

[2019-12-02 10:11] levyfan commented on #18652
Hi @chsigg , I can not nvprune the tf library: `nvprune fatal   : Input file 'libtensorflow_framework.so' not relocatable`.

BTW, the slow start occurs when I restore the SavedModel through tensorflow c api (not tensorflow python at `sess = tf.Session(...)` as other people mentioned before). It takes 5 minutes to reload our model on the first start or after clearing `~/.nv`, but only 2 seconds on

[2019-12-02 10:13] game-sys opened #34753 "libcublas.so.10.0: cannot open shared object file"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):ubuntu server 18.04
- Mobile de

[2019-12-02 10:21] game-sys commented on #34753
i installed tensorflow-gpu==2.0.2
it is working correctly but i want to install  tensorflow-gpu==1.13.1 which is not working

[2019-12-02 10:24] levyfan commented on #18652
If I compile tensorflow by `TF_CUDA_COMPUTE_CAPABILITIES=...,7.5`, the start time is also around 2s.

[code]

[2019-12-02 10:32] AlexFuster commented on #31057
I've been running OP's snippet and the bug is clearly reproducible.
As @jvishnuvardhan pointed, using _set_inputs does the work. However, I think it should not be necessary if the model is called and fed an input. In other words, the call function of Model should automatically call _set_inputs with the input received

[2019-12-02 10:41] ravikyram commented on #34677
I have tried on colab with TF version 2.0, 2.1.0-dev20191201 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/ed055e5767cc83c0e74d447831f0a66e/untitled432.ipynb). Thanks!

[2019-12-02 10:46] ravikyram commented on #34633
@littlebeandog
Please, let me know if we can close this issue since it looks to be fixed. Thanks!

[2019-12-02 10:53] justin3687 opened #34754 "Who"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Command used to run the converter or code if you’re using the Python API**

[code]

**The output from the converter invocation**

[code]

**Also, please include a link to the saved model or GraphDef**

[code]

**Fa

[2019-12-02 10:54] justin3687 opened #34755 "BOGUE CHITTO"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-12-02 10:54] justin3687 commented on #34755
 http:/[https://www.tensorflow.org/tfx/api_overview/]

./arweave-server mine mining_addr  https://www.facebook.com/profile.php?id=100039746403982 peer 188.166.200.45 peer 188.166.192.169 peer 159.203.158.108 peer 139.59.51.59 peer 138.197.232.192

deploy:
  provider: bitballoon
  site-id:
    secure: "4593bf3f4c11f7a1f9454a373ba3132c69215c07”
  access-token:
    secure:
deploy: # https-app.getpock

[2019-12-02 11:08] ravikyram commented on #33850
I  am closing the issue as it was resolved with TF 1.15. Please, feel free to reopen the issue if you feel issue still persists. Thanks!

[2019-12-02 11:08] #33850 closed

[2019-12-02 11:16] kiflowb777 opened #34756 "Cannot load model in TF2.1.0 AttributeError: 'h5py.h5f.FileID' object has no attribute 'endswith'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.1.0rc0
- Keras version: 2.2.4-tf
- Python version: 3.6.1
- CUDA/cuDNN version: 10.1 / 7.6.5
- GPU model and memory: RTX 2060 6GB

**Describe the current behavior**
I cannot load a model that has been trained wit

[2019-12-02 11:24] chsigg commented on #18652
Sorry about that, I didn't know about that nvprune restriction.

Could you please try to change [these](https://github.com/tensorflow/tensorflow/blob/456e027373d553ad10c15ceaeee1eb78041b79dc/third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc.tpl#L216) lines to:

`nvccopts += r'-gencode=arch=compute_%s,\"code=sm_%s" ' % (capability, capability)`

And try again with just `TF_CU

[2019-12-02 11:27] gadagashwini commented on #34116
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-02 11:27] ravikyram commented on #34695
@xXNicolaXx
can you please add the below lines of code and check.Use tf.keras instead of Keras
[code]
Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/5dd8e139990c80ec08076311aa16e7dc/untitled431.ipynb). Is this the expected behavior?. Thanks!

[2019-12-02 11:27] gadagashwini commented on #34192
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-02 11:27] #34192 closed

[2019-12-02 11:29] gadagashwini commented on #34232
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-02 11:29] #34232 closed

[2019-12-02 11:39] DocDriven commented on #34277
Hi @jaeyoo , your list is correct. Concerning issue 2, this would eliminate my need for a working `library with select_tf_ops_enabled`. Alternatively, you could consider re-introducing the corresponding flag for this mode of operation.

Also, I tested the flag you suggested. I am on commit e57a567~1 and had to downgrade my bazel installation to 0.26.1. Without the ``--config=android_arm64`` it bui

[2019-12-02 11:45] gadagashwini commented on #34415
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-02 11:49] gadagashwini commented on #34719
@RafayAK, Follow the instructions mentioned [here](https://www.tensorflow.org/install/gpu#ubuntu_1804_cuda_10) to install CUDA and cuDNN.
GPU support Tensorflow uses nvidia-docker. Please install nvidia-docker and try again. Thanks!

[2019-12-02 11:57] ravikyram commented on #34734
I have tried on colab with TF version 2.0, 2.1.0-dev20191201 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/fecdecc2fcfd23ef317022ead88bef0d/untitled433.ipynb). Thanks!

[2019-12-02 11:59] gadagashwini commented on #34735
@songheej,
Below are the instructions to install Tensorflow 2.0 using PIP
**Note:** Make sure CUDA and cuDNN path are set before installing Tenosrflow-gpu.
#Install tensorflow using pip virtual env
$pip install virtualenv
$virtualenv tf_2.0.0   # tf_2.0.0 is virtual env name
$source tf_2.0.0/bin/activate
tf_2.0.0 $ pip install tensorflow-gpu==2.0.0
tf_2.0.0 $ python

2.0.0

Let us know how it prog

[2019-12-02 12:06] lucaro commented on #30635
I have the same issue with TensorFlow 1.15.0 on Debian buster. The workaround mentioned above did not resolve the problem.

[2019-12-02 12:08] gadagashwini commented on #34738
@MARMOTatZJU, Could you post your sample code snippet for us to analyze the issue better?

[2019-12-02 12:14] ravikyram commented on #34740
@leandro-gracia-gil

Can you please try with recent nightly version(`!pip install tf-nightly==2.1.0dev20191201`). I am not seeing any issue with recent nightly version. Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/6d90edaa50eeaefff46c676b020ca2a0/untitled434.ipynb)Thanks!

[2019-12-02 12:20] chsigg commented on #32350
Hi Henje, given that cuDNN 7.2 is quite old already and it seems to work, let's just go ahead with the hack.

[2019-12-02 12:26] jcolson commented on #34580
is this also causing this failure?

[code]

[2019-12-02 12:31] maziyarpanahi commented on #30635
@lucaro The workaround was for the time there was no new release. Have you tested with `1.15.0`?

[2019-12-02 12:40] #32350 closed

[2019-12-02 12:46] Ori226 opened #34757 "Multiple inputs for iOS benchmark app"
Hi.
I'm trying to find a way in the "benchmark_params.json":
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/tools/benchmark/ios/README.md

To define multiple inputs to the network. Is it even possible?

[2019-12-02 13:04] RafayAK commented on #34719
@gadagashwini did follow that. Unfortunately, some of the instructions do not apply to legacy hardware. Nvidia Docker is installed. Secondly, can you help answer the following questions?

[2019-12-02 13:15] PeteBlackerThe3rd opened #34758 "Docker Install instructions page is broken now that v2.0 is the latest image"
##  URL(s) with the issue:
https://www.tensorflow.org/install/docker

## Documentation page with the issue:
https://www.tensorflow.org/install/docker

## Description of issue (what needs changing):
Since the latest docker builds are now tensorflow v2.x instead of v1.x the python example script on this page doesn't work out of the box. If the user copy and pastes the commands from this page they'll

[2019-12-02 13:17] lucaro commented on #30635
Yes, I tried it with 1.15.0 with and without the workaround but it doesn't work either way.

[2019-12-02 13:21] adiv5 commented on #26854
tf.keras.layers.LayerNormalization takes layer as input.How can i provide similar input structure to that of tf 1.x? eg. What to do in this case.
[code]

[2019-12-02 13:34] R0b4 commented on #34722
I already tried this. I also tried installing it in different versions of python (3.7.4, 3.6.7, 3.6.6). This didn't work.

[2019-12-02 13:42] R0b4 commented on #34722
I just found something out. Tensorflow apparently does work when importing it in the console like this:
[code]

But it doesn't work when executing a file like this:
`py folder/code.py`

[2019-12-02 13:43] maziyarpanahi commented on #30635
I was asking because for me it works inside Intellij but when I make a Fat JAR it gives me:
[code]
I was sure it was just me since everyone upgraded to 1.15.0 without reporting this issue.

[2019-12-02 14:21] mattc-eostar commented on #33897
I am using version `2.1.0-dev20191108`, a tf-nightly build.

Tensor details:
[code]

[2019-12-02 14:26] zaccharieramzi opened #34759 "Using tensorflow gpu 2.1 with Cuda 10.2"
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from: `pip`
- TensorFlow version: 2.1.0rc0
- Python version: 3.6.8
- Installed using virtualenv? pip? conda?: `pip`
- CUDA/cuDNN version: 10.2
- GPU model and memory: Quadro P5000, 16GB

**Describe the problem**

I want to use `tensorflow-gpu==2.1.0rc0` with cuda 10.2 and it seems that it can't work right now.
When I use `te

[2019-12-02 14:31] sarthakforwet opened #34760 "ValueError: Dimensions must be equal, but are 32 and 64 for 'conv2/Conv2D' (op: 'Conv2D') with input shapes: [?,?,?,32], [3,3,64,128]."
Hello There,
I am Working on a project of converting given image to its latex form .
I have cloned this github repo->
**https://github.com/yixuanzhou/image2latex.git**

I am using Python-2 and tensorflow_version = 0.12.1 with a GPU backend on **Google-Colab**.
I have resotred  the Weights  correctly and tried to run the file **predict.py** Without calling the function **predict** inside that file

[2019-12-02 14:47] ghwatson commented on #34691
You're correct about what's written in the metrics argument. However, that's for the metrics argument not the outputs argument. I could be wrong as I'm new to Keras myself, but again, I haven't seen anything that specifically does that for the outputs argument. I've only seen it for the losses and metric arguments. I believe that it attaches these two things to inputs and outputs by looking for th

[2019-12-02 14:50] ghwatson commented on #34691
Also, if you're convinced, I suspect there's some bugs in the dictionary-style API as I've described it. See my issue I submitted here: #34713

[2019-12-02 15:16] durandg12 commented on #34691
I see what you mean, and it seems that you are right. The doc you linked in your issue supports that.

From my experiments (and the doc you linked in your issue), it looks for the name of the layer outputting the tensors, not the name of the tensors. And this is an information that can be difficult to find. Furthermore, like shown in my example above, there are layers for which you don't have tota

[2019-12-02 15:24] FoxerLee commented on #30427
for `tensorflow==2.0.0` and `numpy==1.17.4`

I don't get the error/warning.

You can try as:

[code]

[2019-12-02 15:33] arushgupta2007 opened #34761 "TFLite object detection output values"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-12-02 15:35] rmbadl opened #34762 "AttributeError: module 'tensorflow.python.framework.op_def_registry' has no attribute 'register_op_list'"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-12-02 15:44] mariusjohan commented on #34724
@gadagashwini Is that enough?

[2019-12-02 15:51] pendragonn commented on #31173
Hello, is there any progress or alternative solution for this?

Thanks!

[2019-12-02 16:05] Anamitr commented on #27819
Same here.

Every possible check says GPU is working, but calculations are very slow (much slower than on Google Colab) and Task Manager shows CPU working on 30% and GPU almost 0%.

[2019-12-02 16:12] wboleksii opened #34763 "MLIR-based convertor fails to convert Universal Sentence Encoder model"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (or github SHA if from source): tf-nightly 2.1.0.dev20191202 also tried tf-nightly-gpu 2.1.0.dev20191202

**Command used to run the converter or code if you’re using the Python API**

[code]

**The output from the converter invocat

[2019-12-02 16:34] #34755 closed

[2019-12-02 16:35] #34754 closed

[2019-12-02 16:42] mihaimaruseac commented on #34741
The real error is

[code]

[2019-12-02 16:43] mihaimaruseac commented on #34741
This points to some lines of code missing in your code sample. You should define values for `x_train` and `y_train`

[2019-12-02 17:05] jdduke commented on #34701
@lrdxgm can you fix? We can just use a cast from the proper min/max range.

[2019-12-02 17:13] lrdxgm commented on #34701
Sure. On vacation, will be back on Wednesday.

On Mon, Dec 2, 2019, 9:05 AM Jared Duke <notifications@github.com> wrote:

[2019-12-02 17:15] jdduke commented on #34277
`android_arm64` should only be used if you're actually building for Android (and you'll need to run the `configure` script from your root checkout to point bazel to your Android SDK/NDK). If that's what you want to test on, I think you just need to run that configure script.

We haven't done much validation of cross-compilation with bazel for generic aarch64 internally, but I can file an internal

[2019-12-02 17:31] nbro commented on #31695
@oanush This issue should be re-opened because

1. It's not really been fixed (AFAIK)
2. the method `predict` cannot be used with TensorFlow Probability yet

[2019-12-02 17:40] michaelarfreed commented on #34585
here's the full code, with a simplified example dataset:

[code]

[2019-12-02 17:48] nbro opened #34765 "Keras' predict method should be compatible with TensorFlow Probability"
**System information**
- TensorFlow version (you are using): 2.
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**

Currently, I cannot call the [`predict`](https://keras.io/models/model/) method to perform predictions, when using a [`DistributionLambda`](https://www.tensorflow.org/probability/api_docs/python/tfp/layers/DistributionLambda) as

[2019-12-02 18:00] jvishnuvardhan commented on #23715
@mpodlasin Please open a new issue with your issue details and error trace. Thanks!

[2019-12-02 18:13] xXNicolaXx commented on #34695
@ravikyram
Hi,
thank you for your help.
I try to import tensorflow as you did in the code with:
`from tensorflow.keras.models import load_model`
and even if it's underline in red, because he didn't find the module, it load the class. (Another option is to call the function directly inside the code with `tf.keras.models.load_model('my_model.h5)`
Anyway, I still get this error.
But finally I find a

[2019-12-02 18:16] #34695 closed

[2019-12-02 18:17] divyekapoor commented on #34500
This is very helpful. Thank you.
I'll try and include these in the comparative benchmarks.

A colleague also got a vectorized PyTorch implementation working in about 8ms (vs 15ms for Python). So the baseline is about 8ms for a vectorized implementation.

Re the XLA compile, is it on the control flow impl or the vectorized impl?

[2019-12-02 18:33] jvishnuvardhan commented on #34068
Once it is approved, you don't need to do anything. After approval, it will be merged into `tf-nightly`.  During the approval process, Reviewer will guide you through the steps if any required. Thanks!

[2019-12-02 18:34] jdduke commented on #34670
There's no way to do this. Note that TFLite actually has a cancellation API for doing this, though it's not yet exposed in Java. Is there a reason you have to use TFMobile (used by TensorFlowInferenceInterface) rather than TFLite?

[2019-12-02 18:40] mdanatg commented on #34500
I tested it with the control flow impl:

[code]

XLA requires all shapes to be static and complains about the use of `tf.range(n)`, so compiling the vectorized implementation might be a bit trickier.

[2019-12-02 18:41] jdduke commented on #34679
@impjdi are there any plans to support dilation with GPU conv?

[2019-12-02 18:41] dsp-ml opened #34766 "Error with tensorflow lite interpreter"
Hi, I am trying to create a wrapper library that takes tensorflow lite model, returns interpreter, which is used later to invoke on specific inputs

I am using the mimimal.cc example code and modified it to my needs as follows:
[code]

I build this using
gcc -shared -Wall -o libmodel.so -fPIC CHModel.cpp -I/home/developer/Development/tensorflow/tensorflow/lite/tools/make/downloads/flatbuffers/incl

[2019-12-02 18:44] wkelongws opened #34767 "Error when retraining a saved LSTM model"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
I have a simpl

[2019-12-02 18:50] ymodak commented on #34759
As printed in the stack trace ```Could not load dynamic library 'libcudart.so.10.1'```. You have to roll back to cuda 10.1 in order to use TF 2.1 binary. For using cuda 10.2 you have to install TF from sources.

[2019-12-02 18:51] impjdi commented on #33605
@wanfranck

Sorry for the late reply; was out for thanksgiving.

Stripping shouldn't cause a difference as that's about the symbols for debuggers and stacktraces etc.  Undefined reference is usually because of `-fvisibility` and things around `TFL_CAPI_EXPORT`.  The command line you copy & pasted above is used for our release as well, so I'm a bit puzzled why you run into this issue =/

[2019-12-02 18:57] #34701 closed

[2019-12-02 18:58] impjdi commented on #33605
I spy a couple of flags I don't recognize.  The last time I tried the release, it was something like:

[code]

You can also drop `--copt -Os -fvisibility=hidden --strip always`.  I'm not sure whether you can drop `--linkopt -s`; you can try if nothing else helps =/

[2019-12-02 19:04] impjdi commented on #34679
@jdduke IIRC we have dilation for all our conv operators.  What is different in `CONV_2D` v2 vs. v1?

@Noltibus

1. We have limited resource, and probably can't accommodate individual requests of op shader implementations.  We'll keep your request in mind.

2. The error message is coming from `//tensorflow/lite/core/subgraph.cc`... you can grep for that.  I have the impression you're calling `Modi

[2019-12-02 19:07] pingsutw commented on #34704
I resolve this issue, my latest Hadoop compile from source code that don't have libhdfs in lib/native, I download Hadoop-3.2.1, it works for me

[2019-12-02 19:07] jdduke commented on #34679
v2 will have dilation values that aren't 1. If that's supported, we can update the GPU delegate to handle that version.

[2019-12-02 19:09] impjdi commented on #32840
@tgpsantos

Unless you see "Falling back to OpenGL", you are on OpenCL land :)

[2019-12-02 19:22] pavithrasv commented on #34451
@bersbersbers Thank you for the issue. There are 3 metric accuracy functions:

1. Accuracy: This just checks the equality of `y_true` and `y_pred`.
2. Binary accuracy: This converts `y_pred` to 0 or 1 based on a threshold and then compares with `y_true`.
3. Categorical_accuracy: This checks the equality of class index of the max `y_pred` with the class index of the max `y_true` value

When you say

[2019-12-02 19:23] wkelongws opened #34768 "Error when saving a stacked LSTM model to .h5 file"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
I have a simpl

[2019-12-02 19:40] jaingaurav commented on #34651
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-12-02 19:40] #34651 closed

[2019-12-02 19:55] ymodak commented on #34706
You may try using ```experimental_new_converter``` in latest tf-nightly builds to convert your lstm models in TF Lite.
See https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/experimental_new_converter/keras_lstm.ipynb

[2019-12-02 19:57] zaccharieramzi commented on #34759
Thanks for your answer.
I am a bit surprised though because I am able to use tf 2.0.0 just fine (with cuda 10.2). How is it possible?

[2019-12-02 20:10] advaitjain commented on #34748
This works for me from the tip of tree. I think @proppy is running into a mismatch between the example and library version.

Can you try manually generating the latest tensorflow_lite arduino library with these steps:

[code]

Remove the existing tensorflow_lite library (you can also move it if you prefer that):
[code]

Install the newly created Arduino library:
[code]

And then try the build.

Th

[2019-12-02 20:17] Noltibus commented on #34679
Is there any way I can help with those operations. For example, the SPLIT operator? It might be somewhat similar to the SLICE operator?

[2019-12-02 20:18] Noltibus commented on #34679
Does that mean CONV v2 is "almost" supported?

[2019-12-02 20:20] wchargin commented on #33185
Thanks for the ping! The docs for TensorFlow 1.x, including the one that
you mention (<https://www.tensorflow.org/tensorboard/r1/summaries>), are
now hosted on GitHub rather than tensorflow.org. The tensorflow.org link
now redirects to the new source of truth, where the “TensorBoard: Graph
Visualization” link works:
<https://github.com/tensorflow/tensorboard/blob/master/docs/r1/summaries.md>

[2019-12-02 20:27] ymodak commented on #34759
You are able to import tf cpu version in tf 2.0
Reason being when you installed tf 2.0.0 without specifying accelerator(gpu) it installed both CPU and GPU support.
To check this you may try printing;
[code]

[2019-12-02 20:29] zaccharieramzi commented on #34759
No I installed specifically tensorflow gpu, didn't get the warning at import and more than simply using this function to test, I monitored the GPU usage during training (and my training was way faster than when I was masking the GPU).

[2019-12-02 20:31] reedwm commented on #27819
Sorry for the long delay. @stellaluminary, my guess this is caused by #18652. In summary, the program will take a long time to start computing as it has to JIT compile PTX code. Once it successfully runs the first GPU op, it means the compilation is done and everything should run quickly. We already include the compiled code for GTX 1050 Ti's (by compiling for compute capability 6.1), but not for

[2019-12-02 20:31] #27819 closed

[2019-12-02 20:53] reedwm commented on #34332
I think that would work, and is very simple. I didn't think of that before. Thanks for the suggestion!

Do you want to implement it for AutoCastVariable? If not, I'd be happy to.

[2019-12-02 20:56] fxtentacle commented on #31166
@ravikyram @humanpose1  This is fixed on Colab because CUDA 10.1 is used there. However, the issue still persists in the official TF 1.15 or TF 2 python packages, which are using CUDA 10.0.

[2019-12-02 20:57] fxtentacle commented on #31166
This is most likely a duplicate of issue #26969.

[2019-12-02 21:00] Octogonapus commented on #27880
I am experiencing the same problem. My code is here: https://pastebin.com/LfmPANwV. This is my error: https://pastebin.com/pW1rchLj. Here is all the data out should need to reproduce and debug locally: [train_and_convert_for_coral.zip](https://github.com/tensorflow/tensorflow/files/3913277/train_and_convert_for_coral.zip). You should also know that I run the notebook (in the zip I attacked) in a D

[2019-12-02 21:09] leandro-gracia-gil commented on #34740
@ravikyram

The recent nightly version does seem to fix the problem. Thanks!

[2019-12-02 21:09] #34740 closed

[2019-12-02 21:11] LuchoTangorra opened #34771 "tf.keras uses Eager execution or Graph execution in tf 2.0 ?"
Hello, i'm doing a research work and i'd be glad to know if in tf 2.0, tensorflow.keras uses eager execution vs graph execution instead.

[2019-12-02 21:21] danegraphics commented on #23262
It's been over a year at this point. Still nothing?

[2019-12-02 21:22] jvishnuvardhan commented on #34733
@Emnolope You should have used `tf.keras.losses.sparse_categorical_crossentropy` instead of `loss=tf.keras.backend.sparse_categorical_crossentropy`. Please check the TF [website](https://www.tensorflow.org/api_docs/python/tf/keras/losses/sparse_categorical_crossentropy) for more details on accessing this loss function.

When I used `tf.keras.losses.sparse_categorical_crossentropy` inplace of  `los

[2019-12-02 21:22] #34733 closed

[2019-12-02 21:24] yuhc commented on #23262
Nope. Although it's a nice feature that we wanted, we turned to Python APIs at the end.

[2019-12-02 21:24] #23262 closed

[2019-12-02 21:27] jvishnuvardhan commented on #31166
@fxtentacle Can you please try with `TensorFlow 2.1.0-rc0` and let us know whether it resolved for you or not. Thanks!

[2019-12-02 21:28] lgeiger commented on #34332
Great!

:+1: Will send a PR and add some tests once TensorFlow finished compiling on my machine.

[2019-12-02 21:30] terhorst opened #34772 "tf.pad is limited to six dimensions"
[code]

[2019-12-02 21:36] jvishnuvardhan commented on #31166
I have tried `tf-nightly-gpu` and I cannot reproduce the issue. Please take a look at the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/d8c15cfca53160749ccf84c1443a3bbb/untitled679.ipynb). Thanks.
The issue is there in `TF1.15.0` and I am not sure whether there will be any more changes TF1.x. Thanks!

[2019-12-02 21:59] axch opened #34773 "tf.math.tanh produces values strictly smaller than -1"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab default environment
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): 1.15.0
- Python version: 2.4.6

**Describe the current behavior**

[code]
Note the result is less th

[2019-12-02 22:04] zaccharieramzi commented on #34759
When I look at the logs for tf 2.0.0, I see that it's loading packages from the 10.0 version of Cuda. These packages are certainly legacy packages that I still have, and so that's why it's working even though my main Cuda is 10.2.
I'll roll back to 10.1 to use tf 2.1.0

[2019-12-02 22:17] angerson commented on #34726
Here's where the dependency was changed: https://github.com/tensorflow/tensorflow/commit/517ad0e87f8d1f23aa68236bdc474188037347dc

[2019-12-02 22:23] martinwicke commented on #34726
Can we find out who owns re2 and ask them when a release with absl support
will be available?

On Mon, Dec 2, 2019, 14:18 Austin Anderson <notifications@github.com> wrote:

[2019-12-02 22:44] wchargin commented on #34427
FWIW, I’m continuing to see these errors on 2019-12-02 nightlies:

[code]

[2019-12-02 23:00] danegraphics commented on #23262
Well that's sad. I guess the only option now is to rewrite a ton of stuff in the significantly slower python.

[2019-12-02 23:05] ZeliangSu opened #34774 "DenseToDenseSetOperation: Could not satisfy explicit device specification '/device:GPU:0' because no supported kernel for GPU devices is available?"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): conda -c anaconda
- TensorFlow version (use command below): 1.14
- Python version: 3.6
- Bazel version (if compiling from source): None
- GCC/Compiler version

[2019-12-02 23:15] ymodak commented on #34749
You may use (tf.compat.v1.lite.TFLiteConverter)[https://www.tensorflow.org/api_docs/python/tf/compat/v1/lite/TFLiteConverter#from_frozen_graph] in this case.

[2019-12-02 23:30] #31952 closed

[2019-12-02 23:31] dansitu commented on #34720
@MeghnaNatraj, can you take a look?

[2019-12-02 23:34] luvwinnie opened #34775 "tf.keras.models.load_model from saved model not loading as keras model?"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-12-02 23:37] impjdi commented on #34679
@Noltibus

Yeah, I have a change that will open it up which is being reviewed.  In the meantime, you can just comment out the `CONV_2D` operator's version check in `//tensorflow/lite/delegates/gpu/common/model_builder.cc`and things should just work.

[2019-12-02 23:48] alexlaurence commented on #34658
I'm having the same issue too... Was working before the weekend. Not anymore.

[2019-12-02 23:49] jvishnuvardhan commented on #34610
@BuiNgocHai Can you try `TF1.15.0` and also share a simple standalone code to reproduce the issue. Thanks!

[2019-12-02 23:54] ymodak commented on #34704
Thanks for sharing the solution. Closing this issue.

[2019-12-02 23:54] #34704 closed

[2019-12-03 00:01] haideraltahan commented on #34716
[code]

This works for Tensorflow 2.0.
I will update the doc in a PR.

[2019-12-03 00:12] #34716 closed

[2019-12-03 00:19] r-barnes opened #34776 "StackedRNNCells has an invalid example"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/keras/layers/StackedRNNCells

## Description of issue (what needs changing):

Documentation example does not actually use `StackedRNNCells`. There is no example for the class being documented. Ideally there would be both an example of the class and an example showing how the same behaviour would be implemented without the cla

[2019-12-03 00:21] edrozenberg opened #34777 "Build issue "None of the libraries match their SONAME" (libcudnn)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Slackware Linux 64 -current (1

[2019-12-03 00:22] wangtz commented on #34664
Could you share the detailed error to help debugging? Thx!

[2019-12-03 00:23] leo-gan commented on #30120
Installing numpy 1.16.4 worked for me. Thanks!

[2019-12-03 00:32] johnpjust opened #34778 "Can't get a tape.gradient when tf.signal.frame is used."
Tensorflow 2.0.
I believe this is related to the tf.gather problems that have been noted already.

[code]
Now if we do this....
[code]
we get the following error at "grads = ..."
Error = AssertionError: Expected all args to be Tensors or Variables; but got CompositeTensor: [<tensorflow.python.framework.indexed_slices.IndexedSlices object

[2019-12-03 00:39] infil00p commented on #34395
I can create a custom tag for this.  The reason I want to build off of v1.15.0 and a custom tag is because I want to avoid issues with v2.0.0: https://github.com/tensorflow/tensorflow/issues/34393

[2019-12-03 00:45] jsimsa commented on #34650
The fact that TFRecordWriter (re)writes (as opposed to appends) is not specified in the documentation of `TFRecordWriter`.

The Python code that creates the [writer](https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/lib/io/tf_record.py#L217) ends up calling into C++ using a generated wrapper, which ends up creating an instance of the following [class](https://github.com/tensorfl

[2019-12-03 00:45] #34650 closed

[2019-12-03 00:46] marno1d commented on #33303
I have noticed that the orders of both the inputs and outputs are mixed up after tflite conversion.

Another problem this creates is when you are feeding in the representative dataset you don't know what order the inputs are in.

[2019-12-03 00:51] #33918 closed

[2019-12-03 01:05] rchao commented on #34127
Hello @netw0rkf10w, sorry for the late response. I made a copy of your updated colab and use nightly instead:

[code]

and it could work fine without the problem. Can you take a look if that fixes your issue? The TF version I verified to work at is 2.1.0-dev20191202.

[2019-12-03 01:42] artemmavrin commented on #33261
Same errors with `tensorflow==2.1.0-rc0`.

---

By the way, there seems to be no problem saving a `TimeDistributed` layer wrapping a convolutional layer instead of a `Model` which has a convolutional layer in it.

For example, this works:

[code]

Whereas this doesn't:

[code]

[2019-12-03 01:47] daverim commented on #34761
Hi,

You should post this question on [StackOverFlow](https://stackoverflow.com/questions/tagged/tensorflow).

Just as an FYI:

The TFLite_Detection_PostProcess custom op node has four outputs
detection_boxes: a tensor of shape [1, num_boxes, 4] with normalized coordinates
detection_classes: a tensor of shape [1, num_boxes] containing class prediction for each box
detection_scores: a tensor of sha

[2019-12-03 02:00] sanjoy commented on #24496
Hi,

I cannot reproduce this on my machine so I'll need some help root-causing this.  Do we have someone here who can reproduce the problem and is willing to do some hands-on debugging?

As a starting point I'd like to understand why [`MinSystemMemory`](https://github.com/tensorflow/tensorflow/blob/4596b3bc1ea85ea1bfdb6c0779b90eaab65ae252/tensorflow/core/common_runtime/gpu/gpu_device.cc#L804) does

[2019-12-03 02:10] lgeiger commented on #34332
I opened a small PR: #34779

[2019-12-03 02:22] dMokaMoka opened #34780 "[FusedBatchNormGradOp] Actual shapes of outputs NOT consistent with the shapes derived by shapeFn"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):

- TensorFlow installed from (source or binary):

- TensorFlow version (use command below):

- Python version:

**Describe the current behavior**
For the operator FusedBatchNormGradOp, the `shape derived by shapeFn` is

[2019-12-03 02:54] yyoon commented on #34395
Yes, please use a custom tag if it suits your needs. Let me close this issue.

[2019-12-03 02:54] #34395 closed

[2019-12-03 02:56] proppy commented on #34748
@advaitjain Spot on!

I thought this was happening against a new installation of Arduino `1.8.10` against the latest published version of the library `1.15.0-ALPHA`. But after testing against a fresh install of the library after cleaning up `~/Arduino/libraries`, the `hello_world` example compile successfully.

I think this was due to example being picked up from a stale installation in `tensorflo

[2019-12-03 02:56] #34748 closed

[2019-12-03 02:57] littlebeandog commented on #34633
Yes, problem solved, thanks.

[2019-12-03 03:27] oanush commented on #34756
@kiflowb777 ,
Can you please provide the code to reproduce the error faced ?Thanks!

[2019-12-03 03:29] boluoyu commented on #33261
I also encountered this bug , how can I solve it

[2019-12-03 03:32] oanush commented on #34750
@SeekerYb ,
Can you please provide the standalone code used ?Thanks!

[2019-12-03 03:34] henrypinkard commented on #33261
+1, Also running into this

[2019-12-03 03:37] oanush commented on #34739
Related PR for the issue #[33291](https://github.com/tensorflow/tensorflow/pull/33291).Thanks!

[2019-12-03 03:54] levyfan commented on #18652
That works.

[code]

[2019-12-03 04:16] rohanreddych commented on #34712
@jvishnuvardhan Code is  fine in the master branch but, the url at the top of the page which on documentation page which shows the code location on github is pointing to the r2.0 branch which has some error in it.

[2019-12-03 04:17] rohanreddych commented on #34712
what does awaiting tensorflower mean

[2019-12-03 04:23] sonfiree opened #34781 "obfuscate_names encrypts inputs"
I'm try work on with Graph Transform Tool.
And found with the flag `obfuscate_names`, he inputs the encrypting. Outputs not encrypting.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.14.0
- Python version: 3.7.2
- CUDA/cuDNN version: 10.1
- GPU model and

[2019-12-03 04:30] x10000year commented on #27285
any update?

[2019-12-03 05:11] byronyi opened #34782 "[tf.keras] Mixed precision policy "mixed_bfloat16" not supported in Keras compile"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Co-lab
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): TF 2.1-rc0
- Python version: 3.6

**Describe the current behavior**

We are porting a GPU based model to CloudTPU. We are using Keras **mixed_float16** mixed-precision policy to enable TensorCore on GPU. Wit

[2019-12-03 05:29] oanush commented on #34767
@wkelongws ,
When tried running the code for `TF-gpu-2.0 `I did not face any error, kindly find the [link](https://colab.sandbox.google.com/gist/oanush/07748f478033aef83a35e5db5e1401ff/34767.ipynb) of colab gist.Thanks!

[2019-12-03 05:32] bersbersbers commented on #34451
I believe it cannot be expected from a user to know all this, given that neither the behavior of `accuracy` (*why* is `accuracy` different from the `accuracy` function?) nor that of `keras.metrics.get` (what is it supposed to be doing?) is documented. The latter simply calls `deserialize(str(identifier))`, and I have never before seen a (de)serializer (designed to) modify the behavior of an object

[2019-12-03 05:55] Noltibus commented on #34679
Ok, thank you!! So you will keep my request for LRN in mind? Is there any way I can help with SPLIT. I never wrote an Operation before but I learn pretty quickly ;-)

[2019-12-03 06:10] ksasi commented on #34235
@ymodak , I am not sure if this is a usable question. But rather the intended behaviour. Can you confirm if this behaviour is as per the intended design and this is not a bug?

[2019-12-03 06:15] gadagashwini commented on #34753
@game-sys, Tensorflow-gpu uses CUADa and cuDNN. if you have installed them, make sure the LD_LIBRARY_PATH is correctly set and pointing to where the cudnn libraries are located. Please check the Tensorflow [tested build configuration](https://www.tensorflow.org/install/source#gpu) for GPU support. Thanks!

[2019-12-03 06:17] terryheo commented on #33637
If you're looking for Makefile of minimal.cc, you can find it on https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/tools/make/Makefile#L280

[2019-12-03 06:18] gadagashwini commented on #34744
Issue is replicating with Tf 2.0.
Please see the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/6a1fd005c737b2f40e87756864b049bc/untitled288.ipynb). Thanks!

[2019-12-03 06:21] terryheo commented on #33370
Good to hear the problem is fixed. Let me know if there is any remaining issues.

[2019-12-03 06:21] #33370 closed

[2019-12-03 06:41] arushgupta2007 commented on #34761
Thanks for the reply with the answer I needed. Sorry I mad an issue here :)
For those who are getting an error in the for loop, change the for loop to :
[code]
Thanks Again

[2019-12-03 06:41] #34761 closed

[2019-12-03 06:44] gadagashwini commented on #34688
@alekdev2019, Could you post the .pb file to reproduce the reported issue. Thanks!

[2019-12-03 07:06] fxtentacle commented on #31166
@jvishnuvardhan Yes, `tf-nightly-gpu` works because it uses `CUDA 10.1` instead of `CUDA 10.0`. To confirm, I ran inside your gist:
[code]
which returns `10.1`.

[2019-12-03 07:11] fxtentacle commented on #31166
BTW I believe the bug we're seeing here is this one:
https://docs.nvidia.com/cuda/archive/10.1/cuda-toolkit-release-notes/index.html#unique_1334956937

So this should be a very easy fix for `TF 1.15`, too: Just recompile with CUDA 10.1.

[2019-12-03 07:11] fancyerii opened #34784 "Boosted trees using Estimators codes crash"
When I test the codes in https://www.tensorflow.org/tutorials/estimator/boosted_trees, it crashed. and I see the error of "malloc(): memory corruption (fast): 0x00007f4f84066f50 ***". The detailed error messages can be found here(https://gist.github.com/fancyerii/c805604e94b76988771e4ff045aeb303)

**System information**
- Have I written custom code (as opposed to using a stock example script provi

[2019-12-03 07:15] Jay4869 commented on #28326
I am still facing the same problem with tf2.0, cudnn [7.6.4] and cudatoolkit [10.1] in my conda env. @sidd-hart

[2019-12-03 07:27] #34298 closed

[2019-12-03 07:29] zhao62 opened #34785 "How does TensorFlow calculate the gradients of an FFT layer?"
Hi, if I insert the function, i.e., tf.fft(input, name=None), into a neural network, how does TensorFlow calculate the gradients in backpropagation?

I didn't find a documentation about this. I am using TensorFlow 1.0.

Does anyone know？

[2019-12-03 07:34] tejaslodaya commented on #34583
@gadagashwini Any update on this would be appreciated?

[2019-12-03 07:38] yashmanuda commented on #34445
Is there any update on this?

[2019-12-03 07:43] Cospel commented on #33303
This is also partially related to #32180

[2019-12-03 07:58] johnpjust opened #34786 "memory leak on tf2.0 with tf.signal.frame"
The memory doubles every time I run the tape.gradients part.  I think it's connected to the timedistributedlayers...?

[code]

[code]

[2019-12-03 08:00] zacario-li commented on #26254
@SteffenEpp use python3.5, then pip install tensorflow-gpu==1.12.2

[2019-12-03 08:17] qbeer commented on #34650
Thanks!

[2019-12-03 08:18] Tenyn opened #34787 "Bug: tensors built by tf.keras layers cannot use numpy() to obtain the array."
Bug: tensors built by tf.keras layers cannot use numpy() to obtain the array. So can i get the value of such tensors??

[2019-12-03 08:19] kenfuliang commented on #33746
@Ferluci you save my life.

[2019-12-03 08:27] daverim commented on #34766
Hi,

This is probably better to ask on [StackOverflow](https://stackoverflow.com)

But it looks like your `unique_ptr<Interpreter>` created in `LoadModel` has no references after exiting the function so is deleted (possibly right after printing inputs).

[2019-12-03 08:27] #34766 closed

[2019-12-03 08:31] impjdi commented on #34679
@Noltibus

Sure thing.  This is an open source project, and contributions are welcome :)

Before you dig into the shader code, I would advise to understand the DHWC4 format (or PHWC4... we renamed the format at one point) first.  It's essentially slicing a HWC tensor into 4-channel slices; that's used throughout the OpenGL delegate.  I'm not so sure about the OpenCL delegate; it has more complicat

[2019-12-03 08:36] gadagashwini commented on #34732
I could replicate the issue with Tensorflow 1.15 on colab.
Please find the colab gist [here](https://colab.sandbox.google.com/gist/gadagashwini/ee879e7ae5672c214ae3c674d0728b9a/untitled289.ipynb). Thanks!

[2019-12-03 08:50] gadagashwini commented on #34724
@mariusjohan, Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/d4440b9d05dca338f3e86df94a92bd3b/untitled290.ipynb) and let us know the expected output. Thanks!

[2019-12-03 08:56] gadagashwini commented on #34719
@RafayAK, Could you include ./configure output here.

[2019-12-03 08:57] oanush commented on #34771
@LuchoTangorra ,
Hi, by default it is Eager execution in Tensorflow 2.0,irrespective of usage of tf.keras or not.
Kindly refer this [link](https://www.tensorflow.org/guide/effective_tf2#eager_execution).Thanks!

[2019-12-03 08:59] wanfranck commented on #33605
@impjdi thank you, I'll give a try and let you know if it helps or not.

[2019-12-03 09:24] game-sys commented on #34753
Done
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2019 NVIDIA Corporation
Built on Wed_Oct_23_19:24:38_PDT_2019
Cuda compilation tools, release 10.2, V10.2.89

But still having same error:

using TensorFlow backend.
Traceback (most recent call last):
  File "/home/fast/anaconda3/envs/imageai/lib/python3.6/site-packages/tensorflow/python/pywrap_tensorflow.py", line 58, in <module>
    f

[2019-12-03 09:26] hfp commented on #32248
@ezhulenev Thanks for the note!

LIBXSMM 1.14 has been incorporated into recent TF (master). TF can now also use Bfloat16 of LIBXSMM's SpMDM (sparse_dense_matmul).

[2019-12-03 09:44] Queequeg92 opened #34788 "Inconsistent cpu/gpu results of gather_nd"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO
- OS Platfo

[2019-12-03 10:06] daverim commented on #34763
I believe this is a duplicate of #26626, but I'm checking on it with the v2 converter.

[2019-12-03 10:07] guillaumekln opened #34789 "GRUCell is not compatible with its own initial state"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Ubuntu 16.04
- TensorFlow installed from: binary
- TensorFlow version: 2.1.0rc0
- Python version: 3.5.2

**Describe the current behavior**

The initial state returned by `tf.keras.layers.GRUCell.get_initial_state()` can not be passed to the first cell call without error. It raises an `InvalidArgumentError` err

[2019-12-03 10:16] Mpic commented on #32982
Could you please elaborate on what you use ?

Is it
[code]
without the possibility to do `from tensorflow.keras import layers` to just use
[code]
? (Beginner here, just tipping my toe in grasping Python import mechanisms)

[2019-12-03 10:22] DuyguA commented on #34739
@oanush  , I checked the linked issue but it seems open, not merged yet. How can I get a quick way of seeing the embeddings now?

[2019-12-03 10:33] oscarriddle commented on #34197
CentOS7, TF1.14, CUDA10.1, PYTHON3.8, cuDNN7.5, TRT6
After applying this diff patch, successfully built.

[2019-12-03 10:39] ravikyram commented on #34772
@terhorst
I am not seeing any issue with recent nightly version (`!pip install tf-nightly==2.1.0dev20191202`). Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/5d638694576b69a824eff8b0ba308469/untitled436.ipynb) Thanks!

[2019-12-03 10:44] gadagashwini commented on #34369
@songs18, The warnings are about Tensorflow support for AVX instruction sets.
[code]
For more read [here](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements). Your code is good to go, warnings can be ignored. Thanks!

[2019-12-03 10:46] terryheo commented on #32074
I've verified that there is no build issue on RPI3 and ARM64 now. @eslambakr please let me know if you still have the issue.

[2019-12-03 10:46] #32074 closed

[2019-12-03 10:47] oanush commented on #34271
@sakurakatana ,
Any update on the issue ?Thanks!

[2019-12-03 10:47] oanush commented on #34274
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-03 10:47] #34274 closed

[2019-12-03 10:48] AntoinePlumerault commented on #34499
I am training a VAE and I encountered the same issue and managed to remove the error but I do not understand what caused the issue. When I run this code I get the error:
`@tf.function
    def forward(x_real):
        eps = tf.random.normal([FLAGS.batch_size, FLAGS.latent_dim])
        z_mu, z_log_sigma = E(x_real, training=True)
        z = z_mu + tf.exp(z_log_sigma) * eps
        x_real_mu = D(z,

[2019-12-03 10:48] oanush commented on #34287
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-03 10:48] #34287 closed

[2019-12-03 10:49] oanush commented on #34300
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-03 10:49] #34300 closed

[2019-12-03 10:49] oanush commented on #34328
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-03 10:49] #34328 closed

[2019-12-03 10:50] oanush commented on #34426
@burnmg ,
Any update on the issue ?Thanks!

[2019-12-03 10:51] oanush commented on #34482
@Pauladds ,
any update on the issue ?Thanks!

[2019-12-03 10:51] oanush commented on #34517
@ZK-Zhou ,
Any update on the issue ?Thanks!

[2019-12-03 10:52] mayou36 opened #34790 "Dynamic scatter of TensorArray not working in tf.function + eager"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 19.10
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0
- Python version: 3.7

**Describe the current behavior**
This may be related to #34683, but this is

[2019-12-03 11:00] ravikyram commented on #34773
@axch

I tried in colab with TF 1.15 and i am seeing output (`<tf.Tensor: id=1, shape=(), dtype=float32, numpy=-1.0>`). I tried with TF 2.0, 2.1.0-dev20191202 by commenting (`tf.enable_v2_behavior()`)
i am seeing output(<`tf.Tensor: shape=(), dtype=float32, numpy=-1.0000001>`)Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/76dbd5a25368435a7beed6ac76152b04/untitled437.

[2019-12-03 11:00] ZeliangSu commented on #34774
Found the solution, I will close the issue. One shouldn't put `tf.losses.MSE(); tf.summary.merge()` inside GPU `tf.device('/device:GPU:X')` since means, update ops, or variables are in the RAM and operated by CPU. In contrast, gradient, loss and model are in GPU.

[2019-12-03 11:00] #34774 closed

[2019-12-03 11:00] oanush commented on #34615
@CasiaFan ,
When tried running the code, i got error `NameError: name 'model_path' is not defined`.Thanks!

[2019-12-03 11:04] terhorst commented on #34772
Alright, thanks!

On Tue, Dec 3, 2019 at 5:39 AM ravikyram <notifications@github.com> wrote:

--
Jonathan
terhorst@gmail.com

[2019-12-03 11:06] ravikyram commented on #34772
@terhorst
Can i close this thread as issue got resolved?. Thanks!

[2019-12-03 11:07] yanghoonkim opened #34791 "variable scope is changed by force when reopened (with regard to use Adam) (with new example)"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-12-03 11:18] benni93 commented on #34415
#29968

[2019-12-03 11:19] benni93 commented on #34415
It's apparently a bug discussed in #29968

[2019-12-03 11:20] gadagashwini commented on #34760
@sarthakforwet, Could you post your Google-colab gist to analyze the reported issue. Thanks!

[2019-12-03 11:22] ZK-Zhou commented on #34517
sorry to reply late! I have arranged a little model to reproduce this issue, please click my github and run it:https://github.com/ZK-Zhou/multi_queue

[2019-12-03 11:22] ZK-Zhou commented on #34517
@oanush

[2019-12-03 11:25] gadagashwini commented on #34762
@rmbadl, Provide the complete standalone code to replicate the issue. Thanks!

[2019-12-03 11:40] odinsbane commented on #24496
@sanjoy I have a version that exhibits this problem. How would I go about accessing MinSystemMemory or "setting the magic 0.05 number"? I have reverted to using cuda 9.1 for the most part, but I don't mind trying a few things.

[2019-12-03 11:42] songs18 commented on #34369
Thanks. I read the page, unfortunately, i do not understand how AVX causes the warning, could you provide a detailed explain? What is the relationship between AVX and the warning?

[2019-12-03 11:45] alexespencer commented on #34607
I'm getting the same issue. Simply adding the line "from tensorflow import keras" into my flask app.py will cause the error:
`ModuleNotFoundError: No module named 'tensorflow_core.keras'`

[2019-12-03 12:03] rmbadl commented on #34762
I have no standalone code, the "train.py" code that I use is the tensorflow's one. I was just following this [page ](https://pythonprogramming.net/introduction-use-tensorflow-object-detection-api-tutorial/) .
I downloaded tensorflow and bazel and followed each ones guides to install them.. (from their own pages)

[2019-12-03 12:03] workingloong opened #34793 "Sequence pad support for Ragged Tensor when call to_tensor"
**System information**
- TensorFlow version (you are using): 2.0.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Right now, we can get a dense tensor by calling `to_tensor` of a RaggedTensor and the num_cols of the dense tensor is the max length of the tensors in the RaggedTensor. However, the max length may vary if we get the RaggedTens

[2019-12-03 12:08] LuchoTangorra commented on #34771
Thank you!
Why is this ? I think that if you are using a Keras model, you don't really need to debug, but to speed up your project, and Eager executions do the opposite. Am i wrong?

I don't understand the the reason of Eager execution using Keras.

Thank you in advance!

[2019-12-03 12:17] chsigg commented on #18652
Thanks a lot Liwen for trying it out. I will update the list of compute capabilities we build for, and add a warning message when we need to JIT from PTX to make it more obvious what's going on.

[2019-12-03 12:27] ZK-Zhou commented on #34517
my tensorflow version is 1.6.0

[2019-12-03 12:28] terhorst commented on #34772
Yep. Thanks.

[2019-12-03 12:28] #34772 closed

[2019-12-03 12:31] heiwais25 commented on #34670
@jdduke I see. We used TFMobile because TFLite doesn't provide much operations related to the Transformer as I searched correctly. Actually, we will use TFLite if the related operations are implemented. Thank you for your reply :)

[2019-12-03 12:31] #34670 closed

[2019-12-03 13:00] tigert1998 commented on #31118
I constantly run accross the bug. It's really annoying. It has nothing to do with my code since usually after several docker restarting or code recompiling, it works again.

[2019-12-03 13:10] suraj-0387 opened #34794 "@local_config_cc//:toolchain' does not contain a toolchain for cpu 'ios_x86_64'"
I am trying to import mediapipe project using Bazel. But when try to sync the project by clicking on bazel->sync->sync bazel  I get following issues. I am using ubuntu LTS 18 version and bazel version is 0.29.1. I am new to mediapipe so please provide detail answer for the issue.

     Error:Error:line: 47in cc_toolchain_suite rule @local_config_cc//:toolchain: cc_toolchain_suite
     '@local_conf

[2019-12-03 13:11] giovp commented on #32058
Having the same issue, it seems related to #32477, any news on this?

[2019-12-03 13:13] Pauladds commented on #34482
Sorry! I found the problem and I solve it!
Thank you :)

[2019-12-03 13:13] #34482 closed

[2019-12-03 13:17] PanCakeConnaisseur opened #34795 "AttributeError: 'ImageDataGenerator' object has no attribute 'shape'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): KDE neon, based on Ubuntu 18.04 LTS
- TensorFlow installed from (source or binary): via Anaconda 3
- TensorFlow version (use command below): 2.0.0
- Python version: 3.7.5

**Anaconda environment**
Name

[2019-12-03 13:29] muxgt commented on #34595
Dear Team, any news on this?

[2019-12-03 13:41] sitting-duck commented on #23542
@AshwinAKannan
I have seen other people using a method that involves a ``tf_exported_symbols_msvc.lds``
https://github.com/tensorflow/tensorflow/issues/23542#issuecomment-464661172

I have seen an explanation of that method at the link above, hopefully if that doesn't help, it may give you some good keywords for googling that ``.lds`` file method.

People have reported success using that method fr

[2019-12-03 13:50] CasiaFan commented on #34615
@oanush Oh sorry, my fault. Fixed it by changing `save_path` to `model_path` and the code above had been updated.

[2019-12-03 13:59] Yooong-W opened #34796 "bazel build tensorflow lite with with_select_tf_ops Error"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 18.04
- Mobile dev

[2019-12-03 14:03] y26805 commented on #32802
Translation & code snippet from https://zhuanlan.zhihu.com/p/89599048 for friends who do not read Chinese:

Requirements:
- tensorflow 2.x
- if model is trained in native Keras, do `import tf.keras as keras`

Code snippet:
[code]

[2019-12-03 14:10] fbroda commented on #34429
PhilippJKratzer's comment pointed me into the right direction. Just removing the line containing `--bin2c-path` didn't help. Without any deeper understanding of the problem I modified the original line
 ` "--link --bin2c-path $$(dirname $(location %s)) " % bin2c +`
in tensorflow release 1.13.2 to
  ``"--link `cat %s >/dev/null` " % bin2c +``
to get rid of the extra command line argument. That obvi

[2019-12-03 14:18] raphaelvorias commented on #28326
Got this error with tf2.0, cudnn 7, cuda 10.2 and 10.0.

[2019-12-03 14:36] wboleksii commented on #34763
@daverim that issue is for the old version of converter. The error is also look different.

[2019-12-03 14:51] olk commented on #33809
Using keras-tune and CTC loss (used by my orignal example) doesn't work:
[code]

So I've to fallback to MNIST example.

[2019-12-03 14:53] alekdev2019 commented on #34688
@gadagashwini , there is my frozen_graph file path:
https://drive.google.com/open?id=1tnMg5GVn7R8gU-X5yiORQN8wKsr2X8lW

Thank you.

[2019-12-03 15:08] PanCakeConnaisseur commented on #34795
PEBCAK

[code]
should be generator = imageGenerator.flow_from_directory.....

and `generator` must be the paramteter for `fit_generator()`

[2019-12-03 15:08] #34795 closed

[2019-12-03 15:14] OrodRazeghi commented on #9513
@funkey thanks for your response. Do you have any suggestions on how the transpose would look like in your implementation? It seems that in the case of conv4d, frame_results is the output and is the result of summing the convolution of the current input frame with its previous kernel frame. The reverse would be the result of summing the 3D transpose layers? or there is more to it? any comments wil

[2019-12-03 15:19] ajayaraman opened #34799 "tf custom model serialization issue"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Linux Debian
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): binary using pip install tensorflow
- TensorFlow version

[2019-12-03 15:27] zhm9484 commented on #34368
I figured it out. It's about the pinned memory.

[2019-12-03 15:27] #34368 closed

[2019-12-03 15:48] pythops opened #34801 "Can not run tensorflow gpu 2.0 with cuda 10.0 on arm64 boards (jetson nano)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution: Linux Ubuntu 18.04.3 arm64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.0.0
- Python version:

[2019-12-03 15:49] eemberda commented on #32381
This worked for me too. Then for all other functions that are deprecated, I used tf.compat.v1 or tf.compat.v2

[2019-12-03 16:11] renatobellotti commented on #33283
Did somebody make the feature request?

[2019-12-03 16:32] CHIKKIZZY commented on #25807
I think this error is related to tf.summary. To fix it, simply copy over cupti.lib and cupti64_100.dll in v10.0\extras\CUPTI\libx64 to v10.0\bin

[2019-12-03 16:35] mihaimaruseac commented on #34427
I didn't yet get a chance to look into these unfortunately. I think the earliest I can look into them is next week.

[2019-12-03 17:24] goldiegadde commented on #34775
@luvwinnie could you please provide a reproducible code snippet preferably in colab format

[2019-12-03 17:24] AaronReboot commented on #34580
Indeed. That's a simpler minimal example of the prob!

[2019-12-03 17:25] pouyaAB commented on #26620
@FedyuninV Did you found the source of the problem? I am facing the same problem.

[2019-12-03 17:25] goldiegadde commented on #34448
@bersbersbers thanks for checking with 2.1.0-rc0.
Please let us know if anything else remains, else will close this issue in the next 2 days.

[2019-12-03 18:02] wkelongws commented on #34767
@oanush
"In a separate script (without access to the model definition)", load the saved model for retraining, then you would have the error.
In your colab link, after finishing the second cell, please restart runtime then try running JUST the third cell, that is where the aforementioned error occurred.

[2019-12-03 18:19] enorkus opened #34804 "Object detection evaluation done on only a subset of test images"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Google Colab**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **N/A**
- TensorFlow installed from (source or binary): **Default installation on Google Colab**
- T

[2019-12-03 18:21] gowthamkpr opened #34805 "Please add Tested build configurations for Tensorflow 1.15 and Tensorflow 1.15-gpu"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue: N/A

Please provide a link to t

[2019-12-03 18:25] gowthamkpr commented on #33871
@Keepmoving-ZXY This is the configuration of Tensorflow-gpu 1.14

Version - tensorflow_gpu-1.14.0
Python version - 2.7, 3.3-3.7
Compiler - GCC 4.8
Build tools - Bazel 0.24.1
cuDNN - 7.4
CUDA - 10.0

If you see above some of the configurations i.e., compiler and cuDNN versions are not matching.
For more information, you can refer to the following [guide](https://www.tensorflow.org/install/source#gp

[2019-12-03 18:26] wkelongws commented on #34768
The issue I found here is caused by the default eager execution. tf.keras runs in eager execution model by default, so when each of the three LSTMCell is initialized, they are not aware of the existence of others so that all their weights are named exactly the same, which will then throw error in the model saving stage due to the naming conflicts.
You can check by printing out the weight names:
[c

[2019-12-03 18:26] #34768 closed

[2019-12-03 18:29] chris0914 commented on #34191
Same error here but under python 3.7
Tried with bazel 0.27.1 and 0.29.1. Used the r2.1 branch, while the r2.0 branch worked fine for me last time. Did some of you manage to compile or is it a bug?

[2019-12-03 18:33] 652994331 opened #34806 "build tensorflow/python.tools:optimize_for_inference failed"
\
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.14
- Python version: 3.7
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source): 0.26.0
- GCC/Compiler v

[2019-12-03 18:38] #34448 closed

[2019-12-03 18:41] pavithrasv commented on #34451
I agree that this needs more documentation. `get` does not have this behavior, `compile` API does. `get` will just return the deserialized version. Hence, when you give `keras.metrics.get('accuracy')` it will just return the `accuracy` function.

[2019-12-03 18:41] axch commented on #34773
Interesting.  I had tried it in the internal colab and got -1.0000001 in TF 1.15, but in any case, getting an answer strictly less than -1.0 isn't great in any TF version.

[2019-12-03 18:48] limjingrong opened #34808 "grpc+verbs not being used"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04 LTS
- Mobil

[2019-12-03 19:24] burnmg commented on #34426
Hi,
Thanks for the message
I have reimplemented my code by using another way.

Let me try to recover my previous code if possible.

[2019-12-03 19:25] rabitt opened #34809 "Typo in tf.keras.layers.Attention docs example"
## URL(s) with the issue:
https://www.tensorflow.org/api_docs/python/tf/keras/layers/Attention

## Description of issue (what needs changing):
In the code example, it currently reads:
[code]

The last line should instead be:
[code]

[2019-12-03 19:26] burnmg commented on #34426
`x_train` here is a CIFAR-10 dataset

[2019-12-03 19:34] r-barnes commented on #34776
Resolved internally.

[2019-12-03 19:34] #34776 closed

[2019-12-03 19:51] lamberta commented on #34758
Thanks. Fixed in https://github.com/tensorflow/docs/pull/1261 and tensorflow/org will get updated next site push.

[2019-12-03 19:51] #34758 closed

[2019-12-03 19:53] hohl commented on #31509
This bug still seems to be in the Tensorflow 2.0.0 release. I'm getting exactly that error messages multiple times when running the following tutorial project: https://www.tensorflow.org/tutorials/text/text_classification_rnn

The model seems to train and accuracy is increasing, so the warning doesn't seem to cause any harm besides messing up the shell.

**Operating System:** Ubuntu 18.04.3 LTS
**

[2019-12-03 20:08] wchargin commented on #34427
Acknowledged; thanks! It’s certainly quite weird that I can reproduce
this on a fresh Ubuntu machine but not my normal environment, which is
Debian-based. I’ve hacked around this by disabling the one integration
test in our CI that happens to hit this, but that integration test is
actually pretty important for us, so it would be awesome if we could get
to the bottom of this. Thanks so much!

[2019-12-03 20:09] sbushmanov commented on #34191
It would be nice if someone who succeeded with building TF2.1 shared their config (CUDA and Bazel versions at least) and cast some light if building with CUDA 10.2 is possible.

[2019-12-03 20:13] awang-argoai commented on #27016
@mihaimaruseac I think it would be more clear in the deprecating msg to state explicitly something like `do not try to replace tf.layers with tf.keras.layers until you are on TF version > 2.0`.

[2019-12-03 20:13] AndreyPlotkinOr commented on #18652
I'm having the same issue now.
TF 1.15, Cuda 10.0, Cudnn 7,
TF was custom compiled with AVX2, XLA, TRT, CC 3.5/3.7/7.0/7.5

I tried to debug it with strace, and found that there's a futex that locks the execution thread:
18:38:00.532805 futex(0x7f852818fa78, FUTEX_WAIT_BITSET_PRIVATE|FUTEX_CLOCK_REALTIME, 0, NULL, ffffffff) = 0 <47.742524>

Another thread starts to work heavily with huge batch of

[2019-12-03 20:19] jvishnuvardhan commented on #34128
@PN12 Can you please share a simple standalone code to reproduce the issue? Thanks!

Please close the issue If the issue was already resolved. Thanks!

[2019-12-03 20:50] gowthamkpr commented on #34648
@x7night This is similar to the issue #32712. Please confirm, if thats the case we can track this in a single issue.

[2019-12-03 20:56] kmuchmore opened #34810 "Using Dataset API gives different results than passing in data directly"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): I started from

[2019-12-03 20:57] jdduke commented on #34286
Ah, sorry, what I meant to write was change the target ops to just:
[code]

[2019-12-03 21:06] abhinavg86 commented on #32381
Were you able to fix it? I am facing the same problems, have the same config as yours.

[2019-12-03 21:33] sanjoy commented on #24496
@odinsbane you'll have to build TensorFlow from source to do what I suggest below.

First step is to add `LOG(INFO)` or `std::cerr` lines to [`MinSystemMemory`](https://github.com/tensorflow/tensorflow/blob/4596b3bc1ea85ea1bfdb6c0779b90eaab65ae252/tensorflow/core/common_runtime/gpu/gpu_device.cc#L804) to print out `available_memory` and the return value from `MinSystemMemory`.  Does `available_mem

[2019-12-03 21:48] itemko commented on #34191
@sbushmanov
It seems we might observe something similar 1-2 weeks ago after default Bazel version upgrade (possibly related issues: https://github.com/tensorflow/tensorflow/issues/34117 https://github.com/tensorflow/tensorflow/issues/34222). About a week ago the issue has disappeared but we changed build environment to CUDA 10.1 and Bazel 1.1.0 (installed automatically via [Bazelisk](https://githu

[2019-12-03 21:54] jvishnuvardhan commented on #34016
I am closing the issue as it was resolved. Please feel free to open it if the issue persists again. Thanks!

[2019-12-03 21:54] #34016 closed

[2019-12-03 21:58] cshjin commented on #34645
In TF2.0, You are using the Keras optimizer, where it requires two arguments including the var_list.
See the doc here: https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Optimizer#minimize
Example like: https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Optimizer#example
would explicitly get **var_list** from **trainable_weights**.

In TF1.X, instead, you could use the tf.t

[2019-12-03 22:07] cshjin commented on #34645
In your case, either build a model object and take the **model.trainable_weights**, or define layers one by one and retrieve variables by **layer.weights**.

Check the doc here: https://www.tensorflow.org/guide/migrate#2_use_python_objects_to_track_variables_and_losses

[2019-12-03 22:10] lamberta commented on #34631
Thanks @copperwiring , do you have a pull request in the works for this? Please link when ready for review

[2019-12-03 22:14] haozha111 commented on #34698
Assigning this to gargn@ who is more familiar with the context.

[2019-12-03 22:33] nfelt commented on #34481
Thanks for pointing this out, we'll fix it.  @plooney Just to confirm, is the example code you're referring to the code shown in https://www.tensorflow.org/tensorboard/migrate?

[2019-12-03 22:41] plooney commented on #34481
That is correct

On Tue, 3 Dec 2019, 22:33 Nick Felt, <notifications@github.com> wrote:

[2019-12-03 22:47] wanfranck commented on #33605
@impjdi unfortunately with your config I get fatal error
[code]

[2019-12-03 22:51] sidwa commented on #34550
Currently I can install tensorflow using, "pip3 --no-cache-dir install tensorflow" there is no hash mismatch anymore.

[2019-12-03 22:51] #34550 closed

[2019-12-03 23:04] impjdi commented on #33605
That's weird.  That file has been existing for quite some time.

[2019-12-03 23:29] robieta commented on #34674
Wrapping any graph computation in a Lambda layer or a custom Layer (putting code in the `call` body) is the correct way to do it. There is a mechanism called the TensorFlowOpLayer which tries to wrap "bare" computations in layers, but it is best-effort only. So your workaround isn't really a workaround.

[2019-12-03 23:39] pavithrasv commented on #31930
We recommend that you use logits as inputs always for numerical stability. All of the TF docs and examples will be updated to reflect the same.

[2019-12-03 23:39] #31930 closed

[2019-12-04 00:08] #34741 closed

[2019-12-04 00:09] jonathanrjpereira commented on #34741
Great that worked.

[2019-12-04 00:47] copperwiring commented on #34631
Oh! Yes. I missed this. I'll send a PR in a few days. Thanks Billy!

[2019-12-04 00:57] cshjin commented on #34144
@OverLordGoldDragon
I don't know whether your optimization is completed on GPU or CPU.
I find the same issue on GPU, but if you force the optimization in CPU, which is the same as numpy does, then it is faster.

On GPU:
[code]

On CPU:
[code]

I don't know the particular reasons behind, maybe the loading cost from CPU to GPU?

[2019-12-04 01:10] daverim commented on #34763
The issue in 26626 was unsupported ops, which I'm seeing in your error messages as well, but yes, your path and model seem to be different so I am taking a look at it.

[2019-12-04 01:22] rj1346 commented on #18538
sess.run() is not working. is there any alternative?

[2019-12-04 01:37] sarthakforwet commented on #34760
https://colab.research.google.com/gist/sarthakforwet/cd7ff133d0e68cf21571de3790010543/untitled0.ipynb

Here is my Colab gist. Kindly have a look at it .
Thanks

[2019-12-04 01:41] #31973 closed

[2019-12-04 01:47] haozha111 commented on #34563
Hi,

Sorry for late reply. The missing ops could be supported by the new MLIR-based TF Lite converter. Can you download the latest tf-nightly and then set:
converter.experimental_new_converter = True

This should resolve your issue.

For detailed examples, please see:
https://groups.google.com/a/tensorflow.org/forum/#!topic/tflite/C7Ag0sUrLYg

Thanks.

[2019-12-04 01:50] shenx3x opened #34812 "The checkpoint generated by tensorflow2.0 training does not have a meta file. How should it be converted to a pb file?"
When T1, the meta file is converted to a pb file, and then the pb file is converted to a tflite file. Now T2 does not generate a meta file, what should I do? Can anyone help me?

[2019-12-04 01:57] mkz0930 opened #34813 "gru convert tflite err(KeyError: 'kernel')"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):windows 10, notebook(anconda)
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source):
tensorflow2.0.0 (use pip install)

**Command used to run the converter or code if you’re using the Python API**
converter = tf.lite.TFLiteConverter.from_keras_model(model)
tflite_mo

[2019-12-04 01:58] cj741 commented on #9837
Hi @theflofly , How is work doing? We also need the GradientDescentOptimizer in our project, but I didn't find it in the TF 2.0, hope your work merge into the TF.

[2019-12-04 01:59] mlinxiang opened #34814 "tflite load model failed use static library, how to get the error info, now only ok or error code?"
i have a tflite model with two type float and float16, run with gpu(use c++ interface). float run ok and both model run ok use python, but float16 failed when use c++ code at code: auto iRetCode = m_pDeeplabInterp->ModifyGraphWithDelegate(m_pGPUDelegate); but this only return one error code 1, but no any other information, i can't find any way to do more thing to check whether is model has ops not

[2019-12-04 02:16] mdanatg commented on #34500
BTW, there is a better way to use XLA, one that is more likely to be supported and has less overhead as well:

[code]

With this, performance starts to approach the order of magnitude of C++.

Of course, we would like things to be this fast by default without resorting to arcane flags, so there still is a bit of work to be done.

[2019-12-04 02:18] rj1346 commented on #13492
node1= tf.constant(3.0, tf.float32)
node2= tf.constant(4.0)
sess= tf.compat.v1.Session()
print(sess.run(fetches=[node1,node2])

RuntimeError: The Session graph is empty.  Add operations to the graph before calling run().
The above error is being shown. Can you please help!!!

[2019-12-04 02:41] xiaolou commented on #34368
@zhm9484 how to fix it ?

[2019-12-04 02:59] wangtz commented on #34813
Hi Renjie,

Any thoughts / guidance on the RNN stuff?

[2019-12-04 03:13] shnamin commented on #26664
@asjmasjm what is the workaround? I am using the export_inference_graph.py to export a quantized model, but I am getting the error FeatureExtractor/MobilenetV3/Conv/conv_quant/max not found in checkpoint. I have trained the model myself (starting from f32 but trained a quantized model).

[2019-12-04 03:29] oanush commented on #34790
Issue replicating for TF-2.0 and tf-nightly,kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/d513c8ebc713b5c725e55789587f4e7e/34790.ipynb) of colab.Thanks!

[2019-12-04 03:38] KSword commented on #32725
the same issue, is there any solution?

[2019-12-04 03:40] pavithrasv commented on #34579
@awaizman1 you are right, the issues seems to be resolved now. Thank you!

[2019-12-04 03:40] #34579 closed

[2019-12-04 03:50] johnght opened #34815 "[bug] Lambda multiple-layers-different-shapes (ValueError: Dimensions must be equal)"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-12-04 04:40] ravikyram commented on #34633
I am closing the issue since the query is been resolved. Thanks!

[2019-12-04 04:40] #34633 closed

[2019-12-04 04:41] #34810 closed

[2019-12-04 04:41] kmuchmore commented on #34810
This probably something for stack overflow and not here.

[2019-12-04 04:45] ravikyram commented on #34567
@acarrill

Any update on the issue please. Thanks!

[2019-12-04 04:46] oanush commented on #34786
@johnpjust ,
When tried running the given code `NameError: name 'data_loader_train' is not defined` error was faced, can you provide the standalone code to replicate the issue reported above ?Thanks!

[2019-12-04 04:46] Kevin-Oudai commented on #6698
I was getting the following error with tensorflow 2.0 in my conda environment.

[code]

so i added the following code to my CNN

[code]

My output is now

[code]

As everyone suggested it is due to tensorflow using all of the GPU/GPUs. My CNN trains without error now.

[2019-12-04 04:47] ravikyram commented on #34501
@frincyc

Any update on the issue please. Thanks!

[2019-12-04 04:57] jackd commented on #34674
Ack, was about to say "I'd prefer a more helpful error message" then I realized the top traceback says almost exactly that - just not where I normally look for the underlying cause...

[2019-12-04 04:57] #34674 closed

[2019-12-04 04:57] oanush commented on #34784
@fancyerii ,
When tried running the given code in TF-2.0, I did not face any error. Kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/6b66743fe92a533bd9f0a35e47976b87/34784.ipynb) of colab for your reference.Thanks!

[2019-12-04 05:47] johnpjust commented on #34786
@oanush
[code]

[2019-12-04 06:26] renjie-liu commented on #34813
Hi Nupur, can you help take a look? thanks

[2019-12-04 06:34] oanush commented on #34780
Issue replicating for Tf-1.12 and TF-1.15 also, kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/5c84d5aabb47b85a792e7c0d474336bd/34780.ipynb) of colab.Thanks!

[2019-12-04 06:35] olk commented on #33809
I've tuned the hyper parameters for Tensorflow's MNIST example with Keras Tuner.
The network was trained with the tuned hyper parameters.

[Code](https://colab.research.google.com/drive/19y3BmBymeRKXV6w1BfB3B2_YwPBBnWAs#scrollTo=26yDrlokmr8n) is available in colab.

MirroredStrategy (2 GPUs): 660s
OneDeviceStrategy (1 GPU) : 330s

Even with tuned hyper parameters MirroredStrategy is still 2 times

[2019-12-04 06:45] jiarenyf commented on #8465
+1

[2019-12-04 06:45] jiarenyf commented on #8465
+1
And could return a sparse tensor ...

[2019-12-04 06:53] EdwarDDay commented on #34096
Is there a workaround for this bug?

[2019-12-04 07:02] Nikh1l commented on #22564
This worked. :)
Thanks a lot

[2019-12-04 07:05] ZsWong commented on #33161
I got the same problem with the host too @joehoeller. And the method provided on the link solved my problem. Thank god!

[2019-12-04 07:10] iatechicken commented on #34518
Hope this helps. I was facing the similar issue with:
tensorlfow 2.0
CUDA 10.0
cuDNN 7.6.5

I downgraded to cuDNN 7.6.2 and my model is training now. I tried cuDNN 7.5.1 before cuDNN 7.6.2, but that complained that source was built with 7.6 +

Also, you are on CUDA 10.1. I started with CUDA 10.2, but eventually decided to downgrade to CUDA 10.0 and it was working fine for smaller models until I hi

[2019-12-04 07:10] abhilashshakti commented on #33185
Awesome, thanks!

On Mon, Dec 2, 2019 at 12:20 PM William Chargin <notifications@github.com>
wrote:

[2019-12-04 07:12] PN12 commented on #34128
@jvishnuvardhan

Closing the issue at the moment.

Thanks.

[2019-12-04 07:13] RafayAK commented on #34719
This is how I set up my config file:
[code]

[2019-12-04 07:14] iatechicken commented on #34355
Hope this helps. I was facing the similar issue with:
tensorlfow 2.0
CUDA 10.0
cuDNN 7.6.5

I downgraded to cuDNN 7.6.2 and my model is training now. I tried cuDNN 7.5.1 before cuDNN 7.6.2, but that complained that source was built with 7.6 +

[2019-12-04 07:14] mengjiexu opened #34817 "YOLOBOX ops, YoloNMS ops"
Use tf2.0 project: yolov3-tf2
I train the model, and want to covert it to .tflite file. Then I get error:
Some of the operators in the model are not supported by the standard TensorFlow Lite runtime. If those are native TensorFlow operators, you might be able to use the extended runtime by passing --enable_select_tf_ops, or by setting target_ops=TFLITE_BUILTINS,SELECT_TF_OPS when calling tf.lite.T

[2019-12-04 07:35] RafayAK commented on #34719
Also here is the build configuration, as set in the `.tf_configure.bazelrc` (notice how `build:xla` is set to true, even after its 'No' in the `.configure` file)

[code]

[2019-12-04 07:48] jaingaurav commented on #34144
There are known limitations of TF eager execution performance that is being actively worked on by the team. I'd suggest seeing if you can use tf.function to improve performance.

[2019-12-04 07:48] #34144 closed

[2019-12-04 07:57] ravikyram commented on #34791
I have tried on colab with TF version 1.12,1.15 and was able to reproduce the issue.Please, find the gists of [code1](https://colab.sandbox.google.com/gist/ravikyram/8da27df4cb68029c2dae23a95fb01d34/untitled439.ipynb) and [code2.](https://colab.sandbox.google.com/gist/ravikyram/2c0fffd2fae199f489869cf3bf8ae6f6/untitled440.ipynb) Thanks!

[2019-12-04 08:05] wanfranck commented on #33605
@impjdi I mean, maybe I did something totally wrong. Just to validate the whole process:
1. checked out to master branch, and pulled it.
2. added cc_binary (from youur comment) section to ./tensorflow/BUILD file.
3. added pathes to android sdk and ndk repositories in ./WORKSPACE file.
4. run the command above (from your comment).
5. after that got the following error.

[2019-12-04 08:05] geet2019 commented on #23683
https://github.com/tensorflow/tensorflow/issues/23683#issuecomment-532522740

how to do this Now after all done, change your python interpreter's environment to anaconda environment where you installed tensorflow.

[2019-12-04 08:06] Ori226 commented on #34757
I found a solution. It is possible. I found the explanation in the source code error message:
    LOG(ERROR) << "There must be the same number of items in --input_layer,"
               << " --input_layer_shape, and --input_layer_type, for example"
               << " --input_layer=input1,input2 --input_layer_type=float,float "
               << " --input_layer_shape=1,224,224,4:1,20";

in the fil

[2019-12-04 08:16] ravikyram commented on #34788
I have tried on colab with TF version 2.0, 2.1.0-dev20191203 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/cccb91f1714c050ea544e6ada5861cb3/untitled441.ipynb). Thanks!

[2019-12-04 08:20] ravikyram commented on #34787
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Request you to provide simple standalone code to reproduce the issue in our environment. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tens

[2019-12-04 08:41] ravikyram commented on #34782
I have tried on colab with TF version 2.1.0-rc0 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/0d0639c5e7a5dae0937d7aa16b042d59/untitled444.ipynb). Thanks!

[2019-12-04 08:44] oanush commented on #34786
@johnpjust ,
I tried running the code in colab for TF-2.0 and i didn't face any issue,kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/dc54aed45ba16f16cb96f1e3aa27d1e2/34786.ipynb) for your reference. Please provide us gist if the issue is replicating from your end.

[2019-12-04 08:54] Tenyn commented on #34787
Operating system is windows 10, and TensorFlow version s 2.0.0.
I want to obtain the value of my custom layer, and fail by using numpy() which raises 'Tensor' object has no attribute 'numpy' error.
Eager execution is used automatically.

The code is here, using an example in the tensorflow tutorials.

`import tensorflow as tf
from tensorflow.keras import *

print("TensorFlow version: {}".format(tf

[2019-12-04 08:55] byronyi commented on #34782
Gently ping @reedwm; is this behavior intended?

[2019-12-04 08:57] oanush commented on #34615
Kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/0f28c3f52975696bba8ae7f8f28d2f49/34615.ipynb#scrollTo=3YJQNP6eGQ-q) of colab when tried replicating the issue for given code.Thanks!

[2019-12-04 09:00] wanfranck commented on #33605
We fixed build with adding additional include directory with com_google_absl.
The line with this dependency was added with
[code]

[2019-12-04 09:05] ravikyram commented on #34778
@johnpjust

Looks like code is incomplete. Request you to provide complete code snippet or colab link to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2019-12-04 09:26] chris0914 commented on #34191
Am I correct, that the master branch is still TensorFlow 1.15 and not the nightly TensorFlow 2.1 @itemko?

[2019-12-04 09:31] gramce opened #34819 "Java: The result of SavedModelBundle is different every time!"
The model was trained by python and was saved using tf.train.Saver.

I use the SavedModelBundle api to load and predict in java. However, the result is different every time. It seems some tensor was not loaded randomly. And in the same main programe，the result is same notever how many times I load the model. But in different programs, the result may be different.

PS: model maybe partial load. Bec

[2019-12-04 09:42] CasiaFan commented on #34615
@oanush Use `tensorflow-gpu==1.14.0` and that error is due to tf2.0.

[2019-12-04 09:42] niranjan8129 commented on #33673
lstm_cell =tf.keras.layers.LSTM(units=hidden_unit)
lstm_cell = tf.nn.RNNCellDropoutWrapper(lstm_cell, output_keep_prob=self.dropout_keep_prob)
self._initial_state = lstm_cell.get_initial_state(128, tf.float32)

Got  ERROR
**********************
ValueError: slice index 0 of dimension 0 out of bounds. for 'strided_slice' (op: 'StridedSlice') with input shapes: [0], [1], [1], [1] and with computed in

[2019-12-04 09:44] ravikyram commented on #34787
I have tried on colab with TF version 2.0 ,2.1.0-dev20191203 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/de006b8bfcd8c04b89f483a0eaececac/untitled446.ipynb). Thanks!

[2019-12-04 09:48] frank1789 commented on #34705
At the moment I am unable to provide a snippet to repeat the error, I suggest running the whole project to understand how to solve the problem on both sides.
In fact I cannot operate directly on the cluster, but I will have to communicate the solution to the system that manages the cluster.
The directory indicated as _"tf-models"_ is git module deriving from the [Object Detection API](https://gith

[2019-12-04 09:52] LuisSaybe commented on #33030
this should be fixed in `2.1.0-rc0`

[2019-12-04 09:56] byronyi commented on #34808
It seems your RDMA configuration is not in effective. Would you mind to check again with official TensorFlow package (without verbs support) and see if there is any error reported?

[2019-12-04 10:37] Meerer opened #34820 "[Bug] InternalError: cudaGetDevice() failed. Status: cudaGetErrorString symbol not found. On Cuda 10.0.130"
**System information**
- OS Platform and Distribution: (Windows 10)
- TensorFlow installed from : Binary
- TensorFlow version: TF-GIT: v2.0.0-rc2-26-g64c3d382ca  TF : 2.0.0
- Python version: 3.6
- CUDA/cuDNN version: 10.0.130
- GPU model and memory:  GeForce Gtx 1070

**Describe the current behavior**
similar to this issue just on CUDA 10.0.130:
#https://github.com/tensorflow/tensorflow/issues/323

[2019-12-04 10:42] deathrc commented on #33746
I tried to use @Ferluci  's way to solve this problem. Command line shows:
[code]

But when I open my browser, the page keeps in load status.

[2019-12-04 10:52] wanfranck commented on #33605
@impjdi with the workaround above I ran tflite gpu delegate on Mali and now it's another problem appeared. When I try to init my input buffers, I try to get input tensor size like this:

[code]

I tried the same code on Adreno device (which worked before update) and ran into the problem where after invoke method I try to read my output and in outputs() method in debug I see that subgraphes member

[2019-12-04 11:00] 372046933 opened #34821 "MultiWorkerMirroredStategy cannot run"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-12-04 11:04] #33049 closed

[2019-12-04 11:07] x10000year commented on #27902
any update? @mhurliman

[2019-12-04 11:07] Queequeg92 commented on #34788
@ravikyram Looking forward to your fix. Thx!

[2019-12-04 11:11] AlexisBRENON opened #34823 "Profiler API and Service are not available"
## URL(s) with the issue:

https://www.tensorflow.org/tensorboard/tensorboard_profiling_keras#other_ways_for_profiling

## Description of the issue (what needs changing):

The guide presents the profiler API and service as other ways of profiling.
Both of these use modules inside the `tensorflow.python` package.
However, this package does not seem to exist as exhibited by the error message:

[code

[2019-12-04 11:41] Athul8raj commented on #34799
Note that "build" method is applied to a "keras.layers.Layer" subclass and not to a "keras.Model" subclass.
You have essentially written a custom layer code and not a custom model code.
Please refer : https://www.tensorflow.org/guide/keras/custom_layers_and_models

[2019-12-04 11:53] xufangda commented on #32381
Same for me, please fix it

[2019-12-04 12:01] vladsqp opened #34825 "Compiling tensorflow 2.0.0 on Jetson AGX Xavier"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from (source or

[2019-12-04 12:06] Cospel commented on #33870
This is also related to tensorflow==2.1.0rc.

[2019-12-04 12:10] ArtyomMashkin commented on #33511
Hello, I've back again to the issue. I've investigated the `TfLiteInferenceCalculator` from MediaPipe and some other projects in MediaPipe, but they are mostly using c++, but my project is on Java so I'm not sure that they can help me.

How I understand my case is usual, I have inputs and outputs, only I don't use camera as in usual examples, I have a proceeded ByteBuffer from a file.

I use:
`int

[2019-12-04 12:11] marvinxu-free commented on #29371
anyone found the answer?

[2019-12-04 12:32] Hoeze opened #34826 "[Dask] [TF 2.0] ValueError: TypeError: len() of unsized object"
**Describe the current behavior**
[code]

**Describe the expected behavior**
Should just return a tf.EagerTensor

**Code to reproduce the issue**
I uploaded a Test-Dask-array which produces this error:
https://drive.google.com/file/d/1NtKsv3P37MyYzs8OCbzxSVuL-hA79IPE/view?usp=sharing
Please `bunzip2` it before running the following code:
[code]

**_The part where it fails is `value[0, 0]`, which i

[2019-12-04 12:37] tensorflowbutler commented on #29952
It has been 30 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-04 13:08] gthb opened #34827 "Bogus cache keys in Network._output_shape_cache can cause wrong output shapes (and gradual but unbounded memory growth)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.14.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.0.0-rc

[2019-12-04 14:01] pawel-ziecina opened #34828 "Missing default floating point values in single_image_random_dot_stereograms_ops.cc"
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow version: 1.12+ gpu installed with pip
- CUDA/cuDNN version: 9.0/7.0
- GPU model and memory: GTX 1060 6GB / NVIDIA-SMI 390.116
- Exact command to reproduce: use code below in python3 script
- Mobile device: N/A

Code to reproduce:

[code]

Run with (carla egg package attached):

[code]

Observe:

[code]

Related with #21164 - there was bug w

[2019-12-04 14:41] psunn commented on #34622
@gadagashwini @haozha111 Hi guys, sorry to bother you. Can you give some suggestions?

[2019-12-04 14:41] ajayaraman commented on #34799
Thanks, as I explored the documentation further, I realized that I can accomplish what I want with custom layers and still use the functional api to compose the custom layers into models. So I'd like to maybe request that the error message be improved when to_json() is invoked on a subclassed model suggesting that it is not supported. At least that way it will be easier to adapt and make use of cu

[2019-12-04 14:41] #34799 closed

[2019-12-04 14:44] jcrousse commented on #27170
Hi, now it seem indeed possible to calculate the model output with Keras layers, but the Keras `fit` function is the next point of failure.

This is based on tf-nightly-build:2.1.0.dev20191203

**Sample code that works with Tensors and fails with RaggedTensors:**
[code]

And the Traceback:

  File "/home/john/miniconda3/envs/oreo/lib/python3.6/site-packages/tensorflow_core/python/util/nest.py", li

[2019-12-04 14:54] mdanatg commented on #34790
Yes, it's the same issue as #34683 - because the "eager" implementation of TensorArray always expects a shape, it errors out in `scatter` before the tf.function verification takes place.

If we avoid the use of scatter, we get the error expected from #34683, in tf-nightly: "NotImplementedError: Attempting to build a graph-mode TF2-style TensorArray from either an eager-mode TensorArray or a TF1-st

[2019-12-04 14:59] mdanatg commented on #34433
I'm looking into this, but am a bit swamped today. If you have the chance, could you check the version of `gast` you have installed?

[2019-12-04 15:01] mayou36 commented on #34790
That resolves the issue, true. Just putting `tf.function(autograph=False)` around the `TensorArray` creation is fine.

The improved error message is already in the nightlies as I see, so closing but feel free to reopen.

[2019-12-04 15:01] #34790 closed

[2019-12-04 15:07] mdanatg commented on #34790
Bit of a caution that wrapping just the `TensorArray` creation in a tf.function no longer works in the nightly, and will most likely break in 2.1 or 2.2, due to the newly-added verification. It will only work reliably once #34683 is fully fixed.

[2019-12-04 15:19] mlinxiang commented on #34350
the same issue when convert deeplab mobilenetv2 version.

[2019-12-04 15:42] AlexFuster commented on #33283
@renatobellotti  I don't think so

[2019-12-04 15:55] liyi193328 commented on #32355
Look forward some examples

[2019-12-04 16:24] phsimon commented on #15026
Hi, I get difference as well with the same model, but one done with Keras and the other with TensorFlow.
I check the default parameter (for the loss), but until now, I do not have found an explanation.
Maybe using "tf.compat.v1.RMSPropOptimizer"  is not the same than using optimizer="rmsprop" within model.compile (for keras) ?

[2019-12-04 16:45] AlexFuster commented on #33283
I'm looking at Tensorflow's code and the problem is produced by the class base_layer.Layer (note that tf.keras.Model inherits from this class)

So the error can be replicated like this
[code]

[2019-12-04 16:58] nareshr8 commented on #26591
I am not able to create a model by joining Dense on top of DenseFeatures. When I do that it is complaining that Dense Features doesnt have shape attribute.

` for i in range(hidden_layers):
---> 77         l= tf.keras.layers.Dense(hidden_units, activation='relu')(l)
     78         # l=layers.Dropout(dropout_rate)(l)
     79     pred= tf.keras.layers.Dense(horizon, name='out')(l)

/local_disk0/pyt

[2019-12-04 16:59] gargn commented on #34698
If you installed using `--user` instead of `sudo pip install`, then  you do not have any console commands in your path. You probably need to do `export PATH=$PATH:~/.local/bin` before running the converter. This is a pip oddity, not really a bug of our converter.

Reassigning to @aselle who has more knowledge about this.

[2019-12-04 17:08] javicivit commented on #34391
If I don't disable eager execution in Colab now tf.config.experimental_connect_to_cluster(cluster_resolver)
dose not return

[2019-12-04 17:13] markomernick commented on #27170
Hi @jcrousse,

It looks like you're defining an integer ragged tensor and trying to pass that into a float input. (The error is not as helpful as it should be, I know - we're working on it.) The key is the first dtype in the 'more specifically' message: one has 'tf.int32' and the other 'tf.float32'.

[2019-12-04 17:22] Mr-Grieves commented on #34286
Oho! that appears to have solved it!!
Great. Thank you for the suggestion

[2019-12-04 17:23] TianrenWang commented on #15644
Ya I also need to use unique with axis. Please fix this as soon as possible.

[2019-12-04 17:24] javicivit commented on #34391
Using the nightly build (Tensorflow version 2.1.0-dev20191203) it returns but then tf.tpu.experimental.initialize_tpu_system(cluster_resolver)
Produces:
NFO:tensorflow:Initializing the TPU system: grpc://10.68.77.162:8470
INFO:tensorflow:Initializing the TPU system: grpc://10.68.77.162:8470
INFO:tensorflow:Clearing out eager caches
INFO:tensorflow:Clearing out eager caches
------------------------

[2019-12-04 17:34] ElderOrb commented on #31118
@mihaimaruseac I guess the issue still here? Any ETA on fixing it finally?

[2019-12-04 17:42] acarrill commented on #34567
@ravikyram Yep, sorry!
I'm now able to use tensorflow with gpu. I only had to uninstall tensorflow and tensorflow-gpu, next I reinstalled tensorflow-gpu, also I included this line in my code:

`os.environ["CUDA_VISIBLE_DEVICES"]="0"`

Now I have other issue. I can't confirm what physical device I'm using. It's looks like gpu, even if
I change CUDA_VISIBLE_DEVICES if I execute the following command

[2019-12-04 17:50] sanjoy commented on #27902
@mhurliman, I'd be happy to review a PR that fixes this.

[2019-12-04 18:06] SYeter opened #34833 "Error building from source"
<em>I'm getting this error after running "bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package "</em>

**System information**
- Windows 10
- TensorFlow version: 1.13
- Python version: 3.6
- Installed using  conda:
- Bazel version : 0.21.0
- GCC/Compiler version : visual 2015

WARNING: The following rc files are no longer being read, please transfer their contents or import the

[2019-12-04 18:13] AlexFuster commented on #33283
Hey guys, came out with a solution. It's ugly but it seems to work. I hope it helps
By the way, I'm using dill because pickle does not serialize weakref objects.

[code]

[2019-12-04 18:13] henrypinkard commented on #33261
@k-w-w this is a pretty major limitation at the moment. Any idea on what needs to be changed to fix it?

[2019-12-04 18:23] jvishnuvardhan commented on #33673
@niranjan8129 Please open a new issue with details of issue and a simple standalone code to reproduce the issue. thanks!

[2019-12-04 18:24] #34128 closed

[2019-12-04 18:24] rchao commented on #33030
Closing the issue as it's confirmed fixed. Thanks!

[2019-12-04 18:24] #33030 closed

[2019-12-04 18:35] r-barnes commented on #34809
Fixed by 4b2f4f4d25a75593bdeaf993b8cdcfc7055a7a55.

[2019-12-04 18:38] jiraiyajr98 commented on #34563
Thank You .Its working now.

[2019-12-04 18:38] #34563 closed

[2019-12-04 18:40] jvishnuvardhan commented on #34813
@mkz0930 When I added experimental flag, everything worked as expected. Please add one line to your code after `converter`.

`converter.experimental_new_converter = True`

Please check the gist [here](https://colab.sandbox.google.com/gist/jvishnuvardhan/bbea3254d686cb5b2d32ffe9d43511a0/untitled685.ipynb). Thanks!

Please close the issue if it was resolved for you. Thanks!

[2019-12-04 19:02] chahld opened #34834 "layer.output raises AttributeError because inbound nodes lost after call to activation function"
**System information**
- custom code
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
ubuntu 18.04
- TensorFlow installed from (source or binary):
pip install tensorflow-gpu
- TensorFlow version (use command below):

v2.0.0-rc2-26-g64c3d38 2.0.0
and
v2.0.0-beta0-16-g1d91213fe7 2.0.0-beta1

- Python version:
3.6.9

**Describe the current behavior**
calling layer.output on a keras layer th

[2019-12-04 19:12] jvishnuvardhan commented on #34620
@antofara I ran your code in `tf-nightly` and I see batch_size set as 50. There were lots of improvements recently and team is continuously improving the converter.

I have also added new experimental new converter as `converter.experimental_new_converter = True`. Please check the gist [here](https://colab.sandbox.google.com/gist/jvishnuvardhan/c7f8adcc2be802258e522540b0c61472/untitled686.ipynb).

[2019-12-04 19:20] sanjoy commented on #27487
I was not able to reproduce this using TF 2.0 on a P100.  I had to remove the `TFBrain` import since I don't know where I can get that package.

This is the output from the program: https://gist.github.com/sanjoy/37c7644327c32cf91738070ab1789984 and this is the output form `pip list`: https://gist.github.com/sanjoy/410d42bc298855aa038c03e9a84d4b81

[2019-12-04 20:15] gowthamkpr commented on #34781
@sonfiree Can you please provide a simple reproducible case for us to reproduce the issue. Thanks!

[2019-12-04 20:25] eleprocha commented on #30191
try conda from anaconda prompt or else it doesnt work

[2019-12-04 20:31] adammichaelwood commented on #26539
`zeros_like` does not raise any errors directly, and we do not list transitive raises

[2019-12-04 20:31] #26539 closed

[2019-12-04 21:03] jjzgeeks commented on #24828
Same issue here

downloaded cuDNN https://developer.nvidia.com/rdp/cudnn-download, and installed it(follow the link https://askubuntu.com/questions/767269/how-can-i-install-cudnn-on-ubuntu-16-04), the problem was sloved.

[2019-12-04 21:14] AndreyPlotkinOr commented on #33539
But TF 1.14 doesn't have this problem...
@sonfiree Did you find the workaround for this issue?

[2019-12-04 21:16] ymodak commented on #34785
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
 Thanks!

[2019-12-04 21:16] #34785 closed

[2019-12-04 21:25] ymodak commented on #34574
You may try allow_growth option, which attempts to allocate  GPU memory based on task:
[code]

[2019-12-04 21:35] jvishnuvardhan commented on #26398
@EphChem Can you please provide simple standalone code to reproduce the issue? Can you try to use new experimental converter by adding this line `converter.experimental_new_converter = True` and see whether the error persists. Thanks!

[2019-12-04 21:42] limjingrong commented on #34808
Hmm. @byronyi do you have a basic RDMA test code that I could use? I want to rule out the possibility that it's a quirk with the code I'm using--it seems like estimators are pretty new to distributed training.

[2019-12-04 21:46] 00krishna commented on #30609
I am getting the same error as @adammichaelwood. Is there some new Feature Columns API on the way, or are these actually spurious as indicated? I have not seen any official TF 2.0 responses yes, only a workaround.

[2019-12-04 22:06] annarev commented on #30609
@rohan100jain Rohan, can you take a look how FeatureColumn APIs can be updated so that they don't print out deprecation warnings?

[2019-12-04 22:10] ymodak commented on #34673
@molo32 The inception model is trained using the Imagenet dataset.
See http://download.tensorflow.org/models/image/imagenet/inception-2015-12-05.tgz
You may use transfer learning approach to continue training further.

[2019-12-04 22:15] georgealexandruvlad commented on #33684
Hi, @bfontain ! Do you have any new information about the progress on the issue?

[2019-12-04 22:19] gowthamkpr commented on #34699
@DeveloperRachit When TP+FP=0 : means that all instances were predicted as negative. You can try referring to the issue [here](https://github.com/tensorflow/models/issues/1621).

You can follow the tutorial thats mentioned [here1](https://github.com/vijendra1125/Tensorflow_Object_detection_API-Custom_Faster_RCNN) and [here2](https://medium.com/@vijendra1125/tensorflow-api-custom-object-detection-5

[2019-12-04 22:19] #34699 closed

[2019-12-04 22:40] gowthamkpr commented on #34806
What OS Platform and Distribution are you using @652994331

[2019-12-04 22:43] #34578 closed

[2019-12-04 22:44] ymodak commented on #34576
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-04 22:44] #34576 closed

[2019-12-04 22:49] gowthamkpr commented on #34718
Dis you use `pip install tensorflow-gpu==2.0 or `pip install tensorflow == 2.0 ` If you have installed tensorflow using the later command, this might cause this error.

[2019-12-04 22:56] JDonMc opened #34840 "Tensorflow installs locally, but does not on Heroku - python django pipenv"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-12-04 23:00] alextp commented on #34788
This is a known issue in TF we cannot change without breaking backward compatibility; gather with invalid indices fails on the CPU but does not on the GPU :-/

[2019-12-04 23:00] #34788 closed

[2019-12-04 23:05] ymodak commented on #34773
@axch  I see different results than yours. TF 1.15 gives me ```-1.0``` [GitHub gist](https://colab.sandbox.google.com/gist/ymodak/3b1c3949119b9c7bc06d4a0fce8d370b/untitled16.ipynb)
TF 1.15 with GPU ```<tf.Tensor: id=1, shape=(), dtype=float32, numpy=-0.99999994>```

And TF 2.0 outputs ```-1.0```as well [GitHub gist](https://colab.sandbox.google.com/gist/ymodak/e03d2ed7b2bcbd7bdefd2b524b7b29b1/unti

[2019-12-04 23:11] jvishnuvardhan commented on #33957
@murdockhou I looked into `smallModel`. When you set `training=True`, function returns a model that has weights of 6 layers (excluding input layer) that you are saving using `save_weights`. Then when you set `training=False`, function returns a model that has 3 layers (excluding input layer). When you try to load weights of 6 layers (saved earlier) into a model that has 3 layers, then the code thr

[2019-12-04 23:21] pzharrington opened #34841 "Segmentation fault and corrupted output during inference with large 3D U-Net"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platform and Distribution: Linux CLE 7.0UP00
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.0.0
- Python version: 3.7.4

**Describe the current behavior**
I have a 3D U-Net model that I am trying to use for very large inputs (arrays as la

[2019-12-04 23:21] ymodak commented on #34737
Please provide minimal code snippet to reproduce the reported behavior.

[2019-12-04 23:31] gowthamkpr commented on #34675
@saintthor You can take layers from a model instance and freeze them. To "freeze" a layer means to exclude it from training, i.e. its weights will never be updated. And yes for this, you have to compile the model again.

As of now there is no feature that does what you are expecting to do.

[2019-12-04 23:32] ymodak commented on #34703
From the raised pull request after approval from reviewer you may see build tests populating. If you click on the details link on any of the completed tests you should be able to see all results of CI builds.
See https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/ci_build#view-ci-results

[2019-12-05 00:05] eduardo4jesus opened #34844 "Tensorboard example not reproducing GPU profile"
When running this notebook on Colab:

https://www.tensorflow.org/tensorboard/tensorboard_profiling_keras

I am not getting the same profile output for profiling: on my side no GPU device is shown.

This is what is expected:
[![enter image description here][1]][1]

This is what I am getting:
[![enter image description here][2]][2]

  [1]: https://i.stack.imgur.com/o5w0G.png
  [2]: https://i.stack.i

[2019-12-05 00:12] jhseu commented on #34391
That error indicates that the backend is old relative to the Python version. You'll have to wait until the TF 2.1 release for this to work, or use a nightly TPU backend.

[2019-12-05 00:22] parvizp opened #34845 "Mask-RCNN fails in TOCO Conversion: "Exception: Merge of two inputs that differ on more than one predicate""
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 2.1.0-dev20191203

On the TF-Lite mailing list it was [announced](https://groups.google.com/a/tensorflow.org/forum/?utm_medium=email&utm_source=footer#!msg/tflite/C7Ag0sUrLYg/tHYfDHmNAAAJ) th

[2019-12-05 00:36] gowthamkpr commented on #34844
I was not able to reproduce this issue using tf-nightly @eduardo4jesus Please find my gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/53d60d2765423c83e931981c486bb811/external-tensorboard_profiling_keras.ipynb). Thank you!

[2019-12-05 00:40] gowthamkpr commented on #34566
Closing this issue as it has been answered. Please add additional comments and we can open this issue again.

[2019-12-05 00:40] #34566 closed

[2019-12-05 00:42] gowthamkpr commented on #34376
Great good to know that. I am gonna close this issue as it has been resolved. Please add additional comments and we can open this issue again. Thanks!

[2019-12-05 00:42] #34376 closed

[2019-12-05 00:52] x3lif opened #34846 "Feed Input tensor Data from CUDA memory"
Hello

This feature request is for the C_API

**System information**
- TensorFlow version (you are using): 1.13.1
- Are you willing to contribute it (Yes/No): No
- OS : Windows 10
- Compiler : VS2015

**Describe the feature and the current behavior/state.**
I want the C API to provide a way to feed an input Tensor directly from preallocated CUDA memory without copy data through PCI-Express

Curren

[2019-12-05 00:54] copperwiring commented on #34809
@lamberta I believe this can be closed now!

[2019-12-05 01:32] jvishnuvardhan commented on #34346
I had tried `tf-nightly` and it is throwing `AssertionError `. Please take a look at the [gist is here](https://colab.sandbox.google.com/gist/jvishnuvardhan/faf6dcd23a408621edc6e1be250ede66/keras-tpu-mnist.ipynb). Thanks!

[2019-12-05 01:53] daverim commented on #34796
Hi,

Not sure how your build is configured, could you post your crosstool config?

[2019-12-05 02:07] daverim commented on #34817
Hi,

If you are trying to convert a model with custom ops, you will need to add the flag allow_custom_ops=True to the command line converter or by adding
`converter.allow_custom_ops = True` before calling converter.convert() if you are using the Python API.

If you don't have the custom op implementation for the runtime, see this guide to adding custom ops to your runtime <https://www.tensorflow.o

[2019-12-05 02:09] igorhoogerwoord commented on #34376
Is it related to RAM however?
Is the runtime error the right way to indicate a memory issue?
Why does it appear during saving the checkpoint and not during training?

[2019-12-05 02:09] murdockhou commented on #33957
I understand what's your means. But the bigger model is also set
`training=False` when load it and I can successfully load it with wrong
weights of the last layer, but the smaller model can not load anymore. What
I think is that they should be consistent but actually not.

Vishnuvardhan Janapati <notifications@github.com> 于2019年12月5日周四 上午7:11写道：

[2019-12-05 02:14] igorhoogerwoord commented on #34698
Installed using ```python -m pip install```, without the ```--user``` flag.
All the required python packages are contained in the virtual env.

The virtual environment bin is in the ```PATH``` variable, and the toco as well as toco_from_protos packages are present in this bin directory. ( They are available when called directly from the command line ).

The recommend way to install Tensorflow is i

[2019-12-05 02:23] jchia commented on #20273
@robieta Which specific classes implement the automatic implementation selection you talk about? Are you suggesting that `tensorflow.keras.layers.CuDNNGRU` is now no longer needed because of those classes that implement automatic implementation selection?

As of TF 1.14, `tensorflow.keras.layers.CuDNNGRU` still behaves differently than `tensorflow.keras.layers.GRU`. In my experiment, when I switch

[2019-12-05 02:29] ostruk commented on #34744
I played around with it more and narrowed it down a bit:

[code]

If you set ``tf.config.threading.set_inter_op_parallelism_threads(1)`` the bug goes away, which means it's to do with parallelization of the unrolled tensorflow loop. Knowing that tensorflow unrolls statically when looping over a python variable rather than a tensor, I could confirm that this code worked:

[code]

So solution for no

[2019-12-05 02:32] yyoon commented on #34757
@Ori226 Thanks for flagging this! Will keep this issue open until the doc is updated.

[2019-12-05 02:34] robieta commented on #20273
The automatic CuDNN selection is only for the 2.x RNNs.

[2019-12-05 02:44] daverim commented on #34833
Hello SYeter@,

Can you try upgrading your bazel version to 1.1.0?

[2019-12-05 02:50] sonfiree commented on #33539
@AndreyPlotkinOr I`m used TF 1.14

[2019-12-05 02:57] ifsheldon commented on #34718
I didn't. I just used conda to install tensorflow-gpu.

[2019-12-05 03:06] byronyi commented on #34808
@limjingrong Back in the old days we use tensorflow/benchmarks, as shown in one of my old (and stale) issues:

https://github.com/tensorflow/tensorflow/issues/23606

Just change the server_protocol parameter from grpc to grpc+verbs to test it out.

[2019-12-05 03:12] 652994331 commented on #34806
Hi，it’s centos 7 linux&nbsp;

发自我的iPhone

------------------ Original ------------------
From: gowthamkpr <notifications@github.com&gt;
Date: Wed,Dec 4,2019 2:40 PM
To: tensorflow/tensorflow <tensorflow@noreply.github.com&gt;
Cc: 652994331 <652994331@qq.com&gt;, Mention <mention@noreply.github.com&gt;
Subject: Re: [tensorflow/tensorflow] build tensorflow/python.tools:optimize_for_inference failed

[2019-12-05 03:13] dbonner commented on #34433
Hi Dan,
gast==0.2.2
Cheers

On Thu, 5 Dec 2019 at 01:59, Dan Moldovan <notifications@github.com> wrote:

[2019-12-05 03:22] eduardo4jesus commented on #34844
I just reproduced it using your gist.

I only have /host:CPU, as seen bellow.

<a href="https://ibb.co/vYTY4my"><img src="https://i.ibb.co/Dpvpfkc/Screen-Shot-2019-12-04-at-10-18-19-PM.png" alt="Screen-Shot-2019-12-04-at-10-18-19-PM" border="0"></a>

No /gpu as listed.

Here is my log/profile folder

https://drive.google.com/open?id=1whK5diV9pAd1Eems_-nfW_5YFlyz5zMh

[2019-12-05 03:28] Deepcong2019 commented on #6883
why do this, what the trained model do???

[2019-12-05 03:31] game-sys commented on #34753
Solved the issue by uninstalling nvidia driver , CUDA, CuDNN and from scracth installed driver with CUDA 10.0

[2019-12-05 03:32] #34753 closed

[2019-12-05 03:45] yongtang commented on #34828
There issue seems to be that, when `import carla` is presented, I/O operation fails for `std::ostringstream s`.

Created a PR #34847 so that in case of failure, fallback to normal conversion.

[2019-12-05 03:48] 00krishna opened #34848 "TF2.0 - Cannot convert EagerTensor to datatype and casting"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-12-05 04:09] 00krishna opened #34849 "TF 2.0 - WARNING - dense_features is casting an input tensor from dtype float64 to the layer's dtype of float32"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-12-05 04:40] niranjan8129 opened #34850 "Error: slice index 0 of dimension 0 out of bounds"
@ravikyram
Hi, I am working on tensorflow 2.0  and getting an error at line 3 while running the model

1) lstm_cell =tf.keras.layers.LSTM(units=hidden_unit)
2) lstm_cell = tf.nn.RNNCellDropoutWrapper(lstm_cell, output_keep_prob=self.dropout_keep_prob)
3) self._initial_state = lstm_cell.get_initial_state(128, tf.float32)

Got ERROR at line 3
ValueError: slice index 0 of dimension 0 out of bounds. f

[2019-12-05 04:44] monajalal opened #34851 "Attempting to fetch value instead of handling error Internal: no supported devices found for platform CUDA"
I have

[code]

and I get this error:

[code]

How can I fix it?

[code]

[2019-12-05 05:06] gadagashwini commented on #29952
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-05 05:06] #29952 closed

[2019-12-05 05:10] #34851 closed

[2019-12-05 05:11] monajalal commented on #34851
problem is I was using GPU0 which was busy and after setting it to GPU1, it was fixed!

[2019-12-05 05:16] x7night commented on #34648
@gowthamkpr
it seems like that. i get data from the TFRecordDataset, and i also get the mistake ' session not found' when i run model.fit()

[2019-12-05 05:23] pooyadavoodi commented on #34117
@mihaimaruseac
Looks like `--noincompatible_do_not_split_linking_cmdline` is still needed with bazel 1.1.0 in order to compile the master as of an hour ago.

[2019-12-05 05:31] kscorpio commented on #34578
I don't want to use a tflite object detection model in Android devices or iOS devices . It's to train a model with Tensorflow model - object detection ,and covert "xxx.pb" to "xx.tflite"

[2019-12-05 05:34] gadagashwini commented on #34273
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-05 05:34] #34273 closed

[2019-12-05 05:36] gadagashwini commented on #34473
@tonysung, Please post complete code snippet to analyze the issue. Thanks!

[2019-12-05 05:40] gadagashwini commented on #34478
@dingevin, Tried replicate the reported issue but got different error.
Please see the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/037682e77154d98c5b53f69e0c69a312/untitled277.ipynb). Thanks!

[2019-12-05 05:50] gadagashwini commented on #34485
@dmus, Is this still an issue. Thanks!

[2019-12-05 05:52] gadagashwini commented on #34496
@hnyu, Could you post your code snippet to analyze the issue.

[2019-12-05 06:02] gadagashwini commented on #34499
@AntoinePlumerault, Could provide the complete code snippet to replicate the reported issue. Thanks!

[2019-12-05 06:05] gadagashwini commented on #34606
@kindernerd, Could you elaborate your issue by providing complete code.Thanks

[2019-12-05 06:06] 372046933 commented on #33086
Should you put `train_datasets = train_datasets_unbatched.batch(GLOBAL_BATCH_SIZE)` inside the strategy's scope?

[2019-12-05 06:07] gadagashwini commented on #34634
@HLSS-Hen, Just to verify, MCN.py and Models are they same file or different.

[2019-12-05 06:10] ChenYang-ChenYang commented on #32276
@kkimdev I verified with the same code on TF 2.0 stable version and the memory didn't increase after 9 epochs. The issue should have been resolved. I will close the case. Thanks.

[2019-12-05 06:10] #32276 closed

[2019-12-05 06:13] HLSS-Hen commented on #34634
@gadagashwini
you can use following code(use any database with shape [?,256,256,3]):
[code]

[2019-12-05 06:16] HLSS-Hen commented on #34637
@ChunHsinWang  I think so. But I don't known anyways to bypass this.

[2019-12-05 06:18] Yooong-W commented on #34796
the directory structure like this:
[code]
The BUILD,CROSSTOOL,WORKSPACE , cross_toolchain_target_aarch64.BUILD,  build_tflite_aarch64.sh, files i am using are:
[BUILD.txt](https://github.com/tensorflow/tensorflow/files/3925380/BUILD.txt)
[build_tflite_aarch64.sh.txt](https://github.com/tensorflow/tensorflow/files/3925381/build_tflite_aarch64.sh.txt)
[cross_toolchain_target_aarch64.BUILD.txt](https

[2019-12-05 06:18] ravikyram commented on #34794
Looks like the issue is not related to Tensorflow. Can you please elaborate about the issue & the context.Will it be possible to provide related code.Thanks!

[2019-12-05 06:19] gadagashwini commented on #34688
@alekdev2019, tried to replicate the reported issue but received different error message.
Please see the [gist](https://colab.sandbox.google.com/gist/gadagashwini/098f8779983524ad7a18fa24cd31c843/untitled291.ipynb) and provide more information. Thanks!

[2019-12-05 06:21] saintthor commented on #34675
To freeze is to set Layer.trainable = False?  I did it before. thanks.

[2019-12-05 06:29] suraj-0387 commented on #34794
Hi Ravikyram,

I am working on mediapipe Handtracking application and I am trying to import the project using bazel but I try to sync it
it gives me that issue.I think I will have to add some configuration in some file but I really do not know what and where I have to add.
As you know that mediapipe uses tensorflow and other developers are also facing the similar issue and they mention that it is

[2019-12-05 06:38] ravikyram commented on #34794
Please, let us know which version of Tensorflow you are using. Is it possible to provide related code. Thanks!

[2019-12-05 06:45] HLSS-Hen commented on #34637
@guptapriya ok, in my test. run without distribution is a little faster than 2GPUs with mirrored startegy. And there is no warning. It direct start train with  fewer time wait.

[2019-12-05 07:11] oanush commented on #34804
@enorkus ,
Can you share a standalone code/gist of code used to reproduce the error reported here?Thanks!

[2019-12-05 07:12] nareshr8 commented on #30453
I am also facing the same issue. Any help...

[2019-12-05 07:13] apple11361 commented on #13718
@RealBerd I think you can download files from their [repo](https://gitlab.com/libeigen/eigen)

[2019-12-05 07:13] Exlsunshine commented on #32849
what if I need Tensorflow 1.11.0 for example? I cannot just `pip install tf-nightly`, because my customer's code is not compatible with tf 2.x.

[2019-12-05 07:14] oanush commented on #34722
@R0b4 ,
can you please make sure that both python and tensorflow are installed in the same path where you are trying to execute `py folder/code.py` ?Thanks!

[2019-12-05 07:28] apple11361 commented on #4680
In my case, I can download the whole eigen [repo](https://gitlab.com/libeigen/eigen).
Copy the directory "eigen/unsupported/Eigen/" to replace "tensorflow/third_party/eigen3/unsupported/Eigen"

[2019-12-05 07:30] AlanCPSC opened #34854 "What logging level do deprecation alerts belong to in python-tensorflow?"
Hello everyone,

I was looking around the documentation and can't seem to find the specific logging level that deprecation warnings live on (e.g. `The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.`).

From the documentation here https://www.tensorflow.org/api_docs/python/tf/compat/v1/logging - I see that there are 5 distinct levels. `DEBUG = 10`, `ERROR = 40`, `FA

[2019-12-05 07:33] Athul8raj commented on #34787
Even though the boolean flag "tf.executing_eagerly()" is True, while using the Keras model you are essentially creating a graph(DAGs) of layers. So in the flow through the graph, tensors created are of the type "tensorflow.python.framework.ops.Tensor" and not "tensorflow.python.framework.ops.EagerTensor".
Hence the error "'Tensor' object has no attribute 'numpy' error.".

[2019-12-05 07:51] wogong commented on #30665
Same eoor here, my environment:
tensorfloe-gpu 2.0 installed with pip
CUDA version is 9.2/10.0
python version is 3.6.9

[2019-12-05 08:00] guoshimin opened #34856 "Push up Switch ops in grappler"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.14
- Are you willing to contribute it (Yes/No): Yes

**D

[2019-12-05 08:13] tonysung commented on #34473
Sorry, we wouldn't be able to provide a reduced test case. Please close.

[2019-12-05 08:28] justlike-prog commented on #34706
Hmm yeah that's another workaround I guess. If there is a way to help with the implementation I would be willing to do it if I get some guidance from a person that worked on it a bit and has a rough idea what has to be done.

[2019-12-05 08:33] JoelTsui opened #34857 "How to add "TFLite_Detection_Postprocess" op in Keras model when using tf2.x"
In tf1.x, I used `export_tflite_ssd_graph.py` function in the `object_detection` module to convert model adding`TFLite_Detection_Postprocess` op, but now, I write model use Keras in tf2.x, and there are no documents to tell how to do the conversion.

[2019-12-05 08:46] m4tts commented on #34067
@patrick-schulte do you have a device-interconnect matrix with y inside?

[2019-12-05 08:53] Antymon opened #34858 "SparseCategoricalCrossEntropy example contains a mistake in terms of input"
## URL(s) with the issue:

https://github.com/tensorflow/tensorflow/blob/1cf0898dd4331baf93fe77205550f2c2e6c90ee5/tensorflow/python/keras/losses.py#L493

## Description of issue (what needs changing):

### Clear description

Entries [1,0] and [1,2] of a tensor linked to should be 10 times smaller in order for the second entry to sum up to 1.

### Submit a pull request?

Are you planning to also su

[2019-12-05 08:56] mkz0930 commented on #34813
@jvishnuvardhan
I'm sorry, it didn't work by adding the flag. The error is the same.

My version is 2.0.0, is your version 2.1rc?

[2019-12-05 09:02] veqtor commented on #25433
Ideally I'd like to see a transformer model implemented as closely as possible to the "Transformer model for language understanding" tutorial:
https://www.tensorflow.org/tutorials/text/transformer

But with added beam search decoding, this should ideally allow for passing in a function that generates a new output given inputs.
This would be ideal because then it would be up to the developer to pas

[2019-12-05 09:09] sharvil opened #34859 "tf.train.AdamOptimizer doesn't work with custom TPU training loop"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.15
- Python

[2019-12-05 09:20] ambarion opened #34860 "Can not load tflite model converted from pytorch"
**System information**
- Win10:
- TensorFlow version=1.15:

**Code to generate tflite model**
Generate the tflite model with cmd
[code]

**Code to load tflite model**

[code]

**Error Message**

[code]

**If i convert .pb to .tflite without uint8 quantized**

[code]

Then load the tflite without quantized as the same.
Still i got another error message.

[code]

How can i convert the .pb to the .tf

[2019-12-05 09:27] patrick-schulte commented on #34067
@m4tts yes

[2019-12-05 09:28] daverim commented on #34796
I see you are trying to build for linux aarch64, @terryheo, could you take a look?

[2019-12-05 09:29] yashthesia opened #34861 "tensorflow gredient Tape"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-12-05 09:32] gadagashwini commented on #34815
I could replicate the issue with Tensorflow 2.1.
Please see the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/c2cbce7aaa916a5364f7f61b1ffdd293/untitled292.ipynb). Thanks!

[2019-12-05 09:35] Yooong-W commented on #34796
yes, i set this toolchain build for linux aarch64 at linux x86_64

[2019-12-05 09:38] gadagashwini commented on #34819
@gramce, Please post the Tensorflow version and also provide the complete code snippet including all supporting files to reproduce the reported issue. Thanks!

[2019-12-05 09:45] antofara commented on #34620
Thanks @jvishnuvardhan
Solved with the following fixes:
TF version: '2.1.0-dev20191204'
converter.experimental_new_converter = True

[2019-12-05 09:45] #34620 closed

[2019-12-05 09:55] mzalazar commented on #17411
dmesg output (from bash):
[333908.854310] traps: python[12862] trap invalid opcode ip:7f8c46e6d820 sp:7ffc87609f78 error:0 in _pywrap_tensorflow_internal.so[7f8c3e250000+a9f8000]
linuxmint 19
Intel(R) Pentium(R) CPU        P6200  @ 2.13GHz
8Gb ram (kingston)

This is a BIG CPU-RELATED issue.

[2019-12-05 10:08] Danmou commented on #25036
I created a mixin class that solves this problem for static models defined with the subclassing API. It automatically defines input and output shapes and dtypes the first time the model or layer is called. See the [gist](https://gist.github.com/Danmou/bafa5c80356fdb2c843eaf38c8597f84) for a complete example, but here's a demonstration:
[code]

@fchollet and other devs, any chance this (or somethin

[2019-12-05 10:09] gadagashwini commented on #34825
@vladsqp, Please Provide the exact sequence of commands / steps that you executed before running into the problem. Thanks!

[2019-12-05 10:12] workingloong opened #34862 "tf.feature_column.shared_embeddings supports eager mode"
**System information**
- TensorFlow version (you are using): TF 2.0.0
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
Using tensorflow-2.0.0 with eager mode,  tf.feature_column.shared_embeddings  can not support eager mode.

**Will this change the current api? How?**
No.

**Who will benefit with this feature?**
tf.feature_column.shared_embe

[2019-12-05 10:14] shikharmay7 commented on #18538
@rj1346 try the following it worked for me

import tensorflow as tf
with tf.compat.v1.Session() as sess:
    a = tf.constant(3.0)
    b = tf.constant(4.0)
    c = a+b
    print(sess.run(c))
    sess.close()

[2019-12-05 10:17] Richie-yan opened #34863 "use 'grpc + verbs' appears (core dumped)"
When I change the protocol to 'grpc + verbs' for RDMA training, the program will have a core dump:

INFO tensorflow 140500786698048 Create CheckpointSaverHook.
INFO tensorflow 140500786698048 Start Tensorflow server.
tensorflow/core/distributed_runtime/rpc/grpc_channel.cc:215] Initialize GrpcChannelCache for job chief
...
tensorflow / contrib / verbs / rdma.cc: 159] Check failed: num_devs_with_act

[2019-12-05 10:17] daverim commented on #34845
Hi, @miaout17, could you take a look at this, it seems to be having issues converting the while loop.

[2019-12-05 10:19] andyqian2015 commented on #34574
@ymodak , thx, I try,but it still has that error

[2019-12-05 10:20] gadagashwini commented on #34820
@Meerer, Please refer similar issue [#30726](https://github.com/tensorflow/tensorflow/issues/30726#issuecomment-511786440). Let us know if it helps. Thanks!

[2019-12-05 10:21] vladsqp commented on #34825
I've followed the exact sequence of commands from here: https://jkjung-avt.github.io/build-tensorflow-2.0.0/
But it seems the issue was solved:
I've followed the solution 2 here: https://stackoverflow.com/a/57068827

And also installed protobuf for all my python versions just in case bazel is using the wrong one at that stage.
Now it works builds!

[2019-12-05 10:21] #34825 closed

[2019-12-05 10:24] gadagashwini commented on #34759
@zaccharieramzi, Were you able to install Tensorflow-gpu 2.1 with Cuda 10.1.

[2019-12-05 10:25] scentini commented on #34117
cc @hlopko to deal with this from Bazel side.

[2019-12-05 10:31] gadagashwini commented on #34760
@sarthakforwet, Is there specific reason to use two frameworks such as Theano and Tenosrflow.  Tensorflow version is very old, Can you try with latest Tensorflow version 1.15. Let us know if it solves your problem. Thanks!

[2019-12-05 10:33] daverim commented on #34860
Hi @ambarion, could you please try setting --experimental_new_converter=True to the tflite_convert command line?

[2019-12-05 10:33] zaccharieramzi commented on #34759
Hi @gadagashwini , I didn't have time to try. I can't really try right now, cos I am too afraid to mess up my conda environment atm(haha). But I can let you know in a few days.

[2019-12-05 10:38] terryheo commented on #34796
Hi @Yooong-W
I'm see the following error with your configuration.

ERROR: /usr/local/google/home/terryheo/work/tensorflow/aarch64_compiler/BUILD:25:1: //aarch64_compiler:cc-compiler-local: missing value for mandatory attribute 'toolchain_config' in 'cc_toolchain' rule
ERROR: /usr/local/google/home/terryheo/work/tensorflow/aarch64_compiler/BUILD:38:1: //aarch64_compiler:cc-compiler-aarch64: missing

[2019-12-05 10:39] gadagashwini commented on #34762
@rmbadl, Please find the [link](https://github.com/tensorflow/models/blob/master/research/object_detection/object_detection_tutorial.ipynb) for Tensorflow Object detection tutorial. Thanks!

[2019-12-05 11:10] gadagashwini commented on #34369
@songs18, If you use pip version of tensorflow, which means it's already compiled and you are just installing it. When you download it from repository and trying to build, you should build it with CPU AVX support. If you ignore it, you will get the warning every time when you run on cpu.
If you don't want to get these warnings, You can turn it off by setting os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2

[2019-12-05 11:25] suraj-0387 commented on #34794
Tensorflow version 1.13.2 and the example can be accessed from mediapipe/examples/android/handtrackinggpu

[2019-12-05 11:26] AndreyPlotkinOr commented on #33539
According to llvm\Support\Compiler.h there are several suitable VS:

[code]

It is not enough to have VS 2017, because minor version may not suit.
When you open Command Prompt for VS, you will see something like this:

[code]

As you may see, my version is 15.0, which is unsuitable.

[2019-12-05 11:36] AndreyPlotkinOr commented on #33539
After updating VS 2017 to latest version, I got this message:
[code]

The llvm compile problem disappeared.

[2019-12-05 11:41] workingloong commented on #34793
@gadagashwini @ymodak  Can you assign the issue to me? I have implemented the feature and test it.

[2019-12-05 11:42] Yooong-W commented on #34796
sorry, im new to bazel. i dont know what's you mean of toolchain_config, i add these four files only,`BUILD`、`cross_toolchain_target_aarch64.BUILD` 、`CROSSTOOL `、`WORKSPACE`.  maybe you can give me some suggestions?

[2019-12-05 11:43] JasonzhouCV commented on #22047
@gittyupagain hi ,  it seems the BUILD file is version-specific ， could u explain how to find that build file  and how to modify?  i found the build file under tensorflow is quite different compared with yours. thx a lot!

[2019-12-05 12:12] SYeter commented on #34833
(tensorflow-build) C:\tensorflow-build\tensorflow>bazel test
WARNING: Option 'experimental_shortened_obj_file_path' is deprecated
INFO: Writing tracer profile to 'C:/users/saidy/_bazel_saidy/j7bi4x5j/command.profile.gz'
ERROR: C:/users/saidy/_bazel_saidy/j7bi4x5j/external/io_bazel_rules_closure/closure/private/files_equal_test.bzl:51:19: Traceback (most recent call last):
        File "C:/users/sa

[2019-12-05 12:16] mlinxiang commented on #34749
my approach is first to load ckpt and then use saved_model builder to save a format of saved_model, then update tensorflow to 2.1, then use tfliteconverter v2 method from_saved_model to generate tflite

[2019-12-05 12:16] #34749 closed

[2019-12-05 12:17] Yooong-W commented on #34796
maybe i know what's you mean about the `toolchain_config`, i use the [guide ](https://docs.bazel.build/versions/0.23.0/tutorial/crosstool.html) is for bazel 0.23.0 or the before. the bazel version later 0.23.0 should use this [guide](https://docs.bazel.build/versions/1.2.0/tutorial/cc-toolchain-config.html).
and in my `BUILD` file , it does not contain the attribute `toolchain_config` in `cc_toolc

[2019-12-05 12:21] Yooong-W commented on #34796
maybe i know what's you mean about the `toolchain_config`, i use the [guide ](https://docs.bazel.build/versions/0.23.0/tutorial/crosstool.html) is for bazel 0.23.0 or the before. the bazel version later 0.23.0 should use this [guide](https://docs.bazel.build/versions/1.2.0/tutorial/cc-toolchain-config.html).
and in my `BUILD` file , it does not contain the attribute `toolchain_config` in `cc_toolc

[2019-12-05 12:42] SmileTM opened #34865 "[TF2.0]how to save model to get .pb in this example?"
https://www.tensorflow.org/tutorials/text/nmt_with_attention
In this [example](https://www.tensorflow.org/tutorials/text/nmt_with_attention) ,how to save model to get .pb ?

I tried this way, but have some bugs.
what should I do?
[code]

[2019-12-05 12:44] jtdutta1 opened #34866 "Keras Custom Loss/Model Compilation"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platf

[2019-12-05 12:44] tensorflowbutler commented on #34099
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-05 12:45] jacobxy opened #34867 "saved_model.go"
where is the package "github.com/tensorflow/tensorflow/tensorflow/go/genop/internal/proto/github.com/tensorflow/tensorflow/tensorflow/go/core"?
   I can't build the program.

[2019-12-05 12:56] SmileTM commented on #34865
the encoder.call  have two parameters. In this way, how to save model (.pd) ?
[code]

[2019-12-05 12:57] alexander-travov commented on #34722
@R0b4,
I had the same problem when I unimaginatively named file for tutorial I was following ``csv.py``.

It broke the execution of ``example.py`` tutorial, that was in the same directory.

After renaming ``csv.py`` problem resolved.

[2019-12-05 13:23] YAIsaienkov opened #34868 "Some of the operators in the model are not supported by the standard TensorFlow Lite runtime"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Ubuntu 16.04
- TensorFlow installed from (source or binary):
pip install tensorflow
- TensorFlow version (or github SHA if from source):
2.1.0rc0

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Include any logs o

[2019-12-05 13:26] sitting-duck commented on #30647
@eehoeskrap I went ahead and applied your suggestion for session.h. I did not do this for every file people are saying they can't find the symbol for, but perhaps as I go along I can make exact error message to solution stack overflow QAs. This is great suggestion, thanks for telling me.

[2019-12-05 13:50] alekdev2019 commented on #34688
@gadagashwini , I have checked your logs and not sure if you copied pb file at the path correctly.
If you copied the file correctly, then it seems like dependency's version issue.
There are my dependencies:
[code]

Please let me know if my env resolve your problems.
Thank you

[2019-12-05 14:30] hermannsblum opened #34871 "tf.string tensors are not converted to numpy string arrays"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Bug appears on Linux Ubuntu 18.04, but also in Colab

[2019-12-05 15:08] rezaprince opened #34872 "ImportError: libcuda.so.1: cannot open shared object file: No such file or directory"
hi im beginner in tensorflow! i want  run my tensorflow code in ipm but i got this error :

Traceback (most recent call last):
  File "/share/Application/anaconda3/lib/python3.6/site-packages/tensorflow/python/pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "/share/Application/anaconda3/lib/python3.6/site-packages/tensorflow/python/

[2019-12-05 15:12] rezaprince commented on #34872
this is my .sh file:

#!/bin/sh
# Beginning of PBS batch script.
#PBS -l nodes=1:ppn=1
#PBS -o $PBS_JOBID.log
#PBS -e $PBS_JOBID.err
#PBS -N Python
#PBS -q limited
#PBS -l walltime=700:00:00

export PATH=/share/Application/anaconda3/bin:$PATH
export LD_LIBRARY_PATH=/share/Application/anaconda3/lib:$LD_LIBRARY_PATH

cd $PBS_O_WORKDIR

#-------------------User Define ------------------
export InputN

[2019-12-05 15:21] ghop02 commented on #24337
Hi, just want to second this issue:
[code]
does not properly convert to a depthwise conv in the output:
![image](https://user-images.githubusercontent.com/1422280/70248416-dcefab00-1748-11ea-976e-7befa2f6ac4d.png)

However this is a temporary workaround to get it to properly identify the pattern:
[code]
Also, the workaround doesn't work when using the experimental converter.

[2019-12-05 15:32] AndreyPlotkinOr commented on #33539
After updating VS 2017 to latest version, I got this message:
[code]

But the problem didn't disappear.

I referred this [link](https://stackoverflow.com/a/52089246/1100913) to resolve _MSC_VER and got 1916, which is suitable.

The problem is that bazel doesn't take into account environment from VS Command Prompt, and sets environment variables by himself.

@sonfiree In your case it will be SET PA

[2019-12-05 15:35] AndreyPlotkinOr commented on #33539
You may find list of all _MSC_VER sions [here](https://docs.microsoft.com/en-us/cpp/preprocessor/predefined-macros?view=vs-2019)

[2019-12-05 15:37] JordanMakesMaps commented on #8858
Just coming here to add that I was having a similar issue: was using Keras to make predictions on my GTX 1080 TI with larger images that what the training had used. At certain sizes my computer would auto reboot, no messages, no warnings. I tried monitoring the temperature but it was below the set limit.

My awesome IT guy switched out the standard PSU I had with a better one and the problem has g

[2019-12-05 15:48] pinzhenx commented on #24337
Hi @liyunlu0618,
Seems that this problem still remains

[2019-12-05 15:50] DocDriven commented on #34277
I am not building for Android, just a custom board with an ARM64 processor.

I was trying to follow one tutorial referenced in the thread you mentioned (https://github.com/xifengcun/tensorflow-aarch64-crossbuild). I decided to not use the chroot/debootstrap approach and applied the steps to the build container within docker.

It seems that the tutorial was intended for an older release of bazel, a

[2019-12-05 16:12] roymiles commented on #30955
Has there been any update on this limitation?

[2019-12-05 16:14] bilalsoomro opened #34873 "Using GPU delegate causes app to crash"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 'org.tensorflow:tensorflow-lite-gpu:0.0.0-nightly'

**Command used to run the converter or code if you’re using the Python API**

[code]

**The output from the converter invocation**

[code]

**Also,

[2019-12-05 16:16] giamic opened #34874 "Skipping optimization warning when using tanh activation in LSTM layers"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-12-05 16:49] MarkDaoust commented on #27862
The batch size missmatch was fixed in tensorflow/docs@9e7ea7c446e7f40b3d1

[2019-12-05 16:54] julypraise commented on #7641
I think this must be updated especially for the sake of tf2. The tutorial does not provide enough detail for implementing custom gradients on tensor operators.

[2019-12-05 17:32] RavindhranSankar opened #34876 "Memory leak in fit() with callback"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>
** Coding Language **
Python

**System information**

- OS Platform and Distribution: Ubuntu 16.04
- TensorFlow installed from (source o

[2019-12-05 17:33] opcecco commented on #25446
Looks like you can do this in TF 2.0 now like this:
[code]

[2019-12-05 17:42] Adilhossain227 opened #34877 "Getting Bus error in Ubuntu Mate"
WARNING:tensorflow:From /home/odroid/tensorflow1/models/research/object_detection/utils/label_map_util.py:138: The name tf.gfile.GFile is deprecated. Please use tf.io.gfile.GFile instead.

WARNING:tensorflow:From Object_detection_image.py:64: The name tf.GraphDef is deprecated. Please use tf.compat.v1.GraphDef instead.

WARNING:tensorflow:From Object_detection_image.py:70: The name tf.Session is d

[2019-12-05 17:47] impjdi commented on #33511
FYI MediaPipe has Java APIs for the entire graph (not at calculator level).

If your input is not from the camera, I don't see a strong reason for you to copy things to SSBO by yourself; the GPU delegate will take care of copying it to the right SSBO.

[2019-12-05 17:52] impjdi commented on #33605
@wanfranck

It's quite unlikely that `interpreter_->inputs()` or `interpreter_->outputs()` is broken.  Is your `Interpreter` properly initialized?

[2019-12-05 17:54] adamjstewart opened #34878 "Illegal ambiguous match on configurable attribute "deps" in //tensorflow/core:ops"
**System information**
- OS Platform and Distribution: macOS Catalina 10.15.1
- TensorFlow installed from: source
- TensorFlow version: 2.0.0
- Python version: 3.7.4
- Installed using: [spack](https://spack.io)
- Bazel version: 0.26.1
- Compiler version: Clang 11.0.0
- CUDA/cuDNN version: N/A
- GPU model and memory: N/A

**Describe the problem**

I'm trying to build a minimal TF installation, but

[2019-12-05 17:58] AndreyPlotkinOr commented on #33539
I followed [this ](https://github.com/bazelbuild/bazel/issues/5148#issuecomment-386272023)proposal and it worked for me.

[2019-12-05 18:18] kazimuth commented on #31852
I wonder if this is due to ReduceOp.MEAN trying to reduce the lengths of the cross-replica batches, but those aren't stored distributed in eager mode for some reason?

[2019-12-05 18:23] lamberta commented on #34721
Thanks @hoangcuong2011 . Since you recently investigated, would you be able to make a pull request to update the docstring or add a snippet? That file should be here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/layers/embeddings.py#L35
To add a testable docstring, please see this guide: https://www.tensorflow.org/community/contribute/docs_ref

[2019-12-05 18:35] lamberta commented on #34809
Thank you all!

[2019-12-05 18:35] #34809 closed

[2019-12-05 18:49] frankchn commented on #34346
I believe we currently don't support fit_generator in distribution strategy or TPUs, but assigning to @guptapriya to confirm.

[2019-12-05 18:53] martinmarc commented on #23824
Any updates here? As far as my understanding any previously saved estimator model previously using `tf.contrib.estimator.SavedModelEstimator()` is now left out in the cold.

[2019-12-05 18:54] ajaceves commented on #33424
This appears to be an issue when trying to use ModelCheckpoint with distributed models. Specifically, the ModelCheckpoint callback only supports h5 format, but the h5 format cannot save the distribution strategy properly for resuming training later. Using "with strategy.scope(): load_model(XXX)" doesn't work either. One partial (but not good) workaround would be to rebuild the model, then set its

[2019-12-05 18:56] karmel commented on #34675
Recompiling is the recommended way to do this, or you can look at creating custom layers/optimizers for this. However, it is too complicated a use-case to bake in to the keras lib at this time.

[2019-12-05 18:56] #34675 closed

[2019-12-05 19:01] ymodak commented on #34812
You can try ```TFLiteConverter.from_saved_model()``` in TF 2.
See https://www.tensorflow.org/lite/convert/python_api#converting_a_savedmodel_

[2019-12-05 19:02] SumanSudhir commented on #19855
Hey, what is the size of your dataset in GB? The inbuilt data loader usually loads all the data at the beginning of loading it for faster training. If you are having RAM issue than you have to make your own data loader which will only load fix amount of image at a time.

[2019-12-05 19:14] qiuminxu commented on #33814
I think the issue has already been fixed. The trace was collected on Oct 29th. Can you give us a trace at head, and we can investigate if the issue persists.

[2019-12-05 19:26] clived2 commented on #17411
After reading this thread and having  the same experience, my problem is that my linux conputer is older and has a CPU which does not support the AVX instruction set. I have tensorflow 1.5 on another virtual environment, bu tto use tensorflow 2, I amd going to run my scripts on Google Colab

[2019-12-05 19:39] gowthamkpr commented on #34840
@JDonMc Can I see your requirements.txt file?

[2019-12-05 19:43] powderluv commented on #34191
add --noincompatible_do_not_split_linking_cmdline to bazel flags

[2019-12-05 19:48] trentlo commented on #34117
I also hit a related issue that I need the flag `--noincompatible_do_not_split_linking_cmdline` to pass XLA tests.

For example:
bazel test -c opt --config=cuda --cxxopt=-D_GLIBCXX_USE_CXX11_ABI=0 --noincompatible_do_not_split_linking_cmdline //tensorflow/compiler/xla/service/gpu:horizontal_fusion_test

If I do no add the flag, I hit the below error due to linkage change.

2019-12-05 02:01:06.5651

[2019-12-05 20:09] hnyu commented on #34496
Sorry for the delay because of the vacation. Below is a minimal reproducible example:

[code]

It seems that computing Jacobian using pfor on Conv2DTranspose will throw this message "Conv2DBackpropFilter uses a while_loop. Fix that!", while Conv2D alone will not. I also had a memory explosion problem accompanied with this message (which shouldn't happen because I can compute Jacobian on an MLP wit

[2019-12-05 20:58] t-jordan commented on #25513
angz, I am having a similar issue.  Were you able to solve this?  If so what was the solution? Thanks.

[2019-12-05 21:29] bfontain commented on #33684
Hi, right now you can try '%tensorflow_version 2.x' in a cell. That will bring you to TF 2.0 + a 2.0 TPU backend. Once 2.1 is released then I believe that will switch to 2.1. I'm currently working with the colab team to see if we can implement a '%tensorflow_version nightly' (this does not work right now).

[2019-12-05 22:25] goldiegadde commented on #33024
@Seterplus Could you please try with tensorflow-gpu==2.1.0rc0, this has the fix [ac20030](https://github.com/tensorflow/tensorflow/commit/ac20030c96d37e980333b604402ef6dba48ef5e2)
that @robieta mentioned above.