[2018-08-09 13:02] tensorflowbutler commented on #15621
Nagging Assignee @aselle: It has been 203 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:02] tensorflowbutler commented on #15635
Nagging Assignee @andrewharp: It has been 223 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:02] tensorflowbutler commented on #15651
Nagging Assignee @suharshs: It has been 106 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:02] tensorflowbutler commented on #15720
Nagging Assignee @zheng-xq: It has been 218 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:02] tensorflowbutler commented on #15835
Nagging Assignee @shivaniag: It has been 91 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:02] tensorflowbutler commented on #15874
Nagging Assignee @skye: It has been 125 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:02] tensorflowbutler commented on #15880
Nagging Assignee @zheng-xq: It has been 97 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:02] tensorflowbutler commented on #15913
Nagging Assignee @rmlarsen: It has been 120 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:02] tensorflowbutler commented on #15978
Nagging Assignee @wolffg: It has been 97 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:02] tensorflowbutler commented on #16042
Nagging Assignee @protoget: It has been 154 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:03] tensorflowbutler commented on #16115
Nagging Assignee @shivaniag: It has been 104 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:03] tensorflowbutler commented on #16139
Nagging Assignee @aselle: It has been 190 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:03] tensorflowbutler commented on #16226
Nagging Assignee @caisq: It has been 198 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:03] tensorflowbutler commented on #16333
Nagging Assignee @skye: It has been 127 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:03] tensorflowbutler commented on #16396
Nagging Assignee @raghuraman-k: It has been 153 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:03] tensorflowbutler commented on #16502
Nagging Assignee @andrewharp: It has been 92 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:03] tensorflowbutler commented on #16526
Nagging Assignees @case540, @gunan: It has been 169 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:03] tensorflowbutler commented on #16540
Nagging TensorFlower: It has been 121 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-08-09 13:03] tensorflowbutler commented on #16545
Nagging Assignee @tatianashp: It has been 89 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:03] tensorflowbutler commented on #16771
Nagging Assignee @rohan100jain: It has been 183 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:03] tensorflowbutler commented on #16776
Nagging Assignee @caisq: It has been 184 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:03] tensorflowbutler commented on #16821
Nagging Assignee @zhangyaobit: It has been 119 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:04] tensorflowbutler commented on #16850
Nagging Assignee @caisq: It has been 91 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:04] tensorflowbutler commented on #16889
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:04] tensorflowbutler commented on #16925
Nagging Assignee @bignamehyp: It has been 106 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:04] tensorflowbutler commented on #17011
Nagging Assignee @ringw: It has been 93 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:04] tensorflowbutler commented on #17076
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-08-09 13:04] tensorflowbutler commented on #17155
Nagging Assignee @shivaniag: It has been 121 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:04] tensorflowbutler commented on #17233
Nagging Assignee @tatianashp: It has been 121 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:04] tensorflowbutler commented on #17319
Nagging Assignee @tatatodd: It has been 161 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:04] tensorflowbutler commented on #17347
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-08-09 13:04] tensorflowbutler commented on #17387
Nagging Assignee @shivaniag: It has been 120 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:05] tensorflowbutler commented on #17424
Nagging Assignee @petewarden: It has been 104 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:05] tensorflowbutler commented on #17451
Nagging Assignee @tatatodd: It has been 156 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:05] tensorflowbutler commented on #17548
Nagging Assignee @tatatodd: It has been 153 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:05] tensorflowbutler commented on #17558
Nagging Assignee @bignamehyp: It has been 109 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:05] tensorflowbutler commented on #17593
Nagging Assignee @yongtang: It has been 107 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:05] tensorflowbutler commented on #17717
Nagging Assignee @bignamehyp: It has been 141 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:05] tensorflowbutler commented on #17762
Nagging Assignee @jart: It has been 89 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:05] tensorflowbutler commented on #17783
Nagging Assignee @ebrevdo: It has been 109 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:05] tensorflowbutler commented on #17810
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-08-09 13:05] tensorflowbutler commented on #17833
Nagging Assignee @bignamehyp: It has been 140 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:05] tensorflowbutler commented on #17844
Nagging Assignee @skye: It has been 138 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:06] tensorflowbutler commented on #17860
Nagging Assignee @bignamehyp: It has been 106 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:06] tensorflowbutler commented on #17868
Nagging Assignee @tatatodd: It has been 141 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:06] tensorflowbutler commented on #17909
Nagging Assignee @shivaniag: It has been 140 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:06] tensorflowbutler commented on #17910
Nagging Assignee @prb12: It has been 105 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:06] tensorflowbutler commented on #17967
Nagging Assignee @tatatodd: It has been 138 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:06] tensorflowbutler commented on #17968
Nagging Assignee @protoget: It has been 135 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:06] tensorflowbutler commented on #17980
Nagging Assignee @zhangyaobit: It has been 135 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:06] tensorflowbutler commented on #17985
Nagging Assignee @fchollet: It has been 91 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:06] tensorflowbutler commented on #18063
Nagging Assignee @bignamehyp: It has been 106 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:06] tensorflowbutler commented on #18083
Nagging Assignee @fchollet: It has been 105 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:06] tensorflowbutler commented on #18107
Nagging Assignee @tatatodd: It has been 128 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:06] tensorflowbutler commented on #18123
Nagging Assignee @zhangyaobit: It has been 104 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:07] tensorflowbutler commented on #18185
Nagging Assignee @MarkDaoust: It has been 106 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:07] tensorflowbutler commented on #18211
Nagging Assignee @jart: It has been 77 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:07] tensorflowbutler commented on #18219
Nagging Assignee @tatatodd: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:07] tensorflowbutler commented on #18229
Nagging Assignee @petewarden: It has been 97 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:07] tensorflowbutler commented on #18232
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-08-09 13:07] tensorflowbutler commented on #18245
Nagging Assignee @tatatodd: It has been 126 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:07] tensorflowbutler commented on #18250
Nagging Assignee @shivaniag: It has been 125 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:07] tensorflowbutler commented on #18254
Nagging Assignee @tatatodd: It has been 125 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:08] tensorflowbutler commented on #18276
Nagging Assignee @shivaniag: It has been 124 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:08] tensorflowbutler commented on #18338
Nagging Assignee @shivaniag: It has been 121 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:08] tensorflowbutler commented on #18341
Nagging Assignee @tatatodd: It has been 122 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:08] tensorflowbutler commented on #18345
Nagging Assignee @ebrevdo: It has been 120 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:08] tensorflowbutler commented on #18353
Nagging Assignee @mrry: It has been 119 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:08] tensorflowbutler commented on #18415
Nagging Assignee @skye: It has been 112 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:08] tensorflowbutler commented on #18417
Nagging Assignee @tatatodd: It has been 119 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:08] tensorflowbutler commented on #18449
Nagging Assignee @jart: It has been 93 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:08] tensorflowbutler commented on #18454
Nagging Assignee @shivaniag: It has been 89 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:08] tensorflowbutler commented on #18519
Nagging Assignee @zhangyaobit: It has been 110 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:09] tensorflowbutler commented on #18600
Nagging Assignee @tatatodd: It has been 97 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:09] tensorflowbutler commented on #18649
Nagging Assignee @ringw: It has been 96 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:09] tensorflowbutler commented on #18661
Nagging Assignee @saeta: It has been 111 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:09] tensorflowbutler commented on #18732
Nagging Assignee @MarkDaoust: It has been 104 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:09] tensorflowbutler commented on #18748
Nagging Assignee @aselle: It has been 105 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:09] tensorflowbutler commented on #18755
Nagging Assignee @tatianashp: It has been 109 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:09] tensorflowbutler commented on #18774
Nagging Assignee @tatatodd: It has been 91 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:09] tensorflowbutler commented on #18786
Nagging Assignee @jart: It has been 108 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:09] tensorflowbutler commented on #18787
Nagging Assignee @tatatodd: It has been 108 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:10] tensorflowbutler commented on #18827
Nagging Assignee @mrry: It has been 106 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:10] tensorflowbutler commented on #18832
Nagging Assignee @case540: It has been 106 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:10] tensorflowbutler commented on #18849
Nagging Assignee @prb12: It has been 105 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:10] tensorflowbutler commented on #18947
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-09 13:10] tensorflowbutler commented on #18962
Nagging Assignee @shivaniag: It has been 94 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:11] tensorflowbutler commented on #18985
Nagging Assignee @tatatodd: It has been 96 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:11] tensorflowbutler commented on #19049
Nagging Assignee @rmlarsen: It has been 97 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:11] tensorflowbutler commented on #19056
Nagging Assignee @shivaniag: It has been 97 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:11] kecsap commented on #2412
I can also recommend [FloopCZ's project](https://github.com/tensorflow/tensorflow/issues/2412#issuecomment-381959842), especially if you want to use Tensorflow inference with GPU. Those who wants a packaged version, I packaged both the C and C++ API in [my project](https://github.com/kecsap/tensorflow_cpp_packaging) and I release [Debian packages](https://github.com/kecsap/tensorflow_cpp_packaging

[2018-08-09 13:11] tensorflowbutler commented on #19120
Nagging Assignee @shivaniag: It has been 93 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:11] tensorflowbutler commented on #19129
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-09 13:11] tensorflowbutler commented on #19395
Nagging Assignee @ebrevdo: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:11] tensorflowbutler commented on #19441
Nagging Assignee @shivaniag: It has been 79 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:12] tensorflowbutler commented on #19455
Nagging Assignee @robieta: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:12] tensorflowbutler commented on #19658
Nagging Assignee @aselle: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:12] tensorflowbutler commented on #19671
Nagging Assignee @allenlavoie: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:12] tensorflowbutler commented on #20005
Nagging Assignee @andrehentz: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:12] tensorflowbutler commented on #20300
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-09 13:12] tensorflowbutler commented on #20396
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-09 13:12] tensorflowbutler commented on #20553
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:12] tensorflowbutler commented on #20591
Nagging Assignee @MarkDaoust: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:13] tensorflowbutler commented on #20598
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:13] tensorflowbutler commented on #20608
Nagging Assignee @allenlavoie: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:13] tensorflowbutler commented on #20619
Nagging Assignee @tanzhenyu: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:13] tensorflowbutler commented on #20626
Nagging Assignee @shivaniag: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:13] tensorflowbutler commented on #20664
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-09 13:13] tensorflowbutler commented on #20846
Nagging Assignee @robieta: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:13] tensorflowbutler commented on #20984
Nagging Assignees @gargn, @andrehentz: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:13] tensorflowbutler commented on #21032
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-09 13:13] tensorflowbutler commented on #21053
Nagging Assignee @drpngx: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:13] tensorflowbutler commented on #21099
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-09 13:14] tensorflowbutler commented on #21115
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:14] tensorflowbutler commented on #21123
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:14] tensorflowbutler commented on #21125
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-09 13:14] tensorflowbutler commented on #21126
Nagging Assignee @robieta: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:27] facaiy commented on #21444
So weird, could you provide a minimal example? if I remember correctly, `tf.train.CheckpointSaverHoo` and `tf.train.SummarySaverHook` are subclass of `SessionRunHook` indeed.

[2018-08-09 14:01] Dagalaki commented on #10408
Hello,

I am also having a problem with memory leak on running label image logic in a loop
I use Tensorflow r1.0.1 and opencv 2.4.9
I am not sure yet if memory leak is opencv related or tensorflow related.
In some posts, seems that capture.read() can lead to memory leak(opencv related),  in other posts could be because of operators initialization inside loop(tensorflow related)
Below part of my co

[2018-08-09 14:05] iliTheFallen commented on #21444
@facaiy It is absolutely weird... Code is simple as I had included up in the conversation:
[code]

I think you don't need the rest of the code for it is irrelevant to the problem. Note that... I'm using Python3. Perhaps the behavior attributed to "isinstance(...)" had changed since Python2.x.

[2018-08-09 14:23] gary90231 commented on #21478
To complement,
in the directory of tensorflow/:
xxxx@edward-ubuntu-18:~/tensorflow$ python
Python 3.6.5 (default, Apr  1 2018, 05:46:30)
[GCC 7.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "/home/xx/tensorflow/tensorflow/python/platform/self_check.py", line 25, in <module>
    from tensorflow.python.platform import

[2018-08-09 15:04] pathakrohit08 commented on #21500
Have I written custom code  **Yes**
OS Platform and Distribution  **Ubuntu 16.04**
TensorFlow installed from   **https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-1.10.0-cp27-none-linux_x86_64.whl**

TensorFlow version  **1.9**
Bazel version
CUDA/cuDNN version   **i think 7**
GPU model and memory **NVIDIA Titan V 12288MB**
Exact command to reproduce **https://github.com/pathakrohi

[2018-08-09 15:11] enestaylan commented on #17908
Hi @chsigg, is there any news here? I use tf 1.9.0 and have exactly the same problem. Thanks.

[2018-08-09 15:19] suraneti commented on #21472
**OS Platform**

- MacOS (High Sierra) Version 10.13.4

**TensorFlow installed from**

- this tensorflow build repo https://github.com/lakshayg/tensorflow-build via pip

link : https://github.com/lakshayg/tensorflow-build/releases/download/v1.8.0-macos-py27-py36-avx-avx2-fma-sse41-sse42/tensorflow-1.8.0-cp36-cp36m-macosx_10_13_x86_64.whl

**TensorFlow version**

- 1.8.0

**Bazel version**

- N/A (

[2018-08-09 15:28] skye commented on #21472
Can you try installing a non-custom build of TF from our repo and see if you still get the problem? I suspect it's a problem in the build provided by https://github.com/lakshayg/tensorflow-build.

[2018-08-09 15:29] suraneti commented on #21472
Sorry for my mistake info, I've installed via pip.

[2018-08-09 15:36] skeydan opened #21518 "1.10 build fails with "No module named 'keras_applications'""
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Fedora 28
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use co

[2018-08-09 15:49] #20664 closed

[2018-08-09 15:55] aaroey commented on #19619
@pooyadavoodi, would you please help to take a look at this issue?

[2018-08-09 16:02] KevinLucidyne commented on #20976
@drpngx  A question on class_map would be exactly the same question.

[2018-08-09 16:06] skye commented on #21472
Can you try the latest release, 1.10?

[2018-08-09 16:13] Kayoku commented on #21478
Hi, I have the same problem with the "optimize_for_inference" script : "tf.estimator package not installed"... I'm using TF 1.9

[2018-08-09 16:19] reedwm commented on #21505
/CC @petewarden

[2018-08-09 16:20] reedwm commented on #21471
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-08-09 16:20] #21471 closed

[2018-08-09 16:32] karmel commented on #21340
@ebrevdo , @lukaszkaiser -- looks like that was someone working with you on adding support for nested tensors? Do you have context here, or know who would?

[2018-08-09 16:35] poxvoculi commented on #21458
In general the tutorials strive for pedagogical simplicity rather than best-of-breed implementations.  If you'd like to discuss improvements to this model for your purposes, stackoverflow is a better venue.

[2018-08-09 16:35] karmel commented on #21492
@xiejw @ispirmustafa -- what is the recommended way to handle pre-empted Servers for systems like YARN?

[2018-08-09 16:38] alextp commented on #21099
The problem here is that the vars are also coming from the cond, not just the grads. Make the cond return the grads and do the zip with variables outside the cond and you should be fine.

Alternatively, if the actual set of variables to be optimized is conditional, you can call apply_gradients inside the cond and return the train op from both branches.

[2018-08-09 16:38] #21099 closed

[2018-08-09 16:39] LonelyToh opened #21520 "Extension 'tensorflow/tensorflow.bzl' has errors"
------------------------

### System information
- **OS Platform and Distribution** : Linux Ubuntu 16.04
- **Python version**: 2.7
- **Bazel version (if compiling from source)**: 0.16.0
- **CUDA/cuDNN version**: 8.0 / 6.0
- **GPU model and memory**: nvidia GTX 860m 16gb
- **TensorFlow installed from**: Haven't install
- **TensorFlow version**: wanted to install 0.12
- **Exact command to reproduce*

[2018-08-09 16:41] MarkDaoust commented on #20591
Thanks for the report.

@Androbin, you seem to know a thing or two about this new setup I could approve a docs-update PR if you send one.

It may be hard to find people to help with this given that the old tf-mobile set up is getting deprecated in favor of TFLite. Ref:  164099ee4.

Maybe @gargn can advise. Who's the right person to update this doc?

[2018-08-09 16:41] ebrevdo commented on #21340
We found the associated internal change & author, will loop back.  Will see if this is a backwards breaking change.

[2018-08-09 16:43] karmel commented on #21476
In general, I would recommend using the high-level APIs, which have made this sort of task easier. In this case, it's a little hard to advise, because it's not exactly clear to me what about your approach isn't working-- can you provide the code and error message you are getting? In theory, as long as you build your dataset ops in the inference graph, separate from the training graph, you should b

[2018-08-09 16:46] gargn commented on #20591
Not sure. I'm guessing either @miaout17 or @petewarden might have some context. I added both of them to this bug.

[2018-08-09 16:48] aselle commented on #14980
Closing since there was no response on how to update the documents. Please re-open with a concrete suggestion. Also, windows should be improved by the new bazel work.

[2018-08-09 16:48] #14980 closed

[2018-08-09 16:49] gargn commented on #20984
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-08-09 16:49] #20984 closed

[2018-08-09 16:49] ebrevdo commented on #21340
OK; this isn't quite a backwards breaking change because you're relying on tf auto-magic to perform a tf.stack() for you.

The [version 1.8 documentation](https://www.tensorflow.org/versions/r1.8/api_docs/python/tf/foldl) explicitly states that it expects a tensor or tensor-like object, and a list is not one of these.  A tensor or a numpy array is.  Now that we've added support for nested structur

[2018-08-09 16:49] #21340 closed

[2018-08-09 16:52] karmel commented on #21464
Thanks, @amtagrwl , that gives me a place to start. Did you install docker on your machine with nvidia-docker as per the [install instructions](https://www.tensorflow.org/install/install_linux#InstallingDocker)? Which Docker image did you use?

[2018-08-09 16:53] ebrevdo commented on #9550
Since this is a backwards breaking API change, I'll remove the argument for TF 2.0.  Thank you all for the report & detailed analysis.

[2018-08-09 16:58] aselle commented on #21394
@suharshs, do we have any plans to implement this soon?
@merryImage , could you provide your model code which is causing this to be invoked. It may be avoidable.

[2018-08-09 16:59] MarkDaoust commented on #18185
Thanks for the report.

Anywhere you have concrete suggestions we'd welcome a PR.

[2018-08-09 17:02] aselle commented on #21368
It could be that you are now feeding in a placeholder input. You seem to have a queue and some loss functions. Could you provide the frozen graphdef (or even a screenshot of the graph) so that we can see what else it could be. @gargn, could you comment.

[2018-08-09 17:02] MarkDaoust commented on #18732
Yes. This is a valid issue.

We're having trouble getting it to the top of the priority list.
Any PR to help out would be welcome.

[2018-08-09 17:03] aselle commented on #21336
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2018-08-09 17:04] aselle commented on #21211
What version of TensorFlow are you using? try pip installing tf-nightly and see if that works as @andrehentz mentions.

[2018-08-09 17:25] MarkDaoust commented on #20629
@ysuematsu can you provide some more detailed examples?

If you have any more extensive examples you could put them in [docs_src/api_guides](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/docs_src/api_guides/python)

api_guides are automatically linked to by any api-pages for python objects they mention.

But we would welcome examples from anyone.

[2018-08-09 17:26] Androbin commented on #20591
`examples/ios/README.md` links to `contrib/makefile/README.md` which has an "Optimization" section.
In the iOS "Reducing the binary size" section, I'd replace the offending text with a hint to that section.

[2018-08-09 17:28] amtagrwl commented on #21464
Yes, docker was installed using nvidia-docker according to the install instructions provided.

I have been using the **nightly-gpu-py3** image from the tensorflow docker hub for the past 2 weeks. I keep updating my image every few days. Before that, I was using the **1.9.0-gpu-py3** image. The issues persists regardless of the image.

[2018-08-09 17:46] reger-men opened #21522 "Model Parallelism Memory usage issue"
------------------------

### System information
- **Have I written custom code**: Yes
- **OS Platform and Distribution**: Linux Ubuntu 16.04
- **Mobile device**: N/A
- **TensorFlow installed from**: From binary
- **TensorFlow version**: 1.9
- **Python version**: 3.6.1
- **Bazel version**: N/A
- **GCC/Compiler version (if compiling from source)**: 5.4.0
- **CUDA/cuDNN version**: 9.0.176
- **GPU mo

[2018-08-09 17:56] aselle commented on #20341
What version of Linux are you using?

[2018-08-09 17:56] aselle commented on #20341
Also, did @dsalaj's comment help you?

[2018-08-09 17:59] #21277 closed

[2018-08-09 18:02] aselle commented on #15706
I wouldn't be oposed to a safe_div option. The main thing I've thoguht about is how div is bound by say operator overloading in python especially with regards to integer division. I would say the existing / and // functions should stay the same. I would also not call this safe_div, because in general it isn't really safe to ignore divison by zeros. Some other name might be better like tf.div_no_na

[2018-08-09 18:02] ppwwyyxx commented on #21338
To summarize, what happened is:
1. cuda kernel launch `mykernel<<<0, ...>>>` will do nothing (exactly what we need) but set cuda error
2. the error is not checked after the kernel launch.
3. the error may appear as an error of other ops (if the other op happen to check cuda error)
I think it's a quite serious issue:
1. it may appear in other ops as well
2. it causes very misleading error messages

[2018-08-09 18:05] aselle commented on #11823
@mari-linhares, we apologize this slipped through the cracks. Is this still an issue for you, and are you interested in the solution?

[2018-08-09 18:10] alanchiao commented on #20994
@rabiaqayyum: take a look at the docs that Andrew pointed to and let me know if you have questions (and we can improve the documentation to better serve users like yourself).
There are sample Android demos that use the aar for on-device inference for different pre-tested models, and if you're looking to convert your models, the Developer guide will help (note that as mentioned in the docs, there i

[2018-08-09 18:28] haidark opened #21523 "SyncReplicaOptimizer prints global step warning unnecessarily"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: NA
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use

[2018-08-09 18:53] jdduke commented on #21175
Duplicate of #20804.

[2018-08-09 18:55] jdduke commented on #21175
Duplicate of #21085

[2018-08-09 18:56] jdduke commented on #20804
Duplicate of #21085

[2018-08-09 19:06] jdduke commented on #20955
Shape should now support quantization, but I believe there may be other ops in this model that require additional work (Cast, in particular).

@raninbowlalala would you mind trying again?

[2018-08-09 19:07] eaplatanios opened #21524 "Nightly Build Binaries"
@av8ramit Are there any updates on ways to obtain nightly builds for the dynamic libraries (i.e., libtensorflow.so and libtensorflow_framework.so)? In the beginning of the summer you had mentioned that you were working on a new way to do that.

[2018-08-09 19:11] jdduke commented on #20741
The type checking code in convert.py was relaxed in https://github.com/tensorflow/tensorflow/commit/d3931c804ce9619ac0a0c84f42b43ce70ade93a7.

@hoavt-54 would you mind trying your conversion again? Thanks for your patience.

[2018-08-09 19:15] aranga81 commented on #13463
I am seeing this on large dataset too - and it is repeatable. Tried clearing up my cache and reboots, also tweaking around parallel_interleave(cycle_length), num_parallel_calls and buffer_size of my shuffle_and_repeat. - Everything's like a temporary fix but the underlying problem is still there.

[2018-08-09 19:33] av8ramit commented on #21524
Hey @eaplatanios sorry for the delay we are still in the process of doing so.
@asimshankar any thoughts on the best place to store these?

[2018-08-09 19:47] av8ramit commented on #21518
I believe the following will fix this issue:

[code]

@yifeif any additional info?

[2018-08-09 19:47] av8ramit commented on #21511
Hi @muneebullahkhan please reopen another issue with the template filled out. Thanks.

[2018-08-09 19:47] #21511 closed

[2018-08-09 19:50] allenlavoie commented on #21326
@kishore0905 what's the tf.__git_version__ of the nightly you tried that's not working?

[2018-08-09 19:54] yifeif commented on #21518
You might also need `pip install h5py==2.8.0`

[2018-08-09 20:31] LayneIns opened #21525 "A little bug from the api tf.layers.dence page."
There is a small mistake on your page of the description of the api tf.layers.dense.
The line:
`This layer implements the operation: outputs = activation(inputs.kernel + bias) Where activation is the `
I think the . should be · ?

[2018-08-09 20:35] IFLED commented on #1095
What do you mean by document?

As far as I remember, [here](https://github.com/tensorflow/tensorflow/issues/1095#issuecomment-378592178) function `_MeanSquareGrad` is used to define gradent of `loss` op and param `grad` is a tensor that golds gradients of "some global function" with respect to output of `loss` op. See [my previous comment](https://github.com/tensorflow/tensorflow/issues/1095#issue

[2018-08-09 20:42] tofulawrence commented on #19110
Resolved with nightly. For latency issue, please use quantized model, which is fast.

[2018-08-09 20:42] #19110 closed

[2018-08-09 20:43] tofulawrence commented on #19342
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-08-09 20:43] #19342 closed

[2018-08-09 20:43] rohan100jain commented on #19274
@yongtang PR should address this issue. Will follow up on that.

[2018-08-09 20:44] tofulawrence commented on #16803
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-08-09 20:44] #16803 closed

[2018-08-09 20:50] suharshs opened #21526 "Address missing TensorFlow operations to TFLite:"
We track operations that we need add to TensorFlow Lite here:

- [ ] Conv3d (https://github.com/tensorflow/tensorflow/issues/19658)
- [ ] Quantized TransposeConv (https://github.com/tensorflow/tensorflow/issues/21394)
- [ ] SpaceToBatchND (non-4D) (https://github.com/tensorflow/tensorflow/issues/21266)
- [ ] BatchToSpaceND (non-4D) (https://github.com/tensorflow/tensorflow/issues/21266)
- [ ] Squa

[2018-08-09 20:51] suharshs commented on #19658
We will track missing operations in the above aggregation issue, to avoid having an issue for every single operation.

[2018-08-09 20:51] #19658 closed

[2018-08-09 20:51] tofulawrence commented on #20005
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

Original issue solved.

[2018-08-09 20:51] #20005 closed

[2018-08-09 20:51] aselle commented on #20128
You could try this converter I wrote... https://github.com/aselle/tensorflow/blob/7e71aa528111cd73cabc9fefdbb68422e35c16ce/tensorflow/examples/speech_commands/conv_only.py

the main problem is you are using two early of an op in the graph, because you are expected to decode your own wave into a pcm array first (unlike the tf graph).

[2018-08-09 20:52] rohan100jain commented on #13610
Hi all,

Please take a look at MultiDeviceIterator https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/data/python/ops/prefetching_ops.py#L628

Currently its exposed via tf.contrib.data but this solves the prefetching to multiple GPU devices use case.

Sample API usage:

host_dataset_on_cpu = .....
multi_device_iterator = prefetching_ops.MultiDeviceIterator(host_dataset_on_cpu,

[2018-08-09 20:52] #13610 closed

[2018-08-09 20:55] rohan100jain commented on #18453
Doesn't the log_every_n_steps flag give you what you need? It'll print out metrics periodically?

[2018-08-09 20:57] ispirmustafa commented on #18696
warm-start says how you initialize your model. Same as defining initialization when you create a variable. It's part of the model definition. But used only if there isn't any checkpoint. Same as initialization.

[2018-08-09 20:57] rohan100jain commented on #20880
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2018-08-09 20:59] av8ramit commented on #21518
https://github.com/tensorflow/tensorflow/pull/21527

@skeydan please let us know if this helps.

[2018-08-09 21:01] tofulawrence commented on #17349
Problem is that you're not freezing the graph, which converts variables into constants.

Before you call the TOCO convert, you need to convert variables to constants to produce a frozen graph def. Then pipe that frozen graph def into the TOCO convert.

Right now, you're referencing the sess.graph_def instead of the frozen graph.

[2018-08-09 21:05] shivaniag commented on #21115
@guptapriya could you take a look.

[2018-08-09 21:07] louspringer commented on #17411
Why is this issue closed? It's still occurring in TensorFlow 1.10.

[2018-08-09 21:10] shivaniag commented on #15835
@weidong8405347 is this still a problem? apologize for delayed response here.

[2018-08-09 21:12] rohan100jain commented on #20628
So usually I'd recommend a prefetch buffer size of something in the range of 1-4. 1 should mostly work because you want to pipeline the next computation while the current one is going on. With this large number, you're just creating a lot of memory pressure on the GPU without much benefit.

Also, can you increase the size of the data that is being transferred over? Make it some really large tensor

[2018-08-09 21:25] liyunlu0618 commented on #19607
Can you try and see if this issue persists with the most recent release? If so can you provide a openpose quantized model for me to reproduce? Thanks!

[2018-08-09 21:25] geekonedge commented on #21518
I can confirm that installing the three packages resolves the issue as per [this link](https://stackoverflow.com/questions/51771039/error-compiling-tensorflow-from-source-no-module-named-keras-applications/51774943#51774943)

[2018-08-09 21:28] samikama opened #21528 "Optimization flags are ignored in builds"
user defined optimization flags, i.e. bazel build -copt="xxx", regardless whether passed from command-line or are not propagated to compilation steps. This creates a problem especially in cuda builds and same for both clang and nvcc based builds. Here is an example

Bazel command-line
[code]

one of the compilation commands
[code]

[2018-08-09 21:30] jlebar commented on #21528
Hi, I don't work on the TF build system.  Perhaps you mean to assign to someone on the TF build team?

[2018-08-09 21:33] jlebar commented on #21528
cc @gunan @ilya-biryukov

[2018-08-09 21:34] martinwicke commented on #15706
That sounds sensible. I'm a little concerned about all the different behaviors: div by zero yields 0 or denominator, treat negatives as zero...

I'd like it better if we could simplify this a bit (definitely treat negatives as zero should be handled by simply running max(0, x) beforehand).

[2018-08-09 21:38] gunan commented on #21528
I think you configured for GPU and to build with clang in the configure script.
`--config=cuda` gets added in bazelrc when you choose to build for GPU in our configure script.

@ilya-biryukov set this option up for us, so Ill let him look.

[2018-08-09 21:42] samikama commented on #21528
@jlebar current cuda toolchain file filters out any parameters it doesn't understand instead of passing them as compiler parameters to nvcc
it looks like similar issue is happening with clang compilation., --config=cuda is in bazelrc file

[2018-08-09 21:52] jdlamstein commented on #19110
@tofulawrence @petewarden @achowdhery
Thank you!

[2018-08-09 22:02] samikama commented on #21528
Actually one should *not* add --config=cuda to command-line anymore since if you select cuda with clang, it creates a conflicting rule for building the pip package and won't build.

[2018-08-09 22:05] cvinson830 commented on #20597
@asimshankar
+ @jart

A little more detail may help:

The GraphDef protobuf (graph.proto) is the topmost object in our TB event file.  When we create a TB event file and load it in TB, we see the GRAPHS tab selected, and our neural network rendered properly.

GraphDef contains a repeated list of NodeDef protobufs (node_def.proto).  This was the basis for the proposal of adding gpu_details protobuf

[2018-08-09 22:18] josh11b commented on #12386
Sorry for the lack of updates, we do not at this time have a direct replacement for SyncReplicaOptimizer. On one machine you can use tf.contrib.distribute.MirroredStrategy to do sync replication across multiple GPUs. Further sync replication options will be coming, but I'm not certain of the time frame.

[2018-08-09 22:25] dhingratul commented on #21312
Is there any documentation that i could refer to ?

[2018-08-09 22:28] chris-boson commented on #12001
I would also be able to help with an implementation, @tjingrant have you started on it?
Also seems like the authors of [The Devil is in the Decoder](https://arxiv.org/abs/1707.05847) must have access to it.

[2018-08-09 22:29] dhingratul commented on #20602
Is there any efforts for using tf.lite on GPU ?

[2018-08-09 22:34] baluyotraf commented on #21476
Doesn't matter even if I use the Estimator APIs since my problem is not with the network but just with the way I can load the data.

For the training graph, the data I want to load is fixed (this is my training set) so it doesn't matter if the data is fixed in the graph. For inference graph, the data I want to load is different since this is based on real world data. Hence, I would like to use pla

[2018-08-09 22:43] dhingratul commented on #1824
Is there any documentation how to use it with Tensorflow C++ from `StepStats` ?  #21312

[2018-08-09 22:44] gunan commented on #19770
@asimshankar have you seen this error before?
@Nayana-ibm do you have any more detailed information or logs?

[2018-08-09 22:59] f90 commented on #13463
I get this problem on a dataset where each example has about 200k 32-bit floats, and it definitely seems related to the shuffle buffer. Without any shuffling, it works fine. With a small buffer as well. But when I want to increase the shuffle buffer size from 500 to 1500, this error comes up, with the same message every time:

DataLossError (see above for traceback): truncated record at 1718960034

[2018-08-09 23:16] karmel commented on #21464
Re-reading the error, it looks like the op in question is found, but the data it is receiving is a boolean tensor rather than an int. Further, the warnings above the error indicate that there are other type mismatches encountered. Are you switching between CPU and GPU with a single checkpoint? Alternatively, is there something in your model_fn that might yield this sort of type mismatch?

[2018-08-09 23:28] laurentS commented on #17411
I posted some links to a few community builds of tensorflow [here](https://stackoverflow.com/a/51777012/1138710) which might help avoid having to build from source.

[2018-08-09 23:45] drpngx commented on #20976
@KevinLucidyne that's fine.

[2018-08-09 23:49] drpngx commented on #16540
Is that still an issue with the latest code?

[2018-08-09 23:49] #19360 closed

[2018-08-09 23:55] #20751 closed

[2018-08-10 00:11] xu-song commented on #21502
what is the difference between `my-model-10000.meta` and `graph.pb`?
I export both `my-model-10000.meta` and `graph.pb` in txt format, I found they are similar.
Both contains `MetaInfoDef`、`GraphDef`、`SaverDef`、`CollectionDef`

[2018-08-10 00:17] liuyipei opened #21530 "[Bug] Broken Combination: Non-SGD Optimizer, tf.Variable(), and Estimator Framework"
The following combination is broken when simultaneously used:
* Optimizer other than SGD
* Estimator framework
* using `tf.Variable` rather than `tf.get_variable`
The bug might be more specific, since I am basing this directly off of the full setup found in the official resnet example in `models/`

I have made a 3-line modification to the official resnet example illustrate problem:
https://github.

[2018-08-10 00:43] ychen404 commented on #21368
Hi,

Attached is the frozen model.
[frozen-model-conv6-bat-32.zip](https://github.com/tensorflow/tensorflow/files/2276239/frozen-model-conv6-bat-32.zip)

[2018-08-10 00:45] samikama commented on #21528
Two more updates. I instrumented crosstool_wrapper_driver_is_not_gcc to printout compiler flags it get, used for cpu compilation and gpu compilation and did a build with -s option, generating around 140k line log file. Some early observations
- For some reason only part of the files get --copt options
- If these options are passed to cuda compilation, they are ignored, as was expected from the cod

[2018-08-10 01:12] shivaniag commented on #20626
Good catch, thanks for finding this bug. Fixed this :)

[2018-08-10 01:13] shivaniag commented on #20626
This would now fail, closing this issue.

[2018-08-10 01:13] #20626 closed

[2018-08-10 01:14] raninbowlalala commented on #20955
@jdduke Shape has supportted quantization, thank you! And I got error log as below:
`2018-08-10 09:08:16.577780: F tensorflow/contrib/lite/toco/graph_transformations/quantize.cc:473] Unimplemented: this graph contains an operator of type Cast for which the quantized form is not yet implemented. Sorry, and patches welcome (that's a relatively fun patch to write, mostly providing the actual quantize

[2018-08-10 01:49] wenching33 commented on #20016
@cy89 No, the error still exists.
Actually, the .pb model I try to transfer to .tflite is transferred from .caffemodel using MMdnn.
I am not sure whether some error already exists after MMdnn conversion.

[2018-08-10 02:16] facaiy commented on #21502
I think this question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow).

If I understand correctly, [GraphDef](https://github.com/tensorflow/tensorflow/blob/r1.10/tensorflow/core/framework/graph.proto) is a member of [MetaGraphDef](https://github.com/tensorflow/tensorflow/blob/r1.10/tensorflow/core/protobuf/meta_graph.proto).

[2018-08-10 02:47] MaeThird opened #21531 "Build from source with python3.7 failed(prototype changed)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:N
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:arch
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**:1.1

[2018-08-10 03:41] #21435 closed

[2018-08-10 03:49] jlisee commented on #15618
@gunan is there a bug tracking Bazel's insertion of that line?  Looks like [it's here](https://github.com/bazelbuild/bazel/blob/7a3e39fc20f1fba810d8023ff1608e39f501492a/src/main/java/com/google/devtools/build/lib/bazel/rules/python/BazelPythonSemantics.java#L188)?

[2018-08-10 03:51] ThorPham opened #21532 "How to take weight from file checkpoint ckpt ?"
i want to take weight parameter from model object detection api ? how to do that ?

[2018-08-10 04:08] oroojlooy commented on #18538
@yifeif No, I installed a newer version of Python3.6, then installed tensorflow and it works.

[2018-08-10 04:24] yongtang commented on #21525
Added PR #21533 for the fix.

[2018-08-10 04:43] facaiy commented on #15706
@aselle `tf.div_no_nan` sounds better.

1. I think we don't want to bind the op to Tensor, hence it seems unrelated to / or // function, right?
2. The op is designed for float value. I agree that we can restrict it to float32, float64 only for now.

@martinwicke `max(0, x)` looks good.

I think we can, for now, only support that return 0 when denominator is zero, and for float32, float 64 only. Ho

[2018-08-10 04:44] T0T4R4 commented on #17629
Yeah but what a pain.. I mean cuda 9.2 and cudnn 7.1 have been there for quite a while already...
Would be nice to have a ready package...

[2018-08-10 04:52] guptapriya commented on #21115
It seems like you're using the approach described here: https://www.tensorflow.org/deploy/distributed.
Unfortunately, this approach doesn't work with keras fit, as far as I know. cc @anj-s - who can perhaps add more.

If you'd like to run your training in keras and distribute on multiple GPUs, you can try using DistributionStrategy instead, which is now supported in keras fit. See example here for

[2018-08-10 05:52] duane-ibm commented on #19770
Hi Gunan,

Below are the logs for building/testing java module for tensorflow v1.8.0 on s390x.

Bazel build:
[code]

Bazel test:
[code]

Java version:
[code]

Bazel version:
[code]

[2018-08-10 06:03] MaeThird commented on #21531
https://github.com/tensorflow/tensorflow/issues/20690

[2018-08-10 06:03] #21531 closed

[2018-08-10 06:10] ebrevdo commented on #17387
Looks like scan with reverse=true will do that you want.

[2018-08-10 06:10] #17387 closed

[2018-08-10 06:18] gunan commented on #15618
It has been a while, I do not remember completely.
But I remember discussing this with @ulfjack
Ulf,  is there a bug for this in bazel?

[2018-08-10 06:47] facaiy commented on #21178
Hi, I create the PR #21536 to fix the issue.

[2018-08-10 06:55] cag51 opened #21537 "problem when num_enqueue == batch_size"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 18.04

- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
N/A

- **TensorFlow installed from (source or binary)**:
source

- **TensorFlow version

[2018-08-10 06:59] lxl910915 commented on #6292
@eldar Can you share your revision?

[2018-08-10 07:02] pumpkinband commented on #21449
Thanks a lot brother.

[2018-08-10 07:16] guptapriya commented on #20126
@bpinette and @Bocharick  - `tf.get_variable` is the recommended way to create variables, instead of `tf.Variable`,  as the former will create the appropriate MirroredVariable (as well as re-use variables etc). See https://www.tensorflow.org/guide/variables. Could you try with tf.get_variable instead, in places where you use `tf.Variable`?

[2018-08-10 07:22] boredbird opened #21538 "why the results of tf.contrib.crf.viterbi_decode is different from tf.contrib.crf.crf_decode?"
### Describe the problem
For viterbi decode,i have try the both api:
tf.contrib.crf.viterbi_decode and tf.contrib.crf.crf_decode.
I got different results.

### Source code
the way i use  tf.contrib.crf.viterbi_decode:
            for logit, sequence_length in zip(logits, sequence_lengths):
                logit = logit[:sequence_length] # keep only the valid steps
                viterbi_seq, vite

[2018-08-10 07:47] guillaumekln commented on #21340
Thanks @ebrevdo. After re-reading the documentation, I can accept that my input was not covered by the API. However, the `fold{l,r}` examples from the documentation are no longer working on 1.9 because of this change:

[code]

prints `21` on 1.8 but fails on 1.9 with:

[code]

They should either be updated or this change be considered as breaking.

[2018-08-10 07:53] skeydan commented on #21518
works great, thank you!!

[2018-08-10 08:03] darshan309 commented on #6136
If you are using Anaconda Navigator,  selection Applications on as "tensorflow" before launching the visual studio code

if you are using cmd prompt, activate tensorflow first.

[2018-08-10 08:08] david456314 commented on #15547
Hi, so is it solved?

[2018-08-10 08:26] markdryan opened #21540 "The nn_test unit test testGradient.L2LossTest fails on AVX512 builds"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use

[2018-08-10 08:28] markdryan commented on #21540
I've submitted a [patch](https://github.com/tensorflow/tensorflow/pull/21541) to fix the issue.  The underlying problem is with the test case itself which is too stringent.  This issue can be reproduced on AVX2 builds if the random seed set at the start of the test is modified.  The patch fixes the issue by reducing the error tolerance from 1e-11 to 1e-10.  For more details see the commit message.

[2018-08-10 08:38] cvJie opened #21542 "fatal: not a git repository: 'E:/tensorflow/tensorflow/contrib/cmake/build/nsync/src/nsync/.git'"
i want to use cmake+VS2015+win10 to compile tensorflow-CPU,to get tensorflow.dll and tensorflow.lib，in total 6 errors ,
but always happen :
Creating directories for 'zlib'
  Building Custom Rule E:/tensorflow/tensorflow/contrib/cmake/CMakeLists.txt
  CMake does not need to re-run because E:/tensorflow/tensorflow/contrib/cmake/build/CMakeFiles/generate.stamp is up-to
  -date.
  Performing download

[2018-08-10 08:50] #21446 closed

[2018-08-10 09:06] #21301 closed

[2018-08-10 12:03] eastskykang commented on #8425
Why this issue was closed? I don't see @ispirmustafa 's answer solve the problem.

[2018-08-10 12:07] aminzabardast commented on #21472
I have tried in 1.10 and yet I have this issue:
`RuntimeWarning: compiletime version 3.6 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.7`

[2018-08-10 12:34] vrenkens commented on #8425
You have to create a hook that does the saving for you and put it into the session

[2018-08-10 12:35] vrenkens commented on #8425
This is the hook I use:

[code]

[2018-08-10 13:07] MingtaoGuo commented on #582
just use 'read().strip()'

[2018-08-10 13:54] hsgkim commented on #17843
@tatianashp Is anyone working on this or has finished this? If not, I'd like to contribute. Sorry for bumping up a pretty old issue, and thanks in advance!

[2018-08-10 14:05] su-si commented on #21400
Sure...

[2018-08-10 14:43] hawkinsp commented on #9509
Closing issue as stale. Please reopen if you still experience this problem.

[2018-08-10 14:43] #9509 closed

[2018-08-10 15:17] skye commented on #21472
@av8ramit this looks to be the same problem as #14182

[2018-08-10 15:36] av8ramit commented on #21236
Great! Closing this issue now.

[2018-08-10 15:46] gabrielfreire commented on #17461
I just got this error `Tensorflow Op is not supported: Prod` on `tfjs@0.12.0`

[2018-08-10 15:47] gabrielfreire commented on #17461
And earlier today trying to convert other model i got this error
`ValueError: Unsupported Ops in the model before optimization
BatchMatMul, FloorMod`

[2018-08-10 15:56] ankitvgupta commented on #16052
Hi @mrry @facaiy , I just tried the above PR, and believe it has some issues. For one, the test cases don't include a case where one of the TensorShapes you pass to the assert is TensorShape(None). When I do that, I'm getting the following error:
[code]

[2018-08-10 16:01] slerman12 commented on #12071
Can you provide an example of the solution above with axis as a parameter please? I tried:

[code]

Which threw an incompatible shapes error for me. The same error doesn't occur with `tf.norm` or `tf.reduce_sum`.

[2018-08-10 16:12] av8ramit commented on #21472
We do not have a native binary for python3.7 yet. My recommendation until we have python3.7 support is that you [build from sources](https://www.tensorflow.org/install/install_sources) or use python3.5 or 3.6.

[2018-08-10 16:35] jjsjann123 commented on #20157
TRT does support deconvolution (Conv2DTranspose). We should take a look at this and strat adding support @benbarsdell @pooyadavoodi

[2018-08-10 16:38] hartikainen opened #21543 "ConditionalBijectors not Chainable due to Bijector _Mapping not supporting deep dicts"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: OSX High Sierra 10.13.1
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: n/a
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version

[2018-08-10 17:01] tensorflowbutler commented on #21516
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-10 17:01] tensorflowbutler commented on #21520
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
TensorFlow installed from
TensorFlow version
Exact command to reproduce
Mobile device

[2018-08-10 17:01] tensorflowbutler commented on #21522
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
Bazel version
Mobile device

[2018-08-10 17:17] karmel commented on #21455
Thanks @neuencer for the report. We are actively working on sequence feature columns, and it would be great to get more detail about your use-case as well.

For the immediate term, the issue seems to be that sequence feature columns currently expect SparseTensors as inputs. (This matches the expected output if you are parsing your features from TFRecords.) For the above example, it works if you ch

[2018-08-10 17:43] alanchiao commented on #19956
@David Cardozo, @peterlee0127

As a part of a separate issue, I'll be looking into updating this so that we
1. don't rely on this Google-only macro for TX2
2. this code (which cannot compile on either the Jetson TX1 or TX2)

Seeing if there are any specific macros we can use so that gcc / llvm don't include this code for TX1 / TX2.

[2018-08-10 17:47] #20983 closed

[2018-08-10 18:03] #19062 closed

[2018-08-10 18:03] chaowu2009 opened #21544 "OutOfRangeError: read less bytes than requested"
The training works fine on my local computer and did not work on my Ubuntu Amazon EC2 server when I increased the size of training data.

**The first error: [W tensorflow/core/framework/op_kernel.cc:1273] OP_REQUIRES failed at save_restore_v2_ops.cc:184: (out of range, Read less bytes than requested).**

My Ubuntu Amazon EC2 server has less memory, less CPU. Reading the error, I am not sure whethe

[2018-08-10 18:11] #20846 closed

[2018-08-10 18:15] achowdhery commented on #21221
@MaeThird : Thanks

[2018-08-10 18:39] gunan commented on #8709
As @jart mentioned, could you try updating to gcc 4.8 and try with that?

[2018-08-10 18:53] martinwicke commented on #15706
@tensorflow/api-owners to get a definitive answer.

[2018-08-10 19:13] farshidce commented on #15633
@achowdhery : https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tensorflowlite.md
is there an example or sample code of how to do the same in iOS. So far the closest thing i found has been this https://github.com/YijinLiu/tf-cpu/blob/master/benchmark/obj_detect_lite.cc which it does not always work.

the current iOS demo app does not work with ssd a

[2018-08-10 19:45] michaelisard commented on #21515
How different are they? GPU computations are nondeterministic and so floating point errors can be different between runs.

[2018-08-10 19:46] EduGonzalez commented on #21516
OS Platform and Distribution
**Red Hat Enterprise Linux Server release 7.5 (Maipo)**

TensorFlow installed from
**Source**
TensorFlow version
**tensorflow-1.9.0**
CUDA/cuDNN version
N/A
GPU model and memory
N/A
Exact command to reproduce
**bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package --verbose_failures**
Mobile device
N/A

[2018-08-10 20:11] angersson commented on #21238
@aselle Can you have a look at this?

[2018-08-10 20:13] #12357 closed

[2018-08-10 20:16] angersson commented on #20225
New versions of TensorFlow now use Bazel for Windows. I am leaving this issue open as Community supported.

[2018-08-10 20:16] angersson commented on #20723
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-08-10 20:16] #20723 closed

[2018-08-10 20:26] angersson commented on #20750
@zheng-xq Can you have a look at this? Seems possibly GPU-related.

[2018-08-10 20:26] angersson commented on #20968
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-08-10 20:26] #20968 closed

[2018-08-10 20:27] allenlavoie commented on #21532
[tf.train.load_variable](https://www.tensorflow.org/api_docs/python/tf/train/load_variable), and [tf.train.list_variables](https://www.tensorflow.org/api_docs/python/tf/train/list_variables) if you don't know the name. Probably a better question for StackOverflow.

[2018-08-10 20:27] #21532 closed

[2018-08-10 20:30] claynerobison commented on #21518
@gunan Are you going to update the Dockerfiles or do you want me to submit a PR for it? All the containerized builds are failing too.

[2018-08-10 20:31] #18276 closed

[2018-08-10 20:31] ringw commented on #18649
Sorry for the delay. Closing because I think this would require another C++ kernel. The gradient for bilinear interpolation can't be calculated using the existing projective transformation, because the interpolation would also depend on the gradient of the transformation matrix. I don't think we can support a second C++ kernel for this particular case.

I think this use case is something like [opt

[2018-08-10 20:31] #18649 closed

[2018-08-10 20:32] ringw commented on #17011
Fixed.

[2018-08-10 20:32] #17011 closed

[2018-08-10 20:58] poxvoculi commented on #21458
Thanks for tracking down the related issue.

[2018-08-10 21:13] ppwwyyxx commented on #20723
This is just a numerical issue with float32. Replacing `codebook` to float64 in the code above will make the gap disappear.

[2018-08-10 21:15] superbobry commented on #21492
@xiejw thank you for the clarification, and apologies for poor wording on my side. The code fragment I've linked to gives the "delay starting" rationale in the comment.

Would it be right to say that in order for a task to start, it should successfully connect to all other tasks; and that if the connection is unsuccessful, the task will retry indefinitely/"long enough"? I would very much appreciat

[2018-08-10 21:26] #21525 closed

[2018-08-10 21:28] aselle commented on #15805
We're planning to write some tutorials on RNN conversion. This approach does still include an unsupported unstack.  I think you'd probably want to make a function that generates either a training graph that uses a dynamic rnn and a inference graph that does a 1 time step static_rnn. Then your tflite Invoke() call feeds one sequence item at a time.

[2018-08-10 21:32] dmoham1476 commented on #21024
i still have this issue with tensorflow 1.10 and tensorflow 1.9

[2018-08-10 21:41] #21421 closed

[2018-08-10 21:52] omalleyt12 commented on #21181
Hi @jnd77, this should now work in the nightly build: ```pip install tf-nightly```` (or ```pip install tf-nightly-gpu``` if you have a GPU)

[2018-08-10 21:53] miaout17 commented on #20591
I'm not familiar with TF Mobile selective registration.
I think the readme change make sense.

[2018-08-10 21:53] martinwicke commented on #21204
Go for it. Mention @nataliaponomareva for review when you have something. Thanks!

[2018-08-10 21:55] aselle commented on #14366
This is not really possible since decode ops are usually expected to be done in host language, and it would be likely be more efficient to do it before invoking tensorflow in any case. This is because there is usually much faster since there are platform specific accelerations (even so as much as to make the camera output smaller images in the first place). So closing as expected behavior.

[2018-08-10 21:57] xiejw commented on #21492
Assume device_filter is not set. The precise sequence can be described as follows:

1. start_std_server. This opens the port and listens the grpc in background thread. All workers must do this first. Otherwise it might delay other workers to train the model.

2. (optional) time.sleep for delay starting. Note that at this time the grpc port is open already.

3. Estimator.train. This creates the gra

[2018-08-10 21:59] martinwicke commented on #20332
I believe this should be closed? @gunan?

[2018-08-10 22:39] tatianashp commented on #17843
@hsgkim As far as I know, nobody has implemented this for 3D and your contributions will be very helpful. Adding a few other folks to make certain.
/cc @asimshankar @ezhulenev

[2018-08-10 22:54] #20591 closed

[2018-08-10 22:56] gunan commented on #21518
AH, I completely missed that.
@av8ramit, could you send a PR to update all our dockerfiles to install the 3 pip packages mentioned in this issue?

[2018-08-10 23:02] gunan commented on #20332
Let's wait for the docs update, and close with a reference to the docs.

[2018-08-10 23:03] sunminnie commented on #21024
Try adding this line in your code:

tf.contrib.resampler

在2018-08-11 05:36:54，dmoham1476notifications@github.com写道：

i still have this issue with tensorflow 1.10 and tensorflow 1.9

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-08-10 23:29] av8ramit commented on #21518
Sure, sounds good.

[2018-08-10 23:40] drpngx commented on #21400
Thank you for the detailed report. That seems reasonable! Feel free to contribute a PR.

[2018-08-10 23:46] cy89 commented on #21359
@alvinxiii would you please fill out the template?

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue templat

[2018-08-10 23:47] cy89 commented on #21096
@gunan can you shed any light here, please?
@drpngx was also curious.

[2018-08-10 23:51] cy89 commented on #20337
@hxsnow10 is predict.py your code? If so, could you please provide it?

[2018-08-10 23:52] gunan commented on #21096
@av8ramit Do we have these options documented?
I think at the moment, in configure you need to just pick the deafult options.
The only non-defaults we may have are CPU optimization levels, which is fixed to avx, and CUDA, which is selected and unselected depending on CPU/GPU builds.

[2018-08-10 23:54] cy89 commented on #19631
@Sparkie2 have you tried uninstalling and reinstalling from scratch?

And also, do any of the installation techniques described on https://www.tensorflow.org/install/install_windows work for you?

[2018-08-10 23:57] cy89 commented on #19473
@zheng-xq could you PTAL?

[2018-08-11 00:00] cy89 commented on #19267
@aselle @andrehentz @petewarden would you PTAL?

[2018-08-11 00:10] av8ramit commented on #21096
No I don't but that is a good point. I can add this information to the build from sources page if you'd like.

[2018-08-11 00:15] cy89 commented on #18978
@snehaku I'm not seeing much through web searches:
https://github.com/tensorflow/tensorflow/issues/9259 suggests that @gunasekaran7 got one working; I'd suggest asking them.

[2018-08-11 00:17] cy89 commented on #18858
This seems like a feature request; @dsmilkov is this your territory?

[2018-08-11 00:34] FortiLeiZhang opened #21547 "tf.image.decode_image cannot decode b64-encoded string in Python3.6"
[code]

When run above code with Python 2, it is ok, the result is:
Tensor("decode_image/cond_jpeg/Merge:0", dtype=uint8)

However, when run with Python 3, it shows:
UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 0: invalid start byte

[2018-08-11 00:48] peterlee0127 commented on #19956
For the Jetson, we only need to add the
[code]
I think Jetson don't need the Google-only macro for TX2.

Thanks.

[2018-08-11 01:02] cy89 commented on #18640
@rothn thanks for the link to #18769. It seems useful information that the error happens on both Mac and Windows.

FWIW, @alyaxey 's demonstration script works fine on my Ubuntu desktop.

[2018-08-11 01:35] GarryLau commented on #17684
@ychen404
**freeze_graph**:
`bazel-bin/tensorflow/python/tools/freeze_graph  \
--input_graph=/home/lg/Desktop/inception_v3/inception_v3_eval.pbtxt \
--input_checkpoint=/home/lg/Desktop/inception_v3/checkpoint/model.ckpt-20000 \
--input_binary=false \
--output_graph=/home/lg/Desktop/inception_v3/frozen_inception_v3_299.pb  \
--output_node_names=InceptionV3/Predictions/Reshape_1  \
--checkpoint_vers

[2018-08-11 01:37] GarryLau commented on #17684
@ychen404
**freeze_graph**:
`bazel-bin/tensorflow/python/tools/freeze_graph  \
--input_graph=/home/lg/Desktop/inception_v3/inception_v3_eval.pbtxt \
--input_checkpoint=/home/lg/Desktop/inception_v3/checkpoint/model.ckpt-20000 \
--input_binary=false \
--output_graph=/home/lg/Desktop/inception_v3/frozen_inception_v3_299.pb  \
--output_node_names=InceptionV3/Predictions/Reshape_1  \
--checkpoint_vers

[2018-08-11 01:39] #10622 closed

[2018-08-11 01:52] facaiy commented on #21204
Nice. I just forget to remind that PR #21509 is created to fix the issue.

[2018-08-11 02:07] #15057 closed

[2018-08-11 02:14] ychen404 commented on #17684
Hi GarryLau,

It's working now! Thank you very much!

[2018-08-11 02:54] JuiYang opened #21548 "how to build .tflite file and two outputs"
this is my command:
bazel build //tensorflow/contrib/lite/toco:toco

bazel-bin/tensorflow/contrib/lite/toco/toco
 --input_file=/tmp/frozen_graph.pb
 --input_format=TENSORFLOW_GRAPHDEF
 --output_format=TFLITE
 --output_file=/tmp/mobilenet_v1_224.tflite
 --inference_type=FLOAT
 --input_arrays=input
 --output_arrays=MobilenetV1/Predictions/Reshape_1
 --output_arrays=MobilenetV1/Logists
 --input_share

[2018-08-11 04:02] woozhanwei commented on #16498
Hi there,
Is the boundary box disappear permanently?

Best Regards,
Woo Zhan Wei
________________________________
From: jackweiwang <notifications@github.com>
Sent: Monday, July 30, 2018 6:25 PM
To: tensorflow/tensorflow
Cc: woozhanwei; Mention
Subject: Re: [tensorflow/tensorflow] Bounding box do not remove (#16498)

@woozhanwei<https://github.com/woozhanwei>
I add trackedObjects.clear(); //add th

[2018-08-11 04:33] facaiy commented on #21547
It seems that [API](https://www.tensorflow.org/api_docs/python/tf/image/decode_image) declare its contents must be byte string:

[2018-08-11 04:35] jackd commented on #21459
What do you results look like if you infer using `is_training=True`? Obviously that's not what you -want- to do, but I've found I have similar issues with transfering `slim` model weights to different applications that are resolved by inferring in training mode, which would indicate the problem is likely related to `slim`'s batch normalization - either not saving moving averages, or not loading th

[2018-08-11 04:37] ppwwyyxx commented on #21547
This issue has completely nothing to do with tensorflow. This is a python usage issue.

https://stackoverflow.com/questions/42339876/error-unicodedecodeerror-utf-8-codec-cant-decode-byte-0xff-in-position-0-in/42340744

[2018-08-11 04:37] facaiy commented on #16052
@ankitvgupta Thanks for bring this to our attention. I think it's a problem.
@mrry How do you think about unknown shape and partial shape?

[2018-08-11 05:12] ningyuwhut commented on #10270
I met this problem too, so have it been solved?

[2018-08-11 06:51] gunan commented on #21528
Maybe these are excluded in our crosstool intentionally?
Is it possible that the following was  the cause to make such a decision?
https://devtalk.nvidia.com/default/topic/780902/nvcc-with-avx-support-cannot-find-gcc-builtin-intrinsics/
Does the above still apply?

[2018-08-11 07:04] fcacarminati commented on #17843
Gentlepersons,
  thanks a lot for looking into this. I would be very glad if the 3D performance could be improved. Greetings from CERN (http://www.cern.ch)

[2018-08-11 07:34] Flowerfan opened #21549 "tf.contrib.ffmpeg.decode_video Error"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)**: 1.9.0
- **Python version**:  2.7
- **GCC/Compiler version (if compiling from source)**: 4.8

[2018-08-11 10:08] synaspeak commented on #21431
Trying to build android source folder from tensorflow examples.
Using Linus 16.04 LTS
Tensorflow installed via pip.
![erro](https://user-images.githubusercontent.com/40731977/43990691-951ac2a2-9d7c-11e8-9993-37497e9b7848.png)

[2018-08-11 11:29] mha-py opened #21550 "Horrible"
Really a waste of time. Installing all kind of s**t, winpython, anaconda, then, finally, checking that tensorflow doesnt work with 32bit systems. Why cant tensorflow write:
"Only 64 bit supported!!"

[2018-08-11 11:38] edwardzjl commented on #20444
same here.

[2018-08-11 12:09] wojciradom commented on #21431
I think it is some bug with new version. Just run ```git checkout `git rev-list -n 1 --before="2018-06-27 13:37" master````, it gets you back a few commits before issue and before Zero.java existing. I've tested it already and it compile without errors.

[2018-08-11 12:55] yegord commented on #19619
The script at the commit that you refer to did work on my side. What did not work was calling `create_inference_graph()` (as in the original minimal example script).

The original minimal example script seems to work again with 3b061fce8b9a1c867f2798d51b5375ea3a03b385. Apparently, something was fixed between 2791d58c2bbbce833a3de73503816d881a06cfe3 and 3b061fce8b9a1c867f2798d51b5375ea3a03b385 that

[2018-08-11 13:13] MaeThird commented on #21506
I found If i remove the 'fold_constants' in **TransformGraph** processing,it would be OK. Thanks.

[2018-08-11 13:13] #21506 closed

[2018-08-11 13:14] carlaucho commented on #17945
Any progress here?

[2018-08-11 13:42] karimhasebou commented on #4306
@wgmao Are you sure that conv2d_transpose wraps around instead of applying more zeros ?

[2018-08-11 15:06] asimshankar commented on #21550
This is mentioned on both https://www.tensorflow.org/install/install_windows and https://www.tensorflow.org/install/install_sources

If you have a suggestion to make that more prominent, we'd be happy to hear.

[2018-08-11 15:06] #21550 closed

[2018-08-11 15:10] VBR1016 commented on #21339
No I've never worked with it.
I uninstalled 1.9.0 version of tensorflow and installed 1.5.0 version of it to use the older verson of g2p_seq2seq.

[2018-08-11 16:36] yongtang commented on #21549
@Flowerfan Would you mind to provide one video samples that trigger the issue described?

[2018-08-11 17:24] tatianashp commented on #17843
Reopened the issue to keep track of the progress on PR.

[2018-08-11 19:55] superbobry commented on #21492
This is indeed a non-issue, thanks again @xiejw!

[2018-08-11 22:34] CHIKKIZZY commented on #17101
@UmeanNever was spot on. If you are using a conda environment a simple restart may be all you need to do.

[2018-08-12 02:42] MInner commented on #12345
Just for the information of @shuttle1987 and others in the thread, there exist a [MonkeyType](http://monkeytype.readthedocs.io) project that aims at generating stubs by tracing actual code execution. Considering vast tensorflow test suites and official repositories, encountering all possible output types for the majority of function calls seems likely. One can even have a validation split and chec

[2018-08-12 03:17] synaspeak commented on #21431
![nowthus](https://user-images.githubusercontent.com/40731977/43998133-2e6ff852-9e0c-11e8-8b74-cd835039155c.png)

Hi wojciradom,

Thanks for the reply. I tried running the command, but I get the following errors. Any suggestions on how I could fix this.

Thanks,

[2018-08-12 03:31] sanketloke commented on #21404
@asimshankar I would like to try this if no else is. Would send a PR by next week.

[2018-08-12 04:12] Flowerfan commented on #21549
[VIRAT_S_000000_0023.avi.zip](https://github.com/tensorflow/tensorflow/files/2280711/VIRAT_S_000000_0023.avi.zip)
@yongtang  I uploaded the video.

Below is the video info using ffprobe
ffprobe version 2.8.14-0ubuntu0.16.04.1 Copyright (c) 2007-2018 the FFmpeg developers
  built with gcc 5.4.0 (Ubuntu 5.4.0-6ubuntu1~16.04.9) 20160609
  configuration: --prefix=/usr --extra-version=0ubuntu0.16.04.1

[2018-08-12 06:12] ZhenYangIACAS commented on #17914
@arassadin Have you solved this problem? And I find this problem too. If you have fixed this problem, could you please share your approaches?

[2018-08-12 06:49] yoasaine opened #21554 "Kernel Restarting The kernel appears to have died. It will restart automatically. importing tensorflow"
hey comrades. am a new ubuntu user, i read most articles on how to install tensorflow in anaconda so that i can run it in the notebook.
i am however facing this challenge which is disturbing having thought i've succeeded. and it's nagging me.
the moment i do "import tensorflow as tf", and upon running, i receive the following;
_**Kernel Restarting
The kernel appears to have died. It will restart a

[2018-08-12 07:59] Red-Eyed commented on #20338
I have the same problem ([posted on SO](https://stackoverflow.com/questions/51806852/cant-save-custom-subclassed-model)) but even w/o eager execution.
Any update?

[2018-08-12 08:33] tavramov commented on #13895
Hi @martinwicke ,
`InMemoryEvaluatorHook` looks like a great way to evaluate while training but I am running into issue where all eval_metrics are evaluated to 0.0 after the very first time the evaluation hook is triggered.
Here is a snippet of my output when `every_n_iter=50`:

INFO:tensorflow:Saving dict for global step 0: accuracy = 0.158545, global_step = 0, loss = 3.36605
INFO:tensorflow:Savi

[2018-08-12 08:40] Red-Eyed commented on #20338
On the keras 2.2.2
Found comment (for model saving):

[2018-08-12 11:34] hsgkim commented on #17843
@tatianashp Sorry, this is my first time ever contributing to TensorFlow, so I'm not quite sure where to place my files; should they be under `tensorflow/core/kernels` so that my op becomes `tf.extract_volume_patches`, or somewhere under `contrib`?

And it looks like Eigen for some reason designed `extract_volume_patches` in a way that does not let you pass the `rate`s (in a very straightforward w

[2018-08-12 12:03] fenghou1st commented on #3460
@marcoadurno
Although things have been going on for a long time, there is still something to explain.

**The restoring operation should be executed only once, and before any inference.**

In your code this operation will be executed every time `_infer()` is invoked, and if there are multiple layers (for example, your model has 3 dense layers), you can't restore the variables from the very beginnin

[2018-08-12 13:07] arassadin commented on #17914
@ZhenYangIACAS, still not solved

[2018-08-12 13:13] kzhang28 commented on #11896
Hi @byronyi

Following your approach: training --->restart training from checkpoint with a different ClusterSpec

 2 Terminate current session
3 Re-do the partitioning of graph with respect to the new cluster_def
4 Create a new session and recover from the checkpoint

 I have experimented with training my model using synchronous between-graph replicas. After terminating the training process(say 2p

[2018-08-12 14:26] ElchananHaas opened #21555 "Better tf.contrib.estimator.early_stopping (Feature request)"
### System information
N/A

### Describe the problem
The current early stopping code doesn't take into account any trends in the loss, and therefore can be thrown off by a single low loss. It would be better to use an exponential moving average of the loss to compute the lowest loss, as that will be less likely to be thrown off by a single very low loss.

[2018-08-12 14:57] Giribushan commented on #15568
@R-Miner
I was hitting the error if the Feed the data as below
[code]
Then as suggested, I have passed the data in a list format, which resolved the issue
[code]

[2018-08-12 15:07] raminhalavati commented on #1095
Thank you, I was just asking if there is a detailed description about it somewhere, as I don't clearly get it from previous comments.
I have defined loss value by a py_func, and that's why I am overriding the gradient to define the actual gradient of it. Now I don't get what exactly |grad| means and how should I use it. I don't clearly get what you mean by "gradient of some global function with re

[2018-08-12 16:31] ageron opened #21557 "In DNNClassifier evaluation results, the 'loss' is not always = 'average_loss' * batch_size"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOSX 10.13.6
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: yes
- **TensorFlow version (use comma

[2018-08-12 17:14] jonkoi opened #21558 "contrib/quantize vs Graph Transform Tool"
Hi,

I am wondering if the quantize_weights and quantize_nodes transforms in Graph Transform Tool use the same method as contrib/quantizei in this paper: https://arxiv.org/abs/1712.05877

[2018-08-12 18:30] FortiLeiZhang commented on #21547
Hi, @ppwwyyxx  and @facaiy

Thanks for your reply. Solved it by explicitly adding the mode 'b' when open the image file:
[code]

[2018-08-12 18:31] #21547 closed

[2018-08-12 21:14] neuencer commented on #21455
Thanks for your respond @karmel! But I realized my post probably wasn't specific enough (sorry for that). My issue is with the multi-hot representation that usually happens by using the indicator column (see: [tf.feature_column.indicator_column](https://www.tensorflow.org/api_docs/python/tf/feature_column/indicator_column)). If my input is `["bob", "wanda"]` or `[0, 2]`, I want to get a `[1, 0, 1]

[2018-08-12 21:46] drpngx commented on #12948
Interesting. So far, this is unconnected, as far as I know. It's an optimization worth considering.

[2018-08-12 23:12] #21363 closed

[2018-08-12 23:56] snknitin opened #21562 "tf.estimator.DNNClassifier TypeError: __init__() got an unexpected keyword argument 'batch_norm'"
Hello ,
          I've run into the following error and could not find any relevant post on stack overflow. I'm trying to create a DNN classifier using the tf.estimator.DNNClassifier. My  tf.GIT_VERSION is  v1.9.0-0-g25c197e023  and  tf.VERSION  is 1.9.0

### Problem

**TypeError: __init__() got an unexpected keyword argument 'batch_norm'**

It doesn't seem like batch_norm is one of the params
Upd

[2018-08-13 01:31] EdwardLin2014 commented on #21432
Opps, my fault, the randomness is due to the nondeterministic nature of GPU. Checked with the CPU computation result, they are the same.....

[2018-08-13 01:34] #20825 closed

[2018-08-13 01:34] #20871 closed

[2018-08-13 03:10] gary90231 commented on #21478
i found that it may because the version of tensorflow is not fit to the version of bazel.

[2018-08-13 04:12] hsgkim commented on #21358
Even though TensorFlow says it's using GPU0, it's very likely that it is actually using GPU1. The GPU numbers TensorFlow shows are relative. Run `nvidia-smi` to check which GPU TF is actually using.

[2018-08-13 04:41] Kayoku commented on #21478
What do you mean by "not fit" ? What is the version that we need to use so ?

[2018-08-13 04:47] letarg0 commented on #19147
why ruby isnt officialy supported?

[2018-08-13 05:15] harishkool opened #21564 "Tensorflow code is not running on GPU"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: No
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use comma

[2018-08-13 05:28] jackweiwang commented on #16498
@woozhanwei
I use the latest version of tensorflow, the problem has been solved, thanks

[2018-08-13 06:12] klauscc commented on #21444
same problem with tf 1.10.0. It seems that hooks under distributed training will become `PerDevice`, but desired is `ensorflow.python.training.basic_session_run_hooks.LoggingTensorHook`. Hope it can be fixed soon.
[code]

[2018-08-13 06:38] achraf-boussaada commented on #19384
@achowdhery sorry for the late response ! unfortunately i didn't get to test it with the new build since i'm no longer working on the project..  i will keep the issue updated if i did come back to working on it.

@MohammadMoradi did you make sure you supported all CPU architectures? that may be your problem. it should be looking like this :

[2018-08-13 06:55] yukaliu07 commented on #21526
What will be the messages if we successfully implemented custom ops such as ResizeNearestNeighbor?

[2018-08-13 07:32] songzenghui commented on #21400
Hi, @su-si .
I want to know if the `tf.nn.dynamic` did not suport the `ConvLSTMCell` ?

[2018-08-13 07:33] duane-ibm commented on #16540
@drpngx the issue still exists on v1.10.0.

[2018-08-13 07:47] meteorcloudy commented on #19770
/cc @cushon Have you ever seen similar error before?

[2018-08-13 08:14] YijinLiu opened #21566 "optimize_for_inference output broken graph"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 18.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
No.
- **TensorFlow installed from (source or binary)**:
Source.
- **TensorFlow version (use comm

[2018-08-13 08:15] markdryan commented on #21540
https://github.com/tensorflow/tensorflow/pull/21541 is now merged so this can be closed.

[2018-08-13 08:15] #21540 closed

[2018-08-13 08:29] gqy1005 commented on #20640
Sorry for the late response. This is no more an issue for me. Thanks for
your kind explanation.

Best regards,
Qingyu

2018-08-08 3:10 GMT+08:00 Alfred Sorten Wolf <notifications@github.com>:

[2018-08-13 08:36] iliTheFallen commented on #21444
Yes, indeed @klauscc .

Another problem is that this **batch_all_reduce** function somehow returns wrong batch size. I specify 5; but it returns 66 :S :) Well anyway. I think it should be a separate bug report.

[2018-08-13 08:44] fengyang0317 opened #21569 "tfgan.gan_train_ops is incompatible with DistibutionStrategy"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use com

[2018-08-13 08:57] AliceDinh opened #21570 "[TensorFlow Android Camera Demo] NOTHING DETECTED with SSD FPN model"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Window 10 64bit
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: Samsung Galaxy S7 Edge, RAM 4GB
- **TensorFlow installed from (source or binary)**: binary with

[2018-08-13 08:58] superbobry commented on #21492
@xiejw I thought about this more over a weekend and came up with another use-case for preemption: port reservation.

YARN does not manage the network on the containers, so in order to run TF on YARN one has to manually reserve a port on each of the allocated containers, communicate it to all other tasks to assemble a `ClusterSpec` and only then start the server. IIUC with the current API there is

[2018-08-13 09:00] vanpersie32 commented on #5252
@TomorrowIsAnOtherDay ,hi do you have any idea of average multigpu indexedslices?

[2018-08-13 09:29] jiarenyf commented on #20620
However, it came out with new problems as follow:

`Can't determine the device, constructing an allocator at device 0`

Why tensorflow so diffcult to use ...

[2018-08-13 09:34] tobegit3hub commented on #21238
Thanks @aselle . It is reasonable and we can the base64 op from exported model.

But we want to train the model once and deploy to Serving/Android/iOS. It would be great if all the running devices can load the same model signature without any modification.

[2018-08-13 09:36] az-ja commented on #20120
@qinyao-he
I had a similar problem which was solved by your tip. Thank you.

[2018-08-13 09:36] Valentin4869 opened #21571 "Custom CUDA op kernel launch dimensions"
Are there any kind of restrictions on the grid dimensions for custom op CUDA kernels?

Thanks

[2018-08-13 09:38] jnd77 commented on #21181
Hi !
I did run the code above with the nightly version '1.11.0-dev20180808', and I have the same exception.

[2018-08-13 09:39] kevinan1 commented on #12988
@andrewharp  @d4l3k Think you , I got symbols, but I can't use it.

    08-13 06:05:26.290 12497 12497 E AndroidRuntime: java.lang.UnsatisfiedLinkError: dlopen failed: library "bazel-out/android-armeabi-v7a-opt/bin/tensorflow/contrib/android/libtensorflow_inference.so" not found
    08-13 06:05:26.290 12497 12497 E AndroidRuntime: 	at java.lang.Runtime.loadLibrary0(Runtime.java:989)
    08-13 06:0

[2018-08-13 09:51] jiarenyf commented on #21487
I use tensorrt 3.0.4, and came out with the error:

`Can't determine the device, constructing an allocator at device 0`

I have try to add `with graph.device('gpu:0')` when building model, then error came up as:

`Non-OK-status: GpuIdManager::TfToCudaGpuId(tf_gpu_id, &cuda_gpu_id) status: Not found: TensorFlow device GPU:0 was not registered`

hopelessness ...

[2018-08-13 10:01] MohammadMoradi commented on #19384
@achraf-boussaada Thanks for your response. My CPU architecture is armeabi-v7a and I only made the areabi-v7a directory. But maybe I should build all of them. Not sure!

[2018-08-13 10:08] #21238 closed

[2018-08-13 10:56] kishore0905 commented on #21326
sorry for the late reply. The git version is "b'v1.9.0-rc2-1098-g89e06304aa'"

[2018-08-13 11:03] yashk2810 commented on #21326
The current nightly version is 1.11.xxx. You might wanna upgrade it again.

Or TF 1.10 is out so you can upgrade to that.

[2018-08-13 11:08] honeytidy opened #21572 "tf.estimator.train_and_evaluate got wrong Evaluation accuray and loss"
I use tf.estimator.train_and_evaluate to train and evaluate my model. This is my code:

[code]
The training step is ok and the loss became very small (about 0.001), but the evaluation result is wrong (the following is the evaluaiton log):

[code]
The task is very simple, just a binaray classfication. I don not think it is overfitting. Is there something wrong for my evaluation code?

[2018-08-13 11:14] Brolock opened #21573 "Question: Scatter_nd_op order of operations on GPU"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: Source
- **Te

[2018-08-13 12:16] wangsiyu commented on #20496
@yuefengz Thanks for your answer. I still have two questions. The first is that I found the ParameterServerStrategy for between-graph in contrib directory. Does it only support Async-SGD？Because there is no SyncReplicasOptimizer here.  Another is that multi-thread has been supported in DistributedStrategy. Does it for eager-mode？In my point of view, multi-thread can only speed up graph-constructio

[2018-08-13 12:55] Mykheievskyi opened #21574 "Tensorflow Lite, python API does not work"
### System information
- **TensorFlow version:  1.9.0**
- **Python version:  3.5**

### Describe the problem
I am try run TFlite model file with Python API (like in example:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/toco/g3doc/python_api.md), but I get an error:
**ImportError: /home/pi/.local/lib/python3.5/site-packages/tensorflow/contrib/lite/python/interpreter_

[2018-08-13 12:56] apacha commented on #21403
Thanks @Wuppus for clarifying this again (as I've note already above): The problem apparently is the `pywrap_tensorflow.RecursivelyCreateDir(compat.as_bytes(dirname), status)` command. The old path seemed ugly and not what it was intended to be, but it is not the cause of the problem.

Why wouldn't you use the Python standard `os.makedirs()` command anyway?

[2018-08-13 13:11] cvJie opened #21575 "the tensorflow-CPU version can support X86 in window??"
Now i want to compile tensorflow-CPU by cmake+vs2015 ,which is to get tensorflow.dll and tensorflow.lib，but now I can't sure tensorf-CPU can support X86 in window platform？
thanks

[2018-08-13 13:58] vikmary commented on #11904
This is the minimal fix of code by @zhedongzheng that makes parameters of attention mechanism shared for train and predict decoders:

[code]

To check sharing of trainable parameters execute the following code:
[code]

For the code above it will output:
[code]
 But without wrapping of `tf.contrib.seq2seq.LuongAttention` and `tf.contrib.seq2seq.BeamSearchDecoder` into variable scopes it outputs:
[c

[2018-08-13 14:40] malsulaimi commented on #21454
is there anyone looking at this ?

[2018-08-13 14:42] harishkool commented on #21575
I am guessing what you want to do
is to compile tensorflow from sources in Windows....Follow the below links:
https://joe-antognini.github.io/machine-learning/build-windows-tf
https://github.com/cjweeks/tensorflow-cmake
https://medium.com/@shiweili/building-tensorflow-c-shared-library-on-windows-e79c90e23e6e

If I am guessing wrong, please correct me..!!

[2018-08-13 14:43] ravwojdyla commented on #21284
hi @shivaniag,
Any update on this? Should I look deeper into this?

[2018-08-13 14:53] zacharymostowsky commented on #19583
Is @MartinAbilev 's answer the accepted one at this point? How did that work for you, Martin?

Thanks,
Zach

[2018-08-13 14:54] lydhr opened #21578 "Useless sampleRateList?"
In the Tensorflow Mobile Android simple speech recognition sample, why feed the inferenceInterface with a sampleRateList which seems useless? The sampleRateList is just initialized without meaningful values.

[Code line 311](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/src/org/tensorflow/demo/SpeechActivity.java#L311)

[2018-08-13 15:11] aaroey commented on #21487
I think this is because the device is not initialized when you call `trt.create_inference_graph()`. Are you running with TF r1.10? Could you retry by initializing a session before calling `trt.create_inference_graph()`?

Actually I think this should be fixed in master by #20318. Could you also help to tried with master?

Thanks.

[2018-08-13 16:08] aselle commented on #19267
@xsr-ai, could you verify that @suharshs' suggestions helped.

@lkfo415579 could you please open a new issue rather than posting on an existing one (it's difficult to track multiple conversations).

[2018-08-13 16:11] aselle commented on #15621
I apologize, but nobody is working on this, and since it is in contrib, it is not officially supported.

[2018-08-13 16:14] alextp commented on #21099
Right; so don't use optimizer.compute_gradients in a cond, use tf.gradients directly instead.

[2018-08-13 16:14] omalleyt12 commented on #21181
Hi @jnd77 that version is going to be just a little too old to have the fix, can you please upgrade to ```1.11.0.dev20180813``` and let me know if you still see the error?

[2018-08-13 16:28] allenlavoie commented on #10270
@ningyuwhut I'd suggest using the workaround @KashiErez mentioned for now if you don't care about deduplicating sparse gradients and want the previous behavior. This was a bug fix, so we can't just go back to the old behavior by default.

AFAIK nobody is working on a GPU kernel for UniqueOp, but that still seems like the resolution here if you're interested in taking the bug.

[2018-08-13 16:30] cushon commented on #19770
@meteorcloudy no, it doesn't look familiar. Is there a minimal repro?

[2018-08-13 17:13] ypatz commented on #21236
http://fashion-mnist.s3-website.eu-central-1.amazonaws.com/t10k-labels-idx1-ubyte.gz
http://fashion-mnist.s3-website.eu-central-1.amazonaws.com/t10k-images-idx3-ubyte.gz
Tensorflow 1.8 still wrong datasets.

[2018-08-13 17:31] ypatz commented on #21236
Yes, I use the same code.

[2018-08-13 17:45] asimshankar commented on #19770
I haven't seen this before.
Could there be an endianness assumption in the [singlejar tool](https://github.com/bazelbuild/bazel/tree/master/src/java_tools/singlejar) that is being violated on the s390x?

[2018-08-13 17:57] aselle commented on #21574
Could you provide more info:

What platform is this? Looks like a raspberry pi? What version? What board? What raspbian version?

[2018-08-13 17:58] aselle commented on #21548
I'm a little confused. The command you are running doesn't seem to match your title? Where is the second pb? What are you trying to accomplish. Thanks!

[2018-08-13 18:06] oxygenxo commented on #8785
pip uninstall tensorflow on Windows fails with the same error on my machines. There is no reason to close this issue.

[2018-08-13 18:11] martinwicke commented on #13895
Yes, I think your hunch is correct. You probably have to use `num_epochs=None` and set the appropriate amount of eval steps to stop evaluation.

[2018-08-13 18:33] pathakrohit08 opened #21581 "Cannot convert to TFRecords"
I have three text files `A.txt, B.txt,C.txt` the labels are `A,B and C`

    def convert(file_paths, labels, out_path):

        print("Converting: " + out_path)

        # Number of images. Used when printing the progress.
        num_files = len(file_paths)

        # Open a TFRecordWriter for the output-file.
       with tf.python_io.TFRecordWriter(out_path) as writer:

        # Iterate over a

[2018-08-13 18:36] amtagrwl commented on #21464
@karmel @tanzhenyu @nataliaponomareva Thanks for the update. Is GPU support for Boosted Trees in the roadmap? Will GPU training be supported in the next few months?

[2018-08-13 18:43] shashishekhar commented on #21245
@andrewginns : Quick update, I was able to reproduce the issue, I am working with @miaout17  to check if this is due to any alignment issues.

[2018-08-13 18:48] shashishekhar commented on #21247
@joonblue : Please reopen if you are still are facing this issues.

[2018-08-13 18:48] #21247 closed

[2018-08-13 19:05] mrry commented on #16052
Supporting partial shapes would make sense, and we'd welcome contributions to do that.

[2018-08-13 19:21] jkeller-miovision opened #21582 "Memory leak due to nsync::nsync_waiter_new_()?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04

- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**:
My own build from source as well as

[2018-08-13 19:48] DmitrySolntsev commented on #15401
I've got the same issue: AttributeError: module 'tensorflow.contrib' has no attribute 'lite'.
Tensorflow-gpu 1.10 installed from pip 18.0
Windows 10
Python 3.6.

[2018-08-13 19:57] zerok01 opened #21583 "python XML content control"
Below is a code snippet from the XML content that annotates the object tag and annotates it. Some XML files do not have an object tag. In this case it gives a keyError error. How can I pass such xml files without giving keyError

        annotation = read_xml(annotation_path)
        image = read_image(image_path)

        gt_boxes = []

        for b in annotation['object']:
            try:

[2018-08-13 19:58] asimshankar commented on #21312
@dhingratul : Unfortunately, this is not well documented. I can provide some pointers though:

- Python class that can generate a chrome trace format from `StepStats` is in https://github.com/tensorflow/tensorflow/blob/d4ad9c73969c45d1a224ebfc43eb645b9860216b/tensorflow/python/client/timeline.py#L346
- `Session::Run` in C++ fills in the `RunMetadata` proto if provided https://github.com/tensorflow

[2018-08-13 20:09] andrewginns commented on #21245
@shashishekhar Much appreciated

[2018-08-13 20:46] evcu opened #21584 "Possible memory leak?"
Hi I was looking into this. The fact that we are adding the loss to the total inside the gradient_tape would save all the previous iterations within the epoch. Am I wrong?

https://github.com/tensorflow/tensorflow/blob/2942555be63f2dbf557cdf7be2bcbd5d4e9d0daf/tensorflow/contrib/eager/python/examples/gan/mnist.py#L243

[2018-08-13 21:16] PHRABAL commented on #12974
FYI - I had a similar problem - adding ./ before the folder name fixed it.

[2018-08-13 21:38] alanhdu commented on #20600
@tatatodd I believe we are still having this problem (even with Tensorflow 1.10). Do you mind providing us any guidance on where to to start looking for the bug?

[2018-08-13 21:42] NylaWorker opened #21585 "Freezing a graph from a .pb file"
Hello!
This is not a bug or a feature request but I cannot find answers on stackoverflow and have tried multiple ways of fixing this. This is my stack-overflow question: https://stackoverflow.com/questions/51826706/tensorflow-load-a-pb-file-and-then-save-it-as-a-frozen-graph-issues
I went to the discussion forums and after finding some bugs in that code got redirected here.
This is the code that I

[2018-08-13 22:03] karmel commented on #21464
We anticipate not breaking on GPUs in the next few months, but not adding the ops to actually run on GPUs. Can you tell us a little bit more about how you are using the model? Data size and type? Contributions are welcome if you are interested.

[2018-08-13 22:18] amtagrwl commented on #21464
My data consists of around 200k data points with around 25 features each at this point. Right now, all the features are float32. In the future, I am hoping to train with 10s-100s million data points with over 100s of features with different types such as float32, one-hot vectors, and multi-hot vectors. The model uses a multi-target regression head. I am predicting 20 targets using a single model.

[2018-08-13 22:41] ispirmustafa commented on #13895
Hi @tavramov ,
Most probably it's not related to num_epoch.
Could you please create a simple script to reproduce this issue? Also do you mind to open a new issue?

[2018-08-13 22:43] drpngx commented on #16540
Following up on @mrry's idea, could we try maybe `np.random.rand(..).astype(np.float32)`?

[2018-08-13 22:47] nealwu commented on #21229
@hsgkim What did you mean by promoting to a Warning? The "Note:" provides special formatting to the text and displays it prominently in its own box, but I'm not aware of a Warning tag that does this.

[2018-08-13 22:54] YJonmo commented on #5777
I had the same problem after waking up the Ubuntu from sleep mode.
Solution for me was to kill the compiz.
Perhaps anything else which was left on before the sleep must be killed upon the wake up (as some others have also indicated on this issue).

[2018-08-13 22:54] asimshankar commented on #15706
(For tf-api-owners): The API addition is fine (presumably the PR will be updated to include GPU registrations as well?)

[2018-08-13 23:14] hsgkim commented on #21229
@nealwu Sorry, I meant a Caution like in [this page](https://www.tensorflow.org/guide/saved_model).

[2018-08-13 23:29] chrisranderson commented on #7843
@poxvoculi, looking through [configure.py](https://github.com/tensorflow/tensorflow/blob/c527d67d21f4b1d778ca92d3c3478c381aba5fd6/configure.py), these are the only variables I found:
[code]

The gist you linked to uses these:
[code]

Here's the diff:
![image](https://user-images.githubusercontent.com/5461398/44063593-672aaa4e-9f1e-11e8-8f24-1417ebaa1ddc.png)

There are some you include that are ex

[2018-08-13 23:29] michaelisard commented on #21515
OK I hadn't realized you are reinitializing the weights to new random values for each run correct? I think this is probably the expected behavior.

[2018-08-13 23:54] asimshankar commented on #16660
@jedakiah13 @tlf30 - could you try with 1.10.0?

[2018-08-14 00:02] av8ramit commented on #21518
Sent internally.

[2018-08-14 00:45] #16660 closed

[2018-08-14 00:56] JuiYang commented on #21548
sorry , it`s my fault. it should be one lite file and two outputs. for example,
 intput:  Tensor("input:0", shape=(1, 384, 384, 3), dtype=float32)
output:
Tensor("Depth/output:0", shape=(192, 192, 1), dtype=float32)
Tensor("Saliency/output:0", shape=(192, 192), dtype=float32)

thanks

[2018-08-14 01:34] prabhu1990 commented on #20444
Same issue here too.

[2018-08-14 01:39] xiaomochen520 commented on #16266
@tangtaozhanshen Hey, I have a mistake similar to yours. It reminds me that I don't have "CTCLoss". How do you solve your problem? About "RandomShuffleQueueV2"

[2018-08-14 01:52] scotthuang1989 opened #21587 "tf.keras: regularizer does not add to total losses"
I try to add l2 regularizer for tf.keras.layers.CuDNNLSTM,  here is my code for creating layers:

[code]
after I create my graph, I gather all the losses with
`tf.get_collection(tf.GraphKeys.LOSSES)`

but
**1. only  mse error is in the return list.
2. the initial losses is same as without regularizer even if I set regularizer co-efficient very big.**

Does someone know how to apply regularizer to

[2018-08-14 01:58] sxsxsx opened #21588 "./tensorflow/contrib/lite/build_rpi_lib.sh /bin/sh: 1: [[: not found make: arm-linux-gnueabihf-: Command not found"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:  NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Linux Ubuntu 16.04 64bit
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:  NO devices
- **TensorFlow installed from (source or binary)**:  pip install tenso

[2018-08-14 01:59] EdwardLin2014 commented on #21515
? FYI, based on my code, I did NOT randomizes the initial value of the weights. I make them all constant with tf.constant().

Because of the non-deterministic nature of GPU ops, now I know it is the tf.nn.conv2d() cause optimizer.compute_gradients() to compute random gradients.

By the way, is it possible that, in the tensorflow doc, to list out which tensorflow API/ops are
1. non-deterministic/de

[2018-08-14 02:34] tavramov opened #21590 "All metrics evaluate to 0.0 when using tf.contrib.estimator.InMemoryEvaluatorHook"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Slight modification to cnn_mnist.py to include `InMemoryEvaluatorHook` . Original code can be found here [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/tutorials/layers/cnn_mnist.py)
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)

[2018-08-14 02:35] jnd77 commented on #21181
Unfortunately I have a Mac, and the latest version is still 1.11.0-dev20180808. Let me get back to you when a newer Mac version is available ...

[2018-08-14 02:38] tavramov commented on #13895
Issue can be easily reproduced. I just inserted `InMemoryEvaluatorHook` to cnn_mnist.py
Also submitted Issue #[21590](https://github.com/tensorflow/tensorflow/issues/21590)
Thanks

[2018-08-14 02:56] xiaomochen520 opened #21591 "How to solve No OpKernel was registered to support Op 'CTCLoss'"
Now I put the trained model on the android device, suggesting that there is no "No OpKernel was registered to support Op 'CTCLoss' with these attrs." How can I get him support Op 'CTCLoss'
My PC is Ubuntu 16.04 and AndroidStudio is 3.0.
Tensotflow is 1.6

-------------------------------------------------- ----------------------------
The error message is as follows:

08-14 10:43:30.332 11166-11166

[2018-08-14 03:01] formigone commented on #19062
Am I  understanding this right? Suppose my input_fn returns a `tf.data.TextLineDataset(filename).map (lamda line: tf.decode_csv(line))` that references a csv with, say, 1,000,000 lines, and it shuffles with `dataset.shuffle(buffer_size=256)`. If the evaluation runs after a few hundred steps of training, when training resumes, will the input_fn used in training start reading thr cvs from where it l

[2018-08-14 03:12] #21578 closed

[2018-08-14 03:14] lydhr commented on #21578
It's one of the two input nodes?

[2018-08-14 03:18] david456314 opened #21592 "TF lite can build & run on Linux?"
As the title says, is tf lite can be built and ran on non-mobile environment, such as Linux or others:

[2018-08-14 03:56] jiarenyf opened #21594 "memory_layer bug"
In Tensorflow 1.10, the following lines conflict, since `None` has no attribute `dtype`.

https://github.com/tensorflow/tensorflow/blob/5326a7fb028d6a66286e9e929dc9454c12e81522/tensorflow/contrib/seq2seq/python/ops/attention_wrapper.py#L176

https://github.com/tensorflow/tensorflow/blob/5326a7fb028d6a66286e9e929dc9454c12e81522/tensorflow/contrib/seq2seq/python/ops/attention_wrapper.py#L198

https:

[2018-08-14 03:58] koy14400 commented on #21431
I think you forgot change nativeBuildSystem to none.

3. Open the build.gradle file (you can go to 1:Project in the side panel and find it under the Gradle Scripts zippy under Android). Look for the nativeBuildSystem variable and set it to none if it isn't already:

// set to 'bazel', 'cmake', 'makefile', 'none'
def nativeBuildSystem = 'none'

[2018-08-14 04:01] raninbowlalala commented on #20955
@jdduke Hi, I download the new code to convert deeplabv3_mnv2 model, and I got error message as blow:
`Array MobilenetV2/Conv/Relu6, which is an input to the DepthwiseConv operator producing the output array MobilenetV2/expanded_conv/depthwise/Relu6, is lacking min/max data, which is necessary for quantization. If accuracy matters, either target a non-quantized output format, or run quantized trai

[2018-08-14 04:04] hsgkim commented on #21229
I made a PR regarding this too if you guys think it's appropriate to change the Note to something more serious (a Caution in this case). Thanks!

[2018-08-14 04:07] huangxuwei opened #21596 "TFLite：How to generate partial quantized model"
I only found the way to generate fully quantized model.
https://www.tensorflow.org/performance/quantization

But for high accuracy, maybe we should retrain the network by adding fake quantization for the front part and keeping the last part unchanged. Finally we'd like to generate such partial quantized TFLITE model for mobile application.
Is there any tool to implement except merging two separate

[2018-08-14 04:29] PatWie commented on #7843
You need to set these

https://github.com/tensorflow/tensorflow/blob/master/configure.py#L1462-L1483

And additionally

https://github.com/tensorflow/tensorflow/blob/master/configure.py#L872
https://github.com/tensorflow/tensorflow/blob/master/configure.py#L883
...

There even some new variables like [`TF_NEED_KAFKA`](
https://github.com/tensorflow/tensorflow/blob/master/configure.py#L1466) which

[2018-08-14 04:41] PatWie commented on #21571
These are standard CUDA kernels, hence normal CUDA restrictions apply:
https://developer.download.nvidia.com/compute/cuda/CUDA_Occupancy_calculator.xls

And Table H.1
https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#features-and-technical-specifications

[2018-08-14 05:21] timekarma opened #21597 "In Tensorflow 1.10 Keras models with datasets not working, gives TypeError: Input 'y' of 'Mul' Op has type float32 that does not match type float64 of argument 'x'"
Please go to Stack Overflow for help and support:
https://stackoverflow.com/questions/tagged/tensorflow
If you open a GitHub issue, here is our policy:
1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/te

[2018-08-14 05:30] asimshankar commented on #21524
@av8ramit : Where are the nightly pip wheels stored? Can we use the same location? (Or if not, can we carve out a nightly directory in storage.googleapis.com?)

[2018-08-14 05:35] asimshankar commented on #21584
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-08-14 05:35] #21584 closed

[2018-08-14 05:39] Cibifang commented on #19378
I checked the code and maybe found the reason.

This is because Env::MatchPath (What the tf.gfile.Glob will last use) has different behavior on Windows and Linux.
There is a related issue which was already closed
[#15501](https://github.com/tensorflow/tensorflow/issues/15501)

Maybe @snnn and @jart will have some suggestions?

[2018-08-14 05:45] asimshankar commented on #21404
@sanketloke : Sure thing, looking forward to it.

[2018-08-14 05:56] facaiy commented on #16052
OK, I'll look into it later.

[2018-08-14 06:01] kishore0905 commented on #21326
windows 10 Gpu congfiguration:

tensorflow(GPU) version: 1.10.0

git version:  b'v1.10.0-rc1-19-g656e7a2b34

![tensorflow_issue gpu](https://user-images.githubusercontent.com/37259213/44074259-8f69c656-9fb5-11e8-9209-59224315971c.png)

Ubuntu CPU configuration:

tensorflow(CPU) version: 1.10.0

git version:   v1.10.0-0-g656e7a2b34

![tf_issue cpu](https://user-images.githubusercontent.com/37259213

[2018-08-14 06:04] junqiangchen commented on #21358
Yeah,i do another experiment that is running the python script with CUDA_VISIBLE_DEVICES is 0 and 1,at same time also running the nvidia-smi commend.There are different results between nvidia-smi and tensorflow's device_lib.I set CUDA_VISIBLE_DEVICES  is 1,and nvidia-smi also show the GPU1 is working,but tensorflow show the GPU0 is working,maybe there is a bug.
![2](https://user-images.githubuserc

[2018-08-14 06:26] facaiy commented on #15706
@asimshankar Thanks. How about adding GPU kernel later?

[2018-08-14 06:28] WenguoLi commented on #21478
I have the same problem with the "optimize_for_inference"  and " quantize_graph" scripts in TF 1.8 / 1.9

[2018-08-14 06:39] asimshankar commented on #20517
@bstriner has volunteered to update #21202 which will take us one step further. But it seems that we'll need to wait for a protobuf release with support for Python 3.7 and then update TensorFlow dependencies to use that new protobuf version.

[2018-08-14 06:44] wagenrace opened #21598 "Dilation of keras.Conv2DTranspose does not do anything"
### Describe the problem
Well using tf.keras.Conv2DTranspose I noticed the dilation function did not dilate. No matter what size of dilation you choose the result is the same.

I did found the problem in keras as well but I did not now if I should report it here too: https://github.com/keras-team/keras/issues/8159

### System information
- **Have I written custom code (as opposed to using a stock

[2018-08-14 06:48] gsutanto commented on #12071
Hi @yaroslavvb ,
Here's the problem:
[code]
It will give output:

Using your suggestion:
[code]
I still get:

So here's my simple modification that seems to work (just by adding a small epsilon to the gradient's denominator):
[code]
This will gives:

[2018-08-14 06:48] mstritt commented on #16660
@av8ramit thanks a lot for your work!
I can see the windows-x86_64\tensorflow_jni.dll in libtensorflow_jni-1.10.0-rc1.jar but not in libtensorflow_jni_gpu-1.10.0-rc1.jar.
Should the lib jni_gpu include a native win lib as well?
Currently gpu for win does not work for me referencing both libs via Maven.

[2018-08-14 06:48] #21571 closed

[2018-08-14 07:07] asimshankar commented on #16660
@mstritt - Please try version [1.10.0](https://search.maven.org/artifact/org.tensorflow/libtensorflow_jni_gpu/1.10.0/jar), not 1.10.0-rc1 :)

[2018-08-14 07:09] michetonu commented on #17945
Same problem here with Keras 2.2.x and Tensorflow 1.9.0, definitely due to the Conv1D layer.

[2018-08-14 07:12] iteachmachines commented on #21575
Yes it does support in x86 platform in windows.

[2018-08-14 07:26] cvJie commented on #21575
thanks.
if compile tensorflow from sources in windows , and it can support  win-x86??  No 64

[2018-08-14 07:31] githubgsq opened #21599 "how to remove nodes from restored graph?"
hi, all:
   I restored a graph from a meta file.
[code]

how could I delete some nodes from the default graph? The nodes can be accessed by get_tensor_by_name(). and could I reuse the trained weights please?
    Thanks!

[2018-08-14 07:37] MartinAbilev commented on #19583
no i after installed `path` for windows   just not rnember how exactly ... :/

http://gnuwin32.sourceforge.net/packages/patch.htm

or maybe

[code]

[2018-08-14 07:39] freedomtan commented on #21574
I ran into the same problem w/ either Python 2.7 or 3.5 on RPI 3 B running latest Raspbian. See my coment https://github.com/tensorflow/tensorflow/pull/21109#issuecomment-412413091

[2018-08-14 07:56] darthdeus commented on #12345
Just as a small note regarding MonkeyType, it does work quite well. The only "problem" I encountered so far was when you're various tuples as `Iterable[T]` (don't ask me why), but it infers `Union[Tuple[T], Tuple[T, T], ...]`.

[2018-08-14 07:56] sxsxsx commented on #21588
I  modified the tensorflow/contrib/lite/Makefile
from CXX := $(CC_PREFIX) ${TARGET_TOOLCHAIN_PREFIX}g++
to CXX := $(CC_PREFIX)${TARGET_TOOLCHAIN_PREFIX}g++
so  it can successfully build the code, but new problems occurred:

icare@icare-5F:tensorflow$ ./tensorflow/contrib/lite/build_rpi_lib.sh
+ set -e
+++ dirname ./tensorflow/contrib/lite/build_rpi_lib.sh
++ cd ./tensorflow/contrib/lite
++ pwd
+ S

[2018-08-14 08:11] iteachmachines commented on #21575
Yes it might support on x64-win too.Altough not much sure about it.

[2018-08-14 08:16] alapha23 opened #21600 "CUDA unified memory fail to increase on demand in r1.10 on PPC64le"
### Description

Based on the commit to [introduce an option to allocate CUDA unified memory](https://github.com/tensorflow/tensorflow/commit/b1139814f91c5216eb5ff229ee7e1982e5f4e888?diff=split), theoretically we could expect a memory swap between CPU and GPU while running datasets with high memory demands.

However, my tensorflow build still hits OOM.
I was training [official resnet with cifar10

[2018-08-14 08:18] alapha23 commented on #21600
@smit-hinsu
Thank you for the commit [ introduce an option to allocate CUDA unified memory](https://github.com/tensorflow/tensorflow/commit/b1139814f91c5216eb5ff229ee7e1982e5f4e888?diff=split)!

Could you possibly suggest a reason?
Thank you in advance!

[2018-08-14 08:19] cvJie commented on #21575
thanks

[2018-08-14 08:31] asimshankar commented on #20116
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-08-14 08:31] #20116 closed

[2018-08-14 08:31] asimshankar commented on #18971
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-08-14 08:31] #18971 closed

[2018-08-14 08:37] wei-v-wang commented on #17945
thanks @michetonu for the update. I will check v1.10 and also our internal version and see where the fix is going to land, I am guessing v1.11.

[2018-08-14 08:47] mstritt commented on #16660
@asimshankar , thanks for the hint, indeet it's included there.
Unfortunately I get a dependency missing error now (see log).
msvcp140.dll is available, but I have cudbb64_6.dll. Do I have to upgrade to cudnn 7 ?

[code]

[2018-08-14 08:52] carlaucho commented on #17945
By removing mkl and everything that depends on it (should be handled by conda) and installing nomkl instead, I could prevent the error from occuring. I am not sure about any performance consequences since my dataset is rather small.

[2018-08-14 08:59] asimshankar commented on #16660
I think so, see https://www.tensorflow.org/install/install_windows#requirements_to_run_tensorflow_with_gpu_support

[2018-08-14 09:26] duane-ibm commented on #16540
I tried the below:
[code]
The same issue still exists.

[2018-08-14 09:29] prasanna532 commented on #9412
I am having some issue camera is opening only 70% to the screen Remaining 30% of the screen is black. Any suggestion or solution how to fix that?

[2018-08-14 09:31] mstritt commented on #16660
ok, works like a charm with cuda9+cudnn7. Thanks a lot for this!

[2018-08-14 09:34] prasanna532 commented on #21447
Please see the screenshot below

![screenshot_20180814-150028](https://user-images.githubusercontent.com/25867821/44084022-38a6fd52-9fd3-11e8-8ff2-089f572f0064.jpg)

[2018-08-14 09:35] prasanna532 commented on #21447
Black screen is appearing like in the image.

[2018-08-14 09:37] MounirB commented on #20414
I will be back on my computer on Thursday, If will tell you by then If I still encounter the issue

[2018-08-14 10:13] leandro-gracia-gil opened #21601 "Enqueuing tensors by value with tf.add no longer works on 1.10"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes (see snippet below)
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: source
- **Tensor

[2018-08-14 10:24] alokranjan007 opened #21602 "Android build failed using custom tensorflow model. Conflict workspace Error"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
   Yes, I have modified no. of classes to be detect while training the model
- **OS Platform and Distribution: 14.04 LTS
- **Mobile device if the issue happens on mobile device**: Motoroloa, Android version 7.1.1
- **TensorFlow installed from (sourc

[2018-08-14 11:13] #21355 closed

[2018-08-14 11:47] yashk2810 commented on #21326
Can you share your code for checkpointing and restoring the weights.

Also, the code for this example has been updated to checkpoint the variables of the model. Can you please try that code and tell us if the error still persists?

[2018-08-14 12:34] Plutoberth commented on #5632
I'm sorry about opening this so long after it was closed, but although this feature is implemented with tf.contrib.image.transform, that function does not allow gradients to backpropagate through it. So I'd call it a partial implementation.

[2018-08-14 12:53] vinoth-am commented on #18974
Use like this  **pip install <package-name> --user**

[2018-08-14 12:55] vinoth-am commented on #18974
Use like this **pip install packagename --user**

[2018-08-14 13:26] chenbiaolong commented on #20273
@melgor  which version of tensorflow you use in your scrip?

[2018-08-14 13:30] superbobry opened #21603 "Default device_filters are only set if session_config is None"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: N/A
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**:

[2018-08-14 13:38] LJXLJXLJX commented on #19893
Hello
Have you solved this problem?
I meet the same

[2018-08-14 13:49] MounirB commented on #20414
I'll be back at my office on Thursday, I'll retry it at that moment !

[2018-08-14 13:50] PinkySan commented on #21409
I totally understand that it is pretty hard to make a stable C++  ABI and API.
What about clearly announcing, that the C++ binaries are not a stable C++ ABI. But at least providing the binaries would help.

Even after building a tensorflow application in C++ (which takes a lot of effort due to lack of c++ examples and tutorials), it is not possible to save the model and its variables into a SavedM

[2018-08-14 13:53] PinkySan commented on #18296
Providing the binaries would help with this problem (#21409 )

[2018-08-14 13:58] lasuomela commented on #6720
Are there any plans for fixing this issue? This seems to prevent a raw-image statistics pipeline I'm building from learning correctly.

[2018-08-14 14:01] gaojingwen945 commented on #15122
@andrehentz Sadly the approach you provided in the former comment does not work for me here...
I retrained my mobilenet_v1_1.0_224_quantized model, and then running with the following command, and it still reports the same error message as posted in the original question. It IS driving me crazy. Do you have any other ideas about this?
Here's my toco command, where retrained_graph.pb is my retraine

[2018-08-14 14:04] mietzen commented on #21409
@PinkySan Sound like a good solution

[2018-08-14 14:04] MrWanter opened #21604 "how to automatically restart worker/master after occasional crash"
HI! I'm running distributed training of tensorflow, I have a very simple question, does TF provide some feature for monitor and automatically restart crashed worker/master all all training process, as currently I can only manually restart failed worker.

[2018-08-14 14:14] lukeiwanski commented on #21573
@drpngx could you help us to find the best person to talk to about this?

[2018-08-14 14:27] meteorcloudy commented on #19893
@LJXLJXLJX We'll soon publish a documentation for Windows Bazel build, people can then build TensorFlow following that instruction.

[2018-08-14 14:42] LJXLJXLJX commented on #19893
@meteorcloudy Thank you , that's wonderful ! This is driving me crazy 😵

[2018-08-14 14:44] akhilkatpally opened #21605 "Mirroed strategy"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-08-14 14:50] meteorcloudy commented on #19893
@LJXLJXLJX If you're interested, I have a preview of the doc here you can try:
https://gist.github.com/meteorcloudy/8e5f1aab7c7fa87b16ae28e6f8fd3fd2

I'll be glad to hear some feedback. ;)

[2018-08-14 14:58] christiaanleysen commented on #20444
Sam issue here. Such a shame because I want to use it in cloud functions of GCP, which only supports 3.7 ATM...

[2018-08-14 15:25] 6781287 commented on #18736
@guoyaohua
我也遇到了类似问题。不过是自己搭的网络：用的是tf.layers，tf.float32 网络深度150多层，但freeze了前100+层，只train最后21层，优化器是GradientDescentOptimizer，一运行train就卡死，被这个问题困扰了很久了。网上有用tf.keras构建类似深度卷积层，我试过可以正常训练。

[2018-08-14 16:05] anj-s commented on #21389
The fix has been checked in. lgeiger@ Can you try running your code again and see if you run into issues?
Thanks!

[2018-08-14 16:07] ccolby commented on #20524
To add a little more to this explanation, it would have been possible (but difficult) to fix the tf.while_loop bug with a more localized change that would have affected only tf.while_loop. But we considered the change to disallow integer gradients to be more principled. So in addition to fixing the tf.while_loop bug, this makes TensorFlow's treatment of gradients more consistent.

First of all, be

[2018-08-14 16:14] ahsankabir18 opened #21609 "Tensorflow profiling data for every layers of CNN"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-08-14 16:38] drpngx commented on #21573
@ekelsen any opinion on this perhaps?

[2018-08-14 16:42] #21472 closed

[2018-08-14 16:44] av8ramit commented on #21524
@asimshankar nightly pip whls are stored on pypi which I don't think is feasible. Does storage.googleapis.com work?

[2018-08-14 16:56] av8ramit commented on #16660
No problem @mstritt !

[2018-08-14 17:01] xiejw commented on #21492
@karmel do we have any expert for YARN? I do not understand that environment, so it is very hard for me to give best suggestions here.

@superbobry As I mentioned above, I do not understand YARN. So, my suggestions could be wrong or sub-optimal. The minimal knowledge each training job should know is

1. The port itself uses
2. The ports used by PS

The ports of other workers are optional. You stil

[2018-08-14 17:26] dhingratul commented on #17257
initialize_or_restore doesn't work for me, I am at v1.8.0-0-g93bc2e2072

[2018-08-14 17:35] allenlavoie commented on #17257
@dhingratul are you looking for the behavior in https://github.com/tensorflow/tensorflow/commit/eb31cf8a62739d4df4c84b8edeccbe756b70616d#diff-dbbfcd46840cb910643decf863dc00a6 ?

Looks like that first appeared in 1.9. Could you try upgrading and see if the new behavior works for you?

[2018-08-14 18:09] joba01 commented on #20073
Same for me, tf.keras models saved and loaded fine, when I added
a reshape layer they still saved but I can't load them anymore.

Model:
`model.add(tf.keras.layers.Reshape([76832]))`

Of course this is just flattening the input and someone can argue that tf.keras.layers.Flatten() does the same thing, but this is just needed because of a TensorRT Bug so reshape is my only option here.

Hope that so

[2018-08-14 18:33] #21412 closed

[2018-08-14 19:12] geandwor opened #21612 "conv2d support for bfloat16"
As in the reference for r1.8.0 of tensorflow, the tf.nn.conv2d support bfloat16, but actually when run conv2d with bfloat16 format, got error:
No OpKernel was registered to support Op 'Conv2D' with these attrs.  Registered devices: [CPU,GPU], Registered kernels:
  device='GPU'; T in [DT_DOUBLE]
  device='GPU'; T in [DT_FLOAT]
  device='GPU'; T in [DT_HALF]
  device='CPU'; T in [DT_DOUBLE]
  device

[2018-08-14 19:21] JACKHAHA363 opened #21613 "Implement a Transformer class compatible with seq2seq library"
The current implementation from tensor2tensor is not compatible to the seq2seq library. Another possible implementation in openNMT also write the helper function like `dynamic_decode` itself. This is an attempt to try to add Transformer to have the same interface as `RNNCell` so that it can be more easily used.

Have I written custom code: N/A
OS Platform and Distribution: N/A
TensorFlow installed

[2018-08-14 19:37] guptapriya commented on #21180
This should be fixed in master now

[2018-08-14 19:37] #21180 closed

[2018-08-14 19:37] guptapriya commented on #21412
This should be fixed in master now

[2018-08-14 19:45] #18452 closed

[2018-08-14 19:45] #18720 closed

[2018-08-14 19:45] #19908 closed

[2018-08-14 19:45] gargn commented on #21592
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-08-14 19:46] tensorflowbutler commented on #21530
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
Mobile device

[2018-08-14 19:46] tensorflowbutler commented on #21538
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-14 19:46] tensorflowbutler commented on #21542
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-14 19:46] tensorflowbutler commented on #1325
Nagging Assignee @sherrym: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:46] tensorflowbutler commented on #6034
Nagging Assignee @ebrevdo: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:46] tensorflowbutler commented on #10520
Nagging Assignee @fchollet: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:46] tensorflowbutler commented on #11070
Nagging Assignee @zheng-xq: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:46] tensorflowbutler commented on #12293
Nagging Assignee @mjanusz: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:46] tensorflowbutler commented on #14452
Nagging Assignee @petewarden: It has been 135 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:47] tensorflowbutler commented on #15463
Nagging Assignee @ekelsen: It has been 89 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:47] tensorflowbutler commented on #15818
Nagging Assignee @derekjchow: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:47] tensorflowbutler commented on #16363
Nagging Assignee @ysuematsu: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:47] tensorflowbutler commented on #17739
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-14 19:47] tensorflowbutler commented on #18213
Nagging Assignee @shivaniag: It has been 57 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:47] tensorflowbutler commented on #18317
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:47] tensorflowbutler commented on #18323
Nagging Assignee @fchollet: It has been 61 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:48] tensorflowbutler commented on #18326
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-14 19:48] tensorflowbutler commented on #18452
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-08-14 19:48] tensorflowbutler commented on #18459
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-14 19:48] tensorflowbutler commented on #18537
Nagging Assignee @zheng-xq: It has been 105 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:48] tensorflowbutler commented on #18720
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-08-14 19:48] tensorflowbutler commented on #18874
Nagging Assignee @zffchen78: It has been 104 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:48] tensorflowbutler commented on #18901
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:48] tensorflowbutler commented on #19119
Nagging Assignee @mrry: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:48] tensorflowbutler commented on #19168
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:48] tensorflowbutler commented on #19241
Nagging Assignee @anj-s: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:48] tensorflowbutler commented on #19380
Nagging Assignee @robieta: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:48] tensorflowbutler commented on #19420
Nagging Assignee @jart: It has been 78 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:48] tensorflowbutler commented on #19421
Nagging Assignee @tatatodd: It has been 75 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:49] tensorflowbutler commented on #19476
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-14 19:49] tensorflowbutler commented on #19478
Nagging Assignee @shivaniag: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:49] tensorflowbutler commented on #19587
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-14 19:49] tensorflowbutler commented on #19626
Nagging Assignee @rohan100jain: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:49] tensorflowbutler commented on #19739
Nagging Assignee @MarkDaoust: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:49] tensorflowbutler commented on #19832
Nagging Assignees @sguada, @ebrevdo: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:49] tensorflowbutler commented on #19908
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-08-14 19:49] tensorflowbutler commented on #19949
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:49] tensorflowbutler commented on #19965
Nagging Assignee @sguada: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:49] tensorflowbutler commented on #19971
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-14 19:49] tensorflowbutler commented on #20050
Nagging Assignee @MarkDaoust: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:49] tensorflowbutler commented on #20109
Nagging Assignee @ispirmustafa: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:49] tensorflowbutler commented on #20110
Nagging Assignee @andrehentz: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:50] tensorflowbutler commented on #20343
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-14 19:50] tensorflowbutler commented on #20353
Nagging Assignee @suharshs: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:50] tensorflowbutler commented on #20369
Nagging Assignee @zheng-xq: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:50] tensorflowbutler commented on #20392
Nagging Assignee @jart: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:50] tensorflowbutler commented on #20403
Nagging Assignee @suharshs: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:50] tensorflowbutler commented on #20435
Nagging Assignee @MarkDaoust: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:50] tensorflowbutler commented on #20441
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-14 19:50] tensorflowbutler commented on #20555
Nagging Assignee @jart: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:50] tensorflowbutler commented on #20557
Nagging Assignee @tatatodd: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:50] tensorflowbutler commented on #20606
Nagging Assignees @jart, @nfelt: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:50] tensorflowbutler commented on #20644
Nagging Assignee @jart: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:50] tensorflowbutler commented on #20658
It has been 30 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-14 19:51] tensorflowbutler commented on #20662
Nagging Assignee @asimshankar: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:51] tensorflowbutler commented on #20680
Nagging Assignee @robieta: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:51] tensorflowbutler commented on #20683
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-14 19:51] tensorflowbutler commented on #20689
Nagging Assignee @tatatodd: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:51] tensorflowbutler commented on #20881
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:51] tensorflowbutler commented on #20905
Nagging Assignee @jdduke: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:51] tensorflowbutler commented on #21091
Nagging Assignee @poxvoculi: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:51] tensorflowbutler commented on #21095
Nagging Assignee @MarkDaoust: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:51] tensorflowbutler commented on #21103
Nagging Assignee @robieta: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:51] tensorflowbutler commented on #21112
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:51] tensorflowbutler commented on #21136
Nagging Assignee @rmlarsen: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-14 19:51] tensorflowbutler commented on #21157
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-14 19:52] tensorflowbutler commented on #21158
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-14 19:52] tensorflowbutler commented on #21166
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-14 19:54] jmchen-g opened #21614 "Keras to estimator errors for RNNs"
It seems like a bug that the following model results in the following assert:

The model (simplified from seq2seq):
[code]
The assert we are hitting in TF 1.10:
[code]

Here is the result of the environment capture script:
https://github.com/tensorflow/tensorflow/tree/master/tools/tf_env_collect.sh
== cat /etc/issue ===============================================
Linux 97ddc7134519 4.9.93-linuxkit

[2018-08-14 19:59] reedwm commented on #18213
Currently working on explicit padding, which is a prerequisite to adding a new padding mode.

[2018-08-14 20:00] dzier commented on #20597
@asimshankar or @jart , would either of you be able to answer @cvinson830's questions above. Currently, this issue is blocking us from using the suggested NodeExecStats.

[2018-08-14 20:26] martinwicke commented on #20109
Please check your linker settings. You may not be including libstdc++ properly.

I don't think this is an issue with TensorFlow (apart from the fact that compiling custom ops should be simpler).

[2018-08-14 20:26] #20109 closed

[2018-08-14 20:31] tlf30 commented on #16660
@asimshankar my team and I will check it out, thank you.

[2018-08-14 20:33] chelseas commented on #582
I'm still having a similar issue, I believe. I tried @raingo 's solution but get this error now: google.protobuf.message.DecodeError: Truncated message.

[2018-08-14 20:42] allenlavoie commented on #21156
@sleighsoft max_to_keep should now be addressed with https://github.com/tensorflow/tensorflow/commit/7a81491366afb444efb914b93594a11fdfc19896

Usage example from the docstring:
[code]

[2018-08-14 20:44] jdduke commented on #20905
A preview of what the shared library looks like is the new [:litbensorflowlite_c.so](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/experimental/c/BUILD#L13) target. We'll be adding an analogous target with C++ bindings in the near future.

[2018-08-14 20:51] lamsalab opened #21615 "Fine tuning a model by building a Scaffold in Mirrored Strategy is not supported"
### System information
Have I written custom code: Yes
OS Platform and Distribution: Linux Ubuntu 18.04
Mobile device: N/A
TensorFlow installed from: source
TensorFlow version: ('v1.9.0-rc2-2165-g7b80190d52', '1.10.0-rc1')
Python version: 2.7
Bazel version: 0.15.2
GCC/Compiler version: gcc version 6.4.0 20180424
CUDA/cuDNN version: 9.1 / 7.1
GPU model and memory: K80,  12GB
Exact command to reprod

[2018-08-14 20:59] jdduke commented on #21602
Can you provide more details about the crash? Would you mind capturing the logcat entry for the crash? Or capturing and attaching a bug report?

[2018-08-14 21:11] elmer-garduno commented on #17852
As someone mentioned above, this got solved for me by using a larger memory instance, I changed from

 "masterType": "complex_model_m",
to
 "masterType": "large_model",

[2018-08-14 21:16] ispirmustafa commented on #19062
@formigone your statement is correct. train input_fn will not be impacted by eval. this is the case for tf.version>=1.9

[2018-08-14 21:28] asimshankar commented on #20597
Sorry, somehow missed @cvinson830 's update.

The GraphDef protobuf describes the computation, it does not contain any runtime statistics.
NodeExecStats is filled in when tracing is turned on in a call to `Session::Run` and includes a bunch of information about the execution of the node. NodeExecStats for each node of the graph that was executed in the `Session::Run` call is included in the StepSt

[2018-08-14 21:42] ashwaniag commented on #15633
@achowdhery I trained my model using tensorflow v1.9. Converted to tflite using the steps in the blog. I do not get any detections. Do you have any idea about this?

[2018-08-14 22:05] rjpower commented on #21317
`bfloat16` support isn't complete for GPUs, as it's not supported natively by the devices.

For performance you'll want to use float32 or float16 for GPU execution (though float16 can be difficult to train models with).  TPUs support bfloat16 for effectively all operations (but you currently have to migrate your model to work on the TPU).

[2018-08-14 22:05] TimZaman commented on #9180
Any progress, @suiyuan2009 ?

[2018-08-14 22:09] RobertoFranceschini commented on #17022
what version of tensorflow is this link? 0.12?

[2018-08-14 22:10] achowdhery commented on #15633
@ashwaniag COCO or pets? Please open a new bug with exact repro instructions. Other GitHub users have confirmed its working with Tensorflow 1.10

[2018-08-14 22:17] ashwaniag commented on #15633
@achowdhery It is my own dataset. I trained for mobilenetv2 architecture. When I run the .pb model (tensorflow model), I get
Not found: Op type not registered 'NonMaxSuppressionV3' in binary running on VAL5-04. Make sure the Op and Kernel are registered in the binary running in this process.

Do you think its related?

[2018-08-14 22:28] achowdhery commented on #15633
@ashwaniag Please open a new bug and provide exact reproducible instructions

[2018-08-14 22:37] av8ramit commented on #21518
This issue has now been fixed.

[2018-08-14 22:45] davidBelanger commented on #21136
Sorry for the delay. I'm just returning from paternity leave. I can address
this issue some time in the next few days.

On Tue, Aug 14, 2018 at 3:58 PM, Alfred Sorten Wolf <
notifications@github.com> wrote:

[2018-08-14 23:01] jimenisimo opened #21617 "Error trying to convert from saved model to tflite"
### System information
- **OS Platform and Distribution: Linux Ubuntu 16.04**:
- **TensorFlow installed from source**:
- **TensorFlow version 1.10**:
- **Python version 3.6**:
- **Bazel version Build label: 0.16.0**:

While trying to convert a saved model to tflite file I get the following error:

F tensorflow/contrib/lite/toco/tflite/export.cc:363] Some of the operators in the model are not suppo

[2018-08-14 23:16] achraf-boussaada commented on #15633
@ashwaniag check these both issues, i had a similar problem : [#10254](https://github.com/tensorflow/tensorflow/issues/10254) and [#19854](https://github.com/tensorflow/tensorflow/issues/19854)

[2018-08-14 23:16] jimenisimo opened #21618 "AttributeError: module 'tensorflow.contrib.lite.python.convert_saved_model' has no attribute 'convert'"
### System information
- **OS Platform and Distribution: Linux Ubuntu 16.04**:
- **TensorFlow installed from source**:
- **TensorFlow version 1.10**:
- **Python version 3.6**:
- **Bazel version Build label: 0.16.0**:
- **Exact command to reproduce: convert_saved_model.convert(saved_model_dir=saved_model, output_tflite="/TF_Lite_Model")**:

I am trying to convert my premade DNN Model to tflite file

[2018-08-14 23:28] TimZaman commented on #9180
Here's a workaround so pyfunc accepts nested structures, feel free to make an MR so it ends up in the codebase:

[code]

[2018-08-14 23:44] asimshankar commented on #21599
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-08-14 23:44] #21599 closed

[2018-08-15 01:07] samikama commented on #21528
@gunan,
I believe issue there is different. Reporter there is trying to use gcc avx intrinsics in .cu files. passing -Xcompiler "-mavx" should be perfectly fine. Besides, the wrapper actually would pass -mavx (or any -mxxx) flag to compiler but would not pass -march=sandybridge which would also enable same flags.

[2018-08-15 01:27] hzxie commented on #20517
@rharish101
If you are using Arch Linux, you can install Tensorflow with `pacman-S python-tensorflow`.

[2018-08-15 01:29] KonnorTimmons1297 commented on #17022
Trying to install the Tensorflow API through pip in a virtual environment results in this:

`Collecting tensorflow
  Could not find a version that satisfies the requirement tensorflow (from versions: )
No matching distribution found for tensorflow`

Has tensorflow not officially been released yet?

[2018-08-15 01:33] hzxie commented on #20517
@rharish101
If you need CUDA support, you can install `pacman-S python-tensorflow-cuda`

[2018-08-15 02:12] hansika commented on #20964
I have the same question. Since the tf.data.Dataset API is expected to replace the queue runners, is there a functionality similar to batch_sequences_with_states in the Dataset API to support truncated back propagation? Because, clearly the batch_sequences_with_states method needs queue runners to work.

[2018-08-15 02:14] dragon28 opened #21619 "tf.data.Dataset data remain as tensor even after sess.run()?"
Hello Professional Tensorflow Developers,

I apologize if I am making a noob mistake over here. But my finding about the data that remain in the tf.data.Dataset remain as tensor even after sess.run(). Below are the source code:

[code]

The error output:

[code]

pip list:
[code]

I am using Ubuntu 16.04 64 Bits, Python 3.5.2 and tensorflow 1.8.0

Additional information:

Have I written custom cod

[2018-08-15 02:46] drpngx commented on #21544
Did you perhaps run out of disk space while writing the checkpoint?

[2018-08-15 02:48] #17037 closed

[2018-08-15 02:48] #18358 closed

[2018-08-15 02:48] #18899 closed

[2018-08-15 02:48] #18905 closed

[2018-08-15 02:48] #19038 closed

[2018-08-15 02:48] #19247 closed

[2018-08-15 02:48] #19352 closed

[2018-08-15 02:49] #19880 closed

[2018-08-15 02:49] #19897 closed

[2018-08-15 02:49] #20040 closed

[2018-08-15 02:49] #20386 closed

[2018-08-15 02:49] #20401 closed

[2018-08-15 02:49] tensorflowbutler commented on #21544
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-15 02:49] tensorflowbutler commented on #21554
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-15 02:49] tensorflowbutler commented on #21555
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-15 02:49] tensorflowbutler commented on #21558
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-15 02:49] tensorflowbutler commented on #21562
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-15 02:49] tensorflowbutler commented on #21569
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
Exact command to reproduce
Mobile device

[2018-08-15 02:50] tensorflowbutler commented on #21581
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Exact command to reproduce

[2018-08-15 02:50] tensorflowbutler commented on #21583
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-15 02:50] tensorflowbutler commented on #21585
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-15 02:50] tensorflowbutler commented on #21587
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-15 02:50] tensorflowbutler commented on #21591
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-15 02:50] tensorflowbutler commented on #21594
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-15 02:50] tensorflowbutler commented on #21598
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
Bazel version
Exact command to reproduce
Mobile device

[2018-08-15 02:50] liucsthu commented on #20683
I have solved the issue with the help of stack overflow and other experienced engineers. Thanks for your reply.
Yours

Sent from Yomail

[2018-08-15 02:50] tensorflowbutler commented on #21604
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-15 02:50] tensorflowbutler commented on #675
Nagging Assignee @skye: It has been 32 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:50] tensorflowbutler commented on #1984
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-08-15 02:50] tensorflowbutler commented on #2625
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-08-15 02:50] tensorflowbutler commented on #2732
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-08-15 02:50] tensorflowbutler commented on #7162
Nagging Assignees @petewarden, @suharshs: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:51] tensorflowbutler commented on #8652
Nagging Assignee @fchollet: It has been 16 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:51] tensorflowbutler commented on #10370
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-08-15 02:51] tensorflowbutler commented on #12132
Nagging Assignee @zheng-xq: It has been 32 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:51] tensorflowbutler commented on #13222
Nagging Assignee @rmlarsen: It has been 91 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:51] tensorflowbutler commented on #13243
Nagging Assignee @allenlavoie: It has been 76 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:51] tensorflowbutler commented on #13351
Nagging Assignee @djvisentin: It has been 61 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:51] tensorflowbutler commented on #13620
Nagging Assignee @ysuematsu: It has been 138 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:51] tensorflowbutler commented on #13641
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-08-15 02:51] tensorflowbutler commented on #14291
Nagging Assignee @andrewharp: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:51] tensorflowbutler commented on #14580
Nagging Assignee @petewarden: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:51] tensorflowbutler commented on #14584
Nagging Assignee @skye: It has been 62 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:51] tensorflowbutler commented on #15845
Nagging Assignees @aselle, @andrehentz: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:51] tensorflowbutler commented on #16050
Nagging Assignee @rmlarsen: It has been 63 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:51] tensorflowbutler commented on #16087
Nagging Assignee @xiejw: It has been 76 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:52] tensorflowbutler commented on #16138
Nagging Assignee @gunan: It has been 46 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:52] tensorflowbutler commented on #16311
Nagging Assignee @skye: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:52] tensorflowbutler commented on #16465
Nagging Assignee @rryan: It has been 63 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:52] tensorflowbutler commented on #16532
Nagging Assignee @fchollet: It has been 92 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:52] tensorflowbutler commented on #16611
Nagging Assignee @ispirmustafa: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:52] tensorflowbutler commented on #16665
Nagging Assignee @bignamehyp: It has been 97 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:52] tensorflowbutler commented on #16798
Nagging Assignee @chsigg: It has been 63 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:52] tensorflowbutler commented on #16864
Nagging Assignee @rmlarsen: It has been 62 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:52] tensorflowbutler commented on #16872
Nagging Assignee @ekelsen: It has been 138 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:52] tensorflowbutler commented on #17009
Nagging Assignee @protoget: It has been 93 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:52] tensorflowbutler commented on #17037
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-08-15 02:52] tensorflowbutler commented on #17390
Nagging Assignee @asimshankar: It has been 48 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:53] tensorflowbutler commented on #17541
Nagging Assignee @cy89: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:53] tensorflowbutler commented on #17564
Nagging Assignee @rmlarsen: It has been 137 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:53] tensorflowbutler commented on #17679
Nagging Assignee @ebrevdo: It has been 153 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:53] tensorflowbutler commented on #17832
Nagging Assignee @cy89: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:53] tensorflowbutler commented on #17850
Nagging Assignee @gunan: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:53] tensorflowbutler commented on #17851
Nagging Assignees @guptapriya, @josh11b: It has been 61 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:53] tensorflowbutler commented on #17956
Nagging Assignee @petewarden: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:53] tensorflowbutler commented on #17965
Nagging Assignee @skye: It has been 33 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:53] tensorflowbutler commented on #17978
Nagging Assignee @shivaniag: It has been 138 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:53] tensorflowbutler commented on #17984
Nagging Assignee @aselle: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:53] tensorflowbutler commented on #17995
Nagging Assignee @tatatodd: It has been 77 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:53] tensorflowbutler commented on #18039
Nagging Assignee @cwhipkey: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:53] tensorflowbutler commented on #18044
Nagging Assignee @ispirmustafa: It has been 77 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:54] tensorflowbutler commented on #18065
Nagging Assignee @shivaniag: It has been 138 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:54] tensorflowbutler commented on #18080
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-08-15 02:54] tensorflowbutler commented on #18237
Nagging Assignee @chsigg: It has been 108 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:54] tensorflowbutler commented on #18280
Nagging Assignee @andrewharp: It has been 123 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:54] tensorflowbutler commented on #18311
Nagging Assignee @rmlarsen: It has been 48 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:54] tensorflowbutler commented on #18358
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-08-15 02:54] tensorflowbutler commented on #18484
It has been 17 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-15 02:54] tensorflowbutler commented on #18491
Nagging Assignee @rmlarsen: It has been 76 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:54] tensorflowbutler commented on #18543
Nagging Assignee @saeta: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:54] tensorflowbutler commented on #18863
Nagging Assignee @rmlarsen: It has been 92 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:55] tensorflowbutler commented on #18880
Nagging Assignee @saeta: It has been 31 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:55] tensorflowbutler commented on #18899
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-08-15 02:55] tensorflowbutler commented on #18905
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-08-15 02:55] tensorflowbutler commented on #18917
Nagging Assignee @bignamehyp: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:55] tensorflowbutler commented on #19038
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-08-15 02:55] tensorflowbutler commented on #19046
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-15 02:55] tensorflowbutler commented on #19127
Nagging Assignee @asimshankar: It has been 76 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:55] tensorflowbutler commented on #19138
Nagging Assignee @rohan100jain: It has been 18 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:55] tensorflowbutler commented on #19222
Nagging Assignee @chsigg: It has been 62 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:55] tensorflowbutler commented on #19247
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-08-15 02:55] tensorflowbutler commented on #19262
Nagging Assignee @tatatodd: It has been 92 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:55] tensorflowbutler commented on #19272
Nagging Assignee @shivaniag: It has been 92 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:55] tensorflowbutler commented on #19352
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-08-15 02:56] tensorflowbutler commented on #19376
Nagging Assignee @tatatodd: It has been 77 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:56] sabhiram commented on #21612
The `DataType` definition calls out that

[code]

You could use an artificially less precise Float32 to emulate 16 bits for the time being.

[2018-08-15 02:56] tensorflowbutler commented on #19397
Nagging Assignee @bignamehyp: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:56] tensorflowbutler commented on #19457
Nagging Assignee @allenlavoie: It has been 47 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:56] tensorflowbutler commented on #19481
Nagging Assignee @tatatodd: It has been 76 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:56] tensorflowbutler commented on #19517
Nagging Assignee @jart: It has been 63 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:56] tensorflowbutler commented on #19551
Nagging Assignee @anj-s: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:56] tensorflowbutler commented on #19564
Nagging Assignee @jart: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:56] tensorflowbutler commented on #19640
Nagging Assignee @shivaniag: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:56] tensorflowbutler commented on #19685
Nagging Assignee @andrehentz: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:56] tensorflowbutler commented on #19695
As this issue has invited community support, please remove the assignee. Otherwise, remove the `community support` label. Thank you.

[2018-08-15 02:56] tensorflowbutler commented on #19717
Nagging Assignee @JasperSnoek: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:56] tensorflowbutler commented on #19734
Nagging Assignee @robieta: It has been 71 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:57] tensorflowbutler commented on #19837
Nagging Assignee @jart: It has been 32 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:57] tensorflowbutler commented on #19864
Nagging Assignee @fchollet: It has been 32 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:57] tensorflowbutler commented on #19880
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-08-15 02:57] tensorflowbutler commented on #19897
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-08-15 02:57] tensorflowbutler commented on #19903
Nagging Assignee @ispirmustafa: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:57] tensorflowbutler commented on #19933
Nagging Assignee @tatatodd: It has been 63 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:57] tensorflowbutler commented on #19935
Nagging Assignee @robieta: It has been 47 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:57] tensorflowbutler commented on #19944
Nagging Assignee @suharshs: It has been 31 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:57] tensorflowbutler commented on #19952
Nagging Assignee @jsimsa: It has been 18 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:57] tensorflowbutler commented on #19967
Nagging Assignees @fchollet, @tanzhenyu: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:57] tensorflowbutler commented on #19989
Nagging Assignee @jart: It has been 62 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:57] tensorflowbutler commented on #19991
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:58] tensorflowbutler commented on #20007
Nagging Assignee @tatatodd: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:58] tensorflowbutler commented on #20026
Nagging Assignee @purpledog: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:58] tensorflowbutler commented on #20040
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-08-15 02:58] tensorflowbutler commented on #20060
Nagging Assignee @suharshs: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:58] tensorflowbutler commented on #20068
Nagging Assignee @saeta: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:58] tensorflowbutler commented on #20090
Nagging Assignee @ispirmustafa: It has been 33 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:58] tensorflowbutler commented on #20098
Nagging Assignee @saxenasaurabh: It has been 31 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:58] tensorflowbutler commented on #20142
Nagging Assignee @tatianashp: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:58] tensorflowbutler commented on #20146
Nagging Assignee @ebrevdo: It has been 16 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:58] tensorflowbutler commented on #20158
It has been 18 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-15 02:58] tensorflowbutler commented on #20210
Nagging Assignee @petewarden: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:58] tensorflowbutler commented on #20305
Nagging Assignee @tatatodd: It has been 47 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:58] tensorflowbutler commented on #20309
Nagging Assignees @zhangyaobit, @zheng-xq: It has been 48 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:59] tensorflowbutler commented on #20320
Nagging Assignee @gunan: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:59] tensorflowbutler commented on #20334
Nagging Assignee @drpngx: It has been 18 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:59] tensorflowbutler commented on #20339
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-15 02:59] tensorflowbutler commented on #20344
It has been 17 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-15 02:59] tensorflowbutler commented on #20345
As this issue has invited community support, please remove the assignee. Otherwise, remove the `community support` label. Thank you.

[2018-08-15 02:59] tensorflowbutler commented on #20358
Nagging Assignee @bignamehyp: It has been 16 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:59] tensorflowbutler commented on #20368
Nagging Assignee @zheng-xq: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:59] tensorflowbutler commented on #20386
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-08-15 02:59] tensorflowbutler commented on #20387
Nagging Assignee @zheng-xq: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:59] tensorflowbutler commented on #20398
Nagging Assignee @samikama: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:59] tensorflowbutler commented on #20399
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 02:59] tensorflowbutler commented on #20401
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-08-15 03:00] tensorflowbutler commented on #20447
It has been 17 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-15 03:00] tensorflowbutler commented on #20459
It has been 17 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-15 03:00] tensorflowbutler commented on #20467
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-15 03:00] tensorflowbutler commented on #20506
Nagging Assignee @ispirmustafa: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 03:00] tensorflowbutler commented on #20550
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-15 03:00] tensorflowbutler commented on #20561
Nagging Assignee @allenlavoie: It has been 18 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 03:00] tensorflowbutler commented on #20563
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 03:00] tensorflowbutler commented on #20610
It has been 17 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-15 03:00] tensorflowbutler commented on #20670
It has been 17 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-15 03:00] tensorflowbutler commented on #20688
Nagging Assignee @meteorcloudy: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 03:00] tensorflowbutler commented on #20696
Nagging Assignee @jart: It has been 33 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 03:00] tensorflowbutler commented on #20698
Nagging Assignee @fchollet: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 03:00] tensorflowbutler commented on #20765
Nagging Assignee @shivaniag: It has been 32 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 03:01] tensorflowbutler commented on #20779
Nagging Assignee @jart: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 03:01] sabhiram commented on #21594
The documentation for the function calls out that if the `memory_layer` is None, the memory should assume the shape of the `query_layer` and vice-versa.  However the code ever evaluates what happens when both memory and query layers are not specified.

[2018-08-15 03:01] tensorflowbutler commented on #20814
Nagging Assignee @tatatodd: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 03:01] tensorflowbutler commented on #20833
It has been 17 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-15 03:01] tensorflowbutler commented on #20834
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-15 03:01] tensorflowbutler commented on #20865
Nagging Assignee @poxvoculi: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 03:01] tensorflowbutler commented on #20878
Nagging Assignee @gargn: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 03:01] tensorflowbutler commented on #20883
Nagging Assignee @yifeif: It has been 18 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 03:01] tensorflowbutler commented on #20916
Nagging Assignee @bignamehyp: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 03:01] tensorflowbutler commented on #21008
Nagging Assignees @suharshs, @raghuraman-k: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 03:01] tensorflowbutler commented on #21009
Nagging Assignees @suharshs, @raghuraman-k: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 03:01] tensorflowbutler commented on #21013
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-15 03:01] tensorflowbutler commented on #21019
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-08-15 03:01] tensorflowbutler commented on #21044
Nagging Assignee @allenlavoie: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 03:02] tensorflowbutler commented on #21055
It has been 17 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-15 03:02] tensorflowbutler commented on #21084
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-15 03:02] tensorflowbutler commented on #21118
Nagging Assignee @andrehentz: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-15 03:02] tensorflowbutler commented on #21134
It has been 16 days with no activity and the `awaiting response` label was assigned. Is this still an issue?