[2021-05-06 22:52] emadboctorx commented on #47582
@rohan100jain well I see your point but the error sometimes occurs and sometimes it doesn't and if it did, it won't repeat itself again unless you changed a random part of the code. I don't know this is me totally speculating but I think it has something to do with compilation under `tf.function`, the error happens when modifications are made to the code and then run and compiled for the first tim

[2021-05-06 22:57] karundawadi opened #48946 "How to add the dependency of TensorFlow 2.5.1-rc1 in my build.gradle file?"
Hey y'all I am working on an android application. The tensor flow version I was using had couple of error, so I switched to nightly builds. However, the latest nightly build does not support my application. I am trying to switch to a newer version of pre-release probably 2.5.1. The TF 2.5.1 can be found in the link https://github.com/tensorflow/tensorflow/tags. How do I add this version of TF to m

[2021-05-06 23:19] blackyang opened #48947 "keras optimizer.iterations are not properly save & restored"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-05-06 23:30] mohammedayub44 opened #48949 "TF 2.4.1 SavedModel.load() gives -Error: Expected these arguments to match one of the following Options"
Hi,

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): `No custom code`
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `Linux Ubuntu 16.04`
- TensorFlow installed from (source or binary): `Binary`
- TensorFlow version (use command below): `v2.4.0-49-g85c8b2a817f 2.4.1`
- Python version: `3.6.8`
- Running on `CPU`

*

[2021-05-06 23:37] #48175 closed

[2021-05-07 00:39] karundawadi opened #48952 "How to add the dependency of TensorFlow 2.5.1-rc1 in my build.gradle file?"
Hey y'all I am working on an android application. The tensor flow version I was using had couple of error, so I switched to nightly builds. However, the latest nightly build does not support my application. I am trying to switch to a newer version of pre-release probably 2.5.1. The TF 2.5.1 can be found in the link https://github.com/tensorflow/tensorflow/tags. How do I add this version of TF to m

[2021-05-07 01:11] yuanshancheng commented on #38012
You simply need to reinstall tensorflow as shown by @lequan above. Works for me.

[2021-05-07 01:37] #48694 closed

[2021-05-07 01:49] mokundong commented on #46361
how to load if use "normalizer_fn=lambda x: (x - 3.0) / 4.2)"

[2021-05-07 01:56] yananchen1989 commented on #48936
I copy this file to my working path manually, aiming to import it from current path by
`import multi_head_attention `

[2021-05-07 02:14] simonmaurer commented on #41637
any updates on this?

[2021-05-07 03:54] yananchen1989 opened #48953 "The speed performance of validation_batch_size does not work."
I assume that the `validation_batch_size` could help speed up the validation process at each epoch. However, this contradict with the experiments.

Here is my experiments that I run several times, tf version: 2.3.1
[code]
Here is the report:

It seems that setting validation_batch_size to 64 is the optimal option. That's quite weird.
Any explanation ?

[2021-05-07 03:58] thaink commented on #48850
Right. I mean out Java API is also based on C++ so I would expect the behavior to be the same as Python.

[2021-05-07 04:23] manp-git commented on #48933
Hi,
I figured out that following is the format to pass conv data:-

in1.shape = (1,56,56,64)
weight_kernel.shape = (64,3,3,64)

in1         ->     [1, height, width, channels]              -> (1,56,56,64)
weight_kernel           ->      [height, width, in_channels, out_channels]           -> (3,3,64,64)

Apply:-
image_conv = tensorflow.nn.conv2d(in1, weight_kernel, strides=(1,1), padding='SAME', d

[2021-05-07 04:32] tilakrayal commented on #48933
@manp-git ,

Please refer these issues with similar error log.It helps.#28777,[link1](https://stackoverflow.com/questions/60174964/invalidargumenterror-input-depth-must-be-evenly-divisible-by-filter-depth-4-v/60212961#60212961),[link2](https://github.com/llSourcell/deep_dream_challenge/issues/5)

[2021-05-07 04:32] mitramir55 commented on #48451
Yes, for all layers, loss, and the optimizer I use tf.keras.layers\optimizers\...
Thanks for sharing these links, but I was looking for a solution or a reason behind this type of warning instead of just suppressing it. Something like this is also printed out when training a simple text classification neural net in Colab (without the graph mode on):

![image](https://user-images.githubusercontent.c

[2021-05-07 04:37] manp-git commented on #48879
Hi @thaink @abattery
This what I have done to replicate the resnet tflite model functionality outside the model, this would help me get more flexibility over my intended project:-

Following tensors extracted from TFLite Resnet50 model for experimentation on convolution.
in1.shape = (1,56,56,64)    (output from previous relu)
weight_kernel.shape = (64,3,3,64)       (weight of conv_relu under consi

[2021-05-07 04:41] tilakrayal commented on #48933
@manp-git ,

Looks like this is duplicate of issue #48879.Can you please confirm if we close this issue, since it is already being tracked there? Thanks!

[2021-05-07 04:46] manp-git commented on #48933
https://github.com/tensorflow/tensorflow/issues/48933#issuecomment-834059960

Sure , @tilakrayal I have checked the similar error logs links that you have mentioned these did not help me resolve.

Hence I posted my resolve here to my own question to check if this is fine.

If it can be tracked in #48879 , I am happy with it.

[2021-05-07 04:48] manp-git commented on #48879
@tilakrayal the #48933 was for me to resolve the conv issue, which I had posted as a query, then found a workaround myself.

[2021-05-07 05:38] #36536 closed

[2021-05-07 05:38] #48228 closed

[2021-05-07 05:38] #48672 closed

[2021-05-07 05:38] #47872 closed

[2021-05-07 05:38] #48368 closed

[2021-05-07 05:41] saikumarchalla commented on #48936
@yananchen1989  Seems the multi head attention layer implemented from TF 2.4 version and that's why you are encountering the issues in 2.3. Thanks!

[2021-05-07 05:50] Yukinoshita-Yukinoe commented on #44291
This worked for me as well! cusolver64_11.dll to cusolver64_10.dll

[2021-05-07 05:58] sachinprasadhs commented on #48937
I was able to reproduce your issue, please find the [gist](https://colab.research.google.com/gist/sachinprasadhs/c7853b066d1be5ac774da6022a759c90/untitled3.ipynb#scrollTo=FgJEmmVPm-3B) here.
You can try with normal `print` statement since` tf.print` is having issues.

[2021-05-07 06:11] jvishnuvardhan commented on #48885
@ayandebbarman Looks like this is more related to `automl`. Can you please post it in `automl` repo  https://github.com/google/automl/issues so that experts in that repository will resolve your issue faster. Thanks!

[2021-05-07 06:15] ArtanBerisha1 commented on #48850
Now I have tried to run the model with Java API in Android and its not crashing but the output boxes are not correctly and all detections have accuracy 0.0%.
Also for do you have any idea for the above error in C++, can I try anything else ? ( so I know to close this issue or not because the error is still happening)

Thank you!

[2021-05-07 06:17] limdlh commented on #48407
@impjdi Does your code pasted above also could used for Hexagon(DSP) ?
If not, could you give me a sample code ?
Now I still want a sample code for Hexagon, not for GPU.

[2021-05-07 06:30] ashutosh1919 opened #48954 "Sanity Tests & Unity Test checking fails"
Commands:
- `tensorflow/tools/ci_build/ci_build.sh CPU tensorflow/tools/ci_build/ci_sanity.sh`
- `tensorflow/tools/ci_build/ci_build.sh CPU bazel test //tensorflow/...`
While running above two commands, the test fails and stop because of pip package installation error as shown below.
[code]

[2021-05-07 06:34] tilakrayal commented on #48952
@karundawadi ,

Looks like this is duplicate of issue #48946.Can you please close this issue, since it is already being tracked there? Thanks!

[2021-05-07 06:37] #48643 closed

[2021-05-07 06:54] thaink commented on #48879
@manp-git I think the C++ example is prettty clear:
[code]
Here, replace buffer_pointer by the content of the tflite after reading it to memory.
And replace mutate_* and mutable_* function by what you are planning to do.

[2021-05-07 07:00] ayandebbarman commented on #48885
Done https://github.com/google/automl/issues/985

[2021-05-07 07:01] ayandebbarman commented on #48885
Closing as created new one in automl https://github.com/google/automl/issues/985

[2021-05-07 07:01] #48885 closed

[2021-05-07 07:01] jvishnuvardhan commented on #48478
@axelning Not sure about it. Please share a simple and complete standalone code to reproduce the issue. Thanks!

[2021-05-07 07:09] #47780 closed

[2021-05-07 07:09] sachinprasadhs commented on #48916
@Zodaztream , This can be due to multiple reasons, but to bring numerical stability in your gradient you can use `tf.custom_gradient` decorator by following the documentation [here](https://www.tensorflow.org/api_docs/python/tf/custom_gradient).

[2021-05-07 07:20] #48668 closed

[2021-05-07 07:21] wojciechp6 commented on #41589
Hi @zhaozheng09. I have developed adding and removing workers "while in training". If you (or somebody else) are still interested in this feature you can contact me.

[2021-05-07 07:24] #46829 closed

[2021-05-07 07:25] kekeimiku commented on #41808
2021 is half past

[2021-05-07 07:37] #48712 closed

[2021-05-07 07:49] JustinWick opened #48955 "Missing libtensorflow builds for 2.3.2"
There don't appear to be prebuilt binaries for libtensorflow (https://www.tensorflow.org/install/lang_c) for `2.3.2`.

https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-cpu-linux-x86_64-2.3.2.tar.gz actually yields the `darwin` build, which is missing at its own URI.

These are missing entirely:
- https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-gpu-linux-x

[2021-05-07 07:55] JustinWick commented on #48550
I've tested your uploads, and the following are present:
- https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-cpu-linux-x86_64-2.5.0rc3.tar.gz
- https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-gpu-linux-x86_64-2.5.0rc3.tar.gz

This is still missing:
- https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-cpu-darwin-x86_64-2.5.0rc3.tar.gz

So

[2021-05-07 07:58] galeone commented on #41808
Here's the working available solution: https://github.com/tensorflow/tensorflow/issues/41808#issuecomment-779766175

[2021-05-07 08:10] wojciechp6 opened #48957 "ParameterServerStrategy - generators support"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
  - Im using nightly version while the stable is 2.4.1
- A

[2021-05-07 08:11] #48816 closed

[2021-05-07 08:19] fredo838 commented on #48937
Normal `print` is not really an option, as I need to print my `RaggedTensor` every time the graph runs, not only at graph construction time.

[2021-05-07 08:22] thaink commented on #48850
Might be that version of TFLite is too old. It is very hard to know what went wrong if I cannot reproduce it.

[2021-05-07 08:22] linshizuowei commented on #38746
I tried to initialize multiple tflite models with GPU delegate v2 api at the same time through multi-threading, but found that it takes about the same time for multi-threading to initialize multiple models at the same time and single-threading to initialize multiple models sequentially，Can someone explain why~

[2021-05-07 08:37] #26951 closed

[2021-05-07 08:38] ArtanBerisha1 commented on #48850
What is the TFLite version that you recommend to use ?

[2021-05-07 08:47] Zodaztream commented on #48916
I have implemented a custom gradient with that wrapper and unfortunately it still throws the same warning

[code]

The reshape is required because for some reason dl_L_hat spit out (1,1,1,1,1,1,1,1,9) in shape

[2021-05-07 08:50] thaink commented on #48946
"the latest nightly build does not support my application" What is the exact error you got here?
I think it is better to just fix the issue since there is no guarantee it will not happen in the new release.

The pre-release is not hosted on Maven. If if you want to give it a try, you can build it following https://www.tensorflow.org/lite/guide/build_android

[2021-05-07 08:51] thaink commented on #48952
Duplicated.

[2021-05-07 08:51] #48952 closed

[2021-05-07 08:59] thaink commented on #48850
In case if there are errors. I would absolutely recommend to check if it happens on the nightly version or not.

[2021-05-07 09:07] thaink commented on #48932
I run the profiler with your model, here is what I got base on op type:
Number of nodes executed: 1023
============================== Summary by node type ==============================
	             [Node type]	  [count]	  [avg ms]	    [avg %]	    [cdf %]	  [mem KB]	[times called]
	                 CONV_2D	      857	    95.729	    68.921%	    68.921%	     0.000	      857
	               TRANSPOSE

[2021-05-07 09:18] manp-git commented on #48879
Thanks @thaink, I will relook into the flatbuffer topic, but this is something that will take time for me to do the setup for.

If you could let me know on this Relu query in python code I have quoted, this suits my experimentation topic better and I have already spend a few days progressing in it.

After applying the convolution and adding bias, how do I bring in the fused Relu correctly into pic

[2021-05-07 10:25] thaink commented on #48932
Confirmed that the loading time is high. Nettron and visualize tool both need very long time to process this model.

For runtime, @vizakshat Did you run all of them with single-thread?
Since Conv_2D is the most expensive one in your model, you can try to use multi-thread or delegates like GPU with TFLite.
Additionally, you can try if quantize the model to int8 help the performance. A lot of Conv2d

[2021-05-07 10:28] thaink commented on #48932
@karimnosseir do you know if there is a way to analyze why it has such high loading time?

[2021-05-07 10:37] #36054 closed

[2021-05-07 12:02] loretoparisi commented on #46845
@angerson okay thank you let me check the whole bazel command again

[2021-05-07 12:43] jitendra-dexninja commented on #30959
tf.contrib.layers.xavier_initializer_conv2d not working in tf2. Resolution?

[2021-05-07 12:45] Duskley commented on #48857
ok

[2021-05-07 13:29] tilakrayal commented on #48861
@apramanik62 ,

TensorFlow 1.x is not actively supported. Could you please update TensorFlow v2.x and also as mentioned please follow similar issue [here](https://github.com/tensorflow/models/issues/7636).

Issue is more related to tensorflow models,Could you please close here and submit a new issue from this [link](https://github.com/tensorflow/models/issues/new/choose) and fill in the template,

[2021-05-07 13:29] michaelbenayoun opened #48959 "[TFLite] Fully Connected layers are not outputting accurate values with INT16 inputs of rank > 2"
**Describe the current behavior**

The Fully connected layers outputs in a TensorFlow Lite model when using INT16 acitvations are completely off when the input rank is greater than 2, but totally correct when the rank is 2.

It seems that the computation is somehow broken when the rank >= 3.

I was able to reproduce this in TensorFlow 2.5.0-rc2 and 2.6.0-dev.

**Standalone code to reproduce the is

[2021-05-07 13:31] sachinprasadhs commented on #48845
@shkarupa-alex you can check issue #[34062](https://github.com/tensorflow/tensorflow/issues/34062#issuecomment-606300106) and comment for the probable reason.

[2021-05-07 13:49] tanguycdls commented on #42018
Still an issue in 2.5 rc3 any updates on the subject ?

[2021-05-07 14:12] manp-git commented on #35176
hi @karimnosseir
I am only aware of building tensorflow lite using :-
tensorflow.lite.TFLiteConverter.from_keras_model(my_model)
and the apply converter optimizations.

Will this method also do the same job after commenting the mentioned lines in
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/mlir/lite/transforms/optimize_patterns.td#L84:L89

Hi @dimitraka is your issue r

[2021-05-07 14:14] manp-git commented on #35176
Also I am unable to find the batch normalisation layer in the TFLite model that is supposed to be in between convolution and activation layer in a Resnet50 model, what happened to that? It fused between convolution and Relu?

[2021-05-07 14:14] UsharaniPagadala commented on #48957
@wojciechp6

 In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-05-07 14:31] pythonic2020 opened #48960 "Both pip and conda versions of numpy and six required to load tensorflow 2.4.1?"
I am running tensorflow 2.4.1 in a conda environment using Python 3.8.8 on a Windows 10 x64 system.  GPU support is working.  My conda channel setup is:

[code]

I installed tensorflow and related packages using pip:

I don't really know if python-dotenv is needed here, but I heard that it was.  (?????)

I also have several conda-forge packages installed, such as pandas, scikit-learn, matplotlib,

[2021-05-07 14:57] ktsitsi commented on #44565
I was trying to ingest sparse data into `tf.data.Dataset` by using the `from_generator` API. Trying that with on-prem design for Sparse Arrays which follows the COO representation I was not able to pass the
[code]
I was getting the following error:

[code]
Thinking that the culprit may be the on-prem implementation of sparse data I tried the same with `scipy.coo_matrix`

I get the same error:

[co

[2021-05-07 14:57] Zodaztream commented on #48916
Hey. So, we decided to rework the entire network and remove all the subsubclassed models and thus only have one model with all the layers in sequential manner. This worked. No longer do we get that gradients do not exist. However, I still feel that the first network (which is essentially the same as this sequential one, just without the calls to other subclassed models) should work.

[code]

[2021-05-07 15:01] joaopauloucf commented on #47311
Downgrading TF and TF Addons did the trick for me. TF 2.1

[2021-05-07 15:03] s4sarath commented on #47311
Yes. But that's a temporary solution.

On Fri, May 7, 2021, 8:32 PM Joao Paulo Leite ***@***.***>
wrote:

[2021-05-07 15:03] edloper commented on #48937
Thanks for pointing this out.  The underlying issue is that [`tf.strings.as_string`](https://www.tensorflow.org/api_docs/python/tf/strings/as_string) only supports a limited set of dtypes (int8, int16, int32, int64, complex64, complex128, float32, float64, bool); and tf.print uses tf.strings.as_string to print ragged tensors.

A quick solution on the user side is to just cast the tensor to one of

[2021-05-07 15:05] sachinprasadhs commented on #48960
@pythonic2020 Yes, it is a bad idea to mix `conda install` and `pip install`, it's better if you stick to a single type, else you may run into the issues like you have mentioned.
You can prefer conda install since it has the conda adopted packages within conda environment.
But, if you have any package dependencies across your projects, you can create virtual environment and install packages using

[2021-05-07 15:14] edloper commented on #48937
(Minor correction: it looks like AsString *does* support variant, and uses its DebugString method.  And ResourceBase also has a DebugString method, so maybe we could use that as well, and have tf.strings.as_string support all dtypes.)

[2021-05-07 15:22] theomeb opened #48961 "GlobalAveragePooling1D does not work with a mask when mixed precision policy is set."
**System information**
- OS: colab (Ubuntu 18.04.5)
- TensorFlow installed from : pre-installed in colab
- TensorFlow version: 2.4.1
- Python version: 3.7.10
- GPU model and memory: Tesla K80, 12GB

**Describe the current behavior**
When setting the mixed precision policy and using a `GlobalAveragePooling1D` layer with a mask, the mask is wrongly cast with `backend.floatx()` (=`float32` even with

[2021-05-07 15:30] pythonic2020 commented on #48960
Thank you.  I am unfamiliar with virtual envs.  Should I create one thus:

conda create -n tfenv pip python=3.8

and then use 'pip install tensorflow' within it?  And then use pip install for pandas and the other packages I need?

I cannot use conda install tensorflow at all since tf 2.4.1 isn't available in conda, correct?

[2021-05-07 15:37] #48607 closed

[2021-05-07 15:38] #48548 closed

[2021-05-07 15:43] necronomican commented on #32052
Same

[2021-05-07 16:02] sachinprasadhs commented on #48960
@pythonic2020 Yes, you can use `conda create -n env-name python=x.x`, and in the virtual env, for all the package installation for that env you can use only pip, the reason being not to mix up pip with conda install.

[2021-05-07 16:04] pythonic2020 commented on #48960
Ok, thanks again, I'll try that.

[2021-05-07 16:05] sachinprasadhs commented on #48960
You can close the issue if the above solution answers your question, Thanks!

[2021-05-07 16:25] pythonic2020 commented on #48960
I did what you suggested, and installed jupyterlab and notebook from pip.  However, I cannot start jupyterlab.  Jupyter notebook kernels won't start either.  pywin32 is installed.  So I'm dead in the water.  Any ideas?

[2021-05-07 16:28] migod35 opened #48963 "recipe for target 'CMakeFiles/tensorflow-lite.dir/all' failed issue while cross-compile tflite."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution : Linux Ubuntu 16:

- TensorFlow  Lite version--Latest:
-

[2021-05-07 16:31] bhack commented on #48960
Conda it is not supported in this repo.
If you need Conda it is supported by third-party.
You could try to ask or open a ticket at:
https://docs.anaconda.com/anaconda/user-guide/tasks/tensorflow/
https://github.com/AnacondaRecipes/tensorflow_recipes

[2021-05-07 16:33] pythonic2020 commented on #48960
Ok, thanks.

[2021-05-07 16:33] #48960 closed

[2021-05-07 16:34] bhack commented on #48954
Yes it is a known bug.
See https://github.com/tensorflow/tensorflow/issues/47989 and the PR at https://github.com/tensorflow/tensorflow/pull/48371
/cc @theadactyl @angerson

[2021-05-07 16:52] dannyfriar opened #48964 "Grappler does not fuse kernels in simple GELU implementation"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.3.1
- Python version: 3.6.6
- CUDA/cuDNN version: CUDA 10.1
- GPU model and memory: V100 16GB

**Describe

[2021-05-07 17:10] bhack commented on #48964
Can you check what fusion we have with TF Gelu op https://github.com/tensorflow/tensorflow/blob/c097d1f82e237357025fee054adde6adc8e7a760/tensorflow/python/ops/nn_ops.py#L3626-L3667

[2021-05-07 17:12] impjdi commented on #48407
No, I don't use how to use Hexagon the hexagon delegate.  Doesn't it work as documented in https://www.tensorflow.org/lite/performance/hexagon_delegate ?

[2021-05-07 17:18] impjdi commented on #38746
@menchunlei Sorry for the late response, Gray.  I missed your message.  I don't think we have a good public documentation or code snippet that can be shared as of right now, but serialization will be supported across all delegates in near future.

@linshizuowei During the OpenCL initialization, we do tuning on the GPU.  So if your GPU is busy, multithreading is not going to help much.

[2021-05-07 17:41] DavidPal commented on #48551
My PR https://github.com/tensorflow/tensorflow/pull/48911 was merged.
We can close this issue.

[2021-05-07 17:41] #48551 closed

[2021-05-07 18:06] soumyasoumya commented on #42740
it is giving following error
tensorflow.python.keras.engine.base_layer_v1

[2021-05-07 18:14] tocab opened #48965 "Keras model.fit takes long until training begins when sample_weight is provided"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.4.1
- Python version: 3.7.10
- CUDA/cuDNN version: 11.0
- GPU model and memory: 1080 Ti 12 GB

(+ also on colab)

**Describe the current behavior**
Fit function of keras Model class takes long to begin with

[2021-05-07 18:34] UsharaniPagadala commented on #48785
@pedrogalher
I tried running your [colab](https://colab.research.google.com/gist/UsharaniPagadala/9ba3cec01c42e4dc9594714b1fb85a3a/deconvnet.ipynb) provided,yes I could access it and didn't face any error.Thanks

[2021-05-07 18:44] VivekPanyam commented on #48550
@av8ramit @mihaimaruseac I confirmed that the files exist (and they match the previous convention of `version-rcX` instead of just `versionrcX`)

RC2:
* Linux CPU: https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-cpu-linux-x86_64-2.5.0-rc2.tar.gz
* Linux GPU: https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-gpu-linux-x86_64-2.5.0-rc2.tar.gz
* Mac CPU: http

[2021-05-07 18:45] HoltSpalding commented on #39565
Has this been solved yet?

[2021-05-07 19:36] nouiz opened #48966 "Compilation time regression: 4 straglers"
With TF container: tensorflow/tensorflow:devel-gpu  and this commit:

commit 38dc3cc0278a0e91247c872799e2c49bce831bb2 (HEAD -> master, origin/master, origin/HEAD)
Author: Adrian Kuegel <akuegel@google.com>
Date:   Tue May 4 03:35:01 2021 -0700

    Add MLIR generated Relu kernel.

    It is still disabled by default.

    PiperOrigin-RevId: 371881143
    Change-Id: I1216d77978cf6d1b9e128ef63bc0d52

[2021-05-07 19:37] UsharaniPagadala commented on #48928
@elad-c
I Could  reproduce the code in tf2.4 and tf-nightly. Could you please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/0e42ef32964ec9f4205a1f99b67e6038/untitled41.ipynb).Thanks

[2021-05-07 19:37] #41692 closed

[2021-05-07 19:38] nouiz commented on #48869
I fixed the above link error. But now compiling TF is way longer... So I'm still blocked. See this new nvbug:
https://github.com/tensorflow/tensorflow/issues/48966

[2021-05-07 20:19] HansamalDharmananda commented on #32333
This works for me

[2021-05-07 20:27] pythonic2020 commented on #48960
I think the answer is to follow these steps:

[code]

[2021-05-07 20:36] ymodak commented on #48713
Currently Google colab hosts cuda 11.0 where as TF 2.5 and nightlies support cuda 11.2 so I suspect that in those cases the computation is falling back on cpu. We may want to test it with cuda 11.2 to be sure.

[2021-05-07 20:44] KatiaSN602 opened #48967 "Get HLO PROTO from TF (in python)"
Hi,

I'm using `experimental_get_compiler_ir` to extract the HLO-IR of functions written in TF2.
However, hitting some issues and was wondering if there is an API from TF, that exposes the proto format, something similar to what `JAX` does like here:
[xla_computation](https://jax.readthedocs.io/en/latest/jax.html#jax.xla_computation
) with the `as_serialized_hlo_module_proto`.

There is probably a

[2021-05-07 21:00] #48785 closed

[2021-05-07 21:03] nouiz commented on #48966
Note, I think commit 4656afe7a57deacdc706c0d26f60a366b5e620a6 doesn't have that problem.

I was also able to grab this output before it finish to compile:

[code]

[2021-05-07 21:29] lilinxiong commented on #43128
@y-ich I encountered the same problem. On Huawei phones(OS: Android 10), the NNAPI delegate failed to open.
So, do you have a solution now?
Below is a screenshot of my error log.
![](https://user-images.githubusercontent.com/24367027/117395743-22f70280-af2b-11eb-8fb3-777a9a985f00.png)

[2021-05-07 22:12] #48818 closed

[2021-05-07 23:14] rohanshingade opened #48973 "save and load specific keras/tensorflow layers"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.4.1
- Are you willing to contribute it (Yes/No): Yes

**

[2021-05-08 00:50] ygliu-hub opened #48987 "python': double free or corruption (!prev): 0x0000556f555937e0 ***"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](INFO:tensorflow:Reading data files from /home/lyg/data/tmp/t2t/data/protein_specific_ligand_generation-train*
I0507 22:41:25.676374 140279178368768 problem.py:653] Reading data files from /home/lyg/data/tmp/t2t/data/protein_specific_ligand_generation-train*
*** Error in `/home/lyg/anaconda3/envs/tf/bin/python': double free or corr

[2021-05-08 00:51] limdlh commented on #48407
@impjdi The code sample in https://www.tensorflow.org/lite/performance/hexagon_delegate runs roghly same slowly as CPU.
Should I new another issue in github for hexagon delegate?

[2021-05-08 00:52] impjdi commented on #48407
yeah, it's a different owner

On Fri, May 7, 2021 at 17:51 limdlh ***@***.***> wrote:

[2021-05-08 02:17] llodds opened #48999 "num_parallel_calls= for tf.data map()"
I was playing with different numbers for num_parallel_calls= for map(), however I can hardly get CPU usage above 400%. I am on a DGX-1, so there are 40 CPU cores. I used a very big prefetch number. Ideally if CPU is saturated, I should see ~4000% usage. Just wondering if I need to configure other parameters. I don't know how TF implements num_parallel_calls. I tried setting OMP_NUM_THREADS=40, but

[2021-05-08 02:20] llodds opened #49000 "Random rotation, flip, translation, and zoom for 3D data?"
Does TF have any plan to support 3D random transform layers? or why not? Or is there already an experimental version or some other contributions on github related to this? Thanks

[2021-05-08 02:26] Miraclelucy commented on #2685
so I just replaced tensorflow.models.rnn with tensorflow.python.ops
it did work

[2021-05-08 03:00] haydenchai commented on #44291
https://www.youtube.com/watch?v=-Q6SM_usn84

First time installing this, I have tried everything but didnt' work out

watch this video (link at top) and follow everything from beginning to the end

then it is NOT gonna work out.  However, like people have said here multiple times

just Renaming { cusolver64_11.dll to cusolver64_10.dll }  will solve the problem

[2021-05-08 03:49] lemonltea opened #49001 "What is the specific operation process of the tf.stop.gradient？"
What is the specific implementation process of the tf.stop.gradient？

My code is:

def round_through(x):
    '''Element-wise rounding to the closest integer with full gradient propagation.
    A trick from [Sergey Ioffe](http://stackoverflow.com/a/36480182)
    a op that behave as f(x) in forward mode,
    but as g(x) in the backward mode.
    '''
    rounded = tf.round(x)
    return x + tf.stop_g

[2021-05-08 04:05] kaixih commented on #41280
I think the issue is the cudnn doesn't zero out the grads if it exceeds the sequence length. So, if the grads array happens to contain some large numbers, you will encounter the reported high error. One workaround is to explicitly apply the mask like below, where I use the sequence_mask() to generate a mask based on `logits_lengths` and then zero out the unwanted gradients.

Also, I will file a bu

[2021-05-08 06:04] Jeffin21 commented on #48927
any update??

[2021-05-08 06:21] apramanik62 commented on #48861
ok I will check on TF 2.x
Thanks.

[2021-05-08 06:21] #48861 closed

[2021-05-08 06:22] sayakpaul opened #49007 "Order of resampled dataset is wrong"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-05-08 07:16] pvanhaes commented on #41280
Hi @kaixih
Indeed, I remember having tried that at the time of discovering this bug. However I still ended up using the cpu loss anyway due to a very unstable training. I wasnt able to explain why but I easily encountered NaN gradients and/or loss.

[2021-05-08 08:37] #48590 closed

[2021-05-08 09:28] sayakpaul commented on #49007
Found out a solution.

If we simply set the seed while doing the sampling step with `tf.data.experimental.sample_from_datasets()` this can be solved.

[2021-05-08 09:28] #49007 closed

[2021-05-08 11:40] rossbucky opened #49011 "tflite int8 12x times slower than float32"
Please check this colab to reproduce for huggingface gpt2 model

https://colab.research.google.com/drive/1DNTPR_GgidU8Jve0zoDI1MfoqWQ0L06n?usp=sharing

[2021-05-08 15:02] Mo-Abdelgawad opened #49012 "MobileBert inference with TFlite GPU delegate"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version: (2.6.0)
- Are you willing to contribute it: (No)

**Describe the feature a

[2021-05-08 16:33] pythonic2020 commented on #48960
I had success with this env setup:

[code]

[2021-05-08 17:14] Lucy20211 commented on #48567
@jdduke is it worth waiting for implementation of Conv1D? I know that I can use Conv2D instead of Conv1D, but I have to measure performance of my MCU which uses the same Conv1D and make a comparison with Conv2D for different models (if I implemented Conv1D with Conv2D, it should use the same resources and complexity of a Conv2D, so I wouldn't do anything).

[2021-05-08 17:30] 8bitmp3 commented on #36785
Thank you @jvishnuvardhan @lamberta

`learning_rate=0.001`, `epsilon=1e-7`

👍 Closing the issue

[2021-05-08 17:30] #36785 closed

[2021-05-08 17:36] GrigoriiTarasov opened #49013 "E: Failed to stat /var/lib/apt/lists/partial/developer.download.nvidia.com_compute_cuda_repos_ntu1604_x86%5f64_Packages - pkgAcqTransactionItem::TransactionState-stat (2: No such file or directory)"
https://www.tensorflow.org/install/gpu?hl=ur#ubuntu_1604_cuda_110

On 5th step

[code]

[code]

[2021-05-08 18:15] GrigoriiTarasov commented on #49013
Seems to be fixed with https://forums.developer.nvidia.com/t/errors-during-adding-of-nvidia-repository-and-installing-nvidia-drivers/62079/6

`sudo apt upgrade`

[2021-05-08 18:15] #49013 closed

[2021-05-08 19:26] n4ndoz commented on #22853
@allenlavoie I actually ended up solving this issue refactoring my code, is it good to delete the comment? (I'm actually pretty noob on the GitHub etiquette)

[2021-05-08 23:42] etasnadi commented on #8465
It does not return indices...

[2021-05-09 02:17] xinjin95 commented on #48910
Thanks for your answer. So the tf.raw_ops.Timestamp operator will be affected if users manually changed the system time.

A follow-up question: is there any operator in tensorflow that acquires unix time by `CLOCK_MONOTONIC` which is not affected by user manual time changing?

[2021-05-09 06:40] krishnadfs commented on #21742
Hi
I am also facing the same issue. Can you please share the solution.

Regards,
Krishna

[2021-05-09 07:56] chenxinhua opened #49014 "MultiWorkerMirroredStrategy for multiple gpus on a worker"
could tensorflow provide official examples for MultiWorkerMirroredStrategy for multiple gpus on a worker.

[2021-05-09 08:01] 99003731 opened #49015 "@mitramir55 please open a new issue, fill in issue template and provide minimal code to reproduce. It's likely you have some dependency issue / some wrong version of TF installed. `pip list` should also help in identifying the issue"
@mitramir55 please open a new issue, fill in the issue template and provide minimal code to reproduce. It's likely you have some dependency issue / some wrong version of TF installed. `pip list` should also help in identifying the issue

_Originally posted by @mihaimaruseac in https://github.com/tensorflow/tensorflow/issues/31315#issuecomment-643346367_

I have checked the version too still the sa

[2021-05-09 08:16] ktsitsi opened #49016 "Sparse Data support for tf.data.Dataset.from_generator API using sparse COO arrays"
**System information**
- TensorFlow version 2.4.1:

I was trying to ingest sparse data into `tf.data.Dataset` by using the `from_generator` API. Τhe example below uses `scipy.coo_matrix`. Trying that with on-prem design for Sparse Arrays which follows the COO representation I was not able to pass the

[code]
I was getting the following error:
[code]
Thinking that the culprit may be the `on-prem` i

[2021-05-09 09:02] saikumarchalla commented on #48943
I can able to replicate the issue. Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/257f7f54b590baf7bb6748aa4781cb6a/untitled.ipynb). Thanks!

[2021-05-09 09:17] kphanipavan commented on #43174
Confirmed to fix the same issue
OS: Kubuntu 20.04LTS
TF: 2.4.0
GPU: Nvidia RTX 3060 mobile (100w)
Python: 3.8.5
Cuda: 11.0

I was trying ![TFLite export using this fork](https://github.com/zldrobit/yolov5/tree/tf-android)

[2021-05-09 09:25] saikumarchalla commented on #49015
@99003731 Could you please elaborate your query. Please provide the  standalone code/ colab to reproduce the issue at our end and share  error logs as well.  Also, let us know the TF version you are working on. Thanks!

[2021-05-09 09:55] naga-k opened #49017 "import tensorflow throws ImportError: cannot import name 'LayerNormalization' from 'tensorflow.python.keras.layers.normalization'"
Hey, I have been trying to get my computer to use the GPU instead of the CPU for the last 2 days. During this process, I had reinstalled TensorFlow, CUDA, cuDNN and everything that's possibly related to the problem.

Anyway, now I'm stuck with a new error. I'm not able to even import TensorFlow
![image](https://user-images.githubusercontent.com/29381705/117567669-b884c480-b0da-11eb-867e-797e0e3225

[2021-05-09 11:49] 07rafix opened #49019 "Cached memory for Eigen backend since TF 2.5"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):  From source
- TensorFlow version (use command below): TF 2.5.0-r

[2021-05-09 12:14] selenecodes commented on #7547
If you still have this issue try checking the value of the path like follows:
[code]
The output should be, make sure that there's no other quotes in there:
[code]

[2021-05-09 13:03] tvheems opened #49020 "Hey there."
We are doing a survey on globally distributed software engineering focused on open source projects. If you have some spare time we would really appreciate your response. The form takes about 10 minutes. Thanks in advance!
Survey can be found [here](https://forms.gle/N1TnifRuCYHrCY9JA)

[2021-05-09 13:20] duang33 commented on #43422
你现在解决了吗

[2021-05-09 13:49] lizhen2017 opened #49021 "Variable scope is created repeatedly"
tensorflow version: 1.15.0
python version: 3.6.12
Variable scope is created repeatedly using tf.variable_scope as follows:
[code]
Here comes the output:
[code]
So, why my_variable_scope, my_variable_scope_1, my_variable_scope_2 are created for a. Thanks for your help.

[2021-05-09 14:24] yakovdan commented on #48307
Hi, any progress on this ?

The small values on the input to node 9 are not expected.

[2021-05-09 16:17] daugraph commented on #49021
it seems `variable_scope ` only share `variables` not `ops`

[2021-05-09 16:38] daugraph commented on #49021
If you want reenter a premade variable scope, you can try use `auxiliary_name_scope` with `tf.name_scope()` as follows:
[code]

[2021-05-09 16:40] daugraph commented on #49021
If you want reenter a premade variable scope, you can try use `auxiliary_name_scope=False` with `tf.name_scope()` as follows:

[code]
Outputs:
[code]

[2021-05-09 17:09] mihaimaruseac commented on #49015
Issue template was not filled. Please fill in issue template, provide minimal code to reproduce the issue and give details. Otherwise, we are left to guess what could be the issue you are seeing and this is both not a good use of time and also will not lead to a quick solve of your issue.

The more details you provide, the faster it will be to provide a fix.

[2021-05-09 17:33] 99003731 commented on #49015
code: label_map = label_map_util.load_labelmap(PATH_TO_LABELS)
my error:File "C:\Users\<my path>\utils\label_map_util.py", line 137, in load_labelmap
    with tf.gfile.GFile(path, 'r') as fid:
AttributeError: module 'tensorflow' has no attribute 'gfile'

tensorflow version 2.3.0
these are the details is this okay or more description/details you require

[2021-05-09 18:15] CoderStone commented on #48942
Any updates? bazel issue is still ongoing.

[2021-05-09 18:17] Foreist opened #49022 "Problems when using a100 graphics card"
Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

Is there any way to install tensorflow directly when using a100 server?
Do I have to use t

[2021-05-09 18:40] bhack commented on #48942
What Is the bazel issue with master?

[2021-05-09 19:28] 8bitmp3 commented on #48912
cc @MarkDaoust @lamberta (a docs-related question about https://www.tensorflow.org/guide/keras/writing_a_training_loop_from_scratch)

[2021-05-09 19:38] Saduf2019 commented on #48931
@woodlgz
Thank you for reporting your issue, we will update you at the earliest on this.

[2021-05-09 20:00] danielivan09 commented on #38800
Traceback (most recent call last):
  File "generate_tfrecord.py", line 108, in <module>
    tf.compat.v1.app.run()
  File "C:\Users\ivand\anaconda3\envs\tensorflow2\lib\site-packages\tensorflow\python\platform\app.py", line 40, in run
    _run(main=main, argv=argv, flags_parser=_parse_flags_tolerate_undef)
  File "C:\Users\ivand\anaconda3\envs\tensorflow2\lib\site-packages\absl\app.py", line 303,

[2021-05-09 20:31] llodds opened #49027 "why with mirroredStrategy GPUs have different memory footprint?"
With data parallelization, I was expecting all GPUs will have the same memory footprint for a training model with GLOBAL_BATCH_SIZE divisible by #GPUs. But why I am seeing different memory footprint ranging from 5.2GB to 9.2G per GPU? I am on a DGX-1 and training a GAN model with GLOBAL_BATCH_SIZE=32 and 8 V100 GPUs. The model is quite small though (128x128)

After more testings, it seems that TF

[2021-05-09 20:36] weiT1993 opened #49028 "tf_uniform_replay_buffer Warning"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-05-09 20:52] vulkomilev commented on #48167
It looks like that this issue don't have any repo.I am creating one

[2021-05-09 21:22] soerenetler opened #49029 "BasicDecoderOutput with None lengths in networks_seq2seq_nmt example"
## URL(s) with the issue:
https://www.tensorflow.org/addons/tutorials/networks_seq2seq_nmt

## Description of issue (what needs changing):
It is not clear what the output of the BasicDecoder is. The output variable is is from type BasicDecoderOutput and has two attributes: rnn_output and  sample_id. The output should be (in my opinion) of shape (batch_size, target_leghts, vocab_size) and (batch_si

[2021-05-09 22:07] Quintec commented on #49017
I am having this issue as well.

[2021-05-10 00:04] abattery commented on #49012
@renjie-liu could you take a look?

[2021-05-10 00:07] abattery commented on #48959
@liyunlu0618 could you triage this issue?

[2021-05-10 01:21] mhyeonsoo commented on #48877
thanks for the response.
Sadly I cannot provide the code due to the policy that i am joining in.
I will keep figuring out with searching issue cases.
I appreciate you.

[2021-05-10 01:37] renjie-liu commented on #49012
Please use the gpu version here: https://github.com/mlcommons/mobile_models/blob/main/v0_7/tflite/mobilebert_float_384_gpu.tflite

Thanks

[2021-05-10 01:40] iodncookie commented on #48179
not yet..

[2021-05-10 01:43] abattery commented on #48179
If you hit this issue, please export your saved model with the signature information. You can refer to https://www.tensorflow.org/guide/saved_model#specifying_signatures_during_export.

[2021-05-10 01:43] #48179 closed

[2021-05-10 01:57] zachmayer commented on #31819
I'm stills seeing this issue with keras 2.5.0rc1 and tensorflow 2.5.0-rc3

[2021-05-10 02:03] yananchen1989 commented on #48449
I upgrade my tf version to 2.5.0rc3 and tensorflow-text to version 2.5.0rc0
the model as I described above, still can not work in this line of code:
`tflite_quant_model = converter.convert()`

Here are the errors:

[2021-05-10 02:04] abattery commented on #48449
@yananchen1989 could you try the select tf option? https://www.tensorflow.org/lite/guide/ops_select

[code]

[2021-05-10 02:05] yananchen1989 commented on #48449
@abattery please help fix. We are about to implement the tf.lite version model, with the preprocessor layer embedded, into the production environment - the android mobile devices.

[2021-05-10 02:07] yananchen1989 commented on #48449
@abattery
Thanks for your help. I just try your codes,

![WX20210510-100723](https://user-images.githubusercontent.com/26405281/117597133-8c6b5100-b177-11eb-8b56-d36ce13d0f78.png)

it is OK?

[2021-05-10 02:09] abattery commented on #48449
It looks okay to me. The above message is an warning that the above operators are now being fallback to the Select TF option.

[2021-05-10 02:13] yananchen1989 commented on #48449
thanks. I will train and test this model to validate its effectiveness.
I will give you the feedbacks several days later.

[2021-05-10 02:15] abattery commented on #48449
If you hit the other issue, please file another issue instead of reopening this issue in order to keep each issue focused.

[2021-05-10 02:23] Mo-Abdelgawad commented on #49012
Thanks for the link.  Do you know where I can find the source training code (that trains mobilebert for gpu)? I couldn't find it here https://github.com/mlcommons/mobile_models/tree/main/v0_7/tflite.

Much appreciated.

[2021-05-10 03:10] jianlijianli commented on #48307
Hi yakovdan, sorry for the delayed reply. We have done internal discussion and submitted https://github.com/google/ruy/commit/70e3b87abb64f94441d00f8cf1824c8cc4db61a0. Could you please try your model with tf nightly? Thanks.

[2021-05-10 04:31] gittygupta commented on #38349
in case someone is still stuck with NaN inputs, tf.where can be entirely replaced with:
[code]

[2021-05-10 04:34] notooth1 opened #49041 "Error: No such file or directory"
Can anyone help me fix this error:
[code]

[2021-05-10 04:59] #48734 closed

[2021-05-10 06:50] akuegel commented on #48966
Can you please try whether you can reproduce the problem also with ce227000bdf0dd4b6c1a9dd456a60f4627c54cbc
?
From the range of commits, this looks to me the most suspicious, because it changes the pip build (if I understand it correctly). And if it can be reproduced, does it work with eaa0c588cf44e0c436560738ec361cbc4861cb2d (the commit one before)? If yes, we would have verified the culprit.

[2021-05-10 06:57] UsharaniPagadala commented on #49014
@chenxinhua
Could you please find the [documentation](https://www.tensorflow.org/guide/distributed_training) with an [example](https://www.tensorflow.org/tutorials/distribute/multi_worker_with_keras) . Thanks

[2021-05-10 07:22] tilakrayal commented on #48999
@llodds ,

In order to expedite the trouble-shooting process, could you please provide the Tensorflow version, complete code and dataset to reproduce the issue reported here.

Thanks!

[2021-05-10 07:57] renjie-liu commented on #49012
The training code is the same as the other models except the conversion is a little bit different (the conversion tool is not open-sourced yet, will do later)

[2021-05-10 08:49] sachinprasadhs commented on #49041
@notooth1 Can you please share more details on code,Tensorflow version, OS and Python version, reproducible code would be better.

[2021-05-10 08:53] sachinprasadhs commented on #49021
@lizhen2017 Did you try the solution provided by @daugraph [here](https://github.com/tensorflow/tensorflow/issues/49021#issuecomment-835840899). You can also go through the [document](https://www.tensorflow.org/api_docs/python/tf/compat/v1/variable_scope) for more info.

[2021-05-10 09:10] dannyfriar commented on #48964
The implementation is a bit different to what I have above but it looks like this still results in 5 kernel launches (2 products, 1 sum, 1 quotient and 1 corresponding to `tf.math.erf`).

[2021-05-10 09:28] saikumarchalla commented on #49022
@Foreist Could you please be more specific about the missing libraries. Are you able to install tensorflow-gpu with pip package successfully? If not, Please provide the error logs.

Also, Provide the TF version so that it helps us to  figure out the issue.

[2021-05-10 09:37] saikumarchalla commented on #49015
@99003731  If possible, Could you please provide the complete reproducible code so that we can debug into issue and provide the response in a better way. Thanks!

[2021-05-10 09:49] tilakrayal commented on #49020
@tvheems ,

Can you please provide more information/detials to understand the request.Thanks!

[2021-05-10 09:57] lizhen2017 commented on #49021
Yes, I've tried. And also tried https://github.com/tensorflow/tensorflow/blob/v2.4.1/tensorflow/python/ops/variable_scope.py#L2104, both have succeeded.
But if the variable scope can't be known in advance, auxiliary_name_scope should be judged.

[2021-05-10 10:08] saikumarchalla commented on #48987
@ygliu-hub  Seems the issue is more related to this [repo](https://github.com/tensorflow/tensor2tensor/issues). Please submit a new issue here.Thanks!

[2021-05-10 10:11] lizhen2017 commented on #49021
I've triedy

[2021-05-10 10:11] #49021 closed

[2021-05-10 10:15] lizhen2017 commented on #49021
I've tried with loops, scope variable must be reused, below I used a dict to store it with scope name as the key. And Would you please share a simpler code?
[code]

[2021-05-10 10:53] bhack commented on #49041
Generally we don't support directly Anacoda env as it is supported by third party:
 https://docs.anaconda.com/anaconda/user-guide/tasks/tensorflow/
https://github.com/AnacondaRecipes/tensorflow_recipes

[2021-05-10 10:54] bhack commented on #49017
Generally we don't support directly Anacoda env as it is supported by third party:
https://docs.anaconda.com/anaconda/user-guide/tasks/tensorflow/
https://github.com/AnacondaRecipes/tensorflow_recipes

[2021-05-10 10:57] bhack commented on #48973
Do you meant something like https://keras.io/examples/nlp/pretrained_word_embeddings/ ?

[2021-05-10 10:59] #27492 closed

[2021-05-10 10:59] #27531 closed

[2021-05-10 11:04] bhack commented on #49000
You  can check our repos:
https://github.com/tensorflow/graphics
https://ai.googleblog.com/2021/02/3d-scene-understanding-with-tensorflow.html
https://github.com/google-research/google-research/tree/master/tf3d

[2021-05-10 11:06] zegzag opened #49043 "Batch segment reduce function"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.15 (It's natural to update the feature in tf 2.x. And it

[2021-05-10 11:07] saikumarchalla commented on #49001
@lemonltea Kindly open a stackoverflow issue for this as it is not a bug or feature request, Please post this kind of support questions at Stackoverflow. There is a big community to support and learn from your questions.
Thanks!

[2021-05-10 11:18] saikumarchalla commented on #49001
@lemonltea tf.stop_gradient() is an operation that acts as the identity function in the forward direction, but stops the accumulated gradient from flowing through that operator in the backward direction. It does not prevent backpropagation altogether, but instead prevents an individual tensor from contributing to the gradients that are computed for an expression. The documentation for the [operati

[2021-05-10 11:52] robertokcanale commented on #45848
@Tingbopku It works! Thanks for the fix!

[2021-05-10 12:00] #27647 closed

[2021-05-10 12:00] #27741 closed

[2021-05-10 12:26] 99003731 commented on #49015
@saikumarchalla  here is the code you can debug

import glob
import math
import cv2
import numpy as np
import tensorflow.compat.v1 as tf
from PIL import Image
from utils import label_map_util
from utils import visualization_utils as vis_util

PATH_TO_LABELS = 'label_map_Thread.pbtxt'
NUM_CLASSES = 1
# Loading label map
# Label maps map indices to category names, so that when our convolution networ

[2021-05-10 12:37] UsharaniPagadala commented on #48953
@yananchen1989

We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]
Thanks

[2021-05-10 13:27] MaxxTr opened #49045 "Converted model ERROR: Unsupported data type 14 in tensor"
### 1. System information
Converted on:
- Widows 10
- TensorFlow 2.5.0

Run on:

- iOS 11.1
- POD installation:
- TensorFlowLite 2.4.0:

### 2. Code
regular tensroflowlite ios app example

### 3. Failure after conversion

ERROR:
Unsupported data type 14 in tensor

------------------------------------
Details:
I converted tensorflow model to tensorflow lite and tried to use it with iOS app (firstly

[2021-05-10 13:27] thaink commented on #48963
@terryheo Could you take a look?

[2021-05-10 13:35] oleid commented on #38220
Well, you still need a flex delegate to wrap the tensorflow (not tf-lite) options, so I wouldn't consider this solved.

[2021-05-10 13:52] mathgaming opened #49046 "Unclear error message in keras.backend.bias_add"
https://github.com/tensorflow/tensorflow/blob/40caef44549a199eaac327b673fa862194b66fc4/tensorflow/python/keras/backend.py#L6004-L6007

Is line 6007 supposed to be `(len(bias_shape), ndim(x) - 1))`?

[2021-05-10 14:01] koernerfelicia commented on #46511
@ymodak do you have any more information on this?

[2021-05-10 14:18] MaxxTr commented on #49045
@abattery thank you for fast response !!! But TF-Lite version 2.5.0-rc2 is not available through PODs...

[2021-05-10 14:24] nouiz commented on #48966
[code]

So the problem was introduced before ce22700.
Is it normal that tf-lite is compiled by default?

[2021-05-10 14:25] Mo-Abdelgawad commented on #49012
@renjie-liu Great to know you will open-source it, could you please just notify me when you do? I need to experiment with different mobilebert configurations and that will help a lot.

Also it seems that the gpu model **still has operations that are not supported by the TFlite GPU delegate**  (CAST, GATHER, MUL, RESHAPE, UNPACK), and the model gets split on both CPU and the GPU.

**Here is the out

[2021-05-10 14:29] tilakrayal commented on #48933
@manp-git ,

Please feel free to close this issue as it is being tracked #48879.

Thanks!

[2021-05-10 14:36] sachinprasadhs commented on #48916
@Zodaztream Please go ahead and close the issue if you don't have further queries. Thanks!

[2021-05-10 14:38] limdlh opened #49047 "DSP(Hexagon) delegate run tensorflow-lite C++ example label_image more slowly than CPU"
I compile tensorflow-lite and the example label_image in tensorflow-lite source code success,
I did run with delegates of DSP(Hexagon) and CPU by ADB with running comands:
CPU: ./label_image -m tflite_model_int8.tflite -i grace_hopper.bmp -l labels.txt 1
DSP: ./label_image -m tflite_model_int8.tflite -i grace_hopper.bmp -l labels.txt -j 1
Both seems runs success, but average time or DSP: 60.00 ms,

[2021-05-10 14:39] #48407 closed

[2021-05-10 14:39] bhack commented on #49046
Thanks.. Can you submit a small PR?

[2021-05-10 15:40] saikumarchalla commented on #48949
Was able to reproduce the issue in TF 2.4 Version. Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/d304d7d50f6f403edbbd8000cbdb8f77/untitled.ipynb).Thanks!

[2021-05-10 15:59] #48649 closed

[2021-05-10 16:05] atyshka opened #49048 "File-Based Dataset Sharding not working with experimental dataset load()"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.4.1
- Python version: 3.8
- CUDA/cuDNN version: 11.0
- GPU model and memory: 2x RTX A6000

**Describe th

[2021-05-10 16:22] llodds commented on #49027
@tilakrayal
[code]

[2021-05-10 18:49] staniPetrox commented on #45200
Worked for me as well

[2021-05-10 19:16] wojciechp6 commented on #48957
Hi, here is gist for reproduction: https://gist.github.com/wojciechp6/6c9926f7b4b51927c3071610d4579451. I hope it will be helpful.

[2021-05-10 19:48] kstuedem commented on #27240
I am also running into this issue.
The cause seems to be this part:

As the issue for me also occurs for an output that is also the predecessor of another output.
I think the problem is that tflite::gpu::GraphFloat32 only considers tensors without any consumers as outputs. So no TensorTie gets created for tensors that are both network outputs and and an input for another node.

[2021-05-10 19:59] #42157 closed

[2021-05-10 20:02] sat2000pts commented on #44565
I am doing something very similar to @ktsitsi but instead inside the function that I pass to from_generator() I am converting the coo matrix to SparseTensor and specifying like @ktsitsi the SparseTensorSpec into the output_signature -> the error message I get is the following:

`TypeError: Cannot convert value SparseTensor Spec to a TensorFlow DType.`

[2021-05-10 20:09] #46887 closed

[2021-05-10 20:40] nouiz commented on #48966
This is the first bad commit that mostly double the compilation time.
[code]

[2021-05-10 20:55] ymodak commented on #48886
Looks you are having weak internet connection which fails to download the pip package.
Please try with a stable connection.

[2021-05-10 21:22] aaudiber commented on #49016
Hi @ktsitsi,

The issue is that tf.sparse.SparseTensor represents sparse matrices using `(indices, values, shape)` format, while coo_matrix represents sparse matrices using `(rows, cols, values, shape)` format.The difference is that TF expects a single matrix of indices, while coo_matrix has one vector for row indices and another vector for column indices. Reconciling these formats requires a copy

[2021-05-10 21:29] abattery commented on #49045
@yyoon could you take a look at this? When will the POD for TensorFlow 2.5 be released?

[2021-05-10 21:37] banderlog commented on #25939
wow, I came here to ask for python3.8, but I see that all are waiting for python3.7 for 2 years already

[2021-05-10 21:45] pvanhaes commented on #41280
What happened was that even when masking the gradients (using `tf.where` and not multiplication by zeros) I was unable to fully train a model and always ended up with NaN weights. Maybe I had too large gradients instead of NaNs, but in any case the behavior was different than with the CPU loss.
I'll see if I get the chance to try that again soon.

[2021-05-10 22:02] kaixih commented on #41280
Thanks. It sounds like a numeric precision issue. If possible, could you also give a shot with "TF_CUDNN_DETERMINISTIC=1" which will force TF to use a deterministic CTC algorithm (However, this would require the label size under 256.). By default, TF uses a non-deterministic algorithm.

[2021-05-10 22:27] jvishnuvardhan commented on #39226
@LucaMantani Looks like this was resolved. I checked your code with `tf-nightly` and it throws an shape mismatch error as shown below. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/3449cb4058fcc994da8164c3722d23ea/untitled.ipynb).

Here is the error

`    ValueError: Layer Generator expects 1 input(s), but it received 2 input tensors. Inputs received: [<tf.Tens

[2021-05-10 22:35] jvishnuvardhan commented on #39205
@Bidski Is this still an issue? Can you please share a simple standalone code to reproduce the issue? Thanks!

[2021-05-10 23:43] jvishnuvardhan commented on #39370
@zabir-nabil Looks like this was resolved. I checked your code with `tf-nightly` and it throws an error when validation data is a list but works as expected when `valiadtion_data` is a tuple. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/774d24540ab2dbe07d7c47a9fc990795/stack-overflow-keras-zero-loss-issue.ipynb)

when validation_data is a list, it throws

`

[2021-05-10 23:59] #48334 closed

[2021-05-11 00:23] mattxwang opened #49101 "`tf.keras.preprocessing.image.smart_resize` stable docs does not render properly"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/keras/preprocessing/image/smart_resize

## Description of issue (what needs changing):

### Clear description

In the "Stable" tab of the [`tf.keras.preprocessing.image.smart_resize`](https://www.tensorflow.org/api_docs/python/tf/keras/preprocessing/image/smart_resize ) docs, the output docs seem like they're HTML-escaped and

[2021-05-11 02:29] liuyanghu opened #49102 "code error"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2021-05-11 03:04] Leon-lianglyu opened #49103 "Tensorflow Certificate on Mac M1"
**System information**
- OS Platform and Distribution: Mac M1 Big Sur 11.3
- TensorFlow version: 2.4.1
- Python version:3.8
- GPU model and memory: M1

**Describe the problem**

Anyone has tried to take the TF certificate exam on a Mac M1 device?

I've installed tensorflow-macos in an env and it works fine. However, the exam would create a new project in Pycharm using my global python and install

[2021-05-11 03:51] yearsss commented on #37652
i'm looking forward to the answer.

[2021-05-11 04:29] sachinprasadhs commented on #48927
@Jeffin21 You can find the `pipeline.config` file in the models directory in Tensorflow, path will be something like `object_detection/samples/configs/<model_name>.config`

[2021-05-11 04:34] Jeffin21 commented on #48927
This file
https://github.com/matterport/Mask_RCNN/blob/master/mrcnn/utils.py

On Tue, 11 May 2021 at 10:02 AM jeffin george ***@***.***>
wrote:

--
jeffin

[2021-05-11 04:35] Jeffin21 commented on #48927
Sorry this file
https://github.com/matterport/Mask_RCNN/tree/master/mrcnn

On Tue, 11 May 2021 at 10:04 AM jeffin george ***@***.***>
wrote:

--
jeffin

[2021-05-11 05:03] sachinprasadhs commented on #48927
@Jeffin21 You can find all the config files under this repository for your model. https://github.com/tensorflow/models/tree/master/research/object_detection/samples/configs.

[2021-05-11 05:11] Jeffin21 commented on #48927
I tried most of the config files Maskrcnn particularly use resnet50 and resent 101 I tried both not working for me, I trained a custom model ,   does tensorflow generate pipeline config while training new model ?

[2021-05-11 05:12] terryheo commented on #48963
[code]
Thanks for the information. It seems that your Docker has OOM issue.
What's the host OS? You'd better assign more memory to your Docker.

[2021-05-11 05:32] sachinprasadhs commented on #48927
@Jeffin21, Yes it will be generated while training the model, you can find the below reference.

![image](https://user-images.githubusercontent.com/73069040/117763367-50ec8780-b248-11eb-8da0-946ea9687bf0.png)

[2021-05-11 05:33] Jeffin21 commented on #48927
@sachinprasadhs thanks, can you tell me the exact location? in tensor flow folder or something like that ?

[2021-05-11 05:38] Jeffin21 commented on #48927
@sachinprasadhs maskrcnn save .h5 file in log folder in that folder i didnt find files like  you mentioned above only just .h5 files

[2021-05-11 05:42] Jeffin21 commented on #48927
i set 40 epoches after that i convert the .h5 file to .pb, opencv dnn only take.pb files
please check this link https://github.com/opencv/opencv/pull/13766

for converting to h5 file to .pb file am using this code

[code]

[2021-05-11 05:46] UsharaniPagadala commented on #48925
@mipsan
Could you please provide the dependencies as I am facing these [errors](https://colab.research.google.com/gist/UsharaniPagadala/82625cd04d3a942ed6a3d8f8482e358d/-48925.ipynb) .Thanks

[2021-05-11 05:51] UsharaniPagadala commented on #48833
@jxnding
Could you please confirm if the issue still persist.Thanks

[2021-05-11 05:51] sachinprasadhs commented on #48927
@Jeffin21  this issue seems to be on opencv, can you raise this issue in opencv repo.

[2021-05-11 05:56] migod35 commented on #48963
@terryheo Thank you for your guidence! My host OS  is Ubuntu 18, And also Please guide me to increase the memory of the Docker while cross-compiling.

[2021-05-11 06:17] migod35 commented on #48963
@terryheo Also I remember one thing  I was able to cross-compile the tflite without any error at the one week before.

[2021-05-11 06:41] UsharaniPagadala commented on #48965
@rmothukuru

I was able to reproduce the issue error.Please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/0bd0c009d5cc5ad8f1f3d945dc6817ac/-48965.ipynb) here .Thanks

[2021-05-11 06:48] UsharaniPagadala commented on #49102
@liuyanghu

Could you please elaborate your Query with clear details. We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

[2021-05-11 07:03] mipsan commented on #48925
@UsharaniPagadala

Thanks,
Updated dependencies, then how about dataset?

[2021-05-11 07:48] RocaVincent commented on #48662
As I feared about, it seems that problem occur even without float16 instance normalization (IN) layers. I tried running WGAN-GP with only float32 IN layers and the training was not good. I quickly got inf values and like before, the loss scale parameter quickly goes down to 1. Thus, I think the problem of mixed precision with second order gradient is a quite general problem.

[2021-05-11 08:52] terryheo commented on #48833
I think I've found the root cause. According to https://developer.android.com/ndk/guides/cmake
NDK generates thumb instructions for armeabi-v7a by default.
By using arm mode improves the performance. You need to provide `-DANDROID_ARM_MODE=arm` to your cmake command.

[2021-05-11 09:51] YR123-123 opened #49105 "tensorflow.python.framework.errors_impl.NotFoundError: Key BeamSearchDecoderStep/multi_rnn_cell/cell_0_attention/attention_wrapper/lstm_cell_9/bias not found in checkpoint"
**System information**
- TensorFlow version: 2.4.0
- Python version: 3.6.2

**Problem**
I am trying to upgrade the LAS model from tensorflow 1.8.0 version to 2.4.0. There is no problem in training the model, but in the testing phase, loading the model will show that there is a parameter not found. I printed the saved model file, there is a parameter named 1 in it. I don't understand where the prob

[2021-05-11 11:42] UsharaniPagadala commented on #48925
@mipsan

I was able to reproduce the error.Could you please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/b2ac4f74f2b6e399ccc41ee415b4499c/-48925.ipynb#scrollTo=8DqfVFCf6LVB) here, also have a look at [this](https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/python/core/quantization/keras/quantize_aware_activation.py) and let us kno

[2021-05-11 11:44] rmothukuru commented on #48912
@rohanmuplara,
Can you please give reference to the **`Tensorflow Documentation`** where the code you specified,
`training_loss.update_state(loss * strategy.num_replicas_in_sync ` is mentioned? Thanks!

[2021-05-11 11:53] sachinprasadhs commented on #49041
@notooth1 You can find the similar issue which may solve your issue, [issue1](https://github.com/tensorflow/text/issues/385#issuecomment-692309756),[issue2](https://github.com/tensorflow/tensorflow/issues/20320#issuecomment-414036732).

[2021-05-11 12:10] sachinprasadhs commented on #49101
@mattxwang , This has been fixed in nightly and will be fixed in the latest stable release.

[2021-05-11 12:16] MaxxTr commented on #49045
@sachinprasadhs let me check that everything work fin once I'm taking the nightly version and I'll definitely close this ticket

[2021-05-11 12:37] magondra commented on #32997
Hi,
I am struggling since several days with the same error as described above (except I use VS2019 and TF.2.4.1).

System information

    OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
    Windows 10
    Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
    NA
    TensorFlow installed from (source or binary):
    source
    TensorFlow version:

[2021-05-11 12:47] neso613 commented on #48915
I have tried TFv2.3 and TFnightly versions. None of them works for me.

[2021-05-11 12:52] sachinprasadhs commented on #48820
@resera, We no longer support TF 1.x issues, you can go ahead and close this issue. Thanks!

[2021-05-11 12:54] ammarchalifah commented on #39782
Are there any update on this issue? I desperately need an API to log actual learning rate and writing the calculation having big risk of math error.

[2021-05-11 12:59] #29244 closed

[2021-05-11 12:59] #29261 closed

[2021-05-11 13:16] MaxxTr commented on #49045
@sachinprasadhs there is a new error:

TensorFlow Lite Error: Regular TensorFlow ops are not supported by this interpreter. Make sure you apply/link the Flex delegate before inference.
TensorFlow Lite Error: Node number 183 (FlexTensorListReserve) failed to prepare.

Failed to invoke the interpreter with error: Must call allocateTensors().

Can you please explain the meaning and the solution for t

[2021-05-11 13:41] dan131riley commented on #38096
We've also observed that the [google nsync library is unreliable on some aarch64 implementations](https://github.com/cms-sw/cmssw/issues/32899).  In our case, we saw frequent assertion failures and crashes on a Cavium ThunderX system, but were unable to reproduce the problem on an Apple Silicon M1.

[2021-05-11 13:59] UsharaniPagadala commented on #48678
@maximgeller

Could you please reopen the issue with tf2.0 as it is fixed in tf2.2, and move this to closed status.Thanks

[2021-05-11 13:59] 8bitmp3 commented on #48912
@rohanmuplara @rmothukuru The code snippet may be from the [Use TPUs](https://www.tensorflow.org/guide/tpu#improving_performance_by_multiple_steps_within_tffunction) guide instead of [Writing a training loop from scratch](https://www.tensorflow.org/guide/keras/writing_a_training_loop_from_scratch).

Do let us know if your question about `training_loss.update_state(loss * strategy.num_replicas_in_s

[2021-05-11 14:00] Moronixo opened #49107 "TensorFlow won't detect GPU"
Hi, I'm beginning to use TensorFlow for a project and I'm having some issues with it picking up my GPU. When I run print(tf.config.list_physical_devices('GPU')) it returns an empty list instead.

I'm running it on TensorFlow 2.3.0, cudatoolkit 10.1 and my GPU is CUDA enabled.

Any help is very much appreciated.

[2021-05-11 14:07] tilakrayal commented on #48766
@geo-dingky ,

Could you please confirm if the issue is resolved. if yes, please feel free to move this issue to closed status

Thanks!

[2021-05-11 15:40] Moronixo commented on #49107
My cuDNN version is 7.6.5 and python version is 3.8.

[2021-05-11 15:51] atyshka opened #49109 "Tensorboard epoch summaries dependent on divisibility by update_freq"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.4.1
- Python version: 3.8
- CUDA/cuDNN version: 11.0/8.0
- GPU model and memory: 2x RTX A6000

**Describ

[2021-05-11 16:06] Moronixo commented on #49107
@sachinprasadhs When I try that I get [PhysicalDevice(name='/physical_device:CPU:0', device_type='CPU')] returned

[2021-05-11 16:11] Moronixo commented on #49107
@sachinprasadhs My OS is Windows 10, GPU is GeForce GTX 1050 Ti and my IDE is PyCharm.

[2021-05-11 16:52] kkimdev commented on #48454
You can read about general TensorFlow op implementations here https://www.tensorflow.org/guide/create_op (the doc is for custom ops, but pretty similar), and here are some complex op support examples:
- https://github.com/petewarden/tensorflow_makefile/blob/64380a0/tensorflow/core/ops/array_ops.cc#L167-L171
- https://github.com/tensorflow/tensorflow/blob/6e9220c/tensorflow/core/ops/math_ops.cc#L14

[2021-05-11 17:05] cbcafiero commented on #48057
Any news?

[2021-05-11 17:12] HashGrammer commented on #5932
If anyone else runs into this issue, and you're certain it isn't a logic error, see my answer here:
https://stackoverflow.com/a/67491390/13924556

Took me a minute to figure it out.

[2021-05-11 17:17] Saduf2019 commented on #48652
@Gaasmann
Please update, if we may move this to closed status if resolved.

[2021-05-11 17:54] bhack commented on #49102
I think it is just a small typo by @njeffrie  with https://github.com/tensorflow/tensorflow/commit/4a988e47921bc3655aefa7b68516af195067b33f

[2021-05-11 17:57] Wmir opened #49112 "tensorflow/core/grappler/costs/op_level_cost_estimator.cc:654] Check failed: iz % kz == 0 (256 vs. 0)Input channel 256 is not a multiple of filter channel 512."
I am implementing the following code i.e CBAM module in a network, however, I am getting the **following error:**

F tensorflow/core/grappler/costs/op_level_cost_estimator.cc:654] Check failed: iz % kz == 0 (256 vs. 0)Input channel 256 is not a multiple of filter channel 512

Here is the code of the CBAM block

`import tensorflow as tf

def CBAM(input, reduction):
    """
    @Convolutional Block

[2021-05-11 18:30] cowwoc opened #49113 "Patch mkl_serv_intel_cpu() to speed up MKL on AMD CPUs"
Per https://www.agner.org/optimize/blog/read.php?i=49#1022 and https://danieldk.eu/Posts/2020-08-31-MKL-Zen.html patching `int mkl_serv_intel_cpu()` to return 1 will cause MKL to run significantly fast under AMD CPUs. The link provides background information.

Is it possible to patch this out-of-the-box in the tensorflow-mkl package?

Note: I am not associated with the authors of these blogs. I am

[2021-05-11 18:33] av8ramit commented on #48550
Okay so I did a manual upload again and all three files that @VivekPanyam lists with the proper convention of `version-rcX` are up. This may be a problem in the release automation upload process. Assigning to @angerson who may know more.

[2021-05-11 18:53] njeffrie commented on #49102
Good call. I'll put up a change to fix this, thanks for the catch!

[2021-05-11 19:00] #45629 closed

[2021-05-11 19:03] ymodak commented on #49105
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2021-05-11 19:03] #49105 closed

[2021-05-11 19:08] ymodak commented on #49028
@weiT1993 The deprecation warning message you see in your `error.txt` is mentioned in the docs.
`Warning: THIS FUNCTION IS DEPRECATED. It will be removed in a future version. Instructions for updating: Use as_dataset(..., single_deterministic_pass=True) instead.`
See https://www.tensorflow.org/agents/api_docs/python/tf_agents/replay_buffers/replay_buffer/ReplayBuffer

[2021-05-11 19:11] weiT1993 commented on #49028
@ymodak Thanks. I am aware of the deprecation for `get_next`. But the code snippet (taken from the documentation [here](https://www.tensorflow.org/agents/tutorials/5_replay_buffers_tutorial)) is not calling `get_next`. Does the deprecation warning pop up regardless?

[2021-05-11 19:39] saikumarchalla commented on #49029
@soerenetler The issue is more related to TF Add ons. Could you please  submit a new issue on this [repo](https://github.com/tensorflow/addons). Thanks!

[2021-05-11 20:38] abattery commented on #48915
@neso613 Please share simple stand alone code such that we can replicate the issue faced or if possible share a colab gist. It is really impossible to reproduce your problem at our end

[2021-05-11 20:39] #49102 closed

[2021-05-11 21:56] rohanmuplara commented on #48912
@8bitmp3 @rmothukuru sry I had posted wrong link. https://www.tensorflow.org/tutorials/distribute/custom_training

[2021-05-11 22:31] yyoon commented on #49045
The second error (`Invalid tensor index 1, max index is 0`) is likely caused by some tensor accessing code in your Swift code side.
Can you double check if you are passing the tensor index value correctly in your code?

[2021-05-11 22:36] bas-aarts commented on #48919
not sure what my action item is. @reedwm was able to reproduce, and asked @chsigg to chime in on an alternate way to build TF w/ debug symbols.
Yes, the issue is still there.

[2021-05-11 22:58] aaudiber commented on #44565
@sat2000pts Can you open a new issue, and include code to reproduce the error you're seeing?

[2021-05-11 23:20] jwj04ok opened #49119 "How does TFLite model and TFLite-quantized model converted?"
### 1. System information
 Linux Ubuntu 16.04

### 2. Question
I downloaded two tflite models from https://www.tensorflow.org/lite/guide/hosted_models
1. https://storage.googleapis.com/download.tensorflow.org/models/mobilenet_v1_2018_02_22/mobilenet_v1_0.75_224.tgz
2.https://storage.googleapis.com/download.tensorflow.org/models/mobilenet_v1_2018_08_02/mobilenet_v1_0.75_224_quant.tgz
They are both

[2021-05-11 23:46] abattery commented on #49119
@daverim could you triage this issue?

[2021-05-12 00:08] ymodak commented on #30891
Can you please test with TF 2.3 branch since it was last tested with TF 2.3.0-rc2?

[2021-05-12 00:32] ymodak commented on #48761
See https://www.tensorflow.org/lite/guide/build_arm#cross-compilation_for_arm_with_bazel the note says that you need to have glibc >= 2.28 Thanks!

[2021-05-12 00:32] #48761 closed

[2021-05-12 00:40] #32844 closed

[2021-05-12 00:45] mhyeonsoo opened #49123 "Conv2D with dilation_rate>1 runs extremely slow on cpu"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2021-05-12 00:52] abattery commented on #49123
@renjie-liu could you take a look?

[2021-05-12 01:26] whatdhack opened #49125 "Keras Tensorboard callback not generating profile with model.train_on_batch()"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary):  pip
- TensorFlow version (use command below): 2.

[2021-05-12 01:26] renjie-liu commented on #49123
Hi, can you attach the two tflite models? thanks!

[2021-05-12 01:43] lemonltea commented on #49001
THANKS

[2021-05-12 01:56] mipsan commented on #48925
@UsharaniPagadala

I tested this [guide](https://www.tensorflow.org/model_optimization/guide/quantization/training_comprehensive_guide) as well, same errors as a result.

[2021-05-12 02:09] hassan-shehawy commented on #48761
Thank you, although note you refer to is in fact in the page of TF "lite"

[2021-05-12 02:17] karimnosseir commented on #49047
Hi,
Can you share the model you're using ? Also, the log should have how many ops are delegated, can you share these details ?

Usually for best performance the whole model should be delegated, partially delegated models will not have best performance and will have overhead from switching between DSP and CPU
Thanks

[2021-05-12 02:30] jiqiujia opened #49127 "Question about `input_fn` in Tensorflow's multi worker estimator tutorial"
In this [tutorial](https://www.tensorflow.org/tutorials/distribute/multi_worker_with_estimator), function input_fn has a param named mode. I can't figure out how this param get passed to input_fn when training.
[code]

To better clarify my question, see how this `input_fn` is passed as a function param. It is just passed without any wrapper that give `mode` a value.
[code]

[2021-05-12 02:48] karimnosseir commented on #48934
Short answer:
Can you please fix the batch size on the keras model before conversion.

Longer answer:
It looks like your model has dynamic batch, older versions TFLite converter used to ignore the dynamic batch on the original model. This was fixed and now the model generated can properly supports dynamic dimensions.
If you didn't specify a static shape during conversion, you will be missing some

[2021-05-12 02:50] karimnosseir commented on #48357
Closing. Please reopen or create new issue if you still have questions.

Thanks

[2021-05-12 02:50] #48357 closed

[2021-05-12 02:52] zhangjh915 commented on #39782
Problem solved. Try what @noirmist said.

[2021-05-12 02:55] limdlh commented on #49047
@karimnosseir Hello, I have only part log as bellow. I tested it several days ago, and I have no device now. I tested several basic models.
INFO: Initialized TensorFlow Lite runtime.
loaded libcdsprpc.so
INFO: TfLiteHexagonDelegate delegate: 69 nodes delegated out of 71 nodes with 1 partitions.

[2021-05-12 02:58] karimnosseir commented on #49047
Thanks @limdlh for the details.
Can you point to any of the basic models so i can try reproducing the issue on my side.

Thanks

[2021-05-12 03:32] Leon-lianglyu commented on #49103
Thanks for it. But I followed the offical guide and met the above problems.

[2021-05-12 03:32] Leon-lianglyu commented on #49103
Thanks for it. But I followed the offical guide and met the above problems.

[2021-05-12 04:04] jwj04ok opened #49129 "How could I get middle layers output of TFLite"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.4.1

**Describe the feature and the current behavior/sta

[2021-05-12 04:34] abattery commented on #49129
If you want to get the intermediate tensors, you can use the experimental flag like the below one.

[code]

[2021-05-12 04:34] #49129 closed

[2021-05-12 04:46] KhawajaAbaid opened #49130 "[ERROR] TF Object Detection API: “tensorflow.python.framework.errors_impl.FailedPreconditionError: HashTable has different value for same key. Key item { has 0 and trying to add value 4 [Op:InitializeTableFromTextFileV2]”"
I am trying to work with this [yolov4 in tensorflow 2.0 model](https://github.com/zzh8829/yolov3-tf2), it requires the dataset to be in Tensorflow Object Detection API format. Since I had no prior experience with this api so I was following Adrian Rosebrock's tutorial in his ImageNet bundle book. I barely changed the code in tutorial other than changing paths and file names, the code files and mor

[2021-05-12 05:15] MaxxTr commented on #49045
@yyoon You are totally right. My bad - I assumed the same tensor shape is it was for mobile net.
Just one additional question if you maybe ca assist me:

the run time of my converted net is HUGE ~45sec.
That's really surprising. Can you please redirect me to some guide about optimization of the converted nets ?

Thank you & best regards
Max

[2021-05-12 05:31] krenerd commented on #46702
The code using `os.listdir` is extremely fast(~3secs) while `tf.data.Dataset.list_files` takes around 15 minutes. This issue still seems to happen in tf `2.4.1`.
[code]

[2021-05-12 05:34] #35051 closed

[2021-05-12 06:12] jwj04ok commented on #49129
I tried the "experimental_preserve_all_tensors=True" but got "__init__() got an unexpected keyword argument 'experimental_preserve_all_tensors'"

It seems that tf.lite.Interpreter() does not accept argument experimental_preserve_all_tensors.
This argument also does not appear in formal reference https://www.tensorflow.org/api_docs/python/tf/lite/Interpreter

[2021-05-12 06:14] markub3327 opened #49131 "Cannot import TensorFlow in Docker running at M1 (with AMD64 emulation)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04 in Docker (running at Apple M1)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: -
- TensorFlow installed from (source or binary): pip3
- TensorFlow version

[2021-05-12 06:14] abattery commented on #49129
This feature is newly enabled. Please try out with the tf-nightly version.

[2021-05-12 06:15] abattery commented on #49129
FYI, https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/python/interpreter.py#L312

[2021-05-12 06:33] mhyeonsoo commented on #49123
@renjie-liu
Hello, I am attaching two models

1. base
https://drive.google.com/file/d/1kL8uDUCQolkyENbRBeLTlNXUJvnBupOu/view?usp=sharing

2. dilated
https://drive.google.com/file/d/15iK2mW4oopL8A0IRwndO2Wt-yg0Zsb0B/view?usp=sharing

Thanks

[2021-05-12 06:49] its-shubham2323 commented on #48886
Okkk

[2021-05-12 07:05] CristXu opened #49133 "the input->params.scale must equal to output->params.scale of the pooling node"
Hi,
     Recently, i found that inside the pooling.cc, it will assert the input->params.scale and the output->params.scale,
![image](https://user-images.githubusercontent.com/49855018/117932150-a1d8aa80-b332-11eb-9fa1-237550d923aa.png)
when using a quantization model which has a average pool or max pool.
     But when the kernel size of the pooling node is not equal to the input size, the right an

[2021-05-12 07:05] sachinprasadhs commented on #49101
@mattxwang , Yes, closing this issue. Thanks!

[2021-05-12 07:05] #49101 closed

[2021-05-12 07:24] limdlh commented on #49047
Hello @karimnosseir, please refor to: https://github.com/limdlh/share

[2021-05-12 07:48] saikumarchalla commented on #48936
@yananchen1989 Closing the issue since it was resolved. Please feel free to re-open  the issue if you have any further queries.

[2021-05-12 07:48] #48936 closed

[2021-05-12 08:19] saikumarchalla commented on #48907
Was able to reproduce the issue using TF version [2.4](https://colab.research.google.com/gist/saikumarchalla/449304216e9f97f6a14ecf22df52ef9f/comparison.ipynb#scrollTo=advanced-andrews) and [Nightly](https://colab.research.google.com/gist/saikumarchalla/305dda77526c4903f5b612105ee0466d/comparison.ipynb) version. Thanks!

[2021-05-12 08:24] renjie-liu commented on #49123
Thanks a lot for sharing!

Based on the two models, the dilated model seems simply to be larger.

Take the first `conv` op for example:

The base has
input: 1x225x225x3
weight:32x3x3x3
**output:1x112x112x3**

The dilated has:
input: 1x225x225x3
weight:32x3x3x3
**output:1x221x221x3**

Due to the output size is being ~4 times larger, causing the dilated model has more operations.

So I think this is

[2021-05-12 08:25] Shobana1230 opened #49135 "How to reduce false positives when training a model using tensorflow object detection API?"
I have trained a tensorflow object detection model which will detect a box, bag and crate. when i tested that trained model it is giving more false positives. I trained that with the cleaned datas with proper annotations, though it is giving more false positives. Is there any way to reduce the false positives?

I am using ssd_mobilenet_v1_coco to train a model. Do i need to change anything in the

[2021-05-12 08:36] Lucy20211 commented on #48567
Ok, I'd still like to try to implement this custom op :)

By following https://www.tensorflow.org/lite/guide/ops_custom, to access input of sine operator, I should use this line of code from SinEval:

`const TfLiteTensor* input = GetInput(context, node, 0);`

How can I access the inputs of Conv1D op, in particular dilation_rate and test_input? I use this:

`tf.keras.layers.Conv1D(1, 3, dilation_ra

[2021-05-12 08:49] mipsan commented on #48925
@UsharaniPagadala

Your [idea](https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/python/core/quantization/keras/quantize_aware_activation.py) gave me a hint!

I found that a version of `tensorflow-model-optimization` is **0.5.0**
and `quantize_aware_activation.py` slightly differs to what I have.
`_PRE_QUANT_ACTIVATIONS = frozenset({'softmax', 'sigmoid'})`

[2021-05-12 08:57] Flamefire commented on #40065
This is still an issue, please do not close

[2021-05-12 09:07] UsharaniPagadala commented on #48925
@mipsan

Thank you for your update, glad its working fine for you, kindly move this issue to closed status as it is resolved.

[2021-05-12 09:08] soerenetler commented on #49029
You are absolutely right. I reposted it in the addons repository: https://github.com/tensorflow/addons/issues/2474
Thank you for your help 👍

[2021-05-12 09:22] tilakrayal commented on #49127
@jiqiujia ,

In order to reproduce the issue reported here, could you please provide the tensorflow version,the complete code and the dataset you are using. Thanks!

[2021-05-12 09:27] rmothukuru commented on #29267
Raised [a CL](https://critique-ng.corp.google.com/cl/370898060) to fix this issue. Thanks!

[2021-05-12 09:28] #48925 closed

[2021-05-12 09:30] rmothukuru commented on #48912
@rohanmuplara,
Code is not present even in the link you specified,  https://www.tensorflow.org/tutorials/distribute/custom_training. Am I missing something?

[2021-05-12 09:33] Saduf2019 commented on #48886
@its-shubham2323
please move this to closed status if resolved.

[2021-05-12 09:40] Saduf2019 commented on #48878
@AdityaNikhil
Please share a colab gist with the issue faced.

[2021-05-12 09:41] Asuna88 commented on #41061
Python 3.6.9

TF-1.14:
pip install 'numpy<1.19.0'
pip install -U pip six wheel mock
pip install future
pip install keras_applications==1.0.4 --no-deps
pip install keras_preprocessing==1.0.2 --no-deps
pip install pandas

bazel version: bazel-0.25.2-installer-linux-x86_64.sh

Useful for me!

[2021-05-12 09:44] #48886 closed

[2021-05-12 09:46] Lucy20211 commented on #48567
To obtain dilation_rate and test_input, can I use
`const TfLiteTensor* dilation = GetInput(context, node, 6)` and `const TfLiteTensor* input = GetInput(context, node, 0)`?

[2021-05-12 09:51] AdityaNikhil commented on #48878
@Saduf2019
If you really care about this issue, you wouldn't be here twice.
The colab gist is in the issue I wrote above, you can find it there.

[2021-05-12 10:24] sachinprasadhs commented on #49107
@Moronixo seems normal, can you try installing tensorflow-gpu using `pip install tensorflow-gpu==2.3.0`. If your gpu is still not listed then one of your installation might be corrupted you can download the latest driver for your gpu from [here](https://www.nvidia.com/Download/driverResults.aspx/175403/en-us) ,cuda 10.1 from [here](https://developer.nvidia.com/cuda-10.1-download-archive-update2?ta

[2021-05-12 10:39] Moronixo commented on #49107
@sachinprasadhs Installing tensorflow-gpu has made it show up,

 I've added the result below just in case it's the wrong thing. Thank you so much for your help!
![clarify](https://user-images.githubusercontent.com/84026099/117961886-86f83d00-b316-11eb-8838-5a5f0d458d34.PNG)

[2021-05-12 10:41] sachinprasadhs commented on #49135
@Shobana1230  Could you please provide some sample images.

[2021-05-12 10:41] hrw opened #49136 "[manylinux2014][aarch64][git] fatal error: AArch64GenO0PreLegalizeGICombiner.inc: No such file or directory"
**System information**
- OS Platform and Distribution: manylinux2014 (CentOS 7)
- TensorFlow installed from (source or binary): source
- TensorFlow version: commit db73cf59f471354ace196bb2ccb1f5c951b6cec1
- Python version: 3.6
- Installed using virtualenv
- Bazel version (if compiling from source): 3.7.2
- GCC/Compiler version (if compiling from source): gcc (GCC) 9.3.1 20200408 (Red Hat 9.3.1-2)

[2021-05-12 10:45] Saduf2019 commented on #48878
@AdityaNikhil
As mentioned in your previous comment that you face a new problem with eagerly and we do not face the same issue as shared in our gist, we request you to share a colab gist with the issue.

[2021-05-12 10:46] tilakrayal commented on #49109
@atyshka ,

In order to reproduce the issue reported here, could you please provide the complete code and the dataset you are using. Thanks!

[2021-05-12 10:59] sachinprasadhs commented on #49107
@Moronixo Yes it's listing properly now, you can go ahead and close the issue. Thanks!

[2021-05-12 10:59] #30172 closed

[2021-05-12 11:00] #49107 closed

[2021-05-12 11:04] mhyeonsoo commented on #49123
Oh I just missed that I also modified stride on conv2d.
Thanks for checking the model!

[2021-05-12 11:04] #49123 closed

[2021-05-12 11:14] rmothukuru commented on #29646
Created [a CL](https://critique-ng.corp.google.com/cl/373339875) to fix this issue. Thanks!

[2021-05-12 11:19] rmothukuru commented on #43093
@tungnat97,
As the issue, #45403 has been resolved, can you please confirm if we can close this issue? Thanks!

[2021-05-12 11:25] #49029 closed

[2021-05-12 11:34] rmothukuru commented on #43655
@yiliu9090,
[tf.roll](https://www.tensorflow.org/api_docs/python/tf/roll) now provides a facility to specify **`Multiple Axes`**. Can you PTAL? Thanks!

[2021-05-12 11:37] sat2000pts opened #49137 "Training on tf distribute takes long time -> Complete shape not known for Adam for SparseTensor"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2021-05-12 11:44] yyoon commented on #49045
There are some official docs on model optimization, which you can find here:
https://www.tensorflow.org/lite/performance/model_optimization

That being said, a single inference taking 45 sec is indeed huge. A few additional points which might be helpful to you.
* Make sure that you were using a real device (rather than a simulator), and make sure you were using release mode.
* Try using the [iOS b

[2021-05-12 11:44] rmothukuru commented on #43706
@mhorlacher,
Using [**`tf.function`**](https://www.tensorflow.org/guide/function) has resulted in significant performance increase. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/7157864b1c7e2ba77a848ee339027f04/43706-tf-nightly.ipynb). Thanks!

[2021-05-12 11:56] rmothukuru commented on #44038
@kja815,
Closing this issue as the behavior is intended as per the above comment. Please feel free to reopen the issue if you disagree with that comment. Thanks!

[2021-05-12 11:56] #44038 closed

[2021-05-12 11:59] #48730 closed

[2021-05-12 11:59] #48746 closed

[2021-05-12 11:59] #30444 closed

[2021-05-12 11:59] #48769 closed

[2021-05-12 11:59] #48426 closed

[2021-05-12 12:00] abattery commented on #49045
The model is using the variant type. Currently, variant opeators can be supported through only the Select TF option.

[2021-05-12 12:00] #43093 closed

[2021-05-12 12:02] rmothukuru commented on #44380
@Lifann,
Sorry for the delayed response. Can you please share the reproducible code which demonstrates these Ops doesn't work in GPU? Thanks!

[2021-05-12 12:23] rmothukuru commented on #44414
@stevenwong951028,
Sorry for the delayed response. Please refer this [Stack Overflow Answer](https://stackoverflow.com/questions/50744565/how-to-handle-non-determinism-when-training-on-a-gpu) which shows how to handle non-determinism with `Tensorflow-GPU`. Thanks!

[2021-05-12 12:49] rmothukuru commented on #44814
@MokkeMeguru,
The API, [tf.nn.fixed_unigram_candidate_sampler](https://www.tensorflow.org/s/results?q=tf.nn.fixed_unigram_candidate_sampler) is no longer present and the only API available is [tf.random.log_uniform_candidate_sampler](https://www.tensorflow.org/api_docs/python/tf/random/log_uniform_candidate_sampler).

Hope there is no ambiguity now. Thanks!

[2021-05-12 12:50] AdityaNikhil commented on #48878
@Saduf2019
If it works fine, maybe there's something wrong when I am running on eagerly. I request you to send me your working gist with eagerly turned on.

[2021-05-12 12:51] UsharaniPagadala commented on #48612
@jonasrauber

Could you Please move this issue to closed status if is is resolved.Thank you

[2021-05-12 12:57] rmothukuru commented on #45136
@WindQAQ,
Do you mean to say the behavior is as expected? Can we close this issue? Thanks!

[2021-05-12 12:59] #31279 closed

[2021-05-12 12:59] #42879 closed

[2021-05-12 13:03] ashishsme14 opened #49138 "Normalization using TensorFlow Keras"
Our task is as below not sure what we done mistake in it -

[code]

[code]

[code]

Load the breast cancer dataset using load_breast_cancer function

`X, y = load_breast_cancer(return_X_y=True)`

`X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=500)`

- Create a sequential model
- The model expects rows of data with 30 variables (the input_dim=30 argument)
- T

[2021-05-12 13:04] wang5566 opened #49139 "TensorRT Segmentation Fault During Conversion For Debug Mode"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-05-12 13:08] lgeiger opened #49140 "[XLA:GPU] Support integer convolutions"
**System information**
- TensorFlow version (you are using): `2.6.0.dev20210512`
- Are you willing to contribute it (Yes/No): Yes (I am not familiar with that part of the codebase so would need a bit of help)

**Describe the feature and the current behavior/state.**

https://github.com/tensorflow/tensorflow/commit/89fc1ddd96f25aa9d8eb6a0104ca1fdb11b26753 added support for integer convolutions on `

[2021-05-12 13:30] #49020 closed

[2021-05-12 13:59] #33023 closed

[2021-05-12 13:59] #48585 closed

[2021-05-12 14:24] nouiz commented on #48966
https://github.com/tensorflow/tensorflow/commit/ea5f098c242c28ae58417a26c3c39efc0204a832
Fixed the problem. So closing. Thanks for the quick fix.

[2021-05-12 14:24] #48966 closed

[2021-05-12 14:25] yhetman commented on #43258
@RavitejaBadugu
Also have same mistake.. i would appreciate if you tell how you solved the mistake

[2021-05-12 14:36] MaxxTr commented on #49045
@yyoon  & @abattery  Thank you for your answers I'm closing this issue

[2021-05-12 14:36] #49045 closed

[2021-05-12 14:41] mansnils opened #49142 "Not possible to build cortex_m_generic target on Windows"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- Tensorflow version (commit SHA if source): ce84c661ef8e223a7d76d69d79ce0f26c216c3b9
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.):

**Describe the problem**
Building the microlite lib for the cortex_m_generic target on Windows is n

[2021-05-12 14:55] jaydone78 opened #49145 "using sampled softmax is slow in 'double-tower' like model"
I'm trying to implement a 'double tower' like recommendation model, as something described in paper 'Sampling-Bias-Corrected Neural Modeling for Large Corpus Item Recommendations'. It mentioned to use 'in batch softmax' to learn the embedding. I think this 'in batch softmax' is very likely to the 'sampled softmax' used in word2vec. So I tried to use the tf.nn.nce_loss to implement this logic. I wr

[2021-05-12 14:56] berendjan opened #49146 "tf.gradients with variable shaped inputs returns error (inverse extract volume patches)"
**System information**
- Google Colab
- TF v2.4.1-0-g85c8b2a817f

Using the gradients (as suggested in [#6743](https://github.com/tensorflow/tensorflow/issues/6743#issuecomment-271969125) and on [stackoverflow](https://stackoverflow.com/a/51785735/12528320)) to compute the inverse of `tf.extract_volume_patches` works for statically known input shapes, however it does returns an error when used wit

[2021-05-12 15:00] RavitejaBadugu commented on #43258
In custom training loop within tape we need to mention model(data) if we mention it before I got the error.
[code]
getting error as
[code]
but when I mention the model within the tape the error is gone
[code]

[2021-05-12 15:35] jdduke commented on #48567
Actually, now I'm a bit puzzled as to why you're seeing a Conv1D during conversion at all. TF lowers Conv1D to Conv2D automatically [see implementation here](https://github.com/tensorflow/tensorflow/blob/85c8b2a817f95a3e979ecd1ed95bff1dc1335cff/tensorflow/python/ops/nn_ops.py#L1867).

As for what a custom op would look like, you have to distinguish between tensors and attributes. Attributes will b

[2021-05-12 16:37] Lucy20211 commented on #48567
I had not thought that Conv1D is replaced by TFLite Conv2D op. In fact, I've recently found that Conv1D operator is replaced with a TFLite Conv2D op + a Reshape op, during TF to TFLite conversion. It is probably for this reason that the line

`Error: Didn't find custom operator for name 'Conv1D'. Registration failed.`

doesn't appear.

Then, even though there is a custom Conv1D op, the TF to TFLit

[2021-05-12 16:50] jvishnuvardhan commented on #45396
Any updates with recent TF versions? Thanks!

[2021-05-12 16:56] Lucy20211 commented on #48567
At the moment I'd try with this model: https://www.programmersought.com/article/13674618779/, for which I'd add the snippet of code concerning the converter.

I also wanted to ask another thing: in case I had to convert to TFLite a model that uses an op different to conv1D (an op for which it is really necessary to create a custom op), how can I use the converter to convert the model and to force

[2021-05-12 17:01] marekasf commented on #44777
`apt install nvidia-cuda-toolkit` worked for me

[2021-05-12 17:07] jwj04ok commented on #49129
Thanks, may I know if I do not use "experimental_preserve_all_tensors=True", I can still get information of all tensors by calling "interpreter.get_tensor(index)". Where does those values comes from?

[2021-05-12 17:09] kamathhrishi commented on #45396
Hello @jvishnuvardhan, it worked fine. We can close this issue.

Thank you.

[2021-05-12 17:09] #45396 closed

[2021-05-12 17:11] rsun-bdti commented on #46268
Closing this issue. GATHER_ND has been ported into TFLM.

[2021-05-12 17:11] #46268 closed

[2021-05-12 17:24] ymodak commented on #49043
Have you tried using (tensorflow bucketize op)[https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/bucketize]?
[code]

[2021-05-12 17:29] #48929 closed

[2021-05-12 17:57] mihaimaruseac commented on #48200
@angerson implemented a solution for this and we should have a DOI with the 2.5 release.

[2021-05-12 18:06] mihaimaruseac commented on #48496
Can you sync back to master HEAD and try again please?

[2021-05-12 18:06] jxtps opened #49147 "Training grouped Conv2D is slow"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.4.0-49

[2021-05-12 18:09] angerson commented on #48550
Hi @VivekPanyam and @JustinWick, thanks for your reports. There are a few oddities about the system that uploads our binaries, and I'd like to clear them up with your help. I found two causes for the inconsistencies you're seeing:

1. Our auto-uploader uses a static list of renaming instructions and was misconfigured to upload `linux` as `darwin` (this caused https://github.com/tensorflow/tensorfl

[2021-05-12 18:10] jvishnuvardhan commented on #39774
@keyonvafa Is this still an issue for you? Are you interested in contributing to update any part of the code. Any update need to be backward compatible. Thanks!

[2021-05-12 18:13] angerson commented on #48955
Hi @JustinWick, thanks for your report. Please take a look at https://github.com/tensorflow/tensorflow/issues/48550#issuecomment-839988395 for more context on this. There was an error that has been fixed (and safeguarded against for future) so I believe I can trigger re-uploads for this version. Have you noticed any versions aside from 2.3.2 that have the same issue?

[2021-05-12 18:22] jxtps commented on #49147
Inference is also slow-ish, but not quite as drastic:
[code]

78 / 135 = 58%, when it could probably be closer to 20%?

[2021-05-12 18:31] georgeslabreche commented on #48200
@mihaimaruseac that's great to hear! Looking forward to it.

[2021-05-12 18:37] UsharaniPagadala commented on #49112
@Wmir

We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version,stand alone code/colab gist to reproduce the issue faced].Thanks

[2021-05-12 18:44] bhack commented on #49147
Have you tried with 2.5rc/nightly?

[2021-05-12 18:45] mihaimaruseac commented on #42955
I'd close this issue as it was fixed.

[2021-05-12 18:45] #42955 closed

[2021-05-12 18:46] GEllickson-Hover commented on #43073
Hello, I have a similar issue, and I'm wondering if we can get any more clarity on how the GpuDelegate works.

I'm currently trying a fairly heavyweight feature extraction model with GpuDelegate from tf lite `2.4.0`. I have a simple CameraX setup that analyzes images async, so I can see how it performs over repetitions. On my Samsung S10+, the model takes about 300ms with the delegate, but the ent

[2021-05-12 18:47] mihaimaruseac commented on #46093
It should.

You can test the RCs, they should work with CUDA 11.2

[2021-05-12 18:49] JustinWick commented on #48955
I wrote a script to test availability for cpu-linux, gpu-linux and cpu-darwin, and when I ran it for all full releases starting with 2.3.0, only 2.3.2 seems to be affected by this issue, so I think a re-upload will do it.

I noted something interesting when looking at HTTP response headers, that only 2.3.1 binaries have the "content-language: en" entry in their headers. It probably doesn't mean an

[2021-05-12 18:54] reedwm commented on #48862
The error message was improved in 57caac46d0f036754f8f093fd40099eaaf6c06c2 (which will be in TF 2.5) but the issue remains unfixed.

Can you clarify what the use case is? I'm assuming "I/F" means "interface". Is the issue that `library_instance` wraps the optimizer with a `LossScaleOptimizer`, which causes this error when `library_instance` is called twice??

[2021-05-12 18:59] #48747 closed

[2021-05-12 18:59] #33857 closed

[2021-05-12 18:59] #34136 closed

[2021-05-12 19:44] jxtps commented on #49147
I have not, no.

Running the provided script in existing environment: 1-3 minutes.

Installing 2.5rc/nightly + correct CUDA & cuDNN + get it to work and hopefully not bork my current setup: 1-3 hours.

:-/

[2021-05-12 19:52] bhack commented on #49147
You try to run it in the nightly container https://www.tensorflow.org/install/docker

[2021-05-12 19:57] rohanmuplara commented on #48912
Hey sorry @rmothukuru I was completely wrong again and @8bitmp3 was right. I had another question on that link. This is the right link https://www.tensorflow.org/guide/tpu#distribution_strategies.  I have also attached a screen recording of my question.  https://share.descript.com/view/lh1VoY2ojQI

[2021-05-12 19:59] angerson commented on #48955
I re-uploaded all these binaries in `gs://tensorflow/libtensorflow`

[code]

Can you confirm that things look good from your end, please?

[2021-05-12 19:59] #48638 closed

[2021-05-12 20:19] angerson commented on #48550
I've made the changes to the uploader and re-uploaded the -rc3 binaries to make sure they're all present.

We don't need to re-upload `rc0` and `rc1`, however, as they're soon to be deprecated by the packages for the full release (which were unaffected by this issue, anyway).

[2021-05-12 20:27] fmigone commented on #46314
May You explain better how to make work the model. I'm trying to convert a Yolov4 model to tflite since 6 months without any success

[2021-05-12 20:32] DEKHTIARJonathan commented on #31545
The thing is some network requires to be able to get a ShapeTensor, that wouldn't work here

[2021-05-12 20:57] jxtps commented on #49147
Alas, I have never used docker... :-/

[2021-05-12 20:58] jxtps commented on #49147
Does google colab have tf2.5rc/nightly?

[2021-05-12 21:00] bhack commented on #49147
Yes but you need to run `pip install tf-nightly`

[2021-05-12 21:00] xuy commented on #47794
You could just delete `tensorflow/core/kernels/libtfkernel_sobol_op.so` inside the site-package folder. This kernel op is unlikely to be used by a normal DNN.

I am guessing that a proper fix for the TF team is to figure out what dynamic library `https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/sobol_op.cc` is using, and why the particular cuda/linux distribution combo

[2021-05-12 21:05] foxik opened #49148 "Implement ragged `tf.gather_nd` with `batch_dims > 0`."
**System information**
- TensorFlow version (you are using): TF 2.4, TF 2.5rc3, TF-nightly
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**

Currently, using ragged `tf.gather_nd` with `batch_dims > 0` does not work:
[code]
fails with
[code]
https://colab.research.google.com/drive/10BIgfMaeO_rL3ZBQqXCHuoW0CZxnhh5S?usp=sharing

I propose for

[2021-05-12 21:10] batuhaneralp commented on #47233
Are there any news about it yet? I see the post from 12 days ago but is this discussed within?

[2021-05-12 21:24] jxtps commented on #49147
I added a code block with:
[code]
and it ran seemingly fine:
[code]

Then I ran the script:
[code]

which didn't work:
[code]

So I guess it went from being not as fast as it ought to be to not working at all ;)

[2021-05-12 21:51] jxtps commented on #49147
I tried `use_bias=False`:
[code]
But ran into another error:
[code]

[2021-05-12 22:34] RandinAk opened #49149 "I have only this xiaomi with android 8.1 capable of runing wrap.sh and emulators, other devices have to old androids ie 7.x, 5.x."
I have only this xiaomi with android 8.1 capable of runing wrap.sh and emulators, other devices have to old androids ie 7.x, 5.x.
On emulators ASAN broke running with abort because of heap buffer overflow in libglesv2
https://issuetracker.google.com/issues/130707992
and this still is not solved so I don't have other option as this device.

Btw this device works _very_ stable , battery last for 7 d

[2021-05-12 22:59] #48733 closed

[2021-05-12 22:59] #38332 closed

[2021-05-12 23:00] ymodak commented on #49028
On debugging further I see that calling `TFUniformReplayBuffer` under the hood
[code]
hits `get_next method` defined at https://github.com/tensorflow/agents/blob/29daabcc11b277a914f6b848d44c30b4aabbf659/tf_agents/replay_buffers/replay_buffer.py#L85 which has a deprecation warning.

[2021-05-12 23:27] bhack commented on #49147
It seem broken in 2.5.0-rc3 and not working on tf-nightly.

On Colab 2.4.1 the diff it is not so huge.

[code]

[2021-05-12 23:58] aaudiber commented on #48759
@dgoldenberg-audiomack I agree 100%, it shouldn't repeat by default. Switching the default on the `experimental.make_csv_dataset` symbol will likely break existing users though, so it is prudent to wait until we migrate `make_csv_dataset` out of "experimental". I'm adding a TODO reminder in the code.

[2021-05-12 23:59] bhack commented on #49147
With tf-nightly on CPU I get:
[code]
That I think it is https://github.com/tensorflow/tensorflow/issues/41107

[2021-05-13 01:04] aaudiber commented on #46702
@krenerd Does the slow listing happen only when the files are large, or does it happen with small/empty files as well? Also, does it still happen with the current `tensorflow==2.5.0rc3` release candidate?

[2021-05-13 01:07] ymodak commented on #47286
Thanks for the PR. This is now fixed with tf-nightly docs.
https://www.tensorflow.org/api_docs/python/tf/feature_column/numeric_column?version=nightly#example

[2021-05-13 01:07] #47286 closed

[2021-05-13 01:18] ymodak commented on #46718
I see the [codelab](https://codelabs.developers.google.com/codelabs/recognize-flowers-with-tensorflow-on-android#0) has been revamped and the issue no longer persists. Please let us know if you have any difficulties. Thanks!

[2021-05-13 01:18] #46718 closed

[2021-05-13 01:21] matt-houk commented on #48772
If there are any other issues that are relevant that I have been unable to unearth during my searches that might be able to help, I would love if somebody could link them! While this issue doesn't prevent me from being able to do work, it dramatically slows the rate at which I can do so and none of my attempts to resolve it have been successful.

[2021-05-13 01:40] dgoldenberg-audiomack commented on #48759
Thanks, @aaudiber, I think that sounds like the right time to do it. Maybe this ticket can be referenced from that epic when it comes around.

[2021-05-13 02:02] feranick opened #49150 "Compilation fails when using TensorRT 8."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.4.1, 2.5, etc
- Python version: 3.7
- Installed using virtualenv? pip? conda?: no, built from source
- Bazel version (if compi

[2021-05-13 02:07] abattery commented on #49149
I am not sure that the above report is related to the TensorFlow product. Closing for now.

[2021-05-13 02:07] #49149 closed

[2021-05-13 02:58] NeoZhangJianyu commented on #49113
@cowwoc Thank you share the info.
But the method is not official proposal and not verified fully.
It could make the special function to be improved for performance, but there would be potential risk of Tensorflow functions and performance.

Intel and AMP CPU always have difference. It's possible to cheat MKL to speed up one function. But it's also possible to trigger MKL run hardware related code

[2021-05-13 03:02] #44380 closed

[2021-05-13 04:00] cowwoc commented on #49113
So, excuse me for pointing this out but... you work for Intel so there is a conflict of interest here.

The web is full of online reports of people using `MKL_DEBUG_CPU_TYPE=5` to fool MKL into thinking that it's running on an Intel CPU and performance improved by 30%-300% (e.g. https://www.reddit.com/r/MachineLearning/comments/f2pbvz/discussion_workaround_for_mkl_on_amd/)

The aforementioned work

[2021-05-13 04:47] #49001 closed

[2021-05-13 04:59] #48718 closed

[2021-05-13 05:12] yananchen1989 opened #49151 "tensorflow:5 out of the last 5 calls to <function recreate_function.<locals>.restored_function_body at 0x7f8ef0275730> triggered tf.function retracing."
`tf version: 2.4.1`
[code]
when I run the initialization code below
`model = get_model_transormer(4)`

there comes the warning info:

How to fix my code to avoid this warning ?

[2021-05-13 05:16] bgcgh commented on #47794
Thank you very much xuy for kindly sharing your helpful conclusions! I will certainly apply your advice when having upgraded my system back again.

Best regards,
bgcgh

[2021-05-13 05:28] tilakrayal commented on #49145
@jaydone78 ,

Please, fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

Please, share colab link or simple standalone code with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2021-05-13 05:36] theumang100 commented on #46314
try tensorflow version 2.3.0

[2021-05-13 05:37] abattery commented on #46314
@karimnosseir could you take a look?

[2021-05-13 06:02] NeoZhangJianyu commented on #49113
@cowwoc Yes, I'm working for Intel. :)
The MKL and Tensorflow-MKL are contributed by Intel.
They are only designed for and verified on Intel CPU.

It's unknown the result of running on other CPUs.
So, other CPUs are out of our scope.

[2021-05-13 07:04] duongbaoquy commented on #41943
Sorry but I'm getting the same error. I have tried the above suggestions but it still doesn't work.
I used TS version 2.4.1 to train, so even though I replaced the line `implementation 'org.tensorflow:tensorflow-lite:x.x.x` with xxx is different versions such as: 2.0.0 - 2.3.0 - 0.0.0 nightly, or 2.4.0
But all of them didn't work.

[2021-05-13 07:12] AhmadRaza159 commented on #41943
Duongbaoquy you should use this, implementation 'org.tensorflow:tensorflow-lite:2.4.1'

[2021-05-13 07:14] jaydone78 commented on #49145
I've upload the training data and code in the colab:
https://colab.research.google.com/drive/11prB0qNvxXAiE-zzD9TtBn4OS8ozVeY_?usp=sharing

[2021-05-13 07:16] #49145 closed

[2021-05-13 07:17] duongbaoquy commented on #41943
I tried with 2.4.1 after reading your comment above, but then I get this error
[code]

[2021-05-13 07:17] jaydone78 opened #49153 "using sampled softmax is slow in 'double-tower' like model #49145"
I'm trying to implement a 'double tower' like recommendation model, as something described in paper 'Sampling-Bias-Corrected Neural Modeling for Large Corpus Item Recommendations'. It mentioned to use 'in batch softmax' to learn the embedding. I think this 'in batch softmax' is very likely to the 'sampled softmax' used in word2vec. So I tried to use the tf.nn.nce_loss to implement this logic. I wr

[2021-05-13 07:17] jaydone78 commented on #49153
And here is the colab link to reproduce the result:
https://colab.research.google.com/drive/11prB0qNvxXAiE-zzD9TtBn4OS8ozVeY_?usp=sharing

[2021-05-13 07:25] AhmadRaza159 commented on #41943
2.4.1 is recent release, so that's why. Downgrade on training side may helpful

[2021-05-13 08:10] #47875 closed

[2021-05-13 08:16] mao381332619 opened #49154 "TensorBuffer does not support data type: INT32"
I used tf.image.combined_non_max_suppression in my model to post-process my output.   And I transfer it to tflite file.  When I use the tflite file in the android app.  I found an issue.
Process: ncu.edu.mao, PID: 26529
    java.lang.AssertionError: TensorBuffer does not support data type: INT32
        at org.tensorflow.lite.support.tensorbuffer.TensorBuffer.createFixedSize(TensorBuffer.java:79)

[2021-05-13 08:22] mao381332619 commented on #49154
#Android code
 protected void onActivityResult(int requestCode, int resultCode, @Nullable Intent data) {
        super.onActivityResult(requestCode, resultCode, data);
        if(requestCode == REQUEST_CODE_FOR_CAPTURE){
            if(resultCode == Activity.RESULT_OK){
                try{
                    imageProcessor = new ImageProcessor.Builder()
                            .add(new Resiz

[2021-05-13 08:22] mao381332619 commented on #49154
`def get_real_result(input):
    mbox_loc = input[0]
    mbox_conf = input[1][:, :, 1:]
    mbox_priorbox = input[2][:,:,:4]
    variances = input[2][:, :, -4:]

    # 获得先验框的宽与高
    prior_width = mbox_priorbox[:,:, 2] - mbox_priorbox[:,:, 0]
    prior_height = mbox_priorbox[:,:, 3] - mbox_priorbox[:,:, 1]
    # 获得先验框的中心点
    prior_center_x = 0.5 * (mbox_priorbox[:,:, 2] + mbox_priorbox[:,:, 0])

[2021-05-13 08:23] mao381332619 commented on #49154
`dependencies {

    implementation 'androidx.appcompat:appcompat:1.2.0'
    implementation 'com.google.android.material:material:1.3.0'
    implementation 'androidx.constraintlayout:constraintlayout:1.1.3'
    implementation 'org.tensorflow:tensorflow-lite-metadata:0.1.0-rc1'
    testImplementation 'junit:junit:4.+'
    androidTestImplementation 'androidx.test.ext:junit:1.1.2'
    androidTestImpl

[2021-05-13 08:25] ashishsme14 commented on #49138
We think issue is with before and after implementation code...

[2021-05-13 09:16] mao381332619 commented on #40157
@thaink I use tf.image.combined_non_max_suppression in my model. I can transfer it to tflite. But when I use it in Android or use python tf.lite.interpreter, i got the issus.
![image](https://user-images.githubusercontent.com/54882489/118105343-d752c600-b40e-11eb-9810-5a12f18e1ce3.png)
How can I resolve it

[2021-05-13 09:18] mao381332619 commented on #40157
I use the code to convert my model.
[code]

[2021-05-13 09:28] neuronblack opened #49155 "problem using tf.compat.v1.get_variable in tf2"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macos mojave 10.14.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):

[2021-05-13 09:29] rmothukuru commented on #45668
@Susmit-A,
Sorry for the delayed response.  Can you please refer to the documentation of [Distribute Strategy](https://www.tensorflow.org/api_docs/python/tf/distribute/Strategy) and let us know if it helps? Thanks!

[2021-05-13 09:31] mao381332619 commented on #49154
I try to not return the vaild_detections. But it occurs a new issue.

Internal error: Failed to run on the given Interpreter: Regular TensorFlow ops are not supported by this interpreter. Make sure you apply/link the Flex delegate before inference.
    Node number 142 (FlexCombinedNonMaxSuppression) failed to prepare.

[2021-05-13 09:31] mao381332619 commented on #49154
![Uploading image.png…]()

[2021-05-13 09:32] mao381332619 commented on #49154
![image](https://user-images.githubusercontent.com/54882489/118107288-2699f600-b411-11eb-84e8-19a61e589461.png)

[2021-05-13 09:46] cybaj opened #49156 "Convert from TF 1.8 checkpoint to TF2 SavedModel : variables not visible"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-05-13 09:54] rmothukuru commented on #20606
@renxida,
 Can you please let us know if [this comment](https://github.com/tensorflow/tensorflow/issues/20606#issuecomment-403994951) has resolved your issue? Thanks!

[2021-05-13 09:57] abattery commented on #40157
@mao381332619 Please upload a new issue. We would like to keep each issue focused.

[2021-05-13 10:00] mao381332619 commented on #40157
ok. thanks @abattery

[2021-05-13 10:06] mao381332619 opened #49157 "Internal error: Failed to run on the given Interpreter: Regular TensorFlow ops are not supported by this interpreter. Make sure you apply/link the Flex delegate before inference."
I use tf.image.combined_non_max_suppression in my model. I can transfer it to tflite. But when I use it in Android or use python tf.lite.interpreter, I got the issue.
![118105343-d752c600-b40e-11eb-9810-5a12f18e1ce3](https://user-images.githubusercontent.com/54882489/118111091-cd809100-b415-11eb-9aca-f6ee3fd0b5ef.png)
How can I resolve it?

[2021-05-13 10:17] abattery commented on #49157
Looks like the model is converted with the Select TF option. In such case, the android application requires an extra requirement. See also https://www.tensorflow.org/lite/guide/ops_select.

[code]

[2021-05-13 10:21] mao381332619 commented on #49157
@abattery    I did it. I ran it successfully. Thank you very much

[2021-05-13 10:23] #49157 closed

[2021-05-13 10:27] #49154 closed

[2021-05-13 10:28] abattery commented on #49154
Duplication of https://github.com/tensorflow/tensorflow/issues/49157

[2021-05-13 11:02] rmothukuru commented on #20680
@tobegit3hub,
With respect to the above work around and for the fact that **`tf.app.flags`** are deprecated in **`Tensorflow Version 2.x`**, can you please let us know if we can close this issue? Thanks!

[2021-05-13 11:06] duongbaoquy commented on #41943
I tried downgrading the versions from 2.4.0 to 2.0.0
And it worked at version 2.0.0
But I also suddenly realized that the problem is not with which version you use.
I found this error will occur when you try to optimize the size of the model file, if you skip the size optimization step, the error will be resolved.
[Follow this tutorial](https://colab.research.google.com/github/tensorflow/examples/

[2021-05-13 11:10] Haag-se opened #49158 "Inference with small tflite model does not benefit from warm up"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04.2 LTS (GNU/Linux 5.4.0-73-lowlatency x86_64)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Desktop
- TensorFlow installed from (source or binary): source

[2021-05-13 11:12] rmothukuru commented on #21126
@RomanSteinberg,
Sorry for the delayed response. AFAIK, this behavior is expected because the slash at the start of the path indicates different path, not that of the folder. WDYT!

[2021-05-13 11:14] abattery commented on #49158
@multiverse-tf could you take a look?

[2021-05-13 11:20] rmothukuru commented on #21156
@sleighsoft,
Can you please confirm if this issue is resolved and if we can close it? Thanks!

[2021-05-13 11:30] rmothukuru commented on #21233
@yemaosheng-roadstar,
Sorry for the delayed response. When your code was run on **`Tensorflow Version 1.x`**,  it is resulting in Error, as you have expected. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/ed5dfa8f8839dd1db76619cb054f711c/gh_21233.ipynb).
Thanks!

[2021-05-13 11:31] bhack commented on #49155
In TF2 you are in graph mode right?

So in TF2

[code]

[2021-05-13 11:33] johannesboden opened #49159 "Checkpoint` was expecting a trackable object"
**System information**

- OS Platform and Distribution: Linux Ubuntu 18.04.5
- Python version: 3.7
- tensorflow_gpu: 2.4.1
- CUDA/cuDNN version: 11.3/7.6.5

**Description**
All models are written in tf.keras.
I wanted to do a hyperparameter tuning for the model and vary the number of convultional layers, bottleneck layers, but now the discriminator model seems to be no longer trackable.
Can anyone

[2021-05-13 11:35] bhack commented on #49159
Can you share a very minimal standalone code example or Colab to reproduce this?

[2021-05-13 11:36] johannesboden commented on #49159
I

[2021-05-13 11:36] #49159 closed

[2021-05-13 11:37] johannesboden commented on #49159
I only forgot the brackets ()

[2021-05-13 11:59] #48808 closed

[2021-05-13 12:52] UnickSoft opened #49160 "No operations will run on the GPU for mobilenet_v1_1.0_224_quant.tflite using C++"
Hello.

I tired to load mobilenet_v1_1.0_224_quant.tflite from tflite example (tensorflow/lite/java/demo/app/src/main/), but it print errors to log:

[code]

I use this code to load:

[code]

Why TFlite cannot run mobilenet_v1_1.0_224_quant.tflite on GPU? Or is it ok?

If I load mobilenet_v1_1.0_224_quant.tflite using Java interface I don't have any errors in log.

I have built TFlite by my self,

[2021-05-13 12:59] abattery commented on #49160
@srjoglekar246 could you take a look at this?

[2021-05-13 13:28] lgeiger commented on #32090
@mihaimaruseac Any updates on this? This still seems to be an issue with TF 2.5 and prevent's the use of `GFile` together with `np.savez`.

[2021-05-13 13:49] ferryvg opened #49161 "Progbar prints invalid metrics value when using multiple thresholds"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- TensorFlow version: 2.4.1
- Python version: 3.8.8

**Describe the current behavior**
Progbar prints mean metri

[2021-05-13 13:50] mdanatg commented on #48699
I'm not actively working on this - if anyone from the community is interested in contributing, please add a comment here.

[2021-05-13 14:03] sachinprasadhs commented on #49151
@yananchen1989 , The reason for `re-tracing `might be due to the `variable input lengths/sequence lengths` or `variable batch size`(last batch size might be smaller).
To avoid `re-tracing` you can use `input_signature` in your `tf.function`.
You can follow [this](https://www.tensorflow.org/tutorials/text/transformer#training_and_checkpointing) document which has the example for same.

[2021-05-13 14:10] sleighsoft commented on #21156
I guess @allenlavoie is the better person to ask here. I cannot answer as I haven't had much exposure recently

[2021-05-13 14:12] Stonepia commented on #48496
Thanks for your reply, I tried again, but it still doesn't work

[code]

It is strange that it could successfully build with gcc, but with clang, it keeps having the following error.

Also , I could find `/usr/lib/clang/11.0.0/include/stddef.h` and other files in that place.

Is there anything because of the bazel use other prxoy settings?
Or is there any addition information I have to pass when b

[2021-05-13 14:19] Anuj040 opened #49162 "Failure to load model files."
I have a tensorflow model that I train using customizing the model.fit() as in following link
https://keras.io/guides/customizing_what_happens_in_fit/
Now when I save the model using ModelCheckpoint callback and then later try to reload the model (using tf.keras.models.Model.load_model) or weights (model.load_weights), I am unable to do that, with the following errors:

with _.load_model()_

with

[2021-05-13 14:26] fmigone commented on #40157
It works for me now. with Tensorflow == 2.3.0. Merci a lot.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Garanti
sans virus. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

Le jeu. 13 mai 2021 à 10:01, mao381332619 **

[2021-05-13 14:29] adizagade20 commented on #41943
f

[2021-05-13 14:34] bhack commented on #49151
I cannot reproduce on Colab with `pip install --upgrade tensorflow-text==2.5.0-rc0 tensorflow-hub`

[2021-05-13 14:39] sachinprasadhs commented on #49135
@Shobana1230  You can refer [this](https://stackoverflow.com/questions/45666499/best-strategy-to-reduce-false-positives-googles-new-object-detection-api-on-sa) StackOverflow answer for general context on reducing false positives in Object detection APIs.

[2021-05-13 14:59] #48781 closed

[2021-05-13 15:12] #48820 closed

[2021-05-13 15:13] vatsDivyank commented on #24161
System Information:
TensorFlow 2.3
Model Architecture - MobileNet V1
Arduino_TensorFlow Lite 2.4.0 Alpha
I fined Tuned Mobilenet V1 for face recoginition and later quantized using full integer Quantization Technique and later converted it to .cc format to upload it to Arduino Nano 33 BLE Sense. I used all_ops_resolver function but when i ran the Model on Microcontroller, invoke failed() and error

[2021-05-13 15:13] Rayarrow commented on #36894
Ok. Too busy right now and I will try it a few days later. Wait for my message please.

[2021-05-13 15:19] sachinprasadhs commented on #48949
@mohammedayub44, The issue seems to be with the `input_tensor`.
The model expects batch of images instead of single image input, you can change it by adding `tf.newaxis` like below.
`input_tensor = tf.convert_to_tensor(image_np) `
`input_tensor = input_tensor[tf.newaxis, ...]`

[2021-05-13 15:19] Jeffin21 commented on #48927
@sachinprasadhs @ymodak i got an update on this issue, i trained tensorflow for maskrcnn tensorflow=="2.2.0"  worked very well with `mask_rcnn_inception_resnet_v2_1024x1024_coco17_gpu-8`, unfortunately the OpenCV dnn only support resnet101 and 50 so decided to change to 'mask_rcnn_inception_resnet_v2_1024x1024_coco17_gpu-8' when i start the training i got this error .
`ValueError: faster_rcnn_resn

[2021-05-13 15:28] UsharaniPagadala commented on #49162
@Anuj040

In order to expedite the trouble-shooting process, please provide a code snippet/ colab gist to reproduce the issue reported here and  Could you please [try](https://www.tensorflow.org/guide/keras/save_and_serialize) this, if it helps.Thanks!

[2021-05-13 15:46] jvishnuvardhan commented on #48501
@rajsingh02 Can you please share a simple standalone code to reproduce the issue? Thanks!

[2021-05-13 15:58] jxtps commented on #49147
That's the problem! Grouped should be almost 8x faster than regular, _yet it's actually slower_ in your test!

[2021-05-13 15:59] #36255 closed

[2021-05-13 16:24] surya00060 opened #49164 "Parallel execution operator scheduling seems to be inconsistent across runs"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.5 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.4.

[2021-05-13 16:26] ashahab opened #49165 "`tf.data.experimental.load` segfaults when using repeat and prefetch"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-05-13 16:26] ashahab commented on #49165
@yangustc07

[2021-05-13 16:30] ashahab commented on #49165
I have a fix for this in: https://github.com/tensorflow/tensorflow/pull/49166

[2021-05-13 16:37] AdityaKane2001 commented on #48589
Requesting to close, solved in #48610
Thanks

[2021-05-13 16:43] nouiz commented on #47386
We didn't got any update on the bazel bug in ~2.5 mounts. I poked them yesterday, but still no news.

This is very troublesome for us. Mostly, we can't use git bisect or reuse the same directory when moving between branch. This normally help save TF compilation time that is very slow without a build cluster as you have.

Any idea how to make sure this get fixed?

Also, are you sure it isn't a bug

[2021-05-13 16:51] bhack commented on #48589
Yes, as a suggestion please use a valid pattern in the PR next time for autolinking https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword

[2021-05-13 16:56] ajinkeya007 opened #49167 "Could not load dynamic library 'libcusolver.so.10:No such file or directory; LD_LIBRARY_PATH: /usr/local/cuda-11.2/lib64:/usr/local/cuda/extras/CUPTI/lib64:/usr/local/cuda/lib64"
TF2.4
CUDA 11.2

When I import tensorflow and list devices, I get this:

`>>> tf.config.list_physical_devices()
2021-03-18 10:56:30.410381: I tensorflow/compiler/jit/xla_cpu_device.cc:41] Not creating XLA devices, tf_xla_enable_xla_devices not set
2021-03-18 10:56:30.411387: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcuda.so.1
2021-03-18

[2021-05-13 17:05] UsharaniPagadala commented on #49167
@ajinkeya007

please refer the similar [issue](https://github.com/tensorflow/tensorflow/issues/47874) .You may also refer to this [link](https://www.tensorflow.org/install/source_windows) and let us know if it helps.Thanks

[2021-05-13 17:09] Natithan commented on #46007
Hi soares-f , I'm getting the same issue (though with a custom model), with a similar per-epoch increase in TPU memory.
Did you end up figuring out what the cause was?

[2021-05-13 17:20] #48589 closed

[2021-05-13 17:21] rthadur commented on #48589
Thank you @AdityaKane2001 @bhack closed this as the PR got merged

[2021-05-13 17:28] matt-houk commented on #48772
Can someone clarify for me whether the functions
`
tf.config.set_intra_op_parallelism_threads(NUM_THREADS)
tf.config.set_inter_op_parallelism_threads(NUM_THREADS)
`
are meant to control the threads used by the python process or the nvidia-cuda-mps process?

Adding
`
tf.config.set_soft_device_threading(True)
`
Was able to restrict nvidia-cuda-mps to 4 threads when observed using top, which would be

[2021-05-13 17:30] bhack commented on #45999
As this was assigned on 13 Apr:
@carrycooldude Do you have a draft PR, are you still working on this?

[2021-05-13 17:31] bhack commented on #9996
Can we close this?

[2021-05-13 17:35] AdityaKane2001 commented on #48589
Sure, would do

[2021-05-13 17:36] rthadur commented on #9996
Yes we can close this.Thank you

[2021-05-13 17:36] #9996 closed

[2021-05-13 17:37] UsharaniPagadala commented on #49167
@ajinkeya007

Thank you for your update, glad its working fine for you, If yes kindly move this issue to closed status as it is resolved.

[2021-05-13 17:38] bhack commented on #34268
It is fixed in nightly.

[2021-05-13 17:39] #49167 closed

[2021-05-13 17:39] bhack commented on #30981
Can we close this?

[2021-05-13 17:41] agramesh1 commented on #49113
@cowwoc  Thank you for submitting the issue. The support for MKL in Tensforflow-mkl was removed late last year and is no longer supported as of TF2.4. (https://github.com/tensorflow/tensorflow/pull/43586). It has been replaced by oneDNN which is opensourced at https://github.com/oneapi-src/oneDNN. You can submit a patch to oneDNN on github.

[2021-05-13 17:41] bhack commented on #28414
Can we close this?

[2021-05-13 17:43] carrycooldude commented on #45999
I am still working on this

[2021-05-13 17:43] bhack commented on #27266
Can we close this?

[2021-05-13 17:45] bhack commented on #25552
Can we close this?

[2021-05-13 17:50] #25552 closed

[2021-05-13 17:50] bhack commented on #48919
@reedwm It could be really nice to have a pratical solution for c++ contributors.

[2021-05-13 17:51] srjoglekar246 commented on #49160
Can you check which version of TFLite you are using? Last year we added support for quantization in our GPU delegate.

[2021-05-13 17:56] bhack commented on #7397
Can we close this?

[2021-05-13 17:59] bhack commented on #8467
Can we close this as it was a TF 1. api (tf.compat.v1.logging.set_verbosity)?

[2021-05-13 18:01] bhack commented on #9292
Is this still valid? Was this related only to old conrtib?

[2021-05-13 18:01] Saduf2019 commented on #49131
@markub3327

Could you please share the following details with us, so that we can look into the issue

output of pip list command
output of conda list command
Thanks!

[2021-05-13 18:03] catskul commented on #48908
would a PR be welcome here? I'm don't currently have my dev env set up to make it easy to create/test appropriately to make a PR, but don't want to put in the effort if it's not wanted.

[2021-05-13 18:06] pglushkov commented on #28414
Yes, I thought it was closed, sorry for confusion.

[2021-05-13 18:06] #28414 closed

[2021-05-13 18:09] bhack commented on #24179
I think that we can close this.

[2021-05-13 18:13] markub3327 commented on #49131
The output of `pip list`:
[code]

The installation packages, I was doing with my [requirements.txt](https://github.com/markub3327/rl-toolkit/blob/master/requirements.txt).

I'm not using a Conda in my container:
[code]

[2021-05-13 18:13] drasmuss commented on #7397
The gradient implementation is still incorrect, as of TF 2.5.0rc.  Here is an updated example showing the same error
[code]
gives
[code]

[2021-05-13 18:16] bhack commented on #7397
/cc @rthadur Can we update the label?

[2021-05-13 18:17] jdduke commented on #48908
I'm sympathetic, but at this point, probably not. In part as I don't think we event want to have an Interpreter object left in an indeterminate/undefined state, and we also probably wouldn't want to expose a move assignment operator, so the use-case here is fairly narrow. If you hit issues with your particular application that you can't work around, we can revisit. At a technical level, I don't th

[2021-05-13 18:18] #48908 closed

[2021-05-13 18:18] abhijit1247 opened #49168 "Could not compute output KerasTensor"
I am trying to train a generator model, for which I am combining the generator and discriminator models.
The code:
[code]

The error:
AssertionError: Could not compute output KerasTensor(type_spec=TensorSpec(shape=(None, 420, 640, 3), dtype=tf.float32, name=None), name='composition/add/add:0', description="created by layer 'composition'")

Colab [link](https://colab.research.google.com/drive/1oMbH

[2021-05-13 18:25] alexispomares opened #49169 "Tensorflow2 - “tf.data.experimental.make_csv_dataset” doesn't work with “tf.keras.preprocessing.timeseries_dataset_from_array”"
Hello! I am trying to get TensorFlow to read +100 CSV files that ***don't*** fit in memory (+1GB size each). The files contain time-series data (EEG signals), with the labels in the first column. From the TensorFlow documentation it seems like I should be able to use the *tf.data* API to load my data off-disk.

For the sake of simplicity and reproducibility, let's consider the following "*sample_d

[2021-05-13 18:25] bhack commented on #9916
We could close this. I think that with nightly the signs are correct:
[code]

[2021-05-13 18:27] bhack commented on #9918
Can we close this?

[2021-05-13 18:30] bhack commented on #9968
Can you share a very minimal standalone example or colab for TF 2.x?

[2021-05-13 18:30] bhack commented on #10071
Can we close this?

[2021-05-13 18:32] bhack commented on #10597
I think that we could close this as we are not going to have features evolution for  `tf.estimator` right?

[2021-05-13 18:37] rohan100jain commented on #48937
As Ed suggested, please feel free to send us a PR adding support for more dtypes for the AsString op in TF.

[2021-05-13 18:45] rohan100jain commented on #48684
As part of the migration to TF2, we explicitly disabled functions as input to tf.device. So we should just update the guide to call tf.compat.v1.device instead of tf.device. It'll be great if you wanted to contribute a PR with the documentation fix!

[2021-05-13 18:55] #48961 closed

[2021-05-13 18:57] cowwoc commented on #49113
Thank you for the clarification. Closed in favor of https://github.com/oneapi-src/oneDNN/issues/1056.

[2021-05-13 18:57] #49113 closed

[2021-05-13 18:59] #32760 closed

[2021-05-13 18:59] #40086 closed

[2021-05-13 19:03] kkimdev commented on #48773
Thanks for reporting! Contribution welcome!

[2021-05-13 19:05] AndreyPlotkinOr commented on #43345
How do I install it?
I have the same error now. Using default python 3.6.
![image](https://user-images.githubusercontent.com/46108258/118174272-38b96b80-b3f4-11eb-8546-364639129b38.png)

[2021-05-13 19:05] bhack commented on #11058
Can we close this or can you send a TF 2.x standalone minimal example or Colab to repdocue this?

[2021-05-13 19:12] #49046 closed

[2021-05-13 19:27] weiT1993 commented on #49028
Thanks. I will just ignore the warning now.

[2021-05-13 19:27] #49028 closed

[2021-05-13 19:29] ymodak commented on #29849
Closes this issue since commit [52a7bfe](https://github.com/tensorflow/tensorflow/commit/52a7bfee453e449e715e7f0847e74f03ff6b9036) updates the docs for usage examples. Thanks!

[2021-05-13 19:29] #29849 closed

[2021-05-13 19:34] bhack commented on #9951
Can we close this?

[2021-05-13 19:36] ymodak commented on #48954
Closing this issue since its being tracked already. Thanks!

[2021-05-13 19:36] #48954 closed

[2021-05-13 19:44] ymodak commented on #48637
I am afraid, we cannot do it at this time since the post training full integer quantization happens at the time of tflite conversion which takes `h5` or `SavedModel format` as input.

[2021-05-13 19:46] UnickSoft commented on #49160
I built using sources from master revision:
[XLA:GPU] Log error if LLVM IR parsing fails.	e6986d372fa	Chris Jones <cjfj@google.com>	29 Apr 2021, 11:46

I didn't find ready to use binary(for C++ API) and built them by myself. Maybe I took unstable changes and I have to take from sources from release branch.

[2021-05-13 19:55] Haag-se commented on #49158
Rebuilding Tensorflow using Bazel seems to fix the issue. Previously I used `make -f ./tensorflow/lite/tools/make/Makefile` to build and linked the .a file when compiling my code. Now I used `bazel build --config= monolithic -c opt //tensorflow/lite:libtensorflowlite.so` and linked the .so file when compiling.

Seems to have made all the difference! I have no idea why though...

[code]

[2021-05-13 20:27] #48200 closed

[2021-05-13 20:41] bhack commented on #49168
`model.add` requires a layer. See the doc https://www.tensorflow.org/api_docs/python/tf/keras/Sequential?version=nightly#add

[2021-05-13 21:06] tcervi commented on #47166
Hi @ruiyq, thanks for your comment, indeed your configuration works!
When I searched for that  MSVC "C1001: Internal compiler error." found [some information](https://docs.microsoft.com/en-us/cpp/error-messages/compiler-errors-1/fatal-error-c1001?view=msvc-160) about this error being usually linked to optimisation failure. I was planning to maybe generate a build repro and upload it for MSVC team,

[2021-05-13 21:33] ad12 opened #49172 "Error importing from Keras models - AttributeError: module 'tensorflow.compat.v2.__internal__' has no attribute 'tf2'"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-05-13 21:56] sgdre217 commented on #45121
I am reopening this issue as the bug has persisted through TF version 2.5.0. Additionally, it seems like the bug is now present in tf-nightly. Here is a collab (note that it seems like the one @Saduf2019 linked has since been edited): https://colab.research.google.com/drive/1YUrOJautQiBZASDNZ97jIHlxCIsd9NHV#scrollTo=NhL5OdF3tx4z

[2021-05-13 23:05] #47582 closed

[2021-05-13 23:17] #48646 closed

[2021-05-13 23:20] jvishnuvardhan commented on #25606
@gehring Is this still an issue for you. As `TF1.x` is out of support, can you try `TF2.x` [Here](https://colab.research.google.com/gist/jvishnuvardhan/8a7574cc3c93cd008607e6d87b853788/tf_perf_issues.ipynb) is a gist comparing `TF1.13` and `TF1.15`. Thanks!

I am closing this issue. Please open a new issue if the issue persists performance issue with `TF2.x` version. Thanks!

[2021-05-13 23:20] #25606 closed

[2021-05-13 23:38] bhack commented on #49172
Please import keras from Tensorflow:
[code]
And use `tf.keras`

[2021-05-13 23:48] jvishnuvardhan commented on #8348
Looks like this was resolved in `TF1.15.5`. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/00076bbceda2b8c1d5a3b8a69a2afd90/untitled.ipynb).

I am closing this issue as this was resolved. Thanks!

[2021-05-13 23:48] #8348 closed

[2021-05-14 00:28] Anuj040 commented on #49162
Here is the [gist](https://gist.github.com/Anuj040/77a5ec315d8c5693f7e5e8dcb1072484.j).
I tried both the methods _load_model()_ method in the gist.
so my question is what is the best way to save and load model if I am working with custom model.fit().
All help will be immensely appreciated.

[2021-05-14 01:06] zuoyuwei commented on #36580
I meet the same error, please ask for solution? Thanks

[2021-05-14 01:24] ad12 commented on #49172
Great, thanks!

[2021-05-14 01:24] #49172 closed

[2021-05-14 02:24] neuronblack commented on #49155
Why do I get different values when I use  Eager Execution  and Graph Execution

[2021-05-14 02:28] NeoZhangJianyu commented on #49113
@cowwoc Thank you!

[2021-05-14 02:36] tobegit3hub commented on #20680
Thanks @rmothukuru and I will close this issue.

[2021-05-14 02:36] #20680 closed

[2021-05-14 02:39] TylerADavis opened #49175 "Tensorflow GPU Instructions should be updated for TF 2.5 and CUDA 11.2"
## URL(s) with the issue:

https://www.tensorflow.org/install/gpu#windows_setup
https://github.com/tensorflow/docs/blob/master/site/en/install/gpu.md

## Description of issue (what needs changing):

[TensorFlow 2.5](https://github.com/tensorflow/tensorflow/releases/tag/v2.5.0) is built against CUDA 11.2 and cuDNN 8.1.0. However, the GPU instructions still refer to CUDA 11.0 and cuDNN 8.0.4. I beli

[2021-05-14 02:48] #39782 closed

[2021-05-14 03:34] foopub commented on #45446
Can you please elaborate on that?
I managed to compile 2.5 with Bazel 3.7.2, Python 3.9.5 running:

`bazel build --config=noaws --config=nogcp --config=nonccl --config=mkl //tensorflow/tools/pip_package:build_pip_package`

The only problem I had with TF itself was that I had to disable stacktrace using the method from this patch:
https://github.com/ribalda/meta-tensorflow/blob/master/recipes-frame

[2021-05-14 03:47] jairoMolina9 commented on #43030
**System information**

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow version: 2.5
- Python version: 3.9.2
- Installed using virtualenv? pip? conda?: pip
- CUDA/cuDNN version: 11.3/8.2
- GPU model and memory: GeForce GTX 1070

I changed the name "cupti64_2021.1.1.0.dll" to "cupti64_110.dll " but now I am getting
[code]

[2021-05-14 04:10] LazyDareDevil commented on #23728
ImportError: cannot import name 'Adam' from 'keras.optimizers' (C:\Programming\Python39\lib\site-packages\keras\optimizers.py)
while running Jupyter notebook in VSCode

[2021-05-14 04:21] jairoMolina9 commented on #43030
I fixed it by copying all the "cupti64_*.dll" from "C:\Program Files\NVIDIA Corporation\Nsight Systems 2021.1.3\target-windows-x64" into "C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.3\extras\CUPTI\lib64"
Found it in https://stackoverflow.com/questions/56860180/tensorflow-cuda-cupti-error-cupti-could-not-be-loaded-or-symbol-could-not-be/65847699#65847699

[2021-05-14 04:29] RookieZB opened #49177 "File system scheme '[local]' not implemented on TPU"
Hello, I have a task to train a model with millions of images using TPU, so I plan to load local data batch by batch when training. The main function to load data is shown below.

`def batch_processing(image):
    image1 = tf.image.decode_jpeg(tf.io.read_file(image), 3)
    return tf.image.resize(image1, [IMGSIZE, IMGSIZE])/255.

def data_loading(path, data, batch, buffer=1000, training=False):

[2021-05-14 04:48] tlemo commented on #48919
Just a drive-by suggestion: could `-gsplit-dwarf` (aka. DWARF Fission) help here?

Bazel has a handy [--fision](https://docs.bazel.build/versions/4.0.0/user-manual.html#flag--fission), which according to the documentation should be on by default for `dbg` configs, although according to this [bug](https://github.com/bazelbuild/bazel/issues/11561) this is not quite the case, so maybe it's something

[2021-05-14 04:59] #48663 closed

[2021-05-14 05:47] bersbersbers opened #49179 "TF2.5.0 pip package depends on keras-nightly"
**Describe the problem**

`pip install tensorflow==2.5.0` installs `keras-nightly`. Is that intended?

**Any other info / logs**
https://github.com/tensorflow/tensorflow/blob/v2.5.0/tensorflow/tools/pip_package/setup.py#L105-L107

[2021-05-14 05:59] #41743 closed

[2021-05-14 05:59] #40882 closed

[2021-05-14 06:00] #40278 closed

[2021-05-14 06:00] #37629 closed

[2021-05-14 06:00] #36657 closed

[2021-05-14 06:00] #36183 closed

[2021-05-14 06:00] zuoyuwei commented on #36580
I recreate a conda environment, pip install 2.x.x(in my code use 2.4.1), it will install python package for example numpy and so on. Then the problem can fix.

[2021-05-14 06:01] rllin opened #49180 "Support `zstandard` as a compression type for TfRecordDataset"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

### System information
- TensorFlow version (you are using): 2.4
- Are you willing to contribute it (Yes/No): Yes

###

[2021-05-14 06:02] rllin commented on #49180
@yongtang this is what we had spoken briefly about during the TF IO SIO meeting today

[2021-05-14 06:11] yongtang commented on #49180
@rllin As was discussed in the meeting, the extra compression support likely will be landed in tensorflow-io package. I will transfer the issue to tensorflow/io repo and we can continue the discussion there.

[2021-05-14 06:26] AndreyPlotkinOr commented on #43345
Managed to solve it by installing coreutils in msys2:
pacman -S coreutils

[2021-05-14 06:43] king398 commented on #49177
Instead of using something like tf.io use os or PIL
https://stackoverflow.com/questions/62870656/file-system-scheme-local-not-implemented-in-google-colab-tpu

[2021-05-14 07:36] bhack commented on #49155
It Is documented.
Check;
https://github.com/tensorflow/tensorflow/issues/45876
https://github.com/tensorflow/tensorflow/issues/46133

[2021-05-14 08:25] sidhomj opened #49181 "Problems with using tf.data.Datasets with MirroredStrategy with eager execution disables"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.4
- Python vers

[2021-05-14 08:31] xeisberg commented on #13463
I had a similar problem as I was preparing my data in gzip files to later use them on training a bert model.
The problem was solved by simply gunzipping (gunzip -r pre*) and then I could train the bert model without a problem. However, if I created the data without the gzip, it did work so for some reason. I had to first create the data with gzip and unzip, it was not possible to create tfrecord f

[2021-05-14 08:43] shkarupa-alex opened #49182 "Exception ignored in: function CapturableResource.__del__ after upgrading to TF 2.5"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS X 11.2.3
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.5.

[2021-05-14 09:00] mikolajpabiszczak opened #49183 "BUG: `RESHAPE` op is not always compatible with the `resize_tensor_input` method of the TF Lite Interpreter"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Big Sur 11.2.3
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): v2.4.0-49-g85c8b2a817f (2.4.1)

**Provide the text output from tflite_convert**
N/A

**Description**
`RESHAPE` op (as converted from `tf.reshape` + `tf.shape` functions) is not compatible w

[2021-05-14 09:30] sat2000pts commented on #49137
I have been playing around with the from_generator function as well

[code]

However issues still prevail, this time I am getting such an error message
`
TypeError: Failed to convert object of type <class 'tensorflow.python.framework.sparse_tensor.SparseTensor'> to Tensor. Contents: SparseTensor(indices=Tensor("cond_1/Identity:0", shape=(None, 3), dtype=int64, device=/job:worker/replica:0/task:0/d

[2021-05-14 09:43] sat2000pts opened #49184 "Is it possible to use Sparse Tensor in Distributed Tensorflow ?"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-05-14 09:54] Chugua commented on #49184
I have never had this problem before today, but now when I run code I have these errors:
[code]

[code]

[2021-05-14 09:55] Chugua opened #49185 "Installing tensorflow-gpu and upgrade grpcio"
I have never had this problem before today, but now when I run code I have these errors:

`!pip install tensorflow-gpu >> /dev/null`

[code]

`!pip install --upgrade grpcio >> /dev/null`

[code]

[2021-05-14 10:01] ucasiggcas commented on #39417
hi,dear
I have a similar problem with tf-gpu==2.4.1 with the [URL](https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/distribute/custom_training.ipynb#scrollTo=bAXAo_wWbWSb)
eight 3090 cards, cuda 11.3, driver 465 ,
so how to deal with this ?
thx

[2021-05-14 10:14] mrtpk123 opened #49186 "How to convert a channel first Keras model to channel last model?"
Hello,

I have a pre-trained Keras model (in h5 format) where all the layers operate on channel first data format. I want to convert this model to operate on the channel last data format (the default data format).
Does TensorFlow support this out of the box? Any help or pointers on how to do this is much appreciated.

For some clarity, the current model summary looks like this:

    Model: "model"

[2021-05-14 10:17] ucasiggcas opened #49187 "AttributeError: 'MirroredStrategy' object has no attribute 'experimental_run_v2'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (Linux Ubuntu 18.04):
- TensorFlow installed from (pip3):
- TensorFlow version (use command below):
`pip3 install tensorflow-gpu==2.4.1`
- Python version:3.8.0
- CUDA/cuDNN version: cuda11.3 driver 465.19
- GPU model and memory: eight 3090 cards

c

[2021-05-14 10:19] mikolajpabiszczak opened #49188 "TF Lite converter does not always identify the `hard_swish` activation"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Big Sur 11.2.3
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): v2.4.0-49-g85c8b2a817f (2.4.1)

**Provide the text output from tflite_convert**

N/A

**Description**
Currently TensorFlow Lite Converter can identify (i.e., convert to a single op) a hard

[2021-05-14 10:29] XiaoyuHy opened #49189 "Problem of optimisation with Tensorflow"
Hello,

My Tensorflow version is as below:

v1.12.1-53126-gd2083b259d1 (tf.version.GIT_VERSION),  2.5.0-dev20210318 (f.version.VERSION).

When I performed training using Gradient Tapes for deep GP models (https://github.com/FelixOpolka/Deep-Gaussian-Process), the code for one iteration of optimisation is as below:

for x_batch, y_batch in zip(bch_X, bch_Y):
	with tf.GradientTape(watch_accessed_var

[2021-05-14 10:29] ucasiggcas commented on #49187
I found that v2 wasn't the Attribute, as below
[code]
and i use the last
but got another bug
[code]

[2021-05-14 10:31] brianwa84 commented on #39417
We have recently added this notebook:
https://www.tensorflow.org/probability/examples/Distributed_Inference_with_JAX

The approach should be similar with MirroredStrategy, though there may be
some gymnastics needed to avoid a merge_call since
ReplicaContext.all_reduce puts one in unconditionally.

On Fri, May 14, 2021, 6:02 AM VideoRec ***@***.***> wrote:

[2021-05-14 10:34] UnickSoft commented on #49160
Also I tried to build from r2.5 branch and I have the same problem.

[2021-05-14 10:37] Chugua opened #49190 "GPU does not work"
[code]

[2021-05-14 10:59] #48749 closed

[2021-05-14 11:09] SarMesga opened #49191 "the ceritificate for mirror.tensorflow.org is invalid"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 20.04
- TensorFlow installed f

[2021-05-14 11:22] Adamage commented on #46236
@dgoldenberg-audiomack   I like how you used the word presumably. I have been struggling to make it work actually.

[2021-05-14 11:25] markub3327 commented on #49131
With `TF 2.5.0` the same output:
[code]

[2021-05-14 11:59] #48787 closed

[2021-05-14 12:01] lgeiger commented on #46380
@talumbau @abattery Has there been any progress on this issue?

Since the deprecation of the grappler mixed precision training workflow people using the new recommended mixed precision training with Keras are not able to convert models to TFLite anymore without additional code. This is very problematic if the workflow relies on storing saved models which are expected to be reloadable without any c

[2021-05-14 13:11] bhack commented on #49190
Can you share a very very minimal standalone code example that we could copy, paste and run or a Colab to reproduce this?
Please fill also the ISSUE template as it was removed.

Thanks.

[2021-05-14 13:15] feranick commented on #49150
Still present for TF 2.5.0

What are the library requirements for building TF2.5.0? Documentation still reference 2.4.0, and that is outdated.

[2021-05-14 13:18] bhack commented on #49185
Can you try with ```!pip install --upgrade tensorflow-gpu >> /dev/null```

[2021-05-14 13:19] bhack commented on #49182
Can you share a very very minimal standalone code example that we could copy, paste and run or a Colab to reproduce this?

[2021-05-14 13:21] Chugua commented on #49190
You can have an access through my Google Drive: https://drive.google.com/drive/folders/10KVkoMz4p5siSrO2LGWP0BU0pYjX_7U2?usp=sharing

[2021-05-14 13:25] Chugua commented on #49185
There is the same Error:

`!pip install --upgrade tensorflow-gpu >> /dev/null`

[code]

[2021-05-14 13:27] bhack commented on #49190
Please minimize your code surface with a single minimal Colab example to reproduce this cause It will take time to just read and analyze long examples.

[2021-05-14 13:29] bhack commented on #49185
Are you trying to install this in a fresh python env?

[2021-05-14 13:30] bhack commented on #49185
On colab: `pip install --upgrade tensorflow-gpu` will install tensorflow 2.5.0.

[2021-05-14 13:35] Chugua commented on #49190
The code is whole, you can't only part of it. But in the beginning, there is also an Errors which was not before:

`!pip install tensorflow-gpu >> /dev/null`

[code]

`!pip install --upgrade grpcio >> /dev/null`

[code]

[2021-05-14 13:37] dgoldenberg-audiomack commented on #46236
@Adamage LOL I was exercising a bit of caution b/c I've not evaluated Big DL library yet :)

[2021-05-14 13:39] Chugua commented on #49185
Yes, I select "Factory reset runtime" in Colab and next run this code but the Error is the same

[2021-05-14 13:42] bhack commented on #49185
Why you need to install grpcio explicitly? TF 2.5.0 already install `grpcio~=1.34.0`

[2021-05-14 13:53] nikitamaia commented on #49048
Hi @atyshka, the warning you're seeing refers to the `AutoShardPolicy` used when doing distributed training. This is different from saving a dataset in shards. Autosharding a dataset over a set of workers means that each worker is assigned a subset of the entire dataset. The available policies are FILE, DATA, and AUTO.

However, if you're using `MirroredStrategy`, there is only one worker, so ther

[2021-05-14 13:56] Chugua commented on #49185
Okay let's remove it but `pip install --upgrade tensorflow-gpu` still has an Error and when I run the model to train, training time is totally huge:
`4/10752 [..............................] - ETA: 92:54:27 - loss: 0.9374 - acc: 0.4141`

While before today it was just 2 hour.

[2021-05-14 14:33] bhack commented on #49185
Ok but i think this is tracked at https://github.com/tensorflow/tensorflow/issues/49190 and you can close this.

[2021-05-14 14:36] Chugua commented on #49185
But the problem is not solved here

[2021-05-14 14:38] bhack commented on #49185
Yes but we cannot have duplicate tickets

[2021-05-14 14:40] Chugua commented on #49185
Okay, I will close this, but please help to solve it, because I have almost finished my project and suddenly this issue appeared...

[2021-05-14 14:42] #49185 closed

[2021-05-14 14:53] ymodak commented on #49186
You may try https://www.tensorflow.org/api_docs/python/tf/keras/backend/set_image_data_format
[code]

[2021-05-14 14:59] bhack commented on #49190
Please use the default TF 2.4.1 version in Colab (don't execute ``!pip install --upgrade tensorflow``):
[code]
Wth the new TF 2.5.0 version you will not have the GPU available in Colab (probably CUDA versions misalignment)

You can close this and subscribe and upvote https://github.com/googlecolab/colabtools/issues/2013

[2021-05-14 14:59] #37874 closed

[2021-05-14 15:02] Chugua commented on #49190
is it possible to use an older version of tf to continue my analyses?

[2021-05-14 15:05] bhack commented on #49190
Yes don't execute any `pip install tensorflow`just use the `import` directly.

[2021-05-14 15:06] uebian opened #49193 "Can't save checkpoint when using multi-cells RNN"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.4.0-49-g85c8b2a817f 2.4.1
- Python version: Python 3.7.6
- CUDA/cuDNN version: 11.3
- GPU model a

[2021-05-14 15:07] Chugua commented on #49190
How to import previous version of tf? Because I do need to use GPU in colab.

[2021-05-14 15:08] bhack commented on #49190
The default Is already installed

[2021-05-14 15:12] bhack commented on #49190
On your local setup `pip install tensorflow==2.4.1`

[2021-05-14 15:13] ee17b031-iittp commented on #49168
@bhack
Thanks, I replaced it tf.keras.Model module and it's working now

[2021-05-14 15:14] abhijit1247 commented on #49168
Thanks, I replaced it tf.keras.Model module, and it's working.

[2021-05-14 15:14] saikumarchalla commented on #49130
@KhawajaAbaid Could you please  submit  a new issue on models [repo](https://github.com/tensorflow/models/issues/new/choose) since the issue is more related TF OD API.Thanks!

[2021-05-14 15:17] bhack commented on #49168
Can you close this?

[2021-05-14 15:18] #49168 closed

[2021-05-14 15:51] ymodak commented on #49150
TensorFlow 2.5 pip packages are now built with CUDA11.2 and cuDNN 8.1.0
See https://github.com/tensorflow/tensorflow/releases

[2021-05-14 15:57] feranick commented on #49150
Compiling without TensorRT support works with cuda-11-2 and cudnn (8.0, 8.1, 8,2). The problem is when support for TensorRT is enabled.

[2021-05-14 16:15] srjoglekar246 commented on #49160
@lu-wang-g Can you check if @UnickSoft 's method of building the application is correct?

@UnickSoft Does the model run w/ GPU delegate with the Java API? Or you just tried the CPU path on Java?

[2021-05-14 16:25] SisComplex opened #49194 "Build libtensorflowlite.so with TensorFlow ops supported for Android Error"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):ubuntu20.0.4
- Mobile device (e

[2021-05-14 16:25] ymodak commented on #49150
Is the build failing for TF 2.4 as well for you?

[2021-05-14 16:34] mdanatg commented on #35065
Side note: a bug in tf.while_loop itself caused tf.while_loop to run sequentially, even in graph mode. Eager tf.while_loop is still identical to running a Python while.

[2021-05-14 16:34] #35065 closed

[2021-05-14 16:55] bhack commented on #49190
Can we close this?

[2021-05-14 16:57] bhack commented on #49193
Can you share a very minimal standalone example or a Colab that we could copy, paste and run?

[2021-05-14 17:03] feranick commented on #49150
It fails there too, but I need to do more cross testing. I will report as soon as I am done. Thanks for your patience.

[2021-05-14 17:20] ymodak commented on #47450
This is fixed latest tf-nightly. See [gist](https://colab.research.google.com/gist/ymodak/e9a4b5c63742ab13bd2eb94718681190/47450.ipynb)

[2021-05-14 17:21] mrtpk123 commented on #49186
Thank you @ymodak  for your resposne.

Yes, it didn't work. The model is pretrained and is in channel first format. Setting `tf.keras.backend.set_image_data_format('channels_first')`  makes the default ordering to be channels_first and didn't affect the loaded model.

[2021-05-14 17:27] OliverP-1qbit opened #49195 "Divide samples into multiple samples in tf.data input pipeline"
**System information**
- TensorFlow version: 2.4.1
- Are you willing to contribute it: No

**Describe the feature and the current behavior/state.**

[Stack overflow link](https://stackoverflow.com/questions/67439611/chunk-tensorflow-dataset-records-into-multiple-records)

I have an unbatched tensorflow dataset that looks like this:

[code]

I want to divide each sample into multiple samples by sli

[2021-05-14 17:33] BradBarnich commented on #48868
I was able to get past this error by doing `os.add_dll_directory("C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v11.2/bin")` before importing tensorflow

[2021-05-14 17:37] OliverGuy commented on #46635
I would love to see this fixed, especially as iterating over RaggedTensors seems to not properly work in a lot of cases.

[2021-05-14 17:44] bhack commented on #49186
Have you tried to resave your model as in https://github.com/tensorflow/models/issues/3167#issuecomment-371410527 ?

[2021-05-14 17:57] ymodak commented on #46511
The original code snippet is fixed with latest release TF 2.5.
See [gist](https://colab.research.google.com/gist/ymodak/3ada8cf90a99cd743f5c28cb618439d9/47450.ipynb)

[2021-05-14 17:59] #48579 closed

[2021-05-14 18:00] mrtpk123 commented on #49186
Thank you for the pointer.

I have only the trained model. From the comment (2nd part) @bhack  mentioned do I have to do "network surgery"?

If yes, can you share a sample code on how it is done on a Conv2D layer?

Any help is really appreciated. Thank you.

[2021-05-14 18:17] bhack commented on #49186
I think that without the training model it could be a nice tutorial for Keras-io. Probably you could open a request at https://github.com/keras-team/keras-io

[2021-05-14 18:20] bhack commented on #49186
If you will track the request there please close this and leave a reference to the new ticket.

[2021-05-14 18:26] mrtpk123 commented on #49186
I will open a request at keras-io, but I'm would be really grateful if you could add in an example on how to do this for just one layer (say, Conv2D).

[2021-05-14 18:38] bhack commented on #49186
I don't know if you are doing this for performance or not but e.g. for you Conv2d request if you see the internals there are some constrains on the format in different places or implicit/internal conversions.
E.g. Search `NHWC` ad `NCHW` in this source code:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/conv_ops.cc.

[2021-05-14 18:58] mrtpk123 commented on #49186
Thank you.  This is new info.

Does this [line](https://github.com/tensorflow/tensorflow/blob/9d461da4cb0af2f737bbfc68cca3f6445f1ceb60/tensorflow/core/kernels/conv_ops.cc#L86) - `CHECK(data_format == FORMAT_NHWC) << "Generic conv implementation only "` at `conv_ops.cc` mean that internally Conv2D operates in NHWC?

So, if I parse Conv2D layers in the model and set their channel_format as NHWC, wil

[2021-05-14 19:06] bhack commented on #49186
That was for  generic and e.g. also on CPU you can see https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/conv_ops.cc#L246-L247

[2021-05-14 19:09] mrtpk123 commented on #49186
I have raised an [issue](https://github.com/keras-team/keras-io/issues/467) at keras-io. Will wait for their response to convert the model.
Thank you for your help and pointers. Really helpful.

[2021-05-14 19:40] Wmir commented on #49112
hi, UsharaniPagadala can you please elaborate a little bit more which template I need to fill? In the template section, i was asked three things that were not helpful for my scenario.

[2021-05-14 19:41] rohanshingade commented on #48973
Closing this. exported the weights in pickle file. Thanks @bhack

[2021-05-14 19:41] #48973 closed

[2021-05-14 19:50] rohanshingade opened #49196 "Error in tf.keras.metrics.AUC"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-05-14 19:57] bhack commented on #49196
Cause It is available from TF 2.5.0

Please upgrade your TF version

[2021-05-14 19:58] bhack commented on #49196
p.s. in Colab `pip install --upgrade tensorflow`

[2021-05-14 19:59] jvishnuvardhan commented on #29576
@183amir Is this still an issue for you? I ran your code with `TF2.4.1` and see consistent names for `model1` and `model2` . [Here](https://colab.research.google.com/gist/jvishnuvardhan/d573c4de1f69615083f357d33dbd701e/untitled.ipynb) is a gist for you reference. Thanks!

Please verify once with recent TF versions and close the issue if this was resolved for you. Thanks!

[2021-05-14 20:34] askemottelson commented on #47710
mind sharing the wheel? i can't get the cross compilation to output a working wheel for 2.5.0

[2021-05-14 20:38] #49186 closed

[2021-05-14 21:12] jvishnuvardhan commented on #30846
@zachmayer Is this still an issue for you? Can you please share a simple standalone code to reproduce the issue? I have checked your code from the other thread and attaching [here](https://colab.research.google.com/gist/jvishnuvardhan/d11127b6e9bf3024c469daae969015ff/untitled979.ipynb)  as a gist for our reference. Thanks!

[2021-05-14 21:17] avroshk opened #49198 "tflite_runtime pip package built using bazel is missing `metrics_portable` module"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04.5 LTS (runn

[2021-05-14 21:18] feranick commented on #49150
Update: it looks like the issue is with tensorRT version 8, regardless of the version of cuda or cudnn, as well as for TF 2.4 or 2.5. When trying to compile with tensorRT 8 (specifically with libnvinfer8, libnvinfer-dev, libnvinfer-plugin8 libnvinfer-plugin-dev), it fails. However, when using tensorRT version 7, it seems to compile just fine. In fact I managed to compile earlier TF 2.5.0rc just fi

[2021-05-14 21:34] bhack commented on #49198
Do you want to submit a PR?

[2021-05-14 21:46] lgeiger commented on #49179
/cc @scottzhu @mihaimaruseac do you mind taking a look at this?

[2021-05-14 21:50] feranick commented on #49150
As the last supported version of cuda and libcudnn for tensorrt 7 are 11.1 and 8.0.5, respectively, I am currently trying a couple of builds:
1. cuda-11-2, libcudnn 8.1.1, while retaining tensorrt 7 built for cuda-11-1.
2. Test build using nightly TF 2.6.

[2021-05-14 21:58] sxnguyen commented on #31800
Hi,
Can someone confirm that TF 2.5 has this fix? Reading the release note for 2.5, and I don't see FIPS mentioned.
Thanks.

[2021-05-14 23:02] #49181 closed

[2021-05-14 23:05] ymodak commented on #49196
This is also mentioned in TF 2.5 release notes. See https://github.com/tensorflow/tensorflow/releases

[2021-05-14 23:24] jprosser commented on #31800
I can confirm that with v2.5 I no longer see the FIPS errors whereas with 2.4.1 I do.

2.4.1 errors:
File "/data/users/jprosser/tf/venv/lib64/python3.6/site-packages/tensorflow/python/framework/load_library.py", line 67, in load_op_library
    module_name = hashlib.md5(wrappers).hexdigest()
ValueError: error:060800A3:digital envelope routines:EVP_DigestInit_ex:disabled for fips

[2021-05-14 23:33] llodds commented on #48999
@tilakrayal
You can close the issue. If I am training with bigger batch/model size, I saw CPU usage grows over %1000.

[2021-05-14 23:35] llodds commented on #49027
@tilakrayal
I did another round of testing and found the issue only occurs when I am training with a small model, and the issue appears randomly. I will report back when I see more consistent behavior.

[2021-05-15 00:42] yuefengz commented on #48957
It is likely that your workers cannot access the chief where the generator is placed. Could you add chief to the cluster_spec?

[2021-05-15 00:57] abattery commented on #49183
This is an intended behavior. If you want to resize input tensors without any issues, the corresponding TF model should have dynamic dimension support on the specific dimensions, which should be overided.

[2021-05-15 00:57] #49183 closed

[2021-05-15 00:58] abattery commented on #49188
@thaink could you take a look?

[2021-05-15 00:59] abattery commented on #49194
@thaink could you take a look?

[2021-05-15 01:00] abattery commented on #49198
@yyoon could you take a look?

[2021-05-15 01:50] zachmayer commented on #30846
@jvishnuvardhan I was able to fix the issue by calling `.to_numpy()` on my target for training.  I think it was causing a problem because it was a pandas series.

Let me try to make a reproducible example.

[2021-05-15 01:53] zachmayer commented on #30846
From my ticket in the other repo: https://github.com/plaidml/plaidml/issues/358

1. Make sure you are using the plaidml backend for keras
2. Run:
[code]

[2021-05-15 02:08] zachmayer commented on #32737
Here is a reproducible example.  Some notes:
1. If you are using sparse data, you must call `x.sort_indices()` before fitting a keras model.  It sort of feels like maybe keras should do that for you?
2. My specific error was caused by calling model.fit on a pandas.Series (but the error message did not make this at all clear)!  I suggest that maybe keras either: a. raise an exception on pandas seri

[2021-05-15 02:13] zachmayer commented on #32737
The traceback when the fit fails is below.  What's interesting is that the pandas series isn't part of the traceback.  Converting numpy to pandas somehow changes how the sparse matrix is indexed:

[code]

[2021-05-15 02:33] feranick commented on #49150
Cuda-11-2, libcudnn 8.1.1, while retaining tensorrt 7 built for cuda-11-1, can compile just fine.

[2021-05-15 02:43] SisComplex commented on #49194
Thank you, I took the same operation to compile, V.2.5.0, V2.5.0-rc3, switch to Bazel3.1.0 to compile V2.4.0 all succeeded, only tf-nightly failed

[2021-05-15 02:59] suraj-maniyar commented on #40157
@thaink @terryheo
Actually, I was able to use the Bazel build for my project. Thanks a lot for your help.

[2021-05-15 03:00] uebian commented on #49193
Thanks for your reply, and I have found the mistake I made when trying to write a minimal standalone example.

[2021-05-15 03:00] #49193 closed

[2021-05-15 03:35] Zachary4biz commented on #39316
I have this "bug" in applying "sequence_numeric_column" tf1.15.
exactly same error! but what should I do to fix this?
I've tried reinstall tensorflow, nothing changes. Plz help

[2021-05-15 05:39] AdityaKane2001 opened #49201 "Tensorflower gardener reverting changes made in PRs"
I had a couple of PRs merged before release of 2.5, and one after that. None of the changes in those PRs are now reflected in the code on master branch. Is this some internal process?
The PRs before release are  #48000 #48491 and the one after the release is #48610

In all the three PRs, if we see in the History section of the file, we see Tensorflower gardener pushing the changes, but reverting t

[2021-05-15 06:02] kulinseth opened #49202 ""Check failed: IsAligned()" for pluggable devices with custom device memory allocator"
**Describe the current behavior**
We are using custom memory allocator registered for pluggable device. And while running unit tests like :while_v2_test.py" we are running into issue of "Check failed: IsAligned()"
https://cs.opensource.google/tensorflow/tensorflow/+/master:tensorflow/core/framework/tensor.cc;l=678

**Describe the expected behavior**
Since we are using our own memory allocator for

[2021-05-15 06:50] dfybc opened #49203 "convert a keras model and load it on pi3, can not work"
I convert a keras h5 model exported by teachable maching image classfication  to a tflite quantized model.
and load the converted model on pi3(with tflite-runtime 2.1.0), such error happend:
  didn't find op for builtin opcode 'conv_2d' version '5'

also i install tensorflow 2.4.0-rc2 on pi3.
so i tried to load the converted model , no error happend,
but the prediction accuracy is not good at all.

[2021-05-15 09:17] Jeffin21 commented on #48927
an update on this issue here full trace

[code]

[2021-05-15 09:19] EdouardDKP opened #49204 "Model re-compilation updated under Distributed Mirror Strategy issue"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-05-15 10:10] wojciechp6 commented on #48957
@yuefengz Thanks, it works! It was only lack of chief node in cluster_spec. But I think it is important to mention this requirement in documentation for future. Thanks for help!

[2021-05-15 10:10] #48957 closed

[2021-05-15 11:13] bhack commented on #48927
I don't think It is available in recent TF versions https://stackoverflow.com/questions/59825444/modulenotfounderror-no-module-named-tensorflow-tools-graph-transforms-when-us

Honestly I think this whole ticket is more on the Opencv side and Its conversion/importing tools and we could close this.

[2021-05-15 11:16] #49146 closed

[2021-05-15 11:16] bhack commented on #49203
I don't understand what It is the configuration that It is "working well".

[2021-05-15 11:29] bhack commented on #49201
In general, we are trying to be a little bit more transparent about this process and to automate the notification to the contibutors.

See https://github.com/google/copybara/issues/155

/cc @mihaimaruseac @nikitamaia @theadactyl

[2021-05-15 11:42] Jeffin21 commented on #48927
@bhack my project is in  tf 1.15 , not 2.0

[2021-05-15 11:43] bhack commented on #48927
Yes but we don't support TF 1.x anymore here.

[2021-05-15 11:44] Jeffin21 commented on #48927
damn

[2021-05-15 11:45] bhack commented on #48927
Just as an extra side note that symbol is not exposed anymore. See https://github.com/tensorflow/tensorflow/issues/33352

[2021-05-15 11:47] Jeffin21 commented on #48927
@bhack am able to train and and i want the pb file to work in in opencv dnn something like this https://github.com/opencv/opencv/wiki/TensorFlow-Object-Detection-API#use-existing-config-file-for-your-model

[2021-05-15 11:50] bhack commented on #48927
Why you don't open a ticket there with a request of adding a column of the specific TF versions required/tested?

I don't think that we could anything else here.

[2021-05-15 11:52] Jeffin21 commented on #48927
@bhack okay i got it,  Thanks

[2021-05-15 11:56] AdityaKane2001 commented on #49201
@bhack
Ok,  but what does that mean about the PRs? Are they reassessed internally or something?

Also, on a side note, about the DepthwiseConv1D issue, I couldn't get it to build on my PC with a quarter of the resources. Thus, I will  try to use colab for that henceforth.

[2021-05-15 12:17] bhack commented on #49201
It about something that was gone wrong internally so you are not the only one and we have other rollback conmit. You can see a recent one at https://github.com/tensorflow/tensorflow/commit/07dd16b3a09e0cfa007d9694251dd6b2cbdf36ad

About Depthwise please leave a comment about your compiling experience/issues in its own ticket as It could have something in common to other contributors candidates exp

[2021-05-15 12:45] AdityaKane2001 commented on #49201
Yes, I saw that some of the merged PRs by external contributors were rolled back. So, I suppose those will be merged again later, right?

Sure, will do

[2021-05-15 12:48] AdityaKane2001 commented on #39947
@angerson
Tried to build using docker using a quarter of the total resources. Build failed with the following error:
[code]

[2021-05-15 12:50] pythonic2020 commented on #49190
Hello,

I just installed tf 2.5.0 and also find that my GPU is suddenly not detected.  @bhack above wrote that could be caused by "(probably CUDA versions misalignment)."  Could we get more info on that misalignment?  Will a future update of 2.5.0 correct this misalignment?  Must I update the various CUDA-related NVIDIA packages I installed to correct the problem?

Is re-installing tf 2.4.1 using

[2021-05-15 13:04] bhack commented on #49190
TF 2.5.0 pip works with Cuda 11.2

[2021-05-15 13:11] pythonic2020 commented on #49190
Thank you for responding.

Hmm.  I have 11.3 installed.  What should i do?  Is there a way to downgrade CUDA to 11.2?

I just downgraded tf to 2.4.1 (and tensorflow-io) and my GPU is recognized again, thank heavens.

[2021-05-15 13:16] bhack commented on #49201
I don't think so as on Github you cannot re-open/unmerge PRs.

This why I want to improve the bot to automatically notify PR and re-open Its own linked ISSUES (when available) on rollbacks.

Then the internal Team member/reviewer can add additional comments about what happened internally and if the contributor can do something else and re-open a new "clone PR".

Probably there is also a better pro

[2021-05-15 13:22] bhack commented on #49190
I only know that there was an issue compiling with 11.3 from sources. Probably you can try to comment at https://github.com/tensorflow/tensorflow/pull/48803

[2021-05-15 13:24] pythonic2020 commented on #49190
Ok, thanks for the info.

[2021-05-15 13:26] bhack commented on #48927
I think you can close this.

[2021-05-15 14:03] AdityaKane2001 commented on #49201
Got it, thanks

[2021-05-15 14:21] DarshanDeshpande opened #49205 "SSIM performance degradation in TF v2.5.0"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Custom
- OS Pl

[2021-05-15 14:22] #49205 closed

[2021-05-15 14:26] DarshanDeshpande opened #49206 "SSIM performance degradation in TF v2.5.0."
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2021-05-15 14:32] bhack commented on #49206
Are you sure isn't related to the recurrent Colab issue we have on new releases?
See https://github.com/googlecolab/colabtools/issues/2013

[2021-05-15 14:34] vatsDivyank opened #49207 "Didn't find op for builtin opcode 'RESIZE_BILINEAR' version '3'"
System Information:
TensorFlow 2.3
Model Architecture - MobileNet V1
Arduino_TensorFlow Lite 2.4.0 Alpha

I fined Tuned Mobilenet V1 for face recoginition and later quantized using full integer Quantization Technique and later converted it to .cc format to upload it to Arduino Nano 33 BLE Sense. I used all_ops_resolver function but when i ran the Model on Microcontroller, invoke failed() and error

[2021-05-15 14:35] DarshanDeshpande commented on #49206
@bhack it is possible but if that is the case then why do some Colab environments have 2.5.0 by default?

[2021-05-15 14:40] #48678 closed

[2021-05-15 15:05] bhack commented on #49206
Currently I have only found `2.4.1` default if the specific Colab notebook  doesn't have an explicit `pip install tensorflow`

[2021-05-15 15:18] bhack commented on #49207
Yes this opcode is quite fresh. See https://github.com/tensorflow/tensorflow/pull/48617

[2021-05-15 15:51] Saduf2019 commented on #36252
@josdewitte
Can you please try on the latest stable version 2.4.1 and let us know if this is still an issue.

[2021-05-15 15:54] Saduf2019 commented on #37935
@georgescortaru
Could you pease try on the lastest stable version of tf 2.4.1 and let us know if this is still an issue.

[2021-05-15 15:57] Saduf2019 commented on #35842
@vistart
Could you please try on the latest stable tf version 2.4.1 and let us know if this is still an issue.

[2021-05-15 16:19] feranick commented on #49150
Compiling TF2.6.0-nightly with Cuda-11-2, libcudnn 8.1.1, with TensorRT 8 fails.

[2021-05-15 16:24] Saduf2019 commented on #39453
@gargargar
I ran the code on tf-nightly and see a different warning message, please refer to this [gist here](https://colab.research.google.com/gist/Saduf2019/7ad4cc84e1dd683198edbd85f355701b/untitled602.ipynb)

[2021-05-15 16:35] Saduf2019 commented on #38909
@AdrienCorenflos
please refer to [this gist](https://colab.research.google.com/gist/Saduf2019/2870c0a2de935e5d7a775dd9a155fbe9/untitled602.ipynb) and let us know if the latest tf version helps.

[2021-05-15 16:39] Tingbopku commented on #28840
I just wanna record the model's output value as numpy ndarray in each train_step, when calling model.fit() or .evaluate(), not only calculate the metrics and update trainable variables.
Are there any solutions?

[2021-05-15 16:42] Saduf2019 commented on #39386
@CodeJjang
Could you please verify on latest stable tf version if this is still an issue.

[2021-05-15 16:55] Saduf2019 commented on #48579
@jocelynbaduria
Can you please confirm.

[2021-05-15 17:02] lu-wang-g commented on #49160
The way of building the TFLite .so files looks good to me.

The error seems to come from the code [here](https://github.com/tensorflow/tensorflow/blob/5854c4a9c86ccb44d7bc43cfd2143ea5a56b2d8c/tensorflow/lite/delegates/gpu/common/model_builder.cc#L3048-L3069), where I think `allow_quant_ops` is not turned on (be default it's not, see [enable_quantization](https://github.com/tensorflow/tensorflow/tr

[2021-05-15 17:29] Piyushagg19 commented on #23728
@LazyDareDevil: I'm facing the same issue. Can you please explain a bit more about '_reducing the importing keas and submodules_'? It would be really great if you could also attach a code snippet.
Thanks!

[2021-05-15 17:55] #48927 closed

[2021-05-15 18:20] mihaimaruseac commented on #49201
So, internally all Google code (from all projects) is in one big repository. We have tests for other projects that depend on TF. when any test is broken, there is an automatic rollback phase. Sometimes, some Googler that saw the PRs is able to notify the PR that it got rolled back, provide help as to why that happened, etc. But this is not a given, sadly.

[2021-05-15 18:32] bhack commented on #49201
I still think that we have margins to automate the bot as copybara API are available.

[2021-05-15 18:33] DarshanDeshpande commented on #49206
Okay, that was a problem on my end. Apparently, pip installing Tensorflow IO automatically upgrades tensorflow version to 2.5.0 to go with its 0.18 version. Closing this issue. Thanks!

[2021-05-15 18:33] #49206 closed

[2021-05-15 18:58] chrisbutner opened #49208 "Model.fit() + LearningRateSchedule ignores initial_epoch/steps_per_epoch, giving wrong learning rates when resuming from checkpoints"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes (see below)
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab, Ubuntu 20.04, Windows 10
- TensorFlow installed from (source or binary): (preinstalled), (custom package), binary (pip)
- TensorFlow version (use command below): v2.4.1-0-g85c8b2a817f 2.4.1,

[2021-05-15 19:22] mikolajpabiszczak commented on #27303
@renjie-liu / @jdduke: are there any plans to support RFFT/STFT in TF Lite with dynamic input? Currently it is not possible (the issue mentioned by @pierremotard 4 posts above is the example of this impossibility).

[2021-05-15 20:23] sunyinqi0508 commented on #48868
Thanks, it saved my day!

[2021-05-15 20:33] UnickSoft commented on #49160
@srjoglekar246 I tried to use Java API with GPU. With Java API it loads and work correct (because I don't see any messages in log and GPU version is work much faster). I haven't build Java module by myself. I will try to add additional log to find a reason for a problem.

[2021-05-15 22:17] UnickSoft commented on #49160
We have found a reason of problem. Sorry for wasting time. It is my initialization code:

[code]

I override delegate->Prepare. In this function I don't pass second parameter to function GetOpsToReplace (by default this parameter is false).

Maybe I should take code from official docs, because I took this code from tensorflow/lite/delegates/gpu/common/testing/tflite_model_reader.cc and some other

[2021-05-15 23:07] mihaimaruseac commented on #49179
It wasn't intended but given than there are no more `keras-nightly` releases with the same major.minor, this is effectively frozen.

We will patch in a future patch release once Keras has a new stable release, if possible. If not, we'll fix in 2.6

[2021-05-15 23:13] mihaimaruseac commented on #48496
The 404 warnings when fetching dependencies from the mirror can safely be ignored.

I was able to build with clang in the past using `CC=clang bazel build ...`

[2021-05-15 23:17] mihaimaruseac commented on #49191
#37284

[2021-05-15 23:17] #49191 closed

[2021-05-15 23:23] mihaimaruseac commented on #48748
Not a TF issue. Your system might be too slow for Bazel to fully unpack. In any case, this is a Bazel issue, should be opened in the Bazel repository.

[2021-05-15 23:23] #48748 closed

[2021-05-15 23:46] bkocis commented on #25939
maybe this can help someone in 2021.
- use base dockerfile from tensorflow github (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/dockerfiles/dockerfiles/gpu.Dockerfile)
- modify it for your cuda version

Edit the base image, which in this case is nvidia/cuda:11.0-base-ubuntu18.04. Check tags on tensorflow dockerhub (https://hub.docker.com/r/tensorflow/tensorflow/tags?page=1

[2021-05-16 00:29] bhack commented on #25939
We have this PR now for some images https://github.com/tensorflow/tensorflow/pull/48371

[2021-05-16 00:31] KumaTea opened #49209 "Linking of rule '//tensorflow/python:_pywrap_tensorflow_internal.so' failed"
### System information
- OS: Linux Debian 9 Stretch
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.5.0
- Python version: 3.6 - 3.9
- Installed using: pip
- Bazel version: 3.7.2
- GCC/Compiler version: 6.3.0
- CUDA/cuDNN version: N/A
- GPU model and memory: N/A

### Describe the problem

Hi.

I'm trying to build TensorFlow v2.5.0 on a Raspberry Pi 4B. The environment

[2021-05-16 02:12] bhack commented on #48919
See also https://github.com/tensorflow/tensorflow/issues/13295

[2021-05-16 03:28] ashutosh1919 opened #49210 "Windows Bazel build always fails"
While raising pull request, windows bazel tests always fails because of build failure. For example, you can look at this PR #49018

**Describe the expected behavior**
Build should fail only if test cases are failing.

**[Contributing](https://www.tensorflow.org/community/contribute)** - Do you
want to contribute a PR? (yes/no): - Briefly describe your candidate solution
(if contributing): I want t

[2021-05-16 04:24] AdityaKane2001 commented on #49201
@mihaimaruseac
Thanks for the explanation. In that case is there any way that I can make sure that future PRs are clean?