[2017-06-13 02:03] DjangoPeng commented on #10642
libcuda.so.1 is in my `/usr/local/cuda/lib64`, I attached the ldconfig of `_pywrap_tensorflow_internal.so` as below:
[code]

[2017-06-13 02:16] StarRain-L commented on #10483
Thank @petewarden , also  thank you. can close this issue now!!

[2017-06-13 02:18] byronyi commented on #9506
Any updates from TF team?

[2017-06-13 02:19] thanard commented on #1095
How can I output a full Jacobean matrix to `grad_func`, which has size  |output| x |input|?

[2017-06-13 02:20] x86vk commented on #10656
I know that recompiling the tensorflow with capability 5.0 will work, but I am just wondering why tensorflow is saying that my GPU has only compute capability 5.0.

I am using nvidia driver 375.66

[2017-06-13 03:11] wodesuck commented on #7162
@lissyx That's right.

Here is the code, it is not suit for general use (maybe someone have a node name "while" or a while loop name without "while"), so I don't add it in the PR. Besides, there's more works could do to optimize a specific model (run some benchmark & try to optimize the bottleneck), I had customized a lot in my `transform_graph`.
[code]

[2017-06-13 03:13] settle opened #10664 "Forcing symmetric quantization"
### Describe the problem
For various hardware and software performance reasons I want to force a symmetric quantization.  I figure the quickest way to try this out and compare its accuracy with the existing asymmetric quantization is to set the quantization max to be the negative of the min everywhere in "ls tensorflow/core/kernels/\*quant\*".  Am I missing any other files that need to be modified

[2017-06-13 03:19] lxwgcool opened #10665 "The issue of compling from source code: undeclared inclusion(s) in rule '@nccl_archive//:nccl'"
Hey guys,

I can compile the cpu version of tensorflow 1.2.0-rc2 without any problem, however, i am blocked when i try to compile the gpu version. I spend almost the whole day to install tensorflow 1.2.0-rc2 gpu version in our cluster, however there is no lucky.

### Here is the error from the terminal:

ERROR: /home/hpc-xin/.cache/bazel/_bazel_hpc-xin/c5e302e32d7acb9c3e4fce8142d1cd66/external/ncc

[2017-06-13 03:21] SteveBetter commented on #9697
I have the same problem on Raspberry pi 3 with TensorFlow 1.2.0-rc2, both gcc 4.8 and gcc 4.9.

[2017-06-13 04:27] adrianog commented on #7823
Hi

Has this been released?

[2017-06-13 04:56] adler-j commented on #1095
Sure can, in my example above you replace

[code]

with

[code]

with that said, this is in general inferior to an explicit computation.

[2017-06-13 05:53] ahundt commented on #8787
https://github.com/fchollet/keras/pull/6928 unit tests pass

[2017-06-13 06:33] hsingchien commented on #7705
I had the same problem. Followed your instruction (b) and the problem is solved! Thanks a lot!

[2017-06-13 07:08] Scitator commented on #10597
@martinwicke Thanks, now I understand. **And it's not a bug, it's a feature :)**
Python generator cannot be used from several threads, so the best way to give each thread it own one.
But now we have an issue, when the data from threads is the same. For me, I solve it through adding a thread number parameter in `generator_input_fn` and split data correctly in it. [link](https://github.com/Scitator/

[2017-06-13 07:26] martinwicke commented on #10597
Yes, you have to take care of data splitting yourself. Shuffling should work fine -- unless you set the random seed in each of the threads.

I don't know what the loss is doing, I can imagine that it does all kinds of terrible things, for instance it may return all zeros, and only because you use gradient clipping do you even get a non-inf loss. I don't know. I'm pretty sure you didn't see valid d

[2017-06-13 07:33] sleepfin opened #10668 "Get strange results by running sparse_tensor_dense_matmul_op_test.py"
When I run sparse_tensor_dense_matmul_op_test.py with large n,m,k
I get:
[code]
It is strange that `dt(sparse)/dt(dense)` are very different when m=1821 -> 1820
BTY, I set the iterations to 10 for time saving...
[code]

[2017-06-13 07:39] Hypnoes commented on #22
emmm...Interesting, but why? I mean why Tensorflow choose cuda but opencl at the beginning? Some commercial reason I guess?

[2017-06-13 08:25] aselle commented on #10665
Could you try to solve it like others have just to make sure you have everything working otherwise. Then put it back. Basically, it looks like you need to change the build file used for building nccl. @gunan, do you have any ideas?

[2017-06-13 08:26] aselle commented on #10664
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-13 08:26] #10664 closed

[2017-06-13 08:29] aselle commented on #10621
**Please try upgrading bazel**, but I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks.

Thank you.

[2017-06-13 08:29] #10621 closed

[2017-06-13 08:31] aselle commented on #10527
@skye, do you know if pip is supposed to allow writing c++ code directly. I always thought you needed to build from source in order to do that.

[2017-06-13 08:32] July-Morning opened #10669 "Running session using c++ api is significantly slower than using python"
### System information
- **OS Platform and Distribution**: Linux 13.1 (Bottle)
- **TensorFlow installed from**: source
- **TensorFlow version**: 1.1.0 (git version: v1.1.0-1-g10ec24a, compiler version: v1.1.0-1-g10ec24a)
- **Compiler**: c++ (SUSE Linux) 4.8.1 20130909 [gcc-4_8-branch revision 202388]
- **Bazel version**: 0.4.5
- **Packages**: numpy (1.11.3), numpydoc (0.6.0), protobuf (3.1.0)

No

[2017-06-13 08:33] aselle commented on #10616
@jhseu, it would be great if you could comment on this and provide guidance. @yongtang prepared a patch linked above.

[2017-06-13 08:35] aselle commented on #10642
Also, the usual gpu thing on docker or raw metal is to run nvidia-smi to see if the gpu is visible. I'd try that too (if it applies to kubernetes).

[2017-06-13 08:36] lissyx commented on #7162
Thanks for the confirmation @wodesuck

[2017-06-13 08:38] aselle commented on #10668
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the **issue template** (https://github.com/tensorflow/tensorflow/issues/new) . Please provide **all the information it asks**.  Thank you.

[2017-06-13 08:38] #10668 closed

[2017-06-13 08:41] aselle commented on #10669
Are you sure you build them the same way? I.e. were you running the python from a whl created from the same compilation you did for the C++ example? If you didn't run from the same, you should make sure you had optimization enabled for your c++ build
https://stackoverflow.com/questions/27086145/what-is-the-default-build-configuration-of-cmake
It looks like not since you didn't do cmake -DCMAKE_BUI

[2017-06-13 08:42] aselle commented on #10618
@gunan, it seems this is possibly a regression.

[2017-06-13 08:45] StarRain-L commented on #9253
Excuse me, why I use bazel building a lot less file?
![snip20170613_4](https://user-images.githubusercontent.com/8908244/27073779-a0e86e54-5057-11e7-9ad9-c3782894ece3.png)

[2017-06-13 08:46] meteorcloudy commented on #10587
Thanks for the fix!

[2017-06-13 09:11] July-Morning commented on #10669
Well, I tried adding -DCMAKE_BUILD_TYPE=Release, but the results are the same.
For c++ I am using tensorflow headers built by bazel with all optimizations.

[2017-06-13 09:13] astrung commented on #9519
hey, is this issue is fixed on master ? I have installed from pip, it is ok from local, but when i tried it with my domain and access from internet, i got same error

[2017-06-13 09:20] DavidNorman opened #10671 "Linux CPU smoke tests failing due to merged API change"
This commit appears to break the Linux CPU tests (at least for me).  It seems that when the smoke tests passed for this commit, the Linux CPU tests didn't include the api_compatibility_test, but now they do.  However, the golden API and the real API have already diverged, so there isn't any possibility of successful passing any more.

[code]

[2017-06-13 09:24] ahfant commented on #9596
It seems that this issue is still closed. Is it being tracked under a separate ID or has it been resolved?

[2017-06-13 09:24] sleepfin opened #10672 "Strange performance: sparse tensor matmul in kernel_test"
Sorry for the previous issue
According to the document [HERE](https://www.tensorflow.org/api_docs/python/tf/sparse_tensor_dense_matmul)

A sparse [m, k] with % nonzero values between 1% and 80%
B dense [k, n]

When I run [sparse_tensor_dense_matmul_op_test.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/kernel_tests/sparse_tensor_dense_matmul_op_test.py) with large n,m,k

[2017-06-13 09:35] 1042799521 commented on #9976
I have the same problem!!!
Mac     python2.7    running in virtualenv

[2017-06-13 09:36] issxjl2015 commented on #4592
but my tensorflow version is 1.0.1, so I don't know why have a error? the error is "Invalid argument: Nan in summary histogram for: train/boxes_delta_y
	 [[Node: train/boxes_delta_y = HistogramSummary[T=DT_FLOAT, _device="/job:localhost/replica:0/task:0/cpu:0"](train/boxes_delta_y/tag, strided_slice_45/_99)]]"

I need help, help, help!!! Please!!!

[2017-06-13 09:39] DavidNorman opened #10673 "Public head of master is failing windows CMAKE tests (?)"
The following tests are failing for several of the public pull requests.  I suggest that the current head of master would also fail in the same way.

[code]

[2017-06-13 09:48] DavidNorman commented on #10673
I'll revise that.  Looking at the history of the Windows CMAKE tests, I can see that this test has been failing on and off for quite a while (didn't go back to the origin to find out who actually broke it)

[2017-06-13 09:52] uttamgoli opened #10674 "Tensor flow importing error please help very important"
![error1](https://user-images.githubusercontent.com/29398681/27076888-0a944dde-504c-11e7-8549-6882eda7cff9.PNG)
![error2](https://user-images.githubusercontent.com/29398681/27076889-0a947b9c-504c-11e7-8c59-4de236a9d328.PNG)

[2017-06-13 10:02] Netzeband commented on #10611
@dandelionmane To be honest, I have no idea how to activate the Chrome debugger console. Can you explain it to me? If you mean the console, I can open with [Ctrl]+[Shift]+J, there is nothing inside. Do I need to activate any special mode?

In the very first post, I paste the output of the terminal, when I start tensorboard with `--inspect` argument. Here you can see, that the graph is found by ten

[2017-06-13 10:16] snailcoder commented on #10663
I encounter almost the same problem as you.  My OS is mac Sierra. I saved a model as pbtxt file of which size is 800M. However, when I want to freeze it with freeze_graph.py, the python process is always killed by the system and there are no useful logs printed by the system. I debug the python program and find the crash always when google.protobuf.txxt_format.Merge is executed. But I don't know w

[2017-06-13 11:03] gaohuazuo opened #10675 "Inner tf.device inherits device index when using wildcard index"
TF version: v1.2.0-rc0-735-gf48673b (about one week ago)

[code]

workaround:

[code]

[2017-06-13 11:29] Tanno0518 opened #10676 "DSP process time investigation"
Hello,

I am evaluating the DSP process time by the bellows source code.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/hexagon/hexagon_graph_execution_test.cc

And, The result was short process time.
As one factor, I think that the reason is quantization to input data of  DSP.
Could you please tell me a change procedure for quantization ?
And, Could I please have th

[2017-06-13 12:02] StarRain-L opened #10677 "No OpKernel was registered to support Op 'Maximum' with these attrs.---iOS"
Consult: excuse me, write own model file, called collapse, iOS,

![snip20170613_6](https://user-images.githubusercontent.com/8908244/27081496-407ad54a-5073-11e7-8464-faab2ca4836e.png)

[2017-06-13 12:11] SunTiecheng commented on #8879
@jagadeesr how do you  solve the problem, I use "sudo nvidia-smi -r -i 0" but display:
"GPU Reset is not supported on devices running as primary GPU.
Terminating early due to previous errors."
what should I do.
Thank you very much!

[2017-06-13 12:44] Scitator commented on #10659
@adakum All works well, you just need to specify projection correctly (use same number of layers, or something like that) for encoder and decoder.
For code, you can look [here](https://github.com/Scitator/TF-seq2seq/tree/feature/seq2symbol).

[2017-06-13 12:53] abishgj-rzt opened #10679 "recovery_wait_secs feature for tf.train.MonitoredTrainingSession() similar to the one present in tf.train.SessionManager()"
I ran the distributed model for a small data set and for very few epochs for some test run.

The chief worker started normally and finished training (training time was less than 30 seconds) but the other workers did not start.

Below log message has been displayed in all the workers other than chief:
`Waiting for model to be ready.  Ready_for_local_init_op:  Variables not initialized: <list_of_var

[2017-06-13 13:00] SunTiecheng commented on #8879
@jagadeesr  how do you  solve the problem, I use "sudo nvidia-smi -r -i 0" but display:
"GPU Reset is not supported on devices running as primary GPU.
Terminating early due to previous errors."
what should I do.
Thank you very much!

[2017-06-13 13:08] jagadeesr commented on #8879
@SunTiecheng I was able to run 'nvidia-smi' without sudo. After running this cmd, it worked for me.

[2017-06-13 13:15] SunTiecheng commented on #8879
@jagadeesr  It still can't work for me. But thank you very much!

[2017-06-13 13:20] jamieas commented on #8850
Hi Martin.  Rui from my team is going to take a look at this issue.

[2017-06-13 13:28] Scitator opened #10680 "tf.estimator generator_input_fn no padding queue?"
Hello again!
While I was examining TF source code for [10597 issue](https://github.com/tensorflow/tensorflow/issues/10597) solution, I found another bug or lack of important feature, such as `PaddingFIFOQueue` for all of `tf.estimator` input pipelines. Such option is very important for seq2seq tasks with dynamic shapes.

As a solution I found a hacky way to generate `[1, batch_size, time]` batches

[2017-06-13 14:03] Spenhouet opened #10681 "Build with Bazel on Windows: missing input file '@local_config_cuda//cuda:cuda-extras"
### System information
- **Have I written custom code**: No
- **OS Platform**: `Windows 10`
- **TensorFlow installed from**: `source`
- **TensorFlow version**: `v1.2.0-rc2`
- **Bazel version**: `git/master`
- **CUDA/cuDNN version**: `8.0` / `5.1`
- **GPU model**: `Nvidia GTX 1080`
- **Exact command to reproduce**: `bazel build -c opt --config=win-cuda --cpu=x64_windows_msvc --host_cpu=x64_windows_

[2017-06-13 14:05] Spenhouet commented on #10681
Oh, sorry. I just changed from with GPU build (that didn't work) to without and missed to remove the `--config=win-cuda` build option.

[2017-06-13 14:05] #10681 closed

[2017-06-13 14:08] KiselevMaxim commented on #5478
thank you, it is works for me

[2017-06-13 14:29] alextp commented on #10624
I believe you can write your own wrapper around py_func to do this, a forking_py_func decorator which calls the py_func decorator on a function wrapped by a safe fork.

[2017-06-13 14:46] shashank734 commented on #10454
I will try this. But still wait for changes before deploying to production.

[2017-06-13 15:12] girving commented on #9506
Still no activity from the TF team, unfortunately.

[2017-06-13 15:41] lxwgcool commented on #10665
Dear Andrew:

Thanks so much for your kindly reply. I think the build file used for
building nccl you mentioned should be this one:
"/home/hpc-xin/.cache/bazel/_bazel_hpc-xin/c5e302e32d7acb9c3e4fce8142d1cd66/external/nccl_archive/BUILD".

Actually, i spend sometime to checked this file yesterday, however, i have
no idea about how to change it. Could you help me figure out how to change
it?

BTW, t

[2017-06-13 15:42] lxwgcool commented on #10665
@aselle Dear Andrew:

Thanks so much for your kindly reply. I think the build file used for building nccl you mentioned should be this one:  "/home/hpc-xin/.cache/bazel/_bazel_hpc-xin/c5e302e32d7acb9c3e4fce8142d1cd66/external/nccl_archive/BUILD".

Actually, i spend sometime to checked this file yesterday, however, i have no idea about how to change it. Could you help me figure out how to change it

[2017-06-13 16:01] albertz commented on #10527
Many header files are part of pip.

Am 13.06.2017 11:33 schrieb "Andrew Selle" <notifications@github.com>:

[2017-06-13 16:07] #10216 closed

[2017-06-13 16:12] aselle commented on #10610
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-13 16:12] #10610 closed

[2017-06-13 16:13] skye commented on #10527
As @albertz says, our pip install does include many header files so it is possible to do some C++ development using it, but AFAIK no one maintains it as an "official" C++ installation method (unfortunately there is no official C++ dev package yet, but we're working on it). Maybe mark community support?

[2017-06-13 16:13] aselle commented on #10607
@alextp, do you care to comment on this feature request?

[2017-06-13 16:17] aselle commented on #10596
glad you got it resolved, closing for now. Thanks!

[2017-06-13 16:17] #10596 closed

[2017-06-13 16:20] aselle commented on #10605
It is difficult to get bazel to both track the dependency information to update the git hash reliability in the binary and to print a warning. Generally speaking, you can also re-run ./configure.

[2017-06-13 16:23] aselle commented on #10619
Since this is more of a machine learning research question (rather than a concrete bug or feature request), it really is better asked on StackOverflow. Thanks!

[2017-06-13 16:23] #10619 closed

[2017-06-13 16:23] caisq commented on #10674
Did you read this section? https://www.tensorflow.org/install/install_windows#common_installation_problems

It might provide some useful information.

[2017-06-13 16:23] alextp commented on #10607
If we rewrite accumulate_n as an atomic op which has a gradient defined for it and which gets rewritten by the runtime into the current implementation this is feasible. See for example the code in parallel_concat (which currently doesn't have a defined gradient but very well could).

[2017-06-13 16:26] hadikazemi commented on #9257
word2vec_basic.py works on 1.0.0-rc2 but not 1.2.0-rc1:

  File "/home/hadi/Projects/NLP/word2vec.py", line 171, in <module>
    num_classes=vocabulary_size))
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/ops/nn_impl.py", line 1151, in nce_loss
    name=name)
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/ops/nn_impl.py", line 970, in _compute_sampled_logits

[2017-06-13 16:26] aselle commented on #10622
This does seem like a documentation bug.
@ekelsen  (it seems you authored it) and @wolffg could you take a look?

[2017-06-13 16:30] lwogulis commented on #9579
I am back to trying to run the mnist example with XLA, and I just tried your suggestion of forcing "with tf.device('device:XLA_CPU:0')". I get the error that it could not satisfy the explicit device specification. Am I putting the statement in the wrong place?
[code]

[2017-06-13 16:30] aselle commented on #10631
Perhaps try cmake? Be sure to read everything here.
https://www.tensorflow.org/install/install_sources
Unfortunately building from source (particularly on Windows) is quite difficult and not recommended unless you are comfortable diagnosing the kind of errors that come from these tools.

[2017-06-13 16:36] bobye commented on #10607
@alextp Thanks for your comment. It would be a great feature for either adding gradient to accumulate_n or parallel_concat. I am currently struggling to work around this issue by partially adopting the auto-diff system of tensorflow (by mixing my customized gradient with tensorflow's)

[2017-06-13 16:46] #8718 closed

[2017-06-13 16:47] thorgeirk11 commented on #5036
+1

[2017-06-13 16:55] RylanSchaeffer commented on #8833
Here's some of the code that I wrote:
`

            bahdanau_attention = BahdanauAttention(num_units=DECODER_NUM_UNITS,
                                                   memory=encoder_outputs)

            attention_cell = AttentionWrapper(cell=self._create_lstm_cell(),
                                              attention_mechanism=bahdanau_attention)

            attention_zero = attention_

[2017-06-13 17:07] vade opened #10685 "Darwin support for MKL build / configure script"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Mac OS X 10.12.4, Darwin
- **TensorFlow installed from (source or binary)**:
Source, git tag 1.2.0 RC 2
- **TensorFlow version (use command below)**:
1.2 RC 2
- **Bazel version (if compiling from source)**:
ba

[2017-06-13 17:07] wolffg commented on #10622
Mark, is this an issue with an unsealed library?

[2017-06-13 17:20] jugglerix commented on #9072
As of version 1.2, TensorFlow no longer provides GPU support on Mac OS X.

[2017-06-13 17:22] aselle commented on #10685
Any eta on darwin support?

[2017-06-13 17:25] aselle commented on #10680
Can you state the problem more clearly? What would the feature be? How would it work? Why is it needed?

[2017-06-13 17:27] aselle commented on #10641
@ebrevdo, could you please take a look, it's beyond my expertise.

[2017-06-13 17:33] aselle commented on #10644
What do you mean by using too much memory? TfRecords doesn't consume any memory itself (especially if not using compression)

You could use strategies like writing shards of data to handle the appendability issues (this is how the protos for summary events are handled for tensorboard).

Flush() would be reasonable to expose at the python level, we'd welcome a CL that did this.

[2017-06-13 17:34] gunan commented on #10618
@av8ramit a possible regression in 1.2. We may need to patch the release.

[2017-06-13 17:36] aselle commented on #10655
@dandelionmane, could you take a look at this feature request. Thanks!

[2017-06-13 17:36] panyx0718 commented on #10518
@linearhit

Could use share the RunMetadata file and the GraphDef with me?

[2017-06-13 17:39] aselle commented on #10649
Thanks for experimenting. It would be great if you could contribute a pull-request of this!

[2017-06-13 17:41] aselle commented on #10648
@gunan, do you have any ideas on this?

[2017-06-13 17:45] aselle commented on #10648
I was able to reproduce this in 1.0.1, but I found that in the nightly build it works fine, so I'd recommend upgrading to at least 1.2.

[2017-06-13 17:46] aselle commented on #10669
@alextp and @skye, thought you'd be interested in this. Please redirect if others are better able  handle this.

[2017-06-13 17:48] aselle commented on #10671
@gunan, please take a look.

[2017-06-13 17:48] byronyi commented on #10648
I am using `tensorflow-gpu` binary and could not reproduce this with v1.1.0 (current PyPI version).

Log is [here](https://gist.github.com/byronyi/54d30dd39f5420d883a1a26919e6ad7c).

[2017-06-13 17:49] aselle commented on #10663
A shot in the dark, but perhaps use a binary graphdef proto rather than pbtxt.

[2017-06-13 17:50] aselle commented on #10673
@yifeif, could you take a look?

[2017-06-13 17:52] aselle commented on #10675
@mrry, could you take a look please?

[2017-06-13 17:55] Caselles commented on #10408
Problem is, I'm trying to run two model at the same time in a website. Hence, calling `K.clear_session` in the code clears operations that are used elsewhere. So this creates a bug. I really need to be able to specify the operations that I want to clear. Could you be a little more precise on how I could do that ?

[2017-06-13 17:55] gunan commented on #10665
I too have sees this when building for CentOS. For me when I reinstalled gcc/g++ this was resolved.

[2017-06-13 17:57] andrewjylee commented on #10648
Yes - I don't see the problem in v1.1 or higher. However, our team is heavily using v1.0 and we won't be able to upgrade everything anytime soon....

For what it's worth, I found a temporary fix:

I have a train() method, in which i have something like
`def train(self, ...):
    self.get_model(...)
    self.fit(...)
`
in which get_model() builds the model:
`def get_model(self, ...):
    tf.reset_d

[2017-06-13 17:58] udnaan commented on #9072
GPUs are overrated anyway.

[2017-06-13 18:01] gunan commented on #10671
The goldens are supposed to be updated with each API change.
The test seems to be back to healthy now:
http://ci.tensorflow.org/job/tensorflow-master-cpu/2449/

[2017-06-13 18:01] #10671 closed

[2017-06-13 18:04] ebrevdo commented on #8833
I'm away this week but hope one of my collaborators can help with this
issue.

On Jun 13, 2017 9:56 AM, "Rylan Schaeffer" <notifications@github.com> wrote:

[2017-06-13 18:07] ebrevdo commented on #10641
This is indeed the assumption.  Unfortunately it's unlikely to be fixed
until after the 1.2 release and I'm away this week.  If you would like to
send a PR to fix this by using the tf.shape() on the input Tensor instead
of assuming beam_width, and adding a unit test, I can review when I return.

On Jun 13, 2017 10:28 AM, "Andrew Selle" <notifications@github.com> wrote:

@ebrevdo <https://github.co

[2017-06-13 18:10] aselle commented on #10661
@ispirmustafa, could you take a look?

[2017-06-13 18:10] ebrevdo commented on #8908
Use that for now.  We're shuffling things around to get part of the code
into core and I think some of these issues will be fixed then.

On Jun 12, 2017 1:17 PM, "Dustin Tran" <notifications@github.com> wrote:

[2017-06-13 18:12] gut commented on #10649
@aselle But what was the motivation for using a binary on bazel? I tried to get this [answer on StackOverflow](https://stackoverflow.com/questions/44413137/why-does-bazels-rules-closure-downloads-platform-specific-binaries-instead-of-s) but I'm still waiting.

For now, IMHO, the best solution is to ask bazel to compile these sources instead of downloading a binary.

[2017-06-13 18:23] MarkDaoust commented on #10622
The opposite problem actually. It's over-sealed and the objects are not exposed.

It is removed by the `remove_undocumented` in [standard_ops](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/standard_ops.py).

Its neighbour, `RandomShuffleQueue`, is made visible by the `@@RandomShuffleQueue` in [io_ops](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/pyth

[2017-06-13 18:27] fchollet commented on #10408
There are only two possibilities:
1) you no longer use the graph. In that case `clear_session` destroys it,
and that is what you want.
2) you are still using the graph. In that case you cannot garbage-collect
it. And you don't have a "memory leak".

On 13 June 2017 at 11:01, Syzygy <notifications@github.com> wrote:

[2017-06-13 18:30] archenroot commented on #8879
I faced this issue and in my case the root cause was not reseting device via nvidia-smi --reset-gpu --id=0 for example, but by disabling CNMeM.

I work with Theano and this is enabled there via entry in ~/.theanorc as following:
[lib]
cnmem = 1

So removing this in my case helped resolution of this or very similar issue.

Unfortunately TensorFlow uses its own memory management and doesn't utilize

[2017-06-13 18:36] #10652 closed

[2017-06-13 18:37] #8908 closed

[2017-06-13 18:44] oahziur commented on #8833
Hi @RylanSchaeffer,

Let me see if I can help you. What is the structure of your decoder? Is it a MultiRNNCell with several BasicLSTMCells? Can you print what is exactly in the encoder_final_states? (Is it something like (LSTMStateTuple, LSTMStateTuple, Tensor)?)

[2017-06-13 18:46] lxwgcool commented on #10665
Hi Gunan,

Thanks so much for your reply. May i know which version of gcc was used
when you compile the gpu version of tensorflow v1.2.0-rc2?

Actually, for my case, the cpu version of tensorflow v1.2.0-rc2 could be
compiled without  any problem. Do you think this issue in gpu version is
really caused by my gcc compiler? Is there any way that just change some
minor parts of certain *.bzl or BUILD

[2017-06-13 18:56] Scitator commented on #10680
The problem:
typically, `generator_input_fn` expects that python generator yields numpy array of features with same size for each training example. **But** for some cases, for example, seq2seq models, each training example has different size (just different lens, really). Dynamic shapes broke up current input pipeline:
1. firstly, in `_enqueue_data` function: it use first yielded example for shape

[2017-06-13 19:20] yongtang commented on #10644
Created a PR #10686 to expose `Flush()` in Python.

Note that in https://github.com/tensorflow/tensorflow/blob/abae4305a6208bde6072d257a6ce734a8d369089/tensorflow/core/lib/io/record_writer.cc#L125-L130
[code]

So the `Flush()` is only effective in case of compressed files.

[2017-06-13 19:30] MarkDaoust commented on #10622
@martinwicke can you comment on the intended API here? It look like these are meant to be public. Are they meant to go in the main `tf` namespace of is there another place for them.

[2017-06-13 19:34] #10594 closed

[2017-06-13 19:43] gunan commented on #10665
I did not build with 1.2, last time I experimented with centOS it was version 1.0.
Here is the gcc version on my docker container:
[code]

[2017-06-13 19:47] RylanSchaeffer commented on #8833
@oahziur , thank you! My decoder is not a MultiRNNCell - it's just one BasicLSTMCell. Here is my method I use to create an LSTM cell:

`
    @staticmethod
    def _create_lstm_cell():
        return BasicLSTMCell(LSTM_SIZE)
`

My `encoder_final_states` has type `<class 'tensorflow.python.framework.ops.Tensor'>` and `shape=(2, ?, 128)`; this makes sense, as I'm using a Bidirectional RNN and my `LST

[2017-06-13 19:51] aselle commented on #10677
It looks like you are invoking something involving a gradient. If you are training, you likely need to change the makefile to add more ops to the build. Correct @petewarden?

[2017-06-13 19:55] aselle commented on #10535
@andydavis1, could you take a look at this and see if anything strikes you?

[2017-06-13 19:57] aselle commented on #10645
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-13 19:57] #10645 closed

[2017-06-13 19:57] alextp commented on #10669
Is this related to using different clocks in the python and C++ code?

[2017-06-13 19:57] lxwgcool commented on #10665
Thanks gunan, we already have the module gcc v4.8.5 in our cluster, i will try it right now.
However, i still has a question: since the cpu version of tensorflow v1.2.0-rc2 could be compiled by my current gcc v5.4.0 successfully without any problem, i think my current gcc v5.4.0 should works fine. I am really confused why the gpu version failed to be compiled (it seems that the compiling stopped b

[2017-06-13 19:58] Caselles commented on #10408
I'm sorry for not saying that earlier but calling `K.clear_session()` within the `tf.Graph().as_default(), tf.Session() as sess:` yields an error :

IndexError                                Traceback (most recent call last)
<ipython-input-7-7793873c5c17> in <module>()
----> 1 build_model()

<ipython-input-6-3626073d2002> in build_model()
     31
     32         K.set_session(sess)
---> 33

[2017-06-13 20:04] aselle commented on #10676
@satok16, could you please take a look?

[2017-06-13 20:09] aselle commented on #10656
Please run this and reply with what it returns.
https://gist.github.com/eyalroz/71ce52fa80acdd1c3b192e43a6c1d930

[2017-06-13 20:09] martinwicke commented on #10622
I'm pretty sure that Barrier and StagingArea are intentionally not exposed, so the same ma apply here. Can you ask the authors to make sure these are not intentionally private?

[2017-06-13 20:11] satok16 commented on #10676
The input data type to HVX is floating point not quantized data type for fairness purposes.
The quantization (of the graph) is a pre-process before running the inference.
See https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/README.md for more details.
In this link, you can find a download link for non-quantized model.

[2017-06-13 20:11] #10676 closed

[2017-06-13 20:15] aselle commented on #10632
1. Name your placeholders... then it is clear where they are defined

i.e. tf.placeholder(name="something I know about")

2. It tells you in the 2nd traceback where the placeholder that is unspecified:

[code]

3. It tells you what sess.run() call failed to have all the placeholders in the traceback too.

[code]
Notice how self.state_input feed is commented out.

4. This question is not a bug with

[2017-06-13 20:15] #10632 closed

[2017-06-13 20:20] ekelsen commented on #10622
The current state is intentional.

[2017-06-13 20:30] sachin-r commented on #10642
We are facing the same issue of
`ImportError: libcuda.so.1: cannot open shared object file: No such file or directory`
when upgrading from TF 1.0.0 to 1.1.0 seems others have has the issue as well -
 https://github.com/tensorflow/tensorflow/issues/9969
Seems this was failing silently in TF1.0.0 - https://github.com/tensorflow/tensorflow/issues/10073
we are using https://gitlab.com/nvidia/cuda/blob

[2017-06-13 20:33] DavidNorman commented on #5763
We are using XLA, which significantly reduces the number of ops to implement

[2017-06-13 20:41] oahziur commented on #8833
@RylanSchaeffer , if your LSTM_SIZE=64, the final state should be (2, ?, 256) tensor if you set [`state_is_tuple=False` in BasicLSTM](https://www.tensorflow.org/api_docs/python/tf/contrib/rnn/BasicLSTMCell), since each state is 64, so a single state should have 128.

I think you shouldn't do `final_states = tf.concat(final_states, axis=-1)` if `state_is_tuple=True` (the default behavior) since the

[2017-06-13 20:43] cmluciano commented on #10642
Is this a version mismatch? Do the libraries on your disk match those within the containers?

[2017-06-13 21:13] Zehvogel opened #10689 "Tensorflow build fails with -mavx512f"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Fedora 25
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: latest commit f58e6ce , happens with older versions as well (23caaa5, f48673b, 9a15e0a, 3c4cb0

[2017-06-13 21:15] RylanSchaeffer commented on #8833
@oahziur , I'm a little confused. My understanding was that `final_states = tf.concat(final_states, axis=-1)` isn't concatenating the c state and the h state for an LSTM cell, but rather concatenating the outputs of the two RNNs that make up the Bidirectional RNN, and concatenating the states of the two RNNs. Can you clarify?

[2017-06-13 21:20] oahziur commented on #8833
@RylanSchaeffer , I think the bidirectional_dynamic_rnn returns outputs and final states.

You have use `outputs = tf.concat(outputs, axis=-1)` to concat the outputs, which isn't a problem.

If you print final_states before `final_states = tf.concat(final_states, axis=-1)`, it should be (LSTMStateTuple, LSTMStateTuple) because you have one fw_cell and one bw_cell.

[2017-06-13 21:24] gunan commented on #10665
I am not sure, our primary environment is ubuntu so I can only speculate.
It can be missing headers, or some confusion on bazel side when you have different gcc versions installed.
It may be as simple as setting some environment variables, or there may be bugs in Bazel itself.

As I mentioned before, our primary development environment is ubuntu, and we only provide official support on ubuntu. You

[2017-06-13 21:29] RylanSchaeffer commented on #8833
@oahziur ok, that makes sense! I'm now confused by what you mean when you say, "then create a tf.contrib.rnn.LSTMStateTuple to pass to the decoder should fix your problem." Can you explain more?

[2017-06-13 21:32] RylanSchaeffer commented on #8833
My confusion stems from the fact that `BasicDecoder` accepts `initial_state: A (possibly nested tuple of...) tensors and TensorArrays.` Since I pass in `init_state`, where `init_state = attention_zero.clone(cell_state=encoder_final_states)` and encoder_final_states is a 2-tuple of LSTMStateTuples, it doesn't seem like I should need to make any modifications.

[2017-06-13 21:41] oahziur commented on #8833
@RylanSchaeffer The problem is that you decoder only have 1 BasicLSTMCell so it can only accept a single LSTMStateTuple, but you have 2 LSTMStateTuples from the `bidirectional_dynamic_rnn`.

Is this helpful?

[2017-06-13 22:00] domluna commented on #10663
@aselle I'm saving it as pbtxt rather than pb because when I use a pb I get this error:

[code]

I've tried saving with

[code]

and

[code]

both result in the error.

Any suggestions?

[2017-06-13 22:20] RylanSchaeffer commented on #8833
@oahziur , let me try to explain what my current understanding is, and you can tell me if I'm correct. A BasicDecoder accepts only one cell. One cell corresponds to one LSTMStateTuple (consisting of c and h). My problem is that I have two LSTMStateTuples. To reduce the two LSTMStateTuples down to one LSTMStateTuple, I need to separately concatenate the c states (i.e. c = c1 concat c2) and the h st

[2017-06-13 22:23] oahziur commented on #8833
@RylanSchaeffer Yes. your understanding is correct.

Just a reminder, I believe your decoder lstm cell needs to have `2*LSTM_SIZE` in order to match the shape of the new concatenated state.

[2017-06-13 22:25] RylanSchaeffer commented on #8833
Makes sense. @oahziur Thank you so much!

[2017-06-13 22:25] RylanSchaeffer commented on #8833
@oahziur (I don't know if this is inappropriate to ask, but) are you a TensorFlow developer?

[2017-06-13 22:27] RylanSchaeffer commented on #8833
@oahziur (I don't know if this is inappropriate to ask, but) are you a TensorFlow developer?

[2017-06-13 22:48] lxwgcool commented on #10665
Thanks gunan,
I tried gcc/4.8.5 with bazel 0.4.5, however, i still get the similar error as below:
---------------
ERROR: /home/hpc-xin/.cache/bazel/_bazel_hpc-xin/c5e302e32d7acb9c3e4fce8142d1cd66/external/nccl_archive/BUILD:33:1: undeclared inclusion(s) in rule '@nccl_archive//:nccl':
this rule is missing dependency declarations for the following files included by 'external/nccl_archive/src/libwr

[2017-06-13 23:08] aselle commented on #10689
Also seems to be like this #7530.
@benoitsteiner, could you take a look?

[2017-06-13 23:13] aselle commented on #1894
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-13 23:13] #1894 closed

[2017-06-13 23:35] Spenhouet commented on #10631
I think i had a similar issue. Mysys is missing the patch command. You need to install it.
I think i did this with the command `pacman -Syuu patch` in the command line.

Maybe it also helps to follow some of these steps: [Bazel build with Windows](https://bazel.build/versions/master/docs/windows.html)

Sadly i can't build tensorflow on windows too... i just can't get it to work in anyway. :( I'm t

[2017-06-13 23:54] nealwu commented on #9637
Hi @ddurham2, thanks for reporting this. We fixed this in https://github.com/tensorflow/tensorflow/issues/8301, but unfortunately it looks like it still hasn't been pushed to the documentation site. Once r1.2 becomes the standard version however, the site will be correct (see https://www.tensorflow.org/versions/r1.2/tutorials/layers#pooling_layer_1).

[2017-06-13 23:54] nealwu commented on #9637
Closing this issue since it has been fixed in https://www.tensorflow.org/versions/r1.2/tutorials/deep_cnn and will be the default once r1.2 is the standard.

[2017-06-13 23:54] #9637 closed

[2017-06-13 23:58] #1853 closed

[2017-06-14 00:46] jhseu commented on #10616
@yongtang Yes, please make a pull request with your changes! This would be a very useful feature for a lot of people.

[2017-06-14 00:48] DjangoPeng commented on #10642
@aselle Since nvidia-smi is in `/usr/bin`, I don't think it's a good way to mount `/usr/bin` into container. Do you have some advice to map nvidia-smi into container?
@cmluciano My host OS is redhat7 with 3.10.0l-514.21.1.e17.x86_64 kernel, and TensorFlow 1.1.0 image is based on Ubuntu 16.04. Do you think there is a version mismatch of Nvidia drivier of them?

[2017-06-14 01:22] StarRain-L commented on #10677
Thank you for your reply. I'm not quite understand what you say, and how to change the makefile to add more ops to the build?please!!!

[2017-06-14 01:30] aselle commented on #2867
Automatically closing due to lack of recent activity. Thanks!

[2017-06-14 01:30] #2867 closed

[2017-06-14 01:31] aselle commented on #1644
Automatically closing due to lack of recent activity. Thanks!

[2017-06-14 01:31] #1644 closed

[2017-06-14 01:31] leckie-chn commented on #9976
Same problem.
tf 1.1.0 + Ubuntu 16.04 + python 3.5 + cuda 8.0

[2017-06-14 01:35] StarRain-L commented on #10257
Excuse me, could you tell me your problem solved?I run on APP met the similar problem."No OpKernel was registered to support Op 'Maximum' with these attrs."

[2017-06-14 01:37] aselle commented on #1140
Automatically closing due to lack of recent activity. Please file a new issue referring to this issue, if the issue is still relevant and important. If this is documenting some kind of bug, be sure to use the latest version of TensorFlow. Thank you so much.

[2017-06-14 01:37] #1140 closed

[2017-06-14 01:37] aselle commented on #3345
Automatically closing due to lack of recent activity. Please file a new issue referring to this issue, if the issue is still relevant and important. If this is documenting some kind of bug, be sure to use the latest version of TensorFlow. Thank you so much.

[2017-06-14 01:37] #3345 closed

[2017-06-14 01:39] aselle commented on #4256
Automatically closing due to lack of recent activity. Please file a new issue referring to this issue, if the issue is still relevant and important. If this is documenting some kind of bug, be sure to use the latest version of TensorFlow. Thank you so much.

[2017-06-14 01:39] #4256 closed

[2017-06-14 01:40] aselle commented on #4701
Automatically closing due to lack of recent activity. Please file a new issue referring to this issue, if the issue is still relevant and important. If this is documenting some kind of bug, be sure to use the latest version of TensorFlow. Thank you so much.

[2017-06-14 01:40] #4701 closed

[2017-06-14 01:54] aselle commented on #4516
The `tf.reverse` part of the issue has been resolved as of TensorFlow 1.0, and I just resolved the documentation issue (pointing users from tf.slice to tf.getitem).

[2017-06-14 01:54] #4516 closed

[2017-06-14 01:55] aselle commented on #4440
This appears to already be resolved. Thanks!

[2017-06-14 01:55] #4440 closed

[2017-06-14 01:58] aselle commented on #4855
Automatically closing due to lack of recent activity.

[2017-06-14 01:58] #4855 closed

[2017-06-14 02:00] aselle commented on #5095
This issue is quite old by now, MacOS has been used for awhile now. Be sure to try the latest build instructions on the latest version of TensorFlow, and please create a new bug if it is still not working. Thanks.

[2017-06-14 02:00] #5095 closed

[2017-06-14 02:01] aselle commented on #5137
Closing due to lack of recent activity. Since this issue is quite old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thanks.

[2017-06-14 02:02] #5137 closed

[2017-06-14 02:03] #10376 closed

[2017-06-14 02:04] aselle commented on #4937
This issue is quite old and hasn't had recent activity. Be sure to try the latest build instructions (https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile)
on the latest version of TensorFlow, and please create a new bug if it is still not working. Thanks.

[2017-06-14 02:04] #4937 closed

[2017-06-14 02:05] aselle commented on #5518
Closing due to lack of recent activity. Since this issue is quite old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thanks.

[2017-06-14 02:05] #5518 closed

[2017-06-14 02:07] aselle commented on #5446
@petewarden, @maciekcc, was there any resolution on this bug? Is it still reproducible and relevant?

[2017-06-14 02:11] datomnurdin commented on #10257
@StarRain-L actually I got the problem solved. but since they said need to refer stackoverflow, better you ask there and I will answer it.

[2017-06-14 02:11] aselle commented on #5594
The new  doc link is here, and it does seem to have  the problem still and prettyprint shown in all examples.
https://www.tensorflow.org/api_docs/python/tf/space_to_batch

[2017-06-14 02:16] hustqmk commented on #15
@dgschwend have you find the answer?

[2017-06-14 02:17] aselle commented on #5390
Any updates on this issue?

[2017-06-14 02:19] aselle commented on #5984
I apologize for not asking sooner, but  have you had a chance to try this in the latest TensorFlow to see if it is still a problem. Thanks!

[2017-06-14 02:25] StarRain-L commented on #10257
Grateful for your reply. I wants to use his own model,and  will crash at runtime.Screenshots to send you my question, bothering me for a long time.I don't know why, and I am the iOS developer .

[2017-06-14 02:26] astrung commented on #9519
hey, any feedback ?

[2017-06-14 02:27] astrung commented on #9976
Same issue with : tf 1.1.0 + Ubuntu 16.04 + python 3.5 + cuda 8.0. I can not access it from internet

[2017-06-14 02:33] maciekcc commented on #5446
IIRC this bug has been fixed in: https://github.com/tensorflow/tensorflow/commit/38aec869681e0ac964e33bf44aef57016c5960c5

[2017-06-14 02:36] aselle commented on #5770
I made a change to document these aspects internally, it should make its way externally in a couple of days. Thanks!

[2017-06-14 02:38] #5446 closed

[2017-06-14 03:00] gunan commented on #10665
Again, neither us nor bazel does not have official support for RedHat. So we do not have extensive experience with different error modes that you can see. Not sure why this is happening, so Ill mark this as Community support to see if anyone from the community has any information on building on RedHat.

You can also look through our previous issues. there seems to be a handful of people who ran in

[2017-06-14 03:11] StarRain-L commented on #10153
Excuse me, could you tell me your problem solved?I met the same problem, can consult?Thank you @CHLLHC
![snip20170613_6](https://user-images.githubusercontent.com/8908244/27113860-39d53828-50f2-11e7-9ee5-49a5df1592a2.png)

[2017-06-14 03:12] gunan commented on #10685
@tfboyd Who would be a good person to address MKL support on MacOS?

[2017-06-14 03:56] #10303 closed

[2017-06-14 04:11] wolffg commented on #5594
This is fixed in master:
https://www.tensorflow.org/versions/master/api_docs/python/tf/space_to_batch

and in v1.2:
https://www.tensorflow.org/versions/r1.2/api_docs/python/tf/space_to_batch

The quoted link will get fixed automatically when we switch v1.2.  We generally don't cherrypick back cosmetic change like this, so r1.1 will have this for the foreseeable future.  I think we can close this.

[2017-06-14 04:11] #5594 closed

[2017-06-14 04:21] yanchen036 commented on #8873
Hi @girving I've finished the Tile Op. However, I'm confused with the TileGrad Op. What dose TileGrad do? I haven't found any docs about TileGrad Op in the website.

[2017-06-14 04:32] x86vk commented on #10656
It gives me the following result:
$ ./cuda.sh
50
Does it means that nvidia have made a mistake on their specs page?

[2017-06-14 05:51] xiaoyongzhu commented on #2655
Not sure there's any update for this effort?

[2017-06-14 06:02] wugang33 commented on #4534
I found this for a time. Only find keras implements https://www.tensorflow.org/api_docs/python/tf/contrib/keras/layers/LocallyConnected2D

[2017-06-14 06:09] martinwicke commented on #10434
XQ, can you look at this? It looks like an internal compiler error in nvcc, but we must have triggered it only recently.

[2017-06-14 06:11] martinwicke commented on #9526
@jugglerix feel free to close once the new Programmer's Guide section is up.

[2017-06-14 06:12] martinwicke commented on #8787
So, what should we do with this issue? Is this relevant or is it covered by recent pull from Keras? @fchollet?

[2017-06-14 06:15] martinwicke commented on #8399
This error indicates that a timeout occurred while trying to download the files. It's not something we can fix unfortunately. The intermittent availability of MNIST is covered in other issues, so I will close this one as a duplicate.

[2017-06-14 06:15] #8399 closed

[2017-06-14 06:16] martinwicke commented on #8133
This question would be better suited for StackOverflow. That said, @MicaelCarvalho is correct.

[2017-06-14 06:16] #8133 closed

[2017-06-14 06:18] martinwicke commented on #8087
I believe this is obsolete now (I believe it has been fixed).

[2017-06-14 06:18] #8087 closed

[2017-06-14 06:19] #7738 closed

[2017-06-14 06:19] martinwicke commented on #7738
What Sergio said.

[2017-06-14 06:20] martinwicke commented on #5548
These classes are starting to appear on master. I will close this issue before I forget.

[2017-06-14 06:20] #5548 closed

[2017-06-14 06:30] sandipmgiri commented on #10450
After investigation found that, "int64 cpu_frequency" value on x86 is "unsigned" by default whereas on ppc64le it is "signed" by default, that is why this test was failing on ppc64le.

To make the results compatible with x86, some code changes were required on ppc64le.
After code changes, I ran this test and now it is passing on ppc64le as well as on X86.

Code changes submitted for review in PR h

[2017-06-14 06:36] sandipmgiri commented on #9360
Code changes submitted for review in PR #10522 to fix this.
Once approved I will push changes to Github so PR #10522 should resolve this (relevant commit - https://github.com/tensorflow/tensorflow/pull/10522/commits/0b659e288bb9320a9455ddca2664fa9c02c9ed5f)

[2017-06-14 06:54] sandipmgiri commented on #9216
Closing as duplicate of https://github.com/tensorflow/tensorflow/issues/9360, see discussion in https://github.com/tensorflow/tensorflow/issues/9360.

[2017-06-14 06:54] #9216 closed

[2017-06-14 07:08] #10447 closed

[2017-06-14 07:17] jimdowling commented on #2655
Just to echo @tobiajo  - there is a version of distributed YARN-native tensorflow available here:
https://github.com/hopshadoop/hops-tensorflow
This also includes support for GPUs as a resource in YARN:
https://hopshadoop.atlassian.net/browse/HOPS-11

GUI support for running distributed TF jobs on YARN will be provided in Hopsworks by the end of the month (including Jupyter to write/run jobs):
htt

[2017-06-14 08:14] waleedka commented on #8246
What's the status of this update?

[2017-06-14 08:24] July-Morning commented on #10669
Any idea how to compare running times in a better way?
Tried measuring time in Python using timeit.default_timer(), got the same results.

[2017-06-14 08:39] santle commented on #10458
I changed the image size to IMAGE_SIZE = 299, IMAGE_MEAN = 128, IMAGE_STD = 128.
Now the crash disappeared but the results are biased towards one of two total classes.
This incorrect results appears in 1.0,1 version of transform_graph too.
Any help to rectify this bias?

[2017-06-14 08:49] winston-li commented on #7951
I'm trying migrating input pipeline from tf.train.string_input_producer & tf.train.shuffle_batch to Dataset APIs. The parameter "allow_smaller_final_batch" in tf.train.shuffle_batch(...) is useful when I'd like to assure all batches are evenly divisible by number of gpus. (I'm doing data parallelization on multiple gpus, and the batch_size is multiple of num_gpus). Is there any setting for Dataset

[2017-06-14 09:02] heeramani commented on #647
@AhmetTavli
I have following issue.
Collecting virtualenv
Exception:
Traceback (most recent call last):
  File "/home/heeramani/anaconda2/lib/python2.7/site-packages/pip/basecommand.py", line 215, in main
    status = self.run(options, args)
  File "/home/heeramani/anaconda2/lib/python2.7/site-packages/pip/commands/install.py", line 335, in run
    wb.build(autobuilding=True)
  File "/home/heerama

[2017-06-14 09:13] orgicus commented on #3263
I needed TensorFlow with GPU support version 0.12.0 specifically (`pip install tensorflow-gpu==0.12.0` and ran into similar issues on two different macs: a macbook running 10.11 and an iMac running 10.12.

On 10.11 I could see tensorflow complaining about missing .dylibs, but it didn't crash I manually symlinked libraries from `/usr/local/cuda/lib` to `/usr/local/lib` until it was happy:
[code]

O

[2017-06-14 09:22] xxy19404 opened #10693 "NotFoundError (see above for traceback): Key conv13/weights not found in checkpoin"
Caused by op u'save/RestoreV2_4', defined at:
  File "test_go.py", line 140, in <module>
    tf.app.run()
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py", line 48, in run
    _sys.exit(main(_sys.argv[:1] + flags_passthrough))
  File "test_go.py", line 137, in main
    evaluate()
  File "test_go.py", line 119, in evaluate
    saver = tf.train.Saver()
  File "/usr/l

[2017-06-14 09:30] heeramani commented on #647
@AhmetTavli
followed your procedure
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: No module named tensorflow

[2017-06-14 09:47] DavidNorman opened #10694 "Cannot build tensorflow at all"
OS/X, building on a branch not master.

After pulling the repo this morning (previous pull 12 hours ago) I can no longer build at all:

[code]

[2017-06-14 10:00] DavidNorman commented on #10694
so it seems like a problem with my git repo.  the gen_git_source.py tool in tensorflow is generating a link to a file in the .git repo that doesn't exist.

[2017-06-14 10:00] #10694 closed

[2017-06-14 10:19] BLCKPSTV opened #10695 "import Tensorflow not working"
I get following error when installing under anaconda (python 2.7) environment.

[code]

[2017-06-14 10:32] EdeMeijer commented on #7951
@winston-li I think you could just use `.filter()` for that. If you know your batch size is for example 32, then something like
[code]
should do the trick.

[2017-06-14 10:45] byronyi commented on #7951
@ppwwyyxx I believe a custom pipeline could be designed using TF server with distributed runtime, i.e. IPC send/recv ops. It's included in C API so it won't be too hard to port it to other languages. A down side is that you do need package the whole TF runtime wherever you need this pipeline.

We are actually working on a out-of-band data plane for TF, but it is still a great deal of ongoing work.

[2017-06-14 11:54] mtakala commented on #8858
I have further tested the system. The power draw doesn't seem to be too large as reported by nvidia-smi tool, but the temperatures stabilized at 80 degrees Celcius while the fans remained at 30-40% at most.

I was also able to reproduce the freeze issue with Matlab code that ran large matrix calculations on both GPU's. It could be that nVidia's linux drivers might have a problem.

[2017-06-14 12:37] santle commented on #10458
Spent a lot time to choose a Transform Graph function combination to reduce the size and run time of my custom graph.
But no option works for me to do both using: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/README.md
The most promising one was the above combination which I tried, but it generates incorrect results.
Could you recommend any Transform Graph

[2017-06-14 12:37] sandipmgiri commented on #10459
Started looking into the issue starting from the file tensorflow/core/kernels/sparse_matmul_op_test.cc
As per initial analysis found that following code returning incorrect results on ppc64le https://github.com/tensorflow/tensorflow/blob/v1.0.1/tensorflow/core/kernels/sparse_matmul_op_test.cc#L255-L256

[code]

Here we are getting incorrect results for data2 array (`[  0.170094    0.14922 -0.08238

[2017-06-14 12:48] jeansely opened #10697 "how can combining cnn with convlutional lstm"
Hi,

i want to process a image in cnn+convolutinal_lstm , in the connection point  between to network , shape(None,100,100,64) for cnn the should insert to convolution_lstm network ,
but not  match output cnn with input convlutinal_lstm.
is any example for this combination?

[2017-06-14 12:51] llhe opened #10699 "RDMA transport should support variable sized tensor"
RDMA transport disabled variable size tensor https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/verbs/rdma.cc#L738 and https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/verbs/rdma.cc#L759.

However, in the embedding lookup model, the tensor has variable size. It's a common model parallelism case.

[2017-06-14 14:06] adakum commented on #10659
@Scitator  Your implementation is only for single layer encoder right ?
But yeah u are right. The problem was with concatenation. Right way to concatenate is as follows:
[code]

[2017-06-14 14:12] #10659 closed

[2017-06-14 14:17] adityaatluri opened #10703 "Bazel bring up for ROCm"
Hi,
I am trying to add new backend to tensorflow. As a first step, I started changing bazel files around [(Commit here)](https://github.com/ROCmSoftwarePlatform/tensorflow/commit/b75ea3f499a5f63f2580066ae132c93e2b03d0ad). When I enable XLA + ROCM during configure, and run `bazel build -s --config=opt --config=rocm //tensorflow/tools/pip_package:build_pip_package `, I am getting the following error

[2017-06-14 14:32] hyunjik11 opened #10705 "undocumented change in variable scope from tf 1.0.1 to tf 1.1.0"
**System Information**
- **Custom code, a minimal reproducible example provided below**
- **Linux Fedora 24 and Fedora 25**
- **TensorFlow installed from binary using pip**
- **TensorFlow version 1.0.1 and 1.1.0**
- **CUDA 8.0/cuDNN 5.1**
- **GeForce GTX 1080**

**Problem**
I'm trying to run some code that I wrote for tensorflow 1.0.1 on tensorflow 1.1.0.
It seems like tf.contrib.layers.fully_conn

[2017-06-14 14:37] girving commented on #8873
@yanchen036 No need to touch `TileGrad`.  It's a legacy op that someone wrote without noticing that it's just `tf.reduce_sum`.  Should be unused unless you have a `GraphDef` generated by a very old version of TensorFlow.

[2017-06-14 14:53] whatbeg opened #10706 "[Feature Request] can tfdbg support printing or writing into file the whole (complete) tensor ?"
### Describe the problem

I used tensorflow's new debugger named tfdbg to debug tensorflow's application, which I need to see some intermediate tensors, but, for example, I tried to debug `wide_n_deep_tutorial.py`,
when I type command like
`print_tensor linear/linear/native_country/native_country_weights/embedding_lookup_sparse:0`

it gives me following lines:
[code]

if I run redirect it to a loc

[2017-06-14 14:58] sswarnakar commented on #4592
InvalidArgumentError: Nan in summary histogram for: dnn/dnn/logits_activation
	 [[Node: dnn/dnn/logits_activation = HistogramSummary[T=DT_FLOAT, _device="/job:localhost/replica:0/task:0/cpu:0"](dnn/dnn/logits_activation/tag, dnn/logits/BiasAdd)]]

I am having the same error too.....have been trying to figure out what's wrong but not being able to do it....someone please help me on this

[2017-06-14 15:01] JerrikEph commented on #10641
[code]
@ebrevdo
Actually I think it's a good idea to just set `log_probs[1:weight_width]` to negative infinity in initialize function. I will add a test unit and test it if you think it's ok.

[2017-06-14 15:25] joshburkart commented on #8393
FYI that we've now added a `var_to_bounds` argument to ScipyOptimizerInterface that allows specifying per-`Variable` bounds. It's submitted in the internal Google repository so should be available in GitHub/PyPi soon. Also be aware that once the update is rolled out, supplying the `bounds` keyword explicitly as I suggested above will raise an exception...

[2017-06-14 15:36] gnavihs commented on #5036
+1

[2017-06-14 16:00] johndpope commented on #19
fyi - thanks to @RockfordWei - we have https://github.com/PerfectlySoft/Perfect-TensorFlow 🎉

[2017-06-14 16:02] aselle commented on #10693
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-06-14 16:02] #10693 closed

[2017-06-14 16:04] aselle commented on #10695
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-06-14 16:04] #10695 closed

[2017-06-14 16:06] aselle commented on #10695
Looks like you are using a MAC... make sure you read this.
https://www.tensorflow.org/install/install_mac

Googling "Error importing tensorflow.  Unless you are using bazel," yields these results:

https://github.com/tensorflow/tensorflow/issues/1402
https://github.com/tensorflow/tensorflow/issues/6726
https://stackoverflow.com/questions/35252888/tensorflow-installation-problems

[2017-06-14 16:07] aselle commented on #10697
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

If you think after doing that, it is a bug, submit your reproducible test case. Thanks!

[2017-06-14 16:07] #10697 closed

[2017-06-14 16:19] vg-pulsepoint commented on #7467
+1 <bump>

[2017-06-14 16:19] aselle commented on #10705
Generally speaking, there is no guarantee of backward compatibility in the contrib area as it is considered "in-flux" and "unsupported". However, @martinwicke or @lukaszkaiser  might have some knowledge of this change.

[2017-06-14 16:24] aselle commented on #10703
Could you try to make the minimal change that exhibits your year. Unfortunately, we have many issues and your commit is over 1296 lines.

[2017-06-14 16:26] aselle commented on #10706
@caisq, could you address this feature request, please. Thanks!

[2017-06-14 16:32] aselle commented on #10656
This seems to say it is 5, so whatever you were looking at probably had a mistake.
http://www.nvidia.com/object/quadro-for-mobile-workstations.html
In any case, we just trust what the nvidia api returns, so this is not a TensorFlow issue for sure. Hopefully 5.0 is sufficient for your needs. Closing for now, Thanks!

[2017-06-14 16:32] #10656 closed

[2017-06-14 16:35] lukaszkaiser commented on #10705
No need to create variable manually, sorry for the misunderstanding! The variable reuse mechanism had a bug in 1.0.1 which ignored reuse checking: you shouldn't set "reuse=True" if the variable hasn't been created before. Just set "reuse=None", I hope that works. I'm closing for now, please reopen if it doesn't work for you, we'll help. Sorry for the problem!

[2017-06-14 16:35] artcg commented on #10650
Yes I don't think this has anything to do with variable scope, possible confusion between a different GitHub issue

[2017-06-14 16:43] caisq commented on #10706
@whatbeg this is already supported. All you need to do is adding the `-a` option:

tfdbg> pt -a <tensor_name>

If you don't want to type the whole command yourself, you can click the tensor to see the incomplete display, and hit Up Array key to navigate to the last command, which is an automatically entered `pt <tensor_name>` command. Then you can just append ` -a` and hit Enter.

[2017-06-14 16:43] #10706 closed

[2017-06-14 16:45] alextp commented on #10669
I am more worried about the C++ usage of clock, which I don't know how to
interpret in multicore settings. Why not use
std::chrono::system_clock::now() which should track real time reasonably
well?

On Wed, Jun 14, 2017 at 1:26 AM, July-Morning <notifications@github.com>
wrote:

--
 - Alex

[2017-06-14 16:45] caisq commented on #10706
Also note that it can be a little slow if the tensor is large (like in your case). You can use numpy-type slicing in the command, e.g.,

tfdbg> pt linear/linear/native_country/native_country_weights/embedding_lookup_sparse:0[500:1000]

This table contains a list of the commands and their option flags: https://www.tensorflow.org/programmers_guide/debugger#tfdbg_cli_frequently-used_commands

[2017-06-14 16:49] aselle commented on #10705
Thanks for the quick reply @lukaszkaiser!

[2017-06-14 16:50] July-Morning commented on #10669
@alextp I did time measurements with std::chrono::system_clock::now() and got the same results.

[2017-06-14 16:54] aselle commented on #4592
@issxjl2015, @sswarnakar, you may have the same error but for different reasons. Please post detailed issues with **reproducible test cases** as new issues if you would like help. Assuming the causes of the error being the same is easy to do, but often not true. Thank you.

[2017-06-14 17:10] July-Morning commented on #10669
@alextp Oh, no, sorry, my mistake. Thank you a lot. For the benchmark I posted this solved the issue, but my original net is still slower in C++. Further investigation needed. Will close the issue for now and reopen if necessary. Is that OK?

[2017-06-14 17:17] alextp commented on #10669
Sure, thanks!

On Wed, Jun 14, 2017 at 10:14 AM, July-Morning <notifications@github.com>
wrote:

--
 - Alex

[2017-06-14 17:18] RockfordWei commented on #19
@johndpope You are welcome! I am doing the documentation now and community examples based on Perfect-TensorFlow are absolutely ⚠️*WELCOME*⚠️!!! Because of the Power of Perfect, a Server Side Swift, now you can integrate any brilliant ideas of TensorFlow into a Server written in Swift and deploy to cloud in hours!

Please join us Slack [http://perfect.ly](http://perfect.ly) to get instant feedback

[2017-06-14 17:20] nectario opened #10708 "Building Java Tensorflow for GPU, from Source, Does not Work as Described."
First of all, I will not address this in Stackoverflow. This question belongs here. I tried going to Stackflow but nobody responded.

I need to build tensorflow for Java from source with GPU support in Windows. How can I do this successfully? I need to build the JNI DLLs. Please advise!

I get:
[code]

Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/ten

[2017-06-14 17:31] mrsabhar commented on #10199
@serchsm _mm256_extract_epi8 and epi16 are part of AVX and not AVX2 .. That is the reason you are seeing error with AVX2 option.
https://software.intel.com/sites/landingpage/IntrinsicsGuide/#text=extract&expand=2273,2273&techs=AVX,AVX2

[2017-06-14 17:42] zheng-xq commented on #10434
Adding @benbarsdell, does this look like a NVCC problem?

[2017-06-14 17:44] cmluciano commented on #10642
It is possible. Can you check the versions of the cuda and or nvidia-driver packages?

[2017-06-14 17:46] justprotato commented on #10436
@tillahoffmann , could you tell me how to install the master version of bazel? so that I can solve the problem like yours? Thank you!

[2017-06-14 18:05] adityaatluri commented on #10703
Hi,
Thank you response. You can ignore the LICENSE and CROSSTOOL_HCC.bzl.
I guess the point of interest will be the rocm_configure.bzl file. https://github.com/ROCmSoftwarePlatform/tensorflow/blob/b75ea3f499a5f63f2580066ae132c93e2b03d0ad/third_party/gpus/rocm_configure.bzl
If you are familiar with bazel infrastructure, can you guide me to add AMDGPU support to bazel?

[2017-06-14 18:27] benbarsdell commented on #10434
Yes, looking into this now.
@kwotsin could you provide the TF commit hash that you're on as well as the output of "nvcc --version"?

[2017-06-14 18:29] RylanSchaeffer commented on #8833
@oahziur , I have an unrelated question. I'm currently trying to use RNNs to solve the problem I'm working on, but I'd also like to consider using fully convolutional models as well. How would you recommend storing and processing my data in a way conducive to training both types of models?

Currently, I've written a script to parse all of my data (originally in .csv files) into `tf.train.SequenceE

[2017-06-14 18:42] fritzo commented on #2423
It looks like there are now lots of random ops in `tf.contrib.distributions`, but `Binomial.sample()` is not implemented whereas `Bernoulli.sample()` and `Multinomial.sample()` are both implemented. Are there any plans for `Binomial.sample()`?

[2017-06-14 18:56] therc commented on #10642
Is there a libcuda.so in the Docker image? I have seen cases where the image has a libcuda.so from a CUDA installation, but the Kubernetes node had a mix of libraries from the Linux driver installation (e.g. 367.48 vs 367.57 or 375.66).

[2017-06-14 19:08] therc commented on #10642
Actually, I see that there's a libnvidia-fatbinaryloader.so.367.48 in the lddconfig output. What does the libcuda.so.1 symlink point to? Perhaps _pywrap_tensorflow_internal.so has been linked against 367.48 and you need libcuda.so.1 to really point to libcuda.so.367.48. (Why does it have to link against libnvidia-fatbinaryloader.so in the first place?)

[2017-06-14 19:16] therc commented on #10642
This looks like the same as https://github.com/tensorflow/tensorflow/issues/9071

[2017-06-14 19:17] Urmish commented on #9946
Is there any update on this?

[2017-06-14 19:18] drpngx commented on #9138
Will take a look this weekend

[2017-06-14 19:38] GChaudhary opened #10711 "Broken Link for CIFAR-10 tutorial"
On the main page of Tensorflow tutorial for CIFAR-10 i.e.
( [https://www.tensorflow.org/tutorials/deep_cnn#model_inputs](url) ), the links in the **[Code Organisation](https://www.tensorflow.org/tutorials/deep_cnn#code_organization)** section are ALL broken.
To be precise, the on clicking them - **Github** page says '_Page not found_'

Please remove this bug ASAP

[2017-06-14 19:38] garciparedes commented on #5492
Hi! I'm experimenting the same mistake

[2017-06-14 20:08] NickShahML commented on #7531
Why can't we just add a very small factor within the log to ensure it doesn't get round to zero?
[code]

[2017-06-14 20:16] rmkemker opened #10712 "GPU Error with tf.losses.sparse_softmax_cross_entropy"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: See below
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Binary (PIP)
- **TensorFlow version (use command below)**: v1.1.0-rc0-61-g1ec6ed5 1.1.0
- **Bazel version (if compiling from source)**: n

[2017-06-14 20:20] NickShahML commented on #7531
I want to express that it would be incredibly useful to have arcsinh as an activation function. According to the recently popular self-normalizing networks [paper](https://arxiv.org/abs/1706.02515), you can use the SELU activation function to normalize your network.

But more importantly, you *also* can use arcsinh by applying the following activation:

output = 1.27*arcsinh(x)

If we could get ar

[2017-06-14 21:13] sergey-serebryakov commented on #1300
@wodesuck I think P4 does not really support half precision natively. NVIDIA mentions only FP32 and INT8. I am observing similar behavior with P4

[2017-06-14 21:46] DSLituiev opened #10713 "[Documentation] cifar10_input.py is referenced but missing on master"
### Describe the problem
File `cifar10_input.py` is referenced in documentation, but is missing on `master`.

Documentation piece:
https://www.tensorflow.org/programmers_guide/reading_data

r0.7 version
https://github.com/tensorflow/tensorflow/blob/r0.7/tensorflow/models/image/cifar10/cifar10_input.py

[2017-06-14 21:59] #10494 closed

[2017-06-14 22:21] bbouffaut opened #10714 "undefined symbol error when loading zero_out custom op"
### System information
- **Implement zero_out custom op as defined in tensorflow tutorial**: no custom code at all
- **OS Platform and Distribution**: Ubuntu 16.04.2 LTS (Xenial Xerus) / 4.4.0-75-generic #96-Ubuntu SMP Thu Apr 20 09:56:33 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.1.0-rc2 / v1.1

[2017-06-14 22:44] WorksWellWithOthers commented on #10436
@justprotato

To test out bazel, you need to compile it. To compile a development version of Bazel, you need the latest released version of bazel, which can be compiled from source.

bazel build //src:bazel builds the Bazel binary using bazel from your PATH and the resulting binary can be found at bazel-bin/src/bazel. This is the recommended way of rebuilding Bazel once you have bootstrapped it.

[2017-06-14 22:47] lakshayg commented on #7531
@NickShahML I am currently working on the asinh and acosh functions (#10598). It hasn't been merged in the master branch due to a test which is failing on Windows. I hope to fix it in a day or two as soon as I have access to my machine. BTW as soon as I am done with these functions I plan to start implementing the SELU activation (#10612).

[2017-06-14 22:49] printdhruv commented on #10708
I think that  error states that cudnn install path. Might be you have to configure cuda path correctly. Check installation on tensor-flow website line by line for bazel and cuda libs.

[2017-06-14 23:05] nectario commented on #10708
Yeah, but I do specify the CUDNN path using ./configure.

[2017-06-14 23:08] amirjamez commented on #10484
Sorry for the delay @satok16 . I guess the problem is the fact that the `hexagon_graph_execution` binary was built for ARM and not meant to be used with Hexagon-sim. I guess I have to reproduce `libhexagon_controller.so` and `libhexagon_nn_skel.so` from scratch using their provided hexagon-clang compiler. Am I right ?

[2017-06-14 23:10] nectario commented on #10708
Is something hardcoded in the build script? Remember I need the dll for Windows.

[2017-06-14 23:21] andrewharp commented on #10153
@CHLLHC @StarRain-L Both of these ops should be included via tensorflow/core:android_op_registrations_and_gradients, which includes array_ops.cc (ExtractImagePatches) and math_ops.cc (Maximum). Can you provide more details about how you are building your app? Does it work if you use the [prebuilt binaries](https://ci.tensorflow.org/view/Nightly/job/nightly-android/)?

And just to note, selective r

[2017-06-14 23:31] nathanin commented on #10711
They were all moved into another repo

https://github.com/tensorflow/models/tree/master/tutorials/image/cifar10

[2017-06-14 23:36] blake-varden opened #10715 "Feature Request: Update tf.image.sample_distorted_bounding_box to use Scalar Tensor Inputs"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 14.04
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
1.1
- **Bazel version (if compiling from source)**:
- **CUDA/cuDNN version**:
8.0/5.1
- **G

[2017-06-14 23:41] aselle commented on #10711
@wolffg, I've verified this. Could you take a look?

[2017-06-14 23:42] aselle commented on #10713
@wolffg, please take a look!

[2017-06-14 23:49] aselle commented on #10712
[code]
labels should be `y_t` in this line I think. `y` is type int32, which is causing the error.

[2017-06-14 23:50] aselle commented on #10663
Can you try with python2 and see if the binary solves your problem?

@petewarden, do you have any suggestions on this. It looks like the as_text=False may have a Python 3 incompatibility.

[2017-06-14 23:56] petewarden commented on #10663
If you're loading a binary .pb graph, you'll need to add `--input_binary=false` to your freeze_graph command line. I believe that's what's causing the error you see in that case, since otherwise it tries to decode a binary file as UTF-8 text.

[2017-06-15 00:45] domluna commented on #10663
@petewarden thanks! Adding ```--input_binary-true``` fixes the utf-8 error and using a binary fixes the memory error.

[2017-06-15 01:23] StarRain-L commented on #10153
Thank you for your reply. I wants to use his own model.My app built for Mobile will crash at runtime.
![snip20170615_3](https://user-images.githubusercontent.com/8908244/27161187-39edeb2e-51ac-11e7-9c37-26e4cca83f38.png)

[2017-06-15 01:45] oahziur commented on #8833
@RylanSchaeffer I am not very familiar with modeling sequence data with convolutional models and your use cases, but if you data is fixed length, I think you can always reshape the input Tensor to fit your convolutional model after you parse the example.

[2017-06-15 01:55] #10342 closed

[2017-06-15 02:01] xxy19404 commented on #10693
@aselle Thanks for you attention. I have fixed this problem, The problem is just caused by that the directory of checkpoint is wrong. After I change the right directory, it works. Thanks very much!

[2017-06-15 02:18] tfboyd commented on #10685
You have to manually tweak the config script to download the OSX MKL version.  The URL is slightly different.  Intel did not include that check in the script.  I will own this as I want to do the process so I can finish up some benchmarks to include in an updated performance guide.  It would be awesome but not necessary if you (@vade) found the URL and updated the config script.

[2017-06-15 02:27] madongyu commented on #7032
Thanks.

[2017-06-15 02:35] tfboyd commented on #10685
Oh and Google locks down our laptops so we cannot build from source so it makes it hard for me to test.  I need to borrow one form my wife.  Yeah... awesome.

[2017-06-15 02:36] aselle commented on #10693
Glad you managed to get it to work.

[2017-06-15 02:36] aselle commented on #10663
Glad you got it to work, closing for now.

[2017-06-15 02:36] #10663 closed

[2017-06-15 02:41] aselle commented on #10642
I'd install the cuda toolkit on the image as #9071 recommends. that would give you access to nvidia-smi. Anyways, my point is that you should verify CUDA GPU is working independent of TensorFlow first.

[2017-06-15 02:42] aselle commented on #10703
I am unfortunately far from a bazel expert, but @jart may have some suggestions.

[2017-06-15 02:53] therc commented on #10642
That sounds like asking for trouble. You want the nvidia-smi binary and kernel driver to match. So that means that the binary should live outside of the image entirely and should live in a directory on the Kubernetes node that is kept in sync with the driver by the cluster administrator. Then the pod mounts the host directory as e.g. /usr/local/bin or /opt/bin. That's what we've been doing for the

[2017-06-15 02:53] huwh1 opened #10718 "bazel build error: no such package '@protobuf//'"
Build from master 0d2f691, but encounter with the error of "/tensorflow/tools/pip_package/BUILD:94:1: no such package '@protobuf//': Traceback (most recent call last)". They are operated in virtualenv with bazel 0.5.1 on a centos 7.3.1611.

The package can be downloaded in a browser from the url "http://mirror.bazel.build/github.com/google/protobuf/archive/2b7430d96aeff2bb624c8d52182ff5e4b9f7f18a.

[2017-06-15 03:19] mikowals commented on #10685
Isn't there a separate problem that  Tensorflow MKL build requires MKL-DNN which is currently Linux only?  See this issue - https://github.com/01org/mkl-dnn/issues/10.

Discussion that Tensorflow MKL build uses MKL-DNN primitives is in the Intel press release - https://software.intel.com/en-us/articles/tensorflow-optimizations-on-modern-intel-architecture

[2017-06-15 03:23] aselle commented on #10642
Fair enough. The real question is whether or not the GPU install is working or not or if it is a Tensorflow bug. Using some other GPU program like nvidia-smi that is simpler is a common way to separate the problem. LD_DEBUG is a great debugging tool for seeing why shared libraries aren't loading

LD_DEBUG=libs python -c "import tensorflow"
pipe it to a file and find where it is trying to load libc

[2017-06-15 03:27] wm901115nwpu opened #10720 "freeze_graph problem"
When I use freeze_graph, the --input_checkpoint=model.ckpt-8361242, the data is V1 version. But I use the tensorflow v1.1,the data save as model.ckpt-569500.data-00000-of-00001,model.ckpt-569500.index,model.ckpt-569500.meta.How can I deal with?

[2017-06-15 03:44] jart commented on #10703
I'm noticing you added this code:

[code]

What is `@local_config_rocm`? In order to have a label like that, you need to add something like the following to your `tensorflow/workspace.bzl` file:

[code]

[2017-06-15 04:13] tfboyd commented on #10685
I am 99% sure (not 100% as I like to leave room for error) that we are not using MKL-DNN open source.  It downloads the binary MKL if I am not mistaken.  I also spoke to Intel today (the people that did the PRs for MKL) and the person assured me it supports Mac OSX and I needed to tweak the config.  I am trying to do the build but Google policy is slowing me down.

[2017-06-15 04:36] jart commented on #9976
I've confirmed that all these 404 warning messages are now gone at HEAD. They should be relatively harmless in the old releases.

[2017-06-15 04:36] #9976 closed

[2017-06-15 04:53] winston-li commented on #7951
@EdeMeijer  Thanks. I thought it should work, but after some experiments, I can't make it work as expected. I followed the guidelines of dataset README.md, with pseudo code like following:

    def _parse_function(example_proto):
        features = {"image": tf.FixedLenFeature((), tf.string, default_value=""),
                    "label": tf.FixedLenFeature((), tf.int32, default_value=0)}

[2017-06-15 05:41] summerlove66 commented on #9484
I got the same problem,
but ,I  have no the cudnn64_6.dll file..
![mm2d 9 3bfb4qitn_kcnurq](https://user-images.githubusercontent.com/16596135/27166873-30795348-51d0-11e7-9867-c30520d98ca0.png)

[2017-06-15 05:50] Scitator commented on #7868
@martinwicke Very cool feature, I am looking forward to adapt it for hyperopt or something like that!
But for now, I stuck with very simple question: is there any simple way to give it ability to run several experiments in parallel (independently)? Or I **must** specify [tf.server](https://www.tensorflow.org/api_docs/python/tf/train/Server#class_tftrainserver) for that? Maybe you can help with som

[2017-06-15 05:55] xodus7 commented on #6141
@rw I've just recently myself needed to implement this distribution and have some code that is based on the contrib.distributions interface (now in the process of being moved into the core). I haven't implemented the sampling algorithm yet and I only handle the p=3 and p=4 cases, but if you haven't already solved this problem I'm willing to share my code. Once I've got things in good shape I was p

[2017-06-15 05:59] power0341 commented on #10685
Hit the same pole, using a mac mini
[code]
What to do next?
[code]

[2017-06-15 06:10] luckyteddy commented on #9697
I met the same problem, turns out the eigen lib version is not compatible with tensorflow version. Make sure the eigen version in /tensorflow/workspace.bzl is correct.

[2017-06-15 06:26] printdhruv commented on #10708
Can you try to put into environment variable to have wide broader scope and try other options too.
From the error log it seems wrong config via bazel

[2017-06-15 06:46] SteveBetter commented on #9697
@luckyteddy Do you know the commit of Eigen fits for TensorFlow 1.2.0 rc2 (commit:ce1d6ec49bb0aea2ee2e5bd90e424345e6846fc8 ).

I found something here:
http://eigen.tuxfamily.org/bz_attachmentbase/attachment.cgi?id=789
, which links this error to a commit of Eigen, as you have mentioned.
How to solve this, a earlier version before this commit?

Thanks a lot.

[2017-06-15 06:57] Scitator commented on #10659
@adakum Yeap, master branch is only for simple model. But in other one, I am using MultiRnnCell and projection looks like - [link](github.com/Scitator/TF-seq2seq/blob/tf_master_seq2seq/seq2seq/rnn_encoder.py#L101)

[2017-06-15 07:01] jaewookchungsc opened #10722 "tf.image.resize_bicubic() produces artifacts in output image"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes. See below.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: All platforms
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.0
- **Bazel version (if compiling from source)**: 0.4.5
- **CUDA/cuDNN vers

[2017-06-15 07:14] GD06 opened #10723 "Poor Scalability of TensorFlow MultiGPU Training on a Single Machine [Performance Bug]"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian 3.16.7
- **TensorFlow installed from (source or binary)**: source, hash: b1e174e
- **TensorFlow version (use command below)**: v1.1.0-rc2-119-gb1e174e 1.1.0-rc2
- **Bazel version (if compiling from source)

[2017-06-15 07:16] sampepose commented on #10714
+1, I have the same issue.

[2017-06-15 07:46] kinderry commented on #10611
meet this problem too.

[2017-06-15 08:20] EdeMeijer opened #10725 "tf.contrib.data.Dataset.filter kernel error on excluded element"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary (nightly build)
- **TensorFlow version (use command below)**:  1.2.0-rc2 (git version v1.2.0-rc0-1066-g4c0052d)
- **CUDA/cuDNN version**

[2017-06-15 08:22] ggael commented on #9697
Indeed, some specialisations were missing for ARM NEON, this should be fixed by the following commit:

https://bitbucket.org/eigen/eigen/commits/d781c1de9834/
Summary:     Bug 1436: fix compilation of Jacobi rotations with ARM NEON, some specializations of internal::conj_helper were missing.

but I cannot test on ARM NEON right now. Could someone try with the head of the default branch of Eigen to

[2017-06-15 08:23] EdeMeijer commented on #7951
@winston-li seeing "?" as shape is because at that point you're looking at the 'static' shape of the tensor, which isn't always defined (the graph doesn't know in advance how many examples there will be). However, `tf.shape()` evaluates the dynamic, real-time shape of a tensor, so I thought this should work.

Anyway, I tried creating a minimal example, but I'm getting internal kernel errors when m

[2017-06-15 08:40] jabacrack commented on #8652
windows, python 3.5 in anaconda, tensorflow 1.1.0, keras 2.0.5
when I try to run example perceptron from documentation (https://keras.io/getting-started/sequential-model-guide/) get error
[code]
Code that I run
[code]

[2017-06-15 08:51] guoying1030 opened #10726 "in the test dataset the use of different batch_size will get different results. ,why?"
When I used kears and tensorflow training after the checkpoint, after stopping the process, when I was found in the test, the use of different batch_size will get different results. The When batch_size = 1 when the error rate is high, but when the batch_size = 128, the error rate is not so high. The The The Why is this? The So what about my online service?

[2017-06-15 08:57] kinderry commented on #10611
#7856 may help you

[2017-06-15 09:02] llhe commented on #10699
@junshi15 @anfeng  Any comments?

[2017-06-15 09:32] jubjamie commented on #9976
Cheers @jart

[2017-06-15 09:35] jubjamie commented on #8858
_Warning: As this doesn't appear to be a bug with Tensorflow, the devs may ask for this to be moved to Stack Ovefrlow._

Yes this does sound like you don't have a Tensorflow issue but instead have problems with your drivers perhaps. May i suggest re-installing your drivers/updating them. Also, have a search online for the exact driver you are using as sometimes nVidia drivers have issues that the

[2017-06-15 09:35] luckyteddy commented on #9697
@ggael It works on my ARM platform

[2017-06-15 09:37] whuguozili opened #10727 "Redundant Computation of tf.cond()"
### System information (Runs all right)
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
-  OS: Linux Ubuntu 14.04.01
- **TensorFlow installed from pip:
- **TensorFlow version (use command below)**:'v1.0.0-65-g4763edf-dirty', '1.0.1
- **CUDA/cuDNN version: CUDA8.0/cuDNN5.1
- **GPU model and memory**: GTX1060 6GB

### Describe the problem
tf.cond

[2017-06-15 09:59] hlzlyc commented on #7641
dd

[2017-06-15 10:02] parkatji opened #10728 "tensorflow.contrib.keras.python.keras.models throwing errors for a valid keras code"
### System information
== cat /etc/issue ===============================================
Linux parikshit-XPS-L322X 4.4.0-79-generic #100-Ubuntu SMP Wed May 17 19:58:14 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
VERSION="16.04.2 LTS (Xenial Xerus)"
VERSION_ID="16.04"
VERSION_CODENAME=xenial

== are we in docker =============================================
No

== compiler =============================

[2017-06-15 10:05] hyunjik11 commented on #10705
Thanks for the replies, but if I set ```reuse=None```, I can't use these variables again with the same code.
For example, suppose I have a function that maps inputs to outputs of a certain fixed DNN:
[code]
Then in tensorflow 1.1.0, calling build_dnn twice will give me the following error:
[code]

If I use ```reuse=True``` for ```build_dnn```, I will get the error in my previous post.
Back in Tens

[2017-06-15 10:16] Netzeband commented on #10611
@kinderry Thanks for the hint with the other issue, but seems to be a completely different topic.
Here, I use a relative pathname. This means tensorboard is indeed started from the same drive, it is even started from the parent directory of the summary-dir. And furthermore all data are shown, except of the graph.

[2017-06-15 10:17] luckyteddy commented on #9697
@SteveBetter Sorry, I have overload eigen to test, don't know the earlier version. But the solution @ggael gave works. Thanks to him.

[2017-06-15 10:21] hlzlyc commented on #7641
@mikigom , @aselle  ,do you have fixed this problem?  I meeted the same problem when I want to calculate the gradients of ResizeNearestNeighbor.  I know image resize bilinear defines the gradient and know where it is , but I still don't know how to  solve this problem.

@ops.RegisterGradient("ResizeNearestNeighbor")
def _ResizeNearestNeighborGrad(op, grad):
  """The derivatives for nearest neighbo

[2017-06-15 10:32] hlzlyc commented on #7641
`dd`

[2017-06-15 10:33] jkschin opened #10729 "tf.nn.max_pool wrong docs?"
### System information
Not Applicable

### Describe the problem
[API](https://www.tensorflow.org/api_docs/python/tf/nn/max_pool) states that ksize has length >= 4, the size of window for each dimension of the input tensor. However, value is a 4-D Tensor so doesn't this mean that ksize should be length == 4? Same for strides.

Digging into maxpooling_op.cc shows that there's some check that does `=

[2017-06-15 10:37] StarRain-L commented on #9476
@petewarden @s1ddok  Excuse me, I met a similar problem.I follow the above instructions do, but I don't succeed.Below is my screenshot.How to solve?Thank you.
![snip20170615_13](https://user-images.githubusercontent.com/8908244/27177663-aed307a6-51f9-11e7-973e-81a209e7638f.png)

[2017-06-15 10:46] sandipmgiri commented on #10459
With a little more investigation I found the following things :
 https://github.com/tensorflow/tensorflow/blob/v1.0.1/tensorflow/core/kernels/sparse_matmul_op_test.cc#L255-L256
[code]

For `internal::pbroadcast_first<Packet>`  line, on both the platform executed different functions, see below -

On x86 executed  `EIGEN_STRONG_INLINE Packet4f pbroadcast_first<Packet4f>(const Packet4f& a)` function

[2017-06-15 11:10] amutu commented on #6210
see this：
https://github.com/amutu/tensorflow_offline

[2017-06-15 12:00] zhaoerchao opened #10730 "All the graph have an operation _Retval that makes the train loop slow"
I have tried to train the model in [tf_cnn_benchmarks.py](https://github.com/tensorflow/benchmarks/blob/master/scripts/tf_cnn_benchmarks/tf_cnn_benchmarks.py) and [cifar10_multi_gpu_train.py](https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10/cifar10_multi_gpu_train.py).

All the timelines results like the image bellow. There is an operation named '_Retval' in the end of trai

[2017-06-15 12:26] chenghuige opened #10731 "scope reuse problem variable not exist for using Dense(in contirb.seq2seq.attention_wrapper)"
tf version '1.2.0-rc0'
in attention_wrapper.py(contirb.seq2seq.attention_wrapper), it use below

    from tensorflow.python.layers import core as layers_core
    memory_layer = layers_core.Dense(10, name="memory_layer", use_bias=False)  #line 416

but this usage will cause un expected result when trying to reuse memory_layer, see below

    input = tf.constant([[1,2,3], [4,5,6]], dtype=tf.float32)

[2017-06-15 12:34] junshi15 commented on #10699
Current design only allows string tensors to change size, when a larger string tensor is requested, the buffer size increases. To allow other tensor to increase size (smaller tensors are fine), we need to remove this check https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/verbs/rdma.cc#L738.

Note there is no mechanism to shrink the buffer size, so in the end, the buffer is a

[2017-06-15 12:50] StarRain-L commented on #9934
@girving ,Excuse me,You said "iOS doesn 't include all the ops." what do you mean.I met a similar problem,Thank you for your answer!!!!
![snip20170613_6](https://user-images.githubusercontent.com/8908244/27181940-322dca0c-520c-11e7-8ebb-f5f053627dfa.png)

[2017-06-15 13:06] gaohuazuo opened #10733 "Timeline incorrectly show most ops on gpu:0"
Timeline show most ops on gpu:0, which disagree with nvidia-smi and device placement log.

TF version v1.2.0-rc0-735-gf48673b (less than two weeks ago)

Attachments (remove txt suffix)
[chrome___tracing.pdf](https://github.com/tensorflow/tensorflow/files/1077664/chrome___tracing.pdf)
[trace.json.txt](https://github.com/tensorflow/tensorflow/files/1077680/trace.json.txt)
[jupyter.log.txt](https://g

[2017-06-15 13:08] kzos commented on #10484
@amirjamez , I am afraid hexagon_graph_execution doesn't get built with QURT libs support for obvious reasons to run on hexagon-sim,

best place to start would be to simulate standalone, testapp graph in hexagon nn lib.

[2017-06-15 13:11] whatbeg commented on #10706
@caisq thank you very much, I should check the programmers_guide in detail before asking. : )

[2017-06-15 13:19] 3rd3 commented on #2514
@danijar This looks interesting. How is your provided code supposed to be used? Is `batch` here a single training example or a `tf.train.*batch*` node, or can it be both? In my case I want to enqueue many examples in varying numbers at once and dequeue them with `batch_size`. Furthermore, training (256x256x3) and test (512x512x3) data have different shapes. Would that work?

[2017-06-15 13:23] lylepratt commented on #9895
Any update on this? It's an easily reproduced issue that makes using XLA impossible, but there hasn't been anyone assigned to this ticket.

[2017-06-15 13:27] winston-li commented on #7951
@EdeMeijer Thank you very much, it works in my case :-)

[2017-06-15 13:28] ypruan commented on #8191
@doncat99
It seems that `copy.deepcopy(cell)`  in `seq2seq.py`  doesn't make effect.
So I change the related part in `seq2seq_model.py` to

[code]

[2017-06-15 13:33] gongbudaizhe opened #10735 "[BUG] Get different image value each feed"
### System information
- OS: Centos 7
- TensorFlow installed from source
- Tensorflow version: both 1.1.0rc1 and 1.2.0rc1
- Bazel version: 0.4.5-jdk7
- CUDA 8.0/ cuDNN 5.1
- GeForce GTX 1080 / 8G

### Describe the problem
Get different values of the same feeded image.

### Source code
Below is a minimal script that reproduce the problem:
[code]

[2017-06-15 13:39] tfboyd commented on #10685
I took a first pass and it was not as easy as tweaking the download and small change to the ./configure file.  This may take a few days or even longer to figure out.  The performance improvement I have personally tested on Linux is substantial which should translate equally to OSX.  I will update this thread as I go.  One option I have not tried is to download the MKL from Intel and give that a tr

[2017-06-15 13:48] mx601595686 commented on #37
+1

[2017-06-15 13:59] vade commented on #10685
Thank you @tfboyd for looking into this so thoroughly and quickly. With the loss of potential GPU support on OS X, us Mac users can take all the client side gains we can!

Very appreciated!

[2017-06-15 14:02] adityaatluri commented on #10703
Huh. Didn't know that. I'll add `local_config_rocm` to `tensorflow/workspace.bzl` and see how it goes.
Thank you for the response.

[2017-06-15 14:15] tfboyd commented on #10685
@vade In the mean time make sure you are compiling with AVX or AVX2 as that makes a big difference.  I hope to publish some info on the performance page soon.  I just got an email back from Intel and I believe they are interested in helping us work through it.  Sadly the dream of just swapping out the download was not the solution.  :-)  In some ways I am not sure why I thought it would be that ea

[2017-06-15 14:23] vade commented on #10685
I have been using AVX/AVX2 and FMA and it certainly does help!

[2017-06-15 14:46] mphz commented on #7778
@apacha  you should uninstall tensorflow and then reinstall again to kill the OpKernels warnings

[2017-06-15 14:57] nectario commented on #10708
What are the environment variables I need to set?

[2017-06-15 15:24] RylanSchaeffer commented on #8833
@oahziur , can I try asking the question another way? Is there a protocol buffer other than `SequenceExample` that makes feeding data to a dynamic RNN easy?

To give more information, my data has the following shape: `[number of samples per minibatch, time steps per sample, number of features]`. Both `number of samples per minibatch` and `number of features` are fixed, but `time steps per sample`

[2017-06-15 15:27] RylanSchaeffer commented on #8833
I think I just don't understand how `SequenceExample` stores the sequential aspect of the data in a way that would let me reshape the data.

[2017-06-15 15:49] jart commented on #10703
Feel free to ping this bug again if you get stuck on Bazel. If you're writing a feature for TensorFlow, then I'm happy to support you.

[2017-06-15 15:55] tatatodd commented on #9895
Apologies on the long delay.  I'm taking a look at this now.

[2017-06-15 15:58] tatatodd commented on #9895
BTW - if anyone who's running into this problem has a smaller repro script, that would be appreciated.

[2017-06-15 16:10] jugglerix commented on #9526
The current goal is to release the new Programmer's Guide in July.

[2017-06-15 16:10] xksteven commented on #634
@dylanbfox

If you're using the tensorflow built in saver then if you "reset" the adam optimizer by simply creating a new adam optimizer then it will create an entire extra set of parameters for each variable in the graph while maintaining the old unused ones.  This process will not work as a long term solution as you're almost doubling the size of graph every time you reset it in this way.

It is

[2017-06-15 16:11] guillaumekln commented on #7951
For sequence data, it is common to batch sequences with same (or similar) lengths. This is usually achieved by simply sorting the dataset based on sequence length. However, this does not seem possible to achieve with the current API (if yes, please let me know how to do it).

It would be nice so see something in this flavor:

[code]

which will sort items by chunk of 10000 (similar to `dataset.shu

[2017-06-15 16:23] thomasquintana commented on #9895
I believe @wj1066 reported that he's having the same issue with [mnist_softmax_xla.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/tutorials/mnist/mnist_softmax_xla.py). I tried to simplify the script I provided above but not sure I can make it any simpler. Thanks for looking into this issue.

[2017-06-15 16:24] rajnamitha commented on #10130
@EdeMeijer Could you please share the code that made it work? Because I face similar problem for a quantized graph of inception resnet model. I get .
I get "ValueError: No op named QuantizedAdd in defined operations"

 I tried using "dir(tf.contrib)". However, it didn't work for me. I am not sure if I am using it right way.

[2017-06-15 16:24] martinwicke commented on #7868
@xiejw for additional comments. A hyperopt tuner would be very cool.

You need `tf.Server` etc. only when you want each experiment to run on several machines. If you have one machine per experiment, you can distribute the python code and run it on each machine independently. You just have to make sure that your Tuner distributes different hyperparameter values to different workers.

[2017-06-15 16:30] woodshop opened #10736 "seq2seq.BasicDecoder incompatible with seq2seq.ScheduledOutputTrainingHelper"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**:  b'v1.1.0-0-g1ec6ed5' 1.1.0
- **Bazel version (if compiling from source)**: 0.5.1
- **CUDA

[2017-06-15 16:34] lukaszkaiser commented on #10705
Just add the reuse parameter to your build_dnn function, and call it with "None" first time and with "True" the other one.

[2017-06-15 16:45] satok16 commented on #10484
@amirjamez

Yeah.  TF-HVX may be too large to build for Hexagon-sim.  If you find the way, that is great but that may not be a trivial work.

This is a good idea. If you want to run TF-HVX runtime on the simulator, we may need to extract some functionalities from TF framework to a standalone application and build it by SDK.

[2017-06-15 16:49] aselle commented on #10726
I'm sorry, but I am closing thi, since it is not a TensorFlow question, this is a machine learning algorithm question. Please read references on what batch size means, e.g. here is one of the first google results.
https://stats.stackexchange.com/questions/153531/what-is-batch-size-in-neural-network

[2017-06-15 16:49] #10726 closed

[2017-06-15 16:52] lukaszkaiser commented on #10705
A note to explain this behavior: it was introduced due to a bug made when moving tf.contrib.layers to use the same code as tf.layers. The behavior now is the same as before the bug (in earlier versions of TF), and it is now the same as tf.layers. So ignoring reuse in tf.contrib.layers was really a contrib bug.

[2017-06-15 17:00] rezacsedu commented on #7823
Hello Guys,
Is there any update on this issue?

[2017-06-15 17:01] aselle commented on #10722
Most bicubic interpolants are not guaranteed to be monotonic, since the cubic interpolant's extrema can exceed the original extrema in the given interval. Just clamp your image to allowable value after running the resize_cubic call. i.e. 0, 255 or 0, 1 depending on float or int types.

[2017-06-15 17:01] aselle commented on #10723
@tfboyd , could you take a look and offer some suggestions?

[2017-06-15 17:05] cancan101 commented on #781
@sampepose Link to PR?

[2017-06-15 17:08] cancan101 opened #10737 "[feature] tf.contrib.image.invert"
/CC @ringw

Along the lines of the other utility functions in [`tf.contrib.image`](https://www.tensorflow.org/api_docs/python/tf/contrib/image), would be great to have a `tf.contrib.image.invert` that takes a transform and returns the inverse transform.

[2017-06-15 17:13] kzos opened #10738 "hexagon graph execution has put checks for inputs to be of square dimensions, why is it so?"
OS: Ubuntu 16.04 64bits
Android Version: 7.1 (Nougat)
NDK Version: android-ndk-r12b
HEXAGON SDK: 3.1
nnlib source: https://source.codeaurora.org/quic/hexagon_nn/nnlib

I want to test against input shape 1 640 480 3
Below check is returning with error as it is looking for square dimensions.
(https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/hexagon/hexagon_graph_execution

[2017-06-15 17:20] kzos commented on #10738
@satok16 , Would be glad and thankful, to provide workaround from your re-factoring code base.

[2017-06-15 17:28] EdeMeijer commented on #10130
@rajnamitha the Python file I used it in literally starts like this
[code]
and the rest is just ordinary TensorFlow code. If you're doing the same thing and still running into your problem my advise would be to open a new issue.

[2017-06-15 17:32] nectario commented on #10708
Has anyone been able to successfully build the Java GPU libraries for Windows?

Running:

`./configure`
`bazel build --config opt //tensorflow/java:tensorflow //tensorflow/java:libtensorflow_jni`

[2017-06-15 17:35] satok16 commented on #10738
@kzos, hexagon_graph_execution_test.cc is a test application intended to run the inception models.  If you want to run an inference on HVX in a more generic way, you should write your own program to follow tensorflow inference steps.  Anyway, the upcoming refactoring will allow you to benchmark arbitrary graph on HVX by benchmark_model.cc without using hexagon_graph_execution_test.cc, and that wil

[2017-06-15 17:45] rajnamitha opened #10739 "Quantized graph using graph transform fails to work"
**System information

Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS
TensorFlow installed from (source or binary): binary
TensorFlow version (use command below): v1.1
Bazel version (if compiling from source): N/A
CUDA/cuDNN version: N/A
GPU model and memory: N/A
Exact command to rep

[2017-06-15 17:47] rajnamitha commented on #10130
@EdeMeijer : It is still not solving the problem in my case, so opened an issue. Hope to get a solution. Thanks for your information :)

[2017-06-15 18:14] RylanSchaeffer commented on #8833
Nevermind. I think I figured it out.

[2017-06-15 18:23] gunan commented on #6468
Closing due to inactivity. I think the models repository was updated to fix this issue, too.

[2017-06-15 18:23] #6468 closed

[2017-06-15 18:34] rmkemker commented on #7712
@carlthome, where are you implementing the non-negativity constraint for a and b?  Just in the loss function?

[2017-06-15 18:49] 3rd3 opened #10740 "Type error occurring in the input pipeline should give more descriptive error messages than "RandomShuffleQueue is closed and has insufficient elements""
I don't have a particular code example, but I had the case that a `tf.py_func` node returned the wrong data type and thus caused the queue to stall. It was impossible to tell what the error was from the error messages that TensorFlow produced. What is the reason that there are no error messages about type mismatches?

[2017-06-15 18:55] tatatodd commented on #9895
@thomasquintana I replicated your issue on TF 1.1.0 build with XLA enabled, using the python program you provided.  FYI the CHECK failure indicates a logical error in the compiler:
[code]

I also tried the same thing on TF 1.2.0-rc2, and the failure goes away.  Looking through the commit history of algebraic_simplifier.cc, there have been many changes to the code.  I did not identify exactly which

[2017-06-15 18:55] #9895 closed

[2017-06-15 19:28] ymrabet commented on #8330
I had the same uncatchable error with tf.train.string_input_producer.
It was solved when I set num_epochs to None.
But I am not yet sure that this change is correct from an application perspective and I don't have an explanation of why it solved the uncatchable exception.

[2017-06-15 19:33] Iolaum commented on #7823
I can't find anything in the 1.2 release notes for GBM's. Only improvements in deployment for Random Forest Implementation.

[2017-06-15 19:39] kratzert commented on #7951
I would like to ask again (since there was no reply to my [comment](https://github.com/tensorflow/tensorflow/issues/7951#issuecomment-305435143) above: Am I right, that the new input pipeline isn't implemented using Queues? I did some tests using the new input pipeline to load an preprocess images, but it seems everything is done sequentially and their is only a negligible performance improvement

[2017-06-15 19:40] MicaelCarvalho commented on #8330
@ymrabet that is not the solution. :-)

Setting num_epochs to None makes the threads continuously feed the queue, without ever stopping. This way, the queue never gets emptied and the problem doesn't happen.

However, in some situations it is desirable to precisely control the number of epochs, specially when shuffle is enabled, to ensure every sample was seen N times; and in these situations the

[2017-06-15 20:06] gsabran commented on #10468
FYI if that's helpful I've hosted the package code on github to make conversations easier: https://github.com/gsabran/coremltools

[2017-06-15 20:21] daviddengcn opened #10741 "[go] bug in Shape.size for dim == NumDimensions"
### System information
This does not matter.

### Describe the problem
(go) when dim equals s.NumDimensions(), the function should return -1, instead it panics.

### Source code / logs
In [shape.go](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/go/shape.go#L62), `Shape.Size` method

        func (s Shape) Size(dim int) int64 {
    ---   if dim < 0 || dim > s.NumDimensions() {

[2017-06-15 20:33] kyo744 opened #10742 "The current makefile builds incomplete Tensorflow"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-06-15 20:34] ymrabet commented on #8330
@MicaelCarvalho Thanks for the explanation :-)
How can we be sure that it's only a display issue with no other impact?

[2017-06-15 20:35] gunan commented on #10742
The readme in the makefile page clearly states this is the case.
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile

The supported way to build tensorflow is to use bazel. Makefile is only maintained to build for iOS, and will provide an incomplete build of tensorflow.

[2017-06-15 20:35] #10742 closed

[2017-06-15 20:36] yifeif commented on #10673
Flake was due to a new numpy version. Should be fixed with #10709 and @gunan re-downloaded numpy afterward.

[2017-06-15 20:36] #10673 closed

[2017-06-15 20:38] NickShahML commented on #7531
@lakshayg thanks for your help! Really looking forward to testing this new activation out as I think it could hopefully an improved activation compared to `tanh` and `relu`.

Selu is pretty straight forward:
[code]

[2017-06-15 21:07] chenliu0831 opened #10744 "[PIP] Markdown version locked to `2.2.0`"
This markdown version lock could cause versioning conflict for downstream (e.g. if requirements are compiled and resolved by pip-compile). Wondering If there's a reason to lock this version. And it's already not sync with the [CI install script](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/install/install_pip_packages.sh) (those `--upgrade` with locked version als

[2017-06-15 21:08] chenliu0831 commented on #10744
A tiny [PR](https://github.com/tensorflow/tensorflow/pull/10743)

[2017-06-15 21:09] suharshs commented on #7880
I do not, but this is definitely something that people are interested in and we plan to look into. I will close this issue though for now, and keep you posted on in-graph RL solutions

[2017-06-15 21:09] #7880 closed

[2017-06-15 21:21] aselle commented on #10708
@asimshankar, do you have any useful suggestions?

[2017-06-15 21:23] aselle commented on #10715
This looks like it could be done w/o breaking shape inference, but it would need to be done w/o breaking graphdef compatibility by creating a duplicate of the sample bounding box op as a V2. I am labeling as contributions welcome since this is not likely going to be worked on soon.

One work around would be to make a few discrete values that would be acceptible and use a switch statement to select

[2017-06-15 21:25] aselle commented on #10720
I believe you can just give "model" and it will find the other files or provide the directory containing the model. Perhaps @concretevitamin can comment.

[2017-06-15 21:32] aselle commented on #10727
I don't see any bug here. You are creating two disctinct instances of tf_fun1 (and of tf_fun2).  One in tensor_a and one when constructing the condition. When run, it has to evaluate all arguments to tf.cond which runs tensor_a and tensor_b. Then is_training is True, so the subgraph created by "lambda: tf_fun1(tensor_a)" is executed which is similar to tensor_a but completely a distinct object, th

[2017-06-15 21:32] #10727 closed

[2017-06-15 21:32] aselle commented on #10714
@bbouffaut, could you see if this fixes it for you.

[2017-06-15 21:38] concretevitamin commented on #10720
The old way of doing things, `--input_checkpoint=model.ckpt-8361242` (namely, feeding the prefix of those files), still holds.

[2017-06-15 21:38] #10720 closed

[2017-06-15 21:57] aselle commented on #10741
Thanks for the report, please specify the filename (link is even better) in the future to make it clear what you are talking about.  Thanks!

[2017-06-15 21:59] aselle commented on #10737
Could you give an example of how this would be used? Also, how would you imagine implementing this. It seems to be it would be difficult, because you'd have to introspect a general tensor to make it work like you suggest.

[2017-06-15 22:00] aselle commented on #10739
@petewarden, do you have time to take a quick look.

[2017-06-15 22:07] MicaelCarvalho commented on #8330
@ymrabet the problem happens because `slice_input_producer` only generates the specified number of epochs of input, while `batch` has no parameter to control the number of epochs, therefore it "runs forever".

Internally, `batch` creates threads to feed an input queue, from which batches are taken. These threads keep pulling samples from the input tensor indefinitely. The problem occurs when they

[2017-06-15 22:10] petewarden commented on #10739
I'm guessing this is a mismatch between the 1.1 version of TensorFlow that you're using in Python (since you installed it from a binary) and the top-of-tree TensorFlow tool that it looks like you built from source (since I see blaze-bin in your command line). QuantizedAdd was introduced very recently, so it's not available in any binary builds yet as far as I know, so you'll need to build a pip pa

[2017-06-15 22:20] cancan101 commented on #10737
Not sure what you mean about introspecting tensor. I would think this would just convert the transform, represented as a tensor of shape (num_images, 8), to the standard matrix representation of an affine transform: `num_images x 3 x 3`, and then doing a standard matrix inverse.

For some more info:
* http://scikit-image.org/docs/dev/api/skimage.transform.html#affinetransform

This would be used i

[2017-06-15 22:35] asimshankar commented on #10708
Can you try with:
[code]

and let us know if that works out?

[2017-06-15 22:47] jaewookchungsc commented on #10722
@aselle Thanks for the solution. I tried tf.saturate_cast() and it worked beautifully. So is this an intended behavior? Anyway, I feel that it's really easy for anyone to fall into this pitfall. It would be really great if this behavior is well documented.

[2017-06-15 22:56] amnonh-uw opened #10747 "Striding behaviour different between caffe and tensorflow"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: Binary (pip install)
- **TensorFlow version (use command below)**: ('v1.2.0-rc2-21-g12f033d', '1.2.0')
- **Bazel version (if compiling from sou

[2017-06-15 23:05] aselle commented on #10747
Could you show the weights and tensors outputs from this program? I don't have both TensorFlow and Caffe installed. If the tensor is too big to show can you try to create a very small example like on a 3x3 image with a 2x2 filter?

[2017-06-15 23:11] aselle commented on #10740
It would be very helpful if you could create a reproducible test case. @ebrevdo, do you have any idea on this anyways?

[2017-06-15 23:48] aselle commented on #10729
@martinwicke, @josh11b , this seems to come from the attribute specifier only allowing a >= optionally and not ==.
i.e.
[code]
We can't make it list(int) == 4, because the op registration class doesn't support that for Attr. However, since the attribute constraint gets auto placed in the docs i.e. here:
https://www.tensorflow.org/api_docs/python/tf/nn/max_pool

It is confusing, maybe we shouldn't

[2017-06-15 23:53] aselle commented on #10725
@vrv, do you have any thoughts on this issue?

[2017-06-15 23:54] aselle commented on #10728
@fchollet , could you please take a look. Thanks!

[2017-06-15 23:59] aselle commented on #10677
My point is that you appear to trying to run the training part of your graph rather than the inference part? Is this correct? The set of ops included in ios is limited to training, so you'll have to play with the makefile to add more ops to the build. See:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/makefile/README.md
and search for other issues. I think your issue is a

[2017-06-16 00:00] aselle commented on #10730
@zhangyaobit, could you take a look?

[2017-06-16 00:02] aselle commented on #10638
Please take a look @ebrevdo. Thanks!

[2017-06-16 00:03] aselle commented on #10651
That looks like a bug in  your code to me, as I expect the two to be different. It's hard to say without  a reproducible test case.  Please try to to simplify your  problem to something you can post so we can help you further. You might also try on StackOverflow. @vrv, any thoughts?

[2017-06-16 00:05] aselle commented on #10722
Yeah, it's a standard thing in interpolation, but it is probably worth a comment in the docs.

[2017-06-16 00:06] aselle commented on #10722
Writing a doc note is agreat idea. If you could prepare a pull-request that would be aweosme! Thanks!

[2017-06-16 00:19] josh11b commented on #10729
Two things we can do: support more constraint types (good, but work), and add support for = at the beginning of the doc string for attrs suppressing the generated prefix (which currently works for tensor inputs).

[2017-06-16 00:29] jkschin commented on #10729
If you are accepting PRs for this and could point me to some resources to study how this works in detail (like the op registration class for one), I'd be happy to do one.

[2017-06-16 00:45] Sushobhan04 opened #10749 "Numpy.fft.fft2() gives different result than tf.fft2d()"
as mentioned in the issue #6401, the tf.fft2d() gives different result compared to np.fft.fft2(). Is there a reason for this ?

Note : numpy gives proper fourier transform after np.fft.fftshift(), and I have taken care of that in my code.
The differences are not visible here, but the mean squared error is significant.

![image1](https://user-images.githubusercontent.com/18488880/27207200-84637a88-

[2017-06-16 00:51] nectario commented on #10708
Tried your suggestion and still the same error:
`$ bazel build --config=opt --config=cuda //tensorflow/java:tensorflow //tensorflow/java:libtensorflow_jni
ERROR: no such package '@local_config_cuda//crosstool': Traceback (most recent call last):
        File "C:/development/projects/tensorflow/third_party/gpus/cuda_configure.bzl", line 958
                _create_cuda_repository(repository_ctx)

[2017-06-16 01:10] StarRain-L commented on #10677
Thank you for your reply, and I have read "READEME"many times. I don't know how to add more ops to the build.I wants to use his own model.My app built for Mobile will crash at runtime. I provide a screenshot.On the left side of the picture is the source code,and the path is "tensorflow/core/ops/math_ops.cc".On the right is my crash logs. I found that "DT_FLOAT" did not found in the source.How to s

[2017-06-16 02:24] benoitsteiner commented on #2126
Our [Device Placement Optimization with Reinforcement Learning](https://arxiv.org/abs/1706.04972) paper has just been published on arXiv.

[2017-06-16 02:37] djelkind commented on #10479
@ebrevdo Your reply seems to suggest that the real problem isn't the orthogonal initializer, but employing the orthogonal initializer to initialize vectors -- since it's not meaningful for a single vector to be orthogonal in the first place.

[2017-06-16 02:47] vrv commented on #10725
Thanks for the simple repro!  I'm not entirely familiar with the code unfortunately; I took a quick look at the code and nothing obvious popped out as to why there are two input tensors anywhere (range produces a single element, filter just passes on the type of its input), so we'll need to do some more debugging to figure out why this is happening.  Thanks for the report!

[2017-06-16 02:51] gongbudaizhe commented on #10749
I am not sure if this is related to this issue #10735

[2017-06-16 02:55] StarRain-L commented on #8371
@a54 Excuse me, could you tell me your problem solved?I met a similar problem. Thank you
![snip20170613_6](https://user-images.githubusercontent.com/8908244/27210034-30192b64-5282-11e7-95b2-d456da5357b2.png)

[2017-06-16 02:59] beinanwang opened #10754 "The current makefile is incomplete"
Can someone provide a makefile that is equivalent to //tensorflow:libtensorflow_cc.so? This current makefile is missing many C++ API's. Is there a way to find all the files needed to build //tensorflow:libtensorflow_cc.so (recursively)?

[2017-06-16 03:24] lakshayg commented on #10612
The following need to be implemented in order to complete this task

- [  ] SELU Activation function
- [  ] Alpha-dropout
- [  ] The recommended for weight initialization

[2017-06-16 03:34] vrv commented on #10651
I am unfortunately not familiar with this code at all.  I think @ebrevdo might know more but is on vacation right now.  I could imagine that if you are making multiple passes over the data, then shuffling will present a different order of examples on the second epoch, and so a static shuffling of the dataset may still be different.  But I agree with @aselle that there is not enough information her

[2017-06-16 04:04] vrv commented on #10725
Okay I think I found the bug and sent it out for review internally, not sure if it's the right solution given my lack of knowledge about the internals, but it at least solves the issue illustrated by this code.

[2017-06-16 04:40] RustingSword commented on #10665
I had this exact problem on CentOS 7.1, with gcc 4.8.3, bazel 0.4.5, CUDA 8.0, cuDNN 5.1. CUDA and cuDNN are installed in the default path (`/usr/local/cuda`).

The error messages are as follows:
[code]

Adding
[code]
to
[code]
seems fixed the problem.

@lxwgcool I noticed that the file path in your errors starts with `/gpfs/gpfs1/`, while your added path in `CROSSTOOL_nvcc.tpl` starts with `/apps

[2017-06-16 05:07] aselle commented on #10754
Is there anyway but manually adding things, @petewarden? I know it uses many globs to avoid trivial new files but new directories I imagine are an issue.

[2017-06-16 05:13] aselle commented on #10677
Are you trying to do inference or training? If you are just trying to do inference, then you should really find out why your session is invoking ops that are called "gradients/...". It is far easier to figure out why that is happening than to add ops, and it probably will be important for performance.

[2017-06-16 05:49] Nayana-ibm commented on #8945
We had not observed above test failure on Ubuntu distribution.
On RHEL distribution, we had observed `//tensorflow/python/kernel_tests:summary_image_op_test `failure however test was passing  on re-running test on high memory vm.
Please note we had executed tests for Tensorflow v0.10.0

[2017-06-16 05:51] #7510 closed

[2017-06-16 06:03] llhe commented on #10699
@junshi15 Both L738 and L759 should be removed. The common usage pattern is still unknown, so don't know what is the best policy. Maybe we can remove the checks and first document this potential memory wastage as a warning?

[2017-06-16 06:38] ccwinner commented on #10677
@aselle  Item seems @StarRain-L is trying to use his own model written in python, it works well before. Your referenced issue has been closed and related missed ops has already been added in tf_op_files.txt in TF folder.

[2017-06-16 06:40] xiaoyongzhu commented on #2655
@jimdowling Thanks for the pointers. One quick question - does this YARN-native Tensorflow work with regular Hadoop (i.e. Apache Hadoop, rather than Hops)?

[2017-06-16 06:48] jimdowling commented on #2655
@xiaoyaozhuzi  - no. Hops Hadoop is a fork of Apache Hadoop. The YARN code is identical to the Apache code (version 2.7.3) with only a few additions: cluster state is recovered from MySQL Cluster and support for GPUs. If somebody wanted they could take our code and introduce it to YARN. But the YARN folks would prob reject the PR as they want to redesign YARN's resource model before accepting supp

[2017-06-16 07:28] ggael commented on #9697
@luckyteddy thank you for the confirmation.

[2017-06-16 07:37] Bardeux commented on #10651
Thank you for your answers, sorry to bother you but after some thoughts, as @vrv said, the only difference I see might be the fact that by using tf.train.batch, the database stays the same through the epochs. With a small database such as mine, do you think this can affect the model quality? About a bug in my code for that example, that would seem unlikely, as the swap between batch and shuffle_ba

[2017-06-16 07:37] #10651 closed

[2017-06-16 07:40] mklopp opened #10755 "Weird behavior of tf.train.Saver"
### System information
- Linux Ubuntu 14.04
- TensorFlow installed from binary:
- TensorFlow version v1.0.0-rc2:
- CUDA: 8.0, CuDNN: 5.1
- Tesla K80, 12GB

### Describe the problem
I have a problem with the tf.train.Saver, specifically with the 'max_to_keep' argument. If I create a Saver with 'max_to_keep' set to let's say 3 and use the saver.save function to save my model in the current directory

[2017-06-16 08:00] Bobe24 commented on #6055
@Carmezim
Install Microsoft Visual C++ 2015 Redistributable Update 3 x64. works for me.
Thanks!

[2017-06-16 08:20] ppedrioli commented on #10718
Make sure you have the patch command installed.

[2017-06-16 08:34] Paeans commented on #10406
--copt=-DEIGEN_USE_VML
Without using the quotation marks, I have compiled the code with no this error.
Please let me know if it's right.

[2017-06-16 08:34] eiennohito opened #10756 "Embedding visualizer of tensorboard is a blank page"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: master c007ee2c1f8701effb410f632e9d8c4cd120f9c0
- **Bazel version (if compiling from source)**: 0.5.0
- **CUDA/cuDNN version**: 8.0.44/7.0
- **GPU model and memory**: Titan X (Pascal)
- **Exact co

[2017-06-16 08:59] gongbudaizhe commented on #10735
It works as expected in CPU though. Looks like it is related to GPU computation.

[2017-06-16 08:59] StarRain-L commented on #10677
@aselle  I am doing the inference , and do you mean the session should not invoking ops  "gradients" when doing the inference ? how can I remove these ops ? I just use the model file saved by python .

[2017-06-16 09:08] tobiajo commented on #2655
@xiaoyaozhuzi no since we added GPU support as a resource Apache Hadoop is not supported. One could, with just a little effort, fork the repo, strip the GPU stuff and just change the dependencies in the [pom.xml](https://github.com/hopshadoop/hops-tensorflow/blob/master/pom.xml) to Apache Hadoop.

[2017-06-16 09:25] sandipmgiri opened #10757 "SparseMatmulOpTest.BroadcastPacketTest is failing on ppc64le"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
     Ubuntu 16.04 (ppc64le)
- **TensorFlow installed from (source or binary)**:
      Installed from source (v1.0.1)
- **TensorFlow version (use command below)**:
     ('v1.0.1-0-ge895d5c-dirty', '1.0.1')
- **Bazel version (if compiling from source)**:
     0.4.4-2017-05-26 (@80a07b5)
- **CUDA/cuDNN version**:

[2017-06-16 09:30] Netzeband commented on #10611
@all
Good news. I tried today the official Tensorflow 1.2 release from this night and the graph is shown correctly now. Thus this issue can be closed.
Thanks to all, who contributed to solve this issue.

[2017-06-16 09:30] #10611 closed

[2017-06-16 09:43] carlthome commented on #7712
Derp. Good catch, @rmkemker. That's why I've been sometimes getting NaNs...

I guess just penalizing the loss could work
[code]
but how about just wrapping the parameters in `tf.abs` and hoping it doesn't matter that two points on the loss surface map to the same ELU shape?

[2017-06-16 09:48] Netzeband commented on #10024
I have the same issue. It appears, when I store a checkpoint of my model.

OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
TensorFlow version (use command below): tensorflow_gpu-1.2.0-cp35-cp35m-win_amd64.whl  from PIP

[2017-06-16 10:06] mukta121 commented on #8096
I am having same issues issues am i am not able to install  tensorflow on anaconda .Error my mac throws is  The directory '/Users/muktamani/Library/Caches/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
The directory '/Users/muktaman

[2017-06-16 10:13] xxqcheers commented on #7669
when I run the " iris_monitors.py"
errors as follows:

    tf.contrib.learn.prediction_key.PredictionKey.CLASSES),
AttributeError: module 'tensorflow.contrib.learn' has no attribute 'prediction_key'

[2017-06-16 10:39] #10733 closed

[2017-06-16 10:59] nicaogr opened #10759 "GPU->CPU Memcpy failed Error or InternalError c2c fft failed Error when using FFT2D"
### The problem
I wrote a python script that used FFT2D from tensorflow you can find the Python script attached : TestFFT2D.py using GPU.

In this script, I first create a convolution apply to a tensor and than compute a loss between a reference input tensor and a variable one with ftt2d and ifft2d operations.

When I launch my script, I get a GPU->CPU Memcpy failed Error or an InternalError c2c f

[2017-06-16 11:16] nicaogr opened #10761 "Feature Request : Tensor Roll"
Could you add an equivalent to [Numpy roll](https://docs.scipy.org/doc/numpy-1.10.0/reference/generated/numpy.roll.html) on Tensor in tensorflow in order to allow the user to roll a Tensor along one of the axis of the tensor ?

[2017-06-16 11:24] saurabh-kumar-vit commented on #4128
@Hvass-Labs if u look at the 1000 classes used in the ImageNet dataset you will see that their are no tags related to the words - 'human', 'man', 'person'. So it is not surprising that it can't tell you that the image contains a human.

[2017-06-16 11:42] rajnamitha commented on #10739
@petewarden : I did like you said. However, I get another error now for the quantized graph, when I run inference:

 File "/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/tensorflow/python/framework/importer.py", line 312, in import_graph_def
    op_def=op_def)
  File "/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/tensorflow/python/fram

[2017-06-16 12:27] byronyi commented on #9926
Similar situation occurs with the following message:
[code]
We are training a VGG16 net using Google's official benchmark script.

[2017-06-16 12:31] byronyi commented on #9926
Moreover, different nodes fail for different Ops and/or different devices (CPU/GPU).

Node 1:
[code]

Node 2:
[code]

Node 3:
[code]

[2017-06-16 12:37] huwh1 commented on #10718
@ppedrioli Thank you for your reply! Could you please provide some more details? I have "pip install --upgrade patch" in the virtualenv of python, but the same problem remains ...

[2017-06-16 12:57] rmkemker commented on #7712
That is exactly what I did, but I am still getting the NaN values after it trains for a while.  I even tried weighting the penalties a bit higher with the same result.  My code trains till completion with ReLU activation, so it must be the PELU somehow.

[2017-06-16 13:36] kzos opened #10763 "What is the possible op substitute for set of OPerations on CPU to DSP Hexagon"
OS: Ubuntu 16.04 64bits
Android Version: 7.1 (Nougat)
NDK Version: android-ndk-r12b
HEXAGON SDK: 3.1
nnlib source: https://source.codeaurora.org/quic/hexagon_nn/nnlib

I am trying to build a graph to run on hexagon,
it uses few op's which hexagon doesn't support.

native : graph_transferer.cc:109 Failed to transfer graph Invalid argument: Mean has not been implemented yet.

OP's details are as bel

[2017-06-16 13:41] kzos opened #10764 "There is QuantizedInstanceNorm operation registered, But I could not find InstanceNorm operation anywhere."
OS: Ubuntu 16.04 64bits
Android Version: 7.1 (Nougat)
NDK Version: android-ndk-r12b
HEXAGON SDK: 3.1

There is **QuantizedInstanceNorm** operation registered, But I could not find **InstanceNorm** operation anywhere.

I am not sure why Quantized form is added without its original instance form, Maybe to convert graphs trained using other nets into pb and quantize them. Well this is my assumption.

[2017-06-16 13:49] kzos commented on #10738
@satok16, Ok, Already I am making changes for my own interface, got stuck in few op's not being supported by hexagon. Will fix that first, meanwhile, I hope refactored changes would get pushed. BTW you have any tentative date for pushing?

[2017-06-16 13:52] chenghuige opened #10765 "[Performance] contirb.seq2seq.attention_wrapper slower due to using matmul instead of reduce_sum"
tf version '1.2.0-rc0' contirb.seq2seq.attention_wrapper is great, it make using attention much easier.
However I found using attention_wrapper will be much slower then tf version 1.0.
After some experiment I found it is due to using matmul instead of reduce_sum.

from attetntion_wrapper.py 731

      expanded_alignments = array_ops.expand_dims(alignments, 1)
      attention_mechanism_values = sel

[2017-06-16 14:12] lxwgcool commented on #10665
@RustingSword Thank you RustingSword . "apps2" is auto-mounted in our cluster, therefore, in most of the time, i just use "/apps2" rather than "/gpfs/gpfs1/apps2". I will try to replace it at afternnon today and let you know if it works fine. Thanks so much for your suggestion.

Best regards
Xin

[2017-06-16 14:18] ppedrioli commented on #10718
@huwh1 The one you want is not the python version.

You should install it via your OS package manager (not the python one).
For instance for CentOS you will need something like:
`sudo yum install patch`

[2017-06-16 14:29] ktarplee opened #10766 "MultivariateNormalDiag probability gradient fails"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS 10.12.5
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: v1.2.0-rc2-0-gce1d6ec49 1.2.0-rc2
- **Bazel version (if compiling from source)**: 0.5.1-h

[2017-06-16 14:30] MGarvinNYC commented on #1835
@miku:  If you're still listening, your command line works for some files (thanks). But other files give an error message: "! You can't use `macro parameter character #' in math mode"
Any idea what's up?

[2017-06-16 14:33] gfolego opened #10767 "[Feature Request] Exclude ties in function in_top_k"
This is a feature request related to #10489 (tie handling in function in_top_k)

Would it be possible to add an option/argument specifying whether ties should be included or excluded?
In other words, make it possible for ties to return False instead of True.

Thanks!

[2017-06-16 14:56] petewarden commented on #10754
The tricky part with libtensorflow_cc is that it needs to compile a host-side tool first to generate the .cc and .h interfaces from the op definitions. That extra complexity means that neither the Bazel Android build process nor the Makefile build the lib. For the Makefile we try to mirror its globs and file list from the equivalents in the Bazel build process for Android, but since the CC interfa

[2017-06-16 15:02] petewarden commented on #10739
I haven't tried quantization on InceptionResnetV2, so it's possible there's issues we haven't run across with that model. As a workaround, try changing the quantize_nodes transform to:

[code]

This is likely to produce less accurate end results, but it will be helpful to see if it gets us past the import error.

[2017-06-16 15:02] junshi15 commented on #9926
@byronyi The original problem was there were multiple IB devices in a node, but the first device is down. The current Verbs implementation only uses the first IB device, hence the error. Does this apply to you as well?

[2017-06-16 15:24] tfboyd commented on #10723
I would have to look closer but I do not find this completely surprising but your number is lower than I would expect given my experience doing the benchmarks..  I believe VGG16 has a lot of parameters.  Did you try different parameter server approaches?  On the DGX-1 replicated (with NCCL) was the best approach for VGG16.  parameter_server on gpu was only a good option on AWS where they have GPUD

[2017-06-16 15:31] kafkagt opened #10768 "Undefined Symbol Import error"
Hi,

SO: Linux Mint 17 x64
Version 1.1
Compiling from source
Options: sycl (Opencl)
Python 2.7

_Using TensorFlow backend.
Traceback (most recent call last):
  File "/home/kafka/PycharmProjects/Test1/Test1.py", line 1, in <module>
    from keras.models import Sequential
  File "/usr/local/lib/python2.7/dist-packages/keras/__init__.py", line 3, in <module>
    from . import activations
  File "/usr

[2017-06-16 15:44] tfboyd commented on #10685
Update:  Using my limited Bazel and c++ skills I was a able to get it to compile on Mac OSX but when I tried to import tensorflow I ended up with an error.  I am going to try to find someone on the team with a much higher level of skill to work on this.  My gut feeling is this is doing to take some time.  Leaving assigned to me until I find someone and I am very interested in tracking this to comp

[2017-06-16 15:50] aselle commented on #1326
This seems to already be resolved, https://www.tensorflow.org/versions/r1.0/api_docs/python/tf/contrib/rnn/LSTMCell, closing!

[2017-06-16 15:50] #1326 closed

[2017-06-16 15:52] tfboyd commented on #5748
This issue is quite old and hasn't had recent activity. Be sure to try the latest build instructions (https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile) on the latest version of TensorFlow, and please create a new bug if it is still not working. Thank you.

[2017-06-16 15:52] #5748 closed

[2017-06-16 15:52] ktarplee commented on #10766
Also fails on the released version of tensorflow (v1.2.0).

[2017-06-16 15:53] #9055 closed

[2017-06-16 15:55] aselle commented on #10749
Can you give any indication about the relative error between the two versions? How much did you magnify the difference image?

[2017-06-16 15:56] #5956 closed

[2017-06-16 15:58] huwh1 commented on #10718
Thank you very much! @ppedrioli The build progress can be finished with the "patch" installed.

[2017-06-16 15:58] #10718 closed

[2017-06-16 16:00] tfboyd commented on #5736
I updated this example recently and it should work and actually about 6x faster :-)  Sorry it did not work in the past in this situation.  If you have issues with the latest version let me know.  I also know this issue is crazy old.

[2017-06-16 16:00] #5736 closed

[2017-06-16 16:01] tfboyd commented on #5952
Automatically closing due to lack of recent activity. We hope that you were able to resolve it on your own. However, since this is a support issue rather than a bug or feature request, you will probably get more information by posting it on StackOverflow.

[2017-06-16 16:01] #5952 closed

[2017-06-16 16:02] tfboyd commented on #6025
Automatically closing due to lack of recent activity. We hope that you were able to resolve it on your own. However, since this is a support issue rather than a bug or feature request, you will probably get more information by posting it on StackOverflow.

[2017-06-16 16:02] #6025 closed

[2017-06-16 16:03] tfboyd commented on #5989
Automatically closing due to lack of recent activity. We hope that you were able to resolve it on your own. However, since this is a support issue rather than a bug or feature request, you will probably get more information by posting it on StackOverflow.

[2017-06-16 16:03] #5989 closed

[2017-06-16 16:11] byronyi commented on #9926
This has not been our case. We are using only 1 rNIC with two ports, and two ports connect to two different switches in parallel. So both ports are UP.

[2017-06-16 16:11] tfboyd commented on #5964
Thank you for the PR.  Also the new DataSet API should also make it easier to catch the end of en epoch.  https://github.com/tensorflow/tensorflow/tree/r1.2/tensorflow/contrib/data

[2017-06-16 16:11] #5964 closed

[2017-06-16 16:11] #1458 closed

[2017-06-16 16:12] tfboyd commented on #6008
Automatically closing due to lack of recent activity. We hope that you were able to resolve it on your own. However, since this is a support issue rather than a bug or feature request, you will probably get more information by posting it on StackOverflow.

[2017-06-16 16:12] #6008 closed

[2017-06-16 16:15] aselle commented on #2547
Closing automatically due to lack of recent activity.

[2017-06-16 16:15] #2547 closed

[2017-06-16 16:16] jramapuram commented on #5952
@tfboyd : not sure I would say this is a support issue.
`tf.while_loop` should not deadlock. This is undefined behavior.

[2017-06-16 16:19] 3rd3 opened #10769 "RunMetadata giving inconsistent RAM values"
When viewing the GPU memory usage of a run metadata in TensorBoard, it shows for example one node "model" with 9.99 GB and another node "optimization" with 14.1 GB. The sum of these values exceeds the available memory on the GPU (12 GB) by far.

[2017-06-16 16:24] vrv commented on #10651
One way to validate this might be to manually replicate your database with shuffling several times (since the dataset is small this shouldn't be too bad), and see whether tf.train.batch is still worse than tf.train.shuffle_batch on the original dataset.

[2017-06-16 16:24] tfboyd commented on #3204
We now have MKL support and you will need to build from source.  I will also be updating the performance guide.  Here are the basic command, which will work starting at TF 1.2 RC2.

[code]

This will provide a signifiant boost and Intel is actively working on improving edge cases as they are found.

Is KNL available on AWS?  I would like to use it can you provide a link.

[2017-06-16 16:24] #3204 closed

[2017-06-16 16:27] tfboyd commented on #610
This issue is quite old and hasn't had recent activity.

[2017-06-16 16:27] #610 closed

[2017-06-16 16:28] aselle commented on #1813
Since no action has been taking in a while and it appears that there isn't compelling motivation to use the google framework, closing for now. @annarev, reopen if you feel this is likely to be a priority.

[2017-06-16 16:28] #1813 closed

[2017-06-16 16:28] girving commented on #6263
`tf.train.Supervisor` is deprecated, please use `tf.train.MonitoredSession` instead.  Assigning to @martinwicke since we should mark it deprecated in the docs.

[2017-06-16 16:31] mhyttsten commented on #3557
No activity or contributions made to this issue for a long time. Closing due to inactivity. Please reopen if somebody is working on this.

[2017-06-16 16:31] #3557 closed

[2017-06-16 16:32] girving commented on #4997
Closing since the bug seems stale.  We're happy to accept pull requests with further xcode fixes.

[2017-06-16 16:32] #4997 closed

[2017-06-16 16:35] aselle commented on #1882
@nealwu, could you consider this bug in your creation of garden models.

[2017-06-16 16:38] girving commented on #5050
Jianmin is gone; sorry this has fallen through the cracks.  @daeyun Do you still get this crash?

[2017-06-16 16:39] tfboyd commented on #6035
I believe this is fixed and I see there also was a PR.

[2017-06-16 16:40] tfboyd commented on #3505
Automatically closing due to lack of recent activity. We hope that you were able to resolve it on your own. However, since this is a support issue rather than a bug or feature request, you will probably get more information by posting it on StackOverflow.

[2017-06-16 16:40] #3505 closed

[2017-06-16 16:40] #6998 closed

[2017-06-16 16:41] tfboyd commented on #5950
Automatically closing due to lack of recent activity. We hope that you were able to resolve it on your own. However, since this is a support issue rather than a bug or feature request, you will probably get more information by posting it on StackOverflow.

[2017-06-16 16:41] #5950 closed

[2017-06-16 16:42] tfboyd commented on #5453
Automatically closing due to lack of recent activity. We hope that you were able to resolve it on your own. However, since this is a support issue rather than a bug or feature request, you will probably get more information by posting it on StackOverflow.

[2017-06-16 16:42] #5453 closed

[2017-06-16 16:43] girving commented on #7141
@kwccoin Does this issue persist?  Looks like this fell through the cracks (cough, @petewarden, cough).

[2017-06-16 16:43] aselle commented on #315
Thank you for the suggestion, but it's likely we won't do this, and it is would be undesirable to maintain two sets of Python bindings, closing for now. It also seems PyPy also now has the normal extension API available, relieving that need for this.

[2017-06-16 16:43] #315 closed

[2017-06-16 16:43] tfboyd commented on #5628
Automatically closing due to lack of recent activity. We hope that you were able to resolve it on your own. However, since this is a support issue rather than a bug or feature request, you will probably get more information by posting it on StackOverflow.

[2017-06-16 16:43] #5628 closed

[2017-06-16 16:45] girving commented on #4552
Closing since I think the issue as-is is too open ended.  Would be great to improve the situation, but I don't think leaving the issue open will encourage the necessary research.

[2017-06-16 16:45] #4552 closed

[2017-06-16 16:46] tfboyd commented on #6033
Automatically closing due to lack of recent activity. We hope that you were able to resolve it on your own. However, since this is a support issue rather than a bug or feature request, you will probably get more information by posting it on StackOverflow.

[2017-06-16 16:46] #6033 closed

[2017-06-16 16:48] girving commented on #6611
Unfortunately I don't think a simple formula for the number of steps is sufficient to cover all cases.  The proposed formula does only one epoch, which is usually not what one wants.  Since this is a tutorial, I think a hardcoded number of steps is fine.

[2017-06-16 16:48] #6611 closed

[2017-06-16 16:48] #7572 closed

[2017-06-16 16:48] #5626 closed

[2017-06-16 16:48] girving commented on #7158
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-16 16:48] #7158 closed

[2017-06-16 16:49] girving commented on #7215
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. In particular, we do not intend the documentation at `master` to describe the differences with previous versions of TensorFlow `contrib.  Thanks!

[2017-06-16 16:49] #7215 closed

[2017-06-16 16:50] tfboyd commented on #5850
Automatically closing due to lack of recent activity. We hope that you were able to resolve it on your own. However, since this is a support issue rather than a bug or feature request, you will probably get more information by posting it on StackOverflow.

[2017-06-16 16:50] #5850 closed

[2017-06-16 16:51] martinwicke commented on #7669
@ispirmustafa FYI

We should be fixing this as part of our tutorials rewrite for core estimators.

[2017-06-16 16:51] mhyttsten commented on #1318
Closing due to lack of recent activity. If there are any contributors interested in writing and maintaining this support then please reopen the issue. Thanks!

[2017-06-16 16:51] #1318 closed

[2017-06-16 16:52] tfboyd commented on #5412
Closing due to lack of activity.  Apologies that this did not come to a conclusion.  If the issue still exists or you still have a question please open a new issue here or on stackoverflow.

[2017-06-16 16:52] #5412 closed

[2017-06-16 16:53] girving commented on #7243
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 16:53] #7243 closed

[2017-06-16 16:53] aselle commented on #47
Since we have py_func() you can utilize any python numpy based library, so this feature seems addressed. If you have a more targeted feature request, we'd be happy to talk about it. Thanks!

[2017-06-16 16:53] #47 closed

[2017-06-16 16:54] tfboyd commented on #6144
Automatically closing due to lack of recent activity. We hope that you were able to resolve it on your own. However, since this is a support issue rather than a bug or feature request, you will probably get more information by posting it on StackOverflow.

[2017-06-16 16:54] #6144 closed

[2017-06-16 16:54] girving commented on #2444
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 16:54] #2444 closed

[2017-06-16 16:55] yzhwang commented on #8090
@zhangyaobit Could you take a look?

[2017-06-16 16:58] mhyttsten commented on #4940
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 16:58] #4940 closed

[2017-06-16 16:59] tfboyd commented on #5541
Automatically closing due to lack of recent activity. We hope that you were able to resolve it on your own. However, since this is a support issue rather than a bug or feature request, you will probably get more information by posting it on StackOverflow.

[2017-06-16 16:59] #5541 closed

[2017-06-16 16:59] aselle commented on #4290
It's been a while since this issue has had updates. @cancan101, did you have any chance to work on this? Thanks.

[2017-06-16 17:00] girving commented on #6635
@rmlarsen Were you planning to respond based on the tag you added?  Someone should probably track this down.

[2017-06-16 17:02] tfboyd commented on #1280
Closing.  The PR is still open.  I am not sure why it did not get resolved and the discussion should continue there.

[2017-06-16 17:02] #1280 closed

[2017-06-16 17:02] girving commented on #6849
`DNNRegressor` has been completely rewritten since then, so I'm closing this as obsolete.

[2017-06-16 17:02] #6849 closed

[2017-06-16 17:03] aselle commented on #4293
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 17:03] #4293 closed

[2017-06-16 17:03] aselle commented on #4018
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-06-16 17:03] #4018 closed

[2017-06-16 17:04] yzhwang commented on #8101
@drpngx Any update on this?

[2017-06-16 17:05] aselle commented on #3067
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 17:05] #3067 closed

[2017-06-16 17:05] #5500 closed

[2017-06-16 17:07] skye commented on #5407
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 17:07] #5407 closed

[2017-06-16 17:08] aselle commented on #2343
Automatically closing due to lack of recent activity. Verify that this is still a problem on the latest version of TensorFlow and reopen if it does.

[2017-06-16 17:08] #2343 closed

[2017-06-16 17:09] av8ramit commented on #10548
Thank you @Androbin for bringing this to our attention. We have plans to migrate away from ci_parameterized_build.sh, so issues with that file should be resolved. As for the complete list, I think those variables are fine for now, but in the event you notice a breakage please feel free to file a PR with a fix.

[2017-06-16 17:09] girving commented on #7014
@rmlarsen I'm unable to clone the Eigen repo because bitbucket's https clone doesn't work.  Has this been fixed yet?

[2017-06-16 17:09] girving commented on #7210
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 17:09] #7210 closed

[2017-06-16 17:10] skye commented on #5462
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 17:10] #5462 closed

[2017-06-16 17:12] girving commented on #7014
Fixed a while ago, apparently.

[2017-06-16 17:12] #7014 closed

[2017-06-16 17:12] martinwicke commented on #8330
We're replacing Queues with tf.contrib.datasets in the near future. This should take care of weaknesses such as this.

I'm closing this issue, thanks @MicaelCarvalho for the great explanations!

[2017-06-16 17:12] #8330 closed

[2017-06-16 17:13] tfboyd commented on #5789
Closing.  NCCL is the solution NVIDIA created to help navigate this issue but it is not always the right choice.  I did not do a lot of testing on the p2.16x large but in testing on a variety of sytems 4x Titan X, 8x k80 on GCE, 8x K80 on AWS and 8x P100 on DGX-1 I found the approach for how to deal with variable update ranges and is also different based on the model.  The results are [here](https

[2017-06-16 17:13] #5789 closed

[2017-06-16 17:14] girving commented on #7286
Unfortunately I think this is too hard at present given the complexities of bazel.  Closing for now.

[2017-06-16 17:14] #7286 closed

[2017-06-16 17:15] yzhwang commented on #4521
@mrajchl @slundqui Could you test it on tensorflow 1.1 and see if this bug still exists?
Also, @mjanusz , any update on this?

[2017-06-16 17:17] #10548 closed

[2017-06-16 17:17] skye commented on #5477
Leaving this open despite being old because I don't think it's fixed. In addition, I don't think importing a metagraph will work either (I haven't actually tested but have been looking at this code recently).

[2017-06-16 17:17] tfboyd commented on #6262
Automatically closing due to lack of recent activity. We hope that you were able to resolve it on your own. However, since this is a support issue rather than a bug or feature request, you will probably get more information by posting it on StackOverflow.

[2017-06-16 17:17] #6262 closed

[2017-06-16 17:17] martinwicke commented on #8371
@StarRain-L: Only the float kernel is registered for Maximum, you are creating a int32 version.

@tokoduck: Is this the full error message?

@petewarden, would this be expected given the makefile build has a restricted set of kernels?

[2017-06-16 17:18] skye commented on #5587
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 17:18] skye commented on #5592
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 17:19] girving commented on #7312
Sorry this fell through the cracks.  If you're still interested, @skaarthik, we'd be happy to accept a PR.

[2017-06-16 17:19] yifeif commented on #9739
Looks like the link is working now. Let us know if this is still an issue. Thanks!

[2017-06-16 17:19] #9739 closed

[2017-06-16 17:20] girving commented on #6131
Ultimate sadness.

[2017-06-16 17:21] girving commented on #6131
@yaroslavvb Is this possible to fix in a backwards compatible way by making it take a session directly?

[2017-06-16 17:21] tfboyd commented on #6315
Automatically closing due to lack of recent activity. We hope that you were able to resolve it on your own. However, since this is a support issue rather than a bug or feature request, you will probably get more information by posting it on StackOverflow.

[2017-06-16 17:21] #6315 closed

[2017-06-16 17:22] gunan commented on #3980
Since there has been no activity recently on this issue, I will close the issue.
Please feel free to reopen if there is more work here to be done.

[2017-06-16 17:22] #3980 closed

[2017-06-16 17:22] skye commented on #4914
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 17:22] girving commented on #6131
Unassigning Yuan since he's fled.

[2017-06-16 17:23] skye commented on #5515
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 17:23] #5515 closed

[2017-06-16 17:23] yifeif commented on #8429
This has been fixed. Now it should say "most recent stable branch (in this case, r1.2)". Thanks!

[2017-06-16 17:23] #8429 closed

[2017-06-16 17:23] girving commented on #6702
Closing since this seems fixed by upgrading the OS.

[2017-06-16 17:23] #6702 closed

[2017-06-16 17:24] tfboyd commented on #6405
Automatically closing due to lack of recent activity. We hope that you were able to resolve it on your own. However, since this is a support issue rather than a bug or feature request, you will probably get more information by posting it on StackOverflow.

[2017-06-16 17:24] #6405 closed

[2017-06-16 17:24] skaarthik commented on #7312
Great. I will send a PR.

[2017-06-16 17:24] skye commented on #5562
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 17:24] #5562 closed

[2017-06-16 17:25] tfboyd commented on #6269
Automatically closing due to lack of recent activity. We hope that you were able to resolve it on your own. However, since this is a support issue rather than a bug or feature request, you will probably get more information by posting it on StackOverflow.

[2017-06-16 17:26] gunan commented on #7057
I think all the necessary work here was done.
I am closing this issue due to inactivity.
Please reopen if there is more that needs to be done.

[2017-06-16 17:26] #7057 closed

[2017-06-16 17:26] girving commented on #7212
Any thoughts @petewarden?

[2017-06-16 17:26] tfboyd commented on #2004
https://www.tensorflow.org/performance/benchmarks  and we have started to updated code other teams are using for benchmarks to try and ensure best practices.

[2017-06-16 17:26] #2004 closed

[2017-06-16 17:27] tfboyd commented on #6251
Automatically closing due to lack of recent activity. We hope that you were able to resolve it on your own. However, since this is a support issue rather than a bug or feature request, you will probably get more information by posting it on StackOverflow.

[2017-06-16 17:27] #6251 closed

[2017-06-16 17:27] yzhwang commented on #6437
Please refer to #7278

[2017-06-16 17:27] #6437 closed

[2017-06-16 17:27] #6388 closed

[2017-06-16 17:28] tfboyd commented on #5982
Automatically closing due to lack of recent activity. We hope that you were able to resolve it on your own. However, since this is a support issue rather than a bug or feature request, you will probably get more information by posting it on StackOverflow.

[2017-06-16 17:28] #5982 closed

[2017-06-16 17:28] girving commented on #7324
@jart Did your search come up with anything?

[2017-06-16 17:28] skye commented on #5683
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 17:28] #5683 closed

[2017-06-16 17:29] gunan commented on #7808
I will try to make this happen with some build file trickery.

[2017-06-16 17:29] skye commented on #5659
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 17:29] #5659 closed

[2017-06-16 17:30] girving commented on #1070
Closing since the merged PR #557 seems related.

[2017-06-16 17:30] #1070 closed

[2017-06-16 17:30] av8ramit commented on #10075
I've added the header files to the cmake builds. They mirror the regular pip package in the latest nightly builds.

[2017-06-16 17:30] #10075 closed

[2017-06-16 17:30] skye commented on #5720
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 17:30] #5720 closed

[2017-06-16 17:30] aselle commented on #2068
Closing since there is no recent activity on this issue. If this is still an important feature and still being worked on, please reopen or create a new issue.

[2017-06-16 17:30] #2068 closed

[2017-06-16 17:31] tfboyd commented on #6459
Automatically closing due to lack of recent activity. We hope that you were able to resolve it on your own. However, since this is a support issue rather than a bug or feature request, you will probably get more information by posting it on StackOverflow.

[2017-06-16 17:31] #6459 closed

[2017-06-16 17:31] yzhwang commented on #7278
@chsigg Do you plan to implement separable conv3d or depthwise conv3d?

[2017-06-16 17:31] martinwicke commented on #4909
This issue is quite old and hasn't had recent activity. If it is still not working in the latest version of TensorFlow, and please create a new bug. Thank you.

[2017-06-16 17:31] #4909 closed

[2017-06-16 17:35] girving commented on #1246
This is a reasonable feature, but I'll close for now since it's not getting any activity.  Happy to reopen if someone wants to take this on.

[2017-06-16 17:35] #1246 closed

[2017-06-16 17:35] skye commented on #5773
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 17:35] gunan commented on #6349
Looks like #7116 was closed as fixed.
I will also close this issue.

[2017-06-16 17:35] #6349 closed

[2017-06-16 17:36] tfboyd commented on #6446
This is still an issue.  @gunan  agreed we can take a look.  I also find this frustrating.  Unless you are doing different version locally it is easier to say nothing and it will compile from the default folders.  If you have multiple versions you will want to point to the correct folder.

[2017-06-16 17:37] skye commented on #5667
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 17:37] #5667 closed

[2017-06-16 17:38] girving commented on #1408
Closing since I think this is out of reach of easy contributions.  A trivial implementation is trivial, but users are likely to want fast versions that are hard to write.

[2017-06-16 17:38] #1408 closed

[2017-06-16 17:38] tfboyd commented on #4589
This is being worked on.  Assigning to myself so I can update this as we go.

[2017-06-16 17:38] #8319 closed

[2017-06-16 17:40] skye commented on #5437
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 17:40] #5437 closed

[2017-06-16 17:40] aselle commented on #1029
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 17:40] #1029 closed

[2017-06-16 17:40] #4206 closed

[2017-06-16 17:41] skye commented on #5828
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 17:41] #5828 closed

[2017-06-16 17:41] #4339 closed

[2017-06-16 17:41] tfboyd commented on #5468
I am tracking #4589 and will provide updates until FP16 is in decent shape.  With out Volta it is hard to test real performance but that will happen soon.

[2017-06-16 17:41] #5468 closed

[2017-06-16 17:41] skye commented on #5913
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 17:41] girving commented on #1423
@martinwicke says close.

[2017-06-16 17:41] #1423 closed

[2017-06-16 17:41] andydavis1 commented on #10535
Nothing strikes me. I'd recommend trying to run an isolated 3D conv with the same shapes on the uses i7 machine, and see if its still slow (vs running the entire training step), just to isolate if the 3D Conv implementation is just slow for this shape (which could be the case).

[2017-06-16 17:42] girving commented on #1843
This hasn't gotten much attention, but I like it so I'm going to leave it open in the forlorn hope that someone will eventually do it.

[2017-06-16 17:43] yzhwang commented on #7754
Close for now since I assume this has already been fixed. If not, please reopen.

[2017-06-16 17:43] #7754 closed

[2017-06-16 17:43] girving commented on #2075
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 17:43] #2075 closed

[2017-06-16 17:43] girving commented on #2161
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 17:43] #2161 closed

[2017-06-16 17:44] skye commented on #3032
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 17:44] #3032 closed

[2017-06-16 17:44] girving commented on #2211
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 17:44] #2211 closed

[2017-06-16 17:45] girving commented on #2223
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 17:45] #2223 closed

[2017-06-16 17:45] #3186 closed

[2017-06-16 17:45] martinwicke commented on #4881
This issue is quite old and hasn't had recent activity. Please check the recently published performance guide and benchmarked example models.

[2017-06-16 17:45] #4881 closed

[2017-06-16 17:45] girving commented on #2314
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 17:45] #2314 closed

[2017-06-16 17:46] tfboyd commented on #6058
Automatically closing due to lack of recent activity. We hope that you were able to resolve it on your own. However, since this is a support issue rather than a bug or feature request, you will probably get more information by posting it on StackOverflow.

[2017-06-16 17:46] #6058 closed

[2017-06-16 17:46] girving commented on #2431
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 17:46] #5263 closed

[2017-06-16 17:46] #2431 closed

[2017-06-16 17:47] gunan commented on #4674
As a workaround, You can install nvidia drivers and cuda on your system even if you do not have a NVIDIA GPU and install the GPU version. Or if you have a GPU and install the GPU version, you can use `CUDA_VISIBLE_DEVICES` environment variable to run TensorFlow only on CPU.

I will close this issue as there has not been any updates for a long time, but we have a few initiatives which can help with

[2017-06-16 17:47] #4674 closed

[2017-06-16 17:47] aselle commented on #4998
This seems like a good idea that we haven't done even in the new docs.

[2017-06-16 17:47] #8776 closed

[2017-06-16 17:47] girving commented on #2433
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 17:47] #2433 closed

[2017-06-16 17:47] tfboyd commented on #6415
Automatically closing due to lack of recent activity. We hope that you were able to resolve it on your own. However, since this is a support issue rather than a bug or feature request, you will probably get more information by posting it on StackOverflow.

[2017-06-16 17:47] #6415 closed

[2017-06-16 17:47] cancan101 commented on #5913
this still looks to be relevant.

[2017-06-16 17:47] martinwicke commented on #4680
This issue is quite old and hasn't had recent activity. If it is still not working in the latest version of TensorFlow, and please create a new bug. Thank you.

[2017-06-16 17:47] #4680 closed

[2017-06-16 17:48] girving commented on #2502
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 17:48] #2502 closed

[2017-06-16 17:48] martinwicke commented on #5340
We did not get to this before 1.0 and now it's too late. It's not a terrible bug, so I'll close this.

[2017-06-16 17:48] #5340 closed

[2017-06-16 17:49] tfboyd commented on #2793
No updates but we did just look at this issue during a big bug scrub.

[2017-06-16 17:49] jramapuram commented on #6269
@tfboyd : this is a feature request

[2017-06-16 17:49] aselle commented on #5181
Looks to be resolved. Thanks @DjangoPeng!

[2017-06-16 17:49] #5181 closed

[2017-06-16 17:50] gunan commented on #4337
Ping!
Is this still an issue?
@concretevitamin @ebrevdo could you comment and/or close this issue?

[2017-06-16 17:50] aselle commented on #5193
@mhobby, Did you manage to work around this in anyway, or do you still need this support?

[2017-06-16 17:51] tfboyd commented on #7632
We are actively working on FP16.  Assigning to myself to monitor and contributions are still very welcome.

[2017-06-16 17:51] yzhwang commented on #8151
@cancan101 For tensorflow 1.2.0-rc2 it gives this error:
UnimplementedError: Generic conv implementation only supports NHWC tensor format for now.
	 [[Node: Conv2D = Conv2D[T=DT_FLOAT, data_format="NCHW", padding="VALID", strides=[1, 1, 1, 1], use_cudnn_on_gpu=true, _device="/job:localhost/replica:0/task:0/cpu:0"](Conv2D/input, Conv2D/filter)]]

Close for now because I think this solves your probl

[2017-06-16 17:51] #8151 closed

[2017-06-16 17:51] gunan commented on #6817
Looks like PR #6818 has fixed this?
I am closing this issue but feel free to reopen if it is still not resolved.

[2017-06-16 17:51] #6817 closed

[2017-06-16 17:51] girving commented on #2577
Looks like `pack` and `concat` support `complex128` now.

[2017-06-16 17:51] #2577 closed

[2017-06-16 17:52] martinwicke commented on #5277
@tfboyd If we decide to worry more about CPU performance, this information may come in handy. Not sure whether this holds up considering AVX or MKL.

[2017-06-16 17:52] #3882 closed

[2017-06-16 17:53] gunan commented on #6767
@ebrevdo Is this still an issue?
Could you comment and/or close this issue if it is resolved?

[2017-06-16 17:54] girving commented on #2625
Looks like this fell through the cracks.  Good idea though, so I'll leave it open.

[2017-06-16 17:55] av8ramit commented on #8207
Please open a PR with commits from authors who have signed the CLA:
https://github.com/tensorflow/tensorflow/pull/8221

Closing for now.

[2017-06-16 17:55] #8207 closed

[2017-06-16 17:56] jeichel-miovision commented on #10434
I'm also seeing the same issue when building with CUDA 8.0, cuDNN 5.1.5 on Nvidia Jetson TX1 (ARM)

git commit (v1.1.0)
1ec6ed51182adf8f1b03a3188c16cd8a45ca6c85

nvcc --version
[code]

[2017-06-16 17:57] tfboyd commented on #7775
The checkpoints get harder to deal with as TF moves forward.  One example is we would like to add fused batch_norm to slim to speed up training but that will likely further cause issues with the checkpoint.

I am marking this item as closed as I do not think this will get resolved until we redo this and create new checkpoints.  I know it does not help you but I am sorry that you had trouble.

[2017-06-16 17:57] #7775 closed

[2017-06-16 17:57] #3723 closed

[2017-06-16 17:58] aselle commented on #507
Closing this issue due to lack of activity.

[2017-06-16 17:58] #507 closed

[2017-06-16 17:59] gunan commented on #6773
I will close this issue, as we moved models out of core tensorflow.

[2017-06-16 17:59] #6773 closed

[2017-06-16 17:59] #8904 closed

[2017-06-16 17:59] girving commented on #5823
`decode_csv` returns what I think you mean by 2-D data as a list of 1-D tensors (two dimensions in total).  I think it should be sufficient, but in any case we can't change it to return a 2-D tensor since (1) it wouldn't handle variable types and (2) it wouldn't be backwards compatible.

[2017-06-16 17:59] #5823 closed

[2017-06-16 18:00] girving commented on #5790
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 18:00] #5790 closed

[2017-06-16 18:00] martinwicke commented on #5326
This issue is quite old and hasn't had recent activity. If there's a well-scoped feature requests in here, please open a new issue. Thank you.

[2017-06-16 18:00] #5326 closed

[2017-06-16 18:00] skye commented on #4005
Closing in line with abandoned PR.

[2017-06-16 18:00] #4005 closed

[2017-06-16 18:01] gunan commented on #6164
@jhseu, Is this still an issue?
Could you comment and/or close this issue?

[2017-06-16 18:01] yifeif commented on #6003
@asimshankar, saw "Go: API functions to serialize/deserialize Tensors" was added with #6137.  Are we expecting further update on this issue?

[2017-06-16 18:02] girving commented on #5716
This seems a bit too open ended, so I'm going to close.  I'd recommend using the new input pipelines: https://www.tensorflow.org/api_docs/python/tf/contrib/data.

[2017-06-16 18:02] #5716 closed

[2017-06-16 18:02] #5379 closed

[2017-06-16 18:02] #4066 closed

[2017-06-16 18:02] tfboyd commented on #2973
Automatically closing due to lack of recent activity. We hope that you were able to resolve it on your own. However, since this is a support issue rather than a bug or feature request, you will probably get more information by posting it on StackOverflow.

[2017-06-16 18:02] #2973 closed

[2017-06-16 18:02] girving commented on #547
Automatically closing due to lack of recent activity.

[2017-06-16 18:02] #547 closed

[2017-06-16 18:03] gunan commented on #6518
@DjangoPeng are you still working on this?
@aselle has this been fixed yet?

[2017-06-16 18:03] skye commented on #4377
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 18:03] #4377 closed

[2017-06-16 18:03] #1503 closed

[2017-06-16 18:03] #5369 closed

[2017-06-16 18:03] girving commented on #5369
Looks like @llhe fixed this.

[2017-06-16 18:04] martinwicke commented on #5005
We're still working on new tutorial content, but this particular issue is out of date.

[2017-06-16 18:04] #5005 closed

[2017-06-16 18:04] av8ramit commented on #7270
Please try the suggestions and reopen if this is still an issue. Thanks.

[2017-06-16 18:04] #7270 closed

[2017-06-16 18:04] girving commented on #5285
@drpngx What's the status of this bug?

[2017-06-16 18:04] girving commented on #5281
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 18:04] #5281 closed

[2017-06-16 18:06] gunan commented on #6847
@wolffg This still seems to be an issue. Could you take a look?

[2017-06-16 18:06] av8ramit commented on #7809
Please try the upgrade suggestions and reopen if there is still an issue.

[2017-06-16 18:06] #7809 closed

[2017-06-16 18:06] tfboyd commented on #1570
Closing, if you have a PR that would be great and please open a new issue or a PR.

[2017-06-16 18:06] #1570 closed

[2017-06-16 18:07] girving commented on #5252
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 18:07] #5252 closed

[2017-06-16 18:07] #4705 closed

[2017-06-16 18:07] #7779 closed

[2017-06-16 18:07] aselle commented on #10761
We definitely would welcome pr's to implement this functionality. Thanks!

[2017-06-16 18:08] gunan commented on #6911
I think as we removed `bazel clean` from configure script, this issue should now be fixed.
I will close this issue, but please feel free to reopen if this is still not resolved after installing `bazel 0.5.0` and using master.

[2017-06-16 18:09] yifeif commented on #6088
Sounds like this has been fixed. Please reopen if this is still an issue in the latest release.

[2017-06-16 18:09] #6088 closed

[2017-06-16 18:09] #4820 closed

[2017-06-16 18:10] jeichel-miovision commented on #10434
note for TX1 users (https://devtalk.nvidia.com/default/topic/987306/jetson-tx1/internal-error-in-nvidia-driver-code-while-building-r0-12-or-master-tensorflow-on-tegra-tx1/2)

At least for Tensorflow r0.12, NVIDIA released a CUDA 8.0.64 version with Jetpack 3.0 for the TX2. From their forum it looked like they had issues with publicly released versions of CUDA 8.0.34 and nvcc for the TX1 that were

[2017-06-16 18:11] tfboyd commented on #7791
@lucaswiser  Can you comment on this?  I asked @martinwicke and he was not sure if this was an oversight or on purpose.

[2017-06-16 18:11] martinwicke commented on #5409
This issue is quite old and hasn't had recent activity. If it is still not working in the latest version of TensorFlow, and please create a new bug. Thank you.

[2017-06-16 18:11] #5409 closed

[2017-06-16 18:11] girving commented on #5527
Duplicate of https://github.com/tensorflow/tensorflow/issues/2625.

[2017-06-16 18:11] #5527 closed

[2017-06-16 18:11] ekelsen commented on #6269
Yeah, this is a valid feature request.  Not sure how soon it will happen, but I think we can leave it open.

[2017-06-16 18:12] #8952 closed

[2017-06-16 18:12] #8959 closed

[2017-06-16 18:13] girving commented on #5816
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 18:13] #5816 closed

[2017-06-16 18:13] girving commented on #6604
Closing since `tf.train.Supervisor` is deprecated in favor of `tf.train.MonitoredSession`.

[2017-06-16 18:13] #6604 closed

[2017-06-16 18:14] #8961 closed

[2017-06-16 18:15] #4624 closed

[2017-06-16 18:15] #7376 closed

[2017-06-16 18:15] gunan commented on #6687
Looks like in v 1.0 this issue was fixed?
Closing this issue.

[2017-06-16 18:15] #6687 closed

[2017-06-16 18:16] martinwicke commented on #5460
This issue is quite old and hasn't had recent activity. If it is still an issue in the latest version of TensorFlow, and please create a new bug. We've made many performance improvements since then, and it's quite possible that this has been covered by one of them.

[2017-06-16 18:16] #5460 closed

[2017-06-16 18:16] skye commented on #4739
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 18:16] #4739 closed

[2017-06-16 18:16] tfboyd commented on #4074
Automatically closing due to lack of recent activity. We hope that you were able to resolve it on your own. However, since this is a support issue rather than a bug or feature request, you will probably get more information by posting it on StackOverflow.

[2017-06-16 18:16] #4074 closed

[2017-06-16 18:16] girving commented on #533
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 18:16] #533 closed

[2017-06-16 18:16] #5609 closed

[2017-06-16 18:17] girving commented on #7321
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 18:17] #7321 closed

[2017-06-16 18:17] martinwicke commented on #50
I will close this bug, since it is not something that would live in the core tensorflow repository. If someone makes a Ruby API we'd be happy to link to it from tensorflow.org.

[2017-06-16 18:17] #50 closed

[2017-06-16 18:17] dandelionmane commented on #10769
Redirecting to @mrry because he understands the RunMetadata api. In the past, he's told me it's very confusing to interpret these numbers.

[2017-06-16 18:18] tfboyd commented on #4738
Automatically closing due to lack of recent activity. We hope that you were able to resolve it on your own. However, since this is a support issue rather than a bug or feature request, you will probably get more information by posting it on StackOverflow.

[2017-06-16 18:18] #4738 closed

[2017-06-16 18:18] #5484 closed

[2017-06-16 18:19] girving commented on #4974
Apparently already fixed.

[2017-06-16 18:19] #4974 closed

[2017-06-16 18:20] girving commented on #4282
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 18:20] #4282 closed

[2017-06-16 18:20] dandelionmane commented on #10756
Hi @eiennohito!

We just moved TensorBoard to its own repo, over [here](https://github.com/tensorflow/tensorboard). It's also now possible to pip install latest TensorBoard separately from TensorFlow.

So, please `pip install tensorflow-tensorboard` and see if the embedding visualizer is still broken. If it is, please re-open an issue over at our new repo and we'll take it from there.

[2017-06-16 18:20] #10756 closed

[2017-06-16 18:21] tfboyd commented on #1449
Automatically closing due to lack of recent activity. We hope that you were able to resolve it on your own. However, since this is a support issue rather than a bug or feature request, you will probably get more information by posting it on StackOverflow.

Documentation continues to change and I hope improve.  I do not want to suggest your issue was solved without giving you a link.

[2017-06-16 18:21] #1449 closed

[2017-06-16 18:21] #5985 closed

[2017-06-16 18:21] #10741 closed

[2017-06-16 18:21] girving commented on #6731
@panyx0718 What's the status of this issue?

[2017-06-16 18:21] gunan commented on #7004
I think this is being worked on.
@tfboyd has more context on this issue.

[2017-06-16 18:22] skye commented on #4122
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 18:22] #4122 closed

[2017-06-16 18:22] dandelionmane commented on #10429
This is now complete. Please check out the new repo here: [https://github.com/tensorflow/tensorboard](https://github.com/tensorflow/tensorboard). You can also pip install latest tensorboard by running `pip install tensorflow-tensorboard`. (We're working on getting `pip install tensorboard` to work too.)

Also, @cancan101, I know we've been a bit unresponsive on your TensorBoard issues and pull req

[2017-06-16 18:22] #10429 closed

[2017-06-16 18:23] #7560 closed

[2017-06-16 18:23] girving commented on #7417
@ebrevdo Which week were you referring to?

[2017-06-16 18:23] #8527 closed

[2017-06-16 18:25] dandelionmane commented on #10655
I've migrated this issue to our new repo over at tensorflow/tensorboard.

[2017-06-16 18:25] #10655 closed

[2017-06-16 18:25] girving commented on #7700
@yuanbyu may not get to this anytime soon.  @ebrevdo?

[2017-06-16 18:26] bansankit commented on #8161
Hi Mrry,

i am NOT using GPU version on windows 7.
Then WHY am i getting these error related to CUDA??

Is my system not compatible to run tensorflow??
Please update.
awaiting ur respose..

[2017-06-16 18:26] #8574 closed

[2017-06-16 18:26] skye commented on #7260
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 18:26] #7260 closed

[2017-06-16 18:26] bansankit commented on #8161
Hi Mrry,

i am NOT using GPU version on windows 7.
Then WHY am i getting these error related to CUDA??

Is my system not compatible to run tensorflow??
Please update.
awaiting ur respose..

[2017-06-16 18:26] dandelionmane commented on #10106
I've migrated this to tensorflow/tensorboard.

[2017-06-16 18:26] #10106 closed

[2017-06-16 18:26] gunan commented on #6929
@MarkDaoust Could you take a look?

[2017-06-16 18:26] girving commented on #7713
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 18:26] #7713 closed

[2017-06-16 18:28] #8860 closed

[2017-06-16 18:28] skye commented on #7204
Any update on this? @ebrevdo was this fixed?

[2017-06-16 18:29] yifeif commented on #6885
Looks like the naming has been updated https://www.tensorflow.org/api_docs/python/tf/contrib/distributions/Exponential
Closing this issue.

[2017-06-16 18:29] #6885 closed

[2017-06-16 18:29] #9027 closed

[2017-06-16 18:29] wchargin commented on #9024
Nope, we're not planning to remove the download links for scalar data. Both CSV and JSON formats will continue to exist.

I've migrated this to our new repository at https://github.com/tensorflow/tensorboard/issues/32.

[2017-06-16 18:29] #9024 closed

[2017-06-16 18:29] skye commented on #7490
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 18:30] girving commented on #7027
@drpngx What's the status here?

[2017-06-16 18:30] gunan commented on #6937
Automatically closing due to lack of recent activity.
please feel free to reopen if this is still an issue, or better yet, send a pull request with the proposed fix.

[2017-06-16 18:30] #6937 closed

[2017-06-16 18:30] #4688 closed

[2017-06-16 18:30] chihuahua commented on #8591
This is fixed by 1968b8b3f9316a8327176e25211c8cc2b01459bc.

[2017-06-16 18:30] #8591 closed

[2017-06-16 18:30] MarkDaoust commented on #5853
If I understand correctly [sparse_tensor_dense_matmul_op](https://github.com/tensorflow/tensorflow/blob/ce02c770fb269e5e607da459bde4f580ef108137/tensorflow/core/kernels/sparse_tensor_dense_matmul_op.cc#L221) still only registers a float kernel on GPU.

But more generally it looks like these "float64 kernels not implemented" bugs are being collected in #1140.

[2017-06-16 18:30] #5853 closed

[2017-06-16 18:30] girving commented on #7715
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 18:30] #7715 closed

[2017-06-16 18:31] girving commented on #7743
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 18:31] #7743 closed

[2017-06-16 18:31] #5870 closed

[2017-06-16 18:32] gunan commented on #2307
Automatically closing due to recent activity.
As we moved models out of core TensorFlow repository, this issue may be a better fit for models or serving repositories.

[2017-06-16 18:32] #2307 closed

[2017-06-16 18:33] dandelionmane commented on #10024
Ah, this is caused by an interaction between the way text summary was implemented and the metagraphdef. The warning doesn't actually break anything, it's just a warning.

This is unrelated to any markdown parsing issues.

@chihuahua just submitted a PR internally that fixes this by using a different mechanism for the text summary. The fix will be in tf 1.3. Closing this since the issue is fixed at

[2017-06-16 18:33] #10024 closed

[2017-06-16 18:33] girving commented on #7763
@wolffg Is this unfixed?

[2017-06-16 18:34] girving commented on #7762
@wolffg If this is poetry, does it really need to be grammatically correct?

[2017-06-16 18:34] tfboyd commented on #7152
Automatically closing due to lack of recent activity. We hope that you were able to resolve it on your own. However, since this is a support issue rather than a bug or feature request, you will probably get more information by posting it on StackOverflow.

[2017-06-16 18:34] #7152 closed

[2017-06-16 18:34] sanketvmehta commented on #7249
I solved in a way mentioned here: [#7814](https://github.com/tensorflow/tensorflow/issues/7814).

[2017-06-16 18:34] lukaszkaiser commented on #7791
I believe it's an oversight, but could you confirm with fchollet@ to be sure? Thanks!

[2017-06-16 18:35] wchargin commented on #10602
This is easy to fix; there's a `user-select: none` that should be overridden by the text dashboard.

I've migrated this to https://github.com/tensorflow/tensorboard/issues/33, and should be able to fix it soon. :-)

[2017-06-16 18:35] #10602 closed

[2017-06-16 18:35] gunan commented on #6650
Automatically closing due to recent activity.
Please feel free to reopen if this is still an issue.
You can also send a pull request fixing the problem, if you have a proposed fix.

[2017-06-16 18:35] #6650 closed

[2017-06-16 18:35] asimshankar commented on #6003
Nobody is actively working on this, this was more of a tracking bug. I think it's fine to close this for now (and re-open if and when the need is more urgent). The "need" would be to save/load tensors directly (as opposed to using things like the Restore operations or a SavedModel loader).

[2017-06-16 18:35] #6003 closed

[2017-06-16 18:36] girving commented on #5684
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 18:36] #5684 closed

[2017-06-16 18:36] dandelionmane commented on #4354
This should be fixed now. Please reopen on our new repo at tensorflow/tensorboard if it reoccurs.

[2017-06-16 18:36] #4354 closed

[2017-06-16 18:36] girving commented on #5694
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 18:36] #5694 closed

[2017-06-16 18:37] panyx0718 commented on #6731
Looks like other packages in contrib/ are available in Windows except tfprof.
It seems it's because this comment
"add_python_module("tensorflow/contrib/tfprof" DONTCOPY)  # SWIG wrapper not implemented."

I'm trying to enable tfprof in Windows and see what error presubmit will give me.

[2017-06-16 18:37] yifeif commented on #7214
Looks like the readme has been updated in https://github.com/tensorflow/tensorflow/pull/7334. Closing this issue. Thanks!

[2017-06-16 18:37] #7214 closed

[2017-06-16 18:37] tfboyd commented on #7690
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow documentation. Thank you.

[2017-06-16 18:37] #7690 closed

[2017-06-16 18:37] skye commented on #7658
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 18:37] #7658 closed

[2017-06-16 18:38] girving commented on #5919
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 18:39] girving commented on #6381
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 18:39] #6381 closed

[2017-06-16 18:39] dandelionmane commented on #8055
Migrated to https://github.com/tensorflow/tensorboard/issues/35

[2017-06-16 18:39] #8055 closed

[2017-06-16 18:40] itsmeolivia commented on #8665
@petewarden is this still an issue?

[2017-06-16 18:40] skye commented on #7668
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 18:40] #7668 closed

[2017-06-16 18:40] girving commented on #7719
Looks like someone fixed this but didn't close the bug.

[2017-06-16 18:40] #7719 closed

[2017-06-16 18:40] gunan commented on #6914
Due to constraints on our pip package sizes, this is currently infeasible.
However we are working on a few longer term initiatives which may tackle this issue too.

[2017-06-16 18:40] #6914 closed

[2017-06-16 18:40] ekelsen commented on #10513
Hmmm...even when running on the CPU, which should be deterministic for these operations, and especially these tiny sizes, it still happens.  I'm not sure if that suggests a bug or that there is a surprising source of non-determinism that this is exposing.

[2017-06-16 18:41] dandelionmane commented on #8342
I migrated this to the new TensorBoard repository. https://github.com/tensorflow/tensorboard/issues/37

[2017-06-16 18:41] #8342 closed

[2017-06-16 18:41] wchargin commented on #9056
If we get a repro script—even with constant data—I'd like to look into this. Until then, closing.

Please feel free to re-open on our new repository at https://github.com/tensorflow/tensorboard.

[2017-06-16 18:41] #9056 closed

[2017-06-16 18:41] skye commented on #4640
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 18:41] #4640 closed

[2017-06-16 18:42] skye commented on #5696
Closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest documentation. Thank you.

[2017-06-16 18:42] #5696 closed

[2017-06-16 18:42] girving commented on #7133
@rohan100jain What's the status?

[2017-06-16 18:42] dandelionmane commented on #7106
Migrated this to TensorBoard repo. https://github.com/tensorflow/tensorboard/issues/38

[2017-06-16 18:42] #7106 closed

[2017-06-16 18:43] yifeif commented on #7370
@nathansilberman @sguada  could you take a look? Thank you!

[2017-06-16 18:43] girving commented on #7610
@mjanusz Did you get a chance to look at this?

[2017-06-16 18:44] amnonh-uw commented on #10747
[test_and_output.zip](https://github.com/tensorflow/tensorflow/files/1081662/test_and_output.zip)

Here is a zip file with the (random) weights, (random) biases, caffe output and TF output in .npy format.

[2017-06-16 18:44] girving commented on #7885
@caisq What's the status here?

[2017-06-16 18:45] gunan commented on #7020
Closing due to lack of recent activity.
Please reopen if you still run into this problem when trying to use `tf.cond`.

[2017-06-16 18:45] #7020 closed

[2017-06-16 18:46] tfboyd commented on #6269
No problem.  There will be a second pass to clean up FRs and put them in a different location.

[2017-06-16 18:46] dandelionmane commented on #3936
I've migrated this to the TensorBoard repo.

[2017-06-16 18:46] #3936 closed

[2017-06-16 18:47] #10222 closed

[2017-06-16 18:47] tfboyd commented on #6116
This PR is still being worked on.  The PR was updated recently.

[2017-06-16 18:47] gunan commented on #7008
Session_bundle is deprecated. Please use SavedModel for exporting models instead.