[2020-01-07 11:35] Stigjb commented on #35634
See this issue in keras-team/keras for several people confirming the issue: https://github.com/keras-team/keras/issues/12511

[2020-01-07 12:03] daihuidai commented on #31118
I have same problem!I'm so tired!!!

[2020-01-07 12:07] BrEr commented on #35630
Confirmed not be an issue on Ubuntu 18.04

[2020-01-07 12:16] JiayuanSternLi opened #35636 "Failed to train with keras model"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2020-01-07 12:30] ravikyram commented on #35173
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-07 12:30] #35173 closed

[2020-01-07 12:31] exelents commented on #24412
Hello. I would like to run my model on TPU. As I see here, TPUs from Colab doesn't work with TF2. Can I use for this TPUs from Google Cloud services?

[2020-01-07 12:32] conglanjun commented on #35625
I compiler source code , and I try

bazel run --config=opt tensorflow/lite/toco:toco -- --input_file=/home/lanjunc/python_project/SSD-Tensorflow/convert/pb/ssd_frozen_model.pb --output_file=/home/lanjunc/python_project/SSD-Tensorflow/convert/ssd_tpu_compiler.tflite --input_shapes=300,300,3 --input_arrays=Placeholder --output_arrays='ssd_300_vgg/softmax/Reshape_1,ssd_300_vgg/softmax_1/Reshape_1,ssd

[2020-01-07 12:34] tensorflowbutler commented on #34374
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-01-07 12:34] tensorflowbutler commented on #34987
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-01-07 12:34] tensorflowbutler commented on #35258
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-01-07 12:34] tensorflowbutler commented on #35352
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-01-07 12:34] tensorflowbutler commented on #35327
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-01-07 12:34] tensorflowbutler commented on #35304
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-01-07 12:34] tensorflowbutler commented on #35224
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-01-07 13:13] openedev opened #35637 "tensorflow for arm64 issue"
Hi,

I have successfully built the tensorflow for arm64 and indeed it created libtensorflow-lite.a However I'm trying to import the tesorflow in one of my python script like

$ cat test.py
import numpy
import tensorflow

It is showing No named modules something like.

$ python3 test.py
Traceback (most recent call last):
  File "test_imports/test_ai.py", line 2, in <module>
    import tensorflow
Mo

[2020-01-07 13:46] GGDRriedel commented on #25807
I fixed this by adding "C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.0\extras\CUPTI\libx64" to my Windows PATH variable and restarting python/jupyter and so on which was not in it before.
I installed TF with pip under Anaconda

[2020-01-07 13:51] unexge commented on #32180
@marno1d yes, making a change like this fixes the issue (and probably creates another issues 😄)

https://github.com/tensorflow/tensorflow/blob/v2.1.0-rc2/tensorflow/python/framework/auto_control_deps.py#L167
[code]

[2020-01-07 14:03] ziky90 commented on #34268
@alextp @jch1 any progress looking into this issue?

[2020-01-07 14:26] amahendrakar commented on #35604
@MrAbhishek319,
Could you please provide the link for the document you are referring to? Can you please elaborate the context as well? Thanks!

[2020-01-07 14:26] FabioMD1972 opened #35639 "Pipeline & TypeError: can't pickle _thread.RLock objects"
**System information**
- colab script
# Install the latest Tensorflow version.
!pip3 install --upgrade tensorflow-gpu
# Install TF-Hub.
!pip3 install tensorflow-hub
!pip3 install seaborn
- Python version:
Python 3.6.9 (default, Nov  7 2019, 10:44:02)
[GCC 8.3.0] on linux

Using google universal sentence encoder ( see:[https://tfhub.dev/google/universal-sentence-encoder/4]( https://tfhub.dev/google

[2020-01-07 14:31] PBB-as commented on #35586
@ravikyram
That was logging me at first too, but if you keep running the code (train a few samples) you'll note that Tensorflow will use the CPU instead of GPU as I mentioned before.

I think that the problem is solved using:

[code]

And then running Tensorflow as follows:
`with session:`

[2020-01-07 14:50] SumNeuron opened #35642 "mysql-client can not be installed FROM official tensorflow/tensorflow image"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): official tensorflow image from

[2020-01-07 14:56] mvrska commented on #35326
@ravikyram I encountered this issue today again after a lenghty model compilation, so I checked my RAM and found that I was completely exhausting it (16GB) and I suspect that this might be the root of the issue. Can you confirm if you have enough RAM or also running out?

[2020-01-07 15:13] sleighsoft commented on #9545
Maybe you should open this as a separate issue at /tensorboard.

[2020-01-07 15:33] #35258 closed

[2020-01-07 15:34] mihaimaruseac commented on #35258
Closing due to no activity. Please reopen filling in the template if it is still an issue.

[2020-01-07 15:35] mihaimaruseac commented on #31118
As TF 1.14 is in a very bad state, I would recommend trying 1.15 or 2.0 or 2.1

[2020-01-07 15:39] AlexVaith commented on #35194
I have a very similar setup, with LSTM layers.
I can convert the model with experimental set up and the inference works, but as soon as I try to do post training optimization in form of weight quantization, I get the same error.

[2020-01-07 15:53] mmkumar1 commented on #17807
Traceback (most recent call last):
  File "C:\Users\MMKUMAR\Desktop\AdityaJarvis\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 18, in swig_import_helper
    fp, pathname, description = imp.find_module('_pywrap_tensorflow', [dirname(__file__)])
  File "C:\Users\MMKUMAR\Desktop\AdityaJarvis\lib\imp.py", line 296, in find_module
    raise ImportError(_ERR_MSG.format(name), name=name

[2020-01-07 16:06] loisaidasam commented on #25323
The workaround didn't work for me.

I'm working from a stretch-based Docker instance, looking to install TF from source.

What worked for me was upgrading to gcc 8.3.0

## Instructions

(for other Debian rooks out there like me)

First I added the following line to the bottom of my `/etc/apt/sources.list`:

[code]

Then I ran:

[code]

The default gcc for me was 6.3.0:

[code]

So I needed to upda

[2020-01-07 16:15] gdudziuk commented on #35030
Thanks for checking this. It seems that the result depends strongly on the method of measurement of memory usage. I has been measuring memory without `libmemusage.so`: just open another terminal when the training code is running and call `top` or `ps au` therein.

For comparability with your results, @mihaimaruseac, I have tested `tf-nightly-cpu==2.1.0.dev20200103`. Using `libmemusage.so` I obtain

[2020-01-07 16:36] mihaimaruseac commented on #35030
Thanks for the data points. I'll try a reproduction with `psutil`.

[2020-01-07 16:40] cipollone commented on #9545
Posted [https://github.com/tensorflow/tensorboard/issues/3118](url), thanks

[2020-01-07 16:42] mihaimaruseac commented on #35030
So, the difference between my numbers and yours is related to the fact that `libmemusage.so` only reports heap memory whereas `psutil` reports all memory used (text, heap, stack, etc).

I'll try to get a script to get all the memory usage reported and then we can do a bisection to identify a culprit.

[2020-01-07 16:55] alextp commented on #24774
Does tf.vectorized_map work here instead of map_fn?

[2020-01-07 16:56] martinwicke commented on #35138
@tanzhenyu or @robieta would know more details.

[2020-01-07 17:05] mihaimaruseac commented on #35030
Want to run these numbers with you:

[code]

Generated by

[code]

They seem to match your comments so if there's nothing wrong in these I'll start a bisection.

[2020-01-07 17:24] #35304 closed

[2020-01-07 17:27] #34374 closed

[2020-01-07 17:58] rmlarsen commented on #24528
What are the dimensions of your matrix? How many such systems are you solving (batch size)? It is expected that triangular solve is slower on GPU for small matrices. I am in the process of adding a code path to call the batched solver in CUDA for large batches of small matrices.

[2020-01-07 18:13] georgesterpu commented on #33147
https://github.com/tensorflow/tensorflow/commit/e2f31134bd8aaf7cdc8b6f157f4fee3f1e069e0c

[2020-01-07 18:43] ldm314 commented on #27120
@Peter-Devine I am unable to find where the variable itself is being created. At the start of the 2nd epoch I would get this error every time. My The slow performance came by calling the wrapped function on every batch.

Today I tried using the wrapped function to create the train function on each epoch instead of each batch. It solved the issue without the performance problem.

[2020-01-07 18:46] Conchylicultor commented on #35630
@BrEr thanks for the update. It seems that this is not an issue with tfds.
Could you link the url of the zip file that make `tf.io.gfile` crash ?

[2020-01-07 18:50] AND2797 commented on #35459
I've submitted the PR against tensorflow, can anyone take a look?

[2020-01-07 18:50] Transwert commented on #27120
@alextp does this bug solved, or the issue still persist

[2020-01-07 18:51] martinwicke commented on #25227
@pichuan @tomerk How far are we with the slim port?

[2020-01-07 18:51] aselle commented on #35637
how did you build it?
you can't import a .a you must import a python library which usually is a dylib or so or dll

[2020-01-07 18:54] aselle commented on #35632
Can you specify more details about what device you are trying this on? are you using a standard model?

[2020-01-07 18:54] impjdi commented on #35632
Is it possible to share the model?

[2020-01-07 19:24] mihaimaruseac commented on #35030
With `Tensorflow version: 2.1.0-dev20191003`

[code]

With `Tensorflow version: 1.14.1-dev20190606`

[code]

Unfortunately, the other pips in between these 2 packages don't work so bisection stops at this interval of 4 months.

Let's see if the 2.0 preview package has something to offer

[2020-01-07 19:24] ymodak commented on #35608
For beginners: The best place to start is with the user-friendly Sequential API. You can create models by plugging together building blocks.
See https://www.tensorflow.org/overview and https://colab.sandbox.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/quickstart/beginner.ipynb

[2020-01-07 19:32] jvishnuvardhan commented on #35615
@tailsu You need to enable `tensorflow` supported ops as follows.

`converter.target_spec.supported_ops =[tf.lite.OpsSet.TFLITE_BUILTINS, tf.lite.OpsSet.SELECT_TF_OPS]`

With that modification, code works without any error. [Here](https://colab.sandbox.google.com/gist/jvishnuvardhan/cc7a88b02d9e078170552441d9581967/untitled732.ipynb) is the gist for your reference.

Please close the issue if it wa

[2020-01-07 19:34] Xiaohui-Z commented on #35376
you should download the  cuDNN v7.6.5 in the nivida website then release it. you will find a youfilefolder/cuda/lib64, then add the lib64 to your LD_LIBRARY_PATH. It works for me, my code was this:
1. download cudnn-10.0-linux-x64-v7.6.5.32.tgz
2.tar -zxvf cudnn-10.0-linux-x64-v7.6.5.32.tgz
3. vim ~/.bashrc, add this line"export $LD_LIBRARY_PATH=yourfolder/cuda/lib64:$LD_LIBRARY_PATH" and save
4.

[2020-01-07 19:36] ymodak commented on #35605
You may try converting your model using `Select TensorFlow Ops`. This should help you to avoid custom implementation for `RandomUniform`.
See https://www.tensorflow.org/lite/guide/ops_select#converting_the_model

[2020-01-07 19:37] jvishnuvardhan commented on #35628
@sharvil Are you planning to submit PR to update the docs? Thanks!

[2020-01-07 19:43] jvishnuvardhan commented on #35625
@conglanjun Can you please share a standalone code to reproduce your issue? Thanks!

[2020-01-07 19:44] ymodak commented on #35459
@rsepassi  Can PTAL? Thanks!

[2020-01-07 19:50] sharvil commented on #35628
@jvishnuvardhan, no I'm not planning to submit a PR.

[2020-01-07 19:59] rsepassi commented on #35459
Fix will go out shortly. Thank you!

[2020-01-07 19:59] #35459 closed

[2020-01-07 20:40] ajidevelop opened #35645 "Error trying to build for AVX2 on CPU"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2020-01-07 21:21] ElliotVilhelm commented on #34592
I am having the same issue

[2020-01-07 21:27] haozha111 commented on #35551
Thanks!

I can reproduce the error now. The issue is that tflite's reverse op doesn't support bool type. So the conversion fails. I'm working on a fix for that.

[2020-01-07 21:27] ReinforcedMan commented on #35618
@ravikyram
I did not follow the instructions to build the package. I installed the version on pipy, and couldn't get it to work with any cuda version, even though it is supposed to support cuda 10.1 as stated in the release notes.

When trying to build the package like you linked, I get an error in the c++ code.

I don't have any more days to allocate to this and am thus giving up. I'll wait for a

[2020-01-07 21:32] MarkJThomas opened #35646 "ERROR: Could not find a version that satisfies the requirement tensorflow"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac Air, Moave (10.14.5 )

- T

[2020-01-07 21:39] Xiaohui-Z commented on #32817
I got the same problems in the Tensflow 2-gpu in the centos. Has anyone know how to fix this problem?

[2020-01-07 21:40] ymodak commented on #35358
duplicate #24520

[2020-01-07 21:45] pbaranay opened #35647 "tf.strings.lower and tf.strings.upper have "TODO" docstrings"
## URL(s) with the issue:

* lower: https://www.tensorflow.org/api_docs/python/tf/strings/lower?version=stable
* upper: https://www.tensorflow.org/api_docs/python/tf/strings/upper?version=stable

## Description of issue (what needs changing):

### Clear description

The first line of the docstrings for these functions is the auto-generated "TODO: add doc." instead of an actual summary.

### Submit

[2020-01-07 21:53] joe-antognini opened #35648 "Malformed `TRAINABLE_ATTRIBUTE_NOTE` in batch normalization documentation"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/keras/layers/BatchNormalization?version=stable

## Description of issue (what needs changing):

After the references list there is a stray malformed tag:

{ {TRAINABLE_ATTRIBUTE_NOTE}}

I suspect that this is supposed to resolve to the note that `moving_mean` and `moving_variance` are placed in `UPDATE_OPS` and need to be exe

[2020-01-07 22:00] emailweixu opened #35649 "Incorrect name_scope with tf.function decoration"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-01-07 22:03] ymodak commented on #35589
Perhaps  this [issue thread](https://github.com/tensorflow/tensorflow/issues/23401) may help to solve the problem.

[2020-01-07 22:25] kyao opened #35650 "InvalidArgumentError if np.ndarray is registered as Sequence type"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS Linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip install
- TensorFlow version (use command below): v2.0.0

[2020-01-07 22:30] mihaimaruseac commented on #35614
Can you minimize the code and the model and provide both?

[2020-01-07 22:31] mihaimaruseac commented on #35614
Sorry, I just saw you provided the model too.

[2020-01-07 22:39] drsiyarb opened #35651 "Tensorflow model.fit "use_multiprocessing" "distribution_strategy" "adapter_cls" "failed to find data adapter that can handle""
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- I have written custom code:
- Windows 10 - Anaconda):
-Tensor flow installed from Anaconda Repo,
- TensorFlow

[2020-01-07 22:41] ymodak commented on #35627
This thread may help #1924 #14267

[2020-01-07 22:59] saxenasaurabh commented on #35540
Thanks @mayou36 for the detailed description and repro. `tf.function` does not support recursion. Using a `RLock` would lead to stack overflows in the case where the arg is a symbolic `tensor`. I agree we should raise a better error message than deadlocking in this case.

[2020-01-07 23:14] rachellim commented on #24520
Thanks for flagging this. Looks like we don't check the shape correctly in several different places -- fix in progress.

[2020-01-07 23:24] jvishnuvardhan commented on #33855
@ziruizhuang Sorry for the late reply. I have updated some parts of your code such as removing `y_input`, `one_hot` etc. Now the code works as expected. [Here](https://colab.sandbox.google.com/gist/jvishnuvardhan/11beee9505007770ab8a750b4a567fdf/untitled733.ipynb) is the gist for your reference. These modifications are good for `loss=tf.keras.losses.SparseCategoricalCrossentropy()` but you can do

[2020-01-07 23:24] #33855 closed

[2020-01-07 23:27] karimnosseir commented on #35377
Hi @thinksmert,
It should be built by the rule defined in
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/experimental/delegates/hexagon/java/BUILD

But looks like you have some configuration issue which results in something wrong.

Can you please try the AAR

Thanks

[2020-01-07 23:28] karimnosseir commented on #35377
I mean the Jcenter hosted one

Thanks

[2020-01-07 23:41] ymodak commented on #35176
Closing this issue since its resolved. Feel free to reopen if have further questions. Thanks!

[2020-01-07 23:41] #35176 closed

[2020-01-07 23:44] jvishnuvardhan commented on #34053
I am closing this issue as it was resolved with recent `tf-nightly`. Please feel free to reopen if the issue persists again. Thanks!

[2020-01-07 23:44] #34053 closed

[2020-01-07 23:49] ymodak commented on #32985
Apologies for the delay in response.
From the log information  `could not dlopen library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory` it looks like you have installed `tensorflow-gpu==1.14` version which requires [gpu setup](https://www.tensorflow.org/install/gpu).
Feel free to reopen if this is still an issue. Thanks!

[2020-01-07 23:49] #32985 closed

[2020-01-07 23:52] #33774 closed

[2020-01-08 00:04] sampathweb commented on #35651
Verify the shape and datatype of x and y.
[code]
Also, you can try to convert Numpy Arrays to Tensors using the example here before passing to model.fit - https://www.tensorflow.org/tutorials/load_data/numpy

[2020-01-08 00:07] haozha111 commented on #35551
I've completed a fix for this issue and the code will be merged into tf-nightly soon. Please try again with the tf-nightly (tomorrow's version should contain the fix) and then try if your issue is resolved.

Cheers.

[2020-01-08 00:08] ymodak commented on #33771
@JadTawil-theonly @lminer  Can you please post a new issue and provide a minimal reproducible code snippet? Thanks!

[2020-01-08 00:21] yunxing commented on #35603
Sorry for the breakage. I don't think our generated report has enough info for us to reproduce and debug that. We have a PR to add more info in our OOM report system that will hopefully show up in the nightly version later this week. Perhaps then you can rerun your custom optimizer and we can reproduce the issue.

In the meanwhile, assigning this to @saberkun who may have a way to reproduce it int

[2020-01-08 00:27] mihaimaruseac commented on #35030
I used this script: `version=2.0.0dev20190803; pip uninstall -y tf-nightly_2.0_preview tf-nightly tf-nightly-cpu tb-nightly tf-estimator-nightly && pip install -q tf_nightly_2.0_preview==${version} && (python -m memory_profiler test.py | tee profiles/${version})`

The output (last 2 content lines of all versions I tested, note that some are `tf-nightly` instead of `tf-nightly-2.0-preview`):

[code

[2020-01-08 00:48] #35551 closed

[2020-01-08 01:03] kenseii commented on #33365
Hello,
Is there a solution for this?
i am getting it when i call the model.predict on boolean data.
it also causes a segmentation fault.

i am using tf2`s keras

[2020-01-08 01:07] mihaimaruseac commented on #35030
The second memory increase happens on 2019/09/16. It seems in August we introduced both of these bugs.

[code]

[2020-01-08 01:13] yeyupiaoling commented on #34987
@jdduke

 - I used tensorflow 1.14
 - Windows 10

I used my dataset for the training model. On the PC, the accuracy rate is 98 percent. But using the quantization model on Android is only 10 percent accurate.

I use these code `https://github.com/tensorflow/models/tree/master/research/slim` train mobilenet V2 model.

 - step 1: `python3 train.py`
 - step 2: `python3 export_inference_graph.py`
 - s

[2020-01-08 01:25] thinksmert commented on #35377
Hi,karimnosseir
Which issue should be corrected?I don't change the built rule and it is just the one downloaded from git.
Otherwise, I have tried the AAR and it works.But it sames can only use quantized model?I use quantized model and the accuracy is bad than float model with gpu.Do you have any suggestion that can improve the accuracy?
Thanks

[2020-01-08 01:32] #34789 closed

[2020-01-08 01:36] alanpurple opened #35653 "tensorflow 2.1 build error"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 18.04
- Mobile device (

[2020-01-08 01:36] alanpurple commented on #35653
error message is too long so I couldn't copy/paste all

[2020-01-08 01:47] kenseii commented on #26879
It seems to still occur when calling the predict method on a model loaded with tf.keras.models import load_model, though if i import load_model from keras not in tf2 all works well.

is there a way of solving this?

[2020-01-08 01:53] kattakarthik commented on #35627
Thanks for the reply @ymodak. I tried --monolithic option and it resolved the symbols conflicts issue.

But it seems to be breaking  TensorRT integration ?? I get these error while running my code ::

Or could the error be because of something else I missed. I'm linking against -ltensorflow_cc and -lprotobuf only.

[2020-01-08 01:53] robieta commented on #33024
@farhodfm TF 2.0 has known issues with both `fit_generator` and `train_on_batch`. Can you try `tf-nightly` or `tensorflow==2.1.0rc2`?

[2020-01-08 01:54] ywu94 opened #35654 "LSTM & LSTMCell with dropout are not working in Subclassed Keras Model."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Mojave, no GPU
- TensorFlow installed from (source or binary):pip
- TensorFlow version (use command below):2.0.0
- Python version:3.7

**Describe the current behavior**

LSTM with dropout are not working in cust

[2020-01-08 02:04] yinxungong opened #35655 "tensorflow master window build fail"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):windows
- Mobile device (e.g. i

[2020-01-08 02:09] karimnosseir commented on #35377
By issue i meant configuration issue for the environment (for example NDK).
Anyways, you can use the one provided on JCenter - glad it is working.
For quantized, yes it works for quantized models only.
Refer to https://www.tensorflow.org/lite/performance/best_practices#quantization
for some pointers if you're quantizing your model.
It is expected that you will lose some accuracy, but how much you'

[2020-01-08 02:10] karimnosseir commented on #35377
Closing the bug, since the issue is fixed with switching to using the AAR provided on JCenter.

Thanks

[2020-01-08 02:10] #35377 closed

[2020-01-08 02:37] yyoon commented on #31134
Let me close the bug for now. Please feel free to reopen or file a new issue if the problem persists.

[2020-01-08 02:37] #31134 closed

[2020-01-08 03:04] qlzh727 commented on #33924
@shazhongcheng, your latest error log is quite weird. Seems that the issue happens in the middle of epoch 3, and also I wasn't able to reproduce the issue you have on a gpu colab. Probably related to some local hardware based on your local env.

[2020-01-08 03:05] oanush commented on #35654
Issue replicating for TF-2.0.0-kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/b38d04d7bc3da967c0c8d89e318e225a/35654.ipynb) of colab.Thanks!

[2020-01-08 03:11] shazhongcheng commented on #33924
OK, Thank you. But on GTX 1060, the `Bidirectional` have some problem. And the problem caused by hardware…………
I can`t handle it……
Maybe replace another GPU is a good choice for me o(╥﹏╥)o.
Thank you! Hope one day i can solve it!

[2020-01-08 03:21] datjandra opened #35656 "Custom bidirectional LSTM cell throws unexpected keyword argument 'name'"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
yes
- OS Platf

[2020-01-08 03:33] oanush commented on #35646
@MarkJThomas ,
Can you check the [link](https://tensorflow.rstudio.com/installation/) and let us know if it was helpful?Thanks!

[2020-01-08 03:43] JiayuanSternLi commented on #35636
----------------------SOLVED-----------------------
Solution：add the argument "training=True" when training the keras.application.. For example:
[code]
The reason might be caused by "batchnorm" layer. Those model which has BN layers works well in keras training loop, "model.fit()", and nothing to takecare. However, they cannot learn anything by costume training loop if you forget to set training=T

[2020-01-08 03:43] #35636 closed

[2020-01-08 03:45] JiayuanSternLi commented on #31184
Hey, I got the same problem.
Simply add a training=True argument in the model like

pred = model(input, training=True)

Hopefully, you could solve it

[2020-01-08 03:45] oanush commented on #35645
@ajidevelop ,
Hello i see error `Stderr: /usr/bin/bash: patch: command not found` in log ,[can you install `patch` in your `PATH`](https://github.com/bazelbuild/rules_go/issues/1811)?Thanks!

[2020-01-08 03:46] qlzh727 commented on #34977
Thanks for reporting the issue.

The issue is caused by the usage of "inner_model.get_layer("id_1").output". In the code example above, the dense layer within the inner model is used twice, first time by the inp_1, and second time with inp_outer. In that sense, there are two pairs of input/output for that layer, and layer.output returns the output for the first pair (there is an ambiguity of the A

[2020-01-08 03:46] #34977 closed

[2020-01-08 03:48] rohanreddych commented on #35647
@pbaranay  can you provide link to the code

[2020-01-08 03:51] oanush commented on #35649
Issue is replicating for 2.0 and also TF-nightly, please find the [gist](https://colab.sandbox.google.com/gist/oanush/40d1bf5f1cd626c48a9a55ff5b25527f/35649.ipynb) of colab.Thanks!

[2020-01-08 03:58] ravikyram commented on #35633
@shan1322
Can you please go through the [link ](https://www.tensorflow.org/guide/distributed_training)and see if it helps you. Thanks!

[2020-01-08 04:10] Neel125 opened #35657 "'AttentionWrapper' object has no attribute 'zero_state'"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2020-01-08 04:10] ziruizhuang commented on #33855
@jvishnuvardhan Thank you for the gist. Now I see how to make it work using SparseCategoricalCrossentropy loss and keras model.

Still, a little more discussion on this topic. Is it a designed behavior that a keras model always produce floating point output? I mean it would be more straightforward using the following two sets of configuration:

 * Config 1
   - train_y/test_y are one_hot/probabili

[2020-01-08 04:15] toshohirasawa commented on #35327
It works!
While my question is why `tf.layers.dropout` in TF 1.5 works differently from TF 1.4. Any suggestion?

[2020-01-08 04:46] oxqfsyef opened #35660 "adamax on tf.keras gpu 1.14.0 frequently crashes with this error"
optimizer='adamax' with tf.keras 1.14.0 frequently crashes with this error (training on gpu), it also frequently produces NaNs in training when not producing this error. Other optimizers are fine (no crashes).

  File ".../.conda/envs/tensorflow-gpu_1.14.0/lib/python3.7/site-packages/tensorflow/python/keras/wrappers/scikit_learn.py", line 166, in fit
    history = self.model.fit(x, y, **fit_args)

[2020-01-08 04:48] Robin2091 commented on #27614
@x10000year @leimao I think TF2 has this:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/framework/convert_to_constants.py
This generates a .pb file that has the graph and weights but I am not to sure if its the same thing as freeze model

[2020-01-08 04:49] ravikyram commented on #35586
@PBB-as

Please, let me know if we can close this issue since it looks to be fixed. Thanks!

[2020-01-08 04:50] leimao commented on #27614
Does it generate a single .pb file without anything else?

[2020-01-08 04:50] conglanjun commented on #35625
I saw
https://github.com/tensorflow/tensorflow/issues/20955

[code]
but https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/quantize 404 not found
tf 2.0 remove the pah?

[code]
I should add "tf.contrib.quantize.create_eval_graph()"?

[2020-01-08 04:50] Robin2091 commented on #27614
@leimao No, it just generates the pb file

[2020-01-08 04:52] Robin2091 commented on #27614
https://github.com/Unity-Technologies/barracuda-release/blob/release/0.3.2/Documentation~/Barracuda.md.
There is also some code right here that simplifies that whole process in that file. It is under Converting TensorFlow models to Barracuda format section.

[2020-01-08 04:52] leimao commented on #27614
If it is a single `pb` file whose size is several MB (depending on the size of the model), it is likely to be a frozen model, although it remains to be verified. This is an interesting finding @Robin2091 .

[2020-01-08 04:55] conglanjun commented on #35625
I saw
https://github.com/tensorflow/tensorflow/blob/r1.14/tensorflow/contrib/quantize/README.md
I should train my model, using "Quantization-aware training".
And make pb file using create_eval_graph().

And I use the SSD code is
https://github.com/balancap/SSD-Tensorflow
I want to use this model to run in EdgeTpu.

[2020-01-08 04:55] ravikyram commented on #35352
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-08 04:55] #35352 closed

[2020-01-08 04:56] Robin2091 commented on #27614
I have the file generated for a YOLOv3 tiny object detector. It is only 96300 kB, so I am not sure. Also when I try to convert the file into an onnx format I get an error saying failed to parse file. I used the code from tf2onnx converter.
https://github.com/onnx/tensorflow-onnx/
So I am not sure if it has the weights in it then. Although my .tf weights file is only 30000 kB so there is a chance t

[2020-01-08 05:04] leimao commented on #27614
It is very likely that you are correct. Note that the function used for freezing model in TF1.x is called [`convert_variables_to_constants`](https://www.tensorflow.org/api_docs/python/tf/compat/v1/graph_util/convert_variables_to_constants) which is also included in the file you provided here.
I will look into this at my convenience. Thanks @Robin2091 .
In addition, I have not used tf2onnx myself i

[2020-01-08 05:11] Robin2091 commented on #27614
@leimao Ok, let me know if you find any related information to this. I will also look into TensorRT.
Thank you.

[2020-01-08 05:13] yyoon commented on #34181
Your TensorFlow version `1.5.1` is a very old one from 2 years ago, which would make it very difficult to investigate or fix the issue.

Could you try using your model in a more recent version of TensorFlow, such as `1.15.0` or `2.0.0`? Are there any particular reasons why you can't use a more recent version?

[2020-01-08 05:22] qlzh727 commented on #34850
Hi @niranjan8129.

get_inital_state() method takes 3 named param, (inputs, batch_size, dtype) respectively. Since you are trying to provide batch_size and dtype, you should use

[code]

[2020-01-08 05:22] #34850 closed

[2020-01-08 05:35] qlzh727 commented on #34541
The issue happens because you override the method of get_initial_state(), which returns a state that has a wrong shape. Usually the state tensor should have shape (batch, state_size) with all zeros. If you need to provide custom values (one in this case), you should return tf.ones((batch_size, state_size)), rather than tf.ones(1).

[2020-01-08 05:35] #34541 closed

[2020-01-08 05:43] qlzh727 commented on #34732
Assigning to Tom who worked on tf ops layer. Also, please note that we are not going to fix anything in 1.x since there won't be any new releases. We will still fix the issue if the same error happens in 2.x as well.

[2020-01-08 05:45] ymodak commented on #35627
What version of cuda/cudnn and tensorrt are you using?

[2020-01-08 05:53] qlzh727 commented on #34562
So far, all the classic RNN cell only access the state from t-1, rather than from any previous state further. This is why we design the API interface like at as well, where cell takes inputs and state from t-1.

You will have to write your own code achieve the behavior you described. Eg:

[code]

[2020-01-08 05:53] #34562 closed

[2020-01-08 05:54] dathudeptrai opened #35661 "Bug when convert to tflite models."
**System information**

Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04, GPU GTX 1660
TensorFlow installed from (source or binary):pip
TensorFlow version (use command below):2.1.0
Python version:3.7

**Describe the current behavior**
Convert to tflite failed

**Code to reproduce

[2020-01-08 05:56] qlzh727 commented on #34488
Assigning to Allen who is the owner of ListWrapper.

[2020-01-08 06:03] farhodfm commented on #33024
@robieta thanks for the reply!

Let me try to upgrade to `tensorflow==2.1.0rc2`, and do checking on training time using `train_on_batch`.
I will inform you asap.

[2020-01-08 06:06] niranjan8129 commented on #34850
@qlzh727
I modified the code but still getting error below.

lstm_cell =tf.keras.layers.GRUCell(units=hidden_unit)
lstm_cell = tf.nn.RNNCellDropoutWrapper(lstm_cell,output_keep_prob=self.dropout_keep_prob)

**self._initial_state = lstm_cell.get_initial_state( inputs=lstm_cell, batch_size=self.batch_size, dtype= tf.float32)**
inputs = [tf.squeeze(input_, [1]) for input_ in tf.split(pooled_concat,nu

[2020-01-08 06:09] qlzh727 commented on #34850
You shouldn't provide inputs param to get_initial_state(), only batch_size and dtype are the params you have.

[2020-01-08 06:12] niranjan8129 commented on #34850
If  I am using below code,getting below error

**self._initial_state = lstm_cell.get_initial_state(self.batch_size, tf.float32)**

Got ERROR
ValueError: slice index 0 of dimension 0 out of bounds. for 'strided_slice' (op: 'StridedSlice') with input shapes: [0], [1], [1], [1] and with computed input tensors: input[1] = <0>, input[2] = <1>, input[3] = <1>.
may I know why I am getting this error?

[2020-01-08 06:12] xlnwel opened #35662 "Cannot build from source, get error: command succeeded, but there were errors parsing the target pattern"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (

[2020-01-08 06:13] qlzh727 commented on #34850
Also, you are calling the RNN layer incorrectly. The tensor params should be called with RNN layer, rather than pass in as init param.

[code]

Also, the default init state will be inferred with all zeros. You don't need to call get_initial_state and pass it to the rnn layer. The initial state is optional.

[2020-01-08 06:16] qlzh727 commented on #34850
get_initial_state() takes named argument, you can't just feed your param as the normal positional argument to it.

[2020-01-08 06:19] niranjan8129 commented on #34850
@qlzh727  kindly correct me if I wrong .. I use below code

lstm_cell =tf.keras.layers.GRUCell(units=hidden_unit)
lstm_cell = tf.nn.RNNCellDropoutWrapper(lstm_cell, output_keep_prob=self.dropout_keep_prob)

self._initial_state = lstm_cell.get_initial_state( self.batch_size,  tf.float32)

inputs = [tf.squeeze(input_, [1]) for input_ in tf.split(pooled_concat,num_or_size_splits=int(reduced),axis=1)]

[2020-01-08 06:21] qlzh727 commented on #34850
The correct code should be

[code]

[2020-01-08 06:46] niranjan8129 commented on #34850
@qlzh727  I am very close to .. Thank you a lot.  if I use initial_state below places, I get two kinds of error .  is that the places i use correctly?

1)
 rnn= tf.keras.layers.RNN(cell=lstm_cell**,initial_state=self._initial_state,** return_sequences=True, return_state=True, dtype=tf.float32)

Error:
======
TypeError: ('Keyword argument not understood:', 'initial_state')

2)  outputs = rnn(inputs

[2020-01-08 07:14] batulrangwala opened #35663 "ModuleNotFoundError: No module named 'tflite_runtime'"
Hi,

I am working a x86 Laptop and have installed tensorflow using https://www.tensorflow.org/lite/guide/python
Following is the list of tflite  installed
[code]

my aim is to get a Google coral example running from this link https://coral.ai/docs/accelerator/get-started/#3-run-a-model-using-the-tensorflow-lite-api

When I execute the command for inference I get the folllowing error

[code]

Is th

[2020-01-08 07:27] andreyhristov commented on #35582
Yes, 1.15 builds fine with Bazel 0.24.1 and JetPack 4.3 ( I am building it in a container )

[2020-01-08 07:35] andreyhristov commented on #35582
1.14 fails (after patching) with :
tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc: At global scope:
tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc:797:8: error: 'bool tensorflow::tensorrt::convert::TRT_TensorOrWeights::SimpleITensor::isShape() const' marked 'override', but does not override
   bool isShape() const override { return false; }
        ^~~~~~~
tensorflow/compiler/t

[2020-01-08 08:03] talhaanwarch commented on #26600
same, i forget to switch to gpu in colab

[2020-01-08 08:10] AlexisBRENON commented on #34823
@qiuminxu Is there a place where I can follow the discussion and API progress?

[2020-01-08 08:21] puneetpandey37 commented on #7278
Which Keras and Tensorflow version do I need for this feature?

[2020-01-08 08:33] #35577 closed

[2020-01-08 08:39] puneetpandey37 commented on #7278
I am getting this error:
ValueError: Dimensions must be equal, but are 8 and 1 for 'depthwise_conv3d_4/Conv3D' (op: 'Conv3D') with input shapes: [?,14,14,14,8], [3,3,3,1,8].

[2020-01-08 08:40] shaoeChen commented on #35358
i have the same problem.

i create TFRecord file to save MNIST image as below:
[code]

then use ` tf.data.TFRecordDataset` to load the file object.

[code]

it's my feature mapping:
[code]

then set parser function:
[code]
use map function:
[code]

i try to print shape or show image , and all is fine:
[code]

then structure model:
[code]
and compile
[code]
finally, fit the model
[code]

get the er

[2020-01-08 08:46] amahendrakar commented on #35060
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-08 08:46] #35060 closed

[2020-01-08 08:49] mohitsaini-vgroup opened #35664 "Register a custom tensorflow operation that could be used in tensorflow C++, which itself uses some existing tensorflow operation"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Professional
- Mobi

[2020-01-08 08:50] amahendrakar commented on #35489
@silky,
Any updates regarding this issue? Thanks!

[2020-01-08 08:53] skeydan commented on #9489
awesome, just found this and @angerson fix works for me! thanks!

[2020-01-08 08:59] SinghB opened #35665 "tf.keras.models.load_model unable to use output layer names specified for loss_weights"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 64-Bit
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): v2

[2020-01-08 09:13] conglanjun commented on #35625
I update new message:
I use tf.contrib.quantize.create_training_graph() in training, save to ckpt
I load ckpt, then use tf.contrib.quantize.create_eval_graph(), save to saved model.

I use the saved model to convert to tflite. Code is:
[code]
`2020-01-08 17:05:57.434156: F tensorflow/lite/toco/import_tensorflow.cc:2471] Check failed: status.ok() Neither input_content (0) nor float_val (294911) hav

[2020-01-08 09:22] joyalbin commented on #35632
@aselle @impjdi I am using a standard model. My model contain Conv2D=>InstanceNorm=>relu. The problem is coming from instancenorm implementation.

InstanceNorm is implemented with combination of operators since Tensorflow doesn't have a single operator for this.
I have used Matmul to implement the reduce_mean to calculate Mean and Variance part of InstanceNorm.

I am running on mobile phone using

[2020-01-08 09:24] mayou36 commented on #35540
I agree, and I may seem to have hit a rather rare use-case since no one else complained so far.

A possible workaround is to call the `tf.function`-wrapped function (in the recursive scenario) _only_ if it is not yet _inside it's wrapper, otherwise the pure python function is called. This would be a safe method as no deadlocks appear, however not fully using the capability of `tf.function` and som

[2020-01-08 09:31] oanush commented on #35630
@BrEr ,
Could you try instruction from @Conchylicultor  usage of tf.io.gfile ?thanks!

[2020-01-08 09:36] #35513 closed

[2020-01-08 09:36] jlherren commented on #35513
I will go for TF 2.1, thanks.

[2020-01-08 09:40] DantrazTrev commented on #35663
Maybe you can use `import tflite-runtime.interpreter as tflite` instead of ` import tflite_runtime.interpreter as tflite` .

[2020-01-08 09:53] oanush commented on #35159
@fonnesbeck ,
Hello,Got a chance build a working example?Thanks!

[2020-01-08 09:53] oanush commented on #35208
@saqibshakeel035 ,
Any latest update ?Thanks!

[2020-01-08 09:54] oanush commented on #35209
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-08 09:54] #35209 closed

[2020-01-08 09:57] oanush commented on #35446
@loveychen ,
Time plan will be soon announced, right now there is no official update. I will close the issue as it is resolved, please feel free to open if you face any issue.Thanks!

[2020-01-08 09:57] #35446 closed

[2020-01-08 09:58] oanush commented on #34962
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-08 09:58] #34962 closed

[2020-01-08 10:00] joyalbin commented on #35632
I am also sharing the part of the model with I am facing the problem. Please help me to find the reason for the issue and any alternative solution?

[conv2d-instancenorm-relu.zip](https://github.com/tensorflow/tensorflow/files/4034657/conv2d-instancenorm-relu.zip)

[2020-01-08 10:05] CaptainDuke commented on #32781
I got same problem.
I'm testing conv+bias_add+relu case, which should be fused as shown in
https://github.com/tensorflow/tensorflow/blob/r1.14/tensorflow/core/grappler/optimizers/remapper_test.cc#L294

However, fused ops only exists when using CPU, but disappear when using GPU. Seems like it doesn't work when using GPU ?
[test_conv.zip](https://github.com/tensorflow/tensorflow/files/4034675/test_c

[2020-01-08 10:07] byronyi commented on #31062
I guess it is still needed by NCCL? See [here](https://github.com/tensorflow/tensorflow/blob/master/third_party/nccl/archive.BUILD#L95).

Not sure if we could get rid of the static runtime library, though I'd really like to do so.

[2020-01-08 10:15] conglanjun commented on #35625
I saw the source code https://git.codingcafe.org/Mirrors/tensorflow/tensorflow/blob/f4cb5978667ccf6396e4a779e3a482766959e5dd/tensorflow/contrib/lite/toco/import_tensorflow.cc
[code]
input_flat_size != input_tensor.float_val_size()
how can I control the size?

[2020-01-08 10:20] oanush commented on #35660
@oxqfsyef ,
Can you please provide a code to reproduce the issue reported here. Thanks!

[2020-01-08 10:24] oanush commented on #35657
@Neel125 ,
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2020-01-08 10:26] oanush commented on #35656
Issue replicating for TF versions 2.1 and tf-nightly. Thanks!

[2020-01-08 10:41] doldre commented on #35052
I found this problem is still existed when using RMSprop optimizer.
[Here ](https://colab.research.google.com/gist/doldre/3d55ce61030fccdc2db1a7bc2d02adaa/untitled717.ipynb)is the gist with RMSprop.

[2020-01-08 10:44] bersbersbers opened #35667 "assign() got an unexpected keyword argument 'validate_shape'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
[code]
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10, Linux
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.0.0, 2.1.0
- Python version: 3.7

**Describe the current behavior**

`tf.assign` had a `validate_sh

[2020-01-08 10:50] vsimkus commented on #31636
Had the same issue when using masking and `GlobalAveragePooling1D` with the Keras `Sequential`.

For anyone else running into this - it is fixed in `v2.1.0-rc0` and later versions.

https://github.com/tensorflow/tensorflow/blob/9837eceb39171aba9e28dc1f120f53271b6b1ef0/tensorflow/python/keras/layers/pooling.py#L642-L643

[2020-01-08 10:58] bersbersbers commented on #35667
According to #30840, one now has to use `a = tf.Variable(2, Shape=tf.TensorShape(None))` (compare #26104 and https://github.com/tensorflow/tensorflow/commit/f9f2547b085969c67dc140aaa230551b6471a956).

Still, this looks like a documentation issue:

is incorrect and should be replaced by

[2020-01-08 10:59] amahendrakar commented on #35629
Was able to reproduce the issue. Please find the [Gist](https://colab.sandbox.google.com/gist/amahendrakar/328df74ea466f392b6e33e38ca19c1a5/35629.ipynb) here. Thanks!

[2020-01-08 11:18] amahendrakar commented on #35634
Was able to reproduce the issue. Please find the [Gist](https://colab.sandbox.google.com/gist/amahendrakar/3143abc3aeaa7962f38a97097464c5ed/35634.ipynb) here. Thanks!

[2020-01-08 11:20] pandrey-fr commented on #35656
When you define a subclass of `tf.keras.layers.Layer`, you should have its `__init__` method respect the API defined at parent level, which means you need to accept some kwargs (and pass them to the parent constructor through the `super` call).

This is because a number of arguments ('trainable', 'name', 'dtype' and 'dynamic') are part of the basic API but take default values, so that they are not

[2020-01-08 11:23] tailsu commented on #35615
I see in your gist that you set

[code]

I'm guessing that the bug is inside the old TOCO converter which is already deprecated in the tf-nightly version. I'm guessing this means that the bug won't be fixed.

[2020-01-08 11:23] #35615 closed

[2020-01-08 11:27] dusa2 opened #35668 "the network is not learning anything - problem with Adam optimizer?"
I customized this repository of Recurrent Models of Visual Attention (minimal) implementation on MNIST dataset to work with my custom RGB dataset, here is the forked repository: https://github.com/dusa2/RAM

Basically I made minimal changes to make it work with RGB data, and I read in the data using the datagenerator, I have checked data input and shapes and it all seems okay.

However, the networ

[2020-01-08 11:34] ajidevelop commented on #35645
This seemed to fix the issue, but the only thing I'm confused about is why the build_pip_package command seem to target 16000+ packages

[2020-01-08 11:36] qiuxiafei commented on #33023
hey guys, the PR has been submitted. https://github.com/tensorflow/tensorflow/pull/35670

[2020-01-08 11:51] saqibshakeel035 commented on #35208
Sorry for a late reply, Actually I am able to import TensorFlow  after installation using pip install --ignore-installed --upgrade tensorflow-gpu==1.15.0 but it gives me error after installation of protobuf using conda install -c anaconda protobuf, I get the same error mentioned above.

[2020-01-08 12:26] ulf1 opened #35671 "Where is self.activity_regularizer used in SimpleRNN, GRU and LSTM? Is it a dangling orphan attribute?"
In the `__init__()` of keras' `SimpleRNN`, `GRU` and `LSTM` the input parameter `activity_regularizer` is stored

[code]

However, it seems that `self.activity_regularizer` never used anywhere in `SimpleRNN`, `GRU` and `LSTM` afterwards.

[2020-01-08 12:59] coert opened #35672 "tf.keras.estimator.model_to_estimator InvalidArgumentError: while setting up XLA_GPU_JIT device number 2"
I get an error similar to the issue described in https://github.com/tensorflow/tensorflow/issues/31451
When using tf.keras.estimator.model_to_estimator in TF 1.14 and 1.15 I get the InvalidArgumentError described below. The problem doesn't occur in TF 1.13.2.

I use Linux Mint with Python 3.6 with 2 GPUs (Nvidia GTX1080Ti). To be complete, there are 3 NVidia video cards in the machine (that seems

[2020-01-08 13:13] gunan commented on #35516
It is more complicated than that.
Sometimes, even if a commit passes all our internal checks, we may see bugs later that cause issues in production TF users, or some cases which only show up in very specific use cases. We have had roll backs up to 7 days after a commit was merged. So in my opinion, a commit we can mark that "there will be no rollbacks at this point" is infeasible (In my opinion).

[2020-01-08 13:17] nagapoornima22 opened #35673 "ValueError: too many values to unpack (expected 2)"
while performing language translation it is rising an issue value error.
i followed the code from the tensorflow guide

from __future__ import absolute_import, division, print_function, unicode_literals

import tensorflow as tf

import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
#from sklearn.model_selection import train_test_split

import unicodedata
import re
import numpy as np
i

[2020-01-08 13:21] vidursatija commented on #35673
Hi, try printing out word pairs before it is returned and see the size of the array

[2020-01-08 13:27] vidursatija commented on #35650
Hi,
There's a chance that TF2 doesn't support `Sequence` yet. I think we'll have to wait for the community to add such support

[2020-01-08 13:28] defrummel commented on #27278
After converting my frozen graph to tflite_graph.pb using tensorflow's object_detection/export_tflite_ssd_graph.py, I had success changing "image_tensor" to "normalized_input_image_tensor".

command for converting frozen graph:
add tensorflow folder to python path using `export PYTHONPATH=$PYTHONPATH:`pwd`:`pwd`/slim`
now `python object_detection/export_tflite_ssd_graph.py --input_type image_tenso

[2020-01-08 13:28] krisch12 commented on #28287
I am also facing this issue
tensorflow.python.framework.errors_impl.FailedPreconditionError: Error while reading resource variable dense_6/kernel from Container: localhost. This could mean that the variable was uninitialized. Not found: Resource localhost/dense_6/kernel/class tensorflow::Var does not exist.
         [[{{node dense_6/MatMul/ReadVariableOp}}]]

[2020-01-08 13:29] Krishnarohith10 opened #35674 "SymbolicException: Inputs to eager execution function cannot be Keras symbolic tensors, but found [<tf.Tensor 'input_1:0' shape=(None, 30, 78) dtype=float32>]"
------------------------

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 Version 1909
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow version (use command below)**: 2.0.0
- **Python version**: 3.6.9
- **CUDA/cuDNN version**:10.0.130
- **GPU model and memory**:GTX 1660 Ti 6GB

[Jazz

[2020-01-08 13:30] nagapoornima22 commented on #35673
It is printing the output with start and end tags separated by ','

but it is again raising the same error

[2020-01-08 13:33] gdudziuk commented on #35030
Thanks. So the issue is reproducible. Below I put some numbers obtained via `memory_profiler` on my machine, just in case they are needed. They result from your profiling script (with the difference that I have reduced the number of epochs to 1 to keep tests quick).

With `tf-nightly-cpu==2.1.0.dev20200103`:
[code]

With `tf-nightly-gpu==2.1.0.dev20200103`:
[code]

[2020-01-08 13:33] gunan commented on #35573
Are you installing TF through macports or pip.
Unless macports just fetches the package from what we are building, it may be built with different flags, causing all kinds of ABI issues.
Similar for protobuf. If these are packages not built by us, I do not think we can do much to help.

[2020-01-08 13:40] shahad-bit commented on #34607
It worked when using python 3.6.

[2020-01-08 13:44] JadTawil-theonly commented on #33771
BatchNormalization behaves differently during training and validation. This MAY be your issue, idk you let me know.

During training, the statistics of the current batch are used to normalize the features. The computed mean and variance are used to update a running mean and running variance.
During validation, the running mean and running variance are used, and nothing is updated.
You may get very

[2020-01-08 13:45] gdudziuk commented on #35030
With `tf-nightly-2.0-preview==2.0.0dev20190802`:
[code]

With `tf-nightly-2.0-preview==2.0.0dev20190803`:
[code]

With `tf-nightly-2.0-preview==2.0.0dev20190815`:
[code]

With `tf-nightly-2.0-preview==2.0.0dev20190816`:
[code]

This confirms your conclusions: there were two points at which some bugs were introduced. But interestingly, I get different memory usage for `2.0.0dev20190816` than you (~

[2020-01-08 13:45] gdudziuk commented on #35030
Just for reference, with `tensorflow==1.14.0`:
[code]

and with `tensorflow=2.0.0-b1` (which was the last pre-release without the issue):
[code]

[2020-01-08 13:51] Danmou commented on #22853
@allenlavoie I ran into the problem that adding a `ListWrapper` and `TensorShape` results in the error `TypeError: 'TensorShape' object does not support item assignment`. Explicitly converting either of the two objects to a list works fine, but it's a bit confusing behavior. Not sure why `ListWrapper` would try to modify the object you're adding with it.

[2020-01-08 13:57] woolpeeker opened #35675 "tflite crash with segmentfault when I use set_tensor to set input tensor."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Ubuntu16.04 windows and Raspbian 10

- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
I test it both on x64 and armv7l (Raspberry Pi4 which is running 32bit OS)

- Tens

[2020-01-08 13:57] BrEr commented on #35630
I did try GFile:

https://github.com/tensorflow/tensorflow/issues/35630#issuecomment-571468035

[2020-01-08 14:02] BrEr commented on #35630
@Conchylicultor the url, as extracted from source is:

http://www.image-net.org/image/downsample/Imagenet32_train_npz.zip

found in:

https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/image/imagenet_resized.py

[2020-01-08 14:02] ravikyram commented on #35639
@FabioMD1972

This issue is more suitable for TensorFlow Hub repo. Please post it on hub repo from [here.](https://github.com/tensorflow/hub/issues) Thanks!

[2020-01-08 14:11] PBB-as commented on #35586
@ravikyram
Yes, close it. Thank you!

[2020-01-08 14:11] #35586 closed

[2020-01-08 14:19] aaron-michaux commented on #23613
This is a problem when building tagged release `v2.0.0` using `bazel-0.26.1-linux-x86_64`

I get:

[code]

[2020-01-08 14:23] generationXcode commented on #35608
Thats one way to look at it, but another way is that absolute beginners to this topic will want to see some quick results as well. Maybe they don't know coding that well, or they want to try it out before getting their hands dirrty with relatively tougher methods of making models (`tf.Sequential`)

[2020-01-08 14:27] razzOn2calculus commented on #35598
It didnt solved the problem.

[2020-01-08 14:29] deven-amd commented on #35516
guess we are not necessarily looking for a commit for which every single nightly test has passed, but rather a commit that has gone through somewhat more rigorous testing then what it done in the PR checks.

every now and then we see commits which break the build / tests. They do seem to get detected and fixed fairly quickly (within hours or a day or two), but for the intervening time/commits, it

[2020-01-08 14:50] amahendrakar commented on #35650
@kyao,
Tried to reproduce the issue using keras and tensorflow.keras, but I am facing an error different from yours.
Please find the attached Gist for keras [here](https://colab.sandbox.google.com/gist/amahendrakar/75fd7c47f61a12133313d0f6b9ba0d11/35650_keras.ipynb) and tensorflow.keras [here](https://colab.sandbox.google.com/gist/amahendrakar/f5b3b3ca9979e6ceeb8a247436e811ef/35650_tf-keras.ipynb)

[2020-01-08 14:52] yongtang commented on #26879
@kenseii if the issue persist, can you open a new issue with all the details so that the issue could be reproduced reliably? That will help triage and debug the issue.

[2020-01-08 15:10] datjandra commented on #35656
Thanks. Passing **kwargs resolved the error.

[2020-01-08 15:10] #35656 closed

[2020-01-08 15:18] alanpurple commented on #35653
no problem with windows 10 build...

[2020-01-08 15:19] ifed-ucsd commented on #35563
I'm seeing the same issue and it is really affecting performance. Is there an ETA on a solution?

[2020-01-08 15:21] odinsbane commented on #33910
I suspect that TF1.14 and cuda 9.1 are not compatible. I have the same issue currently, and I am trying to switch to 10.1 to see if it builds. I think this issue is actually why I have been using TF 1.13.

[2020-01-08 15:24] ManishAradwad opened #35677 "Explanation regarding `seed` parameter"
## URL(s) with the issue:

https://github.com/tensorflow/examples/blob/d631c0545dac90c6390da76ed8df7c4f6a2a25bc/courses/udacity_intro_to_tensorflow_for_deep_learning/l08c01_common_patterns.ipynb#L307

`def white_noise(time, noise_level=1, seed=None):`

## Description of issue (what needs changing):

I think, we should add explanation of `seed` parameter here since it's quite an important one.

###

[2020-01-08 15:41] AlexVaith opened #35678 "TensorFlowLite_LSTM_Keras_Tutorial.ipynb update"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2020-01-08 16:07] amukh18 commented on #35329
Could you please tell me what 'auto' is in the given error (I'm a bit new to Tensorflow)?

[2020-01-08 16:24] neolee commented on #24828
Same issue here (while running the official MNIST sample). My setup:

tensorflow-gpu-2.0.0
Ubuntu 18.04
CUDA 10.0
cudnn 7.6.4
Nvidia Driver 430
GTX-1080

This error is annoying because we have nearly zero hint on the root cause. Already try the GPU memory fix but no luck.

[2020-01-08 16:30] jiapei100 commented on #34429
@alanpurple

Exactly the same **ERROR** from me:

[code]

[2020-01-08 16:40] vidursatija commented on #35673
What is the size of the array?

[2020-01-08 17:14] allenlavoie commented on #34488
Checkpointing doesn't support insert, so it'll throw an exception on save. The Layer is added to the list, though. Keras probably still wants to collect layers through lists in this case. Hopefully someone who works on Keras can iron out that policy. Scott, can you find an owner?

[2020-01-08 17:22] aselle commented on #35663
What exactly are you using to run the inference command?
Are you sure that is the same version of python? i.e. if you are using pip3 but then using python you will probably be using python2 which doesn't have it installed.

[2020-01-08 17:30] aselle commented on #35675
Call `interpreter.allocate_tensors()` before running set_tensor()

[2020-01-08 17:35] jvishnuvardhan commented on #33855
@ziruizhuang Model generally output probabilities in classification. Please check a [tutorial](https://www.tensorflow.org/tutorials/quickstart/beginner) on `TF website`. If you want to predict classes, you can do

`predictions = model.predict_classes(x_train)`

or

[code]

Please post further questions in Stackoverflow. We will answer there. We want to keep this GitHub repository to address mainly

[2020-01-08 17:40] MarkDaoust commented on #35464
Hi.

The easiest way to debug this is to just add a bunch of print statements, and inspect the shapes.

The problem here is the interaction of broadcasting wth the `z_mean + tf.exp(0.5 * z_log_var) * epsilon` line.

Normally  the last dimension of  z_mean, and z_log_var are known but the last dimension of epsilon is not.

Since you mul and add epsilon it assumes the two have the same shape.

When

[2020-01-08 17:40] #35464 closed

[2020-01-08 17:41] MarkDaoust commented on #35464
Also not for the future that this would be better as a stack-overflow question instead of a github bug.

Have a nice day.

[2020-01-08 17:48] jsimsa commented on #35152
@kkimdev could you try running this through your tooling for checking leaks of Python objects? Thank you.

[2020-01-08 17:55] allenlavoie commented on #22853
@Danmou thanks for the report. I've sent a fix for review; I think we can just be more lazy about re-wrapping the result of operators in ListWrapper.

[2020-01-08 17:58] MarkDaoust commented on #28718
A fix is inflight,  Sorry for the confusion.

The old version does work as intended, because setting loss to a string value triggers some keras magic that does the right thing behind the scenes.

But it's best to avoid magic.

[2020-01-08 18:05] 00krishna commented on #34848
Hey folks. So again, the issue seems to be associated with the `get_dataset_length()` function returning a tensor of 1 integer value. So it seems like the `model.fit()` function cannot accept tensors for the `steps_per_epoch` or such arguments. Now I guess that is a design question. Should those argument be limited to scalar values in principal, or should they be able to take a tensor and parse it

[2020-01-08 18:08] vlasenkoalexey commented on #9489
It is still broken for TF2.1rc2, and I confirmed that adding TF_FORCE_GPU_ALLOW_GROWTH=true to docker file doesn't solve the issue.

[2020-01-08 18:09] impjdi commented on #35632
Thank you for the network.  I forwarded the issue to our OpenCL specialist.

[2020-01-08 18:11] 00krishna opened #35680 "Redundant functions between `Tensorflow Features Columns` API and `TF Keras Preprocessing Layers`"
In working with TF 2.0, I noticed that the TF Feature Columns API seems to overlap with the Keras Preprocessing layers (or Keras Utils). For example, you can create an `tf.feature_column.indicator_column()` which creates a bunch of dummy variables or a one-hot encoded matrix based upon a categorical variable. With Keras preprocessing or Utils, you can use the `tf.keras.backend.one_hot()` function

[2020-01-08 18:29] mihaimaruseac commented on #35655
I think you need MSVC2019. Can you try from a fresh clone of the repo? And if the issue still reproduces please ensure the following:

* the error logs use ` ``` ` before and after so that they are readable
* the error logs use English throughout the names
* the commit hash you cloned at is also included in the report

[2020-01-08 18:34] vlasenkoalexey commented on #9489
Looks like latest change wasn't pushed to docker hub:
https://hub.docker.com/layers/tensorflow/tensorflow/2.1.0rc2-gpu/images/sha256-e328b120aba6af551e1b9124cd7eeee3f05e4d41d115c139614f1ca4350c7953
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/dockerfiles/dockerfiles/devel-gpu.Dockerfile

Meaning that this will work if you build from docker file, but won't work if you pull

[2020-01-08 18:35] kkimdev commented on #35152
- using_split=True https://paste.googleplex.com/6404943990751232
- using_split=False https://paste.googleplex.com/5515399179272192

It looks both are leaking.

`_GeneratorState` reference graph for "using_split=True" case.
https://graphviz.corp.google.com/svg?graph_id=cfe456a9651f00885270edff9f269e4f

In the graph, I see `_py_funcs_used_in_graph` which is unexpected for "using_split=True" case.  I

[2020-01-08 18:39] jvishnuvardhan commented on #31636
@mpdn As mentioned by @vsimkus, this issue was resolved in latest version. Please take a look at the [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/42a3edc1d4fc4e771b0417e5f2b2675c/tf31636.ipynb) for your reference. Thanks!

I am closing this issue as it was resolved. Please feel free to open if the issue persists again. thanks!

[2020-01-08 18:39] #31636 closed

[2020-01-08 18:41] jsimsa commented on #35152
`from_generator` uses PyFunc

[2020-01-08 18:47] jvishnuvardhan commented on #35615
@tailsu I am not sure what you meant by

This bug was fixed in the recent `tf-nightly`  by this `converter.target_spec.supported_ops =[tf.lite.OpsSet.TFLITE_BUILTINS, tf.lite.OpsSet.SELECT_TF_OPS]`.

If you use recently `tf-nightly`, we don't need to use `converter.experimental_new_converter = True` as that is selected by default.

[2020-01-08 18:57] bloc97 commented on #33929
Any updates on this matter? Or is there any workaround (manually clip the gradients before the update pass)?

[2020-01-08 19:03] kkimdev commented on #35152
If I apply this commit https://github.com/tensorflow/tensorflow/commit/3b74a63c0f7e1ec4618563958079f538cd9de076 then seems there is no more leak https://paste.googleplex.com/4555021112836096

But that commit unfortunately got reverted https://github.com/tensorflow/tensorflow/commit/8a0cd10c92f9c62f3dfbd261f0481fad93a6ae8c .  Sorry but re-landing that doesn't seem easy at this point and I don't hav

[2020-01-08 19:11] henrysky commented on #31135
for anyone who is using tf 2.1, the above comment does not seems to work.

I use ``tf.config.set_visible_devices([], 'GPU')`` seems to do the job correctly

[2020-01-08 19:40] kyao commented on #35650
@amahendrakar ,
The correct expected behaviors are for keras [here ](https://colab.research.google.com/drive/11yS9C5Gi8zoL7JwxALvbZXKX-zwMh7hQ) and tensorflow.keras  [here](https://colab.research.google.com/drive/1VkDeuL1zY9VJecD6ApGANthGMH74NMuK).

With the Sequence.register statement added the unexpected behaviors  are for keras [here](https://colab.research.google.com/drive/1sSnoFdQjgZcNlFnNlpi

[2020-01-08 19:46] jvishnuvardhan commented on #35590
@gogela Can you please try adding the following line. When I added, I don't see any error. Please check and let us know. Thanks.

[code]

[Here](https://colab.sandbox.google.com/gist/jvishnuvardhan/767a9270d4aaea440f715bffcca730e0/untitled736.ipynb) is the gist for your reference. Thanks!

Please close the issue if it was resolved for you. thanks!

[2020-01-08 20:17] evancasey opened #35681 "OOM error when running ops on large tensors in TF2.0"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-01-08 20:35] alexanderfrey commented on #33558
Same problem here with input tensors that are too large. @mattroos Did you solve your problem ?

[2020-01-08 20:43] mattroos commented on #33558
No, @alexanderfrey. I've been told by the coral support team that this a problem with the EdgeTPU runtime code, which is provided by their team of engineers (initial release was version 10, current release is version 12). They claimed it would be fixed in a future release but would not give a release date estimate. I'm not even sure it will be resolved in the next release, versus one further down

[2020-01-08 20:57] amjass12 commented on #35585
@NLP-ZY is this a known problem? I didn't understand your comment about it being caused by the relu activation? Is this a known bug? If so is there a solution?

[2020-01-08 20:57] impjdi commented on #35632
He has confirmed that https://github.com/tensorflow/tensorflow/files/4034657/conv2d-instancenorm-relu.zip works fine on his device.  What kind of device are you using?

[2020-01-08 21:00] pandrey-fr commented on #31135
@henrysky this is indeed part of the breaking changes introduced in 2.1 (as documented in the release notes), which promoted some former experimental functions to the public scope; thank you for pointing the new correct syntax out :)

[2020-01-08 21:09] felixvelariusbos commented on #32394
@robieta

Hi,  not sure why this got closed just because conda was used instead of pip. I'm also running into issues with this (using TF 2.0.0, CPU only on RedHat) and I installed with conda. I'd be happy to show some sample code to replicate and the metrics I've collected from trying to debug this memory lead issue.

If you all do not deal with the conda package....who does? And why would there b

[2020-01-08 21:16] pandrey-fr commented on #35681
Hi,

You are computing the exponential (or any value-wise transformation) of N values, without re-assigning the results to their initial container, so obviously N new values have to be created and allocated space for. In your case, N is very large; the created array should take around 2.5 GB of memory space (with default float32 dtype). Note that if you reassign to the inital tensor (`x = tf.exp(x

[2020-01-08 21:33] ymodak commented on #35169
Closing this issue since its resolved. Thanks!

[2020-01-08 21:33] #35169 closed

[2020-01-08 21:52] ylipacbio commented on #25058
Thank you @violettomsk!

Adding  `-lstdc++` solved a similar issue I saw when compiling C++ program depend on tensorflow 2.1 on macbook.

Without `-lstdc++`, I saw the following error
[code]

After adding `-lstdc++`, and edit {LD_LIBRARY_PATH}, compilation and linking worked fine!
[code]

Really appreciate your suggestions!

[2020-01-08 21:58] jburnim commented on #35435
I just tested in the newly-released TF 2.1.0, and I'm still getting an incorrect result:
[code]

[2020-01-08 22:17] gowthamkpr commented on #34544
Closing this issue as it has been inactive for more than 2 weeks. Please add additional comments and we can open the issue again. Thanks!

[2020-01-08 22:17] #34544 closed

[2020-01-08 22:18] jvishnuvardhan commented on #31525
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-08 22:18] #31525 closed

[2020-01-08 22:18] bersbersbers commented on #35326
Here is some test code that I could repro the same error with:
[code]

The output ends in
[code]

This error appears when remote-debugging in VS Code through VS Code Remote SSH, but not when running the same file locally (neither on the client nor the server). The server has 256 GB RAM, of which 8 are in use, so I doubt RAM is an issue, @mvrska.

This is TF 2.1.0rc2 on Python 3.7.6 on a Windows 10

[2020-01-08 22:19] gowthamkpr commented on #35307
Closing this issue as it has been inactive for more than 2 weeks. Please add additional comments and we can open this issue again. Thanks!

[2020-01-08 22:19] #35307 closed

[2020-01-08 22:29] aaroey commented on #35115
From the discussion this seems not related to TensorRT. Adding sanjoy@ to followup.

[2020-01-08 22:40] ReinforcedMan commented on #35618
I'm reopening since the problem still appears with the version of tensorflow 2.1.0 on pipy that you get with

`pip install tensorflow`

I have cuda 10.1 and cudnn 7.6.5 for cuda 10.1.
In my system path I have bin/, libnvvp/ and CUPTI\lib64, as I did for tensorflow 2.0.0 but adapted for 2.1.

[2020-01-08 22:44] jvishnuvardhan commented on #31184
@JiayuanSternLi Thanks for the support in resolving the issue. @hgffly [Here](https://colab.sandbox.google.com/gist/jvishnuvardhan/ddea44f8549605a6ea9ff069981794ef/untitled737.ipynb) is the gist for your reference. With `training = True`, custom training is producing similar results as keras fit. The loss and accuracy are as follows

[code]

I think this is resolved. I am closing this issue. Pleas

[2020-01-08 22:44] #31184 closed

[2020-01-08 22:45] karimnosseir commented on #35380
Assigning to T.J who looks in work related to desktop.

T.J can you please have a look.

[2020-01-08 22:46] essandess commented on #35573
Good point. The issue isn't reproducible with a pip install, so it's some MacPorts flag or related issue.

I'll try to produce a clean, working build on macOS and reflect the working steps in a Portfile.

[2020-01-08 22:48] mihaimaruseac commented on #35618
Can you try using `tensorflow` instead of `tensorflow-gpu`? It should have the GPU build too (and if it works it will point out a failure in the way we release these two)

[2020-01-08 22:48] bersbersbers opened #35682 "tf.data.Dataset.map repeats random numbers in each epoch of a Keras training loop when a graph-level seed is set"
Thanks for staying with me after this long title. There are many issues on non-determinism of `Dataset.map` - this one is contrary. With random data augmentation, I would expect `Dataset.map` to behave differently between epochs, but it does not if a graph-level seed is set.

**System information**
- Have I written custom code: yes, below.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):

[2020-01-08 22:59] jvishnuvardhan commented on #34921
@HsinJhao I updated your code. Please check the updated [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/4778937cff52a4e4a50889673ac39cfe/createdtfdatasetfrommatfiles.ipynb).

Please post further questions in Stackoverflow. We will resolve it there. GitHub is mainly for bugs/performance related issues. Thanks!

[2020-01-08 23:07] ReinforcedMan commented on #35618
I tried both

[code]

but neither seem to be working for me ...

Also: Maybe something of note is that in the [test build of the pipy version](https://source.cloud.google.com/results/invocations/88229a56-37fe-41cc-947a-787023dce60a/targets/tensorflow%2Fgithub%2Fwindows%2Fgpu_py36_full%2Fcontinuous/log) the CUPTI path is set as pointing to 10.1/../libx64, where it seems to have been renamed to 10.1

[2020-01-08 23:09] jvishnuvardhan commented on #35625
@conglanjun Can you please share a standalone code to reproduce your issue? Thanks!

[2020-01-08 23:47] pooyadavoodi commented on #31671
I think this is fixed in TRT7.
@sgambient would you be able to verify that?

[2020-01-08 23:49] jvishnuvardhan commented on #35605
@aijiart Can you please share a standalone code to reproduce the issue. Did you try adding `converter.allow_custom_ops = True` to enable custom ops in the `tf.lite`? Thanks!

[2020-01-09 00:14] 1zoom commented on #35115
And yes, I was wrong about 1.14, I thought I'd switched branches.

[2020-01-09 00:34] artemmavrin opened #35683 "Wrapper.from_config mutates its input"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): platform-independent
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.1
- Python version: 3.7

**Describe the current behavior**

`tf.keras.layers.Wrapper.from_config

[2020-01-09 01:46] mjlbach opened #35685 "Define variable shape at restore/load, allow direct restoring of variables prior to calling __build__ (non-lazy variable loading from checkpoint)"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0
- Are you willing to contribute it (Yes/No): Yes (if n

[2020-01-09 01:58] yourtheron commented on #35329
I am sorry I do not have a clue, which is partly why I asked the question.

[2020-01-09 02:47] qlzh727 commented on #35654
Thanks for reporting the issue.

The problem happens when you use LSTMCell with dropouts. In tf2, LSTMcell cached the dropout mask to achieve the variational dropout for better accuracy. On the other hand, the cached dropout mask need to be reset for every batch, otherwise the following batch will try to use a mask from previous batch. We do the reset in the LSTM layer for user, but if you use the

[2020-01-09 02:47] #35654 closed

[2020-01-09 03:34] kattakarthik commented on #35627
--monolithic option helped resolving symbols clash issue. I have resolved the other issues by removing gpu calls from our binary.

[2020-01-09 03:34] #35627 closed

[2020-01-09 03:35] oanush commented on #35674
@Krishnarohith10 ,
One workaround for the issue can be trying to disable eager execution and run the .ipynb file
[code]
You can also refer solution of this similar issue.
Kindly post the question in Stack-overflow if above solution is not helpful.Thanks!

[2020-01-09 03:56] oanush commented on #35681
@evancasey ,
When tried executing the code for TF-2.0, worked fine. Also the solution provided by @pandrey-fr  works well too. Kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/f47c3278a1b478b3f5e78f0ba278ea64/35681.ipynb) of colab for your reference. Kindly close the issue if its resolved.Thanks!

[2020-01-09 04:29] CleanPegasus opened #35687 "multi_gpu_model is slower than single gpu model."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-01-09 04:32] markelsanz14 commented on #28429
Hi. I am seeing this same issue. I built a tf.keras model with model subclassing on tf 2.0, and then executed the following code to log the graph and run the tensorboard profiler:

tf.summary.trace_on(graph=True, profiler=True)
network(np.random.randn(1, 84, 84, 4))
with summary_writer.as_default():
    tf.summary.trace_export(name="model_trace", step=0, profiler_outdir=log_dir)

The graph gets lo

[2020-01-09 04:48] batulrangwala commented on #35663
This results in syntax error

[2020-01-09 04:56] batulrangwala commented on #35663
I am using python3 command as follows (same is mentioned on the example in website link given before)
python3 classify_image.py --model models/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --labels models/inat_bird_labels.txt --input images/parrot.jpg

I am not working with python2 and I am sure of that.
Actually the example was working initially (For this I had never installed anything rela

[2020-01-09 05:10] joyalbin commented on #35632
@impjdi Thanks for your reply.
I am trying to run this on mobile device Honor20. Could you also please let me know in which environment it works fine?

[2020-01-09 05:28] 2696120622 opened #35688 "RuntimeError: Encountered unresolved custom op: Enter.Node number 8 (Enter) failed to prepare."
I have converted tf.keras model to tf.lite successfully. However, when I use it for inference, I get an error. Is there anyone who can resolve it? Thanks!

code:
`interpreter = tf.lite.Interpreter(model_path="E:/object_detection/EfficientDet-region_anchor_opt_mbconv-head-ckpts/tflites/ckpts_B0_image-size-768/mbconv-se-head_1e-5_unfreeze-backbone_freeze-bn/csv_04_0.6736_0.7484_opts.tflite")

interp

[2020-01-09 05:29] thkim-cochl opened #35689 "TFLite C/C++ library header file installation"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlo

[2020-01-09 05:38] gadagashwini commented on #35524
@farotem, I tried replicating the issue with commenting profile, looks like issue is related my_model file. Please find the [gist](https://colab.sandbox.google.com/gist/gadagashwini/4fcd1d5ae63b0f72dcc65076e10aad15/untitled338.ipynb?authuser=1). Can you try @retviews's suggestion and let us know how it progresses. Thanks!

[2020-01-09 05:39] Lasers67 commented on #35673
The word_pairs is a single array, and cannot be split up into 2 values, try zipping the array by
zip(*word_pairs) as mentioned in the documentation.
[https://www.tensorflow.org/tutorials/text/nmt_with_attention](url)

[2020-01-09 05:42] batulrangwala opened #35690 "Determine input_arrays and output_arrays values for tflite_convert"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version:1.14
- Python version:3.7.4
- Installed using virtualenv? pip? conda?:conda
- Bazel version (if compiling from source):NA
- GCC

[2020-01-09 05:54] jvishnuvardhan commented on #28429
@markelsanz14 Please open a new issue with your issue details and a standalone code to reproduce the issue. Please open the issue in `tensorboard` repo. Thanks!

[2020-01-09 05:58] ravikyram commented on #35668
@dusa2
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary.

Request you to provide simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster.
 If you are unclear what to include see the issue template displayed in [th

[2020-01-09 06:16] jvishnuvardhan commented on #35678
@AlexVaith Are you looking for the tutorial with the new converter? [Here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/experimental_new_converter/keras_lstm.ipynb) is the tutorial with the new converter. Couple of days back there was an update, so if you plan to use `tf-nightly`, then you don't need to specify `converter.experimental_new_converter = True` which is

[2020-01-09 06:21] hgffly commented on #31184
@JiayuanSternLi  , thanks for help, it did work.
But I don't see document mentioning this, or maybe I miss it and I'll be so glad if you could tell me how to know it.
So I need to add training=True argument to the model whenever I trained with GradientTape or just the example of transfer learning I listed. Because I have tried training other model, it can converge without assigning training=True.

[2020-01-09 06:31] donguklim opened #35691 "A model results inconsistent output values depending on input batch size"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-01-09 06:42] batulrangwala opened #35692 "tflite_convert failed"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 1.14

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

[2020-01-09 06:43] ManishAradwad opened #35693 "Correction in calculation of error while Naive Forecasting"
## URL(s) with the issue:

https://github.com/tensorflow/examples/blob/master/courses/udacity_intro_to_tensorflow_for_deep_learning/l08c03_moving_average.ipynb

## Description of issue (what needs changing):

It should be 'mean absolute error' instead of squared error while Naive Forecasting

![Screenshot from 2020-01-09 12-10-09](https://user-images.githubusercontent.com/29497701/72044240-4bd89a8

[2020-01-09 06:45] nagapoornima22 commented on #35673
Thq it works for me

[2020-01-09 06:48] nagapoornima22 commented on #35673
Hi,
Instead of translating a single sentence always how can we take inputs from the user and translate it.
can we integrate this translation model in android.please help me to do that.

[2020-01-09 06:58] alanpurple commented on #35653
is there any way I can get rid of k8-py2-opt compile? since I don't need py2....

[2020-01-09 06:59] ravikyram commented on #35665
@SinghB

Can you please share simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-01-09 07:09] fsx950223 opened #35694 "MultiWorkerMirroredStrategy stuck"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-01-09 07:17] humza3656 commented on #32318
@christk1, were you able to resolve this issue? I'm getting the same one

[2020-01-09 07:17] shauryad15 commented on #35389
Any pointers on how to solve it?

[2020-01-09 07:26] batulrangwala opened #35695 "2020-01-09 12:25:17.491189: F tensorflow/lite/toco/graph_transformations/quantize.cc:611] Check failed: is_rnn_state_array"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary):binary
- TensorFlow version:1.14
- Python version:3.7.4
- Installed using virtualenv? pip? conda?:conda
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):7.4
- CUDA/cuDNN version:10.2
- GPU model and memory:G

[2020-01-09 07:34] YLaCoon commented on #35603
Thanks. I tried to create a self-contained reproduction but it's a little hard to debug on TPUs. The official script runs fine. I debugged it a little more and my current work-around is to comment out this line:

https://github.com/tensorflow/models/blob/master/official/nlp/optimization.py#L142

Gradient clipping is not that important for the final model performance. I will rerun with the later ve

[2020-01-09 07:45] aijiart commented on #35605
Thank. I have tried the step you point out, but I shouldn't test the tflite model directly in python. Because the tflite Interpreter can't process the tensorflow ops just now.

[2020-01-09 07:45] #35605 closed

[2020-01-09 07:47] aijiart commented on #35605
Thanks a lot.  Problem sovled~

[2020-01-09 08:05] yejw5 opened #35696 "About symbols' visibility in shared library"
**System information**
- TensorFlow version (you are using):  v2.0.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
As we can see from [tf_version_script.lds in v2.0.0](https://github.com/tensorflow/tensorflow/blob/v2.0.0/tensorflow/tf_version_script.lds), none of `Eager*` symbols have been set to `global visibility`. But in newest master

[2020-01-09 08:06] gadagashwini commented on #35673
@nagapoornima22, Take input from user using
`input_sentence = raw_input("write a sentence") `or
`input_sentence = input("Write a sentence")`
and please find the [guide](https://www.tensorflow.org/lite/guide/android) for deploying the translation model in android using Tensorflow. Thanks

[2020-01-09 08:10] gadagashwini commented on #35672
@coert, Thanks for reporting the issue. Can you provide the reproducible code snippet to analyze the issue. Thanks!

[2020-01-09 08:32] nolanliou opened #35697 "tensorflow.python.framework.errors_impl.CancelledError: Cancelled, When do distributed training with parameter-server"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 14.04**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command b

[2020-01-09 08:36] enriqueav commented on #34607
As other comments have mentioned, a similar error happens in Django as well.
I am facing the same issue with:

[code]

Thanks to other comments I have found it only happens with
`tensorflow==1.15.0` and `tensorflow==2.0`
Hence, a possible workaround is to downgrade to `tensorflow==1.14.0` or below.

Another workaround I have found, which is ugly as well, is to include

`import tensorflow as tf`

i

[2020-01-09 08:47] vihari1729 commented on #19431
Did u get the answer bro?.
Thanks in Advance

[2020-01-09 09:14] gadagashwini commented on #35687
@CleanPegasus, Can you provide the standalone code to replicate the reported issue. Thanks!

[2020-01-09 09:16] #33832 closed

[2020-01-09 09:20] Patrickctyyx commented on #30094
Same problem

[2020-01-09 09:22] AlexVaith commented on #35678
Thanks for the quick reply  @jvishnuvardhan . I did not know that this tutorial existed, but I found the same solution on stackoverflow. I just thpught that the official documentation should be up to date, which it is apparently.
However, I thought that with the old implementation via the TFLiteLSTMCell and tf.lite.experimental.nn.dynamic_rnn, post training quantization could be possible, which is

[2020-01-09 09:36] nagapoornima22 commented on #35673
Thankyou

[2020-01-09 09:36] #35673 closed

[2020-01-09 09:37] gadagashwini commented on #35688
@2696120622, Can you provide the standalone code to reproduce the issue and also provide tensorflow version. Thanks

[2020-01-09 09:39] Silmeria112 commented on #33245
I faced same issue. My workaround is not using the subclass way.  When I change to tf.keras.Model(inputs=...,outputs=...), the problem solved.

In fact I found there's quite some limitation on subclass model, and there's no good guidline about how to avoid these limitations.Hope tensorflow can improve the usability of subclass model. I really prefer subclass model than sequence model becuase that'

[2020-01-09 09:41] batulrangwala commented on #35695
Additional Information

I have created tflite_graph.pb from export_tflite_ssd_graph.py, quantized checkpoint and config files. Using the following command

`python object_detection/export_tflite_ssd_graph.py --pipeline_config_path /home/ridlr/TensorFlow/exported_model_12k_quantized/pipeline.config  --trained_checkpoint_prefix /home/ridlr/TensorFlow/exported_model_12k_quantized/model.ckpt --output_

[2020-01-09 09:49] batulrangwala commented on #35692
Adding --allow_custom_ops in the command resolved the issue and I was able to generate a .tflite file.

However this file is not quantized tflite and not relevant for me even though it is converted from a quantized graph def file. This issue is reported in https://github.com/tensorflow/tensorflow/issues/35690

[2020-01-09 09:58] 2696120622 commented on #35688
OK, Thanks!
My tensorflow version is 1.15.0-rc0.
My code as follows.
`
from tensorflow import keras
import tensorflow as tf
import layers as layers_new
import initializers
import losses
import efficientnet

custom_objects = {
    'BatchNormalization': layers_new.BatchNormalization,
    'swish'            : efficientnet.get_swish(backend=keras.backend,layers=keras.layers,models=keras.models,utils=k

[2020-01-09 10:01] ravikyram commented on #35691
I have tried on colab with TF version 2.0 and i am not seeing any issue. However with TF version 2.1 i am seeing `AssertionError: `.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/c67db102bcfbfbeaeda51e28c3620efc/untitled541.ipynb). Thanks!

[2020-01-09 10:13] gadagashwini commented on #35682
Issue is replicating on colab with tf 2.1.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/f5f0f14eae16deceb24d70aa08a6e2ec/untitled339.ipynb?authuser=1).Thanks!

[2020-01-09 10:20] yuviabhi commented on #29968
Issue still persists in **Tensorflow 2.0.0**
OS: Ubuntu 18.04

My Code :
[code]

![Screenshot from 2020-01-09 15-47-02](https://user-images.githubusercontent.com/14270453/72059195-8ea96b00-32f7-11ea-8070-aa7fb13251e6.png)

[2020-01-09 10:27] fhaase2 commented on #24412
Any update after releasing v2.1.0?

[2020-01-09 10:32] fhaase2 commented on #24412
According to the release notes of v2.1.0:

So i guess this issue is kind of solved?

[2020-01-09 10:40] yuviabhi commented on #34415
This issue still persists. Please **Re-Open** this issue.

https://github.com/tensorflow/tensorflow/issues/29968#issuecomment-572492815

[2020-01-09 10:43] exelents commented on #35629
I have found, that before using TF2 in Colab I need to run in notebook a sort of marco(?):
`%tensorflow_version 2.x`
After that I need to install a latest release of TF2.1 and run a model code I presented before.
With this macro the TPU is going to work fine.

[2020-01-09 10:43] #35629 closed

[2020-01-09 10:43] lamarrr opened #35699 "Dangling pointer through IntArrayFromInitializer causing Segfault in Tests"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 19.10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: None
- TensorFlow installed from (source or binary): source

- TensorFlow version (use command below)

[2020-01-09 11:13] dusa2 commented on #35668
@ravikyram I am using Ubuntu 16.04 python 3 tensorflow version 1.9.0 (binary install)

will try to add a standalone, for now these could be useful as the source code is pretty minimal.

train.txt format:
filename label
video02_000000 0
video03_000025 1
video04_000050 0

The data is any a set of RGB images (jpeg format), the dataset is read in datagenerator lines 89-101 (path and folder structure n

[2020-01-09 11:30] mr-ubik commented on #33374
As others said, in the meantime, it would go a long way if you could fix the docs as currently, it could be hard for newcomers to figure out why `pip install tensorflow` yields

[code]

@debendraoli you don't need to change OS, just use `virtualenv`.

[2020-01-09 11:42] nizarmah commented on #33374
As he mentioned, you don't need to change OS, you just need python 3.7. Try the following:
[code]

`DEST_DIR` is your destination directory. Make sure you have Python 3.7 installed. In my case, I installed it from the AUR.

[2020-01-09 11:45] mabdullahrafique commented on #31114
@jdduke Thanks. Lets hope nightly build can sort out this issue in android 5.

[2020-01-09 11:55] ofpppppppdbfjs opened #35700 "tensorflow2.1 can not initialize colab TPU"
if '2.1' in tf.__version__:
        if 'COLAB_TPU_ADDR' in os.environ:
            resolver = tf.distribute.cluster_resolver.TPUClusterResolver(tpu='grpc://' + os.environ['COLAB_TPU_ADDR'])
            tf.config.experimental_connect_to_cluster(resolver)
            tf.tpu.experimental.initialize_tpu_system(resolver)
            strategy = tf.distribute.experimental.TPUStrategy(resolver)

[2020-01-09 12:04] amahendrakar commented on #35650
@kyao,
I do not have the permission to view the files. Please try saving the Gist using the following method
'File' -> 'Save a copy as Github Gist', and share the link of the new window. Thanks!

[2020-01-09 12:13] gunan commented on #33374
Great suggestion. Thank you for the feedback.
@lamberta Can we update our docs to say currently python 3.8 is not supported yet?

[2020-01-09 12:15] SmileTM opened #35701 "[TF2.0] Build from sources to support CUDA9"
As we all know ，the tf2-cuda9.0 haven't the pkg by official.
But in some server， we can't update the GPU driver to support CUDA10.
So we need to bazel the pkg by ourself.
I bazeled the  tensorflow2.0 pkgs that support cuda9.0 for py3.5 3.6 3.7 .
I hope it could help more people.

But ，sometimes ，it will have this error.

[code]

and I find if you add the two lines of code, it will work.

[code]

I

[2020-01-09 12:34] tensorflowbutler commented on #21111
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-01-09 12:35] tensorflowbutler commented on #34877
It has been 16 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-01-09 12:35] tensorflowbutler commented on #34856
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-01-09 12:35] tensorflowbutler commented on #34008
It has been 30 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-01-09 12:43] crownk1997 opened #35702 "Tensorflow 2.1.0 failed to list GPU devices and detect GPU devices automatically"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Ubuntu 18.04.3 LTS
- TensorFlow installed from (source or binary): pip3 install tensorflow --upgrade
- TensorFlow version (use command below): 2.1.0
- Python version: 3.7.5
- CUDA/cuDNN version: 10.2
- GPU model and

[2020-01-09 12:45] hartikainen commented on #32460
I had this same issue and while using `experimental_use_pfor=False` works for most of my cases, I found a slight difference in the behavior compared to `experimental_use_pfor=True`. When running with tensors of batch shape 0, the former fails due to a type error, whereas the latter one works fine.

[code]

This results in:
[code]

[2020-01-09 13:08] WisarutBholsithi opened #35703 "Problem on building tensorflow optimized for AVX2 CPU"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution : **Debian GNU/Linux 10 (buster)**
- Mobile device (e.g. i

[2020-01-09 13:09] kavyavm commented on #25315
Tried 3.6. It is giving the same error as well

[2020-01-09 13:18] mayou36 commented on #25315
How did you install it exactly? Do you have the logs?

[2020-01-09 13:25] ravikyram commented on #35473
@TuringZhai

Any update on the issue please. Thanks!

[2020-01-09 13:29] FloP93 opened #35705 "AttributeError: _ckpt_saved_epoch when using MultiWorkerMirroredStrategy TF2.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
pip
- TensorFlow version (use command below):
v2.0.0-rc2-26-g

[2020-01-09 13:34] conglanjun commented on #35625
https://drive.google.com/open?id=18IoP7I_TcixoJtje2vDsbFtpOYDTl-Fv
you can download it.

[2020-01-09 13:50] HongmingHUANG opened #35706 "Init operations did not make model ready. When import form .pbtxt"
**System information**
- Ubuntu 16.04:
- TensorFlow installed from (source or binary): pip binary
- TensorFlow version (use command below): 1.13.1
- Python version: 3.5.2
- CUDA/cuDNN version: 10.0 / 7.5
- GPU model and memory: NVIDIA RTX 2080TI

I am trying the tf.io.write_graph() and tf.import_graph_def API to implement model saving and re-building. And I encountered "Init operations did not mak

[2020-01-09 13:50] nareshr8 commented on #33339
I am facing the same issue when running on `MirroredStrategy` as well. Any help is appreciated.

[2020-01-09 14:01] SirPhemmiey opened #35707 "Failed to load model from file:///android_asset/frozen_inference_graph.pb'"
Hi guys,

I am trying to run the trained model on my android device, but it's crashing on opening.

When i checked my logcat, i have the following screenshot:
<img width="1364" alt="Screen Shot 2020-01-09 at 5 47 51 PM" src="https://user-images.githubusercontent.com/22390818/72073182-d7b5eb00-3308-11ea-996d-b508710f75c4.png">
Process: org.tensorflow.demo, PID: 3797 java.lang.RuntimeException: Fail

[2020-01-09 14:12] ofpppppppdbfjs opened #35708 "tf2.0 & 2.1 in colab tpu get 'Compilation failure: Asked to propagate a dynamic dimension from..' error"
def simple_residual_block(input, weight_decay=1e-4):

    input_channels = input.get_shape().as_list()[-1]

    x = BatchNormalization()(input)
    x = Activation('relu')(x)
    x = Convolution2D(input_channels// 4, 1, 1, kernel_regularizer=l2(weight_decay))(x)

    x = BatchNormalization()(x)
    x = Activation('relu')(x)
    x = Convolution2D(input_channels // 4, 3, 1, padding='same', kernel_reg

[2020-01-09 14:23] CuspMe commented on #35618
i fix this by downgrading to

`pip install tensorflow=2.0`

[2020-01-09 14:29] ravikyram commented on #34877
@Adilhossain227

Any update on this issue please. Thanks!

[2020-01-09 14:45] farotem commented on #35524
Hi I tried installing tf-nightly-gpu, version: 2.1.0.dev20200107
**still** receives memory leaks in the CPU.
note 1:
the number of python objects doesn't seem to be the cause for the leak, after few iterations the number of python objects do not increase but the memory usage of the CPU is still increasing.
note 2:
I tried loading the same model from json and **there are no memory leaks**.
I think

[2020-01-09 15:08] wedesoft commented on #22512
Had this issue with Tensorflow 2.1.0 (CPU version). Managed to fix it by downgrading to Tensorflow 2.0.0:
[code]

[2020-01-09 15:16] SirPhemmiey commented on #32175
@dm961027 @fcu-d0571783 Did you had to retrain the model again with tensorflow 1.13.1 for it to work or you just downgraded your tensorflow version and it worked?

[2020-01-09 15:16] wedesoft commented on #22794
Had this issue with Tensorflow 2.1.0 (CPU version). Managed to fix it by downgrading to Tensorflow 2.0.0:
[code]

[2020-01-09 15:27] guoshimin commented on #34856
Well it's still a feature request.

On Thu, Jan 9, 2020, 4:35 AM Alfred Sorten Wolf <notifications@github.com>
wrote:

[2020-01-09 16:00] drasmuss opened #35709 "TensorFlow 2.1.0 requires scipy"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.1.0
- Python version: 3.6.10
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): N/A
- GC

[2020-01-09 16:03] mihaimaruseac commented on #35618
@ReinforcedMan can you make a symlink from `CUPT/libx64` to `CUPT/lib64`?

[2020-01-09 16:06] adamjstewart commented on #34878
This bug is no longer present in 2.1.0. I'll close this, but if anyone knows which commit fixed this, I can patch 2.0.0.

[2020-01-09 16:06] #34878 closed

[2020-01-09 16:15] 00krishna commented on #35314
@rxsang Sorry I did not see your message until today. I understand what you mean that the C++ warnings are propagated upward. I agree that this is a source of confusion because I could not really tell if training was happening or if some batches were being aborted or what.

So just to clarify, should I not worry about this warning, or is there some better way to handle it? Should I adjust my own s

[2020-01-09 16:16] ZoltanRado commented on #35464
Thank you so much @MarkDaoust I appreciate your help.
I read up on broadcasting and it seem it works in TF the same way as in numpy.
Although I think this is important ( I am using my custom models for parameter estimation with exclusively one dimensional latent layers) as I am very new I am not going to send a PR.

I did post it at stack-overflow first for a couple of weeks but got no help!

Than

[2020-01-09 16:17] ZoltanRado commented on #35484
Ok Issue solved please see [post](https://github.com/tensorflow/tensorflow/issues/35464#issuecomment-572177889) for details.

[2020-01-09 16:17] #35484 closed

[2020-01-09 16:23] Alex-Fabbri commented on #30818
@jhseu with the TPUStrategy API I am still getting the same error as described in the initial issue. I am running on a Google Cloud v3-8, TF version 2.1.0-dev20200102, following [these instructions](https://github.com/tensorflow/models/tree/master/official/transformer#using-tpus). It works fine as is, but if I add the following two lines after [line 86](https://github.com/tensorflow/models/blob/ma

[2020-01-09 16:34] dubey commented on #35314
Yes, you can ignore the warning.  The fix I submitted is available in nightly and should be a part of the next release.

[2020-01-09 16:40] mihaimaruseac commented on #35709
It was an intentional change but we might revisit by the time we release TF 2.2

[2020-01-09 16:41] Danilo1945 commented on #34607
Thanks @enriqueav I worked I was facing this same error with:

python 3.6.4
Django 1.11
Tensorflow 2

Apparently as you said when placing the import:

import tensorflow as tf

In the apps section manage.py
The django server runs without any problem.

[2020-01-09 16:50] mihaimaruseac commented on #35696
It is an API change as new symbols get exposed.

For 2.0 and 2.1 it is unlikely that these new symbols will be exposed. However, you can get them from `tf-nightly` and from the TF2.2 release in a few months.

[2020-01-09 16:50] 00krishna commented on #35314
Thanks so much @dubey

[2020-01-09 16:51] Krishnarohith10 commented on #35674
Thank you for your Solution. Sadly it gone worse. I don't know what is it even. Here have a look:
![1](https://user-images.githubusercontent.com/44919399/72087388-61c47a80-332e-11ea-8a5e-41920f2dc5f9.jpg)

[2020-01-09 16:52] mihaimaruseac commented on #35653
Just to confirm, did you run `configure.py` with python3? Can you also make sure that you are building from the latest commit on `r2.1` (the `v2.1.0` tag)?

[2020-01-09 16:52] hartikainen opened #35710 "tf.range fails when `limit` is type of `tf.int32` and `dtype` is `tf.int64`"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macos Catalina
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): `2.1.

[2020-01-09 16:54] 00krishna commented on #32817
This issue should be fixed by the pull request for issue https://github.com/tensorflow/tensorflow/issues/35314 . The warning was actually propagated up from C++ and so python was passing it forward. But there is really no problem here, no issues with training or anything, according to the issue.

The solution was that Google lowered the logging level to ignore these warnings. The change is in TF 2

[2020-01-09 16:54] hartikainen commented on #35710
https://github.com/tensorflow/tensorflow/issues/29867 seems related but it's from time before this feature worked.

[2020-01-09 16:54] karray commented on #24828
Same here. I have RTX 2080 SUPER on Ubuntu 18.04 and tried different versions of tf/cuda/cudnn/nvidia-driver. I've also tried tf in Docker container and had no luck.

`allow_growth` partially solves the issue but it leads to [a new one](https://github.com/tensorflow/tensorflow/issues/28287) when I tried to train [WGAN-GP](https://github.com/eriklindernoren/Keras-GAN/blob/master/wgan_gp/wgan_gp.py)

[2020-01-09 17:34] karmel commented on #30807
We do not currently have the time to look into this bug. Marking as open for contributions if anyone wants to help debug and resolve.

[2020-01-09 17:44] ofpppppppdbfjs commented on #35700
tensorflow-gpu-2.1 has this problem ,and tensorflow-2.1 is fine.

[2020-01-09 17:53] eduardoavila1m commented on #29973
Check that the Path has been included

Take a look into this tutorial

https://github.com/EdjeElectronics/TensorFlow-Lite-Object-Detection-on-Android-and-Raspberry-Pi#step-2-build-tensorflow-from-source

[2020-01-09 18:04] ReinforcedMan commented on #35618
@mihaimaruseac I already added the two versions in my Path variable, I don't think that's the cause of it. I was just saying that in the tensorflow test build I think you guys might have the wrong path, but it still works as you also give the CUDA/v10.0/../libx64 in addition to the 10.1.

Sorry for being unclear.

[2020-01-09 18:06] jdduke commented on #31114
The 2.1 release is now available (`org.tensorflow:tensorflow-lite:2.1.0`), please give it a try.

[2020-01-09 18:07] dishkakrauch commented on #26289
Version 2.1 uploaded yesterday.
It supports cuda 10.1, enjoy)

[2020-01-09 18:10] aijiart opened #35711 "unknown option '--proto-format' when make a TensorFlow Lite AAR"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2020-01-09 18:11] lamberta commented on #33374
Sure. System requirements are in this doc: https://github.com/tensorflow/docs/blob/master/site/en/install/pip.html#L31

What should it say? Python 3.3-3.7 ?

[2020-01-09 18:14] thadguidry commented on #33374
@lamberta yes, and "3.8 soonish"

[2020-01-09 18:17] ppwwyyxx commented on #33374
FYI, I built TF 1.15 with Python 3.8 myself at https://github.com/yaroslavvb/tensorflow-community-wheels/issues/139

[2020-01-09 18:27] uchua opened #35712 "tf.distribute.experimental.TPUStrategy doesn't render Stable correctly"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/distribute/experimental/TPUStrategy?version=stable

## Description of issue (what needs changing):

On the documentation page for tf.distribute.experimental.TPUStrategy, the Stable documentation is shown as the raw text of the documentation (looks like it's a combination of HTML and Markdown?).

Example below:

<img width="16

[2020-01-09 18:34] ofpppppppdbfjs commented on #35708
UpSampling2D  cause this problem, but do not know why and how to fix it , i tested tf v2.1  have same error to

[2020-01-09 18:46] aaron-michaux commented on #26182
Why is this closed? It is definitely an issue, where tensorflow doesn't seem to be observing the naming conventions of unix shared libraries. So, for tensorflow-gpu==2.1.0, it's trying to load `libcublas.so.10.0`, but it _should_ be trying to load `libcublas.so.10` for cuda10.

Either that, or there's more stringent requirements on the individual cuda versions. (Is Cuda really that unstable from v

[2020-01-09 18:55] jvishnuvardhan commented on #35678
@AlexVaith Can you please check this page on [Post-training quantization](https://www.tensorflow.org/lite/performance/post_training_quantization) and also use the experimental flag `converter.experimental_new_quantizer = True` and let us know what you think? Thanks!

[2020-01-09 18:56] ahtik commented on #35709
By the way, `scipy` dep already existed for `TEST_PACKAGES` included by tests_require at https://github.com/tensorflow/tensorflow/blob/ca2b3d0f9b7e0e5a5701f9175e63a320a3148d4d/tensorflow/tools/pip_package/setup.py#L129

Might be worth moving that version to scipy >= 1.4.1 as well or just getting rid of it, as it's now duplicated with `INSTALL_PACKAGES`?

Less relevant if `scipy` dep is reverted fo

[2020-01-09 18:58] bhushanbrb commented on #27023
[code]
 did not supress
[code]

[2020-01-09 18:59] bhushanbrb commented on #27023
For me this worked for t2.0 warning
[code]

[2020-01-09 19:10] ymodak commented on #35249
Closing this issue since the associated PR has been merged. Thanks!

[2020-01-09 19:10] #35249 closed

[2020-01-09 19:18] seabass86 commented on #34607
Any functioning workaround for flask yet? Same error here when flask debug mode is tuned on:
`    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1006, in _gcd_import
  File "<frozen importlib._bootstrap>", line 983, in _find_and_load
  File "<frozen importlib._bootstrap>", line 965, in _find_and_load_unlocked
ModuleNotFoundError: No module

[2020-01-09 19:20] acmilannesta opened #35713 "No gradient in custom loss function"
I tried to create a custom loss function using spearman correlation in tensorflow 2.1.0-rc1. However, I've encountered "no gradient" error. I have multiple targets. Here is my code:
[code]

It keeps giving the erros as following:

[code]

[2020-01-09 19:26] jvishnuvardhan commented on #35435
@jburnim Thanks for reporting this issue. I was able to reproduce the issue in `TF2.1`. However, I cannot reproduce the issue with `tf-nightly`. I am sure this was resolved with `tf-nightly`.

I am closing the issue as it was resolved in `tf-nightly`, but feel free to reopen the issue if it persists again. Thanks!

[2020-01-09 19:26] #35435 closed

[2020-01-09 19:30] adclose commented on #34607
@seabass86 see my comment above it works with the most recent release of Tensor Flow and Flask

[2020-01-09 19:30] karmel commented on #35477
Sequence is an abstract class that is intended to be subclassed, as seen here: https://www.tensorflow.org/api_docs/python/tf/keras/utils/Sequence?version=stable#examples_2

[2020-01-09 19:30] #35477 closed

[2020-01-09 19:41] jvishnuvardhan commented on #35692
@batulrangwala Can you please share a standalone code to reproduce the issue? Thanks!

[2020-01-09 19:54] ymodak commented on #35267
You need to define two dictionaries since you have two outputs. Perhaps you can try defining a dummy loss function for one of the inputs.

[2020-01-09 19:55] uchua commented on #35700
I tried installing using `pip install tensorflow==2.1`, but I still get nearly the same error:
[code]

Strangely though, when I test for GPU support using `tf.test.is_built_with_gpu_support()` it returns `True`, so perhaps that's the issue. When I check `tf.__version__` and `tf.version.GIT_VERSION` I get 2.1.0 and v2.1.0-rc2-17-ge5bf8de respectively.

[2020-01-09 20:02] artemmavrin opened #35717 "TensorFlow<1.15 documentation redirects to GitHub"
## URL(s) with the issue:

For example,
https://www.tensorflow.org/versions/r1.14/api_docs/python/tf/train
https://www.tensorflow.org/versions/r1.14/api_docs/python/tf/estimator/Estimator
https://www.tensorflow.org/versions/r1.14/api_docs/python/tf/keras/Model

## Description of issue (what needs changing):

The links above currently redirect to GitHub. The 1.15 links work:

https://www.tensorflow

[2020-01-09 20:14] jvishnuvardhan commented on #35690
@batulrangwala Did you try using [`netron`](https://github.com/lutzroeder/netron) or tensorboard to visualize input/outputs of the model .pb file? You can check couple of resources [1](https://medium.com/@daj/how-to-inspect-a-pre-trained-tensorflow-model-5fd2ee79ced0) or [a colab gist here](https://colab.sandbox.google.com/drive/1A9X34s4LkhtkcoFqB6PYCCaGCLAcJRbp#scrollTo=5d7KEDIr6a_t). Thanks!

[2020-01-09 20:54] BenWiseman commented on #31218
I have tf 1.13.1 and I still get this error.

Honestly, it's this kind of bullshit that makes me hate Python.

[2020-01-09 21:14] ifed-ucsd opened #35718 "Fake quantization is much slower when decorated with tf.function"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-01-09 21:14] carterkd opened #35719 "parallel_for: No converter defined for MatrixSolve"
I need to calculate the Jacobian of a function, where `tf.linalg.solve` is part of the function. I can usually use `parallel_for` but `pfor` does not support the `MatrixSolve` op, requiring a fallback to a slow while loop. It would be great to add a converter for `MatrixSolve` to `parallel_for.` Note that below, my example can be easily mathematically simplified, but in my actually use case it can

[2020-01-09 21:16] jjedele commented on #24520
Seeing the same problem.

In TF1.14, it seems to help to activate eager execution by adding `tf.enable_eager_execution()` at the top.

[2020-01-09 21:27] gowthamkpr commented on #35353
@JonLeeCSDN I agree with you. This has already been discussed in the following [comment](https://github.com/tensorflow/tensorflow/issues/33454#issuecomment-544831464). As of now saving the model in `.hdf5 ` format is the way to go.

[2020-01-09 21:36] #35483 closed

[2020-01-09 21:38] ifed-ucsd opened #35720 "Decorating a function with tf.function leads to slower execution"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): None
- OS Plat

[2020-01-09 21:42] moi35 opened #35721 "import tensorflow as tf fail"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command bel

[2020-01-09 21:55] gowthamkpr commented on #34775
@luvwinnie Did the above comment help you in solving this issue. Thanks!

[2020-01-09 21:56] #34688 closed

[2020-01-09 22:00] ymodak commented on #30907
Apologies for the delay in response.
`tf.contrib` is deprecated and has moved out of TensorFlow starting 2.X

[2020-01-09 22:00] #30907 closed

[2020-01-09 22:07] alanchiao commented on #35556
For quantizing the TFLite model, are you using the weight quantization or full integer quantization path? https://www.tensorflow.org/lite/performance/post_training_quantization#optimization_options

[2020-01-09 22:11] gowthamkpr commented on #35067
@nectario This is very similar to the issue #27170. Lets track the issue there and close it here. Please let me know if you think otherwise. Thanks!

[2020-01-09 22:17] ymodak commented on #24591
Please test with the latest version of tensorflow for using `freeze_graph` tool.
Thanks!

[2020-01-09 22:17] #24591 closed

[2020-01-09 22:19] silky commented on #35489
@amahendrakar

copying the example from here: https://www.tensorflow.org/tutorials/keras/save_and_load and just changing the checkpoint folder path

[code]

resulting error (note: hiding some tensorflow info messages that aren't relevant):

[code]

[2020-01-09 22:22] gowthamkpr commented on #35083
Sure @mixxen glad that it worked.

[2020-01-09 22:35] ymodak commented on #29636
Apologies for the delay in response. This  executes successfully with TF 1.15. Thanks!

[2020-01-09 22:35] carterkd commented on #35719
I notice from the `pfor` [code](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/parallel_for/pfor.py) that both `tf.linalg.cholesky` and `tf.linalg.triangular_solve` are supported. I'll use this as a work around until this is fixed (since I'm solving with a symmetric positive definite matrix):
[code]

This is not very elegant, but I get the desired output:
[code]

[2020-01-09 22:42] #35675 closed

[2020-01-09 22:43] saxenasaurabh commented on #34683
TensorArrays have completely different representations in graph and eager modes. Inside graphs (tf.function) a TensorArray is a `DT_VARIANT` type tensor wrapping a `vector<Tensor*>` whereas in eager mode it is just a python list of EagerTensors so they are not really interoperable. This was done to avoid keeping a copy of the entire TensorArray when performing an operation in eager mode.

A workar

[2020-01-09 22:47] gowthamkpr commented on #35088
@cmp1 The dataset that you provided and the code mentioned in the above comment is not in sink. Please reproduce the issue in colab and share a github gist. Thanks!

[2020-01-09 22:57] gowthamkpr commented on #35101
@olk I am sorry for misleading you in the above comment.

Tensorflow doesn't support python 3.8 yet. May be from Tensorflow 2.2, we might support python 3.8 and this is the cause of the error. Python 3.8 support for tensorflow has already been tracked [here](https://github.com/tensorflow/tensorflow/issues/33374).

I am gonna close this issue. Thanks!

[2020-01-09 22:57] #35101 closed

[2020-01-09 23:04] #32416 closed

[2020-01-09 23:06] ymodak commented on #35598
What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.
See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)

[2020-01-09 23:08] gowthamkpr commented on #35103
This is an issue in google_pasta, a library we use to write that script in. This is fixed as shown in the following [comment](https://github.com/tensorflow/tensorflow/issues/26486#issuecomment-497027128). Please go though it. Thanks!

[2020-01-09 23:11] gowthamkpr commented on #35187
@ChristianISO Github is only meant for build/install, bug/performance, feature requests or docs related issues. Please post this question in stackoverflow as there is a bigger community to help

I am going to close this issue for now. Thanks!

[2020-01-09 23:11] #35187 closed

[2020-01-09 23:30] ymodak commented on #30486
This is fixed with `tf-nightly` '2.1.0-dev20200109' version. Thanks!

[2020-01-09 23:30] #30486 closed

[2020-01-09 23:38] ymodak commented on #30052
This is fixed with latest `tf-nightly` build '2.1.0-dev20200109'
See [gist](https://colab.sandbox.google.com/gist/ymodak/2e7ca2c039dd0c97a683d4132bb3465a/github_30052ipynb.ipynb)

[2020-01-09 23:38] #30052 closed

[2020-01-09 23:43] ymodak commented on #31110
Updated [Gist](https://colab.sandbox.google.com/gist/ymodak/c1d83748736e87fdacb7c1da4c0632c3/github31110.ipynb)

[2020-01-10 00:02] gowthamkpr commented on #35413
I am not running into any error using tf-nightly. Please find my gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/315b4908917a55858f0f0ef03f219bbf/untitled270.ipynb).

[2020-01-10 00:22] neolee commented on #24828
UPDATE:

Just update to TF 2.1  (with CUDA 10.1 and cuDNN 7.6.4). All work well now.

[2020-01-10 00:40] aselle commented on #35675
I also submitted a fix (above) 5521416 so  this warns you that allocate needs to be called first.

[2020-01-10 00:42] alanpurple commented on #35653
@mihaimaruseac
of course I've been doing this everytime rc come out...

[2020-01-10 00:46] luvwinnie commented on #34775
@gowthamkpr Thank you for replying! Yes this has solved my issues. If there is any problem i will make a new comment.

[2020-01-10 00:46] #34775 closed

[2020-01-10 01:00] jhseu commented on #31140
Do you need this for the Signature field? That has been added since this was filed.

[2020-01-10 01:23] Cibi075 commented on #34431
apt solution

[2020-01-10 01:48] OverLordGoldDragon opened #35724 "Recurrent Dropout is Wrong"
I've reviewed one design in-depth, and two others superficially, but Keras/TF's `recurrent_dropout` does not implement _any_ of them; publication links below.

 1. I see some potentially severe problems with TF's implementation in light of the papers I've read, which explicitly advocate against the used scheme. This said - what is TensorFlow / Keras's justification / rationale  of its own implemen

[2020-01-10 02:02] yejw5 commented on #35696
@mihaimaruseac Thanks for response. Looking forward to the new feature and TF2.2 release.

[2020-01-10 02:02] #35696 closed

[2020-01-10 02:30] qlzh727 commented on #35671
It is used in the base layer. See https://github.com/tensorflow/tensorflow/blob/52a9ff02c5d630494b8d5ce5a42004b5a7247478/tensorflow/python/keras/engine/base_layer.py#L942, and search for all the usage of self._ activity_regularizer.

[2020-01-10 02:30] #35671 closed

[2020-01-10 03:00] #35556 closed

[2020-01-10 03:19] yxchng opened #35725 "How to print tensor within GradientTape scope in TF2?"
How to print tensor within GradientTape scope in TF2? i.e.

[code]

Currently it gives me output like this:

This is very needed for debugging. Shouldn't the concept of computational graph already be discarded in TF2, such that it should work very much like PyTorch? Why is it still behaving like TF1 in GradientTape?

[2020-01-10 03:26] ravikyram commented on #35719
I have tried on colab with TF version 1.14, 1.15 and was able to reproduce the issue.Please,find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/6e311c0490f217bb66e00bfb1aa047ee/untitled546.ipynb). Thanks!

[2020-01-10 03:29] oanush commented on #35700
@ofpppppppdbfjs ,
Can you share code to reproduce the issue?Thanks!

[2020-01-10 04:02] olegmyrk commented on #35413
Fails in TF 2.1.0:
https://colab.research.google.com/gist/olegmyrk/7b3254a35f0a104fe83f1f60bf693ac0/untitled0.ipynb

[2020-01-10 04:12] razzOn2calculus commented on #35598
@ymodak  Here are specification of my system,

System model:  Inspiron N4030
System Type:   x64-based pc
processor: Intel(R) Core(TM) i3 CPU M 380

[2020-01-10 04:17] czczup commented on #32101
I had the same problem：
[code]

[2020-01-10 04:26] laetitiaoist commented on #8658
@martinwicke On tensorflow 1.15 I needd to switch the first parameters :of the first line

def serving_input_receiver_fn(image_shape):
  input_images = tf.constant([7] + image_shape, tf.float32)  # 7 is arbitrary and will be eliminated
  return tf.estimator.export.build_raw_serving_input_receiver_fn(input_images)

But what is this 7? This is not very clear to me. It could be any number?

[2020-01-10 04:42] cantbeblank96 commented on #35500
@alextp Can you take a look at this?

[2020-01-10 04:52] conglanjun commented on #35625
I tell you the code.
Training the model, use the script, SSD-Tensorflow/train_ssd_network.py
run
[code]
I add the code
`
g = tf.get_default_graph()
tf.contrib.quantize.create_training_graph(input_graph=g, quant_delay=200)
`
in SSD-Tensorflow/train_ssd_network.py.
It will product model such as 'SSD-Tensorflow/logs/model.ckpt-5'
Then I run SSD-Tensorflow/notebooks/ssd_notebookv_eval.py
I have add 't

[2020-01-10 04:53] prasad03kp opened #35726 "ERROR:root:Internal Python error in the inspect module."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2020-01-10 05:07] wosiu commented on #31114
I confirm - 2.1.0 works on the device I originally issued the problem with :)

[2020-01-10 05:13] #35708 closed

[2020-01-10 05:16] leimao commented on #27614
TensorFlow 2.x does support freezing models and this frozen model should be equivalent to the frozen models used for TensorFlow 1.x.
Please check my [blog post](https://leimao.github.io/blog/Save-Load-Inference-From-TF2-Frozen-Graph/) and [code example](https://github.com/leimao/Frozen_Graph_TensorFlow/tree/master/TensorFlow_v2).

[2020-01-10 05:30] ravikyram commented on #35710
@hartikainen
I have tried on colab with TF version 2.1 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/99ab8383b4ad24661d44b476fd4a903e/untitled545.ipynb).However i am not seeing any issue with TF 2.0. Thanks!

[2020-01-10 05:30] ofpppppppdbfjs commented on #35700
i do not know how to share .ipynb file,   so put the code here i reproduced

%tensorflow_version 2.x
import tensorflow as tf
resolver = tf.distribute.cluster_resolver.TPUClusterResolver(tpu='grpc://' + os.environ['COLAB_TPU_ADDR'])
tf.config.experimental_connect_to_cluster(resolver)
strategy = tf.distribute.experimental.TPUStrategy(resolver)

[2020-01-10 05:32] ofpppppppdbfjs commented on #35700
use

%tensorflow_version 2.x

[2020-01-10 05:37] oanush commented on #35721
@moi35 ,
What is make/model of your cpu being used ?
Can you please check if the system supports AVX instructions sets? that might be causing the issue.
Also see [Hardware Requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements).
Thanks!

[2020-01-10 05:38] ravikyram commented on #35702
@crownk1997
Can you please go through the [link ](https://www.tensorflow.org/guide/gpu#manual_device_placement)and see if it helps you.Thanks!

[2020-01-10 05:45] nnnnwang commented on #33315
did you solved it?i met the same problem,it really troubles me

[2020-01-10 05:55] ravikyram commented on #35668
@dusa2
Is it possible for you to try latest TF version 1.15 and let us know whether the issue persists? There were lots of performance improvements in the latest versions. Thanks!

[2020-01-10 05:58] ravikyram commented on #35651
@drsiyarb

Can you please confirm if @sampathweb's suggestion is working for you.Thanks!

[2020-01-10 06:09] ibrahimishag commented on #26854
Hello adiv5,
Were you able to work around this? I assume you are trying to upgrade BERT to work in Tensnorflow 2.0.

[2020-01-10 06:09] huangyh09 commented on #34553
When I tested again in teminal instead of ipython notebook, the session has been closed with following log:

[code]

As suggested in the log, adding the following lines before running the code can avoid the issue.
[code]
Also see here: https://github.com/dmlc/xgboost/issues/1715#issuecomment-420305786

Yuanhua

[2020-01-10 06:09] #34553 closed

[2020-01-10 06:12] crownk1997 commented on #35702
@ravikyram I have checked this link. Actually, there is a toy example in this tutorial which uses `gpus = tf.config.experimental.list_physical_devices('GPU')`this API to check if there is any avaliable gpu device. However, in my case, I have 9 GTX2080Ti and I always get an empty list from the same API. Thank you !

[2020-01-10 06:14] ethanyanjiali commented on #14132
Tensorflow sucks

[2020-01-10 06:20] batulrangwala commented on #35692
Kindly explain what do expect when you ask for standalone code.

 tflite_graph.pb is generated using the following command
`
python object_detection/export_tflite_ssd_graph.py --pipeline_config_path /home/ridlr/TensorFlow/exported_model_12k_quantized/pipeline.config --trained_checkpoint_prefix /home/ridlr/TensorFlow/exported_model_12k_quantized/model.ckpt --output_directory /home/ridlr/TensorFlow/

[2020-01-10 06:27] Robin2091 commented on #27614
@leimao Thanks for the confirmation. I also got the conversion working so the .pb generated is equivalent.

[2020-01-10 06:33] ravikyram commented on #35701
@SmileTM

TF 2.0-GPU supports cuda 10.0. I see that you are using cuda 9.0 can you please switch to cuda 10.0 and let us know how it progresses.Please, follow the instructions from [TensorFlow website](https://www.tensorflow.org/install/source) .Thanks!

[2020-01-10 06:36] gadagashwini commented on #34636
@ibrahimLearning, Closing the issue now. Please feel free to comment when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-10 06:36] #34636 closed

[2020-01-10 06:36] anj-s commented on #35694
@fsx950223 Can you move
`train_datasets = make_datasets_unbatched().batch(GLOBAL_BATCH_SIZE)` within the strategy scope? So you code above would look like:

[code]

[2020-01-10 06:38] batulrangwala commented on #35690
I have used tensorflow/tools/graph_transforms/summarize_graph_main.cc from tensorflow (github : https://github.com/tensorflow/tensorflow) to determine the inputs/outputs of the model (.pb) file

https://colab.sandbox.google.com/drive/1A9X34s4LkhtkcoFqB6PYCCaGCLAcJRbp#scrollTo=5d7KEDIr6a_t
I have requested access now for this. have to wait!

https://medium.com/@daj/how-to-inspect-a-pre-trained-tens

[2020-01-10 06:41] gadagashwini commented on #35272
@caibadal5, Looks like code is incomplete please provide the complete code and necessary files to replicate the issue. Thanks!

[2020-01-10 06:41] ManishAradwad opened #35728 "Wrong Window Size while training the model"
## URL(s) with the issue:

https://github.com/tensorflow/examples/blob/master/courses/udacity_intro_to_tensorflow_for_deep_learning/l08c05_forecasting_with_machine_learning.ipynb

## Description of issue (what needs changing):

Window size should be 30 instead of 20 in the description under "Forecasting With Machine Learning".

### Clear description

![Screenshot from 2020-01-10 12-05-13](https://

[2020-01-10 06:43] gadagashwini commented on #35310
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-10 06:43] #35310 closed

[2020-01-10 06:51] SmileTM commented on #35701
I can't update my gpu-drive to cuda10.

 So I Bazeled these pkgs from source code to help some people like me.

I just want you to verify the viability of my pkgs and my method.

Thank you！

[2020-01-10 06:52] xuchengggg commented on #21230
@pcub Hi, have you successfully converted your model to tflite? My model is also different with ssd, and i use batch_multiclass_non_max_suppression same as object detection api. Could you tell me what need to do for converting to tflite.

[2020-01-10 06:52] gadagashwini commented on #35376
@SreenijaK, Download the cuDNN 7.6.5 from nvidia website https://developer.nvidia.com/rdp/cudnn-archive. And install the following packages
[code]
Add the path $LD_LIBRARY_PATH as mentioned by @Xiaohui-Z.
Let us know how it progress. Thanks!

[2020-01-10 06:55] gadagashwini commented on #35385
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-10 06:55] #35385 closed

[2020-01-10 06:57] gadagashwini commented on #35397
@jude2014, Any update on the issue.
Provide the exact sequence of commands / steps that you executed before running into the problem.

[2020-01-10 06:59] gadagashwini commented on #35409
@hieuvominh, let us know if the issue is resolved. Thanks!

[2020-01-10 07:02] gadagashwini commented on #35460
@Tonytony123474, Closing since its resolved. Please feel free to comment or reopen if its still an issue. Thanks!

[2020-01-10 07:02] #35460 closed

[2020-01-10 07:03] czczup commented on #32101
I found when I removed `tf.pad`,`tf.contrib.layers.instance_norm`,`tf.image.ResizeMethod.NEAREST_NEIGHBOR`, my model can work normally in GPU mode

[2020-01-10 07:10] tomshalini opened #35729 "tensorflow.python.framework.errors_impl.InvalidArgumentError: indices = -1 is not in [0, 4) [Op:GatherV2]"
I am getting InvalidArgumentError while running below code:

![Code](https://user-images.githubusercontent.com/59674741/72132628-b47a5280-337f-11ea-9dfb-f60609156f4f.jpeg)

### System information
- **OS Platform:Ubuntu 18.04
- **TensorFlow version: v2.0.0-rc2-26-g64c3d38 and tensorflow2.0.0
- **Python version**: Python 3.7.4

This code is failing while running for first epoch. It has to run for 40

[2020-01-10 08:05] gadagashwini commented on #35443
@WakerKQ, I tried with Tf 1.15 I am facing different error. Please find the [gist](https://colab.sandbox.google.com/gist/gadagashwini/18482e7e8aeb3a573eceb05cb44e1845/untitled342.ipynb) and confirm. Thanks!

[2020-01-10 08:06] gadagashwini commented on #35502
@kjmiller944, Any update!

[2020-01-10 08:21] RomanSteinberg commented on #33913
@jvishnuvardhan it seems that a month has passed without any activity. I think that possibility to save model is a core requirement to train a model. May be it is time to raise the priority. What do you think?

[2020-01-10 08:26] KANGRuipeng commented on #35384
any feedback?

[2020-01-10 08:34] AlexVaith commented on #35678
@jvishnuvardhan I tried this link with an lstm model looking like the following:

[code]

it was than converted like this:
[code]
Without the following line it works:
[code]
But with this line the same issue like in the following post occurs:
https://github.com/tensorflow/tensorflow/issues/35194

I am using tensorflow 2.0.0 and tf nightly.

[2020-01-10 08:42] dlop commented on #33315
No. I avoided it by changing from CPU to GPU which was OK.

[2020-01-10 08:42] KANGRuipeng commented on #35384
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

import sys
import tensorflow as tf

def block(x):
    x =tf.keras.layers.Conv2D(filters=96, kernel_size=3, strides=2, padding="same")(x)
    x =tf.keras.layers.Conv2D(filters=96, kernel_size=3, strides=2, padding="same")(x)
    x =tf.keras.layers.Conv2D(filters=96, kernel_size=3, strides=2

[2020-01-10 08:43] KANGRuipeng commented on #35384
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

import os
import numpy as np
import tensorflow as tf

from test_net import FCN

os.environ["CUDA_VISIBLE_DEVICES"] = "1"

# load data and norm to [-1,1]
cifar10 = tf.keras.datasets.cifar10
(x_train, y_train), (x_test, y_test) = cifar10.load_data()
x_train, x_test = (x_train - 128.0) / 128.

[2020-01-10 08:48] nnnnwang commented on #33315
sorry,i don't get it. Do you mean that when you train the model using cpu, the training time keeping incresing. But,when you use gpu to train the model , it will be ok?

[2020-01-10 08:49] KANGRuipeng commented on #35384
@ravikyram @anj-s @tensorflowbutler @ymodak  The up two replies are the net-defination code and the training script.

[2020-01-10 08:53] dimitrijer opened #35731 "RuntimeError when saving Keras model with stacked RNN cells in HDF5 format"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Mojave 10.14.6
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.1.0-rc2-17-ge5bf8de410 2.1.0
- Python version: 3.7.4

**Describe the current behavior**
When I

[2020-01-10 09:04] dlop commented on #33315
Yes. I only found it slowing down on CPU and see constant speed on GPU. Slowdown can also be caused by overheating, so make sure the CPU clock frequency or GPU load isn't dropping.

[2020-01-10 09:08] ritchietop commented on #28976
Same error +1

[2020-01-10 09:09] yourtheron commented on #35329
@pavithrasv When I tried the code on Colab, the following error popped out
[code]

[2020-01-10 09:10] David-Mao opened #35732 "A strange numerical computation bug for the simple dense layer"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2020-01-10 09:14] moi35 commented on #35721
Hi,
Yes, the system supports AVX instruction. The CPU is an intel i5 and i  I use the last driver available for the GPU. I have the good version of cuda/cudnn requirements for TF 2.1.
I have used before tensorflow 1.12 without issue on this computer (with older version of cuda/cudnn).
Thanks
Have a nice day

[2020-01-10 09:27] dharakotecha commented on #35708
Hi,
How did you solve this? I am facing the same error.

[2020-01-10 09:31] AakashKumarNain commented on #35477
@karmel I think you are mixing `Sequence` with `SequenceEnqueuer`. The later should take an instance of `Sequence` and should generate batches of data.

[2020-01-10 09:35] ravikyram commented on #35712
@uchua

Looks like browser issue.Can you please check again. I am not seeing any issue with the documentation.Thanks!

[2020-01-10 09:39] magomar commented on #6698
In my case, I have two machines, both with RTX 2080Ti, TF 2.1, CUDA 10.1, CuDNN 7.6. One works, the other one raises the aforementioned error. Both machines have the same amount of RAM, 16GB. There are hardware differentes, though, like the CPU. But the problem is only occurring when using the GPU.

[2020-01-10 10:13] stengoes opened #35733 "Docker images with tags '2.1.0-gpu-py3' and '2.1.0-gpu-py3-jupyter' are missing on DockerHub"
Probably the CI has failed to upload those images, because all other combinations of tensorflow:2.1.0[-gpu][-py3][-jupyter] are available.

[2020-01-10 10:35] bodak commented on #32412
This bug is still there for the final version of 2.0.0 and 2.1.0.

The reason is that when passing a tf.dataset as `targets` to Keras.model.fit API `targets` actually contains both `(targets, outputs)`.  Later this means that due to `outputs[0]` being `None` L1382 fails.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/engine/training_utils.py#L1382

Maybe we can update

[2020-01-10 10:38] ravikyram commented on #34863
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-10 10:38] #34863 closed

[2020-01-10 10:42] hartikainen commented on #35710
@ravikyram Yeah, my point was that this seems like a regression from 2.0 to 2.1, since it behaves as I would expect on 2.0. Is the "regression" is expected or not?

[2020-01-10 10:45] ravikyram commented on #34877
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-10 10:45] #34877 closed

[2020-01-10 10:48] ravikyram commented on #35127
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-10 10:48] #35127 closed

[2020-01-10 10:50] ravikyram commented on #35074
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-10 10:50] #35074 closed

[2020-01-10 10:52] ravikyram commented on #35183
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-10 10:52] #35183 closed

[2020-01-10 10:59] ravikyram commented on #35403
@happpyosu

Any update on this issue please. Thanks!

[2020-01-10 10:59] cjones051073 commented on #35653
I am seeing a very similar error to the one reported here, this time on macOS 10.15 with Xcode 11.3 clang

[code]

issue appears to be due to two different locations for `pybind11` being used.

[2020-01-10 10:59] ravikyram commented on #35412
@MrCrazyCrab

Any update on this issue please. Thanks!

[2020-01-10 11:01] bilalsoomro commented on #34873
Any update on this?

[2020-01-10 11:02] ravikyram commented on #35423
@thincal
Any update on this issue please. Thanks!

[2020-01-10 11:04] ravikyram commented on #35431
@JesterOrNot
Any update on the issue please. Thanks!

[2020-01-10 11:05] ravikyram commented on #35440
@MrCrazyCrab

Any update on this issue please. Thanks!

[2020-01-10 11:06] DoumanAsh opened #35734 "Hexagon Delegate requirements needs to be clarified?"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Android
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: SD 820 device
- TensorFlow installed from (source or binary): source, 4b7d5117de4a193bd895ff357dc5286de847c632
-

[2020-01-10 11:06] ravikyram commented on #35432
@jonanem

Any update on this issue please. Thanks!

[2020-01-10 11:38] caibadal5 commented on #35272
It's a model that we are selling to a company, I don't feel comfortable publishing it on git :) Thanks for your interest anyway

[2020-01-10 12:32] chauhansaurabhb opened #35736 "Converting saved_model to TFLite model using TF 2.0"
**System information**
- Google colab:
- TensorFlow 2.0.0

I am working on converting custom object detection model (trained using SSD and inception network) to quantized TFLite model. I can able to convert custom object detection model from frozen graph to quantized TFLite model using the following code snippet (using **Tensorflow 1.4**):
[code]
However ```tf.lite.TFLiteConverter.from_frozen_grap

[2020-01-10 12:37] tensorflowbutler commented on #30113
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-01-10 12:37] tensorflowbutler commented on #34426
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-01-10 12:53] Cospel commented on #33870
This is strange it worked for several days in tf-nightly however in **tf2.1.0** and tf-nightly from today, it is not working again.

[2020-01-10 12:55] pichuan commented on #25227
Hi @martinwicke , I saw your mention here just now.
Short answer: I do not have an ETA.

Long answer:
After my last update here: https://github.com/google-research/tf-slim/pull/1#issuecomment-570648906 , I did spend some time trying to incorporate @tomerk 's suggestion.

This is taking more time than I expected, and I don't think I fully understand the issue (or the solution) to give an ETA.
Note

[2020-01-10 13:13] amahendrakar commented on #35706
@HongmingHUANG,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-01-10 13:13] SwatiModi opened #35737 "TFlite compilation failing for tf 2.1.0"
<em>
I am trying to compile tflite library for x86 machine, I have tried it using the following script
https://github.com/sourcecode369/tensorflow-1/blob/master/tensorflow/lite/tools/make/build_lib.sh

before this, I have also installed the required dependencies using
https://github.com/sourcecode369/tensorflow-1/blob/master/tensorflow/lite/tools/make/download_dependencies.sh
</em>

**System infor

[2020-01-10 13:20] mrinalsardar opened #35738 "build aborted analysis of target build_tbb failed"
I am trying to build `tensorflow` from source for my `Mac` as it supports `SSE4.1`, `SSE4.2`, `AVX` and `FMA` with the following the official documentation (https://www.tensorflow.org/install/source).
I am using the `master` branch and the following command:

    bazel build -c opt --copt=-mavx --copt=-mfma --copt=-msse4.2 --copt=-msse4.1 --copt=-mfpmath=sse --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0" -

[2020-01-10 13:24] amahendrakar commented on #35713
@acmilannesta,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-01-10 13:36] adr-arroyo commented on #32743
Thanks @cruzzer for the suggestions!

Does anyone have tried to use the TPU with a program in a Docker container?
I am getting the same `Failed to load delegate from libedgetpu.so.1.0` error when running my docker container.

[2020-01-10 13:40] acmilannesta commented on #35713
Here is my model structure
[code]
I could compile the model, but when I try to train it. The error occurs.

[2020-01-10 13:44] bersbersbers opened #35739 "disable_eager_execution resets random seeds set before"
This is on TF2.1 from pip on Windows 10.

**Describe the current behavior**
[code]

This prints a different number every time. I have a similar example with more TF2-relevant code, where the same thing happens:
[code]

A workaround is to set the seed after `disable_eager_execution`.

[2020-01-10 13:54] jreinauld commented on #33365
Hi all, supporting float64 would be really cool indeed :)

@TrailBlazerAI maybe consider a change of tone when asking for other people to help you?

[2020-01-10 14:00] ObsaGILO commented on #19913
**please help to fix this error I am running on gpu**
valueError: ('Could not interpret optimizer identifier:', <keras.optimizers.Adadelta object at 0x7ff7cf7bb710>)

[2020-01-10 14:05] bersbersbers commented on #35682
Even worse: `tf.data.Dataset.map.shuffle` does not work when `disable_eager_execution()`:

[code]
outputs
[code]
(note 5-1-2-4-3 in each epoch).

[2020-01-10 14:13] ReinforcedMan commented on #35721
I think you have the same issue as me in #35618.

[2020-01-10 14:23] moi35 commented on #35721
I think you're right. Sorry, I didn't see it.

[2020-01-10 14:24] #35721 closed

[2020-01-10 14:31] ramonmatas opened #35741 "fake_quant_with_min_max_vars innefficiencies"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
OS Platform a

[2020-01-10 14:36] amahendrakar commented on #35720
@ifed-ucsd,
I tried to reproduce the issue with TF- 2.1.0-dev20200109 and did not observe much difference in the execution time. Please find the attached Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/7f86b6ea4efcaa5184803e1ddbed96c8/35720.ipynb).

[2020-01-10 14:38] amahendrakar commented on #35718
@ifed-ucsd,
I have observed that this issue is similar to [#35720](https://github.com/tensorflow/tensorflow/issues/35720). Please confirm if I can close this issue as it is already being tracked there.

[2020-01-10 14:42] amahendrakar commented on #35726
@prasad03kp,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the TensorFlow version you are using. Thanks!

[2020-01-10 14:54] amahendrakar commented on #35729
@tomshalini,
In order to expedite the trouble-shooting process, could you please copy the complete code and paste it here (instead of the screenshot), so that it would be easy for us to reproduce it. Also, can you provide the saved model (Model_9Jan11AM.h5) you are using in your code. Thanks!

[2020-01-10 14:58] stoneyang opened #35742 "How to add a new op to a pb model"
This problem is rather embarassing: I have a pb model at hand but not ready for deployment, because of a missing op. So, I doubt if I could add the required op to the pb and export a new pb for deployment?

Could anyone shed some light please?

[2020-01-10 14:59] amahendrakar commented on #35732
Was able to reproduce the issue. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/88a98b7c3174e2385686af597ae1c8ca/35732.ipynb). Thanks!

[2020-01-10 15:07] amahendrakar commented on #35731
Was able to reproduce the issue. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/90b21c7f45eeba9c81a6bf36b6b9a3ca/35731.ipynb). Thanks!

[2020-01-10 15:14] k-farrow commented on #14586
Where can I find a version of the TensorFlow Lite makefile?

[2020-01-10 15:15] ifed-ucsd commented on #35720
@amahendrakar But there is still a difference in runtime, with tf.function decoration leading to slower code. It seems to me that this is not the intended behavior. At the least tf.function decoration should produce functions that run as fast as ones not decorated with tf.function (if not faster)

[2020-01-10 15:18] ifed-ucsd commented on #35718
I would like to keep this open because this issue highlights that decorating a single call to a TF function with tf.function leads to slower execution, whereas #35720 is about decorating a sequence of TF function calls. Moreover, this issue is about the tf.quantization API specifically, whereas #35720 is not.

[2020-01-10 15:21] amahendrakar commented on #35489
Was able to reproduce the issue. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/b1d0c9a5e313790ec442199aed32e8a3/35489.ipynb). Thanks!

[2020-01-10 15:38] emileswain commented on #21695
FYI for tf2 `tf.summary.FileWriterCache.clear()` is now in `tf.compat.v1.summary.FileWriterCache.clear()`

Also because i didn't understand what i was doing i eventually realised i needed this to be called just before my training.

tf.compat.v1.summary.FileWriterCache.clear()
tf.estimator.train_and_evaluate(estimator, train_spec, eval_spec)

[2020-01-10 15:48] nectario commented on #35618
I am having the same issue when I pip install tensorflow. I do not have an nvidia graphics card and want to use a CPU tensorflow, NOT GPU. I get:

ImportError: DLL load failed: The specified module could not be found.
Failed to load the native TensorFlow runtime.

[2020-01-10 15:49] nectario commented on #35721
I am having the same issue when I pip install tensorflow. I do not have an nvidia graphics card and want to use a CPU tensorflow, NOT GPU. I get:

ImportError: DLL load failed: The specified module could not be found.
Failed to load the native TensorFlow runtime.

[2020-01-10 15:52] nectario commented on #35618
I am using an HP laptop from 2 years ago.

[2020-01-10 15:55] etorrjr10 opened #35743 "Multi-GPU training issue, tensorflow 2.0.0"
I am trying to train my code on multiple-GPUs and have followed the tutorials online on using MirroredStrategy using MNIST dataset. Below is the error...

ValueError: `handle` is not available outside the replica context or a `tf.distribute.Strategy.update()` call.

I have a feeling that the issue is due to the fact that when I call on my GPUs. They are named XLA and not :/device:GPU. This leads t

[2020-01-10 15:58] Namburger commented on #32743
@adr-arroyo you can check this out :)
https://github.com/google-coral/tflite/issues/3#issuecomment-547942348

[2020-01-10 16:11] acmilannesta opened #35744 "tf.shape shape mismatched in custom loss function"
Running on tf2.1.0-rc and python 3.6.8/ I wrote a custom loss function, but somehow I always get tf.shape error message

[code]

My model summary is
[code]

Here is my error message

[code]

[2020-01-10 16:15] uchua commented on #35712
Yup looks like it loads correctly now. I tried it on Chrome on a couple computers yesterday and they all were doing the same thing, so I'm not sure what would've changed.

[2020-01-10 16:15] #35712 closed

[2020-01-10 16:18] nectario commented on #35618
Is there a workaround for this issue??

[2020-01-10 16:22] PanCakeConnaisseur opened #35745 "Add a warning that tfds.load can not be used for own Datasets"
## URL(s) with the issue:
https://www.tensorflow.org/datasets/api_docs/python/tfds/load

## Description of issue (what needs changing):
Add a warning that `tfds.load()` can not be used for the users own Datasets, i.e. that he creates himself. To a new user trying to to load a Dataset from a set of files it is not obvious that this method is only for pre-made, immutable Datasets.

Although it does

[2020-01-10 16:26] iamreechi commented on #32131
having issue with plot_value_array. each time i run it i get an error message stating "plot_value_array is not define" any help with this?

![image](https://user-images.githubusercontent.com/50128025/72168844-3e510c80-33ce-11ea-96c3-8aff6b3f0f34.png)

[2020-01-10 16:31] uchua commented on #35700
@ofpppppppdbfjs thanks, I had figured out how to specify the correct TensorFlow version, but I still get the same error.

@oanush
I'm using Colab connected to Google Cloud CPU &B TPU instances running:
Python:
3.5.3 (default, Sep 27 2018, 17:25:39)
[GCC 6.3.0 20170516]
TensorFlow:
2.1.0
v2.1.0-rc2-17-ge5bf8de
GPU Support: False

I still get the same error:
[code]

Here is the code I can use to rep

[2020-01-10 16:38] zaccharieramzi commented on #25403
@smit-hinsu I have the same problem with CUDA 10.1 tf2.1 in eager mode only (fitting a keras model works fine for example).

I tried the same code as the OP (without enabling the eager mode because I am in tf 2.1) and it failed. I first noticed the bug because I am training GANs so with a custom training loop.

If I disable eager execution, I get the following error: `RuntimeError: Attempting to c

[2020-01-10 16:42] Xiaohui-Z commented on #32817
Tensorflow 2.1(stable) released, has anyone known if this warning fixed in the new version ?

[2020-01-10 17:03] hshankar61 opened #35746 "Cannot train the person detection test on Tensorflow 2.0"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- Tensorflow version (commit SHA if source):
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.):

**Describe the problem**

**Please provide the exact sequence of commands/steps when you ran into the problem**

[2020-01-10 17:06] alextp commented on #35500
I just ran against tf-nightly and it's fixed there.

[2020-01-10 17:06] #35500 closed

[2020-01-10 17:12] mihaimaruseac commented on #35618
@nectario try `tensorflow-cpu` package? If the issue still persists, I would recommend opening a new one and filling in the template as it looks like you have a different issue.

[2020-01-10 17:23] jvishnuvardhan commented on #35691
@donguklim I agree. `AssertionError: ` is reproducible with `tf-nightly` but not with `TF2.0`. However, the inconsistency is in 5th decimal when I applied `tf.reduce_sum` for the two data. So I would say the inconsistency could be due to precision related. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/4009ed5d1e5f99b942c4f175e1439809/untitled741.ipynb).

Output

[2020-01-10 17:29] nectario commented on #35618
This happens even when I install tensorflow-cpu. Below is the complete stack trace:

Traceback (most recent call last):
  File "C:\Development\Python\Python37\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Development\Python\Python37\lib\site-packages\tensorflow_core\python\pywrap_tensor

[2020-01-10 17:30] nectario commented on #35618
The issue seems to be the same and it happens on two completely different computers of mine.

[2020-01-10 17:49] jdduke commented on #35707
TF Mobile is deprecated, so if you need updated support you would have to build the libraries manually from source.

Alternatively, TensorFlow Lite supports both ssd_mobilenet_v2 and ssd_inception, and should offer much better performance and a much smaller binary size. Is there a reason you cannot use TensorFlow Lite?

[2020-01-10 17:56] aselle commented on #35663
Try making a new conda environment and installing tf_runtime again. Show the whole log of commands you wrote and what happened. You can look inside the conda directories site-packages to see if tf_runtime files are there. You can run python3.6 interactively and look at sys.path to see what paths are searched for imports.

[2020-01-10 17:59] rjpower commented on #29791
By default the training loop for distribution strategy is running on the Colab host, not the TPU host. For larger models this isn't a problem, but for small models like MNIST, the latency between the 2 hosts can dominate the model execution time.

I believe DistributionStrategy performance has improved in the upcoming TF 2.1 release as well. I'm closing this for now as I believe the original quest

[2020-01-10 17:59] #29791 closed

[2020-01-10 17:59] rjpower commented on #23337
Closing, as outside compilation is now available.

[2020-01-10 17:59] #23337 closed

[2020-01-10 18:00] rjpower commented on #29839
Apologies for the long delay: TensorFlow 2.1 is now out, and now supports TPUs via DistributionStrategy. Documentation is somewhat sparse, but here's an example:

https://colab.sandbox.google.com/github/tensorflow/tpu/blob/master/tools/colab/fashion_mnist.ipynb

[2020-01-10 18:00] #29839 closed

[2020-01-10 18:07] aselle commented on #35736
The easiest way to override the signature is to load the saved model back into tensorflow and then edit the concrete function signature to specify the shape.

Guide to concrete functions here
https://www.tensorflow.org/guide/concrete_function
[code]
Then you can change cf.inputs to provide the shape.

Finally make use TF Lite converter function from_concrete_function.

[2020-01-10 18:11] rdepew opened #35747 "Tensorflow Lite download_dependencies.sh doesn't work"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian 10 (buster)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Not a mobile device, it's a FreeWave ZumIQ edge computer. CPU is the same CPU as in a BeagleBone Black.
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.0.0
- Python version

[2020-01-10 18:12] SirPhemmiey commented on #35707
Aha, Okay.

No reason, actually. I just followed a tutorial.

I'll definitely try out TensorFlow Lite and see how it goes.

Thank you!

[2020-01-10 18:12] mihaimaruseac commented on #35618
Please identify which DLL fails to load and please open a different issue as they look to be different

[2020-01-10 18:14] fklabach opened #35748 "tflite micro softmax op is still version 1"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from: Source
- Tensorflow version: 4b3c1199a97cb36b8866d98e7036f4ec3e70abd6
- Target platform: Apollo3

**Describe the problem**

The tflite micro softmax op in [tensorflow/lite/micro/kernels/softmax.cc](https://github.com/tensorflow/tensorflow/blob/4b3c1199a97cb36b8866d98e7036f4ec3e7

[2020-01-10 18:18] aselle commented on #35737
This was a regression. Fixed in master with this commit.
https://github.com/tensorflow/tensorflow/commit/35095ee07fd63b4722d2b87b4de928c89c5a4845

[2020-01-10 18:18] #35737 closed

[2020-01-10 18:36] jdduke commented on #35707
Sounds good, let us know if you run into any issues!

[2020-01-10 18:36] #35707 closed

[2020-01-10 18:40] srjoglekar246 commented on #34845
Could you modify `pipeline.config` as follows:
Before:
[code]

After:
[code]

This helps prune out a lot of dynamicism from the graph. You could play with `max_total_detections` & the thresholds to see what works for you.

Then we need to export only the inference part of the graph, since the original one contains training components. Run `tensorflow_models/object_detection/export_inference_graph.

[2020-01-10 18:44] nectario opened #35749 "TensorFlow 2.1: ImportError: DLL load failed: The specified module could not be found."
I am using

Python 3.76
TensorFlow 2.1
Installed using: pip install tensorflow
Processor:  Intel(R) Core(TM) i7-6500U CPU @ 2.50GHz, 2601 Mhz, 2 Core(s), 4 Logical Processor(s)
Laptop System Model:  HP Spectre x360 Convertible
Reproduce: All I have to type is  "import tensorflow as tf" and it fails.

**Note:** I also tried using tensorflow-cpu and still got the same issue.

Stack Trace:
[code]
**S

[2020-01-10 18:46] nectario commented on #35618
Done.
Issue: #35749

[2020-01-10 18:47] jvishnuvardhan commented on #35731
I am able to reproduce the issue with 'save_format = h5' but `save_format = 'tf'` is working as expected. Thanks!

[2020-01-10 19:01] tomshalini commented on #35729
Please find below code for your reference:

from os import path, makedirs
from utility_files import model_utils
import local_configuration as config
from utility_files import tfrecords_utils as tfutils
import numpy as np
import tempfile
import zipfile
import os
from tensorflow_model_optimization.sparsity import keras as sparsity
from tensorflow import keras

'''
This file prunes the pre-trained mo

[2020-01-10 19:17] rdepew commented on #35747
More information: I tried it on a different Linux system and it worked. Back to my hardware. I took the **curl** statement in line 64, omitted the **-s** option, and ran it from the command line:
[code]
So the "silent" operation was masking the SSL certificate problem. After reading the page at https://curl.haxx.se/docs/sslcerts.html, I added the **-k** option to the **curl** commands on lines 64

[2020-01-10 19:20] SumNeuron opened #35750 "TensorFlow 2.0 Unknown entries in loss dictionary when recovering saved model with tf.keras.models.load_model"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): based on an of

[2020-01-10 19:48] #35118 closed

[2020-01-10 19:49] Squadrick commented on #34890
@karmel Any update on this?

[2020-01-10 20:04] impjdi commented on #34873
I think I did everything on my end.  Is there any remaining action items for me?

[2020-01-10 20:18] hvico commented on #35419
Having the same problem here. This used to work, now I do not know what changed in my environment (maybe TFLITE interpreter for Android?) I tried 1.15, 2.0 and 2.1.0.

Error: ValidateBoxes(decoded_boxes, num_boxes) was not true when I try to use the SSD converted model.

Commands I used to convert my checkpoint: python3 object_detection/export_tflite_ssd_graph.py --pipeline_config_path $PIPELINE_P

[2020-01-10 20:35] srjoglekar246 commented on #35419
Can you try without specifying `--mean_values=128 --std_dev_values=128`? Since the inference is in FLOAT, these parameters are not needed. I am not sure what `change_concat_input_ranges` does.

[2020-01-10 20:36] phemmer commented on #31312
Don't know if I'm experiencing the same issue, or a different one, but I've also just started encountering an issue with Tensorflow sucking up all available RAM. However for me the trigger was a system upgrade.

I was using Fedora 29 with Tensorflow 2.1.0, and everything worked fine. I then upgraded to Fedora 31, same exact code and Tensorflow version, and now `model.fit` sucks down all the system

[2020-01-10 20:44] hvico commented on #35419
Hi! I removed those params, it still crashes with the same error:

2020-01-10 17:43:04.877 22107-22172/org.tensorflow.lite.examples.detection E/AndroidRuntime: FATAL EXCEPTION: inference
    Process: org.tensorflow.lite.examples.detection, PID: 22107
    java.lang.IllegalArgumentException: Internal error: Failed to run on the given Interpreter: tensorflow/lite/kernels/detection_postprocess.cc:404

[2020-01-10 20:49] lvenugopalan commented on #35516
Closing this as this is not feasible.

[2020-01-10 20:49] deven-amd commented on #35516
@lvenugopalan why close this issue....thought we were still discussing this.

is my later proposal not feasible either?

[2020-01-10 21:02] lvenugopalan commented on #35516
@deven-amd I closed this as per @gunan  earlier comments. Let me reopen.

[2020-01-10 21:10] rchao commented on #33009
@MProx, about a month ago we added a fix for memory leak and there's a possibility it has fixed this. Can you try `!pip install tf-nightly` and see if it resolves your issue?

[2020-01-10 21:18] gowthamkpr commented on #35225
@freefuiiismyname Please post this issue is in stack overflow as it is not related to build/install, bug/performance, feature request or doc related issues. Thanks!

[2020-01-10 21:18] #35225 closed

[2020-01-10 21:23] lamberta commented on #34890
Hi @Squadrick, what part of the doc is incorrect? It doesn't say it's an argument to init. But could clarify in the doc string that it should be called in compile. It would be useful to add the param to the .compile method.
Can you send a PR for https://www.tensorflow.org/api_docs/python/tf/keras/Sequential?version=nightly ?
The pages have a link "View source" to edit the docstring.

[2020-01-10 21:24] ymodak commented on #35598
Your cpu does not support avx instruction sets. See https://ark.intel.com/content/www/us/en/ark/products/50178/intel-core-i3-380m-processor-3m-cache-2-53-ghz.html

*TensorFlow release binaries version 1.6 and higher are prebuilt with AVX instruction sets.*

Therefore on any CPU that does not have these instruction sets, either CPU or GPU version of TF will fail to load.
Apparently, your CPU model

[2020-01-10 21:24] #35598 closed

[2020-01-10 21:26] hvico commented on #35419
BTW, this issue seems to be duplicated here: https://github.com/tensorflow/models/issues/7918

[2020-01-10 21:33] cossio opened #35754 "Make Tensorflow 2.1 available through conda"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): conda
- Python version: 3.7

**Describe the problem**

`conda install tensorflow` installs version 2.0 instead of 2.1.
Please, make tensorflow 2.1 available through conda.

[2020-01-10 21:37] JingyuQian commented on #22105
My colleague had this problem once. Solved by setting `allow_growth=True` when creating session so I'll record it here in case someone need it.

She had 2 GPUs in her machine, GPU 0 was empty and GPU 1 had graphics processes such as Xorg. The model trained well on GPU 0 only but displayed such problem when GPU 1 only.

[2020-01-10 21:49] gowthamkpr commented on #35664
@mohitsaini-vgroup please post this question in stackoverflow as github is only meant for bug/performance, build/install, feature request or doc related issues. Thanks!

[2020-01-10 21:49] #35664 closed

[2020-01-10 21:57] jvishnuvardhan commented on #35717
@artemmavrin Where did you find those links on Tensorflow website? Thanks!

[2020-01-10 21:58] hvico commented on #35419
Update: Downgraded TFLITE to 1.12.0 in Android and now the model loads and works.
Unfortunatelly to do that I had to disable the GPU delegate I was using for improved mobile performance.
As I explained this procedure was woking months ago (with GPU delegate), as I was using nightly versions of tlite and tflite-gpu. It seems I updated the nightly version recently and now I have this problem.

[2020-01-10 21:58] alextp commented on #35649
This is working as intended. The name_scope in the function is rooted at the function graph, and not at the call site (otherwise we'd have to retrace the function every time it's called to make sure it's using the proper name_scope). At runtime you can tell the correct scoping by the nesting of the name of the call op and the ops inside the function graph.

[2020-01-10 21:58] #35649 closed

[2020-01-10 21:59] ymodak commented on #35647
Closing this issue since the associated PR has been merged. Thanks!

[2020-01-10 21:59] #35647 closed

[2020-01-10 22:00] srjoglekar246 commented on #35419
This is weird. If you don't mind, could you try one of the models you obtained with a previous version of Android, with the Interpreter from the latest version? I am wondering if this is a problem with the conversion process or some TF issues in the latest release.

[2020-01-10 22:05] ymodak commented on #29257
This has been fixed. Thanks!
https://www.tensorflow.org/api_docs/python/tf/math/greater

[2020-01-10 22:05] #29257 closed

[2020-01-10 22:06] hvico commented on #35419
I can confirm my old models (converted some time ago) work properly using the latest version.

[2020-01-10 22:07] #29636 closed

[2020-01-10 22:08] ymodak commented on #29315
Closing this issue since its resolved. Thanks!
https://www.tensorflow.org/api_docs/python/tf/identity?version=stable

[2020-01-10 22:08] #29315 closed

[2020-01-10 22:09] artemmavrin commented on #35717
@jvishnuvardhan The links are similar to links I've been using as recently as earlier this week to access TensorFlow 1.14 documentation.

The last such working link in by browser history is https://www.tensorflow.org/versions/r1.14/api_docs/python/ from January 9, which currently redirects to https://github.com/tensorflow/docs/tree/r1.14/site/en/api_docs/python.

I've been using the 1.15 documenta

[2020-01-10 22:12] gowthamkpr commented on #35682
The `dataset.map()` will execute one function on every element of the `Dataset` separately and returns one transformed element and also as you set the random seed, this is the reason why you see same random numbers in each epoch.

[2020-01-10 22:16] martinwicke commented on #8658
Ah, sorry for the mistake. I corrected it above. You should use zeros, not constant, and flip the args.

The 7 is the batch size, but when creating the serving graph, the batch size will be eliminated anyway, so you can safely use any number you want, it won't affect the result at all.

[2020-01-10 22:19] ymodak commented on #33560
This is fixed in latest tf-nightly version '2.1.0-dev20200110' which uses cuda 10.1. (tested in google colab) Thanks!

[2020-01-10 22:19] #33560 closed

[2020-01-10 22:30] gowthamkpr commented on #35413
@olegmyrk I agree its failing in TF 2.1.0 but it has been fixed in the nightly version. Please find my gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/d3ec266927b357929cc2d2dc88e322a8/copy-of-untitled0.ipynb). It bug fix will be shown in the next stable version. Thanks!

[2020-01-10 22:33] mihaimaruseac commented on #35754
I think conda support is community driven, not provided by us. Adding @gunan to confirm/infirm

[2020-01-10 22:52] #35683 closed

[2020-01-10 22:56] jvishnuvardhan commented on #35678
@AlexVaith Can you please create a standalone code (a colab or jupyter notebook) and share it. That will be fastest way to resolve issues. Thanks!

[2020-01-10 22:59] cossio commented on #35754
Maybe there is another repo where this issue can be raised?

[2020-01-10 23:02] ymodak commented on #34478
Closing this issue since its resolved. Thanks!

[2020-01-10 23:02] #34478 closed

[2020-01-10 23:14] cgarciae commented on #35337
Getting the same error.

[2020-01-10 23:14] bas-aarts opened #35756 "Build error when building //tensorflow/compiler/aot:tfcompile"
when building the aot compiler with:
`bazel build --config=opt  -j 24 //tensorflow/compiler/aot:tfcompile`
the following error is triggered:
`ERROR: /root/.cache/bazel/_bazel_root/e7f9511d00737e63bb3d33a961e2b58a/external/llvm-project/llvm/BUILD:741:1: C++ compilation of rule '@llvm-project//llvm:aarch64_info' failed (Exit 1)
external/llvm-project/llvm/lib/Target/AArch64/TargetInfo/AArch64TargetIn

[2020-01-10 23:17] ymodak commented on #33003
Apologies for the delay in response.
As mentioned in the stack trace `Could not load dynamic library 'libcupti.so.10.0'; dlerror: libcupti.so.10.0: cannot open shared object file: No such file or directory; `
It is looking for `cuda 10.0` whereas you have installed `cuda 10`.
You may want to upgrade your TF to 2.1 which supports `cuda10.1`.
Thanks!

[2020-01-10 23:26] bersbersbers commented on #35682
@gowthamkpr assuming that your explanation is correct, why do I see *different* random numbers in `map()` in each epoch without a graph-level seed? And why are shuffles *different* across epochs, even with a graph-level seed set?

Whatever the expected output is, it is inconsistent that the behavior of
- `dataset.map()` is the same across epochs with a seed, but different without;
- `dataset.shuff

[2020-01-10 23:28] emailweixu commented on #35649
I think that @tf.function should not change the behavior of the decorated function whenever possible. If a function behave differently after the decoration, it makes the code hard to write.
I am sure there are ways to avoid retracing, similar to experimental_relax_shapes.

The reason I notice this is that I have function doing some tf.summary.scalar(), because of the name scope, the summary tag is

[2020-01-10 23:36] bersbersbers commented on #35682
Also, @jsimsa explains `tf.data` quite differently in #22000:
[code]

This makes the `feature` and `label` datasets `shuffle()` differently in the above example. I would expect this principle to hold for `map()` as well, and also for re-use of `shuffle()`d datasets in different epochs of a Keras training loop.

[2020-01-10 23:40] ekaakurniawan commented on #33162
Can we set it from `initial_value` of `tf.Variable`? If yes, then the question will be how to get the value from `tf.train.Saver().restore()`?

How does transfer learning do it? Does it load the model from `hdf5` and performs training?

[2020-01-10 23:58] jsimsa commented on #35682
@bersbersbers the TLDR is that legacy graph-mode (i.e. `tf.compat.v1.disable_eager_execution()`) does not support controlling shuffling behavior across different iterations of the same dataset.

If you would like to control the shuffle order and run in graph-mode with TF2, you should rely on `tf.function` (as oppposed to the legacy graph-mode). The following snippet illustrates idiomatic mechanism

[2020-01-11 00:26] #35588 closed

[2020-01-11 00:27] Shusuke-O commented on #29524
Hello. I'm having a similar issue.

I'm trying to generate a Keil project for the microcontroller I'm developing. When I followed procedures in the following link, it gave me the error:

https://www.tensorflow.org/lite/microcontrollers/library 

System information

OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Catalina 10.15.2 (19C57)
TensorFlow installed from (source or binary):

[2020-01-11 00:34] akashchintha commented on #27817
Hi! This issue is persistent in Keras 2.2.4

`ValueError: An `initial_state` was passed that is not compatible with `cell.state_size`. Received `state_spec`=[InputSpec(shape=(None, 256), ndim=2
)]; however `cell.state_size` is (256, 256)`

[2020-01-11 00:38] Shusuke-O opened #35759 "Error when running gmake for Tensorflow Lite Micro"
Hello. 
I have an issue similar to #29524.

I'm trying to generate a Keil project for the microcontroller I'm developing.
When I was following procedures in the following link, I got the error:

https://www.tensorflow.org/lite/microcontrollers/library

System informationOS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Catalina 10.15.2 (19C57)
TensorFlow installed from (source or bina

[2020-01-11 00:58] guoshimin commented on #34375
I'm having a similar issue. The training stalled after this message shows up on one of nodes (it's somewhat random which node it shows up on):

[code]

Full logs are at
host1: https://gist.github.com/guoshimin/fe3bf21d79ff97203d6d7bd3d3b922da
host2: https://gist.github.com/guoshimin/45635b0562eb162174b2f868c00033df

I'm using tensorflow 2.0.0, with NCCL that's bundled with TF.

[2020-01-11 01:00] n-gao opened #35760 "diag_part documentation outdated"
## URL(s) with the issue:
https://www.tensorflow.org/api_docs/python/tf/linalg/diag_part?version=nightly

## Description of issue (what needs changing):
The `diag_part` documentation contains old examples of non-existing APIs, it uses `tf.matrix_diag_part` in the examples which does not exist.

[2020-01-11 01:10] n-gao opened #35761 "[TF2.1] k parameter is ignored in tf.linalg.diag_part"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 64bit (also happens in WSL)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use c

[2020-01-11 01:18] Bengt opened #35762 "_ = dataset.cache() accelerates data pipeline"
**System information**
- Have I written custom code
- Linux Ubuntu 18.04
- TensorFlow ROCm installed from PyPI
- TensorFlow version: v2.0.0-rocm-3-g0826c3a 2.0.2
- Python version: Python 3.7.5
- CUDA/cuDNN version: None
- GPU model and memory: 2 x Radeon Vega 64

**Describe the current behavior**

TF.Data is quicker when one caches the whole dataset to an unused name.

-    With `dataset_*.cache(.

[2020-01-11 01:22] byronyi commented on #34375
I suggest you to take a closer look to the `NCCL_GID_INDEX` environment variable if you would like to use RDMA. Otherwise, try `NCCL_DISABLE_IB=1`.

[2020-01-11 01:25] byronyi commented on #35762
Why `_ = dataset.cache()`?

Try `dataset = dataset.cache()` instead.

[2020-01-11 01:37] Bengt commented on #35762
Yes, I know it does not make sense. I stumbled upon this behavior by mistake. I tried to invoke `.cache()` on one of the `dataset_*` subsets, which was not visible from the function handling the `dataset` creation. Therefore, the name assignment should have had no effect, which makes it equivalent to assigning to `_`. Yet, I still measured an improvement, which obviously should not be the case. Us

[2020-01-11 01:42] byronyi commented on #35762
The cache bahavior is designed for accelerate repeated reads from disk, not arrays in memory.

[2020-01-11 01:53] Bengt commented on #35762
Yes, I know `.cache()`is not supposed to offer speed ups here at all. However, it does so in both instances (`dataset_*.cache()` and `dataset.cache()`).

[2020-01-11 01:57] Bengt commented on #35762
Wait a minute. It seems like I got the standard deviations of the epochs down far enough to measure a difference by iterating over a dataset for long enough. However, I still have a hard time reproducing my results. Could it be that the throughput performance of an input pipeline is just not reliable up to a few percent and that I have been measuring luck of the draw by running my benchmark script

[2020-01-11 02:00] MeghnaNatraj commented on #35746
This is currently a work in progress. We'll update this issue once we have something we can share.

[2020-01-11 02:05] kenseii commented on #33365
I changed the data to np.float32 and it worked well with tf2, maybe it may help someone still having this issue.

Thanks

[2020-01-11 02:12] terryheo commented on #35626
@rdepew could you try it with Docker build?

https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/pip_package

`make BASE_IMAGE=debian:buster PYTHON=python3 TENSORFLOW_TARGET=rpi docker-build`

[2020-01-11 02:27] nmoezzi commented on #21230
You all need to use models provided by Tensorflow/research

[2020-01-11 02:28] alisaaalehi commented on #33809
I have the same issue! MirroredStrategy is not giving any improvement neither in speed nor accuracy. @olk what was your final conclusion about this?

[2020-01-11 02:32] yourtheron opened #35763 "A Subclass of Custom Loss Function Is not Trackable as an Argument in Checkpoint"
Tf Version: 2.0.0
Python: 3.7.5
IDE: Spyder
OS: Windows

I wrote a subclass of custom loss function and tried to list it in the arguments of a checkpoint as follows. The model is an arbitrary one
[code]

I got the following error
[code]
I am not sure if a subclass is trackable or not. Is that an intention of design? Or shall such a feature be added?
By the way, if I change the subclass into a norm

[2020-01-11 03:02] terryheo commented on #35711
aapt2 tool of SDK level 26 doesn't look support the "--proto-format" option.
Could you try it again with SDK tool 28+ version?

[2020-01-11 03:14] lamberta commented on #35717
HI @artemmavrin, this is works-as-intended.

tensorflow.org is focused on TF2 now, but we'll continue to host the latest 1.x version on the site (1.15). We're archiving older versions in the tensorflow/docs GitHub repo under the version branch: https://github.com/tensorflow/docs/tree/r1.14/site/en
These docs can be navigated and previewed using the GitHub previewer.

[2020-01-11 03:14] #35717 closed

[2020-01-11 03:21] Bengt commented on #35762
Here are some results of consecutive manual runs:

-   without `dataset_*.cache`:
    -   2895 with a variation of +/- 8
    -   2893 with a variation of +/- 13
    -   2876 with a variation of +/- 17
    -   2844 with a variation of +/- 7
    -   2842 with a variation of +/- 9

Which makes for a maximum difference of the means up to 2.5 % and thus **does explain** the measured speed up.

-   with

[2020-01-11 03:21] aijiart commented on #35711
Yes , I noticed yesterday.  It is supported from 28, Thanks

[2020-01-11 03:21] #35711 closed

[2020-01-11 03:33] shaunster0 commented on #34947
I've been getting this too using custom_gradients. Would love to know a solution

[2020-01-11 03:36] happpyosu commented on #35403
@ravikyram
Sorry for the late reply. I am using Tensorflow-gpu==2.0.0.
I was building a model with tf.keras API and met the problem. First of all, I define a  Sequential model as:
[code]
Then I made another model by using the seq_model:
[code]
Then I try to use the API model.get_layer() to get the output of the layer named "noise_0" and "bn_0"
[code]
Since I want to get the noise value added by "n

[2020-01-11 04:44] yunxing commented on #35603
Thanks, YLaCoon!

The better report should have been submitted into tf-nightly a couple of days ago. Would be great if you can retry your bug and copy-paste the new report -- once we have it it should be much easier for us to reproduce on compiler side.

[2020-01-11 04:54] phemmer commented on #31312
Well after spending the entire day trying to get Tensorflow to build from source, my memory issue is resolved.
When I was experiencing the issue I described earlier (`model.fit` consuming all available memory), I was using the 2.1.0 package from pip. After building Tensorflow from source (same version, 2.1.0) the issue has gone away, and Tensorflow is operating normally again.

[2020-01-11 05:14] phemmer commented on #34429
Just piping in with my own experience since there seem to be several people reporting errors even with the removal of the line `"--bin2c-path=%s" % bin2c.dirname,`.
For me, removing this line addressed the issue. I was able to complete the tensorflow build with no other issues. So I suspect the other issues being reported are likely unrelated.

[2020-01-11 05:19] sanjoy commented on #32808
@zhuhong realistically, I won't have time for this anytime soon.  Can you try using the [TensorBoard profiler](https://www.tensorflow.org/tensorboard/tensorboard_profiling_keras) on your model to see something obvious shows up?

[2020-01-11 05:38] Deisu commented on #22512
Just need you to know that I've been banging my head against this all day. I even went through and did a full on conda install anaconda-clean uninstall, just blowing things apart.

The thing that finally worked was just this little downgrade.
I'm using the CPU version for the record. Hope this helps someone else.

[2020-01-11 05:58] guoshimin commented on #34375
This is the output of show_gids on one host. The other host has similar output.
[code]
I tried setting `NCCL_IB_GID_INDEX` to 2 and then 3, same result.

I also tried setting `NCCL_IB_DISABLE=1`, and got a slightly different log message before training stalled:
[code]

[2020-01-11 06:50] sfleisch commented on #35702
Try 'XLA_GPU'.

tf.config.list_physical_devices shows XLA_GPU instead of GPU.

Is there a way to disable this in TF 2.1.0?
The problem is that I'm getting the following error:
/usr/local/anaconda3/lib/python3.7/site-packages/six.py in raise_from(value, from_value)

**InternalError: Device type: XLA_GPU is currently unsupported for remote function executions
	 [[{{node RemoteCall}}]] [Op:IteratorGe

[2020-01-11 06:54] emailweixu opened #35765 "Autograph failure with `\`"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-01-11 07:07] byronyi commented on #34375
Your network env may not function properly. Please consult your vendor Mellanox for further information.

[2020-01-11 07:14] guoshimin commented on #34375
We've been using MultiWorkerMirroredStrategy with NCCL and IB successfully with tf.estimator with TF 1.14. This problem only shows up when we use tf.keras with TF 2.0. (The code I'm running is from the official tutorial https://www.tensorflow.org/tutorials/distribute/multi_worker_with_keras) Does it make it less likely to be a problem with the network environment?

[2020-01-11 07:31] heyheyheyheyhey1 opened #35766 "tensorflow-gpu Importerror: DLL load failed: DLL initialization routine failed."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10 pro 1909
- TensorFlow installed from (source or binary): https://files.pythonhosted.org/packages/
- TensorFlow version:1.8.0
- Python version:3.6.8
- Installed using virtualenv? pip? conda?: pip
- CUDA/cuDNN version:CUDA 9.0/cuDNN7.0(and cuDNN7.1)
- GPU model and memory:GTX1050 (4GB)

**Describe the proble

[2020-01-11 07:32] #35473 closed

[2020-01-11 07:42] 004307ec commented on #35738
I have met the same error with Tensorflow 1.15.0 with XLA and CUDA support enabled (using bazel 0.26.1 which is indicated by the `configure`).

[2020-01-11 07:44] RafayAK commented on #35733
Yeah seems like a recurring problem. Even many `devel` docker images are stale. According to this issue, I created [here](https://github.com/tensorflow/tensorflow/issues/35492), this problem should have been fixed by the 31st of December but, unfortunately, hasn't.

[2020-01-11 07:54] praharshbhatt opened #35767 "tensorflow-gpu not working"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10, 64 bit
- TensorFlow installed from (source or binary): source
- TensorFlow version: tensorflow-gpu==2.1.0
- Python version: Python 3.7.6 (tags/v3.7.6:43364a7ae0, Dec 19 2019, 00:42:30) [MSC v.1916 64 bit (AMD64)] on win32
- Installed using virtualenv? pip? conda?: pip
- CUDA/cuDNN version: CUDA: 10.1
- GP

[2020-01-11 07:56] #35409 closed

[2020-01-11 08:00] Squadrick commented on #34890
My bad. I figured `Properties` meant things that could be passed to `__init__`. The docs are correct. I'll close this issue, thanks for the help.

[2020-01-11 08:01] Squadrick commented on #34890
I'll create the PR soon.

[2020-01-11 08:11] bersbersbers commented on #35682
Thanks for the explanation, @jsimsa. I must admit that I was not aware that `reshuffle_each_iteration` existed, but seeing that it defaults to `True` means that at least my intuition was correct. It is unfortunate that `disable_eager_execution()` breaks this control, but your confirmation is valuable and I'll try and see if I can make the workaround work with my example of the Keras training loop

[2020-01-11 08:43] AsadAhmed361 commented on #13044
I have got the solution, images to be trained must be in dimension of 960x540, convert all the images in dataset to such resolution and then try. My issue is resolved by doing this.

import os, sys
import cv2
# Open a file
path = "C:/Tensorflow1/images_to_resize/images/train/"
dirs = os.listdir( path )

# This would print all the files and directories
for file in dirs:
    read = cv2.imread(path+'

[2020-01-11 08:53] abdulrahman-khankan commented on #22794
If you are having this after 2.1.0, it is probably because it comes with GPU support by default. And it requires _Microsoft Visual C++ Redistributable for Visual Studio 2015_ as shown in the installation step #1 on the website.

![image](https://user-images.githubusercontent.com/7988466/72201765-a39d1000-3457-11ea-897a-5694c742a4c8.png)

From the release notes:
![image](https://user-images.githubu

[2020-01-11 08:54] UHayyat007 opened #35769 "No module named 'tensorflow.python.keras.applications.ResNet50'"

[2020-01-11 08:55] UHayyat007 commented on #35769
![image](https://user-images.githubusercontent.com/56769420/72201840-099a8f00-347a-11ea-9d44-5b5820c9731d.png)
i have this issue anyone here who can help???

[2020-01-11 09:02] jiapei100 opened #35770 "ERROR: ~/....../tensorflow/python/keras/api/BUILD:130:1: Executing genrule //tensorflow/python/keras/api:keras_python_api_gen_compat_v2 failed"
bazel 1.1.0

[code]

failed to build tensorflow master.
[code]

[2020-01-11 09:18] MProx commented on #33009
Hi. I have done what you ask and tested `tf-nightly` with my trivial code example from the original issue above, and it does indeed seem to fix the problem. I also tried it in a different application that I've been using the predict_on_batch workaround with, and there seem to be no memory leaks there either. So yes, the leak seems to have been dealt with.
Thank you!

[2020-01-11 09:18] #33009 closed

[2020-01-11 09:24] isayasfeyera opened #35771 "An exception has occurred, use %tb to see the full traceback. SystemExit: 2"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2020-01-11 09:45] vvmspace commented on #30114
Same problem:

cat /proc/cpuinfo
processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 76
model name	: Intel(R) Pentium(R) CPU  N3710  @ 1.60GHz
stepping	: 4
microcode	: 0x40e
cpu MHz		: 1568.756
cache size	: 1024 KB
physical id	: 0
siblings	: 4
core id		: 0
cpu cores	: 4
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 11
wp		: yes
flags		: fpu vme de pse tsc m

[2020-01-11 09:47] zhao1157 commented on #35609
Did you figure out cause of this issue? I encountered the same error.

[2020-01-11 09:48] letsgo247 commented on #22512
You made my day. Thanks.

[2020-01-11 10:07] rodyt commented on #24520
Also encountering this issue on TF r2.0.

Using a tf.data.Dataset with a map function, where the map function is a tf.py_function;

This issue persists even after I set the Tensor shape manually by calling  `.set_shape(tf.TensorShape(some_shape))` on the tensor inside the map function. (When I check my dataset's elements, it appears that there are valid shapes for the tensors)

I get the

issue wh