[2019-08-11 17:40] DollarAkshay commented on #18287
Just noticed that having `tf.enable_eager_execution()` enabled drastically changed the training part for `fit_generator()`. Here are some examples that I ran on a pre-trained VGG19 model.

**Without Eager Exectution`**
![image](https://user-images.githubusercontent.com/6565924/62837277-64da1280-bc8b-11e9-88a7-e7d1c8a1ae0b.png)
- The loss reduces drastically after one epoch
- The training accuracy

[2019-08-11 17:53] captain-pool commented on #28311
Hey @hurleyLi , I'm not sure about it, any TensorFlow function should be able to take tensors in value fields.
CC: @jinfagang

[2019-08-11 17:59] robieta commented on #30561
The behavior that you're seeing is a mix of bugs and expected behavior. But in any case I think an explanation is in order.

One very minor point that I noticed is that `mask = tf.sequence_mask(lengths)` should actually be `mask = tf.keras.layers.Lambda(lambda x: tf.sequence_mask(x))(lengths)`. There is some fallback logic to auto wrap it in a layer, but it only works for builtin functions and can

[2019-08-11 19:22] peterse opened #31522 "1.13.2 build failed with "Not Found" error for file that exists"
**System information**
- OS Platform and Distribution: Ubuntu 18.04 (Windows 10 subsystem)
- TensorFlow installed from: source
- TensorFlow version: 1.13.2
- Python version: 3.6.8
- Bazel version: 0.21.0
- GCC version: 7.4.0

**Describe the problem**
Just trying to get a CPU hardware-specific install; selected "No" to all except XLA JIT support during configuration. I don't need CUDA/GPU support.

[2019-08-11 20:30] Oktai15 commented on #25231
@YakirYehuda did you fix a problem?

[2019-08-11 20:38] Oktai15 commented on #25231
@ymodak can we do something with it as workaround?

[2019-08-11 21:23] inspirepassion commented on #9829
Upgrading numpy works for me.
`pip install -U numpy`

[2019-08-12 00:03] nguerinjr commented on #31498
It also seems to work with tf-nightly-2.0-preview-2.0.0.dev20190811. In this version `tf.keras.experimental.export_saved_model` is deprecated.

[code]

Although there are some prints that I do not know if they represent an error in saving / loading the optimizer:
[code]

This print also occurs in the loading of the model (which, for compatibility, I've done with the `tf.keras.experimental` version

[2019-08-12 00:25] anirudhraju commented on #30961
@qlzh727  Any update on this issue? Do we know why this behavior is consistent between tf2.0 alpha and beta?

[2019-08-12 00:45] Uiuran commented on #30666
That's fine for now, i will have look on 2.0beta, the fact is have a lot of code and in moment cant stop sprinting to migrate or to learn the changes, but will do it asap.

Thank you.

[2019-08-12 00:45] #30666 closed

[2019-08-12 00:53] guptapriya commented on #18222
This is currently in progress in TF from @seemuch (will work with unfused version of batch norm).

[2019-08-12 02:05] alanpurple opened #31523 "error while building wheel"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3 x64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version:  2.0.0-rc.0
- Python version: 3.7.4 x64
- Installed using virtualenv? pip? conda?: N/A
- Bazel version (if compiling from

[2019-08-12 02:10] alanpurple commented on #31523
I downgraded python to 3.7.3 and then no problem.

looks like an issue with python 3.7.4

[2019-08-12 02:30] reliefs commented on #31431
Anything new?

[2019-08-12 02:44] bitwanghe opened #31524 "how to replace the wrong node definitions in the frozen graph when importing frozen graph with batchnorm"
there is a confusion when i try to do as the answers in the question #3628, and could anyone give me a proper solution for it?
he says:
''
An ugly way to get it working:
manually replace the wrong node definitions in the frozen graph
RefSwitch --> Switch + add '/read' to the input names
AssignSub --> Sub + remove use_locking attributes
''

but, I printed the nodes in my net,:
''
inputs
labels
keep

[2019-08-12 02:49] pzn666 commented on #12132
Any updates of this?

[2019-08-12 02:52] sjtusmartboy opened #31525 "Tensorflow Estimator InvalidArgumentError"
TF 1.13.1 binary on ubuntu 18.10

the same issue with that on stackoverflow: https://stackoverflow.com/questions/54089982/tensorflow-estimator-invalidargumenterror

The issue occurs when the categorical feature size is very large and reports bug of `Restoring from checkpoint failed. This is most likely due to a mismatch between the current graph and the graph from the checkpoint. Please ensure tha

[2019-08-12 03:05] bitwanghe commented on #31524
btw, the op.name of
“MobilenetV2/Conv/BatchNorm/AssignMovingAvg”  and "MobilenetV2/Conv/BatchNorm/AssignMovingAvg_1"
are all "assignsub"

[2019-08-12 03:06] bitwanghe commented on #31524
btw, the op.name of
“MobilenetV2/Conv/BatchNorm/AssignMovingAvg” and "MobilenetV2/Conv/BatchNorm/AssignMovingAvg_1"
are all "assignsub;

[2019-08-12 03:06] weishengchong commented on #25168
Hi @Zeit42,

I have the same error, would you please kindly share your insights? Thanks.

My system infor
tensorflow-1.13.1-cp35-none-linux_aarch64.whl
Linux firefly 4.4.52 #16 SMP Thu Apr 27 17:56:29 HKT 2017 aarch64 aarch64 aarch64 GNU/Linux
rk3399

Hi  @petewarden,

Noted. Thanks.

`
    interpreter = tf.contrib.lite.Interpreter(model_path=tflitefile)
  File "/media/root/usb16g1/venv/tf1.13/lib

[2019-08-12 03:18] jiarenyf commented on #31359
这么久都没人回复，tflite是没人在用了吗。。。

[2019-08-12 03:30] omalleyt12 commented on #20372
@MonsieurWave could you share a code snippet to repro?

[2019-08-12 03:33] omalleyt12 commented on #31173
@IanQS thanks for this feature request! Yes, I think we're at a point with 2.0 and TensorBoard in Keras where we can support this now, I'll aim to get this in the within the next week or two

[2019-08-12 03:37] omalleyt12 commented on #31028
@constiDisch TimeDistributed internally combines the batch and 2nd dimension into one dimension, then computes the computation of the time-distributed layer, that's why shape info is getting lost here. We can probably do better shape inference. As a workaround in the meantime, you can do a `set_shape` after the last TimeDistributed layer:

[code]

[2019-08-12 03:37] LK opened #31526 "TFLite Metal GPU delegate: Add operator does not support broadcasting"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes.
- OS Plat

[2019-08-12 03:46] omalleyt12 commented on #30955
@DeepBlender @RaphaelMeudec

In general it's not possible to extract subgraphs of subclassed Models. For those use cases, please use Functional API models

Functional API models are described by their DAG, but for subclassed Models, the code is the definition and in general it's not possible to extract a DAG from them

Please note that even in 2.0, `model.fit` executes inside its own `tf.function`

[2019-08-12 03:46] #30955 closed

[2019-08-12 03:49] omalleyt12 commented on #30918
@jordanparker6 Thanks for the bug! `verbose=2` will only print 1 line per epoch. Could it be that your Model is taking a huge amount of time to run through an epoch? Try `verbose=1`, which outputs on every batch. Please let me know if you still don't see any output

[2019-08-12 03:53] omalleyt12 commented on #30728
As a workaround, can you try `tf.distribute.MirroredStrategy()`? This is the recommended way going forward for multi-gpu training

[2019-08-12 03:59] omalleyt12 commented on #30486
@LukeBolly this seems to be fixed in the latest nightly, could you please try updating? Otherwise it may be an issue with TensorBoard, but the layers in the outer Model look good to me as far as training in Keras

[2019-08-12 04:17] omalleyt12 commented on #30346
@ngc92 the keras.datasets return NumPy arrays, by doing `x = x[0:10]` you are telling it to only look at 10 samples, otherwise it is looking at the whole data, `steps_per_epoch` is ignored for NumPy arrays and only used for Datasets

[2019-08-12 04:17] #30346 closed

[2019-08-12 04:21] ZhuoranLyu commented on #23692
+1

[2019-08-12 04:22] omalleyt12 commented on #30091
@MyRespect Thanks for the bug! You can reuse layers, you just have to make sure that the shapes of your second inputs are compatible with the shapes of your first inputs to the layer, in this case it looks like that is not true for your model

[2019-08-12 04:22] #30091 closed

[2019-08-12 04:52] yichenj commented on #31473
Seems that the model has got over-fitting. The most recent 3/4 batches always got accurate result but the others got poor fitting.

[2019-08-12 04:52] #31473 closed

[2019-08-12 05:11] martinwicke commented on #30857
This looks like it's the same as #31253?

[2019-08-12 05:43] chengleiwang commented on #31434
Try the newest checkout of r1.14 ，still same error...
[code]
    tensorflow/python/framework/func_graph.py:32: [W0611(unused-import), ] Unused composite_tensor imported from tensorflow.python.framework
[code]

[2019-08-12 05:46] omalleyt12 commented on #30857
Yep, looks like a duplicate, I'll close this one to unify threads

[2019-08-12 05:46] #30857 closed

[2019-08-12 05:52] njwfish commented on #29187
I still have this issue in beta 2.0.0b1

[2019-08-12 06:11] ys10 opened #31527 "Performance Issue in C# Example"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): use code in TF# demo
- OS Platform and Distribution: **Windows 10**
- TensorFlow installed from (source or binary): **source(by pip)**
- TensorFlow version (use command below): **1.13**
- Python version: **3.7**
- CUDA/cuDNN version: run on **CPU**

**Describe the current behavi

[2019-08-12 06:12] jvishnuvardhan commented on #29795
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-12 06:12] #29795 closed

[2019-08-12 06:15] jvishnuvardhan commented on #28311
Please open an new issue by filling [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose) with your details, and provide a simple standalone code to reproduce the issue. Thanks!

[2019-08-12 06:27] dio commented on #5511
@asimshankar WDYT of the provided sample in https://github.com/bazelbuild/bazel/issues/1920#issuecomment-509144086?

[2019-08-12 06:47] abhay1722 commented on #31413
@ymodak @martinwicke Can you please comment on this?

[2019-08-12 06:56] vismayaps opened #31528 "How to identify the input and output array of a model for ".tflite" conversion process."
I am trying to generate quantized .tflite model from .pb file. For the process I require the 'input_arrays' and 'output_arrays' of the model.
I've tried using the below methods to identify the input array and output array. But none of them worked.

Method 1:

[code]
Method 2:
[code]
tflife conversion query:
import tensorflow as tf
graph_def_file = "new/barun/frozen_inference_graph.pb"
input_arrays

[2019-08-12 06:58] jvishnuvardhan commented on #30839
@oracle3001 was this resolved by following @gunan suggestion? Please close the issue if it was resolved already. Thanks!

[2019-08-12 07:02] lrizzello commented on #31329
If you're calling it from a command line, try adding

[code]
to nas_network.py, before the deeplab imports

[2019-08-12 07:43] Gurubux commented on #31315
@mihaimaruseac The following changes in census_dataset.py i.e
`tf.gfile.* is replaced by tf.io.gfile.*`

Results in
`tf.io.gfile.MakeDirs(data_dir)`

Thanks
@gadagashwini Sure it does! Thanks

[2019-08-12 08:23] ahmadsalim opened #31531 "Error when using batch renormalisation option under a strategy"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS: Windows 10
- TensorFlow installed from (source or binary): tensorflow-gpu binary on pip
- TensorFlow version (use command below): 1.14
- Python version: 3.6.8
- CUDA/cuDNN version:
- GPU model and memory:

**Describe the current behavior**
When I try to use `renorm=True

[2019-08-12 08:25] VirRajpurohit opened #31532 "In reference with https://github.com/tensorflow/tensorflow/issues/31406"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-08-12 08:25] VirRajpurohit opened #31533 "In reference with https://github.com/tensorflow/tensorflow/issues/31406"
@jdduke

In reference with the issue
https://github.com/tensorflow/tensorflow/issues/31406

Basically what needs to be identified and what changes needs to be done in accordance with the model.

It can be understood that TensorFlowObjectDetectionAPIModel.java will require the changes. But what are those changes.

As it is advised to check io shape with graph. Putting its result over here will help

[2019-08-12 08:29] #31532 closed

[2019-08-12 09:29] sjtusmartboy commented on #31525
It seems 2GB of embedding matrix is the bottleneck

[2019-08-12 09:31] WindQAQ commented on #31514
Seems that this is not a valid argument combination, but TF does not try to raise the assertion or print some warning message.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/layers/convolutional.py#L1700-L1705

      specifying the strides of the convolution along the height and width.
      Can be a single integer to specify the same value for
      all spatial dime

[2019-08-12 09:39] kielnino opened #31535 "Colab TF 2.0 runs out of memory if eager execution is enabled"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab (GPU Runtime)
- TensorFlow installed from (source or binary): binary (pip)
- TensorFlow version (use command below): 2.0.0-beta1
- Python version: 3.6 (Google Colab 3.6 Environment)
- CUDA/cuDNN version:

[2019-08-12 09:46] loffermann opened #31536 "Call to build function of GRUCell object segfaults if Keras precision is set to float16"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0-beta1
-

[2019-08-12 10:02] loffermann opened #31537 "Expose ConvLSTM2DCell"
**System information**
- TensorFlow version (you are using): 2.0.0-beta1
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Expose ConvLSTM2DCell via Keras API (as is the case with LSTMCell and GRUCell).

**Will this change the current api? How?**
Yes, ConvLSTM2DCell will be added (to tf.keras.layers).

**Who will benefit with this feature?**

[2019-08-12 10:04] abhishekm-in commented on #26398
Hi Stefan, I am also facing the same problems. A lot of operations are not yet supported by tf-lite. I was trying to convert a saved model to a tf-lite file. BTW how did you manage to obtain frozen graph for the transformer mode.
I am using https://github.com/tensorflow/models/tree/master/official/transformer/ to create my model.

I have been able to generate saved_model.pb with estimator's export

[2019-08-12 10:05] ZhuoranLyu commented on #23692
@alvaroslm Hi, did you compile the dll for windows with tensorrt successfully?

[2019-08-12 10:15] Soniyanayak51 commented on #31429
@mihaimaruseac
Sorry, I am stuck with running tests here. Any leads on how to test code easily before raising a PR?

[2019-08-12 10:26] pwais commented on #22002
FWIW the above actually breaks when I try using in concert with `tf.contrib.distribute.MirroredStrategy`

[2019-08-12 10:27] berkerbilgi opened #31538 "Cocoapods cannot install TensorFlowLiteC"
I am getting [!] Error installing TensorFlowLiteC when trying to install pods. I am using
pod 'TensorFlowLiteSwift' in my podfile.

Error:
[!] Error installing TensorFlowLiteC
[!] /usr/bin/curl -f -L -o /var/folders/8h/w7cb5w9x4m9dg8l9rr3h1qwas0000gn/T/d20208412-2822-n13n01/file.tgz https://dl.google.com/dl/cpdc/9d0ec5e53f4ff34a/TensorFlowLiteC-0.2.0.tar.gz --create-dirs --netrc-optional --retry 2

[2019-08-12 10:32] mohapatras opened #31539 "tf.image.resize_bilinear() outputs garbage pixel values"
I am trying to resize images using bilinear interpolation but unable to get the correct image while saving the image. I am getting the the outputs similar to [#25591](https://github.com/tensorflow/tensorflow/issues/25591). Applying the solution mentioned in that thread is not helping.

Config,
CUDA: 10.0
cudNN 7.4.2
Tensorflow-gpu 1.14
numpy 1.16

Below is the reproducible code.

[code]

[2019-08-12 10:35] mohapatras commented on #30172
@ymodak Any solution yet on encoding bitmaps ?

[2019-08-12 11:42] stevenwong commented on #12978
For anyone stumbling on this while googling `ignoring unknown option '-march=native'`, the issue is because `march=native` is a `gcc` flag. I've got my TF+GPU 1.14 to build in Windows by using `/arch:AVX2`. See [MSVC docs](https://docs.microsoft.com/en-us/cpp/build/reference/arch-x64?view=vs-2019)

[2019-08-12 11:46] kielnino commented on #31505
Are you sure your GPU matches the required CUDA® Compute Capability 3.5 or higher? I couldn't find it in the list on the [website of nvidia](https://developer.nvidia.com/cuda-gpus).

[2019-08-12 12:11] chenyuZha commented on #29829
@LiyouZhou  Thanks a lot for your advice.. So all what I should do is to find the way to decode the bbox then add the bloc to the train config, then I re-run the export_ssdlite_graph.py with this new config ?

[2019-08-12 12:15] I-Love-IU commented on #31350
I have same issue too! Is there somebody who solved this?

[2019-08-12 13:17] ArashJavan opened #31540 "Tensorflow 2 creating custom dataset"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0.0-beta
- Are you willing to contribute it (Yes/No): ye

[2019-08-12 13:30] kassemyu commented on #31192
Hey, thanks for the quick reply.
Glad it is now reproducible. @ymodak, do you have any idea why the shapes of transposed layers behave like this?

Thanks in advance.

[2019-08-12 13:36] fferroni opened #31541 "Bug in IOU calculation of NMS for GPU"
**System information**
Ubuntu 18.04, Tensorflow r2.0 from pip

**Describe the current behavior**
https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/core/kernels/non_max_suppression_op.cu.cc#L96

**Describe the expected behavior**
[code]

**Code to reproduce the issue**
I believe that the calculation of intersection over union in line 96 of the GPU implementation of non-max suppression i

[2019-08-12 13:44] KeshavJB5 commented on #30895
so this issue is closed or opened till
as it's showing open

[2019-08-12 13:46] SPP3000 opened #31542 "Ploting Gradients to Tensorboard and Console"
**System information**
- Windows 10 Pro Version 1903
- TensorFlow installed from pip in Anaconda:
- TensorFlow version 2.0.0-beta1 (gpu)
- Python version: 3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]
- CUDA/cuDNN version: Cuda compilation tools, release 10.0, V10.0.130
- GPU model and memory:  GeForce GTX 980 Ti major: 5 minor: 2 memoryClockRate(GHz): 1.2785

**Describe the c

[2019-08-12 13:46] Uiuran opened #31543 "Interrelations of collections and scope counts are not clear from documentation"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
https://www.tensorflow.org/api_

[2019-08-12 13:50] KeshavJB5 commented on #31542
Hello I would Like to contribute and I would like to ask is this for begginers

[2019-08-12 13:52] hunterwallace opened #31544 "Severe lag due to GPU having no memory to allocate to"
Running tensorflow on my laptop through anaconda and the following popped up:

2019-08-12 09:32:41.378946: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1326] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 3048 MB memory) -> physical GPU (device: 0, name: Quadro M1000M, pci bus id: 0000:01:00.0, compute capability: 5.0)
2019-08-12 09:33:14.804467: W tensorflow/co

[2019-08-12 13:53] davidaknowles commented on #31493
So turns out I needed to do e.g.
[code]
The error message could be more informative!

[2019-08-12 13:53] #31493 closed

[2019-08-12 14:28] DEKHTIARJonathan opened #31545 "tf.shape() for RaggedTensor is raising an exception"
Let suppose the following context:

[code]

We should merge the two functionalities into TF.Shape and raise a warning/exception in case someone tries to evaluate a ragged dimension.

[2019-08-12 14:35] SamahZaro commented on #18187
Unfortunately, this doesn't work. Neither 'lr_t', '_lr_t' nor '_lr' is an attribute of 'Operation' object which returned from minimize().

I think it should be easier to have these values ready from the optimizer itself than re-computing it by explicit equations.

If anybody has an easy solution or a working code, please share it. This would be appreciated.

[2019-08-12 14:36] jvishnuvardhan commented on #30895
@KeshavJB5 Currently PR was approved. This will be closed when the PR merges. Thanks!

[2019-08-12 14:44] andrey999333 commented on #31505
i could't find my gpu there as well. But apparently it's supported since it's working with tensorflow 1.14 - i can successfully train models and it works much faster then on cpu and i can see the gpu load. And also nvidia-smi shows cuda version:

+-----------------------------------------------------------------------------+
| NVIDIA-SMI 430.40       Driver Version: 430.40       CUDA Version: 10.1

[2019-08-12 14:47] qlzh727 commented on #29187
For any of you that still facing the issue, could u provide a snippet to reproduce the issue?

[2019-08-12 14:49] qlzh727 commented on #30961
Thanks for the notice. let me take a look today.

[2019-08-12 14:59] jvishnuvardhan commented on #31398
@ozanyildiz93 I cannot reproduce the issue in tf-nightly. I think this was resolved in the `tf-nightly`. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/ba880d7fb9ffdd6af13068a116aeed9a/tf_31398.ipynb). Thanks!

[2019-08-12 15:04] jalexstark commented on #31187
Would you be able to post the compiler errors? I want to sort this out promptly. Lots of fixes have gone in to get this working with various compilers. It is mostly C++ fragility (transitive includes) and uneven type checking.

I apologize for the pain, and really appreciate your patience. I hope the longer-run code health, and the performance of the new GEMM kernels as we roll them out, will brin

[2019-08-12 15:15] Pyrestone opened #31546 "model.fit_generator() multithreading is broken in tf.keras"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **YES**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Platform-independent
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): From pip
- TensorFlow version (use command b

[2019-08-12 15:18] ozanyildiz93 commented on #31398
Thank you. I will upgrade to the latest version in that case.

[2019-08-12 15:18] #31398 closed

[2019-08-12 15:27] mihaimaruseac commented on #31431
They will be provided with the new releases. There should be soon a release candidate 0 (RC0) for the next version and that one should be have the needed pips.

[2019-08-12 15:29] mihaimaruseac commented on #31434
Unfortunately I don't have ideas on how to debug Java, adding @sjamesr

[2019-08-12 15:30] mihaimaruseac commented on #31315
@Gurubux https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/io/gfile says it is `makedirs`

[2019-08-12 15:33] mihaimaruseac commented on #31429
I would build a pip package, install it in a virtualenv and test with the code to reproduce posted at the beginning of the issue.

See https://www.tensorflow.org/install/source for how to build the pip package.

Then, if that works, we can continue making this either a Python integration test or converting it to a C++ test.

[2019-08-12 15:37] jdduke commented on #31533
That's fine, but I would recommend looking at the way input shapes/types are used in TensorFlowObjectDetectionAPIModel to better understand what changes you need to make.

[2019-08-12 15:40] mihaimaruseac commented on #30172
To be honest, TensorFlow seems overkill for the flow described here. If you only want to programmatically resize images you can use ImageMagik or Python's PIL.

I think adding an encoder for bitmaps to TensorFlow is very low priority, but PRs are always welcome.

[2019-08-12 15:43] martinwicke commented on #31413
This seems fine to me, although this "fix" passes only accidentally, I think.

I will note that the implied imprecision on BE is troubling, do we understand why this is?

[2019-08-12 15:46] DeeperDeeper opened #31547 "BatchNormalization deos not accept float64 input data"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-08-12 15:52] allenlavoie commented on #31287
How about the setter also creates a Variable? So if you pass the constructor argument you don't get a variable (since presumably you'll always pass that same value, so no need to restore it from a checkpoint) but if you assign to the attribute you always get a variable.

[2019-08-12 15:56] yongtang opened #31548 "Add adjust_batch or (re_batch) support for tf.data"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): N/A
- Are you willing to contribute it (Yes/No): Yes

**De

[2019-08-12 15:59] yongtang commented on #31548
/cc @jsimsa @mrry  I am wondering if the above feature request makes sense? I could create a PR if it makes sense.

[2019-08-12 16:05] arozans opened #31549 "tf.Estimator starts with GPU and switches to CPU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 16.04.4 LTS (Xenial Xerus)
- TensorFlow installed from (source or binary): from pip
- TensorFlow version (use command below): 1.14, but earlier also for 1.11
- Python version: 3.6
- CUDA/cuDNN version: 10.0.130 / 7.6

[2019-08-12 16:14] qlzh727 commented on #30961
I wasn't able to reproduce the issue with the snippet above on the latest head. The issue seems to be already fixed by the new execution path.

[2019-08-12 16:26] martinwicke commented on #15332
Sorry, fell off my radar. It looks to me like @patzm is correct, you need the graph to make the merg_all. I can reopen.

[2019-08-12 16:28] sziem opened #31550 "Error: Check failed: dims == sizes.size() (5 vs. 4), when using CPU and MKL instead of Eigen or GPU."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.13.6 High Sierra
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command b

[2019-08-12 16:31] rhezab commented on #29504
@ymodak  So I realized this was a stupid mistake where I should've been doing

`arr = arr.write(i,i)`

Apparently this is required in graph mode - perhaps a side effect problem. Is this the same problem with using list appends? Why does it sometimes work and sometimes not?

I guess some explanation of the above would be nice... then again maybe I need to read the AutoGraph documentation more caref

[2019-08-12 16:51] DavidS3141 commented on #31514
I was aware of this documentation, however this is only noted on the regular convolutions. For the depthwise convolution this documentation (and the raising of an exception) is either missing, or the case is not correctly implemented! I assumed the second case is true, because depthwise convolutions are probably handled differently concerning GPU optimization which might not yield the restriction

[2019-08-12 16:56] jsimsa commented on #31548
Hi @yongtang, do you have evidence that suggests that a fused implementation of `unbatch().batch()` would be more efficient than the existing one (based on two separate transformations)?

If so, I would be open to implementing this fused kernel and introducing it as a static optimization. In other words, users still write `unbatch().batch()` and tf.data would automatically rewrite this to fused im

[2019-08-12 17:00] #28513 closed

[2019-08-12 17:26] #9359 closed

[2019-08-12 17:32] jvishnuvardhan commented on #31085
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-08-12 17:32] #31085 closed

[2019-08-12 17:46] jvishnuvardhan commented on #28796
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken. If anyone interested in creating PR, please feel free to create a PR. Thanks!

[2019-08-12 17:46] #28796 closed

[2019-08-12 17:50] ymodak commented on #31475
It looks like you are installing **TensorFlow** (TF) prebuilt binaries.

**TensorFlow release binaries version 1.6 and higher are prebuilt with AVX instruction sets.**
Therefore on any CPU that does not have these instruction sets, either CPU or GPU version of TF will fail to load.

Apparently, your CPU model does not support AVX instruction sets. You can still use TensorFlow with the alternatives

[2019-08-12 17:52] ymodak commented on #31471
I apologize, but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new). Please provide all the information it asks. Thank you.

[2019-08-12 18:02] Vearol commented on #26398
@abhishekm-in , I hope this will help with frozen graph issue

[code]

[2019-08-12 18:10] amirstar commented on #7983
I had experienced the same issue. I had 8 GPUs and run two python scripts on two of them. What worked for me that I just closed one of the python programs.

[2019-08-12 18:16] jaingaurav commented on #9359
Thank you everyone for requesting this feature. Due to feedback from the community we have built this feature behind the `tf.enable_tensor_equality()` toggle. This will be enabled by default in 2.0.

Please provide any feedback on this feature with the upcoming nightly builds.

[2019-08-12 18:28] jvishnuvardhan commented on #31476
@peteboothroyd Can you provide a standalone code to reproduce the issue? Thanks!

[2019-08-12 18:32] xilenteyex commented on #25724
Hi @qqfish,
I am trying to create a framework for speeding up TensorFlow programs using model parallelism. When one of the GPUs stays idle for sometime even when there are operations ready to be executed, performance improvement is not as expected and is sometimes worse than the CPU, negatively impacting the performance of my framework.
If you can share a temporary workaround for now. That will be

[2019-08-12 18:42] jvishnuvardhan commented on #31477
@oracle3001 There are couple of resources [1](https://www.tensorflow.org/guide/extend/op#build_a_pip_package_for_your_custom_op), and [2](https://github.com/tensorflow/docs/blob/master/site/en/guide/extend/op.md) for building custom ops.  Thanks!

[2019-08-12 18:42] ebrevdo commented on #9368
This had to be rolled back, unfortunately, because in eager mode the gradient computation accidentally inserts hessian gradients as it can't tell that the input op is a Zeros or ZerosLike.  We'll have to fix this first.

[2019-08-12 18:43] ymodak commented on #31498
This is fixed with latest tf-2.0-nightly build  '2.0.0-dev20190812'.

[2019-08-12 18:43] #31498 closed

[2019-08-12 18:53] ymodak commented on #31505
Did you install TF 1.14, 2.0 from source or binary?
Also did you install TF-GPU version for both versions of TF?
Can you please check with ```tf.test.is_built_with_cuda``` for both TF versions?

[2019-08-12 19:02] jvishnuvardhan commented on #31486
@tmattio Can you provide a standalone code to reproduce the issue? Current code throws an error. Thanks!

[2019-08-12 19:03] ymodak commented on #31502
Please provide all the information asked by the template. It will help us assist you better.
From the error message looks like you are trying to use adam optimizer in TF 2.0. In that case,
You may try  [```tf.optimizers.Adam()```](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/optimizers)

[2019-08-12 19:05] ymodak commented on #31471
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-08-12 19:05] #31471 closed

[2019-08-12 19:19] xilenteyex commented on #26340
@prb12 , can you please have a look at this ?
Thanks!

[2019-08-12 19:25] ianpdavies commented on #19420
This still seems relevant because, as far as I know, the training argument does not exist in the Sequential API.

[2019-08-12 19:53] mihaimaruseac commented on #31477
Unfortunately I won't have cycles to look into this, especially given that it's a Windows issue. Assigning to @gunan, possibly for future triage

[2019-08-12 19:55] defineapoorv opened #31561 "TensorFlow Lite conversion"
**System information**
- TensorFlow running in Google Colab

Text Output from TFLite convert

[code]

[2019-08-12 19:57] isaprykin commented on #31231
Model.fit() was recently made work with generators and distribution strategies.  Could you try the latest version of TF2?  Does it provide a work-around for you?

This works:
import numpy as np
import tensorflow as tf
#strategy = tf.distribute.MirroredStrategy()
strategy = tf.distribute.experimental.MultiWorkerMirroredStrategy()

def generator():
      while True:
        yield np.ones([10, 10], n

[2019-08-12 20:02] oracle3001 commented on #31477
@jvishnuvardhan - I have read those resources, and have a range of custom ops, which all build / work fine with TF v1.14.

It is only when I try and compile against TF v2.0 nightly preview do I run into compiler errors.

[2019-08-12 20:04] HassanAlsamahi opened #31562 "decode_png returns shape of 3 dimensions of question marks"
I am trying to read an image and convert it into tensor using the following code

[code]

and when I try to print its shape
`print(img_tensor.shape)`

it gives me 3 question marks instead of values:
`(?, ?, ?)
`

why it doesn't work and how to fix this??

[2019-08-12 20:11] jvishnuvardhan commented on #31514
I was able to reproduce the issue with 1.13.1 and even with `tf-nightly`. [Here](https://colab.sandbox.google.com/gist/jvishnuvardhan/4057ece04f24fa13db3c57c3bb36bad0/tf_31514.ipynb) is the gist. Thanks!

[2019-08-12 20:27] ymodak commented on #31470
Please provide following information:
****System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version (use command be

[2019-08-12 20:30] prb12 commented on #26340
It's a *long* time since I worked on any of this code... but from a quick scan of the 'list of ops with missing exection times' it looks like the vast majority are what I would call 'metadata-only' ops ... i.e. ops that do not need to launch a CUDA kernel to compute their results.   Examples include things like `Shape`, `Rank`, `BroadcastGradientArgs`, which all deal with the *shapes* of tensors a

[2019-08-12 20:36] jvishnuvardhan commented on #31517
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-08-12 20:50] gunan commented on #31477
@goldiegadde did anyone else report issues with custom ops with 2.0?

[2019-08-12 20:53] LiyouZhou commented on #29829
@chenyuZha I think the training is not affected at all. You don't need to change anything about the training. Here are the steps after training
1. export the graph without custom operators
2. quantize to 8 bit
3. Run inference and get output
4. decode output by writing your own decoder

[2019-08-12 21:10] juve commented on #22098
I am seeing a memory leak that looks like the same issue. I get it with anaconda::tensorflow from conda, but not with conda-forge::tensorflow nor the tensorflow from pypi.

[2019-08-12 21:11] jpienaar commented on #31501
Thanks for the report, importing savedmodel is WIP (should see changes soon). For now you can try freezing the input savedmodel as workaround until then.

[2019-08-12 21:18] aaroey commented on #31441
The original request seems related to Jetson platform. I'm not familiar with that. @nluehr any suggestions?

[2019-08-12 21:18] antiagainst commented on #31501
+1 to what @jpienaar said. It's WIP right now.

[2019-08-12 21:22] tmattio commented on #31486
@jvishnuvardhan I just copy-pasted both of the code sample in a file and ran them without any issue.

Are you using the same environment? What is you error?

[2019-08-12 21:33] ymodak commented on #31518
I was able to reproduce the reported behavior with tf-nightly (1.15.0-dev20190812) as well.

[2019-08-12 21:39] aaroey commented on #31007
@sgambient yes that is the case. But future version of TensorRT may address this issue by supporting dynamic shapes (even on batch dimension), and we'll update the TF-TRT bridge correspondingly when that comes out.

[2019-08-12 21:43] gowthamkpr commented on #31395
@Jasperty Are you still facing the same issue or did you solve it?

[2019-08-12 21:43] ymodak commented on #31562
I guess you are using TF 1.X.  You can try couple of things
- Try using ```tf.session``` to print value of ```img_tensor.shape```
-  Simply enable eager execution and run code snippet
[code]

[2019-08-12 21:45] jvishnuvardhan commented on #31486
@tmattio Sorry for the mistake. I tried with `tf-nightly` and reported the error. Yes, I can reproduce the issue with `TF1,14`. Thanks!

[2019-08-12 21:57] isaprykin commented on #28018
@ymodak Could you please mirror this internally as per comp:dist-strat?

[2019-08-12 22:00] jvishnuvardhan commented on #31283
@asispatra Your `example-2.py` needs to be modified for performance through data pipeline. Please follow example in TF website and other places. I hope community will respond to you soon or else we might answer there. I am closing the issue here. Thanks!

[2019-08-12 22:00] #31283 closed

[2019-08-12 22:04] gowthamkpr commented on #31258
@GjyJason DO you have multiple versions of Tensorflow on your system? Also please refer to this following [link](https://blog.csdn.net/qq_18649781/article/details/89842430) where the cause of this problem is clearly explained. Thanks!

[2019-08-12 22:13] jvishnuvardhan commented on #31415
Please fill the issue [template](https://github.com/keras-team/keras/issues/new?template=a--tensorflow-backend-users.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide a standalone code to reproduce the issue. Thanks!

[2019-08-12 22:24] RochaStratovan opened #31567 "TensorFlow for C doesn't compile - cannot open source file "tensorflow/c/tf_attrtype.h""
My team is requesting that we use the C API for tensorflow.

I followed the instructions outlined under "Install TensorFlow for C" (https://www.tensorflow.org/install/lang_c). However, when I attempt to compile it fails with the message:

I am using Windows 10 with Visual Studio 2017. The steps used for installation/compilation are as follows:

1.  Download Windows CPU zip file
2. Extract to deskt

[2019-08-12 22:36] anilknayak commented on #30388
Does this problem solved for CUDA 10.0 and CUDNN 7.4

I have installed CUDA 10.1 and CUDNN 7.5, it does not work.
[code]

same error.

[2019-08-12 22:40] kkimdev commented on #31084
@ltrottier Hi, sorry for getting back late.  Though it seems like this is just how Python works.

[code]

More info: https://stackoverflow.com/a/19837590

I agree that it's quite confusing though :(

[2019-08-12 22:40] #31084 closed

[2019-08-12 22:42] andrey999333 commented on #31505
1) I install tensorflow 2.0 using pip (since conda install is not available for this version) and tensorflow 1.14 using conda.
2) Yes, both gpu versions
3) Just did  - both return True

[2019-08-12 22:48] ymodak commented on #31426
You need to initialize the variables inside the session. For instance,
[code]
See https://www.tensorflow.org/guide/variables#initializing_variables
https://colab.research.google.com/gist/dsgupta/bb90037cb95573f610ff2d974883286d/test.ipynb#scrollTo=du7QsOQeKpAS&line=8&uniqifier=1

[2019-08-12 22:49] gowthamkpr commented on #31547
@DeeperDeeper As you can refer to the source code [here](https://github.com/tensorflow/tensorflow/blob/e19c354920c3b246dda6598229210a582caaa1a9/tensorflow/python/keras/layers/normalization.py#L262), tensorflow.keras.layers.BatchNormalization() only takes float16 or float32 values as input. This is the cause of your error. Please let me know if it helps. Thanks!

[2019-08-12 22:50] jvishnuvardhan commented on #31367
@mkravchik I cannot reproduce the error if you remove init op. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/179569689d746cc40770799bb952024f/tf_31367.ipynb). Thanks!

[2019-08-12 22:55] karmel commented on #30143
I am not sure exactly why it didn't fail, but I'm guessing it's more that it accidentally works, rather than an intentional implementation. In some cases, .fit is more restrictive, as we can't make assumptions about incoming data. If you want a precise answer as to why there is a difference, I would invite you to help us debug and determine what exactly the difference is in this case.

[2019-08-12 23:03] karmel commented on #30958
Sorry, can you clarify the current code and error? The example above is fairly complicated; can you reduce to the minimal example required to reproduce the error?

[2019-08-12 23:05] k-w-w commented on #30233
There aren't any plans to update `tf.train.Saver`, given that Keras checkpoints use a somewhat different saving format (`tf.train.Checkpoint`). I've created a gist demonstrating how to save/load the weights in Estimator and Keras. The main change to the usual Estimator code is the use of `tf.train.Checkpoint`.

https://gist.github.com/k-w-w/01c58789c2baf2a350c28e5a89566420

[2019-08-12 23:05] #30233 closed

[2019-08-12 23:13] rchao commented on #31252
@jtang7, I don't seem to be able to repro this. Can you try tf nightly and see if it fixes the problem?

[2019-08-12 23:26] k-w-w commented on #31421
I'm not sure I see the relation between pickling an object and Spark. Spark directly uses the SavedModel by calling `tf.saved_model.loader`, without re-serializing it to another format (from an admittedly brief look at the library - let met know if I missed something). Can you clarify?

[2019-08-12 23:36] golden0080 opened #31568 "Tensorflow 1.14.0 with C++17 Custom Op Has Binary Incompatibility"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes, I have a custom op written in CUDA.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): Source
- Tensor

[2019-08-13 00:01] devstein commented on #31421
@k-w-w Thanks for taking a look at this.

When you create a [user defined function](https://docs.databricks.com/spark/latest/spark-sql/udf-python.html) in Spark, it serializes (pickles) the function in order to distribute it across workers. In this case, I want to create a [user defined function](https://docs.databricks.com/spark/latest/spark-sql/udf-python.html) that predicts on each row with a S

[2019-08-13 00:03] protossw512 commented on #6720
@johnpjf
Thank you for the fix, however, I still found the new implementation is not aligned with OpenCV under bilinear interpolation, is that desired behavior?

Here is my test code:
[code]

Here is my output with tensorflow 1.14.0:
The upsample looks correct, but there seems to be some issue with downsample.
[code]

If I change bilinear to bicubic, there are even more inconsistent values in outp

[2019-08-13 00:25] haozha111 commented on #26398
The conversion fails because there are (among other unsupported ops) control flow ops (like Enter, Exit, LoopCond) in your model. tflite_convert can't handle those control flow ops at the moment. And we are working on a new converter that can handle the control flow ops.

[2019-08-13 00:33] yurivict opened #31570 "tensorflow estimator doesn't need to depend on tensorflow"
Tensorflow estimator (https://github.com/tensorflow/estimator) installs only a set of python files, and doesn't really require Tensorflow to build. However, its build looks for Tensorflow for some reason.

Please remove the build-time Tensorflow dependency in Tensorflow estimator.

Estimator should actually be either a part of Tensorflow itself, or Tensorflow should depend on it because the Tensor

[2019-08-13 00:43] k-w-w commented on #31421
That makes sense, thank you for the explanation!

`infer` is a ConcreteFunction which is an object defined in Tensorflow, which isn't compatible with pickle. You can file a separate issue requesting this feature, or submit a PR to add this functionality.

A possible workaround is to create a regular python function that loads the SavedModel and calls the default signature function, and register th

[2019-08-13 00:43] #31421 closed

[2019-08-13 00:50] scaler2017 commented on #30191
pip install wrapt --upgrade --ignore-installed
pip install tensorflow
This worked for me too，Thanks.

[2019-08-13 01:07] tangjie77wd commented on #19909
@spivakoa Hi,could you tell me the batch inference is slower or not than single inference? I test it [https://stackoverflow.com/questions/57460782/batch-inference-is-as-slow-as-single-image-inference-in-tensorflow-c](url) and find the time is too long .

[2019-08-13 01:15] tangjie77wd opened #31572 "batch inference is as slow as single image inference in tensorflow c++"
OS:Ubuntu 16.04
version:Tensorflow c++ 2.0-beta1 (compiled with all optimization flag:AVX AVX2 SSE4.1 SSE4.2 FMA XLA)
IDE:eclipse
With CUDA:No (just CPU in my prediction)
I have test the time of single image inference with tensorflow c++ api is 0.02 seconds which is so long that i just can not believe with my own eyes because i have compiled tensorflow c++ shared library with all the optimizations

[2019-08-13 01:34] brucechou1983 commented on #18822
@ChiFang  Do you find any solution for this? I ran into the same issue. Tried allow_growth option but no luck.

[2019-08-13 01:46] Rudy-Zhang commented on #30782
I got the same issue, did you solve it? @tdplaza

[2019-08-13 02:17] Rudy-Zhang commented on #30782
I create estimator and preditor based on tensor2tensor following code

[code]

then got

when I print session_config
`print(run_conf.session_config)`

I got

still can't solve this problem

[2019-08-13 02:18] Rudy-Zhang opened #31573 "use estimator got InvalidArgumentError Cannot assign a device for operation and allow_soft_placement: true doesn't work"
I create estimator and preditor based on tensor2tensor following code

[code]

then got

when I print session_config
`print(run_conf.session_config)`

I got

still can't solve this problem

[2019-08-13 02:50] tangjie77wd commented on #10669
Do you mean that the inference slowdown in tensorflow c++ disappears after you use the model which be trained and evaluated in python with the same batch size (equal to 1)? I have the same problem with you (Running session using c++ api is significantly slower than using python) and i have tried many solutions as the following shows:
1.compile tensorflow c++ shared library with opmizition flags:AV

[2019-08-13 03:11] johnpjf commented on #6720
For bilinear you are using antialias=True for tensorflow, which enlarges the kernel when downsampling to antialias, this is why your downsampling version is different in TF.
For bicubic you also have antialias=True, but the upsampling version is also different. This looks like it's from a different choice of the parameter in bicubic kernel https://en.wikipedia.org/wiki/Bicubic_interpolation#Bicubi

[2019-08-13 03:25] mohapatras commented on #31539
Solution is to remove `img_f32 = tf.image.convert_image_dtype(img_decode, dtype=tf.float32)` if using `tf.image.resize_bilinear()` API. It works fine.

[2019-08-13 03:25] #31539 closed

[2019-08-13 03:28] since2014 commented on #31190
**Solve this issue by commented the code blocks below**
[code]

[2019-08-13 03:43] oanush commented on #31533
@VirRajpurohit ,
Can you please go through that [link](https://www.tensorflow.org/lite/models/object_detection/overview).Thanks!

[2019-08-13 04:06] golden0080 commented on #23561
I have similar issue when compiling my custom op with C++17. I did try to compile TF 1.14 with the mentioned flags: `--config=c++1z`, but got hit by compilation errors. Any ideas?

[2019-08-13 04:14] capilano commented on #30233
@k-w-w Thanks, I cannot remember exactly now but I think I ran into issues when creating a network using tf.keras.layers without using a keras model, I just replaced tf.layers with tf.keras.layers and something broke somewhere but I cannot precisely remember where.

[2019-08-13 04:55] ribtoks commented on #26398
@haozha111 That's great news. Any idea when this new converter might be available?

[2019-08-13 05:37] ravikyram commented on #31286
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-13 05:37] #31286 closed

[2019-08-13 05:39] rabinandan commented on #31403
Yes, It helped me.
Thank You.

[2019-08-13 05:40] #31403 closed

[2019-08-13 05:43] ravikyram commented on #31256
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-13 05:43] #31256 closed

[2019-08-13 05:53] chengleiwang commented on #31434
Ping @sjamesr , any suggestion?

[2019-08-13 05:54] oanush commented on #31542
Issue replicating for TF version 2.0beta,please find the [Gist](https://colab.sandbox.google.com/drive/1m2B-zIfKhOcHSjgewe21gRRcnqS872FO#scrollTo=QuDnAykpgEhp) of Colab. Thanks

[2019-08-13 05:55] chengleiwang commented on #31195
Any update? Thanks.

[2019-08-13 06:08] VirRajpurohit commented on #31470
@ymodak

As I have mentioned I am running the sample on my samsung A50.

Only two changes I have made in the sample code that is that changing label file and added my own tflite model, I have ended up with this error

java.lang.RuntimeException: Failed to find input Node 'image_tensor'

[2019-08-13 06:20] ZhuoranLyu commented on #22360
@cheneyoung HI, did you use the C API for tensorflow with the tensorrt optimized protobuf? Did you see a speedup there?

[2019-08-13 06:21] VirRajpurohit commented on #31533
@oanush
Thanks for sharing link. I have gone through it.

Tried to understand the theory but as I am stepping as beginner in tensorflow,.

I just want to know that

Cannot copy between a TensorFlowLite tensor with shape [1, 1917, 4] and a Java object with shape [1, 3].

What above error actually says, Does anything needs to be changed in my model, if yes than what?

[2019-08-13 06:26] elvys-zhang opened #31576 "AttributeError: module 'tensorflow' has no attribute '__version__'"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-08-13 06:30] PigApple commented on #31252
Guess this is a known issue of tf 2.0?
_At the time of writing, fault tolerance is supported when eager execution is disabled (see following code snippet for how this can be done). TensorFlow team is actively investing in making fault tolerance available in eager execution as well._

https://www.tensorflow.org/beta/tutorials/distribute/multi_worker_with_keras#fault_tolerance

[2019-08-13 06:31] mgyong commented on #30181
@covertg I am trying to cross compile on Raspberry pi zero. Appreciate if you could share yr code in a github gist or repo? thanks

[2019-08-13 06:34] ravikyram commented on #31568
@golden0080

Can you please provide detailed reproduction instructions to reproduce it on our environment.Thanks!

[2019-08-13 06:40] oanush commented on #31527
@ys10 ,
In order to expedite the trouble-shooting process, please provide compelete code snippet to reproduce the issue reported here. Thanks!

[2019-08-13 06:48] ravikyram commented on #31561
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in the Github new issue [template](https

[2019-08-13 06:54] VirRajpurohit commented on #29054
@Gmrevo
Hi,

Any solution you got for above error. I am stuck in the same from last few days. Can you please assist.

Thanks

[2019-08-13 06:55] Oktai15 commented on #25231
@YakirYehuda my problem was related with tensors with shapes > 4. It turned out that TFLite can’t do any operation with them.

[2019-08-13 06:57] oanush commented on #31524
@bitwanghe

[2019-08-13 07:04] tdplaza commented on #30782
yes, I did.

My problem was, I need putting allow_soft_placement=True on both training, and inferencing config Session.

My problem occurs when I only put it on training config, and inferencing through above  error.

When inferencing, make sure you put it on configProto, then create a Session with that ConfigProto. Then run the tf.global_variables_initilizer(). Then create a saver object and resto

[2019-08-13 07:11] elvys-zhang commented on #21503
So what is the solution of this issue? Why it was closes? I have met the same issue here
https://github.com/tensorflow/tensorflow/issues/31576

[2019-08-13 07:12] rmothukuru commented on #31543
@Uiuran ,
If I understand your description, you want the explanation about `('__variable_store',)` and `('__varscope',)`  in the documentation corresponding to `GraphKeys`.

If it is so, the documentation about `GraphKeys` is present in this [TF Link](https://www.tensorflow.org/api_docs/python/tf/GraphKeys) and the Code corresponding to `GraphKeys` is present in this [Github Link](https://github.c

[2019-08-13 07:15] oanush commented on #31521
@KanwarpartapSinghBimrah ,

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.
In order to expedite the trouble-shooting process, please provide complete code snippet to reproduce the issue reported here in accessible format. Thanks

[2019-08-13 07:18] oanush commented on #31509
@oracle3001 ,
In order to expedite the trouble-shooting process, can you please provide complete code snippet to reproduce the issue reported here.Thanks!

[2019-08-13 07:56] DoritoDog opened #31577 "TensorFlow Lite BroadcastTo"
**System information**
Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 64 bit
TensorFlow installed from (source or binary):source
TensorFlow version (use command below): tf-nightly
Python version: Python 3.6
GCC/Compiler version (if compiling from source): N/A
CUDA/cuDNN version:

[2019-08-13 08:05] carlthome commented on #9359
Fantastic! Looking forward to trying it out @jaingaurav.

[2019-08-13 08:12] bitwanghe commented on #31524
' Win 7 '
' tensorflow-1.13.1 '
I restore the parameters from mobilenetV2 , and rewrite the last layer. Then retrain the whole graph.

Thank you!

[2019-08-13 08:21] bitwanghe commented on #31524
here is my code:

if __name__ == '__main__':

    print("loading model...")
    tf.reset_default_graph()  # 构建计算图
    os.environ["CUDA_VISIBLE_DEVICES"] = "0"
    finetune_model_dir = './mobilenet_v2_1.0_224/mobilenet_v2_1.0_224.ckpt'
    train_records_dir = './train_records/train_records.txt'
    val_records_dir = './val_records/val_records.txt'
    train_labels_dir = './train_label.txt'
    val_

[2019-08-13 08:22] daniele-sartiano commented on #27416
Any news about the saving issue?

[2019-08-13 08:36] #31444 closed

[2019-08-13 09:06] abhay1722 commented on #31413
@martinwicke Thanks for the reply.
We observed with scale = 0.2, the assertion fails at 55th iteration with expected auc versus evaluated auc in https://github.com/tensorflow/tensorflow/blob/v1.14.0/tensorflow/contrib/metrics/python/ops/metric_ops_test.py#L2309 with values as below:

[code]

Please find more information below:

On s390x:-
[code]

As we can see above, the imprecision between the `e

[2019-08-13 09:08] ravikyram commented on #31544
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the code snippet to reproduce the issue.  If you are unclear what to include see the issue template displayed in the Github new issue [template](https://github.com/tensorflow/tensorflow/is

[2019-08-13 09:11] oanush commented on #31516
@zwenju ,
I was unable execute the give code, can you please provide the code with proper indentation?Thanks

[2019-08-13 09:13] jrosseel commented on #25942
Broken again in numpy 1.17.0

[2019-08-13 09:25] ZhuoranLyu commented on #23692
@alvaroslm Hi, I just followed your steps but I get stuck on step 5. How did you link manually?

[2019-08-13 09:26] Gmrevo commented on #29054
Hi Vir,

Enabling GPU in my project still has been a mystery. I couldn't get the delegate working but you can always look for enabling **NNAPI** at the android side. You can refer to the NNAPI implementation in the class file attached below.
[TFLiteObjectDetectionAPIModel_javaClass.txt](https://github.com/tensorflow/tensorflow/files/3496271/TFLiteObjectDetectionAPIModel_javaClass.txt)

[2019-08-13 09:31] ravikyram commented on #31541
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the minimal code snippet to reproduce the issue. If you are unclear what to include see the issue template displayed in the Github new issue [template](https://github.com/tensorflow/tensor

[2019-08-13 09:33] oanush commented on #31504
@Bakibiiiillah ,
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.
In order to expedite the trouble-shooting process, please provide complete code snippet to reproduce the issue reported here. Thanks!

[2019-08-13 09:40] zwenju commented on #31516
Thank you,  the new code is provided

[2019-08-13 09:43] ravikyram commented on #31538
@berkerbilgi

I am not able to open the link you have provided.Please, share the correct link.

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the code snippet to reproduce the issue. If you are unclear what to include see the issue te

[2019-08-13 09:44] oanush commented on #31131
Closing since the issue is resolved.Thanks!

[2019-08-13 09:46] jkamalu commented on #29525
Hi @rmlarsen, I just wanted to let you know that errors resembling this decrease in speed were reintroduced by later nightly builds. This isn't a request for a fix (I downgraded to the July 24 nightly and everything works fine now), but I thought you might like to know just in case it's a simple thing.

With the **_same code_** (multi-gpu setting on TF v2 with LSTM) ...

On the July 24 build... mo

[2019-08-13 09:52] sdll commented on #27058
@yuefengz, this results in a bad experience with AI Platform, since `MultiWorkerMirroredStrategy` fails because it get confused about `master`. I would love to see this documented somewhere.

[2019-08-13 09:54] oanush commented on #31519
@zwenju ,
Hi,When tried executing the given code error `NameError: name 'neutron_network' is not defined` was faced.Thanks!

[2019-08-13 10:03] CNugteren commented on #13463
I encountered an issue where TFRecords where occasionally genuinely corrupt (verified with the posted code) when producing them in parallel, but not when producing them in a single process. It turned out to be an issue with the fact that the list of TFRecords to be produced was not unique, and that would occasionally make two processes write to disk at the same time, causing corruption. So if you

[2019-08-13 10:03] jeffpollock9 opened #31579 "[TF 2.0] allow tf.function input_signature to be specified by annotations"
**System information**

- TensorFlow version (you are using): 2.0.0-rc0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

`tf.function` has an argument `input_signature` which I have been using to try and make my code a bit safer and ensure I don't keep re-tracing functions. The `input_signature` specifies the tensor type for each of the fu

[2019-08-13 10:05] oanush commented on #31227
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-13 10:05] #31227 closed

[2019-08-13 10:07] oanush commented on #31266
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-13 10:07] #31266 closed

[2019-08-13 10:20] KanwarpartapSinghBimrah commented on #31521
@oanush Now it's working fine and I fix all the errors. if in future I need help I let you know.

[2019-08-13 10:22] rmothukuru commented on #31537
@loffermann ,
In Github, with Tensorflow Version 2.0, `ConvLSTM2DCell` is in `keras/layers/convolutional_recurrent.py` in this [Github link](https://github.com/tensorflow/tensorflow/blob/d90e521d71b88f469e68eb1a467606ea6d44c733/tensorflow/python/keras/layers/convolutional_recurrent.py) and `LSTMCell` is in `keras/layers/recurrent.py` in [this link](https://github.com/tensorflow/tensorflow/blob/d90

[2019-08-13 10:27] VirRajpurohit commented on #29054
@Gmrevo

Hi,

Thanks for your quick reply.
I have replaced the file with yours.

Ended up with the same error as above.

[code]

[2019-08-13 10:30] oanush commented on #31521
Thank you for the feedback.Closing since the issue is resolved.

[2019-08-13 10:30] #31521 closed

[2019-08-13 10:36] rmothukuru commented on #31531
Could reproduce this issue with Tensorflow Version 1.14. Gist is in [this link](https://colab.sandbox.google.com/drive/1wYqgjX92dhHmOBH1-Q9u_XQ0ckoY5TSJ#scrollTo=v3HKUlHOhuLa).

Thanks.

[2019-08-13 10:44] loffermann commented on #31537
Thanks for your reply.
As you described, the class for ConvLSTM2DCell is there – and I am aware of that. However, a @keras_export('keras.layers.ConvLSTM2DCell') is missing (line 484 [here](https://github.com/tensorflow/tensorflow/blob/d90e521d71b88f469e68eb1a467606ea6d44c733/tensorflow/python/keras/layers/convolutional_recurrent.py)), and thus the class is currently not accessible via the Keras AP

[2019-08-13 11:04] rmothukuru commented on #31537
@loffermann ,
I could run the below code without any error, for `Tensorflow` Version, `2.0.0-beta1`.

[code]

Please try it at your end and let me know if it helps. Thanks!

[2019-08-13 11:08] oanush commented on #31404
@ZesenChen ,
When tried executing the code given, error `NameError: name 'timesteps' is not define` was faced.Thanks

[2019-08-13 11:31] sdll commented on #31510
@pwais, thanks for your reply! I have switched to using 4 K80 Teslas instead of 2 V100 GPUs and also disabled evaluation by replacing `train_and_evaluate` with `train`, and the training started working fine. One difference between training and evaluation is that during evaluation I skip cropping the image for data augmentation, which results in a larger input. Wonder whether this is a latent OOM e

[2019-08-13 11:33] DeepBlender commented on #30955
Thanks for the clarification!

At this point, the documentation feels very misleading in the sense that "Everything is Possible in TensorFlow 2.0!" kind of sense. For me, it reads like: Do whatever you want. (Intentionally exaggerated of course!)
However, those details are missing (as far as I can see), but they are certainly very important. Should I create a new issue to point to this deficiency

[2019-08-13 11:38] ravikyram commented on #31549
Looks like the code is incomplete.Can you please provide full code snippet to reproduce it on our environment.Thanks!

[2019-08-13 11:39] dbonner commented on #31187
@jalexstark
Hi Alex,
The attached files represent (1) bazel --verbose_explanations and (2) the entire cleaned capture of the output to the terminal when the following command's were issued:

`**TERM=dump
script capture.txt

./configure

bazel build --explain=verbose_explanations.txt --verbose_explanations --verbose_failures --subcommands=pretty_print --config=opt --config=cuda --config=v2 --cxxopt

[2019-08-13 11:44] loffermann commented on #31537
This works, thank you.
Wouldn't it be nice though to just add the export decorator for consistency? I guess this would also provide an entry and documentation for [the API docs](https://www.tensorflow.org/api_docs/python/tf/keras/layers), making an already implemented feature more visible.
If this is not possible for whatever reason, feel free to close this issue.

[2019-08-13 11:54] ravikyram commented on #31546
I have tried on colab with TF version 1.14, nightly versions, 2.0.0-dev20190813 and was able to reproduce the issue.Please, find the [gist ](https://colab.research.google.com/drive/1yAK1iG0wdAo51uDk6YGifdV2-vpiEzqm)here.Thanks!

[2019-08-13 12:23] zwenju commented on #31519
Please , try the new code,  I have change neutron_network to func.  thanks

[2019-08-13 12:36] tensorflowbutler commented on #28323
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-08-13 12:37] defineapoorv commented on #31561
Hey,
I encountered this issue on Google Colab. I was running Python3 notebook. I
don't know what Architecture or OS is Google Colab using. And I install
tf-nightly via pip.

Hope that helps

On Tue, Aug 13, 2019 at 12:28 PM ravikyram <notifications@github.com> wrote:

--
Regards
Apoorv Agarwal
Github <https://github.com/defineapoorv> | LinkedIn
<https://www.linkedin.com/in/apoorvagarwal00/> | Devp

[2019-08-13 12:39] DoritoDog commented on #31577
After a ton of debugging, the problem is two calls to tf.subtract that are causing the broadcast error. However, the [documentation](https://www.tensorflow.org/lite/guide/ops_compatibility) says "and broadcasting is only support in a limited number of ops (tf.add, tf.mul, tf.sub, and tf.div)".

Is anyone aware of a workaround or something?

[2019-08-13 12:42] JiayiFu commented on #31478
Is there any other information need me to add? I would like to share other needed codes.

[2019-08-13 13:08] oracle3001 commented on #31509
Here is a minimal model that produces the same issue...

[code]

[2019-08-13 13:28] seanpmorgan opened #31582 "[TF2] Unhashable variables breaks ExponentialMovingAverage"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): tf-nightly-2.0-preview

**Describe the current behavior**
As described in https://github.com/tensorflow/te

[2019-08-13 13:29] ravikyram commented on #31520
Just to verify did you get chance to follow instructions from TensorFlow [website](https://www.tensorflow.org/install/source_windows) .Please, let us know.
Please, go through the below link and see if it helps you.Thanks!
https://github.com/tensorflow/tensorflow/issues/31085

[2019-08-13 13:38] ravikyram commented on #31522
Just to verify did you get chance to follow instructions from TensorFlow [website](https://www.tensorflow.org/install/source) .Please, let us know. Thanks!

[2019-08-13 13:42] Bakibiiiillah commented on #31504
Thanks a lot @oanush for your gentle reply, actually I am working on kaggle, the version of tensorflow I haven't checked yet, actually  I have to generate adversarial sample using fast gradient sign method for diabetic retinopathy dataset, but I got some error related with tensorflow. It's raelly very important for me too solve as it is my undergraduate thesis topic. The version of tensorflow is 1

[2019-08-13 13:47] Bakibiiiillah commented on #31504
@oanush , further for any question you can ask me any time, it's really important to solve.
TIA

[2019-08-13 13:48] CarloGraziani commented on #20208
This is not an ideal workaround, because it is inefficient from the standpoint of autodiff. The graph of the forward-rlowed function will consist of those 5-8 iterations that havr to be differentiated through. The derivatives of this function are known in closed for, and a sane implementation would use those expressions.

Which is to say, an effort commitment by a tensorflower to fix this problem

[2019-08-13 13:55] hunterwallace commented on #31544
**System information**
- Have I written custom code:
no

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows 10, 64-bit operating system, x64-based processor.

- TensorFlow installed from (source or binary):
C=Not sure if compiled from source or binary.... working through anaconda and the actual script is run with IDLE. Hope this helps.

- TensorFlow version (use command below):
Ten

[2019-08-13 13:57] Bakibiiiillah commented on #31504
@oanush
This screenshot provides name of my kaggle dataset
![dr](https://user-images.githubusercontent.com/50144400/62947534-827eb780-be04-11e9-873c-d22742f4ed2d.PNG)

[2019-08-13 14:00] bionicles commented on #31579
the whole concept of "None" == "Anything" is insane and reflects poorly on Tensorflow and Keras team + users

[2019-08-13 14:18] ravikyram commented on #31535
@kielnino
I tried to reproduce your code in Google Colab but i am getting the below error.Please, help me to reproduce the issue.
![image](https://user-images.githubusercontent.com/51902062/62949114-3c752400-be03-11e9-91ab-614ced24a032.png)

[2019-08-13 14:25] nikzzastic commented on #25942
I also think the same

[2019-08-13 14:26] ravikyram commented on #31528
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

We ask for this in the issue submission template,

[2019-08-13 14:27] Mohamedebouguerra opened #31583 "From object detection using Tensorflow"
from utils import label_map_util

from utils import visualization_utils as vis_util

ImportError                               Traceback (most recent call last)
<ipython-input-4-956de605e8fe> in <module>()
----> 1 from utils import label_map_util
      2
      3 from utils import visualization_utils as vis_util

C:\Users\hp\Downloads\models\research\object_detection\utils\label_map_util.py in <mod

[2019-08-13 14:28] bionicles commented on #30925
@alextp @ymodak Yeah, it is a big project, but my concern is, None causes serious issues in the code, reads weirdly, and adds a bunch of boilerplate, like we have to write out all these Nones or it's gonna bug out. None means "nothing" -- but in Keras, it means "Anything" like a wildcard. TF/Keras "None" means the **_exact opposite_** of English "None"

If we need recurrent or recursive nets to pr

[2019-08-13 14:44] kielnino commented on #31535
@ravikyram Thank you for having a look.
I forgot the efficientnet-module in the pip-installs. The colab is updated now.

[2019-08-13 14:52] sdll commented on #27487
Any updates on this?

[2019-08-13 14:57] yongtang commented on #31548
Thanks @jsimsa! Static optimization makes much more sense than introducing another op of rebatch. Let me take a look and see if I can create a PR with it.

[2019-08-13 14:58] sdll commented on #30665
Had the same issue with 4 workers, each with 2 Tesla K80s, on the AI Platform. Not sure whether this is a CUDA problem, since it is not reproducible: launching another job worked well.

[2019-08-13 14:59] alanpurple commented on #31520
@ravikyram

I see, so vs2019 is not supported and seems to be never?

[2019-08-13 15:05] devstein commented on #31421
@k-w-w
Would you be able to provide an example of calling the (non-ConcreteFunction) default signature function for a SavedModel in `TF 2.0`?

I'll make a feature request if this workaround doesn't work 👍

[2019-08-13 15:45] jdduke commented on #29054
You need to change the shape of the output buffer that you're feeding to the interpreter. The error message is saying that the Java array you've provided doesn't match the shape of the output tensor. In the sample, the number of detections is hardcoded to 10, but it looks like your model is outputting 1917. Might be an issue with how you've converted your model.

[2019-08-13 16:09] martinwicke commented on #31413
My concern is that something on s390x is lowering expectations for
precision all over the place. Do we understand why that is? I'd rather
avoid increasing test tolerances. I'd also like to avoid fixes like the one
you propose, which make this test extremely brittle (I suppose using
scale=0.23 just hit a particularly lucky combination of numbers which
doesn't every hit the worst case).

You can sen

[2019-08-13 16:22] berkerbilgi commented on #31538
@ravikyram

When i am trying to install "TensorFlowLiteSwift" library with Cocoapods, getting an error. The link is not working and i think this is the problem. Link is provided by google for downloading the TensorFlowLiteC library.
So i cannot share the correct link because it is google link.

[2019-08-13 16:30] angularos commented on #27909
Any update here?

[2019-08-13 16:51] mjlbach opened #31588 "Performance issue: per-device memory usage increases with number of devices within tf.distribute strategy"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-08-13 16:55] jiawei6636 commented on #30263
Has this problem been solved?

[2019-08-13 16:59] KeshavJB5 commented on #24815
Wher Would I get source code  for it

[2019-08-13 17:00] KeshavJB5 commented on #24815
this issue is opened or closed I am not getting it

[2019-08-13 17:01] xilenteyex commented on #26340
Thanks for the Explanation!

[2019-08-13 17:03] xilenteyex commented on #26713
@penpornk, it will be great if can comment on this issue.
Thanks!

[2019-08-13 17:05] chuanqi129 commented on #30629
Also have this issue too

[2019-08-13 17:13] mihaimaruseac commented on #30629
Just to confirm, @chuanqi129 did you do a fresh checkout of the branch, are using bazel 0.21.0, ran `./configure` before starting the compile?

What python and compiler are you using? What operating system?

[2019-08-13 17:15] mihaimaruseac commented on #31576
TensorFlow 1.10 is long outside of the support window as it has been released more than a year ago.

Please try using a newer version and let us know if issue persists.

[2019-08-13 17:16] penpornk commented on #26713
@xilenteyex I'm so sorry for the delay! I'll look into this soon!

[2019-08-13 17:28] manavkulshrestha commented on #29845
I'm using bazel 0.26.0 with numpy installed but the problem still persists

[2019-08-13 17:33] haozha111 commented on #26398
Hi, the new converter is being developed and hopefully it will release in a few months (I don't have a timeline though, sorry about that).

[2019-08-13 17:43] rchao commented on #31252
@PigApple eager execution used to only affect worker failure-recovery, not regular training with `model.fit()`, plus now this is resolved (tutorial is now being updated). Would like to learn if this still happens with tf-nightly.

[2019-08-13 17:48] ymodak commented on #31505
Thanks. I suspect, you haven't added cuda path to the TF 2.0 environment. You need to manually add this after doing ```pip install```.

[2019-08-13 17:51] pplantinga opened #31591 "tf.signal.stft does not work in eager execution mode"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-08-13 17:53] jtang7 commented on #31252
@rchao Thanks! Will double check with nightly build and get back here

[2019-08-13 17:53] mihaimaruseac commented on #30028
Update: Instead of a 1.14.1 patch release, we will get a 1.15 version in a few weeks. Sorry for the extra delay this causes.

[2019-08-13 17:56] mihaimaruseac commented on #31226
Those error messages seem to come from Jupyter, not Tensorflow code. See for example https://github.com/jupyter/notebook/issues/3947

I think we can close this issue in this case.

[2019-08-13 17:56] #31226 closed

[2019-08-13 18:00] mihaimaruseac commented on #29845
Just to check that all is good, please post the output of the following command:

[code]

[2019-08-13 18:02] gowthamkpr commented on #31583
Please refer to the following [solution](https://github.com/tensorflow/models/issues/1595#issuecomment-309234210) which will help you in resolving this problem. Also please make sure to post questions like these on [Tensorflow/Models](https://github.com/tensorflow/models/issues) as this issue is related to Models. Thanks!

[2019-08-13 18:08] ezhulenev commented on #31210
[code]

[2019-08-13 18:09] mmkamani7 commented on #16455
This should be marked as the solution. That is the problem of Keras layers in tf estimator API that update ops are not attached to `tf.GraphKeys.UPDATE_OPS` and should be added using this line.

[2019-08-13 18:10] alanpurple commented on #31520
build success with VS2017, closing

[2019-08-13 18:10] #31520 closed

[2019-08-13 18:10] albertNod commented on #31501
Is there any WIP patch that you could share or some sort of timeline on when those changes may happen?

[2019-08-13 18:11] alanpurple commented on #31479
does not occur with latest repo

[2019-08-13 18:11] #31479 closed

[2019-08-13 18:16] penpornk commented on #26713
Cc'ing our GPU expert, @reedwm, as I mostly work on the CPU side.

[2019-08-13 18:22] k-w-w commented on #30233
I believe there are some minor differences between tf.layers and tf.keras.layers which may affect the resulting checkpoint. If you can reproduce the steps, that would be extremely helpful. (and don't forget to re-open the bug)

[2019-08-13 18:30] antiagainst commented on #31501
The implementation has already started, e.g., https://github.com/tensorflow/tensorflow/commit/4080ca3bf3e0434cba9036a7e789cdd0d443fd87 is a CL for preparation. We expect to push out more CLs soon. SavedModel has lots of details that need to be sorted out to be properly represented in MLIR and we are discussing on that. It won't be enabled all at once with one CL; it will be gradually implemented.

[2019-08-13 18:33] peterse commented on #31522
Yes. specifically:
[code]
followed by the build commands from my original post.

[2019-08-13 18:41] jvishnuvardhan commented on #31350
@jBachalo Did you try `from tensorflow.python.compiler import tensorrt as trt `? I have checked it in colab with `TF1.14.0` and `TF2.0b1`

[2019-08-13 18:48] manavkulshrestha commented on #29845
[code]

[2019-08-13 18:55] ymodak commented on #31507
Highly recommend trying [TensorFlow For Poets TF 2.0 version](https://colab.sandbox.google.com/github/tensorflow/examples/blob/master/community/en/flowers_tf_lite.ipynb) if haven't already.

[2019-08-13 19:03] andrey999333 commented on #31505
can you elaborate a bit more on how to do it? I've tried to google it and couldn't find any info on how to add cuda path to tensorflow

[2019-08-13 19:05] djl11 opened #31593 "parallel_for: No converter defined for Cross"
Currently PFor is not registered for tf.cross operation, as evident in [pfor.py](https://github.com/tensorflow/tensorflow/blob/21f5e55ccc42daf14e6386d1d27d0103b29f2c92/tensorflow/python/ops/parallel_for/pfor.py).

With this operation being very fundamental to linear algebra, it seems to me it would be very useful, particularly for enabling vectorization for efficient jacobain computation of functi

[2019-08-13 19:08] jvishnuvardhan commented on #31525
@sjtusmartboy Did you try with recent version of TF (`1.14.0`, `tf-nightly`, `2.0b1`). Thanks!

[2019-08-13 19:36] jimaldon commented on #8033
@ibadami  Yes! memcpy to the rescue

[code]

[2019-08-13 19:59] bencbartlett commented on #30094
I'm also having this problem! TensorFlow version 1.14, running on CPU

[2019-08-13 19:59] rchao commented on #27909
Sorry for the delay. Will update here once we learn more. Thanks!

[2019-08-13 20:04] ntobis commented on #31513
Ok I did some more experimenting and it is fixed when the input is not 1-hot encoded and there is only 1 output neuron. So at this point I am not sure if this is intended behaviour, but all metrics run correctly if we change the following 2 lines:

This: `train_labels = np.eye(2)[np.random.randint(0, 2, size=(10, 1)).reshape(-1)]`
To: `train_labels = np.random.randint(0, 2, size=(10, 1))`
and
This

[2019-08-13 20:12] chandramtv opened #31595 "How to create a concrete function for getting coordinates of a masked image and convert it to tensorflow lite model"
How to create concrete function in tensorflow to get semantic segmentation image and calculate co-ordinates.

We are having current code for the same but not able to concrete function as we wanted to convert in tflite file for mobile application.

Existing normal code is given below:
def predict_new_image(img_path, model):
img = load_img(img_path, grayscale=True)
x_img = img_to_array(img)
x_img =

[2019-08-13 20:13] #31562 closed

[2019-08-13 20:16] ymodak commented on #31245
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-13 20:35] ymodak commented on #31505
Sure. Take a look at https://www.tensorflow.org/install/gpu#linux_setup

[2019-08-13 20:43] pandrey-fr commented on #30263
Sort of. The error message no longer shows in the nightly builds, and there has been improvements on the performance dropouts related to not disabling Eager in 2.0. That being said, I personally still cross a lot of situations when disabling Eager (while running in 2.0 to benefit from the API cleanup) makes things smoother (or simply workable in some cases). On the overall, it feels like the beta

[2019-08-13 20:45] pandrey-fr commented on #30263
@jiawei6636 You might want to read and follow the newest messages on #29525 - there appears to be further development as to this specific issue.

[2019-08-13 20:49] gowthamkpr commented on #31591
Was able to reproduce the error in [TF 2.0 Beta](https://colab.sandbox.google.com/gist/gowthamkpr/74a254946776db6e740d9a0ad9ed40c8/untitled89.ipynb) and also in [TF1.14](https://colab.sandbox.google.com/gist/gowthamkpr/6e84c9853c21172a507ba5c7267ebb3d/untitled87.ipynb).

[2019-08-13 20:51] k-w-w commented on #30808
Thanks for submitting this report, I've submitted a fix, which I'll request to be cherrypicked into 2.0.

[2019-08-13 20:59] mihaimaruseac commented on #29845
Thanks. That confirms that `numpy` is visible from the path you're building tensorflow. Next step in debugging would be to try

[code]

Please let us know what that prints

[2019-08-13 21:01] pandrey-fr commented on #30561
Thank you for the advice! I will make sure to be more careful about that in the future. Using lambdas has always felt counter-intuitive as it is rather unpythonic, but with your explanation I know understand why lambda layers should be used to wrap one-liners that do not require actual sub-classing :)

Actually, not in the context of this issue. The home built version I used to run the initial tes

[2019-08-13 21:02] gowthamkpr commented on #31576
@mihaimaruseac Using TF 1.14 with TF Serving 1.14, doesn't result in any error. Please find the colab notebook [here](https://colab.sandbox.google.com/gist/gowthamkpr/b915a82d399c2e1a91f035574e87c93c/untitled91.ipynb)

[2019-08-13 21:12] jvishnuvardhan commented on #31513
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-08-13 21:12] #31513 closed

[2019-08-13 21:12] ymodak commented on #31216
I suspect your TF session fails to recognize gpu.
From the template you say you are using cuda 10.0 however nvidia-smi shows cuda 10.1
Can you please confirm what version of cuda you are installing? Also installed from binary or source?
Also can you please print following output;
[code]

[2019-08-13 21:15] fchollet commented on #30952
Hi,

Thanks for the report and the reproduction script.

I am not able to reproduce the memory leak with the beta1 release on CPU, with the script provided. I will try GPU next.

The tutorial script itself does not seem to feature a memory leak either on CPU or GPU.

Please try your reproduction script with your local configuration with the TF2.0 nightly build: https://pypi.org/project/tf-nightly-

[2019-08-13 21:23] gowthamkpr commented on #31576
@elvys-zhang Can I close the issue as it has been resolved. Thanks!

[2019-08-13 21:27] fchollet commented on #30952
I cannot reproduce the memory leak on Colab on either GPU or CPU: https://colab.research.google.com/drive/19CrtGEtAQQNSzwbCA1GL-NypPBucxuyF

Memory usage is flat within epochs and across epochs. The only bumpy is at the start of training (which is expected), and it is a very small bump.

It appears that the issue is specific to your configuration. As such, I would recommend reinstalling TF 2.0 (ni

[2019-08-13 21:43] KonstantinaLazaridou commented on #21832
Same issue here and I can't find an appropriate tensorflow version. I currently have ubuntu version `16.04.6`, driver version `410.78`, cuda version `10`, conda version `4.7.11` and none of the above-mentioned tensorflow versions works for me. I tried `1.13.1`, `1.7` and `1.14`.
Anaconda installs cudnn with version `7.6.0`. Updating anaconda also didn't help. Everything seems to be in the latest s

[2019-08-13 21:44] jvishnuvardhan commented on #31365
@ialdencoots The second line in your code `tf.summary.histogram` is expecting a real numeric tensor as an input but you are providing non-eager tensor `tf.keras.layers.Input`. In the TF website, it was clearly mentioned that

`values: A real numeric Tensor. Any shape. Values to use to build the histogram`

The following with a numeric tensor works well
[code]
I am closing the issue as it was resol

[2019-08-13 21:44] #31365 closed

[2019-08-13 21:55] k-w-w commented on #27705
@jvishnuvardhan Use method 1.

[code]

The above error is appearing because [1, 2, 0] is being converted into separate tensors. Using `tf.constant` to convert the entire array into a tensor (try `model(tf.constant([[1, 2, 0]]))`).

[2019-08-13 21:55] #27705 closed

[2019-08-13 22:05] k-w-w commented on #28923
I am currently submitting a fix for this issue, which will allow DenseFeatures to be saved and loaded using Keras APIs (`model.save` and `tf.keras.models.load_model`).

The best practices can be summed up to:
 If you are planning to load the model back into Keras, use the Keras APIs for saving and loading. If you're not planning on using the Keras APIs to further train the model, then `tf.saved_mo

[2019-08-13 22:06] alextp commented on #31545
@edloper do you think we should add dispatch support to tf.shape as well, or do you think that'd be more confusing?

[2019-08-13 22:07] ymodak commented on #31561
https://github.com/tensorflow/tensorflow/issues/30185#issuecomment-506833929

[2019-08-13 22:07] #31561 closed

[2019-08-13 22:22] nfelt commented on #30094
@omalleyt12 could you take a look?  I'm not sure how Keras is supposed to behave here in TF 2.0 + non-eager mode.

[2019-08-13 22:26] michaelbenayoun opened #31596 "TFLiteConverter fails with tf.gather when the params argument is a layer attribute"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04.5 LTS
- TensorFlow installed from

[2019-08-13 22:40] ziofil commented on #31304
Yes, that's wonderful thank you!

[2019-08-13 22:40] #31304 closed

[2019-08-13 22:41] leimao commented on #18858
So what is the final solution to this? Has TensorFlow added this feature or fixed this "bug"?

[2019-08-13 22:51] jvishnuvardhan commented on #28007
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-08-13 22:53] alextp commented on #31408
@rmlarsen is this the scalar vs vectorized path difference we saw in the other bug?

[2019-08-13 23:00] jvishnuvardhan commented on #30908
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-08-13 23:00] #30908 closed

[2019-08-13 23:02] jvishnuvardhan commented on #27432
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-08-13 23:02] #27432 closed

[2019-08-13 23:05] mengdong commented on #31434
I recommend to try gcc 6.5, you can use update-alternatives to switch between gcc 7.4 and gcc 6.5. The build should be successful. @chengleiwang

[2019-08-13 23:09] fchollet commented on #30952
It seems that updating the TF version from beta1 to the latest nightly fixes the issue for me. Could you check if the update works for you as well?

[code]

[2019-08-13 23:14] ipod825 commented on #28007
Hi @jvishnuvardhan, the snippet I wrote still failed with the same error message in colab (using gpu accelerator). Even 2.0-beta version failed too. Could you please describe how you make it work?

[2019-08-13 23:21] chengleiwang commented on #31434
@mengdong, actually I am using clang as compiler.  So how could update-alternatives  gcc can build successful?

[2019-08-13 23:25] devmessias commented on #25398
This functionality was recently added

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/array_ops.py#L1955

[2019-08-13 23:25] #25398 closed

[2019-08-13 23:49] mengdong commented on #31434
ah, sorry I missed, I haven't built with clang before hence no comment on that.

[2019-08-13 23:59] HassanAlsamahi commented on #31562
yeah the tf.Session solved my problem, thanks

[2019-08-14 00:11] jvishnuvardhan commented on #31317
Automatically closing this out since I understand it to be resolved by @srihari-humbarwadi , but please let me know if I'm mistaken.Thanks!

[2019-08-14 00:11] #31317 closed

[2019-08-14 00:13] bananabowl commented on #31253
I'm not able to reproduce this - can you update to the latest tf-nightly-gpu package and try again? Thanks!

[2019-08-14 00:30] sgambient opened #31598 "In 1.14 does using TF-TRT still show TensorRT nodes in Tensorboard graph ?"
I am not seeing any TensorRT related nodes in  Tensorflow 1.14  in Tensorboard graph.   Is that supposed to be that way ?  In that case how do I make sure TF-TRT is in fact used ?

[2019-08-14 00:33] ymodak commented on #31562
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-08-14 00:56] imbakassinn opened #31600 "Issue with model.predict()"
- **Have I written custom code - Yes I have written some custom code
- **OS Platform and Distribution - Ubuntu Server 18.04
- **TensorFlow installed from - Installed by pip
- **TensorFlow version (use command below)**: v2.0.0-beta0-16-g1d91213fe7 2.0.0-beta1
- **Python version**: 3.6.7
- **Exact command to reproduce**:
[code]

### Describe the problem
When I try to predict with the model created a

[2019-08-14 01:00] #31220 closed

[2019-08-14 01:11] k-w-w commented on #29545
In TensorFlow 2.0, you should save the model with `save_format="h5"` extension, otherwise it will default to saving to the SavedModel format. Another way to save to H5 is to set the extension to ".h5" or ".hdf5" or ".keras". The H5 format does not support saving Subclassed models, so the initial error stating that only Sequential and Functional models may be saved is intended.

(The documentation

[2019-08-14 01:28] sjtusmartboy opened #31602 "How the embedding matrix is optimized using DNNLinearCombinedClassifier"
From the document: https://www.tensorflow.org/api_docs/python/tf/contrib/learn/DNNLinearCombinedClassifier

We know the parameter includes linear_optimizer and dnn_optimizer that can be used to optimize the linear part and dnn part of the weights. However, it seems that the optimization of the weight of embedding matrix is not involved, such as embedding matrix of the wide and deep model. So my qu

[2019-08-14 01:31] Rudy-Zhang commented on #30782
Thank you for your remind! I solved the problem just as you did. When I put config in predictor's config, the error does not show any more.

[code]

[2019-08-14 01:32] Rudy-Zhang commented on #31573
I solved it. Explained in this [issue](https://github.com/tensorflow/tensorflow/issues/30782)

[2019-08-14 01:32] #31573 closed

[2019-08-14 01:35] jselstad commented on #28184
(I was able to solve the `python.exe' is not executable. Is it the python binary?` issue by running the `bazel build` command from git Bash instead of Powershell.)

[2019-08-14 01:35] jinmel opened #31603 "Lookahead optimizer"
**System information**
- TensorFlow version (you are using): 1.14
- Are you willing to contribute it (Yes/No):Yes

**Describe the feature and the current behavior/state.**

https://arxiv.org/abs/1907.08610

This is not a conventional optimizer as in tensorflow API. It observes through k iterations of optimizers(SGD, Adam), and linear interpolates entire weight into direction where fast weight afte

[2019-08-14 02:26] jichangsheng opened #31604 "custom implementations: DEPTH_TO_SPACE."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 14.04):
- TensorFlow installed from (binary):
- TensorFlow version (1.14.0):

  Some of the operators in the model are not supported by the standard TensorFlow Lite runtime and are not recognized by TensorFlow. If you have a custom implementation for them you can disable this error with --allow_custom_ops, or by setting allo

[2019-08-14 02:32] namedysx commented on #29971
I had the same problem.
how to solve this problem

[2019-08-14 02:37] alanpurple commented on #31523
fixed with conda python update and tensorflow sh update

[2019-08-14 02:37] #31523 closed

[2019-08-14 02:47] lxl910915 opened #31605 "QueueDequeueV2 Operation's device is different between tensorboard and timeline"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-08-14 02:49] namedysx commented on #29971
@alextp

I ran his code three times, and I get this error.
maybe you should run the code he provided a few times to get this error.

[2019-08-14 02:52] Kuanch commented on #24789
This still happens on TF1.13 with TensorRT 5.0.6, InceptionResnetV2 is twice bigger than before tf-trt optimization, independent from any optimization parameters.

[2019-08-14 02:52] stancosti commented on #31196
I'm experiency the same issue. Please help.
How can I switch protobuf to  @use zlib_archive?

System information
OS Platform and Distribution: Linux Ubuntu 18.04.1 LTS
TensorFlow: v1.14.0
Python version: 3.7
Bazel version: 0.26.1
GCC/Compiler version: 7.4.0

Command:
bazel build --config=mkl --config=noaws --config=nogcp --copt="-fPIC" --verbose_failures //tensorflow/tools/pip_package:build_pip_pa

[2019-08-14 02:54] Patrickctyyx commented on #26289
This works for me

[2019-08-14 03:00] sgambient commented on #31286
Hi, with the following code I see the error in the "docker pull nvcr.io/nvidia/tensorflow:19.07-py2" container.  However in the "docker pull tensorflow/tensorflow:devel-gpu" , I did not observe the error. My suspicion is TF-TRT is not working in "tensorflow/tensorflow:devel-gpu" !! Can you please confirm both ?

[code]

[2019-08-14 03:29] m3bm3b commented on #31301
This should now be fixed at TensorFlow head.

[2019-08-14 03:29] #31301 closed

[2019-08-14 03:29] oanush commented on #31596
Issue replicating with TF nightly-2.0-preview.

[2019-08-14 03:32] lxl910915 commented on #31605
Same to this: https://github.com/tensorflow/models/issues/1390#issuecomment-301695244

[2019-08-14 03:39] WindQAQ commented on #31591
@pplantinga Hi, I think you just missed the lambda layer. Because the functional API is used to building graph, so the tensor operations have to be wrapped in `tf.keras.layers.Layer` instance. So, a workable example should be
[code]
If you don't really want to build graph via functional API, the following example can manipulate `stft` result eagerly:
[code]

See more details about [functional API]

[2019-08-14 03:52] WindQAQ commented on #31600
Hi @imbakassinn, since dense layer takes `N-D` tensor (N >= 2) as input with first dimension=batch_size and obviously the `trainarray` is a `1-D` array, this is why the issue caused. So the workable example should be

[code]

https://www.tensorflow.org/api_docs/python/tf/keras/layers/Dense#input_shape

[2019-08-14 03:57] ZhuoranLyu commented on #22005
@fferroni Hi, did you finally figure this out? Did you compile both libtensorflow_cc.so and libtensorflow_framework.so?

[2019-08-14 04:20] ravikyram commented on #31403
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=31403)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=31403)

[2019-08-14 04:25] ravikyram commented on #31520
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=31520)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=31520)

[2019-08-14 04:26] mudassirej commented on #31216
I installed a Cuda version 10 from the source. I attached a picture which shows the running cuda version and tf.session result. It shows XLA-GPU device, what does it mean?
![tensor1](https://user-images.githubusercontent.com/45818401/62994416-5c055e80-be8e-11e9-9019-a43d2856234f.png)

[2019-08-14 04:28] rmothukuru commented on #31537
@loffermann ,
`ConvLSTM2D` is already present in the link mentioned by you. Closing the issue as it is resolved.

[2019-08-14 04:28] #31537 closed

[2019-08-14 05:46] ravikyram commented on #31567
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

If you are unclear what to include see the issue template displayed in the Github new issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose).

We ask for this in the issue submission template,

[2019-08-14 05:48] oanush commented on #31458
Issue replicating with TF version 2.0beta, kindly find the [gist](https://colab.sandbox.google.com/drive/1qB1JOy9v5IW-zbgRCiMS795e2Dmj92lc#scrollTo=fuCUdASHo_t7) of colab.

[2019-08-14 06:07] abhishekm-in commented on #26398
@Vearol, Thanks for your reply! I am aware of this method. The problem is that the transformer model I cited in my reply uses estimator. So I converted to saved_model.pb but I am not able to convert it to frozen graph pb. Do you know how to go about it?

@stefan-falk could you let me know how you managed to obtain frozen graph from transformer estimator.

[2019-08-14 06:13] zhushichuan commented on #6082
Generally, the catalog of the model is incorrect.

[2019-08-14 06:16] ravikyram commented on #31595
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-08-14 06:20] puneethmishra commented on #31595
We are using a UNET architecture for medical image segmentation. Using the keras version present within tensorflow 2.0. trying to compile from the source . The model gets packaged well within the TFLite. But not able to package the additional code for calculating coordinates of the masked image.

[2019-08-14 06:52] Asorie opened #31607 "Keras Models with tf.sparse.sparse_dense_matmul can't be saved - Not JSON Serializable"
**System information**
- OS Platform and Distribution: Windows 10 Version 1607
- TensorFlow version: 2.0.0-beta1
- Python version: 3.7.3

**Describe the current behavior**
Error:
[code]

**Describe the expected behavior**
Save without error

**Code to reproduce the issue**
[code]

[2019-08-14 07:00] mayadav1 opened #31608 "Auto-Configuration Error: Couldn't find undname.exe under C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\"
**System information**
- OS Platform : Windows 10
- TensorFlow installed from (source or binary): source
- TensorFlow version: r1.13
- Python version:  python3.6
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source): 0.21.0
- Compiler version (if compiling from source): VS2019,16.2,MSVC++=14.22

**Describe the problem**
Auto-Configuration Error: Couldn't find

[2019-08-14 07:22] capilano commented on #30233
@k-w-w I just looked at the gist you made. I did not explicitly create tf.train.Checkpoint and pass it to the scaffold class like you did and since the estimator(I think) uses tf.train.Saver under the hood, it expects the variable names to be the same while restoring. One other difference I noticed(not directly related to this) is that tf.keras.layers will rename layers even if a name is provided

[2019-08-14 07:28] ialdencoots commented on #31365
Do you mean to tell me you can't get summary statistics for any tensor that is the result of an operation of a tensor fed into a graph? So basically weights are the only tensors you can get histograms for? If that's not a bug, it's definitely functionality that ought to exist.

[2019-08-14 07:40] littlebeandog commented on #22837
So this issue is closed without solution?

[2019-08-14 07:43] an1018 commented on #31561
@ymodak  Have it not soved yet?
And when will it be available?
Looking forward your replace,thx

[2019-08-14 07:46] shkarupa-alex commented on #18858
No, there is no easy solution.
EstimatorSpec for training does not include metrics.

First way you can go - estimate and write metrics manually from custom model_fn.

Second way i made for myself - estimator wrapper.
Here it is https://github.com/shkarupa-alex/tfmiss/blob/master/tfmiss/estimator/extenders.py (since my package requires to be built with bazel you may copy this particular file)
Based

[2019-08-14 07:55] sondrewb commented on #27120
Is there any progress on this? I currently have a training function that takes an optimizer and a NN model as input. It works fine when running it the first time after declaring the tf_function. However, on subsequent runs (with a new optimizer and network) it fails to run due to the reasons above, I believe.

[2019-08-14 07:57] leaf918 commented on #31015
solved.

[2019-08-14 08:04] VirRajpurohit commented on #29054
The number of detections is hardcoded to 10, but it looks like your model is outputting 1917-> So hardcoding to 1917 should work?

Also this 1917 value is coming from model so what changes model needs?

[2019-08-14 08:14] elvys-zhang commented on #31576
@gowthamkpr Sure. I found that this issue has been fixed in tensorflow serving 1.10.1. Thanks

[2019-08-14 08:14] #31576 closed

[2019-08-14 08:15] mmmmayi opened #31609 ""Init node weights/Assign doesn't exist in graph" happens when use convert in tflite"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 18.04
- TensorFlow installed from (source or binary):
- TensorFlow version: Tensorflow nightly
- Python version: 3.6
- Installed using virtualenv? pip? conda?: pip
- CUDA/cuDNN version: 7/10

**Describe the problem**
When I tried to convert a TensorFlow GraphDef into a TensorFlow Lite FlatBuffer from a tf

[2019-08-14 08:18] 1shi12shi2 opened #31610 "fatal error LNK1201:check for insufficient disk space, invalid path, or insufficient privilege"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Window 10
- TensorFlow installed from (source or binary): build from source
- TensorFlow version: 1.12.0
- Python version: 3.6.7
- Bazel version (if compiling from source): 0.15.0
- GCC/Compiler version (if compiling from source): VS2015 update3
- CUDA/cuDNN version:9/7
- GPU model and memory:Titan V 11G

**Describe

[2019-08-14 08:18] MasterGG opened #31611 "[issue]Pb convert to tflite :how to calculate output min max of concatenation layer"
I notice that tensorflow source code in quantized_concat_op.cc use the function of **CalculateInputAndOutputRange()** to caculate the minmax value of input and output feature maps, which just let the output min value be the minimum of the  input_mins[i], and max value be the maximum of the  input_maxes[i].
But when i convert pb file to tflite, the minmax value of output feature map of  concat laye

[2019-08-14 08:29] SumNeuron commented on #27161
@walidk anything?

[2019-08-14 08:37] Zdahap commented on #31611
Has the problem been solved? I also encountered the same problem.

[2019-08-14 08:47] BeWe11 commented on #30952
Hey, I just want to say that I experienced the same problems with memory leaks (very high memory usage during first epoch) and installing the nightly version instead of beta1 fixed it for me.

[2019-08-14 08:50] GrHound commented on #31402
Dear Mihai,

what do you mean with 'cycles'? (I am not a GitHub expert user)
I suppose it is positive for the suggestion (?)

Best regards!
Lambert
________________________________
From: Mihai Maruseac <notifications@github.com>
Sent: Thursday, August 8, 2019 4:37 PM
To: tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: GrHound <lrb_schomaker@hotmail.com>; Author <author@noreply.github.com

[2019-08-14 08:56] TangLaoDA commented on #6968
yes,me too

[2019-08-14 09:00] yqtianust commented on #31408
I tested in GPU, there is no such problem.
However, this problem occurs when I use CPU (9900K).

System information

Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04 LTS
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
Tensor

[2019-08-14 09:06] oanush commented on #31509
@oracle3001 ,
When tried executing the given code, error `NameError: name 'generate_prototypes' is not defined` was faced.Thanks!

[2019-08-14 09:08] ravikyram commented on #31358
I have tried on colab with TF version 1.13.1 and was able to reproduce the issue.Please, find the [gist](https://colab.research.google.com/drive/1iQnd2Psdc__CByVhjj8yBsKcMaI2Q7pw) here.Tried reproducing the issue with TF 1.14,nightly versions and 2.0 beta versions we see the different errors.

[2019-08-14 09:22] GerScau opened #31612 "tf-lite android so build fail"
**System information**
- OS Platform and Distribution:  (e.g., Linux Ubuntu 18.04)
- TensorFlow installed from (source or binary):  source
- TensorFlow version: r1.13
- Python version: 2.7
- Bazel version (if compiling from source):  0.24.1
- GCC/Compiler version (if compiling from source):  gcc version 4.8.5
NDK version 14
SDK version 24

*Describe the problem**
`bazel build -c opt //tensorflow/c

[2019-08-14 09:24] oanush commented on #31519
@zwenju,
Thank you for the code,when tried executing the given code i got the output as per the screenshot
![output](https://user-images.githubusercontent.com/52397990/63010108-667e2300-bea3-11e9-958e-b8a9a8e843f5.png)

[2019-08-14 09:28] yqtianust commented on #31408
If we use `dtype=tf.float16`, there is no such problem.

[2019-08-14 09:32] ZhuoranLyu commented on #23692
@alvaroslm finally I got the .so file compiled. However, the test program doesn't work properly, which gives the link error:

错误	LNK2001	无法解析的外部符号 "char const * __cdecl tensorflow::core::GetVarint32PtrFallback(char const *,char const *,unsigned int *)" (?GetVarint32PtrFallback@core@tensorflow@@YAPEBDPEBD0PEAI@Z)	test-tensorflow-c++	C:\Users\lvzhuoran\source\repos\test-tensorflow-c++\test-tensorflo

[2019-08-14 09:32] aakbar5 commented on #31196
@stancosti, see the patch (as a diff view) in the problem description to fix your problem.

[2019-08-14 09:40] aakbar5 commented on #31196
@perfinion, you will find this issue on by doing standard tensorflow build from the commandline for the specified revision. Mine build command was
[code]

[2019-08-14 09:41] oanush commented on #31516
@zwenju ,
Thank you for the updated code,when tried executing the same I got the output as per the screenshot
![output](https://user-images.githubusercontent.com/52397990/63011334-bcec6100-bea5-11e9-967e-2f2f8ef832dd.png)

[2019-08-14 09:42] breadbread1984 commented on #22837
@littlebeandog  only model created with functional api or sequential are serializable. otherwise, you can only call save_weights() without  graph structure. so this is a trade off between convenience of eager mode and serializability of graph mode.

[2019-08-14 09:50] JiayiFu commented on #31447
It seems to be solved by recording some audios and then just playing it? The audios can be generated from TTS first. Or combine an image recognizer model and a TTS model in your apps?

[2019-08-14 09:57] AtekiRyu commented on #15835
Hi i meet the same problem with tf1.12 CPU version on Windows.
When create a PartitionedVariable with
`
ps_count = 5
embeddings = tf.get_variable(
                    "embeddings", [term_hash_bucket_size, embedding_count], dtype=tf.float32,
                    initializer=variable_initializer, partitioner=tf.fixed_size_partitioner(ps_count))
`
it will cost 20mins for sees.run(tf.global_variable_in

[2019-08-14 09:57] pandrey-fr commented on #30952
Hi,
Thank you for the follow-up on this. I currently am on the move and will only have access to the machine I ran those tests on next week, but hopefully the nightly build comes with the rightful fixes indeed. I will post the results (and hopefully close this issue) next week.

[2019-08-14 10:09] oanush commented on #31536
@loffermann ,
Please be informed that I tried executing the given code and I did not face any error.Can you provide more info?Thanks!

[2019-08-14 10:23] ravikyram commented on #31595
Please, go through below link and see if it helps you to create a concrete function and convert to tensorflowlite. Thanks!
https://github.com/tensorflow/tensorflow/issues/26708

[2019-08-14 10:31] youngmantis opened #31613 "ImportError: DLL load failed"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2019-08-14 10:34] loffermann commented on #31536
@oanush I tried another computer (Ubuntu 18.04 and Quadro M1000M) and could not reproduce the issue either.
However, the issue is still reproducible on my original machine. I suspect this might be due to an unfortunate combination of CUDA drivers and Ubuntu kernel. I'll check that and come back if the problem still persists.
Thanks for helping me out!

[2019-08-14 10:34] #31536 closed

[2019-08-14 10:38] rgupta2508 opened #31614 "Licencing of TensorFlow conda distribution in miniconda docker image"
I am using conda distribution of Tensorflow inside miniconda3 docker image.
miniconda3 docker image i have downloaded from below link:-

https://hub.docker.com/r/continuumio/miniconda3

Installation of tensorflow & other dependencies in docker image:

    FROM continuumio/miniconda3
    RUN apt-get update && \
    apt-get install -y openjdk-8-jre-headless && \
    apt-get install -y ant && \
	apt-

[2019-08-14 10:57] rvallari1 commented on #31472
This is my .tf_configure.bazelrc file.. I am not using tf_api_version 2;

build --action_env PYTHON_BIN_PATH="/home/vallari/anaconda3/envs/inteldp/bin/python"
build --action_env PYTHON_LIB_PATH="/home/vallari/anaconda3/envs/inteldp/lib/python3.6/site-packages"
build --python_path="/home/vallari/anaconda3/envs/inteldp/bin/python"
build:xla --define with_xla_support=true
build --config=xla
build:Non

[2019-08-14 11:26] SumNeuron commented on #27107
@agarwal-ashish  @walidk @dynamicwebpaige  @wileeam any updates?

[2019-08-14 11:38] zwenju commented on #31516
Please run this code twice continuously,   I find the first run no errors,    the second run will show the errors.

[2019-08-14 11:41] zwenju commented on #31519
Thank you,      **dyy_dx = None**  is  actually not the expect results.
Could you fix this bug ?
Thanks.

[2019-08-14 11:45] YonghuiXu opened #31615 "I have installed tensorflow-gpu 2.0.0 alpha,how can I upgrade it to tensorflow-gpu==2.0.0-beta1,but didn't influence my tensorlayer."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-08-14 11:49] zwenju commented on #31516
![QQ截图20190814194837](https://user-images.githubusercontent.com/27112868/63018929-9b52a000-becc-11e9-8a31-b6964fc3beea.png)

[2019-08-14 11:53] mimxrt opened #31616 "Dataset prefetch not working as expected, not storing data in memory"
**System information**
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04 LTS
- **TensorFlow installed from (source or binary)**: conda-forge
- **TensorFlow version (use command below)**: unknown 1.14.0
- **Python version**: Python 3.7.3
- **CUDA/cuDNN version**:

[2019-08-14 11:53] zwenju commented on #31516
![QQ](https://user-images.githubusercontent.com/27112868/63019179-2cc21200-becd-11e9-9273-9757bb91b459.png)

[2019-08-14 12:05] RochaStratovan commented on #31567
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows 10
Visual Studio 2017

- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
Not applicable

- TensorFlow installed from (source or binary):
Assuming it's binary. The GIT hub page did (https://www.tensorflow.org/install/lang_c) not specify. Moreover, the contents of t

[2019-08-14 12:12] ravikyram commented on #31274
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-14 12:12] #31274 closed

[2019-08-14 12:35] tenshis commented on #26599
Did you solve it? I'm having the same issue

[2019-08-14 12:35] oracle3001 commented on #31509
Sorry, yes it is just a function to create random points. Here is the missing functions.

[code]

[2019-08-14 12:36] stancosti commented on #31196
@aakbar5, I saw the instructions (//third_party/protobuf/protobuf.patch) that are meant to replace @zllib with @zlib_archive. Why would the build fail even with these instructions?

How can I verify the patch is applied correctly and in the correct sequence (before the multiple definition error)?

You must be referring to these instructions:
diff --git a/BUILD b/BUILD
index 2fb26050..c2744d5b 1006

[2019-08-14 12:53] Vanrap commented on #31447
@JiayiFu, that makes sense. I was thinking of that, but how exactly would I do that? Where do I add the TTS code in the tflite files? Is there a tflite documentation explaining the function of each file?

[2019-08-14 12:53] ravikyram commented on #31535
@kielnino
I have reproduced the issue in Colab with TF 2.0 beta1 in eager mode i got the below error`OSError: [Errno 12] Cannot allocate memory`.However i tried by disabling eager execution it was stuck for more than 30 mins after 1st epoch and it is till executing. Can you please confirm? Thanks!

[2019-08-14 12:55] Efaq opened #31617 "Accuracy metric not consistent between training and evaluation when using same dataset for both train and test"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES, I made changes based on a script provided by TF
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): PIP install
- TensorFlow version (use command below): 1.14.0
- Python version: 3.6

**Intro**

In order to s

[2019-08-14 14:16] kb-1000 opened #31618 "CUDA installation link leads to 9.0 instead of 10"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-08-14 14:17] preethivenkatesh commented on #31472
Can you try building it without mkl flag to see if it’s successful?

[2019-08-14 14:56] yqtianust opened #31619 "Incorrect value in results when using tf.math.log()"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No idea
- TensorFlow installed from (source or binary): binary using pip3 install
- TensorFlow version (use

[2019-08-14 15:00] yqtianust commented on #31619
Well, this issue could be related to #31408

[2019-08-14 15:25] mcguires5 commented on #31613
Duplicate of #26364

[2019-08-14 15:33] kielnino commented on #31535
Yes, thats another issue with the `tf.keras.utils.Sequence` class and enabled multiprocessing, which I'm investigating at the moment. I've disabled multiprocessing in the Colab now, so that it should work now with eager execution disabled.

[2019-08-14 15:44] alextp commented on #31402
This should be in the [tensorflow/io](http://github.com/tensorflow/io/) repository

[2019-08-14 15:44] #31402 closed

[2019-08-14 15:52] ymodak commented on #26599
@tenshis @miladnoori1996  Please post a new issue and provide all information asked by the template. Thanks!

[2019-08-14 15:56] jdduke commented on #31538
@miaout17 can you advise?

[2019-08-14 15:59] jdduke commented on #31533
1917 refers to the number of detections. How did you convert/obtain your model?

In general, it's better to use StackOverflow for this kinds of basic usability questions. Please post there and provide a link here.

[2019-08-14 15:59] #31533 closed

[2019-08-14 16:04] mihaimaruseac commented on #31434
Afaik update-alternatives can also work with clang. Though I don't know which version is the one that's supported best

[2019-08-14 16:06] mihaimaruseac commented on #31619
I think they are related, but don't know if the fix to one will also fix the other one, so better to not mark them as duplicates

[2019-08-14 16:17] TheNewSound commented on #31352
@andrewharp ?

[2019-08-14 16:48] qqfish commented on #25724
First, I think `TF_GPU_THREAD_MODE` is good enough. In our multi-gpu benchmark, we don't see any performance issues causing by this.

If you find any gap causing by this issue in timeline, I think you can use control dependency to work it around. You can add a tf.Identity with control dependency to make sure the Memcpy is scheduled before other heavy gpu ops.

[2019-08-14 17:06] e-cortex commented on #29063
Facing same issue, no clue what's going on.

[2019-08-14 17:14] omoindrot commented on #25362
Would be great to have a clean tutorial somewhere on how to use TensorFlow Hub with TF 2.0.

For now, this script works for me on older modules but it's not perfect:

[code]

[2019-08-14 17:19] jdduke commented on #31577
@srjoglekar246 can you help investigate to see if BroadcastTo is truly necessary here? Or can be pruned away?

[2019-08-14 17:20] novog opened #31621 "Support a dictionary of tensors as a CompositeTensor"
- TensorFlow version (you are using): 2.0.0b1
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
The CompositeTensor base class offers a unified way of handling various types of tensors that are themselves composed of tensors. Currently, dictionaries of tensors are not supported; it would be useful if they were.

**Will this change the current

[2019-08-14 17:23] ymodak commented on #31618
Thanks. This is captured by #31143

[2019-08-14 17:23] #31618 closed

[2019-08-14 17:31] novog commented on #30069
I notice that someone had already created issue #26453 (Allow py_function to support functions that return RaggedTensor). Implementing this feature using composite tensors would also satisfy that issue.

[2019-08-14 18:26] sgambient commented on #31286
Is this  code and info enough for you to reopen the issue ?

[2019-08-14 18:38] stoooops commented on #24591
@G-mel What do you mean by `<eval_graph>` in your code? What type is that?

[2019-08-14 18:42] ymodak commented on #31397
Have you tried using ```freeze_graph.py```.
https://github.com/tensorflow/tensorflow/blob/236a77594fec644e0676ffe9144ff047cd7142fd/tensorflow/python/tools/freeze_graph.py#L26

[2019-08-14 18:46] seanpmorgan opened #31622 "GPU docker images and pip package have mismatched CuDNN versions"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16
- TensorFlow installed from (source or binary): Docker image
- TensorFlow version: Nightly
- CUDA/cuDNN version: Docker is cudnn 7.5 or 7.4 & pip package is cudnn 7.6

**Describe the problem**
The available GPU docker images (tensorflow/tensorflow:nightly-gpu ; tensorflow/tensorflow:gpu & the others) will f

[2019-08-14 18:55] jvishnuvardhan commented on #31365
@ialdencoots All I am saying is the function `tf.summary.histogram` can take only numerical tensor by design. `Input()` is used to instantiate a Keras graph tensor whereas `tf.summary.histogram` takes only a numerical tensor. `weights` are not the only tensors that can get histogram. Please check an [example](https://www.tensorflow.org/guide/tensorboard_histograms#some_more_distributions) from TF

[2019-08-14 19:26] ymodak commented on #31567
Can you please try with [MSVC 2015](https://visualstudio.microsoft.com/vs/older-downloads/)?
Thanks!

[2019-08-14 19:38] aaroey commented on #29039
@mhong right, I think stream and allocator management would be a problem. I'm not sure how pytorch allocate tensors, it may work if `t` is ready by the time when `convert_to_tensor(t)` is called. But in general I think this requires a non-trivial amount of changes to TF core. Marked as "contributions welcome".

[2019-08-14 19:44] aaroey commented on #27100
@isra60 @huaifeng1993 could you try to use tf-nightly-gpu and see if it can reproduce?

[2019-08-14 19:48] aaroey commented on #29771
@scotthong, I believed virtual gpu is an experimental feature, it has been tested in inference environment where there are no data dependency between the graph on different virtual GPUs. It has not been tested in training environment.

[2019-08-14 19:56] karmel commented on #31570
The Estimator package is pulled into TF proper, such that installing tensorflow includes tensorflow_estimator. The separate estimator package is not designed to be used independently per se, as it is part of the main TF package.

[2019-08-14 19:56] #31570 closed

[2019-08-14 19:58] karmel commented on #31525
I don't fully understand what is being described here-- the linked SO post seems unrelated? Can you clarify, and provide a minimal code sample to reproduce the issue you are describing?

[2019-08-14 20:05] dbonner commented on #31187
@jalexstark
Hi,
Have you had a chance to look at the files in the previous post?  Was that the information you were looking for or do you need me to run some other commands and get error info?
All the best,
Dan

[2019-08-14 20:14] tanzhenyu commented on #27416
What issue is remaining regarding this?

[2019-08-14 20:18] scotthong commented on #29771
The problem is that why tf.distribute.MirroredStrategy() does not work on two physical GPUs. 

    1. the results are similar between one GPU and two Virtual GPUs.     2. the results are very different between one GPU and two physical GPUs. 

    On Wednesday, August 14, 2019, 03:55:46 PM EDT, Guangda Lai <notifications@github.com> wrote:

@scotthong, I believed virtual gpu is an experimental feat

[2019-08-14 21:03] RochaStratovan commented on #31567
Hello @ymodak ,

I get the same result with Visual Studio 2015.

I think the root cause is that the windows installation zip file does not have the file
`tensorflow/c/tf_attrtype.h`

The failure is that this file cannot be found, and the only header files present after the install are:

C:\Users\xxxx\Desktop\tf-demo>dir /b /s include
C:\Users\xxxx\Desktop\tf-demo\include\tensorflow
C:\Users\xxxx\D

[2019-08-14 21:04] mihaimaruseac commented on #31570
For slightly more context: Estimator is separated from main TensorFlow for separation of concerns, to modularize code (see also https://github.com/tensorflow/community/pull/77). This allows for faster development and can make it function like a plugin.

However, Estimator is not designed to be used individually or to just do `import tensorflow_estimator` directly.

We are currently working on maki

[2019-08-14 21:39] ymodak commented on #31567
Yes you are right ```tensorflow/c/tf_attrtype.h``` is missing in windows package.

[2019-08-14 21:46] gowthamkpr commented on #31607
@Asorie Can you please take a look at the similar [issue](https://github.com/tensorflow/tensorflow/issues/27112) and let me know if it helps. Thanks!

[2019-08-14 22:03] kevin3-black opened #31625 "Strange result when fetching variables under a distributed strategy"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Mojave 10.14.5
- TensorFlow installed from (source or binary): binary (tf-nightly)
- TensorFlow version (use command below): 1.15.0-dev20190729
- Python version: 3.7.4

**Describe the current behavior**
When I am using any distributed strategy, and I fetch a `tf.Variable`, I ge

[2019-08-14 22:06] yurivict commented on #31570
I committed the FreeBSD port for TensorFlow but then I had to create a separate port for estimator because it was missing.

[2019-08-14 22:19] jvishnuvardhan commented on #31522
@peterse What version of nccl and visual studio you are using for the build? Are you installing on Ubuntu or Windows? Thanks!

[2019-08-14 22:20] ymodak commented on #31192
Apologies for the delay in response. ```contrib``` module is deprecated. Can you please try the example  using ```tf.keras.layers``` with latest ```tf-nightly``` build? Thanks!

[2019-08-14 22:38] jvishnuvardhan commented on #31544
@hunterwallace Looks like you 3048 MB memory was allocated to the conda's virtual environment and the `object_detection model`  ran out of memory trying to allocate 3.06GiB. You need to increase memory or use smaller models that requires lower memory. I think there are ways to increase your memory upto 3.9 GB but still lab will be less if you have little more memory for that model. Thanks!

[2019-08-14 22:44] gowthamkpr commented on #31619
@yqtianust I tried to reproduce the issue on [Colab](https://colab.sandbox.google.com/gist/gowthamkpr/b512cc2618fd02ca1c3b65cf5d7398e3/untitled93.ipynb) but was not able to reproduce it. Can you please provide a github gist of the issue. Thanks!

[2019-08-14 22:47] ymodak commented on #31216
Can you send your code as github gist or google colab gist? It will be easier to work with rather than screenshot. Thanks!

[2019-08-14 23:02] ymodak commented on #30820
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-14 23:02] #30820 closed

[2019-08-14 23:12] peterse commented on #31522
@jvishnuvardhan I am not using nccl (I do not want GPU support) or visual studio; I am installing on an Ubuntu 18.04 Windows Subsystem for Linux (like described at this link: [https://docs.microsoft.com/en-us/windows/wsl/install-win10](https://docs.microsoft.com/en-us/windows/wsl/install-win10)).

This subsystem has been compatibile with every other linux application I've tried to install, so I do

[2019-08-14 23:30] ymodak commented on #31607
This is fixed with latest version of TF-2.0 nightly build. Thanks!

[2019-08-14 23:33] procule commented on #26502
Using `from tensorflow import keras` works but since almost all documentations / examples / books for TF 2.0 are using `tf.keras`, that's still a problem.

An bug tracking ticket for PyCharm is opened here: https://youtrack.jetbrains.com/issue/PY-34174

[2019-08-14 23:44] dsgupta commented on #31426
@ymodak
Doesn't the following take care of that?
[code]

[2019-08-14 23:56] jvishnuvardhan commented on #31329
@lrizzello Please post this issue in models repo where the codeowners related to `deeplab` model will be able to resolve your issue. Thanks!

[2019-08-15 00:21] dmitryponv opened #31627 "Encountered error while reading extension file 'protobuf.bzl':"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2019-08-15 00:31] ymodak commented on #31426
You need to slightly tweak the ```fetches``` arg in ```session.run```
The ```fetches``` argument may be a single graph element, or an arbitrarily nested list, tuple.
See https://www.tensorflow.org/api_docs/python/tf/Session#run
You need to pass elements ```var_init, iterator_init``` as a tuple perhaps.
[code]

[2019-08-15 00:41] danielzt12 opened #31628 "fft2d on CPUs"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-08-15 00:45] Jbiloki commented on #26496
Has this been solved?

[2019-08-15 01:00] mahzoon commented on #30096
Thank you @k-w-w
I confirm that the issue is resolved in the tf-nightly

[2019-08-15 01:24] ceshdelgado commented on #31567
Download linux package, inside it copy `tensorflow/c/tf_attrtype.h`, then paste inside windows package. It works for me!

[2019-08-15 01:56] MoltenMuffins commented on #24496
I found this issue was caused by me erroneously making two calls to tf.Session
[code]

Probably not the root cause for most folks but it might be worth looking out for.

[2019-08-15 02:06] ongoing0217 opened #31630 "cannot import tensorflow"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Home 64 bit
- Mobil

[2019-08-15 02:10] mudassirej commented on #31216
https://github.com/mudassirej/DQN-with-tensorflow-in-Gazebo

[2019-08-15 02:16] jichangsheng commented on #31227
It worked and successfully produced the .tflite file.
But when I want to use this file with tf.lite.Interpreter(.tflite), An error raised as
‘ValueError:Didn’t find custom op for name ‘DEPTH_TO_SPACE’ with version 1，Registration failed ‘

--
发自我的网易邮箱手机智能版

在 2019-08-13 18:16:07，oanush <notifications@github.com> 写道：

Closed #31227.

—
You are receiving this because you were mentioned.
Reply to this

[2019-08-15 02:38] stancosti commented on #31196
@aakbar5 , this could be an indication of a problem applying the patch

Command: git apply --check third_party/protobuf/protobuf.patch
Result:
error: patch failed: BUILD:19
error: BUILD: patch does not apply

[2019-08-15 03:09] yqtianust commented on #31619
@gowthamkpr I found that it is ok if using number 280.41303540865516 in Colab. However, if you change the number to 774.726039560185 and run it on colab, the issue appear again.

See here [colab](https://colab.research.google.com/drive/1Z4KvcoYXLwNoOwSaAO4p3nVDsJyjiVZI)

[2019-08-15 03:37] aohan237 commented on #31397
thanks ,i will try.. it seems to be able to transfer ckpt to frozen_graph as pb.

what about the solutions for transfering to saved_model?

[2019-08-15 03:46] Leslie-Fang commented on #31628
Please refer to this snippet of code
https://github.com/tensorflow/tensorflow/blob/dcdca11bcbab4b2474e7bf4d21d1806e6c2790a3/tensorflow/core/kernels/fft_ops.cc#L132-L141

There is no for loop. And tensorflow seems is calling "Eigen fft" to calculate the result.

[2019-08-15 05:05] hanglearning commented on #31550
I got the exact same issue at the moment!

[2019-08-15 05:23] syedrz commented on #21602
==================
----Error is----
 E AndroidRuntime: FATAL EXCEPTION: inference
 E AndroidRuntime: Process: org.tensorflow.lite.demo, PID: 6556
 E AndroidRuntime: java.lang.ArrayIndexOutOfBoundsException: Array index out of range: 5
-----Solution-----
Solved by Adding a "???" string inside my Label file, it seems that the App follows the pbtxt format of having the first ID which is 1.
==========

[2019-08-15 05:25] srihari-humbarwadi commented on #31616
@mimxrt try using the
`tf.data.Dataset.cache` method
[code]
Note : Its is good practice to cache the dataset before performing any non deterministic operations on it, (like random augmentations)

[2019-08-15 05:37] efriesema commented on #20444
It seems like most people recognize the problem has been fixed.  i just loaded it onto a fresh install of Rapsbian buster today.  it comes with python 3.7.3.  but the pip is 18.1 and if you look on the site documentation for tensorflow they want PIP to be >19.0.  SO i had to
python3 pip install--upgrade pip

and then check
pip3 --version

 to be sure it was at 19.2
then I ran

sudo pip3 install te

[2019-08-15 06:03] Leslie-Fang commented on #31628
@danielzt12
You could do the parallel computation by appropriate use the tensorflow APIs.
Please refer to this snippet of code:
[code]

[2019-08-15 06:27] SeanCho1996 opened #31634 "Custom OP using eigen matrix"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win 10 pro
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.13.1
- Python version: 3.6.7
- Installed using virtualenv? pip? conda?: from source
- Bazel version (if compiling from source):

[2019-08-15 06:37] ialdencoots commented on #31365
Yeah, ok @jvishnuvardhan , that was just a minimal example. Say you have an arbitrary graph with inputs and you want to calculate literally anything and get a histogram of it. The error still persists.
[code]
Do you mean to tell me that `mult` is not a numerical tensor?

[2019-08-15 06:38] mpdn opened #31636 "Masked GlobalAveragePooling1D fails when size of step axis is not known statically"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 1.14.0, 2.0.0b
- Python version: 3.6.8

**Code to reproduce the issue**

This code:
[code]

Fails with this excepti

[2019-08-15 06:47] PanXiebit commented on #10155
@honkentuber  I try to address this problem as you said.But I meet a new problem. I load partially variable from a pretrain_dir. and use the model_dir to save the new model. So I write the resotre code part in the model_fn.

But when is start training, every iteration could restore from the pretrained checkpoint and model_dir. I just want it resotre from the pretrain_dir in the beginning.

`
def g

[2019-08-15 07:10] Leslie-Fang commented on #31602
@sjtusmartboy
Sorry, I didn't quite understand your question.
But DNNLinearCombinedClassifier definitely can be used to build and train the Wide and Deep models.

[2019-08-15 07:14] AdrianYu opened #31637 "gradient accumulation for very large embeddings"
**System information**
- TensorFlow version (you are using): 1.12
- Are you willing to contribute it (Yes/No): yes, but don't know how.

**Describe the feature and the current behavior/state.**

**Will this change the current api? How?**
It certainly will add some new apis. Currently, in a distributed environment, we can use `tf.contrib.opt.AGNOptimizer` class to do gradient accumulation. However

[2019-08-15 07:21] Asorie commented on #31607
All in [this issue](https://github.com/tensorflow/tensorflow/issues/27112) suggested solutions dont work in this case.
I ended up using `pip install tf-nightly-gpu`. This solved this issue

[2019-08-15 07:21] #31607 closed

[2019-08-15 07:34] songmeixu commented on #27697
try include the dir solve this issue? like: `-I..\site-packages\tensorflow\include\google\protobuf_archive\src`

[2019-08-15 07:43] freedomtan commented on #31612
What you were trying to build `//tensorflow/contrib/android:libtensorflow_inference.so` is a part of deprecated TensorFlow Mobile. You may wanna try [TFLite](https://www.tensorflow.org/lite/guide) instead.

[2019-08-15 07:46] freedomtan commented on #31611
@MasterGG you specified `--change_concat_input_ranges=false`

[2019-08-15 07:54] ppwwyyxx commented on #31541
a duplicate of https://github.com/tensorflow/tensorflow/pull/28745#issuecomment-512949342

[2019-08-15 07:55] kkimdev commented on #31579
Hi, I like the general idea of leveraging more standard Python features.  Though one property we want to keep for @tf.function is that preserving the same semantics with or without @tf.function, and since we're not passing tf.TensorSpec instance as an argument, annotating the arguments to be tf.TensorSpec won't be strictly correct.

[2019-08-15 07:55] mimxrt commented on #31616
Thank you for your response. From my understanding, while the `cache()` method would work from the second epoch forward, it does not change the behavior for the first epoch at all. So while I will certainly make use of `cache()` in future, my expectation is still that `prefetch()` reads data to memory _before_ any operation is done on the data. My reason for this is that before switching to `TFRec

[2019-08-15 08:25] mkravchik commented on #31367
Thanks probably because you are using the nightly build. With my version it happens regardless the init op. I think that the root cause for this is the following issue https://github.com/tensorflow/tensorflow/issues/11651 which have been fixed recently, but not released

[2019-08-15 08:25] ongoing0217 commented on #31630
I tried to install CUDA 10.0 but failed to install most files

[2019-08-15 08:28] GerScau commented on #31612
Thank you for your suggestion, actually i want to make a windows Java application running on the arm development board with ubuntu18.04. I need jar and so lib to use the python model.

[2019-08-15 08:36] srihari-humbarwadi commented on #31616
@mimxrt if you are purely aiming for throughput, you might be better off doing offline filtering.
Also there are a couple of low hanging fruits viz.
 - `num_parallel_calls` arg in `map` for parallel processing of dataset elements
-  `tf.data.experimental.parallel_interleave` or `tf.data.Dataset.interleave `when processing tfrecords. However parallel_interleave is deprecated.
- `tf.data.experimenta

[2019-08-15 08:40] aakbar5 commented on #31196
@stancosti I couldn't recall exactly what was the error message however problem was that `protobuf.patch` was not applied to protobuf source code so it was having dependency on `@zlib//:zlib` instead of `@zlib_archive//:zlib`.

[2019-08-15 08:42] lee-bin commented on #30791
Any thoughts? @tpopp

[2019-08-15 08:44] jeffpollock9 commented on #31579
Hi @kkimdev. Yes I realised that `TensorSpec` wasn't the right type shortly after writing this and agree it is weird/confusing to annotate the arguments with the wrong type. I can't think of a solution which would work for this now, since the "spec" (e.g. can choose any shape based on runtime arguments) is dynamic and the annotations are really meant to be static so that mypy etc can do static ana

[2019-08-15 08:45] lrizzello commented on #31329
ok, I'll post it there

[2019-08-15 08:45] #31329 closed

[2019-08-15 08:48] mimxrt commented on #31616
I understand, thank you for your kind help. I will try your suggestions and then decide to do offline filtering if necessary.

[2019-08-15 08:49] mpdn opened #31638 "Mask is not propagated into Sequential keras layers"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS
- TensorFlow installed from (source or binary): docker, pip
- TensorFlow version (use command below): 1.14.0, 2.0.0b
- Python version: 3.6.8

**Describe the current behavior**

When a masked input is fed to a

[2019-08-15 09:11] JiayiFu opened #31639 "There is a patch in the Eigen dir. Any plan to update it to a new commit?"
I'm compiling a project with TensorFlow and Eigen and I need to use the same version Eigen source code as TensorFlow. But I found there is a git patch in the TensorFlow's Eigen dir.  I don't know which commit of Eigen I should use Bazel to download. Any plan to update the Eigen to a new commit?
Thanks!

[2019-08-15 09:13] weishengchong commented on #24496
Just to share "allow_growth = True" solves the issue for my system below
rtx 2080ti, ubuntu18.04, cuda9.0, cudnn7, tf1.9

config = tf.ConfigProto()
config.gpu_options.allow_growth = True
session = tf.Session(config=config)

[2019-08-15 09:22] youngmantis commented on #31613
Thanks so much sir. I will definitely do that.
Sent from Yahoo Mail on Android

  On Wed, Aug 14, 2019 at 4:34 PM, Sean McGuire<notifications@github.com> wrote:

You have to use CUDA 10.0 for tensorflow-gpu-1.13.1 (don't forget to download cuDNN 7.5 for CUDA 10.0 too).

Duplicate of #26364

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, o

[2019-08-15 09:31] #31175 closed

[2019-08-15 09:40] PigApple commented on #31252
@rchao, thanks for the reply. Besides tf-nightly, will there be a tf 2.0 new beta version soon or we will directly jump to GA?

[2019-08-15 10:34] MasterGG commented on #31611
@freedomtan  thank you for reply! Do you mean that if i want to use toco to convet pb files , i should always set the flag  --change_concat_input_ranges=true?
Also i have found in tensorflow/lite/toco/graph_transformations/quantize.cc ,which has code as below :
![image](https://user-images.githubusercontent.com/13192737/63087573-1b3c4100-bf85-11e9-891e-62fc79f88128.png)
Does it means that if  the

[2019-08-15 10:52] mimxrt commented on #31616
I'm sorry to re-open this but it seems again that both `cache()` and `num_parallel_calls` have no effect. See the screenshot below for the second epoch when using `cache()` after pre-processing, i.e. before windowing with `window()`.

![2019-08-15-123156_1920x1080_scrot](https://user-images.githubusercontent.com/53339396/63089655-dac6ce00-bf58-11e9-8a46-ba62b8e4291e.png)

Before, when using Numpy

[2019-08-15 11:03] YonghuiXu opened #31641 "How can I use multiple GPUs one computer to write a GAN code?"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-08-15 11:04] #31641 closed

[2019-08-15 11:27] YonghuiXu opened #31642 "How can I use tensorflow2.0 beta1 multiple GPUs one computer to write a GAN code?"
def main():
    def G_D_fn(train_data):
        with tf.GradientTape() as tape:
            generates = G(train_data)
            print(generates)
            print("!!!!!!!!!!!!!!!!!")
            logits_fake = D(generates)   #error here, but if I do not use multiple GPUs, the program is normal.

 with strategy.scope():
      # obtain models
      G = get_G((batch_size, None, None, 3)) #(batch_si

[2019-08-15 11:41] GerScau commented on #31612
I try to use tensorflow-lite, get the .arr file. but it load the so file fail, seems arm64-v8a so can not run on aarch64 board?

[2019-08-15 12:17] EladCoding commented on #4540
I have the same problem,
Is there a way to solve it?

[2019-08-15 12:17] SumNeuron commented on #31373
@jvishnuvardhan any updates?

[2019-08-15 12:29] tensorflowbutler commented on #29042
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-08-15 12:29] tensorflowbutler commented on #31064
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-08-15 12:38] javidcf commented on #28840
[`tf.make_ndarray`](https://www.tensorflow.org/api_docs/python/tf/make_ndarray) is used to convert [`TensorProto`](https://github.com/tensorflow/tensorflow/blob/r1.14/tensorflow/core/framework/tensor.proto) values into NumPy arrays, not [`tf.Tensor`](https://www.tensorflow.org/api_docs/python/tf/Tensor) objects. These values are generally the constants used in a graph. For example, in graph mode,

[2019-08-15 13:03] tcratius opened #31643 "ImportError: DLL load failed: The specified module could not be found."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Microsoft Windows 10 Pro
10.0.

[2019-08-15 13:18] Asorie opened #31644 "tf.keras.models.load_model takes forever to load"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Windows 10 Version 1607
- TensorFlow installed from: pip
- TensorFlow version:
   - Git-Version: v1.12.1-8794-ge36271a61d
   - version: 1.15.0-dev20190814
- CUDA/cuDNN version: 10.0/7
- GPU model and memory: NVIDIA GTX 1050 Ti, 4096 MB

**Describe the current behavior**
The code below produces this output:
[co

[2019-08-15 13:37] ChaoyiXie commented on #30599
I meet the problem too,do you have sloved this problem??

[2019-08-15 13:37] sdnr commented on #26969
I experienced the same bug and maybe this helps:
If matmul is first called with input tensors of a batch size below `2**16` **and then again** called with input tensors of a batch size `>=2**16`, all entries in the result above `2**16-1` are random memory.

Here is a short [colab example](https://drive.google.com/open?id=1txY0rHNIeUkp7c38X65Hh4Cz6e_2_ZZF)

[2019-08-15 13:45] mhmedeng opened #31645 "i try to run a python code using tensorflow and Mask RCNN but i get that error"
check failed status == cudnn_status_success (7 vs. 0)failed to set cudnn stream

i am using

tensorflow  1.14.0
cuda  10.0

[2019-08-15 13:53] esslushy commented on #31642
In reference to the gpu tutorial found [here](https://www.tensorflow.org/beta/guide/using_gpu#using_multiple_gpus) you can run multiple gpus by wrapping each individual model call in their own tf.device('gpu:x'): setup. For example:
[code]
This is a rough example, but is how you would do it. I don't know if mirrored strategy works right now with a custom loop, but also take a look at that.

[2019-08-15 13:59] ElderOrb commented on #31118
any progress here?

[2019-08-15 14:16] jalexstark commented on #31187
Thanks for the details.

I will check to see if these can be fixed. They might have already.

Some of the errors are "incorrect" in that the statements do not match Intel documentation. That might just be weak C++ errors.

In the light of the inability of the computer engineering community to get even roughly consistent compilation together, which makes it very difficult to reproduce issues, I dis

[2019-08-15 14:21] freedomtan commented on #31612
1. I don't know if Java binding works well on non-Android platforms
2. when you said "arm64-v8a so", you meant Android one right? Android's system libraries (libc and others) are different from standard Linux. That's why it doesn't work. Usually, arm64-v8a == aarch64, but that doesn't mean software compatible.
3. model is not in Python
4. You may want to start from prebuilt aarch64 binaries for Py

[2019-08-15 14:38] mihaimaruseac commented on #31118
Can you try with master instead of 1.14?

Seems 1.14 is badly broken

[2019-08-15 14:39] mihaimaruseac commented on #31522
Can you try with master instead of 1.13?

[2019-08-15 14:40] sanjoy commented on #30791
@tpopp is out of office this week so he won't be able to reply before next week.

Let me know if this is urgent and I can try to take a look.

[2019-08-15 14:46] bionicles commented on #24570
@jvishnuvardhan we have this issue in 2.0b1

[2019-08-15 14:48] alokprasad commented on #31064
Yes this is still an issue.

[2019-08-15 15:00] mcguires5 commented on #31645
Did you download the CUDNN files and place them in the appropriate files in the CUDA folders?

[2019-08-15 15:05] freedomtan commented on #31611
yes, but as far as I can remember the the parameters of input was changed before the code snippet you showed.

[2019-08-15 15:14] suryasumukh commented on #15019
Not the point

[2019-08-15 15:42] jvishnuvardhan commented on #31367
@mkravchik You could use `tf-nightly` for now and in the next couple of months new stable version will be released. I am closing the issue for now. Please feel free to open the issue if it persists with the new version. Thanks!

[2019-08-15 15:42] #31367 closed

[2019-08-15 16:07] danielzt12 commented on #31628
Hi Leslie,
Thanks for helping out. I tried your code but because I am using tf 2.0 the for loop is executed in eager mode, it was only slightly faster (not even 10% I think).

Do I need to use @tf.function for this? The whole tf thing is still all very new to me, do you have a solution for tf 2.0?  Thanks

[2019-08-15 16:10] jvishnuvardhan commented on #31365
@ialdencoots Still `mult` is a graph tensor which cannot be given as input to `tf.summary.histogram`. Please check my implementation that works without any issue. Please let me know if you have any comments. Thanks!
[code]

[2019-08-15 16:12] berkerbilgi commented on #31538
@miaout17 is there any update? Still cannot install the library. It gives 404 not found error

[2019-08-15 16:24] #31541 closed

[2019-08-15 16:25] fferroni commented on #31541
Thanks @ppwwyyxx you’re right, someone else also noticed. Will close.

[2019-08-15 16:25] jvishnuvardhan commented on #31253
@talipini This was resolved in the `!pip install tf-nightly-gpu`
Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/20aeb317e65ecb8a0ec3e15812c41b10/tf31253_keras_memory_issue.ipynb).

I am closing the issue here. Please feel free to open the issue if it persists again. Thanks!

[2019-08-15 16:25] #31253 closed

[2019-08-15 16:32] NathanBWaters commented on #11812
I restarted my Windows machine and it fixed the problem.

[2019-08-15 16:35] jvishnuvardhan commented on #24570
@bionicles Could you open a new issue by filling issue template and also provide a standalone code to reproduce the issue? As the origianal issue with TF1.x was resolved, it is better to open a new issue so that it will help the community that are using TF2.0. Thanks!

[2019-08-15 16:39] mmusil25 commented on #31414
@gadagashwini

So I did a fresh install of my environment using pip and virtualenv and encountered a similar "DLL Module failed to load error". I then installed tensorflow 1.13.2 and it seems to be working just fine. Thanks!

[2019-08-15 16:39] #31414 closed

[2019-08-15 16:42] ElderOrb commented on #31118
With master and bazel 0.23.2 I'm getting:

ERROR: Config value monolithic is not defined in any .rc file

[2019-08-15 16:50] DavidKWH opened #31647 "Graph visualization of subclassed model/layer"
**System information**
- TensorFlow version (you are using): tensorflow-2.0b1
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Graph visualization of subclassed model/layer/tf.functions

**Will this change the current api? How?**
Not sure

**Who will benefit with this feature?**
All users

**Details**
I posted this question on stack overflo

[2019-08-15 16:52] jvishnuvardhan commented on #31055
@damienpontifex Is this issue resolved? Did you open any PR to update the docs as you mentioned? Please close the issue if it was resolved. Thanks!

[2019-08-15 17:06] ElderOrb commented on #31118
On the latest master (c022a5870282bf7b7771bc1418671e5d9c1f6fcc) I see this:

[code]

[2019-08-15 17:06] jdduke commented on #31538
Are you using the 1.14 TensorFlowLiteSwift CocoaPod? If not, can you try updating to that version?

[2019-08-15 17:07] ElderOrb commented on #31118
Is it possible to add tensorflowlite for windows to CI?

[2019-08-15 17:08] jvishnuvardhan commented on #31331
@geometrikal As @gargn mentioned the original issue was resolved in `!pip install tf-nightly-gpu`. Please close the issue and open a new issue for the `loading graph` if it was not already resolved. I think `loading graph` was also resolved as I could not reproduce the issue. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/b3a72cb75dd9b2ed5e05d260ad0247b0/tf_31331

[2019-08-15 17:17] rchao commented on #31252
We're making progress for 2.0 release and feel free to join [TensorFlow announcement](https://groups.google.com/a/tensorflow.org/forum/#!forum/announce) for the latest updates. Thanks!

[2019-08-15 17:30] miaout17 commented on #31538
The `0.2.0` was an experimental release and it no longer worked. Sorry for your inconvenience.

To solve this problem:
If you specified version in Podfile, update it to `1.14.0`.
Run `pod update`.

Let us know if it works.

[2019-08-15 17:31] stancosti commented on #31196
@aakbar5 Thank you for the explanation. Your assessment appears to be correct. However, I will not be able to test it out because I downloaded v1.14.0 again and built it fine. As a matter of fact, I don't see the protobuf.patch file in the downloaded code.
Thanks again for your help. I will move on as my build went fine.

[2019-08-15 17:35] berkerbilgi commented on #31538
@miaout17 @jdduke thanks for your reply. After pod update and specify version to 1.14.0, I installed successfully.

[2019-08-15 17:35] #31538 closed

[2019-08-15 17:38] isaprykin commented on #31510
I think that variable scope error isn't the root cause, rather this is:
[code]

Is this failure deterministic?   Does it happen every time you run it with 2 GPUs?

[2019-08-15 17:41] aakbar5 commented on #31196
@stancosti Yes, you won't find in 1.14.0 as it is introduced later commits.

[2019-08-15 17:50] isaprykin commented on #31410
I am surprised that setting the scope:gpu1 at the very top doesn't work as well.

Could you try running with the environmental variable CUDA_VISIBLE_DEVICES=1 (see more info http://stackoverflow.com/q/37893755), please?

[2019-08-15 17:51] jdduke commented on #31538
Thanks again @berkerbilgi for flagging the issue, we've gone ahead and restored the experimental `0.2.0` release to avoid further confusion.

[2019-08-15 18:00] Jbiloki opened #31649 "Keras -> TfLite (AttributeError: 'Node' object has no attribute 'output_masks')"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS
- TensorFlow installed from (source or binary): Source
- TensorFlow version (or github SHA if from source): 1.14.0

**Provide the text output from tflite_convert**

[code]

Model:

[code]

I am using CRF from Keras Contrib

[2019-08-15 18:05] tylerlekang opened #31650 "tf.keras.backend.function ignores input shapes?"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Windows 10
- TensorFlow installed from (source or binary): conda install/update tensorflow
- TensorFlow version (use command below): 1.14.0
- Python version: 3.7.3
- CUDA/cuDNN version: N/A
- GPU model and memory: N/A

**Describe the current behavior**
tf.keras.backend.function seems to ignore explicitly defin

[2019-08-15 18:07] isaprykin commented on #31531
Thanks, this seems to be real issue.  We are going to try to fix it.

[2019-08-15 18:07] isaprykin commented on #31531
@rmothukuru could you please update the permissions on that link?

[2019-08-15 18:17] OlavHN opened #31651 "keras.optimizers.Adam cannot apply gradients if ResourceVariable has unknown shape."
With ResourceVariables we specify unknown shape dimensions for variables which can be resized after initializations similarly to how `validate_shape=False` worked previously.

Applying gradients to ResourceVariables with unknown dimension sizes using `tf.keras.optimizers.Adam` currently crashes with the exception

Attached is a minimal example to reproduce:

[code]

Outputs:

[code]

[2019-08-15 18:20] Bhaney44 opened #31652 "How to preprocess a dataset with multiple input variables for integration with Tensorflow for binary classification?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- Mobile device (e.g. iP

[2019-08-15 18:22] jvishnuvardhan commented on #26707
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-08-15 18:22] #26707 closed

[2019-08-15 18:29] qlzh727 commented on #30961
Closing this issue due to the lack of activity. Feel free to reopen it if you still see the issue.

[2019-08-15 18:29] #30961 closed

[2019-08-15 18:37] isaprykin commented on #31231
Please reopen if it doesn't provide a workaround.

[2019-08-15 18:37] #31231 closed

[2019-08-15 18:41] dmitryponv commented on #25000
This is ridiculous. I downgraded Bazel to 0.20 because of this issue, now it's giving me this error:
https://github.com/grpc/grpc-web/issues/510 which is telling me to go upgrade bazel
This is the most widely used Machine Learnign API, CAN you please properly support C++ developers instead of catering to python

[2019-08-15 18:42] xiaoyanzhuo commented on #18503
I experienced this problem when I tried to use tensorflow in jupyter notebook after I installed tensorflow-gpu in one of my conda env. I ran my codes well when I activate the env, and use command line (conda activate 'env name' --> python --> import tensorflow as tf ). Then I realized I lauch the jupyter notebook outside the 'env'. My solution is install jupyter notebook in 'env' and then launch j

[2019-08-15 18:45] isaprykin commented on #31426
I think it's because global_variables() are read by global_variables_initializer before they are created by the train_step.

This works:
with mirrored_strategy.scope():
  input_iterator = dist_dataset.make_initializable_iterator()
  iterator_init = input_iterator.initialize()
  loss = train_step(input_iterator.get_next())
  var_init = tf.global_variables_initializer()
  with tf.Session() as sess:

[2019-08-15 18:45] #31426 closed

[2019-08-15 18:49] jvishnuvardhan commented on #31202
@esslushy Automatically closing this out since I understand it to be resolved by the https://github.com/tensorflow/docs/pull/892 (merged already), but please let me know if I'm mistaken.Thanks!

[2019-08-15 18:49] #31202 closed

[2019-08-15 18:50] sgambient opened #31653 "ValueError: Cannot add function 'TRTEngineOp_0_native_segment' because a different function with the same name already exists."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-08-15 18:57] jvishnuvardhan commented on #15978
@nbro Are you interested in contributing through changing the documentation? You could raise  a Pull-Request. Thanks!

[2019-08-15 19:01] allenlavoie commented on #31455
Can you try on a nightly? I think there was a similar issue fixed not too long ago with named multi-output models.

[2019-08-15 19:30] forReason opened #31654 "Running tensorflow on GPU is far slower than on CPU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 1809 & Windows Server 2016
- TensorFlow installed from (source or binary): pip install tensorflow-gpu==2.0.0-beta1, as well as tensorflow-gpu, compared to tensorflow & tensorflow==2.0.0-beta1
- Python vers

[2019-08-15 19:52] mhmedeng commented on #31645
tensorflow-gpu install CUDDN when i downloaded it

[2019-08-15 20:03] mckeown12 commented on #31455
It appears to still be broken in 1.15.0-dev20190815

https://colab.research.google.com/drive/1x1eDTl-nMuhZTQYWSi_I9F_SguFZRP2i

[2019-08-15 20:17] golden0080 commented on #23561
I think the `-config=c++1z/17` will add `-stdlib=libc++` to the params, which is only recognized by `Clang`, is there some solution to `custom_op` issue when building with GCC 7 and C++17?

[2019-08-15 20:20] allenlavoie commented on #31455
I see, the difference is just that saving using `Model.__call__`, which has the behavior you describe. So it's not a saving-specific issue; you can reproduce the behavior using `print(my_model([np.array([[.5],[.3]]), np.array([[-.1],[.2]])]))` before saving. Why that's different than predict() I don't know; I'll reassign to someone who works on Keras.

[2019-08-15 20:23] allenlavoie commented on #31455
Tom, please see last comment. Could you take a look or redirect?

[2019-08-15 20:27] #28995 closed

[2019-08-15 20:33] iSapGod opened #31658 "Exception has occurred: KeyError in Tensor.py"
Hi there!
I wanna run an example from [this tutorial](https://colab.sandbox.google.com/github/tensorflow/docs/blob/r2.0rc/site/en/r2/tutorials/text/nmt_with_attention.ipynb)
Firstly I've got an error but that was fixed by adding this line:
`tf.enable_eager_execution()`
I downloaded [French - English dataset](http://www.manythings.org/anki/)
Then script was built successfully but at the end I've go

[2019-08-15 20:45] ymodak commented on #30555
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-15 20:45] #30555 closed

[2019-08-15 20:46] franknod commented on #31195
Bumping this again, I am having the same issue when building with the bundled clang, and I got a bunch of errors like
[code]

[2019-08-15 20:48] olegarch opened #31660 "TOCO fails to handle Dilated Convolution properly with use_bias=False"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.14

[2019-08-15 20:50] Jbiloki opened #31661 "Tensorflow Lite Allow Variable length sequences"
**System information**
- TensorFlow version (you are using): 1.14.9
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

Currently, porting a tensorflow model to tflite does not allow for variable length inputs and instead throws

[code]

Many NLP applications require the second axis of the shape to allow for variable length input sequences.

[2019-08-15 20:57] Jbiloki opened #31662 "Tensorflow Lite Op Report"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS
- TensorFlow installed from (source or binary): Source
- TensorFlow version (or github SHA if from source): 1.14.0

**Provide the text output from tflite_convert**

[code]

[2019-08-15 21:12] ymodak commented on #31658
Perhaps you can try this tutorial with TF 2.X version as mentioned in the colab.

[2019-08-15 21:16] jvishnuvardhan commented on #31531
@isaprykin [Here](https://colab.sandbox.google.com/gist/jvishnuvardhan/1dcc12d3ab39170115bc7aa066f4d3e5/tf_31531.ipynb) is the gist. The same error is in `tf-nightly-gpu` along with `tensorflow==1.14.0`. Same error is in TF2.0 and the [gist is here](https://colab.sandbox.google.com/gist/jvishnuvardhan/127973ecc9e4087b2d018c4e52452c35/tf20_31531_batchnorm.ipynb). Thanks!

[2019-08-15 21:23] sdll commented on #31510
@isaprykin, yes, this happens intermittently during the evaluation phase. I have managed to revert to `train_and_evaluate` for a multi-worker multi-gpu setup and avoid this problem by setting a humongous `eval-throttle-secs`.

[2019-08-15 21:25] deasmhumhna commented on #31373
I was dealing with the same problem (in Tensorflow 2.0 beta) and found a workaround of manually setting the `_output_structure` attribute of the `_map_func` (`StructuredFunctionWrapper`) attribute of `MapDataset` (possible thanks to Python's lack of hidden variables) with the proper `NestedStructure` object i.e
[code]
 This suggests a fix of providing an optional structure tuple to `Dataset.map` t

[2019-08-15 21:30] #31502 closed

[2019-08-15 21:30] #31475 closed

[2019-08-15 21:36] masotrix commented on #31327
@sjtusmartboy Seems to be the case. After failing to compile kernels on 1.14 due to #30494, I managed to compile them for tf1.13.1 but not loading them on tf1.14. From suggestion in #31335 of using same compilers for building TF and custom op, only option to build custom ops + use AMP (#26342) seems to be to get TF from source.

[2019-08-15 22:06] samhodge commented on #29042
It is still open, is the CMake build system abandoned by Tensorflow developers, last time I got it to work was 1.8.

Is bazel the only way to built Tensorflow?

If this is so there is no straightfoward way to build an archive of .o files for statically linking Tensorflow to a C++ application.

If the CMake tree doesnt work it should be removed from the code base rather than giving users false hope

[2019-08-15 22:17] ymodak commented on #31021
Perhaps multi-threaded prediction can help you achieve this.
See https://medium.com/element-ai-research-lab/multithreaded-predictions-with-tensorflow-estimators-eb041861da07

[2019-08-15 22:21] git-davi opened #31664 "Building tflite-with-select-ops.aar library in tf v1.12"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.14, 1.13, 1.12
- Python version: 2.7, 3.6
- Bazel version (if compiling from source): 0.28, 0.16

**Describe the problem**
Before getting into the problem I need a little intro.
I'm trying to run a tflite model on android. The

[2019-08-15 22:32] dbonner commented on #31187
I did a git pull to update to recent bug fixes.
The build still fails around //tensorflow/lite/experimental/ruy
I produced these output files for this new build using the same method as before:
[cleaned-capture.txt](https://github.com/tensorflow/tensorflow/files/3507388/cleaned-capture.txt)
[verbose_explanations.txt](https://github.com/tensorflow/tensorflow/files/3507389/verbose_explanations.txt)

[2019-08-15 22:42] jvishnuvardhan commented on #28007
@ipod825 As mentioned by @faruba I changed a line in your code from `with tf.device('/gpu:0'):` to `with tf.device('/cpu:0'):`. It works without any error. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/295c237a134755b28f94af9ce040af35/tf_28007_summary.ipynb). Thanks!

[2019-08-15 22:50] alextp commented on #31446
There is no loss/init_op op. Variable initializers don't end up in INIT_OP unless you add it yourself. This is working as intended.

[2019-08-15 22:50] #31446 closed

[2019-08-15 23:00] jvishnuvardhan commented on #30942
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-08-15 23:06] ymodak commented on #30467
Apologies for the delay in response. In your code snippet ```loss``` is not linked to the fully connected layer. Therefore we can reproduce the error with this minimal code snippet;
[code]
Output:
[code]
Thus its working as expected. Thanks!

[2019-08-15 23:12] iSapGod commented on #31658
Thanks for reply!
I found that I had some issues with versions of TF. I fixed it but described issue is still appearing.

[2019-08-15 23:14] #31494 closed

[2019-08-15 23:27] Uiuran commented on #31446
Is INIT_OP  GraphKey added for something else ? just curious if iam missusing or Is it for it, but is faculted to the user as a suggestion ? what do you think ?

[2019-08-15 23:37] ipod825 commented on #28007
Well, it seems to be just a workaround to me. The main issue here is that the summary operation raises error when running on GPU. Forcing the operation to run on CPU doesn't really solve the problem but just ignores the problem. I don't know how summary operation works, probably even if running under GPU, it would still copy tensor back to CPU memory (which then would be similar to explicitly aski

[2019-08-15 23:53] kevin3-black opened #31665 "tf.math ops do not work on MirroredVariables"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Mojave 10.14.5
- TensorFlow installed from (source or binary): binary (tf-nightly)
- TensorFlow version (use command below): 1.15.0-dev20190729
- Python version: 3.7.4

**Describe the current behavior**
When I am using the `tf.distribute.MirroredStrategy` with multiple replicas

[2019-08-16 00:11] haoyan01 opened #31666 "Call NNAPI cpu implementation on linux machine"
I am trying to implement the example in the following link on my linux machine:
https://developer.android.com/ndk/guides/neuralnetworks
I know if there is no no delegation for nnapi, it will fall back to cpu implementation. So I tried to link the shared library libneuralnetworks.so which is from NDK prebuilt library to my example code. But it does not work. It seems that this .so file is not dynam

[2019-08-16 00:11] damienpontifex commented on #31055
Thanks, yes it was resolved. I haven’t yet opened the PR but will follow it up.

[2019-08-16 00:11] #31055 closed

[2019-08-16 00:13] andportnoy commented on #26642
@qlzh727 Any updates on this?

[2019-08-16 00:28] geometrikal opened #31668 "Models with tf.keras.layers.BatchNormalisation layers give errors when frozen, or are frozen incorrectly and cannot be loaded"
This issue continues on from #31331 with a more wide ranging scope

**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Windows 1903
- TensorFlow installed from: pip
- TensorFlow version: 1.13.1 / 1.14.0 / tf-nightly
- Python version: 3.7.3
- GPU model and memory: RTX 2080 Ti

**Problem**

Freezing a model with tf.keras.layers.BatchNormalization layers either g

[2019-08-16 00:30] geometrikal commented on #31331
@jvishnuvardhan `loading_graph` is not resolved - the code you are using in your gist is my workaround for the problem.
I have opened a new issue #31668 with a bigger scope to cover the general issue of freezing and loading models with batch normalization.

[2019-08-16 01:10] agarwal-ashish commented on #31593
A converter has been added and should make its way into the nightly.

[2019-08-16 01:10] #31593 closed

[2019-08-16 01:25] Leslie-Fang opened #31669 "Failed to build pip package with syntax error"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): centos
- Mobile device (e.g. i

[2019-08-16 01:27] Leslie-Fang commented on #31669
Ohhh, there goes a hot fix already
https://github.com/tensorflow/tensorflow/commit/75a63b0527bb0ca9604a4e3f5a941e8f689c5fc9

[2019-08-16 01:27] #31669 closed

[2019-08-16 01:30] MasterGG commented on #31611
@freedomtan  Hi, i have tried some trials, if i set --change_concat_input_ranges=true, i got some tflite whoese minmax of all inputs  and outputs of  concat layers change to the same value; but some other tflite  just make the minmax of outputs be the same as the first input array,and didn't change the minmax of other inputs arrays.
So i am confused about the rules how to set the toco convert flag

[2019-08-16 01:46] agostini01 commented on #21832
I had a similar issue using driver 384.130. Turns out that versions of the cudatoolkit inside anaconda environment and the cuda supported by my driver did not match.

These two links helped me identifying my driver and cuda version and, later, to install the correct version of tensorflow_gpu that matched the cuda in my machine

To select the appropriate version based on your cuda installation:
htt

[2019-08-16 01:52] lee-bin commented on #30791
Thanks, @sanjoy, next week is fine.

[2019-08-16 02:34] ali289 commented on #17022
hi
conda install -c hesi_m tensorflow
ok :-)

[2019-08-16 02:39] Wolf20199 opened #31670 "Make Tensorflow lite android project using tflite of ssd_mobilenet_v1_fpn_shared_box_predictor_640x640_coco14_sync_2018_07_03 model"
Hello, everyone.
Recently I try to make android project of tensorflow lite object detection.
I have successfully converted to tflite file from http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v1_fpn_shared_box_predictor_640x640_coco14_sync_2018_07_03.tar.gz, which uses 640*640 input image size.
But I have memory overflow error on running my project on the android mobile.
In my

[2019-08-16 02:43] weishengchong commented on #22828
Hi @KeremTurgutlu, @MiroFurtado , @bhavints,
I have the same issue. Would you please share your solution/update if any? Thanks!

My system infor
ubuntu16.04
tf1.9
rk3399 board

`
./label_image: /lib/aarch64-linux-gnu/libm.so.6: version `GLIBC_2.27' not found (required by ./label_image)
(tf1.13) root@firefly:/usb/tf/rk_tf1.9_label_image# strings /usr/lib/aarch64-linux-gnu/libstdc++.so.6 | grep GLIB

[2019-08-16 02:46] Ryandry1st commented on #29545
I agree with the save format, my question comes down to the use of h5py, which seems to allow the model to be saved, and it is able to load the model correctly then too. So the question is, should it not allow h5py save format with subclassed models, or if it does work correctly, then shouldn't this be a standard?

[2019-08-16 02:51] ymodak commented on #31643
@tcratius In reference to GitHub issue https://github.com/tensorflow/tensorflow/issues/22872 user was installing TF 1.11 thus asked to switch to cuda 9 and not cuda 10.0
However in your case you should install cuda 10.0 and not cuda 9.0.
TF 1.13 and above support cuda 10.0
See https://www.tensorflow.org/install/gpu#software_requirements
Please update your environment paths to cuda 10

[2019-08-16 03:27] sgambient opened #31671 "TF-TRT: Assertion `mParams.k > 0' failed."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-08-16 03:41] YonghuiXu commented on #31642
I just tried it. The error is as follows:
        with tf.GradientTape(persistent=True) as tape:
            with tf.device('/gpu:0'):
                generates = G(train_data)
            with tf.device('/gpu:1'):
                logits_fake = D(generates)
2019-08-16 10:55:59.977308: W tensorflow/core/framework/op_kernel.cc:1546] OP_REQUIRES failed at nccl_ops.cc:100 : Unknown: Error invoking NCC

[2019-08-16 04:15] fengyang0317 commented on #30467
loss is the norm of the weights in the fully-connected layer. They are linked.

The error is caused by tf.case

I didn't get any error using the following code. The output I get is 0.28207764.
[code]

[2019-08-16 05:00] oanush commented on #31401
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-16 05:00] #31401 closed

[2019-08-16 05:01] ravikyram commented on #31199
@el1995

Have a look on @sanjoy's suggestion and let us know if that helps to resolve the issue. Thanks!

[2019-08-16 05:28] DoritoDog commented on #31577
And after looking into it further, the problem is that I'm using 6 dimensional tensors. Tensorflow lite seems to only support a maximum of 4. This problem has been solved with Tensorflow 2.0 but it's quite a pain to have to upgrade all the code, especially when I didn't write it.

[2019-08-16 06:13] oanush commented on #31662
@Jbiloki ,
Can you please refer the [link](https://www.tensorflow.org/lite/guide/ops_custom) .Thanks!

[2019-08-16 06:18] ialdencoots commented on #31365
Ok, so histogram can't be called on anything internal to a model? If I want to check the distribution of tensors in internal layers, I have to produce a model with multiple outputs?

[2019-08-16 06:40] oanush commented on #31650
I was able to reproduce the issue for given code TF version-1.14,kindly find the [gist](https://colab.sandbox.google.com/drive/1lPtZHkiU5Y7absQsIgbsPNLF2MRkeDj-#scrollTo=WQ-ndvvGIM3m) of colab.

[2019-08-16 06:40] rvallari1 commented on #23471
Hey, I am using tf1.14 with Intel MKL dependency [gcc 7.4.0; Machine: Sky Lake-E ;bazel:0.26.1] and the problem persists :

ERROR: /home/vallari/tensorflow-master/tensorflow/contrib/mpi_collectives/BUILD:40:1: C++ compilation of rule '//tensorflow/contrib/mpi_collectives:python/ops/_mpi_ops.so' failed (Exit 1)
tensorflow/contrib/mpi_collectives/kernels/ring.cc:58:6: error: explicit specialization

[2019-08-16 06:55] madebymaze commented on #27217
I have had the same issue. Thanks for the pointing this out, @snknitin

[2019-08-16 07:17] Bingqiang1001 opened #31676 "Can't import tokenizer_from_json"
When I  use 'keras.preprocessing.text.tokenizer_from_json', can't find.
I check keras/preprocessing/text.py, find there is no tokenizer_from_json;
Then add "tokenizer_from_json = text.tokenizer_from_json", is ok;
![image](https://user-images.githubusercontent.com/54168679/63150263-ec7fa280-c038-11e9-9ac5-63018957ad79.png)
and add "from tensorflow.python.keras.preprocessing.text import tokenizer_fr

[2019-08-16 07:49] raghavk92 commented on #30864
I am using tensorflow version 1.14 and i am using the older keras packages in my model creation python file not the tf.keras package within tensorflow. Can i still use `from_keras_model_file` with my model.h5 file created with older Keras packages because in the tflite converter documentation it is mentionted that this function`from_keras_model_file` is to be used with tf.keras model.

If `from_ke

[2019-08-16 08:10] GerScau commented on #31612
非常感謝提供這些思路！
i try using python, then setup service for java calling

[2019-08-16 08:17] tcratius commented on #31643
Sorry about that mate, tried to be thorough, but totally missed that.  I have installed cuda_10.0.130_win10_network.exe which, produces;

The installed version of TensorFlow includes GPU support.
- Python version is 3.6.
- TensorFlow is installed at: C:\Users\Two_Oriel\AppData\Local\Programs\Python\Python36\lib\site-packages\tensorflow
- msvcp140.dll Found at C:\Windows\System32\msvcp140.dll
- Cou

[2019-08-16 08:21] rishabhsahrawat commented on #31410
Hi @isaprykin , thank you for your suggestion. I tried it and can confirm this works however one must not define `devices` parameter of the strategy, which also makes this parameter useless since the way to choose a GPU doesn't depend on `devices` parameter. Also I would request you to add this in the documentation.

[2019-08-16 08:24] gadagashwini commented on #31255
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-16 08:24] #31255 closed

[2019-08-16 08:31] gadagashwini commented on #31281
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-16 08:31] #31281 closed

[2019-08-16 08:32] gadagashwini commented on #31285
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-16 08:32] #31285 closed

[2019-08-16 08:35] gadagashwini commented on #31315
@Gurubux Did you check the @mihaimaruseac's comment. Thanks!

[2019-08-16 08:35] QuellaZhang opened #31678 "Error "swig.exe failed: error executing command" when build Tensorflow on MSVC"
Hi All,

I encountered the following error when building Tensorflow on MSVC, which looks like a configuration issue, but I don't know what was missing. Can you help me? I attached the build log. Thank you very much.

Environment: VS2017 + Windows Server 2016 +Python3

Build log: [Tensorflow_build.log](https://github.com/tensorflow/tensorflow/files/3508725/Tensorflow_build.log)

**Repro steps:**
1.

[2019-08-16 08:36] gadagashwini commented on #31351
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-16 08:36] #31351 closed

[2019-08-16 08:37] oanush commented on #31638
I was able to replicate the issue for given code in both TF versions- 1.14 and 2.0beta. Thanks

[2019-08-16 08:37] gadagashwini commented on #31438
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-16 08:37] #31438 closed

[2019-08-16 08:43] gadagashwini commented on #31615
@YonghuiXu, Try upgrading the tensorflow using  `pip install tensorflow-gpu==2.0.0.beta1`. Let us know if that helps. Thanks!

[2019-08-16 08:45] tcratius commented on #31643
Looks like that fixed it, only warnings now and can handle that. Now just have to remember what it was that I was trying to learn. Such is life.
[app-py.txt](https://github.com/tensorflow/tensorflow/files/3508771/app-py.txt)
[app-py-log.txt](https://github.com/tensorflow/tensorflow/files/3508787/app-py-log.txt)

[2019-08-16 08:45] #31643 closed

[2019-08-16 08:45] gadagashwini commented on #31627
@dmitryponv, Which Protobuf version are you using?

[2019-08-16 08:45] oanush commented on #31602
@sjtusmartboy ,
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.
Also can you check feedback from @Leslie-Fang regarding the issue.Thanks!

[2019-08-16 08:49] rvallari1 commented on #31472
@preethivenkatesh It was my mistake. While trying to use bazel build again, I mistakenly deleted a file... I shouldnot have. Sorry for bothering.

[2019-08-16 08:59] YonghuiXu commented on #31615
Yes, I have done it like what you said. It works well.

---Original---
From: "gadagashwini"<notifications@github.com>
Date: Fri, Aug 16, 2019 16:52 PM
To: "tensorflow/tensorflow"<tensorflow@noreply.github.com>;
Cc: "Mention"<mention@noreply.github.com>;"YonghuiXu"<2259949930@qq.com>;
Subject: Re: [tensorflow/tensorflow] I have installed tensorflow-gpu 2.0.0 alpha,how can I upgrade it to tensorflow

[2019-08-16 08:59] gadagashwini commented on #31636
Was able to replicate the issue on Colab with Tensorflow 2.0.0.beta1. Please see the gist [here](https://colab.sandbox.google.com/drive/1AijetZx2ofPuBztdlKovFiC7ZpiT2QFs#scrollTo=l9gPx9dqn4Uu). Thanks!

[2019-08-16 09:05] gadagashwini commented on #31630
@ongoing0217 Tensorflow version >=1.13 requires CUDA 10.0. Can you downgrade the Tensorflow version to 1.12 and check the import tensorflow. Thanks!

[2019-08-16 09:18] ravikyram commented on #31628
Can we close this issue since the query is been resolved. Thanks!

[2019-08-16 09:21] gadagashwini commented on #31642
@YonghuiXu Will it be possible to provide the complete and proper indent code to reproduce the reported issue. Thanks!

[2019-08-16 09:26] rishabhsahrawat commented on #31410
I am facing a weird situation. When I train the same model on one GPU, it takes 45 secs to process 100 batches during first epoch, but when I use both GPUs for training, it takes 61 secs for the same however it should train faster on more number fo GPUs. Do you guys think there is a reason for that?

[2019-08-16 09:30] sowmyakavali commented on #22994
i am also getting same error even though version is same
how can i solve this problem ?

[2019-08-16 09:38] YonghuiXu commented on #31642
Is it not possible to calculate the logits_fake and logits_real here for Tensorflow 2.0 beta?

------------------ 原始邮件 ------------------
发件人: "gadagashwini"<notifications@github.com>;
发送时间: 2019年8月16日(星期五) 下午5:28
收件人: "tensorflow/tensorflow"<tensorflow@noreply.github.com>;
抄送: "姐妹的海洋"<2259949930@qq.com>; "Mention"<mention@noreply.github.com>;
主题: Re: [tensorflow/tensorflow] How can I use tensorfl

[2019-08-16 09:40] zhangxiao339 opened #31679 "tf.subtract got different result in python , java"
code: out = tf.subtract(input, output)
got different result in python vs java

the version is same ,   even the 1.9.0 ,1.13.1, 1.14.0

[2019-08-16 09:46] ravikyram commented on #31613
@youngmantis
Can you please confirm if @mcguires5's workaround is working for you.Thanks!

[2019-08-16 09:47] oanush commented on #31665
@kevin3-black ,
Can you please refer this [link](https://www.tensorflow.org/install/docker).Thanks!

[2019-08-16 09:48] huanghaifeng1 opened #31680 "quantization: errror during quantizing bert model"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-08-16 09:48] oanush commented on #31614
@rgupta2508 ,
Can you please refer this [link](https://www.tensorflow.org/install/docker).Thanks!

[2019-08-16 09:51] gadagashwini commented on #31612
@GerScau, Were you able to resolve the issue? Thanks!

[2019-08-16 09:56] oanush commented on #31647
@gowthamkpr ,
can you please check the issue.Thanks!

[2019-08-16 09:59] lxl910915 commented on #31605
Tensorboard is incorrect. Tensorboard is shown based on user's python code. If we set an OP on a non-existing deive, such as 'gpu:100', we also can see it on tensorboard.

[2019-08-16 09:59] #31605 closed

[2019-08-16 10:01] gadagashwini commented on #31651
I am able to reproduce the issue with Tensorflow 2.0.0.beta1. Please take a look at colab gist [here](https://colab.research.google.com/drive/1gHDBXwR_VRorIYITJkc7gBinojOP2puy).Thanks!

[2019-08-16 10:04] zhen8838 opened #31681 "Debugging tf.Keras Models with TFDBG get TypeError: Fetch argument None has invalid type <class 'NoneType'>"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-08-16 10:04] gadagashwini commented on #31654
@forReason Provide us the full code snippet to reproduce the reported issue. It will indeed help us to move faster. Thanks!

[2019-08-16 10:10] gadagashwini commented on #31645
@mhmedeng,
Please provide details about what platform you are using (operating system, architecture).

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

We ask for this in the is

[2019-08-16 10:11] habernal commented on #31237
Fixed in this PR: https://github.com/tensorflow/tensorflow/pull/31646

[2019-08-16 10:11] #31237 closed

[2019-08-16 10:12] gadagashwini commented on #31615
@YonghuiXu Glad to know that it worked.
Closing the issue since its resolved. Thanks!

[2019-08-16 10:12] #31615 closed

[2019-08-16 10:24] ravikyram commented on #31637
Do you have any use case that requires the feature you are interested in? Please feel free to submit a PR if you have use cases that supports that feature.Thanks!

[2019-08-16 10:31] anilkumar2444 commented on #26378
It gave me same error when I tried to install with pip. I am using conda. I tried with conda (conda install tensorflow). It worked.

[2019-08-16 10:35] gadagashwini commented on #31600
@imbakassinn, did @WindQAQ's solution worked for you. Thanks!

[2019-08-16 10:44] gadagashwini commented on #29042
@angersson can you please take a look?

[2019-08-16 10:48] oanush commented on #31644
I was able to replicate the issue with TF nightly version,kindly find the [gist](https://colab.research.google.com/drive/1sk__Ztrp8qI6YTvgCm2cjgUzv1_veHaP) of colab.Thanks

[2019-08-16 10:51] zhangxiao339 commented on #31679
I sovle the prob,thk

[2019-08-16 10:51] #31679 closed

[2019-08-16 10:53] ravikyram commented on #31625
I have tried on colab with TF version 1.15.0-dev20190729 and i was getting the below error`ImportError: cannot import name 'dense_features' .Please, find the [gist ](https://colab.research.google.com/drive/1EWycvv6DE-xDmvzhzNKkudeEjMcmrKDz)here.However i tried with latest nightly version and was able to reproduce the issue.Please, find the [gist ](https://colab.research.google.com/drive/1cJ61uL5_c

[2019-08-16 10:59] oanush commented on #31516
I tried executing the given code in both colab and Jupyter notebook,couldn't replicate the issue.

[2019-08-16 11:02] PetreanuAndi opened #31683 "TFRT Built From Source does not Improve Inference Speed"
[convertTFRT_frozenGraph.zip](https://github.com/tensorflow/tensorflow/files/3509287/convertTFRT_frozenGraph.zip)

<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em

[2019-08-16 11:02] mpdn opened #31684 "TimeDistributed does not propagate mask and prevents inner Sequential from propagating mask"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 1.14.0, 2.0.0b
- Python version: 3.6.8

**Code to reproduce the issue**
This fails due to failed assertion:

[code]

[2019-08-16 11:29] tranvangaohd1994 commented on #31180
Hi @gadagashwini. I do object detection using yolo-tiny. I want to post-processing into model, for example non_max_suppression. So I using Lambda layer like this 👍
`
model_Cal = Lambda(yolo_post_processing, output_shape=(None,6), name='yolo_post_processing',
            arguments={'anchors': self.anchors, 'num_classes': 80})(self.yolo_model.output)
self.yolo_model = Model(self.yolo_model.input, mo

[2019-08-16 11:30] forReason commented on #31654
I have been able to increase the speed by upping the Batchsize to 128.
Still taskmanager shows a low gpu utilisation but the cpu utilisation increased.
![2019-08-16 13_11_51-Task Manager](https://user-images.githubusercontent.com/12736950/63164174-ecc37200-c027-11e9-9860-563e10fd1cdd.png)

here is my full script trainmodel.py:

[code]

[2019-08-16 11:52] zkx741481546 opened #31685 "How to append placeholder tf.gradient and things like that to a multiprocess.Manager.list"
I want to share some objects between different process, but my class has some tensorflow object in it ,and triggered an error message

Process Process-7:
Traceback (most recent call last):
  File "C:\Users\zkx74\Anaconda3\lib\multiprocessing\process.py", line 297, in _bootstrap
    self.run()
  File "C:\Users\zkx74\Anaconda3\lib\multiprocessing\process.py", line 99, in run
    self._target(*self._

[2019-08-16 11:58] emla2805 opened #31686 "[TF 2.0] Saving model containing categorical_column_with_vocabulary_list feature_column fails"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf