[2021-04-22 15:36] maximgeller commented on #48678
update: I was able to run the code using TF 2.2.0 successfully, but I would really like to know if there could be a fix for r2.0

[2021-04-22 15:44] saikumarchalla commented on #48650
@deeepwin  Could you please provide your cuda/cuddn version?

[2021-04-22 15:47] saikumarchalla commented on #48676
@ggproRIC  Could you please provide the  below information:

OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version:
- Python version:
- Installed using virtualenv? pip? conda?:
- Bazel version (if compiling from source):
- GCC/Compi

[2021-04-22 16:00] TimCargan opened #48704 "Error printed when calling tf.data.experimental.load"
**System information**
- OS Platform:  WSL2 Linux Ubuntu 20.04
- TensorFlow version: 2.5.0-rc1
- Python version: 3.9
- CUDA/cuDNN version: 11.2
- GPU model and memory: RTX 3090

**Describe the current behavior**

When calling ` tf.data.experimental.load` the bellow error is printed, however, the dataset appears to load without issue

`Unimplemented: Cannot merge options for dataset of type LoadDat

[2021-04-22 16:07] amahendrakar commented on #48368
@redmlr,
Looks like the changes were not saved in the gist. I still see the same code.

![Screenshot 2021-04-22 9 15 51 PM](https://user-images.githubusercontent.com/57165142/115745681-48bfcb80-a3b1-11eb-9d47-412064136899.png)

Could you please save the changes and share the updated link. You can also save the gist using the following method 'File' -> 'Save a copy as Github Gist', and share the li

[2021-04-22 16:11] henrysky commented on #47311
@AndyTsangChun The solution I am using so far is to NOT specify loss when compiling model with `comile()`, while specify custom `train_step()` with your custom loss inside it.

Remember to give a dict when calling `fit()` in the case below so that you can use dict to get what you need (in this case `output` and `labels_err` from dict)

For example:
[code]

[2021-04-22 16:18] ciklista commented on #43833
Thanks @abattery, however this is not solving it for me. I am having a similar issue with converting to tf-trt. Is there a similar flag for tf-trt?

[2021-04-22 16:20] impjdi commented on #48698
Is this really a problem of FP16?  The error message

tells me that it's the model itself not having set static tensor dimensions, but have dynamic tensor shapes.  That has nothing to do with FP16 or FP32.  Does this run in FP32 without problems?

[2021-04-22 17:00] ymodak commented on #46713
This is fixed with latest tf-nightly as mentioned by ssomers.
See [gist](https://colab.research.google.com/gist/jvishnuvardhan/ab673604087e19dc352b131c550992e8/untitled101.ipynb) for your reference. Thanks!

[2021-04-22 17:05] xunkai55 commented on #46964
We've already pushed artifacts to Maven Central. Closing it now. For any issues related, Feel free to reopen.

[2021-04-22 17:05] #46964 closed

[2021-04-22 17:28] #48066 closed

[2021-04-22 17:28] #48226 closed

[2021-04-22 17:28] #48504 closed

[2021-04-22 17:32] Saduf2019 commented on #43433
@PwnerHarry
Thank you for the Update, glad it works fine.

[2021-04-22 17:34] amahendrakar commented on #48526
@ymodak,
I was able to reproduce the issue with TF v2.4.1, TF v2.5.0rc1 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/5f0aadb91702f31f21a8d412cd3f85da/48526.ipynb). Thanks!

[2021-04-22 17:43] ruffson commented on #5777
For what it's worth this is still a problem in 2021 for me on Fedora 33. I tried to follow this advise but I could also not unload `nvidia_drm` for the same reason. But after loading the first module in the list again, things worked for me again. So for me it was just:

[code]

Not claiming this works for everyone though.

[2021-04-22 17:57] amahendrakar commented on #48640
@innat,
1. As you've already mentioned, starting with TF v2.0, the TensorFlow packages by default support both CPU and GPU.

2. > why `tf-gpu/cpu` for `2.4.1` still exits? what is the main reason here?

If you explicitly require support for either CPU or GPU **only**, you can opt for the tf-cpu/gpu package.

3. > is there any difference for `tf > = 2` installing them separately or the standalone w

[2021-04-22 18:08] talumbau commented on #47862
It is correct that Ruy is an unconditional dependency for ARMv8 builds, but the dependency set within Ruy is not very large. For example, one can build Ruy without the cpuinfo library (but in that I don't believe the library would be able to choose optimized kernels based on  the detected platform). I think a good way to describe the situation is as follows: Ruy contains the optimized GEMM kernels

[2021-04-22 18:08] #47862 closed

[2021-04-22 18:26] bhack commented on #48704
It is solved on master. Can you try with `pip install tf-nightly-cpu`? Thanks

[2021-04-22 18:33] amahendrakar commented on #48672
@XXZhou25,
Could you please provide a minimal code snippet of the use-case you are trying to implement, so that we can look into it. Thanks!

[2021-04-22 18:37] bhack commented on #48557
@AdityaKane2001 Are you able to complete the first build with your local machine?

[2021-04-22 18:41] kkimdev commented on #48314
I'd say that's more-or-less expected for this smaller-scale computation, since constant Python code overhead dominates it.  Using `@tf.fucntion` could give a different picture here.

[2021-04-22 18:41] #48314 closed

[2021-04-22 18:42] amahendrakar commented on #40423
@oscarbg,
The stable version of TF v2.4 is released it is compatible with CUDA 11.0 with cuDNN 8.0.

Could you please let us know if this is still an issue? Thanks!

[2021-04-22 18:47] khatrishubham88 commented on #40245
@amahendrakar Thanks but my issue was concerning TF2.2. The issue does not exist in later versions.

[2021-04-22 19:01] jsimsa commented on #48418
`tf.data.Dataset.from_generator` uses `PyFunc` op in its implementation, which uses an interop threadpool for its execution. if the Python method that it executes invokes any TF ops, these will need additional interop threadpool. This is unlikely to be changed.

If you would like to run your tests with a singleton interop threadpool, you should avoid using `tf.data.Dataset.from_generator` (or any

[2021-04-22 19:08] #46661 closed

[2021-04-22 19:09] bhack commented on #48699
Can you try with `!pip install tf-nightly-cpu` in your colab? As It seems solved on master.

[2021-04-22 19:13] bhack commented on #48699
Ok, I got you meant having `assertion failed: [bad shape]` also in the autograph. So we still have the same behavior on master.

[2021-04-22 19:15] jocelynbaduria commented on #48579
Hi @amahendrakar
I'll check if it works with my setup in GCP AI Platform.
If I found any issues again, will provide feedback to you.
Thanks..

[2021-04-22 19:30] deeepwin commented on #48650
On Ubuntu:

cuda: 11.3 (NVIDIA-SMI 465.19.01    Driver Version: 465.19.01)
cudnn 8.1.1.33-1+cuda11.2

On Windows:

cuda 11.3
cudnn 8.2.0.53

[2021-04-22 19:56] bhack commented on #48699
Can you try with:
[code]

I know that we have a note in the doc:
https://github.com/tensorflow/tensorflow/blob/90525711ff3e5e84b456c91e07323b6694647b40/tensorflow/python/framework/ops.py#L5366-L5369

But we also have:
https://github.com/tensorflow/tensorflow/blob/85c8b2a817f95a3e979ecd1ed95bff1dc1335cff/tensorflow/python/ops/check_ops.py#L646-L652

[2021-04-22 19:57] bhack commented on #48699
/cc @mdanatg

[2021-04-22 20:01] ymodak commented on #48078
The code snippet provided is too long to investigate the problem. Please try posting this question on Stack Overflow. Thanks!

[2021-04-22 20:01] #48078 closed

[2021-04-22 20:11] mdanatg commented on #48699
This is a known (and unfortunate) bug in the automatic control dependencies. It is almost always smart enough to wire them properly, but in this case it fails to. The main issue is that the auto control dependencies doesn't properly detect that the assert should happen before `x + bias`. Instead, it lets them run in parallel, and the add seems to win and raise an error first.

For now, a workaroun

[2021-04-22 20:12] GrayWasTaken commented on #48683
Yeah sure thing:
[https://colab.research.google.com/drive/1fXn9w8_30kX1ATq6MS4UIWj4yealcCXo?usp=sharing](https://colab.research.google.com/drive/1fXn9w8_30kX1ATq6MS4UIWj4yealcCXo?usp=sharing)

[2021-04-22 20:26] bhack commented on #48699
@mdanatg I think also my workaround is ok or not?

[2021-04-22 20:27] deprekate commented on #48684
After digging though ops.py, I saw that I could call the old v1 method, and fixed the error by changing to
[code]

So I guess the guide needs to be updated or `device_v2()` to fall back on `device()` if a function is provided?

[2021-04-22 20:31] mdanatg commented on #48699
@bhack you need to use `control_dependencies` with  a context manager -- writing it on its own has no effect. But I think we meant to represent the same idea?

[2021-04-22 20:34] isaacgerg opened #48708 "model.fit() should tell you if batch is not big enough to train with"
Suppose you train a model using model.fit() and your batch size is set to N.  If the input from a generator is < N, tf keras gives the following error which is difficult to interpret: **ValueError: Expect x to be a non-empty array or dataset.**

Reference second answer in : https://stackoverflow.com/questions/63231811/valueerror-expect-x-to-be-a-non-empty-array-or-dataset-tensor-flow-lite-model

P

[2021-04-22 20:40] bhack commented on #48699
Yes

[2021-04-22 20:43] mccane commented on #25609
Yep.

On Thu, 22 Apr 2021 at 18:56, rmothukuru ***@***.***> wrote:

--
Cheers,

Brendan

[2021-04-22 21:25] thierryherrmann commented on #48699
[code]
is a quite a nice and non obtrusive workaround.
Thanks guys for the impressively fast response.
Up to you to close this issue or to leave it open to fix the original bug in automatic control dependencies

[2021-04-22 21:29] bhack commented on #48699
@mdanatg As I think that you have collected some well note cases do you think that we could extend the note with the currently known exceptions?

https://github.com/tensorflow/tensorflow/blob/90525711ff3e5e84b456c91e07323b6694647b40/tensorflow/python/framework/ops.py#L5366-L5369

[2021-04-22 21:37] jvishnuvardhan commented on #48175
@raposter I formatted your code and ran it in colab (which is similar to Jupyter notebook) and I don't see any issue there. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/483b8bebb873c0ba894ab0fef496bbb9/untitled.ipynb).

Two things i modified in your code
1. imported keras from tensorflow (`from tensorflow import keras`)
2. changed for loop iterations from 2500

[2021-04-22 21:50] abattery commented on #43833
@ciklista If you experience the similar issue, please open a new issue to make issues be focused.

[2021-04-22 21:55] oscarbg commented on #40423
it’s OK.. thanks..

[2021-04-22 21:55] #40423 closed

[2021-04-22 21:55] raposter commented on #48175
My issue occurred with Python 3.9.  It looks like from the gist, that Python 3.7 was used.  If not, and it works in Python 3.9 then please close the issue.Thanks  
    On Thursday, April 22, 2021, 02:38:09 PM PDT, Vishnuvardhan Janapati ***@***.***> wrote:

@raposter I formatted your code and ran it in colab (which is similar to Jupyter notebook) and I don't see any issue there. Please check the g

[2021-04-22 22:00] bhack commented on #41019
@nikitamaia Can we assign to @tabergma ?

[2021-04-22 22:11] liufengdb commented on #48689
Ethylbenzol@, can you use some random inputs in your representative_dataset method to verify that error is actually due to the use of tf.dataset (not really quantization).

[2021-04-22 22:22] abattery commented on #48703
@lintian06 could you review this feature request?

[2021-04-22 22:38] danielreyes9756 opened #48710 "Python model to javascript model always return same prediction"
Hi and thanks in advance,

I create my own model in python and I get a 93% of accuracy,
then I convert my model to a js model using the command "tensorflowjs_converter --input_format keras customModel_gs.h5 model/",

I add the model file to my angular project and then I try this:
![imagen](https://user-images.githubusercontent.com/43205522/115792840-e2dc3f80-a3c2-11eb-80a7-0a3d9f0e7861.png)

The m

[2021-04-22 22:45] TimCargan commented on #48704
@bhack, ahh looks like It's fixed in the nightly builds. I will close the issue!

[2021-04-22 22:45] #48704 closed

[2021-04-22 23:05] sanyakuznezov commented on #48697
the app built with tensorflow version 2.4.0 but fails to start with the same error on android 4.4.2

[2021-04-22 23:07] abattery commented on #48697
@sanyakuznezov Looks like the Select TF option has a compatibility issue with Android 4.4.2. Thanks for reporting the compatibility issue to us!

[2021-04-22 23:08] abattery commented on #48697
@thaink could you take a look?

[2021-04-22 23:17] sanyakuznezov commented on #48697
I tried to run the application with TensorFlow 2.4.0 on the Pixel 3A emulator with API 25, but it does not work, this is what it says in Run:

I/tflite: Initialized TensorFlow Lite runtime.
W/DynamiteModule: Local module descriptor class for com.google.android.gms.measurement.dynamite not found.
W/native: cpu_feature_guard.cc:36 The TensorFlow library was compiled to use SSE instructions, but thes

[2021-04-22 23:46] #48640 closed

[2021-04-23 00:16] Zhang-Mengfan opened #48711 "Failed to load the native TensorFlow runtime."
### System information

-   **OS Platform and Distribution (macOS 10.15.7)**:
-   **TensorFlow installed from (pip3 install tensorflow)**:
-   **TensorFlow version (2.4.1)**:
-   **Python version(3.8)**:

### Describe the problem
I tried install and re-install tensorflow many times. Including manually remove all the package folders. But I still could not import tensorflow in my terminal.

### Sour

[2021-04-23 00:23] nicholastoddsmith commented on #47245
I found an older CUDNN version that doesn't use AVX instructions. You can check by downloading the CUDNN package, disassembling the DLL in question, and grepping for AVX instructions. I used:

`objdump -d cuda/lib64/libcudnn.so.7 | grep vmovdqa`

That didn't turn up any hits on `cudnn-10.1-linux-x64-v7.6.5.32`, while equivalent DLLs in newer packages did.

I swapped out the toolkits and libraries

[2021-04-23 00:56] thaink commented on #48693
Right. I don't think you should care about .framework file size. Better to focus on the final app size increase.

[2021-04-23 01:06] nectario opened #48712 "Issue: Invalid argument: assertion failed: [len requires non-zero rank, got 0]"
I am experiencing the below issue on random occurrences.

I checked my data and it looks good. Please advise, as this is a production issue.

Thank you.

Nektarios

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Custom**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Windows and Linux**
- Mobile device (e.g.

[2021-04-23 01:10] thaink commented on #48697
Let me give it a try.

[2021-04-23 01:14] tilakrayal commented on #48694
@FGMphys ,

This question is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow) since it is not a TensorFlow bug or feature request. There is also a larger community that reads questions there. Thanks!

[2021-04-23 01:35] Damcy commented on #43833
@ciklista I meet a similar issue when using TF-TRT (the model uses Embedding layer). I solve it using "TF to ONNX to TRT" instead of "TF to TRT". Hope this method can help you.

[2021-04-23 01:47] lugalUrim opened #48713 "`Adadelta` optimizer throws error on GPU in apply_gradients"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/a
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.4.1
- Pytho

[2021-04-23 01:52] Mr-Nineteen commented on #48388
@ymodak  it's ok, thx.

[2021-04-23 02:19] Mrlyk423 commented on #48693
I see. Thanks!

[2021-04-23 02:19] #48693 closed

[2021-04-23 02:20] tilakrayal commented on #48702
@BeccaHuang ,

In order to expedite the trouble-shooting process, could you please provide the TensorFlow version,the  complete code and the dataset you are using. Thanks!

[2021-04-23 02:59] #48538 closed

[2021-04-23 03:00] lugalUrim commented on #48713
There are some relevant issues, e.g. https://github.com/tensorflow/tensorflow/issues/38779, but I didn't find any solution to this problem.

[2021-04-23 03:08] RuralHunter commented on #38561
OK, I found my problem is because of multi-thread calling the predict_on_batch function. I added an empty predict before launching the threads and the warning was gone.

[2021-04-23 03:08] Dragon-GCS commented on #48334
I read the link you mentioned, and I think my issue is not same as it. When I debug this error, x.shape and tf.shape(x) will rasie different value. So I think it will be a hidden danger and I mainly want to know why they are different.
BTW, thanks for your patients and replys.

[2021-04-23 03:17] RuralHunter commented on #34025
I found my problem was because of multi-threading. I added an empty predict() call before launching threads and the retrace warning was gone.

[2021-04-23 03:18] sayakpaul opened #48714 "Adding a utility to penalize majority class pixels in the Segmentation tutorial"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2021-04-23 03:19] BeccaHuang commented on #48702
Hi @tilakrayal sorry i can't provide dataset but model i build,

def build_LSTM_model(input_shape):
    inp =tf.keras.layers.Input(shape=(input_shape[1], input_shape[2]))
    encoder = tf.keras.layers.Bidirectional(tf.compat.v1.keras.layers.CuDNNLSTM(128, activity_regularizer=regularizers.l1(10e-9),return_sequences=True), name='en_Bi_LSTM_1')(inp)
    encoder_output = tf.keras.layers.Bidirectional

[2021-04-23 03:21] 372046933 commented on #38065
Sorry, I cannot verify v2.4.1 due to insufficient disk space.

[2021-04-23 03:33] Mrlyk423 commented on #48693
@yyoon I find the official site (https://www.tensorflow.org/lite/guide/build_ios) is still asking users to use the command "tensorflow/lite/tools/make/download_dependencies.sh". It is better to update it.

[2021-04-23 03:47] Nhiem commented on #47888
Yes Thank you for your response The problem is solved!!

On Fri, Apr 23, 2021 at 6:09 AM tensorflow-butler[bot] <
***@***.***> wrote:

[2021-04-23 04:10] AdityaKane2001 commented on #48557
@bhack
I was not able to complete the build, I am getting following error message:
`ERROR: Analysis of target '//tensorflow/tools/pip_package:build_pip_package' failed; build aborted: Repository command failed
INFO: Could not find files for the given pattern(s).`

[2021-04-23 04:13] sandhyacs commented on #48228
hi @Saduf2019

Any update?

[2021-04-23 04:44] #25609 closed

[2021-04-23 04:49] chenxingqiang commented on #8471
please change your job on GPU

[2021-04-23 04:53] Artaches commented on #35283
We've ran into another weird performance issue with tflite (this time using tflite r2.4 runtime) on the Pixel 3a. We've discovered that when the app is out of focus (minimized or screen turned off), the Pixel 3a forces all the tflite threads to run on the very last core of the CPU. This is particularly bad when using more than 1 thread for tflite (`interpreter->SetNumThreads(2 or greater)`) since

[2021-04-23 05:06] yyoon commented on #48693
@Mrlyk423 I don't see that instruction anywhere on the page you linked. Can you point to the exact location of it? Is it possible that you were somehow looking at an old version of that doc?

[2021-04-23 05:12] Mrlyk423 commented on #48693
Ohh, I see. I am looking at the version of "Chinese" of this page, the "English" version has been updated.

[2021-04-23 05:22] hongkahjun commented on #34697
@rmothukuru have you tried running  `joblib.load('model.pkl')`? I am getting this error:

TypeError: '<' not supported between instances of 'InputLayer' and 'Sequential'

version:
joblib                  1.0.1
tensorflow           2.4.1

[2021-04-23 05:30] multiverse-tf commented on #35283
Many thanks for such a detailed perf. investigation! I think such an OS scheduling strategy on Pixel3a in this case isn't that surprising if considering the goal is to save power consumption, and the screen being off implies no user interaction w/ the phone?

These are great questions! I don't think Android has official APIs to set cpu affinity for threads as it's not encouraged to do so. Even if

[2021-04-23 05:37] ciklista commented on #43833
@abattery I know, sorry, I thought if this is a quick answer this might fit better here. Especially since others in this thread also had issues with tf-trt. As this seems not to be the case, I will go ahead and open a new issue.

@Damcy yes, you are right, going to "bare bones" trt might be a solution but I specifically want to use TensorFlowTRT.

[2021-04-23 05:56] jvishnuvardhan commented on #48643
@micosacak Is it possible to provide simple standalone code to reproduce. We generally don't encourage long code to debug.  Few things to consider are

1. Did you face same issue when you try using the built-in training (when compared to custom training)
2. did you check whether it is due to autograph (@tf.function decoration)

Hope this helps. If you cannot simplify the code, please consider post

[2021-04-23 06:41] tilakrayal commented on #48702
@BeccaHuang ,

Please share all the dependencies to replicate the issue or share a colab gist with the reported error.

Thanks!

[2021-04-23 06:42] tilakrayal commented on #48661
@TheEnigmist ,

I do not have access to the link you have provided. Could you please provide the required permissions to view the files.

Thanks!

[2021-04-23 06:44] tilakrayal commented on #48708
@isaacgerg ,

In order to expedite the trouble-shooting process, could you please provide the Tensorflow version,complete code and dataset to reproduce the issue reported here.

Thanks!

[2021-04-23 06:45] karthickai commented on #45753
@spikegee Try to build Tensorflow lite using this bazel command

bazel build --cxxopt='--std=c++11' -c opt //tensorflow/lite:tensorflowlite

My issue got resolved while using this method.

[2021-04-23 06:46] alexartwww commented on #48663
artem@ThinkPad-X230:~/ml$ pip install /tmp/tensorflow_pkg/tensorflow-2.3.2-cp38-cp38-linux_x86_64.whl
Defaulting to user installation because normal site-packages is not writeable
Processing /tmp/tensorflow_pkg/tensorflow-2.3.2-cp38-cp38-linux_x86_64.whl
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.8/dist-packages (from tensorflow==2.3.2) (1.32.0)
Collecting numpy<1.19.0,

[2021-04-23 06:47] tilakrayal commented on #48712
@nectario ,

In order to reproduce the issue reported here, could you please provide the complete code and the dataset you are using. Thanks!

[2021-04-23 06:49] kunalchamoli commented on #48698
@impjdi how can i know which layers are making dynamic tensors.

[2021-04-23 06:58] harshad-dh commented on #47311
@henrysky

I am facing a similar issue and was interested in trying the solution that you proposed.
I tried to implement the custom model like you have mentioned but get the following error:
 NotImplementedError: When subclassing the `Model` class, you should implement a `call` method.

 tf version : 2.4.1.

 Sorry if I am being a noob, but if you could point me to some sample of this I will reall

[2021-04-23 07:12] tanguycdls commented on #48418
ok thank you for the clarification ! so i'll need to use at least nbr interop thread i have nbr of python generator.

Would there be any way to make that error more user friendly and explicitely raise instead of the deadlock ?

[2021-04-23 07:12] #48418 closed

[2021-04-23 07:35] AndyMcPython commented on #40392
I had this issue after converting a pytorch model to .onnx, to .pb

How top get something like a summary:
https://github.com/onnx/onnx-tensorflow/issues/855#issuecomment-765028398
How to use the .pb file:
https://github.com/onnx/onnx-tensorflow/issues/901#issuecomment-821686852

[2021-04-23 07:36] bhack commented on #48557
It was fixed at https://github.com/microsoft/vcpkg/pull/16315

[2021-04-23 07:48] rmothukuru commented on #26683
@cih9088,
Can you please let us know if [this PR](https://github.com/tensorflow/tensorflow/pull/27219) has resolved this issue? Thanks!

[2021-04-23 07:58] cih9088 commented on #26683
It was resolved by #27219 right after the merge but I'm not sure if this is still a problem after all these years because I haven't used it for a long time.

[2021-04-23 08:04] rmothukuru commented on #26711
@HanGuo97,
I executed your code with the **`latest version of Tensorflow (2.4.1)`**  and observed that the **`Numpy Operation`** on **`List`** of **`Tensor`** is faster enough. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/587dd5ce7c60fc9fb835eb17253eb106/gh_26711.ipynb) of the working code. Thanks!

[2021-04-23 08:10] rmothukuru commented on #26683
Closing this issue as it has been resolved with #27219. Please feel free to open it if the issue still persists. Thanks!

[2021-04-23 08:11] #26683 closed

[2021-04-23 08:13] lucacampanella commented on #48487
Hi @teijeong , did you have a chance to look at the code and at my clarification questions? It would help us a great bunch!
Thanks! :)

[2021-04-23 08:24] rmothukuru commented on #26951
@woodshop,
I've executed your code in Tensorflow Version 1.15 and it works without any error. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/760cf674d64dc60aa440105692133ed7/gh_26951.ipynb) of the working code. Thanks!

[2021-04-23 08:41] wee-analyze commented on #48703
I made some code which I think adds the feature. I'm not sure if it works though because I can't build from source when I follow the instructions from the model_maker readme. I make a fork and added the changes but I don't know how to make a pull request to TensorFlow. I tried, but it doesn't seem to show up on the TensorFlow PRs.

This is the fork where I made the changes [https://github.com/wee-

[2021-04-23 08:45] TheEnigmist commented on #48661
Added view permission for the code. For those who don't want to access colab, the sample code is:

[code]

The output is:
[code]

[2021-04-23 08:47] rmothukuru commented on #27193
@zaccharieramzi,
Can you please let us know if we can close this issue as it has been implemented? Thanks!

[2021-04-23 08:54] rmothukuru commented on #27259
@mmajurski,
 Can we close this issue as it is resolved by using **`Tensorflow Version 2.x`**, as per [this comment](https://github.com/tensorflow/tensorflow/issues/27259#issuecomment-525301138) and as per [this comment](https://github.com/tensorflow/tensorflow/issues/27259#issuecomment-570552675)?

[2021-04-23 09:02] sanyakuznezov commented on #48697
I am trying to run this example (https://github.com/tensorflow/examples) on Pixel 3A APi25 emulator. The application does not start.

04/23 11:58:03: Launching 'app' on Pixel 3a XL API 25.
App restart successful without requiring a re-install.
$ adb shell am start -n "org.tensorflow.lite.examples.soundclassifier/org.tensorflow.lite.examples.soundclassifier.MainActivity" -a android.intent.action.MA

[2021-04-23 09:07] rmothukuru commented on #27312
@jaba166,
Your code could be executed successfully, without any error. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/49a05fb1caf13edcc1c1aa7dd3d74c55/gh_27312.ipynb) of the working code. Thanks!

[2021-04-23 09:13] samanemami opened #48717 "boosted tree classifier h-params"
<em>I am working with the [boosted tree classifier](https://github.com/tensorflow/estimator/blob/781c0d30c6bf100aa174591dd97cb70fc39d294d/tensorflow_estimator/python/estimator/canned/boosted_trees.py#L1933)</em>

**System information**
- TensorFlow installed from: pip
- TensorFlow version: 2.4.1
- Python version: 3.6.5

**Describe the current behavior**
There is a hyper-parameter in the model call

[2021-04-23 09:15] AdityaKane2001 commented on #48557
@bhack
I updated python to 3.9.2 and reinstalled the MS Build Tools but the error still persists.

[2021-04-23 09:25] tanguycdls commented on #48660
Related to https://github.com/tensorflow/tensorflow/issues/42280 as well, you can either create your own tf.dataset beforehand (the check does not exists in from_generator ) and use it in the .fit or .predict. or call __call__ of the model directly (no check either) with a custom training loop :( (overriding train_on_batch wont work neither).

I agree with you but I think that check was added beca

[2021-04-23 09:28] AlexandreBourrieau commented on #38319
Got hte same error

[2021-04-23 09:29] zaccharieramzi commented on #27193
Well it has been implemented but not in TensorFlow itself.
Closing anyway as I think it won't be the case in the near future, and the current solution is satisfying.

[2021-04-23 09:29] #27193 closed

[2021-04-23 09:30] sanyakuznezov commented on #48697
as I understand it, you need to disable the instruction SSE. How to do it?

[2021-04-23 09:35] bhack commented on #48557
It was closed as stale on our side  https://github.com/tensorflow/tensorflow/issues/46902 /cc @mihaimaruseac

In the meantime can you build with out Docker devel image at https://www.tensorflow.org/install/source#docker_linux_builds?

[2021-04-23 09:35] abattery commented on #48697
From TensorFlow 2.4 versions, the Select TF binaries are built without the SSE support. Please make sure your TF dependency is at least TF 2.4. version for the x86 emulator.

[2021-04-23 09:38] AdityaKane2001 commented on #48557
Sure, I'll give it a try. Will I be able to use the bazel cache somehow? The previous build had compiled around 11k objects.

[2021-04-23 09:39] sanyakuznezov commented on #48697
I am working with these dependencies:

implementation 'org.tensorflow:tensorflow-lite-support:0.1.0-rc1'
    implementation "org.tensorflow:tensorflow-lite:2.4.0"
    implementation 'org.tensorflow:tensorflow-lite-metadata:0.1.0-rc2'
   implementation 'org.tensorflow:tensorflow-lite-select-tf-ops:2.4.0'

[2021-04-23 09:42] abattery commented on #48697
Could you also try the tf-nightly or tf 2.5.0? I think the fix isn't included in the TF 2.4.0. See also https://github.com/tensorflow/tensorflow/issues/38025

[2021-04-23 09:44] xexiyong commented on #18491
Hi，I also found the crf_log_likelihood from tf_addons is also slower than tf 1.4. any progress on this? appreciate your help!

[2021-04-23 09:54] wee-analyze commented on #48703
I figured out how to make a PR in the TensorFlow repo https://github.com/tensorflow/tensorflow/issues/48703#issuecomment-825221404

[2021-04-23 10:15] sanyakuznezov commented on #48697
Could not resolve all files for configuration ':app:debugRuntimeClasspath'.

     Searched in the following locations:
       - https://jcenter.bintray.com/org/tensorflow/tensorflow-lite/2.5.0/tensorflow-lite-2.5.0.pom
       - https://maven.google.com/org/tensorflow/tensorflow-lite/2.5.0/tensorflow-lite-2.5.0.pom
       - file:/C:/Users/first/.m2/repository/org/tensorflow/tensorflow-lite/2.5.0/te

[2021-04-23 10:19] bhack commented on #48557
No it will be invalidated as the platform is totally different. Are you sure that you are compiling on updated Build tools with python 3.9.2 cause the `copysign` MACRO was removed in Python 3.9.2 so it seems strange that you still have these conflicts.

[2021-04-23 10:21] AdityaKane2001 commented on #48557
Yes, it seemed a bit weird to me too.
I have installed docker and pulled the container, I'll try to build.

[2021-04-23 10:23] wee-analyze commented on #48703
I changed some code which I think adds the feature. I'm not sure if it works though because I can't build from source when I follow the instructions from the model_maker readme (not sure why that is).  This is the PR I made [https://github.com/tensorflow/examples/pull/307](https://github.com/tensorflow/examples/pull/307)

[2021-04-23 10:23] abattery commented on #48697
Then please try out the tf-nightly version.

[2021-04-23 10:30] UsharaniPagadala commented on #48710
@danielreyes9756

Could you please fill the issue template

In order to expedite the trouble-shooting process, could you please provide the following details

OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installe

[2021-04-23 10:34] sanyakuznezov commented on #48697
the problem persists, perhaps this problem with sse only on emulators with x86. On a real device with android api 29, the application starts and works stably, but I have no opportunity to test the application on all real devices

build.gradle:

 //tensorflow
    implementation 'org.tensorflow:tensorflow-lite-support:0.1.0-rc1'
    implementation "org.tensorflow:tensorflow-lite:0.0.0-nightly"
    i

[2021-04-23 10:53] darkSKULL-labs commented on #48480
Yes, I just wanted to show why Google uses Swig for tensorflow. Thanks.

[2021-04-23 11:04] abattery commented on #48697
@terryheo could you take a look?

[2021-04-23 11:48] #46181 closed

[2021-04-23 12:08] #34618 closed

[2021-04-23 12:22] AdityaKane2001 commented on #48557
@bhack
I tried to build using docker. It was going fine for a while, and then it got stuck at
` Compiling tensorflow/core/kernels/bias_op.cc [for host]; 2086s local, remote-cache` for 30 mins or so
I cancelled the build. When I restarted it, it started doing all over again from scratch.

[2021-04-23 12:26] HanGuo97 commented on #26711
Thanks!

[2021-04-23 12:26] #26711 closed

[2021-04-23 12:29] BeccaHuang commented on #48702
Thank you Tilakrayal.
I don't have error about code,but i just want to know if add mask layer how to run in model....
about Variable Length Sequence Support for CUDNN LSTM #23269
in #23269 say if padding in tail  will be able to work correctly in this situation?

[2021-04-23 12:33] bhack commented on #48557
Have you compiled with --disk_cache= ?

[2021-04-23 12:33] AdityaKane2001 commented on #48557
Yes I did

[2021-04-23 12:36] tilakrayal commented on #48661
@jvishnuvardhan ,

I was able to reproduce the issue in TF v2.4,2.5.0rc1 and nightly.Please find the [gist](https://colab.research.google.com/gist/tilakrayal/b2f26e0229ab391028177599c7a9965c/48661.ipynb) here.

[2021-04-23 12:36] bhack commented on #48557
Have you restarted the container?

[2021-04-23 12:37] AdityaKane2001 commented on #48557
[code]
was the command I ran

[2021-04-23 12:38] AdityaKane2001 commented on #48557
Not yet

[2021-04-23 12:39] bhack commented on #48557
Remember that the containers are ephimeral. You need to pass the disk cache as volume so It will be persistent across containers destroy/creation instances.

[2021-04-23 12:40] AdityaKane2001 commented on #48557
Could you please tell a bit more about that?

[2021-04-23 12:52] bhack commented on #48557
Read https://docs.bazel.build/versions/master/bazel-container.html#build-abseil-project-from-your-host-machine-with-directory-mounting

And you need to do the swme also for the volume/path that you want to use for the `--disk_cache`

[2021-04-23 12:53] n4ndoz commented on #22853
Just reporting: as of 2021, using TF version 2.4.1 (stable) and ran into the same issue. My code, while different, uses the same dynamic of feeding options as a list (of dicts, actually). And the code won't recognize. My setting and settings are:
OS: Ubuntu 20.04
TF_version: 2.4.1
Eager_Mode: activated by default (i'm using it to debug my custom layers)
IDE: (docker)Jupyter Notebook
Container: ten

[2021-04-23 12:56] Mrlyk423 opened #48718 "IOS version of TensorFlowLiteC expose symbol(s) not found error"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2021-04-23 12:57] AdityaKane2001 commented on #48557
Thanks a lot, I'll take a look at it.

[2021-04-23 13:08] #34765 closed

[2021-04-23 13:14] isaacgerg commented on #48708
Tensorflow 2.4.1

[2021-04-23 13:15] skribm9 commented on #45857
Hi @advaitjain do you have some time to look at this issue?

[2021-04-23 13:16] wee-analyze commented on #48703
@lintian06 I changed some code which I think adds the feature. If you're interested, maybe you could check my code? I'm not sure if it works because I can't build from source when I follow the instructions from the model_maker readme (not sure why that is).  This is the PR I made [https://github.com/tensorflow/examples/pull/307](https://github.com/tensorflow/examples/pull/307)

[2021-04-23 13:17] AdityaKane2001 commented on #48557
@bhack
Please give me some time to do this. I am quite new to Docker, but I'll try my best. Thanks for your support and patience.

[2021-04-23 13:20] mdanatg commented on #48699
Yes, I believe we should. There are two broad categories that I know of:
 * uses of tf.assert (and any of its variants)
 * uses of tf.py_function which affects tf.Variables

At any rate, the note should say amount to something like "Most of the time, you shouldn't need this [...]. Only use it to manually control ordering, for example as a workaround to known issues.". Then, the docstring should in

[2021-04-23 13:23] bhack commented on #48557
Ok you have two approaches in that Doc:
- with a Git checkout on the host
- with the checkout in the container  (in our image we also already have a Tensorflow checkout).

So as you like you but remember to set a volume mount also for `--disk_cache` directory.

[2021-04-23 13:30] bhack commented on #48699
@mdanatg Yes, If you will track these features in other tickets (on github or internally?) we could reserve this to the doc change.
Can we label this with docs and contribution welcome?

@thierryherrmann are you interested to open this small Doc PR?
If yes check https://www.tensorflow.org/community/contribute/docs

[2021-04-23 13:31] libbooze opened #48719 "Unclear if Debug build on Windows is supported"
## URL(s) with the issue:

Please provide a link to the documentation entry, for example:
https://www.tensorflow.org/install/source_windows

## Description of issue (what needs changing):
Specify if building Debug verion of TF on Windows is possible.
From looking at bugs here people are having problems, but it is unclear if it is officially not supported, or it is supported, clarifying that in doc

[2021-04-23 13:33] phone-burner commented on #48498
At least I'm sure this issue is ready to be closed as my suggestion has helped him/her successfully solve the problem .

[2021-04-23 13:50] UsharaniPagadala commented on #48713
@lugalUrim

I reproduced the issue in tf-nightly did not face any error.Please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/b7b992805d254cc67d9cc69fb4bfb279/-48713.ipynb) here.Thanks

[2021-04-23 13:55] remzaboy commented on #38100
Still having the exact same issue :'( with tf2.4

[2021-04-23 13:58] danielreyes9756 commented on #48710
Yeah of course thanks,
OS Windows 10
issue happens on PC device, im working on angular 11
model crearted on google colaboratory so:
TensorFlow default version and intallation of google colaboratory
Same with Python 3.7.10 default version I didn't install it
Bazel version (I don't know what is Bazel)
Not need CUDA
GPU model and memory, I workerd with the colab gpu acelerator but my own GPU is a GTX

[2021-04-23 14:10] UsharaniPagadala commented on #48649
@arunraja-hub

Could you please confirm if the issue is resolved. if yes, please feel free to move this issue to closed status.

[2021-04-23 14:25] mmajurski commented on #27259
This issue can absolutely be closed. It was obsoleted with the full transition to Tensorflow 2.x.

[2021-04-23 14:25] #27259 closed

[2021-04-23 14:36] UsharaniPagadala commented on #48718
@Mrlyk423

Could you please fill the issue template
In order to expedite the trouble-shooting process, could you please provide the following details

OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installed using

[2021-04-23 14:59] Mrlyk423 commented on #48718
@UsharaniPagadala  Thanks! Below is my system env.

OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.15.7 (19H2)
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
TensorFlow installed from (source or binary): source
TensorFlow version: both r2.5 and commit 1d4451e42c6ce44bd9ebb89d117636e4960df7c3 of the master branch have the problem

[2021-04-23 15:14] RJRP44 opened #48720 "Didn't find op for builtin opcode 'CAST' version '1'"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10, Platformio
- TensorFlow installed from (source or binary): Platformio Library
- Tensorflow version (commit SHA if source): TensorFlowLite_ESP32 0.9.0, model done on tensorflow 2.4
-
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): ESP32

**Describe the problem**

When i

[2021-04-23 15:23] simonmaurer commented on #40044
news? related: [Group convolutions for CPUs](https://github.com/tensorflow/tensorflow/commit/7b8db6083b34520688dbc71f341f7aeaf156bf17)

[2021-04-23 15:25] lugalUrim commented on #48713
@UsharaniPagadala Yes, the error is in tensorflow 2.4.1, and it seems to be fixed in tf 2.5 and tf-nightly.

There is a small bug in the code (should be `random.randint(0, 9)` instead of `random.randint(0, 10)`), I have edited the issue description to fix it.

[2021-04-23 15:25] Andreas5739738 opened #48721 "tf.RaggedTensor.bounding_shape: out_type argument is ignored"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.15.7
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: -
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.5.0-r

[2021-04-23 15:25] jdduke commented on #48567
@njeffrie can you take a look?

[2021-04-23 15:26] allenlavoie commented on #22853
@n4ndoz eager execution doesn't change the `self.foo = list(...)` behavior. I'd file another bug with a reproduction.

[2021-04-23 15:29] UsharaniPagadala commented on #48713
@lugalUrim

Could you please confirm if the issue is resolved. if yes, please feel free to move this issue to closed status.

[2021-04-23 15:42] krivokuca commented on #45214
Yeah, it's really annoying to work with.

[2021-04-23 15:53] guillaumekln opened #48722 "Obsolete NVIDIA driver check for CUDA 11.2"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Ubuntu 20.04
- TensorFlow installed from: binary
- TensorFlow version: 2.5.0
- Python version: 3.8
- CUDA/cuDNN version: 11.2/8.1.1 (Docker image: `tensorflow/tensorflow:2.5.0-gpu`)

**Describe the current behavior**

[code]

When running the Docker command above and GPU driver 455 installed on the host, the f

[2021-04-23 16:05] krivokuca commented on #45214
Created PR #48723 to fix this issue

[2021-04-23 16:06] rxsang commented on #39550
Yes, you are right. Thanks for the confirmation @dails08

[2021-04-23 16:06] #39550 closed

[2021-04-23 16:07] henrysky commented on #47311
@harshad-dh you can read the official tutorial about sub-classing keras model (https://www.tensorflow.org/guide/keras/functional#when_to_use_the_functional_api)

[2021-04-23 16:08] #48242 closed

[2021-04-23 16:08] #47249 closed

[2021-04-23 16:08] #48432 closed

[2021-04-23 16:46] impjdi commented on #48698
Note that I don't know anything about neural net (ok, it's a bit exaggerated, but roughly captures my point), so I can't suggest a more efficient way than checking every input/output of an op using a visualizer like Netron or checking it programmatically, e.g. print all input/output tensors' dimensions.

[2021-04-23 16:54] saikumarchalla commented on #48701
Was able to reproduce the issue in TF 2.4 and Nightly version as well. Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/5bbf7fed3fe931f4cc07306c91276f88/convert_image_dtype.ipynb).

[2021-04-23 17:08] #47916 closed

[2021-04-23 17:08] #48017 closed

[2021-04-23 17:08] #48025 closed

[2021-04-23 17:08] #48190 closed

[2021-04-23 17:44] amahendrakar commented on #40245
@khatrishubham88,
Thank you for the update.

In this case, can we close this issue as the error is fixed in the latest version of TensorFlow?

[2021-04-23 18:10] ymodak commented on #38994
Closing this issue since the associated PR has been merged and the issue is fixed. Thanks

[2021-04-23 18:10] #38994 closed

[2021-04-23 18:21] ymodak commented on #38874
MobileNetV3 application is now added in TF 2.4.1.
See api docs:
https://www.tensorflow.org/api_docs/python/tf/keras/applications/MobileNetV3Large
https://www.tensorflow.org/api_docs/python/tf/keras/applications/MobileNetV3Small
Thanks!

[2021-04-23 18:21] #38874 closed

[2021-04-23 19:01] Saduf2019 commented on #42157
@raagapranitha
Could you please try on latest version of tf [2.5] or nightly and let us know if you still face the issue.

[2021-04-23 19:03] ymodak commented on #41692
As per the [documentation](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Conv1DTranspose) the `causal` arg is not accepted as valid input for Conv1DTranspose.

[2021-04-23 19:05] amahendrakar commented on #38065
@372046933,
Thank you for the update.

Can we close this issue for now? Please feel free to re-open if you face the same error with TF v2.4.1 as well.

[2021-04-23 19:08] #48221 closed

[2021-04-23 19:08] #48256 closed

[2021-04-23 19:13] Saduf2019 commented on #44590
@merplumander
Is this still an issue, can you please try on latest tf version and update us.

[2021-04-23 19:21] Zethson commented on #46093
I still have issues with Cuda 11.2 and RC1:

[code]

The same container has 0 issues with PyTorch.

[2021-04-23 19:22] Nikolai10 commented on #46733
any updates @daverim ?

[2021-04-23 19:31] amahendrakar commented on #37629
@npandey2385,
Is this still an issue?

Could you please follow [this guide](https://www.tensorflow.org/install/source) and check if you are facing the same error with TF v2.4.1 as well? Thanks!

[2021-04-23 19:34] amahendrakar commented on #40882
@InfiniteLife,
Is this still an issue?

Could you please update TensorFlow to the latest stable version v2.4.1 and let us know if you are facing the same error. Thanks!

[2021-04-23 19:39] amahendrakar commented on #38164
@Zethson,
Is this still an issue?

Also, please take a look at @engrmz's comment and check if it helps. Thanks!

[2021-04-23 19:40] Saduf2019 commented on #46163
@jfinken
Is this still an issue, could you please verify on latest tf and let us know.

[2021-04-23 19:41] Zethson commented on #38164
Honestly I don't know anymore because since then I moved on with my containers. Running into similar issues with libcudnn.so.8 atm. It's just a mess with Tensorflow. The same containers always, always, always run smoothly with Pytorch. But well it's difficult to get this smoothly.

[2021-04-23 19:41] #38164 closed

[2021-04-23 19:43] amahendrakar commented on #41743
@amirekhlasi,
Thank you for the update.

Is this still an issue? Please feel free to close the issue if resolved.

[2021-04-23 19:44] Saduf2019 commented on #45941
@espears1
Is this still an issue, can you please check in the latest tf and let us know.

[2021-04-23 19:49] Saduf2019 commented on #44770
@Justus-M
Could you please check with the latest tf version and update us, as the PR is merged this should be resolved,

[2021-04-23 19:52] espears1 commented on #45941
@Saduf2019 Yep, it's still an issue. It's a backward-compatibility-breaking issue so it affects all TF after the break from 2.2.0 to 2.2.1. Ideally even non-latest published minor versions should receive a new patch bump for it to be fixed, though that might be intractable.

Models trained with 2.2.0 can't have their vocab loaded for fine-tuning in 2.2.1 or onward.

[2021-04-23 20:00] Saduf2019 commented on #45180
@rpytel1
This is fixed on latest tf, can you refer to [this gist](https://colab.research.google.com/gist/Saduf2019/2c47e0eddc42065670e63ceb3536fa78/untitled594.ipynb) and update.

[2021-04-23 20:19] RuhuaJiang commented on #42616
Any updates on this issue?

[2021-04-23 20:42] Johnny-liqiang opened #48726 "Tensorflow not working on Windows (Parallel) VM on Mac with M1 Chip"
**Error: ImportError: DLL load failed: A dynamic link library (DLL) initialization routine failed.**

System info:
Cuda V11.3
cudnn V11.3
Pycharm
Python 3.7
VS2019 installed as well
Installed tensorflow by : `pip install tensorflow` (tensorflow version: 1.15.0) and also tried tensorflow 2.4.1

System is: windows10 installed by parallel on Mac with M1 Chip

When I test tensorflow by following comme

[2021-04-23 20:47] Johnny-liqiang commented on #48726
Cuda and Cudnn are correctly installed and added into system path,
we installed win10 on MacBook, and it is M1 Chip one

[2021-04-23 21:01] jvishnuvardhan commented on #38319
@GPhilo Looks like this was resolved. I have check with `tf-nightly` and I cannot reproduce the issue. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/a501e181c0dfea612d22b8ba71f0ed4d/untitled496.ipynb).

Can you verify once and close the issue if this was resolved for you. Thanks!

[2021-04-23 21:01] jvishnuvardhan commented on #38319
@AlexandreBourrieau Can you please open a new issue with a simple standalone code to reproduce the issue? Thanks!

[2021-04-23 21:09] jaba166 commented on #27312
Works in tensorflow 2.4.1 - thanks!

[2021-04-23 21:09] #27312 closed

[2021-04-23 21:43] jvishnuvardhan commented on #48661
@TheEnigmist Based on a good [tutorial](https://stanford.edu/~shervine/blog/keras-how-to-generate-data-on-the-fly) and [SO issue](https://stackoverflow.com/questions/62346965/input-pipeline-w-keras-utils-sequence-object-or-tf-data-dataset), i updated your code with one line to init `on_epoch_end` in the __init__ method.

With that modification, now the code throws Exception. Please check the [gist

[2021-04-23 21:54] bhack commented on #44752
The PR fixed another issue

[2021-04-23 22:08] #38396 closed

[2021-04-23 22:35] abattery commented on #48718
FYI, @yyoon @thaink

[2021-04-23 22:57] TheEnigmist commented on #48661
Well that trigger `on_epoch_end()` only once at init time, but will not trigger it again.

If you remove the raise you will see that "SHUFFLE" print occurs only at before first epoch but never at the end of each epoch, like should be.

[2021-04-23 23:15] nikitamaia commented on #38248
Fixed in [9e18593](https://github.com/tensorflow/docs/commit/9e18593b7ee19058b651626d0e96a552ac7b4733)

[2021-04-23 23:15] #38248 closed

[2021-04-23 23:28] reedwm commented on #48662
I am unfamiliar with gradient penalty. @nluehr @benbarsdell do you know how to use gradient penalty with loss scaling?

@bhack, as you mentioned, #47156 might be related. Given gradient penalty involves second order gradients, we should determine how to apply loss scaling when using gradient penalty.

[2021-04-23 23:51] jwallbridge commented on #48531
Thank you @tilakrayal for reproducing the issue.
@jvishnuvardhan ,
do you have an update on the issue?

[2021-04-24 01:04] #48683 closed

[2021-04-24 06:14] athira-ajith opened #48730 "Tensorflow"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2021-04-24 06:14] athira-ajith commented on #48730
Traceback (most recent call last):
  File "C:\Users\User\PycharmProjects\wheelchair\venv\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 64, in <module>
    from tensorflow.python._pywrap_tensorflow_internal import *
ImportError: DLL load failed: A dynamic link library (DLL) initialization routine failed.

During handling of the above exception, another exception occurred:

Traceba

[2021-04-24 07:28] adarsh-dhakad opened #48731 "dow"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2021-04-24 07:40] anshkumar commented on #48590
In tf Object detection api, the author has legalized the NMS. He uses custom [SSDModule](https://github.com/tensorflow/models/blob/14cc49853d45903875c01b75ceaf7f083828e2ee/research/object_detection/export_tflite_graph_lib_tf2.py#L58). In [_get_postprocess_fn](https://github.com/tensorflow/models/blob/94618de64fac2606082b5b1746f2053d37ae19de/research/object_detection/export_tflite_graph_lib_tf2.py#

[2021-04-24 09:34] bhack commented on #47748
/cc @joanafilipa

[2021-04-24 09:47] bhack commented on #47748
For JVM, are they working directly with C++ interfaces https://github.com/tensorflow/java/pull/283?

[2021-04-24 09:59] RJRP44 commented on #48720
TfLiteRegistration Register_CAST dosn't exist. How i can do without CAST ?

thanks

[2021-04-24 10:47] Alf-Z opened #48732 "Custom gradient tape-based fit() function is slower than Tf2 fit() and has memory leaking"
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04.1 LTS
- TensorFlow version (use command below): v2.3.0-54-gfcc4b966f1 2.3.1
- Python version: Python 3.8.5
- CUDA/cuDNN version: CUDA Version 11.0.207
- GPU model and memory: NVIDIA Quadro RTX 5000, 16 GB GDDR6

I wrote a cust

[2021-04-24 12:55] khatrishubham88 commented on #40245
@amahendrakar yes, most certainly.

[2021-04-24 13:03] hassan-shehawy opened #48733 "INSTALL ERROR: No matching distribution found for tensorflow on RASPERRY PI 4 ARM64 UBUNTU 18.04"
**System information**
- Hardware: Raspberry Pi 4 Model B Rev 1.4
- Architecture: aarch64
- OS Platform and Distribution: Ubuntu 18.04.1
- Python version: 3.7.5 [64-bit]
- Pip version: 21.0.1
- Installed using: virtualenv and pip

**Describe the problem**
I get the following error when I try to install: (I tried other versions of python including 3.5, 3.6, 3.7 and 3.8)
`ERROR: Could not find a ver

[2021-04-24 13:47] lms153 opened #48734 "Question about Cannot Import"
This are parts of my code：

![image](https://user-images.githubusercontent.com/78319233/115960832-21e6ce00-a546-11eb-92c2-21a28665f3d8.png)
![image](https://user-images.githubusercontent.com/78319233/115960837-2b703600-a546-11eb-9027-ca04cc2e0a12.png)

from tensorflow.python.eager.context import get_config

ImportError: cannot import name 'get_config'
can someone tell me why?

[2021-04-24 14:59] ronadlisko commented on #2117
@Terkea Thank you so much. Your solution works in my case as well.

[2021-04-24 15:01] tom-andersson opened #48736 "Allow different shapes for `y_true` and `y_pred` in graph mode"
**System information**
- TensorFlow version (you are using): 2.2.0
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
Currently, running Keras in graph mode means that `y_true` and `y_pred` in the `loss` function passed to `Model.fit()` must have the same shape. Although this works in eager mode, I would like to be able to train models where `

[2021-04-24 15:15] marconi1964 commented on #46721
@patriklaurell your PR works very well on micro_speech example. Thank you very much.
Since it changes the way how 'make' works, the other examples of DISCO_F746NG needs to be updated accordingly, too.

[2021-04-24 16:06] gobrewers14 commented on #36901
Experiencing the same issue.

- ubuntu 16.04
- gcc (GCC) 8.2.1 20180905
- python 3.7.10
- tensorflow 2.5.0
- cuda 11.1
- cudnn 8

As others have stated, it occurs with using ConvLSTM2D and seems to be accompanied by a massive drop in performance.

[2021-04-24 16:11] jfinken commented on #46163
I'll certainly take a look.  Do you have a TF commit or tag that I should target?  Thanks.

[2021-04-24 16:22] Jeet1994 opened #48738 "tfa.seq2seq.AttentionWrapperState : TypeError: __new__() missing 3 required positional arguments: 'alignments', 'alignment_history', and 'attention_state'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 64 bit
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.

[2021-04-24 18:56] wdjose opened #48741 "mbed/STM32F7 compiling issue with AllOpsResolver: undefined reference to `__SXTB16_RORn'"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): source
- Tensorflow version (commit SHA if source): 8cae746d8449c7dda5298327353d68613f16e798
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Arm Mbed OS (ST-Discovery-STM32F746NG)
- Mbed version: mbed-cli==1.10.5
-

[2021-04-24 19:29] MahimanaGIT commented on #41990
solved this error on RTX 3070 with following specs:
CUDA: 11.0

[2021-04-24 21:20] pointhex commented on #46194
I have the same issue, is someone who has a workaround?

[2021-04-24 21:28] asteriske opened #48742 "Tensorflow only sees a fraction of Tensorflow memory"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.4.1
- Python version: 3.8.8
- Installed using virtualenv? pip? conda?: Virtualenv inside docker
- Bazel version (if compiling f

[2021-04-24 21:57] alimoche commented on #46653
I have the same problem but I tried with version 2.3.2 since it supports cuda 10.1 that works with compute capability 3.0.

In my case I followed [https://github.com/tensorflow/tensorflow/issues/27840] to turn off XLA and edited `.tf_configure.bazelrc`, after running `./configure` script, and appended ` --define with_xla_support=false` to `build:xla` line.

After a successful compilation I run the

[2021-04-24 22:25] GodsNightmare commented on #48733
$ git clone https://github.com/user/repo.git
# Clone a repo

[2021-04-24 22:26] GodsNightmare commented on #48741
$ git clone https://github.com/user/repo.git
# Clone a repo

[2021-04-24 22:27] GodsNightmare commented on #48738
$ git clone https://github.com/user/repo.git
# Clone a repo

[2021-04-25 01:06] HuangZhenyang commented on #38589
@fengwang  Thank you. This solution works fine! :D

[2021-04-25 01:48] llodds commented on #27190
Hi, I was reading the distributed strategy and found one issue in the official doc which is related to this thread.

https://www.tensorflow.org/tutorials/distribute/custom_training

Since the last dimension is automatically reduced in "NONE" mode, then the manual reduce formula for the distributed.strategy should be
per_example_loss /= tf.cast(tf.reduce_prod(tf.shape(labels)[1:**-1**]), tf.float32

[2021-04-25 01:51] llodds opened #48743 "loss calculation for multi-dim samples in distributed strategy"
Hi, I was reading the distributed strategy and found one issue in the official doc
https://www.tensorflow.org/tutorials/distribute/custom_training

Since the last dimension is automatically reduced in "NONE" mode (https://github.com/tensorflow/tensorflow/issues/27190), then the manual reduce formula for the distributed.strategy should be
per_example_loss /= tf.cast(tf.reduce_prod(tf.shape(labels)[

[2021-04-25 02:05] FMFigueroa commented on #1353
replaces "tf.truncated_normal" by "tf.random.truncated_normal" in Tensorflow Core v2.x

[2021-04-25 02:22] Jeet1994 commented on #48738
I don't understand. Whar are you suggesting?

[2021-04-25 04:04] leenfirststep commented on #39392
Setting "unroll=True" for the LSTM allows for INT Quantization, but has a significantly negative impact on the accuracy and inference time (+50%) of the model, so it is unfortunately not a viable work-around.

[2021-04-25 04:10] Suraj1199 commented on #45063
Yes, edited

[2021-04-25 05:13] aakashba commented on #38561
Have this issue with using model.predict inside a loop of 5 different models . It leads to :

nvidia-smi
Failed to initialize NVML: Driver/library version mismatch

[2021-04-25 05:14] yyoon commented on #48718
@UsharaniPagadala Can you share the exact command used for building the iOS?

[2021-04-25 05:20] ToBigboss commented on #48426
_1.What build system are you using for your Android app/deployment?_
phone：xiaomi 11
CPU：snapdragon 888
android 11
MIUI 12.0.16

_2.Are you already using TFLite via C++ in your app? If so, were you building from source? Or using prebuilt binaries?_
yes，i want to use TFLite via c++ api，and i build libtensorflow.so and libnnapi_delegate.so from source with bazel. I'm trying to use cmake to compile l

[2021-04-25 05:25] Mrlyk423 commented on #48718
@yyoon The command for build tflite is
`bazel build --config=ios_fat -c opt \  //tensorflow/lite/ios:TensorFlowLiteC_framework`
And the command for build my own lib is:
[code]

[2021-04-25 05:43] yyoon commented on #48718
Can you try building it for `-DPLATFORM=OS64` in the same way and see if it works?
The `TensorFlowLiteC.framework` is a multi-arch framework, but it does not contain the recent arm64 simulator platform.

[2021-04-25 06:21] mind-mind opened #48745 "TFlite on container problem"
Hello, I run inference model TFlite on this Github: https://github.com/Mjrovai/TFLite_IA_at_the_Edge

It can run on raspbian 32 bit without any problem, but after I put it on the container. I got an error:

Traceback (most recent call last):
  File "TFLite_IA_at_the_Edge/mMobile.py", line 42, in <module>
    model_path='./models/mobilenet_v1_1.0_224_quant.tflite')
  File "/usr/local/lib/python3.7/

[2021-04-25 06:32] Mrlyk423 commented on #48718
@yyoon I have also tried to build it for `-DPLATFORM=OS64` but the problem still exists.

Meanwhile, I also tried the command `bazel build --config=ios_x86_64 -c opt //tensorflow/lite/c:tensorflowlite_c` to directly build it similar to the darwin/Linux/Android, and got a libtensorflowlite_c.dylib file. My app can build with this file in the arm64 simulator platform. But it fails in the TensorFlowL

[2021-04-25 06:42] abattery commented on #48745
Please make sure the above model file is accessible in the container. Looks like there are possibilities that the file location is wrong or the model file is not available from the container.

[2021-04-25 06:50] 372046933 commented on #38065
Thanks

[2021-04-25 06:50] #38065 closed

[2021-04-25 07:27] dexsr415 commented on #48554
Thank  for you replay!

Sorry, it will take me a long time.

I am figuring out the archive type of tensorflow.

And i tried successfully.

I haven't understood the meaning of the tag and signature of saved_model before, but now I understand it roughly.

**My modify code:**
`      builder = tf.compat.v1.saved_model.builder.SavedModelBuilder("./saved_model/1")`
`     signature = tf.compat.v1.saved_m

[2021-04-25 07:32] AlxndrMlk commented on #47134
@teijeong, unfortunately `runForMultipleInputsOutputs` did not solve the problem.

I also exported the model once again, usinf TF 2.4.1, but the outcome is the same.

Any other suggestions?

[2021-04-25 07:47] chenglong0317 opened #48746 "bugNodeDef expected inputs 'float, int32' do not match 1 inputs specified"
### env
win10
py3.6
tf-1.15.2
gpu1070
-------------------------------------------------------------------------------------------------------------------------
This is the code I run. The failure caused by this function-- tf.train.import_meta_graph. i want to reload 'mobilenet_v2_1.4_224.ckpt.meta'. this pre-model is from [slim pre-model](https://storage.googleapis.com/mobilenet_v2/checkpoints/mob

[2021-04-25 08:38] chenglong0317 commented on #48746
I want to load the weights from the pre training model into an extended network structure. this is full code.
[code]

[2021-04-25 09:07] abattery commented on #48554
For the above question, it would be better to ask a separate issue and invite the TF saved model experts.

[2021-04-25 09:37] dexsr415 commented on #48554
OK

After sorting it out, I am asking this question.

Thank you for your reply these few days.

[2021-04-25 10:04] Mrlyk423 commented on #48718
@yyoon I finally add Foundation.framework and CoreFoundation.framework when compiling my own app, and it seems work. The usage way is different from the dynamic lib libtensorflowlite_c.dylib.

[2021-04-25 10:17] YanqingWu opened #48747 "How to reopen eager_execution after close it ?"
system: Macos X
TF version: 2.4.1

After turn off eager_execution,  I get the follow error.

Traceback (most recent call last):
  File "/Users/yanqing/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3418, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-4-52f64b3b4137>", line 12, in <module>
    convert_variables_to_constants_v2

[2021-04-25 11:34] Hassan-miqdad commented on #40907
This class should be written in the source code callbacks.py of the Tensorflow library or in the train script?

[2021-04-25 11:36] rainmakerMa opened #48748 "win10 bazel Extracting Bazel installation..."
i wanna build the tf2.4 version with rtx3070,cuda11,cudnn8 on win10 system

according to the official tutorial, I have built the msys2, visual studio 2019,and all the configuration including the path set

however when i installed the bazel, when i open the cmd window, when i type bazel ,it just stagnate Extracting Bazel installation... and quit.

why was that?SOS

[2021-04-25 11:37] Davidelvis opened #48749 "Tensorflow_core.combat-v2 Has no attribute __Internal"
I get this error that says combat-v2 module has no __internal attribute.
Can someone help me how to solve this
Error
AttributeError: module 'tensorflow_core.compat.v2' has no attribute '__internal__'

[2021-04-25 11:45] szutenberg commented on #48646
@AdityaKane2001

Yes, it does not match my graph because I drew it by following:
[code]

That's why I propose PR https://github.com/tensorflow/tensorflow/pull/48654 which solves the problem (negative threshold is simply not supported).

I tried to understand why the threshold parameter was introduced. I found commit https://github.com/tensorflow/tensorflow/commit/0cf2c612e5e6ff8c5026011e8186056801

[2021-04-25 12:26] AdityaKane2001 commented on #48646
@szutenberg
Fair enough. But then should we modify the relu function itself, asserting that we do have a non-negative threshold? It will remove any ambiguity for the user in case the user tries to enter a negative threshold value.

[2021-04-25 13:22] ChenchengLiang commented on #39751
Hey,
Thanks for the discussion. I found adding rounding + casting after unsorted_segment_sum is a temporary solution at least in my application:

x= tf.math.unsorted_segment_sum(...)
x = _my_tf_round(x,2)
def _my_tf_round(x, decimals=0):
    multiplier = tf.constant(10 ** decimals, dtype=x.dtype)
    return tf.cast(tf.cast(tf.round(x * multiplier),tf.int32),tf.float32) / multiplier

[2021-04-25 13:44] szutenberg commented on #48646
@AdityaKane2001 I added additional asserts to ReLU.

From the graph I drew, we can see that such scenario **probably** does not make any sense. It's not continuous at -1, this sudden change may break gradient descent.

I don't understand what is the idea behind https://github.com/tensorflow/tensorflow/commit/0cf2c612e5e6ff8c5026011e8186056801def747 and I'd rather revert it than eliminate Threshold

[2021-04-25 14:57] hasanabs commented on #48690
Yes this is my training file and its function
[B-DNN_Training.py](https://github.com/hasanabs/B_DNN/blob/main/B-DNN_Training.py)
[fungsi_dnn.py](https://github.com/hasanabs/B_DNN/blob/main/fungsi_dnn.py)

[2021-04-25 15:32] AdityaKane2001 commented on #48646
@szutenberg
I agree with you. The use case is very (very) small..

[2021-04-25 16:29] Saduf2019 commented on #48555
I am able to replicate this issue on tf 2.2, tf 2.4 and nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/aa6c13002327ac0f5b19bef00f93fee8/untitled593.ipynb)

[2021-04-25 16:40] Saduf2019 commented on #48726
@Johnny-liqiang
As mentioned in the above comment, please downgrade to cuda 11.0 for tf 2.4 and let us know, if you still face the issue.
Based on the error you may also refer to:#47517,#43915,#46788

[2021-04-25 18:02] moflo commented on #48711
That message looks suspicious, like there's problem with pip pulling wrong versions. I have been running TF 2.4.1 on macOS using the [conda](https://docs.anaconda.com/anaconda/user-guide/tasks/tensorflow/) virtual environment. Is that a possibility for you to try instead?

[2021-04-25 18:08] moflo commented on #48742
These two lines are interesting:

pciBusID: 0000:01:00.0 name: NVIDIA GeForce GT 730 computeCapability: 3.5
coreClock: 0.9015GHz coreCount: 2 deviceMemorySize: **980.00MiB** deviceMemoryBandwidth: 37.33GiB/s

vs.

ci bus id: 0000:01:00.0, compute capability: 3.5)

Not sure how to interpret these messages?

[2021-04-25 18:19] asteriske commented on #48742
Yes, exactly! My supposition is that either the CUDA drivers or Tensorflow or both isn't representing the device properly.

[2021-04-25 18:34] kunalchamoli commented on #48698
@impjdi thanks, will see if it works !

[2021-04-25 19:38] #47283 closed

[2021-04-25 20:08] userdarius commented on #26546
Same here

[2021-04-25 20:15] kunalchamoli commented on #48698
@impjdi i checked the whole model summary, there was no dynamic tensor present, every layer has a fixed shape

[code]

[2021-04-25 20:21] moflo commented on #48742
Looks like a known issue: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/common_runtime/gpu/gpu_device.cc#L1405

[2021-04-25 20:40] BichengWang commented on #41746
Found same issue when I try to reproduce code:
https://github.com/tensorflow/docs/blob/master/site/en/tutorials/reinforcement_learning/actor_critic.ipynb

Is there any solution update on most recent version or alternative solution when compare tensor with value in the graph?

And another thing I notice: when I execute it in [colab.reasearch.google.com](https://colab.research.google.com/github/tens

[2021-04-25 22:30] abhishekvenkat764 commented on #47311
Hi,
I just added "`del model`" before instantiating my model which in this case is:

[code]

And it resolved my issue.

Do give it a shot. I understand it sounds a bit silly, but it worked for me.

What do we have to lose. :) .

[2021-04-25 23:05] Johnny-liqiang commented on #48726
After long time  Stackoverflow and debugging , the following solution works for me:
**If you want to run tensorflow on Win10 (VM) installed by parallel,  and you Macbook is latest M1 chip,**
And you came cross DLL problem, maybe try following command:
`**pip uninstall tensorflow**` and also **go to check venv/lib/sit-packages/** whether or not **tensorflow folder deleted completely** , make sure d

[2021-04-26 00:17] JW1992 commented on #47393
Hi @noppelmax, can you please specify what is your usage scenario? What about attribute 'shape'?

`x = tf.constant(1)
y = tf.constant([1,2,3])

print(x.shape)
print(y.shape)`

[2021-04-26 01:16] Mvrjustid commented on #5777
If you meet
`rmmod: ERROR: Module nvidia_drm is in use`
when you are trying to do
`sudo rmmod nvidia_uvm
sudo rmmod nvidia_drm
sudo rmmod nvidia_modeset
sudo rmmod nvidia
sudo modprobe nvidia
sudo modprobe nvidia_modeset
sudo modprobe nvidia_drm
sudo modprobe nvidia_uvm`

**Be careful to do the following, if you are unfamiliar with how to use the command line control of Linux**

You may want to tr

[2021-04-26 01:21] lindyrock commented on #47609
@embeddetech @advaitjain I have been running into the same C2466 error on micro_allocator.cc Line 63. I was just able to get this to compile on MSVC (Windows 10; VS2019; ISO C++14/C11) by altering line 63 from:

`const TfLiteIntArray kZeroLengthIntArray = {};
`

to

`const TfLiteIntArray kZeroLengthIntArray{0};
`

@embeddetech I don't know yet if this is a good solution, but there seems to be no h

[2021-04-26 01:34] terryheo commented on #48562
Could you try the followings?
[code]

[2021-04-26 01:46] b3326023 commented on #43608
Same problem here. Has anyone found the solution?

[2021-04-26 01:52] terryheo commented on #48697
We used to fix this but it's happening again. Let me take a look.

[2021-04-26 02:01] #48554 closed

[2021-04-26 02:35] #48409 closed

[2021-04-26 03:08] Ethylbenzol commented on #48552
Just tried it. Threw a error `TypeError: 'generator' object is not callable` in tensorflow/tensorflow/lite/python/optimize/calibrator.py at:
[code]

I will try debug and see what went wrong with the conversion process.

[2021-04-26 03:31] mocleiri opened #48752 "microspeech pretrained model is uint8 quantized instead of int8 quantized and doesn't work properly"
## URL(s) with the issue:

https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/micro/examples/micro_speech/train#trained-models

## Description of issue (what needs changing):

There is a download link for the pre-trained microspeech model; speech_commands.zip.  When you download and unzip the files there are 3:
model.cc (encoded array is 18222 bytes long)
model.tflite (file is 18

[2021-04-26 03:45] sanjoy commented on #48397
@ebrevdo (since you wrote the TopK GPU implementation originally) Is this unexpected?  I don't really know if the GPU implementation is expected to work well with k = 5000.

[2021-04-26 04:04] CyangXu commented on #42376
More progress! In the code to reproduce the issue, when calling `print(model.summary())`,  `extra_layer`'s shape is (None, 10). I believe this shape is produced from [array_ops.reshape()](https://cs.opensource.google/tensorflow/tensorflow/+/master:tensorflow/python/keras/layers/core.py;l=693;drc=56f148ddeb6a571bc78f69fbf23229426ed176ba;bpv=1;bpt=0?q=layers%2Fcore.py). Then when hitting `model.fit(

[2021-04-26 04:32] saikumarchalla commented on #48734
I tried to  import all the packages and   not getting any errors that you have faced. Please check the gist [here](https://colab.research.google.com/gist/saikumarchalla/d1eb9c29d5e1b7dd91ceaa423d5900e4/untitled67.ipynb).

Please use tensorflow.keras instead of keras  and  make sure you use Tensorflow 2.x  and let us know still if that doesn't resolve the  error. Thanks!

[2021-04-26 05:00] Parth220 commented on #23896
For future reference, I had a ton of trouble and that guide helped me set up TF Lite on C++ for Android NDK. @zimenglyu's personal website got changed around a little so the new link is: https://zimenglyu.com/posts/2018-11-27-tflite-android-ndk-eng.

Just dropping it here in case anyone else needs to reference it. Thank you @zimenglyu !

[2021-04-26 05:17] tilakrayal commented on #48720
@RJRP44 ,

In order to reproduce the issue reported here, could you please provide the complete code and the dataset you are using. Thanks!

[2021-04-26 05:34] tilakrayal commented on #48746
@chenglong0317 ,

We see that you are using tf version 1.15, there is no support for 1.x, please update to 2.x and let us know if you are using same issue.

[2021-04-26 05:37] tilakrayal commented on #48749
@Davidelvis ,

In order to reproduce the issue reported here, could you please provide the TensorFlow version, the complete code and the dataset  or colab link you are using. Thanks!

[2021-04-26 06:06] tilakrayal commented on #48708
@isaacgerg ,

Could you please provide the complete code and dataset or colab link to reproduce the issue reported here.

[2021-04-26 06:23] chenglong0317 commented on #48746
but tf2.0 do not support slim. this code and pre-model is about slim. from :https://github.com/tensorflow/models/tree/master/research/slim

[2021-04-26 06:31] chenglong0317 commented on #48746
let me try

[2021-04-26 06:35] #48406 closed

[2021-04-26 06:48] bhack commented on #42376
Array ops are in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/array_ops.cc

[2021-04-26 06:49] RJRP44 commented on #48720
I used [Arduino AI tutorial ](https://blog.arduino.cc/2019/10/15/get-started-with-machine-learning-on-arduino/)
My dataset is a custom one in 2 csv files.
[in.csv](https://github.com/tensorflow/tensorflow/files/6374747/in.csv)
[out.csv](https://github.com/tensorflow/tensorflow/files/6374748/out.csv)

My code is horrible i know.
Inputs of my AI are normaly all 64 pixels of a AMG8833 (Temperature se

[2021-04-26 07:07] Davidelvis commented on #48749
Okay
I am using TensorFlow version 2.4.1,
I am training Reinforcement Learning agent, when I run the code, I get the error

import gym
import numpy as np
from keras.models import Sequential, Model
from keras.layers import Dense, Dropout, Input
from keras.layers.merge import Add, Multiply
from keras.optimizers import Adam
import keras.backend as K
import tensorflow as tf

   self.actor_state_input,

[2021-04-26 07:30] leondgarse commented on #48127
Tested with `pytorch==1.8.1+cu111`, and the result seems fine under the same environment:
- **Result**

  | input_shape | batch_size | use_fp16 | first epoch (ms/step) | second epoch (ms/step) |
  | ----------- | ---------- | -------- | --------------------- | ---------------------- |
  | 112         | 512        | False    | 84.5125               | 78.9935                |
  | 112         | 512

[2021-04-26 07:35] #48438 closed

[2021-04-26 07:35] #33905 closed

[2021-04-26 07:38] raduslmn commented on #48562
It still doesn't build, below you see the output.
If you look carefully, the error says `The system cannot find the path specified.` Now, I am a little unsure but I think it has something to do with the fact that Windows uses Backslash instead of Forward slash in the path naming.

[code]

[2021-04-26 07:39] terryheo commented on #48697
It turns out that you're using old version of nightly from jcenter.
TFLite is switching to maven for hosting of those AARs.
The official guide will be updated soon.
In the mean time, you can use it as following.

In your Project build.gradle file,
[code]
Update it as the following.
[code]

Also update build.gradle of your Module,
[code]
Change it to

[code]

And rebuild it. It will work well with

[2021-04-26 07:43] terryheo commented on #48562
Could you confirm if you can follow steps in the doc?
https://www.tensorflow.org/install/source_windows

[code]

[2021-04-26 08:01] raduslmn commented on #48562
I followed all steps from (https://www.tensorflow.org/install/source_windows)
Here is an image of the ENV var

![image](https://user-images.githubusercontent.com/20945569/116048661-ac7a1b00-a675-11eb-8b10-75560e290c39.png)

The command `bazel build //tensorflow/tools/pip_package:build_pip_package` also fails and i guess it bacuase of `The system cannot find the path specified` but it doesn't say w

[2021-04-26 08:16] terryheo commented on #48562
I could see some differences with my configuration.

- I'm using Bazel 4.0.0
- I'm using Python from https://www.python.org/downloads/windows/

It could be worth to try these.

[2021-04-26 08:35] raduslmn commented on #48562
Ok, now i installed Bazel 4.0.0 and python 3.7.9 from https://www.python.org/downloads/windows/ below again is the list of command just to check that everything is in place. Then i run the command `$ bash tensorflow/lite/tools/pip_package/build_pip_package_with_bazel.sh windows` this time the error was something else ```
Auto-Configuration Error: non-zero exit code: 1, command ["./get_vc_dir.bat"]

[2021-04-26 08:37] tilakrayal commented on #48742
@asteriske ,

Please take a look at [moflo](https://github.com/tensorflow/tensorflow/issues/48742#issuecomment-826384113)   comment and let us know if you are still facing the same issue? Thanks!

[2021-04-26 09:07] raduslmn commented on #48562
After i refreshed all env variables and a system restart as well as pulling of the latest tensorflow from github i got back the same error as before `The system cannot find the path specified.` This is using Bazel 4.0.0 and Python 3.7 from https://www.python.org/downloads/windows/

[code]

[2021-04-26 09:18] tilakrayal commented on #48732
@ymodak

I have tried in colab with TF version 2.4, 2.5.orc1 and nightly version and noticed that session is being crashed. Please, find the [gist](https://colab.research.google.com/gist/tilakrayal/8d0d45222b42d0f9ae4b7af8a412affc/48732.ipynb) here. Thanks!

[2021-04-26 09:31] Alf-Z commented on #48732
Hi, I believe it has something to do with the RAM available in Colab. I do not use this service but, as far as I understood, maximum RAM should be around 11-12 GB, please correct me if I am wrong.
The code crashes around batch 121-143. If you see the linear memory usage plot, we should be around that value.
However, my code does not crash on my GPU, but it gets killed at the very end, after the ve

[2021-04-26 09:35] #48462 closed

[2021-04-26 09:47] m-martin-j commented on #37942
Also in April 2021, I too confirm that after updating **NVidia driver to version 462.31**, the above described problem on Windows 10 disappeared. The problem arised when I was using an NVidia driver somewhere around version 452._._.

My system is:
- Windows 10 Pro Version 1903
- Quadro T1000
- CUDA 11.2.162
- cuDNN 8.2.0
- Python 3.7.8
- tensorflow 2.4.1 (always including full GPU support since se

[2021-04-26 09:56] anujonthemove commented on #43174
This might be too late but still be of help to post it here since I too faced the exact same issue. For me, I just restricted the amount of GPU that the model was allowed to use. Also, the way I did is an older way to do it which I did it in tf 1.15 but it for sure works on the latest tf 2.4 version as well. Below is the code:

[code]

`set_tensorflow_config()`

**GPU:** NVIDIA GeForce RTX 2070, 8

[2021-04-26 10:02] rmothukuru commented on #27390
@dibya-pati,
Sorry for the delayed response. Can you please refer to the documentation of [Save](https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/save) and [SaveV2](https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/save-v2) and let us know if this is what your are looking for? Thanks!

[2021-04-26 10:04] sanyakuznezov commented on #48697
thanks, everything worked out, the application started on the emulator

[2021-04-26 10:08] tilakrayal commented on #48749
@Davidelvis ,

  Code shared is full of [indentation](https://colab.research.google.com/gist/tilakrayal/f86d3f7afac4d3aa01913dbd23f317a0/untit48749.ipynb) errors, please share a colab gist with issue reported or simple stand alone indented code with all dependencies such that we can replicate the issue reported.

[2021-04-26 10:12] rmothukuru commented on #27492
@matthen,
Your code could be run without any error. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/bb2e518503624af19cd09c857644dbdb/gh_27492.ipynb) of the working code. Please let us know if we can close this issue? Thanks!

[2021-04-26 10:30] rmothukuru commented on #27531
@seungbaeji,
The Tutorial, [Classify structured data with feature columns](https://www.tensorflow.org/tutorials/structured_data/feature_columns) can be executed without any error. Please find [the Gist](https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/structured_data/feature_columns.ipynb) of the working code. Thanks!

[2021-04-26 10:35] #35253 closed

[2021-04-26 10:45] AdityaKane2001 commented on #48557
@bhack
Facing the following error:
[code]
I used git checkout in the container, and my fork is about a week old, not more than that.
As per your instructions, I set up a volume and used it in the build commands. Following are the relevant commands that were executed:

[code]

[2021-04-26 10:52] Jianbing-D opened #48753 "tf.distribute.MirroredStrategy hangs when custom op used NCCL"
TensorFLow version: 2.4.1
python version: 3.8.5
CUDA version: 11.2
CUDA Driver version: 460.32.03
NCCL version: 2.8.4

Issue elaboration:
I implemented a custom op where NCCL API are used to exchange data among GPUs. And I used this custom op with `tf.distribute.MirroredStrategy`.
Here is the status:

- Situation 1:

[code]
I used 8 GPUs and set `NCCL_LAUNCH_MODE=PARALLEL` to run the above code sn

[2021-04-26 10:56] bhack commented on #48557
So you have used the first solution (to use the checkout inside the cotaienr).
But with the commands I see are you sure that you are building in the right folder?

I see that you have `-w /tensorflow_src` so your already inside the tensorflow master `git checkout` that is available in the image.

If you want to work with your remote in this  checkout directory I suggest you to just [add a new remo

[2021-04-26 11:01] rmothukuru commented on #27647
@ChethanUK,
Can you please refer to the documentation of [Tensorflow's ML Pipeline using Kubeflow](https://www.tensorflow.org/tfx/guide/kubeflow), this Tutorial on [How to Run Tensorflow Pipeline on Kubeflow](https://www.tensorflow.org/tfx/tutorials/tfx/cloud-ai-platform-pipelines#7_run_your_first_tfx_pipeline_on_kubeflow) and the [documentation of Kubeflow Pipelines](https://www.kubeflow.org/docs

[2021-04-26 11:03] AdityaKane2001 commented on #48557
Do you mean I should pull my fork in a new directory and work in that directory?

[2021-04-26 11:08] bhack commented on #48557
As you wan. You have 3 main solutions:

- You could mount your checkout from your host with an extra `-v`
- You can add your remote in /tensorflow_src
- You could checkout in new  different directory ephimeral directory.

All these will work with its own pro and cons.

[2021-04-26 11:13] AdityaKane2001 commented on #48557
I I use this method, each time I use `docker run`  with the volumes attached, I'll be ready to go, right? Because right now I committed the container to a new local image. Yet, I'm not sure whether I will be able to access the changes made during the session.

[2021-04-26 11:17] rmothukuru commented on #27741
@bipinkc19,
Sorry for the delayed response. Can you please let us know if [weighted_cross_entropy_with_logits](https://www.tensorflow.org/api_docs/python/tf/nn/weighted_cross_entropy_with_logits) is the functionality that you are looking for? Thanks!

[2021-04-26 11:30] kunalchamoli commented on #48698
@abattery can you help ?

[2021-04-26 11:30] EmptySamurai commented on #48395
I found that check here
https://github.com/tensorflow/tensorflow/blob/9a2545aecc498e7a5e8bf5d63c47af59e1550111/tensorflow/python/ops/nn_ops.py#L1135
seems redundant as nn.conv2d supports gradient for dilations for non TPU devices

[2021-04-26 11:34] abattery commented on #48698
In the above summary, every shape is dynamic and the batch dimensions are None.

[2021-04-26 11:35] #48456 closed

[2021-04-26 11:40] daun4168 opened #48755 "tf.keras.preprocessing.image_dataset_from_directory Error"
TensorFlow version: 2.4.1
python version: 3.7.10
CUDA version: 11.2
CUDA Driver version: 465.19.01

Document of the function
  `tf.keras.preprocessing.image_dataset_from_directory`
the parameter `directory` is:
`Directory where the data is located. If labels is "inferred", it should contain subdirectories, each containing images for a class. Otherwise, the directory structure is ignored.`

But the

[2021-04-26 12:06] patriklaurell commented on #48741
@wdjose I believe this is related the problem described in the second half of [this example](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/micro/kernels/cmsis_nn#example-2---mbed) and the fix there should allow you to compile.

[2021-04-26 12:10] bhack commented on #48557
Yes, in that case you could use a volume or a local host path.

[2021-04-26 12:12] AdityaKane2001 commented on #48557
Ok. Could you please tell how can I resolve the error?

[code]

[2021-04-26 12:13] patriklaurell commented on #46721
@marconi1964 Good to hear that it at least partly solved the problem. For micro_speech I can compile locally using the instructions in the readme. Could you provide some more details on how to reproduce?
For hello_world, I will upload a PR today to update the example

[2021-04-26 12:22] bhack commented on #48557
I don't think that it is related to your commits, you could rebase or merge the current master on your branch.
Also you could try to compile only your target (this example is for convolutional you can change the string with your own new layer):

[code]

[2021-04-26 12:31] AdityaKane2001 commented on #48557
Ok, so as you said earlier, I'll mount two volumes and try to build again.

[2021-04-26 12:36] bhack commented on #48557
Yes It was basically the first of the two solutions already mentioned at https://docs.bazel.build/versions/master/bazel-container.html#build-abseil-project-from-your-host-machine-with-directory-mounting

In that example was `-v /src/workspace:/src/workspace`.

If you still want to have the same access from your host remember to use
`  -e USER="$(id -u)" \
  -u="$(id -u)" \` as in the example

[2021-04-26 12:38] AdityaKane2001 commented on #48557
Got it 👍

[2021-04-26 12:54] rmothukuru commented on #28109
@danielegrattarola,
Sorry for the delayed response. In the documentation corresponding to [Ragged Tensor](https://www.tensorflow.org/api_docs/python/tf/ragged), in the section, [Additional ops that support RaggedTensor](https://www.tensorflow.org/api_docs/python/tf/ragged#additional_ops_that_support_raggedtensor_2), it is mentioned as

Below that statement, there are many operations, along with Ma

[2021-04-26 13:10] bhack commented on #48612
@tensorflow/api-owners What do you think about this request?

[2021-04-26 13:11] wdjose commented on #48741
@patriklaurell Thanks! I just tried it, and you're right, it seems that the old "cmsis_gcc.h" is needed. After copying "cmsis_gcc.h", the program successfully compiles.

I'm just copying the specific lines I followed from the example you quoted (in case anyone else experiences the issue):

I also added these same lines to the [pull request](https://github.com/tensorflow/tensorflow/pull/48740) I cr

[2021-04-26 13:11] #48741 closed

[2021-04-26 13:22] edloper commented on #28109
@rmothukuru, Note that `tf.math.multiply` and `tf.linalg.matmul` are different operations.  RaggedTensors do support `tf.math.multiply` (elementwise multiplication).  They do not currently have direct support for `tf.linalg.matmul`; but as noted in the comments above, this operation can be performed (assuming both matrices have a non-ragged inner dimension) using `tf.ragged.map_flat_values(tf.matm

[2021-04-26 13:27] rmothukuru commented on #28109
@edloper,
Sorry for the misunderstanding.

[2021-04-26 13:29] danielegrattarola commented on #28109
As @edloper said, I was referring to `tf.matmul` in the original issue.
However, since the operation can be implemented as a map, and probably also as a combination of `tf.math.multiply` and `tf.math.reduce_sum`, and since the issue is a few years old, I'd say that the requested is not likely to be implemented in the library so it's safe to close this issue.

Thanks to everyone involved.

[2021-04-26 13:29] #28109 closed

[2021-04-26 13:32] #48755 closed

[2021-04-26 13:45] wdjose commented on #46721
@patriklaurell I [uploaded a PR](https://github.com/tensorflow/tensorflow/pull/48740) for the `hello_world` example, and also updated some of the other outdated information in the README.md of both `hello_world` and `micro_speech` (like confirming Python 3/pip3 support, and updating the reference to the MBED CLI installation instructions). I also added command for copying the old `arm_math.h` and

[2021-04-26 13:45] GitUser2000 opened #48756 "Build failed "The command line is too long""
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
**Win10**
- TensorFlow install

[2021-04-26 13:48] Johnny-liqiang commented on #48726
After long time Stackoverflow and debugging , the following solution works for me:
If you want to run tensorflow on Win10 (VM) installed by parallel, and you Macbook is latest M1 chip,
And you came cross DLL problem, maybe try following command:
`pip uninstall tensorflow `and also go to check **venv/lib/sit-packages/** whether or not tensorflow folder deleted completely , make sure deleted it comp

[2021-04-26 14:19] dgoldenberg-audiomack commented on #46236
Generally, TF appears to drive implementors toward doing data prep and data post-processing in Spark, which means storing input data in intermediary storage, then loading it into TF datasets. That's rather inconvenient.

There is the [Big DL library](https://github.com/intel-analytics/BigDL) which presumably allows one to train TF models in a distributed fashion on Spark.

[2021-04-26 14:24] Saduf2019 commented on #48726
@Johnny-liqiang
Thank you for the update and information, glad you issue is solved. Please move this to closed status.

[2021-04-26 14:33] #48726 closed

[2021-04-26 14:35] #48391 closed

[2021-04-26 14:35] UsharaniPagadala commented on #48449
@yananchen1989

please confirm if the issue still persist

[2021-04-26 14:37] UsharaniPagadala commented on #48657
@RobertChenKFC

please confirm if the issue still persist

[2021-04-26 14:44] kunalchamoli commented on #48698
Hey @abattery thanks for the suggestion,
can you suggest some article/code reference to fix the batch size, i'm unable to find something good.

[2021-04-26 14:45] marconi1964 commented on #46721
@patriklaurell Just to confirm my issue reproduction, I remove the repo and git clone again. And (nice) surprisingly, it works well with cmsis_nn enabled. The issue is gone. Great and thanks.

[2021-04-26 14:46] raduslmn commented on #48482
@abattery i have now tested with the built from source `tflite-runtime` on Linux and Windows.
When using Tflite from the full Tensorflow library then it works, but when using the built from source `tflite-runtime` then it still throws get error:

`RuntimeError: Regular TensorFlow ops are not supported by this interpreter. Make sure you apply/link the Flex delegate before inference.Node number 20 (

[2021-04-26 14:54] mansnils opened #48757 "Remove uint8 support in CMSIS-NN kernels"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- Tensorflow version (commit SHA if source): 323d8b857216f20bf4266ea0a7876363d707aceb
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.):

**Describe the problem**
Uint8 support is being removed in TFLM. CMSIS-NN kernels still have some u

[2021-04-26 15:08] dgoldenberg-audiomack opened #48759 "Change the default for num_epochs to 1 from None in make_csv_dataset"
The default for the num_epochs parameter in make_csv_dataset is None:

[code]

This is really confusing to the user (at least, it was very surprising and confusing to me). I could not tell why my training appeared to be 'hanging'. It turned out it was due to this default. I propose that this be changed to 1. Looping forever is highly unexpected and leads to many user time cycles left trying to deb

[2021-04-26 15:29] ebrevdo commented on #48397
Some comments here:

* I'm seeing `Avg. Time` for GPU-based TopKV2 is 11k us, and for CPU-based is 13k us - so it looks like GPU is actually faster?
* For a measurement of total runtime (excludiing profiler) I'm not sure (from that code) whether a copy from/to CPU is happening.  May want to verify this by ensuring the `uniform` call is happening on GPU and remove the `tf.function` AND use %%timeit

[2021-04-26 15:32] #40245 closed

[2021-04-26 15:44] mihaimaruseac commented on #23564
1.12 is no longer supported, so we cannot operate on this anymore.

[2021-04-26 15:44] #23564 closed

[2021-04-26 15:45] mihaimaruseac commented on #48550
We're trying to get them for final release but we had some CI troubles for RC0 and RC1.

[2021-04-26 15:48] #38192 closed

[2021-04-26 16:13] marconi1964 commented on #48257
With [PR #48659 Update micro_speech mbed generation for disco_f746ng](https://github.com/tensorflow/tensorflow/pull/48659) for micro_speech example, and [PR #48740 Fix/stm32f746 examples](https://github.com/tensorflow/tensorflow/pull/48740) plus [Solved issue #48741](https://github.com/tensorflow/tensorflow/issues/48741) for hello_world example, this issue can be closed.

[2021-04-26 16:13] #48257 closed

[2021-04-26 16:24] #48695 closed

[2021-04-26 16:29] qlzh727 commented on #46194
Adding Tomer who worked on keras_tensor.

[2021-04-26 16:29] lgeiger commented on #48148
This has been fixed in a0e5ec8cb940fbea193706f0c6609be6dad5a961 by @MeghnaNatraj so the issue doesn't exist in tf-nightly anymore.

[2021-04-26 16:29] #48148 closed

[2021-04-26 16:38] advaitjain commented on #45857
Apologies for the long delay @skribm9. Yes, I would guess that there is something specific to BE systems here. Unfortunately, we currently do not have the cycles to look into BE support which has been ad-hoc and untested.

In a departure from the way the code is currently implemented, my preference here would be:
 * The TFLM inference code should only support flatbuffers and runtime have the same

[2021-04-26 16:54] advaitjain commented on #47609
The flexible member in TfLiteIntArray as well as zero length array have been tricky across multiple compiler versions.

I would recommend the following:

 * (Preferred) add an ifdef for your platform here: https://github.com/tensorflow/tensorflow/blob/425b7e924b180b9979457ab7f36c78f306a5eef8/tensorflow/lite/c/common.h#L81-L93

 * If that does not work, then go with the suggestion from @lindyrock a

[2021-04-26 17:16] Jheezy30 commented on #35673
please i want to save my architecture and save the model to my google drive, i am using google colab ,to be able to design the application.

[2021-04-26 17:50] alimoche commented on #46653
I solved the problem in my case using tensorflow 2.1.3 + cuda 10.1 + cudnn 7.6.5 + bazel 0.27.2:

[code]
maybe versions > 2.1 work with bazel 0.27 or it is related to the additional option of v2.1 in `./configure` script

[code]
that is not in v2.3

[2021-04-26 17:57] tomerk commented on #46194
Using `tf.GradientTape` as a part of Keras functional model construction is unsupported, and we have no plans on the roadmap to add support for it at this point in time.

If you want your model to produce gradients as outputs (though that does not appear to be the case in the above examples):
Use a subclass model that uses `tf.GradientTape` to output the gradients from `call`.

If you are just try

[2021-04-26 17:57] #46194 closed

[2021-04-26 17:59] amahendrakar commented on #48721
Was able to reproduce the issue with TF v2.4.1, TF v2.5.0-rc1 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/9640e7286e9edde8f7a32339625dc7cb/48721.ipynb#scrollTo=VGMsyaf7P_J4). Thanks!

[2021-04-26 18:45] ymodak commented on #48731
I apologize, but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template. Please provide all the information it asks. Thank you.

[2021-04-26 18:45] #48731 closed

[2021-04-26 18:46] amahendrakar commented on #48748
@rainmakerMa,
Could you please run the `bazel version` command and share the output with us.

Also make sure you have installed bazel as per the [official guide](https://docs.bazel.build/versions/master/install-windows.html). Thanks!

[2021-04-26 18:47] Saduf2019 commented on #42998
@mattn
Could you please verify this on latest version of tf and let us know.

[2021-04-26 18:48] #47888 closed

[2021-04-26 18:56] Saduf2019 commented on #44128
@Expert73
Is this still a issue

[2021-04-26 19:42] njeffrie commented on #48567
I've seen similar issues, and previously our suggested workaround was to create a model using the conv2d operator instead of conv1d. I don't think conv2d in TFLite or TFLM supports causal padding for convolutions, but somebody more familiar with TFLite would know better than I do.

As you suggested, it seems like your custom op approach is likely best. As you stated, you will have to create a pyth

[2021-04-26 19:51] Ritavdas commented on #10104
I encountered this issue . The main problem here was the program couldn't process png files . So had to convert them to Jpeg.
This was done using the following commands: as suggested by @corneel

Opened wsl on the images/(folder_name) on my windows 10
Ran this " mogrify -format jpg *.png "
wsl suggested me to install a package , installed the first one.
Encountered some problems so i executed " su

[2021-04-26 19:56] asteriske commented on #48742
I'm not very experienced with GPUs so I may not be interpreting it correctly, but that comment seems to suggest that the mismatch is a result of reallocation?

I get these numbers in a fresh python process, so does that mean that some mechanism is enforcing sharing before I initialize the device?

[2021-04-26 20:07] amahendrakar commented on #35983
@patrikohlsson,
Is this still an issue?

Please feel free to close the issue if resolved. Thanks!

[2021-04-26 20:14] hassan-shehawy opened #48761 "Error when import: Failed to load the native TensorFlow runtime version GLIBC_2.28 not found"
**System information**
- OS Platform and Distribution: Ubuntu 18.04.1
- TensorFlow version: 2.2.0
- Hardware: Raspberry Pi 4 Model B Rev 1.4
- Architecture: aarch64
- Python version: 3.7.5 [64-bit]
- Installed using: virtualenv and pip
- ldd version: ldd (Ubuntu GLIBC 2.27-3ubuntu1.4) 2.27

**Describe the problem**
I used the wheel referred to in this tutorial [tutorial](https://qengineering.eu/in

[2021-04-26 20:19] amahendrakar commented on #37076
@eugeneswalker,
Is this still an issue?

Please take a look at @jxhekang's comment and check if it helps. Thanks!

[2021-04-26 20:22] yakovdan commented on #48307
@jianlijianli @liufengdb
Hi, are there any updates on this?

[2021-04-26 20:25] amahendrakar commented on #35051
@kscorpio,
Is this still an issue?

Please take a look at @mapavia's comment and check if it helps. Thanks!

[2021-04-26 20:35] #47536 closed

[2021-04-26 20:35] #48428 closed

[2021-04-26 20:40] skribm9 commented on #45857
Thank you for your response @advaitjain. I agree with you, flatbuffers only support Little-endian and has been causing issues in several other test cases as well. We had a discussion for Tensorflow serving code where the community kindly agreed to make changes in flatbuffer related code to make sure that it supports all potential permutations of little/big endian conversion and deployment. This is

[2021-04-26 20:50] raimondasl commented on #43833
@abattery I also have the same issue with tf-trt and would like to know if/when there is a solution for it.

@ciklista Please let me know if you open a new issue for this problem in the tf-trt context.

Thank you.

[2021-04-26 21:42] lixilinx opened #48762 "gradient error when tf.concat is used on a list of 0-D tensors (should not allow 0-D tensors concatenation at the first place)"
**System information**
Just a small corner case issue, not much related to OS, Python or hardware.
- OS: Win10 and macOS 10.15.7
- TensorFlow version: 2.4.1
- Python version: 3.8.5

**Describe the current behavior**

When tf.concat is used to concat a list of 0-D tensors (although this very step should not be allowed), forward calculations have no issue, but reporting ZeroDivisionError when one tr

[2021-04-26 21:54] jstremme opened #48763 "Clarify label_weights parameter in tf.keras.metrics.AUC"
### Summary of Documentation Issue in tf.keras.metrics.AUC

It is not clear whether or not the `label_weights` parameter in the [`tf.keras.metrics.AUC` documentation](https://www.tensorflow.org/api_docs/python/tf/keras/metrics/AUC) expects weights to  sum to 1 or not.  For example with multi-label data, you can take the sum of the occurrences of each label divided by the total number of samples to

[2021-04-26 22:23] abattery commented on #43833
Closing since the nightly version can support variables in the TFLite.

Please file another issue for tfrt..

[2021-04-26 22:23] #43833 closed

[2021-04-26 22:24] abattery commented on #43833
For the TFLite conversion, please use the saved model converter from the recent TF version. We have improved the support for resources and variants both in the saved model converter. For mutable variable cases, you can enable the experimental feature, converter._enable_tflite_resource_variables = True.

[2021-04-26 22:26] nikitamaia commented on #47633
Closing this issue due to lack of activity. Please comment or reopen if you have reproducible code. Thanks!

[2021-04-26 22:26] #47633 closed

[2021-04-26 22:28] nikitamaia commented on #47791
Hi @UCRajkumar, I was able to reproduce the issue on a colab GPU runtime, so thank you for providing the reproducible code. No update for now, but will keep this thread updated if something changes.

[2021-04-26 22:40] rchao commented on #42616
Hello RuhuaJiang@, we don't have an update on this yet. Did you happen to test with other strategies such as MirroredStrategy? Also, would ParameterServerStrategy be something that you can consider?

[2021-04-26 22:45] nikitamaia commented on #46373
Sorry for the bot trying to close this issue! I forgot to remove the awaiting response label :)

To clarify: [you ran the code in this file](https://github.com/ethanyanjiali/deep-vision/blob/master/YOLO/tensorflow/train.py) as is with no changes, except for changing `experimental_run_v2` to `run`? Also, I'm assuming [you followed the instructions here](https://github.com/ethanyanjiali/deep-vision/

[2021-04-26 22:58] jvishnuvardhan commented on #48334
@Dragon-GCS I didn't look at your code in detail but the main difference between x.shape (which results in static shape) and tf.shape (which results in dynamic shape) are described [here](https://github.com/tensorflow/tensorflow/issues/35798#issuecomment-574017006). Thanks!

[2021-04-26 23:02] nikitamaia commented on #47230
Hi @markub3327, if I understand correctly from this thread, you're only seeing that `OperatorNotAllowedInGraphError` when `rpm = ReplayBuffer(size=1000000)` but there does not seem to be an issue if the size is smaller (say 10)?

Is that correct?

[2021-04-26 23:02] farflower commented on #44777
it's work for me.

[2021-04-26 23:03] jvishnuvardhan commented on #48647
@szutenberg Thanks for the answer.

@rschumi0 Please close the issue if this was resolved for you. Thanks!

[2021-04-26 23:13] nikitamaia commented on #48439
I don't see any obvious issues with your code. Can you provide a small dataset so I can try to reproduce the issue?

I would also suggest trying to upgrade to 2.4 as MultiWorkerMirroedStrategy moved out of experimental in 2.4 so you can use `tf.distribute.MultiWorkerMirroredStrategy` and you don't need to worry about setting the steps per epoch either.

Can you also try running without the callbac

[2021-04-26 23:23] Mastiff37 commented on #24816
For what it's worth, I have a similar issue in TF 2.0.0 with concatenate and K.repeat_elements.   Nothing complicated and it should work, but complained about sorting and gave other errors when attempting to predict or train.  In my case I was able to eliminate the repeat elements and allow automatic broadcasting to do the equivalent thing, but this won't always be possible.

[2021-04-26 23:46] jianlijianli commented on #48307
Hi yakovdan, thanks for checking. Since we have pin-pointed the issue, @talumbau (assigned in the bug as well) is looking into the RUY code for a proper solution.

(In the meantime, may I ask if the small value is expected or not? We need to improve RUY either way but just curious)

[2021-04-26 23:47] abattery commented on #48698
You can wrap the keras model with the concrete function to override the input signature, for example:

[code]

[2021-04-26 23:48] abattery commented on #48482
That is an intended behavior. The `tflite-runtime` package does not include the Select TF option. Please use the tensorflow package for your use case.

[2021-04-26 23:51] gt1485a opened #48765 ""Context not initialized" exception when calling tf.experimental.dlpack.from_dlpack()"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-04-27 00:22] karimnosseir commented on #48325
Hi @limdlh

Based on testing on phones with similar chip. I think the issue comes from your setup/code.
I am going to close the issue.
Please let me know if you still have questions.

Thanks

[2021-04-27 00:22] #48325 closed

[2021-04-27 01:12] Mullich123 commented on #48439
I've given you my dataset above,don't you see it?

[2021-04-27 01:17] RobertChenKFC commented on #48657
Sorry for the late reply, I'm still figuring out how to make this work with my existing code (I'm not really familiar with bazel), but I think this method should work. I'll close this issue first, and reopen it if other issues occur. Thanks for the help.

[2021-04-27 01:17] #48657 closed

[2021-04-27 01:54] geo-dingky commented on #30794
from tensorflow.contrib.layers.python import layers as tf layers

 ModuleNotFoundError: No module named 'tensorflow.contrib'

Do I need to change tensorflow2.41 to 1.14? Do I need to delete tensorflow2.4?

[2021-04-27 01:57] geo-dingky opened #48766 "ModuleNotFoundError: No module named 'tensorflow.contrib'"
from tensorflow.contrib.layers.python import layers as tf layers

ModuleNotFoundError: No module named 'tensorflow.contrib'

Do I need to change tensorflow2.41 to 1.14? Do I need to delete tensorflow2.4?

[2021-04-27 02:28] DnPlas commented on #48733
It seems that the pip package for TF2.* is not available for ARM64 yet, that is why you are getting an error message. You could try installing TF 2.3 using the wheel directly.
For example: `pip install https://storage.googleapis.com/tensorflow/raspberrypi/tensorflow-2.3.0rc2-cp35-none-linux_armv6l.whl` . Please check this [link](https://www.tensorflow.org/install/pip#package-location) for more inf

[2021-04-27 02:58] rnett opened #48767 "C API Locking prevents custom gradient definition"
I am trying to add custom gradient support to the Java bindings (tensorflow/java#292).  This is currently being prevented by the fact that `TF_AddGradientsWithPrefix` requires a lock on the graph, but so do any operation creation methods (i.e. `TF_NewOperation`), so it is impossible to create ops in gradient functions.

Is there a way I can get around this?  I am considering calling `TF_NewOperati

[2021-04-27 03:26] Zhang-Mengfan commented on #48711
I installed [miniconda](https://docs.conda.io/en/latest/miniconda.html), and it works.

[2021-04-27 04:06] yananchen1989 commented on #48449
I will try tf version 2.5 in the future.

[2021-04-27 04:20] harshgeek4coder opened #48768 "Request for an Efficient Way of handling NLP Tasks with Saving Model weights along with its tokenizer and architecture in JSON"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.4.1
- Are you willing to contribute it (Yes/No): Yes

**

[2021-04-27 04:41] saikumarchalla commented on #48711
@Zhang-Mengfan  Glad to hear that issue is resolved for you. Thanks!

[2021-04-27 04:41] #48711 closed

[2021-04-27 04:49] mjbedford2017 opened #48769 "Tensorflow latest GPU docker container doesn't include object detection API"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile de

[2021-04-27 05:38] abattery commented on #47804
Closing this issue since the performance improvements has been achieved through the Flex tensor list ops.

[2021-04-27 05:38] #47804 closed

[2021-04-27 05:39] terryheo commented on #48562
Did you run `set CI_BUILD_PYTHON=python` ? PYTHON should be just `python`

[2021-04-27 05:42] tilakrayal commented on #48733
@hassan-shehawy ,

Please take a look at [DnPlas](https://github.com/tensorflow/tensorflow/issues/48733#issuecomment-827267559)   comment and let us know if you are still facing the same issue? Thanks!

[2021-04-27 05:46] tilakrayal commented on #48730
@athira-ajith ,

In order to expedite the trouble-shooting process, could you please provide the following information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installed using virtualenv? pip? conda?:
Bazel v

[2021-04-27 05:58] karundawadi opened #48770 "Error with SIGSEGV while building for teachable machine output"
I am trying to implement Tensor flow lite in my application. The code is attached below:
[code]

The tflite application was created using the teachable machine. Currently, in the application, I have tried to use a depreciated version of the Interpreter constructor. However, there was no success. Therefore, I defined options and rendered the application, however, I constantly get the same error. At

[2021-04-27 06:09] yyoon commented on #48718
I see. Usually those frameworks are included by default when you create an Xcode project, but maybe they need to be manually added when using CMake. Good to know.

Is there anything else we can help you with? Otherwise, could you close the issue?

[2021-04-27 06:15] karundawadi opened #48771 "Fatal Signal 11 (SIGSEGV) Error"
I am trying to implement Tensor flow lite in my application. The code is attached below:

    package com.example.se;

import android.content.Context;
import android.content.Intent;
import android.content.res.AssetFileDescriptor;
import android.content.res.AssetManager;
import android.database.Cursor;
import android.net.Uri;
import android.os.Bundle;
import android.os.FileUtils;
import android.uti

[2021-04-27 06:36] matt-houk opened #48772 "set_intra_op_parallelism_threads and set_inter_op_parallelism_threads has no impact on thread usage"
**System information**
- I am using a custom implementation of DepthwiseConv3D, extends the Conv3D class and is partially based on code from the following repository, https://github.com/alexandrosstergiou/keras-DepthwiseConv3D adapted to work in tensorflow 2.4.1
- CentOS Linux Version 7
- Installed from source
- Tensorflow version 2.4.1
- Python 3.8.8
- Cuda 11.0, CuDNN 8
- Happens on GTX1080, RTX

[2021-04-27 06:45] abattery commented on #48771
See https://github.com/tensorflow/tensorflow/issues/48697#issuecomment-826589092.

[2021-04-27 06:47] abattery commented on #48771
We know that TF 2.3 version has an issue with the SSE instructions. You need to upgrade your TF version to resolve the above error.

[2021-04-27 06:48] AlexandreBourrieau commented on #38319
As mentionned by madan-ram, I use the solution he say : "My solution - adding and setting reduction, and name parameter worked. Inherit tf.keras.losses.Loss class." It works for me now.

[2021-04-27 06:53] markub3327 commented on #47230
Yes, when I created too large `tf.TensorArray` for storing interactions of my agent, it's crashed. I do the same thing with NumPy arrays and it's working.

With Numpy:
[code]

With TF:
[code]

Exist an effective way of implementing this? [Tensorflow Replay Buffers](https://www.tensorflow.org/agents/tutorials/5_replay_buffers_tutorial) is no the solution for me. Thanks.

[2021-04-27 07:33] raduslmn commented on #48562
using `set CI_BUILD_PYTHON=python` did not change to `PYTHON=python` but when i manually set then `CI_BUILD_PYTHON` in the env list and restarted the system, then it got updated as you can see below.  But still the built process fails. Below is the output.

[code]

[2021-04-27 07:47] raduslmn commented on #48482
@abattery will do, thank you fixing the lower tensor problem. When will Tensorflow 2.6 which includes this fix be officially released?  By the way, this issue can be closed as it is resolved thanks to you ;)

[2021-04-27 07:58] hmzzl opened #48773 "Wrong results of AvgPoolGrad and AvgPool3dGrad in some specific shapes"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
 **No**
- OS P

[2021-04-27 08:07] abattery commented on #48482
I don't know when the 2.6 version will be released. FYI, the TF 2.5 version is still in the rc stage.

[2021-04-27 08:07] #48482 closed

[2021-04-27 08:20] GPhilo commented on #38319
@jvishnuvardhan Thanks, I believe this has indeed been fixed, I'll close this issue.

[2021-04-27 08:20] #38319 closed

[2021-04-27 08:31] lucacampanella opened #48774 "[RNN] Completely wrong predictions after dynamic range quantization"
Hi everyone,  I'm using dynamic range quantization ([integer with float fallback](https://www.tensorflow.org/lite/performance/post_training_quantization#integer_with_float_fallback_using_default_float_inputoutput)) with a representative dataset, trying to resolved the prediction performance problem I highlighted in #48487.
Unfortunately the predictions I get from the model are wrong and don't corr

[2021-04-27 08:41] fsx950223 commented on #48397
It's a sort algorithm instead of a topk algorithm and its time complexity is O(n)log(n) instead of O(n)log(k). Implement [gpu-topk](https://anilshanbhag.in/static/papers/gputopk_sigmod18.pdf) should enhance the performance and the algorithm has been implemented in onnx-runtime.

[2021-04-27 08:47] barabanus opened #48775 "Please support native acos/asin/atan/atan2 operations within TFLite library"
**System information**
- `Linux 5.11.4-arch1-1 #1 SMP PREEMPT Sun, 07 Mar 2021 18:00:49 +0000 x86_64 GNU/Linux`
- `TensorFlow 2.4.1` from `tensorflow-opt-cuda` package (https://archlinux.org/packages/community/x86_64/tensorflow-opt-cuda)

**Provide the text output from tflite_convert**

[code]

**Standalone code to reproduce the issue**
[code]

[2021-04-27 08:52] abattery commented on #48775
Thanks for filing a feature request. You can enable the Select TF option to utilize the existing TF kernels. See https://www.tensorflow.org/lite/guide/ops_select.

[2021-04-27 08:55] abattery commented on #48774
@jianlijianli could you triage this issue?

[2021-04-27 09:01] Jianbing-D commented on #48753
If you want to reproduce this issue, here are the steps:

1. download files from https://drive.google.com/file/d/1VYqAbJHM_DT2wtVZ4RD5PW1vWNr76hz1/view?usp=sharing
2. extract source files from downloaded files, and all the files I mentioned below can be found here.
3. Build docker image using "cuda11_tf2_ubuntu20.04.dockerfile" and start a docker container with that image
4. enter that docker cont

[2021-04-27 09:03] KuenstlicheIntelligenz commented on #42616
Im also having the same problem with a custom training loop and a keras model backend. The bumps occur for me in between training steps (no eval so far), possibly when the dataset is exhausted as i do not train for epochs. The magnitude of the bumps correlates with the batch_size. I would suggest its a bug within tf.data.

I load my dataset like this
[code]
and im using

[code]
No difference betwe

[2021-04-27 09:06] barabanus commented on #48775
@abattery Thank you for your suggestion to enable Select TF option, but in our environment TensorFlow is not supported. We can use only TFLite operations.

[2021-04-27 09:07] hassan-shehawy commented on #48733
Thank you, but that wheel is for ARM32 and when I tried it, I got the error:
`ERROR: tensorflow-2.3.0rc2-cp35-none-linux_armv6l.whl is not a supported wheel on this platform`
I also tried another wheel made for ARM64 from [here](https://qengineering.eu/install-tensorflow-2.2.0-on-raspberry-64-os.html) and could install successfully but got an error when tried to import (described in #48761 )
I wil

[2021-04-27 09:13] abattery commented on #48775
To understand the circumstances, If possible, could you share why your deployment environment can't have it?

[2021-04-27 09:17] tilakrayal commented on #48738
@Jeet1994 ,

I ran the code shared and face a different error, please find the [gist](https://colab.research.google.com/gist/tilakrayal/76580ef8070839db0c60bbda78d4772b/untitled48738.ipynb) here and share all dependencies to replicate the issue or share a colab gist with the reported error.

Thanks

[2021-04-27 09:19] fjaraavilaa commented on #43276
Where did you add the drop remainder? I am using two Input layers to concatenate two Models and it runs with GPU but not with TPU.

[2021-04-27 09:25] barabanus commented on #48775
@abattery Our runtime hardware is game consoles (Microsoft XBox, Sony PS and Nintendo Switch) with realtime inference requirement. They don't support TF with all its uncontrolled memory allocations, signals and threads management, but we hope to be use TFLite.

[2021-04-27 09:31] abattery commented on #48775
Do you need to all acos/asin/atan/atan2 ops? If possible, it would be nice to share your detailed op requirements including tensor type and tensor shape requirements. For example, is supporting float32 inputs up to 4 four dimensions sufficient?

[2021-04-27 09:35] barabanus commented on #48775
@abattery Oh, I see! Well, actually we need `acos` with `float32` inputs of unrestricted size (`shape=[None]`)

[2021-04-27 09:38] abattery commented on #48775
@thaink could you take a look at this feature request?

[2021-04-27 09:40] tnlin commented on #23716
Need aarch64 support

[2021-04-27 09:41] abattery commented on #48775
If this is quite urgent in your side, please consider implementing a custom acos op for your case. Here is the guide document describing how to write down a TFLite custom sin op.

https://www.tensorflow.org/lite/guide/ops_custom#defining_the_kernel_in_the_tensorflow_lite_runtime

[2021-04-27 09:49] tilakrayal commented on #48766
@geo-dingky ,

Please refer the  issues #36878, #35197, #30794, [37720](https://github.com/tensorflow/tensorflow/issues/37720#issuecomment-601624532) with similar error log.It helps.

Thanks

[2021-04-27 10:36] terryheo commented on #48562
Did you run `configure` script?
I wonder if `PYTHON_BIN_PATH` is configured correctly.

[2021-04-27 11:05] raduslmn commented on #48562
When i run the configure with bazel 4.0.0  i get `Please downgrade your bazel installation to version 3.99.0 or lower to build TensorFlow`

[code]

when i run it with bazel 3.7.0 then it runs ok, below is the output

[code]

I also ran `download_dependencies.sh` as you can see below:

[code]

Since the `configure` script doesn't run with bazel 4.0, i downgraded to bazel 3.7, and after i ran `build

[2021-04-27 11:10] adis300 commented on #42465
It would be great if LeakyReLU support is added.

[2021-04-27 11:50] rmothukuru commented on #29244
@Aqsa-K,
Sorry for the delayed response. Your statement that is mentioned below, is not clear:

Can you please elaborate it?  Thanks!

[2021-04-27 11:53] rmothukuru commented on #29261
@noahhkim,
Sorry for the delayed response. Can you please let us know if you would be interested to contribute by submitting a PR? Thanks!

[2021-04-27 11:54] epiedadjr opened #48777 "After installing cudatoolkit 10.1, cudnn 7.6.5 & tf 2.3.0, I still can´t see my GPU device."
**System information**
OS Platform and Distribution: Win10 x64
TensorFlow installed from (source or binary): binary
TensorFlow version: 2.3.0
Python version: 3.8.5
Installed using conda
CUDA toolkit/cuDNN version: 10.1 / 7.6.5
GPU model and memory: GTX1650 Ti

**Describe the problem**
I have installed the above version of packages plus jupyter notebook in Miniconda.
![image](https://user-images.gi

[2021-04-27 12:00] rmothukuru commented on #29269
@MagsMagnoli,
Sorry for the delayed response. Can you please elaborate on how exactly the description could be improved? Thanks!

[2021-04-27 12:11] lixin679 commented on #44071
Excuse me, is GPU delegate available on the server for TFLite?

My server is:

DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=18.04
DISTRIB_CODENAME=bionic
DISTRIB_DESCRIPTION="Ubuntu 18.04.1 LTS"

I've tried to compile TFLite with --copt=-DCL_DELEGATE_NO_GL (bazel build -c opt --copt=-DCL_DELEGATE_NO_GL --copt=-DEGL_NO_X11 tensorflow/lite/tools/evaluation/tasks/imagenet_image_classification:run_eval)

But it

[2021-04-27 12:28] RocaVincent commented on #48662
@bhack Like @reedwm saied, #47156 is related. Indeed, it seems that I don't have problems when I put all instance normalization layers in float32 precision (I should have said this in the first post). But the problem is also linked to the use of gradient penalty, because with other models, I manage to keep some instance normalization layers in mixed precision without having the loss scale decreasi

[2021-04-27 12:34] Mon3am opened #48778 "Probele with make when trying to build the Test_hello_world_test TinyML"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows
- TensorFlow installed from (source or binary): Source
- Tensorflow version (commit SHA if source): 1.12.0
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): PC

**Describe the problem**
I'm trying to build the Test_hello_world_test from the TinyML book using make command but

[2021-04-27 12:54] bhack commented on #48662
If I see the example [WGAN_WP in keras](https://keras.io/examples/generative/wgan_gp/) they use a custom `train_step`.
Are the functions in mixed precision [custom_training_loop](https://www.tensorflow.org/guide/mixed_precision?hl=en#training_the_model_with_a_custom_training_loop) section sufficent?

[2021-04-27 13:11] petrovicluka commented on #4078
Could you manage to solve that issue? Because my libcudart.so is also in red color .
Thanks in advance!

[2021-04-27 13:23] RocaVincent commented on #48662
Yes I saw both sites but the keras one doesn't use mixed precision and the tensorflow guide doesn't talk about scaling with second order gradient.

[2021-04-27 13:32] epsilon11101 commented on #46740
[code]

works for me

[2021-04-27 14:23] ssh352 opened #48779 "installation on ubuntu 18.04 failed, followed official instructions"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution Ubuntu 18.04

**Describe the problem**

I followed https:/

[2021-04-27 14:41] bhack commented on #48662
So are you looking to something like https://pytorch.org/docs/stable/notes/amp_examples.html#gradient-penalty?
They are unscaling the grad_param to add the penalty to the loss.

[2021-04-27 14:51] amahendrakar commented on #48663
@alexartwww,
Please take a look at these comments [link #1](https://github.com/tensorflow/tensorflow/issues/46653#issuecomment-805062910), [link #2](https://github.com/tensorflow/tensorflow/issues/27505#issuecomment-490768957) from the members of the TensorFlow team and check if it helps. Thanks!

[2021-04-27 15:22] ebrevdo commented on #48397
While I'm not sure the implementation is actually O(nlog(n)) given it's a radix sort (iirc), the fact that it's not a pure top-k algorithm is clearly limiting its performance when `n >> k`.  So it would be great to implement `gpu-topk` or some variant.  I'll mark this as contributions welcome for now.

[2021-04-27 15:23] ebrevdo commented on #48397
Keep in mind we would need a segmented top-k algorithm since we perform multiple parallel top-k operations in general.

[2021-04-27 15:29] bkgoodman commented on #9614
Also important to note - that I was using apache reverse  proxy to send `/tensorboard` to the (tensorboard at port) 6006. I passed `--path_prefix=/tensorboard` to tensorboard to run it, but I ultimatley had to connect to `http://1.2.3.4/tensorboard/tensorboard/` to actually get it to work. (Notice that "tensorboard" is specified *twice* and there is a trailing slash on the end of the URL!)

My Apa

[2021-04-27 15:35] #48305 closed

[2021-04-27 15:49] #48350 closed

[2021-04-27 16:28] joannayoo0117 opened #48781 "restoring checkpoint from 2.3 fails on TPU version 2.4.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.4.0
- Python version: 3.7.x

**Describe the current behavior**
We have a checkpoint that is trained using tpu

[2021-04-27 16:34] charlesmindee commented on #46922
Hi, I have the same issue, this is my system information:

  OS Platform and Distribution: Linux, Ubuntu 18.04
  TensorFlow installed from: pip
  TensorFlow version: 2.3.1
  Python version: 3.7
  CUDA/cuDNN version: CUDA 10.1, cuDNN 7.6.5
  GPU model and memory: GeForce RTX 2080 Ti

[2021-04-27 16:44] tilakrayal commented on #48765
I was able to reproduce the issue in TF v2.4.v2.5.0rc1,nightly.Please find the [gist](https://colab.research.google.com/gist/tilakrayal/d57c4ab38273df93affd2b1968f39226/48765.ipynb) here

[2021-04-27 16:59] jianlijianli commented on #48752
Hi advaitjain, could you please help triage this issue on micro? Thanks.

[2021-04-27 17:01] tilakrayal commented on #48769
@mjbedford2017 ,

In order to expedite the trouble-shooting process, could you please provide the following information
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installed using virtualenv? pip? conda?:
Bazel version (if compiling from source):
GCC/Compiler version (if compiling from source):
CUDA/cuDNN version:
GPU model and memory:

and the exact sequence

[2021-04-27 17:28] nagbattula8 opened #48783 "Help: Using Demo application of tflite java, how to run three different models on CPU, GPU and DSP in parallel"
System information

Have I written custom code: Yes
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Android 8.1.0
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: MI 8 Pro with Qualcomm Snapdragon 845

Describe the problem

Qualcomm Snapdragon 845 contains three hardware devices named CPU, GPU and DSP. I am implementing the demo tflite Android

[2021-04-27 17:31] jianlijianli commented on #48774
Hi lucacampanella, thanks for creating the issue.

Some background: tensorflow lite offers several quantization schemes, including dynamic range quantization (only weights are quantized, activation is left float in the model and quantized on the fly during inference) and full integer quantization (both weights and activations are quantized; activation can only be quantized by running some calibrat

[2021-04-27 17:35] #41378 closed

[2021-04-27 17:43] steven-hh-ding commented on #37010
able to reproduce even when k!=num_col. `sorted` is never effective.

[code]

(tf 2.4.1, Driver: 460.73.01, CUDA Version: 11.2 Quadro RTX 6000)

[2021-04-27 17:47] Lucy20211 commented on #48567
Hi @njeffrie, thanks for you reply: I used a global "x" only as a test input for the custom operator (I've never used custom operators before). Regarding the following error:

`ValueError: tf.function-decorated function tried to create variables on non-first call.`

what could it depend on in this case?

[2021-04-27 17:49] amahendrakar commented on #34291
@Mithrandir2k18,
Is this still an issue?

Could you please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same error. Thanks!

[2021-04-27 18:05] amahendrakar commented on #40278
@dhiegomaga,
Is this still an issue?

The documentation has been updated for TensorFlow v2.4.1 and I did not face any errors on running the commands.

Please feel free to close the issue if resolved. Thanks!

[2021-04-27 18:07] amahendrakar commented on #34777
@edrozenberg,
Is this still an issue?

Could you please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same error. Thanks!

[2021-04-27 18:09] amahendrakar commented on #36771
@OneRaynyDay,
Is this still an issue?

Could you please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same error. Thanks!

[2021-04-27 18:10] edrozenberg commented on #34777
@amahendrakar thanks, closing. No such problems building `2.4.1` recently.

[2021-04-27 18:10] #34777 closed

[2021-04-27 18:16] deeepwin commented on #48650
@saikumarchalla

I have install nightly but unfortunately no success. Could you check it on cuda with higher version or am I doing something wrong?

Collecting tf-nightly
  Downloading tf_nightly-2.6.0.dev20210427-cp37-cp37m-manylinux2010_x86_64.whl (455.6 MB)

[code]

[2021-04-27 18:19] nikitamaia commented on #48641
Adding the contributions welcome label to this issue for further investigation by the community. If you are interested in working on this feature, please leave a comment and I will assign it to you. Thanks!

[2021-04-27 18:30] Saduf2019 commented on #43300
@bchetioui
This has been fixed on tf 2.5, please refer to the [gist here](https://colab.research.google.com/gist/Saduf2019/37b3b34cf9b4539c628a6f164c2cb018/untitled597.ipynb), and move this to closed status.

[2021-04-27 18:35] yuefengz commented on #42616
Hi @KuenstlicheIntelligenz , would you mind testing it without distribution strategy, just to make sure the problem comes from tf.data? cc @w-xinyi @jsimsa

[2021-04-27 18:36] Saduf2019 commented on #43322
@charmasaur
I ran the code on tf 2.5, please verify the [gist here](https://colab.research.google.com/gist/Saduf2019/26078dc9d4b45cd2e471e971b7bdb858/untitled597.ipynb) and confirm if we may move this to closed status.

[2021-04-27 18:39] jsimsa commented on #42616
This might be another instance of https://github.com/tensorflow/tensorflow/issues/44176#issuecomment-783768033.

[2021-04-27 18:44] Saduf2019 commented on #43773
I am able to replicate the issue on tf 2.5, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/f0494cbaca40f524522c55b8d8506726/untitled597.ipynb).

[2021-04-27 18:47] njeffrie commented on #48567
I'm not very familiar with this area, but it seems like [this thread](https://github.com/tensorflow/tensorflow/issues/27120) may be relevant.

Have you tried changing
def convol1d(): to def convol1d(x): and renaming the global x to test_input or something? It looks like other examples pass the input into the tf-function rather than referencing it from within.

[2021-04-27 18:51] Saduf2019 commented on #42355
@optiluca
Could you please refer to [this gist](https://colab.research.google.com/gist/Saduf2019/02568b0315cfa0a409f2c69412dc08a8/untitled597.ipynb) and confirm if this issue can be closed.

[2021-04-27 18:54] mjbedford2017 commented on #48769
Hello, thank you for looking into this. Just to clarify, I am using the tensorflow docker container, which comes with software defined in the docker file. I got the docker container using "latest GPU" 2 days ago. Here is the docker file I believe it is using (latest GPU) https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/dockerfiles/dockerfiles/gpu.Dockerfile

TensorFlow install

[2021-04-27 18:58] MarkDaoust commented on #48743
Hi,

The source doc for this page is here:

https://github.com/tensorflow/docs/blob/master/site/en/tutorials/distribute/custom_training.ipynb

I need a few minutes to think about that loss reduction issue.

[2021-04-27 19:13] kamushekp commented on #27688
You can also face this problem in case of no-unique 'group' part of name in case of using multi-input models with transfer learning (for example - several MobileNet at input).

Wrote this code, it helped (summary, with changing other meta, such as model name and layer names):

[code]

[2021-04-27 19:15] shivrajgondi commented on #18736
Facing this problem in Linux and not in Windows 10.

[2021-04-27 19:35] #48267 closed

[2021-04-27 19:50] llodds commented on #48743
I did a test to verify this.

On Tue, Apr 27, 2021 at 1:58 PM Mark Daoust ***@***.***>
wrote:

[2021-04-27 20:17] aaudiber commented on #48526
@NA-Dev Datasets produce data on-demand, so to trigger the writing you need to iterate through the dataset, e.g. with
[code]
or
[code]

Sorry for the confusion, I'm sending a PR to add the execution step to the doc.

[2021-04-27 20:23] pedrogalher opened #48785 "Warnings related to Custom Layer"
**System information**
- Windows 10 (64-bit):
- TensorFlow version: 2.1.0
- Python version: 3.6
- CPU

**Describe the current behavior**
I have implemented the custom layer described [here](https://github.com/fabianbormann/Tensorflow-DeconvNet-Segmentation/blob/master/DeconvNet.py). This layer is the UpSampling layer described in the SegNet model.

In order to test the implementation, I wrote a sh

[2021-04-27 20:38] vladGriguta commented on #45044
If the error persists after setting the GPU memory growth configuration, as indicated by @king398, you might want to try dropping the batch size during training.

[2021-04-27 20:42] vineetkushwaha opened #48786 "Allocation Tensor change output shape from [1,136] to [0,136]: Invalid tensor size on reading output tensor"
### 1. System information

Running on Google Colab
TensorFlow : 2.4.1

[Model.zip](https://github.com/tensorflow/tensorflow/files/6387424/Model.zip)
Have attached the Tflite model and the Tensorflow model graph

### 2. Code

Provide code to help us reproduce your issues using one of the following options:

#### Option A: Reference colab notebooks

1)  Reference [TensorFlow Model Colab](https://col

[2021-04-27 21:08] MarkDaoust commented on #48743
[Note: if you post the notebook to GitHub without zipping it then people can open it directly in google Colab without leaving the browser by replacing `github.com` with `https://colab.sandbox.google.com/github/`]

I see your point from #27190 that this is how it works.  I just really don't like it 😅.

[code]

Anyway, the problem with just changing this line is that while the loss classes are [usua

[2021-04-27 21:21] luisArandas opened #48787 "Tensorflow 2.4.1 hangs on any operation using Conda and RTX3070"
Hello all. I'm having a bit of a trouble using Tensorflow on a dedicated conda environment. Any operation e.g. instantiating two tensors and printing them hangs the execution. I'm using:

**System information**
- Linux Ubuntu 20.04
- Desktop with RTX 3070, nvidia drivers 460
- CUDA Version 11.2

I even tried to force it to use the CPU but no better results. It only works if I just do:

`import ten

[2021-04-27 21:25] duncanriach commented on #39751
@ChenchengLiang, thanks for the suggestion. Please will you put your code into a [code block](https://docs.github.com/en/github/writing-on-github/creating-and-highlighting-code-blocks), with proper indenting, to make it easier to read?

I believe that the work-around you have provided is robust in terms of making the overall operation perfectly reproducible, assuming that the maximum number of seg

[2021-04-27 21:28] abattery commented on #48783
@srjoglekar246 could you triage this issue?

[2021-04-27 21:55] sciann opened #48788 "Incorrect batch size info with keras.utils.Sequence"
TensorFlow 2.4.1

Batch size info is miscalculated when data is wrapped in Sequence. The example below is the output for the first epoch training on 10,000 points with batch_size=32, which should result in 313 mini-batch updates.  The batch number on the far left is correct (313/313), however, the size and batch before loss seem to be incorrect.

Output:
Epoch 1/100
313/313 [======================

[2021-04-27 22:17] aolivieri commented on #45044
One additional hint since it took me some time to figure it out. The set_memory_growth() didn't take effect in my setup until I added the os.environ['CUDA_VISIBLE_DEVICES']="0" (note I have only one GPU).

BTW, this still looks like a workaround to me and ideally we would have to fix this (I didn't face this problem with the older versions of CUDA and cuDNN compatible with the RTX20xx series).

[2021-04-27 22:18] jvishnuvardhan commented on #45978
@DrAA Is this still an issue for you? I ran your code with `tf-nightly` and I don't see any error. Can you please check and confirm whether the issue is still persisting with `tf-nightly`. Thanks!

[2021-04-27 22:29] #48770 closed

[2021-04-27 22:34] karundawadi opened #48791 "Help : Incorrect read of byte[] { Cannot convert between a TensorFlowLite tensor with type FLOAT32 and a Java object of type [B (which is compatible with the TensorFlowLite type UINT8) }"
The official tutorial mentions that tensor flow should support Byte[]. However, when passed to the model , the following error occurs:
[code]
My main code is :
[code]

I am trying to convert the.wav file into an byte array using the function :
[code]

[2021-04-27 22:35] karundawadi commented on #48771
@abattery Thank you updating the TF version did work.

[2021-04-27 22:35] #48771 closed

[2021-04-27 22:45] karundawadi commented on #48791
I did verify that the byte[] file created is actually generating the output. This was done using the for loop and also verified using the [StackOverflow answer](https://stackoverflow.com/questions/67290748/how-to-read-wav-file-as-byte-array-in-android-studio).

[2021-04-27 22:48] abattery commented on #48791
This is an intended behavior. You need to provide a float array for float inputs not the byte array.

[2021-04-27 22:48] charmasaur commented on #43322
Hi @Saduf2019 , unfortunately it's still not fixed in the case where the tensor has more than one element (see my comment https://github.com/tensorflow/tensorflow/issues/43322#issuecomment-695864353). Changing `[0]` to `[0, 1]` in that gist still causes a failure.

[2021-04-27 22:50] karundawadi commented on #48791
@abattery I am reading in a .wav file from the system, what would be the best way to convert it to a float array?

[2021-04-27 22:51] jbboin commented on #40224
Hi, this issue is not solved.

When the input is a 4D tensor, serializing and deserializing a `BatchNormalization` layer with `fused=False` will give a layer with `fused=True`. The serialization seems to be the problem. It doesn't save the state of the `fused` parameter. Adding it manually works, as the following snippet (which builds on the snippet posted by @sandeepjana) shows.
Note that unlike

[2021-04-27 22:54] abattery commented on #48791
@lintian06 could you help? Looks like this issue is related to the sound classification example.

[2021-04-27 22:57] abattery commented on #48791
@karundawadi If your model is generated from the Sound classification example from the Teachable Machine, you need to create a float buffer that holds audio PCM sample.

[2021-04-27 23:27] srjoglekar246 commented on #48783
Are all three 'classifiers' different instances of [ImageClassifier](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/java/demo/app/src/main/java/com/example/android/tflitecamerademo/ImageClassifier.java#L48)? Note that TFLite Interpreters are not thread-safe, so using one from multiple threads will cause issues.

[2021-04-27 23:43] karundawadi commented on #48791
@abattery I converted a wav file to byte[] and converted it to a float buffer. However, upon passing it, it showed me a newer type of error,

The error is :
[code]
The code is :
[code]

All other remaining aspects of the program was kept the same. The output and input both are in float [].

[2021-04-27 23:54] OneRaynyDay commented on #36771
Hi there, I no longer have the setup to reproduce this error unfortunately. I think we should mark it as closed :)

[2021-04-27 23:54] #36771 closed

[2021-04-27 23:58] nagbattula8 commented on #48783
Yes. To be precise, 'classifier' instance of ImageClassifier runs nasnet_mobile.tflite. 'classifier2' takes care of mobilenet_v1_0.25_224.tflite. classifier3 runs the inference for  inception_v1_224_quant.tflite. All these are from the Hosted models page https://www.tensorflow.org/lite/guide/hosted_models.

[2021-04-28 00:07] thaink commented on #48775
These under our list to add to builtin ops. I think I can handle them sometime later this week.

[2021-04-28 00:29] terryheo commented on #48562
Ok. Let's forget about Bazel-4.0.0
Also you don't need to run `tensorflow/lite/tools/make/download_dependencies.sh`. It's only needed for Makefile build.

It looks like you're facing a C compiler configuration issue.

Could you double confirm that you followed all steps in the guide
specially, https://www.tensorflow.org/install/source_windows#install_visual_c_build_tools_2019 ?

[2021-04-28 00:41] bhack commented on #48584
@AdityaKane2001 is this a duplicate of https://github.com/tensorflow/tensorflow/issues/47689 or there is something new?

[2021-04-28 00:59] abattery commented on #48791
Is it possible to share your TFLite to us to take a look at the graph?

[2021-04-28 02:41] kitarikes commented on #6698
@Samaritan1011001 your solution works for me, too! thanks xD !

[2021-04-28 02:46] karundawadi commented on #48791
Yes, I have attached the file to this comment.

The link redirects to my google drive, where all the files are present.

[Link to File](https://drive.google.com/drive/folders/1HA_90Bgic60Zurla_5OAK75Uu83EpKlB?usp=sharing)

[2021-04-28 03:00] abattery commented on #48791
I ran your TFLite model with the TFLite model benchmark tool. It was successfully done. According to the model spec, you need to provide a float [1][44032] array. Please make sure that your inference code meets the model spec's requirement.

[2021-04-28 03:28] leondgarse commented on #44758
- I think this is designed to be, but the line `pass the context word as true class to exclude it from being sampled` in the tutorial is really misguiding. I'm just learning this from the tutorial, so there maybe mistakes in my understanding.
- In my test, `true_classes` has no effect on the sampled results, seems it's only used to calculate the second returned value `true_expected_count`:
[code]

[2021-04-28 03:45] karundawadi commented on #48791
Thank you I implemented the float specifications as you provided, it worked.

Thank you!

[2021-04-28 04:01] #48791 closed

[2021-04-28 04:02] abattery commented on #48791
Glad to hear that!

[2021-04-28 04:05] duncanriach commented on #47174
I'm returning here with findings on a repro for `tf.keras.layers.DepthwiseConv2D` nondeterminism, as promised in [this previous comment](https://github.com/tensorflow/tensorflow/issues/47174#issuecomment-820009465).

Please see [this gist](https://gist.github.com/duncanriach/4c18cb07a73510c5fcb2deb52adbffaa) for a complete repro, forward and backward, CPU and GPU. I'll copy/paste the findings here

[2021-04-28 04:25] tilakrayal commented on #48778
@Mon3am ,

We see that you are using tf version 1.15, there is no support for 1.x, please update to 2.x and let us know if you are using same issue.

[2021-04-28 04:31] tilakrayal commented on #48779
@ssh352 ,

In order to expedite the trouble-shooting process, could you please provide the following information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installed using virtualenv? pip? conda?:
Bazel version

[2021-04-28 04:33] AdityaKane2001 commented on #48584
@bhack
Yes, this is a duplicate, but I had added some observations.

[2021-04-28 04:35] #48425 closed

[2021-04-28 04:42] Mon3am commented on #48778
Hi
thank you for your response
I updated the Tensorflow to version 2.4.1 but I still receive the same error

[2021-04-28 04:59] abattery commented on #48786
I could confirm that the attached TFLite model file works well with the TFLite benchmark tool.

[2021-04-28 05:00] abattery commented on #48786
@vineetkushwaha Please share simple stand alone code such that we can replicate the issue faced or if possible share a colab gist.

[2021-04-28 05:12] UsharaniPagadala commented on #48785
@pedrogalher

I ran the code shared but face a different error, please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/123b3202121c7b47cf0de23d769f3509/-48785.ipynb) here and share all dependencies such that we can replicate the issue reported .

[2021-04-28 05:46] za13 commented on #48533
can anyone help?

[2021-04-28 05:53] ZoeZhang91 opened #48794 "tensorflow2.3.2 compilation ERROR"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):win10
- Mobile device (e.g. iPh

[2021-04-28 06:31] marconi1964 commented on #46721
@angsiokcheng With all these discussions with fixes and code merged, assume this issue can be closed?

[2021-04-28 06:58] vineetkushwaha commented on #48786
@abattery I am inferencing the model (face landmark) in python and here is the reference code for inference (Google Colab) that will produce the error. Model.zip file contains the Tflite model and sample input image (face image).
Reference [TensorFlow Model Colab] https://colab.research.google.com/drive/1N2umiVDPnTuj6-F9_V00L8GUidHP2rkB?usp=sharing#scrollTo=6Kyyfe3O97Tr
[Model.zip](https://github.

[2021-04-28 07:28] MeghnaNatraj commented on #44353
Hello @Tombana Thanks for pointing this out. I've looked into it and yes you're right..unreferenced buffers don't get cleaned up. However, we have decided to keep them as is. Reasons:

1. Buffers are associated with a model while tensors are associated with a model's subgraph. As a result, we may have tensors of different subgraphs reference the same buffers.
2. Overhead: There are very few model

[2021-04-28 07:28] #44353 closed

[2021-04-28 07:30] UsharaniPagadala commented on #48788
@sciann
Could you please fill the template.
and also share more details for us to analyse, simple stand alone code to replicate the issue faced or a colab gist with the code and error.Thanks

[2021-04-28 07:32] Tombana commented on #44353
Sounds good to me, thanks!

[2021-04-28 07:35] #48352 closed

[2021-04-28 07:36] ssh352 commented on #48779
OS Platform and Distribution ubuntu 18.04
TensorFlow installed from (source or binary): binary
TensorFlow version: 2.4
Python version: python 3.7.7
Installed using virtualenv? pip? conda?: pip
Bazel version (if compiling from source):
GCC/Compiler version (if compiling from source):
CUDA/cuDNN version: cuda 11.0
GPU model and memory: Nvidia P40 24G

and the exact sequence of commands / steps that

[2021-04-28 07:41] kbrajwani commented on #47924
@sanjoy Have you find any solution?

[2021-04-28 08:16] diplodocuslongus commented on #44777
@cameronjacobson good catch!
The hard link didn't work for me but your approach gave me the hint to add the soft link in my virtual environment.

[code]
System: cuda 11.2, cuDNN 8.2, GTX1080, pop_OS 20.04 (ubuntu 20.04)

[2021-04-28 08:28] WoutRuyters commented on #48038
@jvishnuvardhan Sorry for the late reply!
This has solved my problem and thus the issue can be closed, thank you for your help and time!

[2021-04-28 08:28] #48038 closed

[2021-04-28 08:49] alexanderfrey commented on #47246
Facing same issue here with Xiaomi MI11.

[2021-04-28 09:11] tilakrayal commented on #48787
@luisArandas ,

The messages are just information logs stating that TensorFlow has successfully detected the GPU on your machine. You can safely ignore them.

You can also disable them by changing the log level using the below code snippet

import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2'
import tensorflow as tf

Please find the gist of the same [here](https://colab.research.google.com/gist/tila

[2021-04-28 09:29] RocaVincent commented on #48662
That's what I do now. But I don't manage to transpose well the Pytorch example you give in Tensorflow because it seems there isn't a GradientTape equivalent in the code. In my case, I have a GradientTape context which is used to compute the gradients for the gradient penalty inside an other GradientTape which computes the global loss as it is in [the Keras example you linked](https://keras.io/exam

[2021-04-28 09:42] lucacampanella commented on #48774
Hi @jianlijianli and thanks a lot for the answer, very useful.

I had the intuition that using full integer quantization would yield worse accuracy than the dynamic range, as you are saying. I tried going down this road mostly to use the flag EXPERIMENTAL_TFLITE_BUILTINS_ACTIVATIONS_INT16_WEIGHTS_INT8, because in #48487 it was suggested that one difference with CoreML was the handling of activatio

[2021-04-28 09:47] bhack commented on #48662
So this is your code example in March right? https://stackoverflow.com/questions/66771093/tensorflow-mixed-precision-second-order-gradient-scaling

[2021-04-28 09:55] limdlh commented on #48407
@Saduf2019 Hello, why remove assignment? should I add a new issue for Hexagon(DSP) accelerate?

[2021-04-28 09:55] limdlh commented on #48407
@Saduf2019 Hello, why remove assignment? should I add a new issue for Hexagon(DSP) accelerate?

[2021-04-28 09:56] rmothukuru commented on #29859
@lkmandy,
In the documentation of [tf.errors.DeadlineExceededError](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/errors/DeadlineExceededError), it is mentioned

Since we don't use this **`Exception`**, can you please let us know if we can close this issue? Thanks!

[2021-04-28 09:58] abattery commented on #48786
@vineetkushwaha Thank you! I could reproduce the situation at my end. Will triage this bug report to the team.

[2021-04-28 09:59] luisArandas commented on #48787
Thank you @tilakrayal

Still wondering why it takes minutes to run, and it doesn't seem it's tensor computation. Maybe that I have CUDA 11.2 installed and it is instantiating other version through conda?

[2021-04-28 10:00] lkmandy commented on #29859
Yes please, you can close this issue if the Exception is deprecated or something like that

[2021-04-28 10:10] #29859 closed

[2021-04-28 10:13] rmothukuru commented on #30172
@mohapatras,
Can you please let us know if [this PR](https://github.com/tensorflow/io/pull/539) has resolved this issue so that close it? Thanks!

[2021-04-28 10:19] rmothukuru commented on #30195
@mttbx,
Sorry for the delayed response. Can you please go through the documentation of [Mixed Precision](https://www.tensorflow.org/api_docs/python/tf/keras/mixed_precision/Policy) and [the Guide](https://www.tensorflow.org/guide/mixed_precision) and let us know if it helps? Thanks!

[2021-04-28 10:27] rmothukuru commented on #30215
@zicofish,
Your code could be run successfully and is resulting in `Expected Output`. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/04b83f38b3fe97529fca8f773ab94480/gh_30215.ipynb) of the working code. Thanks!

[2021-04-28 10:32] d-dawg78 commented on #46044
You can find detailed instructions regarding TF installation on Mac M1 using Rosetta here:

https://drive.google.com/drive/folders/1-d6aZNrlsJLFciJuVpo1-dXWptEMo22h?usp=sharing

Note that there is also a .whl file generated for TF 2.4.1 and Python 3.8.5. Enjoy!

(and thanks to the others that commented above me for outlining the solution!).

[2021-04-28 10:34] rmothukuru commented on #30366
@jbuckman,
As per my understanding, [tf.Variable](https://www.tensorflow.org/api_docs/python/tf/Variable) now offers the functionality that you are looking for. Can you please confirm if it is so, so that we can close this issue? Thanks!

[2021-04-28 10:35] #35138 closed

[2021-04-28 10:35] #35329 closed

[2021-04-28 10:37] rmothukuru commented on #30418
@mpafla,
With respect to the [above comment](https://github.com/tensorflow/tensorflow/issues/30418#issuecomment-719124842), can you please let us know if we can close this issue? Thanks!

[2021-04-28 10:41] rmothukuru commented on #30444
@zh794390558,
Sorry for the delayed response. Can you please specify the use cases in which adding `ctc_greedy_decoder` will be helpful? Thanks!

[2021-04-28 10:43] Saduf2019 commented on #48407
@limdlh
This issue will be handled by @impjdi  and @lintian06, hence removed my assignment.

[2021-04-28 10:51] cm970278724 commented on #47831
I met the same question. Do you solve this?

[2021-04-28 10:57] tilakrayal commented on #48787
@luisArandas ,

TensorFlow v2.4 is built and tested against CUDA 11.0 and cuDNN 8. Could you please update the CUDA and cuDNN packages on your machine to compatible versions and check if you are facing same issue.For more information please take a look at the [tested build configurations](https://www.tensorflow.org/install/source#gpu).

Thanks

[2021-04-28 10:59] tilakrayal commented on #48769
@mjbedford2017 ,

TensorFlow v2.4 is built and tested against CUDA 11.0 and cuDNN 8. Could you please install the CUDA and cuDNN packages on your machine to compatible versions and check if you are facing same issue.For more information please take a look at the [tested build configurations.](https://www.tensorflow.org/install/source#gpu)

Thanks

[2021-04-28 11:06] bchetioui commented on #43300
Thank you for the update! I have run it on my machine as well and confirmed it now works.
I am thus closing the issue.

[2021-04-28 11:06] #43300 closed

[2021-04-28 11:16] rmothukuru commented on #30956
@nfergu,
Sorry for the delayed response. Can you please refer the documentation to [Create a New Op](https://www.tensorflow.org/guide/create_op) and the [Github Repository to build a Custom Op](https://github.com/tensorflow/custom-op)? Thanks!

[2021-04-28 11:27] alexanderfrey commented on #48426
Have you already been able to make use of the hexagon dsp ? I'm not quite sure if nnapi or the hexagon delegate is the way to go. For what I learned the hexagon 1.21 version does not yet support the snapdragon 888.

[2021-04-28 11:28] wuxianxingkong commented on #47037
@ymodak Any update on this issue?

[2021-04-28 11:29] alexanderfrey commented on #48306
Hi, I'm also working on using a object detection on the snapdragon 888. Have you already been able to make use of the hexagon dsp ?  Maybe via the hexagon 1.21 delegate or nnapi ?

[2021-04-28 11:32] alexanderfrey commented on #48081
@aki Can you share some knowledge on how to make use of the snapdragon hexagon dsp ? The hexagon delegate 1.21 does not seem to support the snapdragon 888. Do you use nnapi ?

[2021-04-28 11:34] francotheengineer commented on #33303
This is correct.

I have been working for 2 days trying to find a solution to this issue, and have yet to find one. The issues for me is, if I push models to production, and each time the export has a different output order, it can't be used. I'd be keen to contribute to fixing this but will be a while before I can get onto that. Thanks all!

[2021-04-28 11:40] rmothukuru commented on #31279
@johnkegz,
Sorry for the delayed response. This is expected because the implementation of [tf.tuple](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/tuple) correspond to the **`Tensorflow Version 2.x`** and hence it is pointing to [tuple_v2](https://github.com/tensorflow/tensorflow/blob/v2.0.0/tensorflow/python/ops/control_flow_ops.py#L2911-L2944).

If we observe the [Tensorflow 1.x ve

[2021-04-28 11:42] johanahlkvist commented on #33303
Naming the outputs in keras such that their names' alphabetical order correspond to their desired order in tflite worked well for me.

[2021-04-28 11:42] danielplatt commented on #46044
@d-dawg78 I get an "Access Denied" error message when clicking that link. Have you selected the right sharing settings?

[2021-04-28 11:45] jvishnuvardhan commented on #42879
@yongwww Looks like this was resolved. I tried your code with `tf-nightly` nad I cannot reproduce the error. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/adf3ebd661b088846a7e3d1e003aeb49/untitled401.ipynb).

Can you please verify and close the issue if this was resolved for you. Thanks!

[2021-04-28 11:52] rmothukuru commented on #31545
@DEKHTIARJonathan,
Sorry for the delayed response. We can get the shape of **`Ragged Tensor`** not using **`tf.shape`** but using **`get_shape`** . Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/11f74723513e432440d486709945d95e/gh_31545.ipynb) of the working  code. Thanks!

[2021-04-28 11:53] rschumi0 commented on #48647
@szutenberg  Thank you for your answer. It's true, one is the correct result when the softmax function is applied for axis=0. I still think that the user wouldn't use this layer to turn all inputs to one since this is usually not intended . I think this might happen by accident when users are not aware about the axis notations. Hence, I would suggest a warning in order to avoid unnecessary debuggi

[2021-04-28 12:01] rmothukuru commented on #32082
Error exists with `TF Version 2.4.1` as well. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/a7fbe746814ddcfe80c7e5abd9f2595b/tensorflow-issue-32082.ipynb).

[2021-04-28 12:05] digital-thinking commented on #42673
I have the same Problem, when using a simple custom layer in keras, using convert_variables_to_constants_v2 in combination with tf.lookup.StaticHashTable. tf2.4 (worked in 2.2)....

[2021-04-28 12:05] tilakrayal commented on #48794
@ZoeZhang91 ,

TensorFlow v2.3 is built and tested against CUDA 10.1 and cuDNN 7.6. Could you please install the CUDA and cuDNN packages on your machine to compatible versions and check if you are facing same issue.

For more information please take a look at the [tested build configurations.](https://www.tensorflow.org/install/source_windows#gpu)Thanks

[2021-04-28 12:11] abattery commented on #42673
@digital-thinking could you file a new issue with the reproducible steps? It is hard to track multiple stuffs at a single thread.

[2021-04-28 12:12] d-dawg78 commented on #46044
@danielplatt Edited, does the link work now?

[2021-04-28 12:13] abattery commented on #42673
Closing this issue since we have a solution with the TF v2 saved model converter API.

[2021-04-28 12:13] #42673 closed

[2021-04-28 12:16] Davidelvis commented on #48749
Ths is the whole code
import gym
import numpy as np
from keras.models import Sequential, Model
from keras.layers import Dense, Dropout, Input
from keras.layers.merge import Add, Multiply
from keras.optimizers import Adam
import keras.backend as K

import tensorflow as tf

import random
from collections import deque

# determines how to assign values to each state, i.e. takes the state
# and action

[2021-04-28 12:18] worldpeaceaspirer opened #48796 "Example of tf.scatter_nd contains Session, which is obselete"
## URL(s) with the issue:
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/scatter_nd

Please provide a link to the documentation entry, for example:
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/scatter_nd

## Description of issue (what needs changing):
The Code,

[code]
should be replaced with `print(scatter)`, as the **`Sessions`** are no longer required in **`Tensorflo

[2021-04-28 12:20] edloper commented on #31545
@DEKHTIARJonathan, @rmothukuru `ragged_tensor.shape` and `ragged_tensor.get_shape()` are equivalent, and both return the **static shape** of a RaggedTensor.  This shape will contain `None` for any dimensions that are ragged or that have unknown dimension size (because it may depend on the inputs to the graph).  This differs from the `tf.shape()` operation, which returns a `Tensor`, and will never

[2021-04-28 12:22] RocaVincent commented on #48662
Yes it is.

[2021-04-28 12:23] tilakrayal commented on #48631
@epsilon11101 ,

We see that you are using tf version 1.x, there is no support for 1.x, please update to 2.x and let us know if you are using same issue.Thanks

[2021-04-28 12:26] abattery commented on #42673
FYI, TextVectorization keras layer does work with TFLite converter if you can export it to the TF v1 saved model with the hash table initializer.

[code]

And then, it needs to re-enable the eager execution (simply, you can just have another Python script for conversion only) and converts the generated saved model with the TF v2 saved model converter:

[code]

[2021-04-28 12:37] YodaEmbedding opened #48797 "Importing torchvision before tensorflow causes protobuf error."
**System information**
<details>
<summary>System information</summary>

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux x86_64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): b

[2021-04-28 13:00] rmothukuru commented on #33023
@ustcwlin,
Can you please confirm if we can close this issue with respect to [this comment](https://github.com/tensorflow/tensorflow/pull/35670#issuecomment-597154748) from Mihai in #35670? Thanks!

[2021-04-28 13:05] UsharaniPagadala commented on #48585
@TomatoBoy90

Please confirm if the issue is still persist

[2021-04-28 13:06] NEGU93 commented on #41370
So, I am having this issue, was this solved?

[2021-04-28 13:09] UsharaniPagadala commented on #48678
@maximgeller

Please confirm if the issue still persist

[2021-04-28 13:16] maximgeller commented on #48678
@UsharaniPagadala This is still an issue for me when using r2.0 as that is the version my project is dependent on

[2021-04-28 13:17] UsharaniPagadala commented on #48644
@rschumi0

Please take a look at the above mentioned  comment and let us know if you are still facing the same issue. Otherwise move this to closed status Thanks!

[2021-04-28 13:24] UsharaniPagadala commented on #48549
@tetelestia
Please confirm if the issue still persist

[2021-04-28 13:32] francotheengineer commented on #33303
Thanks very much for the suggestion! Didn't manage to get this working because the outputs are still out-of-order. If i understand correctly you mean labeling the outputs as such:

`model = tf.keras.Model(inputs=in_tensor, outputs={'1': x1,'2':x2,'3': x3,'4': x4}, name= 'my_model'`

[2021-04-28 13:42] johanahlkvist commented on #33303
Yes, that's what I mean. Perhaps it is equivalent, but specifically, I did:

[code]

[2021-04-28 14:04] jeisinge commented on #43502
I apologize for the delay.  I can confirm that this is no longer an issue with TF 2.4!  Thank you!

[2021-04-28 14:04] #43502 closed

[2021-04-28 14:04] Davidelvis opened #48799 "AttributeError: module 'tensorflow.compat.v2.__internal__' has no attribute 'tf2"
Hey
Some help on this bug,
I am using tensorflow ==1.15

Traceback (most recent call last):
  File "a2c.py", line 7, in <module>
    import  keras.backend as K
  File "/home/david/miniconda3/envs/kedro-environment/lib/python3.7/site-packages/keras/__init__.py", line 20, in <module>
    from . import initializers
  File "/home/david/miniconda3/envs/kedro-environment/lib/python3.7/site-packages/kera

[2021-04-28 14:47] pedrogalher commented on #48785
@UsharaniPagadala

Hi, thanks for your answer. I run the code in TF 13.1 and Keras 2.2.4 and it apparently works now. Here is the [colab].(https://colab.research.google.com/drive/15j1qVC_33zQmtn12Cjbz30WY7m9P1n5g#scrollTo=qRlHE_bO77o9)

Can you test it in your machine with this setup and double-check that it actually works?

Thank you

[2021-04-28 14:53] #30366 closed

[2021-04-28 15:07] sureshbhusare commented on #36510
@Yannik1337  I was facing the same issue. But below worked for multiple gpus
`strategy = tf.distribute.MirroredStrategy(devices = gpu_devices_list, cross_device_ops=tf.distribute.HierarchicalCopyAllReduce())`.

[2021-04-28 15:18] rmothukuru commented on #48796
@worldpeaceaspirer,
Thank you for identifying it. This should be fixed with [this CL](https://critique-ng.corp.google.com/cl/370902959).

[2021-04-28 15:20] rmothukuru commented on #32410
@praveenjune17,
Sorry for the delayed response. I think it's a [good idea](https://github.com/tensorflow/tensorflow/issues/32410#issuecomment-530669422).

Created [a CL](https://critique-ng.corp.google.com/cl/370902959) to fix it.

[2021-04-28 15:29] tetelestia commented on #48549
There is a simple workaround to use Functional API, but my example still fails in `tf-nightly-2.6.0.dev20210428`

[2021-04-28 15:45] bhack commented on #48799
We don't support TensorFlow 1.x anymore. Please upgrade to a more recent TF version.

[2021-04-28 15:53] bhack commented on #48797
Can you try to reporduce this with:

[code]

[2021-04-28 16:03] saikumarchalla commented on #48676
@ggproRIC  Do  you have any update on this?

[2021-04-28 16:19] #48541 closed

[2021-04-28 16:24] othrif opened #48801 "Accessing numpy array from a Tensor object using dataset map"
I am trying to access the numpy array from a tensor object that is processed with  https://www.tensorflow.org/api_docs/python/tf/data/Dataset#map.

I get the error: `AttributeError: 'Tensor' object has no attribute 'numpy'`

When I try to access the tensor as: `np_array = tensor.numpy()`

While if I use: `dataset.take(n)`, i am able to access the numpy array.

For more clarity on the situation I a

[2021-04-28 16:28] srjoglekar246 commented on #48783
I am not sure what is going on here. The code samples you posted aren't very clear on why the classifiers would run serially if they are in different threads. This might be an Android thing, because of the memory required by the interpreters?

Adding @lintian06 who might have some insight.

[2021-04-28 16:29] advaitjain commented on #46721
Thanks for the great work on this. I'm going to close this issue. Feel free to reopen if needed.

[2021-04-28 16:29] #46721 closed

[2021-04-28 16:35] #48358 closed

[2021-04-28 16:39] Craigacp opened #48802 "C API TF_LoadSessionFromSavedModel leaks memory"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Using TF-Java bindings
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Oracle Linux 7
- TensorFlow installed from (source or binary): binary from TF-Java
- TensorFlow version (use command below): 2.4.1
- Bazel version (if compiling from source): 3.7.2
- GCC/Compiler v

[2021-04-28 17:19] mileslucas commented on #24364
Okay, if you want to close the issue that's fine but it's clearly not resolved. It's been 3 years since I opened this and I am no longer using TF or working on the same project (we settled on numpy/scipy for all the math) so I don't want to be the lynch pin for this feature.

[2021-04-28 17:35] amahendrakar commented on #34439
@dbonner,
Hope the above comments answered your query. Can we close this issue if you have no further queries? Thanks!

[2021-04-28 17:43] lu-wang-g commented on #48306
Through Task library, it's not supported yet. But you can leverage the TFLite Interpreter API. See the example [here](https://github.com/tensorflow/examples/blob/master/lite/examples/object_detection/android/lib_interpreter/src/main/java/org/tensorflow/lite/examples/detection/tflite/TFLiteObjectDetectionAPIModel.java). Follow the instruction [here](https://www.tensorflow.org/lite/performance/hexag

[2021-04-28 17:51] jianlijianli commented on #48774
Hi lucacampanella,

Thanks for the discussion and sharing more details about your use case.

Didn't realized you are using EXPERIMENTAL_TFLITE_BUILTINS_ACTIVATIONS_INT16_WEIGHTS_INT8. With this extra flag, combined with "representative_dataset", the system performs a full integer quantization that has int8 weight and int16 activation (different from the int8 activation when EXPERIMENTAL_TFLITE_BUI

[2021-04-28 18:05] amahendrakar commented on #38332
@artemry-nv,
Is this still an issue?

Please feel free to close the issue if resolved. Thanks!

[2021-04-28 18:08] Saduf2019 commented on #48747
@YanqingWu
with respect to the error reported, this has been already reported, please refer to [this comment](https://github.com/tensorflow/tensorflow/issues/27491#issuecomment-770848466) and let us know if it helps you resolve the error reported. [you may also refer to similar issue :#37052, [link](https://analyticsindiamag.com/beginners-guide-to-tensorflow-eager-execution-machine-learning-develo

[2021-04-28 18:09] llodds commented on #48743
I see your original intention now, to cover something more generic. But please add this **caution** to warn people like me who is a TF newbie and did not realize loss functions already reduce last axis even when Reduction is NONE (the naming "NONE" is really confusing...) Thanks!

I will make sure next time when I submit a ticket I will submit a notebook rather than zip it...

[2021-04-28 18:11] Saduf2019 commented on #48710
@danielreyes9756
As this is tfjs issue, could you please open this in the tfjs repo and move this to closed status.

[2021-04-28 18:24] amahendrakar commented on #34393
@infil00p,
Could you please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same issue? Thanks!

[2021-04-28 18:26] amahendrakar commented on #33857
@lelopez-io,
Could you please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same error. Thanks!

[2021-04-28 18:31] amahendrakar commented on #34136
@arielbenitah,
Is this still an issue?

Could you please update TensorFlow to the latest stable version v.2.4.1 and check if you are facing the same error. Thanks!

[2021-04-28 18:42] maciejkula commented on #48759
:+1:

In the `tf.data` world the usual way to get an infinite dataset is to use `dataset.repeat()`. It is therefore surprising that this repeats infinitely by default. I suspect this is because this API predates the modern `tf.data` functions?

[2021-04-28 18:45] isaacgerg commented on #48708
@tilakrayal  See the stack overflow link in the original post.

[2021-04-28 18:46] dgoldenberg-audiomack commented on #48759
Good point, I guess we'll find out once we hear from some folks @ tf core.

[2021-04-28 18:47] peachthiefmedia commented on #37862
You can call `optimizer._decayed_lr(tf.float32)` which should return the current learning rate

[2021-04-28 19:11] o0stsou0o opened #48808 "Tensorflow 2.3 or up Installation on Mac OS Big Sur 11.3"
Hi,

I am trying to install tensorflow 2.3 or up on Mac OS Big Sur 11.3.  I'm trying to do it in a conda environment with python 3.7.  This is a cpu install.

When I try pip install tensorflow, and go into a python terminal and import, it says that the module does not exist.
When I conda install tensorflow in the conda environment and go into a python terminal and import, I can only get tensorflow

[2021-04-28 19:23] Lucy20211 commented on #48567
I had tried with what you suggested; unfortunately it does not work.

[2021-04-28 19:29] bhack commented on #48549
[code]
It was introduce by @omalleyt12 I don't know if he could comment on this.

[2021-04-28 20:13] rschumi0 commented on #48644
@szutenberg Thank you for your answer.

I am not that familiar with the different kernels which made the error message confusing to me. How can I change to XLA_CPU_JIT?

So the reason for the different error message is that there is a kernel that supports double for AvgPool3D, but none for MaxPool3D. Is there a particular reason why there is none for MaxPool3D?

[2021-04-28 20:18] alimoche commented on #46653
This is to confirm that the following recipe solved this problem in my case with tensorflow 2.3.2 + cuda 10.1 + cudnn 7.6.5 + bazel 3.10:

1) disable XLA (not supported with compute capability 3.0) by removing the line `build:xla` in `.tf_configure.bazelrc` and adding:

[code]

2) for tensorflow > 2.2 the code changed and it is necessary to define `TF_EXTRA_CUDA_CAPABILITIES` in bazel command line

[2021-04-28 20:28] jvishnuvardhan commented on #48639
@Zhuxinpei Can you please check whether [this resource](https://www.tensorflow.org/guide/migrate#a_graphpb_or_graphpbtxt) is helpful to you or not.

Some of the `TF1` functionality you can access through `tf.compat.v1.graph_util.convert_variables_to_constants`. Thanks!

[2021-04-28 20:35] #45187 closed

[2021-04-28 20:35] #35796 closed

[2021-04-28 20:35] #36270 closed

[2021-04-28 20:35] #36219 closed

[2021-04-28 21:27] bhack commented on #48766
Tensorflow layer are now at https://www.tensorflow.org/api_docs/python/tf/keras/layers/Layer

[2021-04-28 22:01] artemry-nv commented on #38332
What is the current NCCL version used for TF building?

[2021-04-28 22:06] raj-brown opened #48810 "xla Compiling and Bug issues"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution : UBUNTU 18.04
- TensorFlow installed from (source or binary): NVIDIA Container 21.03
- TensorFlow version (use command below): 1.15.5
- Python version:
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):

[2021-04-28 22:29] nagbattula8 commented on #48783
This code is making the threads in serial fashion. ( Here it is understandable because I am using only one thread ).

`
        private void startBackgroundThread() {
        backgroundThread = new HandlerThread(HANDLE_THREAD_NAME);
        backgroundThread.start();
        backgroundHandler = new Handler(backgroundThread.getLooper());

        for ( int i = 0; i < 200; i++) {

         TimeUnit.M

[2021-04-28 22:48] dumbinacan commented on #48397
Hey, I am interested in contributing to this project.  Could someone point me to where in the codebase I can find the the current topk function?  Am I correct in assuming that the gpu-topk function is only different from top_k in that its the hash map implementation vs radix Sort?

[2021-04-28 23:05] #48526 closed

[2021-04-28 23:20] srjoglekar246 commented on #48783
Where do you update the batch size? There is some element of your code that isn't thread safe, and it might be somewhere in `ImageClassifierInceptionV1Quant` (and the other classes like that).

[2021-04-28 23:36] nagbattula8 commented on #48783
This is the classifyFrame method I used in the ImageClassifier class.

[code]

I use this runInference method in ImageClassifierInceptionV1Quant class

[code]
Do you think this is the code in classifyFrame method of ImageClassifier class that is not thread safe?

[code]

[2021-04-29 01:05] hogbal commented on #48560
Thank! As a result of using the TensorFlow profiling tool, it was a problem of input time.
I put an image using a data generator, but it was solved when I changed it to TFRecord.

[2021-04-29 01:05] #48560 closed

[2021-04-29 01:42] Zhuxinpei commented on #48639
Thanks for your reply but the resource may not helpful. What I need is converting a saved_model from TF2 to a raw .pb file in TF1. The resource documents as

 Thus I thought there should be a way of using `tf.compat.v1.graph_util.convert_variables_to_constants` to convert a saved_model. Actually I tried many ideas in stackoverflow but no one works. Such as the [link](https://stackoverflow.com/ques

[2021-04-29 02:38] syw2014 opened #48813 "undefined reference to `tensorflow::Status::Status"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-04-29 03:14] saikumarchalla commented on #48773
Was able to reproduce the issue in Tf version 2.4 and Nightly. Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/a1c1cb7bda2d7ef7beac7525df1cf529/48773.ipynb).

[2021-04-29 03:31] moflo commented on #48808
Saw something similar. Are you on an M1 Mac?

[2021-04-29 03:37] gyin-ai commented on #46844
@teijeong tflite doesn't convert `log_softmax` correctly. It will output a constant value for any input.

[2021-04-29 03:44] abattery commented on #46844
@gyin-ai  Could you file a separate issue to keep each issue focused?

[2021-04-29 03:44] #46844 closed

[2021-04-29 04:09] rnett opened #48815 "Expose a few C API functions to allow custom gradients"
**System information**
- TensorFlow version: 2.4.1
- Are you willing to contribute it: Yes

I'm working on adding custom gradient support to TF-Java, using the legacy graph bindings until the new API is done (tensorflow/java#292).

This requires exposing a few internal functions of the C API:
* `TF_Operation* ToOperation(Node* node) ` to work with the c++ API for gradient defs (necessary since the

[2021-04-29 04:13] gyin-ai opened #48816 "log_softmax potential issue in tflite int8 quantization (how can we skip it?)"
Since tf.nn.log_softmax givens unexpected constant [-15.9375] for many dimensions. Can I ask how we can skip particular operations quantization?

[2021-04-29 04:17] abattery commented on #48816
@gyin-ai Please share simple stand alone code such that we can replicate the issue faced or if possible share a colab gist.

[2021-04-29 04:21] UsharaniPagadala commented on #48810
@raj-brown

In order to expedite the trouble-shooting process, please provide a code snippet/colab gist to reproduce the issue reported here. Thanks!

[2021-04-29 04:23] gyin-ai commented on #48816
https://colab.research.google.com/drive/17-UsPhrBmGkJGk3b4fYH1-voCrkYw4Vz?usp=sharing
@abattery

[2021-04-29 04:34] gyin-ai commented on #48320
Looking for the progress of this request as well +1

[2021-04-29 04:51] abattery commented on #48816
@jianlijianli could you triage this issue?

[2021-04-29 05:08] Bonsen opened #48817 "Distillation and multi-gpu training with tf.keras"
I use https://github.com/keras-team/keras-io/blob/master/examples/vision/knowledge_distillation.py and single gpu everything is right.

When I use https://keras.io/guides/distributed_training/#singlehost-multidevice-synchronous-training and knowledge_distillation, the val_loss will become very big and the acc is very low.

If I only use distributed_training to train, everything is right too.

When

[2021-04-29 05:20] Saduf2019 commented on #48680
@shbkukuk
I ran the code shared and face a different error please find the [gist here [syntax issues]](https://colab.research.google.com/gist/Saduf2019/070d315489e20c3fe7f5b6260db062a0/untitled597.ipynb)
Please share code or colab gist such that we could see the error reported.

[2021-04-29 06:17] calvuser opened #48818 "TFDS link broken for Cars196"
Trying to download Cars196 using tflite_model_maker

train_data, validation_data, test_data = ImageClassifierDataLoader.from_tfds('cars196')

DownloadError: Failed to get url https://imagenet.stanford.edu/internal/car196/cars_test.tgz. HTTP code: 404.

It was working previously, How to resolve?

[2021-04-29 06:30] ZoeZhang91 commented on #48794
@tilakrayal

I've tried to build  2.4.1, and 2.4.0, but still with the same compilation error " C++ compilation of rule '@nsync//:nsync_cpp' failed (Exit 2): python.exe failed: error executing command".

[2021-04-29 06:44] darkSKULL-labs commented on #48480
Butler, you are supposed to learn now and close the thread.

[2021-04-29 06:44] #48480 closed

[2021-04-29 06:54] asterisk37n commented on #47366
@jvishnuvardhan Thank you. I checked your gist and it works perfectly as expected! Thank you for contribution.

[2021-04-29 07:06] Jeet1994 commented on #48738
Hi @tilakrayal ,

Sorry for the delay.

Please find the collab link for the entire [code](https://colab.research.google.com/drive/1Nm24Qn6VN_TatOpAiElmxniZJe6eO0sY?usp=sharing)

Please help.

[2021-04-29 07:18] pcbit105 commented on #41731
I am also facing a similar issue.

Whenever I try to pass a neural network model into cross_val_score, I see "ValueError: The first argument to `Layer.call` must always be passed."

Would appreciate if someone can address this please, thank you!

[2021-04-29 07:24] AdityaKane2001 commented on #48818
@calvuser
This issue is better suited for [tensorflow/datasets](https://github.com/tensorflow/datasets). Thanks

[2021-04-29 07:31] UsharaniPagadala commented on #48818
@calvuser
Could you please check the [link1](https://www.tensorflow.org/datasets/catalog/cars196) [,link2](https://ai.stanford.edu/~jkrause/cars/car_dataset.html) , and let us know if it helps.Thanks

[2021-04-29 08:24] alexanderfrey commented on #48306
Thanks for your answer. So if I understand correctly you are using the hexagon 1.21 delegate example from tensorflow ? For me it keeps telling me about incompatibility issues with the version so I thought it might be because of the fact that snapdragon 888 is not yet supported ?!

[2021-04-29 08:27] anomp commented on #33163
The issue still exists at TensorFlow 2.4.1 (Ubuntu 20.04). I tried to use the Least Common Multiplier of batch size and `Keras.model.history.params.steps` as `save_freq` however the validation loss seems to be calculated after the callback. Thus, still no validation metric can be used.

[2021-04-29 08:30] resera opened #48820 "Convert Tensorflow trained model to older version compatible."
I want to make an object detection API. I decided to deploy it on AWS Lambda. For that purpose I used this git repository https://github.com/mikylucky/lambda-tensorflow-object-detection

As you can see it uses tensorflow 1.9 version. Unfortunately, I trained my model and exported inference graph with tensorflow 1.12 and when I try to run inference on AWS lambda with this script:

[code]

I get an

[2021-04-29 08:35] #48518 closed

[2021-04-29 08:41] zhangqiang-hf opened #48821 "C++ compilation of rule '@llvm-project//mlir:SPIRVDialect' failed (Exit 1): gcc failed: error executing command"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-04-29 09:00] etienne-v commented on #34834
Hi @zzj0402 ... were you able to solve this issue with regard to the inbound nodes?  I am trying to do the exact same thing and am running into similar problems.  How did you get around this when using custom models in TF2?

[2021-04-29 09:27] Davidelvis commented on #48799
I get the same error while using tensorflow ==2.4.1
 Error
 Traceback (most recent call last):
  File "a2c.py", line 7, in <module>
    import  keras.backend as K
  File "/home/david/miniconda3/envs/kedro-environment/lib/python3.7/site-packages/keras/__init__.py", line 20, in <
module>
    from . import initializers
  File "/home/david/miniconda3/envs/kedro-environment/lib/python3.7/site-packages/

[2021-04-29 09:43] Saduf2019 commented on #48799
@Davidelvis

Can you install with PIP as follows,
pip install tensorflow==2.4.1       [pip install tensorflow-estimator==2.4.*]
Let us know if issue still persists.
Could you also try installing TensorFlow in a new virtual environment and check if you are facing the same issue?
Thanks!

[2021-04-29 09:52] o0stsou0o commented on #48808
Thanks for the speedy reply.  No.  It's Intel Core i7.

[2021-04-29 10:22] Saduf2019 commented on #48708
@isaacgerg
You set a batch size and then enter input less than batch size it would be treated as empty, you cannot have that.
We cannot have issues to fix user code as this repo is for performance issues and feature request or bugs only.

[2021-04-29 10:32] Davidelvis commented on #48799
Thanks so much @Saduf2019 and @bhack

[2021-04-29 10:35] #48512 closed

[2021-04-29 10:41] Saduf2019 commented on #48808
@o0stsou0o
What is the numpy version on your system, there seems to be compatibility issues with your tensorflow and numpy.

Can you try: pip install   tensorflow 2.4.1 with numpy  1.19.x and let us know. [ypu may refer to [this comment](https://github.com/tensorflow/tensorflow/issues/47878#issuecomment-802602008), [link](https://stackoverflow.com/questions/57381430/synonym-of-type-is-deprecated-i

[2021-04-29 10:57] prerakmody commented on #9576
I get `tensorflow.python.framework.errors_impl.NotFoundError: No algorithm worked! [Op:Conv3D]`
- Issue seems to when we use dilation > 1 and padding=SAME.
- I've checked this on TFlow2.4 with CUDA11.0 and CuDNN=8.0

[code]

[2021-04-29 11:11] rmothukuru commented on #33534
@jbuckman,
Can you please let us know if [tf.slice](https://www.tensorflow.org/api_docs/python/tf/slice), [tf.gather](https://www.tensorflow.org/api_docs/python/tf/gather) and tf.[gather_nd](https://www.tensorflow.org/api_docs/python/tf/gather_nd) are the APIs that you are looking for? Thanks!

[2021-04-29 11:28] rmothukuru commented on #33840
@AravindGanesh,
Sorry for the delayed response. Can you please let us know if [this workaround](https://github.com/tensorflow/tensorflow/issues/33840#issuecomment-633715778) helped you so that we can work towards closure of this issue? Thanks!

[2021-04-29 11:45] KuenstlicheIntelligenz commented on #42616
@yuefengz
Tried it without strategy and could not reproduce the memory leak with the bumps, although there might be a really small negligible raise in memory consumption.

[2021-04-29 11:51] AR-fan opened #48823 "U2Net tf pb model works fine , but tflite model works wrong"
The project is from [pytorch model](https://github.com/xuebinqin/U-2-Net)
I use [colab](https://colab.research.google.com/drive/10bPSzQL8-im6RdP8fXm2_VCcbETGvcNM?usp=sharing)
I put two result pics together.

Only need to update my_tf_model.pb-20210429T083200Z-001.zip in colab.

[my_tf_model.pb-20210429T083200Z-001.zip](https://github.com/tensorflow/tensorflow/files/6397925/my_tf_model.pb-20210429T

[2021-04-29 11:59] ZoeZhang91 commented on #48794
@tilakrayal
And now，here‘s another error: depthtospace_op_gpu.cu.cudafe1.stub.c(2): fatal error C1090: PDB API  call failed，error code“23”:(0x00000006)

[2021-04-29 12:06] abattery commented on #48823
Please elaborate more on the expected results.

[2021-04-29 12:16] AR-fan commented on #48823
The expected result is like pb model's output.

And there is some [expected result](https://github.com/xuebinqin/U-2-Net).

I have updated colab, thanks.

[2021-04-29 12:39] jgonzalezab commented on #45068
This error seems to be related to some kind of OOM on the GPU. In my case, the error is raised when I'm trying to fit a model that exceeds the memory of my RTX 2080 Super (Driver Version: 450.119.03, CUDA 11.0, cuDNN 8.0.4). It would be nice to output a more concise error when some kind of OOM occurs.

[2021-04-29 12:40] #48677 closed

[2021-04-29 12:51] shbkukuk commented on #48680
@saikumarchalla  thank you for replies.I solved the problem.

[2021-04-29 12:52] #48680 closed

[2021-04-29 13:15] isaacgerg commented on #48708
@Saduf2019 Please read the original issue carefully and note my proposal.

[2021-04-29 13:30] UsharaniPagadala commented on #48820
@resera
Could you please have a look on [this,](https://www.tensorflow.org/guide/versions#backward_and_partial_forward_compatibility) and let us know if it helps

[2021-04-29 13:32] #33534 closed

[2021-04-29 13:32] patriklaurell commented on #48537
This issue was resolved by the merge of #48617

[2021-04-29 13:32] #48537 closed

[2021-04-29 13:54] lucacampanella commented on #48774
Hi jianlijianli,
Thanks a lot for the answer, makes it even clearer.

I tried different sizes for the representative dataset and none seems to be helping. The problem also presents itself in all the inputs, which maybe points to the fact that something is really off in the calibration.

Could the problem be that we consider the states as input? In order to keep the RNN "stateless" , we keep track

[2021-04-29 14:12] saikumarchalla commented on #48777
@epiedadjr  Could you please check whether are you facing the same issue outside the conda environment and let us know. Thanks!

[2021-04-29 14:19] saikumarchalla commented on #48781
@joannayoo0117  With out the Minimal code snippet, it will be difficult for us to debug the issue at our end. Please provide the simple standalone code/ colab link to reproduce the issue at our end.Thanks

[2021-04-29 14:22] manp-git commented on #32180
Another this I realised is the weights and biases are getting modified in this procedure and graph structure is also changing when visualised through netron and the same changed structure is reflecting when checked via scripting to  cross validate the netron output. Conv2_block1_2 for example had no BN layer before Relu. But If want to pull out the Relu output then it adds BN layers at every node

[2021-04-29 14:30] manp-git opened #48824 "When pulling out layers from the model for extracting intermediate computation data, weights and activation output etc. the weights and biases are changing in different cases."
I realised is the weights and biases are getting modified in this procedure and graph structure is also changing when visualised through netron and the same changed structure is reflecting when checked via scripting to cross validate the netron output. Conv2_block1_2 for example had no BN layer before Relu. But If want to pull out the Relu output then it adds BN layers at every node which is being

[2021-04-29 14:32] rmothukuru commented on #35043
@x10000year,
Sorry for the delayed response. Can you please let us know if the [above comment](https://github.com/tensorflow/tensorflow/issues/35043#issuecomment-704214576) has resolved the problem so that we can work towards the closure of this issue? Thanks!

[2021-04-29 14:35] #48492 closed

[2021-04-29 14:39] rmothukuru commented on #35617
@cossio,
[tfp.math.erfcx ](https://www.tensorflow.org/probability/api_docs/python/tfp/math/erfcx) is available now. The [documentation](https://www.tensorflow.org/probability/api_docs/python/tfp/math/erfcx) states:

Thank you @mayou36 for pointing it out.

[2021-04-29 14:46] mdanatg commented on #35043
This issue is being worked on internally, but for now remains unresolved.

For the time being, the best workaround in TF 2 is to avoid the use of `tf.Variable`. That might prove challenging with tf.Module, but applying the tf.function at as high a level as possible might help. For example:

[code]

Even better, if at all practical for you, pure functional programming patterns are much better suppo

[2021-04-29 15:00] saikumarchalla commented on #48797
@YodaEmbedding  I tried to import  in both ways using TF version 2.4.1 on colab and didn't face any protobuf errors. Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/b1942aff2b53f239d4124def9e45d45e/48797.ipynb). Thanks!

[2021-04-29 15:04] notprime opened #48825 "Warning message when using custom loss function"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platform and Distribution: UBUNTU 18.04
- TensorFlow installed from: CONDA
- TensorFlow version: 2.4.1
- Python version: 3.8
- CUDA/cuDNN version: 11.2
- GPU model and memory: 4 x TITAN Xp 12GB

----------------------

Greetings from Italy!
I coded a simple autoencoder

[2021-04-29 15:06] #48777 closed

[2021-04-29 15:32] jvishnuvardhan commented on #47366
Thanks for confirming. Closing the issue as this was resolved.

[2021-04-29 15:32] #47366 closed

[2021-04-29 15:35] #48534 closed

[2021-04-29 15:38] mayou36 commented on #35617
Just to add, there is the difference that this does not (yet) work for complex arguments (but this is WIP: https://github.com/tensorflow/probability/issues/1265)

[2021-04-29 15:40] amahendrakar commented on #39584
@Rajalod75, @tabatabaeis
Could y'all please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2021-04-29 15:46] UsharaniPagadala commented on #48824
@manp-git

 Could you please fill the template
In order to expedite the trouble-shooting process, please provide a code snippet/colab gist to reproduce the issue reported here. Thanks!

[2021-04-29 15:47] saikumarchalla commented on #48777
@epiedadjr  Good to hear that the issue is resolved and that's the reason I asked you to check outside conda environment.Thanks!

[2021-04-29 15:58] UsharaniPagadala commented on #39370
@zabir-nabil
Could you confirm if the issue still persist.Thanks