[2017-10-05 16:07] eaplatanios commented on #13498
Thanks! :) I'm recompiling now and I'll let you know what happens. Could you add the same option for `RemoveEdge` so that `ClearControlInputs` works as expected? I can also make a pull request if that helps.

More generally, is there any reason why you would not want to update the `NodeDef`? As far as I can see, not updating it creates an inconsistent state that can only be confusing. Although, I

[2017-10-05 16:13] georgesterpu commented on #12414
I have just cloned the master repo and compiled from sources. This time with cuDNN 7 :)
Warning still there

[2017-10-05 16:15] skye commented on #13498
Feel free to make a PR, although this patch might change and force you to change things (e.g. new interface or something). If you don't get around to it I can do it once this is committed.

As you can see in the patch, the default is to update the NodeDef :) I think most things don't look at the NodeDef at all so it doesn't make a difference (they access the Node's Edges instead), even though upda

[2017-10-05 16:31] eaplatanios commented on #13498
Ok, in that case I'll wait a bit and only make a PR if this seems to take long.

That comment about graph construction makes sense and I hadn't noticed it. Thanks! :)

[2017-10-05 17:10] eaplatanios commented on #13498
I ended up submitting #13505 :P.

[2017-10-05 17:10] eaplatanios commented on #13498
The fix works by the way and I can now run my tests. I will update you once I push my implementation.

[2017-10-05 17:20] ybsave commented on #13434
@asimshankar Thank you very much. These materials seem really helpful.

[2017-10-05 17:33] ebrevdo commented on #7490
We have a tool to help rewrite old checkpoints [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/rnn/python/tools/checkpoint_convert.py).  The top of the script has instructions on how to convert your old RNN checkpoints to a format that will work with TF 1.3+.

[2017-10-05 17:49] martinwicke commented on #7490
Let me know if this does not work. I'll close the issue for now.

[2017-10-05 17:49] #7490 closed

[2017-10-05 18:06] kcolford opened #13506 "tf.image.pad_to_bounding_box crashes when passed bounds with dtype int64"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:from pip in virtualenv
- **TensorFlow version (use command below)**:v1.3.0-rc2-20-g0787eee 1.3.0
- **Python version**: '3.5.2 (default, No

[2017-10-05 18:08] Rikorose opened #13507 "AttributeError in distributed training"
Im am running tensorflow gpu '0.12.1' installed in a virtualenv on Debian 9.1 with cuda 8 and cudnn 5.1.

I tried to run the tutorial from https://www.tensorflow.org/versions/r1.2/deploy/distributed

I started 2 servers and 2 workers like in the tutorial. The servers started as expected.

I run this command to start a worker:
[code]
The works exited with the error message:
[code]

[2017-10-05 18:12] Bardeux opened #13508 "Iterator.get_next() returning a tensor of shape ()"
### System information
- **Have I written custom code**: Yes
- **OS Platform and Distribution**: Windows 10 (also tested on Ubuntu 16.04)
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: b'unknown' 1.3.0
- **Python version**: 3.5.3
- **CUDA/cuDNN version**: 8.0/6.0

### Describe the problem
Hello,
I am currently trying to use the Dataset API

[2017-10-05 19:20] HggsHntr commented on #5688
Hi @yzhwang ,
Thank you for your work.

I tested the tesnsor-flow 1.4 windows-gpu night build on two different machines:
windows server 2016 + Titan X + cuda 8 + cudnn 6
windows 10 + GTX 1050 + cuda 8 + cudnn 6
On both the script _conv_ops_3d_test.py_ ran without any problem.
On both the modified reproducer code failed: titan X with  CUDA_ERROR_LAUNCH_FAILED and GTX 1050 with CUDA_ERROR_LAUNCH_TIM

[2017-10-05 19:30] drpngx commented on #13164
Thanks!

[2017-10-05 20:02] andrewharp commented on #13426
@daj: Can you try adding --config=monolithic to your build command and see if that fixes the issue? It may be a docker issue, and we fixed something similar with the nightly build in f97195c6f936ee3edd9ad2620c091b742bb45476 by adding this flag.

[2017-10-05 20:09] andrewharp commented on #13162
@AleksandrKrasnoperov I don't have anything more to add on my comment in #11474, which was:

It seems the directory parsing is somehow getting confused and splitting -MNC out of one of the sdk/.../android-MNC/ dirs rather than the appropriate API level. Do you have the indicated APIs from your WORKSPACE file installed? You can check via sdk/tools/android.

Otherwise this might be an issue better a

[2017-10-05 20:22] mrry commented on #13508
I think there’s a bug in your code. The following lines:

[code]

...should be changed to:

[code]

The high-level point is that calling methods on a `Dataset` does not modify an existing object; instead it returns a new `Dataset`, so you must assign the returned value to a Python variable (or chain it with other methods that are eventually assigned to a Python variable).

[2017-10-05 20:22] #13508 closed

[2017-10-05 20:33] dantkz commented on #13164
@drpngx thank you! Still waiting for a code review, though.

[2017-10-05 21:35] vervacity opened #13511 "TensorForest: feature request - multi output label support"
Looking at the code for TensorForest, it appears that it only allows: multiclass (including binary) classification or regression (scalar and vector). However, **there does not seem to be an obvious way to do a multi output classification setup** (in which there are multiple binary tasks that should all be predicted by a single model). Could this feature be implemented, or would you be able to guid

[2017-10-05 21:46] yaroslavvb commented on #13507
I think this is a better question for stackoverflow (you are not meant to copy paste the "..." from the code, those are for you to fill in)

[2017-10-05 21:54] yaroslavvb commented on #13506
this is bad, it shouldn't crash Python even if type is wrong

[2017-10-05 22:18] rmlarsen commented on #6503
FYI: I have an initial version of this out for review internally.

[2017-10-05 22:25] mrry commented on #13101
@Utumno Would `Dataset.flat_map()` work for this? For example, if you have a dataset of variable-length tensors called `var_len_dataset`, you can get all the slices as follows:

[code]

[2017-10-05 22:46] reedwm commented on #13221
/CC @zffchen78 you removed caching of stateless ops in 3d91f5585a46a8ac4de16b9f90fc0b1f703812e5. Would it be possible to add caching for const op? The other solution is to avoid constants in graphs.

@alextp, what performance benchmarks are you referring to? I think we should make it always use fill.

[2017-10-05 22:56] alextp commented on #13221
@reedwm: @tfboyd has benchmarks we should not regress on.

Caching const op will not help here since caching the constants in the GPU is itself the problem.

@reedwm , are you willing to work with @tfboyd to make sure always using fill will not be a regression?

[2017-10-05 23:07] znmeb commented on #22
@lukeiwanski The build and test seem to be working on my Bonaire. I am using Python 3.6, though, and the instructions use Python 2.7. Do I need to use 2.7 or will 3.6 work?

[2017-10-05 23:10] reedwm commented on #13221
Caching the const op here would fix the issue, since it would only be cached once, instead of once per set of fetches.

I think @tfboyd's benchmarks are [tf_cnn_benchmarks](https://github.com/tensorflow/benchmarks/tree/master/scripts/tf_cnn_benchmarks), which does not use tf.zeros (if it did use a GPU const ops, we would have the same issue and use way too much memory). If we cannot cache the cons

[2017-10-05 23:14] alextp commented on #13221
tf.zeros are often created by gradients_impl internally. I find it unlikely
that this benchmark doesn't use it.

On Thu, Oct 5, 2017 at 4:12 PM, Reed <notifications@github.com> wrote:

--
 - Alex

[2017-10-05 23:17] daj commented on #13426
I tried all the steps from beginning to end with a fresh 1.3.0-devel container, and did a `git pull` for the `r1.3` branch.  I reproduced the problem again, then added the `--config=monolithic` flag, and hit the same problem.
[code]

In case it helps, here's the content of the `ops_to_register.h` file:
[code]

[2017-10-05 23:20] pvaneck commented on #7791
This issue was resolved here: https://github.com/tensorflow/tensorflow/commit/4cf4f524cb93ad0c1d6c35e9ccec62cf9015b217 So this can be closed.

[2017-10-05 23:28] martinwicke commented on #7791
Thanks!

[2017-10-05 23:28] #7791 closed

[2017-10-05 23:38] andrewharp commented on #13426
Have you edited your tensorflow/WORKSPACE file for android to make sure that the paths are correct for your NDK/SDK installs?

The direct reason for failure is that it's running /bin/false. This typically happens when bazel can't find a necessary binary, such as one of the Android build tools. This unfortunately leads to some pretty unintuitive error messages.

[2017-10-05 23:39] taion commented on #7791
Sweet!

[2017-10-06 00:03] reedwm commented on #13221
You're right, I printed all the Const ops and there were 712 Const ops, some which were created under gradient code. The ops total 431797 bytes on resnet50, so the memory leak issue will likely have a negligible impact, but we can measure its performance when switching to using fill.

[2017-10-06 01:57] facaiy commented on #13429
https://github.com/tensorflow/tensorflow/blob/b58c89129894618ab28a023fb2b2e610bbbdcf81/tensorflow/python/layers/base.py#L527-L530

[code]

As we known, `get_variable(xxx)` only uses `variable_scope` as prefix.
I believe that the bug is from the inconsistency between `variable_scope` and `name_scope`, which really surprises me.
I guess it critical to find why `name_scope` jumps over `dense_1`.

[2017-10-06 02:12] raraujosc commented on #12761
The tensorflow/serving project still says we need to run ./configure to be able to build tensorflow: https://github.com/tensorflow/serving/blob/master/tensorflow_serving/g3doc/setup.md

Is there any example of anyone using tensorflow with bazel without running ./configure? We just tried and it fails because it can't find these files: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/

[2017-10-06 02:39] fumihwh opened #13516 "When using placeholder in MonitoredTrainingSession, summary called at first and not feed placeholder error"
### System information

== cat /etc/issue ===============================================
VERSION="16.04.3 LTS (Xenial Xerus)"
VERSION_ID="16.04"
VERSION_CODENAME=xenial

== are we in docker =============================================
No

== compiler =====================================================
c++ (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609
Copyright (C) 2015 Free Software Foundatio

[2017-10-06 02:39] #11214 closed

[2017-10-06 02:39] #11325 closed

[2017-10-06 02:40] tensorflowbutler commented on #11142
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-10-06 02:40] tensorflowbutler commented on #11151
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-10-06 02:40] tensorflowbutler commented on #11214
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-10-06 02:40] tensorflowbutler commented on #11325
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-10-06 02:40] yaroslavvb commented on #13462
This is too vague for a feature request. It's already possible in tensorflow, StackOverflow is a better place to ask. If you send me a link to your SO question I'll post one possible solution

[2017-10-06 02:45] yaroslavvb commented on #13501
workaround
[code]

[2017-10-06 02:54] dongyingchn commented on #12468
I met the same problem too, sometimes it has this error

ERROR: /home/work/tensorflow/tensorflow/core/BUILD:992:1: C++ compilation of rule '//tensorflow/core:android_tensorflow_lib_lite' failed (Exit 1).
In file included from ./tensorflow/core/platform/cupti_wrapper.h:24:0,
                 from tensorflow/core/platform/default/gpu_tracer.cc:27:
./tensorflow/core/platform/default/gpu/cupti_wrapper

[2017-10-06 02:57] facaiy commented on #13429
Hi, @kzm4269 , just in case, could you test it on [nightly pip packages](https://github.com/tensorflow/tensorflow#installation)?

[2017-10-06 04:09] tmulc18 commented on #13501
@yaroslavvb thanks for the workaround!

For anyone else who doesn't see how switching the collection would work, here is an example

[code]

[2017-10-06 04:24] #13507 closed

[2017-10-06 05:23] yongtang commented on #13506
The crash is caused by the fact that int64 was never registered in the kernel of `tf.image.pad_to_bounding_box`. Instead, the `int64` of the `Tpadding` is directly used as `int32` without appropriate processing.

A PR #13517 has been created to address the crash.

[2017-10-06 05:25] CrashRain commented on #64
@ateixeiramunoz 's answer works perfectly

[2017-10-06 05:55] facaiy commented on #13429
I create a hotfix #13518 for the issue. Results look good after patched. However, the patch might introduce some side effects, I'll finish the PR after holiday.

case 1:
![case_1](https://user-images.githubusercontent.com/1112263/31264729-992841c6-aa9d-11e7-81cb-b89b754150cf.png)

case 2:
![case_2](https://user-images.githubusercontent.com/1112263/31264733-a0426c02-aa9d-11e7-8925-ac3084d228b0.png)

[2017-10-06 06:23] cornellgit commented on #8511
Still no good documentation ons serving and monitoring. I think this bug need to be reopened.

[2017-10-06 06:42] bodokaiser commented on #7769
When does tfgan appear in the docs? I only see `tf.contrib.gan` modules from 9/21.

[2017-10-06 07:24] facaiy commented on #13492
Thank you, @dhruvmalik007 . It seems intentional by using `diag` with GPU to create a failure.

[2017-10-06 07:40] dhruvmalik007 commented on #13492
Welcome ,  it is quite a long time i have got  positive response from issues .

[2017-10-06 07:56] dhruvmalik007 commented on #13492
@facaiy , What is the alternative then?

[2017-10-06 08:20] Bardeux commented on #13508
Wow, sorry to have bothered you with that... Got stuck on it for 3 hours, thanks for your help.

[2017-10-06 08:23] bobeo commented on #3549
hi @andrewharp

I tried to use print_selective_registration_header.py to write ops to ops_to_register.h. I follow instructions and run:

`bazel build tensorflow/python/tools:print_selective_registration_header && bazel-bin/tensorflow/python/tools/print_selective_registration_header --graphs=path/to/graph.pb > ops_to_register.h`

Then

[code]

Everything went well, so I use the libtensorflow_infere

[2017-10-06 09:41] kzm4269 commented on #13429
Thank you @facaiy!

[2017-10-06 09:48] smsorin opened #13519 "Documentation mentions FeatureValueToId, but it's not found anywhere on the site."
The latest documentation on tensorflow.org expains that for embedding_lookup* functions ids are obtained typically from FeatureValueTold. The last term is not found anywhere else on the site. Probably some remnant from ancient functions.

It should probably be replaced with index_table_from* or something similar.

[2017-10-06 09:52] linengmiao opened #13520 "issue installing Tensorflow on NVIDIA Jetson TX2"
Hello

I am following this tutorial from Jetsonhacks to install Tensorflow on my NVIDIA Jetson TX2 board: http://www.jetsonhacks.com/2017/04/02/tensorflow-on-nvidia-jetson-tx2-development-kit/

The situation:

I ran a couple of provided scripts and seems like I ran into a bug, based on the error message I got.

    - I haven't set up any swap memory
    - normally CUDNN and CUDA should be properly

[2017-10-06 10:19] kctezcan opened #13521 "complex gradient update in optimization"
Is there a plan to allow complex optimization in Tensorflow in the future?

When you try to do it with version 1.3, you can calculate and evaluate gradients, but you cannot apply them with opt.apply_gradients(grds_and_vars). The error message you get is:

InvalidArgumentError (see above for traceback): No OpKernel was registered to support Op 'ApplyAdadelta' with these attrs.  Registered devices:

[2017-10-06 11:09] ceteke commented on #2169
@ThomasWollmann Hey, If I'm not wrong, I see that your code only works for stride size of 1 right?

[2017-10-06 11:11] Utumno commented on #13101
I have the zip(d1, num_slices) dataset and I want to produce another dataset that slices each tensor in d1 into num_slices slices (segments of  equal length). I posted a [SO question](https://stackoverflow.com/q/46604371/281545) - I know the code there is not correct (I should be using the dummy dataset) but still I am not sure the approach is at all possible.

[2017-10-06 11:12] facaiy commented on #13492
If I understand correctly, what the issue indeed cares is how to recovery session from RuntimeError. Good question, but sadly, I have no idea. So let's be patient to wait for reply from tensorflowers.
By the way,  I would not be surprised that @yaroslavvb, if he would like, might solve it by himself before response :-)

[2017-10-06 12:23] denmoroz commented on #13473
I understand :) The problem is that tf.set_random_seed do not affect "randomness". In numpy we have another behavior.

    tf.set_random_seed(2017)
    z1 = sess.run(outputs, feed_dict={inputs: x})

    tf.set_random_seed(2017)
    z2 = sess.run(outputs, feed_dict={inputs: x})

So, it looks like a bug :)

[2017-10-06 12:27] nnkalita commented on #13079
@SilentTTxo  You can freeze  the model with  TensorFlow freeze_graph tool  using --input_saved_model_dir  and then load the freezed graph on TensorFlow android  interference code.

[2017-10-06 12:37] artuntun commented on #479
Hi, I am encountering the same error.
I have two Python installations, one of them works fine(2.7.6) with TF and the other(2.7.13) gets this error. I installed separaetly in each one.

@girving How can I check where ./configure is pointing?

[2017-10-06 12:41] ScottMudge commented on #10199
Here's the fix for anyone wondering:

https://github.com/ScottMudge/tensorflow/commit/8a6e5b2272b5ae7bbf2bfe5d717467b0e3737c7c

You have to define two variations of _mm256_extract_epi8 and _mm256_extract_epi16, both where offset is either 0 or 1 (only two used), and put them in PacketMathAVX2.h.

MSVC2015 does not offer _mm256_extract_epi8, -16, -32, or -64 in the immintrin.h header, nor in their

[2017-10-06 12:46] ScottMudge commented on #10984
Fix for Visual Studio 2015 support:

https://github.com/tensorflow/tensorflow/issues/10199#issuecomment-334743528

[2017-10-06 13:08] andrewharp commented on #3549
@bobeo: What does your ops_to_register.h look like?

[2017-10-06 13:23] VladimirRoaming opened #13522 "Cannot register 2 metrics with the same name error."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Swift API for TensorFlow
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
macOS 10.12.6 (16G29), Darwin MacBookPro.local 16.7.0 Darwin Kernel Version 16.7.0
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:

[2017-10-06 14:21] mrry commented on #10199
@ScottMudge Thanks for figuring that out! Would you be willing to submit your change as a pull request?

[2017-10-06 14:35] mrry commented on #13508
No worries! I'm just glad it wasn't seriously broken :).

[2017-10-06 14:41] bernhardlutz opened #13523 "Float variable in loop not incremented properly"
Hi,

I am running the following code in tensorflow:

import tensorflow as tf

count = tf.get_variable("count", shape=(), dtype=tf.float32, trainable=False)
tf.assign(count, 0)
i = tf.get_variable("i", shape=(), dtype=tf.int32, trainable=False)
tf.assign(i, 0)

cond = lambda i, count: tf.less(i, 5)
body = lambda i, count: (tf.add(i,1), tf.add(count, 1))
i, count = tf.while_loop(cond, body, [i, coun

[2017-10-06 14:44] manucarbonell opened #13524 "Why is gen_ctc_op not visible in the github repository?"
I want to take a look at the core of the ctc_loss implementation, and looking at ctc_ops.py shows it's imported from the gen_ctc_ops module but that module is impossible to find in the github repository. Where can I find it?
Thanks

[2017-10-06 14:46] mrry commented on #13101
I posted [an answer](https://stackoverflow.com/a/46608404/3574081): `Dataset.flat_map()` should work for your case.

[2017-10-06 15:00] tsoernes opened #13526 "Importing TF in Python yields 'cannot import name 'build_info'"
### System information
Fedora 26 x64 (4.13.4-200.fc26.x86_64)
Tensorflow installed from source:
[code]
Python version 3.6.2 (Anaconda)
Bazel installed from their Fedora/COPR repositories, version 0.6.0- (@non-git)
No CUDA (or compatible GPU)
Intel MKL 2018.0.128
c++ (GCC) 7.2.1 20170915 (Red Hat 7.2.1-2)
`bazel build -c opt --config=mkl //tensorflow/tools/pip_package:build_pip_package`
Notice the

[2017-10-06 15:13] girving commented on #479
@artuntun Look in `tensorflow/tools/python_bin_path.sh`.

[2017-10-06 15:29] tillahoffmann commented on #13101
@mrry, thanks for the feedback.

Yes, very good point.

Regarding the performance issues: https://gist.github.com/tillahoffmann/53f902212c1c511e6c3d45abb5f37b9b

[2017-10-06 15:38] mrry commented on #13526
Does this only affect `--config=mkl` builds?

[2017-10-06 15:39] yaroslavvb commented on #13473
cc @ebrevdo  -- how are you supposed to fix the seed of stochastic tensors?

Here's a self-contained example:

[code]

[2017-10-06 15:39] yaroslavvb commented on #13524
btw, this question was answered on stackoverflow

[2017-10-06 15:43] mrry commented on #13526
Actually, is `/home/torstein/progs/tensorflow` the directory in which you built TensorFlow?

[2017-10-06 15:43] alirzsedghi commented on #5343
sudo ldconfig /usr/local/cuda/lib64 works for me also, but i need to do it once in a while (no matter if i restart or not). weird !!

[2017-10-06 15:48] ScottMudge commented on #10199
@mrry Sure, pull request #13525 .

[2017-10-06 15:51] tsoernes commented on #13526
Yes, that is correct

2017-10-06 17:50 GMT+02:00 Derek Murray <notifications@github.com>:

[2017-10-06 15:51] manucarbonell commented on #13524
Could you share the link of the question please?

[2017-10-06 15:54] mrry commented on #13526
OK, I think it should work if you `cd` out of that directory. `build_info.py` is a generated file and from the stack trace it looks like Python is trying to `import tensorflow` from the source tree, which doesn't contain any generated files.

This has tripped us up before, and `build_info` recently became the first generated file that we attempt to import. I've sent PR #13528 to add a better error

[2017-10-06 15:59] yaroslavvb commented on #13524
https://stackoverflow.com/questions/41147734/looking-for-source-code-of-from-gen-nn-ops-in-tensorflow/

[2017-10-06 15:59] #13524 closed

[2017-10-06 16:03] mrry commented on #13523
I think I see the source of confusion: those `tf.assign()` calls don't actually perform the assignment, but rather create an operation that you have to run in order to perform the assignment. See [this Stack Overflow answer](https://stackoverflow.com/a/34220750/3574081).

(The "different strange results" are due to the fact that the default initializer for [`tf.get_variable()`](https://www.tensorf

[2017-10-06 16:03] #13523 closed

[2017-10-06 16:27] Prinsphield opened #13529 "skip some single example when reading tfrecords"
I have created several tfrecords files that containing images, labels, or other information.
When reading tfrecords, can I skip some samples according to the information after `tf.parse_single_example`. For example, I want to select those samples with certain labels or those sample with the image size larger than the threshold.

I don't know how to do it in the current version. I hope you will sup

[2017-10-06 16:34] ebrevdo commented on #13473
You'll get the same behavior even if you set a fixed seed:

a = tf.random_uniform([3], seed=5)

 for i in range(4):
    tf.set_random_seed(2017)
    print(s.run(a))
   ...:
[ 0.045017    0.30386245  0.43822038]
[ 0.04852033  0.07889724  0.8716917 ]
[ 0.98431134  0.39827144  0.79930592]
[ 0.92832315  0.6284616   0.49420452]

The behavior that you want would actually require recreating the graph:

f

[2017-10-06 16:48] yaroslavvb commented on #13473
Ah right, the seed complexity bites again.

@denmoroz There are essentially three things affecting randomness -- graph level seed, operation level seed, and operation current state. Setting seeds will guarantee the same pseudo-random sequence of numbers for an operation. If you want to generate a sequence of constants you need to recreate the operation.

This is simpler in numpy because np.random

[2017-10-06 16:54] mellvinbaker opened #13530 "Pandas_input_fn slow, starving CPU/GPU"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: It is a customized version of the Deep & Wide example code. Fairly close to original code.
- **OS Platform and Distribution: Windows Server 2012 R2
- **TensorFlow installed from: nightly build WHL through pip (this was tried after numerous other versions, including install t

[2017-10-06 16:59] martin-gorner opened #13532 "tf.contrib.data.Dataset generated by slicing and dicing very large images"
Hi
(writing here as requested by @mrry for further tf.contrib.data feature requests)

I would like to create a Dataset by cutting up and preprocessing very large images. I did this:

[code]

This goes out of memory because my function load_cut_up_and_process creates too many pieces from one image, all in memory. If I try to make a function that returns fewer pieces for an image and then want to ca

[2017-10-06 17:13] asimshankar commented on #13520
@andrewharp may have some ideas. That said, TensorFlow on platforms other than those covered by https://www.tensorflow.org/install/ are not supported by the TensorFlow maintainers (we unfortunately do not have the bandwidth to do so). You may want to contact the authors of the blog you pointed to.

[2017-10-06 17:23] dr4b commented on #8511
Have you seen https://www.tensorflow.org/serving/ ?

[2017-10-06 17:27] mrry commented on #13532
I don't think this is a bug or feature request... please post on Stack Overflow instead, providing more details of what's in the functions.

[2017-10-06 17:27] #13526 closed

[2017-10-06 17:41] mrry commented on #13529
(This is probably more suited as a Stack Overflow question...) If you write your input pipeline using `tf.contrib.data`, you can use the [`Dataset.filter()`](https://www.tensorflow.org/api_docs/python/tf/contrib/data/Dataset#filter) method to skip records based on a user-defined predicate.

[2017-10-06 17:41] #13529 closed

[2017-10-06 17:46] ybsave commented on #13434
I have tried to distributed the data batch on two GPUs and the message does show allocation on two GPUs, but the problem still exists.

My modified codes are:
	_DEVICE_LIST = ['/gpu:0', '/gpu:1']
	def imagenet_model_fn(features, labels, mode):
	  split_batch = tf.split(features, len(_DEVICE_LIST))
	  split_labels = tf.split(labels, len(_DEVICE_LIST))

	  all_predictions = {
		'classes': [],
		'pro

[2017-10-06 17:47] BastiaanBergman commented on #12859
I'm having issues with the one_shot_iterator from a Dataset when using in a monitoredTrainingSession on Google cloudML. Issue is that the dataset is iterated through multiple times when running on multiple workers. Also, tensorboard complains:

I'm guessing a similar registration method as provided by @gmichaeljaison might solve this issue for single_shot_iterator as well. However, Iterator has no

[2017-10-06 18:15] aCampello opened #13533 "KeyError: "Couldn't find enum google.protobuf.MethodOptions.IdempotencyLevel""
Hello! I am using macOS sierra 10.2.6, with tensorflow=1.3.0. TF was working fine until sometime ago, but as of today I get the error below when trying to import. Has anyone had the same problem?

Here are the logs.

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
<ipython-input-1-a649b509054f>

[2017-10-06 18:50] martin-gorner commented on #13532
Ok, the general question is: how do you generate a dataset from a list of very large images by cutting them up in pieces in a case when 1) you cannot load multiple very large images in memory at once and 2) the collection of pieces resulting from one image will not fit in memory either.

If the answer is "you cannot", then this is a feature request :-)

[2017-10-06 19:09] MogicianWu commented on #11081
Hi I'm confused about how to use this figure. I want to run distributed tensorflow on several machines for which I have ssh access to. What port number should I specify for my different workers? It seems everytime I called cluster.ClusterDef() it just gives me some port number on localhost, instead of the port number of other machines I want.

[2017-10-06 19:11] mznyc commented on #225
I have exactly the same problem with jupyter notebook for this example.

[2017-10-06 19:28] tsoernes commented on #13526
You were right. Starting Python from another directory does not result in the error.

Thank you

[2017-10-06 19:42] mrry commented on #13526
Thanks for confirming (and for raising the issue in the first place... now we have a much better error message in place)!

[2017-10-06 20:53] bdaskalov opened #13536 "BeamSearchDecoder incorrectly truncates results when used with dynamic_decode"
### System information (irrelevant for this bug)
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04/Any
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.3.0-rc2-20-g0787eee 1.3.0
- **Python version**: Python

[2017-10-06 20:55] bdaskalov commented on #13536
@ebrevdo Can you take a look? I see that you wrote the seq2seq library. I wanted to submit a fix but I don't see how to correct this problem without changing some of the library's public inteface.

[2017-10-06 21:13] Mazecreator opened #13537 "Feature Request: tf.assign() support tuples"
I have recently updated to V1.3 of Tensorflow.  I have some code that I use for dynamic_rnn which copies the STATE of the cell so it persists to the next .run(), I can also INIT that value as well.  Since the update, I am getting a "WARNING:tensorflow:<tensorflow.python.ops.rnn_cell_impl.LSTMCell object at 0x7f278c196940>: Using a concatenated state is slower and will soon be deprecated.  Use stat

[2017-10-06 21:22] ybsave commented on #13434
@asimshankar Would you please re-open this issue? As shown above, the two GPUs are actually both used, but it is weird that the batch size can still be the same as for single GPU.

I compared the above codes with two existing multi-GPU codes at:
https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10/cifar10_multi_gpu_train.py
https://github.com/tensorflow/models/blob/f87a58cd96d4

[2017-10-06 21:22] brayan07 commented on #394
For anyone who is still having trouble with this issue, I want to share the source of the problem for me.

I had previously tried an installation of CUDA using a .run file.  The installation had configured the nvidia-384 driver and this was precisely what I saw when I ran nvidia-smi.   I ran /usr/bin/nvidia-uninstall and the CUDA_ERROR_UNKNOWN went away.  Further, when I run nvidia-smi I see the e

[2017-10-06 21:23] olegklimov commented on #12071
+1

Already several times I've been hitting that.

[2017-10-06 21:47] ebrevdo commented on #13536
Seems ok to update the BeamSearchDecoder.finalize to use final_state.lengths instead of sequence_lengths -- looks like this fixes a couple of other open issues.

We could consider having finalize return new updated sequence lengths to decode_dynamic as well.

[2017-10-06 21:48] ebrevdo commented on #13536
Thanks for catching this!  Could you send a PR with the fix and a unit test that catches it?

[2017-10-06 22:07] previ commented on #5729
Installation went fine, but when:
[code]
I get:
[code]

[2017-10-06 22:09] ebrevdo commented on #5729
Can you try with python2?

On Fri, Oct 6, 2017 at 3:08 PM, Roberto <notifications@github.com> wrote:

[2017-10-06 22:10] previ commented on #5729
python2 works.

[2017-10-06 22:13] previ commented on #5729
To be more specific, during installation I got lots of warnings and messages like this:
[code]
or
[code]

[2017-10-06 22:25] ebrevdo commented on #5729
I think that we just don't compile the blackberry build for python3 right
now.  We'd need to have separate builds; and probably pete warden is
looking into that now.

On Fri, Oct 6, 2017 at 3:13 PM, Roberto <notifications@github.com> wrote:

[2017-10-06 22:34] 0x454447415244 commented on #7490
@ebrevdo @martinwicke I got the following errors after I converted the model using the tool you provided.

[code]

[2017-10-06 22:44] ebrevdo commented on #7490
Can you print the variable names created by your old model code, and the
ones expected from the new model code?  We may not have covered all cases
in the checkpoint rewriter.

On Fri, Oct 6, 2017 at 3:35 PM, Edgard Chammas <notifications@github.com>
wrote:

[2017-10-06 23:17] 0x454447415244 commented on #7490
Does this gives all the variables?

[code]

[2017-10-06 23:49] asimshankar commented on #13434
Could you be a bit more specific on what the problem is?
In particular, please fill out all the details asked for in the new issue template, which include lots of metadata about your setup and instructions to reproduce the problem (for example, a single command line that one could run to reproduce the problem).

From what is described, it is hard to determine what the problem may be. For example,

[2017-10-06 23:49] kjslag commented on #4663
Can we please reopen this issue? The top two answers in https://stackoverflow.com/a/34881060/6531137 implies that this behavior is not expected. The x+0 workaround is also very ugly.

[2017-10-07 00:12] aselle commented on #13091
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-10-07 00:12] #13091 closed

[2017-10-07 00:15] aselle commented on #13097
You might also try increasing your learning rate, which will raise the magnitude of your gradients update to the variables. This may cause NaNs, so there is a limit to how much you can do.

[2017-10-07 00:25] wangshang19911011 opened #13543 "how to condition encoder final hidden state on the inputs of RNN dynamic decoder with ScheduledOutputTrainingHelper?"
Hi, I'm trying to use tensorflow to code RDD encoder and decoder and with different length sequence inputs, so hope both encoder and decoder can be dynamic. Additionally, a decoder inputs is conditioned by the encoder final hidden states (context vector), which is similar to the [Related Paper](https://arxiv.org/pdf/1702.05538.pdf) see picture a in page 3. The decoder is trying to fully inference

[2017-10-07 00:27] yaroslavvb commented on #4663
This issue is very old, we now have resource variables which have different semantics (don't use tf.identity, but rather var.read_value())

[2017-10-07 00:34] kjslag commented on #4663
real_value doesn't seem to make OP's code work. Am I doing something wrong here? The +0 workaround does work however.

[code]

[2017-10-07 00:40] aselle commented on #13099
This is a stackoverflow question. When double posting please provide link to your stackoverflow entry  i.e. https://stackoverflow.com/questions/46264133/weights-and-biases-not-updating-in-tensorflow
(which I had to go searching for).

[2017-10-07 00:40] #13099 closed

[2017-10-07 00:50] #13114 closed

[2017-10-07 00:57] aselle commented on #13126
Backtracking, it is probably possible to make this work, but it will require changing how .dso's are found to be more robust. (I.e. right now we use resource_loader.get_path_to_datafile which uses some absolute path).

[2017-10-07 00:57] aselle commented on #13126
@allenlavoie, do you have any inkling to fix this problem?

[2017-10-07 01:00] aselle commented on #13360
I am marking as contributions welcome, but I imagine this is actually a very difficult feature to implement efficiently as a streaming (accelerated) median calculation requires some thought.

[2017-10-07 01:01] #9620 closed

[2017-10-07 01:01] #11183 closed

[2017-10-07 01:01] #11352 closed

[2017-10-07 01:01] tensorflowbutler commented on #9620
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-10-07 01:01] tensorflowbutler commented on #11183
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-10-07 01:01] tensorflowbutler commented on #11352
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-10-07 01:01] aselle commented on #13530
@mrry, could you make some suggestions?

[2017-10-07 01:07] aselle commented on #13437
You might try writing a custom gradient that does equivalent logic to compute the gradient without relying on automatic differentiation. I'd guess the discontinuities in representation are causing problems.

[2017-10-07 01:43] Prinsphield commented on #13529
I have tried using `tf.contrib.data`, if I skip some samples, then the `Dataset.filter()` returns None, which will raise the error.

Here is what I did:

[code]

Then it raise the error:

  File "new_data.py", line 160, in input
    dataset = dataset.filter(self.filter_fn)
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/contrib/data/python/ops/dataset_ops.py", line 1072, in filter
    re

[2017-10-07 01:55] mrry commented on #13529
`filter_fn` should return a `tf.bool` tensor, evaluating to true if you want to keep the record, and false if you want to skip it.

[2017-10-07 02:20] Prinsphield commented on #13529
Thank you very much!

[2017-10-07 02:21] yaroslavvb commented on #4663
[code]

This prints
[code]

The point is to always refer to "x.read_value()" instead of "x"

[2017-10-07 03:28] netheril96 opened #13546 "Feature request: RMSProp without momentum variables"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS High Sierra
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: v1.3.0-24-g658866597 1.3.0
- **Python version**: 3.6.3
- **Bazel version (if compilin

[2017-10-07 03:44] daj commented on #13426
Thanks, that was the problem!  I keep forgetting that the `gcr.io/tensorflow/tensorflow` Docker images don't have all the necessary configuration already in place for Android builds.

I have now successfully reduced libtensorflow_inference.so from 9.7MB to 2.5MB for the arm64-v8a architecture, [documented in my code branch here](https://github.com/daj/AndroidTensorFlowMNISTExample/commit/6e1b15ff6

[2017-10-07 05:07] facaiy commented on #13546
If I understand you correctly, do you mean that intermediate variable `mom` is wasteful when `momentum = 0`?

https://github.com/tensorflow/tensorflow/blob/624bcfe409601910951789325f0b97f520c0b1ee/tensorflow/python/training/rmsprop.py#L32-L36

Sounds reasonable, at least for me. I prefer to the first solution, which seems harmless and feasible:
+ stop allocating resources if `momentum = 0`:
   htt

[2017-10-07 05:25] bobeo commented on #3549
hi @andrewharp

I attached the ops_to_register.h. I can see it has 'Round" ops ( || isequal(op, "Round") ) . The final libtensorflow_inference.so is 4MB.

The model I use is faster_rcnn_resnet101_coco from
 http://download.tensorflow.org/models/object_detection/faster_rcnn_resnet101_coco_11_06_2017.tar.gz

Thanks.

[ops_to_register.h.zip](https://github.com/tensorflow/tensorflow/files/1364323/ops_

[2017-10-07 06:11] devilsnare007 commented on #12052
Any chance any of you smart people might be making a tutorial for tf 1.3 or 1.4 with CUDA v9.0, cudnn 7.0 for Win 10 x64? I've tried installing (Anaconda) but keep getting '_pywrap_tensorflow_internal' error and I have already checked msvcp140.dll is added to my path..

[2017-10-07 07:25] apacha commented on #12052
@devilsnare007: I guess the best chances are by following https://github.com/philferriere/dlwin. Simply replace the listed versions with the current versions. Note, that TF 1.4 has not even been released. But TF 1.3 should work fine with the instructions provided. Once everything has been upgraded and TF 1.4 has been released, we will update that tutorial.

[2017-10-07 08:27] bodokaiser commented on #5676
@martinwicke Are there any updates on this? The problem still occurs on windows.

[2017-10-07 09:37] Remi-Coulom opened #13549 "const_op.h missing from C++ API documentation"
I could not find the documentation for tensorflow::ops::Const starting from the C++ API documentation. I figured out it is declared in ops/const_op.h, but there is no link from the main C++ docs:
https://www.tensorflow.org/api_docs/cc/

A search returns this, but it looks orphaned:
https://www.tensorflow.org/api_docs/cc/group/const-op

So I guess there is something wrong in the docs.

[2017-10-07 12:23] jelmd opened #13550 "https://www.tensorflow.org/ extremly sucks: cockie madness"
https://www.tensorflow.org/* totally sucks because of its cookie popup dialog, which jumps into one's face __each__ time one goes to a different page on this site, NO matter whether one _has already clicked clicked_ OK or something else. No way to do any research on such annoying site ...

[2017-10-07 13:52] FengZiYjun commented on #7321
Hi, I encountered the same problem when working on Ubuntu 16.04 virtual machine with 1GB memory. I trained a neural network with weights of 84MB in total. Is it possible that the model ended up so huge to take up all memory?

[2017-10-07 15:29] FesianXu opened #13552 "how to restore the certain variable_scope Variables into another certain variable_scope?"
Now I have trained a model A and I need two model A instances because one of them just is fixed and untrainable for outputting and another is trainable for next network. I design two variable_scope **A_train** and **A_untrain**, I pre-trained A model in variable_scope **A_untrain** and restore the model also in this scope, code like:
[code]
Now I need to restore the same model A parameters into th

[2017-10-07 15:56] npv0 commented on #9071
Adding following line in bashrc worked for me
export LD_LIBRARY_PATH=$CUDA_HOME/lib64:/usr/lib/nvidia-375:$LD_LIBRARY_PATH
Details :
ubuntu 16.04.3 LTS , GPU : NVIDIA GTX 1050Ti
downloaded .deb file & followed dpkg method for cuda toolkit 8.0 installation
Cuda compilation tools, release 8.0, V8.0.61
tensorflow-gpu 1.3.0 (via pip)

[2017-10-07 16:47] donigian commented on #9702
I ran into this issue as well, please review my [PR](https://github.com/tensorflow/tensorflow/pull/13554) for fix.

[2017-10-07 17:11] yaroslavvb commented on #13552
this is better for stackoverflow (this list is for bugs/issues in TensorFlow itself)

[2017-10-07 18:06] asimshankar commented on #13550
www.tensorflow.org should not be causing any popups. Perhaps there are some settings/plugins in your browser/environment that are making this happen.

[2017-10-07 18:08] asimshankar commented on #13549
@skye - Is `const_op.h` somehow excluded when generating the API docs?

[2017-10-07 18:10] asimshankar commented on #13552
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-07 18:10] #13552 closed

[2017-10-07 18:45] glaucimarfaleiro opened #13556 "Problem importing Tensorflow in Windows 10 64bits"
Hello everybody. I'm new in Tensorflow. So, forgive me for any mistakes that a make.

I'm importing Tensorfow-gpu in Windows but I'm getting the message bellow.

**### System information**
- **OS Platform and Distribution:** Windows 10 64 bits
- **TensorFlow installed from:** pip
- **TensorFlow version:** 1.3
- **Python version:** 3.6.2 - v3.6.2:5fd33b5, Jul  8 2017, 04:57:36
- **CUDA:** 9.0.176
-

[2017-10-07 18:56] mrry commented on #13556
The current release build requires CUDA 8. Can you either downgrade your CUDA version or try building from source with CUDA 9?

[2017-10-07 19:14] yongtang commented on #13532
@martin-gorner Not quite sure what you want to achieve but are you looking for a "partial read" of a file, so that only a chunk of the data records (off, len) is read into the memory?

In that case, I think it will very much depends on the underlying file format of the `img_filelist` and the implementation of the `load_cut_up_and_process_gently`.

It should always be possible with your own impleme

[2017-10-07 19:31] asimshankar commented on #13516
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

That said, `MonitoredTrainingSession` runs the summary operations and since your summary operation is connected to the placeholder, it is complaining about the missing feed.

If you d

[2017-10-07 19:31] #13516 closed

[2017-10-07 19:34] asimshankar commented on #13354
There are currently no plans for enabling dynamic unloading/loading of devices in a session.

[2017-10-07 19:34] #13354 closed

[2017-10-07 19:34] asimshankar commented on #13346
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-10-07 19:34] #13346 closed

[2017-10-07 20:15] yongtang commented on #13295
I remember several years ago we were facing similar situation. Need to keep symbol table but have to release a smaller binary.

At the end we use `-g` during the build for symbols. Then we use `strip` command on Linux and MacOSX to get the stripped version without symbols. We keep both copy on record but only release the stripped (smaller) version. The symbol version was used for debugging with gd

[2017-10-07 20:37] yaroslavvb commented on #13295
I had the same thing at Google, symbols are distributed as separate files. Not sure if it's part of bazel's capabilities, perhaps @damienmg would know?

[2017-10-07 20:42] damienmg commented on #13295
I don't think it is but @mhlopko might prove me wrong.

[2017-10-07 21:43] ebrevdo commented on #7490
You should be able to use this checkpoint inspector
<https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/inspect_checkpoint.py>
.

On Fri, Oct 6, 2017 at 4:18 PM, Edgard Chammas <notifications@github.com>
wrote:

[2017-10-07 23:40] yaroslavvb opened #13558 "segfaults in GPU tf.matrix_inverse"
I'm running into segfaults in tf.matrix_inverse
I'm adding identity*0.001 so matrices should be invertible, and same procedure works fine in numpy and in TensorFlow CPU version.

https://github.com/yaroslavvb/stuff/blob/master/inverse_segfault.py
`python inverse_segfault.py`

This non-deterministically crashes after 1-2 seconds with various backtraces.

IE

[code]

or this

[code]

TensorFlow comm

[2017-10-08 03:11] leckie-chn opened #13560 "The document of tf.nn.dynamic_rnn needs to be re-formatted"
Hi,

Someone take a look at the document page of [tf.nn.dynamic_rnn](https://www.tensorflow.org/api_docs/python/tf/nn/dynamic_rnn). I think there are some formatting bugs in the second half of the web page.

[2017-10-08 03:35] yongtang commented on #4590
I created a PR #13561 to improve the shape inference so that as long as the size is not `-1`, the right shape value will be inferred:
[code]
*Note: The above example used to return `[None, None, None]`*.

The PR is not a completely fix for this issue. It is an improvement nevertheless.

[2017-10-08 03:59] kzm4269 commented on #13429
Hi, @facaiy .

I think that the bug caused by this line:

https://github.com/tensorflow/tensorflow/blob/97bcc65e4c218ec9e1af1c9353cb8aa0d84b7014/tensorflow/python/ops/variable_scope.py#L1785

This code was written to reuse the name scope, but since `name_scope` is relative, so a new unique name scope will be created. Properly it should be written like the following code:

[code]

[2017-10-08 04:03] ngovinhtn commented on #550
Hi all,
i run trainning with translate.py follow to https://www.tensorflow.org/tutorials/seq2seq with 3 layer of 512 units, but perplexity alway increase follow as:
global step 104400 learning rate 0.2375 step-time 1.01 perplexity 1.00
  eval: bucket 0 perplexity 52838.74
  eval: bucket 1 perplexity 117227.88
  eval: bucket 2 perplexity 445883.28
  eval: bucket 3 perplexity 323676.55
global step 1

[2017-10-08 04:36] sumsuddin commented on #10799
for the ones who are still suffering, take a look [here](http://twonightmare.blogspot.com/2017/08/tensorflow-gpu-build-for-windows-for.html).

[2017-10-08 07:07] facaiy commented on #13429
Thanks you for suggestion, @kzm4269 . I found that it is more complicated and subtle than I expected when `name_scope` intertwines with `variable_scope`. As far as I see now, the behavior (create a new name_scope when variable_scope is opened) is on purpose by tensorflow, see #6189. I cannot believe it...

[2017-10-08 07:20] DreamPurchaseZnz opened #13563 "What the wrong with sess.run ?"
I want to test a single test sample into a graph , but  unfortunately , I got nothing . If i just put a batch size of test sample ,  the result is good, why is it?  Furthermore , if i just copy a single test sample multiple times, the result is also nothing.

x_reconstruction = sess.run(t.x_r, feed_dict={t.z_r: z_batch})
x_reconstruction[0]
Out[42]:
array([ -1.00000000e+00,  -1.00000000e+00,  -1.0

[2017-10-08 07:26] DreamPurchaseZnz commented on #13563
x_reconstruction_1 = sess.run(t.x_r, feed_dict={t.z_r: z_batch[:2]})
x_reconstruction_1
Out[50]:
array([[-1., -1., -1., ..., -1., -1., -1.],
       [-1., -1., -1., ..., -1., -1., -1.]], dtype=float32)
x_reconstruction_1.shape
Out[51]:
(2, 784)

The result is good again???

[2017-10-08 07:32] DreamPurchaseZnz commented on #13563
x_reconstruction_1 = sess.run(t.x_r, feed_dict={t.z_r: np.tile(z_batch[0],(100,1))})
x_reconstruction_1
Out[61]:
array([[-0.22105289, -0.22018659, -0.23817246, ..., -0.23409246,
        -0.22799131, -0.23101638],
       [-0.22105289, -0.22018659, -0.23817246, ..., -0.23409246,
        -0.22799131, -0.23101638],
       [-0.22105289, -0.22018659, -0.23817246, ..., -0.23409246,
        -0.22799131, -

[2017-10-08 07:59] facaiy commented on #13429
Hi, @lukaszkaiser , let's discuss here. (cc @fchollet , @ebrevdo who I believe might be interested in the issue.)

I found that the bug roots from an unexpected behavior from `variable_scope`, which always creates a new `name_scope` when it is opened (or re-entered). This is a simple example from #6189:

[code]

At the first glance, I believe it is a bug (that's what PR #13518 is opened to fix) un

[2017-10-08 08:27] facaiy commented on #13429
To help clarify our problem, I write a simpler version for `tf.layers.Layer`.  Please notice that  `a_1` name scope has been created in 1st layer. That's why for 2nd layer, name scope must start from `a_2`, while variable scope is from `a_1` (inconsistent scopes).

### code
[code]

### logs
[code]

[2017-10-08 08:51] shamoya commented on #13201
Hi @jiens
@noaezra @dariavel worked on a solution for this problem (and more configuration parameters support from the user). PR for the changes should be sent any day now.
We will update when it merge to the code.

[2017-10-08 08:56] shamoya commented on #12035
@sj6077, can we close this one?

[2017-10-08 11:36] arieltci commented on #10033
Windows 10
Python 3.6.3
CUDA 8
cuDNN v6
Tensorflow 1.3.0
Added CUDA/bin to path
Still does not work.

[2017-10-08 12:47] Hvass-Labs opened #13565 "Bug in Estimator tutorial?"
This is the tutorial for the Estimator-class:

https://www.tensorflow.org/extend/estimators

You have the following code:

    my_nn = tf.estimator.DNNClassifier(feature_columns=[age, height, weight],
                                       hidden_units=[10, 10, 10],
                                       activation_fn=tf.nn.relu,
                                       dropout=0.2,

[2017-10-08 12:59] Atlas7 opened #13566 "tf.estimator Quickstart web doc needs syncing with GitHub"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-10-08 13:21] marisuki commented on #8385
Maybe there is another solution if you have tried such solutions above and still not config like me, you can install a older vision of tensorflow since the latest vision of it may have some problems, and i used : "pip install https://storage.googleapis.com/tensorflow/windows/gpu/tensorflow_gpu-1.2.0-cp35-cp35m-win_amd64.whl " and solve it.

[2017-10-08 13:45] adil25 commented on #10213
Hi everyone, please can someone help me to fix this below error in tensorflow, i am using tensorflow 1.2 version. thanks
 "but saw tensor: %s" % p)
ValueError: prefix tensor must be either a scalar or vector, but saw tensor: Tensor("batch_size:0", dtype=int32)

[2017-10-08 13:47] adil25 opened #13567 "Hello every one, please i got an error in my code, here is the error, please can someone help me how to fix it...thanks.... "but saw tensor: %s" % p) ValueError: prefix tensor must be either a scalar or vector, but saw tensor: Tensor("batch_size:0", dtype=int32)"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-10-08 13:51] zhedongzheng commented on #10213
hi, adil25
you can just use ```batch_size = tf.shape(X)[0]```
tf.shape is a powerful op that returns the dim of your tensor in the runtime
where X is your input sequence

[2017-10-08 14:04] yaroslavvb commented on #13567
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

It must be a bug or a feature request.
The form below must be filled out.
It shouldn't be a TensorBoard issue. Those go here.

[2017-10-08 14:04] #13567 closed

[2017-10-08 14:04] yaroslavvb commented on #13563
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

It must be a bug or a feature request.
The form below must be filled out.
It shouldn't be a TensorBoard issue. Those go here.

[2017-10-08 14:04] #13563 closed

[2017-10-08 14:04] adil25 commented on #10213
Thank you for your reply, please i am new to tensorflow and i am not sure where to make your suggested change, please could you tell me where to make this change, i am sharing my code below.....
import random
import vizdoom as vd
import tensorflow as tf
import numpy as np
import scipy.ndimage as Simg

from basic_ennemy_pos import basic_ennemy_x
from network import tf, DRQN
from video import VideoW

[2017-10-08 14:09] Ahmeedtraabelsi commented on #170
File "C:\Users\Ahmed\Anaconda3\lib\gzip.py", line 409, in _read_gzip_header
    raise OSError('Not a gzipped file (%r)' % magic)

OSError: Not a gzipped file (b'<h')

[2017-10-08 14:15] zhedongzheng commented on #10213
hi, adil25, the problem is not in the code you sent to me. The problem is in the DRQN of network.py, where the batch_size problem is happened in the initialization of rnn states. You need go to check DRQN in network.py

[2017-10-08 14:35] Joshuaalbert opened #13568 "batch_flatten gives unpredictable results when batch_size is 1"
## Problem

When I attempt to use `tf.contrib.keras.backend.batch_flatten` or more readily `keras.backend.batch_flatten` on a Tensor of shape (1, a, b) it produces a Tensor with shape (None, None).

## MCVE

Note, I'll use keras tensorflow backend because that is how I noticed it.

[code]
prints out `(1,4)` and `(None, None)`.
If you replace the first dimension to 2 or more it works as expected.

[2017-10-08 15:17] sj6077 commented on #12035
Sure! Thank you for the fix.

[2017-10-08 15:17] #12035 closed

[2017-10-08 15:43] yongtang commented on #9917
@rdinse I think you could create the PR as an open PR will likely generate more discussion and attention.

[2017-10-08 16:43] 0x454447415244 commented on #7490
@ebrevdo Thank you. Please find the details below:

Old model vairables:
[code]

New model vairables:
[code]

[2017-10-08 17:16] yaroslavvb commented on #13566
The docs refer to the most recent stable branch. So I'm guessing the recent stable branch has a bug which has since been fixed in master. Release 1.4 seems to be forthcoming shortly which would fix this.

[2017-10-08 18:07] yaroslavvb commented on #13568
cc @fchollet
(is there a separate list for keras issues?)

[2017-10-08 19:00] yaroslavvb commented on #13558
I could create a minimal example to reproduce this if someone wants to work on it

(btw, the minimal SVD crash report is still open 6 months later, and it's still crashing my training -- https://github.com/tensorflow/tensorflow/issues/9234)

[2017-10-08 19:10] yaroslavvb commented on #13533
Sounds like version mismatch between protobuf you have and what TF expects. Maybe some other package upgraded your protobuf?

Universal solution is to do reinstall in clean environment.

[2017-10-08 19:41] ringw commented on #9672
Thanks @av8ramit!

[2017-10-08 19:49] MichelHalmes commented on #1736
Good day,

Is there any progress on this?

As pointed out by carlthome the implementation of @OlavHN does not compute distinct population statistics per timestep. To my understanding, @carlthome's implementation neither. To compute the timestep he uses:
[code]
This basically means that `new_sequences` is constant per run and `timestep` will either be 0 or grow indefinitely.

I've tried to implemen

[2017-10-08 20:14] rightaditya commented on #12414
@fumihwh Is your dataset size divisible by your batch size? Mine isn't, so I'd probably have to `ceil` the division (and make sure to use float division if using python2).

Still, it's not an ideal solution given the way the API seems to have been designed.

[2017-10-08 20:40] yaroslavvb commented on #13565
The reason for using files rather than notebooks is probably for testing reasons. IE, [test_tutorials.sh](https://github.com/tensorflow/tensorflow/blob/d040289dcf825fe2ac9579f4b0175a23833a57fa/tensorflow/tools/ci_build/builds/test_tutorials.sh) runs all the files and make sure they don't crash.

[2017-10-08 21:14] vitalyli commented on #312
If I'm not mistaken saver allow_empty=True achieves what optimistic_restore above does?

[2017-10-08 21:19] #8205 closed

[2017-10-08 21:20] vitalyli commented on #312
@dandelionmane thanks for your optimistic_restore I've tried it successfully. It really should be part of Saver itself. For my purposes I've modified it only slightly to make function return list of variables given checkpoint path, that way it's not concerned with session yet.

    def optimistic_restore_vars(checkpoint):
        ckpt = tf.train.get_checkpoint_state(os.path.dirname(checkpoint + '/

[2017-10-08 23:54] cy89 commented on #13355
@alextp would you please take a look?

[2017-10-08 23:56] cy89 commented on #13397
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-10-08 23:56] #13397 closed

[2017-10-08 23:56] cy89 commented on #13387
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-10-08 23:58] cy89 commented on #13381
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-10-08 23:58] #13381 closed

[2017-10-09 00:02] cy89 commented on #13413
@javiribera please take a look.

[2017-10-09 00:04] cy89 commented on #13423
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-09 00:04] #13423 closed

[2017-10-09 00:11] cy89 commented on #13441
Can you please give us your full reproduction information, including code?

[2017-10-09 00:12] cy89 commented on #13457
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-09 00:12] #13457 closed

[2017-10-09 00:15] cy89 commented on #13461
@asimshankar it's not clear to me whether this behavior is working as intended (you can't read a CPU-trained checkpoint on a GPU), or whether this is supposed to work. Can you please comment?

[2017-10-09 00:16] cy89 commented on #13463
@huangrandong is this problem repeatable, or did it happen just one time?

[2017-10-09 00:23] #13501 closed

[2017-10-09 00:25] cy89 commented on #13519
@smsorin could you add a link to the bad documentation, please? I'm not seeing "FeatureValueTold" on tensorflow.org, but it could be that I'm not searching well enough.

[2017-10-09 00:27] cy89 commented on #13521
@suharshs @kbsriram can you comment on future development plans, please?

[2017-10-09 00:30] cy89 commented on #13537
@ebrevdo do we expect to add tuple support soon?

[2017-10-09 00:31] cy89 commented on #13543
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-09 00:32] #13543 closed

[2017-10-09 00:47] glaucimarfaleiro commented on #13556
Thanks a lot @mrry. I've just downgraded my installations and Tensorflow worked just fine.

[2017-10-09 00:47] #13556 closed

[2017-10-09 01:14] jiens commented on #13201
@byronyi  Thanks for your advice.
@shamoya Good news. Thank you for your working.

[2017-10-09 01:54] zhenbangchen commented on #6035
@tfboyd seems still not working on CPUs. Can you reopen this?

[2017-10-09 02:47] jgv115 opened #13575 "Reading .tfrecords files greater than 64mb brings up errors"
I have already read this thread: https://github.com/tensorflow/tensorflow/issues/7311 but I am still encountering this issue with version 1.3.0. Was wondering if anyone knows why?

Tested on 2 systems:
OS: Windows 10, Ubuntu 16.04
Tensorflow installed from source,
Tensorflow version: 1.3.0
One system running tensorflow non gpu and another system running CUDA 8 and cuDNN v6
GPU model: none and GTX

[2017-10-09 03:06] huangrandong commented on #13463
@cy89 , thank you for your response。This problem happened many times,and it will come out whenever i run my program. The problem can not be repeatable. the reason can be the problem of my computer configuration. my program can run on another machine and don't display the error.

[2017-10-09 03:42] wangshang19911011 commented on #13543
@cy89
Ok,I will post there.
By the way, is using auxiliary_inputs of ScheduledOutputTrainingHelper a correct way to condition encoder final state on the decoder inputs at each step?

[2017-10-09 03:55] adil25 commented on #10213
@zhedongzheng ...Thank you for your reply, please after making the changes i got another error which i mentioning here below. but before that please forgive if you feel something nonsense about me skills as i am very new to python and tensorflow...here is the error and code,
import numpy as np
import tensorflow as tf
import tensorflow.contrib.slim as slim

class DRQN():
    def __init__(self, im_h

[2017-10-09 04:22] formath commented on #13353
@petewarden Hi. Have you checked it? Thanks

[2017-10-09 04:27] #13306 closed

[2017-10-09 04:53] zishuaiz opened #13576 "sparse_softmax_cross_entropy_with_logits wrong annotation"
https://github.com/tensorflow/tensorflow/blob/107cc777af7880c140d089e44ad898a6ba929286/tensorflow/python/ops/nn_ops.py#L1661

It should be `If logits are scalars (need to have rank >= 1) or if the rank
      of the labels is not equal to the rank of the logits minus one.`

[2017-10-09 04:55] suresh88 commented on #11037
I am also having the same problem.
I am using **Python 3.6.0 :: Anaconda 4.3.1 (64-bit)**

[2017-10-09 05:12] ebrevdo commented on #13537
you can perform an assign on a tuple by using

[code]

[2017-10-09 05:19] ebrevdo commented on #7490
Looks like there are more problems than just with the RNN cells; for
example, the batch norm parameters are different and even the variable
shapes are different:

-Variable (DT_FLOAT) [3,3,3,64]
-Variable/Adam (DT_FLOAT) [3,3,3,64]
-Variable/Adam_1 (DT_FLOAT) [3,3,3,64]
+Variable (DT_FLOAT) [3,3,1,64]
+Variable/Adam (DT_FLOAT) [3,3,1,64]
+Variable/Adam_1 (DT_FLOAT) [3,3,1,64]

It doesn't look like

[2017-10-09 05:23] ebrevdo commented on #7490
Some batch-norm related changes in the variable names:

-bn/bn_1/cond/bn_1/moments/moments_1/mean/ExponentialMovingAverage/biased
(DT_FLOAT) [128]
-bn/bn_1/cond/bn_1/moments/moments_1/mean/ExponentialMovingAverage/local_step
(DT_FLOAT) []
+bn/bn_1/moments/Squeeze/ExponentialMovingAverage (DT_FLOAT) [128]
+bn/bn_1/moments/Squeeze_1/ExponentialMovingAverage (DT_FLOAT) [128]

etc.

Martin, any ideas

[2017-10-09 06:56] wenruij opened #13577 "Size of TFRecord is much more larger than CSV format"
### Testing Data:
 `adult.data` in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/learn/wide_n_deep_tutorial.py
### Problem:
To use a `tf.contrib.data.TFRecordDataset`, i tried to convert `adult.data` in CSV into a TFRecord, but i just found that the **TFRecord** after converted is about **12MB**, while the original **CSV** is only about **3MB**, oops, **why the storage e

[2017-10-09 07:00] asimshankar commented on #13461
The checkpoint should certainly be loadable. The provided snippet isn't sufficient to help reproduce the problem. @DarcyCode could you please fill in the complete issue template, including instructions to reproduce the problem?

Simply using the `batch_norm` function you've provided above and with the following snippet, I do not see any difference in variables names with or without GPU:

[code]

[2017-10-09 07:05] asimshankar commented on #13576
Thanks for pointing that out, will send a fix.

[2017-10-09 07:07] asimshankar commented on #13566
@MarkDaoust : Yeah, I think this will be addressed with the next website refresh.

[2017-10-09 07:09] asimshankar commented on #13558
@rmlarsen : Would you have some cycles to look into this?

[2017-10-09 07:12] asimshankar commented on #13560
@deannalinchen @wolffg : Seems like the empty newlines in https://github.com/tensorflow/tensorflow/blob/r1.3/tensorflow/python/ops/rnn.py#L483 are confusing the website generator?

Would either of you have some cycles to investigate?

[2017-10-09 07:22] asimshankar commented on #13522
I'm sorry, but from your description I'm not quite certain what the problem is. On the surface it seems the same initializers are being linked into your binary multiple times and precisely why that is happening isn't clear to me as I'm not sure about the details of the process being used to link. Unfortunately, the TensorFlow maintainers do not have enough background in Swift to be helpful there.

[2017-10-09 07:23] asimshankar commented on #13462
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-09 07:26] asimshankar commented on #13506
Thanks for debugging and the PR @yongtang !

[2017-10-09 07:33] smsorin commented on #13519
https://www.tensorflow.org/versions/master/api_docs/python/tf/nn/embedding_lookup_sparse

sp_ids: N x M SparseTensor of int64 ids (typically from FeatureValueToId), where N is typically batch size and M is arbitrary.

I was seeing it on tf.nn.embedding_lookup as well but that seems to be fixed now.

[2017-10-09 08:04] selcouthlyBlue opened #13578 "Using an LSTM-CTC Tensorflow Model in Android"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 8.1
- **TensorFlow installed from (source or binary)**:
Anaconda Install. [Prebuilt libraries](https://ci.tensorflow.org/view/Nightly/job/nightly-android/) were used for Tensorflow Android.
- **Tensor

[2017-10-09 08:40] soloice commented on #12052
Will cuDNN 7.0 be supported when TF 1.4 is released?

[2017-10-09 09:09] hicham-eyeem commented on #6503
@rmlarsen great, thank you, can't wait to try it out :)

[2017-10-09 09:29] VladimirRoaming commented on #13522
Hello,

As you can see, any binary has only one  linking:
[code]

Are there any way to trace library code ?

[2017-10-09 09:42] zhedongzheng commented on #10213
hi, adli25, please
change this
'''
self.batch_size=tf.shape(x)[0]
'''
to
'''
self.batch_size = tf.placeholder(tf.int32, [], name='batch_size')
'''
and see if it works now

[2017-10-09 09:54] VladimirRoaming commented on #13522
I rebuild build without C++ API and C++ library

[code]

And that is works fine. It means, that I can't use C and C++ libraries in the same code at the same time.
But in **r1.3** it is **works**. That means, somebody (I think @fritzo at [a651023](https://github.com/tensorflow/tensorflow/commit/a6510237f06f03babfbcce1bcfa77f07f0d03c50)) added C code to C++ library. And after that you can't use both

[2017-10-09 10:51] konstunn commented on #11829
I use TensorFlow and PythonTeX to make reproducible dynamic reports. Every time I update the code chunk that uses `tf.contrib` I have to wait about 10 seconds till the module is imported. It's so annoying. Fix it, please or suggest temporary workaround to speed up this import.

[2017-10-09 11:41] bnoreus commented on #6713
I have a tf.train.shuffle_batch from which I retrieve batches (sparse tensors) and would like to enqueue them into a FIFO queue. However, this issue still doesn't seem to have been fixed. I get the same error.

[2017-10-09 11:47] jelmd commented on #13550
On 3 different, independent workstations, on Solaris as well as under Linux?
Sorry for not using Windows ...

[2017-10-09 11:49] RokoMijic commented on #9071
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/lib/nvidia-384

worked for me (Ubuntu 17.04)

[2017-10-09 12:22] VladimirRoaming commented on #13522
Rebuild with latest changes in master only with C++ library.
Yes, it is works fine on mac os. Linking pass, tests pass.
On Linux (Linux kraken 4.4.0-96-generic #119-Ubuntu SMP Tue Sep 12 14:59:54 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux):
+ Build and run C API related code.
- Can't link C++ code in binary and tests, error:
[code]
Tested as static and dynamic (own) libraries.
The same with tests. Lo

[2017-10-09 12:51] bnoreus opened #13580 "Equeued values to Queue get chopped-off if the Queue isn't instantiated properly."
### Describe the problem

In QueueBase._check_enqueue_dtypes, the following code is run:
`tensors = []
    for i, (val, dtype) in enumerate(zip(vals, self._dtypes)):
      tensors.append(ops.convert_to_tensor(val, dtype=dtype,
          name="component_%d" % i))`

The problem is if the user feeds a list of tensors as `val` (the input) which is longer than the `_dtypes`-construction argument of Que

[2017-10-09 12:51] jelmd commented on #13550
BTW: Added rules to block all *.js from tensorflow.org and google related sites, which fixes the problem. I'll give our students the advice to do the same.
So far to your "professional" analysis. Good job @asimshankar ...

[2017-10-09 12:58] vclteam opened #13581 "Assign requires shapes of both tensors to match"
im trying to run the voice recognition example

for some reason specifying a clip_duration_ms diffren from 1000 generate an error while freezing the model.

so running
python tensorflow/examples/speech_commands/freeze.py
--wanted_words=yes
--clip_duration_ms=2800 --sample_rate=16000 --window_size_ms=20
--start_checkpoint=/notebooks/yesmodel/conv.ckpt-10
--output_file=/notebooks/yesmodel/conv_froze

[2017-10-09 13:20] denmoroz commented on #13473
@yaroslavvb Thanks! Yeah, it is not easy to understand such behavior cause it differs from the previous experience. Seems like tf.set_random_seed should be renamed :)

[2017-10-09 13:24] Atlas7 commented on #13566
I just had a look at the [tensorflow version](https://www.tensorflow.org/versions/) page - it says:

This probably explains it. Though I guess it "might" be a good idea to highlight at the top of web documentation on this? I have a gut feeling a chunk of new comers would have tensorflow v1.3 installed, while using the v1.2 web documentation.)

I presume this will belong to a "feature request" buck

[2017-10-09 13:50] engahmed1190 opened #13583 "InvalidArgumentError : Expected image (JPEG, PNG, or GIF), got unknown format starting with '255'"
### System information
-  **OS Platform and Distribution**  :Linux Ubuntu 16.04
-  **TensorFlow installed from**  :binary
-  **TensorFlow version**  :1.1.0
-  **Python version** : 2.7.12

### Describe the problem
trying to feed a model an image encoded in string as the model require that as an input string
[code]
Here is the code :-
[code]
Error returns  is :
[code]

how i can solve that , any hel

[2017-10-09 13:52] ZichuanLIU commented on #13441
Hi @cy89 , below is the code that reproduces the error. You can copy and run directly on your PC. The system I use is ubuntu 14.04 with Python3.4. The Tensorflow version is v1.1.
This phenomena is that the program get stuck at `sess.run(optimizer, feeds)`. But when I comment the batch normalization operation `logits = tf.contrib.layers.batch_norm(logits, is_training=True)` and `tmp = tf.contrib.la

[2017-10-09 14:22] martinwicke commented on #7490
I don't recall any such changes. That last one looks particularly weird,
did we eliminate some cond?

I remember a change we did not accept about simplifying the scope names for
moving averages, but again, we did not accept it (and it would have been
too recent to show up here).

[2017-10-09 14:23] SusieZ opened #13584 "AttributeError: 'SummaryMetadata' object has no attribute 'display_name' ( OS:windows, Python36, tensorflow (1.3.0rc0) tensorflow-tensorboard (0.1.7)"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-10-09 14:28] SusieZ opened #13585 "AttributeError: 'SummaryMetadata' object has no attribute 'display_name' ; windows10 (64bit), install tensorflow (1.3.0rc0) in Anaconda python36 with tensorflow-tensorboard (0.1.7) on win10"
My laptop OS is windows10 (64bit), install tensorflow (1.3.0rc0) in Anaconda python36  with tensorflow-tensorboard (0.1.7) in it. when run command " tensorboard --logdir="path//to//logs", met below error.

[code]

[2017-10-09 14:37] skye commented on #13549
I'm not sure what's going on. @dr4b do you have any ideas? I wonder if this somehow has to do with Const being in the namespace ops, and all the other op methods being in nested namespaces inside ops?

[2017-10-09 14:40] mjlm commented on #3937
I also just spent hours on this. I solved it by replacing x**2.0 by tf.square(x).

[2017-10-09 14:45] adityakusupati commented on #13031
Hi all,

The issue of audio_ops is not yet resolved even for python2.7. It throws the same error as mentioned in the issue that started the thread.

Please resolve it at the earliest.

[2017-10-09 14:56] yushinliu commented on #13349
I faced the same problem, so how to fix this?

[2017-10-09 15:02] Carmezim commented on #13349
@yushinliu could you please describe what steps you followed and which errors you're getting? Have you also tried following the solutions provided above?

[2017-10-09 15:10] alextp commented on #13355
@ebrevdo , can you take a look?

[2017-10-09 15:25] VladimirRoaming commented on #13522
I tred to build that [example project](https://www.octadero.com/wp-content/uploads/2017/10/TFBuildTest.zip) with **r1.3** c++ library:

[code]
It is ok.
[build log](https://www.octadero.com/wp-content/uploads/2017/10/simple_build_1.3.txt)

And tried with **master** brunch:
[code]

Error:
[code]

[build log](https://www.octadero.com/wp-content/uploads/2017/10/simple_build_master.txt)

[2017-10-09 15:29] yushinliu commented on #13349
@Carmezim
I have Win10 and I also installed cuda 9 and cudnn7. After input code ' import tensorflow '

`>>> import tensorflow
Traceback (most recent call last):
  File "D:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 18, in swig_import_helper
    return importlib.import_module(mname)
  File "D:\ProgramData\Anaconda3\lib\importlib\__init__.py", line

[2017-10-09 15:38] bodokaiser commented on #13575
Can confirm this issue though it only occurs on windows. To reproduce you can use [this][1] modified 3d volume from the RIRE dataset with following decoder:

[code]

this script should read volume and let the error occur:

[code]

yielding:

[code]

[1]: https://www.dropbox.com/s/ka9ximgj65dibtr/mr.tfrecord?dl=0

[2017-10-09 15:40] Carmezim commented on #13349
@yushinliu You're right about the CUDA versions. The only one supported as of now is v8.0 as you can see in the [docs](https://www.tensorflow.org/install/install_windows#requirements_to_run_tensorflow_with_gpu_support). If you face any further issues after changing to the correct version please follow up.

[2017-10-09 15:49] tfboyd commented on #12052
@soloice
At head (as of a couple days ago) I was able to compile CUDA 9 (release version) with cuDNN 7.0 with no special changes and ran a few tf_cnn_benchmarks.py tests on a GTX 1080.  Everything looks fine.  TF 1.4 which should RC this week will have CUDA 8 and cuDNN 6 binaries but will also compile just fine with CUDA 9 and cuDNN 7.  The goal is for TF 1.5 have CUDA 9 and cuDNN 7 in the binary.

[2017-10-09 15:58] yushinliu commented on #13349
@Carmezim
Thanks, it works! so it was a version problem

[2017-10-09 16:04] yzhwang commented on #5688
Hi @HggsHntr , as I can't find any Windows server with Pascal/Maxwell architecture, could you try adding this line to the python reproducer:
os.environ['CUDA_LAUNCH_BLOCKING'] = '1'
or type:
set CUDA_LAUNCH_BLOCKING=1
in command line?
This is to force CUDA kernels to synchronize after each call, and hopefully will show us more useful error logs. So that we can tell whether it is related to conv3d

[2017-10-09 16:12] ebrevdo commented on #13355
This is definitely a bug, and it has to do with this line:
[code]
the weird "gradients" prefix is there so that the TensorArray can differentiate between different calls to `tf.gradients`: each call to `tf.gradients` must create a separate gradient TensorArray.  The reason you're getting zeros is that your `gradients` name prefix is not the same name prefix created by `tf.gradients` (since `gradie

[2017-10-09 16:19] tjingrant opened #13587 "TF fails to build on PowerPC. Issues with BoringSSL."
------------------------
BoringSSL doesn't seem to have their own issue board. So I'm guessing here's the closest alternative.

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04.2 LTS
- **TensorFlow installed from (source or binary)**: sour

[2017-10-09 16:23] reedwm commented on #13471
I think @yaroslavvb is right but when I try to call `saver.save` with a closed session, I get the error message "RuntimeError: Attempted to use a closed Session".

@tancejang can you post a small, full example that reproduces the problem?

[2017-10-09 16:24] ebrevdo commented on #13473
If you want to always control your randomness exactly, check out this module
<https://www.tensorflow.org/api_docs/python/tf/contrib/stateless>.

On Mon, Oct 9, 2017 at 6:21 AM, Dzianis Dus <notifications@github.com>
wrote:

[2017-10-09 16:27] reedwm commented on #13487
/CC @benoitsteiner can you comment on this issue and on #5492?

[2017-10-09 16:31] reedwm commented on #13587
@gunan can you comment? Do we support PowerPC?

[2017-10-09 16:32] reedwm commented on #13585
Please file this issue in the TensorBoard repository [here](https://github.com/tensorflow/tensorboard).

[2017-10-09 16:32] #13585 closed

[2017-10-09 16:36] reedwm commented on #13581
This appears to be a duplicate of #13487

[2017-10-09 16:36] #13581 closed

[2017-10-09 16:38] voxmenthe commented on #12052
@tfboyd Great to hear that TF 1.4 compiles with cuDNN 7! If at some point you feel up to creating an install guide it would be a great public service for the DL community.

[2017-10-09 16:39] reedwm commented on #13487
Also /CC @petewarden.

[2017-10-09 16:42] BrazilForever11 opened #13588 "Unable to open table file. Data loss: file is too short to be an sstable"
I am trying simple save and restore operation in tensorflow. Here is link to Jupyter Notebook.[https://github.com/BrazilForever11/tf_error/blob/master/reproducible%20tf%20saving%20restoring%20error.ipynb](url)

The following line generates error:
`new_all_saver.restore(sess, data_path)`

Here is error message:

[code]
Here link to data file [https://github.com/BrazilForever11/tf_error/blob/master/

[2017-10-09 16:47] ybsave commented on #13434
@asimshankar Thanks for your explanation. The codes I used are exactly the same as in https://github.com/tensorflow/models/blob/master/official/resnet/imagenet_main.py.

I only modified the "resnet_model_fn" for only a few lines (I labeled below).
	def resnet_model_fn(features, labels, mode):
	  """ Our model_fn for ResNet to be used with our Estimator."""
	  tf.summary.image('images', features, m

[2017-10-09 16:50] drpngx commented on #11829
@konstunn did you sync past #11829?

[2017-10-09 16:50] reedwm commented on #13565
@sandersk, can you comment why `input_layer` is not used in the source file?

The issue #11785 suggests having Jupyter Notebook tutorials. Pinging @wolffg on that issue.

[2017-10-09 16:53] reedwm commented on #13533
@gunan do you know what the issue is?

[2017-10-09 16:55] boulderZ opened #13589 "tensorflow batch norm used when rank = 4?"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-10-09 16:59] asimshankar commented on #13434
@ybsave : I'm confused, I thought the issue was filed about GPU memory utilization, while the error you describe now seems orthogonal?

If that is indeed the case, please file a separate issue/stackoverflow question about that so we can keep discussion on this thread focused on the question raised at the beginning (and mentioned in the summary description)

[2017-10-09 17:02] asimshankar commented on #13583
The error message suggests that the input isn't a valid JPEG image.
Are you sure that the image you're feeding (which seems to be a 3 byte file) is a valid JPEG image?

[2017-10-09 17:03] konstunn commented on #11829
@drpngx not sure. Should I install from sources? I used to install TensorFlow from PyPI.

[2017-10-09 17:06] ybsave commented on #13434
@asimshankar Yes, this seems a separate issue. I will submit another new issue. The reason for that is when I utilized two GPUs according to your suggestion, it does work and can support bigger batch size, but a NaN error occurs. After tracing back, I find the minimum modification of codes (above) already leads to the same error. I will update this multi-GPU issue later after the new problem solve

[2017-10-09 17:12] drpngx commented on #11829
Ah, yes, you have to install from source and pull from head. Alternatively, you can use a binary that we distribute. We're releasing release candidates for 1.4, which is the next version. Closer to cutting edge are (assuming you have a GPU): https://ci.tensorflow.org/view/Nightly/job/nightly-matrix-linux-gpu/
There's a corresponding CPU version.

[2017-10-09 17:13] reedwm commented on #13577
Please include the code that calls `csv2proto`, so I have a self-contained example I can run to generate the TFRecord.

[2017-10-09 17:15] RuofanKong opened #13590 "Tensorflow Session Connects to Multiple Targets"
I posted a question on [SO](https://stackoverflow.com/questions/46626879/can-one-tensorflow-session-connect-to-two-targets-at-the-same-time), where I wonder if a Tensorflow Session could connect to two (or more than two) targets at the same time. It looks the feature is not supported yet. Can we make a feature request on it?

[2017-10-09 17:17] ybsave opened #13591 "GPU Allocation and Results Unexpected for Simple Test codes"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**:
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**: 3.6
- **Bazel version (if compiling from source)**:
- **CUDA/cuDNN version*

[2017-10-09 17:22] aCampello commented on #13533
The "universal solution" worked. After a fresh install everything seems to be working fine. Now only god will know what caused the problem...

[2017-10-09 17:24] engahmed1190 commented on #13583
I feed the Image using `np.array `and also tried to feed it with` tf.image.decode_jpeg` getting an error in both cases . when i am using `tf.image.decode_jpeg` as
[code]
i get this error
[code]
how to validate if the image is valid or not and also the best way to feed the image .

Thanks In Advance

[2017-10-09 17:32] Remi-Coulom commented on #13549
Another strange problem I noticed is that tensorflow::Input::Initializer appears twice in the menu on the left:
https://www.tensorflow.org/api_docs/cc/struct/tensorflow/input/initializer

[2017-10-09 17:35] engahmed1190 commented on #13583
Sorry , **Edited the Error Message** i tried it again with the same values but represent this error , seems to be problem in the encoding

[2017-10-09 17:38] petewarden commented on #5729
I am working on getting Python3 builds going, and you can see the latest versions here:
http://ci.tensorflow.org/view/Nightly/job/nightly-pi-python3/
http://ci.tensorflow.org/view/Nightly/job/nightly-pi-zero-python3/

These are still works-in-progress though.

[2017-10-09 17:42] gunan commented on #13587
There is no official support for powerPC architecture for TensorFlow.
You will need to check with the community or reach out to stackoverflow for support.

Before I leave, two things that may help:
- @nayana-ibm how similar is powerPC to s390x?
- Boringssl should only be needed for GCS support or a very limited number of kernels. You could try modifying our build files and cut boringssl off and tr

[2017-10-09 17:48] gunan commented on #13533
Looks like a leftover old protobuf installation lingering on the system.
It would be nice to understand it fully, but in reality with the volume of issues, we wont have time to dig deeper into this.
Also, for future reference, anyone seeing this problem should just purge their TF and protobuf installations and reinstall.

[2017-10-09 17:48] #13533 closed

[2017-10-09 17:50] tjingrant commented on #13587
@gunan, I understand there's no official support for PowerPC for TF. In fact I'm trying to make sure that people can use Tensorflow on PowerPC. But the problem is with OpenSSL.

More importantly, looking at the history of the relevant OpenSSL file, especially [here](https://github.com/google/boringssl/commit/5f04b6bc3a46662323b67be31bc9a28be38b2844); I think the problem is not that there is no sup

[2017-10-09 17:53] HggsHntr commented on #5688
Hi @yzhwang , It seems like I get the same error. No new information. please see below.
[code]

[2017-10-09 17:53] jinze1994 commented on #13360
@aselle I think it would be better if we implemented two separate op with tf.reduce_median and tf.contrib.metrics.streaming_median.

[2017-10-09 17:56] gunan commented on #13587
@Nayana-ibm already tried to submit fixes to boringSSL to support big-endian systems. Boring SSL team firmly refused and said they will never support big endian systems.
If you are working on PowerPC running in little-endian systems, even that is questionable for boring ssl team to accept.
But this question is better asked to them. At the moment, on TF side all you can do is not build the ops that

[2017-10-09 18:01] asimshankar commented on #13583
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

That said, a few things to note:

- `tf.image.decode_jpeg` expects the encoded-JPEG bytes (i.e., the contents of the file). The use of `PIL` and in particular `PIL.Image.load()` sugge

[2017-10-09 18:01] #13583 closed

[2017-10-09 18:05] yaroslavvb commented on #13590
What's the semantics of supporting multiple masters for tf.Session? Which master would execute `sess.run`?

[2017-10-09 18:12] tjingrant commented on #13587
@gunan, thanks for your information. Optimally I would like TF to work out of the box and it has more or less been the case in the past, it would be a pity that we can no longer do it because of a less-than-often-used part. Can you tell me what's the best way to reach the BoringSSL team?

[2017-10-09 18:14] wolffg commented on #13565
We're working on improved estimator docs now.  In the interim, another
source of information is Magnus's blog post:
https://developers.googleblog.com/2017/09/introducing-tensorflow-datasets.html

On Mon, Oct 9, 2017 at 9:51 AM, Reed <notifications@github.com> wrote:

[2017-10-09 18:16] tfboyd commented on #12052
No problem, that should be easy enough and I am happy to try and fill that
gap.

On Mon, Oct 9, 2017 at 9:42 AM, Jeff <notifications@github.com> wrote:

[2017-10-09 18:18] RuofanKong commented on #13590
@yaroslavvb The point is to support one session to connect multiple server targets (or masters), and the goal is to make some of tensor computations run on one server, and others run on different servers. `sess.run` may specify which master (or target) to connect to. I wonder if it is possible.

[2017-10-09 18:19] gunan commented on #13587
All I have about boringssl is here:
https://boringssl.googlesource.com/boringssl/

On Mon, Oct 9, 2017 at 11:14 AM, Tian Jin <notifications@github.com> wrote:

[2017-10-09 18:26] reedwm commented on #13403
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

A gradient is None is there is no connection from the loss to the Variable, or if the connection is through an op that doesn't have gradients. Ask on StackOverflow if you have more qu

[2017-10-09 18:26] Threynaud opened #13594 "How to display Runtime Statistics in Tensorboard using Estimator API in a distributed environment"
Hello,

I am running in the the same issue than described in this stack overflow question: https://stackoverflow.com/questions/45719176/how-to-display-runtime-statistics-in-tensorboard-using-estimator-api-in-a-distri..
I know that GitHub is used for features requests and bugs but this question didn't get an answer and I am not the only one running in the problem.

 This is how the doc illustrates

[2017-10-09 18:27] #13403 closed

[2017-10-09 18:30] yaroslavvb commented on #13590
I think it's a little vague for a feature request. Lets move it to SO

[2017-10-09 18:30] #13590 closed

[2017-10-09 18:36] alexirae commented on #12052
Is there a possibility to have a whl that works with CUDA 9 and cuDNN 7.0?

Thanks!

[2017-10-09 18:48] heyucongtom opened #13595 "cifar-10-multi-gpu-train code isn't doing synchronization correctly?"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-10-09 19:04] kbsriram commented on #13521
@suharshs will be able to speak authoritatively on this.

Fwiw, as a participant in the "contributions welcome" set the team has been very receptive to PRs improving gradient support, complex or otherwise. (Based on this error though, it might also reflect a general request to grow the set of ops with kernels that accept complex inputs.)

[2017-10-09 19:06] yaroslavvb commented on #13491
cc @alextp apparently there's internal bug for this too

[2017-10-09 19:10] RenanRosa commented on #12815
Thanks for the solution @prashanthsun9 !

[2017-10-09 19:27] tfboyd commented on #12052
I will publish mine (which will likely not not be 1.4 but some near match
and I include the hash in the name) when I build it for testing but it will
be ubuntu 16.04 (I forget what gcc version), linux, python 2.7 just FYI.
And I am not really suppose to share those builds because it can be
confusing for people and I will stress for all you know I included some
crazy back door.  Although adding som

[2017-10-09 19:43] suharshs commented on #13521
cc: @asimshankar  @ebrevdo

I don't believe anyone is actively working on this. To me this seems like a "contributions welcome" to add complex kernels for the desired ops.

[2017-10-09 20:04] ebrevdo commented on #13521
Seems like it should be easy enough for external contributors to add.  +1 for contributions welcome.

[2017-10-09 21:13] sudododo commented on #12367
Regression estimators also have the constraint. Since tf.estimator.export provides two ways of exporting a model, build_raw_serving_input_receiver_fn and build_parsing_serving_input_receiver_fn, I would say build_parsing_serving_input_receiver_fn is meant to work with TensorFlow Serving, and build_raw_serving_input_receiver_fn is meant to restore models without help of TensorFlow Serving. I think

[2017-10-09 21:15] johnsrude opened #13597 "module 'tensorflow.contrib.tfprof' has no attribute 'ProfileContext'"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Custom code
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 7
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: tensorflow-gpu (1.3.0)
- **Python version**:  3.5
- **Bazel version (if compiling fro

[2017-10-09 21:36] cooijmanstim commented on #1736
If it helps, Sonnet has a TF implementation of a batch-normalized LSTM here: https://github.com/deepmind/sonnet/blob/master/sonnet/python/modules/gated_rnn.py

[2017-10-09 21:56] theSparta commented on #3308
I am able to use the static c++ tensorflow library in a standalone C++ program but not able to use the static library in a `qmake` project to use that standalone program in other files! I am encountering the error ` No session factory registered for the given session options` on running the successfully compiled program using `qmake`. I am using the linker options for  `-Wl,--allow-multiple-defini

[2017-10-09 22:16] davidben commented on #13587
This sounds like the issue we fixed here:
https://boringssl.googlesource.com/boringssl/+/e7136a978f6f9d5b3f392b661e573e0793965f97

The issue affected the ppc64le + no-asm build.

[2017-10-09 22:17] reedwm commented on #13597
The readme for 1.3, https://github.com/tensorflow/tensorflow/tree/r1.3/tensorflow/core/profiler, does not contain a reference to `ProfileContext`. It appears `ProfileContext` was added after TensorFlow 1.3, so you have to use the master branch to use it.

[2017-10-09 22:17] #13597 closed

[2017-10-09 22:32] reedwm commented on #13595
That example does not support distributed mode, so there is only one worker. Therefore, there is no need for synchronization. The line you pointed out averages gradient among the GPUs, not among multiple workers.

[2017-10-09 22:32] #13595 closed

[2017-10-09 22:51] ybsave commented on #13434
I finally made a successful running codes which now use double batch size on both GPUs now. I have double checked that both GPUs are in use now. Thanks for all the help. The revised codes are:

	def average_gradients(tower_grads):
	  """Calculate the average gradient for each shared variable across all towers.
	  Note that this function provides a synchronization point across all towers.
	  Args:

[2017-10-09 22:57] zyavrik commented on #13434
Why does nobody want to include that code to the standard tensorflow package to make it work on multiple GPUs automatically???

[2017-10-09 23:10] viswadeep-sarangi commented on #18
@migueldeicaza  amazing effort! Thanks a ton!

[2017-10-09 23:54] martinwicke commented on #12367
We have removed this restriction. Please check out the code at head, or in the upcoming 1.4 RC. Please reopen if there are issues with it.

[2017-10-09 23:54] #12367 closed

[2017-10-10 00:55] fumihwh commented on #13516
@asimshankar I got it. Thank you for the comment. And sorry for taking your time to read.

[2017-10-10 01:18] reedwm commented on #13591
To answer your first question, the GPU allocation did not crash, because the optimizer did constant folding, which is run on the CPU. Constant folding evaluated the `tf.reduce_sum` call. The following code should crash on TensorFlow 1.3:

[code]

On master, the `config.graph_options.rewrite_options.constant_folding` line must also be uncommented to cause a crash.

As for your second question, when

[2017-10-10 01:28] yaroslavvb commented on #13580
want to send a PR to fix? :)

[2017-10-10 01:45] reedwm commented on #13589
You pasted a slightly older version of the chunk of code. The code is currently

[code]

Now, the comment and the code match. Note the rank can be 4, as long as `zero_debias_moving_mean` is True or if non-default update collections are used.

[2017-10-10 01:45] #13589 closed

[2017-10-10 01:51] admirestator commented on #12579
This error disappeared when I have upgraded all the software to the latest version.
The environment works:
Gcc gcc version 5.3.1
glibc: glibc-2.22-8.4.x86_64
bazel: 0.6.1
OS: openSUSE Leap 42.3
TF: commit 9ff05e9e7f471a8487cdd8a7bb6fdd554055e2dd

[2017-10-10 02:41] wenruij commented on #13577
@reedwm pls check the full code as below,

[code]

Logs of my side(Mac OS X 10.12.5) is:
[code]

[2017-10-10 02:42] ekelsen commented on #13591
If the datatype is float32, the summation on the cpu would not give the correct answer (you stop being able to add 1 to a floating point number at 2^24) and the CPU algorithm uses a very small number of accumulators.  If the datatype is int32 then it should give the correct result everytime.

[2017-10-10 02:50] MarkDaoust commented on #13566
Hi,

Thanks for reporting this.

I've updated the master docs, which fixed this problem:

https://www.tensorflow.org/versions/master/get_started/estimator

Also: 1.3 is the current stable branch. It's that 'versions' page is wrong -> fixed.

[2017-10-10 02:50] #13566 closed

[2017-10-10 03:37] mmuneebs commented on #7610
Observing the same problem here on macOS with CPU. Unnaturally slow and extreme memory requirements (50-100x more compared to conv2d).

[2017-10-10 04:19] vclteam commented on #13487
Did u manage to tweak the code? Can u share the code
I'm facing the same problem

[2017-10-10 04:25] soloice commented on #12052
@tfboyd Thanks for your reply. Finally I managed to build the latest TF from sources with CUDA 8 + cuDNN 7 support on Ubuntu 16.04 and everything works fine on GTX 1080 Ti.

[2017-10-10 04:35] bxshi opened #13600 "LayerNormBasicLSTMCell causes `bias key not found in checkpoint` when layer_norm=False"
When initializing `LayerNormBasicLSTMCell`, it has a parameter `layer_norm` which controls whether we want to enable layer norm or not. I assume `layer_norm=True` should be set during training and `layer_norm=False` for evaluation. However, if I use this in an Estimator, due to the following line

https://github.com/tensorflow/tensorflow/blob/a2d9b3bf5f9e96bf459074d079b01e1c74b25afa/tensorflow/con

[2017-10-10 05:10] serendipity24 commented on #13487
@vclteam, the issue here was resolved without tweaking the code.

 At the beginning of freeze.py file it is mentioned that the flags used during training command have to be preserved during the freezing too: "One thing to watch out for is that you need to pass in the same arguments for `sample_rate` and other command line variables here as you did for the training
script." So in my case I had to u

[2017-10-10 06:26] PR-Iyyer commented on #9764
In 1.3 also its AttentionWrapper instead of DynamicAttentionWrapper

[2017-10-10 06:47] lingbao00 opened #13601 "java API had no bool tensorflow，how to add it to the session in java"
i am  doing transer the facenet to android,the input is the img,and the phase_train is a bool data,but the java api had no bool to be feed to session,as i had down this:

[code]
and then the c++ write :
m_phase_tensor = tensorflow::Tensor(tensorflow::DT_BOOL, tensorflow::TensorShape());
m_phase_tensor.scalar<bool>()() = false;
how to writen in java,can somebody help me!

[2017-10-10 07:19] tumusudheer commented on #13146
Hi @zhangyaobit ,

I was able to solve this issue and the main problem is batch_norm is not getting data_format from conv2D. So I had to pass data_format explicitly as param as part of batch_norm_params or need to add slim.batch_norm to the arg_scope.

Is it not a bug that slim.conv2d is not passing data_format to batch_norm ?

[2017-10-10 07:53] netheril96 commented on #13546
@facaiy Yes that is exactly what I meant.

[2017-10-10 08:42] hzhangxyz opened #13603 "SVD on GPU is slower than SVD on CPU"
OS:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: CentOS release 7.4.1708
- **TensorFlow installed from (source or binary)**: From source
- **Python version**: 2.7.13
- **Bazel version**: 0.6.1
- **CUDA/cuDNN version**: CUDA 8.0/cuDNN 6.0.21
- **GPU model and memory**: GeForce GTX 950M, memory 4GB

output of `tf_env_collect.sh`
[code]

output of `python -c "import tensorflow as tf

[2017-10-10 08:46] hzhangxyz commented on #13603
It seems during some time of GPU SVD, there is frequent data moving between Host and Device. I don't know whether it is the reason why GPU SVD is slow.

[2017-10-10 08:51] bodokaiser commented on #13575
[code]

This should fail too on windows. I will check this later.

If the case: Can it be that the windows build still uses the protobuf version which is limited to 64mb?

[2017-10-10 09:25] bnoreus commented on #13580
@yaroslavvb Will do

[2017-10-10 09:26] laoreja commented on #13499
I would like to add some observations:

If plug in my customized op into a large scale deep neural network, I will get the following error message (I do not do any CUDA memory manipulation, but CUDPP does):
[code]

If I write some CudaMemcpy statements in the kernel implementation, the error I receive is "invalid argument" (for the CudaMemcpy function call).

But I also use the following script to

[2017-10-10 10:22] Joshuaalbert commented on #7615
I am getting this same issue on TF 1.3.0, Fedora 25 64-bit installed from pip.

[2017-10-10 10:29] Joshuaalbert opened #13604 "Keras + tfdbg error: Dump root directory does not exist"
# Problem
I'm running the tf debugger and specifically am looking for nans and infs.
I'm doing this from keras using the tf backend by setting the keras sess to tf.Session wrapped with the debugger.

## MVCE
[code]
Inside the debugger execute `run -f has_inf_or_nan`.

## Traceback

OSError: Dump root directory /tmp/tfdbg_dm3xvee9 does not exist.

## Additional info

#7615 references the same error

[2017-10-10 10:39] bodokaiser commented on #13575
@martinwicke

[2017-10-10 10:48] shamanDevel commented on #13603
Each computation of the SVD on the GPU requires one memcpy from Device to the Host: the status report if the algorithm was successful needs to be copied from the GPU to the CPU to be checked.
This can in principle be a bottleneck, but can't be avoided.

But for me, the logs indicate that the GPU version is indeed faster than the CPU if you compare the timings. See my comment in the pull request fo

[2017-10-10 11:33] hzhangxyz commented on #13603
As another clear sample:
[code]

run it and get `timeline.json`, and open it via chrome then get it:

![image](https://user-images.githubusercontent.com/11623447/31384419-8d85faae-ad84-11e7-91a2-7311bd228db8.png)

those memcpy are obviously called by SVD. there is nothing else in the program.

Then zoom in, we can find there is many small memcpy here

![image](https://user-images.githubusercontent

[2017-10-10 11:42] JP-Reddy commented on #7547
I'm using Object_detection api and I'm trying to run a job and I'm getting the error
```Traceback (most recent call last): File "/usr/lib/python2.7/runpy.py", line 162, in _run_module_as_main "__main__", fname, loader, pkg_name) File "/usr/lib/python2.7/runpy.py", line 72, in _run_code exec code in run_globals File "/root/.local/lib/python2.7/site-packages/object_detection/train.py", line 198, in

[2017-10-10 11:59] vclteam commented on #13487
@serendipity24

hi

Thanks for answering, as u can see below, i trained and freezed the model with the sample parameters.
The fact at the moment is that if u change the duration from 1000ms to any other value
the system crash on the freeze with the message

**Assign requires shapes of both tensors to match**

python tensorflow/examples/speech_commands/train.py --data_dir=/notebooks/yesdb/ \
--want

[2017-10-10 12:11] vclteam commented on #13487
and since i'm getting the same exception how exactly did u managed to overcome it?

[2017-10-10 12:23] lalwaniabhi commented on #11351
I am also facing the same problem.
@MaxBareiss did you find any solution for this?

[2017-10-10 12:49] #7407 closed

[2017-10-10 12:49] #10811 closed

[2017-10-10 12:49] #11359 closed

[2017-10-10 12:49] tensorflowbutler commented on #7407
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-10-10 12:49] tensorflowbutler commented on #10811
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-10-10 12:49] tensorflowbutler commented on #11359
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-10-10 12:49] tensorflowbutler commented on #11374
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-10-10 13:23] lukeiwanski commented on #22
@znmeb Following https://github.com/tensorflow/tensorflow/issues/6533#issuecomment-273852647 it seems Python 3.6 should be working - I haven not tried it though

[2017-10-10 13:45] sandersk commented on #13565
Looks like the docs may have gotten a bit out of sync with recent code updates to align with the latest version of the Estimator API. As wolffg mentioned, we are in the process of updating the estimator docs now.

[2017-10-10 14:04] MrGeva commented on #8665
I have the same problem, I get this error: "FailedPreconditionError (see above for traceback): Table not initialized."

I am trying to store my graph as a protobuf and then load it, when I run the graph I get the error above.
When running the graph directly w\o storing to .pb and loading it works fine.

`with tf.gfile.GFile(frozen_file_name, "wb") as f:
    f.write(frozen_graph_def.SerializeToStri

[2017-10-10 14:18] yaroslavvb commented on #13580
Great! BTW, besides `contributing.md` (tells how to run linters), here are my notes for "quick" pull requests in TF

[code]

If it gets too complicated to to eyeball for correctness, then may need to set up dev environment like [here](https://medium.com/@yaroslavvb/setting-up-tensorflow-dev-environment-sep-19-fd27b321de14)

[2017-10-10 14:24] alextp commented on #9234
@strubell @yaroslavvb FYI if you use py_func on a CPU tensor there's no overhead to copy it back and forth between tf and numpy in most cases (we only copy now if the tensor is not in column-order), and since numpy doesn't hold the gil during SVD you shouldn't see too much python overhead.

[2017-10-10 14:29] bxshi commented on #13600
It should be an easy fix. Please let me know if you want me to contribute on this.

[2017-10-10 14:29] yaroslavvb commented on #13603
@hzhangxyz your benchmark is confusing because you have both CPU and GPU SVD in a single session run. It's better to isolate to a single op if the goal is to show that op kernel is slow.

I have a benchmark in https://github.com/tensorflow/tensorflow/issues/13222#issuecomment-331642490 which isolates to just GPU SVD and rules out memory transfers.

In that example (n=1534, float32), TF CPU runs ab

[2017-10-10 14:50] LeeKyungMoon commented on #5036
@sguada The link you added is not working now.

[2017-10-10 14:51] yaroslavvb opened #13607 "Building custom op instructions out of date"
Following instructions here
https://www.tensorflow.org/extend/adding_an_op

To try to rebuild this [op](https://github.com/yaroslavvb/max_align_bytes_op)

First I ran into issue with nsync headers, fixed by following
https://github.com/tensorflow/tensorflow/issues/12482#issuecomment-328829250

Then while trying to load the `.so` file I run into
tensorflow.python.framework.errors_impl.NotFoundError

[2017-10-10 14:53] cy89 commented on #13519
I think we got bit by the similarity of the glyphs for capital-i, and lowercase-L. "FeatureValueToId" gets a few more hits, while "FeatureValueTold" isn't on the site.

However, even FeatureValueToId doesn't have much visible code or documentation. @zheng-xq, are the docs out of date (so we should remove the old reference and replace it with something more recent)?

[2017-10-10 14:54] yaroslavvb commented on #9234
@alextp we no longer need to do numpy tricks to force alignment?

[2017-10-10 14:58] cy89 commented on #13537
@Mazecreator does @ebrevdo 's suggestion get you back in business?

[2017-10-10 15:07] alextp commented on #9234
You only need to force alignment when going from numpy to tensorflow, not
the other way around. I assume when you take the SVD you're not sending the
full U, S, and V matrices back but something smaller.

On Tue, Oct 10, 2017 at 8:00 AM, Yaroslav Bulatov <notifications@github.com>
wrote:

--
 - Alex

[2017-10-10 15:38] tjingrant commented on #13587
@davidben looks like that's it! It appears in the master-with-bazel branch. Should I do a PR and update the boringssl archive [here](https://github.com/tensorflow/tensorflow/blob/a2d9b3bf5f9e96bf459074d079b01e1c74b25afa/tensorflow/workspace.bzl#L593)?

[2017-10-10 15:47] Mazecreator commented on #13537
@cy89 this might do it but it doesn't seem like "tf.contrib.framework.nest.map_structure()" exists.  I am using TF1.3 but checked the HEAD and didn't see that "nest" folder.  I tried to find if it moved to another location but couldn't find it.

I am sure this is a good short term solution within the active LSTM graph but will greatly complicate copying variables from one Net to another as the tra

[2017-10-10 16:00] serendipity24 commented on #13487
"The fact at the moment is that if u change the duration from 1000ms to any other value
the system crash on the freeze with the message"- I didn't change the duration from the default 1000ms during training. So I am sorry, I don't know the reason as of now.

But if the training worked with 2834 ms without any errors, I don't see why the freezing wouldn't work. If you initially trained using 1000ms

[2017-10-10 16:02] martinwicke commented on #13575
@mrry Does Windows Protobuf still have the 64M limit?

@bodokaiser You built from source, can you check your protobuf version?

[2017-10-10 16:10] davidben commented on #13587
Sounds reasonable (though I can't speak for Tensorflow).

[2017-10-10 16:25] bodokaiser commented on #13575
@martinwicke I used `tf-nightly-gpu` package [built by the tensorflow team](http://ci.tensorflow.org/view/tf-nightly/job/tf-nightly-windows/M=windows-gpu,PY=36/). Protobuf version is `3.4.0` (as on `tf-nightly` for macOS)

However I noticed I had to do `from google import protobuf; protobuf.__version__` on the windows machine as `import google; google.protobuf.__version__` would fail with `module

[2017-10-10 16:27] allenlavoie commented on #13607
Sorry about that. The ["adding an op" docs are updated at head](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/extend/adding_an_op.md) (and will go live once 1.4 is released), but right now there's a bit of a mismatch. The important bits:

```TF_LIB=$(python -c 'import tensorflow as tf; print(tf.sysconfig.get_lib())')```

And add to the compiler flags:
```-L$TF_LIB -ltens

[2017-10-10 16:35] allenlavoie commented on #13607
@MarkDaoust maybe we should add a little warning on some of these docs that they're versioned, with a link to head?

[2017-10-10 16:41] JefChiu commented on #13575
I will be out of the office starting  2017/10/11 and will not return until
2017/10/20.

During my absence, you can contact the system owner listed below for any
urgency. And I will get back to you as soon as I return. Thanks for your
support.

Image Process Platform - 郭益銘 ( 774-2020)
HelpDesk 2.0 - 林沂星 (774-2018 )

For any urgent support need, please call my cell phone  0988737530

 --------------

[2017-10-10 16:51] yaroslavvb commented on #13607
Thanks, that fixed it! Looks like desired alignment in latest tf is 32
There used to be a time when TF docs had a pull-down that allowed to select version of docs, including "Master".

[2017-10-10 16:54] yaroslavvb commented on #9690
For those wondering, EIGEN_MAX_ALIGN_BYTES seems to be 32 for xeon/i7 with march=native

[2017-10-10 16:56] clockzhong commented on #4827
@terminator9487
Yes, I've not installed CUDnn library. So what I did is just installing both CUDA and CUDnn. They are different libraries, and you also need pay special attention on their versions also.
It's really a pity that they haven't provided a complete package to setup the tensorflow working environment.
I think the tensorflow, CUDA, and CUDnn fast development pacing is the reason that they

[2017-10-10 17:23] lincoln2010 commented on #13462
https://stackoverflow.com/questions/46672168/how-to-use-tensorflow-to-approximate-hessian-matrixs-norm

[2017-10-10 17:27] gunan commented on #13587
Please feel free to send a pill request to update the boringssl library we
depend on.
If you send it to me for review, I can also make sure the mirror is set up
before merging the pull request.

On Tue, Oct 10, 2017 at 9:14 AM, David Benjamin <notifications@github.com>
wrote:

[2017-10-10 17:28] mrry commented on #13575
@martinwicke I believe we're using the same version of the library on both platforms. Is it possible that there's a missing configuration option needed to disable the limit?

[2017-10-10 17:47] Mazecreator commented on #13537
It might not be the version expected but I found a "**map_structure**" here:
from tensorflow.python.util.nest import *

Running the above code failed with this error so I must have missed something:

    File "/usr/local/lib/python3.5/dist-packages/tensorflow/python/util/nest.py", line 325, in map_structure
      structure[0], [func(*x) for x in entries])
    File "/usr/local/lib/python3.5/dist-pa

[2017-10-10 17:59] asimshankar commented on #13601
The Java API supports boolean tensors but the `TensorFlowInferenceInterface` class does not do so yet. See: https://stackoverflow.com/questions/43001532/how-to-feed-boolean-placeholder-by-means-of-tensorflowinferenceinterface-java

Contributions are welcome to make the change suggested in that StackOverflow answer.

FYI @andrewharp

[2017-10-10 18:02] tongda opened #13610 "Can we run Dataset API on GPU?"
I am running binary TF 1.3.0 on Ubuntu 16.04.

Python Version: 3.5.3

I have Nvidia TITAN Xp installed.

I use Dataset API to build input pipeline. What I want is to extract image features using CNN layers
in the input pipeline. The code looks like this:

[code]

When running the code, my CPU usage is more than 1000% (I have an 6 cores/12 threads CPU), while the GPU usage is 0%. I suspect that the

[2017-10-10 18:29] yzhwang commented on #5688
Hi @HggsHntr , thanks for the info! Since we do not have any Windows machine with Pascal/Maxwell card, I will provide some suggestions on how to further debugging the issue:
1) os.environ['TF_CUDNN_USE_AUTOTUNE'] = '0'
or type:
set TF_CUDNN_USE_AUTOTUNE=0
This will disable the autotune on convolutions, and force all cudnn convolution calls to use the default algorithm.
If this doesn't solve the pr

[2017-10-10 18:33] asimshankar commented on #13610
As you gathered, currently datasets execute all the computation on CPU.

@rohan100jain is in the process of adding some functionality to be able to invoke TensorFlow functions on different devices, which will be a pre-requisite but not sufficient for executing parts of the computation in a dataset pipeline on GPU.

So, long story short: At this moment there is no concrete timeline for executing th

[2017-10-10 18:50] Mazecreator commented on #13537
I have been working on this for a while now.  I was not certain what needs to replace "#variable_tuple," in the map_structure but have a better guess:

        output, self.new_state = tf.nn.dynamic_rnn(self.cell_L1,hidden_input,time_major=True,\
                initial_state=self.state,  dtype=tf.float32, swap_memory=True)

        update = tf.contrib.framework.nest.map_structure(

[2017-10-10 19:58] ybsave commented on #13591
Thank you both for your help. After I change the float32 to int32, the number now overflows normally.
After I added the tf.OptimizerOptions.L0 as @reedwm suggested, I encountered the following weird issues:

1. Test1() started to show output message " CUDA_ERROR_OUT_OF_MEMORY" as soon as NUM_ELEMS is greater than int((4 * GPU_MEMORY_BYTES / 8) / 4), but it did not crash and still outputs the overf

[2017-10-10 20:04] oldschool69 opened #13614 "SSD mobilenet trained model with custom data only recognize images in short distances"
System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
     No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
     Ubuntu 14.04
- **TensorFlow installed from (source or binary)**:
     binary
- **TensorFlow version (use command below)**:
     'v1.2.0-rc2-21-g12f033d', '1.2.0'
- **Python version**:
     2.7
- **Bazel

[2017-10-10 20:14] adennie commented on #7108
@cancan101 did the fix from #12573 solve this issue for you?

[2017-10-10 20:56] ebrevdo commented on #13537
You can only assign something to a Variable object.  So if you want an
initial state it has to be a tuple of Variables (and cell.zero_state()
doesn't return Variables - only Tensors).  You can then assign to those in
your update.

On Tue, Oct 10, 2017 at 11:54 AM, Greg Peatfield <notifications@github.com>
wrote:

[2017-10-10 21:15] yaroslavvb opened #13615 "Importing tensorflow after import pytorch crashes inside tensorflow::port::TestCPUFeature"
TF version:  https://github.com/tensorflow/tensorflow/commit/07bf1d3
PyTorch version: '0.2.0_4' (whatever is installed by default yesterday)

Crashing code
[code]
Work-around
[code]

Stacktrace

[code]

[2017-10-10 21:17] #13576 closed

[2017-10-10 21:32] eLvErDe commented on #22
@lukeiwanski Is that a ComputeCpp version that can build TF at the moment ?
I tried various versions between 0.3.2 and 0.1.4 and none worked. They all ended up with the "multiple overloads of 'global_ptr' instantiate to the same signature" error.
Btw, I cannot find the TensorDeviceSycl.h file in TF sources, is that a renamed one ? Is it possible to apply the patch to current sources ?

Thanks in a

[2017-10-10 21:45] lukeiwanski commented on #22
@eLvErDe ComputeCpp 0.3.2 can build: https://github.com/lukeiwanski/tensorflow/tree/dev/amd_gpu

Upstream is missing a patch to Eigen that fixes it.. see https://github.com/tensorflow/tensorflow/issues/22#issuecomment-334154564

[2017-10-10 21:47] eLvErDe commented on #22
Any idea how to inject this Eigen patch during bazel build ? Maybe we should bump somewhere Eigen tgz version to get the fixed one ?

Thanks, Adam.

[2017-10-10 21:53] eLvErDe commented on #22
https://github.com/lukeiwanski/tensorflow/commit/8468d65e87e083337f18616f75ac56d3296d6ab1

This commit would be enough to get it built ?

[2017-10-10 22:00] lukeiwanski commented on #22
yes, you should be able to cherry-pick that

[2017-10-10 22:15] printdhruv commented on #13604
Can you please follow [template](https://github.com/tensorflow/tensorflow/blob/master/ISSUE_TEMPLATE.md) so that can have more information?

[2017-10-10 22:21] awav opened #13616 "Force tensor evaluation inside while-loop, scan and others."
Hello everyone,

I had big plans for `tf.while_loop` until I discovered that it is impossible to re-evaluate tensor inside it. Let's dive into the the issue and potential useful feature:

[code]

I created `v` variable and tensor `sq` which equals to `v^2`. In fact, we don't have control over them, they are our input as `x` and `y` and we know that `y` depends on `x`. I would like to assign new va

[2017-10-10 22:32] eLvErDe commented on #22
Well sadly, that's clearly not sufficient, here're some of the next build failures:

[code]

[code]

[2017-10-10 22:41] paige-pruitt commented on #13256
I appear having the same issues with a Windows build of tensorflow (installed via pip, version 1.3.0 for Python3.5). I found the problem when porting my scripts from Linux to windows, and I tested the sample code above and got the same result.

[2017-10-10 22:59] lukeiwanski commented on #22
@eLvErDe there are few comits that you have to apply to get it compiling.
I would suggest using tip of dev/amd_gpu or if you don't want to change your current branch.. you can merge dev/amd_gpu to it.

[2017-10-10 23:03] eLvErDe commented on #22
Actually I m working on my official Debian/Ubuntu package so I'm trying to keep close to official 1.3.1 release. I can live without OpenCL support but I'd to be ready to enable it as soon as it's correctly supported. Maybe I'll update packages against your branch for testing purposes, but that's enough for today ;)

[2017-10-10 23:53] tatatodd commented on #13442
@AyubQuadri based on your script, it seems that your `import tensorflow as tf` isn't picking up the GPU version that you installed.

I'm not a python expert, but to figure out what file you're importing, you can do something like this:

I'm expecting you'll be picking up some other non-gpu install.

[2017-10-10 23:57] allenlavoie commented on #13615
Looks like PyTorch is exporting some pthread symbols via RTLD_GLOBAL. We don't use RTLD_GLOBAL anymore, but we're still exposed to those symbols.

Other than defensively using RTLD_DEEPBIND in pywrap_tensorflow.py (which does fix the crash for me, but would also break people who use LD_PRELOAD), I guess we just need to avoid using that symbol.

[2017-10-10 23:58] tatatodd commented on #13460
Contributions are welcome!

[2017-10-11 00:07] tatatodd commented on #13466
@dariavel Thanks for filing the issue.
@junshi15 Thanks for the quick update.

Note that packages under `contrib` are less well supported by the core TensorFlow team.
I'm marking this as contributions welcome, in case somebody in the community would like to attempt to add verbs support for non-GPU.

[2017-10-11 00:12] PatWie commented on #12860
The commit 2c598e874e6a7b6b3185846ce9bac97a7d5d0169 destroys my makefile, too. This commit changed consists of several

[code]

giving the exact same error message:

[code]

compiling user-ops with GPU does not work since 1.3.1.

Does anybody know where tensorflower-gardener currently lifes? He is the guy who usually introduces the breaking changes!

[2017-10-11 00:20] tatatodd commented on #13482
@MartinZZZ  What happens when you try to build the existing `tfcompile_test`?
[code]

That corresponds to the following source file:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/aot/tests/tfcompile_test.cc

[2017-10-11 00:33] tatatodd commented on #13490
@shchur I suspect that this was fixed on Sept 5 with this commit: 1f38a9c2f86cf1730d7bf782b4f4747106566850

You can try one of our nightly builds (or build from sources) to see if this fixes the problem:
https://github.com/tensorflow/tensorflow#installation

[2017-10-11 00:37] tatatodd commented on #13492
@yaroslavvb Thanks for filing the issue!  Indeed this looks like a bug.

@asimshankar Can you suggest someone who might be available to look into a fix?

[2017-10-11 00:44] tatatodd commented on #13532
Sorry @martin-gorner but I'm going to close this out.  We have limited resources in fielding github issues, so we really need to be strict wrt our "bugs+features in github, questions on StackOverflow" policy.

Here's the standard boilerplate:

This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is

[2017-10-11 00:44] #13532 closed

[2017-10-11 00:47] tatatodd commented on #13546
@jhseu Do you have ideas on who might be able to evaluate / work on this?

[2017-10-11 00:53] tatatodd commented on #13578
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-11 00:53] #13578 closed

[2017-10-11 00:55] tatatodd commented on #13584
@SusieZ Sorry, I don't understand the question.

Please follow the instructions in the `New issue` template.

And please note: if this is a tensorboard question, please file it here:
https://github.com/tensorflow/tensorboard/issues

[2017-10-11 00:55] #13584 closed

[2017-10-11 00:56] tatatodd commented on #13588
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-11 00:56] #13588 closed

[2017-10-11 00:56] danqing commented on #13295
Link to our 1.3.1 debug builds: https://github.com/mind/wheels/releases/tag/tf1.3.1-cpu-debug. CPU-only for now - we can try to get some GPU ones if there's interest.

[2017-10-11 00:59] tatatodd commented on #13594
@Threynaud Sorry, but we have limited resources for handling github issues, so we really do need to strictly require general questions to be handled on StackOverflow.

Closing this out.  FYI @jhseu for the StackOverflow question.

[2017-10-11 00:59] #13594 closed

[2017-10-11 01:00] tatatodd commented on #13600
@ebrevdo Can you comment on this?

[2017-10-11 01:00] selcouthlyBlue commented on #13578
Updated the post.

[2017-10-11 01:00] tatatodd commented on #13614
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-11 01:00] #13614 closed

[2017-10-11 01:05] tatatodd commented on #13616
@skye Can you comment on this?

[2017-10-11 01:20] yaroslavvb commented on #13308
btw, you can get exact line number/values of args by using debug build
https://github.com/mind/wheels/releases/tag/tf1.3.1-cpu-debug

[2017-10-11 01:47] adil25 commented on #10213
@zhedongzheng ......yes it works, thank you very much, God Bless you............

[2017-10-11 01:55] MartinZZZ commented on #13482
@tatatodd Thanks for your suggestion.
I just built the existing `tfcompile_test` with the following command:
[code]
and the error occurred as well:

[code]

Here is the `BUILD` file:

[code]

The current TensorFlow version is `v1.3.0-rc1-3000-g840dcae`

May I have your advice?

[2017-10-11 02:34] HannH opened #13618 "question in image_ops_impl.py"
I am confused about the code line 827 in image_ops_impl.py .It should be
variance = (math_ops.reduce_mean(math_ops.square(image-image_mean))

or some reason for the equation?

[2017-10-11 02:40] Kwoks2017 opened #13619 "The value of a feed cannot be a tf.Tensor object. Acceptable feed values include Python scalars, str"
When i feed the value, unfortunately , it is a tensor.
i have already known that i should convert it to a array or other types to feed. But if i use sess.run() or .eval(). The speed makes me crazy, for the shape is [3600,14,25500].

if other ways are available?

[2017-10-11 03:04] soumith commented on #13615
Sorry for the issue, we'll fix it in the next pytorch release with a solution described here: https://github.com/pytorch/pytorch/issues/3059#issuecomment-335668027

[2017-10-11 03:14] Kwoks2017 commented on #3389
I have the same opinion as yours. These days, i use the cnn to do some text work. For the input's dimension  is too large, i have to change it to other type in case of the memory error. But , what confused me is the same as yous. Why tensor cannot be a feed_dict value!!!

[2017-10-11 03:45] AyubQuadri commented on #13442
I am closing this issue, as i have configured the Tensorflow-GPU version of it.

[2017-10-11 03:46] #13442 closed

[2017-10-11 04:05] rhololkeolke opened #13620 "Erase Operation on tf.contrib.lookup.MutableHashTable"
### System information
- TensorFlow r1.3

### Describe the problem

The `tf.contrib.lookup` package has `MutableHashTable` class which wraps the C++11 std::unordered_map class. However, the erase method of unordered_map is not exposed.

Is there some existing way to erase keys from the lookup table?

If not I can create a patch with a new kernel/op on the MutableHashTable classes, and also add a m

[2017-10-11 04:06] tatatodd commented on #13522
@VladimirRoaming I'm also somewhat confused by your description of the problem.  Let me attempt to re-phrase the questions I think you're asking:

1) Are `libtensorflow.so` and `libtensorflow_cc.so` intended to be used together, or separately?  I.e. is the user allowed to link both into the same binary?

2) Should we expect that C API symbols are exported via `libtensorflow_cc.so`?  Or should they

[2017-10-11 04:12] tatatodd commented on #13482
@MartinZZZ Can you try again, starting with a clean copy of the sources (without any of your changes), and running:
[code]

If that still fails, there's either some issue with the way your bazel is set up, or something is going wrong elsewhere.

[2017-10-11 04:45] alisahaf70 opened #13621 "“None” value for gradient of Tensorflow variables which is used in the network"
I want to develop a custom Seq2Seq in tensorflow and I've created this part of network

`wflat0 = tf.get_variable("wflat0", shape=(1024, 1024),
initializer=LinearInitializer)
bflat0 = tf.get_variable("bflat0", shape=1024, initializer=BiasInitializer)

l0flat = selu(tf.matmul(x, wflat0) + bflat0)
x=tf.reshape(l0flat,[shape[0],shape[1],1024])
x = tf.unstack(x, constant.Lstm_cell, 1)
lstm_cell = tf.c

[2017-10-11 04:47] tatatodd commented on #13618
Looking at the code history, the current logic has been there since "the beginning".

The code in question is here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/image_ops_impl.py#L827

Here's the existing code:
[code]

Here's the proposed code:
[code]

I believe these compute the same logical value, but might have different properties wrt numerical stability.

@rmlars

[2017-10-11 04:51] tatatodd commented on #13620
@ysuematsu Can you comment on this?

[2017-10-11 05:09] ebrevdo commented on #13600
The original author should address the issue.

[2017-10-11 05:24] bobeo commented on #3549
@andrewharp any luck with this?

[2017-10-11 05:26] xyzhou-puck commented on #2150
So does anyone test the implementation above? It would be very useful if we could easily implement our own RNNCells. :)

[2017-10-11 06:38] tatatodd commented on #13600
@ebrevdo my apologies, but it looks like the original author was an intern and not on github, and you reviewed the change that introduced LayerNormBasicLSTMCell.

Do you have recommendations for anyone else who might have the context to evaluate this issue?

[2017-10-11 07:01] MartinZZZ commented on #13482
@tatatodd Thanks for your suggestion. I tried a clean copy of the sources, and built the `tfcompile_test` successfully.

But error still occurs when building `tfmatmul` according to the [tutorial](https://www.tensorflow.org/performance/xla/tfcompile). Here is the detailed procedure, and hope to have your advice (The following 4 steps are corresponding to the 4 steps in the tutorial):

- Step 1: Co

[2017-10-11 07:04] HggsHntr commented on #5688
Hi @yzhwang ,
I set both env vars as you suggested. still no luck. It is still crashing on network sizes larger than roughly 200.  Let me know if you want to see the errors.
About adding some debugging code messages, I don't mind to give it a try but I don't have a building environment for tensorflow. Is there an instruction page on how to do it?

thanks for all you effort.

[2017-10-11 07:18] asimshankar commented on #13522
@VladimirRoaming : Can you reduce the problem to linking of a C++ binary? From what you've shared, it's hard for us to comment since there are many layers (including swift code which we're not familiar with) to wade through.

That said, I think [the change to split the TensorFlow shared libraries](https://github.com/tensorflow/tensorflow/commit/5c7f9e316d8c7735308a217310350d416d7498cc) into `libte

[2017-10-11 07:18] VladimirRoaming commented on #13522
Sorry for my flow of consciousness,
I faced several issues in the new version and tried to resolve them.
Yes, you're absolutely right with those 3 points.
There is one more issue with linking phase at linux, I will describe it in a special ticket.

[2017-10-11 07:24] asimshankar commented on #13522
@VladimirRoaming : It seems our posts might have collided. Does adding `-ltensorflow_framework` solve your issue? If not, please provide a short reproduction of the problem (similar to the commands and example program I shared above).

[2017-10-11 07:30] josephlau opened #13622 "CudnnLSTM returns all Ones(1) after the 10th sequence"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.3
- **Python version**: 3.5
- **Bazel version (if compiling from source)**: v1.3.0-rc1-1486-g752dcb

[2017-10-11 07:39] asimshankar commented on #13492
@skye : Could you take a look? (And whatever the fix is, should also work when we fully transition Python graph construction to the C API :)

[2017-10-11 07:40] tatatodd commented on #13482
@MartinZZZ If `tfcompile_test` builds successfully from clean sources, your edits must be causing the problem.

I think the problem is your steps 2.1 and 2.2.  These steps are conflicting with the files `test_graph_tfmatmul.pb`, `test_graph_tfmatmul.h` and `test_graph_tfmatmul.o` that already exist.

In particular your step 2.2 doesn't actually exist in the tutorial.  Step 2 of the tutorial is try

[2017-10-11 07:44] VladimirRoaming commented on #13522
Had to rebuild tensorflow from the scratch.
Yes, `-ltensorflow_framework` helped. Thanks a lot.

[2017-10-11 07:50] asimshankar commented on #13522
Closing this issue out since it seems it has been addressed.

[2017-10-11 07:50] #13522 closed

[2017-10-11 08:00] gauss-clb opened #13623 "Why the parameters aren't stored on ps server for distributed tensorflow ?"
Please see more detail on [stackoverflow](https://stackoverflow.com/questions/46667790/distributed-tensorflow-of-between-graph-replication).

I don't start `ps` server, and parameters are stored on `worker` server.

[2017-10-11 08:40] sjperkins commented on #13308
@yaroslavvb Thanks for the link.

Both standard and debug versions of tinymind's 1.3.1 wheels run the Sharding function correctly.

tensorflowers, will this be fixed in 1.4.0?

[2017-10-11 08:43] jaydeep95 commented on #5729
@petewarden I read your tutorial related to GPU accelerated image processing on pi , but is there any possibilities of utilizing GPU for tensorflow classifcation? and if yes than how . Thanks for great article

[2017-10-11 08:57] sjperkins commented on #13308
Hmmm, this still segfaults for me on `tf-nightly-gpu`.

[2017-10-11 09:11] sjperkins commented on #13308
Here is the minimal test case [shard_fails.zip](https://github.com/tensorflow/tensorflow/files/1374909/shard_fails.zip) updated for building the op on 1.4.0.

[2017-10-11 09:12] stepelu commented on #12570
Well, `sample` should be dealt with separately really, but for `log_cdf` please see 2.3 in:
https://arxiv.org/pdf/1509.01631.pdf
This should hopefully extend to non-log versions and to the Beta distribution.

[2017-10-11 09:21] vclteam commented on #13487
@serendipity24
i deleted everything even used a clean docker.nothing!
where i change the duration freeze just keep crashing

[2017-10-11 09:23] rainstaryl commented on #13349
@yushinliu  so you solve this problem by using CUDA 8.0 and cuDNN of what version? I met exactly same errors and I'm encountering hardware warnings when installing CUDA 8.0. Thank you.

[2017-10-11 09:28] vclteam opened #13624 "speech demo is not working on duration different from 1000ms"
hi

when i try to use a different data-set (different duration) on the speech recognition demo. the training works well.but the freeze part crash with the message

**"Assign requires shapes of both tensors to match "**

tried almost everything:
- delete the temp directory
- pass the same param from train to freeze
- make sure that all wav file are with the same size
- used the nightly docker
- use

[2017-10-11 09:29] zhbbupt opened #13625 "Something wrong while using C++ Session.Run api."
I use tensorflow C++ api to run my model. I flower this reference: [label_image](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/label_image/main.cc).
In my model, the outputs' shape is 2d,  I run model like this:

` std::vector<Tensor> outputs;`
`status = session->Run(m_feed_dict, {"model/wav_outputs"},{}, &outputs);`
However, I get this:
`
tensorflow/core/framework/tenso

[2017-10-11 09:55] anilbeereddy135 opened #13626 "[Import Error] Tensorflow is looking for wrong shared library; libnvidia-fatbinaryloader.so.375.88"
### System information
- **OS Platform and Distribution**:  Ubuntu 16.04
- **TensorFlow installed from**: Binary
- **TensorFlow version**: 1.3.0
- **Python version**: 2.7
- **CUDA/cuDNN version**: 6
- **GPU model and memory**: GTX 840M, 2GB
- **Exact command to reproduce**: import tensorflow as tf

When ever I try to import tensorflow (1.3.0), I encounter a ImportError where the system is unable t

[2017-10-11 09:56] kouzant opened #13627 "HDFS user impersonation"
TensorFlow  does support HDFS filesystem but there is no way to specify as which user to access the filesystem.

The native hdfs library provides a function to set the user name, hdfsBuilderSetUserName() similar to hdfsBuilderSetNameNode(). There is also hdfsConnectAsUser() where you can specify the user, builds the hdfsBuilder struct, set the username among other arguments and return the FileSyst

[2017-10-11 10:49] Ellie68 opened #13628 "INFO:tensorflow:Error reported to Coordinator: <class 'tensorflow.python.framework.errors_impl.InvalidArgumentError'>, assertion failed: [Unable to decode bytes as JPEG, PNG, GIF, or BMP] [[Node: case/If_0/decode_image/cond_jpeg/cond_png/cond_gif"
Hi all,
I use Python 2.7.13 and Tensorflow 1.3.0 on CPU.

I want to use DensNet( [https://github.com/pudae/tensorflow-densenet](url) ) for regression problem. My data contains 60000 jpeg images with 37 float labels for each image.
I saved my data into tfrecords files by:

`
def Read_Labels(label_path):
    labels_csv = pd.read_csv(label_path)
    labels = np.array(labels_csv)
    return labels[:,1

[2017-10-11 10:52] Ellie68 opened #13629 "INFO:tensorflow:Error reported to Coordinator: <class 'tensorflow.python.framework.errors_impl.InvalidArgumentError'>, assertion failed: [Unable to decode bytes as JPEG, PNG, GIF, or BMP] [[Node: case/If_0/decode_image/cond_jpeg/cond_png/cond_gif"
Hi all,
I use Python 2.7.13 and Tensorflow 1.3.0 on CPU.

I want to use DensNet( [https://github.com/pudae/tensorflow-densenet](url) ) for regression problem. My data contains 60000 jpeg images with 37 float labels for each image.
I saved my data into tfrecords files by:

`
def Read_Labels(label_path):
    labels_csv = pd.read_csv(label_path)
    labels = np.array(labels_csv)
    return labels[:,1

[2017-10-11 10:52] Ellie68 opened #13630 "INFO:tensorflow:Error reported to Coordinator: <class 'tensorflow.python.framework.errors_impl.InvalidArgumentError'>, assertion failed: [Unable to decode bytes as JPEG, PNG, GIF, or BMP]"
Hi all,
I use Python 2.7.13 and Tensorflow 1.3.0 on CPU.

I want to use DensNet( [https://github.com/pudae/tensorflow-densenet](url) ) for regression problem. My data contains 60000 jpeg images with 37 float labels for each image.
I saved my data into tfrecords files by:

`
def Read_Labels(label_path):
    labels_csv = pd.read_csv(label_path)
    labels = np.array(labels_csv)
    return labels[:,1

[2017-10-11 10:55] jimdowling commented on #13627
We can install our own build of tensorflow. And submit a PR to tensorflow in the meantime.

[2017-10-11 10:57] #13630 closed

[2017-10-11 10:57] #13629 closed

[2017-10-11 11:01] lukaszgrad opened #13631 "[Feature Request] Add partial_run and partial_run_setup to MonitoredSession"
Hello,

as mentioned in the topic, I wonder if there is a chance in the near future for MonitoredSession to support partial graph computation.

[2017-10-11 11:11] Carmezim commented on #13349
@rainstaryl folks honestly need to check the docs before. You'll see reverently the supported version is 6.0.

[2017-10-11 11:19] rainstaryl commented on #13349
@Carmezim thank you and when do you expect CUDA9.0 could be supported normally?

[2017-10-11 11:57] serendipity24 commented on #13487
@vclteam just to be very clear, are you changing the duration during training or freezing? As previously mentioned, if the duration used in training and freezing are different, then it will crash.  So, may I know what duration are you using during training? Is it 2834 seconds as mentioned above by you?

[2017-10-11 12:15] Carmezim commented on #13349
@rainstaryl Likely on TF 1.5

[2017-10-11 12:18] Carmezim commented on #13349
@poxvoculi Should this issue be closed for inactivity by the author? If he didn't manage to solve yet he could open again.

[2017-10-11 12:18] vade commented on #10685
Quick note that blocker https://github.com/bazelbuild/bazel/issues/407 was just closed

[2017-10-11 12:47] vclteam commented on #13487
@serendipity24  2834 is the duration in milliseconds and im using the same value for the train and freeze.and while putting the value of 1000ms everything working great,change this value generate exception on the freeze

[2017-10-11 12:52] konstunn commented on #11829
Thanks, I've simply done: `$ sudo -H pip3 install tf-nightly` to install a nightly build from PyPI. Now `import tensorflow.contrib` takes 1.4 seconds to run. An order of magnitude better! Good job!

[2017-10-11 12:58] Narthyard opened #13632 "W tensorflow/stream_executor/cuda/cuda_dnn.cc:2223]"
The source code I try to compile has been changed, and now it requires tf-nightly build(1.4 version). For that reason, I created new conda environment which includes 1.4 version of tensorflow.

However, I still use the same set-up except the version of tensorflow. I've read they anticipate releasing 1.4 version of tensorflow wih cuDNN 7 instead of cuDNN 6. Is this the reason that I get these warni

[2017-10-11 12:59] yushinliu commented on #13349
@rainstaryl  yes , I solved it by installing the CUDA 8 and cuDNN v6.0, glad that you solved it as well

[2017-10-11 13:01] pacey commented on #2680
We had a similar issue today trying to run the Android example project

[code]

[2017-10-11 13:57] Leslie-Fang opened #13634 "Failed build tensorflow with bazel, failed with: error SQLite will not work correctly with the -ffast-math option of GCC."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-10-11 14:06] DarcyCode commented on #13461
@asimshankar Thanks for answering my questions. I define a CNN with BN on a computer(no-GPU) with CPU-version tensorflow r1.3. Code is below:
`X = tf.placeholder(tf.float32, [None, LENGTH],name='X')
Y = tf.placeholder(tf.float32, [None, MAX_CAPTCHA*CHAR_SET_LEN],name='Y')
keep_prob = tf.placeholder(tf.float32,name='keep_prob') # dropout
train_phase = tf.placeholder(tf.bool, name='train_phase')

de

[2017-10-11 14:08] mrry commented on #13349
Thanks for your help as always, @Carmezim! I think we can close this one now.

(By the way, TF 1.4 should have more actionable error messages for DLL problems, so I'm hoping that the support load should shrink....)

[2017-10-11 14:08] #13349 closed

[2017-10-11 14:15] w9wang2 opened #13635 "w9wang2"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-10-11 14:36] w9wang2 commented on #12593
I have a similar issue with the TF Detection using Samsung Galaxy S5 with android version 6,  built from Android Studio in windows 10.  After the APK was installed to the Galaxy S5, the camera preview showed for a couple seconds and then the app stopped.  the  error message is:

E/BufferQueueProducer: [SurfaceTexture-1-8262-1] dequeueBuffer: min undequeued buffer count (2) exceeded (dequeued=5 und

[2017-10-11 14:37] vclteam commented on #13624
sorry my bad

[2017-10-11 14:37] #13624 closed

[2017-10-11 14:38] vclteam commented on #13487
sorry found the problem,its related to linux command line not tensorflow at all
@serendipity24

[2017-10-11 15:13] #13635 closed

[2017-10-11 15:15] DEKHTIARJonathan opened #13636 "get_shape() does not work for output of tf.image.resize_nearest_neighbor()"
Hello everyone,

Following the issue  #7932, I have also noticed that get_shape() does not work when using
tf.image.resize_nearest_neighbor().

I use linux 16.06 and TF in [1.3.0, 1.3.1, 1.4.0-dev20171008] and I have the same error.

The error is quite easy to understand. The fact that tf.image.resize_nearest_neighbor is unable to compute correctly **get_shape** leads to some problematic behavior.

[2017-10-11 15:21] xavierpuigf commented on #9857
@stephenjia  Did you get the issue resolved? I agree such feature would be really useful. I can't find a way to do it without previously creating TFRecords or using feed_dict

[2017-10-11 15:25] yaroslavvb commented on #9234
BTW, running this example under debug mode triggers a debug assert inside Eigen

`python: external/eigen_archive/Eigen/src/Core/DenseCoeffsBase.h:180: Eigen::DenseCoeffsBase<Derived, 0>::CoeffReturnType Eigen::DenseCoeffsBase<Derived, 0>::operator()(Eigen::Index) const [with Derived = Eigen::Ref<Eigen::Array<long int, 1, -1> >; Eigen::DenseCoeffsBase<Derived, 0>::CoeffReturnType = const long int&;

[2017-10-11 15:36] andrewharp commented on #12593
@w9wang2 Do you have your build.gradle set up to grab an explicit version of the TF library? This should be fixed in [1.3.1-alpha](https://bintray.com/google/tensorflow/tensorflow/1.3.1-alpha). It looks like you're grabbing a 1.3.0 release, which did not build in the necessary bool support.

[2017-10-11 15:37] martinwicke commented on #13575
The default limit starting at 3.2 is 2G -- there doesn't seem to be anything platform related in that code.

[2017-10-11 15:51] DEKHTIARJonathan commented on #13636
Thanks to the work in Keras, I managed to design a workaround:

[code]

Do you think, a PR should fix this ? Or is it maybe normal behavior ...

[2017-10-11 15:59] w9wang2 commented on #12593
the build.gradle I used is like below, I should change it to compile 'org.tensorflow:tensorflow-android:1.3.1-alpha', right?compile 'org.tensorflow:tensorflow-android:+'
Thanks.      From: Andrew Harp <notifications@github.com>
 To: tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: w9wang2 <w9wang2@yahoo.com>; Mention <mention@noreply.github.com>
 Sent: Wednesday, October 11, 2017 10:41 AM

[2017-10-11 16:05] yaroslavvb commented on #13603
BTW, I updated [benchmark](https://github.com/yaroslavvb/stuff/blob/master/gpu_svd_bench.py) with PyTorch numbers. PyTorch and TF get similar performance on CPU, but very different on GPU (PyTorch ran 12x faster)

[2017-10-11 16:06] serendipity24 commented on #13487
@vclteam no need for sorry, glad it was resolved :), but curiosity sake I have two questions:
(i) If you trained with 2834ms and gave the freeze command with 2834ms,  what do you mean by "while putting the value of 1000ms" ?
(ii) What about linux command line caused this error?

Thanks

[2017-10-11 16:07] yaroslavvb commented on #13603
I've updated [benchmark](https://github.com/yaroslavvb/stuff/blob/master/gpu_svd_bench.py) to compare against PyTorch svd as well. CPU performance is similar between PyTorch and TF, but GPU performance was 12x faster in PyTorch

[2017-10-11 16:08] w9wang2 commented on #12593
I just tried build.gradle with compile 'org.tensorflow:tensorflow-android:1.3.1-alpha', but it could not find it. How to get this one?
Thanks.

      From: Wensu Wang <w9wang2@yahoo.com>
 To: tensorflow/tensorflow <reply@reply.github.com>; tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
 Sent: Wednesday, October 11, 2017 10:59 AM
 Subject: Re: [tensor

[2017-10-11 16:09] andrewharp commented on #12593
The + should work, if it doesn't then I doubt writing 1.3.1-alpha will (but you could try).

We may have a temporary problem with resolving the latest archive as we try to consolidate the TF bintray/jcenter/maven entries, so until that is resolved I'd suggest dropping the AAR into your project manually.

[2017-10-11 16:19] allenlavoie commented on #13632
The fast_tensor_util warning is because we only build for 3.5, then copy the pip package to a 3.6 name assuming they will be compatible (I think). This was true, but we're using a bit of Cython-compiled code now. Probably Cython is a bit overcautious with the version checking here, but we should get rid of the warning anyway.

@av8ramit would it be difficult to start building nightlies (and releas

[2017-10-11 16:51] w9wang2 commented on #12593
Could you please advise how to include the AAR manually to the tensorflow detect project in Android studio.
Thanks.

      From: Andrew Harp <notifications@github.com>
 To: tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: w9wang2 <w9wang2@yahoo.com>; Mention <mention@noreply.github.com>
 Sent: Wednesday, October 11, 2017 11:14 AM
 Subject: Re: [tensorflow/tensorflow] Android Demo - Bug -

[2017-10-11 16:52] skye commented on #13492
Hi @yaroslavvb, the problem is that the entire graph will be placed, not the pruned graph. This means that even when you're not attempting to run the diag op with the invalid device, it will still try to place it, causing the error. You can set place_pruned_graph to true in the ConfigOptions passed to a Session to avoid this, see https://github.com/tensorflow/tensorflow/blob/r1.3/tensorflow/core/p

[2017-10-11 16:52] #13492 closed

[2017-10-11 16:56] liqimai opened #13639 "Invoke get_shape() on sparse_tensor leads to feeding error"
If I invoke get_shape method on sparse_tensor, the shape tensor will be added into the _unfeedable_tensors set of the current graph. Then when I feed the sparse tensor, an error occurs.

The codes below show this error

[code]

The stacktrace
[code]
------------------------

### System information
I do not think this bug is related to my environment.
== cat /etc/issue =============================

[2017-10-11 16:57] andrewharp commented on #12593
https://stackoverflow.com/questions/29826717/how-to-import-a-aar-file-into-android-studio-1-1-0-and-use-it-in-my-code

You can find the latest successful nightly build of the TF AAR [here](https://ci.tensorflow.org/view/Nightly/job/nightly-android/lastSuccessfulBuild/artifact/out/tensorflow.aar), or download the latest released version from the bintray link above.

[2017-10-11 17:03] rmlarsen commented on #6503
The code was submitted and should appear on github within a day or so.

[2017-10-11 17:11] drpngx commented on #11829
Woohoo!

On Wed, Oct 11, 2017, 5:55 AM Konstantin Gorbunov <notifications@github.com>
wrote:

[2017-10-11 17:14] rmlarsen commented on #6503
Let me close this and open a new issue for extending support for more general matrices.

[2017-10-11 17:14] #6503 closed

[2017-10-11 17:18] rmlarsen opened #13641 "Extend SVD gradient to support backpropagating through complex and (strongly) rectangular U and V"
This initial version of SVD gradients has the following restrictions:
  Only supports statically known inner matrix dimensions m and n.

Backpropagating through U and V (i.e. backpropagating through SVD nodes with compute_uv=True) has further restrictions:
  a) Only supports real tensors.
  b) Only supports square and "almost square" matrices where the number of rows and columns differ by at most

[2017-10-11 17:23] rmlarsen commented on #6503
@caisq thanks for the quick push!

[2017-10-11 17:36] reedwm commented on #13591
I cannot reproduce. For me, changing the type to `int32` does not cause out of memory errors, and outputs the result. I am running the code

[code]

The reason there is no OOM error is that for `int32` types, many ops are done on the CPU with CPU memory, not GPU memory. For example, see the [`Const` op kernel](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/constant_op

[2017-10-11 17:52] reedwm commented on #13577
@davidsoergel, do you know why `tf.train.Example`s are significantly larger than the equivalent row of a CSV file?

[2017-10-11 17:55] skye commented on #13616
Let me make sure I understand what you're requesting: you would like a tensor computed from variables to have a new updated value every time it's executed in a while loop.

This is a reasonable expectation. However, I don't think we'll change this behavior. Right now, only tensors defined inside the loop will be evaluated every loop iteration. All tensors defined outside a loop will be evaluated e

[2017-10-11 17:55] skye commented on #13616
@ebrevdo @mrry FYI

[2017-10-11 18:04] Ishan23 commented on #13349
@rainstaryl try uninstalling previous versions of CUDA first before installing CUDA 8.0. Also, get cuDNN 5.1.
It worked in my system. Hope it helps :)

[2017-10-11 18:10] chentingpc opened #13642 "[bug?] tf.nn.embedding_lookup returns 0 when ids out of range"
It seems tf.nn.embedding_lookup will simply return tensor of zeros when ids out of range (larger than the embedding table size):
[code]
The emb will be tensor of zeros. I am not sure if this is a bug, or by design for efficiency concern? It would be nice if there is a runtime exception. That will do a big favor in avoiding hidden bugs that lead to performance degeneration.

(I am running tensorflo

[2017-10-11 18:11] Thenerdstation commented on #12570
Hey thanks for this!
Seeing how there is a lot of looping for the approximation, we might have to create a new op for this. Not sure on timeline but I'll keep at it.

[2017-10-11 18:16] w9wang2 commented on #12593
I manually add the AAP file, now the TF Detect works as expected, Thank you very much for your help!

      From: Andrew Harp <notifications@github.com>
 To: tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: w9wang2 <w9wang2@yahoo.com>; Mention <mention@noreply.github.com>
 Sent: Wednesday, October 11, 2017 12:01 PM
 Subject: Re: [tensorflow/tensorflow] Android Demo - Bug - Exception in TF

[2017-10-11 18:20] ybsave commented on #13591
@reedwm My previous test codes are exactly the same as yours, and it did not crash when NUM_ELEMS= int((7 * GPU_MEMORY_BYTES / 8) / 4). The codes' outputs are:

	2017-10-11 10:58:27.944911: W C:\tf_jenkins\home\workspace\rel-win\M\windows-gpu\PY\36\tensorflow\core\platform\cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use AVX instructions, but these are available on your machi

[2017-10-11 18:25] rmlarsen commented on #6503
New issue is https://github.com/tensorflow/tensorflow/issues/13641

[2017-10-11 18:29] sirgogo commented on #10749
@rryan, thank you for the info and links! I will take a look shortly. Sorry for the  delay, I was out of town, server went down, etc etc.

You can run the example with the following simple definitions:
[code]
I am running with tensorflow-GPU. This is the only way I was able to get any of the tf.fft-like functions to work. It complains if you are using the CPU-only version (at least for 2D). Is thi

[2017-10-11 18:38] ebrevdo commented on #13616
I believe if you want a variable to be evaluated at each value of the loop, you should access it using variable.ref

[2017-10-11 18:39] ebrevdo commented on #13616
or perhaps if you use a ResourceVariable (get_variable(..., use_resource=True)) it may do the right thing.

you may need to also set parallel_iterations=1, but probably not.

[2017-10-11 18:51] ebrevdo commented on #13616
This is an optimization that we turned on because you don't want a Variable sitting on a parameter server elsewhere in the datacenter to be accessed at each iteration of an RNN.  you want to access it only once and cache it.  in this case you have an assign inside the while_loop and converting a Variable to a Tensor doesn't look to see if an assign has been performed just prior to this, to know it

[2017-10-11 18:51] ebrevdo commented on #13616
@skye also, wdyt?

[2017-10-11 18:52] HggsHntr commented on #5688
@yzhwang
[code]

[2017-10-11 19:05] reedwm commented on #13639
The issue is that `SparseTensor.get_shape` calls [`tensor_util.constant_value_as_shape`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/framework/tensor_util.py#L751), which calls [`tensor_util.constant_value`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/framework/tensor_util.py#L714), which calls `Graph.prevent_feeding`.

@ebrevdo, what do you th

[2017-10-11 19:12] ebrevdo commented on #13355
I have a solution; will test and push - if all is green, you will see it in 2-3 days.

[2017-10-11 19:27] reedwm commented on #13591
When allocating half the GPU memory, the BFC allocator will actually allocate all the memory. This is because of an internal design decision of the BFC allocator: When a chunk is found for an allocation, it will only be split if the allocation is less than half the chunk size. When you allocate 4 GB on an 8 GB GPU, you are allocating a bit more than half the free memory, so the chunk holding almos

[2017-10-11 19:28] jhseu commented on #13546
I'd favor not changing it. Is the extra memory and disk usage a big issue in practice? The additional memory usage would be minimal compared to activations. Users who care about memory/disk usage could copy the optimizer and remove the momentum part.

[2017-10-11 19:34] reedwm commented on #13631
@ispirmustafa, any plans to support this?

[2017-10-11 19:34] av8ramit commented on #13632
Yes, we unfortunately build for Python 3.5 and then copy to 3.6 for Linux. I'll look into separate builds.

[2017-10-11 19:38] reedwm commented on #13627
Marking as contributions weclome since it seems @jimdowling will submit a PR.

/CC @jhseu in case he has any comments.

[2017-10-11 19:39] w9wang2 commented on #12593
Hi, Could you please let me know how many objects can be detected in the TF Detect demo app, I found the maximum is 3, is it correct?
Thanks.

      From: Wensu Wang <w9wang2@yahoo.com>
 To: tensorflow/tensorflow <reply@reply.github.com>; tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
 Sent: Wednesday, October 11, 2017 1:16 PM
 Subject: Re: [tensorfl

[2017-10-11 19:39] reedwm commented on #13625
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-11 19:39] #13625 closed

[2017-10-11 19:41] reedwm commented on #13623
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. Please refer to the answer of the StackOverflow question you linked. Thanks!

[2017-10-11 19:41] #13623 closed

[2017-10-11 19:42] reedwm commented on #13621
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-11 19:42] #13621 closed

[2017-10-11 19:45] reedwm commented on #13619
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-11 19:45] #13619 closed

[2017-10-11 19:46] bodokaiser commented on #13575
@martinwicke what do u suggest where the error originates from?

[2017-10-11 19:48] ssriramana93 commented on #1924
Hi I am a newbie and I'm using tensorflow 1.0 , and I am facing this error. Is this issue fixed in latest version 1.3? If I upgrade to 1.3 will everything work? Thanks

[2017-10-11 19:50] ebrevdo commented on #13639
I'm wary of changing the SparseTensor api.  what if you create 3 placeholders and create a SparseTensor from them.  does this work?

[2017-10-11 19:52] andrewharp commented on #12593
In principle it can track up to 15 at a time, which is the length of the color list in MultiBoxTracker.java. In practice you'll never see that amount at once since there is non-max suppression logic in place to make sure that every box is distinct from the others. However you should be able to get more than 3 at once.

If you press the volume keys you can see the actual preview frame and detection

[2017-10-11 19:54] peastman opened #13643 "conv2d_transpose crashes on GPU with zero size batch"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary (installed with `conda install tensorflow-gpu`)
- **TensorFlow version (use command below)**: b'unknown' 1.3.0
- **Python version**: 3.5

[2017-10-11 19:55] allenlavoie commented on #13632
And to be clear I have no idea what's up with the CUDA warnings.

[2017-10-11 19:59] skye commented on #13616
You're more familiar with these semantics than I am, but changing this might break (or at least regress) existing models, no?

[2017-10-11 20:03] ebrevdo commented on #13616
Not sure.  Depends how many users perform a tf.assign/tf.assign_{add,sub} inside a while_loop (including applying an optimiser) and read the new value inside the while loop -- and what behavior they expect; and may be getting silent errors or models not converging because of this issue.

If this already just "works" with ResourceVariable, then that's a sign that the Variable semantics are just bro

[2017-10-11 20:16] jimdowling commented on #13627
Sorry, that was an internal comment for @kouzant  - who will submit the PR.

[2017-10-11 20:23] Thomas-Kim commented on #1924
I am not sure whether upgrading to 1.3 will fix the issue, but upgrading to the tip of master should fix the issue.

[2017-10-11 20:32] meldron commented on #1924
@ssriramana93 with 1.3 you still got the problem, but you can easily fix the problem.

Just add https://github.com/tensorflow/tensorflow/blob/master/tensorflow/BUILD#L641 this line and the next to the build rule.

[2017-10-11 20:36] Thomas-Kim commented on #1924
This fix supposedly breaks compilation on OSX, it is better to use the fix that dave-andersen submitted unless you don't care about OSX.

[2017-10-11 20:45] rryan opened #13644 "Add support for Mel Generalized Cepstrum Analysis to tf.signal."
Requested via discuss@
https://groups.google.com/a/tensorflow.org/forum/#!topic/discuss/k6EI-BxbCMg

Please :+1: if you would like to see this feature in tf.contrib.signal.

[2017-10-11 20:53] w9wang2 commented on #12593
Thanks for the info.

      From: Andrew Harp <notifications@github.com>
 To: tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: w9wang2 <w9wang2@yahoo.com>; Comment <comment@noreply.github.com>
 Sent: Wednesday, October 11, 2017 2:56 PM
 Subject: Re: [tensorflow/tensorflow] Android Demo - Bug - Exception in TF Detect activity (#12593)

In principle it can track up to 15 at a time, which is

[2017-10-11 21:13] mrry commented on #13616
I think this gets tricky because (from the perspective of a `tf.Variable` object) only some subset of the `Variable.assign()` (etc.) calls run in an any particular step, and so you can't use control dependencies to ensure that the identity is ordered after an assign. (Perhaps I am being too pessimistic and you have a more cunning solution in mind?)

+1. I'd strongly encourage people to switch to R

[2017-10-11 21:14] awav commented on #13616
Thank your for your responses. Here is some clarifications to the task:

* There are a variable _x_ and a tensor _y_ - the result of computation upon x. `y = tf.square(x)`. They created outside of the loop.
* I pass implicitly to the while_loop both tensors - x and y
* I assign new value to x inside loop (let's say `x.assign(x + 1)`) and expect y gets evaluated with new x value (`x + 1`) when it i

[2017-10-11 21:25] nitaidean commented on #5719
I tried using top_k on multiple GPU's using TensorFlow 1.3.0, and it failed with this message:

**Cannot assign a device for operation 'gradients/TopKV2_grad/sub_1': Could not satisfy explicit device specification '/device:GPU:0' because no supported kernel for GPU devices is available.**

This suggests to me that top_k still does not have GPU kernel support, and hence must still run on the CPU. B

[2017-10-11 21:27] meldron commented on #1924
@Thomas-Kim yeah you are right he probably should just copy the whole build target

[code]

[2017-10-11 21:30] ebrevdo commented on #5719
Does it work in tf nightlies?

On Wed, Oct 11, 2017 at 2:26 PM, nitaidean <notifications@github.com> wrote:

[2017-10-11 21:35] Thomas-Kim commented on #1924
If my memory serves correctly, @dave-andrsen mentioned that macOS doesn't like the tf_version_script.lds

[2017-10-11 21:38] awav commented on #13616
I can be wrong, but in example below I never got different values for assign operation `b` and `a` variable outputs. I'm sure it *can* be a _coincidence_. Anyway, I got different values for `c`, and it is obvious because control_dependencies does work in that case. I guess, that it would be useful to be able to construct an operation like `read_value()`, but for any tensor, so that whenever it is

[2017-10-11 21:39] JP-Reddy commented on #7547
Update: Instead of `sofamodels/model.ckpt` or `./sofamodels/model.ckpt` we have to mention the entire path `gs://bucketname/sofamodels/model.ckpt`.

[2017-10-11 21:40] ssriramana93 commented on #1924
Thank you very much for the replies. I ran "pip3 install tensorflow==1.4.0rc0". When I import it, it says compiled version python3.5 is different from runtime version python3.6. Do I have to downgrade python3.6 to 3.5?

[2017-10-11 21:41] nitaidean commented on #5719
Just tried it - nope. Same error. Is it supposed to work?

[2017-10-11 21:54] divyam3897 commented on #11866
Hi, it should be closed if fixed?

[2017-10-11 22:17] ed-alertedh commented on #5719
Peanut gallery chiming in: What datatype is the tensor you're trying to run top_k on? Practically none of the GPU ops are defined for int types (see #9506)

[2017-10-11 22:19] ekelsen commented on #13499
CUDPP is not designed with flexibility from a memory allocation perspective.  It uses cudaMalloc calls internally and provides no mechanism for a user provided allocator (like thrust) or for the user to do the memory allocation and then pass in pointers (like CUB).

I think CUDPP is itself basically deprecated at this point.  Most of things it does are done better by libraries like CUB and thrust

[2017-10-11 22:23] #12166 closed

[2017-10-11 22:24] andrewharp commented on #11883
Closing due to inactivity, please reply with more details if the issue persists.

[2017-10-11 22:24] #11883 closed

[2017-10-11 22:41] raviolli commented on #3084
I am r1.3 and have encounters the similar issue (built from source). I got a whl but can't import. (centOS)

[2017-10-11 22:50] gunan commented on #10685
Which was rolled back with https://github.com/bazelbuild/bazel/commit/52f32bf511cfee4477bece6820e7b827d80c5feb

[2017-10-11 23:02] vade commented on #10685
*twitch*

[2017-10-11 23:06] yaroslavvb commented on #13308
This seems like a regression in 1.4

[2017-10-11 23:10] nitaidean commented on #5719
Yeah, I read that, but no - it's a tensor of floats.

[2017-10-11 23:23] MartinZZZ commented on #13482
@tatatodd I skipped Step 2.2 and it worked. Thanks so much for your help.

[2017-10-11 23:38] ybsave commented on #13591
@reedwm I made another test as below, where I removed `tf.reduce_sum(t)`. And my test verifies your conclusion. When no  `tf.reduce_sum(t)` is required, the ` NUM_ELEMS = int((3.5 * GPU_MEMORY_BYTES / 8) / 4 )` will run without any problem.

I do think this is a serious problem. When I am training my data, I can only use batch size of 1/4 or even 1/8 compared with people using other platforms. Bat

[2017-10-12 00:06] tatatodd commented on #13482
@MartinZZZ  great, I'm glad we figured out the problem!  :)

I'll comment on #13500 separately on that issue.

[2017-10-12 00:06] #13482 closed

[2017-10-12 00:13] Moondra opened #13647 "Extracting weight values from output_graph.pb"
Hi, this isn't a bug more of request for a tutorial or guidance -  I have asked this question multiple times on Stackoverflow  and can't seem to get any responses nor views. My past questions on tensorflow also didn't get much views on Stackoverflow -- I think this is because tensorflow is still relatively new and it's hard to find knowledgeable people.

I'm sorry to post, here but I don't know wh

[2017-10-12 00:18] mingyr opened #13648 "tf.string_input_producer() doesn't work with tf.placeholder"
In a scenario it is intended to dynamically change the file names of tensorflow record files, as indicated by the following code:

[code]

it is observed the code above is working with tf.constant which is commented above, however not tf.placeholder, which is believed to be equivalent.

There is no direct error related to the malfunctioning as below:

[code]

OS version Redhat 7.3, Python version

[2017-10-12 00:23] ispirmustafa commented on #13631
We're adding a capability into MonitoredSession where you can use partialrun.

[2017-10-12 00:23] Ellie68 commented on #13628
I've opened a question in Stackoverflow. I would be thankful if you help.

https://stackoverflow.com/questions/46687348/decoding-tfrecord-with-tfslim

[2017-10-12 00:26] mrry commented on #13647
I posted [an answer](https://stackoverflow.com/a/46699540/3574081) to your question on Stack Overflow.

[2017-10-12 00:27] tatatodd commented on #13500
@MartinZZZ This is slightly confusing.

Note that the info log `Your CPU supports...` is actually coming from the invocation of the `tfcompile` tool, which generates the header and object file, and is a side-effect of how we perform the compilation re-using underlying TensorFlow infrastructure.  It's not actually trying to warn you that the generated code is missing support for SIMD.

The reason I

[2017-10-12 00:27] #13500 closed

[2017-10-12 00:49] tatatodd commented on #13622
@zheng-xq Can you comment on this, or suggest someone who can?

[2017-10-12 00:51] shramesh commented on #13460
I can try to implement this.

Per the example by OP,  the segments are `[1,2,3], [4,5], [6]` and the segment_argmax function returns the indices of max element in each segment, but with a reference to the unsegmented list.

Is my understanding correct ?

[2017-10-12 00:56] Moondra commented on #13647
Thank you so much. It works.

[2017-10-12 00:56] #13647 closed

[2017-10-12 00:56] tatatodd commented on #13626
@allenlavoie Do you have any thoughts on this?

[2017-10-12 00:57] #11369 closed

[2017-10-12 00:57] tensorflowbutler commented on #11369
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-10-12 00:58] tatatodd commented on #13628
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

Note that this is part of the `New issue` template:

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3

[2017-10-12 00:58] #13628 closed

[2017-10-12 01:08] tatatodd commented on #13632
@yzhwang It looks like you added these warnings, with the code looking something like this:

[code]

The code looks reasonable.  Do you have any idea why we're getting these nonsense status messages?

[2017-10-12 01:09] allenlavoie commented on #13626
Ha. 1.3 is before the RTLD_GLOBAL change so I couldn't have broken it with that was my main thought.

Otherwise those look like driver version numbers. What is printed after "Driver Version:" in `nvidia-smi`?

[2017-10-12 01:19] tatatodd commented on #13634
You're setting the bazel option `--copt="-Ofast"`, which sets the gcc option `-Ofast`, which implies the gcc option `-ffast-math`, which is causing your problem.

[2017-10-12 01:19] #13634 closed

[2017-10-12 01:26] anilbeereddy135 commented on #13626
Driver Version output in nvidia-smi is375.66

[2017-10-12 01:27] yzhwang commented on #13632
This means that the previous cudnn function call: https://github.com/tensorflow/tensorflow/blob/r1.4/tensorflow/stream_executor/cuda/cuda_dnn.cc#L2195 returns a size_in_bytes that caused AllocateBytes() to fail. It's interesting that the error_message() is empty though.
The solution for this is: since we are not officially supporting cudnn7 (tests and integration in progress), I recommend you to s

[2017-10-12 01:33] hanyh opened #13649 "LSTMBlockFusedCell does not support using DropoutWrapper"
I am trying to use DropoutWrapper with LSTMBlockFusedCell as follows:

[code]
 I get an exception that the LSTMBlockFusedCell is not an RNNCell
Message: The parameter cell is not a RNNCell. Which is raised form _like_rnncell during DropoutWrapper initialization.

It is checking for those proprieties on the cell:
""Checks that a given object is an RNNCell by using duck typing."""
   conditions = [h

[2017-10-12 01:51] tatatodd commented on #13636
@DEKHTIARJonathan In general we don't make guarantees about static shape inference in your graph.  This is because it can become arbitrarily complex, or sometimes impossible.  E.g. in your original example, the size is determined by `newsize = tf.multiply(input_shape, (2, 2))`; in the general case this may be an arbitrary expression.

So I'd consider this normal behavior.  BTW using set_shape to e

[2017-10-12 01:51] #13636 closed

[2017-10-12 01:52] chrisplyn commented on #10799
@borablanca how did you manage to build tensor-gpu? I am consistently failing...

[2017-10-12 01:55] tatatodd commented on #13642
This is by-design, for performance reasons.

Note the docs describe this via the `validate_indices` argument, which is deprecated and always set to the `True` behavior.
https://www.tensorflow.org/api_docs/python/tf/nn/embedding_lookup

[code]

[2017-10-12 01:55] #13642 closed

[2017-10-12 02:08] LaiPiXiong opened #13650 "What's the difference between function eval() and sess.run()?"
Codes are as follows:
[code]

When I use 'result = self.test_prediction.eval(feed_dict={self.tf_test_samples: samples})', it works fine, while in 'result = sess.run(self.test_prediction, feed_dict={self.tf_test_samples: samples})', it shows error 'ValueError: operands could not be broadcast together with shapes (10,10) (9,9) '. SO, what's difference between function eval() and sess.run()

[2017-10-12 02:20] MartinZZZ commented on #13500
@tatatodd Thanks for the information. I specified those flags in the `tf_library`, but the log still exists:

The `tfcompile_flags` is specified as following (in //tensorflow/tensorflow/compiler/aot/tfcompile.bzl):
[code]

Then instead of running `tfcompile` manually, I built the `cc_library` using the `tf_library` macro (i.e., skipping Step 2.2), and the final binary can be successfully created n

[2017-10-12 02:58] ebrevdo commented on #12927
Try a newer version of TensorFlow?

[2017-10-12 03:05] selcouthlyBlue opened #13651 "Android -- No OpKernel was registered to support Op 'SparseToDense' with these attrs"
I am trying to load a graph inside Android that I generated and frozen. I keep getting this error whenever I try to run it:

[code]

I also optimized the graph for inference. When I try to load it onto Android, I get this error:

[code]

Steps to get the frozen graph and optimized graph:
1. Clone this [repository](https://github.com/selcouthlyBlue/bi_lstm_ocr):
2. Run dummy_train.py producing the

[2017-10-12 03:16] reedwm commented on #13439
@OscarDPan can you provide a full example that computes and prints the gradients? Also, to provide a minimal example, the example should use `tf.gradients` instead of using an optimizer. Thanks!

[2017-10-12 03:20] reedwm commented on #13441
When I run the code on TensorFlow 1.3, I get the error `AttributeError: 'module' object has no attribute 'core_rnn_cell'`. @ZichuanLIU, can you update the program for TensorFlow 1.3, which is the latest version, and see if the problem still occurs?

[2017-10-12 03:24] reedwm commented on #13463
Can you post a small example that will cause the `DataLossError` after running it for a while, so that we can see what the problem is?

[2017-10-12 03:27] reedwm commented on #13649
@ebrevdo any plans to support this?

[2017-10-12 03:45] harveyslash commented on #6322
@EddieOne  , i like your solution the best, but I am not sure what the tensor.bytes are.
I am planning to use keras. What should the format of the .bytes file be ?

[2017-10-12 03:48] zhangyaobit commented on #13146
Glad the problem is solved.

Could you double check (print or pdb.set_trace at [slim.conv2d](https://github.com/tensorflow/tensorflow/blob/9ff05e9e7f471a8487cdd8a7bb6fdd554055e2dd/tensorflow/contrib/layers/python/layers/layers.py#L1042)) expected normalizer_params is passed into slim.conv2d by the user to help identify if this is a user's usage issue or a bug of slim.conv2d?

[2017-10-12 04:02] mrry commented on #13650
Can you please include the full traceback with the error message?

[2017-10-12 04:29] harveyslash commented on #7562
what is the format of the tensors.bytes that the standalone projector seems to use?

[2017-10-12 04:40] umang6891 commented on #12482
Had the same issue:
search for nsync_cv.h file using: `sudo find / -name nsync_cv.h` then add it in the file `mutex.h`
`#include "tensorflow/contrib/makefile/downloads/nsync/public/nsync_cv.h"
#include "tensorflow/contrib/makefile/downloads/nsync/public/nsync_mu.h"`

If you get linker error:
Try this: https://github.com/tensorflow/tensorflow/issues/12904#issuecomment-328234880

[2017-10-12 04:41] jeremy-rutman commented on #11866
the pr was merged so I suppse you are right, will close if I can

[2017-10-12 04:41] #11866 closed

[2017-10-12 04:46] tatatodd commented on #13500
@MartinZZZ I see.  I had misinterpreted your previous message; I thought you meant that you no longer saw the log info when using `tf_library`.

As I mentioned, the log message is harmless, and is a side-effect of the way we perform the compilation.  We're changing the implementation (for a different reason), at which point the info log will go away.  In the meantime you should just ignore it.

[2017-10-12 05:29] swb-tohear opened #13652 "No OpKernel was registered to support Op 'Assign' running nightlypi stable build on raspberry pi 3"
I am running the tensorflow backend to keras on a raspberry pi 3 with the lastest Stretch
The tensorflow 1.3 build is http://ci.tensorflow.org/view/Nightly/job/nightly-pi/lastStableBuild/

When running the Adam optimizer I'm seeing the following error:

tensorflow.python.framework.errors_impl.InvalidArgumentError: No OpKernel was registered to support Op 'Assign' with these attrs.  Registered devi

[2017-10-12 05:43] MartinZZZ commented on #13500
@tatatodd Thanks for the explanation. I seem to understand now, and may I check with you regarding the following two simple questions:

(1) Does it mean that the created binary is actually able to use the SIMD instructions as specified by the `tfcompile_flags`, and the log message is just a false warning?

(2) Whether the `tfcompile_flags` is successfully specifiled or not, will it affect the perf

[2017-10-12 06:00] ModarTensai commented on #675
For me, I prefer computing the Jacobian matrix outside the graph using very lightweight operations.
I compute the Jacobian for each point in batches then I stack them at the end
Here is a running example based on @oborchers example:
[code]

[2017-10-12 06:25] anonym24 opened #13653 "Android: Error:(68, 13) Failed to resolve: org.tensorflow:tensorflow-android:+"
Error:(68, 13) Failed to resolve: org.tensorflow:tensorflow-android:+

Are there some problems with remote repository?

[code]

https://bintray.com/google/tensorflow/tensorflow-android

![screenshot_1](https://user-images.githubusercontent.com/8851301/31483788-91917476-af36-11e7-93cd-d9749967982d.png)

[2017-10-12 06:46] tatatodd commented on #13648
@mrry knows the truth here, and can correct any (all!) mistakes I make.

Queues are pretty confusing (I was confused by this too).  Although your attempt to replace `tf.constant` with `tf.placeholder` seems reasonable, I've confirmed it doesn't work, with the error you've listed.  I believe the problem is that the producer side of the queue is actually started by this line:
[code]

So your subsequ

[2017-10-12 06:56] anonym24 commented on #13653
temporary fast solution

download jar file https://ci.tensorflow.org/view/Nightly/job/nightly-android/lastStableBuild/artifact/out/libandroid_tensorflow_inference_java.jar and put to **project_name\app\libs** folder

add `compile files('libs/libandroid_tensorflow_inference_java.jar')` to you app `build.gradle` file

download **libtensorflow_inference.so** for armeabi-v7a (or for other architecture

[2017-10-12 06:58] tatatodd commented on #13500
@MartinZZZ Answers to your questions:

1) Yes, if you set `tfcompile_flags` as in your example above, the code generated by XLA will use SIMD instructions.  The log message is a false warning, regardless of your tfcompile_flags settings.

2) You're correct.  `tfcompile` uses XLA for compilation, and XLA currently calls out to Eigen for `matmul`.  This may change in the future; we do have a pure-XL

[2017-10-12 06:59] mingyr commented on #13648
@tatatodd : Many thanks for your quick respond. Let's see @mrry 's opinion. If this materializing behavior is by design, I can quite understand that and let's close it, since as you said we have better solution. Thanks again.

[2017-10-12 07:07] RanBenIzhak commented on #13460
yes,
indices will be with reference to the unsegmented list.

my intention was to use these indices to slice the original tensor for all the max tensors

[2017-10-12 07:25] AKlent commented on #97
Hi, I am following the Tensorflow's "Layer Module" from this tutorial link https://www.tensorflow.org/tutorials/layers. I find the code here different from the one you have mentioned above. You might be able to help me how can I get the results of the predictions and its respective probabilities.
I need to see it for further understanding the model. And if there is a way I can save the results - p

[2017-10-12 07:26] MeteorKepler commented on #9859
Can't agree more! Why there is still no tf.layers.flatten? And the changes of tf over versions are so big that it is a mess when learning

[2017-10-12 07:54] MartinZZZ commented on #13500
@tatatodd Thanks for your answers:)

And please correct me if I am mistaken. I wonder if `XLA-AoT` mainly focuses on the space issue on mobile device, while `XLA-JIT` mainly focuses on the performance. If so, may I seek for your advice regarding the following short questions:

(1) Will `XLA-JIT` generate code after fusing operations without calling to Eigen?

(2) If so, is the code generation done

[2017-10-12 08:04] linwangolo commented on #11295
...

[2017-10-12 08:05] pickou commented on #11823
@mari-linhares have you ever fixed the "Object was never used" error?

[2017-10-12 08:33] LaiPiXiong commented on #13650
Error show as follows:
Traceback (most recent call last):
  File "/home/mm/workspace/MoHong/tensorflow_test/classification/one_label/flow.py", line 128, in <module>
    net.run()
  File "/home/mm/workspace/MoHong/tensorflow_test/classification/one_label/flow.py", line 117, in run
    print_confusion_matrix(np.add.reduce(confusionMatrices))
ValueError: operands could not be broadcast together with

[2017-10-12 08:40] NikolayStarikov commented on #13031
Hi guys,

the solution is to install:
pip install tf-nightly

prior to
python train.py

[2017-10-12 08:43] nicolettiant89 opened #13655 "AttributeError: 'GFile' object has no attribute 'writelines"
Hi when i try to execute this code:

`from tensorflow.python.platform import gfile
... with gfile.GFile("%s_%s" % (target_path, len_d + len_q), mode="w") as tokens_file:
        tokens_file.writelines(results)...`

I obtain the following error:

`AttributeError: 'GFile' object has no attribute 'writelines'`

Why GFile haven't writelines attribute in verision 1.2? What method should i use instead?

[2017-10-12 08:50] ZichuanLIU commented on #13441
Sure. Will update it to the new version.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Reed <notifications@github.com>
Sent: Thursday, October 12, 2017 11:22:42 AM
To: tensorflow/tensorflow
Cc: #LIU ZICHUAN#; Mention
Subject: Re: [tensorflow/tensorflow] tf.biderectional_dynamic_rnn get stuck when running the graph (#13441)

When I run the code on TensorFlow 1.3

[2017-10-12 09:13] vishalghor commented on #12817
Hi all,

I was looking use my data which is present in LMDB form but i am unable to find any sample code or more usage documentation on using LMDB dataset in Tensorflow.
If someone has tried LMDB could share the usage experience .it would be very helpful.

Thanks

[2017-10-12 09:23] houssamzenati opened #13657 "tf.train.import_meta_graph() works strangely compared to restored session with tf.train.Supervisor"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: v1.1.0-13-g8ddd727 1.1.0
- **Python version**: Python 3.4.3
- **CUDA/cuDNN version**

[2017-10-12 09:27] Leslie-Fang opened #13658 "tensorflow 1.3.0 build with bazel failed on redhat7.4BU1"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-10-12 09:36] maksimovkonstantin commented on #12052
@tfboyd Does 14.rc TF support CuDNN 7 and CUDA 9?

[2017-10-12 10:01] rolf-baxter commented on #13653
Also getting this problem.

[2017-10-12 10:09] zwify commented on #11679
Hello eddiemundo,

 I'm facing exactly the same issue, did you manage to solve it, any advices about how to process ?
Thank you a lot

[2017-10-12 10:15] awav commented on #13616
@skye, @mrry, @ebrevdo I'm sorry for bombarding you with multiple messages, here is an example that assigning inside loop is not a problem:

[code]

The issue is that there is no way to recompute tensors which depend on it and were constructed outside of the `while_loop`. :)

[2017-10-12 10:52] adityakusupati commented on #13031
Hi @NikolayStarikov ,

I have original tf installed. I installed tf-nightly over that and still, the problem persists.

[2017-10-12 10:56] dchatterjee172 commented on #13616
I faced the same problem,
[code]
`calrawstate=tf.while_loop(cond,body,[rawstate,x,v,coef])`
And I faced this error,
`AttributeError: 'Tensor' object has no attribute 'assign_add'`
Here `rawstate` and `v` are two variables created using `tf.get_variable()`

Although this problem is trivial, and can be done without using `assign` or `assign_add` inside `body`
but sometimes it's needed in some case o

[2017-10-12 11:13] awav commented on #13616
@dchatterjee172, I think you have different issue. `rawstate` is a tensor, and by definition you can't assign value to it. If you expected to see same variable at each iteration, then it is not `true`.

@ebrevdo what is `variable.ref`?

[2017-10-12 11:15] awav commented on #13616
@dchatterjee172, I don't think that you have

[2017-10-12 11:39] huangrandong commented on #13463
@reedwm  my code is used to put the numpy array into  the TFrecord file and read the it from the same file ,this is my code:
# create the TFrecord file function:
img_tfrecord_name = image_base_name + ".tfrecord"
writer = tf.python_io.TFRecordWriter(new_label_path + img_tfrecord_name)
label_concate = np.concatenate((score_map, x1_offset, y1_offset,
                                                x2

[2017-10-12 12:21] vamshikhoslalabs commented on #13653
+1

[2017-10-12 12:22] themuck commented on #13653
Failed to resolve: org.tensorflow:tensorflow-android:+

same here...

[2017-10-12 13:05] LaiPiXiong commented on #13650
Maybe that's the problem of 'print_confusion_matrix', which i deleted, all works well.

[2017-10-12 13:05] #13650 closed

[2017-10-12 13:11] Leslie-Fang commented on #13658
It's the bazel version problem.
Degrade bazel to 0.5.4 or use tensorflow 1.4.0.
This problem would disappear.

[2017-10-12 13:11] #13658 closed

[2017-10-12 13:16] mari-linhares commented on #11823
@pickou not really :/

[2017-10-12 13:17] Leslie-Fang commented on #13634
Thanks a lot, tataodd. It seems in tensorflow 1.1.0 with this --copt="-Ofast", it could be compiled. Do you what's this option would doing during the compile process.
Another question is removing this option would decrease the tensorflow performance or not? Since I am running tensorflow on a intel xeon-phi TM platform which is targeting to hogh performance calculation.

[2017-10-12 13:25] candidj0 commented on #675
@oborchers i don't check the time but maybe you can try :

[code]

jacobians =  tf_jacobian(y, x, n) where n is the batch size.

[2017-10-12 13:57] kbsriram commented on #13653
My apologies folks - while re-organizing the bintray repository the tensorflow-android aar artifact was incorrectly disconnected from jcenter. We're working to resolve it ASAP.

In the interim, please use the workaround in https://github.com/tensorflow/tensorflow/issues/13653#issuecomment-336038164 or you can temporarily add the tensorflow bintray maven repository  in your build.gradle

[code]

[2017-10-12 14:07] vamshikhoslalabs opened #13663 "Failed to run TensorFlow inference with inputs:[image_tensor], outputs:[detection_boxes, detection_scores, detection_classes, num_detections]"
Facing this issue when running TFDetect app. Even the app is crashing.
This issue i'm facing is when i'm running the example tensorflow android app.

[2017-10-12 14:07] Leslie-Fang opened #13664 "MaxPoolingOp only supports NHWC. ERROR in my benchmark we would use NCHW dataformat"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-10-12 14:15] mrry commented on #13648
Yes, Todd's explanation is correct. The most confusing aspect of `tf.train.string_input_producer()` is that, while it looks like a regular operation, it is actually implemented using a separate set of `sess.run()` calls that run in the background in a queue-runner thread. It is these hidden calls that are failing because they don't know about the value you want to bind to the placeholder. They als

[2017-10-12 14:15] #13648 closed

[2017-10-12 14:17] Leslie-Fang commented on #13664
I want to change Default MaxPoolingOp only supports NHWC into NCHW. Is it possible?

[2017-10-12 15:04] avinav291 commented on #9160
@ckalas You Mentioned that:
Deleting the option entirely leads to this error further down about not finding omp d: library not found for -lgomp

How did u get out of this error??????/

[2017-10-12 15:13] vclteam commented on #13653
This solution help to compile, but unfortunately the speech demo is not working

[2017-10-12 15:20] vclteam commented on #13487
if forgot to put \ at the end of one of the line
so the training was actually for 1000ms

[2017-10-12 16:08] allenlavoie commented on #13626
Sounds like a bug then. Does it work if you symlink/copy .66 to .88 in that folder?

[2017-10-12 16:23] tfboyd commented on #12052
It is included if you build from source.  I want to change the default
binaries which requires me to run some regression tests on K80s on AWS to
make sure everything looks good as well as get builds created.  We
immediately had a problem as the NVIDIA driver needed decreased performance
on Kokoro running in Google Cloud by 30%.  Nothing is every straight
forward, but CUDA 9 and cuDNN 7 are in 1.4

[2017-10-12 16:47] ebrevdo commented on #13616
After playing with this for a bit, I reached two conclusions:

1. `ResourceVariable` has the same problem as `Variable`.
2. `Variable.ref` has been hidden from view; but you can access it using a hidden API (wherein your code will break in the future) via `Variable._ref()` or `Variable._variable`.

Here's code that does what I think you want it to do:

[code]

@alextp any suggestions on how one wo

[2017-10-12 16:47] ebrevdo commented on #13616
@alextp perhaps a stateful read operator is in order?

[2017-10-12 17:01] martinwicke commented on #13575
I believe the error "Could not parse example input" originates [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/example_parsing_ops.cc#L341).

This would also mean you're parsing Sequence Examples, which your code doesn't match, and is confusing.

[2017-10-12 17:02] alextp commented on #13616
It is possible to force a resource variable read to happen after an assignment, and indeed it will happen. @ebrevdo , why did resource variables not work? Do you have an example with them?

(I do not fully understand why we're using variables at all here instead of the regular while loop variable mechanism)

[2017-10-12 17:03] Fulvioo opened #13668 "ValueError: Cannot feed value of shape (128,) for Tensor 'Placeholder_142:0', which has shape '(?, 3433)"
Hello... after several unsuccesfull tries, I would like to ask your help in solving this error.
I am trying to train a deep autoencoder network, by using a local csv file that is then transformed (by the csv and the numpy libraries) into a numpy array. But this data is never feeding into my placeholder's tensor.

Here's an abstract of the deep autoencoder:

`
class Deep_Autoencoder:

    def __ini