[2019-09-03 09:23] #32007 closed

[2019-09-03 09:28] KristianHolsheimer commented on #32135
[code]

In order to reproduce the error just run `pytest` on the code above or call the `test_lbeta()` function yourself, e.g.

[code]

[2019-09-03 09:42] oanush commented on #32106
@MaximusMutschler,
Can you try solution suggested by @ppwwyyxx. Thanks!

[2019-09-03 09:43] laci37 commented on #6998
On TF 2.0rc this does not work, the gradient for the sparse_dense_matmul op is not defined.

[2019-09-03 09:44] gadagashwini commented on #32131
@AdityaShirodkar01, I tried the same tutorial. It worked fine.
PTAL screenshot. Please do check once. Thanks
![Screenshot from 2019-09-03 15-12-18](https://user-images.githubusercontent.com/48476109/64162671-65fef980-ce5d-11e9-814a-c363d007dbd3.png)

[2019-09-03 09:47] gadagashwini commented on #32161
@lotrus28, In order to expedite the trouble-shooting process, please provide a complete code snippet to reproduce the issue reported here. Thanks!

[2019-09-03 09:53] oanush commented on #32118
Issue replicating for the given code for TF 2.0beta, please find the [gist](https://colab.research.google.com/gist/oanush/9e8621ef80159028163e646710109ad8/32118.ipynb).
Thanks!

[2019-09-03 09:56] hristo-vrigazov commented on #32093
@yongtang Thanks for the information. I guess the question is do we want to, since this operation can already be expressed by other operations? We would have to reuse some of the Python operations in C++ to implement this, which I thought would not be as easy as in Python, where they are already generated and implemented (I may be wrong here). I feel like this version is very easy to maintain, sin

[2019-09-03 09:56] sjtusmartboy opened #32170 "request of SparseApplyFtrlOp running on gpu"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source):  1.13.1

Currently, I notice that `SparseApplyFtrlOp` only supports running on cpu platform. Seeing from here:
https://github.com/tensorflow/tensorflow/blob/d5c6687d9919c562bea2a01a6e1be1756b

[2019-09-03 09:58] MaximusMutschler commented on #32106
Yes the solution works. Thanks a lot!

[2019-09-03 09:59] gadagashwini commented on #31825
@DKWIPL, Glad it worked.
From the error it looks like Tensorflow and its dependencies are not installed properly.
Closing the issue since its resolved. Thanks

[2019-09-03 09:59] #31825 closed

[2019-09-03 10:00] gadagashwini commented on #31837
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-03 10:00] #31837 closed

[2019-09-03 10:01] gadagashwini commented on #31921
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-03 10:01] #31921 closed

[2019-09-03 10:02] oanush commented on #32115
@nsantavas ,
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue te

[2019-09-03 10:02] gadagashwini commented on #31942
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-03 10:02] #31942 closed

[2019-09-03 10:04] oanush commented on #32112
@mmmmayi,
Can you share a simple and standalone code to reproduce the issue?
Also mentioned TF version being used.Thanks!

[2019-09-03 10:04] gadagashwini commented on #31954
Closing this issue since its answered. Thanks!

[2019-09-03 10:04] #31954 closed

[2019-09-03 10:08] RZz96 opened #32171 "import tensorflow problem"
- OS Platform and Distribution (windows 64):
-
- TensorFlow version (use command below): 1.14.0
- Python version:3.6.8

Hi
When i import tensorflow , it just quit the code without any error .

appreciate any help in advance

[2019-09-03 10:11] oanush commented on #31764
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-03 10:11] #31764 closed

[2019-09-03 10:12] oanush commented on #31824
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-03 10:12] #31824 closed

[2019-09-03 10:16] gadagashwini commented on #32072
@t104360088, Please provide the google colab gist to expedite the trouble-shooting process. Thanks!

[2019-09-03 10:17] lotrus28 commented on #32161
Here is the docker file, which is basically

[code]

Then I copy these files to the tensorflow directory:

[code]

[code]

I have already shown you my `graph.config.pbtxt`.

To start compiling I do
`bazel build --show_progress_rate_limit=60 @org_tensorflow//:libmodel.so`

If I check the model's shape in Python:
[code]
But saving it as `.pb` produces a `-1` dimension in the human readable layers' d

[2019-09-03 10:18] oanush commented on #32106
Closing since the issue is resolved.Thanks!

[2019-09-03 10:18] #32106 closed

[2019-09-03 10:26] 00000110 commented on #32171
| |
江民
邮箱：18810558570@163.com
|

签名由 网易邮箱大师 定制

On 09/03/2019 18:12, RZz96 wrote:
OS Platform and Distribution (windows 64):
TensorFlow version (use command below): 1.14.0
Python version:3.6.8

Hi
When i import tensorflow , it just quit the code without any error .

appreciate any help in advance

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, vie

[2019-09-03 10:32] sakh251 opened #32172 "Mirror Strategy slow down by adding GPUs"
I am using the custom estimator with TFrecord. I am training VGG16. By increasing the number of GPUs the training time increase. All GPUs are in a single machine. GPUs utilization is about 100%. So it seems the input function can feed the data to GPUs well. I am using tf.layers.conv2d, tf.contrib.layers.flatten, tf.layers.dense to create the VGG Model. However, I have a large number of groups_Deps

[2019-09-03 10:32] sakh251 opened #32173 "Mirror Strategy slow down by adding GPUs"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-09-03 10:37] ravikyram commented on #32105
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-09-03 10:52] oanush commented on #31911
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-03 10:52] #31911 closed

[2019-09-03 11:02] ravikyram commented on #32138
I have tried on colab with TF version 2.0.0-rc0, 2.0.0-dev20190902 and was able to reproduce the issue.Please, find the [gist](https://colab.sandbox.google.com/gist/ravikyram/4eb507f8f61984e08f4b5a02bb955307/untitled146.ipynb) here. Thanks!

[2019-09-03 11:03] gadagashwini commented on #32134
@jjimenezcapi, In the above mentioned tutorial, test_labels[i], here i is the position of image in the dataset. Where, i=0,  ankle boot image and i=1 T-shirt/top image. Is it allowed to choose any of the image from dataset. Thanks!

[2019-09-03 11:08] lotrus28 commented on #32161
OK, seems like tensorflow models uses `-1` for a dynamic number of inputs.
E.g. my network can receive 1 or 10 or 100 5-long vectors. And it is likely I cannot compile a model with a dynamic input.<br>
Unfortunately I am unable to check if the model I compiled will work when I enter only one 5-long vector to it. Hopefully, it will.<br>
Does that sound reasonable?

[2019-09-03 11:27] onewhl commented on #26468
Hi @sjamesr , any updates on the issue?

[2019-09-03 11:28] iMSannob commented on #32111
Fixed this issue by reinstall tensorflow_estimator:
sudo -H pip3 uninstall  tensorflow_estimator
sudo -H pip3 install  tensorflow_estimator

[2019-09-03 11:33] lotrus28 commented on #32161
Seems like `-1` in the inputs stands for a dynamic input. I.e. my model can receive 1 or 10 or 100 5-long vectors to produce an output. When I specify shape as (1,5) in the config, it compiles. Does that mean that the compiled model expects (1,5) input? Well, I do just that, when invoking:<br>
`x = np.require(df.iloc[0,:], np.float32, ('c', 'a'))`<br>
Could the problem be in the way I specify the

[2019-09-03 11:38] caissalover commented on #32052
I'm too facing a similar issue

My code is something like
        `test = [None]*50`
        `for i in range(50):`
        `    test[i] = fooWorker( numpyData, constantTensors, i)`

where fooWorker is my customOp decorated with @tf.function. It returns some small lists and I just don't get why memory grows and is not collected in garbage. numpyData is substantial in size, all the other sizes are m

[2019-09-03 12:16] oanush commented on #31995
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-09-03 12:16] #31995 closed

[2019-09-03 12:29] oanush commented on #32097
Please find the replicated gist of colab for [TF version-2.0-rc0](https://colab.research.google.com/gist/oanush/404c8c09df7e69fcf01a00749b4f1da3/untitled0.ipynb).TThanks!

[2019-09-03 12:35] Checkmate986212 commented on #31901
I have the same problem, but I have no idea what you do to solve this.

Here is my tracebacks:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "E:\anaconda\envs\Face_Recognition\lib\site-packages\tensorflow\lite\python\lite.py", line 898, in convert
    **converter_kwargs)
  File "E:\anaconda\envs\Face_Recognition\lib\site-packages\tensorflow\lite\python\convert.py

[2019-09-03 12:38] tensorflowbutler commented on #21135
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-09-03 12:48] dm961027 opened #32175 "(Check whether your GraphDef-interpreting binary is up to date with your GraphDef-generating binary.)"
2019-09-02 15:57:27.737 14560-14560/org.tensorflow.demo E/tensorflow: CameraActivity: Exception!
    java.lang.RuntimeException: Failed to load model from 'file:///android_asset/ssd.pb'
        at org.tensorflow.contrib.android.TensorFlowInferenceInterface.<init>(TensorFlowInferenceInterface.java:113)
        at org.tensorflow.demo.TensorFlowObjectDetectionAPIModel.create(TensorFlowObjectDetection

[2019-09-03 12:52] fanshiqing opened #32176 "Gradient Accumulation feature for Distribution Strategy"
**System information**
- TensorFlow version (you are using): 1.12
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Gradient Accumulation(GA) is a workaround to enable big batches on limited memory GPUs which has been supported in Caffe and PyTorch. Instead of back-propagating for every batch feed-forward; gradients across multiple batches a

[2019-09-03 13:00] mimxrt commented on #31616
Thank you for your comment. I understand and I am currently (hopefully) profiling the model fitting to confirm your hypothesis. Until now I am struggling to get TensorBoard to visualize the profile. Anyway, I wanted to let you know that I am still looking into this.

As a side note: `Dataset.cache()` seems to work when using a hard disk file instead of RAM. The second epoch forward is now as fast

[2019-09-03 13:00] dm961027 commented on #32175
when I use my .pb file to replace detectoractivity.java , I have above question.

my replace:

private static final int TF_OD_API_INPUT_SIZE = 300;
 private static final String TF_OD_API_MODEL_FILE = "file:///android_asset/ssd.pb";
  private static final String TF_OD_API_LABELS_FILE = "file:///android_asset/label_list.txt";

[2019-09-03 13:06] ravikyram commented on #32075
I have tried on Jupyter notebook with TF2.0rc0 and was able to reproduce the issue.Thanks!

[2019-09-03 13:38] taiftahmid commented on #31837
I am facing the same issue while trying to convert .meta to pb file in tensorflow version 1.13.1.

This is the error:
File "/home/taif/.local/lib/python3.7/site-packages/tensorflow/python/framework/importer.py", line 159, in _RemoveDefaultAttrs
    op_def = op_dict[node.op]

KeyError: 'BatchMatMulV2'

The code:
[code]

[2019-09-03 13:58] ravikyram commented on #32060
I am getting the below error while trying to reproduce the issue.

`FileNotFoundError: [Errno 2] No such file or directory: './dataset.txt'`.

Can you please provide the `dataset.txt` file (or dummy data, if your data is confidential) so we can reproduce the issue and try for the resolution. Thanks!

[2019-09-03 14:20] ChaosPredictor commented on #25062
downgrade keras_applications to 1.0.7

[2019-09-03 14:37] dimitry-ishenko commented on #29896
@DecentMakeover I suspect this line is the culprit:
[code]
You probably have to specify `weights = None` and after you run `model.compile(...)` load them yourself with `model.load_weights(...)`.

[2019-09-03 14:42] kassemyu commented on #31192
Hey @tanzhenyu ,

could you please give me your opinion on the so far described problem?
Thank you very much in advance and thanks @ymodak for adding an expert.
 I am very grateful for this opportunity.

[2019-09-03 14:54] DecentMakeover commented on #29896
God! I don’t have my laptop near me , I’ll check this soon as I’m back and let you know

[2019-09-03 15:06] ClementViricel commented on #30263
Same error following NMT tutorial (copy and paste everything) using tensorflow2.0 RC on CPU

[2019-09-03 15:13] markomernick commented on #27170
Hey all,

Thank you for the reports! We are working on adding CompositeTensor support to more and more elements of the Keras framework, but as you can see there are some areas that aren't quite ready yet. I will route these sightings to the relevant folks.

[2019-09-03 15:33] TheCrazyT commented on #21135
Guess someone should remove that label ...

[2019-09-03 15:45] cwbeitel commented on #30869
@jvishnuvardhan @jhseu Also seeing this with tensorflow 1.14 and t2t 1.14, happy to help. This is running in batch on ctpu v3 with tf 1.14 runtime (in graph mode).

As you can see the error above `self._cluster._fetch_cloud_tpu_metadata()` is failing because self._cluster is None; this is being passed to CloudTPUPreemptedHook [in tpu_estimator.py](https://github.com/tensorflow/estimator/blob/maste

[2019-09-03 15:51] alextp commented on #29039
Exposing a pointer is easy; making sure the information you want is
actually in the memory pointed to by that pointer when you dereference it
is less so, because TF's GPU runtime is asynchronous; you'd need to enqueue
work on TF's compute stream to deref that pointer or sync that stream, and
we don't have APIs to let you do either easily.

On Sat, Aug 31, 2019 at 12:00 AM Leo Fang <notifications@g

[2019-09-03 15:54] smr97 commented on #30753
@004307ec Can you please describe where to add this? Also, do I have to build this from source in order to run TF 1.14 with CUDA 9.0?

[2019-09-03 15:59] sephethus commented on #17101
Having a catch 22 situation here, I have CUDA 10.1 which means I have cudart64_101.dll not 100.dll. It's looking for 100. I cannot downgrade to CUDA 10.0 because I'll have to just wipe out my whole computer to redo the whole NVidia driver situation. NVidia is not friendly towards simply uninstalling drivers in Windows 10. The install will definitely fail as it was doing all weekend till I finally

[2019-09-03 16:03] sephethus commented on #26289
Tensorflow still does not support CUDA 10.1?? Is there any workaround to getting it working with 10.1? I can't downgrade without completely blowing away Windows 10 and reloading which is a royal pain to say the least.

[2019-09-03 16:07] alextp commented on #3907
Training with fixed indices is fine because then you have a _dense_
variable for the values and just make a SparseTensor out of your fixed
indices and those values.

On Tue, Sep 3, 2019 at 1:48 AM László Mérő <notifications@github.com> wrote:

--
 - Alex

[2019-09-03 16:07] WindQAQ commented on #32135
Hi @KristianHolsheimer, I think it it due to precision. If you take a deeper look at the scipy's implementation, you can find out the two arguments passed into `betaln` (python API) or `lbeta` (c API) are `double` a.k.a. `float64`.

So the computation for `lbeta` in scipy is all done with `double`, meaning the numbers are more precise. While in TensorFlow, if you pass `float` into it, the computat

[2019-09-03 16:20] laci37 commented on #3907
I found out that this is true for stable tensorflow, but for 2.0rc the
gradients are lost somewhere, possibly the gradient op is not defined for
sparse dense matmul.

Alexandre Passos <notifications@github.com> ezt írta (időpont: 2019. szept.
3., K, 18:14):

[2019-09-03 16:54] ymodak commented on #32173
duplicate #32172

[2019-09-03 16:54] #32173 closed

[2019-09-03 16:55] mihaimaruseac commented on #31939
These all seem issues with the environment. I'd suggest looking at the detailed logs from `python -m pip install --upgrade -vvv tensorflow==2.0.0rc0` (3 `v`s, the maximum verbosity level).

[2019-09-03 16:58] marno1d opened #32180 "Keras to tflite. Multiple outputs all given name Identity"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):2.0-rc

[2019-09-03 17:01] hollowgalaxy commented on #7278
@danganea are you providing just the conv3d operation for using depthwise3d or a tf keras layer.

Also how would you use the depthwise3d portion?

[2019-09-03 17:19] git-davi opened #32183 "Build tflite-with-select-ops.aar for running on emulator (tf v1.14)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.14.0
- Python version: 3.6
- Bazel version (if compiling from source): 0.24.1
- GCC/Compiler version (if compiling from source): 7.4.0

**Describe the problem**

First of all I tried to build the `tflite-with-select-ops.aar` l

[2019-09-03 17:24] danganea commented on #7278
The tensorflow commit does not include a keras layer.

The separable operation is a depthwise part + a pointwise part. Meaning what you'd do is have a filter of shape (D,H,W,1,input_depth * depth_multiplier) which you use in a initial tf.nn.conv3d operation. This is the group convolution that does the depthwise part. There will be input_depth * depth_multiplier groups.  Generally it's easy to reas

[2019-09-03 17:27] git-davi commented on #31664
Created new issue here [ #32183](https://github.com/tensorflow/tensorflow/issues/32183).
That will be a replace for this.
I moved back to tflite and tf v1.14.
I'm trying to build an `.aar` library that would run on emulator.

[2019-09-03 17:27] #31664 closed

[2019-09-03 17:40] pavithrasv commented on #31819
Closing this issue as we are raising a clear exception disallowing the use case instead of failing with a random error. We will look into whether we can support the usage of sparse ops with TensorFlow op layer in the long run. Thank you!

[2019-09-03 17:40] #31819 closed

[2019-09-03 17:42] mihaimaruseac commented on #32171
Can you provide all the details needed for a bug, see the template?

Can you provide a demo of the behavior you're seeing?

[2019-09-03 17:52] Pin80 commented on #3308
@petewarden
I have the same issue, even! when i link c++ library, extracted from pip package.
Using of flags -Wl,--allow-multiple-definition -Wl,--whole-archive didn't helped me, but i got another error:
usr/lib/gcc/x86_64-linux-gnu/6/libgcc.a(_muldi3.o): In function `__multi3':
(.text+0x0): multiple definition of `__multi3'
/usr/lib/gcc/x86_64-linux-gnu/6/libgcc.a(_muldi3.o):(.text+0x0): first de

[2019-09-03 17:55] kkimdev commented on #32087
This is because for some reason @tf.function puts the work on CPU, not GPU.  If you change the last function to the following, you will observe a similar performance.

[code]

This issue will be tracked by https://github.com/tensorflow/tensorflow/issues/32138

[2019-09-03 17:55] #32087 closed

[2019-09-03 18:02] reedwm commented on #26033
@mayou36 thank you for the feedback. I plan to start a design doc in the upcoming weeks.

[2019-09-03 18:06] gargn commented on #32069
The freeze graph 1.X API ([`convert_variables_to_constants`](https://www.tensorflow.org/api_docs/python/tf/graph_util/convert_variables_to_constants)) does not lower control flow. The API takes in a GraphDef and does not have sufficient information in order to prevent lowering.

Control flow lowering happens in the TFLite code. If you want to prevent lowering from happening, please reference the [

[2019-09-03 18:06] #32069 closed

[2019-09-03 18:09] gargn commented on #25443
@veqtor @CharlesKung Can you both provide reproducible examples with the error that you are getting?

[2019-09-03 18:10] imskr commented on #32180
I would like to work on this issue!  Please assign

[2019-09-03 18:14] peastman commented on #31932
Is there any solution to this problem?

[2019-09-03 18:22] 3dimaging commented on #26289
I installed the Tensorflow-gpu-1.14 with the following modifications:

sudo cp /usr/lib/x86_64-linux-gnu/libcublas.so.10 /usr/local/cuda-10.1/lib64/
sudo ln -s /usr/local/cuda-10.1/lib64/libcublas.so.10. /usr/local/cuda-10.1/lib64/libcublas.so.10.0

sudo ln -s /usr/local/cuda/targets/x86_64-linux/lib/libcusolver.so.10 /usr/local/cuda/lib64/libcusolver.so.10.0
sudo ln -s /usr/local/cuda/targets/x86

[2019-09-03 18:25] davmre commented on #32139
Thanks for the report! This is due to a change in TF's Tensor equality semantics that occurred between the TFP 0.7 release and the TF 2.0.0-rc0 prerelease. You can fix it by installing TFP 0.8-rc0 (`pip install tensorflow_probability==0.8.0rc0 --user --upgrade`), which should include the necessary updates.

[2019-09-03 18:25] davmre commented on #32139
Closing for now; feel free to reopen if the problem still occurs.

[2019-09-03 18:25] #32139 closed

[2019-09-03 18:37] angersson commented on #31926
Thanks for your providing your versions and sample attempts. I've created a PR to fix the confusing instructions here: https://github.com/tensorflow/docs/pull/979

To be clear, it sounds like the correct way to get this working would be to install `nvidia-container-toolkit` and use `docker --gpus all`, which is what you have done. Our CUDA TF images should then work for you once Docker knows how t

[2019-09-03 18:43] karmel commented on #32104
@DeviLeo -- are you sure you're running on GPU? It's not clear how you are intending to place ops on GPU here. Have you tried with [tf.distribute.MirroredStrategy](https://www.tensorflow.org/beta/guide/distribute_strategy)?

[2019-09-03 18:47] karmel commented on #32159
What is the goal of serialization here? We have several saving methods that allow you to save and revive a keras model that might be more appropriate here.

[2019-09-03 18:47] gowthamkpr commented on #32117
Was able to reproduce the issue [here](https://colab.sandbox.google.com/gist/gowthamkpr/9c6f9b830da370ac1bf8774b3516b32e/untitled124.ipynb) Thanks for reporting @bersbersbers

[2019-09-03 19:04] hakos opened #32187 "XLA compilation fails in replica context of distribution strategy"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian GNU/Linux 9.9 (stretch)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command

[2019-09-03 19:14] jakirkham commented on #29039
IIUC the consensus is it would be ok for this to be a blocking request. Though someone please correct me if I am mistaken.

[2019-09-03 19:15] TensorFlow-MKL commented on #29008
@x666633 please close this issue if we have answered your query

[2019-09-03 19:15] jakirkham commented on #29039
Also xrefing a similar request for jax. ( https://github.com/google/jax/issues/1100 )

[2019-09-03 19:20] TensorFlow-MKL commented on #29354
@grahamgower Please close this issue and reopen if you have similar findings in future and have additional suggesion that needs to be addressed

[2019-09-03 19:30] preethivenkatesh commented on #30592
-DEIGEN_USE_VML is to use pure Eigen (w/o mkl) while -DEIGEN_USE_MKL_VML is enabling the use of inbuilt Intel MKL through Eigen

[2019-09-03 19:36] ppwwyyxx commented on #32105
I understand you have a templated response to ask for repro, which is good for filtering out a large portion of issues which are more likely due to user error than a tensorflow bug. But I think I already pointed out the root cause of the issue, and a repro isn't quite necessary to investigate the issue.

In fact, the issue probably requires a very specific version of cudnn to reproduce anyway, so

[2019-09-03 19:37] preethivenkatesh commented on #25952
@eloi-loomai The issue should be resolved now, please try the resolution provided in the above issue

[2019-09-03 19:43] jaingaurav commented on #32100
Please see the following section in PEP8: https://www.python.org/dev/peps/pep-0008/#programming-recommendations

In Python comparing with `None` using `==` is considered an anti-pattern. `==` implies the values are equal vs `is` checks if the two objects are the same object. Often you can get away with using `==` with `None` since `None is None` as they are the same object. However, this is not re

[2019-09-03 19:43] #32100 closed

[2019-09-03 19:48] ekuznetsov139 opened #32188 "Efficient band matrix multiplication"
Tensorflow appears to lack an efficient way to do a multiplication by band matrix.

By this I mean calculating

C[i,j] = sum_k A[i,j+k] B[i, k]

For example, if B is

[ b00 b01 b02 .. b07]
[ b10 b11 b12 .. b17]
[ b20 b21 b22 .. b27]

this is equivalent to multiplying A by

[ b00  0   0 ...
[ b10 b01 0 ...
[ b20 b11 b02 ...
[ 0     b21 b12 ... ]
[ 0     0     b22 ... ]
...
[0   0 ...    b27]

This

[2019-09-03 19:49] robertnishihara commented on #32159
@karmel Note that this issue is not actually about serializing a keras model, but rather about serializing a function that creates a keras model. The APIs you refer to don't help in this case, I think.

Cloudpickle is the standard when it comes to general purpose serialization of arbitrary Python objects (including functions and classes). This is used by many distributed computing frameworks (like

[2019-09-03 19:50] tgaddair commented on #31451
Hey @ravikyram, any update on this?  This is causing issues for users who wish to run distributed training with Horovod using `tf.keras` in TensorFlow 1.14.

I was able to repro by running with more than one GPU available and setting `visible_device_list` and adding the `TensorBoard` callback.

[2019-09-03 20:02] cwbeitel commented on #30869
@jvishnuvardhan @jhseu @w4-sjcho @HeimingX So it does look like there's a side effect in moving the cluster resolver instantiation from its current place but [patching in](https://gist.github.com/cwbeitel/2ab6bb9c5c418d390bedb23b8c959c0b#file-patch_tpu_estimator-py) the `_check_add_preemption_hook` change mentioned above gets rid of the error and training appears to proceed normally.

[2019-09-03 20:07] kkimdev commented on #32138
I'm looking at this. @jsimsa please let me know if you are aware of a similar issue.

[2019-09-03 20:09] jvishnuvardhan commented on #31957
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-09-03 20:09] #31957 closed

[2019-09-03 20:11] jvishnuvardhan commented on #29492
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-03 20:11] #29492 closed

[2019-09-03 20:36] k-w-w commented on #32159
@yifeif Can you take a look at the cloud pickle issue? It looks like it's getting caught up in an infinite recursion loop in LazyLoader

[2019-09-03 21:06] jvishnuvardhan commented on #32125
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-09-03 21:12] aligokalppeker commented on #26411
That's a quite precise solution which handles my problem right away. I have used tf.device("/cpu:0") in the outer portions of the body but the layout optimization error was still given. But when placed in the body itself, the problem has got away.

Thanks...

[2019-09-03 21:17] reedwm commented on #31956
This looks like a bug. However, `contrib` is being removed from TF 2.0, and so the contrib LossScaleOptimizer is deprecated and no longer maintained.

You can use a `tf.keras.mixed_precision.experimental.LossScaleOptimizer` with a tf.keras optimizer. Or in TF 1, a `tf.train.experimental.MixedPrecisionLossScaleOptimizer` with a non-keras optimizer.

I'm closing this issue, as even if it is fixed, t

[2019-09-03 21:17] #31956 closed

[2019-09-03 21:23] bonlime commented on #30753
@smr97 Yes you have to build from source in order to use TF 1.14 with CUDA 9.0. You need to add the lines above to the beginning of your scripts which use TF

[2019-09-03 21:25] jvishnuvardhan commented on #31658
@iSapGod I ran it with T2.0 without any issues. Here is the [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/a1d51dd24e14b789285462a9324565f8/nmt_with_attention.ipynb). One modification I made was uploading `fra.txt` to colab and read it from there. Please check the gist and let me know if you see anything missing.

When you respond or create a new TF issue, Please provide a simple stan

[2019-09-03 21:25] Telcoltar opened #32192 "JSON serializable issue at RemoteMonitor"
The Tensorflow implementation of RemoteMonitor callback raises the error
`Object of type float32 is not JSON serializable.`

Keras own implementation works fine with the same code.

I think the relevant code difference is

[code]
in the Tensorflow implementation and

[code]

in the Keras implementation.

[2019-09-03 21:32] pavanky commented on #31819
@pavithrasv I am not 100% sure the suggested alternative works in tensorflow 1.14:

I originally created this to simplify the repro code, but this fails in 1.14 too

[code]
But this fails with a different error that seems to be fixed in 1.15?

Are there any plans to patch 1.14 or is a fix only expected in the next release?

[2019-09-03 21:41] pavithrasv commented on #31819
The exception is in the commit https://github.com/tensorflow/tensorflow/commit/e3805e70c4634f89af772524b4135953fa27dc2b#diff-8bfbe586f2ba61d9aa9e39676c7f69ee . This is not included in 1.14. Since this is just raising an exception with a workaround suggestion and the workaround is provided here already we decided not to cherrypick this into a release. Please let me know if that is ok.

[2019-09-03 21:44] pavanky opened #32193 "Inconsistent behavior of .shape when using sparse.placeholder"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
- OS Platfo

[2019-09-03 21:46] pavanky commented on #32193
This results in downstream bugs in keras. Should I create new tickets for them or should I include the bugs coming up in keras over here?

[2019-09-03 21:58] piisku78 opened #32194 "micro_speech preprocessing"
**System information**
- TensorFlow version (you are using): 1.14
- Are you willing to contribute it (Yes/No): yes

tensorflow/examples/speech_commands project defines 3 different preprocessing modes. It is possible to train a ML model using all of them.

Then there is an experimental project which will use the ML model from the 1st project on a micro-controller: tensorflow/lite/experimental/micro

[2019-09-03 22:01] pavanky commented on #31819
@pavithrasv thanks, will wait for the next release. We have work arounds for now.

[2019-09-03 22:01] sephethus commented on #17101
So naturally I ended up having to blow away my whole Windows 10 installation and start with a clean install, just to go back a version to 10.0. Unfortunately 10.0 doesn't support Visual Studio 2019 like 10.1 does. So go figure. This is an impossible situation and I might as well give up on Machine Learning altogether.

[2019-09-03 22:03] yifeif commented on #32159
Looks like we might need to handle __getstate__, __setstate__ for the LazyLoader at virtual pip level? cc @mihaimaruseac

[2019-09-03 22:04] k-w-w commented on #32097
@kristofgiber The "NotImplementedError: When subclassing the Model class, you should implement a call method." error has been in Keras for a while now, or are you talking about another error message in the first proposition?

@yashk2810 Can the VAE tutorial be updated to follow the Keras subclassing conventions?

[2019-09-03 22:14] mihaimaruseac commented on #32159
Seems that that is the case, `__getstate__`, `__setstate__`, `__getinitargs__` and `__getnewargs__`.

I will send a fix later today/tomorrow.

[2019-09-03 22:23] ekuznetsov139 commented on #32188
I did some profiling of implementation 2 and it looks like it is slower because it is partly done on the CPU, necessitating lots of CPU<->GPU traffic. The following snapshot

[code]

fails with
[code]

[2019-09-03 22:26] nfelt commented on #32157
@4OH4 - thanks for raising the issue.

I'm having trouble reproducing the slowness when trying the DCGAN tutorial on Colab with TF 2.0.0-rc0, as you described.  I've made the following insertion to the body of `train_step()`:

[code]

Note that this differs from your modification in that:
* I'm using `summary_writer.as_default()` to activate summary writing; without this the `tf.summary.scalar` li

[2019-09-03 23:08] 4OH4 commented on #32157
I think that, actually, i was mistaken and it is not `tf.summary` that is causing the slow down, but that `step` is not a tensor.

I created a variable `step=0` in `train()`, and then incremented it each image batch using `step+=1`. This caused the training slow-down, from 11 secs/epoch to ~168 secs/epoch, as printed by `train()`.

Changing this to `step=tf.Variable(0)` and `step.assign_add(1)` fi

[2019-09-04 00:35] yangjunpro commented on #32176
Thank Shiqing for proposing this feature.
GA is not a fresh idea, the original idea may originated from 2012 in Microsoft's speech training acceleration paper, and in pyTorch and Caffe there is already alike implementation. Such as in
https://gist.github.com/thomwolf/ac7a7da6b1888c2eeac8ac8b9b05d3d3
and
https://github.com/BVLC/caffe/blob/128797ebe100dd87f375d2d30b0f649914d0fcc3/src/caffe/solver.cp

[2019-09-04 00:36] Full4me opened #32196 "ImportError: cannot import name 'Event' from 'tensorflow_core.python' (unknown location)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): with "pip install tensorflow-gpu==2.0.0-rc0"
- TensorFlow version:tensorflow-gpu==2.0.0-rc0
- Python version:3.7.3
- Installed using virtualenv? pip? conda?:pip
- Bazel version (if compiling from source):0.29.0
- CUDA/cuDNN version: CUDA 10.0 and 10.1/cuDNN 1

[2019-09-04 00:37] yangjunpro commented on #32176
@yuefengz

[2019-09-04 00:52] Ryandry1st commented on #32100
I agree with the premise, as it is the recommended/agreed-upon method. The main issue is that this seems to raise some compatibility issues, considering the operation has been changed in 2.0 and is an overloaded operator so it does not have documentation to reference. A suggestion might be to include a simple check with a warning/error handling. That would make more sense than quietly changing the

[2019-09-04 01:18] MattShannon commented on #22280
This is broken again. I think the new link should be:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/autograph/g3doc/reference/limitations.md

[2019-09-04 01:33] seanpmorgan commented on #11956
This can be closed as it was added in https://github.com/tensorflow/addons/pull/207

cc @facaiy

[2019-09-04 01:36] hollowgalaxy commented on #7278
I tried your keras layer implimentation, but it seems to fail on simple example.
[code]
[code]

[2019-09-04 02:02] dgboy2000 commented on #14659
+1 Thanks for your attention. This seems to make tensorflow CTC unusable in a common use case.

[2019-09-04 02:12] CharlesKung commented on #25443
@gargn I just changed the code in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/embedding_ops.py#L693
from
embedding_weights= [ w if (isinstance(w, resource_variable_ops.ResourceVariable) and dtype in (None, w.dtype)) else ops.convert_to_tensor(w, dtype=dtype) for w in embedding_weights ]
to
embedding_weights = [ ops.convert_to_tensor(w,dtype=dtype) for w in embedding_

[2019-09-04 02:13] DeviLeo commented on #32104
@karmel Yes, I'm sure it is running on GPU. At least `nvidia-smi` shows the python process.

I have just tried with [tf.distribute.MirroredStrategy](https://www.tensorflow.org/beta/guide/distribute_strategy), and it worked with `model.fit`.
But in practical applications, I use `model.fit_generator` and ``NotImplementedError: `fit_generator` is not supported for models compiled with tf.distribute.S

[2019-09-04 03:47] oanush commented on #32193
Issue replicating for TF version-[1.15.0-dev20190821](https://colab.research.google.com/gist/oanush/379564e09facc63f335a55bcb5319bfe/32193.ipynb).
Thanks!

[2019-09-04 04:08] jvishnuvardhan commented on #31866
@mahmoodn Is this duplicate of https://github.com/tensorflow/tensorflow/issues/31900? If yes, close this as the code owner is communicating with the user in that issue. Thanks!

[2019-09-04 04:29] oanush commented on #32187
Issue replicating with TF-version [1.14](https://colab.sandbox.google.com/gist/oanush/7bc7560672e6df3d37a785f83bf601d0/32187.ipynb).

[2019-09-04 04:43] jaingaurav commented on #32100
@Ryandry1st: Thanks for the feedback. The compatibility issue is known, but from what has been seen, it has actually uncovered more bugs in the application code where developers expected a different behavior than what they wrote.

I agree the change has had limited documentation. We'll see what we can do to improve that for the release.

[2019-09-04 05:01] cocoakang commented on #25274
I discussed this problem with carlkulseng [here](https://devtalk.nvidia.com/default/topic/1049490/container-tensorflow/-op_requires-failed-at-matrix_inverse_op-cc-191-internal-tensorflow-core-kernels-cuda_solvers-cc-803-cublas-call-failed-status-13/?offset=6#5380467)

And the solution given by carlkulseng works fine with me.
@Donald-Su @longmalongma @OxInsky

[2019-09-04 05:30] gadagashwini commented on #31837
@taiftahmid,
Can you please post a new issue by providing the information asked by the [template](https://github.com/tensorflow/tensorflow/issues/new/choose)?
The reason for this is we can focus on your specific configuration and problem since the root cause can be unrelated even though the error messages are similar. Thanks!

[2019-09-04 05:44] ravikyram commented on #32135
@KristianHolsheimer

Have a look on @WindQAQ's suggestion and let us know if that helps to resolve the issue. Thanks!

[2019-09-04 05:59] oanush commented on #32175
@dm961027 ,
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.

In order to expedite the trouble-shooting process, Can you share a simple and standalone code to reproduce the issue reported here? Thanks!

[2019-09-04 06:08] ravikyram commented on #32192
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the minimal code snippet to reproduce the issue. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensor

[2019-09-04 06:29] beamaster commented on #18982
Unfortunately, I still meet the problem too. It's sad.

[2019-09-04 06:52] KyotoSunshine commented on #23590
@musikisomorphie Will you make a PR?

[2019-09-04 06:53] oanush commented on #32172
@sakh251 ,
Can you share a simple and standalone code to reproduce to reproduce the issue reported here.Also mention the TensorFlow version being used.Thanks!

[2019-09-04 06:54] t104360088 commented on #32072
@gadagashwini , I think this issue is not related to ml model.

https://gist.github.com/t104360088/d9a0904b1fdde0b326692c994d1028f6

[2019-09-04 06:57] jet-jodh commented on #28705
@rounakskm Try adding required .ddl files to the folder where the .exe is present.

[2019-09-04 06:59] oanush commented on #31983
@PgLoLo ,
can you please refer @fgervais response to the issue ?Thanks!

[2019-09-04 07:00] dm961027 commented on #32175
I use  Windows10  , Android studio 3.3 ，the demo in tensorflow_ android，modify the file "DetectorActivity.java"
my .pb file use Linux system  train ，use tensorflow 1.14.0

android build gradle

nativeBuildSystem = 'none'

dependencies {
    if (nativeBuildSystem == 'cmake' || nativeBuildSystem == 'none') {
        implementation 'org.tensorflow:tensorflow-android:+'
          }

[2019-09-04 07:10] Bingqiang1001 commented on #31676
cool!

[2019-09-04 07:14] guillaumekln commented on #32176
This is indeed a must have feature for recent sequence models. Could you clarify why you implemented this inside distribution strategies instead of as an optimizer wrapper?

[2019-09-04 07:24] dm961027 commented on #32175
是不是我训练数据的tensorflow版本太高了，应该使用tensorflow 1.13.0以下的版本

[2019-09-04 07:32] mmmmayi commented on #32112
I use it in the function to calculate group normalization, same as nn.GroupNorm() in PyTorch:
[code]
TF version being used is: 1.15.0-dev20190821

[2019-09-04 07:40] cxl253386709 opened #32199 "_num_gpus_per_worker"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-09-04 07:40] #32199 closed

[2019-09-04 07:42] sjtusmartboy commented on #32175
@dm961027 欺负人家不懂中文吗[奸笑]

[2019-09-04 07:42] fanshiqing commented on #32176
@guillaumekln Actually our GA implementation is an independent functional module which is called conditionally by base `optimizer` class. We add interface especially for distribution strategies as many of our models run top of it for its convenience and nice scalability.

[2019-09-04 08:04] svdHero commented on #31926
Thank you @angersson for your detailed answer and for your PR. I am sure the improved wording will help future CUDA newbies like myself.

Concerning my problem, I don't think that my integrated GPU is the cause. I get the same error message with
[code]
and
[code]
Also, when running Ubuntu 18.04 on the same machine, everything works perfectly now. It seems to be a Debian 10 problem (unfortunately D

[2019-09-04 08:14] akssieg commented on #23563
I am facing the similar issue, My model has many convolutional layers and while converting my tensorflow model to .tflite format the TFLiteConverter changes the first convolutional layer into depthwise convolutional layer. Is there any alternative or a way to revert the changes?

[2019-09-04 08:28] facaiy commented on #11956
Well done

[2019-09-04 08:28] #11956 closed

[2019-09-04 08:32] RZz96 commented on #32171
""""
C:\>python
Python 3.6.8 |Anaconda, Inc.| (default, Dec 30 2018, 18:50:55) [MSC v.1915 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

C:\>
"""
Hi thanks for the reply
As u see after importing the tensorflow ,  it just quit.

[2019-09-04 08:39] danganea commented on #7278
@nio1814  looks like you're not using the version of Tensorflow that includes my commit. Are you?

[2019-09-04 08:39] DecentMakeover commented on #29896
@dimitry-ishenko

when i run this

    def get_model():
     model = Sequential()
     model.add(effnet)
     model.add(GlobalAveragePooling2D())
      model.add(Dropout(0.5))
      model.add(Dense(8, activation=elu))
#   model.compile(loss='mse', optimizer=RAdam(lr=0.00005), metrics=['mse', 'acc'])
  print(model.summary())
      return model

where the effecinetNet model weights are set to None.

[2019-09-04 08:42] laohur opened #32200 "[tflite] how to build tflite project to library for ios bazel, swift, pod, make?"
I want to build tflite project library to shared with other projects on android & ios.
It is easy to build android project library via bazel (cc_binary) and test it via adb.
How about ios, use bazel, swift, pod, make,c++/objectc? how to test it? is there any example?

[2019-09-04 08:44] xingmegshuo commented on #31203
I just want to install tensorflo  not gpu, what should I do?

[2019-09-04 08:49] akssieg opened #32201 "Bug in the Tensorflow .pb to .tflite conversion using TFLiteConverter"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-09-04 08:54] akssieg commented on #32201
@ymodak

[2019-09-04 08:57] guillaumekln commented on #32176
Interesting. Looking forward to see the code!

[2019-09-04 09:01] piisku78 commented on #32194
@petewarden Could you please give your input to this issue.

I find it weird that ML model has a good accuracy after training but it performs badly on target micro controller HW. Preprocessing might be the reason for that. If the input to the model is not exactly similar preprocessed during training and inferencing then the model wont work good on target HW.

[2019-09-04 09:18] weilanShi commented on #11777
Hello, I recently transplanted the tensorflow project to Android. When I transplanted tf-detection, I encountered the same problem as you. When I transplanted the detect-model  to Android, I encounter the same error. I still don't understand your steps. I still can't run through Android at present. Can we contact by email?: 1304020120@qq.com, thank you very much.

[2019-09-04 09:24] jiarenyf commented on #31053
Having the same problem, under watching ... @jianlijianli

[2019-09-04 09:33] Beya2019 commented on #31053
Having the same problem, under watching ,too ...

[2019-09-04 09:55] ravikyram commented on #32171
@RZz96

As per my understanding you are able to install tensorflow successfully but while importing tensorflow it is going to quit from command prompt. Please, let me know my understanding is correct? Thanks!

[2019-09-04 10:07] lxl910915 opened #32203 "why some OPs are not shown on timeline"
why some OPs are not shown on timeline, such as FlatMapDataset, PrefetchDataset and ParallelMapDataset.

[2019-09-04 10:09] gadagashwini commented on #32188
@ekuznetsov139, Which Tensorflow version are you using.
I could reproduce the issue on Colab with Tensorflow 1.14.0. Please see the [gist here](https://colab.sandbox.google.com/gist/gadagashwini/b8020ae709122ca33858f638b93065eb/untitled123.ipynb). Thanks!

[2019-09-04 10:15] gadagashwini commented on #32064
@RochaStratovan, You can get the Tensorflow license info by using the command `pip show tensorflow` . Please take a look at screenshot below. Thanks!
![Screenshot from 2019-09-04 15-42-55](https://user-images.githubusercontent.com/48476109/64246722-f6efd680-cf2a-11e9-9511-f701afdacaa9.png)

[2019-09-04 10:19] RZz96 commented on #32171
yes exactly . i think i have to install another version of python . may be 3.7 .
is there any other way to solve the problem rather than the new installation of python ?

[2019-09-04 10:24] ravikyram commented on #32147
@georgevettathu
Request you to uninstall python and tensorflow .Please, install it again and see if the problem still persists.Thanks!

[2019-09-04 10:25] cuongdv1 commented on #31368
@DocDriven I have same issue.
have you solved it? could you share your solution?

[2019-09-04 10:29] ekuznetsov139 commented on #32188
I am using master.

[2019-09-04 10:31] mcanerim opened #32204 "Coral Board Demo example fails RuntimeError: Model provided has model identifier 'CTYP', should be 'TFL3'"
Traceback (most recent call last):
  File "/usr/bin/edgetpu_classify", line 11, in <module>
    load_entry_point('edgetpuvision==1.0', 'console_scripts', 'edgetpu_classify')()
  File "/usr/lib/python3/dist-packages/edgetpuvision/classify.py", line 162, in main
    run_app(add_render_gen_args, render_gen)
  File "/usr/lib/python3/dist-packages/edgetpuvision/apps.py", line 70, in run_app
    display

[2019-09-04 10:53] ravikyram commented on #32114
@RoyIronGrey
Can you please confirm if @freedomtan's workaround is working for you.Thanks!

[2019-09-04 11:08] ravikyram commented on #31808
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-04 11:08] #31808 closed

[2019-09-04 11:24] taiftahmid opened #32205 "KeyError: u'BatchMatMulV2'"
Trying to generate a .pb file from .meta file but encountered this error when running in tensorflow 1.13.1.
Works after changing tensorflow version to 1.14.0
But I need to generate .pb file using tensorflow 1.13.1 or below versions.

Here's the code:

[code]

[2019-09-04 12:08] Telcoltar commented on #32192
My description above was a little bit short. It was meant as a short notice that the tensorflow.keras RemoteMonitor class has a bug which the Keras RemoteMonitor class does not have. Let me explain it with a little bit more detail.

I have made a quick example which shows the error.

[code]

This code gives a error
`Object of type float32 is not JSON serializable`.

But when delete the Tensorflow

[2019-09-04 12:14] DocDriven opened #32206 "tflite: RandomStandardNormal not convertible with pure tensorflow, but works with keras"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): docker
- TensorFlow version (use command below): 1.15.0-dev20190821
- Python version: 3.6.8

I have an variational autoencoder model utilizing `tf.random.n

[2019-09-04 12:24] DocDriven commented on #31368
@cuongdv1 Unfortunately, I haven't figured it out yet because as far as I know, the source code for the compiler is not open source. Therefore, I couldn't debug it. Best bet is to wait for a new release of the compiler and try again.

[2019-09-04 12:24] leeor-langer opened #32207 "Unsupported ops"
**System information**
- OS Platform and Distribution: Ubuntu 18.04.3:
- TensorFlow installed from: binary
- TensorFlow version: 2.0.0-rc0

_Here's my code:_

converter = tf.lite.TFLiteConverter.from_saved_model(model_dir)
tflite_model = converter.convert()
open(os.path.join(model_dir, 'model.tflite'), "wb").write(tflite_model)

_Here's the error:_

Here is a list of operators for which you will n

[2019-09-04 12:32] tensorflowbutler commented on #31328
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-09-04 12:37] fbadine opened #32208 "make_adv_reg_config not found"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-09-04 12:43] garspace opened #32209 "TensorFlow Lite softmax error if dims >4 (num_dims >= 1 && num_dims <= 4)"
**System information**
- OS Platform and Distribution (Linux Ubuntu 16.04):
- TensorFlow installed from ( binary):
- TensorFlow version (1.13.1):
- Python version (3.7)

my model graph contain reshape op as follows:
self. pixel_link_logits = tf.reshape(self.pixel_link_logits,[shape[0], shape[1], shape[2], 16, 2])
self.pixel_link_scores = tf.nn.softmax(self.pixel_link_logits)

**this is my  tflite_

[2019-09-04 12:44] plmsmile commented on #15777
i get the same error when i `conda uninstall gcc` or install gcc new version.

[2019-09-04 12:57] lgeiger opened #32210 "[TF 2.0.0-rc0] Keras layer dependency tracking behaviour changed in 2.0.0-rc0"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-09-04 13:05] Gra-tak commented on #30427
[code]
Needs to be before the import, since that is where the errors are coming from. Also added a restriction to only effect that warning category instead of silencing all warnings.

[2019-09-04 13:25] hollowgalaxy commented on #7278
I see that makes sense. Is there a nightly version that this commit is featured in?

[2019-09-04 13:28] nurpax commented on #27576
@dbonner Thanks for the sharing these details!  I managed to build TF 1.14 for Windows using the CUDA 10.0 + cudafe++ from CUDA 10.1 trick!

The cudart_.dll, cudnn_.dll problems seems to be a problem in this build_info genrule (tensorflow.bzl):

[code]

AFACT, the shell expansion works only when starting bazel from a MinGW Bash shell, not from the command prompt.  Or at least in my case, I was una

[2019-09-04 14:25] seanpmorgan opened #32211 "[TF2] Nightly-20190904 broken import"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): tf-nightly-2.0-preview (maybe others)
- Python version: 3.6 (probably others)

**Describe the current behavior**
[

[2019-09-04 14:30] uddmorningsun opened #32212 "Raise undefined symbol in "tensorflow.contrib.fused_conv.python.ops.fused_conv2d_bias_activation_op" module"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `CentOS Linux release 7.6.1810 (Core)`
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): `source`
- TensorFlow version: `1.14.0`
- Python version: `3.6.5`
- Installed using virtualenv? pip? conda?: `conda`
- Bazel version (i

[2019-09-04 14:31] ehirdoy opened #32213 "[micro] TFLite optimization failed with TFLite micro interpreter"
**System information**
- custom code: Modified TFLite micro example, **hello_world**, to use MNIST.
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from: binary
- TensorFlow version: v1.12.1-3259-gf59745a381 2.0.0-beta0
- Python version: 3.6.8

**Describe the current behavior**
Without TFL converter optimization, prediction on **micro interpreter** works.
With any TFL con

[2019-09-04 14:46] cwbeitel commented on #32017
@Victor-Almeida @tenghaha Do you specifically need those versions of cuDNN and CUDA? If not the official tested configuration for tf1.14_gpu looks like cuDNN=7.4, CUDA=10.0, see [this](https://www.tensorflow.org/install/source#tested_build_configurations). And you might have an easier time debugging it in comparison to something that works in CPU mode as well as in comparison to a trivially simple

[2019-09-04 14:50] dimitry-ishenko commented on #29896
@DecentMakeover you gotta post a bit more code... Where are you compiling the model and where are you setting the weights? Maybe look at my example above, where I (1) create the model, (2) compile the model and (3) set the weights. All from within strategy.scope().

[2019-09-04 14:51] michaelbenayoun commented on #31596
Updated tensorflow 2.0 preview to the 20190903 nightly and still facing an issue.

#### Code to reproduce

The code is basically the same as before: it runs when using tf.nn.embedding_lookup or wrapping the shared weights with a tf.identity op, but fails in the regular case with a tf.gather.

[code]
#### Other info / logs

Although it is not the same error message as before (ResourceGather related

[2019-09-04 14:52] dieinimymaganha opened #32214 "Error installing tensorflow centos 7"
hi guys, i'm trying to install tensorflow on centos 7, i have python 3.7.4 installed.

When trying to give the pip looks like the message:
Could not find a version that satisfies the requirement tensorflow (from versions:) No matching distribution found for tensorflow

Could you please help me?

[2019-09-04 15:02] brianwa84 commented on #28701
@joelshor would probably be better

[2019-09-04 15:03] brianwa84 commented on #28701
@joel-shor, that is

[2019-09-04 15:06] DecentMakeover commented on #29896
@dimitry-ishenko

Getting a different error now this is the code

def get_model():
      effnet = efn.EfficientNetB5(weights=None, include_top=False)

      # Replace all Batch Normalization layers by Group Normalization layers
      for i, layer in enumerate(effnet.layers):
          if "batch_normalization" in layer.name:
              effnet.layers[i] = GroupNormalization(groups=32, axis=-1, ep

[2019-09-04 15:11] imskr commented on #32117
I want to work on this issue!  Please assign me!

[2019-09-04 15:18] mimxrt commented on #31616
@jsimsa Thanks again for your comment. I attached ([log_20190904150036.tar.gz](https://github.com/tensorflow/tensorflow/files/3575133/log_20190904150036.tar.gz)) a trace from the following pipeline:

    ds = tf.data.TFRecordDataset([f.as_posix() for f in files])
    ds = ds.map(lambda x: tf.parse_single_example(x, {
        "features": tf.FixedLenFeature([132], tf.float32),
        "label": tf.Fi

[2019-09-04 15:28] refraction-ray commented on #13641
Please check the note at https://re-ra.xyz/misc/complexsvd.pdf for the correct backprop formula of complex valued SVD. (I'd like to post this on arXiv for a better reference in the future, but somehow the submission entered onhold status :( and I decided to share this technical report with the community first.)

Also remember to check the updated [blog](https://giggleliu.github.io/2019/04/02/einsu

[2019-09-04 15:44] dimitry-ishenko commented on #29896
@DecentMakeover you are using tf 1.14, right? Cuz tf 2.0 doesn't work with TPU in Colab

[2019-09-04 15:48] DecentMakeover commented on #29896
yes using 1.4, i dont think version is the problem here, also to get more i have posted a query in SO

https://stackoverflow.com/questions/57758831/on-how-to-run-custom-keras-code-on-tpu-cloud

[2019-09-04 15:52] mihaimaruseac commented on #32171
Can you try `python -v` instead of `python` and repeat the same import? You'll have a large output after that, please share it.

[2019-09-04 15:54] laci37 opened #32215 "Weights that are SparseTensor values do not get gradients in eager execution mode"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-09-04 16:01] ravikyram commented on #32108
I have tried on colab with TF version 1.13.1 and was able to reproduce the issue.Please, find the [gist ](https://colab.sandbox.google.com/gist/ravikyram/cf54250e8963f686dcc73ad1a0b3d16f/untitled151.ipynb) here.Thanks!

[2019-09-04 16:01] dimitry-ishenko commented on #29896
@DecentMakeover
My earlier post:

Your SO post:
[code]
So, one more time: (2) COMPILE the model, (3) SET THE WEIGHTS.

[2019-09-04 16:14] DecentMakeover commented on #29896
Tried that already , the second error I posted is the error I get when set weights after compile ,but I’ll take a stab at it again

On 04-Sep-2019, at 9:40 PM, Super-intelligent Shade of the Color Blue <notifications@github.com<mailto:notifications@github.com>> wrote:

@DecentMakeover<https://github.com/DecentMakeover>
My earlier post:

Maybe look at my example above, where I (1) create the model,

[2019-09-04 16:22] kkimdev commented on #32157
I'm sorry for the confusion, here is the relevant doc https://www.tensorflow.org/beta/tutorials/eager/tf_function#python_or_tensor_args

Many users are hitting this and we definitely want to address this.  I will be adding a "too-many-retrace" warning very soon, likely this week.  And we are discussing what we should we do more on the top of that.

Closing this issue as it's not a bug (although it

[2019-09-04 16:22] #32157 closed

[2019-09-04 16:25] RZz96 commented on #32171
I did , the result is the same , just this time it printed all the modules and processes in details.
just to mention that im running it on virtual env

[2019-09-04 16:43] jjimenezcapi commented on #32134
Yes I know, but the issue is about the function plot_value_array
Its no possible to call it with another value that 0 for single predictions. It raised and unbound exception . Its only FYI

[2019-09-04 16:45] mihaimaruseac commented on #32171
Yes, but printing them might hide away the crash. That's why I suggested sharing the output

[2019-09-04 16:48] mihaimaruseac commented on #32214
What version of pip?

[2019-09-04 16:54] dimitry-ishenko commented on #29896
@DecentMakeover Sorry, I get it -- didn't realize your SO post was from 2 days ago.

Anyway, the important thing is if you try to load any weights before compiling the model, you will get an error message. This is what this issue is about.

[2019-09-04 16:54] jsimsa commented on #32075
@ravikyram, could you try reproducing the behavior with TF 1.X, I suspect that this is not specific to TF 2.0.

@rishabhsahrawat what leads you to believe that an uncompressed TFRecord file should be smaller than the equivalent csv file? Unlike csv, TFRecord format duplicates the feature key in each record, so I would expect the uncompressed TFRecord file to actually be bigger.

[2019-09-04 17:10] jdduke commented on #32183
Can you try building with NDK r17c? That is the version we've been using for our stable releases.

[2019-09-04 17:10] #32183 closed

[2019-09-04 17:10] jsimsa commented on #32032
To load data dynamically using tf.data, you can use [tf.data.Dataset.from_generator](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/data/Dataset#from_generator). This should work seamlessly with single worker distribution strategies. For multi-worker distribution strategies, you will need to use [experimental_dataset_from_function](https://www.tensorflow.org/versions/r2.0/api_docs/pyt

[2019-09-04 17:16] dieinimymaganha commented on #32214
Version 19.2.3

[2019-09-04 17:18] jsimsa commented on #31994
Without a reproducible example, there is not much we can do to help.

Autotuning will provide performance that should be close the performance of hand-tuned input pipeline. If you have already hand-tuned your input pipeline, autotuning is not expected to improve your performance further. The main benefit of autotuning is that it avoids the need for users to hand-tuned their input pipelines.

[2019-09-04 17:21] jsimsa commented on #32138
Could you please re-run your program logging device placement `https://www.tensorflow.org/beta/guide/using_gpu#logging_device_placement?

This will provide information about the placement of each op. My expectation is that the `reduce` dataset op introduced by Autograph will be placed on CPU while the `assign_add` and `matmul` ops will be placed on GPU.

[2019-09-04 17:27] tanzhenyu commented on #32215
Passing variable as tensor and then try to get gradients is not supported. This will very likely error out even if you're using dense tensor as well. If you want to support sparse input, simply use tf.keras.layers.Dense since it already supports sparse input today (starting in TF 2.0 rc0)

[2019-09-04 17:27] #32215 closed

[2019-09-04 17:39] dimitree54 commented on #32138
Here is full program log including device placement.
[log.txt](https://github.com/tensorflow/tensorflow/files/3575806/log.txt)

[2019-09-04 17:44] gunan commented on #32211
Maybe @goldiegadde?
Nightlies are very minimally tested. not even tested for imports.
Goldie, are we planning any testing on nightlies?

[2019-09-04 17:46] kristofgiber commented on #32032
Thank you for the answers! I needed solution for multi-GPU distribution strategy but I'm not sure if the multi-GPUs offered by Gcloud or Azure, that I've been using, are multi-worker systems or not, I think they are just multiple GPUs and multiple CPUs on a single VM.
Since then I've rewritten my code in tf.keras functional API and then got this working very nicely with the alternative method of
t

[2019-09-04 17:55] seanpmorgan commented on #32211
Looks to be the same error as https://github.com/tensorflow/tensorflow/issues/29536 so @mihaimaruseac who might know what the issue is as well.

[2019-09-04 17:56] jsimsa commented on #32138
The log information confirms my expectation. The reduce dataset op is placed on CPU but the `assign_add` and `matmul` ops are placed on GPU.

[2019-09-04 17:58] jsimsa commented on #32032
Note that "worker" means machine. Multiple GPUs on a single machine are a single worker distribution strategy (e.g. MirroredStrategy). In any case, great to hear that you were able to use tf.data (and in an idiomatic way too) to solve your problem!

[2019-09-04 17:58] martinwicke commented on #32211
We really should add at least a simple import test before pushing to pypi. I know we talked about it, but nobody has time.

[2019-09-04 18:02] mihaimaruseac commented on #32159
Update: the issue comes from the unpickling part, as shown from the script below:

[code]

This outputs:

[code]

Further investigation reveals that during unpickling `__setattr__` needs to be called (equivalently, `__setstate__` could be called but it needs at least one `__setattr__` to store the new state on the module's `__dict__`). However, the lazy loading approach we're using assumes read on

[2019-09-04 18:14] Sebasdel95 commented on #31058
@senorpinatta  you saved me bro!!! I was 3 days trying to solve this problem, now I download Python for 64bits and I installed tensorflow!!
Tks man

[2019-09-04 18:25] ymodak commented on #32128
By default TensorFlow allocates GPU memory for the lifetime of the process, not the lifetime of the session object. More details at: https://www.tensorflow.org/programmers_guide/using_gpu#allowing_gpu_memory_growth

Thus, if you want memory to be freed, you'll have to exit the program, not just close the session.

Hope that helps.

[2019-09-04 18:28] jsimsa commented on #31616
I looked at your trace but in the five second window it captures only see one tf.data "get_next" event, which takes <40us. This suggests you are not input pipeline bound. Have you tried benchmarking the latency of your input pipeline (i.e. how long it takes to extra an element running in tight loop):

[code]
Separately from the above, try collecting a longer trace (e.g. 30 seconds).

[2019-09-04 18:29] jvishnuvardhan commented on #32108
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-09-04 18:31] mihaimaruseac commented on #32159
Another update:

`tf.keras.Sequential`, `tf.keras` and `tf.estimator` all result in the infinite recursion errors.

`tf.math.sin` doesn't.

[2019-09-04 18:48] yongtang commented on #32093
@hristo-vrigazov I don't have a preference over python or c++ for this case. I think python would be fine as long as there is not a big hit on performance.

[2019-09-04 18:49] frankchn commented on #32163
Unfortunately, custom ops are not supported on TPUs right now, since end users cannot control the custom TensorFlow instance that is running on the TPUs.

We are investigating various ways to overcome this limitation, but don't have anything to announce right now.

[2019-09-04 18:49] #32163 closed

[2019-09-04 19:07] GiggleLiu commented on #13641
A general remark, @refraction-ray just solves the notorious [gauge problem](https://arxiv.org/abs/1907.13422) in the bacpropgation of complex values SVD, making [some important applications](https://arxiv.org/abs/1903.09650) in physics can be reliablly use in general cases.

#### For those who are interested in gradient check
The reason why my gradient check fails: I checked `f(x-a*g) = f(x)-a*|g|

[2019-09-04 19:11] mihaimaruseac commented on #32214
Can you post the full log of `python -m pip install --upgrade pip && python -m pip install --upgrade tensorflow`?

[2019-09-04 19:13] ilhamfp commented on #31823
I'll close this issue as #32121 has been merged.

[2019-09-04 19:13] #31823 closed

[2019-09-04 19:14] mihaimaruseac commented on #32159
We cannot fix this in time for TF 2.0 final release. In fact, we cannot really fix this unless we give up Python 2 support, so we're looking at a fix that should come up by start of next year or so.

Sorry for the delay, but as we didn't support serialization via pickling we never tested if this functionality would get broken by our changes. We'll fix this in the future

[2019-09-04 19:20] elyasmehtabuddin commented on #30580
Sorry guys I was on vacation.

I compiled tf 1.13 from scratch and installed the whl, the issue was there.
I then cherry-picked commit `471b73c238709fb796929eb412f1dab763b3f8cc` and added those changes manually to a new branch I created based off of 1.13.
Then I compiled this custom whl and installed it, the issue went away.

Issue is resolved! Thanks!!!

[2019-09-04 19:20] #30580 closed

[2019-09-04 19:23] dieinimymaganha commented on #32214
![MJ9oUp1SML](https://user-images.githubusercontent.com/38332691/64284614-5ef4eb80-cf30-11e9-979f-e793b45a8d53.png)

[2019-09-04 19:48] mihaimaruseac commented on #32214
Add in a `-v` on the second `pip install` so we get more detailed logs.

Most likely this is an issue with your environment, not a bug in TF.

[2019-09-04 19:50] mihaimaruseac commented on #32214
Also, try `pip install --upgrade setuptools`

[2019-09-04 19:56] Randl commented on #13641
So are we going to see it implemented in TF soon? :)

[2019-09-04 20:01] lotrus28 commented on #32161
Ok, I tried to totally reduce the model completely and try to compile it without training. This time I defined the input shape explicitly, so that its input shape is `(1, 2)` in contrast to `(None, 2)`, if I defined it the way I used to.
<br>
[code]
The summary is then:<br>
[code]
`keras_to_tensorflow.py` identifies its output as `dense_2/BiasAdd`
Is it possible to compile this model?  If not, wha

[2019-09-04 20:01] ymodak commented on #32167
You may post this issue on tensorflow models repository since it belongs to that repository. Thanks!
https://github.com/tensorflow/models/issues

[2019-09-04 20:01] #32167 closed

[2019-09-04 20:02] dieinimymaganha commented on #32214
I did the procedure, and gave this message:

![UPoJ9ARnws](https://user-images.githubusercontent.com/38332691/64287141-50f59980-cf35-11e9-9983-8ac523668ae3.png)

I also upgraded setuptools, then tried again and presented the same message

I am suspecting it to be some limitation for the centos 7 version I am using.

The version I use is Centos Linux release 7.4.1708 (AltArch)

[2019-09-04 20:03] dieinimymaganha commented on #32214
On windows and Ubuntu it worked normally

[2019-09-04 20:06] liushengzhong1023 commented on #30272
Same issue here with tf1.14 on Ubuntu 16.04. Any solutions or ideas yet?

[2019-09-04 20:13] YichengWu opened #32218 "tf.signal.fft2d speed is slow and unstable in RTX2080Ti"
**System information**
- OS Platform: Linux Ubuntu 18.04 (server)
- TensorFlow installed from: docker tensorflow/tensorflow  1.14.0-gpu-py3-jupyter
- TensorFlow version: 1.14.0
- Python version: 3.6.8
- CUDA:  v10.0
- GPU model: RTX 2080Ti

**Describe the current behavior**
The speed of fft2d operation `tf.signal.fft2d` is very unstable at different iterations. Here is an example output of time ev

[2019-09-04 20:15] mihaimaruseac commented on #32214
Probably the c++ compiler or some standard library.

Please try with `-vvv`.

Also, it's harder to read from the images, can you copy-paste instead?

[2019-09-04 20:29] alextp commented on #32082
Empty list should not broadcast to list of one element; broadcasting should just add dimensions or expand dimensions sized 1 to larger sizes

[2019-09-04 21:15] jaingaurav commented on #32210
@lgeiger: Thanks for the bug report. Recently we changed the behavior of equality in 2.0 such that Variables & Tensors are no longer hashable. As an unfortunate side-effect `model.layers[0].kernel in model.layers[0].trainable_weights` does not work as you probably intended since it is trying to do an element-wise equality comparison of `model.layers[0].kernel` with each of the trainable weights. I

[2019-09-04 21:15] #32210 closed

[2019-09-04 21:17] lminer commented on #32142
@oanush I updated it with running code.

[2019-09-04 21:46] alextp commented on #32099
There is one serious TF issue here: the error message is somewhat confusing. If instead of `Const_1:0` it said the actual name of the tensor whose shape is changing (`total_result`) it'd be clear that there's a workaround; at the end of the loop doing `total_result = tf.reduce_sum(total_result)` since you seem to want `total_result` to be a scalar and `mirrored_strategy.reduce` sums across the rep

[2019-09-04 21:50] alextp commented on #32138
It seems like the log is only showing the matmul op executed eagerly, not the matmul op executed inside the reducedataset op. That matmul seems to be running on the CPU.

[2019-09-04 22:01] samhodge commented on #32128
That does not help, the tensorflow library is embedded as a plugin to a parent application.

Either that process will need to fork a subprocess so that application can terminate the entire subprocess.

But at that point I will basically have a client server architecture to a plugin in a parent application, with is not the intended design.

Surely the memory for the session can be managed without s

[2019-09-04 22:07] samhodge commented on #32128
The request to clear the memory without shutting down the application has been a request from at least two users in the last six months, I cannot deliver on this user story without changing the architecture of the application dramatically, which will be different on Windows, OSX and Linux, because I would be spawning subprocesses so they could terminate just to release memory.

[2019-09-04 22:08] ppwwyyxx commented on #32176
A simple wrapper can be made to let any tensorflow 1.0 optimizer support Gradient Accumulation: https://github.com/tensorpack/tensorpack/blob/6a0bba688f2bac1c8baf59eb0c61eb90234a5424/tensorpack/tfutils/optimizer.py#L141-L224

So how is this related to distribution strategies? What types of integration with distribution strategies are you looking for that provide more benefits than simply wrapping

[2019-09-04 22:14] rishabhsahrawat commented on #32075
Hi, according to the docs I got the understanding that TFRecord usually
takes less space. If that is not true then it must be written in the docs.
So, all the cases when it will take more space and less space.
Also, as you are saying that the resulted TFRecord is uncompressed file
then how does one get the compressed file with smaller size and can that be
read or does it need to be first uncompres

[2019-09-04 22:16] kristofgiber opened #32219 "TFP 0.8-rc0 AttributeError: 'MultivariateNormalTriL' object has no attribute 'type'"
I am using TFP 0.8-rc0 with TF2.0.0-rc0 for a VAE composed with keras functional API. I am able to train the VAE however when I want to retrieve the latent code by calling the encoder only (using .predict()), it throws

which is not very informative in itself and I am not sure what it refers to. I am a bit confused why the decoder input seems to accept the output of the TFP layer without problem b

[2019-09-04 22:19] #31756 closed

[2019-09-04 22:28] jsimsa commented on #32075
Could you point me to the documentation that suggests that TFRecord should take less space then a CSV file?

TFRecordWriter supports the same compression types as [TFRecordDataset](https://www.tensorflow.org/api_docs/python/tf/data/TFRecordDataset) --  no compression, `GZIP`, or `ZLIB` -- specified through the `compression_type` argument.

[2019-09-04 22:30] dansitu commented on #32037
I was able to build the project successfully with the commands you gave. I followed these steps:

1. Clone the TensorFlow repo
`git clone --depth 1 https://github.com/tensorflow/tensorflow.git`

2. Change into the directory
`cd tensorflow`

3. Run the make command
`make -f tensorflow/lite/experimental/micro/tools/make/Makefile TARGET=mbed TAGS="CMSIS disco_f746ng" generate_hello_world_mbed_project

[2019-09-04 23:07] #32049 closed

[2019-09-04 23:16] KristianHolsheimer commented on #32135
@WindQAQ You're absolutely right. That was it. Phew.. cheers!!

[2019-09-04 23:17] #32135 closed

[2019-09-04 23:19] mschonwe commented on #32017
I'm seeing the same issues running from the official 1.14.0-gpu docker image.  As well as the nightly-gpu.  The training works fine with the simple models (eg --problem=image_mnist --model=shake_shake).

Seems to be some issue with the interaction between the T2T Librispeech problem and the new tensorflow versions.

[2019-09-04 23:23] aaudiber commented on #32052
@Mageswaran1989 If you define the dataset just once, then re-iterate over it during each epoch, it will reduce the memory consumption. Otherwise each time you create a new dataset, the dataset will be added to the global default graph, so it won't be cleaned up when it leaves scope.

[code]

Creating the dataset once and then iterating over it once per epoch is the idiomatic way of doing things in

[2019-09-04 23:43] k-w-w commented on #30811
I believe this should be fixed in TF 2.0 RC 0. Closing this, but if you are still having issues please reopen this issue.

[2019-09-04 23:43] #30811 closed

[2019-09-04 23:44] allenlavoie commented on #32017
@jsimsa, could you triage? I'm guessing I was assigned due to the "checkpoint" keyword, but it looks like checkpointing completes and this is either input pipeline optimization related or GPU related.

[2019-09-05 00:00] GiggleLiu commented on #13641
@Randl I think so.
@refraction-ray do you want to take this honor? Ping me if you need any help in submitting a pull request. 😄

[2019-09-05 00:06] seanpmorgan commented on #32211
Looks as though this has been fixed. Thanks!

[2019-09-05 00:06] #32211 closed

[2019-09-05 00:17] bionicles opened #32221 "AttributeError: 'Tensor' object has no attribute ['order', 'degree', 'rank']"
**System information**
- TensorFlow version (you are using): 1.14
- Are you willing to contribute it (Yes/No): Yes. `return len(self.shape) - 1`

**Describe the feature and the current behavior/state.**

from wikipedia:

I assumed I could do x.rank ; x.order, x.degree to get this value for a tensor. This is useful when we build a layer we need to do different functions for different order of tenso

[2019-09-05 00:25] bionicles opened #32222 "AttributeError: module 'tensorflow' has no attribute 'indices'"
**System information**
- TensorFlow version (you are using): 1.14 (colab)
- Are you willing to contribute it (Yes/No): not sure how

**Describe the feature and the current behavior/state.**
np.indices is useful to quickly get coordinates for each element in a shape, tensorflow doesn't have this so user must import numpy for this

**Will this change the current api? How?**
sure, `coordinates = tf.i

[2019-09-05 00:41] jhseu commented on #30869
Yeah, this'll be fixed in TF 1.15. You can also pass the cluster to the RunConfig instead of passing master directly and it should work.

[2019-09-05 00:41] #30869 closed

[2019-09-05 00:57] brianwa84 commented on #13641
Happy to help with reviewing/getting it pulled in.

On Wed, Sep 4, 2019, 8:08 PM Leo <notifications@github.com> wrote:

[2019-09-05 01:11] mihaimaruseac commented on #32045
The caller should check, this is defined behavior. It's very probable that the caller already has all checks in place, if not, that's where they should go

[2019-09-05 02:02] mayorquinmachines opened #32224 "Deeplab V3 TFLite starter model has wrong input details shape dtype"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-09-05 02:25] pooyadavoodi commented on #32103
I wonder why you are seeing `Optimization results for grappler item: TRTEngineOp_0_native_segment`. Typically only `Optimization results for grappler item: tf_graph` is reported. Looks like you are running the conversion twice?

[2019-09-05 02:28] pooyadavoodi commented on #32103
Are you using INT8 by any chance? If yes, you might be in the calibration phase which is much slower than inference. You would need to end the calibration.

Here is the docs: https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html#post-train

[2019-09-05 02:29] pooyadavoodi commented on #32103
Note that TF-TRT has made one TRT segment (TRTEngineOp_0) that has 944 nodes in it. This is a large subgraph which is the ideal case.

[2019-09-05 02:44] calmisential commented on #31973
Thanks for your work! Does this mean that the autocomplete problem will be solved when the next tensorflow-2.0 version (may be rc1) is released ?

[2019-09-05 03:08] kurkutesa commented on #30191
Worked for me too

[2019-09-05 03:37] freedomtan commented on #32224
The int32 dtype (`'shape': array([ 1, 257, 257, 3], dtype=int32)`) you referred to is data type for 'shape', not for the data type of the input tensor. And you can see `'dtype': numpy.float32`

[2019-09-05 03:44] eddienewton commented on #32103
@pooyadavoodi thanks for the replies.

I'm getting similar results using either FP16 and FP32.  I first wanted to test these before trying calibration.

I'm going straight from the saved model (created with following code) to the convert_trt code.  I did notice using saved_model_cli actually converts my saved model to TRT faster.

[code]

I'll take a look to see how I could be running the conversi

[2019-09-05 04:02] #32224 closed

[2019-09-05 04:06] gudbooy commented on #31053
Having the same problem, under watching

[2019-09-05 04:56] oanush commented on #31971
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-05 04:56] #31971 closed

[2019-09-05 04:59] AmalVijayan commented on #32208
Seems like the method make_adv_reg_config() was moved to the configs module. The below code works:
`adv_config = nsl.configs.make_adv_reg_config(multiplier=0.2, adv_step_size=0.05)`

[2019-09-05 04:59] gadagashwini commented on #32200
@laohur, Did you get a chance to look [Tensorflow official website](https://www.tensorflow.org/lite/guide/build_ios) to build Tf lite on iOS. Thanks

[2019-09-05 05:46] jtressle commented on #32103
@pooyadavoodi thanks for the replies.

I'm getting similar results using either FP16 and FP32. I first wanted to test these before trying calibration.

I'm going straight from the saved model (created with following code) to the convert_trt code. I did notice using saved_model_cli actually converts my saved model to TRT faster.

builder = tf.saved_model.builder.SavedModelBuilder(str(graph_path))

[2019-09-05 05:54] yuefengz commented on #32176
@fanshiqing Thank for your suggestion. I think this is an important and interesting feature, too. However, it would be difficult for us to change the distribution strategy's constructors. Other options may include changing the optimizer, or doing something in your [custom train loop](https://www.tensorflow.org/beta/tutorials/distribute/training_loops).

[2019-09-05 06:09] anidh commented on #23483
Hey is this method used for grayscale images or RGB images. Moreover what is the mBitmapIn var?

[2019-09-05 06:27] oanush commented on #32196
@Full4me ,
When tried running ```
 from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, LSTM, BatchNormalization
[code]

[2019-09-05 06:28] danielwatson6 opened #32227 "`tf.strings.regex_replace` cannot add special characters on rewrite pattern"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.13.4
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0b1 (CPU version)
- Python version: 3.7.4

**Describe the current behavior**
Google's re2 library see

[2019-09-05 06:31] gadagashwini commented on #32212
@memory-yancy, Thanks for reporting the issue.
I could replicate the issue on Tensorflow 1.14.0.
Its fixed in the latest Tf nightly version. Please see the [gist here](https://colab.sandbox.google.com/gist/gadagashwini/5290c7a10f1501e5ae0051808d9a0275/untitled124.ipynb).
You want to a give try.Thanks!

[2019-09-05 06:39] gadagashwini commented on #32203
@lxl910915,
Could you elaborate the issue with context. Thanks!

[2019-09-05 06:42] gadagashwini commented on #31939
@charmscale, Did you get a chance to look @mihaimaruseac's comment. Thanks!

[2019-09-05 06:47] ravikyram commented on #32219
I have tried on colab with TF2.0.0-rc0 ,2.0 nightly version 2.0.0-dev20190903 and was able to reproduce the issue.Please, find the [gist](https://colab.sandbox.google.com/gist/ravikyram/5757e4e551b8262e9205a18f1a3637b4/untitled152.ipynb) here.Thanks!

[2019-09-05 06:48] gadagashwini commented on #31996
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-05 06:48] #31996 closed

[2019-09-05 07:04] zuowang commented on #24399
iterator should be initialized in each epoch.
[code]
the output:
[code]

[2019-09-05 07:12] Mageswaran1989 commented on #32052
@aaudiber Thanks for clearing my assumption. As I thought the data is going to the global graph.

I tried your suggestion before raising this issue, when I came across this [StackOverflow question](https://github.com/tensorflow/tensorflow/issues/32052) . The problem arises when I use dataset with estimator.

I get following error, when I try to move the dataset creation outside of `input_fn` defin

[2019-09-05 07:18] JackBoosY opened #32228 "Build error C2589 on x64-Windows-static"
Hi Developers,

I recently tried to build tensorflow using vcpkg, and I have encountered some compilation errors.
After two days of research this issue, I gave up. And I am not familiar with the bazel compiler.
So can someone help me?

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Windows 10 x64 build 1903**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Gal

[2019-09-05 07:19] JackBoosY commented on #32228
Related: [#7995](https://github.com/microsoft/vcpkg/issues/7995).

[2019-09-05 07:47] zepen commented on #32108
As you can see,  we can't break inner loop on tf version code. we expect ‘ai’，but return ‘b'airam‘.  The problem is inner loop can't break even if we already get result.

[2019-09-05 07:52] lxl910915 commented on #32203
We use tf.data.Dataset to read dataset file, and we also used map,batch,shuffle,prefetch OPs and so on. While on timeline, we can not find those OPs.

Code as follows:
[code]

[2019-09-05 07:57] ravikyram commented on #32204
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the code snippet to reproduce the issue. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensorflow/iss

[2019-09-05 07:58] gadagashwini commented on #32218
I was able to reproduce the issue with Tensorflow 1.14.0. Please see the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/63fded2fb0049ecf0e1a8de505856559/untitled125.ipynb). Thanks

[2019-09-05 08:01] Full4me commented on #32196
@oanush

reinstalled, restarted PC and now is working.

Thx for You time.

[2019-09-05 08:01] #32196 closed

[2019-09-05 08:18] gadagashwini commented on #29408
@KengoWada,
Closing this issue since the associated PR has been merged. Feel free to reopen if the problem still persists. Thanks!

[2019-09-05 08:18] #29408 closed

[2019-09-05 08:26] ravikyram commented on #31568
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-05 08:26] #31568 closed

[2019-09-05 08:28] faerics commented on #31441
Hello, commenting to bubble this up. @aaroey, let's continue the discussion!

[2019-09-05 08:30] jinfagang opened #32229 "why tensorflow 1.14 does not have contrib module?"
[code]

Does this normal?

[2019-09-05 08:33] laci37 commented on #32215
If I understand @martinwicke 's comments on the issue #6998 well this is supposed to work this way. Replacing all sparse ops with their dense equivalent makes the above code work on 2.0-rc0.

[2019-09-05 08:36] ravikyram commented on #31817
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-05 08:36] #31817 closed

[2019-09-05 08:37] RZz96 commented on #32171
hi , ok here you have :

# C:\Users\AppData\Local\Continuum\anaconda2\envs\env3\lib\site-packages\tensorflow\__pycache__\__init__.cpython-36.pyc matches C:\User\AppData\Local\Continuum\anaconda2\envs\env3\lib\site-packages\tensorflow\__init__.py
# code object from 'C:\\User\\AppData\\Local\\Continuum\\anaconda2\\envs\\env3\\lib\\site-packages\\tensorflow\\__pycache__\\__init__.cpython-36.pyc'
# C:

[2019-09-05 08:40] ravikyram commented on #32048
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-05 08:40] #32048 closed

[2019-09-05 08:43] RZz96 commented on #32171
Hi here i have attached the output.
[output.txt](https://github.com/tensorflow/tensorflow/files/3578277/output.txt)

[2019-09-05 08:48] vibwipro commented on #31939
I am also getting similar issue...
![image](https://user-images.githubusercontent.com/49004578/64326664-a9c34180-cfca-11e9-8ffc-a678317fc67b.png)

[2019-09-05 08:52] smr97 commented on #24428
Hey, I am able to generate the traces like this, but the program terminates with a ValueError saying that the given tag was already used for this event type (before this error isgt. This happens only when I pass the hook in estimator.eval(), works fine with train.

What I really wanted was to generate tensorboard visualisation and the traces with the same code, but if I add the hook, then the tens

[2019-09-05 09:09] maximneumann opened #32230 "tf 2.0.0-rc0 tutorial colab (hub_with_keras) fails when batching images for simple model training"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): google colab
- TensorFlow version (use command below): 2.0.0-rc0
- Python version: 3.6.8

**Describe the current behavior**
Original bug report: https://github.com/tensorflow/hub/issues/359

Using tf 2.0.0-rc0 and co

[2019-09-05 09:36] breadbread1984 commented on #29252
is there a counterpart of one_shot_iterator in tf 2.0. how can I keep the context of a dataset?

[2019-09-05 09:56] praveenjune17 opened #32231 "Bug in categorical_crossentropy loss (label smoothing)"
Possible bug found in categorical_crossentropy's label smoothing argument in [line](https://github.com/tensorflow/tensorflow/blob/r1.14/tensorflow/python/keras/losses.py#L940-L941) and for TF2 its in [line](https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/keras/losses.py#L960-L961)

The axis specified in num_class is 1 which works fine for a  Rank 2 tensor but fails for higher

[2019-09-05 10:20] theceday commented on #14659
This is fixed for pytorch. Probably similar changes needed here.
https://github.com/pytorch/pytorch/pull/23298
https://github.com/pytorch/pytorch/pull/21910

[2019-09-05 10:43] dm961027 commented on #32175
help me , please

[2019-09-05 11:06] mimxrt commented on #31616
When running your code snipped my workstation does run out of memory (128 GB RAM). For some reason, iterating the dataset like this occupies all memory after approximately 9920000 iterations (i added a `print(i)` every 10000 rounds to see some progress). After that the execution stalls and nothing happens further. However, I can confirm that the execution takes a long time (similar to running the

[2019-09-05 11:11] akanyaani opened #32232 "Distributed Training is not working with input signature"
Distributed training is not working when I am passing input signature in tf.function

[code]
Please have a look at traceback.

`Traceback (most recent call last):
  File "train_gpt2.py", line 86, in <module>
    train()
  File "/home/abhay/anaconda3/lib/python3.7/site-packages/click/core.py", line 764, in __call__
    return self.main(*args, **kwargs)
  File "/home/abhay/anaconda3/lib/python3.7/si

[2019-09-05 11:16] laci37 commented on #32215
I made a workaround for my use case with `tf.custom_gradient`. It is probably slow on the backward pass, but works. It can be found here: https://gist.github.com/laci37/b7bcb88a08ed09e298b6bf34393ad80b

[2019-09-05 11:16] amrithadevadiga commented on #6548
I have installed conda on centos7 ..later when i installed tensorflow by executing command
conda create -y -n tensorflow python=2.7
source activate tensorflow
conda install tensorflow

i logged in to container to test the tensorflow installation

python
Python 2.7.16 |Anaconda, Inc.| (default, Aug 22 2019, 16:00:36)
[GCC 7.3.0] on linux2
Type "help", "copyright", "credits" or "license" for more in

[2019-09-05 11:26] gadagashwini commented on #32203
@lxl910915, Will it be possible to provide minimal standalone code reproduce the reported issue. Thanks!

[2019-09-05 11:57] git-davi commented on #32183
The build has done many more steps, and the previous problem has been resolver :+1: but now gets stuck with :
[code]
new **WORKSPACE** :
[code]

Should also ANDROID_NDK_API_LEVEL be 17?

[2019-09-05 12:02] youw3 opened #32233 "Why tfrecord only support Int64, Float, Bytes, not support Int32 or Double？"
for example， i only need Int32 ， it seems to need more space to store the Int64 data？ also i need Double but using Float will cut off the precision of data.

[2019-09-05 12:16] julyrashchenko opened #32234 "TF-2.0: Keras model save load memory leakage"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): tens

[2019-09-05 12:16] ravikyram commented on #32229
@jinfagang
TF 1.14 has contrib module.Please, find the [gist ](https://colab.sandbox.google.com/gist/ravikyram/f3cc2d7dca34311af82f3e9cb77b2eff/untitled155.ipynb) here.Thanks!

[2019-09-05 12:26] lotrus28 commented on #32161
I have attached the compilation log for a model with just 2 Dense layers.
As before, it compiles, but can't be further used. Perhaps there are some important warnings in there that could help

[LOG.txt](https://github.com/tensorflow/tensorflow/files/3579259/LOG.txt)

[2019-09-05 12:29] ravikyram commented on #32192
I have tried on colab with 2.0.0-rc0 and was able to reproduce the issue.Please,find the [gist ](https://colab.sandbox.google.com/gist/ravikyram/bf10dde754b4e8d73d8c021e4e014120/untitled156.ipynb) here.Please, let us know which TensorFlow version you are using?.Thanks!

[2019-09-05 12:32] tensorflowbutler commented on #31245
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-09-05 12:43] Telcoltar commented on #32192
I have used 1.14.0, but the class RemoteMonitor is in 1.14.0 and 2.0.0-rc0 identical.

[2019-09-05 12:57] Yooong-W commented on #32037
alright,im done it according to your method,i got the error as follws.
chould you please help me check out what steps i do  wrong?
[code]

[code]

[2019-09-05 13:00] YoungSharp commented on #32146
i had solved it by adding some file(find those unrecognized function in tensorflow folder) into project tensorflow and comment "WorkerSessionForSession" function then build succeeded.

[2019-09-05 13:01] #32146 closed

[2019-09-05 13:24] harshdeep2088 commented on #23683
@TamirisCrepalde thanks a ton. I wasted a full day before i found your solution and It worked for me.

[2019-09-05 13:40] RichardArendsen71 opened #32235 "tf.scatter_nd sums updates if indices are duplicated"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2019-09-05 13:58] DAEHEESHIN commented on #29481
I hit the same problem when I use batch normalization, too.
i am using tensorflow 2.0 b1..
![image](https://user-images.githubusercontent.com/5635674/64348747-afec0900-d030-11e9-9e45-6b3c4609ed4e.png)

[2019-09-05 14:12] javidcf opened #32236 "boolean_mask does not accept a Tensor as axis"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 x64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): unkno

[2019-09-05 14:45] medard0 commented on #21164
did someone solve this?

[2019-09-05 14:49] nidegen opened #32237 "iOS framework build of tf_lite has missing _TFLGpuDelegateCreate object"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- TF Version: b50852ccac3d9e90af0568391ace90fc1da440e1 (master on Sep. 5 2019)
- build ty

[2019-09-05 14:59] maximneumann commented on #32230
Resolution: instead of ".fit()", one should have used ".fit_generator()".

[2019-09-05 14:59] #32230 closed

[2019-09-05 15:01] dieinimymaganha commented on #32214
Hello,

I will try to perform this procedure.

I am updating the centos and it is a bit slow.

[2019-09-05 15:15] aakbar5 commented on #29792
Where can I find the model files (.pb or .tflite etc) which have been used to generate person_detect_model_data.cc? @petewarden

[2019-09-05 15:16] laohur commented on #32200
yeah. and how to build a library including tflite?

[2019-09-05 15:24] haimat opened #32239 "ModelCheckpoint can't use "val_acc" even if fit() function receives validation_data argument"
**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0-rc0-gpu
- Python version: 3.6.8
- CUDA/cuDNN version: 10.0
- GPU model and memory: NVidia Tesla P100 (16 gb)

**Describe the current behavior**
Recently I switched from TF1 wrapped with native Keras to TF2 using the built-i

[2019-09-05 15:27] elyasmehtabuddin opened #32240 "TPU has unsupported tensorflow op "LogUniformCandidateSampler" using XLA"
Using NCE loss for an NLP model and ran into an issue where XLA doesn't compile using TPU.
[code]

**System information**
- Using Google's cloud TPU with Tensorflow 1.14
[tf_env.txt](https://github.com/tensorflow/tensorflow/files/3579968/tf_env.txt)

**Describe the current behavior**
I get an error when running the code on TPU because XLA doesn't support candidate samplers.

image:
![Screen Shot 2

[2019-09-05 15:32] mihaimaruseac commented on #31939
`python -m pip install --upgrade pip && python -m pip install --upgrade setuptools && python -m pip install --upgrade tensorflow`

If this still fails, add `-vvv` just before `tensorflow` and post the full log _as attachment_, not as image

[2019-09-05 15:32] jdduke commented on #32183
Is that the only error? No other failure message(s)? You might try setting the NDK_API_LEVEL to 17, though I don't think that should be necessary. You might also try 19.

[2019-09-05 15:33] vade opened #32241 "tf.keras Sequence model looses final output when saved as frozen pb graph?"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes and No. Both cases fail.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux / Google Collaboratory runtime
- TensorFlow installed from (source or binary): No : Google Collab default runtime
- TensorFlow version (use command below): Google Collab default runtime

[2019-09-05 15:34] mihaimaruseac commented on #32171
Ok, so there's a segfault coming from a dependency. what version of `h5py` gets installed on your system?

[2019-09-05 15:35] awav opened #32242 "[TF2.0] Checkpoint doesn't store non-TF objects"
Hello all,

I found that `tf.train.Checkpoint` doesn't save non-TF objects and tf.Tensors. The MWE below shows the case:

[code]

Output:
[code]

In the output you can see that the checkpointer restores only the variable and completely ignores other fields of the A object.

I expected that at least pythonic objects, numpy and TF tensors should be stored by the checkpointer on the disk. Is that a n

[2019-09-05 15:39] tonyreina opened #32243 "SpatialDropout2D"
**System information**
- TensorFlow version (you are using): 1.11
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**

SpatialDropout2D is often used in CNNs (https://www.tensorflow.org/api_docs/python/tf/keras/layers/SpatialDropout2D).  At inference time, the layer should be treated just like a regular dropout layer where it just scales the co

[2019-09-05 15:49] RZz96 commented on #32171
it is 2.9.0

[2019-09-05 15:49] varunjammula commented on #21164
It happens when you also have an incompatible import statement.

[2019-09-05 15:52] mihaimaruseac commented on #32171
Can you try with `pip install tensorflow==2.0.0rc0` instead of `1.14`?

[2019-09-05 15:54] mihaimaruseac commented on #32171
Another option is to try having a file `myfile.py` with just `import tensorflow` and see if you can do `python myfile.py`

[2019-09-05 15:55] RZz96 commented on #32171
no . i already tried and didnt work . im installing the tensorflow 2

[2019-09-05 15:56] mihaimaruseac commented on #32171
And the third option (although you might want this first) is to run python in a debugger.

For example, here's what I'd do if `gdb` were present (needs some setup on Windows)

[code]

[2019-09-05 16:04] git-davi commented on #32183
Yes it is, no other failure messages. I tried with NDK_API_LEVEL to 17 and got :
[code]

**WORKSPACE** :
[code]

[2019-09-05 16:05] git-davi commented on #32183
Now I'm trying NDK_API_LEVEL to 19. Let's see...

[2019-09-05 16:05] mihaimaruseac commented on #32045
There are more issues in that file. I'll handle those changes this week

[2019-09-05 16:07] alextp commented on #32221
This is by design, use len(tensor.shape) instead, or tf.rank(tensor), etc.

[2019-09-05 16:07] #32221 closed

[2019-09-05 16:09] yongtang commented on #21164
@varunjammula @medard0 the PR for the fix should have been in the latest version of TensorFlow. If the issue persist (or different but similar issue), can you open a new issue with the exact steps to reproduce?

[2019-09-05 16:15] shissler1987 commented on #31195
I also got the same issue on 1.14 with cuda and clang...
Has anyone found a solution?

[2019-09-05 16:15] skeydan opened #32244 "Please modify cuda-bin in cuda_configure.bzl to copy just needed files instead of directory"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Fedora 30
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version: master branch
- Python version: 3.7
- Installed using virtualenv? pip? conda?: N/A
- Bazel version (if compiling from source)

[2019-09-05 16:22] RZz96 commented on #32171
the new installation didnt work .
i never used gdb for python debugging . i will try it and let you know.

[2019-09-05 16:22] vade commented on #32241
Ok, looking further into this, it appears this bug was fixed in TF 2.0:

https://github.com/tensorflow/tensorflow/issues/28668

Switching Google Collab to use TF 2.0 now prints the `output/Identity` upon loading the model:

[code]

prints

[code]

However, its unclear if I can export a protocol buffer from TF 2.0 directly in Python anymore? The above code all relies of sessions which are gone, as

[2019-09-05 16:35] joel-shor commented on #28701
Yes I think you're right. The comment is inconsistent with the function-level description, which is correct. Do you want to change it? Please not that `tf.contrib` will be going away in future version of tensorflow, so it probably makes more sense to change it in `tensorflow_gan` here and here. Do you want to send me a CL to fix this?

https://github.com/tensorflow/gan/blob/master/tensorflow_gan/p

[2019-09-05 16:35] #28701 closed

[2019-09-05 16:36] jvishnuvardhan commented on #21135
@ybsave @TheCrazyT @Efaq Can you check the following [gitst](https://colab.sandbox.google.com/gist/jvishnuvardhan/bd452d8652f0fe7c9059a67d07fb0d53/tf_21135_callbacks.ipynb) and let me know your comments. I updated @ybsave code little bit and ran it in google colab. I don't see any issue but want to know whether you have any concerns. Thanks!

[2019-09-05 16:36] drasmuss commented on #20698
This still seems broken to me (in tensorflow 2.0.0-rc0). See this snippet:
[code]
which gives
[code]

[2019-09-05 16:40] dansitu commented on #32037
Thanks for trying this out. What version of Make are you using? I'm using
4.2.1. If your version is lower than this, I'd suggest installing 4.2.1 and
trying again.

On Thu, Sep 5, 2019 at 6:05 AM Yooong-W <notifications@github.com> wrote:

--

Daniel Situnayake | Developer Advocate, TensorFlow Lite
<https://www.tensorflow.org/lite/> | dansitu@google.com | tensorflow.org

[2019-09-05 16:48] nealjack commented on #29792
I have the same question.

[2019-09-05 16:48] anjul1008 opened #32246 "tf.train.SingularMonitoredSession() Error:tensorflow.python.framework.errors_impl.NotFoundError: Failed to create a NewWriteableFile"
hi,
I'm new with tensorflow, I'm facing an issue while executing a [project](https://github.com/hcmlab/vadnet/blob/master/train/code/main.py) on window 10.

Using :
python-3.5.4
tensorboard-gpu=1.14.0
cuda-10

ERROR:
tensorflow.python.framework.errors_impl.NotFoundError: Failed to create a NewWriteableFile: C:\Users\MY-PC\Desktop\tools\vadnet\train\nets\vad_Model[48000,48000,24000,512,None]_Conv7[

[2019-09-05 16:54] mihaimaruseac commented on #32229
It exists, see following test:

[code]

Are you using a pip installed tensorflow or one built from source? Did you alter the code?

[2019-09-05 16:54] #32229 closed

[2019-09-05 17:07] robertnishihara commented on #32159
Thanks for the update @mihaimaruseac. Fixing this in the future would be great. Out of curiosity, why does fixing it mean giving up support for Python 2?

[2019-09-05 17:07] pavanky opened #32248 "Performance regression in sparse_dense_matmul"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platf

[2019-09-05 17:08] pavanky commented on #32248
Note: The performance seems to be fixed in 1.15:

[code]

Would it be possible to cherry pick whatever fixed this issue into a 1.14 branch?

[2019-09-05 17:08] #32164 closed

[2019-09-05 17:10] mihaimaruseac commented on #32159
We are using a custom lazy loader object to mimic functionality that is present only in Python3.5 and later to create some modules on the fly.

[2019-09-05 17:25] jsimsa commented on #32017
Can you collect a stacktrace at the time your program hangs a share a link to it?

[2019-09-05 17:27] gowthamkpr commented on #32029
Was able to reproduce the issue. Please find the attachment of github gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/b4519fb3fb254cd7daaecc7095070456/untitled127.ipynb). Thanks!

[2019-09-05 17:30] rxsang commented on #32024
Quick check: Is your GCS regional storage and in the same Cloud zone as your VMs?

[2019-09-05 17:34] jsimsa commented on #32052
The problem is that you are calling estimator `train` method multiple times (once for each epoch). This will create multiple copies of the input pipeline graph (and since the input pipeline graph inlines any constants such as input to `from_tensors` and `from_tensor_slices`, you will see a memory increase.

The recommended way for iterating through multiple epochs of your data using the Estimator

[2019-09-05 17:34] ymodak commented on #31504
@Bakibiiiillah Without code snippet we can do very little to help you solve your problem.
From the error message following post may help you resolve it;
https://stackoverflow.com/questions/32302180/typeerror-image-data-can-not-convert-to-float

[2019-09-05 17:37] jsimsa commented on #31616
Have you tried using the [Profiler Service](https://www.tensorflow.org/tensorboard/r2/tensorboard_profiling_keras#profiler_service)?

[2019-09-05 17:42] jvishnuvardhan commented on #32175
@dm961027 Could you summarize your issue with little more details? Thanks

[2019-09-05 17:43] er91 commented on #29075
Will be released in 2.0 RC1

[2019-09-05 17:43] #29075 closed

[2019-09-05 17:43] nsantavas commented on #32024
@rxsang yes

[2019-09-05 18:21] mlostekk opened #32249 "Is tensorflow lite malloc free?"
I read that TFL Micro is malloc free, but is Tensorflow Lite also malloc free? I wondering if its safe to use inside an audio thread?

[2019-09-05 18:25] dieinimymaganha commented on #32214
I had to do it all over again.

I had to attach the error log as it exceeded the character limit
[error.txt](https://github.com/tensorflow/tensorflow/files/3580706/error.txt)

[2019-09-05 18:36] DavidKWH opened #32250 "tf.saved_model.save() broken for my subclassed model in tf-2.0.0rc0"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-09-05 18:37] mayorquinmachines commented on #32224
@freedomtan My bad! Got confused, thanks for the explanation :+1:

[2019-09-05 18:47] vade commented on #32241
Using the new `tf.saved_model.save` function lets me save a pb file but, sadly, the PB file appears malformed or not appropriate for inference (Netron complains its very large - and once its loaded it appears very different than my h5).

[2019-09-05 19:07] mschonwe commented on #32017
Can you clarify what you're looking for?  Since the process does not halt, there is no stacktrace.  A representative end-of-logging is shown in @cantwbr post (github.com/tensorflow/tensorflow/issues/32017#issuecomment-525726395).

With `TF_CPP_MIN_VLOG_LEVEL=2` enabled the logging is extremely verbose and probably not practical to post here.

[2019-09-05 19:13] rishabhsahrawat commented on #32075
I read about it here (
https://medium.com/mostly-ai/tensorflow-records-what-they-are-and-how-to-use-them-c46bc4bbb564),
second paragraph. Although I could not find something similar on TF docs.
As you mentioned earlier the size is expected to be bigger than the csv, so
do you think it is still beneficial to use TFRecords data for very large
files?  Thank you!

On Thursday, September 5, 2019, Jiri

[2019-09-05 19:45] pavithrasv commented on #32127
Thank you for the issue @51616. I tried the colab and got different results for MSE and BCE losses in custom training loop:

MSE loss:
[code]

BCE loss:

[code]

Are you observing something else?

[2019-09-05 19:48] mschonwe commented on #32017
Here is a snip of the last ~100 lines from a run of the basic problem, run via:
`t2t-trainer --problem=librispeech_clean_small --model=transformer --output_dir=/models/JUNK --data_dir=/data/ --save_checkpoints_secs=1800 --schedule=train --hparams_set=transformer_tiny`
[code]

[2019-09-05 19:49] gowthamkpr commented on #31839
@ceteke Can you please provide a github gist of the issue. Thanks!

[2019-09-05 19:50] jvishnuvardhan commented on #32144
@peterkfm I am closing the issue as it was resolved by https://github.com/tensorflow/tensorflow/pull/32220. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/68142e9b75eef414bf38014498fc6c85/tf_32144.ipynb). Thanks!

[2019-09-05 19:50] #32144 closed

[2019-09-05 19:54] Mickky666 opened #32254 "Input placeholder with shape [1] of saved_model.pb accepts scaler input but throws error in later graph."
Env:
* Mac OS
* python 2.7
* tensorflow 1.13.1 installed from pip

Description:
I'm using estimator API to build model. Inside serving input function, my model has an int64 input placeholder with shape [1]. And this placeholder is later concatenated with another tensor. Then I trained the model and saved it to `*.pb` graph. However during serving time I mistakenly feed a scaler value to this place

[2019-09-05 19:55] youngalou opened #32255 "TPU with tensorflow 2.0 -- 'DeleteIterator' OpKernel missing"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platform and Distribution: Debian GNU/Linux 9
- TensorFlow installed from (source or binary): /usr/bin/pip3
- TensorFlow version (use command below): 2.0.0b1
- Python version: 3.5.3
- TPU type: v2-8
- TPU software version: 1.14

**Describe the current behavior**
I am ru

[2019-09-05 20:30] jsimsa commented on #32017
It does not halt, but it does stalls and it would be good to understand what is each thread of the program doing (e.g. if this is a deadlock). The log itself does not provide enough information to form a hypothesis about what could be going on and the first thing I would do to debug further is to use gdb to connect to running process to see what is each thread doing. As far as I know, this will no

[2019-09-05 20:34] jsimsa commented on #32075
If you compress the file, I would expect it to be smaller. Additional benefits of using TFRecord for large dataset is that you can process the data in a streaming fashion (e.g. with tf.data) as opposed to loading the entire dataset into memory which it might not fit.

[2019-09-05 20:44] git-davi commented on #32183
**UPDATE** :
[code]

**ERROR** :
[code]

Now trying with NDK_API_LEVEL to 19.

[2019-09-05 21:08] mschonwe commented on #32017
I've attached a gdb to the 'stalled' process, would you want to see a `bt` ?

[2019-09-05 21:13] wazeerzulfikar opened #32261 "TF2.0 : NonMaxSuppressionV2GPUOp segmentation fault"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): TF2.

[2019-09-05 21:18] vade commented on #32241
Ok, so, Freeze_graph from 2.0 branch does not appear to work either, even if I adjust tensor names from operation names, I consistently get output not in graph. Im using TF 2.0.0rc0, using the freeze_graph.py, and using 'output/Identity' as my output tensor name:

My freeze graph call:

`freeze_graph.py freeze_graph.py --input_saved_model_dir="Path/to/saved/model" --output_node_names="output/ident

[2019-09-05 21:22] mschonwe commented on #32017
Also, FWIW, the lead of the Tensor2Tensor team referred this to Tensorflow support in: https://github.com/tensorflow/tensor2tensor/issues/1643

[2019-09-05 21:34] jsimsa commented on #32017
Could you run `thread apply all bt` and post the result in pastebin and share a link to it here? Thanks.

[2019-09-05 21:37] wazeerzulfikar opened #32262 "TF2.0 : Tensorflow object detection model zoo inference not working on gpu"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0-

[2019-09-05 21:54] ramakumar1729 commented on #25445
TensorFlow Ranking  is now fully compatible with TF 2.0 RC0. See release [notes](https://github.com/tensorflow/ranking/releases/tag/v0.1.4) for v0.1.4.

[2019-09-05 21:57] gowthamkpr commented on #32234
@julyrashchenko Can you please provide the github gist of the issue. Thanks!

[2019-09-05 22:08] ymodak commented on #32112
The recommended approach is to [convert the model](https://www.tensorflow.org/lite/guide/ops_select#converting_the_model) with TFLITE_BUILTINS, then with both TFLITE_BUILTINS,SELECT_TF_OPS, and finally with only SELECT_TF_OPS. Using both options (i.e. TFLITE_BUILTINS,SELECT_TF_OPS) creates models with TensorFlow Lite ops where possible.
Further if problem still persists, you have to add custom imp

[2019-09-05 22:09] gowthamkpr commented on #32239
@haimat Can you  please provide the github gist of this issue. Thanks!

[2019-09-05 22:15] jvishnuvardhan commented on #29865
@ahoereth I modified your code little bit by making validation data as a dataset instead of `numpy.ndarray`. In this case, you don't need to provide `batch_size=32` as an input to `model.fit` function. Please take a look at the [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/176d60213967b951f724769b0cc34f47/tf_29865.ipynb). Thanks!

[2019-09-05 22:18] ymodak commented on #32250
@DavidKWH Can you please assemble a minimal reproducible code snippet to reflect this issue? Thanks!

[2019-09-05 22:44] ymodak commented on #29273
The webpage has been updated and all links are working now. Thanks!

[2019-09-05 22:44] #29273 closed

[2019-09-05 22:52] ymodak commented on #29330
Closing this issue since the associated PR has been merged. Thanks!

[2019-09-05 22:52] #29330 closed

[2019-09-05 22:53] ymodak commented on #29507
Closing this issue since the associated PR has been merged. Thanks!

[2019-09-05 22:53] #29507 closed

[2019-09-05 23:04] ppwwyyxx commented on #32261
cc @samikama

[2019-09-05 23:11] raulmt opened #32265 "tf.keras model.evaluate (and fit with validation) possible leak when running on TPU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **'Linux-4.14.137+-x86_64-with-Ubuntu-18.04-bionic'** (Google Colab)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **No**
- TensorFlow installed from (source or b

[2019-09-05 23:30] jvishnuvardhan commented on #26886
@mmuratarat Is this still an issue? If yes, could you try with recent TF versions (`tf-nightly`, `TF1.14.0`, `TF2.0rc0`) and let us know whether the issue persists?

Please try to follow new tutorials [`Save and Restore`](https://www.tensorflow.org/guide/saved_model) and [`datasets`](https://www.tensorflow.org/guide/datasets). Also, try to provide a simplified standalone code to reproduce the issu

[2019-09-06 00:03] jvishnuvardhan commented on #28923
@batikus Is this resolved? Please take a look at the [`feature_column`]((https://www.tensorflow.org/beta/tutorials/keras/feature_columns)) tutorial. I could save the model in "tf" and ".h5" formats without any issue.  Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/b6d63d35fd05058a3eb204891ca891c0/feature_columns.ipynb). If you still have an issue, please provide

[2019-09-06 00:29] vade opened #32268 "TF.Keras model creation results in different output node when eager is enabled or not"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Collab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): No
- TensorFlow version (use command below):Google Collab d

[2019-09-06 00:38] vade commented on #32268
See #32241 - this may be the root of that issue?

[2019-09-06 01:00] yuefengz commented on #30121
Another example would look like:
[code]

[2019-09-06 01:06] av8ramit commented on #32211
Sorry for the breakage, we are in the process of adding smoke tests prior to pushing binaries. Thanks for your patience!

[2019-09-06 01:08] wchargin opened #32270 "`tf.estimator` missing in 2019-09-05 nightlies (and broken in 2019-09-04)"
#### System information

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): gLinux (like Debian)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command belo

[2019-09-06 01:08] wchargin commented on #32270
cc @mihaimaruseac @annarev ; this is blocking TensorBoard nightlies
because it causes our smoke tests to fail.

[2019-09-06 01:21] annarev commented on #32270
Sorry for the breakage! Tomorrow the issue should be fixed (thanks to Mihai).

Also today's pip packages have been removed today morning.

[2019-09-06 01:21] sgambient opened #32271 "XLA inference slower than plain TF inference for ResNet50 (0.084s vs 0.115s) ."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-09-06 01:53] GreatBoyFriend commented on #26685
I  have the same problem, can you tell me how to solve it ?

[2019-09-06 01:57] sjtusmartboy commented on #2314
is there any update of this issue, since I also terribly need the SparseApply* operators on gpu

[2019-09-06 01:59] memory-yancy commented on #32212
@gadagashwini  Thanks your reply !

* `tf-nightly-gpu-1.15.0.dev20190821` will also raise similar error:
[code]
* `tf-nightly-1.15.0.dev20190821` is OK

According to my issues, tensorflow-gpu is my requirement. So, any update about tensorflow-gpu?

And, `tf-nightly(-gpu)`, master branch is 1.14.0 in `tensorflow/core/public/version.h`. If I want to compile V1.15(assume related bugs have fixed), sho

[2019-09-06 02:07] leofang commented on #29039
@alextp Thanks for your clarification, I see the challenge now. Are we able to get the handle to TF's stream and do a synchronization?

cc @seibert @sklam: Do you think it's necessary to add the stream pointer on which the device pointer is last accessed to `__cuda_array_interface__`, should a synchronization be necessary for interoperability?

[2019-09-06 02:32] wchargin commented on #32270
Great—presumably that’s this commit, then:
<https://github.com/tensorflow/tensorflow/commit/18c2cf989a2263ee212fbd5ac0b3085d9450b80a>

Thanks @mihaimaruseac and @annarev!

[2019-09-06 02:32] #32270 closed

[2019-09-06 02:36] mschonwe commented on #32017
https://pastebin.com/w3ZevdSs
The full trace was 1.6MB in size, but most of the higher number threads were identical.  I've tried to edit out the mostly redundant traces.

[2019-09-06 02:48] wulungching opened #32273 "SSD anchors in Tensorflow detection API"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Non
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.12
-

[2019-09-06 02:56] limenghao commented on #24669
Hi, I encountered with the same problem(maybe?), and turned to find that the patch command can only be used in the MSYS2 command terminal, otherwise you need to set the environment. I try the build command in the MSYS2 terminal and it worked fine. Hope helps someone!

[2019-09-06 03:02] ramjiv31989 commented on #31114
Did anyone find solution for this? I am also facing the same issue.
I tested in Oneplus3.
2019-09-06 08:28:18.799 15233-15233/ai.fritz.tflitedemo E/ritz.tflitedem: No implementation found for long org.tensorflow.lite.NativeInterpreterWrapper.createErrorReporter(int) (tried Java_org_tensorflow_lite_NativeInterpreterWrapper_createErrorReporter and Java_org_tensorflow_lite_NativeInterpreterWrapper_cr

[2019-09-06 03:34] makercob commented on #31973
@calmisential Nope. Spring is indeed pretty much flexible.

[2019-09-06 03:59] TheCrazyT commented on #21135
Correct me if I'm wrong, but google collab is linux (atleast thats what "!uname -a" shows in jupyter).
But the problem is related to windows version of tensorflow!
(thats why I used appveyor)

[2019-09-06 04:36] jvishnuvardhan commented on #32117
@bersbersbers I agree with you that there is an issue with `TF2.0rc0`. However, it was resolved in the `tf-nightly-2.0-preview`. Please take a look at the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/4ee3cac706b982b4a5b80328a764e224/tf_32117.ipynb). It clearly throws `ValueError: Empty training data.` within 2 seconds.

I am closing the issue here. Please feel free to reopen if

[2019-09-06 04:38] jvishnuvardhan commented on #10408
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-06 04:38] #10408 closed

[2019-09-06 04:40] TheCrazyT commented on #21135
First test with my testcode and tf-nightly failed(https://ci.appveyor.com/project/TheCrazyT/tensorflow-poe/builds/27221666), will check your code once I have the time.

[2019-09-06 05:24] pavanky commented on #32248
A little bisecting on nightly releases tells me the issue was fixed in 1.15 between july 01 and july 03

[code]

[2019-09-06 05:38] ravikyram commented on #32078
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-06 05:38] #32078 closed

[2019-09-06 05:46] ravikyram commented on #31964
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-06 05:46] #31964 closed

[2019-09-06 05:55] ChenYang-ChenYang opened #32276 "Memory keeps increasing with GradientTape"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-09-06 06:22] kolingv opened #32278 "tf.keras.datasets.cifar10.load_data() cannot load lcoal files when cifar-10-batches-py mannully put to ~/.keras/dataset/"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO
- OS Platfo

[2019-09-06 06:26] sayakpaul opened #32279 "Clarification in the validation_data argument of fit() in nsl.keras.AdversarialRegularization"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.0.0-rc0

[2019-09-06 06:45] double344931987 opened #32281 "The TF function for the TRT segment could not be empty"
--
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary):  when I convert pb to tensorrt, I use tf-nigh

[2019-09-06 06:49] oanush commented on #32232
@akanyaani ,
Thank you for reporting the issue.
Can you share a simple and standalone code to reproduce the issue?

[2019-09-06 07:05] Yooong-W commented on #32037
my version of make is 4.1, i  installing 4.2.1 and trying again. but i get a same error...
thats really makes me very upset.

[2019-09-06 07:06] Yooong-W commented on #32037
my version of make is 4.1, i installing 4.2.1 and trying again. but i get a same error...
thats really makes me very upset.

[2019-09-06 07:09] AdityaShirodkar01 commented on #32131
I was referring to def plot_image, and not def plot_value_array in my original post.
in def plot_image, the code below didn't produce the predicted label at the bottom of the image for me.
plt.xlabel("{} {:2.0f}% ({})".format(class_names[predicted_label],
                                100*np.max(predictions_array),
                                class_names[true_label]),

[2019-09-06 07:09] Yooong-W commented on #32037
my version of make is 4.1, i installing 4.2.1 and trying again. but i got a same error...
thats really makes me very upset.

[2019-09-06 07:09] vibwipro commented on #31939
Thanks for suggestion, but it didn't worked. Please find below attached logs : -
https://pastebin.com/wmHbFzqn

[2019-09-06 07:10] Yooong-W commented on #32037
my version of make is 4.1, i installing 4.2.1 and trying again. but i get a same error...
thats really makes me very upset.

[2019-09-06 07:14] AdityaShirodkar01 commented on #32131
@gadagashwini
I was referring to def plot_image, and not def plot_value_array

plt.xlabel("{} {:2.0f}% ({})".format(class_names[predicted_label],
                                100*np.max(predictions_array),
                                class_names[true_label]),
                                color=color)

The above code did not produce any prediction labels for me

[2019-09-06 07:19] ziyigogogo commented on #31870
@ymodak any update?

[2019-09-06 07:26] AntGul commented on #25362
This should not be closed until fully documented.

[2019-09-06 08:01] rishabhsahrawat commented on #32075
Okay, I understand. So, if I store the compressed TFRecord file then can I
read it using tf.data.tfrecord as it is or do I have to uncompress it?

I think that will be similar to when loading a csv file (e.g. with
tf.make_csv_dataset function) and processing it with tf.data, except maybe
in terms of reading speed of the data. Please correct me if I wrong.
Before trying loading data from TFRECORD,

[2019-09-06 08:11] mimxrt commented on #31616
Yes, sorry, I got some errors before. I now captured 60 seconds to ensure getting multiple phases of valid and invalid samples (see https://github.com/tensorflow/tensorflow/issues/31616#issue-480636359, data is only partially valid in one time series file).

Here is the trace: [log_20190906075644.tar.gz](https://github.com/tensorflow/tensorflow/files/3582909/log_20190906075644.tar.gz)

[2019-09-06 08:27] git-davi commented on #32183
**UPDATE**

**WORKSPACE** :
[code]
**COMMAND**:
[code]

**ERROR**:
[code]

... Is there a way to build tflite with select op to run on emulator? I'm really frustrated

[2019-09-06 08:31] mark-arm commented on #30838
I believe this is triggered Mul takes a constant input. In the attached graph this is found here:
![image](https://user-images.githubusercontent.com/35263153/64412735-5f0bfd00-d090-11e9-8ab8-7dbce93e78b7.png)

It can also be reproduced more simply with:

[code]

This fails with the error:

[code]

[2019-09-06 08:33] haimat commented on #32239
@gowthamkpr I have created a minimal working example as [Github Gist here](https://gist.github.com/haimat/65e9dddc9cd8004ea8870853f84d7b02).

[2019-09-06 08:35] ebaj commented on #31431
pip install tensorflow==2.0.0rc0
is still not working for 3.7 on Windows. Has anybody been able to get this to work without downgrading yet?

[2019-09-06 08:46] git-davi commented on #32183
On the web i found this : #12109 .
He says the problem was due to low mem.
When the build stops on the disk usually I have 1-3 GB left...
I'm freeing some memory and rebooting.

[2019-09-06 08:48] ravikyram commented on #32254
@Mickky666
This issue is more suitable for TensorFlow Serving repo. Please post it on Serving repo from [here](https://github.com/tensorflow/serving/issues). Thanks!

[2019-09-06 08:49] oanush commented on #32235
@RichardArendsen71 ,
The present functionality is for summation only as per the [link](https://tensorflow.google.cn/versions/r2.0/api_docs/python/tf/scatter_nd?hl=en) `If indices contains duplicates, then their updates are accumulated (summed).`
Can you please let us know the use cases where the other operations can be applied,so that we can consider it as a feature request?Thanks!

[2019-09-06 09:02] claynerobison opened #32283 "Commit 2f38d92fa854bb173bc866a89f5123e501cf35bd breaking unit test builds."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- TensorFlow version: https://github.com/tensorflow/tensorflow/commit/2f38d92fa854bb173bc866a89f5123e501cf35bd problem occurs on master branch with and without --config=v2
- Python version: py2.7
- Installed using virtualenv? pip? conda?: docker tens

[2019-09-06 09:03] ravikyram commented on #32255
Looks like the code is incomplete.Can you please provide full code snippet to reproduce it on our environment.Thanks!

[2019-09-06 09:03] oanush commented on #32236
Issue replicating for the TF version-1.14, kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/8f7790e5d292c7d84482bd3c9629d2e0/32236.ipynb) of colab.Thanks!

[2019-09-06 09:16] laohur commented on #25781
a little  confusion：
i got "_ops_registration.cc".
it is ok when extract codes to "lib.cc",
but wrong when "lib.cc" include "_ops_registration.cc" and BUILD file is  srcs = ["llib.h" ,"_ops_registration.cc", "lib.cc"].

[2019-09-06 09:18] RZz96 commented on #32171
working with gdb in windows needs a lots of set up which i dont want to go trough .
if you dont know any other solution , then may be is better to install the python 3.7 to resolve the problem.

[2019-09-06 09:22] ravikyram commented on #32246
In order to expedite the trouble-shooting process, please provide a minimal standalone code to reproduce the issue reported here. Thanks!

[2019-09-06 09:25] drewm1980 commented on #31975
Thanks for looking into this!  We are still following and interested!

[2019-09-06 09:38] RichardArendsen71 commented on #32235
Thanks for the answer. I missed that part. Actually I wanted to use:

`image_rotate=tf.keras.preprocessing.image.apply_affine_transform(
            image, theta=-angle*180/math.pi, fill_mode='constant', cval=0.0, order=1)`

I works in eager execution, but with `@tf.function` it returns an error:

    relative to /home/face:

    projects/tensorflow2/facenettf2/crop_compare.py:27 crop_eyes_fixed1

[2019-09-06 09:51] ravikyram commented on #32248
I have tried on colab with TF version 1.12,1.14,nightly versions,1.15.0-dev20190626 and was able to reproduce the performance issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/d64e18e060adb3159d862ad0cbc23ec7/untitled159.ipynb).Thanks!

[2019-09-06 10:04] mahmoodn commented on #31866
Yes. Mine was fixed.
However, @plopresti still has the problem based on his last post.

[2019-09-06 10:17] oanush commented on #32227
@danielwatson6 ,
Please be informed that Its the existing functionality explainedi in [link](https://github.com/google/re2/wiki/Syntax).Thanks!

[2019-09-06 10:20] oanush commented on #31983
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-06 10:20] ayesha168 commented on #21939
how can I solve this problem ?
distributed 1.21.8 requires msgpack, which is not installed.
tensorflow 1.14.0 has requirement numpy<2.0,>=1.14.5, but you'll have numpy 1.14.3 which is incompatible.
Installing collected packages: wrapt, tensorflow, deephyp, setuptools
  Found existing installation: wrapt 1.10.11
Cannot uninstall 'wrapt'. It is a distutils installed project and thus we cannot accura

[2019-09-06 10:21] oanush commented on #32109
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-06 10:21] #32109 closed

[2019-09-06 10:31] Inferentialion commented on #28924
I´m having this issue as well. Could someone help with why is happening? Thanks.

[2019-09-06 10:34] ravikyram commented on #32242
I have tried on colab with TF version 2.0.0-dev20190903, 2.0.0-rc0 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/e4d3e264f71cd7372f17020f0db42c76/untitled160.ipynb).Thanks!

[2019-09-06 10:42] awsssix opened #32284 "how to use java implement functions,such as:Tensor、Graph、Operation etc."
@ry Could I implement funtions（Tensor） using java?
If yes, would you like to give me an example.
Thanks very much!

[2019-09-06 10:48] ravikyram commented on #32240
I have tried on colab with TF version 1.14, Nightly versions and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/0108c56cf87abb2f2fd74b39884d878f/untitled161.ipynb).Thanks!

[2019-09-06 11:39] mrgloom commented on #6720
Seems bilinear upsampling also can be done with transposed convolution:
http://warmspringwinds.github.io/tensorflow/tf-slim/2016/11/22/upsampling-and-image-segmentation-with-tensorflow-and-tf-slim/

Also here is some great explanation of resize in tensorflow:
https://jricheimer.github.io/tensorflow/2019/02/11/resize-confusion/

[2019-09-06 11:46] faizanophobia commented on #28468
Is this solved?Were you able to run it with GPU on iOS device?
I am also facing the same issue!

[2019-09-06 11:47] Shubham3101 opened #32285 "Model unable to take input from dictionary(with input layer names as key) after loading it using tf.keras.models.load_model"
**System information**
- OS Platform and Distribution (Linux Ubuntu 16.04):
device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0 rc
- Python version: 3.6

My model works fine the first time when i create the architecture and train it, but once i save the model using **tf.keras.model.save_model**  and then load it again using **tf.keras.models

[2019-09-06 12:29] anjul1008 commented on #32246
hi ravikyram,
it's itself a complete project, thats why i gave the link.

[2019-09-06 12:34] tensorflowbutler commented on #26512
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-09-06 12:40] ravikyram commented on #32192
I have tried on colab with 2.0.0-rc0,1.14,TF nightly versions and was able to reproduce the issue.Please,find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/1be5308bed758dc9cedb42e2a866983b/untitled156.ipynb).Thanks!

[2019-09-06 12:45] Peque opened #32286 "Simple `model.evaluate()` example floods output with `=` characters"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-09-06 12:51] fbadine commented on #32208
Thank you for your response.
It's working now

On Thu, 5 Sep 2019 at 08:07, Amal Vijayan <notifications@github.com> wrote:

[2019-09-06 13:04] sleighsoft commented on #24828
Getting this problem with all the new preview-2.0 builds.
The last one that worked for me was: tf-nightly-gpu-2.0-preview==2.0.0.dev20190709

[2019-09-06 13:40] 7PintsOfCherryGarcia opened #32288 "C api - Program failing during training when compiling with optimizations flag (-O2) or when libtensorflow is built with optimized instructions (AVX SSE), or when keras model is compiled with "sparse_categorical_crossentropy""
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Mixed setup. Ke

[2019-09-06 13:41] drewm1980 opened #32289 "Training a trivial keras model is not even close to deterministic despite call to set_random_seed."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): pip (binary)
- TensorFlow version (use command below): 1.14.0
- Python version: 3.6.5
- CUDA/cuDNN version:
- GPU model and memory:
output of tf_env_

[2019-09-06 13:48] tastyminerals opened #32290 "UnsatisfiedLinkError for libtensorflow_jni.so when trying to load a newer model"
### System information
See attached [tf_env.txt](https://github.com/tensorflow/tensorflow/files/3584174/tf_env.txt) generated by `tf_env_collect.sh`.

tf.version.VERSION **1.14.0**
tf.version.GIT_VERSION unknown

### Describe the problem
We have been successfully training Tensorflow models and loading them into Java project for inference. We have been training models using Tensorflow [1.8.0 - 1.10

[2019-09-06 14:01] nsantavas opened #32291 "[TF.1.14] Train on TPU Pod with tf.keras"
Can I train on a TPU Pod -not a single device- with tf.keras and how on TF1.14?

Thank you

[2019-09-06 14:04] pvalienteverde commented on #30728
The same

[2019-09-06 14:12] reliefs commented on #31431
it works on some windows system, it's all about the cpu :/

[2019-09-06 14:14] shianiawhite commented on #26502
Out of curiosity, what IDEs do the core developers use? I think most heavy-duty IDEs for software development would be affected by this, but I also would have assumed the core developers would use such IDEs. Seeing that this was left in, I'm guessing the developers are using an IDE that wasn't affected.

[2019-09-06 14:18] vgoklani commented on #30052
same issue here, running on rc0

[2019-09-06 14:19] brianwa84 commented on #32219
@reedwm any idea about this one?

[2019-09-06 14:48] robieta commented on #31975
Sure. I am currently trying to get a fix into the 2.0 release, but let me give an update in the mean time.

In Keras, there are a bunch of properties which recursively depend on all child layers. `metrics` is one, but there are others: `stateful`, `dynamic`, `layers`, etc. What I noticed during profiling is that every `model.predict` call we have to check whether these attributes have changed, and

[2019-09-06 15:03] vade commented on #32241
Any help?

Is freeze_graph.py officially supported in TF 2.0?

How do I get this TF 1.14 TF Keras Sequence model ACTUALLY EXPORTED WITH OUTPUT NODES?

This seems so trivial and yet, it isn't working. I must be missing something. Id really appreciate some help.

[2019-09-06 15:11] isaprykin commented on #32172
Hi!  This is odd.

Is it the same if you 1) use tf.distribute.MirroredStrategy instead of the contrib one? 2) use RunConfig.experimental_distribute.train_distribute instead of RunConfig.train_distribute?

If it's the same, could you include the full picture of the graph?

[2019-09-06 15:32] kevmal commented on #31181
Was hitting this issue with docker/Windows, 2GB is not enough.  From @angersson comment, I bumped it to 32GB and no longer hit this error.

[2019-09-06 15:36] mihaimaruseac commented on #31431
@ebaj What version of pip you use? What CPU? What compiler? Which version of Windows? Using WSL?

[2019-09-06 15:39] mihaimaruseac commented on #32171
See also #31431. Some people have had troubles installing tensorflow on python3.7

There should be other debuggers on Windows which can be used.

[2019-09-06 15:41] mihaimaruseac commented on #31939
Try `python -c ‘import pip; print(pip.pep425tags.get_supported())`

[2019-09-06 15:47] mihaimaruseac commented on #31431
@ebaj, also please post output of `pip debug --verbose`

[2019-09-06 15:51] lgeiger commented on #32210
@jaingaurav Thanks for the info, I agree more documentation about this change would help.

Do you know why the comparison when ignoring the dependency tracking with `no_automatic_dependency_tracking_scope` works? Following your argument, I intuitively would expect it to fail as well.

[2019-09-06 15:51] alsrgv opened #32293 "AttributeError: module 'tensorflow' has no attribute 'optimizers'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): tf-nightly-2.0-preview
- TensorFlow version (use command below):
-

[2019-09-06 15:54] mihaimaruseac commented on #32270
Just tested the new nightly now:

[code]

All seems good

[2019-09-06 15:57] RZz96 commented on #32171
Thanks i will check it

[2019-09-06 15:58] vade commented on #29253
Seriously, this is kind of crazy.

An entire ecosystem was built around using protocol buffers - none of those tools work with TF 2.0 since TF 2.0 can't export PB's as far as I can tell, especially if TF 2.0 has bug fixes for models that won't export properly from TF 1.14 -

So right now I

* can build a  model in TF 1.14 or 2.0
* Cant export said model Keras h5 since it used TF.Layers rather than

[2019-09-06 15:59] kventinel opened #32294 "Unclear error"
When I ran converter from tf to tf lite I have this error:
`F tensorflow/lite/toco/graph_transformations/propagate_array_data_types.cc:305] Check failed: op->inputs.size() > 0 (0 vs. 0)`
Or sometimes this error:
`F tensorflow/lite/toco/tooling_util.cc:644] Check failed: dim >= 1 (0 vs. 1)`

Can you explain, what is this errors mean?
Can you make errors in tflite converter more readable?

[2019-09-06 16:02] mihaimaruseac commented on #32293
I'll make a fix similar to 18c2cf989a2263ee212fbd5ac0b3085d9450b80a, need to check that this works.

Sorry about breakage.

[2019-09-06 16:06] kitesurf commented on #31431
I'm having the same issues. Tried tensorflow tensorflow-gpu and all pip upgrades...
Windows Server 2019 with newest c++ on a Google Virtual Engine with Intel Xeon 2.2

here my pip debug --verbose:
`pip version: pip 19.2.3 from c:\users\kitesurf\appdata\local\programs\python\python37-32\lib\site-packages\pip (python 3.7)
sys.version: 3.7.3 (v3.7.3:ef4ec6ed12, Mar 25 2019, 21:26:53) [MSC v.1916 32 b

[2019-09-06 16:07] bionicles commented on #27519
same issue here ...  i invoke a keras model in eager mode and i get a Tensor, not an EagerTensor, which causes issues with OpenAI Gym

[2019-09-06 16:07] mihaimaruseac commented on #32294
The checks are internal from the code. You can locate the file (i.e. `tensorflow/lite/toco/tooling_util.cc`) and the line number (`644`) and from there go to the check (I'm linking to code on `r1.14` branch, assuming you got the error from 1.14 release; please use the corresponding branch when searching):

https://github.com/tensorflow/tensorflow/blob/00fad90125b18b80fe054de1055770cfb8fe4ba3/tenso

[2019-09-06 16:11] reliefs commented on #31431
Yeah, I have seen many report unable to use TensorFlow on Windows Servers.

[2019-09-06 16:29] kventinel commented on #32294
I've seen this code at this branch. But at the moment I don't know, what problem with my model.
This my code to be converted:
[code]
May be problem in some layer of my network, but I can't find this layer, because error is uncleared.

[2019-09-06 16:37] mihaimaruseac commented on #32293
There is a fix, will land soon and then tonight's nightlies should be ok.

[2019-09-06 16:38] jvishnuvardhan commented on #32265
I was able to reproduce the issue. Thanks!

[2019-09-06 16:42] mihaimaruseac commented on #31431
@kitesurf Our windows tag is `cp37-cp37m-win_amd64`, but you have `cp37-cp37m-win32`. That is, we only release for 64 bits but your CPU is 32 bits, hence we don't have a pip for you.

You can try building from source

[2019-09-06 16:42] liushengzhong1023 commented on #29731
I am stuck in the same position. Could anyone share some possible solutions?

[2019-09-06 16:52] wchargin commented on #32270
Yep, and TensorBoard nightlies look good—thanks again! :-)

[2019-09-06 16:54] mihaimaruseac commented on #32294
Better to ask on stack overflow, as this is not a fault of the TF code.

[2019-09-06 16:55] reliefs commented on #31431
Why not isn't it easy to implement or are you guys jumping on the 64bit but should be a standard thing for 2.0?

[2019-09-06 17:00] jdduke commented on #29731
@yyoon would you mind taking a look to see if you can repro?

[2019-09-06 17:00] sssun0228 commented on #31245
yes, this is still an issue. @mrry Any updates?

[2019-09-06 17:02] ymodak commented on #32286
Perhaps you can use semi-verbose by setting ```verbose=2``` to avoid repeated logging of ```=```
[GitHub_Gist](https://colab.sandbox.google.com/gist/ymodak/da242ce544a5102fce8eddf002b9ef10/github_issue_32286.ipynb)
[code]

[2019-09-06 17:13] mingxingtan commented on #31306
Sorry, I just merged an external PR. The original PR that adds this optimizer should be this: https://github.com/tensorflow/addons/pull/164

[2019-09-06 17:14] mihaimaruseac commented on #31431
Our support matrix is already extremely large, supporting 32 bits on x86 CPUs will almost double it and this is very untractable.

[2019-09-06 17:17] mingxingtan commented on #26360
Close the issue since it is resolved.

[2019-09-06 17:17] #26360 closed

[2019-09-06 17:22] reliefs commented on #31431
I know what you mean, but people want to use a package, all users easy can install. There is no point in making your app support TensorFlow, and then telling all your users which use 32 how to compile from source.

[2019-09-06 17:23] DavidKWH commented on #32250
This has been resolved in the discuss forum.  It has been reproduced and a fixed has been proposed by Kathy.  Please see

https://groups.google.com/a/tensorflow.org/forum/#!topic/discuss/wlwLvWnD4BI

[2019-09-06 17:26] gowthamkpr commented on #32241
@vade Yes freeze_graph.py is officially supported by tensorflow 2.0. You can find it [here](https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/tools/freeze_graph.py)

[2019-09-06 17:35] MarkDaoust commented on #31306
Cool.

So since `tf.contrib` is being deleted, and this lives in tensorflow/addons now Lets close this bug, and anyone who's interested can continue the conversation in tensorflow/addons/issues.

Right?

[2019-09-06 17:35] #31306 closed

[2019-09-06 17:38] vade commented on #32241
Well, Ive tried it, and it doesn't work - as far as I can tell evoking the graph API for whatever reason, on this model removes the last output node. :(

`python3 freeze_graph.py freeze_graph.py --input_saved_model_dir=Cinemanet-2019-09-06_13_59_49_Saved_Model_TF2 --output_node_names=cinemanet_output/Identity --output_graph=./CinemaNet.pb`

[code]

[2019-09-06 17:38] dansitu commented on #32037
I'm sorry you're having problems with this. What is your operating system and version, and which shell are you using?

[2019-09-06 17:40] reedwm commented on #32219
No idea, since I am unfamiliar with tensorflow probability. Maybe try filing an issue with the [tensorflow probability](https://github.com/tensorflow/probability) repo.

[2019-09-06 17:41] jvishnuvardhan commented on #32134
@jjimenezcapi Thanks for pointing this issue. Actually it was corrected recently, but the website is not updated. You could check the [source code](https://github.com/tensorflow/docs/blob/r2.0rc/site/en/tutorials/keras/basic_classification.ipynb) and [google colab](https://colab.sandbox.google.com/github/tensorflow/docs/blob/r2.0rc/site/en/tutorials/keras/basic_classification.ipynb#scrollTo=YFc2Hb

[2019-09-06 17:41] #32134 closed

[2019-09-06 17:47] jsimsa commented on #32017
Thank you Michael. At least some of the threads seem to be waiting in tf.data. @rachellim could you please try to reproduce and investigate this issue? Thank you.

[2019-09-06 17:49] Peque commented on #32286
@ymodak Yeah, that is not a problem, I can set verbose to 0 as well, but I think it is a bug anyway. Note the `10000/1` in the progress bar, instead of `10000/10000`. I think that is unexpected. :wink:

[2019-09-06 17:51] jsimsa commented on #32075
You simply need to specify the `compression_type` argument of `TFRecordDataset`.

CSV format is amenable to streaming processing but other formats might not be.

As for your `shuffle_before_iteration` issue, I am not sure which API are referring. Neither [CsvDataset](https://www.tensorflow.org/api_docs/python/tf/data/experimental/CsvDataset) nor [make_csv_dataset](https://www.tensorflow.org/api_do

[2019-09-06 17:56] angersson commented on #32283
Quick link to commit: 2f38d92fa854bb173bc866a89f5123e501cf35bd

@bmzhao, can you take a look at this? Was there a change on top of the original that didn't get rolled back as well?

[2019-09-06 18:07] kventinel commented on #32294
Fault of TF code, that this error is unclear.

[2019-09-06 18:09] mihaimaruseac commented on #32294
Based on the information that is available to the function, this error is as clear as possible.

Also, these errors are more for developers, they are assertions.

[2019-09-06 18:11] Mickky666 commented on #32254
Sure, thanks.

[2019-09-06 18:32] jvishnuvardhan commented on #31866
@mahmoodn I am closing this issue are it was resolved. @plopresti had opened another issue https://github.com/tensorflow/tensorflow/issues/31900. Thanks!

[2019-09-06 18:32] #31866 closed

[2019-09-06 18:35] #32293 closed

[2019-09-06 18:35] ymodak commented on #32279
@sayakpaul Can you also post this issue on [tensorflow/neural-structured-learning repo](https://github.com/tensorflow/neural-structured-learning/issues) for more visibility to nsl owners? Thanks!

[2019-09-06 18:36] mschonwe commented on #32017
Thank you!
@rachellim please let me know if you have any trouble reproducing the issue (on gpu).

My setup is via Nvidia Docker Hub
 - tensorflow/tensorflow:1.14.0-gpu
or
 - tensorflow/tensorflow:nightly-gpu
and
 - pip2 install tensorflow-hub && pip2 install tensor2tensor

```t2t-trainer --problem=librispeech_clean_small --model=transformer --output_dir=/models/JUNK --data_dir=/data/ --save_checkp

[2019-09-06 18:42] ymodak commented on #32002
See https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/delegates/gpu for using TFLite on GPU

[2019-09-06 18:57] kventinel commented on #32294
But this function can be boolean and return false. And upper function can raise more readable error. And if this assertion for developers, why I get it, when I run my code?

[2019-09-06 19:00] tastyminerals commented on #32290
closing, this is a duplicate of https://github.com/tensorflow/tensorflow/issues/30635

[2019-09-06 19:12] Mageswaran1989 commented on #32052
@jsimsa I just double confirmed in my setup, even if I use `repeat` along with step calculation, the RAM memory that gets allocated for my data size is out of proportion.

 **Numpy Datasize : ~ 52MB + ~21MB**

[code]

**Image Datasize : ~140 MB + ~28MB**

[code]

Reference Log:
[5epochs_with_repeat.log](https://github.com/tensorflow/tensorflow/files/3585336/5epochs_with_repeat.log)

[2019-09-06 19:21] raulmt commented on #32265
Btw, the workaround I'm using at the moment (since this is an important problem when training with validation data for more than a few epochs) is to use the `fit` arg `validation_freq`, with something like 5 or 10. That way you have many quick epochs (the ones without validation), and the evaluation stages you have are fewer and so they don't have the chance to increase their time enough to become

[2019-09-06 19:34] kristofgiber commented on #32219
Thanks for getting back to me, already done: https://github.com/tensorflow/probability/issues/544

[2019-09-06 19:34] RochaStratovan commented on #32064
Thank you for the workaround @gadagashwini . This will work for folks that have PIP, python, etc. installed. We are using the C-API, Binary distribution specifically because we don't want/need, all of that underlying stuff that we don't actually need. We just use the Binaries.

We are trying to ensure that we follow appropriate licensing requests/guidelines. However, the distribution for the C-API

[2019-09-06 19:38] youngalou commented on #32255
Sorry about that! First time submitting a bug report.
I've recreated a small standalone script that demonstrates the bug.

[code]

[2019-09-06 19:50] Indseta commented on #31939
I got all the same issues as everyone else and this is the output I got.

**Microsoft** Windows [Version 10.0.18362.295]
(c) 2019 Microsoft Corporation. Med enerett.

C:\Users\[USER] > pip debug --verbose
WARNING: This command is only meant for debugging. Do not use this with automation for parsing and getting these details, since the output and options of this command may change without notice.
p

[2019-09-06 19:50] brianwa84 commented on #32219
@reedwm the reason I asked you was the recent refactoring of dtypes in keras, though it seems the issue here is more around keras assuming all items returned by a layer are tensors or ops, whereas the distribution layers return subtypes of this class: https://github.com/tensorflow/probability/blob/master/tensorflow_probability/python/layers/internal/distribution_tensor_coercible.py#L41
(note that

[2019-09-06 20:08] jhseu commented on #32265
Yeah, this is a known issue with the interaction with Keras + tf.distribute.Strategy in the TF 1.x. This is currently fixed in TF 2.x.

[2019-09-06 20:11] mihaimaruseac commented on #31939
@Indseta it's because you're using a 32 bits CPU and we're releasing for 64 bits CPUs

[2019-09-06 20:15] gargn commented on #25443
@CharlesKung A few questions/comments:

1. Can you attach the input files that are being used in your code snippet so that I can run it and reproduce it locally? Additionally, can you update your code snippet to work as a stand alone. I noticed `output_nodes` is not defined.
2. Why are you changing the logic in the embedding op? In general, freeze graph works by pattern matching. If you are changi

[2019-09-06 20:15] mihaimaruseac commented on #32294
We cannot update all assertions in the way you suggest. It's better to debug the model yourself, editing it, layer by layer.

[2019-09-06 20:21] reedwm commented on #32219
With my refactor, I was careful not to assume anything was a tensor. So this is probably caused by something else.

/CC @fchollet @pavithrasv

[2019-09-06 20:23] aaudiber commented on #32052
@Mageswaran1989 can you simplify your repro example as much as possible, ideally in a single file that demonstrates the issue? That would be super helpful for finding the root cause.

[2019-09-06 20:26] raulmt commented on #32265
@jhseu thanks, and do you know if latest 2.0 release works with cloud TPUs like in Colab? I read somewhere that it will be in 2.1 correct, with the TPUStrategy, is that correct? So the final solution will be to wait for 2.1 release in order to use TF with cloud TPU?

[2019-09-06 20:28] bmzhao commented on #32283
Pasting my reply from the commit (https://github.com/tensorflow/tensorflow/commit/2f38d92fa854bb173bc866a89f5123e501cf35bd#commitcomment-34983793):

Hi Clayne! Could you tell us the bazel command you executed that ran into this issue?

For context, we are refactoring build targets under tensorflow/core/platform/BUILD, such that platform-specific library implementations have their own build targets

[2019-09-06 20:32] ramakumar1729 commented on #25445
Closing this issue, as the library is TF2.0 compatible. Ranking models using Keras are tracked in a separate [issue](https://github.com/tensorflow/ranking/issues/32).

[2019-09-06 20:32] #25445 closed

[2019-09-06 20:47] jvishnuvardhan commented on #28923
I am closing the issue as it was resolved in `tf-nightly-2.0-preview`. Please feel free to open it if the issue persists again. Thanks!

[2019-09-06 20:47] #28923 closed

[2019-09-06 20:56] jvishnuvardhan commented on #28929
@hsm207 I could not reproduce the issue as it was resolved in `tf-nightly-2.0-preview`. I can see exactly same results with model_1  (original) and model_2(restored model). Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/a6a1ca212893e68b4b2448bca31bfa05/tf2_bug_embedding_column.ipynb).

I am closing the issue as it was resolved in tf-nightly-2.0-preview. Please fe

[2019-09-06 20:56] #28929 closed

[2019-09-06 20:57] flyboyleo commented on #24828
Sometimes I met it. Just reboot to solve the issue.

[2019-09-06 21:34] seandaug opened #32299 "RNN stateful is incompatible with initial_state"
**System information**
- OS Platform and Distribution: Windows 10
- TensorFlow installed from (source or binary): binary via conda (1.14.0) and pip (2.0.0-rc0)
- TensorFlow version (use command below): 1.14.0 and 2.0.0-rc0
- Python version: 3.6
- CUDA/cuDNN version: 10.0
- GPU model and memory: 1080 Ti

**Describe the current behavior**
When a stateful RNN is created and is given initial_state, it

[2019-09-06 21:42] javiervg commented on #30191
This is is the only thing that worked for me. Thanks.

Tried removing 'wrapt' and installing tensorflow v2.0 and then numpy threw a similar error.

[2019-09-06 21:43] jvishnuvardhan commented on #29099
@danaugrs I think the issue was resolved in `tf-nightly` and `tf-nightly-2.0-preview`. I ran your code in both the versions and the accuracy after 15 Epochs is `78.57%` and `78.29` with `TF2.0` and `tf-nightly (TF.1.15)`.

Here is [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/d57e90aed84f74b7c422bccb23abf48b/tfnightly20preview_29099_keras_perfomance_relu.ipynb) with `TF2.0` and [here

[2019-09-06 21:43] #29099 closed

[2019-09-06 21:46] jsimsa commented on #31616
Hrm, it is odd that the different samples look different (and the information in the trace does not seem coherent). I could try running your input pipeline myself and analyze it for you but for that, I would need end-to-end reproducible example (include the data).

[2019-09-06 21:51] jbrownkramer commented on #31368
I'll add that I get this error when I try to compile an object detection tflite model produced by Google Cloud AutoML.  Also using Edge TPU Compiler version 2.0.258810407

[2019-09-06 22:00] gargn commented on #32207
We have some general guidance on unsupported operations in our FAQ [here](https://www.tensorflow.org/lite/guide/faq#why_doesnt_my_model_convert). However, for the specific ops you mentioned we are currently working on getting them working through [this](https://www.tensorflow.org/lite/guide/ops_select) path as indicated on our [roadmap](https://www.tensorflow.org/lite/guide/roadmap). Control flow

[2019-09-06 22:19] mjlbach commented on #32232
This is because the model is passed as the first argument in the decorated function (which isn't convertible to a tensor), I don't think there's currently a way to specify a tensorspec for a decorated function which take a tf model. This is inconvenient, as currently experimental_run_v2 calls must be inside a decorated wrapper function.

@akanyaani Does, something like this work?

[code]

[2019-09-06 22:32] csferng commented on #32279
@sayakpaul Thanks for your interest in Neural Structured Learning.

I would recommend setting `validation_data` to a `tf.data.Dataset` object. `tf.data.Dataset` is able to handle a nested structure of Tensor / NumPy arrays. For example:

[code]

I will update the documentation to include a sample usage with `validation_data`.

Please post future issues on the [tensorflow/neural-structured-learning

[2019-09-06 22:32] #32279 closed

[2019-09-06 22:36] jvishnuvardhan commented on #26543
@anirbankonar123 Is this still an issue? Could you check with `tf-nightly-gpu-2.0-preview` and let us know how it progresses. I ran several times today, never saw `nan`. Thanks!

[2019-09-06 22:44] jvishnuvardhan commented on #27298
I could reproduce the issue in `tf-nightly-2.0-preview`. Please take a look at the [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/d517caf07e65b06cb4209c55e1de0025/tf27298.ipynb). Thanks!

[2019-09-06 22:54] jvishnuvardhan commented on #30431
I can still reproduce this issue in `!pip install tf-nightly-gpu-2.0-preview`. Please take a look at the [gist](
https://colab.sandbox.google.com/gist/jvishnuvardhan/62ae11bacb15ff883d337f9139de04b9/image-classification.ipynb). Thanks!

[2019-09-06 23:05] bmzhao commented on #32283
Ah I missed the docker run commands at the bottom of your comment; I see what's happening. Our ci_build scripts weren't also updated with the --build_tag_filters (my mistake)! I asked gunan@ and he confirmed that using "manual" as a tag would also suffice, without having to set the build_tag_filters flag. I will have a fix shortly.

[2019-09-06 23:16] bmzhao commented on #32283
I've just added the new tags here, which should fix this issue:
https://github.com/tensorflow/tensorflow/commit/5ee8685df5aac173729e76b51144bba73a536fa4

Can you sync to head and confirm if the problem is fixed @claynerobison?

[2019-09-06 23:17] ymodak commented on #27649
This is fixed with latest TF 2.0 Nightly. See [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/c499ffa64c5c541e31a81c876c83fbd9/tf27649.ipynb#scrollTo=wZkzcfDM3TCh)

[2019-09-06 23:17] #27649 closed

[2019-09-07 00:07] Victor-Almeida commented on #22443
Hello.

I'm having problems resuming training from a checkpoint using Tensor2Tensor on Google Colab. The only way I've found is to delete all checkpoints and start again, which of course isn't a good idea after training for hours.

I'm using TF and t2t version 1.14.0 and Ubuntu 18.04 on normal runtime. I tried posting first on t2t's issues [here](https://github.com/tensorflow/tensor2tensor/issues/

[2019-09-07 01:36] ebaj commented on #31431
@mihaimaruseac Is it really the CPU, or actually the type of Python installed?
My physical CPU is a 64-bit Intel but I was running 32-bit Python, as many users do, so platform.architecture was showing up as 32 bit, which is where I think the mismatch arose.
After testing with 64-bit Python 3.7.4, tensorflow installed successfully with pip.

I believe the "latest version" download from Python defau

[2019-09-07 02:29] Yooong-W commented on #32037
thanks for your reply ，im using hardware for the first time to run the program. take the liberty to ask, working with TensorFlow Lite for Microcontrollers can only use this method?
my operating sistem : Linux Ubuntu 18.04
shell : terminal

[2019-09-07 02:44] dandy27 commented on #18839
same problem i can build 1.8, 1.10, 1.14, 1.13 but for some reason it wont let me build 1.12 which i desperately need.

mac 13.6
cuda 9-0
cdnn7.5
bazel 18

[2019-09-07 02:49] byronyi commented on #14133
@asimshankar I've found similar issues in TF 2.0. I cannot reproduce the same performance numbers (~9000 image/s) running Keras in-stock ResNet50 model in a DGX-1V, and I suspect it is because of either data pipeline or computing piecewise learning rate on CPU. Currently I cannot achieve better performance than ~3000 image/s with 8 V100 using MirroredStrategy.

The stack trace after setting explic

[2019-09-07 02:50] reliefs commented on #31431
Yes it works with python version 64 bit. You are correct on all your statements.
Most user by default gets confused, because more either download 32 bit because it's the default python version, or they use a VM or like my server a 32 bit CPU. I own a repo with hundreds of users and I get daily issues from people who need support for this issue. This issue is a must, it destroys it for people who w

[2019-09-07 02:54] byronyi commented on #14133
Ping @akshaym and @alextp; hope you could shed some light on this?

[2019-09-07 03:06] Jonarod commented on #23649
Hey there, just in case it helps, I was able to build `libtensorflowlite_c.so`  for musl here: [tensorflow_lite_alpine](https://github.com/Jonarod/tensorflow_lite_alpine/tree/master/builder). I left some steps in the Dockerfile to build tensforflow (not lite) as well.

[2019-09-07 03:13] yoke2 commented on #32239
@haimat I'm facing the same issue as you when using ModelCheckpoint in 2.0-rc0. As a work-around, I used tensorflow-gpu==2.0.0-beta1 instead and changed 'val_acc' to 'val_accuracy' and the warning disappeared.

By the way, if you're using CSV logger, please also note that column names 'acc'  and 'val_acc' has been changed to 'accuracy' and 'val_accuracy' respectively.

[2019-09-07 03:17] sayakpaul commented on #32279
Thanks @csferng. I was going through the image classification tutorial with NSL last night. I really liked the *Robustness Under Adversarial Perturbations* section. I think this ecosystem would definitely allow the community to dig into the world of adversarial learning from a code-first approach. I liked how comprehensive it was. You have the keras-like beautiful abstraction as well as many low-l

[2019-09-07 03:33] ymodak commented on #27886
Closing this issue since casting tensor to float value fixes the problem. Thanks!

[2019-09-07 03:33] #27886 closed

[2019-09-07 03:36] ymodak commented on #28111
This issue exists with latest tf 2.0 nightly version '2.0.0-dev20190906'

[2019-09-07 03:39] ymodak commented on #28083
This is fixed latest tf 2.0 nightly version '2.0.0-dev20190906'. Thanks!
Output:
[code]

[2019-09-07 03:39] #28083 closed

[2019-09-07 03:46] ymodak commented on #32208
Closing this issue since it's resolved. Thanks!
https://www.tensorflow.org/neural_structured_learning/api_docs/python/nsl/configs/make_adv_reg_config

[2019-09-07 03:46] #32208 closed

[2019-09-07 03:51] ymodak commented on #31232
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-09-07 03:51] #31232 closed

[2019-09-07 03:51] ymodak commented on #31210
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-07 03:51] #31210 closed

[2019-09-07 03:52] ymodak commented on #31011
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-09-07 03:52] #31011 closed

[2019-09-07 03:58] #31504 closed

[2019-09-07 04:00] ymodak commented on #30855
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-07 04:00] #30855 closed

[2019-09-07 04:20] ymodak commented on #31509
This is fixed with latest version of tf nightly 2.0 build '2.0.0-dev20190906' . Thanks!
Replace  ```tf.optmizer``` with ```tf.keras.optimizer``` on line 64
[code]

[2019-09-07 04:20] #31509 closed

[2019-09-07 04:43] ablenesi commented on #28206
This issue is now fixed on master, try converting with RC 2 toco.

[2019-09-07 05:30] tanzhenyu commented on #28111
@skydoorkai On the other hand, why do you want to build it? An alternative way is to call the model:
model(some dictionary of numpy inputs or keras.Input)

[2019-09-07 06:35] Mageswaran1989 commented on #32052
@aaudiber Please find the updated file @ https://github.com/dhiraa/tf_issue_32052. Hope it helps!

Observations
- Memory remains constant when loop is not used, however the memory it takes is disproportional
- Previously when I used loop, I used to run evaluation after each epoch and store the evaluation logs, in current `train_and_evaluate`  setup I had to run the entire `num_epochs` before I can

[2019-09-07 09:06] vibwipro commented on #31939
But by system has 64 bit OS
![image](https://user-images.githubusercontent.com/49004578/64472489-85e53480-d15f-11e9-82c5-60d1f6ecbd12.png)

[2019-09-07 10:07] aakbar5 opened #32309 "Tensorflow Micro: Build issue"
`micro_vision` and `micro_speech` examples are showing following error on invoking makefile to build
[code]

My build command is:
[code]
The patch to fix this issue is:
[code]

Tensorflow repo info:
[code]
OS Platform and Distribution: Linux Ubuntu 18.04.3 LTS
GCC/Compiler version: 7.3.1

[2019-09-07 10:32] sharonevarghese opened #32310 "ModuleNotFoundError: No module named 'tensorflow'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): WIndows 7 64 bit
- TensorFlow installed from (source or binary): from : https://www.tensorflow.org/install/pip
------------------------------------------------------------------------------------------------------
the error generated while running -python -c "import tensorflow as tf;print(tf.reduce_sum(tf.random.norm

[2019-09-07 10:38] HarikrishnanBalagopal opened #32311 "LayerNormalization fails when given tuple as axis input"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-09-07 10:48] jsimsa commented on #32233
These are proto types not Python types, which means a) integers are encoded as varints which means small values will not use 8 bytes (see https://developers.google.com/protocol-buffers/docs/encoding) b) the `float` type can represent both 32-bit and 64-bit values (see https://developers.google.com/protocol-buffers/docs/proto).

[2019-09-07 10:48] #32233 closed

[2019-09-07 10:52] blairhan commented on #32201
seems the bug comes from here: https://github.com/tensorflow/tensorflow/blob/04256c89d8783c5cfd7e550f9512e9478beb6454/tensorflow/lite/toco/graph_transformations/convert_pure_conv_to_depthwise.cc#L49

[2019-09-07 11:02] Davari393 commented on #3628
Hi.
I don't have gpu and i can't run it.can you help me?

[2019-09-07 11:03] laohur commented on #25781
why cann't recently on fresh source?

  bazel build tensorflow/python/tools:print_selective_registration_header && \
bazel-bin/tensorflow/python/tools/print_selective_registration_header \
   --graphs=models_arm64/1.pb > ops_to_register.h

./tensorflow/core/kernels/eigen_spatial_convolutions.h:308:11: warning: 'orig_r' may be used uninitialized in this function [-Wmaybe-uninitialized]
./tensorflow

[2019-09-07 11:13] HarikrishnanBalagopal commented on #32311
The same code appears in Tensorflow 2 as well:

https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/keras/layers/normalization.py#L929-L930
[code]
https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/keras/layers/normalization.py#L954-L956
[code]

[2019-09-07 11:21] HarikrishnanBalagopal commented on #31935
I am currently calling ` tf.reset_default_graph()` if I ever pollute the default graph and changed my code to:
[code]
which seems to work fine so far. The graph gets garbage collected and haven't had any OOM errors yet, so I am closing the issue.

[2019-09-07 11:21] #31935 closed

[2019-09-07 11:34] SamuelMarks commented on #31434
Confirmed same error on Ubuntu 18.04 with Bazel 0.25.2, clang 6.0.0-1ubuntu2, Python 3.6.8, NVIDIA Tesla K80, CUDA Version: 10.2, with v1.14.0 checked out (@ 87989f69597d6b2d60de8f112e1e3cea23be7298)

[2019-09-07 11:43] ErwinSchleier commented on #20444
same issue here,
python version 3.7
pip version 19.2
on windows 10

ERROR: Could not find a version that satisfies the requirement tensorflow (from versions: none)
ERROR: No matching distribution found for tensorflow

[2019-09-07 12:23] tensorflowbutler commented on #31637
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-09-07 12:25] pandrey-fr commented on #31431
You know 64 bits processors have been the norm for ten years, right? And I don't know where you find your python downloads, but 64 bits _is_ the default.

Skip the newspeak pal, and have a little respect for tensorflow devs. You can pretty easily compile a 32 bits version if you need; they already make an impressive job supporting a large number of 64 bits system, and you cannot blame them for put

[2019-09-07 12:53] lordvissu commented on #31939
https://pastebin.com/kE0WMwzA

https://pastebin.com/dUTzee3Z

I am trying to install tensorflow in a virtualenvironment through anaconda prompt. I am a beginner so please suggest accordingly.

[2019-09-07 13:09] li829 opened #32312 "tensorflow.python.framework.errors_impl.FailedPreconditionError: TensorRT is not enabled!"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-09-07 13:09] #32312 closed

[2019-09-07 13:13] li829 opened #32313 "tensorflow.python.framework.errors_impl.FailedPreconditionError: TensorRT is not enabled!"
I am trying to use tensorflow-1.10 to optimize my pb model.
trt_graph = trt.create_inference_graph(
   input_graph_def = graph_def,
   outputs = outputs,
   max_batch_size=1,
   max_workspace_size_bytes=workspace_size,
   precision_mode='INT8',
   minimum_segment_size=3)

[2019-09-07 13:16] julyrashchenko commented on #32234
@gowthamkpr
I managed to reproduce it on Google colab, here is the [gist](https://colab.research.google.com/drive/1If-E-UR23-ytIIIYctXScoJOMxZp42Xc). Is it okay? Also I attached output of my code running. You can see, that at the end there is memory leakage of about 4 Gb.
![image](https://user-images.githubusercontent.com/54936869/64475250-01a7a700-d189-11e9-978f-a225a1d4db1e.png)

[2019-09-07 13:16] ongoing0217 opened #32314 "Cannot load fashion_mnist"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Home 64bit
- Mobile

[2019-09-07 13:21] s0gek1ng commented on #20444
Please make sure Python interpreter you're using must be 64 bit version , It solved the problem for me try it .

[2019-09-07 13:22] s0gek1ng commented on #20444
Please make sure Python interpreter you're using must be 64 bit version , It solved the problem for me try it .

[2019-09-07 14:01] reliefs commented on #31431
You are talking like I have the problem, yet it is my hundreds of users who has the problem. That you are trying to say "do this, do that". You don't understand the larger issue on scale.

When python is 32 bit by default, and you are talking about norms.. maybe you should follow the norm for python, so python users can install this package, instead of talking about what others do.

[2019-09-07 14:38] mihaimaruseac opened #32315 "Support for 32 bits architecture"
Several users are still using Python32 bits and they cannot install TensorFlow. For them, `pip install tensorflow` fails as no wheel matches the tags expected by their environment (to debug, `pip debug --verbose` shows only tags that don't math the filenames of our wheels).

There is some requests to support 32 bits, see for example #31431

This is not going to be easy as we need to also compile t

[2019-09-07 14:39] shaolinkhoa commented on #28868
Hi @tanzhenyu,
I tested with tensorflow-gpu 2.0.0-rc0 and still have this problem while using `tf.summary.image` with a `tf.keras.layer` of a model
`TypeError: 'Tensor' object cannot be interpreted as an integer`
I follow the [Using TensorBoard in Notebooks](https://www.tensorflow.org/tensorboard/r2/tensorboard_in_notebooks) . You can check [this notebook file](https://colab.research.google.com/dr

[2019-09-07 14:41] mihaimaruseac commented on #31431
I'm disputing the 50% statistics, the 80% numbers, referencing a 10 years old Stack Overflow issue and many other anectdata in this thread.

However, this is getting offtopic and the main issue seems to be solved: python3.7 pips for Windows are now released.

For 32 bits architecture support, I created a feature request: #32315. Closing this one

[2019-09-07 14:41] #31431 closed

[2019-09-07 14:45] mihaimaruseac commented on #20444
For 32bits versus 64 bits Python interpreters, check #32315 and #31431

To debug why you cannot install tensorflow, `pip debug --verbose` should display the list of tags your environment supports. Then check out the [download files](https://pypi.org/project/tensorflow/2.0.0rc0/#files)  (here for 2.0, but you can check others too) and see if your tag is in there. If it is, then it is an issue for u

[2019-09-07 14:46] jvishnuvardhan commented on #31637
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-07 14:46] #31637 closed

[2019-09-07 14:50] mihaimaruseac commented on #31939
I think in both of these cases you installed a 32 bits Python. Please install a 64 bits one if your CPU is 64 bits.

For 32 bits support see #32315

[2019-09-07 14:51] mihaimaruseac commented on #31434
Can you try `r1.15` branch instead? Turns out our 1.14 branch is in a terrible state, sorry for that.

[2019-09-07 14:54] mihaimaruseac commented on #32310
Please post the full output of `pip debug --verbose` and `python -m pip --version` and `python -m pip install --upgrade pip && pyhon -m pip install -vvv tensorflow && pyhon -c "import tensorflow"` (please use them exactly as written)

[2019-09-07 15:03] sharonevarghese commented on #32310
(venv) C:\Users\sharone\AppData\Local\Programs\Python\Python36>pip debug --verbo
se
WARNING: This command is only meant for debugging. Do not use this with automati
on for parsing and getting these details, since the output and options of this c
ommand may change without notice.
pip version: pip 19.2.3 from c:\users\sharone\appdata\local\programs\python\pyth
on36\venv\lib\site-packages\pip (python

[2019-09-07 15:15] stbnps commented on #30647
I can confirm that, for the system described in [0], a simple application like [1] runs when including the missing symbols in `def_file_filter.py.tpl` and building `//tensorflow:libtensorflow_cc.so` again. For this case, I had to include the lines shown in [2] after `def_fp.write("\t ??1OpDef@tensorflow@@UEAA@XZ\n")`, however, more symbols will be needed when developing more complex applications.

[2019-09-07 15:18] bionicles commented on #1799
what do you do if the classes are strings, not ints?

[2019-09-07 16:54] christk1 opened #32318 "AttributeError: 'str' object has no attribute 'keys'"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from: binary
- TensorFlow version: v2.0.0-beta1-5101-gc75bb66 2.0.0-rc0
- Python version: 3.7
- CUDA/cuDNN version: 10.0
- GPU model and memory: Nvidia rtx 2070

**Describe the current behavior**
I want to visualize the embeddings of my model but when i add:
[code]
in the te

[2019-09-07 17:06] sharonevarghese commented on #32310
**_another set of execution results._**
Microsoft Windows [Version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation.  All rights reserved.

C:\Windows\system32>cd C:\Users\sharone\AppData\Local\Programs\Python\Python36

C:\Users\sharone\AppData\Local\Programs\Python\Python36>.\venv\Scripts\activate

(venv) C:\Users\sharone\AppData\Local\Programs\Python\Python36>pip install --upg
rade tensorflow

[2019-09-07 17:21] seanow commented on #22794
After all the trials this answer made my day. 'conda install tensorflow-gpu' lock the tensorflow at 1.12 and solved all the dependency issues.

[2019-09-07 17:24] egeozsoy commented on #31973
A workaround which seems to work for now is importing as directly as possible. This means instead of
`from tensorflow.keras import Model`
one has to do
`from tensorflow_core.python.keras.models import Model`

Instead of
`import tensorflow as tf` and then
`tf.keras.optimizers.Adam()`

Use
`from tensorflow_core.python.keras.optimizers import Adam`
and then just
`Adam()`

It makes it more cumbersome

[2019-09-07 17:59] mgreenbe opened #32319 "Module 'gast' has no attribute 'Num'"
I got an error message including a request that I report a bug.

Here's the code:
[code]

And here's the output, including system info, module versions, etc.
[code]

[2019-09-07 19:15] tocosastalo commented on #32319
Hello,

3 hours ago  was `gast` library updated from 0.2.2 to 0.3.0 and `Num` constant was removed (check commit https://github.com/serge-sans-paille/gast/commit/231ee7a1b599b68354acbbf8b8d19acc8a2ce60a#diff-88b99bb28683bd5b7e3a204826ead112R99).

TF requires `gast>=0.2.0`, so updated version of `gast` module is automatically installed on your machine and that's probably why it fails with error `At

[2019-09-07 20:55] #32318 closed

[2019-09-07 21:33] FlorinAndrei opened #32320 "keras model.evaluate() progress bar WAY too long by default"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): just testing this https://www.tensorflow.org/tutorials/keras/basic_classification
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 fully updated
- TensorFlow installed from (source or binary): `pip3 install --user tensorflow-gpu==2.0.0-rc0`
- TensorFlow vers

[2019-09-07 22:21] vibwipro commented on #31939
Thanks for your suggestion.
Will same solution also work for libraries OpenCV and face_recognition ?
Because both libraries are having similar installation issues on my system or any other solution will work for them to get fixed. Thanks.

[2019-09-08 01:56] devmessias commented on #25398
@JCatesPH If you're really desperate I got around that

https://github.com/stdogpkg/emate/blob/0d94da36ab0f1128b5614d3176d472622e3cbc88/emate/utils/tfops/misc.py#L99

https://github.com/stdogpkg/emate/blob/0d94da36ab0f1128b5614d3176d472622e3cbc88/emate/symmetric/tfops/slq.py#L85

[2019-09-08 02:33] deasmhumhna opened #32322 "compute_mask not called when custom layer does not alter inputs and mask is not None"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-09-08 02:42] jlebar commented on #32319
@mgreenbe thank you for filing the bug, and @tocosastalo thanks for the info.

Workaround that worked for me: `$ pip3 install 'gast==0.2.2'`.

[2019-09-08 02:55] SamuelMarks opened #32323 "Build fails on latest master with clang and CUDA"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (

[2019-09-08 02:58] synap5e commented on #31983
Still having this issue, with `2.0.0-rc0` using `poetry` to install on a clean (no other deps) test project

[code]

[2019-09-08 02:58] SamuelMarks commented on #31434
Confirmed `master` branch breaks also: https://github.com/tensorflow/tensorflow/issues/32323

I can try with `r1.15` next

[2019-09-08 04:04] ebrevdo commented on #1799
You first convert the strings to ints via one of the helper classes/functions in `tf.lookup`.  You will need to have a vocabulary in mind that maps strings to integers.

[2019-09-08 04:48] isaacgs44 commented on #31171
Hi, the problem is caused by the os.path.join function for Windows.
Open tensorflow_datasets / image / oxford_iiit_pet.py and replace these lines:
85 replace with `url = _BASE_URL +" /images.tar.gz "`
88 replace with `url = _BASE_URL +" /annotations.tar.gz "`

I hope it helps you

[2019-09-08 05:33] mihaimaruseac commented on #31939
Recommend StackOverflow for this, no idea if same solution would work there and cannot extrapolate.

[2019-09-08 07:15] game-sys opened #32326 "cannot import tensorflow"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): `import tensorflow as tf`
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): `pip install tensorflow`
- TensorFlow v

[2019-09-08 07:29] primrose3128 commented on #30191
it worked for me as well , thanks.

[2019-09-08 07:40] Yooong-W commented on #32037
Although the creation failed,but I can find the mbed folder in the directory. it look likes some file in this folder are missing, When I compile with mbed, I will get an error, suggesting that some file is missing...
where should i get the required source files in this structure?
i got some mbed file that have created from this link, can i move the source files into the mbed file that i create wit

[2019-09-08 08:20] TheCrazyT commented on #21135
Ok ... second test seem to work, so it looks like "tf.train.Saver()" is the problem?
(Thats what i use at: https://github.com/TheCrazyT/tensorflow_poe/blob/master/doit.py)

Atleast I'm not 100% shure why your version with callbacks seem to work.
https://ci.appveyor.com/project/TheCrazyT/tensorflow-poe/builds/27259776
(atleast it runned 25 epochs with 25 checkpoints without problems)

[2019-09-08 08:22] EricChenC commented on #31118
I have same problem!

[2019-09-08 08:25] ai-nikolai commented on #32319
@jlebar & @tocosastalo & @mgreenbe thank you:

This worked for me too: $ `pip3 install gast==0.2.2.`

[2019-09-08 08:44] rishabhsahrawat commented on #32075
Sorry for the confusion, I meant the ‘tf.data.Dataset.shuffle’  has a
parameter ‘reshuffle_each_iteration’ even after setting it to ‘False’ it
still shuffles the dataset before every epoch and fills up the buffer which
at some point leads to OOM error. This error sometimes also comes during
the first time it fills up the buffer or before the beginning of second
epoch. Here is the issue that I have

[2019-09-08 09:39] Ahwar opened #32327 "I don't like TensorFlow"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-09-08 10:29] Ori226 commented on #29161
Is there any progress on the issue?
Thanks

[2019-09-08 11:19] chrisnurse commented on #27794
I get the same HASH problem 8th September 2019

(cv2_env) pi@pi-hub:~$ pip3 install tensorflow
Looking in indexes: https://pypi.org/simple, https://www.piwheels.org/simple
Collecting tensorflow
  Downloading https://www.piwheels.org/simple/tensorflow/tensorflow-1.13.1-cp37-none-linux_armv7l.whl (93.2MB)
    8% |???                             | 7.9MB 6.9kB/s eta 3:27:43
THESE PACKAGES DO NOT MATCH

[2019-09-08 11:54] kristofgiber opened #32328 "Use keras .fit() method to train adversarial models"
TF2.0.0-RC0 keras question:

Because GANs and adversarial models require training two models with different optimizers simultaneously, I don't think this can be achieved currently without a custom training loop, applying only the model.fit() methods. Is this feature already available because I haven't found it in the documentations? To clarify, the feature I would need is to create the generative

[2019-09-08 12:23] #27195 closed

[2019-09-08 12:23] tensorflowbutler commented on #27195
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2019-09-08 12:23] tensorflowbutler commented on #30629
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-09-08 12:35] LucienZhang opened #32329 "TensorFlow installation apt commands is wrong"
## URL(s) with the issue:

https://www.tensorflow.org/install/gpu

## Description of issue (what needs changing):

1. change your language to chinese simplified from the upright corner.
2. in the apt installation commands for Ubuntu 18.04 (CUDA 10), last step shown below is wrong:

[code]

1.  there is a syntax error--> && \ &&
2.  libnvinfer5=5.1.5-1+cuda10.0  should be installed first before lib

[2019-09-08 13:29] mgarbade opened #32330 "java.lang.IllegalArgumentException: Internal error: Failed to run on the given Interpreter: TfLiteGpuDelegate Invoke: Delegate should run on the same thread where it was initialized.Node number 175 (TfLiteGpuDelegate) failed to invoke"
In the android image classifier demo, I tried to run the Interpreter with GPU from start so I changed [this line](https://github.com/tensorflow/examples/blob/master/lite/examples/image_classification/android/app/src/main/java/org/tensorflow/lite/examples/classification/tflite/Classifier.java#L175-L189):

[code]

to this:

[code]

sounds simple, but it crashes with the above mentioned error.
Weirdl

[2019-09-08 13:55] mihaimaruseac commented on #30629
Closing this issue as original asker didn't reply at all and there is a duplicate.

[2019-09-08 13:55] #30629 closed

[2019-09-08 13:57] mihaimaruseac commented on #30999
Closing as there has been no activity on this issue and the 2.0 branch has been fast forwarded past the time the comments are.

Please open a new issue if the problem persists.