[2021-02-22 08:41] Saduf2019 commented on #47275
@asokraju
I ran the code shared on tf 2.4 and face a different error, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/e714682cd4a968a2df453d30c950cbb3/untitled546.ipynb)

[2021-02-22 08:45] farhantandia commented on #33925
hei, how you resolve that?

[2021-02-22 08:55] SamTov opened #47303 "Add compatability for h5py 3"
**System information**
- TensorFlow version (you are using): 2.4
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
We are developing some software that relies heavily on both H5Py and TensorFlow and require the latest release of each. In terms of functionality the code will run however if the user installs both separately but the setup.py wil

[2021-02-22 08:56] Saduf2019 commented on #47132
@adalseno
Thank you for your update, please move this issue to closed status as it is resolved.

[2021-02-22 09:00] diman82 commented on #26732
What helped me, is wrapping the path with Path object (from pathlib module) and converting back to str

[2021-02-22 09:03] MoFHeKa commented on #47280
Sorry about that. I have re-edit my issue.

[2021-02-22 09:04] fsx950223 commented on #47131
It's impossible
[code]
[code]

[2021-02-22 09:06] fsx950223 commented on #47131
BTW, I met this issue when I try to transfer JAX's weights to Tensorflow's weights. Since sometimes JAX weights don't have layer name, e.g: VIT.

[2021-02-22 09:21] RocaVincent commented on #47061
I've got interesting results related to the issue. In my _tf.function_, I used [iterators](https://www.tensorflow.org/api_docs/python/tf/data/Iterator) and [get_next](https://www.tensorflow.org/api_docs/python/tf/data/Iterator#get_next) functions in order to read training samples. For now, it seems that putting these readings outside of _tf.function_ avoids OOM on non first call.

However, it stil

[2021-02-22 09:23] pao0318 commented on #47287
@Dwarakanadh-k  I successfully ran some snippets of your code cells. In you code I think the you have not provided the model's path correctly or even the model.. I have created a demo using your code. It might help.
[https://colab.research.google.com/drive/1ansO4-qULpIf_euD5kOMVwpKS4hsCs51?usp=sharing](url)

[2021-02-22 09:26] #47287 closed

[2021-02-22 09:27] albertotonon commented on #47182
Thanks a lot, @rmothukuru ! This completely clarifies my doubt, so, i'll close the ticket.
Keep up the good work, people :)

[2021-02-22 09:27] #47182 closed

[2021-02-22 09:28] Dwarakanadh-k commented on #47287
the given demo  link is not opening

[2021-02-22 09:30] Dwarakanadh-k commented on #47287
import flask
from flask import Flask
the code is running after changing the flask error by this
I refered those previously unable to understand the solution

[2021-02-22 09:30] agrawalakshay68 commented on #47274
@DNXie
 ## Error  line : tf.convert_to_tensor(value=np.array((10)), dtype=20)
### The error is in the dtype argument of convert_to_tensor which expects specific codes instead of numeric integers, if you want to convert your array into integer tensor you shall pass dtype =tf.int32 for 32bit integers or dtype  = tf.int64 for 64 bit integers instead of 20. Also, if you want to convert it into float y

[2021-02-22 09:46] justeph commented on #47259
thank you @terryheo  this is much faster!!

[2021-02-22 09:46] #47259 closed

[2021-02-22 09:56] Dwarakanadh-k commented on #47287
Yeah I didn't given path in code ,Can u please help me how to add path

On Mon, 22 Feb, 2021, 2:53 PM Siddharth Sharma, <notifications@github.com>
wrote:

[2021-02-22 10:03] amahendrakar commented on #47261
@edwardyehuang,
I was able to reproduce the issue with TF v2.3 and [TF v2.4](https://colab.research.google.com/gist/amahendrakar/24e97b6032722f41d872a86ef4bfb535/47261.ipynb). However, the issue seems to be fixed with the latest [TF-nightly](https://colab.research.google.com/gist/amahendrakar/e9f37c18981bcdc2715461c28aeb267e/47261-tf-nightly.ipynb).

Please check the linked gist for reference. Tha

[2021-02-22 10:08] OlafEichstaedt opened #47305 "tutorial URL outdated, should probably be "www.tensorflow.org/tutorials/audio/simple_audio""
The url
`https://www.tensorflow.org/tutorials/audio_recognition`
in line 21 of `tensorflow/tensorflow/examples/speech_commands/train.py` is outdated and produces an 404 error.

It should probably be:
`https://www.tensorflow.org/tutorials/audio/simple_audio`

[2021-02-22 10:11] ghylander commented on #47263
`
import tensorflow as tf
from tensorflow import keras

inference_model = tf.keras.models.load_model('./S2_models/inference_model.h5')

Adding data augmentation
data_augmentation = tf.keras.Sequential([
tf.keras.layers.experimental.preprocessing.RandomFlip('horizontal'),
tf.keras.layers.experimental.preprocessing.RandomRotation(0.2)
])

inputs = tf.keras.Input(shape=(224, 398, 3))
x = data_augment

[2021-02-22 10:14] amahendrakar commented on #47264
@st--,
I was able to reproduce the issue with TF v2.3 and [TF v2.4](https://colab.research.google.com/gist/amahendrakar/1c4415b5fae7a27a55176ff2fdae1009/47264.ipynb). However, the issue seems to be fixed with the latest [TF-nightly](https://colab.research.google.com/gist/amahendrakar/d74e4348ea25e0bfa07551601ab69411/47264-tf-nightly.ipynb).

Please check the linked gist for reference. Thanks!

[2021-02-22 10:16] robinderat opened #47306 "TopKV2 InvalidArgumentError: k must be scalar"
Running on Google Colab
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- TensorFlow version: 2.4.1
- Python version: 3.6.9
- CUDA/cuDNN version: 10.1

### Current behaviour

I am trying to use tf.raw_ops.TopKV2 to get the top k values of my output, with k varying per row.

As stated in the documentation k expects "A Tensor of type int32. 0-D.

[2021-02-22 10:20] edwardyehuang commented on #47261
Confirm it has been fixed in nightly.
But I wounder which commits fix it. Could you help me to find it if you have time @amahendrakar ?

Close issue for now.

[2021-02-22 10:23] pao0318 commented on #47287
Just import the load_model
initialize the model **path**="your model path"(for example)
load_model("Model_Path")

[2021-02-22 10:37] amahendrakar commented on #47268
Was able to reproduce the issue with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/be336213a9bd8d00002ab559e26ea460/47268.ipynb). Thanks!

[2021-02-22 10:48] stefanobranco commented on #47171
I'm not sure this is directly connected, but Stringlookup.adapt() performance gotten significantly worse for me ever since `tf-nightly-2.5.0.dev20210114` tot he point where it's looking it's just stuck there.

[2021-02-22 10:52] #46979 closed

[2021-02-22 11:01] smuzaffar opened #47307 "Building v2.3.1 from sources with avx512 support on a system without avx512"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS7
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.3.1
- Python version: 2.7.15
- Installed using virtualenv? pip? conda?: build from sources
- Bazel version (if compiling from source): 3.7.0
- GCC/Compiler version (if compiling from source): 9.3.0
- CUDA/cuDNN version: without cud

[2021-02-22 11:14] sajenjeshan1222 commented on #22926
is it still open

[2021-02-22 11:27] maingoh commented on #29635
The issue still persists with tf 2.4.1 and it probably won't change by chance.

I think i am not the only one trying to minimize tf vram footprint https://github.com/tensorflow/tensorflow/issues/39605 and https://github.com/tensorflow/tensorflow/issues/43846.

Either give us a way to see the real vram needed so that we can set the appropriate memory fraction, or make sure allow growth only use the

[2021-02-22 11:47] kiflowb777 commented on #33789
Should you use
```model.metrics.append(loss)```
 or
```model.add_metric(loss)```
?

[2021-02-22 11:51] stronquens commented on #46093
On the nvidia website the oldest driver compatible with my graphics is 451 (rtx 3070)

[2021-02-22 11:53] ion-elgreco commented on #46093
Sorry, typo! I meant 461.09

[2021-02-22 11:54] HLSS-Hen opened #47308 "Need a easy way to let different weights have different LR in Keras."
**System information**
- TensorFlow version (you are using): 2.4.1
- Are you willing to contribute it (Yes/No): Yes, may be

**Describe the feature and the current behavior/state.**
At nowtimes, if I want to train model and use defferent LR for weights, I need to give up `Model.Fit()`.

**Will this change the current api? How?**
Yes, probably:
- Layer.add_weight() may have extra param "Init_LR"
-

[2021-02-22 11:54] kiflowb777 opened #47309 "How to fix 'Tidx' type in TensorFlowOpLayer (Inconsistent values for attr 'Tidx' DT_FLOAT vs. DT_INT32 while building NodeDef)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.4.0
- Python version: 3.6.1
- CUDA/cuDNN version: 11.1
- GPU model and memory: RTX3070 8GB

After upgrading to a newer version of TensorFlow (1.14 -> 2.4.0) in my project based on MaskRCNN I get an error when tr

[2021-02-22 11:58] amahendrakar commented on #47305
@OlafEichstaedt,
Thank you for reporting the issue.

The requested change is being tracked in PR [#47310](https://github.com/tensorflow/tensorflow/pull/47310). The link will be updated once the PR is merged. Thanks!

[2021-02-22 11:59] kiflowb777 commented on #47309
Traceback :
[code]

[2021-02-22 12:07] kiflowb777 commented on #33785
I found a solution, try at the end of the self.call method:

[code]

[2021-02-22 12:14] Dwarakanadh-k commented on #47287
firstly thanks for your response bro
The path is added and load model too

# Model saved with Keras model.save()
MODEL_PATH ='model_resnet152V2.h5'

# Load your trained model
model = load_model(MODEL_PATH)

From past 1 week trying to solve the error but unable find the solution
If possible check that attached file You may solve the error
https://github.com/krishnaik06/Cotton-Disease-Prediction-Dee

[2021-02-22 12:20] DevLob-zz commented on #41380
Failed to rename: path\trial_5a095c02600a30dc086a9efe046b1272\checkpoints\epoch_0\checkpoint_temp/part-00000-of-00001.data-00000-of-00001 to: path\trial_5a095c02600a30dc086a9efe046b1272\checkpoints\epoch_0\checkpoint.data-00000-of-00001

 try to make this path is shorter less than 255 character

[2021-02-22 12:32] songww commented on #46852
Thanks.

[2021-02-22 12:36] hainesdata commented on #47229
I did use that, but it failed in the end and broke something, since it didn't run again.
Here's what I've done:
[code]
The build command I used was:
[code]

I will try running the full process in Ubuntu including the wheel build again, despite any errors that come up in building the pip package and see what happens.

[2021-02-22 12:46] fsx950223 commented on #47308
It's easy to implement it with custom training loop.

[2021-02-22 13:03] Saduf2019 commented on #47309
@kiflowb777
Please share simple stand alone code for us to replicate the issue reported or a  colab gist.
As per the error reported, can you please ensure that the original input data types match with the data types of your new inputs.
Casting keras input to float64 can help resolve this error.
Also refer to similar issue: #32375

[2021-02-22 13:15] isarandi commented on #35906
Is there any progress on this issue? The different numbering scheme between tf.keras.layers and tf.layers makes it difficult to reload checkpoints that were produced through the other API.

[2021-02-22 13:44] #47132 closed

[2021-02-22 13:54] rafikg commented on #47265
Sorry @ravikyram
I edited the code.

[2021-02-22 14:02] Ellislee1 opened #47311 "TypeError: Cannot convert a symbolic Keras input/output to a numpy array."
I dont quite understand why i'm getting this error. i came back to this project after updating some things and now my code wont work. Below is the code for my model. Any idea how I can avoid this?

[code]

[2021-02-22 14:27] ghylander commented on #47263
I seem to have found the problem (sort of)
tensorflow seems to be incompatible with numpy v1.20+, while 1.19 works

without making any changes whatsoever to the code, swapping between numpy v1.19 and 1.20 creates this issue

it seems there is some issue in the way tf handles symbolic tensors that makes it incompatible with numpy v120+

the issue arises when declaring and "placeholder tensor", e.g:

[2021-02-22 14:43] Saduf2019 commented on #47306
@robinderat
K is a scalar ex: k=3 but you are using a vector.

This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2021-02-22 14:44] asokraju commented on #47275
For some reason MpI codes ldoesnot eork on collab please try on a local
computer

On Mon, Feb 22, 2021, 02:41 Saduf2019 <notifications@github.com> wrote:

[2021-02-22 14:53] Saduf2019 commented on #47301
@HarborZeng
The code provided is not complete  hence it would be difficult for us to pinpoint the issue. Please share complete stand alone code to replicate the issue or a colab gist with the error reported.? That will allow us to determine the source of the issue easily.
Thanks!

[2021-02-22 15:05] #41546 closed

[2021-02-22 15:16] asirico opened #47312 "CUDA 11.2/TF 2.5.0 Failed to load libcudnn.so.8"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.10
- TensorFlow inst

[2021-02-22 15:33] dmidge8 commented on #47212
Hi @jvishnuvardhan ,
Thanks for your interest in the issue!
I tried to install it with pip in the conda environment, and it didn't solve anything. Even with various versions. The odd part though is that installing it through pip *outside* of the conda environment did solve the problem *inside* the conda environment (I had to go through another loop of installation though in the conda environment,

[2021-02-22 15:34] amahendrakar commented on #47297
@Fawcett-cpu,
Issues related to TensorFlow Model Garden are tracked in tensorflow/models repo.

Could you please submit a new issue from [this link](https://github.com/tensorflow/models/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2021-02-22 15:40] Fawcett-cpu commented on #47297
This is the new issue https://github.com/tensorflow/models/issues/9743

[2021-02-22 15:46] robinderat commented on #47306
@Saduf2019
I know I am using a vector. That is what I want. Please note I am using TopKV2 not TopK.
For TopK documentation says:
k: An int that is >= 0. Number of top elements to look for along the last dimension (along each row for matrices).

For TopKV2 documentation says:
k: A Tensor of type int32. 0-D. Number of top elements to look for along the last dimension (along each row for matrices).

[2021-02-22 15:48] #26527 closed

[2021-02-22 15:55] amahendrakar commented on #47311
@Ellislee1,
In the given code snippet you have defined the class and its methods but are not calling them anywhere.

In order to reproduce the issue reported here, could you please provide the TensorFlow version, the complete code and the dataset you are using. Thanks!

[2021-02-22 16:32] shankernaik commented on #39744
Hey guys, any fix ? I am facing same issue.
[code]

[2021-02-22 16:38] JanderHungrige commented on #43527
same problem here with ssd_mobilenetV2 and TF2.4
I tried to convert with
`converter = tf.compat.v1.lite.TFLiteConverter.from_saved_model('./exported-models/my_model_f32/saved_model')`
and
`converter = tf.lite.TFLiteConverter.from_saved_model('./exported-models/my_model_f32/saved_model')`
which both failed.

[2021-02-22 16:47] mihaimaruseac commented on #46972
Yes, these are the correct commands. Make sure you are using the right environment, the right python/pip combination.

[2021-02-22 17:08] shankernaik commented on #41808
I am using tensorflow 2.4.0, this one worked for me.

While configuring the env variables for linker from https://www.tensorflow.org/install/lang_c. instead try Absolute path as below
[code]

This worked for me, caching the go package here.
[code]

[2021-02-22 17:14] hosford42 commented on #28007
I am getting a similar error on TF 2.4.1.

[code]

[code]

[2021-02-22 17:15] nikitamaia commented on #46931
Hi @inespancorbo did you mean to close this issue? From the logs it seems it runs for 352 epochs and then crashes. Did you find a solution?

[2021-02-22 17:24] Dwarakanadh-k commented on #47287
irstly thanks for your response bro
The path is added and load model too

# Model saved with Keras model.save()
MODEL_PATH ='model_resnet152V2.h5'

# Load your trained model
model = load_model(MODEL_PATH)

From past 1 week trying to solve the error but unable find the solution
If possible check that attached file You may solve the error
https://github.com/krishnaik06/Cotton-Disease-Prediction-Deep

[2021-02-22 17:26] nikitamaia commented on #28007
Hi @hosford42, I just ran your [code sample in Colab](https://colab.research.google.com/gist/nikitamaia/0ed2698f00e3fe26b3d4f38e2ad784dc/28007_mapfn.ipynb) and I'm not seeing any errors. Please let me know if I'm missing something and open a new issue for further debugging.

[2021-02-22 17:38] adriangb opened #47313 "BUG: gfile.walk return full paths instead of filenames for ram:// filesystems"
Tested via tf-nightly on 2020-02-22 (YYYY-MM-DD).

Code to reproduce:

[code]

The third element is `['ram://testdir/file.txt']`, but it should be just `['file.txt']`

Colab notebook: https://colab.research.google.com/drive/13bWmaJ40aeQKd2pUfNtnfwaaUP1M_IVL?authuser=1#

[2021-02-22 17:38] adriangb commented on #47313
ccing @mihaimaruseac

[2021-02-22 17:40] adriangb opened #47316 "BUG: gfile.rmtree is raises a NotFound error for ram:// filesystems"
Tested via tf-nightly on 2020-02-22 (YYYY-MM-DD).

Code to reproduce:

[code]

Colab notebook: https://colab.research.google.com/drive/13bWmaJ40aeQKd2pUfNtnfwaaUP1M_IVL?authuser=1#

[2021-02-22 17:41] adriangb commented on #47316
ccing @mihaimaruseac

[2021-02-22 18:10] jvishnuvardhan commented on #47212
@dmidge8 Please try with `tf-nighly` also and close the issue if it was resolved for you. Generally we don't support Anaconda based issues. If you can post them in their repo, you might get faster resolutions related those issue. Thanks!

[2021-02-22 18:21] edwardyehuang opened #47319 "TPU with bfloat16 does not support tf.image.resize with nearest"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.4.1
- Python version: 3.7.9
- GPU model and memory: TPUv3

![图片](https://user-images.githubusercontent.com/3354

[2021-02-22 18:28] ravikyram commented on #47319
@edwardyehuang

Please, fill issue template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose).
Please, share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster. Thanks!

[2021-02-22 18:48] hosford42 commented on #28007
@nikitamaia, I'm not using Colab, so perhaps the environment is the issue. I'm running Python 3.8.5 on an Ubuntu machine. I can provide more details if necessary.

Here is the full output when I start python and import tensorflow to show the version number:
[code]

[2021-02-22 18:50] hosford42 commented on #28007
And here is the logging output when I start a session, for GPU-specific info if that's needed:
[code]

[2021-02-22 18:55] asokraju commented on #47275
Above MWE, the aim is to predict the output of a saved model in parallel.

WORKER:
1. Saves the model to the disk and saves the path in `model_savepath `
2. It then calls four workers by sending the model path and the `work `function (data that needs to be predicted).
3. Each one then clones a model from the path (using `clone_model`) and then uses it to predict.

PS:
1. It might not work in COLAB

[2021-02-22 19:04] dfalbel opened #47321 "Keras fit with generators not executing in the main thread when setting workers=0"
Can be reproduced on colab with TensorFlow (`v2.4.1-0-g85c8b2a817f 2.4.1`)

**Describe the current behavior**

Generator code is executed in other threads when using `model.fit`.

From the docs, it looks like that setting workers=0 would execute the generator code in the main thread.

This doesn't seem to work though as only the first iterations seems to be executed in the main thread.

For exampl

[2021-02-22 19:04] haozha111 commented on #46315
No problem, @abattery is currently adding support for flex tensorlist ops. Jaesung, could you give a rough ETA?

[2021-02-22 19:04] SikandAlex commented on #1415
This is insane. I'm dealing with this issue for past 14 hours and it looks like the history goes back to 2016 (5 years ago). All just so I can use the google-cloud-vision Python library. Smh Google.

[2021-02-22 19:07] yunxing commented on #47211
This is supported on XLA-TPU but not on XLA-GPU yet.

[2021-02-22 19:09] Zumbalamambo opened #47322 "Value error with DELF"
I use the following code to compute delf,

[code]

Unfortunately, it throws the following error

[code]

How can I fix this?

[2021-02-22 19:12] Hakim777 opened #47323 "Getting negative loss function in Autoregressive"
Hi

I'm using Autoregressive for density estimation, the same example that is written in this page:

https://www.tensorflow.org/probability/api_docs/python/tfp/bijectors/AutoregressiveNetwork?version=nightly

However, when I increase the dimension (event_shape) of the data that I want to find its density, from two to four for example, I start getting negative loss function!

Can anyone help me wit

[2021-02-22 19:13] nikitamaia commented on #28007
Actually, I just ran the Colab gist that I shared in my earlier post, but this time with a GPU runtime. I'm now seeing the same error message that you reported. So seems to be a GPU related issue. Can you open a new bug with all of this information? Thanks!

[2021-02-22 19:16] jplu commented on #47211
Oh, I see. Thanks for the answer! Any ETA for it to come on XLA-GPU (CPU)?

[2021-02-22 19:20] ymodak commented on #47278
This is marked as feature request with [37563](https://github.com/tensorflow/tensorflow/issues/37563).

[2021-02-22 19:35] tbec commented on #25563
Hi @ebrevdo, thanks for responding. I have used post-training quantization and am unable to convert an LSTM using full integer quantization, although I've had no issues with dynamic range quantization of LSTM models.

[2021-02-22 19:52] #46831 closed

[2021-02-22 19:57] rafikg commented on #47265
@ravikyram
Can you please check it because I am blocked on that and I am charging the client for that.

[2021-02-22 20:14] ymodak commented on #47275
Have you tried saving your model to `tf` format? Does that work?

[2021-02-22 20:17] anoldmaninthesea opened #47324 "Using GridSearchCV in a regression with Keras: TypeError: cannot pickle '_thread.RLock' object"
I'm trying to use GridSearchCV in a regression with a Keras neural network.
The data I'm using is the Boston Housing Price dataset, which was loaded directly from keras `boston_housing.load_data()`. The following is a code snippet of I'm trying to do.

    def build_model():
        model=models.Sequential()
        model.add(layers.Dense(64,activation="relu",
                              input_s

[2021-02-22 20:19] anoldmaninthesea commented on #42641
I've just opened this related issue, but now with data freely available. https://github.com/tensorflow/tensorflow/issues/47324

[2021-02-22 20:29] ymodak commented on #47245
I wonder if this issue is tutorial specific. Can you please try some [basic tutorial](https://www.tensorflow.org/tutorials/keras/classification) notebook and check if you see core dumped error?

[2021-02-22 20:59] sdrobert commented on #40727
Hi @yjiangling,

I'm fairly certain that I haven't left out any probability mass because I'm relying on the op itself to calculate the probability of all but the pruned path. The way I calculate the pruned path, `[0, 1, 0]` at step t=3, given that `[0, 1]` and `[0]` are in the beam at step t=2, is to sum the total log-probability of the prefix `[0, 1]` (approx `-1.1840693`) with the log-probabilit

[2021-02-22 21:04] hosford42 opened #47325 "Invalid argument: During Variant Host->Device Copy: non-DMA-copy attempted of tensor type: string"
Opening a new bug per @nikitamaia's suggestion. See discussion in #28007, in which she confirmed the bug. Bug only presents when using GPU, not CPU.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04.2 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsun

[2021-02-22 21:17] rthadur commented on #44005
cc @ymodak

[2021-02-22 21:19] Arman-IMRSV opened #47326 "Unable to convert mT5 model to tflite (tensorflow.GraphDef exceeds maximum protobuf size of 2GB)"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library : 2.3.1

### 2. Code
[code]

### 3. Error Message:
[code]

### 4. Note:
1. I realized that the suuport for models larger than 2GB is added to ONNX converter ([here](https://github.com/onnx/tensorflow-onnx/pull/1

[2021-02-22 21:25] lmocsi commented on #47249
@ravikyram
Neither configuration fits the above problem description.
With TF 2.4, I have another bug filed (#46111).

[2021-02-22 22:00] yuefengz commented on #47197
The function execution will release GIL therefore so far it has not been a big issue for our internal users. Have you tried multi-step packing: https://www.tensorflow.org/tutorials/distribute/parameter_server_training#performance_improvement?

[2021-02-22 22:17] rthadur commented on #45053
cc @ymodak

[2021-02-22 22:25] rthadur commented on #46977
cc @jvishnuvardhan

[2021-02-22 22:56] tmladek commented on #47245
Good question! This "Basic classification" notebook seems to have finished just fine.

I suppose this may not a build/install issue then.

[2021-02-22 23:04] jvishnuvardhan commented on #47265
@rafikg Looks like there is no issue if you use `tf-nightly`. [Here](https://colab.research.google.com/gist/jvishnuvardhan/b0322e606db7cb5ed48a13ab9226ec4c/example.ipynb) is a gist for your reference. Thanks!

[2021-02-22 23:42] acuskev opened #47328 "tf.nn.depth_to_space with NCHW argument works in TF 2.3 but fails in TF 2.4"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2021-02-22 23:52] asokraju commented on #47275
As per your suggestion, I modified the code as follows:
[code]

And the output is

[code]
This still has the same issue.
PS: The above out is generated on my windows computer, and the time taken to load the model in the earlier method is quite fast, (~0.05) compared to 1 second. I also noted that as the model complexity increases, the time increases ( a model with 4 hidden layers of 200 parmas eac

[2021-02-22 23:56] rjpower commented on #47020
This is expected floating point behavior. TensorFlow does not guarantee that floating point approximations will not result in NaN values, in line with other numerical toolkits. You can use `tf.math.is_nan` to check for NaN values.

[2021-02-22 23:56] #47020 closed

[2021-02-23 00:01] jsimsa commented on #34942
I have recently investigated the memory growth observed for OSS version of TensorFlow when `shuffle` is used. The conclusion of my investigation is that the memory growth is related to poor performance of memory allocator (TensorFlow uses system malloc by default). In my experiments, switching to use TCMalloc (details below) resulted in constant memory usage.

For the evaluation, I used the follow

[2021-02-23 00:03] jsimsa commented on #44176
I have recently investigated the memory growth observed for OSS version of TensorFlow when `shuffle` is used. The conclusion of my investigation is that the memory growth is because of poor performance of the memory allocator (TensorFlow OSS uses system malloc by default). In my experiments, switching to use TCMalloc (details below) resulted in constant memory usage (and program speedup).

For the

[2021-02-23 00:03] #44176 closed

[2021-02-23 00:06] jvishnuvardhan commented on #47194
@DHOFM This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2021-02-23 00:06] #47194 closed

[2021-02-23 00:13] bhack commented on #44176
Is this about a specific glibc version?

[2021-02-23 00:27] abattery commented on #47326
Hi @Arman-IMRSV

Is it possible to follow this workaround in https://github.com/tensorflow/tensorflow/issues/45041#issuecomment-731268801 ?

[2021-02-23 00:28] bhack commented on #44176
Also I don't know if we could pilot some specific tuning with [`mallopt`](https://man7.org/linux/man-pages/man3/mallopt.3.html) e.g. `M_ARENA_MAX`

[2021-02-23 00:48] jvishnuvardhan commented on #40138
@leeyeetonn When I ran your codes with `tf-nightly`, it throws a different error than you are expecting but it is not crashing as you noticed earlier. [Here](https://colab.research.google.com/gist/jvishnuvardhan/bf06e470a5c4ba8be3c13d142700b78e/untitled86.ipynb) is a gist for our reference. Thanks!

Please verify once and close the issue if this was resolved for you. thanks!

[2021-02-23 00:56] BalzySte commented on #46093
@keremycdg
Same specs as @rTiagoS and same issue, right now I'm downgrading to Cuda 11.0 as a temporary fix

[2021-02-23 00:58] terryheo commented on #47120
@thaink don't we have a way to build flex via C api ? (at least via selective build?)

[2021-02-23 01:27] shaowei-su commented on #47197
Thanks Yuefeng, I tried but performance wise it's still not on par with TF 1 API. Do you mind sharing some details regrading how to set up the benchmark you and Haoyu used in this video(https://www.youtube.com/watch?v=B2Tpv_N7wkg&list=PLv-somlsqZU6VDnVcOof75RgT0I6v1Vg4&index=1&ab_channel=TensorFlow)?

[2021-02-23 01:34] HLSS-Hen commented on #47308
[code]
Then def model with `DoubleBiasLRModel(xxx)` instead of ` keras.Model(xxx)`
I use this code to solve my need. I wish we can have more elegant and simple

[2021-02-23 01:36] yuefengz commented on #47197
cc @haoyuz as well.

After we enabled multi-step packing (like ~10 steps per schedule), we tried to see whether there is any imbalance between PS in terms of CPU usage. We saw some PS has much higher CPU load and identified issues with variable sharding and optimizer variables being used by all other PS in a single step. Therefore, we added the tip 1 and 2 in the tutorial.

[2021-02-23 01:37] yuefengz commented on #47197
We created a synthetic model which resemble a wide-n-deep for benchmarking.

[2021-02-23 01:39] WindQAQ commented on #47328
@acuskev It's because XLA:{CPU_GPU} device is not registered in 2.4.* by default.

As you can see in [here](https://colab.research.google.com/drive/1fnS3PvK_ralzf2jlMG73JMRXDKPApRvt?usp=sharing), with NCHW format, depth to space is running on XLA:CPU. To fix it, you can decorate the function with `tf.function(experimental_compile=True)` in 2.4.* and onwards.

[code]

[2021-02-23 01:49] rrklearn2020 opened #47329 "ImportError: cannot import name 'keras_modules_injection'"
**System information**
- Have I written custom code and  used `from tensorflow.python.keras.applications import keras_modules_injection` in Tensorflow 2.0, it worked, now I changed to Tensorflow 2.4, and facing error `ImportError: cannot import name 'keras_modules_injection'`
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary):bina

[2021-02-23 01:54] karimnosseir commented on #47246
Hi @shuki-k
Sadly this is not possible.
These new chips uses a newer version of HVX that is different than what Hexagon delegate supports.

[2021-02-23 01:54] #47246 closed

[2021-02-23 01:55] rafikg commented on #47265
Thanks for your effort @jvishnuvardhan,
I don't think so that the problem is because of TF 2.4.1 because by gist above is working fine on 2.4.1. I am pretty sure that the problem is coming from K80 GPU. Can you reproduce the code on a K80 GCP VM.

[2021-02-23 02:10] jianku122 opened #47330 "memory increasing slowly and largely at the beginning of model.fit() in tf.keras"
**System information**
    Have I written custom code (as opposed to using a stock example script provided in TensorFlow):No
    OS Platform and Distribution (e.g., Linux Ubuntu 16.04):windows
    TensorFlow installed from (source or binary):github release
    TensorFlow version (use command below):2.3.1
    Python version:3.8.1
    CUDA/cuDNN version:10.1, 7.6.
    GPU model and memory: RTX2080Ti

[2021-02-23 02:17] joannayoo0117 commented on #29877
Are there any updates on this? I'm using TPU which make things more complicated.
Ideally, I want to run operations in TPU, return as tensor which is still on TPU, directly access the gs bucket and write the result as TFRecord.
All the options I found require the tensor to be transformed to something else (i.e. bytes, numpy, float etc etc), which TPU is not too happy about.
It would be really great

[2021-02-23 02:24] krenerd opened #47331 "Adabound feature request"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.4.1
- Are you willing to contribute it (Yes/No):

**Desc

[2021-02-23 02:46] jvishnuvardhan commented on #40085
@Strateus I think this is intended behavior. If you look at the input to the `lambda` layer is [1,0] and during `lambda x: x - 0.5` we are deducting 0.5 which results in [0.5,-0.5]. Please take a look at the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/18a34178226c88823b346b15191fad3b/untitled431.ipynb). Thanks!

[code]

Output is

[code]

Please verify once and let me know if

[2021-02-23 03:01] zuston commented on #46169
Thanks your reply. @yuefengz
As stated in the above TF doc, the evaluator is indeed not part of the training cluster. But it does not have this problem in TF1.x PS strategy, and related kubeflow/tf-operator and linkedin/tony are also used in this way.

Now it seems that we need to adapt to TF2.x single-client PS strategy in related project.

[2021-02-23 03:12] thaink commented on #47120
@terryheo @henry8th The //tensorflow/lite/delegates/flex:delegate rule is not intended to build standalone .so file for flex delegate.
Can you try adding following line to //tensorflow/lite/delegates/flex/BUILD:
[code]
The build it with --nocheck_visibility and try it.

[2021-02-23 03:13] mortalx2 commented on #47119
kk let me try

[2021-02-23 03:49] yuefengz commented on #46169
With V1 PSStrategy, we indeed had some hacks to split the training and evaluation cluster. It makes sense for V2 ParameterServerStrategy to strip the evaluator. But one concern I have is the likelihood of unifying the interfaces of ParameterServerStrategy and TPUStrategy in the future. In that case, we will probably require users to call `tf.config.experimental_connect_to_cluster` before creating

[2021-02-23 03:51] yixinshi commented on #34213
@ashraf-bhuiyan seems TF 2.4 MKL build still has the issue. I can reproduce using https://www.tensorflow.org/tutorials/distribute/multi_worker_with_keras
As a quick workaround, how can I disable scope allocator optimization from multi-worker distribution strategy? Any macro I can set? Or any patch I can apply to re-compile TF 2.4. Thank you!

 File "/opt/conda/lib/python3.7/site-packages/tensorflo

[2021-02-23 03:57] kavyaprasad22 opened #47334 "ERROR: Didn't find op for builtin opcode 'ADD' version '1'"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10, with MCU Expresso
- TensorFlow installed from (source or binary): source
- Tensorflow version (commit SHA if source): 2.3.1
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33, etc.): IMX RT 1060

**Describe the problem**
The application as per [this code](https://github.com/kavya

[2021-02-23 04:27] #47305 closed

[2021-02-23 04:31] rmothukuru commented on #47133
@05hazza06,
Can you please respond to the above comment? Thanks!

[2021-02-23 04:54] zuston commented on #46169
Got it. Thank you for your patience~

[2021-02-23 04:56] TriptonPt opened #47335 "Slower on a Nvidia 1080TI GPU than on CPU"
**System information**
- Linux Ubuntu 18.04
- TensorFlow installed from binary
- TensorFlow version 2.4.1
- Python version : 3.8
- CUDA V 11.0/cuDNN version 8:
- GPU model: Nvidia 1080TI 11gb RAM

Running same script is 2x slower on GPU than CPU

Steps to reproduce the problem :

obj = DeepFace.analyze(img_path = "target.jpg", actions = ['age', 'gender', 'race'])

This framework uses several model

[2021-02-23 05:18] abattery commented on #47334
Could you share which ops are being included in your model? At least, could you share at least the operation name of the problematic operation node?

[2021-02-23 06:10] BichengWang commented on #32967
`pip install tf-nightly-gpu` work for me

[2021-02-23 06:48] Thunder003 commented on #44574
hi @smitheric95, just checking, have you tested any code with your build from source TensorFlow? Is it working fine?

[2021-02-23 07:00] arwinder24 opened #47336 "How to extend self attention in transformer with local attention"
Hello everyone.. I'm trying (Vaswani et al, 2017) for machine translation task. Some of the recent findings ("https://www.aclweb.org/anthology/P19-1295/" and "https://www.aclweb.org/anthology/D19-5622/" ) show that number of heads can extract redundant features as original work by Vaswani et al, 2017 used global attention. These papers suggested to use local attention along with global attention.

[2021-02-23 07:08] yjiangling commented on #40727
Yes，the CTC Loss in tensorflow 2.X the indices 0 is set to be blank as default，but the decode function greedy_decode and beam_search_decode is still set num_classes-1 as blank and have no option to set it.

[2021-02-23 07:24] ericxsun commented on #46726
Any Tensorflower could be available checking?

[2021-02-23 07:56] foxik commented on #40727
I think there really needs to be a bug in the decoder. If you run the original Colab with beam size `K=3`, the `[0, 1, 0]` is returned with logprob `-1.352256`, which is larger than the logprob of `[0]` at timestep `t=3`; and the `[0, 1, 0]` cannot use the additional element `[1]` in the beam at timestep `t=2`.

Would it be possible to update the labels to include `bug` and also include `TF-2.4`?

[2021-02-23 08:02] amahendrakar commented on #47316
Was able to reproduce the issue with TF v2.4 and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/31f6ff9f7152b2cd2ea8321d9e736a30/47316.ipynb#scrollTo=MMP-3L1yxwgF).

However, I did not face any errors while running the code with [TF v2.3.2](https://colab.research.google.com/gist/amahendrakar/897a5c4b12bdea9fd44233a0792c748f/47316-2-3.ipynb). Please check the linked gist for refer

[2021-02-23 08:03] charmasaur opened #47337 "SparseTensorDenseMatMul adjoint_a takes transpose, not adjoint"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.15.5
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.4.

[2021-02-23 08:10] ThWuensche commented on #46373
Thanks for reopening! Is there anything I can do to help analyze and fix the issue? The YOLO package used is easy to install, but needs an extra step to prepare the dataset. Should I prepare a tarball of the dataset?

[2021-02-23 08:52] #46924 closed

[2021-02-23 08:55] andy6804tw commented on #47281
@ymodak Thanks for your reply. I know it will alphabetical order by default. Is there any way to specify the order?

[2021-02-23 09:05] ManojKumarTiwari opened #47339 "ModelCheckPoint callback creates ".png" file instead of ".h5" file"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-02-23 09:10] #47339 closed

[2021-02-23 09:18] HarborZeng commented on #47301
@Saduf2019 Hey here is a colab example: <https://colab.research.google.com/drive/1wW7p79YsSJDy9fvED7OnJ6mk37zlvFW8?usp=sharing>

[2021-02-23 09:36] ogrisel opened #47340 "Calling model.test_on_batch after model.evaluate returns corrupted values for the loss and the metrics"
**System information**
- Google colab with tf 2.4.1 (v2.4.1-0-g85c8b2a817f )
- with CPU or GPU runtimes, it does not matter

**Describe the current behavior**

Calling `model.test_on_batch` after calling `model.evaluate` gives incorrect results.

**Describe the expected behavior**

Calling `model.test_on_batch` should  return the a value that does not depend on whether`model.evaluate`  was called

[2021-02-23 09:49] ogrisel commented on #47340
The problem also happens if the `batch_size` argument of evaluate equal or greater than `X.shape[0]`.

[2021-02-23 09:50] ay27 commented on #31932
Hi @peastman , I also encountered the same problem when building my c++ project. I found that when I import tensorflow before my lib, everything works normally. Maybe you can try it.

See like this:

[code]

[2021-02-23 09:51] Saduf2019 commented on #47340
@ogrisel
I ran your code on tf nightly and there is not much of a difference can you please refer to[ this link ](https://colab.research.google.com/gist/Saduf2019/09d1df811c8d2fc688079f63fd18bcf8/untitled548.ipynb)and let us know.

[2021-02-23 09:54] ogrisel commented on #47340
The difference is random because I did not seed the model parameters. But the bug is still there in nightly. For instance I re-ran your notebook and got:

[code]

[2021-02-23 09:59] Saduf2019 commented on #47301
I am able to replicate the issue reported on tf 2.4 and nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/a25ebe2bc7f8b06644bce4a7e97799d4/untitled548.ipynb).
Thanks!

[2021-02-23 10:00] kiflowb777 commented on #47309
Ok, I will try to prepare a simple code.
For now, I have found where the error is occurring:
[code]
And after fit and save model:
[code]

Any ideas why index 'Tidx' in function  tf.reduce_mean/tf_op_layer_Mean has values of type float instead of int?

[2021-02-23 10:21] Saduf2019 commented on #47324
@ anoldmaninthesea

I ran the code shared but face a different error, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/a29602b436740e214e5416bac43023d6/untitled549.ipynb).
You may also refer to similar issues: #33204, [link](https://github.com/tensorflow/tensorflow/issues/21485), [link1](https://stackoverflow.com/questions/44144584/typeerror-cant-pickle-thread-lock-obje

[2021-02-23 10:26] Saduf2019 commented on #47222
@sebgra
I ran the code shared and face a different error, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/b880db2093b941f34036930007bcf804/untitled549.ipynb).
Please refer to above comment and let us know.

[2021-02-23 10:38] itmo153277 commented on #46118
@redradist
I had the same issue. I wasted a few days trying to figure out why it was happening, and still couldn't find the cause. It would fail with `Bad address` during bazel build, but when I tried running the command manually it always finished successfully. Setting `MSYS2_ARG_CONV_EXCL` had no effect even when I passed it as `action_env` to bazel.

The workaround is to use a single directory

[2021-02-23 10:39] sebgra commented on #47222
@Saduf2019 That is because you're trying to read a .py file, which is a script and not the data.
Try to replace  :

`df = pd.read_pickle('/content/cardiology_challenge_2017.py') `

By :

`df = pd.read_pickle('/content/drive/MyDrive/Cardiology/Data_Set/Cardiology_Dataset')`

Which should correspond to the path of the data available at :

[https://drive.google.com/file/d/1V9nNxMehtiwAjNVS-8usTP6Jol9

[2021-02-23 10:41] pandrey-fr commented on #45781
As a TensorFlow user, I concur with @jamlong as to the fact that the identified behavior is indeed an issue. I encounter it both with TF 2.3 and TF 2.4 (using Python 3.6 and 3.8 on various Linux-based systems).

I have implemented a custom Model (let's call it `CustomModel`) subclass to override some Functional behaviors (namely, to implement gradient accumulation and hack loss/metrics containers

[2021-02-23 10:47] motionlife commented on #46194
Tensorflow 2.4.1 exact same problem

[2021-02-23 11:29] kiflowb777 commented on #47309
I noticed that **Tidx** corresponds to the **axis** parameter in
```tf.math.reduce_mean(input_tensor, axis=None, keepdims=False, name=None)```

When axis is None, its value is determined by the rank of the tensor, but in MaskRCNN, the rank of all tensors corresponding to losses is zero:

[code]

[2021-02-23 11:37] kiflowb777 commented on #47309
But if I manually set the axis to zero then I get:
[code]

Traceback :
[code]

[2021-02-23 12:15] kiflowb777 commented on #47309
Maybe the problem is that MaskRCNN loss layer is a Lambda type:
[code]

[2021-02-23 12:58] thijstriemstra commented on #47050
thanks @abattery, that's awesome! I tried to digest your code fixes but it looks like black magic to me. I will give it a try and let you know.

[2021-02-23 13:07] amahendrakar commented on #47322
@Zumbalamambo,
TensorFlow Hub issues are tracked in tensorflow/hub repo. Could you please submit a new issue from [this link](https://github.com/tensorflow/hub/issues/new) and fill in the template, so that we can track the issue there. Thanks!

[2021-02-23 13:18] amahendrakar commented on #47325
Was able to reproduce the issue with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/c035c29422e11b84b99577232d3c160a/47325-2-3.ipynb) and [TF v2.4](https://colab.research.google.com/gist/amahendrakar/d6c26cc365d808a42006dfaab1f7a673/47325.ipynb). Whereas with [TF-nightly](https://colab.research.google.com/gist/amahendrakar/345b439ec9d5c7971140885ac9e163ba/47325-tf-nightly.ipynb), Co

[2021-02-23 13:36] Arman-IMRSV commented on #47326
@abattery
I do not believe if it is possible to apply that solution here, as I am loading a pretrained model. Do you have any idea how I can apply that to this?

[2021-02-23 13:44] Strateus commented on #40085
@jvishnuvardhan your interpretation of masking seems to be different from the official one: _Masking is a way to tell sequence-processing layers that certain timesteps in an input are missing, and thus should be **skipped** when processing the data._

check here: https://www.tensorflow.org/guide/keras/masking_and_padding

Skipping means you **return input value all the time**, not matter what proc

[2021-02-23 14:00] emadboctorx opened #47342 "How to convert a TF1 model with custom_getter to TF2"
I need to do this very same calculation in TF2 which ends up by calculating `v1` and `v2` which are softmax output and the same softmax output but calculated using a
`tf.train.ExponentialMovingAverage` `average()` method. The original example can be found [here](https://github.com/openai/baselines/blob/master/baselines/acer/acer.py) at line 88 but I simplified the code in the example here for read

[2021-02-23 14:19] smitheric95 commented on #44574
Hey @Thunder003, yes, I have tested TensorFlow code with this setup and am able to successfully train models just fine!

As far as StyleGAN goes, you might want to test some other simpler models first to rule out environment issues.

[2021-02-23 14:21] luvwinnie commented on #47292
It seems like i need to do this by disable the eager mode and save with tensorflow V1 savedModel Format.... I think this should be fixed for any model that need to compute the gradient during inference time.
https://colab.research.google.com/drive/1HXAhebh9liIhWjgO3UAqnj_m1CTYOf9W?authuser=1#scrollTo=Osob4efBAPuF

[2021-02-23 14:23] mcschmitz opened #47344 "In-batch-negatives and distributed traning"
I'm training a model using triplet loss. This means that my loss function aims to minimize the distance to a positive observation (let's say a sentence with the same semantic meaning) and maximize the distance to the negative observation.
Im using [TripletHardLoss](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/losses/triplet.py#L348) from tensorflow-addons to do so. TripletHar

[2021-02-23 14:51] amahendrakar commented on #47329
Was able to run the code without any issues with [TF v2.0](https://colab.research.google.com/gist/amahendrakar/6ddd992c27768a534e5826cf4cf4f910/47329-2-0.ipynb) and TF v2.1.

Whereas with [TF v2.2](https://colab.research.google.com/gist/amahendrakar/fd545805499bcedb3a419e936951e206/47329.ipynb#scrollTo=pBdW4kdaERMT) and above, I'm facing an error stating `ImportError: cannot import name 'keras_mod

[2021-02-23 15:07] yair-ehrenwald commented on #46390
@peter197321 @StuartIanNaylor

Hi, sorry for reopening this so late, been out of the office for a while.

I've successfully used and deployed models using Keras.GRUCell with TFLM.
Using Keras.GRU directly results in the TFLite convertor creating a WHILE op so is problematic, but GRUCell works just fine and is implemented with fully connected layers.
You will probably need to do some rewriting to y

[2021-02-23 15:13] st-- commented on #47264
@amahendrakar ah, awesome - thanks for the quick response. I did upgrade to 2.4.1 to check it was still an issue but hadn't though of also checking nightly ... do you happen to know which PR/commit fixed this in the end? Would be curious to see how it actually got fixed in TF-core.

[2021-02-23 15:17] thijstriemstra commented on #47050
I tested just now with this script as you suggested:

[code]

and these versions:

[code]

But getting this traceback:

[code]

Full log attached: [log.txt](https://github.com/tensorflow/tensorflow/files/6029795/log.txt)

[2021-02-23 15:22] #47322 closed

[2021-02-23 15:39] shuki-k commented on #47246
when will that be the new snapdragon 888 be supported by TFlite ? is it in the roadmap

[2021-02-23 15:41] shuki-k opened #47345 "support of TFlite of Snapdragon888 dsp"
Hi @shuki-k
Sadly this is not possible.
These new chips uses a newer version of HVX that is different than what Hexagon delegate supports.

_Originally posted by @karimnosseir in https://github.com/tensorflow/tensorflow/issues/47246#issuecomment-783807697_

[2021-02-23 15:43] shuki-k commented on #47345
when will Snapdragon 888 DSP be supported with TFlite? is it in the roadmap ?

[2021-02-23 15:44] karimnosseir commented on #47246
Hi @shuki-k,
Sadly no plans, as this is not totally in our hands.
The new hardware is completely new and Qualcomm is not planning to update the API which is used by the Hexagon Delegate.
We are checking with Qualcomm for other options for this new hardware.

Thanks

[2021-02-23 15:45] alenik01 opened #47346 "Proposal to use newer oneDNN version in the core"
**System information**
- TensorFlow version (you are using): v2.4.1/r2.4
- Are you willing to contribute it: It depends on TF Community plans

**Describe the feature and the current behavior/state.**
At the moment TensorFlow employs [oneDNN v1.6.4](https://github.com/tensorflow/tensorflow/blob/r2.4/tensorflow/workspace.bzl#L172-L181) for core computationally intensive routines. Meanwhile oneDNN is

[2021-02-23 15:46] alenik01 commented on #47346
This question may be relevant for @agramesh1

[2021-02-23 15:47] #46539 closed

[2021-02-23 16:00] #47267 closed

[2021-02-23 16:00] #47345 closed

[2021-02-23 16:19] asirico commented on #47312
UPDATE:

[code]

[2021-02-23 16:47] isaacgerg opened #47347 "Custom objects in tf.keras have conflicting interface"
Custom tf.keras layers (tf.2.4.)  use `call` for invocation.  However, custom constraints use `__call__`.  This seems confusing.  Furthermore, if you implement a constraint using `call` instead of `__ call __` no warning or error given. I wonder if its reasonable to expect a Not Implemented error to occur in this case of `__call__` missing.

Ref:
1. Custom layer documentation: https://keras.io/gui

[2021-02-23 16:52] #47023 closed

[2021-02-23 16:59] gastan81 opened #47348 "Download from https://mirror.bazel.build/github.com/aws/aws-sdk-cpp/archive/1.7.336.tar.gz failed"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: no
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: windows 10
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
    happens on a mobile device**:
-   **TensorFlow installed from (source or binary)**: source
-   **TensorFlow ver

[2021-02-23 17:17] #46676 closed

[2021-02-23 17:25] jdduke commented on #47217
Hi @peter197321, can you say a little more about what platform/OS you're using for deployment? And what the size/type of your model is? Thanks.

[2021-02-23 17:52] LeKristapino commented on #43947
To anyone still struggling with this - symlink should be placed in a folder which is included in `LD_LIBRARY_PATH` - doesn't really matter which one you put it in. source is probably `/usr/local/cuda-11.1/lib64/libcusolver.so.11`.

so it should work for everyone as long as it is `ln -s /usr/local/cuda-11.1/lib64/libcusolver.so.11 [some path included in LD_LIBRARY_PATH]/libcusolver.so.10`. safest w

[2021-02-23 18:05] ravikyram commented on #47335
@TriptonPt

Can you please share standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2021-02-23 18:07] jmm5491 commented on #46987
I tried to reproduce this on Colab using the complete 4Gb dataset, but rather than seeing the symptom described in my original post, the python process hung.  Because of this and the fact that other users don't seem to have this problem, I'm going to assume the problem is in the code I'm using.  This issue can be closed now.  Thanks.

[2021-02-23 18:07] #46987 closed

[2021-02-23 18:15] amahendrakar commented on #47337
Was able to reproduce the issue with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/c29e066dc7630aff085c8e484bc0020c/47337.ipynb). Thanks!

[2021-02-23 18:40] shaowei-su commented on #47197
For our particular case, PS CPU usage is low and the bottleneck is on coordinator throughput.

[2021-02-23 18:43] amogh7joshi commented on #47347
You might want to update your links, you've provided two of the same links (directing to the constraint documentation) rather than two separate ones.

The link to the custom layer documentation: https://keras.io/guides/making_new_layers_and_models_via_subclassing/

[2021-02-23 18:51] isaacgerg commented on #47347
Thanks for the pointing out my error.  I have fixed this.

It seems to me that throwing Not Implemented would be the most appropirate.  I can't imagine a usecase where someone would make a constraint and want the parent class behavior of simply passing the vector through.

[2021-02-23 18:56] ravikyram commented on #47347
@isaacgerg

Please, close this thread if your issue was resolved.Thanks!

[2021-02-23 19:04] peter197321 commented on #47217
Hello Jared,

My platform/OS is Linux.
I'd deploy the models for audio recognition, and to have the sound
classification models.

Thank you.

On Tue, Feb 23, 2021 at 6:25 PM Jared Duke <notifications@github.com> wrote:

[2021-02-23 19:20] isaacgerg commented on #47347
@ravikyram The issue has not been resolved.

[2021-02-23 19:31] kavyaprasad22 commented on #47334
@abattery My opcode for 'ADD' seems to be causing the issue. All my layers for the model are defined in dpd_format.py in this [link](https://github.com/kavyaprasad22/MNV3). Please let me know if any additional information is needed.

[2021-02-23 19:36] sergiomora03 commented on #44485
Hi, any updates yet? Has it been released?

[2021-02-23 20:13] AbeG13 opened #47352 "When will tensorflow be compatible with CUDA 11.2?"
- TensorFlow version: 2.5 (nightly)
- GPU: RTX 3070
- CUDA version: 11.2
- cuDNN version: 8

Right now, tensorflow is unable to recognize my GPU, so I'm not able to take advantage of the hardware. I read that others have been having the same issue with the newer RTX cards and it's due to tensorflow not supporting the latest CUDA versions. Please make this update, so we can leverage these newer car

[2021-02-23 20:18] nikitamaia commented on #46624
Consider changing the model's last layer to have a softmax activation (instead of selu) since this is a classification problem.
`model.add(keras.layers.Dense(num_classes, activation='selu'))`

[2021-02-23 20:26] StuartIanNaylor commented on #46390
I never really got to specifics would the examples @

https://github.com/google-research/google-research/blob/master/kws_streaming/experiments/kws_experiments_paper_12_labels.md#crnn
https://github.com/google-research/google-research/blob/master/kws_streaming/experiments/kws_experiments_paper_12_labels.md#crnn_state

Make a good base as relatively low ops and have non=stream & stream examples.

[2021-02-23 20:38] bhack commented on #44485
Waiting for https://github.com/tensorflow/tensorflow/pull/44282

[2021-02-23 21:03] AlbusNoir commented on #44485
(just a follow comment to get notified when updates happen)

[2021-02-23 21:10] geometrikal commented on #34256
@mttsndrs Could you share what you did with the manifest resource transformer? I'm having a similar problem.

[2021-02-23 21:23] ssiano opened #47353 "TensorFlow 2.4 Contains References to nocopts, which is No Longer Compatible with Bazel"
In e5f8043742f927ed0e1711bb48f3e1a153b7a997 and ddde447e792231cdf83b435b0eeb59dd59bf4044, among other commits, support for `nocopts` was removed to enable the upgrade of Bazel to 1.0 and above.

However, there are still a few references to `nocopts` in the r2.4 branch:
[code]

These should probably be removed for consistency and to avoid confusion.

[2021-02-23 21:29] bas-aarts commented on #46419
@cheshire , can you please let me know if the diff above is the one you expected to work? Thanks

[2021-02-23 21:50] wangpengmit commented on #46274
This may be a NumPy version issue. @FlorinAndrei can you tell me the NumPy version when you ran into the bad image?

[2021-02-23 21:54] cheshire commented on #46419
@bas-aarts yes. To clarify: I do not know whether it solves your problem or not. It solved one problem for me, I'm not sure whether you have the same one.

[2021-02-23 21:57] mttsndrs commented on #34256
@geometrikal I added this to the pom.xml:
[code]

[2021-02-23 22:07] tarangmehta1195 opened #47354 "ImportError traceback in VScode"
ImportError                               Traceback (most recent call last)
~\AppData\Roaming\Python\Python39\site-packages\tensorflow\python\pywrap_tensorflow.py in swig_import_helper()
     17         try:
---> 18             fp, pathname, description = imp.find_module('_pywrap_tensorflow', [dirname(__file__)])
     19         except ImportError:

C:\Program Files\Python39\lib\imp.py in find_mod

[2021-02-23 22:17] Titaniumtown commented on #47263
I am able to reproduce this issue and It's a pain. I can't downgrade numpy without breaking other things that depend on numpy :( I hope this gets fixed soon!

[2021-02-23 22:18] nicolas-gervais commented on #39237
# SOLUTION
The default arguments work on 4D images. If you want it to word in 3D images, use the argument `channel_axis=2`

[2021-02-23 22:19] ymodak commented on #44779
Closing this issue since the associated PR has been merged. Thanks!

[2021-02-23 22:19] #44779 closed

[2021-02-23 22:21] nikitamaia commented on #39456
Hi @drasmuss, disabling eager execution is generally not encouraged. Is there a specific reason for your use case that you need `tf.compat.v1.disable_eager_execution()`?

[2021-02-23 22:24] ymodak commented on #45239
This is now fixed with TF 2.4.1 api docs. Thanks!
https://www.tensorflow.org/api_docs/python/tf/image/extract_patches#args

[2021-02-23 22:24] #45239 closed

[2021-02-23 22:24] tarangmehta1195 commented on #47354
currently i have this version:
Requirement already satisfied: tensorflow in c:\users\tarang mehta\appdata\roaming\python\python39\site-packages (0.12.0)
Requirement already satisfied: numpy>=1.11.0 in c:\users\tarang mehta\appdata\roaming\python\python39\site-packages (from tensorflow) (1.20.1)
Requirement already satisfied: six>=1.10.0 in c:\users\tarang mehta\appdata\roaming\python\python39\site

[2021-02-23 22:43] abattery commented on #47334
Is it possible to share your model to us? The reproducible steps to create a model also would be helpful.

[2021-02-23 22:50] drasmuss commented on #39456
It is for performance reasons, disable_eager_execution results in faster performance. See discussion and reproducible example here https://github.com/tensorflow/tensorflow/issues/44563#issuecomment-722635251

[2021-02-23 22:54] ymodak commented on #39788
This is fixed with TF 2.2 api docs and above. Thanks!
https://www.tensorflow.org/versions/r2.2/api_docs/python/tf/keras/optimizers/RMSprop

[2021-02-23 22:54] #39788 closed

[2021-02-23 23:12] yuefengz commented on #47197
Could you try packing more steps into a single function?

[2021-02-23 23:12] yuefengz commented on #47197
If you have a profiling with python call stacks enabled, that would be wonderful.

[2021-02-23 23:18] jvishnuvardhan commented on #47329
@rrklearn2020 `keras_modules_injection`  is just a `Decorator injecting tf.keras replacements for Keras modules.`. I think `keras_modules_injection` is not required for more recent versions starting from `v2.2`.

Please check https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/applications/__init__.py from `master` branch and compare it with `2.0` branch https://github.com

[2021-02-24 00:01] nikitamaia commented on #47265
I just ran the code on a GCP deep learning VM with tf nightly and tf 2.4. I am also seeing NAN for all iterations except iteration 0.

I'm not seeing an NANs using a CPU only environment in GCP. So seems to me this is a GPU related issue.

[2021-02-24 00:15] nikitamaia commented on #46744
just a thought, but I wonder if the problem is that `train_step` function does not return the loss. See example of 1train_step1 in the tutorial [here](https://www.tensorflow.org/tutorials/distribute/custom_training#training_loop).

[2021-02-24 00:18] BryanBo-Cao commented on #38578
I don't know why but this solved my problem! Thanks! @ioannist @MuhammadHakami

[2021-02-24 00:38] jvishnuvardhan commented on #47323
@Hakim777 This is more related to TF probability. There is a separate repository for probability [here](https://github.com/tensorflow/probability/issues).

Please post this issue in that repo and close here. Experts in that repo will resolve your issue. Thanks!

[2021-02-24 00:47] #47147 closed

[2021-02-24 00:55] jvishnuvardhan commented on #47336
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2021-02-24 01:01] charmasaur commented on #47337
I'm attempting to fix this in https://github.com/tensorflow/tensorflow/pull/47355, although I haven't actually been able to test it since my laptop is weak <_<

[2021-02-24 01:07] PatonLewis commented on #46617
When I run `grep -i avx /proc/cpuinfo` on the machine I get nothing, so I would guess not. If you want to double-check my answer, I listed the CPU model in the system information of the bug report.

[2021-02-24 01:16] rederxz commented on #38762
Same issue.

[2021-02-24 01:26] zccyman commented on #37501
https://stackoverflow.com/questions/57144586/tensorflow-gradienttape-gradients-does-not-exist-for-variables-intermittently
[code]

[2021-02-24 01:43] rafikg commented on #47265
Thanks @nikitamaia,
Yes, I tried even with Tesla 4 and K8 and it is still the same problem!! I can't really see the problem.

[2021-02-24 01:47] farazk86 opened #47357 "tflite interpreter on android crashes on a model downloaded from tfhub"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Android
- TensorFlow installed from (source or binary): maven build
- TensorFlow version (or github SHA if from source): ``org.tensorflow:tensorflow-lite:2.4.0``

**Provide the text output from tflite_convert**

[code]

I am trying the simple style-transfer application using tflite. I am downloading the ``style-predi

[2021-02-24 01:56] motionlife commented on #45157
Can't believe they close this problem, this is atrocious

[2021-02-24 02:01] #46323 closed

[2021-02-24 02:15] FlorinAndrei commented on #46274
The issue still occurs with the versions currently installed. I just checked moments ago. The versions are:

[code]

I don't know if this will help, but I've captured the console output from Jupyter while running the failed code. Here is the output:

https://gist.github.com/FlorinAndrei/ef90e68bcb75d2d3cd64b12acb14667b

[2021-02-24 02:50] agarwal-ashish commented on #46274
Given that this is hard to reproduce, it might help to figure out if this is a matplotlib related issue or an issue with the TF kernel. @FlorinAndrei can you print the values in labels1 and inspect the distribution to see if this is producing a reasonable set of 1000 float values. The histogram seems to show a handful of values with a count of 1 which looks broken. Also check if the dtype looks co

[2021-02-24 03:09] leeivan1007 opened #47358 "The comparing with memory by 1080 ti and 3090"
- Unet by tensorflow.keras (not include tf.compat.v1 code)
- Both of these are ubuntu18
- 2.4.0 (A computer) 2.0.0 (B computer)
- Both of these are python 3.6.12
- 11.1/8.0.5 (A computer) 10.0/7.6.5 (B computer)
- 3090 24265MiB (A computer) 1080 ti 11178MiB (B computer)
- Driver version 460.39

### current behavior

I ran the code using Unet to do segmentation project.
I found the using of memory

[2021-02-24 03:32] dz1135508698 commented on #47347
Hello! Which version of keras does tensorflow-2.4.0 correspond to?

[2021-02-24 03:48] amogh7joshi commented on #47347
You can see Keras v2.4.0; at the current stage Keras is simply being developed as part of TensorFlow so there's no exact version which it corresponds to.

[2021-02-24 04:11] isaacgerg commented on #47347
@dz1135508698  This affects tf.keras 2.4.  I have updated the issue so that it is more specific.

[2021-02-24 04:11] jpmrs1313 opened #47359 "Im trying to list my gpus, but only show gpu0 and do not show gpu1 that is my nvidia"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2021-02-24 04:22] krenerd commented on #46849
Isn't label_smoothing related with the data itself, not the loss?
Comparing `ce(smoothed labels, pred)` instead of `(0/1 labels, pred)`. This is related with the label data you feed in, instead of the loss function.

[2021-02-24 05:22] #45028 closed

[2021-02-24 05:25] yparam98 commented on #38836
@Ramkumar47 Any luck? Getting the exact same issue with this:

[code]

[code]

[2021-02-24 05:32] yparam98 opened #47360 "Having issue with NotImplemented Tensor to NumPy"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
Arch Linux
Tensorflow version 2.4.1
Python version 3.9.1

I am doing the [TensorFlow tutorial](https://www.tenso

[2021-02-24 05:52] #47049 closed

[2021-02-24 05:52] #47053 closed

[2021-02-24 06:13] WindQAQ opened #47361 "Support tf.IsFinite lowering"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library (version, if pip package or github SHA, if built from source): nightly

### 2. Code

[code]

### 3. Failure after conversion

It will fail if flex is not enabled. However, `tf.is_inf()` is supported without flex because i

[2021-02-24 06:30] LucasSloan opened #47362 "Ampere bfloat16 support"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.4.1/built from head
- Are you willing to contribute it (

[2021-02-24 06:33] OnlyBelter commented on #5527
Met same problem, any solution?

[2021-02-24 06:53] DabiaoMa opened #47363 "Any suggestion to use tensorflow feasibly?"
I am currently doing a research while it is based on a project written with Tensorflow. While I could not implement the dynamic time wrapping easily since it is a dynamic method. With pytorch I could implement it very quickly (since pytorch supports dynamic graph).

Could anyone help me choose the correct version and documents of Tensorflow that supports dynamic graph? I checked on Tensorflow offi

[2021-02-24 07:07] amahendrakar commented on #47140
@EmadElDinH,
This repository is only for tracking TensorFlow bugs and feature requests.

For help with the `pandas_datareader`module, please raise an issue in the [pydata/pandas-datareader](https://github.com/pydata/pandas-datareader/issues) repo.

Thanks!

[2021-02-24 07:08] uranusx86 opened #47364 "ssd mobilenet model size is not correct using tflite converter python api"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow installation (pip package or built from source): pip package
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.4.1

### 2. Code

My script [SSD mobilenet convert to TF lite colab script](https://colab.research.google.com/drive/1qaGW7ViN0fW2z4bqRKL4sd8X-HIq5Vm

[2021-02-24 07:12] vqbang96 commented on #42482
I am having problem installing TensorFlow with anaconda3. Trying to create an environment and `pip3 install tensorflow==2.1.0` but still get and error missing package

ERROR: Could not find a version that satisfies the requirement tensorflow==2.1.0
ERROR: No matching distribution found for tensorflow==2.1.0

[2021-02-24 07:40] pakshal-25 commented on #32333
Dataset: 6000
Descriptions: train=6000
Photos: train=6000
Vocabulary Size: 7579
Description Length: 34
Model: "model_6"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
inpu

[2021-02-24 07:57] #47336 closed

[2021-02-24 08:21] shandilya1998 commented on #44834
Hey! I am working on complex valued neural networks that require complex valued backpropagation. Is there any chance this will be released anytime soon?

[2021-02-24 08:32] ravikyram commented on #47358
@leeivan1007

Please, share the simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2021-02-24 08:36] ghylander commented on #47360
seems to be a compatibility issue between numpy 1.20+ and tf, #47263

[2021-02-24 08:37] ghylander commented on #47311
@Ellislee1 try creating a virtual env (or cloning the one you use if you do so) and downgrade numpy to v1.19.3

seems to be a compatibility issue between numpy 1.20+ and tf #47263

[2021-02-24 08:53] LeonYang11 commented on #27303
can you give more details? I need stft and istft for Android deployment

[2021-02-24 08:54] arpans2112 opened #47365 "Getting ERROR: Could not find a version that satisfies the requirement tensorflow==2.4.1"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- MacBook pro
- processor: 2GH

[2021-02-24 09:17] kiflowb777 commented on #47309
I noticed that if we disable 'v2 behavior' with ```tf.compat.v1.disable_v2_behavior()``` the layer created with ```tf.math.reduce_mean``` in the ```model.summary()``` is named:
[code]

but if we enable 'v2 behaviour' the layer is named:
[code]

[2021-02-24 09:43] leeivan1007 commented on #47358
Sorry. I have to discuss with my boss if I share the code. The Unet had changed to some projects...
But I can test with official code:

### Classification on mnist / tf2.4 / 3090

[code]
These are utilize of memory:
1. 6.5G -> 8.33G (memory)
2. 549Mib -> 1218MiB (GPU memory)

### Classification on mnist / tf2.0 / 1080

[code]

[2021-02-24 09:47] asterisk37n opened #47366 "metrics values don't match between custom metric function and model.fit callbacks"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Google Colab default installed
- TensorFlow version (use com

[2021-02-24 09:47] g2721 commented on #32333
Could you describe more closely what you did, when the error occurred and what you try to achieve?

[2021-02-24 10:04] punitha-valli commented on #23692
File "C:\Users\Labpc\AppData\Local\Temp\pip-install-4a4ut353\nvidia-pyindex\setup.py", line 216, in <module>
        "supported.".format(sys.platform))
    OSError: Your operating system is not supported by `nvidia-pyindex`: win32.
    Only Linux systems are supported.
An i downloaded the windows version ,

Even though i cant installl the Tensor Rt in windows i got this error

can any one clear it

[2021-02-24 10:12] Khan-123-tar commented on #35208
I am facing this error when importing tensorflow (TypeError: expected bytes, Descriptor found ) and secondly when from keras.models import Sequential it render this error (Using TensorFlow backend.)

[2021-02-24 10:33] Saduf2019 commented on #47365
@arpans2112

Could you please update pip using the below commands and check if you are still facing the same issue?

pip install --upgrade pip
pip install tensorflow
Please ensure your tensorflow version is compatible with the python version used, TF 2.4 supports python from 3.6-3.8 . Please, refer the [document](https://www.tensorflow.org/install/source#cpu),Also, could you check if you are using

[2021-02-24 10:37] shengy90 opened #47368 "Tensorflow is ignoring `tf.config.set_soft_device_placement(True)`"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-02-24 10:48] Saduf2019 commented on #47354
@tarangmehta1195

Could you please check if you are using 64-bit Python on your machine. TensorFlow is tested and supported on the following 64-bit systems. For more information, please check [this document](https://www.tensorflow.org/install#install-tensorflow-2).

Can you please refer to these links and let us know if it helps: [link](https://stackoverflow.com/questions/42011070/on-windows-runni

[2021-02-24 10:52] #46936 closed

[2021-02-24 10:54] amahendrakar commented on #47342
@emadboctorx,
Please go through [this guide](https://www.tensorflow.org/guide/migrate) to migrate your code from TF 1.x to TF 2.x.

Also, this question is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow) since it is not a TensorFlow bug or feature request. There is also a larger community that reads questions there. Thanks!

[2021-02-24 10:58] GGDRriedel commented on #11157
What happened to this issue?
I am running into it as well with this code
[code]

model.save('filename.h5') now throws the error

Thing is I need that
```    model.add(tf.keras.layers.Lambda(lambda x: tf.expand_dims(model.output, axis=-1)))```

For the LSTM to work.

The workarounds of declaring statics does not work for me since I need that model.output to be evaluated dynamically

[2021-02-24 11:00] PiotrZierhoffer commented on #46937
The reason is in `_zero_initialize_bss_data` (tensorflow/lite/micro/tools/make/downloads/stm32_bare_lib/source/startup.c). It initializes the BSS data with DEADBEEF.

To verify that:

Build with debug info
[code]

Run in Renode:
[code]

Start GDB:
[code]

In GDB:
[code]

It will break in the code that actually writes this data.

Now why do they go to bss instead of data? I don't know.

Here's an e

[2021-02-24 11:17] Saduf2019 commented on #47359
@jpmrs1313
Can you please provide with more details, how many gpus do you have, what is the purpose[ what function are you calling],  are you planning to use  a stratergy?

[2021-02-24 11:24] #47342 closed

[2021-02-24 11:30] mdinoulis commented on #46936
This appears to work on my OSX environment but not on Windows

[2021-02-24 11:31] vineethdas commented on #36465
I have a similar issue when running the inference model with Celery worker, the allocated GPU remains there in the memory even after program has completed successfully.

[2021-02-24 11:33] Saduf2019 commented on #47348
@gastan81
Please refer to [this comment](https://github.com/tensorflow/tensorflow/issues/37802#issuecomment-603347330) on same issue and let us know if it helps.

[2021-02-24 11:39] Saduf2019 commented on #47321
i am able to replicate the issue reported on tf 2.4 and nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/821b3a7d1b9bfe7978d4f48410592fbf/untitled.ipynb).

[2021-02-24 11:52] #44516 closed

[2021-02-24 11:53] WesleyKhoiVo commented on #14607
microsoft/vcpkg#14394

[2021-02-24 12:05] ZeroOut commented on #47242
Me too, after the last update.

[2021-02-24 12:08] WesleyKhoiVo commented on #14607
https://github.com/microsoft/vcpkg/pull/14394

[2021-02-24 12:08] amahendrakar commented on #47352
@AbeG13,
Support for CUDA 11.2 has already been requested in issue [#46093](https://github.com/tensorflow/tensorflow/issues/46093).

Can we please close this issue since it is being tracked there? Thanks!

[2021-02-24 12:08] WesleyKhoiVo commented on #14607
[](https://github.com/microsoft/vcpkg/pull/14394)

[2021-02-24 12:09] WesleyKhoiVo commented on #14607
[](https://github.com/microsoft/vcpkg/pull/14394)

[2021-02-24 12:09] WesleyKhoiVo opened #47369 "[](https://github.com/microsoft/vcpkg/pull/14394)"
[](https://github.com/microsoft/vcpkg/pull/14394)

_Originally posted by @WesleyKhoiVo in https://github.com/tensorflow/tensorflow/issues/14607#issuecomment-785031790_

[2021-02-24 12:09] WesleyKhoiVo commented on #47369
please delete it

[2021-02-24 12:09] #47369 closed

[2021-02-24 12:09] ysyyork commented on #47233
I can provide implementation for WSConv and AGCModel by the way

[2021-02-24 12:21] abattery commented on #47361
Thanks for filing the feature request! Is there any plan for this in your side?

[2021-02-24 12:21] jpmrs1313 commented on #47359
I have two gpus, Intel HD Graphics 630 (in my CPU) and GeForce GTX 1050TI and when i list the gpus with this command line:

from tensorflow.python.client import device_lib
device_lib.list_local_devices()

Thats my outpout
[name: "/device:CPU:0"
 device_type: "CPU"
 memory_limit: 268435456
 locality {
 }
 incarnation: 16820838733360620967]

I have CUDA v11.2 installed and cudnn too.
My tensorflow v

[2021-02-24 12:22] abattery commented on #47364
We recommend using the python API conversion over the command line. Could you verify this behavior with tf-nightl

[2021-02-24 12:30] sparklingdew opened #47370 "True loss values"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.15.3 and 2.4.0
- Are you willing to contribute it (Yes/N

[2021-02-24 12:33] shengy90 commented on #47368
I found this similar issue for TF1.14:
https://github.com/tensorflow/tensorflow/issues/31318

Looks like we can't do MirroredStrategy cannot support training Embedding layers using momentum-based optimisers. There seems to be a fix for TF1.14, but this became a bug again in TF2.0?

Will try to see if using non-momentum-based optimisers work for now to unblock. Still something that should be fixed

[2021-02-24 12:36] shengy90 commented on #47368
Also, the error message certainly hasn't helped!!

[2021-02-24 12:37] 05hazza06 commented on #47133
The tf.data dataset implementation worked as expected. Thanks.
Still unsure about why Keras sequence didn't work but the issue is sorted.

[2021-02-24 12:37] #47133 closed

[2021-02-24 12:46] PiotrZierhoffer commented on #46937
Changing 0xDEADBEEF to 0 of course fixes the problem

[2021-02-24 12:50] ark1375 commented on #47223
@amahendrakar
Did it work? Could you run the code with the file that I linked to?

[2021-02-24 12:57] gastan81 commented on #47348
Adding --define=no_tensorflow_py_deps=true made it work. I had so many problems making it all work to this point, I totally overlooked the workaround already mentioned in the instructions, my bad, very sorry for that. And thanks!

[2021-02-24 12:57] #47348 closed

[2021-02-24 13:09] MoFHeKa commented on #47280
well, I didn't notice that this is tensor_content binary.

[2021-02-24 13:09] #47280 closed

[2021-02-24 13:11] ariG23498 commented on #47363
Hey @DabiaoMa
I think this [thread](https://github.com/tensorflow/tensorflow/issues/12321) might help you.

[2021-02-24 13:19] Arman-IMRSV commented on #47326
@abattery
Do you have any suggested solution? I also had a look at converting ONNX to TFLite. It did not work either.

[2021-02-24 13:35] Sehaba95 commented on #44152
Hello, I have got the same error, @KejaPower could you please share exactly how you solved this issue with some links.
Thank you.

[2021-02-24 13:38] 11lll commented on #44485
Hi, looking forward to TF on Python 3.9.

[2021-02-24 13:43] abattery commented on #47326
Do you think it is possible to follow the above suggestion in the conversion code from ONNX to TF?

[2021-02-24 13:47] jpmrs1313 commented on #47359
Eu tenho dois gpus, Intel HD Graphics 630 (em minha CPU) e GeForce GTX 1050TI e quando listo o gpus com esta linha de comando:

de tensorflow.python.client import device_lib
device_lib.list_local_devices ()

Esse é meu outpout
[nome: "/ dispositivo: CPU: 0"
device_type: "CPU"
memory_limit: 268435456
localidade {
}
encarnação: 16820838733360620967]

Tenho o CUDA v11.2 instalado e o cudnn também.
Mi

[2021-02-24 13:47] kiflowb777 opened #47371 "tf_upgrade_v2: UnicodeDecodeError: 'charmap' codec can't decode byte 0x98 in position 385: character maps to <undefined>"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.4.0
- Python version: 3.6.1
- CUDA/cuDNN version: 11.1
- GPU model and memory: RTX3070 8GB

I tried to update my project with script tf_upgrade_v2 and command:
[code]
but I get error:
[code]

How to check which

[2021-02-24 13:50] jpmrs1313 commented on #47359
@Saduf2019

I have 2  gpus, Intel HD Graphics 630 (in CPU) e GeForce GTX 1050TI and when i list gpus with this command line:

de tensorflow.python.client import device_lib
device_lib.list_local_devices ()

Output:

name: "/device:CPU:0"
 device_type: "CPU"
 memory_limit: 268435456
 locality {
 }
 incarnation: 16820838733360620967

I have CUDA v11.2 installed and  cudnn too.
My tensorflow  version

[2021-02-24 13:57] ariG23498 commented on #47366
Hey @asterisk37n
I tried giving your script a run, modifying a little bit
[code]
Here I want to output only one line for each epoch and not the progress bar, hence `verbose=2`
Upon doing this, I do in fact get results that are aligned with the `history.history`

My guesses are to dive deep into the output of `model.fit` and check whether the progress bar messes up with the results that we see. Hop

[2021-02-24 14:35] kongyansan opened #47373 "AttributeError: Can't set the attribute "name" when building bidirectional layer with stackedrnncell"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
On Jupyter Notebook, Python 3.6, Tensorflow Version 2.4

**Describe the current behavior**
I am currently trying

[2021-02-24 14:36] Saduf2019 commented on #47309
@kiflowb777
Please share simple stand alone code for us to replicate the issue reported or a colab gist.

[2021-02-24 14:38] shashank2710 commented on #46837
@amahendrakar ,
A fresh ubuntu install and updated bazel flags helped resolve this issue.

[2021-02-24 14:38] #46837 closed

[2021-02-24 14:42] amahendrakar commented on #47360
@yparam98,
I was able to run the code without any issues, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/6b61ab9b4c2f1e038b9392d155827582/classification.ipynb).

Currently TensorFlow is not compatible with Python 3.9. Could you please try running the code with Python 3.8 and check if you are facing the same error. Thanks!

[2021-02-24 14:57] kongyansan commented on #47373
`lstm_cell_1 = tf.compat.v1.nn.rnn_cell.BasicLSTMCell(rnn_size, forget_bias=1.0, state_is_tuple=True)
lstm_cell_2 = tf.compat.v1.nn.rnn_cell.BasicLSTMCell(rnn_size, forget_bias=1.0, state_is_tuple=True)
lstm_fw_cell = tf.compat.v1.nn.rnn_cell.MultiRNNCell([lstm_cell_1, lstm_cell_2], state_is_tuple=True)
fw = RNN(lstm_fw_cell, unroll=True)

lstm_cell_3 = tf.compat.v1.nn.rnn_cell.BasicLSTMCell(rnn_s

[2021-02-24 15:00] Arman-IMRSV commented on #47326
@abattery
I do not believe so. Again, in ONNX, we have the frozen graph. I do not think if we can apply that solution to this. Is there any other way around?

[2021-02-24 15:02] Arman-IMRSV commented on #47326
@TomWildenhain-Microsoft
Is there a way to add the support for large models to TFLite conversion, similar to what you did for ONNX conversion in [this PR](https://github.com/TomWildenhain-Microsoft)?

[2021-02-24 15:23] Titaniumtown commented on #47263
Maybe this issue should be renamed to "Incompatibility with numpy 1.20"?

[2021-02-24 15:49] ebrevdo commented on #11157
@GGDRriedel this error can happen for many reasons; so your instance may differ a bit from the previous instances in this thread.  I suggest opening a new issue on github and answering some of the questions in the template (version of TF, etc) and someone from the keras team can likely help you.

[2021-02-24 15:57] amahendrakar commented on #47363
@DabiaoMa,
This question is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow) since it is not a TensorFlow bug or feature request. There is also a larger community that reads questions there. Thanks!

[2021-02-24 16:01] hoondy commented on #44541
I have the same issue after upgrading tf 2.4 from tf 2.2.

[2021-02-24 16:01] tarangmehta1195 commented on #47354
i am using 64-bit Python

[2021-02-24 16:06] ravikyram commented on #47358
@leeivan1007

Can you please test the both using TF version 2.4 and see if the issue still persists. Thanks!

[2021-02-24 16:13] Azkarehman commented on #10515
were you able to solve it?

[2021-02-24 16:33] jvishnuvardhan commented on #47242
@jnphilipp I ran your code in `TF2.4.1` and I don't see any error as you described. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/9259875409e4f892b4db22fe11e12322/untitled545.ipynb). Am i missing something here?

@ZeroOut @ghylander Can you please share a standalone code to reproduce the issue? Thanks!

[2021-02-24 16:52] #47059 closed

[2021-02-24 17:06] evgeniya-egupova commented on #47366
Hi all. Here are the issues describing the same problem: #46713 #47099. Hope this helps.

[2021-02-24 17:32] Saduf2019 commented on #47263
@ghylander
I ran the code shared and face a different issue please find the [gist here](https://colab.research.google.com/gist/Saduf2019/5bd8211acc40d06956777af326b31252/untitled.ipynb
dint know what 2 do).

[2021-02-24 17:37] durandg12 commented on #36827
Any news on this?

[2021-02-24 17:45] alonkipnis commented on #45200
Same issue with Ubuntu 18.04.4, tensorflow==2.4.1, and Cuda 11.0.

I'm not sure why this issue is closed.

[2021-02-24 18:03] neso613 commented on #47101
ETA

[2021-02-24 18:09] Saduf2019 commented on #47359
@jpmrs1313
Can you please try with CUDA 11.0 and let us know if you still face issue.

[2021-02-24 18:23] abolotnov opened #47376 "No version of tensorflow will install on python 3.7.9 x64 / pip 20.1"
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `OS X 11.1 (PC)`
- TensorFlow installed from (source or binary): `pip`
- TensorFlow version: `1.15 or any other`
- Python version: `3.7.9`
- Installed using virtualenv? pip? conda?: `pip`

**Describe the problem**

installed python 3.7.9 as compatible platform with TF 1.15 via `pyenv`
no version of tf will install at all:

[code]
same outp

[2021-02-24 18:30] ymodak commented on #35594
The codelab is now updated with the changes mentioned upstream. Thanks!
https://codelabs.developers.google.com/codelabs/sparkfun-tensorflow/#3

[2021-02-24 18:30] #35594 closed

[2021-02-24 18:49] amahendrakar commented on #47376
@abolotnov,
TensorFlow 1.x is not actively supported. Please try installing the latest stable version of TensorFlow v2.4.1 using the below command.

`pip install --upgrade tensorflow`

Thanks!

[2021-02-24 18:52] #46990 closed

[2021-02-24 18:52] #46902 closed

[2021-02-24 19:01] amahendrakar commented on #47366
@asterisk37n,
On running the Colab notebook you have linked, I see that the `loss` and `my_metric_fn` values are identical. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/caa1b8fc1c251ef54a4fbc8395ec0003/47366.ipynb#scrollTo=EZK_OjvBY4Pj). Thanks!

[2021-02-24 19:28] ymodak commented on #47312
Please take a look at this related [thread](https://github.com/tensorflow/tensorflow/issues/40036#issuecomment-774353012)

[2021-02-24 19:45] advaitjain commented on #47353
https://github.com/tensorflow/tensorflow/pull/47055 removed `tensorflow/lite/micro/testing/micro_test.bzl`.

[2021-02-24 19:45] #47353 closed

[2021-02-24 19:53] tomerk commented on #46605
This is intended behavior. (It only happened to work in certain situations in the past, but came at the cost of other bugs).

When you use a subclassed model in a functional model it will not inline the layers of the subclassed model into the outer functional model.  So, it it doesn't make sense to access sub-layer inputs/outputs in the functional style.

In the past it would sort-of inline it in

[2021-02-24 19:53] #46605 closed

[2021-02-24 19:54] jpmrs1313 commented on #47359
Thanks a lot. It works

[2021-02-24 20:00] FlorinAndrei commented on #46274
This is labels1:

[code]

This is labels2:

[code]

[2021-02-24 20:06] ajelinski commented on #46937
Your example @advaitjain has similar results on `stm32f4` also built with `stm32_bare_lib` that causes the problem.

The `-559038737` number that is printed as `init_to_nullptr` is exactly a signed int value for `0xDEADBEEF`. The `239` in `init_to_false` is the ending `0xEF` byte.

I remember stumbling upon an issue with this BSS initialization when code from such an `if` was never executed:
[code

[2021-02-24 20:06] FlorinAndrei commented on #46274
I tried that call, and with my version I get this:

[code]

[2021-02-24 20:20] nikitamaia commented on #47239
Hi @pawel-polyai, GPU support is actively being worked on right now. I unfortunately can't provide a date, but I'll keep this thread updated.

[2021-02-24 20:27] yparam98 commented on #47360
By god it works...

Thanks @amahendrakar! 👍🏽

[2021-02-24 20:34] wangpengmit commented on #46274
`experimental_enable_numpy_behavior` only exists and is necessary in `tf-nightly`. If you're using other versions, you can keep using `tnp` in the old way.

[2021-02-24 20:47] jvishnuvardhan commented on #47256
@bhatuzdaname Can you please share a simple standalone code (with `TF2.x`) to reproduce the issue? Thanks!

[2021-02-24 20:52] wangpengmit commented on #46274
Found the culprit: matplotlib 3.3.4 gives the bad image, while 3.2.2 gives the good image.

[2021-02-24 21:04] #47360 closed

[2021-02-24 21:10] nikitamaia commented on #47013
Hi @cmuniyappa, Parameter Server Strategy currently does not work with the Keras compile/fit API. So if you want to use this strategy you will need to write a custom training loop. To get a good benchmark of performance, you should first make sure that your custom training loop code is equivalent to the compile/fit code and then from there add the distribution strategy.

You can learn more about c

[2021-02-24 21:35] Zumbalamambo opened #47381 "Generating the descriptors of constant shape"
The local features generated by tensorflowv1 is different from tensorflowv2.5

[code]

The local_feature[1] and local_feature[0] has got a constant shape of 1000 with the above code that has the legacy cide,.

I used the latest code to generate vectors as follow,

[code]

Unfortunately `result["locations"].numpy()` and `result["descriptors"].numpy()` always has got a different shapes for every ima

[2021-02-24 21:47] tbadun commented on #40070
Same issue as @kevinashaw

[2021-02-24 21:52] FlorinAndrei commented on #46274
Opened a bug report with Matplotlib:

https://github.com/matplotlib/matplotlib/issues/19574

[2021-02-24 22:02] advaitjain commented on #46937
Thanks for the debugging @PiotrZierhoffer.

@ajelinski, I'm not sure about the thinking behind the decision to go with not zero initializing the .bss -- it does seem non-standard.

I have made https://github.com/tensorflow/tensorflow/pull/47382 that fixes this issue independent of upstream changes to STM32 Bare Lib and also answers @PiotrZierhoffer's comment about why the variables are ending up i

[2021-02-24 22:06] ras0219-msft commented on #44485
microsoft/vcpkg#16315 has been merged

[2021-02-24 22:12] johncalvowtg commented on #35934
Hello! I have the same issue here...
invoice_candidate_model = tf.keras.models.load_model('../model/Invoice_Extraction_Model_AU')
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-15-1d8766d6d9d0> in <module>
----> 1 invoice_candidate_model = tf.keras.models.load_model('../model/Inv

[2021-02-24 22:12] abolotnov commented on #47376
Not sure how exactly I fixed it, but I got it fixed somehow.

[2021-02-24 22:12] #47376 closed

[2021-02-24 22:36] ghwatson commented on #44176
Independently arrived at a similar memory issue in a training situation I'm working on. In my case, we had a lot of RAM, and we noticed that after 3 or so epochs, it no longer continued incrementing.

After swapping to the malloc library above, from the start we had it staying constant! Thanks @jsimsa  for posting your fix! Is this dependency issue even mentioned anywhere in the TF docs?

[2021-02-24 22:37] advaitjain commented on #46937
Talked to @petewarden and we decided that changine STM32 Bare Lib is the way to go.

#47382 originally added `-fno-zero-initialized-in-bss` and verified that the globals were in the .data section instead of .bss using the tips from https://stackoverflow.com/q/8721475

It has since been updated to simply pull in an updated version of STM32 Bare Lib (with the zero initialization of .bss)

[2021-02-24 22:44] JohannSchumann opened #47383 "ModifyGraphWithDelegate(delegate) running very slow (ubuntu with USB accelerator)"
Hi,
I wrote a minimal C++ code loading the mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite
and doing some inferencing.
When running on a ubuntu-16.04 notebook (i7, SSD, 12G) with USB accelerator,
interpreter_->ModifyGraphWithDelegate
runs substantially (50x) slower than the same(see below) code on the dev-board.

Dev-board:
Code line: interpreter_->ModifyGraphWithDelegate({delegate, edgetpu_fr

[2021-02-24 22:49] bhack commented on #44176
What Is your glibc version?

[2021-02-24 22:50] ghwatson commented on #44176
2.27-3ubuntu1

[2021-02-24 23:03] bhack commented on #44176
It could be nice to test this with a more recent glibc version

[2021-02-24 23:05] jsimsa commented on #44176
My experiments used `Debian GLIBC 2.31-9`.

[2021-02-24 23:30] ymodak commented on #32041
Closing since the associated PR has been merged. Feel free to reopen if necessary. Thanks!

[2021-02-24 23:30] #32041 closed

[2021-02-24 23:58] jvishnuvardhan commented on #43712
@bersbersbers In the most recent versions (`TF2.4`), CUDA package is listed.
@mihaimaruseac Any plans of listing CuDNN, TensorRT versions? Thanks!

[2021-02-25 00:15] bhack commented on #44176
@jsimsa Can you reproduce the memory growing in your example prefix `python` with the env `M_CHECK_=1`?

[2021-02-25 00:16] jsimsa commented on #44176
@bhack Unfortunately, I will not have cycles to investigate this further in the near future.

[2021-02-25 00:18] bhack commented on #44176
Ok just to confirm that I cannot reproduce your example with `M_CHECK_=1`

[2021-02-25 00:22] #46937 closed

[2021-02-25 00:24] ymodak commented on #39638
The saved_model md file is updated with commit [819eb34](https://github.com/tensorflow/tensorflow/commit/819eb34070c856a7f2881f5d14183dfa5c5c2375). Thanks!

[2021-02-25 00:24] #39638 closed

[2021-02-25 00:25] jvishnuvardhan commented on #42435
@wchargin I think this was resolved with small update in the nightly docs. Please check [here](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Layer?version=nightly#call).

I am closing this issue as this was resolved. Please feel free to reopen if I am mistaken. Thanks!

[2021-02-25 00:25] #42435 closed

[2021-02-25 01:02] nouiz opened #47386 "[XLA:GPU] Build failure"
This commit:

[code]

Introduced a compilation regression. Before that commit, this command line works:

[code]

Starting at this commit, it gives this error:
[code]

@jurahul that authored it.

[2021-02-25 01:26] jvishnuvardhan commented on #41634
@sudzam I think this is resolved. The updated pages of [space_to_batch](https://www.tensorflow.org/api_docs/python/tf/space_to_batch) and [batch_to_space](https://www.tensorflow.org/api_docs/python/tf/batch_to_space?version=nightly) include examples and an explanation.

I am closing this issue as it was resolved. Please feel free to reopen if I am mistaken. Thanks!

[2021-02-25 01:26] #41634 closed

[2021-02-25 01:31] uranusx86 commented on #47364
I have tried, but it keep same size (6.4 MB) by using python API conversion.

It doesn't make sense because the weight file of SSD MobileNet v2 320x320 is about 24 MB, tflite file size is too small.

[2021-02-25 01:35] abattery commented on #47364
Did you verify the converted models their correctness other than file sizes? The file size can be reduced due to pruning unused parts in the model when the some weight data aren't related with the inference run.

[2021-02-25 01:44] crccw commented on #47277
This is not supported. With MultiWorkerMirroredStrategy, you only have access to your local devices. Normally people use collective operations like all-reduce and all-gather to communicate between devices.

[2021-02-25 01:44] crccw commented on #47257
This is not supported. With MultiWorkerMirroredStrategy, you only have access to your local devices. Normally people use collective operations like all-reduce and all-gather to communicate between devices.

[2021-02-25 01:46] Jianbing-D commented on #47277
Then what is the mechanism to communicate between remote machines?

[2021-02-25 01:46] crccw commented on #47257
This seems to be a duplicate of #47277. There's no plan to support using rendezvous to communicate between workers with MultiWorkerMirroredStrategy. We can discuss in #47277 about your use case and alternatives.

[2021-02-25 01:46] #47257 closed

[2021-02-25 01:47] crccw commented on #47277
Normally people use collective operations like all-reduce and all-gather to communicate between devices.

[2021-02-25 01:48] uranusx86 commented on #47364
install converted tflite file on mobile which convert by tf-nightly, it can detect object (but I don't test whether the accuracy is same as saved model file) but extremely slow (900 ms).

but if I install converted tflite file which convert by command line tool, it run fast (100 ms).

[2021-02-25 01:49] Jianbing-D commented on #47277
Could you please give an usage example about how to do that between two remote workers?

[2021-02-25 01:49] emadboctorx opened #47387 "Unable to migrate TF1 code to TF2, tape.gradient returns None"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code: yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macos big sur
- Ten

[2021-02-25 01:51] Jianbing-D commented on #47277
And if I want to do `broadcast` between those remote workers, what is the option?

[2021-02-25 01:53] abattery commented on #47364
Could you share the above models to us?

[2021-02-25 02:02] uranusx86 commented on #47364
Sure.
[detect_using_api.zip](https://github.com/tensorflow/tensorflow/files/6040054/detect_using_api.zip)
[detect_using_command.zip](https://github.com/tensorflow/tensorflow/files/6040055/detect_using_command.zip)

[2021-02-25 02:07] crccw commented on #47277
It's not supported yet but is on our roadmap. You can try use all-gather for the interim.

[2021-02-25 02:07] jurahul commented on #47386
Thanks for the bug. It was reported internally as well, and I have a fix in flight.

[2021-02-25 02:10] Jianbing-D commented on #47277
OK. Thanks.

[2021-02-25 02:23] manivaradarajan commented on #46930
Closing in light of request for RFC: https://github.com/tensorflow/tensorflow/issues/46930#issuecomment-776104414

[2021-02-25 02:23] #46930 closed

[2021-02-25 02:25] julywater commented on #33688
+1 on this feature. I'm also running into this issue.

[2021-02-25 03:21] abattery commented on #47364
Interestingly, they have the identical same graph structure when I looked at the netron. Will look at the details.

[2021-02-25 04:54] Saduf2019 commented on #47383
@JohannSchumann
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

[2021-02-25 04:55] Saduf2019 commented on #47359
@jpmrs1313
Thank you for your update, glad your issue is resolved, please move this to closed status.

[2021-02-25 05:05] Saduf2019 commented on #47354
@tarangmehta1195
Can you also verify other requirement:

You might be facing this issue because of the following reasons

You are running 32-bit Python or 32-bit OS
You have not installed the Microsoft [Visual C++ Redistributable](https://support.microsoft.com/en-us/topic/the-latest-supported-visual-c-downloads-2647da03-1eea-4433-9aff-95f26a218cc0) package
Your CPU does not support AVX instruction

[2021-02-25 05:06] Saduf2019 commented on #47373
@kongyansan
Code provided is not sufficient to replicate issue reported, can you please share a colab gist with the error.

[2021-02-25 05:54] asterisk37n commented on #47366
@amahendrakar
Thank you for running. I'm referring to a different thing. In my log, you can see 0.1429. Where has this come from?
[code]
```my_metric_fn```'s value for the second batch? No, it is 0.0450076237.
Average of ```my_metric_fn``` among the first and second batch? No, it is (0.191785976 +  0.0450076237)/2 = 0.11839679985.

[2021-02-25 05:58] asterisk37n commented on #47366
@ariG23498 Thanks for verbose param info.
@evgeniya-egupova  Thank you. yeah, very similar to https://github.com/tensorflow/tensorflow/issues/47099

[2021-02-25 06:43] coreqode opened #47390 "TypeError: tensor_equals() missing 1 required positional argument: 'other'"
![image](https://user-images.githubusercontent.com/18486587/109113616-895ce900-7762-11eb-9882-5f86a866d871.png)

On loading the saved model, it gives an error.
Tensorflow version is 2.4.1
[Notebook to reproduce it. ](https://colab.research.google.com/drive/1w5QAIeG6rUpSWUbHEJJjNLfp1FYzCwff?usp=sharing)

[2021-02-25 06:45] gauravzero commented on #30914
Was this issue resolved?
Thanks

[2021-02-25 07:04] #46419 closed

[2021-02-25 07:05] nSircombe commented on #47346
It looks like the hope is to move to 2.2 with the TensorFlow 2.5 release: https://github.com/oneapi-src/oneDNN/issues/994#issuecomment-785426665
?

[2021-02-25 07:06] glitchwizard commented on #44291
This worked for me as well, I've been running into this same issue. Found the solution here: https://stackoverflow.com/questions/65608713/tensorflow-gpu-could-not-load-dynamic-library-cusolver64-10-dll-dlerror-cuso

For those looking, and happen to be using windows, these files are found here if you installed in the default locations: `C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.2\bin`

[2021-02-25 07:12] wenjingyang commented on #36688
Hi, I had similar issue. Is there any updates?

[2021-02-25 07:21] UmutAlihan commented on #26593
I am having the same issue is anybody able to solve this?

[2021-02-25 07:22] teijeong commented on #47207
Seems fixing the input size, as described in this [colab](https://colab.research.google.com/github/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/experimental_new_converter/Keras_LSTM_fusion_Codelab.ipynb) helps.

[code]

[2021-02-25 07:26] ghylander commented on #47242
@jvishnuvardhan
yes
'numpy.__version__'
'1.19.3'
this problem arises with numpy version 1.20 and 1.21

[2021-02-25 07:40] ghylander commented on #47263
yes, i said you need to specify a model to load
no worries, i modified the gist so it downloads one pre trained model, and so it updates numpy to lastest version (since it is numpy what causes the problem)
https://colab.research.google.com/gist/ghylander/7e75a1da6da7f8f3eb12578f4e21eeb2/untitled.ipynb

[2021-02-25 07:41] teijeong commented on #47223
Hi @ark1375,

The quantized op kernels are usually optimized for ARM architecture, but not so for x86. TensorFlow Lite model doesn't work with desktop GPUs and even if it's supported, GPUs don't support integer calculations.

You can try build your custom tflite runtime with `ruy` enabled, but the inference speed is still not going to be as fast as the float one.

[2021-02-25 07:45] Saduf2019 commented on #47390
@coreqode
I ran the code shared in the notebook but face a different error,please find [gist here](https://colab.research.google.com/gist/Saduf2019/d13f1ed2de788bb037e69d7eeb7c7d6b/untitled.ipynb)

[2021-02-25 07:50] jjanousek commented on #33755
I have the same problem with tensorflow 2.4.1. Has anyone found another solution that does not involve switching to a functional model?

[2021-02-25 07:53] Saduf2019 commented on #47263
I am able to replicate the issue reported on tf 2.4 and nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/5e343667bca2e811964a638376d1eda9/untitled.ipynb)

[2021-02-25 07:54] coreqode commented on #47390
Can you download and upload the model file from the link mentioned in
notebook?

On Thu, 25 Feb 2021 at 1:15 PM, Saduf2019 <notifications@github.com> wrote:

[2021-02-25 08:13] #47352 closed

[2021-02-25 08:14] AbeG13 commented on #47352
Okay, closed. I hope the update comes out soon.

[2021-02-25 08:36] teijeong commented on #47213
Hi, with tf-nightly, would you try setting `experimental_new_quantizer` and see if there's difference?

[code]

[2021-02-25 08:43] cecabert commented on #46605
@tomerk thanks for the feedback.

Does it means there is no way to access intermediate layes with subclassed model or reuse part of the model in the functional style ?

[2021-02-25 08:52] #47074 closed

[2021-02-25 08:57] #47359 closed

[2021-02-25 08:57] yywangvr commented on #40036
In ubuntu, the following codes fixed my issue:

[code]

[2021-02-25 08:57] jpmrs1313 commented on #47359
Thanks

[2021-02-25 09:07] amahendrakar commented on #47067
On running the code with `imagenet2012`, facing an error stating `OSError: Not enough disk space. Needed: 155.84 GiB (download: Unknown size, generated: 155.84 GiB)`.

Whereas with `imagenet_resized` dataset, the execution times are

TF Version | 1st epoch | 2nd epoch
---|---|---
[2.3.2](https://colab.research.google.com/gist/amahendrakar/bd93339692ddb713b5b1e2ed43792384/47067-2-3-2.ipynb) | 118.3

[2021-02-25 09:31] amahendrakar commented on #47107
@karanjakhar,
Any updates regarding this? Is this still an issue?

Could you please take a look at the above comment and let us know if you are facing the same error. Thanks!

[2021-02-25 09:35] lgeiger commented on #47067
@amahendrakar great that you were able to reproduce the slowdown in `tf-nightly` with `imagenet_resized`.

This is expected as Colab doesn't have enough disk available to download ImageNet. You can reproduce it on colab by using a GCS bucket and streaming the data from there.

[2021-02-25 09:50] thaink commented on #47361
@WindQAQ I'll make a quick PR to support op lowering.

[2021-02-25 09:52] noppelmax commented on #35515
Suppose I want to implement backprop on my own (independent if the model is created with functional or sequential API), how do I know if the input layer is included or not?! Why can't it just be implemented consistent with the functional API? Argh

In `model.get_config()["layers"]` the input layer is still listed, while in `model.layers` it is not present?! In a functional model it is present in b

[2021-02-25 09:54] amahendrakar commented on #47115
@HLSS-Hen,
On running the given code snippet I am facing an error stating `NameError: name 'ds_train' is not defined`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/7a30f5975b5f971e79dd4c41a73dc6ea/47115.ipynb).

Could you please provide the complete code snippet, so that we can reproduce the issue on our end. Alternatively, you can also run the code on [Goo

[2021-02-25 10:14] abattery commented on #47364
@talumbau Could you take a look?

The graph structures are identical but the user reported that there is a 9x performance difference on mobile.

I tried on the x86 machine only. Their latency data look similar.

- detect_using_api.tflite
[code]

- detect_using_command.tflite
[code]

[2021-02-25 10:20] RoMa03 commented on #33755
Ricardo Zilleruelo's solution of following the embedding layer with a
separate normalisation layer looks pragmatic to me?

from tensorflow.keras.layers import Embeddingfrom
tensorflow.keras.constraints import UnitNorm
. . .emb = Embedding(input_dim, output_dim,
name='embedding_name')norm_layer = UnitNorm(axis=1)norm_embedding =
norm_layer(emb(embedding_id_input))
. . .

He chose to wrap the two as

[2021-02-25 10:36] paelikan commented on #46044
@easadler How did you get tf-probability running, did you also install from source?
More generally, would installing from source allow Numpy, Panada, Scipy, etc. to be used on Rosetta 2?

[2021-02-25 10:38] ravikyram commented on #47387
@emadboctorx

I have tried in colab with TF-nightly version and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/d5a2fef218318c7c8535965be44c4f4e/untitled679.ipynb). Thanks!

[2021-02-25 10:50] ravikyram commented on #47381
@Zumbalamambo

This issue is more suitable for TensorFlow Hub repo. Please post it on hub repo from [here](https://github.com/tensorflow/hub/issues/new). Thanks!

[2021-02-25 10:52] ravikyram commented on #47371
@kiflowb777

Please, share colab link or simple standalone code to reproduce the issue. It helps us in debugging further. Thanks!

[2021-02-25 10:52] amahendrakar commented on #47131
Was able to reproduce the issue with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/05756d04a1196ad097c9009027218c7b/47131.ipynb). Thanks!

[2021-02-25 10:53] shahruk10 commented on #47207
Yeah, if I define all dimensions of the input shape, it works. But if I leave either the batch size or timestep size as `None`, the problem returns.

Also I realized, at least, after the first call to `interpreter.invoke()`, the output dimensions become expected values, but the signature dims remain (-1, -1, -1).

[2021-02-25 10:58] ghost opened #47391 "tf.errors.UnknownError should include __cause__"
**System information**
- TensorFlow version (you are using): 2.4.1
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**

When a [`tf.errors.UnknownError`](https://www.tensorflow.org/api_docs/python/tf/errors/UnknownError) is raised, the `exception.__cause__` is not set (it is `None`), so if someone wants to find the underlying error, the best th

[2021-02-25 11:00] Zumbalamambo commented on #47381
@ravikyram The error is due to the mismatch in the tensorflow version and not because tf-hub!!

[2021-02-25 11:06] ravikyram commented on #47381
@Zumbalamambo

Can you please help us with the colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster. Thanks!

[2021-02-25 11:10] LaurinHerbsthofer commented on #46249
I had the same issue, solved it by compiling the model again after loading:

`model = load_model(...)
model.compile(...)
model.evaluate(...)`

[2021-02-25 11:11] farazk86 commented on #47357
Hi,

Can anyone help me with this please?

[2021-02-25 11:14] rutvi1462 opened #47392 "Did not open image after detecting object using tensorflow2"
I am learning object [detetction with tensorflow2](https://gilberttanner.com/blog/tensorflow-object-detection-with-tensorflow-2-creating-a-custom-model) and my model trained successfully.

But whenever I trying to [Test trained model on test images](https://colab.research.google.com/github/TannerGilbert/Tensorflow-Object-Detection-API-Train-Model/blob/master/Tensorflow_2_Object_Detection_Train_mod

[2021-02-25 11:16] zaccharieramzi commented on #46249
@LaurinHerbsthofer your solution definitely works when only evaluating the model afterwards and not resuming training.

if you want to resume training however the problem still stands because you cannot compile the model again: it will get rid of the optimizer’s state.

[2021-02-25 11:18] tensortorch commented on #47032
@amahendrakar
I still think this is an issue. I believe it should not be necessary to call map() a second time - I would expect this to work without the extra steps. The issue might not be with the class weights functionality itself though - maybe rather with the combination of map/py_function.

[2021-02-25 11:20] ark1375 commented on #47223
@teijeong First of all thanks for the answer. Second, you think if I ran the model on a Raspberry pi, then I could see the difference in speed?

[2021-02-25 11:26] noppelmax opened #47393 "EagerTensor implements `__len__` but not `len()`."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `Linux merry 5.8.0-43-generic #49~20.04.1-Ubuntu SMP Fri Feb 5 09:57:56 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`
- TensorFlow installed from (source or binary): `pip install tensorflow`
- TensorFlow version (use comm

[2021-02-25 12:21] anoldmaninthesea commented on #47324
@Saduf2019  your error comes from not importing keras models and layers.  I solved my problem by removing the `( )` in the `KerasRegressor(build_fn=build_model(),epochs=30)`, by rewriting it into `KerasRegressor(build_fn=build_model,epochs=30)`.

[2021-02-25 12:21] #47324 closed

[2021-02-25 12:27] HLSS-Hen commented on #47115
@amahendrakar [here](https://colab.research.google.com/drive/1sFaEse3NxATiyI9hTVNxYX1PNPD23ueU?usp=sharing)

[2021-02-25 12:29] airplane2230 opened #47394 "Simple Example with CIFAR-10. ImageDataGenerator + 'sparse_categorical_crossentropy'"
**System information**
- TensorFlow version (use command below): 2.4

I try example CIFAR-10 with ImageDataGenerator. But it doesn't works.

My custom CNN Model is not training when I use **ImageDataGenerator + sparse_categorical_crossentropy**.
However, when I use **ImageDataGenerator + categorical_crossentropy**, it works well.

what happen in this code?

Thank you and my code is below.

-------

[2021-02-25 12:39] GGDRriedel commented on #11157
It's still the inability to pickle dynamic model structures from

so it's basically the same problem.
Anyway I resorted to saving just the weights as  a workaround but obviously this won't work in deployment/production and so on

[2021-02-25 12:45] amogh7joshi commented on #47394
To begin with, when replicating this code in a Google Colab runtime, it seemed to function properly, so the bug is likely with your system or for a different reason. The code does not seem to have any issues.

In general, `sparse_categorical_crossentropy` should be used when prediction classes are mutually exclusive, i.e. each training example belongs to one single class, and `categorical_crossent

[2021-02-25 12:59] kongyansan commented on #47373
Hi, i think there was some issues with my environment because I managed to run model.summary() after initialising the new one. Thank you and I will be closing this issue

[2021-02-25 12:59] #47373 closed

[2021-02-25 13:08] airplane2230 commented on #47394
Firstly, Thank you for your answer And I understand it.

Additional, I check that it works well using np.squeeze on y_train.

But, I don't understand below.

+ x_train = same
+ y_train = (35000, 1)
+ compile loss = sparse_categorical_crossentropy

In model.fit(),
A.
model.fit(x_train, y_train, ...) --> good

B.
model.fit(train_generator, ...) --> Bad

what is difference between A and B example?
Is

[2021-02-25 13:22] amogh7joshi commented on #47394
Could you please elaborate on the issues you are facing with the `ImageDataGenerator`? I rarely encounter any issues when working with it, and it in fact is supposed to *help* with training, since it performs spatial augmentation on the images. This allows it to generate more diverse data.

The clearcut difference between the way X_train and y_train are handled inside of the training function is e

[2021-02-25 13:24] dhirajnitk opened #47395 "tflite api doesnt return input shape in c++"
I am using a functional model which  I converted it to tflite  in tf2.4.0 but I dont get shape of input tensor in c++ but Its  visible in python

[code]

[code]

[2021-02-25 13:36] airplane2230 commented on #47394
Definitely, No error in code.

when using ImageDatagenerator, I got about 10% accuracy.
But, I use y_train on fit function directly, I got about 80% accuracy.
The problem is that performance is not good.

Literally, I think No difference between the two.

Because,
With ImageDataGenerator gives us the shape of y_train like below.

[code]

However, when using ImageDataGenerator, performance is good

[2021-02-25 13:43] wuxianxingkong opened #47396 "BestExporter exports worse model when training tasks restart."
BestExporter is widely used in my company to avoid model degradation with time. But BestExporter exports worse model when training task restart.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution: Distributed training.
- TensorFlow installed from (source or binary):binary.
- TensorFlow version

[2021-02-25 13:45] amogh7joshi commented on #47394
The explanation for the different shapes, as I mentioned previously, is because the `ImageDataGenerator` converts the data into **image batches**. This means that the data will be converted into smaller sets of the same data, which will then be passed through the model in sequence.

As for your description of accuracies between the `ImageDataGenerator` and the `X_train`/`y_train`, I can't seem to

[2021-02-25 13:49] abattery commented on #47395
The `tflite::Interpreter` class has the `input_tensor` method to get the `TfLiteTensor` object. In the `TfLiteTensor` object, there is a shape information.

Please refer to https://www.tensorflow.org/lite/api_docs/cc/class/tflite/interpreter

[2021-02-25 13:58] #47395 closed

[2021-02-25 14:01] airplane2230 commented on #47394
Thank you and Rechecking Now.

Finally, I close this issue.

[2021-02-25 14:01] #47394 closed

[2021-02-25 14:06] Sehaba95 opened #47399 "Unable to build TFLite for Microcontrollers on Mac OS"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): mac OS Mojave (version: 10.14.6)
- TensorFlow installed from (source or binary): from source
- Tensorflow version (commit SHA if source):
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): zephyr_vexriscv (from [this tutorial](https://blog.tensorflow.org/2020/06/running-and-testing-tf

[2021-02-25 14:13] bvirlet opened #47400 "Compile TensorFlow Lite for iOS Simulator on Apple Silicon"
TensorFlowLite isn't available for iOS Simulator running on Apple Silicon.

It seems that this depends on [Bazel supporting this](https://github.com/bazelbuild/rules_apple/issues/980), as well as on TensorFlowLite being built as a .xcframework (fat frameworks have an arm64 slice, but cannot have an arm64-mac slice).

[2021-02-25 14:51] JohannSchumann commented on #47383
Hi,
here the details - sorry forgot to add them.

1) small C++ file minimal.cc which opens the mobilenet.. and does the
ModifyGraphWithDelegate(): below
2) compilation via make (commands for each platform see below)
3) execution:
       time ./min_example
4) results: Wall-clock:
    Coral DevBoard:   0.053s
    ubuntu notebook: 3.25 s (!)    with USB Accelerator

5) Versions:
coralboard:
uname -a:

[2021-02-25 15:00] kukzile opened #47401 "Burst mode execution in NNAPI"
How can we use the burst mode of execution while using the NNAPI delegate? There seems to be no API exposed to select the mode of execution and by default, the NNAPI delegate selects only between async and sync mode based on version. If we want to select a mode of execution through an android application, what should be the approach?

[2021-02-25 15:09] jurahul commented on #47386
Should be fixed now with https://github.com/tensorflow/tensorflow/commit/d439d8c6d4137e0bc468a2de06e41b375029ee92. Would be great if you can confirm.

[2021-02-25 15:14] GrechTsangWL commented on #47401
shit
________________________________
发件人: Kriti Kukreja <notifications@github.com>
发送时间: 2021年2月25日 15:05
收件人: tensorflow/tensorflow <tensorflow@noreply.github.com>
抄送: Subscribed <subscribed@noreply.github.com>
主题: [tensorflow/tensorflow] Burst mode execution in NNAPI (#47401)

How can we use the burst mode of execution while using the NNAPI delegate? There seems to be no API exposed to select t

[2021-02-25 15:17] GrigoriiTarasov opened #47402 "Install gpu Ubuntu16.04 misses crucial steps: "unable to locate package nvidia-driver-450""
## URL(s) with the issue:
https://www.tensorflow.org/install/gpu?hl=ur#ubuntu_1604_cuda_110
## Description of issue (what needs changing):

19th line:
`sudo apt-get install --no-install-recommends nvidia-driver-450`
leads to error:
`E: Unable to locate package nvidia-driver-450`

[2021-02-25 15:43] Cy-r0 commented on #47068
QA-trained a simple classifier with the same code (doing the necessary modifications) and it doesn't incur any accuracy loss.
Also tested the autoencoder swapping ReLU with ReLU6, and the mse of the quantised model does decrease compared to ReLU, although it's still nowhere close to the mse of the non-quantised model.

[2021-02-25 16:05] agramesh1 commented on #47346
Yes, that is the plan.

[2021-02-25 16:06] liming-developer-python opened #47403 "Tensorflow and flask has an error loading model."
Hello
According to this closed issue, https://github.com/tensorflow/tensorflow/issues/44467
I tried to install h5py == 2.10.0 version on my venv
But still got same error

![image](https://user-images.githubusercontent.com/75870530/109180833-46346180-77c6-11eb-9988-8925782f5bc8.png)
![image](https://user-images.githubusercontent.com/75870530/109180849-4cc2d900-77c6-11eb-83a7-0c35caad603b.png)
![ima

[2021-02-25 16:07] liming-developer-python commented on #47403
According to https://github.com/tensorflow/tensorflow/issues/44467 , they used tensorflow 2.1 but I am using 1.4, is that a problem?

[2021-02-25 16:08] liming-developer-python commented on #47403
But I couldn't get that version.
![image](https://user-images.githubusercontent.com/75870530/109181253-ad521600-77c6-11eb-8d15-39da91f59497.png)
Please look, and let me get correct version.
Thanks

[2021-02-25 16:25] alenik01 commented on #47346
@agramesh1, many thanks for clarifying this.

[2021-02-25 16:25] #47346 closed

[2021-02-25 16:25] karanjakhar commented on #47107
I have tried it but no luck. https://colab.research.google.com/drive/1X-ShZMLAGMLtPuEHI3YAOhWEyz-j_hyC?usp=sharing
you can check that in this colab.

[2021-02-25 16:33] nickion commented on #47242
Thanks! The same issue just started happening on my setup, and downgrading to 1.19.4 solved.

[2021-02-25 16:33] ebrevdo commented on #11157
It depends on what your Lambda layer does.  If it doesn't call to
tensorflow, then it's possible your thread/lock object is completely
unrelated to the one in the bug - aka you would want to push a new bug or
debug why you have locks in your code.  If your code is accessing variables
- don't.  Lambda is not meant for code that accesses tf.Variables. If
you're in tf1 legacy mode,then the issues are

[2021-02-25 17:00] Alperen-KY commented on #33916
Blas SGEMM launch failed : m=25600, n=16, k=32 [Op:Conv2D]

Did anyone solve the problem?

_win10-gtx1660ti-python3.8-tf2.4-cuda11.0-cudnn8.1_

The all shell promt is:

C:\Users\KAYA\Desktop\Traffic Signs\RealTimeObjectDetection-main>python Tensorflow/models/research/object_detection/model_main_tf2.py --model_dir=Tensorflow/workspace/models/my_ssd_mobnet --pipeline_config_path=Tensorflow/workspace

[2021-02-25 17:01] jnphilipp commented on #47242
@jvishnuvardhan no, you're not missing anything in the gist.

[2021-02-25 17:04] rposts commented on #39754
Closing as per `no_oss`.

[2021-02-25 17:04] #39754 closed

[2021-02-25 17:05] jameshfisher opened #47404 "Layer .input_shape and .output_shape wrongly claim "The layer has never been called""
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 11.2
- TensorFlow installed from (source or binary): https://github.com/apple/tensorflow_macos
- TensorFlow version (use command below): v1.12.1-44680-gc3fea33a21 2.4.0-rc0
- Python version: 3.8.6

**Describe t

[2021-02-25 17:08] nailimixaM commented on #47186
Hi @rmothukuru, any update on this? Thanks

[2021-02-25 17:17] GrigoriiTarasov opened #47405 "Login loop caused by unmet packages in gpu Ubuntu16.04 installation guide"
**System information**
- OS Platform and Distribution Linux Ubuntu 16.04:
- GeForce GTX TITAN 2070
Other inapplicable cause I following a guide:
https://www.tensorflow.org/install/gpu?hl=ur#ubuntu_1604_cuda_110

**Describe the problem**
23th line
`sudo apt-get install --no-install-recommends     cuda-11-0     libcudnn8=8.0.4.30-1+cuda11.0      libcudnn8-dev=8.0.4.30-1+cuda11.0`

leads to
`Reading

[2021-02-25 17:22] rposts commented on #46181
Thanks @mihaimaruseac - I presume [this](https://github.com/tensorflow/build) is what we are referring to.

[2021-02-25 17:24] raulcarlomagno commented on #47233
what about this?
https://github.com/ypeleg/nfnets-keras
maybe some code could be reused

[2021-02-25 17:28] princyok commented on #47021
@amahendrakar

That's exactly the problem, just as the title says. It leads to other issues as explained in the main post above.

[2021-02-25 17:50] mihaimaruseac commented on #44485
We have py39 wheels in recent `tf-nightly` and `tf-nightly-cpu` projects. Pending `tf-nightly-gpu`.

MacOS is not yet supported. Only Linux and Windows for now, not all of them are in all of the above projects yet due to other unrelated failures. Please test nightly before the 2.5 release so we can get 2.5 release with good py39 support.

[2021-02-25 17:51] nouiz commented on #47386
I still have this error:
[code]

with your commit and with e5bf7893fefb12b796c075d6d4cd3a608d84c2f2.

[2021-02-25 17:54] mihaimaruseac commented on #46617
It does not support AVX.

All versions of TF since 1.6 require CPUs that support AVX. You can compile from source or use a cloud VM (for example via Google Collab).

Closing since the issue is with the CPU, not with TF.

[2021-02-25 17:54] #46617 closed

[2021-02-25 18:00] mihaimaruseac commented on #46181
Yep, that's correct.

[2021-02-25 18:00] Homayra22 opened #47406 "How to run a model training command in redhat linux slurm file?"
<em>Hello , I am trying to run a model training command  for object detection in cluster server. For this reason, I need to run a final command in a particular directory . As I am working on a cluster server, I am creating a slurm file. After the basic instructions, I  wrote the directory where the training command will be executed and now I am unable to connect the training command with the slurm

[2021-02-25 18:00] mihaimaruseac commented on #39754
`no_oss` means that the test was broken in OSS at some point.

[2021-02-25 18:03] Verma-Rajat opened #47407 "Different outputs from GradientTape and CropAndResizeGradImage"
**System information**
== tensorflow installed from info ==================
Name: tensorflow
Version: 2.4.1
Summary: TensorFlow is an open source machine learning framework for everyone.
Home-page: https://www.tensorflow.org/
Author-email: packages@tensorflow.org
License: Apache 2.0
Location: /home/user/.venv/lib/python3.6/site-packages
Required-by:

== python version  ============================

[2021-02-25 18:08] andcastillo commented on #44467
I went around doing one of those 2 things:
1. Edit the hdf5_format.py file to delete all the references to `.decode('utf-8')` e.g: model_config = json.loads(model_config). Once you get the model loaded save the model in a json file and the weights in a h5 file. Then load the model like this:
`
json_file = open('keras-facenet-h5/model.json', 'r')
loaded_model_json = json_file.read()
json_file.close

[2021-02-25 18:11] mihaimaruseac commented on #47303
Can you detail the errors?

[2021-02-25 18:32] greenbeauty commented on #44777
this also worked for me... is this dangerous in some way? i mean, it's loading a different verson than it expects, no?

[2021-02-25 18:35] bhack commented on #44467
Can you try with `tf-nightly`?

[2021-02-25 18:38] khu834 commented on #47311
The main issue here is that you are using a custom loss callback that takes an argument `advantage` (from your data generator, most likely numpy arrays).
In Tensorflow 2 eager execution, the `advantage` argument will be numpy, whereas `y_true`, `y_pred` are symbolic. The way to solve this is to turn off eager execution

[code]

See similar [stackoverflow issue](https://stackoverflow.com/questions/

[2021-02-25 18:46] amahendrakar commented on #39671
@ngc92,
Please take a look at [this guide](https://www.tensorflow.org/guide/keras/customizing_what_happens_in_fit#a_first_simple_example) to customize what happens in the `model.fit()` function and let us know if this is what you're looking for? Thanks!

[2021-02-25 18:56] Doekeb commented on #42101
Here to confirm that this is happening for me as well on Tensorflow 2.4.1. Here's MWE:
[code]

![model](https://user-images.githubusercontent.com/13689478/109202594-2757b000-7771-11eb-9dd4-a39a34305455.png)

[2021-02-25 19:18] amahendrakar commented on #39526
@TylerADavis,
The command to check if CUPTI exists on a particular path has been updated.

Could you please take a look at [this link](https://www.tensorflow.org/guide/profiler#install_the_profiler_and_gpu_prerequisites) and let us know if this is still an issue? Thanks!

[2021-02-25 19:31] shengy90 commented on #47368
https://colab.research.google.com/drive/13MXa8Q96M6uzlkK3K_M7vmQfclL59eRj?usp=sharing

Confirmed working when training with RMSProp with no momentum, similar to issue #31318 for TF1.14.

[2021-02-25 19:37] robbinc91 commented on #38589
I had the same issue.
First I was using TensorFlow 2.0.0 and Keras 2.3.1
Then I updated to 2.4.1. and the most recent version of Keras. But I had some troubles so I got back to version 2.0.0.
Then the error started.
After a day of looking everywhere on my computer, found that the version 2.4.1 had not entirely been eliminated from my system, and it was lik overriding my version 2.0.0
Found it in t

[2021-02-25 19:39] jurahul commented on #47386
Thanks for checking. Looking again, I guess I need to attempt to build TF from OSS and try to reproduce the issue first.

[2021-02-25 20:02] TylerADavis commented on #39173
@pavithrasv I've opened #47410 , could you take a look and share your thoughts on the best way to make the changes to the `meanIoU()` interface?

[2021-02-25 20:03] bhack commented on #41396
Yes this is quite a problem also for the integrated pylint support in IDEs

[2021-02-25 20:26] koh-joshua commented on #41380
I have made the switch to **Ubuntu 20.04. Tensorflow 2.4 is running like a dream**. No errors, No Failed to Rename surprises to torture you. No nasty exceptions when you least expect it. As Stevo once said: "It Just Works!".
Looks like this is a Windows-related issue.

[2021-02-25 21:00] YIMINGMA opened #47411 "No algorithm worked on Ubuntu 20.04 LTS with CUDA 11.0 and Tensorflow 2.4.1"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2021-02-25 21:09] YIMINGMA commented on #47411
The same code in [mnist_convnet](https://keras.io/examples/vision/mnist_convnet/) works perfectly on Windows 10, with the same version of CUDA (11.0) and CUDNN (8.04).

A temporary solution for me is
[code]
But I am using tensorflow 2.4.1, which shouldn't depend on version 1.x to run.

[2021-02-25 21:13] michaelbanfield commented on #47386
I was able to resolve this by wiping out my bazel cache.

[code]

[2021-02-25 21:17] lgariv commented on #41892
Hey, I'm using the TensorFlow 2.2.0 from pip, and I get `Num GPUs Available:  0`. Did you have to do anything special to make it work?

[2021-02-25 21:18] manivaradarajan commented on #41892
Please open a new issue instead of piggybacking on a closed issue.

[2021-02-25 21:22] abattery commented on #47400
@yyoon could you take a look?

[2021-02-25 21:23] abattery commented on #47401
@miaowang14 could you take a look at this issue?

[2021-02-25 21:26] hunse commented on #46515
Thanks for the suggestion, @tomerk. I standardized the number of threads, which seems to have reduced the discrepancy between TF 2.3 and 2.4 in that case.

However, for that same network, when I compare between 2.2 and 2.4, I still see a significant difference. The difference is still there whether I use 4, 2, or 1 thread.

I've [attached some profiling for 1 thread](https://drive.google.com/file/

[2021-02-25 21:29] miaowang14 commented on #47401
Good question! We are actually working on (and testing with) exposing Burst mode through NNAPI delegate.

Hopefully we can land it soon, will keep you updated on this.

[2021-02-25 21:39] advaitjain opened #47413 "TFLM project generation support (version 2)"
Similar to https://github.com/tensorflow/tensorflow/issues/45086 and https://github.com/tensorflow/tensorflow/issues/44909, but broader in scope.

Some high level goals for project generation v2 are:
 * Having the bulk of the project generation logic moved out of the TFLM Makefiles.
 * Having TFLM support a Python interface that can be used for project generation
 * Moving the specific logic for p

[2021-02-25 21:39] ymodak commented on #47245
Since your current config does not support avx instructions sets it is not optimized for higher versions of TF and perhaps causing the errors you see in executing deepdream tutorial on your local machine.

[2021-02-25 21:50] FlorinAndrei commented on #46274
Matplotlib closed the bug report, basically saying "your output is wrong, please fix it".

[2021-02-25 21:52] #46826 closed

[2021-02-25 22:29] mwaskom commented on #46274
FWIW (I am not a matplotlib dev) the claim isn't that the TF output format is *wrong*, just that the TF output format isn't *numpy*, which is all they claim to support.

In debugging this I did notice one difference between the numpy objects and the TF emulation, which is part of why this doesn't work as expected in matplotlib (which thinks the 1D input it gets from TF is a collection of vectors):

[2021-02-25 22:32] furknclk commented on #46882
Hi man. I am working on the same project. Can you share your experience with me ? I dont know where should i start.

[2021-02-25 22:43] Abduttayyeb commented on #47403
@liming-developer-python I think you should look once here #39130, check the py ver. you are using, maybe that's creating an issue.

[2021-02-25 22:47] jurahul commented on #47386
Thanks Michael. I also was able to build OSS TF after this change. Back to @nouiz to check if deleting the bazel cache fixes the issue.

[2021-02-25 23:01] alenik01 opened #47415 "Changes to MklConvFwdPrimitiveFactory to support Arm Compute Library backend"
**System information**
- TensorFlow version (you are using): 2.4.1
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
At the moment MklConvFwdPrimitiveFactory reuses already created oneDNN primitives, stored in the vector `fwd_primitives`, with the help of [GetConvFwd](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kerne

[2021-02-25 23:02] alenik01 commented on #47415
Please have a look, @agramesh1

[2021-02-25 23:11] wangpengmit commented on #46274
The root cause is that `_reshape_2D` in `matplotlib` used to do an `np.asarray` on the input first but https://github.com/matplotlib/matplotlib/commit/ac018af76cae81054dd27c2d4039dfd5467a1366 removed that. Currently it still recognizes an object with a `to_numpy` method as numpy array, but not those with `__array__`, which is TF's way to emulate numpy array.

[2021-02-25 23:17] yyoon commented on #47400
@bvirlet Yes, you are correct that we're blocked by the missing bazel support. Once bazel supports it, we will be migrating to .xcframework to incorporate the different target architectures, including the simulators on the new Apple silicon.

[2021-02-25 23:19] ymodak commented on #19530
Graph transform tool is [deprecated](https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md#list-of-projects) with TF 2.X versions and replaced by [Grappler](https://www.tensorflow.org/guide/graph_optimization).

[2021-02-25 23:19] #19530 closed

[2021-02-25 23:28] jvishnuvardhan commented on #47242
So, the issue was resolved for you.? Thanks!

[2021-02-25 23:29] jvishnuvardhan commented on #47242
So, the issue was resolved for you.? Thanks!

[2021-02-25 23:33] tmladek commented on #47245
Do you believe this to be the case even though I built TensorFlow from source on that very machine?

[2021-02-25 23:35] jvishnuvardhan commented on #47242
@ZeroOut @ghylander As mentioned by you, looks like this was related to numpy version. I just checked that TF was built with `'numpy ~= 1.19.2'` . Please check [here](https://github.com/tensorflow/tensorflow/blob/r2.4/tensorflow/tools/pip_package/setup.py#L84) to know all the packages and their versions that were used when building TF `pip` package`2.4`. Thanks!

[2021-02-25 23:47] #47313 closed

[2021-02-25 23:47] #47316 closed

[2021-02-25 23:48] advaitjain opened #47417 "Remove unit8 support from kernels prior to adding new optimized implementations"
We would like TFLM to not continue to support the deprecated quantization (see https://github.com/tensorflow/tensorflow/issues/44912).

As a result, for newer code (including optimized implementations, such as https://github.com/tensorflow/tensorflow/pull/46500) we are avoiding uint8 support.

A by-product of this is that we need to `ifdef` the uint8 test cases in a way that is not scalable:
https

[2021-02-25 23:51] #25086 closed

[2021-02-25 23:54] advaitjain commented on #47417
@yair-ehrenwald, this came up when @njeffrie and I were discussing the changes from #46500. We'll work with you to figure out a path forward for future PRs that you are working on.

[2021-02-26 00:01] dellis23 commented on #44241
Thanks for reporting this.  It should be fixed with b8d17793a7aae010754d7776612af5b9b1f5252f and 1bd0748a42e2731e04b0b4d4b6fedcc34222492a.  Both should be available in the upcoming 2.5 release.

[2021-02-26 00:01] #44241 closed

[2021-02-26 00:49] acuskev commented on #47328
Hi,

Thanks for the response but we are installing 2.4 through pip and cannot access the TF source code to change the function. Is there any approach to resolve just through changes in the model code?

[2021-02-26 01:04] bhavika commented on #27794
This worked for me as well.

[2021-02-26 01:20] liming-developer-python commented on #47403
@Abduttayyeb Thanks for your advise
I installed python tensorflow 2.1.0 successfully But have same error continuosly.
Please can you tell me another solution to solve that loading model error?
![image](https://user-images.githubusercontent.com/75870530/109241139-caf99c80-7813-11eb-99fa-809dff940087.png)

[2021-02-26 01:48] fchollet commented on #47321
Hi,

Thanks for reporting this issue. The documentation appears to be outdated: the generator would only execute on the main thread in graph-mode TensorFlow (v1.x). We'll update the documentation,

In your case, there's a simple trick you can use to get the old behavior without reverting to TF 1.x: you can call `tf.compat.v1.disable_eager_execution()` at the start of your program. This will use th

[2021-02-26 01:48] #47321 closed

[2021-02-26 02:12] jbaiocchi commented on #37543
Can you try with the new nightly? The following commit makes the callback resilient to concurrent profiling:
https://github.com/tensorflow/tensorflow/commit/53ff2339b3c05a6efbe5bdbdd6c40b8973fb8e17

[2021-02-26 02:26] uranusx86 commented on #47364
Hi, I test tflite file on Colab today.

It show same performance issue, detect_using_command.tflite **is better than** detect_using_api.tflite.

test code:

[code]

and result

[code]

[2021-02-26 02:34] sanjoy commented on #46635
I don't think we have a detailed guide for this, but if you're comfortable with C++ you could try to start [at the check that's failing](https://github.com/tensorflow/tensorflow/blob/5ecbbd87a4556e06cbb3dcf384d088dd27fce4e0/tensorflow/core/framework/variant_op_registry.h#L317).

[2021-02-26 02:42] sanjoy commented on #47325
This prints `tf.Tensor([b'hi' b'there'], shape=(2,), dtype=string)` on tf-nightly, so I'm assuming this is already fixed.

@hosford42 I'm closing the issue for now, but please reopen if you find that it is not fixed.

[2021-02-26 02:42] #47325 closed

[2021-02-26 02:42] jvishnuvardhan commented on #47263
@ghylander As you noticed this is more related to numpy version (>1.20). As mentioned [here](https://github.com/tensorflow/tensorflow/blob/r2.4/tensorflow/tools/pip_package/setup.py#L84), there is a bound on numpy versions supported by TF2.4  ( ~=1.19.2). Currently numpy version should be  >=1.19.2 and  < 1.20.

As you mentioned in the other issue, downgrading numpy 2.x to the versions mentioned a

[2021-02-26 02:44] lfsblack opened #47420 "evaluate"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2021-02-26 02:45] #47420 closed

[2021-02-26 02:50] jvishnuvardhan commented on #47311
@Ellislee1 Looks like this is a duplicate issue https://github.com/tensorflow/tensorflow/issues/47263

Please note that `Tensorflow 2.4` requires numpy version to be >=1.19.2 and < 1.20.
cc @mihaimaruseac

Please downgrade numpy version from 1.20 to the versions mentioned above and test the code. Please let us know how it progresses. Thanks!

Please verify once and close the issue if this was reso

[2021-02-26 02:54] relgukxilef commented on #46475
I have encountered the same problem and was able to create a slightly smaller example to reproduce it. If left running for long enough the RAM usage increases until swapping causes the GPU utilization to drop.

[code]

[2021-02-26 02:55] jvishnuvardhan commented on #47242
Similar issues that are due to numpy version 1.20.

https://github.com/tensorflow/tensorflow/issues/47263
https://github.com/tensorflow/tensorflow/issues/47311

[2021-02-26 02:56] hitobito2009 opened #47421 "NotFoundError: It shows libcudart.so.8.0, but I am using CUDA 10.0."
Hello everyone.
I wanted to use TensorFlow 1.13.1, so I installed it in the following environment.
-----system information-----
OS:Ubuntu18.04.5 64bit
CPU:Intel Core  i7-10700 @2.90Ghz x 16
RAM:16GB
GPU:Gefoce RTX2060
CUDA:10.0.130
cuDNN:7.4
GPU driver:460.32.03
python2.7
-----------------------------------

-----The following error message will be displayed-----
tensorflow.python.framework.errors

[2021-02-26 03:00] jvishnuvardhan commented on #46427
@manuel-masiello There is no equivalent to `save format` = 'tf'. `save_format` has two options only ('tf' or 'h5'). Thanks!

[2021-02-26 03:07] Arjun-NA commented on #47334
Hi @abattery, I was working with @kavyaprasad22. The code of the model is already there in the link provided by @kavyaprasad22  in the reply

Do you want the *.tflite file of the model?

Thanks,
Arjun.

[2021-02-26 03:19] jvishnuvardhan commented on #46427
@manuel-masiello I think the issue with 'h5' is due to its limitation. There are some limitations on what can be saved as part of `h5` format. Please check this [guide](https://www.tensorflow.org/guide/keras/save_and_serialize#keras_h5_format) to know more about it.

I am closing this issue as this was resolved. Please feel free to reopen if I am mistaken. Thanks!

[2021-02-26 03:19] #46427 closed

[2021-02-26 03:33] kavyaprasad22 commented on #47334
This [link](https://github.com/kavyaprasad22/MNV3/tree/main/tflite) has the files for running the model on client side (IMXRT 1060).

[2021-02-26 03:50] jvishnuvardhan commented on #27909
@atomextranova Looks like this was resolved in recent stable version `TF2.4`. I ran your code (with two small modifications) and everything worked as expected. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/b13a14584b101aeaa091dee26fd7784d/untitled.ipynb).

The following are the two small changes from
[code]

to

[code]

I am closing this issue as this was resol

[2021-02-26 03:50] #27909 closed

[2021-02-26 03:56] jvishnuvardhan commented on #45854
@claverru I think the original issue was resolved.

I am closing this issue as the original issue was resolved. Please feel free to reopen if I am mistaken. Thanks!

[2021-02-26 03:56] #45854 closed

[2021-02-26 04:10] jvishnuvardhan commented on #47138
@158703127 If you are looking for RESHAPE op, may be the example provided in [this issue](https://github.com/tensorflow/tensorflow/issues/45150) might help.

Please provide any standalone code to reproduce the issue. If you have a general question, please post them in Stackoverflow as GitHub is mainly for bugs and performance related issue. There is a large community on Stackoverflow that support

[2021-02-26 04:17] jvishnuvardhan commented on #47191
@sdonatti I understand your feelings about Anaconda package but we don't have any control on those builds and I am sure their repo might provide faster resolution to your problem.

cc @mihaimaruseac

I am closing this issue as we cannot do much with Anaconda based TF Package. Thanks!

[2021-02-26 04:17] #47191 closed

[2021-02-26 04:45] ymodak commented on #40604
The docs are now updated with commit [e82e381](https://github.com/tensorflow/tensorflow/commit/e82e381c5452e68918bef612ee324a4415108802). Thanks!

[2021-02-26 04:45] #40604 closed

[2021-02-26 04:53] WindQAQ commented on #47361
@abattery Is probably like `tf.logical_not(tf.logical_or(tf.is_nan(x), tf.is_infinite(x)))`

Thank you for the help!

[2021-02-26 04:59] ysyyork commented on #47233
I referred to this but it's not working out of box. it's converted from the original pytorch code without a careful transition to keras. Let me just copy paste my code here for whoever wanna work on this:

[code]

[2021-02-26 05:00] abattery commented on #47334
Generally, there are two TF versions, one for executions and one for conversion. Could you make sure that the TF version used for executions should have the same TF version with the one for conversion or higher? We do not guarantee the compatibility that the TF for executions has a lower version than the TF for conversion.

[2021-02-26 05:06] #47090 closed

[2021-02-26 05:09] amit-agni commented on #33755
I am getting the same error for non_neg() constraint and the workaround suggested by @rzilleruelo works for me. Now, I am interested in extracting the weights after applying the non_neg() constraint, how can I do that ?

For the Embedded layer I could do this :
model.get_layer(name='embedding_name').get_weights()

[2021-02-26 05:11] hosford42 commented on #47325
@sanjoy, was that when using the GPU? It doesn't occur with CPU. See @amahendrakar's earlier comment:

[2021-02-26 05:18] Saduf2019 commented on #47404
I am able to replicate the issue reported, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/55e1f6adb00a794bd52d780958a9df23/untitled552.ipynb)

[2021-02-26 05:20] Saduf2019 commented on #47393
I am able to replicate the issue reported on tf 2.4 and nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/a61b1be61641de145afc27ff46e02b7d/untitled552.ipynb)

[2021-02-26 05:28] Saduf2019 commented on #47407
@Verma-Rajat
I ran the code and do not face any error as reported, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/50fab505fc9ba2bdbb07a48ec0edf3a1/untitled552.ipynb#scrollTo=cPgBtJFj-1MP)

[2021-02-26 05:32] Saduf2019 commented on #47421
@hitobito2009
Is there any particular reason for using tf 1.x, as there is no support for 1.x please upgrade to 2.x and let us know if you face any issues.

You may also refer to similar error issues: [link](https://github.com/tensorflow/tensorflow/issues/5343), [link](https://stackoverflow.com/questions/43162667/importerror-libcudart-so-8-0-cannot-open-shared-object-file-no-such-file-or-d), [link

[2021-02-26 05:47] kukzile commented on #47401
Thanks very much
ᐧ

On Fri, Feb 26, 2021 at 3:00 AM Miao Wang <notifications@github.com> wrote:

--
Kriti Kukreja

[2021-02-26 05:50] Verma-Rajat commented on #47407
Hmm, in your gist, I don't see test_crop_and_resize() getting invoked.

[2021-02-26 05:57] Verma-Rajat commented on #47407
One interesting thing is on my local system with 'tf-nightly' I see mismatches of larger magnitude.
[code]

While on jupyter notebook, they are of very small magnitude.
[code]

[2021-02-26 06:07] WindQAQ commented on #47364
@uranusx86 @abattery The model is very different. The API converted model uses `tf.lite.Optimize.DEFAULT`, which enables quantization as per https://www.tensorflow.org/api_docs/python/tf/lite/Optimize?version=nightly (I would say this argument is bogus because it's not default at all... ). For example, you can see that `ssd_mobile_net_v2keras_feature_extractor/model/block_1_project/Conv2D` has int

[2021-02-26 06:18] abattery commented on #47364
Thanks @WindQAQ a lot for the through investigations! :-) Your explanations make sense.

[2021-02-26 06:22] abattery commented on #47364
@uranusx86 You can remove the `converter.optimizations = [tf.lite.Optimize.DEFAULT]` line. Then, you will have the almost same model with the one generated by the command line.

[2021-02-26 06:24] Saduf2019 commented on #47401
@kukzile
Please move this to closed status as this is already in process.

[2021-02-26 06:24] AdityaKane2001 commented on #47392
@rutvi1462
If you run this code with a normal Python interpreter, this output is expected. To resolve this, you have two options. One, you can save these images to disk and view them as normal images. Secondly, you can try with `cv2.imshow()` method. This works when calling through interpreter and shell.
Sometimes Jupyter or Colab notebooks face similar issues, so it's best to avoid them for this

[2021-02-26 06:30] sanjoy commented on #47325
This was on my local machine and TF was able to use the GPU.  Can you confirm that you're able to reproduce the problem with tf-nightly?

[2021-02-26 06:38] hoaquocphan opened #47422 "conflict numpy version between tensorflow and tf-nighty"
When I install tf-nighty as below command:
`pip3 install tf-nightly`

the error appear as below:

[code]
this mean:
the tensorflow requires numpy <1.19.0
but the tf-nighty requires numpy 1.19.5

so I cannot install tensorflow and tf-nighty at same time,
so please help me solve this issue.

[2021-02-26 06:39] multiverse-tf commented on #46986
Sorry for the late reply. I also had a segfault issue recently with a very similar stack trace. And it turned out to be caused by an int overflow when handling very large tensors in the RUY library. A fix is WIP. After it's pushed, pls patch it and see if this happened again or not.

[2021-02-26 06:48] arnoegw commented on #40380
This has been fixed with commit https://github.com/tensorflow/tensorflow/commit/5931dc3cb388063c1512b16e1b90f579a012f91c

The optimizer slot variables in @philipp-eisen 's colab go away when running it with
[code]

[2021-02-26 07:00] ashishpatel26 commented on #46073
@xumengwei  Try this

[code]

[2021-02-26 07:13] uranusx86 commented on #47364
WOW, thank you guys.

After remove `converter.optimizations = [tf.lite.Optimize.DEFAULT]`, the files are same.

I never knew tf.lite.Optimize.DEFAULT option enables quantization ...

And it make sense why API converted model is slow than Commandline converted model because I use very old mobile (snapdragon 801) to test, the CPU performance may degrade when compute quantization operation.

[2021-02-26 07:14] abattery commented on #47107
@karanjakhar could you try conversion with the tf-nightly version? I have resolved the conversion issues related to TensorList recently by implementing Flex fallback.

[2021-02-26 07:31] benbarsdell commented on #47386
I hit this error too. Doing a `bazel clean --expunge` fixed it. Does this indicate a bug in Bazel?

[2021-02-26 07:56] opprud opened #47424 "SELU activation in TFlite micro"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): **2.5**
- Are you willing to contribute it (Yes/No): Yes

[2021-02-26 08:23] #47401 closed

[2021-02-26 08:37] WindQAQ opened #47425 "Disable unroll batch matmul pass"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library (version, if pip package or github SHA, if built from source): nightly

### 2. Code

https://colab.research.google.com/drive/1VxiMyDs5B_Oxcg29EmPSu9qgvPejCWqx?usp=sharing

### 3. Failure after conversion

It's all success

[2021-02-26 08:38] KejaPower commented on #44152
Hello,
The issue was linked to my directory structure on my MAC so I started the git clone from a different clean directory and then it worked perfectly.
hope it helps

[2021-02-26 08:54] abattery commented on #47425
Thanks @WindQAQ  for filing a feature request.

[2021-02-26 08:56] rutvi1462 commented on #47392
@AdityaKane2001
Thanks for your answer. Images are already saved in my drive. But its give me same output. And I tried `cv2.imshow()`. I wrote this above `display(Image.fromarray(image_np))`. But it would show me only image. This is not detect at least wrong object. Do you have any solution?

[2021-02-26 09:02] AdityaKane2001 commented on #47392
So, if you are accessing from a script, IPython module will not help you. Please try with `cv2.in=imshow()` . Secondly, when using cv2, don't forget to manually draw the boxes using `cv2.rectangle()`  . I think using this method, you will get your results.

In case the issue gets resolved, don.t forget to close this issue.

[2021-02-26 09:06] #47100 closed

[2021-02-26 09:07] abattery commented on #47425
@talumbau could you take a look at this?

[2021-02-26 09:07] bvirlet commented on #47400
Thanks. For reference, I'm linking this issue here that's related/the same: https://github.com/tensorflow/tensorflow/issues/44609

[2021-02-26 09:14] liming-developer-python commented on #44467
@bhack can you let me know more about tf-nightly?

[2021-02-26 09:15] bhack commented on #44467
https://pypi.org/project/tf-nightly/
https://stackoverflow.com/questions/59500294/what-is-the-difference-between-tf-nightly-and-tensorflow-in-pypi

[2021-02-26 09:15] liming-developer-python commented on #44467
@andcastillo Can you show full example or guide to do like your suggestion? Thanks

[2021-02-26 09:30] tiagofrepereira2012 commented on #37365
Hi,

Is there any fix on the way to this issue?
I can't do `tf.keras.applications.ResNet50(use_bias=False)`, since `use_bias` is a hardcoded set to `True` here https://github.com/tensorflow/tensorflow/blob/v2.4.1/tensorflow/python/keras/applications/resnet.py#L471

Of course, I can hack the way through it but would be nice to have a fix.

Thanks

[2021-02-26 09:34] amicotin opened #47426 "In EXPO load coco-ssd model speed very slow"
Hello, I'm running a demo test in expo, but I found coco-ssh model loading is really slow or nothing happens. By the way I'm in China, is it caused by internet restrictions? Please give some help, thanks.
this.model = await cocossd.load() // loading, no response

My code:
import React from 'react'
import {
  StyleSheet,
  Text,
  View,
  ActivityIndicator,
  StatusBar,
  Image,
  TouchableOpacity

[2021-02-26 09:39] amahendrakar commented on #47402
Was able to reproduce the issue. Please take a look at the below screenshot for reference

![Screenshot 2021-02-26 3 05 53 PM](https://user-images.githubusercontent.com/57165142/109282900-28a5dd00-7844-11eb-9d29-83ec21948a20.png)

Thanks!

[2021-02-26 09:58] ahtik commented on #44485
I do get a build failure when trying to build the latest master (1627cd9e368) Windows wheel for Python 3.9.

I wonder if the following error is one of the known issues or worth reporting? CUDA 11.2, compute capabilities 7.5, 8.6.

[code]

[2021-02-26 10:07] samanemami commented on #44485
Still does not work for me (windows - py39)!

[2021-02-26 10:17] amahendrakar commented on #47402
@GrigoriiTarasov,
With reference to issue [#44301](https://github.com/tensorflow/tensorflow/issues/44301#issuecomment-716250923), ignoring the `sudo apt-get install --no-install-recommends nvidia-driver-450` command seems to work in this case.

Could you please skip that particular step and check if you are able to install TensorFlow. Thanks!

[2021-02-26 10:25] dinkdeep opened #47427 "Pass for Dialect conversion from Tflite to TF"
Does there exists a Pass that can take back for Dialect conversion from Tflite to TF, TFlite->TF
We need something which preserves the quantization info generated during Tflite and detours back to TF where we can lower it down to HLO and Linalg thereon.
We don't need a new Dialect but just a Pass that can visit the Tflite IR and reconvert it back to TF getting back the Quantization info.

[2021-02-26 10:25] jameshfisher opened #47428 "Normalization layer supresses ValueError when model is called with bad input shape"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab notebook, and everywhere else tested
- TensorFlow installed from (source or binary):  Colab notebook, and everywhere else tested
- TensorFlow version (use command below): v2.4.1-0-g85c8b2a817f 2.4.1
- Python ve

[2021-02-26 10:27] amahendrakar commented on #47405
@GrigoriiTarasov,
As mentioned in [#47402](https://github.com/tensorflow/tensorflow/issues/47402#issuecomment-786553342), except for the `sudo apt-get install --no-install-recommends nvidia-driver-450` command, I was able to install CUDA without any issues.

Could you please skip that particular command and let us know if you are still facing the same issue. Thanks!

[2021-02-26 10:32] rmothukuru commented on #42140
@lriuui0x0,
Can you please confirm if we can close this issue as as RFC has been created as mentioned in the [above comment](https://github.com/tensorflow/tensorflow/issues/42140#issuecomment-759074051)? Thanks!

[2021-02-26 10:46] amahendrakar commented on #47411
@YIMINGMA,
I was able to run the code without any issues, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/a8cd7d105807762f8534051ba6323453/47411.ipynb).

Seems like the error was caused due to TensorFlow consuming all the GPU memory. To prevent this, you can use the solution already working for you. Or else, you can also try any of the alternatives suggested i

[2021-02-26 10:57] abattery commented on #47427
Thanks for filing a feature request. We do not have such feature yet.

[2021-02-26 11:01] dinkdeep commented on #47427
Thanks @abattery so as of now what are the alternatives we can have for this I mean to say how do we go about if we need to get it to happen.

[2021-02-26 11:03] #47364 closed

[2021-02-26 11:05] abattery commented on #47427
See also https://google.github.io/iree/design-roadmap#quantization I don't know good answers on this. CCing @liufengdb

[2021-02-26 11:14] mcschmitz commented on #47344
So I was kind of able to overcome this problem locally by manipulating the `train_step` method of the Model

[code]

It's a bit hacky though and while it allows me to do triplet mining with a large batch on my local machine I'm not sure whether it solves the distribution problem. So I'd still appreciate any recommendation or tip on how to solve this in a more efficient way.

[2021-02-26 11:39] karanjakhar commented on #47107
Okay, I try that, Thanks.

On Fri, Feb 26, 2021 at 12:45 PM Jae sung Chung <notifications@github.com>
wrote:

[2021-02-26 11:59] samanemami opened #47430 "Cannot import name 'boosted_trees_test' from 'tensorflow_estimator.python.estimator.canned'"
When I am trying to import boosted_trees_test, I face the following error:

`cannot import name 'boosted_trees_test' from 'tensorflow_estimator.python.estimator.canned' (C:\Users\user\AppData\Local\Programs\Python\Python38\lib\site-packages\tensorflow_estimator\python\estimator\canned\__init__.py)
`

Also, I could not find the boosted_trees_test in the latest TF package (2.4)

[2021-02-26 12:02] liyinhgqw opened #47431 "Failed to run models with libtensorflow_jni and tensorflow text together"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS7
- Mobile device (e.g.

[2021-02-26 12:08] stronquens commented on #46093
Tested and doesn't work

[2021-02-26 12:10] jameshfisher opened #47433 "Model.predict accepts tensors of incorrect rank"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab (Ubuntu 18.04)
- TensorFlow installed from (source or binary): Colab
- TensorFlow version (use command below): v2.4.1-0-g85c8b2a817f 2.4.1
- Python version: 3.7.10

**Describe the current behavior**
* When defi

[2021-02-26 12:13] rmothukuru commented on #42450
@shkarupa-alex,
As the [Documentation of Grappler Optimizers](https://www.tensorflow.org/guide/graph_optimization#available_graph_optimizers) specify which Optimizers are turned on by Default, can you please confirm if we can close this issue? Thanks!

[2021-02-26 12:15] shkarupa-alex commented on #42450
Now it's clear.
Thanks!

[2021-02-26 12:18] rmothukuru commented on #43929
@Antymon,
Can you please respond to the above comment? Thanks!

[2021-02-26 12:24] Antymon commented on #43929
Sure! Thank you for the reference @yashk2810, that does shed some light indeed!

@rmothukuru As for the issue - I haven't noticed any change in the tutorial contents, or have I missed something? If you want to help just me that's fine, but if you want to enlighten more people perhaps you would like to revisit the contents I have referred to above.

Thank you!

[2021-02-26 12:31] rmothukuru commented on #42450
Closing the issue as it has been resolved.

[2021-02-26 12:31] #42450 closed

[2021-02-26 12:38] rmothukuru commented on #44037
@golden0080,
Sorry for the delayed response. Please refer the links mentioned below for Contributing to Tensorflow Documentation:

Contributor guide: https://www.tensorflow.org/community/contribute/docs,
Docs API guide: https://www.tensorflow.org/community/contribute/docs_ref and the
Docs style guide: https://www.tensorflow.org/community/contribute/docs_style

Thanks!

[2021-02-26 12:43] rmothukuru commented on #45123
@holokai-ai,
Can you please confirm if we can close this issue as [Meta Data Writer Library](https://github.com/tensorflow/tflite-support/tree/master/tensorflow_lite_support/metadata/python/metadata_writers) is released as stated in the [above comment](https://github.com/tensorflow/tensorflow/issues/45123#issuecomment-754856953)? Thanks!

[2021-02-26 12:50] rmothukuru commented on #45706
@rschumi0,
[ Keras Dot Layer](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Dot) doesn't accept **`(0,0)`** for **`axes`**. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/c47fafc91a069b557dffc9b020ea0169/dot_layer.ipynb) which gives Value Error.

Can you please confirm if we can close this issue as the functionality is as expected? Thanks!

[2021-02-26 12:58] rmothukuru commented on #45883
@jackd,
Would you be interested to submit a pull request to fix the issue?

If so, please see the docs
contributor guide: https://www.tensorflow.org/community/contribute/docs,
docs API guide: https://www.tensorflow.org/community/contribute/docs_ref and the
docs style guide: https://www.tensorflow.org/community/contribute/docs_style

[2021-02-26 13:14] jaunruh commented on #45200
Same issue with Ubuntu 20.04, tensorflow 2.4.1 and cuda 11.2.

[2021-02-26 13:27] ValleZ commented on #45200
Vanilla tensorflow doesn't work with cuda out of the box. Just follow Nvidia's instructions and use containerized special tensorflow-nvidia with pre-set up environment around.

[2021-02-26 13:27] cfrancesco opened #47436 "Distributed computing, extreme distribution latency"
tf 2.2
python 3.7

I'm trying to distribute a training step over multiple GPU and although I'm not shown any error and the memory seems to be correctly allocated to all the GPUs.
I am experiencing extreme latency in the distribution and collection:
[code]
Specifically it seems that a lot of time is spent for this operation (~5 seconds)
[code]
as well as between calls of
[code]
where I very rudimen

[2021-02-26 13:39] Saduf2019 commented on #45200
@ValleZ
Please create a new issue as this issue is in closed status.

[2021-02-26 14:07] stephanboner commented on #46258
Hey @rsun-bdti, how is it going with the PR2? Am I wrong or is there no header available in reference_ops.h?

[2021-02-26 14:25] Saduf2019 commented on #35065
@charles19920528
Is this still an issue

[2021-02-26 14:27] Saduf2019 commented on #35072
@petewarden
Please let us know if we can move this to closed status as the pull request is in merged status.

[2021-02-26 14:28] Saduf2019 commented on #34966
@hoangcuong2011
Is this still an issue.

[2021-02-26 14:29] Saduf2019 commented on #34757
@Ori226
Is this still an issue.

[2021-02-26 14:31] Saduf2019 commented on #34586
@leonardoaraujosantos
Is this still an issue.

[2021-02-26 14:33] Saduf2019 commented on #34432
@csukuangfj
Is this still an issue.

[2021-02-26 14:57] cfrancesco commented on #47436
Removing @tf.function removes the latency.

[2021-02-26 15:17] nouiz commented on #47386
I have the same behavior as @benbarsdell. the clean shouldn't be needed.

[2021-02-26 15:27] fantauzzi commented on #41021
The same error can be obtained this way:
1) save an Adam optimizer in a Python variable (such that the same instance can be used again later) and use it to compile a Keras model
2) call `fit()` on the model
3) instantiate a Keras model (or load it from a .h5 file), and compile it using the same instance of Adam optimizer as before, the instance saved in a variable at point 1)
4) call `fit()` on th

[2021-02-26 15:29] csukuangfj commented on #34432
@Saduf2019

Sorry, I am no longer working on it and I am not able to set up an environment to verify it.

[2021-02-26 16:06] #47114 closed

[2021-02-26 16:28] nouiz commented on #38205
The fix was included and a new container was made. Now it works.
Thanks.

[2021-02-26 16:28] #38205 closed

[2021-02-26 16:30] monicadsong commented on #40380
Closing this issue now, as the fix has been verified!

[2021-02-26 16:30] #40380 closed

[2021-02-26 17:06] alexpyattaev commented on #47311
Can confirm that this bug triggers also on Python 3.9 and numpy 1.20 (which are stock versions supplied with Arch linux). As such, the only way to get tensorflow working on Arch now is to use conda to get parallel python interpreter going.

[2021-02-26 17:10] dfalbel commented on #47321
Thanks very much for your answer! I'll try the eager execution trick.
I wonder if you think we could have a codepath in tf.data that allows executing the generator in a thread safe manner.

I would write a custom training loop if this was for an applied project, but in the **Keras for R** project we would need to support all callbacks, and etc for the generator codepath and it's probably too much

[2021-02-26 17:41] lgeiger commented on #36505
@mihaimaruseac Thanks for investigating. I created a quick profile with TF 2.4 and most of the time is actually spent in this function call and in the restorev2 operations, so I am not sure if the root cause is actually related to the TF file system implementation:
https://github.com/tensorflow/tensorflow/blob/7a1b65b61397dbad1d400e1d3c7079246dfe309a/tensorflow/python/saved_model/load.py#L161

[2021-02-26 18:05] rsun-bdti commented on #46258
@stephanboner, good catch. There is no function for EXPAND_DIMS in lite/kernels/internal/reference/reference_ops.h, and the TFLM op does not depend on a reference implementation, so PR 2 was skipped. I have updated as such in the header above.

[2021-02-26 18:07] lgariv opened #47441 "tensorflow-gpu 2.2.0 doesn't recognize Nvidia MX130 GPU"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: Windows 10 Build 19042
- TensorFlow installed from (sourc

[2021-02-26 18:07] fchollet commented on #47321
I think it is a reasonable ask. It could be an option in `tf.data.Dataset.from_generator`. @jsimsa would be the best contact point. Consider creating a new issue (referencing this one) to track it.

[2021-02-26 18:19] jsimsa commented on #47321
It is not clear how feasible this is for the following reasons:

1) `tf.data.Dataset.from_generator` uses the `py_func` TensorFlow op for invoking the user-defined function because tf.data implementation needs to transfer execution between C++ and Python and `py_func` provides a robust mechanism for this. `py_func` implementation uses a separate thread to run the user-provided function.

2) tf.dat

[2021-02-26 18:33] SamTov commented on #47303
Sorry I should have been a little more clear. It isn't an issue with any tensor flow functionality it is simply when I run pip install on my package. In the setup.py I have both h5py>3 and tensorflow>2 and so pip fails to run because these requirements conflict with one another. I have no issues with actual tf operations failing.

[2021-02-26 19:04] puneetsl commented on #46361
Thanks @bguisard  for your comment, how can we handle custom scaling functions which need to maintain states. For example, min-max where we need to maintain min and max values from training data?

[2021-02-26 19:16] jurahul commented on #47386
I guess there is nothing to fix now on the tensorflow side. @mihaimaruseac should this issue be reported to bazel?

[2021-02-26 19:18] YIMINGMA commented on #47411
Hi @amahendrakar ! Thank you for your help. But I have found in both links you provided, solutions that work use either `tensorflow.compat.v1 ` or  `tf.config.experimental`, which means these are not supposed to be current version's feature. But anyway, they work.

I don't know whether this is a TensorFlow bug or CUDA/CUDNN bug, but I have decided to switch back to CUDA 10.1. Thanks for your help!

[2021-02-26 19:24] stephanboner commented on #46258
@rsun-bdti cool, thanks for updating. But does it build for you then and can you use the operator? I was struggeling using it today...

[2021-02-26 19:26] karimnosseir commented on #35176
Hi @dimitraka,
You can build the converter command line and run it.

bazel build -c opt tensorflow/lite/python:tflite_convert

then run it
bazel-bin/tensorflow/lite/python/tflite_convert --saved_model_dir=<path> --output_file=/tmp/my_model.tflite

[2021-02-26 19:29] jvishnuvardhan commented on #47311
@alexpyattaev Even Python3.9 is not supported.
The following versions are supported

[code]

Please check the supported packages and their version listed [here](https://github.com/tensorflow/tensorflow/blob/r2.4/tensorflow/tools/pip_package/setup.py#L84). Thanks!

[2021-02-26 20:10] jvishnuvardhan commented on #47393
@noppelmax Looks like this throws an error when the object has single element. When I have list object as shown below, then there is no issue.  Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/be4093be730a116a6a1046fe7dbad607/untitled552.ipynb)

`x = np.dtype('float32').type([3.0, 4.0, 5.0])`

I am not sure whether it is intended or not. We will look into it. Than

[2021-02-26 20:11] GrigoriiTarasov commented on #47405
@amahendrakar
I really appreciate your help.
Yes  if purge, remove and rm all nvidia and cuda and follow guide without nvidia-driver-450 and without reboot those time no login stuck,

[2021-02-26 20:11] #47405 closed

[2021-02-26 20:13] slim-hmidi opened #47442 "AttributeError: module 'tensorflow' has no attribute 'Session' with tensorflow 2.4.1"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **windows 10**
- TensorFlow installed from (source or binary): installed from source
- TensorFlow version (use command below): **2.4.1**
- Python version: **3.8.5**
- CUDA/cuDNN version: Cuda 11.2/11.1
- GPU model and me

[2021-02-26 20:26] GrigoriiTarasov commented on #47402
@amahendrakar
Thanks a lot!
I confirm that skipping 19th line works.

[2021-02-26 20:26] #47402 closed

[2021-02-26 20:31] dfalbel commented on #47321
Thanks very much @jsimsa ! This makes sense to me! I don't think it's worth the effort. I think there might still exist other workarounds in the R side like using an event loop and scheduling the generator call to the main thread.

[2021-02-26 20:36] rsun-bdti commented on #46258
@stephanboner: Are you trying to use the Lite kernel EXPAND_DIMS, or the micro kernel? The latter is still under review and has not been merged into the master yet.

[2021-02-26 20:37] stephanboner commented on #46258
@rsun-bdti I'm trying to use it in micro and I implemented both your PRs in my projects tensorflow source

[2021-02-26 20:51] rednag commented on #40804
I've installed CUDA Toolkit 11.2.135 already, but I'm having the same issue. I've tried downloading an other version, but NVIDIA driver says the installed is newer than the downloaded - so?!

[2021-02-26 20:58] slim-hmidi commented on #47441
I have the same problem with `tensorflow-2.4.1` on jupyter notebook.
It does not recognize  the GPU.

[2021-02-26 20:58] rsun-bdti commented on #46258
@stephanboner  I see. After PR3, the micro kernel is not fully functional, nor is it part of the build. There is a PR4 pending for review right now. Hopefully you can use it when that PR is approved and merged into the master. As it is, this micro kernel can not be used yet. That's why this issue is still open.

I updated the header above with PR4.

[2021-02-26 21:07] stephanboner commented on #46258
Oh thanks @rsun-bdti. Sorry for causing such a discussion, I just copied the lite kernel instead of taking the adjusted version of your PR4 as well as added the op in `micro_ops.h` in the wrong namespace. Friday afternoon hustle... Thank you! ✌️

[2021-02-26 21:19] hosford42 commented on #47325
I can't install tf-nightly right now. I may be able to get back to you on this in a few days, though. Thanks, all, for looking at this.

[2021-02-26 21:28] rednag commented on #46606
Got the same error - can not set the path because it is not available, but CUDA driver 11.2.135 is installed. Can not install other CUDA version, because I've already the newest... so how to fix it?! Uninstall everything?

[2021-02-26 21:30] abattery commented on #47425
Many delegates don't support the BatchMatMul op, so we default to unrolling. We are working on a more user friendly approach here, but for now, you could manually set the flag here for your individual case:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/mlir/lite/common/tfl_pass_config.h#L36

[2021-02-26 21:34] rsun-bdti commented on #46258
@stephanboner  My pleasure. The discussion is helpful to me as well. I realize that I need to keep the information for my issues updated. (PS: thanks for approving the PR4)

[2021-02-26 21:49] golden0080 commented on #25670
Any update on this issue? I'm using TF1 and seeing training issues whenever enabled Keras in estimator.

[2021-02-26 21:51] WindQAQ commented on #47425
Got it! Thanks for the response 😄

[2021-02-26 22:39] albertotono commented on #42155
This code deprecated and gave me that error

[code]

[2021-02-26 22:48] mihaimaruseac commented on #44485
@ahtik It seems you cloned exactly when the repo was failing :( Cloning at de4bc85341d4ffb3e0e8a2f40267459b04c1f2a1 should guarantee a passing Windows build (at least on our infra it was passing).

@samanemami: what where you trying to do and what was the error?

All: All windows and Linux wheels for Py3.9 have been updated. If nothing breaks, over the weekend we should get these wheels updated da

[2021-02-26 22:53] mihaimaruseac commented on #47303
Ok, so this then needs to wait until we are confident that there are no big bugs if we bump our `h5py` dependency.

[2021-02-26 23:06] #47062 closed

[2021-02-26 23:11] lgariv commented on #47441
As far as I understand it, after TensorFlow 2.2.0 they do not support compute compatibility 5.0, therefore TensorFlow will not support this MX130 unless you compile it from source to add support for that (I might have got that wrong? I'd appreciate if someone can correct me on this).

[2021-02-27 00:25] #45415 closed

[2021-02-27 00:26] #45608 closed

[2021-02-27 00:27] #46049 closed

[2021-02-27 00:38] ymodak commented on #47441
Can you test with with uppercase string `'GPU'`? Thanks!
[code]

[2021-02-27 01:06] #39610 closed

[2021-02-27 01:33] jvishnuvardhan commented on #46573
@zhaohb Sorry for the late response. I notice you have opened same issue in the onnx repo https://github.com/onnx/tensorflow-onnx/issues/1287 and also getting the responses to resolve your issue. That is the correct repo for your issue.

I am closing this issue from this repo. Thanks!

[2021-02-27 01:33] #46573 closed

[2021-02-27 03:13] Arjun-NA commented on #47334
Hi @abattery  both training and conversion was done using TensorFlow 2.3.1 CPU versions.

[2021-02-27 03:45] mortalx2 commented on #47119
same issue is coming

[2021-02-27 04:21] abattery commented on #47334
Is the installed TF version of IMX RT 1060 TF 2.3.1 or higher?

To make sure whether the converted model is correct or not, could you verify that the converted model is runnable  in the machine done at the training and conversion stage?

[2021-02-27 05:13] Arjun-NA commented on #47334
Hi,
We downgraded the tensor flow in the host PC to 2.3.1 so that it matches with with the version mentioned in the SDK provided by the NXP for the Target IMX RT 1060 found [here](https://mcuxpresso.nxp.com/en/builder?hw=EVK-MIMXRT1060).

Thanks,
Arjun.

[2021-02-27 06:24] abattery commented on #47334
Once all the TF versions is aligned, it will not encounter the versioning issues. After the alignment, is it possible to run the model on the device?

[2021-02-27 06:34] ipcamit opened #47445 ""ValueError: No gradients provided " error in TF v2.4.1, works fine on v2.3.1"
**System information**
Python : 3.6.3, TF: 2.4.1, TF probability: 0.12.1
Python : 3.6.9, TF: 2.3.1, TF probability: 0.11.1
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu and CentOS
- TensorFlow installed from (source or binary): Pip
- TensorFlow version (use command below): 2.4.1

[2021-02-27 06:44] da03 commented on #36688
Not sure if this is what you need, but I have figured out a workaround here: https://github.com/da03/TFLite-Micro-Seq2Seq

[2021-02-27 06:55] abattery commented on #47334
If possible, could you share the converted model and the full error log messages to us for debugging?

[2021-02-27 07:46] amahendrakar commented on #47442
@slim-hmidi,
`tf.Session` is used in TensorFlow 1.x and has been deprecated in TensorFlow 2.x. In Tensorflow 2.x, eager execution is enabled by default, thus eliminating the need for Sessions.

For more information, please take a look at similar issues [#34658](https://github.com/tensorflow/tensorflow/issues/34658#issuecomment-559511245) and [#18538](https://github.com/tensorflow/tensorflow/issues

[2021-02-27 08:34] yisongsong opened #47447 "Quantize for pooling op"
The int8 pooling(avg and max) does not have rescale because operators have the same scale and zero point for
input and output tensors.
I'm wondering how to keep same scale, since distributions for different for intput and output tensors after max or avg operation.
![image](https://user-images.githubusercontent.com/19774920/109381833-97a03600-7917-11eb-8d9d-c87d2d6be964.png)

[2021-02-27 09:02] xmy19029 opened #47448 "custom op on gpu/dsp"
The official website just tell me how to custom ops on CPU, i wonder if there‘s something could teach me how to do this on GPU/DSP.
And we need  **_“libhexagon_nn_skel.*.so"_** to use DSP. If i custom ops on hexagon delegate, do i have to compile new  ”.so“ through hexagon SDK ,or just build AAR and use the old .so files?
Thanks a lot!!!😭😭😭

[2021-02-27 09:14] amahendrakar commented on #47422
@hoaquocphan,
TF v2.3.2 requires `numpy >= 1.16.0, < 1.19.0`, whereas for TF v2.4 and the latest TF-nightly the required version is `numpy~=1.19.2`.

In this case, I'd suggest you to install **`numpy v1.19.2`**, as it is compatible with the latest stable version of TensorFlow i.e. v2.4.1.

Also, you can only import any one release of TensorFlow in the script. So, I'd recommend using separate virtu

[2021-02-27 09:36] ljburtz commented on #45590
I had the same ptax related error when using the Tensorflow provided container (tensorflow/tensorflow:latest-gpu-jupyter -> tensorflow 2.4)

Fixed by using the NVIDIA provided container (nvcr.io/nvidia/tensorflow:21.02-tf2-py3 also tensorflow 2.4)
available at
https://docs.nvidia.com/deeplearning/frameworks/tensorflow-release-notes/running.html#running

[2021-02-27 09:39] ljburtz commented on #46093
On my RTX 3090, I had ptax related errors when using the Tensorflow provided container (tensorflow/tensorflow:latest-gpu-jupyter -> tensorflow 2.4)

I fixed by using the NVIDIA provided container (nvcr.io/nvidia/tensorflow:21.02-tf2-py3 also tensorflow 2.4)
available at
https://docs.nvidia.com/deeplearning/frameworks/tensorflow-release-notes/running.html#running

It's already built with CUDA 11.2!

[2021-02-27 10:36] yisongsong commented on #37544
I'm wondering how to keep the same scaling/zeropoint in the Input/Output for int8.

[2021-02-27 10:37] amahendrakar commented on #47426
@amicotin,
TensorFlow.js issues are tracked in tensorflow/tfjs repo. Could you please submit a new issue from [this link](https://github.com/tensorflow/tfjs/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2021-02-27 11:12] rohan2734 commented on #36792
- Hello , I am a beginner at keras
- I am having the same error
- here is the code
[code]

Here is the error
[code]

- Please tell me, how can i correct it ?

[2021-02-27 11:23] bhack commented on #41396
What was the original rationale to not use `# pylint: disable=message-name`?

[2021-02-27 12:03] lgariv commented on #47441
Thanks, that does list my GPU - but it still does not use it while training. Also, in Jupiter notebook it doesn't list my GPU at all.

[2021-02-27 13:35] samanemami commented on #44485
@mihaimaruseac The problem has solved.
I finally decided to downgrade my python version and installed the TF for py38.
Looking forward to having TF for py39.
Thanks

[2021-02-27 14:37] #47387 closed

[2021-02-27 14:47] andresospina95 commented on #15568
i found the error in my code,
Check the x_train shape, in my case was (21000, 0, 1), try to change the 0 for some number grater than 0,

[2021-02-27 15:30] CharlesSS07 opened #47450 "Keras model saving erroring: TypeError: get_config() missing 1 required positional argument: 'self'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: unknown
- TensorFlow installed from (source or binary): binary, conda
- TensorFlow version (use command below): 2.2
- Python version: 3.8
- CUDA/cuDNN version: 7.6

Bug demonstrat

[2021-02-27 15:55] jeball opened #47451 "Tensorflow Addons connected components not working properly"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2021-02-27 16:34] embeddetech opened #47452 "Empty Interpreter Input/Output Buffer Pointers"
### 1. System information

- OS Platform and Distribution: Windows 10, building in Visual Studio
- TensorFlow installation: Model trained from PIP package (Tensorflow 2.4.1). TFLite interpreter building 2.0.0 (haven't been able to build TFLite 2.4.1 in Visual Studio yet)
- TensorFlow library: 2.4.1 (Train, conversion) and 2.0.0 (inference)

### 2. Code

My model uses the following layers:
First st

[2021-02-27 16:40] NasonZ opened #47453 "[_Derived_]RecvAsync is cancelled Error when training with LSTM on tf-gpu"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
[code]
- OS Pl

[2021-02-27 17:03] SamTov commented on #47303
Okay no problem. Is there anything I can do to help this? Or is there a timeline on that process?

[2021-02-27 17:51] amahendrakar commented on #47430
@samanemami,
Looks like you're trying to run code meant for TF 1.x on TF 2.4. The last TF version with a reference to [boosted_trees_test.py](https://github.com/tensorflow/tensorflow/blob/v1.12.3/tensorflow/python/estimator/canned/boosted_trees_test.py) was v1.12.3

Could you please provide the Python script/notebook you're running, so that we can look into this issue? Thanks!

[2021-02-27 19:02] lancerutkin opened #47454 "Batch Normalization fails as kernel constraint for Conv layers when using mixed precision"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.4.1
- Python version: 3.7

**Describe the current behavior**
When using `tf.keras.layers.BatchNormalization()` as a c

[2021-02-27 19:11] samanemami commented on #47430
Thank you for the reply

The code is as follows, which I tried to import a model:

`from tensorflow_estimator.python.estimator.canned import boosted_trees_test
model = boosted_trees_test`

[2021-02-27 20:02] yair-ehrenwald commented on #47417
Sounds like this will require some thought. Maybe each implementation specifically defining supported tests somehow?

[2021-02-27 21:52] DanielWicz commented on #36465
Any progress ? It's not amusing any more

[2021-02-27 22:07] abattery commented on #47448
@karimnosseir could you take a look at this?

[2021-02-27 22:15] sabrabano0 commented on #23692
@punitha-valli  are you try to build tensorrt in windows for python?

[2021-02-27 22:26] abattery commented on #47452
@embeddetech The above code looks correct. Generally, there are two TF versions, one for training and conversion and one for inference. Could you make sure that the TF version used for executions should have the same TF version with the one for conversion or higher? We do not guarantee the compatibility that the TF for inference has a lower version than the TF for training and conversion.

[2021-02-27 22:28] abattery commented on #47452
Please take a look at https://www.tensorflow.org/lite/guide/build_cmake to build the recent TensorFlow Lite version under Windows 10.

[2021-02-27 22:36] embeddetech commented on #47452
Thank you @abattery, I wasn't having any luck with bazel or make, I will try this cmake method. I just need to be able to see it build in Windows 10 to make sure I have the correct dependencies, then I can pull it into Visual Studio.

Would it be expected to have those input and output tensor pointers be null if there were version compatibility issues? Should be no issues with the layers I mention

[2021-02-27 22:46] abattery commented on #47452
For bazel, you can build a .dll with ```bazel build -c opt //tensorflow/lite/c:tensorflowlite_c```.

[2021-02-27 22:48] abattery commented on #47452
TFLite 2.0.0 version is quite an old version, which was released more than one year ago to be supported. It would be better to see this problem is happening at the recent TF version.

[2021-02-27 22:57] embeddetech commented on #47452
OK, I'll try to get it upgraded. The first issue is just getting it to build with all source code properly in place. The second issue is getting it to build in Visual Studio with MSVC compiler. I believe I've come across two compiler incompatibilities, which I was able to resolve, things like MSVC not being happy about empty array initializers. I might do a pull request on those after confirming.

[2021-02-27 23:08] abattery commented on #47452
If the above flatbuffer package checksum issue is still happening at the HEAD, please report it to us with the full log messages. I think it might be considered as a separate issue.

[2021-02-27 23:38] CyangXu commented on #33751
I am a beginner on machine learning so my question may sound dummy. But why the following code (_part of the code to reproduce the error_)
[code]
 requires the grad of `ResizeBilinearGrad`? I understand that `ResizeBilinear` is introduced by `tf.image.resize`.

[2021-02-28 00:04] mihaimaruseac commented on #44485
@samanemami: tf-nightly works with py39 on Windows now. TF proper needs to wait for the next release as we cannot just patch old releases for new Python versions.

[2021-02-28 00:10] mihaimaruseac commented on #47303
Let's try sending a PR with the bound updated and see what breaks.

[2021-02-28 00:13] mihaimaruseac commented on #47386
Yes please, that's a better approach.

[2021-02-28 00:19] mihaimaruseac commented on #47422
Since tf-nightly and tensorflow use the same code, you should **never** install both in the same environment. Usually, the latest one overrides most of the other. This is the way pip works and TF can do nothing in this case. That's why you should use `venv`/`virtualenv`.

[2021-02-28 00:19] #47422 closed

[2021-02-28 00:21] mihaimaruseac commented on #47151
@evalsocket Please post output of `python --version`, `python -m pip --version` and `python -m pip install -vvv tensorflow`

[2021-02-28 03:33] amicotin commented on #47426
@amahendrakar Sorry for my mistake, I will do that. Thank you.

[2021-02-28 03:33] #47426 closed

[2021-02-28 03:58] ymodak commented on #47441
You may try [manual device placement](https://www.tensorflow.org/guide/gpu#manual_device_placemen);
[code]

[2021-02-28 04:44] xiedeacc opened #47456 "how to set C++ standard version for tensenflow as another bazel project dependency"
**System information**
- ubuntu20.04
- TensorFlow version:2.4.0
- Python version:3.8
- Bazel version (if compiling from source):3.7.2
- GCC/Compiler version (if compiling from source):9.3

**Describe the problem**
my project depend on tensorflow, compile tensorflow need std=c++14 and above, I set --cxxopt="-std=c++14" in bazel build command for my project, but this option doesn't work for tensorfl

[2021-02-28 06:29] miramar-labs commented on #46975
Looking at the TF [build docs](https://www.tensorflow.org/install/source) I noticed that TF 2.4.0 is tested for compatibility with CUDA 11.0 and cuDNN 8.0 .... so I downgraded to those versions and things went a lot smoother :)
11.2 != 11.0  ....
What I learned: stick to the versions of TF/CUDA/cuDNN mentioned in the docs ... go beyond at your own risk :)

[2021-02-28 06:52] game-sys commented on #46975
@miramar-labs which driver u are using is it 460 and how u install cuda because when i install cuda 11.0 it also come with driver and it install driver automatically and rtx 3070 dont support driver 450 can u please run nvidia smi, and nvcc -- version what it is returning

[2021-02-28 07:09] vilmara opened #47457 "TF-TRT: batch dimension is failing in FasterRCNN"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): Nvidia docker image  `nvcr.io/nvidia/tensorflow:20.11-tf