[2020-06-22 04:51] Aditya-shahh commented on #40646
Yeah, that worked. Thank you!!

[2020-06-22 04:53] #39669 closed

[2020-06-22 05:12] ravikyram commented on #40631
@AakashSasikumar

I have tried in colab with TF version 2.2 and i am seeing the below error message.(`AttributeError: 'DQN' object has no attribute 'batchSize'`).Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/b3ad60005941bf9a96aa5a392c17a23b/untitled50.ipynb).Thanks!

[2020-06-22 05:15] Saduf2019 commented on #40652
@lokesharma-dev
The colab gist shared is empty, can you please check and share again or paste the code here.

[2020-06-22 05:51] rambowding commented on #40121
shared with you via Google Drive

[2020-06-22 06:08] lokesharma-dev commented on #40652
@Saduf2019
I have and the link is working. Please confirm the same.
https://colab.research.google.com/drive/1hwFX3VMzKtfRjqd5-EG-0WePvtCbmChM?usp=sharing

[2020-06-22 06:13] kevinashaw commented on #34369
I'm seeing the same error in TF2.2 in Python 3.7 on MacOS.
[code]
Error depends on this line.  The error dissappears when this line is commented.
`model.save(os.path.join(run_dir, f'model_{run_dirname}_keras_best'), save_format='tf')
`
I agree that the error is probably not harmful, but it is annoying.

[2020-06-22 06:15] yyoon commented on #40521
@unarmedman Thanks for reporting. I can see that happening on the exact version you mentioned (`0.0.1-nightly.20200611`), but when I tried a more recent nightly build (`0.0.1-nightly.20200621`) the it seems to be fixed.

Can you try `pod update --repo-update` and see if it resolves the issue?

[2020-06-22 06:16] ravikyram commented on #40634
@rakeshmothukuru1

As @nikitamaia suggested try wrapping your code in @tf.function and you will see better performance or almost same performance with tf.data.Dataset than Numpy array.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/00d036886c185865d5054ce43bee6370/untitled51.ipynb).Please, verify once and close this issue if you feel your query has been answered.Thank

[2020-06-22 06:28] amahendrakar commented on #40143
@mkw18,
Did you get a chance to look at this? Please feel free to close the issue if resolved. Thanks!

[2020-06-22 06:34] ravikyram commented on #40638
@Santosh-Gupta

I have tried in colab with TF version 2.2 .Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/0191e12b7c6d9afeb80ccc009870b255/untitled52.ipynb).Is this the expected behavior?.Thanks!

[2020-06-22 06:36] Saduf2019 commented on #40645
@cowcomic
Please share the tensorflow version and simple stand alone code for us to replicate the issue faced.

[2020-06-22 06:36] evans-ye commented on #35911
I've encountered the same issue. During my test OnEpochEnd is not called in Tensorflow 2.0.2. After upgrading to Tensorflow 2.2.0 OnEpochEnd is being called and the issue is solved.

[2020-06-22 06:42] Saduf2019 commented on #40639
@peter197321
Can you please refer to these links and let us know if it helps:
[link](https://wiki.qt.io/Cannot_open_include_file_stddef_h_No_such_file_or_directory) [link1](https://social.msdn.microsoft.com/Forums/vstudio/en-US/0f580a73-6f11-4aa6-abbe-6bf1438734c2/standard-files-quotstddefhquot-quotstringhquot-missing-in-visual-studio-2015-rc?forum=vclanguage) [link2](https://github.com/weidai11/c

[2020-06-22 06:45] Saduf2019 commented on #40623
@Enumaris
Please post TF_Hub related issues in the [Hub Repo](https://github.com/tensorflow/hub/issues). Thanks!

[2020-06-22 06:45] #40623 closed

[2020-06-22 06:50] thaink commented on #40157
aselva-eb,
The PR was not rolled back anymore.
Could you send me your converted model so I can do a check.

[2020-06-22 06:51] ravikyram commented on #40642
@princyok

I have tried in colab with TF versions 2.1,2.2 and i am not seeing any issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/ecffe407c4f1e17fb91f9090f466104a/untitled53.ipynb).Thanks!

[2020-06-22 06:52] Saduf2019 commented on #40632
I am able to replicate this issue, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/31bf133f06118129d0da64a8456ccdcd/untitled238.ipynb)

[2020-06-22 06:53] #37667 closed

[2020-06-22 07:02] Saduf2019 commented on #40648
I am able to replicate this issue, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/367b460e6f592bd3a677cb312ca6d0cf/untitled233.ipynb)

[2020-06-22 07:02] irinawetransfer commented on #37433
I have a similar issue in google colab:

- tensorflow version 2.2.0
- tensorboard version 2.2.2

[code]

gives `AttributeError: module 'tensorboard' has no attribute 'lazy'`

[2020-06-22 07:07] #40646 closed

[2020-06-22 07:10] ravikyram commented on #40622
I have tried in colab with TF version 2.2 and i am not seeing any issue.However i am seeing this issue with nightly versions(`2.3.0-dev20200621').Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/f1c56122bf30a1bdadb7c72e7700e632/untitled54.ipynb).Thanks!

[2020-06-22 07:11] MFreidank commented on #38185
@duncanriach I like the suggested option to start from `tensorflow-determinism` as it would get this shipped to users at earliest.
I'll start on it there and once we have confidence the fix works upstreaming it should be much more straightforward.

Thanks for the guidance, really appreciate it!

[2020-06-22 07:12] yijunsmile commented on #26572
i have the same issue, have you deal with it ?

[2020-06-22 07:12] amahendrakar commented on #40556
@BOSSrobot,
From the error log you have given, it seems like TensorFlow was not installed successfully. Hence, I had asked you to submit an issue in the Anaconda repo.

Please check if the installation was successful using the below code.
[code]
Thanks!

[2020-06-22 07:18] MevadaRavikumar commented on #40616
It got solved by adding the explicit path of the model rather than the directory where the model got saved.

[2020-06-22 07:18] #40616 closed

[2020-06-22 07:20] ravikyram commented on #40647
@HashRocketSyntax

Request to fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.

Request you to share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-06-22 07:27] bmabir17 commented on #25415
@noah003 are you converting the mask rcnn model found in this repo https://github.com/matterport/Mask_RCNN/releases/tag/v2.0 ?

[2020-06-22 07:31] swghosh commented on #40622
Yes @ravikyram, thanks for acknowledging.

[2020-06-22 07:35] kl5017 commented on #40548
same issue

[2020-06-22 07:37] JUNETYCOON commented on #22512
I see an article and I ，finally solve this problem.Win10,anaconda3,tensorflow2.2.0.

enter cmd
pip uninstall pillow
conda update pip
 pip install pillow

that's all.I hope it will help you

[2020-06-22 07:38] ravikyram commented on #40651
@arose13

I have tried in colab with TF version 2.2 and i am seeing the below error messaage.(N`ameError: name 'p' is not defined`).Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/c5b3678e7d8743f2301dca44e74d283b/untitled56.ipynb).Please, help me with reproducible code, so it helps us in localzing the issue faster.Thanks!

[2020-06-22 07:41] ucasiggcas opened #40655 "the memory couldn't be released after training"
hi,dear
help wanted,
when I see the memory after a training in While
confused me that the memory can't be released in time sleep
the codes down for reference
[code]

the memory
[code]
![image](https://user-images.githubusercontent.com/35590066/85261428-b99b0c00-b49e-11ea-8d13-10974796160b.png)

SO how to release the memory ?

thx

[2020-06-22 07:48] lihanchen commented on #40261
Hi. Thank you for taking time. After changing from model.predict() to model().
The execution take much shorter time with above model.

My real model is a GRU followed by a few dense layers.
Here is the example code:
[code]

I found some interesting result:
1. with TF 2.2, model.predict() call, it takes about 3.5 seconds with or without both GRU dropouts
2. with TF 2.2, model() call, it takes about

[2020-06-22 07:53] #40220 closed

[2020-06-22 08:04] amahendrakar commented on #40640
@Fennecai,
Please check if you have the latest version of pip installed. You can upgrade pip using the below command.

`python3 -m pip install --upgrade pip`

Also, please check the Python version installed on your machine. As per the [PyPI website](https://pypi.org/project/tensorflow/1.15.3/#files), TF v1.15.3 package is supported only on Python 3.5, 3.6 and 3.7.

Thanks!

[2020-06-22 08:14] dgaleareading opened #40656 "Tensorflow creating too many threads"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): RHEL6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): via pip
- TensorFlow version (use command below): v1.12.1-2645

[2020-06-22 08:20] jliebers commented on #37942
Since I switched to Linux (Ubuntu 18.04) I never had a problem with this issue anymore. Therefore, I highly recommend anyone to switch OS if you want GPU-accelerated LSTMs. It is 100% connected to Windows only and I did not find any working solution (workaround or such) for Windows.

Only solution I know is to switch to Linux. The problem then disappears.

I mean this issue was closed, once I stat

[2020-06-22 08:28] NicholaiStaalung commented on #40607
Okay, i was able to compile the .tlifte model after a low number of training steps with SIMOID and num_classes = 2. I kept it training over the weekend and now i got the same error as above. Kind of frustrating. So for now im switching feature extractor. I do find it really weird that this error occurs since i have been using the exact same workflow for almost a year. Please help me here!

[2020-06-22 08:29] amahendrakar commented on #40612
@Adblu,
TensorFlow Serving issues are tracked in the Serving repo. Could you please submit a new issue from [this link](https://github.com/tensorflow/serving/issues/new) and fill in the template, so that we can track the issue there. Thanks!

[2020-06-22 08:30] ucasiggcas commented on #40655
of course could ignore the **while**
as follows
[code]
could also see the same situation

[2020-06-22 08:37] Kmarconi commented on #16779
Hi @ljanyst ! First , thank you for this issue and for your blog post. I'm trying to reproduce what you've done on my pc because compiling tensorflow on my Xavier took me almost 9 hours. I'm at the start of your tutorial but I think I'm missing something. The compilation of my hello.cxx is working well but then " scp a.out jetson:" is giving me an error since my system doesn't know the "jetson" ho

[2020-06-22 08:47] Saduf2019 commented on #40656
@dgaleareading
Please share complete executable code such that we can replicate the issue faced, i ran the code shared and face different error, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/db23ed9f34b0f9851738ffa6d2ac9d62/untitled237.ipynb) or if possible please share a colab gist with the reported issue for us to analyse.

[2020-06-22 08:47] niuyifeng1213 opened #40658 "tf2.2-tensorrt error"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution: DOCKER IMAGE:tensorflow/tensorflow:2.2.0-gpu
- GPU model and memory:Tesla K40m,

[2020-06-22 08:48] NeoZhangJianyu commented on #39490
@Lotte1990 We reproduce the issue. Check is ongoing.

[2020-06-22 08:49] ktaebum opened #40659 "[TF 2.2] Elapsed time of ConcreteFunction becomes shorter when printing loss"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
    - Yes
- OS

[2020-06-22 08:51] Saduf2019 commented on #40652
I am able to replicate the issue faced, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/35a6dcdb1ef38079e49606bf44bb3c74/untitled238.ipynb)

[2020-06-22 08:53] #40230 closed

[2020-06-22 08:53] #39495 closed

[2020-06-22 08:53] #40257 closed

[2020-06-22 08:55] dgaleareading commented on #40656
@Saduf2019 I have put the whole notebook on my Google Drive at https://drive.google.com/file/d/1O9phSN7moTo-5KQNqPPQ4Qfl9OJLqZvd/view?usp=sharing

[2020-06-22 08:57] Akshusharma7 opened #40660 "Getting Error while tranning rasa model.(rasa train)"
Traceback (most recent call last):
  File "c:\users\akshu\anaconda3\envs\rasa\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "c:\users\akshu\anaconda3\envs\rasa\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 28, in <module>
    _pywrap_tensorflow_internal = swig_import_h

[2020-06-22 09:09] Saduf2019 commented on #40660
@Akshusharma7

Please take a look at [this comment](https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156) from a similar issue and let us know if it helps. Thanks!

[2020-06-22 09:11] jianhua-hsu opened #40661 "build failed with build_all_android.sh as "make: *** No rule to make target '/tensorflow/contrib/makefile/downloads/eigen/unsupported/Eigen/CXX1', needed by '/home/jason/workspace/algo/tf/tensorflow/tensorflow/contrib/makefile/gen/obj/android_armeabi-v7a/tensorflow/core/kernels/cast_op_impl_bool.o'. Stop. make: *** Waiting for unfinished jobs...."
Hi Guys,
I need to generate tensorflow static library for 32bit or 64 bit Arm for qsee platform. This is my first time to use tensorflow. I am trying to use "./tensorflow/contrib/makefile/build_all_android.sh " to generate such static library. Unfortunetly, it build failed.

Below are the information I am using, and problem are also described. Do you have any idea about it. Appreciated very much ^

[2020-06-22 09:14] ravikyram commented on #40655
@ucasiggcas

Can you please fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.I have tried in colab with TF version-gpu  2.2 and i noticed its hanging.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/6cec38b4786

[2020-06-22 09:17] Saduf2019 commented on #40656
@dgaleareading
I ran the code shared, please let us know if [this gist](https://colab.research.google.com/gist/Saduf2019/90c0bd531b8915ba97889d0de2271000/untitled239.ipynb) confirm your issue.

[2020-06-22 09:20] dgaleareading commented on #40656
Unfortunately it does not as you don't have any of the correct input files.

[2020-06-22 09:21] Saduf2019 commented on #40635
I am able to replicate the issue, please find the [gist here.](https://colab.research.google.com/gist/Saduf2019/c0cb51b51cc736dbb1f1aab3cc49e31b/untitled240.ipynb)

[2020-06-22 09:35] ucasiggcas commented on #40655
hi,dear
any version could try,
ONLY need GPU,
I just want to know the memory after training
could you see the pic by
`nvidia-smi`

[2020-06-22 09:36] f18298335152h opened #40662 "build"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2020-06-22 09:41] FlorentijnD commented on #32004
See #40157 for updates on this thread

[2020-06-22 09:41] MevadaRavikumar opened #40663 "Coral edge TPU Classification coordinates"
Hi,
I am running my object classification using Raspberry pi 4, model B, coral edge TPU. I am using this command to classify the image.

    ‘model.classify_with_image(frame, threshold=args[“confidence”])’

It works perfectly but It does not give me coordinates like

    ‘model.detect_with_image()’

Is there any way I can get the coordinates?

From the official documentation:

    detection:
    d

[2020-06-22 09:44] #40143 closed

[2020-06-22 09:45] mkw18 commented on #40143
@amahendrakar,
Thank you! The problem have been resolved.

[2020-06-22 09:53] taki0112 commented on #29481
In TF 2.1.0 the issue is not fixed... anybody help me ?
Is this issue fixed in TF 2.2 ?

[2020-06-22 10:08] amahendrakar commented on #40620
Was able to reproduce the issue with TF v2.1, [TF v.2.2](https://colab.research.google.com/gist/amahendrakar/7a8ad34fd0bceb98fdd35669f7f24e94/40620-2-2.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/3216528f7a297d5b932263356b452898/40620-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-06-22 10:12] yyoon commented on #40442
@Jamesweng Thanks for the detailed investigation! I think you're right that the iOS side preprocessing logic is incorrect for the floating-point model.

Would you be willing to send a PR with a fix?

[2020-06-22 10:13] amahendrakar commented on #40627
@ousshml,
This question is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow) since it is not a TensorFlow bug or feature request. There is also a larger community that reads questions there. Thanks!

[2020-06-22 10:21] andreABbauer commented on #40647
You actually posted an example why length makes much more sense. Here the length refers to the length of the subsequence the kernel is applied on. So in your example it describes the number of "words" in each subsequence each kernel is applied to -> length.

Height when referring to sequences does not make much sense. Hope this explanation helps.

[2020-06-22 10:25] codey-code opened #40664 "Tensorflow import issues"
i can't import tensorflow in python
because it says 'ModuleNotFoundError: No module named 'tensorflow.contrib''
tensorflow version is 2.x
what should i do?
windows 8.1
complete nooob to ml and ai
(i am new to github)

[2020-06-22 10:27] codey-code commented on #40664
please help :/

[2020-06-22 10:28] kwijik commented on #37262
I use ML.NET and have the same issue:
Saver not created because there are no variables in the graph to restore

[2020-06-22 10:28] dmtlvn commented on #40589
@Saduf2019
The code in the colab seems to work fine, so I am not sure what issue you are talking about. Looks like colab has some preprocessor, which changes the code to compile and removes the backslash:
[code]

However, I am able to reproduce this warning in a separate environment by running a script with the code above, as well as running a jupyter notebook.

[2020-06-22 10:35] InfiniteLife commented on #38036
Hi! I encountered same error. Model runs on Android-Cpu fine, but on Gpu gives the same error.
I converted model using [1,512,512,3] shapes, so inputs are static, but I think problem is in the outputs because Neutron does not shows their shapes:

![image](https://user-images.githubusercontent.com/7304884/85278019-04138d00-b48d-11ea-9fa9-62ecf62c74c0.png)

The model is efficientdet-d0 from https://

[2020-06-22 10:41] netw0rkf10w commented on #29481
@taki0112 I don't understand. Why didn't you simply upgrade to TF 2.2 and see if it works for you?

[2020-06-22 10:48] amahendrakar commented on #40664
@codey-code,
Seems like you are trying to run code meant for TF 1.x on TF 2.x.

`tensorflow.contrib` has been deprecation in TensorFlow 2.x. For more information, please take a look at [this guide](https://www.tensorflow.org/guide/migrate#a_note_on_slim_contriblayers). Thanks!

[2020-06-22 10:57] KiryanovKD opened #40665 "Cross-compile TFLite aarch64 with TF ops"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile de

[2020-06-22 10:57] amahendrakar commented on #40637
@anis-agwan,
In order to reproduce the issue reported here, could you please provide the complete code, the TensorFlow version and the dataset you are using. Thanks!

[2020-06-22 10:57] codey-code commented on #40664
a question: we can't import tensorflow 2.x ?
i just used "import tensorflow"?

[2020-06-22 10:59] codey-code commented on #40664
anyways.... what version of tensorflow should i use?

[2020-06-22 11:05] codey-code commented on #40662
what is this question???

[2020-06-22 11:06] yyoon commented on #40518
Hi @zampnrs. When converting your trained model into tflite format, did you use quantization, or just the float model? If you were using a float model, #40442 might have been the cause. If you were using a quantized model, we may need to investigate further to find the root cause.

[2020-06-22 11:11] amahendrakar commented on #40649
@chuasonglin,
In order to reproduce the issue reported here, could you please provide the complete code, the TensorFlow version and the dataset you are using. Thanks!

[2020-06-22 11:11] hamzarabi3 commented on #36281
It happened to me while trying to convert tf.data.Dataset elements :
`for (image, label) in train_ds.take(3):`
    `print(f'{image.numpy().shape} and {label.numpy().shape}')`
strangely, I restarted the kernel and the error just disappeared.

[2020-06-22 11:13] chuasonglin commented on #40649
I just managed to resolve it. Thank you

Basically, change two things:
from utils import label_map_util
----> from object_detection.utils import label_map_util
from utils import visualization_utils as vis_util
----> from object_detection.utils import visualization_utils as vis_util

[2020-06-22 11:19] amahendrakar commented on #40664
Please run the below code to check if TensorFlow was installed successfully.
[code]

You can try running the code with TF v1.15.3. But I'd suggest you to migrate the code to TF 2.x since TF 1.x is not actively supported. Thanks!

[2020-06-22 11:21] amahendrakar commented on #40649
Thank you for the update @chuasonglin. Marking this issue as closed, as it is resolved. Thanks!

[2020-06-22 11:21] #40649 closed

[2020-06-22 11:21] #40360 closed

[2020-06-22 11:34] fire717 opened #40666 "Very strange Reshape layer behavier in Keras"
**System information**
- win10
- TensorFlow installed from pip
- TensorFlow version (use command below): 1.15.0, cpu version
- Python version: 3.6
- Keras: 2.2.4

**Describe the current behavior**
while I create a net,like this:

[code]

It runs successfully, but in fact 38 * 38 * 3 * 8 != 4332 * 4!

 if I set Reshape((38 * 38 * 3, 8)), I will get a mismatch error.

You can download the code and r

[2020-06-22 11:44] BV-SS commented on #38589
having impport error ..tensorflow and tflearn

AttributeError: module 'importlib._bootstrap' has no attribute 'SourceFileLoader'

i  am experiencing same import error in tflearn as well as tensorflow ..when i comment out import tensorflow same error is been reported as shown below ...
also thse libraries where working just fine a couple of days before ...i had imported them without showing errors

[2020-06-22 11:44] BV-SS opened #40667 "having impport error ..tensorflow and tflearn"
having impport error ..tensorflow and tflearn

AttributeError: module 'importlib._bootstrap' has no attribute 'SourceFileLoader'

i  am experiencing same import error in tflearn as well as tensorflow ..when i comment out import tensorflow same error is been reported as shown below ...
also thse libraries where working just fine a couple of days before ...i had imported them without showing errors

[2020-06-22 11:53] harshitpaliwal1011 opened #40668 "ImportError: No module named '_pywrap_tensorflow'"
I installed tensorflow in VS Code on Python 3.7.7 (32-bit) using the code :
 ```pip3 install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.0.0-py3-none-any.whl```
It successfully got installed at first, but when i tried to run a small code to check if it works it gave me error. I have referred to the earlier mentions of this issue and i have Microsoft Visual C++ 2015 alr

[2020-06-22 11:57] codey-code commented on #40664
well it din't work
import tensorflow as tf
print(tf.__version__)

[2020-06-22 12:13] ravikyram commented on #40662
@f18298335152h

Request you to fill [issue template.](https://github.com/tensorflow/tensorflow/issues/new/choose).
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.
Request you to share colab link or simple standalone code to reproduce the issue.It helps us in localizing the issue faster.Thanks!

[2020-06-22 12:34] JoSw16 opened #40669 "Windowing on multiple timeseries"
Usecase:
I have 360 day history of 1000 company stocks. My requirement is to create overlapping windows of the timeseries data for every company stock.

Current Solution (none TF one):
Currently I have implemented this by grouping the data on 'company' and applying a function that creates multi-step input and multistep output using pd.shift() function. Looking to upgrade the code using Tensorflow2

[2020-06-22 12:40] Santosh-Gupta commented on #40638
Hey

This was a little tricky to checkout, so I split up the cells so some of the outputs are viewable

https://colab.research.google.com/gist/ravikyram/0191e12b7c6d9afeb80ccc009870b255/untitled52.ipynb

The output of cell 6 is

[code]

which contains all the model weights. There are weights defined in the model that are missing.

It should look something like the output of cell 7, which prints ou

[2020-06-22 12:43] Zumbalamambo commented on #40248
closing because tensorflow 2 is the storehouse of bugs and unusable

[2020-06-22 12:43] #40248 closed

[2020-06-22 12:43] ravikyram commented on #40668
@harshitpaliwal1011

Please, fill i[ssue template.](https://github.com/tensorflow/tensorflow/issues/new/choose).

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.

Provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2020-06-22 12:48] kvin97 opened #40670 "Initialization of rmsprop optimizer in tensorflow"
In tensorflow RMSPROP optimizer can be used with tf.compat.v1.train.RMSPropOptimizer function as follows.

tf.compat.v1.train.RMSPropOptimizer(
    learning_rate, decay=0.9, momentum=0.0, epsilon=1e-10, use_locking=False,
    centered=False, name='RMSProp'
)
But it doesn't convey how to initialize moving average of the squared gradient for each weight.  Can anyone tell me how does tensorflow initi

[2020-06-22 12:53] #40275 closed

[2020-06-22 12:59] fangminyu opened #40671 "[TF 1.15] unexpected segment faults for seemingly "reasonable and correct" codes"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): centos7  (but libtensorflow.so is built in official docker image tensorflow/serving:1.15.0-devel-gpu)
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.15.0
- Python ve

[2020-06-22 13:41] JonathanDZiegler commented on #40157
This is absolutely fabulous! First tests on tf-nightly 06-22  seem to work perfectly. I have not evaluated the results of the converted models, but FlexDelegate loads automatically for models that need it.

[2020-06-22 13:47] ramonmatas commented on #33688
I got confused with the transitions in this issue as well as in the attached bug. However, I have confirmed that the fix attempt did not make it to master. IMO this is quite an important feature for anyone trying to go model parallel. While this is sorted out I have implemented a workaround that may help others. The idea is to use a tape per device and stitch the gradient computation manually. Thi

[2020-06-22 13:49] ruixin-bao commented on #39883
I tested out that https://github.com/tensorflow/tensorflow/commit/42e08300a053cced03292b430d51a1273bb642f0 indeed fixes the issue. Also, from https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/BUILD#L520-L536, looks like this test has `no_oss` tag.

Hence, I am closing this issue. Thanks all for the help provided!

[2020-06-22 13:49] #39883 closed

[2020-06-22 13:50] zaccharieramzi opened #40672 "Optimizing scatter_nd_* for complex tensors"
**System information**
- TensorFlow version (you are using): 2.2
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

Currently, as noted in #40605 , the `scatter_nd_*` functions are extremely slow.

However, this is even more extreme when used on complex tensors. This [colab notebook](https://colab.research.google.com/drive/1omAKl8vcqd2TBVbXE

[2020-06-22 13:52] zaccharieramzi commented on #40577
Hi @yongtang , thanks for taking care of this.

Do you know if by any chance there is a link between this issue (i.e. complex support not being straightfoward) and issue #40672 ?

[2020-06-22 13:56] dan-weiner opened #40673 "@Lu1352 Can you please open a new issue with a simple standalone code to reproduce the error? Thanks!"
@Lu1352 Can you please open a new issue with a simple standalone code to reproduce the error? Thanks!

_Originally posted by @jvishnuvardhan in https://github.com/tensorflow/tensorflow/issues/35750#issuecomment-642966950_

Here you go:
[code]

Run it twice to reproduce the error:
[code]

[2020-06-22 13:56] arose13 commented on #40651
I have no idea if my changed affected your gist so I'm sharing my URL here of your colab. [https://colab.research.google.com/gist/arose13/a580640c042278b82d6d7dc424070592/untitled56.ipynb](https://colab.research.google.com/gist/arose13/a580640c042278b82d6d7dc424070592/untitled56.ipynb )

I added summary prints so you can a little more about what is going on. I'm also having a different error than

[2020-06-22 13:59] henrysky commented on #40652
isn't this is a coding error instead of a bug?  You are asking for gradient of `kl` with respect to `r`, but `kl` only depends on `p_logit` and `p_logit_r` inside gradienttape. `p_logit_r` need to interact with `r` after the tape watches `r`, cannot interact prior to the watch.

[2020-06-22 14:00] robkuehl commented on #39947
Any chance I get further help on this issue?

[2020-06-22 14:04] ducviet00 commented on #38064
same problem during training BiT. Batch size 128, Steps_per_epoch = 100

[2020-06-22 14:04] sunzhe09 opened #40676 "quantization not yet supported for op %"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):tf-nightly2.3
- TensorFlow version (or github SHA if from source):

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]
conventer=tf.lite.TFLiteConverter.from_keras_model(inf

[2020-06-22 14:06] olesalscheider commented on #33688
It made it into master for a short amount of time, but then got reverted. If you build tensorflow yourself you can just revert the revert / apply a64ff0f2cda9d4e35ea450d4e945009a90ddee9a again... I don't really have a test case with degraded performance here, so I don't know how to push this further.

[2020-06-22 14:06] harshitpaliwal1011 commented on #40668
Hey, @ravikyram
I'm new to the platform, thanks for guiding me.

My system specifications are as follows:
* Operating System - Windows 10 Pro (x 64 bit architecture)
* Processor - Intel Core i3-2330M CPU @ 2.20GHz
* RAM - 8 GB
* Language - Python (Version 3.7.7) 32 bit architecture
* Editor Used - VS Code
* Installed pip - Version 20.1.1
* Installed tensorflow - Version Unknown (Latest)

Here is t

[2020-06-22 14:12] prabhat00155 opened #40677 "Unsupported ops when converting keyword spotting model"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Darwin Kernel Version 19.5.0
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 1.15.2

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**The output from the c

[2020-06-22 14:17] lokesharma-dev commented on #40652
That was my first attempt, however, it leads to a numpy Attribute error and I have cross-checked elsewhere. All variables are Tensor objects. Error attached for the below modification. Thanks.
<img width="1156" alt="Screenshot 2020-06-22 at 16 12 16" src="https://user-images.githubusercontent.com/63437596/85297700-624b6a80-b4a3-11ea-9e29-b8d54f3fe121.png">

`model_input = Input((2,))
p_logit = mod

[2020-06-22 14:25] Saduf2019 commented on #40573
@
Code shared is not indented, i ran the code after fixing few lines the entire code is unindented, please find the [gits here](https://colab.research.google.com/gist/Saduf2019/a6e7b8bdcc0e5dd2e2ddacc6e1b8eb96/untitled238.ipynb)
Please share code (indented) such that we can replicate the issue faced or  please share colab gist with the error faced for us to analyse.

[2020-06-22 14:36] zampnrs commented on #40518
Hi @yyoon. Yes, I'm using quantization. I'll check this other issue, it seems similar with I'm facing. Thanks! Any update I post here.

[2020-06-22 14:54] axelspatialaudiolabs opened #40679 "Python 3.6? 3.8? Catalina install, R error 951, 951, 2290, 2649"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): nope
- OS Plat

[2020-06-22 15:02] kriskorrel-cw commented on #37900
I understand that. At least there seems to be a workaround (calling `.numpy()` within the py_function) to make it work on tf 2.2.0. Hopefully someone or something will allow to debug this in the future.

[2020-06-22 15:10] dan-weiner commented on #40673
Sorry.  I went back to check the tf version and found I was accidentally using 1.14.  This issue does not occur with tf 2.2.

[2020-06-22 15:10] #40673 closed

[2020-06-22 15:17] prabhat00155 opened #40680 "Segmentation fault when running TFLite's benchmark_model"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-06-22 15:20] GuidoBartoli commented on #40278
Same problem here, installing CUDA 10.1 on Ubuntu 20.04 (Linux Mint 20). It corrupted my nvidia drivers, too... :(

[2020-06-22 15:20] shivammandhotra commented on #20440
An error occurred while importing TensorFlow after a successful installation.
please guide me further.

Traceback (most recent call last):
  File "C:\Users\acer\AppData\Local\Programs\Python\Python38-32\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 18, in swig_import_helper
    fp, pathname, description = imp.find_module('_pywrap_tensorflow', [dirname(__file__)])
  File "C:\Users

[2020-06-22 15:24] henrysky commented on #40652
that is because `r` is not an eager tensor because of how you created it, shape is not well defined. You cannot use the shape of a symbolic tensor as the shape to create an eager tensor. Moreover, why `model_input + 10*r`, since `model_input` is keras symbolic tensor waiting for input but why you put the symbolic input tensor to the input of the model? That does not make sense.

I think you are co

[2020-06-22 15:26] victorromeo opened #40681 "TFLite Int8 Quantization silently failing, resulting in np.float32 input dtypes in c++ library"
Earlier reported on stackoverflow without feedback

[https://stackoverflow.com/questions/59253566/quantized-input-and-output-with-tflite-in-tensorflow-2-0-0](https://stackoverflow.com/questions/59253566/quantized-input-and-output-with-tflite-in-tensorflow-2-0-0)

There appears to be an issue where a fully int8 quantized model still is detected by the c++ TFLite library interpreter to be a Float32

[2020-06-22 15:29] erolgerceker commented on #20798
i got this error.

ValueError: Invalid tensors 'ImageTensor' were found.

[2020-06-22 15:32] Saduf2019 commented on #40666
@fire717
I ran the code shared and face a different error, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/b773342f5175609abe9e1e9d36038a66/untitled238.ipynb)

[2020-06-22 15:38] Saduf2019 commented on #40617
I am able to replicate this issue, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/da1dd12adf48a54fc633fa2856bc3d2a/untitled233.ipynb)

[2020-06-22 15:43] henrysky commented on #40652
whatever you are trying to do, slightly modifying your code and this one will run without error.

[code]

[2020-06-22 15:46] Saduf2019 commented on #39066
Moving this to closed status as it works in 2.3-dev as informed.

[2020-06-22 15:48] mihaimaruseac commented on #37433
@irinawetransfer can you please post output of `pip list` and `pip debug --verbose`? Also, if possible, a minimal code that reproduces the issue?

[2020-06-22 15:56] Saduf2019 commented on #40229
@Zumbalamambo
Please update a s per above comment.

[2020-06-22 15:56] mhorlacher commented on #40502
Dear @aaudiber - thanks for the suggestions, I did some testing.

First, I repeat parts of the code above, but with a larger synthetic data sample.

[code]

1. Testing the influence of `num_parallel_reads` on runtime:

[code]
[code]

It seems like increasing the number of parallel reads has no effect, indicating that the overhead of iterating over the tf.data.Dataset is indeed the problem.

2. Bat

[2020-06-22 15:58] alextp commented on #33688
Maybe we should resubmit it as an optional flag, turned off by default?

On Mon, Jun 22, 2020 at 7:06 AM Niels Ole Salscheider <
notifications@github.com> wrote:

--
 - Alex

[2020-06-22 15:58] Saduf2019 commented on #40277
@LearnKen
Is this still an issue.

[2020-06-22 16:00] Saduf2019 commented on #40322
@abdou31
Please update as per above comment.

[2020-06-22 16:02] mihaimaruseac commented on #40556
Since the issue is solved, can we close it?

[2020-06-22 16:04] #40662 closed

[2020-06-22 16:04] jshyatt2 commented on #40386
@aaudiber Just to offer an additional comment with respect to unbatch (and specifically on https://www.tensorflow.org/guide/data_performance):

In https://www.tensorflow.org/guide/data_performance#pipelines_comparison, batch (with drop_remainder=True), followed by unbatch, is used to (as far as I can tell) get rid of the ragged batch at the end of the dataset.

In https://www.tensorflow.org/guide/

[2020-06-22 16:06] mihaimaruseac commented on #40664
What was the output? 'It didn't work" does not give us actionable information and we cannot help you by guessing what the error was.

Also, when posting code, please use markdown formatting around it to make it readable. A readable and well written issue request gets solved ~10 times faster than one who is not like that, according to studies.

[2020-06-22 16:10] nammbash commented on #39935
@penpornk No more PRs from our side. Just that the Eigen PR and the Random Univerform Vectorize is in the works. FYI. Thank you for all the help and hardwork on this.

[2020-06-22 16:12] Saduf2019 commented on #40614
@sbrl
Please update as per above comment.

[2020-06-22 16:15] chsigg commented on #39759
You shouldn't need to wildcard-build everything under //third_party/gpus/cuda/...

That said, thanks a lot for your PR, your change indeed fixes two incorrect BUILD files.

[2020-06-22 16:24] penpornk commented on #39935
@nammbash Thank you for the clarification and for all the hard work from your side as well! :)

[2020-06-22 16:30] amahendrakar commented on #40653
Was able to reproduce the issue with TF v2.2 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/7eed4878232eb4ffaf58e5f86257987e/40653.ipynb). Thanks!

[2020-06-22 16:41] av8ramit commented on #40463
Sorry I'm not sure, I have not seen this error before. @mihaimaruseac any chance you have?

[2020-06-22 16:44] AGSaidi commented on #40463
It looks like the arm source files are [missing in the glob here](https://github.com/tensorflow/tensorflow/blob/4823ee3dc12edfa45fbc60e60ca4d5c87eced770/third_party/aws/aws-checksums.bazel#L18). Adding  source/arm/*.c to the following file should do the trick, but I haven't tested it.

Also there is a PR to add HW support for Arm to aws-checksums: https://github.com/awslabs/aws-checksums/pull/29

[2020-06-22 16:45] mihaimaruseac commented on #40463
I haven't seen it before but it looks to be caused by having all the filesystems included in the framework. tensorflow/community#101 aims to remove filesystems, reducing pip size and the need to compile platforms that are not needed

[2020-06-22 16:56] #40609 closed

[2020-06-22 16:58] #40670 closed

[2020-06-22 17:31] #40556 closed

[2020-06-22 17:53] #40234 closed

[2020-06-22 17:59] jvishnuvardhan commented on #27310
@sassan72 Please create a new issue with a simple standalone code to reproduce the issue. Thanks!

[2020-06-22 18:00] ramonmatas commented on #33688
Any model parallel setting will benefit from this since it avoids p2p transfers of the operator's inputs during gradient computation. Look at the timeline I posted and compare blue vs red boxes. Both are doing exactly the same amount of work.

[2020-06-22 18:02] amahendrakar commented on #40658
Was able to reproduce the issue with TF v2.2 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/0a7b88d8611f8e19d23bde3a3e7156ce/40658.ipynb). Thanks!

[2020-06-22 18:06] amahendrakar commented on #40658
@niuyifeng1213,
Please take a look at [this similar](https://github.com/tensorflow/tensorflow/issues/32563) issue and let us know if it helps. Thanks!

[2020-06-22 18:10] yixingfu commented on #40651
@arose13

Use tensorflow.keras rather than keras will fix the problem.

[2020-06-22 18:10] sbrl commented on #40614
Hello! Sorry for not updating sooner, I've been a bit busy. Here's what I did:

[code]

/cc @mihaimaruseac, @Saduf2019

[2020-06-22 18:15] MaxSchambach commented on #39523
I was facing exactly the same question. In particular when upgrading certain routines such as data generation from TF1 to TF2. The [mentioned statement in the documentation](https://www.tensorflow.org/api_docs/python/tf/keras/utils/Sequence#notes) seems confusing. I am also facing deadlocks irregularly and in a non-reproducible manner. When using generators, derived from `keras.utils.Sequence` and

[2020-06-22 18:37] tomerk commented on #35949
So, some context on what's happening here:
`tf.print` is meant to mimic python printing, and does not return values.
If you do `x = print(...)` x holds no value. `x = tf.print(...)` acts the same way. If there was meant to be a return value it would be very ambiguous whether the returned value should be the inputs, or the printed string.

So, if you do:
[code]
`c` will not hold any value. So, putt

[2020-06-22 18:37] #35949 closed

[2020-06-22 18:46] scocoyash commented on #40568
ohh, great! Thanks @terryheo :)
I will try this and close the issue if it works.

[2020-06-22 18:46] goldiegadde commented on #39314
@Flamefire sorry for not announcing the breaking change, this was a miss. The api docstrings have now been updated in this commit [591fb](https://github.com/tensorflow/tensorflow/commit/3f973428767cfbbbeeb412b3d7e0be8e566591fb). I will close this issue now. Thanks!

@KTTrev for your issue, please file a separate issue with a minimal code sample repro of what you are trying to do and what is not wo

[2020-06-22 18:46] #39314 closed

[2020-06-22 18:49] lvenugopalan commented on #40242
@Zumbalamambo,
The issue tracker is for Tensorflow feature requests or bug reports. Please refrain from posting inappropriate comments. If any functionality or feature does not work to your satisfaction, please let us know, as each feedback is valuable to us. Tensorflow team will be happy to address them. Kindly share the information related to code as requested by @amahendrakar. Let us know how w

[2020-06-22 18:53] #31877 closed

[2020-06-22 18:53] #40113 closed

[2020-06-22 18:54] amahendrakar commented on #40659
@ktaebum,
Correct me if I'm wrong, but I did not find much difference in the `throghput` time on running the code with print loss and without printing loss. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/c83da47d9449d85d41a7bc1bb644ff89/40659.ipynb#scrollTo=xr382M0ATTsf).

Also, could you please provide the code to reproduce the `hybrid` scenario. Thanks!

[2020-06-22 18:57] Cillinc opened #40683 "Tensorflow will not recognize GPU"
An truing to get TensorFlow to recognize that there is a GPU installed on the PC.
Windows10 Pro 64bit version
Nvidia GTX1660 TI with latest drivers
Tensorflow - 2.3.0-dev20200615
CUDA v10.0
cudnn 7.6.5.32

`print(device_lib.list_local_devices())`
[code]
so system sees that there isa GPU installed, however

[code]
Trying to get a model to train using the GPU to complete faster - my current training

[2020-06-22 19:01] #40242 closed

[2020-06-22 19:01] #40229 closed

[2020-06-22 19:07] nikhil1008 commented on #24774
I have same issue as well, trying to map a floor approximation function  to image pixels. Its horribly slow. The Only reason for using TF is faster parallel computation, its strange that Map_fn doesn't do that.

![image](https://user-images.githubusercontent.com/7234284/85325721-f3f5b080-b480-11ea-9893-00ca4c78cbba.png)

[2020-06-22 19:15] penpornk commented on #39935
Closing this issue since all the tracked PRs are merged.

[2020-06-22 19:15] #39935 closed

[2020-06-22 19:20] nammbash commented on #39934
@penpornk  Looks like we were all updating together.
Please take a look at it now. Eigen Third party PR upgraded submitted and pending Review.
@agramesh1 will update on any other Pending PR decision.

[2020-06-22 19:23] #31195 closed

[2020-06-22 19:26] jtrammell-dla commented on #40297
I started with the matterport repo. I then switched all the keras imports to tf.keras, and then I updated the handful of function calls which no longer exist in TF2.2.0. In every case (and there were only a handful, maybe ten at most) it was a trivial issue of the function call being moved to a new path in TF2.2.0. It did not require generating any new code with one very minor exception, which was

[2020-06-22 19:29] ievgen-goichuk-rft opened #40686 "saved_model_cli convert tensorrt adds unknown inputs to serving signature"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS Catalina 10.15.4
- TensorFlow installed from (source or binary): pip install
- TensorFlow version (use command below): v2.2.0-rc4-8-g2b96f3662b 2.2.0
- Python version: 3.7

**Describe the current behavior**
[cod

[2020-06-22 19:29] #40446 closed

[2020-06-22 19:30] tomerk commented on #36848
What's happening here is that the `call` method is re-assigning the python attributes `self.moving_mean` and `self.moving_range`, rather than assigning to the weights stored in those attributes. This makes the custom layer no longer have access to original weights added to `moving_mean` and `moving_range`, and they are dropped from the custom_layer's weights.

You can fix this by changing the code

[2020-06-22 19:30] #36848 closed

[2020-06-22 19:33] vishalsubbiah opened #40687 "tf.keras.activations.relu doesn't support fp16 through mixed precision for threshold greater than 0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.

[2020-06-22 19:39] jdduke commented on #40313
If you build with the `--define tflite_with_xnnpack=true` flag, then you shouldn't have to do anything manually. The delegate should be applied by default.

[2020-06-22 19:41] tomerk commented on #40036
@rohan100jain this is an example of a painfully slow tf.function tracing + compilation

[2020-06-22 19:41] tomerk commented on #35346
@rohan100jain this is an example of a painfully slow tf.function tracing + compilation

[2020-06-22 19:43] amahendrakar commented on #40192
@AlxndrMlk,
Did you get a chance to look into this over the weekend? Thanks!

[2020-06-22 19:43] mmartial opened #40688 "C++ compilation of rule '//tensorflow/python:bfloat16_lib' failed"
**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04 -- building inside `Dockerfile` with `FROM nvidia/cuda:10.1-cudnn7-devel-ubuntu18.04`
- TensorFlow installed from: source
- TensorFlow version: 2.2.0
- Python version: 3.6.9
- Installed using virtualenv? pip? conda?: No
- Bazel version: 2.0.0 (extracted from _TF_MAX_BAZEL)
- GCC/Compiler version: 7.4.0
- CUDA/cuDNN version:

[2020-06-22 19:48] amahendrakar commented on #40121
@rambowding,
I was able to run the code without any issues. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/81358916b6a1c56eda894a25aa9888a4/40121.ipynb).

Could you please run the code in a virtual environment and check if you are facing the same issue. Thanks!

[2020-06-22 19:52] amahendrakar commented on #40551
@4d55397500,
Hope the above comment answers your query. Please feel free to close the issue if resolved. Thanks!

[2020-06-22 20:07] tomerk commented on #38915
Hi @ll01 , sorry for the delay!

What's happening here is your tfrecord loading function does not specify any shapes for the read values, so the end dataset has an unknown shape and rank. This is insufficient information for the keras model to construct & run, which is why it raises that error about the input being incompatible.

You can fix this by specifying the shape of the parsed values in you

[2020-06-22 20:08] dgrechka commented on #39958
The issue goes for a some time after the reboot (then comes back again). Give me some more time to reproduce with the flags requested, I'm postponed the model training on Windows. Will return and give more repro details.

[2020-06-22 20:16] lokesharma-dev commented on #40652
@henrysky Thanks for your suggestion. It helped me to understand how to differentiate with respect to the input.  However, the correct solution to this issue would be the following.
`r = tf.random.uniform(shape=tf.shape(v), minval=0.001, maxval=0.005)
r = tf.add(v,r)

with tf.GradientTape() as tape:
  tape.watch(r)
  h1 = layers.LSTM(units=128, name='LSTM_layer_r')(r)
  p_logit_r = layers.Dense(un

[2020-06-22 20:16] #40652 closed

[2020-06-22 20:18] #40417 closed

[2020-06-22 20:25] amahendrakar commented on #40548
@PiotrJander,
You are facing this error because of the mixed up imports of `keras` and `tf.keras`.

I was able to run the code without any issues using [keras](https://colab.research.google.com/gist/amahendrakar/9bb1bc3830a1b184c0d21ca6f4bbf9b3/40548-keras.ipynb), whereas I'm facing an error stating `KeyError: 'metrics'` on running the code with [tf.keras](https://colab.research.google.com/gist/am

[2020-06-22 20:25] gowthamkpr commented on #40655
@ucasiggcas Please take a look at similar [issue](https://github.com/tensorflow/tensorflow/issues/36465) and let me know if it helps. Thanks!

[2020-06-22 20:27] adk9 commented on #40688
Possibly duplicate of #40654? I'm also seeing the same issue with `v2.2.0` and GCC 7.5.0.

[2020-06-22 20:34] MeghnaNatraj commented on #40681
@victorromeo  can you share which tensorflow version you're using? You can print it in python by running
`print(tf.__version__)`

The `inference_input_type` and `inference_output_type` is not supported in TensorFlow 2.2 and will be available soon in TensorFlow 2.3 (yet to be released). However, it is available in our nightly builds. To unblock yourself and use this feature right now, you can run t

[2020-06-22 20:42] mihaimaruseac commented on #36347
It should be the same CUDA version as 2.0.

[2020-06-22 20:48] yixingfu commented on #40651
@arose13  You are right (but I think I did see that worked before I replied above. Not sure if I modified anything else at that time.)

If f0 is not trained, training f1 does not have problem.  Also if I change optimizer from 'sgd' to 'adam' it does not have nan.  Maybe it is a sgd problem caused by the training result of f0?

[2020-06-22 20:52] jingweimo commented on #36347
@mihaimaruseac I have tested that it works with cuda 10.0

[2020-06-22 20:57] fjp commented on #40527
Thanks for your help and the clarification.

[2020-06-22 20:57] #40527 closed

[2020-06-22 21:15] samhodge commented on #39439
@meteorcloudy @sanjoy @gunan

We have established two things

Including of the same symbols twice when linking can cause unexpected behavior

Tensorflow includes the same port.o file with the same symbols at least twice

Can we make sure the input into a bazel target have a directed acyclic graph representation?

It seems my approach of getting the union set of all of the object files under Linux

[2020-06-22 21:19] MeghnaNatraj commented on #37347
@Gorospe Sure! Feel free to tag/mention my Github name in a new github issue discussing the MobileNetV2 error and I can take a look at it.

[2020-06-22 21:24] mihaimaruseac commented on #39248
This should be fixed on master by 56a99d6. Can you please try again from `master` branch, syncing to a fresh hash? If it fails, can you please post the commit hash you are building from?

Preferably, can you post the full output of running the following commands?

[code]

Apologies for the delay, spent a while tried to replicate before I thought of looking into the code and saw the code change

[2020-06-22 21:30] mihaimaruseac commented on #39439
Including the same symbol twice results in ODR ([one definition rule](https://en.wikipedia.org/wiki/One_Definition_Rule)) and that is UB / prone to errors.

We have several ODR violations in TF, need to identify and fix them. Thanks for finding out that `port.o` causes it!

[2020-06-22 21:36] samhodge commented on #39439
I guess the next conclusion would be to find the size of the Union of all the required object files by recursive search of .params files then make a linking strategy with a complexity less than n factorial which was my last attempt failing after a six hours time out

Then see if the final linkage is under 2GB

I am guessing that is a testable binary outcome the file will have a size greater or les

[2020-06-22 21:43] arose13 commented on #40651
Incredibly clever fix @yixingfu !

I am so incredibly confused, do you have any intuition why this works?

f0 appears normal and I can `.predict()` etc, so why would something as arbitrary as the 'sgd' -> 'adam' work (it has worked).

**Note 1**: Only changed the second model `f1` to 'adam' fixes it. Changing only `f0` does not. This continues to make me believe that somehow the problem is with ho

[2020-06-22 21:45] aaudiber commented on #38915
`decode_image` is a wrapper around `decode_jpeg`, `decode_bmp`, `decode_png`, and `decode_gif`. `decode_image` automatically detects the file format based on a file's contents, then uses one of those functions. The rank of the result will depend on the file contents, since GIFs will have rank 4 while other images have rank 3. Shape inference happens before reading file data, so there is no way to

[2020-06-22 21:47] jvishnuvardhan commented on #40591
@AmitMY Can you please post this issue in Mediapipe repo? Thanks!

[2020-06-22 22:01] nikitamaia commented on #40628
Hi @imrankhan441, if you haven't seen it already, it might be worth taking a look at issue #34346 which has some more information around the work involved in making ImageDataGenerator work with TPU.

[2020-06-22 22:02] mmartial commented on #40688
Looked at PR, integrating the change into Dockerfile:
`&& perl -pi.bak -e 's%, CompareUFunc%, (PyUFuncGenericFunction) CompareUFunc%g' tensorflow/python/lib/core/bfloat16.cc \`
right before the `./configure` step.

Will report if this fixes the build

[2020-06-22 22:05] ll01 commented on #38915
Thanks such an embarising mistake ...

[2020-06-22 22:05] #38915 closed

[2020-06-22 22:09] nikitamaia commented on #35017
Hi @Crisescode, it looks like you are trying to use Keras with ParameterServerStrategy. Note that this is not currently possible, but is planned to be supported planned post 2.3. You can refer to the [chart here](https://www.tensorflow.org/guide/distributed_training#types_of_strategies) to see what is currently supported.

[2020-06-22 22:10] JoseLGP commented on #22480
Hello !!

I had a similar problem with a saved model that was present in the folders but I could not load because of the same error.
The solution was to write the absolute path to the model, instead of the generic path that I had on the code.

I hope that this can help to anyone with the same issue.
Regards.

[2020-06-22 22:12] sadam-99 commented on #33545
I tried replacing:
import keras as K
to:
import tensorflow.python.keras as K
But still its is not working, My Both Keras and Tensorflow are also updated. Any idea what other issue could be there?

[2020-06-22 22:13] gowthamkpr commented on #40629
@darrenwang00 Can you please share the code for us to reproduce this issue. Thanks!

[2020-06-22 22:13] sadam-99 commented on #33545
I tried replacing:
import keras as K
to:
import tensorflow.python.keras as K
But still its is not working, My Both Keras and Tensorflow are also updated. Any idea what other issue could be there?

[2020-06-22 22:13] mdanatg commented on #40589
This looks the same as #35765. It should be fixed in TF 2.2.

[2020-06-22 22:13] #40589 closed

[2020-06-22 22:35] EnderWiggin14 opened #40692 "Conv1DTranspose documentation inconsistent with code and unclear"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2020-06-22 22:59] mmartial commented on #40688
Confirming that this solves the `build` issue:
[code]

[2020-06-22 23:13] SSaishruthi commented on #32234
Similar issue #40171

[2020-06-22 23:19] yongtang commented on #40653
Added a PR #40693 to improve the error message.

[2020-06-22 23:22] pGit1 commented on #27190
This still is NOT resolved even with TF2.2.

[code]

[2020-06-22 23:26] zaqqwerty commented on #15644
Any progress on this?  My use case is to count unique bitstrings in a 2-D tensor.  Example input tensor:
[code]
which should return
[code]

[2020-06-22 23:26] victorromeo commented on #40681
Certainly.

I'm using a Docker latest-gpu-jupyter image with Tensorflow 2.2.0
[code]
This provides access to my local GPU (Num GPUs Available:  1)

[2020-06-22 23:33] zaqqwerty commented on #11575
See #15644, this is currently not a feature in tf 2.2

[2020-06-22 23:44] pavithrasv commented on #36822
Thank you @ngc92 . The equivalent of `result = keras.losses.MeanSquaredError()(t, ip)` will not be `result = (t - ip)**2 / tf.cast(tf.reduce_prod(tf.shape(t)), tf.float32)`.

It will be the following roughly:

[code]
Here is a detailed example for writing custom training loop: https://keras.io/guides/writing_a_training_loop_from_scratch/. Please check it out.

[2020-06-22 23:44] #36822 closed

[2020-06-22 23:53] #35177 closed

[2020-06-22 23:53] #38393 closed

[2020-06-22 23:54] ymodak commented on #40648
This is intended behavior. Please refer https://github.com/tensorflow/tensorflow/issues/28558 to know more.
You may [explicitly name layers](https://github.com/tensorflow/tensorflow/issues/28558#issuecomment-503598352) by passing name arg.
[code]

[2020-06-23 00:08] HashRocketSyntax commented on #40647
Ah, gotcha. length*width*height
Used on its own, the word length is pretty ambiguous. _n_ = number of rows.

[2020-06-23 00:16] princyok commented on #40642
I verified and I'm not seeing any issue in colab as well. I also tried with another machine and it didn't occur. But it still occurs in a different machine. Both Windows 10, 64-bit. I'm not sure why.

[2020-06-23 00:16] jvishnuvardhan commented on #27190
@pGit1 This is expected and this is what @pavithrasv described in detail [here](https://github.com/tensorflow/tensorflow/issues/27190#issuecomment-487233022).

Please check the usage examples and description [here]( https://www.tensorflow.org/api_docs/python/tf/keras/losses/BinaryCrossentropy?version=nightly).

Please let me know if there is anything I am missing. Thanks!

[2020-06-23 00:53] #40098 closed

[2020-06-23 00:58] ktaebum commented on #40659
@amahendrakar
Thanks for your response!
Unfortunately, my major curiosity is not `throughput` but elapsed time of `tf_function_scope` (printed as `before apply_gradients`).
In the [gist](https://colab.research.google.com/gist/amahendrakar/c83da47d9449d85d41a7bc1bb644ff89/40659.ipynb#scrollTo=xr382M0ATTsf), elapsed time of `tf_function_scope` is
- 237 ~ 238 ms when print loss before print time
- 55

[2020-06-23 01:06] buddhapuneeth commented on #40345
code for reverse LSTM:
[code]

To compare results with other inference engines like ONNXRuntime (by converting to ONNX)

[code]
OUTPUT:
[code]
Observation:
The values are in reverse to each other on axis 1.
Not sure which is correct behavior. Documentation is bit confusing here.

[2020-06-23 01:07] adk9 commented on #40688
In our testing, we found that this issue breaks building from source for TF 1.15.x and 2.x.

The issue comes from source build being incompatible with numpy `1.19.0` which has a breaking ABI change (numpy/numpy#15355) and was released 2 days ago.

Fixing numpy to pre 1.19.0 fixes the issue:
[code]

[2020-06-23 01:30] ucasiggcas commented on #40655
hi,thx
have tried the codes,SUCCESS

[code]
will close

[2020-06-23 01:30] #40655 closed

[2020-06-23 01:34] nikitamaia commented on #40656
Hi @dgaleareading, given your error message "fork failed: Resource temporary unavailable" it sounds like you are creating too many processes and exceeding your max of 4096. [Pool](https://docs.python.org/3.4/library/multiprocessing.html?highlight=process) uses process based parallelism, which will also create more processes, and then you're also calling model.fit_generator with use_multiprocess=Tr

[2020-06-23 01:37] niuyifeng1213 commented on #40658
I changed the code to the following. It succeeded.Thank you very much

[code]

[2020-06-23 01:37] #40658 closed

[2020-06-23 01:37] mmartial commented on #40688
Thank you, will force the `numpy<1.19.0' for the time being.

Also confirming 2.20 and 10.2 works with the `PyUFuncGenericFunction` fix

But 1.15.3 and 10.1 does not

[2020-06-23 01:56] alanpurple commented on #39248
@mihaimaruseac

[code]

[2020-06-23 01:57] fire717 commented on #40666
thx for reply, in your gist link, i just saw two blocks,
[code]

of course, you'll get priorbox3 not define error.

I didn't saw the 3 python files in code.zip I uploaded here.

[2020-06-23 02:04] fire717 commented on #40666
I've paste the 3 files and meet the same error :
[gist here](https://colab.research.google.com/gist/fire717/d0ea1f2528680e4af4b4021af6f55c88/untitled238.ipynb)

[2020-06-23 02:08] mihaimaruseac commented on #39248
This seems consistent with what we have

https://github.com/tensorflow/tensorflow/blob/d8b90acf95bdff09e29b1065739e28e8bd7500d9/configure.py#L52-L53

https://github.com/tensorflow/tensorflow/blob/d8b90acf95bdff09e29b1065739e28e8bd7500d9/.bazelversion#L1

Seems you have a broken bazelisk? Or a bazelisk which cannot automatically install bazel? What is the output of `type bazel`?

[2020-06-23 02:31] NeoZhangJianyu commented on #39490
@Lotte1990  We have created an internal issue to push dev team fix is as soon. We will update if any update.

[2020-06-23 02:39] fire717 commented on #40666
I sovled this by rewrite the layer function: compute_output_shape.

[2020-06-23 02:39] #40666 closed

[2020-06-23 02:40] terryheo commented on #40665
Since I don't have an access to your //tensorflow/lite/examples/myexample:myexample, I can't verify but the following command works for me. So the building flex:delegate doesn't have an issue.

[code]

This is my .tf_configure.bazelrc. I wonder why you have "build --config=tensorrt".
[code]

[2020-06-23 02:43] alanpurple commented on #39248
@mihaimaruseac
outside tensorflow repo, bazel is fine, my bazel version is 3.2.0

with modification to .bazeversion(to 3.2.0) works fine

[2020-06-23 02:44] alanpurple commented on #39248
[code]

[2020-06-23 02:45] alanpurple commented on #39248
[code]

[2020-06-23 02:46] alanpurple commented on #39248
so it's not my bazel's fault after all

[2020-06-23 02:46] renjie-liu commented on #38776
Currently we need all dimensions are known.

Thanks.

[2020-06-23 02:52] DJLee68 opened #40698 "Can i change channel count in tf.keras.preprocessing.image.ImageDataGenerator or tf.keras.preprocessing.image.DirectoryIterator?"
In Xception Pretrained model, i'm trying to use 6 channel as an input(299, 299, 6).

I'm using ImageDataGenerator and DirectoryIterator to load and preprocess data like this.

[code]

[code]

and in myFunc, i'm trying to return 6 channel(299, 299, 6) but it occurs error because preprocessing_function's input and output should be same shape.
so i want to make input 6 channels, like concatenate inpu

[2020-06-23 02:55] victorromeo commented on #38939
I'm trying to get a working SB-CNN on an Arduino Nano 33 BLE Sense.  I'm currently evaluating QAT, to determine why this model isn't successful.  Downstream, I'm attempting to get the model fully int8 quantized.

Reading the notes above, Batch Quantization is now supported? May I please get your thoughts on QAT support for the following model?https://gist.github.com/victorromeo/9b7ff6d0ca8cf6283e4

[2020-06-23 02:55] talumbau commented on #40680
Hi Can you attach the generated TF lite model? Thanks!

[2020-06-23 03:02] nikitamaia commented on #25620
Hi @ksachdeva, I know this is a late response, but in case this is all still confusing, I hope this explanation helps.

If using tf.distribute.MirroredStrategy in TF2 with the Keras API, the behavior is what you expect. If you have 100 examples in a batch, and 2 GPUs, then each GPU will receive 50 examples. You can see this point [documented here](https://www.tensorflow.org/guide/distributed_train

[2020-06-23 03:08] nikitamaia commented on #37151
Closing this issue since there's no way to reproduce the error, and as mentioned above ParameterServer strategy is currently not supported for the Keras API.

[2020-06-23 03:08] #37151 closed

[2020-06-23 03:09] reedwm commented on #39775
As you noted, I embarrassingly tried and failed to fix this in f748283ee01059be52da5dada6e2157d9f6732ba. This was broken even in master until fixed in 2730e4b0bcba80799ddc10f52081927848540f30, but the latter commit did not make it into 2.2. The reason this happened is that I made a small refactor after manually testing the change before submitting it, but did not realize I accidentally broke the f

[2020-06-23 03:09] #39775 closed

[2020-06-23 03:11] ek9852 opened #40699 "Quuantization.keras.quantize_model failed for subclasses model"
We are using a subclassed mode:
class MyNet(tf.keras.Model):

When trying to do
model = MyNet()
model = tfmot.quantization.keras.quantize_model(model)

We get:
  File "/usr/local/lib/python3.7/site-packages/tensorflow_model_optimization/python/core/quantization/keras/quantize.py", line 134, in quantize_model
    '`to_quantize` can only either be a tf.keras Sequential or '
**ValueError: `to_quantiz

[2020-06-23 03:16] nikitamaia commented on #34066
Sounds like a similar issue to [#33339](https://github.com/tensorflow/tensorflow/issues/33339), which has been fixed. Closing this issue now, but feel free to reopen if this is still a problem.

[2020-06-23 03:16] #34066 closed

[2020-06-23 03:18] mmartial commented on #40688
Confirming successful compilation on 2.20 and 10.2 with `numpy<1.19.0`.

Okay to close the issue.

I have different problems with 1.15.3 and `nvlink` (with 10.0 and 10.1) but if I can not resolve, I will open a different ticket.

[2020-06-23 03:28] ravikyram commented on #40668
@harshitpaliwal1011

Can you try with Windows 7 or later (64-bit) (Python 3 only)
Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017 and 2019.

I don't think Tensorflow support 32 bit architecture.Please, refer the issue #32315

Please, follow the instructions from [here.](https://www.tensorflow.org/install/source_windows).Thanks!

[2020-06-23 03:57] ghost-cmd commented on #40640
i am having the same issue . i have the latest pip  available but while installing  tensorflow :
ERROR: Could not find a version that satisfies the requirement tensorflow-cpu (from versions: none)
ERROR: No matching distribution found for tensorflow-cpu

[2020-06-23 03:57] agg-aditi commented on #40573
https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/guide/mixed_precision.ipynb

[2020-06-23 04:09] ravikyram commented on #40686
@ievgen-goichuk-rft

This issue is more suitable for TensorFlow Serving repo. Please post it on Serving repo from [here.](https://github.com/tensorflow/serving/issues) Thanks!

[2020-06-23 04:25] victorromeo commented on #40681
The conversion using 2.3.0 has produced a minor improvement, as it appears that int8 quantization is implemented on input and output layers.  I'm now finding that when the interpreter is run I get a QUANTIZE error now on layer index 11.

[code]
The tflite tensor details can be inspected to produce a simple output as follows.  I'm unsure where the QUANTIZE step is however, as it doesn't appear in t

[2020-06-23 04:45] amahendrakar commented on #37262
@kwijik,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the issue template, so that we can track it there. Thanks!

[2020-06-23 04:56] frreiss commented on #40171
Preliminary results from profiling the example program @kmh4321 provided with `pympler` and `gperftools`:
* The leak does not appear to be in the Python heap (or at least the portion of the Python heap that `pympler` can see).
* There's a pretty substantial amount of memory leakage of objects allocated from various subroutines of `TF_GraphImportGraphDefWithResults`. I'm guessing that some part of

[2020-06-23 04:59] frreiss commented on #40171
Here's the output of `pprof --text --stacks` in case anyone else can make more sense out of it:[pprof.out.txt](https://github.com/tensorflow/tensorflow/files/4817217/pprof.out.txt)

[2020-06-23 05:04] bzhaoopenstack commented on #40463
@AGSaidi @mihaimaruseac Cool. Thanks for your kind advice.

That part already pass. But I get the following error.

'''
ERROR: /home/zuul/tensorflow/tensorflow/python/BUILD:501:1: C++ compilation of rule '//tensorflow/python:bfloat16_lib' failed (Exit 1): gcc failed: error executing command
  (cd /home/zuul/.cache/bazel/_bazel_zuul/ce9de8ddb6d970afbff1ea6d450e3cd7/execroot/org_tensorflow && \
  ex

[2020-06-23 05:06] bzhaoopenstack commented on #40463
For above error, I use the build cmd is:
'''
bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package --local_ram_resources=14240 --local_cpu_resources=7 --verbose_failures
'''
Which is the same with other builds(2.0, 2.1 tensorflow whl build jobs)

[2020-06-23 05:11] razmik commented on #36423
Had the same issue, but resolved by updating NVIDIA device drivers to the latest (v446.14).
https://www.nvidia.com/download/index.aspx?lang=en-us

[2020-06-23 05:14] tzekid opened #40702 "Session crashes when I use TFLiteConverter with tf.lite.OpsSet.TFLITE_BUILTINS_INT8 option"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-06-23 05:24] KTTrev opened #40703 "[Regression] on_train_batch_begin callbacks with no batch number and size"
Yep this should work in TF2.1 as well, here's a full example (had to fix the metric code a bit):

[code]

_Originally posted by @omalleyt12 in https://github.com/tensorflow/tensorflow/issues/39314#issuecomment-630325421_

I would like to use the same method, but with `on_train_batch_begin`, and it doesn't work. Actually the logs remain empty even after using the new metric. How can I use the batch

[2020-06-23 05:29] Saduf2019 commented on #40703
@KTTrev
Please confirm if [this gist](https://colab.research.google.com/gist/Saduf2019/91c05885731c39ce65dbc80e2ae4416c/untitled237.ipynb) replicates the issue reported.

[2020-06-23 05:33] mlubinsky-arm opened #40704 "Didn't find op for builtin opcode 'LOGISTIC' version '1'"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution: Mac OS 10.16
- TensorFlow installed from  source at  2020-06-22  ( git clone.. )
- Target platform :  Arm Mbed OS

**Describe the problem**

Run-time error on FRDM-K66F board:
[code]
I looked at the TFLite source code, at it uses LOGISTIC version=0 :

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/

[2020-06-23 05:41] Saduf2019 commented on #40573
@agg-aditi
By colab gist i mean the code you have used, to reproduce the issue as shared in my gist, please remove indentation errors and share.

[2020-06-23 05:45] adonisues commented on #40574
My model is using following
`tf_enc_model` = tf.keras.models.Sequential([
    tf.keras.layers.Input(shape=(1, input_dim), name='input'),
    tf.keras.layers.LSTM(hidden_size, time_major=False, return_sequences=True)

[2020-06-23 05:52] KTTrev commented on #40703
The gist is working well. The issue I'm facing is when I change `on_train_batch_end` with `on_train_batch_begin`.

[2020-06-23 05:58] Jiaming-Jin commented on #36072
@liuxingbaoyu
I got the same message. I think the problem is because your CPU is processing your data every batch (or every epoch) before sending them to the model, where GPU trains the model. The thing is your CPU is processing the data much much slower than GPU training your model so most of your training time is actually spent on processing the data on CPU.
I was able to solve the problem (the

[2020-06-23 06:09] agarwal-ashish commented on #24774
@nikhil1008 It looks like your code is also measuring the "graph construction cost" which is likely unintentional.

Here is my measurement, using TF 2.x:
def diff_floor(x):
  xp = 10
  a = tf.range(-xp, xp + 1, 1, 'float32')
  b = tf.tile(x, (2 * xp + 1,))
  b = b - a
  b = 5000 * b
  b = 1 + tf.math.exp(-b)
  b = 1.0 / b
  b = tf.reduce_sum(b) - xp -1
  return b

@tf.function(experimental_compile

[2020-06-23 06:20] agarwal-ashish commented on #24774
@tejaslodaya Does tf.RaggedTensor work for you case instead of string encoding ? Another common approach is to pad the ragged data and then loop over it carefully to avoid the paddings.

Also vectorization support for control flow is better now and it can handle tf.while_loop and tf.cond. i.e. the `fn` passed to tf.vectorized_map can have loops and branches.
See https://github.com/tensorflow/tenso

[2020-06-23 06:21] agg-aditi commented on #40573
https://gist.github.com/agg-aditi/5a3727eee3e052e1275bf95e7284a115
this is the exact code i have used

[2020-06-23 06:24] swim77 opened #40706 "How to use Tensorflow Lite GPU support for python code"
<em>I want to run tflite model on GPU using python code. But it seems that the code does not use GPU (There's no increase in GPU resource usage.). Is it possible to give an GPU-related option in "tf.lite.Interpreter(model_path, option)"? </em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 16.04
- Python version:  3.6
- CUDA/cuDNN version: 10.1
- G

[2020-06-23 06:25] agg-aditi commented on #40573
i tried running the this tutorial which itself gave the error

[2020-06-23 06:34] bzhaoopenstack commented on #40463
Looks the same issue like https://github.com/tensorflow/tensorflow/issues/40688 , will test on it and let you know the result later. Thanks

[2020-06-23 06:35] thaink commented on #40157
Great to hear that.

[2020-06-23 06:37] agarwal-ashish commented on #24774
@igormorgado A common pitfall with vectorized_map usage is that the call includes the cost of code vectorization in addition to code execution. So it should typically be placed within a tf.function

Example:
def f(x):
  return tf.vectorized_map(lambda z: tf.math.log(z), x)

inp = tf.random.uniform([200, 200])
f(inp)  # warmup
# Slow call since it vectorizes code in each call!
%timeit f(inp)
-> 10

[2020-06-23 06:37] Lotte1990 commented on #39490
@NeoZhangJianyu Thank you for the update!

[2020-06-23 06:42] rafiqhasan opened #40707 "TF 2 Keras | DenseFeatures layer not referring to data set fields by names"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): Colab default
- TensorFlow version (use command below): 2.2
- Py

[2020-06-23 06:43] amitport opened #40708 "looping over tf.range in tf.function is slower than looping over range"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
colab tensorflow 2

`v2.2.0-0-g2b96f3662b 2.2.0`
tested on both CPU and GPU (GPU is much worse!)

**Describe the

[2020-06-23 06:48] agarwal-ashish commented on #24774
@vidursatija

Here are some benchmarks:

def f(elems):
  return tf.map_fn(lambda x: x**6 , elems, dtype=tf.float64, parallel_iterations=56)

elems = tf.range(1,1000, dtype=np.float64)

f(elems)
%timeit f(elems)
-> 10 loops, best of 3: 162 ms per loop

compiled_f = tf.function(f)
compiled_f(elems)
%timeit compiled_f(elems)
->100 loops, best of 3: 12.8 ms per loop

@tf.function
def vectorized_f(elem

[2020-06-23 06:50] sharvil opened #40709 "What exactly does `tf.signal.fft` compute?"
## URL(s) with the issue:
https://www.tensorflow.org/api_docs/python/tf/signal/fft

Please provide a link to the documentation entry, for example:
https://www.tensorflow.org/api_docs/python/tf/signal/fft

## Description of issue (what needs changing):
The description is simply "Fast Fourier transform." which isn't fully-specified. What is the exact function computed? Is there a normalization term

[2020-06-23 06:52] vadera11jeet commented on #25794
can I work on this issue?

[2020-06-23 06:55] sharvil commented on #40709
https://pytorch.org/docs/master/generated/torch.fft.html can serve as a template for the kind of information that a developer would find useful.

[2020-06-23 07:08] zhidaole commented on #24570
I meet the same problem in tf 2.2 and python 3.6

[2020-06-23 07:08] cbalint13 commented on #40688
@mmartial ,

On behalf #40654 thank you for investigation !

[2020-06-23 07:17] Leslie-Fang opened #40711 "Question: About Intra-threadpool core affinity"
When we use the intra-threadpool, which I believe is based on pthread,it seems we didn't find some where the code would try to set the CPU hard affinity
https://github.com/tensorflow/tensorflow/blob/e5023a1738cce7efcdf9d87863b85c80ab2f8c9e/tensorflow/core/common_runtime/local_device.cc#L114-L159
by calling the functions like `pthread_setaffinity_np` and `pthread_getaffinity_np`
Is anyone knowing t

[2020-06-23 07:31] Saduf2019 commented on #40711
@Leslie-Fang
This question is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2020-06-23 07:32] mhorlacher commented on #24774
@agarwal-ashish thanks for the code examples, would you mind formatting it to make it more readable?

[2020-06-23 07:36] Saduf2019 commented on #40707
I am able to replicate this issue, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/98a10b26666e5117229216072d4a7957/untitled241.ipynb).

[2020-06-23 07:40] swim77 opened #40712 "How to run TF lite model on Nvidia GPU (NNAPI or GPU delegate)?"
I found that TF lite targeted major mobile GPUs including Adreno, Mali, and PowerVR from closed issue (https://github.com/tensorflow/tensorflow/issues/34536).

1. I wonder if... I can run TF lite model on the gpu, Nvidia T4.

2. I wonder if... "TF lite model is optimized to mobile gpus" means the case of using NNAPI.
I want to check if the sentence above means that ... the gpus that I can run TF l

[2020-06-23 07:42] mhorlacher commented on #24774
`tf.map_fn` was slow for me as well, which is why I was switching to `tf.vectorized_map`, however some TensorFlow Ops seem to be not supported / vectorized with `tf.vectorized_map`.

For example:

[code]

[code]

Which results in execution times of `vectorized_map` being similar to `map_fn`.

Any ideas to solve this?

[2020-06-23 07:44] prabhat00155 commented on #40680
How do you suggest I do that? I can't attach a TFLite model here. Also, if you follow the steps mentioned above, you can get the TFLite model.

[2020-06-23 07:45] Akshusharma7 commented on #40660
Hi @Saduf2019 yeah i have went through the comment and i have uninstalled tensorflow==2.2.0 and installed tensorflow== 2.0.0. So now i am getting below error:

rasa.core.policies.ensemble.InvalidPolicyConfig: Module for policy 'MemoizationPolicy' could not be loaded. Please make sure the name is a valid policy.
could you pls comment how to fixed it.

[2020-06-23 07:47] ravikyram commented on #40706
@swim77

Please, let us know which tensorflow version you are using?.Request you to share colab link or simple standalone code with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-06-23 07:54] agarwal-ashish commented on #24774
vectorized_map does require registering a "converter" for each op that defines how that op is vectorized. Please see comments for RegisterPFor that describes how these can be defined, in case you want to contribute these.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/parallel_for/pfor.py#L844

[2020-06-23 07:56] NeoZhangJianyu commented on #39851
@pks Could try with the suggestion above and feedback?

[2020-06-23 07:56] Saduf2019 commented on #40660
@Akshusharma7
Can you share the complete stand alone indented code such that we can replicate the issue faced or if possible share colab gist with the error for us to analyse.

a per the error can you refer to [this link](https://github.com/RasaHQ/rasa/issues/3021) and let us know if it helps resolve the issue

[2020-06-23 07:57] NeoZhangJianyu commented on #39824
@oracle3001 Is it possible to close this issue?

[2020-06-23 07:58] Saduf2019 commented on #31335
@laket
Is this still an issue.

[2020-06-23 07:59] Leslie-Fang commented on #40711
@Saduf2019 Thanks, I will open it in StackOverflow.

[2020-06-23 07:59] #40711 closed

[2020-06-23 08:01] NeoZhangJianyu commented on #38377
vim tensorflow/workspace.bzl
modify the line: strip_prefix = "mkl-dnn-0.20.3" to strip_prefix = "oneDNN-0.20.3"

[2020-06-23 08:02] agarwal-ashish commented on #24774
@jsimsa for dataset map calls which has its own vectorization support

[2020-06-23 08:02] NeoZhangJianyu commented on #38377
@leonelacs Have the above answer resolved your issue? If yes, could you close the issue?

[2020-06-23 08:04] amahendrakar commented on #40640
@ghost-cmd,
Please check if you have met all the system requirements for installing TensorFlow from [this link](https://www.tensorflow.org/install/pip#system-requirements).

If you are still facing the same error, please submit a new issue form [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2020-06-23 08:04] NeoZhangJianyu commented on #38295
@wangyunxiaa Have the above solution resolved your issue? If yes, could you close it?

[2020-06-23 08:05] yyoon commented on #40518
Well, if you're using a quantized model, then it's probably a different issue from the one I linked above.

Another possibility is that this is caused by the difference in the way image is preprocessed before fed into the model. IIUC, the image is cropped and then resized in the Android app, whereas the iOS app does not properly crop the image.

Do you think this could be the cause?

[2020-06-23 08:07] KiryanovKD commented on #40665
When i'm trying to build flex delegate, i have the same error. And as can i see, in your command there aren't cross-compiling option for aarch64 --config=elinux_aarch64

My cross-compiling build:
`bazel build --config=elinux_aarch64 --config=noaws --config=nogcp --config=nohdfs --config=nonccl --config=monolithic tensorflow/lite/delegates/flex:delegate`

Error:
[code]

[2020-06-23 08:19] mhorlacher commented on #24774
Thanks @agarwal-ashish, but I fear that registering the a converter for the above ops is beyond my skill set, as I just started with TensorFlow.

[2020-06-23 08:19] harshitpaliwal1011 commented on #40668
@ravikyram
Thanks, I'll try installing python 64 bit and then tensorflow.

[2020-06-23 08:21] NeoZhangJianyu commented on #36123
@djstrong Have your issue disappeared? If yes, could you close it?

[2020-06-23 08:24] NeoZhangJianyu commented on #34213
@RogueLogix Is it possible that you close this issue?

[2020-06-23 08:31] terryheo commented on #40665
Didn't you miss " --cxxopt=--std=c++14" ?

[2020-06-23 08:33] PiotrJander commented on #40548
Thank you. I knew this is due to mixing up `keras` and `tf.keras`, I just wanted to raise this in case mutual compatibility were a goal.

Perhaps the docs should state visibly that `keras` and `tf.keras` are not mutually compatible?

[2020-06-23 08:34] AakashSasikumar commented on #40631
Sorry about that. This should fix it.

[code]

[2020-06-23 08:35] djstrong commented on #36123
Yes, thank you!

[2020-06-23 08:35] #36123 closed

[2020-06-23 08:36] KiryanovKD commented on #40665
yep, sry, i tried
`bazel build --config=elinux_aarch64 --config=noaws --config=nogcp --config=nohdfs --config=nonccl --config=monolithic --cxxopt=--std=c++14 tensorflow/lite/delegates/flex:delegate
`
too, but got same error

[2020-06-23 08:36] kl5017 commented on #40548
I solved this problem by using tensorflow==1.14.0 and keras==2.3.1

[2020-06-23 08:38] Gorospe commented on #37347
I deleted the comment as I updated Tensorflo Lite for Micro library and now it works perfectly.
Thank you!

[2020-06-23 08:49] terryheo commented on #40665
I suspect some parameter in your  .tf_configure.bazelrc
Could you try to run configure again? Please do not enable anything.
[code]

[2020-06-23 08:53] #40307 closed

[2020-06-23 08:53] #40308 closed

[2020-06-23 09:05] NeoZhangJianyu commented on #30475
@skrisna Is it possible to close this issue?

[2020-06-23 09:20] KiryanovKD commented on #40665
Same error, but maybe i need to add that without --config=elinux_aarch64 its building fine

[2020-06-23 09:24] veonua commented on #35451
NO! BOT STOP!

[2020-06-23 09:27] jianhua-hsu commented on #40661
Hi guys,

Is there any other way that can generate static libraryy tensoflowlite.a. ^ ^. or someone can share the experience of it. I've been trying many ways such as bazel build, still meet many errors.

should the tensorflow version be consistent with bazel version or android NDK version or GCC version? ^^

[2020-06-23 09:30] tejaslodaya commented on #24774
@agarwal-ashish in my case, padding it with 0s and carefully parsing them out using raggedtensors would mean padding all the features till the max of length of all rows.

For anyone having the same problem, we overcame this requirement by creating an explicit training-prediction skew with transformed features used for training (till model function) and applying transformations only for prediction.

[2020-06-23 09:31] syamsruthin commented on #40266
@ymodak @amahendrakar
Hi... any update on this?

[2020-06-23 09:34] ievgen-goichuk-rft commented on #40686
OK. I have raised a https://github.com/tensorflow/serving/issues/1675 .

[2020-06-23 09:37] fsx950223 commented on #40253
Any update?
Could I submit a pull request?

[2020-06-23 09:43] terryheo commented on #40665
Could you share which hash tag of master branch you are using?

[2020-06-23 09:46] Saduf2019 commented on #40698
@DJLee68
Please share complete indented code such that we could replicate the error faced, can you share the error or if possible share a colab gist with the error for us to analyse.

[2020-06-23 09:53] #40288 closed

[2020-06-23 10:08] DroneMesh opened #40713 "graph.o: In function `entry':"
Hi,

I am running into this strange issue. So I am able to compile using a specific TensorFlow library which is the open baselines and whenever I create a model with stable-baselines I keep getting this error when I go to compile.

I am not a C++ or C wizard so this has proven to be very difficult to figure out for me. Any insight would be much appreciated.

Been trying to resolve this for 14 days

[2020-06-23 10:16] NihalHarish commented on #33478
How do we the same thing when running non-eager mode, i.e `tf.function`?

[2020-06-23 10:26] swim77 commented on #40706
I downloaded the tflite model from https://www.tensorflow.org/lite/models/image_classification/overview.

And used the simple code as below:
===============================================================
import cv2
import pathlib
import tensorflow as tf

folder_path = './data'

interpreter = tf.lite.Interpreter(model_path="test.tflite")
input_details = interpreter.get_input_details()
output_detai

[2020-06-23 10:30] amahendrakar commented on #40667
@BV-SS,
Installation issues within the Anaconda environment are tracked in the Anaconda repo.

Could you please submit a new issue using [this link](https://github.com/ContinuumIO/anaconda-issues/issues) and fill in the template, so that the issue can be tracked there. Thanks!

[2020-06-23 10:31] amahendrakar commented on #40667
Also, please take a look at [this](https://stackoverflow.com/a/47278208) StackOverflow comment from a similar issue and let us know if it helps. Thanks!

[2020-06-23 10:34] KiryanovKD commented on #40665
r2.3, and now i just tried r2.2 - same thing

[2020-06-23 10:56] amahendrakar commented on #40679
@spatialaudiolabs,
Looks like this issue is a duplicate of [#40099](https://github.com/tensorflow/tensorflow/issues/40099). Can you please close this issue since it is already being tracked there. Thanks!

[2020-06-23 10:59] shilan commented on #40418
I ran the command provided by Intel. It doesn't set any flags for avx2 or avx but it also got stock for 2 days and I just stopped it.
It is so weird that there is no clear command or flag to build tensorflow with **avx2** flags on **windows** platform in tensorflow documents or anywhere!
I just cannot believe there is no certain or tested way of doing this!

[2020-06-23 11:00] shilan commented on #40418
I am gonna close this issue, but it doesn't mean that it is resolved. It just means I gave up on tensorflow and intel poor documentation.

[2020-06-23 11:00] #40418 closed

[2020-06-23 11:02] anis-agwan commented on #40637
I have used only Keras for the model training

[2020-06-23 11:04] anis-agwan commented on #40637
[code]

[2020-06-23 11:17] D1abloRUS commented on #26393
@bartoszkp You can see an example of how to build under kubernetes https://github.com/puzl-ee/tensorflow

[2020-06-23 11:20] spatialaudiolabs commented on #40679
Hi Amahendrakar

Here I am running on macOS and the output error is actually different. Shouldn't they be treated separately?

[2020-06-23 11:22] D1abloRUS commented on #33390
@dmitryr117 You can use https://puzl.ee so as not to buy a new gpu

[2020-06-23 11:28] D1abloRUS commented on #40590
@sarab2811 You can use https://puzl.ee to save time on tf deployment

[2020-06-23 11:32] yyoon commented on #40521
I can confirm that there was a performance regression issue exactly on 6/11, which got fixed the next day, so let me close this issue. If you are still seeing the issue after `pod update`, feel free to reopen.

[2020-06-23 11:32] #40521 closed

[2020-06-23 11:39] D1abloRUS commented on #25939
https://github.com/puzl-ee/tensorflow

[code]

[2020-06-23 11:53] #40309 closed

[2020-06-23 12:10] sayakpaul opened #40714 "ValueError: return statements are not supported within a TensorFlow loop."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.2.0
- Python ve

[2020-06-23 12:17] transformerzhou opened #40715 "BERT has a invaild variable"
tensorflow 2.2.0
tensorflow_hub 0.8.0

my code is `bert_url = r"https://tfhub.dev/tensorflow/bert_en_cased_L-12_H-768_A-12/2"

 bert = hub.KerasLayer(bert_url, trainable=True)

 print(bert.variables[-1])`
and the result is '**<tf.Variable 'Variable:0' shape=() dtype=bool, numpy=False>**'
my another task is limited by the variable, how to remove it?

[2020-06-23 12:29] erolgerceker commented on #37756
thanks a lot

[2020-06-23 12:32] ravikyram commented on #40631
@AakashSasikumar

I have tried in colab with TF version 2.2 .Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/45b4bed9448d501d4bb87ba9a00cd37f/untitled55.ipynb).You are also seeing the same behavior?.Thanks!

[2020-06-23 12:40] ravikyram commented on #40686
@ievgen-goichuk-rft

Can we close the issue here and track the issue in serving repo. Please, confirm.Thanks!

[2020-06-23 12:43] aselva-eb commented on #40157
@thaink - I've attached the converted model:

[model.tflite.zip](https://github.com/tensorflow/tensorflow/files/4819404/model.tflite.zip)

[2020-06-23 12:49] kbrose commented on #38296
This sounds to me like we shouldn't be closing the issue whether or not the stop gap works. What do you think @ravikyram ?

[2020-06-23 12:59] maiskovich commented on #34346
Sorry, I am not understanding if there is a workaround available, I am using flow_from_dataframe, is there anything I can do to run my Keras code with the available TPU?

[2020-06-23 13:04] jpodivin commented on #40714
As per the [docs]( https://www.tensorflow.org/api_docs/python/tf/data/Dataset#map) the map function doesn't support arbitrary python code because it converts everything into graph. In order to run something more complex you need to use [tf.py_function](https://www.tensorflow.org/api_docs/python/tf/py_function).

However, I think that this kind of task is better suited for different approach entire

[2020-06-23 13:20] rambowding commented on #40121
@amahendrakar
It also works in my jupyter environment,  it is way that I convert tf model to tflite model temporarily. The issue happens in venv environment, I am sorry for not pointing it out definitely.

[2020-06-23 13:27] sayakpaul commented on #40714
This section (https://www.tensorflow.org/tutorials/load_data/images#load_using_tfdata) showcases otherwise, though. Sorry if my understanding is wrong.

Any supporting minimal code snippet?

[2020-06-23 13:31] bjarthur commented on #39232
the [install docs](https://www.tensorflow.org/install) say "Ubuntu 16.04 or later".  please update the docker images to 20.04!  thanks.

[2020-06-23 13:35] amahendrakar commented on #40683
@Cillinc,
As per [this](https://github.com/tensorflow/tensorflow/issues/32967) similar issue installing the GPU package of TensorFlow fixed the issue.

Could you please install TensorFlow using the command `pip install tf-nightly-gpu` and let us know if it works. Thanks!

[2020-06-23 13:36] colorful-ocean commented on #40541
@iobtl
yes，but I need divide the img's h and w. This will get error, because it is None.
[code]

[code]
**This problem has been bothering me**

[2020-06-23 13:42] amahendrakar commented on #40519
@melhabr,
The issue seems to be fixed with the latest TF-nightly.

I was able to compile the model with the edgetpu-compiler tool, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/19e793d8d1e9b9c412c3854610861eaf/40519.ipynb). Thanks!

[2020-06-23 13:43] AlexisLattard opened #40716 "TFLite generation issue with lrn"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source): 2.1.0

**Infos**

Tflite return a type issue when i use the code below but it doesn't when just switching the lrn and multiply declaration order in the code

**Custom code (test_tflite.py)**

[code]

[2020-06-23 13:44] #40698 closed

[2020-06-23 13:47] amahendrakar commented on #40688
Marking the issue as closed, as it is resolved. Please feel free to re-open the issue if required. Thanks!

[2020-06-23 13:53] #40273 closed

[2020-06-23 13:54] colorful-ocean commented on #40541
@iobtl
I found the solution!
**fail**
[code]
**fail**
[code]
**success**
[code]
finally!

[2020-06-23 13:58] nikhil1008 opened #40717 "Writing custom py_function inside custom layer , gradient backpropagation"
Hi ,

I'm writing a custom py_function inside a custom layer. But I get error during gradient backpropagation. I'm using tensorflow 1.1.4 with eager execution enabled. While debugging I reduced the complexity of code, and now 'm just trying 1-d DCT of input. I still get the error.

Here is my code :

from scipy.special import expit
from scipy.fftpack import dct, idct
import time

def fdct (a):

[2020-06-23 13:59] dgaleareading commented on #40656
Hi @nikitamaia, thanks for your reply. Here are my answers:

Yes, I still have the same problem without distributed training

I still get the same problem with use_multiprocessing=False

My system is down for a few days (due to a power cut at the HPC site), but I will put the readout of the pstree command whenever it is bck online.

[2020-06-23 14:03] xlnwel commented on #40688
Hi, @mmartial. I also run into the same issue. I've downgraded numpy to 1.18.5 but it did not fix the problem. Here's the error message I received

                             const std::array<int, 3>& types) {
                                                            ^
tensorflow/python/lib/core/bfloat16.cc:610:60: note:   no known conversion for argument 2 from ‘<unresolved overloaded functio

[2020-06-23 14:16] bm777 commented on #40541
h_src = tf.shape(hr_image)[0]; w_src = tf.shape(hr_image)[1]

Le mar. 23 juin 2020 à 15:01, colorful-ocean <notifications@github.com> a
écrit :

[2020-06-23 14:21] hedgehog91 opened #40719 ""Cannot find bazel" return 0 in configure.py"
Hello!
In file configure.py inside a function check_bazel_version when bazel is not exists this function returns 0.

Here is a part of code:
  if which('bazel') is None:
    print('Cannot find bazel. Please install bazel.')
    sys.exit(0)

Should be sys.exit(1)? It's an error.

[2020-06-23 14:28] Cillinc commented on #40683
[code]

tanks guys for the help - it's worknig now after :
`pip install tf-nightly-gpu `

[2020-06-23 14:28] #40683 closed

[2020-06-23 14:32] meet-minimalist commented on #40648
Thanks for the reply. Actually I am looking for grouping similar layers in model definition. Like in ResNet we can group a single residual block and name it 'ResBlock_1', 'ResBlock_2' and so on. It would be very easy to use name_scope and prefix all the layers inside it with a single name rather than passing that name into all the sub-layers and sub-layers' of those sub-layers' to change their nam

[2020-06-23 14:49] talumbau commented on #40680
The dialog box I am typing in now says "Attach files by dragging and dropping":

<img width="530" alt="Screen Shot 2020-06-23 at 7 48 18 AM" src="https://user-images.githubusercontent.com/1891418/85418755-0675f580-b526-11ea-99e9-7551fa77677f.png">

I think this should work for the model.

[2020-06-23 14:56] WuDiDaBinGe commented on #11991
When I build   tf2.0，I met the  same issue.
i use bazel version is 0.24.1
tf2.0 request bazel version is :
`_TF_MIN_BAZEL_VERSION = '0.24.1'
_TF_MAX_BAZEL_VERSION = '0.26.1'`

i think my bazel version is right??
i want to know other method to solve the issue without   "rolling back bazel"

[2020-06-23 15:01] Saduf2019 commented on #40717
@nikhil1008
I ran your code on tf 1.14 and 2.2 and do not face any error as reported, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/a80dfe73ebd37b6c1cf63e7ae7f43164/untitled238.ipynb).

[2020-06-23 15:09] prabhat00155 commented on #40680
You can't attach a TFLite model here(unsupported file type).

[2020-06-23 15:10] imrankhan441 commented on #40628
**Please Run This Code you will understand what I mean.**

[code]

[2020-06-23 15:12] prabhat00155 commented on #40680
I tried creating a zip and attaching it, but the zipped version is 31 MB and there is a 10 MB limit here.

[2020-06-23 15:16] NickNickGo commented on #40717
Hi,
I think the Indentation in your code was not same as mine , I corrected it in your notebook.

Here is my full code :

https://colab.research.google.com/drive/1ZEc9cGJ6uNT6ZBxwxIX08J4-RR9_rEzU#scrollTo=lMYfv3ChvZRE

pasting here as well :

import tensorflow as tf
import numpy as np
from tensorflow import keras
from tensorflow.keras import layers
from PIL import Image
CUDA_VISIBLE_DEVICES=0
tf.c

[2020-06-23 15:18] amahendrakar commented on #40699
@ek9852,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the TensorFlow version you are using. Thanks!

[2020-06-23 15:20] mihaimaruseac commented on #39248
This is what I see on my end, on a Docker container with bazelisk installed.

[code]

Note how bazelisk is able to download the missing bazel on my system.

If I change `.bazelversion` to something which does not exist then I am able to reproduce your output:

[code]

To go further, can you run the following two commands in the `tensorflow` directory please? (Install `strace` if missing)

[code]

[2020-06-23 15:35] Saduf2019 commented on #40717
@nikhil1008
I had to correct the indentation in your code else i am facing indentation error, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/68a3926dc13fcd6f4f29daeedcc24117/untitled238.ipynb).
Please share a  colab gist with your code where you face an error. the above link is not accessible.
Is there any particular reason for using older version on tf when later ver

[2020-06-23 15:46] harshitpaliwal1011 commented on #40668
@ravikyram
Update, thanks for the help.
I successfully installed Python 3.7.8 (64 bit) and then installed tensorflow
Imported tensorflow and ran a small code. It seems to be working fine now.
Here's the code snippet and the output.
* Code:
![image](https://user-images.githubusercontent.com/54016415/85425273-9a7fa580-b596-11ea-8f4c-2b2938b33ed8.png)

* Output:
![image](https://user-images.githubuse

[2020-06-23 15:46] MarkDaoust commented on #38248
I'm working on this now.

[2020-06-23 15:49] jojivk73 opened #40720 "TF Unit test flaky in haswell/broadwell machines"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-06-23 15:50] krafczyk opened #40721 "Import .tflite model into Tensorflow graph"
**System information**
- TensorFlow version (you are using): 2.2.0
- Are you willing to contribute it (Yes/No): No (Don't have expertise to do it..)

**Describe the feature and the current behavior/state.**
I'd like to be able to import a .tflite model as a 'node' within a tensorflow graph. This would allow people to download published .tflite models, add pre/post processing nodes to the graph, th

[2020-06-23 15:58] NickNickGo commented on #40717
@Saduf2019

I edited **your** notebook, Please take a look. The issue is reproducible now.

https://colab.research.google.com/gist/Saduf2019/68a3926dc13fcd6f4f29daeedcc24117/untitled238.ipynb#scrollTo=bR0mK9eG0CHF

I have dependency over cuda version , therefore I need to use TF=1.14. Btw, I tried with 2.2.0 as well , I get same error.

[2020-06-23 16:10] jpodivin commented on #40630
@Santosh-Gupta
You might want to consider alternative ways to monitor learning process. Depending on your needs you could save the return value of the fit method ('history') as a csv. Or just passing to plotting method of your choice. You could also use tensorboard to plot the training metrics and analyze the weights.

[2020-06-23 16:14] NickNickGo commented on #40717
Please use following link in case you can't see changes I made to your notebook.

https://colab.research.google.com/drive/1s9QPYIclIMcrcFPkrhcOhOHemB-LSuKl?usp=sharing

[2020-06-23 16:16] jianghaoyuan1994 commented on #33755
same here

[2020-06-23 16:20] mihaimaruseac commented on #40614
Hmm, still missing the full output of the build command. Can you run the following commands please?

[code]

and then **attach** `log.txt` in a reply?

[2020-06-23 16:33] gunan commented on #40561
@av8ramit @bmzhao did our fixes for libtensorflow go into the 2.2 branch? Or do we expect build failures in 2.2 branch.

[2020-06-23 16:34] mihaimaruseac commented on #40561
They were not backported. The newly cut 2.3 branch should have them though

[2020-06-23 16:35] #31335 closed

[2020-06-23 16:37] jojivk73 commented on #33138
The current performance is better with DNNL 1.x.
   MKL Time : 0.2231828489s

[2020-06-23 16:37] ek9852 commented on #40699
@amahendrakar
# Tensorflow 2.2.0

import tensorflow as tf
import tensorflow_model_optimization as tfmot

class MyNet(tf.keras.Model):

    def __init__(self, filter_nbr=8):
        """Init MyNet fields."""
        super(MyNet, self).__init__()

        self.conv11 = tf.keras.layers.Conv2D(filter_nbr, kernel_size=3, padding='SAME')

    def call(self, inputs):
        """Forward method."""

[2020-06-23 16:41] #40633 closed

[2020-06-23 16:43] jpodivin commented on #40692
@EnderWiggin14

Full padding is just an extreme case of zero padding. When applied it makes output tensor larger than the input tensor. Unlike Tensorflow implementation, stand alone Keras doesn't allow 'full' padding. Instead it passes value of padding variable to  `_preprocess_padding`  helper function.

[code]

The padding in this case means number of symbols, for example 0s, used to pad the ten

[2020-06-23 16:48] ralfmue commented on #34689
In Python, indentations do matter. try this:

[code]

[2020-06-23 16:53] #32957 closed

[2020-06-23 16:57] penpornk commented on #39490
@NeoZhangJianyu Thank you for the update!

@Lotte1990 I only provided the link to show that MKL supports Windows build. I didn't mean to imply that the link would solve the problem. Sorry if it seemed that way!

[2020-06-23 16:58] mmartial commented on #40688
@xlnwel Looking at the above, you used the PR (or the Perl command).
I removed the Perl command when I used `numpy<1.19.0`

I am putting below the updated `Dockerfile` hoping it works for you:
[code]

[2020-06-23 16:58] rachellim commented on #24570
@zhidaole, you can share a code snippet so we can reproduce this issue?

[2020-06-23 16:59] penpornk commented on #39934
The branch has been cut. I'm closing the issue now. Thank you all again for your hard work!

[2020-06-23 16:59] #39934 closed

[2020-06-23 16:59] amahendrakar commented on #40708
@amitport,
I was able to reproduce the issue with TF v2.2, however I see significant improvement with TF-nightly. Please check the below gist for reference.

- TF v2.2 with [CPU](https://colab.research.google.com/gist/amahendrakar/05c67191e500e8ead961f721586ca9d4/40708-cpu.ipynb), TF v2.2 with [GPU](https://colab.research.google.com/gist/amahendrakar/82bed13091464f020491b09382600bc5/40708-gpu.ipyn

[2020-06-23 17:00] nammbash commented on #39934
@penpornk thank you too!

[2020-06-23 17:02] pGit1 commented on #27190
@jvishnuvardhan I see that but it still doesn't make sense to me. I discovered the tf.nn.sigmoid_cross_entropy by accident and it behaves _exactly as one would expect_ when there is no reduction (i.e. element-wise loss scalars). @pavithrasv explanation doesn't makes sense to me and the documentation doesn't either. It's is weird to me that no reduction actually leads to a loss in tensor dimension.

[2020-06-23 17:06] MeghnaNatraj commented on #40681
@victorromeo Could you share the code you run which caused the QUANTIZE error? Along with the error details?

For an int8 quantized model, the biases are always of type int32 - this is expected.
Why? Let's say that an op output =  weight * op input + bias. The product of two int8 operations (weight and op input) and an addition requires a int32 register. Hence, the range of values that the bias te

[2020-06-23 17:06] AhmedEwis commented on #40182
Hello,
can you explain what do you mean by "When I change to another directory (e.g., $HOME)"
Thanks

[2020-06-23 17:09] #30475 closed

[2020-06-23 17:11] amahendrakar commented on #40715
@transformerzhou,
Issues related to Hub modules are tracked in the TensorFlow Hub repo.

Could you please submit a new issue from [this link](https://github.com/tensorflow/hub/issues/new) and fill in the template, so that we can track the issue there. Thanks!

[2020-06-23 17:16] FlorentijnD opened #40722 "Segmentation fault interpreter->SetNumThreads CPP"
@tensorflow/micro

**System information**
Hardware : Freescale i.MX6 Quad/DualLite
Processor: ARMv7 Processor rev 10 (v71)
OS Platform and Distribution: Yocto built Linux distribution (kernel 4.9.4+)
The tf-lite library was built with common options and using default makefile: https://github.com/tensorflow/tensorflow/blob/r1.15/tensorflow/lite/tools/make/Makefile
API : CPP

**Describe the problem*

[2020-06-23 17:21] oby1 commented on #36428
@tanzhenyu Do you have an estimate of when this issue will be resolved?  Is there anything the community can do to help?

[2020-06-23 17:32] tanzhenyu commented on #36428
Can you try tf-nightly? There are quite some fix updates on this issue

[2020-06-23 17:35] amahendrakar commented on #40121
@rambowding,
Could you please check the TensorFlow version in the virtual environment? Make sure that you are using TensorFlow v2.2 in the virtual environment too. Thanks!

[2020-06-23 17:37] #40593 closed

[2020-06-23 17:59] xingyu-long opened #40724 "Invalid test case from test_zero_padding_2d in convolutional_test.py"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04

**Describe the current behavior**
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/layers/convolutional_test.py#L654
They try to test on different data_format configurations, ie. `channels_first`, `channels_last`. But for the code in the abovementioned link, it's meaningless,

[2020-06-23 18:05] Trel725 opened #40725 "Incorrect documentation for model_from_config"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/keras/models/model_from_config

## Description of issue (what needs changing):

tf.keras.models.model_from_config function can create only layers, not the complete model as it is described in documentation. Correct usage is mentioned at https://www.tensorflow.org/guide/keras/save_and_serialize, but not described in the main d

[2020-06-23 18:16] amahendrakar commented on #40538
@kinos9,
As per the [.bazelrc](https://github.com/tensorflow/tensorflow/blob/080851ad09152127ec7664c626b30c71268009fb/.bazelrc#L31) file, monolithic compiler option builds all TF C++ code into a single shared object. Also, please take a look at [this](https://stackoverflow.com/a/56576464) similar StackOverflow query.
Please feel free to close the issue if resolved. Thanks!

[2020-06-23 18:17] av8ramit commented on #40561
If you need the cherrypick them, the list is tagged on the internal bug.

[2020-06-23 18:21] ymodak commented on #40669
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2020-06-23 18:21] #40669 closed

[2020-06-23 18:25] bmzhao commented on #40561
Heads up, this is libtensorflow_cc, not libtensorflow. libtensorflow_cc corresponds to the TF 1 C++ API, whereas libtensorflow is the C API. av8ramit and I are currently focused on maintaining the C API.

[2020-06-23 18:27] YannisAgiomyrgiannakis commented on #38518
I had the same problem. Please reopen the bug. It's a shame to put this under the carpet...

The issue happens when another process is already using - even partially - the same GPU.

Looks like Tensorflow tries to occupy the same namespace across processes - the type of bug that gets people fired on most companies and promoted at Google Brain...

[2020-06-23 18:29] mtngld commented on #40056
Invalidated cache ("File" -> "Invalidate Caches/Restart") still seeing this issue when using GPU delegate.

[2020-06-23 18:33] nicolas-gervais commented on #40020
That's because you forgot the commas `,` after copying this from a `Sequential` model ;)
[code]

[2020-06-23 18:37] amahendrakar commented on #34481
Was able to reproduce the issue with TF v2.2 and TF-nightly (i.e. v2.3.0-dev20200623). Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/7f288214bf0c5a7575ad5313805e0124/34481.ipynb#scrollTo=ZG-bSPiwcmEa). Thanks!

[2020-06-23 18:43] gunan commented on #40561
I think we had similar build issues with libtensorflow_cc as well, right? AFAIK, both libtensorflow and libtensorflow_cc releases stopped once the maintainers left.

[2020-06-23 18:46] amahendrakar commented on #35504
@mpundurs,
Is this still an issue? Please take a look at @mdanatg's workaround and let us know if the issue is resolved. Thanks!

[2020-06-23 18:53] #40312 closed

[2020-06-23 19:02] melhabr commented on #40519
Thank you!

[2020-06-23 19:02] #40519 closed

[2020-06-23 19:05] amahendrakar commented on #33193
Was able to reproduce the issue with TF v2.2 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/89651333269bdf262dff0ead45c7e05d/33193.ipynb). Thanks!

[2020-06-23 19:11] lamberta commented on #40709
This should be the file to edit the docstring: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/api_def/base_api/api_def_FFT.pbtxt
Pull requests welcome 😀

[2020-06-23 19:27] av8ramit commented on #40561
Just to clarify we have only resurrected the libtensorflow (C API) build. I have not looked into libtensorflow_cc. I'm not sure what the build issues there are.

[2020-06-23 19:44] ruperty commented on #24520
I was getting this error with the multi-input, generator code below,

 ValueError: Cannot take the length of shape with unknown rank.

upgrading to v2.2 resolved the issue thanks

[code]

[2020-06-23 19:52] talumbau commented on #40680
Ah I see. I created the `emotion.pb` file by using `onnx-tf` released version with TF 1.15. I was unable to convert this tflite_convert. What version of TF did you use for TF->TFL conversion? Can you execute the instructions in the template so we can get version information?

[2020-06-23 20:05] edloper commented on #40484
tf.text has a "regex_split" operation.

[code]

[2020-06-23 20:06] zampnrs commented on #40518
You're right, it's a different issue.

Maybe not. As far as I could see, the image is cropped in Android to make the real time detection faster, It's visible the velocity detection difference in both apps, in iOS it's slower. Since I'm using a single image, in my Android app I just resize the image to 300 x 300 and call the inference, in iOS I convert my `UIImage` to `CVPixelBuffer` and then call

[2020-06-23 20:23] ymodak commented on #40663
The image classification model will predict the probability of an image representing a particular class.
Thus you can expect output as an array of probabilities between 0 and 1.

[2020-06-23 20:25] sdrobert opened #40727 "tf.nn.beam_search_decoder does not pick path with highest probability at next time step"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platf

[2020-06-23 20:27] amitport commented on #40708
@amahendrakar thanks for looking at it. better but still
gpu tf.range:
 31.9 ms
cpu tf.range:
 ~2ms

while np.range and range around 496 µs

seems weird, and in case range is being traced as a loop and not rolled is also a doc issue

[2020-06-23 20:31] pavithrasv commented on #27190
@pGit1 Sorry about that. I understand this can be confusing. This is by design and has been since the beginning of Keras, so any changes to this will be a big breaking change. If your data is 1D, we request that this be converted to 2D as losses expect 2D data. You will get 1D data back ie. one loss value per example when reduction is None.

[2020-06-23 20:31] samhodge commented on #40561
The build issues are identified by building the target and getting error messages.

Some of them are listed on this issue.

[2020-06-23 20:33] #40630 closed

[2020-06-23 20:48] cngzhnp commented on #40722
The problem might be related with that you are not allocating memory for Interpreter object? I would expect that to see below;

[code]

[2020-06-23 21:00] tf-marissaw commented on #40406
I can reproduce this using the above colab but I cannot reproduce this bug on the most recent internal version of TensorFlow. It looks like its root cause was already fixed. The bug I am looking into appears to be unrelated to this.

[2020-06-23 21:00] #40406 closed

[2020-06-23 21:13] AlexKuhnle opened #40729 "Unexpected difference in scatter_nd_update variants"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-06-23 21:31] mihaimaruseac commented on #40719
Sounds good. Can you send a PR please?

[2020-06-23 21:57] asm582 opened #40735 "NCCL is not supported when using virtual GPUs, fallingback to reduction to one device"
Hello,

I tried to run colab notebook present here: https://www.tensorflow.org/guide/gpu.

When I try to use virtual GPU I get NCCL not supported error. can you help on how do I test virtual GPU's in colab?

[2020-06-23 22:16] ymodak commented on #40706
TF Lite does not support Nvidia gpu. See https://github.com/tensorflow/tensorflow/issues/34536#issuecomment-565632906

[2020-06-23 22:23] ngc92 commented on #36822
@pavithrasv
My main point was not that I wanted to find out how to do a custom training loop, but the fact that the function throws an exception when called with one `EagerTensor` and one `Tensor`, which I find to be surprising. The example was mostly to show that in other cases, tf is perfectly happy to mix those two.

[2020-06-23 22:24] Manoj-M-97 commented on #24570
I have the same issue as well

[2020-06-23 22:28] aavishkarmishra commented on #39981
@mihaimaruseac  Hi can anyone help me to locate these files in  repo , as in docs folder there is readme that tell to locate them in docs repo and in docs repo there are links which just open the web page

[2020-06-23 22:39] ksachdeva commented on #25620
Thanks @nikitamaia

[2020-06-23 22:39] #25620 closed

[2020-06-23 22:56] xlnwel commented on #40688
Hi @mmartial. I build TF2.2 following the [official guide](https://www.tensorflow.org/install/source) without Dockerfile. Do you mean I should execute `fgrep _TF_MAX_BAZEL configure.py | grep '=' | perl -ne 'print $1 if (m%\=\s+.([\d\.]+).$+%)' > .bazelversion` before `bazel build`? I've tried it and then found `bazel build //tensorflow/tools/pip_package:build_pip_package` seemed to have no effect

[2020-06-23 23:51] novinsh opened #40738 "Convergence issue across Keras 2.2.4 with TF 1.14.0 and Keras 2.3.1 with TF 2.2.0"
**System information**
- I am using the Keras functional API directly (not through tf.keras)
- OS Platform and Distribution: Ubuntu 19.10 with Kernel 5.3.0-59-generic
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on a mobile device: It is on PC (HP laptop)
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.2.0-rc4-8-g

[2020-06-24 00:06] marjanemd commented on #39392
I am facing the same issue. Any solution for that?

[2020-06-24 00:30] founta commented on #32142
This workaround using `experimental_run_tf_function = False` in the compile line does not appear to work as of the newest Tensorflow version, 2.2.0, with Python 3.8 but does work fine with Tensorflow version 2.1.0 with Python 3.7. Both with Keras 2.3.1.

[2020-06-24 00:34] hamzarabi3 commented on #40565
I'm having the same issue on Kaggle, model fit ran successfully, but I can't generate predictions.
` AssertionError: Could not compute output Tensor("dense_7/Identity:0", shape=(None, 1), dtype=float32)`

[2020-06-24 00:35] pneumoman opened #40740 "First example in keras guide "customizing_what_happens_in_fit" does not work"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
https://www.tensorflow.org/guid

[2020-06-24 01:11] jvishnuvardhan commented on #40703
@KTTrev Based on the [Keras docs](https://keras.io/guides/writing_your_own_callbacks/), I think the dictionary of `logs` is empty when you use `on_train_batch_begin`. On that page, there is an example also which list the `keys` available to access.

[code]

[2020-06-24 01:24] NeoZhangJianyu commented on #37337
@iamthebot Thank your suggestion! The current behavior is how bazel handles .so libs, it picks the right location for them. We can't make sure if we can change that behavior.  We will consider the idea in next improvement.

[2020-06-24 01:29] victorromeo commented on #40681
@MeghnaNatraj Thanks for your valuable reply.

The model I'm quantizing is available in the following Gist [here](https://gist.github.com/victorromeo/9b7ff6d0ca8cf6283e446b3d8a7808bf) and the training and quantization is [here](https://gist.github.com/victorromeo/144fb97b1b90a6ec38fa3396b5527923).  The QUANTIZE error is created when using Default optimizations and int8 inference types.

I have fou

[2020-06-24 01:35] alanpurple commented on #39248
[configure.log](https://github.com/tensorflow/tensorflow/files/4822727/configure.log)
[bazel_version.log](https://github.com/tensorflow/tensorflow/files/4822728/bazel_version.log)

@mihaimaruseac

[2020-06-24 01:35] KTTrev commented on #40703
Exactly, but do you have any solution on how I can use the batch size within 'on_train_batch_begin' (which was suppose to be in the logs)?

[2020-06-24 01:36] jvishnuvardhan commented on #40703
@KTTrev Yes. This is regression issue. In TF2.1, you can do this

[code]

[2020-06-24 01:41] alanpurple commented on #40227
@mihaimaruseac

does 2.3.0-rc.0 support CUDA 11RC ?

[2020-06-24 01:41] #39644 closed

[2020-06-24 01:42] wangtz commented on #40704
Hi Michael,

version 0 is the default value passed in and it will be overwritten when the builtin operator is added.

The error message seem to suggest that you didn't register this operator in the resolver.

Could you share which OpResovler are you using?

Also add @advaitjain who has been working on the versioning etc.

Thanks,

[2020-06-24 01:57] mmartial commented on #40688
No, I was referring to https://github.com/tensorflow/tensorflow/issues/40688#issuecomment-647791594
When I saw your error, I saw the `PyUFuncGenericFunction` which was fixed by that call.

Note that simply using `'numpy<1.19.0'` in my pip install was sufficient to solve this issue.

[2020-06-24 02:11] xlnwel commented on #40688
Unfortunately it does not work for me. Maybe I have open another issue.

[2020-06-24 02:19] xlnwel opened #40742 "compilation of rule '//tensorflow/python:bfloat16_lib' failed when building TF2.2 from source"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-06-24 02:28] bzhaoopenstack commented on #40463
After merge https://github.com/tensorflow/tensorflow/pull/40700 in my local repo, and downgrade numpy via ```pip3 install numpy==1.18.0```.  Now I can success build the whl package on master branch using ```
bazel clean --expunge ; bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package --local_ram_resources=10240 --local_cpu_resources=7 --verbose_failures
[code]

[2020-06-24 02:39] victorromeo commented on #40681
When I use
[code]

The QUANTIZE error is raised, as the TFLite library doesn't have an implementation for int8 -> uint8 conversion.

![Screenshot from 2020-06-24 12-35-28](https://user-images.githubusercontent.com/3838993/85491680-4cf74d00-b617-11ea-80e3-76dca8becbd4.png)

So, I'm going to revert to using the following then, perform manual dequantization on the final output result, before evaluati

[2020-06-24 02:40] qianzhang613 commented on #39712
i didnot try , because we are using tf v1.15

[2020-06-24 02:43] terryheo commented on #40665
I'm fine with r2.3.
Could you share bazel ourput with "-s" option? It might worth to try to build it with Docker image to eliminate other external dependency.

[2020-06-24 02:58] #40541 closed

[2020-06-24 03:13] victorromeo commented on #40497
So, I've reverted the codebase back to the 'micro_speech' example code from the Arduino Web Editor, then transferred these into PlatformIO using VSCode.  The build is executing to completion now. Even if inferences are failing its progress.

I've abandoned the 'micro_speech' implementation as it current appears in the TensorFlow GitHub repo (v 2.2.0), as a source for this project, as it simply doe

[2020-06-24 03:21] ravikyram commented on #40628
@imrankhan441

I have tried in colab with TF version 2.2.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/b7b0de3f9bf059d18f19a75f9b5b48b8/untitled60.ipynb#scrollTo=3IsxUejJUJ7v).Are you seeing the same behavior?.Thanks!

[2020-06-24 03:24] ravikyram commented on #40668
@harshitpaliwal1011

Please, close this thread , since your issue was resolved. Thanks!

[2020-06-24 03:34] mlubinsky-arm commented on #40704
Adding operation to resolver solves the issue.
I expected what TFLite may figure out from the model file all  ops and register it automatically

[2020-06-24 03:34] imrankhan441 commented on #40628
@ravikyram

**Yes exact same error Please fix this. This error didn't show in CPU and GPU. It shows tpu only.**

[code]

[2020-06-24 03:38] sayakpaul commented on #38285
Following. Two of my blog posts would need to be changed when the int support for QAT models goes live.

[2020-06-24 03:43] ravikyram commented on #40729
@AlexKuhnle

Request you to share colab link or simple standalone code with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-06-24 04:19] Occupied-Observer commented on #9834
sorry I cant find the link, and cant install tensorflow 0.12 on windows, can anyone suggest an approach or an alternative

[2020-06-24 04:37] #40668 closed

[2020-06-24 04:49] prudhvirajboddu commented on #40565
Can you share the code snippet for that ?

[2020-06-24 05:23] yzhangswingman opened #40743 "keras.Model using EmbeddingColumn with pre-trained ckpt fail to be reconstructed without the original ckpt"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): pre-installed in Colab
- TensorFlow version (use

[2020-06-24 05:29] kalaluthien commented on #38285
@MeghnaNatraj
Can you check and mention this workaround (https://github.com/tensorflow/model-optimization/issues/431) for quantize input/output tensor when QAT is used?

[2020-06-24 05:36] rafiqhasan commented on #40707
Thanks a lot, I hope this gets resolved quickly because it completely defies the purpose of having a **densefeature** layer in TF Keras if this is not fixed.

[2020-06-24 06:01] jpodivin commented on #40714
In some cases Tensorflow can handle the code yes, but only if it can find appropriate graph representation for it. The problem stems from question of what can you define as computational graph. Think about it as if you were compiling a code for a virtual machine.

Your code, in this case label processing, is taken by AutoGraph, which acts as a compiler, and it tries it's best to figure out how to

[2020-06-24 06:22] sayakpaul commented on #40714
Fair points.

Here's a bit more context as to why I would like to stick to `tf.data`. With a `tf.data.Dataset`abstraction I can avail some performance specific utilities such as [`prefetch`](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#prefetch).

[2020-06-24 06:24] yaoshiang commented on #12001
Anyone find a workaround? I attempted to do a workaround with a stack of Conv2DTranspose, each with filters=1... but it was not very efficient. No promise this works but this was my attempt fwiw.

class DepthwiseConv2DTranspose(layers.Layer):
    def __init__(self, filters, **kwargs):
        super(DepthwiseConv2DTranspose, self).__init__(**kwargs)
        self._filters = filters
        self._t =

[2020-06-24 06:27] hamzarabi3 commented on #40565
This worked for me
`def prepare_test_data(sample):`
`----return sample, 0`

`test_ds = get_test_dataset()`
`test_images_ds = test_ds.map(prepare_test_data).batch(BATCH_SIZE)`
`ouput = model.predict(test_images_ds)
`

[2020-06-24 06:27] sanjoy commented on #24453
Closing this issue because the RFC and DLPack support in TF have landed (though it is still experimental).

[2020-06-24 06:27] #24453 closed

[2020-06-24 06:36] unarmedman commented on #40521
thx yyoon.  I guess I was just unlucky trying it that day.  works now :)

[2020-06-24 06:46] abattery commented on #40677
@thaink could you take a look?

[2020-06-24 06:48] cowcomic commented on #40645
it solved.
i use a proxy for gradle
then everything is ok

[2020-06-24 06:48] #40645 closed

[2020-06-24 06:48] abattery commented on #40702
I think you need to enable control flow v2 ops.

https://www.tensorflow.org/api_docs/python/tf/compat/v1/enable_control_flow_v2

[2020-06-24 06:51] abattery commented on #40716
Could you try the conversion with tf-nightly?

[2020-06-24 06:52] kinos9 commented on #40538
Ok thanks, I know that, but why it gives to me errors mentioned above?

[2020-06-24 06:53] KiryanovKD commented on #40665
Thank you for help! In CPU Docker image its fine, before i tried GPU Docker image

[2020-06-24 06:53] #40665 closed

[2020-06-24 07:01] kinos9 commented on #40611
It was my fault:

with this code:
[code]

I take first and last node of the graph but they are not the input and output layer of the network.
I disver them using `saved_model_cli` as described here: https://www.tensorflow.org/guide/saved_model#details_of_the_savedmodel_command_line_interface

[2020-06-24 07:01] #40611 closed

[2020-06-24 07:03] JeiKeiLim commented on #28968
Came across here while googling same issue.

No problem
[code]

Problem
[code]

This is frustrating. All I wanted to do is simple divide and I cannot do it.
I will keep digging whether there is a workaround to do this.

[2020-06-24 07:08] AStupidBear commented on #33138
@jojivk73 Which version of tensorflow can produce this result?

[2020-06-24 07:19] abattery commented on #40716
I could run your above code without any problems on the tf-nightly version.

[2020-06-24 07:27] ravikyram commented on #40740
@pneumoman

I have tried executing tutorial in colab with TF 2.2 and i am not seeing any issue.Please, find the gist [here.](https://colab.research.google.com/gist/ravikyram/c6436f8bf6d8f20b3ae53b2713a67ff9/untitled62.ipynb).Can you please help me to understand where exactly you are facing the issue.If possible please share colab link or simple standalone code to reproduce the issue.It helps us in

[2020-06-24 07:39] ZhiwenZong opened #40746 "kronecker product"
Doesn't it have a function of kronecker  product like np.kron in numpy?

[2020-06-24 07:39] ravikyram commented on #40713
@DroneMesh

Please, fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.

Provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2020-06-24 07:40] #40746 closed

[2020-06-24 07:40] ZhiwenZong opened #40747 "kronecker product"
Doesn't it have a function of kronecker product like np.kron in numpy?

[2020-06-24 07:50] ravikyram commented on #40747
@ZhiwenZong

Can you please go through this [link](https://www.tensorflow.org/api_docs/python/tf/linalg/LinearOperatorKronecker) and see if it helps you.

This question is better asked on StackOverflow since it is not a bug or feature request. There is also a larger community that reads questions there and provide better and faster support for such issues. Thanks!

[2020-06-24 07:53] #40321 closed

[2020-06-24 07:53] #40331 closed

[2020-06-24 07:53] #40295 closed

[2020-06-24 08:02] Saduf2019 commented on #40735
@asm582
Please select "Runtime tab" and option "change runtime" in this option select "GPU".
to confirm, run:

'''
_lmport tensorflow as tf
print("Num GPUs Available: ", len(tf.config.experimental.list_physical_devices('GPU')))_ '''

Can you please refer to [this link](https://medium.com/deep-learning-turkey/google-colab-free-gpu-tutorial-e113627b9f5d) and let me know if it helps resolve your issu

[2020-06-24 08:03] ravikyram commented on #40549
@limapedro

was this resolved by following @jstoecker  suggestion? Please close the issue if it was resolved already. Thanks!

[2020-06-24 08:10] carusyte opened #40748 "Gradient calculation of tf.reduce_prod runs in CPU, inducing performance impact"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2020-06-24 08:20] prabhat00155 commented on #40680
[code]

[2020-06-24 08:26] FlorentijnD commented on #40722
@cngzhnp Indeed! Good find. This means that the documentation is not on point. I got my code from the following [link](https://www.tensorflow.org/lite/guide/inference).

Now that we have that sorted out, I see that running inference on test data results in the use of only one core, even though I am explicitly initlizalizing 4 threads:

![image](https://user-images.githubusercontent.com/29673343/85

[2020-06-24 08:45] yyoon commented on #40518
Can you share the actual code doing this?

I don't see any issues (yet) with the constants in the code.
* The `inputChannels` is always 3 (not 4), and this represents the number of image channels expected by the model input, which is correct.
* The `imageChannels` value is always 4, which is probably meant to represent the number of image channels in the image taken from the camera, but it doesn't

[2020-06-24 09:08] drcege commented on #34912
This feature is super misleading!  It wasted me half a day to figure out the problem.

It should be emphasized in the documentation.

[2020-06-24 09:22] Cillinc opened #40750 "Failed to get convolution algorithm. This is probably because cuDNN failed to initialize"
Tensorflow version 2.2.0
Tensorlow nightly installed
Tensorflow nighlty-gpu installed

conda list cudnn gives
version 7.6.5 build         cuda10.1_0

nvidia-smi reports
driver version 446.14     cuda version 11.0

Nvidia 1660TI graphica card.
Windows 10 Pro 64 bit.

the version numbers should be ok as per the Tensorflow webside https://www.tensorflow.org/install/gpu

Code to train model and use ca

[2020-06-24 09:22] cngzhnp commented on #40722
@FlorentijnD you're missing here I guess, in this link Interpreter pointer is allocated like below:

[code]
In your example, you did not give interpreter object as a parameter to InterpreterBuilder class. There is no missing point on documentation.

[2020-06-24 09:23] Chr0m0s0m3s opened #40751 "Tensorflow-rocm GPU useage confirmation"
**System information**
- OS Platform and Distribution : Linux Ubuntu 20.04 LTS
- TensorFlow installed from (source or binary): tensorflow-rocm
- TensorFlow version: 2.2.0
- Python version: 3.8
- Installed using virtualenv? pip? conda?: pip3
- Rocm version: 3.5.1
- GPU model and memory: RX580

**The problem**
while importing the tensorflow api module there is no issue but while im trying to confirm

[2020-06-24 09:45] FlorentijnD commented on #40722
Thanks for your quick reply! Six lines after instantiating the interpreter I am allocating the Interpreter pointer, `builder(&interpreter);`.

[2020-06-24 09:52] nolanliou opened #40753 "[TF2.2] Saving checkpoint failed when there is `dataset.shuffle` in dataset flow."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-06-24 10:09] Lucysmith8 commented on #40485
@amahendrakar I changed the question to add world code.

[2020-06-24 10:09] Lucysmith8 commented on #40485
@ratansingh98 I changed the question to add world code.

[2020-06-24 10:12] MarinoBrundu opened #40754 "model.fit taking 30 minutes to set-up but only 3ms to run an epoch"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
-Have I written custom code (as opposed to using a stock example

[2020-06-24 10:20] hayk314 opened #40755 "Mapping a function on dataset is very slow compared to one-by-one application in a loop"
**System information**
- I have written custom code
- OS - Linux Ubuntu 20.04 LTS
- TensorFlow installed by pip (inside venv)
- TensorFlow version = 2.2.0
- Python version = 3.8.2
- CUDA Version = 10.2
- GPU model = NVIDIA GeForce GTX 1080, memory = 11175MiB

**Describe the current behavior**

I have a tf.data.Dataset object build of _tensor slices_ . I'm applying some computation on this dataset,

[2020-06-24 10:38] SawyerGao92 opened #40757 "Memory leak in macOS Catalina 10.15"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  macOS Catalina 10.15.5
- TensorFlow installed from (source or binary): from conda install
- TensorFlow version (use command below):  1.15
- Python version: 3.7.6

**Describe the current behavior**

When I run a tens

[2020-06-24 10:48] #39214 closed

[2020-06-24 10:49] #38620 closed

[2020-06-24 10:58] vuquocan1987 commented on #40751
I have error

[2020-06-24 11:10] philpearl opened #40758 "Apparent memory leak when using multiple input tensors with Go"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04, 20.04, Mac OS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Nop
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command

[2020-06-24 11:13] ravikyram commented on #40755
@hayk314

I have tried in colab with TF version 2.2 and i am seeing below error message.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/726c3027f5c0e448bea0c5eb1182fba4/untitled65.ipynb)..Please, help me with the reproducible code so it helps me in localizing the issue faster.Thanks!

[2020-06-24 11:14] ilyarudyak commented on #33394
Still doesn't work.

AttributeError                            Traceback (most recent call last)
<ipython-input-21-8338a7552986> in <module>()
----> 1 sce(y_true, y_pred)

/opt/local/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/tensorflow_core/python/keras/losses.py in __call__(self, y_true, y_pred, sample_weight)
    124         y_true, y_pred, sample_weight)
    1

[2020-06-24 11:26] hayk314 commented on #40755
@ravikyram

thanks for getting back. I've slightly adjusted the the colab version you sent and executed successfully. It should be reproducible now.

[2020-06-24 11:30] cngzhnp commented on #40722
Yes, I would expect that it should work.

[2020-06-24 11:37] FlorentijnD commented on #40722
I would too :) but setting 4 threads results in only one core being used for me. I'll await the assignee's response

[2020-06-24 11:48] ravikyram commented on #40755
I have tried in colab with TF versions 2.2, nightly versions and was able to eproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/2c97ca2eb667c5c816519e00f2352b88/untitled66.ipynb).Thanks!

[2020-06-24 11:57] rambowding commented on #40121
@amahendrakar
python 3.7.6, Tensorflow 2.2.0
![image](https://user-images.githubusercontent.com/7675778/85551732-dd07b780-b654-11ea-8c5d-ccb91fdab717.png)

[2020-06-24 12:02] AakashSasikumar commented on #40631
@ravikyram

For 3 out of the 4 methods I am getting the same behavior. But for the second one, where you commented out `tf.compat.v1.disable_eager_execution()` and left `@tf.function` as it is, the `tf.print()` function works. Here is my output,

[code]

Also, I stopped the code before it finished, that's why the output is much smaller. In fact, I would suggest you do the same, it doesn't need to

[2020-06-24 12:02] swapniel99 commented on #40253
can I do it? :)

[2020-06-24 12:12] AakashSasikumar commented on #40631
Also, here are a few warning that I get when tensorflow is imported. Not sure if its gonna help, but I'll add it nonetheless.

[code]

[2020-06-24 12:34] vuquocan1987 commented on #40751
Hi, I did solved it (some other guy tell me) but running into another problem:

https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/1022
basically you have to run:
a) cp /opt/rocm/hip/lib/libamdhip64.so.3.5.30501 /usr/lib/libhip_hcc.so
b) ldconfig (the first letter is L - this is used for updating the links/cache of shared libraries, you can run it from anywhere)

But I got another

[2020-06-24 12:43] Chr0m0s0m3s commented on #40751
and here i got the following error after following the above steps :
[code]

[2020-06-24 12:47] vuquocan1987 commented on #40751
Hmm, for your information I after the steps above could print out number of GPUs device ( which is 1 on my computer ). But I couldn't do any operation GPUS related on tensorflow. Which lead to error I mentioned.

Did you tried rocm-smi?

[2020-06-24 12:49] Chr0m0s0m3s commented on #40751
rocm-smi not detecting GPU too
logs :
[code]

[2020-06-24 12:52] vuquocan1987 commented on #40751
It look like your rocm-smi working fine ( 0 is the index of the device ). So indeed rocm detected your GPU. I don't know ... Please keep updating as we have same set up.

[2020-06-24 12:53] #40347 closed

[2020-06-24 12:54] GhassenBenMakhlouf commented on #37433
I have the same problem.
the output of pip list:
___________________________________________________________________________________________________________________________________
Package                  Version
------------------------ -----------
absl-py                  0.9.0
astunparse               1.6.3
cachetools               4.1.0
certifi                  2020.6.20
chardet

[2020-06-24 12:56] mynameisteodora opened #40760 "CUDA_ERROR_OUT_OF_MEMORY when converting model to tflite with the new experimental converter"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Scientific Linux 7.6, Nitrogen
- TensorFlow installed from (source or binary): anaconda
- TensorFlow version (or github SHA if from source): 2.2.0

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]
---------------------

[2020-06-24 12:56] Chr0m0s0m3s commented on #40751
did you try the docker installation tho? worked fine for me tbh
link : https://hub.docker.com/r/rocm/tensorflow
but i need the base installation for my work now and the issues are popping up

[2020-06-24 13:23] Nayana-ibm commented on #19770
resolved by https://github.com/bazelbuild/bazel/pull/11162

[2020-06-24 13:24] Nayana-ibm commented on #19770
@gunan Please close this one

[2020-06-24 13:24] amahendrakar commented on #40727
Was able to reproduce the issue with TF v2.2 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/26897d798c5f763191014d5a558564e3/40727.ipynb). Thanks!

[2020-06-24 13:40] kesavsivakumar commented on #32809
It works Perfectly

[2020-06-24 13:41] limapedro commented on #40549
@ravikyram It's all working now, the pypi page is working, you can see the files for the project here: https://pypi.org/project/tensorflow-directml/#files

[2020-06-24 13:41] #40549 closed

[2020-06-24 13:52] Chr0m0s0m3s commented on #40751
i fixed the problem by adding my user to the rendergroup thanks alot

[2020-06-24 14:06] amahendrakar commented on #40738
Was able to reproduce the issue, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/04e89a2dc4e2d808618d77ca3907f606/40738.ipynb). Thanks!

[2020-06-24 14:11] jpodivin commented on #40724
Would something like:

[code]
do the trick?

[2020-06-24 14:19] DroneMesh opened #40762 "tfcompile --target_triple="armv7em-none-eabi" calling wrong libraries"
I found a bug inside tfcompile especially if your compiling for ARM embedded devices the  --target_triple="armv7em-none-eabi" is calling incorrect functions when compiling. This should be compatible with arm-none-eabi-gcc libraries and one example is libgcc.a in the none-eabi version it does not have a function called __multi3 however in every other version such as gnu and linux its availble. So w

[2020-06-24 14:25] nikitamaia commented on #40735
Hi @asm582, was that an error message or a warning? From the message you've shared, I would guess that you're trying to run multiworker training on virtual GPUs in colab. In this case, NCCL is not supported, so as the message suggests [tf.distribute.ReductionToOneDevice](https://www.tensorflow.org/api_docs/python/tf/distribute/ReductionToOneDevice) will be used instead to aggregate the gradients.

[2020-06-24 14:51] Chr0m0s0m3s commented on #40751
i have the same error as well while tryna run the code

[2020-06-24 15:01] WHSnyder commented on #40555
Hi, just checking in to see if anyone has an update on this.  I was also wondering if anyone plans on upgrading the GL delegate's [mean kernel](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/gpu/gl/kernels/mean.cc) from the current naive implementation.
`
      highp vec4 sum = vec4(0.0);
      highp float size = float($input_data_0_w$ * $input_data_0_h$);
      for

[2020-06-24 15:10] abhishekthanki commented on #40076
@gowthamkpr Any update on this issue?

[2020-06-24 15:17] Saduf2019 commented on #40762
@DroneMesh
Please update the tensor flow version and details on platform, in case you encountered the issue while running code hsare a simple indented stand alone code such that we can replicate the issue faced or colab gist with code and error for su to analyse.

[2020-06-24 15:19] MasoumehVahedi commented on #35598
I have the same problem. Could you help me how can I tackle this issue?

[2020-06-24 15:21] Saduf2019 commented on #40753
I am able to replicate the issue faced, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/3b9b630a9b576d949430aa0f42fbba6c/untitled241.ipynb).

[2020-06-24 15:25] MevadaRavikumar opened #40764 "how to convert frozen graph (.pb and .pbtxt) model into quantized edge.tflite model"
I have created one object detection model (.pb and .pbtxt) using 'faster_rcnn_inception_v2_coco_2018_01_28' model I found from TensorFlow zoo. It works fine on windows but I want to use this model on google coral edge TPU. How can I convert my frozen model into edgetpu.tflite quantized model?

[2020-06-24 15:26] textyash20 commented on #35598
yes text me at insta my id @_yash_kadam_

On Wed, Jun 24, 2020, 8:49 PM MasoumehVahedi <notifications@github.com>
wrote:

[2020-06-24 15:38] amahendrakar commented on #40743
Was able to reproduce the issue with TF v2.2 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/51ff32c4eee33a56e8d393ee03b42f1a/40743.ipynb). Thanks!

[2020-06-24 15:44] mihaimaruseac commented on #37433
@GhassenBenMakhlouf I don't see the `AttributeError: module 'tensorboard' has no attribute 'lazy'` error in your post. All I see are warning and information logs, not errors. The other log messages can be safely ignored, they are there to provide you with context about what is happening and to help debugging.

[2020-06-24 15:52] DroneMesh commented on #40762
@Saduf2019 I am unable to update due to the nature of the project. The tfcompile is thinking I have long long int in my graphs when i don't. The project is very large and i will not be able to create a collab i wish a could.

is there a way to specify and limit the int types?

[2020-06-24 15:52] mihaimaruseac commented on #40463
That's good news. Seem the issue is solved, right? Can we close if that is the case?

[2020-06-24 15:53] amahendrakar commented on #40750
@Cillinc,
Please take a look at [this comment](https://github.com/tensorflow/tensorflow/issues/40646#issuecomment-647224203) from a similar issue and let us know if it works. Another possible duplicate [#24828](https://github.com/tensorflow/tensorflow/issues/24828#issuecomment-464910864)

Thanks!

[2020-06-24 15:53] MarkDaoust commented on #39654
I'm working on this, for other reasons.
It may take a little while to land, but  wrapping that in a tf.function, and batching the inputs should give a good speedup.

[2020-06-24 15:54] mihaimaruseac commented on #40227
No, it's being slated for 2.4

[2020-06-24 16:07] Cillinc commented on #40750
thanks - added as suggested.   Got a new error....

20200624-17:05
Epoch 1/25
WARNING:tensorflow:AutoGraph could not transform <function Model.make_train_function.<locals>.train_function at 0x0000020E10437D38> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause:

[2020-06-24 16:09] Cillinc commented on #40750
changes the VERBOSE value in my call back as i think i had it wrong ...

print(datetime.datetime.now().strftime("%Y%m%d-%H:%M"))
history = model.fit(
        train_data_gen,
        batch_size = BATCH_SIZE,
        epochs=EPOCHS,
        verbose = 1,
        validation_data=val_data_gen,
        callbacks = tensorboard_callback)

print(datetime.datetime.now().strftime("%Y%m%d-%H:%M"))
20200624-17:

[2020-06-24 16:11] Dmitry-Ku commented on #34759
Hi!

Problem is resolved easy by performing following actions:

1. Create soft link 10.1 -> 10.2:
sudo ln -s libcudart.so.10.2.89 /usr/local/cuda-10.2/targets/x86_64-linux/lib/libcudart.so.10.1

2. Export additional path, because there lies a part of libraries after installation cuda 10.2:
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/cuda/lib64:/usr/local/cuda/targets/x86_64-linux/lib

After

[2020-06-24 16:14] MarkDaoust commented on #25794
The links on this page are fixed.

[2020-06-24 16:14] #25794 closed

[2020-06-24 16:14] textyash20 commented on #35598
https://github.com/fo40225/tensorflow-windows-wheel/blob/master/1.14.0/py37/CPU/sse2/tensorflow-1.14.0-cp37-cp37m-win_amd64.whl

On Wed, Jun 24, 2020 at 8:55 PM Yash Kadam <textyash20@gmail.com> wrote:

[2020-06-24 16:15] #40667 closed

[2020-06-24 16:16] BubbleBoy99 opened #40766 "Cannot run .py file"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2020-06-24 16:17] #40551 closed

[2020-06-24 16:21] Lucysmith8 commented on #40458
In fact, what I would like to do. It's using tensorflow.keras.models without importing tensorflow. Transfer this package to another folder and use it. @gowthamkpr

[2020-06-24 16:47] amahendrakar commented on #40764
@MevadaRavikumar,
Please take a look at [this](https://coral.ai/docs/edgetpu/compiler/#download) Edge TPU Compiler guide to convert your tflite model  to Edge TPU compatible format.

Also, this question is better asked on [StackOverflow](https://stackoverflow.com/questions/ask) since it is not a TensorFlow bug or feature request. There is a larger community that reads questions there. Thanks!

[2020-06-24 16:55] raghavgurbaxani commented on #39066
@Saduf2019 @stefano555  it does not work for me . I tried with tf-nightly==2.3.0-dev20200608

But I still get the error -
[code]

@Saduf2019  can you help ?

[2020-06-24 17:01] Abhishaike commented on #39523
Hey @MaxSchambach, glad to hear that I'm not alone in this issue! Unfortunately, there doesn't seem to be a good way to move over to tf.Data without significant rewriting. I still do think this should be updated in the docs, so I'd like to reopen the issue.

However, if it's any consolation, there ARE ways to get around deadlocking using the current Sequence framework. It's very hacky and customiz

[2020-06-24 17:10] mingxingtan commented on #40253
@swapniel99 @fsx950223 I guess it is not easy to change the value because many existing code already has dependence on it, but you should definitely update the doc to reflect this point.

[2020-06-24 17:24] bmabir17 commented on #40297
@jtrammell-dla yeah, i am also stuck in there. it seems the converted model was not converted properly.

Please refer to this [comment](https://github.com/tensorflow/tensorflow/issues/39179#issuecomment-646544647)

[2020-06-24 17:25] sanjoy commented on #39397
Hi @sainisanjay,

Can you try using getting a [count of all live Python](https://stackoverflow.com/questions/26889459/get-count-of-reachable-live-objects) objects and check that it isn't increasing on every step?  If it is increasing then you probably have a memory leak in your program (you can also try getting the types of the live objects to see e.g. if the number of live  `Tensor`s is increasin

[2020-06-24 17:25] amahendrakar commented on #40754
@MarinoBrundu,
Could you please share the `data_template_braincap.csv` file used in the code, so that we can reproduce the issue on our end. Thanks!

[2020-06-24 17:33] limapedro opened #40767 "How to use both CPU and GPU for training in distributed training"
Hi, I'd like to know how to use both CPU and GPU for training, this is how my solution looks like, but it only uses the GPU.

strategy = tf.distribute.MirroredStrategy(devices=['CPU', 'DML'])

If I do,

with tf.device('CPU'):
    model.fit(....)

This uses the CPU, how can I use both to speed up things a little.

[2020-06-24 17:38] Jamesweng commented on #40442
Hi @yyoon I created a PR here - https://github.com/tensorflow/examples/pull/225

Thanks

[2020-06-24 17:40] jojivk73 commented on #33138
@AStupidBear The fix is in latest branch TF 2.x.

[2020-06-24 17:40] michaelgallacher commented on #40278
+1
 Following the TensorFlow GPU instructions on a clean Ubuntu 18.04 fails with library conflicts. I thought it odd that I installed the '430' driver and yet most of the libs installed reported 440.  Running the following resolved it for me as well.

`sudo apt-get -o Dpkg::Options::="--force-overwrite" install libnvidia-compute-450`

[2020-06-24 17:42] stefano555 commented on #38285
Hi @scottamain and @MeghnaNatraj I just wanted to know if there are any updates and if could reproduce my same issue.

[2020-06-24 17:47] jvishnuvardhan commented on #33394
@ilyarudyak Can you please create a new issue and provide a standalone code to reproduce the issue?  Please ping me in that issue. Thanks!

[2020-06-24 17:55] MarinoBrundu commented on #40754
I can't attach the file because the file type is not supported, but I uploaded it to google drive and you can download it from there.

https://drive.google.com/file/d/1Kah4XS94L_loKs0XExq6ecpkGIG_ti1t/view?usp=sharing

[2020-06-24 18:01] #19770 closed

[2020-06-24 18:03] pGit1 commented on #27190
@pavithrasv I guess adding an extra dimension solution isnt so bad but I still think its weird. Thanks for clarifying.

[2020-06-24 18:04] Brunnhild opened #40768 "Got OperatorNotAllowedInGraphError: iterating over `tf.Tensor` is not allowed in Graph execution. Use Eager execution or decorate this function with @tf.function when writing custom layer."
I wrote the following custom layer
[code]

I was using this layer in the middle of my model, it accepts two inputs, as described in the comment. For each data within the batch, it is supposed to first divide the data into several groups, then do some operations together with u with is another input, and the number of u is the same to the number of he groups. I thought it will output tensor with di

[2020-06-24 18:06] rachellim commented on #24570
@Manoj-M-97 can you share a code snippet to reproduce the issue? Thanks.

[2020-06-24 18:10] amahendrakar commented on #40485
@Lucysmith8,
Please take a look at [this comment](https://github.com/pyinstaller/pyinstaller/issues/3362#issuecomment-375843871) from a similar issue and [this issue](https://github.com/pyinstaller/pyinstaller/issues/3942) thread, which seem to work.

Also, looks like this issue is a duplicate of [#40458](https://github.com/tensorflow/tensorflow/issues/40458). If it is could you please close one o

[2020-06-24 18:17] textyash20 commented on #35598
On Wed, Jun 24, 2020 at 9:44 PM Yash Kadam <textyash20@gmail.com> wrote:

absl-py==0.9.0
astor==0.8.1
certifi==2019.11.28
click==7.1.1
Flask==1.1.1
Flask-Cors==3.0.8
gast==0.3.3
google-pasta==0.2.0
grpcio==1.27.2
h5py==2.10.0
itsdangerous==1.1.0
Jinja2==2.11.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.2.1
MarkupSafe==1.1.1
numpy==1.18.2
Pillow==7.0.0
protobuf==3

[2020-06-24 18:19] textyash20 commented on #35598
forget about last file
use this

On Wed, Jun 24, 2020 at 11:46 PM Yash Kadam <textyash20@gmail.com> wrote:

absl-py==0.9.0
astor==0.8.1
certifi==2019.11.28
click==7.1.1
Flask==1.1.1
Flask-Cors==3.0.8
gast==0.3.3
google-pasta==0.2.0
grpcio==1.27.2
h5py==2.10.0
itsdangerous==1.1.0
Jinja2==2.11.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.2.1
MarkupSafe==1.1.1
numpy

[2020-06-24 18:24] jtrammell-dla commented on #40297
I suggest giving up on a full-on native TFLite implementation, and just stick with tf.image.crop_and_resize, and add tensorflow-lite-select-tf-ops to your build.

[2020-06-24 18:27] Satcheel commented on #9091
Sorry, I am not very active on GitHub.

Leaving the answer here for future reference.
My problem was not memory leak but my huge training data (250GB). So, used keras and steps_for_epoch for training and used a generator function to load data. I was trying to do the same in native tf but couldn't work it out

[2020-06-24 18:30] ymodak commented on #40760
I am suspecting that session is running out of memory before conversion. This is plausible since gpu memory is not released till you kill the session.
For sanity check can you please try other method for tf lite conversion.
[code]

[2020-06-24 18:42] kaczmarj commented on #40421
Thanks, @nikitamaia and @Saduf2019. Is there anything that could be done to make MirroredStrategy work with cuDNN's GRU implementation?

[2020-06-24 18:47] cfRod opened #40771 "Tensorflow 2 - oneDNN 1.x build fails searching for i_malloc.h, mkl_cblas.h on non-x86 machines."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
NAME="CentOS Linux"
VERSION="8

[2020-06-24 18:54] hedgehog91 commented on #40719
Yes

[2020-06-24 18:54] #40719 closed

[2020-06-24 19:05] ratansingh98 commented on #40485
Thank you @Lucysmith8 , i will look into it.

[2020-06-24 19:10] Lucysmith8 opened #40772 "ways to import keras model without tensorflow"
**System information**
- Windows 10
- TensorFlow installed from pip
- TensorFlow 2.2
- Python 3.7
- Installed using pip

Is it possible to import keras .h5 model without tensorflow. I'm having trouble using tensorflow with my app. I have an error message.

I installed tfdploy but I don't know how to use it. Is there a lighter version of tensorflow for deployment? Or can we use modules like pytorch

[2020-06-24 19:18] amahendrakar commented on #40565
Was able to reproduce the issue, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/8381d48dfeba929a493d1bd1493b8117/40565.ipynb). Thanks!

[2020-06-24 19:21] jnairfamily commented on #40751
Thanks, This is working for me (with vega 56 GPU, everything else is same as the first post)

[2020-06-24 19:23] yixingfu commented on #40754
@MarinoBrundu Your data is one big sequence so each epoch only have one big step. That is why epoch time is very short relative to the waiting time, and make batch_size senseless.
I am not sure what you want, but it seems like you may want to break the sequence into small sequences in some way.

[2020-06-24 19:26] #40346 closed

[2020-06-24 19:31] impjdi commented on #28968
@JeiKeiLim does mul work instead of div?

[2020-06-24 19:41] ymodak commented on #40676
Can you please attach your model/ share google colab code to debug further? Thanks!

[2020-06-24 19:46] nikitamaia commented on #40421
GRU disables cuDNN with MirroredStrategy, so unfortunately nothing can be done at this point. But I can update this thread if that changes.

[2020-06-24 19:52] mynameisteodora commented on #40760
I tried it and it gives the exact same error:

[code]

[2020-06-24 19:52] ryanmaxwell96 commented on #1511
Any update on how to fix it if np.float32() is part of the problem?

[2020-06-24 19:55] ahtik commented on #39680
@SchJens I'm curious, which Windows shell/command prompt are you using to run the build that gives this ">" prefix, or was it changed manually when posted here? A regular `cmd.exe` is the one best for building TF.

Instead of the miniconda, one might also try as clean and minimalistic env for building as possible.

Something as simple as
[code]
For python, always worth double-checking with `python

[2020-06-24 20:06] xldrx commented on #40671
Could you please attach the c_api.h file you use, and complete .cc file?

[2020-06-24 20:15] impjdi commented on #40712
1. I think with some plumbing, I think it should work for Nvidia GPUs.  For OpenGL backend, you will need Mesa.  For OpenCL backend, you will need OpenCL drivers for your Nvidia GPUs.  Same with Vulkan.

2. I don't think the models are optimized with a particular backend in mind.  The runtime incl. GPU parameters such as the workgroup sizes however are optimized for mobile.  You might achieve bett

[2020-06-24 20:15] #40712 closed

[2020-06-24 20:17] nikitamaia commented on #25806
Closing this issue since there is no bug here.

[2020-06-24 20:17] #25806 closed

[2020-06-24 20:23] nikitamaia commented on #28931
Closing this issue since the tutorial mentioned was expected to fail with 1.13.

[2020-06-24 20:23] #28931 closed

[2020-06-24 20:26] #40137 closed

[2020-06-24 21:10] Madhurananda commented on #38117
Hi there, I am getting this warning too:
tensorflow:Layer lstm_1 will not use cuDNN kernel since it doesn't meet the cuDNN kernel criteria. It will use generic GPU kernel as fallback when running on GPU

Also, it isn't taking all my samples while running. I have over two million samples but there is only 80286 samples have been taken by LSTM TensorFlow.

Successfully opened dynamic library libcubl

[2020-06-24 21:14] dgaleareading commented on #40656
@nikitamaia I have managed to run pstree while my code was running. These results were obtained during the first epoch of my first fold.

[full_tree.txt](https://github.com/tensorflow/tensorflow/files/4827892/full_tree.txt) has the full expanded tree returned by `pstree -ac` while [collapsed_full_tree.txt](https://github.com/tensorflow/tensorflow/files/4827890/collapsed_full_tree.txt) has the slig

[2020-06-24 21:32] mihaimaruseac commented on #39981
https://cs.opensource.google/search?q=tf.math.maximum&ss=tensorflow%2Ftensorflow:tensorflow%2F&ssfr=1

[2020-06-24 21:39] mihaimaruseac commented on #39248
You have `bazel`, not `bazelisk` (`/usr/bin/bazel-real` is the binary that runs). Bazelisk is the process which should read `.bazelversion` and install the corresponding Bazel. It seems Bazel now checks the `.bazelversion` file too.

[2020-06-24 21:42] mihaimaruseac commented on #39248
That is, if you install Bazelisk (and uninstall Bazel), this should not happen anymore

[2020-06-24 22:06] ymodak commented on #40760
Can you please try [limiting gpu memory growth](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth)?
Kill the current session, exit the python interpreter.
Then put following lines on top of your code.
[code]

[2020-06-24 22:08] mihaimaruseac commented on #40671
Also, can you try using 1.15.3 instead of 1.15.0?

[2020-06-24 22:09] talumbau commented on #40680
thanks! I was able to successfully convert the model. When I visualized it with `tensorflow/lite/tools:visualize` I see that the model has int64 inputs to the ADD op:

<img width="1396" alt="Screen Shot 2020-06-24 at 2 34 08 PM" src="https://user-images.githubusercontent.com/1891418/85630269-33aacc80-b628-11ea-9e03-f57bfba880cc.png">

This is not supported in TF Lite, so when I run`benchmark_model

[2020-06-24 22:09] #40680 closed

[2020-06-24 22:10] mihaimaruseac commented on #40713
This looks like a linking issue but without knowing the issue template and the steps you are taking to build the code we cannot provide guidance. It is very likely that this is actually not a TF coding issues but a question for Stack Overflow (though we need to see the issue template and the steps you are taking to compile to be sure)

[2020-06-24 22:10] mihaimaruseac commented on #9834
This version is no longer supported

[2020-06-24 22:12] mihaimaruseac commented on #39712
Most likely it has been solved in nightly. If it has, we can attempt a backport when doing a patch release on 1.15.

In the end, we are doing development only on master branch and the releases are snapshots of the code at that time, with some cherry-picks. So you will have to move to newer versions at one point

[2020-06-24 22:30] fsx950223 commented on #40253
Maybe they set wrong soft_nms_sigma too.
https://github.com/tensorflow/models/blob/451906e4e82f19712455066c1b27e2a6ba71b1dd/research/object_detection/core/multiclass_nms_test.py#L566

[2020-06-24 22:40] raghavgurbaxani commented on #39066
@Saduf2019  could you reopen the issue , I am still unable to get it to work

[2020-06-24 22:45] jvishnuvardhan commented on #40563
@tomeroto Can you please share the files. The drive you shared is private, so I cannot download the files. Thanks!

[2020-06-24 22:54] huonw commented on #38465
I tested this on our real code in https://github.com/stellargraph/stellargraph/pull/1689 and the tests in question passed, so I can confirm that this seems to be fixed for our particular example. Thanks!

[2020-06-24 23:04] pneumoman commented on #40740
You can't see what I'm talking about with just the standard collab page since it is just calling the normal loss function anyway. so I added some print statements to prove to myself that something was indeed being called.  And indeed it was however not as I expected, since it appears to have been called twice before the actual training and then no more, so I guess you need to be careful what kind

[2020-06-24 23:04] #40740 closed

[2020-06-24 23:16] armkevincheng opened #40781 "TFLite quantized hard_swish operator precision issue"
Hi TFlite team,

Git hash: b8a267a9fe95dea518cb04c726031e96874d26a0, dated at Jun 9 2020

Description:

When I run quantized mobilenet v3, I found an infrequent precision issue in quantized hard_swish operator. Let me directly walk through the example to start.

Note I already stripped off every other operators in mobilenet v3 models and tensor resized to [1] to make it clear and easier to run. Th

[2020-06-24 23:28] jvishnuvardhan commented on #40742
@xlnwel Can you please try again. I think the above PR might have resolved your issue. Thanks!

[2020-06-24 23:34] vrdd21 commented on #32488
@taichuai Hello, I have a really same issue. I'm using transformer model and encounter that same error message! If you solved that problem, please give me what was wrong with that...

[2020-06-24 23:34] penpornk commented on #33138
@jojivk73 Would you mind pasting the commit hash here? I'd like to check if it made it into the TF 2.3 branch. Thank you!

[2020-06-24 23:42] makn87 commented on #40130
@byronyi ,

I used your filter path. The debugger definitely loaded some debug symbols, but there was just nothing but addresses when I stepped through my source.

I do have a habit of changing my home directory temporarily when I do bazel build, to keep from filling up my home directory with its .cache (which is a far smaller size then the drive where I put the installs). I know there is an optio

[2020-06-25 00:02] jvishnuvardhan commented on #38403
@keithchugg I think this was resolved in recent tf-nightly by @qlzh727 . I checked it with `tf-nightly` and cannot reproduce the issue. [Here](https://colab.research.google.com/gist/jvishnuvardhan/be5bbce7844f13ffc44fda50d392e2fb/38403-tf-nightly.ipynb) is the gist for your reference.

Please verify once and close the issue, if this was resolved for you. Thanks!

[2020-06-25 00:04] yil532 commented on #40725
Hi, can I work on this issue? Push a PR to solve this?

[2020-06-25 00:16] mdanatg commented on #40631
Option 2 is definitely the recommended method, you should not need to disable eager execution.

Glancing over the code, a few things that tf.function definitely doesn't work well with, so the output of tf.print is expected:
 * self.memory is a Python list; you should use a Tensor or RaggedTensor instead
 * tf.function doesn't monitor class members for retracing; you should instead design updateWei

[2020-06-25 00:20] omalleyt12 commented on #40703
@KTTrev Thanks for the issue!

`on_train_batch_begin` no longer receives any keys in the `logs`, could you explain your use case? I can advise on workarounds

[2020-06-25 00:26] #39873 closed

[2020-06-25 00:40] jojivk73 commented on #33138
@penpornk This is the related oneDNN [issue ](https://github.com/oneapi-src/oneDNN/issues/525#issuecomment-575375623) :  [commit](https://github.com/oneapi-src/oneDNN/commit/cf7edb6575b255a2fee54d99d0f2eef0e761939a)

[2020-06-25 00:40] tomeroto commented on #40563
@jvishnuvardhan this for new link:
https://drive.google.com/file/d/17mFDcUynbK1ctnRtLSgVfAyE2bkD-gmv/view?usp=sharing

[2020-06-25 00:50] KTTrev commented on #40703
![image](https://user-images.githubusercontent.com/47731576/85640784-02b0b300-b68d-11ea-8e37-75b0fd282a17.png)
Here is a screenshot of the model that I'm trying to build. You can notice that I'm using a function `MyFunction` at the output layer, which contain some parameters `param_1`, `param_2`, `param_3`, `param_4` . However these parameters are not static; each image going through the network u

[2020-06-25 00:55] penpornk commented on #33138
Thank you! TF-MKL 2.3 is currently using oneDNN v1.4 which doesn't have this fix. There's a plan to cherrypick a change to v1.5 if possible, but it seems v1.5 doesn't have this fix either. Do you plan to patch this into v1.5?

cc: @agramesh1

[2020-06-25 01:23] TheMindVirus opened #40784 "Jetson Nano build fails with missing "cudnn_version" string (default=7)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: Ubuntu 16.04 for Nvidia Jetson Nano (Tegra ARM64)
- Tenso

[2020-06-25 01:29] ymodak commented on #40725
@yil532 Feel free to raise one and tag this issue. Thanks!

[2020-06-25 02:07] gowthamkpr commented on #40395
@ryanmaxwell96 I am not able to reproduce this issue. Please share us a minimal reproducible code to reproduce this. Thanks!

[2020-06-25 02:26] #40126 closed

[2020-06-25 02:26] #40124 closed

[2020-06-25 02:53] alanpurple commented on #39248
@mihaimaruseac
so what u mean is, this is bazel's s problem?

and bazelisk is okay but original bazel is not.

is this right?

I'd rather modify .bazelversion, is it okay?

thank you

[2020-06-25 03:18] qlzh727 commented on #38403
Oh, thanks for the notice, I think this should be fixed already. I just forgot to close the github issue.

[2020-06-25 03:18] #38403 closed

[2020-06-25 03:23] gowthamkpr commented on #40392
Yes. Looks like it.

[2020-06-25 03:33] gowthamkpr commented on #38465
Closing this issue as it has been fixed in Nightly. Thanks!

[2020-06-25 03:33] #38465 closed

[2020-06-25 03:35] gowthamkpr commented on #40458
@Lucysmith8 I am afraid to say that you cant do that. You definitely have to import tensorflow.

[2020-06-25 03:38] gowthamkpr commented on #40099
@spatialaudiolabs Is this issue fixed?

[2020-06-25 03:40] gowthamkpr commented on #40115
@duyao-art I would recommend you to post this issue in stackoverflow as  this issue is not related to build/install, bug/performance or feature request related issues. Thanks!

[2020-06-25 03:44] gowthamkpr commented on #39853
@neilteng Were you able to reproduce the error with a simpler example?

[2020-06-25 03:46] ravikyram commented on #40766
@BubbleBoy99

Request you to fill issue template.

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version

Request you to share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-06-25 03:46] gowthamkpr commented on #38672
@Ceceu  Can you o ahead and close the issue as it has been resolved. Thanks!

[2020-06-25 03:53] navczydev opened #40785 "the link to stable version of this codelab is broken"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2020-06-25 04:09] awl-ngoc-son commented on #40157
have you fixed it yet? I have the same issue :((((

[2020-06-25 04:10] ravikyram commented on #40784
@TheMindVirus

Can you try with [tested build configuration](https://www.tensorflow.org/install/source#gpu) for TF 2.1 and see whether the problem still persists?.Thanks!

[2020-06-25 04:23] weinixuehao opened #40786 "It seems be issues to tflite model"
#https://github.com/google/mediapipe/issues/845

[2020-06-25 04:36] frreiss commented on #40171
I've identified the cause of this leak. While loading functions from the SavedModel file, `function_deserialization.load_function_def_library()` executes these two lines:
[code]
See source file [here](https://github.com/tensorflow/tensorflow/blob/2b96f3662bd776e277f86997659e61046b56c315/tensorflow/python/saved_model/function_deserialization.py#L318).

These lines create a second copy of the body o

[2020-06-25 04:40] AakashSasikumar commented on #40631
@mdanatg
Thank you, I will take a look into TensorArrays and making updateWeights() functional.

The thing is, Option 1(where eager mode is disabled) is much faster for me, nearly 5 times faster than Option 2. Is it safe for me to assume that Option 1 works just as Option 2 provided the inputs are same? If not, then I would have to go back to using TF1.0, as this is the only other way I'm getting

[2020-06-25 04:55] swapniel99 commented on #40253
We can test it but I don't think so. I came across this issue while using object detection api itself.

[2020-06-25 04:55] thaink commented on #40677
Let me add these ops.

[2020-06-25 05:07] thaink commented on #40677
Hi prabhat00155,
You are using a too old version of Tensorflow.
Those ops are supported with flex delegate. Please check it with Tensorflow v2.2.

[2020-06-25 05:09] ek9852 opened #40787 "tf.image.random_flip_left_right should be also to apply to a list of tsor"
**System information**
- TensorFlow version (you are using): 2.2.0
- Are you willing to contribute it (Yes/No): yes

**Describe the feature and the current behavior/state.**
Add support to randomly flip image for a list o tensor images instead a single tensor. tf.image.random_flip_left_right, random_flip_top_bottom..
The problem is that for segmentation training, we wants to use data augment to ra

[2020-06-25 05:17] YankeeMarco opened #40788 "TPU UnimplementedError:"
In [1]: # TPU detection
   ...: import tensorflow as tf
   ...: try:
   ...:     tpu = tf.distribute.cluster_resolver.TPUClusterResolver(zone="asia-east1-c", tpu='node-1')
   ...:     print("Well done TPU")
   ...: except ValueError:
   ...:     tpu = None
   ...:
   ...: # TPUStrategy for distributed training
   ...: if tpu:
   ...:     tf.config.experimental_connect_to_cluster(tpu)
   ...:     t

[2020-06-25 05:18] YankeeMarco commented on #40788
This shouldn't happen, so I file a bug to tensorflow team.

[2020-06-25 05:19] ravikyram commented on #40787
@ek9852
Do you have any use case that requires the feature you are interested in? Please feel free to submit a PR if you have use cases that supports that feature.Thanks!

[2020-06-25 05:19] YankeeMarco commented on #40788
# TPU detection
import tensorflow as tf
try:
    tpu = tf.distribute.cluster_resolver.TPUClusterResolver(zone="asia-east1-c", tpu='node-1')
    print("Well done TPU")
except ValueError:
    tpu = None

# TPUStrategy for distributed training
if tpu:
    tf.config.experimental_connect_to_cluster(tpu)
    tf.tpu.experimental.initialize_tpu_system(tpu)
    strategy = tf.distribute.experimental.TPUStra

[2020-06-25 05:25] ek9852 commented on #40787
@ravikyram  I already state the use case.
I want to train a network  with image segmentation.
How can I randomly flip input image and  ground true label (which is another image) to the same direction randomly for data augmentation ?

[2020-06-25 05:27] frankier commented on #35709
It's unfortunate that pip does not support any kind of "conflicts with" declaration. I think given this, the only better solution available now is to detect whether an incompatible version of scipy is installed early on and issue a warning, rather than adding a spurious dependency.

[2020-06-25 05:42] navroopsingh1 commented on #35208
Same here, I tried making a new virtual environment and used pip install --ignore-installed --upgrade tensorflow-gpu==1.15.0 this time but I ended up with the same error.

[2020-06-25 05:54] mihaimaruseac commented on #39248
`.bazelversion` is used by Bazelisk. In all my tests Bazel would just ignore the file. Don't know why the binary that executes when you call `bazel` on your system does not ignore the file.

`.bazelversion` lists the version of Bazel that we built with. As long as you change it to a version that is in the range specified by `configure.py` that should be ok

[2020-06-25 06:15] vuquocan1987 commented on #40751
I fixed it by reinstall every thing AND DID NOT do `cp /opt/rocm/hip/lib/libamdhip64.so.3.5.30501 /usr/lib/libhip_hcc.so` instead, I tried: `export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/rocm/hip/lib` as in:
https://github.com/RadeonOpenCompute/ROCm/issues/1163#issuecomment-648910306

Please try it and tell me if that solved yours problem.
Sigh ... finally, I can get some sleep.

[2020-06-25 06:18] AngelBerihuete commented on #40571
Dear @sanjoy, Any clue about this issue?

[2020-06-25 06:42] codey-code commented on #40664
sorry @mihaimaruseac here is the error
[code]
i can't get through this to even check its version

[2020-06-25 07:22] dtch1997 opened #40790 "Could not detect op for DEPTHWISE_CONV_2D"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows 10, Mbed Studio
- TensorFlow installed from (source or binary):
Source
- Tensorflow version (commit SHA if source):
2.1.0, 896c9220929e85fec93c6587330f19815f71e589
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.):
Arm Mbed OS

**Describe the problem**
Person detection example

[2020-06-25 07:24] thaink commented on #40157
In my test today. It is working.

[test_flex.ipynb.zip](https://github.com/tensorflow/tensorflow/files/4829629/test_flex.ipynb.zip)

[2020-06-25 07:28] Lucysmith8 commented on #40458
You know how I can solve the problem with the path?

[2020-06-25 08:06] devspartan opened #40791 "Documentation Error: padded_shapes isn't provided in padded_batch method."
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2020-06-25 08:29] hajohajo commented on #31173
This would be a really useful feature to have. Are there any updates?

[2020-06-25 08:48] jalalirs commented on #38518
I am having the same issue with no other processes running. I started to get this error after updating my driver to 418.87. In another node with same GPU series, but earlier driver (396.82), the code works just fine..

After analyzing my code, I discovered the problem and it is funny. In my code, I am using torch and tensorflow and if I import torch first tensorflow will break

`import torch`
`imp

[2020-06-25 08:49] wibudonglao commented on #26209
Thanks! It was really helpful to me. I have been suffering this problem for 1 month and cant figure out how to fix this until i see your comment! <3

[2020-06-25 09:00] yaswitag1 commented on #40536
Hey,
  Are there any updates on this ?

[2020-06-25 09:00] Saduf2019 commented on #40772
@Lucysmith8
Please refer to these links with similar error, and let us know if it helps:
#33730 [link](https://github.com/pyinstaller/pyinstaller/issues/4200) [link1](https://webspark.hk/blog/python/pyinstaller-expected-str-error-fix/)

[2020-06-25 09:17] ohadlights opened #40793 "Question: fake-quantize layers are also called from TF-Lite"
Hi TensorFlow developers.

I'm facing a behavior with TensorFlow lite quantized models that I can't figure out.

I published a question in StackOverflow but didn't get a helpful response for now: https://stackoverflow.com/questions/62433410/tensorflow-fake-quantize-layers-are-also-called-from-tf-lite/62524147.

I think that what I'm actually looking for, is how do I force the C++ code to run only

[2020-06-25 09:46] amahendrakar commented on #38117
@Madhurananda,
Please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2020-06-25 09:47] ravikyram commented on #40791
@devspartan

I have tried executing tutorial in colab with TF 2.2 and i am not seeing any issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/e09d0a0e89ac7cbbbbcb2f40472fd88a/untitled67.ipynb)..Can you please help me to understand where exactly you are facing the issue.If possible please share colab link or simple standalone code to reproduce the issue.It helps us i

[2020-06-25 09:57] pks commented on #39851
Yes, it works with other images. But they serve another purpose -- the Intel one has minimal dependencies.

Any update on the softmax issue? Should I open another issue for that? Unfortunately I cannot share specific code for this, but should be reproducable with other problems too.

[2020-06-25 10:02] #40349 closed

[2020-06-25 10:02] amahendrakar commented on #40664
@codey-code,
Could you please run the below commands and paste the output here.

- `python3 --version`

- `pip3 freeze`

Also, try creating a Python virtual environment and check if you are facing the same issue. Thanks!

[2020-06-25 10:07] jdonier opened #40794 "Error when computing gradients of a reloaded SavedModel containing an if clause"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): only the snipp

[2020-06-25 10:07] #40794 closed

[2020-06-25 10:12] ofekray commented on #33153
This stackoverflow thread solved my problem with AWS Lambda:
https://stackoverflow.com/questions/59570081/how-to-use-tensorflow-lite-on-aws-lambda

[2020-06-25 10:21] jdonier opened #40795 "Error when computing gradients of a reloaded SavedModel containing an if clause"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.4
- TensorFlow installed from (source or

[2020-06-25 10:24] #40762 closed

[2020-06-25 10:24] DroneMesh commented on #40762
Solved it its a bug with LLVM

[2020-06-25 10:30] Lucysmith8 commented on #40772
It is not the same problem. They use pyinstaller, I use cx_freeze @Saduf2019

[2020-06-25 10:37] prabhat00155 commented on #40677
Thanks, I have updated my TF version. When I run summarize_graph on the model, I get shape=[]. How do I pass this when using tflite_convert?
[code]

[2020-06-25 10:40] Lucysmith8 commented on #40458
He found the solution. But instead of sharing, he closed his question and he didn't answer anyone. https://github.com/anthony-tuininga/cx_Freeze/issues/514

[2020-06-25 10:40] Lucysmith8 commented on #40485
He found the solution. But instead of sharing, he closed his question and he didn't answer anyone. https://github.com/anthony-tuininga/cx_Freeze/issues/514

[2020-06-25 10:41] Lucysmith8 commented on #40772
He found the solution. But instead of sharing, he closed his question and he didn't answer anyone. https://github.com/anthony-tuininga/cx_Freeze/issues/514

[2020-06-25 10:51] saikumarchalla commented on #32355
@jpadrao Closing this issue as it was the intended behavior. Please feel free to reopen the issue if you still have a concern. Thanks!

[2020-06-25 10:51] #32355 closed

[2020-06-25 11:02] Chr0m0s0m3s commented on #40751
solves the issue for one terminal not fully

[2020-06-25 11:02] bjourne opened #40796 "tf.debugging.enable_check_numerics() doesn't work on TPUs"
Adding that line produces this traceback:
[code]

[2020-06-25 11:03] Divyam10 commented on #37510
Tensorflow 2.1 is not compatible with CUDA 10.0. You will have install CUDA 10.1 along with 10.0 or make new conda environment and with tensorflow-gpu=2.1.0. Conda will install Cuda 10.1 for that environment.
`conda install anaconda tensorflow-gpu=2.1.0
`

[2020-06-25 11:19] Chr0m0s0m3s commented on #40751
Ok issue solved fully type these in the terminal
[code]

Thanks everyone closing the issue

[2020-06-25 11:19] #40751 closed

[2020-06-25 11:26] #40270 closed

[2020-06-25 11:33] Lucysmith8 commented on #33785
Do not help this person. When he finds the answer, he closes the question and does not respond to those who need help.

[2020-06-25 11:43] jianmosier commented on #33948
@jvishnuvardhan  I have such a similar problem, and it happened on the latest version. I hope you can give me some suggestions.
my code as below:

[code]
Exit:

But the data_tensor's shape is [107]+[60]+[80]+[3], it's same with A or X, I'm confused.

[2020-06-25 11:58] amahendrakar commented on #40768
@Brunnhild,
On running the code I am facing an error stating `NameError: name 'Layer' is not defined`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/0aed57fe70b05aa31971d41467c283b7/40768.ipynb).

In order to reproduce the error, could you please share the complete code and the supporting files you are using. Thanks!

[2020-06-25 12:09] amahendrakar commented on #40786
@weinixuehao,
In order to expedite the trouble-shooting process, could you please provide the complete code, the TensorFlow version and the supporting files you are using. Thanks!

[2020-06-25 12:15] thaink commented on #40677
@abattery Do we need to pass --input_shapes in case of string?

[2020-06-25 12:24] mdanatg commented on #40631
Yes, the expectation is that Option 1 has the same output as Option 2. But without eager execution, Option 1 just builds a graph and never runs it - you should not see any tf.print outputs at all, as you'd need all sorts of control dependencies sessions and initializers boilerplate - which explains the apparent speed-up. Using TF 2 is definitely recommended because it's easier to use and has much

[2020-06-25 12:26] #40378 closed

[2020-06-25 12:26] tomeroto commented on #23919
hello, how to fix it? I have same problem.

[2020-06-25 12:30] tomeroto commented on #19414
Hello, I have same problem, can anyone to help me?

[2020-06-25 12:35] jvishnuvardhan commented on #33948
@jianmosier Please create a new issue with the content you mentioned above. It will be easy for the community to follow. Please ping me there. Thanks!

[2020-06-25 12:39] jvishnuvardhan commented on #40709
@sharvil Are you interested in raising a PR to update the docs? Thanks!

[2020-06-25 12:41] yaowang1111 commented on #40385
I have the exactly same problem.

[2020-06-25 12:42] TheMindVirus commented on #40784
Even if I try one of the default configurations I’m not likely to get the same performance out of the board. The library versions have been compiled especially to support this board and others. Changing the environment will likely cause damage to my system and other applications.

[2020-06-25 12:45] erolgerceker commented on #34143
i did what u said. i got this error.

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x9d in position 3: invalid start byte

[2020-06-25 12:46] erolgerceker commented on #34143
i did what u said. i got this error.

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x9d in position 3: invalid start byte

[2020-06-25 12:52] saikumarchalla commented on #34358
@s4sarath   Closing this issue as we don't have enough information to reproduce it. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-06-25 12:52] #34358 closed

[2020-06-25 13:04] omidhm commented on #31262
I have the same setup.
Input:
from tensorflow.python.client import device_lib
print(device_lib.list_local_devices())
Output:
[name: "/device:CPU:0"
device_type: "CPU"
memory_limit: 268435456
locality {
}
incarnation: 13583293957510262229
, name: "/device:GPU:0"
device_type: "GPU"
memory_limit: 3181130547
locality {
  bus_id: 1
  links {
  }
}
incarnation: 2244988091806553314
physical_device_desc:

[2020-06-25 13:09] abattery commented on #40677
`shape=[]` means scalar type. You can put a one string value via inference API.

E.g.,
[code]

For the inference API, you can refer to the following link: https://www.tensorflow.org/lite/guide/inference

[2020-06-25 13:21] matheushent commented on #38518
So, basically you're saying that is not possible to run torch and tf models at the same time, right? If it is, this is completely insane and just reaffirms the need of reopening the issue

[2020-06-25 13:39] prabhat00155 commented on #40680
I didn't get that error when running benchmark_model. The tool itself crashed with segmentation fault. I can retry everything on latest TF version.

[2020-06-25 13:39] liyinhgqw opened #40797 "Cannot test op using mutlithreading"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-06-25 13:50] alanpurple commented on #39248
@mihaimaruseac

thank you for your efforts, but it seems that this issue is not resolved

[2020-06-25 13:53] GhassenBenMakhlouf commented on #37433
@mihaimaruseac the problem is that I can not use GPU because this error: Could not load dynamic library 'cudart64_101.dll'

I know it is an information log or warning because the program can still use the CPU.
But I want to use GPU, please help me solve this issue. please refer me to another issue if you have the solution somewhere.

[2020-06-25 14:03] devspartan commented on #40791
I've been using TF 2.1. After upgraded to TF 2.2 it works fine. Thank you for your quick response

[2020-06-25 14:03] #40791 closed

[2020-06-25 14:05] ricardopss commented on #36358
I had the same problem... Just tried here: both 'acc' and 'accuracy' works... I depends on what metrics have you specified on the compile():

`
model.compile(loss='binary_crossentropy',
               optimizer='adam',
               metrics=['acc'])
`
or
`
model.compile(loss='binary_crossentropy',
               optimizer='adam',
               metrics=['accuracy'])
`

[2020-06-25 14:11] zampnrs commented on #40442
Hi @Jamesweng. I'm also facing this loss accuracy problem but with quantized models. I opened the issue #40518 to try solving this, we have some possibilities but not very clear right now. Can you please share how do you run the inference in iOS? I get a `UIImage` from camera or gallery, covert it to `CVPixelBuffer` and then call the `runModel(onFrame: myCvPixelBuffer)` from the `modelDataHandler.

[2020-06-25 14:18] zampnrs commented on #40518
Yes, sure. The code to convert UIImage to CVPixelBuffer is in my reply above to Saduf2019.

I've already undone my change to the `ModelDataHandler.swift` since I couldn't get any difference in the results, but the changes were:
- Take out these lines:
`    // Crops the image to the biggest square in the center and scales it down to model dimensions.
    let scaledSize = CGSize(width: inputWidth, h