[2017-06-27 19:45] haichao12sigma commented on #10520
I also got the same error on 1.2rc before turning off the bias.

[2017-06-27 19:50] junshi15 commented on #9926
@byronyi for size mismatch, do you expect the tensor size change over the course of training?

Currently, the tensor size is assumed to be fixed except for string tensor. PR#10700 relaxes that requirement by sending a warning. Please make sure the size change is intended/expected before applying that patch.

[2017-06-27 20:00] byronyi commented on #9926
@junshi15 Indeed the errors are gone after applying the patch.

For the record, I did not write the model myself; I am using the in-stock VGG16 available from [benchmark scripts](https://www.tensorflow.org/performance/performance_models), i.e. [``tf_cnn_benchmarks.py``](https://github.com/tensorflow/benchmarks/blob/master/scripts/tf_cnn_benchmarks/tf_cnn_benchmarks.py). Do we actually considered t

[2017-06-27 20:13] 4l4l4l commented on #11043
Hello, thank you all for respond. I use

[2017-06-27 20:19] zhangyaobit commented on #10730
What is the time per step measured by the script? If it is the time without gap, it means the gap is an artifact/bug of Timeline; if it is the time including the gap, it means the gap is performance issue of tf_cnn_benchmarks.py.

[2017-06-27 20:20] spinnau commented on #11082
In [tensorflow/blob/master/tensorflow/python/util/tf_should_use.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/util/tf_should_use.py) the function `weakref.finalize` is used. This is [new since Python 3.4](https://docs.python.org/3/library/weakref.html#weakref.finalize). Thus, it is not a distinction between Python 2 and Python 3 here.

Possible solution is to check if

[2017-06-27 20:21] #8865 closed

[2017-06-27 20:33] vrv commented on #6847
@agniszczotka: if you don't want to have backprop through extract_image_patches, wrap the output of tf.extract_image_patches() in tf.stop_gradient().

I think there's two issues being conflated here:
1) extract_image_patches doesn't have good documentation, and should be improved.  I would love one of the authors or maintainers of this code to add some.  @gpapan and @benoitsteiner ?

2) It sounds

[2017-06-27 20:34] #10835 closed

[2017-06-27 20:51] RylanSchaeffer commented on #11067
For anyone else wondering, you can access the alignments by setting `alignment_history=True` in `AttentionWrapper`. So if I have an object called `model` with my decoder as a member variable, I can access the alignments as follows:

`
    alignments = sess.run([model.decoder_final_state.alignment_history.stack()],
                          feed_dict={whatever})
`

[2017-06-27 20:57] anishathalye opened #11091 "tf.nn.elu: incorrect second derivative"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.2.0
- **Bazel version (if compiling from source)**: N/A
- **CUDA/cuDNN version**:

[2017-06-27 20:59] anishathalye commented on #11091
Possibly related to #7403

[2017-06-27 21:04] jakedailey1 commented on #10766
Also fails when `gradients()` calculated for loss w.r.t. weights drawn from `MultivariateNormalDiag()` (in my case with the help of `contrib.bayesflow.stochastic_tensor.StochasticTensor`). Using `Normal()` appears to be a (slower) workaround.

[2017-06-27 21:26] ktarplee commented on #10766
I had a similar problem as @jakedailey1 which is why I distilled this example down from a Mixture Density Network with a likelihood-based loss function.

[2017-06-27 22:16] apockill commented on #11078
To add to this, I found that their trainer_test.py code also fails because of this issue, leading me to think there's more going on here:

python trainer_test.py
E.
======================================================================
ERROR: test_configure_trainer_and_train_two_steps (__main__.TrainerTest)
----------------------------------------------------------------------
Traceback (most rece

[2017-06-27 22:19] zhisbug opened #11092 "conv2d on CPU does not numerical gradient check, possibly because the forward has an offset but the backward not when padding values are negative."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: ('v1.2.0-rc2-21-g12f033d', '1.2.0')
- **Bazel version (if compiling from source)**:

[2017-06-27 22:42] junshi15 commented on #9926
I did not use that script. I have been using VGG model inside tensorflow/slim. According to discussion in #10700, we should allow tensor size to vary.

[2017-06-27 23:00] byronyi commented on #9926
@shamoya I have successfully running the benchmark with at least one of the models in ``tf_cnn_benchmarks.py`` with the cluster spec I mentioned above. Any hints you got with more verbose logging?

[2017-06-27 23:06] sarkistlt commented on #37
this could be useful [keras-js](https://github.com/transcranial/keras-js)

[2017-06-27 23:33] RaymondY1213 commented on #11045
I encountered the same problem. Solved by add <path4cuDNN>/bin into PATH

[2017-06-27 23:37] hondaathma opened #11093 "Python checkpoint to use with C++"
I have tried everything from freeze_graph.py to bazel  to try and use a python trained saved checkpoint of a model in c++.

Why is it so complicated in TF?Caffe was so much easier.!!

These are the steps that I follow:

1)While training I added the following line just before saving each checkpoint :
tf.train.write_graph(sess.graph_def, 'modelsprototxt/', 'trainingmodel.pb', as_text=True)

2)I used

[2017-06-27 23:37] dgovil commented on #11045
Which /bin would that be? The one under the cuda home path?

I will try that when I get home. Thanks.

On Tue, Jun 27, 2017, 4:34 PM RaymondY1213 <notifications@github.com> wrote:

[2017-06-27 23:39] spyhole commented on #37
+1

[2017-06-27 23:48] sanivaer commented on #9691
what is the workaround for this issue.  how is the double free happening?

[2017-06-27 23:55] Bondifrench commented on #37
@sarkistlt Unfortunately no, we are NOT talking of doing a javascript implementation of Tensorflow, which `keras.js` does, but we are talking having a nodejs **wrapper** around the C++ api of Tensorflow, so it requires understanding how to [write native add-ons for NodeJs](https://blog.risingstack.com/writing-native-node-js-modules/).
Other useful [source](https://github.com/freezer333/nodecpp-dem

[2017-06-28 00:00] nealwu commented on #11025
a

[2017-06-28 00:21] jhseu commented on #8687
I haven't been able to reproduce the error with the provided script. It just raises OutOfRangeError in Python, but otherwise works fine. If you feel that this should be reopened, we'll need more info, like a proposal for where the issue is coming from, or a script that reproduces the issue in TF 1.2.

[2017-06-28 00:21] #8687 closed

[2017-06-28 00:25] RaymondY1213 commented on #11045
under cuDNN path @dgovil

[2017-06-28 00:25] jhseu commented on #6164
I haven't been able to reproduce this issue, so I'm closing it out. If you feel this is still an issue, please test it out in TF 1.2 and upload the full scripts you're using to https://gist.github.com

[2017-06-28 00:25] #6164 closed

[2017-06-28 00:30] nealwu commented on #11025
Hi @jingweimo, could you fill out the system information form we provide at https://github.com/tensorflow/models/issues/new? I tried the test and it is working fine for me.

You may also want to try on non-Anaconda Python and also try on Python 2 to see if either of those is the cause of your issue.

[2017-06-28 01:36] zhaoerchao commented on #10730
@zhangyaobit Thank you for your suggestion. The time per step measured including the gap. But I don't think it is a performance issue of tf_cnn_benchmarks.py. I have tried many ways to train the model but all have this issue. And [cifar10_multi_gpu_train.py](https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10/cifar10_multi_gpu_train.py) also have the issue.

Besides, when I ru

[2017-06-28 02:49] sampepose opened #11095 "Symbol not found with adding new op"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac Sierra
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.1.0
- **Bazel version (if compiling from source)**:
- **CUDA/cuDNN version**: 8.0
- **GPU

[2017-06-28 02:55] hj3yoo commented on #7841
@tonytangau I was actually having an error with a huge stack for this tutorial, and adding model_dir DID fix the error somehow... how could this even be the case?
[code]

[2017-06-28 03:05] denglixi commented on #5243
you should change the batch_size in cifar10.py to 1, otherwise the default number is 128.  The size of  weights in local/3 is [input_batch * 2304 / batch_size].

[2017-06-28 03:14] davidshen84 opened #11096 "C1002 error when building on Windows 10 64 bit, with vs 2017"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-06-28 03:28] makman7 opened #11097 "Checkpoint restore problem with version 1.1.0"
#saving
import tensorflow as  tf
v1 = tf.Variable([1,2,3], name="v1")
v2 = tf.Variable([4,5,6], name="v2")
init_op = tf.global_variables_initializer()
saver = tf.train.Saver()
with tf.Session() as sess:
  sess.run(init_op)
  save_path = saver.save(sess, "/home/abc/Documents/tensorflow/tmp/model.ckpt")
  print("Model saved in file: %s" % save_path)

#restore
v1 = tf.Variable([1,1,1], name="v1")
v2

[2017-06-28 03:30] hj3yoo commented on #7841
@tonytangau Unlike elvai001's case, mine DOES end up in an error if I don't explicitly add model_dir into the parameter like you've mentioned :/

[2017-06-28 03:38] #11097 closed

[2017-06-28 03:44] cancan101 commented on #4638
I posted the issue to SO: https://stackoverflow.com/questions/44793286/slicing-tensorflow-tensor-with-tensor.

[2017-06-28 03:53] korepwx opened #11098 "tf.check_numerics does not raise error when used in tf.control_dependencies"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Sierra 10.12.4
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.2.0
- **Bazel version (if compiling from source)**: none
- **CUDA/cuDNN version*

[2017-06-28 04:26] dbakshee opened #11099 "Typo in illustrating figure for XLA/Concatenation operation"
Illustrating image for [Concatenate](https://www.tensorflow.org/performance/xla/operation_semantics#concatenate)
suggests Concat({ 2x4, 2x8 }, dimension=0) is 2x12. Should be dimension=1, and same for the other examples.

[2017-06-28 04:37] lijiansong commented on #3408
you can remove mock by the following command:
[code]
then type the following command to install mock
[code]

[2017-06-28 04:45] ebrevdo commented on #11067
Your approach is the right one.  We don't enable alignments history by
default because:

1.  It requires extra memory
2.  It's not always possible, i.e. when using a beam search decoder.

On Jun 27, 2017 9:59 AM, "Rylan Schaeffer" <notifications@github.com> wrote:

[2017-06-28 05:14] ebrevdo commented on #10375
We are looking into sparse-sparse matmuls but won't have anything available
in the near future.  If we do, it won't be
called sparse_tensor_dense_matmul.

On Jun 27, 2017 4:09 AM, "wbwvos" <notifications@github.com> wrote:

[2017-06-28 05:27] ebrevdo commented on #7664
Use tf.nn.rnn_cell.MultiRNNCell.

On Jun 26, 2017 1:25 AM, "Julian Niedermeier" <notifications@github.com>
wrote:

[2017-06-28 05:40] endymecy commented on #10866
I also have this error.

platform: mac os 10.12.5
tensorflow version: r1.0.1
python version: 2.7.13

[2017-06-28 06:10] printdhruv commented on #10866
@endymecy Did you tried executing `pip install --upgrade tensorflow` as stated in my above post?

[2017-06-28 06:47] mrlzla commented on #11066
try this:
[code]
[code]

[2017-06-28 06:58] drormeir commented on #8057
What are the defaults of beta#_power?

[2017-06-28 07:05] HughWen commented on #8652
Same as me.

[2017-06-28 07:49] roponator commented on #9672
Same problem, using non-anaconda python, win10.

[2017-06-28 07:50] Songweiping commented on #11077
You provide wrong initial state while constructing the decoder in:

[code]
`encoder_state` is not an instance of the AttentionWrapperState,  and naturally it has no attribute named "attention". You should provide an instance of AttentionWrapperState as initial_state, such as `attn_cell.zero_state(...)`.

[2017-06-28 07:53] cnschn commented on #4018
I'm having the same issue as @fcahoon and will try to add some more information on what the problem is.

I'm on Debian 8 (Jessie), cuda toolkit 7.5 and cudNN 5.1. The cuda toolkit was, however, not installed using the installer from Nvidia, but via the system package manager (in my case from the jessie-backports repo, in @fcahoon's case using the .deb packages directly downloaded from Nvidia). Thi

[2017-06-28 08:11] faddey-w commented on #8057
beta1_power is initialized to beta1, beta2_power is initialized to beta2. Then, after each training step beta#_powers are multiplied by beta1 and beta2, respectively.

[2017-06-28 08:17] davidshen84 commented on #11096
My computer has 16 GB of memory, and during the course of the compilation, the memory usage is below 55%.

[2017-06-28 08:26] #11077 closed

[2017-06-28 08:31] spinnau commented on #11082
@ebrevdo What do you think? I could also add a PR for this.

[2017-06-28 08:36] AnishShah opened #11101 "Negative indices support for tf.gather"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.06
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.2.0
- **Bazel version (if compiling from source)**: 5.2
- **CUDA/cuDNN version**:

[2017-06-28 08:37] MetaPeak commented on #11078
I used pascal voc 2007 with python3.5, it had the same problem as you mentioned. However, I can run the the same model in python2.7 correctly. Maybe it is the problem of python version compatibility.

[2017-06-28 08:45] sunxiaoben opened #11102 "using output_layer in seq2seq model?"
Os：liunx
version: v1.2.0

i am writing a seq2seq model using tensorflow. my problem is

helper = TrainingHelper(...)
decoder = BasicDecoder(...)
decoder_outputs, final_state, seq_len  = tf.contrib.seq2seq.dynamic_decode(decoder)
rnn_out, sample_ids = decoder_outputs

in traing period, we should calculate the loss:
loss = tf.contrib.seq2seq.sequence_loss(rnn_out, targets, weights)

the rnn_out's sh

[2017-06-28 08:45] zaccharieramzi opened #11103 "Batch normalization layer has new name for each call to `__init__`"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OSX 10.12.5
- **TensorFlow installed from (source or binary)**: `pip install`
- **TensorFlow version (use command below)**: 1.1.0
- **CUDA/cuDNN version**: no GPU
- **Exact command to reproduce**:
[code]

[2017-06-28 09:21] chencjiajy commented on #7816
@caisq  sorry to reply until today because I didn't notice the message timely.
 The problem disappeared when I upgrade to TF1.2.

[2017-06-28 09:34] ereli commented on #8898
Shouldn't the solution be adding it the permanent library config path? instead of `export LD_LIBRARY_PATH=/usr/local/cuda/lib64/` you can do
[code]

[2017-06-28 09:46] ribx commented on #11073
Same problem here on Gentoo Linux, python 3.4.5.

[2017-06-28 10:12] #10845 closed

[2017-06-28 10:15] ribx commented on #11073
Looks like the bazel script somehow escaped my virtualenv (again: #10529)

I installed wheel on my system and it worked.

@TethysSun: check which python version is used for the command. Also go into the tmp directory and try the command:
[code]

It should list beside other things:
[code]

Good luck.

[2017-06-28 10:32] 4l4l4l commented on #11043
@gunan is it possible to create docker container for building tensorflow somewhere?

[2017-06-28 10:35] rajeevraibhatia commented on #11078
I'm getting the same error with Python 3.6.1. How can we fix this ?

[2017-06-28 10:42] MetaPeak commented on #11078
@rajatmonga  You can try python 2.7 to train your model, if you are hurry. It works.

[2017-06-28 11:01] byronyi commented on #4018
Same issue here. Could we support standard FHS compatible installation of CUDA in our configure script? That would be nice to a lot of people.

[2017-06-28 11:33] StephenLee2016 opened #11109 "How can i use saved_model api to save chatbot model?"
Rencently i train a chatbot model based on seq2seq model , but i failed to save the model use saved_model api! So i wonder to know where i can get some demo about this task?

[2017-06-28 11:43] Randl commented on #11043
I'm using `clang version 5.0.0-svn306258-1~exp1` and it does compile CUDA code (I've tried with a couple of toy examples).

[2017-06-28 12:21] andrewrech commented on #11085
Given the developments in the eGPU space, it would be wonderful to see continued GPU support for macOS. eGPUs on macOS may become a popular alternative for running locally vs. a linux server.

[2017-06-28 12:27] endymecy commented on #10866
After I upgrade tensorflow to 1.2.0 and I don't get success

[2017-06-28 12:49] kyo744 commented on #11066
I've tried that. Any non zero value would cause my simulator to crash.

[2017-06-28 13:06] hellolovetiger commented on #11071
Thanks @mrry for your reply. What do you mean by "slightly unusual variable configuration"? Is there any reference of the `ready_op` (or `init_op`) you mentioned?

[2017-06-28 13:25] caisq commented on #7816
@chencjiajy OK. Thanks for letting us know!

[2017-06-28 14:01] kzos opened #11112 "What is the possible substitute of cc_ops for android/mobile environment"
OS: Ubuntu 16.04 64bits
Android Version: 7.1 (Nougat)
NDK Version: android-ndk-r12b
Development: develop shared library that exposes op's to NDK CPP application.

I am aware, that there is no explicit support for cc_ops on android/mobile env,
I am using few methods in my application.

[code]

I just copied these headers from **//bazel-out** to **//tensorflow**
but it requires dependencies,

[code]

[2017-06-28 14:19] adler-j opened #11113 "Add cosine annealing for learning rate decay"
[SGDR: Stochastic Gradient Descent With Warm Restarts](https://openreview.net/pdf?id=Skq89Scxx), proposes decaying the learning rate according to

![image](https://user-images.githubusercontent.com/2202312/27641761-1bf302c8-5c1d-11e7-8d4b-15988701ff3f.png)

where ![image](https://user-images.githubusercontent.com/2202312/27641775-28b4e0a8-5c1d-11e7-8adc-1dcaea55d77c.png) is the minimum step length

[2017-06-28 15:19] BilboSwagginz commented on #11085
@andrewrech Yeah the new version of macOS comming this fall supports eGPU, but not supporting the built in graphics would be a bummer for me as I was not planning on buying an NVIDIA card, just to play with Tensorflow. From my understanding just supporting Metal in Tensorflow means that it supports most of the GPU's connected to the computer?

[2017-06-28 15:30] dgovil commented on #11045
Unfortunately that didn't work for me @RaymondY1213 . Thanks for the suggestion though.

Here's my current `PATH` sorted alphabetically for easier reading

[code]

[2017-06-28 15:43] andrewharp commented on #11112
You probably want to be using [tensorflow/core:android_tensorflow_lib](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/BUILD#L989) or //tensorflow/contrib/android:libtensorflow_inference.so

You can attempt to add ops to the dependencies of those libraries but note that DecodeJpeg is not guaranteed to work on Android without some hassle (I'd recommend stripping out that node w

[2017-06-28 15:43] #11112 closed

[2017-06-28 15:51] TheButlah opened #11115 "Unecessary type checking for shape_invariants in tf.while_loop()"
Apologies in advance if this is not the right place to post this or I did something wrong, I am new to GitHhub issues and TensorFlow.

### Describe the problem
In `tf.while_loop`, when passing in `shape_invariants`, it is not (easily) possible to specify a shape invariant for a state variable belonging to a `BasicLSTMCell`. This is because the `tf.while_loop` makes a `nest.assert_same_structure(lo

[2017-06-28 16:00] asimshankar commented on #11109
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

(When you do ask there, you should probably include more detail on what exactly you tried and what failed)

[2017-06-28 16:00] #11109 closed

[2017-06-28 16:04] RylanSchaeffer commented on #11067
@ebrevdo , can you clarify what `_keys` are for `AttentionWrapper`?

Also, just to confirm, the `normalizer` referred to by `Step 4: Calculate the alignments by passing the score through the normalizer` is the attention mechanism's `probability_fn`?

[2017-06-28 16:16] cancan101 commented on #4638
@itsmeolivia why was the issue closed? It doesn't seem like the example in the OP works.

[2017-06-28 16:19] MarvinTeichmann commented on #3246
This should be part of the [documentation](https://www.tensorflow.org/api_docs/python/tf/matmul) of matmut. It is very unclear what the flag `a_is_sparse` does.

[2017-06-28 16:50] itsmeolivia commented on #4638
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-28 17:16] shahinkl commented on #6110
can we use like this?
`inputs = {'source': utils.build_tensor_info(pred_data[0]),
              'target_sparse': (utils.build_tensor_info(pred_data[1].indices), utils.build_tensor_info(pred_data[1].values), utils.build_tensor_info(pred_data[1].dense_shape)),
              'source_len': utils.build_tensor_info(pred_data[2])
              }`

[2017-06-28 17:26] cancan101 commented on #4638
I'm asking why the ticket was closed given the op was in fact a feature. Was it implemented? Or decided to not implement. There is no info in the ticket as to why it was closed.

[2017-06-28 18:09] #7355 closed

[2017-06-28 18:09] #1588 closed

[2017-06-28 18:13] #10823 closed

[2017-06-28 18:20] asimshankar commented on #11093
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

(In particular, it isn't clear to me how you're invoking the `freeze_graph` tool, which version of TensorF

[2017-06-28 18:29] RylanSchaeffer commented on #6604
@girving , @mrry - if `tf.train.Supervisor` will be deprecated soon, can someone edit the programming guide [page](https://www.tensorflow.org/programmers_guide/supervisor) to let people like myself know?

[2017-06-28 18:42] TrsNium commented on #11102
helper = TrainingHelper(...)
decoder = BasicDecoder(...)
decoder_outputs, final_state, seq_len = tf.contrib.seq2seq.dynamic_decode(decoder, output_time_major=True)
rnn_out, sample_ids = decoder_outputs

logits = tf.layers.dense(rnn_out[-1], target_vocab_size)

[2017-06-28 18:42] ispirmustafa commented on #6604
We're in the process of updating those programming guides.

[2017-06-28 18:58] Mr-Grieves commented on #2680
Can you be more specific about implementing this fix? Because it is not working for me. I've tried changing:
**line 94**: `#define TF_CALL_string(m)` to `#define TF_CALL_string(m) m(string)`

Still get the same "No OpKernel was registered to support Op 'Switch'" error.

I've also tried changing:
**line 98**: `#define TF_CALL_bool(m)` to `#define TF_CALL_bool(m) m(bool)`
To no avail...

@leftstone2

[2017-06-28 19:01] gunan commented on #11043
@4l4l4l our default builds use gcc and nvcc to build.
There are already docker containers for tensorflow for those, you can use any "devel" docker container in our dockerhub.

clang is still work in progress, so Ill have to wait for a response from @ilya-biryukov to see what the problem you are running into is.

[2017-06-28 19:18] RylanSchaeffer commented on #6604
@ispirmustafa , awesome!

[2017-06-28 19:45] Thenerdstation opened #11121 "reset_default_graph awkwardly breaks graph nesting."
### System information
- **Linux Ubuntu 16.04**:
- **TF version 1.1.0, though it should still be present in master**:

### Bug
Running this:
[code]
Causes this

[code]

This bug causes a confusing error message. The stack should either include the new default graph created by reset_default_graph or a warning/error message should happen when you reset the default within nested graphs.

[2017-06-28 19:58] pbermingham commented on #7823
Waiting for this too.

[2017-06-28 20:15] ankitachandak opened #11122 "Building Tensorflow from source with XLA enabled and without GPU"
Hi,
I built and installed tensorflow from source with XLA enabled and GPU disabled (basically I opted N for everything while configuring via ./config except XLA enabling as Y). There were lot of warnings regrding deprecated syntax while building. but the build was successful.
I am able to import tensorflow and run basic print command in session. But while I try to do some computation (for eg. simp

[2017-06-28 20:16] langmore commented on #10766
This turns out to be an issue with `tf.reduce_prod`, whereby gradients fail upon reduction over negative indices.  I'll get an internal fix started.

[2017-06-28 20:21] goodfeli commented on #4897
The mathematical concept of a gradient is defined only when the output is a single scalar. (If you give TensorFlow an output that isn't a scalar, it will give you the gradient of the sum). You probably want a Jacobian. So you'd need to make a loop that computes the gradient once per entry in the output.

[2017-06-28 20:43] TheButlah commented on #9527
I need to accept variable length sequences, so I am essentially comparing dyamic_rnn vs static_rnn vs using a python loop and then a per-timestep mask on the loss function. I have tested using batch sizes of 200 on both 10 and 100 long sequences of one-hot embedded vectors (10 'words' in dictionary). What do you define as larger batch sizes and timesteps? I get the logic behind the GPU swap thing,

[2017-06-28 20:49] svtphysicist opened #11123 "Correction to Getting Started"
Hello,

I would like to submit that there is a programming bug on line 29 of the "custom model tutorial" within Getting Started with Tensorflow.

The line should read:

input_fn = tf.contrib.learn.io.numpy_input_fn({"x":x_train}, y_train, batch_size=4, num_epochs=1000)

​Best regards.
Jeff​

[2017-06-28 20:55] byett commented on #11123
That line works fine for me; however eval_input_fn isn't defined at all. Probably just needs to be:
eval_input_fn = tf.contrib.learn.io.numpy_input_fn(
    {"x":x_eval}, y_eval, batch_size=4, num_epochs=1000)

as it is in the previous example

[2017-06-28 21:05] mrry commented on #11071
The "slightly unusual" part is this line:

[code]

...which *should* work, but it might conflict with some of the assumptions in the `tf.train.SyncReplicasOptimizer` code.

I'd expect [this log statement](https://github.com/tensorflow/tensorflow/blob/9a4a736ae45a1cc88db472354c5129853ec9fb50/tensorflow/python/training/session_manager.py#L417) to provide useful information in the non-chief replicas.

[2017-06-28 21:06] eth-n commented on #9080
I'm just beginning to learn about MPS now. One thing I noticed in your above code is that you're running the same job twice concurrently with '&', but not limiting the space that each job can take on the GPU, as referenced here: https://www.tensorflow.org/tutorials/using_gpu#allowing_gpu_memory_growth. I'll be looking into this sort of use case as I learn more about MPS. :)

[2017-06-28 21:34] apockill commented on #11078
Hi guys, I was able to fix this with info from [this](https://github.com/tensorflow/models/pull/1610) thread. Hopefully this gets fixed in the next release, but it'll work for now.

[2017-06-28 23:34] asimshankar commented on #11015
Closing this as it's been fixed in https://github.com/tensorflow/tensorflow/pull/11094/commits/4cc35257f1f3613aae65a42b96e5ea5bba785f66

[2017-06-28 23:34] #11015 closed

[2017-06-28 23:37] mrry commented on #11016
This is definitely a bug. Thanks for catching it! I have a fix in the works.

[2017-06-28 23:57] wenkesj opened #11124 "[iOS] Bug: No OpKernel was registered to support Op 'LessEqual'"
### System information
Running OS `macOS Sierra` building for `iOS` specifically.
[code]

TensorFlow version `1.2.0`, installed through `pip`.

### Describe the problem

### Case: Build From Source (1.2.0)
Clone the tensorflow repository and build for `iOS`

[code]

Installs with no problem. Follow the [iOS example](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/ios#creat

[2017-06-29 00:38] sunxiaoben commented on #11102
@TrsNium
the BasicDecoder has a param output_layer, how can i using this?
decoder = BasicDecoder(..., output_layer=?)

[2017-06-29 00:42] #10699 closed

[2017-06-29 00:42] zo7 commented on #3628
I was recently able to freeze a graph using batch norm (via `tf.layers.batch_normalization`) and optimize it, although I had to use the [graph transform tool](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/README.md) to do the latter part and not the old optimization tool.

[2017-06-29 01:36] c810armyHuan commented on #11016
It seemed that the parameter `padded_shapes` for `tf.contrib.data.Dataset.padded_batch` can't be `dict` too.

[2017-06-29 02:03] cancan101 commented on #11085
See https://github.com/tensorflow/tensorflow/issues/7958

[2017-06-29 02:11] gogo40 commented on #10157
@drormeir I fixed this problem editing the file  Eigen/src/Core/util/MKL_support.h

I added the following code at line 116:

[code]

and in my CMakeLists I did:

[code]

This problem is a conflict between MKL_INT and BLAS index type.  In my case, the BLAS is using int as indices, and MKL_INT is a long long. I did this workaround and everything is working fine.

Also, I did a pull request in eigen

[2017-06-29 02:14] ColdCodeCool commented on #4680
@anbai106  Hey anbai106,   did you solve the problem "unsupported/Eigen/CXX11/Tensor" file not found on Mac? Recently I got the same error when building tf_camera_example, if you had fixed it, please let me know, my email is liyangsh48@gmail.com.

[2017-06-29 02:17] vanpersie32 commented on #8003
@MicaelCarvalho  hey, what if the output of tf.case is sent to conv2d which don't support for input with rank none. Does manually forcing the shape of output of tf.case work?

[2017-06-29 02:18] jakiechris opened #11126 "ios compile failed : checking whether the C compiler works... no"
pls help..

my config.log file:

This file contains any messages produced by compilers while
running configure, to aid debugging if configure makes a mistake.

It was created by Protocol Buffers configure 3.2.0, which was
generated by GNU Autoconf 2.69.  Invocation command line was

  $ ./configure --host=i386-apple-darwin14.0.0 --disable-shared --enable-cross-compile --with-protoc=/Users/jakie/te

[2017-06-29 02:19] jakiechris commented on #11126
control console outputs:

Making distclean in benchmarks
 rm -f generate-datasets cpp-benchmark
test -z "benchmarks.pb.cc benchmarks.pb.h benchmark_messages_proto3.pb.cc benchmark_messages_proto3.pb.h benchmark_messages_proto2.pb.cc benchmark_messages_proto2.pb.h protoc_middleman protoc_middleman2 dataset.*" || rm -f benchmarks.pb.cc benchmarks.pb.h benchmark_messages_proto3.pb.cc benchmark_messag

[2017-06-29 02:58] printdhruv commented on #11121
The default graph is a property of the current thread. `tf.reset_default_graph()` function applies only to the current thread. Calling this function while a tf.Session or tf.InteractiveSession is active will result in undefined behavior. Using any previously created tf.Operation or tf.Tensor objects after calling this function will result in undefined behavior.

[code]

[2017-06-29 03:00] #7531 closed

[2017-06-29 03:26] wj1066 commented on #2660
This Documentation [TensorFlow* Optimizations on Modern Intel® Architecture](https://software.intel.com/en-us/articles/tensorflow-optimizations-on-modern-intel-architecture), says "Data format: we suggest that users can specify the NCHW format for their specific neural network model to get maximum performance. TensorFlow default NHWC format is not the most efficient data layout for CPU and it resu

[2017-06-29 03:40] hellolovetiger commented on #11071
No, there is no "Waiting for model to be ready." info printed. Just "Start master session *** with config:" hang there over and over again.

[2017-06-29 04:19] tonyw opened #11127 "tf.contrib.keras modules can't Open HDFS file"
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:CentOS 7
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.1.0
- **Bazel version (if compiling from source)**:
- **CUDA/cuDNN version**:5.1.10

I use keras.preprocessing.image.ImageDataGenerator class,I invoke flow_from_directory function,when train_data_dir is a HDFS directory. t

[2017-06-29 04:52] zhangyaobit commented on #10730
@zheng-xq @yzhwang, could you or re-assign this to someone who is familiar with tf_cnn_benchmarks.py to take a look?

[2017-06-29 05:20] drormeir commented on #10157
Thanks!

[2017-06-29 05:28] TrsNium commented on #11102
Sorry, I don't know how to use that  param too.
According to BasicDecoder's code output_layer should be instance of tf.layersLayer.
https://github.com/tensorflow/tensorflow/blob/r1.2/tensorflow/contrib/seq2seq/python/ops/basic_decoder.py

[2017-06-29 05:33] TethysSun commented on #11073
@ribx I tried `python setup.py --help-commands` under the tmp directory, and got this:
[code]
I didn't found `bdist_wheel`.

My tensorflow is installed under `/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/tensorflow`
This means
[code]
is used for tensorflow, right? I tried install wheel with both `pip install wheel` and `pip3 install wheel`, but it shows wheel is al

[2017-06-29 05:59] qjivy commented on #10488
The same error seems happens on the quantized MobileNet_v1_1.0_224 too.
By reference this page:
https://github.com/tensorflow/models/tree/master/slim

**Using the following command line, I get the mobilenet_v1_224.pb.**

$ python export_inference_graph.py \
  --alsologtostderr \
  --model_name=mobilenet_v1 \
  --image_size=224 \
  --output_file=/tmp/mobilenet_v1_224.pb

**Then I use the following

[2017-06-29 06:02] jaydenso commented on #5343
sudo ldconfig /usr/local/cuda/lib64  works for me.

[2017-06-29 06:15] ckalas commented on #11078
I did this too, but for python 3 you need items() instead of iteritems(). Now it is complaining about not finding a model checkpoint

[2017-06-29 06:20] VadVor commented on #10808
I installed python 3.6 and Windows 8.1 x64.
I have similar issue with numpy:

ImportError:
Importing the multiarray numpy extension module failed.  Most
likely you are trying to import a failed build of numpy.
If you're working with a numpy git repo, try `git clean -xdf` (removes all
files not under version control).  Otherwise reinstall numpy.

Original error was: DLL load failed: The specified p

[2017-06-29 06:22] zjuxxd commented on #9201
I'm also have the same problem. Will be very happy if this could be supported.

[2017-06-29 07:39] mikowals commented on #11122
I encounter this also having built on MacOS.  I noticed that the error goes away if running in a  test block if that helps identify what is happening.

This code does not error:

    import tensorflow as tf

    class BugTest(tf.test.TestCase):
      def bug_test(self):

  	    with tf.Session() as sess:  #this can also use self.test_session()
		x1 = tf.random_normal(shape=[64, 64, 32, 32], seed=1

[2017-06-29 08:01] vanpersie32 commented on #4094
@matthiasreisser  hi, I have similar problem. I create a queue runner object and  add it to collection to the graph. It reports error enqueue_many  ops has been marked as not fetchable. So I change my code to  return the queuerunner object. It reports errors "Expected binary or unicode string, got <tensorflow.python.training.queue_runner_impl.QueueRunner". How did you solve the problem?

[2017-06-29 08:06] ehsanraei opened #11131 "how use tensorflow model in optimization model"
hi
i know how to save, restore and feed a tensorflow model but how can i use tf model in optimization model (like the genetic algorithm, python deep package). my problem is in transforming (convert) tf value to python. if I want to use

`python_variable=sess.run(tf_variable)`

or

`python_variable=tf_variable.eval()`

for each population (genetic run) I should initialize sess and .... this process

[2017-06-29 08:30] AnishShah commented on #10002
I think, this issue can be closed

[2017-06-29 08:40] ilya-biryukov commented on #11043
Please use `--config=cuda_clang` after configuring to build using clang. (I also think that using bazel build without `--config` flags should work too).
We should add a check for that and provide a helpful error message.

[2017-06-29 08:49] galeone opened #11132 "Go: SIGABRT when executing the same node more than once"
## Problem

In Go, when we pass the same node to the `fetches` list more then once SIGABRT is raised.

### Source code / logs

[code]

Here's the output:

[code]

The same logic,  in python, works without any issue:

[code]
outputs
[code]

as expected.

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform a

[2017-06-29 08:49] AnishShah commented on #9996
I'm not able to reproduce the error. This is what I did.

[code]

[2017-06-29 08:50] jakiechris commented on #11126
jakiedeMac:~ jakie$ /usr/bin/gcc -v
Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/usr/include/c++/4.2.1
Apple LLVM version 6.1.0 (clang-602.0.53) (based on LLVM 3.6.0svn)
Target: x86_64-apple-darwin14.0.0
Thread model: posix
jakiedeMac:~ jakie$ g++ -v
Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/

[2017-06-29 08:54] ilya-biryukov commented on #8394
You are right, it hard to fix without changes to bazel.

[2017-06-29 09:07] SarthakJShetty opened #11134 ""ImportError: No module named '_pywrap_tensorflow'" while trying to run TensorFlow"
`Traceback (most recent call last):
  File "c:\Python35-32\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 18, in swig_import_helper
    fp, pathname, description = imp.find_module('_pywrap_tensorflow', [dirname(__file__)])
  File "c:\Python35-32\lib\imp.py", line 296, in find_module
    raise ImportError(_ERR_MSG.format(name), name=name)
ImportError: No module named '_pywrap_tenso

[2017-06-29 09:07] suiyuan2009 commented on #11122
I meet this error when run [cnn benchmark](https://github.com/tensorflow/benchmarks/blob/master/scripts/tf_cnn_benchmarks/tf_cnn_benchmarks.py). I build tensorflow from source, enabled both gpu and xla, latest version is [this commit](cf18c6d384a96a53b448bd51a90c117af0ed7c96).

[2017-06-29 09:16] ilya-biryukov commented on #11043
The build currently also fails because of an error in `configure` script. The fix should be upstream soon, the workaround before it lands is to change the following lines of `.tf_configure.bazelrc` from:
[code]
to:
[code]
This should be done after running `configure`.

[2017-06-29 09:21] NatLun091238 opened #11135 "TF API r1.2 Keras TimeDistributed wrapper error"
import tensorflow.contrib.keras as K
model = K.models.Sequential()
model.add(K.layers.LSTM(150, batch_input_shape=(batch_size, n_in, encoded_length), stateful=True))
model.add(K.layers.RepeatVector(n_out))
model.add(K.layers.LSTM(150, return_sequences=True, stateful=True))
model.add(K.layers.TimeDistributed(K.layers.Dense(encoded_length, activation='softmax')))
model.compile(loss='categorical_cros

[2017-06-29 09:26] sitzikbs commented on #4897
Thank you for the reply.
 I think my followup question is more relevant in stack overflow so I posted there. If you get a chance I will really appreciate the help since no one answered it in a while. (The basic idea is that I wish to use the gradients of one layer as inputs to another layer - like Fisher Vectors but really can't)
Here is the link to my question there :
[](https://stackoverflow.com

[2017-06-29 09:28] wj1066 commented on #10406
I have the same error too, anyone has solutions?
@mstfldmr @mrsabhar @Paeans

[2017-06-29 09:30] shin-migami commented on #11113
Can i get assigned to this ?

[2017-06-29 09:32] ribx commented on #11073
@TethysSun: sounds for me like a problem with your environment. I am sorry, but I cannot help you with OSX.

Just in case, try to uninstall and reinstall wheel. Also check which python variable you used when you run "./configure". Maybe you want to change it to the python3 binary.

[2017-06-29 09:45] #11078 closed

[2017-06-29 09:45] jmugan commented on #10406
I think I ended up updating the compiler. It was one of those situations where I did a lot of stuff, and at the end, it wasn't clear what fixed it.

[2017-06-29 09:58] JulienSiems commented on #2514
@tpatel0409 @LucasMahieu @danijar Have you found an example of how to use tf.train.maybe_batch in the mean time? Or did you end up switching to the new dataset api?

[2017-06-29 09:59] sddi opened #11137 "wide_n_deep Tutorial example not working"
**cd** tensorflow/tensorflow/examples/learn/
**python** wide_n_deep_tutorial.py
## it shows that :
Traceback (most recent call last):
  File "wide_n_deep_tutorial.py", line 36, in <module>
    gender = tf.feature_column.categorical_column_with_vocabulary_list(
AttributeError: 'module' object has no attribute 'feature_column'
My tensorflow is '1.0.0-rc2', and do i need to upgrade?
thank you!

[2017-06-29 10:11] Randl commented on #11043
@ilya-biryukov Thanks, with those two fixes I managed to build Tensorflow

[2017-06-29 10:22] LucasMahieu commented on #2514
Personally I decided to use the "TF SLIM “ API juste before the 1.2 release : where the dataset API was introduced.
I don’t know the best solution right know.

[2017-06-29 10:34] AlbertXiebnu commented on #3853
@concretevitamin Does the indices in IndexSlices need to be sorted when apply gradients?

[2017-06-29 10:49] eugi24 commented on #10609
@Yc174 I ran into the same problem, did you manage to solve it?

[2017-06-29 11:07] Yc174 commented on #10609
@eugi24 I only had a solution to make the program carry on when meeting this problem. Methods as below  ：
`while iter < maxiter:
      try:
             Training subject
      except:
             continue
`

[2017-06-29 11:12] chandrakantkhandelwal commented on #9301
@rajnamitha Upgrade to r1.2, and you will not face this issue.  Also while using the transformed graph if you get following error in r1.2 :
tensorflow.python.framework.errors_impl.InvalidArgumentError: Retval[0] does not have value

Take off  'remove_nodes(op=Identity, op=CheckNumerics)' from the 'transforms' part, refer issue #1721

[2017-06-29 11:27] JulienSiems commented on #2514
@LucasMahieu Thank you for your quick response. Does the tf slim api provide any way of solving the problem? I am using tf slim as well but just for using predefined layers. I am currently looking into tf.train.maybe_batch and will post here if I come up with any example.

[2017-06-29 11:31] JulienSiems commented on #2514
Maybe @ebrevdo ? Since you suggested it. It would be great if you could post a snippet

[2017-06-29 11:36] eugi24 commented on #10609
@Yc174 Mmh ok, thank you anyway for giving me this idea :)

[2017-06-29 11:56] bensowden opened #11138 "Hang when fitting tensorflow learn model which contains crossed sparse_column_with_* columns and the data is loaded with pandas_input_fn"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Run on Databricks GPU cluster (Ubuntu 16.04.1 LTS)
- **TensorFlow installed from (source or binary)**: pip installed tensorflow-gpu
- **TensorFlow version (use command below)**: v1.2.0-rc2-21-g12f033d 1.2.0
-

[2017-06-29 12:08] terrytangyuan commented on #11137
Yes you need to upgrade

[2017-06-29 12:43] jubjamie commented on #11134
What happens when you follow the advice given at the end of the trace back?

[2017-06-29 12:43] hellolovetiger commented on #10449
@yangjunpro I recently implemented the distributed DL training method based on the paper you mentioned. Here is the details: #11071 .
But there are some problems with my implementation: the training loss decreases at the begining but will increases dramatically suddenly after the ps params do several updates.

[2017-06-29 12:45] jubjamie commented on #11131
_Warning: As this doesn't appear to be a bug with Tensorflow, the devs may ask for this to be moved to Stack Overflow._

It's not very clear what you're after here. You want to get values of tensors for what purpose? For training in something else? I think this is better asked on Stack Overflow. Good luck!

[2017-06-29 12:58] jakiechris commented on #11126
my mac os version is 10.10
there seems a solution that brew install apple-gcc42 , but faild on my osx:

jakiedeMac:~ jakie$ brew install apple-gcc42
Updating Homebrew...

apple-gcc42: This formula either does not compile or function as expected on macOS
versions newer than Mavericks due to an upstream incompatibility.
Error: An unsatisfied requirement failed this build.

[2017-06-29 13:02] SarthakJShetty commented on #11134
There's no change whatsoever. I've edited the parent branch and the error persists.

[2017-06-29 13:23] MicaelCarvalho commented on #8003
@vanpersie32 calling `your_tensor.set_shape(...)` should do it, assuming you know the expected shape of the tensor. That's exactly what the last line of code in my previous message does. :-)

[2017-06-29 14:15] laiyi55 opened #11139 "No module named '_pywrap_tensorflow_internal'"
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
D:\Users\laiyi\Anaconda3\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py in swig_import_helper()
     17         try:
---> 18             return importlib.import_module(mname)
     19         except ImportError:

D:\Users\laiyi\An

[2017-06-29 14:18] jubjamie commented on #11134
_Warning: As you've not filled in the required info above you may not get the support you're looking for from the devs. Perhaps this is an issue for Stack Overflow?_

Please can you submit the info that is required by the template when you file an issue. Without it, it is very hard to help further. You can find [the template here](https://github.com/tensorflow/tensorflow/blob/master/ISSUE_TEMPLATE

[2017-06-29 14:28] Frefreak commented on #11139
additional information: pytorch seems to [work](https://img.vim-cn.com/1a/2cd097681a938130249c2cd21cdda990101561.jpg) correctly

[2017-06-29 14:32] vanpersie32 commented on #4094
@mrry  hi mrry. I have encountered similar problem.  I add queue runner to collection using tf.train.add_queue_runner function  inside the conditional execution context. According to your reply , I should return the operations from true-branch and false-branch function. So I try to return the enqueue operations and the equeue from true-branch and false-branch function. But when I return the queue,

[2017-06-29 14:48] asimshankar commented on #11132
Thanks for the report, it certainly shouldn't fail with a SIGABRT.

(That said though, am curious about the use case for fetching the same value multiple times).

[2017-06-29 14:52] ehsanraei commented on #11131
yes, it's not a bug but maybe can be as feature request
i asked this question in stackoverflow and also find some similar question without even one answer. so i think i can ask here
about my question: i fitted tf model on some laboratory test (there is some variable like time and etc).
now i want to find the optimum value of each variable

[2017-06-29 14:53] rajnamitha commented on #9301
@chandrakantkhandelwal : I upgraded and tried but I still face same error:
[code]

However, I have already opened an issue but still no help w.r.t. accuracy of the results for the the solution provided in the following issue.
[https://github.com/tensorflow/tensorflow/issues/10739](url)

[2017-06-29 15:00] SarthakJShetty commented on #11134
Sorry for the irregularities, I've updated the details. Please let me know if anything else is missing

[2017-06-29 15:05] cryptox31 opened #11141 "Error while executing the imagenet_train model"
# bazel-bin/inception/imagenet_train --num_gpus=4 --batch_size=256 --train_dir=/tmp --data_dir=/root/kits/dataset
Traceback (most recent call last):
  File "/root/models/inception/bazel-bin/inception/imagenet_train.runfiles/inception/inception/imagenet_train.py", line 41, in <module>
    tf.app.run()
  File "/root/anaconda2/envs/tensor/lib/python3.6/site-packages/tensorflow/python/platform/app.py"

[2017-06-29 15:05] mrry commented on #11016
Thanks! That turned up when I was testing the fix.

[2017-06-29 15:06] laiyi55 commented on #11139
already solved problem， convert cudnn version from 6.0 to 5.1

[2017-06-29 15:06] #11139 closed

[2017-06-29 15:11] galeone commented on #11132
I was showing that in [`tfgo`](https://github.com/galeone/tfgo#getting-started) when one assign a go variable to another go variable it needs to "clone" it before the assignment in order to create a different and new node in the graph.
Otherwise the assignment only exists in Go but the underlying reference points to the same node in the graph.

(In short I was showing how to use `tf.assing` and no

[2017-06-29 15:23] ankitachandak commented on #11122
@mikowals are you running the test with bazel?

[2017-06-29 15:24] Thenerdstation commented on #11121
Right, but you don't need an active session or any previously created ops/tensors to cause the error. Just calling reset_default_graph within nested graphs causes a confusing error.

Just this:
[code]

Also breaks with the same error.
[code]

I think it would be better if it actually threw the AssertionError rather than break on an index error. I'll see if I can make a PR for the fix tonight.

[2017-06-29 15:26] kwotsin opened #11142 "Quantization causes some operations to be missing in the graph?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: 1.2.1
- **Bazel version (if compiling from source)**: 5.4
- **CUDA/cuDNN version**: 8.0.61,

[2017-06-29 15:34] NicolasAlmeida commented on #5780
I also get this output message:
"Converted 0 variables to const ops.
47 ops in the final graph."

[2017-06-29 15:47] mrry commented on #11121
For historical context, `tf.reset_default_graph()` was never designed to be used with `with g.as_default():` context managers. I think the proper fix here is to make `tf.reset_default_graph()` fail with an informative error message when used inside a `with g.as_default():` context. I think this could be done by checking that `ops._default_graph_stack` is empty before resetting.

[2017-06-29 16:12] girving commented on #10088
Transferring issue ownership.

[2017-06-29 16:13] girving commented on #9525
Transferring issue ownership.

[2017-06-29 16:17] joshua-xia commented on #11029
can you use whereis command? or find? In TSUBAME

[2017-06-29 16:33] jongsae opened #11143 "Parameter server of distributed Tensorflow computes unexpected training operations when using Estimator"
Hi, I am trying to use multi GPUs for the Google's seq2seq training (https://github.com/google/seq2seq) through distributed Tensorflow (data parallelism).

I launched a parameter server (PS) and three worker processes on a machine equipped with 4 GPUs.
I have each process (including PS) to run on separate GPU through the CUDA_VISIBLE_DEVICES.
I successfully trained the model faster than the single

[2017-06-29 16:45] chandrakantkhandelwal commented on #9301
@rajnamitha I am using python 2.7, so cannot comment about the behaviour in python 3.5

I think there is a way to verify if QuantizedAdd op is supported by your build!
In tensorflow/core/kernels:BUILD, look for the following part.

tf_kernel_library(
    name = "quantized_ops",
....)

If there is a "quantized_add_op.cc" is mentioned in it, then this op is supported by your build. And there should

[2017-06-29 16:53] #11143 closed

[2017-06-29 17:11] julj opened #11144 "MultiRNNCell cannot stack PhasedLSTMCell"
### System information
 **TensorFlow version (use command below)**: 1.2

### Describe the problem
tf.contrib.rnn.PhasedLSTMCell takes a tuple of tensors as inputs (time and features).

but the tf.nn.rnn_cell.MultiRNNCell reuse the output of a cell to feed the next one:

`cur_inp, new_state = cell(cur_inp, cur_state)`

### Source code / logs

Something like that works.

[https://github.com/tensorfl

[2017-06-29 17:22] wenkesj commented on #11124
This may be similar to #4863 but I think some light needs to be shed on it

[2017-06-29 17:44] rohan100jain commented on #9690
@alextp I believe we don't have an easy mechanism / process right now. All our swig wrapped stuff is in python/tensorflow.i and that is all core stuff.

I guess the only path forward would be to add a SWIG target like https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/BUILD#L2748 to someplace in contrib and expose it.

[2017-06-29 18:05] skye commented on #9690
Unfortunately creating a new SWIG target has its own pitfalls, namely that loading two SWIG libraries causes static initializers in TensorFlow to clobber each other (I went down this path once). I think all new SWIG files have to be added to https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tensorflow.i in core, but the new include could be in contrib.

[2017-06-29 18:07] aluo-x commented on #11096
This issue seems to be related to [88a6cde](https://github.com/tensorflow/tensorflow/commit/88a6cdeb5ee79765462932a611d4d16dd715007c) and a solution can be found at [#9470](https://github.com/tensorflow/tensorflow/issues/9470).

The error only occurs if you try to compile tf with CUDA support and AVX optimizations enabled.
Try removing

lines [109 to 114] from [reduction_ops_gpu.cu.cc](https://git

[2017-06-29 18:17] skye commented on #11043
Thanks for the update @Randl! I'm gonna close this, but @4l4l4l please reopen if Ilya's advice doesn't work for you. Thanks.

[2017-06-29 18:17] #11043 closed

[2017-06-29 18:24] skye commented on #11085
I'm gonna close this as a duplicate of #7958 (thanks @cancan101), please reopen if I'm mistaken.

[2017-06-29 18:31] skye commented on #11091
@alextp do you know why this might be?

@anishathalye is it possible to make a simpler repro script that you can share?

[2017-06-29 18:37] alextp commented on #11091
Can you use the tensorflow gradient checker to test the gradient of your particular graph? See https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/gradient_checker.py and usages of it in the tensorflow tests.

[2017-06-29 18:42] rohanag commented on #10408
has there been any progress on this issue? I have the exact same problem, and exact same error while calling clear_session. I'm using the latest keras and tensorflow version.

[2017-06-29 18:48] puckpuck85 opened #11147 "having problem to identify porn images -> especaly with penises (NO its not a joke!!!)"
i m running a website where a mass on photos are uploaded (upload without registration)... so i get aaaaa lot of penis-trolls or whatever makes them post their private parts... anyhow...

i tried to train inception model with tensorflow (newest version 1.x) - so i made a   folder with "penises" (approx 160 pics) and one with different images with person how dont show their penis (approx 160 pics).

[2017-06-29 18:55] nojvek commented on #10468
Thanks @gsabran.

Is that the official pip package source or just a clone. I see apple mentions it in their docs. https://developer.apple.com/machine-learning/

I do like that Apple just didn't invent their own crazy format but built it on protobuf.

As far as I'm aware keras can load from 'json + h5'.

[code]

This should be relatively straightforward to achieve right?

[2017-06-29 19:01] ankitachandak commented on #11122
@suiyuan2009 I think there's issue when we do it without GPU support. Have you tried that?

[2017-06-29 19:07] printdhruv commented on #11121
@mrry You are right. Many errors in tensorflow should be written in human friendly manner so that they don't have to research so hard for its cause.

[2017-06-29 19:08] skye commented on #11095
@petewarden can you comment or redirect? Thanks!

[2017-06-29 19:16] skye commented on #11099
@wolffg @hawkinsp this appears to be true, do either of you know who can fix this?

[2017-06-29 19:16] FFY00 commented on #7579
@achbogga sorry for the late answer but I think you need to rename the method from "tensorflow.contrib.learn.python.learn.learn_io.numpy_input_fn-" to "tensorflow.contrib.learn.io.numpy_input_fn"

[2017-06-29 19:20] CJMenart opened #11148 "TFDBG Crashing on Windows 10; 'Causality Violated in Timing Relations of Debug Dumps'"
I started using TensorFlow and wrote a simple Siamese neural net. I wrote a small script to test the network, and got NaNs for loss, so I decided to learn how to use tfgbd.

But when I run tfgbd, it crashes with the error 'Causality violated in timing relations of debug dumps: gradients/sub_1_grad/Shape_1 (1498762743063952): these input(s) are not satisfied: [('Sub_1', 0)]'

----------------------

[2017-06-29 19:21] skye commented on #11101
@ebrevdo @martinwicke what do you think?

[2017-06-29 19:24] skye commented on #11103
@fchollet can you comment?

[2017-06-29 19:25] skye commented on #11113
@ebrevdo @martinwicke can you comment?

[2017-06-29 19:30] skye commented on #11115
I think this makes sense. Would you be willing to create a patch for this?

[2017-06-29 19:31] jhseu commented on #10002
Yep

[2017-06-29 19:31] #10002 closed

[2017-06-29 19:36] skye commented on #11121
I agree we should fail with a more informative error message. @Thenerdstation @printdhruv would either of you be willing to create a PR for this?

[2017-06-29 19:47] cpgil commented on #7150
Hi,
I am using the latest tensorflow version (1.2.0 at this time) and I have been trying to quantize my model in order to use it in an Android application.

The steps I have followed are:
  - freeze_graph.py
  - bazel-bin/tensorflow/python/tools/optimize_for_inference
  - bazel-bin/tensorflow/tools/quantization/quantize_graph (eightbit)

I have used the prebuilt libraries (nightly Android build ar

[2017-06-29 19:54] joshua-xia commented on #9481
Path locale encoding problem, anybody still working on this issue?

[2017-06-29 20:06] fchollet commented on #11103
User error; in order to reuse a layer by name you should be giving it a name via the `name` argument:

[code]

Indeed, if you don't provide a name to your layer, TF has no way to know *which* layer you are referring to when specifying `reuse=True`.

[2017-06-29 20:06] #11103 closed

[2017-06-29 20:07] andrehentz commented on #7150
@cpgil Could you try using bazel-bin/tensorflow/tools/graph_transforms/transform_graph instead of quantize_graph?

[2017-06-29 20:12] bazinac commented on #7150
@cpgil I was probably solving same issue as you some time ago. Solution for me was using transform_graph as andre proposes (like this)

`bazel-bin/tensorflow/tools/graph_transforms/transform_graph \
--in_graph=/tmp/output.pb \
--out_graph=/tmp/manip.pb \
--inputs='Mul:0' \
--outputs='final_result_musoth,final_result' \
--transforms='
 add_default_attributes
 strip_unused_nodes(type=float, shape="1

[2017-06-29 20:26] 4l4l4l commented on #11043
@ilya-biryukov
what i did wrong?

`[eugeny@localhost tensorflow]$ bazel build -c opt --config=cuda_clang //tensorflow/cc:tutorials_example_trainer
ERROR: /home/eugeny/Git/tensorflow/tensorflow/cc/BUILD:474:13: Illegal ambiguous match on configurable attribute "copts" in //tensorflow/cc:tutorials_example_trainer:
@local_config_cuda//cuda:using_clang
@local_config_cuda//cuda:using_nvcc
Multiple matc

[2017-06-29 20:31] hectorlxm commented on #9481
I'll work on this

[2017-06-29 21:05] zhisbug commented on #11092
Any reply on this issue?

[2017-06-29 21:07] datainfer opened #11149 "Self-contained source code package of tensorflow"
Dear TensorFlow development team,
    Government regularization on medical software requires software to be compiled from fully controllable source code. Downloading from outside of the manufacture is not permitted. This literally implies that medical software should be able to compile without Internet connection. Currently, the bazel compilation procedure download from Internet. We post this requ

[2017-06-29 21:08] ahundt commented on #8787
Based on the discussion in [Keras Input Tensor API Design Proposal](https://docs.google.com/document/d/1tf2Nl7wor8rmWPUoxfClLuPLQGqvZryegD7K7-1tTe8/edit?usp=sharing) and https://github.com/fchollet/keras/pull/6928#issuecomment-312088200 implementation of https://github.com/tensorflow/tensorflow/issues/10837 will be required for the ideal API design that supports TFRecords (and any data input op) t

[2017-06-29 21:09] ahundt commented on #10837
Based on the discussion in [Keras Input Tensor API Design Proposal](https://docs.google.com/document/d/1tf2Nl7wor8rmWPUoxfClLuPLQGqvZryegD7K7-1tTe8/edit?usp=sharing) and https://github.com/fchollet/keras/pull/6928#issuecomment-312088200 implementation of this will be required for the ideal API design that supports TFRecords https://github.com/tensorflow/tensorflow/issues/10837 (and any data input

[2017-06-29 21:10] 4l4l4l commented on #11043
@ilya-biryukov my build in progress but i get next error

[code]

Where should i insert cuda-path flag?

[2017-06-29 21:18] printdhruv commented on #11121
@skye It would be so easy for author of that specific code do this. I don't have specific guidelines but let me see how can I approach this?

[2017-06-29 21:46] wenkesj commented on #11126
I had this problem as well!

I had `/usr/bin/gcc` symlinked to a `homebrew` installation `/usr/local/bin/gcc` which was `gcc4.9`. The `homebrew` distribution of `gcc` threw the same error you're getting.

I fixed this by unlinking the `brew` installation from `/usr/local/bin/gcc` and kept the `clang` that is originally installed on **macOS Sierra**  (`/usr/bin/gcc`).

[code]

**Note:** It may be n

[2017-06-29 21:48] wenkesj commented on #11126
@jakiechris As a precursor, ensure you have updated `xcode` tools from the `Terminal` or `App Store`.

[code]

[2017-06-29 21:59] ramanishka commented on #11122
Faced the same thing running cifar10 example from https://github.com/tensorflow/models.
Here is the snippet from @yaroslavvb, [link](https://gist.github.com/yaroslavvb/53052184e50cdfec35f0a127dd6df843)
[code]
gives:
[code]
After adding `with tf.device('/cpu')` it works:

[code]

[code]
Built from sources with XLA and CUDA, commit: 270a3e8886e352ad563a3431963296e3dc6dae06

[2017-06-29 22:10] xdumaine commented on #11147
This sounds like a really hard problem.

[2017-06-29 22:10] printdhruv commented on #11134
@SarthakJShetty Can you try to run the interpreter from a location other than the directory in which TensorFlow is installed?

[2017-06-29 22:19] alanyee commented on #10042
You are not having a problem. From the documentation,
[code]

That warning was unimportant, and it should have been removed via the current version of TensorFlow.

Though an actual problem with the code you posted was that it was missing
[code]

The TensorFlow documentations are in need for some updates. Too bad it is not open source for the community to fix.

[2017-06-29 22:22] raulpuric commented on #8820
@aselle Tensorflow is always lauded for it's portability. However, even if one was to use @viper7882's solution they'd still be constrained to using gpus, traditional cpus, and commonly used FPGAs with OpenCL vendor libraries. This is not true general portability.

Would it be possible to add a custom device feature/interface that allows us to add unique devices, treating the tensor forward and ba

[2017-06-29 22:25] dr4b commented on #10042
The documentation IS open source.  Please see this page for more information about contributing to TensorFlow's documentation: https://www.tensorflow.org/community/documentation

Non API reference documentation can be found here to edit: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/docs_src

[2017-06-29 22:29] bagueti opened #11151 "Train a classifier error tensorflow.python.framework.errors_impl.NotFoundError:"
I train my classifier, but when I'm going to rate an image this error appears:

root@e7bfbff82a10:/tf_files# python label_image.py new/maca/2Q==.jpg
Traceback (most recent call last):
  File "label_image.py", line 11, in <module>
    image_data = tf.gfile.FastGFile(image_path, 'rb').read()
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/lib/io/file_io.py", line 115, in read
    se

[2017-06-29 22:34] jviereck opened #11152 "Threading example at programmers_guide/threading_and_queues broken"
Dear TF folks,

I am trying to reproduce the example listed at [1],

[code]
When running this example, I cannot find the `threading.Thread` class (e.g. by searching for "Thread" in the API docs or `tf.threading.Thread`).

Am I missing something where? Is the example maybe broken?

Thanks!

\jv

## Setup

[code]

[1]: https://www.tensorflow.org/programmers_guide/threading_and_queues

[2017-06-29 22:36] yongtang commented on #6749
Added a PR #11153 with test cases.

[2017-06-29 22:49] alanyee commented on #10042
Thank you!

Anyway, I think this problem should be closed unless OP has any other questions or concerns.

[2017-06-29 23:01] puckpuck85 commented on #11147
hoho ;)

[2017-06-29 23:05] xdumaine commented on #11147
Hopefully you'll get some good tips from people in the community.

[2017-06-29 23:07] xdumaine commented on #11147
I mean tensorflow is really a head of the curve in solving this type of thing.

[2017-06-29 23:08] xdumaine commented on #11147
Just hoping we'll get a comment from the members of this  repo.

[2017-06-29 23:36] Thenerdstation commented on #11121
@skye Ill gladly make the PR tonight

[2017-06-29 23:45] skye commented on #11121
Great, thank you @Thenerdstation! I realize getting started with TensorFlow development is non-trivial, and  there are many small issues like this that collectively would take up a lot of the team's time, so we really appreciate external contributions!

As Derek said, you can detect if you're in a default graph context by checking if `_default_graph_stack` is empty. This will probably involve addi

[2017-06-29 23:46] skye commented on #11043
Thank you for sharing your solution @4l4l4l!

[2017-06-29 23:50] skye commented on #11123
@dr4b @wolffg

[2017-06-29 23:51] skye commented on #11127
@fchollet can you comment or redirect? Thanks!

[2017-06-29 23:54] skye commented on #11131
Unfortunately we don't answer usage questions here. Please file a new issue if you think of a specific feature that would help you do this.

[2017-06-29 23:54] #11131 closed

[2017-06-29 23:55] skye commented on #11135
@fchollet

[2017-06-29 23:58] alanyee opened #11155 "head.py still uses scalar_summary"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Sierra 10.12.5
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)**: 1.2.1
- **Bazel version (if compiling from source)**: N/A
- **CUDA/cuDNN version**: N/

[2017-06-29 23:58] skye commented on #11141
Did you mean to file this in https://github.com/tensorflow/models?

[2017-06-30 00:19] #3044 closed

[2017-06-30 00:23] puckpuck85 commented on #11147
hm, trying it again with 1000 pictures per category...

[2017-06-30 00:23] fchollet commented on #11135
`TimeDistributed` is available in `tf.contrib.keras.layers`: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/keras/api/keras/layers/__init__.py#L141

Can someone verify that this does in fact not work with the latest version? If it doesn't work, can someone who understands API exports in TF advise on what is wrong...

[2017-06-30 00:31] puckpuck85 commented on #11147
btw_ why does python classify_image.py does not classify humans?

[2017-06-30 00:32] TethysSun commented on #11073
@ribx thanks. I uninstalled python3 and removed tensorflow, then re-installed them again. It worked.

[2017-06-30 00:37] puckpuck85 commented on #11147
even with 1000 per category it totally fails on this task

[2017-06-30 00:38] xdumaine commented on #11147
Growing your sample size should definitely help.

[2017-06-30 00:39] xdumaine commented on #11147
It should only be a concern if it makes your script run for more than four hours.

[2017-06-30 00:40] jolee3299 commented on #11065
Hi
Did you solve the problem of installing TensorFlow on Windows 10 for Python 3.5 64 bit?
I got exactly same problem like you.
Can advise me to solve hat problem with your experience?
I am teaching java in school but novice user in Python and Deep learning. Now I am studying those.
So please guide me detailly how to solve tensorflow installing problems in Windows.
Thiank you

[2017-06-30 00:42] xdumaine commented on #11147
Fuzziness could be a problem, try to make sure your sample images are smooth.

[2017-06-30 00:43] xdumaine commented on #11147
Also try softer backgrounds to make sure the subject really pops.

[2017-06-30 00:44] xdumaine commented on #11147
#humblebrag

[2017-06-30 00:48] xdumaine commented on #11147
Sorry, I'm really just unloading my ideas here.

[2017-06-30 00:48] printdhruv commented on #11065
Hi,
      Yes, It works. Please follow this thread and this link  : [Windows_10 install](https://stackoverflow.com/questions/42011070/on-windows-running-import-tensorflow-generates-no-module-named-pywrap-tenso)

[2017-06-30 00:54] xdumaine commented on #11147
Are your sample images too similar? You have to make sure there's enough deferens between them to train the script.

[2017-06-30 00:56] xdumaine commented on #11147
If you get stuck though, don't be afraid to pull-out the big guns and use Watson instead.

[2017-06-30 01:00] xdumaine commented on #11147
Gotta head to bed. I'll get up in the morning and see if you've whipped out a solution.

[2017-06-30 01:03] Dim25 commented on #11147
@puckpuck85 i've a working solution for this problem. give me your email will be happy to share some insights. sorry can't upload it publicly.

[2017-06-30 01:38] mattfeel opened #11157 "TypeError: can't pickle _thread.lock objects"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-06-30 01:42] saeta commented on #11081
Hi @nfergu,

You're exactly on the right track with regards to what the issue is. The GrpcChannelCache needs the actual ports of the TF servers in order to correctly connect. The way to do this is by using [ClusterSpec propagation](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/client/session_clusterspec_prop_test.py#L56) a new feature in TF 1.2.

Your script would look lik

[2017-06-30 01:42] #11081 closed

[2017-06-30 02:05] txye commented on #9401
I met the same problem. How to solve it?

[2017-06-30 02:12] printdhruv commented on #11155
Hi,
         You are right! I have created a pull request in order to change `tf.summary.scalar`  which you can modify locally if you want to get rid of the error. Have a look to proposed file changes in `File changed tab` [https://github.com/tensorflow/tensorflow/pull/11159](https://github.com/tensorflow/tensorflow/pull/11159)

[2017-06-30 02:15] Arvinds-ds opened #11160 "High variance in training convergence between keras (with tf backend) and tf.contrib.keras"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
1.2
- **Python version**:
3.6

### Describe the problem
I started to move my keras (Keras 2.

[2017-06-30 02:18] printdhruv commented on #11121
@skye Let me try in your direction. I am enjoying this work!

[2017-06-30 02:43] sddi commented on #11137
Hi, @terrytangyuan ,  after upgrade the tf, I got another problem while running wide_n_deep_tutorial.py, they say that:
  File "wide_n_deep_tutorial.py", line 149, in
    m = tf.estimator.DNNLinearCombinedClassifier(
AttributeError: 'module' object has no attribute 'DNNLinearCombinedClassifier'

[2017-06-30 02:58] terrytangyuan commented on #11137
A lot of changes have been merged in today. I think it should work once you try the new nightly build tomorrow or so.

[2017-06-30 03:22] sddi commented on #11137
ok, tomorrow i will try the newest~~~ :D

[2017-06-30 03:42] gsabran commented on #10468
@nojvek it's just a clone since there's no official source on github to my knowledge

[2017-06-30 03:43] lissyx commented on #9697
I could reproduce that cross-compiling for ARMv6 on Debian Sid, both with the GCC 4.9.3 toolchain provided for RPi and with GCC6 ARM cross-compiler. Switching `eigen_archive` to https://bitbucket.org/eigen/eigen/commits/d781c1de9834/ did help, as suggested by @lime45. At least, it builds a shared object.

This was on master, https://github.com/tensorflow/tensorflow/commit/2e68836850b3cea3a67bba3ab

[2017-06-30 03:51] dgaddy opened #11162 "Rank mismatch error when using contrib.seq2seq.AttentionWrapper in a dynamic_rnn with sequence_length"
### System information
Linux Ubuntu 16.04
TensorFlow installed from pip binary
TensorFlow version 1.2.0 (v1.2.0-rc2-21-g12f033d)
Python 3.6.1 Anaconda 4.4.0
CUDA 8.0 / cuDNN 5.1
TITAN X (Pascal) 11.9GB

### Describe the problem

Error: `Shapes must be equal rank, but are 0 and 1 for 'rnn/while/Select_4' (op: 'Select') with input shapes: [10], [], [].` when using `tf.contrib.seq2seq.AttentionWrappe

[2017-06-30 04:00] abenmao opened #11163 "Expected one attr with name u'T' in name: "swap_out_d_0""
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: r1.2
- **Python version**: 2.7
- **Bazel version (if compiling from source)**: 0.4.5
- **CUDA/cuD

[2017-06-30 04:05] rylanchiu commented on #2471
HI @daeyun, i have met the same problem. But I didn't define any `tf.train.Server` object. And my code is like `sess = sv.prepare_or_wait_for_session(config=tf.ConfigProto(gpu_options=gpu_options))` directly. So where should I pass the `config` object to??? Thanks!

[2017-06-30 04:06] rylanchiu commented on #3057
@mrry What if I didn't define any `tf.train.Server` object? And my code is sth like sess = sv.prepare_or_wait_for_session(config=tf.ConfigProto(gpu_options=gpu_options)). So where should I pass the config object to? TIA!

[2017-06-30 04:19] vade commented on #11147
Maybe https://github.com/yahoo/open_nsfw is helpful?

[2017-06-30 04:19] panmari opened #11164 "Expose reader.read_up_to in slim parallel reader"
When reading small records (in my case, one example is a a floatlist of about 150 floats), the DataSetProvider from slim is very slow. I found out that things get much faster if I write a custom input pipeline that leverages reader.read_up_to

[code]
the returned value is then fed to `tf.train.shuffle_batch` with enqueue_many set to true.

As far as I understand, this behavior is currently not exp

[2017-06-30 04:37] amadupu commented on #2354
I have taken some inputs from the above suggestions, however facing some issue which I posted on https://stackoverflow.com/questions/44838356/paddingfifoqueue-enqueue-many-throwing-value-error-shapes-must-be-equal-rank

pls let me know if anyone has some clue on what is that I'm doing wrong

[2017-06-30 04:47] adanaila commented on #10852
This was likely a hardware issue. Replacing the 1080Ti with an identical card, resolves the issue all software staying the same.

The issue can be closed. Many thanks for your time!

[2017-06-30 04:47] #10852 closed

[2017-06-30 05:20] akssri opened #11165 "[feature-request] Multi-arity elems in fold{l,r}"
The functions ```fold{l,r}``` that are part of ```tensorflow.python.ops.functional_ops``` currently only allow single-arity arguments for ```elems```. This makes it inconvenient for writing operations that involve dynamic concatenation of tensors differing in the dimension along a particular axis without padding (this also means one can't use ```tf.map_fn``` for accomplishing this task).

This sce

[2017-06-30 07:09] sandipmgiri commented on #10450
Community accepted the changes and merged in master (relevant PR #10522 and merged commit d0d2308). Hence closing this this as resolved.

[2017-06-30 07:10] #10450 closed

[2017-06-30 07:15] sandipmgiri commented on #9360
Community accepted the changes and merged in master (relevant PR #10522 and merged commit d0d2308). Hence closing this issue as resolved.

[2017-06-30 07:15] #9360 closed

[2017-06-30 07:26] YMMS commented on #1045
@jiqiujia I found the same issue, when I used:
[code]
but when I tried:
[code]
it works!

Is there any bugs about function 'tf.group'? @yaroslavvb

My ENV is Python 3.5.3, CPU, tf-1.1.0

[2017-06-30 07:28] korrawat commented on #10463
@petewarden So should the code comments about dependencies be removed as well?
[code]

[2017-06-30 08:09] NatLun091238 commented on #11135
It works perfectly alright in Python 3.5 and TF (version 1.0.1) and Keras 2.0.1

[2017-06-30 08:16] mikowals commented on #11122
Forcing ops on the CPU seems to be a workaround for my reproduction also on a CPU only build.

@ankitachandak I am not testing with bazel, just running with python.

This code works:

    import tensorflow as tf
    with tf.device('/cpu'):
        x1 = tf.random_normal(shape=[64, 64, 32, 32], seed=1.)

    with tf.Session() as sess:
        res = sess.run(x)

[2017-06-30 08:21] sandipmgiri commented on #9216
This issue resolved in PR #10522 (merged commit d0d2308)

[2017-06-30 08:28] albertz opened #11168 "LSTMBlockCell variable names changed - old checkpoints cannot be restored"
In TF 1.1 and earlier, bias and weights had the variable names `"biases"` and `"weights"` in the `LSTMBlockCell`.

Since TF 1.2, they have the variable names `"bias"` and `"kernel"`.

Why was that changed? It makes all checkpoint files incompatible, but for no real reason.

[2017-06-30 08:32] ppplinday opened #11169 "How to run the program coding by python in the Android phone?"
I already wrote a pretrain vgg16 on my computer(python, Linux), now I want to run this program using my android phone`s CPU/GPU, the outcome could show in terminal. However, I cannot find any hint in this situation, so I want some hint and hope you can update the Readme.

[2017-06-30 08:48] suiyuan2009 commented on #11122
@ankitachandak , I didn't try cpu version, our training data is very large.

[2017-06-30 08:57] rajnamitha commented on #9301
@chandrakantkhandelwal : I have tried installing tensorflow from source code as mentioned in my issue (10739). In that I don't face QuantizedAdd during the import model step. Whereas, it throws error during inference when I quantize the model using "Graph_transform" tool. I was told to modify quantize node option to quantize_nodes(fallback_min=-10, fallback_max=10). Which again provides 0 accuracy

[2017-06-30 09:39] jubjamie commented on #11169
_Warning: As this doesn't appear to be a bug with Tensorflow, the devs may ask for this to be moved to Stack Overflow._

You'll want to use the android libraries to then use the JAVA API.
Android Libraries: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/android
Java API Info: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/java/README.md

You can also see t

[2017-06-30 09:52] jubjamie commented on #11147
_Warning: As this doesn't appear to be a bug with Tensorflow, the devs may ask for this to be moved to Stack Overflow._

@vade has posted a good answer for Caffe. Shoutout to @xdumaine for filling the issue tracker with unfunny comments instead of actually helping.

@puckpuck85 You have a couple of ways of attacking this. Your current method of classifying between different image classes has poten

[2017-06-30 09:58] cpgil commented on #7150
@andrehentz, @bazinac I used `bazel-bin/tensorflow/tools/graph_transforms/transform_graph` as proposed but this didn't help since the output continued to be much greater than expected.

I then played a little with the transformations until I used my already optimized model (optmize_for_inference) and only `--transforms='quantize_weights'`and this worked. All other combinations corrupted my graph a

[2017-06-30 10:08] ppplinday commented on #11169
@jubjamie sorry about that and thank you!

[2017-06-30 10:08] #11169 closed

[2017-06-30 10:09] xdumaine commented on #11147
@jubjamie I made jokes because this is clearly a troll issue. It's a brand new account with 0 activity who's profile picture is [a meme](http://knowyourmeme.com/memes/hide-the-pain-harold). He got you and others to spend time on a fake issue about dick pics. Congrats. You've been bamboozled.

[2017-06-30 10:45] albertz commented on #10761
I implemented that with existing TF operations, see [here](https://github.com/rwth-i6/returnn/blob/master/TFUtil.py) `circular_pad`.

[2017-06-30 10:51] KiddoThe2B commented on #10215
It seems that BI-LSTM-CRF are performing in SOTA levels for sequence labelling tasks for almost 2 years. It would be nice to have this functionality supported in Keras 2.

- "Neural Architectures for Named Entity Recognition" (https://arxiv.org/pdf/1603.01360.pdf)
- "End-to-end Sequence Labeling via Bi-directional LSTM-CNNs-CRF" (http://www.aclweb.org/anthology/P16-1101)

[2017-06-30 10:57] cournape commented on #5522
FWIW, I have seen similar issues w/ a custom built bazel 0.5.1 on Rhel 6, and the issue was a dangling bazel process. If I make sure no bazel process is alive before I do configure, the issue goes away. Unfortunately, doing configure seems to always keep one dangling bazel process :(

Platforms details:

* rhel 6.5 on x86_64
* bazel 0.5.1 built against rhel 6's openjdk 1.8.0
* configure run as fol

[2017-06-30 11:24] MarvinTeichmann opened #11171 "[Feature] Node mirroring for GPU-memory reduction"
In the paper [Training Deep Nets with Sublinear Memory Cost](https://arxiv.org/abs/1604.06174) Chen et al. introduced a very good idea to greatly reduce GPU memory requirements.

The idea bowls down to discarding the output of some nodes during the forward pass and recompute those values when they are needed again in the backward pass. Only the output of some key ops is kept in memory. During back

[2017-06-30 11:47] jubjamie commented on #11147
@xdumaine fair enough. It's not a brand new account and has activity in the area over the last few months. It's still an interesting question and I don't really regret using my saved replies and 2 minutes to reply to it haha. Regardless of context it's still an issue that's seen a number of times both on this issue tracker and stack overflow. I'd rather help someone that might need it than spam th

[2017-06-30 11:48] albertz commented on #10800
Only #3287 is related (the others don't use `tf.cond`). There you get a more detailed answer. Short answer: The creation of all the operations which should be executed lazily must be done inside the function call. In your case, you create them and inside the function call just refer to them.

This is not a bug what you see, you are using it wrong. Maybe the documentation in TF could be improved.

[2017-06-30 11:48] jubjamie commented on #11169
I've spotted your issue on Stack Overflow. Hopefully you'll get more help there and can go from the above links. Good luck in your project!

[2017-06-30 11:50] MarvinTeichmann commented on #11149
+1 for me. There are many reasonable situations when it is not desired and/or feasible to download additional packages at compile time.

[2017-06-30 11:58] 3rd3 commented on #10800
Thank you. I guess this solves my problem. Still, wouldn't it be possible to statically analyze the dependencies of a `tf.cond` nodes? I mean aren't such optimizations that the advantage of defining computations symbolically/declaratively in TensorFlow?

[2017-06-30 11:59] Hrant-Khachatrian commented on #7927
Thanks a lot for this implementation.

We can't use it for variable length inputs though. What should be given as an `input_size` ? `input_size=tf.TensorShape([100, None, 200])` gives an error:

`TypeError: Tensors in list passed to 'values' of 'ConcatV2' Op have types [int32, <NOT CONVERTIBLE TO TENSOR>] that don't all match.`

[2017-06-30 12:26] dnecho commented on #9794
i have the same quesion. is there someone can help us?

[2017-06-30 12:29] albertz commented on #10800
It's this way because TF was designed to be this way. It certainly could have been different, if dependencies of ops would be handled different in TF. But right now, when an op is going to be evaluated, all tensors which go into it must also be evaluated.

Note that it is quite interesting to check out the code of `tf.cond`. Internally, `tf.cond` is implemented via `switch`/`merge` and control flo

[2017-06-30 12:40] TimZaman commented on #10837
The graph is an append-only data structure. You could hack it up with tf.contrib.graph_editor.

[2017-06-30 12:49] andreas-eberle commented on #10155
@honkentuber: Thanks for your response and sorry for my delay!

How exactly would I use `init_from_checkpoint` in the `model_fn`? And how would I test if this is the first run of my model (which is when I want to load the checkpoint from elsewhere) and when I continue training in the same folder (then I'd like to use the normal checkpoint loading). Can you outline a small example?

[2017-06-30 13:20] cancan101 commented on #11085
The title of that issue is: "Support MPSCNN (MetalPerformanceShaders) on iOS".

[2017-06-30 13:39] jakiechris commented on #11126
@wenkesj
Hi Sam：
      thks 4 reply

      problem solved~  i used osx 10.10 and a low version of xcode, which cannot work well.

      solution:
      1. osx 10.12 on vmware 12
      2. xcode 8.3.2
      3. CommandLineToolsforXcode8.3.2.dmg

[2017-06-30 13:42] wenkesj commented on #11126
@jakiechris good to hear!

[2017-06-30 13:47] WYF-Learning commented on #11135
I have the same problem in TF r1.2 and Python 3.5. If I try to use tf.contrib.keras.layers.TimeDistributed, the same error happens. But if I add the code
`from tensorflow.contrib.keras.python.keras.layers.wrappers import TimeDistributed`
I can use TimeDistributed.

When I use TimeDistributed, I meet another trouble.
`from tensorflow.contrib.keras import layers as KL`
`x = KL.Input(batch_shape=[1,5

[2017-06-30 14:05] mdeff commented on #11082
I just opened PR #11174 and preferred @spinnau's second option because it's "easier to ask for forgiveness than permission".

[2017-06-30 14:10] #11082 closed

[2017-06-30 15:15] yaroslavvb commented on #1045
@YMMS the difference is that `tf.group` runs things in arbitrary order, so it can run global variables initializer before local variables initializer

[2017-06-30 15:15] nfergu commented on #11081
Great, thanks @saeta

[2017-06-30 15:23] paulswtang commented on #11102
I think the issue is that `tf.contrib.seq2seq.BasicDecoder` expects an instance of `layers.Dense`, which is an internal class used in `tf.layers.dense`:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/layers/core.py#L41

This can be seen in the tests for `BasicDecoder`:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/seq2seq/python/kernel_tests/basic_

[2017-06-30 15:24] elbaro opened #11178 "Inconsistent losses for Keras"
TF 1.2.0, Python 3.5.

## TF Official Keras
[code]

## Pure Keras
[code]

There are many `sparse_softmax_cross_entropy` but they all have different APIs. Some are compatible with `tf.contrib.keras.models.Model.compile()` and  the others are not because of `_sentinel` and different order of `output` and `target`.

Interestingly both the original TF and Keras use (target, output) and only `tf.contri

[2017-06-30 15:27] nishaskinner commented on #9952
@lirchi @skye
Were you able to load the graph and run the session in c++?
Once you serialize a tensorflow::Example as a string, how do you pass it to session->Run(..)
I can't find any documentation on this, or any answered stack overflow posts.

I've posted on stack overflow as well:
https://stackoverflow.com/questions/44790456/how-to-feed-inputs-into-a-loaded-tensorflow-model-using-c
https://stac

[2017-06-30 15:29] ebrevdo commented on #7927
Have you tried tf.shape(inputs)[1:]?  I think that may work.

On Jun 30, 2017 4:59 AM, "Hrant Khachatrian" <notifications@github.com>
wrote:

[2017-06-30 15:30] jinfagang commented on #6996
@jihopark Also looking a tour on tf1.2 seq2seq API.

[2017-06-30 15:35] puckpuck85 commented on #11147
i'm not trolling at all - caffe with yahoo NSFW works pretty well, but fails sometimes when it comes to close up shots from the penis.

but, i guess, it will filter 90 % - i will take this route and the rest has to be done by user reporting unwanted pics.... when it works good enough for yahoo - i'm fine.

thread can be closed - i will start the next on stackoverflow. thx all for your help so far.

[2017-06-30 15:35] #11147 closed

[2017-06-30 15:37] wenhan-wu opened #11180 "Cannot build TensorFlow on macOS 10.12"
When I trying to build TensorFlow with avx, avx2, fma, sse4,1 sse4,2, it shown that
[code]
clang doesn't support sse4.1 and sse4.2?
And I can not change the bazel compiler to gcc anyway

[2017-06-30 15:38] puckpuck85 commented on #11147
@Dim25 please write me the email to -> puckpuck85@flymail24.com

:)

[2017-06-30 15:48] yaroslavvb commented on #10800
@3rd3 it's possible to do this by modifying the graph on the client level. Lazy evaluation is implemented using `switch/merge` statements, and `tf.cond` inserts those statements around the tensors created in `tf.cond` call. If you want to add laziness to tensors that have already been created, you can use `graph_editor` to modify the graph with the proper structure.

For instance, here's an exampl

[2017-06-30 15:57] korrawat opened #11181 "The 2015 Inception checkpoint gives incorrect results"
### Problems
- The 2015 Inception checkpoint file called `classify_image_graph_def.pb`, which can be found in [`inception-2015-12-05.tgz`](http://download.tensorflow.org/models/image/imagenet/inception-2015-12-05.tgz), gives weird results.
- The [tutorial on quantization](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/performance/quantization.md#how-can-you-quantize-your-

[2017-06-30 16:09] kwotsin opened #11182 "Quantize weights causes accuracy to plunge when run in mobile but not in computers?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: 1.2.1
- **Python version**:
- **Bazel version (if compiling from source)**:
- **CUDA/cuDNN

[2017-06-30 16:20] ilya-biryukov commented on #11043
@4l4l4l, the configure script is not very good at figuring out cuda install paths other than `/usr/local/cuda`. And it should also probably do some sanity-checking (i.e. at least check that the cuda folder exists).

Anyway, glad you figured it out.

[2017-06-30 16:31] 3rd3 commented on #10800
@yaroslavvb Thanks, very interesting gist. Wouldn't it make sense to make these kinds of optimizations part of TensorFlow?

[2017-06-30 16:43] RFHO-BDSS commented on #10766
Wow! Just when I thought I was stuck I find there's a solution already on the way. Nice work :D
At least it looks like the same issue with gradient back propagation, as here on [paste bin](https://pastebin.com/M4suZ68K)

How is it coming along?

[2017-06-30 16:46] supriyalk opened #11183 "ConnectionError: HTTPSConnectionPool(host='storage.googleapis.com', port=443): Max retries exceeded with url: /tensorflow/linux/gpu/tensorflow_gpu-1.2.1-cp27-none-linux_x86_64.whl (Caused by <class 'socket.error'>: [Errno 101] Network is unreachable)"
I have downloaded and removed Tensorflow a few times in order to try and fix a problems with my numpy package. I now get the error above when I try and download tensorflow. Is there a max amount of times I can download it, is that why I am getting this error?

Here is the traceback:
Exception:
Traceback (most recent call last):
  File "/home/slkapur/tensorflow/local/lib/python2.7/site-packages/pip

[2017-06-30 17:01] ntvy95 commented on #8043
Hello... @honkentuber

Tensorflow version: 1.2.1
Anaconda version: 1.6.3
OS: Windows 8.1 Pro

I also run into the same problem with DNNClassifer:

* Logging error:

* ValueError:

I have fixed according to your instruction but later I get this error (which I believe this is due to the fact that 'sample_weight' was forced to the shape(60480,1)):

What should I do now?

Thank you very much in advanc

[2017-06-30 17:05] yaroslavvb commented on #10800
@3rd3

Note that reason for current semantics is that it matches what you would expect from other programming languages:

IE consider

[code]
vs

[code]

Like in your case with `tf.cond`, computation `a` is getting evaluated despite `if` being lazy. The way to make it truely lazy both in Python and TensorFlow case, is to move the actual computation inside `if`.

Changing existing `tf.cond` to work

[2017-06-30 17:17] ali01 commented on #11028
What article are you referring to?

[2017-06-30 17:22] ali01 commented on #10982
This may be due to lack of python3 support. @tfboyd, care to take a look?

[2017-06-30 17:24] vade opened #11184 "TF Slim scripts iterate invisible files, don't appear to handle paths with spaces?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 10.12
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.2 release (tagged from git)
- **Python version**: system 2.7 from Mac OS X 10.12
- **Baze

[2017-06-30 17:25] AndreJFBico commented on #5237
Im having a similar issue with either release 1.2.1, 1.2 or 1.1

[code]

[2017-06-30 17:28] vade commented on #11184
Oh, to be clear, I have a volume named "Media Archives" which contains a folder with custom set of TFRecords and a TFDataset.

Scripts appear to work if I rename the folder and volume to not have spaces.

[2017-06-30 17:29] ali01 commented on #10950
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-06-30 17:31] ali01 commented on #10888
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-30 17:31] #10888 closed

[2017-06-30 17:32] ali01 commented on #10872
This is a question better asked on the tensorboard repository:
https://github.com/tensorflow/tensorboard/issues

[2017-06-30 17:32] #10872 closed

[2017-06-30 17:36] ali01 commented on #10870
@jart, thoughts about this?

[2017-06-30 17:44] ali01 commented on #10862
@ebrevdo, could you take a quick look?

[2017-06-30 17:46] danijar opened #11186 "tf.copy() as alternative to tf.identity()"
`tf.identity(tensor)` does or does not create a copy of the tensor based on whether it's on the same device. This can lead to bugs that are hard to find. The current way of ensuring a copy is to perform an arithmetic/logic operation that doesn't change the value, such as `tensor + 0`, `1 * tensor`, or `tf.equal(tensor, True)`. Needless to say, this makes code hard to read. Moreover, different trea

[2017-06-30 17:48] ali01 commented on #10860
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-30 17:48] #10860 closed

[2017-06-30 17:49] ali01 commented on #10856
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-30 17:49] #10856 closed

[2017-06-30 17:51] #10854 closed

[2017-06-30 17:51] ebrevdo commented on #10862
The output type of a MultiRnnCell is always a tuple.  It may be a tuple with one element... a LSTMStateTuple.  This is intended behavior.

[2017-06-30 17:54] ali01 commented on #10844
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-30 17:54] #10844 closed

[2017-06-30 17:55] BilboSwagginz commented on #11085
Oh sorry I don't fully understand how GitHub works, when I tried referencing #7958 it didn't turn blue like other references but I can see it did now.
But what I tried to explain is that I don't think my is a duplicate of #7958 as that is asking for Metal support in iOS I am asking for Metal support in macOS

[2017-06-30 17:57] vade opened #11187 "TF Slim - allow soft placement for devices with train_image_classifier"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 10.12.5
- **TensorFlow installed from (source or binary)**:source
- **TensorFlow version (use command below)**: git tag 1.2
- **Python version**: 2.7 system install
- **Bazel version (if compiling from s

[2017-06-30 18:07] ali01 commented on #10804
@Zongheng, could you take a look?

[2017-06-30 18:11] #10800 closed

[2017-06-30 18:12] tfboyd commented on #10982
I will take a look.  I have doubts python3 matters.

[2017-06-30 18:13] ali01 commented on #10672
@prb12, any thoughts on this?

[2017-06-30 18:16] ali01 commented on #10054
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-30 18:16] #10054 closed

[2017-06-30 18:22] ali01 commented on #7970
@mrry, thoughts about this?

[2017-06-30 18:25] CJMenart opened #11189 "On Network with Shared Weights, Optimizer.minimize has no effect"
I have a simple siamese network--a network with two branches that share weights--and a script to train it on some very simple data. The loss and gradients are both non-zero, but executing an optimizer.minimize(loss) operation has no effect on the weights. Executing it in two steps with compute_gradients and apply_gradients also has no effect.

I have tried multiple optimizers and settings, and exp

[2017-06-30 18:26] ali01 commented on #11182
Could you please provide us with all available information about the mobile architecture/platform you're targeting?

[2017-06-30 18:26] ali01 commented on #11180
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-06-30 18:32] ali01 commented on #11036
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-06-30 18:35] ali01 commented on #11126
Glad this was resolved!

[2017-06-30 18:35] #11126 closed

[2017-06-30 18:37] cancan101 commented on #11085
I think the other ticket can just be expanded to encompass Mac os

[2017-06-30 18:39] ali01 commented on #11124
@petewarden, could you confirm that the underlying cause of this problem is the same as that for #4863 so that  we can dedup? Thank you!

[2017-06-30 18:41] ali01 commented on #11122
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-06-30 18:43] ali01 commented on #11102
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-30 19:19] alexwal commented on #2514
Also curious and will be reading through TF Slim data API today. I will post if I come across a solution.

[2017-06-30 19:21] kwotsin commented on #11182
Oh yes indeed I'm working on an android LG G3 phone that's running ARM architecture I believe.

[2017-06-30 19:26] 3rd3 commented on #10800
I am wondering why you use imperative semantics here when static analysis and optimization is exactly the strong suit of declarative programming.

It also seems that TensorFlow is already lazy in some regards because in the following case `y` is not computed since it is not queried.

    x = tf.no_op()
    y = tf.no_op()
    sess.run(x)

Query laziness, but no branching laziness? This seems to me

[2017-06-30 19:29] ramanishka commented on #11122
@suiyuan2009 No need to "try cpu version". The snippet @mikowals provided works fine without the explicit specification of the device if gpus are available. But if they are not available for some reason (e.g. CUDA_VISIBLE_DEVICES='') - the code requires such explicit specification. Interesting, that this breaks cifar10 code.

[code]
[code]

Without explicit device specification, example.py:
[code]

[2017-06-30 19:58] #11016 closed

[2017-06-30 20:11] ali01 commented on #11178
Thanks for reaching out!

cc: @martinwicke

[2017-06-30 20:30] jmchen-g commented on #7970
The device setter issue should have already been fixed in the latest branch. When did you pull?

[2017-06-30 20:32] paulswtang commented on #11102
Are there any future plans to change the API of `tf.contrib.seq2seq.BasicDecoder` to accept a callable in the `output_layer` field instead of a `Dense` layer?

It seems kind of unwieldy to restrict the parameter to instances of a class that is inaccessible from the Python API, which is probably what most people are using. (Unless I'm wrong about that, but it doesn't seem to appear in the docs for

[2017-06-30 20:36] ali01 commented on #11168
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-30 20:36] #11168 closed

[2017-06-30 20:39] ali01 commented on #11038
@martinwicke, thoughts about this?

[2017-06-30 20:39] ali01 commented on #11040
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-06-30 20:42] martinwicke commented on #11178
Yes. We can remove the sentinel. We put it in as a safety since the those losses were not symmetric and we switched the argument order.

Hopefully, then, all losses will use (target, output), and can all be used with compile.

[2017-06-30 20:42] ali01 commented on #11042
Thanks for pointing this out, this line seems to be there now.

[2017-06-30 20:42] #11042 closed

[2017-06-30 20:43] ali01 commented on #11044
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-06-30 20:43] ylmeng opened #11192 "why use "x_is_dict" to check y?"
In tensorflow/contrib/learn/python/learn/learn_io/data_feeder.py
On L325:
`self._y = None if y is None else \
      dict([(k, check_array(v, v.dtype)) for k, v in list(y.items())]) if x_is_dict else check_array(y, y.dtype)
`

I happened to have a implementation where x is a dict but y is a numpy array, so I got an error. I wonder why we do not use y_is_dict here?

[2017-06-30 20:44] ali01 commented on #11048
If you still need assistance on how to compile with CuDNN 6.0, please ask this question on Stack Overflow, for it is neither a feature request nor a bug. Thanks!

[2017-06-30 20:44] #11048 closed

[2017-06-30 20:45] ali01 commented on #11052
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-30 20:45] #11052 closed

[2017-06-30 20:52] ali01 commented on #11064
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-30 20:52] #11064 closed

[2017-06-30 20:52] ali01 commented on #11066
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-30 20:52] #11066 closed

[2017-06-30 20:53] xiejw commented on #11038
The contrib Experiment is expected to work with tf.contrib.learn.RunConfig for now. This is sad. but will be fixed soon.

[2017-06-30 20:54] ali01 commented on #11068
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-30 20:54] #11068 closed

[2017-06-30 20:57] ali01 commented on #11072
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-30 20:57] #11072 closed

[2017-06-30 20:57] yaroslavvb commented on #10800
@3rd3 indeed, this is a common pitfall. In retrospect I think it would be less confusion if your example usage was explicitly forbidden. You have a mix -- some Tensors are created inside tf.cond, while others are created outside of tf.cond. To ensure laziness, all computation must be defined by the lambda called by `tf.cond`, that enables the construct to insert proper merge/switch calls

[2017-06-30 21:00] ali01 commented on #11086
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-06-30 21:02] vade commented on #11180
Building on OS X with optimizations totally works (sans GPU of course). Something like:

bazel build  -c opt --copt=-mavx --copt=-mfma --copt=-mavx2 //tensorflow:libtensorflow_cc.so

[2017-06-30 21:03] fchollet commented on #11178
That was modeled after the initial TF version. It was an oversight and we can change it. `backend.sparse_categorical_crossentropy` is meant as a cross-backend layer, it's not for public consumption; the official API is in `keras.losses`.

[2017-06-30 21:16] morrisonlevi opened #11193 "Document building tensorflow-gpu from source?"
I have built Tensorflow 1.2 from source with GPU support. However the package name is "tensorflow" and not "tensorflow-gpu" as is common. We also have machines that don't have GPUs in them so I'd like to have them both. However I could not find any documentation on how to do this when building from source.

[2017-06-30 21:44] vade commented on #11187
So, spending some time getting more familiar with Slim, it appears that commending out some specific code in model_deploy where clone_on_cpu is checked calls into setting the GPU device has made it work.

It would be nice for this script to auto-detect available devices and not assume GPU support since a shipping, supported platform does not provide CPU support.

Thank you in advance for considera

[2017-06-30 22:19] dfumento commented on #10685
If I tried to follow the instructions I would get:
clang: error: unsupported option '-fopenmp'
Which implies that it is calling the version in the Apple toolchain under Xcode 8.3.3
Apple LLVM version 8.1.0 (clang-802.0.42)

Which does not yet support -fopenmp.  I also have the LLVM version from brew installed
clang version 4.0.1 (tags/RELEASE_401/final)
which does  support -fopenmp which I've used

[2017-06-30 22:24] angels115 opened #11194 "Android TF Classify Multi-label output example?"
What would you have to change to the existing tensorflow android TFClassify app demo to output multiple labels?

For instance I have a multi output model trained in keras with multiple softmax output nodes. The current TFClassify example has one output node so would the solution be to merely add additional output nodes in the java files?

[2017-06-30 22:26] jingweimo commented on #11025
@nealwu: Hello! I post the problem encountered with running reader_test.py and ptb_word_lm.py at: https://stackoverflow.com/questions/44855380/tensorflow-runn-error-with-reader-test-py-in-models-tutorials-rnn
You may take a look at the error message. I am not sure if there is something wrong with anaconda environment. I follow the instructions for installing tensorflow-gpu in windows by conda inst

[2017-06-30 22:32] wenwei202 opened #11195 "No error reported when a wrong argument name is inputted to tf.app.flags"
The default behavior of `tf.app.flags` is: when the user inputs a wrong/undefined argument name, the program just keeps running without throwing out any error about it. For example,
[code]
But when the user inputs
[code]
The program just keeps running with `weight_path=None` and does not report the wrong argument of `weights_path` which has a **s** appended.
Should we change this kind of default b

[2017-06-30 22:35] jongsae opened #11196 "[Feature Request] Distributed Tensorflow with Data Parallelism and DMA"
Hi, I have a machine with multiple GPUs and deployed a distributed Tensorflow exploiting data parallelism. I use ClusterConfig to configure the cluster's topology and pass this to Experiment to run the distributed training. I wanted to make one of the GPUs as the parameter server and use the rest for the workers, each of which uses one GPU. I did this through launching multiple processes for param

[2017-06-30 22:38] yongtang commented on #9717
Added a PR #11197 for this issue.

[2017-06-30 22:45] nealwu commented on #11025
What went wrong with `reader_test.py`? It looks like it ran fine to me.

As far as `ptb_word_lm.py`, I don't really know what's going on there. Hopefully someone on StackOverflow will be familiar with the error.

[2017-06-30 23:12] printdhruv commented on #11157
Hi,
        As website sates "NOTE: The conda package is community supported, not officially supported. That is, the TensorFlow team neither tests nor maintains this conda package. Use that package at your own risk."
        I think that you should try it with native `Python environment.` I tested and seems running successfully.

[2017-06-30 23:16] mattfeel commented on #11157
I also tried it with native Python, and the error persists. The error disappears only when downgrading to tensorflow version 1.0.0

[2017-06-30 23:26] printdhruv commented on #11193
Hi,
     It's already here -> [https://www.tensorflow.org/install/install_sources#ConfigureInstallation](https://www.tensorflow.org/install/install_sources#ConfigureInstallation). You need to have `bazel, GPU prerequisites` in order to execute `./configure`. where you will be asked following questions.
[code]

This third party link might help too, [https://alliseesolutions.wordpress.com/2016/09/08

[2017-06-30 23:28] printdhruv commented on #11157
Can you list the exact steps,source code which you are executing?

[2017-06-30 23:32] ali01 commented on #11152
This is actually Python's threading library:

    import threading

[2017-06-30 23:32] #11152 closed

[2017-06-30 23:50] ali01 commented on #11098
Thanks for reaching out. This works as intended.

tf.check_numerics adds an operation to the graph that is only executed if its return value is fetched. The code snippet above ignores the return value of tf.check_numerics. The only tensor that is fetched is x, so check_numerics never runs.

The right way to use check_numerics is to assign its return value to the handle of the original tensor:

[2017-06-30 23:50] #11098 closed

[2017-06-30 23:52] ali01 commented on #11096
@mrry, could you take a quick look?

[2017-06-30 23:53] mattfeel commented on #11157
I'm running the code found here https://github.com/tensorflow/models/tree/master/tutorials/rnn/translate

I run it with:
python translate.py --data_dir <path-to-data-dir> --train_dir <path-to-train-dir> --from_train_data  <path-to-from-train-data> --to_train_data <path-to-to-train-data>

I'm running this code as-is. Python is native (no Anacoda, no virtualenv, etc.)

Also, the same error happens o

[2017-06-30 23:54] ali01 commented on #11162
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. If this does turn out to be a bug, please re-open this issue. Thanks!

[2017-06-30 23:54] #11162 closed

[2017-06-30 23:55] ali01 commented on #11160
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-30 23:55] #11160 closed

[2017-06-30 23:58] ali01 commented on #11144
I don't quite understand the question. What is the problem? Could you please elaborate further?

[2017-07-01 00:07] ali01 commented on #11070
@poxvoculi, do we support nvprof?

[2017-07-01 00:16] poxvoculi commented on #11070
I believe it's possible to use nvprof with TF, but I haven't used it in a long time.  Probably @zheng-xq is better informed.

[2017-07-01 00:19] jingweimo commented on #11025
@nealwu : For the `reader_test.py`, it shows that the TensorFlow library wasn't complied to SSE and other instructions. I don't know if that implies some errors. For `ptb_word_lm.py`, it gives the error:
`InternalError (see above for traceback): Blas GEMM launch failed : a.shape=(20, 400), b.shape=(400, 800), m=20, n=800, k=400
                 `

[2017-07-01 00:21] dylib opened #11199 "AttributeError: 'module' object has no attribute 'prepare_attention'"
**Tensorflow Version**:
[code]
**Issue**:
[code]
I'm not sure what why the tf.contrib.seq2seq cannot find [`prepare_attention`](https://www.tensorflow.org/versions/r1.0/api_docs/python/tf/contrib/seq2seq/prepare_attention), any clue to why that is would be appreciated.

[2017-07-01 00:23] morrisonlevi commented on #11193
No, that's *not* what I'm after. I've went through that and confirmed I have a working tensorflow + GPU package. The issue is that the python module is named `tensorflow` and not `tensorflow-gpu`.

[2017-07-01 00:25] jingweimo commented on #11025
@nealwu : I solved the problem by updating anaconda `(conda update --all)` and then restart my laptop

[2017-07-01 00:25] nealwu commented on #11025
Yes, that means there are a few options you could compile with to boost your speed, but everything ran fine. As far as `ptb_word_lm.py`, I'm not sure unfortunately.

[2017-07-01 00:26] nealwu commented on #11025
Oh, great! Looks like we can close this then.

[2017-07-01 00:26] #11025 closed

[2017-07-01 01:40] joshua-xia commented on #11080
add delete(key) in MutableHashTable? need to add API in LookupInterface and implement in MutableHashTableOfTensors and register the OP.

[2017-07-01 02:06] joshua-xia commented on #10277
is this issue solved? I am willing to look into it if it is still not fixed.

[2017-07-01 02:10] soloice commented on #9717
@yongtang Thanks for your contribution. I'm kind of busy these days and almost forget this issue...

[2017-07-01 02:19] LuminousXLB opened #11200 "How can I cmpile the Tensorflow library to use CPU Instructions"
My CPU is AMD Ryzen 5 1400
Here is my Instructions sets given by CPU-Z
	MMX (+), SSE, SSE2, SSE3, SSSE3, SSE4.1, SSE4.2, SSE4A, x86-64, AMD-V, AES, AVX, AVX2, FMA3, SHA

[2017-07-01 03:03] ay0000 opened #11201 "bazel build causes Kernel Panic on clean Ubuntu 16.04"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Trying for source
- **TensorFlow version (use command below)**: 1.2
- **Python version**: 2.7.12
- **Bazel version (if compiling from source)**:

[2017-07-01 03:26] wm901115nwpu opened #11202 "quantify the mobilenet"
I try to quantify the mobilenet, but I don't decide the out_node .

[2017-07-01 03:47] printdhruv commented on #11193
I misunderstood your question by reading heading only. I think if you try to install a common tensor-flow on non GPU machine . It won't have `CUDA , cuDNN`. So, it is obvious that will use CPU resources.
`./configure` ask you CUDA support question which is sufficient for non GPU machines for simplicity.
I believe for making development and distribution compatible and easy with each other they have

[2017-07-01 04:00] printdhruv commented on #11200
Following suggestions might be helpful,
1. I guess you have to build tensor flow from its source in order to use those instructions and make faster computations.
2. Visit this link as well for same issue [https://github.com/tensorflow/tensorflow/issues/7778](https://github.com/tensorflow/tensorflow/issues/7778)
3. Please review guidelines before [https://github.com/tensorflow/tensorflow/blob/maste

[2017-07-01 04:04] printdhruv commented on #11201
Try to fix the problem by unplugging all drives and devices from the pc.

[2017-07-01 04:49] hyperdo opened #11203 "L-Op and R-Op in Tensorflow?"
Are there currently equivalents of [theano.gradient.Lop](http://deeplearning.net/software/theano/tutorial/gradients.html#l-operator) and [theano.gradient.Rop](http://deeplearning.net/software/theano/tutorial/gradients.html#r-operator) implemented in Tensorflow? If not, is this a feature that is in the pipeline? I'm trying to port some code over but can't seem to find a way to do this yet. Thank yo

[2017-07-01 04:49] osdamv commented on #10277
is at review #10771

[2017-07-01 05:03] printdhruv commented on #11199
Hi,

1. It won't compile as you have `tensor-flow API 1.1.0` which doesn't have `tf.contrib.seq2seq.prepare_attention()` and the link which you are referring is for `API 1.0`.

2. For your existing version `1.1.0` the ` tf.contrib.seq2seq.DynamicAttentionWrapper` will work. Refer link [https://www.tensorflow.org/versions/r1.1/api_docs/python/tf/contrib/seq2seq/DynamicAttentionWrapper](https://www.

[2017-07-01 05:10] ppwwyyxx commented on #11186
Just curious, could you elaborate what kind of bugs it could lead to?

[2017-07-01 05:19] mmosquera10 commented on #7641
@hlzlyc Did you resolve this issue? I am having the same problem.

[2017-07-01 05:23] lakshayg commented on #11200
When you run `./configure` before calling `bazel build` you are asked to provide compiler flags in one of the steps. Do NOT provide any compile options at that point as the default is `-march=native` which enables all the CPU specific instructions.

[2017-07-01 07:38] wwh2259253 commented on #11180
@vade when I trying to execute
`bzael build -c opt --copt=-marx --copt=-mavx2 --copt=-mfma --copt=-msse4.1 --copt=-msse4.2 //tensorflow:libtensorflow_cc.so`
I always got this error.

[2017-07-01 09:22] sureshbabuj opened #11205 "How to create our own dataset"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-07-01 09:51] Faur commented on #9778
So is it sufficient to install from source (on Windows), or should I switch to Linux?

[2017-07-01 11:47] byronyi commented on #11196
Currently distributed TensorFlow is relatively not performant compared to single-process multi-device setup. If you are not running your job over multiple machines, you could consider using a intra process parameter server (which typically only uses CPU and host RAM as there is not much work to do for PS).

Nevertheless, we are preparing a patch on interprocess device DMA (GPU Direct) for distribu

[2017-07-01 11:58] jasonwu0731 commented on #492
@kvrd18 I also ran into this issue today and I fixed it. The error I made is I try to access a array index out of the array I declare, that is, I try to access a gpu memory space that I haven't assign values. That's why the error message is like ` tried to allocate 0 bytes`. Hope this also help you.

W tensorflow/core/common_runtime/allocator_retry.cc:32] Request to allocate 0 bytes
F tensorflow/c

[2017-07-01 12:28] 3rd3 commented on #10800
But that would still not resolve the paradigm discrepancy between query laziness and branching non-laziness.

[2017-07-01 13:44] dylib commented on #11199
Regarding your item #3, I suppose you mean downgrade instead of upgrade? In the API documentation for `1.2.x` it doesn't appear `prepare_attention` went beyond `1.0` ...

Also, sorry for raising the issue, I was used to seeing `deprecated` labels next to the old functions and was completely oblivious to the fact I was looking at `1.0` API documentation. Apparently you guys aren't bothering with th

[2017-07-01 13:48] yaroslavvb commented on #10800
I would say this is Python API issue, rather than core TensorFlow issue,
since there's no "cond" in TF API, only Switch/Merge. Changing tf.cond to
be fully lazy will change behavior​ of existing programs, so it can't be
done for backward compatibility reasons. You could write your own version
of tf.cond which inserts Switch/Merge in a more intuitive way

On Jul 1, 2017 2:29 PM, "3rd3" <notificatio

[2017-07-01 14:34] albertz commented on #11168
@ali01  No, you misunderstood. This is a bug in TensorFlow. I did not asked any question. The "why" is a rhetorical question. Of course it should not have been changed. There is no reason to just change the variable names to make checkpoint files incompatible.

[2017-07-01 14:50] albertz commented on #10950
@ali01  Well, I wrote already the TF versions, and I wrote that I used the pip package, and this should be independent of the platform, but if it matters, I tried both Linux and MacOSX. I also posted all the code already, both the C++ part and the TF part. You can use `g++` for compiling, e.g. with the flags which I wrote. Maybe here how to load the module, if that is unclear:
[code]
Then, as I al

[2017-07-01 16:03] jjough opened #11208 "Jacobian with tf.while_loop fails"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-07-01 18:38] printdhruv commented on #11199
Hi,
     Google hasn't hired me unfortunately.Yes, you are right that for item(3) you have to use the latest API , not your existing one.

[2017-07-01 21:30] langmore commented on #10766
It looks like a fix has been put together [here](https://github.com/tensorflow/tensorflow/pull/11019).  I can't try this out right now, but perhaps you can just grab the latest files and it will work.

[2017-07-01 22:09] thisHemit commented on #5343
sudo ldconfig /usr/local/cuda/lib64 works for me.
OS: LinuxMint 18 (Sarah)
cuda_version: 8.0
cuDNN_version: 5.1

[2017-07-01 22:10] amirjamez opened #11210 "Tensorflow execution with HVX failed on Qualcomm 820 Board"
@satok16 could you have a look at this error?

I have built the libs and am using Intrinsys 820 Qualcomm board. Tried your troubleshooting procedure to sign as well and put the .so file in `/system/lib/rfsa/adsp/`. Running hexagon graph gives me the same error :

[code]
`...
`
[code]
I have attached my adblogcat output as well here. Thanks.
[logcat.txt](https://github.com/tensorflow/tensorflow/fil

[2017-07-01 23:01] #5770 closed

[2017-07-01 23:50] jongsae commented on #11196
Hi Bairen, first, thanks for your response!

The reason why I wanted to deploy a distributed TF on a single node is that my application is not a very good fit for exploiting model parallelism. However, I have multi GPUs available in a machine so I would like to exploit data parallelism.

I agree with you that having an intra process parameter server could be the solution for my case. However, the

[2017-07-02 02:06] korepwx commented on #11098
I think your justification is weird.  Take a look at the documentation of [tf.control_dependencies](https://www.tensorflow.org/api_docs/python/tf/control_dependencies):

I have fed `tf.check_numerics` into `tf.control_dependencies` via `control_inputs`, no matter what it is, it should have been executed before any operation in the context being called.  And since I set `x = tf.identity(x)` within

[2017-07-02 02:57] jyegerlehner commented on #11186
Couldn't we use `tf.assign` for that?

[2017-07-02 03:04] hyperdo commented on #11141
Have you tried the solutions previously posted in these issues:
- https://github.com/tensorflow/tensorflow/issues/8267
- https://github.com/tensorflow/tensorflow/issues/8267

[2017-07-02 04:13] aselle commented on #11202
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-07-02 04:13] #11202 closed

[2017-07-02 04:44] aselle commented on #11200
@LuminousXLB ,  @lakshayg's  suggestion should solve your problem. Let us know if it doesn't.

[2017-07-02 04:46] aselle commented on #11194
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-02 04:46] #11194 closed

[2017-07-02 04:53] aselle commented on #11208
I'd be surprised if tf.gradients worked within a control flow primitive, but maybe it should @ebrevdo, do you have any insight?

[2017-07-02 04:53] starFalll commented on #8352
Hi @stephenjia ,I have the same problem with you.But I don not know how many virtury memory to increase,Will virtual memory be twice the size of memory?Becaues My Linux partition spaces are not enough，how to expand swap partition in Ubuntu 16.04 dual-boot system(Windows10 &Ubuntu16.04)?
Can you help me on these? Thanks a lot.

[2017-07-02 04:58] satok16 commented on #11210
"Expected: (version) >= (1), actual: 0 vs 1" indicates that the signature of HVX binary is wrong.  Did you try troubleshooting in https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/hvx ?

[2017-07-02 04:59] aselle commented on #11205
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-02 04:59] #11205 closed

[2017-07-02 05:02] #11073 closed

[2017-07-02 05:02] aselle commented on #11073
Looks like you got it working. Thanks for reporting back.

[2017-07-02 05:17] amirjamez commented on #11210
Thanks @satok16 for the quick reply. Yes. I did use elfsign tool in Qualcomm sdk and generated the .so. also rebooted the device and tested it again yet the same error generated.

[2017-07-02 05:28] freedomtan commented on #10685
Something like `CC=clang-mp-4.0  bazel build  --copt=-I/usr/local/include/libomp -c opt --config=opt --config=mkl --copt="-DEIGEN_USE_VML" --copt=-march=haswell   --linkopt="-L//opt/intel/mklml/lib" --linkopt="-lmklml" --linkopt="-liomp5" //tensorflow/tools/benchmark:benchmark_model` works for me. The clang come with Xcode doesn't enable OpenMP support. I use clang-4.0 (`clang-mp-4.0`) from MacPor

[2017-07-02 05:41] freedomtan commented on #10685
It seems I should delay the patch till https://github.com/tensorflow/tensorflow/pull/11212 from @gunan is done.

[2017-07-02 05:43] gunan commented on #10685
I actually have a patch ready, but I will need to test my patch.
Once all my changes are in, we will not even need the option in configure script.
`bazel build --config=mkl tensorflow/tools/pip_package:build_pip_package`
will allow you to build a pip package with mkl support.

[2017-07-02 06:05] freedomtan commented on #10685
@gunan Thanks. So I'll just wait. BTW, did you test the performance of after applying MKL-DNN. I tested various pre-trained models (frozen and optimized for inference) from https://github.com/tensorflow/models/tree/master/slim with MKL-DNN (for inference) on my late 2014 iMac. Ones with MKL-DNN are usually slower.

[2017-07-02 06:05] satok16 commented on #11210
Can you put all command lines and several lines after that?

[2017-07-02 06:12] gunan commented on #10685
I have the changes that would make things work for mac, but have not tested it on a mac yet.
Once it works, I will leave benchmarking to @tfboyd as I will be out on vacation for most of next month.

[2017-07-02 07:14] pankajkgupta opened #11214 "Downloading and building imagenet from scratch says "wget: command not found""
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Using scripts provided with tensorflow to download and build imagenet from scratch.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: ('v1.2.0-5

[2017-07-02 07:26] byronyi commented on #11196
@martinwicke Any comments?

[2017-07-02 07:29] wwh2259253 commented on #11180
@ali01
Sorry, this is the first time I post an issue.
[code]
[code]

[2017-07-02 08:03] mickeyil opened #11217 "tools.compatibility module is missing or not installed properly through pip"
Running tf_upgrade.py gets ImportError:

[code]
There's no subdir named compatibility under tools in python packages dir. Those were taken from:

[code]

### System information
Ubuntu 16.04
Tensorflow 1.2.1, upgraded 'natively' via pip from a pre 1.0 version:
$ sudo -H pip install --upgrade tensorflow-gpu
Python version 2.7.12

[2017-07-02 08:28] Hrant-Khachatrian commented on #7927
Now it says `TypeError: int() argument must be a string or a number, not 'Tensor'`

[2017-07-02 08:49] GPSnoopy commented on #11096
HI @davidshen84 ,

This may or may not help you.

I've encountered several heap errors with VS2015 when trying to build tensorflow. The problem was that I was using the 32bits compiler instead of the 64bits one. This is mentioned as one of the first step in
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/cmake (although their path does not exist for me).

You can easily che

[2017-07-02 08:53] ruparelmetarya opened #11218 "ValueError: Shape (1, 5) must have rank at least 3"
CODE I AM TRYING TO RUN :

from __future__ import print_function, division
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt

num_epochs = 100
total_series_length = 50000
truncated_backprop_length = 15
state_size = 4
num_classes = 2
echo_step = 3
batch_size = 5
num_batches = total_series_length//batch_size//truncated_backprop_length

def generateData():
    x = np.array(np

[2017-07-02 09:05] joshua-xia commented on #11149
There are several third-party open source source code are download  when build, maybe you can download manually and store on local machine and modify the url of the source repository so that you can build without download again.

[2017-07-02 09:17] #11218 closed

[2017-07-02 10:25] jeansely opened #11219 "gridlstm"
Hello,

1- where can find an example for GRIDLSTM(2D) or multi_diagonal . i search in net but not found.
2- known that tensorflow support from keras . how can insert a tensorflow layer in keras .

THANKS

[2017-07-02 10:36] fesun commented on #7353
@skye My workaround works for me on v1.0.1. But I think the issue is still there, I was told the workaround posted here didn't work for latest v1.2.

[2017-07-02 11:22] ktarplee commented on #10766
I can confirm that ea79ba4 (mentioned above) fixes the issue.  I cherry-picked it to v1.2.1 to verify.  The fix is available on master.

[2017-07-02 11:22] #10766 closed

[2017-07-02 11:23] fesun commented on #10824
@aselle I saw ones_initializer and zeros_initializer have been changed in latest version, I haven't read the latest code carefully. But for v1.0.1, https://github.com/tensorflow/tensorflow/blob/v1.0.1/tensorflow/python/ops/init_ops.py#L62, ones_initializer and zeros_initializer calls constant_op.constant to create constant tensors storing a bunch of ones and zeros inside them. Constant tensors pre

[2017-07-02 11:30] shanalikhan commented on #10866
I changed code in that line to make it work

[2017-07-02 12:07] byronyi commented on #7353
@fesun Maybe a small reproducing script would help us to identify the problem. As you mentioned, if changing the three constants to very small numbers in `ENQUEUE_REQUEST` could reproduce the issue in a smaller scale (2~3 nodes), I am glad to run a customized build locally and see if I could reproduce that. Problem is I don't have a Windows box, so I am not sure if it works.

[2017-07-02 12:18] byronyi commented on #11196
Seems the [`cudaIpc*` functions](http://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__DEVICE.html#group__CUDART__DEVICE_1g02bb3632b5d223db6acae5f8744e2c91) could serve as a loopback transport for interprocess p2p. I have not used these functions so I am not sure.

[2017-07-02 13:39] JIoJIaJIu commented on #37
There is I started work on native nodejs Tensorflow implementation, would be great if anybody joins
https://github.com/nodejs-tensorflow/nodejs-tensorflow

[2017-07-02 14:06] joshua-xia commented on #11000
update: I already successfully build tensorflow using jemalloc 5.0.0, need a little more time to change jemalloc.BUILD because the jemalloc.h generate method is changed.

[2017-07-02 14:30] yongtang commented on #8552
It looks like `get_clean_up_op` has been removed in commit https://github.com/tensorflow/tensorflow/commit/74514bffc4bbac7e6717e1079aca055b1c837229

I think this issue could be closed?

[2017-07-02 14:35] madhurcodes commented on #11077
You can use  `initial_state = wrapper.zero_state(...).clone(cell_state=encoder_state)` if you need to pass the encoder state initially.

[2017-07-02 15:39] waynesuzq commented on #9080
@eth-n hi, I am also struggling with this problem. With `nvidia-cuda-mps-control` running as a daemon, I start a single tensorflow training, it gives me the same error.  T-T
Thanks~

[2017-07-02 15:44] rryan opened #11223 "tf.gather axis argument"
It'd be nice to have an `axis` argument to `tf.gather`. This would bring it closer to the numpy equivalent, [np.take](https://docs.scipy.org/doc/numpy-1.10.1/reference/generated/numpy.take.html).

This would also pave the way to supporting Numpy [array indexing](https://docs.scipy.org/doc/numpy/user/basics.indexing.html#index-arrays), e.g. `t[:, [0, 2, 3], ::2]`.

Based on discussion in #9236 and

[2017-07-02 15:54] rryan commented on #11223
There are 135 code references on GitHub for the query [tf.transpose(tf.gather(tf.transpose](https://github.com/search?utf8=%E2%9C%93&q=%22tf.transpose%28tf.gather%28tf.transpose%22&type=Code), though this includes a lot of repo clones (GitHub search is pretty mediocre).

Internally at Google, there are 48 uses of the workaround.

See also:
https://github.com/tensorflow/tensorflow/pull/9236#issueco

[2017-07-02 16:13] sachinh35 commented on #8191
it says `TypeError: embedding_attention_seq2seq() missing 1 required positional argument: 'dec_cell'
`

[2017-07-02 16:39] jongsae commented on #11196
The cudaIPc* functions indeed seem to be the hope for interprocess p2p communication. I am not sure how the CUDA_VISIBLE_DEVICES play in this scenario though since the processes see different sets of GPUs (e.g., PS process sees GPU#0 while Worker process sees GPU#1).

I wondered if you would consider incorporating this feature to the next patch? In any case, I really appreciate your effort!

[2017-07-02 16:42] fabiofumarola commented on #8191
Yes because the update I have proposed require you to change the
embedding_attention_seq2seq Function. If you go to the source file in you
tensorflow release you can change the method definition you re self.

On Sun, 2 Jul 2017 at 18:15, sachinh35 <notifications@github.com> trote

--
Sent from Gmail Mobile

[2017-07-02 16:49] sachinh35 commented on #8191
Yes i did the same thing. I changed the function in seq2seq.py file in the tensorflow release. Still i am getting the same error. Is there one more argument to the function?

[2017-07-02 17:03] wenkesj commented on #11124
@ali01 @petewarden  So, adding the `cwise_op_less_equal.cc` fixed the first issue, but then `Missing op... "RandomUniform"` came up and this was due to the use of `dropout` ops. Removing these fixed the issue. This time, I skipped the inference optimization step on the frozen graph to be safe and it built and works.

[2017-07-02 17:03] #11124 closed

[2017-07-02 17:35] ebrevdo commented on #11208
Have you tried to disable clear after write on the second TensorArray, the one in loop_vars, as well?

[2017-07-02 17:40] droidicus commented on #11135
With TF v1.2.1 I have to use:
[code]

@fchollet It looks like the import did not make it into the latest release, but is in master: https://github.com/tensorflow/tensorflow/blob/v1.2.1/tensorflow/contrib/keras/api/keras/layers/__init__.py

[2017-07-02 18:47] ay0000 commented on #11201
My fault. It was a bad overclock that I was unaware of.

Thanks
Aarron Younan
102576786

[2017-07-02 18:55] fabiofumarola commented on #8191
Yes, now in you code you need to specify to rnn_cells. One for the encoder
and another for the decoder.

On Sun, 2 Jul 2017 at 20:54, fabio fumarola <fabiofumarola@gmail.com> wrote:

Sent from Gmail Mobile

[2017-07-02 19:21] AFAgarap commented on #11219
I think it's the other way around; Keras may be implemented in TensorFlow. I haven't heard of TF in Keras yet. @jeansely

[2017-07-02 19:25] AFAgarap commented on #10674
@uttamgoli As for the first error, have you set the environment variable for Python? And for the second, following the advice of @caisq, you may want to read up on [this](https://stackoverflow.com/questions/42011070/on-windows-running-import-tensorflow-generates-no-module-named-pywrap-tenso).

[2017-07-02 20:05] hotchkiss87 commented on #11029
Locate is not installed by default on some systems, like Gentoo. It's a nice tool to have though (sometimes it's called 'mlocate' though, and it doesn't have a standard, so it's generally not a great idea to use it in scripts.) If you don't want locate though, you can manually change the line to this:
[code]
It looks like that section is going to change a lot in the future, so it might be better j

[2017-07-02 21:11] #11201 closed

[2017-07-02 21:27] yycho0108 opened #11228 "GPU kernel for segment_sum?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: ('v1.2.0-5-g435cdfc', '1.2.1')
- **Python version**: 2.7.12
- **CUDA/cuDNN version**

[2017-07-02 21:37] danijar commented on #11186
@ppwwyyxx For example, I was trying to feed the transition tuple of state, action, reward, and successor state to a reinforcement learning agent. Here, `env.state` is a variable holding the current state of the environment that gets updated when calling `env.step(action)`:

[code]

@jyegerlehner That would require creating a second variable to hold the old state of the variable. That's wasteful if

[2017-07-02 21:42] alistairlow opened #11229 "32-bit build failure in tensorflow/contrib/tensor_forest/kernels/stats_ops.cc"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 14.04.5 i386
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: Git revision 744120fd8a0c3be0a90cca5a971459894c90b859
- **Python version**: 2.

[2017-07-03 01:17] ebrevdo commented on #7927
What version of tensorflow are you using?

On Jul 2, 2017 1:29 AM, "Hrant Khachatrian" <notifications@github.com>
wrote:

[2017-07-03 01:32] davidshen84 commented on #11096
I am sure I was using the **Native 64 Command Tools**. I also double confirmed by:

    cl /?
    Microsoft (R) C/C++ Optimizing Compiler Version 19.10.25019 for x64
    Copyright (C) Microsoft Corporation.  All rights reserved.

			     C/C++ COMPILER OPTIONS

More over, I used the **Visual Studio 15 2017 Win64** cmake generator. I think the compilation process won't be able to start if the compi

[2017-07-03 02:14] yuhow commented on #6210
Hi @amutu
I have followed your amazing introduction of how to install offline tensorflow.
But now I have one more question...
When I try to view the data flow graph through tensorboard
It seems the browser(firefox) keeps trying to download something from website (google?)
And after waiting for a long time (~5mins), it still can't show anything from my browser.
I was wondering if there is anyway to

[2017-07-03 03:15] jakiechris opened #11231 "[solved, solution is on the bottom] link libtensorflow-core.a to c++ cross comple project"
Hi ~ all~

   i followed:
      https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/makefile/README.md
  and successfully got ios, android, linux lib files in contrib\makefile\gen\lib.

  i'm developing a cross platform sdk lib which is written by c++.  my plan is using my sdk c++ code to call tensorflow lib.

   here is my question: where are the h files according to the tenso

[2017-07-03 03:17] amutu commented on #6210
I think it needs some javascript libs to show the graph, these libs are only available on the public network and not included in the tensorflow pkg. I am sorry I can not help you because I am not a front end guy. You can open an issue to the tensorflow project to ask help.

[2017-07-03 03:31] martinwicke commented on #6210
Better yet, open an issue against tensorflow/tensorboard. You should be able to run this just fine without an internet connection.

[2017-07-03 03:56] joshua-xia commented on #11076
Redirect all log out to file

[2017-07-03 04:36] ankitachandak commented on #11122
@ali01 I compiled from the source
I followed the instructions from https://www.tensorflow.org/install/install_sources
So cloned the latest Tensorflow version
OS Platform and Distribution: Linux Ubuntu 16.04
Python version: 2.7
Bazel: 0.5.2
CUDA/cuDNN version: None (As I said I am installing CPU version)
GPU model and memory: N/A

Exact command I ran which gave the error were as simple:

a = tf.pla

[2017-07-03 04:41] derekhh opened #11232 "Enable MKL Support in TensorFlow for Java"
# Description

I'm trying to use TensorFlow for Java in a Dataflow pipeline. Currently everything appears to be working but since Dataflow only supports CPU instances, inference time seems to be quite slow. In my previous experiments I've seen that building TensorFlow from source with MKL support usually provides a very significant speed gain.

Since I'm currently using TensorFlow for Java directl

[2017-07-03 04:50] gunan commented on #11180
if you are going to use tf on the same machine, why not just use `-march=native`, or our convenience option, `--config=opt`?

[2017-07-03 04:52] gunan commented on #11229
We do not really build and test on 32 bit desktop operating systems.
Please try to reach out to stackoverflow to see if someone from the community has already ran into and solved this problem.

[2017-07-03 04:52] #11229 closed

[2017-07-03 05:11] ilyaivensky commented on #9072
I have the same issue. Neither compiler works for me (TF 1.2, CUDA-8.0, cuDNN 6)

[2017-07-03 05:15] amirjamez commented on #11210
Sorry for the delay @satok16. Here is the output of the testsig file in my 820 board:
[code]
the error as you mentioned comes from :
[code]
which is :

[code]
Could you let me know what version mismatch I got here ?

P.s: here is the full command line output:

[code]

[2017-07-03 05:15] udnaan commented on #9072
@ilyaivensky TF 1.2 doesn't have GPU support on Mac.

[2017-07-03 05:21] martinwicke commented on #9072
Since there is no supported combination of hardware from Apple and software by NVIDIA (there are currently no NVIDIA drivers that actually work reliably on a MacOS platform), we have stopped supporting native CUDA/GPU support on MacOS. It appears to us that neither old nor new drivers work reliably with new versions of MacOS.

We have tried both on old hardware (MacBook Pro with NVIDIA GPUs) and u

[2017-07-03 05:21] #9072 closed

[2017-07-03 05:23] davidshen84 commented on #11096
I tried not using SIMD options, and I still get similar errors

    "C:\Users\X\github\tensorflow\tensorflow\contrib\cmake\build\ALL_BUILD.vcxproj"
     (default target) (1) ->
    "C:\Users\X\github\tensorflow\tensorflow\contrib\cmake\build\_beam_search_ops.v
    cxproj" (default target) (3) ->
    "C:\Users\X\github\tensorflow\tensorflow\contrib\cmake\build\pywrap_tensorflow_
    internal.vcxpro

[2017-07-03 05:29] udnaan commented on #9072
What about Mac Pros with modded GPUs such as [these](http://www.macvidcards.com/store/p97/Nvidia_GTX_1080_Ti_11_GB.html)?

[2017-07-03 05:38] Hrant-Khachatrian commented on #7927
0.12.head

[2017-07-03 05:43] sddi commented on #11137
@terrytangyuan  I try the newest wide_n_deep tutorial , but I get the msg like this:
  File "wide_n_deep_tutorial.py", line 147, in build_estimator
    m = tf.estimator.DNNLinearCombinedClassifier(
AttributeError: 'module' object has no attribute 'DNNLinearCombinedClassifier'
how can i run it ?

[2017-07-03 05:50] martinwicke commented on #9072
I think the last hardware these are supported in are Mac Pro 5.1, which are from 2010. We don't have any of those, and they are at this point too old.

The problem is not hardware, it's software -- recent versions of MacOS are not compatible with recent versions of NVIDIA drivers.

[2017-07-03 06:02] udnaan commented on #9072
@martinwicke I have an older compiled version of tf1.1 with GPU support (cuda 8 + cudnn 5.1) has been working quite reliably so far on a similar setup. (by reliable I mean overnight training). I've been hesitant to upgrade to 1.2 due to lack of GPU support.

[2017-07-03 06:14] qinyuhang commented on #9072
Hi, I have a Macbook Pro 2014 came with NVIDIA GT 750M, and me self compiled a Tensorflow 1.1, It works fine in both macOS 10.12 and macOS 10.13 Developer Preview. The only problem is I have to disable SIP to compile the Tensorflow pip package.
And I upload the pip package I compiled in my Github repo:  https://github.com/qinyuhang/tensorflow-mac-build
I think compile 1.2 is worth a try. Could you

[2017-07-03 06:20] martinwicke commented on #9072
@udnaan We did support it until 1.1, but we haven't been able to make it work reliably with cuda 6 at all, and even in 5.1, I believe there are some test failures (you probably won't notice these during everyday training, I don't think they affect the most common code paths). Of course, the 1.1 binaries are always available for you, it's not like we're deleting the old releases (or the code).

@qi

[2017-07-03 06:30] jxua opened #11233 "About if tensorflow can use flask to mount in IIS, use like as an web API to use?"
I set up a tensorflow system, use flask grammar to set up . And in local computer, all run ok, no error.
But when I mount it in IIS, as Web API to use, It always show FASTCGI error. Does tensorflow  incompatiable with IIS?

[2017-07-03 06:30] udnaan commented on #9072
@martinwicke Fair enough. Thanks for the explanation. I guess as long as it works on linux + GPU, there is always a possibility to make it work on Mac + GPU.

[2017-07-03 07:00] wm901115nwpu opened #11235 "quantify the mobilenet"
I try to quantify the mobilenet(in the https://github.com/tensorflow/models/blob/master/object_detection/g3doc/detection_model_zoo.md ssd_mobilenet_v1_coco), the tensorflow I use is v1.2,
bazel build tensorflow/tools/quantization:quantize_graph \
&& bazel-bin/tensorflow/tools/quantization/quantize_graph \
--input=bazel build tensorflow/tools/quantization:quantize_graph \
&& bazel-bin/tensorflow/to

[2017-07-03 07:09] kwotsin commented on #8897
@Androbin Did the new bazel build for `libtensorflow_inference.so` work for you?

[2017-07-03 07:58] fferroni opened #11236 "Cannot use AdamOptimizer in C++ when running graph defined from Python"
Running Ubuntu 14.04, with r1.2 Tensorflow

I have defined a graph in Python
[code]

If I run this graph in a C++ program, where I load the graph, initialize the variables and feed X and Y tensors to "train", I get the following error (works fine with other optimizers like GradientDescent or RMSPropOptimizer):
[code]
Is this a bug?

For reference, the code I use to load the graph definition and tr

[2017-07-03 08:09] NatLun091238 commented on #11135
Unfortunately, using suggested:
from tensorflow.contrib.keras.python.keras.layers.wrappers import TimeDistributed

Perfectly alright working in older version code gives, the following error message:

  File "C:\Users\natlun\AppData\Local\Continuum\Miniconda3\envs\tensorflow\lib\site-packages\tensorflow\contrib\keras\python\keras\layers\wrappers.py", line 194, in call
    unroll=False)

TypeError:

[2017-07-03 08:44] Ahmad-Masood opened #11238 "Dendrite morphological neural networks"
Can you guys also provide an implementation for Dendrite morphological neural networks in tensorflow.

http://www.sciencedirect.com/science/article/pii/S0925231213010916

[2017-07-03 08:49] OlavHN opened #11239 "Variables in Dataset functions not (always) initialized"
### System information
- **OS**: MacOS 10.12.4
- **TensorFlow**: stock cpu tensorflow 1.2 from pip
- **Python**: Python 2.7.13

### Describe the problem
When using a Dataset function containing tf.Variables needing initialization it succeeds sometimes, but fails other times. I haven't managed to pin point it further using `sleep`s or `tf.control_dependencies`.

### Source code / logs
[code]

Movin

[2017-07-03 08:58] ducta-qc commented on #2107
I also encounter this error. In my case, the forward pass works normally but the backward pass I filtered unsuitable samples (convert from [`origin_batch_size`, h, w, 3] -> [`keep_samples`, h, w, 3]) for training and keep them backprop through graph, it makes on some batches has zero sample when run the backward pass (keep_samples=0). I solved my problem by settings contributed loss to zero when `

[2017-07-03 09:08] albertz opened #11240 "tf.control_dependencies does not work with variable initializer for read_value?"
Consider this code:

[code]

It should always succeed. However, it stochastically fails (maybe in about 75% of the runs or so), with the error:
[code]

TensorFlow v1.2.0-rc2-21-g12f033d, 1.2.0, installed via pip, on Ubuntu 16.04 Linux.
It only seems to happen with GPU.

I think on TF 1.1 and earlier this worked, although maybe for some reason the probability to fail was much lower there and I didn

[2017-07-03 09:15] AnishShah commented on #11101
ping

[2017-07-03 09:19] julj commented on #11144
Sure.

For the reason explained in my first description of the issue, stacking PhasedLSTMCells with MultiRNNCell, e.g.

[code]

 raises the following error :

[code]

A (maybe not very elegant) option to solve this issue is to write a dedicated MultiPhasedLSTMCell with the patch I provided.

[2017-07-03 09:19] albertz commented on #11168
Note: I checked the commit logs, and there have been several breaking changes. First for TF 1.0 it was changed to what I was expecting in commit 92da8abfd35b93488ed7a55308b8f589ee23b622. Then the breaking change I was talking about here was introduced in 157370e5916b85c65958ed8383ae31d727228ed7. My argument in this GitHub issue was that this should not have been done. There is really no point in p

[2017-07-03 09:28] kwotsin commented on #11182
I might have just solved this problem by looking at what #8897 did. Basically, I had to include the argument `--copt="-DTENSORFLOW_DISABLE_META" ` when building the `libtensorflow_inference.so` file. This reduced the library size for android and made the performance almost exactly as expected when run on a desktop.

Here is the full command to build libtensorflow_inference.so:
[code]

and then the

[2017-07-03 09:30] AirAI commented on #2604
@JcmeLs  Hi JcmeLs. My code worked well in tf v0.8.0. I updated the tf.pack in tf v0.8.2 to tf.stack in tf v1.2.0. It reported the same error: '''OutOfRangeError (see above for traceback): FIFOQueue '_1_batch/fifo_queue' is closed and has insufficient elements (requested 1, current size 0) [[Node: batch = QueueDequeueManyV2[component_types=[DT_UINT8, DT_UINT8], timeout_ms=-1, _device="/job:localho

[2017-07-03 09:37] albertz opened #11241 "[Feature request] add checkpoint_convert.py script to pip package"
In the TensorFlow 1.2.0 pip package (at least for Linux), [checkpoint_convert.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/rnn/python/tools/checkpoint_convert.py) is not included. Because of #11168, 92da8abfd35b93488ed7a55308b8f589ee23b622, 157370e5916b85c65958ed8383ae31d727228ed7, it might be useful. Esp., in our framework, I would like to add some automatic handlin

[2017-07-03 09:41] AirAI commented on #2604
@JcmeLs  Hi JcmeLs. My code worked well in tf v0.8.0. I updated the tf.pack in tf v0.8.2 to tf.stack in tf v1.2.0. It reported the same error:
`OutOfRangeError (see above for traceback): FIFOQueue '_1_batch/fifo_queue' is closed and has insufficient elements (requested 1, current size 0) [[Node: batch = QueueDequeueManyV2[component_types=[DT_UINT8, DT_UINT8], timeout_ms=-1, _device="/job:localhost

[2017-07-03 09:51] albertz commented on #11236
Maybe you used a different TF version for the C++ code? In [here](https://github.com/tensorflow/tensorflow/blob/0c58158903ea9a3af612ae428c6cb3dede4abf16/tensorflow/core/ops/training_ops.cc#L1162) you see that `use_nesterov` is part of the `ApplyAdam` op. That was introduced in commit 53cb26d05a5c2080d8022124178b1cc43a30ffe5, which is part of TF 1.2.0.

[2017-07-03 10:46] adler-j commented on #11203
`Lop` is equivalent to `tf.gradients`, but tensorflow does not explicitly have `Rop` built in.

With that said, [you can use some tricks to get it done](https://www.reddit.com/r/MachineLearning/comments/6gvv0o/r_first_blog_post_a_new_trick_for_calculating/).

[2017-07-03 11:33] MoAbd commented on #851
Hello all, I was able to install TensorFlow v1.0.1 on Tegra X1 using the build by @barty777
Is there build availabke for TensorFlow v1.2 ?

[2017-07-03 11:53] yylonly opened #11245 "The data type conversion between int32 and float32"
My project require convert the data type of tensor (dtype=float32) to int32, and then I need turn the dtype back (from int32 to float32) after some operations.
 The code is

But following errors appears, how to solve it?

[2017-07-03 12:30] jakiechris commented on #11231
some one help me~~

[2017-07-03 12:55] gunan commented on #9072
As announced in 1.1 we will drop official support for mac-gpu setups.
The reasons are as @martinwicke described.
However, the configuration files and all the necessary code is still in there. There were some test failures the last time we ran the tests, but it should not effect most training tasks.
If you run into any issues, the contributions are most welcome, and we will consider any PRs fixing

[2017-07-03 13:29] nisseb commented on #11235
I don't have a working solution but I have come a little longer on this issue.

You can use this tool to summarize your graph:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/graph_transforms#inspecting-graphs

It will give you suggestions for outputs:
Found 4 possible outputs: (name=detection_boxes, op=Identity) (name=detection_scores, op=Identity) (name=detection_classes, o

[2017-07-03 14:45] mdfirman commented on #7855
This seems to have now been implemented as `tf.nn.conv3d_transpose`:

https://www.tensorflow.org/api_docs/python/tf/nn/conv3d_transpose

[2017-07-03 14:56] SacredSkull commented on #559
Just a note for others having this problem:

If you're inside a conda/virtualenv, make sure that your global python/conda installation doesn't have an older version inside. Deleting it promptly made keras/tensorflow work correctly in my case.

For windows you can find the "global" packages in
`%APPDATA%\..\Local\Continuum\Anaconda\Lib\site-packages`

[2017-07-03 15:12] Deepak- opened #11247 "Standalone Embedding Projector does not load bookmarks"
The standalone[ Embedding Projector](http://projector.tensorflow.org/) does not open the _Load bookmarks_ window for me all of a sudden. _Save bookmarks_ and everything else still works though.

I am on Windows 7 (Enterprise) using Chrome (Google Chrome	59.0.3071.115 (Official Build) (64-bit) (cohort: Stable)).

[2017-07-03 15:30] #11189 closed

[2017-07-03 15:37] ankitachandak commented on #11122
@ramanishka @mikowals Yes force setting CPU works! Thanks for the hack.

Although I hope tensorflow resolves this issue as the workaround won't be of much help later as I am trying to play around LLVM and I would prefer to run it without any hacks.

[2017-07-03 15:45] sachinh35 commented on #8191
I am totally new to this. Maybe this a pretty basic question but could you tell what argument to be passed as the decoder cell in this code? I am trying to develop the seq2seq as shown in the tensorflow tutorial using own dataset.
`# Copyright 2015 The TensorFlow Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in

[2017-07-03 15:46] yuanzhaoYZ commented on #5777
Thanks @pierrekilly ! That worked for me.
I was able to get around the issue by running the following script after my devbox wakes up.

[code]

[2017-07-03 16:04] ebrevdo commented on #8191
This is a good question for stack overflow.

On Jul 3, 2017 8:46 AM, "sachinh35" <notifications@github.com> wrote:

[2017-07-03 16:53] sachinh35 commented on #8191
Okay! thanks though! :)

[2017-07-03 17:04] azadef opened #11248 "error in freeze_graph.py"
### System information
Ubuntu 16.04
Python 2.7.12
Tensorflow 1.2.1 installed using pip
GPU: Nvidia Quadro M2000M 4GB
CUDA V 8.0.4

### Issue
I am trying to recreate the frozen graph using freeze_graph.py from the ssd_mobilenet pretrained model available here:

https://github.com/tensorflow/models/blob/master/object_detection/g3doc/detection_model_zoo.md

I printed the output nodes using the follow

[2017-07-03 17:08] PratsBhatt commented on #8191
@ebrevdo  is there any update on when the new tutorial of seq2seq using new api will come out?
Thank you. Amazing work!.

[2017-07-03 17:11] bwanglzu commented on #647
In case of you've validated tensorflow was corrected installed with terminal, while this error triggered in Ipython notebook, their might be a difference between your local python and ipython version, try this:
[code]
To solve, look at ![this](https://stackoverflow.com/questions/9386048/ipython-reads-wrong-python-version).

[2017-07-03 17:15] prashantserai commented on #8191
yeah waiting for the new tutorial... would be great to know if it's planned to be released anytime soon.. @ebrevdo

tried to take code in the kernel tests and retrofit the beam search with the legacy seq2seq, but it seemed challenging...

[2017-07-03 17:25] ebrevdo commented on #8191
We're hoping for this coming week!

On Jul 3, 2017 10:16 AM, "prashantserai" <notifications@github.com> wrote:

[2017-07-03 17:39] ebrevdo commented on #5193
I'm looking into this, adding cusparse support is nontrivial.  I wouldn't expect anything until August at the earliest.  For now we go have a GPU accelerated sparse_tensor_dense_matmul.

[2017-07-03 18:07] ebrevdo commented on #5193
(it's not trivial because the primitives don't have batched computation
support)

On Jul 3, 2017 10:40 AM, "ebrevdo" <notifications@github.com> wrote:

[2017-07-03 18:53] drpngx commented on #11232
/CC: @rmlarsen

[2017-07-03 18:53] vade opened #11250 "label_image example does not work with Mobilenetv1 (224)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Mac OS X 10.12.5
- **TensorFlow installed from (source or binary)**:
Source
- **TensorFlow version (use command below)**:
Github tag 1.2 release
- **Python version**:
2.7 (Mac OS X System install)
- **Bazel v

[2017-07-03 18:56] vade commented on #11180
I suspect thats the issue, and the comma's etc are not parsed by the config script correctly.

[2017-07-03 20:43] jmchen-g commented on #8552
Right. That op get_clean_up_op was gone for a while. This issue should be
closed.

On Sun, Jul 2, 2017 at 7:31 AM, Yong Tang <notifications@github.com> wrote:

[2017-07-03 22:27] feranick opened #11252 "AttributeError when calling train in tf.estimator.DNNClassifier"
### System information
- I wrote a custom script, using the tf.estimator.DNNclassifier. Source code below.
- **OS Platform and Distribution**: MacOS 10.12.5
- **TensorFlow installed from**: source
- **TensorFlow version**:  v1.2.0-1741-g88633a8eb 1.2.1
- **Python version**: 3.6
- **Bazel version (if compiling from source)**: 0.5.2
- **CUDA/cuDNN version**: N/A
- **GPU model and memory**: N/A
- **E

[2017-07-03 22:33] printdhruv commented on #11247
My Chrome Version is `59.0.3071.115 (Official Build) (64-bit)` which is as same as your one. It's working completely fine. I would suggest if the tensor is too big then it takes a while to load.
If it's not working fine then please provide in-depth insight including options which you have selected while saving a bookmark and loading a bookmark.

[2017-07-03 22:50] rogerguess opened #11253 "pip or package issues"
Over the past few hours I have tried to run pip install --upgrade tensorflow_gpu  roughly 20 times, and keep getting read time out from pypi.python.org.  I finally added the --verbose and -- timeout 10000 to troubleshoot. Now I get this:

  Using version 1.2.1 (newest of versions: 1.2.0, 1.2.1)
  Looking up "https://pypi.python.org/packages/47/81/2b8020393615b06af06e0d7c32d74b9a844ebebf4385f9eb00c

[2017-07-03 22:53] printdhruv commented on #11245
Here are some suggestions: -

(1) `ValueError: Tried to convert 'x' to a tensor and failed. Error: None values not supported.` which implies the value of `x` used in first line of your code `y = tf.to_int32(x)` is missing.

(2) Please review guidelines for raising an issue here. [https://github.com/printdhruv/tensorflow/blob/master/ISSUE_TEMPLATE.md](https://github.com/printdhruv/tensorflow/blob/m

[2017-07-03 22:57] AKSHAYUBHAT commented on #8551
Once you upgrade to TF 1.2 decode_png will decode both jpg as well as png and vice versa. decode_image cannot be used along with resize since it also supports .gif .

You can read this thread: https://github.com/tensorflow/tensorflow/issues/9356

[2017-07-03 23:43] printdhruv commented on #11253
I think the latest attempt to `Build #227 (Jul 3, 2017 2:25:07 AM) ` failed for `Windows GPU.`

I believe the most recent and stable version built was `tensorflow_gpu-1.2.0-cp36-cp36m-win_amd64.whl`.

However, the `pip install --upgrade tensorflow_gpu ` is attempting to download the `tensorflow_gpu-1.2.1-cp36-cp36m-win_amd64.whl` which is not the `build : pass` so it's not working I guess.

Hope i

[2017-07-04 00:31] snowsky commented on #11239
I reproduced the issue on Ubuntu。

[2017-07-04 01:46] rogerguess commented on #11253
Ah, ok. Thank you. I am not familiar with pip. Can I change the command to force 1.2.0?

[2017-07-04 01:47] shaoyn0817 opened #11254 "Import tensorflow with error information"KeyError: "Couldn't find field google.protobuf.FileOptions.php_class_prefix"""
here is the error information:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/shaoyn/anaconda2/lib/python2.7/site-packages/tensorflow/__init__.py", line 24, in <module>
    from tensorflow.python import *
  File "/home/shaoyn/anaconda2/lib/python2.7/site-packages/tensorflow/python/__init__.py", line 52, in <module>
    from tensorflow.core.framework.graph_p

[2017-07-04 01:48] rogerguess commented on #11253
Still feels like something else is wrong. When I first kit it off, I get fast download speeds. and now:

` 33% |██████████▊                     | 17.2MB 530bytes/s eta 17:51:51`

[2017-07-04 01:55] alexvays opened #11255 "Feature request: do not reload latest checkpoint on each DNNRegressor.predict() call"
### Describe the problem
Describe the problem clearly here. Be sure to convey here why it's a bug in TensorFlow or a feature request.

Each DNNRegressor.predict (or predict_scores) call reloads model parameters from the latest saved model checkpoint, even if the checkpoint hasn't changed between predict() calls.  This slows down generation of predictions.  It will be helpful to be able to disable

[2017-07-04 02:03] aluo-x commented on #11096
So after testing my successful CPU only AVX enabled build using VS 2015, I have found that it is seriously broken. Specifically I believe there is something with batchnorm. There is a [discussion here](https://github.com/aluo-x/tensorflow_windows/issues/1). Tensorflow tries to allocate an absurdly large array, and either ends up with a dimension mismatch or OOM.

[2017-07-04 02:06] printdhruv commented on #11253
I tried and successfully installed the latest release via `pip install --upgrade tensorflow_gpu` . I would suggest the easy way to uninstall everything and try from scratch with `pip uninstall tensorflow` and try again :)

See installation @ [https://github.com/tensorflow/tensorflow](https://github.com/tensorflow/tensorflow). In your case choose `Windows GPU build history 3.5 / 3.6)` and find out

[2017-07-04 02:28] wm901115nwpu commented on #11235
@nisseb for output_node_name in output_node_names
KeyError: 'detection_boxes'

[2017-07-04 02:30] YMMS commented on #1045
@yaroslavvb , thanks for your replay.

But I have tried:

[code]

It also works. I think maybe the order makes no difference.

In my opinion,

[code]

maybe failed to initialize the associated local variables of  `tf.train.string_input_producer`.

Just Guess.

[2017-07-04 02:36] sddi opened #11256 "wide_n_deep tutorial not work"
Run the wide_n_deep_tutorial.py,  I got the msg like that:

  **## File "wide_n_deep_tutorial.py", line 147, in build_estimator
    m = tf.estimator.DNNLinearCombinedClassifier(
AttributeError: 'module' object has no attribute 'DNNLinearCombinedClassifier'**

**## it shows that DNNLinearCombinedClassifier not in estimator, In the previous version, it seems in tf.contrib.learn**

**## is it a bug ?

[2017-07-04 02:59] ScorpioCPH commented on #11256
In `wide_n_deep_tutorial.py` (r1.2), I can't find any code looks like `tf.estimator.DNNLinearCombinedClassifier`.

Please show me the version which contains `tf.estimator.DNNLinearCombinedClassifier`.

PS, `tf.contrib.learn.DNNLinearCombinedClassifier` works to me.

[2017-07-04 03:00] jakiechris commented on #5360
i successfully built ios  file : tensorflow\contrib\makefile\gen\lib\libtensorflow-core.a

but don't know where the header files are...

any one knows where to find h files ?

here is my technical paths:
https://github.com/tensorflow/tensorflow/issues/11126
https://github.com/tensorflow/tensorflow/issues/11231

[2017-07-04 03:10] sddi commented on #11256
@ScorpioCPH  I use the code from the url :https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/learn/wide_n_deep_tutorial.py

in line 147 there is tf.estimator.DNNLinearCombinedClassifier

and is it the newest?

[2017-07-04 03:28] ScorpioCPH commented on #11256
Yes, your code is newest.

In this [commit](https://github.com/tensorflow/tensorflow/commit/e766804ba7c711ff785b7e14311b56d0d3c9b487)
 3 days ago.

- changes:
<img width="1020" alt="screen shot 2017-07-04 at 11 24 18" src="https://user-images.githubusercontent.com/5319646/27813891-8da12c5a-60ab-11e7-8e56-2575ee947c51.png">

I work on r1.2 instead of `master` branch.

[2017-07-04 03:29] amirjamez opened #11257 "building gexagon_graph_execution for hexagon_DSP failed"
I have followed the build and run script for HVX here, after installing the protobuf and downloading the pre-built libraries the code has failed at :

`error: undefined reference to 'soc_interface_AllocateInOutNodeBuffers'
`here is the related file:

[code]
@satok16 could you help me out here about the linking problem? Running on Ubuntu 16.04.02

[2017-07-04 03:40] snowsky commented on #11023
I got the output of [[ 0.  0.  0.  1.  0.  0.  0.  0.  0.  0.]]. So this can be closed?

[2017-07-04 03:57] sddi commented on #11256
oh,  @ScorpioCPH is it the bug of the newest tutorial？ and how can I run the newest ?

[2017-07-04 04:01] ScorpioCPH commented on #11256
I don't think this is a bug, because master branch is ongoing.

Maybe you can use `released` version, such as [v1.2.0](https://github.com/tensorflow/tensorflow/releases/tag/v1.2.0).

[2017-07-04 04:05] ScorpioCPH commented on #11254
Reinstall `protobuf` maybe helpful:

[code]

[2017-07-04 04:33] sddi commented on #11256
OK, I will try the released version~~~thank you~~:D

[2017-07-04 05:10] ScorpioCPH commented on #11256
My pleasure~

[2017-07-04 05:49] rogerguess commented on #11253
uninstall? this is virtualenv? there is nothing to uninstall unless I have no clue what I am doing (which is possible.. first time trying all of this)...

I am on Windows 10... I can do tensorflow 101 examples that can clearly see my GPU. But when I start a virtualenv it cannot see tensorflow. I assume that is by design?

[2017-07-04 05:59] ribx commented on #10529
Just as a note: everything works fine when I compile outside my virtualenv.

[2017-07-04 06:00] gunan commented on #11253
The issue here is definitely not related to TF code itself, more user issues around pip and virtualenv. I will therefore close this issue.
Please reach out to pip and virtualenv user manuals, or stackoverflow for such issues not related to bugs in TF code itself.

[2017-07-04 06:00] #11253 closed

[2017-07-04 06:15] rogerguess commented on #11253
brilliant

[2017-07-04 06:30] OlavHN commented on #11239
While moving it out of the function scope solves the issue of initializing and reading, it doesn't seem to solve the issue of mutating the variable from inside the function. e.g.:

[code]

gives the error log:

[code]

This is also tested with tensorflow CPU version compiled against master branch (afa03e2fd91a2d4a7dc960)

[2017-07-04 06:34] ManojPabani opened #11263 "Image Retrain Inception only check the own specific category not tensor dataset"
I have retrained the inception model from my data set of traffic sign.Its working fine but when I am trying to check other image e.g panda it's resulting with the name of traffic sign with some probabilities.I don't understand why its doing it.I need both tensor-flow data-set and my own category too. My steps:

-I have installed the python 3.5.2 in windows 7

-I installed tensor-flow with pip --in

[2017-07-04 06:55] nisseb commented on #11235
Yes, that is what I got as well, because of what I wrote after:
"However, this will not work either ..."

If you run the inspecting graphs script you see that all output nodes are IdentityOp which are removed by the quantize graph script (I think (?)).

Maybe try your luck with transform_graph:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/graph_transforms#inspecting-graphs

[2017-07-04 06:59] xzy256 commented on #6322
@danielgordon10  I run the code successfully. But when i open `localhost:6006/#embeddings`, tensorboard `fetching sprite image... parsing metadata`  takes forever. Somebody knows why?

[2017-07-04 07:27] ckalas opened #11265 "faster-rcnn incompatible shapes randomly during training custom dataset"
I'm trying to train faster-rcnn with resnet101 on a custom dataset, which I have formatted appropriately for tf. When I run training, it can run anywhere from 30-1000 steps before it gives me an error like this:

[code]

The dimension mismatch is from what I can tell from from looking in losses.py the number of anchors, but I really don't know how to try debug this. FWIW, the training on ssd runs

[2017-07-04 07:38] Deepak- commented on #11247
@printdhruv Thank you for your response, however, maybe I was not really clear about the problem.

The issue is that the window to select the saved bookmark does not even appear when clicking on it.
I have only 21k vectors (each with a 300 dimension), so not that big I suppose. The weird thing is that everything worked perfectly a month ago.

In terms of saving and loading, I just used default set

[2017-07-04 08:03] phonism opened #11266 "how to trace the training time of the layers"
I am training the CNN, I have embedding layer, conv layer, fc layer and etc. I can get the training time per batch, but how can I get the training time of each layer per batch?

[2017-07-04 08:20] jakiechris commented on #11231
under linux , i copied libtensorflow-core.a to /usr/local/lib and tensorflow folder to /usr/local/include,
then i copied benchmark_model.cc and benchmark_model.h to my own project ,
and i -ltensorflow-core in my project, then run into a runtime issue:

/root/61_ecg_sdk/src/mytensorflow/benchmark_model.cc:533: undefined reference to `tensorflow::TestReporter::TestReporter(std::string const&, std::s

[2017-07-04 08:26] minhlab opened #11267 "Inconsistent default value"
In this doc:

the default value for `validate_shape` and `use_locking` is different between the method signature and the explanation below it.

[code]

vs.

[code]

[2017-07-04 08:32] printdhruv commented on #11253
@rogerguess Please review guidelines before raising an issue.[https://github.com/tensorflow/tensorflow/blob/master/ISSUE_TEMPLATE.md](https://github.com/tensorflow/tensorflow/blob/master/ISSUE_TEMPLATE.md)

Also, note that `Anaconda` is not officially supported by tensorflow. It's community maintained
package in case you have used that for Windows 10.

I encourage you to follow Installation guidel

[2017-07-04 08:39] jakiechris commented on #11231
this link said the libtensorflow-core.a is incomplete..

https://github.com/tensorflow/tensorflow/issues/7813

[2017-07-04 08:39] jakiechris commented on #11231
some one help me..

[2017-07-04 08:46] TyrionChou opened #11268 "ImportError: No module named google.protobuf"
hello ,there! when i use C++ to call python program that use tensorflow，report this error

Traceback (most recent call last):

File "<string>", line 1, in <module>

File "/root/anaconda2/lib/python2.7/site-packages/tensorflow/__init__.py", line 24, in <module>

    from tensorflow.python import *

File "/root/anaconda2/lib/python2.7/site-packages/tensorflow/python/__init__.py", line 54, in <module

[2017-07-04 08:52] #11256 closed

[2017-07-04 08:53] #11137 closed

[2017-07-04 08:53] jubjamie commented on #11268
_Please make sure you fill in the issue template to ensure that your issue can be troubleshooted correctly. Key information includes System Specs and Tensorflow/CUDA/cuDNN versions. Without this it's harder to help!_

What happens when you run it in a normal python environment? Does tensorflow work as expected?

[2017-07-04 09:00] jubjamie commented on #11266
_Warning: As this doesn't appear to be a bug with Tensorflow, the devs may ask for this to be moved to Stack Overflow._

Does this duplicate question help? #1824

Or these resources found when searching google?
https://medium.com/towards-data-science/howto-profile-tensorflow-1a49fb18073d
https://stackoverflow.com/a/37774470/7604321
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/py

[2017-07-04 09:02] TyrionChou commented on #11268
system is centos 7.tensorflow is 1.1.0. when I run it in a normal python environment it can run correctly

[2017-07-04 09:03] jubjamie commented on #11263
_Warning: As this doesn't appear to be a bug with Tensorflow, the devs may ask for this to be moved to Stack Overflow._

This is because when you have trained with your dataset you are retraining the final output layers with new classes (traffic signs). This will not retain the imagenet results. This is a question for S/O.

If you decide to move this issue to Stack Overflow, please post the link h

[2017-07-04 09:07] OlavHN commented on #11239
As a "workaround" / hack it's possible to split the dataset into two, and reinitialize the second dataset from the first on each session run:

[code]

The reason for wanting this functionality is making oversampling part of the dataset pipeline by keeping a running average of the input distribution (i.e. calculate statistics on the original data, but output oversampled datapoints at the end of the

[2017-07-04 09:11] jubjamie commented on #11268
I'm not familiar enough with C++ or PyRun and don't want to lead you in the wrong direction. Are your tensorflow, protobuf installations in the site-packages area or are they in an environment somewhere? I notice you're using Anaconda so perhaps you are using anaconda incorrectly with this system? You may some package conflicts.

I presume you're otherwise unable to use the C++ version of Tensorfl

[2017-07-04 09:26] zaccharieramzi commented on #11103
Sorry to answer only now. I understand the fix that you suggested and had applied it.
However, I don't understand with your explanation how the following works:
[code]
 and this doesn't:
[code]

[2017-07-04 09:26] jakiechris commented on #11231
is all header files of libtensorflow-core.a in tensorflow\contrib\makefile\gen\proto\tensorflow ?

[2017-07-04 09:46] asimshankar commented on #11232
For now, you'll have to build the native library from source. Something along the lines of (see the [README](https://github.com/tensorflow/tensorflow/tree/r1.2/tensorflow/java#building-from-source) for details):

[code]

If the native library is available in the JVM path (e.g., `-Djava.library.path=...`), then it will be preferred over the native library packaged in Maven (see [`NativeLibrary.java

[2017-07-04 10:02] #11266 closed

[2017-07-04 10:06] johnfrombluff opened #11269 "Build failure for r1.2 & master (r1.1 builds fine)"
### System information
== cat /etc/issue ===============================================
Linux Lounge 4.11.8-200.fc25.x86_64 #1 SMP Thu Jun 29 16:13:56 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
VERSION="25 (Workstation Edition)"
VERSION_ID=25
REDHAT_BUGZILLA_PRODUCT_VERSION=25
REDHAT_SUPPORT_PRODUCT_VERSION=25

== are we in docker =============================================
No

== compiler =======

[2017-07-04 10:08] Orion34C commented on #11163
I have encountered the same problem. Any solution?

[2017-07-04 11:41] EfratSo commented on #7201
charlesq34 - you said it works when you specify {isTrain: True}, but what if you need the condition to be dependent on the inputs?
I can't feed in advance the feed_dict on the  "initialize_all_variables" stage, because I later on have multiple calls for sess.init().

any ideas?

[2017-07-04 12:19] Quense commented on #11217
Got exactly the same issue.

[2017-07-04 12:32] martin-gorner commented on #10399
Same problem here. All you need in your code is to include an export strategy and the checkpoints garbage collector will raise an exception:

saved_model_export_utils.make_export_strategy(
            model.serving_input_fn,
            default_output_alternative_key=None,
            exports_to_keep=1

[2017-07-04 13:04] azadef commented on #11248
The problem is solved, I used export_inference_graph from object_detection using this command:

`python export_inference_graph \
    --input_type image_tensor \
    --pipeline_config_path path/to/ssd_mobilenets_coco.config \
    --checkpoint_path path/to/model-ckpt \
    --inference_graph_path path/to/inference_graph.pb`

I had to make a new config file for coco, I used ssd_mobilenets_pets and cha

[2017-07-04 13:04] #11248 closed

[2017-07-04 13:04] 1234clam opened #11271 "tensorflow.python.framework.errors.NotFoundError: No algorithm worked!"
I install the TensorFlow 0.10.0 on Ubuntu 14.0.4 with cuda 7.5 and cudnn 5.1.The GPU is GTX980
when I run a softmax example on minst dataset the TensorFlow can work but when i build CNN with TensorFlow it will cause error.
[code]
if you can help me solve the problem or give some advice, it will be great

[2017-07-04 13:07] jakiechris commented on #11231
i searched the compile trace log , found that only part of the objs are packed into libtensorflow-core.a.

tensorflow/core/util/reporter.o is not packed to libtensorflow-core.a , which benchmark needed .

[2017-07-04 13:36] shanalikhan commented on #10866
I'm in office cant access that code
instead of

I used something like

[2017-07-04 13:44] oxydron commented on #11122
Used the following command, trying to guarantee that it uses the SSE4.[1,2] and AVX:
[code]

After the **pip installation**, tryed to run a Keras project and got this error:

*"Using TensorFlow backend.
2017-07-04 10:30:20.681180: F tensorflow/compiler/xla/statusor.cc:41] Attempting to fetch value instead of handling error Not found: could not find registered computation placer for platform Execut

[2017-07-04 13:58] ebonight337 commented on #9469
@mateon1
https://stackoverflow.com/questions/35953210/error-running-basic-tensorflow-example

[2017-07-04 14:04] lidawei opened #11272 "error in tensorflow/tensorflow/examples/tutorials/word2vec/word2vec_basic.py"
### System information
== cat /etc/issue ===============================================
Linux ai 2.6.32-642.11.1.el6.x86_64 #1 SMP Fri Nov 18 19:25:05 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
LSB_VERSION=base-4.0-amd64:base-4.0-noarch:core-4.0-amd64:core-4.0-noarch:graphics-4.0-amd64:graphics-4.0-noarch:printing-4.0-amd64:printing-4.0-noarch

== are we in docker ===================================

[2017-07-04 14:07] tcmxx commented on #11062
Or if anybody can tell me how to do that myself..Just like the official cpu version...?

[2017-07-04 14:08] HumamAlwassel commented on #11217
A workaround is to replace the line
`from tensorflow.tools.compatibility import ast_edits`
with
`import ast_edits`
while making sure that the file [ast_edits.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/compatibility/ast_edits.py) is in the same directory as the `tf_upgrade.py` script.

[2017-07-04 14:24] drasmuss opened #11273 "Memory leak when using `tf.layers`"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.2.1
- **Python version**: 3.5
- **Exact command to reproduce**:

[code]

### Describe the problem
There is some kind of memory leak when repeatedly building graphs containing `tf.layers` elements.

[2017-07-04 15:02] minhlab commented on #9506
I'm stuck with this problem. I would like to [pre-load data into GPU](https://www.tensorflow.org/programmers_guide/reading_data#preloaded_data) to keep communication overhead low and my data (natural language) is all integers. I tried to cast it into float32 to fit in the GPU but `tf.nn.embedding_lookup` would not run (while Torch does allow this use). Could somebody help?

[2017-07-04 15:37] drasmuss commented on #11273
I believe this is the cause, as it keeps a global mapping to all the Graphs that are created (preventing them from being garbage collected)

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/layers/base.py#L674

[2017-07-04 15:43] carlthome opened #11275 "tfcompile with tf.nn.dynamic_rnn crashes"
Trying to build a C++ binary with tfcompile crashes with `INVALID ARGUMENTS: Mising Exit successor to rnn/while/Switch` if the graph contains `tf.nn.dynamic_rnn`, but it works with `tf.nn.static_rnn`. Why is this?

[2017-07-04 16:08] JackieLeeTHU11 commented on #8670
@aselle Hi  Aselle, I encounter a similar problem. I user inception_v2 as a base network. During training, the batchsize=128. During testing, if the batchsize=128, everything is ok. However, if the batchsize is smaller than 128 the results are different. And the precision declines as the batchsize drops. If the batchsize=1, the network will failed. I also used inception_v3, the same problems apper

[2017-07-04 16:14] terrytangyuan commented on #10081
This was fixed long time ago but seems like it's failing again. For example, last successful [MAC CPU nightly build](https://ci.tensorflow.org/view/Nightly/job/nightly-matrix-cpu/TF_BUILD_IS_OPT=OPT,TF_BUILD_IS_PIP=PIP,TF_BUILD_PYTHON_VERSION=PYTHON2,label=mac-slave/) was on June 28th. Just in case you are not aware of this.

[2017-07-04 16:46] eth-n commented on #9080
@waynesuzq wow, if it doesn't even work with a single context, it sounds like a problem with MPS like @elefthei said.

By the way, I just ran into this GTC presentation with CUDA profiling tools from a few years back (introducing what's new in CUDA 6.0). Maybe some of the described tools could help someone visualize where their conflicts occur? http://www.sie.es/wp-content/uploads/2015/12/cuda-pro

[2017-07-04 17:20] oxydron commented on #10596
Same problem and `conda install libgcc` don't solve it.

ImportError: /home/bh/anaconda3/envs/keras2/bin/../lib/libstdc++.so.6: version `GLIBCXX_3.4.22' not found (required by /home/bh/anaconda3/envs/keras2/lib/python3.6/site-packages/tensorflow/python/_pywrap_tensorflow_internal.so)

[2017-07-04 17:21] oxydron commented on #10596
Same problem and `conda install libgcc` don't solve it.

ImportError: /home/bh/anaconda3/envs/keras2/bin/../lib/libstdc++.so.6: version `GLIBCXX_3.4.22' not found (required by /home/bh/anaconda3/envs/keras2/lib/python3.6/site-packages/tensorflow/python/_pywrap_tensorflow_internal.so)

[2017-07-04 18:45] amirjamez commented on #11210
@satok16 just wanted to update you that I rebuild from source (without using -p) and it seems to be working. Maybe the [linking](https://github.com/tensorflow/tensorflow/issues/11257) and the above issue had to do something with the mismatch of the libraries.

[2017-07-04 18:45] amirjamez commented on #11257
The issue resolved when I rebuild al from source-code (without -p prebuilt library option).

[2017-07-04 19:37] madhurcodes opened #11277 "Tensorflow Windows Bug with BeamSearchDecoder"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes,
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: Pip Binary
- **TensorFlow version (use command below)**: 1.2.1
- **Python version**: 3.5
- **Bazel version (if compiling from source)**:
- **CUD

[2017-07-04 19:39] drpngx commented on #11267
Hi @minhlab the documentation is correct. When `None` is passed, the operator will get the [default](https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/python/framework/op_def_library.py#L304), which is defined in the op [def](https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/state_ops.cc#L162).

[2017-07-04 19:39] #11267 closed

[2017-07-04 19:39] pcherkasova opened #11278 "Examples in 'Getting started with tensor flow' use deprecated methods"
https://www.tensorflow.org/get_started/get_started
Basic Usage example output:

WARNING:tensorflow:Using temporary folder as model directory: C:\Users\pocherka\AppData\Local\Temp\tmpaq48b_3u
WARNING:tensorflow:From C:\Users\pocherka\AppData\Local\Programs\Python\Python35\lib\site-packages\tensorflow\contrib\learn\python\learn\estimators\head.py:625: scalar_summary (from tensorflow.python.ops.loggi

[2017-07-04 19:46] RohitDulam opened #11279 "Want to build tensorflow for android but stuck at this problem."
OS Platform and Distribution : Windows 10
Bazel version :0.5.2

C:\Users\dulam\tensorflow>bazel build -c opt //tensorflow/contrib/android:libtensorflow_inference.so
ERROR: C:/users/dulam/tensorflow/tensorflow/core/BUILD:1415:1: no such target '//tensorflow/tools/git:gen/spec.json': target 'gen/spec.json' not declared in package 'tensorflow/tools/git' defined by C:/users/dulam/tensorflow/tensorflow

[2017-07-04 19:49] #8552 closed

[2017-07-04 20:45] slandersson opened #11280 "Can't access gs:// logfiles using tensorboard"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 14.04
- **TensorFlow installed from (source or binary)**:
pip install
- **TensorFlow version (use command below)**:
1.2.1
- **Python version**:
3.6
- **Exact command to reproduce**:
`tensorboard --logdi

[2017-07-04 20:52] sammyslamma opened #11281 "Failed to load the native TensorFlow runtime."
### Describe the problem
I'm not sure what I did incorrectly. I opened up the anaconda prompts and followed the steps here: https://gist.github.com/jeffgreenca/28e0fe58644b8af48f97a3e18fe08302

### Source code / logs
Traceback (most recent call last):

  File "<ipython-input-2-41389fad42b5>", line 1, in <module>
    import tensorflow as tf

  File "/sscc/home/s/snu8359/.conda/envs/tensorflow/lib/p

[2017-07-04 20:54] drpngx commented on #11268
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-07-04 21:01] #11268 closed

[2017-07-04 21:04] drpngx commented on #11271
@mjanusz any idea? It looks like we're trying to get timings before some streaming operation is done?

[2017-07-04 21:06] drpngx commented on #11272
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-04 21:06] #11272 closed

[2017-07-04 21:07] drpngx commented on #11275
@tatatodd any idea?

[2017-07-04 21:09] drpngx commented on #11281
You are using tensorflow on a platform that is too old for the current binary. You need one that has `glibc-2.14` or later. At this point, your options are to upgrade your system or build tensorflow yourself.

[2017-07-04 21:09] #11281 closed

[2017-07-04 21:10] RohitDulam commented on #4279
I'm having the same issue, (gen/spec.json not declared in package) but I'm using Windows 10, so how do I run ./configure on windows? Or is there any other solution for the issue?

[2017-07-04 21:14] drpngx commented on #11280
@rinugun any idea?

[2017-07-04 21:15] drpngx commented on #11279
For windows, it's best that you use the CMake solution right now, in `contrib/cmake`.

[2017-07-04 21:16] drpngx commented on #11278
There is a PR against #11159 to fix that.

[2017-07-04 21:18] RohitDulam commented on #11279
I'm new to this, can you give me a reference link that explains the procedure you just said. @drpngx

[2017-07-04 21:27] hbs commented on #10478
Same problem arises when using tf.train.batch

[2017-07-04 21:33] drpngx commented on #11279
Oh, wait, do you want to cross-compile from windows to android?

[2017-07-04 21:37] RohitDulam commented on #11279
I want to train a classifier on my windows machine and use it in an android application.

[2017-07-04 21:44] drpngx commented on #11279
Ah, OK. I'd recommend downloading the binary for windows, building your model, then downloading the binary for android, then copying the binaries over. There is no HOWTO AFAIK.

@mhyttsten might have a clue. If not, that might be a good document to have.

[2017-07-04 21:46] drpngx commented on #11277
CC: @ebrevdo

Could you check that the binary is [loaded](https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/seq2seq/python/ops/beam_search_ops.py#L24) only once?

[2017-07-04 21:49] minhlab commented on #11267
Still, it's counter-intuitive. I think the documentation can be better.

[2017-07-04 21:50] ebrevdo commented on #11277
Which line triggers the exception?

[2017-07-04 22:03] madhurcodes commented on #11277
The last line (sess.run).

[2017-07-04 22:42] thisHemit commented on #136
Encountered the same problem with a 2GB GeForce GT 710(btw it worked well the first time) on Linux Mint KDE 18(Sarah). @ChinChangYang 's solution works flawlessly and finally saved me after two days of failing to fix this.

[2017-07-04 22:52] ebrevdo commented on #11277
It could be a bug in the cmake files... Perhaps we're building the op
kernel library twice. Derek may know more.

On Jul 4, 2017 3:04 PM, "madhurcodes" <notifications@github.com> wrote:

[2017-07-04 22:58] printdhruv commented on #11247
@Deepak- The following log get generated while you are trying to load bookmark!

`Uncaught TypeError: Cannot read property 'select' of undefined`
    `at HTMLElement.b._uploadFile ((index):10152)`
    `at HTMLElement.d ((index):4668)`
   ` at HTMLElement.fire ((index):4690)`
    `at Object.fire ((index):4678)`
    `at Object.forward ((index):4685)`
    `at Object.touchend ((index):4685)`
    `at H

[2017-07-04 23:07] drpngx commented on #11277
@madhurcodes could you check that you're not loading the library twice?

/CC: @guschmue @mrry

[2017-07-05 01:03] gunan commented on #10081
As nightlies run a much larger suite of tests, their breakages are expected. We try to fix them before each release.
@av8ramit could you take a look into the failures to see if they are flakes or actual failures.
Please escalate to owners of components if you find actual breakages.

[2017-07-05 01:18] rickymf4 commented on #2353
found "Uncaught SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode"
![2017-07-05 09 03 36](https://user-images.githubusercontent.com/9128530/27845408-c745f24a-6161-11e7-98a0-1b0401faee65.png)

just add "use strict"; to the function blocks in python2.7/site-packages/tensorflow/tensorboard/dist/tf-tensorboard.html, and it works.
![2017-07-05 09

[2017-07-05 01:29] superman1216 commented on #11277
No I'm doing nothing special. I just installed tensorflow from pip and executed that python file and it produces that error.