[2020-09-10 15:10] Saduf2019 commented on #43080
@peter197321
please share the code anf tf version or colab gist for us to analyse.

[2020-09-10 15:16] #42693 closed

[2020-09-10 15:31] bhack commented on #43111
Can you share a dummy, minimal, but runnable model definition to run the dummy set?

[2020-09-10 15:38] kwanchet opened #43114 "Problem saving and loading Keras Model that was built with StellarGraph library"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
I am using Ste

[2020-09-10 15:52] ben-arnao commented on #43111
@bhack https://colab.research.google.com/drive/1uy8kr4efsRWB759M9avlpCOsWD3rQMpC#scrollTo=vDXjYZ43tbPI&line=95&uniqifier=1

[2020-09-10 15:54] bhack commented on #43111
Please remove authentication from the colab example.

[2020-09-10 15:59] srjoglekar246 commented on #41485
I see. Can you try using [dynamic range quantization](https://www.tensorflow.org/lite/performance/post_training_quant#optimizing_an_existing_model)? It will give you a smaller model, and may not have the DEQUANTIZE issue.

In general, the debug statements can be a little weird, so I wouldn't worry if the speedup is good.

[2020-09-10 16:00] edumotya commented on #38220
I cannot convert a model composed by a single ConvLSTM2D layer into tflite. The issue persists in tensorflow 2.3.0. I have also tried with tf-nightly 2.4.0-dev20200910 and the error is the same:

`ValueError: Input 0 of node sequential/conv_lst_m2d/AssignVariableOp was passed float from sequential/conv_lst_m2d/convolution_4/ReadVariableOp/resource:0 incompatible with expected resource.`

See this

[2020-09-10 16:02] ben-arnao commented on #43111
My bad. Hopefully this is better https://colab.research.google.com/drive/1uy8kr4efsRWB759M9avlpCOsWD3rQMpC?usp=sharing

[2020-09-10 16:06] bhack commented on #43111
I don't see the warning in the colab. Can you add something to show the wrong behavior?

[2020-09-10 16:13] ben-arnao commented on #43111
The losses don't match up. I added a line to show that they produce different values despite they are same function, one is just converted to TF

https://colab.research.google.com/drive/1uy8kr4efsRWB759M9avlpCOsWD3rQMpC?usp=sharing

[2020-09-10 16:16] #42698 closed

[2020-09-10 16:20] rachellim commented on #24520
@aynesss , that's a different problem. Namely, your generator dataset has two components `(output_types = (tf.float32, tf.float32))`, but the function you supply to map only takes one argument. In this case, assuming your generator produces an (image, label) tuple, you probably want to rewrite your `distort_simclr` function to take two arguments (`def distort_simclr(image, label): ...`).

See the

[2020-09-10 16:25] gunan commented on #42979
it may be an oversight. Would you like to send a Pull request adding the dependency to libtensorflow_cc ?

[2020-09-10 16:30] bchetioui opened #43115 "tf.signal.ifft returns results with different dtypes for subsequent calls with the same parameter"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian 10.4
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v1.12.1-40510-ga32c74ae8f 2.4.0-dev20200829
- Python version: Python 3.8.3
- Bazel version (if compiling fr

[2020-09-10 16:34] ravikyram commented on #43108
@github2016-yuan

Can you please refer this [link](https://docs.bazel.build/versions/master/install-windows.html#bazel-does-not-find-visual-studio-or-visual-c) and see if it helps you. Thanks!

[2020-09-10 16:39] Harsh188 commented on #42450
@andrescodas unfortunately I'm not the best person to tackle your questions so excuse me if I don't answer your question.

By the looks of it `MetaOptimizer` is the top-level which performs the graph optimizations. Take a look at the list of optimizers provided in https://www.tensorflow.org/api_docs/python/tf/config/optimizer/set_experimental_options and determine which ones suit you. Using `set_o

[2020-09-10 16:42] Aksh-kumar commented on #42979
Thanks for responding back to me.I don' have anything to check in since I didn't change any code what I did just follow the build instruction and all I got is bazel build folder in /tensorflow i.e
/tensorflow/bazel-bin/
/tensorflow/bazel-out/
/tensorflow/bazel-tensorflow/
/tensorflow/bazel-testlogs/
In total all of size near 38.2 GBs
All I want is to use c++ API of tensorflow.

[2020-09-10 16:54] gunan commented on #42979
bazel-* directory sizes are expected, because they include all intermediate files created by bazel. Sometimes multiple times!
What you need is only this file: `bazel-bin/tensorflow/libtensorflow_cc.so` and the headers, which are less than 1GB.
@av8ramit do we have the C++ packages built and uploaded to GCS?
Could you share which script our user should use to get the C++ distributable for TF?

@Aks

[2020-09-10 16:59] macenpav commented on #43080
Hi @Saduf2019
this is the code we have been experimenting with https://gist.github.com/macenpav/404e65a23affc193a428d96a7260a2f4

There is a workaround using tf.lite.OpsSet.TFLITE_BUILTINS, but that creates quantize/dequantize nodes, i.e. f32 layer because RESIZE_NEAREST_NEIGHBOR is not supported (in the UpSampling layer).

On tensorflow==2.3.0 it prints just:
RuntimeError: Quantization to 16x8-bi

[2020-09-10 17:01] Ch33s3Burger commented on #42960
Thx for the catch with python 32-bit i fixed it. I also looked over the system requirements and i have all. And as above metioned my CPU can use AVX2. I am trying it now with python 3.6 64-bit.

[2020-09-10 17:09] CoreyCole commented on #42941
From comparing these two architectures, the model seems to perform about 80% faster on arm while my clock speed on x86 is  2x faster.

x86 avg time = 1.1e+07
arm avg time = 1.9+06

x86 max gHz = 5.0
[arm max gHz = 2.3](https://www.extremetech.com/computing/281338-amazon-launches-new-arm-based-custom-graviton-cpu#:~:text=The%20Graviton%20CPU,clock%20speed%20of%202.3GHz.)

[code]

[2020-09-10 17:16] #38294 closed

[2020-09-10 17:16] #42707 closed

[2020-09-10 17:16] amahendrakar commented on #43107
Was able to reproduce the issue with TF v2.3 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/133fb56d1e1c9cc631a8d21d08fa3dec/43107-tf-nightly.ipynb). Thanks!

[2020-09-10 17:21] andrescodas commented on #42450
Thank you!.  I have seen `set_optimizer_experimental_options` however I'm missing an example use case in the interface of tf.saved_model and grappler.  E.g.

Suppose I have a complex graph that I want to optimize and save for later use:

[code]

Later in a different process I may load it and run,
[code]

[2020-09-10 17:24] dyu41 commented on #42991
It will be better to have the cast automatically. As in my case, tf.searchsorted expects float64 even I only  use float32 in my code.  The other reason can be to have the same code for both numpy array and tensor.

Thanks,

[2020-09-10 17:36] av8ramit commented on #41132
Unfortunately it appears my change did not work, digging into why today.

[2020-09-10 17:38] bhack commented on #43111
@ben-arnao Your autograph tracing on the control flow over `holding` will not work as you expect:
See https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/autograph/g3doc/reference/control_flow.md#all-python-code-paths-are-executed-during-tracing

See also autograph tracing limits:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/autograph/g3doc/reference/li

[2020-09-10 17:43] wu-yy opened #43116 "I want to add a "RecvTensor" Op on "timeline" Tracing for RDMA , But The code does not worked, can help me ?"
The "rdma" extension is now on this[ link ](https://github.com/tensorflow/networking/blob/e1c7ae09923293f9cce5eba0a159e75993b793be/tensorflow_networking/verbs/rdma_rendezvous_mgr.cc#L74)

I want to add "RecvTensor" Op on "Chrome://tracing" which is for rdma.

rdma.cc
`class RdmaTensorRequest {
...
 RdmaChannel* rdma_channel() {
    return channel_;
  }
....
}`

rdma_rendezvous_mgr.cc

[code]

[2020-09-10 17:57] vishnuap25 commented on #24660
even i had the same issue which resolve by installing the right version of cudatoolkit

[2020-09-10 18:00] zacwellmer commented on #40215
No worries and thanks for circling back!

I understand what it is doing but I don't understand why this would be the desired behavior. I don't understand why a different variant of input dropout would silently be used from an arbitrary combination of flags (ex: ```dropout>0``` and ```recurrent_dropout=0``` vs. ```dropout>0``` and ```recurrent_dropout>0``` ).

The only case I could see for sharing

[2020-09-10 18:09] av8ramit commented on #42405
Hello Pratik,

As we discussed on our email correspondences, I was encouraging you to create a bazel test within tensorflow. Regardless, I will still take ownership of the miscommunication. As a courtesy since I did originally tell you that a bazel target would easily allow me to execute, I tried running your bazel target and ran into the following issue `main/python_cpp.cc:2:20: fatal error: Pyth

[2020-09-10 18:18] Aksh-kumar commented on #42979
for tar package It need to contain all header file and libtensorflow_cc.dll, and libtensorflow_cc.lib beacause I want to use in c++ project and I want to use all [c++APIs](https://www.tensorflow.org/api_docs/cc)  which present in
tensorflow/c
tensorflow/cc
tensorflow/core
.....

[2020-09-10 18:22] jdduke commented on #41846
@lu-wang-g can you advise?

[2020-09-10 18:24] av8ramit commented on #42979
@gunan unfortunately we only have the C API uploaded to [GCS](https://storage.googleapis.com/libtensorflow-nightly) via our libtensorflow distributable. Libtensorflow_cc is being planned for Q4 of this year.

[2020-09-10 18:25] mdanatg commented on #43002
`tf.scatter_nd_update` does work with Tensors. In general, there is no mathematical expression that should require a `tf.Variable` to implement.

However, there is a problem with the original code: you may not mix TF and NumPy ops. In other words, you need to use `tf.zeros` instead of `np.zeros`, `tf.constant` instead of `np.array`, `tf.reshape` instead of `x.reshape`, etc.

I'm including the corr

[2020-09-10 18:25] #43002 closed

[2020-09-10 18:26] cheers00 commented on #39890
@surak I built it using the following command. hope it helps.

[code]

[2020-09-10 18:31] sharnoff opened #43119 "Segfault on absurdly large shuffle buffer for `make_csv_dataset`"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch linux kernel 5.8.7 (primary), Ubuntu 18.04 (container)
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): (git) v2.3.0-rc2-23-gb36436b087 (tf version) 2.3.0
- Python

[2020-09-10 18:37] gunan commented on #42979
@Aksh-kumar all of those libraries should already be linked into `bazel-bin/tensorflow/libtensorflow_cc.so`
For the headers, you can simply copy the headers from the source tree, you do not need to look for them under bazel-* folders.

[2020-09-10 18:42] PEYMAN333 opened #43120 "After several iterations the error: "input and filter must have the same depth" is arose"
I am trying to fit my model by using a generator working on my dataset (audio files). I use a gold cluster (SLURM) to run my program including generator for creating my input features and corresponding targets (by using yeilding method, and safe threading), and fit_generator for training my model.
Unfortunetly, after 388 iterations including batches with 128 size, the error:

 tensorflow.python.fr

[2020-09-10 18:50] SarfarazHabib commented on #24570
Hi Any luck on this issue, I am having the same error.

[2020-09-10 18:56] ben-arnao commented on #43111
Thank you for this. I will look into these and see if there is a way to modify the code.

[2020-09-10 18:56] #43111 closed

[2020-09-10 19:04] bhack commented on #43107
@cataclysmus I think that you can experiment to remove `loss=dummy_loss` from compile as it is not mandatory as you can see in:
https://www.tensorflow.org/guide/keras/custom_layers_and_models

since the model already has a loss to minimize, via the `add_loss`
call during the forward pass!

Then you will see:
[code]
I think that you could try to solve this cause there is any "flow" connection betwe

[2020-09-10 19:11] Aksh-kumar commented on #42979
ok @gunan I will try that one.

[2020-09-10 19:12] bsaravi commented on #42142
Is there any update on this?
This bug shows up even in very small network like the following code with or without subclass the keras layers:

import tensorflow.compat.v1 as tf
from tensorflow.compat.v1.keras import layers,Model
from tensorflow.compat.v1.keras.models import Sequential
from tensorflow.compat.v1.keras.backend import set_session
"""
class TModel(Model):
   def __init__(self):
      su

[2020-09-10 19:16] #42576 closed

[2020-09-10 19:22] omalleyt12 commented on #42994
@tom-andersson Thanks for the issue! You're right that calling `model.evaluate` during `model.fit` will reset the metrics. This won't affect training (your model won't train on the validation data), but it will cause the metrics to jump around the first few batches after calling `model.evaluate`. My suggestion would be to perform the `model.evaluate` call on epoch boundaries, since metrics are res

[2020-09-10 19:22] #42994 closed

[2020-09-10 19:30] gowthamkpr commented on #41200
@RomanGirin Please create a new issue as the first issue has been resolved. Thank you!

[2020-09-10 19:32] omalleyt12 commented on #42662
@sayakpaul Thanks for the issue! The `LearningRateSchedule.__call__` method should accept a `Tensor` `step` argument and output a `Tensor` that represents the learning rate to use for that particular step. It looks like your subclass is outputting an entire schedule every step rather than the learning rate for that particular step.

[2020-09-10 19:32] #42662 closed

[2020-09-10 19:38] HarrisDePerceptron commented on #42662
@omalleyt12 any hints to my issue?

[2020-09-10 19:49] omalleyt12 commented on #41693
Thanks for the issue!

Constant Tensors can't be used for losses in Functional Models, because the graph used to build the model is different than the graph used to execute it, and the building graph will capture the constant. Instead if you need a constant loss, you can use a callable loss:

[code]

[2020-09-10 19:49] #41693 closed

[2020-09-10 19:53] omalleyt12 commented on #41571
@jackd Thanks for the issue! I'd recommend using a Dataset that contains every batch you want to train on, and setting steps_per_epoch as an arbitrary number, so that epoch boundaries are just a way to check on the progress of training in your case. If that doesn't work, then you can always write a custom training loop for your use case: https://keras.io/guides/writing_a_training_loop_from_scratch

[2020-09-10 19:53] #41571 closed

[2020-09-10 19:59] rohin-dasari commented on #43094
Your fix works fantastically. Thank you. Although, in my opinion, this behavior is not immediately intuitive, it gets the job done.

[2020-09-10 19:59] #43094 closed

[2020-09-10 20:05] Ch33s3Burger commented on #41850
why is this closed now i still have that issue??????

[2020-09-10 20:07] qlzh727 commented on #40215
The reason we split the logic between dropout = 0 and recurrent_dropout = 0 in recurrent_v2 implementation is that cudnn kernel is a fused op and we can't inject the recurrent dropout for hidden state in each timestep. On the other hand, the input dropout can be done by dropping out the overall input sequence before feeding the input to the cudnn kernel.

Note that in the implementation 2, the beh

[2020-09-10 20:23] sachinkm308 commented on #32790
This worked! Thanks a ton!!

[2020-09-10 20:24] cataclysmus commented on #43107
You should not remove `loss=dummy_loss` because of `ValueError: No gradients provided for any variable` . Imagine this construction to be used as a regularizer of some big matrix in a classification problem. So for the real task `dummy_loss ` will be replaced with crossentropy. Here, I wanted to demonstrate that gradients are zeros, if `map_fn` is used together with `RaggedTensor`. I have already

[2020-09-10 20:31] Abhipray opened #43121 "[TFLu] int8 ops slower than f32"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): pip install tf-nightly
- Tensorflow version (commit SHA if source): 2.4.0-dev20200908
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Cortex M4f

**Describe the problem**
I compared the time spent by `MicroInterpreter::Invo

[2020-09-10 20:34] turowicz opened #43122 "model_main_tf2.py "module tensorflow.compat.v2 has no attribute app""
### System informatio

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: model_main_tf2.py
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04.5
-   **TensorFlow installed from (source or binary)**: 2.3.0
-   **TensorFlow version (use command below)**: v2.3.0-rc2-23-gb36436b087 2.3.0
-   **Python version**: P

[2020-09-10 20:40] turowicz commented on #43122
My Dockerfile:

[code]

[2020-09-10 20:42] #42964 closed

[2020-09-10 20:47] nikitamaia commented on #43039
Can you remove any of the augmentation functions? The tf.record doesn't have to be loaded in the exact format you ultimately want it to be in as long as we can reproduce the error. I understand that some of the preprocessing code is necessary, but just trying to throw out whatever we don't need (while still preserving the error message).

[2020-09-10 20:55] #41690 closed

[2020-09-10 20:55] #42582 closed

[2020-09-10 21:01] spratik commented on #42405
I have mention in readme.md file that you need copy below folders

<tensorflow2.2>\include
<tensorflow2.2>\libs

Then past into below folder path.
 <path>/Python_CPP_Bazel_target/thirdParty/tensorflow

If you copy successful then I don't think you will get above error.

Python.h file present in include folder?

[2020-09-10 21:12] srjoglekar246 commented on #42426
Please look at [this guide](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tf2.md) for TFLite inference.

For post-training quant, Be sure to use a
[representative dataset](https://www.tensorflow.org/lite/performance/post_training_quantization#full_integer_quantization)
and set the following options on the converter:

[code]

[2020-09-10 21:15] zacwellmer commented on #40215
ah gotcha, thanks for the explanation. I'm not sure how the cudnn implementation works but the reasoning sounds like it makes sense

This approach is called "tied-weights LSTM". I agree that the tied-weights approach seems to closely follow traditional uses of dropout (dropping a specific subset of units). However, dropout can also be interpreted as dropping rows of the weight matrix. Through the

[2020-09-10 21:16] #41983 closed

[2020-09-10 21:21] bhack commented on #43107
Yes of course, but don't think it is your dummy case right?  Also cause `loss = tf.reduce_sum(means**2, axis=1)` and others works fine.

Have you tried `tf.map_fn` with something different from `RaggedTensor`?

[2020-09-10 21:29] lu-wang-g commented on #43071
Not sure how you could invoke "input.buffer", since TensorImage does not have the field "buffer". Please try using getBuffer() instead. You image is passed in as a Bitmap, calling getBuffer() will convert the Bitmap instance into a TensorBuffer instance, and then return the ByteBuffer representation of the underlying image.

[2020-09-10 21:35] rposts opened #43124 "Generating ICU normalization_data.c and icu_conversion_data.c on s390x architecture"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (

[2020-09-10 21:49] cataclysmus commented on #43107
Same code, no `RaggedTensor`. It works
[code]
Output:
[code]

[2020-09-10 21:53] gowthamkpr commented on #41417
@NikosSpanos Is this happening with just this model or is it happening with other models too. Can you please try this in a basic example and also using tf-night and let me know i the issue still persists. Thanks!

[2020-09-10 22:12] lu-wang-g commented on #42655
Hi Juho, could you please take a look at this issue?

[2020-09-10 22:17] lu-wang-g commented on #41846
It seems to be related to a recent change on FlatBuffer bazel rules. @MeghnaNatraj could you please double check the case?

[2020-09-10 22:23] PEYMAN333 commented on #43120
Thank you so much bhack for your answer.

I have just tried **fit** instead of **fit_generator** in my program, and the same error was shown at the same iteration (388).
It is really confusing that the error arises after several iterations.

I created a template for this issue and attached a very very minimal program and dataset: [relatedtoissue_43120](https://github.com/PEYMAN333/relatedtoissue_4

[2020-09-10 22:31] nikitamaia commented on #42917
Hi @wstian

I'm running the TF 2.3 code you've provided on a machine with 8 cores. Here's what I see:

batch size 3:
num_calls = 1, cost: 0.20
num_calls = 2, cost: 0.11
num_calls = 3, cost: 0.09
So the cost does go down as you increase the num_calls. Increasing the num_calls beyond 3 doesn't make a difference but I don't think that's surprising that the returns should level off at some point, espe

[2020-09-10 22:45] goldiegadde commented on #34968
@stefanondisponibile  This function ([tf.compat.v1.saved_model.signature_def_utils.MethodNameUpdater](https://www.tensorflow.org/api_docs/python/tf/compat/v1/saved_model/signature_def_utils/MethodNameUpdater)) was specially added so that there's a way to change predict signatures to classify/regress.

Marking this issue as closed, please reopen if this does not work for you.

[2020-09-10 22:45] #34968 closed

[2020-09-10 22:55] goldiegadde commented on #31240
@durang12 closing this one out, as looks like with latest TF version, the issues are resolved .

[2020-09-10 22:55] #31240 closed

[2020-09-10 22:56] goldiegadde commented on #41294
Marking this as closed as it is fixed with the above PR.

[2020-09-10 22:56] #41294 closed

[2020-09-10 23:11] JamesMBartlett opened #43125 "tf.data.experimental.service throws error when using with TPUs"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes, I put an

[2020-09-10 23:14] wstian commented on #42917
num_calls = ``AUTOTUNE`` can decrease but no more than 50%, which is the question.
why the time cannot be decreased with num_calls linearly?

by the way,  as I understood, ``AUTOTUNE`` is a chosen value, which will be constant when the ``map`` work constant, so it should not be better than a manual config value.

From the source code, ``num_calls`` is the concurrent number of map fn calls, put int

[2020-09-10 23:21] hajuho commented on #42655
Hi Anidh,
I'd like to ask some details about the running environment.

- Can you see 'runInference' trace while you cannot see per-operator profiling result?

- Did you use org.tensorflow:tensorflow-lite:0.0.0-nightly for dependency? tensorflow-lite:2.3.0 or older stable aar libraries don't have this feature.

- Is the nightly library is up-to-date version? In your app's build.gradle file add 'cha

[2020-09-10 23:30] mavenlin commented on #42606
The gist provided on colab works because there's no GPU device loaded.
tested with
[code]

Get
[code]

[2020-09-10 23:51] advaitjain opened #43126 "Int16 softmax is using std::vector"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian
- TensorFlow installed from (source or binary): Source
- Tensorflow version (commit SHA if source): 35d9474383c9befd99f457031ada977d681742c4
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): STM32F4

**Describe the problem**
This command:
[code]

Fails with the following error

[2020-09-10 23:58] y-ich opened #43128 "Models for TensorFlow Lite which are quantized according to the post-training quantization does not run on NPU of some devices."
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2020-09-11 00:01] advaitjain commented on #43126
Tagging @freddan80 and @sicong-li-arm

I'm not thrilled with the revert because of the effort involved in getting this landed from everyone involved. I hope there aren't too many side effects. Let's figure out a proper fix if this is high priority for you guys.

[2020-09-11 00:44] k1moradi commented on #35634
You are right. Get_weight function does not need copy(). Interestingly I have reasons to believe that the "restore best weights" is not working for me, but I have already checked and it seems using get_weight().copy() is not the solution.

During training, the running values of a loss function and another metric are getting saved in training logs. We use those values to stop training. We can also

[2020-09-11 01:16] #41183 closed

[2020-09-11 01:42] ryanaleksander commented on #43071
@lu-wang-g The code is in Kotlin, `input.buffer` is equivalent to `input.getBuffer()` in Java

[2020-09-11 02:07] bhack commented on #43107
/cc @edloper Can you take a look to this?

[2020-09-11 02:14] sayakpaul commented on #42662
@omalleyt12 okay. So, how should I approach it if I were to use the schedule I mentioned in the first place?

[2020-09-11 02:19] bhack commented on #43122
You need to update your model for TF2. Has you see It Is changed:
https://github.com/tensorflow/models/blob/master/research/object_detection/model_main_tf2.py#L113

[2020-09-11 02:29] 0gur1 commented on #39521
I also run into this issue with version of v2.4.0.

[2020-09-11 02:44] ShrideviReddy commented on #27519
@Blubbaa Same here. It was only thing that worked for me.

[2020-09-11 02:45] huafeihuayu opened #43129 "Integer quantization error"
Traceback (most recent call last):
  File "D:/hua_work/tf_lite/lite_test.py", line 32, in <module>
    interpreter.allocate_tensors()
  File "E:\Anaconda3\envs\tensorflow23\lib\site-packages\tensorflow\lite\python\interpreter.py", line 243, in allocate_tensors
    return self._interpreter.AllocateTensors()
RuntimeError: tensorflow/lite/kernels/pad.cc:118 op_context.input->type != op_context.consta

[2020-09-11 02:46] lu-wang-g commented on #43071
Could you please verify if input.buffer changes when invoking loadImage(bmp) multiple times?

[2020-09-11 02:51] bhack commented on #43115
For me It works with tf-nightly and:
[code]

[2020-09-11 03:04] TuringEmmy commented on #43115
for me it is:
**2020-09-11 11:01:58.434235**: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN)to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
**2020-09-11 11:01:58.458559**: I tensorf

[2020-09-11 03:05] qlzh727 commented on #40215
Thanks for the detailed reference.

If I understand the "MC" correctly, I don't think keras is currently using MC dropout at test time. Basically dropout is disabled at eval/predict time. And if we remove the item with MC, then the tied weights are actually out performing the untied weights (lower error and higher WPS).

[2020-09-11 03:22] bhack commented on #43115
@TuringEmmy try with https://pypi.org/project/tf-nightly-cpu/

[2020-09-11 03:29] FriedaSmith opened #43130 "A dynamic link library (DLL) initialization routine failed."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Window 10
- Mobile device (e.g

[2020-09-11 03:33] SungmanHong opened #43131 "Just Qustion: In Android JAVA, keras model is ok?"
Hi, I'm developing android app

and my NN in python is keras(Tf.keras) with LSTM, conv2d, resnet, attention (very deep)

I want to use this NN in JAVA.android

1) can I use TF-lite for my keras of python??

I heard TF.lite only support some TF model so I'm worried

2) and can I convert keras to tensorflow? and just use tensorflow in JAVA?

3) and can I convert keras to tensorflow? and just use ten

[2020-09-11 03:33] github2016-yuan commented on #43108
@ravikyram
Thanks for your solution and I do as what you suggest.
**BAZEL_VC:** C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC
**BAZEL_VS:** C:\Program Files (x86)\Microsoft Visual Studio\2019

Then I  bazel build --config=opt //tensorflow:tensorflow_cc.dll again.

but I **still** get the same error:
ERROR: F:/tf4/as7vs55w/external/llvm-project/llvm/BUILD:399:1: C++ compilation o

[2020-09-11 03:34] georgeliu1998 commented on #34983
This is great, it worked! Thanks.

[2020-09-11 03:52] #42982 closed

[2020-09-11 04:01] p9anand commented on #41459
@mihaimaruseac : when should we expect this feature?

[2020-09-11 04:02] #28115 closed

[2020-09-11 04:25] jwlm-home commented on #43002
It's self-evident that you did not even bother to read the error. The error has nothing to do with whether or not tensors can be used -- in fact, the issue arises because tf. Variable is required to make the code work in the general case, when len(inputs) is unavailable due to being called with a tensor of indeterminate dimension, and tf.Variable can only be called once.

[2020-09-11 04:37] rxiang040 commented on #41485
Sure, we will try that. So if it's on an RK3399 with GPU using C++ implementation, what would be the fastest setup to run a tflite in general? Like, what the options and quantiztations should be without considering RAM usage.

[2020-09-11 05:05] K9-2-PE commented on #39697
Any updates or potential work-arounds for this issue?  For my research I need intermediate jacobian values for use in loss calculation, and assume i need a persistent tape for jacobian wrt input columns and loss wrt model trainable variables.  Can I accomplish the same with nesting of some kind?

[2020-09-11 05:21] Saduf2019 commented on #43128
@y-ich
Please share simple stand alone code or if possible share a colab gist with error reported, if possible can you try in later versions of tf [2.x] and see if it helps resolve your issue.

[2020-09-11 05:25] y-ich commented on #43128
@Saduf2019 san, thank you for your response!

Do you need my conversion script or converted model?

[2020-09-11 05:27] Rishit-dagli commented on #43131
@SungmanHong As I understand you are talking about converting the Keras model to a TF Lite Model and then using that in your Android app. Tp convert your model to a `.tflite` format I would recommend you to use the [TensorFlow Lite converter](https://www.tensorflow.org/lite/convert#convert_a_keras_model_). To then use this model in your Android app you could very easily make use of [ML Model Bindi

[2020-09-11 05:27] ravikyram commented on #43130
@FriedaSmith

What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)
Make sure to download the [latest microsoft visual c++ redistributable from here](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads).
.Also, please

[2020-09-11 05:32] SungmanHong commented on #43131
@Rishit-dagli  Thanks a lot, In my case, I was actually trying pytorch.mobile
but now, very latest pytorch and pytorch mobile are not compatible...;; https://github.com/pytorch/vision/issues/1943
I downgraded pytorch and seems its good and is compatible to pytorch mobile yet.
I hope TF and TFmobile is more stable and compatible than pytorch and pytorch mobile

[2020-09-11 05:39] ravikyram commented on #43119
@sharnoff

Looks like code is incomplete.Please, share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-09-11 06:13] partha117 opened #43132 "Tensorflow 2.3: No gradients provided for any variable"
**System information**
- Used Functional API
- OS: Ubuntu 20.04 and Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from source
- TensorFlow version: 2.3
- Python version:3.6.7

Hi I have built a model using functional API but when I start to train the model it says "**No gradients provided for any variable:**"
 A minimal

[2020-09-11 06:16] #42716 closed

[2020-09-11 06:20] tejasmorkar commented on #42586
Hello, is there any progress on this issue?

[2020-09-11 06:26] NeoZhangJianyu commented on #40989
@pks
Hi,
   It's great to know TF 1.15.0up1 to fix your issue.

   I want to collect the customer to expect/use TF 1.15.0up1.
   Could you share your company name to me?
   You could send to my email: jianyu.zhang@intel.com.

   Thank you!

[2020-09-11 06:32] dtlam26 commented on #16216
Any update on this? The result of batch are all the same at the output

[2020-09-11 06:34] zhangqiang-hf commented on #42887
I have resolved this issue！
Can I push code  for supporting mips platform ？

[2020-09-11 06:36] ravikyram commented on #43122
@turowicz

In this tensorflow 2 guide,https://www.tensorflow.org/guide/effective_tf2, it says tf.app is removed.So in TF 1.x your code is running fine.
To resolve this error, modify the code so that it uses 2.x API
You can refer similar issues #37128,#34431.Thanks!

[2020-09-11 06:40] Shobana1230 opened #43133 "tensorflow.python.framework.errors_impl.UnknownError:"
I tried  to test the face filter model which i had in my system. when i run the test script i am getting the following error. In cpu it is running without any issue but in gpu its causing the issue.

tensorflow.python.framework.errors_impl.UnknownError: Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning log message was print

[2020-09-11 06:42] FriedaSmith commented on #43130
@ravikyram Hello. Must source code be used to build tensorflow? Can only `libtensorflow_jni-cpu-windows-x86_64-1.14.0/tensorflow_jni.dll` and `libtensorflow-1.14.0.jar` be used tensorflow?
In eclipse, I just use `System.load (extractresource (jniresource, jnilibname, tempdirectory))` function loads `tensorflow_ jni.dll`. I also installed latest microsoft visual c++ redistributable.
CPU: intel core

[2020-09-11 06:48] thaink commented on #43084
The case is a bit different. @bertankursun is trying to run the model on Micro controller using TFLite Micro.
Issue#40574 is about running it on Android using TFLite.

[2020-09-11 06:50] ravikyram commented on #43133
@Shobana1230

Request you to fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

This error might arise due to incompatibility between the cuda  and cuDNN version.

Please, see build tested configurations for [Linux/mac OS](https://www.tensorflow.org/install/source#tested_build_configurations), [windows
](https://www.tensorflow.org/install/source_windows#tested_buil

[2020-09-11 07:08] sharnoff commented on #43119
Thanks for the response - I've added [the link](https://gist.github.com/sharnoff/5dc5000fca80a2ab0f78b2786b75c2eb) to the issue

[2020-09-11 07:10] Shobana1230 commented on #43133
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below):1.12.0
- Python version:3.6.8
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):gcc 7.5
- CUDA/cuDNN v

[2020-09-11 07:11] pandrey-fr commented on #43094
Great!
To explain a bit: when you pass `batch_size=32` to the `Input` layer, the computational graph is built to support this, an only this, input batch size, which can result in some optimizations as compared with accepting a dynamic input size. If you wanted, you could use an option in `tf.data.Dataset.batch` to discard remaining samples that do not form a complete batch - another option could b

[2020-09-11 07:12] stefanondisponibile commented on #34968
Awesome! 🥳

[2020-09-11 07:15] amahendrakar commented on #43112
@katreparitosh,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and the dataset you are using.

Alternatively, you can also share the Colab notebook you are running. Thanks!

[2020-09-11 07:21] woshildh opened #43135 "Mac c++ tensorflow_cpu segmentation fault"
I build tensorflow 1.12 c++ on Mac without gpu. I can load .meta and .ckpt of model. When I run session->run() ，program raise segmentation error. I can get some node output results in middle but I could not get   the last outputs results.  Thank you very much for your help.
My environment is:

 MacOS 10.15.4, tensorflow 1.12, cuda(None), bazel 0.15.2, clang version 11.0.3

`
    MetaGraphDef graph

[2020-09-11 08:16] #42611 closed

[2020-09-11 08:48] Luminosite commented on #41425
Hi @MilanCugur
I'm a newbie to tensorflow and I met same problem but I still not sure how to solve it. Could you please provide more detail codes about how you build the model and save it with the name of input and output?

[2020-09-11 09:14] Ch33s3Burger commented on #42960
This is my .tf_configure.bazelrc

build --action_env PYTHON_BIN_PATH="C:/Python36/python.exe"
build --action_env PYTHON_LIB_PATH="C:/Python36/lib/site-packages"
build --python_path="C:/Python36/python.exe"
build --config=xla
build:opt --copt=/arch:AVX2
build:opt --define with_default_optimizations=true
build --define=override_eigen_strong_inline=true
test --flaky_test_attempts=3
test --test_size_f

[2020-09-11 09:24] katreparitosh commented on #43112
Hello, I will re-frame my query because now I have a better understanding of what I need.

I basically want to load the saved model into a script and run inference on sample sentences. Therefore, I followed the code provided in the [documentation](https://www.tensorflow.org/lite/guide/inference#load_and_run_a_model_in_python).

The line - "input_data = np.array(np.random.random_sample(input_shape)

[2020-09-11 09:26] ahtik commented on #42960
@Ch33s3Burger Could you post the output from `C:/Python36/python.exe -VV`?

One other "moving part" is the MS VS Built Tools path, hopefully the build is picking up a good version. It's cl.exe compiler is what is eventually getting the AVX2 flag. Mine is at `C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\VC\Tools\MSVC\14.26.28801\bin\Hostx64\x64\cl.exe`. To set/override it for the

[2020-09-11 09:27] Ch33s3Burger commented on #42960
C:\tmp\tensorflow_pkg>python -VV
Python 3.6.3 (v3.6.3:2c5fed8, Oct  3 2017, 18:11:49) [MSC v.1900 64 bit (AMD64)]

[2020-09-11 09:32] Ch33s3Burger commented on #42960
Where should i put this "SET BAZEL_VC=C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\VC" command?

[2020-09-11 09:34] ravikyram commented on #43133
@Shobana1230

TF 1.x is not actively supported. Can you please upgrade to TF 2.3 and see if the issue still persists. Thanks!

[2020-09-11 09:38] ravikyram commented on #43130
@FriedaSmith

Please, provide the exact sequence of commands / steps that you executed before running into the problem. Thanks!

[2020-09-11 09:39] zyxcambridge opened #43138 "tensorflow 1.14 gpu is not in 2060S 2080TI"
import tensorflow as tf
/home/sl/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/sl/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.

[2020-09-11 09:46] turowicz commented on #43122
Thanks, it works when I check out `master` branch of this repository.

[2020-09-11 09:46] #43122 closed

[2020-09-11 09:50] ahtik commented on #42960
`SET BAZ....=....` goes to the same command prompt used for building, before running the TF configure and build commands. To set the env variables. Run `set` to see all current ones. But in your case it's likely not going to help/TF build should pick up the latest installed compiler anyway and BAZEL_VC is about more precise control about the build env.

Not sure if it helps right now but I posted

[2020-09-11 09:52] Saduf2019 commented on #42960
@Ch33s3Burger
You may also refer to #38712

[2020-09-11 09:58] Ch33s3Burger commented on #42960
2020-09-11 11:57:43.047859: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x2463f500370 initialized for platform Host (this does not guarantee that XLA will be used). Devices:
2020-09-11 11:57:43.048081: I tensorflow/compiler/xla/service/service.cc:176]   StreamExecutor device (0): Host, Default Version
tf.Tensor(-6465.927, shape=(), dtype=float32)

C:\Python36\lib\site-packages\te

[2020-09-11 09:59] amahendrakar commented on #43125
Was able to reproduce the issue with TF v2.3. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/a9bf81fba516d0dfee51bcfca6507d6f/43125.ipynb). Thanks!

[2020-09-11 10:03] gowthamkpr commented on #41445
@Zlz-shoulder This error is with tensorflow 1.12 and is been fixed in future versions. I would recommend you to use tensorflow versions > 1.14. Thanks!

[2020-09-11 10:12] ahtik commented on #42960
@Ch33s3Burger Looks like the AVX2 warning does not appear here and your wheel is fine, right? If the AVX2 were missing, it would have been reported already.

**Maybe** it's a deepspeech build, bundling or runtime env topic after all?

[2020-09-11 10:14] amahendrakar commented on #43129
@huafeihuayu,
In order to reproduce the issue reported here, could you please provide the TensorFlow version, the complete code and the dataset you are using. Thanks!

[2020-09-11 10:21] Ch33s3Burger commented on #42960
OK thx for your help. I am gonna take a look on deepspeech then.

[2020-09-11 10:24] #42960 closed

[2020-09-11 10:24] bertankursun commented on #43084
@thaink @bhack I have found the UNIDIRECTIONAL_SEQUENCE_LSTM op under tensorflow/lite/kernels. Do you think that can be used by adding to lite/micro/kernels? I started yesterday but it required many other files from the library and it got complicated and some references were not found in the end.

[2020-09-11 10:25] huafeihuayu commented on #43129
@amahendrakar
Quantization code
import numpy as np
import tensorflow as tf
import cv2

def representative_dataset_gen():
    img=cv2.imread('C:/sfz/00/all/10cn000000000.jpg')
    img=np.array(img,dtype='float32')
    image_paths_tensor = tf.convert_to_tensor(img,dtype=tf.float32)
    dataset = tf.data.Dataset.from_tensor_slices(image_paths_tensor)
    for input_value in dataset.batch(1).take(100):

[2020-09-11 10:25] cataclysmus commented on #43107
Thank you for helping me. I simplified code for the debugging

[code]
Outputs:
[code]

[2020-09-11 10:28] FriedaSmith commented on #43130
1. Go to: https://www.tensorflow.org/install/lang_java and download libtensorflow.jar and Java Native Interface (JNI) file, save it to project root;
2. Copy Example code from https://www.tensorflow.org/install/lang_java and save `HelloTensorFlow .java`

import org.tensorflow.Graph;
import org.tensorflow.Session;
import org.tensorflow.Tensor;
import org.tensorflow.TensorFlow;

public class HelloTen

[2020-09-11 10:29] ravikyram commented on #43119
@sharnoff

I tried reproducing the in colab with TF version 2.3.0 and i see session is getting crashed. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/0518f4ae9de1da6640bcafda5a17a7cb/untitled336.ipynb). Thanks!

[2020-09-11 10:35] Shiro-LK commented on #34321
Hi, I have a new issue :

[code]

I do not know what it means. Is there something wrong with the code ?

[2020-09-11 10:50] haozh7109 opened #43140 "AttributeError: 'int' object has no attribute 'op' in using customized model layers"
Hi there,

I am trying to build a model with a customized layer in Tensorflow. However, I always got the error when I initialize the customized model.

The error message I got is 'AttributeError: 'int' object has no attribute 'op' '. I have attached my simple standalone code and logs with this ticket. Your comments will be appreciated!

Kind regards,
Hao

------------------------------------------

[2020-09-11 10:59] DominikStachura opened #43141 "Tensorflow 2.3.0 TfLite converter adds ExpandDims"
I have a problem with new version of Tensorflow. I try to deploy my model to embedded system. I have trained Keras model and want to convert it to *.tflite format. Tensorflow 2.2.0 generates .tflite model which is accepted by tflite/micro on embedded system. However Tensorflow 2.3.0 adds some ExpandDims layer at the beggining of the network, and ExpandDims can not e resolved on the tf/lite/micro s

[2020-09-11 11:03] zishuaiz opened #43142 "keras Sequential model get empty metrics_names"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-09-11 11:12] #43140 closed

[2020-09-11 11:34] Gitariansen commented on #42918
This change seemed to fix the problem on my end. With the changes applied, the application now runs like expected when built with release mode. Thank you, @jenselofsson, for your help in debugging this issue and providing the fix.

[2020-09-11 11:39] amahendrakar commented on #43138
@zyxcambridge,
In order to expedite the trouble-shooting process, could you please fill in the below template.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow

[2020-09-11 11:42] bhack commented on #43084
@thaink You are right. With just a quick overview I was confused by the `comp:lite` only label as generally we tag with the micro one.

[2020-09-11 11:48] amahendrakar commented on #43138
Also, TensorFlow 1.x is not actively supported.

Could you please update TensorFlow to v2.3 along with all the dependencies as mentioned [here](https://www.tensorflow.org/install/source#gpu), and let us know if you are still facing the same issue. Thanks!

[2020-09-11 11:49] cranedroesch opened #43143 "Discrepancy between loss when called from `tf.keras.losses.BinaryCrossentropy()(true, pred)` and verbose output from model.fit() or hand-computation"
I'm struggling to understand the behavior of `tf.keras.losses.BinaryCrossentropy()(true, pred)` -- I can't reproduce it's behavior from first principles.  Here's a MWE with a very simple two-output loss:

[code]

which gives the following output:

[code]

The losses don't match.  To see what's going on, I'll compute entropy by hand:

[code]

The results match the verbose output, but not the output

[2020-09-11 11:57] hahmad2008 commented on #42735
@srjoglekar246 Thank you so much. it works now. the app is now 15 MB size 👍

[2020-09-11 11:57] #42735 closed

[2020-09-11 11:59] hahmad2008 commented on #42735
@srjoglekar246 but why the performance of the model is not natural, I mean the percentage of scores + when there is no object is trained on is visible it then detect the view as on of the trained objects with a high score :( -_-

[2020-09-11 12:01] tom-andersson commented on #42994
Thank you for clarifying @omalleyt12! Please can you point me to documentation where the metric averaging is expained? Is it a moving average of sorts? I couldn't find anything by Googling. What if I want the (noisy) batch-wise training metrics? Should I call `reset_metrics()` in `on_train_batch_begin()`?

Setting `steps_per_epoch` is not an ideal solution for me as `on_epoch_end()` will trigger t

[2020-09-11 12:04] quartermaine opened #43145 "Data augmentation on TfRecords for multichannel images"
I am working with multichannel medical Nifti images which I convert to TfRecords and create a tf.dataset to pass later on a multichannel 3D CNN.  The shape of the images is (61,73,61,2) which means the image has 2 channels,  is there a way to do data augmentation on the fly when I read the TfRecords and increase the dataset size?  How can I apply the augmentation across all channels?

[2020-09-11 12:05] AlexandruPurdila opened #43146 "[EfficientNet] Understanding architectural implementation decision for the Squeeze and Excitation phase"
The following question refers to "Squeeze and Excitation" block from the EfficientNet implementation (https://github.com/tensorflow/tensorflow/blob/v2.3.0/tensorflow/python/keras/applications/efficientnet.py#L517-L540), lines 478 - 498.

Concretely, "Squeeze and Excite" current implementation makes use of two Conv2D blocks: one for filters reduction at line 483 and the other one for filters expand

[2020-09-11 12:06] pranshugo commented on #38036
Hey @karimnosseir, can you suggest some method on how can I convert my graph to tflite without using SELECT_TF_OPS tflite supported ops flag. Because without it, the converter raises an exception. Or what could be in my graph that needs SELECT_TF_OPS?

[2020-09-11 12:12] devhci commented on #41978
@177arc  that's correct. This error is related to passing  empty array to the predict method.

[2020-09-11 12:25] mdanatg commented on #43002
Again, tf.Variable is **not** required to handle indeterminate dimensions. So the premise of this issue is incorrect. If you have specific use-cases that you believe require a tf.Variable, feel free to include them here, although such questions are better asked on StackOverflow.

[2020-09-11 12:35] bhack commented on #42911
@ravikyram I think you need to add a label for the bit.

[2020-09-11 12:40] turowicz commented on #41862
@ravikyram I'm having the same issue with TF 2.3.0 Object Detection and Efficientnet D1

[2020-09-11 12:43] trystbinx opened #43147 "Cannot import name 'image_preprocessing'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below): 2.1.0
- Pytho

[2020-09-11 12:50] ravikyram commented on #43147
@trystbinx

Import of image_ops is unfortunately only available with TF 2.2+ .

Please, upgrade to TF 2.3 and check if the issue still persists. Thanks!

[2020-09-11 13:28] Gokul-S-Kumar opened #43149 "Error while using ModelCheckpoint callback in tf.keras when creating checkpoints."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Ubuntu 20.04 LTS (GNU/Linux 4.4.0-18362-Microsoft x86_64)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):Source
- TensorFlo

[2020-09-11 13:41] vighneshbirodkar commented on #33150
@xiankgx Can you copy paste the config you are using and point to which checkpoint you are trying to use it with ?

[2020-09-11 13:45] trystbinx commented on #43147
Thank you for your reply. Yes, the issues still persists, but a different error output.

TF version is 2.2.0
Keras is 2.3.1

Installed CUDA 10.1, cudnn, 7.6.5, set path for both.

I am not sure what I am doing wrong. I have been looking for answers on the stackoverflow/github, but has not resolved this issue since a few days ago.

Is there anything I should do to resolve this issue?

[code]

[2020-09-11 13:47] spratik commented on #42405
As per your recommendation , I have created bazel target within tensorflow environment itself.
Please find below GitHub link for a reference.
https://github.com/spratik/python_cpp_with_tensorflow_bazel_target

I have mention required steps in readme.md file. hopefully now you can able to run bazel target without getting any error. Please let me know if you face any issue.

Actually this problem we

[2020-09-11 13:52] bjacob commented on #42941
@talumbau is already the right assignee :-)

[2020-09-11 13:53] ravikyram commented on #43114
@kwanchet

Can you please share colab link or simple standalone code with supporting files ( `model.json`) to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-09-11 13:56] amahendrakar commented on #43132
@partha117,
I was able to reproduce the issue with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/0b38b676fda3c7fa42d86f89ea4eec87/43132.ipynb).

However with [TF-nightly](https://colab.research.google.com/gist/amahendrakar/fafb742ce2a2fb43467c6d3defb93144/43132-tf-nightly.ipynb#scrollTo=GVJ3l3ZtwSmg), I am facing a different error stating `ValueError: Input 1 is incompatible with l

[2020-09-11 14:07] bhack commented on #43149
Can you try changing the init with `kernel_initializer = keras.initializers.he_normal()`?

[2020-09-11 14:09] ravikyram commented on #43147
@trystbinx

This is Tensorflow installation error.
Can you try it in fresh virtual environment and try to install. It is mostly due to compatibility issue.

What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)
Make sure to download [the latest microsoft

[2020-09-11 14:29] SivamPillai commented on #39434
Also experienced the same issue while upgrading from TF 2.0 to TF 2.3. The slowdown was almost 100% compared to the older version. Is it possible to share some optimization tricks that can help improve model performance? I have also been getting the warning regarding 'batch operation faster than "on_train_batch_end" (not sure if that is related to the slowdown)

example (the actual times vary base

[2020-09-11 14:33] NAEE09 opened #43150 "Make failed with C++ API used like external library. Error: static assertion failed: std::string is no longer a scalar type, use tensorflow::tstring"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow inst

[2020-09-11 14:38] Otakarlp opened #43151 "Using Hidden layers output in the loss function"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2020-09-11 14:46] y-ich commented on #43128
@Saduf2019 san, I prepared the model.

https://github.com/y-ich/reproduction_43128

BTW, if you provide the conversion script for mobilenet_v1_1.0_224_quant.tflite, I can investigate this issue.
You do not need to use your time.

About  tf [2.x], I could not convert the model by tf 2.3.0.

[2020-09-11 14:49] bhack commented on #43151
Can you `add_loss` for your case? Check https://www.tensorflow.org/guide/keras/custom_layers_and_models#the_add_loss_method

[2020-09-11 14:53] amahendrakar commented on #43142
@zishuaiz,
As per the [documentation](https://www.tensorflow.org/api_docs/python/tf/keras/Model#attributes_1), `metrics_names` are available only after a `keras.Model` has been trained/evaluated on actual data.

Could you please check if you are facing the same issue after training the model? Thanks!

[2020-09-11 14:58] felixmaximilian commented on #41244
I am running into the same issue. It would be lovely to get some perspective on the plans to fix this.

[2020-09-11 14:59] Flamefire commented on #43019
I bisected the the TF changes between 2.2 and 2.3 and found the commit which introduced the failure: https://github.com/tensorflow/tensorflow/commit/f827c023906e7d30f0e5f2992b111ab34153310a

Looks like exec_tools is worse than tools. Could that be reverted? From https://docs.bazel.build/versions/master/be/general.html#genrule.exec_tools it sounds like a good idea anyway:

[2020-09-11 15:06] Otakarlp commented on #43151
Thanks for your answer !

I'm actually getting a `ValueError: No gradients provided for any variable` error.

In fact, i'm trying to reproduce this model [https://github.com/IAmSuyogJadhav/3d-mri-brain-tumor-segmentation-using-autoencoder-regularization/blob/master/model.py](url)

Using 2 model outputs, a dice loss for one ouput ( GT ) and a loss function ( VAE) depending on two layers (z_mean,z_v

[2020-09-11 15:07] pratikshambharkar opened #43152 "ImportError: Keras requires TensorFlow 2.2 or higher. Install TensorFlow via `pip install tensorflow`"
ImportError: Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 64, in <module>
    from tensorflow.python._pywrap_tensorflow_internal import *
ImportError: DLL load failed: The specified module could not be found.

Failed to load the native TensorFlow runtime.

See https://www.tensorflow.org/install/errors

for some

[2020-09-11 15:12] bhack commented on #43019
@gunan This commit was hidden by @tensorflower-gardener proxy. Do you know the internal author?

[2020-09-11 15:16] fisakhan commented on #32624
Don't call PredictFromFrozen(). Instead replace s=model.PredictFromFrozen(all_files_tensors[0],result); by contents of PredictFromFrozen() into main.cpp.

[2020-09-11 15:16] bhack commented on #43152
Please import keras from tensorflow '`from tensorflow import keras`.

See https://github.com/keras-team/keras/releases/tag/2.4.0

[2020-09-11 15:17] leena-bhooshan commented on #36358
Just print logs by using:   print(logs) inside on_epoch_end() method and see whether accuracy is stored as "accuracy" or "acc". Then evaluate accuracy accordingly.

[2020-09-11 15:18] lucalazzaroni commented on #42918
I'm facing the same issue, but in my case the difference is that I'm compiling for DISCO_F769NI and I used CMSIS as tag (as suggested in the readme). Could there be other steps that I'm missing? . Thanks in advance for your help.

[2020-09-11 15:19] leena-bhooshan commented on #36358
This is due to versioning. Just print(logs) inside on_epoch_end() method, you will get to know which one to choose.

[2020-09-11 15:32] srjoglekar246 commented on #41485
If size isn't an issue, go with FP32 model & GPU delegate, as long as OpenCL is supported. You could also try 4-threaded CPU execution.

[2020-09-11 15:37] JoshPattman opened #43154 "tensorflow:AutoGraph could not transform <function Model.make_train_function.<locals>.train_function at 0x0000018DDF556708> and will run it as-is."
WARNING:tensorflow:AutoGraph could not transform <function Model.make_train_function.<locals>.train_function at 0x0000018DDF556708> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: 'arguments' object has no attribute 'posonlyargs'
To silence this warning, dec

[2020-09-11 15:46] amahendrakar commented on #42545
@darmac,
In this case, can we close the issue. Please feel free to re-open the issue when you have updates regarding it. Thanks!

[2020-09-11 16:00] marcus302 commented on #41053
Hello! Does somebody know what the status of this issue is? I'm running into exactly this problem.

[2020-09-11 16:02] RolfSchlup commented on #42972
@nkreeger
Ok.  I rebuilt tensorflow from scratch using sources.  Now I have Tensorflow 2.4.0 installed.  Since I'm running this inside of a CentOS8 VM 64 bit, I disabled all CUDA support

The following is the result of running the bazel visualize script

INFO: Options provided by the client:
  Inherited 'common' options: --isatty=1 --terminal_columns=171
INFO: Reading rc options for 'run' from /ho

[2020-09-11 16:07] srjoglekar246 commented on #42735
Did you try [these params](https://github.com/tensorflow/models/blob/master/research/object_detection/export_tflite_graph_tf2.py#L98)? `--ssd_use_regular_nms=true` while exporting will make your model more accurate, so will increasing `ssd_max_detections`.

[2020-09-11 16:10] srjoglekar246 commented on #38036
@pranshugo Can you post your model with SELECT_TF_OPS? We can identify which TF ops are required to be made into TFLite custom ops (so that we dont need SELECT_TF_OPS)

[2020-09-11 16:31] gunan commented on #43019
@Flamefire Thank you very much for going through the trouble of bisecting!
This was unfortunately an internal cleanup done by other teams.
Since it was submitted a long time ago, I suspect reverting it may break things.
@av8ramit could you look into this? Maybe we can reach out to bazel team for help with understanding and resolving this?

[2020-09-11 16:35] Flamefire commented on #43019
FWIW: I created a patch which does revert this and it seems to work: https://github.com/easybuilders/easybuild-easyconfigs/blob/8b7342cb08b1e44f91241655ccd58cd3ec4f3687/easybuild/easyconfigs/t/TensorFlow/TensorFlow-2.3.0_revert-tools-to-exectools-renaming.patch

I could open a PR with that so you can run it through CI, if that helps

[2020-09-11 16:36] av8ramit commented on #43019
Taking a look now, and will triage it to bazel. I second @gunan, thank you @Flamefire for bisecting. @Flamefire I think opening a PR is not a bad idea, I don't know if we will decide to merge it though.

[2020-09-11 16:40] RolfSchlup commented on #42972
Found a solution to the above from another issue solution.  Now I have instead
AttributeError: module 'flatbuffers' has no attribute 'encode'

[2020-09-11 16:41] #42737 closed

[2020-09-11 16:41] RolfSchlup commented on #42972
@nkreeger
Traceback (most recent call last):
  File "/home/rolf/.cache/bazel/_bazel_rolf/4da7831c14df8ef17ee1e6d70dca59a7/execroot/org_tensorflow/bazel-out/k8-opt/bin/tensorflow/lite/tools/visualize.runfiles/org_tensorflow/tensorflow/lite/tools/visualize.py", line 517, in <module>
    main(sys.argv)
  File "/home/rolf/.cache/bazel/_bazel_rolf/4da7831c14df8ef17ee1e6d70dca59a7/execroot/org_tensorflo

[2020-09-11 16:44] dcpatton opened #43157 "`validation_split` support for RaggedTensors"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.3.0
- Are you willing to contribute it (Yes/No):No

**De

[2020-09-11 16:46] CoreyCole commented on #42941
how can I disable ruy on arm so I can get a comparable benchmark to the x86 without ruy?

[2020-09-11 16:48] ravikyram commented on #43157
@dcpatton

 Do you have any use case that requires the feature you are interested in? Are you interested to submit a PR ?
Thanks!

[2020-09-11 17:00] mihaimaruseac commented on #42047
Closing as nightly now uses CUDA 11

[2020-09-11 17:00] #42047 closed

[2020-09-11 17:04] mintmaker commented on #42991
That is not wanted by TensorFlow a Tensor and a np array are two completely different things and should have different APIs.

I'm not sure what you mean. If you mean tf.searchsorted needs a tf.float64 tensor and does not work on other dtypes, this is an issue with tf.searchsorted. But it's more likely that you didn't specify the `tf.float32` somewhere and it is automatically detected as `tf.float6

[2020-09-11 17:07] dcpatton commented on #43157
I do not have a PR to submit. Is there a template for the Use Case?

[2020-09-11 17:21] zacwellmer commented on #40215
that's a great point, thanks for taking a closer look at that table than I did. On second thought I'm not sure how helpful that table is for us since it doesn't tell us which performs better when dropout is only applied to the input gates (implementation=1).

Still seems odd to me that we follow the tied weights approach when ```dropout>0``` and ```recurrent_dropout=0``` but follow the untied appr

[2020-09-11 17:24] RolfSchlup commented on #42972
@nkreeger The problem seems to be that flatbuffers' attribute has been deprecated.  schema_py_generated.py is a generated file so it should be a matter of modifying the generation script.  Which file needs to be modified?

[2020-09-11 17:25] bhack commented on #43154
Do you have a very minimal but runnable standalone example/colab to reproduce this?

[2020-09-11 17:37] Saduf2019 commented on #43152
@pratikshambharkar
Can you please share the complete stand alone indented code for us to replicate the issue faced or if possible share a colab gist with the error reported.
please refer to [this link ](https://stackoverflow.com/questions/63006475/how-to-solve-importerror-keras-requires-tensorflow-2-2-or-higher-install-tenso)as per the error reported.
You may also verify with existing issues conta

[2020-09-11 17:38] jsimsa commented on #42911
How many cores are there on the machine?

Can you recreate the issue when setting `num_parallel_calls` to the number of cores instead of `AUTOTUNE`?

Does the issue go away when you [configure](https://www.tensorflow.org/api_docs/python/tf/config/threading/set_inter_op_parallelism_threads) the inter-op parallelism threads to be greater than the number of available cores?

I suspect that what's goi

[2020-09-11 17:55] rxsang commented on #34321
Shiro, can you share your colab? Did you follow the instructions in https://www.tensorflow.org/guide/tpu#tpu_initialization to run TPU initialization at the beginning?

[2020-09-11 17:57] bjacob commented on #42941
`bazel build --define=tflite_with_ruy=false`

[2020-09-11 18:25] MarkDaoust commented on #38105
We have an example on the site now: https://www.tensorflow.org/tutorials/keras/keras_tuner

[2020-09-11 18:25] #38105 closed

[2020-09-11 18:33] martinwicke commented on #1539
@r4nt I know we made a lot of progress on clang builds, is this still a valid issue?

[2020-09-11 18:41] #42733 closed

[2020-09-11 18:43] fisakhan commented on #42510
@Zantares I implemented your suggestion/recommendation in the following example (from tensorflow) using tensorflow C++ Api  and it is not working. You can just copy-paste-execute the following code without errors and will notice that it is generating multiple threads.
[code]

[2020-09-11 18:50] RolfSchlup commented on #42972
@nkreeger
The generated schema_py_generated.py file needs
```from flatbuffers import encode as flatbuffers.encode```
or something similar

[2020-09-11 18:53] anidh commented on #42655
Hi @hajuho ,

Thanks a lot for the quick reply.

[2020-09-11 18:58] CoreyCole commented on #8037
This article was a good tutorial on how to build from source including the flags
https://medium.com/@pierreontech/setup-a-high-performance-conda-tensorflow-environment-976995158cb1

[2020-09-11 19:00] anidh commented on #42655
Hi @hajuho ,

Thanks a lot for the quick reply.

Yes I'm able to see the "runInference" trace when I'm doing a systrace.

I was using a stable build of the aar file. I changed it to ``` implementation 'org.tensorflow:tensorflow-lite:0.0.0-nightly' ```

implementation('org.tensorflow:tensorflow-lite:0.0.0-nightly') { changing = true }

I was not using the nightly library and thus never used this fl

[2020-09-11 19:12] coolchaits commented on #42686
Hello, Just pinging to get to know the status: Even if it is currently going to be unsupported.
Alternatively, can you post a link to a guide somewhere where I could try changing the build files and possibly contribute a solution?

[2020-09-11 19:13] lamberta commented on #43152
Correct, Conda is not officially supported and often lags behind the current release.

As @bhack noted, there's a mention here: https://www.tensorflow.org/install/pip#conda —but little appetite for further visibility of an out-of-date package. But you're welcome to add a an entry to the [errors.md](https://github.com/tensorflow/docs/blob/master/site/en/install/errors.md) page, if you think that is

[2020-09-11 19:13] #43152 closed

[2020-09-11 19:41] #42701 closed

[2020-09-11 19:59] hajuho commented on #42655
Hi Anidh,
I guess you may see a result like https://www.tensorflow.org/lite/performance/images/as_traces.png
The result windows of CPU profile consists of two panes. The left one is timeline view of traces and the right one is analysis report.
If you see the 'All threads' tab of analysis report, it shows the cumulative timing values.
You can click each section of running in the left pane. For exam

[2020-09-11 20:05] qlzh727 commented on #40215
I don't think we perform differently between recurrent_dropout=0 and recurrent_dropout>0, since the default implementation in TF2 is implementation=2, which only use the first mask out of 4 to mask the input. The implementation=1 is only used in TF1 and we can't change its behavior since it is suppose to be frozen.

https://github.com/tensorflow/tensorflow/blob/8c80b0433f6f09a720a4fc2fbe55b64b4948

[2020-09-11 20:05] #40215 closed

[2020-09-11 20:30] sumannelli-Ib commented on #31528
@vismayaps  Did you got the solution for this? I am facing this the same issue, please help.How to get the input and output arrays from a frozen model?

[2020-09-11 21:22] auchtopus opened #43162 "custom xception input size broadcasting incorrectly"
## System information:
Red Hat Enterprise Linux Server release 7.7 (Maipo)
Tensorflow: tensorflow gpu 2.1
GPU: Nvidia V100
Python: 3.6.10
GCC: 7.3.0
CUDA: 10.1 (I think)
Running through slurm

## The Error log:
[code]

## model.summary()
This model is the stock xception with a custom top (global max, dense layer, and softmax) used for image classification.
[code]

## Relevant Code

A runnable cola

[2020-09-11 21:41] rajeev921 commented on #42888
@nikitamaia

Any update about how to solve the crashing issue ?

[2020-09-11 22:07] bhack commented on #43150
They have started to use `tensorflow::tstring` as you can see from https://github.com/tensorflow/tensorflow/commit/f05a57eefe9f03c9fae83d0fcb727ee07949d963 /cc @gharibian

[2020-09-11 22:08] bhack commented on #43162
Can you edit your example to have very minimal but runnable example to reproduce this?

[2020-09-11 22:19] goldiegadde commented on #40016
@bhack this issue has been fixed in 2.3.0, is there a reason why its moved back to "in progress"

[2020-09-11 22:19] #42505 closed

[2020-09-11 22:29] ichitaka opened #43164 "Model produces three different outcomes for the same input depending on how I measure it"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.15.6
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.3.0
- Python version: 3.7.7

**Describe the current behavior**
When I take the loss from the history object or the result from the evaluate function on the training data or from a numpy calculation of mean sq

[2020-09-11 22:33] bhack commented on #40016
Honestly I don't remeber this action as I was not in this thread. But ok.

[2020-09-11 22:35] nikitamaia commented on #43039
Can you also try setting the `tf.data.experimental.AutoShardPolicy` to `DATA` ?

[From the docs](https://www.tensorflow.org/tutorials/distribute/input#tfdistributestrategyexperimental_distribute_dataset), the policy is by default AUTO:
`AUTO: This is the default option which means an attempt will be made to shard by FILE. The attempt to shard by FILE fails if a file-based dataset is not detected.

[2020-09-11 22:35] auchtopus commented on #43162
Updated!

[2020-09-11 22:37] nikitamaia commented on #42888
Have you tried setting the `tf.data.experimental.AutoShardPolicy` to `DATA` ?

[From the docs](https://www.tensorflow.org/tutorials/distribute/input#tfdistributestrategyexperimental_distribute_dataset), the policy is by default `AUTO`:
`AUTO: This is the default option which means an attempt will be made to shard by FILE. The attempt to shard by FILE fails if a file-based dataset is not detected.

[2020-09-11 22:56] tanzhenyu commented on #40016
You probably need to install tf-nightly to verify that, given colab doesn't automatically include latest changes

[2020-09-11 22:58] jvishnuvardhan commented on #38457
@PaulPauls We cannot compare the performance with CPU as the `mixed_precision API` throws a warning as follows

Regarding GPU performance with `mixed_precision API`, may be you can open another issue.

I am closing this issue as the original issue was resolved. Please feel free to reopen if I am mistaken. thanks!

[2020-09-11 22:58] #38457 closed

[2020-09-11 23:18] ymodak commented on #42679
This is fixed with latest tf-nightly version 2.4.0-dev20200911.
See the [gist](https://colab.research.google.com/gist/ymodak/a03025d5176b75c7a6a2f189f3fc5b8d/untitled393.ipynb) Thanks!

[2020-09-11 23:28] advaitjain commented on #42999
Thanks for the bug report.

For future reference, if you make a [TensorFlow Lite for Microcontrollers Issue](https://github.com/tensorflow/tensorflow/issues/new?labels=comp%3Amicro&template=70-tflite-micro-issue.md) from the different available templates, it will get routed to the micro team much faster.

@nkreeger what do you think of the proposed fix?

[2020-09-11 23:30] MinasTyuru opened #43165 "SyncBatchNormalization has NaN losses with channels-first format"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 14.04 running in Docker container (host is 18.04)
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.0 and 2.3.0
- Python version: 3.6.8
- Bazel version (i

[2020-09-11 23:41] MeghnaNatraj commented on #41846
Looking into this now. I was able to reproduce the error. Will post an update when I find a fix.

[2020-09-11 23:44] geetachavan1 commented on #39038
The issue was fixed the by this [commit](https://github.com/tensorflow/tensorflow/commit/54fa7e441969792fa03f897cbd1fdbaf2e4d18e4)

[2020-09-11 23:44] #39038 closed

[2020-09-11 23:56] nikitamaia commented on #43125
Hi @JamesMBartlett, to help isolate if this is an issue with tf.data or with tpu, can you confirm that your code runs without TPUs using the default strategy `tf.distribute.get_strategy` ?

[2020-09-12 00:01] CoreyCole commented on #42941
@bjacob setting ruy to false on arm throws a compile error, but that is likely out of the scope of this issue.

I did an additional x86 benchmark compiling with some different flags and managed to eek out a bit more performance, but still `TRANSPOSE_CONV` operator takes up the vast majority of compute time:
[code]
[code]
[float32_mavx_msse4.1_msse4.2_benchmark.txt](https://github.com/tensorflow/te

[2020-09-12 00:09] JamesMBartlett commented on #43125
Yeah the error goes away with the default strategy, although there's a bug with my minimal example where I specified the wrong input shape, so you get the following error: ```ValueError: Python inputs incompatible with input_signature:
      inputs: (
        Tensor("IteratorGetNext:0", shape=(None, 256, 256), dtype=float32))
      input_signature: (
        TensorSpec(shape=(256, 256), dtype=tf.f

[2020-09-12 00:18] nikitamaia commented on #43125
Can you provide a fix so that the code runs without error when using the default strategy?

[2020-09-12 00:22] nikitamaia commented on #42111
Hi @MinasTyuru, we were able to identify the root cause as the SyncBatchNorm layers that don't have control dependencies. The SyncBatchNorm layer launches NCCLAllRecduce in every step, so it is possible the two layers launch NCCLAllReduce on different machines in different order, leading to the program hanging. So far it seems like adding in the control deps is the best option but we're still cons

[2020-09-12 00:27] MinasTyuru commented on #42111
@nikitamaia Oh, fantastic! For the time being, I think adding control dependencies is a totally fine workaround for us.

Just to be clear, the issue here is that there are three SyncBatchNorm operations, whose outputs are then concatenated into a big tensor, but they can be executed in any order, is that correct? So therefore to resolve this, we would force an ordering something like this:

[code]

[2020-09-12 00:48] JamesMBartlett commented on #43125
This code errors if you run with variable `tpu = True` on line 59, and doesn't error if `tpu = False`:
[code]

[2020-09-12 01:11] eafpres commented on #38346
I have what appears to be the same or related issue.  I've reduced this down to a very simple case.  My problem is I don't understand the workaround stated above.

My code:
[code]

In the above the ts() and the random number just generatre unique signatures for the file name.

An example file is:
keras_parallel_2020-09-11_18_41_27296955088.hdf5

If I then use tensorflow.keras.models.load_model('ke

[2020-09-12 01:41] #42394 closed

[2020-09-12 01:51] Chenpuh opened #43168 "Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): binary: `libtensorflow_jni-cpu-windows-x86_64-1.14.0/tensorflow_jni.dll`
- TensorFlow version: 1.14.0

**Describe the problem**
2020-09-12 01:46:00.374893: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlo

[2020-09-12 02:16] andreyryabov commented on #43060
My version of TF:  2.3.0,   GIT: v2.3.0-rc2-23-gb36436b087
returned by command:
 `python -c "import tensorflow as tf; print(tf.version.GIT_VERSION, tf.version.VERSION)"`

[2020-09-12 02:31] zacwellmer commented on #40215
I don't think this is true. ```implementation=1``` is still used when ```dropout>0``` and ```recurrent_dropout=0```. I couldn't figure out a good way to fix the generated dropout masks (fixing the random seed doesn't work) between both approaches. You will need to follow this hacky approach with pdb. In short, the old approach is still used in [recurrent_v2.py](https://github.com/tensorflow/tensor

[2020-09-12 02:51] qlzh727 commented on #40215
I don't think so.. when dropout>0 and recurrent_dropout=0, it will fallback to recurrent.py, but both LSTM and LSTM Cell are created with implementation=2 (you can verify that by print out the layer.implementation). When implementation=2, it will use tied dropout, whereas implementation=1 will use untied dropout.

[2020-09-12 03:20] ITAC85v2 opened #43169 "DLL load failed: A dynamic link library (DLL) initialization routine failed."
**System information**
I am using Tensorflow on Windows 10 2004
Tensorflow installed from PIP (I don't know if that's what you are asking for, sorry)
Tensorflow version is 1.15
Python version is 3.7 (64-bit)

**Describe the problem**
It says _"DLL load failed: A dynamic link library (DLL) initialization routine failed."_

**Provide the exact sequence of commands / steps that you executed before ru

[2020-09-12 03:22] antonio-leblanc commented on #38589
Same Issue,
@flydragon2018 solution worked for me
replaced `keras`  -> `tensorflow.keras` when importing

[2020-09-12 03:28] Leslie-Fang commented on #43128
I have met a similar issue. The int8 tflite model is slower comparing with Fp32.
I only use the default convert options.
[code]

[2020-09-12 03:34] AkshayRoyal commented on #42713
Hi, The issue has been resolved. albumentations library doesn't support mapping to a batched dataset for now.

Thanks everyone for your prompt responses. I really appreciate

[2020-09-12 03:34] #42713 closed

[2020-09-12 03:55] nikitamaia commented on #41813
Change has been made to the docs
https://www.tensorflow.org/tutorials/distribute/input#usages

`Placing the loop inside a tf.function will give a performance boost. However, break and return are currently not supported for a loop over a tf.distribute.DistributedDataset that is placed inside of a tf.function.`

[2020-09-12 03:55] #41813 closed

[2020-09-12 05:41] #42933 closed

[2020-09-12 05:47] noirmist commented on #39782
@zhangjh915 @minhhoangbui
From this code, you can get the decayed learning rate during training.
[code]

[2020-09-12 05:55] wulikai1993 commented on #43039
Thanks a lot ! It works for me ! I add following codes:

[code]

[2020-09-12 05:55] #43039 closed

[2020-09-12 05:56] renjie-liu commented on #43121
We have optimized for neon on arm, but for micro, unfortunately those simd instructions are not available.

Hi Pete, do you have any suggestions?

Thanks

[2020-09-12 06:26] Gokul-S-Kumar commented on #43149
Thanks @bhack !! It works :).
I have been initializing weights in the previous way all the time. Is it wrong to do so?

[2020-09-12 06:34] chrism0dwk opened #43170 "Segfault with tf.linalg.cholesky"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Mint 20
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): binary (PyPI)
- TensorFlow version (use command below)

[2020-09-12 06:36] akashakara opened #43171 "OpenCL"
I understand TensorFlow only supports CUDA. What would need to be done to add in OpenCL support?

[2020-09-12 06:38] amahendrakar commented on #42014
@mohammadrezaghorvei,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2020-09-12 06:55] amahendrakar commented on #43169
@ITAC85v2,
You might be facing this issue because of the following reasons

- You are running 32-bit Python or 32-bit OS
- You have not installed the [Microsoft Visual C++ Redistributable](https://support.microsoft.com/help/2977003/the-latest-supported-visual-c-downloads) package
- Your CPU does not support AVX instructions.

Please take a look at the [system requirements](https://www.tensorflow.o

[2020-09-12 07:13] pratikshambharkar commented on #43152
@Saduf2019

i have tried this also :- https://docs.anaconda.com/anaconda/user-guide/tasks/tensorflow/
< conda create -n tf tensorflow
   conda activate tf

    conda create -n tf-gpu tensorflow-gpu
    conda activate tf-gpu

`import tensorflow`

[2020-09-12 07:19] anidh commented on #42655
@hajuho

Thanks a lot. The steps you mentioned worked perfectly.

[2020-09-12 07:19] #42655 closed

[2020-09-12 07:53] junshutang commented on #39983
Have you solved this question? @ @Shafaq-S

[2020-09-12 08:08] Shafaq-S commented on #39983
I have not. Are you facing the same problem? If yes, do let me know if you come across a solution.

[2020-09-12 08:43] Leslie-Fang commented on #43121
@renjie-liu What's about X86 case? Did these int8 ops optimized?

[2020-09-12 08:49] PaulPauls opened #43172 "Random NaN loss when using float16 dtype and batch size of 1"
**System information**
- OS Platform and Distribution: Google Colab
- TensorFlow version (use command below): tf-nightly (2.4.0-dev20200911)

**Reproducing code**
see [https://colab.research.google.com/drive/1miE61h7rlSJL0xIG4yNdVx05lVxT-oKb?usp=sharing](https://colab.research.google.com/drive/1miE61h7rlSJL0xIG4yNdVx05lVxT-oKb?usp=sharing)

[code]

**Behavior description**

Seemingly non-determini

[2020-09-12 09:04] JF-D commented on #43049
Hi, For this https://github.com/tensorflow/tensorflow/issues/29840#issuecomment-689284948 , do you have any idea? Where can I find more information about UVM in tensorflow? @ravikyram @bhack

[2020-09-12 09:06] poedator opened #43173 "subclass of tf.keras.Model throws "NotImplementedError" when fit() with custom data"
TF 2.3.0 tested on Windows and in Colab.

There is an error that comes out only when certain type of model (subclass of tf.keras.Model) is combined with certain custom dataloaders (Python generator and subclass of tf.keras.utils.Sequence). Yet same loaders work OK with simple Functional Keras model.

the error is "**NotImplementedError: When subclassing the `Model` class, you should implement a `c

[2020-09-12 09:11] dsp1589 commented on #42305
Attaching python script which I used to train the model and facing the same issue.

[trainer.py.zip](https://github.com/tensorflow/tensorflow/files/5212455/trainer.py.zip)

**[[Unable to attach training data.]]**

**_Code for exporting pb saved model to tflite:_**

[code]

[2020-09-12 09:20] dsp1589 commented on #42305
https://1drv.ms/u/s!As1jbBIP1BYU3THC_LhtcvdY8Cjl?e=usmRZq

Data in one drive

[2020-09-12 09:22] dsp1589 commented on #42305
Can you reopen the issue @ayush9096

[2020-09-12 09:27] thephet opened #43174 "NotFoundError: No algorithm worked! when using Conv2D"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, see below.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux fully updated
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Installed from pacman
- TensorF

[2020-09-12 09:37] danial880 opened #43175 "While training fasterRCNN with Tensoflow Object Detection API 2.(using a `tf.Tensor` as a Python `bool` is not allowed in Graph execution. Use Eager execution or decorate this function with @tf.function.)"
**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): conda
- TensorFlow version (use command below): 2.2.0
- Python version: 3.6.10
- CUDA/cuDNN version: 10.1.243 / 7.6.5
- GPU model and memory: 1080ti 11GB

Command used to run training:
    python3 model_main_tf2.py     --pipeline_config_path=training/pipeline.config     --model

[2020-09-12 09:39] ems7 commented on #41973
This issue still exists in the nightlies. It affects` model.fit() `and `model.predict()`. I have also tried passing a generator to `model.fit()` but the leak persists.
I have tried several versions of tensorflow, built from sources with different versions of cuda and cudnn - the problem exists in all versions I tested.
Tensorflow  2.3.0/2.4.0/nightly
Cuda 10.1/10.2
Cudnn 7.6/8.0
nvidia driver 440.

[2020-09-12 09:42] danial880 commented on #43175
Already seen [https://github.com/tensorflow/tensorflow/issues/40143](url)

[2020-09-12 09:48] NikosSpanos commented on #41417
@gowthamkpr Can you please validate that my statement is valid? Because I have posted in the past the same question on StackOverflow (link [here](https://stackoverflow.com/questions/62912769/min-delta-on-callbacks-function-of-keras-model-seems-to-not-take-effect).
Based on the answers given in the posted SO question, I figured out that the minimum_delta is not the difference between validation_los

[2020-09-12 10:53] bhack commented on #43060
Can you reproduce this on your machine with tf-nightly?

[2020-09-12 11:01] bhack commented on #43171
It doesn't support CUDA only but also ROCM for AMD, Onednn for Intel, delagates GPU/NPU on android etc..
Also the new in progress [runtime](https://github.com/tensorflow/runtime) probably will expand the support over new hw ecosystem targets.

[2020-09-12 11:09] bhack commented on #43175
Are you using https://github.com/tensorflow/models/tree/master/research/object_detection?

[2020-09-12 11:14] bhack commented on #43174
Do you have a very minimal  but runnable standalone code/colab example?
Also I suggest you to import and use Keras from Tensorflow `tf.keras`

[2020-09-12 11:26] ravikyram commented on #43173
I have tried in colab with TF version 2.3, nightly versions(`2.4.0-dev20200912`) and was able to reproduce the issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/578ba17757a9a9afc21e8659b65e2440/untitled338.ipynb#scrollTo=ucG1nfsXCABQ). Thanks!

[2020-09-12 11:30] PEYMAN333 commented on #43120
I performed line to line double checks, and found out that one line has unwanted TAB, in one of the functions of the generator. This could lead to a reduced dimension feature in audio files with small size. I edited and run again the program. Fortunately, the training phase passed the 388 iteration. However, I am still surprised for the strange shown error which may seem irrelevant! The "ValueErro

[2020-09-12 11:31] #43120 closed

[2020-09-12 11:40] ravikyram commented on #43170
@chrism0dwk

I have tried in colab with TF nightly version(`2.4.0-dev20200912`) and i am not seeing any issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/835b6b031991af76988c9252b902289c/untitled340.ipynb).Please, verify once and close the issue. Thanks!

[2020-09-12 11:46] ichitaka commented on #43164
So seems like the numpy function had issues with the dimensionality. When I fix that, evaluate and the numpy function return the same. Also adding the training data as validation data returns also the same value as the other two. So it seems, like the loss in history to be a value before the last gradient is applied. So I would consider this to not be a bug, just unexpected behaviour.

[2020-09-12 11:46] #43164 closed

[2020-09-12 11:59] ravikyram commented on #43165
I have tried in colab with TF version 2.3 and was able to reproduce the issue. Please, find the gist [here.](https://colab.research.google.com/gist/ravikyram/baf51cdacf5192432098f321e1e3bfb2/untitled341.ipynb) Thanks!

[2020-09-12 12:29] amitport commented on #15501
@tensorflowbutler this is still an issue
see https://github.com/tensorflow/tensorflow/issues/19378#issuecomment-412760300

[2020-09-12 12:33] Rishit-dagli commented on #43131
I personally have not worked with PyTorch Mobile so I wouldn't be able to compare them, but I have noticed that the TF Lite Android Support Library is pretty stable

[2020-09-12 12:34] ravikyram commented on #43151
@Otakarlp

I have tried in colab with TF nightly version(`2.4.0-dev20200912`) and i am not seeing any issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/c16be7ff698abbc656c0aa968c77d6a6/untitled343.ipynb).Please, verify once and close the issue. Thanks!

[2020-09-12 12:47] amitport commented on #19378
It's been two years since the last update. Do `contributions welcome`-issues return to the backlog at some point?

[2020-09-12 13:05] bhack commented on #43151
@ravikyram It seems to me that you have not reproduced the same user example with nightly cause on your Colab gist you are missing the `+ tf.math.reduce_sum(layer2)` user original case inside `loss2`.

@Otakarlp As I told you I think the you could follow the documentation example I mentioned with `add_loss`. Other then documentation you could see https://github.com/keras-team/keras/issues/5563#iss

[2020-09-12 13:11] bhack commented on #43173
It is not a bug. You need to implement the `call` method in your class when sublcassing. (e.g. in your `class AE1` etc.):
See https://keras.io/guides/making_new_layers_and_models_via_subclassing/

[2020-09-12 14:39] bhack commented on #43172
This is an `edge` overflow initialization extracted from your loop:

Try to run this multiple time this and e.g. change it with `tf.random.set_seed(1)` or removing the seed.
[code]

[2020-09-12 14:46] thephet commented on #43174
@bhack the imports are such as "import tensorflow.keras", I have updated the link above, which pointed to the master branch which is for tf 1, but I am using tf2

The example code is this: https://github.com/davidADSP/GDL_code/blob/tensorflow_2/02_03_deep_learning_conv_neural_network.ipynb

The code would be like:

[code]

[2020-09-12 15:08] Otakarlp commented on #43151
First, thank you both for trying to help me.

Secondly, i want to make my mea culpa here, @bhack was absolutely right, i used `add_loss` and it worked perfectly ( before compiling the model(s) ), thank you again @bhack you are huge.

For those who are trying to add intermediate layers to the loss function with respect to a certain path of the model, please use the gist [Here](https://colab.researc

[2020-09-12 15:08] #43151 closed

[2020-09-12 15:20] Otakarlp commented on #42825
@cserpell you had the same issue as mine, please take look at this gist [Here](https://colab.research.google.com/drive/1qGZYgWRZoYXIeMKIEVKLf4hTo24b0CHv?usp=sharing), i think you'll find what you're looking for.

[2020-09-12 15:30] amahendrakar commented on #42305
@dsp1589,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2020-09-12 15:31] amahendrakar commented on #41973
@ems7,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2020-09-12 15:38] swghosh commented on #42111
Hi @nikitamaia, as you said:

1. Is it possible to speed up TPU training using the same `SyncBatchNormalization` layer, provided that the `TPUStrategy` instead of `MirroredStrategy`. As TPUStrategy makes use of their own implementation of efficient all-reduce and other collective operations across multiple TPU cores.

2. Does SyncBatchNorm also intend to replace `TpuBatchNormalization`
(https://gi

[2020-09-12 15:45] electricSamarth opened #43177 "custom BLAS"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.3
- Are you willing to contribute it (Yes/No):Yes (WOULD

[2020-09-12 15:46] ITAC85v2 commented on #43169
Do you possibly know away to install Microsoft Visual C++ Redistributable to a removable drive instead of a local hard drive? I've tried to create a symlink but it did not work. Do you have any ideas?

[2020-09-12 15:46] swghosh commented on #41980
But are there significant training speed-up(s) unlike `TpuBatchNormalization` (https://github.com/tensorflow/models/blob/41a1e1d6200cebaa5cfd73ce7110998480a2f43b/official/vision/image_classification/efficientnet/common_modules.py#L29-L74)?

[2020-09-12 16:24] Bocharick commented on #43087
I have found this instruction: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/pip_package
And built tflite_runtime package .whl.
It works now. BUT! It's very slow.

1) Tensorflow 2.3.0 from pip
2) tflite_runtime my build from tensorflow 2.3.0 sources

So
[code]

is ~2.3 faster then
[code]

Why? tensorflow pip package which have no native optimizations are fast, but tfli

[2020-09-12 17:20] bhack commented on #43174
This last example It works for me.
Generally CUDA 11 still requires Tensorflow ningthly.
Can you try with tf-nightly?

[2020-09-12 17:41] #42751 closed

[2020-09-12 17:45] bhack commented on #43168
It is ok. It is just an info that the default binary it is not compiled with AVX2 but you have an AVX2 CPU available.

[2020-09-12 17:47] bhack commented on #43168
See also https://github.com/tensorflow/tensorflow/issues/15450#issuecomment-352882680

[2020-09-12 18:29] bhack commented on #43097
If you are coming from TF 1.x I suggest you to give an overview to:
https://medium.com/ai%C2%B3-theory-practice-business/tensorflow-1-0-vs-2-0-part-1-computational-graphs-4bb6e31c1a0f
https://medium.com/ai%C2%B3-theory-practice-business/tensorflow-1-0-vs-2-0-part-2-eager-execution-and-autograph-47473ed8b817

[2020-09-12 18:32] bhack commented on #43090
Could you minimize a little bit your code to have a runnable standalone example/colab that reproduces your problem?

[2020-09-12 18:38] bhack commented on #43141
See https://github.com/tensorflow/tensorflow/pull/35189 /cc  @njeffrie @sicong-li-arm

[2020-09-12 18:45] bhack commented on #43145
Two years ago we had an official blog post about a biomedical toolkit:
https://blog.tensorflow.org/2018/07/an-introduction-to-biomedical-image-analysis-tensorflow-dltk.html

[2020-09-12 18:50] pardeep-kesnani1234 opened #43179 "Issue with Training CenterNet Resnet50 V2 Keypoints 512x512"
Hello i am trying to train  CenterNet Resnet50 V2 Keypoints 512x512  with hand dataset 'https://www.robots.ox.ac.uk/~vgg/data/hands/downloads/hand_dataset.tar.gz'  but facing issue with label_map.pbxt and don't know how to resolve this issue.

**Errors i got during training:**
File "/usr/local/lib/python3.6/dist-packages/object_detection/builders/model_builder.py", line 991, in _build_center_net_m

[2020-09-12 19:25] eafpres commented on #38346
Update:
This was solved by changing the input array passed to the model:
[code]
Although the model trains in both cases, the saved model cannot be loaded in the case where the array is not explicitly 2-d.

[2020-09-12 19:55] tu1258 commented on #27519
If I want to check the value in tensor but I have to disable eager mode because of `tf.placeholder` compatibility, how should I do? While adding `tf.enable_eager_execution` between the layer I just got this error `ValueError: tf.enable_eager_execution must be called at program startup.`

[2020-09-12 19:59] bhack commented on #43143
Generally you can't exactly match loss output on fit and loss on evaluate. See https://github.com/tensorflow/tensorflow/issues/29964#issuecomment-505498333

[2020-09-12 20:02] bhack commented on #43179
Are you using Centernet from model garden?

[2020-09-12 20:05] alexandresalem commented on #38589
You have to either use tensorflow.keras libraries in everything, or keras libraries in everything.
If you mix them, you are going to receive that error message.

[2020-09-12 20:40] jvishnuvardhan commented on #40832
@fengyang0317 I think this was resolved in recent `tf-nightly`. I cannot reproduce the issue with `tf-nightly`.

Can you please verify once and close the issue. Thanks!

[2020-09-12 21:03] jvishnuvardhan commented on #27941
@kotritrona Looks like this was resolved in recent `tf-nightly`.

Can you please verify once and close the issue if this was resolved for you. Thanks!

[2020-09-12 22:03] FalsoMoralista commented on #42911
[code]

[2020-09-12 22:05] bhack commented on #3001
Can we close this as we have CORE ML delagate in TF lite?

[2020-09-12 22:21] bhack commented on #42911
@jsimsa It is not the `AUTOTUNE` cause it deadlocks also with `multiprocessing.cpu_count()`

The deadlock  is in the inter-op parallelism resources pool cause I've unlocked it with
[code]

[2020-09-12 22:43] bhack commented on #42911
@jsimsa I don't know if a solution similar to https://github.com/tensorflow/tensorflow/commit/f5fcd1fdcf896f46aed03c7e61525b48b75d1acc could be valid

[2020-09-13 00:04] #40832 closed

[2020-09-13 00:36] ITAC85v2 commented on #43169
I have done the same steps on a different computer and with Microsoft VC++ and I have received this:

I do not know if this is the same or not as I did not bother checking.

[2020-09-13 00:54] ASRodrigo1 commented on #31312
I had the same problem today, using tensorflow-gpu==2.0.0
My solution was very simple:
`pip uninstall tensorflow-gpu==2.0.0`
and
`pip install --user tensorflow-gpu==1.14.0`

[2020-09-13 00:58] ASRodrigo1 commented on #36459
https://github.com/tensorflow/tensorflow/issues/31312#issuecomment-691583440

[2020-09-13 01:19] bhack commented on #43172
About the backward pass (in fit) see also https://www.tensorflow.org/guide/mixed_precision?hl=en#underflow_and_overflow

[2020-09-13 01:54] Chenpuh commented on #43168
Thanks

[2020-09-13 01:54] #43168 closed

[2020-09-13 02:46] rajeev921 commented on #42888
I have tried tf.data.experimental.AutoShardPolicy to DATA  and FILE but still it is failing with the same error.

I am now using a bigger dataset running for 1 host with 45 steps_per_epochs.
But fail for 2 hosts with 23 steps_per_epochs.

Below is the code I have used. I tried to remove prefetch also no change same error.

[code]

Attaching the error log.

[error.log](https://github.com/tensorflow

[2020-09-13 05:25] ImaiTomoaki opened #43181 "cuda"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2020-09-13 05:25] #43181 closed

[2020-09-13 05:45] tu1258 opened #43182 "How to check the tensor value(this is different from issue 27519)"
I want to check the tensor value in a specific layer and I find that tensor.numpy represents the value in eager mode. However, there is tf.placeholder in my code and tf.placeholder is not compatible with eager mode so I have to disable eager mode. Then how to check the value in this case?

In brief, I want to see a data(eg. 1x32x32 image) going through the neural network and check all activation b

[2020-09-13 06:02] saeedkhanehgir commented on #40157
@thaink @terryheo
Hi
i convert my frozen graph to tflite. when inference it, the inference code is

interpreter = tf.lite.Interpreter(model_path="converted_model.tflite")
interpreter.allocate_tensors()
input_details = interpreter.get_input_details()
output_details = interpreter.get_output_details()
input_shape = input_details[0]['shape']
input_data = np.array(np.random.random_sample(input_shape),

[2020-09-13 07:03] sohamsahare123 commented on #39367
After reinstalling 4-5 time and restarting it worked.
Thank you all.

[2020-09-13 07:44] GereonFranken opened #43183 "Learning Rate finder for optimizers"
**System information**
- TensorFlow version: 2.3
- Are you willing to contribute it: Yes

**Describe the feature and the current behavior/state.**
--
I am currently reading the book "Deep Learning" by Ian Goodfellow, Yoshua Bengio and Aaron Courville. In this book they propose a formula for finding the best learning rate  under certain constraints. The formula is:
 `e* = g.T*g / g.T*H*g`
where g i

[2020-09-13 08:23] thaink commented on #40157
@saeedkhanehgir TensorArrayScatterV3 does not works with flex delegate in most case.
For now, you'll need to remove it from the mode.

[2020-09-13 08:51] saeedkhanehgir commented on #40157
@thaink
thanks. For your answer
Could you please explain further where I should delete it?

[2020-09-13 08:56] poedator opened #43184 "Keras on_epoch_end() callback output happens BEFORE completion of epoch output with verbose=1"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): modified TF ex

[2020-09-13 08:58] thaink commented on #40157
@saeedkhanehgir I think you have to replace it in the training code. Then train the model and convert it again.

[2020-09-13 09:01] rohan100jain commented on #42402
I don't think we need to change tf.roll to accomplish this. We can achieve this by slice assignment

a = [[0,1,2,3,4], [5,6,7,8,9]]

[code]
where tf.tensor_scatter_nd_update does the slice assignment logic. If we had numpy like slice update APIs, it could have been a bit more easier e.g.

[code]

[2020-09-13 09:01] #42402 closed

[2020-09-13 09:07] saeedkhanehgir commented on #40157
@thaink
Do I have no other solution?

[2020-09-13 09:10] saeedkhanehgir commented on #40157
@thaink
can i build a custom TensorArrayScatterV3 op?

[2020-09-13 09:35] yurkovak commented on #20139
Still seeing this problem with 1.12.0-rc2 built from source.
[code]

[2020-09-13 09:54] bhack commented on #43162
It Is still depending on filesystem input. Can you have something minimal that we could just copy, paste and run?

[2020-09-13 10:07] bhack commented on #43184
The print is before the end cause you have the weight update step.
Check this https://github.com/tensorflow/tensorflow/issues/29964#issuecomment-505498333 and follow-up comments.

I suppose that if there is something missing or that you want to better notify to developers you can open a small documentation PR on these lines https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ker

[2020-09-13 10:10] saeedkhanehgir commented on #40157
@thaink @terryheo
I think this error was because of lstm layer . if lstm layer was created by keras, this error was solved.

[2020-09-13 10:16] RavitejaBadugu opened #43186 "error when trying to modify code to train on tpu's."
I am training model on colab. Already raised issue in googlecolab/colabtools .But, no answers.

I am working on kaggle dataset [https://www.kaggle.com/c/severstal-steel-defect-detection/data]. Its a segmentation task. In which label(masks) are not given directly, they gave encoded pixels. we need to transform them back to image. So, Its a multilabel segmentation. for each class of the image from t

[2020-09-13 10:28] poedator commented on #43173
@bhack, thank you for the suggestion. I added `call()` to my test model and it works OK.  [Gist with working model here](https://colab.research.google.com/gist/poedator/21bb68a5b18b4766b9e45ebdc6f02781/tf_loader_issues.ipynb).

What I find confusing is:
1) some combinations of models and loaders work OK in my original example. Even without `call()` in my example the subclassed `Model` worked fine

[2020-09-13 10:33] NitinSaini18 commented on #26350
AttributeError: module 'tensorflow.compat.v1' has no attribute 'contrib'
I am facing this error while using rnn model in my code. Although I used
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()
help me how can I solve it

[2020-09-13 10:43] bhack commented on #43173
@poedator Cause It Is requested/checked for the `build` case.
See https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/engine/training.py#L320:L328

if you want to better notify developers about this please open a documentation PR on this doc string and also on https://github.com/keras-team/keras-io/blob/master/guides/making_new_layers_and_models_via_subclassing.py

Thanks

[2020-09-13 11:08] thephet commented on #43174
@bhack I don't think it's related to CUDA.

I have just tested it on another computer, same OS (Arch Linux), same libraries.

The only difference is that the computer where it doesn't work uses a RTX 2070 Super. The computer where it works uses a GTX 1080 TI.

[2020-09-13 11:12] bhack commented on #43174
I think that It Is an installation/packaging issue on your machine cause It Is working on colab.

Can you try an installation with pip?
https://www.tensorflow.org/install/pip

[2020-09-13 11:13] thephet commented on #43174
Adding the following lines fixes the issue:

[code]

Odd, because I didnt need them before.

[2020-09-13 11:16] bhack commented on #43174
Also double check CUDA versions cause CUDA 11 Is on nightly. I don't know what Arch Linux maintainers done but in that case It Is an Arch Linux issue. See https://github.com/tensorflow/tensorflow/issues/40227

[2020-09-13 11:22] #43131 closed

[2020-09-13 12:28] pardeep-kesnani1234 commented on #43179
yes brother, i am using from model garden with these model files:
![image](https://user-images.githubusercontent.com/26037495/93018021-70aeab80-f5e6-11ea-8fba-f38d96544a16.png)

[2020-09-13 12:34] bhack commented on #43179
Ok, so please close this and open the ticket on https://github.com/tensorflow/models

[2020-09-13 12:40] yair-ehrenwald commented on #43121
The Cortex M4f has an FPU so this shouldn't be too surprising.
On a platform without an FPU the quantized ops should be considerably faster.

 The split operations and reshape are basically memcpy ops so they probably take similar amounts of cycles, but for the mathematical ops consider that while 'sub' for example might take one cycle for fp32 (assuming you have an FPU) when using int8 you have s

[2020-09-13 13:44] Aksh-kumar commented on #42979
It works for me I added the tensorflow/tensorflow path in include directory.

[2020-09-13 13:59] yuanbopeng opened #43187 "Adding HDFS connection cache on tensorflow side can improve performance by 20+ times"
This is a issue from TaiJi AI platform in Tencent.

**System information**
- OS Platform and Distribution : Linux version 4.14.105-1-tlinux3-0010
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.13.1（we use）and the latest version also has this problem
- Python version: 3.6
- C++ version: 11
- hadoop version: 2.8

**test conclusion**
After testing,

[2020-09-13 14:30] offset-null1 opened #43189 "Tensorflow 2.3 not detecting gpu (cuda 10.0)"
**System information**
- OS Platform and Distribution:Linux Ubuntu 18.04
- TensorFlow installed from (source or binary):
- TensorFlow version:2.3
- Python version:3.6.9
- Installed using:pip
- CUDA/cuDNN version:10.0/ 7.6.5
- GPU model and memory: gtx 1050 ti, 4GB

I'm not able to figure out why tensorflow is not detecting gpu.
As soon as I import tf in cmd it shows this warning.

_**>>> import te

[2020-09-13 14:31] jaytimbadia opened #43190 "Tensorflow hub USE model issue"
This is worse. What documentation they have is also failing? Tensorflow, please help.

import tensorflow as tf
import tensorflow_hub as hub

# Create graph and finalize (finalizing optional but recommended).
g = tf.Graph()
with g.as_default():
  # We will be feeding 1D tensors of text into the graph.
  text_input = tf.placeholder(dtype=tf.string, shape=[None])
  embed = hub.Module("use_model")
  e

[2020-09-13 14:35] weichen456 commented on #42997
Yes,  it is a suitable workaround. Thank you!

[2020-09-13 14:49] jvishnuvardhan commented on #23436
@PanderBoy18 I know this is a stale issue. If this is still an issue, can you please share a simple standalone code to reproduce the issue? Thanks!

[2020-09-13 14:55] jvishnuvardhan commented on #26572
This is a stale issue. If this is still an issue, can you please share a simple standalone code to reproduce the issue? Thanks!

[2020-09-13 15:15] franciellemdn commented on #32520
We had the same problem. We need to add a new dimension, as the 3D tensor receives 4D.
list_x.append (image [:, np.newaxis])

Insert a new axis that will appear at the axis position in the expanded array shape.

[2020-09-13 15:21] jvishnuvardhan commented on #25073
@mshiffer I think this was resolved. [Here](https://colab.research.google.com/gist/jvishnuvardhan/4ea1bda75a261a759263b896aab3948b/untitled37.ipynb) is the gist for reference.

Can you please verify once and close the issue if this was resolved for you. Thanks!

[2020-09-13 15:30] rohan100jain commented on #40150
I think this issue is now fixed with tf-nightly. Closing issue. Please reopen if still there is a problem

[2020-09-13 15:30] #40150 closed

[2020-09-13 16:24] Pranab-pronay opened #43192 "ImportError: DLL load failed while importing _pywrap_tensorflow_internal: The specified module could not be found."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):win10
- Mobile device (e.g. iPh

[2020-09-13 16:39] cranedroesch commented on #43143
That explains the discrepancy in the third-ish decimal place: the loss in the verbose output is the penultimate loss before the last gradient update.

But that is not the main issue.  The main problem is that the loss from this:

`
loss = loss_object(Y, pred)
`

is VERY DIFFERENT from the loss that I compute by hand:

[code]

Moreover, the loss that I compute by hand is similar (but not exactly th

[2020-09-13 16:42] hyunsungkim commented on #33144
I got the same problem and my problem was that the dtype of the dataset was 'float64', not the 'float32'.
So the problem was solved by casing dtype using .astype.
`
train_images = np.load(dir_data/'train_images.npy')
train_dataset = tf.data.Dataset.from_tensor_slices((train_images, train_labels))
train_dataset = train_dataset.shuffle(buffer_size=10000).batch(128)

representative_dataset = tf.data.

[2020-09-13 18:08] cranedroesch commented on #43143
Update:  here are the results of about 50 experiments, using the loss object and using hand-computed entropy.

(they are from my actual use-case instead of the dummy MWE in the original post)

![image](https://user-images.githubusercontent.com/13458532/93025146-937e9700-f5c9-11ea-97b4-8b19bdfba196.png)

It looks like there is a 1:1 correspondence between the loss out of the loss object, and the ha

[2020-09-13 20:02] bhack commented on #43143
About your example here you can print the evaluation total loss, loss one and, loss two:

[code]

You told that the main problem is `loss = loss_object(Y, pred)`. So you can reproduce `For end batch` output losses if you reproduce with your manual code all the fundamental steps in the `evaluate` pipeline (so please double check the flow).

If you see the core of the evaluation `test_step` there is

[2020-09-13 20:45] bhack commented on #43192
We don't support Anaconda installation.
Please try to install TF with pip/venv as https://www.tensorflow.org/install/pip
If you need Anaconda you could rely on third party support at https://docs.anaconda.com/anaconda/user-guide/tasks/tensorflow/

/cc @karmel @av8ramit We could improve this new @tensorflow-butler reply with a better text when there is an Anaconda string in the issue description.
I

[2020-09-13 20:57] bhack commented on #43190
Please fill the ISSUE template.
Can you share a very, very minimal but runnable standalone example or colab to reproduce this?

[2020-09-13 21:00] bhack commented on #43189
I think this more a question for Stackoverflow or Ubuntu support channels then a bug.
If you really have CUDA 11 try to install `pip install tf-nightly`

[2020-09-13 21:31] Pranab-pronay commented on #43192
I fixed this by running system.py, Btw thanks for the reply.

[2020-09-13 21:44] bhack commented on #43192
From you last log I still see that you are inside an `Anaconda3 envs`.
Under the [conda tab in the documentation](https://www.tensorflow.org/install/pip#conda):

[2020-09-13 21:49] Pranab-pronay commented on #43192
Sorry boss, I meant that I've used pip to install tf, yes I am using anaconda. Maybe still I am wrong

[2020-09-13 21:55] bhack commented on #43192
We support python venv and pip. If you want you can follow the guidelines at https://www.tensorflow.org/install/pip#windows_1.

Instead if you still need to use conda envs and Anaconda you need to find support at: https://docs.anaconda.com/anaconda/user-guide/tasks/tensorflow/

Please also respect our code of conduct (/cc @theadactyl) : https://github.com/tensorflow/tensorflow/blob/master/CODE_OF_

[2020-09-13 22:01] CalendulaED opened #43193 "W tensorflow/stream_executor/platform/default/dso_loader.cc:59] Could not load dynamic library 'cudart64_110.dll'; dlerror: cudart64_110.dll not found"
I got this issue when I run import tensorflow as tf in command line

2020-09-13 17:53:34.644899: W tensorflow/stream_executor/platform/default/dso_loader.cc:59] Could not load dynamic library 'cudart64_101.dll'; dlerror: cudart64_101.dll not found
2020-09-13 17:53:34.649089: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your mac

[2020-09-13 22:02] bhack commented on #43184
So if you see it is after validation and before the training end https://github.com/tensorflow/tensorflow/blob/v2.3.0/tensorflow/python/keras/engine/training.py#L1135-L1145

[2020-09-13 22:04] bhack commented on #43193
Please `pip install tf-nightly` for CUDA 11

[2020-09-13 22:06] Pranab-pronay commented on #43192
I meant sir by addressing boss, Maybe it sounded offensive due to cultural differences,  Thankyou

[2020-09-13 22:08] CalendulaED commented on #43193
After I tried pip install tf-nightly, it still shows the same error I think
![image](https://user-images.githubusercontent.com/68514251/93029816-22041000-f5ec-11ea-82c3-ecbc5dafbe05.png)

[2020-09-13 22:08] bhack commented on #43182
Please ask this support question on [stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow)

[2020-09-13 22:13] bhack commented on #43193
Is not the same error cause now it is looking for `110`.

Are you compilant with these steps?

[2020-09-13 22:14] bhack commented on #43193
You will find more on Windows tabs at https://www.tensorflow.org/install/pip#windows

[2020-09-13 22:19] Pranab-pronay commented on #43192
@bhack can you help me out:-

(tensorflow1) C:\tensorflow1\models\research>python object_detection/builders/model_builder_tf2_test.py
Traceback (most recent call last):
  File "object_detection/builders/model_builder_tf2_test.py", line 21, in <module>
    import tensorflow.compat.v1 as tf
  File "C:\Users\Pranab\Anaconda3\envs\tensorflow1\lib\site-packages\tensorflow\__init__.py", line 41, in <mod

[2020-09-13 22:21] bhack commented on #43192
We cannot support you on Anacoda sorry.

[2020-09-13 22:22] CalendulaED commented on #43193
I think the problem is solved after I Download and install the Microsoft Visual C++ Redistributable.
Thank you so much !

[2020-09-13 22:23] bhack commented on #43193
You need also to rely on `tf-nightly` for CUDA 11 untill TF 2.4 is released.

[2020-09-13 22:26] CalendulaED commented on #43193
I tried to use the example given by https://github.com/tensorflow/tensorflow
after I run the tf.add(1, 2).numpy()
it still shows some errors but evenlty output the 3
will this be a problem?
![image](https://user-images.githubusercontent.com/68514251/93030111-963fb300-f5ee-11ea-9da7-d99c22056cfc.png)

[2020-09-13 22:31] bhack commented on #43193
Check that your software requirements are ok https://www.tensorflow.org/install/gpu#windows_setup

[2020-09-13 23:07] ankur-98 commented on #5276
The weights being written to the histogram needs to be clipped.

[2020-09-13 23:11] CalendulaED commented on #43193
I think I have everything it required.
And after I update my GPU driver, it shows the same error as the beginning.
![image](https://user-images.githubusercontent.com/68514251/93030924-de61d400-f5f4-11ea-9b65-5c38f8f99066.png)

[2020-09-13 23:14] bhack commented on #43183
Please open this support questions to stackoverflow.
In the meantime you can quickly control the learning rate at https://www.tensorflow.org/guide/keras/custom_callback?hl=en#learning_rate_scheduling

[2020-09-13 23:21] bhack commented on #43193
Have you double checked the `%PATH%`

[2020-09-13 23:25] bhack commented on #43030
Check https://github.com/JuliaGPU/CUDA.jl/issues/300

[2020-09-14 00:04] lucio-cyber commented on #43168
Hello,
I am using tensorflow for deepsignal and I have the same problem and that is: "Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA".
I installed tensorflow in a virtual environment along with tombo and python3 as they themselves suggest. The tensorflow version I have is 1.8.0.
How can I solve this problem ?

[2020-09-14 00:08] CalendulaED commented on #43193
I run all four Path in https://www.tensorflow.org/install/gpu#windows_setup.
But it still missing for 110

[2020-09-14 00:08] bhack commented on #43168
https://github.com/tensorflow/tensorflow/issues/43168#issuecomment-691523272.

[2020-09-14 00:12] bhack commented on #43193
Have you changed the documentation PATH strings for your CUDA 11 (doc has CUDA 10)?
Have you checked that these paths exist on your system?

[2020-09-14 00:14] CalendulaED commented on #43193
Yes, I manually added it for the first three, but the last one "C:\tools\cuda\bin", I don't think I have this folder

![image](https://user-images.githubusercontent.com/68514251/93032144-ba56c080-f5fd-11ea-8f1d-a22e5f4be87c.png)
![image](https://user-images.githubusercontent.com/68514251/93032149-bdea4780-f5fd-11ea-9a9b-765b82a64ce9.png)

[2020-09-14 00:23] CalendulaED commented on #43193
At the beginning, I copy the cuDNN's file to bin include and lib respectively, I tried to add a Path directly to cuDNN and it is still having this error

[2020-09-14 00:26] bhack commented on #43193
Have you set in PATH
SET PATH=C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11\bin;%PATH%

Do you have this dir in your system?

[2020-09-14 00:55] thaink commented on #40157
@saeedkhanehgir Great info. Thanks for letting us know.

[2020-09-14 01:07] CalendulaED commented on #43193
Yes, and I already added to the path, but it still shows the error

[2020-09-14 01:08] Degerz commented on #43171
OpenCL would need to improve it's standards to become a viable option ...

It'd have to change into a single source programming model where host and device code can lie in the same source file. This ties into the previous statement but OpenCL kernels would also need to be able to support templates too ...

[2020-09-14 01:11] CalendulaED commented on #43193
This is all the PATH I have, I think I already include all that required
![image](https://user-images.githubusercontent.com/68514251/93033777-b169ed00-f605-11ea-8bfa-3f6206411067.png)
![image](https://user-images.githubusercontent.com/68514251/93033781-b62ea100-f605-11ea-90b5-cc4ead6d14f6.png)

[2020-09-14 01:17] bhack commented on #43193
Open `C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11\bin`.
What file di you have there?
Can you see the `cudart64_100.dll`?

[2020-09-14 01:19] CalendulaED commented on #43193
I think I only have cudart64_110.dll
(The one that I highlighted)
![image](https://user-images.githubusercontent.com/68514251/93034064-d0b54a00-f606-11ea-991e-429bb7713d58.png)

[2020-09-14 01:20] woshildh commented on #43135
need help

[2020-09-14 01:36] bhack commented on #43193
Yes was a typo is corrent. On the same terminal where you are trying to launch Tensorflow can you verify that you have the new path with `echo %PATH:;=&echo.%`?

[2020-09-14 01:38] CalendulaED commented on #43193
Yes, I believe I have this path in PATH
![image](https://user-images.githubusercontent.com/68514251/93034880-84b7d480-f609-11ea-9b45-ca1f04f4dec3.png)

[2020-09-14 01:39] jvishnuvardhan commented on #42855
@bit-scientist Can you please share a simple standalone code to reproduce the error? Standalone code results in faster resolution of your issue. Thanks!

[2020-09-14 01:40] zacwellmer commented on #40215
Regardless of what the user passes input for ```implementation```, if ```self._could_use_gpu_kernel``` is true, then the tied weights approach is used for inputs.
https://github.com/tensorflow/tensorflow/blob/2b96f3662bd776e277f86997659e61046b56c315/tensorflow/python/keras/layers/recurrent_v2.py#L1091-L1095

https://github.com/tensorflow/tensorflow/blob/2b96f3662bd776e277f86997659e61046b56c315/ten

[2020-09-14 01:42] Zlz-shoulder commented on #41445
OK. Many thanks!

[2020-09-14 01:45] bhack commented on #43193
I see a typo there:
`C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11\bin\bin`

[2020-09-14 01:47] CalendulaED commented on #43193
Yes, It is the path to cuDNN, After I download the cuDNN, I copy the bin in cuDNN to here.
I have both:
C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11\bin\bin
C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11\bin

Before I add the
C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11\bin\bin
it still doesn't work, so I tired to add it

[2020-09-14 01:52] CalendulaED commented on #43193
And I delete it from PATH, it still has the same error

[2020-09-14 01:58] bhack commented on #43193
Do you meant v11.0 or v11?

[2020-09-14 02:02] CalendulaED commented on #43193
I mean v11.0, I delete the one ~/bin/bin
but it is still not working

[2020-09-14 02:05] bhack commented on #43193
Is a python 64bit installation?

[2020-09-14 02:07] CalendulaED commented on #43193
Yes, I think I install the 64bit version?
And the version I have is 3.8.5
![image](https://user-images.githubusercontent.com/68514251/93036314-8edbd200-f60d-11ea-91c5-0f1b0081d37f.png)

[2020-09-14 02:16] bhack commented on #43193
`python -c "import sys; print(sys.maxsize > 2**32)"`

[2020-09-14 02:17] CalendulaED commented on #43193
![image](https://user-images.githubusercontent.com/68514251/93036825-f0507080-f60e-11ea-9250-4f68b0acabf1.png)

[2020-09-14 02:23] bhack commented on #43193
Ok It is 64bit.

So if you have `C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.0\bin` in the PATH  and you have `cudart64_119.dll` there It is strange that It gives you not found on this file.

[2020-09-14 02:24] CalendulaED commented on #43193
yeahhh.....very strange, I am not sure what to do in this case....

[2020-09-14 02:29] rxiang040 commented on #41485
Cool! Thank:) I will close this issue. Thanks for help:)

[2020-09-14 02:29] #41485 closed

[2020-09-14 02:30] bhack commented on #43193
Can you try to close and open the terminal with python and try again?

[2020-09-14 02:32] CalendulaED commented on #43193
So I close the old terminal and reopen it, this is what I got after try to import it
![image](https://user-images.githubusercontent.com/68514251/93037684-fd6e5f00-f610-11ea-8c3b-56f7357d0c31.png)
I think it is still the same error

[2020-09-14 02:35] bhack commented on #43193
Yes Is the same.
If the PATH Is currect I only see this old  case that required a reboot https://stackoverflow.com/questions/51111954/tensorflow-cant-find-cudart64-90-dll-even-though-it-is-installed-with-path-va/51112550#51112550

[2020-09-14 02:41] nick-nikzad commented on #33459
Hello everyone,
I have just tried to use pre-trained ResNet50 with tf.keras.applications.ResNet50(**args). The thing is happening for me is that after downloading weights, nothing else happens!! even after a couple of hours it does not go any further!! Any idea? what may be the casue of this? Any solution?

Many thanks for your help in advance.

I use as follow:

ENCODER_BASE =  tf.keras.applicati

[2020-09-14 02:41] CalendulaED commented on #43193
Just come back from the reboot, it still shows not find the 110

[2020-09-14 02:51] bhack commented on #43193
Have you installed python from the Microsoft storie?

[2020-09-14 02:53] CalendulaED commented on #43193
I believe I install it from offcial website, I don't even know they have it in the Microsoft store

[2020-09-14 02:54] nick-nikzad opened #43194 "tf.keras.applications.ResNet50 does not work properly"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-09-14 03:02] bhack commented on #43193
Mhh.. Cause if It was the Microsoft one it Is sandboxed: https://github.com/tensorflow/tensorflow/issues/36111#issuecomment-614933000

You can try Is to reinstall tf-nightly in a new fresh venv https://www.tensorflow.org/install/pip#windows_1

[2020-09-14 03:50] jaytimbadia commented on #43190
This is the minimal application code @bhack
I have tried with both version of tensorflow, still giving same issue.

import tensorflow_hub as hub
import tensorflow as tf

g = tf.Graph()
with g.as_default():

  text_input = tf.placeholder(dtype=tf.string, shape=[None])
  embed = hub.Module("use_model")
  embedded_text = embed(text_input)
  init_op = tf.group([tf.global_variables_initializer(), tf.ta

[2020-09-14 03:58] Ankur3107 opened #43195 "tf.keras SparseCategoricalCrossentropy with sample_weight on TPU: Error DenseToDenseSetOperation (No registered 'DenseToDenseSetOperation)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04(Colab)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): T

[2020-09-14 04:22] miladforte commented on #35036
@gunan so i f i get these two lines i just don't care and continue with my work ?

W tensorflow/stream_executor/platform/default/dso_loader.cc:59] Could not load dynamic library 'cudart64_101.dll'; dlerror: cudart64_101.dll not found
 I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

[2020-09-14 04:29] ravikyram commented on #43190
@jaytimbadia

This issue is more suitable for TensorFlow Hub repo. Please post it on hub repo from [here.](https://github.com/tensorflow/hub/issues) Thanks!

[2020-09-14 04:35] jaytimbadia commented on #43190
I have raised a new issue at hub but will take time again, but @bhack might solve this issue, so will close this one as soon as I get something from him. Thanks.

[2020-09-14 05:10] Saduf2019 commented on #43135
@woshildh
Is there any particular reason for using 1.13 version as its quite old and we have support for 1.5 and 2.x versions, would you want to upgrade the latest version and let us know if you are still facing any issue.
With respect to the error reported: #9638 [[link](https://www.tensorflow.org/install/source])

[2020-09-14 05:13] ravikyram commented on #43194
@nick-nikzad

Request you to share colab link or simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster.Thanks!

[2020-09-14 05:18] Saduf2019 commented on #43195
@Ankur3107
I ran the code on colab tf 2.3 and nighly TPU and do not face any error, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/22f0831140dbd35a13137b2df06961ec/untitled410.ipynb).
Is the code provided complete to replicate issue reported or please share complete code or colab link with error reported.

[2020-09-14 05:22] Saduf2019 commented on #43192
@Pranab-pronay
You could be facing this issue because of the following reasons

- You you running 32-bit Python or 32-bit OS
- Please take a look at the [system requirements](https://www.tensorflow.org/install/pip#system-requirements) and check if you have the correct dependencies installed.
- Your CPU does not support AVX instructions, please provide the make and model of your CPU in this case.

[2020-09-14 05:26] woshildh commented on #43135
@Saduf2019 Thanks, I will try a new version.

[2020-09-14 05:30] Saduf2019 commented on #43145
@quartermaine
Please update as per above comment.

[2020-09-14 05:34] Saduf2019 commented on #43162
@auchtopus
I ran the code shared and face the error shared in the [gist here](https://colab.research.google.com/gist/Saduf2019/dbd8ab4a67543c6216979c49eda7ca92/untitled410.ipynb).
PLease share simple stand alone code such that we could replicate the issue or is possible share a colab gist with the issue reported.

[2020-09-14 05:40] wantalgh commented on #33536
I also encountered this problem, this is caused by a mismatch between the graphics card driver version and the cuda version in my computer. Reinstall the cuda installation package and use the built-in driver version in the package, and the problem is gone.

[2020-09-14 05:42] Saduf2019 commented on #43187
@yuanbopeng
Is there any particular reason to be using tf 1.13, support is available from 1.15 and 2.x versions.
Would you want to upgrade and let us know if you still face the issue.

[2020-09-14 05:44] Saduf2019 commented on #43128
@y-ich
Please update a s per above comment.

[2020-09-14 05:45] Saduf2019 commented on #43149
@Gokul-S-Kumar
Please feel free to move the issue to closed status if resolved.

[2020-09-14 05:45] ravikyram commented on #43186
@RavitejaBadugu

Please, fill issue template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose).

Request you to share colab link or simple standalone code with supporting files to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-09-14 05:50] nick-nikzad commented on #43194
Thanks for your reply.

I get the issue just with running of below simple code:

import tensorflow as tf
ENCODER_BASE = tf.keras.applications.ResNet50(include_top=False,input_shape=(None,None,3),weights='imagenet')

Note: once I run the above line on my laptop ( it is only cpu), it is fine and works. But as I run on our GPU cluster the issue raises. It also uses the almost full capacity of the GPU

[2020-09-14 05:54] Saduf2019 commented on #43115
@TuringEmmy
Please update as per above comment.

[2020-09-14 05:57] Saduf2019 commented on #42991
@dyu41
Please update as per above comment.

[2020-09-14 05:59] ravikyram commented on #43194
@nick-nikzad

I have tried in colab with TF-GPU version 2.3.0 and i am not seeing any issue. Please, find the gist [here.](https://colab.research.google.com/gist/ravikyram/7e9c0cd69f0b5527ed6f1717d4faa62c/untitled346.ipynb).Thanks!

[2020-09-14 06:02] thaink commented on #43084
Most kernels are ported from TFLite to Micro so I think it is possible.
can some reference commits like https://github.com/tensorflow/tensorflow/commit/172647f58355ae0e87b9160a43da89f420151fd0 and https://github.com/tensorflow/tensorflow/commit/891e3dc6219bc886e5dbd22b268cd097ab2effcd help?

[2020-09-14 06:07] Saduf2019 commented on #43086
@kujaomega
Please update as per above comment.
please refer to existing issues and let us know: #7653 #32623 [link](https://stackoverflow.com/questions/48658204/tensorflow-failed-call-to-cuinit-cuda-error-no-device)

[2020-09-14 06:09] Saduf2019 commented on #43027
@hpssjellis
please update as per above comment.

[2020-09-14 06:14] TobiasBoeschMiele commented on #37007
Hello everyone,

I would also like to learn to know tensorflow and therefore I'm trying to use the Hello World example.
That fails with errors either in MinGW or cygwin. I have two output lines that express their opinion:

Here comes MinGW:
[code]

This is cygwin:
[code]

[2020-09-14 06:15] Saduf2019 commented on #42825
@cserpell
Please update as per above comment.

[2020-09-14 06:16] auchtopus commented on #43162
@Saduf2019 @bhack where can I host toy versions of the requisite image directories? Should I just make a public git repo with 25 images of each category (20 train, 5 test)? Or is there a better solution?

[2020-09-14 06:18] yuanbopeng commented on #43187
@Saduf2019 1.15 and 2.x versions still have this performance  problem

[2020-09-14 06:30] nick-nikzad commented on #43194
Thanks but once I tried for TF-GPU version 2.2.0 which is mine it fails.  Would you please take a look [here](https://colab.research.google.com/drive/1o6s4aWBtV3O4RzmD5i7fPWfUvgZid90v#scrollTo=u76PSye_TOdD). Thanks.

[2020-09-14 06:36] RavitejaBadugu commented on #43186
dataset::[https://www.kaggle.com/c/severstal-steel-defect-detection/data](url)
colab link::[https://colab.research.google.com/drive/18fHifO1eXAZREJ8gdkB_XKyD3GlYuolx?usp=sharing](url)

[2020-09-14 06:38] ravikyram commented on #43194
@nick-nikzad

Please, grant me the access for the colab link you have provided.Also, please check you are facing the same issue with the latest version of Tensorflow ie. 2.3. Thanks!

[2020-09-14 06:54] nick-nikzad commented on #43194
https://colab.research.google.com/drive/1o6s4aWBtV3O4RzmD5i7fPWfUvgZid90v?usp=sharing

[2020-09-14 06:55] terryheo commented on #42744
Acked. Let me handle this.

[2020-09-14 06:58] quartermaine commented on #43145
Thank you for the suggestion @bhack  somehow  I missed the DLTK toolkit. From my understanding the augmentation according to 04_input_normalisation_and_augmentation.ipynb notebook on tutorials has to be done when writing the TfRecords?

[2020-09-14 07:05] SIben commented on #43115
@Saduf2019
I assume you mean me, as @TuringEmmy is not the original author of the issue.
I am using the TF nightly build `2.4.0-dev20200829`; isn't that (one of) the most recent builds? Nevertheless, I upgraded to `v1.12.1-41432-g3e446295d8 2.4.0-dev20200912`, the latest version I was able to get through pip, and the issue is still here.

@bhack This indeed works, but the behavior is still differe

[2020-09-14 07:06] avinashcpandey commented on #43044
Hi @Saduf2019

Its difficult for me to share the code. As I described my logic above in **current behavior and pseudo code** section, what we are trying to achieve. I need below information, so that i can do cleaner implementation.

Basically i am doing below two things for
_1. Making set_shape(const TensorShape& shape) to **public** scope  in tensorflow/core/framework/tensor.h
2. Change below lin

[2020-09-14 07:18] Ankur3107 commented on #43195
@Saduf2019
Thank you for your immediate reply. My complete code with an error is on https://colab.research.google.com/drive/1HYASbm7hqrL-bYZxXE7FPiWNNeOon48z?usp=sharing .
Please find the link.

[2020-09-14 07:44] y-ich commented on #43128
@Saduf2019 san,

Maybe "update a s per above comment" is kind of typo? I am sorry that I cannot understand it.

Currently what I want to know is how to quantize weights as uint8 instead of int8.
Please let me know it.

[2020-09-14 07:46] Saduf2019 commented on #43183
@GereonFranken
Please update as per above comment.

[2020-09-14 07:47] thaink commented on #43084
And make sure the conversion follow https://www.tensorflow.org/lite/convert/rnn

[2020-09-14 07:49] Flamefire commented on #37861
FTR:
- Replacing `exec_tools` by  `tools` solves the include issue: #43156
- Symlinking the `*.proto` files only solves the include issue (most symlinked includes weren't used anyway): #43153

With those 2 PRs I can build TF with custom protobuf

[2020-09-14 07:50] GereonFranken commented on #43183
Will do thank you. Should i leave this issue open or close it then?

[2020-09-14 07:52] NAEE09 commented on #43150
Solved! thanks.

[2020-09-14 07:52] #43150 closed

[2020-09-14 07:56] Saduf2019 commented on #43183
@GereonFranken
Thank you for your response, please move the issue to closed status as it will be tracked at stackoverflow.

[2020-09-14 08:00] Banjerd-pkt commented on #33941
where I can add your code for show accuracy when training my model

[2020-09-14 08:07] #43183 closed

[2020-09-14 08:19] vito-filo commented on #43128
I have the same issue, i need to quantize a ssd_mobilenet_v1_fpn to use it on Android for object detection.
From what I understood there are 3 types of quantizations,  as explained here: [https://www.tensorflow.org/lite/performance/post_training_quantization](url)

I managed to perform dynamic range quantization, so now my model has uint8 filter weights. but it's still slow and too heavy!
In order

[2020-09-14 08:27] offset-null1 commented on #43189
@bhack  but I have cuda 10 installed, I'll try installing tf-nightly

[2020-09-14 08:37] arnoegw commented on #43190
https://tfhub.dev/google/universal-sentence-encoder-large/5 is a [TF2 SavedModel](https://www.tensorflow.org/hub/tf2_saved_model) and cannot be loaded with the `hub.Module` API. Please follow the usage instructions on the model documentation page.

[2020-09-14 08:39] arnoegw commented on #43190
You'll also need to update your version of tensorflow_hub (and maybe even tensorflow). The error message reads as if you're using 0.2; current is 0.9.

[2020-09-14 08:44] amahendrakar commented on #43189
@offset-null1,
TensorFlow v2.3 is compatible with CUDA 10.1 and cuDNN 7.6. For more information regarding this please take a look at the [tested build configurations](https://www.tensorflow.org/install/source#gpu).

And the CUDA version mismatch query has been explained in [this](https://stackoverflow.com/a/53504578) StackOverflow comment. Thanks!

[2020-09-14 08:55] jaytimbadia commented on #43190
Ok, so do they have to be loaded using URL in hub.load?
If we need to load it using URL, why they have provided download option?
I mean how to load a folder downloaded model?

Also I tried using both version of hub 0.9 as well? gave same error.

[2020-09-14 08:56] jaytimbadia commented on #43190
I have downloaded the model, and want to load it from there?> How should I do that?

[2020-09-14 08:59] lucalazzaroni commented on #42918
Today I also tried with the cmsis-nn flag instead of cmsis but the score is always [64 64 64 64]

[2020-09-14 09:09] roccopietrini commented on #24328
same issue in AWS Sagemaker with tensorflow version 2.3.0.. any news?

[2020-09-14 09:11] bhack commented on #43190
You can see the logic at https://www.tensorflow.org/hub/tf2_saved_model?hl=en#using_a_savedmodel_in_low-level_tensorflow

[2020-09-14 09:21] bhack commented on #43145
I don't think It is maintained anymore.

New image augmentation pipelines will be landing from the TF gsoc at https://github.com/tanzhenyu/image_augmentation.
You can try to ask there for you specific use case needs.

[2020-09-14 09:22] chrism0dwk commented on #43170
Shucks, looks like it's my CUDA 11 stack, then.  Thanks for verifying.

[2020-09-14 09:29] offset-null1 commented on #43189
@amahendrakar thanks, I have these cuda runtime api support in my system

/usr/local/cuda-10.0/doc/man/man7/libcudart.so.7
/usr/local/cuda-10.0/targets/x86_64-linux/lib/libcudart.so
/usr/local/cuda-10.0/targets/x86_64-linux/lib/libcudart.so.10.0
/usr/local/cuda-10.0/targets/x86_64-linux/lib/libcudart.so.10.0.130

But still tf shows:

2020-09-14 14:32:03.792992: W tensorflow/stream_executor/platfor

[2020-09-14 09:39] quartermaine commented on #43145
I see.
 Thanks again @bhack I will ask there then.

[2020-09-14 09:41] #42763 closed

[2020-09-14 09:43] #43192 closed

[2020-09-14 09:59] unsatcore opened #43200 "tf.keras.callbacks.TensorBoard histogram summary breaks on tf.bool layer weights"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): NixOS 20.03 (irrelevant, as tensorflow is installed over pip)
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.3.0-rc2-23-gb36436b087 2.3.0 (applies to HEAD as well)

[2020-09-14 10:18] bhack commented on #43189
If `nvidia-smi` still gives you CUDA 11.0 and you have also CUDA 10 file It seems to me that your CUDA installation on your system is not in a good state.

[2020-09-14 10:27] offset-null1 commented on #43189
@bhack as per [https://stackoverflow.com/questions/53422407/different-cuda-versions-shown-by-nvcc-and-nvidia-smi/53504578#53504578](this) its not an issue and my cuda runtime api support (libcudart.so) is 10.0 which tensorflow asks for and supports too, but idkw is searching for libcudart.so.11.0 eventho my machine doesn't have it.

[2020-09-14 10:28] bhack commented on #43189
Can you paste the output of `nvida-smi`?

[2020-09-14 10:32] offset-null1 commented on #43189
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 450.51.06    Driver Version: 450.51.06    CUDA Version: 11.0     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |

[2020-09-14 10:33] Saduf2019 commented on #43145
@quartermaine
Please feel free to move the issue to closed status.

[2020-09-14 10:41] #42682 closed

[2020-09-14 10:50] y-ich commented on #43128
@vito-filo san,

Could tell me how to get uint8 filter weights?
In my experience, TensorFlow v1.15.3 generates only int8 weights, not uint8.

[2020-09-14 10:57] lucalazzaroni opened #43201 "micro speech example not working with STM32F769"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): Source
- Tensorflow version (commit SHA if source): f2c9a930a3f9f8dc0b7904f1d490b2665979d768
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Mbed OS (STM32F769)

**Describe the problem**
I'm trying to build the micro_speech

[2020-09-14 11:00] bhack commented on #43189
Please ask support to Ubuntu support channels on how to fix your CUDA setup.
It seems to me not clean cause you have mixed CUDA 11 and CUDA 10 elements.

[2020-09-14 11:10] CNugteren commented on #39054
I can confirm indeed that the above code now passes successfully on a V100 using `pip install tf-nightly`, C.UDA 11.0 and cuDNN 8.0.3.

[2020-09-14 11:10] #39054 closed

[2020-09-14 11:21] bhack commented on #43200
Can you close this and open a ticket in https://github.com/tensorflow/addons

[2020-09-14 11:26] shlomi-amitai opened #43202 "running TF operations on mobile GPU - error conversion to dynamic graph"
this happens to me as well.

any progress with it?

@pranshugo Your model has TF ops (converted with SELECT_TF) currently this introduces dynamic shape in the runtime. It's on our radar to fix SELECT option to avoid dynamic shape during inference.

_Originally posted by @karimnosseir in https://github.com/tensorflow/tensorflow/issues/38036#issuecomment-685021311_

[2020-09-14 11:26] shlomi-amitai commented on #43202
ERROR: Attempting to use a delegate that only supports static-sized tensors with a graph that has dynamic-sized tensors.

[2020-09-14 11:29] shlomi-amitai commented on #42863
thanks!

[2020-09-14 11:29] #42863 closed

[2020-09-14 11:41] #42777 closed

[2020-09-14 11:41] #42762 closed

[2020-09-14 11:47] pranshugo commented on #38036
hey @srjoglekar246,
Here is my model converted with SELECT_TF_OPS flag: https://drive.google.com/file/d/10COhJsGLiu15y51IyVAd2eoz8me8iixn/view?usp=sharing

Also, I am attaching my frozen graph along, so if you can suggest me a method to convert it with static shapes.
I am using tensorflow2.2.0
https://drive.google.com/file/d/16j7w8KwUnaxHvygsAygk5DM1qK61x4cs/view?usp=sharing

[2020-09-14 12:03] bhack commented on #43194
@nickdesaulniers Change your colab with `!pip install tensorflow==2.2.0`

[2020-09-14 12:09] Sumitrke88 commented on #7529
I have installed python 3.7, Keras 2.4.3, and TensorFlow 1.0.0
now upgraded version
pip install --upgrade tensorflow but still have the same version

Requirement already up-to-date: tensorflow in c:\programdata\anaconda3\lib\site-packages (1.0.0)
Requirement already satisfied, skipping upgrade: six>=1.10.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow) (1.14.0)
Requirement already

[2020-09-14 12:11] unsatcore commented on #43200
To be honest, I don't think this has anything to do with tf addons.
I've just used WeightNormalization as a practical example of layer having bool weights.
The root cause is Tensorboard callback I believe.

[2020-09-14 12:15] YC-wind commented on #35923
Does **erf** is supported in TensorFlow Lite? I encountered this problem too using TF1.14

[2020-09-14 12:21] cfRod commented on #42858
According to this (https://software.intel.com/content/www/us/en/develop/articles/intel-optimization-for-tensorflow-installation-guide.html?page=1&cid=&utm_medium=Syndication&utm_source=CodeProject&utm_campaign=AI_Developer_ASMO_2H_18_CodeProject),
I used the sanity check here to confirm the optimizations are enabled and the output from running an example net showed that  "This TensorFlow binary is

[2020-09-14 12:22] ArunaKote opened #43203 "tf-mlir-translate is not coming in binaries"
I built mlir using : bazel build --config opt tensorflow/compiler/mlir/...

But tf-mlir-translate is not there in the tensorflow/bazel-bin/tensorflow/compiler/mlir/tensorflow/

Thank You

[2020-09-14 12:29] Sumitrke88 commented on #7529
I also have MSVCP140.DLL

I also have MSVCP140.DLL file in my C:\windows\system32\ location

[2020-09-14 12:30] bhack commented on #43200
I think that there two different issues:
-  If your case is specific to `WeightNormalization` we could try to workaround in TF-addons.
- Instead if you are interested in generic tf.bool then is a known constrain:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/compat/ops_history_v2/WriteHistogramSummary.pbtxt

[2020-09-14 12:37] unsatcore commented on #43200
Neither

The point is TensorBoard callback crashes where it could actually do something more reasonable.
Instead of sending unsupported type into summary writer it could just skip over or cast to tf.int8 or...

[2020-09-14 12:40] jenselofsson commented on #42918
@lucalazzaroni Can you make sure that you have applied the changes in #43110?

[2020-09-14 12:41] #42740 closed

[2020-09-14 12:50] lucalazzaroni commented on #42918
@jenselofsson yes, I applied those changes and recompiled, but apparently there's no difference. I also checked with the debugger and those values are correctly assigned. If you had any suggestion I explained my problem more in detail in a new issue (#43201)

[2020-09-14 13:03] rytisss commented on #42405
I am wrapping some of the tensorflow functionality in C++ application using pybind11. I am getting same errors:
**Exception thrown at 0x00007FFA6B693B29 in bindingSample.exe: Microsoft C++ exception: pybind11::error_already_set at memory location 0x0000006092BFDD70**. (see pictures)
They are appearing when model is being constructed and compiled and right after that exceptions stop. Although these

[2020-09-14 13:08] rytisss commented on #42405
Also appear in data loader call

[2020-09-14 13:15] unsatcore commented on #43200
To clarify, I'm thinking of something like this
[code]

[2020-09-14 13:19] florence27 commented on #34968
@goldiegadde I'm super glad to hear that the `MethodNameUpdater()` function is available, cause it does exactly what I need. Unfortunately, I'm not able to use it (getting an `AttributeError`). Here's my setup:

OS Platform: macOS Catalina, Version 10.15.5
Tensorflow Version: 2.3.0
Python Version: 3.7.9

Would be very happy about any help with this!

[2020-09-14 13:25] amahendrakar commented on #35337
@yourtheron,
In order to expedite the trouble-shooting process, could you please provide the latest minimal reproducible code which you are running.

Also, could you please check if the same works with TF v2.3 and TF-nightly. Thanks!

[2020-09-14 13:38] y-ich commented on #43128
uint8 or int8 may not matter.
"per channel quantization" or not may matter.
Huawei's NNAPI driver seems not support per channel quantization yet.
I guess that some old version of TensorFlow quantizes as uint8 and per-tensor, but the last TensorFlow 1 and the latest TensorFlow 2 quantize as in8 and per-channel.

I want to know how to quantize models as per-tensor (and uint8).

[2020-09-14 13:43] Saduf2019 commented on #43202
@shlomi-amitai
Please share minimal indented code such that we could replicate your issue, and the tf version on which error is faced.

[2020-09-14 13:45] matthias-wright opened #43205 "Sparse tensor error message when applying constraint to dense variable"
**System information**
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from (source or binary): Conda
- TensorFlow version: I tried versions 2.2.0, 2.3.0, 1.15, and 1.14
- Python version: 3.6 and 3.8.3
- CUDA/cuDNN version: CUDA 10.1 and cuDNN 7.6 for TF 2.3.0 and 2.2.0, CUDA 10.0 and cuDNN 7.4 for TF 1.15 and 1.14
- GPU model and memory: GeForce GTX TITAN X (12 GB)

**Describe

[2020-09-14 13:58] krn-sharma opened #43206 "Architecture of Tensorflow model Zoo"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
https://github.com/tensorflow/m

[2020-09-14 13:59] shlomi-amitai commented on #43202
TF version 2.2 & 2.3.

Cannot send the code, but can elaborate.. it happens when converting unsupported operators such as conv3d from TF to tflite.
For doing that we use :
converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS, tf.lite.OpsSet.SELECT_TF_OPS]
then during runtime on GPU (TF 2.3) I get the above error.
(ERROR: Attempting to use a delegate that only supports static-sized

[2020-09-14 13:59] ehazrati opened #43207 "RuntimeError: Quantization not yet supported for op: %"
**System information**
- OS Platform and Distribution (Linux Ubuntu 18.04):
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): TF 2.3.0

**Command used to run the converter or code if you’re using the Python API**
[code]

** Model definition:
[code]

**The output from the converter invocation**
[code]

The model architecture uses Conv2D, bat

[2020-09-14 14:16] bhack commented on #43200
Ok you can  try to propose this extra condition to `_log_weights` with a PR
/cc @dnguyen28061  @annarev (for c++) @omalleyt12 (for python)

[2020-09-14 14:18] bhack commented on #43207
Can you please attach your model/ share google colab code to debug further? Thanks!

[2020-09-14 14:18] again4you opened #43208 "Question about TFLite GPU delegate"
I was trying to build TFLite GPU delegate on ARM device such as Raspberry pi 4.
After reading the guide document, I found that GPU delegate only uses Bazel build system and it only supports Android and iOS.

My question is that:
1) Is there any plan to support Makefile or CMake to build TFLite GPU delegate?

2) If I'd like to use TFLite GPU delegate on other Linux dist such as Ubuntu ARM, can I do

[2020-09-14 14:19] bhack commented on #43206
Please close this this ticket and open a new one at https://github.com/tensorflow/models/ directly.

[2020-09-14 14:23] Saduf2019 commented on #43202
@shlomi-amitai
Please refer to this issue and let us know if this helps: #42863

[2020-09-14 14:26] #43206 closed

[2020-09-14 14:28] hamidkhb opened #43210 "clone_model doesn't work properly. Dimensions of inputs should match."
**System information**
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.1
- Python version: 3.7:
- GCC/Compiler version (if compiling from source):
- GPU model and memory: tesla v100

**Describe the current behavior**
I am training my custom models and I have used the following code to clone and train a model for domain adaptation tasks. Suddenly t

[2020-09-14 14:28] ehazrati commented on #43207
[test_model.zip](https://github.com/tensorflow/tensorflow/files/5219078/test_model.zip)
Here is the Keras *.hdf5 model file.

[2020-09-14 14:28] bhack commented on #43208
There was some activity in https://github.com/tensorflow/tensorflow/pull/38806 for Linux and for Cmake https://github.com/tensorflow/tensorflow/pull/36180
For raspberry 4 the last update was https://github.com/tensorflow/tensorflow/issues/27320#issuecomment-657820659. You can ask there if there is a new update.

[2020-09-14 14:29] mihaimaruseac commented on #42945
This is not a bug in the code. Usage questions should be asked on StackOverflow.

[2020-09-14 14:29] #42945 closed

[2020-09-14 14:35] dzakhar commented on #42932
Hi,
As described, in the makefile, this tag does sources modifications to use a specific version of kernel in the exact “find and replace” way.  It gives a notable reductione in total size of application by removing not-used versions of optimized kernels, which is important for us. Same mechanism is used in `micro/examples/person_detection_experimental/arc_emsdp/Makefile`

We considered several op

[2020-09-14 14:38] bhack commented on #43207
I think you need to update your example also with the missing source of `converter.representative_dataset = representative_data_gen`

[2020-09-14 14:41] #42771 closed

[2020-09-14 14:41] #42495 closed

[2020-09-14 14:44] amahendrakar commented on #42412
@Ananas120,
Thank you for the update.

On running the `train.py` file, I am facing an error stating `TypeError: __init__() missing 1 required positional argument: 'vocab_size'`.  Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/99a34554cbc7c1deff0b94c987a9cca5/42412.ipynb#scrollTo=IeM-n0BPBC2y). Thanks!

[2020-09-14 14:47] bhack commented on #43210
Please could you share a very, very minimal but complete standalone or colab example that we could copy, past and run to reproduce your issue?

[2020-09-14 14:53] dikshantjn opened #43211 "Converter Error : for converting saved-model to tflite"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): pip install tensorflow
- TensorFlow version (or github SHA if from source): 2.3.0 , also installed tf-nightly

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

[2020-09-14 15:03] bhack commented on #43211
Please could you share a very, very minimal but complete standalone or colab example that we could copy, past and run to reproduce your issue?

[2020-09-14 15:05] dikshantjn commented on #22480
Im getting the same error while trying to load the saved_model.pb file while using
 converter = tf.lite.TFLiteConverter.from_saved_model(saved_model_dir)
It shows the file when i run "%ls {saved_model_dir}"
but when i run it on converter it gives error : "SavedModel file does not exist at: saved_model/{saved_model.pbtxt|saved_model.pb}"

[2020-09-14 15:16] dikshantjn commented on #43211
Here is the link with the jupyter notebooks and saved model data
https://drive.google.com/drive/folders/1MCvDti2ygukqw6fGE18WpnFOSzR_AanF?usp=sharing
Im working on a team where i have been requested to convert the saved_model to a tflite.
The "FLIR_retraining.ipynb" is the file to retrain the model.
and the "TFLite_converter.ipynb" is a shorter version that I have been trying to use for the conver

[2020-09-14 15:24] pandrey-fr commented on #41053
Hi,

The issue here is that you only pickle the optimizer's instantiation parameters (which, by the way, are better accessed through the `get_config` / `from_config` API), not its stateful variables. Those can be accessed _via_ the `get_weights` / `set_weights` API.

That being said, there is still the problem of re-creating the weights in a restored optimizer before being able to assign them valu

[2020-09-14 15:40] amahendrakar commented on #43200
Was able to reproduce the issue with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/0072c1bae1cf5704f47ef1de10518399/43200.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/c31bc03e5a46953f4194581a104b8fa7/43200-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-09-14 15:46] amahendrakar commented on #43203
@ArunaKote,
Could you please fill in the below details

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version:
- Python version:
- Installed using virtualenv? pip? conda?:
- Bazel version (if compiling from

[2020-09-14 15:57] amahendrakar commented on #43207
@ehazrati,
On running the code I am facing an error stating `NameError: name 'data_dir' is not defined`.

In order to expedite the trouble-shooting process, could you please provide the dataset you are using as well. Thanks!

[2020-09-14 16:06] nikitamaia commented on #42824
Hi @iamsrilakshmi, I think your issue here is that you first define

[code]

And then when defining `tr2`, you are again padding `tr`, which is already padded, and that results in an extra dimension, hence the error message `expected ndim=3, found ndim=4. Full shape received: [None, None, None, 128]`

If you just remove the following lines from your colab notebook, it runs without error:
[code]

[2020-09-14 16:09] ArunaKote commented on #43203
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):https://github.com/tensorflow/tensorflow.git
TensorFlow version:2.0
Python version:3.8
Installed using virtualenv? pip? conda?:pip
Bazel version (if compiling from source):3.1.0
GCC/Com

[2020-09-14 16:11] hamidkhb commented on #43210
Sorry but I don't know any dataset, which needs 2 inputs. And apparently the Concatenation is causing the problem.

[2020-09-14 16:13] nikitamaia commented on #42111
@MinasTyuru unfortunately I think that was the first thing we tried, but it still didn't solve the problem. It seems that only adds the control deps on the forward pass, and then out of order NCCL launches happen on the backward pass and the program hangs. Let me know if you see otherwise, but this is why we were looking into a more longterm fix.

[2020-09-14 16:22] wei-v-wang commented on #33627
You have already set inter/intra to 1, so I don't expect any other changes.  Adding @Srini511 for help.
@Srini511  Please see the unexpected behaviour with mkl_threadpool above. @fisakhan  wanted to use single thread TF but are getting 8 threads even though inter/intra ops are set to 1.

[2020-09-14 16:24] hamidkhb commented on #43210
But I just found out that this is causing the Problem
[code]
without changing the name it works fine. any idea how to solve this?

[2020-09-14 16:28] goldiegadde commented on #34968
@florence27 can you please report a new issue along with the complete  code to reproduce the error that is not working and cc me on it as well.
Thanks,
Goldie

[2020-09-14 16:31] lucalazzaroni commented on #43201
I think a possible problem: there is no dedicated `audio_provider.cc` file for the STM32F769 board, and the standard one doesn't work. Can anyone confirm me that this is the problem? Also, if there were solutions to this class' implementation for my board they would be really appreciated.

[2020-09-14 16:34] amahendrakar commented on #43211
@dikshantjn,
I was able to reproduce the error with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/ced1f50c56218d3da7c401a91bb5acbc/43211.ipynb).

However, with the latest [TF-nightly](https://colab.research.google.com/gist/amahendrakar/3c9f9d7540e521fa298398a6e5538bee/43211-tf-nightly.ipynb) I was able to run the code without any issues. Please find the attached gist. Thanks!

[2020-09-14 16:37] ArunaKote opened #43212 "tensorflow model to MLIR"
I want convert tensorflow model to MLIR .

I saved tensorflow model using model.save() as saved_model.pb.

How can lower the convert model to MLIR (affine/std dialect)?
What are the steps to do so?

Thank You

[2020-09-14 16:41] #42809 closed

[2020-09-14 16:41] #42814 closed

[2020-09-14 16:41] #42544 closed

[2020-09-14 16:41] #42581 closed

[2020-09-14 16:41] #42758 closed

[2020-09-14 16:41] #42418 closed

[2020-09-14 16:41] #42256 closed

[2020-09-14 16:41] matdadi commented on #32314
is this issue has solved?

[2020-09-14 16:46] dikshantjn commented on #43211
I'm still getting the same error:
"<unknown>:0: error: loc("Func/StatefulPartitionedCall/input/_0"): requires all operands and results to have compatible element types
<unknown>:0: note: loc("Func/StatefulPartitionedCall/input/_0"): see current operation: %1 = "tf.Identity"(%arg0) {_class = ["loc:@Func/StatefulPartitionedCall/StatefulPartitionedCall/input/_702"], device = ""} : (tensor<1x256x256x3

[2020-09-14 16:49] amahendrakar commented on #42738
@engrmz,
Any updates regarding this issue? Thanks!

[2020-09-14 16:51] amahendrakar commented on #42892
@pablo3x6,
Any updates regarding this issue? Thanks!

[2020-09-14 17:03] qlzh727 commented on #40215
Correct, when self._could_use_gpu_kernel is True, then the tied dropout approach is used and all the logic is in recurrent_v2.py. When self._could_use_gpu_kernel is False, it will fallback to https://github.com/tensorflow/tensorflow/blob/2b96f3662bd776e277f86997659e61046b56c315/tensorflow/python/keras/layers/recurrent_v2.py#L1120-L114, and the logic of self.cell.call() is the actual logic gets tri

[2020-09-14 17:15] pablo3x6 commented on #42892
I have tried fixes from other threads, looks like I wont be able to build a tflite model in 2.2.0

Guess I'll just wait till binaries get updated in the flutter oackage I'm using.

[2020-09-14 17:26] gowthamkpr commented on #41306
@Isabellaleesln Were you able to solve this problem?

[2020-09-14 17:30] HarrisDePerceptron opened #43219 "LR Custom Scheduler not working TF 2.3"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 18.04.5 LTS

- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command b

[2020-09-14 17:40] dikshantjn commented on #43211
@amahendrakar
Thank you .... I was able to convert the model to tflite in colab, previously I was trying it on my windows PC
I am now trying to save it on my drive using :
tflite_file = 'Fine_Tuned_Model/head_detector.tflite'
open(tflite_file, "wb").write(tflite_model)

But it is not generating any files
Please help

[2020-09-14 18:07] gowthamkpr commented on #41417
@NikosSpanos As answered in stack overflow and as mentioned in the [documentation](https://keras.io/api/callbacks/early_stopping/), its pretty clear that if you don't see the change (or improvement of min_delta) for the number of epochs of patience_value, the training stops.

This has nothing to do with ModelCheckpoint.

[2020-09-14 18:09] ashahba commented on #42547
@gunan any updates on this one?

[2020-09-14 18:33] #43149 closed

[2020-09-14 18:38] ymodak commented on #42358
Thanks for sharing your analysis. T2000 has cuda compute capability of 7.5 and V100 has 7.0 both are supported by TF.
For more information you may try posting the question on stackoverflow. Thanks!

[2020-09-14 18:38] #42358 closed

[2020-09-14 18:40] ymodak commented on #42122
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-09-14 18:40] #42122 closed

[2020-09-14 18:46] spratik commented on #42405
I have also observed the same. Is it good idea to ignore exception thrown whenever we import tensorflow libs through C++ Wrapper and by using pybind11/pyobject ?

There is something happen whenever we are import tensorflow libs.  Is there any way you can figured out why exception has been thrown whenever we will import tensorflow libs?  This exception is not thrown for loading other libs like Open

[2020-09-14 18:48] gowthamkpr commented on #41537
@houseofai The behaviour is the same in tensorflow 2.3.0 and tf-nightly. Please find the gist [here](https://colab.research.google.com/gist/gowthamkpr/f8dd32e7a894589ba5b8916955021330/untitled314.ipynb)

[2020-09-14 18:49] janjongboom commented on #41271
@njeffrie Did you ever manage to dive into this? Let me know if you need any help on our side.

[2020-09-14 18:54] vito-filo commented on #43128
Now that I'm paying attention in my model i have int8 weights, not uint8.
However i think this is not the main problem, as @Leslie-Fang said the overhead is on the float32 parameters you may have in the layers.

I think you can get the best optimization with full integer quantization. unfortunately I am not yet able do it on my model. I wonder if @ Leslie-Fang did it.

Check if you have some float

[2020-09-14 19:09] #43211 closed

[2020-09-14 19:26] angerson commented on #43108
We're not able to provide support for Bazel configuration issues that are not bugs in TF. Please check out [Bazel's Support Page](https://bazel.build/support.html).

[2020-09-14 19:26] #43108 closed

[2020-09-14 19:34] bhack commented on #43210
I don't think It Is a bug. For support request on your model use [stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow)

[2020-09-14 19:40] gowthamkpr commented on #41552
@jclaessens97 @scd75 @lukashondrich @IaroslavElistratov As mentioned in the above comment, the workaround is to specify max_tokens in CategoryEncoding. Please find the [gist](https://colab.research.google.com/gist/gowthamkpr/93d57b30ed262aa7e5388a34a092be64/structured_data_classification_from_scratch.ipynb)

[2020-09-14 19:46] Ambistic opened #43223 "OP_REQUIRES failed : Not found: No algorithm worked!"
**System information**
- OS Platform and Distribution:  Linux Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary (pip install)
- TensorFlow version (use command below): v1.12.1-41444-g9396e98574 2.4.0-dev20200913
- Python version: 3.8.2
- Bazel version (if compiling from source):
- GCC/

[2020-09-14 19:47] bhack commented on #43219
Can you share a very minimal but complete runnable example or colab?

[2020-09-14 20:01] Ananas120 commented on #42412
@amahendrakar  i updated your colab code by C/C the train.py and correct bugs (so now it runs correctly as you can see)
Error occurs around step 200-400 so i think if you can run more than 1k steps without the error, it should be perfect but it never happens for me...
Also i think with a better GPU than mine you can increase the max_train_step (for me 50 is the max for non-graph mode and 25 on gra

[2020-09-14 20:02] bhack commented on #43212
I suggest to post your question in https://groups.google.com/a/tensorflow.org/g/mlir

[2020-09-14 20:03] gowthamkpr commented on #41647
@jtyoui Can you please let us know how this is gonna help the community. Thanks!

[2020-09-14 20:06] ymodak commented on #41950
I tested with keras 2.3.1 and get similar accuracy of 83%.
See the [gist](https://colab.research.google.com/gist/ymodak/1bd8ba79b38dad7798ed9e197fa9fcb7/untitled337.ipynb) for your reference.
Closing this issue since the original topic is resolved. Thanks!

[2020-09-14 20:06] #41950 closed

[2020-09-14 20:07] bhack commented on #43205
/cc @tanzhenyu is this a dup of https://github.com/tensorflow/tensorflow/issues/33755?

[2020-09-14 20:14] #42991 closed

[2020-09-14 20:14] gowthamkpr commented on #42017
@boluoyu Looks like this is an implementation issue. Please take a look at this issue [here](https://stackoverflow.com/questions/56589726/valueerror-graph-disconnected-cannot-obtain-value-for-tensor-tensor-the-foll) and let me know if it helps. Thanks!

[2020-09-14 20:17] PaulPauls opened #43224 "keras layers API documentation not sorted properly"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/keras/layers

## Description of issue (what needs changing):

Very minor issue, but the overview list of all layer classes is not consistently sorted alphabetically, though it very much feels like it is intended to (e.g. the GRU layer is listed above the GaussianDropout layer). In the sidebar it is sorted correctly alphabetic

[2020-09-14 20:18] gowthamkpr commented on #42025
@hanzigs Please provide the complete code for us to reproduce the model. Also, please ignore the error message for now. Thanks!

[2020-09-14 20:27] cserpell commented on #42825
My model has probabilistic random layers, so I needed the actual output instead of re evaluations of the layers, so I concatenated the internal values as outputs of the model, and that helps me at evaluation time as well, as I can print the actual internal layers activations. Thanks anyway, I think that also helps.

[2020-09-14 20:27] #42825 closed

[2020-09-14 20:32] COTASPAR commented on #43001
**Update**
I tried again on my other machine:
OS: Ubuntu 20.04.1 LTS x86_64
Kernel: 5.4.0-47-generic
TensorFlow:  b36436b
This time the following step(3) worked:
` make -f tensorflow/lite/micro/tools/make/Makefile TARGET=mbed TAGS="nxp_k66f" generate_micro_speech_mbed_project`
However, at step 7, when trying to compile I get the following error:
**Output **
[mbed] Working path "/home/carlo/Work/De

[2020-09-14 20:38] w4nderlust commented on #41053
@pandrey-fr thanks for your insight, I understand what you are saying. I believe a function pair that saves both init and stateful parameters and is able to reload them would be greatly appreciated.

[2020-09-14 21:06] bhack commented on #43223
What is the output of:
[code]

[2020-09-14 21:13] njeffrie commented on #41271
Apologies for the delay. I have not gotten a chance to reproduce this issue yet. We will look into how we configure the magic wand BLE demo and compare with your code sample, since it seems like getting debug info off the board will be challenging with the hard fault.

[2020-09-14 21:27] gunan commented on #43124
Please redirect to owners of the ICU code in TF.

[2020-09-14 21:39] abattery commented on #38220
@edumotya could you try saved model converter instead of keras converter with tf-nightly? From tf-nightly, TF v2 saved model converter only can solve some issues regarding resource type issues.

[2020-09-14 21:41] #42820 closed

[2020-09-14 22:25] gowthamkpr commented on #42506
@mrdbourke Yes you are right. The inputs are different for hub module and keras applications module and thats the cause of the behavior that you are observing.

[2020-09-14 22:26] yourtheron commented on #35337
@amahendrakar
It is just the code I posted in this thread on 24/12/2019

[2020-09-14 22:41] #42559 closed

[2020-09-14 22:49] abattery commented on #43202
Hi @shlomi-amitai

This is an expected behavior. Select TF ops option is not working with NNAPI or GPU delegate either. Team is working on fixing this issue. I will update this thread when the feature is landed.

fyi, @terryheo

[2020-09-14 23:15] bhack commented on #43205
@matthias-wright Probably we in the same class of problems as #33755 as you can check yourself with these two lines:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/optimizer_v2/optimizer_v2.py#L640
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/array_grad.py#L588

[2020-09-14 23:15] snnn commented on #19378
Sorry I couldn't continue working on this. TF's source tree has changed a lot in the past 2 years, I'm not familiar with the latest.

[2020-09-14 23:30] bhack commented on #43224
I think that the error is in the gen/sorting graph logic at https://github.com/tensorflow/docs/blob/master/tools/tensorflow_docs/api_generator/generate_lib.py.

E.g. `GaussiaDropout` is at `n` as it is in `noise.py` https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/layers/noise.py

/cc @yashk2810

[2020-09-14 23:46] yashk2810 commented on #43224
I think this is the offending line: https://github.com/tensorflow/docs/blob/master/tools/tensorflow_docs/api_generator/generate_lib.py#L170

Technically, `GRU` should come before `GausionDropout` according to python's sorting rules.

[code]

Let me know if you need any help in fixing this :)

[2020-09-14 23:56] bhack commented on #43224
@yashk2810 I think that your example is not the same:
[code]

[code]

[2020-09-15 00:02] yashk2810 commented on #43224
Right, that's what I am saying. The TOC sorting is wrong because of the .upper(). If that's removed the TOC sorting should match the sorting on the Classes section of this page: https://www.tensorflow.org/api_docs/python/tf/keras/layers

[2020-09-15 00:03] bhack commented on #43224
Ok so do you prefer `lower` for all?

[2020-09-15 00:44] lsgrep commented on #38192
Hi @jsimsa , Can I work on this?

[2020-09-15 01:01] gunan commented on #42547
Looks like there is an eigen compilation issue?
Sorry, not an expert on this, thus removed my assignment. @jvishnuvardhan could you find another owner for this bug?
Someone who worked with horovod, custom op and eigen code?

[2020-09-15 01:01] lsgrep commented on #25181
Hi @bolau,  This has gone silent for a while, and can I take the torch from your hands and work on this one?

[2020-09-15 01:05] byronyi commented on #40830
@gunan Hi Guhan, SIG-Networking lead here. It is an issue that has been fixed a long time ago (since 1.15 I think). See https://github.com/tensorflow/tensorflow/pull/29807 for more details.

[2020-09-15 01:27] yuanbopeng commented on #43187
@vnvo2409

I noticed that this performance problem also exists in [the new HDFS filesystem plugin](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/c/experimental/filesystem/plugins/hadoop/hadoop_filesystem.cc). You may need to pay attention to the progress of this issue.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/c/experimental/filesystem/plugins/hadoop/hadoop_

[2020-09-15 01:28] mobinity-yoom opened #43227 ""Function call stack: _dist_train_step" error on tensorflow2 object detection api"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2020-09-15 01:30] hpssjellis commented on #43027
Thanks @Saduf2019 . I have no interest running V1 I am only interested in V2. I would like to see help files for running tflite_convert using the command line. The typical process is to use Python, but I come from a Tensorflowjs background teaching High School students and only wish to use the command line or Javascript. I am having a lot of success moving TensorflowJS Version 2 models to TensorFl

[2020-09-15 01:37] jvishnuvardhan commented on #34631
This was already resolved by the https://github.com/tensorflow/docs/pull/1347 Thanks to @ManishAradwad

As this is already reflecting in the TF website, I am closing this issue. Thanks!

[2020-09-15 01:37] #34631 closed

[2020-09-15 01:41] vnvo2409 commented on #43187
Don't worry. I will keep track of the change in all 3 cloud filesystems and I will merge them into the plugins soon.

[2020-09-15 02:07] hudengjunai commented on #26938
@ericyue hi, I come up with the same problem like you.  when I train a wide&deep&cross model . use feature_column and embedding_lookup, the network io is very big( about 10Gbps) which have harm to train efficiency. I have find the meituan technical report [美团WDL优化](https://tech.meituan.com/2018/04/08/tensorflow-performance-bottleneck-analysis-on-hadoop.html) . Did you solve your problem? can you g

[2020-09-15 02:07] #42744 closed

[2020-09-15 02:24] Zantares commented on #42547
I submitted a similar issue in Horovod side and seems it has been fixed: https://github.com/horovod/horovod/issues/2232

[2020-09-15 02:39] dingjiaweiww opened #43228 ""Function call stack: _dist_train_step" error on tensorflow2 object detection api"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to StackOverflow.

If you are reporting a vulnerability, please use the dedicated reporting process.

For high-level discussions about TensorFlow, please post to discuss@tensorflow.org, for qu

[2020-09-15 02:58] murdockhou commented on #42253
@jvishnuvardhan Any progress?

[2020-09-15 02:59] trystbinx opened #43229 "Confused which version TensorfFlow CPU supports"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10/Ubuntu 18.04/Linux Mint
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/a
- TensorFlow installed from (source or binary): Source
- TensorFlow version: v 1.x to  2.3.0
- Python version: 3.6 to 3.8
- Installed using virtualenv? pip? conda?: virtualenv, pip &

[2020-09-15 03:03] dmitra79 opened #43230 "Models loaded from files do not perform as before saving"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.2 LTS (GNU/Linux 4.15.0-45-generic x86_64)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorF

[2020-09-15 03:24] Deep-learning-practitioner commented on #43097
@bhack I read the articles above and also 2 other parts in the series. Now I do think that eager mode in TFOD API is more useful when you want to see the whole training process in detail and want to make debugging easier also in this mode no computational graphs will be used but I still have 2 questions above unanswered:

1.  How is the eager mode training faster (Since it can train a really basic

[2020-09-15 03:34] #42992 closed

[2020-09-15 04:17] mandar1110 commented on #38349
I am looking for Risk Product manager & Hyderabad with 10-13 yrs experience. For this profile I am looking for candidates who have started their career in coding/programming and later moved into fintech domain and should be currently working as product manager in risk computation.
What I am getting is Data scientist/Business Analyst Profile which are not good as they don't have previous experience

[2020-09-15 04:20] Saduf2019 commented on #43219
@HarrisDePerceptron
Or if possible share a colab gist with issue reported.

[2020-09-15 04:43] Saduf2019 commented on #43210
@hamidkhb
Please feel free to move the issue to closed status as it will be taken care at stack-overflow.

[2020-09-15 05:06] Saduf2019 commented on #43104
I am able to replicate the issue reported, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/4fcbcbff9c163f9736ceb964702ce8fe/untitled412.ipynb).

[2020-09-15 05:11] RavitejaBadugu commented on #43186
@ravikyram did u find the solution?

[2020-09-15 05:35] Saduf2019 commented on #43179
@pardeep-kesnani1234
Please feel free to close this issue as, it will be tracked in the models repo.

[2020-09-15 05:38] ravikyram commented on #43229
@trystbinx

Please, follow the instructions as mentioned [here](https://www.tensorflow.org/install/gpu).
Please, see tested build configurations for [linux/mac](https://www.tensorflow.org/install/source#tested_build_configurations),[windows](https://www.tensorflow.org/install/source_windows#tested_build_configurations).
Please, see steps for installing through[ pip](https://www.tensorflow.org/inst

[2020-09-15 05:41] #42827 closed

[2020-09-15 05:41] #42854 closed

[2020-09-15 06:17] rytisss commented on #42405
I actually don't know if it is good to ignore it :) Exceptions handling in pybind11 is a bit unclear (pybind11::error_already_set is not intuitive). And I tried to do `PyErr_Print();`  right after exception appears. However, exceptions throw stops right after specific functions call (model build or data generator build), so `PyErr_Print();` doesn't print out anything. However, these exceptions app

[2020-09-15 06:27] woshildh commented on #43135
@Saduf2019 , Thanks, I solved this problem after I compile tf 1.13

[2020-09-15 06:28] #43135 closed

[2020-09-15 06:30] Saduf2019 commented on #43227
@mobinity-yoom
Please close this ticket and open a new one at https://github.com/tensorflow/models/ directly.

[2020-09-15 06:30] ravikyram commented on #43223
@Ambistic

I have tried in colab with TF nightly version and i am not seeing any issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/3f34c393bb1371f297bcc9cea6f0ca4f/untitled351.ipynb).

It looks like cuda problem.Can you try with tested build configurations from [here](https://www.tensorflow.org/install/source#gpu) and see if the problem still persists. Thanks!

[2020-09-15 06:31] Saduf2019 commented on #43228
@dingjiaweiww
This is aduplicate of #43227, please move this to close status.

[2020-09-15 06:31] trystbinx commented on #43229
@ravikyram

Should I install GPU as instructed if I decide to only use the CPU for TensorFlow? What I mean is that I dismiss the GPU installations. I have been dealing with this GPU issue since a week ago and still cannot be installed properly. I find it extremely difficult/complicated. Thus, my main focus is just to install TensorFlow CPU even it is much slower and better than keeping installing

[2020-09-15 06:33] Saduf2019 commented on #43195
I am able to replicate this issue, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/fb39c12e4c56d1b18f7ff894935d8a89/untitled413.ipynb)

[2020-09-15 06:40] ravikyram commented on #43229
@trystbinx

Can you install from source following this [guide](https://www.tensorflow.org/install/source).

 TensorFlow is only [tested and supported for 64-bit, x86 systems.](https://www.tensorflow.org/install).I don't believe you can install TensorFlow through pip or conda normally from a 32-bit system

[2020-09-15 06:44] juanpbotero98 opened #43232 "Didn't find op for builtin opcode 'CONV_2D' version '5'"
Hi, I'm trying to run inference of a custom trained mobilenet_v2_coco17_320x320_tpu-8 model on a Raspberry pi. I have succesfully trained, saved and converted the model to tf.lite. However, when trying to run the inttepreter on a Raspberry pi 4, I'm getting the following error: ValueError: Didn't find op for builtin opcode 'CONV_2D' version '5' Registration failed.
But when running the interpreter

[2020-09-15 06:47] florence27 opened #43233 "Usage of MethodNameUpdater() function"
@florence27 can you please report a new issue along with the complete  code to reproduce the error that is not working and cc me on it as well.
Thanks,
Goldie

_Originally posted by @goldiegadde in https://github.com/tensorflow/tensorflow/issues/34968#issuecomment-692168824_

As already mentioned in issue #34968 I'd like to use the `MethodNameUpdater()` function in order to change the method name

[2020-09-15 06:54] trystbinx commented on #43229
Well, I will do it now and see if I can do it properly.

Thanks for the clarification. Yes, I installed everything in my virtualenv or through pip/conda. That's what I followed on YouTube.

I have unsuccessfully installed TensorFlow GPU on Windows 10. Now, I have to use my Ubuntu with no nvidia yet. The end project would be to use Raspberry Pi to perform object detection. Installing TF is a headac

[2020-09-15 06:58] passion765 opened #43234 "tf2.3 c++库编译失败"
cenots 8
gcc 8.3.1

is_not_gcc failed: error executing command
  (cd /home/docker_data/.bazel_cache_2_3/7a9fafc24832c7560e0a6e1a434658e0/execroot/org_tensorflow && \
  exec env - \
    CUDA_TOOLKIT_PATH=/usr/local/cuda-10.2 \
    CUDNN_INSTALL_PATH=/usr/local/cuda-10.2 \
    GCC_HOST_COMPILER_PATH=/usr/bin/gcc \
    LD_LIBRARY_PATH=/usr/local/nvidia/lib:/usr/local/nvidia/lib64:/usr/local/cuda-10.2

[2020-09-15 07:05] freddan80 commented on #43126
@advaitjain Is this issue resolved with #43180 ?

[2020-09-15 07:18] Saduf2019 commented on #43135
Thanks for the update, glad the issue is resolved.

[2020-09-15 07:21] github2016-yuan commented on #43108
Finally I solve it and build c++ tf2.2.0-gpu library. Here are my some try:
(1)set  system enviromnet-variable and reboot pc
(2)set up BuildTools for vs2019
(3)delete everything that created by former building
(4)build again

In face, I do not konw what step solves the issue exactly but luckily it works at last.
Now I get dll,lib and header file.

[2020-09-15 07:22] Saduf2019 commented on #43234
@passion765
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error,complete error log]

Your may verify with [this link](https://github.com/tensorflow/tensorflow/issues/762#issuecomment-173002842), and let us know if it helps. [[link](https://github.com/tensorflow/tensorflow/issues/32775

[2020-09-15 07:23] jakkes commented on #32049
Although far from satisfactory, I managed to avoid the warning through
`tf.cast(tf.zeros((10, )), tf.bool)`

[2020-09-15 07:24] edumotya commented on #38220
@abattery Yes, I haved tried. It raises a different error:

`ConverterError: <unknown>:0: error: loc("conv_lst_m2d/Variable"): is not immutable, try running tf-saved-model-optimize-global-tensors to prove tensors are immutable
<unknown>:0: note: loc("conv_lst_m2d/Variable"): see current operation: "tf_saved_model.global_tensor"() {is_mutable, sym_name = "conv_lst_m2d/Variable", type = tensor<1x10x

[2020-09-15 07:29] Saduf2019 commented on #43230
@dmitra79
I ran the colab shared and face a different error, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/e461d52e8e3a9eea05cc270b312ab2da/untitled413.ipynb).

[2020-09-15 07:31] ehazrati commented on #43207
[dataset.tar.gz](https://github.com/tensorflow/tensorflow/files/5223152/dataset.tar.gz)
Here is the example data set. Thanks.

[2020-09-15 07:31] masip85 commented on #40481
Window method from tf.data.Dataset cannot be integrated as a tf transformation inside tfx. I think is relevant.

[2020-09-15 07:41] Abhinavfreecodecamp commented on #29556
Hi, too face the same issue when running under eager execution. please provide a solution for this @achandraa

[2020-09-15 07:53] danial880 commented on #43175
yes

[2020-09-15 07:58] leenabora commented on #30653
Following code worked:

    def parse_str(str_tensor):
        raw_string = str_tensor.numpy().decode("utf-8")

        # play with raw string
        raw_string = 'AAA'+raw_string
        return raw_string

Call parse function:

    def tf_pre_processing(row):
      return tf.py_function(parse_str, [row['context']], [tf.string])

    train = t.map(tf_pre_processing).batch(1).take(1)

    list(tra

[2020-09-15 07:58] leenabora commented on #32842
Following code worked:

    def parse_str(str_tensor):
        raw_string = str_tensor.numpy().decode("utf-8")

        # play with raw string
        raw_string = 'AAA'+raw_string
        return raw_string

Call parse function:

    def tf_pre_processing(row):
      return tf.py_function(parse_str, [row['context']], [tf.string])

    train = t.map(tf_pre_processing).batch(1).take(1)

    list(tra

[2020-09-15 07:58] leenabora commented on #27519
Following code worked:

    def parse_str(str_tensor):
        raw_string = str_tensor.numpy().decode("utf-8")

        # play with raw string
        raw_string = 'AAA'+raw_string
        return raw_string

Call parse function:

    def tf_pre_processing(row):
      return tf.py_function(parse_str, [row['context']], [tf.string])

    train = t.map(tf_pre_processing).batch(1).take(1)

    list(tra

[2020-09-15 08:15] VirtualNonsense opened #43235 "libtensorflow_inference.so: protobuf failed to link __android_log_write and dl_iterate_phdr"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win 10 (1809)
- TensorFlow installed from (source or binary): Source
- TensorFlow version: Master
- Python version: 3.7.6
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source): 3.4.1
- GCC/Compiler version (if compiling from source): 4.9.x
- CUDA/cuDNN version: /
- GPU model and

[2020-09-15 08:18] hamidkhb commented on #43210
Well I tried the code in different ways and even made the network again and it all works.

[2020-09-15 08:18] #43210 closed

[2020-09-15 08:26] matthias-wright commented on #43205
@bhack Thank you for the response!
From the documentation of [tf.IndexedSlices](https://www.tensorflow.org/api_docs/python/tf/IndexedSlices): _The IndexedSlices class is used principally in the definition of gradients for operations that have sparse gradients (e.g. tf.gather)._ That means that even though the variable is dense, the gradient is sparse. That makes sense then.
I do think that the err

[2020-09-15 08:26] jenselofsson commented on #43201
Could you try running the micro_speech_test in the same way and see if that passes or fails, with the cmsis-nn tag and the fix in #43110?

Simply swap out **generate_micro_speech_mbed_project** for **generate_micro_speech_test_mbed_project** in the make-command.

[2020-09-15 08:26] PaulPauls commented on #43224
Thank you very much for fixing this so quickly and providing a pull request. Especially to you @bhack as you were also addressing the random NaN issue I was opening 2 days ago and to which you already proposed a solution that I still need to process.

As this issue therefore seems addressed will I close it in order not to take time away from any other TF contributor. Thanks!

[2020-09-15 08:26] #43224 closed

[2020-09-15 08:29] ongoing0217 commented on #32314
no, when I run the code above with the newest version of tensorflow, it gives a different error:
`OSError: Not a gzipped file (b'\x00\x00')`

[2020-09-15 08:52] ankurtri commented on #41127
@jhonjam - Were you able to solve this issue? I am also seeing exact similar issue with tf-1.14

[2020-09-15 08:55] bhack commented on #43223
@ravikyram  You cannot test tf-nightly with GPU only ISSUES on colab currently cause It has only CPU visibile devices.

[2020-09-15 08:56] bhack commented on #43223
@ravikyram check https://github.com/tensorflow/tensorflow/issues/42957

[2020-09-15 09:06] bhack commented on #43175
Ok please check that you have a fresh version of that repository. If you still have a problem please close this and open an issue directly in that repository.

[2020-09-15 09:18] innat commented on #31647
I've found some workaround to plot with the model sub-classing API. For the obvious reason **Sub-Classing** API doesn't support **Sequential or Functional** API like `model.summary()` and nice visualization using `plot_model`. Here, I will demonstrate both.

[code]

It will produce as follows:

[code]

Now by using the `build_graph` function, we can simply plot the whole architecture.

[code]

It

[2020-09-15 09:22] #43175 closed

[2020-09-15 09:36] cfRod commented on #42858
Okay, I can confirm that dnnl symbols are linked to libtensorflow_framework.so.

[2020-09-15 09:36] #42858 closed

[2020-09-15 09:36] COTASPAR commented on #43001
@petewarden I think the example generates files for Mbed OS 5 in the `make -f tensorflow/lite/micro/tools/make/Makefile TARGET=mbed TAGS="nxp_k66f" generate_micro_speech_mbed_project` step whereas the `mbed new .` pulls in Mbed OS 6 which uses python 3 instead of python 2 and also different naming such as "enable_if_t" instead of "enable_if" so maybe this is where the problem is?

[2020-09-15 09:52] cefaci commented on #42744
Thanks!

[2020-09-15 09:54] javedsha opened #43236 "Tensorflow 2.2 and 2.3 not detecting GPU with CUDA 10.1"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 18.04):
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.3 and 2.2
- Python version: 3.6
- Installed using virtualenv? pip? conda?: venv and pip
- GCC/Compiler version (if compiling from source): 7.5
- CUDA/cuDNN version: 10.1
- GPU model and memory: K80

**Describe the problem**
After installin

[2020-09-15 09:55] Ambistic commented on #43223
The output is :
[code]

@ravikyram I actually need features from tensorflow 2.3.0 and I couldn't find it in the tested build configurations

[2020-09-15 10:14] lucalazzaroni commented on #43201
@jenselofsson  I tried your suggestion and the test passes, here is the result:

[code]

[2020-09-15 10:16] #42769 closed

[2020-09-15 10:16] bhack commented on #43223
Can you print `tf.config.get_visible_devices()`?

[2020-09-15 10:18] lihas commented on #26013
And what is the reason?

[2020-09-15 10:33] Ambistic commented on #43223
`[PhysicalDevice(name='/physical_device:CPU:0', device_type='CPU'), PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]`

Just as previous output

[2020-09-15 10:42] bhack commented on #43223
And do you still require `tf.config.set_visible_devices([], 'GPU')`?
Have you tried with the last `tf-nightly`?

[2020-09-15 11:00] ravikyram commented on #43236
@javedsha

TensorFlow v2.3 is compatible with CUDA 10.1 and cuDNN 7.6. For more information regarding this please take a look at the [tested build configurations](https://www.tensorflow.org/install/source#gpu).

And the CUDA version mismatch query has been explained in this [StackOverflow comment](https://stackoverflow.com/questions/53422407/different-cuda-versions-shown-by-nvcc-and-nvidia-smi/535

[2020-09-15 11:16] bhack commented on #43207
You are using what in Doc is described as [Integer only quantizzation](https://www.tensorflow.org/lite/performance/post_training_integer_quant#convert_using_integer-only_quantization):

You have some operation that it cannot quantize.

You can check these running your example with `pip install tf-nightly`:

[code]

[2020-09-15 11:24] PMatthaei opened #43238 "Interpreter AllocateTensors() does not finish or report error"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows
- TensorFlow installed from (source or binary): Source - Arduino TensorFlowLite version 2.1.0-ALPHA(not precompiled)
- Tensorflow version (commit SHA if source):
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): SparkFun Edge

**Describe the problem**

Allocating a model does