[2017-09-10 17:18] drpngx commented on #12911
@jheymann85 that's interesting, thank you for pointing that out.

@rmlarsen I'll take a look later, but if you get to this faster, that would be nice.

[2017-09-10 17:37] dsiot commented on #5729
@petewarden another thought .. as I understand it .. TF embedded/ TF mobile is designed to work with a pre trained model and extend it(a form of transfer learning). This appears to be mostly for images. My qs is .. is the idea being explored to use other models in this way ex for non image? many thanks rgds ajit

[2017-09-10 17:40] yaroslavvb commented on #12901
You are right, this seems to be a deeper runtime issue. It looks as if the tensor is added to session store when get_session_handle is fetched directly, and not added when it's executed as a dependency of a fetch

The relevant logic is in this commit
https://github.com/tensorflow/tensorflow/commit/098f930de4ef044021f3ef1d3cdd6848c23eddb0

Note that the author of this functionality has left Google

[2017-09-10 17:54] waterheaterpilihan opened #12945 "Service Solahart 087777888338"
Perusahaan kami telah berpengalaman Sebagai SERVICE CENTER SOLAHART yang memberikan jasa SERVICE Resmi SOLAHART pemanas air merek lain seperti Solahart Handal, Wika SWH, Edwards, Beasley, dll.

Perusahaan kami terlibat juga dalam beberapa kontrak baik untuk Maintenace dan Service Pemanas Air Solahart di Perumahan ternama, rumah sakit maupun di hotel.

Dealer Resmi Ada Di Kota Kota Besar Anda.
Jaka

[2017-09-10 17:57] yakov116 commented on #12945
This guy is spamming repo's

[2017-09-10 17:57] waterheaterpilihan opened #12946 "Service Water Heater 087777888338"
Perusahaan kami telah berpengalaman Sebagai SERVICE CENTER SOLAHART yang memberikan jasa SERVICE Resmi SOLAHART pemanas air merek lain seperti Solahart Handal, Wika SWH, Edwards, Beasley, dll.

Perusahaan kami terlibat juga dalam beberapa kontrak baik untuk Maintenace dan Service Pemanas Air Solahart di Perumahan ternama, rumah sakit maupun di hotel.

Dealer Resmi Ada Di Kota Kota Besar Anda.
Jaka

[2017-09-10 18:00] yakov116 commented on #12945
@rohan100jain please report this guy

[2017-09-10 18:04] waterheaterpilihan opened #12947 "Service Pemanas Air 087777888338"
Perusahaan kami telah berpengalaman Sebagai SERVICE CENTER SOLAHART yang memberikan jasa SERVICE Resmi SOLAHART pemanas air merek lain seperti Solahart Handal, Wika SWH, Edwards, Beasley, dll.

Perusahaan kami terlibat juga dalam beberapa kontrak baik untuk Maintenace dan Service Pemanas Air Solahart di Perumahan ternama, rumah sakit maupun di hotel.

Dealer Resmi Ada Di Kota Kota Besar Anda.
Jaka

[2017-09-10 18:12] saxenasaurabh commented on #12945
I have reported this user. Thanks for noticing this.

[2017-09-10 18:13] #12945 closed

[2017-09-10 18:14] saxenasaurabh commented on #12947
This user has been reported

[2017-09-10 18:14] #12947 closed

[2017-09-10 18:14] saxenasaurabh commented on #12946
This user has been reported.

[2017-09-10 18:14] #12946 closed

[2017-09-10 19:13] ahundt opened #12948 "feature request: shared memory concat with new allocation for subsequent operations"
DenseNet is an effective network design that relies on applying nn layers on recursive concatenations of data along the channel axis. Unfortunately, this has the side effect of quadratic memory growth in TensorFlow as completely new blocks of memory are allocated after each concat operation, resulting in poor performance during all phases of execution.

This is a feature request for a new `allocat

[2017-09-10 19:27] LukasDrude commented on #12911
More details for reproduction:

I run tensorflow `32ffc5a81eee8c39bbe71536212a773b1ffd4eb2`. But the related tensorflow code does not seem to have changed very recently.

We only have access to cards with limited amount of memory (i.e. `totalMemory: 5.94GiB`). I have to consume a lot of memory in a different tensorflow session, to make this bug appear.

To be more precise: It works, when there is

[2017-09-10 19:40] ugionet opened #12949 "Very Slow Run time on A Pre Trained Network - Inception V1"
------------------------

### System information
- **example script (Very Similar label_Image.py but simpler)**:
- **Windows 10 X64 - TensorFlow installed from source **:
- **TensorFlow version (1.3)**:
- **Python version - 3.5.3**:
- **Cmake 3.8.1**:
- **CUDA/cuDNN version - CUDA 8.0/ cuDNN 6.1**:
- **GPU model and memory - Nvidia GTX 1050, 4GB**:
- **Exact command to reproduce**:

### Describe t

[2017-09-10 19:42] mrry commented on #11431
Thanks for digging into that, @shahidhs-ibm! I'd be delighted to accept a PR that fixes this on your architecture. Is it possible that you've uncovered a bug in the underlying NumPy implementation as well?

[2017-09-10 20:08] phg1024 commented on #2412
@avanish Have you figured out the issue? I found `nsync_cv.h` in the python site packages folder.
On my Mac it is in `~/anaconda2/envs/tensorflow/lib/python2.7/site-packages/external/nsync/public`, since I'm using Anaconda for python. Just add this folder to your include path and it should fix the issue.

[2017-09-10 21:58] mrry commented on #9484
@Nick7hill Try running the script I [mentioned above], and if you still have problems after following its suggestions, feel free to open a new issue to describe them!

[2017-09-10 22:22] yaroslavvb commented on #12902
This means modifying UNARY_GRADIENT_COMPLEX macro and changing x to y and y to dy for every op that uses it, are you sure that wouldn't break things/contradict documentation for those other ops? BTW, you can press "y" in github to generate a permanent link with line number reference

[2017-09-10 23:50] carlthome opened #12951 "--config=mkl leads to libmklml_intel.so: error: undefined reference to 'dladdr'"
Cloning master (702d595822e9e5f5232b8140c6296683612c33a9), running `configure` with "No" throughout, and trying to build a pip package (Bazel 0.5.4, Ubuntu 16.10) with the new `--config=mkl` flag crashes.

[code]

[code]

[2017-09-10 23:56] MtDersvan commented on #12453
Same situation here: a multi-task NN with 5-6 outputs (tasks), where each task has ≈ 80% subset of overall labels of the same dataset.

What is the best current solution for this problem in TensorFlow?
Will directly using upper-mentioned `HackedMomentumOptimizer` for a combined loss work well?
Do we need to weigh/mask the losses?
Have you resolved this problem @ilya-edrenkin?

Currently in product

[2017-09-11 00:09] Ariostgx commented on #12878
@rohan100jain Yes, it really works! Thanks a lot!

[2017-09-11 01:45] 2bethere commented on #7705
Oh god....I fixed it on my machine!

You guys are right! Tensorflow 1.3 requires cudnn64_6.dll not cudnn64_7.dll

You should use the 6.0 CUDNN version with TF 1.3

[2017-09-11 01:53] yongtang commented on #11575
Added a PR #12952 for the support of `axis` for `tf.unique`.

[2017-09-11 02:28] appleandzfd commented on #4766
**I meet a new error.but I can not fix it by previous method .Any reply will be appreciated!!**
 <tensorflow>Error adding graph to session: No OpKernel was registered to support Op 'AsString' with these attrs.  Registered devices: [CPU], Registered kernels:
  <no registered kernels>

	 [[Node: O_str = AsString[T=DT_FLOAT, fill="", precision=-1, scientific=false, shortest=false, width=-1](I)]]

[2017-09-11 02:45] Prasad9 commented on #12553
@derekhh, this is how my label map id file looks like.

[code]

I am not having any id with zero. Also, when I evaluate, I get two .tfevents file and during the third one, this warning(may be error) comes and then there happens to be no more processing after that. I can check in tensorboard the evaluation done for the first two images.

INFO:tensorflow:Restoring parameters from /my/path/train/mode

[2017-09-11 03:28] d4l3k commented on #8641
@andrewharp I'm running into issues compiling still:

Same error as: https://github.com/tensorflow/tensorflow/issues/9280

https://travis-ci.org/luk-ai/build-tensorflow/builds/273170125#L4187

[2017-09-11 03:50] luchensk commented on #9953
Yes, please close this issue, thanks.

[2017-09-11 03:52] luchensk commented on #12793
@caisq Thanks, I will try it later.

[2017-09-11 04:22] Yevgnen opened #12954 "Naming issue of tensorflow.python.layers.core.Dense"
Since I think this issue has nothing to do with the system information, I would temporarily ignore them.

- **TensorFlow version (use command below)**:v1.2.1-4-g4acb96a 1.2.1

### Describe the problem
The `Dense` layers defined in `tensorflow.python.layers.core` build `kernel` and `bias` in `build` function, while the `build` function is called in `__call__` function. The may cause that sometime o

[2017-09-11 05:24] monicakapadia opened #12955 "AttributeError: 'NoneType' object has no attribute 'get_tensor_by_name'**"
I trained mnist model and then create one .pb file by freeze that model. then i want  to load this freeze model  ... so my code is for load the freeze graph

    import tensorflow as tf
    import argparse
    from tensorflow.python.platform import gfile

    def load_graph(model_filename):
	with tf.Session() as sess:
		model_filename ='output_graph.pb'
		with gfile.FastGFile(model_filename, 'rb')

[2017-09-11 06:17] antares1987 commented on #12871
Hello, thank you for your reply. yes, indeed the document is useful, but I see that in the example there's no a minimization of the loss through the metod tf.minimize. Indeed I fount that the stochastic component of my code is in optimizer = tf.train.AdamOptimizer(rate).minimize(loss). Now, my question is, is there a way to use an optimizer and to get a deterministic result at the same time?

Than

[2017-09-11 06:25] ArindamChowdhury48 opened #12957 "ValueError in CTCLoss"
TF version 1.1.0, Ubunu 16.04 Cuda 8.0, Cudnn 6

loss = tf.nn.ctc_loss(targets, logits, maxT, time_major=False)
  File "/home/ilab/anaconda2/lib/python2.7/site-packages/tensorflow /python/ops/ctc_ops.py", line 145, in ctc_loss
    ctc_merge_repeated=ctc_merge_repeated)
  File "/home/ilab/anaconda2/lib/python2.7/site-packages/tensorflow/python/ops/gen_ctc_ops.py", line 165, in _ctc_loss
    name=na

[2017-09-11 07:26] serendipity24 commented on #12722
As suggested by you I pip installed the tensorflow within a virtualenv (on Ubuntu 14.04 ,followed the steps in the following link :https://github.com/ravivalluri/tensorflow/blob/master/tensorflow/g3doc/get_started/os_setup.md#import-error)
I am attaching the trailing end of the installation :
".
 .
    x86_64-linux-gnu-gcc: numpy/random/mtrand/distributions.c
    x86_64-linux-gnu-gcc: numpy/random

[2017-09-11 07:29] Dorokhov commented on #12902
@yaroslavvb, it doesn't contradict documentation for other operations which use UNARY_GRADIENT_COMPLEX macros, because the other ops use 'y' and 'dy' names in docs.

Thanks for your suggestion, I updated the issue with permanent links.

[2017-09-11 07:55] suzhaolong commented on #12873
@drpngx  I have tried, it works, thank you!

[2017-09-11 08:07] tbchj commented on #12323
focus +

[2017-09-11 08:19] snnn commented on #12844
Hi @gunan ,
https://github.com/bazelbuild/bazel/issues/2675

And the last few comments in #11735

[2017-09-11 08:21] meteorcloudy commented on #12844
@gunan Statically linking to C Run Time is currently the default option in Bazel, but it can be reconfigured to dynamic linking easily, I will send a change for this.

For the error, that's a flaky failure caused by https://github.com/bazelbuild/bazel/issues/2675, but unfortunately, we haven't found the root cause for this.

[2017-09-11 08:22] ppries commented on #3362
Change batch size – no. But that should not be necessary if you freeze the graph with an unspecified graph size (e.g. a placeholder with dimensions [None, H, W, C]).

[2017-09-11 08:23] shahidhs-ibm commented on #11431
@mrry Yes, indeed this is a bug in NumPy implementation.

On Intel:
[code]
On zSystems:
[code]
We will log a bug on NumPy for the incorrect conversion happening for ndarray.

[2017-09-11 08:37] damienmg commented on #12735
Yes this is based on the --cpu, /cc @mhlopko for more comment on the solib

[2017-09-11 08:42] ravispatil commented on #12874
Hello, i solved it by changing branch r1.3 ->./configure -> build.
May be issue with latest master code.

[2017-09-11 08:46] meteorcloudy opened #12959 "Python tests in //tensorflow/python/keras/... are failing on Windows"
http://ci.tensorflow.org/job/tf-master-win-bzl/1552/console
[code]

Some of the error messages:
[code]

Theses tests are not running in CMake build on Windows, so it's only detected by Bazel.

[2017-09-11 08:55] luchensk commented on #12465
+1, found that it was very slow once turn on tfdbg dump by `DumpingDebugWrapperSession`, and I post the comparison info about my example training(300 steps), as below:

turn off tfdbg dump:
real	0m9.759s
user	0m8.315s
sys	0m1.625s

turn on tfdbg dump:
real	2m24.094s
user	2m19.819s
sys	0m12.707s

[2017-09-11 09:13] ilya-edrenkin commented on #12453
It works for me at least.

If you want to use this hack, the masked loss's gradient must be zero.

[2017-09-11 09:15] chaos-dd opened #12960 "does new dataset api support pre read data?"
I found that currently dataset api does not support pre read data as old reading data api. If we have so much train data the feature, the speed of reading data is critical.

[2017-09-11 09:18] ilya-edrenkin commented on #12453
Dear @alextp: I agree that adding special values for nonexisting gradients would cause a mess. Is my understanding correct that you are fine with using all-zero-gradient-tensor as a special case signifying that this gradient tensor should be ignored?
If yes, I can add this behaviour to tensorflow. What would be the best way to do it?
1) Add a separate optimizer to contrib?
2) Add it as an optional

[2017-09-11 09:22] sfshine opened #12961 "Different confidence with same model.pb from android and python"
I trained a model.pb with python, and put it in android.
well, I find the confidence score that in android is always lower than python application  on my PC.
AFAIK, for android model.pb, I did not use DecodeJpeg because it not support on Android.

Is there anything wrong or different with DecodeJpeg in android example when processing image?

        Trace.beginSection("preprocessBitmap");

[2017-09-11 09:57] jiazhe0909 commented on #12898
Thanks for your reply, yaroslavvb.

If I understand correctly, (GPU)BFCAllocator does the caching stuff as you mentioned. And I do notice the same internal output tensors from different inference runs share the same "true ptr" addresses.

However, when I changed code in "framework/op_kernel.cc" file, and timed the processes of "allocate output", I found these processes still cost 18-20 usec, which

[2017-09-11 10:36] ruppeshnalwaya1993 commented on #9661
I also checked with a graph that has a just an input node and a following identity node as ouput. Even in this case the result from xla is buffer with all values either 0.000 or -nan

[2017-09-11 10:49] kmonachopoulos opened #12962 "Error building freeze_graph"
I am trying to build freeze_graph with bazel like this :

` bazel build tensorflow/python/tools:freeze_graph
`

and I am getting this error :

[code]

I installed bazel from scratch but did not give a solution. Any suggestions on that ??

As it turns out I cannot build any script with bazel (????)

[2017-09-11 11:59] kmonachopoulos commented on #12962
Corrupted version of TF. Closing ..

[2017-09-11 11:59] #12962 closed

[2017-09-11 12:07] petewarden commented on #5729
I am hoping to extend the simple speech recognition example here to use transfer learning:
https://www.tensorflow.org/versions/master/tutorials/audio_recognition

I have also been collaborating with Nic Lane (currently at UCL, but moving to Oxford next month) about getting some accelerometer models into TensorFlow, so I'd love to chat more about what's possible here.

[2017-09-11 12:23] maximedb commented on #11399
Any news on the subject ?

[2017-09-11 12:44] #10582 closed

[2017-09-11 12:44] tensorflowbutler commented on #10582
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-09-11 12:50] georgh commented on #12955
You should have asked at Stackoverflow.
Didn't test you code, but load_graph(model_filename) does not have a return-statement so maybe add
return g_in.
And  the model_filename parameter is useless, because you overwrite it in the next line....

[2017-09-11 14:05] quaeler commented on #12722
I'm not familiar with the instructions in the link you provided, and see nothing in the section of installation that you chose to include that is alarming. So from those things, i can't tell why it's not working for you.

Since this issue is closed, no other users are likely to chime in their help; you might have more luck using Stack Overflow for this sort of issue since it's not really a bug in

[2017-09-11 14:36] Juta opened #12964 "Feature request: Google Authentication support for OAuth2 AccessTokenCredentials"
I would like to use the BigQueryReader to access  someone else's project with OAuth2 AccessTokenCredentials. I noticed that currently the google_auth_provider only uses application default credentials. I think it would be a great addition to add other methods of authentication as well.

[2017-09-11 14:45] mrry commented on #12960
The easiest way to prefetch data is to use [`dataset = dataset.prefetch(BUFFER_SIZE)`](https://www.tensorflow.org/versions/master/api_docs/python/tf/contrib/data/Dataset#prefetch), which is available in the nightly build. If you're using a release, you can get the same effect with `dataset = dataset.map(lambda x, y, z, ...: return (x, y, z, ...), num_threads=1, output_buffer_size=BUFFER_SIZE)`.

[2017-09-11 14:45] #12960 closed

[2017-09-11 14:52] mrry commented on #12955
Closing this as more appropriate for Stack Overflow.

[2017-09-11 14:52] #12955 closed

[2017-09-11 14:53] cjliux opened #12966 "Error when following official installation instructions"
INFO: Found 1 target...
ERROR: /opt/tensorflow/tensorflow/stream_executor/BUILD:39:1: C++ compilation of rule '//tensorflow/stream_executor:cuda_platform' failed (Exit 1): crosstool_wrapper_driver_is_not_gcc failed: error executing command
  (cd /home/cjliux/.cache/bazel/_bazel_root/fbc06f9baef46cade6e35d9e4137e37c/execroot/org_tensorflow && \
  exec env - \
    CUDA_TOOLKIT_PATH=/usr/local/cuda \

[2017-09-11 15:06] andybergon opened #12967 "Could not find `backports.weakref` while installing TensorFlow"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: -
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Sierra 10.12.6
- **TensorFlow installed from (source or binary)**: (Trying to install through package manager pip2)
- **TensorFlow version (use command below)**: 1.2.0
- **Python version**: 2.7.13
- **Baz

[2017-09-11 15:55] yaroslavvb commented on #12902
@Dorokhov do you want to do a PR to fix it? If you do, make sure to run the tests locally first

[2017-09-11 16:00] MtDersvan opened #12968 "Feature Request / Workaround for Variable size multi-label candidate sampling in TensorFlow."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: +
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS/Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: both
- **TensorFlow version (use command below)**:  ('v1.3.0-rc2-20-g0787eee', '1.3.0')
- **Python version**: 3.5
- **Bazel version (if com

[2017-09-11 16:06] alextp commented on #12453
Add a separate optimizer to contrib.

On Mon, Sep 11, 2017 at 2:22 AM, Ilya Edrenkin <notifications@github.com>
wrote:

--
 - Alex

[2017-09-11 16:07] yaroslavvb commented on #12898
Hm 20 usec on cached allocation on GPU would be quite terrible. You can have 10's of thousands of temporary allocations during running of a large network, so that could mean half a second of overhead in session.run purely due to tensor allocation calls.

I do wonder if this 20 usec delay between your print messages is an actual bottleneck that can be eliminated, or if its a side effect of things r

[2017-09-11 16:39] MtDersvan opened #12969 "All tf.sets.* ops fail to reproduce their own official examples."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: ('v1.3.0-rc2-20-g0787eee', '1.3.0')
- **Python version**:  3.5
- **Bazel version (if compiling fro

[2017-09-11 16:53] yongtang commented on #11399
Added a preliminary utf8 support for `string_split` in PR #12971.

[2017-09-11 16:54] dsiot commented on #5729
This is great Peter, I am based in London but I teach in Oxford .. happy to sync up with Nic, Shall send more offline, thanks for your help and insights :)

[2017-09-11 16:56] reedwm commented on #12898
Since GPU allocations are run on the CPU during the OpKernel::Compute() call, they run in parallel with actual GPU computations, so reducing this allocation probably won't improve performance by much.

Still, reducing allocation times always helps, especially when a GPU is not available. @zheng-xq, any thoughts?

[2017-09-11 17:02] Dorokhov commented on #12902
@yaroslavvb right, I will do

[2017-09-11 17:07] eaplatanios opened #12972 "Dataset API fromGenerator Functionality"
@mrry I was looking at the code for the `fromGenerator` function and I notice that you do `iter(generator())` to create multiple parallel iterators over the same generator. Maybe I'm not too familiar with the semantics of a Python generator, but my impression was that it represents a continuation and it's not necessarily repeatable, meaning that you would have to cache all the elements you get in

[2017-09-11 17:16] reedwm commented on #12873
Closing since issue is resolved.

[2017-09-11 17:16] #12873 closed

[2017-09-11 17:27] yaroslavvb commented on #12898
As a general comment -- it's preferable to to optimize existing allocators to be as fast as "manual preallocation" rather than give users a way to preallocate output tensor. This should be feasible in situation like yours where you run the same op thousands of times.

As an example of what "preallocating" does to code, here's an example of l-BFGS in [Torch](https://github.com/torch/optim/blob/mast

[2017-09-11 17:34] chrisc36 opened #12973 "Default keras initializers parameters have changed"
At least in Tensorflow 1.3, some of the Keras initializers have changed they default parameters since Tensorflow 1.1:

In Tensorflow 1.1:

``
from tensorflow.contrib.keras.python.keras.initializers import TruncatedNormal
TruncatedNormal().stddev  # returns 0.05
``

In Tensorflow 1.3:
``
from tensorflow.contrib.keras.python.keras.initializers import TruncatedNormal
TruncatedNormal().stddev  # retur

[2017-09-11 17:42] dartdog opened #12974 "Feature missing? Ability to get Tensorboard output from provided "estimators""
This is opened here since it relates to Estimator and canned estimator models not providing a method to get output for TB

3. It shouldn't be a TensorBoard issue. And I attempted to get an answer at Stackoverflow.. (here https://stackoverflow.com/questions/46064056/no-easy-way-to-add-tensorboard-output-to-pre-defined-estimator-functions-dnnclas/46065066#46065066 )

I have been using the estimator

[2017-09-11 17:44] gunan commented on #12735
@Mistobaan Could you see if https://github.com/tensorflow/tensorflow/pull/12975 fixes the problem for you? @mhlopko does the PR look like it is a valid solution?

[2017-09-11 17:58] reedwm commented on #12927
@ebrevdo, any ideas what the problem is?

[2017-09-11 18:05] reedwm commented on #12931
Does `/home/dile/dataset/dosa` contain several folders, each which contains images? What is the output of `ls /home/dile/dataset/dosa`?

[2017-09-11 18:07] reedwm commented on #12935
/CC @gunan

[2017-09-11 18:09] reedwm commented on #12937
@skye can you take a look?

[2017-09-11 18:10] reedwm commented on #12939
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-09-11 18:11] reedwm commented on #12941
Marking as contributions welcome since there is a PR.

[2017-09-11 18:14] reedwm commented on #12951
@tfboyd do you know what the issue is?

[2017-09-11 18:15] reedwm commented on #12957
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-11 18:15] #12957 closed

[2017-09-11 18:16] reedwm commented on #12959
@mrry do you know why these tests fail on Windows?

[2017-09-11 18:17] reedwm commented on #12961
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-11 18:17] #12961 closed

[2017-09-11 18:18] reedwm commented on #12967
/CC @gunan

[2017-09-11 18:22] gunan commented on #12967
@yifeif, any ideas?

@andybergon What version of pip are you using?
`pip2 --version` should be the command to show the version.

[2017-09-11 18:27] frreiss commented on #10607
Update: Implementation of the rewrite is substantially complete. Will submit a PR once I've done some additional testing.

[2017-09-11 18:29] mrry commented on #12959
No, I'm not familiar with those tests.

The first one looks like it's getting caught up because Python's trying to simulate `fork()` on Windows by pickling the environment. Looking at the source of the test, I'm not sure why it uses a subprocess rather than a thread-and-event pair to detect that the callback has been called.

For the second one, perhaps `shutil.rmtree(..., ignore_errors=True)` wou

[2017-09-11 18:33] reedwm commented on #12969
@honkentuber can you comment? The documentation is confusing since each row of a tensor must have the same number of elements, which is not the case in the example.

[2017-09-11 18:34] reedwm commented on #12973
@fchollet can you comment?

[2017-09-11 18:35] yifeif commented on #12967
Could you try `pip install backports.weakref==1.0rc1` first?

[2017-09-11 18:57] cy89 commented on #12788
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-11 18:57] #12788 closed

[2017-09-11 19:01] eaplatanios commented on #12851
I guess another not-so-pretty solution would be to have an iterator over tuples `(I, IT)` in my model, always, and then, if a user provides a dataset of `I`, I map that to one of `(I, TI)`, with dummy values for the `TI` elements. Although, I feel that this would be inefficient and also a bit ugly.

[2017-09-11 19:02] cy89 commented on #12792
@petewarden, it looks like you've worked on both of these; can you please comment about whether this is feasible?

[2017-09-11 19:05] andrewharp commented on #8641
@d4l3k When did you clone? The -fomit-frame-pointer flag added to tf_copts() in https://github.com/tensorflow/tensorflow/commit/d410a83207bdf63ead87a145f97377b7eb1f96bf should take care of the insufficient register error.

[2017-09-11 19:07] martinwicke commented on #12969
@dr4b @MarkDaoust can you look at this documentation issue? I don't know how pervasive this is, but it could affect all the sparse tensor ops.

[2017-09-11 19:39] andrewharp commented on #9280
Just to follow-up here, building for Android with NDK r14b should work as of https://github.com/tensorflow/tensorflow/commit/d410a83207bdf63ead87a145f97377b7eb1f96bf

[2017-09-11 19:42] zyavrik opened #12977 "Cmake nightly builds for Windows are broken for more than a month!"
Cmake nightly builds for Windows are broken for more than a month!
Will tensorflow ever support Windows again?

[2017-09-11 19:43] zyavrik opened #12978 "Bazel & cmake compilations for Windows are completely broken"
Can't compile tensorflow revision 1.3 using Bazel (revision of the last successful nightly build using cmake). Error is the following:

[code]

If you try to compile master revision then compilation even won't start with the error:

[code]

I'll be glad to help to fix the issues. But I absolutely has no idea what's going on here. Can anybody help to fix Windows compilation please? Currently here i

[2017-09-11 19:57] fchollet commented on #12973
In TF 1.2, we removed the Keras `TruncatedNormal` initializer and instead simply imported the core version (from `init_ops`). The core version has a different default `stddev` value, hence the change. This was an oversight.

Code in contrib is subject to changes. Now the Keras API has moved to core, so such changes will not happen in the future.

In general, I would recommend not using `TruncatedN

[2017-09-11 19:57] #12973 closed

[2017-09-11 20:03] andrewharp commented on #12978
The atomicAdd errors at least might be due to a missing -latomic flag in the linkopts of the relevant binary. Maybe something got added to the bazel builds and left out of cmake?

[2017-09-11 20:47] d4l3k opened #12979 "bazel compiliation is broken! build failure due to github checksums changing"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Arch Linux
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: master
- **Python version**: Python 3.6.2
- **Bazel version (if compiling from source)**: 0.5

[2017-09-11 20:49] av8ramit commented on #12393
This is live.

[2017-09-11 20:49] #12393 closed

[2017-09-11 21:01] tfboyd commented on #12951
495cc8e474e608bbd0b6c5bf91d5a22962ede7cd  (Head/Master synced at 1:15 PST 11-SEP for reference)
./configure all defaults
bazel build --c opt --config=mkl //tensorflow/tools/pip_package:build_pip_package

bazel 0.5.2
python 2.7
Ubuntu 14.04 (internally customized but core is the same)

Compiled fine, maybe there was an issue at head when you synced.  Closing but feel free to comment if you have mor

[2017-09-11 21:01] #12951 closed

[2017-09-11 21:08] calledbymountains opened #12980 "Blocking of tf.contrib.StagingArea get() and put() operations"
**Work Environment**
TensorFlow release version : 1.3.0-rc2
TensorFlow git version : v1.3.0-rc1-994-gb93fd37
Operating System : CentOS Linux release 7.2.1511 (Core)

I am using TensorFlow StagingArea ops for increasing the efficiency of my input pipeline. Here is a part of my code snippet which constructs the input pipeline :
[code]
Now at the time of execution, I first run the put() ops a couple

[2017-09-11 21:19] d4l3k commented on #8641
@andrewharp I cloned shortly ~30min before posting. I was previously using https://github.com/urho3d/android-ndk, but since have switched to just downloading the standard package and extracting.

[2017-09-11 21:25] av8ramit commented on #12366
https://github.com/tensorflow/tensorflow/pull/12981

[2017-09-11 21:33] andrewharp commented on #12979
As a short-term workaround, you can force the sha256sum to match by removing the github.com entry.

[2017-09-11 21:55] alsrgv commented on #2412
I'm having the same issue with TF plugin. Will [official TF plugin build instructions](https://www.tensorflow.org/extend/adding_an_op#compile_the_op_using_your_system_compiler_tensorflow_binary_installation) be updated to account for `nsync_cv.h`?

[2017-09-11 21:56] zyavrik commented on #12977
The head revision fails with the error (compiling with GPU support):

`C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V140\Microsoft.CppCommon.ta‌​rgets(171,5): error MSB6006: "cmd.exe" e xited with code 1. [C:\tensorflow\tensorflow\contrib\cmake\build\cub.vcxproj]
`
The revision on the moment of the last successful nightly build fails as well (why?) with the error:
`
C:\Program Files (x86)\MSB

[2017-09-11 22:01] d4l3k commented on #12979
Temporary fix:
[code]

[2017-09-11 22:17] gunan commented on #12942
Correct. TF out of the box strictly needs a 64 bit operating system & hardware on a desktop or laptop.
We are working on adding this information to our docs.

[2017-09-11 22:17] #12942 closed

[2017-09-11 22:45] dr4b commented on #12969
Sounds like Mark is going to take a stab at rewriting the samples.  We don't think this affects all of the sparse tensor ops, for now.

[2017-09-11 22:49] kdatta opened #12984 "bazel build failed due to boringssl checksum mismatches"
No custom code.
System snapshot:
GCC 5.3.1
Centos 7
Bazel 0.5.4

Building from commit id 79517578deb4ea2a8dea641f1a8fa4363c13f76b from master.

[user@master tensorflow]$ bazel build --config=mkl --copt="-march=knl" --copt="-O3" -s -c opt //tensorflow/tools/pip_package:build_pip_package
WARNING: ignoring http_proxy in environment.
ERROR: /home/user/tensorflow/tensorflow/tools/pip_package/BUILD:101:

[2017-09-11 23:24] gunan commented on #12935
@av8ramit Do you think this would be easy to add?

[2017-09-11 23:27] av8ramit commented on #12935
Thanks @tillahoffmann, that is on our roadmap and I'll add that as soon as I can.

[2017-09-12 00:00] cy89 commented on #12794
I don't quite understand how you triggered this failure--can you please tell us more about what you built, and what command you issued to get this stack trace?

Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possi

[2017-09-12 00:00] cy89 commented on #12796
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-12 00:00] #12796 closed

[2017-09-12 00:04] cy89 commented on #12808
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-12 00:04] #12808 closed

[2017-09-12 00:05] cy89 commented on #12810
@chinaluffy did that fix your problem?

[2017-09-12 00:08] cy89 commented on #12812
I'm sorry, I don't quite understand what you're asking. It looks like you might be saying
p(water bottle) = 0.978
p(bottle) = 0.988
p(mug) = 0.078
and you'd like to convert these probabilities into percentages? Can you' just multiply by 100?

In any case, this issues section is more usually used for bugs and feature requests; perhaps Stack Overflow would be a better venue for this kind of question

[2017-09-12 00:09] cy89 commented on #12818
@poxvoculi can you offer any hints for this use case?

[2017-09-12 00:18] cy89 commented on #12824
@asimshankar, do you have any hints to offer about how to figure this out?

[2017-09-12 00:24] MarkDaoust commented on #12969
The docs for sparse tensors contain some non-runnable text representations, but they don't look like they're meant to run (as this one does).

[2017-09-12 00:25] cy89 commented on #12830
@jart, this seems like a Bazel-related feature request (and offer to write a PR). Do you think it'd be mergeable?

[2017-09-12 00:32] cy89 commented on #12840
I'm not quite seeing/understanding the complete proposal / feature request you're making. Can you explain how you'd use the different sources?

[2017-09-12 01:46] clived2 commented on #6533
Great thread, folks. pip install tensorflow (via pypi, I guess) worked for me. Running Python 3.6 on a Ubuntu 16.04 computer. Goodbye PY35 envs :)

[2017-09-12 01:48] chaos-dd commented on #12960
I already try to add  thread unum and buffer size param to dataset method map, but it doed not speed up.  It seems that the two params  does not  used for pre read data accoding to the docs.

My problem is when I have multiple gpu in one machine, I want  data parallism to speed up training speed. So I add multiple dataset node in the tensorflow graph  one for a gpu, but it seems that multiple data

[2017-09-12 02:17] calledbymountains opened #12985 "Possible bug in nightly build for Linux-gpu"
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  CentOS Linux release 7.2.1511 (Core)
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: v1.3.0-rc1-2023-g4af9be9
- **Python version**: 3.6.1
- **Bazel version (if compiling from source)**: 0.5.4
- **CUDA/cuDNN version**: cuda 8.0 , cudnn - 5.1.5
- **GPU model and memory**: Titan X

[2017-09-12 02:43] vishalghor commented on #504
Hi @petewarden ,

Thanks for such a usefull example for retraining inception.
But this sample uses a .pb file for retraining.Is there a method to use .ckpt for retraining?
If so any sample code would be of great help.
There is not much clarity if the same can be done for other opensource models such as Resnet50,101, etc

It would be very kind of you if you could guide on this.

Thank

[2017-09-12 02:52] mylxiaoyi opened #12986 "boringssl sha256 checksum mismatched"
https://github.com/tensorflow/tensorflow/blob/5541ef4fbba56cf8930198373162dd3119e6ee70/tensorflow/workspace.bzl#L583

when download from https://github.com/google/boringssl/archive/e3860009a091cd1bd2bc189cdbc3c6d095abde84.tar.gz, the sha256 checksum is
[code]

 , but expected is
[code]
.

Is there something wrong?

thanks.

[2017-09-12 03:16] samwit commented on #12984
I am having the same issue

[2017-09-12 03:26] passerbyd commented on #12667
Some more information, this problem exists among all TF versions.
The stuck problem only happens in SyncReplicasOptimizer. When tracing the stucked processes, all workers and PSes are waiting on mutex. PSes do not get all the gradients in this round, so the global_step won't be updated to start next round.
And the problem is related to the variables size in the model. If the variables are small en

[2017-09-12 03:39] passerbyd commented on #12740
fold_batch_norms/fold_old_batch_norms merges the scale part of a (fused) batch normalization into conv_op only if the bn op is trailing a conv op. Otherwise nothing is did.
And the tool run as expected in this case. You can check its implementation.

[2017-09-12 03:55] d4l3k commented on #12984
Also at https://github.com/tensorflow/tensorflow/issues/12979

[2017-09-12 03:55] d4l3k commented on #12986
Also at https://github.com/tensorflow/tensorflow/issues/12979

[2017-09-12 03:59] snnn commented on #12978
What's your bazel version?  You may need to turn on wrappers.
Please take a look at the last comments in
https://github.com/bazelbuild/bazel/issues/2075

[2017-09-12 04:01] #12812 closed

[2017-09-12 04:03] zyavrik commented on #12978
Version: bazel-0.5.4-windows-x86_64.

[2017-09-12 04:29] d4l3k opened #12988 "android //tensorflow:libtensorflow.so build fails due to missing build target"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: master
- **Python version**: 3.6.2
- **Bazel version (if compiling from source)**: 0.5.4
-

[2017-09-12 04:39] jiazhe0909 commented on #12898
Thanks for your replies, yaroslavvb and reedwm.
If the allocator really takes 10s of usec, I guess the output-allocation process could still be a bottleneck even in GPU inference workload.
For example, we can consider a case that CPU side allocating process doesn't overlap with the previous launched GPU calculation.
![20170912_120218](https://user-images.githubusercontent.com/8175586/30308136-ba73

[2017-09-12 04:54] snnn commented on #12978
Hi @zyavrik ,

Please set USE_MSVC_WRAPPER=1

e.g.
[code]

[2017-09-12 04:58] serendipity24 commented on #12722
Okay...Your suggestions gave me the necessary clarity nonetheless.Thank you very much :)

[2017-09-12 05:00] dilipbobby opened #12990 "Does tensorflow is used for content based recommendations?"
Hi,
I wanted to perform content based recommendation (context based) but I did not find any example of tensor flow doing it.can we use tensor flow for doing content based recommendations.

[2017-09-12 05:00] d4l3k commented on #12988
Think it should be `//tensorflow/c:c_api_internal` instead.
[code]

[2017-09-12 05:47] d4l3k commented on #12988
Once that's fixed there's also a missing header file error. Seems like c/eager is all messed up with regards to Android.

[code]

[2017-09-12 06:40] ArtemiyFirsov opened #12992 "Mixture model with gaussians fails to create"
Hello!

I have written some code to model GMM and further prob some data points. I already have weights and other params for initialization. Here is the code:

[code]

However in this stage:
` cat=ds.Categorical(probs=weights.astype(np.float64)),`

there is this error:

I have 32 gaussians per mixture, data has 26 features.
Weights is a list of floats, means - list of floats for each gaussian, cov

[2017-09-12 06:57] tillahoffmann commented on #12935
@av8ramit, that's great, thank you.

[2017-09-12 07:26] balaji-in-git opened #12993 "Different corrupted record Issue with TFRecordReader"
Hi, I am trying to convert some 11 mn features and labels into TFRecords; I convert my examples into scipy csr/coo and the features are simple 1Dim features. I am trying to make a batch of features of 1000 in a csr and I am able to write it into TFRecordWriter. The files are generated.
 The problem is when I try to read it using parse_example, I am trying to create a tensor equivalent to compresse

[2017-09-12 07:28] balaji-in-git commented on #12993
BTW, I am using tensorflow1.2.1

[2017-09-12 07:47] #12735 closed

[2017-09-12 08:03] bartgras commented on #6683
I can confirm the problem still exists in TF version 1.2.0. Saving and restoring model with LSTMCell and dynamic_rnn in Python 3 gives random weights. After switching to Python 2 all works fine.

Solving it for TensorFlow will also make it work for Keras (using TF as backend). Actually I've rewritten my model from Keras to TF after having problems with Keras model.save(). Turns out that it's TF th

[2017-09-12 08:08] luchensk commented on #12482
+1, same issue when compiled custom reader op, as below:

[code]

[2017-09-12 08:18] newton3 commented on #1402
Hi, I got the same issue:
[code]

This was exactly after following the getting started guide and trying a import tensorflow as tf.
Wondering why is this issue closed when so many people still have the issue.
I couldn't find the solution anywhere on this thread or on stackoverflow.

Please help!!

[2017-09-12 08:28] Shiv751 commented on #1402
Hi Abhishek,
I am still not resolved with this issue if you find potential fixes than
please let me know.

On Sep 12, 2017 1:50 PM, "Abhishek" <notifications@github.com> wrote:

[2017-09-12 08:48] newton3 opened #12994 "Steps in getting started guide are incorrect."
Hi, would appreciate if someone can help me get started. It must be something very trivial, but as a beginner, I did not find an answer anywhere. Looking for help.

1. I had to refer to stack overflow for basic installation on windows - https://stackoverflow.com/questions/38896424/tensorflow-not-found-in-pip

2. Even after that I get error as below (just trying import tensorflow as tf)-
[code]
Thi

[2017-09-12 08:53] williford commented on #5987
I found the following section really helpful: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/slim#evaluation-loop

I initially thought the main slim page was:
https://github.com/tensorflow/models/tree/master/slim

I created a PR to make this more explicit here:
https://github.com/tensorflow/models/pull/2371

[2017-09-12 09:42] mhlopko commented on #12735
Yup, it does look like it solves the problem. It's not elegant, but that the bazel problem.

[2017-09-12 10:19] balaji-in-git commented on #12993
There was another line of code which was overwriting TFrecords file with the contents of some dataFrame. Lost of lot of time fixing tensors while there was a trivial mistake elsewhere. Learnt more of tensors though 👍

[2017-09-12 10:20] #12993 closed

[2017-09-12 10:20] ThomasWollmann commented on #2169
@teramototoya I recognized this issue as well in my experiments. However, I don't have a solution yet.

[2017-09-12 11:29] abdasgupta commented on #12966
your architecture/platform where you running??

[2017-09-12 11:31] luchensk commented on #12482
I changed the file `tensorflow/core/platform/default/mutex.h` by adding the relative path as prefix of `nsync_cv.h` and `nsync_mu.h` to fix the issue, as follows:

[code]

[2017-09-12 11:51] adelmanm commented on #12482
copying nsync*.h from dist-packages/external/nsync/public (or https://github.com/google/nsync/tree/master/public) to /usr/include also does the trick without modifying tensorflow files.

[2017-09-12 12:40] Moymix opened #12996 "restore part of model using Estimator API"
Hi,

I am trying to restore part of model using tensorflow high level API Estimator,  but I can not find I way.
I can only specify checkpoint_path for Estimator.

Here is an example.
I what to extract COCO images feature using tf-slim pretrained model resnet_v2, but this pretrained model does not provide "resnet_v2_152/block1/unit_1/bottleneck_v2/conv2/biases". So, I need to initialize it to zero.

[2017-09-12 12:46] Chao1155 commented on #12984
Have same issue.
build with cuda on Master branch of Sep.12

[2017-09-12 12:51] Chao1155 commented on #12984
It seams change the checksum of boringssl in tensorflow/workspace.bzl works as a temporary workaround.

Change the checksum in line 583 of workspace.bzl from "02f***" to "a9a***" (The checksum you get).

[2017-09-12 13:06] #5390 closed

[2017-09-12 13:06] #5984 closed

[2017-09-12 13:06] #10634 closed

[2017-09-12 13:06] #10644 closed

[2017-09-12 13:06] #10648 closed

[2017-09-12 13:06] tensorflowbutler commented on #5390
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-09-12 13:06] tensorflowbutler commented on #5984
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-09-12 13:07] tensorflowbutler commented on #10634
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-09-12 13:07] tensorflowbutler commented on #10644
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-09-12 13:07] tensorflowbutler commented on #10648
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-09-12 14:38] AllenIverSunn commented on #9735
Hello man, I am looking for cudnn64_6.dll, can you send me an address where  I can down it? Thank you

[2017-09-12 14:44] edgimar opened #12997 "Ability to read multi-channel image format"
Though the `tf.decode_image()` function can handle a few different image encodings, all of these encodings can only support a maximum of 4 channels in an image (RGBA).   One format which can support a larger number of channels is TIFF (which is currently not supported in TF, perhaps due to its complex specification?).  It would be convenient if TF could support decoding TIFF or some other format t

[2017-09-12 15:02] #12985 closed

[2017-09-12 15:10] calledbymountains opened #12998 "An error in llvm/Object/SymbolicFile.h : expected ')' before 'PRIxPTR'"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  CentOS Linux release 7.2.1511 (Core)
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**:  git hash 1e96d54d9f928c4ea4bf0564ef9900f6bd03acd5
- **Python vers

[2017-09-12 15:22] allredbw commented on #12148
Based on this SO [answer](https://stackoverflow.com/questions/44937001/feature-are-incompatible-with-given-information-in-evaluate-using-tf-contrib-l), I was able to resolve the error. When using `input_fn` in `ValidaitonMonitor()`, `fit()`, and `evaluate()`, features needed to be passed as a dictionary with the same key. That key also needed to specified in `tf.contrib.layers.real_valued_column()

[2017-09-12 15:26] guytenn commented on #6210
@amutu Thank you for your contribution of tensorflow-offline. Everything seems to work for me when not using cuda, but when trying to follow your instructions with cuda I get the following error:
ERROR: error loading package 'tensorflow/tools/pip_package': Encountered error while reading extension file 'cuda/build_defs.bzl': no such package '@local_config_cuda//cuda': Traceback (most recent call l

[2017-09-12 15:30] Bazman76 commented on #9701
Run the code in cells 19 & 23 below to import and pre-process the data.

https://github.com/ageron/handson-ml/blob/master/09_up_and_running_with_tensorflow.ipynb

Then lines 59-64 are run to solve a linear least squares problem, whilst saving the training data for use with tensorboard.

I then use Anaconda prompt to do to the directory where the log files are kept:
I then use Anaconda prompt to ru

[2017-09-12 16:08] guicunbin opened #12999 "data_format="NCHW" didn't work for tf.nn.max_pool"
In [78]: x2 = tf.random_uniform([64,3,32,32])

In [79]: x2_pool = tf.nn.max_pool(x2,  [1,3,3,1], [1,2,2,1], padding="VALID", data_format="NHWC")

In [80]: x2_pool.shape
Out[80]: TensorShape([Dimension(64), Dimension(1), Dimension(15), Dimension(32)])

In [81]: x2_pool = tf.nn.max_pool(x2,  [1,3,3,1], [1,2,2,1], padding="VALID", data_format="NCHW")

In [82]: x2_pool.shape
Out[82]: TensorShape([Dime

[2017-09-12 16:09] crackcomm commented on #12840
Main feature would be a dynamic functions loading from remote sources (eq. `/google/` functions).

For example: compiled kernels can be loaded straight from `/ipfs/<hash>` address, this would require an `ipfs` function loader.

The idea is mainly to provide tools to develop new kinds of neurons.

[2017-09-12 16:14] calledbymountains commented on #12999
Isn't the above question more suited for SO ?

[2017-09-12 16:22] calledbymountains commented on #12999
You have to provide ksize and strides in the same format as the data.

[code]

[2017-09-12 16:24] kdatta commented on #12984
Yeah, @Chao1155 this is how I worked around this as well

[2017-09-12 16:37] speak2me commented on #12984
@Chao1155 thanks

[2017-09-12 16:44] rightaditya commented on #12414
I can confirm the same issue on a couple different Ubuntu versions (and some unknown Linux distro), Python 3.5 and 3.6, TensorFlow 1.2 and 1.3, cudnn 5.1 and cudnn 6, and on Telsa P100, GeForce GTX 1070 and Pascal Titan X.

I get the message at the end of each epoch, on both training and dev set. Here's my dataset definition:

[code]

I use a batch size of 8, and shuffle the training set but not t

[2017-09-12 16:51] guicunbin commented on #12999
thank you very much

[2017-09-12 16:51] #12999 closed

[2017-09-12 17:37] subashp commented on #12984
Thanks, that worked.

Checksum was **a9a3673b1f7bd80ef563e9de1d9ccdb5126dc0cce6377977009092148993c4fe** but wanted **02f5950f93c4fd3691771c07c9d04cf2999ab01383ff99da345249e93b0fcfb2** and referenced by '//tensorflow/tools/pip_package:licenses

[2017-09-12 17:37] andrewharp commented on #12988
@d4l3k //tensorflow:libtensorflow.so is a non-mobile target and is not expected to build for Android. libtensorflow_inference.so should contain everything you need for inference on Android. All of the valid Android native targets (apart from the Java api I think) start with the prefix "android_".

[2017-09-12 17:38] #12988 closed

[2017-09-12 17:40] andybergon commented on #12967
This was an internal problem. Sorry about the noise.
`pip2 install --index-url https://pypi.python.org/simple tensorflow==1.2.0` worked.

[2017-09-12 17:40] #12967 closed

[2017-09-12 17:46] d4l3k commented on #12988
@andrewharp, I'm trying to get the Go API working on Android but it requires the full C API. Any suggestions about how to go about that? Seems surprising that the C API isn't portable

[2017-09-12 18:02] andrewharp commented on #12988
@d4l3k Sorry, not too familiar with Go API -- what is missing from the C API supported by the Android targets?

[2017-09-12 18:18] dave-andersen commented on #1924
@Thomas-Kim @meldron - I've pushed a fix to this that should be going out within 24 hours.  LMK.  (Also, as a side note, next time go ahead and open a new bug or re-open it;  I only noticed this because Thomas pinged me about it.)

[2017-09-12 18:20] d4l3k commented on #12988
@andrewharp The Go API binds to the C API. Whereas the Android `libtensorflow_inference.so` is completely different.

https://gist.github.com/d4l3k/ea9119dfe11d1c12b0494d570ade289f

## Android
[code]
## C
[code]

[2017-09-12 18:28] botev commented on #3610
@girving So one thing which is not very clear for instance this - https://github.com/renmengye/tensorflow-forward-ad/issues/2 - a valid question is would tensorflow optimize away the auxiliary variables created. Or in other contexts, would it do operator-fusion. I assume that some of this (especially the second one) is part of XLA, but in general, many of this is part of the graph optimizations. C

[2017-09-12 18:48] bodokaiser commented on #2358
Any updates here?

[2017-09-12 18:57] xcyan commented on #2358
@bodokaiser I don't think so. They are not working on this thread actively. One solution is to implement your own scatter_add() layer.

[2017-09-12 19:02] lissyx commented on #12979
Would anyone happen to know if it's an expected behavior from Github? What is going to happen for the tarball hosted on the mirror.bazel.build, are they going to be updated ? Should we trust that new sha256 ? I have spotted that the URL I use for RPi3 toolchain download is impacted as well:
[code]

[2017-09-12 19:02] iysaleh commented on #9735
cudnn64_6.dll is included with 'cudnn-8.0-windows7-x64-v6.0' (as stated in the original description).

To get it, download that version of cudnn from the NVidia website: https://developer.nvidia.com/cudnn

[2017-09-12 19:13] #12939 closed

[2017-09-12 19:15] sirgogo commented on #10749
This is still an issue. I am not sure how much it will matter in the long run if we are training a network around it anyway..., but it is quite shocking that the error is so high. This also makes debugging hard, because TF's FFT is undoubtedly not doing what we think it should be. Perhaps cuFFT's algorithm is not numerically stable? The error is there even for 1D, but it is much much smaller. This

[2017-09-12 19:19] shadmanssk opened #13002 "1_notmnist assignment1 zero mean equation in code"
Okay in tutorial its say to make zero mean do r-128/128 but in code its r-128/255
Below is the code provided in ipython notebook
image_size = 28  # Pixel width and height.
pixel_depth = 255.0  # Number of levels per pixel.

def load_letter(folder, min_num_images):
  """Load the data for a single letter label."""
  image_files = os.listdir(folder)
  dataset = np.ndarray(shape=(len(image_files), ima

[2017-09-12 19:21] episodeyang commented on #3006
Just for the record, supporting all popular browsers is a big deal and must-to-have. Now tensorboard is working in safari after the update :)

In the long run, cross-browser support should stay.

[2017-09-12 19:27] willcrichton commented on #12966
Looks like an issue in your cuDNN version.

[2017-09-12 20:51] bzamecnik commented on #12979
As a workaround just comment the sha256 checksum lines in `tensorflow/workspace.bzl`. The checksums changed probably due to some library change on GitHub side.

[2017-09-12 21:32] fmannan commented on #12977
I'd the same problem due to hash mismatch (see below). I'd to change the hash in `cmake\external\gemmlowp.cmake` to get over this problem.

[code]

[2017-09-12 21:35] lukaszkaiser commented on #12916
Hi @malsulaimi , thanks for writing. You need to be careful to distinguish variables from all other nodes in a TensorFlow graph. E.g., when you write this name above:

scope_1/InnerScope/tile_batch_1/Reshape_1:0

This is not a variable, this is just a node from the reshape op. Every node in the TF graph has its own unique name. When you reshape the same variable twice, for example, you'll get 2 di

[2017-09-12 21:35] #12916 closed

[2017-09-12 21:39] #9347 closed

[2017-09-12 22:05] sirgogo opened #13004 "Tensorflow import breaks numpy calls"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:

See source code below.

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
[code]

- **TensorFlow installed from (source or binary)**:
`pip install tensorflow-gpu`

- **TensorFlow version (use command below)**:
[code]
[code]
- **Python version**:
[code]
- **Baze

[2017-09-12 22:47] yaroslavvb commented on #13004
Are you using MKL by any chance? There's known bad interaction between MKL and TensorFlow (ie, see https://github.com/tensorflow/tensorflow/issues/11724)

Try `np.__config__.get_info("lapack_mkl_info")` to see if MKL is there

MKL issue might be solved by setting `export MKL_NUM_THREADS="1"`

[2017-09-12 22:54] sirgogo commented on #13004
I think you might be right.. since I was using the stock Intel install, it was probably MKL. I went ahead and did :
`pip install numpy scipy tensorflow-gpu --ignore-installed`

which upgraded numpy:
[code]
so now:
[code]

And the original issue seems to be resolved. Not sure what the culprit was, but it was one of those.

[2017-09-12 22:54] #13004 closed

[2017-09-13 00:37] supamonkey2000 commented on #2033
still happening on Windows 10 64 bit. GPU is GTX 1060 3Gb

[2017-09-13 00:53] pablote commented on #348
anyone still having this problem? I have wheel installed in both pip2 and pip3, still the command fails

[code]

[2017-09-13 01:04] subashp commented on #12482
@adelmanm method sounds reasonable. However I changed our build system to clone the github and include the directories instead of messing up the system includes.

[2017-09-13 01:07] philipperemy commented on #2033
@supamonkey2000 run a very tensorflow script like MNIST CNN and check if you have this error.

[2017-09-13 01:23] supamonkey2000 commented on #2033
@philipperemy I ran the MNIST tutorial with no errors.

[2017-09-13 01:26] philipperemy commented on #2033
@supamonkey2000 so the problem comes from your code. Check every line carefully.

I had this error because I was given an empty array to the TF session.

[2017-09-13 02:00] vahidk opened #13005 "tf.nn.in_top_k strange behavior"
Based on the documentation [here](https://www.tensorflow.org/api_docs/python/tf/nn/in_top_k) tf.nn.in_top_k treats ties as positive, which is almost never what you'd want. This is a major flaw, which leads to misleading metrics. An all zero predictions would give you 0 error with any targets. I think the default behavior should be to not count ties,

[2017-09-13 02:12] ramesh-chowdeshetty opened #13006 "pip error while training model on cloud"
The replica master 0 exited with a non-zero status of 1. Termination reason: Error. Traceback (most recent call last): File "<string>", line 1, in <module> IOError: [Errno 2] No such file or directory: '/tmp/pip-9_013O-build/setup.py' The replica worker 0 exited with a non-zero status of 1. Termination reason: Error. Traceback (most recent call last): File "<string>", line 1, in <module> IOError:

[2017-09-13 02:13] ramesh-chowdeshetty commented on #13006
Could you please somebody help me to sort this out. I have already pip even though i am getting same

[2017-09-13 02:26] facaiy opened #13007 "Feature: tf.decode_csv support NA values"
I found many people prefer to using `NA`, `null` or `NULL` or other string as missing value in HIVE table. But `tf.decode_csv` cannot handle the case. So, I suggest to add `na_value` argument like [`pd.read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html).

[2017-09-13 02:46] RemiMorin commented on #12052
Is there a branch / tag whatever we can checkout and try it out?
Started a brand new installation, Ubuntu 17... then new gcc impose CUDA 9, I see that CuDNN who fit with is 7... you see where I'm heading.
I can for sure hack  my setup in many places (and start it from scratch again with Ubuntu 16) just I'm so close, the fix is said to be close... why make a big jump in the past if I can make a sma

[2017-09-13 02:48] STHSF commented on #4276
@eymar Does your problem solved？ recently, I meet the similar problem。when i use a pretrained model in another machine, there something wrong happened.
the problem is :
`2017-09-13 10:10:03.396626: W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use SSE4.1 instructions, but these are available on your machine and could speed up CPU computations.
2017-0

[2017-09-13 03:00] tfboyd commented on #12052
The PRs are almost approved.  They are in review.  I suspect a couple more
weeks at most, but these reviews can take time.  I think these are all of
them.  There could be a straggler or a change to get the EIGEN change for
CUDA 9.  I have not ready them personally. They get closer each day.

https://github.com/tensorflow/tensorflow/pull/12504
https://github.com/tensorflow/tensorflow/pull/12503
htt

[2017-09-13 03:14] oscarkfpang commented on #12984
I've changed the line 583 of workspace.bzl to the new checksum as follows but still cannot build.

The error I got was

no such package '@boringssl//': java.io.IOException: Error downloading .....

  patched_http_archive(
      name = "boringssl",
      urls = [
          "http://mirror.bazel.build/github.com/google/boringssl/archive/e3860009a091cd1bd2bc189cdbc3c6d095abde84.tar.gz",
          "htt

[2017-09-13 04:46] asimshankar commented on #12824
That is troubling, and from a cursory look at the stacktrace this seems like a NULL pointer dereference somewhere inside the C code, but I can't tell.

Is there any way you can reduce this to a smaller sample of code that reproduces the problem?

[2017-09-13 04:51] zyavrik commented on #12978
**snnn**, thanks for help! It helped with the described error in 1.3 revision. But then another error appeared:

[code]

I just run it again and got another error (why???):

`
Dmitry@Desktop MINGW64 /c/tensorflow-r1.3
$ bazel.exe build --config=opt --config=win-cuda --action_env=USE_MSVC_WRAPPER=1 //tensorflow/tools/pip_package:build_pip_package --verbose_failures
____Loading complete.  Analyzing.

[2017-09-13 05:27] snnn commented on #12978
You get different error for different runs because: there are many errors, not only one.  This is very like invoking gmake with "-j".

Please add " --verbose_failures" to your build command,  so we can see more logs.

BTW, the code under r1.3 branch is not compilable right now, because of the sha256sum issue.

[2017-09-13 05:35] chandu1909 opened #13009 "'load_csv_with_header' no longer works. Please suggest a solution."
I've been trying to run the tutorial program on IRIS data set and everytime when I try to run the program am seeing this error.

'module' object has no attribute 'load_csv_with_header'

Please suggest me how to solve this.

[2017-09-13 06:28] amutu commented on #6210
CUDA is not supported for the offline build now.

[2017-09-13 07:14] georgesterpu commented on #12414
What happens to your data once it is fetched and parsed by the iterator ?

[2017-09-13 08:01] nylocx commented on #9638
I can confirm this issue. I just build tensorflow on Ubuntu 16.04.3 LTS with gcc (Ubuntu 5.4.0-6ubuntu1~16.04.4). I had to build against Eigen master (034fba127699) for a successful build using tensorflow master and 1.3.0 with bazel.  My Python version is 3.5.2.

The simple hello world is working fine. I can reproduce the error by using the mnist deep example (mnist_deep.py).

This only happens wi

[2017-09-13 08:05] lissyx commented on #12979
Answer to myself: https://github.com/libgit2/libgit2/issues/4343#issuecomment-328631745
TL;DR it does confirm that Github changes the code to produce tarball, and that the way they are used is fundamentaly risky.

[2017-09-13 08:07] lingbao00 commented on #11592
I am doing cross compile too now, but i had test many ways ,all failed,i download the tensorflow 1.2 source code and under linux i want to compile .so file for android,canyou help me ,the command of bazel build what

[2017-09-13 08:32] nylocx commented on #9697
I also managed to build with Eigen master and tensorflow master but with native optimizations, a skylake CPU on Ubuntu I ran into this issue: https://github.com/tensorflow/tensorflow/issues/9638

[2017-09-13 08:46] adityapatadia commented on #9638
Same issue with me. I ended up installing pre built version from PIP.

[2017-09-13 08:47] adityapatadia commented on #9697
@nylocx same issue with me.

[2017-09-13 09:56] Jongbhin commented on #12859
As @mrry mentioned above,
"I think for the purposes of the MonitoredSession, an initializable iterator is more like a "local variable" (which are reinitialized on each worker when they start) than a "global variable" (which are initialized once by the chief, and then restored from checkpoints)"
Iterator is like a local variable so it doesn't share the index across multiple session and neither rest

[2017-09-13 09:59] tankienleong opened #13011 "Failed to run the benchmark_model"
System information
- Have I written custom code: No
- OS Platform and Distribution: Linux Ubuntu 14.04
- TensorFlow installed from: source
- TensorFlow version: ('v1.3.0-rc1-1951-g04c318b', '1.3.0')
- Python version: 2.7.12
- Bazel version (if compiling from source): 0.5.0
- CUDA/cuDNN version: 8.0/5.1
- GPU model and memory: Quadro M4000 8Gb
Exact command to reproduce: bazel-bin/tensorflow/tools/

[2017-09-13 10:21] dsalaj commented on #6263
For anyone looking for more information about deprecation of ´tf.trainSupervisor´ and upcoming update to guide, there are some newer comments here: #6604

[2017-09-13 10:22] calledbymountains commented on #12998
@mrry Could you kindly take a look at this ? This has been bugging me for several days and I have exhausted all efforts.

[2017-09-13 11:23] facaiy commented on #13009
Could you paste the full stack trace of exception?

[2017-09-13 11:47] cancan101 commented on #7108
Why close the issue? I believe it still exists on new builds of TF.

[2017-09-13 11:47] zyavrik commented on #2109
The following commands helped me:

[code]

[2017-09-13 12:20] luanmm opened #13013 "Android Detect demo is not working (not detecting/drawing anything)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 Pro / Android 6
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**: N/A
- **Bazel version (if compiling from source)*

[2017-09-13 12:33] zyavrik opened #13014 "Can't compile tensorflow on Ubuntu with Skylake CPU (i7-7820X)"
Can't compile tensorflow on Ubuntu with Skylake CPU (i7-7820X). I get the following error:

[code]

OR the following error:

[code]

Compilation command:

`bazel build --config=opt --config=cuda --cxxopt="-fabi-version=0" //tensorflow/tools/pip_package:build_pip_package --verbose_failures`

Is it possible to disable AVX512 but leave all other native optimization parameters?

[2017-09-13 12:41] zyavrik commented on #13014
After updating **libeigen3-dev** it works:

[code]

[2017-09-13 12:46] jimdsouza commented on #2412
` bazel build //tensorflow:libtensorflow.so` for C API.
and
`bazel build //tensorflow:libtensorflow_cc.so` for C++.

[2017-09-13 13:02] #10712 closed

[2017-09-13 13:02] tensorflowbutler commented on #10712
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-09-13 13:03] zyavrik commented on #13014
It looks like the new issue was resolved here: https://github.com/bazelbuild/bazel/issues/714

[2017-09-13 13:07] zyavrik opened #13015 "Ubuntu installation instruction is too obsolete!"
For successful build on Ubuntu it's required to do much more than stated on the installation instructions!

My system:
[code]

It's required change the build command:

`bazel build --config=opt --config=cuda --cxxopt="-fabi-version=0" //tensorflow/tools/pip_package:build_pip_package --verbose_failures`

And it's still not enough :( I still can't make successful build...

[2017-09-13 14:03] leandro-gracia-gil opened #13016 "Distributed variable initialization never reaches some nodes (affects MonitoredTrainingSession too)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Multiple affected in different ways, including Linux Ubuntu 16.04.03, Mac OS X 10.12.6, Windows 10 and Bash on Windows 10 running Ubuntu 16.04.03.
- **TensorFlow installed from (source or binary)**: binary, f

[2017-09-13 14:10] mrry commented on #12998
It sounds like this is an issue with building LLVM: the `PRIxPTR` macro isn't defined on your system, but it is on the Ubuntu machines that we use to run the continuous build. Perhaps [this Stack Overflow answer](https://stackoverflow.com/a/30851225/3574081) would be helpful: it suggests that with some toolchains it is necessary to `#define __STDC_FORMAT_MACROS` before using macros like `PRIxPTR`.

[2017-09-13 14:11] yongtang commented on #13014
@zyavrik I think eigen is downloaded from source in TensorFlow, not built against the installed library in your dev machine (libeigen3-dev) directly.

Installing libeigen3-dev may actually complicate the issue as there are mixed header files from different versions of eigen3 (one from downloaded source, another from the sys directory in your dev machine).

It is hard to see but from the limited in

[2017-09-13 14:31] ahoereth opened #13017 "tf.extract_image_patches gradient transpose extremely slow"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 10.12.6
- **TensorFlow installed from (source or binary)**: Binary, official docker image
- **TensorFlow version (use command below)**: v1.3.0-rc2-20-g0787eee 1.3.0
- **Python version**: 3.5

### Proble

[2017-09-13 14:36] rasmusbergpalm opened #13018 "Add `Dataset.from_variable_length` to accept numpy arrays with varying length"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS x
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: `v1.3.0-rc2-20-g0787eee 1.3.0`
- **Python version**: `Python 3.5.2 :: Continuum Analytics, Inc

[2017-09-13 15:16] yaroslavvb commented on #12898
So I've talked to @zheng-xq who leads performance group and he said that they have ran experiments on real world networks and found that this delay was not a bottleneck. It was still not a delay when they artificially made this part 50% slower by adding sleep.

[2017-09-13 16:00] metakermit commented on #9072
Thanks @mattiasarro! I've updated that work a bit in my own tutorial covering TensorFlow 1.3.0, CUDA 8.0 and cuDNN 6.0 – hopefully it'll be of use to others as well.

https://metakermit.com/2017/compiling-tensorflow-with-gpu-support-on-a-macbook-pro/

BTW, here's hoping you reintroduce the tensorflow-gpu package! 🙂

[2017-09-13 16:02] metakermit commented on #6729
As mentioned in the other huge GH issue for build troubleshooting on Macs, I've published another slightly more up-to-date tutorial here:

https://metakermit.com/2017/compiling-tensorflow-with-gpu-support-on-a-macbook-pro/

(TensorFlow 1.3.0, CUDA 8.0 and cuDNN 6.0)

[2017-09-13 16:25] jamiebaggott commented on #12824
This may not be a smaller sample of code, but they are individual files that can be run, although you may need to run them a number of times as the errors aren't produced every time.

In the below gist, there is a file named `image.go` and `image2.go`; these files are the same apart from the fact that `image` shares `tfSession` between 10 workers, whereas `image2` creates a new session for each wo

[2017-09-13 16:56] ychen404 commented on #11592
The bazel command to cross-compile is as below:
bazel build -c opt //tensorflow/contrib/android:libtensorflow_inference.so \
   --crosstool_top=//external:android/crosstool \
   --host_crosstool_top=@bazel_tools//tools/cpp:toolchain \
   --cpu=armeabi-v7a

You also need to edit you WORKSPACE file to make sure the paths and versions of SDK and NDK are correct.

[2017-09-13 17:03] #10124 closed

[2017-09-13 17:05] hfutxrg commented on #12474
Hi @tfboyd, how did you benchmark the performance of P100 and V100? I used the benchmarks mentioned in https://www.tensorflow.org/performance/benchmarks. But it seems the performance results are incorrect. With real imagenet dataset, I got 905 images/sec with 1 P100 and 1234 images/sec with 4 P100. But that benchmark website has 219 images/sec with 1 P100 and 852 images/sec. So there are huge diff

[2017-09-13 17:13] kdatta commented on #12984
@oscarkfpang what's the full text of the error?

[2017-09-13 17:13] kdatta commented on #12986
Also at #12984

[2017-09-13 17:35] ParikshitS opened #13019 "Failed to Load the native TensorFlow Runtime"
I installed tensorflow through Anaconda with Python 3.6.2 . It got installed successfully. But I am not able to import tensorflow. and I am using a 64 bit machine with Windows 10 OS. I got following error:

Traceback (most recent call last):
  File "C:\Users\HP\AppData\Local\conda\conda\envs\tensorflow\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 18, in swig_import_help

[2017-09-13 17:38] vahidk commented on #7108
Reopned. I meant to unsubscribe.

Anyway, I don't believe anyone is working on this. It's been almost a year. You'd think such a major flaw would be a top priority issue, but apparently not. I think the TensorFlow team is not really serious about supporting mobile platforms. For those who want to deploy something on iOS, I recommend using Apple's native API instead which is better supported:
https

[2017-09-13 17:53] reedwm commented on #12898
@jiazhe0909 I am going to close this issue because as @yaroslavvb stated, the delay is currently not a bottleneck. As your diagram indicates, as GPUs get faster and the "Compute for Op1" box gets smaller, this could become a bottleneck in the future, but the solution will probably be to improve the allocator. Static allocation uses significantly more memory.

As you stated, for inference (or train

[2017-09-13 17:53] #12898 closed

[2017-09-13 17:54] tfboyd commented on #12474
You are running the trivial model not resnet50.   ```--model=resnet50```  I was totally confused for a second.  I recently retested and has NVIDIA test on TensorFow 1.3 and there numbers are slightly different now on the DGX-1 but no more than 3-4%.  We made a few tweaks to the model as we worked to ensure it converged to match the paper.  Nothing huge just small changes.  You can also use the ben

[2017-09-13 17:56] pminervini opened #13020 "tf.Session() freezes on GPU nodes of a SGE cluster"
Hello,

I'm trying to run the following script on the GPU nodes of my university's SGE cluster:

[code]

Everything works if, either:
- I allocate obscene amounts of memory, like 60GB, to the job;
- Or if I run it from the command line on the cluster nodes.

However, if I allocate a reasonable amount of memory to the job (8GB), it freezes on the `tf.Session()` call. A `strace -p <pid>` on the proc

[2017-09-13 18:04] reedwm commented on #13017
@ahoereth What are the dimensions of the input tensors? Can you post code that reproduces the problem and outputs the timeline file?

[2017-09-13 18:07] drpngx commented on #13015
Are you missing the configure step?

[2017-09-13 18:09] reedwm commented on #13013
/CC @andrewharp

[2017-09-13 18:17] yaroslavvb commented on #13020
Hm, is it the nvidia driver going crazy with memory allocations? Could try setting TF_CUDA_HOST_MEM_LIMIT_IN_MB to lower value

Also could try using alternative memory allocator for TF:
[code]

[2017-09-13 18:26] reedwm commented on #12871
@ekelsen do you know when determinism will be available?

[2017-09-13 18:31] pminervini commented on #13020
@yaroslavvb thank you, it seems like a sensible way to go.

I've tried prepending a `export TF_CUDA_HOST_MEM_LIMIT_IN_MB=4096` to the command, but with no luck. Similarly, I've tried copying `libtcmalloc.so.4.3.0` to the node, but I lack some of its dependencies (e.g. `libunwind.so.8`), so it's not working either (and I'm not allowed to `apt-get` packages on the nodes).

[2017-09-13 18:35] ppwwyyxx commented on #12972
Pure (stateless) generator brings more opportunities for optimization but non-pure generator is indeed quite common. Maybe it's best to mention in the document what dataset features require purity.

[2017-09-13 18:42] reedwm commented on #12891
@gunan do you know what the problem might be? I cannot reproduce, but the gcc version @fetchinson is using is older then the one that comes with Ubuntu 14.04 (4.7.2 vs 4.8.4). Other tool versions might be different as well

[2017-09-13 18:43] #12897 closed

[2017-09-13 18:48] reedwm commented on #12977
/CC @mrry

[2017-09-13 18:53] reedwm commented on #12997
Marking as contributions welcome if someone wants to implement this.

[2017-09-13 19:03] justinshapiro commented on #6755
What did you do specifically to solve the issue? I'm having the same problem here on Mac OS X

[2017-09-13 19:05] reedwm commented on #13005
@honkentuber does this proposal seem reasonable? We cannot change the default due to backwards compatibility concerns but we can add a flag.

[2017-09-13 19:11] pminervini commented on #13020
For the sake of completeness, here's my job details:

[code]

[2017-09-13 19:12] reedwm commented on #13019
/CC @mrry any ideas?

[2017-09-13 19:19] yaroslavvb commented on #13020
Here's another user who is saying TensorFlow tries to allocate 55GB of virtual memory for trivial computation which is a problem for Open Grid Scheduler  https://stackoverflow.com/q/46114462/419116

[2017-09-13 19:22] yaroslavvb commented on #12977
btw, AVX optimized Windows binary wheel is the most requested wheel on https://github.com/yaroslavvb/tensorflow-community-wheels/issues

[2017-09-13 19:24] reedwm commented on #13011
@andrewharp can you fix this?

[2017-09-13 19:25] reedwm commented on #13009
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-09-13 19:26] mrry commented on #13019
Try following the instructions [here](https://www.tensorflow.org/install/install_windows#validate_your_installation), and if those fail to help please answer all of the questions in the issue template so we can triage the problem.

[2017-09-13 19:27] zyavrik commented on #13015
No, of course.

[2017-09-13 19:30] zyavrik commented on #13014
More details about my system:
[code]

How can I download eigen from source in TensorFlow?

[2017-09-13 19:32] zyavrik commented on #12978
I fixed sga256sum issue. The errors are different. I'll be able to provide more details later.

[2017-09-13 19:36] yongtang commented on #13014
@zyavrik The downloading of Eigen is handled by bazel when you invoke `basel build`.

[2017-09-13 19:36] yongtang commented on #13014
By the way, have you tried another version of gcc (like 5?)

[2017-09-13 19:57] gunan commented on #12891
You need a compiler that supports c++11, anything earlier wont work.
Looks like for full c++11, you need at least GCC 4.8.1:
https://gcc.gnu.org/projects/cxx-status.html#cxx11

[2017-09-13 19:57] #12891 closed

[2017-09-13 20:11] zyavrik commented on #13015
If I remove libeigen3-dev then I get the same error like before install:

[code]

[2017-09-13 20:12] pminervini commented on #13020
@yaroslavvb PyTorch works like a charm, thank you for making me getting started with it.

I've tried the following script:

[code]

I've executed it via a cluster job, and it correctly outputs `(1024, 1024)`.

[2017-09-13 20:18] pminervini commented on #13020
I'm trying the following PyTorch snippet:

[code]

It also gets stuck in a similar way:

[code]

Then it's probably a CUDA issue rather than a TensorFlow issue.

[2017-09-13 20:24] yaroslavvb commented on #13020
ok, I'll leave this issue open as community support since a work-around is needed to make TensorFlow usable in such environment

[2017-09-13 20:24] mrry commented on #12977
@ekelsen Erich: The current build failure (see e.g. [here](http://ci.tensorflow.org/job/tf-master-win-gpu-cmake/979/console)) looks like it might be caused by the GPU reduction code you added in 42fcbb196052823c4393a4d5d8682ca425253f6a. It looks like MSVC can't infer the template arguments for `BlockReduce()` and `WarpReduce()`... can you please take a look?

[2017-09-13 20:26] drpngx commented on #13015
@rmlarsen any idea what the problem is with `_mm512_insertf64x2`?

[2017-09-13 20:27] mrry commented on #13018
You can use the new `Dataset.from_generator()` to do this (and in general wrap any Python code written as a generator in a `Dataset`):

[code]

[2017-09-13 20:27] #13018 closed

[2017-09-13 20:29] hannah-rae commented on #8972
I am still having this issue with the current version of TensorFlow. For the code below, the print statement returns:

(?, 7, 7, 32)
(?, ?, ?, ?)

[code]
[code]

[2017-09-13 20:40] calledbymountains commented on #12998
Thanks. Your fix is working for now. However a long term solution would be very helpful.

[2017-09-13 20:42] ekelsen commented on #12977
I have a fix internally, going in today.

[2017-09-13 21:06] ekelsen commented on #12871
Reductions are already deterministic as well as l2loss.  softmax will be soon,  Cross entropy following.

[2017-09-13 21:08] ekelsen commented on #12871
The gradient calculation of convolutions is not likely to be deterministic at anywhere close to the same performance unless NVIDIA decides to change the implementation of cuDNN.

[2017-09-13 21:24] mrry commented on #12960
They certainly are used for prefetching. It's hard to say what the source of slowness is, without seeing the entire pipeline. It's possible that the input source (I'm guessing from files?) is limiting your overall throughput.

[2017-09-13 21:33] frreiss commented on #10607
Pull request created. See https://github.com/tensorflow/tensorflow/pull/13022

[2017-09-13 21:44] zyavrik commented on #13014
Yes, I've tried. With gcc 5 I get the following error:

[code]

Build command is the following:

`bazel build --config=opt --config=cuda --cxxopt="-fabi-version=0" --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0" //tensorflow/tools/pip_package:build_pip_package --verbose_failures
`

[2017-09-13 21:51] zyavrik commented on #13015
It looks like problem is with `_mm512_insertf64x2` is caused by gcc 4 - it doesn't support avx512. Of course, compilation must be successful anyway. But even gcc 5 doesn't work with another error :( Nothing work at all.

It's so disappointing. I can't build tensorflow for a week on macOS, Windows and Ubuntu using hundreds of different compilation options (but always with GPU support).

[2017-09-13 22:00] xiajohnnyxia opened #13023 "Invalid argument: shape must be a vector of {int32,int64}, got shape []"
I try to use the interface of RandomUniform as follows:

[code]

[code]

But it  prints the error for me. What's it means?I am not good at c.And where are the demo i can find?

[2017-09-13 22:07] yongtang commented on #12998
I tried with the following patch and it seems to build successfully:
[code]

[2017-09-13 22:21] sanjoy commented on #12998
I've checked in a tentative fix to this in our internal staging tree.  It should get merged into the github repository in a day or two.

[2017-09-13 22:33] hfutxrg commented on #12474
Thanks @tfboyd. That's a stupid mistake. After I changed to the correct option, the benchmark works correctly now.
Another question, how do we run the benchmark with 16-bit floating points (float16)? I didn't see any options to enable that.

[2017-09-13 22:41] tfboyd commented on #12474
fp16 is not ready just yet.  We still need batch_norm updated to support it and another push from the script.  Give me a few more weeks and I should have everything you need.  I (and we) very much want to share the code with you as soon as it functions even if it has some issues.  It will also be hard to use this patch as it is getting very stale so if all goes well in a few weeks, I hope less, we

[2017-09-13 22:57] post2web commented on #2033
I had same error because of accidentally doing:
`tf.layers.conv2d(net, filters=0)`

[2017-09-13 23:15] honkentuber commented on #13005
+wicke,ispir

I don't know if a flag is worth the cost of complicating the interface, and
it doesn't address the original commenter's point that a counting ties is
unexpected or counterintuitive. It's probably worth updating the docs that
the more likelihood there is of ties, the less meaningful this metric is.

My intuition is that it should remain the way it is, or we should count
ties as a sing

[2017-09-14 00:05] yaroslavvb commented on #13020
Some background on why CUDA is doing this -- https://stackoverflow.com/questions/6445109/why-is-my-c-program-suddenly-using-30g-of-virtual-memory

[2017-09-14 00:09] zyavrik commented on #10367
But what is connection between the issue and python?

[2017-09-14 00:24] cy89 commented on #12838
@mrry, can you help?

[2017-09-14 00:26] reedwm commented on #13023
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-14 00:26] #13023 closed

[2017-09-14 00:27] cy89 commented on #12840
@josh11b it's not clear to me that this is consistent with where we're going with user-defined functions. Can you comment, or refer someone else, please?

[2017-09-14 00:27] zyavrik commented on #13014
I really don't know why but now I get another error with gcc 5. It's already described by someone else here: https://github.com/tensorflow/tensorflow/issues/10220

[2017-09-14 00:28] cy89 commented on #12848
@aselle, would you please respond or redirect?

[2017-09-14 00:29] zyavrik commented on #13015
Now I get another error with gcc 5 (I don't understand why the error is different from described above). It's reported here: #10220

[2017-09-14 00:29] cy89 commented on #12854
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-14 00:29] #12854 closed

[2017-09-14 00:29] yaroslavvb opened #13024 "nightly link broken on github README.md"
On github page, nightly for Linux GPU Python 3.5 is broken, points to

https://ci.tensorflow.org/view/Nightly/job/nightly-matrix-linux-gpu/TF_BUILD_IS_OPT=OPT,TF_BUILD_IS_PIP=PIP,TF_BUILD_PYTHON_VERSION=PYTHON3.5,label=gpu-linux/lastSuccessfulBuild/artifact/pip_test/whl/tensorflow_gpu-1.4.0dev-cp35-cp35m-linux_x86_64.whl

![screenshot 2017-09-13 17 28 11](https://user-images.githubusercontent.com/

[2017-09-14 00:34] yaroslavvb commented on #13024
cc @gunan in case he knows where those links come from

[2017-09-14 00:36] cy89 commented on #6602
@pronobis it seems like you're suggesting a workaround yourself in #12860:

   Copying cuda_config.h to /site-packages/tensorflow/include/tensorflow/stream_executor/cuda solves the problem.

Are you asking for something else?

[2017-09-14 00:41] yaroslavvb commented on #12838
@tmulc18 don't use replica_device_setter, instead write your own setter which does all the fancy logic

[2017-09-14 00:44] cy89 commented on #12870
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-14 00:44] #12870 closed

[2017-09-14 00:44] #12874 closed

[2017-09-14 00:45] #12878 closed

[2017-09-14 00:47] cy89 commented on #12896
It looks like you hit enter prematurely? Feel free to open a new bug if you're still having a problem. Or reopen with the description you intended to enter, please.

[2017-09-14 00:47] #12896 closed

[2017-09-14 00:56] cy89 commented on #12924
@TomorrowIsAnOtherDay I'm sorry, but I'm not understanding from your screenshot what the problem is. You've set a batch size of 12, and the dataset returns 8 batches of that size, consuming 96/100 of the values in your dataset. Are you expecting the batch on the next call to be filled out somehow?

[2017-09-14 01:01] cy89 commented on #12930
@jrvb, any suggestions?

[2017-09-14 01:04] cy89 commented on #12940
@vrv my recollection is that there are some issues with backprop for separable convolutions on GPUs, which had been somewhat improved lately. Can you comment please on the state of the art?

[2017-09-14 01:14] cy89 commented on #504
@Bruczzz it sounds like you were able to get around your .ckpt->.pb file problems. Can you please share what the fix was?

[2017-09-14 01:14] zyavrik commented on #1157
Fixed the same error on my system with the following commands:

[code]

[2017-09-14 01:15] cy89 commented on #12944
It looks to me like @Bruczzz faced the same issue in #504, which you found and also commented on. It seems worth seeing if he can help you out.

[2017-09-14 01:16] cy89 commented on #12948
@zheng-xq, can you please comment?

[2017-09-14 01:26] vishalghor commented on #12944
Hi @cy89,

I think the issue is different from #504 as that refers to on tutorial to retrain inceptionv3 using .pb files. But as many models in tensorflow such as Resnet50 have only pretrained .ckpt instead of.pb. so it's a bit unclear on how to retrain such models the same way as suggested in #504

[2017-09-14 01:50] zyavrik commented on #13015
More information about errors that I get both with gcc-4.9 and gcc-5: https://github.com/tensorflow/tensorflow/issues/13014

[2017-09-14 01:53] TomorrowIsAnOtherDay commented on #12924
@cy89 yes, I wanted to feed the last examples(97/98/99)into my multi-gpu model

[2017-09-14 02:35] dandelionmane commented on #12912
Hi HarryBaker,

Without a reproduction, this will be very hard to dig into. I recommend installing an older version of TensorFlow, and seeing if you can demonstrate that this is actually a bug in the TensorBoard projector. Since T-SNE is stochastic, you may have just gotten lucky the first time, or something else in the environment may have changed.

Also, this issue should be filed against http:/

[2017-09-14 02:35] #12912 closed

[2017-09-14 02:40] oscarkfpang commented on #12984
@kdatta
Sorry I didn't copy the full text of error. I tried to build the source on raspberry pi 3 and have encountered many times the error of check sum as above. Finally I give up and install tensorflow on Pi from pip.

[2017-09-14 03:14] zyavrik commented on #13014
So, the problem is with error: '_mm512_insertf64x2' was not declared in this scope. What can I do to fix it?

[2017-09-14 03:38] zyavrik commented on #9651
Double quotes don't help with the same issue. More of that there are single quotes in the master revision of the tensorflow.

[2017-09-14 03:42] vrv commented on #12940
I'm not aware of any specific issues, kernels get faster as important models need them!  In general, convolutions of different sizes will have different performance characteristics, and it's possible our separable convolution implementations may be slow for some combinations of shapes.  I'm not sure whether that's the case here, but it could be.  I also don't know whether theory matches practice h

[2017-09-14 04:01] zyavrik commented on #13014
Finally, I was able to compile tensorflow on CPU with AVX512 (without AVX512 support) using gcc 4.8!

[2017-09-14 04:02] zyavrik commented on #13015
Only gcc-4.8 works fine on new CPUs. Please update installation instructions.

[2017-09-14 04:18] tranlm opened #13029 "GMM clustering example not working"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS 10.12.6
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.0.0-rc2-15-g47bba63-dirty 1.0.0
- **Python version**: Python

[2017-09-14 04:49] zyavrik commented on #13014
Finally, I was able to compile tensorflow on CPU with AVX512 (without AVX512 support) using gcc 4.8!
Unfortunately, now I get the following warning from tensorflow:

`2017-09-13 21:45:51.237971: I tensorflow/core/platform/cpu_feature_guard.cc:137] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX512F
`

[2017-09-14 04:58] WuTheFWasThat commented on #8011
bump - this one just cost me 5 minutes of my life :P

[2017-09-14 05:45] gunan commented on #13024
We just updated the way nightlies are versioned. tonight after the first pip packages are generated it should be fixed.
We are also planning to move all our nightly pip packages to pypi, which will resolve repeated breakage in nightly links.

[2017-09-14 06:06] jakiechris commented on #12794
@cy89
thks for replying this,  Mr. Young.
i'll answer your questions one by one in a few days , thank you again!

[2017-09-14 07:35] ssfdust commented on #12841
The latest tensorflow-cuda package has fixed the bug.Closed.

[2017-09-14 07:35] #12841 closed

[2017-09-14 08:22] shaibagon commented on #10021
@w4nderlust  implementing [`"info gain"](http://caffe.berkeleyvision.org/doxygen/classcaffe_1_1InfogainLossLayer.html#details) loss should give you the ability to have class weights as a special case of the more general infogain loss.

[2017-09-14 08:51] salviustryphon commented on #13015
Hi, no matter for me with this command line : "bazel build -c opt --copt=-mavx --copt=-mavx2 --copt=-mfma --copt=-mfpmath=both --config=cuda -k //tensorflow/tools/pip_package:build_pip_package"

[2017-09-14 08:53] Sixigma opened #13030 "Crash when load Fine-tune model on Android"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**: 2.7.12
- **Bazel version (if compiling from source)**: 0.5.4
-

[2017-09-14 09:20] serendipity24 opened #13031 "Has this issue been solved for all containers - ImportError: cannot import name audio_ops"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: I am running the tutorial "audio recognition network"
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**:('v1.0.0-rc2-15

[2017-09-14 09:33] Sixigma commented on #13030
Sorry , there is something weird , it seems like the crash happens when TF Classify launch :

Here is the log when app is implemented :
[code]

So this problem still seems like  all about 'FIFOQueueV2'  , I will try to fix it up , and if any changes I will report again.

[2017-09-14 09:35] kishorenayar opened #13034 "AttributeError: 'RunConfig' object has no attribute 'environment'"
Problem with the learn_runner.run() method.

# **System Info:**

**Windows 10**
**TF 1.3.0**
**Python 3.5**

**Code :**

[code]

**Exception:**

File "F:/Git/Tensorflow-Tutorials/iris/linear_classifier.py", line 107, in <module>
    learn_runner.run(experiment_fn=experiment_fn, output_dir='build2/')
  File "F:\Anaconda3\lib\site-packages\tensorflow\contrib\learn\python\learn\learn_runner.py", line

[2017-09-14 09:47] luoxiaoliaolan opened #13035 "[W tensorflow/core/framework/op_kernel.cc:993] Failed precondition"
I want to run the tensorflow-deeplab-resnet,and I prepared my own training data for it. But When I try to run train.py to train data, it always did not work. And the error are as  follows:
![Uploading error.jpg…]()

I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA library libcublas.so.8.0 locally
I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA libra

[2017-09-14 09:48] Sixigma commented on #13030
I try again using the origin model from https://storage.googleapis.com/download.tensorflow.org/models/...
But the log still prints like above , and crash when turn on debug mode.

I wonder is it possible result from the recent commit of tensorflow ? I update local repo yesterday.
Or any other idea ?

[2017-09-14 09:51] ahoereth commented on #13017
You are correct, it only occurs when the input grows over a specific size.

Here a code example with some random computations:

[code]

Running this as above with  `size = 21` gives me the following timeline, note the time (3000ms+):
<img width="1337" alt="screen shot 2017-09-14 at 11 36 02" src="https://user-images.githubusercontent.com/3015996/30422734-1f798f8c-9941-11e7-872f-497f05fc1d80.png">

[2017-09-14 09:59] metakermit commented on #10718
Also, as suggested [here](https://github.com/tensorflow/serving/issues/579#issuecomment-326483655), try doing:

    git submodule update --recursive

[2017-09-14 10:08] rasmusbergpalm commented on #13018
Yes that works beautifully. Thanks!

One small change to the code:

[code]

[2017-09-14 10:47] into4321 commented on #7705
cudnn64_6.dll work for me ,a "pan" help for me , ^o^,tks
link for cuDNN 6.0:[https://developer.nvidia.com/compute/machine-learning/cudnn/secure/v6/prod/8.0_20170307/cudnn-8.0-windows10-x64-v6.0-zip](url)

[2017-09-14 10:47] IcyCheetah358 commented on #8854
Hi, I am trying to figure out which Tensorflow version an inception .pb file is (https://storage.googleapis.com/download.tensorflow.org/models/inception5h.zip). This file is used in a OpenCV-plugin to Unity3D game engine (OpenCV for Unity, Enox-software, wraps OpenCV 3.3.0). I replaced these files with a model I re-trained with TF 1.3.0 yesterday and it made the whole Unity3D editor crash. So I as

[2017-09-14 10:50] IcyCheetah358 opened #13037 "How to check tensorflow/inception - version number from an inception .pb-file?"
Hi, I am trying to figure out which Tensorflow version an inception .pb file is (https://storage.googleapis.com/download.tensorflow.org/models/inception5h.zip). This file is used in a OpenCV-plugin to Unity3D game engine (OpenCV for Unity, Enox-software, wraps OpenCV 3.3.0). I replaced these files with a model I re-trained with TF 1.3.0 yesterday and it made the whole Unity3D editor crash. So I as

[2017-09-14 11:07] ngc92 commented on #12345
I think the most significant benefit of specifying types, improved auto-completion, can be achieved by just specifying the return types.
These are usually already there, but not in the correct format (at least for PyCharm). Simply changing
[code]
to
[code]
would make these hints accessible to tools.

Finally, the automatic type inference just by the structure of the code should not be underestimat

[2017-09-14 11:25] skjensen commented on #9697
I ran into the same issue compiling TensorFlow from source in a FireFly RK3399 aarch64 bit device.
To solve the problem edit tensorflow/workspace.bzl add the bleeding edge version of Eigen, I tried with release 3.3.4 but ran into a different problem expected number of variables given to a function didn't match. This appear to be fixed in the most current release.

Hope this helps:

 native.new_htt

[2017-09-14 11:38] corwinliu commented on #3308
@waleedka
I have the same issue. Compiling on Ubuntu 16.04 using bazel 0.5.4. And I tried linker options but didn't work neither. Have you finally solved this issue?

[2017-09-14 11:53] carlthome commented on #12940
At what kernel sizes will convolutions be computed via FFT instead of directly? Anyway, a speedup by doing a separable convolution is more noticeable for larger kernels, so for small kernels the overhead involved in doing two convolutions will be larger than the speedup, especially for what I assume is a highly-optimized convolution setting with the 3x3 kernel ([Winograd](https://arxiv.org/abs/150

[2017-09-14 12:05] Coderx7 commented on #7705
I had the same issue today in upgrading to 1.3.0. I had both cudnnv5.1 and cudnnv6.0, but in the PATH system variable, cudnnv5.1 was used. replaced it with cudnnv6 and all errors are gone!

[2017-09-14 12:15] lalwaniabhi opened #13038 "cub::BlockReduce error while building tensorflow in windows using cmake"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
    No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
    Windows 10 (64 bit)
- **TensorFlow installed from (source or binary)**:
    Using CMake and instructions present at (tensorflow/tensorflow/contrib/cmake)
- **TensorFlow version (use command below)**:

[2017-09-14 12:42] tnikolla opened #13039 "Reading tfrecord reaches deadock or crushes in one computer and works just fine on another."
### Laptop -System information
- Linux Ubuntu 16.04
- TensorFlow installed with pip:
- TensorFlow 1.3.0
- Python 2.7.12
- Spyder 2.3.8

### Workstation -System information
- Linux Ubuntu 16.04
- TensorFlow installed with pip:
- TensorFlow-gpu 1.0.0
- Python 2.7.13

### Problem description
I want to create and read a tfrecord file with [build_cgd_dataset.py](https://github.com/tnikolla/grasp-detect

[2017-09-14 12:46] #10722 closed

[2017-09-14 12:46] #10740 closed

[2017-09-14 12:46] tensorflowbutler commented on #10722
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-09-14 12:46] tensorflowbutler commented on #10740
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-09-14 13:00] facaiy commented on #13005
If I understand correctly, for a sample, the sum of predict probabilities should be 1, right? So I cannot understand why all predicts can be zero.

[2017-09-14 13:14] facaiy commented on #12954
How about using ` tf.layers.dense`?

[2017-09-14 13:22] qtdaniel opened #13040 "Feature request: Dataset.from_py_func"
I have an input pipeline that is especially complex. It is coded entirely in plain Python. While it *may* be possible to reimplement it in TensorFlow operations, that would be a huge amount of work and take far too much time to be worth it right now.

It would be great if I could hook my existing pipeline into the new Dataset approach via something like `Dataset.from_py_func`. One would pass a ref

[2017-09-14 13:33] #12969 closed

[2017-09-14 13:37] facaiy commented on #12997
Perhaps it is easier to use `mogrify -format jpg *.tif`

[2017-09-14 13:39] mrry commented on #13040
Have a look at`Dataset.from_generator()` in the nightly build... it is almost exactly what you're looking for!

[2017-09-14 13:39] #13040 closed

[2017-09-14 14:02] suzhaolong opened #13041 "Load model in C++ API and get "from device: CUDA_ERROR_OUT_OF_MEMORY" error"
My model is about 2.4GB。In my inference step, I  want to load model by multi-processing method in each GPU. That means I try to make two process in one GPU and each load a model。
After I make configuration of each session done, each session get about 5GB memory, But I still meet the "from device: CUDA_ERROR_OUT_OF_MEMORY"。I am wondering。。。 Asking for help

##  **GPU information:**
[search@qrwt01 /

[2017-09-14 14:03] davidmascharka commented on #9697
@skjensen I'm running into a certificate issue trying to use that eigen URL. Did you encounter this? I get:

[code]

[2017-09-14 14:12] carlthome commented on #12951
Hmm, very strange. Could you share your `cat /proc/cpuinfo`? I'm running on a Intel(R) Core(TM) i7-6700K CPU @ 4.00GHz.

[code]

Removing `--config=mkl` works fine.

[2017-09-14 14:15] yahirb commented on #13006
Could you please make the logs public. Also, does your training work on your local computer?

[2017-09-14 14:15] nylocx commented on #9697
I had strange problems with the default.tar.gz too, so I used the real commit ID of master head. Which in my opinion is better because the hash will not change wir every new commit made to the Eigen master branch.

[2017-09-14 14:22] davidmascharka commented on #9697
@nylocx is that with `940f20dd4eb3`? I'm getting the same certificate error on my end with that. I'll search around and see if it's a Java problem.

[2017-09-14 14:26] tblattner commented on #13038
I am having the same/similar issue in Windows 7, using the same CMake instructions you linked above.

Compilation: MSBuild /p:Configuration=Release tf_tutorials_example_trainer.vcxproj

Errors:
"C:\Users\tjb3\tensorflow\tensorflow\contrib\cmake\build2\tf_tutorials_example_
trainer.vcxproj" (default target) (1) ->
"C:\Users\tjb3\tensorflow\tensorflow\contrib\cmake\build2\tf_core_gpu_kernels.v
cxpro

[2017-09-14 14:32] yongtang commented on #13014
@zyavrik It looks like avx512 was introduced in gcc 4.9 so 4.8 works (as it does not have aux 512)
https://gcc.gnu.org/gcc-4.9/changes.html

I probably could take a look at it though I don't have access to Skylake so it will be hard to debug. Will play with gcc to see if I could reproduce the issue you encounter by feeding `-m` flags.

In the mean time, is your linux Ubuntu 16.04 or 14.04?

[2017-09-14 14:34] mrry commented on #13038
@ekelsen I think this is the same bug that was reported yesterday with a fix in the works... can you close this issue when the change makes it to `HEAD`?

[2017-09-14 14:52] carlthome commented on #12951
And just to be sure it's not Anaconda related, I tried PYTHON_BIN_PATH=/usr/bin/python (Python 2.7.12+) and get the same error.

[2017-09-14 14:55] AllenIverSunn commented on #9735
Thank you man

2017-09-13 3:07 GMT+08:00 iysaleh <notifications@github.com>:

[2017-09-14 15:15] skjensen commented on #9697
I didn't experience any issues with the certificate, just check the name of the file and the sha256sum of the file you download is matching the snip of the config I showed above.

Do a bazel clean before you try build it again.

[2017-09-14 15:19] ppwwyyxx commented on #13005
No one said they have to be probabilities. And even if they are probabilities, they can still be all equal.

This is actually a duplicate issue of #10767.

[2017-09-14 15:40] ekelsen commented on #2732
Reductions are now deterministic.

[2017-09-14 15:40] honkentuber commented on #13005
The likelihood of ties is much lower with continuous values. But you're
correct, this op does not assume that about the input.

On Sep 14, 2017 8:22 AM, "Yuxin Wu" <notifications@github.com> wrote:

[2017-09-14 15:44] yaroslavvb commented on #13038
btw, you can do "blabla, fixes #13038" in public changelist description, and github will automatically close the issue when commit gets merged into master

[2017-09-14 15:51] yangyixiaof commented on #12730
I have the answer, this seems a bug when using cuDnn. The parameter --model=... in your command line must be small. In another word, you must run this tutorial using the command like: "python ptb_word_lm.py --data_path=... --model=small". Through reading the code, I found that if I do not use cuDnn which means I type the following command: "python ptb_word_lm.py --data_path=... --model=**medium**"

[2017-09-14 16:25] yogi81 commented on #10706
but how to write the output of pt -a <tensorname> to a FILE ?

[2017-09-14 16:30] caisq commented on #10706
@yogi81, please use command:

tfdbg> pt -a my_tensor > /tmp/my_file.txt

[2017-09-14 16:34] cy89 commented on #12968
@drpngx, do you know of any workarounds for @MtDersvan 's shape problem?

[2017-09-14 16:36] cy89 commented on #12974
@dandelionmane would you please comment or refer someone?

[2017-09-14 16:36] OleksandrMalinin commented on #12984
similar issue
https://github.com/bazelbuild/bazel/issues/3737

[2017-09-14 16:38] Coderx7 opened #13044 "Getting assertion failed: [Unable to decode bytes as JPEG, PNG, or GIF] when training using tensorflow object detection api"
I tried to use `Tensorflow Object detection API` with my own dataset.
Everything was working just fine until all of a sudden it crashed with the following error messages :

    ...
    INFO:tensorflow:global step 10560: loss = 0.4366 (0.809 sec/step)
    INFO:tensorflow:global step 10561: loss = 0.3834 (0.822 sec/step)
    INFO:tensorflow:global step 10562: loss = 0.3611 (0.829 sec/step)
    INFO:

[2017-09-14 16:38] cy89 commented on #12990
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-14 16:38] #12990 closed

[2017-09-14 16:39] cy89 commented on #12992
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-14 16:39] #12992 closed

[2017-09-14 16:42] cy89 commented on #12996
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-14 16:42] #12996 closed

[2017-09-14 16:44] cy89 commented on #13002
I'm sorry, @shadmanssk, but I don't understand what you're asking. Is there a bug or a feature request you'd like to make? Are you asking that we change or fix the tutorial? Or is there some aspect of the tutorial that you'd like explained? Also, which tutorial are you referring to?

[2017-09-14 16:47] Threynaud commented on #12453
@ilya-edrenkin I run into the same problem and I can't find a proper solution... Could you please show an example of how to use your HackedMomentumOptimizer please, I am not sure to understand how I can use it in my code..

Thanks a lot!

[2017-09-14 16:58] Shiv751 opened #13045 "Can I install and run TensorFlow on my machine with this much of information----->"
C:\Users\SEM>python Python 3.5.2 (v3.5.2:4def2a2901a5, Jun 25 2016, 22:18:55) [MSC v.1900 64 bit (AMD64)] on win32 Type "help", "copyright", "credits" or "license" for more information. >>>

[2017-09-14 16:58] tfboyd commented on #12951
All the data I can think to share:
Python 2.7.6
I did have jemalloc as that is a default.

My CPU, which would not matter.
model name	: Intel(R) Xeon(R) CPU E5-1650 v2 @ 3.50GHz

You might want to try by just running ./configure and not using the ENV variables.  It is possible I did something weird, but I am very certain (some margin for error) that I just git cloned did ./configure (enter enter e

[2017-09-14 17:02] reedwm commented on #13045
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-14 17:02] #13045 closed

[2017-09-14 17:04] reedwm commented on #13041
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-14 17:04] #13041 closed

[2017-09-14 17:07] reedwm commented on #13037
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-14 17:07] #13037 closed

[2017-09-14 17:09] ilya-edrenkin commented on #12453
Dear @Threynaud : simply copy the code I have provided and use it as a drop-in replacement for the MomentumOptimizer.
If you use gradient clipping with global norm, you can also use the provided function.

@alextp : will submit a PR this weekend or most likely next weekend. Thanks!

[2017-09-14 17:12] reedwm commented on #13035
The first error seems to be

[code]

which indicates tensorflow-deeplab-resnet is trying to get elements from a queue after it is closed.

You should file an issue with tensorflow-deeplab-resnet, or even better, ask on StackOverflow.

[2017-09-14 17:12] #13035 closed

[2017-09-14 17:16] Threynaud commented on #12453
@ilya-edrenkin Thanks a lot for your quick response!! Does it work the same way with Adam?

[2017-09-14 17:19] reedwm commented on #13017
Thank you for the code sample! I can reproduce this on 1.3, but not on master, so I'm assuming its fixed and closing the issue. Feel free to reopen if you find a case where it's still slow on master.

[2017-09-14 17:22] reedwm commented on #13029
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-14 17:22] #13029 closed

[2017-09-14 17:23] cbcase opened #13046 "tf.reduce_max inconsistent with numpy.max when handling NaN values"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04.3 LTS
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.3.0-rc2-20-g0787eee 1.3.0
- **Python version**: 3.5.2
- **Bazel version (if compi

[2017-09-14 17:29] ilya-edrenkin commented on #12453
@Threynaud I haven't tried it myself yet, but in my understanding it should work. To try you can simply replace the superclass (i.e. inherit from tf.train.AdamOptimizer instead of tf.train.MomentumOptimizer).

[2017-09-14 17:34] reedwm commented on #13031
You are using TensorFlow 1.0, but I believe you need the master branch, which requires compiling from source.

@petewarden can you confirm this? If it doesn't work with 1.3, we should probably document that in the tutorial.

[2017-09-14 17:34] ahoereth commented on #13017
Just ran it using the current nightly-py3 docker tag and yes, it got a lot better, but still slower by a factor of ten:

`size=21`:
<img width="1306" alt="screen shot 2017-09-14 at 19 29 23" src="https://user-images.githubusercontent.com/3015996/30444418-339d194c-9983-11e7-97c0-6008b90c91b8.png">

`size=20`:
<img width="1287" alt="screen shot 2017-09-14 at 19 30 12" src="https://user-images.github

[2017-09-14 17:44] reedwm commented on #12949
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

More specifically, you should ask on StackOverflow when debugging performance problems with your own script. If you find a performance issue with a TensorFlow op, model or any other s

[2017-09-14 17:44] #12949 closed

[2017-09-14 17:55] gauravk97 commented on #10033
I have the same problem too.
My setup is as follows:

Installed Python 3.6.0
Installed CUDA 9.0 RC
Installed cuDNN v7
And Installed TensorFlow version 1.3

[2017-09-14 18:18] ljstrnadiii commented on #1548
@dandelionmane that link gives a 404.

[2017-09-14 18:25] Sentient07 opened #13047 "tf.graph_util.extract_sub_graph should raise a better error message"
Hi,

I used `tf.graph_util.extract_sub_graph` to get a subgraph reaching a particular dest node. My dest_node is say `conv2d_transpose_7`. I by mistake gave it as a string in the second parameter. Python parses String too as a list and it raised an error `AssertionError: c is not in graph`. The `extract_sub_graph` should first check if the second parameter `isinstace` of a List so that it would be

[2017-09-14 18:52] petewarden commented on #7108
A fix for general threading issues on iOS went in last month, in https://github.com/tensorflow/tensorflow/pull/12573

Could you let me know if this solves your case also? It appears to fix #12298.

[2017-09-14 19:14] cancan101 commented on #7108
Did it make it into 1.3?

[2017-09-14 19:55] HarryBaker commented on #12912
Ok, thanks for the link. You should redo the link on the projector page, since it goes to this repo.

[2017-09-14 20:22] gunan commented on #13014
we have not tested TF with avx512, I think that is the problem. It is fairly new and we have not tested it thoroughly yet. Looks like you have resolved the build issue, but please fill in the issue template next time for us to be able to quickly help with your problem.

[2017-09-14 20:22] #13014 closed

[2017-09-14 20:22] zyavrik commented on #13014
@yongtang, thanks! I'm using Ubuntu 17.04.

[2017-09-14 20:23] zyavrik commented on #13014
@gunan, why have you closed it? It's not resolved - it's impossible to use gcc 4.9+. Also it's impossible to compile tensorflow with AVX512. You can't just close it - the issues must be fixed.

[2017-09-14 20:27] manneshiva opened #13048 "Word2vec on GPU slower than CPU"
### System information
- **OS Platform and Distribution**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**: 2.7.12
- **Bazel version (if compiling from source)**: 0.5.0
- **CUDA/cuDNN version**: 8.0/6.0
- **GPU model and memory**: NVIDIA GTX 1060 / 3GB
- **Docker used:** yes
- I picked up the cod

[2017-09-14 20:35] gunan commented on #13014
Sorry for quickly closing it, but your issue did not include enough debugging information. If you are filing an issue, please make sure to fill the template we have for issues.

For AVX512 support, I know it is frustrating for you, but there are still not many CPUs that suport these.
AFAICR, there is already an open feature request that tracks avx512 support, so no need to keep a duplicate issue o

[2017-09-14 20:47] ursk commented on #9831
Has this issue been fixed? Seems like `gpu_memory_fraction` still has no effect in r1.2 and r1.3

[2017-09-14 20:49] zyavrik commented on #12977
@ekelsen, did you fix it? Nightly builds are still broken...

[2017-09-14 21:04] asimshankar commented on #12909
(In the mean time, just wanted to point to: https://github.com/asimshankar/java-tensorflow/tree/master/gpu as a workaround for enabling GPU support when using the Java API)

[2017-09-14 21:16] ekelsen commented on #12977
well, I did fix one problem, but it looks like there's another one.  These tests don't run internally, so it can be hard to tell sometimes...  There is a PR with a fix for this issue here: https://github.com/tensorflow/tensorflow/pull/12920/files

I'll accelerate getting that part of that CL that solves this issue submitted.

[2017-09-14 21:35] legel commented on #6084
@aihamtaleb thanks for those tips. If you do have a code snippet sitting in a file somewhere, would be wonderful to be able to check it out as a gist.

[2017-09-14 21:40] reedwm commented on #13017
You're right, it its still significantly slower when `size=21`.

When disabling optimizations, the case where `size=20` slows down to about the speed of `size=21`, which makes me suspect certain optimizations are only applied when `size=20`. Disabling optimizations when `size=21` does not significantly affect performance.

/CC @zhangyaobit, can you comment on whether optimizations are being applie

[2017-09-14 21:51] derekhh opened #13050 "MKL inference numbers are incorrect"
In [Performance Guide -> Comparing Compiler Optimizations](https://www.tensorflow.org/performance/performance_guide#comparing_compiler_optimizations), the numbers shared for inference on InceptionV3 and ResNet-50 models are exactly the same.

I'm assuming this is incorrect?

[2017-09-14 21:59] eaplatanios commented on #12118
@iganichev This may be pretty straightforward, but when an op has a `func`-valued attribute (such as the `MapDataset` op), how should I set that attribute using the C API? Are we currently missing a `SetAttrFunc` method or is there another way? Thanks! :)

[2017-09-14 22:42] ShariqM commented on #8830
Note @gunan had a typo in his first suggestion ("extra" should be "extras") as it is, correctly, in his second comment.

[2017-09-14 22:43] reedwm commented on #13039
I could not reproduce on my workstation, after changing the paths in the programs to point to directories on my local workstation. To clarify, you are waiting for build_cgd_dataset.py to finish before starting reader_iter.py, right?

Try to reproduce the problem in a very simple case. Before, you were limiting the the number of elements in the lists, but instead try limiting the number of `tf.trai

[2017-09-14 22:48] Talor-A commented on #12166
@gunan I believe I'm having the same problem. here's my issue report, could this get reopened?
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes, but the error occurs in the example `TensorFlowImageClassifier.java` file
- **OS Platform and Distribution**: Ubuntu 16.04
- **TensorFlow installed from**: android library bin

[2017-09-14 22:50] Threynaud commented on #12453
@ily-edrenkin I am so sorry but I think I am still missing something... The code works like a charm but I still get the erratic behavior related to the missing labels for one of the tasks! I think the problem is due to how I combine my 3 losses!

What I am doing now is simply summing the 3 losses of the 3 heads of my network and then applying the optimizer one the resulting loss but I realized tha

[2017-09-14 22:51] gunan commented on #12166
@Talor-A thanks for the information.
Bug reopened.

[2017-09-14 22:52] Talor-A commented on #12166
update: I noticed the `TensorFlowInterferenceInterface` class [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/android/java/org/tensorflow/contrib/android/TensorFlowInferenceInterface.java) has a constructor that takes AssetManager and ModelFile as arguments, is it possible I'm using an outdated version?

[2017-09-14 23:12] andrewharp commented on #12166
@taylor-a Yes, a version mismatch is the most likely culprit. Are you using a hardcoded version of the AAR (specified in build.gradle)?

[2017-09-14 23:19] AIROBOTAI commented on #64
@ateixeiramunoz 's answer worked. ```--upgrade --ignore-installed``` is the key.

[2017-09-14 23:26] facaiy commented on #13047
Sounds reasonable, I can work on it.

[2017-09-14 23:31] Talor-A commented on #12166
@andrewharp no, I manually added `libandroid_tensorflow_inference_java.jar` and the other `.so` files to my `libs/` folder, and this to `build.gradle`:
[code]
Is there a way I can install the library automatically in build.gradle?

[2017-09-14 23:45] andrewharp commented on #12166
Ok, it sounds like you grabbed an older version of libandroid_tensorflow_inference_java.jar than the demo code you're compiling against. Where did you find the file?

To use the AAR you can add this to your gradle config:
[code]

You can (and should) replace the + with a known compatible version number of TensorFlow.

[2017-09-14 23:49] reedwm commented on #13047
Marking as contributions welcome since @facaiy is working on it

[2017-09-15 00:17] chandu1909 commented on #13009
@reedwm  Thank you for the reply. I'm using Ubuntu 16.04 64-bit.  Tensorflow version 0.9.0. I copied the code and saved it as peptide_trail.py. and I run this code with this command. I activated tensorflow with the following command. (source activate  tensorflow). After that I run this program with this command.
 (python peptide_trail.py). then I got the error saying

AttributeError: 'module' obje

[2017-09-15 01:49] arunabhcode commented on #7731
+1 Need this as well.

[2017-09-15 02:28] #12977 closed

[2017-09-15 02:28] #13038 closed

[2017-09-15 02:32] chuan9 commented on #13031
I use python3.6.2 to install tensowflow1.3 on win10, the issue can also be reproduced. and there has no file name audio_ops.py in the folder "Python\Python36\Lib\site-packages\tensorflow\python\ops" which is the tensorflow's location.
Reproduce steps:
command: python .\tensorflow\examples\speech_commands\train.py
The error is as bellows:
Traceback (most recent call last):
File ".\tensorflow\exampl

[2017-09-15 03:19] Sixigma commented on #13030
Here is some progress :
I recover TensorFlowInferenceInterface.java at tensorflow/contrib/android/java/org/tensorflow/contrib/android/ to version on Jul 29 , the original mobilenet works well now , no longer Failed to load model from 'file:///android_asset/tensorflow_inception_graph.pb' .

But still , the fine-tune model crash when the debug mode turn on.
The error log is the same as "java.lang.Nu

[2017-09-15 03:58] eaplatanios commented on #12118
@asimshankar I just noticed you address the `func`-valued attribute case for the eager API. How long do you think it might take to add support for it in the graph construction API too? I could look into implementing that if you direct me in what changes are required (e.g., what exactly defines a function attribute value?).

[2017-09-15 04:35] yongtang commented on #478
Added a PR #13055 for the fix.

[2017-09-15 04:37] venkatesh-sg commented on #9672
Same problem. Did anyone solved it or is there any work around?

[2017-09-15 05:22] philipperemy commented on #288
@ekelsen maybe we should a `tf.sort()` function which redirects to `TopK`.

That would be more user friendly.

[2017-09-15 05:45] shadmanssk commented on #13002
​
Tutorial: Deep Learning
Lesson 1 Concept 19 and Assignment 1

Assignment :
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/udacity/1_notmnist.ipynb

Issue:
Above equation of normalizing pixel inputs are not followed in code

Code (in above ipynb) :

image_size = 28  # Pixel width and height.pixel_depth = 255.0  #
Number of levels per pixel.

def load_letter(folder, min_n

[2017-09-15 05:48] shaifugpt commented on #675
@shoyer  I used your version to compute the value of Jacobian passing y=model.total_loss and x=weights. The value of jacobian for different weights is exactly same as the value of gradients. Why is to so

[2017-09-15 06:35] ebrevdo commented on #7731
You can access and pass around a scope object:

with variable_scope("a") as vs:
  with variable_scope("b"):
    with variable_scope(vs):
      # back in "a"

[2017-09-15 06:35] #7731 closed

[2017-09-15 06:55] jakiechris commented on #2680
@Lucky94 , same to u . i solved this issue on android by :
change only the TF_CALL_bool macros at lines L#98 and L#125 only and not at any other places.

your name made me lucky ,  love u guys~!

[2017-09-15 07:08] fodortibi commented on #9672
Hello, my work around was to switch to Ubuntu Linux. It took about an hour an 10GB HD space to install VirtualBox on my Windows, and Linux and python and tensorflow, and all the other packages and the rotate operation works. Regards. Tibi

[2017-09-15 07:23] leminhtrinh commented on #11339
When will TensorFlow version 1.4 be available? Can anyone guild me how to get through the Speech Command example with version 1.3. Thanks

[2017-09-15 07:41] 879622409 commented on #9664
I got the same problem. Is there any solution?

[2017-09-15 07:42] phg1024 commented on #12978
Just FYI, I've successfully compile v1.3 with CMake + Visual Studio 2015 + CUDA 8 + CUDNN 6.1 on Windows 10. Had to include various hacks to fix several compilation error related to Eigen and CUDA though 😒  But at least it works now 😄  Feel free to ask me about issues you run into if you are compiling with similar set up.

I follow this post to get started, but it doesn't show how to fix the error

[2017-09-15 07:46] zyavrik commented on #12978
@phg1024, can you please describe your hacks? I'm going to try to compile it tomorrow.

[2017-09-15 09:20] JarnoRFB opened #13059 "Clarifying relations of high level APIs"
There are right now several high level APIs in TensorFlow (`tf.keras`, `tf.estimators`, `tf.layers`, `tf.contrib.learn`) that seem to be sometimes complementary and sometimes redundant. It is somewhat hard for me (and other parts of the internet I have searched) to understand which API to use for which purpose and how they relate to each other.

For me it would greatly help if it could be specifie

[2017-09-15 09:29] piyushshri opened #13060 "Pyinstaller with Tensorflow takes incorrect path for _checkpoint_ops.so file"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04, Pyinstaller
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**: 2.7.6
- **CUDA/cuDNN version**: CUDA 8.0 cuDNN 6.0

[2017-09-15 10:00] ilya-edrenkin commented on #12453
1) To make it work as intended, you should mask out the "nonexisting" components of the loss function. This will make the gradients specific to this loss component equal to zero, which will be detected by the optimizer.
Btw, if you are taking tf.reduce_mean of an empty tensor you are likely to get an 'inf'.
2) The assertion error you are getting is likely a different problem -- looks like a type m

[2017-09-15 10:05] Threynaud commented on #12453
@ilya-edrenkin Thanks a lot! So if I understand correctly, it doesn't work for batch training, does it!?Also I will try with tf.reduce_sum instead!

[2017-09-15 10:05] dmacvicar opened #13061 "Proposal: Making the cmake build distribution friendly"
The following is a proposal, and I don't have it fully working yet, so a Pull Request is too early, and I want to gather some feedback. If an issue is not appropriate, let me know and I will look for a different medium.

### System information

Almost any Linux distribution.

### Describe the problem

Most Linux distributions have similar policies/limitations:

1. Not accepting bundling of system

[2017-09-15 10:25] ilya-edrenkin commented on #12453
Why? It will work for batch training seamlessly.

[2017-09-15 10:41] dmacvicar commented on #720
https://github.com/tensorflow/tensorflow/issues/13061

[2017-09-15 10:51] lalwaniabhi commented on #13038
I am receiving another error now in the file maxpooling_op.obj while trying to build tf_label_image_example.
This is the error message which was generated.

"C:\Users\alalwani\tensorflow\tensorflow\contrib\cmake\build\tf_label_image_example.vcxproj" (default target) (1) ->
(Link target) ->
  maxpooling_op.obj : error LNK2001: unresolved external symbol "public: bool __cdecl tensorflow::functor::Ma

[2017-09-15 10:53] gopinath-r opened #13062 "inline assembly requires more registers than available while cross compiling tensroflow for arm cortex a15 using clang-3.8"
I am trying to cross compile tensorflow for armv7a cortex a15 using clang-3.8 and I am using bazel 0.5.4 to build tensorflow.

My Environment details are, Ubuntu - 16.04 Clang - 3.8 bazel - 0.5.4 tensorflow source code version - 1.3 target cpu - cortex a15 compiler_flag: "-O2"

The command i am using is
bazel build --copt=-Wno-c++11-narrowing --crosstool_top=//tools/arm_compiler:toolchain --cpu=ar

[2017-09-15 11:50] AVCarreiro commented on #12799
Did you close this because you found the solution or went another way? I'm having the same message using the SavedModel exported by the Estimator API. Not sure here if the input/output nodes were correctly chosen.

[2017-09-15 12:01] thesemicolonguy commented on #12468
I'm facing the same problem. Any updates on this?

[2017-09-15 12:05] carmensu commented on #559
I have the same problem, installed numpy 1.13.1 with pip3 on Python 3.6.2

Anyone know how I can fix it?

[2017-09-15 12:45] #5050 closed

[2017-09-15 12:45] #7704 closed

[2017-09-15 12:45] #8760 closed

[2017-09-15 12:45] #9400 closed

[2017-09-15 12:45] #10142 closed

[2017-09-15 12:45] tensorflowbutler commented on #5050
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-09-15 12:45] tensorflowbutler commented on #7704
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-09-15 12:45] tensorflowbutler commented on #8564
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-09-15 12:45] tensorflowbutler commented on #8760
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-09-15 12:45] tensorflowbutler commented on #9400
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-09-15 12:45] tensorflowbutler commented on #10142
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-09-15 13:08] lazarevevgeny opened #13063 "XLA representation of batch normalization has changed since TF 1.3"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source (commit 1f19b8c)
- **TensorFlow version (use command below)**: ('v1.3.0-rc1-2173-g36813d5', '1.4.0-dev')
- **Python version**: Python 2.

[2017-09-15 13:43] drasmuss commented on #8564
Just double checked, and this issue is still occurring in release 1.3.0.

[2017-09-15 13:54] steven-hh-ding commented on #9832
Also the BeamSearchDecoder does not work with the multilayer cell wrapper, as the first dimension of the cell wrapper is number of layers. But BeamSearchDecoder expect initial_state to have batch_size*beam_size as the first dim.

[2017-09-15 13:55] #13030 closed

[2017-09-15 13:55] iganichev commented on #12118
@eaplatanios You can use TF_SetAttrValueProto to set any attribute by providing the AttrValue protobuf.

[2017-09-15 14:08] mkabra opened #13064 "Variance update in tf.contrib.layer.batch_norm"
Hi,

In the current implementation of batch norm, the variance to be used for update to moving variance is computed by centering the data around the current mean. The more proper way would be to compute the variance around the moving mean. With the current method, the moving variance will depend upon the batch size. With the updated method, the batch size will have less influence on the moving var

[2017-09-15 14:15] eaplatanios commented on #12118
@iganichev In that case, should I add the function to the graph first, then obtain its `FunctionDef`, and set the attribute for new ops using `TF_SetAttrValueProto`?

[2017-09-15 14:18] tillahoffmann commented on #12935
@av8ramit, do you have a rough estimate on when this is likely to happen? It would help us a lot with planning, e.g. should we push a binary to our internal pip server?

[2017-09-15 14:20] Threynaud commented on #12453
I guess I misunderstood when you talked about masking the loss components. What I tried at first was setting a weight to zero for each sample with missing label, ie a target vector full of zeros:
[code]
Is it how you wouId mask each loss? I was a bit reluctant to use `tf.boolean_mask` since it "reduces" the dimension of the original tensor and I am unsure how the gradients are computed in this cas

[2017-09-15 14:24] iganichev commented on #12118
@eaplatanios It might happen work in the other order, but adding the function to graph first is definitely the logical one.

I believe you only need the function's name. You can definitely get it from the FunctionDef, but if you already have the name, you don't need to retrieve the FunctionDef.

[2017-09-15 14:28] lalwaniabhi opened #13065 "maxpooling error while building tf_label_image_example"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
   No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
   Windows 10 (64 bit)
- **TensorFlow installed from (source or binary)**:
   Using CMake and instructions present at (tensorflow/tensorflow/contrib/cmake)
- **Python version**:
   3.6.1
- **CUDA/cuDNN vers

[2017-09-15 14:37] eaplatanios commented on #12118
@iganichev how would I pass it using only the function name? Doesn't the SetAttrProto method expect a proto-serialized form of the function? If I only pass the name it wouldn't know it's referring to a function, right? Or does it infer that from the attribute type?

Also, I noticed that for the eager API, a complete AttrValueMap is created for the function (i.e., passed along with its name).

On S

[2017-09-15 14:50] CDLuminate commented on #13061
I second this proposal.

[2017-09-15 15:02] FedericoMuciaccia commented on #386
there isn't an alias for real ffts in TF 1.3.0

present functions:
`tf.spectral.fft`
`tf.spectral.fft2d`
`tf.spectral.fft3d`
`tf.spectral.ifft`
`tf.spectral.ifft2d`
`tf.spectral.ifft3d`
`tf.spectral.irfft`
`tf.spectral.irfft2d`
`tf.spectral.irfft3d`
`tf.spectral.rfft`
`tf.spectral.rfft2d`
`tf.spectral.rfft3d`

present aliases:
`tf.fft`
`tf.fft2d`
`tf.fft3d`
`tf.ifft`
`tf.ifft2d`
`tf.ifft3d`

can s

[2017-09-15 15:10] edgimar commented on #12997
@facaiy the whole point is to be able to have an image format that could, for example, represent 15 channels.  A single JPEG cannot do this.

[2017-09-15 15:14] rryan commented on #386
Hi Federico,

This is intentional as we are trying to avoid polluting the top-level
namespace in favor of more specific submodules. tf.fft and other fft
symbols in the tf module are deprecated now :).

On Fri, Sep 15, 2017, 8:06 AM Federico Muciaccia <notifications@github.com>
wrote:

[2017-09-15 15:17] EMCP opened #13066 "r1.3 branch - encountered error attempting build on Pi 2"
OS is Ubuntu Mate 16.04 .. cannot quite decipher the problem yet.  Might try the Pi2 specific build line next.

### System information
[code]

### Describe the problem
Attempting to following compilation instructions for RPi, getting error on `make -f ...`

https://github.com/tensorflow/tensorflow/tree/r1.3/tensorflow/contrib/makefile

[code]

### Source code / logs
[code]

[2017-09-15 15:38] yongtang commented on #12659
I tends to think the issue comes from using `std::max` as the op. As far as I know, `std::max` is implemented as `(a < b) ? b : a` which does not take into consideration if `a` or `b` is `nan`.

For example, with the following:
[code]

And in TensorFlow with CPU version:
[code]

[2017-09-15 15:40] yongtang commented on #13046
I think this issue is related to #12659

[2017-09-15 15:43] Threynaud commented on #12453
You're right, I misunderstood what you meant by "loss components" my bad..
Does the following looks ok to you:
[code]
 and that for each loss corresponding to each head of the network. And then apply the optimizer.

I have troubles understanding how the optimizer handles the mask but it is because of my limited knowledge about gradient computation in tf...

[2017-09-15 15:47] yongtang commented on #12659
Depending on what the desired output is, the fix might varies.

In C99' math.h there is `fmax` which covers `nan`. However, the behavior is exactly opposite:
http://en.cppreference.com/w/c/numeric/math/fmax

To achieve the same behavior as `numpy` I think `isnan()` might have to be used even though this is less ideal.

[2017-09-15 15:47] yongtang commented on #12659
The behavior of `numpy`:
[code]

[2017-09-15 16:20] yongtang commented on #12659
On GPU the issue exists as well:
[code]

[2017-09-15 16:22] mrry commented on #13061
This is an area where we would warmly welcome contributions from the community. At present our only critical use for the `tensorflow/contrib/cmake` build is generating release binaries for TensorFlow on Windows. Anything that improves the general usefulness of that build, while preserving the ability to build our Windows release, would be most welcome.

[2017-09-15 16:25] yongtang commented on #12659
@mrry @jart @benoitsteiner I do think the issue may need to be addressed one way or another, either stick with `numpy` or stick with `<math.h>`' `fmax()`.

The reason is that `std::max()` is mathematically problematic:
[code]

[2017-09-15 16:46] tnikolla commented on #13039
So, I write the tfrecord with build_cgd_dataset.py. This works always. The problem lies in reading them.

I've done some more careful tests today. I'm writing here the programs:

**writer.py**

    import tensorflow as tf

    def _int64_feature(v):
        return tf.train.Feature(int64_list=tf.train.Int64List(value=v))

    def _floats_feature(v):
        return tf.train.Feature(float_list=tf.tra

[2017-09-15 17:02] ebrevdo commented on #9832
Steven, please open a new issue for this.  We'll keep track of it
separately.

On Fri, Sep 15, 2017 at 6:55 AM, Steven Ding <notifications@github.com>
wrote:

[2017-09-15 17:05] reedwm commented on #13009
I assume you're referring to the tutorial [here](https://www.tensorflow.org/get_started/estimator#load_the_iris_csv_data_to_tensorflow). Upgrade to the latest version of TensorFlow, 1.3. I'm guessing the problem is that your TensorFlow version is too old.

[2017-09-15 17:05] #13009 closed

[2017-09-15 17:16] av8ramit commented on #12935
@tillahoffmann I'm aiming to have a 3.6 binary for CPU by late next week

[2017-09-15 17:18] yongtang commented on #12659
Actually it seems numpy defined `maximum` and `fmax` for different cases already:
https://docs.scipy.org/doc/numpy/reference/generated/numpy.maximum.html
[code]

[2017-09-15 17:27] Coderx7 commented on #13044
I recheck all the images for mismatched extensions and the actual type of the image and fixed them all.
After recreating the TFRecords and retraining again I am faced with these errors:
[code]
This is getting really annoying!
I fixed what I thought could be the issue here, and yet this pops up. any feedback on this issue is greatly appreciated.

[2017-09-15 17:34] cbcase commented on #13046
Well-spotted -- I didn't turn up that issue in the search I did.

Reading through #12659, it looks like the issue is more subtle (and worse?) than what I've shown here -- NaNs are sometimes propagated and sometimes not, and it depends on the implementation you happen to get.

[2017-09-15 17:35] akashjobanputra commented on #13038
Where's the solution ?

[2017-09-15 17:43] cy89 commented on #12864
We can't backpropagate through queues; @vrv suggests that you probably have a queue between loss and update.

This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-15 17:43] #12864 closed

[2017-09-15 17:58] cy89 commented on #12924
Thanks, @TomorrowIsAnOtherDay. I think the interface is working-as-intended. It's probably a bad idea for datasets to automatically pad your data for you out to the desired batch size, as this might have weird effects on your training. I would expect that randomization plus setting some number of epochs is the answer to uniformly using data that doesn't exactly match the batch size.

This question

[2017-09-15 17:58] #12924 closed

[2017-09-15 17:59] ekelsen commented on #13038
Are you sure you're at HEAD?  That line number doesn't correspond to anything anymore and the error you're referring to should be fixed.

[2017-09-15 18:06] vribic commented on #2134
It is possible to use extract_glimpse with zero padding by playing around with resize_image_with_crop_or_pad first.

If the img_batch variable is a tensor of shape [batch_size,img_width,img_height,channels] you could do first something like this:

[code]

Now you need to modify the offsets variable so that it goes from -x to x where x is a new boundary depending on the original image dimensions an

[2017-09-15 18:27] BogdanPugach opened #13068 "cuDNN 6 incompatible with Tensorflow 1.3 error"
Any help is greatly appreciated! I've spent way too much time on this.

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
In tensorflow/stream_executor/cuda/cuda_gpu_executor.cc in function "static int TryToReadNumaNode(conststring &pci_bus_id,intdevice_ordinal)" added the following lines at the beginning of the function:
L

[2017-09-15 18:27] cy89 commented on #12994
@martinwicke, this seems like a reasonable followup to the multithread in #1402, but specific to Windows. Could you please advise?

[2017-09-15 18:32] reedwm commented on #13065
@mrry can you take a look?

[2017-09-15 18:37] ppwwyyxx commented on #12924
I agree it's a bad idea to pad data, but it'll be helpful to return a tensor of smaller batch.
For example, if we want to calculate accuracy on a validation set, each sample needs to be fetched before an OutOfRangeError is raised. In tensorpack we have a [`remainder=False` option](http://tensorpack.readthedocs.io/en/latest/modules/dataflow.html#tensorpack.dataflow.BatchData) for this purpose.

[2017-09-15 18:44] cy89 commented on #13002
You're quite right that the Udacity slides and the code in the ipynb don't match up exactly. But I don't think it matters for educational purposes.

I think there are two points in what Vincent is saying:
1. Having a zero mean makes it easier for the optimizer to work.
2. Normalizing different axes to have the same scale (so circular, or standard deviations, rather than oval, as shown in slides) a

[2017-09-15 18:44] #13002 closed

[2017-09-15 18:50] cy89 commented on #13034
@kishorenayar Does the workaround in https://github.com/tensorflow/tensorflow/issues/11038 help?

[2017-09-15 18:50] reedwm commented on #13063
/CC @yunxing

[2017-09-15 18:52] aselle commented on #12944
Can you use one of the slim based retrainings?
https://github.com/tensorflow/models/blob/master/slim/scripts/finetune_resnet_v1_50_on_flowers.sh

It appears to do resnet from resnet checkpoints. Slim provides all the python scripts that build the graph structure, so you can do retraining with just a .ckpt.

# As some background information: saved models come in several flavors

1. GraphDef (.pb) +

[2017-09-15 19:36] tuzhucheng commented on #1548
@ljstrnadiii this is a working link: https://github.com/tensorflow/tensorboard#runs-comparing-different-executions-of-your-model

[2017-09-15 19:48] sherkwast opened #13069 "Get stuck in the process of building from sources"
## System information

OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04 LTS
TensorFlow installed from (source or binary): Source
TensorFlow version (use command below): 1.3 CPU
Bazel version (if compiling from source): 5.0
Exact command to reproduce:

`
RUN tensorflow/tools/ci_build/builds/configured CPU \
    bazel build -c opt --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0" \

[2017-09-15 20:08] yaroslavvb commented on #13059
cc @martinwicke

[2017-09-15 20:10] gunan commented on #13061
Also, We are very close to moving windows to bazel, so we will lower the amount of support we will have available for cmake once that happens.
Therefore, I recommend using bazel instead for distributing TF.

[2017-09-15 20:11] cy89 commented on #13044
This doesn't seem like it's necessarily a bug in the object detection code. I agree that the error message about Tensor shapes: "Expected [1,?,?,3], got [1,157,80,4]" suggests that the API is looking for RGB input data but something in your input data is somehow being decoded into depth-4, rather than depth-3.
You do say that you're using your own input data. Can you add checks about the cleanline

[2017-09-15 20:13] cy89 commented on #13046
Thanks, @yongtang. Let's close this issue in favor of #12659.

[2017-09-15 20:13] #13046 closed

[2017-09-15 20:24] strubell commented on #9234
I'm also experiencing this issue, though I've experienced only segfaults. `np.linalg.svd` works on the same matrices, but calling with `tf.py_func` is of course much slower than the "native" tf function.

[2017-09-15 20:28] cy89 commented on #13048
A few thoughts:
Our tutorial code tends to be written to maximize clarity rather than to maximize performance. It's not surprising that tutorial code wouldn't necessarily run very efficiently, on either CPU or GPU.

I don't see anything in the word2vec code that suggests that it's been optimized to work on a GPU.
Embeddings, by their nature, tend to emphasize fine-grained, random memory lookups. T

[2017-09-15 20:28] #13048 closed

[2017-09-15 20:29] cy89 commented on #13050
@tfboyd would you please take a look?

[2017-09-15 20:34] cy89 commented on #13060
@sherrym do you have any suggestions, please?

[2017-09-15 20:35] yaroslavvb commented on #9234
@strubell I've had good luck with SVD through numpy. Because SVD is O(n^3) operation, the O(n^2) overhead of copying things between scipy/TF becomes negligible. Scipy/mkl version of SVD is considerably faster than TF version due to multi-threading, and the few crashes I've seen with scipy can be worked around by setting MKL_NUM_THREADS to lower number (ie, 15)

You can do something like [SvdWrappe

[2017-09-15 20:43] yaroslavvb commented on #9234
@rmlarsen maybe long term solution to speed/correctness is to make gesdd available in TensorFlow? Either new implementation, or MKL version -- [gesdd](https://software.intel.com/en-us/mkl-developer-reference-fortran-gesdd?language=en) accessible as a TensorFlow op. There's also [gesvd](https://software.intel.com/en-us/mkl-developer-reference-c-gesvd) which may be more robust, but also takes 3x lon

[2017-09-15 20:49] cy89 commented on #13064
@sguada this seems like a reasonable observation. Should we ask @mkabra for a PR?

[2017-09-15 20:55] brightbytes-dude commented on #8043
This is still not fixed in TensorFlow 1.3.0.

I'm using the high-level API only, and define the weights column in exactly the same fashion as I define other feature columns:

`tf.contrib.layers.real_valued_column(self.schema.label_weight_column)`

... where I have tests that prove that `self.schema.label_weight_column` is the string naming my weight column `"outcome_class_weight"`

I then define t

[2017-09-15 20:55] martinwicke commented on #13059
Here are a few general guidelines:

- Everything in contrib is experimental. Some of it may move to core (tf.estimator is a piece of contrib.learn which moved to core), some of it may not.
- There are strong API guarantees for things not in contrib, there are no such guarantees in contrib.
- Nevertheless, we avoid removing things without notice, so this process leaves duplicates (often with slight

[2017-09-15 20:55] #13059 closed

[2017-09-15 20:56] masoodmortazavi commented on #12434
In the exploration of this issue, was attention paid to using Eigen in multi-threaded applications.

Please see the note on calling Eigen::initParallel() before making application threads, in the following:
 https://eigen.tuxfamily.org/dox/TopicMultiThreading.html

[2017-09-15 20:57] Coderx7 commented on #13044
@cy89 : Thank you very much for your attention,
But thats what I did and thats why I think there is a need for better error messages. If there is an issue in the input, this must be caught when a tfrecord is being created.
I have checked multiple times that my images are consistent i.e a png is indeed a png and not mistakenly saved as a jpg or vice versa and also their correct depth is retrieved a

[2017-09-15 21:02] wolffg commented on #4998
I will suggest this to the team that manages our CMS, but unless they implement it, we are not going to do it given there's an immediate workaround.  I'm closing the bug against TensorFlow, with the caveat that I will file it against the CMS on another tracker.

[2017-09-15 21:02] #4998 closed

[2017-09-15 21:03] martinwicke commented on #8043
Is this a problem with `tf.estimator.Estimator`? I hope not, and I believe that that is why this issue was closed.

FYI @ispirmustafa

[2017-09-15 21:20] phg1024 commented on #12978
@zyavrik These are the changes I can find in the code: https://github.com/phg1024/tensorflow/commit/291f29533a510797f64e1f646b38aeea62238389

There are also some configuration changes about the VS project settings to resolve undefined symbols in the linking stage. You can follow take a look at https://joe-antognini.github.io/machine-learning/windows-tf-project to get some sense about how to resolv

[2017-09-15 21:26] mrry commented on #13065
The problem seems to come from c14550a38308a7f516e83f5c8e21748ad76bf972, which added a `DT_QINT8` kernel registration for the `"MaxPool"` op, but there isn't a corresponding functor implementation for that type.

At a guess, maybe the problem stems from [this `if (std::is_same<T, qint8>::value)` check](https://github.com/tensorflow/tensorflow/commit/c14550a38308a7f516e83f5c8e21748ad76bf972#diff-4b

[2017-09-15 21:31] eaplatanios commented on #12118
@iganichev @asimshankar Actually, when I try to use `TF_SetAttrValueProto` using a `FunctionDef`, I get the following error:

`AttrValue had value with type 'list(string)' when 'func' expected`

[2017-09-15 21:38] ispirmustafa commented on #8043
contrib DNNClassifier doesn't support a weight column. it expects that weight is processed within the input_fn properly.
core DNNClassifier (tf.estimator.DNNClassifier) accepts a weight column. Please use that instead.

[2017-09-15 21:41] reedwm commented on #13069
@caisq can you reproduce? I'm not sure how to run that docker command.

@Luxios can you try waiting, say, an hour to see if it eventually finishes?

[2017-09-15 21:45] eaplatanios commented on #12118
After browsing through the code, I figure out that I need to create an `AttrValue` proto message. This works:
[code]
How come the attr name-value list is not needed? Could ignoring it have any implications?

[2017-09-15 21:49] brightbytes-dude commented on #8043
I was able to get this working by riffing off the suggested fix, and changing only the label definition provided by the input function for all my models as per this git diff:

[code]

So, while I would hope that the Estimator would take care of this for me, it's not clear whether or not its responsibility is to take care of it for me. :-)

IOW, I'm lucky I was able to suss this relatively quickly

[2017-09-15 21:51] brightbytes-dude commented on #8043
@ispirmustafa - Ok, I'll try that, but according top https://www.tensorflow.org/api_docs/python/tf/contrib/learn/DNNClassifier#__init__ the `weight_column_name` field is supported.

[2017-09-15 21:54] reedwm commented on #13039
I also could not reproduce running from the terminal. You should verify that Spyder is using the same versions of Python and Tensorflow as when you run from the terminal.

Marking as contributions welcome if someone can reproduce in Spyder.

[2017-09-15 21:57] sherpya commented on #12699
Same problem on android, the object file `gpu_tracer.o` contains the dummy function returning nullptr:

[code]

and a "global":

[code]

[2017-09-15 22:03] Talor-A commented on #12166
thanks, that solved it @andrewharp .

[2017-09-15 22:03] tfboyd commented on #13050
You are correct.  In my effort to format them I must have copied and
pasted.  I will update and get someone to publish it again.  Thank you.

On Fri, Sep 15, 2017 at 1:32 PM, Cliff Young <notifications@github.com>
wrote:

[2017-09-15 22:06] ispirmustafa commented on #8043
I agree `weight_column_name` is misleading. it is asking for a name actually. we fixed that in core estimators.

[2017-09-15 22:10] tfboyd commented on #13050
The data you are seeing is InceptionV3 copied twice as an FYI until I get it fixed.

[2017-09-15 22:14] yongtang commented on #10403
I think this issue has been fixed in PR #12562 several weeks ago?

[2017-09-15 22:16] brightbytes-dude commented on #8043
Yup, I'm providing it with a column name, and reshaping my label solved the crash I was getting.

As described in my comments above, assuming I stay with the contrib Estimator, the problem is now that I need to figure out how to test a trained model without the weight feature being present, and also how to use a trained model for predictions without that weight feature being present.

Or, are you

[2017-09-15 23:19] ekelsen commented on #3649
It's in.

[2017-09-15 23:24] Coderx7 commented on #13044
I rescanned 280K images of mine. There is no image with the shape of what is being reported in the error message!

[2017-09-15 23:26] sea-man commented on #11404
I faced same issue, the full log is bellow:
ERROR: /root/.cache/bazel/_bazel_root/6093305914d4a581ed00c0f6c06f975b/external/nccl_archive/BUILD:39:1: undeclared inclusion(s) in rule '@nccl_archive//:nccl':
this rule is missing dependency declarations for the following files included by 'external/nccl_archive/src/libwrap.cu.cc':
  '/usr/lib/gcc/x86_64-redhat-linux/4.8.5/include/limits.h'
  '/usr/lib

[2017-09-15 23:27] iganichev commented on #12118
@eaplatanios The "name-value list" you are referring to might be needed. As the comment in [here](https://github.com/tensorflow/tensorflow/blob/7534e5b0e8d796173416f91b29b79ad715afc913/tensorflow/core/framework/attr_value.proto#L44) is saying, this field holds whatever attributes the function or (a basic operation) needs. Just like you add attributes to basic operations (data type being the most c

[2017-09-15 23:28] facaiy commented on #13059
Hi, @martinwicke . I noticed that contrib supports more features than core. Say, `tf.contrib.learn.estimator` supports `feature_enginerring_fn`, while `tf.estimator` not. If `tf.contrib.learn.estimator` is deprecated, where do we find the missing features?

[2017-09-15 23:56] yzhwang commented on #12293
Some update: I've confirmed that this is an Eigen GPU bug. When data format is NHWC and tensors are located on the GPU, tensorflow will choose Eigen for its consistently better performance than average pooling in cudnn:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/avgpooling_op.cc#L162
For a quick workaround, you can disable the SpatialAvgPooling() call and force te

[2017-09-15 23:59] RuofanKong opened #13075 "distributed Tensorflow assign device issue"
I recently found an interesting issue on device assignment when I ran the following simple code `test.py`:

[code]
As the code uses `tf.train.replica_device_setter()` with `worker_device="/gpu:0"`, I imagine all tensorflow `Variable` ops go to the parameter server, while all other type of ops stay in the worker.

However, if we run the above code:
`$ python test.py --job_name ps --task_index 0`
`$

[2017-09-16 00:06] facaiy commented on #12997
Hi, @edgimar .
I am not clear which one you need:
1. an solution to handle other image format,
2. or, a new parse ops `tf.decode_tiff` (`tf.decode_image` is just a wrapper outside) .

For the first one: In fact, `Tensor` supports arbitrary dimensions. So if TIFF or any format desired can be converted to array by Python, we are free to feed them into TensorFlow.

For the second one, perhaps the wor

[2017-09-16 00:29] facaiy opened #13076 "unit test tools print all failure logs if failed"
When a PR is tested failed, Jenkins just reports failure and tells where to check log. However, at least for me, I don't know whether I have the permission, and where to find the logs. So I have to reproduce the failed test on my own machine, but maintaining all kinds of environment is an unnecessary burden for each developer (cpu, gpu, py2, py3, window...)

[code]

It will be more convenient to a

[2017-09-16 00:31] yaroslavvb commented on #13075
Hm, that seems strange, from the logic [here](https://github.com/tensorflow/tensorflow/blob/0dfb1825ea20e7d4da6c57e4ba3710547562d423/tensorflow/python/training/device_setter.py#L119) it seems anything that's not a Variable will be assigned to be on worker_device.

Since only workers construct the graph, "/gpu:0" should resolve to worker's /gpu:0
Maybe you could add some print's in device_setter.py

[2017-09-16 00:32] steven-hh-ding commented on #9832
thank you ebrevdo for the quick reply. it is working fine now by
* tile the initial state to beam_width
* create a decode (tile whatever memory it uses)
* create a zero_state
*  zero_state.clone(..)

[2017-09-16 00:36] cy89 commented on #13044
@Coderx7 Thanks for checking. Those look like entirely reasonable checks on your input data set.

The kinds of checks that you're asking for seem like reasonable feature requests. I can't speak for the object detection team about whether they have time to do that kind of work. @tombstone, can you comment?

In the meantime, I'll mark this as "contributions welcome".

[2017-09-16 00:38] yaroslavvb commented on #13059
@facaiy `tf.contrib` is experimental API, things in contrib can disappear/get renamed/etc. IE, no guarantee that `feature_enginerring_fn` from contrib will exist in future versions of TF

[2017-09-16 01:03] mrry commented on #13075
@yaroslavvb wrote:

That's not how the placement algorithm works. You must include `"/job:worker"` in the device spec to guarantee that the op will be placed on a task in the `worker` job.

If you override the default `worker_device` argument (which is `"/job:worker"`) with `"/gpu:0"`, there's no guarantee that the task will be placed in any particular task.

[2017-09-16 01:13] RuofanKong commented on #13075
@yaroslavvb @mrry Thanks for the reply! That makes sense. But I still don't understand why all tensorflow ops go to the parameter server, is it intentional? The other issue is I compared the performance for using `worker_device="/job:worker/task:0"` vs. `worker_device="/gpu:0"`, and I noticed that when `worker_device="/gpu:0"` where all ops go to parameter server, the training performance is much

[2017-09-16 01:17] yaroslavvb commented on #13075
@mrry interesting .... the the following example is similar, is it also going to run the op on an arbitrary machine?

[code]

[2017-09-16 01:23] martinwicke commented on #13059
We decided not to further support feature_engineering_fn.

We experiment with designs in contrib. The things that work go to core. The
things that don't don't. feature_engineering_fn did not make the cut.

It's use case is unclear and it causes a bunch of gnarly problems.

[2017-09-16 01:35] #10315 closed

[2017-09-16 02:15] caisq commented on #13069
@Luxios, did you try the approach outlined in this section?
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/docker#rebuilding-the-containers

[2017-09-16 03:51] zhimengfan1990 commented on #1122
It seems there are still problems with TF v1.3. I'm sure I note the following details, but still failed to use the official `tf.contrib.layers.batch_norm`, with `is_training=False` during evaluation(but when I keep `is_training=True` unchanged during evaluation, it is ok):
1.` decay`,  exponential moving average is actually alpha filter in signal processing, the time to converge is approximately 1

[2017-09-16 04:34] vahidk commented on #13005
In my opinion there's no need for a flag. Counting ties as positive is never a wanted behavior for a metric.

[2017-09-16 04:37] justinshapiro commented on #12810
@liyungithub I'm having the same issue. I can't figure out what you mean by "makefile -L$(DOWNLOADSDIR)/nsync/builds/default.linux.c++11/ -lnsync"

[2017-09-16 05:17] justinshapiro commented on #12482
@DavidNorman Could you elaborate more on what you did to fix the issue? I'm having the same issues, and the resolutions here won't work for me because the libraries are compiled with the `nsync` reference as-is.

[2017-09-16 05:27] akashjobanputra commented on #13038
Ok, my mistake. Did `git pull` and re-executed build commands. Now #13065 is encountered.

[2017-09-16 06:09] AustinVan opened #13078 "quantized_conv3d and quantized_pool3d features"
Now I am trying to implement 3D CNN on FPGA.
Do you have plan to support quantized_conv3d and quantized_pool3d features these two months?
if yes, when will it be released?

Cheers~

[2017-09-16 06:24] ppwwyyxx commented on #13005
No one said this function has to be used for a metric..

[2017-09-16 06:31] luyishisi commented on #6883
work！

[2017-09-16 06:33] nnkalita opened #13079 "saved model load method support for android"
I am trying load a saved model on android with java api.

 Session session = SavedModelBundle.load(modelDir, "serve").session();

Its works on PC. But on android i  got this error message.

E/tensorflow: CameraActivity: Exception!
                                                                 java.lang.UnsupportedOperationException: Loading a SavedModel is not supported in Android. File a bug at

[2017-09-16 06:35] vahidk commented on #13005
Are you sure? I think someone said.
https://www.tensorflow.org/versions/master/api_guides/python/nn#Evaluation

[2017-09-16 06:53] ppwwyyxx commented on #13005
I have no doubt they are designed for metrics but you can certainly use it for something else...

[2017-09-16 07:27] akkaman007 commented on #9516
I have installed the python 3.5.2 but i am still facing the same problem

[2017-09-16 08:17] huanghoujing commented on #2732
One of the problems I encountered that cause randomness is **multi-thread pre-fetching** training samples. In the multi-thread way, in a new run the samples are put into the queue in a new order, determined by the relative speed of the threads. I have to set the number of pre-fetching threads to 1 to solve the problem.

[2017-09-16 09:38] byronyi commented on #9926
@shamoya I have tried with the latest (1.4-dev0) and the same issue, i.e. edge_4_global_step being repeatedly requested, showed up even without any verbs nor GDR code (i.e. the default build options with gRPC). I suspect it is a bug in gRPC runtime side (perhaps not being able to handle higher request rates with the latest upgrade), and I am filing a bug regarding to this.

[2017-09-16 10:09] navya-xx commented on #10403
Yes, thanks for reminding.. i will close this issue now..

[2017-09-16 10:11] navya-xx commented on #10403
Sorry.. I guess someone from admin has to close it.. I don't have the rights..

[2017-09-16 12:15] samwhitlock opened #13080 "Incorrect protobuf SHA in workspace.bzl for v1.3.0"
### System information

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 17.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: v1.3.0 (the tagged version, specifically `9e76bf32`)
- **Python version**: 3.5.3
- **Bazel

[2017-09-16 13:15] ronrest commented on #12663
Actually, I'm curious to know what the difference between the two is as well.

[2017-09-16 13:19] viveky444 opened #13081 "i m getting this error while installing tensorflow gpu ,have tried everything help me plezz"
Traceback (most recent call last):
  File "C:\python36\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 18, in swig_import_helper
    return importlib.import_module(mname)
  File "C:\python36\lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 978, in _gcd_import

[2017-09-16 14:02] shadmanssk commented on #13002
yeah even I realised that so I totally get your point still, it was
confusing at first but thanks for clearing out this thing.

On Sat, Sep 16, 2017 at 12:20 AM, Cliff Young <notifications@github.com>
wrote:

[2017-09-16 14:19] svenstaro commented on #12979
There should probably be a new tensorflow release with those fixes since currently no one can build the latest release.

[2017-09-16 14:32] dandarm commented on #1940
Me too :-)

[2017-09-16 14:56] sunqianggg opened #13082 "How can I change value by threshold in tensor?"
When I do some 2-class classify practices, I use sigmoid as output layer, and it return a value in [0,1], but I want 1 if the value greater than 0.5,else set the value 0. I can't find a function to finish it.  Thank you for help.
Just like:
a=tf.constant([0.1,0.2,0.6,.0.7])--->turn to ---->a=tf.constant([0,0,1,1])

[2017-09-16 14:57] Luxios commented on #13069
@reedwm I've tried many times

[2017-09-16 16:38] mmatiaschek commented on #13080
Same problem, same solution on branch r1.3 but with Ubuntu 16.04 and `bazel build --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0" --config=opt //tensorflow/tools/pip_package:build_pip_package`

i replaced the sha checksum with vi
`vi tensorflow/workspace.bzl
:s/6d43b9d223ce09e5d4ce8b0060cb8a7513577a35a64c7e3dad10f0703bf3ad93/e5fdeee6b28cf6c38d61243adff06628baa434a22b5ebb7432d2a7fbabbdb13d/g`

Thank you @sam

[2017-09-16 17:06] amirjamez opened #13083 "mismatch between the reported values of tt.nn.zero_fraction"
Has anyone run into this issue before?

[tt.nn.zero_fraction](https://www.tensorflow.org/api_docs/python/tf/nn/zero_fraction), defined in [nn_imply.py](https://github.com/tensorflow/tensorflow/blob/r1.3/tensorflow/python/ops/nn_impl.py) reports my convs layers in [MobileNet_v1 slim](https://github.com/tensorflow/models/blob/master/slim/nets/mobilenet_v1.py) net have around 0.5 sparsity (conv1-conv

[2017-09-16 17:13] yaroslavvb commented on #13075
It sounds like short form ("/gpu:0") for distributed is not really supported, I'll close it since it doesn't seem to be a bug, but if someone figures out where the logic lives, it would be useful to update it here

[2017-09-16 17:13] #13075 closed

[2017-09-16 17:18] TongShanHui commented on #13031
I have to admit, I am getting the same error, using python 3.5, Tensorflow 1.3, on Debian 9
(tensorflow) charles@Kong-Zi:~$ python tensorflow/examples/speech_commands/train.py
Traceback (most recent call last):
  File "tensorflow/examples/speech_commands/train.py", line 80, in <module>
    import input_data
  File "/home/charles/tensorflow/examples/speech_commands/input_data.py", line 35, in <modu

[2017-09-16 17:59] vinuvish commented on #8161
@mrry  hi
after installing the DLL file still im getting the error

[2017-09-16 18:45] viveky444 commented on #8385
- Python version is 3.6.

- TensorFlow is installed at: C:\python36\lib\site-packages\tensorflow

- Could not load 'nvcuda.dll'. The GPU version of TensorFlow requires that
  this DLL be installed in a directory that is named in your %PATH%
  environment variable. Typically it is installed in 'C:\Windows\System32'.
  If it is not present, ensure that you have a CUDA-capable GPU with the
  correct

[2017-09-16 19:10] hasan9090 opened #13086 "Help completely removing Tensorflow, pip and virtualenv"
Hey there,

I am new to all the tf and Python programming and have installed tensorflow through pip and virtualenv but now I read that in order to use Spyder for Python it is best to use Anaconda. I know that tf can be installed through conda as well but how do I go about it now? Do I have to completely remove the existing installations first and if yes, can someone explain in detail which and how

[2017-09-16 19:24] viveky444 commented on #8385
what is the matter here
ERROR: Failed to import the TensorFlow module.

- Python version is 3.6.

- TensorFlow is installed at: C:\python36\lib\site-packages\tensorflow

- Could not load 'nvcuda.dll'. The GPU version of TensorFlow requires that
  this DLL be installed in a directory that is named in your %PATH%
  environment variable. Typically it is installed in 'C:\Windows\System32'.
  If it is

[2017-09-16 19:31] yongtang commented on #13080
I think this is related to GitHub changed the download file with different digest. See #12986 for related issues.

[2017-09-16 19:37] ppwwyyxx commented on #13082
`tf.to_int32(a > 0.5)`

[2017-09-16 20:27] #13019 closed

[2017-09-16 20:30] yaroslavvb opened #13087 "Deallocation messages broken"
The only way to calculate peak memory in OSS TensorFlow is to make memory timeline by parsing allocation/deallocation messages (possibly using helpers like [this](github.com/yaroslavvb/memory_util))

Sometime between TF 1.0.1 and TF 1.1, the deallocation messages stopped including allocation id, so you can't track when each tensor got deallocated.

[code]

In TF 1.0.1 you see this
`2017-09-16 13:2

[2017-09-16 20:30] yaroslavvb commented on #11721
@reedwm -- filed under https://github.com/tensorflow/tensorflow/issues/13087

[2017-09-16 21:45] ppwwyyxx commented on #4921
Haven't tried c++, but at least from `tf.gfile.Glob`, the problem seems to be fixed already.

[2017-09-16 21:45] #4921 closed

[2017-09-16 23:01] facaiy commented on #13059
Thanks, @martinwicke . I understand `feature_engineering_fn` not a perfect solution. How about using pipeline? Will tensorflow plan to use pipeline to simply feature transform for training and predicting, like sklearn and spark?

[2017-09-16 23:10] eyaler commented on #12725
@meteorcloudy thanks. I now get:

$ bazel build tensorflow/tools/quantization:quantize_graph --verbose_failures --action_env=USE_MSVC_WRAPPER=1
____Loading package: tensorflow/tools/quantization
____Found 1 target...
____Building...
____[0 / 6] Creating source manifest for //tensorflow/tools/quantization:quantize_graph
____[5 / 29] Compiling tensorflow/core/common_runtime/gpu/gpu_tracer.cc
ERROR:

[2017-09-16 23:40] yaroslavvb commented on #13087
BTW, this is only for CPU memory deallocation messages, GPU deallocation messages continue to work

[2017-09-17 00:01] justinshapiro opened #13090 "Session creation silently failing on iOS when loading a SavedModel"
## Issue:

I am trying to integrate a TensorFlow solution into my iOS apps, but inference doesn't seem to work when I try to run simple graphs created in Python. In fact, the `tensorflow_inception_graph` from the examples is the only graph that seems to work with iOS inference. Every other inference attempt is met with the following error:

So what I'm finding is that on mobile if we try to run a

[2017-09-17 00:38] facaiy commented on #13083
What the type of conv? I mean, `type(conv)`?

[code]

[2017-09-17 01:31] collawolley commented on #7648
hi @oelmekki @yaroslavvb did you managed to resolve the issue?
I have the same problem able to use GPU before updating tensorflow to V1.3.0. I have also upgraded my Cudnn to V6. My CUDA is v8.0 so I don't seem to understand where the problem is coming from. I can verify that my tensorflow is GPU version because I used tfBInaryUrl for Python2.7-PGU support. Aside this, I have also installed several

[2017-09-17 01:32] collawolley opened #13091 "Tensorflow not detecting my GPU"
hi @oelmekki @yaroslavvb did you managed to resolve the issue?
I have the same problem able to use GPU before updating tensorflow to V1.3.0. I have also upgraded my Cudnn to V6. My CUDA is v8.0 so I don't seem to understand where the problem is coming from. I can verify that my tensorflow is GPU version because I used tfBInaryUrl for Python2.7-PGU support. Aside this, I have also installed several

[2017-09-17 04:58] kishorenayar commented on #13034
@cy89 I have a question, how do I set rc.environment = None ?

[2017-09-17 05:06] shreyneil opened #13092 "Errror in creatinig training and inference logits"
I am using ubuntu 16.04
version of tensorflow is 1.3.0
installed and validated using anaconda
While trying to create training and inference logits of input[32] of the following python notebook
https://github.com/Currie32/Chatbot-from-Movie-Dialogue/blob/master/Chatbot_Attention.ipynb

I was getting errors while executing the following command:

train_logits, inference_logits = seq2seq_model( tf.re

[2017-09-17 05:22] kishorenayar commented on #13034
@cy89 I don't understand this. I Just modified the above code and it's running fine.

[code]

[2017-09-17 05:26] blistergeist commented on #7705
I just wrestled with this for a couple hours (Windows 10, Anaconda 4.4.0 64 bit). I had been trying to install tensorflow-gpu using pip with no success. I followed all the guides I could find, tried using Python 3.5.3, installed cudnn 5.1 and 6.0, tried different combinations using conda environments, and still ran into the same error.

I found that installing via conda rather than pip worked the

[2017-09-17 05:27] blistergeist commented on #11571
I just wrestled with this for a couple hours (Windows 10, Anaconda 4.4.0 64 bit). I had been trying to install tensorflow-gpu using pip with no success. I followed all the guides I could find, tried using Python 3.5.3, installed cudnn 5.1 and 6.0, tried different combinations using conda environments, and still ran into the same error.

I found that installing via conda rather than pip worked the

[2017-09-17 05:30] xt479910344 opened #13093 "i want to run a batch of images using the label_images example,but this example is only a image,not a batch of image,what should i do,i can't find other examples to refer."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-09-17 05:44] furyjack commented on #8385
@viveky444
I wrote an article about this.
[Link to article](https://medium.com/@lakshaytaneja26/https-medium-com-lakshaytaneja26-installing-tensorflow-on-windows-e577edfacade).Hope this helps.

[2017-09-17 06:12] akashjobanputra commented on #13066
To build tensorflow on Raspberry Pi, there's a guide for it by @samjabrahams
https://github.com/samjabrahams/tensorflow-on-raspberry-pi/blob/master/GUIDE.md

There are links to compiled whls for tensorflow on his guide for python 2.7 and 3.4. I have also uploaded one for python 3.5 [here](https://github.com/akashjobanputra/tensorflow-on-raspberry-pi/releases/tag/v1.2.1)

[2017-09-17 06:30] desire2020 opened #13094 "Feature Request - SRU (Simple Recurrent Unit) Cell"
ArXiv path: https://arxiv.org/abs/1709.02755

This is a recently proposed, parallelization-friendly RNN cell. The author released his own PyTorch version of the SRU. We are looking forward to an offical tensorflow implementation with Cudnn optimizations.

[2017-09-17 06:38] tenapril commented on #13031
I have the same error using Windows 10, Python 3.5, tensorflow 1.3

C:\tensorflow-master>python tensorflow/examples/speech_commands/train.py
Traceback (most recent call last):
  File "tensorflow/examples/speech_commands/train.py", line 80, in <module>
    import input_data
  File "C:\tensorflow-master\tensorflow\examples\speech_commands\input_data.py", line 35, in <module>
    from tensorflow.cont

[2017-09-17 06:50] segatecm opened #13095 "About the issue: Ran out of GPU memory!"
HI every one, I wrote my first tensorflow code, it is a classic CNN. And when I run it on Ubuntu16. it report error!

2017-09-17 05:16:34.243946: W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use SSE4.1 instructions, but these are available on your machine and could speed up CPU computations.
2017-09-17 05:16:34.243983: W tensorflow/core/platform/cpu

[2017-09-17 07:38] eyaler commented on #12725
git clean -xdf
helped me

[2017-09-17 08:06] eyaler opened #13096 "No OpKernel was registered to support Op 'QuantizeV2'"
I was able to build tf 1.3 quantize_graph on windows 10 64 using bazel 0.53 and cuda 8 (i could not build it without cuda). when i try to run it i get:
No OpKernel was registered to support Op 'QuantizeV2' with these attrs.

bazel-bin\tensorflow\tools\quantization\quantize_graph --input d:/export/saved_model.pb --output_node_names my_output --output d:/export/saved_model_quant.pb --mode=eightbit

[2017-09-17 08:16] TomorrowIsAnOtherDay commented on #12924
@cy89 @ppwwyyxx Thanks, Maybe I should provide an parameter to specific whether to drop the last batch or not.
@ppwwyyxx But in my case, The problem is not whether to use a small batch size or not to fetch the last batch.I can't fetch the last batch in multigpu model.If I use only one gpu and the problem doesn't exist, because Dataset API will provide the last batch with a smaller batch.
#12855

[2017-09-17 08:50] ZhongBaby opened #13097 "Support 64bit float point gradient"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Windows 10
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use command below)**:1.1.0
- **Python version**:  3.5.3
- **CUDA/cuDNN version**:Cuda 8.0 cudnn 5.1
- **GPU model and

[2017-09-17 09:01] GalMoore commented on #10959
Thanks @jcomfort4. After Cloud SDK update 171.0.0 I had the same issue. Solved with
`tensorboard --logdir=output` as replacement for: `python -m tensorflow.tensorboard --logdir=output`. Please update https://cloud.google.com/ml-engine/docs/how-tos/getting-started-training-prediction

[2017-09-17 09:21] Coderx7 commented on #13044
I tried two more scenarios,
I randomly selected 10K images from the existing 300K images and ran the training again.(re-annotated each image,created new tfrecords and ran the training). still the same error ,
and I need to add that, there is not a single image with the depth of 4, nor the dimensions reported in this and former error messages exist.
Here is the error message :
[code]
And by the way

[2017-09-17 09:47] sj6077 opened #13098 "TensorFlow creates different node name for execution"
-----------------------
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
TF v1.3
- **Bazel version (if compiling from source)**:
0.4.

[2017-09-17 11:06] sayantandas30011998 commented on #10026
I got the same error.

import tensorflow as tf
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/cloudera/anaconda2/lib/python2.7/site-packages/tensorflow/__init__.py", line 24, in <module>
    from tensorflow.python import *
  File "/home/cloudera/anaconda2/lib/python2.7/site-packages/tensorflow/python/__init__.py", line 49, in <module>
    from tensorflow.pyt

[2017-09-17 11:35] shamoya commented on #9926
Hi @byronyi,
I found out that the repeated edge_4_global request is actually coming from [here](https://github.com/tensorflow/benchmarks/blob/master/scripts/tf_cnn_benchmarks/tf_cnn_benchmarks.py#L241).
It's a python thread that reads the global counter for counting and timing process.
It didn't related to the stuck issue - once I disabled this thread we indeed saw the runtime eas stuck without fu

[2017-09-17 13:42] tillahoffmann commented on #12935
@av8ramit, that's great thank you! We'll keep building a GPU version for now.

[2017-09-17 14:48] ParmuSingh opened #13099 "Weights and biases not being updated."
(I've already tried stackoverflow)

I've made this neural net to figure out whether a house is a good buy or a bad buy. For some reasons the code is not updating weights and biases. My loss stays same. This is my code:

    import pandas as pd
    import tensorflow as tf

    data = pd.read_csv("E:/workspace_py/datasets/good_bad_buy.csv")

    features = data.drop(['index', 'good buy'], axis = 1)

[2017-09-17 15:04] yongtang commented on #13097
@ZhongBaby See PR #12943 and issue #12941 .

[2017-09-17 16:25] guillaume-michel opened #13100 "- NEON XLA CPU runtime is not compiling because of missing plog function in Eigen"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: ('v1.3.0-0-g9e76bf324', '1.3.0')
- **Python version**: 3.4.3
- **Bazel version (if co

[2017-09-17 16:25] tillahoffmann opened #13101 "from_generator feedback and questions"
@mrry, thank you for implementing the `from_generator` method in `tf.data`. I just wanted to provide some feedback and ask a few more questions.

# Interface

In addition to having `generator` be a callable that returns an iterator, would it be possible to support iterators that aren't wrapped in a callable? E.g. instead of

[code]

also support

[code]

# Return types

`from_generator` does not s

[2017-09-17 17:28] abi-aryan opened #13102 "Trouble installing as well as uninstalling Tensorflow"
So as you can see here we have python and anaconda

[code]
Then installed Tensorflow using pip3 and tfBinaryURL eventually testing the installation-

[code]
So I tried uninstalling Tensorflow using pip uninstall tensorflow but again after the y/n prompt (typed "y")

[code]

If it's pre-installed as it says ideally the program #1 should work - but it doesn't.

Can you help, please?

[2017-09-17 17:33] oelmekki commented on #7648
Hi @collawolley,

Indeed, it was solved for me : the problem was that there's a different lib to install for using gpu, `tensorflow-gpu` instead of `tensorflow` ( more info here : https://stackoverflow.com/questions/42326748/tensorflow-on-gpu-no-known-devices-despite-cudas-devicequery-returning-a-pas ).

That being said, it's been a while since I haven't used tensorflow (I used it to generate word

[2017-09-17 17:38] metachi commented on #6766
I hit this issue.  After some investigating I realized I was feeding in an empty tensor.  Not sure if that is the only thing that can cause it, but that was my problem at least.

It was easy to fix, but it certainly would be nice if it threw a more descriptive error.

[2017-09-17 17:43] #11127 closed

[2017-09-17 17:49] yaroslavvb commented on #13095
Running out of memory is a common problem with neural networks, this is better for stackoverflow :)

[2017-09-17 17:49] #13095 closed

[2017-09-17 17:50] yaroslavvb commented on #13098
Maybe it's graph rewriting?
Could try

# linearize.linearize()
config = tf.ConfigProto(graph_options=tf.GraphOptions(optimizer_options=tf.OptimizerOptions(opt_level=tf.OptimizerOptions.L0)))
sess=tf.Session(config=config)

[2017-09-17 18:09] yongtang commented on #9560
I think this issue is related to issue #12156. Also related to PR #11852.

[2017-09-17 18:11] #12436 closed

[2017-09-17 18:30] #9717 closed

[2017-09-17 18:54] shreyneil commented on #13102
The tensorflow is not compatible  python version 3.6 , try installing it with version 3.5
Create the environment for tensorflow using anaconda using
conda create -n tensorflow python=3.5 anaconda

Try importing tensorflow after activating anaconda.
Hope it helps.

[2017-09-17 20:19] moisestg opened #13103 "Dropout hidden-to-hidden transition within an RNN"
`DropoutWrapper` allows to apply dropout to either the cell's inputs, outputs or states. However, I haven't seen an option to do the same thing for the recurrent weights of the cell (for example, 4 out of the 8 different matrices used in the original LSTM formulation). I specifically refer to the hidden-to-hidden transition within an RNN. Take as an example Section 2 from https://arxiv.org/abs/170

[2017-09-17 20:22] edgimar commented on #12997
I'm looking for a parse op -- something that can be included as part of a TF graph.

[2017-09-17 20:38] #11829 closed

[2017-09-17 21:09] dmacvicar commented on #13061
@gunan as I mentioned, given point 4.¹ bazel I see hard to to build with the requirements 1. 2. and 3. that most distributions have (maven is already a pain), so even if the bazel build files get improved to look for system libraries first, the problems with bazel, its bootstrapping and dragging of the maven ecosystem will prevail.

Do you see this different, that bazel can get properly packaged b

[2017-09-17 21:42] eyaler commented on #13060
i am seeing a similar issue when and only when doing:
pip install tensorflow -t project_folder
and then importing from the project_folder

[2017-09-17 21:49] hnsl opened #13104 "Fix tf.argmax/argmin documentation"
https://www.tensorflow.org/api_docs/python/tf/argmax

- The documentation does not explain what an "index" is. I can imagine a billion definitions of "index". Is it the same as the "index" in tf.one_hot?
- The documentation does not explain what happens if axis is set to None.
- "For vectors, use axis = 0.": Why?
- The documentation should clearly explain how the rank+shape of the returned tensor

[2017-09-17 22:30] yongtang commented on #8729
Added a PR #13105 for conv1d_transpose.

[2017-09-17 22:39] zyavrik commented on #12978
Can anybody crate pull request for those fixes?

[2017-09-17 22:43] tycho opened #13106 "no such package '@llvm//'"
Trying to build latest git tree (`git describe --tags` calls it `v1.3.0-rc1-2262-g74cfc64734`):

Surely the correct fix is *not* to just to change the expected checksum to match the observed one?

[2017-09-17 22:45] phg1024 commented on #12978
@zyavrik Did those fixes work for you? They need to be cleaned up for a pull request though. I don't have much time to do that right now...

[2017-09-17 22:49] tycho commented on #13106
Attempted the build a second time and it worked. I'm puzzled as to why this failed in the first place, because as far as I can tell, nothing changed. Both build attempts were done in fresh chroots, and the git repo didn't change either as far as I saw.

[2017-09-17 23:08] zyavrik commented on #12978
@phg1024, your fixes in code helped with some errors. Now I get the following errors:

[code]
Also I don't understand yet how "Building a standalone C++ Tensorflow program on Windows" hints can help to build python package.

[2017-09-17 23:21] phg1024 commented on #12978
When you use cmake to config the project, did you enable GPU? `__syncwarp` should be defined in `tensorflow/tensorflow/core/util/cuda_kernel_helper.h` already.

For the windows related post, you can get some idea about how to resolve undefined symbols issues if you ever want to build a c++ program using the compiled tensorflow library. It won't help you much if you only need to use the python API.

[2017-09-17 23:35] zyavrik commented on #12978
Yes, I did. My cmake command:

[code]

[2017-09-17 23:51] Corea commented on #12515
Closed via https://github.com/tensorflow/tensorflow/pull/12623

[2017-09-17 23:51] #12515 closed

[2017-09-17 23:52] phg1024 commented on #12978
Looks like `C:/tensorflow/tensorflow/core/kernels/bias_op_gpu.cu.cc` didn't include `tensorflow/tensorflow/core/util/cuda_kernel_helper.h`? Did you check if `tensorflow/tensorflow/core/util/cuda_kernel_helper.h` has `__syncwarp` defined?

[2017-09-18 00:05] zyavrik commented on #12978
No, `__syncwarp` is not defined in `cuda_kernel_helper.h` in the master revision.

[2017-09-18 00:10] zyavrik commented on #12978
I incorrectly merged your changes to the repository. The same files were changed recently. Thanks for your help!

[2017-09-18 00:16] daemon commented on #11339
It's in the nightly builds (e.g. `tensorflow/tensorflow:nightly-gpu-py3`).

[2017-09-18 00:27] daemon commented on #13031
audio_ops is available in their docker builds. This is somewhat along the lines of what I did:
1. `docker pull tensorflow/tensorflow:nightly-gpu-py3`
2. `nvidia-docker run -it -p 8888:8888 tensorflow/tensorflow:nightly-gpu-py3`
3. `docker exec -it jolly_lamport bash` (assuming Linux)
4. If you want to run the speech command example, it isn't Python 3 compatible. You'll need to fix the errors manua

[2017-09-18 00:30] zyavrik commented on #12978
Correctly applied fixes on the master revision: [tensorflow-patch.zip](https://github.com/tensorflow/tensorflow/files/1309489/tensorflow-patch.zip)

[2017-09-18 00:45] pronobis commented on #6602
I suppose #12860 is there now to track this problem. Generally, I'm looking for a better permanent solution, but again, that's what #12860 is for.

[2017-09-18 00:55] lecun commented on #11598
@zhedongzheng @ebrevdo  Thanks very much.

[2017-09-18 01:04] fastlater commented on #13035
@luoxiaoliaolan  did u make it run? I am trying to train with my own dataset also. Actually, I picked one class (person) and trying to ignore the other classes. However, the label and prediction images resulted are displayed as black. Then, when I try to inference, the result is incorrect. When I train the model using the original number of classes, 21, the result is ok. I read all the possible is

[2017-09-18 01:15] asanka94 commented on #13081
Hi viveky444,
  If you already installed anaconda ,try installing tensorflow with
   conda install -c conda-forge tensorflow

[2017-09-18 01:35] CDLuminate commented on #13061
Bazel packaging for Debian seems stuck for a long time because bazel doesn't meet Debian's policy. One of the developers working on it has told me that it's hard to get it done.

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=782654

I think the only linux distribution that ships bazel, tensorflow (and cudnn) in its official archive is Archlinux. https://www.archlinux.org/packages/?sort=&q=tens

[2017-09-18 01:43] luoxiaoliaolan commented on #13035
@fastlater  I'm very glad that we studied it together！！I encountered this problem for a long time, and I tried to slove it, but I failed. The key to the problem is that the train.py  is not able to read the training data into the queue. Maybe it is a bug of the lastest TensorFlow（v1.2） or it is a bug of the  tensorflow-deeplab-resnet , but its coder closed issue, and I can't read the Q&A.
I will c

[2017-09-18 02:05] zyavrik commented on #12978
Still get errors :(
[code]

[2017-09-18 02:11] phg1024 commented on #12978
I fixed this error in https://github.com/phg1024/tensorflow/commit/291f29533a510797f64e1f646b38aeea62238389

You need to explicitly instantiate it
[code]
Then you can just compile this very file in Visual studio and see if you get other errors. If not, go ahead and do the linking stage only.

[2017-09-18 02:23] peterfig commented on #9061
I'm having the same problem.  I'm on CPUs so we can rule out CPU/GPU issues.  Also occuring with Keras 2.0.8, TF 1.3, both python 2.7 and 3.5, and also a TF 1.4-dev compiled from sources.  This leads me to believe it's an input feed issue.

Another note, the same code and inputs run fine on my Macbook.  I'm getting the problem with a new install on a workstation.   It's a VirtualBox instance runni

[2017-09-18 02:36] rolai commented on #12073
@huangwenwenlili @JacquelineWang
Take `faster-rcnn` for example,  `py_func` is used to count the anchors and rois. The graph is splited into tow sub-graphs by the `py_func`:  `rpn` and `rcnn`.
1. restore the faster-rcnn checkpoint model file into two checkpoint files (for `rpn` and `rcnn`)
2. freeze each checkpoint files  into one pb file
3. assemble the two pb files
   3.1 run rpn network
   3.2

[2017-09-18 02:36] #12073 closed

[2017-09-18 03:08] zyavrik commented on #12978
Sorry for my mistake again! But still can't compile it... :(

[code]

[2017-09-18 03:12] xt479910344 commented on #3362
@beniz,the link https://github.com/beniz/deepdetect/blob/tf/src/tflib.cc#L197 has not been existed

[2017-09-18 03:16] Coderx7 commented on #13044
OK , Thanks to God, I could finally figure out what the issue was.
it seems in creating TFRecords, only jpeg images are supported and no where in the documentation this is indicated! also when you try to use other types, it does not issue any warnings or doesn't through any exceptions and therefore people like me lose an immense amount of time debugging something that could be easily spotted and f

[2017-09-18 03:16] xt479910344 commented on #3362
@ppries ,how do you change one image to a batch of image, What changes have been made in the file of label_image/main.cc

[2017-09-18 03:21] chandu1909 commented on #13009
@reedwm  I just updated my tensorflow and tried to run the program again. But, The error is completely insane. I don't understand why my university website link is in the error. Could you please explain me what's the error saying?

here is the error: (Filename is iristutorial)
Traceback (most recent call last):
  File "iristutorial.py", line 87, in <module>
    main()
  File "iristutorial.py", lin

[2017-09-18 03:22] zyavrik commented on #12978
`nsync_mu_rlock` is used in `tensorflow/core/platform/default/mutex.h` but never declared in the project. It looks like it's from the following project: https://github.com/google/nsync/blob/master/public/nsync_mu.h

[2017-09-18 03:24] zyavrik commented on #12978
Similar issue on Linux: https://github.com/tensorflow/tensorflow/issues/12810

[2017-09-18 03:30] phg1024 commented on #12978
It's one of the external dependencies. Try to find nsync under `cmake\build\external` and also the `cmake\build\nsync`. You should be able to find compiled `.lib` files and header files. Link them to the library you were trying to compile.

[2017-09-18 03:39] zyavrik commented on #12978
You are right - .h file and nsync.lib are there. But how can I link them? Sorry, I'm not C++ programmer, just trying to recompile tensorflow with AVX and AVX2 support to use with Pyhton...

[2017-09-18 03:47] jnjaby commented on #3332
Group  convolution is implemented in both Caffe and PyTorch. As now it slows down the inference stage when I reproduce them with `tf.split` and `tf.concat`, I think it's reasonable enough to be added as TF kernel.

[2017-09-18 04:05] zhenheny commented on #2415
Hi @gpapan ,

Do you have plan implementing atrous conv with general strides?

Thank you

[2017-09-18 04:11] ZhongBaby commented on #13097
Thanks! I have two more questions.
1. How long will PR[#12943](https://github.com/tensorflow/tensorflow/pull/12943) be merged?
2. And Do I need to wait for Tensorflow 1.4.0?

[2017-09-18 04:46] shafy commented on #5439
@jinhou I was facing the same issue and solved it by manually unfinalizing -> exporting -> re-finalizing the graph like they do here: https://www.bountysource.com/issues/43253488-is-there-anything-example-about-how-to-apply-model-saved-by-distribution-tensorflow-in-tensorflow-serving

Not sure if this is considered bad practice or what unintended consequences could be. However, it works and I didn