[2018-09-10 22:49] tfboyd opened #22201 "Fall 2018 Symposium Performance Talk Notes"
There were additional topics discussed that could not be turned into coherent notes after the fact.

## Action items
   * TensorFlow team to create a block diagram and then go deeper.  Goal is to help people who want to contribute plugins or extensions.
   * Make the NVIDIA Library to TF Version matrix more visible and consider better error messages.
   * Document tips and methods to use for large

[2018-09-10 22:59] Allan-Gong commented on #22180
@yongtang

Thanks for your response. Is it possible to post your configurations and the exact bazel build command ?

[2018-09-10 23:11] yongtang commented on #22180
My `./configure` options are all default (return only). And my bazel command is:
[code]

[2018-09-10 23:17] AlexFine commented on #17022
@jaiken06 or anyone, how did you downgrade to python 3.6? I installed python with yum on an ec2 instance and couldn't figure out how to downgrade correctly

[2018-09-11 00:01] okdzhimiev opened #22202 "Java version at Maven Central is built for CUDA 0.9 (==a bit too old)"
I have **libcublas.so.9.2** installed.
Please, update. And make it somewhat usable if possible.
Many thanks.

[code]

[2018-09-11 00:07] Allan-Gong commented on #22180
It must be the `EC2 instance type` then. Can you please inform the instance type you used ?

[2018-09-11 00:33] Allan-Gong commented on #22180
@yongtang

Sorry, did you build it in a docker container or did you started an EC2 instance ? If you were using an EC2 instance, which `EC2 instance type` did you choose (e.g. m5.large, t2.2xlarge)?

https://aws.amazon.com/ec2/instance-types/

[2018-09-11 00:48] yongtang commented on #22180
That was t2.xlarge on us-east-1 with AMI ami-0ff8a91507f77f867

[2018-09-11 00:57] tensorflowbutler commented on #22189
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-11 00:57] tensorflowbutler commented on #22190
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Mobile device

[2018-09-11 01:04] chenghuige commented on #22140
@allenlavoie How to add variables to a Model by assigning them to an attribute just like with sub-Layers ?  I could not find any related examples.  Something like self.abc = self.add_variable("abc", [1, 100], initializer=tf.ones_initializer(dtype=tf.float32)) in Model.__init__() will fail and error say '`add_variable` is not supported on Networks. However, you may assign variables to attributes an

[2018-09-11 01:22] pranasblk opened #22204 "Java API support from Gradle"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-11 01:38] allenlavoie commented on #22140
I'd use `tf.Variable`:

[code]

It's fine to create new Layers in your call() method for subclassed Models. Just make sure they only get created on the first call. I think you can also define a build() method for Models if you'd like.

[2018-09-11 01:38] myth01 commented on #21864
I am using r15b, still I see this degradation.

On Mon, Sep 10, 2018, 8:47 AM Jared Duke <notifications@github.com> wrote:

[2018-09-11 01:41] myth01 commented on #21864
What is also not clear is the commit id used with the release. I am using the tip of r1.9 branch.

[2018-09-11 01:43] RoderickAdriance opened #22205 "Python Tensorflow1.10.0 Pooling Invalid"
W1 = parameters["W1"]
    W2 = parameters["W2"]

    # 构建卷积
    Z1 = tf.nn.conv2d(X, W1, strides=[1, 1, 1, 1], padding='SAME')
    A1 = tf.nn.relu(Z1)
    # 池化
    P1 = tf.nn.max_pool(A1, ksize=[1, 8, 8, 1], strides=[1, 8, 8, 1], padding='VALID')  # 惊人发现,padding对池化没有起到任何的作用

    Z2 = tf.nn.conv2d(P1, W2, strides=[1, 1, 1, 1], padding="SAME")
    A2 = tf.nn.relu(Z2)
    P2 = tf.nn.max_pool(A2, ksiz

[2018-09-11 02:13] belarm commented on #18689
If you're not going to support non-AVX, at least improve your checks or errors. "Illegal instruction" in response to "import keras" is not helpful.

[2018-09-11 02:48] xiaoyunwu commented on #16093
Asim,
any update on using multi gpu with eager mode?
Thanks.

Xiaoyun

On Sat, Jul 14, 2018 at 12:39 AM Asim Shankar <notifications@github.com>
wrote:

[2018-09-11 03:07] skang29 commented on #22143
Hi,
Thanks for the solution.
I tried to apply your solution, it doesn't work.
I removed current container and I reinstalled **tensorflow/tensorflow:1.10.0-gpu-py3** image.
Right after installation, I only can find libnccl2 as shown below and code was not working.
[code]

So, I tried to install libnccl-dev as follows.
[code]
However, same problem.
Did I installed libnccl2 and libnccl-dev properly?

[2018-09-11 03:31] ekelsen commented on #5965
It means that we actually would really like GPU kernels for unique, but have to resort to running CPU implementations because there is no GPU option.  If you have a GPU implementation, then that would be great, please submit a CL.

[2018-09-11 03:32] raninbowlalala commented on #20684
@suharshs When dilated depthwise convolution will be supported? Thanks for your hard work!

[2018-09-11 03:32] zgxnet commented on #21817
@jdduke Have you prepared the change? I cannot see it on the master.

[2018-09-11 03:34] Elites2017 commented on #17729
I was trying to convert my frozen graph (.pb model) to . tflite using toco, I got the following error.
ValueError: Invalid tensors 'input' were found.

Any help please

[2018-09-11 03:41] suharshs commented on #20684
Hi sorry for the delay responding. I am working on it as we speak and I
expect all the necessary code to be done within 2 to 3 weeks. Thanks!

On Mon, Sep 10, 2018, 8:36 PM raninbowlalala <notifications@github.com>
wrote:

[2018-09-11 04:10] mobiusinversion commented on #17150
@Hvass-Labs @johntrimble @fchollet any word on a fix here?  I am facing this issue currently with:

    File "/home/david/.local/lib/python3.6/site-packages/keras/engine/training.py", line 787, in _standardize_user_data exception_prefix='target')
    File "/home/david/.local/lib/python3.6/site-packages/keras/engine/training_utils.py", line 127, in standardize_input_data 'with shape ' + str(data_sh

[2018-09-11 04:35] facaiy commented on #22192
@reedwm related to #21856?

[2018-09-11 04:43] facaiy commented on #22184
How about preprocessing your label with [tf.feature_column.weighted_categorical_column](https://www.tensorflow.org/api_docs/python/tf/feature_column/weighted_categorical_column) ?

[2018-09-11 04:52] ramaakkantvdas commented on #17022
please try using this link https://www.python.org/downloads/

or you might have to search it via google . i already had the installer file so hence i was saved of some worries .

Tensorflow works fine in python 3.6 . i had issues in 3.7 hence downgraded .

[2018-09-11 04:54] ruanjiandong commented on #19198
We need one more fix in eigen to fix the break introduced by the new eigen "block" feature. I created a pull request in eigen repo and reply here once it is merged.

The remaining changes (10+ files) can be done tensorflow repo. They're mostly for renaming symbols. @rmlarsen , I can make the tensorflow change if you haven't started.

[2018-09-11 05:08] dapurv5 commented on #19626
I see the error when using a simple
vocab_table.lookup() operation. Is there any workaround this to run it in eager mode?

[2018-09-11 05:30] Saltiyx commented on #21967
I have the same exact problem

[2018-09-11 05:38] AlexFine commented on #17022
@ramaakkantvdas I'm running on an EC2 instance, so I can't use a download link :/

[2018-09-11 05:43] yifeif commented on #20553
No worries @alanpurple. Glad it's fixed now!

[2018-09-11 06:02] johntrimble commented on #17150
@mobiusinversion so I'm not sure this is actually a bug. Check my [example above](https://github.com/tensorflow/tensorflow/issues/17150#issuecomment-399776510). In particular, notice how when I change the labels from having a dimension of `(32,5)` to a dimension of `(32,5,1)` the problem goes away. You can use `expand_dims` to add that extra dimension. Let me know if that solves your problem.

[2018-09-11 06:06] mikaelfs commented on #17411
I happened to reproduce this issue on a machine running an old CPU. Here is [the article that explains the possible options to resolve the issue](https://tech.amikelive.com/node-887/how-to-resolve-error-illegal-instruction-core-dumped-when-running-import-tensorflow-in-a-python-program/).

Those who want to install the latest TensorFlow for old CPU without AVX support but does not have the time to

[2018-09-11 06:17] ramaakkantvdas commented on #17022
@AlexFine : i have no idea about AWS instances , please check with the support . i am working on windows .so i have installed on it . so yours must be Linux instances . you might have to check with python community forums as there you might be getting some answers .

[2018-09-11 06:40] tensorflowbutler commented on #22201
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-11 06:45] Efaq commented on #22190
@tensorflowbutler Sure, I have just updated it.

[2018-09-11 06:46] inscite commented on #5639
I also experienced "KeyError: 'CSVDataset'" while loading protobuf (saved_model.pb) thru tf.saved_model.loader.load.
After declaring 'from tensorflow.contrib.data import CsvDataset', my app works like a charm!
Thx @iamgroot42 :) 👍

[2018-09-11 07:17] Efaq opened #22207 "Example in Keras guide does not work when training with tf.data datasets"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-11 07:30] yselivonchyk commented on #14580
@Aashit-Sharma, I think @saeed68gm solution could have been what I did.

From what I remember: there are 2 arguments of freeze_graph that do essentially the same thing but in a different way. If script fails to parse one it automatically assumes that the other one is the right one and a few nested calls later fails with an irrelevant error.
I think it helped when I tried different combination of p

[2018-09-11 07:39] skeydan commented on #22207
I can confirm, with yesterday's nightly

TensorFlow v1.11.0-dev20180910

I also now get

`Input 'b' of 'MatMul' Op has type float32 that does not match type float64 of argument 'a'.`

again.

[2018-09-11 07:44] Elites2017 commented on #20798
@MohammadMoradi How did you figure this out?

[2018-09-11 07:45] Elites2017 commented on #20798
@MohammadMoradi I have the same problem, I don't know how to solve it. Any help is welcomed !

[2018-09-11 07:45] GPrathap commented on #7641
Any update on this?

[2018-09-11 08:15] GPrathap opened #22208 "LookupError: No gradient defined for operation type: ResizeNearestNeighborGrad or ResizeBilinearGrad"
### System information:
- **OS Platform and Distribution**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version**:1.10.0
- **Python version**:2.7.x
- **CUDA/cuDNN version**:9.0.x
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:Nope
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the i

[2018-09-11 08:15] kartikeyasaxena1012 commented on #22192
As per I know Importing an old graphdef will trigger this behavior.

[2018-09-11 08:38] kacper1095 commented on #7712
Is it a good implementation of the PELU? In the paper there are lines like:
[code]
and
[code]
(regarding to ResNet-112). Still, your implementation introduces one parameter for each neuron, which is much more then the number mentioned in the paper. I suggest following change from:
[code]
to
[code]
Please, correct me if I didn't understand the paper correctly.

[2018-09-11 08:54] PaulWoitaschek commented on #12460
1.11.0 is released but not to jcenter. Can you please push the update to jcenter too?

[2018-09-11 08:59] offthewallace commented on #20874
I had the same issues

WARNING:tensorflow:Estimator's model_fn (<function model_fn at 0x7f1b5a16a320>) includes params argument, but params are not passed to Estimator.
2018-09-11 16:17:09.727266: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA
2018-09-11 16:17:09.728842: E tensorflow/stream_executor/

[2018-09-11 09:01] byronyi commented on #19626
@rohan100jain Any updates from your side?

[2018-09-11 09:09] kerolos commented on #16291
@ChengshuLi
I would like to ask you if you solved this issue. because i figured it out the same as you,  the allocator_type and visible_device_list  point to the same memory.
if you could provide me with the solution to avoid that form happen.
I am using Tensorflow 1.71, thanks in advance.

[2018-09-11 09:18] Talmaj commented on #22145
I didn't explain well. The code I posted works for me as well. The code that produced the error is a bit more complex (depends on tfrecords, etc.), but similar. Unfortunately I couldn't reproduce the error with simplified version of the code. It seems there is a problem that TransposeNHWCToNCHW is applied before DepthwiseConv2dNative, where instead it should leave NHWC. I have tried with tf-nightl

[2018-09-11 10:07] manchengfenxu opened #22209 "Does it support Android Neural Networks API?"
Have I written custom code N/A
OS Platform and Distribution Ubuntu 18.04
TensorFlow installed from anaconda
TensorFlow version 1.3.0
Bazel version N/A
CUDA/cuDNN version N/A
GPU model and memory N/A
Exact command to reproduce N/A
Mobile devic Pixel 2

[2018-09-11 10:49] huangbiubiu commented on #21756
@alextp To be more clear, for the second parameter (and the second return value), `grad_fn` accepts *original* variables (not the *gradient* of variables) and return the  *gradient* of variables, is that correct?

If that's correct, why not `grad_fn` accepts *gradient* of variables instead of *original* variables ( in order to be consistent with `grad_ys` (the first parameter))? In that case, we c

[2018-09-11 11:46] riklmr commented on #20067
I was also using Keras/Tensorflow inside Jupyter notebooks. The first notebook worked OK. The second gave the UnknownError: Fail to find the dnn implementation.
After closing the first notebook (Save + Close/Halt), the second notebook started to work again.
Note: both notebooks used the same CuDNNLSTM layer.

[2018-09-11 11:47] byronyi commented on #22081
Then you could try adding `perror("rdma_reg_read");` here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/gdr/gdr_memory_manager.cc#L703 and see what is the detailed error message.

[2018-09-11 12:05] chenghuige commented on #22140
@allenlavoie I see, thanks!

[2018-09-11 12:10] suneelkumargavara commented on #22189
Hi Team,

For android you guys provided the example for Speech to Text translation. But for iOS there is no such sample code. Could you confirm me whether this framework  has speech to text recognition or not for iOS. If it has please provide me the sample code to achieve Speech to Text in Objective C or Swift

Thanks

[2018-09-11 12:45] tensorflowbutler commented on #22202
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-11 12:45] tensorflowbutler commented on #22205
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-11 12:48] HowieChang7 opened #22211 "The latest process of building tensorflow serving"
Hi, friends, can someone tell me the latest process of building tensorflow serving? I have tried the methods provided by the official documentation, but it failed, I need your help.

[2018-09-11 12:50] GoingMyWay commented on #15604
@dhruvhacks Good. I think people should install the right version of tensorflow-gpu with the right version cuda.

[2018-09-11 12:56] superbobry commented on #21603
I see, thank you very much for the clarification. Closing the issue for now.

[2018-09-11 12:56] #21603 closed

[2018-09-11 13:11] wangshuaizs commented on #22081
As you have said, I modified the code to
[code]

[2018-09-11 13:17] zealthinker opened #22212 "Tensorflow with MKL Very Slow"
I am trying to reduce the time taken by an LSTM model using MKL. I use Tensorflow 1.10.0. I have give information about configuration I am using below. It will be great, if you can help me improve the speed of my model. Please let me know what more information you need. Thanks a lot!

CPU make and model (try lscpu; if your lscpu does not list CPU flags,
try running cat /proc/cpuinfo | grep flags |

[2018-09-11 13:28] mobiusinversion commented on #17150
@johntrimble that works.  This issue should probably be closed in favor of an enhancement, it is a bit of lint that adding the extra dimension is required.

[2018-09-11 13:32] NatLun091238 commented on #21991
Yes, you have misinterpreted a bug. I compile a code which reproduce the bug, namely **loss value does not update during the training**, on both Windows 10 and Ubuntu 16.04, as well as on TF 1.8 and TF 1.10.0.

[2018-09-11 13:44] gokul-uf commented on #12071
@yaroslavvb Thanks for the snippet!. Unfortunately, with eager execution enabled,
I get the following error
`AttributeError: Tensor.op is meaningless when eager execution is enabled.`

The following works with eager execution enabled

[code]

[2018-09-11 13:46] Q82822 opened #22213 "how to fix "tf.nightly-gpu" caused "nan" problem"
### System information
Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 16.04
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary): source
TensorFlow version (use command below): 1.11.0 (use tf-nigh

[2018-09-11 13:49] NatLun091238 commented on #21991
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes [the code to reproduce the bug](https://drive.google.com/open?id=1ahzI5vZQwqXB0TsjI8dSVCGGH7z-ut0f)
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: both, Windows 10 and Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsu

[2018-09-11 14:12] skye commented on #22189
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-09-11 14:12] #22189 closed

[2018-09-11 14:34] zakizhou commented on #22207
[code]

[2018-09-11 14:37] alextp commented on #21756
grad_ys is the "downstream" gradient of the outputs of your function; since
the variables are not outputs there is no gradient already computed wrt
them. If you want you can call tf.gradients or use the tf.GradientTape
yourself to compute the gradient wrt the variables to then modify it, but
we don't force you to do that since it would waste computation in eager
execution.

On Tue, Sep 11, 2018 at

[2018-09-11 14:56] Efaq commented on #22207
@zakizhou thank you for the code lines. This is indeed a workaround, but the issue is that either you shouldn't need to do that (IMO the conversion could be automatic), or, if you do need, this should be stated in the Keras guide (preferably with some explanation...).

Exactly the same issue has been closed as solved once (https://github.com/tensorflow/tensorflow/issues/20827), so I suppose this h

[2018-09-11 15:16] carlthome commented on #7712
Thanks for correcting this! 😃

[2018-09-11 15:36] Lafaiet commented on #18689
This worked great on my old xeon E5507. Thanks a bunch!!!!!

[2018-09-11 15:41] pwaller commented on #20208
The same problem exists for Beta - this is very confusing. Is it not implemented for beta?

[2018-09-11 15:53] jdduke commented on #21817
The CL is still in review internally, but should land in the next day or two. Thanks for your patience!

[2018-09-11 16:07] mtiitto commented on #20997
I was able to get the model working properly by using the Keras library so
my issues has been resolved.

Thank you for the help.

On Tue, Jul 24, 2018 at 12:52 PM Karmel Allison <notifications@github.com>
wrote:

--
Markus Ville Tiitto, Pharm.D.
PhD Student
Clinical & Experimental Therapeutics
Department of Pharmaceutical Sciences
University of Kentucky, College of Pharmacy
Lee Todd, Jr. Building

[2018-09-11 16:12] gunan commented on #21967
Maybe this?
https://github.com/protocolbuffers/protobuf/issues/5046

[2018-09-11 16:33] gargn commented on #22166
As documented [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/toco/g3doc/cmdline_reference.md) the `default_ranges_min` and `default_ranges_max` can lead to a drop in accuracy:

How are you generating the model? Additionally, can you provide the model file to help with debug what the conversion command should be?

[2018-09-11 16:53] okdzhimiev commented on #22202
You're welcome.

No, testing HelloTF.java from [here](https://www.tensorflow.org/install/install_java) TF GPU for Java.

Kubuntu 16.04 64x

https://mvnrepository.com/artifact/org.tensorflow/libtensorflow_jni_gpu ?

1.10.0

N/A

0.9.2

GeForce GTX 750 Ti

N/A

N/A

Thanks

[2018-09-11 16:53] GPhilo opened #22214 "C++ API: tensorflow::ops::Mul causes read access violation when second attribute is int constant"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes, see below
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: C++ API compiled from source
- **TensorFlow version (use command below)**: 1.10.0
- **Python version**: 3.5
- **Bazel version (if comp

[2018-09-11 16:56] GPhilo commented on #22214
Also, the same issue happens with `tensorflow::ops::Add` (and I assume more ops, these are just those I tested)

[2018-09-11 16:56] mmuratarat commented on #7005
it means;
dim0 -> dim1
dim1 -> dim0
dim2 -> dim2

[2018-09-11 17:07] jlebar commented on #22119
@d0k spent some time looking at this.  He was able to reproduce the high loss, with both XLA:GPU *and* XLA:CPU.  Still unclear what's going on.

One question for you is, do you have a way we can reproduce the `Check failed: status == CUDNN_STATUS_SUCCESS (7 vs. 0)` error?  That may be separate.

[2018-09-11 17:16] robieta commented on #22205
Could you provide a concrete example (i.e. creating explicit tensors) where you think the shape is not correct?

[2018-09-11 17:55] rokij6698 opened #22215 "How to get max and min x and y of bounding boxes from Object_detection_image.py?"
this is the link of the image:
https://ibb.co/nbLjc9

After I print the "boxes" variable, it gives an array of numbers.

When I change the values inside, the bounding box changes too.

So, I am pretty sure those are the values will give different size and location of bounding boxes.

However, how can I get the max and min bounding box from this array?

like max y = 1920, max x = 1080, min y = 0, m

[2018-09-11 17:57] alextp commented on #19017
Sorry, I don't have context and I see a lot of discussion in this bug. Can you restate what is the actual issue that is still unresolved?

Also, I see variables and control dependencies; does enabling resource variables (tf.enable_resource_variables() on nightly) make the issue go away?

[2018-09-11 18:34] gargn commented on #21986
The list of supported ops are available [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/g3doc/tf_ops_compatibility.md). The two recommended solutions are:
1. Add a custom op as described [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/g3doc/custom_operators.md).
2. Only use the ops that are currently supported by TFLite in you

[2018-09-11 18:34] #21986 closed

[2018-09-11 18:40] gargn commented on #21429
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-11 18:40] #21429 closed

[2018-09-11 18:52] tensorflowbutler commented on #22208
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
Bazel version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-11 18:52] tensorflowbutler commented on #22209
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-11 18:52] tensorflowbutler commented on #13341
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-11 18:53] tensorflowbutler commented on #18858
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-11 18:53] tensorflowbutler commented on #19222
Nagging Assignee @chsigg: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-11 18:53] tensorflowbutler commented on #19407
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-11 18:53] tensorflowbutler commented on #20523
Nagging Assignees @karmel, @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-11 18:53] tensorflowbutler commented on #20629
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-11 18:53] tensorflowbutler commented on #20718
Nagging Assignee @achowdhery: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-11 18:53] tensorflowbutler commented on #20812
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-11 18:53] tensorflowbutler commented on #20950
Nagging Assignee @michaelisard: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-11 18:53] tensorflowbutler commented on #20972
Nagging Assignee @poxvoculi: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-11 18:53] tensorflowbutler commented on #21211
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-11 18:53] tensorflowbutler commented on #21573
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-11 18:53] tensorflowbutler commented on #21675
Nagging Assignee @drpngx: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-11 18:54] tensorflowbutler commented on #21786
Nagging Assignee @anj-s: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-11 18:54] tensorflowbutler commented on #21835
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-11 18:54] tensorflowbutler commented on #21913
Nagging Assignees @asimshankar, @martinwicke: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-11 19:00] vishalsubbiah opened #22216 "tensorflow.python.framework.errors_impl.NotFoundError: No registered 'Empty' OpKernel for XLA_CPU devices compatible with node Empty"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Centos 7.4.1708
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: NA
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use co

[2018-09-11 19:04] alancneves commented on #394
I've had a problem running **darknet** detector on ubuntu in multiuser environment. To solve the issue, i've exported CUDA_CACHE_PATH variable as: `export CUDA_CACHE_PATH=/tmp/nvidia`

[2018-09-11 19:12] skulhare commented on #20718
Great timing @tensorflowbutler :)
@achowdhery, I followed your medium article and trained a quantized SSDMobilenet. After the training, I export the graph with export_tflite_ssd_graph.py script. Now I am using toco/tflite_convert to convert .pb to .tflite but I am getting this error :

   File "/usr/local/bin/tflite_convert", line 11, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3

[2018-09-11 19:14] TGithubbr commented on #22099
I just tested it on linux and it works perfectly allright. So if you at any time get the chance to test the windows build for yourself please check this bug out. I have not enough experience in this field to find the issue for myself

[2018-09-11 19:18] poxvoculi commented on #20998
I'm going to call this 'contributions welcome'.  I agree that debug printing should not run for a long time, but since I don't believe this ever occurs on our internal platforms it's hard to reproduce and come up with a solution.

[2018-09-11 19:20] ebrevdo commented on #21573
I think it's nondeterministic on CPU (have to check).  On GPU we use [atomic operations](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/scatter_nd_op_gpu.cu.cc#L47).  So while the order of adds is not consistent, which may lead to numerical differences, at least we aren't overwriting values.

[2018-09-11 19:43] joeyearsley commented on #22119
I’ll try reproducing that result with the mnist example.

We’ve also been seeing weird things with TF 1.10 and cuda streams but that’ll be another issue created after a bit more investigation - the CUDA error might be more related to that.

[2018-09-11 19:48] bhagatindia opened #22217 "Session run options for configuring the timeout of a run is not working as expected"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: no
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command belo

[2018-09-11 19:49] EduGonzalez commented on #21516
I have fixed the issue using the below tolls versions:
![image](https://user-images.githubusercontent.com/7471085/45383803-39adf580-b5da-11e8-9615-35ecc28ab936.png)

regards

[2018-09-11 19:49] #21516 closed

[2018-09-11 19:52] martinwicke commented on #22087
I agree that would be fantastic. However, changing CUDA versions often means changing drivers and code. We strongly believe that we should only release official builds that are thoroughly tested, and I we cannot properly test and release several CUDA/cuDNN versions.

Note that while 18.04 switched the default CUDA version, you can simply request a different version of CUDA when installing with apt

[2018-09-11 19:52] #22087 closed

[2018-09-11 19:55] gunan commented on #22153
Virtualenv is a red herring, tensorflow does not yet work with python 3.7
We are waiting for all of our dependencies to merge python 3.7 support.

Closing as duplicate of https://github.com/tensorflow/tensorflow/issues/20517

[2018-09-11 19:55] #22153 closed

[2018-09-11 19:58] allenlavoie commented on #22062
I see, probably fixed by https://github.com/tensorflow/tensorflow/pull/21005

[2018-09-11 20:02] shashishekhar commented on #22183
@PennySHE : Can you use a newer version of NDK, this should not be an issue with the newer versions of NDK.

[2018-09-11 20:07] ybsave commented on #22062
Thank you for the reference, @allenlavoie. It seems that I have to wait until they fixed the numpy array serialization.

[2018-09-11 20:26] whyboris commented on #18858
Seems like a good feature to have. Unsure if the above @tensorflowbutler message means the issue is going to get auto-closed or it means the issue will now get more attention. Either way -- saying 'seems like a good feature to have' 😉

[2018-09-11 20:28] csiz opened #22218 "Tensorflow hangs when running `broadcast_to` op"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: ---
- **TensorFlow installed from (source or binary)**: binary via pip install tensorflow-gpu
- *

[2018-09-11 20:28] ciribellialvaro commented on #17022
Hello Alex,

You can try unistall the python 3.7 on the control panel, then, download
the python 3.6 and install.

But, the lesson 234 of the course Machine Learng, I only did on the Visual
Studio Code...

Tks

*Álvaro Ciribelli Borges*

Em ter, 11 de set de 2018 às 01:58, Ramakanth Das <notifications@github.com>
escreveu:

[2018-09-11 20:41] skye commented on #18039
Is this still an issue with the latest release?

[2018-09-11 20:41] cy89 commented on #18858
@jart, gentle ping: could you please advise or delegate?

[2018-09-11 21:15] MichaelKonobeev commented on #9368
I'm trying to port the nonsparse solution to this case. Seems easy enough for my first contribution :)

[2018-09-11 21:35] wt-huang commented on #22215
If you are trying to get the min/max x and y from the array in your output, simply read the output into ndarray using numpy then find the min and max.

[2018-09-11 21:50] mikhailkin commented on #19667
Hi, @tatianashp!
What do you mean? All info is provided.

[2018-09-11 21:55] balloch commented on #17702
this is still a bug, and there isn't a known cause. please reopen

[2018-09-11 22:28] srvasude commented on #21433
Hi!
  Are you still seeing this issue? I ran this example on a newer version of tensorflow (1.10) and also on tensorflow_probability (for which distributions are migrating to) without issue (no error for the commented out line).

[2018-09-11 22:34] wt-huang commented on #4044
This issue was created for an old TensorFlow version. If you still face the same problem with the new version, please file a new issue.

[2018-09-11 22:34] #4044 closed

[2018-09-11 22:45] cy89 commented on #20308
@rmlarsen is this something you've got an opinion about? Seems like it might be about deterministic numerics.

[2018-09-11 23:28] rosecatherinek commented on #1511
@yangl326-Dylan
Looks like I posted about 2 years back - so, I don't remember exactly.
What I think I did at that time was to convert it to a regression problem instead of a classification - that was possible in my case. I don't think it would be an option for everyone.
I couldn't get the cast and arg_max gradients to work - but I didn't dig deeper since I was chasing a deadline at that time. Than

[2018-09-11 23:37] poxvoculi commented on #22025
@qlzh727 Could you take a look at this?  Is it expected behavior?

[2018-09-11 23:38] alxfed commented on #17411
This is BS. I rolled my installation back to 1.9 (not 'before 1.6' as you say in this article) and the binary worked (the day before yesterday).

[2018-09-11 23:41] harshini-gadige commented on #720
Closing the issue as per the solution provided above. Can reopen the issue if it still exists.

[2018-09-11 23:41] #720 closed

[2018-09-11 23:48] qlzh727 commented on #22025
Not sure why I am cc'ed here, if I was showing up from the change history, I guess that was because I was on sync rotation for PRs. Probably should find someone who is the real owner of maxpooling_op.cc

[2018-09-11 23:50] girving opened #22221 "Threading data out of one while loop into another interferes with gradients"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS 10.13.6
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: `b'v1.9.0-rc2-3217-g8e5c118ce8' 1.10.0`
- **Python version**: 3.6.2
- **Bazel version (i

[2018-09-12 00:09] gunan commented on #22186
@meteorcloudy could you take a look?

[2018-09-12 00:27] maciejewskimichal commented on #20778
For me it worked too for my anaconda3 environment!!!
I have deleted \anaconda3\envs\test\Lib\site-packages\tensorflow folder
and run:
`pip uninstall tensorflow`
`pip uninstall tensorflow-gpu`
`conda install tensorflow-gpu`

[2018-09-12 00:28] gargn commented on #21368
I was able to get the following code working with last night's tf-nightly. It is based off of the Python code that you provided. The main difference is that it freezes the graph and converts the Flatbuffer to a TFLite model within the Python code itself. Can you clarify if this is what you are looking for:

[code]

[2018-09-12 00:40] nfelt commented on #21891
@ToonTalk this seems to happen for any search input text at all (e.g. "x"), not just japanese or hindi inputs - does that match what you're seeing?

I ran this through the debugger and it seems to be coming from this line triggered when `p.index` is 19999:
https://github.com/tensorflow/tensorboard/blob/1.10/tensorboard/plugins/projector/vz_projector/util.ts#L157

On loading the page, I noticed a m

[2018-09-12 00:48] poxvoculi commented on #20773
@aaroey Can you take a look at this.

[2018-09-12 00:59] cdluminate commented on #720
Yes this issue has been resolved. The first upload of TF is currently waiting in Debian's upload queue.

[2018-09-12 00:59] tensorflowbutler commented on #22211
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-12 00:59] tensorflowbutler commented on #22212
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
OS Platform and Distribution
Exact command to reproduce

[2018-09-12 01:01] martinwicke commented on #20865
It's as @FarhanTejani said.

[2018-09-12 01:01] #20865 closed

[2018-09-12 01:07] harshini-gadige commented on #22218
@csiz    I tried running the same program in Linux environment using Python 2.7 with TensorFlow 1.10 version and broadcasting a dynamic shape works fine here without any stuck. Below is the result for the same.

Output :
('Version', 'v1.10.0-0-g656e7a2b34', '1.10.0')
('Inputs:', [0.0, array([ True, False]), array([2], dtype=int32)])
('Broadcast:', array([0., 0.], dtype=float32))
Never reached

Can

[2018-09-12 01:08] harshini-gadige commented on #720
Great !!

[2018-09-12 01:09] rosbo commented on #4674
@gunan, sorry to revive this thread (I am happy to create a separate issue if you prefer), but you mentioned:

I did just that (on a machine without a GPU but with nvidia drivers installed and `CUDA_VERSION` and `NVIDIA_VISIBLE_DEVICES` to ``) and it works but I still get these annoying log messages the first time I create a session:

[code]

Is there another environment variable I can set to prev

[2018-09-12 01:12] shivaniag commented on #22207
@pavithrasv is this still an issue?

[2018-09-12 01:33] taotaolin opened #22222 "The latest process of building tensorflow serving for windows"
**Have I written custom code**  in /tensorflow/contrib/cmake/CMakeLists.txt
[code]

changed to

[code]

**OS Platform and Distribution**    windows7 x64
**TensorFlow installed from**    sourse
**TensorFlow version**  r1.10
**Bazel version** N/A
**CUDA/cuDNN** version 9.0/Cudnn 7.0
**GPU model and memory** 1080Ti / 11G
**Exact command to reproduce**

**1. Cmake build:**
[code]

**2. Visual studio 2

[2018-09-12 01:35] smit-hinsu commented on #21226
This issue should have been fixed now after the following change.
https://github.com/tensorflow/tensorflow/commit/cfdc46956574de703df2251ac52d30e593d8d417#diff-dacd84efa9d7e0ac640165c911203745

Please reopen if further changes are required. Thanks for reporting this issue.

[2018-09-12 01:35] #21226 closed

[2018-09-12 01:36] smit-hinsu commented on #21467
Duplicate of #21226

[2018-09-12 01:36] #21467 closed

[2018-09-12 02:13] #22133 closed

[2018-09-12 02:15] superghm commented on #559
Solve with pip:
`pip install --upgrade --force-reinstall numpy`

[2018-09-12 02:27] jackonan commented on #22137
@drpngx Hi, do you have some updates?

[2018-09-12 02:49] gunan commented on #4674
You may be able to set TF_CPP_MIN_LOG_LEVEL, but that may also block any errors you may have during graph creation and execution.

[2018-09-12 03:13] mikaelfs commented on #17411
If you run this on command line:

1)

    $ lsb_release -a| grep "Release" | awk '{print $2}'

2)

    $ grep flags -m1 /proc/cpuinfo | cut -d ":" -f 2 | tr '[:upper:]' '[:lower:]' | { read FLAGS; OPT="-march=native"; for flag in $FLAGS; do case "$flag" in "sse4_1" | "sse4_2" | "ssse3" | "fma" | "cx16" | "popcnt" | "avx" | "avx2") OPT+=" -m$flag";; esac; done; MODOPT=${OPT//_/\.}; echo "$MODOPT";

[2018-09-12 03:30] mrry commented on #22011
As @yongtang pointed out, this is working as intended.

(Note that this API is now deprecated, and will be removed in TensorFlow 2.0. We recommend that new code uses `tf.data`.)

[2018-09-12 03:30] #22011 closed

[2018-09-12 03:44] weberxie commented on #20661
@feihugis You can make a dummy call for session->Run after the model was loaded.

[2018-09-12 03:49] mtian2018 commented on #17411
Same error here,

CentOS 7, Python 3.6.5, Intel CPU core2 duo e8500. pip install.

version 1.9 does't work. version 1.5 imports ok.

[2018-09-12 06:04] dinever commented on #17067
I believe @dtrebbien has removed his repo. If you need a protobuf version that will compile, use mine:

[code]

[2018-09-12 06:06] zheolong opened #22223 "【Bug】tf.unstack did not work with tf 1.8 CudnnGRU tensors"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
[code]
- **Mobile device**
[code]

- **TensorFlow installed from (source or binary)**:
anaconda tf 1.8
- **TensorFlow version (use command below)**:
[code]
- **Python version**:
[code]
- **CUDA/cuDNN version*

[2018-09-12 06:44] tensorflowbutler commented on #22221
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Mobile device

[2018-09-12 06:45] eaplatanios commented on #21524
@av8ramit That's great and sufficient for me as I only need links. I notice though that there is no option for mac binaries. Are those available too? I tried changing the platform name to "darwin" for the CPU links you posted, but couldn't get a valid link. Thanks a lot! :)

[2018-09-12 06:45] Paul0M opened #22224 "Eeager Mode:sigmoid_cross_entropy_with_logits expects int32 but not float tensor"
### System information
OS: ubuntu 1604
Virtual Env:Conda
TF Version:1.10
Python:3.6.6

[code]
Error: here can be seen the type of logits is float32, same as the requirement of  [sigmoid_cross_entropy_with_logits](https://www.tensorflow.org/api_docs/python/tf/nn/sigmoid_cross_entropy_with_logits).
So I'm curious where's wrong.
[code]

[2018-09-12 07:03] eladweiss commented on #22077
@shimonran +Shimon.

[2018-09-12 07:04] eladweiss commented on #22077
Hi wangshuzaizs, did you get any error messages in the log?

[2018-09-12 07:06] dargilboa opened #22226 "Orthogonal initialization gives inaccurate result when running on GPU"
### System information
- **Have I written custom code**: see example below
- **OS Platform and Distribution**:Google Colabratory (also in compiled code on Linux)
- **Mobile device**: N/A
- **TensorFlow installed from (source or binary)**: Google Colabratory
- **TensorFlow version (use command below)**: 1.10.1
- **Python version**: 2.7.14
- **Bazel version (if compiling from source)**:  N/A
- **GCC

[2018-09-12 07:12] Paul0M commented on #22224
logits should be same as labels

[2018-09-12 07:12] #22224 closed

[2018-09-12 07:33] wangshuaizs commented on #22077
@eladweiss

Hi,  eladweiss

Here are the commands:

PS:
[code]

Woker:
[code]

And their outputs:

PS:
[code]

Worker:
[code]

The relative configuration of network is as the following:

PS
[code]

Worker:
[code]

[2018-09-12 07:43] tataganesh95 commented on #14586
The link to the TF lite makefile posted by @JulianNeeleman is no longer available. Can someone update it with the new link? It is probably shifted here - https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/lite/tools/make

[2018-09-12 07:46] ed-alertedh commented on #5719
FYI the error I reported above was addressed in https://github.com/tensorflow/tensorflow/commit/6bcc00668094be8daf8465b8689bbed5ab285b2d and running the script I posted in the same windows env with tf 1.10 no longer throws an error.

[2018-09-12 07:50] manslogic commented on #20499
No reinstalling did not worked for me

[2018-09-12 07:51] manslogic commented on #20499
D:\RasaChatBot_Workspace\RasaChatBot\main\rasa_core_api>pip uninstall tensorflow
Uninstalling tensorflow-1.8.0:
  Would remove:
    c:\users\tmpl1672\appdata\local\programs\python\python35\lib\site-packages\tensorflow-1.8.0.dist-info\*
    c:\users\tmpl1672\appdata\local\programs\python\python35\lib\site-packages\tensorflow\*
    c:\users\tmpl1672\appdata\local\programs\python\python35\scripts\fre

[2018-09-12 07:53] manslogic commented on #20499
D:\RasaChatBot_Workspace\RasaChatBot\main\rasa_core_api>pip uninstall tensorflow
Uninstalling tensorflow-1.8.0:
  Would remove:
    c:\users\tmpl1672\appdata\local\programs\python\python35\lib\site-packages\tensorflow-1.8.0.dist-info\*
    c:\users\tmpl1672\appdata\local\programs\python\python35\lib\site-packages\tensorflow\*
    c:\users\tmpl1672\appdata\local\programs\python\python35\scripts\fre

[2018-09-12 07:59] Zantares opened #22229 "intra_op_parallelism_threads will be invalid if call any API initialized device"
### System information

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow):** Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04):** (Red Hat 4.8.5-16)
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile devic:** n/a
- **TensorFlow installed from (source or binary):** source
- **TensorFlow version (us

[2018-09-12 08:09] taotaolin commented on #19893
I am having the same issue,how to solve it?。

[2018-09-12 08:26] failure-to-thrive commented on #17411
This is stated at https://www.tensorflow.org/install/install_sources
**Note: Starting from 1.6 release, our prebuilt binaries will use AVX instructions. Older CPUs may not be able to execute these binaries.**

I think that might have been mentioned at the much more prominent location!

[2018-09-12 08:42] meteorcloudy commented on #22186
@jaros3
I believe this is because the `build_pip_package.sh` script failed to recognize you are running on Windows platform. It shouldn't reach the cp command at all.
See

https://github.com/tensorflow/tensorflow/blob/4dcfddc5d12018a5a0fdca652b9221ed95e9eb23/tensorflow/tools/pip_package/build_pip_package.sh#L67-L72

Which bash are you using? I guess the `PLATFORM` env wasn't `msys_nt`? We should f

[2018-09-12 08:54] cjr0106 commented on #14731
how to define own model for object_detection? like mobilenet_ssd v2

[2018-09-12 08:55] meteorcloudy commented on #22186
Can you try to modify `is_windows` function to
[code]
And then rerun?

[2018-09-12 09:18] dlml opened #22232 "encrypt the tflite model"
I want to encrypt the tflite model, what should I do?

[2018-09-12 09:19] jaros3 commented on #22186
Yes, this should do the trick — my `${PLATFORM}` was `mingw64_nt-6.1`

I'll report back after build completes

[2018-09-12 09:41] enochkid opened #22233 "ssd_mobilenet_v2 frozen model size much larger than ssd_mobilenet_v1"
Hi, comparing the pre-trained models published on tensorflow object detection model zoo, why the frozen_model/check_point/saved_model of ssd_mobilenet_v2_coco is much larger than the ones of ssd_mobilenet_v1_coco? mobilenet v2 should be more lite than mobilenet v1.

[2018-09-12 09:42] jaros3 commented on #22186
It now calls Python incorrectly:
[code]

[2018-09-12 09:44] meteorcloudy commented on #22186
Do you have `python` in your `PATH`?

[2018-09-12 09:45] meteorcloudy commented on #22186
Is `D:\Program Files\Python350` the correct python directory? Maybe it should be `D:\Program Files\Python36`?

[2018-09-12 10:03] jaros3 commented on #22186
I've corrected the path, but Bazel insists on using old one. Guess I'll make a full rebuild

[2018-09-12 10:31] meteorcloudy commented on #21880
@elvys-zhang Can you provide the exact error message Bazel output? I'm not able to reproduce the same issue on my Linux machine.

[2018-09-12 10:42] OneMoreSecond opened #22234 "[Bug] Keras TimeDistributed Concatenation"
### System information
- **Code**:
[code]
- **OS Platform and Distribution**: Windows server 2016
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 'v1.10.0-rc1-19-g656e7a2b34' 1.10.0
- **Python version**: 3.6.6
- **CUDA/cuDNN version**: CUDA 9.0, cuDNN 7.0
- **Have I written custom code**: all the same as above code
- **Bazel version** : N/A

[2018-09-12 10:51] w3x10e8 commented on #22232
Someone already asked this earlier [here](https://github.com/tensorflow/tensorflow/issues/21501)

[2018-09-12 11:02] PhilipMay opened #22235 "TF 1.10 needs CUDA 9.2 - put info in release notes"
Hi,
TF 1.10 needs CUDA 9.2 now. I am missing this info in the RELEASE.md file.
I suggest to add that. Did cost me a lot of time installing the different CUDA versions...

What do you think?

Even this documentation is "wrong" about this:
https://www.tensorflow.org/install/install_linux#tensorflow_gpu_support

Thanks
Philip

------------------------

Added informations (that do not matter) as reque

[2018-09-12 11:22] pj-parag opened #22236 "Error restoring checkpoint: BeamSearchDecoder"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows7, CPU
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: NA
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command

[2018-09-12 12:02] Raj-08 commented on #4044
@Kongsea @petewarden @wt-huang  I have maintained version consistency , but still i am not able to solve it
Operating System: Ubuntu 14.04 LTS 64-bit
Tensorflow - 1.4.0
So i have trained a model , froze it and performed optimization (https://petewarden.com/2016/09/27/tensorflow-for-mobile-poets/) , graph transformation (https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/graph_tr

[2018-09-12 12:03] Raj-08 opened #22237 "Graph_def is invalid at node u'ExpandDims': Input tensor 'image_ph:0' Cannot convert a tensor of type float32 to an input of type int32"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-12 12:04] #22237 closed

[2018-09-12 12:10] Raj-08 opened #22238 "TENSORFLOW quantize_graph.py throws error : Graph_def is invalid at node error"
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:NA
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:14.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:NA
- **TensorFlow installed from (source or binary)**:PIP and BAZEL
- **TensorFlow version (use command below)**: 1.10
- **Python

[2018-09-12 12:36] Rob1datta commented on #16091
I also had this error while converting pnet.pb to tflite ,it suggested that max is not supported by tflite
i just added --allow_custom_ops flag and the model is converted

[2018-09-12 12:38] joeyearsley commented on #22119
Trying to reproduce the CUDNN error, so far no luck as it is extremely stochastic.

Seems to be happening more frequently when there's a batch size which causes:
`Allocator (GPU_0_bfc) ran out of memory trying to allocate 2.06GiB. The caller indicates that this is not a failure, but may mean that there could be performance gains if more memory were available.`

and when there are multiple GPUs.

F

[2018-09-12 12:40] tensorflowbutler commented on #22222
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
CUDA/cuDNN version
Mobile device

[2018-09-12 12:40] tensorflowbutler commented on #8652
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-12 12:40] tensorflowbutler commented on #12948
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-12 12:40] tensorflowbutler commented on #19568
Nagging Assignee @asimshankar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-12 12:41] tensorflowbutler commented on #20600
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-12 12:41] tensorflowbutler commented on #20644
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-12 12:41] tensorflowbutler commented on #20843
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-12 12:41] tensorflowbutler commented on #21492
Nagging Assignee @karmel: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-12 12:41] tensorflowbutler commented on #21751
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-12 12:41] tensorflowbutler commented on #21819
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-12 12:41] tensorflowbutler commented on #21845
Nagging Assignee @andrewharp: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-12 12:41] tensorflowbutler commented on #21897
Nagging Assignee @yuefengz: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-12 12:48] cipri-tom commented on #8858
Thank you @Miffyli ! I have re-done your analysis for a project of mine which was causing the machine to reboot and I also notice power draws beyond the GPU specification, namely up to 290 watts with a 1080Ti, which is rated at 250 W.

![image](https://user-images.githubusercontent.com/2991890/45425682-6295bf80-b69a-11e8-8aed-060c4bf9fd31.png)

However, I have a PSU of 1000 W, and only 1 GPU out o

[2018-09-12 12:58] joeyearsley commented on #13632
Still there with 1.10.1 with CUDA 9.2 and cudnn 7.2

[2018-09-12 12:59] godefv commented on #18058
This is also a big issue for me.

I have:
batch size=1
number of samples=75520
number of classes=358287

In this context, allocating a tensor of shape (batch size, number of samples, number of classes) is crazy. If there is a trade-off with speed, an alternate function would be welcome, so that the user can choose what he needs.

[2018-09-12 13:06] Miffyli commented on #8858
@cipri-tom

I should have added that these components are designed to handle occasional and short spikes above their designed draw, so with good components these kind of draws shouldn't create issues.

You could try reducing your overall draw by e.g. using smaller batches or forcing it via nvidia-smi with:
[code]
For me the former worked and reduced average draw by 20W. I do not if setting power-l

[2018-09-12 13:14] PengQi220 opened #22239 "configure.gpu_options.per_process_gpu_memory_fraction = 1，case OOM"
### System information

- **Have I written custom code**: N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: CentOS Linux release 7.3.1611 (Core), but that does not matter
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: ('v

[2018-09-12 13:30] Brolock commented on #21573
Hey, thanks for the answer!

We checked and the operation is deterministic on CPU.
It still seems that the [documentation](https://www.tensorflow.org/api_docs/python/tf/scatter_nd_update) of scatter_nd_update should reflect the fact that replacing multiple times the same index is non deterministic on GPU.

Something similar to scatter_nd : "WARNING: The order in which updates are applied is nondet

[2018-09-12 13:30] #21573 closed

[2018-09-12 13:35] gerbenvv commented on #22095
@robieta Any progress?

[2018-09-12 14:27] #5719 closed

[2018-09-12 14:35] loretoparisi commented on #6720
please fix this!

[2018-09-12 14:59] yongtang commented on #19667
@mikhailkin In the documentation:
[code]

It looks like if the rank is 3, then the expected input is `HWC`. So the `N` (batch) will be added instead, which will be dim 0.

I think this might be expected behavior?

[2018-09-12 15:09] wt-huang commented on #22232
Closing this issue since this is a duplicate

[2018-09-12 15:09] #22232 closed

[2018-09-12 15:15] csiz commented on #22218
Hi @harshini-gadige thanks for looking into this. Seems like it's a problem with `tensorflow-gpu` in particular. I ran the script in 3 new cases:

1. On Windows subsystem for Linux, it works with a fresh install of `pip3 install tensorflow`.
2. On a new virtual environment in Windows, it works with `pip install tensorflow`.
3. On a new virtual environment in Windows, it *doesn't* work with `pip in

[2018-09-12 15:19] csiz commented on #22218
Also works when forcing the `broadcast_to` op to be put on CPU:
[code]

[2018-09-12 15:46] wt-huang commented on #22238
Have you tried the latest TensorFlow version?

[2018-09-12 15:48] kcgthb commented on #1415
This is because some Python module pretend to support Python 2.x but rely on features introduced in Python 3.3, such as implicit namespace packages ([PEP 420](https://www.python.org/dev/peps/pep-0420)). And Google's `protobuf` seems to expect everybody to be running a Python version that support native namespace packages.

This is all detailed in https://packaging.python.org/guides/packaging-names

[2018-09-12 15:52] #21817 closed

[2018-09-12 16:01] theacodes commented on #1415
Hi there, I'm the author of https://packaging.python.org/guides/packaging-namespace-packages/ and the "gatekeeper" as such of the `google` and `google.cloud` package namespaces.

This isn't true. We use pkg-resources namespaces for `google` and `google.cloud` for the broadest compatibility. This works fine on Python 2.7. We can't switch to any other without a coordinated release of several hundred

[2018-09-12 16:08] allenlavoie commented on #20499
@manslogic please try uninstalling, deleting the files, then installing again. The issue is stale files sticking around.

[2018-09-12 16:38] harshini-gadige commented on #17839
Closing this issue as a PR is created for the same.

[2018-09-12 16:46] rosbo commented on #4674
Thank you @gunan but like you mentioned, hiding errors isn't ideal for our users.

You mentioned above that "we have a few initiatives which can help with this issue in the long term", do you have any issues tracking these?

[2018-09-12 16:55] verypolitemoose commented on #18764
It would be an overstatement to say that the gradient is a zero for nearest neighbor. Rather, it is zero almost everywhere :)
I would be interested in this one as well.

[2018-09-12 16:58] theerfan commented on #16861
I have been experiencing the same problem, but I checked and my CPU (Intel SkyLake) supports avx instructions, also I couldn't find any equivalents for the wheel that @fo40225 had provided.
I'm using Python 3.7 and TensorFlow 1.10.0 on Windows 10, not using Anaconda or anything.

Here's the entire stack trace:
`Traceback (most recent call last):
  File "C:\Users\there\AppData\Local\Programs\Python

[2018-09-12 17:08] qlzh727 commented on #19084
Sorry for the very late reply. If the initial state need to be a variable, I think it should be attached to the cell itself. So the workaround could be:

[code]

This should work for the simple cell state, like u give in your sample code for GRU. LSTM might need some updates since it has tuple state.

I ran some local test and it works without the warning message.

[2018-09-12 17:20] bryanlimy commented on #16502
I am getting the same error when using `tf.layers.dense` on 3-dimensional tensor. I tried using `tf.tensordot(tensor, weights, axes=[-1, 0])` also give me the same error on Android.

[2018-09-12 17:20] weiranzhao commented on #21805
@crimsontrigger
For further discussion, feel free to create another issue at AIY's github
https://github.com/google/aiyprojects-raspbian

If I understand your training correctly, you are training a faster_rccn_resnet model? Such model structure is not supported because of limited hardware resources on VisionKit.

Please see the section
https://aiyprojects.withgoogle.com/vision/#makers-guide--tenso

[2018-09-12 17:27] #21805 closed

[2018-09-12 17:28] ericstj commented on #21913
I also noticed that some of the other zips/tar-balls on  https://storage.googleapis.com/tensorflow/libtensorflow exhibit the same problem.  For example libtensorflow_jni-*.

[2018-09-12 17:29] kcgthb commented on #1415
Hi @theacodes,

Thanks for the clarification, but I'm still confused:  I just tried a `pip install --user protobuf` again, with Python 2.7, and the directory tree it created in `~/.local/lib/python2.7/site-packages` looks like this:

[code]
That is: no `__init__.py` in `google/`, which, unless I'm missing something, makes it a native/implicit namespace, right?

Wouldn't a pkg-resources `google` na

[2018-09-12 17:35] Raj-08 commented on #22238
@wt-huang you want me to use latest tensorflow version for quantization only right?
Do I need to train it from scratch and do all of the rest of the process on the latest version ?

[2018-09-12 17:36] taotaolin commented on #22222
**CUDA/cuDNN version**   CUDA 9.0/Cudnn 7.0

Now I have new problems. if `-Dtensorflow_ENABLE_GRPC_SUPPORT=OFF`  Tips：fatal error C1083: Cannot open include file: 'grpcpp/grpcpp.h': No such file or directory

if `-Dtensorflow_ENABLE_GRPC_SUPPORT=ON`  Tips：C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V140\Microsoft.CppCommon.targets(171,5): error MSB6006: “cmd.exe”已退出，代码为 1。 [D:\tensorflow-mas

[2018-09-12 17:41] girving commented on #22221
I also tried using the `stop_gradients` argument to `tf.gradients`, but the problem persists: it still thinks gradients are flowing out of the while loop.

[2018-09-12 17:47] theacodes commented on #1415
It doesn't mean *anything*. pip (and other installers) can make decisions on how to treat the different kinds of namespace packages when installing. Pip has detected that your environment *should* support `.pth` files for namespace packages, so it *omits* `__init__.py` files for those packages and creates a `.pth` file in your `site-packages` directory for the `google` namespace. That `.pth` file

[2018-09-12 18:03] poxvoculi commented on #22025
OK, looks like this code is kind of old, with no real maintainer.  @rmlarsen do you know what's expected here?  I don't see any notice in the documentation that CPU/GPU behavior should differ.

[2018-09-12 18:08] gunan commented on #4674
None on public side, but we are hoping we can merge some of these soon.

[2018-09-12 18:29] skye commented on #6720
@martinwicke do you know who to assign this to?

[2018-09-12 18:55] girving commented on #22221
@alextp recommended `tf.GradientTape` as a workaround, and that seems to work great (as long as variables are created with `use_resource=True`).  So this is still a bug, but it's no longer blocking me.

[2018-09-12 18:56] tensorflowbutler commented on #22223
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
Exact command to reproduce

[2018-09-12 18:56] tensorflowbutler commented on #22226
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-12 18:56] tensorflowbutler commented on #22229
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Mobile device

[2018-09-12 18:56] tensorflowbutler commented on #22233
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-12 18:56] tensorflowbutler commented on #22235
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-12 18:56] harshini-gadige commented on #1984
@mholzel Hi, any update on the PR you are working on ? Could you please reference the PR# if you've created.

[2018-09-12 18:56] tensorflowbutler commented on #22236
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-12 19:06] rasmi commented on #12663
Fixed in #21490.

[2018-09-12 19:09] PhilipMay commented on #22235
@tensorflowbutler done

[2018-09-12 19:12] jmherrmann commented on #22019
same problem

[2018-09-12 19:16] bignamehyp commented on #22223
rnn_state is a tuple, not a tensor.

Please debug yourself before posting issue on TensorFlow.

This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well a

[2018-09-12 19:16] #22223 closed

[2018-09-12 19:17] bryanlimy commented on #16502
for now, it is possible to achieve the same result by doing `layer = tf.einsum('abc,cd->abd', tensor, weights) + bias` as a single dense layer on higher dimensional tensors

[2018-09-12 19:39] roshan-dongre opened #22240 "absl/strings/string_view.h: No such file or directory"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
N/A
- **TensorFlow installed from (source or binary)**:
Source
-

[2018-09-12 19:46] av8ramit commented on #21524
I've only been able to do linux binaries so far. Mac and windows will come soon.

[2018-09-12 19:53] av8ramit commented on #22240
Hi @roshan-dongre does the branch you're building from have https://github.com/tensorflow/tensorflow/commit/6f0c8af9c853e4d9d4cf336101cb21d619410238?

[2018-09-12 19:55] av8ramit commented on #22235
I don't believe this is true, assigning @tfboyd for further clarification.

[2018-09-12 19:55] tfboyd commented on #22235
TF 1.10 will not work with CUDA 9.2, it only works with CUDA 9 if you are using the official binaries, e.g. `pip install tensorflow-gpu`.  I only test with the docker images but since I or the team did not upgrade the build servers to have CUDA 9.2.  The server also have device driver 384.111 which is not compatible with CUDA 9.2 so the unit tests would fail instantly.  I am pretty confident they

[2018-09-12 19:56] gargn commented on #20679
I reproduced the steps mentioned above. When I use the TensorFlow 1.10 install, I get the `dim >= 1` error mentioned above. However, when I use the most recent tf-nightly I get the following error indicating there are ops in the model that are not currently supported by TensorFlow Lite:

The list of supported ops are available [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/

[2018-09-12 19:56] #20679 closed

[2018-09-12 19:57] tfboyd commented on #22235
TF 1.11 not TF 1.10 did change cuDNN versions from 7.0 to 7.2 but I suspect many people were already on 7.2.  This change is/will be in the release notes and was due to a TensorRT 4.x requirement.

Additionally, we will move to CUDA 10.x as fast as possible once it is GA, and NVIDIA plans to have a bigger range of device driver support that should allow us to move versions faster without causing p

[2018-09-12 20:00] roshan-dongre commented on #22240
Hi @av8ramit I'm currently on commit 506335d

[2018-09-12 20:09] roshan-dongre commented on #22240
So yea it should I pulled only a few hours ago

[2018-09-12 20:14] av8ramit commented on #22240
@angersson are all bugfixes in the r1.11 branch in master? Any idea as to why this error occurs?

[2018-09-12 20:16] beweinreich commented on #22240
I had to include tensorflow/contrib/makefile/downloads/absl in my header search paths

[2018-09-12 20:17] PinkySan commented on #21880
Having the same problem.
Windows 10
bazel 0.16.1
tensorflow 1.10.1

`bazel --output_user_root=build_temp build -c opt --copt=/arch:AVX tensorflow:libtensorflow_cc.so`

got this command from the \tensorflow\tools\ci_build\windows\libtensorflow_cpu.sh

[2018-09-12 20:27] ezhulenev commented on #22212
`config.inter_op_parallelism_threads = 1` doesn't seem right to me. Can you try with 16/32?

[2018-09-12 20:42] martinwicke commented on #6720
@johnpjf is working on this (maybe not this exactly) but he can comment on what he's doing in this regard.

[2018-09-12 20:45] tatianashp commented on #22019
@JunhyukHyun Thank you for finding the fix. Would you mind submitting a PR with this code change?

[2018-09-12 20:52] johnpjf commented on #6720
Yes, I am working on new anti-aliased image resize which won't have this non- symmetric behavior and will support a larger variety of sampling kernels.

[2018-09-12 21:12] btaba commented on #22098
@shivaniag Any chance someone could look at this just to confirm that this is a bug?

[2018-09-12 21:12] mtakala commented on #8858
Our experience with the Lenovo P910 workstation with the top of the line Lenovo PSU is that even when limiting the power using the nvidia-smi command to very lowest possible value, Tensorflow will make the PSU go to shutdown state due to the power spikes. The system may last a minute, an hour, a day or anything in between, so it is not predictable at all.

[2018-09-12 21:32] PhilipMay commented on #22235
I did use a brand new install of Xubuntu 18.04, Bionic Beaver.
Then I updated the system and installed CUDA 9.2 and cuDNN v7.2.1.
See here for a step by step guild (sorry it's just german): https://wiki.eniak.de/ml/cuda_unter_ubuntu_installieren

I installed `tensorflow-gpu` with conda via `conda install tensorflow-gpu`. That installed  tensorflow-gpu 1.10.0.

Now everything was working fine and s

[2018-09-12 21:41] wt-huang commented on #22238
@Raj-08 you would need to use the latest TensorFlow version to train the model, freeze the graph, quantization etc.

[2018-09-12 21:48] iron9light commented on #19084
Your solution is nearly the same as my sample code (my sample code works fine).
My original issue is that, this way cannot work in my produce code, but works with the sample code.
What I mean ask for a feature, is make it more easier to do this kinda things by making it a parameter of nn.dynamic_rnn function "init_state_trainable: bool"

[2018-09-12 22:02] guoshimin commented on #21685
any update?

[2018-09-12 22:03] dhingratul opened #22242 "Using TF-TRT doubles the size of frozen protobuf file"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-12 22:04] qlzh727 commented on #19084
Without looking at your other production code, we won't be able to identify the problem. Since you are requesting a feature, change the issue from bug to FR.

[2018-09-12 22:10] EvansDaniel commented on #22242
What exactly is your issue?

[2018-09-12 22:17] gunan commented on #21685
@klimek recently fixed this and got XLA+TF build on remote workers.

[2018-09-12 22:27] gunan commented on #22007
I don't think we have support for that usage. All of our code has a lot of dependencies, and we recommend using bazel to build our code.

For the initial issue reported, I think @angersson submitted a fix. @alsrgv could you try the latest nightly package?

[2018-09-12 22:39] harshini-gadige commented on #22218
@alextp  Hi, please provide your inputs for the above.

[2018-09-12 22:44] dhingratul commented on #22242
Like I mentioned above, using TF-TRT doubles the size of the protobuf file. This kind of optimizations are meant for mobile devices at inference time, and hence this may be an issue.

[2018-09-12 22:51] alextp commented on #22218
Reed, can you direct this to someone on the GPU team?

[2018-09-12 22:58] alanchiao commented on #21921
Once resolved, see [jimenisimo's stackoverflow post](https://stackoverflow.com/questions/52057552/tensorflow-lite-model-gives-very-different-accuracy-value-compared-to-python-mod ) for closing also. There are a number of people who have upvoted it.

[2018-09-12 22:59] harshini-gadige commented on #22234
@fchollet  Could you please help the user to understand if the existing code is as expected or if there is a change required, can suggest to open a new PR.

[2018-09-12 23:38] reedwm commented on #22218
I get a segfault when I run it. I'll take a closer look soon, probably this week.

[2018-09-12 23:47] guoshimin commented on #21685
:+1:

[2018-09-12 23:47] #21685 closed

[2018-09-13 00:00] ispirmustafa commented on #21896
Hi @Bakaizhamgyrchiev
That's a missing part in documentation. We do use `throttle_secs` in local-run too. I'm curious have you tried it?

[2018-09-13 00:10] ltjds commented on #16768
I found that it helps to build your own generator function that yields X and y in the shape needed. You'll have to use `model.fit_generator`, and make sure you can change around the size of the 'sub-batches' within the generator. For example:

[code]

I also found that (if appropriate) using dropout can help.

[2018-09-13 00:30] robieta commented on #22095
Hi! Apologies for my late response.

I have replicated your finding that behavior on a 1080 is incorrect. Thank you so much for providing such a clear minimal reproduction.

I've opened an internal ticket with our op team, and I'll update this issue as that progresses.

[2018-09-13 00:50] tensorflowbutler commented on #22239
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
Bazel version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-13 01:10] ymodak commented on #22212
@drpngx Can you please take a look at this issue?. My initial investigation tells me that currently MKL-DNN supports CNN models for high performance computation whereas it requires additional effort for speeding up LSTM models which is yet to be completed. Probably you can guide me better here.

[2018-09-13 01:15] ymodak commented on #22212
@zealthinker Can you please post your observations from @ezhulenev  suggestion whenever you get a chance?

[2018-09-13 01:18] Zantares commented on #22229
N/A.
Updated in the text, thanks.

[2018-09-13 01:46] jyoungyun commented on #15805
@fzhu129 Looking at your comments, toco does not fully support quantized model yet.

[2018-09-13 01:49] jyoungyun commented on #21473
I will update the test case for this patch asap. Thesedays I was too busy to implement test case. Sorry and I will update it soon.

[2018-09-13 01:58] whb0219 opened #22243 "bazel build branch r1.10 on windows ERROR _api_implementation.so"
ERROR: C:/users/thinkpad/_bazel_thinkpad/26orbg4z/external/protobuf_archive/BUILD:645:1: C++ compilation of rule '@protobuf_archive//:python/google/protobuf/internal/_api_implementation.so' failed (Exit 1): cl.exe failed: error executing command

C:\users\thinkpad\_bazel_thinkpad\26orbg4z\execroot\org_tensorflow\external\protobuf_archive\python\google\protobuf\internal\api_implementation.cc : fata

[2018-09-13 02:08] elvys-zhang commented on #21880
@meteorcloudy Have figured it out. I missed some info before. After installing patch by "yum install -y patch", it worked fine. Thx.

[2018-09-13 02:29] jiarenyf commented on #21787
@shashishekhar Do you have any idea about the performance difference between tf-mobile and tf-lite ?

[2018-09-13 02:34] zw232618 commented on #22232
emmm

[2018-09-13 02:45] zw232618 commented on #22153
emm

[2018-09-13 02:47] zw232618 commented on #22153
emm

[2018-09-13 02:47] zw232618 commented on #22153
emm

[2018-09-13 03:00] dargilboa commented on #22226
sure, I updated the post

[2018-09-13 03:03] zw232618 commented on #22153
emm

[2018-09-13 03:03] zw232618 commented on #22153
emm

[2018-09-13 03:03] zw232618 commented on #22153
emm

[2018-09-13 03:09] vladbelo opened #22245 "Could not open .\linear_regression.pbtxt: Data loss: not an sstable (bad magic number): perhaps your file is in a different file format and you need to use a different restore operator? Traceback (most recent call last):"
Please go to Stack Overflow for help and support:

If you open a GitHub issue, here is our policy:

------------------------

### System information
TensorFlow 1.9
Windows 10
Python 3.6 64

You can collect some of this information using our environment capture script:

[code]

### Describe the problem
Describe the problem clearly here. Be sure to convey here why it's a bug in TensorFlow or a featu

[2018-09-13 03:11] vladbelo commented on #22245
Can you help me guys?

[2018-09-13 03:16] rosbo commented on #20938
@gunan I am experiencing the same issue. Here is my full log: https://pastebin.com/5T4C9841

[2018-09-13 03:17] jackyLens commented on #14215
I met the same issue. Does anyone solved it?

[2018-09-13 03:17] guvcolie commented on #19014
@G-mel Thank you for your experiment! I am training a network whose backbone is mobilenetV2.
When you use tf.contrib.quantize.create_training_graph(quant_delay=quant_delay), how many GPUs do you use?

[2018-09-13 03:36] MattShannon commented on #17839
That PR doesn't fix the issue. It's just a straight-up replace of "beam" for "search state" which leaves the documentation ungrammatical or nonsensical in many places. (I'm afraid I don't have bandwidth at the moment to make the docs better though.)

[2018-09-13 03:54] gunan commented on #20938
The actual compilation failure is right here:
[code]

Looks to be a protobuf issue.

[2018-09-13 03:57] pj-parag commented on #22236
Updated the system info and added NA in fields which were skipped.

[2018-09-13 04:31] zw232618 commented on #22242
emmm

[2018-09-13 05:56] facaiy commented on #21751
@jingwb222 Hi, does @rohan100jain 's suggestion work for you?

[2018-09-13 05:58] kalravibhor commented on #12522
Hi, I am facing the same problem with `bidirectional_dynamic_rnn` layers in tensorflow. I am trying to feed output from a convolution layer, converted from 4D to 3D with variable length sequences to a bidirectional LSTM and am getting the below mentioned error.

`"Input size (depth of inputs) must be accessible via shape inference,"`
`ValueError: Input size (depth of inputs) must be accessible via

[2018-09-13 06:36] PinkySan commented on #22214
tensorflow does not have an implicit cast in this case. The -1 will be interpreted as an int. Therefore you are trying to multiplicate an int with an float. Your second approach (-1.0f) is the the right one. Use that. It is not an error in tensorflow (in my opinion)

While debugging your application you can check, if your operation works, if _mul != nullptr_ (or anything like NULL)

[2018-09-13 06:38] PinkySan commented on #22214
Just a simple question in my own interest: How did you build tensorflow on your machine (cmake or bazel)? How did you integrate tensorflow into your application?

[2018-09-13 06:44] PinkySan commented on #22047
not working for me at the moment. See [here](https://github.com/tensorflow/tensorflow/issues/21880#issuecomment-420782866)

It is a bit confusing to build the target **libtensorflow_cc.so** on a windows machine. (shared object on windows?!?! CMake is much more accurate and clearer in this case, but unfortunatly you dropped the CMake support in 1.10)

[2018-09-13 07:26] gunan commented on #22047
You should not be building libtensorflow_cc.so on windows.
Maybe you are looking at the wrong documentation?

[2018-09-13 07:30] gunan commented on #21880
@PinkySan Please refer to this doc to build TF on windows:
https://www.tensorflow.org/install/install_sources_windows

You should not be building libtensorflow_cc.so on windows.
However, the problem you are facing is due to missing packages on your system
`/usr/bin/bash: patch: Could not find command`
Please see the bazel installation instructions, and make sure you follow all the steps.

Looks li

[2018-09-13 07:30] #21880 closed

[2018-09-13 07:32] GPhilo commented on #22214
@PinkySan yes, I thought the implicit cast missing was the case. The problem is, the program compiles just fine and raises no log messages until it dies abruptly. To be fair, I haven't checked warning messages in the compiler, maybe something's written there, but it's still a bit too easy a mistake to make to rely simply on a warning IMO.

About the build, I used Cmake with VS2015 x64 as the gener

[2018-09-13 07:41] akhilkedia opened #22246 "CPU nodes are swapped out using /grappler/optimizers/gpu_swapping_kernel"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04.5
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: Issue occurs on both pip binary

[2018-09-13 07:44] gunan commented on #22235
@PhilipMay using conda to install tensorflow does matter.
Conda TF package is built and maintained by anaconda. That is clearly stated in our documentation, in the same page you linked:
https://www.tensorflow.org/install/install_linux#InstallingAnaconda

Please reach out to anaconda for support with the conda package.
Just for good measure, I also just verified that the pip package on pypi for ten

[2018-09-13 07:44] #22235 closed

[2018-09-13 07:44] raninbowlalala commented on #20867
@suharshs But I saw tf.contrib.slim.batch_norm in  slim.mobilenetv2.py, I still meet this issue.

[2018-09-13 07:46] akhilkedia commented on #22246
I just noticed that this is probably a duplicate of #22134 . Should I perhaps close this?

[2018-09-13 07:57] zhangjunpeng9354 commented on #14182
@umang6891 's solution works good for me, and I am using a python3.6 virtualenv.

[2018-09-13 08:28] JackLongKing commented on #16399
I will tf r1.4 with cuda9.1 and cudnn7.0.5.

[2018-09-13 08:38] jnd77 commented on #21988
Thanks a lot @facaiy. Looks perfect ...
Will check it out once it has been merged (which seems to take a while).

[2018-09-13 08:53] CanoeFZH commented on #20886
Just do not use tf.contrib.xxx in the case that you will try to load graph.

[2018-09-13 09:00] imanirajian opened #22248 "Calculating custom metrics with tf.estimator.DNNRegressor in TensorFlow 1.10"
How to configure a `tf.estimator.DNNRegressor` to report different metrics like **RMSE** and **MAE** while evaluating?

(One can ask the same question for `tf.estimator.DNNClassifier` and **AUC** metric)

[https://stackoverflow.com/q/52300519/2737801](https://stackoverflow.com/q/52300519/2737801)

[2018-09-13 09:05] LukeSBE commented on #18906
hi is there a Windows build that works with Cuda 9.2?

9.0 is 10 months out of date and tensorflow is unusable.

[2018-09-13 09:14] maharjun opened #22249 "Inconsistency in supported integer types on GPU"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-13 09:36] mbaghert commented on #21669
CUDA 9
CUDNN 7

Windows 10
2x GPU 1070

[2018-09-13 10:06] Efaq opened #22250 "Documentation: "Creating Custom Estimators" says that it uses same train_input_fn as "pre-made Estimator implementation", but replaces the dataset return value by an iterator.get_next() without explaining"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-13 10:29] lissyx commented on #21924
Thanks @jdduke @miaout17, would you know how we might be able to help on that ?

[2018-09-13 10:40] hashamMunir commented on #16845
I am having the same issue, it been six hours since I am trying to resolve it.
OS Platform and Distribution: Windows 7, 64-bit
Tensorflow installed from pip 9.0.1
pip install tensorflow-gpu
Python 3.6
TensorFlow 1.10
CUDA 9.0
cuDNN 7.0
Bazel: N/A
GPU model and memory: NVIDIA NVIDIA GeForce 940MX
Error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\hm\An

[2018-09-13 11:55] PinkySan commented on #22047
But what is the main target for the c++ library?

[2018-09-13 12:06] vtj2105 opened #22251 "error when adding library"

[2018-09-13 12:06] #22251 closed

[2018-09-13 12:41] tensorflowbutler commented on #22243
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-13 12:41] tensorflowbutler commented on #5867
Nagging Assignee @miaout17: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-13 12:41] tensorflowbutler commented on #6992
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-13 12:42] tensorflowbutler commented on #10179
Nagging Assignee @angersson: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-13 12:42] tensorflowbutler commented on #19671
Nagging Assignee @allenlavoie: It has been 49 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-13 12:42] tensorflowbutler commented on #20915
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-13 12:43] tensorflowbutler commented on #21431
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-13 12:43] tensorflowbutler commented on #21750
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-13 12:43] tensorflowbutler commented on #21829
Nagging Assignee @robieta: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-13 12:43] tensorflowbutler commented on #21946
Nagging Assignee @aaroey: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-13 12:43] tensorflowbutler commented on #21960
Nagging Assignee @wdirons: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-13 12:43] tensorflowbutler commented on #21961
Nagging Assignee @wdirons: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-13 12:44] roshan-dongre commented on #22240
@beweinreich do you by chance have a code example of how you did it? It's still not working for me after trying that

[2018-09-13 12:46] roshan-dongre commented on #22240
@av8ramit is there a way to build tensorflow without creating the project inside the tensorflow repo and using bazel? I have working with a really large code base and bazel integration is unfortunately not possible. With bazel inside the repo it works but I need to be able to move it outside the repo. Thanks!

[2018-09-13 12:51] meixiaofeng commented on #20886
I've solved the problem by using create_training_graph() after construction or building of the graph and before running the session while training, and using create_eval_graph()  after the construction of the graph and before converting variables to constants while freezing the graph.

[2018-09-13 13:35] bughunter99 opened #22252 "Is tensorflow-gpu version same with just tensorflow for cpu?"
I've developed some Keras code using tensorflow with cpu on Windows7 on my pc, and trained it with GPU on linux.

After complete training, I have moved the trained model files to my pc and used them without any problems. But I don't know what happened, it doesn't work on my pc. I guess it is from Keras and tensorflow version issue.

The linux's Keras and tensorflow version are Keras (2.1.5), tenso

[2018-09-13 13:51] tfboyd commented on #22235
@PhilipMay

I am sorry about that.  As Gunan said we do not handle the Anaconda build.  They may have chosen to use a new CUDA which I understand and that creates confusion.  I cannot think of an easy way to make this clear.  With CUDA 10 I hope we all end up on the same version and have less divergence after that.  Thank you for the extra information, I had not even considered Anaconda might buil

[2018-09-13 14:03] Raj-08 commented on #22238
@wt-huang Same problem persists , i have tried all the processes on tensorflow 1.10
"Input 0 of node ExpandDims was passed float from image_ph incompatible with expected int32"

[2018-09-13 14:05] skye commented on #21750
Can you provide a repro script for 1? Can you provide links to the specific functions and files you're talking about for 2?

[2018-09-13 14:14] hashamMunir commented on #16014
I dont know what to do, I have tried all versions and everything found in two days on the internet. But this

is not leaving me alone.
I am trying to install Tensorflow-gpu
on windows 10 64
tired: CUDA 9.0 , 9.1, 8.0
Tried cudNN: 7.2,7.1,7.0
Please someone help me out in it

[2018-09-13 14:53] RylanSchaeffer opened #22254 "Feature Request: Permit Changes to LSTMStateTuple to be compatible with autodiff"
I would like to make changes to an LSTMStateTuple that (in theory) should be compatible with auto differentiation (I'm taking a vector output by one LSTM and adding it to the cell state `c` of another LSTM at each "time step"). However, as far as I can tell, LSTMStateTuple is a named tupled, so making a change to `c` requires creating a new LSTMStateTuple, preventing autodiff from working. I confi

[2018-09-13 15:18] aaroey commented on #21946
This is on our roadmap and we'll start working on it maybe next month.

[2018-09-13 15:29] ybsave commented on #16014
@hashamMunir It seems that you may not set your correct Windows environment path, leading to cannot find the dll. As discussed above, just use Cuda 9.0, cudnn 7, and make sure setting the "PATH" variable correctly in your system. Then it should work.

[2018-09-13 16:06] duhaime commented on #15604
I am on Ubuntu 18.08, and had Cuda 9.0 installed at:

[code]

I decided to look for the `libcublas.so.9.0`:

[code]

That told me the file was in `/usr/local/cuda-9.0/lib64/stubs/libcublas.so.9.0`, which helped me realize I had two problems: In `~/.bash_profile` I had set: `export LD_LIBRARY_PATH=/usr/local/cuda-9.0/lib64/`, but my file was in the `stubs` directory, so I needed to use:

[code]

Fi

[2018-09-13 16:07] harshini-gadige commented on #17839
Reopening the issue. Can refer the PR number if one is created for the same.

[2018-09-13 16:19] jidroid404 opened #22257 "I found that even after following the tensorflow documentation for installing tf gpu, tensorflow and keras was still using CPU only for computation."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-13 17:02] wt-huang commented on #22232
Any questions or concerns you have about this issue, just let me know.

On Wed, Sep 12, 2018 at 7:36 PM zw232618 <notifications@github.com> wrote:

[2018-09-13 17:10] tofulawrence commented on #16624
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-13 17:10] #16624 closed

[2018-09-13 17:11] tofulawrence commented on #19078
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-13 17:11] #19078 closed

[2018-09-13 17:12] tofulawrence commented on #20353
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-13 17:12] #20353 closed

[2018-09-13 17:12] harshini-gadige commented on #6955
@ppries  Have you found a better way or a workaround for this ? If so, I can close this issue.

[2018-09-13 17:12] tofulawrence commented on #20060
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-13 17:12] #20060 closed

[2018-09-13 17:12] gargn commented on #22191
Can you provide the command you are running?

The documentation for converting a TFLite model is available [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/toco/g3doc/cmdline_reference.md). Examples are available here [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/toco/g3doc/cmdline_examples.md).

[2018-09-13 17:12] tofulawrence commented on #21377
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-13 17:12] #21377 closed

[2018-09-13 17:13] #17349 closed

[2018-09-13 17:14] #20052 closed

[2018-09-13 17:15] tofulawrence commented on #20016
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-13 17:15] #20016 closed

[2018-09-13 17:16] tofulawrence commented on #20110
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-13 17:16] #20110 closed

[2018-09-13 17:17] akshayka commented on #14007
This won't be fixed for Defun(), which is being replaced with tf.contrib.eager.defun. Once Datasets switch to using tf.contrib.eager.defun, the pasted code will work as intended.

[2018-09-13 17:17] #14007 closed

[2018-09-13 17:27] ezhulenev commented on #19491
@fcacarminati I've submitted couple of changes that should make Conv3D performance much better (I'd expecte something like ~5x). One of them is custom kernels for backprop input and filter: https://github.com/tensorflow/tensorflow/commit/e183b8d0328d7398cb6ffc530d1ae8fdbd2111c0

These kernels make less smaller allocations, instead they allocate quite large temporary buffers, so you might see incre

[2018-09-13 17:28] harshini-gadige commented on #7004
@tfboyd Hi, are there any contributions for this till date or any implementations from the Tensorflow team? Is it still open for more contributions ?

[2018-09-13 17:39] harshini-gadige commented on #7030
@yaroslavvb Hi, any update on this ? I can close this if there is a solution provided for the op requested or any workaround is done.

[2018-09-13 18:05] tofulawrence commented on #21818
Great! I'm glad that this is resolved.

[2018-09-13 18:07] yaroslavvb commented on #7030
I think it can be closed, there are now ops which return memory + memory is available in timeline, I have examples of extracting memory from timeline in https://github.com/yaroslavvb/memory_util

[2018-09-13 18:07] #7030 closed

[2018-09-13 18:10] tofulawrence commented on #19949
Can you run the graph just using TF core? It looks like the resulting TF graph has invalid tensor names.

[2018-09-13 18:32] harshini-gadige commented on #7030
Sounds good. Thank you !

[2018-09-13 18:34] harshini-gadige commented on #1843
We are going to close this issue. Feel free to reopen it if you want to contribute and link the PR to it.

[2018-09-13 18:34] #1843 closed

[2018-09-13 18:36] harshini-gadige commented on #2169
We are going to close this issue. Feel free to reopen it if you want to contribute and link the PR to it.

[2018-09-13 18:38] ymodak commented on #436
@sahildua2305 Just wanted to follow up. Did you get a chance to build a PR for this issue?.

[2018-09-13 18:41] harshini-gadige commented on #1604
@IdRatherBeCoding Hi, any update on your work ? I can close this issue if your contribution would suffice the request.

[2018-09-13 18:49] ymodak commented on #378
@girving  Did you get a chance to test the fix? Can you please post your findings? This will help to resolve / update the status of this issue.

[2018-09-13 18:57] #15767 closed

[2018-09-13 19:03] harshini-gadige commented on #22257
@jidroid404  Hi, good that you resolved the issue. In order to look into updating the doc, could you please provide the following information.

Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlo

[2018-09-13 19:05] PhilipMay commented on #22235
Thanks for clarification.

[2018-09-13 19:19] harshini-gadige commented on #22248
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-09-13 19:19] #22248 closed

[2018-09-13 19:45] zhuangh commented on #6992
Hi @harshini-gadige, the pull request #21885 is still under review. thanks.

[2018-09-13 19:47] mkmodrzew commented on #11651
Could I try to fix that issue?

[2018-09-13 19:54] jdduke commented on #21671
What Android NDK revision are you using?

[2018-09-13 20:12] daniel-ziegler opened #22259 "`tf.nn.softmax` gives an error at execution time for certain empty inputs"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS High Sierra (10.13.6)
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: n/a
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow ve

[2018-09-13 20:14] nehaljwani commented on #21818
@tofulawrence  Wait, how is this resolved? I applied that patch locally. It is not part of tensorflow yet. The official build of tensorflow on PyPI still faces this issue.

[2018-09-13 20:16] gargn commented on #18731
@arpitkh96 The recommended option is to avoid using Merge in your graph. As far as I know, MobileNetV2 (classification) works with TFLite. Can you file a separate bug with the reproducible steps that are leading to this error. Include the command you are using for converting the model and attach the model.

I am closing the original bug due to lack of recent activity in relation to the original us

[2018-09-13 20:16] #18731 closed

[2018-09-13 20:36] LCarballoBaseCodeIt opened #22260 "y"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-13 20:46] girving commented on #378
@ymodak The fact that I fixed `tf.test.compute_gradient_error` means that others can easily test the fix.  I'm not going to do it myself.

[2018-09-13 20:52] ankitvgupta commented on #18394
You'll want to use train_and_evaluate, so that eval runs every once in a while. The hook just reads the eval metrics and stops when the condition is met. So, if you're not running eval, it'll not stop. Relevant line: https://github.com/tensorflow/tensorflow/blob/4dcfddc5d12018a5a0fdca652b9221ed95e9eb23/tensorflow/contrib/estimator/python/estimator/early_stopping.py#L361

[2018-09-13 20:54] #22260 closed

[2018-09-13 20:56] tofulawrence commented on #21818
Sorry, @nehaljwani. I misread the comment. I'll reopen.

[2018-09-13 21:00] wt-huang commented on #22252
@bughunter99 If you use Keras (2.1.5) and tensorflow-gpu (1.4.1), use the same versions for pc. Make sure your model doesn't have explicit device allocations to gpu. As an alternative, you can also install tensorflow-gpu on the pc.

[2018-09-13 21:26] alextp commented on #22048
The general solution of this issue is somewhat harder.

On Sun, Sep 9, 2018 at 9:01 AM Octavian Ganea <notifications@github.com>
wrote:

--
 - Alex

[2018-09-13 21:27] alextp commented on #22066
I agree that this will fix the issue. Does anyone want to make this pull request to Estimator?

[2018-09-13 21:28] #22030 closed

[2018-09-13 21:39] octavian-ganea commented on #22048
Yes, I think it's called "dynamic graphs" :)

[2018-09-13 21:45] ymodak commented on #378
@mborgerding Can you please test the fix and post your findings? This will help to resolve / update the status of this issue.

[2018-09-13 22:10] dave-msk commented on #22066
I have made a [pull request](https://github.com/tensorflow/tensorflow/pull/22264), please kindly review. Thanks

[2018-09-13 22:18] harshini-gadige commented on #22257
#12388

[2018-09-13 22:20] alextp commented on #22048
Not quite, as you will find that you can reproduce this issue even with
eager execution enabled. Dynamic graphs would help if we only needed to
support the case where the l2norm is a scalar (that is when there is no
axis argument).

The underlying issue is that an op like tf.maximum, which we use here to
pick which coordinates of the tensor need to be divided by the norm,
produces a gradient of 0

[2018-09-13 22:33] ymodak commented on #22246
@akhilkedia  Thank you for your post. Yes this is a duplicate of #22134 . Therefore I am going to close this issue. Please stay tuned to #22134 for the fix and feel free to reopen if your issue still persists.

[2018-09-13 22:33] #22246 closed

[2018-09-13 22:37] AndreyFilippov commented on #5902
+1 too, need to feed from GPU memory

[2018-09-13 22:41] ebrevdo commented on #22254
Autodiff needs to learn about namedtuples, perhaps?

[2018-09-13 22:41] ebrevdo commented on #22254
Autodiff needs to learn about namedtuples, perhaps?

[2018-09-13 22:42] ebrevdo commented on #22254
Tuples are immutable, so you can't modify them in place

[2018-09-13 22:46] facaiy commented on #22048
I think the root is that tensorflow, in graph mode, cannot block the gradient backpropagation of a slice of Tensor, say tf.maximum op here. NaN propagation is really annoying, and two "where" trick hurts performance. Is there any solution to solve the problem totally?

[2018-09-13 22:52] alsrgv commented on #22007
@gunan, the issue is fixed, thanks!

I do see a different error in Travis CI, very similar to #19375:
[code]

I will look into it separately next week, after I'm back from my vacation.

[2018-09-13 22:57] sabhiram commented on #16793
Love how you guys close relevant issues because no one knows the answer :)

[2018-09-13 22:57] octavian-ganea commented on #22048
It is especially annoying since it is usually very hard to debug and doesn't have a "mathematical" cause. It would be nice to have a tool that would help TF users to understand when this issue is generating
 their "NaN problem".

[2018-09-13 23:12] alextp commented on #22048
The tool I used to debug this and partially fix, at least for the zeros
case, tf.add_check_numerics_ops, works pretty well for identifying these
issues.

Note that you can get around this using a tf.cond-based version (which
behaves the same as a dynamic graph) of clip_by_norm if you only care about
a scalar norm.

On Thu, Sep 13, 2018 at 4:04 PM Octavian Ganea <notifications@github.com>
wrote:

-

[2018-09-13 23:20] mborgerding commented on #378
Sigh ... almost three years after a issue was described, unit tests were provided and a fix was given.
Sorry, I don't have the time right now to go back and set my computer back up to verify this.  I seem to recall that it *has* been fixed, but I am only 95% sure of this, since it has been years.

[2018-09-14 01:01] jidroid404 commented on #22257
System information
1.I used a stock example script provided in TensorFlow
2. Windows 10  Home
3. Not on mobile device
3. Installed from binary
4. tf.__version__
'1.11.0-dev20180905'
5.python -V
Python 3.6.6 :: Anaconda, Inc.
6. Not Applicable
7.Not Applicable
8. Cuda_9.0.176.2_windows
    CuDNN : 9.0
9. Nvidia GPU used 940MX
    Memory :12 GB
10. pip install tf-nightly-gpu
       https://pypi.org/

[2018-09-14 02:00] jasstionzyf commented on #13844
@yongtang   where to set S3_REQUEST_TIMEOUT_MSEC ?

[2018-09-14 02:02] wt-huang commented on #22238
@Raj-08 I have gone through the steps of model training, freezing the graph and quantization without any issues. Can you list the commands you used also update the above spec sheet with the versions you used?

[2018-09-14 02:13] was84san commented on #20698
@lgeiger Did you figure out the solution for multiple input using tf.Dataset API

[2018-09-14 02:26] EdwardVincentMa opened #22266 "How to use the function FusedBatchNorm() in C++?"
The question is that : https://stackoverflow.com/questions/52308509/tensorflow-c-how-to-convert-tensorflowoutput-to-tensor

Python has the function `covert_to_tensor()`，but C++ does not have this function. The `FusedBatchNorm()` need a `Tensor ` input, but my input type is `tensorflow::Input`. So how to solve this problem？How to convert `tensorflow::Input` to `Tensor` ？

[2018-09-14 02:28] jmsinusa opened #22267 "Docs/tutorial link to 'Eager execution', item 1 of 'Research and experimentation' 404 err."
Documentation; tutorials.
Link to Eager execution tutorial (item 1 of 'Research and experimentation') give a 404 error.

The link is currently pointing to:
[https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/eager/python/examples/notebooks/eager_intro.ipynb](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/eager/python/examples/notebooks/eager_intro.ipyn

[2018-09-14 02:36] quaeler commented on #13844
@jasstionzyf via environment variables - see https://github.com/tensorflow/tensorflow/pull/15899/files

[2018-09-14 02:43] whb0219 commented on #22243
Versions:Windows 10 64bit
VS2017 with VS2015 workload
Python 3.6.6
Bazel 0.15.2
TensorFlow r1.10 CPU version

[2018-09-14 02:43] taotaolin commented on #21727
i have a same problem , how to slove it?

[2018-09-14 02:49] Damon-wyg commented on #21797
[code]
while, an ERROR throw:
model 'tensorflow' has no attrbute 'ThreadPoolOptionProto'.

[2018-09-14 02:50] taotaolin opened #22268 "Tensorflow compile error with win7"
**Have I written custom code** No
**OS Platform and Distribution** WIN7  Visual Studio 2015
**TensorFlow installed from**  source  r1.10
**Bazel version** N/A
**CUDA/cuDNN version** CUDA9.0  /   CUDNN  7.0
**GPU model and memory**   1080Ti / 11G
**Mobile device**  N/A
**Exact command to reproduce**
**1, cmake**
[code]
**2. build**
`MSBuild /p:Configuration=Debug /p:Platform=x64 ALL_BUILD.vcxproj`

[2018-09-14 02:51] #22222 closed

[2018-09-14 03:57] ezhulenev commented on #19611
@ckdotca @boeseMilch  I've submitted couple of changes that should make Conv3D performance much better on CPU (I'd expecte something like ~5x, maybe ~10x in some cases). One of them is custom kernels for backprop input and filter: https://github.com/tensorflow/tensorflow/commit/e183b8d0328d7398cb6ffc530d1ae8fdbd2111c0

New kernels allocate quite large temporary buffers, so you might see increased

[2018-09-14 04:02] zh794390558 commented on #19838
[code]

After using optimized_for_inference bin, the input shape changed. tf version 1.9

[2018-09-14 04:25] kami93 opened #22269 "TensorFlow compile failure with error tensorflow/tensorflow/compiler/xla/service/gpu/BUILD:649:1: C++ compilation of rule '//tensorflow/compiler/xla/service/gpu:infeed_manager' failed (Exit 1)"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-14 05:16] harikrishnanrajeev commented on #13856
me too faced the same issue. Did the following steps
1) uninstall tensor flow
2) reinstall tensor flow and tensor flow hub
and it worked :-)

[2018-09-14 06:14] hakillha opened #22270 "tf.nn.softmax_cross_entropy_with_logits_v2() not warning incorrect input shapes when placeholders are provided"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: 1.10.0
- **Python version**: 3.5.2
- **GPU model and memory**: GTX1070

### Describe

[2018-09-14 06:38] hakillha commented on #22270
If we are to provide placeholders for both the `label` and `logits` arguments, shouldn't they both have the shape (?, # of classes)? If for example in the above snippet `a` has only one dimension then there is no way this is an input with correct shape so shouldn't tensorflow warn about it?

[2018-09-14 07:16] Cynthia0629 commented on #9549
That helped me a lot when I updated my tensorflow to 1.10.0, thank you very much @baker-travis

[2018-09-14 07:26] zh794390558 commented on #21566
same problem using quantize_graph or transformer_graph for quantize, and run on x86. tf version 1.9

[2018-09-14 07:44] 425172555 opened #22271 "make schema_generated.h source file turn error"
### source  code
[code]

### error info
[code]

The same error occurs in every structure inside this method.

[2018-09-14 07:46] ddomit commented on #8785
I have the same problem!! I already tried the solution mentioned here of enabling long paths but im still getting the same results. Please Help!

Exception:
Traceback (most recent call last):
  File "c:\users\daniel domit\appdata\local\conda\conda\envs\robond\lib\shutil.py", line 544, in move
    os.rename(src, real_dst)
FileNotFoundError: [WinError 3] The system cannot find the path specified: 'c

[2018-09-14 07:55] fcacarminati commented on #19491
Thanks a lot! I have tested immediately your changes and I have a 2.5x speedup on my Mac (haswell). We will make more conclusive tests on a GPU system, but this is already very very good. More news soon. Thanks again for your help, this makes the difference already for us,

[2018-09-14 08:00] hakillha commented on #22270
Okay in my actual code it was `sparse_softmax_cross_entropy_with_logits` that was run so I think there should be runtime error if the inputs for `softmax_cross_entropy_with_logits` are not compatible but no warning thing with the above snippet still persists which might be not that ideal a situation.

[2018-09-14 08:00] #22270 closed

[2018-09-14 08:02] 07freedom commented on #17494
Well somehow I still got this error in 1.19 but fixed with 1.10. You guys can give it a shot

[2018-09-14 08:38] paulomarciano commented on #20915
Yes, this is still an issue.
Newer versions of tensorflow force us to use dramatically less batch_norm layers or reduce our batch size in almost half.

[2018-09-14 08:39] zh794390558 commented on #7162
This is not work for me
[code]

But this work fine

[code]

[2018-09-14 08:45] yangl326-Dylan commented on #1511
@rosecatherinek  thanks for reply. i also change into a regression problem by setting the logits' last dim to 1.
but the result is not so good  compared with my base line, which is a classification model.

[2018-09-14 08:58] hashamMunir commented on #16014
@ybsave  Thank you for your reply. I think I did it I set the path in the system

is it ok, or I did it wrong??
Thanks again

[2018-09-14 08:59] asimshankar commented on #20915
@paulomarciano : Did you see @reedwm 's https://github.com/tensorflow/tensorflow/issues/20915#issuecomment-416685756 ?

Could you elaborate on the mechanism used to measure memory utilization? If you run with the same batch size in a newer version - does the process crash (because it runs out of memory)?

[2018-09-14 09:06] imxboards commented on #22200
@freedomtan Can you tell me how to retrain mobilenetv2 with tensorflow ? very thanks!

[2018-09-14 09:45] vvekic commented on #20842
So the new practice is to define layers and then call them with the inputs. All further calls to the same instance of a layer results in underlying variables being reused.
But I'd like to use predefined tf.keras models (e.g. `tf.keras.applications.resnet50`) and define them multiple times (using different devices, for multi-GPU). This simply doesn't work now as the predefined models themselves def

[2018-09-14 10:03] moboehle commented on #20915
Yes, this is how we found the issue

[2018-09-14 10:24] amoghkashyap opened #22272 "failed to build tensorflow wheel file on jetson TX2 board"
ERROR: /home/nvidia/Desktop/tensorflow/tensorflow/cc/BUILD:422:1: Linking of rule '//tensorflow/cc:ops/math_ops_gen_cc' failed (Exit 1)
bazel-out/host/bin/_solib_local/_U_S_Stensorflow_Scc_Cops_Smath_Uops_Ugen_Ucc___Utensorflow/libtensorflow_framework.so: undefined reference to `png_init_filter_functions_neon'
collect2: error: ld returned 1 exit status
Target //tensorflow/tools/pip_package:build_p

[2018-09-14 10:55] ICL-Developer opened #22273 "failed to build tensorflow android"
Using :
---------
OS: Ubuntu 16.04
Bazel : 0.8.1
tensorflow : 1.5.0
NDK : 12b -> sdk level 14
sdk : 23
build tools: 25.2.0

The full build log of error:
**https://justpaste.it/621im**
tried the follwing solutions but still getting the error:
**[](**
https://github.com/tensorflow/tensorflow/issues/8641)
**[](**
https://github.com/tensorflow/tensorflow/issues/6356)

Please help me out.

Below is the

[2018-09-14 12:01] MichalPorwisz commented on #14423
Same problem here, please reopen:

    Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
    OS Platform and Distribution: Ubuntu 18.04.1 LTS
    TensorFlow installed from (source or binary): Binary, through pip install tensorflow-gpu
    TensorFlow version: v1.10.1-0-g4dcfddc5d1 1.10.1
    Python version: 3.6.5
    CUDA/cuDNN version:  CUDA Versio

[2018-09-14 12:22] byronyi opened #22274 "CollectiveAllReduceStrategy fails with CPU-only workers"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS High Sierra
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: tf-nightly
- **TensorFlow version (

[2018-09-14 12:24] was84san opened #22275 "Class_weight with tf.dataset as input to model.fit will throw an error"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: No Mobile device
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow

[2018-09-14 12:38] Elites2017 commented on #16851
@davlhd @meghna1301 Where did you guys find the right config file for the mobilenet_v1_1.0_224 or which config file did you use? Because when I try to run the training with the other config files, it gives me an error of: ValueError: No variables to save

[2018-09-14 12:38] tensorflowbutler commented on #17843
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-09-14 12:38] tensorflowbutler commented on #19293
Nagging Assignee @achowdhery: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-14 12:38] tensorflowbutler commented on #20305
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-14 12:39] tensorflowbutler commented on #20461
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-09-14 12:39] tensorflowbutler commented on #20916
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-14 12:39] tensorflowbutler commented on #20942
Nagging Assignee @yuefengz: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-14 12:39] tensorflowbutler commented on #21022
Nagging Assignee @jpohanka: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-14 12:39] tensorflowbutler commented on #21213
Nagging Assignee @jdduke: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-14 12:39] tensorflowbutler commented on #21245
Nagging Assignees @miaout17, @jdduke, @shashishekhar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-14 12:39] tensorflowbutler commented on #21332
Nagging Assignee @case540: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-14 12:39] tensorflowbutler commented on #21407
Nagging Assignee @drpngx: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-14 12:39] tensorflowbutler commented on #21478
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-14 12:39] tensorflowbutler commented on #21555
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-14 12:39] tensorflowbutler commented on #21629
Nagging Assignee @mrry: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-14 12:39] tensorflowbutler commented on #21630
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-14 12:40] tensorflowbutler commented on #21661
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-14 12:40] tensorflowbutler commented on #21710
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-14 12:40] tensorflowbutler commented on #21811
Nagging Assignee @fchollet: It has been 20 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-14 12:40] tensorflowbutler commented on #21840
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-14 12:40] tensorflowbutler commented on #21852
Nagging Assignee @rohan100jain: It has been 20 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-14 12:49] Elch123 commented on #21555
No, I don't have time to work on this now.

On Fri, Sep 14, 2018, 3:47 PM Alfred Sorten Wolf <notifications@github.com>
wrote:

[2018-09-14 12:55] bozghonj opened #22276 "How to incorporate custom functions into tf.data pipe-lining process for maximum efficiency"
So tf.image for example has some elementary image processing methods already implemented which i'd assumed are optimized. The question is as I'm iterating through a large dataset of images what/how is the recommended way of implementing a more complex function on every image, in batches of course, (for example a a patch 2-D DCT) for it to go as best as possible with the whole tf.data framework.

T

[2018-09-14 13:00] davlhd commented on #16851
@Elites2017 I used a cutom model

[2018-09-14 13:03] gonnet commented on #20916
This is still an issue. I've been in touch with the original author, and am trying to fix it myself but lack spare cycles at the moment.

[2018-09-14 13:04] Elites2017 commented on #16851
Ok. Did you successfully convert it to .tflite? Which custom model did you use?

[2018-09-14 13:25] wzzju opened #22277 "How to compile the tensorflow-lite to get a smaller and faster library?"
### System information
- **Mobile device**:
    * HUAWEI Mate 9
    * Xiaomi Mi 6

### Describe the problem
During Arm AI Developer Global Summit, the Google engineer said that TensorFlow-Lite can be compiled into an about 400KB library. However, when I compile the latest TensorFlow-Lite, I can only get a  1.2MB dynamic link library. The following script is my compiled command:
[code]
What's wrong

[2018-09-14 13:51] davlhd commented on #16851
It converted but it tells me that
`concatenation.cc:74 t->dims->data[d] != t0->dims->data[d] (100 != 50) "Failed to allocate tensors"`
Its a proprietary model.

[2018-09-14 14:07] DeepakSridhar opened #22278 "TFLite Android ArrayIndex outofBound Exception length=40, index=-7"
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Partially modified TFLite Android code

### Describe the problem
Describe the problem clearly here. Be sure to convey here why it's a bug in TensorFlow or a feature request.
I converted mobilenet_v2_ssd trained using my data to tflite following the instructions in the blog post:
https://medium.com

[2018-09-14 14:10] Elites2017 commented on #16851
@davlhd Could you please give me a link to the config file or the pipeline file you edited to config it to train it?

[2018-09-14 14:18] davlhd commented on #16851
I am sorry I can't

[2018-09-14 14:50] Raj-08 commented on #22238
I am using default commands given by tensorflow:

`bazel build tensorflow/python/tools:optimize_for_inference
bazel-bin/tensorflow/python/tools/optimize_for_inference \
--input=/tf_files/retrained_graph.pb \
--output=/tf_files/optimized_graph.pb \
--input_names=Mul \
--output_names=final_result`

`bazel build tensorflow/tools/quantization:quantize_graph
bazel-bin/tensorflow/tools/quantization/quan

[2018-09-14 15:26] jdduke commented on #21213
Will be prioritizing this in Q4.

[2018-09-14 15:38] Elites2017 commented on #16851
@davlhd Could you please give me a link to the config file or the pipeline file you edited to config it to train it?

[2018-09-14 15:38] Elites2017 commented on #16851
ok

Ok

[2018-09-14 15:53] girving opened #22280 "Broken link to "capabilities and limitations" in AutoGraph guide"
https://www.tensorflow.org/guide/autograph has a link to `Autograph capabilities and limitations`.  The URL is https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/autograph/LIMITATIONS.md, but this is a dead link.  The corrected link is https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/autograph/LIMITATIONS.md.

[2018-09-14 15:53] girving commented on #22280
Cc @alextp.

[2018-09-14 15:54] girving commented on #22280
Queue bot complaining that I didn't answer the list of questions...

[2018-09-14 16:08] alextp commented on #22280
@lamberta can you update the page? I'm a little lost as to what change needs to be made now that we're changing the hosting of things

[2018-09-14 16:11] girving commented on #22280
Probably worth a quick grep to see if there are other bad links to contrib.

[2018-09-14 16:26] lamberta commented on #22280
Thanks. That file is here in the docs repo: https://github.com/tensorflow/docs/blob/master/site/en/guide/autograph.ipynb

But, yes, if it's out of contrib we should grep around and update.

[2018-09-14 16:27] harshini-gadige commented on #22276
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2018-09-14 16:27] #22276 closed

[2018-09-14 16:28] ZJZheng commented on #20886
@meixiaofeng Could you please post your code? I have the same issue and still wondering where to put the quantization functions. Thanks.

[2018-09-14 16:32] av8ramit commented on #22240
Nothing else I know of on Ubuntu unfortunately.

[2018-09-14 16:35] rockyrhodes commented on #21855
@abhi-rf: Agree with @freedomtan that this seems like the same problem as #21574.  In that thread, it is suggested that upgrading to 1.10 fixed the problem.  Have you tried this?

[2018-09-14 16:36] lamberta commented on #22280
Fixed contrib links. What about `from tensorflow.contrib import autograph` ?

[2018-09-14 16:37] poxvoculi commented on #22274
Looks like your CPU device is not overriding the

virtual ScopedAllocatorMgr* GetScopedAllocatorMgr() const { return nullptr; }

method on DeviceBase.  It is overridden in common_runtime/threadpool_device.h, which is normally the only way of building a CPU device.   I'm not sure whether this is an issue with the MacOS build or something specific to your build.  Given some more time, I'll try to re

[2018-09-14 16:43] rohith-k-sturfee commented on #19949
Following are the tensor names
`Placeholder`
`Placeholder_1`
`input`
`Pad/paddings`
`Pad`
`conv1_weight/initial_value`
`conv1_weight`
`conv1_weight/Assign`
`conv1_weight/read`
`convolution/dilation_rate`
`convolution`
`conv1_bias/initial_value`
`conv1_bias`
`conv1_bias/Assign`
`conv1_bias/read`
`add`
`relu1`
`PadV2/paddings`
`PadV2/constant_values`
`PadV2`
`pool1`
`norm1`
`Pad_1/paddings`
`Pad_1`

[2018-09-14 16:45] arpitkh96 commented on #18731
@gargn This should suffice. https://github.com/arpitkh96/KerasMobilnet/blob/master/Untitled.ipynb
I'll try to open separate issue when I'll have time

[2018-09-14 16:47] #22280 closed

[2018-09-14 16:50] gargn commented on #18731
@arpitkh96 One quick suggestion is to make sure that you are not passing in a training model by setting `keras.backend.set_learning_phase(False)`.

Additionally, `TocoConverter` has a `from_keras_model_file` function that makes it easier to do what you are doing, so I suggest using that. It is broken in 1.10, however, it has been fixed on the tf-nightly and in the 1.11 release.

[2018-09-14 16:52] alextp commented on #22280
For now the import is still through contrib; that should stay.

On Fri, Sep 14, 2018 at 9:42 AM Billy Lamberta <notifications@github.com>
wrote:

--
 - Alex

[2018-09-14 16:56] gargn commented on #16851
@davlhd @Elites2017 Can you create new issues with as much information as you can provide to reproduce your issue. Preferably include the code you are using to call the model, the command you are using to convert the model, and any other general information you can provide. If you can provide your model with dummy weights that would also be helpful.

[2018-09-14 17:30] skye commented on #22243
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-09-14 17:30] #22243 closed

[2018-09-14 17:32] #21735 closed

[2018-09-14 17:35] dlfu commented on #18850
i still have the issue with python 3.6.5
<img width="835" alt="screen shot 2018-09-14 at 10 34 49 am" src="https://user-images.githubusercontent.com/1424974/45565856-dc988680-b809-11e8-9037-a85ab3ef8430.png">

[2018-09-14 18:08] mihi-r commented on #18394
@ankitvgupta Ah, that makes sense. Thanks!

[2018-09-14 18:16] arpitkh96 commented on #18731
@gargn  learning phase and tf nightly finally fixed it. Thanks. BTW I was not loading from file because relu6 isn't recognized even after using CustomObjectScope

[2018-09-14 18:28] reedwm commented on #21991
Sorry for closing this issue. @walidk, can you take a look?

[2018-09-14 18:50] tensorflowbutler commented on #22272
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-14 18:52] gittyupagain commented on #22047
@PinkySan I was able to successfully build the TensorFlow C++ library by building `//tensorflow:libtensorflow_cc.so` from the `v1.11.0-rc0` tag. Without any changes, this built a version of `libtensorflow_cc.so` that only had the `TF_*` and `TFE_*` symbols in it. After closer examination, those are the only explicitly exported symbols, so it was expected. In order to get the necessary C++ symbols,

[2018-09-14 19:21] shashishekhar commented on #21245
@andrewginns : We did a few alignment related fixes and I reconverted the model, I was able to load it without issues, let me know if you are still facing issues. Use tflite_convert for converting the model.

Please reopen if you are still facing the issue.

[2018-09-14 19:21] #21245 closed

[2018-09-14 19:28] shashishekhar commented on #21787
@jiarenyf : Sorry I didn't get time to investigate this, will try to update the bug sometime in coming weeks.

[2018-09-14 19:35] theoamaya commented on #21787
You guy's send to much and you're not helping me in any

On Sep 14, 2018 12:34 PM, "Shashi" <notifications@github.com> wrote:

[2018-09-14 19:45] tychota opened #22285 "Executor failed to create kernel. Not found: No registered 'DataFormatDimMap' OpKernel for GPU devices compatible with node ReverseV2_1-1-DimMapNHWCToNCHW-LayoutOptimizer = DataFormatDimMap[T=DT_INT32, _kernel="host", dst_format="NCHW", src_format="NHWC", _device="/job:localhost/replica:0/task:0/device:GPU:0"](concat)"
Note: I'm noob to tensorflow. I can provide more info if needed.

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No. I trained https://github.com/lightvector/GoNN on my own data (`data.h5`) without code modification
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: gentoo (kernel 4.17.14-gentoo)  uptodate
-

[2018-09-14 19:46] ezhulenev commented on #19491
No, these changes are for CPU only, GPU kernels are the same cudnn base code as before.

Can you upload the graph def that you are executing on CPU, TF CPU convolutions require NDHWC* data format, and from your code I see that Keras is using channels_first. I guess there might be some unnecessary layout conversions. Also I don't have a good representative Conv3D dimensions for benchmarks: https://

[2018-09-14 19:46] superbobry commented on #22030
Thanks @rachellim!

[2018-09-14 20:02] guptapriya commented on #20651
Looks like the related issue (https://github.com/tensorflow/tensorflow/issues/20521) was fixed. @QianJenLiu / @mattiasarro could you try out your case again and see if it is fixed?

[2018-09-14 20:04] karmel commented on #21963
It looks like you are using a fairly out of date version of TensorFlow. Can you try upgrading your version of TensorFlow, and resubmit if the issue continues? Thanks.

[2018-09-14 20:04] #21963 closed

[2018-09-14 20:05] #21888 closed

[2018-09-14 20:07] karmel commented on #21909
Contrib is going away altogether in TensorFlow 2.0, so this problem should resolve itself in the coming months regardless. Is it sufficient to not run that test for you for now?

[2018-09-14 20:09] guptapriya commented on #22088
@jrabary can you provide code to reproduce this?

@chsigg looks like the OOM is coming from the Nccl op, could you help take look as well?

[2018-09-14 20:13] karmel commented on #21863
@dhingratul -- this is hard to help debug without further information. Can you replicate this with open data and a minimal example? What does using separate ops look like (crop, then resize)?

[2018-09-14 20:16] roshan-dongre commented on #22240
Hi @av8ramit thanks for answering. I need to generate an inference in C++ and typically in Linux you include an so or a library along with some headers to get it in your binary. We use a regular Makefile here, how can I accomplish this with tensorflow? Thank you

[2018-09-14 20:19] karmel commented on #21476
For uneven sequences, you might use a serialized tf.Example or tf.SequenceExample; that would allow you to deserialize and parse at run time, adding the padding you want. Alternatively, you can pad out your data as you desire in numpy to match the target representation internally. Would either of those solutions work?

[2018-09-14 20:35] harshini-gadige commented on #22257
#12388

[2018-09-14 20:42] wdirons commented on #21909
The original intention of asking this to be assigned to me was so I could investigate why it was slower on Power then x86. But, I have a backlog of defects to look at and if they code isn't going to be ported over to tensorflow/probability then it can probably be closed.

[2018-09-14 20:45] harshini-gadige commented on #22257
@jidroid404 Installing tensorflow 1.10 would resolve this issue.

[2018-09-14 20:45] #22257 closed

[2018-09-14 21:26] karmel commented on #21926
@aselle - who can address Raspberry Pi issues?

[2018-09-14 21:36] karmel commented on #22145
Could you provide a means of replicating the issue if not the above? Otherwise, there's not much we can do to help here.

[2018-09-14 21:37] karmel commented on #22204
I apologize, but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Can you clarify what you are trying to do?

[2018-09-14 21:37] karmel commented on #20997
Great, thanks for updating. Closing this.

[2018-09-14 21:37] #20997 closed

[2018-09-14 21:44] karmel commented on #21909
Ah, I see-- @jvdillon , is this code that will move to TFP?

[2018-09-14 21:47] ymodak commented on #22267
@jmsinusa Thank you for the post. Yes you are right about the pointing of eager_basics.ipynb link, we have moved the notebooks to the tensorflow/docs repository. We have mentioned this update in the Readme file as well. I am closing this issue as you can access the notebooks from the tensorflow/docs repository.

[2018-09-14 21:47] #22267 closed

[2018-09-14 22:09] wt-huang commented on #12596
@reedwm @yuefengz seems like there is a plan to change the implementation of QueueRunner from queues and ops. Could you take a look at this?

[2018-09-14 23:07] karmel commented on #22213
Sorry, but I am not able to run or replicate with the code snippet above; can you produce a minimal example that demonstrates the issue?

[2018-09-14 23:09] karmel commented on #21492
@jhseu -- I hear you might be able to advise on YARN?

[2018-09-14 23:15] karmel commented on #22236
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-09-14 23:15] #22236 closed

[2018-09-14 23:27] #22050 closed

[2018-09-14 23:36] karmel commented on #21668
@martinwicke -- what will be the fate of contrib.losses.metric_learning in TF 2.0? @coreylynch presumably is not active in maintaining this?

[2018-09-14 23:49] ahmad53135 commented on #10609
I had this problem and for me, it was due to facing a null matrix during my computation
so I just add a tf.cond for empty matrix

[2018-09-14 23:50] martinwicke commented on #21668
I seems that way.

There will be a SIG which will decide what content to bring in from the various generic contrib directories. I'll share an RFC once I have one.

[2018-09-14 23:51] martinwicke commented on #21668
I'll close this issue. We can reconsider a feature request once we know the fate of specific contrib symbols.

[2018-09-14 23:51] #21668 closed

[2018-09-15 00:19] wt-huang commented on #11831
@yhu9 is this still an issue?

[2018-09-15 00:33] sboshin opened #22287 "ConvertGraphDefToGraph in graph_construction.cc has a bug"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-15 00:36] #11802 closed

[2018-09-15 00:43] tatianashp commented on #21727
@alextp Can you take a look at what's going on here? #22268 looks like the same problem.

[2018-09-15 00:45] wt-huang commented on #11588
Closing this since the feature is added

[2018-09-15 00:45] #11588 closed

[2018-09-15 00:51] tatianashp commented on #22019
@aselle Can you help here?

[2018-09-15 00:53] #11395 closed

[2018-09-15 00:55] wt-huang commented on #11395
Closing this issue as PR is in place

[2018-09-15 00:59] wt-huang commented on #11350
Closing this issue since there is a working solution

[2018-09-15 00:59] #11350 closed

[2018-09-15 01:04] #11087 closed

[2018-09-15 01:09] #11155 closed

[2018-09-15 01:14] av8ramit commented on #21524
How about now for mac?

[2018-09-15 01:33] #10520 closed

[2018-09-15 01:41] #11782 closed

[2018-09-15 01:50] #12537 closed

[2018-09-15 01:55] wt-huang commented on #12460
@PaulWoitaschek can you please check whether the update has been pushed to jcenter?

[2018-09-15 02:06] #11865 closed

[2018-09-15 04:49] zzz123xyz commented on #15604
Exactly, Thanks so much for solving the problem, I have spent days to crack this up. really appreciate mate

[2018-09-15 05:57] PaulWoitaschek commented on #12460
https://bintray.com/google/tensorflow/tensorflow-lite

Only 1.10.0

[2018-09-15 06:02] PengQi220 commented on #22239
System information has updated.

[2018-09-15 06:05] freedomtan commented on #22200
@imxboards what do you mean by "retain mobilenetv2"? If you follow the [retrain tutorial](https://www.tensorflow.org/hub/tutorials/image_retraining), should be quite easy.

[2018-09-15 06:40] XVilka commented on #22
Judging by the dynamics of this bug and other forks Google has zero interest in this and will **never** implement this in the official repository. I would vote for closing this issue (or locking it) at all to not give any false hopes for everyone.

[2018-09-15 06:48] klokik commented on #22
The issue should be here to at least point here all the folks who will
inevitably open it again.

On Sat, Sep 15, 2018, 09:45 Anton Kochkov <notifications@github.com> wrote:

[2018-09-15 07:48] SijanC147 commented on #11756
Unfortunately, as @yaroslavvb mentioned the `masked_softmax` implementation by @bstriner broke for me when computing gradients, producing `NaN`s.

A simple workaround that got it working for me was replacing `np.inf` with `tf.float32.max`. This, of course, incurs some penalty as the padded values will not be _completely_ negligible, but I think it is the most numerically stable approach.

I'm also

[2018-09-15 08:03] keineahnung2345 commented on #7511
@jonla1 Someone has implemented a CUDA version based on the mentioned paper here:
https://github.com/jeetkanjani7/Parallel_NMS
And following is my PyCUDA version:
https://github.com/keineahnung2345/Parallel_NMS

[2018-09-15 09:01] chensongkui opened #22290 "can tf.FFT deal with images？"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-15 09:07] Q82822 opened #22291 "vgg16 transfer learning will be error "TypeError: provided list of inputs contains objects other than 'EagerTensor'""
### System information
Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 16.04
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary): source
TensorFlow version (use command below): 1.11.0 (use tf-nigh

[2018-09-15 10:40] GPrathap commented on #22208
Any update on this

[2018-09-15 11:06] NoreenMekky commented on #9829
just updating my packages using `conda update anaconda` fixed it for me.

[2018-09-15 11:12] NoreenMekky commented on #21554
I got the same problem after installation, so I just updated my packages and it's now working.
If you are using anaconda you can simply do `conda update anaconda --yes`
Hope it helps.

[2018-09-15 11:42] etale-cohomology commented on #18063
It's not robust behavior that the library crashes when it encounters an empty `__doc__` string. But, still, thanks for looking at this.

[2018-09-15 11:42] SumNeuron commented on #16875
@gunan I agree. This will only cause more grievance with time. With an unpleasant workaround being using virtualenv  inside a container... which defeats the point.

[2018-09-15 12:48] SumNeuron opened #22292 "Docker with python 3.6"
Please update your [nvidia docker file](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/dockerfiles/dockerfiles/nvidia.Dockerfile) to support python 3.6.

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: tried to take relevant parts from docker file, but I get timeouts.
- **OS Platform and Distributio

[2018-09-15 13:09] cqfindingmyself opened #22293 "'_TensorLike'"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-15 14:01] facaiy commented on #22208
I think the patch 3331c574b will be released with r1.11. Would you mind taking a try on
+ 1.11-rc: `pip install tensorflow==1.11.0rc0`
+ or nightly version: `pip install tf-nightly`

[2018-09-15 14:08] facaiy commented on #22275
@fchollet @mrry Would you mind taking a look?

[2018-09-15 14:53] darrellenns commented on #19375
I have also tried everything solution listed here, and the same issue persists

- cuda 9.0 using "local install"
- set PATH and LD_LIBRARY_PATH
- library path in ld.so.conf.d and ran ldconfig
- nvidia driver 390.87
- installed opencv-python and np_utils

[2018-09-15 16:35] dshawul commented on #16291
Is there a solution for this now -- I am Ok even with using older versions of tensorflow as I need this feature badly ? With "monolithic" build , I am unable to load graphs on specific GPUs using SetDefaultDevice(). This looks like a very serious limitation -- that was pointed out two years ago here https://github.com/tensorflow/tensorflow/issues/5379  -- and still not solved !?

[2018-09-15 17:33] donutloop opened #22294 "Golang: could not determine kind of name for C.TF_UINT64"
I do have a issue with building my golang app. I'm getting this error while compiling my application.

github.com/donutloop/imagedetection/vendor/github.com/tensorflow/tensorflow/tensorflow/go
vendor/github.com/tensorflow/tensorflow/tensorflow/go/tensor.go:42:24: could not determine kind of name for C.TF_UINT32
vendor/github.com/tensorflow/tensorflow/tensorflow/go/tensor.go:50:24: could not determ

[2018-09-15 17:56] OronG13 commented on #21710
No,
It can be closed.
I couldn't find any solution except when I tried with Tensorflow 1.5 version and then it worked fine and I could identify the GPU.
Thanks

[2018-09-15 18:06] GPrathap commented on #22208
yeap, I will try and let you know. Thanks

[2018-09-15 18:29] #17739 closed

[2018-09-15 18:29] #18326 closed

[2018-09-15 18:29] #18459 closed

[2018-09-15 18:29] #18484 closed

[2018-09-15 18:29] #19603 closed

[2018-09-15 18:29] #19823 closed

[2018-09-15 18:29] #20158 closed

[2018-09-15 18:29] #20344 closed

[2018-09-15 18:30] #20447 closed

[2018-09-15 18:30] #20459 closed

[2018-09-15 18:30] #20610 closed

[2018-09-15 18:30] #20670 closed

[2018-09-15 18:30] #20834 closed

[2018-09-15 18:30] #21134 closed

[2018-09-15 18:30] #21158 closed

[2018-09-15 18:30] #21166 closed

[2018-09-15 18:30] #21193 closed

[2018-09-15 18:30] #21268 closed

[2018-09-15 18:30] #21273 closed

[2018-09-15 18:30] tensorflowbutler commented on #2625
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-09-15 18:30] tensorflowbutler commented on #2732
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-09-15 18:30] tensorflowbutler commented on #7876
Nagging Assignee @sherrym: It has been 229 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:31] tensorflowbutler commented on #9690
Nagging Assignee @skye: It has been 339 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:31] tensorflowbutler commented on #10270
Nagging Assignee @allenlavoie: It has been 32 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:31] tensorflowbutler commented on #10370
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-09-15 18:31] tensorflowbutler commented on #11070
Nagging Assignee @zheng-xq: It has been 50 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:31] tensorflowbutler commented on #11823
Nagging Assignee @reedwm: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:31] tensorflowbutler commented on #11882
Nagging Assignee @zheng-xq: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:31] tensorflowbutler commented on #12084
Nagging Assignee @petewarden: It has been 121 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:31] tensorflowbutler commented on #12132
Nagging Assignee @zheng-xq: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:31] tensorflowbutler commented on #12293
Nagging Assignee @mjanusz: It has been 95 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:31] tensorflowbutler commented on #12301
Nagging Assignee @petewarden: It has been 226 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:31] tensorflowbutler commented on #13222
Nagging Assignee @rmlarsen: It has been 123 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:31] tensorflowbutler commented on #13351
Nagging Assignee @djvisentin: It has been 92 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:31] tensorflowbutler commented on #13620
Nagging Assignee @ysuematsu: It has been 169 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:31] tensorflowbutler commented on #13984
Nagging Assignee @gunan: It has been 165 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:32] tensorflowbutler commented on #14048
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-15 18:32] tensorflowbutler commented on #14083
Nagging Assignee @davidsoergel: It has been 32 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:32] tensorflowbutler commented on #14134
Nagging Assignee @asimshankar: It has been 165 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:32] tensorflowbutler commented on #14452
Nagging Assignee @petewarden: It has been 171 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:32] tensorflowbutler commented on #14584
Nagging Assignee @skye: It has been 93 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:32] tensorflowbutler commented on #14623
Nagging Assignee @skye: It has been 121 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:32] tensorflowbutler commented on #14663
Nagging Assignee @ebrevdo: It has been 212 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:32] tensorflowbutler commented on #15284
Nagging Assignee @gunan: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:32] tensorflowbutler commented on #15463
Nagging Assignee @ekelsen: It has been 125 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:32] tensorflowbutler commented on #15621
As this issue has invited community support, please remove the assignee. Otherwise, remove the `community support` label. Thank you.

[2018-09-15 18:33] tensorflowbutler commented on #15626
Nagging Assignee @asimshankar: It has been 211 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:33] tensorflowbutler commented on #15818
Nagging Assignee @derekjchow: It has been 96 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:33] tensorflowbutler commented on #15874
Nagging Assignee @skye: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:33] tensorflowbutler commented on #16050
Nagging Assignee @rmlarsen: It has been 95 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:33] tensorflowbutler commented on #16087
Nagging Assignee @xiejw: It has been 108 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:33] tensorflowbutler commented on #16138
Nagging Assignee @gunan: It has been 78 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:33] tensorflowbutler commented on #16139
Nagging Assignees @poxvoculi, @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:33] tensorflowbutler commented on #16150
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-15 18:33] tensorflowbutler commented on #16311
Nagging Assignee @skye: It has been 49 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:33] tensorflowbutler commented on #16363
Nagging Assignee @ysuematsu: It has been 96 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:33] tensorflowbutler commented on #16465
Nagging Assignee @rryan: It has been 95 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:33] tensorflowbutler commented on #16466
Nagging Assignee @chihuahua: It has been 75 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:33] tensorflowbutler commented on #16532
Nagging Assignee @fchollet: It has been 124 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:34] tensorflowbutler commented on #16572
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-15 18:34] tensorflowbutler commented on #16611
Nagging Assignee @ispirmustafa: It has been 76 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:34] tensorflowbutler commented on #16665
Nagging Assignee @bignamehyp: It has been 128 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:34] tensorflowbutler commented on #16772
Nagging Assignee @shivaniag: It has been 175 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:34] tensorflowbutler commented on #16774
Nagging Assignee @fchollet: It has been 213 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:34] tensorflowbutler commented on #16798
Nagging Assignee @chsigg: It has been 94 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:34] tensorflowbutler commented on #16864
Nagging Assignee @rmlarsen: It has been 94 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:34] tensorflowbutler commented on #16872
Nagging Assignee @ekelsen: It has been 169 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:34] tensorflowbutler commented on #17009
Nagging Assignee @protoget: It has been 125 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:34] tensorflowbutler commented on #17200
Nagging Assignee @fchollet: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:34] tensorflowbutler commented on #17211
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-15 18:34] tensorflowbutler commented on #17246
Nagging Assignee @alextp: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:35] tensorflowbutler commented on #17273
It has been 30 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-15 18:35] tensorflowbutler commented on #17332
Nagging Assignee @rmlarsen: It has been 121 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:35] tensorflowbutler commented on #17390
Nagging Assignee @asimshankar: It has been 79 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:35] tensorflowbutler commented on #17419
Nagging Assignee @fchollet: It has been 165 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:35] tensorflowbutler commented on #17463
Nagging Assignee @tatatodd: It has been 192 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:35] tensorflowbutler commented on #17484
Nagging Assignee @rohan100jain: It has been 121 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:35] tensorflowbutler commented on #17541
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:35] donutloop commented on #22294
Fixed it

[2018-09-15 18:35] #22294 closed

[2018-09-15 18:35] tensorflowbutler commented on #17564
Nagging Assignee @rmlarsen: It has been 168 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:35] tensorflowbutler commented on #17650
Nagging Assignee @xiejw: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:35] tensorflowbutler commented on #17691
Nagging Assignee @tatatodd: It has been 185 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:35] tensorflowbutler commented on #17739
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-09-15 18:35] tensorflowbutler commented on #17746
Nagging Assignee @shivaniag: It has been 182 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:36] tensorflowbutler commented on #17832
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-09-15 18:36] tensorflowbutler commented on #17850
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:36] tensorflowbutler commented on #17851
Nagging Assignees @guptapriya, @josh11b: It has been 93 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:36] tensorflowbutler commented on #17930
Nagging Assignee @asimshankar: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:36] tensorflowbutler commented on #17965
Nagging Assignee @skye: It has been 65 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:36] tensorflowbutler commented on #17974
Nagging Assignee @suharshs: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:36] tensorflowbutler commented on #17978
Nagging Assignee @shivaniag: It has been 169 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:36] tensorflowbutler commented on #17984
Nagging Assignee @aselle: It has been 49 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:36] tensorflowbutler commented on #17995
Nagging Assignee @tatatodd: It has been 109 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:36] tensorflowbutler commented on #18065
Nagging Assignee @shivaniag: It has been 169 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:36] tensorflowbutler commented on #18080
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-09-15 18:36] tensorflowbutler commented on #18112
Nagging Assignee @rmlarsen: It has been 168 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:36] tensorflowbutler commented on #18186
Nagging Assignee @jart: It has been 165 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:36] tensorflowbutler commented on #18222
Nagging Assignee @yuefengz: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:37] tensorflowbutler commented on #18237
Nagging Assignee @chsigg: It has been 140 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:37] tensorflowbutler commented on #18266
Nagging Assignee @saeta: It has been 75 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:37] tensorflowbutler commented on #18280
Nagging Assignee @andrewharp: It has been 154 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:37] tensorflowbutler commented on #18296
Nagging Assignees @meteorcloudy, @gunan: It has been 31 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:37] tensorflowbutler commented on #18297
Nagging Assignee @tatianashp: It has been 135 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:37] tensorflowbutler commented on #18311
Nagging Assignee @rmlarsen: It has been 80 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:37] tensorflowbutler commented on #18317
Nagging Assignee @rohan100jain: It has been 50 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:37] tensorflowbutler commented on #18323
Nagging Assignee @fchollet: It has been 97 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:37] tensorflowbutler commented on #18326
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-09-15 18:37] tensorflowbutler commented on #18459
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-09-15 18:37] tensorflowbutler commented on #18480
Nagging Assignee @caisq: It has been 76 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:37] tensorflowbutler commented on #18484
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-09-15 18:38] tensorflowbutler commented on #18491
Nagging Assignee @rmlarsen: It has been 108 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:38] tensorflowbutler commented on #18537
Nagging Assignee @zheng-xq: It has been 140 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:38] tensorflowbutler commented on #18538
Nagging Assignee @yifeif: It has been 36 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:38] tensorflowbutler commented on #18543
Nagging Assignee @saeta: It has been 49 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:38] tensorflowbutler commented on #18552
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-15 18:38] tensorflowbutler commented on #18640
Nagging Assignee @cy89: It has been 35 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:38] tensorflowbutler commented on #18656
Nagging Assignee @tatatodd: It has been 136 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:38] tensorflowbutler commented on #18734
Nagging Assignee @suharshs: It has been 137 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:38] tensorflowbutler commented on #18807
Nagging Assignee @aselle: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:38] tensorflowbutler commented on #18863
Nagging Assignee @rmlarsen: It has been 123 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:39] tensorflowbutler commented on #18872
Nagging Assignee @gunan: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:39] chaine09 commented on #12799
any solution?

[2018-09-15 18:39] tensorflowbutler commented on #18874
Nagging Assignee @zffchen78: It has been 140 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:39] tensorflowbutler commented on #18901
Nagging Assignee @petewarden: It has been 50 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:39] tensorflowbutler commented on #18917
Nagging Assignee @bignamehyp: It has been 92 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:39] tensorflowbutler commented on #18934
Nagging Assignee @shivaniag: It has been 137 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:39] tensorflowbutler commented on #19000
Nagging Assignees @karmel, @k-w-w: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:39] tensorflowbutler commented on #19041
Nagging Assignee @rohan100jain: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:39] EvansDaniel commented on #20459
Yes you can. Take a look at this blog post: https://tuanphuc.github.io/standalone-tensorflow-cpp/

[2018-09-15 18:39] tensorflowbutler commented on #19071
Nagging Assignees @petewarden, @achowdhery, @tatatodd: It has been 31 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:39] tensorflowbutler commented on #19119
Nagging Assignee @mrry: It has been 50 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:39] tensorflowbutler commented on #19138
Nagging Assignee @rohan100jain: It has been 50 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:40] tensorflowbutler commented on #19168
Nagging Assignee @skye: It has been 50 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:40] tensorflowbutler commented on #19241
Nagging Assignee @anj-s: It has been 65 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:40] tensorflowbutler commented on #19245
Nagging Assignee @shivaniag: It has been 107 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:40] tensorflowbutler commented on #19262
Nagging Assignee @tatatodd: It has been 124 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:40] tensorflowbutler commented on #19272
Nagging Assignee @shivaniag: It has been 123 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:40] tensorflowbutler commented on #19283
Nagging Assignee @ekelsen: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:40] tensorflowbutler commented on #19368
Nagging Assignee @shivaniag: It has been 120 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:40] tensorflowbutler commented on #19376
Nagging Assignee @tatatodd: It has been 109 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:40] tensorflowbutler commented on #19391
Nagging Assignee @poxvoculi: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:40] tensorflowbutler commented on #19395
Nagging Assignee @ebrevdo: It has been 21 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:40] tensorflowbutler commented on #19397
Nagging Assignee @bignamehyp: It has been 76 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:40] tensorflowbutler commented on #19420
Nagging Assignee @jart: It has been 114 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:41] tensorflowbutler commented on #19421
Nagging Assignee @tatatodd: It has been 111 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:41] tensorflowbutler commented on #19457
Nagging Assignee @allenlavoie: It has been 78 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:41] tensorflowbutler commented on #19473
Nagging Assignee @zheng-xq: It has been 35 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:41] tensorflowbutler commented on #19478
Nagging Assignee @shivaniag: It has been 95 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:41] tensorflowbutler commented on #19481
Nagging Assignee @tatatodd: It has been 108 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:41] tensorflowbutler commented on #19517
Nagging Assignee @jart: It has been 94 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:41] tensorflowbutler commented on #19530
As this issue has invited community support, please remove the assignee. Otherwise, remove the `community support` label. Thank you.

[2018-09-15 18:41] tensorflowbutler commented on #19564
Nagging Assignee @jart: It has been 77 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:41] tensorflowbutler commented on #19567
Nagging Assignee @robieta: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:41] tensorflowbutler commented on #19586
Nagging Assignee @aselle: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:41] tensorflowbutler commented on #19603
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-09-15 18:42] tensorflowbutler commented on #19631
It has been 35 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-15 18:42] tensorflowbutler commented on #19640
Nagging Assignee @shivaniag: It has been 48 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:42] tensorflowbutler commented on #19645
Nagging Assignee @tatatodd: It has been 108 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:42] tensorflowbutler commented on #19685
Nagging Assignee @andrehentz: It has been 46 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:42] tensorflowbutler commented on #19690
Nagging Assignee @chsigg: It has been 35 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:42] tensorflowbutler commented on #19695
As this issue has invited community support, please remove the assignee. Otherwise, remove the `community support` label. Thank you.

[2018-09-15 18:42] tensorflowbutler commented on #19734
Nagging Assignee @robieta: It has been 103 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:42] tensorflowbutler commented on #19739
Nagging Assignee @MarkDaoust: It has been 66 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:42] tensorflowbutler commented on #19770
Nagging Assignee @jart: It has been 32 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:42] tensorflowbutler commented on #19823
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-09-15 18:42] tensorflowbutler commented on #19832
Nagging Assignees @sguada, @ebrevdo: It has been 65 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:43] tensorflowbutler commented on #19837
Nagging Assignee @jart: It has been 64 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:43] tensorflowbutler commented on #19864
Nagging Assignee @fchollet: It has been 63 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:43] tensorflowbutler commented on #19903
Nagging Assignees @ispirmustafa, @eddie-zhou: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:43] tensorflowbutler commented on #19935
Nagging Assignee @robieta: It has been 79 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:43] tensorflowbutler commented on #19939
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-15 18:43] tensorflowbutler commented on #19952
Nagging Assignee @jsimsa: It has been 49 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:43] tensorflowbutler commented on #19965
Nagging Assignee @sguada: It has been 65 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:43] tensorflowbutler commented on #19989
Nagging Assignee @jart: It has been 93 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:43] tensorflowbutler commented on #19991
Nagging Assignee @tatatodd: It has been 46 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:43] tensorflowbutler commented on #20007
Nagging Assignee @tatatodd: It has been 92 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:44] tensorflowbutler commented on #20041
Nagging Assignee @zheng-xq: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:44] tensorflowbutler commented on #20050
Nagging Assignee @MarkDaoust: It has been 65 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:44] tensorflowbutler commented on #20068
Nagging Assignee @saeta: It has been 61 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:44] tensorflowbutler commented on #20072
Nagging Assignee @tatianashp: It has been 91 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:44] tensorflowbutler commented on #20073
Nagging Assignee @fchollet: It has been 31 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:44] tensorflowbutler commented on #20086
Nagging Assignee @robieta: It has been 89 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:44] tensorflowbutler commented on #20090
Nagging Assignee @ispirmustafa: It has been 65 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:44] tensorflowbutler commented on #20098
Nagging Assignee @saxenasaurabh: It has been 63 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:44] tensorflowbutler commented on #20120
Nagging Assignee @jart: It has been 33 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:44] tensorflowbutler commented on #20142
Nagging Assignee @tatianashp: It has been 46 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:44] tensorflowbutler commented on #20148
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-15 18:44] tensorflowbutler commented on #20157
Nagging Assignees @jjsjann123, @aaroey: It has been 35 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:45] tensorflowbutler commented on #20158
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-09-15 18:45] tensorflowbutler commented on #20201
Nagging Assignee @tatianashp: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:45] tensorflowbutler commented on #20273
Nagging Assignee @robieta: It has been 31 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:45] tensorflowbutler commented on #20309
Nagging Assignees @zhangyaobit, @zheng-xq: It has been 79 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:45] tensorflowbutler commented on #20337
It has been 35 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-15 18:45] tensorflowbutler commented on #20342
Nagging Assignee @josh11b: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:45] tensorflowbutler commented on #20343
Nagging Assignee @MarkDaoust: It has been 31 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:45] tensorflowbutler commented on #20344
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-09-15 18:45] tensorflowbutler commented on #20348
Nagging Assignee @rongou: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:45] tensorflowbutler commented on #20358
Nagging Assignee @bignamehyp: It has been 48 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:45] tensorflowbutler commented on #20368
Nagging Assignee @zheng-xq: It has been 61 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:45] tensorflowbutler commented on #20369
Nagging Assignee @zheng-xq: It has been 65 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:45] tensorflowbutler commented on #20382
Nagging Assignee @shivaniag: It has been 75 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:46] tensorflowbutler commented on #20392
Nagging Assignee @jart: It has been 65 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:46] tensorflowbutler commented on #20399
Nagging Assignee @bignamehyp: It has been 46 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:46] tensorflowbutler commented on #20414
Nagging Assignee @zheng-xq: It has been 31 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:46] tensorflowbutler commented on #20427
Nagging Assignee @aselle: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:46] tensorflowbutler commented on #20435
Nagging Assignee @MarkDaoust: It has been 65 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:46] tensorflowbutler commented on #20447
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-09-15 18:46] tensorflowbutler commented on #20459
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-09-15 18:46] tensorflowbutler commented on #20502
Nagging Assignee @bignamehyp: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:46] tensorflowbutler commented on #20506
Nagging Assignee @ispirmustafa: It has been 61 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:46] tensorflowbutler commented on #20555
Nagging Assignee @jart: It has been 65 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:46] tensorflowbutler commented on #20557
Nagging Assignee @tatatodd: It has been 65 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:47] tensorflowbutler commented on #20561
Nagging Assignee @allenlavoie: It has been 50 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:47] tensorflowbutler commented on #20563
Nagging Assignee @bignamehyp: It has been 46 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:47] tensorflowbutler commented on #20586
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-15 18:47] tensorflowbutler commented on #20606
Nagging Assignees @jart, @nfelt: It has been 65 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:47] tensorflowbutler commented on #20610
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-09-15 18:47] tensorflowbutler commented on #20613
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-15 18:47] tensorflowbutler commented on #20624
Nagging Assignee @bignamehyp: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:47] tensorflowbutler commented on #20642
Nagging Assignees @ispirmustafa, @anj-s: It has been 35 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:47] tensorflowbutler commented on #20662
Nagging Assignee @asimshankar: It has been 66 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:47] tensorflowbutler commented on #20670
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-09-15 18:47] tensorflowbutler commented on #20680
Nagging Assignee @robieta: It has been 66 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:47] tensorflowbutler commented on #20683
Nagging Assignee @rmlarsen: It has been 31 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:47] tensorflowbutler commented on #20688
Nagging Assignee @meteorcloudy: It has been 61 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:47] tensorflowbutler commented on #20689
Nagging Assignee @tatatodd: It has been 66 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:48] tensorflowbutler commented on #20696
Nagging Assignee @jart: It has been 64 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:48] tensorflowbutler commented on #20737
Nagging Assignee @jvdillon: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:48] tensorflowbutler commented on #20765
Nagging Assignee @shivaniag: It has been 64 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:48] tensorflowbutler commented on #20779
Nagging Assignee @jart: It has been 61 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:48] tensorflowbutler commented on #20796
Nagging Assignee @jart: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:48] tensorflowbutler commented on #20805
Nagging Assignees @alextp, @anj-s: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:48] tensorflowbutler commented on #20814
Nagging Assignee @tatatodd: It has been 62 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:48] tensorflowbutler commented on #20819
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-15 18:48] tensorflowbutler commented on #20834
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-09-15 18:48] tensorflowbutler commented on #20856
Nagging Assignee @aaroey: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:48] tensorflowbutler commented on #20857
Nagging Assignee @tatatodd: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:48] tensorflowbutler commented on #20870
Nagging Assignee @tatatodd: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:48] tensorflowbutler commented on #20883
Nagging Assignee @yifeif: It has been 50 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:49] tensorflowbutler commented on #20964
Nagging Assignee @robieta: It has been 31 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:49] tensorflowbutler commented on #21095
Nagging Assignee @MarkDaoust: It has been 50 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:49] tensorflowbutler commented on #21096
Nagging Assignees @av8ramit, @gunan: It has been 35 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:49] tensorflowbutler commented on #21103
Nagging Assignee @robieta: It has been 50 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:49] tensorflowbutler commented on #21112
Nagging Assignee @rmlarsen: It has been 50 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:49] tensorflowbutler commented on #21134
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-09-15 18:50] tensorflowbutler commented on #21141
It has been 37 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-15 18:50] tensorflowbutler commented on #21158
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-09-15 18:50] tensorflowbutler commented on #21162
Nagging Assignee @robieta: It has been 46 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:50] tensorflowbutler commented on #21166
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-09-15 18:50] tensorflowbutler commented on #21185
Nagging Assignee @allenlavoie: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:50] tensorflowbutler commented on #21192
Nagging Assignee @karmel: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:50] tensorflowbutler commented on #21193
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-09-15 18:50] tensorflowbutler commented on #21196
Nagging Assignee @derekjchow: It has been 35 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-15 18:50] tensorflowbutler commented on #21204
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.