[2020-06-08 22:23] gowthamkpr commented on #40237
@yanglei-github Please take a look at this [doc](https://www.tensorflow.org/addons/tutorials/networks_seq2seq_nmt) where LSTM has been user for Neural Machine Translation. Thanks!

[2020-06-08 22:23] AngelBerihuete commented on #39417
Sorry, I can't update to nightly. It's difficult to me understand your last sentence. Please, could you tell me how to do that using the code above?

[2020-06-08 22:46] natario1 commented on #26297
Has anyone managed to bind the buffer with the v2 delegate?

It seems to me that mediapipe is already using it, see [mediapipe/tflite_gpu_runner.h](https://github.com/google/mediapipe/blob/master/mediapipe/util/tflite/tflite_gpu_runner.h) . This runner is used [in the calculator](https://github.com/google/mediapipe/blob/master/mediapipe/calculators/tflite/tflite_inference_calculator.cc#L241) menti

[2020-06-08 22:47] ymodak commented on #35447
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2020-06-08 22:47] #35447 closed

[2020-06-08 22:47] abattery commented on #40000
@liufengdb could you take a look at this?

[2020-06-08 22:48] gowthamkpr commented on #40228
@albertz I was able to reproduce this issue. Please find the gist [here](https://colab.research.google.com/gist/gowthamkpr/1eae651a81bc489443a7fdb5119a4ef4/untitled960.ipynb). Thanks for reporting.

[2020-06-08 22:48] ymodak commented on #35177
Is this still an issue with latest TF version?

[2020-06-08 22:55] ymodak commented on #35942
@MariaHeuss This is fixed with TensorFlow 2.2 Thanks!

[2020-06-08 23:01] gowthamkpr commented on #40259
What version of tensorflow are you using? You can refer to the following question [here](https://stackoverflow.com/questions/44125403/how-to-access-tensor-content-values-in-tensorproto-in-tensorflow) to acess tensor content values in tensorproto

[2020-06-08 23:04] ymodak commented on #37511
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-06-08 23:04] #37511 closed

[2020-06-08 23:05] nikita1andreev commented on #39459
This version of ipynb needs for 4x smaller RAM, and i can run it in colab, but speed deceleration is not reproducted, it is about 40 sec from start, and same after loading from file.
I think the reason in differents between my local GPU - RTX2060, and colabs GPUs.
Another reason may be in smaller RAM for dataset (i dont think so), or some colab properties.

Try the original version on local enviro

[2020-06-08 23:06] ymodak commented on #37945
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2020-06-08 23:06] #37945 closed

[2020-06-08 23:06] #40016 closed

[2020-06-08 23:08] nikitamaia commented on #40244
Hi @alexrogozea can you confirm that your code runs on a single machine?

[2020-06-08 23:09] ymodak commented on #38393
@maingoh TF 2.2 final version has released. Is this still an issue with latest TF version?

[2020-06-08 23:15] programandoconro commented on #40238
@gowthamkpr Thank you, I will.

[2020-06-08 23:15] #40238 closed

[2020-06-08 23:17] alexrogozea commented on #40244
Hi Nikita, it doesn't. Running only with worker 0 on the machine I get the
same error.

On Tue, 9 Jun 2020 at 00:08, Nikita Namjoshi <notifications@github.com>
wrote:

--
Alex Rogozea

+44 7783 509 193
London, United Kingdom

[2020-06-08 23:26] gowthamkpr commented on #40096
@miohana Makes sense.. Can I see full log message? Thanks!

[2020-06-08 23:27] dmassegur commented on #35950
I have had exactly the same problem with an RTX 2060 on Win10. And downgrading NVIDIA to 431.86 driver (from factory installation 442.23) with TF 2.2, CUDA 10.1 and CUDNN 7.6.5 seems to work for me too. Thanks.

However, I am wondering: has a workaround been found to be able to run on newer driver versions? I'm surprised this issue hasn't been fixed by Nvidia yet... I would obviously prefer to avo

[2020-06-08 23:30] ymodak commented on #40253
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2020-06-08 23:33] ymodak commented on #40163
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
 Thanks!

[2020-06-08 23:33] #40163 closed

[2020-06-08 23:39] ymodak commented on #39846
Do you have a reproducer to validate this behavior? A minimal reproducible code will be great.

[2020-06-08 23:41] bhack commented on #16926
You can track https://github.com/tensorflow/tensorflow/issues/38483

[2020-06-08 23:46] cgarciae commented on #38483
@zzj0402 How does torch solve this? As far as I can tell a torch `Dataset` is just a python iterator, but if you serialize the object you don't actually store the computation up to that point, torch doesn't even have multiple stage you can checkpoint. Am I missing something?

[2020-06-08 23:58] Colanim commented on #38483
@cgarciae I don't know any details about both Tensorflow and Pytorch, but as a user, in Pytorch you can do :

`torch.save(dataset, file_path)` and load it with `torch.load(file_path)`, and it works.

Unlike TF, you don't have to mind any of the internal details of your dataset.

[2020-06-08 23:59] jsimsa commented on #38483
I am working on providing support for `save` and `load` and expect it to be available later this month (and certainly for TF 2.3).

[2020-06-09 00:01] duncanriach commented on #38197
Good job.

Great. Thanks.

No, but it's on my roadmap to do this.

Yes. When there is non-determinism, this can result in training randomly and non-reproducibly failing (or not doing as well). Luckily, SGD has the effect of avoiding local minima and finding the global minima. If there is non-reproducible gradient explosion or disappearance on a path to that global minima, however, then that can ca

[2020-06-09 00:06] yongtang commented on #40138
Added a PR #40294 for the fix.

[2020-06-09 00:11] bhack commented on #38483
@jsimsa Will it work also for datasets that don't not fit in memory? So like "a converter" to tf_record for an optimized format when you need to train from a remote/cloud storage?

[2020-06-09 00:12] Ceceu commented on #38212
@rohan100jain,
Although the limitation of  ` tf.py_function` I could use it to encode my dataset. Thank you.

[2020-06-09 00:13] Ceceu commented on #38212
@novog, it would be great.

[2020-06-09 00:13] #38212 closed

[2020-06-09 00:23] nikitamaia commented on #40229
Thanks @Zumbalamambo. Can you share a minimal example that can be reproduced? Also please provide the error you are seeing. Is it still the ValueError mentioned in your original post, or something else?

[2020-06-09 00:26] jsimsa commented on #38483
Yes, it will be a streaming API. You will be able to do the following:

[code]

The `load` API will require you to specify the type signature for the elements to load, which is required so that shape inference does not have to perform I/O.

[2020-06-09 00:48] cgarciae commented on #38483
I think to fully solve this you need something like [tf.data Snapshots](https://github.com/tensorflow/community/blob/master/rfcs/20200107-tf-data-snapshot.md) to be implemented. Its a bit hacky but you can also use `Dataset.cache()` so save the computation but its really meant to be temporal.

[2020-06-09 00:50] jsimsa commented on #38483
Indeed. tf.data snapshot will be released in TF 2.3 as well and the aforementioned `save` and `load` API will share its implementation.

[2020-06-09 00:54] Danliran commented on #40213
@gowthamkpr do you have any idear about this issue.  post it in tensorflow/benchmarks https://github.com/tensorflow/benchmarks/issues/479

[2020-06-09 00:55] bhack commented on #38483
@jsimsa I'am thinking also about refreshing a little bit on the original data in the case you have some time-margin to sparsely execute realtime augmentions of some sparse samples.
But I don't if we could handle in some way this metadata (orignal vs transformed save data).

[2020-06-09 00:56] jsimsa commented on #38483
I do not follow your use case. The loaded dataset will be a `tf.data.Dataset` so you could apply further transformations to it.

[2020-06-09 00:57] dhiegomaga commented on #40278
By the way, following the tutorial will leave the packages in a broken state, that's quite hard to fix. `apt --fix-broken install`will give something like:

[code]
because it can't overwrite `libnvidia-extra-440`, so you need to [force install it](https://askubuntu.com/questions/176121/dpkg-error-trying-to-overwrite-file-which-is-also-in).

The issue is because the tutorial installs cuda driver ve

[2020-06-09 01:09] bhack commented on #38483
@jsimsa Yes of course. But suppose that you use it as a converter you will do all the augmentation that cannot apply in realtime and you save it. When loading back you can have a new margin over the training loop ans so you could do some sparse sample augmentation on the original data to refresh some samples.
So I don't know if it could be easy in the streaming context instantiating two different

[2020-06-09 01:22] manuelvalera opened #40295 "not tensorflow-GPU "ImportError: DLL load failed: The specified module could not be found." inside Conda / Win10"
**System information**
- OS Platform and Distribution: Windows 10
- Mobile device : none
- TensorFlow installed from (source or binary): pip install tensorflow from conda terminal
- TensorFlow version: not known
- Python version: 3.7.6
- Installed using : pip install tensorflow from conda terminal
- Bazel version (if compiling from source): n/a
- GCC/Compiler version (if compiling from source): n/

[2020-06-09 01:26] policeme commented on #39846
1. sorry, the code can't be reproduced, it need the model.
2. the code logic is I use process to load a dl model, one process I represent a worker, the model load in my code as below, sorry, the code a little bit long.
[code]

[2020-06-09 01:27] whatdhack commented on #39729
Yes, have seen  that. Does not really explain  how contnts of Saved Model, GraphDef, Frozen model etc differs and which one is suitable for what.

[2020-06-09 01:35] jsimsa commented on #37013
Sorry, I didn't realize you are normalizing the runtime by the missing shape. I think I found the problem, which is that your input pipeline with both `batch` and `window`, does not produce any elements. This is because each dataset will be truncated to `ds = ds.take(trunc)` elements. Let's say that this is 40k (which is the average). Your batch size is `128`, so you window size will be `40000 //

[2020-06-09 01:35] #37013 closed

[2020-06-09 01:51] jtrammell-dla opened #40297 "Mask-RCNN conversion succeeds, but requires select-tf-ops despite selecting only TFLITE_BUILTINS"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Linux Ubuntu 18.04
- TensorFlow installed from (source or binary):
tensorflow:2.2.0-gpu-jupyter docker image, so... binary?
- TensorFlow version (or github SHA if from source):
2.2.0

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any not

[2020-06-09 01:54] stefano555 commented on #38285
Hi @scottamain ,

please find here a link to a google folder containing the tf trained model (validation accuracy 64.15% on 2000 test images), the dataset, the google colab file to convert from tf to tf_lite, the converted tf lite model, and the google colab file to test the tf lite model on cpu.
I was able to replicate the issue. On a subset of 100 test images (using all the images would have tak

[2020-06-09 01:56] jpienaar commented on #40145
It seems to be crashing due to --per_file_copt=mlir,llvm-project@-UNDEBUG, setting -UNDEBUG uniformly or not, works. "--per_file_copt=llvm-project@-UNDEBUG" also works, but seems like setting per file macros might be too fragile (e.g., it may work but not supported).

I'd recommend uniformly setting it either way.

[2020-06-09 01:56] #40145 closed

[2020-06-09 01:57] sumeshpandit opened #40298 "Decoding output of object detection mobile_ssd_v2_float_coco.tflite"
The official documentation suggests mobile_ssd_v2_float_coco.tflite model for enabling GPU delegate, but after analyzing the Model with Netron, ( visualization tool to help identify how the output tensors differ.)
mobile_ssd_v2_float_coco.tflite
OUTPUT:
raw_outputs/box_encodings
id: raw_outputs/box_encodings
type: float32[1,2034,4]
raw_outputs/class_predictions
id: raw_outputs/class_predictions
ty

[2020-06-09 02:03] samhodge commented on #39439
Using Python I was able to assemble the `.a` files concerned

the python was pretty simple

`doit.py`
[code]

The result is an epic list of files

[code]

So without linking anything these are the missing symbols

[code]

After adding the following

[code]

The following symbols are missing

[code]

This is a result of compiling

[code]

With MSVC 2019

the following Project.

[code]
[dev.zip](htt

[2020-06-09 02:14] bondhugula commented on #40145
Thanks very much!

[2020-06-09 02:29] guptapriya commented on #40027
Thanks for the updates. So it seems that if running NCCl tests causes your system to hang, then there must be some issue on that side. Can you file a bug with NVIDIA and they should be able to help you debug?

`strategy = tf.distribute.MirroredStrategy(cross_device_ops=tf.distribute.ReductionToOneDevice())` does run with 2 GPUs, but it would be less efficient than the default option which is NCCL.

[2020-06-09 02:35] jchia commented on #35501
To avoid confusing users, the documentation for GRU & LSTM should be updated to describe this limitation.
https://www.tensorflow.org/api_docs/python/tf/keras/layers/GRU
https://www.tensorflow.org/api_docs/python/tf/keras/layers/LSTM

The above pages do not list eager-mode as a requirement for using cuDNN. They only mention activation, recurrent_activation etc as if those are the only requirements.

[2020-06-09 03:07] AlexWang1900 commented on #40027
@guptapriya
Thanks a lot !  I will file a bug at NVIDIA side.

And I may ask , if I remove the NVLINK bridge, and using strategy = tf.distribute.MirroredStrategy() default option, the code runs well, is it also using NCCL? and is that efficient as with NVLINK on?
in that case ,the GPU is communicating through PCIE .

And from the docs and names of the tf.distribute.ReductionToOneDevice(), one cann

[2020-06-09 03:08] y12uc231 commented on #40283
Thanks!
Quick feedback : Based on my personal experience, documentation of tensorflow is incredibly complicated compared any other frameworks I use like pytorch or mxnet.

[2020-06-09 03:10] ShiyongL commented on #37099
@Wheest Do you mind share your code snippet on how to replace .view() with flatten()? I am dealing with the following .view() usage:

`bbox_regressions = torch.cat([o.view(o.size(0), -1, 4) for o in loc], 1)`

Thanks a lot!

[2020-06-09 03:11] nikitamaia commented on #40283
Thanks for the feedback, @y12uc231. If you run into any confusion, or find something in the docs you think would benefit from some clarity, please do file an issue.

[2020-06-09 03:11] #40283 closed

[2020-06-09 03:12] abattery commented on #40297
@jtrammell-dla  Could you share which ops make it require tf-select-ops?

[2020-06-09 03:13] jtrammell-dla commented on #40297
Thanks for the fast response. Gladly! How do I figure that out?

[2020-06-09 03:16] abattery commented on #40297
FYI, the GPU delegate supported ops is a subset of TFLite builtin ops and if the given model requires tf ops, which is not supported via TFLite Builtin op, they won't be supported via GPU delegate as well.

You can find the unsupported tf ops in TFLite builtin ops in the failed log when you convert without allowing custom ops and `converter.target_spec.supported_ops = [lite.OpsSet.TFLITE_BUILTINS]

[2020-06-09 03:19] sumanthratna commented on #40229
@Zumbalamambo I think it might be because in your if-statement for `tf.Variable`s you have `self.total_recall = tf.Variable(0.)`. Try moving it into its own if-statement.

[2020-06-09 03:28] unnati31 commented on #20444
Hi Pranay,Thank you so much for your reply. Now it's working fine for me too by using python 3.6

Sent from Yahoo Mail on Android

  On Fri, 5 Jun 2020 at 14:44, PranaySoniSPAN<notifications@github.com> wrote:

In my case, in the windows machine, I had same issue. I was using python 3.8. I made a new conda environment with python=3.6
conda create --name newenv python=3.6
pip install tensorflow

th

[2020-06-09 03:30] PeterMitrano opened #40301 "AutoGraph could not transform"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.1.0

[2020-06-09 03:36] jtrammell-dla commented on #40297
Ugh, my apologies... After a little more digging, it turns out that I had forgotten to actually install the new tflite file on the device. I'm still having problems, but they aren't tf-selec-ops related so I'll post them on a new ticket if I can't work them out. Thanks again for the fast response!

[2020-06-09 03:36] #40297 closed

[2020-06-09 03:56] joker-eph commented on #39895
This makes sense to me as well: seems like a good application of transitive lowering here, isn't it?

[2020-06-09 04:03] Xxiexie commented on #34431
亲测，1.14版本的不行

[2020-06-09 04:10] hthu commented on #40250
I think this is expected behavior as XLA could interpret `replica id` differently than user's `replica id`.

See comment here: https://github.com/tensorflow/tensorflow/blob/v2.2.0/tensorflow/python/distribute/distribute_lib.py#L2444-L2445

[2020-06-09 04:21] multiverse-tf commented on #40183
Acked. This is possible as it's possible that the quant execution path on x86-64 in TFLite hasn't been that well-optimized for that on ARM CPUs, edgetpu etc.

[2020-06-09 04:27] multiverse-tf commented on #39954
Suharsh, could you take a look at this? It looks like this is a duplicate one in StackOverflow: https://stackoverflow.com/questions/62059340/convert-keras-model-to-quantized-tflite-lost-precision

Note, the author had some issues w/ QAT after you suggested it as mentioned in the stackoverflow thread.

[2020-06-09 04:31] rzou15 commented on #34128
How did you solve this? What is your alternative? I met the exactly same error.

[2020-06-09 04:33] kumaradi08 opened #40302 "File system scheme 's3' not implemented"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): v2.2.0-rc4

[2020-06-09 04:45] fengyang0317 commented on #40250
@hthu For the following code
[code]

The output is
[code]

Are these outputs still expected behavior?

[2020-06-09 05:21] cheers00 commented on #39890
Closing this. I ended up building tensorflow from source. That seems like the only option.

[2020-06-09 05:21] #39890 closed

[2020-06-09 05:28] purva98 commented on #40232
Yes, I ll follow these tutorials to build the custom operator,
Thanks

[2020-06-09 05:28] #40232 closed

[2020-06-09 05:32] purva98 opened #40306 "None Type not Supported"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source): 1.14

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**The output from the converter invocation**

[cod

[2020-06-09 05:34] #39813 closed

[2020-06-09 05:39] hthu commented on #40250
Unfortunately yes.
For the first part, we are merely exercising replica id in context.
The point being, when you execute collectivePermute, xla would view the IDs differently.
More specifically, the id 4 in context might not be viewed as id 4 when performing collectivePermute.
You can also do a quick check by just providing single pair [0,3] and see what that returns.

That said, I do think we sho

[2020-06-09 05:47] purva98 commented on #24607
Hey @gargn @karimnosseir @miaout17 @dusanmacho  does it support dynamic input shape, while using frozen graphs for conversion to tflite in TF 1.x version.
( i have a .ckpt model built in TF 1.14 , I converted it to a .pb model, in order to convert it to .tflite model)
Is this how I should be converting a dynamic input shape .ckpt model to a tflite model?

[2020-06-09 05:47] ravikyram commented on #40276
I have tried in colab with TF version 2.2, nightly versions and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/f2033c65dbfcc13578d16b17b68d52b2/untitled967.ipynb).Thanks!

[2020-06-09 05:49] wujiexiaowugui commented on #38189
I think DepthToSpace is still not suppored.

[2020-06-09 05:55] pranathibl commented on #39870
Hi,

I have tensor flow interpreter c++ API to fetch the number of dimensions of each Output.

It was returning zero before allocation for few models. after allocation, No. of dimensions were proper.

Reproduction API is added
![Picture15](https://user-images.githubusercontent.com/47776253/84111159-f77e4600-aa43-11ea-8274-c0252621ed43.png)
 as attachment.

[2020-06-09 05:59] abhinavsp0730 opened #40307 "ImportError: DLL load failed: The specified module could not be found."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10 home
- Mobile devic

[2020-06-09 06:00] ravikyram commented on #40280
@AndreasMadsen

Can you try with TF nightly version (`2.3.0-dev20200608`) and see if the issue still persists.I am not seeing any issue with nightly version.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/c450a39bee1221aad6654174fd845165/untitled968.ipynb). You could use tf-nightly for now and in the next couple of months new stable version will be released.Please,ver

[2020-06-09 06:17] brucechou1983 commented on #26297
@natario1 I think @impjdi explained that `bindBuffer` APIs don't fit in the v2 delegation design. The key difference between v1 & v2 delegate is v2 supports both OpenCL and OpenGL backend while v1 only supports OpenGL. This will affect how Tflite handles data ownership exchange. Moreover, many devices on the mark don't fully support OpenCL-OpenGL interoperability. I've also tried the `use_advanced

[2020-06-09 06:21] anilsathyan7 commented on #39667
How can we fix this problem?

[2020-06-09 06:34] #39819 closed

[2020-06-09 06:42] ghnreigns opened #40308 "TypeError: Expected int64, got 1e-07 of type 'float' instead : FasterRCNN tensorflow 2.x"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-06-09 06:51] Zumbalamambo commented on #31709
@yzhang93 pytorch is faster than tensorflow also they don't have extremely breaking changes as tensorflow do. tensorflow provides tf_upgrade but it doesn't even work

[2020-06-09 06:54] ravikyram commented on #40295
@manuelvalera

What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)
Make sure to download the [latest microsoft visual c++ redistributable from here.](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads)
.Also, please

[2020-06-09 06:59] #33277 closed

[2020-06-09 07:02] mimxrt commented on #37013
Yes, that makes sense, I should have thought of that. Thank you for taking the time and figuring this out!

[2020-06-09 07:07] zldrobit commented on #39783
For now, gpu delegate only works on Android and iOS.
https://github.com/tensorflow/tensorflow/issues/37116#issuecomment-592230951

[2020-06-09 07:12] mimxrt commented on #37093
I found that using `FixedLenSequenceFeature` and storing/reading whole columns instead of rows mitigates the issue. It requires to use `ds = ds.map(lambda x : tf.transpose(x, [1, 0]))` after reading but works much faster. I guess that is what you meant? Anyway, thanks, I am closing this issue.

[2020-06-09 07:12] #37093 closed

[2020-06-09 07:13] SlowMonk opened #40309 "how do you get the string out of Tensor("args_0:0", shape=(), dtype=string) type?:"
I tried to get the string out of
type  tensor("args_0:0", shape=(), dtype=string).

The reason I tried to do is that I want to get the original image size

[code]

this images is the list of image_path
then I passed it to the

[code]
I also need to resize my boxes with original image size
but I have no idea to get the original image size from it

so I tried to read it from  the path then get the o

[2020-06-09 07:13] ravikyram commented on #40301
@PeterMitrano

I tried in colab with TF 2.1, 2.2 and nightly versions and i am not seeing any warning message.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/3a75853c7c6841a4c8ad07afdb4206f9/untitled969.ipynb).Please, verify the issue and close the issue if you feel issue was resolved. Thanks!

[2020-06-09 07:18] Saduf2019 commented on #40308
@ghnreigns
Please refer to this [comment](https://github.com/tensorflow/tensorflow/issues/33855#issuecomment-572176122) on similar issue and let us know if it helps, else share a simple stand alone code for us to replicate the issue faced or a colab gist with the error.

[2020-06-09 07:24] ravikyram commented on #40307
@abhinavsp0730

What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)
Make sure to download the [latest microsoft visual c++ redistributable from here](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads).
.Also, pleas

[2020-06-09 07:27] mimxrt commented on #33148
If you really want that as a workaround, you can find the requirements for the cuDNN implementation [here](https://www.tensorflow.org/api_docs/python/tf/keras/layers/LSTM?hl=en#used-in-the-notebooks_1).

I guess changing any one of these will result in the CPU implementation being used.

[2020-06-09 07:38] ghnreigns commented on #40308
@Saduf2019 Let me try it, thanks

[2020-06-09 07:39] wangwenchao-job commented on #40259
The version used is tf2.1 C++

[2020-06-09 07:42] Goofy-G opened #40310 "Tried to export a function which references untracked object Tensor("5486:0", shape=(), dtype=resource).TensorFlow objects (e.g. tf.Variable) captured by functions must be tracked by assigning them to an attribute of a tracked object or assigned to an attribute of the main object directly."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-06-09 07:44] AndreasMadsen commented on #40280
I can confirm it works on nightly. I was looking through the commits and I think https://github.com/tensorflow/tensorflow/commit/867673d63b6ee56229498176fc3a00235b8eb2cf#diff-081213481ade84ce14e9afaa3f3505b9L283 fixed it. Although, I think it hides an underlying bug with the `flags` API, when used with Colab.

The code

[code]

Outputs `['/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.p

[2020-06-09 07:45] cj741 opened #40311 "How to use BlockLSTM and BlockLSTMGrad to build a LSTM network in C++?"
Anyone have idea on how to use BlockLSTM and BlockLSTMGrad to build a LSTM network in C++? It take me quit a long on this problem, please give me a simple example, many thanks!

[2020-06-09 07:48] byronyi commented on #38351
@gunan Just found out that it's been fixed by 67099d08529a00f48ee8a444f471067bedcc2f5b. So no need to open a new issue :)

[2020-06-09 07:50] ravikyram commented on #40310
@Goofy-G

I am not seeing code in provided link ,also it is in different language.Request you to helps us with colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-06-09 07:55] ravikyram commented on #40280
@AndreasMadsen

Please, close the issue as the original issue was resolved. Request you to raise a new issue with flags API by filling issue template.Thanks!

[2020-06-09 07:58] saberkun commented on #35949
@omalleyt12 We might expect tf.print to be wrapped by TensorFlowOpLayer?

[2020-06-09 08:03] Antonio-git-lab opened #40312 "Using a FCN in a for loop"
Hello,
I have a question, if I want to create a Fully Connected Network and I would like to place it in a for loop, I want to tell Tensorflow that the weights of my FCN are shared between all iterations of this for loop, and prevent the creation of "N" instances of different FCNs.
What should I do in this case?

[2020-06-09 08:12] vladdders commented on #39909
hey @jvishnuvardhan thanks for your answer. I have attempted the conversion as suggested on that answer but unfortunately I am still getting the same error. I updated the [gist](https://colab.research.google.com/drive/1yIx_J3NfIlDpaJw9XMgXpIT4XY69Y6nJ?usp=sharing#scrollTo=lgWmPjJjy9e-) so you can see it as well.

[2020-06-09 08:15] amahendrakar commented on #40143
@mkw18,
I was able to reproduce the issue with TF v2.1, please check [this gist](https://colab.sandbox.google.com/gist/amahendrakar/c29799e8f4ad45fb49a08311387e9d42/40143-2-1.ipynb) for reference.

Seems like the issue was caused due a bug in TF v2.1 which was fixed in TF v2.2.

[2020-06-09 08:23] JacobSMoller commented on #39307
They are generated when using go modules.

https://blog.golang.org/using-go-modules

[2020-06-09 08:28] ryankuang0618 commented on #40236
Thanks, I solved the error by install tensorflow version to 1.14.0

[2020-06-09 08:29] #40236 closed

[2020-06-09 08:32] Goofy-G commented on #40310
Hi
   See the attach files
[TestTagger1.zip](https://github.com/tensorflow/tensorflow/files/4750867/TestTagger1.zip)

[2020-06-09 08:40] vippeterhou opened #40313 "Can I inference models with XNNPACK backend through tensorflow lite Python APIs?"
One of my areas is model compression for deployment. Previously, I worked on QNNPACK and its performance was amazing. I knew that the main author of QNNPACK went to Google from FB, and he continues his work based on QNNPACK. A new library named XNNPACK was created. I am very excited to see the Sparse ConvNets feature of XNNPACK. XNNPACK suggests the TensorFlow lite in its readme. However, I did no

[2020-06-09 08:41] ChenFengYe commented on #40278
@dhiegomaga  Hi, quite same issues. I am installing CUDA 11.0 on ubuntu 18.04

Reading package lists... Done
Building dependency tree
Reading state information... Done
Correcting dependencies... Done
The following additional packages will be installed:
  nvidia-compute-utils-450 nvidia-utils-450
The following NEW packages will be installed:
  nvidia-compute-utils-450 nvidia-utils-450
0 upgraded, 2

[2020-06-09 08:44] CasiaFan commented on #30649
@wf-hit Yep, maybe it's time to turn to the Keras type.

[2020-06-09 08:45] #30649 closed

[2020-06-09 09:03] amahendrakar commented on #40288
@Kottarashky,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the TensorFlow version you are using. Thanks!

[2020-06-09 09:08] ChenFengYe commented on #40278
With a force-overwrite option like
`apt-get -o Dpkg::Options::="--force-overwrite" install -f`

Error still followed:

Reading package lists... Done
Building dependency tree
Reading state information... Done
Correcting dependencies... Done
The following packages were automatically installed and are no longer required:
  adwaita-icon-theme at-spi2-core ...(mannually omit) ... xserver-common xserver

[2020-06-09 09:11] #40097 closed

[2020-06-09 09:23] glennford49 opened #40314 "cant import tensorflow.contrib.tensorrt"
is there any way to import contrib.tensorrt in tensorflow 2.2.0?

[2020-06-09 09:26] gdudziuk commented on #35030
Excuse me for the late answer. I'm back to the topic now.

First, let me acknowledge your effort in digging into the issue which I appreciate. But unfortunately, I cannot confirm the issue is fixed.

To reiterate briefly, the original problem was as follows. It would be reasonable to expect that the memory usage by the test code for this issue is ca. the size of the data arrays (plus some overhead

[2020-06-09 09:36] ksamk commented on #9829
This is what i get after updating numpy

![image](https://user-images.githubusercontent.com/14892755/84131843-f4488180-aa66-11ea-9e31-2741f729432a.png)

It runs at first, then crashes

[2020-06-09 09:38] poorghorban commented on #37269
path_to_zip = tf.keras.utils.get_file('cats_and_dogs.zip', origin=_URL, extract=True)
replace :
path_to_zip = tf.keras.utils.get_file('cats_and_dogs', origin=_URL, extract=True)

[2020-06-09 09:48] Dave-Stein commented on #35405
Update after 3 months
Tensorflow2.2 for windows
[Case 1](https://github.com/tensorflow/tensorflow/issues/39905)

[2020-06-09 09:50] Efaq commented on #31617
I won't be able to test, so I'm closing it.

Thanks!

[2020-06-09 09:50] #31617 closed

[2020-06-09 09:52] Dave-Stein commented on #39905
@jgasperlin
I have been asking something like this since 6 months ago. No progress for anything related to tensorflow2.*

https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-gpu-windows-x86_64-2.0.0.zip

Any chance if you can provide a link to your gpu version of libtensorflow?  So we can continue to test while Google finally makes up the mind to support Windows developers

[2020-06-09 09:55] Dave-Stein commented on #39905
I think the only way forwards is to start a campaign that WDM (Windows Developers Matter)  :-)

[2020-06-09 10:06] Dave-Stein commented on #35405
https://joe-antognini.github.io/machine-learning/build-windows-tf

[2020-06-09 10:17] CptJack2 commented on #38912
Yes, still found no way to pass nvcc flags to bazel other than modifying the build file

[2020-06-09 10:23] leandro-gracia-gil commented on #36232
After many attempts, I've managed to get my use case working with `tf.map_fn` and `fn_output_signature` applied recursively over my proto parsing function. However, in the process I've found a couple of issues worth sharing. @edloper : you might want to take a look.

Let me start with a example that works fine so I can show small variations of it.
[code]
This correctly returns `<tf.RaggedTensor [[

[2020-06-09 10:29] Shaul-Z commented on #26758
Hi
Thanks for bringing up this issue. When I try to increase the batch size over 14 the training process is crushing. Any idea why?

[2020-06-09 10:38] bhack commented on #38483
@jsimsa Probably that case could be covered by the experimetal `tf.data.experimental.sample_from_datasets`. I think that It could work with your load and save api as It consume dataset objects right?

[2020-06-09 10:49] LearnKen commented on #40277
Yes different meachine
this is my TF_CONFIG log
[code]
Is that right? if not please help me how to do

[2020-06-09 10:50] fengyang0317 commented on #40250
The input and output of strategy.run are sent to and received from the 8 cores, respectively. Are the order of sending and receiving related to XLA replica ID?

[2020-06-09 10:50] amahendrakar commented on #40309
@SlowMonk,
You can use the `.numpy()` function to extract the string from the Tensor. Please check [this gist](https://colab.research.google.com/gist/amahendrakar/4645fa442bcbcf63365b8390ce75c575/40309.ipynb) for reference.

Also, if this issue is not a TensorFlow bug or feature request, it is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow). Since there is a

[2020-06-09 10:52] Harvey13 commented on #39817
 
 
 
 

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscribe.
[ { "@context": "http://schema.org", "@type": "EmailMessage", "potentialAction": { "@type": "ViewAction", "target": "https://github.com/tensorflow/tensorflow/issues/39817#issuecomment-640005373", "url": "https://github.com/tensorflow/tensorflow/issues/39817#issuecomment-6400

[2020-06-09 10:54] natario1 commented on #26297
Thanks for your comment @brucechou1983 . A simpler solution for me is to stick to v1 delegate, but to be honest it doesn't seem like mediapipe runner is doing that much, other than calling `InferenceRunner::SetInputObject` and `InferenceRunner::SetInputObjectDef` when preparing. I understand that it might not be ready yet though, as it is under a flag.

The v2 delegate also does the same object/ob

[2020-06-09 10:57] amahendrakar commented on #40306
@purva98,
Could you please provide the complete code to reproduce the issue reported here or the `.pb` file you are trying to convert.

Also, please upgrade to TF 2.x as TF 1.x is not actively supported. Thanks!

[2020-06-09 11:04] Saduf2019 commented on #40314
@glennford49
Please refer to this [comment](https://github.com/tensorflow/tensorflow/issues/31350#issuecomment-566151053) and downgrade to 1.x version to use tensorflow contrib. and let us know if we can move this issue to resolved status.

[2020-06-09 11:19] Saduf2019 commented on #40311
@cj741

Please refer to this [link](https://tensorflow.google.cn/api_docs/python/tf/raw_ops/BlockLSTM?authuser=0&hl=Es) , [link1](http://maggus.com.co/TestLeo/Django/test34/lib/python3.4/site-packages/tensorflow/contrib/rnn/ops/gen_lstm_ops.py)

This question is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There i

[2020-06-09 11:20] glennford49 commented on #40314
I've already fix this... tensorrt has been moved to core in version 2.x

[2020-06-09 11:34] #39847 closed

[2020-06-09 12:03] prerakmody commented on #33951
Is there any update on this?
Just as [(TF2.2.0) tf.image.resize](https://www.tensorflow.org/api_docs/python/tf/image/resize) offers an option for bilinear interpolation, it would be great to have a tf.volume.resize that offers trilinear interpolation.

The closest thing right now is [(TF2.2.0) tf.keras.backend.resize_volumes](https://www.tensorflow.org/api_docs/python/tf/keras/backend/resize_volum

[2020-06-09 12:05] jifei opened #40315 "Custom keras model train success,but save error"
SRGNNModel train sucess,but when I use tf.saved_model.save to save it, it crashed.
Is it cased by tf.compat.v1.nn.dynamic_rnn ? How can I change it？

-TensorFlow2.2

**Complete Code**

[code]

**Error Messgae**
[code]

[2020-06-09 12:08] Kmarconi commented on #13522
I'm sorry to reopen this issue but I'm facing the same issue even with the solution proposed here. I'm using autotools to generate an executable file which is using opencv and tensorflow. To do this, i've set this libraries flags : AM_LDFLAGS = -lopencv_core -lopencv_imgproc -lopencv_highgui -lopencv_videoio -ltensorflow_cc -ltensorflow_framework -lprotobuf -lprotoc . My make command is working we

[2020-06-09 12:18] Kmarconi opened #40316 "Cannot register 2 metrics with the same name Error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): JetPack 4.3 (Ubuntu 18.04)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):source
- TensorFlow version (use command below

[2020-06-09 12:26] Saduf2019 commented on #40314
@glennford49
Please confirm if we may move this issue resolved status.

[2020-06-09 12:30] ElPapi42 commented on #40221
Hello there! @ravikyram @jvishnuvardhan can you give me some support? Thanks!

[2020-06-09 12:31] bondhugula commented on #39895
But where would you have this pattern live? I'm completely fine with this as long as this pattern can run as part of -hlo-legalize-to-lhlo. If not, it's weirder to have to run a separate pass do std to hlo, and I don't see how this solves the original issue. I would then prefer having std.const to lhlo.const in the hlo to lhlo conversion which was the original proposal.

[2020-06-09 12:34] kattan1969 commented on #35030
Hi,
I faced the exact same problems discussed above. There a considerable memory leak after each epoch. Eventually, the process is killed by the OS (Ubuntu 18) as the memory consumption goes beyond limit. I had to revert back to Tensorflow v1.15 and modify the code for compatibility. It doesn't leak memory and it's faster. I have to mention that with TF v1.15 you must import Keras independently as

[2020-06-09 12:35] RonAd-1 commented on #40063
Hey, I had the same problem with BoostedTreesClassifier model, multi class in TF 2.2.0 (which should be available in this version). Is this has a fix already? When I changed manually the condition to:
if inp.shape[0] != output_shape[0]:
rais ValueError....
Everything seem to work OK. But surely the fix should be done within TF code.

[2020-06-09 12:36] akarshjoice commented on #38578
Using Cuda 10.1 with TensorFlow 2.2 solves the issue.

[2020-06-09 12:46] Saduf2019 commented on #40273
@nashid
Please refer to these link with similar error:

[link](https://github.com/beringresearch/ivis/issues/56#issuecomment-571191817)
[link1](https://stackoverflow.com/questions/51366082/tensorflow-get-high-loss-after-filling-up-shuffle-buffer)
[link2](https://forum.opennmt.net/t/tensorflow-error-with-training-command/3290/2)

Please update details on the version on tensorflow used and the exact

[2020-06-09 12:49] ravikyram commented on #40316
@Kmarconi

Request you to share related code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-06-09 12:53] Kmarconi commented on #40316
Hi, thanks for your quick reply. I'm working on some object detection and my code is exactly the same as the one here : https://github.com/lysukhin/tensorflow-object-detection-cpp (I'm trying to compile the main.cpp file and to use the utils.h as a shared librarie).

[2020-06-09 13:09] samhodge commented on #39439
I had a bit of a look earlier and it seems that config.proto In tensorflow/core/protobuf has the missing symbols and while the .o files can be found I could not follow the path within the bazel indirection to see if these object files end up in one of the .a object archives, clearly they don’t or the symbols would not be missing.

But is this part of the problem?

The .proto file makes a .cc file

[2020-06-09 13:13] andreydung opened #40318 "[TF Lite C API] Zero outputs"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-06-09 13:16] amahendrakar commented on #40186
@RunOrVeith,
You have mentioned in the issue template that you are using TensorFlow release candidate v2.2 rc4 (released on Apr 30, 2020). Hence, I suggest you to check with the stable version TensorFlow v2.2 (released on May 7, 2020).

Is this still an issue? Please feel free to close the issue if resolved. Thanks!

[2020-06-09 13:17] gdudziuk commented on #35030
@kattan1969, there is tf.keras in TF 1.15. You can import it the same way as in TF 2.x. Do you have any problems with that? How have you installed 1.15?

For me TF 2.x is considerably faster than 1.x, the issue is just the memory usage. But note that if you train on small data comprising just one or few batches then `model.train_on_batch` performs better that `model.fit`. Unaware of that, I blamed

[2020-06-09 13:23] dylanwwang commented on #24474
Have you solved the problem yet

[2020-06-09 13:30] Zethson commented on #38197
@duncanriach
Great. Thank you again! Learned a lot in this thread.

I am looking forward to reading/hearing about your results of the variance of non-deterministic models. Very interested in this matter.

I consider this issue solved, but we could also keep it open for your mentioned bug.
Whatever you prefer.

[2020-06-09 14:05] Bairouk commented on #39647
any solution ??

[2020-06-09 14:11] PeterMitrano commented on #40301
small mistake -- I'm actually using CUDA 10.2
I also have `TF_CPP_MIN_LOG_LEVEL=3` in my environment. I also have `gast==0.3.3` instead of `gast==0.2.2` which I see from your colab notebook. perhaps one of these differences explains it?

[2020-06-09 14:15] PeterMitrano commented on #40301
yes, downgrading gast to `0.2.2` fixes the problem. Not sure how my environment got this way.

[2020-06-09 14:15] #40301 closed

[2020-06-09 14:18] Saduf2019 commented on #40185
@superlyy @ElPapi42
Please share a colab gist of the error faced for us to analyse

[2020-06-09 14:24] sumanthratna commented on #39864
Hi—I know you all are very busy, but I'd like to bump this thread. If what I described earlier doesn't make sense, I'm really just asking for:

- https://www.youtube.com/watch?v=MSXouZPyTrc&feature=youtu.be&t=983

At the time of the talk, Dr. Passos mentioned that both eager and graph semantics are easy to implement—would it be possible to allow the user to choose which execution mode to go with (

[2020-06-09 14:28] ElPapi42 commented on #40185
@Saduf2019 https://colab.research.google.com/drive/1sPKS9ZhRmCVV9JB9KmY0ywH7ZxWHFKxQ?usp=sharing

If you change the LSTM layer to a GRU, everything works on 2.3.0-dev20200609. On 2.2.0 both are broken.

[2020-06-09 14:30] peter197321 opened #40319 "Options for tflite_convert"
Hello guys,

I'd like to find out all options available for `tflite_convert` and since I use `--help` I got

[code]

I see there are more options available such as ` --inference_type` `--std_dev_values` I'd like to know those and their respective parameters.

[2020-06-09 14:34] #39865 closed

[2020-06-09 14:53] maxkaustav opened #40321 "Neural Structured Learning"
Is neural structured learning is same as using graph neural network?

[2020-06-09 15:04] stefano555 commented on #40183
Hi,

OS Linux 18.04.04 LTS
TensorFLow nightly 2.3.0-dev20200601
CPU Intel Core i7-855OU

I have a very similar issue. A trained a ResNet-50 V2 model and it takes ~ 40ms per inference on my CPU with efficiency 64.15 %. I then converted first to tf lite and speed was ~ 89 ms efficiency identical. Then with dynamic range quantization and it took ~ 548 ms per inference efficiency dropped to 54.35%. On

[2020-06-09 15:13] abdou31 opened #40322 ""The name 'num_detections:0' refers to a Tensor which does not exist. The operation, 'num_detections', does not exist in the graph.""
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 x64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on a mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.13

[2020-06-09 15:22] stefano555 commented on #39066
Hi,

at first I had the same issue than I tried

converter = tf.lite.TFLiteConverter.from_saved_model('/path/to/saved/model')
converter.optimizations = [tf.lite.Optimize.DEFAULT]
converter.target_spec.supported_types = [tf.float16]
tflite_model = converter.convert()

and it worked perfectly. TF version: 2.3.0-dev20200608

[2020-06-09 15:23] heyufei2008 commented on #35405
Are we going to have an official fix for the windows linking symbols issue ? Adding TF_EXPORT does not seem to be a solid solution, you have a big chance to miss some functions.
I'm struggling on how to fix the tensorflow::op::Cast class.

//////////////////////////////////////////
auto uint8Caster = Cast(root.WithOpName("uint8_Cast"), outTensor, tensorflow::DT_UINT8);

But Cast class is defined i

[2020-06-09 15:28] avnx commented on #39761
Hi,

Yes, I edited source code. It was not hard as you can see https://github.com/tensorflow/tensorflow/blob/r1.15/tensorflow/contrib/ffmpeg/ffmpeg_ops.py#L101

Just change one option and that's it.

I tried to go deeper in current code tf2.2 and I can't imagine how I could "turn on" the option to encode with different bitrate.

[2020-06-09 15:34] #39836 closed

[2020-06-09 15:34] #39822 closed

[2020-06-09 15:34] #39598 closed

[2020-06-09 15:35] gitvicky opened #40323 "Training using GradientTape not working"
Tensorflow 2.2.0
Mac OS Catalina
Built and Tested in Spyder 4

![Figure_1](https://user-images.githubusercontent.com/28906480/84167840-9f106e00-aa6e-11ea-94c0-ed9c1cd211fc.png)
Regression fits for each approach, the Keras fit is identical to the actual solution.

I have been trying to build a Neural Network based regressor that can model a nonlinear function. I am recreating the issue with a dummy

[2020-06-09 15:50] Namburger commented on #40183
Hi all,
The model speeds up after deploying on the edgetpu (compiling from cpu tflite to edgetpu tflite) for both cases so it is the expect behavior. Since the compiler can only delegates from a fully quantized cpu tflite model, it can't do much about the original graph. It seems very odd to me that tflite model is performing much worse than the original graph model though.

It's also good to ment

[2020-06-09 16:20] Sidong-Wei commented on #40048
Hi @cheshire , I noticed that you contributed to this part of xla code and specifically the `pywrap_tfe.TF_IsXlaEnabled()` flag, could you take a look into this issue and provides some insights? Thank you.

[2020-06-09 16:34] dhiegomaga commented on #24828
[code]
Also worked for me on tensorflow 2.2.0.

Now I just need to figure out the last error (3rd in a row):
[code]

:)

[2020-06-09 16:42] cheshire commented on #40048
@Sidong-Wei looks like a bug, thanks, I wonder why it passes internally on our CI.

[2020-06-09 16:52] kazimuth commented on #40065
Ping on this

[2020-06-09 16:53] #36236 closed

[2020-06-09 17:02] sirvincent commented on #39588
What is the status of this issue? Is someone actively looking into it? If not is there any estimation when someone might look at this issue?
It is understandable that handling issues might take a while, especially due to the huge quantity tensorflow receive!

Is there something I can do to help?

Currently this issue circumvents us from updating to tensorflow 2.2 hence updating to python 3.8. Luck

[2020-06-09 17:09] alexrogozea commented on #40244
I've spent some time on Horovod following the lack of success with TF's solution, and I'd like to know how similar the pipeline requirements are. I did make Horovod train the model on 2 workers.

Could the Docker setup block in any way communication between hosts for TF MultiWorkerMirroredStrategy? I'm running it with -network=host so everything gets routed inside the container.

Are there any per

[2020-06-09 17:12] amahendrakar commented on #40312
@Antonio-git-lab,
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there. Thanks!

[2020-06-09 17:14] emepetres opened #40325 "[TF Lite] GPU delegates for windows"
Hi, I'm trying to run tf lite on windows with gpu support, so I can run inference on a windows desktop app as fast as possible without relying on CUDA (users may not have a nvidia graphics card or cuda installed)

Is there a way to compile/use the gpu delegates on windows?

This is related to #28830

**System information**
- OS Platform and Distribution: Windows 10 x64
- TensorFlow installed from:

[2020-06-09 17:17] amahendrakar commented on #40319
@peter197321,
Please check [this](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/r1/convert/cmdline_reference.md) command line reference page for the converter and let us know if it helps. Thanks!

[2020-06-09 17:22] yongtang commented on #39761
@avnx ffmpeg and all tf.contrib has been removed from tensorflow code tree and is not part of the distribution since TF 2.0.

They are being distributed to separate repos and pip. tensorflow-io are mostly for I/O, audio/video, tensorflow-addons are mostly for additional tf.keras related modules. You can open feature request issues to [tensorflow/io](https://github.com/tensorflow/io) if it is audio

[2020-06-09 17:23] cheers00 opened #40326 "TF2. How to set tf.OptimizerOptions.L0"
**System information**
- Have I written custom code NO:
- OS Platform and Distribution Linux (Ubuntu 20.04):
- TensorFlow installed from source:
- TensorFlow version (use command below):
- Python version: 3.8.2
- Bazel version 3.0.0:
- GCC/Compiler version gcc (Ubuntu 8.4.0-3ubuntu2) 8.4.0):

You can collect some of this information using our environment capture
[script](https://github.com/tensorf

[2020-06-09 17:25] peter197321 commented on #40319
You declare the `--enable_v1_converter` flag I can't see it that reference page ...

[2020-06-09 17:36] avnx commented on #39761
so what do you want to say? I didn't get you.

I opened feature request and attached info where you (Google) use bitrate manipulation during solving speech recognition tasks. I say that it is very important feature in speech recognition tasks and it is good to have it. Especially considering the fact that there was the opportunity to do that in older versions of tf.

I would be happy to do that by

[2020-06-09 17:47] hthu commented on #40250
Yes. And that ID isn't really the same as the context `replica id` here.

[2020-06-09 17:57] jvishnuvardhan commented on #40287
@mjkim720 I cannot reproduce the issue. When I ran your code is colab, session was crashing. Please take a look at the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/ba918ec54c38814664568e13027f3dc0/40287.ipynb). Thanks!

Can you please a standalone code to reproduce the issue? Thanks!

[2020-06-09 18:16] yongtang commented on #39761
@avnx I was suggesting you to open a feature request issue in  [tensorflow/io](https://github.com/tensorflow/io), so that we can track the progress there. We will add support for your feature request if there is enough interests from overall community.

Since  [tensorflow/io](https://github.com/tensorflow/io) and  [tensorflow/tensorflow](https://github.com/tensorflow/tensorflow) are two different

[2020-06-09 18:21] etsygankov opened #40328 "Subclassed model with ConvLSTM2D layer can't be saved as a SavedModel in TF2.2"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): custom code, extended an example from TF guides
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04/Mac OS 10.15
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): bi

[2020-06-09 18:22] yongtang commented on #39761
@avnx I have opened a feature request in https://github.com/tensorflow/io/issues/994 .

Let's continue the conversion there to track the progress.

[2020-06-09 18:22] #39761 closed

[2020-06-09 18:28] avnx commented on #39761
I am sorry. Didn't get your idea first time.
Thank you!

[2020-06-09 18:31] neenaloysius opened #40331 "ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type list)."
Im getting this valueError in colab gpu env with keras tensorflow ver 2.
ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type list). on running the following code :
 # ---- CTC ----
    # y_input layers (transcription data) for CTC loss

labels = Input(name='the_labels', shape=[None], dtype=dtype)       # transcription data (batch_size * y_seq_size)
input_length = Input

[2020-06-09 18:31] manuelvalera commented on #40295
Hello, thanks for answering,

My processor is not that old and it does comply with the hardware
requirements, make/model is:

Intel i7-670HQ @2.6Ghz, 2592 Mhz, 4 cores, 8 logical processors
x64-based PC

I will take a look to the previous tickets, but any ideas would be
appreciated

On Mon, Jun 8, 2020 at 11:54 PM ravikyram <notifications@github.com> wrote:

[2020-06-09 18:33] lordfiftyfive opened #40332 "gradient descent and performance issues with Tf 2.1"
I am using the latest builds of tensorflow and tensorflow probability respectively with the following code
'
x = x.astype(np.float64)#tf.dtypes.cast(x, tf.int32) #
#x = tf.cast(x, tf.float32)
#x = tensor_util.convert_nonref_to_tensor(x, dtype=x.dtype)

class RBFKernelFn(tf.keras.layers.Layer):
  def __init__(self, **kwargs):
    super(RBFKernelFn, self).__init__(**kwargs)
    dtype = kwargs.get('d

[2020-06-09 18:35] amahendrakar commented on #40042
@beew,
I did not observe any difference, even after running for 11000 steps. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/3eda65c1b3870daa83150294514fca51/40042.ipynb#scrollTo=GfguuksO1epZ). Thanks!

[2020-06-09 18:45] mjkim720 commented on #40287
The attached code above is reproducible. It is expected the session crashes in Colab because the floating point exception occurs in C++, causing it to core dump.

[2020-06-09 18:49] yassinejaoudi commented on #30309
Hi @tanzhenyu

I have got this error while running 'Conv1DTranspose':

AttributeError: module 'tensorflow.keras.layers' has no attribute 'Conv1DTranspose'

while in TensorFlow documentation, this has been implemented. Could you please guide me on this?

[2020-06-09 18:52] amahendrakar commented on #40078
@benedives47,
On running the code I'm facing an error stating `NameError: name 'model' is not defined`.

Could you please provide the complete code to reproduce the issue. Thanks!

[2020-06-09 18:55] mihaimaruseac commented on #40302
Can you try with the final 2.2 release please?

[2020-06-09 19:02] jsimsa commented on #39992
Thank you for your explanation. I acknowledge the problem. A possible solution for it would be to decouple the configuration of parallelism from the configuration of the buffering. I was hoping to achieve using existing building blocks through my suggestion to use `prefetch` but I realized it would not work because of head-of-the-line blocking.

As you pointed out, it is possible to avoid this iss

[2020-06-09 19:06] Ehsan1997 opened #40336 "Eager Function Inputs cannot be Keras Symbolic Tensors error when using Intermediate layers in custom loss function"
I am using Colab with TF 2.2.

**Current behavior**
[code]
**Expected behavior**
Model trains successfully

**Standalone code to reproduce the issue**

1. Just copy the code from [here](https://github.com/keras-team/keras/blob/keras-2/examples/variational_autoencoder.py) to a colab cell,
2. Change keras to tensorflow.keras (using just keras works).
3. Code works with tf.config.experimental_run_fun

[2020-06-09 19:08] amahendrakar commented on #40099
@spatialaudiolabs,
Please take a look at [this](https://stackoverflow.com/a/59823284) similar StackOverflow issue and let us know if it works. Thanks!

[2020-06-09 19:11] JesseBerdowski opened #40337 "Op not registered 'LSTMBlockCell' in binary running on.."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 x64
- Mobile device

[2020-06-09 19:14] amahendrakar commented on #40117
@celsomilne,
I was able to run the code with TF v2.2 without any issues. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/7d15484807d471f73abece2a9f0a220e/40117.ipynb).

Could you please update TensorFlow to v2.2 and let us know if it works. Thanks!

[2020-06-09 19:17] dcouwenh commented on #6720
I know I am in the minority here, but I have an application where I actually want the resizing to align the corners like it does in tf.compat.v1.image.resize_bilinear(..., align_corners=True).  I know I can access the old code by using tf.compat.v1.image.resize_bilinear( ), but I am concerned that someday that API compatibility will eventually go away, and I cannot figure out how to duplicate the

[2020-06-09 19:17] anj-s commented on #40244
@alexrogozea We've recently fixed this issue. can you try using tf-nightly?

[2020-06-09 19:19] drasmuss commented on #37548
I would love to not rely on private properties, but as you say there is no way to get this information through public properties. So if we want the Keras graph structure (which doesn't seem like a really unusual use case) that's our only option :smile:.

Do you have a timeline for when you plan on removing this functionality? And are there any plans to provide equivalent information through some o

[2020-06-09 19:26] John-8704 commented on #36799
Does the f1-score metric implementation in tf-addons calculate score per batch wise (or) on the full validation set? It wasn't mentioned clearly.

[2020-06-09 19:34] gabrieldemarmiesse commented on #36799
It's computing the score on the full validation set to get more meaningful results :)

[2020-06-09 19:49] hegman12 commented on #40306
I believe the stable release of tensorflow do not support None type in input. Use nightly, this support has been added recently. I was able to convert he graphs successfully that has None shape tensors.

[2020-06-09 19:51] yasingh2007 commented on #40222
I have trained model with TF2.2.0, it shows different training nodes. How to remove these "/map/* " training nodes?

python -m tensorflow.python.tools.freeze_graph --input_saved_model_dir saved_model/1591713086/ --output_node_names layer6/final_dense     --output_graph frozen_graph_t2.pb

butterfly/image_tensor
**butterfly/map/Shape
butterfly/map/strided_slice/stack
butterfly/map/strided_slice/sta

[2020-06-09 19:58] purva98 commented on #40306
@hegman12, can you please share a small script or snippet of your code, it would be a great help!
Thanks

[2020-06-09 20:03] ismaelestalayo commented on #26758
First of all, what do you mean by "crushing"? And second, there's no fixed value that works for every dataset, the batch size is just the number of examples in each one of the epoch. The higher the batch size, the more memory you'll need

[2020-06-09 20:05] SoccoCMOS commented on #33755
Encountered the same bug when using tf.gather on a custom layer weights.

[2020-06-09 20:17] mihaimaruseac commented on #40302
Oh. You are using Windows. Windows does not yet support S3 filesystems, but there is a GSoC project to enable that.

[2020-06-09 20:26] ElPapi42 commented on #40306
check this issue #40185

[2020-06-09 20:28] rxsang commented on #40196
That indicates a version mismatch between your colab client and TPU worker. Is your TPU worker also nightly?

[2020-06-09 20:31] jvishnuvardhan commented on #40108
@SamFigueroa Did you check `CUDA 10.1 Update 2`? From the log above, i see some are from CUDA10 (cublas64_10.dll, curand64_10.dll etc) and one is from CUDA10.1 (cudart64_101.dll). Not sure whether it was completely removed or not. Thanks!

[2020-06-09 20:31] raryanpur commented on #35689
@jdduke any update on this?

[2020-06-09 20:43] #40204 closed

[2020-06-09 20:45] alexrogozea commented on #40244
@anj-s Using tf-nightly-gpu build I get the following exception:
[code]
I'm not running other python/TF processes in the background, and the GPU is not being used by anything other than Xorg and 'compiz'.
More relevant, this steps stops the process before anything so I can't tell if it would work with the initial problem.

[2020-06-09 20:46] jvishnuvardhan commented on #39817
@Harvey13 When error description include `'_TensorLike'`, then mostly it is due to using mixing functions from `keras` and `tf.keras` in the code. Can you please share a standalone code that is throwing an error. Thanks!

[2020-06-09 20:54] jasonbrancazio commented on #40196
@rxsang I don't see how to determine without modifying the steps indicated above whether the TPU worker is using a nightly version of tf. Would you mind posting how to determine this?

I did see your trick here, which seems to be related to provisioning a worker at a certain version level rather than inspecting its properties: https://github.com/tensorflow/tensorflow/issues/34346#issuecomment-5983

[2020-06-09 20:57] dimitree54 commented on #34767
I also had issue descibed by @pabloi09  (TypeError when trying to save/load Sequential model starting with concat layer, and taking list of tensors as input). But then I noticed new warning (it seems that this warning has appeared only in tf 2.2):
`WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'list'> input: ... Consider rewriting t

[2020-06-09 21:13] Dave-Stein commented on #38712
We need to have a doc that update windows built ( including tensorflow.dll)
is:issue is:open label:type:build/install label:subtype:windows label:"stat:awaiting response"

[2020-06-09 21:14] gunan commented on #35405
@av8ramit @bmzhao is working to fix libtensorflow releases.
As mentioned in other issues, owners of our C++ APIs have left, and now we are ramping up on the releases, moving them to 2.0, and cleaning up stale build scripts all at the same time. This is taking some time, thus the delay. Moreover, we have lost multiple people with windows expertise, so that has been quite difficult for us to ramp up

[2020-06-09 21:15] goldiegadde commented on #39314
@Flamefire if you are satisfied with the solution, can you please close this issue ?

[2020-06-09 21:16] Dave-Stein commented on #40108
@jgasperlin
I have been [asking something like this **since 6 months ago**](https://github.com/tensorflow/tensorflow/issues/35405). No progress for anything related to tensorflow2.*

https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-gpu-windows-x86_64-2.0.0.zip

Any chance if you can provide a link to your gpu version of libtensorflow?  So we can continue to test while Google f

[2020-06-09 21:20] Dave-Stein commented on #39905
We need to include this =>  label:"stat:awaiting response"

[2020-06-09 21:21] Dave-Stein commented on #39680
We need to include this =>  label:"stat:awaiting response"

[2020-06-09 21:21] gunan commented on #39905
@av8ramit @bmzhao is working to fix libtensorflow releases.
As mentioned in other issues, owners of our C++ APIs have left, and now we are ramping up on the releases, moving them to 2.0, and cleaning up stale build scripts all at the same time. This is taking some time, thus the delay. Moreover, we have lost multiple people with windows expertise, so that has been quite difficult for us to ramp up

[2020-06-09 21:21] Dave-Stein commented on #39490
We need to include this =>  label:"stat:awaiting response"

[2020-06-09 21:22] allenlavoie commented on #40256
The `optimizer=` keyword to `Checkpoint` is arbitrary; you can have `opt1=` and `opt2=`.

It sounds like the real problem is ScipyOptimizerInterface doesn't use tf.Variables. `contrib` isn't maintained / doesn't exist anymore, so the first step would be finding a supported implementation of ScipyOptimizerInterface or L-BFGS. I don't know of one. Could be a nice thing to add to tensorflow/addons.

[2020-06-09 21:22] #40256 closed

[2020-06-09 21:23] Dave-Stein commented on #39905
@gunan  => @av8ramit @bmzhao  were never assigned BUT U to these issues last few months.

[2020-06-09 21:25] allenlavoie commented on #40256
@tanzhenyu please chime in if you know of a successor to ScipyOptimizerInterface or an implementation of L-BFGS that works with 2.x.

[2020-06-09 21:26] gunan commented on #39439
I think it is reasonable.
@meteorcloudy how can we create a target that will be the combination of the individual .a files @samhodge mined above? Can bazel merge these?

[2020-06-09 21:26] Dave-Stein commented on #39905
@av8ramit  support LINUX last one month, not WINDOWS!!

[2020-06-09 21:27] Dave-Stein commented on #39905
@bmzhao has no records of contributing to WINDOWS! last 3 months

[2020-06-09 21:28] Dave-Stein commented on #39905
We need to include this => label:"stat:awaiting response"

[2020-06-09 21:29] Dave-Stein commented on #38712
The[ latest reason](https://github.com/tensorflow/tensorflow/issues/39905#issuecomment-641588284) why WINDOWS is poorly supported

[2020-06-09 21:33] Dave-Stein commented on #39490
[Latest reasons](https://github.com/tensorflow/tensorflow/issues/39905#issuecomment-641588284) why nothing happens for last 6 months for Windows DLL for TF2.0, TF2.1 and TF2.2

[2020-06-09 21:33] jvishnuvardhan commented on #40221
I can reproduce the issue with `tf-nightly`. [Here](https://colab.research.google.com/gist/jvishnuvardhan/1ce6ce5c36801b149fb4f1ffd751ffef/40221.ipynb) is the gist for our reference. Thanks!

[2020-06-09 21:33] Dave-Stein commented on #38413
[Latest reasons](https://github.com/tensorflow/tensorflow/issues/39905#issuecomment-641588284) why nothing happens for last 6 months for Windows DLL for TF2.0, TF2.1 and TF2.2

[2020-06-09 21:34] Dave-Stein commented on #37935
[Latest reasons](https://github.com/tensorflow/tensorflow/issues/39905#issuecomment-641588284) why nothing happens for last 6 months for Windows DLL for TF2.0, TF2.1 and TF2.2

[2020-06-09 21:34] Dave-Stein commented on #36252
[Latest reasons](https://github.com/tensorflow/tensorflow/issues/39905#issuecomment-641588284) why nothing happens for last 6 months for Windows DLL for TF2.0, TF2.1 and TF2.2

[2020-06-09 21:38] Dave-Stein commented on #35405
We need to invite more discussion on the future of WINDOW support for tensorflow.  6 months with no progress but challenges. **Google needs to hire those WHO CLIAM HERE are able to address these challenges IMMEDIATELY.**

[2020-06-09 21:38] Dave-Stein commented on #39905
We need to invite more discussion on the future of WINDOW support for tensorflow.  6 months with no progress but challenges. **Google needs to hire those WHO CLIAM HERE are able to address these challenges IMMEDIATELY.**

[2020-06-09 21:38] idfah commented on #40171
verified that the same behavior is present in `2.0`, `2.1` and `2.2`

[2020-06-09 21:38] Dave-Stein commented on #37935
We need to invite more discussion on the future of WINDOW support for tensorflow.  6 months with no progress but challenges. **Google needs to hire those WHO CLIAM HERE are able to address these challenges IMMEDIATELY.**

[2020-06-09 21:39] Dave-Stein commented on #36252
We need to invite more discussion on the future of WINDOW support for tensorflow.  6 months with no progress but challenges. **Google needs to hire those WHO CLIAM HERE are able to address these challenges IMMEDIATELY.**

[2020-06-09 21:41] Dave-Stein commented on #36252
The latest commit to address this problem is to get more Windows developers to spend MORE TIME trying [new Bazel  (from 2.0 to 3.0)](https://github.com/tensorflow/tensorflow/commit/b4b83222d470afbf0b83d12b0824c0f056235655)

[2020-06-09 21:42] Dave-Stein commented on #39905
The latest commit to address this problem is to get more Windows developers to spend MORE TIME trying [new Bazel  (from 2.0 to 3.0)](https://github.com/tensorflow/tensorflow/commit/b4b83222d470afbf0b83d12b0824c0f056235655)

[2020-06-09 21:42] Dave-Stein commented on #37935
The latest commit to address this problem is to get more Windows developers to spend MORE TIME trying [new Bazel  (from 2.0 to 3.0)](https://github.com/tensorflow/tensorflow/commit/b4b83222d470afbf0b83d12b0824c0f056235655)

[2020-06-09 21:43] Dave-Stein commented on #38712
The latest commit to address this problem is to get more Windows developers to spend MORE TIME trying [new Bazel  (from 2.0 to 3.0)](https://github.com/tensorflow/tensorflow/commit/b4b83222d470afbf0b83d12b0824c0f056235655)

[2020-06-09 21:45] Dave-Stein commented on #38712
Next step is to do DATA SCIENCE, how many TOTAL MONTHS, all windows developers HERE spent on (Attempting) building tensorlfow GPU DLL!

[2020-06-09 21:45] Dave-Stein commented on #39905
Next step is to do DATA SCIENCE, how many TOTAL MONTHS, all windows developers HERE spent on (Attempting) building tensorlfow GPU DLL!

[2020-06-09 21:47] Dave-Stein commented on #39905
@jgasperlin  Google should hire you to avoid the WINDOWS developers spending TOTAL many months just to build Windows dll GPU

[2020-06-09 21:49] Dave-Stein commented on #39905
@gunan  NEXT step is to request/invite discussions at Linkedin on this issue as this is urgent and NO progress has been made last 6 months

[2020-06-09 21:50] Dave-Stein commented on #39905
@gunan  NEXT step is to request/invite discussions at Linkedin on this issue as this is urgent and NO progress has been made last 6 months

[2020-06-09 21:52] ewilderj commented on #39905
I have blocked @Dave-Stein for now because of the spamming behavior. Please get in touch Dave if you wish to be unblocked and abide within our community rules for civil and constructive discussion.

[2020-06-09 21:53] heyufei2008 commented on #35405
@gunan
Hi Gunan

If you need more people to work on windows, maybe I can help, I've been working on windows more than 10 years.

[2020-06-09 21:54] gunan commented on #35405
@heyufei2008 Thank you for your offer to help.
We are working through the backlog, however we welcome any contributions, if you like to help!

[2020-06-09 21:59] goldiegadde commented on #39270
@Flamefire the original issue of train_on_batch failed with MirroredStrategy is fixed in 2.2.0.

The second issue of Attribute Error when using train_on_batch with tf.function
model.train_on_batch is disallowed inside a tf.function , since it is a high-level end point that manages its own tf.function since it creates an Iterator, converts results to NumPy, etc. The best thing to use is Model.train

[2020-06-09 22:01] karimnosseir commented on #40221
Haoliang, Can you please have a look.

Thanks

[2020-06-09 22:01] heyufei2008 commented on #35405
@gunan  Great. how can I start work on some issues? I need some basic introductions or document  to get my hands in. Thanks.

[2020-06-09 22:04] SamFigueroa commented on #40108
I updated to CUDA 10.1 Update 2 without uninstalling CUDA, and I also updated to cuDNN 7.6.5, which essentially involved just overwriting the .dll file from the previous version of cuDNN.  I verified that tf was still able to make use of my GPU.  (One way to confirm this beyond just the one-line Python program is to run the training for a model we are working on.  It runs 3-4X faster with the GPU

[2020-06-09 22:07] #40314 closed

[2020-06-09 22:19] jvishnuvardhan commented on #40108
@SamFigueroa Is it fair to say the issue was resolved? If yes, then please close the issue. For installing TF from source, you could open a new issue so that it is easy for the users to follow the thread. Thanks!

[2020-06-09 22:22] angerson commented on #38351
Thanks for the fix, @gunan!

@gabrieldemarmiesse tf.sysconfig.get_build_info() is working in the latest tf-nightly (thanks to follow-up fixes from @chsigg and @gunan). Can you check it out?

[2020-06-09 22:22] gunan commented on #35405
To get started, you can go over our guide to build TF from sources here:
https://www.tensorflow.org/install/source_windows
While I know that the guide is for python, the C++ library builds the same code with a different build target (tensorflow:tensorflow, I think)

Also, this is a great community effort, I recommend reading this as well:
https://github.com/sitting-duck/stuff/tree/master/ai/tensor

[2020-06-09 22:23] gabrieldemarmiesse commented on #38351
Thanks everyone, I'll take a look :)

[2020-06-09 22:29] heyufei2008 commented on #35405
@gunan
Thanks.

[2020-06-09 22:42] av8ramit commented on #35405
We are also building nightly libtensorflow packages. Please pardon the difficult browser navigation, but they can be found in the `libtensorflow-nightly` GCS bucket [here](https://storage.googleapis.com/libtensorflow-nightly). They are listed by operating system. The directories correspond to the date they were built. We will also be publishing official binaries along with additional instructions

[2020-06-09 23:14] av8ramit commented on #35405
As for how we export shared object symbols on Windows, that depends. For exporting a symbol from a dependency in [pywrap_tensorflow](https://github.com/tensorflow/tensorflow/blob/492bb4d4a3fd5aafae620d2b4db1535b2d4f4a7b/tensorflow/python/BUILD#L5985), we would request that you add them to [this file](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/def_file_filter/symbols_pybi

[2020-06-09 23:21] SamFigueroa commented on #40108
Closing, as this issue is resolved.

[2020-06-09 23:21] #40108 closed

[2020-06-09 23:26] SamFigueroa commented on #40108
Just to summarize the root cause, the Python I got from the Microsoft Store was not able to find the CUDA .dll files I installed.  Using Python from a different source, such as python.org, fixed this issue.

[2020-06-10 00:12] celsomilne commented on #40117
@amahendrakar
Thanks! I updated to TF v2.2, and downgraded `pydot` to 1.3.0 and graphviz to 0.10.1 (as it appears in your Collab) but I'm now getting the (rather unhelpful) message:

`Failed to import pydot. You must install pydot and graphviz for 'pydotprint' to work.`

I've also tried running tensorflow from both windows and a linux VM, with no difference in outcome.

Unfortunately, I can't use

[2020-06-10 00:28] fengyang0317 commented on #40250
In this call in the code above, there is no replica id involved. But the order is still strange.
[code]

[2020-06-10 00:35] jessicasena commented on #35879
This should not be closed. It is counterintuitive to use your X data as Sequence and your validation data as a tuple or Dataset. And, as jostheim said, there is no guide to porting Sequence to a Dataset, and it does not seem to be easy enough to justify the lack of a guide about how to do. If Sequence is not deprecated, why validation_data argument in fit() cannot support it?

[2020-06-10 00:43] heyufei2008 commented on #35405
@av8ramit
Thanks.

Can you give me an example showing how to change  https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/def_file_filter/symbols_pybind.txt

and how to change https://github.com/tensorflow/tensorflow/blob/492bb4d4a3fd5aafae620d2b4db1535b2d4f4a7b/tensorflow/python/BUILD#L6049

I need to export symbol for this:

//////////////////////////////////////////
auto uint8C

[2020-06-10 00:44] yanglei-github commented on #40237
Thanks a lot!  Also, do you have some tutorials for implementing copy mechanism(pointer-generator or copynet) codes in TensorFlow version 2? Because I think by far TensorFlow doesn't have a build-in API for using copy mechanism in TensorFlow.

[2020-06-10 00:48] yanglei-github commented on #40237
And it is really a great tutorial for machine translation. If it is possible that add some evaluation metrics such as bleu or meteor to evaluate the result

[2020-06-10 00:49] samhodge commented on #39439
Linking to the following
Results in the following missing symbols

see attached
[output.zip](https://github.com/tensorflow/tensorflow/files/4755564/output.zip)

When compiling

[code]

With include files as

[code]

Compilation is sucessful, linking fails as above.

[2020-06-10 00:55] jessicasena commented on #39797
This would be a very useful feature. I think that is counterintuitive to use your `x` data as `tf.keras.Sequence` and your `validation_data` as a `tuple` or `tf.data.Dataset`. And,  I didn't find any tutorial of how to porting codes that use`tf.keras.Sequence` to `tf.data.Dataset`, and it does not seem to be easy enough to justify the lack of a guide about how to do this migration. If `tf.keras.Se

[2020-06-10 01:05] hunim commented on #39439
Thank you, I will try later.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Sam Hodge"<notifications@github.com&gt;;
发送时间:&nbsp;2020年6月10日(星期三) 上午8:55
收件人:&nbsp;"tensorflow/tensorflow"<tensorflow@noreply.github.com&gt;;
抄送:&nbsp;"Subscribed"<subscribed@noreply.github.com&gt;;
主题:&nbsp;Re: [tensorflow/tensorflow] Windows C++ tensorflow_cc.dll has overlapping memory address between

[2020-06-10 01:13] duncanriach commented on #38197
You're welcome, @Zethson. It's been a pleasure.

You might want to star or watch https://github.com/NVIDIA/tensorflow-determinism because progress will be reported there first.

Let's keep this open for now. Once I've opened a new issue, with minimal repro code for the re-shuffle problem, then I'll inform you. Then you can close this current issue.

[2020-06-10 01:37] smirghasemi commented on #35226
Has there been any update on this?

[2020-06-10 01:58] Z-ZPX commented on #40115
Encountered the same problem, did you solve it, how to solve it

[2020-06-10 02:03] bjourne opened #40339 "Error in the tpu.ipynb notebook"
I'm trying to implement the code in this notebook https://github.com/tensorflow/docs/blob/master/site/en/guide/tpu.ipynb

The lines for updating the training loss and accuracy are incorrect:
[code]
I don't understand the intent behind updating the loss with the product of the number of replicas and the batch loss but it gives the wrong result. Changing the line to
[code]
appears to solve the bug.

[2020-06-10 02:06] zhuzilin commented on #39992
@jsimsa
Apart from the trade-off between buffer size and performance, I think one barrier of implementing the background buffer of parallel mapping is that it is not sure whether it need to process the next one. For example, we may have code like:
[code]
In this snippet, the map does not need to continue to process more than 3 elements and make it continue to run in background may be wasteful. For

[2020-06-10 02:11] jxfruit commented on #40176
@amahendrakar
sorry, I cannot update tensorflow from v1.13 to 2.x in my project. All codes are following:

import os
import collections
import numpy as np
import tensorflow as tf
import pickle

in_dir = "./exp-14"

cur_pth = os.getcwd()
# root_pth = '/'.join(cur_pth.split('/')[:-1])
# out_dir = os.path.join(root_pth, 'exp-14')
out_dir = "./exp-14"
if not os.path.exists(out_dir):
    os.makedirs(ou

[2020-06-10 02:13] av8ramit commented on #35405
Ah my apologies, I missed your previous message. Unfortunately since that is autogenerated, the suggestion I provided will not apply. That suggestion is for explicitly defined functions. [Here](https://github.com/tensorflow/tensorflow/commit/9d41ea557a79e33c5c766b075d307501acd2265b#diff-145ec99c6d4762e904542472583a3fb1) is an example.

Let me dig into this a bit more and get back to you tomorrow.

[2020-06-10 02:17] brucechou1983 commented on #26297
@natario1 If a flag for only using OpenGL is what you need, it's already [there](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/gpu/java/src/main/native/gpu_delegate_jni.cc#L40) though it's still experimental. You can set the flag to `TFLITE_GPU_EXPERIMENTAL_FLAGS_GL_ONLY`.

However, when you need realtime (>>30fps) semantic segmentation and/or face mesh running on

[2020-06-10 02:19] emiliocoutinho opened #40340 "Problem while adding a custom metric"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):  tf-nightly-

[2020-06-10 02:24] duyao-art commented on #40115
@Z-ZPX  Sorry, I did not solve it at this time. I emailed the author, but got no reply now. I just kept the problem and started to do other needed things. Hope to solve it soon for both of us.

[2020-06-10 02:27] GeorgeS2019 commented on #35405
@av8ramit  Finally, something that we all have been looking for.

[2020-06-10 02:37] gunan commented on #35405
I would like to remind everyone that TensorFlow is an open source project.
While we do our best to provide many features, the community is more than welcome to contribute and fill those gaps.
We have been lacking windows expertise for a long time. This is no secret. So we depend on everyone here to work with us, and fill the gaps where we fall short.

[2020-06-10 02:41] GeorgeS2019 commented on #35405
@gunan @av8ramit   I have followed discussions between SciSharp and tensorflow team.
The team is currently offering tensorflow.dll (CPU), Now we have the GPU version.
From the ongoing work. it is increasing clear that we need MORE than this binary eventually. We need to contribute to the source code that create the tensorflow.dll so that SciSharp team has more control on what are being exposed for

[2020-06-10 02:44] gunan commented on #39439
I am baffled. I see that you are grabbing .a files under com_google_protobuf. I have no idea how you are seeing the symbol errors.

[2020-06-10 03:05] zacwellmer commented on #40215
@qlzh727 is there any updates on this? If there's a paper that the current convention was modeled after I'd love to check it out. If not, I'm happy to help out with a PR, though it seems like this would change _could_use_gpu_kernel to False for input dropout.

Would it be possible to just mask the kernel (could be done to have the same effect as masking the input for forward prop)? I think this wo

[2020-06-10 03:05] guotong1988 opened #40341 "How could I know my data is distributed in the right way?"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):

I am pretraining BERT in 1 machine with 4 GPU.

The input function code:
[code]
The mirrow strategy code:
[code]
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.1

[2020-06-10 03:32] amahendrakar commented on #40319
@peter197321,
As per [this documentation](https://www.tensorflow.org/lite/convert/cmdline#usage), setting `--enable_v1_converter` as `True`, enables the 1.X command line flags instead of the 2.X flags.

[2020-06-10 03:34] amanmishra086 commented on #36358
mine was giving error for log.get('accuracy') but when I changes it to logs.get('acc'), it worked

[2020-06-10 03:36] #40340 closed

[2020-06-10 03:49] samhodge commented on #39439
Yeah it seems puzzling, if anybody else wants to attempt it themselves this essentially the artifacts created from `r2.2` and building the target `//tensorflow:tensorflow_cc.dll` with CUDA 10.2 defines with Visual Studio 2019.

[2020-06-10 03:54] beew commented on #40042
@amahendrakar

Hi, doesn't seem like you were using GPU.

[2020-06-10 04:11] hthu commented on #40250
I think you are running this with the `replica_id_in_sync_group` from context, right?
`replica_id_in_sync_group` 0 isn't necessarily isn't necessarily the `0` in XLA world.

You could try this to verify the mapping:
[code]

[2020-06-10 04:34] #39874 closed

[2020-06-10 04:42] Saduf2019 commented on #40115
@duyao-art
Please update as per my comment on code snippet and version details of tensorflow.

[2020-06-10 04:44] mathemakitten commented on #33969
Mine has been resolved, running on TF2.2. Thanks!

[2020-06-10 04:51] joker-eph commented on #39895
Why doesn't it solve the original issue? If you're pipeline is always including -std-to-hlo before -hlo-to-lhlo shouldn't this just work then?

[2020-06-10 04:54] suraj-maniyar opened #40342 "Cannot resume training using model.save and load_model()"
**System Information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes

- OS Platform and Distribution:
CentOS Linux 7.6.1810

- TensorFlow installed from :
binary (pip)

- TensorFlow version :
2.2.0-rc3

- Python version:
3.6.4

- CUDA/cuDNN version:
CUDA 10.1 / cuDNN 7.6.0

- GPU model and memory:
2 x TitanX - 12GB

**Describe the current beh

[2020-06-10 05:04] samhodge commented on #39439
If you do not include the `.o` files created from the `.proto` file the only missing symbols are

[code]

Including the `.o` files of the C++ protobuf `.proto` targets expands this list out to almost 200 missing symbols.

[2020-06-10 05:10] WhiteAzzan commented on #38608
@ymodak，but，I used ‘from tensorflow.tools.graph_transforms import TransformGraph’  to it , and lite may be.not 1.15  is 1.14

[2020-06-10 05:10] bondhugula commented on #39895
The original issue was of making the -hlo to lhlo pass deal with this input.

A new pass std to hlo just for this?! What other conversions do you foresee that to have? The conversion looks backwards intuitively.

[2020-06-10 05:13] #39872 closed

[2020-06-10 05:15] joker-eph commented on #39895
Such passes are mostly testing passes, they can't support the world. This is the case with most passes that are loading A->B conversion pattern right now. If you want A+C->B you need another pass loading the right set of patterns. I don't think there is anything specific to this pass right now.

Why? A lot of `std` dialect op can be seen as the same level of abstraction as HLO, using the existing

[2020-06-10 05:24] bondhugula commented on #39895
TF -> HLO and HLO -> TF is a difference scenario - I assume you have many conversions there. Creating one full pass and file for a std.const to hlo.const sounds needless, and more importantly,  getting back to the main question: what's the issue with having std.const to hlo.const in hlo to lhlo? It's just an intermediate step and would anyway converge at lhlo.const. Why shouldn't one have such tri

[2020-06-10 06:00] terryheo commented on #39396
CPU throttling is a system feature so user application usually an app can't control it.
Since running ML model with CPU is highly CPU intensive task, it's difficult to avoid it. Maybe you need to reduce the number of computation.

Using GPU or NNAPI helps since it reduces CPU burden. As you said, some ops are not supported with these delegates, you might need to refactor your model to leverage it.

[2020-06-10 06:03] viotemp1 opened #40343 "timeseries_dataset_from_array wrong target output value"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 19.10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.3.

[2020-06-10 06:07] gunan commented on #39490
@claynerobison @penpornk is MKL supported on windows?

[2020-06-10 06:12] gunan commented on #39490
Sorry, I mean for TF, do we support building with MKL on windows. MKL itself is indeed supported.

[2020-06-10 06:16] ravikyram commented on #40321
@maxkaustav

Can you go through the [link](https://www.tensorflow.org/neural_structured_learning) and see if it helps you.
This question is better asked on StackOverflow since it is not a bug or feature request. There is also a larger community that reads questions there and provide better and faster support for such issues. Thanks!

[2020-06-10 06:26] invencode opened #40344 "We cannot duplicate the value since it's not constant. Failed to duplicate values for the stateful op."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 2.3.0-dev20200609

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**The output from the

[2020-06-10 06:27] multiverse-tf commented on #40183
TFLite on x86 CPUs may not have been fully optimized for quantized models. But w/ XNNPACK delegate, as mentioned in https://github.com/tensorflow/tensorflow/issues/40183#issuecomment-640436345, will deliver significant x86 performance improvements for float models.

[2020-06-10 06:27] ravikyram commented on #40331
@neenaloysius

Request you to share colab link or simple standalone code with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-06-10 06:32] ravikyram commented on #40295
@manuelvalera

I suspect It may occur because you may not have [Visual C++ Redistributable for Windows.](url)Please, install Installing C++ redistributables and see if it resolve your issue.Thanks!

[2020-06-10 06:38] Shaul-Z commented on #26758
By crushing I mean training process is failing at the very start of it.
GPU RTX 2080
Ram 32gib
I saw people with worse GPUs setting batch size to 1,000. I can set it to 14 and training process took 4 days to get to 1.5 in the loss function.

[2020-06-10 06:43] avitomar12 commented on #38064
same problem: Is there way ro fix the issue?

[2020-06-10 07:00] ravikyram commented on #40344
I have tried in colab with TF nightly version and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/8b0b90fd1804915af4720029bf7842e4/untitled970.ipynb).Thanks!

[2020-06-10 07:12] shervinemami commented on #37724
I had this exact same problem, and upgrading to NDK v18 also fixed it for me, thanks Igeiger!

[2020-06-10 07:15] AndreasMadsen commented on #40280
I submitted an issue here: https://github.com/googlecolab/colabtools/issues/1323

[2020-06-10 07:15] #40280 closed

[2020-06-10 07:25] peter197321 commented on #40319
per [quantization_config.h](https://github.com/tensorflow/tensorflow/blob/8ab1c251ed27950b850cbc106bbe9a798b16b79a/tensorflow/compiler/mlir/lite/quantization/quantization_config.h#L53) there are other possible flags which I am looking for to set e.g.

[code]
is it possible to use those within `tflite_convert` call? If so please can you have some code snippet how to use?

[2020-06-10 07:26] duyao-art commented on #40115
@Saduf2019  OK, thank you so much.

The below is the URL of the relevant project. You can clone it if it is possible. Then just run train_veri.py.

https://github.com/duyao-art/cosine_metric_learning_customer.git

The tensorflow version I used for this project is 1.14.0. Because in this project, because when I used tensorflow>=2.0, it would have this problem: ModuleNotFoundError: No module named '

[2020-06-10 07:26] Eashwar93 commented on #38978
@jvishnuvardhan Is the issue fixed by any chance?

[2020-06-10 07:26] Flamefire commented on #39314
Well it is a breaking change that was not announced so "satisfied" is relative. But there is a solution now.

I'd say once the documentation (e.g. https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/Callback#on_train_batch_begin)  is updated this can be closed as that is part of this report and I'm not sure this has been fixed yet.

[2020-06-10 07:33] penpornk commented on #39490
@gunan Yes, TF-MKL can be built on Windows. Here is the [instructions](https://software.intel.com/content/www/us/en/develop/articles/intel-optimization-for-tensorflow-installation-guide.html#wind_B_S).
I'm going to re-assign @TensorFlow-MKL back for help with this issue.

[2020-06-10 07:36] gunan commented on #39490
Oops, I missed that.
@Saduf2019 please leave the issue assigned to @TensorFlow-MKL
MKL issues are triaged by intel through that user.

[2020-06-10 07:44] Flamefire commented on #39270
Just for my understanding: In another issue I was told that `tf.function` is supposed to be the replacement for the TF 1 "graph mode" to recover (some of) the lost performance due to eager execution.
However it now seems to be impossible to create a whole training loop or at least a single epoch iteration in "graph mode" (`tf.function`) as e.g. calling `train_on_batch` inside a `tf.function` is (n

[2020-06-10 07:45] kriskorrel-cw commented on #37900
@ymodak earlier I said

Here, I linked to a gist which would work, i.e., no exception could be reproduced with this gist. However, I tested this by running on Google Colab. This, you have also done yourself and found out that there was no problem with it. Today, however, I had the chance to test this code snippet on my own machine, and here it would throw the same exception! So the problem is prob

[2020-06-10 07:46] Lotte1990 commented on #39490
@penpornk the link you provided is related to building the pip package. I'm trying to build tensorflow_cc.dll with MKL (it builds fine without MKL).

[2020-06-10 07:50] buddhapuneeth opened #40345 "Backward LSTM behavior mismatch"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-06-10 07:55] youngtf commented on #40182
I got the same problem related to 'function_pb2' after compiling TensorFlow. It is likely because I was still at the TensorFlow source folder, so that python was searching that folder instead of loading the installed package I guess? When I change to another directory (e.g., $HOME), I can successfully import the installed TF without error.

[2020-06-10 07:56] Hacky-DH commented on #39753
@guptapriya

I modify code as you say, an error occurs:
[code]

[2020-06-10 08:01] HarshadaShirgaokar commented on #32859
i installed gast 0.2.2 still the issue persists
System info:
OS: WIndows 8.1
Python 3.7.7
Tensorflow 2.0

Warning:
WARNING:tensorflow:Entity <function _get_dataset_from_filename at 0x00000075305C23A8> could not be transformed and will be executed as-is. Please report this to the AutoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the

[2020-06-10 08:09] #30918 closed

[2020-06-10 08:09] AlexWang1900 commented on #40027
@guptapriya  Hi!!!!
I reboot the system without a display cable connected to the 2080ti
then I SSH to it from another PC through intranet.

then I start jupyter server remotely , and runs NCCL-TEST from another session also remotely
using : $ ./all_reduce_perf -b 8 -e 16M -f 2 -g 2

at the same time, before NCCL-TEST finished running ,I ran some simple code
[code]
through jupyter notebook remotely

[2020-06-10 08:11] HarshadaShirgaokar opened #40346 "Tensorflow dataset loading warning"
### System information

-   **OS Platform Windows 8.1
-   **TensorFlow version 2.0
-   **Python version 3.7.7

### Describe the problem
I tried to load the MNIST dataset from tensorflow datasets. It is giving me the following warning:
i installed gast 0.2.2 still the issue persists
System info:
OS: WIndows 8.1
Python 3.7.7
Tensorflow 2.0

Warning:
WARNING:tensorflow:Entity <function _get_dataset_f

[2020-06-10 08:13] guptapriya commented on #39753
Can you please provide the complete code you tried? from the error message it seems that it thinks you're no longer in the scope of the strategy.
BTW do you need to use graph mode? Can you use TF2 without graph mode instead? We have done a lot more testing and improvements for `MultiWorkerMirroredStrategy` in TF2.

[2020-06-10 08:13] AlmogDavid commented on #38064
Same problem, the root cause for this issue is that the training cannot perform a single step because your dataset is not large enough to fill one training iteration.

Anyway, there is still a bug here, this is not the expected behavior.

[2020-06-10 08:17] captain-pool commented on #40074
Hey @allenlavoie , this looks great! Thanks for the help. :)

[2020-06-10 08:17] thesby commented on #26150
Terrible experience, 1 year later, no update happens

[2020-06-10 08:17] #40074 closed

[2020-06-10 08:27] amitmate commented on #39396
Thanks Terry for your response. I have tried NNAPI and CPU/GPU combined operation but the inference delays are higher than CPU-only operation for *my* network. I suspect the intermediate layer data  exchange between CPU and GPU may be causing it (large buffers at partial graph outputs).  I am surprised that MLPerf or AI-benchmark have not included the throttling and its effect on inference delays

[2020-06-10 08:27] siyuany commented on #37654
The bug had been fixed in higher version (tf>1.12), so I just closed this issue.

[2020-06-10 08:31] acse-ncv19 commented on #37501
I have a similar warning message using TF2.2 on Colab GPU:
WARNING:tensorflow:Gradients do not exist for variables ['Variable:0'] when minimizing the loss.

[2020-06-10 08:56] sasansharifipour opened #40347 "TF_SessionRunCallable in file session.py Crashes"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 7 32-bit
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.9.0
- Py

[2020-06-10 08:59] wilderrodrigues commented on #18736
The solution quoted by @tash149 works like a charm! I'm training YOLOv3 with TF2 on AWS, using a NVIDIA T4.

Details on how to set it up here: https://aws.amazon.com/premiumsupport/knowledge-center/ec2-memory-swap-file/

[2020-06-10 09:09] ishdutt opened #40348 "tf.contrib module's alternative methods in Version 2 of Tensorflow"
I'm following the documentation to migrate from V1 to V2 mentioned below which states that `tf.contrib` module is removed from the v2 and it can't be made to work even with this line of code:
[code]
So, is the only option left is to remove them manually? If it is can we have a link mentioning the new methods for classes which are now not by supported in V2?
## URL(s) with the issue:
Guide to migra

[2020-06-10 09:20] terryheo commented on #39396
There are several changes merged for partitioning support. I think https://github.com/tensorflow/tensorflow/commit/1912ef16d67af82aff8a18a44cd555a919145046 is the last.

This tool is useful to see what causes the delay during graph execution. (including partial delegation)
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/benchmark#profiling-model-operators

Are you buildi

[2020-06-10 09:28] loretoparisi commented on #33744
@jvishnuvardhan I confirm that this has been resolved. I have investigated the solution. The problem was related to a wrong handling of the TF session through different models loaded on the same server (multi-processing application server so with the same shared session). The solution was a common shared session, passed through all loaded models.

[2020-06-10 09:28] #33744 closed

[2020-06-10 09:37] arthurdeschamps commented on #31086
I think that simply `tf.keras.layers.Embedding(weights=[pre_trained_embeddings])` should work and that way one doesn't need to call `build` and `set_weights` manually.

[2020-06-10 09:39] ismaelestalayo commented on #26758
yep, it's weird to crush with such high specs, I'd suggest you Google the specific error that TensorFlow or Python returns. it might be specific to the size of your dataset not accepting high batch sizes or something, I can't tell just by the sheer specs alone.

[2020-06-10 09:42] paxth opened #40349 "Could not load dynamic library 'libcudnn.so.7'"
**System information**
- OS Platform and Distribution: Ubuntu 20.04 LTS
- TensorFlow installed from (source or binary): Binary
- TensorFlow version: 2.2.0
- Python version: 3.8.2
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source): 8.4.0
- CUDA/cuDNN version: 10.1

When I run the program like:

`import tensorf

[2020-06-10 09:49] ac1991 opened #40350 "build tensorflow 1.13 error"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Linux Ubuntu 16.04

- TensorFlow installed from (source or binary):
- TensorFlow version:
1.13

- Python version:
3.7

- Installed using virtualenv? pip? conda?:
No

- Bazel version (if compiling from source):
0.19.2

- GCC/Compiler version (if compiling from source):
external/androidndk/ndk/toolchains/arm-linux-andr

[2020-06-10 09:58] amahendrakar commented on #40315
@jifei,
On running the code I'm facing an error stating `NameError: name 'Model' is not defined`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/b494cba70200dfac4ccac5dfaef0c017/40315.ipynb).

In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-06-10 09:59] Goofy-G commented on #39064
Hi @xiaoyunwu
    I have some question about it. If your serving function like above, how to construct the serving client's input data

[2020-06-10 10:04] amahendrakar commented on #40315
Also, please add ``` (i.e. three back ticks) before and after your code to preserve the indentation and formatting. Thanks!

[2020-06-10 10:07] Saduf2019 commented on #40332
@lordfiftyfive
I ran the above code but face a different error, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/da44bbf73dd5df5eff55dec0b48d3b21/untitled.ipynb).
Please share code with all dependencies or share a colab gist for us to analyse the issue faced.

[2020-06-10 10:17] ravikyram commented on #40310
@Goofy-G

I have downloaded the zip file and i am seeing multiple python files. Can you please provide the instructions or steps to reproduce the issue.Thanks!

[2020-06-10 10:22] amitmate commented on #39396
Terry, thanks for the pointers on partitioning and profiling- will check.

Can i use the Coral Edge TPU on a custom imx8 based board by Toradex, assuming i can build yocto linux (with tensorflow and Edge TPU driver support) for this platform ?

[2020-06-10 10:29] swapniel99 commented on #40253
Never mind I used 0.25 as sigma and got correct results. Just wondering why only tensorflow implementation has 0.5 in source code. There are various other implementations which work as is.

[2020-06-10 10:32] Goofy-G commented on #40310
@ravikyram
   You can directly run test/runner_test.py/test_predict method for predicting, test/runner_test.py/test_train method for training, test/runner_test.py/test_eval for evaluating and test/runner_test.py/test_export for exporting.
   Model codes are in tagger/model.py, running codes are in tagger/runner.py and making dataset codes in tagger/data. Training source files are in data directory

[2020-06-10 10:34] maledh commented on #37715
Is there any update about this issue. I still have it and no able to use tensorflow. Thanks

[2020-06-10 10:54] fengyang0317 commented on #40250
Let us get rid of replica_id_in_sync_group. My question is that the output of the following code looks strange to me.

[code]

[2020-06-10 11:01] ki-al-la opened #40352 "error with "from tensorflow.keras.layers import Dense""
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Dell laptop
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.0
- Python version: 3.8
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): n/a
- GCC/Compil

[2020-06-10 11:07] JeroenPeterBos commented on #34346
Is there still progress being made on this?
I have read through this and many related threads. When I run a fairly minimal example in colab (https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/guide/tpu.ipynb) I get the following error, maybe it is related to @lindong28 's comment from 24 Januari?

[code]

[2020-06-10 11:09] shivammalviya712 commented on #36580
Please, can anyone tell what is the cause of this error?
I am also getting the same error, and unable to find the solution elsewhere.

[2020-06-10 11:26] ki-al-la commented on #40352
Thank you for the bot answer, this helped clarify the problem. Is there a way I can pip install TF 1.5 to mitigate this problem? In the anaconda Powershell Prompt, when I enter pip install tensorflow==1.5.0 it cannot find the matching distributions, all listed available distributions are 1.13 and higher.

[2020-06-10 11:53] fcunilim commented on #38712
@Saduf2019

Building v2.2.0 with bazel 2.0.0 did not complete successfully this morning, using the following script:

[code]

The error I got was:

`ERROR: C:/users/fred/documents/repos/tf22/tensorflow/tensorflow/core/kernels/BUILD:687:1: C++ compilation of rule '//tensorflow/core/kernels:split_lib_gpu' failed (Exit 2)
`

Using Python 3.7.7 and a venv with pip freeze:

[code]

[2020-06-10 12:53] asxdfd opened #40354 "Symbol file not loaded when I use C API"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 x64
- TensorFlow installed from (source or binary): source
- TensorFlow version: r1.15.0
- Python version: 3.7
- Bazel version (if compiling from source): 0.24.1
- GCC/Compiler version (if compiling from source): VS 2019 x64

Hello, here are two questions.
1. When I use C API downloaded from https://www.te

[2020-06-10 15:25] ruixin-bao opened #40355 "//tensorflow/python/tpu:tpu_test and //tensorflow/python/tpu:datasets_test test case failure"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
**N/A**
- OS P

[2020-06-10 15:26] stefano555 opened #40356 "TensorFlow Lite Post-training Integer Quantization predicts identical value always"
**System information**
OS Linux 18.04.04 LTS
TensorFLow nightly 2.3.0-dev20200601
CPU Intel Core i7-855OU
ResNet-50 V2

Hi,

I have been experiencing issues converting ResNet-50 V2 from SavedModel to TensorFlow Lite Post-Training Integer Quantization. I have previously converted it to Tf Lite post-training dynamic range, post-training float16 quantization, and tf lite "normal". In all of those cas

[2020-06-10 15:32] franksacco opened #40357 "[TF Lite] TfLiteGpuDelegate Init: CONV_2D: Unsupported data type for float32 tensor"
**System information**

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): `pip install tensorflow`
- TensorFlow version (or github SHA if from source): 2.2.0
- TensorFlow Lite version: `org.tensorflow:tensorflow-lite:2.2.0`, `org.tensorflow:tensorflow-lite-gpu:2.2.0`

**Command used to run the converter or code if you’re u

[2020-06-10 15:54] natario1 opened #40358 "clang error: the clang compiler does not support '-march=native' [TF Lite, Android ARM]"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.14.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow installed from (source or binary): trying to build
- TensorFlow version: 2.2.0
- Python version: 2.7
- Installed using virtualenv? pip? conda?: not installed
- Bazel version (if compiling from

[2020-06-10 15:58] shreymohan opened #40359 "Seg fault while post quantizing my model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OS Linux 18.04.04 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): python wheel
- TensorFlow version (use command b

[2020-06-10 17:05] BV-SS opened #40360 "same error using tflearn package ==0.3.2 and tenserflow ==1.14"
some error using tflearn package ==0.3.2 and tenserflow ==1.14

error:'tensorflow.python.framework.op_def_registry' has no attribute 'register_op_list'

_Originally posted by @BV-SS in https://github.com/tensorflow/tensorflow/issues/34762#issuecomment-642140322_

[2020-06-10 18:10] mm7721 opened #40363 "Convert .tflite file to human-readable format"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (or github SHA if from source): 1.15

-------------------------------------------

Is there a recommended way to convert a .tflite file into a human-readable format?  I often encounter issues with .tflite models (e.g. poor predic

[2020-06-10 19:07] djdongjin opened #40366 "Raise ValueError when saving a model created in mirroredstrategy"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-06-10 22:53] celsomilne commented on #40117
Thanks @amahendrakar. After reading through the issue, I fixed my problem with
[code]

[2020-06-10 23:07] ymodak commented on #39873
What happens if you explicitly set placement on `tf.device('/gpu:0')`?
Also what is your cudnn version?
XLA creates an XLA_GPU device whereas TF creates GPU device.

[2020-06-10 23:09] CalebEverett opened #40369 "model.load_weights fails to find matching files in gcs bucket"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
- OS Platfo

[2020-06-10 23:25] abdou31 commented on #40322
I used this version because I find it simple, the error you encounter comes from the version simply, so you must downgrade the version of Tensorflow.

[2020-06-10 23:27] ymodak commented on #40354
CMake is not supported for building TF, recommend using Bazel.

[2020-06-10 23:34] heyufei2008 commented on #35405
@av8ramit Thanks for your information.
def_file_filter is very complicated, I don't know how it works.
Can you tell me how to change it so that I can do this ?
//////////////////////////////////////////
auto uint8Caster = Cast(root.WithOpName("uint8_Cast"), outTensor, tensorflow::DT_UINT8);
//////////////////////////////////////////

Another way: Can I build a static library instead of a dll ? Sta

[2020-06-10 23:35] guotong1988 commented on #40341
Yes, I am wondering if it is in fact distributing training across all 4 of your GPUs.

[2020-06-10 23:43] yyoon commented on #40026
This should be fixed in master branch now.

@user-vm Can you please try again after updating the repo, and close the issue if it's working for you? Thanks.

[2020-06-11 00:20] elpapi42 opened #40370 "Image Encoding/Decoding and B64 Encoding/Decoding Not Working"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (or github SHA if from source): tf-nightly-gpu

**Provide the text output from tflite_convert**
[code]

**Standalone code to reproduce the issue**
[code]

Most of the image encoding/decoding ops as well as Base64 encode/decode ops

[2020-06-11 00:21] jdduke commented on #40318
Just to confirm, you built the libtensorflowlite.so and libtensorflowlite_c.so from source using NDK r18b? Is the client code that uses these libs also built using NDK r18b?

You might also try inspecting the TfLiteTensor* values directly (see also the TfLiteTensor definition in `lite/c/common.h`) to see if there's an issues with the memcpy behavior.

[2020-06-11 00:21] ymodak commented on #40326
Did you use `compat.v1` modules for other functions as well?
[code]

[2020-06-11 00:23] ElPapi42 commented on #40370
Here is [gist](https://colab.research.google.com/drive/1vGQ-jxqcG7jRApZ1Mg0ABe5vIL4jk94n?usp=sharing)

[2020-06-11 00:46] nikitamaia commented on #40341
Can you share the training output? Or share an example with data that I can reproduce?

[2020-06-11 00:46] ymodak commented on #40261
I can reproduce this with mac OS Catalina version 10.15.
TF 2.0 took 0.116 seconds.
TF 2.2 ran for 2.09 seconds.

@lihanchen The colab links given by @Saduf2019 use cpu accelerator also the cpu and gpu packages are combined in `tensorflow` unless we specifically flag it as `tensorflow-cpu` or `tensorflow-gpu` in TF 2.1 and above.

[2020-06-11 01:02] terryheo commented on #40270
You can use tf sign with Flex delegate.
https://www.tensorflow.org/lite/guide/ops_select
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/flex/whitelisted_flex_ops.cc#L369

For custom operator implementation, plz check https://www.tensorflow.org/lite/guide/ops_custom

[2020-06-11 01:20] guotong1988 commented on #40341
Thank you!
Data: https://github.com/guotong1988/BERT-multi-gpu/blob/master/sample_text.txt
Similar Code: https://github.com/guotong1988/BERT-multi-gpu/blob/master/run_pretraining_gpu_v2.py

[2020-06-11 01:32] nikitamaia commented on #40341
Can you also share what the training logs looks like on your end?

[2020-06-11 01:32] ymodak commented on #40348
Take a look at [sunsetting contrib](https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md) guide to know about whereabouts.
Also we have [TensorFlow addons ](https://github.com/tensorflow/addons)module which provides a subset of TF core contrib functionality which is no longer part of TF 2.
However there are some functions which are not absorbed by TF core neither cov

[2020-06-11 01:38] guotong1988 commented on #40341
![image](https://user-images.githubusercontent.com/4702353/84335181-e01b9600-abc6-11ea-82da-ccad5a62a96d.png)

Note that the loss is 4x than 1 GPU setting.
1 GPU start about 10.5 loss.
It is also a wondering whether it is right.

[2020-06-11 01:42] terryheo commented on #40144
Can you see the following log from logcat?
[code]
(The third line could be "OpenCL")

This is a log from my Pixel 1 which uses 821 processor. I think result from 835 should be better.

[2020-06-11 01:42] harrydrippin opened #40372 "TPUStrategy does not export graph to TensorBoard while TPUEstimator does it"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Both Tested
- OS Platform and Distribution: Linux Ubuntu 18.04 on GCE
- TensorFlow installed from: PyPI, with `tensorflow==2.1.0`
- TensorFlow version: `v2.1.0-rc2-17-ge5bf8de 2.1.0`
- Python version: 3.6
- CUDA/cuDNN version: N/A (Issue from TPU environment)
- GPU model and mem

[2020-06-11 02:00] nikitamaia commented on #40341
Can you also add the INFO that prints before the first training step?

[2020-06-11 02:01] ChunHsinWang commented on #35493
The issue seems to be fixed, so I will close it. Thanks.

[2020-06-11 02:01] #35493 closed

[2020-06-11 02:05] Lu1352 commented on #35750
i meet same issue too

[2020-06-11 02:07] abattery commented on #40363
You can use our visualize tool. https://www.tensorflow.org/lite/guide/faq#model_conversion

```bazel run //tensorflow/lite/tools:visualize model.tflite visualized_model.html```

[2020-06-11 02:09] abattery commented on #40370
Hi, @ElPapi42

Could you try the conversion with Flex? https://www.tensorflow.org/lite/guide/ops_select#converting_the_model

The conversion was failed due to missing op support. I think you can use the tf op directly via flex delegate.

[2020-06-11 02:12] renjie-liu commented on #40344
Hi, @ravikyram can you try set the fixed input shape in the concrete function? (In your code, steps are none)

thanks!

[2020-06-11 02:20] brandonssmith commented on #37433
I'm getting the same error:
2020-06-10 20:15:45.369670: W tensorflow/stream_executor/platform/default/dso_loader.cc:

[2020-06-11 02:22] huonw opened #40373 "Saving Keras model containing layer returning sparse tensor hits: "ValueError: If specifying TensorSpec names for nested structures, either zero or all names have to be specified.""
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes (entirety included below)
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
  - macOS 10.14.5 (18F203)
  - current `tensorflow/tensorflow:latest` docker image (permanent reference: `tensorflow/tensorflow@sha256:08901711826b185136886c7b8271b9fdbe86b8ccb598669781a1f5c

[2020-06-11 02:23] renjie-liu commented on #38220
you will also need to link the flex delegate, please see the instructions here:
https://www.tensorflow.org/lite/guide/ops_select

[2020-06-11 02:23] guotong1988 commented on #40341
[log.txt](https://github.com/tensorflow/tensorflow/files/4762187/log.txt)

Full log

[2020-06-11 02:26] ElPapi42 commented on #40370
Hello @abattery ! if you check the gist, you will actually realize that I already setup it:
[code]

[2020-06-11 02:27] MeghnaNatraj commented on #37361
Marking this as resolved as #37936 is merged.

[2020-06-11 02:27] #37361 closed

[2020-06-11 02:34] abattery commented on #40370
@thaink could you help adding the missing tf ops into Flex delegate?

[code]

[2020-06-11 02:35] MeghnaNatraj commented on #37088
@mr-goldhands Can you try optimizing your model again using the [updated hello_world example](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/micro/examples/hello_world/train/train_hello_world_model.ipynb) and let us know if you face this issue.

We recommend testing with `tf.float32` input and output type as given in the example and then update it to `tf.int8` as given in [th

[2020-06-11 02:38] MeghnaNatraj commented on #38684
Closing the issue due to inactivity. @rajaniyadav, you can re-open this issue if you're still blocked on this issue.

[2020-06-11 02:39] #38684 closed

[2020-06-11 02:41] ElPapi42 commented on #40370
Can you actually specify to add too the reverse op?
[code]

[2020-06-11 02:45] chenpengf0223 commented on #35564
TF2.1.0 also has the issue... I try it on a linux.

[2020-06-11 03:00] andreydung commented on #40318
Hi @jdduke: Yes, I built both `libtensorflowlite.so` and `libtensorflowlite_c.so` using NDK r18b. Client code is using NDK r18b as well.

We were able to inference all other models. Only with this specific model that it keeps returning zero, even though input is not zeros.

If it helps for debugging, here is the link to the model:
https://drive.google.com/file/d/1ZoRjTupSMHydsbGy4cWDLIuZD7LnybsA/v

[2020-06-11 03:09] ivs-pychen commented on #40140
Do I need to retrain the model using TensorFlow v1.15 and use export_tflite_ssd_graph.py to convert Mobilenet v2 SSD to tensorflow lite?

[2020-06-11 03:17] MeghnaNatraj commented on #39672
@zerollzeng  Could you provide a link to a [colab jupyter notebook](https://colab.research.google.com/) where you perform an end-to-end conversion to a TFLite Model and run inference/prediction on some images using the Saved model (using your above comment) and the TFLite model (as given here: [end-to-end_mobilenet_conversion](https://www.tensorflow.org/lite/convert/python_api#end-to-end_mobilenet

[2020-06-11 03:19] jifei commented on #40315
Tanks，I update the code.

[2020-06-11 03:26] MeghnaNatraj commented on #39276
Marking this as resolved due to inactivity. @Wheest Feel free to re-open this issue if it is still blocking you.

[2020-06-11 03:26] #39276 closed

[2020-06-11 03:29] nikitamaia commented on #40341
Hi @guotong1988, based on your code and the logs you shared it looks reasonable to me. You can see TF identifying 4 GPUs (devices 0,1,2,3) and the INFO "Initializing RunConfig with distribution strategies."

I would however suggest you look through the warnings in the logs, as several of the functions you are using are deprecated. Also note that Estimator support for MirroredStrategy is limited

I

[2020-06-11 03:29] #40341 closed

[2020-06-11 03:30] PreVizsla commented on #37433
actually I can now use the older version of tensor flow with no problem, I am using tensorflow 1.7 right now. But I haven't try to use the 2.0 version again.

[2020-06-11 03:30] guotong1988 commented on #40341
https://stackoverflow.com/questions/62124961/tensorflow1-15-multi-gpu-1-machine-how-to-set-batch-size

[2020-06-11 03:31] zldrobit commented on #38336
I have sucessfully built gpu delagate on linux using:
[code]
https://github.com/tensorflow/tensorflow/issues/28830#issuecomment-619179751

[2020-06-11 03:34] #40149 closed

[2020-06-11 03:46] MeghnaNatraj commented on #38388
The link you are referring to discusses how a frozen graph (in TensorFlow 1 model format) can be converted to a TensorFlow 2 model: https://www.tensorflow.org/guide/migrate#a_graphpb_or_graphpbtxt. This is **not required**.

To convert the frozen graph model to a TensorFlow Lite model:
1. If you are using TensorFlow 1, the API is `tf.lite.TFLiteConverter.from_frozen_graph`
2. If you are using Tens

[2020-06-11 03:46] #38388 closed

[2020-06-11 03:48] guotong1988 commented on #40341
https://stackoverflow.com/questions/62316736/tensorflow1-15-the-inner-logic-of-estimators-input-fn-or-the-inner-logic-of-m

[2020-06-11 03:48] EKami commented on #9489
@ankitvgupta Didn't work for me with `tensorflow-gpu` installed with conda on an RTX 2080 Max-Q. From my experience, this bug manifest itself mostly on RTX cards. With exactly the same configuration on a Tesla T4 GPU everything is fine.

[2020-06-11 03:51] ankitvgupta commented on #9489
Got it, thanks for the heads up. Yeah, I tried it on a K80 (I can never remember if that's considered an RTX or not) on AWS (built off their deep learning base AMI on a p2), in case that's useful for repro. I suspect it's also pretty specific to whatever random other packages are being installed in my dockerfile and conda env, but figured I'd share just in case others were facing it.

[2020-06-11 04:03] EKami commented on #9489
@ankitvgupta I'm trying to recompile from source with CUDA 10.1.243 right now for my RTX card, will let you know.

K80 is not RTX, so maybe that's why it's working for you.
I used exactly the same env between the T4 GPU (drivers 440.64) and my RTX card (drivers 440.82) with a docker image. Working on T4, not on RTX. They are both based on the Turing architecture so I don't really know what is happ

[2020-06-11 04:11] mbgpriyanka commented on #374
Hi,
I am encountering the same error-
    from tensorflow.python.platform import self_check
ModuleNotFoundError: No module named 'tensorflow.python.platform'

I am on windows 10 system and have tf =1.5.2 installed
any solution to this ?

[2020-06-11 04:12] Arktius commented on #38850
Thanks for your comment, but I cannot work with versions higher than 2.0 at the moment due to driver issues on the server.

[2020-06-11 04:13] MeghnaNatraj commented on #39667
The issue is now **resolved** with the latest TensorFlow version:
1. TF tf_nightly (2.3.0.dev20200610)
[code]
2. TF 2.2 latest version (2.2.0-rc4)
[code]

[2020-06-11 04:13] #39667 closed

[2020-06-11 04:18] AlexWang1900 commented on #40027
### Test case 2
**I ran the test above again with these changes:**
I turn nvidia-smi -pm 1 according to an NVIDIA egineer,
I set NCCL variables like this:
NCCL_DEBUG=INFO
NCCL_MAX_NCHANNELS=1
NCCL_P2P_DISABLE=0
NCCL_ALGO=Ring
NCCL_IGNORE_CPU_AFFINITY=0
NCCL_NTHREADS=256
NCCL_DEBUG_SUBSYS=ALL

**results:**
1)   nvidia-smi blocked ,and  this time ,I waited the NCCL tests finished, then nvidia-smi re

[2020-06-11 04:23] ecpoppenheimer commented on #40278
Also been having this problem.  Spent all day, and was on the verge of reinstalling my OS because this broke my package system so badly.

I don't really know what I am doing... but the following command was at least enough to fix the package manager so that I don't have to reinstall the OS.

sudo apt-get -o Dpkg::Options::="--force-overwrite" install libnvidia-compute-450

[2020-06-11 04:35] EKami commented on #9489
Ok somehow I can't install `440.64` on my RTX card so I can't align my drivers with the T4... and ofc `440.82` is not available for the T4. I'll try to use the latest version of CUDA 10.1/cudnn 7.5 with TF compiled from source on my RTX laptop.

[2020-06-11 04:36] AlexWang1900 commented on #40027
### update: good news
I was editing post, and leave it hanging
after about 30 mins, the TF CODE finished running !!!!

the jupyter cosole returned more after information above:
[code]

the jupyter web returns:
[code]
why it took so long????

[2020-06-11 04:37] AlexWang1900 commented on #40027
From the two test case above , there are these questions: (BOLD are for TF guys)
1  why would  NCCL do a topology discovery every time it starts? it is like Windows doing a disk-scan every time I start playing minesweeper.
**2 why the TF calls NCCL 2.5.7, while NCCL-TEST calls 2.6.4**
3  why there are two topology discovery rounds???
4 why NCCL detects node1 for cpu ? there is only one cpu in syst

[2020-06-11 04:43] amahendrakar commented on #40176
@jxfruit,
On running the code with TF v1.15, I am facing a different error stating `ZeroDivisionError: float division by zero`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/dcedc3c02106b6a486c9a20ea0bedbb6/40176.ipynb#scrollTo=vhm2uGOU0uHG).

Could you please upgrade to TF v1.15 and let us know if the issue is resolved. Thanks!

[2020-06-11 04:49] bearsroom opened #40374 "Use keras `ModelCheckpoint` failed in multi-worker distribute training env"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, but the bug happens in official codes.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): No
- TensorFlow versio

[2020-06-11 05:03] ecpoppenheimer commented on #40278
I did manage to get TF to recognize my GPU!  Nvidia driver is version 450.

[2020-06-11 05:11] MeghnaNatraj commented on #39594
We're currently working on removing these warnings and will update this issue once it's resolved.

[2020-06-11 05:49] MeghnaNatraj commented on #39999
As the error suggests: `RuntimeError: tensorflow/lite/kernels/strided_slice.cc ellipsis_mask is not implemented yet.Node number 8 (STRIDED_SLICE) failed to prepare.`

We do not support models where the `ellipsis_mask` is set any non-zero value. In the  'with ellipsis' case, this field has a value of 1 as result of which the error is raised.

Marking this as resolved.

[2020-06-11 05:51] paxth commented on #40349
Okay, thanks! It worked but is there a way to permanently get rid of the warnings instead of doing the `import os` everytime?

[2020-06-11 05:52] vnn0804 commented on #26501
Type above command for running on pi.
export LD_LIBRARY_PATH=/your .a file path/libtensorflow-lite.a
./minimal  /your model file path/yolov3-tiny_int8.tflite

Thank you.

[2020-06-11 05:54] MeghnaNatraj commented on #39720
The issue seems to be resolved with the latest tf-nightly ('2.3.0-dev20200610') and TF 2.2.0. Feel free to re-open it if you still face this issue.

[2020-06-11 05:54] #39720 closed

[2020-06-11 05:57] biswajit310 commented on #39130
hi..
I am using python 3.8.
wants to:       pip install tensorflow==1.31.1
but getting error.
![Capture](https://user-images.githubusercontent.com/48278850/84350175-7acfa100-abd6-11ea-94ff-9b686f8e7893.PNG)

[2020-06-11 06:02] avitomar12 commented on #38064
Yes. You are right. When i increased training data the error doesnot occure.

[2020-06-11 06:09] ravikyram commented on #40372
@harrydrippin

I tried reproducing the issue in colab and i am seeing error (`ModuleNotFoundError: No module named 'project'`).Request you to procide colab link or simple standalone code with supporting files to reproduce the isse in our environment.It helps us in localizing the issue faster.Thanks!

[2020-06-11 06:21] cheers00 commented on #40326
yes.` tf.compat.v1.OptimizerOptions(opt_level=-1)` worked.

Thanks

[2020-06-11 06:21] #40326 closed

[2020-06-11 06:42] tastelessjolt commented on #38036
I'm having a similar problem.
[code]

Though I've used static shapes like input1: (1, 256, 256, 3) and input2: (1, 256, 256, 3) while converting the model (using concrete function) to TFLite using both [tf.lite.OpsSet.TFLITE_BUILTINS, tf.lite.OpsSet.SELECT_TF_OPS] ops.

So, **Question:** How do you check whether the TFlite file has static sizes or dynamic sizes and which of the nodes/tensors have

[2020-06-11 06:58] lkubin commented on #39999
@MeghnaNatraj  the problem is that I didn't receive that error message.  The message is fine and it is pretty explicit about what's going on.
The tag here is wrong I'm not running tf 2.1 but tf 2.2, in tf 2.1 the error message correctly appears, in version 2.2 it doesn't.

[2020-06-11 07:00] luyuan2015 opened #40375 "ilsvrc:imagenet_accuracy_eval crossed compiled for Pixel4 fails on TF2.1.0's TFlite MobileNetV3 model"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- Tensorflow version (commit SHA if source): 2.1.0
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.):
Pixel4

**Describe the problem**

**Please provide the exact sequence of commands/steps when you ran into the probl

[2020-06-11 07:01] amahendrakar commented on #40117
@celsomilne,
If we take a look at the [source code](https://github.com/tensorflow/tensorflow/blob/2b96f3662bd776e277f86997659e61046b56c315/tensorflow/python/keras/utils/vis_utils.py#L28) for `tf.keras.utils.plot_model`, it uses `pydot_ng` or `pydotplus` and if both the packages are not found it then falls back to `pydot`.

If none of these packages are found (including `graphviz`), it throws an [I

[2020-06-11 07:09] lalalapotter commented on #37622
Same problem in GDR

[2020-06-11 07:21] duduscript commented on #6955
Hi @ppries , I have the same needs that pointing to data already on the gpu, do you have a solution?

[2020-06-11 07:32] short-circuitt commented on #39432
Hi, thanks for your message, it does look like a separate problem so I will open a different issue for it.

[2020-06-11 07:33] congchan commented on #15585
how to check if I am using fp32 or fp16 on v100?

[2020-06-11 07:52] Kmarconi commented on #40316
Hi, just to save you some time for other issues, I wanted to let know that I've solved my issue this morning. It was coming from my tensorflow-cpp installation, I was using the wrong flags ( probably the monolitic one which is bad for the Jetson Xavier). For my new installation, I've used the nonccl flag and the noaws flag. Everything is working perfectly now.

[2020-06-11 07:52] #40316 closed

[2020-06-11 07:58] sakusss commented on #38359
I also want to know how to calculate the margin probability in CRF

[2020-06-11 08:02] MatteoArm commented on #40199
@Saduf2019 Thanks for the suggestion, but this seems to be a different issue.
It looks like the problem here originates in the python bindings for the CalibrationWrapper, or in the CalibrationWrapper class itself.

[2020-06-11 08:15] ishdutt commented on #40348
Hi @ymodak The first link was helpful but they were not complete, I guess. There were many empty spaces, some of them were not found in the core module like `tf.contrib.lookup` even though mentioned in their fate, some had **?** in their fate like `tf.contrib.crf`, I couldn't find them too. If the migration is still in the process, can I be a part of that SIG as mentioned in that page? I'll be hap

[2020-06-11 08:28] GoSz commented on #31323
I tried @tanzhenyu 's code with latest ```tf-nightly(2.3.0-dev20200610)``` and ```tensorflow-2.2.0```, and it seems the problem is still unresovled.

[2020-06-11 08:35] vijay2001 opened #40378 "ValueError: You are trying to load a weight file containing 16 layers into a model with 0 layers."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**The output from the converter invocation**

[code]

**Also, plea

[2020-06-11 08:38] TeaTimeChimp commented on #38503
Changing from metrics=['accuracy'] to metrics=[tf.keras.metrics.Accuracy()] fixed it for me.

[2020-06-11 08:43] vijay2001 opened #40379 "AttributeError: 'Sequential' object has no attribute '_get_save_spec'"
**System information**
- OS Platform and Distribution Linux Ubuntu 18.04:
- TensorFlow version 2.2.0:

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab

converter = tf.lite.TFLiteConverter.from_keras_model(model).

``---------------------------------------------------------------------------
AttributeError

[2020-06-11 08:44] huanyingjun commented on #38626
I got same issue, I am using TensorFlow 2.2.0
When I use python API to convert  tflite model, show below log，as I know, "toco" is the old tflite converter, and not used for now. I tried to set "converter.experimental_new_converter = True", still show below log, seems the new converter is not enbaled, is there any way to solve this ?

2020-06-11 16:35:50.293990: I tensorflow/contrib/lite/toco/graph

[2020-06-11 08:44] rambowding commented on #40121
@amahendrakar
the 'data_preprocess.py' file is shown in below, other modules are from 'pip install'
[code]

[2020-06-11 08:51] #40265 closed

[2020-06-11 08:54] asxdfd commented on #40354
Now I can use C++ API. But I still can't use C API, which is downloaded from https://www.tensorflow.org/install/lang_c. VS shows "Symbol file not loaded"
[code]
Here I didn't use Cmake to build TF. I just create a CMake project to use TF C library.
Here's settings in CMakeLists.txt
[code]
When code goes to TF_RunSession(), it cause an error"Symbol file not loaded".

[2020-06-11 09:02] philipp-eisen opened #40380 "keras.models.save_model does not respect include_optimizer option"
**System information**
Tensorflow: v2.2.0-0-g2b96f3662b 2.2.0

**Describe the current behavior**
When passing `include_optimizer=False` to ` keras.models.save_model` the optimizers weights are included.

**Describe the expected behavior**
When passing `include_optimizer=False` to ` keras.models.save_model` the optimizers weights are **NOT** included.

**Standalone code to reproduce the issue**
htt

[2020-06-11 09:13] mvhsin commented on #38320
I met the same issue.
Since the quantization in TF1.x is limited,
Could I save saved_model with TF1.x and convert to TFlite with TF2.x?
Thanks for any comments!

[2020-06-11 09:59] terryheo commented on #40056
This is fixed now. You need to clear grade cache to download recent nightly aar file.

[2020-06-11 09:59] #40056 closed

[2020-06-11 10:01] terryheo commented on #40357
Could you try nightly? It seems that your model works well with GPU on master.
[code]

[2020-06-11 10:02] amahendrakar commented on #40315
@jifei,
Please take a look at [this solution](https://github.com/tensorflow/tensorflow/issues/27120#issuecomment-540071844) from a similar issue and let us know if it helps. Thanks!

[2020-06-11 10:04] terryheo commented on #39532
Let's close this. Please let me know if you still have the issue.

[2020-06-11 10:04] #39532 closed

[2020-06-11 10:04] #39366 closed

[2020-06-11 10:06] jifei opened #40381 "ValueError: tf.function-decorated function tried to create variables on non-first call."
Standalone code to reproduce the issue
https://colab.research.google.com/drive/1gNzsl6mYg8_H2GRHpdxhk8VPGEOqREti?usp=sharing

[2020-06-11 10:11] terryheo commented on #39396
As far as I know it uses libusb based userlevel driver so it doesn't require any kernel patch.
https://github.com/google-coral/edgetpu#linux

[2020-06-11 10:19] BDEvan5 commented on #33685
https://medium.com/@HojjatA/could-not-find-valid-device-for-node-while-eagerly-executing-8f2ff588d1e

Great fix to the problem

[2020-06-11 10:38] terryheo commented on #34230
https://github.com/tensorflow/tensorflow/issues/34230#issuecomment-597255383 the change looks good to me. I'll handle it.

@HBiSoft I think there are two area to improve.
1. Quantization
https://www.tensorflow.org/lite/performance/model_optimization
If you quantized model, you'll get better performance.
2. Optimize scaling
In your log, scaling takes 100ms. I can see some inefficiency on converting

[2020-06-11 10:38] nrupatunga commented on #35987
any update on this issue, facing similar issues adding Instance Normalization. Removing Instance Normalization works. Is there a workaround for the Instance Norm/Group norm?

[2020-06-11 10:43] ravikyram commented on #39705
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-06-11 10:43] #39705 closed

[2020-06-11 10:55] starbrights commented on #39532
Isn't there a way without docker? Guess docker uses it's own toolchain but I want use my own (yocto) compiler ....

[2020-06-11 11:03] ravikyram commented on #40380
@philipp-eisen

I have tried in colab with TF 2.2 , nightly version.PLease, find the gist [here](https://colab.research.google.com/gist/ravikyram/4aba249fb2cfdc244c0b9ca2eb32fb44/untitled6.ipynb).Is this the expected behavior?.Thanks!

[2020-06-11 11:19] Saduf2019 commented on #40378
@vijay2001
Please share a simple stand alone code for us to replicate the issue faced and You may want to double check your weight file since it is saying the weight file contains 0 layers.

with respect to the error reported, please refer to these links:
[link](https://github.com/keras-team/keras/issues/10417) [link1](https://github.com/tensorflow/tensorflow/issues/34016) [link2](https://stackove

[2020-06-11 11:22] alexpyattaev commented on #37505
Confirm a memory leak, similar symptoms. Seems to eat about 4 Mbytes/second on my workload. tf2.2.0-1, arch 64bit.

[2020-06-11 11:29] weilanShi commented on #24591
I guess the main reason is because of the use of keras，i change “tf.keras.layers.BatchNormalization ” to "tf.layers.batch_normalization"，and the freeze_graph is work.

[2020-06-11 11:30] amahendrakar commented on #40359
@shreymohan,
On running the code I am facing a different error stating `error: 'tfl.strided_slice' op operand #0 must be tensor of 32-bit float or 32-bit integer or 64-bit integer or 8-bit integer or QI8 type or QUI8 type or 1-bit integer values, but got 'tensor<1x512x512x3x!tf.quint8>'`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/1ca7851ea1332eac3c8d3142

[2020-06-11 11:37] Saduf2019 commented on #40373
I am able to replicate this issue, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/56d0bb4e22fe010dbd150c6a8def9a54/untitled.ipynb)

[2020-06-11 11:42] philipp-eisen commented on #40380
@ravikyram Thanks for checking this issue out.

Unfortunately, this is not the the expected behavior. I added a workaround to the [original colab](https://colab.research.google.com/drive/1JocUwWRNmGQzE4mbL85YO-DAaVilJmlD?usp=sharing#scrollTo=laV6-irZJY9O) that produces the expected behavior.

So basically just setting the optimizer property to `None`, without compiling the model does not remove th

[2020-06-11 11:45] fperezgamonal opened #40382 "tf.image.adjust_jpeg_quality/tf.rawOpsEncodeJpegVariableQuality returns negative/inverted RGB image"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **No** (only c

[2020-06-11 11:47] Saduf2019 commented on #40381
@jifei
Please refer to these issues with similar error:
[link](https://github.com/tensorflow/tensorflow/issues/27120)
[link1](https://github.com/tensorflow/tensorflow/issues/34983)
[link2](https://stackoverflow.com/questions/58352326/running-the-tensorflow-2-0-code-gives-valueerror-tf-function-decorated-functio)

[2020-06-11 11:50] #16594 closed

[2020-06-11 11:59] tejaslodaya commented on #40063
Yes. Facing the same issue.

On tensorflow 2.2.0

[2020-06-11 12:02] EKami commented on #9489
Nothing changes when compiling TF from source on CUDA `10.1.243`. So in the meantime I'm using this workaround:
[code]

Which work **if** you compiled TF 2.2 from source with CUDA 10.2 (doesn't work with CUDA 10.1.x)

[2020-06-11 12:05] thaink commented on #40370
Those ops are not in the flex delegate whitelist yet: lite/delegates/flex/whitelisted_flex_ops.cc
I'll add them to the whitelist.

[2020-06-11 12:10] FlorentijnD commented on #39957
I asked around. Your question is a little bit difficult to answer. `The hardware we're using is part of a bigger hardware component which acts as a custom board. That custom board is not really supported by NXP, and the current image is created using customized yocto layers, there are bits and pieces which are based on other similar boards and reused here.` Hope this helps in some way

[2020-06-11 12:11] Svdvoort commented on #39985
@kaixih  I've compiled the latest TensorFlow master with cudnn 8, but unfortunately, the results remain the same. I had a look at the suggestions by NVidia [to get tensor cores working](https://docs.nvidia.com/deeplearning/sdk/cudnn-best-practices/index.html#cudnn-8xx), but unfortunately that didn't help.

Code:

[code]

Results:

[code]

Once again for the 2D convolution, the time is reduced, but

[2020-06-11 12:20] Trezorro commented on #29213
I encountered this issue today. For me it turned out that I accidentally batched my dataset multiple times, instead of once.

[2020-06-11 12:22] gitvicky commented on #40323
The issue seems to be have been the mismatch in the tensor shapes of the model output (500, 1) and the target output (500, ) which led to the reduce_mean being done across a tensor of shape (500, 500).

The issue is fixed with
Y = np.expand_dims(u_actual, axis=-1)

[2020-06-11 12:22] #40323 closed

[2020-06-11 12:25] patrickvonplaten opened #40383 "Feature Request: API to access peak memory usage of a function call that uses TF"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): TF 2.0, 2.1, 2.2
- Are you willing to contribute it (Yes/N

[2020-06-11 12:47] fsx950223 commented on #40253
Same question.

[2020-06-11 13:12] beniroquai commented on #38220
Thanks! Adding the

[code]
to the ```build.gradle``` solved it.

BUT: The next problem is just coming. It says something about dimension mismatch - now in Android:

[code]

I'm using tf-lite nightlies. Any idea how to solve this @renjie-liu ?

Thanks!

[2020-06-11 13:13] Saduf2019 commented on #40355
@ruixin-bao
Please provide with simple standalone code for us to replicate the issue faced.

[2020-06-11 13:23] Siddhesh19991 commented on #18736
you have to reduce the number of parameters

[2020-06-11 13:26] pratyushlohumi26 commented on #6660
@normansiboro Are you sure about what you wrote in your comment, so according to you windows server 2012 R2 can't run Tensorflow as tf is not there  for that os ?

Or where you able to find a workaround for it?

[2020-06-11 13:39] MinghaoCheng opened #40384 "Tensorflow is blocking CUDAmemcpyAsyn, and high CPU usage"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2020-06-11 14:06] abattery commented on #40379
I guess the error is coming from saving the given keras model object into the TF saved model directory during conversion. Probably, you need to make sure that your model is compatible with exporting to the saved model format.

Please refer #39001 I suspect that your code might be depending on keras but not on tf.keras.

[2020-06-11 14:11] renjie-liu commented on #38220
Seems slice does not support 5d.

Hi Thai, can you take a look

[2020-06-11 14:17] abattery commented on #40363
And you can get insights from our benchmark tool as well. https://www.tensorflow.org/lite/performance/benchmarks

[2020-06-11 14:17] Saduf2019 commented on #31928
@sdll
Is this still an issue

[2020-06-11 14:18] ki-al-la commented on #40352
I updated tensorflow to the newest version. now if I want to run "import tensorflow as tf" I get this error message:

ImportError                               Traceback (most recent call last)
~\anaconda3\lib\site-packages\tensorflow\python\pywrap_tensorflow.py in <module>
     57
---> 58   from tensorflow.python.pywrap_tensorflow_internal import *
     59

~\anaconda3\lib\site-packages\tensorflo

[2020-06-11 14:19] Saduf2019 commented on #31912
@alexminnaar
Please update as per above comment

[2020-06-11 14:20] vonadz opened #40385 "ImportError: cannot import name 'naming' from 'tensorflow.python.autograph.core' for tf-agents"
Hey, not sure if this is for here, for I should move it to tf-agents. I figured since the deepest part of the traceback was in tensorflow, it should be here. Please let me know if I'm wrong and I'll move to tf-agents.
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No, using this example: https://www.tensorflow.org/agents/tut

[2020-06-11 14:20] Saduf2019 commented on #31838
@KauthamMurugan
Is this still an issue

[2020-06-11 14:20] ShiyongL commented on #40154
@srjoglekar246 @impjdi Thanks a lot for looking into this! The inference_diff tool is super for debugging the issue. Here is what I found so far:

- Following @srjoglekar246's lead, I tried the inference_diff and got slightly different errors on my Pixel 3XL. And I used tensorflow master branch and r2.2 branch and both produced different results. So my first question is: which branch I should use

[2020-06-11 14:21] ShiyongL commented on #40154
``

[2020-06-11 14:23] Saduf2019 commented on #40352
@ki-al-la
Please refer to this [comment](https://github.com/tensorflow/tensorflow/issues/28671#issuecomment-492225800)  and these issues #31690 #28696 #28671 #27788

[2020-06-11 14:38] ruixin-bao commented on #40355
@Saduf2019,

Hi, maybe you miss the colab link I shared above? Under **Standalone code to reproduce the issue**.

For `tpu_test`, it is https://colab.research.google.com/drive/1aC8gfkgDfMCbS11JBGxuLFVVwkumSvka?usp=sharing

For `datasets_test`, it is
https://colab.research.google.com/drive/1V97nYdLkzxrJ2QI9g-OmzkIz-lA0fnoK?usp=sharing

[2020-06-11 14:39] StarDust1980 commented on #39251
I was mainly trying to figure out if I can have some variables (like w1 and w2) on independent GPUs and some replicated (like w3 - using mirrored strategy). I remember trying CTL but even that froze. Can this be done at all? I mean using mirrored strategy for some trainable variables. In the documentation, you copy all the variables on all the GPUs. I do not want to do that. I just need parts to b

[2020-06-11 14:40] jshyatt2 opened #40386 "clarification with TF datasets: more efficient to vectorize with unbatching (batch -> map -> unbatch) or just map?"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

https://www.tensorflow.org/gui

[2020-06-11 14:43] thaink commented on #38220
Our current kernel only support 4D.
There was an effort to remove this limitation https://github.com/tensorflow/tensorflow/pull/27113
But that PR is closed now. So I will handle that.

[2020-06-11 14:46] amahendrakar commented on #40374
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-06-11 14:51] Lauler commented on #40278
This installation process just nuked my Nvidia drivers too.

[2020-06-11 14:55] imartinezl commented on #38250
Hi @swierchola

I have loaded the model commented by @gadagashwini using tf-nightly==2.3.0-dev20200611, and it works without prompting any errors. The inference also works well. It would be great to know if you get the same results so that this issue can be closed.

[2020-06-11 15:19] sbuser opened #40387 "tf_upgrade_v2 needs explicit encodings on Windows to upgrade utf-8"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary x64
- TensorFlow version (use command below): v2.2.0-rc

[2020-06-11 15:45] ki-al-la commented on #40352
Thank you

[2020-06-11 15:45] #40352 closed

[2020-06-11 15:47] shreymohan commented on #40359
This is weird. Would you suggest trying tf-nightly instead? I have seen people pulling off their conversions using that tf version.

[2020-06-11 15:51] ShiyongL commented on #40154
Sorry I was accidently closed this issue but reopened it again.

[2020-06-11 15:51] gunan commented on #40130
I myself never sucessfully build TF with debug symbols.
@hlopko could you comment on the options used above to build with bazel with debug symbols?

[2020-06-11 15:54] brianwa84 commented on #39417
I am not experienced w/ slurm, though I might be interested enough to learn and get a GCP example set up. I don't expect to have cycles to do so imminently though.

Meantime you might find fellow users with experience in https://groups.google.com/forum/#!forum/google-cloud-slurm-discuss It seems GCP does support slurm with GPUs. https://cloud.google.com/blog/products/compute/hpc-made-easy-announci

[2020-06-11 16:04] mihaimaruseac commented on #37433
@johnLIC You should use the same versions for TF, estimator and tensorboard

@brandonssmith that's a warning, not an error

@PreVizsla yes, you can use any released TF but if you encounter a bug in a version we no longer support we won't be able to help you. And we won't issue security updates and patches to old versions.

[2020-06-11 16:04] karimnosseir commented on #38036
@tastelessjolt Does your model have an op that produce dynamic shape ?
Try visualizing it and inspect which op causes this.
If you have a reproduce example, that will be good to check what is your problem.

Thanks

[2020-06-11 16:06] fperezgamonal commented on #40382
A quick update for anyone experiencing similar results. I've only tested on this new [colab notebook](https://colab.research.google.com/drive/19q3Zec0Mz-2uKqMGpLR74Nqmz5GA7n1d?usp=sharing) but passing a _uint8_ image to any of the JPEG functions and then converting to float32 seems to work just fine and the sampled `quality` is different everytime.

I'll update this reply once I can pass a float32

[2020-06-11 16:08] mihaimaruseac commented on #40302
#39124 will be included in the upcoming 2.3 release.

Modular filesystems (tensorflow/community#101) will probably come in 2.4

[2020-06-11 16:09] #39931 closed

[2020-06-11 16:14] tastelessjolt commented on #38036
@karimnosseir can you explain what do mean by a reproduce example? I don't understand.

I'll try visualizing it and check for ops producing dynamic shape. But how is it different? Since you know the shape of input of the network, doesn't it mean you know the shape of all the tensors in the graph?

Btw, can you also suggest some visualizing tool for tflite? I use Netron, it seems fine but if there'

[2020-06-11 16:18] PreVizsla commented on #37433
@mihaimaruseac how to check tensorboard verison? And do we need the exact same version for both TF and tensorboard?

[2020-06-11 16:18] karimnosseir commented on #38036
@tastelessjolt a model that trigger this case when specifying static shape in conversion.

You can use Netron

[2020-06-11 16:24] boubasse opened #40388 "Protobuf not choosing the right libstdc++ while building with Bazel"
Hi everyone,

I'm having a bug which seems to be recurrent since 2016 and concerns the build of TensorFlow from the source using Bazel. Here are some system information and description of the problem.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Scientific Linu

[2020-06-11 16:38] jsimsa commented on #39992
@zhuzilin the inefficiency related to asychronously pre-computing more data than is needed is not specific to this issue and applies to any of the existing asynchronous tf.data transformations (parallel map, parallel interleave, fused map + batch, and prefetch).

Pushing transformations that discard data (such as `skip`, `take`, and `shard`) as close to the data source as possible through graph re

[2020-06-11 16:40] PreVizsla commented on #37433
Surprisingly, After creating new conda virtual environment and downloading tensorflow and keras, I am able to run tensorflow 2.1 in pycharm with 20 Info notice in the console, but the script and tf works fine.

[2020-06-11 16:42] karimnosseir commented on #40140
@ivs-pychen Looks like this model have control flows. Can you please enable control flow v2 in TF, so your model will use control flow v2 instead of v1 (which we don't support)
You can add tf.enable_control_flow_v2()

Thanks

[2020-06-11 16:43] beew commented on #40042
@amahendrakar

The first 11000 steps doesn't show appreciable deterioration for a fresh reboot, but it deteriorates when the steps increase. So I think you need to let it run for longer to see it and it may also be GPU related. Here are the first 11000 steps:
[code]

[2020-06-11 16:56] karimnosseir commented on #28485
With new converter now the default. TFLite should support Control Flow V2 ops.
Please if you have a model with control flow ops, enable control flow v2.
to enable Control flow v2:
tf.enable_control_flow_v2()

If you have problems, please file an issue with reproduce steps.

Thanks

[2020-06-11 16:56] #28485 closed

[2020-06-11 17:02] franksacco commented on #40357
I changed the version of TensorFlow Lite dependencies, now they are:
- `org.tensorflow:tensorflow-lite:0.0.0-nightly`
- `org.tensorflow:tensorflow-lite-gpu:0.0.0-nightly`

With this update, the model works properly with the GPU but performance is worse: latency with GPU is remained pretty much the same but the time required on the CPU is more than twenty times greater than before.

I report you th

[2020-06-11 17:13] MarkDaoust commented on #40339
@rxsang can you confirm if this code is correct, and either fix or add a couple of comments explaining?

Thanks.

[2020-06-11 17:17] Lauler commented on #40278
The issue seems to be that the command

`sudo apt-get install --no-install-recommends nvidia-driver-430`

no longer installs a nvidia 430 driver, but defaults to installing nvidia-440 on ubuntu.

nvidia-430 drivers are a "transitional package", so it is not actually possible to install 430 anymore through apt-get nor from ppa.
https://packages.ubuntu.com/bionic-updates/nvidia-driver-430
https://as

[2020-06-11 17:22] srjoglekar246 commented on #40154
@ShiyongL for the AAR, it depends on whether you would prefer to use the TF nightly branch or the stabler TF 2.2 master branch for your environment. TF2.2 will probably be safer, but not contain any recent patches you might need. If the results are very different, can you explain how? Are the results with the 2.2 branch more correct? Then the issue might have been introduced recently.

About the 1

[2020-06-11 17:32] karmel commented on #39853
Thanks for the report @neilteng . The example is fairly complex, and it is hard for us to pinpoint the issue. Can you remove the dependencies + get the example down to the simplest possible repro? That will allow us to more easily determine whether this is an issue with TFT, Beam, feature columns, graph mode, etc.

[2020-06-11 17:32] anj-s commented on #39251
@StarDust1980 Here is a snippet that works for me. Notice the commented out code:
`
import tensorflow as tf
gpus = tf.config.experimental.list_physical_devices('GPU')
tf.config.experimental.set_virtual_device_configuration(gpus[0], [
  tf.config.experimental.VirtualDeviceConfiguration(memory_limit=1024),
  tf.config.experimental.VirtualDeviceConfiguration(memory_limit=1024),
])
mirrored_strategy =

[2020-06-11 17:37] neilteng commented on #39853
ok, I will try to reproduce the error with a simpler example.

[2020-06-11 17:44] karmel commented on #40047
The code sample is fairly complex, and it would need to be simplified before we could reliably debug. Since it looks like you resolved the issue in any case, I will close this. If you find you can reproduce the problem with a straightforward snippet, please file a new issue or reopen.

[2020-06-11 17:44] #40047 closed

[2020-06-11 17:50] yhliang2018 commented on #38414
@rodrigoruiz Could you help to format the repro code into colab with some synthetic input data? This will help a lot to debug the issue. Thanks!

[2020-06-11 17:51] ymodak commented on #40348
Sounds good. You can join SIG Addons using this [guide](https://github.com/tensorflow/community/blob/master/sigs/addons/CHARTER.md#sig-addons)
Also you can email email `community-team@tensorflow.org` directly.

[2020-06-11 17:54] amahendrakar commented on #40382
@fperezgamonal,
Thank you for the update. Is this still an issue? Please feel free to close the issue if resolved. Thanks!

[2020-06-11 17:55] rohan100jain commented on #40286
Can you provide some reproducible code here that demonstrates the issue?

[2020-06-11 17:56] makn87 commented on #40130
This is a very difficult problem for me. I'm trying to advocate that my company migrate their software to TF 2.X, from 1.X. We use the C/C++ API for inference and Python API for model training.

We've observed threading contention and other issues when calling TF C++ API from within our product. So, I'd really like to be able to do some debugging. If I compile the entire program with debug symbols

[2020-06-11 18:02] rohan100jain commented on #40228
Can you try turning on tf.debugging.enable_check_numerics() and then run it? That should pinpoint where the Inf values started coming from. The TensorArray might be a red herring as it just is a container for values.

[2020-06-11 18:14] karmel commented on #35992
The TF format should be the default going forward. We will try to clarify the error message so that it's more obvious what the solution is.

[2020-06-11 18:14] #35992 closed

[2020-06-11 18:22] jsimsa commented on #40285
@lgeiger suggestion is idiomatic use of `tf.data` APIs.

`tf.data.Dataset.next()` is problematic. What should happen when you call `next()` multiple times? I assume you would like different elements to be produced. But in that case `tf.data` would need to maintain internal iterator object to provide this functionality. If that's the case, how is the lifetime of this iterator object managed? When y

[2020-06-11 18:22] #40285 closed

[2020-06-11 18:26] amahendrakar commented on #40385
@vonadz,
I was able to run the code without any issues on TF v2.2. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/676b1a731029776de16245ba181bd330/40385.ipynb).

Could you please try running the same code in a virtual environment and check if it works. Thanks!

[2020-06-11 18:29] TylerTheHumanCompiler commented on #40081
I face a similar issue when trying to save a model (in saved model format) containing Bidirectional ConvLSTM2D layers. I get:
`ValueError: Object dictionary contained a non-trackable object: (None, None) (for key states)`
Error is persistent in TF versions: 2.2.0, 2.1.0, 2.0.0, 1.5.3
I tried using sequential model, and the functional api. I have no issues when saving in h5 format. Unfortunately, t

[2020-06-11 18:38] brandonssmith commented on #37433
holy crap I forgot how pedantic programmers can be

[2020-06-11 18:40] brandonssmith commented on #37433
@mihaimaruseac If it keeps me from progressing it's an error, I could care less how it is classified.

[2020-06-11 18:42] gunan commented on #37433
@brandonssmith What @mihaimaruseac meant was that message will not block your progress. There must be another issue that is blocking your progress. If you need help, please file a new issue providing all the details in the template.

Also, please make sure to abide by our community guidelines in your comments (referring to your deleted comment).

[2020-06-11 18:44] fperezgamonal commented on #40382
Tomorrow morning I'll be able to check it (an older training is underway now) and I'll immediately close this issue if I don't find any other problem.

[2020-06-11 18:49] albertz commented on #40228
But my code already contains `check_numerics` tests. Is that not enough?
I tried with `tf.debugging.enable_check_numerics` but that will raise at `tf.where(energy_mask, energy, float("-inf") * tf.ones_like(energy))`, where the `inf` is intended, which should not be a problem, but maybe that triggers the wrong TF behavior.

[2020-06-11 18:52] TamMinhVo commented on #34912
Hello all!! I have met the same problem. Could you please share your solution for this. Thank you so much.

[2020-06-11 18:54] krzysztofrusek opened #40391 "Custom train loop inconsistent with Keras `fit` for vector variables"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Custom code
-

[2020-06-11 18:58] patrickvonplaten commented on #15412
How is it possible to use `tf.contrib.memory_stats.MaxBytesInUse()` in TF 2.0+ ?

[2020-06-11 19:01] rxsang commented on #40339
Hi bjourne@,

Thanks for the feedbacks. Pasting all the code related to loss calculating in the current guide.

[code]

The reason is when working with DistributionStrategy, you first
1. compute the loss
2. calculate the gradients per replica
3. aggregate the gradients across all the replicas

The reason is in 3#, the aggregation is the sum of all replicas. So if your loss is a mean loss, the grad

[2020-06-11 19:08] craigcitro commented on #40280
FWIW, I do think there's a deeper TF-side issue here: a library shouldn't be parsing `sys.argv`, since it has no control over the program that invoked it. A simple fix might be allowing unknown flags when parsing `sys.argv`.

That said, for this particular issue, it looks like the code in question is gone, so mostly leaving this comment as a breadcrumb for posterity.

[2020-06-11 19:09] odinsbane commented on #32357
The amount of work this will take to suddenly migrate my api from fit_generator to fit is too much. I am definitely recommending moving away from tensorflow / keras.

[2020-06-11 19:12] ShiyongL commented on #40154
@srjoglekar246 for the 1-op model, TF2.2 and TF nightly branch(I assume it is the Master branch) produced slightly results:
TF nightly:
`OutputDiff[0]: avg_error=0.00215609, std_dev=1.08443e-05, gpu_precision_loss = false`
`OutputDiff[0]: avg_error=0.00215643, std_dev=1.08542e-05, gpu_precision_loss = true`
TF 2.2 (exactly same results for gpu_precision_loss = true or false ):
`output_errors { out

[2020-06-11 19:35] amahendrakar commented on #39130
@biswajit310,
TensorFlow 1.13 is not actively supported. Please try installing TensorFlow 2.x. If you need any help please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose), so that we can track the issue there. Thanks!

[2020-06-11 19:36] IvanGas commented on #40005
Please, see the solution reported [here](https://github.com/spyder-ide/spyder/issues/12899).

Best regards.

[2020-06-11 19:44] mihaimaruseac commented on #37433
@PreVizsla sorry, was away. `pip list` should display the version of all installed pip packages.

Installing in a new environment ensures that all dependencies are installed at a corresponding version

[2020-06-11 19:47] amahendrakar commented on #34912
@TamMinhVo,

The above change seems to help. Please check if it works. if not submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose), so that we can track the issue there. Thanks!

[2020-06-11 19:54] kinos9 opened #40392 "[TF2.2] Loading a Saved Model from tensorflow_hub failed with `AttributeError: '_UserObject' object has no attribute 'summary'`"
**System info:**
Python: 3.6.9
Tensorflow: 2.2.0 CPU package from _pip_

**The issue:**
I got https://tfhub.dev/google/imagenet/resnet_v2_50/classification/4?tf-hub-format=compressed from tf-hub and then uncompressed in a new directory.

with following code:

[code]

I get:
[code]
However, if I create my own model and then save into .pb format and then load in the same way it works.

Why? Thx

[2020-06-11 20:04] odinsbane commented on #31550
And if we can't use the 1.15 branch?

[2020-06-11 20:11] jdduke commented on #35689
Sadly, no immediate update. At the moment, we're steering developers toward our C API if they want both a prebuilt library and a compact set of headers. The C API and headers are actually included in the latest release artifacts that we publish to Bintray: https://bintray.com/google/tensorflow/tensorflow-lite. We've added some guidance on this approach @ https://github.com/tensorflow/tensorflow/bl

[2020-06-11 20:15] suraj-maniyar commented on #40342
@anj-s
I tried saving the model using "tf" format and  the problem still persists.
See gist [here](https://colab.research.google.com/gist/suraj-maniyar/048b5697090e7ffc1bf09ca14fb8da01/copy-of-restart_training_tf_save.ipynb).
Any work-around for this issue?

[2020-06-11 20:17] swierchola commented on #38250
@imartinezl I confirm that problem is solved in latest tf-nightly. Probably commit [Fix dimensionality handling issues in TextVectorization](https://github.com/tensorflow/tensorflow/commit/a92ff929b818c7dbca2d0c2648ae17e8d6ae3a40#diff-14a0a5dcf758d55726b80920a2896a21) fixed it. Thanks.

[2020-06-11 20:17] #38250 closed

[2020-06-11 20:24] rchao commented on #40342
@suraj-maniyar question for you - if you do `model.fit()`, then save, and load immediately, does the loaded model retain the weight that was just saved?

[2020-06-11 21:05] johnpjf commented on #6720
@dcouwenh There are valid use cases that align the center of the corner pixels. I have a change that exposes a "ScaleAndTranslateOp" that underlies the new resize, so you can use that when we merge it in (soon).

Until then you can use the v1 version, or you can access the low level scale and translate op as a workaround:
https://codeclimate.com/github/tensorflow/tensorflow/tensorflow/python/ops/i

[2020-06-11 21:07] samhodge commented on #39439
@meteorcloudy @sanjoy @gunan

A month has elapsed since this issue was raised.

I have tried everything that has been asked of me but we are still at the point where we cannot run a under twenty line reproduction case.

The journey has involved creating a complete and reproducible because both compile time and runtime environment.

Now I am at a point that at linking there are two missing symbols

[2020-06-11 21:10] suraj-maniyar commented on #40342
@rchao Yes the weights are same when I load the model right after ```model.fit()``` and ```model.save()```.
But the training after loading the weights still shows the spike in loss and gets worse from there on. ([gist](https://colab.research.google.com/gist/suraj-maniyar/a7c4b8009bc71f951204eb40018706ab/copy-of-restart_training_tf_save_v2.ipynb))

[2020-06-11 21:12] martinwicke commented on #6720
That op should also be available in `tf.raw_ops`.

[2020-06-11 21:16] samhodge commented on #39439
Leaving this here for my latter reference

https://en.wikipedia.org/wiki/X86_calling_conventions

[2020-06-11 21:16] gunan commented on #39439
Hi Sam,
We appreciate your feedback.
As I mentioned above, I am out of ideas, and we are at the point where we need bazel on windows expertise to help us explain some of these.

Unfortunately, bazel team is located in Germany. They also have different vacation schedules, different constraints and processes for responding to issues from github. As you are, I am also waiting for some feedback and gu

[2020-06-11 21:18] samhodge commented on #39439
Thanks for the transparency it certainly helps the frustration levels

I will conduct further experiments this morning if time permits

I am truely grateful for anything you can give

Cheers!

[2020-06-11 21:19] rchao commented on #40342
So to be clear, if you save and load, the weights are the same, but if you continue training, the loaded model would have incorrect loss and accuracy from the original model you saved from?

[2020-06-11 21:21] suraj-maniyar commented on #40342
Yes. Precisely.

[2020-06-11 21:27] getsanjeevdubey commented on #39925
@yashk2810 Could you please help with this?

[2020-06-11 21:34] raryanpur commented on #35689
Thanks for the update, @jdduke!

[2020-06-11 21:41] jvishnuvardhan commented on #39817
@Harvey13 I am closing this issue as you confirmed that the issue was resolved. Thanks!

[2020-06-11 21:41] #39817 closed

[2020-06-11 21:56] gunan commented on #40278
@nluehr what would be the instructions to install cuda/cudnn?
Who would be the best person to ask this?

[2020-06-11 21:58] jvishnuvardhan commented on #40251
@Zumbalamambo  When error description include '_TensorLike', then mostly the error is due to mixing of functions from `keras` and `tf.keras` in the code. Can you please share a standalone code that is throwing an error. Thanks!

Please close the issue if this was already resolved for you. Thanks!

[2020-06-11 22:18] ryanmaxwell96 opened #40394 "Save/load subclassed model TF+2, keras"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2020-06-11 22:20] ryanmaxwell96 opened #40395 "Saving/Loading Subclassed Models TF2+/keras"
**Update-template** I don't really see how to fill in this template.
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please us

[2020-06-11 22:36] #40103 closed

[2020-06-11 22:38] ymodak commented on #40058
Did you add cuda, cudnn, cupti paths to your environment?
See https://www.tensorflow.org/install/gpu#windows_setup

[2020-06-11 22:40] jvishnuvardhan commented on #35750
@Lu1352 Can you please open a new issue with a simple standalone code to reproduce the error? Thanks!

[2020-06-11 22:45] srjoglekar246 commented on #39870
This is intended behavior. Some models, like the SSD one mentioned in the description, have ops that 'decide' the output tensor dimensions when they go through the `Prepare` phase (this is the phase where op kernels will typically initialize any temporary tensors they need, or programmatically determine their output tensor sizes based on params etc).

If a model doesn't contain any such ops, the o

[2020-06-11 22:45] #39870 closed

[2020-06-11 22:59] caldudleya commented on #27008
same problem

[2020-06-11 23:24] srjoglekar246 commented on #40154
The output differences between TF2.2 & nightly seem too tiny to show any change in behavior between the two (~1e-7). So we can assume that nothing has been broken since TF2.2

About the MUL op:
1. The MUL op provided by @ShiyongL has an input tensor being multiplied by a scalar value `0.007812`. The avg diff w/ CPU does rise as the input sampling range is increased from {-1, 1} to {-100, 100} or {

[2020-06-11 23:26] jsimsa commented on #38483
My changes were submitted as https://github.com/tensorflow/tensorflow/commit/4d58a67a9f19ab8d0cfbb2d8e461ebb73ce06db6

[2020-06-11 23:26] #38483 closed

[2020-06-11 23:32] huonw commented on #36962
I still see this with TF 2.2.0 (GIT_VERSION: v2.2.0-rc4-8-g2b96f3662b). Even if this didn't work as is (via a default name in `add_weight`, or whatever), a slightly more specific error message would've cut the time it took me to work out the cause dramatically.

[2020-06-11 23:37] jdduke commented on #40318
Can you confirm what sizes you're using for N1, N2 and N_OUT? And whether you did an explicit resize? It would be helpful to have some reference input values as well, if possible. Also, can you confirm that the entire output was zero? Thanks again.

[2020-06-11 23:53] bjourne commented on #40339
Thanks for your response. Two things I don't understand. Why isn't the training accuracy calculated in the same way? Shouldn't it also suffer from the same kind of scaling issues? And when I write it the way you suggest, I get losses in the range 400 to 600. So I think there must be a bug there? Does it matter that my model does not use logits?

[2020-06-12 00:09] #39867 closed

[2020-06-12 00:21] jdduke commented on #40318
I created a local test feeding random/fixed float values to the inputs, and I get identical (non-zeroed) outputs using the C and C++ APIs for that model. I wouldn't think that this is 2.2-specific, but you might try also building from head to see if that resolves the issue?

[2020-06-12 00:22] vonadz commented on #40385
@amahendrakar thanks for replying.
Using `pip install tensorflow` for the virtual env makes the code run. But when installing the tensorflow package I built from source, it fails with the same error presented in the issue. I built it with all defaults, for CUDA support, following this guide: https://www.tensorflow.org/install/source, using r2.2.

[2020-06-12 00:38] kaixih commented on #39985
@Svdvoort Just recompiling the TF with cuDNN v8 might not be enough. The TF actually convert all NDHWC to NCDHW before call the cuDNN. So, we also need to remove that logic. We are working on this now.

[2020-06-12 01:13] jvishnuvardhan commented on #40360
@BV-SS Can you please provide a standalone code to reproduce the issue? You coule use colab or Jupyter notebook. Thanks!

[2020-06-12 01:28] duncanriach commented on #38185
Work-around info: use non-fused softmax and cross-entropy. For example, select the activation on the final `Dense` keras layer to be `softmax` and then select `tf.keras.losses.categorical_crossentropy` for the loss function.

[2020-06-12 01:29] ShiyongL commented on #40154
I agree with @srjoglekar246 that MUL is not the only issue. Since it is the first operation, it is easier to trim out the rest and focusing on this particular operation. Like @srjoglekar246 said, multiplication should be a straightforward operation, the difference should not be that big between CPU and GPU. It is super interesting to see the reason.

Re 1: -127, 127 was the expected input. Multipl

[2020-06-12 01:38] WhiteAzzan commented on #38608
I found the reason because I quantified the model after pruning, the model itself was small, and the effect of reduction and acceleration was not obvious.

[2020-06-12 01:38] #38608 closed

[2020-06-12 01:42] talhaanwarch commented on #37501
@gowthamkpr  i am getting this error on TPU only

[2020-06-12 01:44] zhuzilin commented on #39992
@jsimsa Great! Thank you for your advice and I'll start working on that.

[2020-06-12 01:51] only-yao commented on #37332
Have you solved the problem? I have the same problem
`safeContext.cpp (105) - Cudnn Error in initializeCommonContext: 4 (Could not initialize cudnn, please check cudnn installation.)
`

[2020-06-12 02:08] xlnwel opened #40397 "Mixed precision does not improve the speed"
I'm using TF 2.2 to write reinforcement learning algorithms. Because I use a relatively large model, I try to apply mixed precision to improve the training speed. My network consists of three ResNet blocks of depth `[16, 32, 32]`(features are downsampled using maxpooling layer with stride 2 before each block) following by 2 dense layers of size 512, and the input data is of shape `[512, 64, 64, 3]

[2020-06-12 02:09] #39748 closed

[2020-06-12 02:09] tastelessjolt commented on #38036
Does `TransposeConv` output a dynamic shape? Also in Netron, as far as I can see (The model is quite big) all the shapes are defined. Also, all the outputs of the model have outputs defined.

[2020-06-12 02:34] amitmate commented on #39396
Thanks Terry, I am looking at the Coral Edge TPU specs - https://static6.arrow.com/aropdfconversion/bfaa407713d5f91af2008bfe17f2d2cb97118f7d/usb_accelerator.pdf

It says -

"Caution: If you enable the maximum operating frequency, the USB Accelerator becomes very hot to
the touch during operation and might cause burn injuries. Either keep the device out of reach when
using with the maximum frequenc

[2020-06-12 02:44] yyoon commented on #40026
Since this issue is confirmed to be fixed by multiple people, let me close it now. Feel free to reopen if it doesn't work.

[2020-06-12 02:44] #40026 closed

[2020-06-12 02:57] simon-moloco commented on #33950
Have you solved this issue? It happened to me when I use AI platform's distributed training service.

My error is very similar with what @gadagashwini reported.  It complains about `bundle_tower/dense/bias/rt_0/ExponentialMovingAverage` is not found in the checkpoint.

When I print out variables from checkpoint, you can see `part_0` is partially stripped to `rt_0`.
[code]
This happens for all part

[2020-06-12 03:05] jxfruit commented on #40176
@amahendrakar thanks a lot for your reply. I update TF v1.13 to TF v1.15, but I still get the same error, which is different from yours. I am so confused. By the way, our cpu is kunpeng 920 based on aarch64. I am not sure whether our chip is something wrong or not. And I cannot open your website,  may you provide a file with it. tks again!

[2020-06-12 03:13] simplestory opened #40398 "miss the ruy/prepare_packed_matrices.h"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux raspberrypi os (May 2020)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow installed from (source or binary): trying to build
- TensorFlow version: 2.2.0
- Python version: 2.7.0
- Installed using virtualenv? pip? conda?: no
- Bazel version (if compi

[2020-06-12 03:34] khanhlvg commented on #39925
@xunkai55 Can you clarify why the TF Lite image classification seems to normalize image input to [-1, 1] instead of [0, 1]?
https://github.com/tensorflow/examples/blob/master/lite/codelabs/flower_classification/android/finish/app/src/main/java/org/tensorflow/lite/examples/classification/tflite/Classifier.java#L292

[2020-06-12 04:15] #40381 closed

[2020-06-12 04:16] #40315 closed

[2020-06-12 04:16] JCruk opened #40400 "Build failure with master: logging_op_resolver"
I am attempting to build the current development master and the built fails with fatal errors

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): github master
- Python version: 3.8
- Bazel version (if compiling from source): 3.1.0
- GCC/Compiler version (if compiling from source): gpp-8
- CUDA/cuDNN versio

[2020-06-12 04:17] ckolluru commented on #34977
I have a very similar issue. I've tried changing the code to be get_output_at(1) instead of output, but it results in the following error message.
`
ValueError: Asked to get output at node 1, but the layer has only 1 inbound nodes.
`

Here is my code:

`
base_model = sm.Unet('vgg16', encoder_weights='imagenet', classes=1, activation='sigmoid')

inp = Input(shape=(448, 224, 1))
l1 = Conv2D(3, (1,1)

[2020-06-12 04:21] ravikyram commented on #40391
I have tried in colab with TF version 2.2, nightly version(`2.3.0-dev20200611`) and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/241892acf963a7ca7d2a195eb92662ff/untitled10.ipynb).Thanks!

[2020-06-12 04:22] amahendrakar commented on #40176
@jxfruit,
Value of the variable `n_chunk` was 0, hence I was facing the `ZeroDivisionError`.

On replacng the line
`print('epoch:', epoch, ' Loss: ', all_loss * 1.0 / n_chunk)` with
`print('epoch:', epoch, ' Loss: ', all_loss * 1.0 / 1)`, I was able to run the code without any issues.

Please take a look at the Python notebook attached below.
[40176.zip](https://github.com/tensorflow/tensorflow/fi

[2020-06-12 04:26] getsanjeevdubey commented on #39925
@khanhlvg Thanks for the response. I will look into TF Lite Model Maker.
Just to make my point clear, the issue is with: not having **same** preprocessing for both pipelines.
Had the original model was trained on [-1, 1] it would have been correct.

[2020-06-12 04:31] lilly-chen commented on #38589
Hi,
Thanks for the step by step!

here is the is_dense_tensor_like in my lib/python3.7/site-packages/tensorflow/python/framework/ops.py (i reinstalled my keras in a new environment)
[code]
then i go to my  /anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py
here is the original version
[code]
i tried to change to
[code]
but i am getting a new error when i try to import keras

[2020-06-12 04:32] ravikyram commented on #40395
@ryanmaxwell96

Request you to fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).Also, let us know Tensorflow version you are using.

Request you to share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-06-12 04:43] Saduf2019 commented on #40005
@IvanGas
Please confirm if we may move this to closed status.

[2020-06-12 05:18] jforjay1 opened #40401 "Importing TensorFlow package in PyCharm"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.2.0
- Python version: 3.8
- Installed using virtualenv? pip? conda?: pip
- CUDA/cuDNN version: 11.0
- GPU model and memory: NVIDIA Geforce GTX 1050

**Describe the problem**

I installed tensorflow using `pip install tensorflow

[2020-06-12 06:01] agramesh1 commented on #40208
@penpornk and @pavnky Thanks for reporting the issue, sorry for the delay. I will have someone look at and get back to you ASAP.

[2020-06-12 06:06] leehanchung commented on #40401
Conda has poor compatibility with PyCharm. If you have `conda` installed in your system, you would have to start PyCharm manually from an activate conda environment, e.g. `base`.

There are two ways to solve this:
1. Select `conda` when you create an virtual environment in PyCharm.
2. Launch PyCharm from your command prompt/powershell *after* you activate an conda enviroment (`base` is fine).  And

[2020-06-12 06:08] visonpon commented on #35987
Hi guys, I also encounter the same problem: convert pb to lite model succeeded, but when inference with the interpreter.invoke(), I got segmentation fault(core dumped)' '. Does anyone have some solutions? thanks~

[2020-06-12 06:10] ravikyram commented on #40400
@JCruk

Can you try with this [tested build configuration](https://www.tensorflow.org/install/source#gpu) and see if the problem if the issue still persists.Thanks!

[2020-06-12 06:16] jforjay1 commented on #40401
@leehanchung  Is there anything to do with environmental variables? I have added all envs while installation.

[2020-06-12 06:18] csxeba opened #40402 "Usage and signature of Model.train_step() is unclear"
## URL(s) with the issue:

[Colab link](https://colab.research.google.com/drive/1A6gugIKUl3GCsGFlvmghFHQy5CAOd0RC?usp=sharing)

## Description of issue (what needs changing):

There seems to be some kind of restriction on the signature of Model.train_step(), which is undocumented.

### Clear description

The issue comes up in TF 2.2.0, where the possibility to overwrite Model.train_step() was intr

[2020-06-12 06:29] leehanchung commented on #40401
@jforjay1 It's a known issue for PyCharm on Windows. PyCharm creates the venv using conda environment (conda is the bully). But when PyCharm activates the venv it doesnt activate conda first, thus the issue.

So the workaround, at least for me, is to launch PyCharm within an activated conda environment from command line.

Try my workaround and see if that works for you.

[2020-06-12 06:36] #39049 closed

[2020-06-12 06:45] BV-SS commented on #40360
@jvishnuvardhan running in virtual environment helped. thanks.

[2020-06-12 06:49] sanjoy commented on #39712
Does this reproduce on tensorflow-nightly?

[2020-06-12 06:50] leehanchung opened #40403 "GPU-accelerated LSTMs/GRUs crash randomly with: [ InternalError: [_Derived_] Failed to call ThenRnnBackward with model config ]"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-06-12 06:50] NMazzatenta commented on #38589
@lilly-chen my mistake. I updated my last comment, now it should work.

[2020-06-12 07:04] ArtanBerisha1 commented on #40144
@terryheo thanks for the response
These 2 lines are showing:
2020-06-12 08:55:33.250 I/tflite: Created TensorFlow Lite delegate for GPU.
2020-06-12 08:55:33.259 I/tflite: Initialized TensorFlow Lite runtime.

Can you try to remove options.setNumThreads(4) and then see if the time is the same with and without GpuDelegate ?
Because when I try without setNumThreads(4), I have the same result with Gpu

[2020-06-12 07:09] #39955 closed

[2020-06-12 07:11] terryheo commented on #40144
With GPU delegate, the thread number doesn't affect the performance.
So since you can't see the improvement, I guess you're using GPU delegate correctly.
(In my devices, 4 threads CPU performs similar to GPU)
BTW, I'm curious why you don't see "Initialized OpenGL-based API." or "Initialized OpenCL-based API."
Could you check if you're using 'org.tensorflow:tensorflow-lite-gpu:2.2.0' ?

[2020-06-12 07:31] jforjay1 commented on #40401
@leehanchung  I did it. Thanks mate.
There was another environment as `myenv` already I added that environment and interpreter located inside it.

[2020-06-12 07:46] andreydung commented on #40318
Thanks @jdduke let me retry the code.

[2020-06-12 08:01] ravikyram commented on #40403
@leehanchung

I tried in colab with TF version 2.2 and i am not seeing any issue.Please, find the gist [here.](https://colab.research.google.com/gist/ravikyram/98b63c4661740fa71e893cf5157c79d6/untitled12.ipynb).Thanks!

[2020-06-12 08:04] leehanchung commented on #40403
Hi @ravikyram,

Yes the code runs on Colab.  But issue is specific to Windows 10 w/ GPU.

[2020-06-12 08:05] mieszkokl commented on #40183
I've checked the same model conversion but using much smaller MobileNetV2 classification model from ```tf.keras.applications```. I can still observe increased processing time when running tflite model on x86 cpu(700ms using tflite vs 30ms using keras model), but as you said it's normal since it's optimized for ARM. After deploying to Coral Dev Board single frame processing time is ~7ms which is ev

[2020-06-12 08:07] kevinyamauchi commented on #21526
Was quantized div added? I received the error below when trying to convert my model (tf-nightly 2.3.0.dev20200610)

[code]

[2020-06-12 08:09] #39963 closed

[2020-06-12 08:13] lyw615 commented on #24828
I solved the problem by uninstall tensorflow-gpu  from conda and pip environment .  And use conda to install tensorflow-gpu and install its dependencies. Due to my cuda version is 10,  the conda environment is for cuda 9.2. I upgrade tf version from 1.12 to 1.13. Finally i find the cudatoolkit  is still cuda 9.2, but  cudnn are upgrade from 7.2.1 to 7.6.5  in conda environment.

[2020-06-12 08:14] lyw615 commented on #24828
I solved the problem by **uninstall tensorflow-gpu**  from conda and pip environment .  And use **conda to install tensorflow-gpu and install its dependencies**. Due to my cuda version is 10,  the conda environment is for cuda 9.2. I **upgrade** tf version from 1.12 to 1.13. Finally i find the cudatoolkit  is still cuda 9.2, but  **cudnn** are upgrade from **7.2.1 to 7.6.5**  in conda environment.

[2020-06-12 08:19] #40398 closed

[2020-06-12 08:38] fperezgamonal commented on #40382
Hello,

I've just verified that it works as expected with my code, producing different quality images each run given a maximum and minimum values.

Just to summarise, the weird results **were caused by passing a `float32` image outside the usual `float32` range of (0.0, 1.0),** in (0.0, 255.0). As a consequence, `tf.image.convert_image_dtype`  yield an image with wrong RGB values.

I solved this b

[2020-06-12 08:38] #40382 closed

[2020-06-12 08:41] 20tamil20 commented on #38064
I have also same error arise , even increase the training dataset its not solved. Again i got the same error. kindly share me the solution if anyone knows about this.
Thank you

[2020-06-12 09:09] #39973 closed

[2020-06-12 09:09] #39977 closed

[2020-06-12 09:11] Hacky-DH commented on #39753
@guptapriya here is full code that I modified
[code]

you can start with cmds:
[code]

I tried to run without graph context, it works, but a warning message occurs
[code]
How to fix this?

BTW, what are differences between with graph and without graph context using distribute strategy e.g. MultiWorkerMirroredStrategy or MirroredStrategy?

Thanks

[2020-06-12 09:33] #38372 closed

[2020-06-12 09:42] wangxiang2713 commented on #23898
Update, i find the codes add node named 'cudnn_lstm/opaque_kernel_saveable' to graph.collection['saveable_objects'] in /usr/lib64/python2.7/site-packages/tensorflow_core/contrib/cudnn_rnn/python/layers/cudnn_rnn.py L372-L373(Tensorflow 1.15):
[code]

So i delete them to slove this problem.

[2020-06-12 10:05] csxeba commented on #40402
Update: I solved it by issuing the following modifications:

1) The data needs to be wrapped in a one-element tuple, eg. `yield ((tensor1, tensor2, ...),)`. This structure needs to be unpacked in the body of the train_step() function.

2) Added a line which builds the forward function. The line can either be a .predict() or a .build() call with the correct arguments.

It would be beneficial to som

[2020-06-12 10:06] ArtanBerisha1 commented on #40144
@terryheo I had the gpu:2.0.0 version and upgrade to gpu:2.2.0, and I worked the speed of the model is around 110-100ms, but I have a question about the thread number:
You said that the thread number doesn't affect the performance but when I try just GpuDelegate without the number of threads then the speed increase around 150ms and its not to stable like it is when I set the number of threads, so

[2020-06-12 10:08] smr97 opened #40404 "Restore multiple (different) variables from the same checkpoint tensor."
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.15
- Are you willing to contribute it (Yes/No): Yes

**D

[2020-06-12 10:08] cvas-544 commented on #38589
Hello @lilly-chen,

I'm still facing the issue. Unfortunately i cannot find the  `core_tf_types.Tensor` variable in the file
 "C:\ProgramData\Anaconda3\Lib\site-packages\tensorflow_core\python\framework\ops.py".

![Capture](https://user-images.githubusercontent.com/54102782/84491814-6c9c8600-aca5-11ea-936c-c242415dbf1d.PNG)

Currently I'm using keras 2.3.1.

Can you please help me ?

Thanks in adv

[2020-06-12 10:09] amahendrakar commented on #40394
@ryanmaxwell96,
Looks like this is a duplicate of [#40395](https://github.com/tensorflow/tensorflow/issues/40395). Could you please close this issue since it is already being tracked there. Thanks!

[2020-06-12 10:11] NeoZhangJianyu commented on #40208
@penpornk  @pavanky @agramesh1 I will check this issue as soon.

[2020-06-12 10:14] terryheo commented on #34230
https://github.com/tensorflow/examples/commit/f61466134db544776a1819cbe7af8673c7626216 is merged.

https://github.com/tensorflow/examples/commit/a50d45351c16c990a62beb65cf99fa066eb5cbd9 resolves the scaling issue.
There is still a room to improve with the quantization but we don't have a concrete plan yet. Let's close this.