[2016-11-14 11:55] chrisrn commented on #5519
I feed the images with size 299x299x3 and values in range [-1, 1] like the image_processing script. Am I right? I need to confirm that I don't feed them wrong in order to proceed in next steps of training.

[2016-11-14 12:00] sudongqi opened #5597 "Seq2seq buckets option confusion"
The model_with_buckets function will **raise error when length of encoder_inputsut, targets, or weights is smaller than the largest (last) bucket ??** why? Shouldn't the opposite be true?

[2016-11-14 12:33] hholst80 commented on #2306
@albertotonda I have not maintained that version or looked at it since this. I can try and get some time to return to this later, but time and talent is as always a limiting factor. I think that any solution used for this should rely on the official Cuda repository provided by NVIDIA:

[code]

[2016-11-14 12:50] albertotonda commented on #2306
Dear Henrik,

actually, I managed to solve the issue and/or it was addressed in one of
the later releases (I cannot remember, exactly); point is, it's now working.

Thanks anyway and best regards.

On Mon, Nov 14, 2016 at 1:33 PM, Henrik Holst <notifications@github.com>
wrote:

--
Alberto Tonda

[2016-11-14 14:48] sudongqi commented on #5597
Ok, so model_with_buckets will **truncate the sequence by the size of the bucket**. That make sense now.

[2016-11-14 14:48] #5597 closed

[2016-11-14 14:50] SunAriesCN commented on #22
My mac is OpenCL compatible, so how can I run my tensorflow with openCL? I just found that opencl had been supported in tensorflow, when I configure the new codes.

[2016-11-14 14:59] hughperkins commented on #22
Probably depends what GPU you have.  Can you run `clinfo`, and paste the output into https://gist.github.com ?

[2016-11-14 15:00] fventer opened #5598 "tf.contrib.learn estimators that use feature columns via the input_fun not compatible with x inputs when predicting and not exportable to serving"
I have run into into performance and portability issues with tf.conrtib.learn estimators that use high level feature columns and have done extensive code traversal to figure out a possible solution to make predictions faster.

At the core of the problem is that high level feature column tensors created in the input_fn are transformed and added as input tensors to the actual neural network and/or l

[2016-11-14 15:21] leslietso commented on #5585
Weirdly enough I am still getting the error. I am currently trying to find other areas where the "Reshape" op could be defined and see if I can change it there.

[2016-11-14 15:27] Dagalaki commented on #4840
Hi!

@shaolinkhoa Thanks for your code, it helped me as well.

Still, @jart I would like to understand how to fix it according to the Stackoverflow answer using the tf.image.decode_png

I changed the code on lines 615, 616 of add_input_distortions definition, so as to apply decode_png
Then according to Stackoverfow I have to edit the import_graph_definition to apply the input_map

The code to chan

[2016-11-14 15:31] SunAriesCN commented on #22
@hughperkins there is no `clinfo` instruction in my mac, what can I do for it? But I can compile the test code [here](http://stackoverflow.com/questions/7892955/how-can-i-test-for-opencl-compability) for opencl with clang and result the following info:
`clang -framework OpenCL dumpcl.c -o dumpcl && ./dumpcl
Device Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz supports OpenCL 1.2
Device Intel(R) Iris(TM

[2016-11-14 15:33] mrry commented on #5439
@firewu I suspect the `tf.constant()` is causing an error in this case. This tensor should be created before you define the supervisor.

[2016-11-14 15:40] ebrevdo commented on #5437
Do you read multiple times from the same index?

On Nov 13, 2016 6:23 PM, "s4sarath" <notifications@github.com> wrote:

- Without passing tensor array name as arguments also , I am getting the
same error . Tensor array name was more of a debugging mode for me , to
understand which Tensor array is causing the error . AlreadyExistsError:
Resource _tensor_arrays/while/TensorArray_6/N10tensorflow11Ten

[2016-11-14 15:51] hughperkins commented on #22
So, interestingly, I just found out for the first time that SYCL 1.2 runs over OpenCL 1.2.  https://www.khronos.org/sycl  Which is new information to me.  I always assumed it must have OpenCL 2.0, in order to handle address spaces.

Having said that, as far as I know ( @keryell  , correct me if I say something wrong here?), there is one (1) working SYCL runtime currently, which is the one from Cod

[2016-11-14 15:52] vasantivmahajan commented on #5554
@willdzeng: On uninstalling cuda and reinstalling it and running the command `sudo apt-get update`, the update does not finish successfully. Please find the screenshot of the error attached.
![image](https://cloud.githubusercontent.com/assets/17990840/20271301/59cd8da6-aa58-11e6-8de5-eddedee5b0d6.png)
![image](https://cloud.githubusercontent.com/assets/17990840/20271319/654902fa-aa58-11e6-9c59-a10

[2016-11-14 16:05] #5545 closed

[2016-11-14 16:09] jowagner commented on #4693
FYI: (1) The last post on https://discussions.udacity.com/t/assignment-1-code-cell-2-error/197910 now  points to @yaroslavvb 's personal server. (2) notMNIST_large.tar.gz on books1000 is now about 30 MB smaller than the original. Did you remove broken images?

[2016-11-14 16:22] girving commented on #5598
@martinwicke I don't quite understand this one.  Does it make sense to you?

[2016-11-14 16:24] girving commented on #5596
@supertim Can you provide instructions to reproduce?

[2016-11-14 16:24] girving commented on #5596
@mrry Anything obvious here?

[2016-11-14 16:28] SunAriesCN commented on #22
Thank you @hughperkins, but I think I had tried the computecpp yestoday, and it's seem that the macbook system is still not supported with computecpp. So, maybe keep waiting for new updates is the only thing I can do (T.T).  BTW, my Iris 6100 is eight generation, which is good for OpenCL 1.2.

[2016-11-14 16:29] girving commented on #5595
Thank you for asking the question on stackoverflow, which is a better place for it.  The optimizer state will be saved by default, and is only not saved because you are specifically telling the saver what to save.

[2016-11-14 16:29] #5595 closed

[2016-11-14 16:31] girving commented on #5594
@gpapan Does this look right to you?

[2016-11-14 16:36] girving commented on #5589
The `Saver` class has options that control deleting previous checkpoints.  Please see the documentation for details: https://www.tensorflow.org/versions/r0.11/api_docs/python/state_ops.html#Saver

[2016-11-14 16:36] #5589 closed

[2016-11-14 16:38] girving commented on #5588
@ebrevdo My understanding is that sequence lengths should be required, since it doesn't make sense to do dynamic rnn fanciness otherwise.  However, that language does seem to imply it's optional.  Thoughts?

[2016-11-14 16:38] mrry commented on #5596
Possibly... gRPC requires that you enqueue a pending request object on the completion queue for each method that you want to handle. The `ENQUEUE_REQUEST` macros in `HandleRPCsLoop()` configure the initial pending request objects; and subsequent objects are enqueued under (some calls to) `callback_tag->OnCompleted()`, but only when `ok` is true.

However... it's not clear whether receiving `!ok` f

[2016-11-14 16:39] girving commented on #5587
@petewarden What do folks do if we haven't listed their favorite op in the mobile whitelist?

[2016-11-14 16:40] girving commented on #5586
The `LSTMStateTuple` is a tuple containing `c` and `h` fields.  Is it not a tensor, and cannot be used as one.

[2016-11-14 16:40] #5586 closed

[2016-11-14 16:43] girving commented on #5584
Please use StackOverflow for requests for advice.  Github issues are for bug reports and feature requests.

[2016-11-14 16:43] #5584 closed

[2016-11-14 16:44] girving commented on #5583
If you have to unlock folders, you are presumably putting files in the wrong place.  How are you running loader?

[2016-11-14 16:47] girving commented on #5580
@martinwicke Is this a regression?

[2016-11-14 16:48] girving commented on #5578
@martinwicke Possibly 0.11 build issue.

[2016-11-14 16:49] girving commented on #5577
TensorFlow GPU reductions are nondeterministic, so this is (for better or worse) expected behavior.  This is because the GPU reductions use asynchronous atomic adds.

[2016-11-14 16:49] #5577 closed

[2016-11-14 16:50] girving commented on #5559
@emreyamangilsc Can you provide the information Chad requested?

[2016-11-14 16:52] girving commented on #5552
@dgoerger What is the error message you see with the current version?

[2016-11-14 16:53] #5544 closed

[2016-11-14 16:53] girving commented on #5540
Questions like this are better asked on StackOverflow.  Github issues are for bug reports and feature requests.

[2016-11-14 16:53] #5540 closed

[2016-11-14 16:54] ebrevdo commented on #5588
You don't need sequence_lengths to do dynamic RNN; the fact that your time dimension is one of the axes of the inputs, and can vary from step to step, is what makes it dynamic.  Providing sequence_lengths is necessary for correctness though: if you pass these in, your final state value will be the true final state at the end of the sequence.  Otherwise it'll just keep calculating to the end of you

[2016-11-14 16:55] girving commented on #5591
@zsxgb What platform are you on?  Have you checked `LD_LIBRARY_PATH` or the equivalent?  What is the right path so the cudnn.so file?

[2016-11-14 16:59] drpngx commented on #5554
So, did you manage to get any version of `libcupti` on your system? If so, just symlink it as instructed above.

[2016-11-14 17:00] petewarden commented on #5587
We need to document this properly, but if you're using bazel, find the right .cc file and add it to android_extended_ops_group1 or 2 in tensorflow/core/kernels/BUILD, and add it to tensorflow/contrib/makefile/tf_op_files.txt too for the makefile build.

[2016-11-14 17:01] petewarden commented on #5587
Oh, and to find the right .cc file, look for REGISTER_KERNEL("TruncatedNormal", ...) in the source code.

[2016-11-14 17:03] vasantivmahajan commented on #5554
I started the entire installation process again and followed the instructions given by @willdzeng. However on performing `sudo apt-get update`, I am facing the problem mentioned above. Because of which I am unable to install CUDA and cuDNN. Can you guide me with it?

[2016-11-14 17:11] girving commented on #5587
@petewarden Should I leave this bug open to track the documentation part?

[2016-11-14 17:12] girving commented on #5592
@benoitsteiner Would additional information be helpful?

[2016-11-14 17:19] girving commented on #5585
@leslietso To clarify: you're still getting the error after building from master?  That seems unlikely, since a recent build would definitely understand `Tshape`.

[2016-11-14 17:25] girving commented on #5538
@alephman This looks like a bug in pip, not tensorflow

@martinwicke Do you know any workarounds?  Is this something we can fix on our end?

[2016-11-14 17:25] girving commented on #5537
Duplicate of https://github.com/tensorflow/tensorflow/issues/566.

[2016-11-14 17:25] #5537 closed

[2016-11-14 17:29] leslietso commented on #5585
Yes. However, I do not believe it is the problem with master. I am currently trying to figure out what is going wrong when I am rebuilding Tensorflow in Android. It could be that somehow Android is still using the old build despite the existence of a newer build. I will update once I figure out what went wrong.

[2016-11-14 17:29] girving commented on #5519
Questions like this do belong on Stackoverflow, since this isn't a bug report or feature request.

[2016-11-14 17:29] #5519 closed

[2016-11-14 17:30] martinwicke commented on #380
@mrry -- what's the latest?

[2016-11-14 17:32] techjogger opened #5600 "Problems Installing on Windows 10"
I am having trouble building tensorflow on Windows. Here is a detailed list of all the steps I took to get it to build.

Any help is much appreciated.

Step-by-step Windows build

1. Install the pre-requisites detailed above, and set up your environment.
o   CMake version 3.1 or later,
  When installing  cmake-3.7.0-rc2-win64-x64.msi , I added CMake to the System Path for all users, in file locat

[2016-11-14 17:33] yaroslavvb commented on #4693
I haven't touched the version on my server

On Mon, Nov 14, 2016 at 8:09 AM, Joachim Wagner <notifications@github.com>
wrote:

[2016-11-14 17:38] girving commented on #5492
@sjperkins I don't quite follow.  What is going wrong?

[2016-11-14 17:42] girving commented on #5465
@drpngx What's the status of this bug?

[2016-11-14 17:43] martinwicke commented on #5483
Your fix is correct -- can you send a PR? The PR you referenced never signed a CLA and unfortunately we cannot accept the change.

[2016-11-14 17:43] girving commented on #5462
@mrry Can you comment?

[2016-11-14 17:46] concretevitamin commented on #5527
@zergylord @ppwwyyxx I cannot reproduce either of these snippets myself.  In the first snippet, both Numpy and TF return 1.0.  In the second, the error seems to be of the magnitude in O(100), not as drastic as reported.

Could you give some indications on how you built your program and other environment/compiler info?

[2016-11-14 17:46] benoitsteiner commented on #5592
@AlvinChen13 Did you compile TensorFlow yourself ? If so, which architecture did you target ?

[2016-11-14 17:49] girving commented on #5539
@sherrym Is a near term doc update likely?

[2016-11-14 17:49] mrry commented on #5462
My guess is this should be "contributions welcome", although we should check with @caisq, who created the test in the first place.

[2016-11-14 17:50] girving commented on #5515
@hholst80 Please include the full error message when you file issues.

[2016-11-14 17:51] girving commented on #5512
@lukaszkaiser Is this expected behavior?

[2016-11-14 18:00] petewarden commented on #5587
@girving Yes, that does make sense.

[2016-11-14 18:01] lukaszkaiser commented on #5512
This is expected but not nice. Names of ops do not carry semantics (meaning that they can be freely permuted and the graph will execute exactly in the same way), while names of variables do. I agree that the above is a bit inconvenient, but not a bug. Still, we might consider improving this.

[2016-11-14 18:03] vincentvanhoucke commented on #4693
Nothing has changed in a while, I certainly haven't touched the dataset since Yaroslav put it up.

[2016-11-14 18:05] girving commented on #5512
Let's close for now.

[2016-11-14 18:05] #5512 closed

[2016-11-14 18:13] girving commented on #5435
@skydoorkai Please include complete code.  Your description so far is unlikely to be true, since a single call to run never runs ops multiple times.

[2016-11-14 18:14] girving commented on #5430
Use `tf.shape`.

[2016-11-14 18:14] #5430 closed

[2016-11-14 18:14] civilmanxx commented on #5480
I set export CUDA_VISIBLE_DEVICES="1", but it uses gpu:2 instead. The index is 0,1,2,3.

[2016-11-14 18:15] gunan commented on #5569
This is happening during testing of PRs #5560 and #5565
I think one of the changes we made internally is causing an issue with the build.
Here are some build logs, the latter has slightly more information:

https://ci.tensorflow.org/job/tensorflow-pull-requests-cpu-python3/2171/consoleFull
https://ci.tensorflow.org/job/tensorflow-pull-requests-cpu-python3/2172/consoleFull

[2016-11-14 18:16] shirriff opened #5601 "wide_n_deep_tutorial.py fails with model_type=deep: Shapes (32561, 1) and (32561,) are incompatible"
The [wide_n_deep tutorial](https://www.tensorflow.org/versions/r0.11/tutorials/wide_and_deep/index.html) fails when run with --model_type=deep
It immediately fails with the error:
Shapes (32561, 1) and (32561,) are incompatible

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
This may be due to #4715
https://github.com/tensorflow/tensor

[2016-11-14 18:16] girving commented on #5407
To fix this, we'll need to replace the 1 with `True` if the input is a bool.  Contributions welcome!

[2016-11-14 18:18] damienmg commented on #5569
Can this be bisected? There is a lot of changes in that PR...

On Mon, Nov 14, 2016 at 7:16 PM gunan <notifications@github.com> wrote:

[2016-11-14 18:20] girving commented on #5344
The original comment includes `No module named tensorflwo`.  This is not surprising, since it's called tensorflow, not tensorflwo.  Was that the problem?

[2016-11-14 18:22] mrry commented on #5600
Judging by the error message, it looks like the space in `C:/Program Files/Anaconda3/libs/python35.lib` is causing the problem, because it's looking for the Python library in `C:/Windows/System32/tensorflow/tensorflow/contrib/cmake/build/Files/Anaconda3/libs/python35.lib`.

(As an aside, I wouldn't generally recommend building software under `C:\Windows`, but that's up to you....)

It might be suf

[2016-11-14 18:23] rmlarsen commented on #4101
Closing due to inactivity.

[2016-11-14 18:23] #4101 closed

[2016-11-14 18:24] girving commented on #5191
@jart Is this fixed now that that CL is in?

[2016-11-14 18:26] girving commented on #5464
@petewarden Can you take a look at this graph feezing issue?

[2016-11-14 18:28] girving commented on #5453
@caisq Can you comment based on the "Confirm safe" TODO?

[2016-11-14 18:30] civilmanxx commented on #5480
after i start the 1st app, which is using gpu:2 (though i set it to 1) and then set device=3 for the 2nd app in another process. The 2nd app use gpu:0 instead.

[2016-11-14 18:31] asimshankar commented on #5480
@civilmanxx : Could you elaborate on what you mean by "it uses gpu:2 instead"? The device names in TensorFlow will correspond to the GPUs accessible to it, while the `CUDA_VISIBLE_DEVICES` environment variable is what the CUDA framework uses to restrict visibility. So, if `CUDA_VISIBLE_DEVICES="1"`, then TensorFlow programs should not be able to see multiple GPUs.

Perhaps you can provide a reprod

[2016-11-14 18:31] martinwicke commented on #5538
It looks like it's somehow trying to build a truly huge zip file. I have never seen this before, but I'm not building debug pip packages -- can you do some sanity checks to see how big it would be?

[2016-11-14 18:32] girving commented on #5396
You probably need to start queue runners.  Please see the documentation at

https://www.tensorflow.org/versions/r0.11/how_tos/threading_and_queues/index.html

[2016-11-14 18:32] #5396 closed

[2016-11-14 18:34] girving commented on #5601
@ispirmustafa Can you take a look?

[2016-11-14 18:37] piotrchmiel commented on #851
Thank you 👍 I will try to repeat your steps :-)

[2016-11-14 18:42] girving commented on #2164
@petewarden @aselle What's the status of this issue?

[2016-11-14 18:49] girving commented on #5511
@jefby Where did you look?  It should be in `bazel-bin` (or one of the similar directories).

[2016-11-14 18:51] asimshankar commented on #5527
@zergylord : To add to what @concretevitamin said - if you're seeing this on GPU a lot, do let us know about the CUDA version and the driver version. Mismatches between them often lead to messed up computations.

[2016-11-14 18:52] girving commented on #5415
@aselle What's with the tag fight?

[2016-11-14 18:53] girving commented on #5408
Closing due to lack of activity.

[2016-11-14 18:53] #5408 closed

[2016-11-14 18:53] girving commented on #5399
Closing due to lack of activity.

[2016-11-14 18:53] #5399 closed

[2016-11-14 18:53] girving commented on #5393
Closing due to lack of activity.

[2016-11-14 18:53] #5393 closed

[2016-11-14 18:54] girving commented on #5392
Closing due to lack of activity.

[2016-11-14 18:54] #5392 closed

[2016-11-14 18:54] flx42 commented on #5480
Maybe @civilmanxx is confused with the output of `nvidia-smi`. Be aware that the device ordering provided by CUDA might be different from the device ordering shown by `nvidia-smi`.
Using `CUDA_VISIBLE_DEVICES=0` might actually give you the **latest** device when checking utilization with `nvidia-smi`.
To get consistent numbering, use `CUDA_​DEVICE_​ORDER=PCI_BUS_ID`, this is documented [here](http

[2016-11-14 18:54] girving commented on #5378
Closing due to lack of activity.

[2016-11-14 18:54] #5378 closed

[2016-11-14 18:57] girving commented on #5286
Closing due to lack of activity.

[2016-11-14 18:57] #5286 closed

[2016-11-14 18:57] civilmanxx commented on #5480
I am using Ubuntu 16.04. If go to "Nvidia X server settings" you can see the list of GPUs. It shows each GPU utilization and used memory. I suppose the CUDA_VISIBLE_DEVICES="index", at here index 0,1,2,3 should be same as the index show in "Nvidia X server settings". is that correct?

[2016-11-14 18:58] civilmanxx commented on #5480
if base on the post from @flx42 , they are different.

[2016-11-14 18:59] elibixby commented on #5462
This is definitely the way to go long term IMO. I'm wondering if it would be worth having a separate repo to store all the third-party (including k8s) tooling around running distributed TF. Useful configs, etc.

[2016-11-14 19:00] girving commented on #5012
@klattimer Closing due to lack of response, but we're happy to reopen if you're still having the problem.

[2016-11-14 19:00] #5012 closed

[2016-11-14 19:02] girving commented on #4863
@petewarden Are you still planning to fix this?  Should I take off awaiting response?

[2016-11-14 19:03] sjperkins commented on #5492
@girving Apologies, I mucked that report up and made it very confusing. I've corrected the minimal reproducible example.

[2016-11-14 19:03] girving commented on #3625
Closing due to lack of response.

[2016-11-14 19:03] #3625 closed

[2016-11-14 19:03] mrry commented on #5462
@elibixby Perhaps https://github.com/tensorflow/ecosystem would be the right place? There's already [some k8s content](https://github.com/tensorflow/ecosystem/tree/master/kubernetes) in that repo.

[2016-11-14 19:04] civilmanxx commented on #5480
@flx42 you mean i need run export cmd twice as below, is that right?

export CUDA_​DEVICE_​ORDER = PCI_BUS_ID
export CUDA_VISIBLE_DEVICES="0"

[2016-11-14 19:04] girving commented on #3377
Closing due to lack of activity.

[2016-11-14 19:04] #3377 closed

[2016-11-14 19:05] girving commented on #2397
Closing due to lack of activity.

[2016-11-14 19:05] #2397 closed

[2016-11-14 19:05] girving commented on #5258
Closing due to lack of activity.

[2016-11-14 19:05] #5258 closed

[2016-11-14 19:05] flx42 commented on #5480
@civilmanxx: correct, but the `CUDA_DEVICE_ORDER` export needs to be done only once. Whereas you export `CUDA_VISIBLE_DEVICES` before each run.

[2016-11-14 19:06] girving commented on #5264
Closing due to lack of activity.

[2016-11-14 19:06] #5264 closed

[2016-11-14 19:06] civilmanxx commented on #5530
yes, the code below works. Thanks!

**session_config = tf.ConfigProto()
session_config.gpu_options.allow_growth = True
session = tf.Session(session_config=session_config)**

[2016-11-14 19:07] #5530 closed

[2016-11-14 19:22] zhangyaobit commented on #4929
Closing this issue now, as digits.py seems to have been deprecated/removed.

[2016-11-14 19:22] #4929 closed

[2016-11-14 19:25] vasantivmahajan commented on #5554
@drpngx: On running `./configure` command the following error is displayed:

![image](https://cloud.githubusercontent.com/assets/17990840/20279305/107d0a32-aa76-11e6-8be3-cfbc1e6ed3ed.png)

And result of command `dpkg -S libcupti` is shown in below image:
![image](https://cloud.githubusercontent.com/assets/17990840/20279343/3c8eb74c-aa76-11e6-96fd-fe1b1a1b9b6e.png)

[2016-11-14 19:25] gunan commented on #5569
Found the culprit, it is a new pkg_tar rule.
Are there corresponding issues for the py3 compatilibility of build_tar on bazel side?
Or would you like to keep this open to track that?

[2016-11-14 19:27] Mazecreator commented on #4714
HI @danmane,

Just checking back in to see if the image above helped you with my thoughts on the "Dashboard" approach.

Regards,
Greg

[2016-11-14 19:28] andrewharp commented on #5553
You may be running into https://github.com/tensorflow/tensorflow/issues/5111. The simple workaround is to not compress the pb in your apk by adding  `nocompress_extensions = [".pb",],` to the android_binary target. Updating the pb loading logic for a real fix is on my TODO list.

If that doesn't fix it, can you paste the adb logcat of a full run?  It could also be that t's either not finding the g

[2016-11-14 19:29] damienmg commented on #5569
I'll follow up on this one.

We need to remove pkg_tar from bazel repository (much like other rules) so
I'll take the action there.

On Mon, Nov 14, 2016 at 8:26 PM gunan <notifications@github.com> wrote:

[2016-11-14 19:50] eaplatanios commented on #5
@jhseu Is the C API interface still on track to be released sometime within November? If not, what's the current status?

[2016-11-14 20:03] hughperkins commented on #22
@SunAriesCN

Ok, the bad and good news:
- bad news is that my own tensorflow opencl fork is not quite very fucntional yet
- the good news is that I have a Tensorflow OpenCL fork, that supports OpenCL 1.2 cards, and should ideally work on Mac
- the second bad news is that the Mac build is a work-in-progress right now :-D

The fork is at https://github.com/hughperkins/tensorflow-cl   Perhaps you can

[2016-11-14 20:06] ppwwyyxx commented on #5527
@concretevitamin Running on GPU my snippet got the error of O(100). But on CPU I have O(1e5).

I'm using the binary at https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.11.0rc2-cp27-none-linux_x86_64.whl. Tested on both i7-5930K and i7-6700HQ. My `numpy.__version__ == '1.11.2'`. Tested on both Archlinux and ubuntu16.04.

[2016-11-14 20:32] dgoerger commented on #5552
Hmm. Further testing suggests this may be more serious than I'd thought. Type inconsistency, not just documentation.

[code]

According to [the docs](https://www.tensorflow.org/versions/master/api_docs/python/client.html#Session.run), input type Tensor outputs via numpy ndarray, which appears not to output type string. Reformatting Session.run(Tensor) when output type is bytes, to new output type

[2016-11-14 20:37] girving commented on #5552
TensorFlow converts `str` to `bytes` in most places, including `sess.run`, and this is unlikely to change.  The user is free to convert back, but unfortunately it's too large a change to add a unicode dtype to the core.  Closing as won't fix for now.

[2016-11-14 20:37] #5552 closed

[2016-11-14 20:39] #5585 closed

[2016-11-14 20:41] girving commented on #5492
@mrry I'm guessing the shape optimizations are the culprit here?

[2016-11-14 20:45] willdzeng commented on #5554
looks like you have serval different version of cuda installed in your system.
Use
`sudo apt-get remove cuda-.`
remove all cuda first and then install the 8.0 from the local deb file.
also looks like you have some linkage broken with the dpkg linkage broken that causing you failing the apt-get update,
you should go to setting/Software&Update/other software to clean your source list, especially rem

[2016-11-14 20:46] mrry commented on #5492
Looks like it. Forwarding the issue to @benoitsteiner, since he added them.

(FWIW, in my opinion it should be an error to change the shape of a variable once it's created with a fully-defined shape... i.e. `tf.Variable(..., validate_shape=True)`. If I remember correctly, the shape-changing ops were grandfathered in and never reconciled with `tf.Variable`.)

[2016-11-14 20:51] willdzeng commented on #5601
Same issue as #4715
Fixed in master branch but not in 0.11.0

[2016-11-14 20:53] #5601 closed

[2016-11-14 20:54] piotrchmiel commented on #851
@elirex Could you also tell which Cuda version you are using ? I tried with Cuda 8.0 and build failed.

[2016-11-14 21:03] willdzeng commented on #5591
I had same problem before, easy way to fix is to install cudnn into local using
[code]

[2016-11-14 21:17] peterkfm commented on #4863
Thanks a lot Pete, that was indeed what was causing the problem. I ended up working around it by defining __ANDROID_TYPES_FULL__ (instead of __ANDROID_TYPES_SLIM__) in the Makefile. After that, to fix other missing ops, I extended tf_op_files.txt to contain practically everything that compiles on iOS, and changed register_types.h to make sure bool ops get defined as well.

Thanks again for your he

[2016-11-14 21:39] andrewharp commented on #5513
Thanks for the suggestion, implemented in 341da02072ee1c1093a5dca6ad45a1488306193d.

Android apps may now either either add tensorflow/contrib/android:libtensorflow_inference.so to their native libs list or continue to just build the src filegroup into another .so (as the demo does). The loadLibrary call in TensorFlowInferenceInterface.java has a bit of smarts in it to automatically figure out if

[2016-11-14 21:39] #5513 closed

[2016-11-14 21:48] jart commented on #4840
@Dagalaki We hope you've been enjoying TensorFlow so far! I wish I could answer your question, but we try to keep this issue tracker limited to bugs and feature requests. We rely on the [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) community to provide support on using TensorFlow. I recommend redirecting your question there.

[2016-11-14 21:57] zheng-xq commented on #5516
@wjaskowski, could you make sure you exclude the first few iterations from the benchmark? This is how convnet-benchmark does it.

https://github.com/soumith/convnet-benchmarks/blob/master/tensorflow/benchmark_alexnet.py#L139

In the first round, TensorFlow does autotuning to find out the best algorithm, so it might have more overhead. Following up rounds should not have them. For convnet benchmark

[2016-11-14 22:08] wjaskowski commented on #5516
@zheng-xq:
* I exclude the first 50 rounds (https://github.com/wjaskowski/tensorflow-vs-theano-benchmark/blob/master/benchmark.py#L74).
* I have checked that NCHW improves the results only slightly (as a margin note, I find it strange that you recommend NCHW while NHWC is the default one).
* I cannot imagine what unnecessary could I possibly fetch in this simple example.

[2016-11-14 22:25] zhangyaobit commented on #5516
Looks like your Timeline is a profiling run that tries multiple conv2d implementations to find the best one, rather than a later run that uses the previously found best implementation.

It might be that somehow the benchmark is not written in a standard way, and as a result it is always running the profiling runs.

As you see, each conv layers actually invoked multiple runs:

![apy0wpg5toh](https:

[2016-11-14 22:29] civilmanxx commented on #5480
i get error when i run **export CUDA_​DEVICE_​ORDER = PCI_BUS_ID**

`CUDA_​DEVICE_​ORDER=PCI_BUS_ID': not a valid identifier

[2016-11-14 22:39] civilmanxx commented on #5480
I am using cuda 8.0

[2016-11-14 22:44] yaroslavvb commented on #5516
@wjaskowski there's a fixed per-run overhead in TensorFlow which is higher than in Theano, and when your session.run only takes 1.6ms, this overhead is significant. One source of overhead is "crossing TensorFlow/Python" boundary which happens in TF that has C++ runtime, but not Theano which has Python runtime. For your TF experiment, every 1.6ms you release GIL, copy data from Python runtime to C+

[2016-11-14 22:54] flx42 commented on #5480
Come on, that's obviously not a CUDA problem if you can't `export` a variable. You just messed up your encoding.

[2016-11-14 22:55] gunan commented on #5522
Ping!
@linrio Could you try the suggestions above?

[2016-11-14 23:11] civilmanxx commented on #5480
but i can run **export** **CUDA_VISIBLE_DEVICES="0"**  with no issue. The cmd **export** **CUDA_​DEVICE_​ORDER=PCI_BUS_ID** is right.

[2016-11-14 23:16] civilmanxx commented on #5480
I am not clear about why copy paste cmd from browser to terminal does not work. type cmd in terminal directly works.

[2016-11-14 23:28] civilmanxx commented on #5480
It turns out, even if i run these 2 export cmds before start my app. the assigned gpu index in export cmd is still different from the true running one. I set gpu:3 but gpu:1 is running...

[2016-11-14 23:47] civilmanxx commented on #5480
and I run another app in the 2nd process and set gpu:3 again, but it uses gpu:0.

[2016-11-14 23:50] vrv commented on #5480
One point of clarification.  "/gpu:0" will always be the first logical GPU available in the process.

So if you set CUDA_VISIBLE_DEVICES=2, your program should still use "/gpu:0", because only one physical GPU is made visible to the process as "logical GPU id 0".

If you set CUDA_VISIBLE_DEVICES=4,2, then "/gpu:0 would be the 4th physical GPU, and "/gpu:1" would be the 2nd physical GPU.

[2016-11-14 23:57] civilmanxx commented on #5480
I do not set /gpu:0 or /gpu:3 in side of the python code at this time. I only use CUDA_VISIBLE_DEVICES="3" to set current process see one GPU only. As I already set CUDA_​DEVICE_​ORDER=PCI_BUS_ID, I expect that current process only see the visible device, which is 3. But in fact it is not.

[2016-11-14 23:58] civilmanxx commented on #5480
in other word, **CUDA_​DEVICE_​ORDER=PCI_BUS_ID** is not effective.

[2016-11-15 00:02] civilmanxx commented on #5480
the code i use is **tensorflow/tensorflow/models/slim/train_image_classifier.py** There is no device assignment code in the file.

[2016-11-15 00:24] zhangyaobit commented on #5516
I run the benchmark and found out your profiling results is fine, which is an actually a regular run, instead of a profiling run, which I thought earlier it is.

This now indeed looks like a TensorFlow internal issue; the CPU overhead seems high for smaller shapes (32x32) and we will investigate that. We will also look at the performance for NCHW format.

[2016-11-15 00:30] martinwicke commented on #5580
It's quite possible that renaming this file to `protobuf-3.0.0-cp3-none-any.whl` will fix this. @yifeif did you make the new files? Maybe we should put those through `audit-wheel`?

[2016-11-15 00:32] aidan-plenert-macdonald commented on #4359
@vrv I got things working and am at a good rebase/pausing point.

Everything works without changing TF beyond installing more header files (simple couple lines in Bazel). Let me know what goals you have on your side. I can write documentation, examples, or just be a resource for other people trying to extend TF to new hardware. A couple pieces of interesting hardware are becoming popular/relevant:

[2016-11-15 00:33] drpngx commented on #5465
User found a resolution.

[2016-11-15 00:33] #5465 closed

[2016-11-15 00:35] drpngx commented on #5554
It looks like this is in `/usr/x86_64-linux-gnu`, so you can symlink it from there.

[2016-11-15 00:39] petteriTeikari commented on #1669
I got the same error with the "Data loss, etc.", but could not readily figure out how this could be fixed @sherrym ?

I mean fine-tuning from `inception_resnet_v2_2016_08_30.ckpt` works using TF-Slim. The evaluation of the fine-tuned model works too, but when I try to do inference using the newly created checkpoint I got the same error (same with `inspect_checkpoint`)

The demo inference from ther

[2016-11-15 00:42] vrv commented on #4359
Awesome, we're really glad to hear that!

There are a couple of audiences that would be interested in general, and you are right that having documentation might go stale right now.  There's also [XLA](https://github.com/tensorflow/tensorflow/blob/47ef3c5eca776a2d10249f987cca406577389db5/tensorflow/g3doc/resources/xla_prerelease.md) which is relevant to some but not all hardware developers.

Mostly

[2016-11-15 00:55] LeavesBreathe opened #5606 "Support for tf.transpose for tensors of rank 12 or higher"
Can support for `tf.transpose` please be added for tensors above rank 11? Can it be extended to tensors of rank size 40 or 50 on the gpu?

I know this seems large, but I'm trying to implement this tensorization paper where this is demanded.

https://arxiv.org/pdf/1611.03214v1.pdf

[2016-11-15 00:57] AlvinChen13 commented on #5592
@benoitsteiner Yes, I compile r0.11 with cuda 8, and my system is x86_64 with Tesla P100. And I just follow the guideline step by step to build TF.

# To build with GPU support:
$ bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package

$ bazel-bin/tensorflow/tools/pip_package/build_pip_package /tmp/tensorflow_pkg

# The name of the .whl file will depend on your platform.

[2016-11-15 01:02] tornadomeet commented on #5537
@girving  i'm so sorry cannot found a solution there.

[2016-11-15 01:17] JohnnyY8 commented on #5344
@girving Hi:
I am sorry for my mistake, but my original code is writed and run correctly. Suddenly got this error.
I want to reinstall tensorflow from source, it did not work, but pip installation works.
@CTTC has the same problem, I do not know what happened exactly?

[2016-11-15 01:45] s4sarath commented on #5437
@ebrevdo Yes , but at different iterations . So the idea is we are having a main while loop , which will run say 5 times . Inside that I calculate a (m =3 x 10) matrix ( 3 here is batch size , but may vary dynamically ) . My aim is , this 3 x 10 has to multiply with a (am= 3 x 10 x 5) matrix in the following way
In numpy way it is
[code]
This process has to happen every time the main while loop is

[2016-11-15 01:46] ethancaballero opened #5608 "How to dynamically select scope of untied variables during tf.while_loop?"
When using python for loop, one simply creates/selects a new untied variable by using the incrementor to change the scope:
[code]

How would one do this with tf.while_loop?

@DeNeutoy

[2016-11-15 02:20] sonalgupta opened #5609 "Add documentation on how to use bucketing functions"
Can someone please add documentation on how to use _tensorflow.contrib.training.bucket_ and _tensorflow.contrib.training.bucket_by_sequence_length_ functions?

NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature req

[2016-11-15 03:09] firewu commented on #5439
@mrry Thanks!That is it!I define the tensor before the supervisor, and it works. @jinhou Maybe the same solution will work. But I have to point that I wrote my code which is  reference to  [inception_export.py ](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/example/inception_export.py)at line 131:model_exporter.export(FLAGS.export_dir, tf.constant(global_step), sess).

[2016-11-15 04:09] supertim commented on #5596
Reproduce:
Just a simple grpc Async Client, send large Request(10M) indefinately.

[2016-11-15 04:45] tartavull commented on #206
Is there any example on how to do gather_nd broadcasting ?

Thank you.

[2016-11-15 04:52] jrajagopal commented on #3115
@davek44 Did you get any further with your exploration? I am very much interested in the identity initialization for just the RNN hidden-hidden weights.

[2016-11-15 04:56] DeNeutoy commented on #5608
@ethancaballero As far as I am aware it is not possible to do this, as the `tf.while_loop` is not actually creating a dynamic graph - it is merely an instruction to repeat part of the graph until a condition is satisfied.

However, presumably there is sum upper bound on the number of layers your want your model to have. What you should then do, is create these variables beforehand in a python for

[2016-11-15 05:10] alephman commented on #5538
yeah, the whole folder in /tmp has more than 5G size.
BTW,  I try to re-compile the tensorflow, but always failed due to downloading dependences errors. Any ways to work around this?

[2016-11-15 05:14] DeNeutoy commented on #5608
Another idea would be to use TensorArrays:

As before:
[code]
counter needs to be a integer scalar tensor which is incremented by one within the while_loop.

[2016-11-15 05:15] drpngx commented on #5562
I don't think it's right to permit square(sqrt) for semi-negative values, except negative zero (as per https://en.wikipedia.org/wiki/Signed_zero, your first example). At zero, this is a boundary value, and your code should probably not rely on any particular behavior for the gradient, since it's undefined.

[2016-11-15 05:30] keryell commented on #22
@hughperkins yes SYCL 1.2 is a priori for OpenCL 1.2 and SYCL 2.2 is a priori for OpenCL 2.2.
I said "a priori" since, if you do not use anything requiring the OpenCL-compatibility mode of SYCL, SYCL does not really require OpenCL at all. Actually SYCL is a very generic model for heterogeneous computing and can run on top of anything. But of course a real implementation may require OpenCL too.

[2016-11-15 05:44] 413029811 opened #5611 "Is there any way to let TensorFlow support Bitcode on iOS?"
I'm trying to use TensorFlow on a iOS App, but my team required Bitcode enabled in the project, so I seek for help here.

[2016-11-15 05:47] mrry commented on #380
Right now our CMake build only supports GPU on Windows, and we're not actively working on adding GPU support for other platforms (but would accept contributions).

[2016-11-15 05:58] bullwinkle2059 opened #5612 "Issue running Tensorflow"
Please forgive me if I use incorrect language - I am very inexperienced utilizing command prompt commands and all similar activities and am trying my best.

I followed the instructions for setting up tensorflow and had it working this afternoon in the command prompt on my Windows machine. This evening I go to start practicing tensorflow and there are issues. When I follow the following directions:

[2016-11-15 05:59] 413029811 commented on #5611
@petewarden

[2016-11-15 07:36] Invisibility commented on #5118
@asimshankar : OK, I will work on this and try to submit a PR by the end of this week.

[2016-11-15 07:58] ethancaballero commented on #5608
@DeNeutoy Thanks for the quick reply.

^Does one of those ideas run faster than the other?

Also, do you have any advice for dealing with asynchronous halting times within a batch. For example, if one member of batch decides to take 20 hops (which finish slower) and the rest of the batch decides to take ≤ 3 hops (which finish quickly), the next batch can't be processed until the longer 20 hop memb

[2016-11-15 08:17] hughperkins commented on #22
@keryell ok, I see. Sycl is a standard of the client facing API, says nothing about the implementation? The only relationship with opencl in the khronos standard is because of opencl compatibility mode? One could implement sycl using an abacus, or paper, or rocm, or cuda, or spir, or whatever? I assume till now that both computecpp and trisycl run over spir v, but I don't know if this is a fair as

[2016-11-15 08:39] Dagalaki commented on #4840
Thanks @jart ! I will ask StackOverflow community

[2016-11-15 08:42] wjaskowski opened #5615 "Fails to configure with "Object of type 'path' has no field "realpath"" (BuildFileContainsErrorsException)"
[code]

git hash: 7f3d8e1f8736f4c812e4a0a96154af3bd3750180
[code]
python 3.5.2

Works fine on the r0.11 branch

[2016-11-15 09:13] erotavlas85 commented on #3319
@andrewharp Thank you for the link. I tried with another smartphone and it worked. So there should be a problem with my old s2. The application starts well, but it stops and exits automatically. Is there any problem with cyanogenmod? I do not think so.

[2016-11-15 09:15] hholst80 commented on #5515
I updated the trainer.py and start script to make it more clear what is *not* happening. As we see task 1 never gets a `sv.should_stop()` signal as I would expect.

[code]

[code]

[code]

[2016-11-15 09:16] hholst80 commented on #5515
I tried with TensorFlow 0.11 just released and the problem is the same.

[2016-11-15 09:26] abdoelali commented on #5553
Adding no compression for .pb extensions seems did not help. Full run (using `optimized_cnn_graph.pb`) of adb logcat [here](https://github.com/abdoelali/scratch/blob/master/adb_logcat_tf.txt), and android tf BUILD [here](https://github.com/abdoelali/scratch/blob/master/BUILD.android_tf). Tested also on `stripped_inception_graph.pb`.

[2016-11-15 09:49] wjaskowski commented on #5516
@yaroslavvb I see. Indeed, my first profiling results shows the overhead of fetching the data. When I removed it, TF/TH time ratio decreased to 2-2.5. I also confirm that when the model is larger (e.g. 512 filters, the difference between TH and TF shrinks. E.g., for "128x128 + conv[512,512,256,128] + 512") I got a ratio of 1.5 for forward pass and 0.85 for backprop (i.e. TF is actually faster).

B

[2016-11-15 09:57] mayank-kgp commented on #2016
@petulla  @PierreGe  @yhlleo
I have tried all the solution. But I am facing same error.
I am using six - 1.10.0

[2016-11-15 10:13] supertim commented on #5596
I found
1) server cpu is very low
2) client send small packet to server while I increase test press (20 req / sec),  8M/req,then call Next(ok), ok is false

[2016-11-15 10:20] TatsujiNakayama opened #5617 "Compile build error tensorflow/tools/pip_package"
Hi
When I tried
```bazel build -c opt --config=cuda --local_resources 2048,.5,1.0 //tensorflow/tools/pip_package:build_pip_package```

, I see the following error:
[code]

following bazel version:

[code]

[2016-11-15 10:23] mayank-kgp commented on #2016
It worked after sudo pip install six --upgrade --target="/System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python/"

[2016-11-15 10:36] Nayana-ibm commented on #3527
@aselle @girving
We are currently debugging  `//tensorflow/python:string_to_hash_bucket_op_test` on s390x as well as x86 architecture.
We could see that the mismatch of values is happening in `def create_op() `from `ops.py` .
We could observe that the  op.outputs is populated after  `_add_op(self, op)` is being called:
[code]
We tried debugging function _`add_op()` , however couldn't find where th

[2016-11-15 10:41] npanpaliya commented on #4391
Please have a look at this set of changes. https://github.com/tensorflow/tensorflow/pull/2556/files. This fixes the problem.

[2016-11-15 11:02] abdoelali commented on #5553
Further sanity check: trained and ran a test 32-ResNet model (10e,128bs), with resultant stripped model size of 8.3MB. Same error occurs, so doesn't seem to depend on .pb size. ResNet graph def [here](https://github.com/abdoelali/scratch/blob/master/test_resnet_graph_def.txt) and accompanying adb logcat [here](https://github.com/abdoelali/scratch/blob/master/adb_logcat_resnet_tf.txt).

[2016-11-15 11:08] yhlleo commented on #2016
It may be a version problem. You can check the version of `six`:
`>> pip --version`
`>> pip 8.1.2 from /usr/local/lib/python2.7/dist-packages (python 2.7)`

The `1.10.0` version may be too old. @mayank-kgp

[2016-11-15 13:27] paolodoors commented on #5036
Hvass-Labs's tutorials are really great. It would be very helpful to have the MetaGraph available.

[2016-11-15 13:57] mhuen commented on #1661
Are there any news on this?
A 4D operation would be a really nice feature. Especially now that more and more people from other fields, where 4D (3D + time)  is the common use case (i.e. physics), are jumping in on deep learning.
Even if the n-dimensional generalization is not easily implementable, I think a separate conv4d would be very helpful.

[2016-11-15 14:24] ischlag opened #5618 "0.11.0rc2 bug weird placeholder feeding problem when using exponential moving average"
using 0.11.0rc2

this simple (nonesense) script breaks:
[code]

produces:
[code]

I don't understand the problem. If I remove the ema (which I'm not using in the example) it works. I can also fix this by adding a feed dict to the init operation like this:
[code]
I don't think I have this problem with v0.11. I'm using ema in my batchnorm function. I removed all the unnecessary code from my full imp

[2016-11-15 14:40] riless commented on #3444
`copyNativeLibs` (with Capital L)

[2016-11-15 15:17] DavidNorman commented on #5236
oops - didn't see your response. sorry. thanks for doing the work @burness.  nice job.

[2016-11-15 15:17] #5236 closed

[2016-11-15 15:17] xslittlegrass commented on #5570
Indeed it's the problem of `LD_LIBRARY_PATH`. I reported the problem to my system administrator, and he offered a solution that works:

`module load gcc`

Comparing before and after loading gcc, the `LD_LIBRARY_PATH` does change. After loading the module, the following paths have been prepended to the PATH.

/usr/local/compilers/gcc/4.9.0/lib/gcc/x86_64-unknown-linux-gnu/4.9.0
/usr/local/compilers

[2016-11-15 15:17] #5570 closed

[2016-11-15 15:33] girving commented on #3527
@Nayana-ibm I don't know offhand, and my next step at this point would just be adding print statements until I did know.  I'm not sure what you mean by `self.lock`: Python graph construction is not thread safe, and is typically single threaded.

[2016-11-15 15:41] hholst80 commented on #5562
I think your second example is just a more complicated instance of the problem you are describing in your first example, cf. the sqrt here https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/api_docs/python/functions_and_classes/shard0/tf.global_norm.md

One way to attack this problem is if you do your explicit define the desired behavior in the limit case. I think you would have

[2016-11-15 15:47] girving commented on #5617
@aselle Looks like you added `tf_git_version`.  Can you take a look?

[2016-11-15 15:49] girving commented on #5615
Duplicate of https://github.com/tensorflow/tensorflow/issues/5319.

[2016-11-15 15:49] #5615 closed

[2016-11-15 15:50] girving commented on #5612
Basic questions are good, but are better suited to StackOverflow, since then future users will more easily find the answers.  Can you re-ask your question there?

[2016-11-15 15:50] #5612 closed

[2016-11-15 15:53] girving commented on #5611
@petewarden Is this an easy flag?

[2016-11-15 15:55] girving commented on #5609
Have you read the documentation?  https://www.tensorflow.org/versions/r0.11/api_docs/python/contrib.training.html#bucket_by_sequence_length

[2016-11-15 15:56] girving commented on #5608
This type of question is better suited to StackOverflow.  Github issues are for bug reports and feature requests.

[2016-11-15 15:56] #5608 closed

[2016-11-15 16:05] sonalgupta commented on #5609
Yes, I read the documentation. I am confused about how to use the outputs of the function. If I do output.eval() it hangs the program.

[2016-11-15 16:08] girving commented on #5606
Unfortunately, the current code for transpose does template instantiation for each dimension.  We're already running into code size issues, so we won't be able to accept 40 or 50 (a rather large chunk of the tensorflow binary would become transposes).

However, we'd be happy to accept PRs that implement arbitrary rank transposes in a manner that doesn't require unbounded template instantiation.  T

[2016-11-15 16:11] girving commented on #5618
Is the problem that you haven't initialized *local* variables? https://www.tensorflow.org/versions/r0.11/api_docs/python/state_ops.html#initialize_local_variables.

[2016-11-15 16:11] yangliuy commented on #5514
It works! Thank you!
 I changed global_variables_initializer into initialize_all_variables.

[2016-11-15 16:18] mrry commented on #5596
Are you sending these requests through the public TensorFlow API? Which methods are you calling? This does sound like it might be a bug, but without a reproducible failure case we won't be able to spend time on it.

[2016-11-15 16:23] girving commented on #5515
@sherrym Can you take a look?

[2016-11-15 16:26] girving commented on #5609
You probably need to start queue runners: https://www.tensorflow.org/versions/r0.11/how_tos/threading_and_queues/index.html.

@ebrevdo It seems tedious, but should we mention queues everywhere we create one (or at least at the top of the bucketing doc)?  It's pretty easy to not know one has to start queue runners after calling an obscure function.

[2016-11-15 16:40] petewarden commented on #5611
It's possible this just requires updating some compiler flags in tensorflow/contrib/makefile/Makefile for the protobuf and tensorflow library builds, but it would require some investigation.

[2016-11-15 16:41] martinwicke commented on #5551
This is a bug. Thanks for reporting.

[2016-11-15 16:42] martinwicke commented on #5551
The outputs_collections behavior is clearly the correct one. Both arguments should accept the same types of input, that is, either strings or set types.

[2016-11-15 16:46] mkolod commented on #5516
@yaroslavvb @wjaskowski +1 regarding the fact that one can't dismiss poor performance for small models just because no one cares about MNIST and CIFAR-10 (and their corresponding small convnets) anymore. The state-of-the-art RL models are rather small and so the importance of adequate performance for small models is still an issue to address for current research and production use cases.

[2016-11-15 16:59] martinwicke commented on #5598
I'm not entirely sure what feature you are asking for, but it is clear that there are shortcomings around the sklearn interface, `input_fn`, and how they mix, especially where serving is concerned.

@davidsoergel is working on an update to export that I believe should fix most of your problems there.

We are discussing changes to the predict interface at the moment, including possibly reusing the

[2016-11-15 16:59] #5598 closed

[2016-11-15 17:03] girving commented on #5617
@TatsujiNakayama Is this fixed by https://github.com/tensorflow/tensorflow/pull/5616?

[2016-11-15 17:07] kenjakt opened #5619 "Issue installing from sources with GPU support (l2loss_op_gpu.cu.pic.o' was not created.)"
### Problem:
When trying to install from sources using GPU support following the instructions from Tensorflow [documentation](https://www.tensorflow.org/versions/r0.11/get_started/os_setup.html#optional-install-cuda-gpus-on-linux) using bazel command,

`bazel build -c opt --config=CUDA --verbose_failures tensorflow/tools/pip_package:build_pip_package`

I encounter the following error.

./tensorflo

[2016-11-15 17:09] tongda commented on #4989
@singlasahil14 I am a little confused. Do you mean that the `.so` file could be properly loaded with absolute path, while it could NOT be loaded with relative path?

[2016-11-15 17:23] Nayana-ibm commented on #3527
@girving We are using pdb to debug test case and tried to print the op.outputs[0].eval() . The mismatch we could observe after _add_op(self, op) is being called as below:

[code]

About `self.lock`, this is used in the definition of _add_op function( filename: python/framework/ops.py):
[code]
In self.lock is defined in def __init__(self) from Graph object as (filename: python/framework/ops.py):

[

[2016-11-15 17:26] girving commented on #5611
@413029811 Can you try adding the `-fembed-bitcode` flag to the `Makefile` and see if it solves it for you?

[2016-11-15 17:31] girving commented on #3527
Ah, maybe it is thread safe! :)  In any case, I would be surprised if the problem was at the Python level, but I don't think I'll be able to help much in debugging this remotely since I can't tinker.

[2016-11-15 17:42] fventer commented on #5598
Thanks Martin

Looking forward to the fix.

[2016-11-15 17:58] sonalgupta commented on #5609
Also, the following code doesn't function as I would expect. I'm sure I am missing something, which is not clear from the documentation.

For the following code:

`seq_lengths = np.array([6, 3, 2])
inputs = []
inputs.append(tf.convert_to_tensor(np.array([2,3,3,3,3,3])))
inputs.append(tf.convert_to_tensor(np.array([2, 3, 4])))
inputs.append(tf.convert_to_tensor(np.array([3, 4])))

sequences, output

[2016-11-15 18:42] ashishkr23 commented on #5390
Hi ,
I have been struggling with pinning of variables and ops in a multi-gpu enviroment. I am following the multi-gpu training methodology  as shown in [multi-gpu inception_train example] (https://github.com/tensorflow/models/blob/master/inception/inception/inception_train.py)

I observed different variable placement in two scenarios:

1. As shown in the [example](https://github.com/tensorflow/mod

[2016-11-15 18:44] amirj opened #5622 "Problem in the documentation"
It seems that the documentation has a problem. For example, the most useful functions such as `fit` or `evaluate` in [the documentation of tf.contrib.learn](https://www.tensorflow.org/versions/r0.11/api_docs/python/contrib.learn.html#Estimator) is as follows:

[Trainable](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/learn/python/learn/trainable.py) does not linked or des

[2016-11-15 19:19] yifeif commented on #5580
`protobuf-3.0.0-cp3-none-any.whl` is supported according to `pep425` tags for `pip  8.1.2`, so renaming hack should work :)
Looks like we might need to rebuild these packages if we want to pass them through `auditwheel`, as `cp3-none-linux_x86_64` is still not a supported tag.

[2016-11-15 19:24] davek44 commented on #3115
I did not, but the new CuDNN RNN code appears to have a ReLU RNN that I've been meaning to try. Check it out here: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/cudnn_rnn

[2016-11-15 19:38] lfzCarlosC opened #5625 "ImportError: libcudart.so.8.0: cannot open shared object file: No such file or directory"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-11-15 19:42] fjanoos opened #5626 "glibc error with tensorflow 0.10.0"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-11-15 19:47] ebrevdo commented on #5609
Looking at the docs for the bucket_by_sequence_length function:

bucket_boundaries: int list, *increasing* non-negative numbers. The edges
of the buckets to use when bucketing tensors. Two extra buckets are
created, one for input_length < bucket_boundaries[0] and one for
input_length >= bucket_boundaries[-1].

In your case if you had sequence_lengths [2, 3, 6] then you get 5 buckets:

[len < 2, 2

[2016-11-15 19:56] gibiansky opened #5627 "Documentation change for 'Adding a new op ShapeFn'"
In [Adding a new Op](https://github.com/tensorflow/tensorflow/blob/7f3d8e1f8736f4c812e4a0a96154af3bd3750180/tensorflow/g3doc/how_tos/adding_an_op/index.md) there is the following line of code that describes how to set the shape function:

[code]
I think this is wrong (you do not want the `@` sign since it's not being used as a decorator). Also, having an explicit import would be helpful.

So it wo

[2016-11-15 20:01] vasantivmahajan commented on #5455
Can someone guide me on this issue?
Still looking for a resolution.

[2016-11-15 20:02] sonalgupta commented on #5609
Thanks for the reply. If I give `bucket_boundaries=[2,3, 7]` then I get the exception `ValueError: Dimensions must be equal, but are 4 and 3`. Can you please explain what `tensors` exactly mean? Documentation says `the list or dictionary of tensors, representing a single element, to bucket..`. How do I bucket/batch multiple sentences?

[2016-11-15 20:16] lfzCarlosC commented on #5625
I solved the issue.
The solution is replace url value of TF_BINARY_URL in tensorflow install page to be all rc0 version.

# Ubuntu/Linux 64-bit, CPU only, Python 2.7
$ export TF_BINARY_URL=https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.11.0rc0-cp27-none-linux_x86_64.whl

# Ubuntu/Linux 64-bit, GPU enabled, Python 2.7
# Requires CUDA toolkit 7.5 and CuDNN v5. For other versions, s

[2016-11-15 20:17] #5625 closed

[2016-11-15 20:18] gunan commented on #5578
This is caused by bazel 0.4.
bazel 0.4 started to enforce the checks forbidding the inclusion of testonly dependencies in non-test libraries. Therefore the build fails.
If you install bazel 0.3.2 by downloading the deb package and running dpkg -i install, your build should succeed.

[2016-11-15 20:18] #5578 closed

[2016-11-15 20:44] petteriTeikari opened #5628 "Checkpoint SNAPPY compression, incompatible for inference?"
As referenced in [https://github.com/tensorflow/tensorflow/issues/1669](https://github.com/tensorflow/tensorflow/issues/1669), I got the same error when trying to restore from self-finetuned checkpoint

I fine-tuned the checkpoint `inception_resnet_v2_2016_08_30.ckpt` for my own images TF-Slim (modified [finetune_inception_v3_on_flowers.sh](https://github.com/tensorflow/models/blob/master/slim/scr

[2016-11-15 20:51] gibiansky commented on #4914
I have run into similar problems with `tf.select`. It would be a good idea to have `tf.select` gradient use `tf.select` instead of multiplication by zero. It would produce much more intuitive behaviour when working with sequences that may include `NaN`.

[2016-11-15 21:56] ispirmustafa commented on #5401
Leak can be anywhere in the code since this example is running all Estimator in an infinite loop.
I'll look into it. I'll update the thread when I find the reason/fix.

[2016-11-15 22:11] sguada commented on #5390
The error comes because you are passing the name_scope TOWER_1 as a variable_scope to inception_v3, just don't pass any scope, it would use the proper inception_v3 scope by default.

[2016-11-15 22:22] IsaacBanjo commented on #1325
@lukaszkaiser OK, I read through the tf.Variable class in github. Combining what you said above, can I summarize in the way below:
1. In any code line, any function, or in global space, All the TF operations, including tf.some_operation and primitive operation such as t1 * t2 if t1 or t2 is a tensor, will be automatically added to the graph. But operation such as np.arange(10).reshape((2,5)), a *

[2016-11-15 22:39] craymichael opened #5630 "`_bag_features` doesn't work properly in Random Forest (TensorForest)"
TensorFlow r0.10 , but code appears to be the same in master.

### To Reproduce
Create Random Forest (`tf.contrib.learn.TensorForestEstimator`) with default parameters (`ForestHParams`) with the exception of setting `feature_bagging_fraction` to anything below 1.0 e.g. 0.8. I believe the issue lies in the `_bag_features` implementation in `tensor_forest.py`.

### Traceback
[code]

[2016-11-15 22:46] cbockman opened #5631 "tf.Print is not an identity op w/ tuples or lists of Tensors; clarify in docs or add warning msg?"
**Documentation issue with bidirectional_dynamic_rnn:**

For "outputs":

"...It returns a tuple instead of a single concatenated Tensor, unlike in the bidirectional_rnn. If the concatenated one is preferred, the forward and backward outputs can be concatenated as tf.concat(2, outputs)."

This doesn't appear to work.  As a fix:

output, _ = tf.nn.bidirectional_dynamic_rnn(...)
output=tf.concat(2, t

[2016-11-15 23:15] bcarpenter-pub opened #5632 "Feature Request: Perspective Transforms"
Currently image processing has some image manipulation functions like brightness adjustment or contrast adjustment.  It would be quite useful to have perspective transforms or other affine transformations to help distort training data.

[2016-11-16 00:08] cedricsimar commented on #3546
For me, casting the input tensor to tf.float32 / tf.float64 before calling tf.nn.moments()  solved the issue

[2016-11-16 00:17] robinschucker commented on #394
sudo apt-get install nvidia-modprobe fixed it for me too

[2016-11-16 00:22] singlasahil14 commented on #4989
@tongda : Yes, that's exactly what I meant.

[2016-11-16 01:36] Nessphoro commented on #5632
Hmm, I wonder if you could use the spatial transformer code to achieve this.
E.g. generate a sampling grid [0, height] x [0, width], apply your transformation (via batch_matmul) and then collect them exactly as in the spatial_transformer code.

[2016-11-16 01:41] Nessphoro commented on #5626
Looking at what you have provided, the glibc version is "2.2.5", which according to https://ftp.gnu.org/gnu/glibc/ was released in 2002.

I've had similar issues on an old RHEL6 box, there is a thread about it with a work around; you basically have to setup an environment by exporting LD_* variables to point to a newer version of GLIBC.

[2016-11-16 01:53] fjanoos commented on #5626
could you point me to that thread.

[2016-11-16 02:03] Nessphoro commented on #5626
Sure,

I followed these steps:
http://stackoverflow.com/questions/33655731/error-while-importing-tensorflow-in-python2-7-in-ubuntu-12-04-glibc-2-17-not-f/34897674#34897674

[2016-11-16 02:07] JerryKu009 opened #5633 "module 'tensorflow.python.ops.gen_array_ops' has no attribute '_expand_dims'"
After following CMake build for windows, python cannot be loaded with below error message.

AttributeError: module 'tensorflow.python.ops.gen_array_ops' has no attribute '_expand_dims'
After checking git history, it's related with checkin from Andrew Selle.
SHA-1: a41f0eae0cca59ff211495bd3e9da0daf4ed01e8

### Environment info
Operating System:
Windows Server 2012 R2

[2016-11-16 02:25] 413029811 commented on #5611
I added -fembed-bitcode in Makefile like this:
       ifeq ($(IOS_ARCH),ARMV7)
		-fembed-bitcode\
		CXXFLAGS += -miphoneos-version-min=$(MIN_SDK_VERSION) \
		-arch armv7 \
		-D__thread= \
		-DUSE_GEMM_FOR_CONV \
		-Wno-c++11-narrowing \
		-mno-thumb \
		-DTF_LEAN_BINARY \
		-D__ANDROID_TYPES_SLIM__ \
		-fno-exceptions \
		-isysroot \
		${IPHONEOS_SYSROOT}
		LDFLAGS := -arch armv7 \
		-miphoneos-ve

[2016-11-16 02:26] TatsujiNakayama commented on #5617
@girving I tried #5616 but don't fixed this error

[2016-11-16 02:27] TatsujiNakayama commented on #5617
Sorry mistake...
I will try

[2016-11-16 03:00] liusida commented on #5514
@zakizhou yes, i think you are right.

https://github.com/tensorflow/tensorflow/blob/20c3d37ecc9bef0e106002b9d01914efd548e66b/tensorflow/python/ops/variables.py#L1170

[code]

This change was made just 12 days ago

https://github.com/tensorflow/tensorflow/commit/4cbdead95f22de74bcbc72a68c9a38d465202db9#diff-ae1a8f7b66539f000615a4ab7e4b2151

[2016-11-16 03:02] LeavesBreathe commented on #5606
@girving Thanks for such a comprehensive response.

Would it at all be possible to even raise the acceptable rank number to 15 or 20? This alone would open up alot of possibilities. Hopefully it wouldn't raise the binary size too much.

Idea 1 would be miraculous but I'm just as lost as you are on how to specifically implement this.

[2016-11-16 03:10] petteriTeikari commented on #5628
I added that line to to slim.learning.train in [train_image_classifier.py](https://github.com/tensorflow/models/blob/master/slim/train_image_classifier.py)

[code]

And got the `inspect_checkpoint` working, however now I got the following error with `freeze_graph`:

[code]

[2016-11-16 03:56] jrajagopal commented on #3115
I looked that up, but couldn't find gen_cudnn_rnn_ops.py meaning I can't tell how this is different than any RNNCell with activation = tf.nn.relu. Thoughts?

[2016-11-16 04:39] mrry commented on #5633
It sounds like you have an old copy of `tensorflow/python/ops/gen_array_ops.py` that wasn't generated after updating past a41f0ea (which updates `hidden_ops.txt`). Could you try deleting the `tf_python/` directory and rerunning the build?

[2016-11-16 04:51] ashishkr23 commented on #5390
@sguada thanks for the reply.I have done that (please check last part of my post) but the device log place ment still places variables om gpu:0 rather than cpu

[2016-11-16 05:07] ahundt commented on #781
@ringw Sounds fantastic! Not trying to pile on the requests, but any chance of being able to specify separate input and output tensors for this as well? (or a crop that will work seamlessly with whatever transform parameterization you choose)

[2016-11-16 06:02] leavingq commented on #4319
@shkabko Thank you! It works for me. But why the latest version can't get build?

[2016-11-16 06:38] TatsujiNakayama commented on #5617
@girving
Thanks, I succeed build from new source code.

[2016-11-16 06:38] #5617 closed

[2016-11-16 08:41] ischlag commented on #5618
In that case it tells me
[code]

And then breaks the same way it broke before.
[code]

[2016-11-16 09:12] ashishkr23 commented on #5390
to add :
If there is no P2P connectivity between the different GPU cards , placing the variables on gpu:0 does not work, since they cannot be shared

[2016-11-16 09:32] untom opened #5636 "Official download links still point to 0.11.0rc2 instead of 0.11.0"
Hi!

On https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/get_started/os_setup.md  the URLs still point to 0.11.0rc2 instead of 0.11.0.

[2016-11-16 10:02] vkaracic opened #5637 "word2vec_basic global_variables_initializer error"
I'm running Tensorflow version 0.11.0 which has [this](https://github.com/tensorflow/tensorflow/commit/4cbdead95f22de74bcbc72a68c9a38d465202db9#diff-ae1a8f7b66539f000615a4ab7e4b2151) commit included and yet I get the following error when running the ``word2vec_basic.py`` script:
[code]

The part at the top with hashtags is something I added to print out the tf version that is used.
When I rename [

[2016-11-16 10:20] nmduc commented on #1122
I had exactly the same problem either with tf.slim batchnorm or with tf.cond and input is_training as a placeholder.
In the former case, when investigating the trained model, I found out that the moving mean and moving variance consist of all zeros.
In the latter case, the moving mean and variance look more reasonable (with different values), but if I use is_training=False in test time, the perfor

[2016-11-16 10:45] zzzrpagliari opened #5638 "train inception from scratch: imagenet_train not a target"
I successfully compiled tensorflow and I was able to run the retrain binary with my own images.

I'd like to retrain inception from scratch, as described [here](https://github.com/tensorflow/models/tree/master/inception), but the package is not available:

[code]

[2016-11-16 11:16] shelpuk opened #5639 "KeyError: u'SaveV2' when loading exported model"
I have a TensorFLow model trained on a GPU machine. Next, I need to export it and deploy on CPU only production machine.

I have trained and exported a model from a GPU machine as described in [MNIST export example](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/example/mnist_export.py). Saver object was initialized above.

[code]

Next, I am trying to load saved model to CPU

[2016-11-16 13:47] Hediby opened #5642 "Tensorflow built from sources in Docker doesn't recognize GPUs"
I need to build TensorFlow from sources in a Dockerfile (because of our architecture's constraints). Unfortunately, TensorFlow does not recognize the gpus.
I use a Tesla K80, with Nvidia driver's version 367.55

Here is the DockerFile related to Tensorflow:
[code]
I run the docker like this :
[code]
When I am in the Docker, I run this little script to see if it sees gpu's work:
[code]
What it prin

[2016-11-16 14:24] kopxiong opened #5643 "TypeError: run() got an unexpected keyword argument 'argv'"
When I followed the TensorFlow Mechanics 101 tutorial  `python fully_connected_feed.py` in `examples/tutorials/mnist` directory, I came across this problem:
[code]
I am using tensorflow 0.11 version in Anaconda environment.

[2016-11-16 15:04] gsoul commented on #5188
I have the same issue. As a temporary measure, I commented this check out.

[2016-11-16 16:04] hartb commented on #5482
Just wanted to give an update on this.  The root cause appears to be a problem in the libpthread code used by Ubuntu 16.04 on POWER. More information is available at:

https://bugs.launchpad.net/ubuntu/+source/glibc/+bug/1641241
https://bugs.launchpad.net/ubuntu/+source/glibc/+bug/1640518
https://sourceware.org/bugzilla/show_bug.cgi?id=20822

The problem is independent of TF version. It's specific

[2016-11-16 16:04] #5482 closed

[2016-11-16 16:20] girving commented on #5606
@LeavesBreathe Actually, I'm confused.  It looks like someone already wrote the slow but arbitrary rank version: https://cs.corp.google.com/piper///depot/google3/third_party/tensorflow/core/kernels/transpose_functor_gpu.cu.cc?dr=CSs&l=27.  What error message you seeing?

[2016-11-16 16:26] girving commented on #5606
I asked about it on scicomp: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/transpose_functor_gpu.cu.cc#L27.  Curious if someone knows a faster version.

[2016-11-16 16:27] girving commented on #5618
@martinwicke What's the new variable initialization story?

[2016-11-16 16:28] girving commented on #5611
@petewarden Unless you want to tackle this, should I mark it contributions welcome?

[2016-11-16 16:35] girving commented on #5344
@JohnnyY8 Can you reformat your original post so that the code and code output is easier to read?  Indenting by 4 spaces causes code formatting.  Also, can you say what the current error you are experiencing is?  The "Object of type 'path' has no field "realpath"." was fixed (https://github.com/tensorflow/tensorflow/issues/5319), and I'm having trouble following the thread to know if that was the

[2016-11-16 16:40] girving commented on #5480
@asimshankar Is more information necessary to debug this?  From my understanding of the thread so far, @civilmanxx says that `CUDA_VISIBLE_DEVICES` doesn't work, but we have no idea why.

[2016-11-16 16:40] girving commented on #5511
@aselle Why did you remove awaiting response?

[2016-11-16 16:47] danstowell commented on #5578
I had this problem too. #5143 mentions a workaround.

[2016-11-16 16:48] girving commented on #5619
@kenjakt It doesn't seem like you included the full error message.  Also, I'm not optimistic that we'll be able to fix this, since the related bugs you point to you appear to be nvidia bugs.

[2016-11-16 16:52] girving commented on #5622
Assigning to @wicke for further triage.  There are quite a few of these missing links, so some sort of automated or semi-scripted method may be in order.

[2016-11-16 16:54] girving commented on #5627
@gibiansky Would you be up for sending a PR?

[2016-11-16 16:55] girving commented on #5628
@alexalemi Can you take a look?

[2016-11-16 16:57] vrv commented on #5627
We can just remove the line now -- by default all ops call their CPP shape function.  (Or at least, they will with the next push).

[2016-11-16 16:59] asimshankar commented on #5480
I'm not quite sure I still fully understand the problem here.

This issue began with a question around being able to use one GPU each in 4 simultaneously running programs. And the code being used is [train_image_classifier.py](https://github.com/tensorflow/models/blob/master/slim/train_image_classifier.py).

The suggestion was to use `CUDA_VISIBLE_DEVICES` to restrict visibility of each instance o

[2016-11-16 17:02] girving commented on #5630
I'll link in a tensorforest person shortly, but it seems like the best solution for this would be to make `tf.split` accept `num_split == 0`.  The correct behavior would be to bail if the input tensor isn't empty along that dimension.

[2016-11-16 17:04] girving commented on #5631
@cbockman When you say it doesn't work, what error message do you see?  Also, please use code formatting for code (4 space indent) to make it easier to read.

[2016-11-16 17:05] girving commented on #5632
This is a reasonable feature request, but we may not get to it in the near term.  Contributions welcome!

[2016-11-16 17:11] girving commented on #5637
@vkaracic I just checked, and it doesn't look like 0.11.0 has that commit.  Are you sure?

[2016-11-16 17:12] girving commented on #5638
Note that inception is in a different `models` repository.

[2016-11-16 17:12] #5638 closed

[2016-11-16 17:17] zzzrpagliari commented on #5638
This is what I see under models

[code]

I don't see imagenet_train

[2016-11-16 17:19] vkaracic commented on #5637
I'm sorry, I was looking at the wrong file. Nevertheless ``word2vec_basic`` script breaks, I guess there is no point in opening a PR reverting that one line back to ``initialize_all_variables`` if that commit is going to be in the next release?

[2016-11-16 17:19] #4966 closed

[2016-11-16 17:20] MadWombat commented on #4856
Same problem.

Tensorflow 0.11.0rc2 installed via pip
Firefox 49.0.2
OSX 10.12.1

Works fine on Chrome 54.0.2840.71

[2016-11-16 17:28] civilmanxx commented on #5480
The thread 1 use **tf.device('/gpu:0')** in python code to assign GPU.  But to simplify the issue for easier investigation,  just try **https://github.com/tensorflow/models/blob/master/slim/train_image_classifier.py** is enough.

run these 2 cmd:

export CUDA_​DEVICE_​ORDER = PCI_BUS_ID
export CUDA_VISIBLE_DEVICES=3

and then run **train_image_classifier.py**, you will notice that the true running

[2016-11-16 17:29] anxingle commented on #4536
@loliverhennigh   sounds good!  Thank you for your work.

[2016-11-16 17:37] girving commented on #5639
@shelpuk I believe you are using a newer version of TensorFlow to make the graph, which then isn't readable by the older version of TensorFlow on the production machine.  TensorFlow is not guaranteed to be forward compatible across versions.

@petewarden Looks like this may be your importer code.  Throwing an exception is correct, but `KeyError` isn't a very informative exception.  You up for clea

[2016-11-16 17:45] asimshankar commented on #5480
But it is running on a single GPU?
If so, then this is perhaps an issue you want to investigate with the CUDA library folks as my understanding is that TensorFlow is simply working with the single GPU device that CUDA has made accessible to it.

[2016-11-16 17:45] girving commented on #5643
The `argv` argument was added recently: https://github.com/tensorflow/tensorflow/commit/6812d46b957e32eba37c67384cc2136908d7a1ff.  You are comparing a new version of a tutorial with an old version of tensorflow.

[2016-11-16 17:45] #5643 closed

[2016-11-16 17:46] girving commented on #5638
@zzzrpagliari If you want to find inception in the models repo, please click on your own link from the original comment.

[2016-11-16 17:50] girving commented on #5630
@thomascolthurst: Do you agree that this is an issue in `tf.split`, or is it a different bug in tensorforest?

[2016-11-16 17:51] petewarden commented on #5611
I'm not likely to get to this in the short term, so that would be great, thanks.

[2016-11-16 17:54] yifeif commented on #5636
#5629 just got merged!

[2016-11-16 17:54] #5636 closed

[2016-11-16 17:55] girving commented on #5538
@alephman I don't think we can fix this on our end, since it's a bug in pip.  I would suggest building and running in place without going through pip.

[2016-11-16 17:55] #5538 closed

[2016-11-16 17:57] ThomasColthurst commented on #5630
Hi, Geoffrey.  Can you give me more information about what isn't working?
 (For example, a code snippet of how you are calling TensorForest, and any
relevant log output).  I assume you are setting the bagged_features
parameter to true, and that you are seeing a crash or something inside the
_bag_features function?

Thanks,
-Thomas C

On Wed, Nov 16, 2016 at 12:51 PM, Geoffrey Irving <notifications

[2016-11-16 17:57] girving commented on #5637
@vkaracic The 0.11.0 version of `word2vec_basic` already uses `initialize_all_variables`, so I think all is well.  You're trying to run a new version of a tutorial with an old version of tensorflow.

[2016-11-16 17:57] #5637 closed

[2016-11-16 18:01] girving commented on #5642
@caisq Any ideas?

[2016-11-16 18:03] cgarciae opened #5649 "ContextManager Error on tf.name_scope: RuntimeError("generator didn't yield")"
I have this minimal code that shows the error:

[code]

Is this a bug or done by design?

[2016-11-16 18:10] lukasz-pyrzyk commented on #5549
Hi @jhseu, do you know what's wrong?

[2016-11-16 18:40] caisq commented on #5642
Will take a look.

[2016-11-16 18:42] caisq commented on #601
I'm not sure whether Linux on Mac falls in our scope of support. @gunan, @martinwicke , any thoughts?

[2016-11-16 18:48] #4807 closed

[2016-11-16 18:50] artcg commented on #5632
I will work on this

[2016-11-16 18:50] concretevitamin commented on #5527
One weird thing is that this seems reproducible only non-deterministically.  Sometimes I see negligible error, sometimes I see 1%.

It seems this is working as intended.  When ~1e8 numbers are being accumulated, at some point the accumulator value becomes >> next value being accumulated (in [0,1]).  On GPU the Eigen impl has
more accumulators so this is mitigated a bit.  "Fixing" this probably req

[2016-11-16 18:51] craymichael commented on #5630
Hi, I just realized that this is indeed a silly bug on my side and a non-issue. The above log can be reproduced by setting the `num_features` hyperparameter to 0, which isn't even the log I meant to include, my apologies. The error I was really experiencing involved having an embedding input to the Random Forest where I forgot to incorporate the embedding dimension for each embedded feature in the

[2016-11-16 18:51] #5630 closed

[2016-11-16 18:52] martinwicke commented on #601
It is impossible for us to test for or even reproduce, so I don't see much we can do on our end.

That said, if someone figures it out and sends a patch with a fix, I'd be very excited to accept that.

I've changed the labels appropriately.

[2016-11-16 18:56] asimshankar commented on #5549
@MrJaqbq : Could you describe the version of the compiler being used (e.g. `g++ --version`).  I'm wondering if there is some C++ ABI change.

@lukasz-pyrzyk : Can you reproduce the problem? If so, same question :)

[2016-11-16 19:06] ramja opened #5650 "Problem running word2vec_optimized on Amazon GPU machine"
I've not found anyone reporting this specific issue. I'm trying to run tensorflow word2vec script on a aws
gpu machine through docker-nvidia container and getting this error:
[log.txt](https://github.com/tensorflow/tensorflow/files/595666/log.txt)

### Environment info
Operating System: ubuntu 16.10 on a g2.2xlarge aws machine. Nvidia driver version 367.57

Installed version of CUDA and cuDNN:
run

[2016-11-16 19:09] zhongyuk commented on #1122
@nmduc @davek44  I wrote some code to track the moving mean and moving variance computed in `tf.contrib.layers.batch_norm` during training and testing. I found out that the value of `decay` matters a lot (they use exponential decay to compute moving avgerage and moving variance), with a `decay` setting closer to 1.0 (i.e. `decay=.999`), moving mean drops to a value closer to 0. I did 2 test runs w

[2016-11-16 19:35] techjogger commented on #5600
Thanks for the tip! I moved my project to C:\Users\miles\Documents\TensorflowWork and tried to rebuild tensorflow.

C:\Users\miles\Documents\TensorflowWork\tensorflow\tensorflow\contrib\cmake\build>cmake .. -A x64 -DCMAKE_BUILD_TYPE=Release ^
More? -DSWIG_EXECUTABLE=C:/tools/swigwin-3.0.10/swig.exe ^
More? -DPYTHON_EXECUTABLE=C:/Users/%USERNAME%/AppData/Local/Continuum/Anaconda3/python.exe ^
More?

[2016-11-16 19:37] cbockman commented on #5631
Apologies...

OK, so actually got bitten by an unrelated issue.  This can probably be closed, although maybe worth some light tf.Print documentation clarification.

`output, _ = tf.nn.bidirectional_dynamic_rnn(fw_cell, bw_cell, inputs,lengths,dtype=tf.float32)`
`output=tf.Print(output, [output], "MSG")`
`output = tf.concat(2, output)`

The above created issues for me because tf.Print apparently tr

[2016-11-16 19:55] cbockman commented on #5631
Alternately/additionally, maybe add a light type check on def Print that
flags if type is likely to get transformed?  A little crude, but given this
is essentially just a debug operation, maybe a useful trade off.

On Nov 16, 2016 9:05 AM, "Geoffrey Irving" <notifications@github.com> wrote:

[2016-11-16 20:08] pranavvm26 commented on #5390
@ashishkr23 I came across the same issue when training using the newer inception model. To enable variable placement on CPU rather than GPU:0 for the scenario you just mentioned, there might be a different workaround. Try the following,

1. The conv, fc, etc ops are sourced from the following location:
                          https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contri

[2016-11-16 20:14] atemerev commented on #3388
@yaroslavvb Looks like it wasn't:

[code]

[2016-11-16 20:21] pranavvm26 commented on #5390
@sguada

It does, but should the functionality of passing scope towards creation of logits layer to create variables under individual tower, be available to us?

Also, the root cause of this issue seems to stem from the way the variables are created within the inception_v3.py under the umbrella of variable scope. Changing it from variable_scope to name_scope does not error out the same way and the

[2016-11-16 20:33] yaroslavvb commented on #3388
@atemerev that's a different error, which seems to be fixed at head -- https://github.com/tensorflow/tensorflow/blob/7e94b1ee27cb4e009f8bbee1f230c7ca3adfccf3/tensorflow/python/client/session.py#L578

[code]

[2016-11-16 20:56] civilmanxx commented on #5480
I do not want to spend more time on this now. Now i already do not care which is which.

[2016-11-16 20:56] #5480 closed

[2016-11-16 21:22] flx42 commented on #5642
That's not how you're supposed to start the container, look at the [official instructions](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/docker#running-the-container)

[2016-11-16 21:42] MrJaqbq commented on #5549
Sure, here it is
[code]

and configuration

[code]

[2016-11-16 22:26] asimshankar commented on #5549
Will try to reproduce. Is it possible that `libtensorflow.so` was built with a different version (say 5.x or 4.x)? Or in other words, how did you build it - one the same machine? With the same compiler version?

[2016-11-16 22:44] davek44 commented on #3115
The CuDNN RNN code is quite different from the previous Cell-centric framework. I haven't spent much time with it, but you have to pass in your own parameter tensor, which makes it easy to initialize with the identity.

[2016-11-16 22:48] LeavesBreathe commented on #5606
I apologize but I don't have the error message in front of me right now. I'm going to close this thread as i'm not providing adequate documentation. From what I remember the message said "tf.transpose does not support tensor of rank 12"

[2016-11-16 22:48] #5606 closed

[2016-11-16 23:06] mrry commented on #5600
I think that failure is a red herring... we don't depend on the availability of pthreads to build on Windows, but the current CMake rules will check for it (and that check will fail without breaking the rest of the build).

Instead I think this is the main error:

[code]

Can you ensure that `distutils` is installed in the Python environment you're using?

[2016-11-16 23:32] ptrendx opened #5652 "cifar10_multi_gpu_train.py breaks with more than 1 GPU"
### Environment info
Operating System: Ubuntu

Installed version of CUDA and cuDNN: 8.0 and 5

1. The commit hash (`git rev-parse HEAD`): 3d41cf77d624aeee0482f92121a9300b29db2809
2. The output of `bazel version`:
Build label: 0.3.2
Build target: bazel-out/local-fastbuild/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Fri Oct 7 17:25:10 2016 (1475861110)
Bu

[2016-11-16 23:49] sguada commented on #5390
Getting all the name_scope and variable_scope right can be a bit tricky. I would recommend you to take a look at https://github.com/tensorflow/models/tree/master/slim which has [model_deploy](https://github.com/tensorflow/models/blob/master/slim/deployment/model_deploy.py) that shows how to build and train a model using multi-GPU. It has several optimizations, like variables pinned into CPU and ef

[2016-11-16 23:52] ebrevdo commented on #3115
There are other changes happening to rnncells right now, adding initializer
arguments will have to wait a while anyway.  If someone is working on this
please sync with me first.

On Nov 16, 2016 2:45 PM, "David Kelley" <notifications@github.com> wrote:

[2016-11-17 00:31] martinwicke commented on #5622
I'm publishing the Trainable/Evaluable docs. Sorry about that.

[2016-11-17 00:57] martinwicke commented on #5618
This has nothing to do with variable initialization per se. You are making a placeholder is_training, and you use it (in the cond). You must provide a value for it, even when calling the init_op.

It may be confusing to you that you need to feed is_training, but that's because is_training is used to control whether to run the EMA, and thus every part of the EMA depends on it, include the initializ

[2016-11-17 00:57] #5618 closed

[2016-11-17 01:26] JohnnyY8 commented on #5344
@girving Hi：
I have reformated the original post, is that easier to read? I am sorry that I do not know the right code format. Maybe @aselle  will try the #5319 , hope it will work.

[2016-11-17 01:42] newshorts commented on #37
+1

[2016-11-17 02:55] TatsujiNakayama opened #5659 "How to trought cuda/lib path"
Hi
I am very Struggling without going through the path of cuda/lib.

[code]

~/.bash_profile
[code]

[code]

but, In the following case I Successful "import tensorflow"
[code]

[2016-11-17 03:35] craftlk opened #5660 "How to applicate tensorflow on KNL? any suggestions?thanks very much."
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-11-17 04:54] ashishkr23 commented on #5390
@pranavvm26 thanks for the response.though i got it to work by resolving the P2P connectivity via firmware update.
i will try  your solution too and let you know

[2016-11-17 05:04] civilmanxx commented on #4790
@sguada do you mean I run twice? Run once with **is_training=False** to get a graph def just for inference nodes purpose (stop the process once I get this file), because if I set **is_training=False**, the loss do not goes down, which mean the network does not converge.

after I get the graph def file for inference nodes, I still need use the .ckpt file which is created under **is_training=True**,

[2016-11-17 06:16] huythach commented on #5585
@leslietso could you explain more details "It turned out for some reason tensorflow/core/ops was not included in the tensorflow/BUILD file and once I added that the error went away."

Or if possible, could you send me a sample of your project?
I am still working on [TensorflowAndroidMNIST](https://github.com/miyosuda/TensorFlowAndroidMNIST) but it does not work.

[2016-11-17 06:32] Syndrome777 opened #5661 "Why does encoder not have mask option in Seq2Seq model ?"
Hi, all,

There is a confusion that tf's seq2seq models don't have mask option for sequence padding.
As I know, mask and padding always are together. If without mask, the final result of padding is imprecise. And tf's rnn have implemented mask.
So why does seq2seq not have mask option?

[code]

[2016-11-17 08:08] greg1github commented on #3261
Still not working for me.  I use bazel-0.4.0 and tensorflow-0.11.0.

I compiled bazel from the source, with CROSSTOOL modified so as to hard-code the library path

  linker_flag: "-Wl,-rpath,/home/sr1/greg.m/lib/gcc-4.9.4_built/lib64"

and this setup does have an effect on bazel itself, even when I clear env variables

env - ldd ~/bin/bazel
        linux-vdso.so.1 =>  (0x00007ffe8999e000)

[2016-11-17 08:50] nmduc commented on #1122
@zhongyuk Thanks a lot for sharing . It works for me now.

[2016-11-17 08:51] igerard commented on #22
Hello,

I am learning/working with TensorFlow and Keras for the time being and I would be interested to get the OpenCL support working under macOS ... Is there some news on the work done around macOS ?

I succeeded to compile TensorFlow but if I try to configure for OpenCL it ask me for the computeCpp 1.2 location, and there is no ComputeCpp for macOS it seems to me.

[2016-11-17 09:12] hughperkins commented on #22
High-level: there are two approaches to OpenCL tensorflow:
- Codeplay computecpp => you'll need to check with eg @lukeiwanski for this
- [cuda-on-cl](https://github.com/hughperkins/cuda-on-cl) => this supports OpenCL 1.2 cards, almost nearly runs on Mac OS X, and I can help you wtih this :-)

The cuda-on-cl tensorflow fork is at https://github.com/hughperkins/tensorflow-cl , BUT it's not quite con

[2016-11-17 10:42] laudney opened #5662 "Windows support for tf.contrib libraries in the PIP package."
Is there any documentation or tutorial on how to include tf.contrib libraries in the PIP package built with cmake on Windows?

Or to install tf.contrib libraries as a separate step?

[2016-11-17 10:54] rdipietro commented on #5412
Ping. Note that [tensorflow/python/ops/tensor_array_grad.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/tensor_array_grad.py) has a lot of sparsely-documented code that seems relevant, which was largely written by @ebrevdo. @ebrevdo would you be willing to share some insight on this?

To recap: Would like to add functionality to TensorFlow to read the per-time-step

[2016-11-17 11:35] ColaWithIce opened #5663 "slim.batch_norm used with slim.conv2d problem"
Dear All,
I have met some problems when using the batch norm layer of slim. I trained the same model structure but with different ways to use batch_norm layer, shown below. It seems the output of the two ways to use batch_norm is different to me. I have look inside the code to see. It seems the two way no different at all. But the result is actually not the same. Anyone met it before?

1. net = sl

[2016-11-17 12:06] pltrdy commented on #5396
I am still having trouble with this ptb_producer. My point now is just not to pass data on graph building (i.e. not in the PTBModel object creation) but on execution through placeholder.

Thus I modified PTBInput the following way:
[code]
and I try to run:
[code]

Which should run one training epoch.
This code is minimalistic but still does not work. As always, no CPU nor GPU load, just waiting...

[2016-11-17 12:34] Ecolow commented on #5143
I am still having this issue, same error code ;`[i followed this guide](https://github.com/tensorflow/models/tree/master/syntaxnet#getting-started)`, do you have a quick fix ?

[2016-11-17 13:24] marteiro commented on #5643
I'm having the same problem. And i'm really using new example with old TF because the pip installation is not placing the examples files, so i've manually copied from sources and placed inside the pip installation.

I'm using the fallowing:
https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.11.0-cp27-none-linux_x86_64.whl

what should i use to get TF with examples?

thanks in advance

[2016-11-17 13:58] vade commented on #22
Hello. By no means an expert in ML / Tensorflow / or even OpenCL, but I'm an experienced Mac graphics dev who desperately wants faster performance of Tensorflow on systems with integrated and AMD GPU's using built in libraries and simple dependencies :)

How can I help?

[2016-11-17 14:03] pranavvm26 commented on #5390
@sguada so this solution didn't work for me. Despite adding **device** type withing arg_scope the variables still showed as pinned to the GPU:0. That was when I tried the workaround I mentioned in the earlier comment. Perhaps, @ashishkr23  could try the suggestion by sguada and let us know if that worked in his case?

Thanks

[2016-11-17 14:05] BoyuanJiang opened #5664 "one function in tensorflow tutorials should be replaced"
I'm learning tutorials of tf.contrib.learn Quickstart in this [website](https://www.tensorflow.org/versions/r0.11/tutorials/tflearn/index.html) and found that the function **tf.contrib.learn.datasets.base.load_csv**  isn't existed.So the following codes
`training_set = tf.contrib.learn.datasets.base.load_csv(filename=IRIS_TRAINING,
                                                       target_dtyp

[2016-11-17 14:15] vade commented on #22
Looking at the last compile failure on OS X in the travis log @hughperkins - it looks like running 'xcode-select --install' might a solve? It should re-link the /usr/include directory. I had this issue myself when updating Xcode beta to release and had issues compiling some C++ code.

[2016-11-17 14:16] ptillet commented on #22
It seems like the XLA compiler (https://www.tensorflow.org/versions/master/resources/xla_prerelease.html) will provide LLVM code generation from dataflow graphs. This means very easy access to spir-v and therefore Vulkan's compute API. With code generation sorted out, I can't imagine Google not providing Vulkan compatibility given the high number of unused integrated GPUs running on Android.

[2016-11-17 14:19] Syndrome777 opened #5665 "Is there a bug in embedding_attention_seq2seq?"
Hi, all,

I think the code of embedding_attention_seq2seq is confusing. And I can't run this code.

[code]

I don't know what's the meaning of "AttnOutputProjection". The attention information has been used in "x = linear([inp] + attns, input_size, True)", why adding it again?

And meanwhile what is the meaning of "[cell_output] + attns", "cell_output" is equal with num_symbols, so why add attens?

[2016-11-17 14:21] lircal commented on #5665
发自网易邮箱大师

On 11/17/2016 22:20， Issac<notifications@github.com>wrote：

Hi, all,

I think the code of embedding_attention_seq2seq is confusing. And I can't run this code.

if output_projection isNone:
      cell = rnn_cell.OutputProjectionWrapper(cell, num_decoder_symbols)
      output_size = num_decoder_symbols

...

      x = linear([inp] + attns, input_size, True)
      # Run the RNN.
      cell_

[2016-11-17 14:55] yidan216home opened #5666 "about this error when i try to run the existing wide_n_deep_tutorial.py"
Hello,
I get this error when i try to run the existing wide_n_deep_tutorial.py, any ideas on this?

(tensorflow) xx@ubuntu:~$ python wide_n_deep_tutorial.py --model_type=wide_n_deep

Traceback (most recent call last):
  File "wide_n_deep_tutorial.py", line 208, in <module>
    tf.app.run()
  File "/xxxxxxx/anaconda2/envs/tensorflow/lib/python2.7/site-packages/tensorflow/python/platform/app.py", li

[2016-11-17 14:58] abhimanu commented on #4122
In the tensorflow-0.10.0rc0 release, changing line 76 by adding '.fixed' in data_utils.py doesnt work. Instead creating the soft link for giga-fren.release2.fixed.en.gz  and giga-fren.release2.fixed.fr.gz  in the data_dir works as of today.

[2016-11-17 14:59] Antonio95 opened #5667 "Documentation shows None default instead of actual op attr default"
This is not a bug but a small mistake in the API:
The [documentation ](https://www.tensorflow.org/versions/r0.11/api_docs/python/state_ops.html#assign) says "use_locking" defaults to _None_ in **tf.assign**.
That parameter is a boolean, so _None_ would not make a lot of sense. In any case, the source code makes it clear the default value is actually _False_ (file: tensorflow/tensorflow/python/ops/

[2016-11-17 15:00] hughperkins commented on #22
- document your minimum viable product, in terms of tensorflow operations that need to be working, for you to be able to make use of an OpenCL Tensorflow
   - I imagine this being in the form of a short script, maybe omsething like https://github.com/hughperkins/tensorflow-cl/blob/tensorflow-cl/tensorflow/stream_executor/cl/test/test_gradients.py
  - you can submit such a script as a new issue, eg

[2016-11-17 15:03] xinchenxp commented on #5643
I've meet the same problem with lastest TF, does sb know how to fix this problem？Is there a new tutorial docuement that i can follow, thanks a lot !

Traceback (most recent call last):
  File "convolutional.py", line 339, in <module>
    tf.app.run(main=main, argv=[sys.argv[0]] + unparsed)
TypeError: run() got an unexpected keyword argument 'argv'

[2016-11-17 15:07] alquraishi commented on #4775
Just to confirm, is it safe to compile with avx2 or not? @yaroslavvb was mentioning possible bugs / numerical errors.

[2016-11-17 15:18] vade commented on #22
@hughperkins

Quickly: Right now I am running Inception v3 on a custom C++ / Object-C codebase and passing in decoded video frames to the network. I don't know enough about TF to know low level needs, but high level: load models, run session, expect stuff to work. I think that means 100% compatibility to be really honest. I know thats of no help in prioritizing. Basically the C++ Image Recognition

[2016-11-17 15:24] hughperkins commented on #22
Ok.  I'd be interested to see an occasional build/run log for tensorflow-cl on AMD.  The entire log, both build and run.  You could paste the build and run log each into a https://gist.github.com  Doesnt matter if it crashes, or if it doesnt, I kind of wnat to see if/where it crashes, and what warnings are being spit out.

For a first build,might be worth just building/running the [cuda-on-cl](htt

[2016-11-17 15:59] kopxiong commented on #5544
One stupid question: anyone can give a hint how to install tensorflow nightly? Because I am using python 2.7 in Anaconda environment, does Anaconda is not a good choice for tensorflow? Thanks a lot!

[2016-11-17 16:04] mrry commented on #5662
Pull request #5634 re-enables tf.contrib in the Windows/CMake PIP package (it's currently broken because a new package was added and the CMake rules don't reflect it yet). If that doesn't work, please let us know on this issue!

[2016-11-17 16:14] gibletto commented on #5600
distutils might also be a red herring, I've built this on windows 10 and got exactly the same errors (although I did download pthreads.h...).

Set additional paths for the include files when building
-DPYTHON_INCLUDE_DIR=<PATH_TO_INCLUDE_IN_ANACONDA>

If I remember correctly, you may have to add more that just this (numpy as well I think), I can't remember exactly what I ended up with.

[2016-11-17 16:24] mrry commented on #5600
Yes, you can avoid the requirement on installing distutils if you specify `-DPYTHON_INCLUDE_DIR` (we [use distutils](https://github.com/tensorflow/tensorflow/blob/99284f4c9eff4bf387dea926c11e06bc513606e7/tensorflow/contrib/cmake/tf_python.cmake#L21) to discover that directory automatically, but won't use it if you specify a dir explicitly).

[2016-11-17 16:36] hholst80 opened #5669 "Small typo in documentation"
In the code example in https://www.tensorflow.org/versions/r0.11/api_docs/python/train.html#replica_device_setter  `tf.replica_device_setter` is used instead of `tf.train.replica_device_setter`.

[2016-11-17 16:47] laudney opened #5670 "Windows cmake build errors"
@mrry I tried to build the HEAD and got the errors below:

[code]

[2016-11-17 16:55] girving commented on #5544
@martinwicke Should a page about the tensorflow nightly builds show up on the first page of https://www.google.com/search?sclient=psy-ab&espv=2&biw=1440&bih=801&btnG=Search&q=tensorflow+nightly&oq=&gs_l=&pbx=1#q=tensorflow+nightly+builds?

[2016-11-17 17:10] martinwicke commented on #5544
Ideally, but since we're completely replacing our website, SEO is not
useful at this point.

On Thu, Nov 17, 2016 at 8:56 AM, Geoffrey Irving <notifications@github.com>
wrote:

[2016-11-17 17:12] vincentvanhoucke commented on #1122
This seems important. @sguada we should consider the right course of action here before 1.0. In the short term, can one of the interested parties send me a PR documenting the fact that `decay` might have to be significantly lowered when experiencing poor eval performance? I am pretty sure I've never had to tweak that parameter, but it might be a side effect of the distributed setting.

[2016-11-17 17:13] girving commented on #5344
@JohnnyY8 Yep, much easier to read.  Thank you!

If understand correctly that #5319 was the last error, let me know if upgrading past that fixes the problem.  If something else was the last error, also let me know.

[2016-11-17 17:14] girving commented on #5437
@ebrevdo Further comments?

[2016-11-17 17:17] girving commented on #5631
@cbockman I think documentation for `tf.Print` doesn't make sense, since the same machinery applies to any function that takes tensors.  However, better error messages would certainly be good.  I'm not quite sure *why* `tf.Print` would have silently absorbed a list of tensors, unless that's new functionality someone added.  Can you clarify: does it automatically concatenate (same rank) or automati

[2016-11-17 17:19] girving commented on #5649
@lukaszkaiser Any reason our scopes shouldn't be re-enterable?

[2016-11-17 17:20] girving commented on #5650
What version of tensorflow is this?  That error typically means variables haven't been initialized, but that's surprising if you haven't modified the script.

[2016-11-17 17:21] girving commented on #5670
@mrry Any more information needed?

[2016-11-17 17:23] girving commented on #5669
Thanks!  Want to submit a quick PR?

[2016-11-17 17:25] mrry commented on #5670
Can you try deleting `c:\src\tensorflow\tensorflow\contrib\cmake\build\pywrap_tensorflow.cc` and trying again? (My guess is that you've built at a previous revision, checked out a newer revision that changes aspects of the SWIGged API, and then tried to build again in the same directory.)

[2016-11-17 17:26] laudney commented on #5670
you are right about my having previous build! let me try.

[2016-11-17 17:29] girving commented on #5667
@Antonio95 Yep, this is a problem with our doc generator.  The place that correctly says `False` is a different thing: it's a convenience method of `Variable` that calls down to the underlying op.

This would be great to fix, but we may not get to it soon.  Contributions would be very welcome!

More background: this documentation is for a Python wrapper automatically generated based on the C++ op

[2016-11-17 17:29] zaichang commented on #1013
I have the same issue as killuabone as I am also using docker on OS X, running through the steps detailed here:
https://tensorflow.github.io/serving/serving_inception.html

[2016-11-17 17:31] girving commented on #5666
@yidan216home TensorFlow 0.9 is very old, and probably doesn't have that function.  Is your copy of the `wide_n_deep_tutorial.py` also from 0.9?

[2016-11-17 17:32] girving commented on #5396
Please read the documentation on queues I linked above.  You need to start queue runners.

[2016-11-17 17:38] girving commented on #5664
@BoyuanJiang Can you try with 0.11?  0.11.0rc1 has 2d4267507e312007a062a90df37997bca8019cfb.

[2016-11-17 17:40] girving commented on #5663
I believe one of those ways normalizes before the activation.  The other does not.

[2016-11-17 17:42] mccajm commented on #4775
@benoitsteiner I'm keen to test this. Are you planning to update TensorFlow soon? Thanks.

[2016-11-17 17:42] girving commented on #5660
I don't think this is enough detail for us to help you.

[2016-11-17 17:42] #5660 closed

[2016-11-17 17:52] laudney commented on #5670
Worked! My bad. Thank you!

[2016-11-17 17:52] #5670 closed

[2016-11-17 17:56] mrry commented on #5670
Thanks for trying out the build! We could try adding a rule that causes the file to always be regenerated and avoid this issue. (Alternatively we could track the set of headers and `.i` files that the code generator depends on, but I suspect that'll be brittle....)

[2016-11-17 18:05] laudney opened #5671 "'tensorflow.core.framework.types_pb2' has no attribute 'DT_RESOURCE'"
I successfully built the PIP package (at HEAD) on Windows with cmake.  When I tried to import it, I met several errors that all boil down to the following:

[code]

[2016-11-17 18:07] mikowals commented on #5663
There is no activation function because it is set to None.

Variables aren't being reused in the batch_norm of example 1.  Otherwise I would expect the results to match.

[2016-11-17 18:09] laudney commented on #5671
Maybe because I had a previous build, git pulled and pb was using the old files?

[2016-11-17 18:10] mrry commented on #5671
This sounds like a similar problem to #5670. In this case, `protoc` isn't re-running, I'm guessing you've done an earlier build based on an old version of `tensorflow\core\framework\types.proto`, and the PIP package contains a mixture of code based on that old version and new code that expects to see the new types.

Your best bet (in the short term) is probably to delete the entire `tf_python` dir

[2016-11-17 18:15] lukaszkaiser commented on #5649
I think name scope is not meant to be used sa object this way, and I don't see why it should. Use variable_scope if you want to capture scope as object and yield.

[2016-11-17 18:27] laudney commented on #5671
@mrry Thank you, sir. I can confirm it's all good!

[2016-11-17 18:27] #5671 closed

[2016-11-17 18:28] laudney commented on #5662
I can confirm the PR successfully includes tf.contrib in the PIP package on Windows. @mrry Thank you, sir!

[2016-11-17 18:28] #5662 closed

[2016-11-17 18:37] akosiorek commented on #4478
I have the same problem. For now, as a workaround, I found that it works if I pass an initializer function instead of a tensor/constant to `tf.get_variable`.

[2016-11-17 18:46] cbockman commented on #5631
@girving tf.Print will stack.  e.g., tensor tuple of ( \<1, ?, 2\>, \<1, ?, 2\>) ==> \<2, 1, ?, 2\>

re:documentation, I'd push back a little, in that referring to something as an "identity op"--which isn't really an identity op, under certain scenarios--is very confusing to anyone new to the project.  That said, Tensorflow is obviously not my project.  ;)

One potentially simple error msg would b

[2016-11-17 19:01] girving commented on #5652
@shlens Could you take a look?  Scopes have been fiddled with recently, and maybe this file didn't get updated?

[2016-11-17 19:02] girving commented on #5659
It sounds like you have two different versions of cuda installed, and it segfaults because you are building against one and linking against another at runtime.

[2016-11-17 19:05] girving commented on #5665
This question is better suited to StackOverflow, since it is a combination of asking how a model works and trying to run too large of a network.  Github issues are for bug reports and feature requests.

[2016-11-17 19:11] #5649 closed

[2016-11-17 19:12] shuvrobiswas opened #5673 "Possible typo in docstring of embedding_rnn_seq2seq and embedding_attention_seq2seq?"
So in the docstring of embedding_rnn_seq2seq:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/seq2seq.py#L296

It says:

[code]

Should that instead read:

[code]

Since if you are creating an embedding it is to do dimensionality reduction (and so you usually want your embedding size to be smaller than the number of encoder symbols). Also in the code:

[code]

It looks

[2016-11-17 19:14] girving commented on #5631
@cbockman TensorFlow makes an effort where possible to mirror numpy, and merging multiple tensors this way is standard numpy behavior.  `tf.Print` already says it takes a tensor.  Unfortunately, it's impractical to document all the dynamic type conversion behavior of Python code in every tensorflow function.

[2016-11-17 19:14] #5631 closed

[2016-11-17 19:16] girving commented on #5663
Can you give a reproducible example?  Even better, if you have a link to the code you think is wrong, can you provide it?  It sounds like you may already know what the problem is.

[2016-11-17 19:32] civilmanxx opened #5674 "run ./configure error"
I just sync the latest code and try to build from source. CUDA version 8, cuDNN 5.1.5, Ubuntu 16.04

run ./configure  and get the error below:

ERROR: /home/scopeserver/tensorflow/tensorflow/models/syntaxnet/syntaxnet/BUILD:76:1: **no such package '@org_tensorflow//tensorflow/core':** error loading package 'external': The repository named **'org_tensorflow' could not be resolved and referenced by

[2016-11-17 19:45] cgarciae commented on #5649
@lukaszkaiser The issue is not about if I should use this or that, its if this should be considered a bug or not because solving this is easy for users, but a behaviour like this should be by design given certain criteria or fixed because it can cause un expected errors.

[2016-11-17 19:45] cbockman commented on #5631
@girving fair enough.  thanks for looking at this.

[2016-11-17 19:45] Antonio95 commented on #5667
I'd be very happy to help (I'm writing my final degree project on TF (python API)), if you tell me how to get started.

[2016-11-17 19:46] civilmanxx commented on #5674
need assign 8.0 and 5.1.5 for cuda config.

[2016-11-17 19:46] #5674 closed

[2016-11-17 19:56] girving commented on #5667
Thank you!

How to proceed depends on whether @josh11b and @vrv think we should fix the Python wrapper generator or the doc generator.  Fixing the Python wrapper generator is more natural, but there may be a subtle reason for the `None`s that I do not recall.

[2016-11-17 19:59] vrv commented on #5667
I was under the impression that there was an overhaul to our doc generation / website coming and that's why this wasn't being fixed ...  @martinwicke ?

[2016-11-17 20:46] #1258 closed

[2016-11-17 20:48] vrv commented on #1258
Okay, see https://github.com/tensorflow/tensorflow/commit/0ed66eb560957987901eef40dcf8e74247841528 for how you can set a min log level for logging in C++ using an environment variable.

Defaults to 0, so all logs are shown.  Set TF_CPP_MIN_LOG_LEVEL to 1 to filter out INFO logs, 2 to additionall filter out WARNING, 3 to additionally filter out ERROR.

[2016-11-17 20:49] vrv commented on #566
Closing as duplicate of https://github.com/tensorflow/tensorflow/issues/1258, see comments there.

[2016-11-17 20:49] #566 closed

[2016-11-17 20:50] CRSilkworth opened #5676 "UnicodeDecodeError when reading from tfrecords"
All I'm really trying to do is read a large array from a tfrecords file. I can do it so long that it's below a 8million ints but above that I get a unicode error, which doesn't seem to make much sense to me. Also, it worth noting that this script works using r0.9. I have about 64GB of ram on my computer so I doubt it's a memory issue.

### What related GitHub issues or StackOverflow threads have y

[2016-11-17 21:08] civilmanxx opened #5677 "run bazel build tensorflow/examples/label_image/... fail"
I just sync the **latest code** and build from source.

https://www.tensorflow.org/versions/r0.11/tutorials/image_recognition/index.html

i run **bazel build tensorflow/examples/label_image/...** get error:

ERROR: /home/scopeserver/RaidDisk/tensorflow/tensorflow/examples/label_image/BUILD:10:1: no such package 'tensorflow/contrib/quantization/kernels': BUILD file not found on package path and ref

[2016-11-17 21:10] civilmanxx commented on #5677
but i run **bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package** with no errors.

[2016-11-17 21:40] sguada commented on #1122
We could change the default to 0.9 or document better its impact in smaller datasets or few updates.
@vincentvanhoucke in our distributed setting we usually do millions of updates so it is ok, however in other cases like the one here which does only a few hundreds of updates it makes a big difference:
For example using decay=0.999 has a 0.36 bias after 1000 updates, but that bias goes down to 0.00

[2016-11-17 22:13] ravigarg27 commented on #206
Hey all, I want to update a tensor at certain locations (along one dimension only). I understand I can do it via scatter_update however it appears it doesn't have a registered gradient. Is there any workaround this?

[2016-11-17 22:30] #5401 closed

[2016-11-17 22:30] #5622 closed

[2016-11-17 22:51] VincentSC commented on #22
Hugh, you might want to look at http://chrec.cs.vt.edu/cu2cl/ to learn how some functions are mapped.

[2016-11-17 22:53] jhseu commented on #5438
Fixed internally and will show up during the next commit sync within a day or so.

We now reopen the inputstream upon reaching EOF as suggested by @renchunde.

[2016-11-17 22:53] #5438 closed

[2016-11-17 22:53] jhseu commented on #5438
Also note that the file size still doesn't update when listing the directory, but the new contents are available for reading and show up on tensorboard.

[2016-11-17 22:54] VincentSC commented on #22
At my company StreamComputing we have various GPUs for build-testing and benchmarking, which we use for our customer-projects. I could hook your Github into our Jenkins to do a weekly run.

[2016-11-17 23:42] cwhipkey commented on #5470
@petewarden

Thanks for the info.  Yes, the problem is that it is choosing to quantize a
Concat node, but can't actually quantize its inputs.  I have a fix I will
push out.

On Thu, Nov 10, 2016 at 8:25 PM, Abhinav Dadhich <notifications@github.com>
wrote:

[2016-11-17 23:47] rmlarsen commented on #5231
The general form of this is called tensor contraction. The underlying Eigen library supports this, but the functionality is not currently exposed by TensorFlow (ironically, given the name). It is also possible to implement tensor contraction as a sequences of transpose->reshape->matmul->reshape->transpose ops, which can be quite efficient. We have such an implementation of this approach as well, b

[2016-11-17 23:55] ppwwyyxx opened #5680 "Anyway to clear/reset the static shape to None?"
`Tensor.set_shape()` doesn't set shape but merge shape. If I don't want the statically-inferred shape, could there be a method to clear it?

The use case is as following: I have:
[code]
in the graph, but I want to be able to run it (in inference time) with `feed_dict={x: value}` where `value` is a tensor of shape [1, 10]. It would work perfectly if I could somehow set the shape of x to [None, 10].

[2016-11-17 23:58] civilmanxx commented on #4790
I already modify the code of **retrain.py** to support Inception V1 model. I will check in and share with community.

[2016-11-18 00:00] rmlarsen commented on #5281
I suppose something like tf.swap(a,i,j), where a, i, j are tensors, that swap a[i, ...] and a[j, ...] would be a reasonable thing to add (sort of a companion to gather).

[2016-11-18 00:06] civilmanxx commented on #4766
@nikogamulin I modify the code of retrain.py to support V1 model. It is done, do you need it?

[2016-11-18 00:08] rmlarsen commented on #5190
Yes, the documentation is lacking (and yes, it was lame to name an op self_adjoint and then not support complex - I filed an appropriately snarky meme for that a while ago). Feel free to send a PR to add support for complex. You would simply need to add the kernel registrations for complex types here:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/self_adjoint_eig_v2

[2016-11-18 00:10] rmlarsen commented on #4518
It looks like the PR was merged. Thanks! Closing.

[2016-11-18 00:10] #4518 closed

[2016-11-18 00:12] rmlarsen commented on #4431
I don't think we have any near term plans for this.

[2016-11-18 00:12] #4431 closed

[2016-11-18 00:15] #4766 closed

[2016-11-18 00:33] hughperkins commented on #22
Interesting. seems cu2cl does similar things to cuda-on-cl .  http://chrec.cs.vt.edu/cu2cl/documentation.php#faqs  By comparison to cuda-on-cl:
- they only require OpenCL 1.0 (cuda-on-cl needs OpenCL 1.2)

But:
- they need CUDA runtime installed
- they dont handle templates/c++

Is this an approximately fair impression?

[2016-11-18 00:35] nasrinpour opened #5681 "Windows build of the PIP package fails : error LNK1120 LNK2019 LNK2001"
@mrry Thanks for all your contributions to the windows version of tensorflow.
 I'm building tensorflow on windows 7 with CMake 3.6.3, GIT 2.10.1, Python 3.5.2 (NOT anaconda), the MsBuilt of VS 2015 (v 14.0.252420.1) and swigwin 3.0.10 without the GPU.

It successfully built the tf_tutorials_example_trainer target. However the MsBuild fails to build the PIP package, and gives 113 errors!
This is CM

[2016-11-18 00:52] rmlarsen commented on #5281
@mrry Maybe Derek has a clever idea how to do this?

[2016-11-18 01:00] mrry commented on #5681
Hmm, it sure does look like the `python35.lib` library is missing - all the unresolved externals seem to be Python API functions and types. Is it possible that `"c:/Program Files (x86)/Python35-32/libs/python35.lib"` is not the correct path to your Python import library?

[2016-11-18 01:06] nasrinpour commented on #5681
Well, that's the only location where all the *.lib files exist. Here's the the list of libraries there:
_tkinter.lib
python3.lib
python3_d.lib
python35.lib
python35_d.lib

Maybe its path is too long. I'll try another folder see if works or not.

[2016-11-18 01:33] b0noI opened #5682 "Implement a method that returns amount of seconds since the epoch (time)"
In order to add timestamp to the ```tf.Print``` (as per #2076 ) there should be a method that provides time (something like: SecondsAfterEpoch). Existing API ([env.h](https://github.com/tensorflow/tensorflow/blob/dd01113c2b9efb16c3c3ea0a4aaa340a0494696f/tensorflow/core/platform/env.h)) provides 2 method to obtain time:
-  [NowSeconds](https://github.com/tensorflow/tensorflow/blob/dd01113c2b9efb16c

[2016-11-18 01:34] JohnnyY8 commented on #5344
@girving Hi:
Thanks for your help!

[2016-11-18 01:38] mrry commented on #5281
Nothing springs to mind alas. I did a little search for NumPy implementations of the same operation, and everything I found used in-place updates, which won't really work for the non-Variable-tensor case. I did notice that NumPy has [a `swapaxes()` function](https://docs.scipy.org/doc/numpy-1.10.0/reference/generated/numpy.swapaxes.html), which looks like it would solve the original problem, and i

[2016-11-18 02:10] indhub opened #5683 "Synchronous distributed training is too slow"
While trying to train Imagenet using Inceptionv3, I noticed the training was proceeding too slow. I then tested with Alexnet and Resnet and I saw the same slow training speed.

Here is the images/sec I'm able to achieve on various models:

[code]
Is it possible there is some bug causing this slow performance?

I'm using EC2 P2 instances (p2.16xlarge). Each instance has 16 GPUs. Each GPU is a Tesla

[2016-11-18 02:14] wangyang0918 commented on #5438
Thanks a lot for your attention to this issue. I will help to confirm after the next commit sync.

[2016-11-18 02:16] KjerG opened #5684 "Building the library on Raspberry Pi results in: undefined reference to `google::protobuf::internal::fixed_address_empty_string'"
Hello,

I was told to post this question here:

I am trying to complete a fresh install of Tensorflow on my Raspberry Pi following a failed previous install. I figured it would be easier trying to start fresh so I could more easily document my progress, and what solutions worked or failed. Additionally the new guide is easier to follow than the old guide I was using.

I am following the guide [her

[2016-11-18 02:17] hughperkins commented on #22
(wheeee.... global address spaces are working now :-)

Exhibit A: imagine we have the following device-side IR:
[code]
So, in funciton `someKernel`, we're calling the exact same function 3 times, but with 3 differnet combinations of address spaces:
- the first time, `%d1`, that came from the host, so it should be global
- meanwhile, `%2` is from the alloca, so should be private (no address space d

[2016-11-18 02:23] KjerG commented on #4493
I am attempting a clean install using the guide [here](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile#raspberry-pi) in the hopes of circumventing this issue.

I have kept my old Tensorflow build as an (inactive) backup. If I make any more headway on this issue I will post it here.

[2016-11-18 02:24] yidan216home commented on #5666
@girving Thanks! Works like charm!
The latest version is  tensorflow 0.11, but  fisrt   i used  0.7,then update to  0.8  and 0.9  according to the old operation on the Internet,the error  was still not solved.
 Now  i update to 0.11, it works.

[2016-11-18 03:09] ColaWithIce commented on #5663
@mikowals @girving Actually, I read the [code]( https://github.com/tensorflow/tensorflow/blob/r0.11/tensorflow/contrib/layers/python/layers/layers.py), from line 439 to 455, it describes how the conv2d layer uses the batch_norm and activation. What I understand from this is that the `reuse` parameter only influnence the `conv2d` layer but not the function used inside.
To make the two ways same, I

[2016-11-18 04:33] mrry commented on #5680
There's deliberately no way to make a tensor's shape *less* specific. This makes it safe for TensorFlow to use the current static shape of a tensor in later shape inference, and also to specialize the graph for a specific shape (see e.g. the implementation of `tf.shape()`, which returns a constant if the shape is known).

However, your feeding use case is supported, using the [`tf.placeholder_with

[2016-11-18 04:42] b0noI commented on #2076
blocked by #5682

[2016-11-18 04:51] ppwwyyxx commented on #5680
Thanks! `placeholder_with_default` works for my case.

[2016-11-18 04:51] #5680 closed

[2016-11-18 05:03] asimshankar commented on #5143
@Ecolow : Unfortunately, the syntaxnet model that you're using is currently pinned to a specific snapshot of the TensorFlow repository and it does not update with changes to the TensorFlow repository. So, the workaround for now would be to remove `testonly=1` from the snapshot of the TensorFlow repository it uses - (inside `tensorflow/models/syntaxnet/tensorflow/tensorflow/python/BUILD`)

[2016-11-18 05:22] ResByte commented on #5470
@cwhipkey
Thank you, Please share the info after the fix.

[2016-11-18 06:15] mikowals commented on #5663
I made a simpler reproduction and it shows both examples are equivalent.  There could still be a problem with variable reuse if you are not placing example 1 above into a variable_scope with reuse set to true.

    import tensorflow as tf
    import tensorflow.contrib.slim as slim

    data = tf.random_normal(shape=(64, 16, 16, 3), seed=10)

    conv_bn = slim.conv2d(data, 16, (3,3), activation_fn

[2016-11-18 06:49] hokjoung commented on #5643
Checkout the r0.11 branch instead of the master branch.
Use the tutorial code in that branch.

[2016-11-18 07:09] xinchenxp commented on #5643
Thanks a lot, i git the r0.11 banch eventually, and it works !

[2016-11-18 07:17] HggsHntr opened #5688 "tensorflow crashes when using large image with 3d convolutional network"
I'm trying to implement a 3d fully convolutional network on my GPU. But for some reason I get a crash.

### Environment info
Operating System: Ubuntu 14.04 LTS
GPU: GeForce Titan X .

Installed version of CUDA and cuDNN: 8.0 and 5
(attach the output of `ls -l /path/to/cuda/lib/libcud*
[cud.filelist.txt](https://github.com/tensorflow/tensorflow/files/599236/cud.filelist.txt) )

I installed tensorfl

[2016-11-18 07:54] TatsujiNakayama commented on #5659
Hi
one version of cuda installed my pc.
I tried uninstall/install cuda. and rebuild tensorflow.
[code]
but, same error.

[2016-11-18 08:36] shastakr commented on #5553
@abdoelali  Check this `tensorflow_inference_jni.cc:131 Creating session` in android logcat message .There is a possibility that the graph has not been created correctly.

[2016-11-18 08:38] asimshankar commented on #5511
Alas, it is not currently possible to get bazel to build a single `.a` file that you can link against the C++ API. For details see https://github.com/bazelbuild/bazel/issues/1920

Till that is resolved, the alternatives are either:
- Build the shared library (`bazel build -c opt //tensorflow:libtensorflow.so`) and link against and run with that available, OR
- Figure out a way to get the static li

[2016-11-18 08:38] #5511 closed

[2016-11-18 08:46] thjashin commented on #5281
`tf.swapaxes` sounds good.

[2016-11-18 08:59] BoyuanJiang commented on #5664
yeah,I know that def load_csv has been replaced by def load_csv_with_header.I mean that the tutorials of this [website](https://www.tensorflow.org/versions/r0.11/tutorials/tflearn/index.html)should be update,because in the tutorials still use the function load_csv and may confuse the beginners.

(It's my first time use github and not sure where should I issue the problem 0_0

[2016-11-18 09:17] ColaWithIce commented on #5663
@mikowals  Thank you for your comment. I think I find the problem. The trainable variable numbers are different between different ways. That means if I use `reuse` in `conv2d` layer, all the variable created in this layer INCLUDE the variables created in `batch_norm` layer will be reused when `reuse` is `True`
What I test is shown below.
For example 1:
[code]
OUTPUT:
[code]

For example 2:
[code]

[2016-11-18 09:33] waleedka commented on #5143
I just tested with the master branch and got the same error. I confirmed that the ```testonly = 1``` flag has been removed, so there might be another issue.

I did find another fix, though. Adding the bazel option ```--spawn_strategy=standalone```  solves the problem for me. It worked when I compiled inside a Docker container, and it also worked when compiling on a native linux box.

And in case i

[2016-11-18 09:50] #5487 closed

[2016-11-18 10:26] abdoelali commented on #5553
@shastakr I can't find tensorflow_inference_jni.cc:131, but I noticed that for the ResNet graph, it was failing because of `tensorflow_inference_jni.cc:133 Could not create Tensorflow Graph` (which has to do with batchnormalization), but not so for earlier CNN model. Currently testing whether models implemented in Keras also result in the same error.

[2016-11-18 10:41] mikowals commented on #5663
Yes, setting `reuse=True` in `slim.conv2d` will also insure the batch norm variables are reused.   So in general your example 2 is the simple way.

You are also correct with how `{'is_training': True} ` is used with batch norm.  Setting `reuse=True` for testing is also probably correct though often it is best just to save the model and have the evaluation code create its own model and load the var

[2016-11-18 11:37] hughperkins commented on #22
(Mac cuda-on-cl finally builds: https://travis-ci.org/hughperkins/cuda-on-cl/builds/176993423  Now, to get it to at least do some kind of opencl smoke-test, on a gpu-less travis :-P )

[2016-11-18 12:04] winnerineast commented on #5143
I have the similar issue in my Macbook Pro with macOS Sierra+pip 2.7+bazel 0.4.0+latest master branch of tensorflow/models. I solved the problem by remove "testonly=1" from /private/var/tmp/_bazel_macusername/temphashid/external/org_tensorflow/tensorflow/python/BUILD. I don't know why but I did this change and it works for me.

[2016-11-18 12:22] roboticsai commented on #5583
Ok i have solved this proble. sorry that i didn't closed this question.

[2016-11-18 12:22] #5583 closed

[2016-11-18 12:27] ashishkr23 commented on #5390
replaced
`with slim.arg_scope([slim.variable], device='/cpu:0'):`
with
`with slim.arg_scope([slim.model_variable, slim.variable],
                         device='/cpu:0'):`  from [model_deploy](https://github.com/tensorflow/models/blob/master/slim/deployment/model_deploy.py)

The variables are now created on cpu:0 and ops on respective  gpu's

Thanks @pranavvm26  and @sguada

[2016-11-18 13:39] #5664 closed

[2016-11-18 15:04] craymichael commented on #5630
Just a heads up, `_bagged_features` will fail if the `feature_bagging_fraction` is less than the fraction of a single feature; the parameter `bagged_num_features` is calculated by `self.bagged_num_features = int(self.feature_bagging_fraction * self.num_features)`, which will result in 0 bagged features, which results in the error `ValueError: List argument 'values' to 'Concat' Op with length 0 sho

[2016-11-18 15:45] girving commented on #5664
@BoyuanJiang It looks like the tutorials have also been updated (if you look at the master tutorials), so I think we're good.

[2016-11-18 16:00] girving commented on #5688
Does it work with smaller images?  It vaguely sounds like running out of memory, but it doesn't seem like it should given the numbers and batch size 1.

[2016-11-18 16:01] girving commented on #5684
@petewarden Can you take a look?

[2016-11-18 16:02] girving commented on #5683
@shlens Do these seem like aberrant numbers?

[2016-11-18 16:04] girving commented on #5677
@civilmanxx You said you synced to the latest code, but you linked to 0.11.  Which version are you using?

[2016-11-18 16:05] jonaschen16 commented on #1870
Did it happen because of upgrading from python2.6 to 2.7?
If your python2.6 still in the system, please try to make the link for python2 back to python2.6.
Like this: [](https://youtu.be/R8Z5K2u5mag)
Good luck!

[2016-11-18 16:08] shlens commented on #5683
@jmchen-g Would you be able to take a look?

[2016-11-18 16:10] girving commented on #5676
@mrry Should we be escaping strings in error messages?  I vaguely recall having part of that discussion before.

@CRSilkworth The unicode error is secondary.  Your immediate problem is the `Could not parse example input` error.  @martinwicke Is this the dreaded protobuf limit?  The error is from https://github.com/tensorflow/tensorflow/blob/dfc5cd48a095b133ece9caff663e3cc512e8a268/tensorflow/core/

[2016-11-18 16:14] girving commented on #5673
Yep, looks like this should be fixed.

[2016-11-18 16:14] #5666 closed

[2016-11-18 16:15] #5344 closed

[2016-11-18 16:19] petewarden commented on #5684
Sorry you're hitting problems! This looks like a mismatch between the protobuf version that's installed in your /usr/local system folders, and the one that was used to create the .pb.cc/.h files. Can you try running this command to build a local copy of the libs?

[code]

[2016-11-18 16:21] HggsHntr commented on #5688
Can it be a memory issue? My GPU has 12GB. The size of the input is 0.25GB. Anyhow the following size works:  (32, 32, 512, 512, 1) which is larger in size, but smaller in one convolutional direction.

[2016-11-18 16:37] tomrunia opened #5694 "FusedBatchNorm does not support 3D Filters"
The current implementation of `tf.contrib.layers.batch_norm` is quite slow with the default parameters. Recent builds of TF support `fused=True` which forces the use of the faster `nn.fused_batch_norm`. However this method does not support 3D filters for computing the mean and variance. The normal (slower) variant with `fused=False` does not have this problem.

**FusedBatchNorm**:
[code]

And the

[2016-11-18 16:50] girving commented on #5688
@HggsHntr I'm just a simple computer scientist.  Your questions are reasonable, but it's hard for me to think beyond testing whether a smaller image works or not.

[2016-11-18 17:02] marteiro commented on #5643
Thanks, it worked.  =D

[2016-11-18 17:04] bchander commented on #42
I felt it's pretty easy to use '**Windows Subsystem for Linux (WSL)**' way of installing TensorFlow on Bash on ubuntu on windows.  The procedure is very simple and it's available in **masthege blog**.

[2016-11-18 17:09] liu-mingyuan opened #5695 "strange output and jam while running "train_setp.run()" in tensorflow"
I am a newcomer of Tensorflow and I encounter trouble while trying to train a convolutional neuralnetwork. I receive massive output information which seems initializing something while running:
**train_step.run(session=sess,feed_dict={x:batch[0],y_:batch[1],keep_prob:0.5})**
What is more, while testing the accuracy of my training data, the program output some information and stop working, so I hav

[2016-11-18 17:17] ramja commented on #5650
Hello Geoffrey,
I've just realized that I do changed a line of the code. The original error was that the object doesn't have a method global_variables_initializer. I changed it for initialize_all_variables and got the error I reported. That was in version 0.11.0. Now I just checked between versions and with 0.10.0 code runs ok.I'm sorry about the confusion. You can delete the issue if you want or

[2016-11-18 17:20] #5650 closed

[2016-11-18 17:20] girving commented on #5650
@ramja Glad it's resolved!

[2016-11-18 17:22] civilmanxx commented on #5677
The link points out the source of the cmd, but not for code version.

I want to build the file for single image prediction. the source code is still the latest one.

[2016-11-18 17:29] girving commented on #5677
@civilmanxx I don't think you're using up to date TensorFlow.  The version of `label_image/BUILD` that I see makes no mention of quantization: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/label_image/BUILD

[2016-11-18 17:58] shirriff opened #5696 "API pages could use some search optimization"
When I search on Google for Tensorflow methods, the documentation is hard to distinguish in the search results. The API pages have irrelevant titles and aren't as highly ranked as they should be.

To reproduce:
Search for [tf extract_image_patches]
Expected behavior: I get a result with the API documentation: https://www.tensorflow.org/versions/r0.11/api_docs/python/array_ops.html
Observed behavio

[2016-11-18 18:05] cescamilla commented on #4769
have you tried using cuda 8.0 and TF 0.11?

[2016-11-18 18:26] civilmanxx commented on #5677
yeah, I just check there are 2 quantization related lines in the build file. I do not why, though I pull the latest code.

[2016-11-18 18:26] #5677 closed

[2016-11-18 18:52] mrry commented on #5676
@girving Yes, I think we should be escaping strings here. I don't remember what the outcome of the earlier discussion was (in particular, where the encoding should happen) but it seems like we use `str_util::CEscape(binary_string)` in a few kernels, so perhaps we should use it here?

[2016-11-18 19:12] girving commented on #5676
@ebrevdo Care to add escaping to that error message?  Assigning to you for now.

[2016-11-18 19:43] glarchev opened #5700 "Definition of epoch_size in PTB model leads to skipping last sample batch"
Not 100% sure this is a bug, please take a look:

The PTB RNN model (tensorflow/models/rnn/ptb/ptb_word_lm.py, line 92) defines a variable called epoch_size as

self.epoch_size = ((len(data) // batch_size) - 1) // num_steps

(This variable is also defined in the same way in tensorflow/models/rnn/ptb/reader.py, line 108.) The variable is used on line 278 in ptb_word_lm.py:

for step in range(model.

[2016-11-18 19:49] KjerG commented on #5684
Tried `tensorflow/contrib/makefile/compile_linux_protobuf.sh` then ran `make -f tensorflow/contrib/makefile/Makefile HOST_OS=PI TARGET=PI OPTFLAGS="-Os" CXX=g++-4.8`

Resulted in the same error as before.

I'm going to retry `tensorflow/contrib/makefile/compile_linux_protobuf.sh` and then run `make -f tensorflow/contrib/makefile/Makefile clean` to clean the makefile before running the make -f comm

[2016-11-18 19:55] civilmanxx opened #5701 "Quantization tool is gone?"
if you run **bazel build tensorflow/contrib/quantization/tools:quantize_graph** with the latest code, it report error: can't not find the files.

if you go to **https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/quantization** folder, the files are not here already and there is no **tools** folder.

[2016-11-18 20:00] MInner commented on #206
@ravigarg27 a dumb workaround (if your new values are not `Variables` you're going to optimize over) is to do something conceptually like `A - bool(update!=0)*A + update`, where `update` has same shape as `A` and all not updated entries are equal to 0

[2016-11-18 20:06] ravigarg27 commented on #206
@MInner What I want is something on lines of A[indices, :] = B where A and B are Variables matrices

[2016-11-18 20:12] mrkent opened #5702 "Tensorboard interactive demo is down."
https://www.tensorflow.org/tensorboard/index.html retuns:

[2016-11-18 20:29] civilmanxx commented on #5701
oh, I just see it goes to another folder, tensorflow/tensorflow/tools/quantization/

[2016-11-18 20:29] #5701 closed

[2016-11-18 21:45] ArturoDeza commented on #4196
Agree with the post above (and had the same errors complaining about not finding CUBLAS). I had to close my other tensorflow terminals to re-run a new tensorflow program that is calling a single GPU.

[2016-11-18 21:54] vade commented on #4187
As a data point, configuring TF 0.11.0 source from git (282823b877f173e6a33bbc9d4b9ad7dd8413ada6) for GPU usage specifying '8.0' in the configure script, and using Xcode Command Line Tools 7.3.1 results in the same error

`Executing genrule //tensorflow/contrib/layers:bucketization_op_pygenrule failed: bash failed: error executing command /bin/bash -c ... (remaining 1 argument(s) skipped): com.goo

[2016-11-18 21:55] b0noI commented on #5568
done.

[2016-11-18 21:55] #5568 closed

[2016-11-18 22:01] civilman628 opened #5704 "optimize_for_inference can't remove the nodes"
i just try to train a new inception v2 slim model and freeze . ckpt into .pb file and then run optimize_for_inference to remove the nodes which are not used for inference.

firstly, i output all tensor names after get .pb file, before run **optimize_for_inference**.

- prefetch_queue/fifo_queue
- fifo_queue_Dequeue
- InceptionV2/Conv2d_1a_7x7/depthwise_weights
- InceptionV2/Conv2d_1a_7x7/pointwise

[2016-11-18 22:13] civilmanxx commented on #5704
such as get .pb file and predict a single image by using **classify_image.py**

[2016-11-18 22:42] lukaszkaiser commented on #5673
shuvrobiswas@: you ask if it the shape of the embedding is [embedding_size x input_size], right?

The answer is no. It's [num_encoder_symbols x embedding_size] -- because every symbol (e.g., word) needs to be embedded into a dense vector of size embedding_size. It's dimensionality reduction only in a certain sense -- most importantly, it's going from a sparse space of size num_encoder_symbols to

[2016-11-18 22:42] #5673 closed

[2016-11-18 22:52] yagnasrinath opened #5705 "bazel 0.4 support for tensorflow"
I am trying to build the tensorflow from source. I get errors like "bazel-out/host/bin/external/grpc/grpc_cpp_plugin: program not found or is not executable". But builds successfully. If bazel 0.4 is not supported, its a documentation bug here https://www.tensorflow.org/versions/r0.11/get_started/os_setup.html to mention that bazel latest version should be downloaded. I could successfully build wi

[2016-11-18 23:09] shuvrobiswas commented on #5673
@lukaszkaiser Thanks for the response, I agree the shape of the embedding is of course [num_encoder_symbols x embedding_size]

In the docstring it says "model first embeds encoder_inputs by a newly created embedding (of shape
  [num_encoder_symbols x input_size])". I interpreted that as talking about taking encoder_inputs and then getting the corresponding dense vector representation of those enco

[2016-11-18 23:36] keveman commented on #5543
Sorry for the late response. Constant folding is conservative (perhaps overly) in what it replaces. In your case, since the original node had an outgoing control dependence, it didn't get replaced. Note that the analysis to decide whether that is safe to do is somewhat non-trivial. We have to determine whether that node is control dependent on a stateful node. We chose to let it be conservative. I

[2016-11-19 00:10] #5704 closed

[2016-11-19 00:21] nmduc commented on #288
@edgarriba nn.top_k is an evaluation op. Evaluation ops are non differentiable so the answer is no.
You can read a bit more here: https://www.tensorflow.org/versions/r0.11/api_docs/python/nn.html#top_k

[2016-11-19 00:24] girving commented on #288
@nmduc @edgarriba Looks differentiable to me: https://github.com/tensorflow/tensorflow/blob/43346a1c81d503f0f764e09bb2f12e31a793a168/tensorflow/python/ops/nn_grad.py#L525

[2016-11-19 00:51] rmlarsen commented on #5231
Update: The code is out for review. I expect it to land sometime next week.

[2016-11-19 02:02] auxsophia commented on #2626
As said above, this solved my issue. In my case, I edited my ./bashrc file in the home directory by appending `/usr/local/cuda/extras/CUPTI/lib64` to the LD_LIBRARY_PATH.

`export LD_LIBRARY_PATH=${CUDA_HOME}/lib64:$LD_LIBRARY_PATH:/usr/local/cuda/extras/CUPTI/lib64`

I got this error after following the [TensorBoard Tutorial](https://www.tensorflow.org/versions/r0.11/how_tos/summaries_and_tensorb

[2016-11-19 02:10] anthonyyuan opened #5707 "AttributeError: type object 'NewBase' has no attribute 'is_abstract' when I have update SIX"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Library/Python/2.7/site-packages/tensorflow/__init__.py", line 23, in <module>
    from tensorflow.python import *
  File "/Library/Python/2.7/site-packages/tensorflow/python/__init__.py", line 98, in <module>
    from tensorflow.python.platform import test
  File "/Library/Python/2.7/site-packages/tensorflow/python/

[2016-11-19 02:28] jkschin commented on #5191
Just tried v0.11.0. Doesn't work. Seems to work on master and it's building now.

[2016-11-19 03:03] nateypants commented on #2922
I followed the suggestion by @ilblackdragon to pass a callable function, however, it still results in the same Traceback (TypeError: Expected binary or unicode string, got <function exp_decay at 0x11e9fc410>) once fit is called. Replacing exp_decay with a float works. Does not appear to be working.

Relevant code:
`X_train,y_train,X_valid,y_valid,X_test,y_test,_,_ = loadData()

feature_columns = l

[2016-11-19 06:18] #5627 closed

[2016-11-19 07:09] Mistobaan commented on #1702
Is this issue fixed?

[2016-11-19 09:34] nmduc commented on #288
@girving Good to know. Thanks.
Then the doc should be changed not to make confusion.

[2016-11-19 10:18] guotong1988 commented on #1702
@Mistobaan  Yes, fixed

[2016-11-19 11:56] leslietso opened #5715 "Problems importing Tensorflow to PyCharm and IDLE"
I am currently trying to use Tensorflow on PyCharm and IDLE. However, whenever I try to import Tensorflow (import tensorflow as tf), I get the following error:

[code]

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

From looking around online, it seems that I need to install cuda on my machine. However, I do not have a NVIDIA graphics

[2016-11-19 12:10] leslietso commented on #5715
Please ignore. Somehow I had managed to install the wrong version of Tensorflow.

[2016-11-19 12:10] #5715 closed

[2016-11-19 13:02] zuoxingdong opened #5716 "Universal dataset generation toolkit ?"
Is it feasible to add a build-in universal tool to create a TF dataset from raw source data, e.g. `dataset = tf.CreateDataSet(..RAW_SOURCE_PATH..)`, and then can use it like `dataset.train.next_batch, dataset.validation.epochs_completed` etc..

[2016-11-19 13:28] thirumalaipm opened #5717 "How to install Tensorflow on Python3 (using Bash on Ubuntu on Windows)"
Hi,

I have Bash on Ubuntu on Windows (on Windows 10) also I have python 2.7, 3.4 and 3.5 installed. When I follow below url to install tensor flow it installs in python 2.7 only.

http://www.hanselman.com/blog/PlayingWithTensorFlowOnWindows.aspx

I want to install tensorflow on Python 3.5. Please let me know how to install the same. To move to python 3.5, I use python3.5 on the Bash command promp

[2016-11-19 14:33] lagoon0o0 opened #5719 "[FEATURE REQUEST]Calculate topK on GPU with k-selection algos"
Hi,
I am currently using [tf.nn.top_k](https://www.tensorflow.org/versions/r0.11/api_docs/python/nn.html#top_k) in my code. However, I found this operation is calculated on CPU and it is quite slow.
So I am wondering if it is possible to calculate topK on GPU?

Here are the papers and cuda codes about k-selection on GPU:
http://www.math.grin.edu/~blanchaj/Research/ABGS_KSelection.pdf
https://code.

[2016-11-19 15:55] #1702 closed

[2016-11-19 16:49] ebrevdo commented on #5676
Yes on Monday.

On Fri, Nov 18, 2016 at 11:12 AM, Geoffrey Irving <notifications@github.com>
wrote:

[2016-11-19 17:52] leslietso opened #5720 "freeze_graph not working as expected"
I am currently attempting to export a protobuf file to Android. To do that, I generated a .pbtxt file using http://pastebin.com/HcWA0xMQ to run freeze_graph on. I saved the protobuf file as text because when I try to save it as binary and run it with freeze_graph, I get the following error:

[code]

After generating the frozen graph with the .pbtxt file, I tried to run it on Android but for some r

[2016-11-19 23:11] ilblackdragon commented on #2922
Oh, this should work:
[code]
or just:
[code]

[2016-11-19 23:29] nmiculinic opened #5722 "Async prefetching queue data on GPU"
For example look at te following code:
[code]

```fifo_queue``` holds all its variable and data in RAM, that is on CPU since there's no GPU kernel for it (nor for any other queue that I'm aware of.

However upon running:
[code]

There's a huge bottleneck for dequeuing and copying data from CPU to GPU which could be done async. Here is example of timeline: http://imgur.com/a/1cGHf

How can I tell t

[2016-11-19 23:56] alphamule commented on #4640
With @Gubarev 's commit, it looks like we now build properly in Sierra.  But, I get a weird runtime error now when I try to run the benchmark or the simple app in the simulator (I'm assuming the camera app is failing because it can't get camera input in the simulator).  Benchmark crashes with this output:

[code]

This is on latest master and I made sure to re-run ```tensorflow/contrib/makefile/do

[2016-11-19 23:57] ipeerbhai commented on #3017
I just ran into the same missing file on Windows when building.  Bazel isn't one of the Windows requirements, so how do I generate the file on that platform?  CMAKE/SWIG don't return any errors, and only when building with MSBuild do I see image_ops.h and array_ops.h as missing.

[2016-11-20 02:19] girving opened #5726 "Don't imply top_k is nondifferentiable"
`top_k` is in the [`Evaluation`](https://www.tensorflow.org/versions/master/api_docs/python/nn.html#evaluation) section of the documentation, which says

This is confusing, since `top_k` is differentiable.  Pointed out by @nmduc: https://github.com/tensorflow/tensorflow/issues/288#issuecomment-261703608.

[2016-11-20 05:02] kohaugustine opened #5728 "Get "argv" error when trying to run mnist_softmax.py example"
Hi,

I am trying to learn tensorflow from the tutorial on [MNIST](https://www.tensorflow.org/versions/r0.11/tutorials/mnist/beginners/index.html). I already have tensorflow installed on my system through conda and have been able to import tensorflow without any problems. Interaction with my GPU is fine when I ran code samples from research paper repositories.

To do so, I cloned the entire tensorf

[2016-11-20 05:50] vrv commented on #5728
Try checking out the version of mnist_softmax.py at the branch of the version you have installed.  E.g., if you have r0.11 installed, check out the version of mnist_softmax.py in the r0.11 branch of git.  That should hopefully solve your problems.  Please ping this thread if you feel there's something more to this.

[2016-11-20 05:50] #5728 closed

[2016-11-20 06:41] FlorinAndrei opened #5729 "Feature request: Please release an official binary for Raspberry Pi"
The Raspberry Pi is an excellent platform for robotics and automation. The native camera also makes a great combo for portable / embedded / robotics computer vision. Having TensorFlow available on this platform would really open up a lot of options in this context.

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

none

### Environment

[2016-11-20 06:46] BrannonKing commented on #18
Having the C# wrapper use the C API through DllImport is the right approach. I have written many such things (having had to interface with Matlab-exported C a number of times). You can see something of my similar work here: https://github.com/BrannonKing/NLoptNet . I'm willing to work on it. Now I just need a Windows DLL.

[2016-11-20 07:24] kohaugustine commented on #5728
Thank you very much @vrv , this solves it!

[2016-11-20 08:11] aht opened #5730 "tf.nn.elu returns NaN"
I am using a fairly straight-forward FFN with ELU activations, and getting all NaN from the network output.

This comes in the 4th training epoch so the data did not have any NaN.

### Environment info
Operating System: Mac OS X 10.12.1

Installed version of CUDA and cuDNN: N/A. I'm using CPU version.

tensorflow version: 0.11.0rc2

### If possible, provide a minimal reproducible example (We usual

[2016-11-20 08:13] HggsHntr commented on #5688
I guess it might be memory issue after all.
I set config.gpu_options.allow_growth = True and traced the memory consumption of the GPU. It raised to the maximum before it crashed.
Also, by changing the stride size to 4 in each direction, or reducing the image size the crash disappear.
So I wonder if this large memory consumption in done intentionally or is it a bug.

[2016-11-20 08:58] Sraw opened #5731 "Hope intermediate state in dynamic_rnn"
To implement a attention machine, I need the intermediate state to calculate the attention, but dynamic_rnn doesn't return the intermediate states but only final state.
Hope the dynamic_rnn could return intermediate states so that we can implement a attention machine with dynamic network.

[2016-11-20 09:12] aht commented on #5730
I am using MSE loss and the targets do not have NaN. This is evidenced by the fact that the training went thru 3 epochs without any issues.

Removing `activation_fn=tf.nn.elu` makes the problem goes away. Replacing with tf.nn.relu also works.

[2016-11-20 11:16] tomrunia commented on #5722
Relevant: https://github.com/tensorflow/tensorflow/issues/3009

[2016-11-20 12:28] akors commented on #3267
@danmane any update on this?

[2016-11-20 12:33] MrJaqbq commented on #5549
@asimshankar yeah, you were right, my bad.
``libtensorflow.so`` was built on the environment I described earlier, but ``tensorflow/go/op`` was generated on other machine. I rearranged my setup to build everything in one place.
Now unresolved references to stl are gone, but I'm getting another error:

[code]

Commit hash: ``77bb8d4c20ecb87a3988b24cf4c3f39e6dd78a34``

New environment ``ubuntu xenial

[2016-11-20 12:46] hkkatti commented on #877
word2vec.py goes through without any error on IPython . Then How to run or test the model Ex: giving France, Paris...Russia..to . It does not prompt for inputs..

katti

[2016-11-20 13:06] h4ck3rm1k3 opened #5732 "infinite symlink expansion detected"
Hi All,
just starting to learn to build this thing, must be some noob error. Any advice would be appreciated.

[code]

[2016-11-20 14:04] lukasz-pyrzyk opened #5733 "Segmentation violation error after call to the go._Cfunc_TF_NewSession"
The error repeats locally after manual build of the Tensorflow and in the docker container, based mostly on the [Dockerfile.devel](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/docker/Dockerfile.devel)

### Exception:

[code]

### Container details:
[code]

[code]

[code]

[code]

[2016-11-20 17:01] igerard commented on #22
Thank you for the answer, I will go back on the subject at work this week, with specific scripts.

My use cases are around text/syntaxic matching analysis, using Gensim and Keras/tensorflow in my experiments.

[2016-11-20 17:31] asimshankar commented on #5549
@MrJaqbq : Is it possible that you did a `git pull` in  between building `libtensorflow.so` and running `go generate`? Because `TF_Version` in the C library and `Version` in the Go API were introduced in commit https://github.com/tensorflow/tensorflow/commit/a374ea13c0c7b9598b5ada851b43655f895a578e So if you built the library on one side of this commit and the Go API on the other, then it would fa

[2016-11-20 17:36] asimshankar commented on #5549
Also, if that isn't the case, can you `git pull` to get the latest code and retry? (I'm wondering if the missing `extern` in the declaration of `TF_Version` in the C API is causing trouble. It was added soon after, but perhaps you just happened to snapshot the codebase in an unfortunate state)

[2016-11-20 20:34] weinbe58 opened #5735 "einsum: "ij,ji->" rasing error."
Hi I'm running Linux-64 bit os and I'm getting the following error after running:

[code]
`AssertionError: Indices have incorrect format: ij,ji->` Clearly the result here should be 3.

[2016-11-20 20:48] Hwhitetooth opened #5736 "Training Cifar10 on two GPUs crashed."
### Environment info
Operating System:16.04.1 LTS (Xenial Xerus)

Installed version of CUDA and cuDNN: 8.0 and 5.0.5
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
-rw-r--r-- 1 root root   558720 Nov 19 10:33 /usr/local/cuda/lib64/libcudadevrt.a
lrwxrwxrwx 1 root root       16 Nov 19 10:33 /usr/local/cuda/lib64/libcudart.so -> libcudart.so.8.0
lrwxrwxrwx 1 root root       19 Nov

[2016-11-20 22:01] ulgus commented on #1021
If I get this code right, the fix works for evaluation purposes only (i.e., computing top-k-error). Is there a way to extract the bottleneck vectors themselves (pool_3:0) in a batched fashion?

Cmp. this thread, for example: http://stackoverflow.com/questions/35274457/inceptionv3-and-transfer-learning-with-tensorflow/40709836#40709836

Thanks in advance -

[2016-11-20 22:03] drpngx commented on #5735
It works in the current version. What version are you using?

[2016-11-20 22:06] weinbe58 commented on #5735
I'm using version 0.11.0

I installed it via pip and https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.11.0-cp27-none-linux_x86_64.whl

[2016-11-20 22:10] drpngx commented on #5735
`tf.einsum` is relatively recent and was not fully baked in `0.11`. Please try a newer version.

[2016-11-20 22:10] #5735 closed

[2016-11-20 23:23] vade opened #5737 "quantize_graph contrib tool cannot import name load_quantized_ops_so"
Attempting to run quantize graph via
`bazel-bin/tensorflow/contrib/quantization/tools/quantize_graph --input=/path/to/graph --output=/path/to/quantized_graph --output_node_names="name" --mode=eightbit`

results in

`line 41, in <module>
    from tensorflow.contrib.quantization import load_quantized_ops_so
ImportError: cannot import name load_quantized_ops_so
`

### Environment info
Operating Syste

[2016-11-20 23:23] shirriff opened #5738 "tf.sub error message for bad types is confusing"
tf.sub() displays a strange error message if the types don't match:
TypeError: DataType uint8 for attr 'T' not in list of allowed values: float16, float32, float64, int32, int64, complex64, complex128

It's unclear what attr 'T' is.

Expected behavior:
for tf.add(), tf.mul(), tf.div(), the message makes sense:
TypeError: Input 'y' of 'Add' Op has type int64 that does not match type uint8 of argume

[2016-11-20 23:33] weinbe58 commented on #5735
Ok I have installed v0.11.0rc2-py27_0 using conda and its still giving me the same error.

[2016-11-20 23:40] drpngx commented on #5735
`0.11rc2` is earlier than `0.11`, you need `0.12`.

[2016-11-20 23:53] michaelhuang74 commented on #5458
While convert python code to C++ code, we find that the python code uses several python APIs such as tf.nn.tanh, tf.nn.conv2d, tf.nn.relu, tf.nn.moment, tf.nn.conv2d_transpose.

Where in the tensorflow repository can I find the C++ implementation for the above python APIs? Thanks.

[2016-11-21 00:12] weinbe58 commented on #5735
Is 0.12 released yet? I can't get it via anaconda. If not I can work around it.

Thanks

[2016-11-21 00:19] drpngx commented on #5735
My bad, not released yet. You could grab `tensorflow/python/ops/special_math_ops.py` from [HEAD](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/special_math_ops.py#L96).

[2016-11-21 02:33] #5663 closed

[2016-11-21 02:35] vade commented on #5737
This appears fixed in master. Thanks - sorry for the noise.

[2016-11-21 02:35] #5737 closed

[2016-11-21 02:50] Viscoo opened #5740 "Problem at Tensorflow/Model/Compression"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

https://github.com/tensorflow/tensorflow/issues/4772
tensorflow/models/compression does not work,but his problem was not same to me.
### Environment info
Operating System:

Ubuntu 14.04
tensorflow cpu-only version:0.8.0

### If possible, provide a minimal reproducible example (We usually

[2016-11-21 02:52] ahmedammar commented on #5415
@caisq yup that fixes it for me

[2016-11-21 03:21] #5428 closed

[2016-11-21 03:37] igerard commented on #22
I am wiling to help you for testing

I hava a Windows PC with an AMD card
A MBP with an AMD card
An MB with an Intel integrated GPU

[2016-11-21 03:58] fengsky401 commented on #5493
@smistad use chrome, it wil be solved

[2016-11-21 06:00] bc-lee opened #5741 "Python API Docs broken at r0.11"
#4969 isn't fixed at branch r0.11.
https://www.tensorflow.org/versions/r0.11/api_docs/python/state_ops.html#constant_initializer

[2016-11-21 06:59] masanao-miyamoto opened #5742 "TypeError: ones_initializer() got multiple values for keyword argument 'dtype' when execute the inception_train"
## Exception:

[code]

I think recently changes of tensorflow.python.init_ops influence to this issue.

## [init_ops.py](https://github.com/tensorflow/tensorflow/commit/cfb2280d3f6ced298681bd1141479a59a06abde8)
[code]

## [variable_scope.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/variable_scope.py#L665)

[code]

`lambda:initiallizer` calls with three parameters.

[2016-11-21 07:22] ttytt1978 commented on #5643
How to checkout the r0.11branch? my system is Ubuntu 16.04 LTS. Thanks.

[2016-11-21 08:26] anujsharma1 commented on #5742
@masanao-miyamoto That's correct !! I am having same error too.. please [have a look here](https://github.com/tensorflow/models/issues/672)

[2016-11-21 09:10] kristinemaeadlaon commented on #600
Hi Everyone! Please help. I encountered this error while trying to train the Seq2Seq model for MT using tensorflow... What's the cause of this?

![image_06](https://cloud.githubusercontent.com/assets/14288194/20476655/0b377cd2-b00d-11e6-9fa0-6f4c26b028ed.JPG)

[2016-11-21 09:12] kristinemaeadlaon commented on #600
Also, If I may ask, what's the minimum hardware requirement to be able to successfully train the model?

[2016-11-21 10:01] jkschin opened #5744 "Unable to run cifar10_multi_gpu_train as is in TensorFlow master"
Ubuntu 14.04
commit used: a154b6a7826760f30e368e84f51048218002d376

Simply changed num_gpus to 2. I have 2 GPUs. A 1060 and 970. Shows this error:

`ValueError: Variable tower_1/tower_1/conv1/weight_loss/avg/biased does not exist, or was not created with tf.get_variable(). Did you mean to set reuse=None in VarScope?`

[2016-11-21 10:01] DavidNorman commented on #5543
I see the problem.  My case isn't really a performance issue, per se. I am trying to implement a device on TF for our new hardware.  The extra nodes of integer math are getting in the way of the initial bring-up.

If there are stateful nodes in the graph, then why does the constant tree finder consider them acceptable to be within the constant tree?  Isn't the constant that is generated (there is

[2016-11-21 10:21] DavidNorman opened #5745 "Constants are placed on a device when they do nothing but feed off-device nodes"
I have created a device that supports integer constant tensors (because I would like to be able to support the inputs to reshape etc...), but not the integer maths operators (because I'm not going to accelerate those initially).

The gradient generation logic creates trees of integer maths.  The constants for this maths are placed on the device, while the maths nodes themselves are placed on the C

[2016-11-21 10:26] DavidNorman opened #5746 "Optimization occurs after graph is partitioned across devices"
The optimization (sub-expression, constant folding) of the graphs takes place after partitioning. While this is important, it prevents optimization of logic that is split across devices by an unfortunate placement decision.

In my simple example, constants are assigned to my device graph, and the downstream maths nodes are assigned to the CPU.  Consequently, parts of the graph where constant foldi

[2016-11-21 10:49] h4ck3rm1k3 commented on #5732
These were strange symlinks,

 1106  ls -latr /usr/bin/X11
 1107  sudo rm /usr/bin/X11
[code]

 1108  ls -latr /usr/lib/x86_64-linux-gnu/hdf5/serial/lib
[code]
 1109  sudo rm  /usr/lib/x86_64-linux-gnu/hdf5/serial/lib

[2016-11-21 10:49] h4ck3rm1k3 commented on #5732
removing those the errors go away

[2016-11-21 11:00] #5732 closed

[2016-11-21 11:02] aselle commented on #5415
The tag fight was due to a bug in github that marked the "awaiting response" as coming from the original poster rather than the person that did it (me).

[2016-11-21 11:06] marteiro commented on #5643
Use "-b r0.11" with Git clone!

[2016-11-21 11:15] huangshenno1 commented on #4545
@tatatodd removing the parameter `num` will cause a `ValueError: Cannot infer num from shape` and cannot solve anything.
I'm now having the same problem when trying to use `tf.unpack`. Could anyone give an effective solution to  this?

[2016-11-21 12:31] Antonio95 commented on #5667
As soon as you make a decision I'll be happy to try and learn how to solve the issue

[2016-11-21 12:57] martin-gorner opened #5747 "Unable to use GPU with Tensorflow 11.0 (regression from 11.0rc2)"
Cannot run convolutional network on GPU using TF 11.
It works fine under TF 11rc2. This looks like a regression.

Issue #5555 indicated to install cudnn 5.1. I checked and that is what I appear to have. cudnn.h lists 5.1 as the major/minir version. I also compared the binary file libcudnn.5.dylib downloaded from NVIDIA with the one I have in /usr/local/cuda/lib and they are the same.

### What rel

[2016-11-21 13:16] Gubarev commented on #4640
@alphamule
I just have built latest TF from scratch (c7edafccc793bf87e29aaec90db64471a7a4bb02). I have not tried example camera app, but I have tried to build and run my own app: it works both for ARM64 iOS device (iPad Air 2) and x86_64 Simulator (iPhone 5s) without problems.

[2016-11-21 14:06] devashishshankar commented on #5341
Had the same issue with both 0.11 and 0.11 RC2. @scanyameres's workaround worked for me.

[2016-11-21 14:13] sjperkins commented on #4535
Has this implemented for single session in 0.11.0? The documentation implies that the queue reset mechanism suggested on [SO](http://stackoverflow.com/questions/39204335/can-a-tensorflow-queue-be-reopened-after-it-is-closed) (reset queues in a resource container, needs distributed session) is still the way to do it.

[2016-11-21 14:15] zhanghan328 commented on #5591
![6239a9335826955468832cd8f76b6bc7](https://cloud.githubusercontent.com/assets/16316669/20485643/7b3a5282-b037-11e6-9480-86ecd5035376.jpg)
I probably have the same problem.  I could import tensorflow perfectly but in spyder2.7 there are mistakes above:
Couldn't open CUDA library libcudnn.so. LD_LIBRARY_PATH. Who can help me ?

[2016-11-21 15:08] zhanghan328 commented on #5659
![6239a9335826955468832cd8f76b6bc7](https://cloud.githubusercontent.com/assets/16316669/20487705/75186bd4-b03f-11e6-9ee0-77bbe703e148.jpg)
I probably have the same problem. I could import tensorflow perfectly but in spyder2.7 there are mistakes above:
Couldn't open CUDA library libcudnn.so. LD_LIBRARY_PATH. Who can help me ?

[2016-11-21 15:15] nasrinpour commented on #5681
Hey,

For some reason the python35.lib file was corrupted (maybe a mismatch version). I reinstalled it using the [python 3.5.2 amd 64 bit](https://www.python.org/ftp/python/3.5.2/python-3.5.2-amd64.exe). Now it works. Thanks for your hint. I'll see if I can get a 32bit version working :)

[2016-11-21 15:18] mrry commented on #5681
That's great to hear - thanks for following up!

I'll close this issue now, but please feel free to open another one if you run into any more problems.

[2016-11-21 15:18] #5681 closed

[2016-11-21 15:19] snarb opened #5748 "Bazel build on Windows fails with "Can't do inplace edit without backup." error."
### Environment info
Operating System: Windows 10

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):  No

If installed from source, provide

1. The commit hash (`git rev-parse HEAD`)  - c7edafccc793bf87e29aaec90db64471a7a4bb02
2. The output of `bazel version`: 0.4.0

### If possible, provide a minimal reproducible example (We usually don't have t

[2016-11-21 15:53] dominikandreas commented on #1122
Just wanted to note that I also have the problem of poor test performance, specifically using small batch sizes (anything smaller than 10 instead of the 200 I used for training diminishes test accuracy). I've used a tf.placeholder to switch between testing/training mode.

It's great that this batch normalization layer works for better training convergence, but if you can't apply the model in produ

[2016-11-21 16:06] ttytt1978 commented on #5643
Can solve this problem by Update Tensorflow to new version? How to update Tensorflow to new version?

[2016-11-21 16:07] ttytt1978 commented on #5643
@marteiro Thanks,it worked.
Can solve this problem by Update Tensorflow to new version? How to update Tensorflow to new version?

[2016-11-21 16:18] jayhwan91lee commented on #5742
thanks for the code references,
I could temporaily fix this issue by reverting 'ones_initializer' back to the previous version

[2016-11-21 16:21] cwhipkey commented on #5470
This change was pushed as this commit:
https://github.com/tensorflow/tensorflow/commit/662533b85c66f198b779bea147397e1441f3e482

On Thu, Nov 17, 2016 at 9:23 PM, Abhinav Dadhich <notifications@github.com>
wrote:

[2016-11-21 16:25] girving commented on #5659
@TatsujiNakayama Unfortunately I don't think this is enough information for us to debug.  Can you run `otool -L` on the TensorFlow library to see what it's linking against?

@zhanghan328 That isn't the same problem, so please don't post it in this thread.

[2016-11-21 16:35] TatsujiNakayama opened #5751 "failed sess.run error "Cannot feed value of shape (50, 2352) for Tensor 'Placeholder:0', which has shape '(?, 784)'""
Hi
Please Help me...
I learning to tensorflow using my own data based on tutorial expert.
following my code:
[code]

[code]

[code]

[code]
but when I try to run it I gives me an error:
`ValueError:Cannot feed value of shape (50, 2352) for Tensor 'Placeholder:0', which has shape '(?, 784)'`

I feel like i'm overlooking something small but I don't see it.

[2016-11-21 16:46] #5470 closed

[2016-11-21 16:54] TatsujiNakayama commented on #5659
@girving
following otool command is right?
`otool -L  ./lib/python3.5/site-packages/tensorflow/python/_pywrap_tensorflow.so`

is Result:
[code]
Thanks

[2016-11-21 17:05] prb12 commented on #5751
This is a general usage question best suited to StackOverflow.  Could you please ask your question there.

[2016-11-21 17:05] #5751 closed

[2016-11-21 17:11] prb12 commented on #5746
This makes a lot of sense to me.  There are also a number of places where constant folding doesn't quite do what is expected (e.g. int32 tensor arithmetic on non-CPU devices).

[2016-11-21 17:15] prb12 commented on #5745
There is some logic in the constant folder which treats int32 ops differently when assigned to non-CPU devices.  This can be a pain when adding new device types and should probably be improved.

We should also probably take a look at the interaction of constant folding (and other optimizations) with the the two graph partitioning stages.

[2016-11-21 17:18] girving commented on #5659
@TatsujiNakayama Yeah, that's what I meant, but I do not remember how to interpret the `@rpath` result.

@jart Any ideas?

[2016-11-21 17:19] maccam912 commented on #5748
I had this issue when I was trying to use the perl I installed on windows. Once I 'pacman -Syu perl' on msys2, this issue was fixed for me.

[2016-11-21 17:22] prb12 commented on #5741
Closing as duplicate of #4969

[2016-11-21 17:22] #5741 closed

[2016-11-21 17:23] gunan commented on #5747
@yifeif @caisq Is it possible our GPU-mac testing fleet has inconsistent CuDNN versions installed?
That is the only explanation I can see.

[2016-11-21 17:32] prb12 commented on #5744
Please can you provide all of the information requested in the issues template.

[2016-11-21 17:35] sguada commented on #1122
I can confirm that test performance is good when using is_training=False with small batches and even with batch_size=1, since it is not using statistic from the batch, but the statistic learnt during training. Just need to make sure that the statistics have converged with default decay=0.999 that implies at least 50k updates.

[2016-11-21 17:38] ptrendx commented on #5744
@prb12, @jkschin This is a duplicate of #5652

[2016-11-21 17:41] prb12 commented on #5742
This is not a TensorFlow bug, but a breaking change to the API which was introduced 11 days ago in this commit: https://github.com/tensorflow/tensorflow/commit/cfb2280d3f6ced298681bd1141479a59a06abde8

I assume that you are using a nightly build of TensorFlow?

The inception model hasn't been updated to use the new API yet. @shlens

[2016-11-21 17:41] xtr33me opened #5752 "Tensorboard - Black box for graphs after upgrading to TF 0.11"
![tensorboard_issue_0 11](https://cloud.githubusercontent.com/assets/1653419/20492832/46047212-afe4-11e6-8eb0-2938e86390ea.png)

I am currently getting a black box where a graph should be when using Tensorboard. I was previously running TF 0.9 and upgraded last night to 0.11 via the pip link below. When I hover over the black box I do see the onHover messages displaying valid values, but I just ca

[2016-11-21 17:55] xtr33me commented on #5752
I would love to know why this is happening still in FF should anyone have any answers, but I just found that this is working fine in Google Chrome.  I am going to close this since I do have a solution.

[2016-11-21 17:55] #5752 closed

[2016-11-21 17:56] caisq commented on #5747
mac1-slave has CUDNN 5.0.5 (5005), as seen in in /usr/local/cuda/include/cudnn.h

[2016-11-21 18:00] gunan commented on #5747
We should upgrade that to 5.1, and rebuild our pip packages with 5.1

[2016-11-21 18:01] eliben commented on #5523
Based on this input and other considerations, we've decided to restrict the semantics of XLA's Dot operation to 1D and 2D arrays in the initial release. We may consider expanding it to higher dimensions in the future, and at that point we'll be considering different possible semantics. For the time being, however, this issue can be closed.

Thanks for the feedback!

[2016-11-21 18:01] #5523 closed

[2016-11-21 18:04] shlens commented on #5742
The issue seems to be a duplicate of this [issue](https://github.com/tensorflow/models/issues/672) due to an API change. @itsmeolivia Would you be able to take a look?

[2016-11-21 18:10] sirgogo commented on #492
Similar problem here. I'm not training on a GPU, but my machine has 64gb RAM. I have to adjust the batch size, or else I get a `Segmentation fault (core dumped)` error on the optimizer (backprop) step.

However, monitoring the RAM usage (e.g. htop), it never crawls above 4GB. So I am inclined to believe this is a bug with tensorflow overestimating the memory required. Backprop should scale linearl

[2016-11-21 18:11] prb12 commented on #5740
Please can you report this issue in the tensorflow/models repository, clearly labelling the issue '[Compression]' and providing sufficient information to reproduce (e.g. at least OS version, TensorFlow version and all necessary command lines)

[2016-11-21 18:11] #5740 closed

[2016-11-21 18:35] prb12 commented on #5738
The error message isn't saying that the types don't match.  It is saying that the Sub operator doesn't accept uint8 for either operand.

Add supports these types: https://github.com/tensorflow/tensorflow/blob/754048a0453a04a761e112ae5d99c149eb9910dd/tensorflow/core/ops/math_ops.cc#L518
Sub supports these:
https://github.com/tensorflow/tensorflow/blob/754048a0453a04a761e112ae5d99c149eb9910dd/tensor

[2016-11-21 18:43] prb12 commented on #5736
This is most likely a compatibility issue between the cifar10 model and the latest source.  (there have been some API changes recently).

@shlens Could you please take a look?

[2016-11-21 19:15] cbockman commented on #5147
Is there a recommended way to handle this right now, strictly within tensorflow?  Or is the answer to wait for https://github.com/tensorflow/tensorflow/pull/5463 to get completed.

I.e., to use tf.train.shuffle_batch to get inputs--e.g., sentences--of varying lengths, and then pad them (as if dynamic_pad=True was passed)?  I'm unclear if the dynamic padding operation can be elegantly implemented f

[2016-11-21 19:23] prb12 commented on #5722
As you say, queues are currently only implemented on CPU and cannot cross devices.

If you don't have any useful computation which can happen while the *async* transfer D2H is in progress then the only way to overlap this transfer would be to do it in a different call to session.run and store the result in some sort of variable.  However, this would rely on coordination between steps

The only sta

[2016-11-21 19:27] danmane commented on #5702
The demo was deliberately turned off.
The new website is supposed to display a nice message explaining that the demo is gone, but transition to the new website has been slow. I'll check if we're going to switch soon, and if not we'll put a better warning message.

[2016-11-21 19:27] #5702 closed

[2016-11-21 19:28] prb12 commented on #5717
I'm afraid this is not a supported configuration.

Please consider posting your question to StackOverlfow, or even to Scott Hanselmann's blog.

[2016-11-21 19:28] #5717 closed

[2016-11-21 20:19] danmane commented on #5752
@xtr33me I've found the issue in Firefox. It will be fixed in the 0.12 release.

[2016-11-21 20:20] prb12 commented on #5707
Please could you provide the information requested in the issue reporting template.

[2016-11-21 20:35] markusdr commented on #600
You probably need 12GB or more. You can also try using fewer layers and/or smaller layers, and smaller batch sizes, if it's running out of memory.

[2016-11-21 20:38] prb12 commented on #5695
This is a general TensorFlow usage question best suited to StackOverflow.  Please can you re-ask your question there.

[2016-11-21 20:38] #5695 closed

[2016-11-21 20:46] prb12 commented on #5688
@zheng-xq Is there any possible issue with GPU convolution scratch space?  (e.g. can the autotuner selects an algorithm based on available memory and then fail later on)

[2016-11-21 20:50] prb12 commented on #4769
Please can you supply the information requested in the tensorflow issues template.

[2016-11-21 20:53] vade opened #5757 "CPU slowdown with Quantized Eight bit graphs"
In attempts to highly optimize my Tensorflow client application (and TF install) for consumer desktop hardware i've noticed (and noticed in other bug reports) that quantized eight bit graphs appear to run very slow.  My goal is to match the realtime 1 batch (1 x 299 x 299 x3 ) iOS performance that the Camera Example gets, yet I can't get a Desktop CPU compile of TF to get lower than roughly 150ms

[2016-11-21 20:55] prb12 commented on #5744
Ok - closing as dup of #5652

[2016-11-21 20:55] #5744 closed

[2016-11-21 20:59] vade commented on #5757
Note  - before any one asks, compiling libtensorflow_cc.so with simpler bazel build flags like :

`bazel build -c opt --copt=-mavx //tensorflow:libtensorflow_cc.so`

Results in similar delta's in performance albeit a few percentage points slower all around. In other words, the phenomena appears to exist regardless of my attempts at optimizing the build.

[2016-11-21 21:04] yaccman opened #5758 "Documentation and error messages for tf.tile, tf.constant leave a lot to be desired"
I noticed that a protocol buffer did the equivalent of
    tf.tile( x, [] )
and wondered what that actually produced (the documentation was completely unhelpful).  So I tried
    x = tf.Variable([1.,2.,3.,4.])
    y = tf.tile(x,tf.constant(2))
to get started, and got the message "ValueError: Shape () must have rank 1".  So I tried
    y = tf.tile(x,tf.constant([2]))
and got the same message(!).  t

[2016-11-21 21:06] lukaszkaiser commented on #600
We're working on making the requirements much lower with dynamic seq2seq, see #4686 -- when that's in, it should be much easier to train such models.

[2016-11-21 21:14] abhitopia opened #5759 "Error running ci_build.sh on docker container mac."
When I run following command to test the ci_build on my mac

`$ tensorflow/tools/ci_build/ci_build.sh CPU bazel test //tensorflow/learn/...`

I get following error -

WORKSPACE: /Users/<username>/tensorflow
CI_DOCKER_EXTRA_PARAMS:
COMMAND: bazel test //tensorflow/learn/...
CI_COMMAND_PREFIX: ./tensorflow/tools/ci_build/builds/with_the_same_user ./tensorflow/tools/ci_build/builds/configured cpu
CON

[2016-11-21 21:18] abhitopia commented on #5759
cc: @vrv, @ebrevdo

[2016-11-21 21:20] asimshankar commented on #5733
@lukasz-pyrzyk : Could you provide some code snippet to reproduce this?

Looking at the stacktrace, I don't see anything obvious in the C API or the Go code (since the Go code does seem to ensure that `TF_NewSession` gets all valid, non-NULL arguments. If that's the case, then the segfault would appear to trigger inside the C++ runtime due to some peculiarity of the input its currently getting. An

[2016-11-21 21:24] yaccman opened #5761 "Documentation for tf.strided_slice is nearly useless"
The documentation for this op could almost be used as a teaching moment for how to not document something.  In order to understand what it does, it is necessary to not only understand in detail how the related numpy op works, but also understand the mapping between the inputs of that op and the inputs of theTensorFlow op, that are totally different -- something that is far from obvious.

Just to i

[2016-11-21 21:29] yaccman opened #5762 "BroadcastGradientArgs is used in protocol buffers but undocumented"
Not too much to say about this.  The op, having two outputs, is far from trivial to figure out from its usage.  It is used in a number of the early TensorFlow tutorials.

TensorFlow .11

[2016-11-21 21:32] zhongyuk commented on #1122
To follow up with TF developer's confirmation, I track the convergence of the statistics with two different `decay` settings (and training batch_size=1). With `decay=0.99`, the statistics converge (bias<0.001) after 550~600 steps of learning/updates. With `decay=0.9`, the statistics converge (biase<0.001) within within 100 steps of learning/updates.

[2016-11-21 21:33] asimshankar commented on #5733
Also, if possible, can you run with `GOTRACEBACK=crash` (see https://golang.org/pkg/runtime/) so the core dump can be inspected in case reproducing it is hard.

[2016-11-21 21:35] abhitopia commented on #5759
Found the culprit.
In this line.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/ci_build.sh#L151

`--name` should be replaces by `-n` ( This also works on Ubuntu)

Should I do a PR ?

[2016-11-21 21:56] yaccman opened #5763 "The TensorFlow operation concat_offset is undocumented"
This shows up in some protocol buffers.  A vigorous search through the source code produced a short comment in some C++ code that gives some hints about its behaviour.  In particular, the word 'cumsum" was used.  There appears to be, at times, a second output argument produced, although I have no idea what that could be except a copy of the first output.

A lot of searching turned up nothing usefu

[2016-11-21 22:14] gregfrank commented on #5349
Even RHEL7 / Centos7 only has libcurl 7.29 as default.  As a result, building from r0.11 source and selecting GCP support during configure will fail when building the pip package.

[2016-11-21 22:52] kostarion opened #5764 "No OpKernel for DepthwiseConv2dNative"
When trying to run inference of tf graph by means of [benchmarking tool](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/benchmark), I'm getting error that indicates absence of [DepthwiseConv2dNative op](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/depthwise_conv_op.cc).

I'm building and running benchmark tool as it described in [Tensorflow Ma

[2016-11-21 22:55] dominikandreas commented on #1122
@sguada thanks, does that also mean the output is actually independent of the batch size? because I'm noticing very slight changes with big impact on my accuracy (maybe my definition of performance is just more easily affected by this slight change). To be precise, all values in my 128 dimensional output tensor increase such that the total vector length scales almost linearly with the batch size.

[2016-11-22 00:09] yaccman commented on #5758
As a PS, one would expect that tiling with a multiple of 0 would give an empty tensor as result.  But in fact, tf.tile(1.,[0]) produces an error "Shape () must have rank 1".  And again, tf.rank([0]) returns 1.

[2016-11-22 00:16] zhongyuk commented on #1122
@dominikandreas If your poor testing performance is caused by statistics not converging, you'd see reasonably good training performance but bad testing performance. Because during training, the batch normalization is done using the training batch statistics only. However, during testing time, it's using the moving average statistics of all the training batches to normalize the input tensor.

[2016-11-22 01:08] #4856 closed

[2016-11-22 01:10] WuTheFWasThat opened #5769 "Misformatted documentation after constant_initializer"
The docs for constant_initializer fail to correctly close a code block in one of the examples.  As a result, many other sections are displayed in raw markdown.

See: https://www.tensorflow.org/versions/r0.11/api_docs/python/state_ops.html#constant_initializer

[2016-11-22 01:24] deeptigp opened #5770 "Documentation of tf.extract_image_patches is incomplete and slightly inaccurate"
Hi,

The documentation of [tf.extract_image_patches](https://www.tensorflow.org/versions/r0.9/api_docs/python/array_ops.html#extract_image_patches) is unclear and slightly incorrect.

1. The function call requires the first 5 parameters to be set and throws an error otherwise.The documentation, however, mentions that they are optional parameters.
2. The "out_rows" and "out_cols" are not defined ma

[2016-11-22 01:38] ttytt1978 commented on #5643
@girving
Can solve this problem by Update Tensorflow to new version? How to update Tensorflow to new version?

[2016-11-22 01:47] marteiro commented on #5643
@ttytt1978
If your are not contributing to the master branch, just use the r0.11. Not much else to hope for.

[2016-11-22 01:58] xwhan commented on #3681
I encountered this problem too. This problem can be solved in a different way.
[https://anaconda.org/jjhelmus/tensorflow](url)

[2016-11-22 02:09] zhangyaobit commented on #5516
I did more CPU profiling and found that the majority of the CPU overhead is actually from the host code inside the conv op, rather than from the executor. The CPU time is distributed across pre- and post- processing steps such as padding and filter transform, as well as in the cuDNN kernel invocation. There doesn't seem to be a single "performance bug" that could be fixed here, but the overall CPU

[2016-11-22 02:19] xtr33me commented on #5752
@danmane Thats awesome news! Thanks for the info

[2016-11-22 02:23] ysulsky commented on #5700
Thanks for bringing this up, but I don't think there's a bug here: the issue is that the data set is split up so that (k-1) words predict the k'th word. So the -1 in that expression leaves room for the label.

[2016-11-22 02:23] #5700 closed

[2016-11-22 02:33] martinwicke commented on #5759
Does that also affect L153?

[2016-11-22 02:34] bc-lee opened #5771 "tf.with_dependencies isn't exposed, but it is used in documentations"
There are some examples that uses tf.with_dependencies (ex. [tf.Assert in r0.11](https://www.tensorflow.org/versions/r0.11/api_docs/python/control_flow_ops.html#Assert)) but tf.with_dependencies isn't exposed to tensorflow module.

### Environment info
branch: master branch $ git rev-parse HEAD => c7edafccc

### If possible, provide a minimal reproducible example
[code]
Related: (https://github.co

[2016-11-22 02:34] caisq commented on #5759
@abhitopia A PR will be welcome!

[2016-11-22 02:43] asimshankar commented on #10
Hello folks, the Go API is in a reasonably usable shape at this point. Graphs can be imported, executed, constructed (using primitives or functions generated from the TensorFlow op definitions etc.).

The API is by no means _complete_, but at this point I'm tempted to close out this generic "Go API" issue with the expectation that as the Go API sees real usage, new issues will be filed with specif

[2016-11-22 02:43] #10 closed

[2016-11-22 02:55] zhangyaobit commented on #5516
@benoitsteiner, here is an interesting example the performance of NCHW and NHWC is about the same, as the CPU is the bottleneck.

[2016-11-22 03:12] yetionyo opened #5772 "could not set cudnn filter descriptor: CUDNN_STATUS_BAD_PARAM"
The version of cuda and cudnn meets the requirement, but still cannot use cudnn properly.

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

### Environment info
Operating System:
Linux version 3.16.0-30-generic (buildd@kissel) (gcc version 4.8.2 (Ubuntu 4.8.2-19ubuntu1) ) #40~14.04.1-Ubuntu

Installed version of CUDA and cuDNN:
(please

[2016-11-22 03:35] ebrevdo commented on #5722
Four options:

1. Don't use queues; batch input yourself each iteration.
2. Run parallel training threads in parallel; while one is reading another is training
3.  Modify a queue to use GPU; not an impossible task but also not fun
4. Improve the performance of existing queues by optimizing the c++ code

TensorArrays are per step objects, thus not useful for this case

[2016-11-22 03:46] honghaoli commented on #5237
Same here!

Followed all the discussion above, also did
`brew uninstall libtool && brew install libtool`

Now my error information is:
`+ HOST_GENDIR=/Users/honghaoli/git_folder/tensorflow/tensorflow/contrib/makefile/gen/protobuf-host
+ ./autogen.sh
Google Mock not present.  Fetching gmock-1.7.0 from the web...
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current

[2016-11-22 03:46] honghaoli commented on #5237
` which libtool
   /usr/bin/libtool`

[2016-11-22 03:50] shirriff opened #5773 "extract_image_patches zeros out data for large images"
I'm reading a large image (7128x5097 pixels) and generating patches with extract_image_patches. Depending on the patch size, some or all of the resulting image is zeroed out. Is there a limit on tensor size that it hits?

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
nothing relevant

### Environment info
Operating System: macOS Sierr

[2016-11-22 03:59] honghaoli commented on #5237
Now it works.

turns out there is already Apple's own `libtool`;
`⇒  brew uninstall libtool && brew install libtool
  Uninstalling /usr/local/Cellar/libtool/2.4.6_1... (70 files, 3.7M)
  ==> Downloading https://homebrew.bintray.com/bottles/libtool-2.4.6_1.sierra.bottle.tar.gz
  Already downloaded: /Users/honghaoli/Library/Caches/Homebrew/libtool-2.4.6_1.sierra.bottle.tar.gz
  ==> Pouring libtool-2

[2016-11-22 04:01] hamidb opened #5774 "per_image_standardization is not recognized"
Hi,
I installed Tensorflow with Python3 using the pip3 installation instructions from Tensorflow official site.
The version I installed is `0.11.0rc2` and I tried to use `per_image_standardization` tensor for normalization purposes. However it turned out that is not recognized, giving the following error:
[code]
Has this error ever observed by someone else?

[2016-11-22 04:55] bc-lee opened #5775 "Link to tutorial pages broken"
Hi,

It seems every links to tutorial pages like http://tensorflow.org/tutorials/word2vec/index.md or http://tensorflow.org/tutorials/seq2seq/index.md are broken.

Source: https://github.com/tensorflow/tensorflow/blob/754048a0453a04a761e112ae5d99c149eb9910dd/tensorflow/models/rnn/README.md#L5

https://github.com/tensorflow/tensorflow/blob/754048a0453a04a761e112ae5d99c149eb9910dd/tensorflow/models/

[2016-11-22 05:15] masanao-miyamoto commented on #5742
@prb12, @shlens thanks for your advise.

I understood an API changes.

I tried to fix [model/inception/inception/slim/ops.py](https://github.com/tensorflow/models/blob/master/inception/inception/slim/ops.py#L92) . And successfully execute inception training jobs. Like below

[code]

[2016-11-22 05:29] ebrevdo commented on #5731
You can write a variant of the LSTMCell that returns both state tensors as part of the output, if you need both c and h state for each time step.  If you just need the h state, that's the output of reach time step.

[2016-11-22 05:29] #5731 closed

[2016-11-22 05:42] zhangyaobit commented on #5694
@tomrunia, thanks for filing the issue!

I believe 3D filters including both NCW and NWC could be supported in a similar way to that of convolution: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/layers/python/layers/layers.py#L766

I'll label this as contribution welcome for now.

[2016-11-22 06:13] gunan commented on #5747
We have built and uploaded new pip packages for mac gpu. they should now all be built for cudnn 5.1
Please try redownloading and installing the pip packages.
Also, please reopen the issue if you still see problems.

[2016-11-22 06:13] #5747 closed

[2016-11-22 06:14] gunan commented on #5522
Closing the issue due to lack of debug information, and lack of activity.

[2016-11-22 06:14] #5522 closed

[2016-11-22 06:27] htt210 commented on #5665
Hi girving,
I think this is a bug in the code and you did not understand Syndrone777's question correctly. The code here does not implement any attention mechanism I know.

`      cell_output, state = cell(x, state) # cell_output has the size of batch_size x num_symbols while the correct shape is batch_size x hidden_size

with variable_scope.variable_scope("AttnOutputProjection"):
        output =

[2016-11-22 06:33] agupta74 opened #5776 "Unknown events logged while profiling TensorFlow code using Timeline API"
I am seeing Unknown events being logged in the Trace logs using APIs from Timeline.py module. Is this a known issue and any ideas on how this could be fixed? I could not find any references to this issue on GITHUB or StackOverFlow.

Here is couple of examples of "Unknown" events:

       {
            "name": "MEMCPYHtoD",
            "ph": "X",
            "ts": 19926542594074346,
            "ca

[2016-11-22 06:43] sleepdeprivation commented on #590
I had this issue with version 6.0.8

[2016-11-22 06:48] rashmimargani commented on #5776
Hi agupta74,

can you please specify which PAI did you use in timeline.py and at when you will hit the issue

[2016-11-22 06:58] shastakr commented on #5553
If there exists `tf.cond` (which is switch for train/validation at the same code), it cannot be correctly converted. So I change `tf.cond` to python if-else (like `tf.contrib.layers.batch_norm`'s `smart_cond`) for my own batchnorm layers and it works. It is difficult to deal with batchnorm.

[2016-11-22 07:13] Sadrpour commented on #394
This is not working for me .... GPU is available and works until i put the computer to sleep/suspend after waking up the computer i always get

`E tensorflow/stream_executor/cuda/cuda_driver.cc:491] failed call to cuInit: CUDA_ERROR_UNKNOWN`

I am using nvidia-docker

`nvidia-docker run -it -p 8888:8888 -v /*..../Data/docker:/docker --name TensorFlow   gcr.io/tensorflow/tensorflow:latest-gpu /bin/

[2016-11-22 07:25] Sadrpour opened #5777 "GPU becomes unavailable after computer wakes up"
I noticed many have issues with GPU being unavailable with message (e.g., [issue 394](https://github.com/tensorflow/tensorflow/issues/394))

`E tensorflow/stream_executor/cuda/cuda_driver.cc:491] failed call to cuInit: CUDA_ERROR_UNKNOWN
`
some suggested `sudo apt-get install nvidia-modprobe`  but it does not work for all including me. my GPU works until i put the computer to sleep/suspense, but a

[2016-11-22 07:40] ruppeshnalwaya1993 commented on #1095
Hi! I wrote a custom binarizer inspired from @harpone 's code. But I am facing problem if nan output cost when using it in two copies of same network simultaneously. Detailed question is here on stackoverflow : http://stackoverflow.com/questions/40735766/tensorflow-custom-operation-used-in-two-networks-simultaneously-produces-nan

Could anyone please answer my query?

[2016-11-22 07:46] Kamatio commented on #42
Greetings to you all, Now I have also tried two two ways to use Tensorflow on windows...And got errors on both sides. Now the first way I got is from Docker it failed to connect and said error in network missing. second error is from Installing Tensorflow via Anaconda, and I am running Jupyter Notebook python but after installing Tensorflow I can't run the testing code in Tensorflow.

"  **File "<

[2016-11-22 08:19] wei-yuan commented on #3043
Same problem, thanks!

[2016-11-22 09:11] meteorcloudy commented on #5748
@maccam912 Thanks!  I never had this error before, @pkonovalov-softheme Can you try the suggested solution?

[2016-11-22 09:48] vmarkovtsev commented on #5033
So?..

[2016-11-22 10:01] zuoxingdong opened #5779 "[TensorFlow Mechanics 101]: Add conv layers to this tutorial"
It seems the tutorial in **TensorFlow Mechanics 101** has more beautiful structure in coding, and as it currently only contains fully connected layers. Is it a good addition to include conv layers ? If so, please leave a short comment and I'll submit a pull request soon.

[2016-11-22 11:53] daddym85 opened #5780 "freeze_graph error"
Hi there,
I'm using Python 2.7.6, I have the following errors with freeze_graph:
 python tensorflow/python/tools/freeze_graph.py --input_graph=/tmp/imagenet/classify_image_graph_def.pb --input_checkpoint=/home/davide/stmp/flowers-models/inception_v3/all/model.ckpt-500 --output_graph=/tmp/frozen_graph.pb --output_node_names=softmax
Traceback (most recent call last):
  File "tensorflow/python/tools/

[2016-11-22 12:21] amendezleal37 opened #5781 "ImportError: cannot import name pywrap_tensorflow, not resolved by previous fixes"
I'm getting an error similar to that in #3217, but it's not resolved by switching directories or adding the lines to my bash profile. I'm using a jupyter notebook. Any suggestions?
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-577-fd66eeda4fb7> in <module>()
      2 import panda

[2016-11-22 12:22] pkonovalov-softheme commented on #5748
This problem was solved by running **pacman -Syu perl'** as  @maccam912  suggested AND after uninstalling Windows active Perl.

Now build failes with:
ERROR: D:/tf/tensorflow/tensorflow/contrib/cmake/build/grpc/src/grpc/BUILD:159:1: no such target '//external:libssl': target 'libssl' not declared in package 'external' defined by D:/tf/tensorflow/WORKSPACE and referenced by '//tensorflow/contrib/cm

[2016-11-22 12:31] meteorcloudy commented on #5748
Looks like you tried to run CMake in the same repository? Can you rebuild from a clean TF repo?