[2019-05-18 02:47] NorwayLobster commented on #28151
a similar problem, do you solve it? bro

[2019-05-18 02:48] mrxiaohe opened #28819 "Object detection: when training, GPU utilization started high, and became low/idle later on."
**System information**
- Have I written custom code: No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows Server 2016
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.13.1
- Python version: 3.7.3
- CUDA/cuDNN version: 10/7.1
- GPU model and memory: Tesla V100 - 16 GB

**Describe the current behavior**
I am trying to train a face de

[2019-05-18 03:39] rounakskm commented on #24885
No the other part of tf_cc_shared object is the same.
With minor changes. Like name =libtensorflow_cc has been changed to name = tensorflow_cc.

But the # add win_def_file for tensorflow_cc comment and section below is new.

[2019-05-18 04:08] ShaneSmiskol opened #28820 "Converting keras model file to tflite, got this error."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 7 x64
- TensorFlow installed from (source or binary): pip
- TensorFlow version (or github SHA if from source): 1.13.1

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Include any logs or source code that w

[2019-05-18 07:16] heyitsguay commented on #18696
Has there been any update on part (2) here? I'm running into this problem as well. Despite @ispirmustafa 's comment, the behavior i'm seeing is that warm start reoccurs with each new call to the model_fn in TRAIN mode.  The warm-start log material shows up repeatedly, and my model's training loss follows a similar trajectory with each epoch.

[2019-05-18 07:54] tansor commented on #28740
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): python-pip
- TensorFlow version (use command below): 1.12.0
- Python version: python3.5
- CUDA/cuDNN version: CUDA 9.0.176, cuDNN 7.4.1
- GPU model and memory: NVidia 1080Ti, 11G
- Parallel or Serial time consumption: Same, about 3 ms both

[2019-05-18 08:50] paulgheorghecristian opened #28821 "Large virtual memory usage for TF Lite 2.0"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2019-05-18 10:09] abdou31 opened #28822 "Tensorflow loss increase during the training"
I cloned a github project that using tensorflow :
+ https://github.com/yinguobing/cnn-facial-landmark

and i tried to training ibug dataset (300VW , 300W , Helen...) to get a trained tensorflow model
but when training starting , the result is good and the loss decreasing during training , but after 1000 steps , the loss value increase and decrease during the training , I don't have any idea about

[2019-05-18 10:12] Windaway opened #28823 "[TF 2.0 alpha] Tutorial "Using TFRecords and tf.Example" can't run on tensorflow2.0 α0 gpu"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

TensorFlow version: Tensorflow

[2019-05-18 10:15] Windaway commented on #28823
If I write import numpy before def _bytes_feature(value): Problem solved.

[2019-05-18 11:04] redfish-lee commented on #24615
The cpu is also outdated by now.

[2019-05-18 11:09] archenroot commented on #26129
@jvishnuvardhan - but this error occurs across multiple project in the wild...

[2019-05-18 11:54] Jonathan-Livingston-Seagull commented on #28318
@jvishnuvardhan Thanks . that solved that issue. However I encountered another issue which I explained in the toy example below.
I wanted to break my loop based on the value returned from py_function as shown below.

[code]
This throws the following exception

[code]

However the following code works fine. I have noticed that the issue appears when the py_function returns more than one value.

[co

[2019-05-18 12:41] tensorflowbutler commented on #26864
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2019-05-18 12:41] tensorflowbutler commented on #27967
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-05-18 12:51] Acidic9 opened #28824 "Error Loading Package @io_bazel_rules_docker when building Tensorflow"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2019-05-18 12:52] acmilannesta commented on #28619
Sure. I'm using tensorflow 1.13.1 on Python 3.6 and Win 10. I pip installed tensorflow.

[2019-05-18 12:52] lakshitha1629 commented on #27079
how to fix

Use standard file APIs to check for files with this prefix.
WARNING:tensorflow:From C:\Users\HP\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\tools\freeze_graph.py:232: convert_variables_to_constants (from tensorflow.python.framework.graph_util_impl) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.compat.v1.graph_util.convert_var

[2019-05-18 12:53] lakshitha1629 opened #28825 "plzz help"
Use standard file APIs to check for files with this prefix.

[code]

[2019-05-18 13:02] lakshitha1629 commented on #22794
plz help

WARNING:tensorflow:From C:\Users\HP\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\training\saver.py:1266: checkpoint_exists (from tensorflow.python.training.checkpoint_management) is deprecated and will be removed in a future version.

[2019-05-18 13:07] Acidic9 commented on #28824
I managed to fix this by adding the following to the top of my WORKSPACE file:
[code]
If you do the same, you probably want to ensure you get the latest version here https://github.com/bazelbuild/rules_docker and copy the code snippet from the README instead of from here.

[2019-05-18 14:02] Transwert commented on #28825
a advice, be more specific to your problem, like state it in more formal and broader way, with proper indentation in you code as well as your output received, then people may help you in better way :)

[2019-05-18 14:09] Transwert commented on #28822
might be due to inconsistency in data set, check through it once,

[2019-05-18 14:20] abdou31 commented on #28822
i have ibug dataset that contains ( 300VW 300W , Helen..) => images and .json files (annotation)

[2019-05-18 14:30] Anjnesh opened #28827 "WARNING:tensorflow:From /usr/local/lib/python2.7/dist-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version."
I'm working on a text analytics project and encountered this issue. I don't have much experience with this. Please assist.

![image](https://user-images.githubusercontent.com/17949213/57971131-863aa380-79a7-11e9-90b8-ef8f2969aa1a.png)

[2019-05-18 14:34] jvishnuvardhan commented on #28211
@Stepiii Could you follow @rphsantos suggestion and let us know if it resolved your issue? Thanks!

[2019-05-18 14:47] Krum3L opened #28828 "module 'tensorflow._api.v1.keras.layers' has no attribute 'Lamdba'"
Cannot build my code due to "module 'tensorflow._api.v1.keras.layers' has no attribute 'Lamdba'" heres the code thats related to it:

`classifier_layer = layers.Lamdba(classifier_layer, input_shape = IMAGE_SIZE*[3])
classifier_model = tf.keras.Sequential([classifier_layer])
classifier_mode.summary()`

Im currently just "Copy pasting" / writing it from the Tensorflow tutorial
(https://www.tensorflo

[2019-05-18 14:53] jvishnuvardhan commented on #28691
@wxdao Where did you see that `-q` command? In TF website, [check](https://www.tensorflow.org/install/pip) check this page. Thanks!

[2019-05-18 15:26] Nayana-ibm commented on #28553
Finally I could build Bazel, TensorFlow and execute TF tests using Bazel 0.24.1 and OpenJDK 11 on s390x Ubuntu 18.04

**Bazel build** :  env **EXTRA_BAZEL_ARGS="--host_javabase=@local_jdk//:jdk"** bash ./compile.sh
**TF build** :  bazel --host_jvm_args="-Xms512m" --host_jvm_args="-Xmx1024m" build  --define=tensorflow_mkldnn_contraction_kernel=0 --config=opt //tensorflow/tools/pip_package:build_pip

[2019-05-18 15:40] Nayana-ibm commented on #28553
Further some tests are failing with an error :
[code]

This is specific to Intel and not working on s390x platform.

Tried with export TF_NEED_MKL=0 but same issue.

This file is included through this[ commit](https://github.com/tensorflow/tensorflow/commit/2f345d145e261213168745a0d3f1aef19282c458) in `tensorflow/core/framework/variant_test.cc`
@ebrevdo : Do you any idea on this? How to skip this

[2019-05-18 15:48] MikeJay-ctrl commented on #28660
Thanks!
Downgrading python did the job for me too, out of curiosity what made you choose to downgrade to this specific version

[2019-05-18 15:57] rok commented on #26994
Hey @icanswim, I've done some more work on top of your commit and I'll do some more (tests are passing but there are still warnings).

I already [opened a PR](https://github.com/tensorflow/models/pull/6817), could you please sign the CLA there so it can be reviewed?

[2019-05-18 16:56] abhinavos7a commented on #27999
My bad about my comment about latencies. There was a bug in my python code.  The latencies in both python and java are comparable.

Both are around 90 msec.
The same https://github.com/VowpalWabbit/vowpal_wabbit (linear model with feature hashing) seems to be 500 times faster than tensorflow. On average it was taking 0.1 msec.

Any insight as to why such a big difference will be helpful

[2019-05-18 17:31] bucoyas commented on #24828
Windows 10 fix:

System:
    TensorFlow version: 1.12
    Python version: 3.6
    Installed using virtualenv? pip? conda?: conda
    Bazel version (if compiling from source): 0.18
    GCC/Compiler version (if compiling from source): gcc 5.4.0
    CUDA SDK/cuDNN version: Cudnn - 10.0 , CUDA- 9.0
    GPU model and memory: GeForce GTX 1080 major: 6 minor: 1 memoryClockRate(GHz): 1.8225 8GB

DO NOT DO

[2019-05-18 18:17] jiapei100 opened #28829 "FAILED: Build did NOT complete successfully"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Ubuntu 18.04.2**
- TensorFlow installed from (source or binary): source
- TensorFlow version: git master, should be version 1.13.1
- Python version: 3.6.7
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): 0.24.1
- GCC/Compiler version (if compiling from source): 7.4.0
- CUDA

[2019-05-18 18:28] futuyao commented on #28324
I can now convert the model to tflite with select tensorflow operators. But when I try to load the model in XCode for iOS, it sill can't find Random Uniform operator.

`Didn't find custom op for name 'RandomUniform' with version 1`

[2019-05-18 18:28] futuyao commented on #28324
I can now convert the model to tflite with select tensorflow operators. But when I try to load the model in XCode for iOS, it sill can't find Random Uniform operator.

`Didn't find custom op for name 'RandomUniform' with version 1`

[2019-05-18 19:42] fire opened #28830 "Add Tensorflow Lite GPU Delegates for the desktop"
**System information**
- TensorFlow version (you are using): Tensorflow2.0alpha
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

Tensorflow lite only has GPU delegates for iOS and Android devices.

In theory, Tensorflow lite should be able to use desktop Opengles apis through GLAD.

**Will this change the current api? How?**

This will use

[2019-05-18 20:06] nicoosokhan commented on #28626
Have the same issue.

I can't use the alpha version.

[2019-05-18 20:21] nicoosokhan opened #28831 "tf-nightly-gpu 2.0 very slow on tape.gradient()"
While migrating to tensorflow 2.0 I found a big performance issue.

[code]
### tensorflow-gpu 1.13.1:
takes 0.7 seconds
### tensorflow-gpu 2.0 nightly
takes 2.4 seconds

### removing `gradients = tape.gradient(loss, params)` and `ggn = tf.linalg.global_norm(gradients)`:
takes 0.3 seconds

That means `gradients = tape.gradient(loss, params)` is consuming most of the time

[2019-05-18 20:27] MajesticKhan commented on #23822
This seems to be a windows issue. Furthermore, if you close the python process in windows, the event file is gone assuming that you attempted to delete it and got `PermissionError: [WinError 5] Access is denied:`.

I tested on linux, and everything ran smoothly.

[2019-05-18 22:45] pwais commented on #18266
+1 this is a bug in the design.  cache files should support concurrent usage since one can easily get there via `tf.data.experimental.parallel_interleave()`.

[2019-05-18 23:52] abdou31 commented on #28822
I probarly making a false steps of dataset organization , I have generated test.record , train.record and valid.record with 300VW image and the image dataset contains 300VW , 300W , helen ...
Can this give me errors?

[2019-05-19 00:27] IeiuniumLux opened #28832 "bazel still report error: name 'http_archive' is not defined"
I'm experiencing the same error described in issue #27189, when I try to build TF v1.12.2 using Bazel 0.25.2 on a Jetson TX2
[code]

[2019-05-19 00:28] JosephCatrambone commented on #16614
I'm sorry to bump this closed ticket, but I'm having the same issue as Pakashu.

```AttributeError: module 'tensorflow' has no attribute 'keras'```

On tensorflow-gpu 2.0.0a0, even after a forced uninstall/reinstall of Keras-Applications.

[2019-05-19 00:47] mihaimaruseac commented on #28214
Through investigation so far, it seems that this is fooled by the Lazy loaders we are using. Need to investigate more and see if we can fix it.

[2019-05-19 01:34] astropeak commented on #28741
Hey, I'd like to take a crack at this!

[2019-05-19 01:40] Bick95 commented on #28752
Is there maybe an alternative how I can circumvent making a copy of the entire network, just copying single weights and biases between equivalent network architectures, instead?

[2019-05-19 01:45] fengyoulin commented on #22794
Open ...\Python37\Lib\site-packages\tensorflow\python\_pywrap_tensorflow_internal.pyd use [Dependency Walker](http://www.dependencywalker.com/), it will show you the DLL dependency tree, you will find which DLL cause the problem. TensorFlow always linked to the specific CUDA version.

[2019-05-19 01:45] fengyoulin commented on #17393
Open ...\Python37\Lib\site-packages\tensorflow\python\_pywrap_tensorflow_internal.pyd use [Dependency Walker](http://www.dependencywalker.com/), it will show you the DLL dependency tree, you will find which DLL cause the problem. TensorFlow always linked to the specific CUDA version.

[2019-05-19 02:11] SlowMonk opened #28833 "TypeError: cannot unpack non-iterable NoneType object"
loss = tf.losses.mean_squared_error(labels,logits)
cnn_optimizer = tf.keras.optimizers.Adam(1e-4)

# Notice the use of `tf.function`
# This annotation causes the function to be "compiled".
#@tf.function
def train_step(logits,labels):
    with tf.GradientTape() as cnn_tape:
        print("train_step")
        loss = tf.losses.mean_squared_error(labels,logits)
        #print("loss",loss)
        gra

[2019-05-19 02:47] minimaxir commented on #22292
This is *not* fixed: the new images indeed now indeed use Ubuntu 18.04, but the installed Python is still Python 3.5.2 (checking `latest-py3`).

[2019-05-19 04:49] kunrenzhilu commented on #26182
Exactly.
1. find your CUDA install path, in my case it is `/usr/local/cuda`
2. `export LD_LIBRARY_PATH=/usr/local/cuda/lib64`

Then TF follow LD_LIBRARY_PATH to locate libcublas.so.10.0

[2019-05-19 04:53] SlowMonk opened #28835 "No gradients provided for any variable: ['cnn_model_14/conv2d_42/kernel:0', 'cnn_model_14/conv2d_42/bias:0', 'cnn_model_14/conv2d_43/kernel:0', 'cnn_model_14/conv2d_43/bias:0', 'cnn_model_14/dense_28/kernel:0', 'cnn_model_14/dense_28/bias:0', 'cnn_model_14/dense_29/kernel:0', 'cnn_model_14/dense_29/bias:0']."
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-05-19 04:55] SlowMonk opened #28836 "No gradients provided for any variable: ['cnn_model_14/conv2d_42/kernel:0', 'cnn_model_14/conv2d_42/bias:0', 'cnn_model_14/conv2d_43/kernel:0', 'cnn_model_14/conv2d_43/bias:0', 'cnn_model_14/dense_28/kernel:0', 'cnn_model_14/dense_28/bias:0', 'cnn_model_14/dense_29/kernel:0', 'cnn_model_14/dense_29/bias:0']."
====================================================================

[code]

[2019-05-19 05:13] ppwwyyxx commented on #28788
Looks like the same bug I reported 2 months ago: https://github.com/tensorflow/tensorflow/issues/26797
I've already switched to my own implementation of dilated conv https://github.com/tensorpack/tensorpack/commit/353cd04fe81ea8920bc67f702bf492174b000768 since they are slow at fixing bugs.

[2019-05-19 05:20] dreistheman commented on #27999
@mengpengfei by using jni to call c++ api, you've obtained a faster execution?

[2019-05-19 05:30] tranhungnghiep commented on #23873
These gaps between keras and tf must be described clearly in documentation. Be clear and concise. Current docs/tuts about keras are mostly like magic. There are too many options that most people never use, and popular options that work in a way most people do not expect. Many if not most of issues and questions about batchnorm can be avoided if it were to be simplified.

[2019-05-19 05:33] mengpengfei commented on #27999
yes  i use c++ to predict  and i make a dll which contains the predict function ,,,and i use jna to call the dll

[2019-05-19 05:41] Yathisha20 commented on #26945
@Rajamohanreddyai  The video is unavailable

[2019-05-19 06:11] ebrevdo commented on #28553
Parts of the file need to be guarded with some ifdefs.  I can add them next
week.

On Sat, May 18, 2019, 8:41 AM Nayana Thorat <notifications@github.com>
wrote:

[2019-05-19 06:18] ebrevdo commented on #28553
We can probably check the value of EIGEN_VECTORIZE_SSE after importing
eigen headers as a guard.

On Sat, May 18, 2019, 11:12 PM ebrevdo <notifications@github.com> wrote:

[2019-05-19 06:26] samhodge commented on #28388
@hlopko

I think option 2 would be suitable.

Sam

[2019-05-19 07:03] wxdao commented on #28691
It's in every official tutorial colab notebook, like [this one](https://colab.research.google.com/github/tensorflow/tensorboard/blob/master/docs/r2/get_started.ipynb), so I thought I was supposed to add -q too.

[2019-05-19 07:15] AakashKumarNain commented on #28777
Any updates on this? I think this is a major bug

[2019-05-19 08:33] captain-pool commented on #28828
Hi! Can you provide the Version of Tensorflow, OS Version,etc. you are using? It would be nice if you close this issue and open another issue using the issue template, provided.

[2019-05-19 10:37] samhodge commented on #28388
Any progress on this, I tried hacking up the Tegra gpu/cuda libtfcuda.a target to work on Linux and I didn't get very far:

see:
https://github.com/tensorflow/tensorflow/blob/v1.13.1/tensorflow/contrib/makefile/Makefile#L833

Has anybody attempted such a thing before?

Seems possible.

Sam

[2019-05-19 10:59] samhodge commented on #28388
The other problem I am having one of my models uses contributed Ops which are not part of the current Makefile so that doesn't run using libtensorflow-core.a but works fine with libtensorflow_cc.so and libtensorflow_framework.so

I hope I am not the only person who needs static linking.

Sam

[2019-05-19 11:14] atakchidi commented on #28552
Same here, model takes ages to train

[2019-05-19 11:59] maxima120 opened #28837 "Support Stateful LSTM on TPU"
<em>Cannot use LSTM model with tf.keras if Stateful = True on TPU</em>

**System information**
- TensorFlow version (you are using): 1.13

**Describe the feature and the current behavior/state.**
if I build tf.keras model and then try to convert to TPU model it gives:

`WARNING:tensorflow:Model replication does not currently support stateful models.  Degrading to a single core.`

**Will this chang

[2019-05-19 12:10] jlebar commented on #28211
I googled this error message and the first hit suggests upgrading your msvc
version.

https://developercommunity.visualstudio.com/content/problem/533781/internal-compiler-error-c1001-on-1916270301.html

@gunan is it possible to detect during build time if someone is running
with an old version and make the build fail?

On Sat, May 18, 2019, 5:41 PM Vishnuvardhan Janapati <
notifications@github.com

[2019-05-19 12:11] hoonkai opened #28838 "TFLite GPU support for C++"
**System information**
- TensorFlow version (you are using): 0.0.1-gpu-experimental
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

Anyone know if Tensorflow Lite has GPU support for C++ (or Python)? I've seen guides for Android and iOS, but I haven't come across anything about C++ (or Python).

**Who will benefit with this feature?**

C+

[2019-05-19 13:38] JohnSouth8 commented on #26207
It worked for some reason on another machine and I did not look further into why it did not work at first. I did not try it again in tf 1.13.

[2019-05-19 13:51] karllessard commented on #27999
@mengpengfei , if you are interested in calling the TF C++ core classes directly from Java, I suggest you take a look at [TF JavaCPP bindings](https://github.com/bytedeco/javacpp-presets/tree/master/tensorflow).

[2019-05-19 13:58] Bick95 commented on #28752
Found a solution:
[Copying model including custom layer](https://stackoverflow.com/questions/56104823/valueerror-unknown-layer-when-calling-copy-deepcopynetwork-using-tens)

[2019-05-19 13:58] #28752 closed

[2019-05-19 14:00] karllessard commented on #27999
Now it would be interesting if you can share some comparable metrics between this approach and when using the Java client instead. When it comes to inference, performance should be pretty much comparable (like @abhinavos7a observed) as pretty much all the processing is done in the C++ core library in both cases.

Where Java could win is more in the overall performance of your service/application,

[2019-05-19 14:18] dbl001 opened #28839 "error: default initialization of an object of const type 'const Subgraph::Identity' without a user-provided default constructor"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
OS X 10.11.6
- Mobile device (

[2019-05-19 14:27] sleighsoft commented on #28741
@astropeak, I am also happy to contribute, maybe we can work together on this?

[2019-05-19 14:34] Tayseer-bme commented on #28796
https://github.com/tensorflow/tensorflow/commit/3c245f52912612ed9d8e20245ddb5de055680969
and :

Modify "./tensorflow/core/kernels/reduction_gpu_kernels.cu.h"
replace:
__shared__ value_type partial_sums[32 * 33];
by:
__shared__ __align__(
alignof(value_type)) char partial_sums_raw[32 * 33 * sizeof(value_type)];
value_type* partial_sums = reinterpret_cast<value_type*>(partial_sums_raw);

[2019-05-19 16:24] EmielBoss opened #28840 "tf.make_ndarray() throws an AttributeError: 'Tensor' object has no attribute 'tensor_shape'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.12.2
- Python version: 3.5
- CUDA/cuDNN version: V8.0.61
- GPU model and memory: Tesla P100-PCIE, 12193MiB

**Describe the cu

[2019-05-19 16:48] EmielBoss opened #28841 "tf.Dataset.map() only processes one example in my dataset"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.12.2
- Python version: 3.5
- CUDA/cuDNN version: V8.0.61
- GPU model and memory: Tesla P100-PCIE, 12193MiB

**Describe the cu

[2019-05-19 18:02] williamwisdom commented on #27557
Looks like tf.keras expects you to be passing a scipy sparse matrix if your input is a sparse tensor

[code]

[2019-05-19 18:21] netskink opened #28843 "TF2.0 DocSprint Prep - Error with Dataset Example"
## URL(s) with the issue:

https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/data/Dataset

## Description of issue (what needs changing):

The Example for "from_generator" fails.

### Clear description

This example uses tf.enable_eager_execution() which gives the following error
AttributeError: module 'tensorflow' has no attribute 'enable_eager_execution'

If you remove this line of cod

[2019-05-19 18:22] sleighsoft commented on #28558
**Updated example**
I hope this shows the confusion a little better.
[code]

Prints
[code]

[2019-05-19 18:30] galeone commented on #28214
Yes, I can confirm. I analyzed the source code a bit, and I found a lot of magic happening in a `v2/api.py` file (or something similar, I don't remember exactly), explicitly saying that lazy loaders are being used

[2019-05-19 19:02] lmiller210 commented on #28713
@achandraa @ymodak I followed all of those steps and its still giving me what appears to be the same error. I'll post it here just in case it is different:

C:\Users\Lucas>python
Python 3.6.8 (tags/v3.6.8:3c6b436a57, Dec 24 2018, 00:16:47) [MSC v.1916 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "C:\Users

[2019-05-19 19:19] b3by opened #28844 "TF2.0 leaking memory when input_shape is specified in keras layer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): there is a custom MWE code snippet included in the issue
- OS Platform and Distribution: Linux Elementary Loki (Ubuntu 16.04)
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.0.0-alpha0
- Python version: 3.7.1

**Describe the current behavior**
Gene

[2019-05-19 19:51] Rijul25 commented on #28840
Since TensorFlow 1.0, tf.Tensor now has a tf.Tensor.shape property, which returns the same value as tf.Tensor.get_shape().
In versions prior to TensorFlow 1.0 tf.Tensor doesn't have a .shape property. You should use the Tensor.get_shape() method instead:
Hope this helps.

[2019-05-19 20:00] alsrgv opened #28845 "GPU visible device selection causes segfault in tf-nightly-gpu"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2019-05-19 20:06] sallamander commented on #24520
@milinddeore for what it's worth, I ran into the same error when using `tf.Dataset.from_generator`, and was able to fix the issue by passing in an argument for [`output_shapes`](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#args_7). I didn't even have to specify the exact dimensions - using something like `tf.TensorShape([None, None, None])` worked in the case of using 3 dimensional i

[2019-05-19 22:02] hsm207 opened #28846 "TF 2.0 crossed_column on Windows fails with SystemError: <built-in function TFE_Py_FastPathExecute> returned a result with an error set"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-05-19 23:25] seanpmorgan commented on #28602
Ah thank you. Sorry this was overlooked when converting a layer from tf 1.x

[2019-05-19 23:25] #28602 closed

[2019-05-20 00:31] astropeak commented on #28741
@sleighsoft , in that case, maybe you could just do it. I haven't started and could always take other tasks.

[2019-05-20 00:50] astropeak commented on #28741
But if the cooperation is a better way, I am happy to work together. How to split the tasks? How we commit codes?
Anyway, I am totally OK that only you work on the task if the cooperation isn't a good choice.

[2019-05-20 01:34] #26207 closed

[2019-05-20 03:02] NYcleaner commented on #15604
I have find the reason is ldconf, ldconfig is a dynamic link library management command whose purpose is to allow the dynamic link library to be usedby the system.

The default ldconf only search /lib and /usr/lib, as well as the library file under the directory listed in the configuration file /etc/ld. so. conf.

so all of this is caused by the dynamic library of CUDA in the installed CUDA path s

[2019-05-20 03:25] Alxemade opened #28847 "how to use tf.contrib.image.rotate in tensorflow 1.1"
Here, we want to use  **tensorflow.contrib.image.rotate** function in our code, it works well in the tensorflow 1.8 version, but does not works well in the tensorflow 1.1 version. Also, if we remove  the **tensorflow.contrib.image.rotate** function , it also works well in the 1.1 tensorflow.  So how can I use the tensorflow.contrib.image.rotate in tensorflow 1.1 version.

The tensorflow.contrib.im

[2019-05-20 04:10] tianjiaq opened #28848 "ImportError: DLL load failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win10
- Mobile device (e.g. iP

[2019-05-20 04:10] tianjiaq commented on #28848
Does it look like set path issue?

[2019-05-20 04:31] #28759 closed

[2019-05-20 04:36] jackshi0912 opened #28849 "Python3 type annotation does not work with @tf.function + for loop -> tf.while_loop conversion"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0 alpha
- P

[2019-05-20 04:37] gadagashwini commented on #28666
@WY19940327 Glad it resolved. Will close this. Thanks!

[2019-05-20 04:37] #28666 closed

[2019-05-20 04:45] gadagashwini commented on #28630
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-20 04:45] #28630 closed

[2019-05-20 05:06] vmehera123 commented on #27313
i have got the same issue, but the error occurs when trying "fit_generator" method on TPU model (the same one with "fit" works fine)

[2019-05-20 05:21] achandraa commented on #28632
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-20 05:21] #28632 closed

[2019-05-20 05:21] ymsaputra commented on #28337
Does it mean that I need to use more PCs/laptops, e.g., 6 laptops, to run at least 9 workers on each machine (to run 58 workers in total)?

[2019-05-20 05:27] 2wins opened #28851 "Keras Custom Conv2D layer does not work (`None` gradient issue)"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):

[code]
- OS P

[2019-05-20 05:37] achandraa commented on #28581
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-20 05:37] #28581 closed

[2019-05-20 05:39] achandraa commented on #28551
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-20 05:39] #28551 closed

[2019-05-20 05:46] achandraa commented on #28494
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-20 05:46] #28494 closed

[2019-05-20 05:47] achandraa commented on #28500
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-20 05:47] #28500 closed

[2019-05-20 05:48] achandraa commented on #28497
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-20 05:48] #28497 closed

[2019-05-20 05:49] gadagashwini commented on #28825
@lakshitha1629 Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue

[2019-05-20 05:57] akiroselin commented on #26639
I need to wrote weights=None, then the training runs successfully.

[2019-05-20 06:05] achandraa commented on #28605
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-20 06:05] #28605 closed

[2019-05-20 06:27] achandraa commented on #28650
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-20 06:27] #28650 closed

[2019-05-20 06:32] achandraa commented on #28572
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-20 06:32] #28572 closed

[2019-05-20 06:39] gadagashwini commented on #28417
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-20 06:39] #28417 closed

[2019-05-20 06:47] Sean0123456789 opened #28852 "after quantization aware training, add operation of resdural block lack min/max value, why? anyone can help?"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
- OS Platfo

[2019-05-20 06:47] Sean0123456789 commented on #28852
anyone can help?

[2019-05-20 07:40] muddham commented on #28797
@lgeiger Able to reproduce the issue with the provided code.

TypeError: 'BatchDataset' object does not support indexing

[2019-05-20 07:40] astropeak commented on #22502
Hey, I'd like to work on this. Looks it still hasn't been done. Is that alright?

[2019-05-20 07:51] sunxianfeng commented on #394
`
def ja():

`

[2019-05-20 07:52] exactlysameguy commented on #28696
I had downloaded and installed CUDA and cuDNN. I was able to solve the problem in the meantime. I changed the environment that pycharm uses to the environment that my console uses.

Thanks for your time !

[2019-05-20 07:56] gadagashwini commented on #28800
`def model():
    model_input = Input(shape=input_shape[1:], name="input_layer")
    x = Conv2D(64, (4, 30), padding="same", name="layer1a")(model_input)
    x = BatchNormalization()(x)
    x = Activation("relu")(x)
    x = MaxPool2D()(x)

    x = Conv2D(64, (4, 30), padding="same")(x)
    x = BatchNormalization()(x)
    x = Activation("relu")(x)
    x = MaxPool2D()(x)`

[2019-05-20 07:59] gadagashwini commented on #28624
@jiapei100
File **third_party/gpus/find_cuda_config.py**
### if cuda_version.split(".") < (10, 1):
modified to
###  if tuple(int(v) for v in cuda_version.split(".")) < (10, 1):

[2019-05-20 08:05] muddham commented on #28835
@SlowMonk
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue templ

[2019-05-20 08:06] gadagashwini commented on #28696
Closing since its resolved. Thanks!

[2019-05-20 08:06] #28696 closed

[2019-05-20 08:14] astropeak commented on #9917
Hey, I'd like to work on this. Looks it still hasn't been done. Is that alright?

[2019-05-20 08:15] muddham commented on #28811
@PCerles Able to reproduce the issue with the code provided here

float64
float64
2.1063637390863436e-15
9.67467215661267e-07

[2019-05-20 08:19] muddham commented on #28798
@lgeiger Able to reproduce the issue with the provided code.
NotFoundError: cache/mnist_0.lockfile; No such file or directory [Op:IteratorGetNextSync]

[2019-05-20 08:28] pournami123 commented on #17933
I have tried tensorflow for deep learning in windows 10. However, facing the same issue "1 ops no flops stats due to incomplete shapes" while trying to use Tensorflow debugger. Is there any solution?

[2019-05-20 08:33] fuzzyBatman opened #28854 "Error loading a TensorRT optimised graph"
I was able to convert a frozen model using the tensorRT API on a Nvidia Tesla P100 on Debian 9 using the command

[code]

I am able to load the graph on the same system. However, when I try to load the graph on my local system which has an Nvidia GeForce GTX 1050M I get the following error.

[code]

Is it because my GPU lacks support for TensorRT?

[2019-05-20 08:53] muddham commented on #28785
@ZH-Lee Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue templat

[2019-05-20 09:06] muddham commented on #28798
@lgeiger After running the provided code, got the below error.
NotFoundError: cache/mnist_0.lockfile; No such file or directory [Op:IteratorGetNextSync]

[2019-05-20 09:08] rahuladream opened #28855 "Low performance and detection on Google Coral DevBoard"
<em>Just started working on google coral devboard. As I seen in blogs and official doc I need to convert FLOAT 32 bit neural network to QUANTIZED_UNIT8 i.e. 8bit neural network. </em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 19.04):
- Google Dev Board:
- TensorFlow installed from (source or binary):
- Edge TPU
- Python version:
- Bazel version (if compiling from s

[2019-05-20 09:10] gadagashwini commented on #28390
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-20 09:10] #28390 closed

[2019-05-20 09:16] sungwonida commented on #19525
In my case, the bazel version was the problem.
With bazel `0.25.2` and `0.24.1`, lots of `FileType function is not available. You may use a list of strings instead. You can temporarily reenable the function by passing the flag --incompatible_disallow_filetype=false` has been introduced.
Thus I downgraded the bazel once more, to `0.21.0`, and graph_transfroms began to build.

Summary:
TensorFlow: `

[2019-05-20 09:28] bjm88620 commented on #26835
Have the same issue when do model.save('model.h5') under tensorflow 1.13.1

[2019-05-20 09:40] qo-o-op commented on #26835
Recommended to install tf-nightly or tf-nightly-gpu also

and test follow https://github.com/tensorflow/tensorflow/issues/26835#issuecomment-488972247

[2019-05-20 09:40] EmielBoss commented on #28840
Thanks for your reply! I don't fully understand what you mean. I am not using `.shape` in my call to `make_ndarray()`. Where exactly should I replace `.shape` with `.get_shape()`?

I tried changing the first line in `make_ndarray()` (where the `AttributeError` is thrown) from `shape = [d.size for d in tensor.tensor_shape.dim]` to `shape = [d.size for d in tensor.get_shape().dim]`, but that only th

[2019-05-20 09:40] qo-o-op commented on #26835
Recommended to install tf-nightly or tf-nightly-gpu also
and test follow https://github.com/tensorflow/tensorflow/issues/26835#issuecomment-488972247

[2019-05-20 09:41] achandraa commented on #28619
I was able to reproduce the mentioned output on Colab with TensorFlow version 1.13.1.

[2019-05-20 09:52] sunzhe09 commented on #28151
I meet the same prblem

[2019-05-20 09:54] QuellaZhang commented on #28824
Same failure, can someone help?
ERROR: error loading package '': Encountered error while reading extension file 'repositories/repositories.bzl': no such package '@io_bazel_rules_docker//repositories': Traceback (most recent call last):
        File "C:/users/vcntwtt/_bazel_vcntwtt/cd6duifl/external/bazel_tools/tools/build_defs/repo/git.bzl", line 234
                _clone_or_update(ctx)
        F

[2019-05-20 10:03] Acidic9 commented on #28824
@QuellaZhang Did you read my comment above? Did it not work?

[2019-05-20 10:44] gadagashwini commented on #28801
@RubensZimbres Please provide details about TensorFlow version. Also, did you compile from source or install a binary?
Thanks!

[2019-05-20 10:53] pharrellyhy opened #28856 "TFLiteConverterV2 has no attribute 'from_saved_model'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Ubuntu 16.04**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): **v1.12.0-

[2019-05-20 11:05] achandraa commented on #28836
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the code snippet to depict the problem. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensorflow/issu

[2019-05-20 11:07] achandraa commented on #28833
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact code snippet to depict the problem. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensorflo

[2019-05-20 11:17] dipanjanS commented on #26639
That is just random initialization of weights, the whole point of using this is to do transfer learning with pre-trained weights obtained from imagenet. Using `weights=None` defeats the purpose of doing that. That's the same like building your own CNN and copying the layers from Nasnet.

[2019-05-20 11:22] #21797 closed

[2019-05-20 11:26] mkwissam commented on #22346
having the same error

[2019-05-20 11:34] bjm88620 commented on #26835
resolved by updating tf version to 2.0

发自我的 iPhone

在 2019年5月20日，17:47，OooO <notifications@github.com<mailto:notifications@github.com>> 写道：

Have the same issue when do model.save('model.h5') under tensorflow 1.13.1
Recommended to install tf-nightly or tf-nightly-gpu also

and test follow #26835 (comment)<https://nam02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Ftensorflow%2F

[2019-05-20 11:49] achandraa commented on #28827
Deprecation messages means a particular service/component will not be there in future version as for example contrib is not there in TensorFlow version 2.0. For more information and better support for such issues, you can go to [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there

[2019-05-20 12:01] gadagashwini commented on #28753
@zuoshaobo It looks, This question is better asked on StackOverflow since it is not a bug or feature request. There is also a larger community that reads questions there and provide greater support. If you think it is a bug. Please let us know. Thanks!

[2019-05-20 12:09] achandraa commented on #28824
@Acidic9 : Looks like you were able to resolve this issue. Let us know. Thanks!

[2019-05-20 12:10] hamlatzis commented on #28791
Like @lisaong said is there a full sample for creating even the simplest custom operation in TensorFlow Lite?

Just to learn TensorFlow & TensorFlow Lite I created a model in TensorFlow with a simple custom operation (implemented my own addition, even if it exists on both libraries). I then created a model and after training it I converted it to .tflite

But now I am unable to convert the source c

[2019-05-20 12:14] achandraa commented on #28818
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command or code snippet if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue

[2019-05-20 12:34] SUBHASH1201 opened #28857 "How can I use same tf.Session() in another function as opened session??"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-05-20 12:36] stefan-falk commented on #1548
It's possible to rename the directories as well:

[code]

[2019-05-20 12:45] mariloubylr commented on #28657
In case it helps; I had a similar problem and was able to reproduce the error with the following simple keras model:

`input = keras.Input(shape=(68,128,34))

left = keras.layers.Conv2D(22, (3,3), padding="same", activation="relu")(input2)
right = keras.layers.Conv2D(22, (1,1), padding="same", activation="relu")(input2)

center = keras.layers.add([left, right])

left = keras.layers.add([right, cen

[2019-05-20 12:50] whaozl opened #28858 "How to set up TensorFlow in GPU machine only using CPU By Java code？"
tensorflow version: 1.8.0 Java

[code]
this visibleDevices="-1" throw a error:
[code]

this visibleDevices="0" Indicates that the 0th GPU is used, but my GPU is full and I want to use the CPU to make predictions.

[2019-05-20 13:04] Shivanshmundra commented on #28554
@sayakpaul Now since ```tensorboard.notebook``` is depreciated, this error still pops up.

[2019-05-20 13:28] yensan0512 opened #28859 "TypeError: Cannot interpret feed_dict key as Tensor: Tensor Tensor("Placeholder:0", shape=(7, 7, 3, 64), dtype=float32) is not an element of this graph."
**### This is my code in python**

from flask import Flask
from flask_restful import Api, Resource, reqparse

app = Flask(__name__)
api = Api(app)

import os
import json
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import logging
import tensorflow as tf
from keras import backend as K

from collections import Counter

import pandas as pd
import numpy as np

from keras.models imp

[2019-05-20 13:33] jiarenyf commented on #28836
I have also meet the problem, if I removed the `@tf.function` above the `train_step` function, the model ran successfully. However, when I added the `@tf.function` above the `train_step` function, error came. The error was: `ValueError: No gradients provided for any variable`.

This is my code:
[code]

@achandraa Could you please help me, thanks.

[2019-05-20 13:44] freedomtan commented on #28838
Check the [READE.md](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/gpu/README.md) of `tensorflow/lite/delegates/gpu/`. I added GPU delegate to label_image and sent PR https://github.com/tensorflow/tensorflow/pull/27464. TFLite [benchmark_model](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/benchmark) supports GPU delegate already. I don

[2019-05-20 13:47] jlzhann commented on #18861
hi all,  I find a solutions for using multiple session with multiple gpu cards, follow are some main steps,
1. if you build libtensorflow_cc.so with monolithic configure, please add protobuf in tf_version_script.lds
2. if you want to bind a gpu card with multiple session, you can use virtual_devices to split gpu memory
`
  // session options are process level configure
  tensorflow::SessionOptions

[2019-05-20 13:53] muddham commented on #28790
@StevenPuttemans Can you please let us know if you followed the steps mentioned in the tensorflow website [link](https://www.tensorflow.org/install/source#tested_build_configurations). Also Please try to use the relevant bazel version as per the link

[2019-05-20 13:58] mckeown12 commented on #27112
Yes, @eralmansouri 's solution works for me to save to `.h5` as well.  Replacing the line

`liquidLinePressureMean = ((standardized_outputs*ysigma[0])+ymu[0])`

with

`liquidLinePressureMean = tf.keras.layers.Lambda(lambda x: (x*ysigma[0])+ymu[0])(standardized_outputs)`

makes my original example work as expected.

[2019-05-20 13:59] muddham commented on #28829
@jiapei100 Can you please let us know if you have followed the steps mentioned in the tensorflow website [link](https://www.tensorflow.org/install/source#tested_build_configurations), also please install relevant bazel version as mentioned in the link.

[2019-05-20 14:00] Krum3L commented on #28828
Hello, sorry for the late reply, im gonna open a new issue.. unfortunally i dont know how to close this one.

[2019-05-20 14:00] #28828 closed

[2019-05-20 14:04] muddham commented on #28832
@IeiuniumLux Can you please let us know if you have followed the steps mentioned in the tensorflow website [link](https://www.tensorflow.org/install/source#tested_build_configurations) ,also please install relevant bazel version as mentioned in the link and mention the OS platform details.

[2019-05-20 14:05] lgeiger opened #28860 "tf.data.Dataset::cache files are twice the size compared to original records"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.13.1 / 1.14.1-dev / 2.0.0-nightly
- Python version: 3.7.3
- CUDA/cuDNN version: -
- GPU model and memory

[2019-05-20 14:08] Krum3L opened #28861 "module 'tensorflow._api.v1.keras.layers' has no attribute 'Lamdba'"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
`classifier_la

[2019-05-20 14:21] muddham commented on #28649
@toandrew Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-20 14:21] #28649 closed

[2019-05-20 14:23] muddham commented on #28664
@Shobana16 Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-20 14:23] #28664 closed

[2019-05-20 14:27] muddham commented on #28760
@npuichigo Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue temp

[2019-05-20 14:29] danecor commented on #28801
I have the same issue, tensorflow_probability seems to be incompatible with tf_nightly (installed via pip).

[2019-05-20 14:32] IeiuniumLux commented on #28832
@muddham Yes, those are the exact the steps I'm following.  The link doesn't list the Bazel version for TF v1.12.2 though.  Are you saying that I should use Bazel 0.15.0 instead of 0.25.2?

[2019-05-20 14:32] muddham commented on #28799
@tejal567 Please provide reproducible full code to investigate this issue. After I ran this code it says : NameError: name 'get_model' is not defined

[2019-05-20 14:41] veqtor commented on #25327
Can you please merge this to master, it's been since April 18, the merge is tagged with 1.12.1 but it's not even in master, so we can't verify or even use graph freezing (if it works, I don't know if it does).

What happened to this PR?

Why is it only in this "testkevinbonz repo"?

This is a breaking bug that makes it impossible to freeze saved_models that contain embeddings, so much for the "ker

[2019-05-20 14:43] acmilannesta commented on #28619
I also ran on Colab, but got the following error:

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From <ipython-input-2-ac708db9cd1d>:

[2019-05-20 14:44] veqtor commented on #25443
When can we expect this in nightly or master?

[2019-05-20 14:54] npanpaliya commented on #28829
I think these two commits fix this issue - 4ae881f056287465184844395a5c8c63e40ee3cd and 85bc3808aa5f3cda02b96f1d1896cb22e61bb36c

[2019-05-20 14:58] nmoran commented on #25107
This issue is still present with 1.13 and is not related to the Python version. It can be circumvented by applying the following patch

[code]
which results in copy commands being placed on different lines (instead of appended to form a single command). This avoids causing a segmentation fault with the bash interpreter by passing a command that is too big.

This this change the build almost comple

[2019-05-20 15:09] tanzhenyu commented on #28558
@sleighsoft as mentioned in early reply, Dense(15) does not create variable for you yet. You'd need to either call layer.build(input_shape) or y = layer(x) in order to create the variables.

[2019-05-20 15:13] 0dd1er commented on #26818
Same for me: tf.__version__ = '2.0.0-alpha0'

[code]

results in
`ValueError: as_list() is not defined on an unknown TensorShape`

[2019-05-20 15:14] ingramator commented on #20803
This is completely broken, you can't even load a TF hub model it will load with sess.run(tf.global_variables_initializer())? and then produce completely random results

[2019-05-20 15:35] jlebar commented on #28579
I believe this was fixed by the PR above.

[2019-05-20 15:35] #28579 closed

[2019-05-20 15:46] nguyenhuy3588 opened #28863 "Build Tensorflow Lite from source on Yocto Linux"
I have built a custom 32 bit Linux with [Yocto project](https://www.yoctoproject.org/), now i have a gcc toolchain that full support on c and c++ standard library, can i build Tensorflow Lite from source? Which dependencies will i have to install for a succesful build?

[2019-05-20 16:13] plopresti opened #28865 "TF1.14 compile still fails with CUDA 10.1 ("Could not find any cublas_api.h")"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS 7.6
- Mobile device (e.

[2019-05-20 16:15] tanzhenyu commented on #25349
Sorry for the delay. Yes it'd be great to get some help from external contributors. @ffahleraz would you be able to help on one or two algos?

[2019-05-20 16:17] vesaalexandru95 commented on #908
Hello. Can someone explain me the logic behind @martin-gorner code? I want to visualize some filters but I really don't understand what he did there. Thanks a lot, Alex

[2019-05-20 16:20] akiroselin commented on #26639
I understand.but then you see in practice, nasnet was requiring fixed image size after loading imagenet.whats the solution to that besides dumping imagenet?-------- Original Message --------Subject: Re: [tensorflow/tensorflow] Nasnet models don't support custom image sizes even if include_top is set to False (#26639)From: Dipanjan Sarkar To: tensorflow/tensorflow CC: Kirosealin ,Manual That is jus

[2019-05-20 16:23] geert56 commented on #28863
I did the same using tensorflow/lite/tools/make/Makefile on x86, ppc64le, and s390.
Use the dependencies as listed in download_dependencies.sh.
A few full tensorflow files are needed:
tensorflow/workspace.bzl is only needed for
tensorflow/lite/tools/make/download_dependencies.sh
(to pick up some download URLs)

tensorflow/core/util/ seems only needed to build benchmark_model
benchmark_model.h:
#in

[2019-05-20 16:25] isaacgerg commented on #28192
@rryan  Correct.

[2019-05-20 16:29] dipanjanS commented on #26639
fixing the API so it is consistent with the other pre-trained models I guess?

[2019-05-20 16:33] mihaimaruseac commented on #28801
Just to check, you have installed both `tf_nightly` and `tf_estimator_nightly` at the same time?

[2019-05-20 16:34] mihaimaruseac commented on #28832
For v.12.2 you should use Bazel 0.15.0.

Running `./configure` before building is always a good idea as there are checks to ensure the toolchain you're using is compatible with the code.

[2019-05-20 16:35] mihaimaruseac commented on #28818
Seems like a spam issue

[2019-05-20 16:35] #28818 closed

[2019-05-20 16:38] mihaimaruseac commented on #28825
`AssertionError: Export directory already exists. Please specify a different export directory: inference_graph\saved_model` tells you the issue: you either delete the `inference_graph\saved_model` or specify a different one when running.

[2019-05-20 16:43] mihaimaruseac commented on #28691
`-q` is a `pip` flag:

[code]

The issue here is not caused by TensorFlow. In the python environment you're using (virtualenv? global install?) you already have an incompatible version of `thinc`. You can try uninstalling and reinstalling that with the required version number

[2019-05-20 16:46] jinhw1989 commented on #10375
@chaoyanghe Hmm, facing the exact same problem on GCN.

[2019-05-20 16:55] AlexTS1980 commented on #834
I wonder what exactly it means 'to optimize with respect to some parameters'. Does this mean only the weights in `[var_list]` are updated? Derivatives only wrt variables in `[var_list]` are calculated and the rest are set to 0? In the code I use [var_list] is in fact a layer (output), not a set of weights.

[2019-05-20 16:56] IeiuniumLux commented on #28832
@mihaimaruseac I did run the ./configure before building it.  Anyhow, let's me try with Bazel 0.15.0 and report back the results. Thanks!

[2019-05-20 17:09] tgpsantos commented on #26667
Hey! I have the same problem (Model used was multi_person_mobilenet_v1_075_float.tflite). Additionally tried to run it in python using the interpreter without success

[2019-05-20 17:11] 2649 opened #28868 "tf.summary.image does not work with keras layers in tf 2.0 due to EagerExecution issues"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Official tf docker
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):No
- TensorFlow version (use command below):2.0.0-alpha

[2019-05-20 17:19] xiesiyuan opened #28871 "Error parsing ApiDef file tensorflow/core/api_def/base_api/api_def_RefEnter.pbtxt"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Ubuntu16.04
- TensorFlow installed from (source or binary):source
- TensorFlow version:2.0
- Python version:2.7
- Installed using virtualenv? pip? conda?:pip
- Bazel version (if compiling from source):23.0
- GCC/Compiler version (if compiling from source):5.4
- CUDA/cuDNN version:10.0/7.4
- GPU model and memory:GPU

*

[2019-05-20 17:21] xiesiyuan commented on #28871
I run bazel-out/k8-opt/genfiles/tensorflow/python/parsing_ops_pygenrule.genrule_script.sh
could not parsing any words to .py file.

[2019-05-20 17:23] xiesiyuan commented on #28871
This ERROR could be easily and quickly repeated if you type
`"bazel build --config=opt --config=cuda --config=monolithic //tensorflow/python:parsing_ops_pygenrule --cxxopt="-GLIBCXX_USE_CXX11_ABI=0"`
This is very big bug of tensorflow 2.0.

[2019-05-20 17:54] VishnuJampala commented on #22300
so @theerfan what's the solution to that problem.I'm getting the same error.

[2019-05-20 17:55] domschl commented on #28369
#28209 is now merged. So this should be fixed in master.

[2019-05-20 17:57] martin-gorner commented on #908
@vesaalexandru95 The explanations:

I was trying to visualize the weights of a convolutional layer of shape [5,5,1,24]. That'a a 5x5 convolution working on an image with 1 channel (B&W). The convolution is repeated 24 times with different weights. So we have 24 different convolution "kernels" to visualize. It will be a nice fit in a 5x5=25 grid with a single grid cell unoccupied.

W1_a = W1

[2019-05-20 17:59] RubensZimbres commented on #28801
@gadagashwini Tensorflow version 2.0.0a0 installed via pip

@mihaimaruseac I have installed both.

[2019-05-20 18:22] tjhgit commented on #27833
Exact same problem here. Also on debian same error. Tried different versions of bazel, different versions of tensorflow (2.0, 1.14) but always getting compile error.

Using the following command for building:
bazel build -c opt --copt=-mavx --copt=-mavx2 --copt=-mfma --copt=-mfpmath=both --copt=-msse4.2 --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0" -k //tensorflow/tools/pip_package:build_pip_package --ver

[2019-05-20 18:23] pglushkov commented on #28414
Hi.
I've tried re-training the model on machine with TF 1.13 but got same result : when trying to run the inference using C-API and TF 1.13 C-library I get error TF_NOT_FOUND. TF_Message() returns :

`Op type not registered 'LSTMBlockCell' in binary running on PG-LAPTOP-W10. Make sure the Op and Kernel are registered in the binary running in this process. Note that if you are loading a saved graph

[2019-05-20 18:33] alextp commented on #28414
You need to dlopen the file containing the opdef, it's named _lstm_ops.so
https://github.com/tensorflow/tensorflow/blob/ffa77644b2bc586d07eb0265c29c486897f9e4a0/tensorflow/contrib/rnn/python/ops/lstm_ops.py#L38

On Mon, May 20, 2019 at 11:31 AM Peter Glushkov <notifications@github.com>
wrote:

--
 - Alex

[2019-05-20 18:39] anant111 commented on #17905
hello, i have got the same error, once the gpu is used for training and then i tune the hyperparameters in the same script it shows out of memeory, how to resolve it?

[2019-05-20 19:32] jvishnuvardhan commented on #28429
@srihari-humbarwadi Could you provide a standalone code to reproduce? Thanks!

[2019-05-20 19:48] annarev commented on #26502
I will reopen the bug. I suspect getting `import tensorflow.keras` would be much harder to fix. Especially, if it depends on having `keras` under `tensorflow` directory (which is not possible since these are installed as separate pip packages and live in different directories).

[2019-05-20 19:51] mrxiaohe commented on #28819
Just to add a bit more detail: after around 4000 steps, Global_step/sec dropped to around 1 step/sec

![image](https://user-images.githubusercontent.com/3064882/58047790-d461bb00-7afd-11e9-9774-d6d25dd8539c.png)

[2019-05-20 20:31] tjhgit opened #28877 "Opening bug #27833 again, since not able to compile tensorflow on debian 9"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): debian 9
- Mobile device (e.g.

[2019-05-20 20:36] jsimsa commented on #28398
@jvishnuvardhan as far as I can tell, this is an error in Keras, not tf.data ... please re-assign this problem to someone familiar with Keras, thank you

[2019-05-20 21:11] alextp commented on #28610
You're being bit by the fact that tensorflow doesn't actually store most int32 tensors on the GPU, they're on the GPU device (technically, for graph execution purposes) but stored in host memory.

Drawbacks like this make it quite hard to effectively use explicit device placement.

[2019-05-20 21:11] #28610 closed

[2019-05-20 21:34] patzm commented on #15332
I don't understand how @iamtodor's solution could work. I assume that the `summary_op` is only assigned a _function_ and not the actual merge operator of all summaries. If I try this locally, I in fact get an error for that:
[code]
If I _call_ `tf.summary.merge_all()` when creating the `SummarySaverHook` before the call to `estimator.evaluate(...)`, then the Graph has not been built. `evaluate()`

[2019-05-20 21:35] tanzhenyu commented on #28484
can this be part of tfp?

[2019-05-20 21:46] jsimsa commented on #28541
@jvishnuvardhan the error is coming from TF distribution strategy, which I am not familiar with. Could you please re-assign this to someone from that team? Thank you.

[2019-05-20 21:50] tfboyd commented on #26994
Sorry we missed this.  We are working on this internally and are almost done.  Expect code to be pushed before end of May-2019.

[2019-05-20 21:51] tfboyd commented on #26995
We are working on this internally and will publish the code before the end of May-2019 assigning to me for now.

[2019-05-20 22:05] jvishnuvardhan commented on #28363
@dmus Can you provide a code to reproduce the issue? Please use any public data if your data is private. Thanks!

[2019-05-20 22:08] kenryd commented on #28610
What does it mean to be on the GPU device if it's not in GPU memory @alextp ? In any case, this is still a bug and this does not resolve the issue.

[2019-05-20 22:16] jvishnuvardhan commented on #28582
@FiveSpeedFrog Did you install tensorflow through Anaconda or pip? When you install tf-nightly-gpu-1.14.1, eager mode is activated by default. Can you just run the following code and send the error trace? Thanks!

[code]

[2019-05-20 22:19] jdduke commented on #28469
In general this seems fine. Is the problem that you don't want to copy all outputs? Or you don't want to copy *any* outputs. If the former, I have a slight preference for not exposing `Tensor.buffer()` yet, instead exposing `Tensor.copyTo()`.

Just curious, are you using a `ByteBuffer` in your output? Or a multi-dimensional array? The latter can be extremely slow for cases where the inner dimensio

[2019-05-20 22:22] alextp commented on #28610
I've closed the bug because it's not fixable. TF has a weird definition of
what being on the gpu device is, because of the graph executor. Something
is on the GPU device if the op kernels run in the GPU executor, not if it's
in the GPU memory.

A way conceptualize why this is necessary is the kernel for zeros. It has
to run on the GPU device because it has a GPU output, but its input is a
shape te

[2019-05-20 22:33] jvishnuvardhan commented on #26725
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-05-20 22:33] #26725 closed

[2019-05-20 22:39] ymodak commented on #28839
TensorFlow requires [macOS 10.12.6 (Sierra) or later (64-bit)](https://www.tensorflow.org/install/pip#system-requirements)

[2019-05-20 22:49] ymodak commented on #28732
The code snippet you provided looks incomplete. Can you please edit the issue and update the minimal code snippet to reproduce the issue reported. Thanks!

[2019-05-20 23:11] jvishnuvardhan commented on #28318
@Jonathan-Livingston-Seagull You could do this. I am not sure whether we can return two different data types from py.funciton. Below, I have split the py_function into to two py_functions. It runs through without any issues. thanks!

[code]

[2019-05-20 23:22] dbl001 commented on #28839
I was able to Tensorflow built 1.12  from source on 10.11.6.
Is that the final version I can build on this OS?

[2019-05-20 23:57] angersson commented on #22292
@minimaxir, that is correct. Starting from TF 1.14 our images will be based on Ubuntu 18.04. Since 1.14's release process has been delayed, the `latest` tags still point to the `1.13`-tagged images based on Ubuntu 16.04. The `nightly` tags have jumped into 18.04 with Python 3.6:

[code]

[2019-05-21 01:01] mmehedin commented on #5017
If you are not using conda:
The gcc dynamic linker needs this path

`export LD_LIBRARY_PATH=${prefix}/lib:$LD_LIBRARY_PATH`
Practically: edited .bashrc with the following line:

`export LD_LIBRARY_PATH=/usr/lib64/:$LD_LIBRARY_PATH`
(depending on your system you may need /usr/lib/)

How did I find the path:

`locate libstdc++.so.6`

How it works:
https://gcc.gnu.org/onlinedocs/libstdc++/faq.html#fa

[2019-05-21 01:04] kmh4321 commented on #26074
@rryan working on this issue and will raise a PR soon.

[2019-05-21 01:13] trentlo opened #28890 "XLA_GPU_JIT Slows Down GNMT (when large clusters are formed)"
**System information**
- Have I written custom code: Use models from NVIDIA [OpenSeq2Seq](https://github.com/NVIDIA/OpenSeq2Seq)
- OS Platform and Distribution:  Ubuntu 16.04
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below): upstream-base-779-g83909d2 1.13.1
- Python version: 3.5.2
- Bazel version (if compiling from source): 0.24.1
- GCC/Compiler vers

[2019-05-21 01:14] astropeak commented on #22502
@reedwm @SimKuanGOH, I just verified that the issue already be fixed in the latest version of tensorflow. Please consider close this issue.
The gradient is defined in tensorflow/tensorflow/python/ops/nn_grad.py.

[2019-05-21 01:16] trentlo commented on #28890
@sanjoy @jlebar

[2019-05-21 01:28] Frank1993 opened #28891 "tf.contrib.distribute.CollectiveAllReduceStrategy always failed for OS error or socket closed"
When using tf.contrib.distribute.CollectiveAllReduceStrategy to distribute train on 16 workers with 2 GPU each, my job always failed with OS error or socket closed after running for several thousands of steps. I also tried 8 workers and different batch size, the failure always reproduce. And when using parameter server strategy, all my jobs can run successfully and I believe this was not caused by

[2019-05-21 01:32] byronyi commented on #28891
Ping @dubey

[2019-05-21 02:08] azilaazman commented on #13772
@formath im getting the same error running the code from Android Studio. im not sure how to use build_all_linux.sh into my project in android studio. can u help me with this?

[2019-05-21 02:16] alew3 commented on #28831
I also noticed that tensorflow2.0a is  much faster than the latest nightly build with keras when updating the weights.

[2019-05-21 02:17] philsc opened #28892 "Possible ODR violations for eigen's scalar_cast_op"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): debian stretch
- Mobile device

[2019-05-21 02:25] mikechen66 commented on #24496
How to delete cudatoolkit and cudnn from Conda?

Since Anaconda-included(or embedded) cudnn has the error as follows, I want to remove conda-installed cudatoolkit and cudnn, and install independent CUDA and cudnn from the Nvidia's website.

Error : Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning log message was printed ab

[2019-05-21 02:30] FiveSpeedFrog commented on #28582
Hello, I have given up using tf-nightly-gpu-1.14.1.
I am using tensorflow-gpu==1.12.0, and there are no errors.
Still thank you for your willingness to help.
Thank you!

[2019-05-21 02:30] #28582 closed

[2019-05-21 02:46] nguyenhuy3588 commented on #28863
it's amazing, thanks @geert56 , i will try with my toolchain now.

[2019-05-21 03:49] joshuachen1122 opened #28893 "Installation Error"
**System information**
- Windows 10
- TensorFlow installed from (source or binary): pip
- TensorFlow version: Alpha 2.0
- Python version: 3.7.3
- Installed using: pip
- GPU model and memory: GTX 1060, 16GB ram

My import tensorflow statement is not working. Here is the entire stack trace:

[code]

[2019-05-21 04:04] yarapathineni opened #28894 "deployment of isolation Forest with TensorFlow serving"
Hi All,

I have developed anomaly detection model using sklearn Isolation Forest Algorithm, now would like to go for live inference.
can i use tensorflow service for live inference, if it possible , can you please provide me an example for same.

[2019-05-21 04:31] ekuama opened #28895 "ImportError: DLL load failed: The specified module could not be found."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win 10
- Mobile device (e.g. i

[2019-05-21 04:35] gadagashwini commented on #28369
Closing this issue since the associated PR has been merged. Feel free to reopen if the problem still persists. Thanks!

[2019-05-21 04:35] #28369 closed

[2019-05-21 04:37] gadagashwini commented on #28642
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-21 04:37] #28642 closed

[2019-05-21 04:43] jarc9718 commented on #6136
Thanks man, I was looking for so much for that, I solved it.

[2019-05-21 04:46] gadagashwini commented on #28789
@anidh Please provide the correct link. Thanks!

[2019-05-21 04:46] PrimaryKey commented on #28660
This is my first question on GITHUB.
I am very happy to help you solve this problem, and congratulations on your successful installation.
I forgot which blog I saw about the version, so I tried it and just tried it.

[2019-05-21 04:57] achandraa commented on #28728
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-21 04:57] #28728 closed

[2019-05-21 04:57] gadagashwini commented on #28861
@Krum3L Code snippet you provided looks incomplete, In order to expedite the trouble-shooting process, please provide a minimal code snippet to reproduce the issue reported here. Thanks!

[2019-05-21 05:03] hiteshnitetc commented on #28362
@achandraa waiting for your valuable reply

[2019-05-21 05:27] pournami123 commented on #18118
@alapurple how did you install unofficial curses 2.2. can you please tell?

[2019-05-21 05:30] wau commented on #27470
Any updates on this? I thought we were going to be serious with 3.7 support at the start of this year.

[2019-05-21 05:37] Apesfly commented on #177
works for me!Thanks

[2019-05-21 05:47] gadagashwini commented on #28849
I am able to reproduce the issue on colab with TF 2.0alpha . This is the error I got TypeError: Tensor objects are only iterable when eager execution is enabled. To iterate over this tensor use tf.map_fn.

[2019-05-21 05:53] anidh commented on #28789
Hi @gadagashwini Sorry for the broken link, I've updated the issue with new google drive link.

[2019-05-21 06:05] muddham commented on #28679
@lioutasb Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-21 06:05] #28679 closed

[2019-05-21 06:06] muddham commented on #28700
@harsh020goyal Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-21 06:06] #28700 closed

[2019-05-21 06:18] gadagashwini commented on #28855
@rahuladream Just to verify, Did you follow this [link](https://coral.withgoogle.com/docs/dev-board/get-started/). ?. Thanks!

[2019-05-21 06:28] muddham commented on #28820
@ShaneSmiskol  Request you to please refer the [link1](https://www.tensorflow.org/lite/guide/ops_select) , [link2](https://www.tensorflow.org/lite/guide/ops_custom) . Please try if that helps and let us know how it progresses.

[2019-05-21 06:46] muddham commented on #28868
@2649 Ran the provided code, it says NameError: name 'map_ds' is not defined. Please provide full reproducible code to investigate it further.

[2019-05-21 06:49] gadagashwini commented on #28840
I am able to reproduce the issue reported here on my system with same configuration. Got the error AttributeError: 'Tensor' object has no attribute 'tensor_shape'

[2019-05-21 06:57] #28820 closed

[2019-05-21 07:38] jiarenyf commented on #27949
@omalleyt12 Could you please tell me how to install the 2-0 nightly? Should I build it from source or I can just install it just by `pip install` ?

[2019-05-21 07:42] JafferWilson commented on #28732
@ymodak Ok lets take a lok at the following scenario with the minimal code snippet.
[code]
I guess that this will help.

[2019-05-21 07:47] 2649 commented on #28868
@muddham Sorry, my bad. This was an old variable. Now you can run it.

[2019-05-21 07:50] IvyGongoogle opened #28897 "Undefined symbol: tflite::InterpreterBuilder::~InterpreterBuilder() for tensorflow r1.14"
hello, I meet a problem:
when I use tensorflow1 r1.9 to build a IOS app using xcode,  it is OK. But when I use tensorflow r1.14，when building, it show error:

`:-1: Undefined symbol: tflite::InterpreterBuilder::~InterpreterBuilder()`

What causes it?  How to fix it?
Anyone can give some advises? Thank you very much~

env: xcode10.2.1  iphone7  arm64

[2019-05-21 08:04] luorixiangyang opened #28898 "Analysis of target '//tensorflow/contrib/tensor_forest:model_ops_test' failed; build aborted: for tensorflow/contrib/tensor_forest/libutils.so"
env:
OS: windows 10
bazel version: 0.24.1
tensorflow version:r1.14
python:3.6.4
CUDA:9.0
cuDNN: 7.4

----------------------------------

send under command in gitBash could complete successfully
[code]

----------------------------------

but send bazel test command encounter error, details as following.:
command(in gitBash):

[code]

[2019-05-21 08:15] azilaazman commented on #28144
@sunzhe09 any updates or progress made? im stuck on a similar error.

[2019-05-21 08:15] terryps commented on #634
`
import tensorflow as tf
from tensorflow.python import pywrap_tensorflow

# graph variables saved in checkpoint
reader = pywrap_tensorflow.NewCheckpointReader(saved_ckpt_path)
var_to_shape_map = [key for key in sorted(reader.get_variable_to_shape_map())]

# choose tf.global_variables() which is also in checkpoint
vars_to_restore = [v for v in tf.global_variables() if v.name[:-2] in var_to_shape_m

[2019-05-21 08:17] terryps commented on #634
[code]

[2019-05-21 08:18] Aliece commented on #19298
Imeet this issue now same as yours， have you solve this issue？

[2019-05-21 08:18] Aliece opened #28899 "Cannot register 2 metrics with the same name: /tensorflow/cc/saved_model/load_attempt_count"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-05-21 08:19] Aliece commented on #28899
1

[2019-05-21 08:19] #28899 closed

[2019-05-21 08:29] fhoering commented on #24003
@byronyi
I tried with another model and also post the error message:
[code]

Maybe it is clearer than the attached logs of the previous model.

It fails in the reduce of gradients in tf.gather operation which seem returns a sparse tensor.
https://github.com/tensorflow/tensorflow/blob/a5c387b5ed78c9126424618d5c70f51cd3799857/tensorflow/python/ops/array_ops.py#L3261

So the problem is still there bu

[2019-05-21 08:40] 2649 commented on #28868
@muddham investigated further the problem and when you evaluate `tf.executing_eagerly()` in every function, only the `call()` function evaluates to `False`. I am not sure if this is expected or not?

[2019-05-21 08:44] Corea commented on #22946
I also have this problem with Python 3.6.8, TensorFlow v1.12.2-0-gcf74798993, CUDA 9.0, cuDNN 7.5.0.

[2019-05-21 08:47] jlebar commented on #28890
Trent, thank you for filing this bug with so many details.

Do you all at nvidia have cycles to dig into this?  If so we can provide suggestions for how to check your hypothesis of the etiology and how to fix it.

[2019-05-21 08:49] muddham commented on #28832
@IeiuniumLux Please try installing relevant bazel 0.15.0 also refer the [link](https://github.com/tensorflow/tensorflow/issues/27189)

[2019-05-21 08:51] muddham commented on #28829
@jiapei100 Did you get chance to check the links suggested by @npanpaliya.

[2019-05-21 08:56] alsrgv commented on #28845
It looks like https://github.com/tensorflow/tensorflow/pull/28885 pulled whatever caused this issue into r1.14. Could you make sure the fix gets picked into r1.14 as well?

cc @annarev

[2019-05-21 08:59] muddham commented on #28877
@tjhgit Please refer the [link](https://github.com/tensorflow/tensorflow/issues/27575). Can you please follow the steps [install TF from sources](https://www.tensorflow.org/install/source#setup_for_linux_and_macos)

[2019-05-21 09:01] whaozl commented on #28858
I had solved the problem. thank you.

[2019-05-21 09:01] #28858 closed

[2019-05-21 09:09] gadagashwini commented on #28801
@RubensZimbres Tensorflow Probability 0.6.0 version is tested and stable against TensorFlow version 1.13.1. For more information please visit this [link](https://github.com/tensorflow/probability/releases).
Thanks!

[2019-05-21 09:10] tydlwav commented on #24496
@mikechen66 What is the output of conda? It may be because other packages depend on cuda and cudnn. Why would you want to delete them in the first place? If you want to get a custom environment, use miniconda rather than anaconda. Miniconda only comes with conda, and you need to install all the packages you need manually.

[2019-05-21 09:11] muddham commented on #28865
@plopresti Can you please follow the steps [install TF from sources](https://www.tensorflow.org/install/source#tested_build_configurations). Please install 10.0 CUDA version and let us know how it progresses. Thanks!

[2019-05-21 09:14] muddham commented on #28859
@yensan0512 Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue tem

[2019-05-21 09:20] sleighsoft commented on #28558
@tanzhenyu I understand what is happening. Though, I do not understand why it has to be that way.

For example, why is `dense` called `scoped/kernel:0`? Why did keras not add `dense` in the name, even though I called `.build()` on it.

[2019-05-21 09:20] IvyGongoogle commented on #28897
sorry, I use different version of tensorflow, which cause this problem.  Close issue now.

[2019-05-21 09:20] #28897 closed

[2019-05-21 09:20] MakeCent commented on #26072
It depends whether you using a new container to run the python script. If so, it will need a new initialization. To use the initialized docker container: 1. Commit it, it will save all the changes you did to the container to a new image; (or)2. Use "docker exec" to repeatedly use the same container.

[2019-05-21 09:28] Krum3L commented on #28861
Hello,
I made a pastebin since i dont mind sharing the code (currently just learning and you can call it "copy pasting" the code forom the tensorflow tutorials)
Heres the code: https://pastebin.com/8QaWkqr5

[2019-05-21 09:30] sleighsoft commented on #28741
@astropeak It looks like you have some other parts of tensorflow already in your pipeline. I would like to give it a try and would then like to get your advice once I open a PR. If you already have ideas and suggestions feel free to add them here.
My intial thought was to do it along the lines of `sklearn.preprocessing.normalize` and `numpy.linalg.norm`.

[2019-05-21 09:44] yrenier opened #28900 "undefined symbol: _ZTVN6icu_639ErrorCodeE while building v1.12.2"
**System information**
- Debian 10.0
- TensorFlow installed from source
- TensorFlow version: v1.12.2
- Python version: 3.5.4
- Bazel version: 0.15.2
- GCC/Compiler version (if compiling from source): gcc 7.4.0
- CUDA 9.2, cuDNN 7
- GPU model and memory: GeForce 940MX, 2Go

The build fails with :
[code]

**Provide the exact sequence of commands / steps that you executed before running into the pro

[2019-05-21 09:50] sleighsoft commented on #28518
@aaroey I did some more testing. Indeed, it finishes.
But there is a huge time difference between running SVD on CPU vs GPU.

Tested on Titan X Pascal
- On CPU: 2.8 seconds
- On GPU: 60 seconds

[2019-05-21 09:58] achandraa commented on #28863
@geert56 : Thanks you for providing the support
@nguyenhuy3588 : Let us know if you are able to resolve it. Thanks!

[2019-05-21 10:10] gadagashwini commented on #28858
Glad it resolved. Thanks!

[2019-05-21 10:11] janosh commented on #28484
Certainly. Should I open a new issue there and mention this one?

[2019-05-21 10:19] IvyGongoogle commented on #23600
meet the same error. have you solved it @srjoglekar246 @zjd1988 @zjbaby

[2019-05-21 10:25] achandraa commented on #28857
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there and can provide suggestion quickly for such issues. Thanks!

[2019-05-21 10:28] cottrell commented on #27949
@jiarenyf I think:

https://pypi.org/project/tf-nightly-2.0-preview/

but it might not yet work in new python 3.7 and up. See numerous posts like this one:

https://github.com/tensorflow/tensorflow/issues/28691

[2019-05-21 10:45] Sean0123456789 commented on #28515
anyone can help? facing the same issue?

[2019-05-21 10:55] achandraa commented on #28854
Just to verify did you get chance to have a look on #22360. Which TensorFlow version you are using?

[2019-05-21 10:56] dmus commented on #28363
@jvishnuvardhan See here for a gist: https://colab.research.google.com/gist/dmus/edbed5154d07be197ced49e52ad3ea79/untitled0.ipynb

[2019-05-21 11:02] alexcohn commented on #28469
I use DirectByteBuffer for all tensors, it is both faster, and easier to manage. IMO, Java multi-dimensional arrays were born in sin, and should be avoided at any cost.

I don't understand why I need an extra copy of the output buffer, that's why I would prefer to have `Tensor.buffer()` exposed. Unless there are bad implications. I would be glad to learn about that: I have similar procedure in my

[2019-05-21 11:09] tejal567 commented on #28799
`import tensorflow as tf`
`import numpy as np`
`import os`
`import sys`

`input_layer = tf.keras.layers.Input(shape=([4,3]), batch_size=1)`
`layer1 = tf.keras.layers.Dense(20)(input_layer)`
`layer2 = tf.keras.layers.Dense(1,name="output1")(layer1)`
`layer3 = tf.keras.layers.Dense(1,name="output2")(layer1)`
`model = tf.keras.Model(inputs=input_layer, outputs=[layer2,layer3])`
`alpha = tf.keras.back

[2019-05-21 11:11] luorixiangyang commented on #28898
To add on:
I execute py_test suits by "bazel test" is successful, but execute tf_cc_test suits will occur above exceptions.
So i think maybe problems about c compiler. Hope you can help me to fix it. thanks.

[2019-05-21 11:16] abhinavsagar commented on #28893
How did you install tensorflow ?

[2019-05-21 11:31] luorixiangyang commented on #28898
I also find there are files suffix is not .so and instead of .a file :libutils.a, libutils.a-2.params  in the target folder in windows10,  but have correct so files in Ubuntu18 env. so how to change it. Do y think upgrade cuda support version could solve this issue.

[2019-05-21 11:32] pglushkov commented on #28414
I've been using pre-compiled version of TF C-API lib provide by TF-community (presumably), I've downloaded it from:  https://www.tensorflow.org/install/lang_c

That bundle does not contain any other .so except for libtensorflow_framework.so  and libtensorflow.so. Do I understand correctly that to  do actions that you advise - I'll need to manually compile Tensorflow 1.13 for Linux? Or maybe there

[2019-05-21 11:36] gadagashwini commented on #28846
@hsm207 I tried reproducing the issue on my system but the code executed without any error. Can you try once again and let us know if that still gives error. Thanks!

[2019-05-21 11:42] achandraa commented on #28851
Will it be possible to provide us the minimal code snippet that can give us the error you are facing. Let us also know which TensorFlow version you are using. Thanks!

[2019-05-21 11:43] gadagashwini commented on #28861
@Krum3L Thanks for the code snippet. I am able to reproduce the issue reported here.

[2019-05-21 11:44] muddham commented on #28868
@2649 Able to reproduce the issue with th provided code.

TypeError: 'Tensor' object cannot be interpreted as an integer

[2019-05-21 11:45] ANSHUMAN87 commented on #27882
@ngelotte : Now i am able to run the notebook, for the error you faced("Invalid argument: Input 1 of node keras_layer_1/StatefulPartitionedCall was passed float from Variable_1:0 incompatible with expected resource."), is because of custom objects from Hub_Layer.

As tf.lite.TFLiteConverter.from_saved_model() does not support custom objects, i would suggest rather you save model in h5 file and use

[2019-05-21 11:49] jiarenyf commented on #27949
@cottrell Thank you, I could install the `tf-nightly-up-2.0-preview` in python 3.7 and ubuntu 18.04 and solve the problem of `No gradients provided for any variable`.

[2019-05-21 11:58] muddham commented on #28799
@tejal567 Able to reproduce the issue with the provided code.
TypeError: ('Not JSON Serializable:', <tf.Variable 'Variable:0' shape=() dtype=float32>)

[2019-05-21 12:00] muddham commented on #19903
@jonasrauber  Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-21 12:00] #19903 closed

[2019-05-21 12:07] hamlatzis commented on #25688
All the samples are for models with built-in operations, what about custom operations? I've followed the documentation (https://www.tensorflow.org/lite/guide/ops_custom#defining_the_kernel_in_the_tensorflow_lite_runtime) but don't know how to register my custom operation from Java.

So when in the image_classification sample I try to use my model there is an exception informing me that my custom o

[2019-05-21 12:09] tafsiri commented on #28712
@MonarkA this looks like a path issue where your system can't locate the `tensorflowjs_converter` script. Did you get any errors when doing `pip install tensorflowjs`? (note its a separate pip package from `tensorflow`). Could you try re-installing it?

cc @pyu10055 @caisq

[2019-05-21 12:17] fuzzyBatman commented on #28854
Thank you for the response. I am using TF r.1.13
I am loading it in python and I did try adding `import tensorflow.contrib.tensorrt`

On a side note, I posted [this](https://devtalk.nvidia.com/default/topic/1052148/tensorrt/gpu-requirements-to-run-create_inference_graph-using-tensorrt-trt-in-tensorflow-/post/5340837/#5340837) question on nvidia devtalk and they answered

#### A generated TensorRT

[2019-05-21 12:23] achandraa commented on #28848
Did you follow the instruction from [TensorFlow website](https://www.tensorflow.org/install/source_windows). You can have a look on similar issue #22794 and #10033 . let us know if that helps. Looks like you need to add path for CUDA and CuDNN.

[2019-05-21 12:29] kangkang59812 commented on #24367
how to solve it ?

[2019-05-21 12:29] fuzzyBatman commented on #28854
Just noticed that there is a TF version mismatch between the one on my system (1.13) and the one on the GCP VM (1.12). Does this affect the result?

[2019-05-21 12:38] fuzzyBatman commented on #28854
Tried again with a new model. Same error.

[2019-05-21 12:49] achandraa commented on #28740
Tried verifying on Colab with TensorFlow version 1.13.1 (CPU and GPU), found significant time consumption difference between the two. Can you please help me out to know whether the result is consistent with you also or not with the same version. Thanks!

[2019-05-21 13:00] achandraa commented on #28854
Which CUDA version you are using ?

[2019-05-21 13:08] fuzzyBatman commented on #28854
On my local system it is CUDA 10.1 and cuDNN 7.4.2
On the VM it is CUDA 10.0 and cuDNN 7.4.1

[2019-05-21 13:21] FelixWiewel opened #28901 "[TF 2.0] Model not converging when trained with custom training loop"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.02 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Binary from Pypi
- TensorFlow version (use command b

[2019-05-21 13:23] yifeif commented on #28845
I tried gdb on this and saw it failed at `
Thread 1 "python" received signal SIGSEGV, Segmentation fault.
0x00007fff2608c6fa in stream_executor::StreamExecutorMemoryAllocator::StreamExecutorMemoryAllocator(stream_executor::Platform const*, absl::Span<stream_executor::StreamExecutor* const>) () from /.env/local/lib/python2.7/site-packages/tensorflow/python/_pywrap_tensorflow_internal.so`
@skye @haw

[2019-05-21 13:28] anilsathyan7 commented on #28606
The problem still seems to exist with the recent 'tflite-gpu-experimental-0.0.1' and' tflite-gpu-nightly-0.0.0' versions for android.The tflite models runs without errors in CPU mode; but in GPU we encountered SIGSEV errors.The same tflite models also seem to work in PC(linux TF13) in CPU. We used the latest tensorflow nightly to  convert the tensorflow models(pb) to tensorflow lite.

Also, we wer

[2019-05-21 13:37] valwang opened #28902 "INTERNAL ERROR reported while trying to apply GpuDelegate to tflite"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code: Yes, I am using my own training model based on MobileNetV2.
- OS Platform and Dist

[2019-05-21 13:39] SanthoshRajendiran commented on #26297
@gnsmrky @impjdi Any updates on the repo?? Can you provide some code fragments on where the changes need to be incorporated in the mobile app??

[2019-05-21 13:51] yrenier commented on #28900
For anyone having the same issue, I succeeded to compile Tensorflow by modifying third_party/icu/workspace.bzl in such a way that bazel would install the same version as the one already installed on the system.

Still there must be something wrong somewhere which make the building of Tensorflow using system icu while it tries to use the icu from bazel during linking.

[2019-05-21 13:57] ingramator commented on #22697
This is still not fixed and on 1.12 and 1.13 the newly loaded model actually just produces random results if not in the session that trained the model.

[2019-05-21 14:09] mihaimaruseac commented on #28900
Can you post the diff of the change you did to `third_party/icu/workspace.bzl`? This will ensure people hitting the same issue can find the workaround

[2019-05-21 14:16] juanilarregui commented on #19293
Hi @JaviBonilla @jdduke , any updates? Thanks!

[2019-05-21 14:21] muddham commented on #28894
@yarapathineni This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tenso

[2019-05-21 14:26] muddham commented on #28901
@FelixWiewel Able to reproduce the issue with the provided code and visualized the graph

[2019-05-21 14:32] muddham commented on #28844
@b3by I ran the code, but did not see any output, does this need any modifications in the code, if not please suggest me to reproduce the issue

[2019-05-21 15:24] sayakpaul commented on #28554
Cc: @ymodak

[2019-05-21 15:26] tianjiaq commented on #28848
Hi, thanks for reply. I have tried multiple solutions from previous similar issues, but it still gives the same error. And their error doesn't display the list of SET operations as well. The only difference I can see is i'm using cuda 10.0, but rtx 2070 requires cuda 10 i think. I have set all required path in system environment variable:
Path = c:\bazel;c:\msys64\usr\bin;C:\tools\cuda\bin;
C:\Use

[2019-05-21 15:29] b3by commented on #28844
Unless you look at your system manager or htop, the way you can see the memory leak is by plotting the memory consumption using `memory_profiler`. Did you execute the script by running the following?

[code]

It should open up a matplotlib plot with the memory taken by the script.

[2019-05-21 15:50] alextp commented on #28414
If you download the full python distribution it has the .so libs from
contrib as well.

On Tue, May 21, 2019 at 4:38 AM Peter Glushkov <notifications@github.com>
wrote:

--
 - Alex

[2019-05-21 15:50] drunkinlove opened #28903 "Receiving InvalidArgument error when feeding inputs of uneven length"
**System information**
- I have written custom, albeit straightforward code using keras.Sequential.
- Platform: Google Colab, CPU runtime, Python 3
- TensorFlow installed using _pip install -q tensorflow==2.0.0-alpha0_

**Current behavior**
InvalidArgument error occurs.

**Expected behavior**
I should be able to train the network using inputs of uneven length.

**Code to reproduce the issue**
[cod

[2019-05-21 15:57] tanzhenyu commented on #28484
Yep, that'd be great! https://github.com/tensorflow/probability

[2019-05-21 16:12] karmel commented on #26178
If you train the estimator at all, it should create the appropriate model_dir, if I understand correctly, and therefore save out. If you are not training the estimator at all, is the purpose of conversion merely to save the TF SavedModel? If so, I would recommend exporting the savedmodel directly from Keras: https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/experimental/export_save

[2019-05-21 16:19] janosh commented on #28484
Done.

[2019-05-21 16:19] #28484 closed

[2019-05-21 16:36] jdduke commented on #25688
@hamlatzis are you able to use bazel to build the native libraries? That is, if you can run:

[code]

You can either:

 1) [Add your sources here and explicitly add your custom op to the BuiltinOpResolver](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/java/src/main/native/builtin_ops_jni.cc#L25), then rebuild the library.
  2) Create your own `std::unique_ptr<OpResolver> tfl

[2019-05-21 17:05] jvishnuvardhan commented on #28363
@dmus This works for most of the other dimensions. I have changed `height` to 106,107, 109 etc and it worked as expected. When target height is 108, then this op produces an error as there are multiple calculations (for scaling image) when the code uses math_ops.floor function. Please take a look at the [source code](https://github.com/tensorflow/tensorflow/blob/a5c387b5ed78c9126424618d5c70f51cd37

[2019-05-21 17:20] hamlatzis commented on #25688
https://github.com/tensorflow/tensorflow/issues/25688#issuecomment-494466083

Yes that's how I built my .aar file and following the documentation I have added my custom ops. Tomorrow when I'm back at the office I'll check the rest of your guidelines

thnx

[2019-05-21 17:21] yufengg commented on #26178
Agreed that this method _would_ work; this issue was filed before r2.0 existed, so at the time using the old tf calls was the only way to export an _already trained_ Keras model.
Since the new `export_saved_model` is only available in TF 2.0's experimental, it will not be accessible in many cases (non-1.xx users, non-experimental code teams/companies). Question: in the RFC, I notice that `export_s

[2019-05-21 17:22] trentlo commented on #28890
Yes, nvidia is happy to help with the investigation and a fix.

[2019-05-21 17:24] srjoglekar246 commented on #23600
@IvyGongoogle @zjbaby @zjd1988 Apologies for the late response on this. AFAIK, MobileNet SSD has a fixed architecture that only supports 300x300 images. As a result, its not possible to resize inputs for this graph. Your best bet would be to central-crop the image to a 1:1 ratio, and then resize it (maybe with bilinear interpolation). C++ code for this is [here](https://github.com/tensorflow/tenso

[2019-05-21 17:41] tjhgit commented on #28877
I followed the instructions closely and it did always run into the above error. I tried different versions of bazel and different versions of tensorflow and also to compile with jobs=2, fearing the errors were due to a lack of memory.

[2019-05-21 17:41] stekern commented on #28552
I am getting the same error on TensorFlow 1.13.1 using the MNIST dataset from tensorflow-datasets (1.0.2).

[2019-05-21 17:55] TeoZosa commented on #28313
May be related to: #21637

[2019-05-21 18:16] yrenier commented on #28900
Sure, here it is:
[diff.txt](https://github.com/tensorflow/tensorflow/files/3203888/diff.txt)

In order to get what to put after "sha256 =", I downloaded the release-63-2.tar.gz file and used sha256sum on it.

[2019-05-21 18:20] mihaimaruseac commented on #28900
Thanks.

Looking again at the stack trace and error message I think this is caused by something escaping the conda environment.

[2019-05-21 18:20] drdee commented on #21898
See also https://github.com/tensorflow/serving/issues/789

[2019-05-21 18:22] prateethvnayak commented on #27752
Can you more specific ? Your use case is totally not reflected in your answer. Seems helpful though. Interested to know about this.

So the error is actually occurring when there is a model built using `tf.record`, which creates a `ExperimentalFunctionBufferingResource` tensor rather than a `tf.Placeholder` tensor.

[2019-05-21 18:25] karmel commented on #26178
To clarify, the code is available now as experimental, and will remain so for 1.x. So if you are in 1.x AND don't use experimental, you will have to stick with a workaround, but 2.x users or 1.x+experimental-okay users can save directly. WRT the RFC, the experimental export_saved_model functionality will be moved into model.save in 2.0, such that there is no need for the separate method/experiment

[2019-05-21 18:45] jsimsa commented on #28552
Note that even though this warning is unexpected, it should have no effect on performance and will be removed in future versions of TensorFlow to avoid confusion.

[2019-05-21 18:45] #28552 closed

[2019-05-21 19:31] Jonathan-Livingston-Seagull commented on #28318
@jvishnuvardhan You are right, as I mentioned in my previous message if the number of returned value from the py_function is one than it run through.

- I think this is not about the different return datatypes, even if I return the same datatype, it does not work as soon as the py_function returns more than one value. i.e the code below does not work

[code]

- The second point is that the "if con

[2019-05-21 20:15] atomberg opened #28912 "Unexpected behaviour of tf.keras.Model.predict using tf.data.Dataset as input"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code: _Yes_
- OS Platform and Distribution: _MacOS X, Ubuntu 16.04_
- Mobile device: _No

[2019-05-21 20:16] ymodak commented on #28819
This issue belongs to object detection api handled by tensorflow models repo. Please post it in [TF models](https://github.com/tensorflow/models/issues). Thanks!

[2019-05-21 20:16] #28819 closed

[2019-05-21 20:27] tianjiaq commented on #28848
I have successfully installed tensorflow with gpu support through anaconda. But I don't know what's wrong with my build from source approach still. But I can see anaconda installs cuda 10.0.1 and cudnn 7.5 with tensorflow 1.13.1

[2019-05-21 20:30] alextp commented on #28831
Can you add full instructions to reproduce?

This feels like a serious problem but it could be caused by many different things, and so having working code we can debug would be very helpful.

[2019-05-21 20:31] alextp commented on #28831
Or if you don't want to share your code if you're willing to run a git bisect and share the results with us that'd also be great.

[2019-05-21 20:36] ymodak commented on #28729
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-21 20:36] #28729 closed

[2019-05-21 20:45] ymodak commented on #28708
@ehennis This issue is more suitable on [Google Cloud AI Platform](https://github.com/GoogleCloudPlatform/cloudml-samples/issues). Please post it on [Google Cloud AI Platform](https://github.com/GoogleCloudPlatform/cloudml-samples/issues). Thanks!

[2019-05-21 20:45] #28708 closed

[2019-05-21 20:53] ymodak commented on #28554
@sayakpaul I was able to execute the colab successfully in latest tf nightly build.(TensorFlow version:  2.0.0-dev20190520) Can you please confirm? Thanks!

[2019-05-21 21:11] ehennis commented on #28708
Created ticket 420

https://github.com/GoogleCloudPlatform/cloudml-samples/issues/420

[2019-05-21 21:22] yufengg commented on #26178
And thanks for clarifying that the 'experimental' module is available in 1.x as well.

Re: your example, this is pretty much what I imagined it would look like, given the new APIs available.

Thanks for writing this up!

[2019-05-21 21:24] ymodak commented on #28779
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-05-21 21:24] #28779 closed

[2019-05-21 21:27] ymodak commented on #28621
Closing since a duplicate #28405

[2019-05-21 21:27] #28621 closed

[2019-05-21 21:27] ymodak commented on #28405
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-21 21:27] #28405 closed

[2019-05-21 22:23] cheshire commented on #28845
@alsrgv Could you verify that https://github.com/tensorflow/tensorflow/commit/fc2863425d742585b6e7d8b0ae9d008d2bfbe72f fixes the issue? I'll be cherry-picking it into r1.14.

[2019-05-21 22:51] alsrgv commented on #28845
@cheshire, the fix works, thanks!

[2019-05-21 22:53] ymodak commented on #28362
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-05-21 22:53] #28362 closed

[2019-05-21 22:54] #28845 closed

[2019-05-21 23:33] alew3 commented on #28831
@alextp, my full code is in this notebook:
https://github.com/alew3/huia_experience/blob/master/02_train/train_huia_poses_keras_tf2.ipynb

I timed this snippet of training as an example, it is running 3 times slower in the nightly. Visually the slow down seems to happen when should be updating the weights.

start = datetime.now()
model.fit(train_dataset, epochs=epochs,steps_per_epoch=steps_per_epo

[2019-05-22 00:08] pinnareet opened #28915 "No module named 'tensorflow_hub'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile de

[2019-05-22 00:46] aaroey commented on #28518
@smit-hinsu would you please help to take a look?

[2019-05-22 00:59] melissagrueter commented on #28195
Hi Skye,

My goal is to get while and cond ops working, with gradients, in whatever is the most efficient (and also stable) way.

Would the following more reasonable than my earlier plan to fully implement functional control flow?

* Implement some minimal FuncGraph for the C API
* Use FuncGraphs as the cond/body subgraphs of the existing non-functional while loop
* Write a non-functional cond tha

[2019-05-22 01:45] smit-hinsu commented on #28518
SVD GPU kernel is known to be slower compared to the CPU version.
See https://github.com/tensorflow/tensorflow/issues/13603#issuecomment-418153277

Still, it makes sense to see if there was any further regression between graph mode and eager mode or TF version 1.13 and 1.14.

[2019-05-22 02:12] nguyenhuy3588 commented on #28863
Hi @achandraa will i need to separately compile library dependencies downloaded by ownload_dependencies.sh?

I successfully compile object file for the source in tensorflow/lite but got some undefined reference error when creating libtensorflow-lite.a, like so:

/home/xxxx/tensorflow/tensorflow/lite/tools/make/gen/linux_x86_64/lib/libtensorflow-lite.a(if.o): In function `flexbuffers::Indirect(unsi

[2019-05-22 02:14] npuichigo commented on #28760
@muddham Related information is listed below.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary

[2019-05-22 02:22] whaozl commented on #28858
CUDA_VISIBLE_DEVICES
modify the environment variables of the current program through Java built-in.

c++  import <stdlib.h> setenv(“{Name}={Value}”)

setenv can modify the environment variables of the current program.

[2019-05-22 02:29] nguyenhuy3588 commented on #28863
I face this problem when compile with ubuntu default environtment too.

Forgot to mention, i change the CXX_FLAGS from:

CXXFLAGS += $(EXTRA_CXXFLAGS)

to only this:

for not typing so many each time but i think this's not a problem.

[2019-05-22 02:46] kunkun007 opened #28917 "libtensorflowlite.so crash when load model, just crash on SessionOption destructor"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-05-22 03:01] IvyGongoogle commented on #23600
@srjoglekar246 I find the `sizes` must be `{1, 300, 300, 3}` which is the same input size of ssd tflite model, and then `interpreter_->ResizeInputTensor(interpreter_->inputs()[0], sizes)` works.  But you said `1:1 ratio` is ok?

[2019-05-22 03:07] kunkun007 commented on #28917
System information

Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:HUAWEI armv8 mobile
TensorFlow installed from (source or binary): source
TensorFlow version (use command below): r1

[2019-05-22 03:22] srjoglekar246 commented on #23600
You would need to crop 1:1 AND resize to (300, 300) :-)

[2019-05-22 03:24] Sam-DevZ commented on #26249
For everyone reading this from Google, in case you're not familiar with/are using HomeBrew, I fixed it with:

[code]

[2019-05-22 04:22] hoonkai commented on #27828
Same here. I'm having the same issue.

[2019-05-22 04:37] joshuachen1122 commented on #28893
I solved the issue! I installed tensorflow 2.0, which I understand is currently in alpha. I was running into issues with tensorboard and I accidentally uninstalled the wrong version. So i fixed it by uninstalling everything and installing an older, more stable version of tensorflow. Thanks for the response.

[2019-05-22 04:37] #28893 closed

[2019-05-22 04:38] jesen8 commented on #28388
@samhodge hi,Dears,,i have got a problem with build a static library and run error ,could u can help me? thanks.

[2019-05-22 04:39] jesen8 commented on #28388
the detail info is [here ](https://stackoverflow.com/questions/56249350/how-to-build-a-static-library-with-libtensorflow-core-a-and-how-to-use-it)

[2019-05-22 04:42] mikechen66 commented on #24496
Hi tydlwav:

Thanks for your feedback. After checking the version compatibility and release date of the core libraries, I installed the related dev environments, run the simple MNIST test code and got the outputs as follows.

I think that Anaconda3 can not even support the core libraries of cudnn and TensorFlow. So it is a big problem of Anaconda3. So I want to delete the lightweight cudnn librari

[2019-05-22 04:44] gadagashwini commented on #28432
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-22 04:44] #28432 closed

[2019-05-22 04:45] gadagashwini commented on #28684
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-22 04:45] #28684 closed

[2019-05-22 04:46] gadagashwini commented on #28687
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-22 04:46] #28687 closed

[2019-05-22 04:47] gadagashwini commented on #28690
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-22 04:47] #28690 closed

[2019-05-22 05:08] ANSHUMAN87 commented on #22146
@gashmish : Sorry i was busy in other tasks. Now i checked your new models shared. But i could not find anywhere BatchToSpace and SpaceToBatch Ops in h5 files which needs to be converted to Dilated Conv. Would you please cross check. Please let me know if i miss anything. Thanks!

[2019-05-22 05:15] llan-ml commented on #28901
Hi @FelixWiewel What if using `MyKerasModel` but with the custom training loop?

[2019-05-22 05:21] mikechen66 commented on #24496
Hi tydlwav:

I use the following command to uninstall both cuda and cudnn.  However, both the libraries are still located in Anaconda3 even though they do not work right now. I guess that Anaconda3 intends to protect the core libraries not to be removed. It might be the core capability of Continuum even thought it has bugs. I  will try to use either Independent Nvdia cuda(uncluding nvcc) and cudnn

[2019-05-22 05:24] fischeru commented on #28511
Sorry. Problem was on my side. I moved the resulting .so's which was apparently breaking everything.

It would be nice to have an explanation what these libraries are doing and needing somewhere in an official guide.

 I'll close the issue.

[2019-05-22 05:24] #28511 closed

[2019-05-22 05:26] AlexanderBartler commented on #28901
@FelixWiewel @llan-ml
I can reproduce the bug as well and already tried to use the `MyKerasModel` with the same wrong behavior.

[2019-05-22 05:26] gadagashwini commented on #28903
I could reproduce the issue reported here.

[2019-05-22 05:30] achandraa commented on #28473
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-22 05:30] #28473 closed

[2019-05-22 05:34] #28827 closed

[2019-05-22 06:06] KuenstlicheIntelligenz opened #28919 "resize_image_with_pad output dimensions must be positive"
**System information**
- Custom code
- OS Platform and Distribution Windows 10:
- TensorFlow installed using pip
- TensorFlow versions: tested 1.12, 1.13:
- Python version: 3.6
- CUDA/cuDNN version: 9
- GPU model and memory:  GTX 1070 major: 6 minor: 1 memoryClockRate(GHz): 1.7715
pciBusID: 0000:02:00.0
totalMemory: 8.00GiB freeMemory: 6.63GiB

**Describe the current behavior**
I have a custom est

[2019-05-22 06:19] rahuladream commented on #28855
Yes, I did
The official one also have low accuracy

[2019-05-22 06:21] Amin-Tgz commented on #25366
Tensorflow 2.x resources such as corresponding tutorials, blogs, codes and videos:
https://github.com/Amin-Tgz/Awesome-TensorFlow-2
I hope to be useful

[2019-05-22 06:32] dreistheman commented on #27999
@mengpengfei So you do the inference in c++ and retrieve the results (bbox data) in Java, then proceed with further processing? Can you share how to do it :(

@karllessard I tried what you recommended that is using the same Session instance for all predictions and it improved the performance a little bit to 9 fps now (with GPU help : GTX 1070), which is still incredibly slow from the real-time goa

[2019-05-22 06:47] gadagashwini commented on #28895
@ekuama The Tensorflow 1.3.1 supports CUDA 8 and cuDNN 6. And The Tensorflow 1.13.1 supports CUDA 10.0 and cuDNN 7.5. Please verify your Tensorflow version and install accordingly. Thanks!

[2019-05-22 06:51] gadagashwini commented on #28702
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-22 06:51] #28702 closed

[2019-05-22 06:52] rahuladream opened #28920 "Limit of Classes (label_map.txt or label_map.pbtxt)"
Is there any limit in label map classes used in the training config file?

[2019-05-22 06:54] hamlatzis commented on #25688
https://github.com/tensorflow/tensorflow/issues/25688#issuecomment-494466083

@jdduke just modified my code and it worked thnx

![2019-05-22_09h44_36](https://user-images.githubusercontent.com/761700/58153395-938db180-7c77-11e9-9e7b-46d88e3a3f30.png)

(sorry for the Greek labels in the image)

[2019-05-22 07:02] FelixWiewel commented on #28901
Hi @llan-ml,

I tried that and it gives the same wrong behavior. The only way I could make the model converge with a custom training loop was to use the MyKerasModel and train it with it's train_on_batch function.

[2019-05-22 07:19] cfkxzsat commented on #28712
Same here. Use
[code]
got

**ERROR: Could not find a version that satisfies the requirement tf-nightly-2.0-preview>=2.0.0.dev20190502 (from tensorflowjs) (from versions: none)
ERROR: No matching distribution found for tf-nightly-2.0-preview>=2.0.0.dev20190502 (from tensorflowjs)**

my python version: 3.7.3
pip3 --version
pip 19.1.1 from /Library/Frameworks/Python.framework/Versions/3.7/lib/python3

[2019-05-22 07:41] gadagashwini commented on #28823
@Windaway I tried reproducing the issue through colab link provided but the code executed without any error. Can you try once again and let us know if that still gives error. Thanks!

[2019-05-22 08:09] morgangiraud opened #28921 "AWS S3 implementation can't handle weird path containing an "=" sign"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OSX
- TensorFlow version (use command below): 1.13.1
- Python version: 3.6

**Describe the current behaviour**
the AWS S3 implementation can't handle weird path

**Describe the expected behavior**
the AWS S3 implemen

[2019-05-22 08:28] wukong1992 opened #28922 "newest dockerfile did not include nccl"

[2019-05-22 08:52] achandraa commented on #28848
Just to verify did you follow exactly the same instructions from [TensorFlow website](https://www.tensorflow.org/install/source_windows) (with GPU support). Thanks!

[2019-05-22 09:25] DJSpyman commented on #26296
Hello Folks... I could solve this puzzle (at least for my issue).
After digging deeper and deeper I found that my processer (on the Target System) does not support AVX, but the library was built with AVX support. Therefore the DLL did not work. The same happend when I built the DLL for myself.
I fixed it Building the DLL myself. During pyhton configure.py I had to set the option /arch:atom otherwi

[2019-05-22 09:33] achandraa commented on #28893
Good to know the issue is resolved.

[2019-05-22 09:37] sayakpaul commented on #28554
@Shivanshmundra I am on `2.0.0-alpha0` locally and hence I am able to use the `tensorboard.notebook`.

[2019-05-22 09:39] tzy0204 commented on #27918
I faced the same problem, @schawla1988 's solution is not working for me, could anybody have idea?
Thanks.

[2019-05-22 09:41] sayakpaul commented on #28554
@ymodak on Colab, it runs. But locally, I did not check with `tf-nightly` since I use the local setup for work. However, the `tensorboard.notebook` works just fine locally.

[2019-05-22 09:42] llan-ml commented on #28901
There is a bug in your code. In `train_step`, the shape of `y` is `(16,)`, while the shape of `y_pred` is `(16,1)`.

You should try this:
<pre>
def train_step(model, optimizer, x, y):
    y = y[:, tf.newaxis]
    ...
</pre>

[2019-05-22 09:49] FelixWiewel commented on #28901
@llan-ml Thanks for pointing that out. Indeed this seems to solve the issue. But is this intended behavior? I mean shouldn't tensorflow be able to produce the same results regardless of this difference in shape?

[2019-05-22 10:06] achandraa commented on #28843
@netskink : Thank you for bringing this out.

[2019-05-22 10:08] batikus opened #28923 "TF 2.0 save/restore DenseFeatures"
** Code **
Follwing this guide i created a model to classify structured data https://www.tensorflow.org/alpha/tutorials/keras/feature_columns :
[code]

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win10
- TensorFlow version (use command below): 2.0.0 alpha
- Python version: 3.6

**Describe the behavior**

Now when i try to save with the usual
`model.save('path_

[2019-05-22 10:16] brunorigal opened #28924 "tensorflow.python.eager.core._FallbackException: This function does not handle the case of the path where all inputs are not already EagerTensors."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Custom code
- Ubuntu 18

- TensorFlow installed from source:
- TensorFlow version :2.0
- Python version: 3.6
-

[2019-05-22 10:26] sayoojbk commented on #25435
is someone working on this issue ?

[2019-05-22 10:31] achandraa commented on #28898
Did you try following the steps from [TensorFlow website](https://www.tensorflow.org/install/source_windows). Also check [GPU support](https://www.tensorflow.org/install/gpu#hardware_requirements) for CUDA compatibility with TensorFlow version.

[2019-05-22 10:32] AmandaCSantos opened #28925 "ValueError: Attempt to convert a value (<6x6 sparse matrix of type '<class 'numpy.float64'>' with 1 stored elements in COOrdinate format>) with an unsupported type (<class 'scipy.sparse.coo.coo_matrix'>) to a Tensor."
I am building a recommendation model using the WALS algorithm and implementing it in Tersorflow. I have processed the data and when I try to initialize the object I get the error below.

ValueError: Attempt to convert a value (<6x6 sparse matrix of type '<class 'numpy.float64'>'
	with 1 stored elements in COOrdinate format>) with an unsupported type (<class 'scipy.sparse.coo.coo_matrix'>) to a Ten

[2019-05-22 10:36] llan-ml commented on #28901
This is about array/tensor broadcast, similar to numpy. If you want to write customized training loops using low-level apis, you should take care and debug more.

[2019-05-22 11:18] FelixWiewel commented on #28901
@llan-ml Thanks. I guess the issue can be closed.

[2019-05-22 11:18] #28901 closed

[2019-05-22 11:18] vizero1 opened #28926 "Build tensorflow lite for aarch64: Error in script download_dependencies.sh and build_aarch64_lib.sh"
**System information**
- OS Platform and Distribution: Google coral board aarch64
- TensorFlow lite installed from source
- TensorFlow version: master branch

If I run the script ./tensorflow/lite/tools/make/download_dependencies.sh  from the root directory of the repo I am getting following error:

**downloading http://mirror.tensorflow.org/bitbucket.org/eigen/eigen/get/a0d250e79c79.tar.gz**

**g

[2019-05-22 11:25] Sam-DevZ commented on #18769
Uh, this is still an issue? I built the latest version of tensorflow from source and it's still happening! I've tried practically everything.

[2019-05-22 11:39] soham24 commented on #26297
@gnsmrky  thank you so much for your efforts. let us know when you are adding sample code here.

[2019-05-22 12:02] vizero1 commented on #28926
https://github.com/tensorflow/tensorflow/commit/69aa57b4158da0f09ca732ee302ef453fa6b3209#diff-455a4c7f8e22d7c514e8c2caa27506c5

There was an update to the artifact it tries to download.  Tried to download both with wget and  the old artifact is available but the new one can't be downloaded.

[2019-05-22 12:32] AlexanderBartler commented on #28394
Hi @Atrus619,
maybe the problem is caused by broadcasting in your loss function in the custom loop. Make sure that the dimensions of `predictions` and `label` is equal. At the moment (for MAE) they are `[128,1]` and `[128]`. Just make use  of `tf.squeeze` or `tf.expand_dims`.

Hope I could help,
Alex

[2019-05-22 12:37] luorixiangyang commented on #28898
yes, i did it following the TensorFlow website and also chech the GPU support for CUDA compatibility with tensorflow version.

env:
OS: windows 10
bazel version: 0.24.1
tensorflow version:r1.14
python:3.6.4
CUDA:9.0
cuDNN: 7.4

[2019-05-22 12:52] caisq commented on #28712
@cfkxzsat It is weird that your pip can't find a suitable version of tensorflow.
Can you try the standalone install command `pip install tf-nightly-2.0-preview` and see what version you get?

[2019-05-22 13:06] netskink commented on #28843
You are welcome achandraa.  Yesterday there was discussion regarding the branches.  Is 2.0 updates going into master branch or r2.0 branch?

[2019-05-22 13:17] karllessard commented on #27999
@dreistheman I just ran a little test on my side too and like @abhinavos7a , I observe that the inference time (including the creation of initial tensors the way I suggested) is pretty much the same in both cases:

10000 iterations, CPU-only:
* Java: 32455117 msecs
* Python: 36309922 msecs

I'm very curious to see what causes this latency in your case, do you have a piece of code to share?

[2019-05-22 13:24] wosiu commented on #23888
the same issue
tensorflow 1.13.1 cpu

[2019-05-22 13:43] tcbegley opened #28928 "[TF2.0] steps_per_epoch parameter not working when input data passed as dictionary"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary (pip)
- TensorFlow version (use command below)

[2019-05-22 13:50] hsm207 opened #28929 "TF2.0 Problem making prediction from a checkpoint if model has an embedding column"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-05-22 13:53] hsm207 commented on #28846
@gadagashwini yes, I still get the same error. Is there additional information I can provide to help you diagnose this issue?

[2019-05-22 14:02] johnstill opened #28931 "RuntimeError when using distribution strategy (Distributed training in TensorFlow: Keras Tutorial throws error)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Cent OS 7
- TensorFlow installed from (source or binary): conda
- TensorFlow version (use command below): 1.13.1
- Python version: 3.7.3
- CUDA/cuDNN version: 10.0 / 7.3.1 (conda installed cudnn)
- GPU model and

[2019-05-22 14:19] evolu8 commented on #12871
Still an issue!

[2019-05-22 14:34] TheSiebi commented on #28815
Issue resolved, I had to use DetectorMode.YOLO

[2019-05-22 14:44] abhinavsagar commented on #28915
It works for me
`Collecting tensorflow-hub
  Downloading https://files.pythonhosted.org/packages/10/5c/6f3698513cf1cd730a5ea66aec665d213adf9de59b34f362f270e0bd126f/tensorflow_hub-0.4.0-py2.py3-none-any.whl (75kB)
    100% |████████████████████████████████| 81kB 162kB/s
Requirement already satisfied: six>=1.10.0 in c:\users\win 10\appdata\local\programs\python\python36\lib\site-packages (from tenso

[2019-05-22 14:57] heluotian opened #28932 "java.lang.RuntimeException: java.lang.IllegalArgumentException: Internal error: Cannot create interpreter: Didn't find custom op for name 'TFLite_Detection_PostProcess' with version 1 Registration failed."
windows
android 8.0.0
huawei mate9

    implementation 'org.tensorflow:tensorflow-lite:0.0.0-nightly'

CameraActivity: Exception!
    java.lang.RuntimeException: java.lang.IllegalArgumentException: Internal error: Cannot create interpreter: Didn't find custom op for name 'TFLite_Detection_PostProcess' with version 1
    Registration failed.

        at org.tensorflow.lite.examples.detection.tflite

[2019-05-22 15:16] amilsted opened #28933 "Optimize transpose ops"
**System information**
- TensorFlow version (you are using): 1.13.1
- Are you willing to contribute it (Yes/No): No (I lack the expertise to mess with the graph optimizer).

**Describe the feature and the current behavior/state.**
TF is not very smart about transpositions. For example, the graph optimizer could do the following:
1. Merge adjacent transpositions (each transpose op costs time and cr

[2019-05-22 16:07] gitathrun opened #28934 "Request for ScatterNd on Tensorflow Lite"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Ubuntu 16.04
- TensorFlow installed from (source or binary):
Binary
- TensorFlow version (or github SHA if from source):
1.13.1 and 2.0-preview

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Include any logs or

[2019-05-22 16:10] jdduke commented on #25688
Nice! Glad it worked.

We'll work on updating the documentation on using custom ops to explicitly call out how to do this with the Java bindings. Thanks for flagging the issue!

[2019-05-22 16:10] allenlavoie commented on #18769
@Sam-DevZ operating system and version, TF git version, repro instructions? The [repro I posted](https://github.com/tensorflow/tensorflow/issues/18769#issuecomment-430030868) works for me on `1.14.1-dev20190522` (nightly) and macOS 10.14.2.

[2019-05-22 16:12] ijiroterunao commented on #26255
i have the same problem,and at the end i found that because i use double GPU ,one is intel GPU,another one is nvidia GPU,so i opened nvidia control panel,changed my prefer graphic processor to nvidia GPU instead of auto choose(auto choose intel GPU or nvidia GPU),that works for me .

[2019-05-22 16:14] alextp commented on #28732
@JafferWilson your question about map_fn seems to have been answered correctly.

Again, to iterate over a tensor either use tf.function (available in nightly, tf2 alpha, and soon-to-be-released 1.14), eager execution, or map_fn.

[2019-05-22 16:14] #28732 closed

[2019-05-22 16:48] luorixiangyang commented on #28898
Thank you for your reply.
I did the steps follow official guide, following is my develop environment：

OS: windows 10
bazel version: 0.24.1
tensorflow version:r1.14
python:3.6.4
CUDA:9.0
cuDNN: 7.4.1

[2019-05-22 17:17] alextp commented on #28831
Can you give me a shorter example to reproduce? I can't quite run your notebook as I don't have the training data or the filesystem setup in the way you do.

[2019-05-22 17:28] coderforlife opened #28936 "CUDA 10.1 Support (continued)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Fedora 30
- TensorFlow installed from (source or binary): source, master branch (c156831c298e27ce4d058c6ab03ec61bc6e910bf)
- TensorFlow version: 2.0
- Python version: 3.7
- Installed using virtualenv? pip? conda?: building in virtualenv
- Bazel version (if compiling from source): 0.25.2-1
- GCC/Compiler version (if c

[2019-05-22 17:38] coderforlife opened #28937 "C++17 features used even though C++11 standard explicitly given"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Fedora 30
- TensorFlow installed from (source or binary): source, master branch (c156831c298e27ce4d058c6ab03ec61bc6e910bf)
- TensorFlow version: 2.0
- Python version: 3.7
- Installed using virtualenv? pip? conda?: building in virtualenv
- Bazel version (if compiling from source): 0.25.2-1
- GCC/Compiler version (if c

[2019-05-22 17:44] ymodak commented on #28554
With ```tf-nightly``` it should work on your local as well since on colab we use ```tf-nightly```. I will close this issue now, feel free to reopen if you still have problems. Thanks!

[2019-05-22 17:44] #28554 closed

[2019-05-22 17:57] joaolcaas opened #28938 "Is there any difference in mAP from fronzen graph to .tflite model?"
I'm running android example following this [artichle](https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193) from tensorflow. On it, the author talk about the mAP while the training is running. The mAP[0.5] it's equals to 82%. Then, next in the article, the model is transformed to .tflite, but he do not talk about mAP or any

[2019-05-22 18:00] rryan commented on #18787
I like your suggestion @boeddeker! It would be nice if the defaults were better. I'm planning to make a bunch of tf.signal improvements soon so hopefully I'll get to this.

[2019-05-22 18:13] chennakeshava1998 opened #28939 "TypeError in RNNs tutorial"
## URL(s) with the issue:
https://www.tensorflow.org/tutorials/keras/basic_regression
#### Description of issue (what needs changing): https://www.tensorflow.org/tutorials/keras/basic_regression#build_the_model

### Clear description

The `model = build_model()` function results in a `TypeError` and gives the following trace:
[code]

### Parameters defined

Are all parameters defined and formatted

[2019-05-22 18:20] wdirons opened #28940 "Misleading "Not built with GPU enabled. Skip GPU library dlopen check." message when using GPU 2.0 nightly build"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04 x86
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip install tf-nightly-gpu-2.0-preview==2.0.0.dev2

[2019-05-22 18:21] impjdi commented on #28902
@valwang

Could you elaborate what you mean by "written custom code"?  Did you just re-architect MobileNetV2, or did you actually try to write shader code?

[2019-05-22 18:22] wdirons commented on #28940
@yifeif , this message was added in this commit:
https://github.com/tensorflow/tensorflow/commit/fcfb99bc3aa3110feae5233dbe4634bffa70dc59

Is the #if GOOGLE_CUDA variable not getting set correctly ?

[2019-05-22 18:45] srjoglekar246 commented on #28934
New op requests are tracked at [#21526](https://github.com/tensorflow/tensorflow/issues/21526). Could you put a comment there and close this issue? Thanks!

[2019-05-22 18:46] #28934 closed

[2019-05-22 18:52] lioutasb opened #28941 "Can't use padded_batch on dataset with distributed strategy make_dataset_iterator"
I can't use padded_batch when I'm trying to create a distributed iterator using the following code.

[code]

It throws this exception:

[code]

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if

[2019-05-22 18:56] srjoglekar246 commented on #28938
The mAP should remain the same, since the model was trained with quantization-aware training. Typically, accuracies fall a bit with [post-training quantization](https://www.tensorflow.org/lite/performance/post_training_quantization), but not vanilla conversion to TFLite.

[2019-05-22 19:06] hoonkai commented on #28838
@freedomtan Thanks for the pointer. If my understanding of the code is correct, GPU delegates are only used on Android. Can delegates work on desktop?

[2019-05-22 19:17] joaolcaas commented on #28938
Thanks for answer me, @srjoglekar246 ! Do you have any documentation that comprove it? Sorry if its sound that i don't trust you rs, i just need a better explanation

[2019-05-22 19:38] srjoglekar246 commented on #28938
Its basically a function of how the [TFLite converter](https://www.tensorflow.org/lite/convert) works. For conversion that doesn't employ post-training quantization, we simply copy over the weights from the original TF graph. You could probably dig around the [converter code](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/toco) to see how it works.

[2019-05-22 19:43] joaolcaas commented on #28938
I see! Thank you again

[2019-05-22 19:43] #28938 closed

[2019-05-22 19:49] alew3 commented on #28831
@alextp , I've cut down the code and included the training data in two different collabs to make things easier to reproduce, with the only change being the version of Tensorflow 2 used. Tensorflow Nightly is 3x slower.

**TensorFlow 2 Alpha GPU**
https://colab.research.google.com/drive/1AOhKl18zI-W1YZ2BPTHO_e0zezUgw6Jh#scrollTo=OaNzmAVbosq0
run 1. total time of **0:05:39.198438** for 5 epochs, ten

[2019-05-22 19:51] samhodge opened #28942 "Missing Op DenseToDenseSetOperation in contrib makefile static build"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux el6 and MacOS 10.13
- Mo

[2019-05-22 19:52] samhodge commented on #28388
Adding related issue

https://github.com/tensorflow/tensorflow/issues/28942

[2019-05-22 20:20] jvishnuvardhan commented on #28304
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken. Please open a new issue if you notice any bug when you install TF from source. In this issue, you cannot use MKL to accelerate performance as it doesn't support AMD processor. Thanks!

[2019-05-22 20:20] #28304 closed

[2019-05-22 20:22] jvishnuvardhan commented on #28318
@Jonathan-Livingston-Seagull Thanks! please close if the issue was resolved. Thanks!

[2019-05-22 20:34] jvishnuvardhan commented on #26296
@cogmeta Did you follow @DJSpyman suggestion? Please let us know how it progresses. Thanks!

[2019-05-22 20:40] RubensZimbres commented on #28801
In this case, `tensorflow_probability` import works with Tensorflow 1.13.1, as well as` tfp.distributions`, but "TensorFlow Model Optimization requires TensorFlow version >= 1.14.0". No problem in Windows

[2019-05-22 20:44] coderforlife commented on #28936
For the second problem I think I found a solution. Nothing was dependent on `@local_config_cuda//cuda:cublas_headers` in the entire code base. Adding it to the four builds that need it seems to fix that problem:

[code]

[2019-05-22 20:47] coderforlife commented on #28936
(Since `cuda:cublas_headers` is dependent on `cuda:cuda_headers` there is some redundancy there and the `@local_config_cuda//cuda:cuda_headers` dependencies could be removed, but it doesn't really hurt anything).

[2019-05-22 20:48] sslavian812 commented on #28645
Hi,
Is there any news about this issue? I believe I have the same issue in `Ubuntu 16.04.3` with
[code]

[2019-05-22 20:52] jvishnuvardhan commented on #28038
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-05-22 20:52] #28038 closed

[2019-05-22 21:01] jvishnuvardhan commented on #28053
@stevehawley Could you provide any standalone code to reproduce the issue? thanks!

[2019-05-22 21:02] jvishnuvardhan commented on #28256
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-05-22 21:05] jvishnuvardhan commented on #28287
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-05-22 21:12] jvishnuvardhan commented on #28305
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-05-22 21:12] #28305 closed

[2019-05-22 21:20] jvishnuvardhan commented on #28393
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-05-22 21:20] #28393 closed

[2019-05-22 21:22] jsimsa commented on #28374
Hi @sleighsoft you can use the `map` transformation to do what you want:

[code]

[2019-05-22 21:22] #28374 closed

[2019-05-22 21:29] teddyward opened #28944 "Link for migrating from deprecated DNNLinearCombinedRegressor is broken"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

https://github.com/tensorflow/

[2019-05-22 21:30] jvishnuvardhan commented on #28423
@Kshitij09 I think it is more related to tensorboard repo. Could you post it [there](https://github.com/tensorflow/tensorboard/issues). If you think it is more related to TF Core, then please provide a standalone code to reproduce the issue. Thanks!

[2019-05-22 21:37] jacobsn commented on #22618
I am having the same issue.  I would like to be able to use Keras to define a model, convert to TPUEstimator, and use an adaptive learning rate policy.  So far, I can't figure out a good solution and it all seems to point back to this issue.

Any good workarounds?

[2019-05-22 21:40] jvishnuvardhan commented on #28445
@iqbalhabibie Thanks for finding this link that is not working. On which page, you found the link? Thanks!

[2019-05-22 21:41] samhodge opened #28945 "CUDA GPU support for contrib static makefile build on Linux and possibly MacOS and Windows"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): v1.13.1
- Are you willing to contribute it (Yes/No): Yes

[2019-05-22 21:49] jvishnuvardhan commented on #28514
@theonlydaleking Thanks for finding this link that is not working. I raised a PR to correct the link in the source. Thanks!

[2019-05-22 21:53] samhodge commented on #28942
I noticed this in the docs

The most common cause of breakages are files that have been added to the Bazel build scripts, but that the makefile isn't aware of. Typical symptoms of this include linker errors mentioning missing symbols or protobuf headers that aren't found. To address these problems, take a look at the *.txt files in tensorflow/contrib/makefile. If you have a new operator, you may n

[2019-05-22 21:56] samhodge commented on #28942
booya!

https://github.com/tensorflow/tensorflow/blob/v1.13.1/tensorflow/contrib/makefile/tf_op_files.txt

doesnt contain
tensorflow/core/ops/set_ops.cc

Problem solved by @samhodge

Sorry for the traffic.

[2019-05-22 21:57] #28942 closed

[2019-05-22 22:03] coderforlife commented on #28936
Did a clean build with just the patch above (and the one in #28937 for TensorRT) and everything builds fine. The first bullet point must of been a caching issue. A clean copy of the code finds and copies the appropriate so files.

[2019-05-22 22:20] jvishnuvardhan commented on #28597
@celinew1221 Can you try
[code]

This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-05-22 22:23] myron commented on #22095
Alright, so upgrading to Tensorflow 1.31.1, CUDA 10.0 solved it for me.
This issue can probably be closed now.

[2019-05-22 22:26] lisaong commented on #28791
Found the solution, at least for my issue: https://www.tensorflow.org/lite/guide/ops_select

RandomStandardNormal is part of the whitelist:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/toco/tflite/whitelisted_flex_ops.cc

[code]

This doesn't resolve the issue reported by @hamlatzis

[2019-05-22 22:29] coderforlife opened #28948 "Updated Eigen breaks builds"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Fedora 30
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.0
- Python version: 3.7
- Installed using virtualenv? pip? conda?: source in virtualenv
- Bazel version (if compiling from source): 0

[2019-05-22 22:31] tianjiaq commented on #28848
Yes, i did it exactly the same way. And used the same version of package if mentioned. But there are some packages version not specified, they might be the issue then.

[2019-05-22 22:48] FiReTiTi commented on #26254
Same issue for me.
The cluster I use only contains Cuda 9.0, and when I reinstalled tensorflow it automatically installed 1.13.1, which didn't support Cuda 9.
So I downgraded the version to 1.12.2 and it worked.

[2019-05-22 22:59] MischaPanch commented on #28287
I had the same issue in tensorflow 1.13.1 which I have resolved by creating a reference to the session that is used for loading the models and then to set it in each request. I.e. I have done the following:
[code]
and then in each request (i.e. in each thread):
[code]

[2019-05-22 23:01] Paran0 commented on #22794
Same here, Win10 Pro x64, Python 3.6.8, Tensorflow-gpu 1.13.1, cuDNN 7.5.1.10, CUDA 10.1, Driver 430.64
![image](https://user-images.githubusercontent.com/40433852/58214432-e8c6d300-7d0a-11e9-9d49-809e154d094d.png)

[2019-05-22 23:36] omerrciftcii commented on #18736
@reinaldocmendes  I think you should try to reduce your batch size, because after some time probably  the process will be killed

[2019-05-22 23:47] alew3 commented on #28831
Enabling logging during model.fit(), I see that it is mostly running on the GPU. But I'm not sure what **Executing op ExperimentalDatasetCardinality in device /job:localhost/replica:0/task:0/device:CPU:0** does, but it runs on the CPU when things slow down.

Executing op CloseSummaryWriter in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op DestroyResourceOp in device /job:localhos

[2019-05-22 23:53] tumusudheer commented on #25220
Hi @aaroey,

Just checking if you are waiting for me to check something from my side ? Did you find the reason for the error and how to fix it?

Thank you

[2019-05-23 00:46] bis-carbon commented on #14834
Another issue with ``` tf.metrics.auc ``` is, it doesn't give the same result when using one hot encoding and [0, 1] encoding. For example, ```target = [1, 1, 0, 1, 0] and one hot encoding of target is targ_one_hot=[[0, 1], [0, 1], [1, 0], [0, 1], [1, 0]] ``` if we these different representation   ``` tf.metrics.auc ``` gives different results where as ```sklearn.metrics.auc_score``` results are s

[2019-05-23 01:02] freedomtan commented on #27626
@impjdi FYR. Dunno if this is same problem, but it seems there is a problem on some Qualcomm platforms too. I bought a Pixel 3a last week. NNAPI driver doesn't work on it, so I tried GPU Delegate on it. I got GPU numbers much worse than expected with my [quick-and-dirty benchmark](https://github.com/freedomtan/glDelegateBench/). I also got similar GPU numbers for Mobilenet V1 on both [TfLiteCamera

[2019-05-23 01:12] jasonaidm commented on #27381
I also have this demand (pb format quantization model), please help us, thanks! @jvishnuvardhan

[2019-05-23 01:12] impjdi commented on #27626
@freedomtan

We have prioritized and have someone working on Mali performance.  Maybe he can find the problem soon.  Hopefully that also addresses the Pixel 3a issue...

[2019-05-23 01:12] valwang commented on #28902
@impjdi I just re-architect MobileNetv2. My training model is based on MobileNetV2, but the input and output is modified.

[2019-05-23 01:18] freedomtan commented on #28838
Yes, as far as I know, current GL ES and Metal backends were for Android and iOS. But, it should be possible to make the GL ES compute shader backend work on non-Android platforms. I didn't try. With some hacks, I made the iOS Metal backend work on my iMac before.

[2019-05-23 01:51] cfkxzsat commented on #28712
Same,bro...
[code]

[2019-05-23 02:10] noending commented on #22794
base on @levicki cuda and cudnn version,   i also set the path according tf offical websit,
SET PATH=C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.0\bin;%PATH% SET PATH=C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.0\extras\CUPTI\libx64;%PATH% SET PATH=C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.0\include;%PATH% SET PATH=C:\tools\cuda\bin;%PATH%   (can't find tools in

[2019-05-23 02:11] caisq commented on #28712
@cfkxzsat Is it possible that you are configured to use a non-public (custom) PyPI?

tf-nightly-2.0-preview is clearly available: https://pypi.org/project/tf-nightly-2.0-preview/

[2019-05-23 02:13] yangjinghit opened #28952 "feature_bin_count"
train.py中的三个参数
parser.add_argument(
      '--window_size_ms',
      type=float,
      default=30.0,
      help='How long each spectrogram timeslice is.',)
parser.add_argument(
      '--window_stride_ms',
      type=float,
      default=10.0,
      help='How far to move in time between spectogram timeslices.',)
parser.add_argument(
      '--feature_bin_count',
      type=int,
      default=40,

[2019-05-23 02:28] hadim opened #28953 "[TF 2.0] Cannot use `tf.image.decode_image` with `tf.map_fn` in `tf.data.Dataset.map` when `elems` is empty"
- Tensorflow: latest `tf-nightly-2.0-preview` (as of today).
- Python 3.7
- Ubuntu 19.04

When using `tf.data.Dataset.map` , it can happen that an image does not have any objects in it and so tensors describing masks or boxes are empty.

A common preprocessing step is to decode a list of masks encoded as string in JPEG or PNG. Consider the following code:

[code]

Running it as this will raise thi

[2019-05-23 02:57] yangjinghit opened #28954 "mfcc"
preprocess: Spectrogram processing mode. Can be "mfcc" or "average".

what is average?

[2019-05-23 03:06] jvishnuvardhan commented on #28514
I am closing this as this was resolved by the following https://github.com/tensorflow/tensorflow/pull/28946. Thanks!

[2019-05-23 03:07] #28514 closed

[2019-05-23 03:12] fengyoulin commented on #22794
Maybe you should use CUDA 10.0, not 10.1。I just solved this problem on my PC, you can verify it use [Dependency Walker](http://www.dependencywalker.com/), like this:
![image](https://user-images.githubusercontent.com/10413780/58223301-ae315a80-7d4b-11e9-9bee-cd82fa1eef96.png)

[2019-05-23 03:15] atomextranova commented on #27909
@dd1923 I have the same problem with @liyxi , since I have some projects that requires using eager execution. Also I would consider this to be a bug that need to be fixed.

[2019-05-23 03:18] jvishnuvardhan commented on #28706
@ianhellstrom I see 1.13.1 on top of the results. Could you check again or let me know if I am making any mistake. Here is the screenshot. Thanks!

unsorted_segment_
<img width="914" alt="Screen Shot 2019-05-22 at 8 14 34 PM" src="https://user-images.githubusercontent.com/46058173/58223447-8819a500-7cce-11e9-827a-d1ce53a8111a.png">

[2019-05-23 03:23] chaupmcs commented on #15777
Upgrade gcc or degrade tensorflow version.

- For example, the latter solution:
pip uninstall tensorflow
conda install tensorflow==1.12.0

[2019-05-23 03:52] fengyoulin commented on #28848
Open ...\Lib\site-packages\tensorflow\python\\_pywrap_tensorflow_internal.pyd use [Dependency Walker](http://www.dependencywalker.com/), it will show you the DLL dependency tree, you will find which DLL cause the problem. You can then install the needed CUDA or vcredist version, or add some path to system variable.

Here is the dependency tree look like:
![image](https://user-images.githubusercont

[2019-05-23 04:02] SniperM99 commented on #11897
hi, I met the same issus.
I used pycharm with Run the python file.  it didn't work.
but when I use terminal with python3 filename.py .  It  work!
so, if U are same with me. you can try like me

[2019-05-23 04:50] JafferWilson commented on #28732
@alextp I guess no one answered anything here. Where is the answer? I guess you were in a hurry of closing the issue and forgot to answer.
Please let me know what is the right way. You see in the above conversation I have received message that my answer is not minimal. Please let me know as I have mention the sample code to ya.

[2019-05-23 04:54] achandraa commented on #28815
Good to know the issue is resolved and thank you for mentioning the resolution

[2019-05-23 04:56] KaramAbuaisha commented on #26072
Sorry I'm not being clear, I am not starting a new container when I run the script again. I start my docker like so `sudo docker run --name tensorflowgpu -it -u $(id -u):$(id -g) --runtime=nvidia -v $(realpath ~/tensorflow):/tf/tensorflow -p 127.0.0.1:8888:8888 tensorflow/tensorflow:latest-gpu-py3-jupyter bash` So that I am able to run scripts and start a jupyter notebook server if i like. Within

[2019-05-23 05:00] volkov-maxim commented on #25094
Thank you @youngkiu! https://stackoverflow.com/a/54702852/4439762 solved my question

[2019-05-23 05:25] #28857 closed

[2019-05-23 05:35] fmmohammadi opened #28955 "fatal error LNK1000: Internal error during CImplib::EmitThunk"
**System information**
- Windows 10
- TensorFlow installed from (source or binary): source
- C++ Visual Studio 2015 Update 3
- GPU model and memory: NO USE

**Describe the problem**

Hi,
I have a Static library project, containing some codes that are using Tensorflow as Additional Dependencies.
I want to make a static libray (name "`myLib.lib`") from these codes to use in another Win32 App.
In my

[2019-05-23 05:48] Samveed commented on #18731
@sanoguch Where exactly should we add the patch you have given? Which files specifically?

[2019-05-23 06:10] gadagashwini commented on #28912
I am able to reproduce the issue reported here.

[2019-05-23 06:15] MonarkA commented on #28712
@tafsiri ,

I tried reinstalling tensorflow but I am getting same issue.

[2019-05-23 06:29] sanoguch commented on #18731
I think it is tensorflow/lite/toco/graph_transformations/resolve_tensorflow_switch.cc could be replaced with this one.

[resolve_tensorflow_switch.zip](https://github.com/tensorflow/tensorflow/files/3210585/resolve_tensorflow_switch.zip)

Actually we gave up using TOCO or even TensorFlow Lite, so I am not actively following this issue. I am not sure it works or not.

[2019-05-23 06:31] achandraa commented on #28854
Please help us with some more info as in whether you are getting this error on TensorFlow installed on your GCP VM or on local system. Which operating system you are using and whether you have installed TensorFlow from source or binary. If you are unclear about the template, you can refer this [link](https://github.com/tensorflow/tensorflow/issues/new/choose). Also kindly verify whether you have f

[2019-05-23 07:12] EmanueleGhelfi opened #28956 "Distribute Strategy wrong reduction"
## URL(s) with the issue: https://www.tensorflow.org/guide/distribute_strategy#using_tfdistributestrategy_with_custom_training_loops

## Description of issue (what needs changing):
In the documentation the snippet:

[code]
calculates the loss using the distribution strategy. However the loss for each replica is reduced using `tf.distribute.ReduceOp.MEAN`. I think that the correct loss to return is

[2019-05-23 07:18] Zhengtq opened #28957 "Eager execution in tf.data map_func"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):tf-2.0-alpha
- Are you willing to contribute it (Yes/No):No

[2019-05-23 07:19] holyhao opened #28958 "Merge bn with depthwise conv for *.bp"
**System information**
- TensorFlow version (you are using):1.10
- Are you willing to contribute it (Yes/No):yes

I used graph_transforms  and optimize_for_inference to optimize the freeze_graph. I  focus on merging bn with  conv layers to speed up the inference time. But both method can only merge bn with CONV2D, and can not merge bn with DEPTHWISE CONV. As far as  i know, the tool toco can merge

[2019-05-23 07:56] achandraa commented on #28898
Can you try with higher version of CUDA and let us know if that helps. For your reference TensorFlow supports CUDA 10.0 (TensorFlow >= 1.13.0). Have a look on [GPU support](https://www.tensorflow.org/install/gpu#software_requirements) link, Thanks!

[2019-05-23 08:06] gadagashwini commented on #28925
@AmandaCSantos Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue

[2019-05-23 08:09] ANSHUMAN87 commented on #22146
@gashmish : Please ignore my last comment i have deleted that.
It was some tool issue.
I am analyzing the issue currently, will update you as soon as possible. Thanks!

[2019-05-23 08:13] EFanZh opened #28959 "`BaseSession._Callable.__del__` doesn’t detect closed session correctly"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Not tested
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 1

[2019-05-23 08:37] gadagashwini commented on #28924
Thanks for finding the issue. I could reproduce the issue with TF2.0.

[2019-05-23 08:38] SystemErrorWang commented on #27948
@ymodak would you please tell me how to update the ```data_format``` arg? I remember it has 'NCHW' and 'NHWC' mode, and tflite only support NHWC.

[2019-05-23 08:39] facaiy commented on #22502
@astropeak Thank you :-)

[2019-05-23 08:39] #22502 closed

[2019-05-23 08:46] pglushkov commented on #28414
I've tried downloading .whl file for pip3 and extracting its contents. There is no file named _lstm_ops.so there. Did you mean some other Python distribution? Could you please specify a bit more?
Thanks!

[2019-05-23 08:49] yifeif commented on #28940
Thanks @wdirons! I also noticed this and it should be fixed in https://github.com/tensorflow/tensorflow/commit/eae5d0bc15bf8bdb7635a9692fb19d747352a445.
Could you give the latest tf-nightly-gpu a try?

[2019-05-23 08:49] yifeif commented on #28845
Thanks @cheshire!

[2019-05-23 08:50] gadagashwini commented on #28915
@pinnareet Can you please follow [these](https://www.tensorflow.org/hub/installation) to install tensorflow-hub. Thanks!

[2019-05-23 09:25] allendred opened #28961 "tensorflow compile error"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>
**grpc** **sha256** checksum was"*" but wanted"*"
**System information**
- OS Platform and Distribution (e.g., Li

[2019-05-23 09:32] alexv1247 commented on #27817
I am still facing the same issue after upgrading to the newest version.

` An `initial_state` was passed that is not compatible with `cell.state_size`. Received `state_spec`=[InputSpec(shape=(2, 20), ndim=2), InputSpec(shape=(2, 20), ndim=2), InputSpec(shape=(2, 20), ndim=2)]; however `cell.state_size` is [[20, 20], [20, 20], [20, 20]]`

I think the issue is not closed by now.

[2019-05-23 09:50] jonjo442 commented on #26546
Had the same issue, if you cloned the github repo, make sure to checkout the v0.6.0-rc1 tag to run the examples with the 0.6.0 version from pip. I guess the examples in master is made to work with tf2.
Works for me at least..

[2019-05-23 09:51] pglushkov commented on #28414
Manually 'dl-opening' the **_lstm_ops.so** helped! Model could be loaded at last, thank you very much!!
Now will need to resolve some issues with the actual synthesis :)

[2019-05-23 10:13] jiarenyf commented on #26282
I think everyone wants to easily apply a global initialization strategy.

[2019-05-23 10:23] dsaichand3 commented on #28287
You are amazing!!!!! This is the best solution.

[2019-05-23 10:31] kbhute-ibm commented on #28704
Hi @ymodak @martinwicke @mrry Could you please share your thoughts on the proposed change?

[2019-05-23 10:34] konnase commented on #6081
I'm a little confused that why this statement `saver.restore(mon_sess, ckpt.model_checkpoint_path)` can take effect? As shown in Tensorflow official documentation, MonitoredTrainingSession can't be passed to saver. It will raise exception.
![image](https://user-images.githubusercontent.com/18288851/58246146-e73bf000-7d88-11e9-8830-c0bd91d8389e.png)

[2019-05-23 10:44] gadagashwini commented on #28928
@tcbegley I tried reproducing the issue through colab with Tf 2.0.0-alpha0 but the code executed as expected. Can you try once again and let us know if that still gives weird output. Thanks!

[2019-05-23 10:44] gadagashwini commented on #28931
I was able to reproduce the issue reported here with Tensorflow 1.13.1. I got the error RuntimeError: Replica-local variables may only be assigned in a replica context.

[2019-05-23 10:44] achandraa commented on #28932
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?
Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https:

[2019-05-23 10:46] MischaPanch commented on #28287
Thank you and you are very welcome :).

As far as I understand, the problem is that tensorflow graphs and sessions are not thread safe. So by default a new session (which does not contain any previously loaded weights, models a.s.o.) is created for each thread, i.e. for each request. By saving the global session that contains all your models and setting it to be used by keras in each thread the pr

[2019-05-23 10:58] achandraa commented on #28941
I was able to get the mentioned error when tried on Colab with TensorFlow GPU version 1.13.

[2019-05-23 11:08] achandraa commented on #28922
Looks like a spam. Closing this issue. If you are stuck, please open a separate issue with all information filled as per the [template](https://github.com/tensorflow/tensorflow/issues/new/choose). Thanks!

[2019-05-23 11:08] #28922 closed

[2019-05-23 11:18] Sam-DevZ commented on #18769
Hi! Your snippet doesn't work either. Code:

[code]

Output:

[code]

[2019-05-23 11:18] Sam-DevZ commented on #18769
@allenlavoie

[2019-05-23 11:18] rvinas commented on #14772
Any update here?

[2019-05-23 11:21] Sam-DevZ commented on #18769
Oh, er, I'm guessing version 0.12.2 is not recent enough. I need `1.14.1-dev20190522`, right? Haha.

[2019-05-23 11:32] fuzzyBatman commented on #28854
Hi. I run the `create_inference_graph` method on the VM
- Debian 9
- CUDA 10.0
- cuDNN 7.4.1
- TF 1.13
- Nvidia GeForce GTX1050M [4GB] (compute capability 6.1)

I try loading the graph for inference on the VM and it works fine.

I try loading the graph on my local system
- Fedora 30
- CUDA 10.1
- cuDNN 7.4.2
- TF 1.13
- Nvidia Tesla P100 [16GB] (compute capability 6.0)

and get the error
[code]

I

[2019-05-23 11:45] Apromixately commented on #28272
I just encountered this issue again. The JS console says:

[code]

[2019-05-23 11:45] Apromixately commented on #28272
@jvishnuvardhan Should I create a new issue?

[2019-05-23 11:47] achandraa commented on #28937
Did you try building from [TensorFlow website](https://www.tensorflow.org/install/source). Also TensorFlow versions above 1.13.0 support CUDA 10.0 and bazel 0.24.1. Let us know if that helps to build the TensorFlow successfully. Thanks!

[2019-05-23 11:52] vizero1 commented on #28926
Could fix that problem with following change:
In tensorflow/lite/tools/make/download_dependencies.sh script I changed the EIGEN_URL definition in line 32 to use https instead of http
`EIGEN_URL="$(grep -o 'https.*bitbucket.org/eigen/eigen/get/.*tar\.gz' "${BZL_FILE_PATH}" | grep -v mirror.bazel | head -n1)"`

[2019-05-23 11:53] achandraa commented on #28919
Can you please help us to get the minimal code snippet to reproduce the issue. Thanks!

[2019-05-23 12:04] tcbegley commented on #28928
@gadagashwini thanks for getting back to me.

I was able to replicate my issue in Google Colab, see [this notebook](https://colab.research.google.com/drive/1pjpBakrkgd0pQKhGhnQW2_PNUUXKI28G).

As in the screenshot below, which is taken from that notebook, the first fit argument performs two steps of training, the second cell appears to do a full pass over the data, ignoring the `steps_per_epoch` a

[2019-05-23 12:17] krikru commented on #17022
There still seems to be no [complete URL](https://www.tensorflow.org/install/pip#package-location) for Python 3.7 and Windows, which is what the installation instructions tells you to use when using Conda. I.e. accordingly, Python 3.7 is still off limits for Conda on Windows.

[2019-05-23 12:18] achandraa commented on #28929
I was able to reproduce the mentioned output on Colab with TensorFlow version 2.0.0-alpha0.

[2019-05-23 12:44] YasserTahaSW commented on #1988
I have the same problem but I dont have the same mistake mentioned above
[code]
Nothing is being displayed.. any help is appreciated

[2019-05-23 12:53] #28597 closed

[2019-05-23 13:05] fsx950223 commented on #28961
Bad network will lead this problem,you can download grpc package from browser and set a web server for the package,then you change bzl url to your server url and you can download package from your server directly.

[2019-05-23 13:28] joelzou925 commented on #26959
I am getting the same error on Colab,  when running either tensorflow-gpu=2.0.0-alpha0 or tf-nightly-gpu, it throws Unknown: Fail to find the dnn implementation or Failed to get convolution algorithm. This is probably because cuDNN failed to initialize.

It works when I go use CPU only, but obviously very slow. This happens for any kind of keras layers. I am using subclass API.

[2019-05-23 13:42] wdirons commented on #28940
I verified this fix with `pip install tf-nightly-gpu-2.0-preview==2.0.0.dev20190523`

Thank you @yifeif!

[2019-05-23 13:42] #28940 closed

[2019-05-23 14:33] qlzh727 commented on #27817
@alexv1247, can u provide the code snippet to reproduce your issue?

[2019-05-23 14:34] veqtor commented on #21889
I tried with the latest tf-nightly (installed just now) and I got this issue:
xxx/yyy/Embedding-Token/embedding_lookup' expects to be colocated with unknown node 'xxx/yyy/Embedding-Token/embedding_lookup/Read/ReadVariableOp

[2019-05-23 14:39] mrgloom commented on #3903
How to preserve shapes when `strip_unused_lib.strip_unused` is used?

[code]

[2019-05-23 14:55] Sam-DevZ commented on #18769
Sorry! It's definitely fixed. I ran:

[code]

[2019-05-23 15:16] albertbuchard opened #28966 "[TF2.0] Gradients become None when using a SparseTensor kernel in a custom layer."
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOSX 10.14.5
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v1.12.0-9492-g2c319fb415 2.0.0-alpha0
- Python version: 3.6
- CUDA/cuDNN version: running on mac/cpu
- GPU model and memory: running on mac/cpu

**Describe the current beha

[2019-05-23 15:28] alexv1247 commented on #27817
Hey, thanks for your reply.

this is the important part of the code:

` import tensorflow as tf
import numpy as np
import keras

# define arguments for a RNN/ LSTM

    class RNNArg():
       def __init__(self):
           self.state_size = 20
           self.hidden_layer_size = [self.state_size, self.state_size, self.state_size]
           self.dropout = 0
           self.dropoutKeepProb = 0.8

[2019-05-23 15:33] aherkel09 opened #28967 "windows 10 installation with cpu version"
**System Information:**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 1.13.1
- Python version: 3.6.0
- Installed using virtualenv? pip? conda?: virtualenv with pip v19.1.1
- Bazel version (if compili

[2019-05-23 15:40] anilsathyan7 opened #28968 "Tensorflow lite elementwise operation not working in gpu delegate (ADD & SUB)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NIL
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: OnePlus 3 , Android 8.0.0
- TensorFlow installed from (source or binary): source
- TensorFlow version (use

[2019-05-23 15:57] francotheengineer commented on #24586
I am experiencing the same with `tf.train.RMSPropOptimizer()` and `tf.train.AdamOptimizer()`:

[code]
Yeilding:

[code]

[2019-05-23 16:01] nateagr opened #28969 "Unexpected behavior with warm start"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Centos7
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Not relevant
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): v1

[2019-05-23 16:04] albertbuchard commented on #28966
Ok so I solved the issue, at least the gradients are not None. I'm not sure if its a bug or not.

But if instead of storing the SparseTensor as a kernel i store the weights and build the sparse tensor at each call it work (albeit quite slow..):

build()
[code]

And call()
[code]

Happy to close the issue, although im not sure if was the intended behaviour.

[2019-05-23 16:08] kgramm9026 commented on #13796
Hi Guys, Can anyone please let me know if I can use tf.train.latest_checkpoint or tf.train.load_checkpoint with an S3 url to load the model checkpoint? Whenever I use either of these to load a checkpoint file I get InvalidArgumentError: S3 path doesn't contain an object name: s3://url/

[2019-05-23 16:09] alextp commented on #28831
@iganichev could this be related to placer changes?

[2019-05-23 16:12] shahidhs-ibm commented on #28114
@mrry The concat_op_test is failing for the architecture I am working on and we are hitting the same numpy bug which we encountered in [#12963](https://github.com/tensorflow/tensorflow/pull/12963). In this issue I just wanted to check if we can skip int64 support for my architecture if its not that critical.

If I change the dtype to int32 in [make_tensor_proto](https://github.com/tensorflow/tenso

[2019-05-23 16:18] alextp commented on #28732
What I meant is that if you just use tf.map_fn like the code below it works:

[code]

[2019-05-23 16:23] alextp commented on #26282
Because we do not want to add more global-behavior-changing endpoints to TF's API.

Instead I recommend you do things like wrapping keras layers into something that passes a global initializer in your code, and use the wrapped layers instead. With some metaprogramming this is not too much code, and doesn't push complexity into TF.

[2019-05-23 17:00] SSaishruthi opened #28972 "Adding R-Square and FBeta Score metric under tf.metric"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.13
- Are you willing to contribute it (Yes/No): Yes

**D

[2019-05-23 17:06] SSaishruthi commented on #7712
Hello,
Is anyone working on this?
TIA

[2019-05-23 17:27] jvishnuvardhan commented on #28272
Sure. Please open a new issue. thanks!

[2019-05-23 17:47] coderforlife commented on #28937
No I didn't. Using a different version of bazel and CUDA is extremely unlikely to have an impact on the result since bazel would still pass the `-std=c++11` command line but the feature in your code (not CUDA's code) is a C++17 feature.

The more likely reason is that GCC 9 was being used to compile it is likely stricter on the use of C++17 features in C++11 code unlike GCC 8.

I can give you the

[2019-05-23 18:02] stevehawley commented on #28053
@jvishnuvardhan I'm sorry, I cannot provide code that reproduces it as it is an intermittent issue. If you have debug code you would like me to add to the software to capture data for further debugging I would be happy to do that.

[2019-05-23 18:18] jvishnuvardhan commented on #28648
@geometrikal Could you provide a standalone code to reproduce the issue? Thanks!

[2019-05-23 18:18] robieta commented on #28661
Thanks for the report! I'm able to reproduce on `tensorflow==2.0.0-alpha`, but on `tf-nightly-2.0-preview` I see the expected behavior. So presumably the issue has been resolved since the 2.0 alpha was cut.

[2019-05-23 18:18] #28661 closed

[2019-05-23 18:49] JerrikEph commented on #13895
@shanest does your proposal work? it seemed more readable than `InMemoryEvaluatorHook`, it would be nice if works.

[2019-05-23 18:53] hsm207 opened #28976 "TF2.0 tf.keras.estimator.model_to_estimator does not store input_names from tf.keras.layers.DenseFeatures"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-05-23 18:54] JerrikEph commented on #13895
@shanest does your proposal work? it seemed more readable than InMemoryEvaluatorHook, it would be nice if works. It might will create another "evaluate" session inside "train" session, I am not sure how it will behave, could you please report its behavior?

[2019-05-23 19:23] billtubbs commented on #28660
Had same problem.  Super annoying.that  `python             pkgs/main/linux-64::python-3.7.3-h0371630_0`

[2019-05-23 19:30] jayfurmanek commented on #28773
@omalleyt12 Any thoughts here? This change in callback ordering is at the very least confusing, but as @smatzek mentions, this also affects any other callbacks that need full graph visibility.

[2019-05-23 19:35] JerrikEph commented on #13895
Although `InMemoryEvaluatorHook ` is not loading checkpoint from disk, [it fetches all variable from "train" graph and feed it to the "evaluation" graph](https://github.com/tensorflow/tensorflow/blob/25c197e02393bd44f50079945409009dd4d434f8/tensorflow/contrib/estimator/python/estimator/hooks.py#L170). It still recreates an evaluation graph and all the variables with it . So the problem of graph re

[2019-05-23 19:38] iganichev commented on #28831
Unlikely. The new placer should have the same placement decisions (safe for some rare corner cases) for graphs without functions outputting resources on multiple devices. It is unlikely that keras produces such graphs. Also, Dataset ops have not been integrated into the recursive placement framework.

[2019-05-23 19:40] jvishnuvardhan commented on #28797
@lgeiger I don't see any issue when I ran the code with TF2.0 (gist is [here](https://colab.sandbox.google.com/gist/jvishnuvardhan/aca319db01cf71284a0dc7b8001be7f7/untitled191.ipynb) as well as TF-nightly-gpu-2.0-preview(gist is [here](https://colab.sandbox.google.com/gist/jvishnuvardhan/6d1c69fedc2846663a94d388bd0796ce/untitled192.ipynb). Thanks!

[2019-05-23 19:42] jayfurmanek commented on #28773
@robieta for thoughts as well.
Sorry for the thread-bump ya'll, but this negatively affects an extension we have so w'd like to find out if this change was intentional or not.

Thx!

[2019-05-23 19:49] aaroey commented on #23834
Also @alextp and @jaingaurav, any thoughts on the proposed solution?

[2019-05-23 19:50] omalleyt12 commented on #28773
Trying with the lastest tf-nightly-2.0-preview, this fails even if I change `ops.get_default_graph()` to `keras.backend.get_graph()` and `set_model` to `on_epoch_end`. Could you share an example of why you want to access the optimizer ops? There may be a better workaround that is more future-proog

[2019-05-23 19:54] omalleyt12 commented on #28797
I'm also unable to repro, @lgeiger could you try the lastest nightly? This may be already fixed

[2019-05-23 20:05] MPROXX commented on #24885
I'm a bit confused: I'm trying to build tensorflow for C++ too but should I follow @guikarist 's or @meteorcloudy 's way?

[2019-05-23 20:08] coderforlife commented on #28948
It looks like commit 6b58886adedecdebfab069367f1cf78c893bab24 (which rolls back cf5687d4b3f66fecbab4ac35f89be0b9edac17eb) fixes the issue. I have gotten a lot further with compiling, including at least a few of the files that failed previously. Will update more upon compilation completion.

As a side note, the update of Eigen seemed to only effect CUDA-compiled code (.cu.cc files), but there were

[2019-05-23 20:22] rounakskm commented on #24885
You can use  @guikarist 's  script. It will be easier. and Depending on the version check the tensorflow/BUILD file in the tensorflow repo directory and patch it

[2019-05-23 20:37] smatzek commented on #28773
The use case that wants to see the optimizer ops is TensorFlow Large Model Support module that was originally proposed via PR to tensorflow.contrib but moved out to a separate repo with the sunset of contrib. The module is here:
https://github.com/IBM/tensorflow-large-model-support

The Keras callback is here:
https://github.com/IBM/tensorflow-large-model-support/blob/master/tensorflow_large_model

[2019-05-23 20:40] jperl commented on #13895
@JerrikEph If you can I recommend switching to a Keras model / training loop. Then you can create a callback to evaluate using the same model. After switching to Keras models I have not looked back to estimators.

[2019-05-23 20:43] eyaler commented on #27749
i think we should give a warning

[2019-05-23 20:57] robieta commented on #28773
I also cannot reproduce your working example on tf-nightly, but I made a small tweak to the string check that captures the spirit:

[code]

However you'll note that a seemingly unrelated bit of code causes your callback to succeed. (Though you seem familiar enough with the codebase that I'm sure it won't come as a surprise.)
[code]

This is due to Keras' use of a single global graph. This is an im

[2019-05-23 21:09] josiahbjorgaard commented on #25461
@dynamicwebpaige @a6802739 @scouvreur
Is there anything left to do for this issue?

[2019-05-23 21:17] josiahbjorgaard commented on #25349
@tanzhenyu I'd be happy to assist as well! I could help with an algorithm or two. Would that be useful?

[2019-05-23 21:17] leticiawanderley opened #28979 "Adding multiclass support to BoostedTreesClassifier"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.13.1
- Are you willing to contribute it (Yes/No): Yes

*

[2019-05-23 21:38] jvishnuvardhan commented on #28861
@Krum3L I checked your code and found lot of typos that is why the code is not running properly. I found your are trying to learn this [tutorial](https://www.tensorflow.org/tutorials/images/hub_with_keras). I ran the code in the Google colab and it worked without any issue.

When you run if you see any issue, please post it in [TF_Hub_repo]( https://github.com/tensorflow/hub/issues) so that your i

[2019-05-23 21:42] ZLeopard commented on #28955
i encounter this too, do you have some metheds to solve it. i build tensorflowr1.13.0 with bazel.

[2019-05-23 21:42] ZLeopard commented on #28955
@fmmohammadi

[2019-05-23 21:45] tjhgit commented on #28877
Only compilation without optimizations works, like for instance: `bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package`

[2019-05-23 21:49] MPROXX commented on #24885
@rounakskm thanks!!!

[2019-05-23 21:50] ZLeopard commented on #23420
`D:\CodeSofteware\tensorflow-r1.13\bazel-bin-copy\tensorflow\libtensorflow_cc.so.if.lib : fatal error LNK1000: Internal error during CImplib::EmitThunk
1>
1>    Version 14.00.24215.1
1>
1>    ExceptionCode            = C0000005
1>    ExceptionFlags           = 00000000
1>    ExceptionAddress         = 00C1D798 (00C00000) "D:\CodeSofteware\VisualStudio2015\VC\bin\x86_amd64\link.exe"
1>    NumberPar

[2019-05-23 21:58] jvishnuvardhan commented on #28730
@jjjjjie You need to close the session that you opened. Please check the [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/b9f3354f00098b813437902a36166d9c/untitled188.ipynb). Thanks!

[2019-05-23 22:07] mrgloom commented on #27883
Update 0.23.1 -> 0.25.2 helped.

[2019-05-23 22:16] jaingaurav commented on #27288
I believe I'm able to reproduce this in a unit test now. Working on finding the source of the leak.

[2019-05-23 22:20] geometrikal commented on #28648
From #28738
[code]

[2019-05-23 22:56] sodiumLights commented on #21045
Still getting the error

Command: `bazel build -c opt --cxxopt=-std=c++11 --copt=-D__ANDROID_TYPES_FULL__ //tensorflow/contrib/android:libtensorflow_inference.so --crosstool_top=//external:android/crosstool --host_crosstool_top=@bazel_tools//tools/cpp:toolchain --cpu=armeabi-v7a  --verbose_failures`

Error:
`ERROR: /private/var/tmp/_bazel_ivlab/23994111945cccf7235ecf4d9dc9fbce/external/com_google_

[2019-05-23 23:25] zhuangli1987 commented on #25323
did you resolve this issue? I can not compile it  with 7.4.0 7.3.0 too. I believe it is not gcc problem. Please do reopen this ticket. @gunan

[2019-05-23 23:47] alextp commented on #23834
I think with Estimator you get to choose whether to build your eval graph with or without distribution strategy, right?

[2019-05-23 23:55] alextp commented on #23834
And by eval I meant inference, which is the graph that gets exported.

On Thu, May 23, 2019 at 4:54 PM Alexandre Passos <notifications@github.com>
wrote:

--
 - Alex

[2019-05-24 00:14] preritj commented on #27392
any updates?

[2019-05-24 00:26] SSaishruthi opened #28980 "Hamming distance support"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.13
- Are you willing to contribute it (Yes/No): Yes

**D

[2019-05-24 00:43] jhseu commented on #25435
Yes, it'll work soon.

[2019-05-24 01:34] luorixiangyang commented on #28898
Hi achandraa,
I update the CUDA 10.0 and driver to 419.17 , cudnn 7.5, Tensorflow 2.0,  but use under command still encounter the error, i don't know why is libutils.a generated instead of libutils.so file in windows environment(In GitBash):
$ bazel test tensorflow/contrib/tensor_forest:model_ops_test
WARNING: The following configs were expanded more than once: [cuda]. For repeatable flags, repeat

[2019-05-24 02:04] allendred commented on #28961
THANKS

[2019-05-24 02:04] #28961 closed

[2019-05-24 02:14] IeiuniumLux commented on #28832
With Bazel 0.15.0, the build got further.  However, a little bit after a hour building, it failed with this error.  Any suggestion?

ERROR: /home/nvidia/git/tensorflow/tensorflow/contrib/lite/kernels/internal/BUILD:455:1: C++ compilation of rule '//tensorflow/contrib/lite/kernels/internal:tensor_utils' failed (Exit 1): crosstool_wrapper_driver_is_not_gcc failed: error executing command
  (cd /home

[2019-05-24 02:14] hadim commented on #25299
@karmel any chance to see that feature implemented? Nested data (dict) are supported in a lot of places (model's input and `tf.data.Dataset` for example, it would be really nice to see it supported in model's outputs.

It's semantically stronger than a simple list where you need to "remember" what each position is.

[2019-05-24 02:26] jjjjjie commented on #28730
@jvishnuvardhan Thanks for your reply, Maybe I didn’t express my issue clearly, I mean this op always cost all GPU memory although I set this option:
`gpu_options = tf.GPUOptions(per_process_gpu_memory_fraction=0.2)`
I think   tf.GPUOptions should control this session can take up  less than 20% of the memory but it always take up 100%. This is my confusion, not after session is finish. Thanks!

[2019-05-24 02:29] ymodak commented on #26386
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-24 02:29] #26386 closed

[2019-05-24 02:42] freedomtan commented on #28606
@anilsathyan7 FYR, after the one-line change (merged into master already), I was able to run this model with GPU Delegated enabled command line benchmark_model and label_image.

[2019-05-24 03:01] kusur opened #28983 "[TF 1.13]: Mishandling dropout and recurrent dropout when feeding them as placeholder inputs to SimpleRNNCell in tf.keras.layers"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-05-24 03:48] csaroff commented on #28712
For anyone still running into this, you need to be using python 3.6(and it's associated pip version).  I was still running into issues after `conda install python=3.6`.  It turns out that I had an alias in my bashrc between pip and pip3.  If things still aren't working after changing python versions, try `unalias pip`.

[2019-05-24 03:59] idealboy commented on #28503
Have you solved this problem?I meet the same problem, and when I use this function, I still see all the gpu cards were occupied by tensorflow.

Thank you

[2019-05-24 04:14] achandraa commented on #28824
Closing the issue since it is resolved. Thanks!

[2019-05-24 04:14] #28824 closed

[2019-05-24 04:15] SumNeuron commented on #23834
@alextp of course you can not use distribution when you make the graph, but this issue is specific to when device placement is used (as shown in official tf docs for distribution)

The best exporter exports the graph ran during training and there is very little support for loading an exported estimator (most focus is in serving them)

So when you try to load the exported estimator (which includes

[2019-05-24 04:16] achandraa commented on #28843
Yes you are right. The updates for 2.0 are going to r2.0 branch as of now.

[2019-05-24 04:21] sayoojbk commented on #25435
And ya could you tell me if the implementation would be similar to the GPU version ? :https://github.com/tensorflow/tensorflow/issues/25340
Actually I wanted to make changes to the identity block of resnet like changing the dilation rate of the 3x3 conv or something like that. So will such a parameter be added or something?  Cause I am actually working on a segmentation task using dilated convolut

[2019-05-24 04:21] alexcpn commented on #28276
Any update regarding this. I can help in someway conducting some tests

[2019-05-24 04:42] gadagashwini commented on #28928
I was able to reproduce the mentioned output.

[2019-05-24 05:34] JafferWilson commented on #28732
@alextp Thank you for the help.

[2019-05-24 06:04] achandraa commented on #28848
@tianjiaq : Give a try to fengyoulin's suggestion and let us know if that does not help. Thanks!

[2019-05-24 06:34] gadagashwini commented on #28954
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-05-24 06:36] npanpaliya commented on #25323
Try with gcc 5.4. It worked for me.

[2019-05-24 06:39] achandraa commented on #28923
Tried with 2.0.0-alpha on Colab and was able to get the mentioned output.

[2019-05-24 06:44] lahertel commented on #28797
@omalleyt12 I am still able to reproduce the error even with the latest nightly (2.0.0.dev20190523)

[2019-05-24 06:50] sunzhe09 commented on #28144
No，I just change my tensorflow to 1.12.2，hope it helps！

[2019-05-24 06:56] guptapriya commented on #27392
Hi, sorry we don't have any updates yet. I will open this up for contributions as well.

[2019-05-24 07:07] anilsathyan7 commented on #28606
@freedomtan How can i ensure that latest library is included? Is it updated in both '0.0.1-experimental' and gpu-nightly branches?
I tried the demo app at https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/java/demo.
It uses 'org.tensorflow:tensorflow-lite-gpu:0.0.0-nightly' aar from [jcenter](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/java/demo#building

[2019-05-24 07:44] HOTFIGHTER opened #28988 "how to compile the Tensorflow source code on Mac"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Mac
- Mobile device (e.g. iPh

[2019-05-24 07:49] tydlwav commented on #24496
You have already removed them. The files in `pkgs` are for installation. These are downloaded cache for the installation. Also, this is not the place to discuss conda environment issues. It is not relevant to this issue. You may want to try stack overflow.

[2019-05-24 07:56] mrgloom commented on #23200
`pip install --upgrade pip enum34` didn't helped.

`bazel build tensorflow/python/tools:optimize_for_inference`

[code]

[2019-05-24 07:56] nateagr opened #28989 "Unexpected behavior when scheduling different learning rates"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Centos7
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): v1.12.0-0-g

[2019-05-24 08:03] mrgloom commented on #27109
[code]

[2019-05-24 08:09] mrgloom commented on #23200
I can do `import enum`

[code]

How to check if `bazel build tensorflow/python/tools:optimize_for_inference` use the right python?

[2019-05-24 08:31] idealboy commented on #24778
when I call set_visible_device_list("0"), the 8 gpu card in my machine were stiil used for the tensorflow? why?  Does set_visible_device_list really work ? thank you!

[2019-05-24 08:35] thirdlastletter commented on #26600
How do I change to GPU? Where do I find a runtime menu?

[2019-05-24 08:40] mpkuse opened #28990 "bazel build failed on tf1.6 on tx2"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04 (aarch64)
- Mobil

[2019-05-24 08:49] dreistheman commented on #27999
I used as guide this repository for YOLO Tensorflow in Java: https://github.com/szaza/tensorflow-example-java.

This is the class directly responsible for box predictions on the video image frame. I've placed corresponding comments for ease of understanding. I've done my observations and the **Session execution** inside `executeYoloGraph()` method, which itself is inside `detect()`, is the one cau

[2019-05-24 08:52] gadagashwini commented on #28967
@aherkel09 Can you confirm your CPU supports AVX2 instructions?