[2022-01-22 11:03] vyepishov1 commented on #53815
Can confirm that I could manage to build working tensorflow 2.8.0-rc1 with enabled CUDA and MKL support by removing the --config=monolithic options and using GCC 7 instead of GCC 9. Anyway, some work needs to be done with the 2.8.0 version to make it possible to use the --config=monolithic option as well.

[2022-01-22 11:05] #53487 closed

[2022-01-22 11:08] #43580 closed

[2022-01-22 12:34] meg261995 commented on #29545
Hi,

Adding to @hanzigs , When I train the model and the save the weights using,

model.save_weights(path)

And load it in another session using,

model1 = DCN( )
model1.compile(optimizer=tf.keras.optimizers.Adam(learning_rate))
model1.load_weights(path)

The prediction got in the first session from model and the prediction got from the second session model1 is completely different. How do I solve

[2022-01-22 12:37] bersbersbers commented on #53816
@tilakrayal delete the `if` and the `return` and you see the problem.

[2022-01-22 14:08] mohantym commented on #53815
@vyepishov1 ! if you are looking to build with mkl support , you can put **--config=mkl** instead **--config=monolithic**. Attaching relevant [thread ](https://www.tensorflow.org/install/source#preconfigured_configurations)for reference. Thank you!

[2022-01-22 14:14] sachinkmohan commented on #53834
I tested this against TF 2.7 now, but I am still getting the same error. Please refer the screenshot. I have updated my [gist](https://github.com/sachinkmohan/run_obj_det_sem_seg)

Please follow the README.md file to replicate the same in TF2.7 environment.

![TF2 7 bug](https://user-images.githubusercontent.com/26414662/150641722-525b60b2-d501-4bf1-aaa4-03545ef4b665.png)

[2022-01-22 14:14] mohantym commented on #53849
Hi @sachinprasadhs ! Could you please look at this query?

[2022-01-22 14:43] Kamlesh364 commented on #40178
Does anyone has the solution to this issue? I'm facing this issue with the configuration below:
OS: ubuntu20.04.03
TF version: 2.4.0

[2022-01-22 16:46] pwrliang opened #53870 "Generated debug info can not be read by TensorBoard under distributed training environment"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, a distributed training example
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Train on CentOS 7; Read the dump on Macbook M1
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Does not apply
- TensorFlow installed fro

[2022-01-22 18:56] t0b4cc0 commented on #53858
I created the issue with the relevant parts of that template.

[2022-01-22 19:24] espbee commented on #53241
@fakeyee did this indeed solve the problem?

[2022-01-22 20:53] samanemami opened #53871 "Count number of leaves in the ensemble gradient BoostedTree"
This is an issue related to the performance of [TensorFlow.BoostedTree](https://www.tensorflow.org/api_docs/python/tf/estimator/BoostedTreesClassifier)

**System information**
- TensorFlow version (you are using): 2.7.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Is there any method that returns the number of entire leaves in the built

[2022-01-23 04:47] dfossl commented on #53842
Sounds good!

[2022-01-23 04:47] #53842 closed

[2022-01-23 06:49] philipperemy commented on #50575
Same warning in here with softmax.

[2022-01-23 09:48] archilk commented on #38428
I ran into this same issue today and thought it was a bug, but then saw @agarwal-ashish 's comment of the requirement not met (which is stated in the batch_jacobian API) and indeed it was the case for me.

That said, I think the documentation in the "Advanced Autodiff" guide could be improved by mentioning this, because right now that guide says:

Hence, it seems from this warning that batch_jacob

[2022-01-23 12:46] edwardyehuang commented on #53792
Close this issue for now, since I am very busy atm, and the current staus of determinism (8×v100) is enough for me to largely outperform prior art preformance deterministically.

I will reopen this issue afterwards, and will ack your hard working on determinism in my paper.

[2022-01-23 12:46] #53792 closed

[2022-01-23 13:49] Ademord commented on #259
@decentralion your photo is no longer available and the button is nowhere to be found.

[2022-01-23 13:56] Ademord commented on #259
update for everyone else who didnt see it after 3 years of it fading into the background
![image](https://user-images.githubusercontent.com/4501464/150681902-e6a54b10-33f2-44ad-ab69-f9ca05202a16.png)

[2022-01-23 15:01] Janus-Shiau commented on #53816
Thank you @bersbersbers. Your example is quite clear!
The `if` statement is aim to make sure the TF version is correct and GPUs are utilized.

[2022-01-23 15:41] devnev39 commented on #53862
@ArrowIntoTheSky
Giving 'inputs' as '[inputs]' as a parameter solved this.
tf.accumulate_n([inputs]) worked for me.

[2022-01-23 17:31] jaried opened #53879 "Cause: 'arguments' object has no attribute 'posonlyargs'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10 professional 19042.1466
- TensorFlow installed from (source or binary):pip install
- TensorFlow version (use command below):v2.7.0-rc1-69-gc256c071bb2 , 2.7.0
- Python version:3.7
- CUDA/cuDNN version: CUDA:11.4.0_471.11,cuDNN:8.3.2.44
- GPU model and memory:GTX 970,4G memory

**Describe the current behavi

[2022-01-24 01:49] engsbk opened #53901 "DeepXDE for 1D Time-dependent Wave Equation"
I have published a paper about modeling a 1D wave equation with a single time-dependent source. It would be great to see it in the list of related publications.

[2022-01-24 01:58] #53813 closed

[2022-01-24 03:53] mohantym commented on #53862
@ArrowIntoTheSky ! Can you refer above [comment](https://github.com/tensorflow/tensorflow/issues/53862#issuecomment-1019510400)?. As per this [document,](https://www.tensorflow.org/api_docs/python/tf/math/accumulate_n#args), Inputs should be a list of tensors. Attaching resolved [gist](https://colab.sandbox.google.com/gist/mohantym/b45935092855ad5fbf164e20c2749975/github_53862.ipynb) for reference

[2022-01-24 03:54] mohantym commented on #53869
Hi @Saduf2019 ! Could you please look at this feature request?

[2022-01-24 04:07] mohantym commented on #53844
Hi @ttdd11 ! There was a syntax error in earlier answer. Have attached  updated [gist](https://colab.sandbox.google.com/gist/mohantym/0bab7c440905503bbeabc1bd8c0d1769/github_53844.ipynb) for reference. Thank you!

[2022-01-24 05:26] #53699 closed

[2022-01-24 05:26] #53688 closed

[2022-01-24 05:57] sushreebarsa commented on #53871
@samanemami Could you please refer to the [thread](https://github.com/scikit-learn/scikit-learn/discussions/22270#discussioncomment-2024510),[ BoostedTreesClassifier](https://www.tensorflow.org/api_docs/python/tf/estimator/BoostedTreesClassifier) and let us know if it helps?

[2022-01-24 06:26] #51031 closed

[2022-01-24 08:19] sushreebarsa commented on #41129
@hartikainen I tried to run the code on colab using TF v2.7.0 and didn't  face the error reported.Could you please find the attached gist [here](https://colab.research.google.com/gist/sushreebarsa/26770d316d6ae751a4cfa4dd4f9998cb/41129.ipynb) and let us know if it helps?Thanks!

[2022-01-24 09:09] ShuLuamazing opened #53906 "This program requires version 3.9.0 of the Protocol Buffer runtime library, but the installed version is 3.8.0. Please update your library"
env:
16.04.1-Ubuntu X86_64, GPU Driver 470.94, Cuda 11.2, Cudnn 8.1

i am tring to build the tensorflow 2.6.2 version with bazel 3.7.2 and Gcc 7.5.0. After about two hours, it actually generate the following shared libs:
libtensorflow_cc.so.2.6.2, libtensorflow_framework.so.2.6.2

however, when i excute myself program which link to above shared libraries, it tips following errors:

[libprotobuf FA

[2022-01-24 09:19] samanemami commented on #53871
The [thread](https://github.com/scikit-learn/scikit-learn/discussions/22270#discussioncomment-2024510) is related to Sklearn, and all methods are different in TensorFlow.

Regarding the [BoostedTreesClassifier](https://www.tensorflow.org/api_docs/python/tf/estimator/BoostedTreesClassifier), I could not find any related method!

[2022-01-24 09:24] bersbersbers commented on #53816
This problem has two parts, offering two workarounds:

1. Part of the problem is that GPU TensorFlow is computing, by default, using `float32`, while CPU TensorFlow is doing `float64` computations (as do `numpy` and Python's `math` module):

[code]

   Output:
[code]

   You see that `a` behaves like `a64`, while `t` behaves like `t32`. You can avoid the problem using `float64`.

2. But this is no

[2022-01-24 09:26] #53706 closed

[2022-01-24 09:28] mohantym commented on #53879
Hi @jaried ! Could you please check this [thread](https://stackoverflow.com/a/65804633/11530462) for answer?

[2022-01-24 09:31] samanemami commented on #53871
I already know how to return leaves in `Sklearn`, `LightGBM`, or `XGBoost`.
But with the `tf`, I could not find any method!

[2022-01-24 09:48] hartikainen commented on #41129
Hey @sushreebarsa. I briefly tested this on my end as well and everything seems to be good. Thanks a lot for the fix 🙏

[2022-01-24 09:50] jaried commented on #53879
Thanks for your answer. After I reinstalled cuda, cuDNN, and tensorflow, the prompt no longer appeared, but the performance was still very slow. I used snakeviz to analyze the prof file and found that the longest time-consuming functions are the learn() and decide() functions. The longest time-consuming part of these two functions is to call \Lib\site-packages\keras\utils\traceback_utils. The 58-l

[2022-01-24 10:03] maximecharriere opened #53907 "[tensorflow/examples] TensorFlow Lite Example for Android: Insecure protocols error during build"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Windows 10 Entreprise 21H1**

[2022-01-24 10:05] hartikainen commented on #41129
Apologies, looking this a bit more carefully, I'm still seeing grappler errors from the above code. It's a bit different than the original error but might be related:
[code]

[2022-01-24 10:29] rohanmishra21 opened #53908 "Not getting consistent results with .h5 and .tflite models on different machines"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Tested on Windows 11, Intel Mac, Mac M1 v11.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary (tensorflow for

[2022-01-24 10:49] mohantym commented on #17056
Hi @girving ! This issue is not replicating in TF [2.7](https://colab.sandbox.google.com/gist/mohantym/9b256232072da5f2e830d54bb1085fe1/github_17056.ipynb#scrollTo=iwNRaKeRrK8M) .Closing as it is resolved in latest version. Thanks!

[2022-01-24 10:49] #17056 closed

[2022-01-24 11:00] #50104 closed

[2022-01-24 11:26] #53649 closed

[2022-01-24 12:08] urrutiag commented on #53745
Thanks @Cheril311! Appears fixed on the guide.

[2022-01-24 12:08] #53745 closed

[2022-01-24 12:13] 520jefferson commented on #48401
@zhangguanqun how did you solve the problem below?
"  The repository '@local_cuda' could not be resolved and referenced by '@cub_archive//:cub' "

[2022-01-24 13:08] sushreebarsa commented on #41129
@hartikainen Could you please have a look at the [gist](https://colab.research.google.com/gist/sushreebarsa/26770d316d6ae751a4cfa4dd4f9998cb/41129.ipynb#scrollTo=YXIUTGpZJWVB) on GPU runtime as well.Thanks!

[2022-01-24 13:23] sushreebarsa commented on #53856
@bayesian-mind
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2022-01-24 13:25] ttdd11 commented on #53844
@mohantym thanks for the reply. I'm a bit confused though.

The change I see is that the strategy.run call was moved into the @tf.function. Was there a syntax error in what I sent? Do you need me to correct something so move this along?

Is this run call even executed? So if you print optimizer.get_weights() at the end of modified code will it print the loaded weights?

[2022-01-24 13:25] sushreebarsa commented on #53865
@riteshahlawat
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2022-01-24 13:26] #53661 closed

[2022-01-24 13:38] sushreebarsa commented on #53901
@engsbk
In order to expedite the trouble-shooting process , could you please provide more information on the issue reported here?
Thanks!

[2022-01-24 13:48] saylideshmukh opened #53910 "iterating over `tf.Tensor` is not allowed"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.3.1
- Are you willing to contribute it (Yes/No): Yes

**

[2022-01-24 14:49] saylideshmukh opened #53911 "iterating over `tf.Tensor` is not allowed"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2022-01-24 15:12] #53901 closed

[2022-01-24 15:26] #30552 closed

[2022-01-24 15:45] Saduf2019 commented on #53775
Moving this to closed status as this has bee fixed.

[2022-01-24 15:45] #53775 closed

[2022-01-24 15:51] mohantym commented on #53911
Hi @saylideshmukh ! Could you please provide a standalone code to reproduce this issue?

[2022-01-24 16:29] devnev39 commented on #53910
#53911

[2022-01-24 16:30] devnev39 commented on #53910
Issue #53911

[2022-01-24 17:39] sachinprasadhs commented on #53398
Could you please mention the PR which is linked to the issue.

[2022-01-24 17:58] sachinprasadhs commented on #53584
Could you please look at the available stateless distribution [here](https://www.tensorflow.org/api_docs/python/tf/random) like `stateless_binomial`, `stateless_normal`, `stateless_uniform` etc and let us know if this is what you are looking for or you need something specific. Thanks!

[2022-01-24 18:42] himswamy commented on #53751
@mohantym  :- Below is the code

import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense, Input
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.models import Model
from tensorflow.keras.callbacks import ModelCheckpoint
import tensorflow_hub as hub
from sklearn.model_selection import train_test_split

import tokenization

def bert_

[2022-01-24 19:22] amitport commented on #53584
@sachinprasadhs

No. stateless_shuffle is not covered by the other functions as is

[2022-01-24 20:06] lzr-official opened #53936 "TFRT saved_model_test registers type names in variant_op_registry multiple times"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian GNU/Linux 9.9 (stretch)

[2022-01-24 20:07] riteshahlawat commented on #53865
@sushreebarsa Filled!

[2022-01-24 20:42] qqfish commented on #53936
Can you log a stack trace before [REGISTER_UNARY_VARIANT_DECODE_FUNCTION(Tensor, "tensorflow::Tensor");](https://github.com/tensorflow/tensorflow/blob/ae9e5b2aa9cad5da4e614dfb40766c8e64bfc2d6/tensorflow/core/framework/tensor.cc#L71)?  Then we may know why it is linked twice.

Bazel should be able to dedup automatically. However, if it is linked as an external library (e.g. tf_runtime is an externa

[2022-01-24 23:25] duncanriach commented on #53792
Thank you, @edwardyehuang.

[2022-01-24 23:26] #53235 closed

[2022-01-24 23:27] casassg opened #53939 "backporting setup.py relaxation of requirements to 2.7"
Hi folks wondering if it would be possible to backport https://github.com/tensorflow/tensorflow/commit/41e66148999080da5b2b80a59740a8f2a59f17da to 2.7 since that would make 2.7 way more flexible to install on environments.

[2022-01-25 00:06] lzr-official commented on #53936
Looking from the stack trace, the code is linked via two .so: `libtensorflow_Score_Sframework_Slibtensor.so` and `libtensorflow_framework.so.2`:

[code]

It seems to me like the two .so are coming from `//tensorflow/core:framework` and `//tensorflow/core/framework:tensor`, where the former contains the latter. Both are from within tensorflow but not tf_runtime. (not sure if I understood correctly)

[2022-01-25 00:14] haozha111 commented on #53758
@karimnosseir could you help take a look? thanks!

[2022-01-25 01:06] cyrusbehr opened #53951 "Tensorflow Lite: Using output index causes segfault."
I am using Tensorflow Lite C++ interface for running inference, commit hash `040585c0f25681b399c9087b53c982959bcca44f` (HEAD of master branch at the time of posting this).
I am using a model with 2 inputs, and a single output (array).

I am trying to run the following code as a sanity check:

[code]

When I run the above, it prints:
[code]
As can be seen, the call to ` std::cout << "Output name: "

[2022-01-25 04:42] sushreebarsa commented on #53910
@saylideshmukh
Can you please elaborate about your Feature and please specify the Use Cases for this feature. Thanks!

[2022-01-25 04:49] sushreebarsa commented on #53908
@rohanmishra21 Could you please try on the latest version of TF v2.7.0 and let us know the outcome?Thanks!

[2022-01-25 05:53] SpicyYeol opened #54001 "Some operations didn't work in tflite train procedure."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2022-01-25 06:03] sushreebarsa commented on #53870
@pwrliang Could you please post this issue on [TensorBoard repo](https://github.com/tensorflow/tensorboard/issues) to get the right help there?Thanks!

[2022-01-25 06:55] ShuLuamazing commented on #53906
this question has been solved.

my program depends two shared libraries, which both link to tensorflow shared libs. However, for the two libs, one linked to 2.6.2 tensorflow which include 3.9.2 protobuf, other one linked to 1.5.0 tensorflow which include 3.8.0。

after i removed the old tensorflow, and corrected the link directories in Cmakelist.txt, the error tips didn't appear.

[2022-01-25 06:55] #53906 closed

[2022-01-25 07:02] kaizhigaosu commented on #53517
I have the same problem. Could you please solve this problem? You don't provide gradient functions for these collective_ops operations, which makes TensorFlow looks like a work-in-progress. A lot of my friends have switched to Pytorch and it looks like I have to do the same.

[2022-01-25 07:11] p30arena commented on #53393
@sachinprasadhs
Thank You

[2022-01-25 07:11] #53393 closed

[2022-01-25 08:26] sushreebarsa commented on #54001
@SpicyYeol
In order to expedite the trouble-shooting process, please provide a  code snippet to reproduce the issue reported here. Thanks!

[2022-01-25 08:29] saylideshmukh commented on #53910
@sushreebarsa  After training a particular cnn model if i observe the learned channel dimension values of the particular layer then most of them are similar , so i plan to make a custom layer which first just passes the output of one CNN layer to the next layer during the initial training, i can then observe the similar channel dimension values by accessing the values of the custom layer. After th

[2022-01-25 08:45] MichoChan opened #54059 "allocate temp tensor would be free before the end of the aysnc gpu kernel execution"
https://github.com/tensorflow/tensorflow/blob/a9e4e55bcfaa95c40b36ef9c85991e3534532b2c/tensorflow/core/kernels/gpu_device_array.h#L83

[2022-01-25 09:06] mohantym commented on #53844
Hi @Saduf2019 ! Could you look at this issue? Attaching gist in [2.6](https://colab.sandbox.google.com/gist/mohantym/0dab4bb65ba2b800f1a5fbc74c2aefc7/github_53844.ipynb#scrollTo=aMnmqhS_PY6-), [2.7](https://colab.sandbox.google.com/gist/mohantym/0bab7c440905503bbeabc1bd8c0d1769/github_53844.ipynb#scrollTo=aMnmqhS_PY6-) and [2.8.rc1](https://colab.sandbox.google.com/gist/mohantym/2bd6c423f1e04598e4

[2022-01-25 09:17] Saduf2019 commented on #53939
@casassg
What issues are you facing with this version, that need to backport.

[2022-01-25 09:20] Joy-Lunkad opened #54065 "Compute gradients across two layers using gradients calculated from a previous layer using tf.gradients or tf.GradientTape"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux, colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): NA
- TensorFlow version (use command below): 2.7.0
- Pyt

[2022-01-25 10:45] 4scastro opened #54066 "Building Tensorflow lite from source: cannot fix unresolved external symbols in Visual Studio project"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): Tensorflow lite (source)
- TensorFlow version: 2.7.0
- GCC/Compiler version (if compiling from source): MSVC 19.26.28806.0

**Describe the problem**

Building Tensorflow lite from source appears to work, in so far as I get the static libraries. However, when

[2022-01-25 10:54] bersbersbers opened #54067 "Cannot reproducibly save a model to disk"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes, below
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OpenSUSE Leap 15.2
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow installed from (source or binary): from pip
- TensorFlow version (use command

[2022-01-25 10:59] bersbersbers commented on #54067
Here's another variant of the problem. This time, `saved_model.pb` also vary across runs while they shouldn't:

[code]

Again:
[code]
Output:
[code]

[2022-01-25 11:05] Minxiangliu commented on #45285
Hi, have the same problem here, it crashes after less than 1 epoch.

Environment: windows11 WSL2 Ubuntu18.04/Ubuntu20.04
Version: tensorflow-gpu2.4.0, python3.6
GPU: GTX 3060

I tried training in the docker environment and it crashed. I also tried to install it myself and it was the version mentioned by @tondangerza , @stronquens , but the result was still crashing.

It is worth mentioning that th

[2022-01-25 11:17] mohantym commented on #53879
Hi @Saduf2019 ! Could you please look at this issue? Attaching Gist in [2.6](https://colab.sandbox.google.com/gist/mohantym/d44b199cf3563c3dafef154155c4dec3/github_53789.ipynb#scrollTo=H67mMC0N15_m) ,[2.7 ](https://colab.sandbox.google.com/gist/mohantym/1cf24f8c5afc040ad21ec23fcd81b9b7/github_53789.ipynb)and [2.8 ](https://colab.sandbox.google.com/gist/mohantym/639140f83e16b60f286f88cedce7c4b3/git

[2022-01-25 11:23] Minxiangliu commented on #49826
@er778899789 How did you solve it please?

[2022-01-25 11:25] bersbersbers commented on #48561
Thanks for reopening this. Here's another two four-line pieces of code to repro the warning in TF 2.8.0-rc1:
[code]

[code]

[2022-01-25 11:33] hartikainen commented on #41129
Hey @sushreebarsa. Just tested on the GPU colab and it still fails. I think you might need to refresh the runtime logs after you run the code.

See the error log from the [GPU Colab](https://colab.research.google.com/gist/sushreebarsa/26770d316d6ae751a4cfa4dd4f9998cb/41129.ipynb#scrollTo=YXIUTGpZJWVB) below:
<details>
  <summary>(Collapsed)</summary>
[code]
</details>

[2022-01-25 11:46] sdp009 commented on #53587
@Saduf2019 , issue is still reproducible. I also tried with different machines. I think, something wrong with 'gif' repo keystore with importing SSL cert. I don't know much on this.

WARNING: Download from https://storage.googleapis.com/mirror.tensorflow.org/pilotfiber.dl.sourceforge.net/project/giflib/giflib-5.2.1.tar.gz failed: class javax.net.ssl.SSLHandshakeException PKIX path building failed:

[2022-01-25 12:04] hmc-cs-mdrissi commented on #12345
@mdanatg Would it be reasonable to work on type stubs (.pyi) files in typeshed that try to approximate public api while issues of tensor genericness/runtime get worked out.

As right now it's unclear what expected progress of this issue is. I think having runtime genericness while nice isn't needed initially. The primary motivation I have for types is a better IDE/type checker experience. Worst ca

[2022-01-25 12:12] elfringham opened #54068 "Build failure due to cuda include being required on non-cuda platform"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (

[2022-01-25 12:13] elfringham commented on #54068
@cfRod @nSircombe

[2022-01-25 12:15] hrw commented on #54068
[code]

I would retitle it 'CUDA includes used even in non-cuda builds' or sth like that.

[2022-01-25 12:16] hrw commented on #54068
heh. mentioned commit just dropped cuda switch.

meh.

[2022-01-25 12:18] hrw commented on #54068
Could someone enable CI and review for **all** developers?

Turnes out that whenever there is build failure it is a result of yet another google employee merging change without checking does it pass CI at all.

[2022-01-25 12:26] bersbersbers commented on #54067
Looking at the `.pb` files in a text editor, the main differences that I notice are counters appended to functions:

![image](https://user-images.githubusercontent.com/12128514/150976587-c7ee33c6-a804-49d5-bafb-d6060c521428.png)

![image](https://user-images.githubusercontent.com/12128514/150976624-3d1bc5d0-fee1-465b-91d8-2f9c97f561e2.png)

![image](https://user-images.githubusercontent.com/121285

[2022-01-25 13:27] Ryuk17 commented on #50149
How did you solve it? I met the same question when compiling an app on ARM.

[2022-01-25 13:36] elad-c commented on #53837
I've removed the last 2 lines which cuased the exception. I used them to save the models to disk and later open them with netron. It should work now

[2022-01-25 13:40] elad-c commented on #53837
for example, here's a Tensorflow model:
![image](https://user-images.githubusercontent.com/78862769/150987102-356984f8-1fd6-4744-8b5f-8503b7d94c1c.png)

This is the output of the converter with TensorFlow 2.6.2:
![image](https://user-images.githubusercontent.com/78862769/150987397-c616f33d-ad9e-4e00-ba56-e655fec3a82a.png)

and this is the converter's output with TensorFlow 2.7.0:
![image](https://

[2022-01-25 13:42] Ryuk17 opened #54069 "Cross compile libtensorflow-lite.a is ok but many undefined reference when link it"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 16.04
- Mobile d

[2022-01-25 13:46] Ryuk17 commented on #54069
I also build a libtensorflow-lite.a with gcc just for linux, I meet the same question.

[2022-01-25 13:47] Ryuk17 commented on #54069
[code]

[2022-01-25 13:48] pwrliang commented on #53870
@sushreebarsa Hi, I opened a issue on TensorBoard, they said this issue only happened when under the distributed training settings, so they suggested me open the issue  on TensorFlow repo. Please read my issue throughout, thanks

[2022-01-25 14:09] sushreebarsa commented on #54067
@bersbersbers
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thanks!

[2022-01-25 14:30] bersbersbers commented on #54067
Thanks, done.

[2022-01-25 15:08] cfRod commented on #54068
Adding @penpornk for some input.

[2022-01-25 15:18] penpornk commented on #54068
Tagging @yarri-oss and @mihaimaruseac for thoughts.

[2022-01-25 15:19] casassg commented on #53939
Mostly being unable to use typing-extensions severely limit my ability to use latest typing pep while also using tensorflow.

[2022-01-25 15:35] karllessard commented on #42320
I had the exact same issue as @ablanch5 and just tried it again with TensorFlow 2.8.0rc1, and confirm that it now works :+1:

[2022-01-25 16:02] MarcinSkoczylasSH commented on #34237
This problem is still happening. This is not fixed, please do not close not fixed bugs.

[2022-01-25 16:26] #53692 closed

[2022-01-25 17:34] yichunkuo-pony commented on #45946
Has similar issue, any update? @ckluk-github

[2022-01-25 18:48] PahlevanyanSamvel opened #54083 "iOS app size increasing"
Hey dear TensorFlow team.
I am using  following lib on my iOS application  `pod 'TensorFlowLiteSwift', '~> 0.0.1-nightly', :subspecs => ['Metal','CoreML']`
Every time when I am trying to read .tflite, my app size is increasing.
I discovered and found some interesting think inside the app container AppData->tmp
<img width="1215" alt="Screen Shot 2022-01-25 at 22 45 39" src="https://user-images.gith

[2022-01-25 18:51] lzr-official commented on #53936
Changing to `linkstatic=True` for this test would result in a build error:
[code]

[2022-01-25 21:34] mdanatg commented on #12345
I think working on stubs is reasonable to me but I think it's orthogonal to fixing the type hierarchy. Whether you add stubs or the annotations directly in the code (which is possible now), the main factor is how accurate those annotations will be. I think it's important for a type checker to be accurate and not have false positives or negatives, otherwise users will just start to ignore it.

[2022-01-25 21:48] Raa23 opened #54085 "LSTM slow to calibrate with large observation period"
I am reporting an issue in the calibration speed of LSTM models with large observation period even though none of my resource is saturated (CPU, GPU, RAM, SSD)

**System information**
- OS Platform and Distribution: Win11
- TensorFlow installed from: `pip install tensorflow`
- TensorFlow version: 2.7 / GPU
- Python version: 3.9
- CUDA/cuDNN version: cuDNN 8201 (installed via `pip install tensorflo

[2022-01-25 22:06] #47534 closed

[2022-01-25 23:28] lzr-official commented on #53936
The issue might be that `//tensorflow/core/tfrt/saved_model/tests:saved_model_test` is a `tf_cc_test`, which links in shared object `tensorflow_framework` sources via [`tf_binary_additional_srcs`](https://github.com/tensorflow/tensorflow/blob/ee62dbd6d71243c0d7c79123f6b34d26cc048599/tensorflow/tensorflow.bzl#L558-L572).

We worked around in the following way:
1. Change `tf_cc_test` to `cc_test`;
2

[2022-01-26 00:31] whatdhack commented on #53742
@tilakrayal , an example follows.

[code]

[2022-01-26 00:34] SpicyYeol commented on #54001
I use the modified example code. I added print("train_finish) in train loop. but I can't see that.

`import matplotlib.pyplot as plt
import numpy as np
import tensorflow as tf

print("TensorFlow version:", tf.__version__)

IMG_SIZE = 28

class Model(tf.Module):

  def __init__(self):
    self.model = tf.keras.Sequential([
        tf.keras.layers.Conv2D(filters=32,kernel_size=3,activation="sigmoid"

[2022-01-26 01:15] RuofanKong opened #54086 "Tensorflow restore memory leak"
**System information**

- OS Platform and Distribution: MacOS Monterey 12.1
- TensorFlow installed: from binary
- TensorFlow version: The issue could be reproduced by v2.6.0
- Python version: 3.8.3

**Describe the current behavior**
I notice that Tensorflow (TF) leaks memory when I restore TF models. Specifically if I iteratively load model checkpoint from disk with TF restore API, the memory usag

[2022-01-26 01:26] #53555 closed

[2022-01-26 01:54] t0b4cc0 commented on #53858
did the tutorial just mean to use something like pandas.rolling function to create the data?

[2022-01-26 04:19] jiku100 opened #54087 "no attribute '_register_wrapper_optimizer_cls' in python 3.8.12"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 20.04
- Mobile device (

[2022-01-26 05:25] hmc-cs-mdrissi commented on #12345
I view false negatives as an acceptable evil here. The current lack of types is essentially an extreme false negative of never report an error. If we add type stubs that detect some type errors, but miss others then any information they give to a user will at least help them fix something. It will miss things that they may expect a type checker to catch, but current untyped status quo misses every

[2022-01-26 05:26] #9868 closed

[2022-01-26 06:03] lzr-official commented on #53936
Looks like the test fails because `tfrt.merge.chains` kernel is not open-sourced yet?

[code]

[2022-01-26 06:26] #53724 closed

[2022-01-26 07:51] StevenHuang2020 opened #54090 "LSTM model save warning, Tensorflow 2.7.0"
**System information**
- OS Platform and Distribution: Windows10
- TensorFlow installed from: binary
- TensorFlow version: v2.7.0-rc1-69-gc256c071bb2 2.7.0
- Python version: 3.9.10

**Describe the current behavior**
When model.save called, the below warning message occurred:
[code]
I just upgraded python from 3.6 to 3.9, reinstall Tensorflow under Python 3.9.10. I found the LSTM model hard to trai

[2022-01-26 08:23] sanghyeonp commented on #17699
Has this been solved yet?

[2022-01-26 08:26] #53297 closed

[2022-01-26 08:53] leandro-gracia-gil opened #54091 "TFLite SignatureRunner support for the C API"
**System information**
- TensorFlow version (you are using): 2.7 / tf-nightly
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
The current TFLite interpreter C API allows using TFLite in situations where a stable ABI is needed and the C++ API is not an option. For example, in cases where TFLite needs to be used in bigger projects that cannot

[2022-01-26 08:54] Ryuk17 commented on #54069
It seems that the libtensorflow-lite.a does not link ruy and xnnpack
![image](https://user-images.githubusercontent.com/22525811/151132498-bc6a92a7-53df-4c04-ad2d-9415c669efc1.png)

[2022-01-26 10:26] #50940 closed

[2022-01-26 10:49] terryheo commented on #51816
Please check https://github.com/tensorflow/tensorflow/issues/43367#issuecomment-1021211279

[2022-01-26 11:31] goncinious commented on #52167
Thanks @ashishpatel26 for your reply.

Fixing the seeds didn't fix the issue described. I can also confirm that the issue persists on the latest TF Docker image (with TF 2.7.0). (see [previous comment](https://github.com/tensorflow/tensorflow/issues/52167#issuecomment-930357745) for steps to reproduce).

I also tried setting `TF_DETERMINIC_OPS` and `num_parallel_calls=1` in `map()` (see [GIST](htt

[2022-01-26 12:12] felix-johnny commented on #53784
@dayeongl Could you confirm the intention with zero points and int16?

[2022-01-26 12:50] StevenHuang2020 commented on #54090
My model creation code is as follows:
[code]

[2022-01-26 13:19] filippocastelli commented on #52988
@holongate 's env is a good workaround and solves the problem for me.

I'm quite astonished by how little thought was given on the issue - which is clearly a problem with TF 2.7 itself, and not with conda - and by how much time you waste on commenting that conda installs are not supported by Google.

[2022-01-26 13:55] sushreebarsa commented on #54069
@Ryuk17 Could you please try on the latest TF v2.7.0 and let us know the outcome?
Please provide the full traceback in text format  that would be helpful to diagnose the problem.
Thanks!

[2022-01-26 14:21] sushreebarsa commented on #53814
@lantianguhong Could you please refer the [build from source ](https://www.tensorflow.org/install/source) and check the tested build configurations ?Please let us know if it helps?Thanks!

[2022-01-26 14:22] sushreebarsa commented on #54083
@PahlevanyanSamvel
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2022-01-26 14:26] #53665 closed

[2022-01-26 14:26] sushreebarsa commented on #54059
@MichoChan Could you please include more details on the issue?
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),Thanks!

[2022-01-26 15:26] #12046 closed

[2022-01-26 15:57] aryannewyork commented on #53869
Hey I want to contribute to this, can you please guide me through

[2022-01-26 16:17] sushreebarsa commented on #53865
@riteshahlawat
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2022-01-26 16:24] EnderWiggin14 opened #54094 "Model.fit() batch_size breaks for some batch_sizes"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2022-01-26 16:27] sushreebarsa commented on #54094
@EnderWiggin14
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2022-01-26 16:38] sushreebarsa commented on #54094
@EnderWiggin14 Thank you for the update!
Could you please move this ticket to closed status as we will track the other issue in https://github.com/keras-team/keras/issues/15956
Thanks!

[2022-01-26 16:57] riteshahlawat commented on #53865
I have already provided a code snippet that loads in a dataset of images with an extremely large resolution, uploading the dataset would be an issue but any high-resolution image over size 536870912 (width x height x channels) would work.

[2022-01-26 17:08] sushreebarsa commented on #54087
@jiku100 Could you please check if  your cpu model  support AVX instructions sets?See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)
Make sure to download the latest [microsoft visual c++ redistributable from here.](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads)
Also, please follow the instructions from

[2022-01-26 18:19] ttdd11 commented on #53844
@Saduf2019 is there anything I can do/tests I can run to help with this? Currently all of our GCP experiments are on hold.

[2022-01-26 18:21] Andreas5739738 commented on #6541
This is still an issue in current tf-nightly (2.8+):

[code]
https://colab.research.google.com/gist/Andreas5739738/fc603468829ee0fc7e40a2e27d8a6661/fft.ipynb

[2022-01-26 19:29] iaverypadberg commented on #43688
Has any progress been made on this? Anybody find a fix?

[2022-01-26 23:00] philipphack opened #54105 "Copy-on-read Limits Usable GPU Memory"
When sparsely accessed individual variables occupy a large portion of available memory, the necessary copy during dense reads, e.g. while saving a checkpoint, can substantially increase the total memory usage. In the limit of a single variable (such as an embedding table) occupying all allocated memory, this behavior causes the memory usage to double when the model is saved. Therefore, a single sp

[2022-01-26 23:16] whatdhack commented on #53301
Anyone here ?

[2022-01-26 23:22] c-parsons opened #54107 "Tensorflow Buildkite (CI) Broken"
Example failure: https://buildkite.com/bazel/tensorflow/builds/7681#4bedc5fc-2efe-401b-9aa4-f967df5f05dd

Tensorflow Buildkite seems to be broken with release Bazel.

[2022-01-27 00:03] lzr-official commented on #53936
Turns out some kernel registrations are not always linked. Adding `*_alwayslink` targets of kernel registrations from `@tf_runtime` to `//tensorflow/core/tfrt/saved_model:saved_model` resolves the issue. E.g:
[code]

[2022-01-27 00:26] #44289 closed

[2022-01-27 00:35] StevenHuang2020 commented on #47554
Hi, guys. has your problem been resolved?
I have the same problem. I just upgraded Tensorflow from 2.6.2 to 2.7,  the Loss of my LSTM model does not decrease and the same warning message occurred when model.save() called.
https://github.com/tensorflow/tensorflow/issues/54090

[2022-01-27 00:44] ArrowIntoTheSky opened #54115 "tf.image.adjust_hue miss input check"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Y
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7.0
- Py

[2022-01-27 00:51] ArrowIntoTheSky opened #54116 "tf.image.adjust_brightness and random_brightness miss input check"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Y
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7.0
- Py

[2022-01-27 01:01] pcish commented on #52346
I've logged the feature request and updated related documentation, so going to close this issue. Please reopen if you think there is something still missing from the documentation.

[2022-01-27 01:01] #52346 closed

[2022-01-27 01:08] lzr-official commented on #53936
Closing this issue since all blockers are worked-around. Thanks @qqfish and others for triaging!

[2022-01-27 01:08] #53936 closed

[2022-01-27 01:14] ArrowIntoTheSky opened #54117 "tf.keras.metrics.get raise error for None"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Y
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7.0
- Py

[2022-01-27 02:06] bondhugula commented on #53041
As @pifon2a comments, this has now become moot.

[2022-01-27 02:06] #53041 closed

[2022-01-27 02:09] Ryuk17 commented on #54069
The problem still exists in TF v2.7.0, the following is my full traceback with gcc version 9.4.0, cmake version 3.21.3:

First download TF v2.7.0 from [here](https://github.com/tensorflow/tensorflow/releases/tag/v2.7.0)
[code]
here are my options
![image](https://user-images.githubusercontent.com/22525811/151278151-f065c127-ed5c-4e59-bb6f-6da8e6ebd56f.png)

Then
[code]
I can get the  libtensorflow

[2022-01-27 02:22] Ryuk17 commented on #54069
In #43646, G4V mentioned that the built library libtensorflow-lite.a doesn't itself include all the dependencies it needs as build in [build dir]/_deps. Is this the reason and how to solve it?

[2022-01-27 02:40] jeongukjae opened #54122 "Docker images for Tensorflow 2.6.2 are missing"
TensorFlow 2.6.2 was released, but I cannot find docker images for TF 2.6.2 in docker hub.

https://hub.docker.com/r/tensorflow/tensorflow/tags?page=1&name=2.6.2

<img width="1262" alt="스크린샷 2022-01-27 오전 11 30 59" src="https://user-images.githubusercontent.com/8815362/151281339-8b1cad3d-fae3-4526-888e-a3536e151dc9.png">

[2022-01-27 02:48] ArrowIntoTheSky opened #54125 "tf.histogram_fixed_width_bins miss input check for `nbins`"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Y
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7.0
- Py

[2022-01-27 03:11] tilakrayal commented on #54086
@sachinprasadhs ,
I was able to reproduce the issue in tf [v2.5](https://colab.research.google.com/gist/tilakrayal/61cfb2bcb6db7f15b18f939c0d45ded5/54086-2-5.ipynb),[v2.7](https://colab.research.google.com/gist/tilakrayal/e3ad29fcde5cb4fe5ddc2f05769db298/54086-2-7.ipynb) and [nightly](https://colab.research.google.com/gist/tilakrayal/aea162370bef4cb9a9968756a9bd9f3f/54086-nightly.ipynb).Please fin

[2022-01-27 03:52] jaried commented on #53879
Hi @Saduf2019
I used debug mode and found that the self.target_net.predict() function takes about 70ms to run once.
[code]
However, when I debug the build_network() function and use model.summary(), all parameters of a neural network are only 4547.
What is the reason why the neural network runs slowly once?
[code]

[2022-01-27 04:06] yanniskar commented on #53846
Thanks for the response @sushreebarsa @duncanriach. I need to use the tensorflow version my org is on. Thus, I cannot upgrade to 2.8 to test this as my org does not support cloud training on that tensorflow version. If it is hard for you guys to verify this in 2.8, I can look into a workaround for testing my code in 2.8. Given other work priorities, it might take me some time before I am able to d

[2022-01-27 05:25] mercksamir opened #54133 "TensorFLow Lite version for iOS through POD"
Hi folks,

Can anyone please let us know what is the latest TensorFlow lite version available for iOS through PODs. In the example, it is mentioned that the latest version for TensorFLow lite is 1.13.1.

What is the latest TensorFlow lite version that we can use with TensorFlow version 2.6.0?

<img width="1340" alt="Screenshot 2022-01-27 at 10 52 12 AM" src="https://user-images.githubusercontent.c

[2022-01-27 05:26] #53731 closed

[2022-01-27 05:26] #53616 closed

[2022-01-27 05:26] #53747 closed

[2022-01-27 05:39] towhid355 commented on #21645
Code stop after showing this message.
[code]
Python 3.8
tensorflow==2.2.0

[2022-01-27 05:47] mohantym commented on #54068
Hi @jvishnuvardhan ! Could you please look at this issue?

[2022-01-27 05:55] tilakrayal commented on #54091
@leandro-gracia-gil ,
Can you please elaborate about your Feature. Also, please specify the Use Cases for this feature. Thanks!

[2022-01-27 06:05] hujhcv opened #54134 "build tensorflow 2.9 using mingw-w64 on windows 10"
<em>i am trying to build the tensorflow 2.9 using mingw-w64 on windows 10 .
 i need the tensorflow c++ lib which i wanted to use it in mingw-w64 based projects.
how to do ?  has any tutorial ？ </em>

**System information**
- OS Platform and Distribution: Window 10 x64
- TensorFlow installed from: source
- TensorFlow version: 2.9
- Python version: 3.9
- Bazel version : 4.2.2
- Compiler : mingw-w64

[2022-01-27 06:14] leandro-gracia-gil commented on #54091
The feature is basically bring support for signature runners (what you can do [here](https://www.tensorflow.org/lite/guide/signatures#c) in C++) to the C API. There should already internal be support for this, but it's simply not yet exposed in the C API.

The use cases are using TFLite models that have more than a single TF function in situations where ABI stability issues don't allow you using t

[2022-01-27 07:04] tilakrayal commented on #54107
@c-parsons ,
Looks like this issue is not related to tensorflow.Can you please try to install tensorflow for this [link](https://www.tensorflow.org/install).Thanks!

[2022-01-27 07:26] #53644 closed

[2022-01-27 07:45] mohantym commented on #53672
@marzdeveloper !Sorry for the late response!  Model should provide same accuracy irrespective of Dataset type. It has been seen earlier that  accuracy ,loss and performance differs when you used numpy array instead of tensors. So I think it should be more appropriate for keras repo. Thank you!

[2022-01-27 07:58] krishdb38 commented on #45285
@Minxiangliu
I solved the same problem by uninstalling Cuda tool kits and installing again &
personally, I find Cuda toolkits & cudnn versions affect highly.
what about trying some lower version of Cuda tool kits & matching driver.
![image](https://user-images.githubusercontent.com/45994360/151315331-1c6bd386-e6a9-4fd0-af56-4464edb4070c.png)

I am using it without any problem.
in the beginning, it

[2022-01-27 08:22] mohantym commented on #54090
Hi @StevenHuang2020 !
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999) . Thanks!

[2022-01-27 08:42] mohantym commented on #54105
Hi @sachinprasadhs ! Could you look at this feature request?

[2022-01-27 08:45] mohantym commented on #53911
Hi @saylideshmukh ! Is this issue #53910 is duplicate to this feature request?

[2022-01-27 08:52] meteorcloudy commented on #54107
This issue is already fixed at TF's HEAD, so can be closed

[2022-01-27 08:52] #54107 closed

[2022-01-27 08:54] sushreebarsa commented on #54134
@hujhcv Please try with the latest TF stable version **2.7.0** and refer to TF [releases](https://github.com/tensorflow/tensorflow/releases) ,[tested build configurations](https://www.tensorflow.org/install/source_windows#tested_build_configurations) ?
Please let us know if it helps?
Thanks!

[2022-01-27 08:55] meteorcloudy commented on #54107
Oh the issue caused this on Bazel CI is a missing pip package, we should fix it https://github.com/bazelbuild/continuous-integration/blob/master/pipelines/tensorflow.yml#L15
[code]

[2022-01-27 09:12] meteorcloudy commented on #54107
Fixed at https://github.com/bazelbuild/continuous-integration/commit/30708c00ccaab6022b4320f9afa9860ab568b544

[2022-01-27 09:32] tilakrayal commented on #54117
@ArrowIntoTheSky ,
Please post this issue on [keras-team/keras](https://github.com/keras-team/keras/issues) repo.
To know more refer to:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2022-01-27 09:40] sushreebarsa commented on #53866
@posEdgeOfLife Could you please post this issue in [models repo](https://github.com/tensorflow/models/issues) to get the right help there ?Thanks!

[2022-01-27 09:59] mohantym commented on #54116
Hi @jvishnuvardhan ! Could you please look into this issue ? It is replicating in [2.6](https://colab.sandbox.google.com/gist/mohantym/aa7ca251a9388c45411aa67dcb9748ff/github_54116.ipynb#scrollTo=96aKifvB8EyQ), [2.7](https://colab.sandbox.google.com/gist/mohantym/b2e8fdb4207ad6fcc477c0d0a1e1ef03/github_54116.ipynb) and [2.8](https://colab.sandbox.google.com/gist/mohantym/d042a09b947b8c4e6ab4370830

[2022-01-27 10:04] tilakrayal commented on #53742
@whatdhack ,
While trying to execute the provided code i haven't faced any issue.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/c428751ec19835d5844d68708fd6835b/untitled199.ipynb) and let us know if anything is missing.Thanks

[2022-01-27 10:36] saylideshmukh commented on #53911
Yes

[2022-01-27 10:40] jcnew07 opened #54143 "Warning Tensorflow: "Invalid GPU Compute Capability""
Hi...i have  this warning Tensorflow:

"Invalid GPU Compute Capability"

Att.
Jcnew07

[2022-01-27 10:58] saylideshmukh commented on #53911
Hi @mohantym I realized that I can try to access the tf.Tensor objects by delaying my python function i.e. delaying the execution of the do_mapping function. Any idea regarding this?

[2022-01-27 11:14] StevenHuang2020 commented on #54090
okay, thanks!

[2022-01-27 11:16] DrChrisLevy commented on #52845
@janvdp have you made any more progress in the last 2 months ? I added the --platform argument to my docker file to run Linux/amd and installed an unofficial non avx tensor flow 2.7. Finally got the image built but damn it's slow. The unit tests are so much slower. Also many of the tests fail because for some reason some of the rounded precision assertions are different etc.

If you have made any

[2022-01-27 12:53] zeynepgulhanuslu opened #54147 "tf.math.angle not working in tflite concrete function"
Hi,
When i try to use tf.math.angle function inside concrete function and save as tflite model it gives an error like below:

Some ops are not supported by the native TFLite runtime, you can enable TF kernels fallback using TF Select

tf version 2.7

Can you help me with this?

Thanks

[2022-01-27 13:03] zenetio commented on #47554
Hi @miccio-dk, I also got the same issue when converting the model to tflite when using the export_tflite_graph_tf2.py script, but I didn't get any KeyError.

[2022-01-27 15:52] hori-ryota commented on #52210
Any update on this one?

[2022-01-27 15:52] mohantym commented on #54090
@StevenHuang2020 ! Could you close this issue here then as it will be tracked in Keras repository?

[2022-01-27 15:54] mohantym commented on #53911
@saylideshmukh ! Could you provide the gist of solution you are working on and close the duplicate feature request #53910 ?

[2022-01-27 16:13] mohantym commented on #54125
Hi @sachinprasadhs ! Could you please look at this issue?  Attaching gist in [2.6](https://colab.sandbox.google.com/gist/mohantym/38dd66c557d5f77993144919b11f653b/github_54125.ipynb#scrollTo=fxuWOtXR_aPE) and [2.7](https://colab.sandbox.google.com/gist/mohantym/6942139dfd2218e14af74cccea8db259/github_54125.ipynb) , [2.8](https://colab.sandbox.google.com/gist/mohantym/17c5b2aa7cbf28f9b59de73a92ec85

[2022-01-27 16:20] mohantym commented on #54143
Hi @jcnew07 ! Minimum Gpu compute capability is 3.5 . Attaching relevant [thread](https://www.tensorflow.org/install/gpu#hardware_requirements) for reference. Thank you!

[2022-01-27 16:27] brsolomon-deloitte opened #54154 "tensorflow-cpu 2.7.0 missing from conda-forge"
`tensorflow-cpu` 2.7.0 is [present on PyPI](https://pypi.org/project/tensorflow-cpu/) as of now but [missing from conda-forge](https://anaconda.org/conda-forge/tensorflow-cpu), where latest is 2.6.2.

[2022-01-27 16:30] mohantym commented on #54065
Hi @Joy-Lunkad ! Could you please post this issue on [TF forum ](https://discuss.tensorflow.org/)for further assistance? Thank you!

[2022-01-27 16:43] mohantym commented on #53751
Hi @himswamy ! Can you please provide above code as Colab gist? I was getting lot of import errors earlier .

[2022-01-27 17:14] raminmohammadi opened #54155 "TFLITE conversion Failed - Custom Model"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installation (pip package or built from source): Pip
- TensorFlow installation (pip package or built from source): tensorflow==2.8.0-rc0

### 2. Code

Provide code to help us reproduce your issues using one of the following options:
Reference [TensorFlow Lite Model Colab]: https://colab.

[2022-01-27 17:47] i00lii opened #54156 "MacOS build compilation error"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS High Sierra (10.13.6)
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.6
- Python version: 3.9.10
- Bazel version (if compiling from source): 4.2.2
- GCC/Compiler version (if compiling from source): Apple LLVM version 10.0.0 (clang-1000.10.44.4)

**Describe the problem**

Hi.

The

[2022-01-27 17:50] i00lii commented on #54156
Also attaching whole 2.6 error
[error2.6.log](https://github.com/tensorflow/tensorflow/files/7952732/error2.6.log)
r

[2022-01-27 18:09] i00lii commented on #54156
Also, is there any reason try to use gcc instead of clang?

[2022-01-27 18:15] notmatthancock opened #54157 "Ability to clear cache on CacheDataset"
**System information**
- TensorFlow version (you are using): 2.6.0
- Are you willing to contribute it (Yes/No): yes

**Describe the feature and the current behavior/state.**

If a dataset is cached, there is currently no public API for explicitly clearing the cache (I think?).

**Will this change the current api? How?**

Add `clear()` or `clear_cache()` method (perhaps on DatasetV2 class?). After

[2022-01-27 18:56] whatdhack commented on #53742
Still see it  in TF 2.6  Do not have TF 2.7 yet.  Will try again after upgrade.

[code]

However, that part of the code does not look like have changed in TF source ( https://github.com/tensorflow/tensorflow/blob/c242bc0901c3fa5966a16e41a8d3da33e4e4b690/tensorflow/stream_executor/cuda/cuda_blas.cc#L1774  ).
Also, the log is  displayed only once, the first time cublas is called.  Do not know how co

[2022-01-27 19:37] #53910 closed

[2022-01-27 20:03] wangpengmit commented on #53671
Thanks for the reproduce! The two lines
[code]
only determine where the variables are placed. The four lines (or some subset of them) afterwards
[code]
determine where real computations like `MatMul` and `BiasAdd` are placed. So the current behavior is working-as-intended. If you want to place `MatMul` and `BiasAdd` on `GPU:1`, you should indent the last four lines:
[code]

[2022-01-27 20:27] molvcan opened #54163 "Why the parameter size of mobilenetv3 in 2.7.0 is different from nightly?"
<em>
</em>
The number of parameters of MobileNetv3Small(alpha=1) in tf=2.7.0 is 1.5M, while it is 0.9M in tf-nightly.

The same code was used to load the MobileNetV3Small model.

`
base_model =keras.applications.MobileNetV3Small(input_shape=(384, 512, 3),include_top=False,weights='imagenet',)
base_model.summary()
`

I saw that some layers were deleted in tf-nightly. Why is that?

![image](https://

[2022-01-27 21:11] wilsingosti commented on #53572
Yes, it would be useful in general. AFAIK, it has just not been prioritized so far. I will try to do this for `Batch` dataset.

[2022-01-27 21:26] #53404 closed

[2022-01-27 22:26] #52590 closed

[2022-01-27 23:17] sachinprasadhs commented on #53584
There is already an implementation available on nightly to run ops deterministically which is [enable_op_determinism](https://www.tensorflow.org/api_docs/python/tf/config/experimental/enable_op_determinism) you can start using that in nightly version as of now and it will be available in future stable releases. Thanks!

[2022-01-27 23:59] #54090 closed

[2022-01-27 23:59] StevenHuang2020 commented on #54090
ok

[2022-01-28 00:04] sachinprasadhs commented on #53845
The sentence `The output has the same dimensions as the operands except that the element type T is replaced with S.` refers to output of Map function.
Will it be fine for you if the sentence is changed to `The output of Map has the same dimensions as the operands except that the element type T is replaced with S.`

[2022-01-28 00:06] sachinprasadhs commented on #53749
The gist for v2.7.0 is https://colab.research.google.com/gist/sushreebarsa/994675facdb1d4d555a645168d112e5c/53749.ipynb#scrollTo=utwlQejrw3Qq and for tf-nightly is https://colab.research.google.com/gist/sushreebarsa/b21d3cb2b642848974d675632fad238c/53749-nightly.ipynb, could you please verify the error message reproduced. Thanks!

[2022-01-28 00:19] prmudgal opened #54164 "RuntimeError: Encountered unresolved custom op: UnboundedIndexRangeEncode. number 3 (UnboundedIndexRangeEncode) failed to prepare. Node number 108 (WHILE) failed to invoke."
**### 1. System information**

Linux
TF 2.7.0
### 2. Code

**Command used to run the converter or code if you’re using the Python API**

Converter:

  import argparse
  import io
  import os
  import sys
  import urllib
  from absl import app
  from absl.flags import argparse_flags
  import cv2
  import numpy as np
  import tensorflow.compat.v1 as tf

  #import tensorflow as tf
  from tensorflow.p

[2022-01-28 00:26] #45648 closed

[2022-01-28 00:26] #47187 closed

[2022-01-28 00:31] sachinprasadhs commented on #53871
`BoostedTreesClassifier` is depreciated, you can refer to [TensorFlow Decision Forests](https://www.tensorflow.org/decision_forests) and for contribution you can check in the github repo `tensorflow/decision-forests` [here](https://github.com/tensorflow/decision-forests).

[2022-01-28 00:38] wangpengmit commented on #53671
This touches on an unfortunate TF design flaw: TF op's placement is statically determined by `tf.device` scopes at graph-construction time, instead of "following the inputs", thus we can't build either a "placement-polymorphic" graph or a graph whose subparts go to different devices depending on the inputs.

In your case, you can use custom layers, something like
[code]
But  I understand this is l

[2022-01-28 00:46] Xinchengzelin opened #54165 "Build did NOT complete successfully"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (

[2022-01-28 00:50] sachinprasadhs commented on #54086
Hi did you try the same in eager mode and is there any specific reason you are testing it by using `tf.disable_v2_behavior()`

[2022-01-28 00:53] #54165 closed

[2022-01-28 01:11] joelberkeley commented on #53845
sounds good, thanks. There are a few other things missing in the `Map` docs. Would be great if they were fixed too

[2022-01-28 01:19] RuofanKong commented on #54086
Hi @sachinprasadhs We use the v1-compatible one and don't use the eager mode, due to our product spec in the current phase.

[2022-01-28 01:26] #48196 closed

[2022-01-28 01:26] #40319 closed

[2022-01-28 01:26] #40431 closed

[2022-01-28 02:26] #41246 closed

[2022-01-28 03:57] tilakrayal commented on #54133
@mercksamir ,
Please take a look at this [link](https://www.tensorflow.org/lite/guide/build_ios) for the installation of TensorflowLite for iOS.It helps.Thanks!

[2022-01-28 04:19] hoangtnm commented on #53851
@sushreebarsa this issue was solved. thank you.
https://github.com/keras-team/keras/issues/15932

[2022-01-28 04:20] #53851 closed

[2022-01-28 05:29] mohantym commented on #54085
Hi @Raa23 ! I was getting a slow processing time but memory usage  was saturated at end of training . Attaching [gist ](https://colab.sandbox.google.com/gist/mohantym/fac4737d22825e038a35295f898ce084/github_54085.ipynb#scrollTo=VJyqD-tDYQAA) and screenshot for reference.
![image](https://user-images.githubusercontent.com/86464649/151492436-13ed810a-48ed-45f1-9759-d124de245a05.png)

[2022-01-28 05:36] LoveDH commented on #36465
This worked for me !
TF version 1.15.0--gpu in Colab

[2022-01-28 05:50] mohantym commented on #54163
Hi @molvcan !
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999) . Thanks!

[2022-01-28 06:07] tilakrayal commented on #54147
@zeynepgulhanuslu ,
In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.

[2022-01-28 06:22] mercksamir commented on #54133
@tilakrayal - Thanks but can you please confirm the latest version available for 'TensorFlow' lite POD for iOS? Not for ObjC and Swift POD.

[2022-01-28 06:39] zeynepgulhanuslu commented on #54147
Complete code is like below.
`
import numpy as np
import tensorflow as tf

print(tf.__version__)

class MyFeatExtractor(tf.Module):
    def __init__(self,
                 frame_length=512,  # in samples, assumes 25ms of 16khz audio
                 frame_shift=128):
        super().__init__()
        self.frame_length = frame_length
        self.frame_shift = frame_shift
        self.fft_length =

[2022-01-28 07:05] baothg commented on #41808
`go: finding module for package github.com/tensorflow/tensorflow/tensorflow/go
go: found github.com/tensorflow/tensorflow/tensorflow/go in github.com/tensorflow/tensorflow v2.7.0+incompatible
go: finding module for package github.com/tensorflow/tensorflow/tensorflow/go/core/framework/types_go_proto
go: finding module for package google.golang.org/protobuf/proto
go: finding module for package githu

[2022-01-28 07:16] galeone commented on #41808
There's no prebuild C library for arm64: https://www.tensorflow.org/install/lang_c

Hence not even [tfgo](https://github.com/galeone/tfgo) supports this

[2022-01-28 08:12] coreation commented on #52845
@DrChrisLevy I'm a novice when it comes to Docker, how did you add the dependency of the unofficial tensor flow to your docker build? Currently I have TF configured as below

[code]

[2022-01-28 09:25] tilakrayal commented on #54156
@i00lii ,
Every TensorFlow release is compatible with a certain version, for more information please take a look at the [tested build configurations](https://www.tensorflow.org/install/source#cpu_2).In this case, can you please try installing TensorFlow v2.6 with respective configurations and check if you are facing the same error. Thanks!

[2022-01-28 09:52] tilakrayal commented on #53816
@jvishnuvardhan ,
I was able to reproduce the issue in tf [v2.5](https://colab.research.google.com/gist/tilakrayal/f0607f8b519b7cd48e46fe9e958a2c41/53816_2-5.ipynb),[v2.7](https://colab.research.google.com/gist/tilakrayal/178449572d81bfd8f6a1949897832195/53816-2-7.ipynb) and [nightly](https://colab.research.google.com/gist/tilakrayal/d4edc7553898f01c0876a23bd72d4577/53816-nightly.ipynb).Please fin

[2022-01-28 09:59] #53871 closed

[2022-01-28 10:55] tilakrayal commented on #53837
@elad-c ,
I was able to execute the mentioned code in colab.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/5a47376c85dcde718d39da37c44c669e/untitled200.ipynb).Can you please provide the colab gist where you are facing issue.It helps to debug the issue.Thanks!

[2022-01-28 10:59] ando0689 commented on #45155
I have the same issue as well, I try to test a small chatbot model I have created and it would be perfect to be able to test it on Desktop,  especially now when Jetpac Compose can be used to create desktop applications, I think many Android developers will find it exciting to build small tools on desktop environment and having TFLite for such situations will be great!

[2022-01-28 11:06] deluksic opened #54171 "TensorArray.stack should accept axis as argument"
**Describe the feature and the current behavior/state.**

Currently there is:
[code]

If we want to have stacking along a different axis, we must manually transpose using:
[code]

NOTE: I could have directly written out the `perm` parameter, but what if you're writing a library where you want to be able to stack along user-defined axis?

**Will this change the current api? How?**

New definition c

[2022-01-28 11:19] tenta4 commented on #49306
Issue persists on v2.9.0

[2022-01-28 12:06] i00lii commented on #36771
@OneRaynyDay i got same problem now.

It seems "-fno-constant-cfstrings" is **clang**-specific option, not **GCC**. I'll try to build without this argument

[2022-01-28 12:26] #17009 closed

[2022-01-28 12:26] #18537 closed

[2022-01-28 12:34] tilakrayal commented on #54164
@prmudgal ,
While executing the given code i was facing different error.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/ed5f93dbeace20ae3f146ca8f3819dc1/untitled203.ipynb).In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.

[2022-01-28 14:21] bersbersbers commented on #39755
I did, see https://github.com/keras-team/keras/issues/15972.

[2022-01-28 14:21] bersbersbers commented on #42027
I re-posted this issue in https://github.com/keras-team/keras/issues/15972.

[2022-01-28 14:21] #42027 closed

[2022-01-28 15:17] elfringham commented on #54068
This seems to have been resolved, possibly by https://github.com/tensorflow/tensorflow/commit/1f5203498e6afdc88577ffb4bd1dfefe54fb855b#diff-10e7b23ad8d7400d5a23bc499fa11b06bbac4271975b009930a68a3c124fa1f7 but not completely sure about that.

[2022-01-28 15:17] #54068 closed

[2022-01-28 16:07] mohantym commented on #54155
Hi @sachinprasadhs ! Could you please look at this issue ? Attaching [gist](https://colab.sandbox.google.com/gist/mohantym/0b6470da4eb662ffeb93cf0d52cfbae3/test_mode.ipynb#scrollTo=Nbvrn_9uaCSY) for reference.

[2022-01-28 17:02] knkumar opened #54172 "Linking of rule '//tensorflow/python:_pywrap_tensorflow_internal.so' failed (Exit 1)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OSX Monterey 12.1 on M1 Chip
-

[2022-01-28 17:07] prmudgal commented on #54164
@tilakrayal
the error is because of missing model. You can find the trained model [here ](https://storage.googleapis.com/tensorflow_compression/metagraphs/hific-lo.metagraph)
Dataset - [Coco2014](https://cocodataset.org/#home)

Although the error is because of missing Custom op. Is it possible to add "UnboundedIndexRangeEncode" in custom op?

[2022-01-28 18:36] Mhbuur opened #54180 "ImportError: cannot import name 'Bidirectional' from 'tensorflow.python.keras.layers' (tf-nightly)"
I get the following build error on Win10, using tf-nightly 2.9.0.dev20220127 with Python 3.10.2, no GPU:

ImportError: cannot import name 'Bidirectional' from 'tensorflow.python.keras.layers' (C:\Python310\lib\site-packages\tensorflow\python\keras\layers\__init__.py)

I'm using VS Code and as such the import resolves just fine. I had to change the import line from
`tensorflow.keras.layers` to `ten

[2022-01-28 19:00] Raa23 commented on #54085
Hello, thank you for your feedback but I see in the screenshot that the RAM (system and GPU) is not saturated, though I don't understand the reference.
I have tested the gist and it has the same behavior as in my local machine: nothing is saturated and the process is slow.
Is there any reason why to expect RAM to be saturated as the dataset is not cached ?
Also, should I request assistance in the

[2022-01-28 19:44] Northerneye opened #54187 "AttributeError: 'float' object has no attribute 'dtype', When executing tfp.optimizer.differential_evolution_one_step"
This error is shown whenever tf.optimizer.differential_evolution_one_step is called.

This error is due to line 125 in the tensorflow optimizer file differential_evolution.py, which is,
crossover_prob=0.9

In this line, the variable crossover_prob is given as a float whereas it is required to be a tensorflow variable later in the file on line 652, which is,
dtype=crossover_prob.dtype.base_dtype,

[2022-01-28 20:15] drasmuss commented on #52988
For anyone looking for a one-liner solution, you can do
[code]
(with the environment you want to modify activated). This has a similar effect as @jesusdpa1's solution here https://github.com/tensorflow/tensorflow/issues/52988#issuecomment-984025384, it'll set `LD_LIBRARY_PATH` when the environment is activated and unset it when it's deactivated.

You still need to repeat that for every new conda e

[2022-01-28 21:38] gioxc88 commented on #45592
still nothing?

[2022-01-28 22:35] sachinprasadhs commented on #53587
Could you try the below and build again.
[code]

[2022-01-28 22:50] haozha111 commented on #53951
hi,

the `interpreter->GetOutputName(i)` API expects the index to between 0 and the outputs.size() - 1, it's not the tensor index. When you use `output` which returned from the `interpreter->outputs()`, this is the output tensor index in the graph, so it might be out of bound.

[2022-01-28 22:51] cyrusbehr commented on #53951
Makes sense, thank you!

[2022-01-28 22:51] #53951 closed

[2022-01-28 22:53] Young-Picasso commented on #43693
I'm getting a Document Not Found error when trying to train a gradient boosted machine. It says the URI does not point to a valid page. Any help?

[2022-01-28 23:12] deanh-sr commented on #53380
I've encountered what appears to be this exact issue on my own project.  I'm trying to use the hexagon delegate on a Samsung Galaxy Tab S7 (snapdragon 865) and when I load the delegate I encounter a runtime crash with the same exception and identical stack trace as reported in this issue above.  From my program:

[code]

I attempted to reproduce the issue using the tensorflow image classification

[2022-01-28 23:28] KieronQuinn commented on #53380
Absolutely, here you go, this is the example @karimnosseir sent to me. https://drive.google.com/file/d/1ZY6Ku9VE10Qt-eeLgAtk7aiGSzRbWGqw/view?usp=sharing

As I said above, I was unable to solve the issue on my project, and ended up scrapping Hexagon support. If you get yours working, please let me know how so I can see if the same works for me!

[2022-01-28 23:48] deanh-sr commented on #53380
Thank you @KieronQuinn !

[2022-01-28 23:54] karimnosseir commented on #53380
@deanh-sr Please let us know if you have any questions.
Thanks @KieronQuinn for sharing.
I am sorry the example wasn't enough to know what's the problem in your case.

Thanks

[2022-01-28 23:58] sachinprasadhs commented on #54122
Since it is similar to `Tensorflow version 2.6.1`, the docker Images for version `2.6.2` are not included in docker hub.
You can use the equivalent Images for `2.6.2` with `2.6.1`.

[2022-01-29 00:04] sachinprasadhs commented on #53858
The tutorial uses the simple average to normalize the data, the intention of the tutorial is to create a Time series forecasting using Tensorflow.
If you feel any of the description is irrelevant/inappropriate feel free to create a PR. Thanks!

[2022-01-29 00:26] #53227 closed

[2022-01-29 00:42] sachinprasadhs commented on #41763
All the flags which are allowed are currently listed in the source code [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/jit/flags.cc#L82-L142) along with the description. You can refer the same.
If you want the same to be included in the document let us know, will create a PR for the same. Thanks!

[2022-01-29 01:03] sachinprasadhs commented on #43810
Please find the gist [here](https://colab.research.google.com/gist/sachinprasadhs/f4a2ee991f57f67f240e881034d26870/github_54125.ipynb) with a working example of `tf.keras.metrics.MeanIoU` on colab TPU. Thanks!

[2022-01-29 01:11] duncanriach commented on #53846
@yanniskar, if you cannot confirm that this issue is not present in the latest version of TensorFlow, then we cannot either, because we don't not have access to the code you're running in order to run it on latest version ourselves. Another way to move this issue forward is for you to attempt to provide a self-contained reproducer, a simple piece of code that you can run and also share with us. Th

[2022-01-29 01:14] sachinprasadhs commented on #43425
This filed to moved under `tensorflow/tflite-micro` repo, below is the updated path for the file.
https://github.com/tensorflow/tflite-micro/blob/main/tensorflow/lite/micro/kernels/neg.cc

[2022-01-29 06:46] chsigg commented on #53476
Closing this one as duplicate of https://github.com/keras-team/keras/issues/15857.

[2022-01-29 06:46] #53476 closed

[2022-01-29 07:21] Ark-kun commented on #39167
Yes, it's still an issue in 2.7.0. I'm not sure this issue will fix itself without an explicit fix.

/reopen

[2022-01-29 07:27] mercksamir opened #54195 "TensorFlowLite CocoaPod v1.13.1 throwing error EXC_BAD_ACCESS on iOS"
** System Information

- iOS App built using React Native v0.61.2 (iOS v15.2)
- Installed TensorFlowLite POD v1.13.1
- Getting this error while inputing tensor model to interpreter

int32_t lengthInputTensor = tflInterpreter->input_tensor(0)->dims->data[1];

<img width="837" alt="Screenshot 2022-01-29 at 12 44 34 PM" src="https://user-images.githubusercontent.com/98508996/151651883-c0ad5965-ed1b-4

[2022-01-29 08:21] Cheril311 commented on #54187
Made a PR

[2022-01-29 09:48] sushreebarsa commented on #54180
@Mhbuur
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2022-01-29 10:10] sushreebarsa commented on #53865
@riteshahlawat
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thanks!

[2022-01-29 12:11] hori-ryota commented on #52210
@allenwang28 @sachinprasadhs Where can we get updates on this issue (TPU VM monitoring support) ?

[2022-01-29 12:20] mohantym commented on #54187
Hi @Northerneye ! Please post this issue in [Tensorflow probability](https://www.tensorflow.org/probability) repo too. Thank you!

[2022-01-29 12:29] mohantym commented on #13360
Hi @thjashin ! You can use[ tfp.stats.percentile](https://www.tensorflow.org/probability/api_docs/python/tfp/stats/percentile) to calculate the median of a distribution. Attaching relevant [thread](https://stackoverflow.com/a/47657076/11530462) for reference. Thank you!

[2022-01-29 12:44] mohantym commented on #15769
Hi @gameking157 ! Sorry for the late response.
It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more. You can migrate to 2.x version using this [document](https://www.tensorflow.org/guide/migrate/migrate_tf2) ? Thanks!

[2022-01-29 15:16] jsmeredith commented on #51393
Greetings!  Sure, let me take another look -- I wasn't entirely sure if I was awaiting GPU data .  (I also admit I'm making heavy use of other folks' expertise on this one, and alas some of those people are now on different teams over the holidays.)  The timing is good though, I'm just wrapping up one project so I have a little time to see what we can do here.

[2022-01-29 17:04] Mhbuur commented on #54180
@sushreebarsa better? At this point I am not really sure if this should be reported as a bug or a build/install issue or  general support. Enlighten me please :-)

[2022-01-29 17:23] Cheril311 commented on #54187
@mohantym have already submitted a PR for the same should I update it or something as you assigned a label afterwards

[2022-01-29 17:50] unrealwill opened #54197 "Extra GPU-CPU memory transfer when broadcasting operations between integer tensors"
Hello,

<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stoc

[2022-01-29 18:32] izainpasha opened #54198 "NameError: Exception encountered when calling layer "lambda_1" (type Lambda)."
`if __name__ == "__main__":
    (x_train, y_train, groups_train), (x_test, y_test, groups_test) = load_data()

    model = load_model(os.path.join("/content/drive/MyDrive/models", "model.h5"))
    model.summary()

    print("training:")
    y_true, y_pred = y_train, np.argmax(model.predict(x_train, batch_size=1024, verbose=1), axis=-1)

    C = confusion_matrix(y_true, y_pred, labels=(1, 0))
    T

[2022-01-29 19:06] nikonyrh commented on #46975
I struggled with this as well, having just purchased a 3070 TI. I had to symlink the libcusolver.so as well, but it didn't resolve all of my issues. I got everything working with these additional steps:
- Upgrade Tensorflow 2.4 -> 2.5
- Upgrade CUDA 11.1 -> 11.2 ([link](https://developer.nvidia.com/cuda-11.2.2-download-archive?target_os=Linux&target_arch=x86_64&target_distro=Ubuntu&target_version=

[2022-01-29 20:18] i00lii commented on #54156
@tilakrayal thanks for your response.
I'll try to update llvm/clang up to required version (Clang from xcode 10.11) and then continue with tensorflow itself.

[2022-01-29 22:16] i00lii commented on #54156
Also, here is minimal repo of compilation error.

[code]

This code compiles correctly on my modern macbook with `clang++ -Wall -std=c++11 main.cc -o main -I.../eigen/3.4.0_1/include/eigen3` command

but compilation failed on old mac with
[code]

[2022-01-29 23:38] unrealwill commented on #54197
Additional related bug :
When I try to multiply integer tensor of the same shape on the GPU (or by an integer scalar), they also get moved to the CPU.

I looked at the code and it seems the culprit is here :
https://github.com/tensorflow/tensorflow/blob/fd16fa9fc6741bc7bb7fcc9dd70c1e527834c133/tensorflow/core/kernels/cwise_op_mul_1.cc#L39-L48

Can you also fix it please ?

Thanks

[2022-01-30 00:29] DrChrisLevy commented on #52845
@coreation

So update since I last wrote. Last time above I said I got it working using emulation (so running on x86). This is not ideal because it's slow. It's much faster if you can get it running on aarch64.  It all depends on what other libraries
you are installing and what your base docker image looks like.

What docker image are you using?
When you type `uname -m` within the docker container

[2022-01-30 00:50] mihaimaruseac commented on #53583
There are several confusions here.

1. `tensorflow_macos` is intended to work for Apple M1 devices and only those. That is, only for ARM architectures, not x86.
2. `tensorflow_macos` is not released by Google, it is a community build done by people at Apple
3. `tensorflow` is the wheel to use for x86.

[2022-01-30 00:50] #53583 closed

[2022-01-30 00:54] #53850 closed

[2022-01-30 01:31] markub3327 commented on #32809
@srihari-humbarwadi

I tried your method, but I get:

And without `input_signature=[tf.TensorSpec(shape=(1, 300, 6))]`:

I'm using the custom model that contains only `tf.keras` predefined layers:
* Add,
* Dense,
* Dropout,
* MultiHeadAttention,
* LayerNormalization,
* Normalization,...

[2022-01-30 01:50] thariq-nugrohotomo commented on #41413
Hi @MarkDaoust @HaraBeron ,

Seems like the fixes are lost after being replaced by this commit https://github.com/tensorflow/docs/commit/adae1941b3a1b3c0b781b94d96f4476892a44620

Could you please reopen this issue?

Also, rather than only fixing the documentation, I would consider to add a new `from_logits` argument for `BinaryAccuracy`, and set the default `threshold` to `None` (for automatically

[2022-01-30 02:28] brsolomon-deloitte commented on #53462
not stale

[2022-01-30 04:32] sazzad15-1779 opened #54206 "Is there any way to decrease tensorflow lite invoke time on windows 10 ?"
**System information**
- windows 10, x64
- TensorFlow version: 2.7.0
- Python version: 3.9.5
- Bazel version : 3.7.2
- GCC/Compiler version : 11.2.0
- xnnpack : enable

I run a custom CNN tflite model on tensorflow lite using c++ where  i got invoke time 2.5 second and same tensorflow model version i run on python where i got 1.19 second . As i know c++ is more faster than python then what is the

[2022-01-30 08:33] edwardyehuang commented on #43810
lol, I totally forgot this issue, since I solved this issue immediately (by motified some TensorFlow codes) after I reported it.

Close this isuss, and thx for your reply :)  @sachinprasadhs

[2022-01-30 08:33] #43810 closed

[2022-01-30 08:34] Cheril311 commented on #54198
@izainpasha can you please elaborate your issue?

[2022-01-30 08:46] Cheril311 commented on #54116
Can look into this

[2022-01-30 08:53] tomthumb99 opened #54207 "No details on the CPU chip AVX requirement, pls give details up front. Not all folks have ivory tower HW."
Your documentation tells of the Nvidia GPU/CUDA requirement but not the CPU chip AVX requirement.   I have spent three days swapping video cards, now to find my dual Xeon(R) CPU  X5450 Dell cannot run your 2.0 version.  There should be a clear grid/listing of requirements and a lookup function.  It will take me a week and $ to build out of stored Dell t5600 with the Sandbridge CPUs.  Why are there

[2022-01-30 10:19] Cheril311 commented on #54116
@ArrowIntoTheSky like the documentation says I believe delta should be in the range (-1,1) when your pixel ranges are in between 0 and 1 however if there are some exceptional irregular images, the delta value can exceed the range given, thus the validation is not implented

[2022-01-30 10:20] Cheril311 commented on #54116
That being said I guess we can add a validation based on pixel ranges and then adjust the delta values, I am working on it and will submit a pr

[2022-01-30 10:53] jpiedrafita opened #54208 "partially initialized module 'tensorflow' has no attribute 'Tensor' (most likely due to a circular import)"
**System information**
- Running code from: https://github.com/jpiedrafita/ai_number_read/blob/main/numbers.py
❯pyhton3 numbers.py

- OS Platform and Distribution: OSX 10.15.7

- TensorFlow installed from: pip install tensorflow
As described in other "has no attribute" issues I tried other tf versions using
pip install tensorflow==x.x.x --ignore-installed

- TensorFlow version (use command below):

[2022-01-30 11:52] satpalsr commented on #48544
Hey, I am facing a similar error while using tf2onnx for conversion. I am using [DeepLabv3+ model](https://keras.io/examples/vision/deeplabv3_plus/).

1. I convert TF model to TFlite using
[code]
This produces this warning message `WARNING:absl:Buffer deduplication procedure will be skipped when flatbuffer library is not properly loaded
8433276`

2. I converted  Tflite to onnx using tf2onnx.
`
!py

[2022-01-30 12:59] alexeichhorn commented on #53583
Thanks @mihaimaruseac for resolving my confusion. Sorry about that. So then I will ask Apple about `tensorflow-metal` for Python 3.9.

[2022-01-30 14:19] faizan1234567 opened #54211 "Tensorboard: This site can’t be reached localhost refused to connect."
Hey everyone! I am training my model, when I use !tensorborad logdir=runs, it shows a link( http://localhost:6006/). When I click on this link it shows this site cant be reached. I don't what's wrong? I tried some solutions suggested at this site. But nothing worked for me.

[2022-01-30 14:20] faizan1234567 commented on #54211
I am using pytorch for training. And i am training it on google colab.

[2022-01-30 14:26] #53774 closed

[2022-01-30 15:20] unrealwill commented on #54211
Hello,

You probably need to open a ssh tunnel to route the 6006 port of the remote server to your localhost 6006 port :
https://stackoverflow.com/questions/37987839/how-can-i-run-tensorboard-on-a-remote-server

Alternatively there also exist a --bind_all option to tensorboard when the machine you are running is not the machine you use to consult, (but you will need to do some port forwarding, and

[2022-01-30 15:22] coreation commented on #52845
Hi @DrChrisLevy Thank you so much for your elaborate reply, I'll try as good as I can to provide answers so that I can hopefully get the docker containers running again.

I believe the base image starts from "continuumio/miniconda3" and then adds dependencies to build the images that we're using. The result of the uname -m is ```x86_64 ```.

I then built our images using the aarch64 tensorflow whe

[2022-01-30 15:25] dwyatte commented on #52845
Echoing some of the sentiment here. The slowdown in non-AVX TensorFlow wheels is likely mainly due to emulation (compared to anything inherent to TensorFlow itself) so it would be great to have official aarch64 wheels on PyPI that can use platform detection to `pip install tensorflow` without having to specify a community webpage. This would also support the workflows being discussed here (running

[2022-01-30 16:26] AmadeusloveIris opened #54214 "Gradient for tf.sparse.reduce_max"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**Describe the feature and the current behavior/state.**
tf.sparse.reduce_max do not define grad. So it cannot be used

[2022-01-30 17:35] Annieliaquat opened #54215 "Tensorflow Object detection AI"
0

I am using Tensorflow model zoo object detection. SSD MobileNet V2 FPNLite 320x320 is the model I am using to train my model. Everything goes well my model starts training but I receive some weird msgs. I don't why this msg is showing up.

I think half of my model is training on GPU and then it is switching to CPU but I am not sure.

Here are the msgs that are showing up.

2022-01-30 19:30:21.2

[2022-01-30 18:26] Yashashree304 commented on #54117
There's a minor error in the source code. I am trying to fix it and created a new pr for the same.

[2022-01-30 20:38] saylideshmukh commented on #53911
Hello @mohantym I have a built a custom layer and trained it by just passing the outputs of the previous layer to the custom layer and then recording these output values so that i can observe them . i use a dictionary for observing. I observed that most of the values in the channel dimension of output values are similar. So in my custom layer build i encode a dictionary (vmap)that have these enume

[2022-01-30 23:42] janeusz2000 commented on #40309
same here... I try to parse file_path to get the label value from the map, which is a float value and because of that I am unable to do so

[2022-01-30 23:58] mihaimaruseac commented on #47137
I think this should be fixed now as we bumped this dep several times.

[2022-01-30 23:58] #47137 closed

[2022-01-31 00:57] camda03 opened #54218 "OpenMPI issue causes import tensorflow to hang intermittently?"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2022-01-31 02:49] tilakrayal commented on #54172
@knkumar ,
We see that you are using tf version 1.5, 1.x is not actively supported, please update to latest stable v2.7 and let us know if you are facing same issue.Also Please refer to similar issues #44751,#47782 and for installation please take a look at this [link](https://github.com/apple/tensorflow_macos). It helps.

[2022-01-31 03:53] Wansh619 commented on #22926
Is this  issue still open?
And if anyone is not working on it pleaee assign it to me

[2022-01-31 04:21] tilakrayal commented on #54147
@zeynepgulhanuslu ,
I was able to execute the mentioned code without any error.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/334e1187362654deec81d8f49cf1c8f0/untitled202.ipynb).Please confirm or provide the error log which you are facing the issue.

[2022-01-31 04:36] fushwLZU opened #54219 "clang: error: no such file or directory: '/d2ReducedOptimizeHugeFunctions'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  windows11
- Bazel version (if

[2022-01-31 04:47] tilakrayal commented on #54195
@mercksamir ,
In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.Also please try with latest stable v2.7 and let us know if you are facing same issue.Thanks!

[2022-01-31 04:59] tilakrayal commented on #54206
@sazzad15-1779 ,
This question is better asked on [TensorFlow Forum](https://discuss.tensorflow.org/) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2022-01-31 05:02] tilakrayal commented on #54211
@faizan1234567 ,
Please take a look at this link [1](https://github.com/tensorflow/tensorboard/issues/2481) and [2](https://stackoverflow.com/questions/40106949/unable-to-open-tensorboard-in-browser) with the similar error.It helps.Thanks!

[2022-01-31 06:04] sushreebarsa commented on #54180
@Mhbuur Could you please try with the latest TF v2.7.0 and refer to [build from source](https://www.tensorflow.org/install/source_windows) , [tested build configurations](https://www.tensorflow.org/install/source_windows#tested_build_configurations) ? Please find the colab [gist](https://colab.research.google.com/gist/sushreebarsa/e59f95fa9601131fbe9eed33ff2811bd/untitled551.ipynb#scrollTo=F-A5eL_

[2022-01-31 06:06] sushreebarsa commented on #54219
@fushwLZU
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2022-01-31 06:11] sushreebarsa commented on #54197
@unrealwill
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thanks!

[2022-01-31 06:14] sushreebarsa commented on #54207
@tomthumb99
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2022-01-31 06:26] #53761 closed

[2022-01-31 06:49] zeynepgulhanuslu commented on #54147
Thank you for your reply. The error like below:
[code]

[2022-01-31 06:57] zeynepgulhanuslu commented on #54147
Hi,

[2022-01-31 06:57] #54147 closed

[2022-01-31 07:34] Mhbuur commented on #54180
@sushreebarsa Python 3.10 is not supported in TF 2.7.0, which is why I'm trying out 2.9 / tf-nightly

[2022-01-31 07:47] i00lii commented on #54156
It's me again.

The build process started after I updated llvm and clang up to latest version

[2022-01-31 07:47] #54156 closed

[2022-01-31 08:00] sushreebarsa commented on #54180
@Mhbuur Please see the discussion on [TF Forum ](https://discuss.tensorflow.org/t/support-python-3-10/124?u=mihaimaruseac).Thanks!

[2022-01-31 08:09] Mhbuur commented on #54180
@sushreebarsa thanks. I am aware of that discussion - it got me started on tf-nightly ;-) Should I report there instead?

[2022-01-31 09:16] #53778 closed

[2022-01-31 09:16] #53728 closed

[2022-01-31 09:46] unrealwill commented on #54197
@sushreebarsa Here is the cross-post : https://github.com/keras-team/keras/issues/15986

Imho, this issue is not a Keras one but a tensorflow one, as it has nothing to do with the CustomLayer, but everything to do with the low level op like additions and multiplications not properly registered and defined for the GPU.

Thanks

[2022-01-31 10:16] #53756 closed

[2022-01-31 10:31] alonfnt opened #54221 "Allow to change thread timeout in collective_ops with an ENV variable"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.6.2
- Are you willing to contribute it (Yes/No): Yes

**

[2022-01-31 10:40] sushreebarsa commented on #54180
@Mhbuur I tried to replicate the issue on colab using tf-nightly(2.9.0.dev20220131) but didn't face the `ImportError` as reported.Please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/e59f95fa9601131fbe9eed33ff2811bd/untitled551.ipynb#scrollTo=6jNR5acnpAjJ) and confirm the same ?
 `tensorflow.python` libraries are used for internal developing purpose so it is not recommen

[2022-01-31 10:51] tilakrayal commented on #54164
@prmudgal ,
The code provided is fairly complex hence it would be difficult for us to pinpoint the issue. Could you please get the example down to the simplest possible repro? That will allow us to determine the source of the issue easily. Thanks!

[2022-01-31 11:16] #53786 closed

[2022-01-31 11:52] Tessil commented on #53763
@mohantym Would it be possible to re-open the issue? Thanks!

[2022-01-31 11:59] Hjiwnain opened #54222 "Node 'training/Adam/gradients/gradients/batch_normalization_8/cond_grad/StatelessIf': Connecting to invalid output 3 of source node batch_normalization_8/cond which has 3 outputs. Try using tf.compat.v1.experimental.output_all_intermediates(True)."
<em>Please make sure that this is an issue related to keras.
tag:keras_template</em>

**Important Notice**

Please note that `tf.keras` code was moved entirely to
[keras-team/keras](https://github.com/keras-team/keras) repository

You can open any code/doc bugs, performance issues, and feature requests
 in [keras-team/keras](https://github.com/keras-team/keras/issues) repository

`tf.keras` relate

[2022-01-31 12:02] tilakrayal commented on #54218
@camda03 ,
In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.

[2022-01-31 13:16] #53723 closed

[2022-01-31 13:49] camda03 commented on #54218
[tf_strace_fail.txt](https://github.com/tensorflow/tensorflow/files/7971039/tf_strace_fail.txt)
[tf_strace_success.txt](https://github.com/tensorflow/tensorflow/files/7971043/tf_strace_success.txt)

All it takes is the strace command that I've provided.

strace -ttt python -c 'import tensorflow as tf; print(tf.version)' | tee -a strace-python.txt

I've seen cases in which I reboot the machine, run

[2022-01-31 13:53] camda03 commented on #54218
Here is ompi_info FYI.

Thanks!

ompi_info
                 Package: Debian OpenMPI
                Open MPI: 4.0.3
  Open MPI repo revision: v4.0.3
   Open MPI release date: Mar 03, 2020
                Open RTE: 4.0.3
  Open RTE repo revision: v4.0.3
   Open RTE release date: Mar 03, 2020
                    OPAL: 4.0.3
      OPAL repo revision: v4.0.3
       OPAL release date: Mar 03, 2020

[2022-01-31 14:10] sushreebarsa commented on #54001
@jvishnuvardhan  Was able to reproduce this issue on colab using TF v2.7.0 and tf-nightly(2.9.0-dev20220130) ,please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/31415cc59d2dc304629d02f5fa46d5dd/54001.ipynb#scrollTo=L__q4B26ZeRO) for reference.
Thanks!

[2022-01-31 14:52] deepNeuralNick opened #54224 "Issue with load_model and custom_object_scope"
So as it seems like there is an issue with load_model for tensorflow 2.7.0,
This was not happening for me on tensorflow 2.4.1 and everything was running smoothly.

Let's get to the topic.

When i try to load my model instance i am getting an error the first time i try to load it i'll highlight my code here.
[code]
it is also noted that the instance that i am using for saving is obviously a tf.kera

[2022-01-31 15:06] tilakrayal commented on #54198
Looks like the error is due to providing wrong naming conventions.Thanks!

[2022-01-31 15:14] tilakrayal commented on #54208
@jpiedrafita ,
Can you please confirm whether you have installed tensorflow from this [link](https://www.tensorflow.org/install).If not please try to follow the doc and let us know if you are facing same issue.Thanks!

[2022-01-31 15:17] tilakrayal commented on #54215
@Annieliaquat ,
We see that the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced] or if possible share a colab gist with the issue reported.

[2022-01-31 15:59] dniku commented on #48429
In PyCharm, one can trigger a breakpoint in a function called by `Dataset.map()` by adding the following line within that function:

[code]

Also note that you will **not** need to install `pydevd` separately, as it is bundled with PyCharm. Simply add that line and run debugging.

(found in [this](https://stackoverflow.com/a/59346218/1214547) StackOverflow answer)

[2022-01-31 16:41] sushreebarsa commented on #54224
@deepNeuralNick
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2022-01-31 18:09] #51565 closed

[2022-01-31 18:12] izainpasha commented on #54198
import pickle

import numpy as np
import os
from keras.models import load_model
from scipy.interpolate import splev, splrep
from sklearn.metrics import confusion_matrix

base_dir = "dataset"

ir = 3
before = 2
after = 2

# normalize
scaler = lambda arr: (arr - np.min(arr)) / (np.max(arr) - np.min(arr))

def load_data():
    tm = np.arange(0, (before + 1 + after) * 60, step=1 / float(ir))

    with

[2022-01-31 18:13] izainpasha commented on #54198
Can you please check where the issue is? Cause I've rewrite it several times and can't find where the naming issue

[2022-01-31 18:13] elfringham opened #54225 "build_pip_package is broken"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): RHEL 8.5
- Mobile device (e.g.

[2022-01-31 18:14] elfringham commented on #54225
@cfRod @nSircombe

[2022-01-31 18:14] izainpasha commented on #54198
I'm trying to load my model but it is showing nameerror of K that haven't been used in the whole code

[2022-01-31 18:59] rsandler00 commented on #37793
@ArtyomZemlyak works with TF1, but is there a solution for TF2? This seems like a common enough use case...

[2022-01-31 21:40] bhack commented on #28601
Just to notify that the related RFC was just claimed closed/implemented:

https://github.com/keras-team/keras-cv/blob/master/setup.py#L29

[2022-01-31 21:50] qlzh727 commented on #28601
@bhack, do u still have a list of the function/private API that are used by addon? I can revisit them and see if we will rewrite or expose test related __intenral__ APIs.

[2022-01-31 22:04] bhack commented on #28601
From a quick check on the TFA checkout `grep -R  "from tensorflow.python.keras" --include=*.py`:
[code]

[2022-01-31 22:08] bhack commented on #28601
Also a little bit unrelated but we had to replicate code for:
https://github.com/tensorflow/tensorflow/pull/45742

But I don't know if it will be still a problem in the next months if you want to migrate this ops in keras cv.

[2022-01-31 23:23] jvishnuvardhan commented on #32234
@mayerjTNG As the closed issue was an old issue, Please open a new issue with the above standalone code to reproduce the issue. Thanks!

[2022-01-31 23:30] deanh-sr commented on #53380
I'm currently using the fixed version of the image classification example provided by @KieronQuinn above, and it doesn't appear to actually work correctly for me.  On the app GUI I am able to select the HEXAGON device, and it appears to continue classifying.  However, if I inspect the run logs I find the following:
[code]
It looks like loading the hexagon delegate failed, but classification contin

[2022-01-31 23:35] jvishnuvardhan commented on #44448
@raisularefin Please open a new issue with a simple standalone code to reproduce the issue. Thanks!

[2022-02-01 00:09] prmudgal commented on #54164
Code is updated. Please see the it in original comment. Download the model from [here ](https://storage.googleapis.com/tensorflow_compression/metagraphs/hific-lo.metagraph).

[2022-02-01 00:13] sachinprasadhs commented on #45231
@statneoproteek , you can solve the issue by following the steps as suggested in the error. `RuntimeError: Unable to restore a layer of class TextVectorization. Layers of class TextVectorization require that the class be provided to the model loading code, either by registering the class using @keras.utils.register_keras_serializable on the class def and including that file in your program, or by

[2022-02-01 00:32] jvishnuvardhan commented on #42320
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2022-02-01 01:42] faizan-m commented on #53494
Thank you for bringing this to our attention and sorry about the inconvenience! The bug has been fixed at the head so you can use the nightly version or wait for the next release!

[2022-02-01 01:42] #53494 closed

[2022-02-01 02:25] deanh-sr commented on #53380
Thanks for the speedy reply @karimnosseir !

Ok, good to know.  I checked the device file system, and the library does exist under /system/vendor/lib.  So I'm not sure why it isn't found correctly, I'll have to figure that out.

The device is a Samsung Galaxy Tab S7, which has a Qualcomm 865+ (Hexagon 698).  It is not explicitly listed as a supported device, however I believed it would be supporte

[2022-02-01 02:36] karimnosseir commented on #53380
Can you run these commands with the device plugged in

[code]

[2022-02-01 02:41] qlzh727 commented on #28601
Trying to address one of the import in https://github.com/tensorflow/addons/pull/2655.

For KerasTensor type check, I don't think we are going to expose is it as any public API soon(although it is a return value from a public API), I will need to check with API owner @fchollet for this. I don't think it will be too bad if we remove that in the tensorlike list.

Similar for layer_test, since it is

[2022-02-01 04:28] mohantym commented on #53763
Ok @Tessil ! Re-opening as it is still replicating in [2.9](https://colab.sandbox.google.com/drive/1bl87zJXGeWRShJVqTMx-zk7AVy7m8R66?resourcekey=0-qP8tlN_1-i1fbmuYZaMfyg#scrollTo=Gm5V3_HCiAQD) . Thank you!

[2022-02-01 04:38] #54206 closed

[2022-02-01 04:38] mohantym commented on #54187
Hi @Cheril311 !  It is fine in pull request side.  Thank you!

[2022-02-01 04:54] jvishnuvardhan commented on #39755
@bersbersbers Can we close it here and follow the progress in https://github.com/keras-team/keras/issues/15972? Thanks!

[2022-02-01 05:16] #53733 closed

[2022-02-01 05:20] Nafees-060 commented on #48561
I also got the same warning:
[code]
Any solution?

[2022-02-01 05:41] jvishnuvardhan commented on #44739
@spopovru Looks like this was resolved by your PR. Can we close this issue? Thanks!

Error with `TF2.5`

`OSError: SavedModel file does not exist at: C:\IncorrectPathToSavedModel/{saved_model.pbtxt|saved_model.pb}`

Error with `tf-nightly`

`OSError: No file or directory found at C:\IncorrectPathToSavedModel`

[2022-02-01 05:56] mrtpk123 commented on #53370
Hello @ThanasisGiak,
I'm also trying to learn to implement quantized convolution. I have been trying to find a resource (a blog, a book, or anything) on this matter and stumbled on this issue. Can you please share the resources that you have found helpful? Any guidance on this is deeply appreciated.
Thank you.

[2022-02-01 05:59] 165749 commented on #49247
Hi @karimnosseir, I want to follow up the question of applying custom libhexagon_nn_skel.so in hexagon delegate.

I’m currently running TFLite Model Benchmark Tool with hexagon delegate on my rooted Pixel 4 (Android 12, SELinux in permissive mode and disabled secure boot). I have successfully set up the hexagon delegate with libhexagon_nn_skel.so and libhexagon_nn_skel.so both provided by TFLite:

[2022-02-01 06:17] statneoproteek commented on #45231
Deserialization of the TextVectorization layer shouldn't  be dependent on the class to be present in the model loading code.  It definitely does not facilitate sharing models in a clean way.
Please correct me if I am wrong: Wouldn't passing the class in a keras.utils.CustomObjectScope would also need the class to be present in the model loading code?

TL;DR: I think since the layer does not serial

[2022-02-01 07:06] Mhbuur commented on #54180
@sushreebarsa how do you get hold of tf-nightly version 2.9.0.dev20220131?
When update or install using --no-cache param (after uninstalling) I keep getting tf_nightly 2.9.0.dev20220129
![image](https://user-images.githubusercontent.com/419020/151825547-d5a2e1e8-b350-4b0b-bef6-eed721015c57.png)

Regarding the import path: the only way I could get VS Code to resolve the import was to use the `tenso

[2022-02-01 07:13] tilakrayal commented on #54222
@Hjiwnain ,
In order to expedite the trouble-shooting process, could you please provide a minimal code snippet and the TensorFlow version you are using.

[2022-02-01 07:14] tilakrayal commented on #54222
Also please take a look at this [link](https://www.tensorflow.org/api_docs/python/tf/compat/v1/experimental/output_all_intermediates) for the information regarding tf.compat.v1.experimental.output_all_intermediates.It helps.Thanks!

[2022-02-01 08:16] Ark-kun commented on #54207
AFAIK, that was broken before (the build was failing when AVX was disabled in the build configuration). Not sure whether it was fixed.

[2022-02-01 09:16] #53791 closed

[2022-02-01 09:37] abdulbasitds commented on #41448
Has anyone got solution to this issue?

[2022-02-01 10:44] Andreas5739738 commented on #6541
Looks like Jax team found the same issue with XLA FFT slowness, and integrated PocketFFT as a workaround: https://github.com/google/jax/issues/2952
Would be great if the pocketfft OP could also be integrated into XLA itself, so that both TF and PocketFFT benefit from the speedup.

[2022-02-01 11:05] i00lii commented on #54156
Here is the result package

TF 2.6.2 macos 10.13 CPU-only no AVX
https://drive.google.com/file/d/1Wndu6YEJIc7N__dERUaGjNm6wri6YhVs/view?usp=sharing

[2022-02-01 12:12] ThanasisGiak commented on #53370
Hello @mrtpk123 ,
Firstly, a good paper to understand the basic operations behind quantized Tensorflow layer's operations is [Quantization and Training of Neural Networks for Efficient Integer-Arithmetic-Only Inference](https://arxiv.org/pdf/1712.05877.pdf).
After that for the implementation, you have to study in detail Tensorflow's [repo](https://github.com/tensorflow/tensorflow/tree/master/tenso

[2022-02-01 12:15] sushreebarsa commented on #54214
@AmadeusloveIris
Can you please elaborate about your feature and please specify the Use Cases for this feature. Thanks!

[2022-02-01 12:16] xsacha commented on #53278
Thanks for reopening this.
I tested yet another model that exhibits this same issue.

I have the Netron graph for before (Keras) and after (Tensorflow Lite int8):
![image](https://user-images.githubusercontent.com/61218/151966818-f8a72458-7c12-4c33-9e78-7864dd15c305.png)

I'm seriously confused how everyone else has this working because I'm yet to find a working model.

[2022-02-01 12:35] dniku opened #54232 "tf.data.Dataset.from_generator() does not work with tf.data.experimental.enable_debug_mode()"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow version (use command below): `v2.7.0-0-gc256c071bb2 2.7.0`
- Python version: 3.7.12

**Describe the current behavior**

`tf.data.Dataset.from_generator()` does not work when `tf.data.experimental.e

[2022-02-01 12:44] mohantym commented on #54085
@Raa23 !
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues) or TF forum.
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999) . Thanks!

[2022-02-01 13:10] asfainqa opened #54233 "I got an error on trainingstart = model.fit(x=x_train, y=y_train, epochs=10, batch_size=64)"
I don,t know what type of error i'm facing right now, need help ASAP

Epoch 1/10
---------------------------------------------------------------------------
InvalidArgumentError                      Traceback (most recent call last)
C:\Users\Public\Documents\Wondershare\CreatorTemp/ipykernel_976/3417244454.py in <module>
----> 1 trainingstart = model.fit(x=x_train, y=y_train, epochs=10, batch_size

[2022-02-01 13:12] sushreebarsa commented on #54233
@asfainqa
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2022-02-01 13:12] gozi1123 commented on #50575
also, this warning appears for me as well. TF 2.6

[2022-02-01 13:28] asfainqa commented on #54233
i used jupyter notebook for fruits recognition project
![image](https://user-images.githubusercontent.com/98821328/151976506-8af72e1a-a33e-4b6c-8069-724e6e9900b8.png)
![image](https://user-images.githubusercontent.com/98821328/151976593-76736491-5799-484e-b864-05aba40614ac.png)
![image](https://user-images.githubusercontent.com/98821328/151976646-8bda592b-4286-4992-bac0-402700d6d6f0.png)
![image](

[2022-02-01 13:45] Mhbuur commented on #54180
@sushreebarsa ok, there is some progress - after updating I can actually run the script (without the tensorflow.python path) - it still doesn't resolve in the IDE, but the script now runs without the bidirectional error. So either the update/reinstall fixed it or the import path change, I can't tell for sure.

The VS Code import path resolve issue is discussed many other places, so I'll close this

[2022-02-01 14:35] asorie commented on #27380
Are there any updates in this regard? Especially a sparse solver (like linalg.solve) would be great.

[2022-02-01 16:02] dankal444 opened #54234 "How to debug custom loss function?"
I know about 2 things needed to debug tensorflow in eager mode:
- add `run_eagerly=True` when compiling model
- add `tf.config.run_functions_eagerly(True)` line

Neither is working when it comes to debugging custom loss function. I used [simple MNIST example](https://www.tensorflow.org/datasets/keras_example) to recreate the issue:

[code]

[2022-02-01 16:57] elfringham commented on #54225
I just confirmed this issue with bazel 4.2.2 as well.

[2022-02-01 17:04] rikardn opened #54235 "Cannot build tflite wheels for Windows"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows (github actions)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): cloned from github
- TensorFlow version: from github
- Python version: 3.8
- Installed using virtualenv? pip? conda?:
- Bazel version (if compilin

[2022-02-01 17:06] sachinprasadhs commented on #54154
The Tensorflow releases made on `PyPI` is maintained by Tensorflow but the Tensorflow releases made on `conda-forge` is a community build releases.
Usually these community builds are done by `TensorFlow Special Interest Groups (SIGs)` and these [community builds ](https://github.com/tensorflow/build#community-supported-tensorflow-builds)are not supported by Tensorflow.

You can see the overview an

[2022-02-01 17:13] #54154 closed

[2022-02-01 17:16] #53802 closed

[2022-02-01 17:25] sachinprasadhs commented on #53462
As mentioned here https://github.com/tensorflow/tensorflow/issues/54154, conda-forge is a community build and these are not supported by Tensorflow.
For any issue specific to `conda-forge` for tensorflow you can refer to https://github.com/conda-forge/tensorflow-feedstock and regarding issues on mamba you can refer `mamba-org/mamba` repository, I can already see your related issues filed on the sa

[2022-02-01 17:26] #53462 closed

[2022-02-01 17:28] elfringham commented on #54225
OK, works with bazel 5.0.0, sorry for the noise.

[2022-02-01 17:28] #54225 closed

[2022-02-01 17:41] Edgarchuk commented on #44609
Is there any progress?

[2022-02-01 17:45] deanh-sr commented on #53380
[code]
I checked the full output of `cat /proc/cpuinfo` and there wasn't anything on the next line.

[2022-02-01 18:16] jvishnuvardhan commented on #48171
@specke Is this still an issue for you? Can you please check with recent TF versions and let us know whether it was resolved for you.

If you are still facing the issue, it is better to uninstall all cuda related files, restart, and reinstall cuda libraries. Another option is to install conda package and then install related cuda tools. Thanks!

[2022-02-01 18:17] surak opened #54237 "Github still lists 2.6.2 as the release, but pip installs 2.7.0"
What is the current version in such a case?

[2022-02-01 23:11] fergushenderson commented on #54235
Looks like recently-introduced breakage due to a recent change to the flatbuffers library:

https://github.com/google/flatbuffers/commit/a42e898979cc828a35aefcc469fec896175fa8e6#diff-b141302ec1fbb79cf5dcc83cc8a211f34556c807361e58b18f3dc2b2f33faf06

That change modified the declaration of flatbuffers::Table::VerifyField to take an extra argument.

So one possible work-around is to use an earlier ve

[2022-02-01 23:21] fergushenderson commented on #54235
Ah, this is a mismatch between the file
`tensorflow/lite/schema/schema_generated.h`
and the new version of the flatbuffers library.
That file is automatically generated by the flatbuffers tool, and I guess it may be using internal details in the flatbuffer headers that might not be
So another, better work-around would be to regenerate that file, which I think you can probably do using a command so

[2022-02-01 23:46] heeh commented on #48014
@flamxi I believe this issue has been fixed in r2.6 by using `workspace_root`.
Here is the patch.
https://github.com/heeh/tensorflow/commit/bbdafc9f7e2a2564d8412dd1df7c1f0e5c3c0c05

[2022-02-02 00:31] prmudgal opened #54239 "tensorflow.python.keras.api._v1.keras.layers' has no attribute 'experimental'"
**System information**
- Linux Ubuntu 16.04
- TensorFlow version: 1.15.5
- Python version: 3.7
- Installed using virtualenv

**Describe the problem**

Command

import tensorflow_model_optimization

Error that I get
File "test.py", line 2, in <module>
    import tensorflow_model_optimization
  File "/home/marlin/.local/lib/python3.7/site-packages/tensorflow_model_optimization/__init__.py", line 86,

[2022-02-02 00:42] prmudgal commented on #54164
I updated the code in colab, please see the gist [here](https://colab.research.google.com/gist/prmudgal/a8080494c3e554da70e55abc1acdc5e3/untitled203.ipynb)

[2022-02-02 02:21] #53345 closed

[2022-02-02 04:38] mohantym commented on #54234
Hi @dankal444 ! 2.x versions run eagerly by default and loss function has to be a differential one.  Above code was working after replacing custom loss with this code snippet. You can know more about  creating custom loss from[ here](https://keras.io/api/losses/). Thank you!
[code]

[2022-02-02 05:43] tilakrayal commented on #54218
@camda03 ,
This issue is not related to tensorflow. Please move to respective respository which helps to resolve the issue.Thanks!

[2022-02-02 05:44] mohantym commented on #54239
Hi @prmudgal ! After installing  Model Optimization 0.6.0 , I was able to  execute import command. you can select suitable version for quantization from [here](https://github.com/tensorflow/model-optimization/releases). Attaching [gist](https://colab.sandbox.google.com/gist/mohantym/32fd372196967deed35aa4e9c939b217/github_54239.ipynb) for reference.Thank you

[2022-02-02 06:10] tilakrayal commented on #54232
@sachinprasadhs ,
I was able to reproduce the issue in tf v2.5, v2.7 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/356927cf329e036cb4cb873ad5615437/54232.ipynb).

[2022-02-02 06:16] #53762 closed

[2022-02-02 06:16] #53811 closed

[2022-02-02 06:42] markub3327 opened #54241 "FIFOQueue as a part of custom layer"
Hello,

   I need a queue as a part of my custom input layer in Transformer for Short-term memory purposes. I need to store the coming features "in first in first out" manner and remove the oldies features when it's full and clean all content if it's needed. I see [here](https://www.tensorflow.org/api_docs/python/tf/queue/FIFOQueue) something like that for working with Tensor, but is it a good cho

[2022-02-02 07:06] rikardn commented on #54235
Thanks for looking into this @fergushenderson! I will try to look into your suggestions.

I failed to mention that I first had to patch the flatbuffers CMakeLists.txt to turn off the `/WX` (warnings becomes errors) flag. Some warnings were emitted that failed the compilation. Perhaps these are clues:

[code]

Context for one of these:

[code]

[2022-02-02 07:09] tilakrayal commented on #53834
@sachinkmohan ,
Sorry for the delay response.This issue is more suitable for TensorFlow Models repo. Please post it on Tensorflow Models repo from [here](https://github.com/tensorflow/models/issues/new/choose). Thanks!

[2022-02-02 09:01] elad-c commented on #53837
Editted the code to print the difference in outputs. The difference matches the plots of the networks I added in the previous comment.

[2022-02-02 09:23] rikardn commented on #54235
Isn't the tflite build always using flatbuffers v1.12 by the way? `tensorflow/lite/tools/cmake/modules/flatbuffers.cmake` is using that tag and I checked that this is the one being used.

[2022-02-02 09:27] shenyufengt opened #54242 "symbol not found in flat namespace '__ZN4mlir2TF6detail25ResourceAliasAnalysisInfo18kMaxResourceTypeIdE'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):macOS monterey 12.0.1
- Mobile

[2022-02-02 09:44] tilakrayal commented on #54198
@izainpasha ,
We see that you are using tf version 1.15, 1.x is not actively supported, please update to latest stable v2.7 and let us know if you are facing same issue.

[2022-02-02 11:01] tilakrayal commented on #54208
@jpiedrafita ,
I was facing different issue while executing the mentioned code.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/70e4f71dd0752233472a87ab0b0a772f/untitled208.ipynb).

[2022-02-02 11:16] #53693 closed

[2022-02-02 11:50] Cafelatte1 opened #54243 "Tenserflow recommenders : tfrs.metrics.FactorizedTopK"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **No**
- OS Pl

[2022-02-02 12:51] gitlabspy commented on #44698
I noticed that as the model (not only the one in this issue) gets more complex, increase the gpus will increase the compile time ( I guess?), which means more complex model gets slower to start training and more gpus make it much slower... any suggestions....?

[2022-02-02 13:03] ahlzouao opened #54244 "On-device-training fails using Tflite_runtime: Node number 54 (FlexReluGrad) failed to prepare."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Custom embedded Linux distribution (Kernel 5.15)**
- Mobile device: **Raspberry Pi 4B**
- TensorFlow installed from (source or binary): **Source (Building on Tflite_runtime using pip_package scripts)**
- Tensor

[2022-02-02 13:33] nicktasios commented on #1950
Yes, I also have an application for this. Basically I use `tf.where` to get a list of coordinates of filled voxels and thenI ravel_multi_index the result and use a sparse matrix as a dictionary to index the filled voxels using the coordinates.

[2022-02-02 13:51] sushreebarsa commented on #54237
@surak
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),Thanks!

[2022-02-02 13:58] faizan1234567 opened #54245 "ResourceExhaustedError"
Hey everyone. I am training resnet50v2 on my dataset, I have 18746 images in the training set and 4000+ images in the validation set. I am using a batch size of 32. The first time I tried to train my model with this batch size, it worked. When I try to train my model it gave me the following error this time.
![error](https://user-images.githubusercontent.com/61932757/152167745-4ce0449f-6530-41d7-b

[2022-02-02 14:15] mohantym commented on #54243
Hi @Cafelatte1 ! Could you please update complete stand alone code instead of screenshot? Thanks!

[2022-02-02 14:28] ocuk commented on #28777
@AakashKumarNain @gasar8 Try layer subclassing. You can define a new layer (or a sequence of layers) once and then re-use them as you build your model. Here is a good example https://www.linkedin.com/pulse/model-sub-classing-custom-training-loop-from-scratch-tensorflow

[2022-02-02 14:32] mrtpk123 commented on #53370
Thank you @ThanasisGiak

[2022-02-02 14:37] surak commented on #54237
There is no proper template for issues on the repo itself. It is what is written here. The “releases” page shows 2.6.2. Pip downloads 2.7. What is the stable version?

[2022-02-02 14:37] ahlzouao commented on #54244
Another (probably helpful) and relevant information, delegate/flex sources seems to integrated in the  **`_pywrap_tensorflow_interpreter_wrapper.so`** as it can be shown below:
[code]

[2022-02-02 15:04] sushreebarsa commented on #54237
@surak Thank  you for the quick response!
The latest stable TF version is 2.7.0 , please have a look on this [link](https://www.tensorflow.org/install/source#tested_build_configurations)  of tested build configuration for reference.
Thanks!

[2022-02-02 15:06] surak commented on #54237
Great - then, whoever administers github, please make a release.

Have a look. Go to the main page, here: https://github.com/tensorflow/tensorflow
and check on the right side, at RELEASES:
![Screen Shot 2022-02-02 at 16 05 57](https://user-images.githubusercontent.com/878399/152180213-ca76c2ba-c2cd-441d-9dcf-4dd195b6d149.png)

[2022-02-02 15:08] Cheril311 commented on #54245
@faizan1234567 could you please tell your system and software specifications?

[2022-02-02 15:31] shenyufeng1234 commented on #54242
BTW, got the same exception if using the build command "bazel build --config=dbg --per_file_copt=+tensorflow/core/kernels/identity_op.*@-g //tensorflow/tools/pip_package:build_pip_package"

[2022-02-02 15:39] faizan1234567 commented on #54245
I am using google colab

[2022-02-02 15:50] dankal444 commented on #54234
Hi @mohantym this is not a question about this specific *toy example*. As you can see custom loss computation is empty, intentionally. I just want the debugger to stop there so it much easier to implement the loss.

[2022-02-02 16:50] Alok-Ranjan23 opened #54246 "CONV_ADD and CONV_ADDV2 Fusion"
Why do we need to check the broadcast compatibility before CONV_ADD and CONV_ADDV2 Fusion?

Refer line 818 of [remapper.cc](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/grappler/optimizers/remapper.cc)

`if (!IsAddN(*node_def) && !IsAddWithNoBroadcast(ctx, *node_def)) return false;`

Why do we need _**IsAddWithNoBroadcast(ctx, *node_def)**_ check?

Refer line 795 to  805 of

[2022-02-02 16:50] Cheril311 commented on #54245
You can refer to this answer here: https://stackoverflow.com/questions/59394947/how-to-fix-resourceexhaustederror-oom-when-allocating-tensor/59395251 <br> This is basically because your colab gpu is running out of memory for your use case

[2022-02-02 17:05] torito commented on #48802
Hi, any update on this issue?, I saw a lot of releases after 2.4.1 and none of them solve this issue 😞

[2022-02-02 17:13] jvishnuvardhan commented on #52167
@goncinious Is this still an issue. I couldn't reproduce the issue when I ran your code with `tf-nightly` and the following two line at the start of your code. [Here](https://colab.research.google.com/gist/jvishnuvardhan/3624a43bfa923f8d30ddec597bc560b0/tf_image_resize_bilinear_issue.ipynb) is a gist for reference. Thanks!

[code]

Can you please verify once and close the issue if this was resolve

[2022-02-02 17:19] jvishnuvardhan commented on #52053
@jshu12 Can you please check with recent TF versions and let us know whether this is still an issue for you. Meanwhile, I would also check on my system. Thanks!

[2022-02-02 18:05] normano commented on #41876
@yyoon Can you reopen this and possibly reassign to someone else. The issue may be stale, but the problem is still exists.

[2022-02-02 18:06] normano commented on #52042
@yyoon Can you reopen this and possibly reassign to someone else. The issue may be stale, but the problem is still exists.

[2022-02-02 18:06] prmudgal commented on #54239
@mohantym It worked, Thanks

[2022-02-02 18:06] #54239 closed

[2022-02-02 18:07] prmudgal commented on #54164
Is there any update on this issue?

[2022-02-02 18:31] heeh commented on #53713
@sachinprasadhs @mohantym
It has been 23 days since I reported this bug. Could you at least share the status?

[2022-02-02 19:16] #53266 closed

[2022-02-02 19:34] edloper commented on #53336
One possible approach would be to use `RaggedTensor`. You can use `RaggedTensor.from_value_rowids` to construct a ragged tensor from values+segments. E.g.:

[code]

And then you can use repeat + gather to repeat those rows:

[code]

If you want the flat tensor (rather than a ragged tensor), you can use repeated.values:

[code]

[2022-02-02 20:51] smit-hinsu commented on #52887
We need to use `--savedmodel-signaturedefs-to-mlir` instead of `--tf-savedmodel-exported-names=predict` for TF v1 models.

Currently, there is no command line method to freeze variables. So, we need to make use of the TFLite Converter with a slight code change. Just remove the block from L247 to L265 [here.](https://github.com/tensorflow/tensorflow/blob/fec390fc795df46555aa79ab89146c3cc3769a1f/ten

[2022-02-02 21:56] Craigacp commented on #48802
I think some of the issue might have been deallocation problems in TF-Java which we've fixed in the more recent releases. If you're still hitting this when using the C API directly then you might have a different problem.

[2022-02-02 22:03] krafczyk opened #54248 "Tensorflow accesses .hdf5 weights file after it's been loaded"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux - Redhat 7.9
- TensorFlow installed from (source or binary): binary (conda)
- TensorFlow version (use command below): On all versions from 2.2 to 2.7 (2.7.0 for the latest)
- Python version: 3.8
- Bazel version

[2022-02-02 22:06] krafczyk commented on #54248
This might be expected behavior, but then I'd like a way to determine that tensorflow is finished reading the file before releasing the temporary file.

[2022-02-02 22:15] markub3327 commented on #54237
@surak @sushreebarsa

GitHub shows the latest uploaded version not the latest version of TF !!!

The last uploaded version is TF 2.6.2 because security or critical updates were done on it. Please do not mix the last activity and the latest version.

Thanks.

[2022-02-02 22:33] markub3327 commented on #54241
@fchollet

[2022-02-02 22:48] surak commented on #54237
I know, Mark. But there’s no indication of what is the actual latest release anywhere written in a clear, unambiguous way.

[2022-02-02 23:27] ttdd11 commented on #53844
@mohantym @Saduf2019 any ideas? Is loading optimizer weights not currently supported on distributed TPU training? Is there a short term solution that would allow this to happen with some code changes?

[2022-02-02 23:41] sachinprasadhs commented on #53713
@heeh , apologies for the delayed response, I could not find much insight on this issue, @nutsiepully , could you please look at this issue. Thanks!

[2022-02-03 00:03] yaochengji opened #54249 "Segmentation Fault After Canonicalization Pass"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2022-02-03 00:10] asfainqa commented on #54233
OOO I already solve it, so i guess you can close the issue. The problem is within my dataset

[2022-02-03 00:21] whatdhack commented on #53742
Tried with TF 2.8 .  Same output.  So, looks like either it is not possible to disable TF32 or that message is erroneous.  If the former, which I think it is , then performance results for fp32 will  be misleading,
[code]

[2022-02-03 00:27] duncanriach commented on #47174
@mhaghighat, PR [54119](https://github.com/tensorflow/tensorflow/pull/54119) added a disable switch for the exception. Please will you run again using the `tensorflow/tensorflow:latest-gpu` docker image (I think that will have the change in it). Enable determinism using [`tf.config.experimental.enable_op_determinism`](https://www.tensorflow.org/api_docs/python/tf/config/experimental/enable_op_dete

[2022-02-03 00:47] sachinprasadhs commented on #53907
This error seems to be on the gradle side, in the above example when the insecure url is used from the `gradle` file with `http:// `this exception is thrown, as per the error suggestion,  you need to set `allowInsecureProtocol` to `true` to build.
This won't be the issue when you build the example with secured url starting with `https:// `. Thanks!

[2022-02-03 00:52] jvishnuvardhan commented on #48928
@elad-c Is this still an issue for you? Did you follow the above suggestion? I changed the last line as shown below. With that modification, it doesn't throw any error. [Here](https://colab.research.google.com/gist/jvishnuvardhan/338596f938330a20cd2bbcaae1a6e7af/untitled41.ipynb) is a gist for reference. Thanks!

[code]

[2022-02-03 00:55] Zabjaku commented on #25138
Hi @pedrohpf

Sorry am new to Tensorflow. Where did you find the code `device_lib.list_local_devices()`? Also where should i put the `set_memory_growth` code? Is it in the model_main_tf2.py?
Thank you.

[2022-02-03 00:57] jvishnuvardhan commented on #40812
@winnietsang Sorry for the late response. Are you still interested in contributing this feature?

Please note that Keras development moved to another repository to focus entirely on only keras. Could you please repost this issue or raise a PR in [keras-team/keras repo.](https://github.com/keras-team/keras/issues). Thanks!

[2022-02-03 01:16] #27520 closed

[2022-02-03 01:16] #29422 closed

[2022-02-03 01:18] sachinprasadhs commented on #54133
The file which you are referring to is old one and will be removed in future, for IOS examples you can check  https://www.tensorflow.org/lite/examples.
The Tensorflow Lite version you can use with TensorFlow 2.6 is  2.6. Thanks!

[2022-02-03 02:11] sushreebarsa commented on #54233
@asfainqa Thank you for the update!
Closing this issue as it is resolved .Thanks!

[2022-02-03 02:11] #54233 closed

[2022-02-03 02:50] mohantym commented on #44028
Hi @TylerADavis ! Could you try with instructions in this [repo](https://github.com/PINTO0309/Tensorflow-bin)? Thanks!

[2022-02-03 03:04] mohantym commented on #47041
Hi @ziofil ! Could you uninstall previous Tensorflow versions and try with instructions in this links [1](https://developer.apple.com/metal/tensorflow-plugin/),[ 2](https://github.com/tensorflow/tensorflow/issues/51506#issuecomment-901460541) . Attaching relevant [thread](https://github.com/tensorflow/tensorflow/issues/8976#issuecomment-299663626) for reference. Thank you!

[2022-02-03 03:33] Nafees-060 opened #54250 "Isn't tf.compat.v1.get_variable the default trainable variable?"
I am implementing deep learning model using tensorflow keras where I need γ learnable parameter. For that I am utilizing

`gamma = tf.compat.v1.get_variable("gamma", [1], initializer=tf.constant_initializer(0.0))`

I read the [Official Documentation of tf.compat.v1.get_variable](https://www.tensorflow.org/api_docs/python/tf/compat/v1/get_variable) but could not get the complete idea. In the offici

[2022-02-03 03:34] mohantym commented on #52042
ok @normano ! Reopening this issue as requested.

[2022-02-03 04:00] tilakrayal commented on #54164
@prmudgal ,
Looks like this is not a bug  related to Tensorflow end.Please take a look this issue [1](https://github.com/tensorflow/compression/issues/22) and [2](https://github.com/tensorflow/compression/issues/32) from the compression repo and try to post in respective repo from [here](https://github.com/tensorflow/compression/issues).It helps.Thanks

[2022-02-03 04:16] #53819 closed

[2022-02-03 04:25] Eeman1113 commented on #13715
please help
using Mac OS M1
`eemanmajumder@Eemans-MacBook-Pro code_shit % /opt/homebrew/bin/python3 "/Users/eemanmajumder/code_shit/DEW/DEW BETTER/Basshing_my_head_on_my_table/emotion.py"
Traceback (most recent call last):
  File "/Users/eemanmajumder/code_shit/DEW/DEW BETTER/Basshing_my_head_on_my_table/emotion.py", line 2, in <module>
    from deepface import DeepFace
  File "/opt/homebrew/lib/p

[2022-02-03 04:30] sushreebarsa commented on #54237
@markub3327 Thank you for the response!
@surak Please have a look at https://github.com/tensorflow/tensorflow , where the latest released version of TF is `2.8.0 ` now.
It was showing TF 2.6.2 as latest due to some updates were done on it.
Thanks!

[2022-02-03 04:32] duncanriach commented on #53846
@yanniskar, are you using XLA (e.g. `@tf.function(jit_compile=True)`)?

[2022-02-03 05:16] #53829 closed

[2022-02-03 05:41] sushreebarsa commented on #53817
Closing this issue due to lack of recent activity. Please feel free to reopen this ticket when new information becomes available. Thanks!

[2022-02-03 05:41] #53817 closed

[2022-02-03 05:44] RxstydnR commented on #43173
I solved this error by adding the following `call` method.
[code]

[2022-02-03 06:28] tilakrayal commented on #54244
@ahlzouao ,
I was facing different error while executing the code.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/ebcb91fd4d6fd224a5cf843144e506aa/untitled210.ipynb).Please provide the complete code and dependencies to reproduce the issue.Thanks!

[2022-02-03 07:29] mohantym commented on #54250
Hi @Nafees-060 ! I agree with your point on getting trainable variables by enabling **trainable=True**.  Have attached a [thread ](https://www.programcreek.com/python/example/112642/tensorflow.compat.v1.get_variable)for comparing different use cases on tf.compat.v1.get_variable(). Thanks!

[2022-02-03 07:49] bersbersbers commented on #49179
There is a similar issue with TF2.8.0, which depends on `tf-estimator-nightly`. I won't reopen this issue since I believe it does not have any technical implications, but it surely looks weird to the user (and I wouldn't be surprised if `tf-estimator-nightly` interfered with a separately installed `tensorflow-estimator` package, which may be a different version.)

[2022-02-03 08:24] markub3327 commented on #54237
@surak The latest tested version of TF is (here)[https://www.tensorflow.org/install/source#tested_build_configurations] like @sushreebarsa mentioned. GitHub Releases is only informative for developers and sysadmins may look at https://www.tensorflow.org/install pages.

Thanks.

[2022-02-03 08:25] Nafees-060 commented on #54250
Okay, thanks. May I know the difference between `initializer=v.initial_value` and  `initializer=tf.constant_initializer(0.0)`

[2022-02-03 08:34] Nafees-060 commented on #54250
OOPs, I just tried trainable=True, and the number of trainable parameters remains the same as it was previously. Shouldn't the total number of parameters be increased by one additional learnable parameter?

[2022-02-03 08:38] mohantym commented on #54234
@dankal444 ! I have tried to catch the bug using try catch block and tf.print() . Attaching updated [gist](https://colab.sandbox.google.com/gist/mohantym/f21ad71a2cb6bdb19dd4f031b82bd347/github_54234.ipynb#scrollTo=liEiG7qIsARM) for reference. Thanks!

[2022-02-03 08:53] 8bitmp3 commented on #47553
Reviewed. Thanks everyone!

[2022-02-03 09:16] #22089 closed

[2022-02-03 09:16] #53831 closed

[2022-02-03 09:28] ahlzouao commented on #54244
@tilakrayal ,
Thank your for your answer, I have prepared a a gist [here](https://colab.research.google.com/drive/1rzvK_FtR0NZ0YUH9ya0L3uOoY3ZiZUM5?usp=sharing) with the whole code.

Unfortunately, it is working just fine in the google colab environment and the train function returns the expected value, so that's not really the way to go. If you want to reproduce exactly the same issue, I would su

[2022-02-03 09:37] hemant-novotrax commented on #18658
implementation this, this worked me
**org.tensorflow:tensorflow-lite:2.3.0**

[2022-02-03 10:24] dankal444 commented on #54234
@mohantym What is this gist for? What it has to do with debugging I issue here?

[2022-02-03 10:44] mohantym commented on #54234
@dankal444 ! I thought your query was on debugging custom loss function. I understand you wanted  to stop at loss function instead of throwing exception.  Please post on  [TF Forum](https://discuss.tensorflow.org/) on further assistance. Thank you!

[2022-02-03 10:52] tilakrayal commented on #54248
@krafczyk ,
I was able to execute the mentioned code with out any Data loss warnings/issues.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/4f18c11a8f4c2d065dbb0bc27dce8e10/untitled211.ipynb).

[2022-02-03 11:16] #53754 closed

[2022-02-03 11:44] mohantym commented on #50251
Hi @mrjoelc ! I have attached a relevant [thread](https://blog.tensorflow.org/2021/06/easier-object-detection-on-mobile-with-tf-lite.html) for usage of ssd mobilenet in model_spec.get() . Thank you!

[2022-02-03 11:48] Cafelatte1 commented on #54243
I updated my issue ! I attached the codes which is a little transformed from tensorflow recommender tutorial.

[2022-02-03 12:16] #53827 closed

[2022-02-03 12:16] #53830 closed

[2022-02-03 13:26] mmaor123 opened #54254 "Dataset error when using with XLA device (No unary variant device copy function found)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04.3 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):

[2022-02-03 13:35] dankal444 commented on #54234
@mohantym

yes

yes

but if you set breakpoint in the loss function it does not work. As I have wrote "I just want the debugger to stop there so it is much easier to implement the loss, try some things, fix shapes, etc."

[2022-02-03 13:55] Salman-F opened #54255 "InvalidArgumentError: Size 1 must be non-negative, not -13 [[{{node gradient_tape/mean_squared_error/sub-1-ReshapeNHWCToNCHW-LayoutOptimizer}}]] [Op:__inference_train_function_7208]"
I am trying to train my neuronal Network but get this error everytime and i dont know what it means.

I am using tenserfow 2.7.0 in google colab.
Here is my NN architecture (i am training a CNN to output two informations - steering and speed.
Is something wrong with the mean_squared_error?
`class v2Model():
    def __init__(self):
        self.logdir = os.path.join(TRAIN_LOGS_PATH, datetime.dateti

[2022-02-03 14:05] mohantym commented on #54250
@Nafees-060 ! Number of trainable parameters will remain same but their value will vary once set trainable=True. Regarding this [query](https://github.com/tensorflow/tensorflow/issues/54250#issuecomment-1028719878) , Please visit [tf.constant.initializer ](https://www.tensorflow.org/api_docs/python/tf/constant_initializer)and [tf.variable](https://www.tensorflow.org/api_docs/python/tf/Variable#arg

[2022-02-03 14:50] sushreebarsa commented on #54255
@Salman-F
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2022-02-03 15:00] krafczyk commented on #54248
@tilakrayal I worked around the colab logging issue by first writing the script to a file, and then using `!` magic commands to execute the script. If you know a proper way to show logging on colab please let me know.

Here is my [gist](https://colab.research.google.com/drive/1JE6NuBB2oJ_0MMiEcomP4kfXJOidp9Pd?usp=sharing)

[2022-02-03 15:03] kun-lu20 commented on #51770
Hi @sushreebarsa , hope all is well with you.

Looks like `@com_github_grpc_grpc//:grpc++` is still being used in `tensorflow/distribute/experimental/rpc/kernels/BUILD` on master branch and version 2.8.0.

Could you please help me check if there are any updates on this issue? Thank you very much!

[2022-02-03 15:56] Hjiwnain opened #54256 "Error: Shape error While Using tf.image.multiscale_SSIM"
[code]

[2022-02-03 16:40] Salman-F commented on #54255
@sushreebarsa
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow installed from (source or binary): google colab pre installed
- TensorFlow vers

[2022-02-03 16:41] Salman-F commented on #54255
Sorry for not filling it out immediately :)

[2022-02-03 16:52] mohantym commented on #54256
Hi @Hjiwnain ! Could you please update the template with a sample stand alone code too ?

[2022-02-03 17:06] PeterBorisenko commented on #44882
It works, but it's just a duct tape!
Why it is not generated?

[2022-02-03 17:09] shenyufeng1234 opened #54257 "How to install llvm-project from local ?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

OS Platform and Distribution (e.g., Linux Ubuntu 16.04):macOS monterey 12.0.1
Mobile device (e.g. iPhone 8, Pixe

[2022-02-03 17:11] pedrohpf commented on #25138
Hello @Zabjaku

At that time I was trying to set tensorflow memory growth so it wouldn't automatically occupy all the memory. So I had used the following code for that, as others have mentioned something similar:

[code]

However, that wasn't working and I was not sure the reason why.
I then happened to remove a certain line of code that I had used before to check if everything was being setup cor

[2022-02-03 17:11] shenyufeng1234 opened #54258 "how to install llvm from local?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2022-02-03 17:41] elfringham commented on #53632
I used git bisect to isolate the point where the signature of the failure changed from segfault to abort. The result was this commit about protobuf
https://github.com/tensorflow/tensorflow/commit/7fbc5be3b5a3cc17c05f1ae5b0577fdca8a0e0e2

[2022-02-03 17:54] PaoloTCS commented on #52672
Got the same message, but checked after msg  ...import sys

import tensorflow.keras
import pandas as pd
import sklearn as sk
# -----------
print(f"Tensor Flow Version: {tf.__version__}")
print(f"Keras Version: {tensorflow.keras.__version__}")
print()
print(f"Python {sys.version}")
print(f"Pandas {pd.__version__}")
print(f"Scikit-Learn {sk.__version__}")
gpu = len(tf.config.list_physical_devices('G

[2022-02-03 17:58] shenyufeng1234 commented on #54258
It seems the package llvm-project-55c71c9eac9bc7f956a05fa9258fad4f86565450.tar.gz broken ,as I download it manually and also failed to uncompress it  at local.

[2022-02-03 18:11] jvishnuvardhan commented on #47853
@bjourne Is this still an issue for you? I think this is intended and @edloper provided couple of suggestions to improve. Thanks!

[2022-02-03 18:42] kabilan6 opened #54259 "inference/prediction batch is non deterministic and overlap data"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7/2.2
- Pyth

[2022-02-03 18:43] Salman-F commented on #54255
Just made it

[2022-02-03 19:15] kabilan6 commented on #53846
when the dataset contains 1000 to millions , its non deterministic.

[2022-02-03 19:18] jvishnuvardhan commented on #25395
@kesinger TF1.x is deprecated. Please update to TF2.x debugger and open a new issue with a simple standalone code to reproduce the issue.

I am closing this as the TF1.x is deprecated. Please feel free to reopen I am mistaken. Thanks!

[2022-02-03 19:18] #25395 closed

[2022-02-03 20:32] TylerADavis commented on #44028
I don't have an rpi to test on at the moment, but it does look like that repo would allow for one to get a prebuilt wheel of full (non-lite) tensorflow for an aarch64 linux system.

https://github.com/PINTO0309/Tensorflow-bin#usage

[2022-02-03 21:58] duncanriach commented on #53846
Hi @kabilan6,

Thanks for that. For clarity, please confirm or refute the following four points:

1. You have a model that trains deterministically on a single GPU.
2. When use use more than one GPU (including only two GPUs) you get nondeterminism.
3. You're using `tf.data.experimental.sample_from_datasets`.
4. When you remove only `tf.data.experimental.sample_from_datasets`, the nondeterminism go

[2022-02-03 22:16] #47673 closed

[2022-02-03 22:40] kabilan6 commented on #53846
Hello, this deterministic issue is there across and not specific to tf.data.experimental.sample_from_datasets. Please refer a similar issue which i created
https://github.com/tensorflow/tensorflow/issues/54259.

Please find below my response

You have a model that trains deterministically on a single GPU. - amn't sure about training but i guess its not related to training.
When you use more than o

[2022-02-03 22:58] duncanriach commented on #53846
Okay, @kabilan6. From looking at your answers, I'm almost certain that you're dealing with a different issue because (1) your issue occurs with a single GPU and (2) you're not using sample_from_datasets. Thanks for opening #54259.

[2022-02-03 23:04] duncanriach commented on #54259
Adding clarification that @kabilan6 provided in #53846: This issue occurs on a single GPU, so multi-GPU strategy is not relevant.

@kabilan6, before we ask you for a simple reproducer script, are you able to first try running on TF 2.8? There were some potentially relevant determinism fixes between 2.7 and 2.8 related to `tf.data.Dataset` that might resolve at least the nondeterminism element of y

[2022-02-03 23:16] Z-SB commented on #54256
12

[2022-02-03 23:16] #53223 closed

[2022-02-04 00:10] wangpengmit commented on #43937
I got preempted and haven't got to it. Fancy contributing a PR?

[2022-02-04 00:16] #53215 closed

[2022-02-04 00:18] karimnosseir commented on #49247
Hi @165749 Are you sure you are overriding the correct environment variables to be able to use your library ?

This [init](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/hexagon/hexagon_delegate.h#L109) for the delegate can take the path to use

[2022-02-04 00:24] sachinprasadhs commented on #54066
It could be due to the wrong choice of application type, make sure at the start of the application you choose Console Application instead of windows application for Visual Studio.
Start the process again with option something like. File -> New -> Project -> Win32 Console Application.

[2022-02-04 00:27] karimnosseir commented on #35506
@usuku-hideki Sorry for the late reply.

You will need to update the build file and replace all dependencies with "@hexagon_nn//" to use your own versions.

[2022-02-04 00:33] jvishnuvardhan commented on #54234
@dankal444 When you run `model.fit`, it creates a graph and I think TF/keras inspects it. In the case where there is nothing returning from a custom loss function (which is must for a model and should be differentiable), it is throwing an error. I am not exactly sure how to make the breakpoint approach to work but this is not a technically a bug. Thanks!

[Here](https://colab.research.google.com/g

[2022-02-04 00:41] sachinprasadhs commented on #53845
Could you please mention the issues you find in the doc or the missing details in the doc. Thanks

[2022-02-04 00:43] joelberkeley commented on #53845
I've mentioned them in the ticket description

[2022-02-04 00:44] joelberkeley commented on #53845
see "Parameters defined"

[2022-02-04 01:01] sachinprasadhs commented on #54232
@dniku , If you have identified the issue in the code and the probable fix, could you please raise a PR. Thanks!

[2022-02-04 01:41] jvishnuvardhan commented on #46858
@aprimostka Can you please open a PR in [keras-team/keras](https://github.com/keras-team/keras/issues) repository to update the code/bug so that it will be helpful for the community. Thanks for your contribution.

[2022-02-04 01:42] jvishnuvardhan commented on #49930
@fanstvn If there is any actionable PRs, please feel free to open them in [keras-team/keras](https://github.com/keras-team/keras/issues) repository.

Please note that Keras development moved to keras-team/keras repository to focus entirely on only keras. Thanks!

[2022-02-04 01:54] jshu12 commented on #52053
It takes a lot of effort for my team to install a new version of Tensorflow into our tool, and this bug doesn't justify that effort. So I won't be able to verify on a newer version of Tensorflow myself. Especially because we worked around the bug by padding with extra empty training samples until the number of training samples is a multiple of batch size.

[2022-02-04 02:00] 165749 commented on #49247
@karimnosseir Thanks for your reply! What I am doing is to replace/add libhexagon_nn_skel(_v66).so in path /vendor/lib/rfsa/adsp, which has already been [added](https://github.com/tensorflow/tensorflow/blob/244b9d77fd42003042968a22d0cda6bea0c01435/tensorflow/lite/delegates/hexagon/hexagon_delegate.cc#L149) to the environment variable ADSP_LIBRARY_PATH. The hexagon delegate was initialized successf

[2022-02-04 02:03] kaczmarj commented on #49930
@jvishnuvardhan - ok -- the rescaling weights of the trained model will have to be updated. can you transfer this pr to the keras repository? this pr was made while keras was still being developed in this repository.

[2022-02-04 02:43] #54250 closed

[2022-02-04 02:47] karimnosseir commented on #49247
libhexagon_nn_skel*.so libraries are provided and signed by Qualcomm.
But you can build them locally and use them, assuming you are using compatible versions of the dependencies.

One way is to build both libraries using your version of the sdk, since the code of libhexagon_interface is now available on [github](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/delegates/hexagon

[2022-02-04 03:12] Zabjaku commented on #25138
Hi all,

Would like to share how I 'fixed' the OOM issue after trying conuntless of install and uninstall and searching online. Seems like it is a must to install the cuda toolkit from nvidia (https://developer.nvidia.com/cuda-toolkit) (I was hesitant to do it as i am afraid it might affect my previous Tf1, which was working perfectly). After installing the toolkit, the training was able to run wi

[2022-02-04 03:20] arielwzjfz opened #54260 "huhuuh"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2022-02-04 03:21] #54260 closed

[2022-02-04 03:30] zacps opened #54261 "keras.layers.BatchNormalization/Reshape produces dynamic tensors when converted to tflite"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 (converter), Linux 5.10.17 (tflite)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Raspberry Pi 4 Model B Rev 1.4
- TensorFlow installed from (source or bin

[2022-02-04 03:35] Curry-yilongxu opened #54262 "q"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2022-02-04 03:35] #54262 closed

[2022-02-04 03:35] Curry-yilongxu commented on #54262
q

[2022-02-04 04:16] #47553 closed

[2022-02-04 04:55] mohantym commented on #10270
Hi @KashiErez ! Sorry for the late response.
You are using older versions(1.x versions) of Tensorflow which is not supported any more. Could you check in  [latest versions ](https://github.com/tensorflow/tensorflow/releases) (TF 2.7/2.8 )? A lot of bug fixes has been done and features has been added in latest version.   Thanks!

[2022-02-04 05:09] amitport commented on #53584
non determinism does not replace all stateless ops AFAIKT.
I want do be able to supply shuffle with a specific seed and get the same result in every context....

[2022-02-04 05:55] jvishnuvardhan commented on #39041
@sboshin Is this still a feature request you are interested to work on?

If there is any actionable PRs, please feel free to open them to contribute. Thanks!

[2022-02-04 05:57] jvishnuvardhan commented on #47174
@mhaghighat Can you please check @duncanriach suggestions and respond with your findings? Thanks

[2022-02-04 06:01] SinDongHwan opened #54263 "Why is inference time so slow when using tensorflow.compat.v1?"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2022-02-04 06:03] jvishnuvardhan commented on #51090
@riaqn Can you please share a simple standalone code to reproduce the issue or add more details about your use case? Are you going to have a batch of data with single label? Are not shuffling the data? I am not sure how it is going to perform.

If you add little more details and a small reproducible code, it would help us understand the feature better.

If there is any actionable PRs, please feel

[2022-02-04 06:04] jvishnuvardhan commented on #50169
@DachuanZhao If there is any actionable PRs, please feel free to open them in [keras-team/keras](https://github.com/keras-team/keras/issues) repository.

Please note that Keras development moved to keras-team/keras repository to focus entirely on only keras. Thanks!

[2022-02-04 06:22] jvishnuvardhan commented on #50728
@roebel I updated `call` function in your code and everything works in graph and eager modes. [Here](https://colab.research.google.com/gist/jvishnuvardhan/18647fb6109aab893d0f41fc3e36466f/untitled.ipynb) is a gist for reference. Thanks!

[code]

Please verify once and close the issue if this was resolved for you. Thanks!

[2022-02-04 06:24] jvishnuvardhan commented on #50244
@M-Wolff This is a stale issue.

Can you please check with recent TF versions and let us know whether this was resolved with recent TF versions? Thanks!

[2022-02-04 06:44] jiannanWang opened #54264 "tf.image.non_max_suppression produces wrong results in tf.function when the input is float16."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7.0
- Python version:

[2022-02-04 06:48] jiannanWang opened #54265 "Reduce axis produce wrong results in tf.function mode when there are duplicate dimensions"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7.0
- Python version:

[2022-02-04 06:53] jiannanWang opened #54266 "The gif encoding and decoding is not lossless in tf and tfio"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7.0
- Python version:

[2022-02-04 07:43] sushreebarsa commented on #53318
@fatihkiralioglu Could you please have a look at the [link](https://docs.nvidia.com/deeplearning/frameworks/tensorflow-user-guide/index.html) and let us know if it helps? Thanks!

[2022-02-04 08:12] sushreebarsa commented on #53451
@Evgeny-IT Session.run is deprecated. We see that you're using Session which does not work with  eager execution
 (TF V2). To migrate code that uses sessions to TF2, rewrite the code without it. Please see the [migration guide](https://www.tensorflow.org/guide/migrate#1_replace_v1sessionrun_calls) on replacing Session.run calls.

TF v1.x is currently  not actively supported so please try to upgrad

[2022-02-04 08:21] tilakrayal commented on #54254
@jvishnuvardhan ,
I was able to reproduce the issue in tf v2.8, v2.7 and  nightly.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/07573cb93790424e0b640394b574b142/untitled212.ipynb).

[2022-02-04 08:42] tilakrayal commented on #54257
@shenyufeng1234 ,
Can you please take a look at this [issue](https://github.com/tensorflow/tensorflow/issues/53503) with the similar error and it is fixed in the latest build.It helps.Thanks!

[2022-02-04 08:51] riaqn commented on #51090
@jvishnuvardhan Thank you for the reply. Unfortunately I have switched to pytorch now. Please feel free to close the issue. Thank you.

[2022-02-04 09:22] roebel commented on #50728
Hello

thanks for looking into this, but your solution does not solve anything.  You remove the convolution from the graph so the FlatConv model simply does a reshape. It should do a Convolution followed by a reshape.
Very obviously removing the Convolution operator from a Network that should do convolution + reshape is not an acceptable solution.

For the motivation: This FlatConv layer is suppos

[2022-02-04 09:25] elfringham commented on #53632
If I go back to https://github.com/tensorflow/tensorflow/commit/367cf9968c3d14d9d41d1775d8ceeb8e7bf3190f where the segfault first appeared and cherry pick https://github.com/tensorflow/tensorflow/commit/7fbc5be3b5a3cc17c05f1ae5b0577fdca8a0e0e2 then the segfault turns into the abort.

[2022-02-04 09:35] tilakrayal commented on #53837
@elad-c ,
With the updated code also i was not able to get the output which you are mentioned.Please find the [gist](https://colab.research.google.com/gist/tilakrayal/04c382d1732fb640f665a0378f96cc37/untitled209.ipynb).

[2022-02-04 09:50] ebraraktas commented on #52105
Hi, I have investigated this issue and found some points which would be helpful for the assignee of the issue @ethkim  and anyone having the issue.

The new `Conv2D` implementation of the quantized tflite model uses [`HybridConvPerChannel`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/kernels/internal/optimized/optimized_ops.h#L1423) which depends on the `ruy`, previously i

[2022-02-04 09:54] tilakrayal commented on #54244
@ahlzouao ,
I was using colab to reproduce the issue.Can you please provide the  tf-lite file along with the code which you are facing issue.It helps to debug the issue.Thanks!

[2022-02-04 09:59] 4scastro commented on #54066
Having checked the project properties I can confirm it is a console application. If I comment out the Tflite line/header and put in a standard cout statement the console app builds and runs fine.

[2022-02-04 10:00] ahlzouao commented on #54244
@tilakrayal ,
The issue is not reproduceable on google colab, it will work as expected with no errors. You will need to run it on an armv7 or aarch64 architecture target to reproduce the issue, since the goal of this is to do on-device-training. [Here](https://drive.google.com/file/d/1i_emRlbfM_cSVltgkP81JqiN1rltM5Et/view?usp=sharing) is a link to the tf-lite file.

[2022-02-04 10:20] elfringham commented on #53632
If I go back to https://github.com/tensorflow/tensorflow/commit/098fc5e8c58ed0582cd0121839cddbff0a1c89d5 which is the commit before https://github.com/tensorflow/tensorflow/commit/367cf9968c3d14d9d41d1775d8ceeb8e7bf3190f the build works. But if I then cherry pick https://github.com/tensorflow/tensorflow/commit/7fbc5be3b5a3cc17c05f1ae5b0577fdca8a0e0e2 it results in the abort. So I think this shows

[2022-02-04 10:37] dniku commented on #54232
I have not, and my small investigation only hints at what will _not_ resolve this issue.

[2022-02-04 10:40] sushreebarsa commented on #53770
@Tix00 Session is `deprecated`. We see that you're using Session which does not work with  eager execution
 (TF V2). To migrate code that uses sessions to TF2, rewrite the code without it. Please see the [migration guide](https://www.tensorflow.org/guide/migrate#1_replace_v1sessionrun_calls) to migrate from 1.x to 2.x.
tf.compat.v1.GraphDef   is also designed for TensorFlow v1. Please refer [this

[2022-02-04 10:52] sushreebarsa commented on #53822
@fitoule Could you please confirm if this issue still persists ?
Please move this issue to  closed status if it is resolved for you.
Thank you!

[2022-02-04 10:56] Curry-yilongxu opened #54267 "asd"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2022-02-04 10:56] #54267 closed

[2022-02-04 11:08] Curry-yilongxu commented on #54266
k

[2022-02-04 11:11] reuben opened #54268 "Can't build libtensorflowlite.so with `--config=elinux_armhf` - external/XNNPACK/src/f32-f16-vcvt/gen/vcvt-neonfp16-x16.c:36:28: error: incompatible types when initializing type 'uint16x8_t' using type 'int'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): source
- TensorFlow version: r2.8, e994fb9c3ad250d38fd07511aaa445eda728f9af
- Python version: Python 3.8.10
- Bazel version (if compiling from source): 4.2.1
- GCC/Compiler version (if compiling from source): gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0

**Desc

[2022-02-04 11:17] parnham opened #54269 "GPU delegate for tflite not finding libOpenCL when deployed on linux"
**System information**
- *Have I written custom code (as opposed to using a stock example script provided in TensorFlow):* yes
- *OS Platform and Distribution (e.g., Linux Ubuntu 16.04):* Built on and deployed to Ubuntu 18.04 x86_64
- *TensorFlow installed from (source or binary):* Package of tflite built from source, deployed as deb
- *TensorFlow version (use command below):* tflite v2.5.0 (2.6 w

[2022-02-04 11:20] tilakrayal commented on #54244
@sachinprasadhs ,
I was able to execute the code in colab without any issues.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/d4261dcd1bc6f900a1ff720b5e0205c5/untitled213.ipynb).

[2022-02-04 11:23] elfringham commented on #53632
Moving now to git HEAD, if I revert the change from https://github.com/tensorflow/tensorflow/commit/7fbc5be3b5a3cc17c05f1ae5b0577fdca8a0e0e2 the failure changes from abort to segfault.
Furthermore if I remove the call to _cpu_feature_guard.so from tensorflow/python/platform/self_check.py which effectively undoes the change from https://github.com/tensorflow/tensorflow/commit/367cf9968c3d14d9d41d17

[2022-02-04 11:26] ahlzouao commented on #54244
@tilakrayal @sachinprasadhs
I already mentioned that the code will run without any issues on Google Colab and the issue is not reproduce-able on its environement, I'm actually facing the issue while running the code on device (on a raspberry Pi aarch64 architecture). The bug might be in the tflite-runtime python wheel of aarch64.

[2022-02-04 11:29] reuben commented on #54268
FWIW the build works fine on the `master` branch.

[2022-02-04 11:45] Cafelatte1 commented on #54243
Okay ! Thanks

[2022-02-04 12:04] tilakrayal commented on #54263
@SinDongHwan ,
In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.

[2022-02-04 12:14] ghylander commented on #47554
Just started having this issue with a new model i'm developing
python3.10.2 and tf 2.9.0.dev20220202

[2022-02-04 12:30] mercksamir opened #54270 "Getting incorrect value of lengthOutputTensor on iOS"
**System information**
- Using a stock example script provided in TensorFlow
- iOS
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below): 2.6.0
- Python version: 3.9.10
- Bazel version (if compiling from source):3.7.2

**Current behavior**
I've used the stock example code snippet as mentioned below.

[code]

The above code is executed on Android and iOS bo

[2022-02-04 12:44] reuben commented on #54268
[code]

[2022-02-04 12:47] reuben commented on #54268
Hm, but that change is already applied on r2.8... Let me try commenting it out.

[2022-02-04 12:50] reuben commented on #54268
Oh wait, it isn't! Applying 4ec84aa99372ca7899fb12715edd2bfe3c947c88 on r2.8 fixes the build for me!

[2022-02-04 14:17] ghylander opened #54271 "model.fit() bug when using a zipped Dataset as input for a multiple-input model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.9.0.dev20220202
- Python version: 3.10.2

**Describe the current behavior**
I have a custom model which tak

[2022-02-04 14:25] negvet commented on #50487
For me in TF 2.5.0 the problem is hardware-dependant.
It is present with V100, but not with 2080 Ti.

[2022-02-04 14:39] dspdog commented on #45965
issue still exists

[2022-02-04 14:57] #51090 closed

[2022-02-04 15:02] jvishnuvardhan commented on #50728
@roebel Is it possible for you to open this issue in keras-team/keras repo as the development of Keras moved to that repo.

Please note that Keras development moved to another repository to focus entirely on only keras. Could you please repost this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues). Thanks!

[2022-02-04 15:32] cranmer commented on #33172
Apparently this is stale and closed, but I'd like to bring it up again here as the original issue didn't make it very clear why this is useful. It seems like if one has `tf.linalg.expm` that it is good enough since multiplying by a vector is then trivial. However
 in practice one can calculate  exp(𝐴)𝑏  without first computing  exp(𝐴)  which is cheaper. This is what `scipy.sparse.linalg.expm_multi

[2022-02-04 15:57] mohantym commented on #54265
Hi @jiannanWang ! I was getting invalid argument error in above code which got resolved by disabling eager execution . Attaching resolved [gist ](https://colab.sandbox.google.com/gist/mohantym/08933c56ef3f271d6cd6bd3a26e6e15b/github_54265.ipynb#scrollTo=wI4TxI9ecfDH)for reference.

[2022-02-04 16:20] gomer-noah commented on #21809
For posterity in case someone else encounters this issue (mine was importing torch instead of tensorflow, but I believe the issue is the same):

I was able to solve it by adjusting the OMP policy. Setting an environmental variable (OMP_NUM_THREADS = 2) greatly reduced CPU usage without slowing down my throughput. I went from using 100% of all 16 cores to using 100% of only two cores. Setting OMP_N

[2022-02-04 16:21] elfringham opened #54273 "Build broken on AARCH64 by XNNPACK update"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (

[2022-02-04 16:22] elfringham commented on #54273
@cfRod @nSircombe

[2022-02-04 16:30] andmis opened #54274 "AutoGraph could not transform <function ...>"
[code]

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 12
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary (`pip3 install tensorflow-macos`)
- TensorFl

[2022-02-04 16:37] andmis commented on #54274
I did some investigation and the problem seems to be on the line `log_π_θ: tf.Tensor` giving a type annotation for `log_π_θ`. If I comment that line out, the issue goes away.

[2022-02-04 17:03] prmudgal commented on #54164
@tilakrayal Thanks for the suggestion. Tensorflow compression suggestion is to include it as custom op in TFLite. Please see [here](https://github.com/tensorflow/compression/issues/119#issuecomment-1029331406). It will be helpful if TFLite team can support to include this as custom op.

[2022-02-04 17:29] mihaimaruseac commented on #53632
If I understand correctly, if you revert these two old commits you can build on the latest version of master and not encounter any issues?

[2022-02-04 17:31] mihaimaruseac commented on #49179
That is correct, it is an issue on our release process that this keeps happening. Apologies for this.

Fortunately, I don't think there will be any issue in this case, but if we discover a bug that impact users we will do a patch release to fix. Estimator is deprecated and used only in maintenance mode, so there shouldn't be any breakages, but we're open to being wrong and fixing this in 2.8.1, if

[2022-02-04 17:40] elfringham commented on #53632
Pretty much yes, but not quite so simple as that. There are later commits that build on the use of _cpu_feature_guard.so so simply reverting https://github.com/tensorflow/tensorflow/commit/367cf9968c3d14d9d41d1775d8ceeb8e7bf3190f is not possible which is why I just removed the call from self_check.py. Also https://github.com/tensorflow/tensorflow/commit/7fbc5be3b5a3cc17c05f1ae5b0577fdca8a0e0e2 loo

[2022-02-04 17:42] mihaimaruseac commented on #53582
Our `BUILD` files ensure that there is no actual cyclic dependency between the projects, except at Python import layer, as modules/plugins.

Hence, you can build TF, Estimator (deprecated, will be dropped in the future), the GCS filesystem plugin in this order and then at import time in TF it all should work.

We do this when building the standard release:

- cut branch in TF, cut branch in Keras

[2022-02-04 17:44] mihaimaruseac commented on #54273
CC @Maratyszcza

[2022-02-04 17:46] mihaimaruseac commented on #53632
Tagged the author of the XNNPACK dep on that PR.

Will try to get some help on this issue too.

[2022-02-04 17:49] jvishnuvardhan commented on #53816
@bersbersbers @Janus-Shiau Looks like this was resolved. Can you please check this [gist](https://colab.research.google.com/gist/jvishnuvardhan/1fa8750bc428f6dbc31bdae7b86ebb85/untitled1157.ipynb). Please let me know if i am missing anything. Thanks!

[2022-02-04 17:52] jvishnuvardhan commented on #53816
@bersbersbers @Janus-Shiau Disregard my last comment. I ran it on CPU which works well as you mentioned earlier.
This is throwing wrong results on GPU. Thanks

[2022-02-04 17:59] jiannanWang commented on #54265
Hi mohantym, thank you for your response! From my perspective, the results for disabling eager execution are wrong, while the invalid argument error is kind of expected. In the above example, when the axis is [0, 0], I would expect it to act like axis = [0] instead of axis = [0, 1].

Moreover, I found that in tf.function mode, as long as len(axis) = len(input_tensor.shape), tf.math.reduce_sum, tf.

[2022-02-04 18:25] jvishnuvardhan commented on #50349
@Mastiff37 I think `sparse` input is not supported. Some other layers like `Dense` supports `sparse` tensors. You could convert sparse tensors into dense tensors and pass it to the `Conv` layers. Thanks!

[2022-02-04 18:29] kabilan6 commented on #54259
@duncanriach we noticed issue with both single and multi gpu workers. i tried tf 2.8 version and still same issue. we create tensor dataset from parquet file. then we use tf unbatch and batch function, then distribute with experimental_distribute_dataset

[2022-02-04 18:52] Mastiff37 commented on #50349
Understood.  The desired use case is one in which processing the non-sparse version is impractical.  But maybe this is a feature request rather than an issue.  Or maybe the issue is that a more helpful error message could be provided, indicating lack of support?

[2022-02-04 18:56] ngzhian commented on #54273
Will be fixed by https://github.com/google/XNNPACK/pull/2539

[2022-02-04 19:06] dwipddalal commented on #54271
I would like to work on this. I am new to this community could anyone please guide me how to go about solving this issue.

[2022-02-04 19:29] bersbersbers opened #54276 "Deterministic GPU implementation of unsorted segment reduction op not available on Windows"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): see below
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 21H2
- TensorFlow installed from (source or binary): from PyPI
- TensorFlow version (use command below): v2.8.0-rc1-32-g3f878cff5b6 2.8.0
- Python version: 3.10.2
- CUDA/cuDNN version: 11.2, 8.1.1
-

[2022-02-04 19:31] haozha111 commented on #53849
@karimnosseir could you help take a look? Thanks!

[2022-02-04 19:39] jvishnuvardhan commented on #50349
@Mastiff37 Recently keras team improved `layers.preprocessing` code. If the current preprocessing layers are not supporting, then please raise an issue in [keras-team/keras](https://github.com/keras-team/keras/issues). Please note that Keras development moved to another repository to focus entirely on only keras.

When you open a new issue, please provide a standalone code with some toy data to te

[2022-02-04 19:41] jvishnuvardhan commented on #50349
Agree with you on the error message. Will try to update it. Thanks!

[2022-02-04 19:59] #50349 closed

[2022-02-04 20:00] karimnosseir commented on #53849
@fatihkiralioglu
You can use TfLiteInterpreterOptionsAddDelegate for sure. How to get TfLiteDelegate ? TfLite delegates expose C API functions to create TfLiteDelegate instances
example,
[GPU](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/gpu/delegate.h#L153)
[XNNPACK](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/xnnpack/xnnpack_de

[2022-02-04 21:29] alexhepburn opened #54277 "Option to avoid caching with bijectors."
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.7.0
- Are you willing to contribute it (Yes/No): Yes

**

[2022-02-04 21:42] bersbersbers commented on #37357
Same for `tf.summary.create_file_writer`, which was listed by the OP but not affected by #41173, it seems. This is as of TF 2.8.0.

[2022-02-04 22:03] #54273 closed

[2022-02-04 22:22] rthadur commented on #46401
Please check latest comments here https://github.com/keras-team/keras/pull/16008#issuecomment-1030343173 , this has been deprecated and meant for internal use only. Thank you

[2022-02-04 22:22] #46401 closed

[2022-02-04 22:37] duncanriach commented on #54259
@kabilan6,

# Single vs multi-GPU

When considering determinism, if there is not determinism with a single GPU then there will also not be determinism with multi-GPU. (The inverse is not necessarily true, however.) Once a single GPU is operating deterministically, multi-GPU will automatically operate deterministically, unless you are running into an independent issue with multi-GPU, which is unlik

[2022-02-04 23:04] kabilan6 commented on #54259
Thanks for your timely response. If the auto sharding is set to OFF , how tf batch data will be distributed to different worker and multiple gpu with in a worker in multi worker strategy?

Another question, If i try mirror strategy ( with single worker and single GPU), we noticed data non determinstic  data(tf2.7), do you think this should be resolved in 2.8 ?

 Have you confirmed that the Petasto

[2022-02-04 23:09] roebel commented on #50728
Ok I moved the issue.

[2022-02-04 23:09] #50728 closed

[2022-02-04 23:22] sachinprasadhs commented on #54241
Thanks for opening this feature request. Development of keras moved to separate repository https://github.com/keras-team/keras/issues

Please post this issue on keras-team/keras repo.
To know more see;
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thank you!

[2022-02-04 23:50] sachinprasadhs commented on #53735
This is because only till Rank 5, case is handled, anything above that rank will throw the unimplemented error.
Is there any specific need for Rank above 5 in general use case scenarios.

[2022-02-05 00:16] #18257 closed

[2022-02-05 01:16] #16629 closed

[2022-02-05 01:16] #14886 closed

[2022-02-05 01:16] #14851 closed

[2022-02-05 01:16] #15783 closed

[2022-02-05 01:16] #53026 closed

[2022-02-05 01:16] #19621 closed

[2022-02-05 01:16] #11144 closed

[2022-02-05 01:41] reedwm commented on #54276
@benbarsdell, do you know why the kernels had to be disabled on Windows, and how hard it would be to enable them for Windows?

/CC @duncanriach

[2022-02-05 01:44] piperod commented on #53296
I am having exactly the same issue.  I haven't been able to start training with all the 256 cores. I can only use 8 at a time.

[2022-02-05 03:04] jvishnuvardhan commented on #49940
Duplicate of #https://github.com/tensorflow/tensorflow/issues/44670

Let's track the progress in that issue. Thanks!

[2022-02-05 04:04] markub3327 commented on #54241
Okej, I create a feature request there: https://github.com/keras-team/keras/issues/16015.

Have a nice day.

[2022-02-05 04:17] tauruswcc commented on #34431
Thank you so much for your comments! I finally solve the problem by using the abseil package. Specifically, I use the following:

[code]

[2022-02-05 04:28] #54122 closed

[2022-02-05 04:29] jeongukjae commented on #54122
@sachinprasadhs Thank you for the response!

[2022-02-05 05:21] Tasfia-Ara commented on #22926
Is this issue still open? I would like to take a stab at it

[2022-02-05 05:49] duncanriach commented on #54259
My intention for asking you about setting `AutoShardPolicy` to `OFF` was as an experiment to see if that led to the non-uniqueness problem being resolved. If it did, then it would support the hypothesis that the problem of nondeterminism and non-uniqueness in the dataset was related to the Petastorm-provided dataset being nondeterministic/non-reproducible.

This is just an experiment to help isola

[2022-02-05 06:05] duncanriach commented on #54259
I think you should run one experiment at a time (on a single GPU); only run *one* of the following at a time, not necessarily in the order listed, and then we can use the results to infer what might be happening. You don't necessarily have to run all of these experiments. It sounds like you're starting with experiment two, although I'm concerned that you've changed the multi-GPU strategy, which co

[2022-02-05 06:15] duncanriach commented on #54259
Also, to debug these kinds of problem, to run the above experiments, you shouldn't need to run for very long. You should be able to see the nondeterminism after only a few steps, maybe 10 steps. You can check for determinism by performing a running hash on the examples coming out of the dataset. At this point, you'll want to focus on confirming determinism of the dataset coming out of Petastorm, b

[2022-02-05 06:28] duncanriach commented on #54259
And remember, as with any change you make, if setting `worker_count` to 1 (on its own, in the absence of other changes) leads to the batches being deterministic and unique, then it will merely provide certainty that the nondeterminism is coming from the Petastorm section of your data pipeline. It will not necessarily be the ultimate solution you will want to use. There might be a best-practice for

[2022-02-05 06:59] Wansh619 commented on #22926
@Tasfia-Ara are you new to this open source stuff

[2022-02-05 07:07] shenyufeng1234 commented on #54257
The issue also happened at r2.8, which has the fix.so they are different issue. My question is is there is any way to install the llvm-project from local ? such as download it to local manually and install it from there .

[2022-02-05 07:09] Tasfia-Ara commented on #22926
@Wansh619 Yes this is my first project.

[2022-02-05 07:11] Wansh619 commented on #22926
For me too but there is no response that is this  issue stiil open or not

[2022-02-05 07:13] Tasfia-Ara commented on #22926
I hope someone responds - it also seems that many people tried to solve this, but couldn't

[2022-02-05 07:16] Wansh619 commented on #22926
Are you a student?

[2022-02-05 07:19] Tasfia-Ara commented on #22926
yeah - I'm a comp sci major

[2022-02-05 07:26] Wansh619 commented on #22926
From which country?

[2022-02-05 08:04] Wansh619 commented on #22926
@Tasfia-Ara i was thinking that if you too are new in this so let work together as a tem to solve this issue
By the way do you have any idea how to work on this issue or you too need resources to learn.

[2022-02-05 08:06] Tasfia-Ara commented on #22926
@Wansh619 I will probably need more resources to learn more about this issue.

[2022-02-05 08:06] Tasfia-Ara commented on #22926
And working in a team also makes sense.

[2022-02-05 08:58] bersbersbers commented on #53816
Excuse my ignorance, but it looks to me like https://github.com/tensorflow/tensorflow/commit/18937a7232d8c66559b44afb99da2743f907da5a exactly reverted https://github.com/tensorflow/tensorflow/commit/d5a0174ddd279c1dd8ee434aa05edea4e0afaaf0. Should this issue be re-opened?

[2022-02-05 10:58] AKACHI1 commented on #22926
Hello, I am new here and want to contribute in your project I would like to ask what i should learn to contribute here and please also tell me some resources ....

[2022-02-05 11:02] shenyufeng1234 commented on #54242
Hi @sushreebarsa  , do you have any idea or can duplicate for this issue?

[2022-02-05 12:54] edwardyehuang opened #54279 "Extremely slow grads computation in dilatied convlution with a large dilation rate"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
- OS Platfo

[2022-02-05 14:57] hmaarrfk commented on #53582
Thank you for explination of the build process. I think this should help us better put things together.

In your description, does "GCS filesystem" get built in parallel with estimator?

[2022-02-05 16:13] johanbluecreek opened #54280 "Unintuitive error in learning rate type when saving then loading weights after further fitting"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution: Ubuntu 20.04.3 LTS (or the colab-env)
- TensorFlow installed from (source or binary): binary (through pip) (or the colab-env)
- TensorFlow version: 2.7.0
- Python version: 3.8.10 (or the colab-env)
- CUDA/cuDNN version: n/a
- GPU model and mem

[2022-02-05 17:51] alanpurple commented on #53647
windows build is almost impossible these days,  I've built tensorflow with cuda so many times before(2016~2021), but now I gave up

[2022-02-05 18:55] tranvansang opened #54281 "train_step method of custom model is not called in graph execution (i.e., non eager) mode"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes, but I modified only a minor portion from the stock example.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ArchLinux.
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA.
- TensorFlow installed from (source or binar

[2022-02-05 20:37] rohanmishra21 commented on #53908
@sushreebarsa Thanks for the reply! It seemed to be some issue with the tensorflow-metal plugin on the mac which led to inconsistencies, removing it solved the issue. Closing this issue now :)

[2022-02-05 20:37] #53908 closed

[2022-02-05 21:01] rohanmishra21 opened #54282 "TFLite model working in multi-processing but not multi-threading"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS Big Sur (M1)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: None
- TensorFlow installed from (source or binary): binary (pip package)
- TensorFlow version (use c

[2022-02-05 22:52] MahdiRahbar commented on #50575
I have the same problem. I get the following warning, and sometimes the program stops after that:

[code]

Does anyone know what the problem can be? How can I solve the problem?

[2022-02-06 00:10] Shanduur opened #54283 "UnknownError: Failed to get convolution algorithm"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): *Linux Debian 10 @ GCP Vertex AI*
- TensorFlow installed from (source or binary): *Vertex AI Environment TensorFlow Enterprise 2.7 (Intel® MKL-DNN/MKL)*
- TensorFlow version (use command below): *TensorFlow Enterprise 2.

[2022-02-06 00:54] dagresearch commented on #54215
we have the same issues. I am trying to run an object detection model with TensorFlow.

[2022-02-06 04:06] mohantym commented on #54265
Hi @sachinprasadhs ! Could you please look at this issue? It is replicating  in [2.7](https://colab.sandbox.google.com/gist/mohantym/1a40f4940de5e619cc7bf8b7a0b47923/github_54265.ipynb#scrollTo=wI4TxI9ecfDH), [2.8](https://colab.sandbox.google.com/gist/mohantym/7f0eebdbc6ae4b8a1764552a1452b0c7/github_54265.ipynb#scrollTo=t37fp5I8vsMf) and [nightly](https://colab.sandbox.google.com/gist/mohantym/44

[2022-02-06 04:15] mohantym commented on #54243
Ok @Cafelatte1 ! Closing this issue here then. Thanks!

[2022-02-06 04:15] #54243 closed

[2022-02-06 06:18] tranvansang commented on #54281
The culprit is here.

https://github.com/tensorflow/tensorflow/blob/993403945efc9e7a933e9c8bd3ad029c36c6882b/tensorflow/python/keras/utils/version_utils.py#L53

There are training.py and training_v1.py.

training_v1 does not support custom `train_step`.

The new training.py is only used when executed eagerly.

This should be documented somewhere.

[2022-02-06 06:18] #54281 closed

[2022-02-06 07:53] mohantym commented on #54271
Hi @dwipddalal ! You can go through[ model ](https://www.tensorflow.org/api_docs/python/tf/keras/Model)documentation to start contributing in this issue.

[2022-02-06 07:53] mohantym commented on #54271
@ghylander !
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999) . Thanks!

[2022-02-06 08:08] y-kitamu commented on #53144
I'm using Emacs and I have same issue in TF2.8.
For now, my solution is:
[code]
It works good for my environment.

[2022-02-06 12:24] #54208 closed

[2022-02-06 16:49] eladc4 commented on #53837
Looks like you got exactly the output I got (for TF 2.7.0)
[code]
When I changed the gist to install TF 2.6.3, I got:
[code]

Note the TF 2.6.3 quantized the network (tfl.qantize, tfl.dequantize), and TF 2.7.0 did not. That is the bug I reported in this issue

[2022-02-06 17:13] sachinkmohan commented on #53834
@tilakrayal Thanks for the response! But these models I tested are not part of tensorflow models repo. These are the 2 repositories I used. These code are build using tensorflow.

- For Obj Detection - https://github.com/pierluigiferrari/ssd_keras
- Semantic Segmentation - https://github.com/qubvel/segmentation_models

Please advice!

[2022-02-06 18:09] amithadiraju1694 commented on #50977
I'm also facing the same issue, I agree with @tahaabdolkarimi  , the issue is not Keras-related yet ; I tried to save the trained model from quick start tutorial as `tf.saved_model.save(model, ...)` and loaded similarly , I haven't seen any issues all while but when a loaded model is passed a dictionary of inputs I see the following error message:

`ValueError: Could not find matching concrete fun

[2022-02-06 18:34] elad-c commented on #53837
Looks like you got exactly the output I got (for TF 2.7.0)
[code]

When I changed the gist to install TF 2.6.3, I got:
[code]

Note the TF 2.6.3 quantized the network (tfl.qantize, tfl.dequantize), and TF 2.7.0 did not. That is the bug I reported in this issue

[2022-02-06 23:06] jdpipe opened #54284 "Tensorflow unsupported within MSYS2?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): wanted binary .whl via `python3 -m pip install tensorflow`
- TensorFlow version: any would be fine, was trying for 2.6.3
- Python version: 3.9
- Installed using virtualenv? pip? conda?: pip
- CUDA/cuDNN version: no GPU

**Describe the problem**

On MSYS2, usi

[2022-02-06 23:48] aelmrabe commented on #44751
Hi, is there any way to use the tensorflow-io in mac m1 ? Could I build the source code of tensorflow-io in the mac m1 machine ? The purpose is to use tensorflow-io with kafka in mac m1. Thanks.