[2019-02-26 11:28] Keepmoving-ZXY opened #26132 "Tensorflow hang when specify 'nccl/xring' as all reduce alg"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:No
- TensorFlow installed from (source or binary):binary
- TensorFlow version (use command below):1.13.0-rc0
-

[2019-02-26 11:48] aescart1 commented on #9489
+1 - worked on linux

[2019-02-26 11:53] melgor commented on #21797
If you would like to get ThreadPoolOptionProto, here is the code:
[code]

[2019-02-26 12:06] pontiusnn commented on #25759
Hi,
Thank you for your reply.
From your post I understand that this could be a vendor's fault in not implementing correctly glGetIntegerv(GL_MAX_COMPUTE_WORK_GROUP_INVOCATIONS,...).
This is not the case on my GPU. The device reports 256 for this limit, but the gpudelegate still goes ahead and runs shaders with size of 1024.

I am working with a Broadcom VC5 GPU, so probably not something you have

[2019-02-26 12:08] flybikeGx commented on #26114
problem solved, but when i run examples in https://www.tensorflow.org/tutorials/keras/basic_text_classification, its just nothing better than CPU only. I wonder if I get something wrong or it should be that?

[2019-02-26 12:13] cosmir17 commented on #25839
I am closing this ticket. I should have asked for a Java tensorflow approach.

[2019-02-26 12:13] #25839 closed

[2019-02-26 12:29] cosmir17 opened #26133 "Java Tensorflow save & restore without using filesystem"
**System information**
- TensorFlow version (you are using): Up to date
- Are you willing to contribute it (Yes/No):

**Describe the feature and the current behaviour/state.**
I previously opened a feature ticket and asking for a **python** approach.
https://github.com/tensorflow/tensorflow/issues/25839

I wasn't aware there is **java tensorflow**.

I would like to retrieve(instead of Save) traini

[2019-02-26 12:35] gungui98 commented on #23747
can you indicate the problem, I also face it when running export_model.py

[2019-02-26 12:56] tensorflowbutler commented on #21772
It has been 35 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-26 12:56] tensorflowbutler commented on #25525
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-26 13:18] kbhute-ibm opened #26135 "//tensorflow/contrib/layers:normalization_test fails with Assertion error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):     Linux Ubuntu 16.04 s390x
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command

[2019-02-26 13:27] keotic opened #26136 "Estimator.train doesn't respect the RunConfig keep_checkpoint_max limit"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-02-26 13:28] cicido opened #26137 "RandomUniform"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

Some of the operators in the model are not supported by the standard TensorFlow Lite runtime. If those are native TensorFlow operators, you might be able to use the ex

[2019-02-26 13:38] kbhute-ibm commented on #26135
This seems related to https://github.com/tensorflow/tensorflow/issues/16540.

Please note that along with testOutputBigInput4DNCHW, 4 other subtests are failing, testOutputSmallInput5DNCHW, testOutputBigInput5DNHWC, testOutputBigInput5DNCHW, testOutputBigInput4DNHWC.

As mentioned in the issue https://github.com/tensorflow/tensorflow/issues/16540, with increasing tolerance as below it passes the t

[2019-02-26 13:40] Davide-sd commented on #26042
Ok, I will try. In the meantime I have successfully build version 1.11 without installing `tensorflow-estimator==1.2.0` or `tensorflow==1.2.0`.

[2019-02-26 13:44] kbhute-ibm commented on #16540
@hgadig Hi, yes we are still facing this issue for version 1.12.0 with same details.

[2019-02-26 13:49] Nayana-ibm opened #26138 "TensorFlow v1.12.0 Test failures on s390x"
**System information**
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04, 18.04 s390x
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
TensorFlow installed from (source or binary): source
TensorFlow version: v1.12.0
Python version: 2.7.x
Installed using virtualenv? pip? conda?: Building from source
Bazel version (if compilin

[2019-02-26 13:49] Nayana-ibm commented on #26138
@gunan Could you please guide us on this?

[2019-02-26 14:03] steige2 commented on #25747
Using bazel 0.22 does not fix the problem:

$ bazel version
INFO: Invocation ID: 73f4ed34-0d92-4e5b-932f-83bfd59148dc
Build label: 0.22.0- (@non-git)
Build target: bazel-out/k8-opt/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Tue Feb 5 15:23:19 2019 (1549380199)
Build timestamp: 1549380199
Build timestamp as int: 1549380199

$ bazel build --config=opt --

[2019-02-26 14:03] steige2 commented on #25747
Using bazel 0.22 does not fix the problem:

$ bazel version
INFO: Invocation ID: 73f4ed34-0d92-4e5b-932f-83bfd59148dc
Build label: 0.22.0- (@non-git)
Build target: bazel-out/k8-opt/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Tue Feb 5 15:23:19 2019 (1549380199)
Build timestamp: 1549380199
Build timestamp as int: 1549380199

$ bazel build --config=opt --

[2019-02-26 14:04] rishi-rranjan commented on #26114
This issue is still there with v1.13.1, I am trying master branch to check if it compiles.

[2019-02-26 14:07] danaugrs commented on #26098
@alextp I removed [the check for eager mode](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/gradients_util.py#L557-L559) as you suggested but then it fails shortly after:

[code]

Any ideas?

[2019-02-26 14:09] Micy1919 opened #26139 "bazel-bin transform_graph err, loading graph ..pb failed with can't parse pb file"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-02-26 14:11] Micy1919 commented on #26139
![image](https://user-images.githubusercontent.com/16379388/53418747-77c99500-3a13-11e9-968c-8a04a06e15fd.png)

[2019-02-26 15:27] andrewsmartin opened #26140 "Tensorflow 1.13.1 not available on pypi"
Hello! I see that 1.13.1 has been released yesterday, but it seems like it's not yet on pypi. When will it be available?

[2019-02-26 15:29] skye commented on #25958
@azaks2 do you know who's a good person to look at this?

[2019-02-26 15:38] vinaysannaiah commented on #20922
Were you able to solve this Issue?? I am also facing the same Problem. I would be great if someone could provide their solution if available!

[2019-02-26 15:44] srjoglekar246 commented on #26102
I have added the request to our tracking issue [#21526](https://github.com/tensorflow/tensorflow/issues/21526). Closing this one...

[2019-02-26 15:44] #26102 closed

[2019-02-26 15:44] ricvo commented on #25484
Any news on this bug?
Thanks!

[2019-02-26 15:46] rishi-rranjan commented on #26114
master barnch keeps giving following error:

nvcc error   : 'cudafe++' died with status 0xC0000005 (ACCESS_VIOLATION)
Target //tensorflow/tools/pip_package:build_pip_package failed to build
INFO: Elapsed time: 4770.792s, Critical Path: 472.50s
INFO: 1547 processes: 1547 local.
FAILED: Build did NOT complete successfully

[2019-02-26 15:52] DHOFM commented on #26081
I've done some more investigation and tested tf.keras and keras in an virtualenv on my Mac. I can reproduce the behavior. The trining works with keras while tf.keras throws the exception. It seems to be a problem with the generator. The generator is used like this:

[code]

and the image_generator:

[code]

So the exception as mentioned above is:

[2019-02-26 15:57] akrana opened #26141 "Python 3.6.8 and Tensorflow 1.12.0 not working on windows 2008 R2"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 2008 R2 64-bit
- Tenso

[2019-02-26 16:10] akrana commented on #26141
Tensorflow installation logs if required

C:\Tensorflow\models\research>pip install tensorflow
Collecting tensorflow
  Using cached https://files.pythonhosted.org/packages/05/cd/c171d2e33c0192b04560ce864c26eba83fed888
fe5cd9ded661b2702f2ae/tensorflow-1.12.0-cp36-cp36m-win_amd64.whl
Requirement already satisfied: keras-applications>=1.0.6 in c:\users\administrator\appdata\local\pro
grams\python\pyt

[2019-02-26 16:16] calledbymountains commented on #24387
This is going to be an important contribution. I hope someone takes a look

[2019-02-26 16:23] bwolfus commented on #26140
I have the same problem. I can't get new TF by pip.

[2019-02-26 16:32] XiaomoWu commented on #26140
I have the same issue! I can't use tensorboard on Python 3.7 unless update to 1.13.1.

[2019-02-26 16:37] alextp commented on #26098
Ah, so it's a little more complex than that. I think a better fix is done inside keras proper by entering the keras graph before keras calls tf.gradients, in get_updates. @robieta do you know what the best place to do this is?

[2019-02-26 17:34] ymodak commented on #26050
[```tf.estimator.DNNRegressor```](https://www.tensorflow.org/api_docs/python/tf/estimator/DNNRegressor#__init__) has one of the argument as ```label_dimension```, you can try setting it to an appropriate number to pass multiple outputs.

[2019-02-26 17:48] temrich commented on #25747
@steige2 which platform are you building on? I am not seeing the issue on MacOS or Linux using Bazel 0.22.

[2019-02-26 17:57] steige2 commented on #25747
$ uname -a
Linux e1.carbonate.xxx.yyy 3.10.0-862.6.3.el7.x86_64 #1 SMP Fri Jun 15 17:57:37 EDT 2018 x86_64 x86_64 x86_64 GNU/Linux

If you tear a hole in a net you have fewer holes

Scott Teige PhD
Deep Learning
Indiana University Research Technologies
steige@iu.edu
Office: +1 812 856 7331

[2019-02-26 18:02] roholazandie commented on #24828
Yes, I also have NCCL installed. My version is 2.4.2 which is compatible with cuda9 and cudnn 7.5.0 and they work perfectly together.

[2019-02-26 18:04] jvishnuvardhan commented on #25937
@quartermaine Could you uninstall tensorflow and python completely and please follow the instructions [here](https://github.com/jvishnuvardhan/Installing-TensorFlow-GPU-on-Windows-10-TF1.12). Please let me know how it progresses. Thanks!

[2019-02-26 18:12] drewszurko commented on #26140
Now available on PyPI - https://pypi.org/project/tensorflow/1.13.1/

[2019-02-26 18:15] yhliang2018 commented on #25722
@lhlmgr thanks for the detailed comments. Yes, I agree, the current multi_head is mainly for multi-objective learning, and not designed for GAN or other similar models. Currently this FR may not be prioritized as we mainly focus on TF 2.0 recently. Contributions on this feature are welcome to our [Addons](https://github.com/tensorflow/addons).

[2019-02-26 18:16] #26140 closed

[2019-02-26 18:19] angersson commented on #26014
Our internal images are built using the Dockerfiles in the tools/dockerfiles directory, which are indeed based on 16.04. tools/docker is being removed (see https://github.com/tensorflow/tensorflow/pull/26113). Sorry for the confusion.

[2019-02-26 18:19] #26014 closed

[2019-02-26 18:23] jvishnuvardhan commented on #26072
@KaramAbuaisha
Thank you for your post. We noticed you have not filled out the fields in the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. Thanks!

[2019-02-26 18:25] srjoglekar246 commented on #23627
@milinddeore The [Compatibility Guide](https://www.tensorflow.org/lite/tf_ops_compatibility) should be a good resource for most ops. However, there is a slight chance it might be outdated, in that case you can look into our [kernels directory](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/kernels).

[2019-02-26 18:36] ymodak commented on #26114
@flybikeGx The training time for your model can be reduced drastically when computed on gpu compared to cpu computation. If you compare the training time elapsed for both you will find that gpu is much superior.
@rishi-rranjan Can you please post a [new issue](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md) by providing the information asked by the temp

[2019-02-26 18:38] jvishnuvardhan commented on #25608
@TropSpirit If the issue was resolved, please close it. Thanks!

[2019-02-26 18:38] temrich commented on #25747
Did you recently update to 0.22? If so, did you by any chance run `bazel clean --expunge`?

[2019-02-26 18:42] jvishnuvardhan commented on #26141
@akrana I think for some reason, tensorflow was not installed correctly. I had this issue earlier and resolved it. Please uninstall python and tensorflow Then reinstall using the instructions [here](https://github.com/jvishnuvardhan/Installing-TensorFlow-GPU-on-Windows-10-TF1.12). Thanks!

[2019-02-26 18:48] preethivenkatesh commented on #26028
Could you please run the same instruction on "native" just to be sure
gcc -march=native -dM -E - < /dev/null | egrep "SSE|AVX" | sort

[2019-02-26 18:50] karimnosseir commented on #25931
Hi,
Is it possible to share the model, or if you have mini model that can reproduce this failure. So we can check what is failing.

Thanks

[2019-02-26 18:51] srjoglekar246 commented on #25969
I don't think it should be an issue. As long as it contains supported ops, the model should convert just fine. Let us know if you have any issues!

[2019-02-26 18:51] #25969 closed

[2019-02-26 18:52] #25608 closed

[2019-02-26 18:53] jvishnuvardhan commented on #26138
@Nayana-ibm Could you mention the steps you followed for the installation? Recently I had followed the instructions [here](https://github.com/rnreich/ubuntu-tensorflow-gpu-all-versions) to install TF-GPU successfully. It is best if you can uninstall python and tensorflow and reinstall freshly. Thanks!

[2019-02-26 18:54] danaugrs commented on #26098
I made [a pull request](https://github.com/tensorflow/tensorflow/pull/26142) that seems to fix this issue but then the next line in my code fails - it attempts to use the computed updates inside a `tf.keras.backend.function`. Both lines are shown below (the first one now works with the PR).
[code]
The stack trace:
[code]

[2019-02-26 19:01] steige2 commented on #25747
I did not run that, but here is the result:

$ /N/u/steige/Carbonate/bazel/output/bazel clean --expunge
Starting local Bazel server and connecting to it...
INFO: Invocation ID: acc77cce-a369-4b17-8937-38522ad26183
INFO: Starting clean (this may take a while). Consider using --async if the clean takes more than several minutes.

$ /N/u/steige/Carbonate/bazel/output/bazel version
INFO: Invocation ID

[2019-02-26 19:04] bwolfus commented on #25996
I have the same issue in TF 1.13.1.

[code]

[code]

[code]

[code]

[2019-02-26 19:48] josh11b commented on #9359
We have recently been looking at this and been trying things to work around the hashable issue, but we haven't found anything that doesn't break a lot of code. In addition to the hashing issue, I've also seen problems with code like:

tensorflow/python/ops/embedding_ops.py, line 117, in _embedding_lookup_and_transform
    if params is None or params in ((), []):

which is relying on Tensor.__eq__

[2019-02-26 19:49] jvishnuvardhan commented on #26095
@NeilGirdhar Could you try the solution provided [here](https://stackoverflow.com/questions/35911252/disable-tensorflow-debugging-information) to disable warnings, errors etc. If that was not solving, please provide a code to reproduce the issue. Thanks!

[2019-02-26 19:57] jvishnuvardhan commented on #26037
@kerwinxu Thank you for your post. We noticed you have not filled out the fields in the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. Are you getting t

[2019-02-26 20:00] jvishnuvardhan commented on #26084
@mika-fischer Could you explain more details on the problem and its context? Thanks!

[2019-02-26 20:01] NeilGirdhar commented on #26095
@jvishnuvardhan What does the tensorflow log level have to do with anything?  The warnings I'm talking about are raise by Python.  The problem is that tensorflow needs to fix its imports.

[2019-02-26 20:06] EvansDaniel commented on #22158
@reedwm Yeah from my experimentation it seems like allocating cuda contexts takes some memory. Also, some memory is used when initializing cudnn and cublas. I think this mostly accounts for it. Does anyone have any additional insight?

[2019-02-26 20:14] JTunis commented on #25988
Happy to take over the documentation of all `tf.keras.applications`. I do think I'd like to play with pointing to `keras-applications`, so that changes are reflected in the TF2.0 docs, or, minimally, adding a link to the actual implementations.

Maybe I'll start with migrating documentation from `keras-applications` to `tf.keras.applications` manually so that there's some useful documentation for

[2019-02-26 20:17] nfelt commented on #25707
Reopening to track propagating this fix into the TF 2.0 Keras TensorBoard callback, which will fix the user issues reported in the original description above.

[2019-02-26 20:31] mrinmay235 commented on #3636
I am having similar problem running multiple trained Inception V3 models on different GPUs due to out of memory

(failed to allocate 5.15G (5525864448 bytes) from device: CUDA_ERROR_OUT_OF_MEMORY: out of memory

followed by

2019-02-26 15:25:59.123826: E tensorflow/stream_executor/cuda/cuda_blas.cc:464] failed to create cublas handle: CUBLAS_STATUS_NOT_INITIALIZED
2019-02-26 15:25:59.128184: E ten

[2019-02-26 20:37] temrich commented on #25747
Thank you for continuing to look into this! DO you know what "Unknown option: -C" is referring to in the log you provided? Appears to be an invalid git command.

[2019-02-26 20:48] steige2 commented on #25747
Hello,
No I’m sorry I don’t know where that option is coming from.
I’m happy to continue looking into this but the day is getting late
for me (I’m in US eastern timezone) I’ll be back at it tomorrow AM,
about 16 hrs from now.
Best,
S

If you tear a hole in a net you have fewer holes

Scott Teige PhD
Deep Learning
Indiana University Research Technologies
steige@iu.edu
Office: +1 812 856 7331

[2019-02-26 20:55] jvishnuvardhan commented on #26087
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-02-26 20:55] #26087 closed

[2019-02-26 21:01] Degerz commented on #22
@talregev What about ARM or Broadcom ? The former probably has subpar OpenCL implementation and the latter doesn't even officially provide OpenCL drivers! It's not Google's responsibility to create and maintain a competent compute stack for hardware vendors ...

@iperov You realize that training neural nets with embedding layers on PlaidML is painful, right ? PlaidML also has a bunch of other limi

[2019-02-26 21:06] mrry commented on #26011
Ryan added this transformation, so I'll let him comment on the usage question.

[2019-02-26 21:12] lazysjb opened #26143 "[TF2.0] Error Logging for GradientTape"
Hello everyone,

I was wondering if there is an option for error logging / or could we have tf output error message for gradient calculation. In the example below, the below will output `None` values in the current setting but will output correct gradients when the `tf.Variable`s are a `float` type. My question is, could we please add an error message stating something like `gradient calculation s

[2019-02-26 21:29] Supergitter123 commented on #25984
Yee cuda, cudnn together with the correct paths are added as described in the guide.

Can there be any problem due to me trying to run it all in PyCharm?

[2019-02-26 21:32] unoexperto commented on #22
Jesus, I wish you guys STFU and get back to work instead. I'll have to unsubscribe from the ticket because it's unbearable to get emails with flame wars. Too bad maintainers do not mute the thread.

@gunan @caisq @sanjoy Could you please do something about it ?

[2019-02-26 21:42] ymodak commented on #25984
Yes its possible that PyCharm interpreter is missing those paths. Are you able to import tensorflow using your terminal?

[2019-02-26 21:44] facaiy commented on #25996
Hi, @bwolfus . I think some deprecated warnings has been clear in the master branch, and it will take effect in the next release (perhaps 1.14 or 2.0). And if not, we welcome contributions to fix it.

[2019-02-26 21:49] chwang85 opened #26144 "Why deprecate tf.layers.dense?"
In the tensorflow 1.13 document of tf.layers.dense, there is a warning:
Warning: THIS FUNCTION IS DEPRECATED. It will be removed in a future version. Instructions for updating: Use keras.layers.dense instead.

I am very confused, because this function is very easy to use, and I used it very frequently. Why do you deprecate it?

By the way, I did not find the alternative “keras.layers.dense”, there

[2019-02-26 22:02] mrry commented on #26104
@alextp is the authority on variables in the TF 2.0 API, and will know if this is expected to work.

[2019-02-26 22:05] alextp commented on #26104
@wangpengmit I think you're already looking at it?

[2019-02-26 22:08] shubham06vijay commented on #8876
So, what exactly is the feature_column attribute?

[2019-02-26 22:13] bwolfus commented on #25996
Hi, @facaiy. Thank you for your answer. In that case I will wait for the new version.

[2019-02-26 22:13] emailweixu commented on #25403
Issue solved with tf-nightly-gpu and CUDA 10

[2019-02-26 22:37] jtressle opened #26145 "Tensorflow 1.13 - can't deprecate tf.layers.conv2d - no existing replacement"
I'm updating to Tensorflow 1.13 from 1.12.

tf.layers.conv2d is being deprecated.

The note states:
[code]

First, there is no 'keras.layers.conv2d'.  This is a 'keras.layers.Conv2D', but that is a different function and a direct replacement for 'tf.layers.Conv2D'.

Therefore, either make a 'keras.layers.conv2d' function or remove the deprecation warning for 'tf.layers.conv2d'.

Here's the link to

[2019-02-26 22:48] jtressle opened #26146 "Tensorflow 1.13 - can't deprecate tf.layers.batch_normalization. No existing replacement"
I'm updating to Tensorflow 1.13 from 1.12.

tf.layers.batch_normalization is being deprecated.

The note states:

[code]
First, there is no 'keras.layers.batch_normalization'. This is a 'keras.layers. BatchNormalization', but that is a different function and a direct replacement for 'tf.layers. BatchNormalization'.

Therefore, either make a 'keras.layers. BatchNormalization' function or remove the

[2019-02-26 22:55] mpekalski opened #26147 "[docs] (non) determinism in TF"
**Describe the feature and the current behavior/state.**
A documentation explaining determinism and sources of non determinism in TF applications. It should cover things from having multiple readers, seeds in the specific ops, seed in numpy, PYTHONHASHSEED, non-deterministic ops in CUDA (and why TF does not support passing deterministic flag even though it would be slower), `TF_CUDNN_USE_AUTOTUNE`

[2019-02-26 23:14] rishi-rranjan opened #26148 "v1.13.1 CUDA Compilation fails on Windows 10"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Windows 10
- Mobile device (e.g

[2019-02-26 23:14] rsepassi commented on #26011
`element_length_func` should be a function from an element in the `Dataset` to a scalar `int32` (i.e. a `Tensor` of shape `()` and type `tf.int32`), which is the length of the element. This determines which bucket the example will be routed to (the buckets are specified by `bucket_boundaries`). Then examples in each bucket will be batched together with batch sizes specified with `bucket_batch_size

[2019-02-26 23:15] rishi-rranjan commented on #26148
@ymodak Opening this as new issue.

[2019-02-26 23:23] rishi-rranjan commented on #26148
I had to merge https://github.com/tensorflow/tensorflow/issues/22387.

[2019-02-26 23:36] navneet-nmk commented on #25349
I believe even google [dopamine](https://github.com/google/dopamine) needs an update to tf 2.0

[2019-02-26 23:42] jvishnuvardhan commented on #26144
@chwang85 Thanks for finding this typo. Please use "keras.layers.Dense". Thanks!

[2019-02-27 00:00] jvishnuvardhan commented on #26148
@rishi-rranjan Could try the instruction [here](https://github.com/jvishnuvardhan/Installing-TensorFlow-GPU-on-Windows-10-TF1.12) that worked for installing TF1.12_gpu successfully. Follow the process listed but use newer version of CUDA10 (CUDA9.0 was used). Please let me know how it progresses. Thanks!

[2019-02-27 00:05] MarkDaoust commented on #26146
We are not planning to support these function-based layers in the future, as they rely on hidden global state. After tensor 2.0 there will only be object oriented layers.

That is a typo.

Can you send us a PR to fix it to `keras.layers.BatchNormalization`? It's easy with the online editor under the pencil button in the top right:

This line:

https://github.com/tensorflow/tensorflow/blob/master/t

[2019-02-27 00:14] jvishnuvardhan commented on #26137
@cicido
Thank you for your post. We noticed you have not filled out the fields in the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=00-bug-performance-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. It would be great if y

[2019-02-27 00:19] jtressle commented on #26146
@MarkDaoust Understood and I submitted a PR.

Will there be a migration tutorial or examples on how to convert from TF 1.X to 2.0?

I have a custom model trained using batch_normalization in Tensorflow 1.2.  If I want to use its checkpoint in TF 2.0, what would the steps be to use that model?  I'm worried TF would not recognize any variables that maybe affected by the different batch_normalization

[2019-02-27 00:20] #24946 closed

[2019-02-27 00:20] wangpengmit commented on #26104
Yes, I'm the assignee of a similar issue internally.

[2019-02-27 00:24] gunan commented on #26095
For 1.13, the branch is blosed unless we have security issues. BUt I am happy to accept this patch for master.

[2019-02-27 00:27] gunan commented on #26138
if the tolerances on the failures are low enough, I think we can simply loosen the tolerances on the tests.
For example, if tolerances are 1e-5, we can make them 1e-4 if it helps.
If we are seeing issues where the numbers do not match up by a lot, such as we need to make the tolerances 1e-3 or higher in the above example, that probably points to some numerical issues that need debugging.

[2019-02-27 00:40] qqfish commented on #25724
Can it be reproduced? I tried your script on GCE and it is executed as you expected
![image](https://user-images.githubusercontent.com/1269299/53456952-391ce600-39e5-11e9-9d33-b11c35e87585.png)

[2019-02-27 00:41] chwang85 commented on #26144
But why deprecate tf.layers.dense()?
But why deprecate tf.layers.dense()?
But why deprecate tf.layers.dense()?

[2019-02-27 00:43] chwang85 commented on #26144
Why do not you deprecate tf.Session()?

[2019-02-27 00:44] qlzh727 commented on #26026
Thanks for reporting the issue, I will take a look within this week.

[2019-02-27 00:53] chwang85 commented on #26144
It is ridiculous to deprecate tf.layers.dense()
Do you really care about the requirements of TF developers?

[2019-02-27 01:04] byronyi commented on #19391
@jbobba I believe NUMA support is added in a6bf9c8476a4acd37fe5f400bc01d9d4beacdfc2

[2019-02-27 01:07] chwang85 opened #26149 "Why deprecate tf.layers.dropout?"
In the tensorflow 1.13 document of tf.layers.dropout, there is a warning:
Warning: THIS FUNCTION IS DEPRECATED. It will be removed in a future version. Instructions for updating: Use keras.layers.dropout instead.

It is ridiculous to deprecate tf.layers.dropout, because it is widely used, and very easy to use.
Do you really care about the requirements of TF developers?
Do you really care about the

[2019-02-27 01:11] mpjlu commented on #25958
Hi @skye, @azaks2. I can work on this. Do you think we should optimize this OP?

[2019-02-27 01:16] yuefengz commented on #26132
Could you try with `CollectiveAllReduceStrategy`?  We have very limited support for MirroredStrategy running in distributed fashion.

[2019-02-27 01:21] jvishnuvardhan commented on #26129
@sumit1212 I noticed this as a duplicate issue as you posted it on original "tf-face-recognition" Repo and that is correct place for this issue. This is not Build/Installation or Bug/Performance issue related to TF. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions.

[2019-02-27 01:21] #26129 closed

[2019-02-27 01:23] jvishnuvardhan commented on #26128
@sumit1212 I noticed this as a duplicate issue as you posted it on original "tf-face-recognition" Repo and that is correct place for this issue. Closing this issue here. Thanks!

[2019-02-27 01:23] #26128 closed

[2019-02-27 01:30] alanpurple opened #26150 "need guide to build with CUDA 10.1"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu18.04.2
- Mobile device

[2019-02-27 01:32] chwang85 opened #26151 "Tensorflow 1.13: please do not deprecate important functions!!!"
According to Tensorflow 1.13, many important functions will be deprecated, such as:
tf.layers.dense()
tf.layers.dropout()
tf.layers.flatten()
tf.layers.batch_normalization()
...
Since these functions are very widely used, and also very helpful for building complicted models, would you please keep them in the future versions?

[2019-02-27 01:33] jvishnuvardhan commented on #25843
@Threynaud Could you check with recent version of tf-nightly-gpu-2.0-preview-2.0.0.dev20190226? Please let us know how it progresses. Thanks!

[2019-02-27 01:48] jvishnuvardhan commented on #26139
@Micy1919 Please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. It would be great if you can provide a small code to reproduce the error. Thank

[2019-02-27 01:48] alanpurple commented on #26150
and question, does windows gpu binary 1.13.1 works with CUDA10.1?

[2019-02-27 03:26] Keepmoving-ZXY commented on #26132
`CollectiveAllReduceStrategy` is ok, but I think nccl is the best for local reduction, so there is an idea that use nccl in a worker and other method based on network for reduction between workers and `nccl/xring` achieve this idea but has problem. So does the `CollectiveAllReduceStrategy` also achieve this idea, does `CollectiveAllReduceStrategy` also use nccl for reduction in a worker?

[2019-02-27 03:39] Ivankings commented on #6331
this work for me

[2019-02-27 04:44] LuWei6896 opened #26153 "ERROR: /home/luwei/ML/tensorflow/tensorflow-master/tensorflow/cc/BUILD:460:1: undeclared inclusion(s) in rule '//tensorflow/cc:math_ops_internal':"
@jmhodges @ry @eggie5 @bmabey @djones
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:no
- TensorFlow installed from (source or binary):source
- TensorFlow version:source code
- Python version:3.5.2
- Installed using virtualenv? pip? conda?:bazel build

[2019-02-27 04:48] chankim commented on #17629
**Hi, folks! Why all this fuss? Read below!
If you just downgrade from cuda 9.2 to cuda 9.0 (and the driver too), you will have other problems when installing a new software packages. The solution is just to add the cuda 9.0 toolkit leaving the cuda 9.2 intact.**
After you have cuda 9.2 and the corresponding newest driver, you can just add cuda 9.0 toolkit using .run file install. While you additi

[2019-02-27 04:52] MarkDaoust commented on #26146
Thanks @jtressle.

Yes you can preview the docs at: https://github.com/tensroflow/docs/site/en/r2
There is a guide to the update script, and one checkpointing doc,  but I'm not sure it has those specific details.

https://github.com/tensorflow/docs/blob/master/site/en/r2/guide/upgrade.md
https://github.com/tensorflow/docs/blob/master/site/en/r2/guide/checkpoints.ipynb

There will be a more in dept

[2019-02-27 04:54] LuWei6896 commented on #26153
@Vishnuvardhan Janapati pls help do something.

[2019-02-27 04:55] LuWei6896 commented on #26153
@jvishnuvardhan pls do semothing.

[2019-02-27 04:57] ageron commented on #25754
Hi @fchollet, test C (which is the most important), now seems to work, but unfortunately not test H and test I. I'm using version 2.0.0-dev20190226 (git version v1.12.0-8969-g0ae3728b74).

Side note: it would be nice if `keras.set_learning_phase(None)` could reset the learning phase to the default mode, so we wouldn't have to clear the whole session for that. Wdyt?

[2019-02-27 05:17] MarkDaoust commented on #26144
Hi @chwang85,

The plan for TensorFlow2 is, as we're doing with eager mode,  to tie state variables to python objects. The problem with `tf.layers.dense` is that it that it relies on hidden global state.

So from now on we're recommending people use the Object-oriented versions. But, we're not deleting `dense` anytime soon.

With tf2 `import tensorflow.compat.v1 as tf` should work for most program

[2019-02-27 05:20] MarkDaoust commented on #26146
And don't forget to send a pull request. Right now that commit is just sitting in your fork.

[2019-02-27 05:34] alanpurple opened #26155 "protobuf error from build"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04.2 x64
- Mobile device (e

[2019-02-27 05:38] jtressle commented on #26146
@MarkDaoust Pull request 26154 has been submitted.  Yeah I forgot to send in the pull.

Thanks

[2019-02-27 06:25] ageron commented on #25754
Oops, I think the fix created a new issue (I can create a new issue if you prefer, but I think it's all about the same thing):

[code]

Last line raise this exception:

[code]

I suppose this is because the first call to `fit()` creates a `FuncGraph` with 7 arguments, but the `learning_phase_scope()` adds an extra argument, so it fails.

[2019-02-27 06:27] nagreme opened #26157 "Build error: Undeclared inclusions of various numpy header files"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlo

[2019-02-27 06:43] yuefengz commented on #26132
Yeah, we will enable nccl implementation shortly in `CollectiveAllReduceStrategy`.

[2019-02-27 06:47] Zeit42 opened #26158 "Building 1.13.1 on Raspberry Pi freezes the board"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Raspbian 9.8
- Mobile device (

[2019-02-27 07:01] shuifeixiang opened #26159 "Eigen/CXX11/../../../Eigen/src/Core/GenericPacketMath.h error: invalid operands to binary expression ('const double2' and 'const double2') pxor(const Packet& a, const Packet& b) { return a ^ b; }"
**System information**
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from: source
- TensorFlow version: r1.99 and latest
- Python version: 3.5
- Installed using virtualenv? pip? conda?:
- Bazel version (if compiling from source): 0.22.0
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version: 9.0/7.0 and 8.0/7.0
- GPU model and memory: Geforce 1050 Ti

*

[2019-02-27 07:03] tmm1 commented on #23848
👍 would like to see this

[2019-02-27 07:09] ankur-venge opened #26160 "DataLossError: file is too short to be an sstable"
<em>Hi, I am trying to build a custom object detector using Tensorflow. I tried to do it in my local computer but it took a long time as I have an Intel i3 processor and no GPU. But I was able to start the training after running the following code:
`python train.py --logtostderr --train_dir=training/ --pipeline_config_path=training/ssd_inception_v2_coco.config`
The training continued for few epoch

[2019-02-27 07:15] guoyinchen opened #26161 "Tensorflow Lite on GPU failed on Android Pi9.0"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Android Pi9.0 with NXP i.MX8QM
- TensorFlow installed from (source or binary):
Build from source based on https://www.tensorflow.org/lite/performance/gpu_advanced
- TensorFlow version (or github SHA if from source):
commit ad78d08bd1d03238d434d3d214a1de56f22d7601 (HEAD -> imx_r1.98, origin/r1.98)
Author: A. Unique Te

[2019-02-27 07:26] cobbwho commented on #22794
The problem is about **_version compatibility_**. It's about compatibility of **_tensorflow_**, **_python_**, **_cudnn_** and **_cuda_**. Version compatibility can be found on [this page](https://tensorflow.google.cn/install/source_windows). Take my computer for example.

### System information:
OS Platform and Distribution: Windows 10 (I don't think it matters.)
Mobile device: None
TensorFlow ins

[2019-02-27 07:29] freedomtan commented on #26161
Does the NXP i.MX8QM  OpenGL ES 3.1 Compute Shader?

[2019-02-27 07:46] yangw1234 commented on #25443
actually there are several issues reporting similar problem #25327, #25721, https://github.com/tensorflow/hub/issues/208, https://github.com/tensorflow/tfjs/issues/947, #21889 @alextp @gargn @suharshs

[2019-02-27 07:54] ArjunAJS143 opened #26162 "Add speech recognition while true with webcam"
is there any way to add speech recognition so that it will respond to our emotions if we speak .please help me or else is there any alternative way to record the audio file and check the input then it will speak with us

[2019-02-27 08:04] wangwenjing commented on #25781
@aselle  ?

[2019-02-27 08:17] mika-fischer commented on #26084
I'm not sure what to say. `libtensorflow.dll` exports symbols for applications to use. It should only export the `TF...` symbols. Instead it also exports all of the symbols of its internal(!) dependency libicu. This is almost certainly a mistake.

The status quo creates problems when trying to link `libtensorflow.dll` into an application that already uses libicu because then the icu symbols would

[2019-02-27 08:17] Arkariian opened #26164 "Memory Fault (Coredumped) java"
Hi!

When i try to run this Hello World TF example, when the program is ending, appears this message "Memory Fault(Coredumped)"

Machine:
-java 1.7.64
-SO: Red Hat 7.3
Cores: 4
RAM: 8 gb

Example Code:

`
import org.tensorflow.Graph;
import org.tensorflow.Session;
import org.tensorflow.Tensor;
import org.tensorflow.TensorFlow;

public class HelloTF {

  public static void main(String[] args) throw

[2019-02-27 08:18] kakakaku00 commented on #26160
祝君好运

[2019-02-27 08:19] kakakaku00 commented on #26151
弃用一定有他的道理

[2019-02-27 08:45] Zhengtq opened #26165 "Where to place 'tf.contrib.quantize.create_training_graph' during multi-gpu Quantization-aware training?"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):**Yes**
- OS Pl

[2019-02-27 08:59] timoonboru opened #26166 "Tensorflow run with C++ API cause XAVIER crash"
Tensoflow version:  '1.12.0-rc2'
Device:  Xavier
NV POWER Mode: MAXN
CUDA: 10.0.117
CUDNN : 7.3.1

##############KERNEL CODE#####################
void semanticSegPro::getImgData(uchar* data)
{

    auto input_tensor_mapped = input_tensor.tensor<uchar, 4>();

    for (int y = 0; y < height; ++y)
    {
        const uchar* source_row = data + (y * width * 3);
        for (int x = 0; x < width; ++x)

[2019-02-27 09:03] Keepmoving-ZXY commented on #26132
ok, thank you.

[2019-02-27 09:11] invencode opened #26167 "CRF functions in TensorFlow 2.0"
Hello,

It seems like CRF (tensorflow.contrib.crf) is moving to tensorflow/probability in TensorFlow 2.0.
(https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md)

but, I couldn't find them on https://github.com/tensorflow/probability.

Where can I find CRF related features in TensorFlow 2.0?

[2019-02-27 09:12] subhasis1990 commented on #25798
I have tried to reproduce the results in my end and the timing difference is very much consistent. I have dual-booted my machine with Windows 10 and Ubuntu 16.0. I have listed down the timing that I found for a single forward pass of the network. Timings are calculated by averaging over 1000 iterations. I have used the example code given in the tensorflow repo(tensorflow/examples/label_image/label

[2019-02-27 09:14] sunzhe09 commented on #24676
hello guys，I met the same case but my error log is：
2019-02-27 16:37:37.125 29351-29398/? E/tflite: NNAPI doesn't support tensors with rank 0 (index 13 name inference/generator/add_1/y)
2019-02-27 16:37:37.125 29351-29398/? E/tflite: Returning error since TFLite returned failure nnapi_delegate.cc:748.
2019-02-27 16:37:37.125 29351-29398/? E/tflite: Failed to build graph for NNAPI

the op with  tan

[2019-02-27 09:15] subhasis1990 commented on #25798
I have tried to reproduce the results in my end and the timing difference is very much consistent. I have dual-booted my machine with Windows 10 and Ubuntu 16.0. I have listed down the timing that I found for a single forward pass of the network. Timings are calculated by averaging over 1000 iterations. I have used the example code given in the tensorflow repo(tensorflow/examples/label_image/label

[2019-02-27 09:21] MrinalJain17 opened #26168 "Tensorflow not working with vGPUs (when the machine is not in pass-through mode)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 16.04**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): **Binary**
- TensorFlow version: **1.12.0**
- Python version: **3.6.8**
- Installed using virtualenv? pip? conda?: **Conda**
- Bazel version (if compil

[2019-02-27 09:29] naatje80 commented on #25312
This issue seems to be fixed for version 1.13.1. I was able to use --output_base again.

[2019-02-27 09:30] byronyi commented on #19391
Note that I got the following error from the commit above:

[code]

It builds after reverting that.

[2019-02-27 09:35] guoyinchen commented on #26161
Yes. i.MX8QM support the ES3.1 compute shader.

[2019-02-27 09:51] kbhute-ibm commented on #26135
Hi @gunan Could you please share your inputs of this?

/CC @Nayana-ibm

[2019-02-27 10:17] vinayonchip commented on #25969
Hi @srjoglekar246. Thank you for your confirmation.

[2019-02-27 10:49] codeninja55 commented on #26028
Results
[code]

Thanks for the help.

[2019-02-27 10:50] #26028 closed

[2019-02-27 11:31] kbhute-ibm commented on #26138
Hello @gunan Thanks for the quick response. /CC @Nayana-ibm
From above list, I am working on //tensorflow/python:nn_test & //tensorflow/contrib/layers:normalization_test where I tried your suggestion of lowering tolerance by 1.

* With below changes in `//tensorflow/python:nn_test` all tests pass:

[code]

*  Out of 5 failing tests in `//tensorflow/contrib/layers:normalization_test`, 3 tests pass

[2019-02-27 11:32] maat16 commented on #25804
any updates? @jvishnuvardhan

[2019-02-27 11:36] PK15946 commented on #25931
Thanks for your reply @karimnosseir ,

I am trying to reproduce the error with a mini model but fail. I suspect it was caused by the third party api(tensorlayer) I used, and I am rewriting the model using tf-slim, if the error persist, I will leave a comment.

[2019-02-27 11:39] kbhute-ibm commented on #26138
Also the same test cases with existing tolerance pass on changing below lines:

For `//tensorflow/python:nn_test` test as suggested in https://github.com/tensorflow/tensorflow/issues/16540:
[code]
and for `//tensorflow/contrib/layers:normalization_test`:
[code]

Could you please comment on this too? I had raised an issue https://github.com/tensorflow/tensorflow/issues/26135 on this. Thanks.

[2019-02-27 12:01] gary-harpaz commented on #22098
Same problem

[2019-02-27 12:03] xiaoyuan129 commented on #17699
Does anyone know how to solve this problem?

[2019-02-27 12:03] xiaoyuan129 commented on #13143
Does anyone know how to solve this problem?

[2019-02-27 12:13] rootkitchao commented on #26148
I tried to compile Tensorflow 1.12 + CUDA10 under windows10 before.But the compiler I am using is MSVC2015 R3.I am not sure that MSVC2017 can work correctly.And trying to downgrade the version of bazel is sometimes useful.

[2019-02-27 12:21] dgrahn commented on #19911
@fchollet  @pavithrasv , There is definitely a need for this functionality.

[2019-02-27 12:23] rootkitchao commented on #26123
This problem is caused by the specific differences in the CPU of the mobile device.Some Qualcomm Snapdragon processors support the use of DSP to speed up specific operations. If the NNAPI in the system is properly configured, there will be a high speed increase.Maybe the Qualcomm Snapdragon 835's DSP supports acceleration of the INT8, so it gets a higher speed.Specific information needs to visit t

[2019-02-27 12:28] andreacds3 commented on #25747
It's because on centos there is an old version of git available. You need to remove git and install the 2.2.* version launching:
sudo yum install  https://centos7.iuscommunity.org/ius-release.rpm
sudo yum install  git2u-all

See [here](https://computingforgeeks.com/how-to-install-latest-version-of-git-git-2-x-on-centos-7/).
This way i solved the problem.

[2019-02-27 12:43] amelroua opened #26171 "RuntimeError: Graph is finalized and cannot be modified."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):yes
- OS Platfo

[2019-02-27 12:49] amelroua commented on #26171
I have a tfrecords file from which I am looking to create batches of data. I want to train the encoding layer of my model many steps while calling the batches. For this purpose I used the below code to create batches and get the next batch:

`def write_and_encode(data_list, tfrecord_filename):
    writer = tf.python_io.TFRecordWriter(tfrecord_filename)
    for label, data_matrix in data_list:

[2019-02-27 13:01] rishi-rranjan commented on #26148
@jvishnuvardhan I am trying to compile TF since i have some custom operators which I will need to link against some dependencies. I will install pip package and see if I can compile my custom operators with that itself.

@rootkitchao Thanks for the pointer. I am use VS 2017 extensively for all my projects but will try VS 2015 on other setup if I am not able to compile my operators with VS2017.

[2019-02-27 13:07] steige2 commented on #25747
I don not have sudo permission
S

If you tear a hole in a net you have fewer holes

Scott Teige PhD
Deep Learning
Indiana University Research Technologies
steige@iu.edu
Office: +1 812 856 7331

[2019-02-27 13:09] zhaoyingjun commented on #25938
but it raise  NameError: name 'losses' is not defined

[2019-02-27 13:45] Vooblin opened #26172 "[Feature Request, INQ] Add functionality for INQ implementation"
**System information**
- TensorFlow version (you are using): 1.12.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

My suggestion is related with the [article](https://arxiv.org/pdf/1702.03044.pdf) about Incremental Network Quantization (INQ) method of weights quantization.

Firstly for INQ implementation it is necessary to create integer

[2019-02-27 13:48] goern commented on #25499
@sub-mod could you have a look at this, why have we not build a py35 wheel file?

[2019-02-27 14:01] ageron commented on #25938
Hi @zhaoyingjun ,

[code]

Please check out my PR #25956

[2019-02-27 14:10] akrana commented on #26141
Hello,
I did uninstall the Python 3.6.8, reinstall Python.
Uninstall tensorflow, reinstall it. Still I was facing same issue
I degraded the python to 3.6.6 and reinstall tensorflow, Im still facing the issue as follow

<Quote>
C:\Users\Administrator>pip uninstall tensorflow
Uninstalling tensorflow-1.12.0:
  Would remove:
    c:\users\administrator\appdata\local\programs\python\python36\lib\site-pa

[2019-02-27 14:29] YanzheL commented on #26150
I also have the same issue.
I upgraded CUDA (and related libs) to 10.1 from ubuntu 18.04 by apt-get, and did a clean tensorflow compile from source on master branch (commit id 31f770fa9fa8e32606fca7333349ce5c722fc199).
Then it shows errors:
[code]

[2019-02-27 14:35] YanzheL commented on #26150
BTW, why tensorflow must specify minor release version number of CUDA, such as '10.0' instead of using major release version '10'?
It would be better if tensorflow regards the minor version number mismatch as a warning, not an error during compilation.
Thanks.

[2019-02-27 14:40] lzw429 commented on #25665
This issue persists after updating the tensorflow version to 1.13.1.

[2019-02-27 14:45] xilenteyex commented on #25724
In this execution, it looks like [this control dependency ](https://gist.github.com/xilenteyex/f569b0e0984808e1fb3a284c03b99984#file-toy_matmul_cdep-py-L37)is ignored. Not sure why. Can you please explain this behavior ?
Thanks!

[2019-02-27 14:58] reuben opened #26174 "TFLite Mfcc op has inconsistent requirements with standard Mfcc op"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes, here's the code to reproduce: https://gist.github.com/reuben/57bee91669a5bd2717c32cf406ca951d
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 10.14
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N

[2019-02-27 15:20] singhcpt opened #26175 "MultiboxTracker making detections in groups of 9 - 13"
**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04.1 LTS
- TensorFlow version: 1.12.0
- Python version: 2.7.15

**Describe the current behavior**
It seems that the drawDebug method in the MultiBoxTracker.java file is making more detentions than it should be.

I modified the drawDebug method such that it returns an ArayList of confidence values for each detection as well as b

[2019-02-27 15:35] steige2 commented on #25747
Hello,
It seems you do not need to remove the old git and a local install will do, so with
$ git version
git version 2.13.0
I now get considerably farther along but this kills progress:
….
INFO: Analysed target //tensorflow/tools/pip_package:build_pip_package (383 packages loaded, 19566 targets configured).
INFO: Found 1 target...
ERROR: /gpfs/home/s/t/steige/Carbonate/.cache/bazel/_bazel_steige/7

[2019-02-27 15:39] DHOFM commented on #26081
so now I tested if the generator generates a tuple and voila it does not:

[code]

So the exception seems to be correct. But Keras has no problem with this. The exception is thrown in tensorflow/python/keras/engine/training_generator.py

Is there a different behavior between tf.keras and keras regarding the training generator?

[2019-02-27 15:57] zhaoyingjun commented on #25938
@ageron hi, i check  out your PR,but i load the model and train,the accuracy is 0.0000e+00 ,no any update

[2019-02-27 16:05] bono1567 commented on #22025
Hello, I am new to the tensorflow community. Is this a good issue to get familiar with the tensorflow open-source?

[2019-02-27 16:10] alanhdu opened #26176 "[Tensorflow 2]: Bring back tf.layers?"
In the proposed TensorFlow 2.0 API, `tf.layers` has been removed in favor of `tf.keras.layers`. Would it be possible to bring it back as a simple alias for `tf.keras.layers`?

For reference, we already have:
- `tf.losses` == `tf.keras.losses`
- `tf.optimizers` == `tf.keras.optimizers`

as aliases. I personally think that `tf.keras.layers` are as-used as optimizers and loss functions, and that `tf.

[2019-02-27 16:14] lenaevans commented on #26123
I see, NNAPI is only supported on API 27+ right? So is there no way to get speedups on lower APIs (No one updates their android phones)?

[2019-02-27 16:19] Nayana-ibm opened #26177 "TensorFlow master build failing on Ubuntu18.04 x86"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): source
- TensorFlow version: master as on today
- Python version:  2.7.x
- Bazel version (if compiling from source): 0.19.0 ( installed using bazel-0.19.0-ins

[2019-02-27 16:24] Nayana-ibm commented on #26177
Looks like glibc version is upgraded on Ubuntu 18.04
ldd --version
ldd (Ubuntu GLIBC 2.27-3ubuntu1) 2.27

As mentioned [here](https://sourceware.org/ml/libc-alpha/2017-08/msg00010.html , https://sourceware.org/glibc/wiki/Release/2.26#Removal_of_.27xlocale.h.27) ,  The nonstandard header <xlocale.h> has been removed.

This comes through third_party code hwloc (https://github.com/tensorflow/tensorfl

[2019-02-27 16:25] Nayana-ibm commented on #26177
Or should downgrade gcc ( build from source or installing particular version) ?

[2019-02-27 16:40] rickstaa opened #26178 "Output_dir inconsitancy between "model_to_estimator" and "export_savedmodel""
**Problem explanation**
Since I want to train my neural networks into the Google ML Cloud, I am trying to convert a Keras model to a TensorFlow (TF) estimator.

A tutorial explaining how to do this can be found on [Training Keras with GPUs & Serving Predictions with Cloud ML Engine (Google Cloud AI Huddle)](https://www.youtube.com/watch?v=4pC97HRhK9E). The Jupyter notebook that accompanies this tu

[2019-02-27 16:42] malmaud opened #26179 "Datasets not reshuffling between epochs in eager mode"
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 10.14
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.13.0-dev20190227
- Python version: 3.7

**Describe the current behavior**
Iterating a shuffled dataset returns elements in the same or

[2019-02-27 16:49] malmaud commented on #26179
Actually, it looks like this is all explained by `d.shuffle` caching the random seed when it's called instead of when the dataset is iterated over. That seems a bit strange since it means I need to recall `shuffle` at the start of each epoch and so eg passing a dataset to Keras's `fit` method is going to use iteration over for every epoch.

[2019-02-27 16:49] alextp commented on #26033
@reedwm @azaks2 I wonder if we can piggy back on the fp16 work to make it easier to use fp64 across the board?

[2019-02-27 16:51] reuben commented on #26174
@andrewharp pinging since you wrote the TFLite Mfcc op. Is there another way of converting the op to TFLite that I'm missing? As far as I can tell, because of the different behavior w.r.t. the sample rate parameter, there's no way to convert a TF graph to a TFLite model with an Mfcc op in it.

[2019-02-27 17:19] rootkitchao commented on #26123
This is not just about the API version.NNAPI still has no effect if the device manufacturer does not implement hardware acceleration for NNAPI in the system.For situations where NNAPI is not available, if the device's SOC does support hardware acceleration, you can use the solution provided by the SOC vendor(E.g Qualcomm Neural Processing SDK for AI).But currently Qualcomm Snapdragon
Hisilicon Kir

[2019-02-27 17:27] #25747 closed

[2019-02-27 17:29] jvishnuvardhan commented on #25804
@maat16 I think there is an issue with CUDA and cuDNN. Please check tested build configurations [here](https://www.tensorflow.org/install/source#linux).

Version |                     Python version | Compiler | Build tools | cuDNN | CUDA
-- | -- | -- | -- | -- | --
tensorflow_gpu-1.12.0 | 2.7, 3.3-3.6 | GCC 4.8 | Bazel 0.15.0 |        7        | 9

I think it is better to start with clean state.

[2019-02-27 17:35] alextp commented on #26029
Oh, this is tricky. @mdanatg I think we can monkey-patch the locals() ag uses to define __class__ and fix this?

[2019-02-27 17:41] #24885 closed

[2019-02-27 17:43] jvishnuvardhan commented on #26141
@akrana Looking at the error log, I see the tensorflow was not uninstalled completely for some reason. Did you follow the instructions I provided? Could you follow that and let me know if that solved installation issue? Thanks!

[2019-02-27 17:46] lenaevans commented on #26123
Ok, thanks for the response!

[2019-02-27 17:46] #26123 closed

[2019-02-27 17:52] gunan commented on #26135
the changes look ok to me.
could you run these tests with these changes with --runs_per_test=100 just to make sure they are not flaky?

[2019-02-27 17:53] gian1312 opened #26182 "ImportError: libcublas.so.10.0: cannot open shared object file: No such file or directory"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Linux Mint
-Anaconda - pip install tensorflow-gpu
- 9.0/7.5:
- 1080 ti

I was using ten

[2019-02-27 18:00] mdanatg commented on #26029
Interesting. I'm confident we can handle it correctly, we just need to make sure we understand the mechanics of the new-style super.

[2019-02-27 18:00] reedwm commented on #26033
The fp16 API we are working on will only support Keras layers and models. Instead, perhaps [floatx](https://www.tensorflow.org/api_docs/python/tf/keras/backend/floatx) should be used as the default dtype for such algorithms, although I believe currently floatx only affects tf.keras.

/CC @fchollet, what do you think about using floatx?

[2019-02-27 18:07] #25976 closed

[2019-02-27 18:08] ymodak commented on #26149
Duplicate#26151

[2019-02-27 18:08] #26149 closed

[2019-02-27 18:10] alextp commented on #26029
I've been looking at the pep ( https://www.python.org/dev/peps/pep-3135/ )
and I think it amounts to setting the __class__ cell.

On Wed, Feb 27, 2019 at 10:06 AM Dan Moldovan <notifications@github.com>
wrote:

--
 - Alex

[2019-02-27 18:12] gunan commented on #26138
IMHO the need to lower the tolerances to 1e-1 I think points to real numerical issues on big endian machines.
You will need to debug TF on s390x to get to the bottom of that issue.

[2019-02-27 18:14] steige2 opened #26183 "bazel build --config=opt --config=cuda //tensorflow/tools/pip_package:build_pip_package"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
$ uname -a
Linux e1.carbonate.uits.iu.edu 3.10.0-862.6.3.el7.x86_64 #1 SMP Fri Jun 15 17:

[2019-02-27 18:34] chwang85 commented on #26144
Thanks for explaining. Just one more question:
For "outputs = tf.layers.dense(inputs, units)", in the future, is it proper to change it to "outputs = tf.layers.Dense(units).apply(inputs)"?

[2019-02-27 18:36] wookayin commented on #26144
`tf.layers.Dense(256)(inputs)`

[2019-02-27 18:36] rmlarsen commented on #25752
@thevincentadam thanks for letting us know. I'll send out a fix, probably sometime next week.

[2019-02-27 18:39] chwang85 commented on #26144
thanks. but this still seems weird. DL models is already very complicated, why use oop to make it more complicated?

[2019-02-27 18:42] cliffwoolley commented on #26150
This has to do with a change in the SONAMEs of CUDA Toolkit libraries starting in CUDA 10.1.  We will submit a PR to allow compatibility both before and after that change.  @nluehr

[2019-02-27 18:45] MarkDaoust commented on #26144
My feeling is that it makes it less complicated: It gives a clear separation defining my network, and running my network, the magic re-use in the old "function" style is tricky, at best. OOP also gives a clear answer to the question of "where is the state for this layer?": it's in the object.

And @chwang85, could you send us a patch PR for the typo?

[2019-02-27 18:54] tensorflowbutler commented on #24924
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-27 18:54] chwang85 commented on #26144
OK.
But why use "tf.keras.layers.Dense" rather than "tf.layers.Dense" to replace "tf.layers.dense"? Does that mean "tf.layers.Dense" will also be deprecated in the future?

[2019-02-27 18:57] ppwwyyxx commented on #26182
+ Latest TensorFlow supports cuda 8-10. cudnn 6-7.
+ Each TensorFlow binary has to work with the version of cuda and cudnn it was built with. If they don't match, you have to change either the TensorFlow binary or the Nvidia softwares.
+ Official `tensorflow-gpu` binaries (the one downloaded by pip or conda) are built with cuda 9.0, cudnn 7 since TF 1.5, and cuda 10.0, cudnn 7 since TF 1.13. These

[2019-02-27 19:22] danecor commented on #25666
I still see the same issue with unsorted_segment_max (and tf.reduce_max on ragged tensors).

[2019-02-27 19:24] antonsoch commented on #26107
Update.
On Ubuntu 18.04, CUDA: 10.0, V10.0.130, cuDNN: 7.5, Driver Version: 410.79, Python 3.6.7, tensorflow 1.13.1 I got the same result.

However on Windows 10 it's not reproduced:
•	CUDA: 10.0, V10.0.130, cuDNN: 7.3.1, GeForce RTX 2080 Ti, Driver Version: 417.01, Python 3.7.2, tensorflow 1.13.1

CONV2D graph
Profile:
node name | requested bytes | total execution time | accelerator execution tim

[2019-02-27 19:28] alextp commented on #25666
I think if you look at the change I listed you can see the steps to fix
this issue. Do you want to send a PR with a fix and a unit test?

On Wed, Feb 27, 2019 at 11:26 AM danecor <notifications@github.com> wrote:

--
 - Alex

[2019-02-27 19:37] jvishnuvardhan commented on #24924
@jazztronomers Could you try @karmel suggestion? Please let us know whether your issue was resolved or not? Thanks!

[2019-02-27 19:39] zacateras commented on #23367
@murdockhou what was your conclusion? Is it in fact impossible to visualize graph in eager mode - as stated in the SO answer?

I found this function: https://www.tensorflow.org/versions/r1.13/api_docs/python/tf/contrib/summary/graph. Unfortunately its  documentation is unclear. Here is a request for elaboration: https://stackoverflow.com/questions/54560627/param-for-tf-contrib-summary-graph.

[2019-02-27 19:53] danecor commented on #25666
Sure

[2019-02-27 19:55] ymodak commented on #26150
@alanpurple  The Official `tensorflow-gpu` 1.13 binaries are built with cuda 10.0, cudnn 7. Can you please switch to cuda 10.0 and build again. Thanks!

[2019-02-27 19:58] ymodak commented on #25716
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-27 19:58] #25716 closed

[2019-02-27 19:58] ymodak commented on #25788
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-27 19:58] #25788 closed

[2019-02-27 20:00] impjdi commented on #26161
@guoyinchen

Thanks for trying out the GPU delegate.  Well, the error message says that op #43 is SQUEEZE, so the first part of the graph (until SQUEEZE) is supposed to be run on GPU, and the rest on CPU.  TFLite framework is supposed to handle GPU / CPU transition smoothly, and I'm actually surprised that it gets a fatal error.  I wonder whether it has multiple subgraphs inside.

Is it possible f

[2019-02-27 20:00] ymodak commented on #25942
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-27 20:00] #25942 closed

[2019-02-27 20:01] ymodak commented on #25862
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-27 20:01] #25862 closed

[2019-02-27 20:01] ymodak commented on #25994
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-27 20:01] #25994 closed

[2019-02-27 20:01] #25829 closed

[2019-02-27 20:01] jvishnuvardhan commented on #26153
@LuWei6896 It looks like the bug is related to Bazel. Could you mention what is the TF version you had installed? Please check tested build configurations [here](https://www.tensorflow.org/install/source#linux). Please uninstall python and tensorflow and reinstall using the instruction mentioned [here](https://github.com/rnreich/ubuntu-tensorflow-gpu-all-versions). Please let me know how it progre

[2019-02-27 20:01] ymodak commented on #26002
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-27 20:01] #26002 closed

[2019-02-27 20:01] ymodak commented on #25753
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-27 20:01] #25753 closed

[2019-02-27 20:01] ymodak commented on #25847
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-27 20:01] #25847 closed

[2019-02-27 20:02] #25845 closed

[2019-02-27 20:02] ymodak commented on #26025
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-27 20:02] #26025 closed

[2019-02-27 20:03] #26003 closed

[2019-02-27 20:05] nfelt commented on #23367
Answered on StackOverflow here: https://stackoverflow.com/a/54913635/1179226  The documentation does describe this parameter, but in eager mode there is no single overall graph by definition, so there isn't really anything TensorBoard can currently visualize that matches what you are asking for.

[2019-02-27 20:17] dynamicwebpaige opened #26189 "Side effects induced by attribute and slice operators must be limited in Python control flow."
With `autograph=True`, wrapping ConvND in a `tf.function` works as expected with `use_bias=True`; but `use_bias=False` would fail. Code works as expected with `autograph=True`.

Error message received:

[code]

[2019-02-27 20:19] MarkDaoust commented on #26144
`tf.keras.layers.Dense` and `tf.layers.Dense` will both be the same object.

[2019-02-27 21:07] saeta commented on #24099
Hey all,

You cannot run a `PyFunc` on the `tpu_worker`, as there is no python interpreter on the TPU Machines. The recommendation is to use `tf.data` and TensorFlow ops if possible. (This is often a good idea anyway, as it can be very difficult to ensure Python can keep a Cloud TPU busy with data on many models.)

However, if you'd really like to use a PyFunc as part of your training process, you

[2019-02-27 21:07] #24099 closed

[2019-02-27 21:08] Bilal-Ahmed-Arain commented on #559
write below command..

   pip3 install numpy

it worked for me.. hope this will fix your problem..

[2019-02-27 21:15] jvishnuvardhan commented on #26182
@gian1312 I think it is looking for CUDA10 file. The error is due to mismatch is CUDA version. Best approach is install TF from clean state. Please follow @ppwwyyxx suggestion to select best versions (TF1.12, CUDA9.0 or TF1.13,CUDA10.0) for your need. Please uninstall python and tensorflow and then follow the [instructions](https://github.com/rnreich/ubuntu-tensorflow-gpu-all-versions) to install

[2019-02-27 21:27] harsh306 commented on #10155
I got this message, in tf.logging.DEBUG and not in tf.logging.INFO, for TF-1.12 hopefully it is helpful.

[2019-02-27 21:56] MarkDaoust commented on #26176
Hi @alanhdu,

I think this is the plan. It's just not quite implemented yet.

Check again in a couple of weeks.

[2019-02-27 22:00] wdirons commented on #26177
A hack I've seen elsewhere is:

`ln -s /usr/include/locale.h /usr/include/xlocale.h`

Really the build should be using locale.h and not xlocale.h

[2019-02-27 22:31] jvishnuvardhan commented on #26176
I am closing this as it was resolved. Thanks!

[2019-02-27 22:31] #26176 closed

[2019-02-27 22:34] quartermaine commented on #25937
Yes,I finally manage to make the installation everything works.Thank you for the detailed guide

[2019-02-27 22:39] jvishnuvardhan commented on #26175
@singhcpt Could you check whether the error persists with the newer version of TF? Thanks!

[2019-02-27 22:46] facaiy commented on #22025
Welcome, @bono1567! As you see, PR #25241 and #23993 have been in the process to fix the issue. I'll update here when they are merged.

[2019-02-27 23:13] llrraa commented on #15785
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android#install-model-files-optional
Optional: If you wish to place the models in your assets manually, remove all of the model_files entries from the assets list in tensorflow_demo found in the BUILD file. Then download and extract the archives yourself to the assets directory in the source tree:

BASE_URL=https://storage.go

[2019-02-27 23:14] evictor commented on #25678
I have found evidence of OOM including in the updated versions... It eventually reaches ~8 GB.

[2019-02-27 23:16] rhinsall commented on #26182
identical problem here.

clean installation of Nvidia drivers, CUDA 10.1 and TF

libcublas.so.10.0 error as soon as TF is called.

Ubuntu 18.04.2 LTS; Also Anaconda install of Python 3.7 (is the anaconda install relevant?); 2070

[2019-02-27 23:26] malmaud commented on #12345
PyTorch just implemented this https://github.com/pytorch/pytorch/pull/12500 via stubs and the code completion it enables is a huge convenience. No pressure though :)

[2019-02-27 23:37] haozha111 commented on #22109
In propagate_fixed_sizes.cc:
https://github.com/tensorflow/tensorflow/blob/54a01684b1cedaa93272aba4169da845155aae9b/tensorflow/lite/toco/graph_transformations/propagate_fixed_sizes.cc#L1713

We haven't yet checked for negative axis values. In your example, you passed axis=-1 to squeeze function. A walk-around might be using this instead:
transform = Lambda(lambda x: squeeze(x, axis=3))(input)			#

[2019-02-27 23:40] dynamicwebpaige commented on #26167
@invencode It does not look like `tf.contrib.crf` has been migrated to either the core TensorFlow 2.0 API or to TensorFlow Probability. If your code base is dependent on this symbol and you are interested in migrating it to TF 2.0, we could take a look at including it in the [addons](http://www.github.com/tensorflow/addons) repo.

Are you interested in helping migrate `tf.contrib.crf` to `tensorfl

[2019-02-27 23:43] jvishnuvardhan commented on #25937
@quartermaine Good to know it worked. I am closing this issue. Thanks again!

[2019-02-27 23:43] #25937 closed

[2019-02-27 23:50] jvishnuvardhan commented on #26182
@rhinsall Which TF version you are trying to install? Could you install CUDA10 or correctly reference the CUDA10.1 path in cuDNN. Thanks

[2019-02-27 23:54] #26114 closed

[2019-02-27 23:59] seanpmorgan commented on #26167
Hi @invencode currently addons is planning to move CRF https://github.com/tensorflow/addons/issues/22 but its unlikely to make the first release. The move requires adapting the code to use [Keras RNN Cell](https://github.com/tensorflow/community/blob/master/rfcs/20180920-unify-rnn-interface.md) in TF2.

Addons is always looking for more contributors and maintainers, so if you're interested as @dyn

[2019-02-28 00:33] jvishnuvardhan commented on #26183
@steige2 Please check the tested build configurations [here](https://www.tensorflow.org/install/source#linux). There could be path reference issues in CUDA/cuDNN folders. Please check whether CUDA and cuDNN paths are referencing correctly or not.
Either upgrade TF1.12 to TF1.13rc2 or downgrade Bazel and CUDA versions. Thanks!

[2019-02-28 00:34] alanpurple commented on #26150
@ymodak

I made links to 10.1 so files but still has an error building . #26155

[2019-02-28 00:36] nfelt commented on #25678
@jvishnuvardhan this sounds like it belongs in the TensorBoard issue tracker.  Can we get a repo admin to transfer this to https://github.com/tensorflow/tensorboard?

@evictor is there any particular evidence you've found of the OOM, or anything you've been able to do to narrow down the problem?  We get reports of this sometimes but they've been hard to reproduce.  For recent versions of TensorBoa

[2019-02-28 00:42] Zeit42 commented on #26158
I got it to work. After the initial error I encountered, I tried running the command (`./tensorflow/lite/tools/make/build_rpi_lib.sh`) again, and it indicated that the board ran out of virtual memory.

I then did the following commands:

`pi$ sudo nano /etc/dphys-swapfile`

then edit the swapfile variable to comment out the original.

And then after that, I ran:

`sudo /etc/init.d/dphys-swapfile s

[2019-02-28 00:42] #26158 closed

[2019-02-28 00:42] jvishnuvardhan commented on #26171
@amelroua
Please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=00-bug-performance-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. Thanks!

[2019-02-28 00:59] jvishnuvardhan commented on #26164
@Arkariian This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-02-28 01:00] jvishnuvardhan commented on #26162
@ArjunAJS143 This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-02-28 01:00] #26162 closed

[2019-02-28 01:05] ymodak commented on #26155
What version of protobuf are you using?

Can you please switch to protobuf 3.6.0 if its other than that?

[2019-02-28 01:10] jvishnuvardhan commented on #26159
@shuifeixiang Can you describe how you installed TF? can you print TF version
$ import tensorflow as tf
$print(tf.__version__)?

If TF was not installed correctly, it is better to start fresh. Uninstall python, and tensorflow then reinstall them using the instructions [here](https://github.com/rnreich/ubuntu-tensorflow-gpu-all-versions). Please let me know how it progresses. Thanks!

[2019-02-28 01:11] alanpurple commented on #26155
@ymodak

3.6.1 of course and this has been worked with CUDA 10.0 and tf 1.13.0
https://anaconda.org/anaconda/protobuf

[2019-02-28 01:12] jvishnuvardhan commented on #26158
@Zeit42  Thanks for posting your solution here. It will be helpful to others. Thanks!

[2019-02-28 01:24] evictor commented on #25678
Thanks, I am now running with `--verbosity 1`. I found several of these in system serial log:

[code]

I would like to reiterate that I have TB log dir set to an SMB (CIFS) mounted disk. I wonder if that has anything to do with a potential leak? Pure conjecture but maybe TB is attempting to read, acquire file lock, etc. and failing exceptionally if the CIFS mount is sporadically unreadable or lagg

[2019-02-28 01:27] guoyinchen commented on #26161
@impjdi
I use the one mobilenet_v1_1.0_224.tflite which can be fetched from http://download.tensorflow.org/models/mobilenet_v1_2018_02_22/mobilenet_v1_1.0_224.tgz
I used the default android app in tensorflow git as https://github.com/tensorflow/tensorflow/tree/r1.13/tensorflow/lite/java/demo

[2019-02-28 02:00] ageron commented on #25938
@zhaoyingjun , I'm not sure the problem you are having is related to this issue, you might want to share some code (in a [gist](https://gist.github.com) if it's big).

[2019-02-28 02:01] Thajobe opened #26191 "warnings (please do not import '@grpc//third_party/nanopb:pb_common.c' directly ; depends on deprecated target ; ...) during build from source"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.2 LTS
- Mobile de

[2019-02-28 02:22] zhaoyingjun commented on #25938
i find the reason, in my code:
loss_object=tf.losses.SparseCategoricalCrossentropy()
 model.complie(loss=loss_object, optimizer="sgd")

it raise the error.

the i change my code to
 model.complie(loss="sparse_categorical_crossentropy", optimizer="sgd")

it is ok

[2019-02-28 02:22] freedomtan commented on #26161
@guoyinchen Some NXP materials, such as [this](https://www.nxp.com/products/processors-and-microcontrollers/arm-based-processors-and-mcus/i.mx-applications-processors/i.mx-8-processors/i.mx-8-family-arm-cortex-a53-cortex-a72-virtualization-vision-3d-graphics-4k-video:i.MX8), says OpenGL ES 3.0. So I am not sure if 3.1 Compute Shader is supported. I tried the GPU Delegate on various platforms and w

[2019-02-28 02:46] LuWei6896 commented on #26153
@jvishnuvardhan there is both good news and bad news,i compiled tensorflow how:bazel build //tensorflow:libtensorflow_cc.so,and  **which output: libtensorflow_cc.so  libtensorflow_framework.so**.**But some new error has arisen  as below:** g++ -std=c++11 -I./include -I./include/external/nsync/public -L./lib test.cc -ltensorflow_cc -ltensorflow_framework -o test

./include/tensorflow/core/framework

[2019-02-28 02:52] LuWei6896 commented on #26153
@jvishnuvardhan i compiled *.so with the protoc :3.5.0

[2019-02-28 03:41] a6802739 commented on #26167
@dynamicwebpaige @seanpmorgan, could I have try on this part?

[2019-02-28 03:45] guoyinchen commented on #26161
@freedomtan
the website dont have the correct info. we will have it updated. And actually we have es31 CTS to test our i.MX8QM. It can pass those CTS.  Do you have some sample code for us to check which API you use to query those GPU info?

[2019-02-28 04:00] rishi-rranjan commented on #26148
@jvishnuvardhan I was able to install TF 1.13.1 with your instruction. I will check if I can compile my custom operators with this install. if it works for me, I don't need to compile TF and will close this issue.

[2019-02-28 04:40] ymodak commented on #26059
You need to sub folders: bin and lib to the path. I see that lib folder is not added to the path.

[2019-02-28 04:59] rygo6 commented on #26059
I have this same exact issue too. Win10, only I am using CUDA 9 toolkit.

I just added
`C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v9.0\lib`
per ymodak's instruction, but that did not work.

What else could it be?

[2019-02-28 05:05] wchargin commented on #25707
Fixed by 6068ebcbb82a19a40fa7cdb36da51b62d2a11a5c.

[2019-02-28 05:26] Zeit42 opened #26196 "TF 1.13.1 on Raspberry Pi 3B+ __init__.py gives an error: No module named 'tensorflow.python'. How to use static library file?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Raspbian 9.8
- Mobile device i

[2019-02-28 05:27] beniroquai commented on #18383
Thanks for this great piece of code! One thing I found out on a MacBook installation: It does not accept float64 as input tensors
Cryptic error:
`[[Node: ScatterNd_1 = ScatterNd[T=DT_BOOL, Tindices=DT_INT32](ScatterNd_1/indices, ones_like, ScatterNd_1/shape)]]`

[2019-02-28 05:29] ghltshubh commented on #14211
@SimonBoorer Getting the same error.

[2019-02-28 05:40] margaretmz opened #26197 "[TF 2.0 API Docs] tf.keras"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>
**System information**
- TensorFlow version: 2.0
- Doc Link: https://www.tensorflow.org/versions/r2.0/api_docs/python/tf

[2019-02-28 05:59] kavita-moholkar commented on #24359
same problrm

[2019-02-28 06:06] Praneet460 commented on #26197
I would be happy to do that. Soon I will update you with my work.

[2019-02-28 06:24] chuchienshu commented on #11186
[code]
Based on above snippet, I think tf.identity() works as deep copy.  as least in tensorflow 1.11.0.

[2019-02-28 06:25] OmnipotentEntity commented on #26182
It does not seem possible to install Tensorflow with default packaging on Ubuntu 18.04.  You have to either build TF from scratch, which requires sourcing an older version of bazel than is available through the default repositories, or manually install specific versions of nvidia drivers and libraries.

[2019-02-28 06:25] leandro-gracia-gil commented on #26155
I'm having this problem too. Same versions for protobuf, tf, cuda, cudnn, gcc, bazel and ubuntu. My python version is 3.7.0 instead of 3.7.2.

[2019-02-28 06:26] lxn179208 commented on #24338
@hgadig any advice?

[2019-02-28 06:48] leandro-gracia-gil commented on #26155
Tried doing pip install protobuf==3.6.0 and building again, but the error is still there. It seems that the files raising the error are cuda kernels.

[2019-02-28 06:57] CrabBucket commented on #26059
https://i.imgur.com/m4azsmP.png Thank you ymodak this was it for me.  rygo6 I would suggest you uninstall everything and follow the guide ymodak posted (https://www.tensorflow.org/install/gpu#windows_setup) from start to finish and if that doesn't work then create your own issue.

[2019-02-28 07:21] OtakuSenpai opened #26198 "Errors while building Tensorflow 1.12"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Void Linux glibc x86_64
- TensorFlow installed from (source or binary): Source
- TensorFlow version: r1.12
- Python version: 3.6
- Installed using virtualenv? pip? conda?: pip, no virtualenv
- Bazel version (if compiling from source): 0.22
- GCC/Compiler version (if compiling from source): 8.2.0
- CUDA/cuDNN version:

[2019-02-28 07:41] shyhtzonglee commented on #25094
No, python 3.6.4 does not work for me. Thanks anyway.

[2019-02-28 07:45] rishi-rranjan commented on #26148
Closing this as I am able to successfully compile tensorflow/examples/adding_an_op.

[2019-02-28 07:45] #26148 closed

[2019-02-28 07:55] LuWei6896 commented on #26153
@jvishnuvardhan tnanks,i figured it out!
The tensorflow/workspace.bzl:  370  "https://github.com/google/protobuf/archive/v3.6.0.tar.gz" !
so the *.so was compiled  by protoc3.6.0,but tensorflow/contrib/makefile/download_dependencies.sh is 3.5.2。so the *cc's include_file&&protobuf.a older than *.so,tere is the way:tensorflow/contrib/makefile/download_dependencies.sh 27_line->PROTOBUF_URL="https://m

[2019-02-28 07:57] #26153 closed

[2019-02-28 08:23] OtakuSenpai commented on #26198
Update:
---------
I had somehow messed up the git repo of tensorflow, and after git fetching the whole repo, I still get this error:
[code]

[2019-02-28 08:33] bamine commented on #21615
Hello, anything new on this issue ? It seems Scaffold is just unusable with MirroredStrategy, is there a better way ?

[2019-02-28 08:37] rockbass2560 opened #26199 "Tensorflow lite model requests a buffer bigger than the neccesary"
Hi, I created a custom model using keras in tensorflow. The version that I used was tensorflow nightly 1.13.1. I used the official tool to build the tensorflow lite model (the method tf.lite.TFLiteConverter.from_keras_model_file ).

After I created the model I reviewed the input shape and nothing seems is bad.

The input and output shapes in tensorflow lite model are:

[{'name': 'input_1', 'index'

[2019-02-28 08:44] urimerhav commented on #23733
Is there any update on this? I'm running out of memory with a simple

[code]

[2019-02-28 09:09] tianq01 opened #26200 "tf.nn.ctc_beam_search_decoder is very slow on tf >=1.4"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-02-28 09:17] OtakuSenpai commented on #26198
OK, so supposedly I was using the flag "-std=c++17" during configuration steps, and according to [this](https://github.com/bazelbuild/bazel/issues/5728) useful link, it should be C++11.
But then again it still gives another error(:weary:) and idk lol:

[code]

[2019-02-28 09:18] mxl1990 commented on #22794
The following steps describe how to build a cuDNN dependent program. In the following sections:
your CUDA directory path is referred to as C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v9.0
your cuDNN directory path is referred to as <installpath>
Navigate to your <installpath> directory containing cuDNN.
Unzip the cuDNN package.
cudnn-9.0-windows7-x64-v7.zip
or
cudnn-9.0-windows10-x64-v7.zip

[2019-02-28 09:23] gian1312 commented on #26182
Thanks a lot. I relyed on the website and haven't realised, that a new version came out a few days ago. I am sorry. I downgraded to 1.12. Now, my graphic card gets found with the mentioned code.

Sadly, the code (an example from a lecture I attend) which runs on my Windows installation perfectly fine (30 s) takes 6 min on my Linux installation an puts the CPU under load. Is there a work around to

[2019-02-28 09:23] tianq01 commented on #26200
more info:
the test for tf 1.12, 1.9, 1.8, 1.5, 1.4 are all in docker env
the test for tf 1.3 covers docker env and host env

[2019-02-28 09:52] rhinsall commented on #26182
I'll come home much later and report the exact numbers and paths - but it's a fresh install, downloaded yesterday, CUDA 10.1 per Nvidia's instructions and TF clean install using PIP & Python 3.7

[2019-02-28 09:56] oscarriddle opened #26201 "The procedure of building the TF r1.13 is not clear. (CUDA10.0 + cuDNN7.5.0+TensorRT5.0.2.6)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS 7
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version: r1.13
- Python version: 3.6
- Installed using virtualenv? pip? conda?: pip3
- Bazel version (if compiling from source): 0.19.1
- GCC/Com

[2019-02-28 10:04] TiejunChina opened #26202 "Cannot run tensorflow against tensorrt"
I'm trying to run tensorflow against tensorrt but looks this always runs with TF.
"TensorRT node TRTEngineOp_0 added for segment 0 consisting of 446 nodes failed: Internal: Failed to build TensorRT engine. Fallback to TF..."

**System information**
I'm trying to run the one example file: models/research/tensorrt/tensorrt.py

- VERSION="18.04.2 LTS (Bionic Beaver)"
- one x86-based target
- TensorFl

[2019-02-28 10:06] lissyx commented on #23963
Also hitting the same error on r1.12 branch, even after applying https://github.com/tensorflow/tensorflow/commit/7e090f6a5412fd5f22b5b75ca7ae7844c3d025e9 :[

[2019-02-28 10:36] Nayana-ibm commented on #26177
@wdirons ya..This hack worked.

 I was also looking for gcc version which might mentioned by TensorFlow community.

[2019-02-28 10:49] lissyx commented on #23963
@petewarden Actually, it did fix it, one should just make sure the ` #define U_STATIC_IMPLEMENTATION ` is **before** the other includes, at least on my `r1.12` branch.

[2019-02-28 10:52] Nayana-ibm commented on #26177
Btw looks like community has made changes around xlocale.h through this [commit](https://github.com/tensorflow/tensorflow/commit/d624b1d75a640c50be281d8b921d62dbd6149f2a).
Will try building TensorFlow master again .

[2019-02-28 11:59] liuheng92 opened #26203 "tf.graph_util.convert_variables_to_constants converts a different pb parameters with orginal ckpt"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-02-28 12:15] awav opened #26204 "[TF2.0] Broadcasting"
Hello everyone,

I would like resuscitate very old issue. Actually, it is so old that even github's autocompletion doesn't offer it after typing "#" - https://github.com/tensorflow/tensorflow/issues/216. This request was raised several times, but still it hasn't been resolved.

In short, *broadcasting* interface is not "good enough" in TensorFlow :)

Lets first check how broadcasting works in `num

[2019-02-28 12:18] Ekinkit opened #26205 "How to run the examples/android in Windows Environment?"
**System information**
Windows 8 cpu
- TensorFlow installed from (source or binary):
- TensorFlow version:1.12.0
- Python version:3.6
- Installed using virtualenv? pip? conda?:conda
- Bazel version (if compiling from source):no

**Describe the problem**
I have searched a huge amounts of information about how to use this example but the problem is that most of people are using it on the linux OS. I

[2019-02-28 12:20] vinayonchip opened #26206 "Converting a saved_model to tflite using TensorFlow(Built from source) gives error."
**System information**
- OS Platform and Distribution : Linux Ubuntu 16.04
- TensorFlow installed from : source
- TensorFlow version : 1.12
- Python version: 3.6
- Bazel version : 0.19.1
- GCC/Compiler version : 5.4.0

**Describe the current behavior**
Converting a saved_model to tflite using tflite_convert.py gives me the following error. But when I convert the same model using Tensorflow binary

[2019-02-28 12:25] Gonzalo933 commented on #24816
I am experiencing this, also in tensorflow 1.12.0. I'm using a custom deep network and the same architecture sometimes raises this error and sometimes not (which makes me believe that is a tensorflow issue)

[2019-02-28 12:55] JohnSouth8 opened #26207 "MirroredStrategy returns AssertionError when run with custom Estimator"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platf

[2019-02-28 12:58] CharlesCCC commented on #22794
This worked for me
Windows 10
python 3.6.X  (downgraded from 3.7)
Tensorflow 1.12  (not working with 1.13.1 for sure, downgraded)
CUDA/cudnn 9.0 (make sure follow @mxl1990 's step to copy those files)

[2019-02-28 13:01] OtakuSenpai commented on #26198
So, here it goes...
I for Kafka i found [this](https://github.com/tensorflow/tensorflow/issues/23817) issue helpful, but then again i felt into another issue with the '@io_bazel_rules_closure//closure' package.

Here's a log of the command:

[code]

According to [this](https://github.com/tensorflow/tensorflow/issues/7497) issue, it happens either due to [not using Oracle JDK](https://github.com/te

[2019-02-28 13:17] YoussefShoeb opened #26208 "TensorFlow device GPU:0 was not registered"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Red Hat Enterprise Linux Server release 7.4
-

[2019-02-28 13:32] PhungVanDuy opened #26209 "TensorFlow 1.13.1: ImportError: libcublas.so.10.0: cannot open shared object file: No such file or directory"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04.6 LTS
- TensorFlow installed from (source or binary): Binary (pip3 install -U tensorflow-gpu
- TensorFlow version: current version from pip (maybe version 1.13.1)
- Python version: Python 3.5.2
- Installed using virtualenv? pip? conda?: virtualenv environment with pip
- CUDA/cuDNN version: Cuda 9.0
- GPU

[2019-02-28 13:37] steige2 commented on #26183
Fixed it, I believe some of the dependencies were guilt with a different version of gcc, blew away the entire stack, started over with TF1.12, everything built just fine

[2019-02-28 13:37] #26183 closed

[2019-02-28 13:49] brisk022 opened #26210 "app_loader failure at tensorflow.org makes website unusable"
**System information**
- TensorFlow version: N/A
- Doc Link: https://www.tensorflow.org/

My locale is set to uk_UA. When I visit https://www.tensorflow.org/, the app_loader.js tries to load https://www.gstatic.com/devrel-devsite/v138ceba75b8052825cb18f1c6025ea06485e9d36137e0fd82d2d54619f803209/tensorflow/js/devsite_app__uk.js (notice the added '__uk' suffix). The file does not exist. Since devsit

[2019-02-28 14:07] BlackHoundNate opened #26211 "[TF 2.0 API Docs] tf.keras.activations.relu"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: 2.0
- Doc Link: https://www.tensorflow.org/versions/r2.0/api_docs/python/t

[2019-02-28 14:31] adityasingh1993 commented on #24814
I tried to build tensorflow from source, AVX2 and FMA is fixed but still getting AVX512F warning.
Please suggest the procedure or build parameter to fix AVX512F warning.

[2019-02-28 14:40] beniroquai commented on #18383
@javidcf May I ask you if the above code worked on CPU-only implementation? I cannot get it to work on CPU-version on Mac.

[2019-02-28 14:42] DHOFM commented on #26081
So changing the generator to generate tuples with
`yield tuple(self._wrap_in_dictionary(inputs, gender, age_quantized))`

solves the problem, but I suggest that Keras implementation will find its way to tensorflow, so we get more flexibility(!)

Now I get a new exception in this case its a TPU Problem (the code works without tpu now):

[2019-02-28 14:47] DHOFM opened #26214 "No registered 'Placeholder' OpKernel for XLA_TPU_JIT devices compatible with node {{node tpu_139872799811176/input_2}}"
Please have a look at my original post here: https://github.com/tensorflow/tensorflow/issues/26081
 It is no longer a tf.keras problem - now I get

[2019-02-28 15:03] elezsh commented on #21526
Our model requires, on top of things already mentioned:
'NextIteration', 'TensorArrayReadV3', 'TensorArrayScatterV3', 'TensorArraySizeV3', 'TensorArrayWriteV3'

Thanks!

[2019-02-28 15:03] andrebeu opened #26215 "option for returning *state* sequences in tf.keras.layers.rnn"
**System information**
- TensorFlow version (you are using): 1.13
- Are you willing to contribute it (Yes/No): No

Currently tf.keras.layers.RNN has an option for returning the sequnces of outputs `return_sequences`, and an option for returning the final state `return_state`.  Sometimes it is useful to analyze the trajectory of c-states for a given sequence of inputs. Therefore I'd like to recomme

[2019-02-28 15:40] skye commented on #25218
I think this would be a considerable amount of work, since our gradient functions currently don't expect to work over complex numbers. Someone could possibly prototype this by writing a version that works with a small number of ops though and see how it looks.

[2019-02-28 15:42] skye commented on #25218
I'm marking this "contributions welcome" in case someone experienced with TF wants to investigate this. Please don't attempt to fully implement this without further discussion though :)

[2019-02-28 15:47] pyaf commented on #21362
Still facing this issue in 1.13.1

[2019-02-28 15:49] iperov opened #26218 "tf-gpu==1.13.1 : 35% less batch size before OOM vs tf-gpu==1.11.0"
**System information**
- Windows 7
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 1.11.0 , 1.13.1
- Python version: 3.6.5
- CUDA/cuDNN version: 9/7.1.4 , 10/7.4.1
- GPU model and memory: GTX 1060 6GB

**Describe the current behavior**

I have standard AE network with pixel shuffler layer.

on `tf.1.11.0-cuda 9` maximum batch size for my GTX 1060 6GB i

[2019-02-28 15:52] huan commented on #12345
It will be awesome if we could support this feature by stubs, or it will be more awesome if we could support typing natively!

[2019-02-28 16:03] JianbangZ commented on #24139
@zjmirving are you able to encrypt tflite and decypt successfully? I am facing the same problem. great if you can share some insights.

[2019-02-28 16:05] Kwander commented on #25548
@jvishnuvardhan Hey!

1. Yes, I have.
2. I thought this might help, as I later discovered that GPU compiling was not supported by TF AOT then.

[2019-02-28 16:29] #26209 closed

[2019-02-28 16:35] penpornk commented on #25798
Thank you for reporting and confirming the issue, and I'm sorry for my delay! I'll try to look into this next week!

[2019-02-28 16:43] jvishnuvardhan commented on #26148
@rishi-rranjan Good to know that it worked for you. Thanks!

[2019-02-28 16:45] Overdrivr commented on #6720
Is it possible that this bug impacts UpSampling2D layers in some way ? I'm trying to replace transposed 2d convolution with Upsampling2d + Conv but suddenly it's completely impossible to get the training to converge appropriately.

[2019-02-28 17:34] pavithrasv commented on #25970
@bersbersbers are you still seeing this issue? I was not able to repro this on the latest nightly.

[2019-02-28 17:34] adis300 commented on #14607
This is an issue. Lite should can support UWP/WPF/Form apps and potentially MacOS native apps.

[2019-02-28 17:36] ymodak commented on #26059
@CrabBucket Glad it worked for you. I will close this issue now since its solved.
@rygo6 Can you please post issue by providing all the information asked in the [build/installation](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md) template? Thanks!

[2019-02-28 17:36] #26059 closed

[2019-02-28 17:39] ymodak commented on #26059
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-02-28 17:43] jvishnuvardhan commented on #24338
@lxn179208 Could you fill the issue template [here](https://github.com/tensorflow/tensorflow/issues/new?template=00-bug-performance-issue.md). It will help us to find root-cause of the issue. Is it possible for you to use recent version and check whether the issue persists? Thanks!

[2019-02-28 17:48] srhodes1-lenovo commented on #14607
It's still an issue here as well. We'd really like to have a Windows build of TF-Lite.  It's not a hard blocker right this minute, but it's something we could definitely use.

[2019-02-28 17:54] qpoisson commented on #26209
how did you solve it ?

[2019-02-28 17:55] rxsang commented on #23733
Thanks for the simple example. I'll take a look today.

[2019-02-28 17:57] mrry commented on #26084
I think @hamatake did something to address this in 7e090f6a5412fd5f22b5b75ca7ae7844c3d025e9, but perhaps the fix didn't completely solve the problem?

[2019-02-28 18:00] jvishnuvardhan commented on #25981
@malmaud Could you post this in Tensorboard issue [here](https://github.com/tensorflow/tensorboard/issues). Tensorboard group is very active so you get faster response. Thanks!

[2019-02-28 18:11] bersbersbers commented on #25970
@pavithrasv you are right, `tf_nightly-1.13.0.dev20190227` does not have this issue. I can still repro it in `1.13.0rc2` as well as in `1.13.1` which has been released in the meantime. Since the issue reproduces in a stable release, I would be very interested what the underlying cause is and, in particular, how long it has existed.

[2019-02-28 18:12] jvishnuvardhan commented on #25548
@Kwander Iam not sure what will be the root cause of the issue. Could you share a code to reproduce the issue? I just want to make sure that there is nothing wrong from the coding side. Thanks!

[2019-02-28 18:17] jlebar commented on #25548
I believe this is working as intended.

If you want to use tfcompile to do AOT compilation on CPU, all of the ops in the compiled graph must be supported on XLA:CPU.

XLA:CPU does not support JPEG decoding.

[2019-02-28 18:17] yuboworks commented on #22794
Thanks all the above. I am gonna try again soon

[2019-02-28 18:17] bersbersbers commented on #25970
Here's my pip freeze in my current installation that does repro the issue:
[code]

[2019-02-28 18:18] jlebar commented on #25548
Note that tfcompile AOT *requires XLA*.  So if you disable XLA in the build and try to use tfcompile...I'm not sure what's supposed to happen.  :)

[2019-02-28 18:45] malmaud commented on #25981
I could, but I'm a little confused - this issue is about the TensorFlow API for writing event files, not  about consuming or visualizing them. So I'm a little unsure how it relates to tensorboard.

[2019-02-28 18:46] bkanaki commented on #25563
Is there any update on this? Please let us know.

[2019-02-28 18:59] karmel commented on #25663
Can you clarify where you want alpha channel support?

[2019-02-28 19:00] petewarden commented on #26175
There are two MultiBoxTracker.java files, are you using the TensorFlow or TensorFlow Lite Android example? If you share the full path of the file, that might help, thanks!

[2019-02-28 19:01] jvishnuvardhan commented on #25981
@malmaud Even EventFileWriter is also taken care by Tensorboard team. Please open it there. Thanks!

[2019-02-28 19:02] mrry commented on #26038
Although this is an unlikely path to take at the top level of an input pipeline with a literal empty list, I don't think we can make it an error, because it is a legitimate definition for an empty dataset. For example, the list might be created by a library function that shards up a list of files, and in some cases the individual list assigned to a particular worker might be empty.

[2019-02-28 19:02] #26038 closed

[2019-02-28 19:03] reuben commented on #26174
FWIW, I've changed the test here to check if there's 0 dimensions instead of 1 and things have been working fine: https://github.com/tensorflow/tensorflow/blob/e6d074140d851e0ef52dbe4d382903b9100ba0bb/tensorflow/lite/kernels/mfcc.cc#L75

[code]

[2019-02-28 19:03] vishwasmehra commented on #26035
@ymodak I tried to install cuda 9.0 but it is showing me not compatible with your driver version. Should i go and still install it ?

[2019-02-28 19:05] malmaud commented on #25981
I see, thank you!

[2019-02-28 19:05] #25981 closed

[2019-02-28 19:06] #25904 closed

[2019-02-28 19:27] reuben commented on #18302
Hi @jsimsa,

It seems the code added in
[a647188](https://github.com/tensorflow/tensorflow/commit/a6471888cc9dfe9c18d121149bc0516a3f423fbb) has been removed with the move to tf.data.experimental in b72265dc002e712fc3d0f33434f13c7a36a484b2. Is there a new solution to batching a dataset with mixed Tensors and SparseTensors?

Currently I'm separating dense and sparse input processing into their own d

[2019-02-28 19:29] Silb78dg opened #26222 "Estimator training hangs in multiple gpu if dataset doesn't have enough element to feed both gpus last batches"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
YES
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Distributed training (one node, Multiple GPUs)
- TensorFlow installed from (source or binary):
PIP
- TensorFlow version (use command below):
TF 1.12
- Python version:
3.6.8
- CUDA/cuDNN version:
9.0
- GPU model and m

[2019-02-28 19:33] wdirons commented on #26155
Can you try the build with gcc 7.2.0 ? I also observed this issue in gcc 7.3.0 and not 7.2.0.

[2019-02-28 19:35] jvishnuvardhan commented on #26205
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-02-28 19:40] jvishnuvardhan commented on #26206
@vinayonchip Could you check whether the bug persists with new version of TF? Thanks!

[2019-02-28 19:54] wchargin commented on #25707
Closed by 059ea3ba68db861e40d750eba688281011d2735f.

[2019-02-28 19:54] #25707 closed

[2019-02-28 19:54] jw447 commented on #11823
Can anyone suggest a workaround of this case? What would be the best replace of SyncReplicasOptimizer? I'm running inception from research repo and I'm facing the same issue when running distributed tensorflow.

[2019-02-28 19:55] wchargin commented on #25524
Should be fixed by 059ea3ba68db861e40d750eba688281011d2735f.

[2019-02-28 19:55] #25524 closed

[2019-02-28 19:56] jpatts opened #26225 "record_summaries_every_n_global_steps() should not execute code unless global_step % n == 0"
* Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
  No
* OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
  Ubuntu 18.04
* Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
  No
* TensorFlow installed from (source or binary):
  Source
* TensorFlow version (use command below):
  b'v1.12.0-5845-g76410

[2019-02-28 19:59] pchoganwala commented on #10375
+1

[2019-02-28 20:02] josh11b commented on #11823
The recommended approach is to use tf.distribute.*Strategy (such as MirroredStrategy), but I have not personally tested it with Inception.

[2019-02-28 20:04] ymodak commented on #26035
Yes that should be fine, CUDA 9.0 accepts 384.81 and higher Nvidia drivers.

[2019-02-28 20:04] sgvarsh opened #26226 "Tensorboard 1.12 not working after upgrade from 1.8 to 1.12"
I upgraded tensorflow to 1.12 which also upgraded tensorboard to 1.12 from 1.8 version but I get the error:
Traceback (most recent call last):
  File "/usr/local/bin/tensorboard", line 7, in <module>
    from tensorboard.main import run_main
  File "/usr/local/lib/python3.6/site-packages/tensorboard/main.py", line 44, in <module>
    from tensorboard import default
  File "/usr/local/lib/python3.6

[2019-02-28 20:18] ebrevdo commented on #25563
@aselle ptal?

[2019-02-28 20:24] frankchn commented on #26208
Can you run the following to check whether TensorFlow is actually seeing your GPUs? If not, you might want to try reinstalling CUDA/CuDNN and TensorFlow (make sure you are using the GPU binaries for TF).

Alternatively, you might also want to try our docker images with a bunch of those built-in: https://www.tensorflow.org/install/docker

[code]

[2019-02-28 20:30] preethivenkatesh commented on #25656
@highfly22 Could you please check if this workload runs free of errors in a non-mkl build?

[2019-02-28 20:37] Naith123 commented on #24199
@ymodak sorry about getting back to you, managed to get it fixed as of today,  looks like it is working now, the solution seemed to be to install nsight from control panel and then reinstall CUDA 9, that seemed to be the solution in the end.  Kind thanks for both yours and @gunan's help!

[2019-02-28 20:37] #24199 closed

[2019-02-28 20:38] BlackHoundNate commented on #26211
I'm terribly sorry, but I can't find the relevant file to work on in the docs repository. I see in CONTRIBUTING.md that "[s]ome projects have their repositories under github.com/tensorflow [and] are navigable from the tensorflow/docs site/en directory," but I can't manage to actually navigate there from the site/en directory. I've tried searching on GitHub, but I can't find it there either.

It is

[2019-02-28 20:47] JerrikEph commented on #5252
I have the same problem, I am wondering if this is solved in new versions of tensorflow? or is there any solution for averaging IndexedSlices.

[2019-02-28 21:13] Arjuna197 commented on #1947
@zheng-xq Could you look at my stack traces also? I included several from multiple machines. I've tried updating nvidia-driver and running pci=nommconf without success.

https://pastebin.com/u/daniel_garvey

[2019-02-28 21:20] jdduke commented on #25945
This is a very general question, and better suited for posting on StackOverflow. Are you interesting in testing the runtime accuracy against novel images? Or against the original source training/validation data set? In any case, if you wouldn't mind posting on StackOverflow you'll get a more appropriate response.

[2019-02-28 21:20] #25945 closed

[2019-02-28 21:23] reinert opened #26227 "[SOLVED] Failed to build 1.13.0-rc2 with CUDA in Windows 7"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): WINDOWS 7
- TensorFlow install

[2019-02-28 21:30] helonayala commented on #26209
up

[2019-02-28 21:55] ymodak commented on #26076
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create fr

[2019-02-28 22:00] jdduke commented on #25239
Just to confirm, this is a *build* error, not a runtime error? Can you provide the full dump of the error and surrounding output?

[2019-02-28 22:01] spaul13 commented on #25945
@jdduke, thanks for the reply and the suggestion. FYI, I want to get the runtime accuracy against novel images. AS I observed the detection time on the phone using the GPU is really fast (~30 ms) for floatMobileNet classifier but what I observed the accuracy is really bad. can the prediction probability be treated as runtime prediction accuracy? although the threshold value seems really less 0.3,

[2019-02-28 22:07] osanseviero commented on #25820
Hi @dynamicwebpaige. Sorry, this is my first contribution to TensorFlow. Should I wait for a person to review this issue before working on this, or can I go ahead and send a PR? I got a bit confused with the label.

[2019-02-28 22:13] jdduke commented on #25945
The probability, while related to accuracy, is quite different.

If you're seeing dramatically different results between the GPU path and the CPU path, that could be a bug. If you could provide an image/screenshot of an example that is wrong on the GPU (and right on the CPU), that would help.

[2019-02-28 22:26] dynamicwebpaige commented on #26211
@BlackHoundNate - No worries! Files for the docs are often hard to track down. :slightly_smiling_face:

The part of `activations.py` you'll want to modify for `tf.keras.actions.relu` is located [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/activations.py#L143). Let me know if you run into any snags or confusions when making changes to the docstring! And thanks

[2019-02-28 22:32] spaul13 commented on #25945
@jdduke , for CPU and GPU the results are the same but predictions are mostly wrong. That's my concern.

[2019-02-28 22:40] jvishnuvardhan commented on #26191
@Thajobe Please check tested build configuration for your system [here](https://www.tensorflow.org/install/source#linux). For TF1.12, Bazel 0.15.0 is recommended. Could you downgrade it from Bazel 0.19.0 to 0.15.0 and follow instructions listed [here](https://github.com/rnreich/ubuntu-tensorflow-gpu-all-versions). Another suggestion is to start fresh. So it is better to uninstall python and tensor

[2019-02-28 22:44] jdduke commented on #25945
In general, the MobileNet classification models only make claims about the source data set (ImageNet), for which it achieves ~70% accuracy (see https://github.com/tensorflow/models/tree/master/research/slim/nets/mobilenet). There are only 1000 labels in that set, so it's unsurprising that you're not seeing perfect accuracy across arbitrary images, but you should be getting close for common objects

[2019-02-28 22:46] jvishnuvardhan commented on #26227
@reinert Could you follow the instructions [here](https://github.com/jvishnuvardhan/Installing-TensorFlow-GPU-on-Windows-10-TF1.12/blob/master/README.md) to install TF. The instructions are mainly for installing TF1.12 with CUDA9.0 but you can follow the same approach but use updated files/drivers etc. Please let me know how it progresses. Thanks!

[2019-02-28 22:49] ShnitzelKiller commented on #783
Then I take it the official documentation of tf.gradients() is erroneous?

There doesn't seem to be such a keyword argument though.

[2019-02-28 22:51] dynamicwebpaige commented on #26197
Thank you, Praneet! Please feel free to reach out if you have any questions. :slightly_smiling_face:

[2019-02-28 22:54] jdduke commented on #19431
Closing per the latest comment, glad you got it working!

[2019-02-28 22:54] #19431 closed

[2019-02-28 22:59] KaramAbuaisha commented on #26072
I updated the issue, please let me know if there's any important information missing

[2019-02-28 23:01] jvishnuvardhan commented on #26222
@Silb78dg Could you check whether the bug persists with newer TF versions? Thanks!

[2019-02-28 23:11] skye commented on #26203
@petewarden do you know anything about graph freezing functionality?

Unfortunately I think tf.graph_util.convert_variables_to_constants is deprecated, so I'm not sure if we have the bandwidth to address this.

[2019-02-28 23:20] jvishnuvardhan commented on #26225
@jpatts This is more related to tensorboard Repo. Please post the issue [here](https://github.com/tensorflow/tensorboard/issues) and the Tboard Team will take care of that issue. Thanks!

[2019-02-28 23:28] jvishnuvardhan commented on #26214
@DHOFM Thank you for your post. We noticed you have not filled out the fields in the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. It would be great if

[2019-02-28 23:29] guptapriya commented on #5252
@yuefengz can maybe shed some light on this.

[2019-02-28 23:44] #25701 closed

[2019-02-28 23:46] guptapriya commented on #25340
Official ResNet50 v1.5 with Keras here: https://github.com/tensorflow/models/tree/master/official/resnet/keras

We will be adding README to it as well.

[2019-02-28 23:47] ymodak commented on #23389
We have an [open issue on tensorboard](https://github.com/tensorflow/tensorboard/issues/835) tracking this. Thus closing this so that we can continue discussion on same thread. Thanks!

[2019-02-28 23:47] #23389 closed

[2019-03-01 00:09] JerrikEph commented on #5252
Given that `indices` in `IndexedSlices` from different gpus are the same, this should work.
[code]

It manually extract `values` and `indices` from `IndexedSlices` and then average `values`, and re-encapsulate `averaged_value` and `indices` into an IndexedSlices Object.
Do note that it is only applicable when the indices from different `IndexedSlices` are identical.
Hope it helps, somebody should

[2019-03-01 00:10] jvishnuvardhan commented on #26166
@timoonboru Could you provide error log and any other details you wish to share to find root-cause of the issue? Thanks!

[2019-03-01 00:17] jdduke commented on #25690
If you move the include as follows:

[code]

does that solve the problem?

[2019-03-01 00:26] jvishnuvardhan commented on #26178
@rickstaa Is it possible for you to test whether this bug persists with latest version of TF? Thanks!

[2019-03-01 00:40] Talent25 commented on #10647
Suppose I have run both pip install tensorflow-gpu and pip3 install tensorflow-gpu, So, I have two different instances of tensor flow. I am I correct?

Now I assume two instances of tf is installed, does it mean when I run my script with python3 tfsample.py, it goes and use tensorflow-gpu installed by pip3 and when I  use python2.7 tfsample.py, it goes and use tensorflow-gpu installed by pip?

[2019-03-01 00:48] jvishnuvardhan commented on #25539
@Kwander Is this related to [this](https://github.com/tensorflow/tensorflow/issues/25548). If it is duplicate, please close this. If it is not duplicate, did you enable/disable XLA here. Thanks!

[2019-03-01 00:50] jvishnuvardhan commented on #25542
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-03-01 00:50] #25542 closed

[2019-03-01 00:56] jvishnuvardhan commented on #25643
I am closing this issue. Thanks for the ideas and support. We are improving constantly by optimizing the process. Thanks!

[2019-03-01 00:56] #25643 closed

[2019-03-01 01:01] ymodak commented on #26081
@DHOFM Thanks for the thorough investigation. Now that you have filed a new issue explaining the newly discovered error, can we close this thread and track it there.

[2019-03-01 01:03] jvishnuvardhan commented on #25760
@mauriceqch Could you try latest TF and check whether the bug persists or not? Thanks!

[2019-03-01 01:03] BlackHoundNate commented on #26211
Thanks so much, @dynamicwebpaige!

[2019-03-01 01:03] ymodak commented on #25838
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-03-01 01:03] #25838 closed

[2019-03-01 01:20] jvishnuvardhan commented on #25797
@policeme I wrote the installation [steps](https://github.com/jvishnuvardhan/Installing-TensorFlow-GPU-on-Windows-10-TF1.12/blob/master/README.md) for installing TF1.12_gpu on Windows 10 system. The steps are similar to what you mentioned. From my experience when you install through Anaconda( for TF_gpu), some of the CUDA paths are not referenced correctly. I think it is better to install NVDIA dr

[2019-03-01 01:20] qlzh727 commented on #26026
Fixed.

[2019-03-01 01:20] #26026 closed

[2019-03-01 01:29] policeme commented on #25797
@jvishnuvardhan I installed the NVIDIA driver before install Anaconda, my GPU model is NVIDIA V100 16G

[2019-03-01 01:37] Thajobe commented on #26191
@jvishnuvardhan thank you for your support.
I tried with Bazel 0.15.0 and with fresh tensorflow (r1.12) download in a new conda environment but this doesn't help.
With Bazel 0.15.0 I get additional problems (the other problems still persist):
[code]
what was one reason I used 0.19.2 as mentioned [here](https://github.com/tensorflow/tensorflow/issues/22654#issuecomment-464521582).

Also I tried wit

[2019-03-01 01:42] yongwww opened #26233 "Any plan to support control flow in TF lite?"
Seems TF lite doesn't support object detection models like rcnn (https://github.com/tensorflow/tensorflow/issues/19293), I guess it was due to the control flow stuff, is there any plan/timeline to add the support?

[2019-03-01 01:42] jing-dong commented on #23733
I tried to look into this problem today.

@urimend I cannot reproduce the memory leaks from your sample code using either tensorflow 1.12 installed from python3 virtualenv or anaconda. Can you please provide more details about this issue? Does the size of e['video'] matter? I tried setting e['video'] to numpy.zeros(10**5).

@galeone I cannot reproduce the memory leaks you reported in the following

[2019-03-01 01:52] saforem2 commented on #23780
@artsobolev Out of curiosity, what was the issue with the model size?

I was running into the same issue as described but was able to 'fix' it by disabling arithmetic optimizations via

[code]
without having to disable memory optimization.

Also, I was wondering if anyone might have any additional insight into this issue and/or any ideas about possibly fixing it instead of just disabling arithmeti

[2019-03-01 02:46] liuheng92 commented on #26203
oh, I see. I found a warning in [tensorflow api docs](https://www.tensorflow.org/api_docs/python/tf/graph_util/convert_variables_to_constants). But I am using old version(1.4.0), there is no api named "tf.compat.v1.graph_util.convert_variables_to_constants". So which api can I use for converting ckpt to pb？"freeze_graph.freeze_graph" api？

[2019-03-01 02:48] samikama commented on #21081
@trevor-m @pooyadavoodi  Can you PTAL

[2019-03-01 02:49] samikama commented on #22514
@trevor-m @pooyadavoodi  Can you PTAL

[2019-03-01 02:49] samikama commented on #22957
@trevor-m @pooyadavoodi  Can you PTAL

[2019-03-01 02:50] samikama commented on #23692
@trevor-m @pooyadavoodi  Can you PTAL

[2019-03-01 02:51] samikama commented on #24268
@trevor-m @pooyadavoodi  Can you PTAL

[2019-03-01 02:51] samikama commented on #25187
@trevor-m @pooyadavoodi  Can you PTAL

[2019-03-01 02:51] samikama commented on #25378
@trevor-m @pooyadavoodi  Can you PTAL

[2019-03-01 02:52] samikama commented on #26202
@trevor-m @pooyadavoodi  Can you PTAL

[2019-03-01 03:08] jumpyknight commented on #25912
The problem is solved.
The EMA part in the code I use is not correct.
    MOVING_AVERAGE_DECAY = 0.9999
    variable_averages = tf.train.ExponentialMovingAverage(
        MOVING_AVERAGE_DECAY)
    for var in variables_to_restore:
        tf.add_to_collection(tf.GraphKeys.MOVING_AVERAGE_VARIABLES, var)
    variables_to_restore = variable_averages.variables_to_restore()
If I remove
    for var in va

[2019-03-01 03:09] #25912 closed

[2019-03-01 03:18] lamberta commented on #26210
Thanks, Roman.

I've filed an an internal bug against site infra: b/126800213

[2019-03-01 03:19] #6720 closed

[2019-03-01 03:20] ypxie commented on #3460
what if you want to continue training the model after the model after evaluation?

[2019-03-01 03:24] ypxie commented on #3460
what is `train_op ` here?

[2019-03-01 03:37] rygo6 opened #26234 "DLL Load failed, WIn10"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2019-03-01 03:38] ezhulenev commented on #23780
Do you have minimal reproducible example? I have a few theories, but small example would help.

[2019-03-01 03:43] johnpjf commented on #6720
@Overdrivr I'm not familiar with UpSampling layer but it's unlikely that this bug would cause something as extreme as failing to converge.

[2019-03-01 03:57] Praneet460 commented on #26197
Hello, @dynamicwebpaige  I tried to find out the respective file in `tensorflow/docs/site/en` which I need to edit but I am not able to track it down. I would be happy if you help me a little bit in finding the appropriate file.

[2019-03-01 04:02] Shawn-Shan commented on #23166
I encountered the same problem when using Dropout layers rather than BatchNorm. I was able to solve the problem by `K.set_learning_phase(0)`. However, this doesn't work with BatchNorm.

[2019-03-01 04:06] rygo6 commented on #26234
I tried installed cudnn version: cudnn-9.0-windows10-x64-v7.3.0.29

Same issue.

[2019-03-01 04:08] fishersosoo commented on #26234
I got the same problem when I upgrade to 1.13.1. [https://github.com/tensorflow/tensorflow/releases](url)

[2019-03-01 04:13] urimend commented on #23733
@jing-dong - you meant @urimerhav :)

[2019-03-01 04:16] rygo6 commented on #26234
I tried adding CUDA_HOME system environment variable set to;
C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v9.0

Also changed path variable:
C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v9.0\lib
to
C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v9.0\lib\x64

Neither of that worked.

But as per suggestion of fishersosoo, I did pip uninstall tensorflow-gpu to get rid of 1.13, then I i

[2019-03-01 04:16] #26234 closed

[2019-03-01 05:00] ypxie commented on #3460
[code]

I was wondering, will this work? I am kinda confused

[2019-03-01 05:14] vanshmohale commented on #24470
I'm also receiving the same error.
I've installed tensorflow as per [these](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/installation.md) instructions and when I try to run

`python object_detection/builders/model_builder_test.py`

I am receiving the following error along with this message box:
![screenshot 7](https://user-images.githubusercontent.com/28893609/5

[2019-03-01 05:15] vinayonchip opened #26239 "Why is op:BatchMatMul listed in file(.pbtxt), when there is no call to such op?"
**System information**
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from: binary
- TensorFlow version: 1.12
- Python version: 3.6

**Describe the current behavior**
There is no usage of op named _**BatchMatMul**_ in my code. But the op is listed in the file(.pbtxt) which gives me other issues while converting the graph to tflite.

**Describe the expected behavior**
If

[2019-03-01 05:18] vinayonchip commented on #26076
Ok @ymodak.
Actually I was guessing it as a miscellaneous issue and used the related template.
I have created a new issue using the Bug template.
https://github.com/tensorflow/tensorflow/issues/26239

[2019-03-01 05:18] #26076 closed

[2019-03-01 05:20] liuxinni0406 opened #26240 "cannot import tensorflow"
**System information**
- Win10 X64 :
- pip install tensorflow-gpu==1.12.0
- TensorFlow version:
- Python version: 3.6
- Installed using  pip
- GCC/Compiler version (if compiling from source):
- CUDA: 9
- cuDNN version: 7
- GPU model and memory: NVIDIA GeForce MX150

**Describe the problem**
cannot import tensorflow,  always this error: tensorflow.python.pywrap_tensorflow_internal import *,
I have

[2019-03-01 05:40] ghego commented on #19480
I'm noticing a simiilar problem with TF 2.0 nightly (`2.0.0-dev20190228`) which enforces Eager mode.

The following minimal code:
[code]

produces error:
[code]

I've been able to fix this in 3 ways:
1) use `tensorflow.compat.v1.disable_eager_execution()`
2) remove the `Conv2D` layer
3) remove the `batch_size` and `epochs` arguments from the `.fit` call

the behavior seems weird, can anyone explai

[2019-03-01 05:52] saurabhaec opened #26241 "F tensorflow/core/platform/cpu_feature_guard.cc:37] The TensorFlow library was compiled to use SSE4.1 instructions, but these aren't available on your machine. Aborted"
Error :

tensorflow/core/platform/cpu_feature_guard.cc:37] The TensorFlow library was compiled to use SSE4.1 instructions, but these aren't available on your machine.
Aborted

 getting this error after running

**python -m rasa_core.train -d domain.yml -s data/stories.md -o models/current/dialogue -c policies.yml**

Version:

My System Config

Architecture:          x86_64
CPU op-mode(s):        3

[2019-03-01 05:55] Nayana-ibm opened #26242 "Build failure on s390x on hwloc"
**System information**

    * OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04

    * Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA

    * TensorFlow installed from (source or binary): source

    * TensorFlow version: master as on today

    * Python version:  2.7.x

    * Bazel version (if compiling from source): 0.19.0

[2019-03-01 05:55] Nayana-ibm commented on #26242
Tensorflow CI is failing on dependency hwloc. This is a new dependency added to TensorFlow recently.
hwloc contains arch specific assembly code which Z don't have support.

CI link: https://ibmz-ci.osuosl.org/job/TensorFlow_IBMZ_CI/2147/console

[2019-03-01 05:55] Nayana-ibm commented on #26242
hwloc contains Intel specific assembly code which fails on s390x.  Can you please advise if we can disable this feature? What impact it can make?

[2019-03-01 06:03] chanduthedev commented on #10779
It worked for me.

[2019-03-01 06:05] ghego opened #26244 "FailedPreconditionError when running Convolutional Keras model on CPU in TF 2.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0-dev20190228
- Python version: 3.7
- CUDA/cuDNN version: 10/7.4
- GPU model and memory:  Tesla

[2019-03-01 06:07] ghego commented on #19480
I've also opened a separate issue #26244

[2019-03-01 06:11] tianq01 commented on #26200
@ebrevdo could you help take a look?
thanks

[2019-03-01 06:29] artsobolev commented on #23780
@saforem2, disabling optimizations worked for me as well, but so did decreasing the hidden layer size in the LSTM from 512 to 128. Apparently, the optimizer behaves differently in these cases.

@ezhulenev, unfortunately, I do not have such example.

[2019-03-01 06:39] vinayonchip commented on #26206
Hi @jvishnuvardhan
When I run the same tflite conversion using **Tensorflow1.12 (binary)** the conversion ends with an error unsupported ops(as expected).
The same version of **Tensorflow1.12 built from source** should also give me same error (unsupported ops) but instead it throws a different error. Why?

[2019-03-01 06:43] Frank1993 commented on #22889
I also encounter the same problem.  I used dataset to read data, the MirroredStrategy job will hang on at last batch if I use "shuffle->repeat->batch". But when I changed to "shuffle->batch->repeat", the job will finished correctly

[2019-03-01 06:45] Frank1993 commented on #26222
@jvishnuvardhan, I also encounter the same problem using tf1.12. Which version do you mean? 1.13?

[2019-03-01 07:03] vinayonchip commented on #26206
I will check

[2019-03-01 07:05] ghego opened #26245 "InvalidArgumentError Incompatible shapes when multi_gpu_model used on LSTM model in TF 2.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0-dev20190228
- Python version: 3.7
- CUDA/cuDNN version: 10/7.4
- GPU model and memory:  Tesla

[2019-03-01 07:11] bono1567 commented on #26099
Hello, I am new to the tensorflow community and which going thorugh the code I couldn't find gen_array_ops. If possible I would like to contribute to the issue.

[2019-03-01 07:28] fenghou1st commented on #3460
It doesn't matter, right?
Due to the confidentiality agreement, I can't upload the full project, the following is the newest version of model_fn_train():

[code]

[2019-03-01 07:29] zjmirving commented on #24139
ByteBuffer byteBuffer = ByteBuffer.allocateDirect(bytes.length);
byteBuffer.order(ByteOrder.nativeOrder());
byteBuffer.put(bytes);
Interpreter mTFLiteInterpreter = new Interpreter(byteBuffer);

[2019-03-01 07:43] ypxie commented on #3460
Thanks for the explaning, But what if you want to restore the variable to the original variable to continue training?

[2019-03-01 07:53] elmirador commented on #26099
`gen_array_ops.py` is located under `tensorflow/python/ops/`.
You can't find it on github because `gen_array_ops` is generated during building.
Basically it's a wrapper around the underlying C++ code of tensorflow. If you're interested, the C++ code of one_hot ops is located at 'tensorflow/core/kernels/one_hot_op.cc'.

[2019-03-01 07:55] sathyamoorthyrr commented on #23898
When does **KeyError:The name 'something' refers to an Operation not in the graph** occur. facing similar issue. What operation is being performed(possibly in ops.py) that leads to this error?
Also, kindly look [this](https://github.com/tensorflow/tensorflow/pull/12759#issuecomment-467860111)

[2019-03-01 08:03] fenghou1st commented on #3460
You don't need to save and restore the variables manually, 'tf.estimator.Estimator' will save and restore all the parameters automaticfally for you.

[code]

[2019-03-01 08:07] leandro-gracia-gil commented on #26155
Using gcc 7.2.0 seems to fix this specific problem, but getting that version might be not be very straightforward for Ubuntu 18.04 users. Furthermore, after the problem is fixed you get a linker error that can force you to disable XLA  (#24373).

Considering up-to-date Ubuntu 18.04 + CUDA 10.1 is likely to become a popular build environment, perhaps something should be done to avoid both this and

[2019-03-01 08:11] ypxie commented on #3460
Thanks! what is `
get_input` ?  I mean during  the online training, how do you restore the var back to original variable and continue training? Because we want to do evaluation during training.

[2019-03-01 08:15] fenghou1st commented on #3460
`tf.estimator.Estimator` will do this for you, of cause you can evaluate the model during training.
Maybe you need to read the reference of this class.

[2019-03-01 08:16] ielenik commented on #26240
Looks like TensorFlow have moved to Cuda 10
[screen](https://yadi.sk/i/zDgz_13_2UfY_Q)
But that is just the half of the problem
The real problem is that Cuda 10 is not available at nvidea web site (I found only 10.1)

[2019-03-01 08:22] ielenik commented on #26240
I have tried to make a copy of cublas64_10 with cublas64_100 name, tensorflow loaded but ended up with "unknown cuda error"

[2019-03-01 08:25] ypxie commented on #3460
Thanks for the explanation. So basically all I need is the following?
[code]

[2019-03-01 08:39] fenghou1st commented on #3460
As mentioned above, please make sure you won't fall into this pit:

[code]

[2019-03-01 08:41] combacsa opened #26247 "wav_io needs to accept wav files which has 'JUNK' chunk before 'fmt ' chunk"
**System information**
- TensorFlow version (you are using): 1.12.0
- Are you willing to contribute it (Yes/No): Not yet decided

**Describe the feature and the current behavior/state.**
Sometimes we encounter wav files which has `JUNK` chunk before `fmt `chunk. CPython's wave module handles this kind of wav files [by skipping those unnecessary chunk](https://github.com/python/cpython/blob/3.6/Lib

[2019-03-01 08:45] chellary commented on #23350
This happening even without Dropout. Any clue why this happening ?

tensorflow.python.framework.errors_impl.InvalidArgumentError: {{node seq2seq/loss/gradients/seq2seq/encoder1/bidirectional_rnn/bw/bw/cond_399/cond/Select_grad/Select/Enter}} has inputs from different frames. The input {{node seq2seq/encoder1/bidirectional_rnn/bw/bw/cond_399/cond/Select/Switch_1}} is in frame 'while_context'. The i

[2019-03-01 08:56] Apollo2Mars commented on #18394
mark

[2019-03-01 09:03] ygoncharov commented on #23733
For me, it is reproduced for almost every scenario. Just try to read a few thousands of files directly from gs:// using tf.gfile.GFile with the "with" statement. You will see a memory leak right away.

The important part that it should be tf 1.12 built for CUDA 10. It seems that it doesn't repro for CUDA 9 or CPU builds.

[2019-03-01 09:20] eugenmk opened #26249 "Compiling TF 1.12 failes under CentOS 6: name 'http_archive' is not defined"
**System information**
- _CentOS release 6.9 (Final), Kernel: 4.15.0-45-generic, x86_64_
- TensorFlow installed from (source or binary): _source_
- TensorFlow version: _1.12.0_
- Python version: _3.6.8, 64bit_
- Bazel version (if compiling from source): _Build label: 0.23.0- (@non-git)_
   actually Bazel, is build from source too.
- GCC/Compiler version (if compiling from source): _gcc (GCC) 6.3.1

[2019-03-01 09:25] AkbarAlam opened #26250 "Tf.Keras metrics issue"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO
- OS Platfo

[2019-03-01 09:26] markdryan opened #26251 "The eigen_spatial_convolutions_test benchmark crashes"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): b

[2019-03-01 09:32] vinayonchip commented on #26206
Using TensorFlow 1.13 gives a different error:

tflite_convert \

WARNING:tensorflow:From /home/vinay/venv/tensorflow_src_1.13/lib/python3.6/site-packages/tensorflow/lite/python/convert_saved_model.py:61: load (from tensorflow.python.saved_model.loader_impl) is deprecated and will be removed in a future version.
Instructions for updating:
This function will only be available through the v1 compati

[2019-03-01 09:33] highfly22 commented on #25656
It seems the contrib/verbs modules is out of date.

The method RdmaMgr::RegMemVisitors of verbs/rdma_mgr.cc try to register allocation visitor in the ProcessState. But the ProcessState allocator is not the default one any more.

I added a class ProcessStateAllocatorFactory, and register this class. Then the assertion dismissed.
This issue will appear in the mkl build.

[code]

[2019-03-01 09:41] gavinlive commented on #23590
Any updates on a GPU version of tf.manip.roll? It becomes a huge bottleneck on training on big clusters of GPUs.

BW, Gavin

[2019-03-01 09:52] KasparPeterson commented on #26249
I have the exact same problem on Ubuntu 18.04. I hope my steps help as well.
[code]

[2019-03-01 10:13] PhungVanDuy commented on #26209
Yes, I figured out my system installed Cuda 9.0 but maybe tensorflow 1.13.1 only support Cuda 10. So I  installed tensorflow 1.12.0 and it works!

Thanks!

[2019-03-01 10:40] rsarm opened #26253 "MPI call makes `//tensorflow:tf_python_api_gen_v1` fail when building tf-1.12.0 or 1.13.1 on Cray system"
**System information**
- Cray XC 50 (both login node and compute nodes)
- Bazel-0.18.1 and 0.21.0
- TensorFlow-1.12.0 and 1.13.1
- Python-3.6.5
- GCC-6.2.0
- CUDA-9.1
- cuDNN-7.1.4

**Describe the problem**
We are encountering the following error when building TensorFlow-1.12.0 or 1.13.1:
[code]
This continues with the echo of the command that failed
[code]
an then at the end there is this
[code]

[2019-03-01 10:41] helonayala commented on #26209
thanks mate

worked for me as well

I will open an issue about it

[2019-03-01 10:43] helonayala opened #26254 "cuda 9 or 10"
TF installation via pip is pointing to 1.13.1, requiring CUDA 10, while in the documentation it's mentioned CUDA 9

In order to install via pip for cuda 9 one should

see
https://github.com/tensorflow/tensorflow/issues/26209

[2019-03-01 11:04] javidcf commented on #18383
@beniroquai Thank you for your comments. That is strange, it seems to work for me with `tf.float64` values, and both in CPU and GPU. I am using TensorFlow v1.12.0 on Windows 10. Unfortunately I don't have access to a Mac system to try there.

[2019-03-01 11:16] YoussefShoeb commented on #26208
TensorFlow sees the GPU if I run the master session from the node that has the GPU, but if I start the master session is from the node that only has cpu I get the TensorFlow device GPU:0 was not registered, even though I can run variables on the cpu of the other node that has both the GPU and CPU

[2019-03-01 11:17] manikTharaka commented on #25729
Was it an issue with your code or was it a bug in the TF codebase ?

[2019-03-01 11:18] mika-fischer commented on #26084
Actually 7e090f6 should fix this issue. But it definitely is not fixed in https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-cpu-windows-x86_64-1.13.1.zip

Are there nightly master libtensorflow zips that I could check to see if it's fixed in master?

[2019-03-01 11:19] joshpencheon commented on #26249
Same issue for me, on CentOS 7.

[2019-03-01 11:21] albertz commented on #3945
No, this is still not fixed.
Related (or maybe duplicate): #9284

[2019-03-01 11:23] joshpencheon commented on #26249
I was able to get past this by adding the following to the `WORKSPACE` file, prior to the `http_archive` call:

[code]

[2019-03-01 11:24] mauriceqch commented on #25760
@jvishnuvardhan Just tried on latest TF and the bug is still present.
In particular, I used the same setup as in the initial post with the following differences:

* TensorFlow version (use command below):  ~~_'v1.12.0-0-ga6d8ffae09' 1.12.0_~~ -> _b'v1.13.1-0-g6612da8951' 1.13.1_
* Bazel version (if compiling from source): ~~0.18.1~~ -> _0.21.0_

[2019-03-01 11:27] KasparPeterson commented on #26249
I found a workaround by using an older version of bazel(0.17.2)
Hope this helps.

[2019-03-01 11:36] Sawatdatta opened #26255 "Failed to get device properties, error code: 30"
Failed to initialize GPU device #0: unknown error

Os: windows 10
Tensorflow version: 1.13.1
Keras Version: 2.1.6
CUDA version: 10(major)
Cudnn version: 7.5
python 3.6

I got following error:

WARNING:tensorflow:From C:\Users\SUS\AppData\Local\Programs\Python\Python36\lib\site-packages\keras\backend\tensorflow_backend.py:3144: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is d

[2019-03-01 11:46] reinert commented on #26227
Hi, I followed the instructions and now the error is different (it seems to be in a later step):

[code]

[2019-03-01 12:47] gonnet commented on #2625
Would it be sufficient to su recursively across the dimensions of a Tensor?

This would reduce the problem from being O(size) to O(size of largest dimension), which might just be enough for most use-cases, and should be a lot easier to implement than compensated summation.

[2019-03-01 13:17] reinert commented on #26227
After running again, I got the same initial error. It keeps crashing while creating this `lib_tpu_ops`. Is there anyway to disable TPU in the building process?

[2019-03-01 13:19] eugenmk commented on #26249
Thank you,

for both workarounds more errors appear. I think there is something not configured correctly in my case...

@joshpencheon

Afterwards I get the following

    starting local Bazel server and connecting to it...
    Loading:
    Loading: 0 packages loaded
    ERROR: /root/.cache/bazel/_bazel_root/cbe8b06b94787a6b39e59564d90f2497/external/io_bazel_rules_closure/closure/compiler/closure_j

[2019-03-01 13:25] roymiles commented on #22197
I too am getting the same error using Tensorflow version 1.12.0  In fact, I can't export and read in the same meta file at all..

[2019-03-01 13:26] DHOFM commented on #26081
@ymodak Yes this thread can be closed. Should I open a feature requester my suggestion that Keras implementation will find its way to tensorflow, so we get more flexibility ??

[2019-03-01 13:27] reinert commented on #26227
Maybe related to https://github.com/tensorflow/tensorflow/commit/cbe8172cba4f2ed05a0980585ba48ef257922c18 ?

[2019-03-01 13:31] benleetownsend opened #26256 "Contrib AdaMax implementation producing NaNs on GPU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below): Tested on 1.12 and 1.13
- Python version: 3.6
- CUDA/cuDNN version: 9
- GPU model and memory: verified on 1080ti and

[2019-03-01 13:37] reinert commented on #26227
Can I disable building the `contrib` directory?

[2019-03-01 13:46] madisonmay commented on #26256
I can reproduce on GPU device on tf 1.11.0 as well.

[2019-03-01 14:05] joshpencheon commented on #26249
@eugenmk yes I got stuck going down that route, and followed @KasparPeterson 's approach of downgrading `bazel` instead.

[code]

Should be resolveable with `yum install patch`.

I'm now having problems along the lines of tensorflow/tensorflow#15129

[code]

...and have as yet been unable to resolve; I think possibly because of anaconda including a different version of `gcc`.

[2019-03-01 14:28] rickstaa commented on #26178
@jvishnuvardhan Thanks for your response. I tested it in the newest TF build and the error still seems to be there.

**OUTPUT LOG**
`(base) [15:13:50] ricks@ricks-HP-ZBook:~/OneDrive/Education/Other/Deep Learning/Other/Keras2tf $ source /home/ricks/miniconda3/bin/activate(base) [15:13:50] ricks@ricks-HP-ZBook:~/OneDrive/Education/Other/Deep Learning/Other/Keras2tf $ conda activate datascience_tf_n

[2019-03-01 14:37] eugenmk commented on #26249
Using the dowgraded bazel with installed `patch` helped me forward.
I didn't get the error about undefined reference yet. but after some other fixes I'm at the the following now

    ERROR: /root/.cache/bazel/_bazel_root/cbe8b06b94787a6b39e59564d90f2497/external
        /lmdb/BUILD.bazel:8:1: C++ compilation of rule '@lmdb//:lmdb' failed (Exit 1)
    cc1: error: unrecognized command line option "-

[2019-03-01 14:40] liuqiang3 commented on #25895
I encountered the same preblem in tensorflow-gpu-1.9

[2019-03-01 14:43] joshpencheon commented on #26249
I've finally got the build to succeed, and didn't come across that issue @eugenmk - but perhaps `
bazel clean -expunge`, as described on tensorflow/tensorflow#15849, might help?

[2019-03-01 14:45] wdirons commented on #26155
@leandro-gracia-gil , thank you for confirming you saw the same issue as me and my co-worker. When I first saw this the only thing that had changed in my environment was cuDNN 7.5. My co-worker opened a bug against NVIDIA for this problem. That bug is not publicly viewable, but last I knew NVIDIA has not commented on it yet. If the problem is in cuDNN, I would hope NVIDIA provides a fix for it.

[2019-03-01 15:06] volvador opened #26258 "Support matrix_inverse in XLA"
It seems MatrixInverse op is not supported in the XLA.

Indeed, trying to `tf.compile` a graph containing a `tf.matrix_inverse` op yields the following error

    No registered 'MatrixInverse' OpKernel for XLA_CPU_JIT devices compatible with node

Can you please add that support?

In the meanwhile, can you suggest a workaround to compile a graph containing a matrix_inverse operation? I thought abo

[2019-03-01 15:14] leandro-gracia-gil commented on #26155
@wdirons I'm not that sure that this problem is on the NVIDIA side. It could also be a gcc or a protobuf issue, considering it fails depending on the gcc version and on protobuf headers. I also tried using clang to build the CUDA kernels, but hit other problems.

[2019-03-01 15:21] byronyi commented on #25656
I believe it’s fixed in current master with #24250. Could you try again?

[2019-03-01 15:26] bzamecnik commented on #17541
It seems that CuDNNGRU is in tf.keras at least since TF 1.9: https://www.tensorflow.org/versions/r1.9/api_docs/python/tf/keras/layers/CuDNNGRU.

[code]

works for me as of TF 1.12.

[2019-03-01 15:39] dmilos opened #26259 "Any plan to add SoftClipping and SmoothMax"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes/No):
Yes.
**Descri

[2019-03-01 15:40] yugushihuang commented on #25729
@roymiles How did you fix the issue?

[2019-03-01 15:42] ageron opened #26260 "Creating an unused Mean metric in a custom model's constructor breaks the model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
MacOSX 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
No
- TensorFlow installed from (source or binary):
Binary
- TensorFlow version (use command below):
tf.ve

[2019-03-01 15:56] joshpencheon commented on #15129
For those arriving via Google in future, the following `-lrt` additions allowed tensorflow r1.12 to build for me on CentOS7: https://gist.github.com/joshpencheon/bd4299223c26.

[2019-03-01 16:05] jxy commented on #20421
Allow me to paste the changes I made for compiling a CPU only python wheel on FreeBSD 12.0.

[code]

[code]

The only thing that would break for other system is the `-lexecinfo` insertion to the `linkopts`.  For that I need some help from people who knows `bazel` and the build scripts better to point me to the right place for those.

[2019-03-01 16:24] ebrevdo commented on #26200
The only PR i can think that may have affected you is [this one](https://github.com/tensorflow/tensorflow/commit/4503f464628d4ba6f01e0e5b2aa9ff829763982b).  You could try building TF before and after this PR and see if it is in fact causing the regression.

[2019-03-01 16:28] deepakmeena635 commented on #24099
so, if is use tfrecords with data api and only tf ops, would it work?

[2019-03-01 16:35] mrry commented on #26084
I'm not sure if we publish nightlies for that build.

@av8ramit I noticed that you made a change internally (209826891) that caches artifacts for a libtensorflow CPU build on Windows, but do you know if these are published anywhere?

[2019-03-01 16:36] JianbangZ commented on #24139
@zjmirving Thank you. but how do you encrypt tflite flatbuffer model file?

[2019-03-01 16:48] alvaroslm commented on #26150
I managed to build it in windows but you've got to copy some of the libraries (some have 101 or 10 in their name vs 100 for all of them in cuda 10). But I'm running into another issue, if I try to use Cudnn in recurrent layers from C++ it's crashing (it used to work with tf 1.10.1 and cuda 9). I've tried all cudnn versions supported by cuda 10, to no avail. I'm downgrading to Cuda 10.0 and recompi

[2019-03-01 16:53] jvishnuvardhan commented on #26178
@rickstaa Thanks for checking the bug with latest version of TF. Also, thanks for the workaround you provided in stackoverflow. Thanks!

[2019-03-01 16:58] jvishnuvardhan commented on #26227
@reinert Did you uninstall everything before installing TF with the instructions I provided? Thanks!

[2019-03-01 17:05] mika-fischer commented on #26084
Well, it's easy enough to check: `dumpbin /exports tensorflow.dll` will print all exported symbols.

[2019-03-01 17:07] reinert commented on #26227
No, I didn't. But I've found the problem is not related to TPU contrib. Instead it's related to this `swig` lib. I found many issues regarding it. I'll dig deeper and report here what I can.

[2019-03-01 17:13] vishwasmehra commented on #26035
Thanks the problem got resolved. Really appreciate it !!

[2019-03-01 17:27] jdduke commented on #25743
Stay tuned for updates on the open source release of the GPU delegate.

[2019-03-01 17:27] #25743 closed

[2019-03-01 17:44] jvishnuvardhan commented on #26254
@helonayala Could you point us where you are seeing CUDA 9 for TF 1.13.1? Please check release notes [here](https://github.com/tensorflow/tensorflow/releases/tag/v1.13.1) that mentions "TensorFlow GPU binaries are now built against CUDA 10". As the TF.1.13.1 was built against CUDA10, it will look for CUDA10 path. If you have CUDA9.0, please upgrade it to CUDA 10 and then install tensorflow. Thanks

[2019-03-01 17:46] blemke commented on #26209
I have TensorFlow 1.13.1 working on Ubunutu 16.04 with Python 3.7.2.
I had the error above using CUDA 10.1, but it went away after downgrading to CUDA 10.0

[2019-03-01 17:50] ymodak commented on #26035
Awesome! I will close this issue now. Thanks!

[2019-03-01 17:50] #26035 closed

[2019-03-01 17:51] ymodak commented on #26035
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-03-01 17:52] karimnosseir commented on #23806
Fix submitted already. closing the bug.
Please file new /reopen if you have any problems/questions.

Thanks

[2019-03-01 17:52] #23806 closed

[2019-03-01 17:52] blemke commented on #26254
On https://www.tensorflow.org/install/gpu it suggests CUDA 9.0 for Tensorflow generally, but doesn't specifically mention 1.13.1.

I had issues using CUDA 10.1 with Tensorflow 1.13.1, but resolved them by switching to CUDA 10.0

[2019-03-01 17:53] ymodak commented on #26081
Yes, please post a feature request explaining the same. Thanks!

[2019-03-01 17:53] #26081 closed

[2019-03-01 17:56] skiler07 opened #26262 "TF Boosted Trees doesn't consume the tf.Dataset as expected (incorrect checksum for freed object - object was probably modified after being freed)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOs/CloudML
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.13.1
- P

[2019-03-01 18:00] frankchn commented on #26208
So if you do something like

[code]

you won't see GPU, but if you run that snippet locally you will? I wonder if the local version you run with Python is different somehow than the remote server you start?

[2019-03-01 18:02] jvishnuvardhan commented on #26240
@liuxinni0406 Could try the instruction [here](https://github.com/jvishnuvardhan/Installing-TensorFlow-GPU-on-Windows-10-TF1.12) that worked for installing TF1.12_gpu successfully. Please uninstall python and tensorflow then follow the instruction to install the TF1.12. Please let me know how it progresses. Thanks!

[2019-03-01 18:02] helonayala commented on #26254
yep, in the link @blemke  provided

[2019-03-01 18:06] jdduke commented on #20905
Hey all, a new shared library target that has both C and C++ bindings is [now available](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/BUILD#L407).

You can build this (for Android) as follows:
[code]

This should have a smaller binary size as it strips most unnecessary symbols. Sadly, `bazel` doesn't have very good support for generating monolithic static (.a) libraries unl

[2019-03-01 18:06] #20905 closed

[2019-03-01 18:06] jvishnuvardhan commented on #26241
@saurabhaec hank you for your post. We noticed you have not filled out the fields in the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. Thanks!

[2019-03-01 18:09] robieta commented on #20273
Closing as RNNs will now automatically select an implementation based on whether or not they are running on a GPU.

[2019-03-01 18:09] #20273 closed

[2019-03-01 18:15] jlebar commented on #25539
This behavior is WAI.  AOT compilation only uses the CPU.  If you want to use the GPU, you can't use AOT compilation.

[2019-03-01 18:23] jvishnuvardhan commented on #26254
Thanks @helonayala @blemke. Those instructions are for TF 1.12. Team is working on updating them for latest version. Stay tuned. Thanks!

Closing this issue.

[2019-03-01 18:23] #26254 closed

[2019-03-01 18:44] ymodak commented on #26226
This issue is more appropriate on **tensorflow/tensorboard repo**. Please post it on tensorboard from [here](https://github.com/tensorflow/tensorboard/issues/new) and provide all the information asked by the template. Thanks!

[2019-03-01 18:44] #26226 closed

[2019-03-01 18:45] achowdhery commented on #26233
Hi, We support single shot detectors such MobileNet SSD and FPN via the [custom op implementation for NMS ](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/kernels/detection_postprocess.cc). We will support control flow in TF Lite soon.

[2019-03-01 18:46] #26011 closed

[2019-03-01 18:51] TheMoakMan commented on #527
I've tried installing tensorflow with conda install tensorflow but when I import it I get the same GLIBC_XX not found issue. For me its 2.16 and my system CENTOS6 is on glibc2.12

[2019-03-01 18:53] jvishnuvardhan commented on #26255
@Sawatdatta Could you provide more details on the issue and its context. If possible, provide a code to reproduce the bug. Thanks!

[2019-03-01 18:57] shahinkl commented on #23898
As a temporary work around I used tf.keras.layers.CuDNNLSTM to build my RNN layers.

[2019-03-01 19:00] jvishnuvardhan commented on #26233
I think it was resolved. I am closing the issue. If you think I made a mistake, please open another issue. Thanks!

[2019-03-01 19:00] #26233 closed

[2019-03-01 19:06] TheMoakMan commented on #53
I've tried conda install tensorflow and I'm still getting the same issue. GLIBC 2.17 not found.

[2019-03-01 19:07] tensorflowbutler commented on #24505
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-01 19:07] tensorflowbutler commented on #25283
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-01 19:12] jw447 commented on #11823
Thank you @josh11b. Can you suggest a distributed learning example where mirror strategy and/or parameterserver strategy is used? I would like to look at some cases before try on inception.

[2019-03-01 19:15] Rajiv2605 commented on #25445
@dynamicwebpaige I'm interested to work on this issue! It would be great if you could provide a starting point :)

[2019-03-01 19:18] sibyjackgrove opened #26263 "Error when using tf.constant to provide input to Keras model.predict"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-03-01 19:22] ymodak commented on #26258
@jlebar

[2019-03-01 19:24] ymodak commented on #26160
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create fr

[2019-03-01 19:32] urimerhav commented on #23733
@jing-dong I'm sorry. I relaunched my aws instance from the same image and now I can't reproduce my error. I guess I'm retracting my bug report since I'm not able to reproduce

[2019-03-01 19:46] gunan commented on #26227
When building on windows ` --define=no_tensorflow_py_deps=true` should not be used.
That is an option we created for testing only.

[2019-03-01 19:46] gunan commented on #15129
Thanks for debugging this @joshpencheon
If you like to contribute a pull request with your fix, I would be happy to review and merge your change!

[2019-03-01 19:53] wdirons commented on #26242
ppc64le had the same error, I submitted https://github.com/tensorflow/tensorflow/pull/26220 to fix.

[2019-03-01 20:02] gunan commented on #26155
To me this looks to be a protobuf bug. Could you file an issue on protobuf repository too, and link this issue?
They may have a better idea about what we are running into.

[2019-03-01 20:10] ygoncharov commented on #23733
For me, it also didn't repro today with the official tensorflow-gpu 1.13.1

[2019-03-01 20:12] yifeif commented on #16184
Closing this as the issue with TF explicitly linking to driver should be fixed at head.

[2019-03-01 20:12] #16184 closed

[2019-03-01 20:21] awav commented on #26033
@alextp , @reedwm Hello guys. By `tf.set_default_float`, I meant that the method will change default types for variables creation and tensors. E.g.:

[code]

[2019-03-01 20:33] hgadig commented on #24359
Has everyone tried this with the latest Tensorflow version 1.13 ? Is this the same with 1.13 too ?

[2019-03-01 20:33] yifeif commented on #25513
@agnz could you add -D_GLIBCXX_USE_CXX11_ABI=0 to your g++ flag?

[2019-03-01 20:42] jlebar commented on #26258
We aren't actively working on this, but patches would be welcome.  See e.g. the recent patches to add Cholesky support.

The workaround is not to use tfcompile.  In JIT mode, you can use autoclustering to avoid sending unsupported operations to XLA.

[2019-03-01 20:48] jw447 commented on #11823
@josh11b Also, is there an easier workaround if I turn it into asynchronized parameter server by discarding the SyncReplicasOptimizer?

[2019-03-01 20:51] jvishnuvardhan commented on #24359
First, I would suggest you to uninstall python and tensorflow completely from your systems and start a fresh installation by following these [instructions](https://github.com/jvishnuvardhan/Installing-TensorFlow-GPU-on-Windows-10-TF1.12). Please check the tested build configurations for cpu [here](https://www.tensorflow.org/install/source_windows#cpu) and for gpu [here](https://www.tensorflow.org/

[2019-03-01 20:59] #21676 closed

[2019-03-01 21:12] jvishnuvardhan commented on #25762
@Alfus Sorry for the delay. Could you check whether this issue is persisting with latest version of TF? Thanks!

[2019-03-01 21:18] jvishnuvardhan commented on #26239
@vinayonchip Can you provide a code to reproduce the bug? Also, mention more details about the bug and its context. Thanks!

[2019-03-01 21:19] IvanUkhov commented on #8658
[code]

[2019-03-01 21:32] jvishnuvardhan commented on #26262
@skiler07 Could you create a simple code (not your proprietary) to reproduce the bug? Also provide fill trace of error log. Thanks!

[2019-03-01 21:34] apohl1111 commented on #2734
It's also worth noting that I get a similar error if the vocab.tags.txt doesn't contain "O", even if the training doesn't use "O".

[2019-03-01 21:46] josh11b commented on #11823
Turning off SyncReplicasOptimizer should give you regular parameter server behavior. You can see our distributed training guide at https://www.tensorflow.org/guide/distribute_strategy

[2019-03-01 22:05] Alfus commented on #25762
The issue still remains at the current master. Note that this problem will only show up when including the tf source as an external repo (this is the case that clean_dep is designed to fix)

[2019-03-01 22:09] ymodak commented on #24376
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-03-01 22:09] g7dhaliwal opened #26266 "AttributeError: module 'pandas' has no attribute 'compat'"
Hi,

I am trying to use ScipyOptimizerInterface() in the tensorflow, but it gave the following attribute error

AttributeError: module 'pandas' has no attribute 'compat'.

By going through the discussion threads at Tensorflow github page, I have upgarded "dask", downgraded pandas, reinstalled tensorflow and scipy packages. Unfortunately, it is still giving me same AttributeError. Does anyone havin

[2019-03-01 22:13] ppwwyyxx commented on #6720
Thanks for this fix! I tried some of my cases and the new version seems to work as expected now.

There are in fact some similar issues with `tf.image.crop_and_resize`. I have been using my own workaround for it, but if the team is interested I can open an issue describing it in more details.

[2019-03-01 22:15] mrry commented on #24953
I think @byronyi has captured the explanation nicely: in this particular case, each of the four weight matrices will be placed on a different PS, and the imbalance in their sizes directly corresponds to the imbalance in network traffic.

In terms of better APIs for this problem, you might be interested in the [partitioned variable RFC](https://github.com/tensorflow/community/pull/55) that @yuefeng

[2019-03-01 22:15] #24953 closed

[2019-03-01 22:19] martinwicke commented on #6720
@ppwwyyxx I'd be interested in a detailed report.

[2019-03-01 22:34] skye commented on #26203
cc @gargn

[2019-03-01 23:18] malmaud opened #26268 "Even in eager mode, Keras is passing custom models non-eager tensors in 'fit'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 10.14
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): '1.14.1-dev20190301'
- Python version: 3.7

**Describe the current behavior**
When calling `keras.model.fit` on a

[2019-03-01 23:22] jvishnuvardhan commented on #25814
I think it was resolved. Closing due to lack of recent activity. Please open new ticket if you see similar issue. Thanks!

[2019-03-01 23:22] #25814 closed

[2019-03-01 23:28] jvishnuvardhan commented on #25817
@lorenzesz Is this issue resolved? If yes, please close the issue. Thanks!

[2019-03-01 23:29] jvishnuvardhan commented on #25824
I think it was resolved. Closing due to lack of recent activity. Please open new ticket if you see similar issue. Thanks!

[2019-03-01 23:29] #25824 closed

[2019-03-01 23:30] jvishnuvardhan commented on #25870
I think it was resolved. Closing due to lack of recent activity. Please open new ticket if you see similar issue. Thanks!

[2019-03-01 23:30] #25870 closed

[2019-03-01 23:31] av8ramit commented on #26084
@mrry that was for the release packages unfortunately.

[2019-03-01 23:32] jvishnuvardhan commented on #25877
I think it was resolved. Closing due to lack of recent activity. Please open new ticket if you see similar issue. Thanks!

[2019-03-01 23:32] #25877 closed

[2019-03-01 23:35] gunan commented on #26168
I think this should be redirected to GPU or GPU performance team, seems like a low level GPU driver issue?

[2019-03-01 23:37] gunan commented on #26198
In your initial error log,  I see this:
[code]

Could you try that?

[2019-03-01 23:55] #25340 closed

[2019-03-01 23:57] ymodak commented on #25932
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create fr

[2019-03-01 23:57] #25932 closed

[2019-03-01 23:58] tsbertalan opened #26270 "[TF 2.0 API Docs] tf.custom_gradient"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: 1.13.1
- Doc Link: https://www.tensorflow.org/api_docs/python/tf/custom_gr

[2019-03-02 00:23] xykong1958 commented on #24061
I am not sure if the original issue is about transforming the original code into the following
(compute the reciprocal of parameter(1), and passed as a parameter to the fusion, and inside the
fusion, the divide is replaced by multiply),

HloModule DivReciprocal

fused_computation {
  param_0 = f32[2000,200]{1,0} parameter(0)
  param_1.1 = f32[] parameter(1)
  y.broadcast.1 = f32[2000,200]{1,0} bro

[2019-03-02 00:30] jlebar commented on #24061
Yes, exactly like you have it.  This is useful on the assumption -- now questioned! -- that computing recip.approx is significantly less expensive than computing div.approx.

[2019-03-02 00:47] gunan commented on #26201
"opt" config option is created when you run `./configure` script.
Could you confirm that you first ran `./configure` then ran the `bazel build ` command?

[2019-03-02 01:13] angersson commented on #26073
You need a newer version of Bazel to build TensorFlow. Please follow the instructions at https://www.tensorflow.org/install/source: when you run the `./configure` script, it will tell you if your version of Bazel can be used to build TF (right now, the minimum version is `0.19.0`).

[2019-03-02 01:13] #26073 closed

[2019-03-02 01:15] morvan-s commented on #13856
I had the same problem, even with upgrading tensorflow.
However, with 'pip freeze | grep tensorflow' I saw that I had a 'tensorflow-estimator' package that keeps being installed even if I uninstalled tensorflow. After uninstalling it and deleting some related folder in site-packages, and re-installing tensorflow, everything worked.
(I'm not sure that this is the best way to solve this problem, but

[2019-03-02 01:52] Alfred17686 commented on #21967
Just tried this and it worked! Thanks :)

[2019-03-02 02:19] wm901115nwpu opened #26273 "window import bug"
python3.7
tensorflow 1.13.1
Python 3.7.1 (default, Dec 10 2018, 22:54:23) [MSC v.1915 64 bit (AMD64)] :: Anaconda, Inc. on win32
Type "help", "copyright", "credits" or "license" for more information.

ModuleNotFoundError: No module named 'numpy.core._multiarray_umath'
ImportError: numpy.core.multiarray failed to import

The above exception was the direct cause of the following exception:

Tracebac

[2019-03-02 02:28] ageron opened #26274 "Custom model's `build()` method is not called automatically"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
MacOSX 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
No
- TensorFlow installed from (source or binary):
Binary
- TensorFlow version (use command below):
tf.ve

[2019-03-02 03:01] urimerhav commented on #23733
ugh, so it does reproduce on a ubuntu16, python2.7 with the latest v1.13.1 with the above code.

I tried launching a fresh ubuntu 16 instance, install python 2.7 with stock tensorflow (cpu) and the memory creeps down. I can confirm that removing the "writer" and simply generating examples doesn't resolve the issue.

[2019-03-02 03:14] yoshihikoueno opened #26275 "`tensorflow.python.client.device_lib.list_local_devices()` crushes when none of GPU has enough free memory"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-03-02 03:15] raybellwaves opened #26276 "Good first issue tag?"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: N/A
- Doc Link: https://github.com/tensorflow/tensorflow/blob/master/CONTR

[2019-03-02 03:34] liuxinni0406 commented on #26240
Have tried as your step, but the same issue as before. I think there might be some environment issue, but i cannot find the problem. Thank you.

[2019-03-02 03:55] ppwwyyxx opened #26278 "tf.image.crop_and_resize() - weird alignment behavior?"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):n/a
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:n/a
- TensorFlow installed from (source or binary):binary
- TensorFlow version (use command below):b'v1.13.0-rc2-0-gc86

[2019-03-02 04:14] fabricatedmath commented on #26182
I just found this out myself, not sure if it's common knowledge, but got around this by doing
[code]
I have cuda-10.1 installed on my box, this installed a local conda-only cuda-10.0. Obviously this is to just keep tensorflow working while waiting for better support.

[2019-03-02 04:17] Sri-vatsa commented on #23782
Could you share your pipeline config files for Faster R-CNN, SSD, and Yolo? Can I also check what are the backbone networks you are using for each of them?

[2019-03-02 04:20] Sri-vatsa commented on #19855
Could you share the following:
- Pipeline config file you used for training
- image resolution(s) of your dataset

[2019-03-02 05:07] Sri-vatsa commented on #25936
Could you please tell me more about the model you are using and clarify more about the problem you are facing with labelling and training?

[2019-03-02 05:43] dynamicwebpaige commented on #26276
@raybellwaves - We will be adding this over the weekend. :slightly_smiling_face:

[2019-03-02 06:32] violettomsk commented on #25058
There is still no idea to fix this issue, isnt it?

[2019-03-02 07:32] Sri-vatsa commented on #25587
Would love to help with the documentation by writing some functional examples. Is there already a plan to work with the 100 most popular apis?

[2019-03-02 07:59] arp95 opened #26280 "Bug in TensorflowLite Android Example"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Oneplus 5T
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): v1.

[2019-03-02 09:06] urimerhav commented on #23733
Update: So this problem _is_ reproducible for me, with ubuntu 16 python 2.7 and tflow (both cpu and gpu) 1.13.1.

The only thing I can add that might be going on here, is that I'm fetching the data from an s3 path, though I really can't imagine how that would effect anything.

[2019-03-02 09:17] galeone commented on #23733
The problem is still present in the 2 different environments I reported (python 3.7 - cuda 10 - archlinux build *and* python 3.6 - tensorflow-gpu 1.12 - conda env). When I read a file, using GFile, from Google Cloud storage there's a memory leak that saturates all the system memory.
It happens both when using context manager or when manually opening and closing the files (I thought the leak could

[2019-03-02 09:20] urimerhav commented on #23733
@galeone do you happen to know of a version with python 2.7 where the memory leak doesn't occur?

[2019-03-02 09:24] galeone commented on #23733
@urimerhav no, never used python 2.x with Tensorflow; never tried

[2019-03-02 09:56] Sawatdatta commented on #26255
@jvishnuvardhan  I have updated the TensorFlow to 2.0-preview which resolved this issue but Keras backend is using updated TensorFlow and causing no module errors is there any way to force Keras to use compat.V1 modules

[2019-03-02 10:14] facaiy commented on #26256
Thank you for pointing it out. I'll take a look at it.

[2019-03-02 10:33] wangyexiang commented on #10408
I have a very similar issue，and how to resolve your issue？thx.

[2019-03-02 10:33] wangyexiang commented on #10408
I have a very similar issue，and how to resolve your issue？thx.@Caselles

[2019-03-02 10:58] guillaumekln opened #26282 "Changing the default initializer globally for tf.keras.layers"
**System information**
- TensorFlow version: 2.0
- Are you willing to contribute it: No

**Describe the feature and the current behavior/state.**

For V1 `tf.layers`, one could set a default initializer to the global variable scope:

[code]

In V2 `tf.keras.layers`, the default initializer is hardcoded to `initializers.glorot_uniform()`. I currently see 2 imperfect ways to change the default initi

[2019-03-02 11:00] navneet-nmk commented on #20461
@bignamehyp  Can I have a crack at this?

[2019-03-02 11:27] guillaumekln opened #26283 "Disabling tf.cond name scope"
**System information**
- TensorFlow version: 2.0
- Are you willing to contribute it: No

**Describe the feature and the current behavior/state.**

With all variables name being resolved via `name_scope` in TensorFlow 2.0, mixing tf.cond and variable creation can lead to unexpected or inconvenient results. Please consider this class that implements a conditional logic for inference but not training

[2019-03-02 11:49] YoussefShoeb commented on #26208
Well, When I ran this snippet it `import tensorflow as tf
s = tf.Session(master="grpc://remote.server.ip.address:port")
print(s.list_devices())` it shows all the devices correctly and after a bit of testing there is indeed improved performance which shows that the GPU of the remote server is being used, but

Keeps showing up between each of the epoch's in training when the the master session is in

[2019-03-02 11:57] Smokrow opened #26284 "Rename tf.nn.batch_normalization"
**System information**
- TensorFlow version: 1.13
- Doc Link: https://www.tensorflow.org/api_docs/python/tf/nn/batch_normalization

**Describe the documentation issue**
tf.nn.batch_normalization can actually be used to implement layer_normalization or group_normalization as well. (https://github.com/tensorflow/addons/pull/14)  Therefore the name of the function is quite confusing since the "batch

[2019-03-02 12:15] wangyexiang commented on #3388
Have you solved your problem? @adr-arroyo

[2019-03-02 12:25] Ayush517 commented on #25844
Is this issue still unsolved? The PR seems to have solved it but it isn't still merged? Does that mean something is still left?

[2019-03-02 12:40] Ayush517 commented on #25689
@gargn @jvishnuvardhan  Can the issue be because of using Python2.7? Python2.7 will retire in 2020 and seeing the warnings quoted below, I think it's because of that only.

[2019-03-02 12:42] Ayush517 commented on #25238
Is this issue still there or is it solved?

[2019-03-02 13:38] livehl commented on #24828
https://developer.nvidia.com/compute/machine-learning/cudnn/secure/v7.5.0.56/prod/9.0_20190219/cudnn-9.0-windows10-x64-v7.5.0.56.zip

[2019-03-02 13:53] alanpurple commented on #26155
@gunan
I did

[2019-03-02 13:56] alanpurple commented on #26150
@ymodak

anyway can we expect next official binary release is with CUDA 10.1?

[2019-03-02 13:56] MarkDaoust commented on #25587
I believe @dynamicwebpaige is working on setting up a package to make doc sprints simpler for community groups.

The python api_docs are (mostly) generated from the from python doc-strings, and the pages on tensorflow.org (usually) link back to the right code page here.

If you see something wrong, and know how to fix it please send us a PR. It's usually pretty simple to get docs-fixes merged.

[2019-03-02 15:11] deepakmeena635 commented on #23406
@jhseu is there any way to fetch the weights after training, back to colab while using estimators,

[2019-03-02 15:37] tridemax commented on #23990
@nwestlake will it affect the training as other's tower update ops (like batch norm) will not get called? I see explicit filtering of update ops like 'tower_1/Generator/...'

[2019-03-02 16:57] jing-dong commented on #23733
@urimerhav Can you please confirm that the memory leaks only occur when you try to read from s3 path by trying to read from local FS or gcs path (gs://) if that is available to you? If the memory leak only happens when reading the s3 paths, it may be because the s3 file reader in TF contains a leak.

@galeone Would it be easy for you to try to experiment with tensorflow (without gpu) to see if you

[2019-03-02 17:16] parkerdu commented on #22794
I have the same question with the author,and i solve it now.
window 10
python 3.6.2
gpu rtx2080
my problem is the version of CUDA and the cudnn does not fit each other.
2019/3/3 today the newest version of CUDA is 10.1 but there isn't a corresponding version of cudnn.
so i changed the CUDA 10.0 and reinstall the tensorflow,it works now!

[2019-03-02 17:45] Culeshovi commented on #26240
@liuxinni0406 You can install tensorflow-gpu for windows easily on Anaconda. Here's the link https://anaconda.org/anaconda/tensorflow-gpu

[2019-03-02 18:08] rhinsall commented on #26182
Excellent advice.  Immediate rescue.  Thank you very much fabricatedmath.

[2019-03-02 18:16] henrysky commented on #26273
I do think it is related to the bug I have reported before but tensorflow ignored #25636

Tensorflow windows build seems to need numpy>1.16

[2019-03-02 18:43] tensorflowbutler commented on #25143
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-02 18:43] tensorflowbutler commented on #25670
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-02 20:58] weinman commented on #21615
@bamine I haven't tried with the new build yet suggested above, but I hope to soon. I don't know of any convenient alternatives at this time. Are there other ways of loading model parameters?

[2019-03-02 21:48] oroojlooy opened #26288 "Remove all TF Logging"
I wanted to exclude all of the tensorflow logs in output. I searched and found that one or both of these setting should work:

    os.environ['TF_CPP_MIN_LOG_LEVEL']='3'
    tf.logging.set_verbosity(tf.logging.ERROR)

Though, I am still getting network loading logs, e.g.:

    2019-02-28 23:51:13,520:INFO::Restoring parameters from ./pre_model/classic/brain4/network--6009999

I was wondering why t

[2019-03-02 22:17] dynamicwebpaige commented on #26270
@tsbertalan - Thank you so much for mentioning this, and for creating a gist as an example. I agree that the API documentation for `tf.custom_gradient` could be improved, and this is a great start. 🙂

**A few things:**

- Would you like to make a PR to **update the documentation** for `tf.custom_gradient`? If yes, I'd be happy to point you to where to get started!

- Would you be interested in **c

[2019-03-02 23:22] jerryhluo commented on #22794
Ran into the same problem.

If you are using Anaconda (Python 3.6), highly suggest to use `conda` instead of `pip`. It usually takes care of EVERYTHING: `conda install tensorflow-gpu`

[code]

If you already messed up the versions, try to use `conda remove` or `pip uninstall` to delete packages, including `tensorflow-gpu` and `tensorflow`. Or remove Anaconda and reinstall it.

[2019-03-02 23:38] alessandromarchetti commented on #26249
Had the same exact problem while building graph_transforms tool from r1.11 with latest bazel 0.23.0

Solved by using bazel 0.17.2

[2019-03-03 02:02] duongludien commented on #21778
I had the same error. So, I try to add `input_shape` argument into the first layer of my model, the problem was resolved.

[code]

[2019-03-03 03:16] derifatives commented on #24684
What's the current status here? Internally, we've been using xla.compile in
Eager mode extensively and successfully.

On Fri, Feb 22, 2019 at 2:24 PM Igor Ganichev <notifications@github.com>
wrote:

[2019-03-03 03:30] david-waterworth commented on #10429
Is the plan to also move tf.summary to tensorboard? Currently tensorboard still requires tensorflow to be importable, and if you want to generate a file yourself I assume you also need to use tf.summary? Not a big deal but it seems like tf.summary  and tensorboard are coupled

[2019-03-03 03:52] jiapei100 opened #26289 "Compatibility with Cuda 10.1?"
Just wanna compile tensorflow 1.12 against Cuda 10.1 ?

[code]

Any suggestions?

[2019-03-03 05:07] jiapei100 opened #26290 "Failed to pip install tensorflow-gpu"
[code]

[2019-03-03 06:02] SmirnovKol commented on #25468
(venv) C:\>python
Python 3.6.7 (v3.6.7:6ec5cf24b7, Oct 20 2018, 13:35:33) [MSC v.1900 64 bit (AMD6
4)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "C:\Users\Administrator\venv\lib\site-packages\tensorflow\python\pywrap_t
ensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *

[2019-03-03 06:03] SmirnovKol commented on #25468
I hava encountered exactly the same problem!!!!!

[2019-03-03 06:17] SmirnovKol commented on #25468
I use Windows 7(64 bit), choose tensorflow for CPU only,  follow the instructions on  https://tensorflow.google.cn/install/pip   step by step
I create a virtual environment  and use  virtualenv install

[2019-03-03 06:19] SmirnovKol commented on #25468
of course, when  I  run  the command:
python -c "import tensorflow as tf; tf.enable_eager_execution(); print(tf.reduce_sum(tf.random_normal([1000, 1000])))"
it went wrong!!!

[2019-03-03 06:23] SmirnovKol commented on #25468
(venv) C:\>python3
'python3' 不是内部或外部命令，也不是可运行的程序
或批处理文件。

(venv) C:\>python --version
Python 3.6.7

(venv) C:\>pip3 --version
pip 19.0.3 from c:\users\administrator\venv\lib\site-packages\pip (python 3.6)

(venv) C:\>virtualenv --version
16.4.3

[2019-03-03 06:40] SmirnovKol commented on #25094
(venv) C:>python
Python 3.6.7 (v3.6.7:6ec5cf24b7, Oct 20 2018, 13:35:33) [MSC v.1900 64 bit (AMD6
4)] on win32
Type "help", "copyright", "credits" or "license" for more information.

import tensorflow
Traceback (most recent call last):
File "C:\Users\Administrator\venv\lib\site-packages\tensorflow\python\pywrap_t
ensorflow.py", line 58, in
from tensorflow.python.pywrap_tensorflow_internal import *

[2019-03-03 06:43] SmirnovKol commented on #25094
I use Windows 7(64 bit), choose tensorflow for CPU only, follow the instructions on https://tensorflow.google.cn/install/pip
step by step
I create a virtual environment and use virtualenv install

[2019-03-03 06:45] SmirnovKol commented on #25094
similar problem, I'm still waiting for a response , I'm  stuck here !!!!

[2019-03-03 06:50] kunakl07 commented on #26290
I would like to solve this error

[2019-03-03 07:19] chenjiaoAngel opened #26292 "can not find tensor flow/contrib/lite/java/demo this demo"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-03-03 08:06] kunakl07 commented on #26290
@jiapei100 You are having a Memory Issue.The space is not getting allocated.
You will be able to run this command in google [colab](https://www.google.com/search?q=google+colab&oq=googlecol&aqs=chrome.1.69i57j0l5.3345j0j7&sourceid=chrome&ie=UTF-8) by typing the following command
"! sudo pip install -U tensorflow-gpu --user"
Thank you for asking questions and please do ask if you have anymore doubt

[2019-03-03 08:08] ageron opened #26293 "In a @tf.function, after `for i in tf.range(10)`, i is still undefined"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
MacOSX 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
No
- TensorFlow installed from (source or binary):
Binary
- TensorFlow version (use command below):
tf.ve

[2019-03-03 08:09] kunakl07 commented on #26276
I would like to solve this issue.Can I contribute?

[2019-03-03 09:09] dynamicwebpaige opened #26294 "[TF 2.0] Conversion script fails to parse IPython functions."
The [`tf_upgrade_v2`](https://github.com/tensorflow/docs/blob/master/site/en/r2/guide/upgrade.md) tool fails to parse commands with common IPython functions (for example, `!pip install tf-nightly` and `%matplotlib inline`).

[code]

[2019-03-03 10:03] jiapei100 commented on #26290
@kunakl07
Hey, did you ever try to build tensorflow from source ?
[https://github.com/tensorflow/tensorflow/issues/26289](https://github.com/tensorflow/tensorflow/issues/26289)

[2019-03-03 10:04] kavita-moholkar commented on #11859
please send solution

[2019-03-03 10:27] mranon0007 commented on #26209
Thank you. It worked for me.

[2019-03-03 11:31] vijaysinghkadam opened #26295 "AttributeError: module 'tensorflow' has no attribute 'uint32'"
import tensorflow as tf
tf.unit32

it works fine with the tf.unit16 and tf.unit8 but it gives error while accessing tf.unit32
I tried reinstalling tensorflow but it wont work.
I have installed tensorflow using anaconda . then i run the code and i have this problem:

---------------------------------------------------------------------------
AttributeError                            Traceback (most

[2019-03-03 11:47] kyscg commented on #26294
Hi, I would like to work on this issue. Any starting pointers?

[2019-03-03 12:30] Rajiv2605 commented on #25794
@dynamicwebpaige I'm interested in working on this issue!

[2019-03-03 12:31] cogmeta opened #26296 "Excpeption in using Tensorflow 1.12 from java on windows 10"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
- OS Platfo

[2019-03-03 13:03] OtakuSenpai commented on #26198
Yeah, my distro doesn't include patch command by default.
I had to install it then run them. The results above where with patch installed.

[2019-03-03 13:45] anilsathyan7 opened #26297 "Tensorflow lite gpu delegate inference using opengl and SSBO in android"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes, modified inference code from tflite gpu delegate android sample with additional code from https://www.tensorflow.org/lite/performance/gpu_advanced#android_2.
- OS Platform and Distribution : Android 8.0.0
- Mobile device: OnePlus 3
- TensorFlow version: 12.0

**Describe the

[2019-03-03 14:00] jasinchandroth commented on #559
when i run the code, i gor this error message at the begining
![1](https://user-images.githubusercontent.com/47709276/53696165-77057a00-3dea-11e9-8250-a9a268947d3e.png)
later it goes to this error state
![untitled](https://user-images.githubusercontent.com/47709276/53696190-b46a0780-3dea-11e9-95ed-48c2eecb783c.png)

[2019-03-03 15:41] Mainak431 commented on #26290
You are having a memory error. If you are using a VM, make sure you allocate more RAM . Try to build tensorflow-gpu from source. Still if its not done. I prefer you try it on Google-Colab.

[2019-03-03 15:58] margaretmz commented on #25844
I'm waiting for PR $26067 to merge.

[2019-03-03 16:22] jvishnuvardhan commented on #25636
Sorry for the delay in resolving the issue @henrysky. Could you check whether this is an issue with the latest TF? Thanks!

[2019-03-03 16:28] jvishnuvardhan commented on #26273
@wm901115nwpu In some cases, I think there are compatibility issues between modules when you install TF using conda. Could you uninstall python and tensorflow and reinstall following the instructions [here](https://github.com/jvishnuvardhan/Installing-TensorFlow-GPU-on-Windows-10-TF1.12). Please let me know how it progresses. For Faster resolutions, Please provide the details requested at issue te

[2019-03-03 16:29] jvishnuvardhan commented on #25636
In some cases, I think there are compatibility issues between modules when you install TF using conda. Could you uninstall python and tensorflow and reinstall following the instructions [here](https://github.com/jvishnuvardhan/Installing-TensorFlow-GPU-on-Windows-10-TF1.12). Please let me know how it progresses. Thanks!

[2019-03-03 16:39] jvishnuvardhan commented on #26289
@jiapei100 For Faster resolutions, Please provide the details requested at issue template [here](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md).

Please check tested build configurations [here](https://www.tensorflow.org/install/source_windows#gpu). Tensorflow 1.12 was built with CUDA9.0. So when you install some of the paths in different modules are l

[2019-03-03 16:44] jvishnuvardhan commented on #26290
@jiapei100 I provided a solution in the other issue that you opened and referenced [here](https://github.com/tensorflow/tensorflow/issues/26289). Please let me know how it progresses. You could close this issue and we can resolve there in the other post. Thanks!

[2019-03-03 17:03] jvishnuvardhan commented on #19283
@tkurmann Could you follow @byronyi suggestion or install new version of TF and check whether the bug persists. Thanks!

[2019-03-03 17:13] jvishnuvardhan commented on #17246
@yaroslavvb Please let us know if this this still an issue with latest TF or can we close this issue? Thanks!

[2019-03-03 17:25] Garfield2013 opened #26298 "ImportError: DLL load failed: The specified module could not be found."
I get the following error message:

when I run the following code:

Please check this screenshoot to see the list of my environment variables and the error message itself.
https://www.screencast.com/t/PsEXiaM0S

I'm running Windows 10 PRO and I'm using Geforce RTX 2070 and TensorFlow-GPU 1.13.1

I have installed the following:

1. Python 3.6.7
2. Microsoft Visual C++ 2015 Redistributable (x64) - 1

[2019-03-03 17:37] Chk-rocks opened #26299 "TF_SessionRun_wrapper: expected all values in input dict to be ndarray"
I am using Tensorflow 1.13 in windows 10

I am converting image data into tf.records. I am using build_image_data.py in which i am getting below error.

**TF_SessionRun_wrapper: expected all values in input dict to be ndarray SKIPPED: Unexpected error while decoding**

Code section
    def decode_jpeg(self, image_data):
        print(type(image_data))
        **image = self._sess.run([self._decode

[2019-03-03 17:44] arshjot commented on #13969
For anyone who might need this, I figured out a hack for centering the padded image. It can be done using `tf.contrib.image.translate()` function and original shape tensor. Example for centering along width has been given below:

im = Right padded images given by tf.data.Dataset API. Shape = (batch_size, height, width, channels)
orig_width = Width of the image before padding
[code]