[2019-12-17 07:24] Donald-Su commented on #35113
@gadagashwini this time I uninstall **all the tensorflow*** (include tensorboard  and tensorflow-estimator), and install tf-gpu use `pip3 install tensorflow-gpu==1.14.0` again. And It's working now. thanks~

Is the reason not uninstall tensorboard  and tensorflow-estimator before It can't use GPU ?

[2019-12-17 07:24] #35113 closed

[2019-12-17 07:25] swghosh commented on #34859
Hello @tanzhenyu!
tf.gradients function is not able to provide any information regarding missing gradients. Also, when used with unconnected_gradients argument,
[code]
the same error is raised with with tf.train.AdamOptimizer.

[2019-12-17 07:32] abhay1722 opened #35179 "Upgrading Boringssl Version in TensorFlow"
I am trying to build Tensorflow using latest Boringssl. However, facing compilation issues.
Is there any plan to upgrade the Boringssl commit currently being used in TensorFlow to a recent commit?

[2019-12-17 07:40] gadagashwini commented on #34634
I could replicate the issue with Tf 2.0.
Please see the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/955ccf74deb3065fb10a17cd08a0939d/untitled295.ipynb#scrollTo=chYTIWSIrgzX). Thanks!

[2019-12-17 07:44] gadagashwini commented on #34820
@Meerer, Is this still an issue!

[2019-12-17 07:46] gadagashwini commented on #35027
@olk, Is this still issue!

[2019-12-17 07:48] gadagashwini commented on #35052
Issue is replicating with Tf 2.0.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/e0cc91b7b2153c3ae4fac2a586734f0a/untitled302.ipynb). Thanks!

[2019-12-17 07:48] jeffpollock9 commented on #31579
@mdanatg thanks for this! I really like your `Literal`-free code - since it doesn't seem possible to define a `Shape[*Dim]` type I think this is the way to go. The only downside is the big file of typedefs as you mentioned - but I think we could automatically generate a file with up to (say) `Shape10D` and I can't imagine it ever being a limitation.

[2019-12-17 07:58] gimgane commented on #35170
**6. Execution result**

| Tensorflow | Android NDK | Bazel | Inference on GPU | on CPU
| --- | --- | --- | --- | --- |
| r2.0 | r18b | 0.24.1 | 50 ms | 70 ms |
| r2.0 | r17c | 0.24.1 | 50 ms | 70 ms |
| r1.15 | r18b | 0.24.1 | 50 ms | 70 ms |
| r1.15 | r17c | 0.24.1 | 50 ms | 70 ms |

Inference timecost on GPU should be 20 milliseconds as with prebuilt libraries.
The performance on CPU both with

[2019-12-17 08:02] giaxxi opened #35180 "Windows build failed - Internal compiler error Visual Studio 2017 - FAILED: Build did NOT complete successfully"
**System information**
- OS Platform and Distribution: Windows 7 Professional SP1 64 bit
- TensorFlow installed from (source or binary): source
- TensorFlow version: tensorflow-master (downloaded 18/12/2019)
- Python version: 3.7
- Installed using virtualenv? pip? conda?: YES, conda
- Bazel version (if compiling from source): 1.1.0
- GCC/Compiler version (if compiling from source): MSVC 14.16.2702

[2019-12-17 08:16] j-o-d-o commented on #33646
The models saved in h5 format seem to work fine, the issue is about models saved with `tf` flag (SavedModel Format).

What is working is setting the compile flag to False and then compiling it on its own e.g.:
[code]

The point is:
1) The default way of loading models fails if there are custom objects involved.
2) By compiling yourself you are setting up a new optimizer instead of loading the prev

[2019-12-17 08:17] olegmyrk commented on #35144
Switching to 2.1-rc0 helped with training step time, thanks!

However it takes 3x longer to build models in multi-GPU setup: less than 10minutes on single GPU vs 30 minutes 4 GPUs. In both cases I am using the same code with Mirrored strategy.

Additionally enabling spectral normalization
https://github.com/olegmyrk/SPADE-Tensorflow/blob/4203f30b6253a9d4743962087896fab26381c67b/ops.py#L579
increas

[2019-12-17 08:21] baicaigithub commented on #25807
My fix is uninstalling the several version I had on my computer and reinstall cuda v10.

With this clean installation the folder does not have a 'v10' in it.

I'm on windows.

[2019-12-17 08:26] dubesar commented on #35156
In general, a TensorFlow tensor object is not assignable*, so you cannot use it on the left-hand side of an assignment.
Another way you can do it like this.
[code]
then the output is:
[code]

[2019-12-17 08:43] gadagashwini commented on #35056
I was able to reproduce the issue with Tf 2.0.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/45d85483511e7784bbf7e91d3ca65f2f/untitled312.ipynb#scrollTo=iYpBkcu82gGS). Thanks!

[2019-12-17 09:03] jeffpollock9 commented on #31579
I've made a few changes to the code above:

Firstly, I don't think we need to handle a `None` value in the `input_signature` list as this doesn't work with `tf.function` anyway, i.e. this doesn't work:

[code]
with:
[code]
so we can remove:
[code]

Secondly, I had to change:
[code]
to
[code]

Thirdly, for the inner loop over the shapes, should it not be `s.value` instead of `s`?

so the full code

[2019-12-17 09:07] gadagashwini commented on #35111
@shazhongcheng, Still I don't have access to view the Colab links. Could you provide the gist of the colab links. Thanks!

[2019-12-17 09:08] yongqyu commented on #31784
In my case, `tf.compat.v1.lite.constants.FLOAT16` is worked in TF2.0

[2019-12-17 09:13] Tilps commented on #35080
Thanks for the detailed analysis.

Just to check - did you consider a variant where the prefetch transform takes an optional parameter 'eager prefetch'?  If the prefetch transform decouples things, (as was my understanding without having dug into the code) - when provided the eager prefetch flag it would invoke the standard GetNext in the background, in advance of the first attempt to invoke iter/

[2019-12-17 09:15] shazhongcheng commented on #35111
https://colab.research.google.com/drive/1bLig48fgBRkfihxkU7Sn3bklmVyrrSH-

https://colab.research.google.com/drive/19waivwxYTpC6S_r5UtPItuks0nW5wufE

[2019-12-17 09:17] shazhongcheng commented on #35111
sorry

[2019-12-17 09:52] freemanliu commented on #35133
Suspecting my system is in a bad state, I started a tensorflow container and tried to install in it. And it failed in the exact same way. I started to doubt that the whole thing is broken. Can someone spend 10 minutes to try to install it to confirm that it works? (on the other hand, it is really hard to believe that this is broken in such a way) search on google and most of result are from 2 year

[2019-12-17 09:53] freemanliu commented on #35133
Otherwise I have to switch to the tensorflow java.

[2019-12-17 09:58] johannabar commented on #35090
Hi @ymodak , thank you for your answer!
I understand the double-seed system but in the case where you have the same random operation with the same seed, you should still have a sequence of different random numbers within the same session. This sequence should repeat only if you compute it in a new session. For instance
[code]
Which is why I would expect both random operation in the map() function

[2019-12-17 10:16] hristo-vrigazov commented on #32093
The pull request is currently being reviewed.

[2019-12-17 10:16] LiberiFatali commented on #22098
Got this issue with TF 1.13.1

[2019-12-17 10:35] ZeliangSu commented on #35167
The code is misleading the changes, since there's still one forward propagation after printing the local variables (mv_avg, mv_std, beta and gamma). But the optimize_for_inference() DOES prune the training param, since after that no-matter what you put as training (T/F), these 4 variables will not change.

[2019-12-17 10:35] #35167 closed

[2019-12-17 10:41] gadagashwini commented on #35153
@zxgm, Please refer this [link](https://www.tensorflow.org/guide/saved_model). Thanks!

[2019-12-17 10:46] tanodino opened #35181 "DropoutWrapper and Exploding gradient behaviour for Recurrent Neural Network"
Dear all,
 I have a point about DropoutWrapper and its use with Recurrent Neural Networks.

Due to the possibility that the dropout can be applied to the state or the output (state_keep_prob and output_keep_prob), I found that, during the recurrent process, the state propagated through the time can take values not bounded in the interval [-1, 1]. This is probably due to the way in which the dropou

[2019-12-17 10:54] pandrey-fr commented on #35154
Hi,

To make the model training work, you need to pass labels as a list of two tensors (each associated with one of the outputs), _i.e._ `model.fit(x, [y1, y2])` with `x` of shape `(n, 20)`, `y1` of shape `(n,)` and `y2` of shape `(n,)` (note that you could also add a dimension for batch-size, but that is another topic).

If I go back to your initial definition of `data` and `labels` as two Tensor

[2019-12-17 10:55] Razor1O9 commented on #35087
I've updated to Tensorflow 1.14 with the same result when I try to read the Model in OpenCV 4.1.1.
I either get the **nodesMapIt != nodesMap.end() in function sortByExecutionOrder** exception (when I only use the pb file) or Assertion failed in **function 'addConstNodes'** exception (when I use the pb and pbtext file).

**Step 1; Generate unfrozen graph (1mb in size)**

**Step 2; Freeze ist with f

[2019-12-17 10:58] Meerer commented on #34820
Oh yeah sorry I fixed this by reinstalling cuda again.

[2019-12-17 10:59] #34820 closed

[2019-12-17 11:05] gadagashwini commented on #35152
I could reproduce the issue with Tf 2.1.
Please take a look at colab [gist](https://colab.sandbox.google.com/gist/gadagashwini/4184e630cb4e5ff57c6bc0b5c3a800f3/untitled313.ipynb). Thanks!

[2019-12-17 11:13] npuichigo commented on #33245
@omalleyt12 That's true. But sometimes we have complicated models with multiple inputs and outputs, so it's more elegant if we can use dict based model and dataset.

[2019-12-17 12:01] batulrangwala commented on #35054
I am facing the same issue.
The demo API gives error at tflite.load_delegate.

[code]

[2019-12-17 12:24] rama199310 commented on #7529
i am getting below error after installation of tensorflow :

Using TensorFlow backend.
Traceback (most recent call last):
  File "C:\python38\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 18, in swig_import_helper
    fp, pathname, description = imp.find_module('_pywrap_tensorflow', [dirname(__file__)])
  File "C:\python38\lib\imp.py", line 296, in find_module
    raise ImportErr

[2019-12-17 12:35] colourful-tree opened #35183 "tensorflow GPU-util on V100"
I trained a BERT model use 4 V100 GPU on one machine, and I noticed that:
A: batch_size = 60, Volatile GPU-util almost 80%~90%(nvidia-smi), global_step/sec=3.57(tf estimator log)
B: batch_size = 80, Volatile GPU-util almost 80%~90%(nvidia-smi), global_step/sec=3.21(tf estimator log)
C: batch_size =10, Volatile GPU-util almost 60%~70%(nvidia-smi), global_step/sec=5.2(tf estimator log)

So, i was a

[2019-12-17 12:38] yxchng commented on #33557
@impjdi Yup. To make it possible to run MediaPipe models on PC.

[2019-12-17 12:39] AndreyPlotkinOr commented on #24162
I solved issue by editing device_base.cc:

const DeviceAttributes& DeviceBase::attributes() const {
  LOG(FATAL) << "Device does not implement attributes()";
  return attributes();
}

const string& DeviceBase::name() const {
  LOG(FATAL) << "Device does not implement name()";
  return "";
}

[2019-12-17 12:40] joshnarani9 opened #35184 "TypeError: Tensor is unhashable if Tensor equality is enabled. Instead, use tensor.experimental_ref() as the key."
from tensorflow.keras.applications.inception_v3 import InceptionV3
model = InceptionV3(weights='imagenet')
model_new = Model(model.input, model.layers[-2].output)

**after running the above line i got the below error:**

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-50-8b5bbb7c4

[2019-12-17 12:41] tensorflowbutler commented on #27880
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-17 12:41] tensorflowbutler commented on #34697
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-17 12:41] tensorflowbutler commented on #34710
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-17 12:41] tensorflowbutler commented on #34756
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-17 12:41] tensorflowbutler commented on #34702
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-17 12:49] 0x0badc0de opened #35185 "Segmentation fault if importing TF2.1 after sklearn"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-12-17 12:52] renatomello commented on #27519
I noticed that this error only appears when I try to convert tensors to numpy during a model fit. My best guess is that it seems to be shape issue.

For example, the following tensor

<class 'tensorflow.python.framework.ops.EagerTensor'>

tf.Tensor([[1 3]  [0 4]], shape=(2, 2), dtype=int64)

is convertible using .numpy(). However, when trying to implement a custom metric for a classification probl

[2019-12-17 12:53] yxchng commented on #31720
@impjdi Where can I get the operator op code list? I need it to debug my code.

[2019-12-17 13:10] Razor1O9 commented on #35087
I've added the tensorflow modelfiles (checkpoint, index etc.) to the mega link:
https://mega.nz/fm/ZwMQ3aAK

[2019-12-17 13:12] mdanatg commented on #31579
Yep, your edits all look good! The Literal-free version did require them, but I didn't want it to clutter the post.
You're right about `input_signature`, it only supports `None` at head. Probably best to raise an error until the next version release. That means that future version can leave some args without annotation and their shape/type will be inferred.

[2019-12-17 13:28] abdou31 commented on #33941
@nfelt sorry but the main problem here is a regression problem. There is no accuracy in regression

[2019-12-17 13:29] amahendrakar commented on #35135
Able to reproduce the issue. Please find the [Gist](https://colab.sandbox.google.com/gist/amahendrakar/16937cdaede037dd39886d1cf07f0f9d/35135.ipynb) here. Thanks!

[2019-12-17 13:30] ChiragKushwaha commented on #35025
thank you @mihaimaruseac , @WhistleWhileYouWork and @ymodak  for helping me out.

[2019-12-17 13:30] #35025 closed

[2019-12-17 14:08] wochinge commented on #35185
Having the same with Python 3.6.9 and TensorFlow 1.15.0

[2019-12-17 14:20] ChristianISO opened #35187 "How to solve RuntimeError in Tensorflow 2.0?"
I want to run a TF1.X programm in TF2.0 on a GPU (RTX 2080 TI) in Anaconda, so I changed the code a bit, but I'll get an error in the last line below.

[code]

The error message is

[code]

It would be awesome if someone could help me.

[2019-12-17 14:33] olk commented on #35101
I guess this issue is related to using Tensorflow with Python-3.8.

[2019-12-17 14:33] olk commented on #35100
I guess this issue is related to using Tensorflow with Python-3.8.

[2019-12-17 14:36] olk commented on #35095
@guptapriya Sorry, but what do you mean with 'profiles for the run with MirroredStrategy' exactly?
The batch size was 32 for both cases - the batch size was part of the tuned hyper parameters (using Keras Tuner).

[2019-12-17 14:39] adr-arroyo commented on #27880
@tensorflowbutler Yes, I guess it still is

[2019-12-17 14:42] ongoing0217 commented on #35154
@pandrey-fr I used your code and with some tweaking, the code ran flawlessly. I didn't know you can write grammar like `labels[:, 0]` before, seems like I have more stuff to learn :D Thanks for the help, apperciate it

[2019-12-17 14:42] #35154 closed

[2019-12-17 14:57] bakaschwarz opened #35190 "Conv2D accepts strings as 'filters' parameter, but fails to handle them correctly"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Linux, Linux-5.4.2-1-MANJARO-x86_64-with-arch-Manjaro-Linux
- TensorFlow installed from (source or binary): `tensorflow` binary using pip
- TensorFlow version: 2.0.0
- Python version: 3.7.5
- CUDA/cuDNN version: -
- GPU model and memory: -

**Describe the current behavior**

I create a Conv2D layer with string

[2019-12-17 15:43] pandrey-fr commented on #35154
@ongoing0217 You are welcome ! The use of slice notation is only valid in Eager execution, so you should use it with parsimony, but it can be useful in debugging contexts :)

[2019-12-17 16:20] aLeX1443 opened #35192 "Automatic Mixed Precision and XLA not working with `model.fit_generator`"
### System information
- **OS Platform and Distribution **: `tensorflow/tensorflow:nightly-gpu-py3` Nvidia Docker image (`ec33d38d1b43`)
- **TensorFlow version (use command below)**: 2.1.0-dev20191106
- **Python version**: Python 3.6.8
- **CUDA/cuDNN version**: 10.0
- **GPU model and memory**: Titan RTX 24GB

### Describe the problem
When using `model.fit_generator()`, Automatic Mixed Precision (A

[2019-12-17 16:24] karimnosseir commented on #35176
Hi,

Currently the only way is to change the code to skip doing this.
For example,
if you want to stop fusing Activation function
- In TOCO
  It is defined here
 https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/toco/graph_transformations/fuse_activation_functions.cc
 to disable specific op from fusing  you can change
https://github.com/tensorflow/tensorflow/blob/master/tensorfl

[2019-12-17 16:30] tetelestia commented on #22109
Is there an update for this?

I had this problem in TF 1.12, managed to solve it by modifying my inputs to remove a transpose. Updating to TF 1.15.0 brought the issue back and I haven't figured out a workaround.

In my environment (Anaconda `tensorflow-gpu 1.15.0`, Ubuntu 18.04), I can reproduce both the problem and workaround in the original post (except changing the `lite` import from contrib).

[2019-12-17 16:40] ChiHangChen commented on #31309
I have exactly the same issue.

[2019-12-17 16:42] Snickbrack commented on #34116
I would like to reopen this issue as my problem is the same.

I have installed CUDA 10.1 and cudnn and added the things from here (https://www.tensorflow.org/install/gpu#windows_setup) into the PATH-Variable but I still get the error that "Failed to load the native TensorFlow runtime.".

This is my complete stack-trace:

[code]

[2019-12-17 16:50] Snickbrack opened #35193 "ImportError: DLL load failed TF 1.15"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 7
- TensorFlow version: 1.15
- Python version: 3.7.5
- Installed using virtualenv? pip? conda?: pip inside conda
- CUDA/cuDNN version: 10.1
- GPU model and memory: Nvidia GTX 750 with 1 GB Memory

I get the error that "Failed to load the native TensorFlow runtime." when trying to use Tensorflow with ImageAI.

[2019-12-17 16:51] gunan commented on #35014
I recommend reaching out to spack developers, or the spack package maintainer.
We do not maintain any spack related documentation.

For using system installed dependencies, @perfinion may have some pointers.

[2019-12-17 16:52] mihaimaruseac commented on #7529
Please open a new issue, filling in the template. and posting the error logs using markdown markup (see the M and the down arrow button just above the green "Comment" button, click on it for a primer)

Note that we don't have a pip released for python3.8.

[2019-12-17 17:03] gunan commented on #34652
@angerson Could you take a look?
is this due to our dockerfiles being broken?

[2019-12-17 17:07] dubesar commented on #35193
https://github.com/tensorflow/tensorflow/issues/13715

A very similar issue as yours. If not resolved with the help of the above, please ping then.

[2019-12-17 17:08] deven-amd commented on #34652
The XLA tests (i.e. the tests run by the script https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/xla/linux/gpu/run_py3.sh )  seem to be similarly broken on the CUDA platform

http://ml-ci.amd.com:21096/job/tensorflow-cuda-xla/1/console

[2019-12-17 17:14] Snickbrack commented on #35193
Hey, what do you mean by wheel file?

[2019-12-17 17:17] rutrilla opened #35194 "Failed to convert weights to 8 bit precision: "Quantize weights tool only supports tflite models with one subgraph""
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Google Colab (GPU)
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 2.1.0-dev20191217
- **Python version**: 3
- **Exact command to reproduce**:

[code]

[2019-12-17 17:20] Meraj99 opened #35195 "Tensorflow not detecting/recognizing GPU"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (

[2019-12-17 17:50] impjdi commented on #31720
@yxchng you can take a look at `delegates/gpu/common/model_builder.cc`  There is a huge switch-case near the end of the file.

[2019-12-17 17:53] impjdi commented on #31720
@LukeChow Sorry, this thread dropped off my radar.  It's possible that TOCO replaces certain graph patterns with a different op.

[2019-12-17 17:56] MrRex42 opened #35197 "ModuleNotFoundError: No module named 'tensorflow.contrib'"
Hello, I'm trying to use TF but I have an issue...
When I run my code I have :

    import tflearn
  File "//anaconda3/lib/python3.7/site-packages/tflearn/__init__.py", line 4, in <module>
    from . import config
  File "//anaconda3/lib/python3.7/site-packages/tflearn/config.py", line 5, in <module>
    from .variables import variable
  File "//anaconda3/lib/python3.7/site-packages/tflearn/variab

[2019-12-17 17:56] impjdi commented on #33557
@yxchng Thank you for the offer, but that would directly create a conflict with what we have internally.  The best is if you convince TFLite team to make those ops (Maxunpooling, Maxpoolingwithargmax2d, Convolution2dtransposebias) a standard op (note that I'm not a member of the TFLite team directly).  Then, we can open source the three hidden ops.

[2019-12-17 17:59] jsimsa commented on #35080
That's an interesting idea. `prefetch` is not the only asychronous transformation though (parallel map and parallel interleave are examples of others).

Having said that, I can imagine having a tf.data.Option that specify whether input pipeline should start background threads eagerly (similar to how you can specify whether input pipeline is allowed to execute in a non-deterministic fashion). This

[2019-12-17 18:02] fbmoreira commented on #31531
Any updates on this?

[2019-12-17 18:08] adamjstewart commented on #35014
Hi @gunan, I'm a Spack developer and I personally maintain the TensorFlow and PyTorch packages in Spack.

I don't believe the problem above is specific to Spack, and should be possible to reproduce outside of Spack. If we are doing something wrong in the Spack package, let me know and I can fix it.

[2019-12-17 18:30] olk commented on #35100
I've downgraded my system:
- Python 3.7.4
- Tensorflow-2.1.0-rc1

Still facing the error:

seams to be related to tensorflow-2.1.0-rc1

[2019-12-17 18:51] gunan commented on #35014
[code]
The above error (which references a system header) usually means the bazel c++ toolchain was misconfigured. Bazel did not detect the path, in this case `/home/sajid/packages/spack/opt/spack/linux-centos8-broadwell/gcc-7.4.0/gettext-0.20.1-yjkttko6qwne6igwp2cabop2d4p2g3ff/` a part of the C++ toolchain.
The way we make bazel use a different toolchain than system default gcc is to create a too

[2019-12-17 18:53] ghop02 opened #35199 "Softmax activations don't get converted to Softmax TFLite operator if ndim > 2"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.15.1
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): tf-nightly==2.1.0.dev20191203

**Command used to run the converter or code if you’re using the Python API**

[code]

**Failure details**
![image](https://user-images.githubusercontent.com/1422280/

[2019-12-17 19:23] boronhub commented on #35197
It is most probably a version issue, as tensorflow.contrib has been removed in version 2.0, and version <= 1.14 is needed to use tflearn.

Similar to issue #30794

[2019-12-17 19:29] dubesar commented on #35193
A WHL file is a package saved in the Wheel format, which is the standard built-package format used for Python distributions. It contains all the files for a Python install and metadata, which includes the version of the wheel implementation and specification used to package it. WHL files are compressed using Zip compression.

[2019-12-17 19:29] rmlarsen commented on #3730
We have implemented fast vectorized rounding in Eigen equivalent to std::round's round-half-away from zero. I wish we could make it the default.

[2019-12-17 19:47] s-sajid-ali commented on #35014
I added the `cc_toolchain_config.bzl` in the folder as well, [available here](https://northwestern.box.com/s/yxhh3uzj72nj3nqn81xcvkozwzqslrhs). Looking closely at the toolchain config, I do see that it includes a bunch of libraries :
[code]

If I understand correctly, these include paths shouldn't be in the compiler toolchain definition, right ?

[2019-12-17 19:50] martinwicke commented on #3730
Is there a reason we cannot make it the default?

I think this is a bug. @tensorflow/api-owners

[2019-12-17 19:57] rmlarsen commented on #3730
It is a bug. I'm all for making it the default if we can agree on that.

[2019-12-17 19:58] rmlarsen commented on #3730
Context: https://gitlab.com/libeigen/eigen/commit/06e99aaf409eff4693c4256e59bb58313052818d

[2019-12-17 20:06] wosiu commented on #34607
I also tested with `tensorflow==2.0.0` both with python `3.7.5` and `3.7.3` - still the same :(

[2019-12-17 20:07] olk commented on #35101
The error vanishes if I downgraded my system to:
- Python 3.7.4
- Tensorflow-2.1.0-rc1

After system upgrade (Python 3.8.0) I get the error messages again:

Seams that this is an issue of Python-3.8.0 and Tensorflow-2.1.0-rc1.

[2019-12-17 20:07] rmlarsen commented on #3730
As @aselle points out, round-to-even is used in numpy.ndrray.round, so perhaps we should keep it this way. We should provide a fast implementation of that however.

[2019-12-17 20:17] rchao commented on #33531
@rmothukuru, thanks for the report and apologies for the delay. I'm looking into this and will get back as soon as I find something. I was wondering how you set `TF_CONFIG`- is that before launching of this python program?

[2019-12-17 20:20] #3730 closed

[2019-12-17 20:23] adamjstewart commented on #35014
What order are those include paths checked? Maybe `/usr/include` or `/usr/local/include` are overriding the other directories we add.

For the record, we use the following patch to bazel (and corresponding environment variable) to inject these include paths into the build:
[code]

[2019-12-17 20:33] pavithrasv commented on #31309
Thank for reporting this @ingo-m . The issue is because of how the custom loss is expected to be implemented. The `call` in `Loss` class is expected to return per-sample loss values.

Please take a look at the documentation for `y_true`, `y_pred`, `sample_weight` here: https://www.tensorflow.org/api_docs/python/tf/keras/losses/Loss?version=nightly#__call__

`call` basically reduces y_true and y_pr

[2019-12-17 20:33] #31309 closed

[2019-12-17 21:19] gowthamkpr commented on #35197
@MrRex42 As mentioned in the above comment try using Tensorflow version <=1.14 and this should solve your issue. I am gonna close this issue as it has been resolved. Thanks!

[2019-12-17 21:19] #35197 closed

[2019-12-17 21:21] omalleyt12 commented on #33245
@npuichigo For those Models, each of `features` and `labels` can be a dictionary:

[code]

[2019-12-17 21:22] Li-markus commented on #32809
Just make sure this way can still work in tf2.0:
https://stackoverflow.com/questions/43137288/how-to-determine-needed-memory-of-keras-model
then it's already perfect

[2019-12-17 21:27] gowthamkpr commented on #34440
@nikochiko i am closing this issue as this issue has been resolved. Thanks!

[2019-12-17 21:27] #34440 closed

[2019-12-17 21:41] #33376 closed

[2019-12-17 21:48] ymodak commented on #34949
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
 Thanks!

[2019-12-17 21:48] #34949 closed

[2019-12-17 22:07] wyqian1027 commented on #29566
I had a problem with this tutorial in particular. I am using TF 1.14 and though I have enable eager execution, I still could not run the last bit of code when training the model. Could anyone show me how to run this with TF 1.14? Thank you!

When I run:
model.fit(train_data, epochs=20)

The error message was:
FailedPreconditionError: Table already initialized.
	 [[{{node sequential_2/dense_feature

[2019-12-17 22:11] gowthamkpr commented on #34424
I think data read here is a bottle neck as I tried running the code thats given [here](https://www.tensorflow.org/tutorials/text/image_captioning#download_and_prepare_the_ms-coco_dataset) and didn't face any issues.

More over you can try converting your data into TFRecords asTFRecords and corresponding TF infrastructure for them (queues/runners/readers) are really optimized for fast reading.By us

[2019-12-17 22:11] #34424 closed

[2019-12-17 22:21] gowthamkpr commented on #34426
@burnmg Can you please explain how you were able to reslove this issue. Thanks!

[2019-12-17 22:39] slundberg opened #35203 "Overriding gradients in eager mode with TF 2 after the model is defined"
When I wrote SHAP for TensorFlow 1.x I was able to temporarily override the gradient operators inside `tensorflow.python.framework.ops._gradient_registry._registry`. This allowed me to use the back-propagation mechanisms of TF to compute explainable AI methods on models that had already been defined by the user. I couldn't use the `gradient_override_map` since that would require the user to build

[2019-12-17 22:51] gowthamkpr commented on #34466
@SumNeuron I am gonna close this issue for now as its not related to bug/performance, build/install, feature or docs related issues. Please post any more questions that you have on stackoverflow as there is a wider community to respond. Thanks @SumNeuron for answering.

[2019-12-17 22:51] #34466 closed

[2019-12-17 22:57] ymodak commented on #34786
Apologies for the delay in response. The second last code snippet where you are using tf.signal.frame looks incomplete. It will be great if you can complete it. Also feel free to close this issue if necessary. Thanks!

[2019-12-17 23:07] Yossarian0916 commented on #13463
I also encountered `DataLossError corrupted record at 0`, when I used generated gzip `tfrecord` to build a train dataset. After I removed the compression gzip during the writing tfrecord process, the error was gone. I assumed this error was related to gzip compression type when generating tfrecord.

[2019-12-17 23:12] rogeryuchao commented on #35130
Sir     I think it's the problem for China only.  I tried to manually download it by whether and everything went well already.  So you may close the ticket and thank you for your support. Best RegardRoger Yu发自我的华为手机-------- 原始邮件 --------发件人： ravikyram <notifications@github.com>日期： 2019年12月16日周一 下午2:17收件人： tensorflow/tensorflow <tensorflow@noreply.github.com>抄送： rogeryuchao <18501790682@163.com>, A

[2019-12-17 23:14] wangpengmit commented on #35090
Hi @johannabar, there are no longer sessions when eager mode is enabled. Every time `Dataset.map` is called, it creates a `tf.function` for the mapping function. The `random.uniform` in the mapping function gets its graph-level seed from the `tf.function`'s default graph's seed (https://github.com/tensorflow/tensorflow/blob/1cf0898dd4331baf93fe77205550f2c2e6c90ee5/tensorflow/python/framework/rando

[2019-12-17 23:18] GeoMarky commented on #35100
I have the same issue.  Originally I was using:

tensorflow/tensorflow:nightly-gpu-py3

which has:

Then I tried upgrading tensorflow in the container with:

https://files.pythonhosted.org/packages/a9/fa/8ac34cf1369deb4f523a80eeb86ec0be3dd44139bfb42c45dd3829d6aff5/tf_nightly_gpu-2.1.0.dev20191217-cp36-cp36m-manylinux2010_x86_64.whl

I still have the same issue.

[2019-12-17 23:48] omalleyt12 commented on #34787
@Tenyn thanks for the issue!

As @Athul8raj mentioned, this is expected behavior for Tensor created inside a Functional Model. These Tensors are created during the execution of a `tf.function`, and as such are Symbolic Tensors, which cannot be converted to a value

You could assign `layer.a` to a `Variable` if you need to inspect it's value after execution, the `Variable`s have values that live on

[2019-12-17 23:48] #34787 closed

[2019-12-17 23:48] sanjoy commented on #34846
I could be missing some subtlety here, but you can call C from C++ code.

[2019-12-18 00:10] HStuart18 opened #35204 "DLL load failed for Tensorflow-GPU==1.14/1.13 but not Tensorflow-GPU==2.0"
**System information**
CUDA Version: 10.2
CUDNN Version: 7
OS: Windows 10
Conda Version: 4.8
Python version: 3.7.4

I understand that this issue is common, however, I believe my case is sufficiently unique to warrant a new issue. Using the above versions of CUDA and CUDNN, after running `pip install tensorflow-gpu==2.0` and then importing the library in my conda virtual env, everything works. Howe

[2019-12-18 00:12] jsimsa commented on #35100
@guptapriya @qlzh727 this seems to be an issue related to tf.distribute + tf.keras. In particular, as far as I can tell, the user code does not use `tf.data.Dataset.from_generator` but the error indicates that GeneratorDataset is used. Could you please triage? Thanks.

[2019-12-18 00:24] jsimsa commented on #35135
Your benchmark is not measuring the speed of `map` execution accurately. `from_tensor_slices` performs a data copy so executing your input pipeline with inputs of different size will result in different amount of data being copied (which would on its own explain the O(1) vs O(n) difference).

A better way to test whether `map` is O(1) (which it should be for constant-time operations) vs. O(n) is t

[2019-12-18 00:24] Lhogeshwaran opened #35205 "Object detection producing incorrect results on mobile (ios)"
Object detection SSD trained and tested to produce expected results in PC.
http://download.tensorflow.org/models/object_detection/ssd_inception_v2_coco_2018_01_28.tar.gz
https://github.com/tensorflow/models/blob/master/research/object_detection/samples/configs/ssd_inception_v2_pets.config

Model works well and produces accurate results on PC.
After converting to tflite and loading in mobile, the c

[2019-12-18 00:25] Lhogeshwaran commented on #35205
Found a similar reported issue - https://github.com/tensorflow/tensorflow/issues/25746

[2019-12-18 00:36] angerson commented on #34652
I don't think this would be related to the Dockerfiles, at least not the ones in tools/dockerfiles; those aren't used by these old CI build scripts. I've been trying to get the Dockerfiles to build again (the old maintainer departed) but I'm running into trouble compiling with TensorRT.

As for the tests, ci_build/release contains tests we run internally; you should be able to find some helpful bu

[2019-12-18 00:36] guptapriya commented on #35100
The error log suggests that the training completed fine, but something at the end caused this error. Neither the training or validation dataset are using generators, so it does seem weird that there is a generator related error. Also it seems like it's just a warning - since the user's print statement at the end "elapsed.." did get printed as well.

@jsimsa is tf.data.Dataset.from_generator the on

[2019-12-18 01:14] rachellim commented on #34039
This has to do with how tf.data rebatches datasets for distribution strategy. We recently changed the implementation of rebatching such that this will no longer happen; the fix will be available in TF 2.1. Let us know if this is still an issue.

[2019-12-18 01:14] #34039 closed

[2019-12-18 01:17] SummerRainET2008 opened #35206 "tf.function makes tf.keras.layers.LSTM significantly slower, no leading to retracing"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-12-18 01:42] yongtang commented on #35179
Created PR #35196 with the upgrade of boringssl

[2019-12-18 01:47] saqibshakeel035 opened #35208 "TypeError: expected bytes, Descriptor found"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (Windows 10)
- TensorFlow installed from (source):
- Tenso

[2019-12-18 02:20] yxchng commented on #24986
@lcycoding @impjdi Why is repeated input source not allowed? Is there any good reason to not support it?

[2019-12-18 02:28] k-w-w commented on #34312
@lsgrep Feel free to pick this up if you're interested!

[2019-12-18 02:30] rachellim commented on #34469
The issue here seems to be that your dataset has some elements with (completely) unknown shape, and we fail to handle that case correctly. Thanks for flagging this, I have a fix in review.

Side note: I don't expect the following code to work:
[code]
You'd get an error if you try to set dataset output shapes/types explicitly... unless you meant this as pseudocode?

[2019-12-18 02:30] nartes commented on #31577
To me it seems that atleast armeabi-v7a has problems with broadcast operations implementations.
Although, according to unit tests it must be supported. In practice, trying to multiply 4D array of input data with a constant of 0.1 (same type as the array) cause a crash of an application. No reasonable error messages pops up. I'm not sure about arm64-v8a, but armeabi-v7a has errors.

[2019-12-18 02:39] austingg commented on #25495
@yoyolin  you may try to add 'fold_old_batch_norm' transform for xception_65, that will get kind of speed up, maybe 5~10%. However,  when it comes to ssd-mobilenet-fpn, the transform graph tool may broken the model, which lead to wrong result, and I'm working on it.

[2019-12-18 02:40] s-sajid-ali commented on #35014
Looking at this more closely, I see that the exact command that is failing is
[code]

This is failing because `bazel` wants to build `nasm/output/outelf.c` and this file has a `#include eval.h`. Now, as per the nasm build recipe for bazel which is at `tensorflow/third_party/nasm/BUILD.bazel` shows that the includes for nasm are :
[code]
and the folder `asm` does indeed have the relevant header `ev

[2019-12-18 02:45] impjdi commented on #24986
@yxchng I forgot the details, but it's possible that it's not allowed, due to OpenGL restrictions.

[2019-12-18 03:14] xixiaoyao opened #35209 "Does TF2.0 absolutely support TPU now？"
Our TF code is written with TF2.0 (eager mode). However we heard that TF2.0 cannot run on TPU
 device. So is there any supporting plan ? Or when to release TPU-friendly TF2.X?

[2019-12-18 03:31] xinyidaren opened #35210 "I need a function which like np.argwhere"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):2.0
- Are you willing to contribute it (Yes/No):No

**Descr

[2019-12-18 03:46] oanush commented on #35177
@anhtu812 ,
Can you please provide standalone code to reproduce the issue being reported here?Thanks!

[2019-12-18 03:47] kitterive commented on #34846
Can anyone show  some examples using c++?

[2019-12-18 03:59] sanjoy commented on #34846
You can look at the test case Alex added in tensorflow/c/eager/c_api_experimental_test.cc.

[2019-12-18 04:01] hvico opened #35211 "TensorImage grayscale (single channel) image support"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: Huawei
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use co

[2019-12-18 04:05] northeastsquare opened #35212 "tf.load_op_library bug"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): https://github

[2019-12-18 04:25] ravikyram commented on #35065
@charles19920528

I have tried in colab with TF 2.0. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/d7958779064096e958bbcf734e8df670/untitled486.ipynb). Is this the expected behavior?

[2019-12-18 04:32] pinxue opened #35213 "macOS compiling: hidden symbol `__dso_handle' isn't defined and undefined reference to `operator delete(void*)'"
@tensorflow/micro

**System information**
- macOS 10.15 Catalina
- TensorFlow installed from source
- Tensorflow version (commit SHA if source):2ba0b2ef68d4259e8b02fa8be77a9372020b81b7 (Dec. 16)
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): bluepill

**Describe the problem**
[code]

**Please provide the exact sequence of commands/steps when you ran into the problem**

[code]

[2019-12-18 04:42] charles19920528 commented on #35065
@ravikyram Not really. I was hoping that by just setting `parallel_iterations=10`, the `print_fun` will run in parallel. I don't think this [code](https://colab.sandbox.google.com/gist/ravikyram/d7958779064096e958bbcf734e8df670/untitled486.ipynb) is running in parallel.

I sort of got my answer on the [StackOverflow](https://stackoverflow.com/questions/59299060/tf-2-0-while-loop-and-parallel-itera

[2019-12-18 05:12] npuichigo commented on #33245
@omalleyt12 So it looks like my example.
[code]
But it seems that keras restrict the input and output names to something like input_1, input_2, output_1 and so on. Can you give a correct example?

[2019-12-18 05:34] #34469 closed

[2019-12-18 05:37] batulrangwala opened #35214 "tflite.load_delegate() failed when running Demo API on Google Coral mini PCIe"
I am also facing a similar issue.
The demo API gives error at tflite.load_delegate.

[code]

[2019-12-18 05:38] batulrangwala commented on #35214
As suggested by the Coral support and Troubleshooting https://coral.ai/docs/m2/get-started/#troubleshooting
The error still persist.

[2019-12-18 06:12] oanush commented on #35171
@1096125073,
Kindly provide the code being used to replicate the issue reported, also provide the TF version and complete error trace.Thanks!

[2019-12-18 06:34] ravikyram commented on #35130
@rogeryuchao

I am closing the issue   since the query is been resolved. Thanks!

[2019-12-18 06:34] #35130 closed

[2019-12-18 06:48] ZYHZ100 opened #35216 "tf.keras CANNOT use my custom metrics or loss function!"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**

Previously, I used Keras instead of tf.keras to run my code and it can work smoothly.
CCC is the function I imp

[2019-12-18 07:06] ravikyram commented on #35173
@chensongkui

Can you please elaborate the issue you are facing. Also, please provide us the document link, with which you are facing the issue.Thanks!

[2019-12-18 07:09] freemanliu commented on #35133
saw https://github.com/tensorflow/tensorflow/issues/23257. Not exactly the same issue. But the common part is that installing tensorflow for go fails. There should be an integration test for this.

[2019-12-18 07:10] freemanliu commented on #23257
https://github.com/tensorflow/tensorflow/issues/35133
not exactly the same issue. But the same part is that installing tensorflow go failed when there is a update. There should be an integration test here.

[2019-12-18 07:11] olk commented on #35027
@gadagashwini yes still an issue

[2019-12-18 07:13] feature-engineer commented on #35135
@jsimsa `from_tensor_slices ` is performed in the setup, and isn't counted in the timing loop.. adding .repeat() to it on setup doesn't change the result.

This is a toy example, to make it clear that the problem is with the .map operation, I've started off with a training of a simple network comparing different sized tensors which are randomly cropped. The performance in training is proportional

[2019-12-18 07:19] SumanSudhir commented on #35210
np.argwhere is related to Numpy issue. Do you mean tf.math.argwhere

[2019-12-18 07:25] SumanSudhir commented on #35210
I am willing to work on this issue. Can you please assign this to me?

[2019-12-18 07:26] ZYHZ100 commented on #35216
When I set up my environment from scratch and used tensorflow-gpu 2.0.0, I still got errors as follows.

`
Traceback (most recent call last):
  File "main.py", line 283, in <module>
    run()
  File "main.py", line 196, in run
    train_weight=train_weight)
  File "/home/i/i0000013/EmoPain2020-FinalVersion/train.py", line 117, in train
    class_weight=class_weight)
  File "/home/i/i0000013/minico

[2019-12-18 07:54] LCorleone commented on #35045
@ymodak thanks a lot.
Your original code cannot compile because the layer need an input. I modify your code like this.
[code]
Although this operation can add loss successfully, but when compile and fit generator, another error comes out.

  File "/home/lxy/anaconda3/envs/tf2_py36/lib/python3.6/site-packages/tensorflow_core/python/keras/engine/training.py", line 1297, in fit_generator
    steps_nam

[2019-12-18 08:03] anhtu812 commented on #35177
my code:
[code]
file model: https://1drv.ms/u/s!AhFk3ICqlZI2irgK0pAnbDbE8DWSoQ?e=GhZojc

[2019-12-18 08:20] sxsheng commented on #33751
Okay I edited and made a simpler version that reproduces the same error. [https://colab.research.google.com/gist/sxsheng/d728fd700c408ac83c12fa269163e47a/untitled328.ipynb#scrollTo=-OujnW85Yza2](url)

[2019-12-18 08:28] pawelc commented on #32460
Hi I think the provided gist by adagashwini is run on CPU. The issue happens when running on GPU.

[2019-12-18 08:43] yongqyu commented on #31784
@ArtemisZGL @depthwise https://www.tensorflow.org/lite/convert/python_api#liteconstants
In here, there is no `tf.lite.constants` in tf2.0.
And Im not sure to use the `tf.compat.v1.lite.constants`. You can try it.

[2019-12-18 08:54] rmsmsgood commented on #32646
It works for me

[2019-12-18 09:07] #35216 closed

[2019-12-18 09:08] yxchng commented on #24986
@impjdi In this post, you said resize_bilinear is supported. I just tested. It gives the correct output when align_corners=false but gives blank output when align_corners=true. Is this behavior expected?

[2019-12-18 09:13] gabolsgabs commented on #35063
Hello. Is there any progress regarding this issue? I still haven't found a way of using this loss.

Thanks!

[2019-12-18 09:14] ravikyram commented on #35161
@VitaMusic
Request you to provide simple standalone code to reproduce the issue in our environment, then it is easy for localizing the issue faster. Thanks!

[2019-12-18 09:20] BElluu opened #35219 "Install Tensorflow for Gitlab-CI"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Gitlab-CI, I think that's Linux
- TensorFlow version: 2.0.0
- Python version: 3.8
- Installed using virtualenv? pip? conda?: pip

**Describe the problem**

I need to add Tensorflow to my requirement.txt. First I added "tensorflow" without a specific version, but in Gitlab-CI linters give me information that I need to

[2019-12-18 09:27] #35040 closed

[2019-12-18 09:39] hf-sky-hf commented on #35040
My phone is jacked

On Wed, Dec 18, 2019, 03:35 TensorFlow Copybara <notifications@github.com>
wrote:

[2019-12-18 09:42] thisisandreeeee opened #35220 "Imputing missing tensor values with the mean is unsuccessful"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux-4.14.106+-x86_64-with-debian-buster-sid
- TensorFlow installed from (source or binary): pip install
- TensorFlow version (use command below): 2.0.0
- Python version: 3.6.6

**Describe the current behavior**
I a

[2019-12-18 09:45] vihari1729 commented on #33867
Any update?

[2019-12-18 09:45] kumarmanas commented on #29011
Hey have you got solution for this. I am facing same problem on my CPU.

[2019-12-18 09:49] VitaMusic commented on #35161
I can not share my code for a IP reasons, but you can try any like VGG NN with any image set.

[2019-12-18 09:52] ravikyram commented on #35099
@rrkarim

I have tried in colab with TF 2.0, 2.1.0-rc1 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/61ab1f7a87eae6ac1049881313c5b7bd/untitled482.ipynb). Thanks!

[2019-12-18 10:00] deadsoul44 commented on #29011
I don't remember exactly how I solved this. Maybe installing mkl package or something like that or updating keras. It might be also due to using generator. Currently, I am not using generator. I am using tf 2.0 in a conda env and importing keras from tf like from tensorflow.keras import etcetc.

[2019-12-18 10:02] rrkarim commented on #35099
@ravikyram does the PR solve the issue?

[2019-12-18 10:15] oanush commented on #34756
@kiflowb777 ,
Any update on the issue ?Thanks!

[2019-12-18 10:26] ravikyram commented on #34702
@charlizesmith

Any update on this issue please. Thanks!

[2019-12-18 10:28] ravikyram commented on #34710
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-18 10:28] #34710 closed

[2019-12-18 10:29] ravikyram commented on #34697
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-18 10:30] hf-sky-hf commented on #34756
Need help phone is not att

On Wed, Dec 18, 2019, 04:22 oanush <notifications@github.com> wrote:

[2019-12-18 10:35] lcycoding opened #35221 "Crash on Hexagon Delegate"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Android
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Mi A2, Pixel3
- TensorFlow version (use command below): 1.15.0
- Python version:
- Bazel version (if compiling fr

[2019-12-18 10:39] oanush commented on #35193
@Snickbrack ,
Hi, Please make sure system supports AVX, also there are similar issues [28848](https://github.com/tensorflow/tensorflow/issues/28848) and [22794](https://github.com/tensorflow/tensorflow/issues/22794) Kindly refer them. Hope you have followed instructions from [TensorFlow website](https://www.tensorflow.org/install/gpu#windows_setup).Thanks!

[2019-12-18 10:43] tekai424 opened #35222 "imp.py"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-12-18 10:45] ravikyram commented on #32465
@tree1891

Any update on this issue please. Thanks!

[2019-12-18 10:48] ravikyram commented on #34665
@zhouhao-learning

Any update on this issue please. Thanks!

[2019-12-18 10:51] oanush commented on #35172
@husisy ,
When tried running the code in TF-nightly issue seemed to be fixed, kindly refer the [gist](https://colab.sandbox.google.com/gist/oanush/4bf90fdcc8ae193ff478b2fac353474f/35172.ipynb) of colab.Thanks!

[2019-12-18 10:59] husisy commented on #35172
many thanks.

[2019-12-18 10:59] #35172 closed

[2019-12-18 11:02] oanush commented on #35159
@fonnesbeck ,
Thank you for reporting the issue, could you please provide a standalone code to reproduce the error?

[2019-12-18 11:09] ravikyram commented on #35204
@HStuart18

Please use cuda 10.0 against TF 1.13,1.14 and in addition to that make sure you add cuda, cudnn paths to your environment.Please, let us know how it progress. Thanks!

[2019-12-18 11:13] HStuart18 commented on #35204
I actually just decided to bite the bullet and convert my TF1 code to TF2, so I better close this issue. But it does seem that doing what you suggested would fix the problem since it is a compatibility issue.

[2019-12-18 11:13] #35204 closed

[2019-12-18 11:23] gadagashwini commented on #35157
@josdewitte, Could you provide the standalone code snippet to replicate the issue. Thanks!

[2019-12-18 11:27] gadagashwini commented on #35164
@ShibaPrasad, Please provide the complete code and Tenosrflow version to replicate the reported issue here. Thanks!

[2019-12-18 11:39] gadagashwini commented on #35165
Issue is replicating on colab with Tf 2.0.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/b255e6504968e6a8ee824097e78a07f1/untitled314.ipynb). Thanks!

[2019-12-18 11:40] oanush commented on #35209
@xixiaoyao ,
Hello, 2.0 indeed supports TPU, please refer the link [TPUstrategy](https://www.tensorflow.org/guide/distributed_training#tpustrategy) for more information.Thanks!

[2019-12-18 11:43] gadagashwini commented on #35181
@tanodino, Could you provide the sample code snippet to analyze the reported issue. Thanks!

[2019-12-18 11:54] maxmax1992 commented on #2115
add the directory of the `which tensorboard` (not including the `/tensorboard`) to the `$PATH` env variable.
in zsh shell example:
`which tensorboard`
[code]
this command prepends the tensorboard path to the `$PATH` env variable
`export PATH=$HOME/.local/bin:$PATH`

[2019-12-18 12:04] batulrangwala commented on #35214
I have now loaded the libedgetpu as per the instructions here https://coral.ai/news/updates-04-2019/.
Now I do not get the HIB error but the follwoing error
[code]
`
I have updated the g++ and gcc to version 6 and installed libunwind8. but the same error is still present.

[2019-12-18 12:10] batulrangwala commented on #32629
Hi
I am using a Google Coral Mini PCIe on Banana PI 64 and have a similiar issue
My linux distribution is
Linux bpi-iot-ros-ai 5.4.0-bpi-r64 #1 SMP PREEMPT Mon Dec 16 16:00:08 IST 2019 aarch64 aarch64 aarch64 GNU/Linux
TensorFlow installed
tflite_runtime-1.14.0-cp35-cp35m-linux_aarch64.whl
Python3 Version : 3.5.2

I have loaded the libedgetpu as per the instructions here https://coral.ai/news/upda

[2019-12-18 12:14] haolujun opened #35224 "Sparse Feature in c++, different shape cause different result"
HI :
     I was using c++ api of tensorflow-1.14.0 and found a problem.
     I had a model in pb format and loaded it use c++. The model had a sparse node, so I construct indices, values shape for it.
     Three tensor name for a sparse node:
     DeserializeSparse:0  for indices,
     DeserializeSparse:1   for values,
     DeserializeSparse:2  for shape,

    case 1:
    shape = [1, 1];  indices

[2019-12-18 12:16] ravikyram commented on #35195
@Meraj99
TensorFlow automatically places operations on a GPU, if possible. As you only have one GPU in your system, it is used by default.
Find more information here: https://www.tensorflow.org/guide/using_gpu
Make sure you have TensorFlow GPU installed:
https://www.tensorflow.org/install/gpu

Please, go through the [link1](https://github.com/tensorflow/tensorflow/issues/21411),[link2](https://git

[2019-12-18 13:16] freefuiiismyname opened #35225 "how to inference online with tensorflow2.0? #24"
i am trying to inference online with tensorflow2.0. my code is as follows:

This code is executable, but it runs bad result. It looks like the parameters are unloaded.I guess this is probably because I'm not using tf.Session to set default parameters on the model, such as' saver.restore(sess, tf.train. Latest_checkpoint (init_checkpoint)) '.
I've tried several ways to do this, but it hasn't worked

[2019-12-18 13:36] BElluu commented on #35219
Change image from Python 3.8 for Python 3.7 work for me. So problem is with latest Python 3.8

[2019-12-18 13:53] manish-kumar-garg opened #35226 "ValueError: `handle` is not available outside the replica context or a `tf.distribute.Strategy.update()` call."
I am not able to run training using tf.distribute.Strategy
However, it works fine without distribution.
Below is the code block for training loop

[code]

This is the error.

[code]
How to fix this?

[2019-12-18 13:54] nareshr8 commented on #33245
If I use ` tf.feature_column.categorical_column_with_vocabulary_list` I wasable to specify the column name in keras. But I faced the issue when I called `model_to_estimator` API to convert back to tensorflow model as the converted model was expecting inputs like `input1,input2,...` as you mentioned

[2019-12-18 14:02] spurani opened #35227 "Tensorflow build unsuccessful using bazel build"
So I have been following to this guide https://www.tensorflow.org/install/source and https://www.tensorflow.org/install/gpu. My system configuration is

+-----------------------------------------------------------------------------+
| NVIDIA-SMI 440.33.01    Driver Version: 440.33.01    CUDA Version: 10.2     |
|-------------------------------+----------------------+----------------------+
| GPU

[2019-12-18 14:03] nareshr8 commented on #30453
This got resolved for me. The datatype of the vocabulary list passed to the method, the data in the column of the record and the data type that we specify in the model have to be the same. Was able to find the issue, it got resolved.

[2019-12-18 14:16] aPonza opened #35228 "Configuring issues with tag 2.1.0"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian 9
- Mobile device (e.g.

[2019-12-18 14:24] josdewitte commented on #35157
@gadagashwini, deleted the cache files manually this morning; now I cannot reproduce the issue. Maybe you can verify that these files are cleaned up on every dataset.cache(filename) locations. Should we close this ?

[2019-12-18 14:26] hf-sky-hf commented on #35228
Ok

On Wed, Dec 18, 2019, 08:24 aPonza <notifications@github.com> wrote:

[2019-12-18 14:46] #30222 closed

[2019-12-18 14:48] abattery commented on #30222
SelectV2 op is now available in Tensorflow Lite.

[2019-12-18 14:49] johannabar commented on #35090
Hi @wangpengmit, thank you for the explanation!
I am closing this issue as what I noticed is correct behaviour.

Though I think it's a little tricky that a map call to the same mapping function will produce the same random numbers. For instance if you have a map function doing random cropping on images and you call it on both your training and validation data separately then you will get the SAME

[2019-12-18 14:49] #35090 closed

[2019-12-18 15:13] aLeX1443 commented on #35192
According to [this SO post](https://stackoverflow.com/questions/59380430/how-to-use-model-fit-which-supports-generators-after-fit-generator-deprecation), `fit_generator` is deprecated as of TF 2.1.0. It suggests passing the generator to `model.fit` instead. I am not able to test this right now, but I'll try to update as soon as I can.

[2019-12-18 15:17] eduardo4jesus commented on #32809
@Li-markus

I had to tweak it to avoid errors with TF 2.0, but I am still not able to get it working.

[code]

The output was:
[code]

[2019-12-18 15:18] andrew-bydlon commented on #35100
I can verify this error with python 3.8 and python-tensorflow-opt-cuda 2.1.0rc1-2 on arch linux.

[2019-12-18 15:24] deven-amd commented on #34652
@gunan @angerson thanks for the answers

It would be really helpful if you could make the dockerfiles+scripts in the public repo functional again. It would give us the ability to both
* experimentally verify what is currently working / broken in the upstream repo
* ensure that the changes in the PRs we submit are not regressing existing functionality.

In the meantime, is there any way we can get

[2019-12-18 15:51] AndreyPlotkinOr commented on #22338
@Roffild You may replace the fatal message with this code, and it will work:

#if defined(PLATFORM_WINDOWS)
  for (const char* dir : std::vector<const char*>(
           {getenv("TEST_TMPDIR"), getenv("TMPDIR"), getenv("TMP"), getenv("TEMP"), "/tmp"})) {
    if (!dir || !dir[0]) {
      continue;
    }
    struct stat statbuf;
    if (!stat(dir, &statbuf) && S_ISDIR(statbuf.st_mode)) {
      strin

[2019-12-18 15:52] AndreyPlotkinOr commented on #24974
#if defined(PLATFORM_WINDOWS)
  for (const char* dir : std::vector<const char*>(
           {getenv("TEST_TMPDIR"), getenv("TMPDIR"), getenv("TMP"), getenv("TEMP"), "/tmp"})) {
    if (!dir || !dir[0]) {
      continue;
    }
    struct stat statbuf;
    if (!stat(dir, &statbuf) && S_ISDIR(statbuf.st_mode)) {
      string tmp_filepath;
      tmp_filepath = io::JoinPath(
          dir,
          st

[2019-12-18 16:21] fcUalberta commented on #34501
Hello @ravikyram
Sorry for the late response. I had the issue resolved. I was using Tensorflow 2.0. There were some deprecations in that and I tried version 1.15 on Google colab, it was working fine. I also had some issue with the dimensions of input I was passing. My application call inceptionv3 in loop for prediction in a loop, but it was accidentally re-reading the output of previous prediction

[2019-12-18 16:23] Athul8raj commented on #35210
I believe you can get the indexes when the condition is met as tensors just by using _tf.where(condition)_
Sample code

`
import tensorflow as tf
import numpy as np

numpy_array = np.arange(6).reshape(2,3)
indices = np.argwhere(numpy_array>1)
print(indices)

 [1 0]
 [1 1]
 [1 2]]

tensor_array = tf.convert_to_tensor(numpy_array)
cond_indices = tf.where(tensor_array>1)
print(cond_indices)

[[0 2]

[2019-12-18 16:25] tanodino commented on #35181
Hi, I wrote some code example on a notebook that you can run on colab.
Here the link to the notebook:
https://colab.research.google.com/drive/1rNkHlySCXXasRqf3sCbYoSGSK5BdWT2h

In this code, I generated some random data and run a GRUCell wrapped by a DropoutWrapper layer. During the training I collected the value of the final state of the RNN and print them. As you can observe, such values are not

[2019-12-18 16:25] #35195 closed

[2019-12-18 16:26] Meraj99 commented on #35195
I've fixed it by `pip uninstall tensorflow`. The tensorflow-gpu still works.

[2019-12-18 16:31] mihaimaruseac commented on #24974
Will take a while until I can get to this, but it's something to be handled as part of tensorflow/community#101

[2019-12-18 16:33] #35222 closed

[2019-12-18 16:34] mihaimaruseac commented on #35222
Please reopen filling in the template, if you have a real issue with using TF.

[2019-12-18 16:52] #35137 closed

[2019-12-18 16:54] karthikcode1 commented on #19216
I have faced these type of  problems ,
-Like Tensorflow =2.0.0 (latest version )  incompatible   with 3.7 python .
-Like in python 3.7 version tensorflow doesn't work properly so install python 3.6 version or before version.
And working windows 7 version laptops and desktops (manufactured before 2012 or 2013)
Solution  for It.
### command in anacoda prompt
**$ _conda create -n tensorflow_cpu pip p

[2019-12-18 17:23] AymenFJA commented on #31077
For Conda user do the following :

`conda uninstall tensorflow`

`conda install -c conda-forge tensorflow=1.13`

[2019-12-18 17:23] Jihadik commented on #35185
[code]

It looks like it happened because of scipy release. Here is the problem: https://github.com/scipy/scipy/issues/11237

[2019-12-18 17:25] impjdi commented on #24986
@yxchng Well, you can find out what's going on by reading the code.  `//tf/lite/delegates/gpu/gl/kernels/upsampling_bilinear.cc` apparently does not take `align_corners` into consideration which is a bug.  I would file a separate issue rather than piggybacking on this thread.

[2019-12-18 17:29] aaroey commented on #33184
@sgambient Based on the log it seems the model gets an input with 0 elements, could you help to confirm that?

Also @pooyadavoodi

[2019-12-18 17:30] aaroey commented on #33184
Also @sanjoy

[2019-12-18 17:34] aaroey commented on #30039
Hi @zli117, I think this is expected. per_process_gpu_memory_fraction specifies the amount of memory that TF will be used to allocate input/output tensors of the graph and temporary buffers for intermediate results. This doesn't include memory that is needed to initialize CUDA/cuDNN and other GPU libraries.

I'm closing this, feel free to reopen if there are further questions.

[2019-12-18 17:34] #30039 closed

[2019-12-18 17:39] aaroey commented on #31022
I can reproduce the problem with TF 2.0.
@sanjoy, could you help to take a look?

[2019-12-18 17:50] aaroey commented on #32103
@jtressle I think what @leo-XUKANG could be possible. I'm closing this, please feel free to reopen and provide the model and script to reproduce the problem if it still exists.

[2019-12-18 17:50] #32103 closed

[2019-12-18 17:50] #35092 closed

[2019-12-18 17:52] #32919 closed

[2019-12-18 17:52] halidziya commented on #35092
Adam(lr=CustomSchedule()) does not work since  lr renamed to learning_rate in tf.keras.optimizers.Adam

[2019-12-18 17:52] aaroey commented on #32919
I'm closing this, please see #8136 for more info.

[2019-12-18 17:57] aaroey commented on #32128
@samhodge sorry for late reply. As mentioned by @ymodak above, there is currently no way to reset the memory allocator without exiting the program. There is a [test-only method](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/common_runtime/gpu/gpu_process_state.h#L130) that can help to reset the memory owned by the process but that is not exposed.

[2019-12-18 18:12] huyng commented on #35165
Thanks for testing.

[2019-12-18 18:31] jsimsa commented on #35135
Your setup only builds the input pipeline graph. The `from_tensor_slices` data copy is performed in each call to `get_next` which only happens in your `tf.reduce_sum`. The following [presentation](https://www.youtube.com/watch?v=kVEOCfBy9uY) explains in detail how tf.data input pipeline construction and execution works.

Your `gist` is still using `from_tensor_slices`. Can you reproduce the issue

[2019-12-18 19:05] ckime-ibm commented on #9489
Same issue with PyTorch after nvidia `10.1-cudnn7-runtime-ubuntu18.04` images was updated 13 days ago.  Has `libcublas.so.10.2.2.89`, downgrade to `libcublas.so.10.2.1.243` and problem goes away.

[2019-12-18 20:38] saverymax commented on #33148
I was recently dealing with the same problem. Do you have any new information regarding this issue?

[2019-12-18 20:46] wangpengmit commented on #35090
Yes. And I confirm that `set_random_seed` will cause an RNG in `tf.function` to start from the same global seed (because of https://github.com/tensorflow/tensorflow/blob/1cf0898dd4331baf93fe77205550f2c2e6c90ee5/tensorflow/python/eager/context.py#L427 and https://github.com/tensorflow/tensorflow/blob/1cf0898dd4331baf93fe77205550f2c2e6c90ee5/tensorflow/python/framework/func_graph.py#L229). Possible

[2019-12-18 21:04] ymodak commented on #35204
@HStuart18 Reason you are able to use TF 2.0 gpu and not TF 1.14 gpu is because; For releases 1.14 and older, CPU and GPU packages are separate.
See https://www.tensorflow.org/install/pip?lang=python3#older-versions-of-tensorflow

[2019-12-18 21:16] jvishnuvardhan commented on #35030
@gdudziuk I was also not able to reproduce the issue. Can you please try to reinstall the latest tensorflow and test again. Thanks!

[2019-12-18 21:25] ktatar commented on #34499
I confirm the same issue. I am working with python 3.7 and tensorflow-gpu 2.0 release installed from pip.
Here is the code to reproduce the issue. You would need a folder of images with the same size to run this code:

`# -*- coding: utf-8 -*-
from __future__ import absolute_import, division, print_function, unicode_literals

import tensorflow as tf

import os
import time
import numpy as np
import

[2019-12-18 21:42] #33414 closed

[2019-12-18 22:25] flyingdoog commented on #6391
Here is the solution.

1) open  YOURPATH/tensorflow/python/ops/sparse_grad.py
2) Remove line 33 ops.NotDifferentiable("SparsetoDense")
3) At the end, append

@ops.RegisterGradient("SparseToDense")
def _SparseToDenseGrad(op, grad):
  sparse_indices, output_shape, _, _ = op.inputs

  sparse_values_grad = array_ops.gather_nd(grad, sparse_indices)
  default_value_grad = math_ops.reduce_sum(grad) - mat

[2019-12-18 22:36] slundberg commented on #35203
Quick update: It looks like the equivalent of `_IsBackpropagatable` in eager mode is now a hard-coded C++ type check on the op inputs at: https://github.com/tensorflow/tensorflow/blob/7b094e93b906f32b971b13c6b7fb5df75cde5cf6/tensorflow/c/eager/tape.h#L340-L369

[2019-12-18 22:59] alexatinvert commented on #23613
For me the solution was to execute the command from the tensorflow floder, i.e. /home/username/tensorflow/tensorflow/

This folder contains workspace.bzl, which I believe contains the config values

[2019-12-18 22:59] jvishnuvardhan commented on #34857
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-18 22:59] #34857 closed

[2019-12-18 23:04] ymodak commented on #33306
@FridaCai Since the stacktrace says Restoring from checkpoint failed. This is most likely due to a Variable name or other graph key that is missing from the checkpoint.
You may want to try complete training for 18000 steps as mentioned in the tutorial before freezing.
See https://github.com/tensorflow/docs/blob/master/site/en/r1/tutorials/sequences/audio_recognition.md

[2019-12-18 23:09] jvishnuvardhan commented on #34374
@shauryad15 Sorry for late response. Is it still an issue? Can you check whether this [resource](https://github.com/tensorflow/tensorflow/issues/22106#issuecomment-428409506) will help you in resolving your issue? If it is not resolving, please share a standalone code to reproduce your issue. Thanks!

[2019-12-18 23:13] MeghnaNatraj commented on #33976
Closing the issue due to inactivity. If you can provide more information, feel free to re-open the issue.

[2019-12-18 23:13] #33976 closed

[2019-12-18 23:19] MeghnaNatraj commented on #35145
Hello, please answer the following questions and if possible, code to re-produce the results.

-  Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- T

[2019-12-18 23:29] jvishnuvardhan commented on #34068
@durandg12 Looks like `load_model` is working for both the cases when the model is saved in 'h5` format. [Here](https://colab.sandbox.google.com/gist/jvishnuvardhan/95b9d359762b766dba337e0cfa0c248b/untitled355.ipynb) is the gist. Thanks!

Both the cases are still failing when the model was saved in `tf` format. Thanks!

[2019-12-18 23:45] jvishnuvardhan commented on #30922
@Dcyx Sorry for the late reply. Is this still an issue? Thanks!

[2019-12-18 23:57] nfelt commented on #33941
I asked about accuracy because that's what was shown in the sample of your model function.  If that's not the model function and metric you're interested in getting working, can you post the details of what those are and what the specific problem is?

[2019-12-19 00:39] abdou31 commented on #33941
@nfelt , The problem is I would like to show accuracy in Tensorboard after training my model.
I'm working on a model that predict eye landmarks in real-time, I would like to tell you that this is related to a regression problem, not a classification problem.
Do you have any idea how can I see the correct accuracy ( summary graph ) on Tensorboard ?
Note: the original project that I work on it is CN

[2019-12-19 01:16] jsimsa commented on #35100
@guptapriya I realized that generator dataset is used in multi-device iterator. This seems related to newly added support for cancellation in tf.data.

The good news is that, as you pointed out, the warning is superfluous. The bad news is that, as far as I can tell, this warning will be present for all tf.distribute jobs in TF 2.1 (given how tf.data cancellation is implemented). I will look into h

[2019-12-19 01:21] guptapriya commented on #35100
Ah, great, thanks @jsimsa.

[2019-12-19 01:33] spurani commented on #35227
A quick update in this sections. ERROR: /home/user/tensorflow/tensorflow/BUILD:533:1: Executing genrule //tensorflow:tf_python_api_gen_v1 failed (Exit 1)
Traceback (most recent call last):
  File "/home/user/.cache/bazel/_bazel_user/f11a7014505dc3312336ee3d012a10b6/execroot/org_tensorflow/bazel-out/host/bin/tensorflow/create_tensorflow.python_api_1.runfiles/org_tensorflow/tensorflow/python/tools/a

[2019-12-19 01:39] jvishnuvardhan commented on #34921
@HsinJhao I think it should be possible as shown in this [resource](https://stackoverflow.com/questions/46890387/how-to-read-mat-file-format-in-tensorflow).
I updated that code to match your code. here is the [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/f955420a6def4632eb922bb8ff390f55/untitled714.ipynb).

Please provide more data if you have any further questions. Please close the

[2019-12-19 01:57] renjie-liu commented on #35170
Hi Juhyun,  can you help take a look? thanks!

[2019-12-19 02:34] renjie-liu commented on #35168
the old ophint-based method does not work well with resource variables (but it should work fine with 1.15, I have just tried in colab)

for new keras lstm/rnn, please refer here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/experimental_new_converter/keras_lstm.ipynb

thanks

[2019-12-19 02:44] cockroachzl commented on #33150
I got the same error message and warning message in tensorflow-gpu 2.0
[code]
The optimizer is Adam
[code]
The model is a subclassed tf.keras.Model

[2019-12-19 02:45] impjdi commented on #35170
Hm, that's complicated.

First of all, I'm not sure what the Maven repository is.  If it is our nightly build, then you will be running things with OpenCL.

Now, I'm not sure what GPU backend TF 2.0's TFLite has.  If it's only employing OpenGL (as OpenCL might not have made the cut), you can run into that issue.

[2019-12-19 03:11] ashutoshbsathe opened #35239 "Return some sort of verifying data structure for load_weights for tf.keras models"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0.0
- Are you willing to contribute it (Yes/No): Yes

**

[2019-12-19 03:13] ibrahimLearning commented on #34636
@gadagashwini
Thanks for comment.

Not yet

[2019-12-19 03:24] gimgane commented on #35170
@impjdi
Thanks for your comment.

Yes, I meant nightly build.
Originally, I've used the prebuilt library by adding dependencies on `build.gradle` file of my Android project:
[code]

So after I built tensorflow-lite.aar and tensorflow-lite-gpu.aar from source,
I changed the build.gradle like below:
[code]

Can I ask what do you mean by '_you will be running thins with OpenCL._' ?
Maybe there's some

[2019-12-19 03:44] andompesta opened #35241 "add_weight with None name generate a graph that it's not possible to save by checkpoint manager"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-12-19 03:57] oanush commented on #35187
@ChristianISO ,
Hi,could you provide code snippet to replicate the above error ?Thanks!

[2019-12-19 04:00] igorhoogerwoord commented on #34698
The ```virtualenv/bin/``` is added to the PATH variable in the row with other binary directories, in the .profile file, on the same linux user account which I also use to run the python program.

Does this clear up how it is added to the path?

The rest of Tensorflow works successfully, it would not work if I was not sourcing my virtualenv script because Tensorflow is only installed in the virtual

[2019-12-19 04:29] bazel-flag-bot opened #35242 "Flag --incompatible_disallow_empty_glob will break TensorFlow in Bazel 1.2.1"
Incompatible flag --incompatible_disallow_empty_glob will break TensorFlow once Bazel 1.2.1 is released.

Please see the following CI builds for more information:

* [:darwin: (OpenJDK 8)](<a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/342#042f4c72-2a23-4d7b-9d3b-d78619ea3fc7" target="_blank">:darwin: (OpenJDK 8)</a>)
* [:windows: (OpenJDK 8)](<a href="https://buildki

[2019-12-19 04:30] bazel-flag-bot opened #35243 "Flag --incompatible_load_python_rules_from_bzl will break TensorFlow in Bazel 1.2.1"
Incompatible flag --incompatible_load_python_rules_from_bzl will break TensorFlow once Bazel 1.2.1 is released.

Please see the following CI builds for more information:

* [:darwin: (OpenJDK 8)](<a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/342#042f4c72-2a23-4d7b-9d3b-d78619ea3fc7" target="_blank">:darwin: (OpenJDK 8)</a>)
* [:windows: (OpenJDK 8)](<a href="https://

[2019-12-19 04:31] bazel-flag-bot opened #35244 "Flag --incompatible_no_implicit_file_export will break TensorFlow in Bazel 1.2.1"
Incompatible flag --incompatible_no_implicit_file_export will break TensorFlow once Bazel 1.2.1 is released.

Please see the following CI builds for more information:

* [:darwin: (OpenJDK 8)](<a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/342#042f4c72-2a23-4d7b-9d3b-d78619ea3fc7" target="_blank">:darwin: (OpenJDK 8)</a>)
* [:windows: (OpenJDK 8)](<a href="https://bui

[2019-12-19 04:31] bazel-flag-bot opened #35245 "Flag --incompatible_disable_target_provider_fields will break TensorFlow in Bazel 1.2.1"
Incompatible flag --incompatible_disable_target_provider_fields will break TensorFlow once Bazel 1.2.1 is released.

Please see the following CI builds for more information:

* [:darwin: (OpenJDK 8)](<a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/342#042f4c72-2a23-4d7b-9d3b-d78619ea3fc7" target="_blank">:darwin: (OpenJDK 8)</a>)
* [:windows: (OpenJDK 8)](<a href="http

[2019-12-19 04:32] bazel-flag-bot opened #35246 "Flag --incompatible_load_cc_rules_from_bzl will break TensorFlow in Bazel 1.2.1"
Incompatible flag --incompatible_load_cc_rules_from_bzl will break TensorFlow once Bazel 1.2.1 is released.

Please see the following CI builds for more information:

* [:darwin: (OpenJDK 8)](<a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/342#042f4c72-2a23-4d7b-9d3b-d78619ea3fc7" target="_blank">:darwin: (OpenJDK 8)</a>)
* [:windows: (OpenJDK 8)](<a href="https://buil

[2019-12-19 04:33] bazel-flag-bot opened #35247 "Flag --incompatible_use_platforms_repo_for_constraints will break TensorFlow in Bazel 1.2.1"
Incompatible flag --incompatible_use_platforms_repo_for_constraints will break TensorFlow once Bazel 1.2.1 is released.

Please see the following CI builds for more information:

* [:darwin: (OpenJDK 8)](<a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/342#042f4c72-2a23-4d7b-9d3b-d78619ea3fc7" target="_blank">:darwin: (OpenJDK 8)</a>)
* [:windows: (OpenJDK 8)](<a href="

[2019-12-19 04:33] bazel-flag-bot opened #35248 "Flag --incompatible_restrict_string_escapes will break TensorFlow in Bazel 1.2.1"
Incompatible flag --incompatible_restrict_string_escapes will break TensorFlow once Bazel 1.2.1 is released.

Please see the following CI builds for more information:

* [:darwin: (OpenJDK 8)](<a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/342#042f4c72-2a23-4d7b-9d3b-d78619ea3fc7" target="_blank">:darwin: (OpenJDK 8)</a>)
* [:windows: (OpenJDK 8)](<a href="https://bui

[2019-12-19 04:39] ManishAradwad opened #35249 "Wrong Accuracy value for Training data in tutorial..."
## URL(s) with the issue:
https://www.tensorflow.org/tutorials/keras/classification/

## Description of issue (what needs changing):

Under "Train the model" in "Build the model", the accuracy of the model on training data after 10 epochs is 0.91(91%) while it is mentioned as 0.88(88%).

### Clear description

Since, it is already mentioned in the tutorials that the model overfits the training dat

[2019-12-19 04:57] gasgallo opened #35250 "Converting to TFLite: Invalid quantization params for op MAXIMUM at index 4 in subgraph 0"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 1.15.0-gpu

**Command used to run the converter or code if you’re using the Python API**

[code]

**The output from the converter invocation**

[code]

**Also, please include a link to the saved mo

[2019-12-19 05:44] ravikyram commented on #35219
@BElluu
We can expect python 3.8 support with TF 2.2.See [#33374 (comment)](https://github.com/tensorflow/tensorflow/issues/33374#issuecomment-562663993).Can i close this issue as the issue resolved by downgrading to Python 3.7. Thanks!

[2019-12-19 05:52] yxchng commented on #35176
@karimnosseir Is there any way to not touch MLIR code? I can't really understand MLIR code.

[2019-12-19 05:57] gadagashwini commented on #35111
@shazhongcheng, I could see it now. Thanks!

[2019-12-19 06:00] niranjan8129 opened #35251 "LSTMCell initialization issue ( get_initial_state )"
Hi,
When I am using get_initial_state to initialize, I am getting error below .
Could you please suggest me how to initialize LSTMCell cell?

lstm_cell = tf.keras.layers.LSTM(units=128)
lstm_cell = tf.nn.RNNCellDropoutWrapper(   lstm_cell,    output_keep_prob=self.dropout_keep_prob)
self._initial_state = **lstm_cell.get_initial_state(128, tf.float32)**

**ValueError**: slice index 0 of dimension 0

[2019-12-19 06:02] gadagashwini commented on #32460
@jl-wynen  and @pawelc , I didn't see error message with Tf GPU as well.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/3f3c64d01113dfc8ebcc8481ff652c14/untitled259.ipynb). Thanks!

[2019-12-19 06:03] oanush commented on #34937
@VSGD ,
When tried running the given code  `ModuleNotFoundError: No module named 'cnn' `   error was faced , kindly refer the [gist of colab](https://colab.sandbox.google.com/gist/oanush/754d9162b82f48c7b44effe4e3b22493/34937.ipynb) for reference.Thanks!

[2019-12-19 06:09] gadagashwini commented on #35157
@josdewitte, If issue is no longer exist we can close this. Thanks!

[2019-12-19 06:21] MrDominikku opened #35252 "Issue - Blas GEMM launch failed"
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):

[code]

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 7 Ultimate 64bit
- TensorFlow installed from (source or binary): pip install tensorflow-gpu
- TensorFlow version (use command below): v2.0.0-rc2-26-g64c3d382ca 2.0.0
- Python version: 3.7
- CUDA/cuDNN version:

nvcc: NVIDIA (R

[2019-12-19 06:22] gadagashwini commented on #35027
May be issue is with Python 3.8.
It is working without any error message on Colab with Python3.6. Thanks!

[2019-12-19 06:29] Jwer-chen commented on #32381
I have get the same error too!who can help me?

[2019-12-19 06:37] lxl910915 commented on #22750
https://github.com/tensorflow/tensorflow/commit/1845bf763b4c1c54425d9bb8b1554db79759f567 and https://github.com/tensorflow/tensorflow/commit/76e7804409ccd76c7ce08e66eb739544cd5cda68 solved this issue for me on tf-1.12.0

[2019-12-19 06:41] rmothukuru commented on #35220
Closing this issue as it is a Duplicate of [TFT_152](https://github.com/tensorflow/transform/issues/152). Thanks!

[2019-12-19 06:41] #35220 closed

[2019-12-19 06:46] sharvil commented on #34859
Can we move the discussion about gradients into another topic / bug? I was responding to the original question @martinwicke asked about why we're not using Keras optimizers. That discussion doesn't seem to contribute to the issue at hand, i.e. `tf.train.AdamOptimizer` not working with custom TPU training loops.

[2019-12-19 06:47] chaoyueziji commented on #3308
I also want to how to solve it in vs2015

[2019-12-19 06:53] gadagashwini commented on #35205
@Lhogeshwaran, There is a objection detection model in Tflite for iOS.
https://github.com/tensorflow/examples/tree/master/lite/examples/object_detection/ios

[2019-12-19 07:09] unixist commented on #33442
I'm still troubleshooting this.

[2019-12-19 07:10] FranzBl opened #35253 "tensorflow build fails"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform Windows 10 Pro
- desktop computer:
- TensorFlow installed from source
- Ten

[2019-12-19 07:11] byronyi commented on #33962
We have observed similar issues with TF 2.1-rc0. Cannot share source code, but hopefully I could get a minimal reproducible case.

[code]

Gently ping @goldiegadde; anything looks familiar?

[2019-12-19 07:12] mpariente commented on #35168
Thanks a lot for the example, I'm going to try that out.

Hmm, I did run this script with tf1.15.. Did you try the snippet I provided? Are you able to reproduce the error?
And could I ask what you tried in colab?

Thanks for that, where can I find some more info on the experimental_new_converter  please? I'm struggling with post-training quantization with pretrained LSTMs for a while now..

[2019-12-19 07:13] byronyi commented on #33962
Gently ping @mdanatg; does this look familiar to you?

[2019-12-19 07:23] renjie-liu commented on #35168
I used colab to import the python notebook and ran directly.

Can you try the new approach and see if the post-training works for you?

Thanks a lot!

On Thu, Dec 19, 2019 at 3:12 PM Pariente Manuel <notifications@github.com>
wrote:

--
Renjie Liu

renjieliu@google.com
+1 (650) 253-4359

[2019-12-19 08:08] ravikyram commented on #35190
@bakaschwarz
Filters should be int but not strings. If we give integer value for filter we will not see any error message.
Please go through this [link](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Conv2D?version=stable#arguments_2).Thanks!

[2019-12-19 08:11] feature-engineer commented on #35135
Ok, from_tensors does indeed perform with O(1), while from_tensor_slices has an O(N) performance.

Is this the intended behaviour? If so, it should be mentioned in the documentation, as this is a very significant difference between these otherwise quite similar methods.

[2019-12-19 08:16] ravikyram commented on #35184
@joshnarani9

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Request you to provide minimal standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster.If you are unclear what to include see the issue template displayed

[2019-12-19 08:23] ravikyram commented on #35183
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Request you to provide minimal standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster.If you are unclear what to include see the issue template displayed in the [Github

[2019-12-19 08:24] Johnwei386 commented on #24828
I face this problem with the environment:
ubuntu 18.04
NVIDIA driver 418.67
Geforce RTX 2080

I try various methods to solve this problem. First, I think that it is an Incompatible problem of CUDA and Cudnn. I experiment with numerous versions of CUDA and Cudnn.  It has no work for me. I google this problem and review a solution in:
https://stackoverflow.com/questions/53698035/failed-to-get-convol

[2019-12-19 08:27] stchau4work commented on #24828
Are you using tf1 or tf2?

[2019-12-19 08:38] WakerKQ opened #35254 "module 'tensorflow._api.v1.keras.layers' has no attribute 'DenseFeatures'"
I want to use feature column as input to my customed model. I do as the answer
 of the question suggested,
https://stackoverflow.com/questions/54375298/how-to-use-tensorflow-feature-columns-as-input-to-a-keras-model

feature_layer = tf.keras.layers.DenseFeatures(feature_columns=feature_columns)

but i got the error as below:

AttributeError                            Traceback (most recent call la

[2019-12-19 08:45] descampsk commented on #21898
I use TF_CPP_MIN_LOG_LEVEL=3 and it works too.

[2019-12-19 08:45] Fida1316 commented on #15342
same problem how can reslove it.? the project requirment is tensorflow 1.4.1

[2019-12-19 08:48] yyoon commented on #35250
@miaout17 Could you please take a look?

[2019-12-19 08:53] #35219 closed

[2019-12-19 08:55] yyoon commented on #35205
@Lhogeshwaran Could you also describe how exactly you loaded the model on mobile, and how you preprocessed the inputs?

[2019-12-19 09:00] yyoon commented on #35211
@lu-wang-g Could you take a look?

[2019-12-19 09:00] Lhogeshwaran commented on #35205
Thank you both!

@yyoon I converted the model to the .tflite format, placed it inside ObjectDetection/Model and changed the ModelDataHandler modelInfo and labelInfo to point to the custom model.

[2019-12-19 09:02] Lhogeshwaran commented on #35205
I used the saved_model.pb to check the output by capturing photos/videos using the mobile and using them to test in the system

[2019-12-19 09:04] ChristofPetig commented on #34057
I see a similar problem (wrong comparison) with the calculation of last_used (here the code in master wrongly looks for the minimum). I was quite surprised to see inputs with a first_used of greater than zero and outputs with a last_use smaller than the maximum. I agree to your description of what this code should do (find the min of first and the max of last). [My test case is an unrolled RNN wit

[2019-12-19 09:07] colourful-tree commented on #35183
**System information**
- Have I written custom code : with horovod, no others custom code.
- Mobile device : No
- TensorFlow installed from (source or binary): official docker
- TensorFlow version (use command below): 1.13.1 GPU
- Python version: 3.6.7
- Bazel version (if compiling from source): -
- GCC/Compiler version (if compiling from source): 8.2.0
- CUDA/cuDNN version: 10.1
- GPU model and m

[2019-12-19 09:10] mpariente commented on #35168
Ok, that worked for me as well, I'll try to see why it failed with the script I made from the notebook..

It does not, sadly.
If I add :
[code]
it works but the whole model is still in float32 (I saved the model and checked it with netron)

If I add,
[code]
It does not work. Here is the traceback :
[code]

Actually, sorry, I was not clear, I have been able to convert LSTM models to tflite in 1.15

[2019-12-19 09:14] zheLim commented on #35075
Hi, I have try to provide minimal code, but the problem only happens on the code i proviode. I think it is better to give it up.

[2019-12-19 09:17] haolujun commented on #35224
After many tests, I found that:I must append an empty string into values(the tail of vector), then c++ predict result was same as python's.  Why?

[2019-12-19 09:28] ChristianISO commented on #35187
@oanush sure, but there isn't much more

train.py line 77:
[code]

manager.py line 80-83 (part of function `get_rewards()`):
[code]

`reward` wasn't used before same as `train_dataset`.

`X_train` and `y_train` are from the dataset (CIFAR-10).

[2019-12-19 09:41] VSGD commented on #34937
hi,

This is the entire code that I am trying to run.
It also needs PRESTO software.
Instructions are given in the manual. Plz try again to reproduce the error.

https://drive.google.com/file/d/1Wsdxsj6XnzpnvtXhYsCIMqjevCQJcT4m/view?usp=drivesdk

Thanks and Regards,
Vaidehi

On Thu, 19 Dec 2019, 11:33 oanush, <notifications@github.com> wrote:

[2019-12-19 09:42] renjie-liu commented on #35168
Hi Jian, can you help take a look about the lstm quantization? thanks

[2019-12-19 09:46] ravikyram commented on #35183
@colourful-tree

Will it be possible to share simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2019-12-19 09:51] lcycoding commented on #35221
@jdduke Dear tensorflower,

After several tests, I found out that the release version does not compatible with hexagon delegate.
`0.0.0-nightly` actually worked.
First issue resolved, but here it comes next issue.
It seems the kernel registration is failed and lead to the following crash.
Any advice would be helpful, thanks!
[code]

[2019-12-19 10:16] gadagashwini commented on #35192
For more read here https://www.tensorflow.org/versions/r2.1/api_docs/python/tf/keras/Model#fit_generator

[2019-12-19 10:17] #35157 closed

[2019-12-19 10:26] javicivit commented on #34391
The error has not been solved in nightly builds yet. Any idea about when will a solution be available?

[2019-12-19 10:30] gadagashwini commented on #35156
@sweetxiaoqizi, Did @dubesar's suggestion solved your issue. Thanks!

[2019-12-19 10:32] gadagashwini commented on #34116
@sc20ka, Does your CPU support AVX instruction sets.

[2019-12-19 10:40] gadagashwini commented on #35067
I could replicate the issue with Tf 1.15.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/3bcb5544395d4609e3ce596ecb473d8e/untitled317.ipynb). Thanks!

[2019-12-19 10:44] hyperji opened #35257 "tensorflow 2.0 tf.linalg.normalize yields nan"
### tf.linalg.normalize(np.zeros([10, 4]), ord=1, axis=-1) yields nan as below

(<tf.Tensor: id=58, shape=(10, 4), dtype=float64, numpy=
 array([[nan, nan, nan, nan],
        [nan, nan, nan, nan],
        [nan, nan, nan, nan],
        [nan, nan, nan, nan],
        [nan, nan, nan, nan],
        [nan, nan, nan, nan],
        [nan, nan, nan, nan],
        [nan, nan, nan, nan],
        [nan, nan, nan,

[2019-12-19 10:45] bakaschwarz commented on #35190
You are totally right, that filters should be int, but not strings. That is exactly why i am reporting this though.
Because this gets accepted and can't be compiled into a tensor:
`a = k.layers.Conv2D(filters="test", kernel_size=3)`
This fails at layer creation time:
`a = k.layers.Conv2D(filters=12, kernel_size=3, strides="test")`
This gets accepted and creates a layer and can even be compiled int

[2019-12-19 10:48] gadagashwini commented on #35103
@TheBicPen, Looks like `image_classification` is not defined and tensorflow import is missing. Please provide the more information to reproduce the issue. Thanks!

[2019-12-19 11:02] ivafanas commented on #30212
The same problem (tensorflow 1.14.0, MSVC 2017 (15.19.18), bazel 0.24.1)

Seems like a problem in `absl::optional` implementation that might require copy assignment operator for the underlying type but it shouldn't.

I've made a local fast fix with replacement of `absl::optional` to `unique_ptr` [patch](https://github.com/tensorflow/tensorflow/files/3983191/patch_tf_fn_lib_no_copy_assign.txt) and

[2019-12-19 11:04] ravikyram commented on #35257
I have tried on colab with TF version 2.0 ,2.1.0-rc1 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/050a8b84e6e584ca6567697b674e8230/untitled490.ipynb). Thanks!

[2019-12-19 11:10] edfall commented on #27298
I find similar problem, and here is one solution for name_scope control with Sequential rather than tf.name_scope for tf 2.0 keras：

[code]

[2019-12-19 11:24] amahendrakar commented on #35254
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-12-19 11:47] sriram4k commented on #24938
Similar behavior is seen when using tf.zeros_like() too.

[2019-12-19 12:04] Oaklizard-2047 opened #35258 "install issue"
I downloaded the win_amd64.whl for python 3.6 in Windows, because when i write

`pip install tensorflow`

it says it could not find a version that satisfies the requirement from version none
So i downloaded it manually and when i install it with

`pip install tensorflow-2.0.0-cp36-cp36m-win_amd64.whl`

It says that it's not compatible with my platform
What should i do?

[2019-12-19 12:10] boronhub commented on #35254
One thing you can try is using tf.compat.v1.keras.layers.DenseFeatures if your project requires TF 1.14. If not, consider upgrading to TensorFlow 2.0

[2019-12-19 12:11] zubairahmed-ai commented on #22512
I am stuck on this issue all day today
In the virtual environment I am able to successfully import Tensorflow 2 but within Visual Studio Jupyter notebook I am getting the below error

`_mod = imp.load_module('_pywrap_tensorflow_internal', fp, pathname, description)`
`  File "C:\Users\IT\envs\tf1env\lib\imp.py", line 242, in load_module`
 `   return load_dynamic(name, filename, file)`
`  File "C:\U

[2019-12-19 12:16] nectario commented on #35067
Thank you! For me this happened with TensorFlow 2.0 also.

[2019-12-19 12:17] zubairahmed-ai commented on #22794
I am stuck on this issue all day today
In the virtual environment I am able to successfully import Tensorflow 2 but within Visual Studio Jupyter notebook I am getting the below error

`_mod = imp.load_module('_pywrap_tensorflow_internal', fp, pathname, description)`
`  File "C:\Users\IT\envs\tf1env\lib\imp.py", line 242, in load_module`
 `   return load_dynamic(name, filename, file)`
`  File "C:\U

[2019-12-19 12:28] gdudziuk commented on #35030
No problem. I have just reinstalled with `pip install --no-cache-dir tensorflow-gpu==2.1.0-rc1`. The issue is still present. I have also tried tf-nightly (version `2.1.0-dev20191219`) and the results are the same as in `2.1.0-rc1`.

The issue apparently is system-dependent. So, to exclude a few possibilities I have also run tests with some non-GPU versions of Tensorflow (`1.14.0`, `2.0.0-b1`, `2.0

[2019-12-19 12:29] tensorflowbutler commented on #34673
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-19 12:29] tensorflowbutler commented on #34775
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-19 13:28] Peque commented on #17411
I had the same problem when running CI pipelines on a Gitlab server. The (emulated) CPU of the runners did not provide AVX instructions.

Installing Tensorflow with Conda instead of using PyPI's wheels fixed the problem. :+1:

[2019-12-19 13:37] vipinpillai commented on #22825
@ashutosh96 No, I moved to PyTorch more than a year ago and higher order gradients are fully supported in PyTorch.

[2019-12-19 13:47] Mayurjotaniya3 opened #35259 "Why list, dictionary and tuple are taken value vice versa when declare it in one-line?"
I am feeling very strange when I am working on list, dictionary and tuple in python.

When we declare multiple variables in one line like a = b = c = 0 it behaves like separate variables.

If we are update value any of the above variables then it will not affect another variable like below.

a = 10
b = 11
c = 13
But, this thing is not applying with list, tuple and dictionary. If we declare blank l

[2019-12-19 13:54] dikvangenuchten opened #35260 "gfile read causes core dump"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-12-19 14:06] ERDataDoc commented on #22794
This is not an easy issue to figure out or resolve on your own.

The easy button is to follow the instructions in this  post:
https://www.pugetsystems.com/labs/hpc/How-to-Install-TensorFlow-with-GPU-Support-on-Windows-10-Without-Installing-CUDA-UPDATED-1419

or just use Google Colab - they take care of all of this for you.

[2019-12-19 14:22] sanrahul commented on #34860
Having same issue::
First converted pytorch model to onnx(model.onnx). And then converted onnx model to pb(model.pb). Then changed shape to NWHC(model_toco.pb) using https://github.com/paulbauriegel/tensorflow-tools/blob/master/convert-model-to-NWHC.py . Then used below code to convert to tflite.
`converter = tf.lite.TFLiteConverter.from_frozen_graph('model_toco.pb',

[2019-12-19 14:42] ashutoshbsathe commented on #35239
Currently, the only way to see if model loads the weights correctly is by manually setting weights for every layer from hdf5 which is very inefficient. (Discussion on keras repo [here](https://github.com/keras-team/keras/issues/5397))
(To build a unit test for verifying if model is correctly getting loaded, one needs to collect initial weights of the model somewhere, manually set the weights using

[2019-12-19 14:43] liuxingbaoyu opened #35264 "ran out of memory trying to allocate"
It will take up more than 30gb of memory, happening in tensorflow, tensorflow-gpu, tf-nightly

Code:
[code]

`2019-12-19 22:41:47.467474: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library cudart64_100.dll
2019-12-19 22:41:52.813348: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library nvcuda.dll
2019-1

[2019-12-19 15:02] WakerKQ commented on #35254
my code snippet is basically like this:

from __future__ import absolute_import, division, print_function

import numpy as np
import pandas as pd
from tensorflow import feature_column
from tensorflow import keras
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split

URL = 'https://storage.googleapis.com/applied-dl/heart.csv'
dataframe = pd.read_csv(URL)
datafram

[2019-12-19 15:04] WakerKQ commented on #35254
Yes, my project requeres TF1.14, I tried tf.compat.v1.keras.layers.DenseFeatures but it did not work.  I will try TensorFlow 2.0.

[2019-12-19 15:04] mdanatg commented on #33962
These unexpected indent errors are new to me, but it looks like a regression. Setting `AUTOGRAPH_VERBOSITY=10` should have given you a whole lot of extra logging. Since autograph outputs to the abseil logger, try adding this somewhere early in your code:

[code]

In the mean time, could you visually inspect the source code of one of the functions that it complains about? Like e.g. `TransformerDeco

[2019-12-19 15:33] awav commented on #34908
@k-w-w, @alextp any progress on the issue?

[2019-12-19 15:35] awav commented on #26033
@reedwm, it has been a while, no progress with this feature?

[2019-12-19 15:44] akarmi commented on #31902
@alanchiao, yes, we are trying various quantization options, including the [proposed 16-bit activations](https://github.com/tensorflow/tensorflow/pull/33343), with DeepSpeech, in its unrolled form for now. Depending on how far we get with that, we may be able to share the results of our efforts. For now, I am closing this issue as the [corresponding fix](https://github.com/tensorflow/tensorflow/pu

[2019-12-19 15:44] #31902 closed

[2019-12-19 15:46] jsimsa commented on #35135
I am generally opposed to documenting implementation details (e.g. which methods are implementated using a data copy and which are not).

@aaudiber what are your thoughts on this? This is related to our discussion of deprecating `from_tensor_slices()` in favor of `from_tensors().unbatch()` -- if we do that, should we document that `unbatch()` performs a data copy?

[2019-12-19 15:56] olk commented on #35101
The error vanishes if I downgraded my system to:
- Python 3.7.4
- Tensorflow-2.1.0-rc1

After system upgrade (Python 3.8.0) I get the error messages again:

Seams that this is an issue of Python-3.8.0 and Tensorflow-2.1.0-rc1.

[2019-12-19 15:59] oceallc commented on #28924
Same issue on version 2

[2019-12-19 16:21] tomwphillips opened #35267 "Training fails when a multi-output Keras model has one output without a loss function"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, see minimal example.
- OS Platform and Distribution: Ubuntu 18.04.3 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:  N/A
- TensorFlow installed from (source or binary): binary (specifically, `tensorflow/tensorflow:nightly-

[2019-12-19 16:30] ajourney1 commented on #30191
this worked for me.
thanks a lot to the genius developers

[2019-12-19 16:31] allenlavoie commented on #24938
Pavithra, looks like you added the tracking. Should it just be made conditional?

[2019-12-19 17:00] caibadal5 opened #35272 "While using tf.import_graph_def: ValueError: Input 1 of node StatefulPartitionedCall"
I am trying to freeze and obfuscate my model but when running:
tf.import_graph_def(graph_def, name='')

I am getting the error:
During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "a.py", line 129, in <module>
    optimize_model('/home/xxxx/Desktop/Pervasive/Projects/Ofuscar/1576096897/','/home/xxxx/Desktop/Pervasive/Projects/Ofuscar/out/'

[2019-12-19 17:03] aaudiber commented on #35135
I am also generally opposed to exposing implementation details since we don't want people to rely on the specific implementation and then get in trouble when the implementation changes.

In cases where the performance is worse than users might expect, I think it's worth including a note along the lines of

Note: `unbatch()` performs a copy of the input data, so it can be expensive. Try to avoid un

[2019-12-19 17:11] jsimsa commented on #35135
So do you think we should update the documentation of all tf.data transformations that currently perform a data copy (`batch`, `padded_batch`, `from_tensor_slices`, `unbatch`, ...)?

[2019-12-19 17:15] jdduke commented on #35221
You're right, we should update the documentation to note the version compatibility requirements. I'll let Karim respond about the Hexagon failure. Does the latest init failure occur on both devices? or only the Pixel 3?

Unfortunately, Pixel devices do not support the Hexagon delegate. For the Pixel 3, you can use NNAPI to get DSP acceleration.

[2019-12-19 17:18] #32713 closed

[2019-12-19 17:22] jvishnuvardhan commented on #35138
@tgaddair I notice your PR is already merged. Do we still need to keep this open? Thanks!

[2019-12-19 17:27] tgaddair commented on #35138
Hey @jvishnuvardhan, thanks for the response.  That PR was only to pin our integration tests to an older version of `tf-nightly`.  We are still looking for a long-term fix that will make Horovod compatible with TensorFlow 2.1.0.

[2019-12-19 17:43] itemko opened #35275 "TensorFlow building error: debug_ops_gpu.cu.cc(47): error: more than one instance of overloaded function "isinf" matches the argument list"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `Ubuntu 16.04.6`
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: `N/A`
- TensorFlow installed from (source or binary): `source`
- TensorFlow version: `2.0.0 (master)`
- Python version: `Python 3.5.2`
- Installed using virtualenv? pip? conda?: `apt`
- Bazel version (if c

[2019-12-19 17:47] #35136 closed

[2019-12-19 17:47] karimnosseir commented on #35221
Thanks @lcycoding for reporting the issue:

1) For the pixel devices as Jared mentioned, you can't use the delegate, you can only use NNAPI .
2) For the release, yes please use nightly till next release. Sorry for the confusion, i am updating the documentation with this now.
3) For the crash, i just tried it on mi A2 and working.
Can you please provide the details of your setup ?
including:
How ar

[2019-12-19 17:51] gunan commented on #22512
The prebuilt TF packages for tf 2.0 require cuda 10.0, not 10.1

[2019-12-19 17:55] durandg12 commented on #34068
I have seen your gist, and after installing tf-nightly I have been able to replicate it on my laptop, thank you.

The onlt small difference I see is that locally I ahve an additional warning:
`WARNING: Logging before flag parsing goes to stderr.`

[2019-12-19 17:55] jvishnuvardhan commented on #35199
@ghop02 Can you please try `experimental_new_converter` and let us know whether the issue persists with most recent converter. I had tried the converter for several complex layers and the converter is working well. I have added `experimental_new_converter` to your code. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/85eebf3e3df8471d9b87b70943b759d0/untitled715.ip

[2019-12-19 17:58] gunan commented on #35180
Looks like a compiler bug to me?
@angerson could you loop in sig-build to see if they can help?

[2019-12-19 18:07] SumanSudhir commented on #33794
I am willing to take up this issue

[2019-12-19 18:16] jvishnuvardhan commented on #35161
@VitaMusic Can you please share a standalone code with a public data. Issue resolution is faster with a simple standalone code. Thanks!

[2019-12-19 18:21] pooyadavoodi commented on #33184
This is probably a bug in TF-TRT. Somehow it generates a tensor with 0 batch size as the input to TRT. I am assuming the input to the graph has a valid shape.

I also agree that the log can be improved. It needs to be improved inside TRT. I'll report that.

[2019-12-19 18:23] pooyadavoodi commented on #33184
This is already improved in the future versions of TRT.

[2019-12-19 18:37] reedwm commented on #26033
Unfortunately still no update :(. I am working on some mixed precision tasks at the moment. Once the Keras mixed precision API is more complete I can get to this.

[2019-12-19 18:49] driedler opened #35277 "TF-Lite Micro: Selectively omit data types at compile-time"
My application only requires kTfLiteInt8 kernels.
However, kTfLiteFloat32 and kTfLiteUInt8 kernels are also built into the application.

It would save a considerable amount of code space if there was a way to disable building in the unused data types, e.g.:
[code]

Or something more elegant ;)

[2019-12-19 18:53] aaroey commented on #34185
@pooyadavoodi any ideas?

[2019-12-19 18:58] jsimsa commented on #35027
@jvishnuvardhan please assign "tensorflow_datasets" / TFDS issue to @rsepassi for triage.

[2019-12-19 19:00] aaroey commented on #34519
Hi @jsimsa could you help to take a look? Thanks

[2019-12-19 19:01] TheBicPen commented on #35103
I don't have access to my computer right now, but the specific code that caused the issue is here: https://github.com/TheBicPen/bic-bot-py/tree/master/image_classification . The command I ran was `tf_upgrade_v2 --intree image_classification --outtree image_classification_v2`. I ran this command from the root of the repo. Additionally, the `test_tf.py` file that I used to try to isolate the issue i

[2019-12-19 19:02] RokoMijic commented on #6698
This also resolved the issue for me.

GeForce GTX 1050, CUDA 10.0

Note: this is the only thing I can find that works in TF 2.0 for now. Thanks!

[2019-12-19 19:22] MRScorpcore opened #35280 "tensorflow error issue python3.8.1"
[code]

[2019-12-19 19:23] aaroey commented on #34708
Hi @pooyadavoodi this seems to be similar to the issue you described before, did you get that resolved?

[2019-12-19 19:31] jvishnuvardhan commented on #34610
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-19 19:31] #34610 closed

[2019-12-19 19:32] jvishnuvardhan commented on #34260
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-19 19:35] jvishnuvardhan commented on #32881
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-19 19:35] #32881 closed

[2019-12-19 19:39] jvishnuvardhan commented on #32781
This is a stale issue. Please check the issue with latest TensorFlow. If the issue still persists in the newer version of TF, please feel free to reopen it by providing details about the issue and a standalone code to reproduce the issue. Thanks!

[2019-12-19 19:39] #32781 closed

[2019-12-19 19:40] jvishnuvardhan commented on #30922
This is a stale issue. Please check the issue with latest TensorFlow. If the issue still persists in the newer version of TF, please feel free to reopen it by providing details about the issue and a standalone code to reproduce the issue. Thanks!

[2019-12-19 19:40] #30922 closed

[2019-12-19 19:44] lamberta commented on #35085
This looks fixed in nightly: https://www.tensorflow.org/api_docs/python/tf/constant_initializer?version=nightly

[2019-12-19 19:44] #35085 closed

[2019-12-19 19:55] #35147 closed

[2019-12-19 19:59] mihaimaruseac commented on #35280
Please fill in template. Note that we don't yet release python 3.8 pip packages.

[2019-12-19 20:00] mihaimaruseac commented on #35027
Note that we currently don't release python3.8 pip packages.

[2019-12-19 20:21] jsimsa commented on #34519
As far as I can tell, this is a op placement issue -- the `tf.print` op will be placed on GPU because `tf.range` will be placed on GPU (which is the default policy for ops that have GPU kernel in the presence of GPU), but the tf.data input will reside on CPU. The right thing to do is for the `tf.print` op to be placed on CPU.

@mhong could you please triage this to someone on the runtime team to i

[2019-12-19 20:23] MRScorpcore commented on #35280
It dosent work in anny pc or visjoner og python dear boy!

[2019-12-19 20:33] petewarden commented on #34720
Sorry for the problems! I looked into the PR, and we did merge the changes through a separate mechanism, though the flag is now called `use_grayscale` instead of `input_grayscale`:
https://github.com/tensorflow/models/blob/master/research/slim/eval_image_classifier.py#L133

Does specifying that help?

[2019-12-19 20:33] suphoff commented on #34719
Looks like the tensorflow/tensorflow:devel-gpu-py3 image is stale and is no longer being updated.
( last update > 2 month ago )

[2019-12-19 20:39] shishirprao commented on #28598
Hi,
I had a similar issue. Initially, I was using shuffle and repeat separately. This caused the rejection resample to produce incorrect distribution.

Code
[code]
The incorrect result is provided below:
[code]

However, when I replaced the shuffle and repeat using the function given below, it works as expected.

[code]
Result with correct distribution is given below:
[code]

[2019-12-19 20:41] MRScorpcore commented on #35280
Dont work on anny visjoner of python anny tips

[2019-12-19 20:51] mihaimaruseac commented on #35280
We also don't release pips for 32 bits systems.

Without a proper issue template being filled in, we can't know how to progress.

[2019-12-19 21:15] mihaimaruseac commented on #35258
`pip debug --verbose`. Most likely your python version is on 32 bits, and we don't provide wheels for that platform. See #32315

Please fill in issue template too.

[2019-12-19 21:16] mihaimaruseac commented on #34937
Please fill in template, use markdown for code blocks, provide a minimal reproducer in the issue text itself

[2019-12-19 21:25] tejasdixit commented on #24409
what's the alternative?

[2019-12-19 21:27] ppwwyyxx commented on #24409
As mentioned above, an alternative is to use my version of group norm (which handles partially-defined batch dimension).

[2019-12-19 21:37] Artaches opened #35283 "Android TFlite inconsistent performance when app is not in focus."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Android 9.0 and 10.0
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Pixel 3a (Android 10), tested on Android 9 as well with same bad behaviour
- TensorFlow installed from (source or binary):  tflite .so built from source
- TensorFlow version (use command below): 1.13,

[2019-12-19 21:38] jvishnuvardhan commented on #35052
@doldre I was able to reproduce the issue with `TF2.0`. However, I could not reproduce the issue with `tf-nightly`. There were couple of important updates that are related to keras model performance. I think those updates resolved the issue you are noticing with `TF2.0`. [Here](https://colab.sandbox.google.com/gist/jvishnuvardhan/847af5f6433d42d043e1e40d440f3f04/untitled716.ipynb) is the gist with

[2019-12-19 21:45] ymodak commented on #35252
As stack trace says `Could not load dynamic library 'cublas64_100.dll'; dlerror: cublas64_100.dll not found` it indicates that it fails to find `cuda` library.
You need to install cuda 10.0 for gpu support.
See https://www.tensorflow.org/install/gpu#software_requirements
Later add cuda path to environment variable see https://www.tensorflow.org/install/gpu#windows_setup

[2019-12-19 21:55] ymodak commented on #35264
You may try to  use [limit gpu memory growth](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) parameter by putting following snippet on top of your code.
If using TF 2.X
[code]
For TF 1.X
[code]

[2019-12-19 22:15] #35029 closed

[2019-12-19 22:18] lu-wang-g commented on #35211
Thanks for letting us know about your requests! The grayscale image is on our todo list, but is not prioritized at this moment. We'll definitely consider your feedback into our roadmap planning for Q1 2020. I'll give you updates once it is confirmed.

[2019-12-19 22:34] ymodak commented on #34430
I get ```Step 18000: Validation accuracy = 88.1%``` in TF 1.15.0
Did you change training steps when executing `train.py`?

[2019-12-19 22:52] pooyadavoodi commented on #34708
For my example, I think the workaround was to append a comma to the yield statement: `yield inp1,inp2,` in the input function.

@roborocklsm could you try this.

[2019-12-19 22:54] #35106 closed

[2019-12-19 22:57] jvishnuvardhan commented on #33979
@leonardoaraujosantos I think this issue is resolved by @rcho who updated the [source](https://github.com/tensorflow/docs/commit/ce303cb9045562e3af14be7f642b08b9f0c7a9e2#diff-d4562f95b1b572ef2da36dbba776cf3c). You could also check the updated tutorial [here](https://github.com/tensorflow/docs/blob/master/site/en/tutorials/distribute/multi_worker_with_keras.ipynb).

I am closing this issue as it wa

[2019-12-19 22:57] #33979 closed

[2019-12-19 23:20] SummerRainET2008 commented on #35206
I found a temporary solution.
Add @tf.function for all 'call' functions in _model.py, then the speed runs reasonably. But these new decorators are not necessary, since the _train_one_batch, invoking them, already has a @tf.function.

However, the speed is still not the fastest, compared to pytorch. Let me recap my test results.
All hidden dims are set to 256, the batch size is 128.

case 1. run no

[2019-12-19 23:31] decibelcooper commented on #28109
@TaekSoonJang I believe you want to use either the `ragged_rank` or `inner_shape` argument of `tf.ragged.constant`

[code]

[2019-12-19 23:41] hvico commented on #35211
OK, thanks for the feedback, I will gladly test the feature as soon as you release it. By now I was able to solve my problem manipulating the ByteBuffer manually.

[2019-12-19 23:43] SummerRainET2008 commented on #35165
@huyng @gadagashwini This issue is the same with my proposed recently, see https://github.com/tensorflow/tensorflow/issues/35206

I have a temporary solution, add tf.function for all main invoked functions for in_graph_training_loop. In this example, they are MyModel.call and train_one_step.

I suggest you use a large batch size for testing, and for out_graph_training_loop, do not add tf.function

[2019-12-19 23:45] SummerRainET2008 commented on #35206
My issue is the same with https://github.com/tensorflow/tensorflow/issues/35165. I replied my findings to that issue.

Please  help resolve this kind of issues, which would greatly influence our confidence of using tensorflow 2.0.

[2019-12-19 23:53] mdanatg commented on #35165
There is a known issue with datasets in for loops in the 2.0 release that was causing unnecessary bouncing to the CPU - #32138. That is fixed in tf-nightly. I'll have a closer look at the measurements.

[2019-12-20 00:21] huyng commented on #35165
@SummerRainET2008 @mdanatg thanks for the response. I tried modifying and testing my code based on your comments (See below).

---

@SummerRainET2008 , I tried decorating the MyModel.call w/ tf.function and it doesn't seem to resolve the issue. Here are the timings

[code]

---

@mdanatg I tried adding `iter(dataset)` to my in-graph loop and it helped a lot! However, the in-graph loop is still 2x

[2019-12-20 00:22] #35100 closed

[2019-12-20 00:23] gimgane commented on #35170
Could anyone reproduce the same issue?

[2019-12-20 00:24] mdanatg commented on #35165
I increased the dataset size so that the training loop runs 10 iterations, rather than just a single one.

So when applying the workaround suggested in #32138 (writing `for inputs in iter(dataset):`), the speed becomes comparable:

[code]

In this case, we'd expect the performance to be comparable because the only difference between the in-graph and the out-of-graph training loops is whether the l

[2019-12-20 00:24] #35165 closed

[2019-12-20 00:27] freedomtan commented on #35221
FYR. Dunno the situation of Pixel 3, but I was able to use Hexagon Delegate on Pixel 2, 3a, and 4 by 'setenforce 0', as far as I can remember.

[2019-12-20 00:37] impjdi commented on #35170
@gimgane

OpenCL is something that is shipped by the phone's manufacturer.  With the newest delegate, we check whether OpenCL is available.  If it is, we use that.  Otherwise, we fall back to OpenGL.
 On the nightly build which pulls in the master branch, it will use the OpenCL backend.

If you're building from TF 2.0, it's possible that the OpenCL backend was not included in the branch cut, and y

[2019-12-20 00:52] liuxingbaoyu commented on #35264
Thanks, I tried
`tf.config.experimental.set_memory_growth (tf.config.experimental.list_physical_devices ('GPU') [0], True)`
but he still gives an error, and the same error is reported in versions other than GPU

[2019-12-20 00:55] nfelt opened #35292 "unbounded memory leak in tf.io.gfile.isdir()"
This was discovered in debugging of https://github.com/tensorflow/tensorboard/issues/766 by a combination of @psybuzz, @wchargin, and myself.  From empirical evidence from TensorBoard users it appears that this grows without bound, so in practical usage it only takes a day or so to consume dozens of GB of memory.

Calling `tf.io.gfile.isdir()` leaks memory at a rate of approximately 1 MB per 20,00

[2019-12-20 01:47] liuxingbaoyu commented on #35264
When I use the cpu version, it will not crash, but it will fill up all my memory and get stuck, more than 30gb

[2019-12-20 01:58] brorro commented on #33794
@SumanSudhir Happy to hear that. I tried this but cannot find any documents to create my edited api docs.. it only creates unmodified one.

[2019-12-20 02:05] lcycoding commented on #35221
 @karimnosseir Thanks for promptly reply!

By simply using the provided build script
`bazel build -c opt --config=android_arm64 tensorflow/lite/experimental/delegates/hexagon/java:tensorflow-lite-hexagon`

Java API 29, android ndk r20
For the C part, it's c++14 I believe... ( default by bazel 1.1.0 )

Mi A2 with Android 9

By putting `.aar` files into libs library, and the generated nn_skel.so int

[2019-12-20 02:12] karimnosseir commented on #35221
By which API i mean are you creating the delegate in C++ code or Java code ?
Also, can you include the logcat

Thanks

[2019-12-20 02:15] lcycoding commented on #35221
Ahh.. Sorry for the misunderstanding..
I'm creating delegate with Java Code.
The full logcat message is as followed
[code]

[2019-12-20 02:17] karimnosseir commented on #35221
Thanks
Few more questions

In the initialize line for the delegate
  (e.g.) hexagonDelegate = new HexagonDelegate(activity);
Can you print
  activity.getApplicationInfo().nativeLibraryDir
and check that the shared lib files are on the device under the same path.

adb shell ls -al <PATH_PRINTED_FROM_ABOVE>

[2019-12-20 02:20] lcycoding commented on #35221
Yes, I believe the files are there

[code]

[2019-12-20 02:28] gimgane commented on #35170
@impjdi
Thanks for the explanation.

Tried [tensorflow-lite:2.0.0](https://mvnrepository.com/artifact/org.tensorflow/tensorflow-lite/2.0.0) in `build.gradle` file and [tensorflow-lite-gpu:2.0.0](https://mvnrepository.com/artifact/org.tensorflow/tensorflow-lite-gpu/2.0.0), the performance was same as when I used [tensorflow-lite:0.0.0-nightly](https://mvnrepository.com/artifact/org.tensorflow/tenso

[2019-12-20 02:29] karimnosseir commented on #35221
- Does it run on other devices, can you try ?
- If possible and you can share the code i can have a look - you can email if you don't want to share here.

Thanks

[2019-12-20 02:44] gimgane commented on #35170
It works!
It was because of `.bazelrc` file!
I will add a detailed comment and close this issue soon!

[2019-12-20 02:44] lcycoding commented on #35221
Hi Karim,
Sorry, the only compatible device I got is Mi A2. ( Pixel3 does not work )
Can I have your e-mail address to send you the java code?

[2019-12-20 02:51] HsinJhao commented on #34921
@jvishnuvardhan I have tried your solution but not resolved!
It raise the error as below:
[code]
The error is also shown in this issue:#35108

Here is my [gist](https://colab.research.google.com/gist/HsinJhao/9a6ec62ce8eb3fb32fcc720f222abe1b/createdtfdatasetfrommatfiles.ipynb) and it contains my .mat example files.

Thanks your reply!

[2019-12-20 03:00] JadTawil-theonly commented on #33771
I believe i am experiencing something similar.
Setting training=False worked for getting validation results that made sense, and were much more accurate. I made sure i took dropout out of my network to isolate the problem, which seems to be the batch normalization (for batches of size 1 and greater).
After investigating the source code, it has something to do with the moving mean and moving varian

[2019-12-20 03:09] jnd77 commented on #33218
Even with latest PyCharm, some of the TF 1.15 imports are still not recognized, such as tf.saved_model, tf.error, ...

[2019-12-20 03:11] yxchng opened #35295 "TF Lite GPU delegate gives fuse_auto_input failed error when running TF Lite model that uses only supported GPU operations."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Linux Ubuntu 18.04

- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N.A.

- TensorFlow installed from (source or binary):
Source, 9a5b203

- TensorFlow version (use com

[2019-12-20 03:12] oanush commented on #35251
@niranjan8129 ,
Can you please provide the code to reproduce the error reported?Kindly mention TF version being used.
Meanwhile also refer to this [link](https://stackoverflow.com/questions/50385447/how-to-deal-with-keras-erroslice-index-0-of-dimension-0-out-of-bounds) and let us know if it helps solving your issue,Thanks!

[2019-12-20 03:26] crystalwan commented on #33627
I also encountered the same problem, did you solve it?

[2019-12-20 03:35] deHsien commented on #33627
No.

[2019-12-20 03:36] mkz0930 commented on #34813
thanks very much ,it works@gargn

[2019-12-20 03:37] #34813 closed

[2019-12-20 03:43] keineahnung2345 commented on #33449
For me, the warning happens in tensorflow==1.14.0 and gast==0.3.2, but doesn't show in tensorflow==1.13.2 and gast==0.3.2.

[2019-12-20 03:46] doldre commented on #35052
@jvishnuvardhan  thanks for your help. I reproduced your result with tf-nightly(2.1.0-dev20191125). It looks like the problem was fixed.

[2019-12-20 03:54] Adnan-Toky commented on #31249
I was facing the same issue. Downgrading numpy to version 1.16.4 solved the problem. Thanks @ymodak.

[2019-12-20 04:08] ravikyram commented on #35210
@xinyidaren
Can you please check @Athul8raj suggestion.Thanks!

[2019-12-20 04:42] xdhmoore commented on #11280
Bandwidth concerns aside, I seem to be able to run tensorboard in WSL on Windows 10.

[2019-12-20 04:57] panyongfeng commented on #31053
same issue, watching

[2019-12-20 05:02] lcycoding commented on #35221
Hi Karim,
After several tries, I decided to upgrade my A2's system.
It worked in the end!
So there's no problem here, thanks for your kindly help!

[2019-12-20 05:02] #35221 closed

[2019-12-20 05:39] gimgane commented on #35170
As  @impjdi mentioned,
I changed tensorflow branch to master branch from r2.0.
And tried to build with command below:
[code]

But it failed with logs:
[code]
It was strange since I surely gave `'--cxxopt=-std=c++11'` option as you can see in the build command.
I found it was defined as default in `.bazelrc` file.
[code]

Changed the file as below and built again, it worked.
The performance became

[2019-12-20 05:43] ravikyram commented on #35226
@manish-kumar-garg

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Thanks!

[2019-12-20 05:44] gadagashwini commented on #35227
@spurani, Could you post the `./configure` output log. Thanks!

[2019-12-20 06:04] liuxingbaoyu commented on #35264
Sorry, it's because x_train = tf.image.resize (x_train, input_shape [: 2])
x_train = tf.image.grayscale_to_rgb (x_train) takes up too much memory, thank you very much

[2019-12-20 06:04] #35264 closed

[2019-12-20 06:07] gadagashwini commented on #35185
@0x0badc0de, I tried on Google colab and Linux local system with `Tf==2.1.0-rc1 scikit-learn==0.21.3/0.21.2`. Its working without error message. Could you try once and let us know if issue still persists or not. Thanks!

[2019-12-20 06:14] ghop02 commented on #35199
Hi @jvishnuvardhan , thanks for the response!

![image](https://user-images.githubusercontent.com/1422280/71234090-acba1780-22c5-11ea-8f33-1ea7fc12a051.png)

I still get a similar result.  If you look at the [link above](https://github.com/tensorflow/tensorflow/blob/v2.1.0-rc1/tensorflow/python/keras/activations.py#L43-L79), the keras softmax is converting to:
[code]

I think removing that logic,

[2019-12-20 06:23] gadagashwini commented on #35241
@andompesta, Could you provide the complete standalone code to analyze the reported issue. Thanks!

[2019-12-20 06:28] gadagashwini commented on #35075
@zheLim, It would be easy if we share the minimal reproducible code to analyze the reported issue and move faster. Thanks!

[2019-12-20 06:51] haolujun commented on #35224
commit:  tensorflow 1.15 also  has this problem.

[2019-12-20 06:59] oanush commented on #35208
@saqibshakeel035 ,
Hello, I indeed tried following all the steps as given in the [link](https://github.com/EdjeElectronics/TensorFlow-Object-Detection-API-Tutorial-Train-Multiple-Objects-Windows-10#2d-set-up-new-anaconda-virtual-environment), make sure you install all the necessary packages mentioned in the link, and try using latest version` tf-1.15 `
`pip install --ignore-installed --upgrade ten

[2019-12-20 07:01] gadagashwini commented on #35259
@Mayurjotaniya3, When we declare multiple variables as a list, tuple and dictionary, all the variables shows unique number representing the identity of an object. Unique identity number can be identified using `id` function .
a=b=c=[]   # a,b,c will have same `id` number.

For more read https://stackoverflow.com/questions/16348815/python-assigning-multiple-variables-to-same-value-list-behavior.

C

[2019-12-20 07:01] #35259 closed

[2019-12-20 07:04] olk opened #35298 "OneDeviceStrategy allocates memory on two GPUs"
**System information**
- OS Platform and Distribution: Arch Linux, 5.4.2-arch1-1-ARCH
- TensorFlow installed from: binary
- TensorFlow version: 2.1.0rc1
- Keras version: 2.2.4-tf
- Python version: 3.8
- GPU model and memory: 2x GTX 1080 Ti 11GB"`

**Describe the current behavior**
OneDeviceStrategy is set to use GPU0 but allocates full memory at GPU0 and GPU1 too.
On both GPUs 11GB are allocated.

[2019-12-20 07:09] lee-bin opened #35299 "About bias quantization of hexagon delegate"
As far as I know, Tensorflow Lite uses input_scale * weight_scale as bias scale to quantize bias tensor to int32. However, hexagon use int32_min/in32_max as min/max to quantize bias tensor.
So how do you handle this difference to hexagon delegation? Below is the conv_2d builder of the hexagon delegation. I don't see where the transformation is.
https://github.com/tensorflow/tensorflow/blob/539b764

[2019-12-20 07:09] oanush commented on #35225
@freefuiiismyname ,
Hi,code looks incomplete can you please provide complete being used to reproduce the error reported?Thanks!

[2019-12-20 07:16] Jihadik commented on #35185
They have made a new release with a fix. I guess, it should work now.

[2019-12-20 07:23] SouradipBh opened #35300 "Graphics Card Recommendation"
I am running video-detection application using Yolo and FRCNN model( using Tensorflow backend).
I have to run around 50 parallel video detection simultaneously. Please advice which Graphics card or Combination of Graphics should be able to handle the load of Graphics.

My options are : -
i) 2 x RTX-TITAN
ii) 4 x RTX 2080ti
iii) 8 x GTX 1080ti

[2019-12-20 08:13] 0x0badc0de commented on #35185
@gadagashwini I can confirm what @Jihadik says - `scipy==1.4.1` has the issue handled on their side. So commands from initial report don't reproduce segfault. Downgrading scipy with `pip install scipy==1.4.0` brings it back.

I have also tried:
[code]
to check if #35271 has it fixed on TF side but still get the crash. I believe that's because TF fix was merged in after the nightly build was made.

[2019-12-20 08:26] ravikyram commented on #34673
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-20 08:26] #34673 closed

[2019-12-20 08:27] spurani commented on #35227
@gadagashwini Here is my ./configure output. I ran this command **cat .tf_configure.bazelrc**. I hope this helps. Please feel free to reach out if you require more information.

build --action_env PYTHON_BIN_PATH="/usr/bin/python"
build --action_env PYTHON_LIB_PATH="/usr/local/lib/python2.7/dist-packages"
build --python_path="/usr/bin/python"
build:ignite --define with_ignite_support=true
build:xl

[2019-12-20 08:41] ravikyram commented on #34775
@luvwinnie

Any update on the issue please. Thanks!

[2019-12-20 08:43] ravikyram commented on #34863
@Richie-yan

was this resolved by following @byronyi  suggestion? . Thanks!

[2019-12-20 08:47] ravikyram commented on #34897
@thotaram

Any update on this issue please. Thanks!

[2019-12-20 08:48] ravikyram commented on #34877
@Adilhossain227

Any update on this issue please. Thanks!

[2019-12-20 08:53] ravikyram commented on #34872
@rezaprince

Any update on this issue please. Thanks!

[2019-12-20 08:54] ravikyram commented on #34874
@giamic

Any update on this issue please. Thanks!

[2019-12-20 08:56] SummerRainET2008 commented on #35206
In the nightly new version, the "bug" is solved. The tf.function on train_one_batch would not lead to "extremely  slow speed". However, the  speed is still much slower than pytorch version, 0.6s vs 0.3s.

[2019-12-20 08:56] #35206 closed

[2019-12-20 08:57] oanush commented on #34731
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-20 08:57] #34731 closed

[2019-12-20 08:58] oanush commented on #34750
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-20 08:58] #34750 closed

[2019-12-20 09:02] VitaMusic commented on #35161
I can not share my code for a IP reasons, I shall see what I can do as a code example, but perhaps you can try any like VGG NN with any image set and it will be faster way for benchmarking. I see there are other issues on performance of tf2, they indicated to do eager mode off, but if I do it I'll have errors with dropout layers. I did not try yet the last TF2 RC1 version update, perhaps this prob

[2019-12-20 09:20] amahendrakar commented on #35267
Was able to reproduce the issue with TF version 2.1.0-rc1. Please find the [Gist](https://colab.sandbox.google.com/gist/amahendrakar/2c1f1df27ea0beffcf85ce142a1d21ce/35267.ipynb) here. Thanks!

[2019-12-20 09:30] andompesta commented on #35241
Hi, I can't give you the original code, but this is a stupid example that reproduce the error
[code]
Basically I build a classifier over the embedding layer.
Note that the positional embedding (line 47) has no name, thus when I try to save the graph in the checkpoint, it will have None as name. Thus, we can't generate a path name in the graph.

[2019-12-20 09:52] wavce opened #35303 "When Pass experimental_relax_shapes to instance methods decorated with `tf.function`, it can't work."
### System information

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian Stretch
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.1.0

[2019-12-20 09:52] Finniu opened #35304 "How to use tflite c++ api to load a mat input and decode the output?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Ubuntu 18
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source):

**Demo code**

[code]
The tflite model is mobilenet-ssd.
The output 'num_detections' is always 10, no matter  whether there are something or not in front of the camera.
So I guess the problem is due

[2019-12-20 10:01] tonmoyborah commented on #24665
@suharshs Thanks for clarifying. I understand that we can see a significant speed up only in ARM CPUs. But my concern is that I am doing something wrong - since, as reported on tflite docs, [here](https://www.tensorflow.org/lite/performance/benchmarks) all these complex models take 10 or 100 ms for prediction. This is very strange since one call to `invoke()` function takes around 800ms for me on

[2019-12-20 10:30] chauhansaurabhb commented on #28690
@chenyuZha : Thanks for the solution. If anyone is looking for how to get the value of `input_shapes`, `input_arrays` and `output_arrays` then kindly upload your tflite graph to the [this](https://lutzroeder.github.io/netron/) link and you will find all parameters value.

[2019-12-20 10:31] KarimelQ opened #35305 "runnin magic_wand on efr/efm32 microcontroller"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04 ( Windows SL)
- TensorFlow installed from (source or binary): source
- Tensorflow version (commit SHA if source):
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): target : efr32/efm32 (tried to compile with mbed)

**Describe the problem**
I'm trying to run one of the pr

[2019-12-20 10:37] aLeX1443 commented on #35192
Can confirm that using  `model.fit(x=DataGen())` allows you to use mixed precision and XLA.

[2019-12-20 10:37] #35192 closed

[2019-12-20 10:46] gadagashwini commented on #34760
@sarthakforwet, Any update on issue!

[2019-12-20 10:47] gadagashwini commented on #34984
@monilshah98, Is this still an issue!

[2019-12-20 10:59] amahendrakar commented on #35254
@WakerKQ,
I was able to run the code with TF version 1.14, without any errors. Please check for the attached [Gist here](https://colab.sandbox.google.com/gist/amahendrakar/94f228a23ba7881553acd24dfd52e2f8/35254.ipynb). Thanks!

[2019-12-20 11:09] WakerKQ commented on #35254
Thanks for your helpful answers, both should work.   I upgraded to TF2.0 and solved the problem.

[2019-12-20 11:38] gmrhub opened #35306 "A possible bug in ConvRNN2D __call__"
Referring to
[ConvRNN2D.__call__](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/layers/convolutional_recurrent.py#L294-L341)

L308 ` kwargs['initial_state'] = initial_state` and L317 `kwargs['constants'] = constants` should be added in the else block at L340. The current situation contradicts with the use of `full_input` at L337.

I am not sure if we can simply repli

[2019-12-20 11:52] JonLeeCSDN opened #35307 "I got nan value when I to predict in cpu,this model that I trained it in gpu"
when using a trained pix2pix model to predict in cpu ,but I got a nan value .if I use the model that trained in CPU，its work right.
**this is trained by cup：**
`[[[0.4903388  0.50368387 0.49226668]
  [0.50147295 0.5219532  0.5668285 ]
  [0.5083101  0.56787324 0.45141172]
  ...
  [0.56986064 0.52189714 0.5279328 ]
  [0.5258558  0.5492905  0.435853  ]
  [0.48710588 0.4718867  0.4559199 ]]

 [[0.4601

[2019-12-20 11:54] JonLeeCSDN commented on #35307
Whether the model trained by GPU must load prediction in GPU environment？

[2019-12-20 11:55] JonLeeCSDN commented on #35307
ps:The model I saved and used is in .h5 format

[2019-12-20 12:32] tensorflowbutler commented on #34762
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-20 12:32] tensorflowbutler commented on #34861
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-20 12:33] tensorflowbutler commented on #34099
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-20 12:33] tensorflowbutler commented on #33255
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-20 13:09] luvwinnie commented on #34775
Sorry for late reply. I have created a reproducible procedure.

What I have done is, I used tensorflow 2.0.0 beta0 to create my model, then the released of tensorflow 2.1.0rc0 , I upgrade my tensorflow. However when I try to load the model it shows the above errors. This link below is a Colab.

https://colab.research.google.com/drive/1tJebhW0arF7oXYNIDFRjlrlRR91_3K9B#scrollTo=Ov9IBy_5YQIe

[2019-12-20 13:16] amahendrakar commented on #35254
Closing issue as it is resolved.

[2019-12-20 13:16] #35254 closed

[2019-12-20 14:07] idofr opened #35308 "Why does the cpu bias_op support only up to five dims?"
I'm currently using tf.1.14 on Windows 10, but it doesn't seem to matter too much.

I have a high-dimensional tensor object which I try to process with a Keras Dense layer. On the GPU everything works perfectly fine, but if I want to run the network on the CPU I get the following error "Only ranks up to 5 supported:.... ".  A quick look into the C code shows that the dimensionality handling is, in

[2019-12-20 14:25] avatsaev commented on #25363
hello?

[2019-12-20 14:50] guillaumekln opened #35309 "tf.math.sigmoid precision issues on GPU"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Ubuntu 16.04
- TensorFlow installed from: binary
- TensorFlow version: `2.1.0.dev20191219`
- Python version: 3.6.8
- CUDA/cuDNN version: CUDA 10.1 / cuDNN 7.6.3
- GPU model and memory: GTX 1060 6GB

**Describe the current behavior**

We compared TensorFlow versions `2.1.0.dev20191203` and `2.1.0.dev20191219` a

[2019-12-20 15:17] sakshambanga opened #35310 "Execution hangs after particular step in CUDA 10.1 TF 1.14.0"
### System information
- Have I written custom code: Yes
- OS Platform and Distribution: 18.04.3 LTS Ubuntu
- TensorFlow installed : pre installed container
- TensorFlow version : 1.14.0
- Python version: 3.5.2
- Bazel version (if compiling from source): -
- GCC/Compiler version (if compiling from source): 7.4.0
- CUDA/cuDNN version: 10.1
- GPU model and memory: Tesla V100-SXM3-32GB
- Exact comman

[2019-12-20 15:30] Razor1O9 commented on #35087
**Closing this issue, as it has been solved:**
https://github.com/opencv/opencv/issues/16155

[2019-12-20 15:30] #35087 closed

[2019-12-20 15:57] AndreyPlotkinOr commented on #30552
May somebody share the place, where writes are to be added in tf_exported_symbols_msvc.lds?

[2019-12-20 16:17] FrancescoTerrosi opened #35311 "Tensorflow build from source - choose patch version"
**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.14
- Python version: 3.5
- Installed using virtualenv? pip? conda?: using conda
- Bazel version (if compiling from source): 0.24.1
- GCC/Compiler version (if compiling from source): 7.4
- CUDA/cuDNN version: CUDA 10.0, CUDNN 7
- GPU model and memo

[2019-12-20 16:31] caisq commented on #35275
@itemko A fix is on its way. It should land in GitHub sometime today.

[2019-12-20 16:45] wchargin commented on #35292
NB: I can confirm that your provided `repro.py` works for me on TF
nightly from 2019-12-19 but not from 2019-12-20. Furthermore, hammering
`list(tf.io.gfile.walk("bigdir"))` used to quickly consume unbounded
memory; now, it consumes memory cyclically with a time series that looks
like standard GC behavior, never exceeding around 400 MB. So it’s
possible that the pybind11 change really did fix it,

[2019-12-20 17:13] qiuminxu commented on #34823
@AlexisBRENON  Can you try:
from tensorflow.python.eager import profiler
# Context manager APIs
with profiler.Profiler('logdir_path'):
  # do your training here
  pass

[2019-12-20 17:29] karimnosseir commented on #35221
Thanks @lcycoding for the update. Glad it worked.

[2019-12-20 17:54] jvishnuvardhan commented on #33012
@PistaSaki Looks like this was resolved in `tf-nightly`. I was not able to reproduce the issue with `tf-nightly`. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/129fd452f492f59d3789779155dbbc6d/untitled246.ipynb). Thanks!

I am closing this issue. Please feel free to reopen if the issue persists again. Thanks!

[2019-12-20 17:54] #33012 closed

[2019-12-20 17:57] jdduke commented on #35081
Over to @lu-wang-g for further work.

[2019-12-20 18:04] jalexstark commented on #32026
This should now be fixed.

[2019-12-20 18:04] #32026 closed

[2019-12-20 18:05] jalexstark commented on #33733
Should be fixed in r2.1

[2019-12-20 18:05] #33733 closed

[2019-12-20 18:06] jalexstark commented on #31187
Should be fixed in r2.1.

[2019-12-20 18:06] #31187 closed

[2019-12-20 18:35] aaroey commented on #34574
Hi @andyqian2015, may I know if your `trtfilepath` is a TF-TRT converted model? If so, could you describe more on how you run the TF-TRT conversion? Also, is it possible to share the model file? Thanks.

Also @pooyadavoodi @sanjoy

[2019-12-20 18:37] YasineNifa commented on #32357
hello,

Please did you solve this error
because I am getting the same error while I excute this function
`model.fit_generator(train_generator, steps_per_epoch=135, epochs=20, validation_data=validation_generator,validation_steps=16, callbacks=callbacks, workers=2)`

[2019-12-20 18:38] aaroey commented on #25348
@sayakpaul could you share the crash log?

[2019-12-20 18:42] sanjoy commented on #34094
Hi,

The `[I 10:23:43.327 NotebookApp] KernelRestarter: restarting kernel (1/5), keep random ports` error makes this look like an issue with the jupyter notebook you're using.  That could also explain the `CancelledError` you were seeing earlier.

Can you help us isolate the problem by trying to reproduce it outside a jupyter notebook?

[2019-12-20 18:47] aaroey commented on #34238
Hi @qcraftai, I can see a dependency chain based on:
[code]

. When you run bazel build on tensorflow:libtensorflow_cc.so, can you try adding --config=tensorrt? Or make sure TensorRT is configured during the build by checking that environment variables like TF_NEED_TENSORRT and TENSORRT_INSTALL_PATH are set?

[2019-12-20 18:51] lu-wang-g commented on #35081
@nauyan, thanks for raising up the issue. The issue is here that Interpreter does not consume TensorBuffer, but ButeBuffer and primitive arrays. See the [Java doc for Interpreter.run](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/java/src/main/java/org/tensorflow/lite/Interpreter.java#L227-L254).

What you can do is to get the ByteBuffer from TensorBuffer through TensorBuffe

[2019-12-20 18:51] #35081 closed

[2019-12-20 18:51] sanjoy commented on #29039
Once [TensorFlow DLPack support](https://github.com/tensorflow/community/pull/180) lands, what else remains to be done here?

[2019-12-20 18:52] aaroey commented on #34136
@arielbenitah sorry about the trouble. It seems you're using efficientnet, is it possible for you to share the model for investigation purposes?

[2019-12-20 18:54] aaroey commented on #32281
Thanks @superhg2012.

@double344931987 I'm closing this, feel free to reopen with a repro (model+script) if you're still experiencing this issue. Thanks.

[2019-12-20 18:54] #32281 closed

[2019-12-20 19:01] slundberg commented on #35203
I finally worked around this by overriding `tensorflow.python.eager.execute.record_gradient` and temporarily lying about the index input type of `ResourceGather` making it a float instead of an int just during the duration of the C++ call `TFE_Py_RecordGradient`. This was the only way I could figure out to force the GradientTape to work with non-differential operators.

So while now things work, I

[2019-12-20 19:03] olesalscheider commented on #34136
I think I might have fixed the segfault in 9bbb12d481de11e2611fa6fbb4dc13cb7bb09176.
But the real problem is probably that something goes wrong when converting the graphs...

[2019-12-20 19:06] 00krishna opened #35314 "Lack of dataset length or cardinality causes `BaseCollectiveExecutor::StartAbort Out of range` issues"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): I borrowed som

[2019-12-20 19:20] tomerk commented on #34346
As of 2.1 (not 2.0) users should be able to use fit_generator, not just fit. @robieta  also fixed a number of generator bugs for 2.1 so it's possible these issues were fixed by that. (And a lot of keras/tpu integration bugs were fixed for 2.1 as well)

The colab also actually isn't runnable (I'm guessing when it was written/run it was out of order, because y_train is accessed before it's defined)

[2019-12-20 20:06] jdduke commented on #35028
Ah, right, you need to make sure that your buffer is at the very least 4 or 8-byte aligned, but preferably 16-byte aligned. We're working on some improvements in error messages to make this requirement more explicit.

[2019-12-20 20:07] jdduke commented on #34987
Can you be more specific, or quantify this? Have you run the model against ImageNet to get a TopK result? Note that there will generally be *some* accuracy degradation, but it shouldn't be significant.

[2019-12-20 20:10] jdduke commented on #34326
Hi, we're actively working to add native support for the ellipsis_mask, targeting the next TF 2.2 release in Q1.

[2019-12-20 20:25] jdduke commented on #35199
Seems reasonable though I don't have the full history behind the Keras implementation. @fchollet any thoughts (or somebody else who can chime in)?

[2019-12-20 20:37] 0x0539 opened #35316 "Where is the pip package for TF 1.15?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu (or similar)
- Mobile d

[2019-12-20 20:39] birdmw commented on #33026
Huggingface is looking strong. They use Pytorch on CUDA 10.1 - we are thinking of switching over too.

[2019-12-20 20:52] 0x0539 commented on #35316
Here is a [gist](https://gist.github.com/0x0539/abfd4071a7740dfaa53bdc1beaeb1c54) showing the full log output, with verbose mode.
There are tensorflow 1.15 pip modules available, but not for python3.
Next, I'll test whether I can get this working in a python2 env.

[2019-12-20 20:54] ahtik commented on #33026
@birdmw @kooscode @levicki Please see https://github.com/tensorflow/tensorflow/releases/tag/v2.1.0-rc1

`pip package is built with CUDA 10.1 and cuDNN 7.6.`

[2019-12-20 20:55] 0x0539 commented on #35316
I verified that this works with a python2 environment.
Are there plans to release a python3 pip module for TF 1.15? This would be really useful for library maintainers, as they can support both versions of python for TF1.X projects.

[2019-12-20 20:57] 0x0539 commented on #35316
Also, it would make the docs consistent with reality, which is always a plus :) https://www.tensorflow.org/install/pip?lang=python3#3.-install-the-tensorflow-pip-package

[2019-12-20 21:10] jdduke commented on #31577
@nartes  can you be more specific? Do you have a minimal repro case?

[2019-12-20 21:29] jvishnuvardhan commented on #34921
@HsinJhao Can you please share the files `1.mat` and `2.mat`. Thanks!

[2019-12-20 21:48] jvishnuvardhan commented on #35108
@hollowgalaxy What is the expected output of `make_data` function and from where that functional argument  `i` is coming from? Thanks!

[2019-12-20 22:01] wosiu commented on #34607
..Also tested on `tensorflow-cpu==1.5.0`, python `3.7.5` same story.

[2019-12-20 22:02] pooyadavoodi commented on #34574
@andyqian2015 I think Geforce1060 has 6GB memory. Since `allow_growth` also fails, that 6GB may not be big enough for the model you run. The memory usage of TF-TRT is a bit larger than TF due to weights duplication.

I suggest  to try with smaller batch size and smaller TRT workspace size.

[2019-12-20 22:09] jvishnuvardhan commented on #35190
@bakaschwarz I agree, it is not consistent but it is not a bug as the `inputs` of different functions are clearly defined. I am not sure how much work required to make it kind of consistent.  Thanks!

[2019-12-20 22:11] theGOTOguy opened #35317 "Slicing tensor within a keras.utils.Sequence with multiprocessing=True hangs fit_generator"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Ubuntu 18.04
- TensorFlow installed from (source or binary):  binary
- TensorFlow version (use command below):  2.0.0
- Python version:  3.6.8
- CUDA/cuDNN version:  10.2 / 7.6.5.32-1+cuda10.2
- GPU model and memor

[2019-12-20 22:14] jvishnuvardhan commented on #31214
This is a stale issue. Please check the issue with latest TensorFlow. If the issue still persists in the newer version of TF, please feel free to reopen it by providing details about the issue and a standalone code to reproduce the issue. Thanks!

[2019-12-20 22:14] #31214 closed

[2019-12-20 22:26] gowthamkpr commented on #35149
@roshanzameer Duplicate of this [issue ](https://github.com/tensorflow/serving/issues/1517) in tensorflow serving. I am gonna close this issue as it is a seving issue and is being tracked there. Thanks!

[2019-12-20 22:26] #35149 closed

[2019-12-20 22:29] mihaimaruseac commented on #35316
Please upgrade `pip` version. The pip exists already, see for example https://pypi.org/project/tensorflow/1.15.0/#files

[2019-12-20 22:30] mihaimaruseac commented on #35316
In particular, you missed the `pip install --upgrade pip` part of the documentation, just slightly above the link you provided

[2019-12-20 22:40] tanzhenyu commented on #34862
We don't have plans for supporting additional features with feature columns at this point. The right solution will come with this [RFC](https://github.com/tensorflow/community/pull/188)

[2019-12-20 22:40] #34862 closed

[2019-12-20 22:47] petewarden opened #35318 "TensorFlow Lite Micro fully connected int8 test passes illegal filter offset"
An external developer pointed out that the test for the quantized fully connected operation passes in a non-zero weight offset to the kernel for int8 tests:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/micro/kernels/fully_connected_test.cc#L118-L119

The quantization specification promises that int8 kernels will always receive zero weight offsets:
https://www.tensorflow.org

[2019-12-20 22:50] gowthamkpr commented on #34781
Closing this issue as it has been inactive for more than 3 weeks. Please add additional comments and we can open the issue again. Thanks!

[2019-12-20 22:50] #34781 closed

[2019-12-20 22:54] karimnosseir commented on #35176
Hi @yxchng The current default behavior uses TOCO, so you don't need to touch MLIR code (yet).

It will be good to hear from you and others as well, how can we make our new MLIR converter easy for the community to understand and contribute.
Did you check the guide https://github.com/tensorflow/mlir#getting-started-with-mlir ?

Thanks

[2019-12-20 22:55] dojipkim opened #35319 "TF2.0 fails post-training uint8 quantization"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): installed TF binary 2.0 with Conda
- TensorFlow version (or github SHA if from source): TF 2.0

**Command used to run the converter or code if you’re using the Python API**

[code]

**The output from the converter invocation**

[code]

**Also, please include

[2019-12-20 22:56] 0x0539 commented on #35316
Oh, that fixed it! Thanks!

[2019-12-20 22:56] #35316 closed

[2019-12-20 23:00] jvishnuvardhan commented on #32234
@julyrashchenko Thanks for the update.
Another important thing as mentioned by @k-w-w in another [post](https://github.com/tensorflow/tensorflow/issues/28923#issuecomment-521027273)

If you are planning to load the model back into Keras, use the Keras APIs for saving and loading. If you're not planning on using the Keras APIs to further train the model, then tf.saved_model.save and tf.saved_model.

[2019-12-20 23:00] #32234 closed

[2019-12-20 23:04] gowthamkpr commented on #35101
@olk Try building tensorflow nightly version with python 3.8 and let me know if the issue still persists. Thanks!

[2019-12-20 23:07] gowthamkpr commented on #35083
@mixxen Did you take a look at this [issue](https://github.com/tensorflow/tensorflow/issues/19083). Thanks!

[2019-12-20 23:09] mihaimaruseac commented on #35185
As said above, the issue comes from `scipy==1.4.0`.

We have made changes to that now `scipy` gets pinned to `1.4.1`. We will revisit the pining before new releases

https://github.com/tensorflow/tensorflow/blob/2d48f82a93a3806add726aa04768cca31eba19c1/tensorflow/tools/pip_package/setup.py#L78-L79

Since this is fixed, I am going to close this, but please reopen and assign to me if there are other

[2019-12-20 23:09] #35185 closed

[2019-12-20 23:11] edgeaidl20 opened #35320 "Need the help for "ERROR: Failed to load libhexagon_interface.so""
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution :16.04 :
- Mobile device: Samsung Galaxy S9:
- TensorFlow

[2019-12-20 23:12] mihaimaruseac commented on #35185
Note that #35271 is on `r2.1` branch but neither it nor the commit it is cherry-picking are fixing this issue. The only fix is `scipy==1.4.1`, unfortunately

[2019-12-20 23:13] edgedlai commented on #35320
Saw the other issue has no problem to run hexagon delegate, but not sure how to get the "libhexagon_interface.so"?
https://github.com/tensorflow/tensorflow/issues/35221

[2019-12-20 23:13] edgedlai commented on #35320
@karimnosseir, Can you help to comment on this?

[2019-12-20 23:14] gowthamkpr commented on #34518
@menatte Can you please downgrade to downgrade to cudnn 7.6.2 and let me know if it works. Thanks!

[2019-12-20 23:17] karimnosseir commented on #35320
Hi @edgedlai
It is part of the third_party/hexagon package which bazel automatically downloads

You can fetch it like this
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/experimental/delegates/hexagon/java/BUILD#L29

I am assuming you're trying to use the C API and not using the Java AAR, correct ?

[2019-12-20 23:27] edgeaidl20 commented on #35320
@karimnosseir , got it, thanks, it's working now.

[2019-12-20 23:28] karimnosseir commented on #35320
You're welcome.

Thanks

[2019-12-20 23:28] #35320 closed

[2019-12-20 23:41] gowthamkpr commented on #34534
@n-gao you are right. This is the intended behaviour.

I am closing this issue as it is not a bug/performance, build/install, feature request related issues. Please add additional comments and we can open this issue again. Thanks!

[2019-12-20 23:41] #34534 closed

[2019-12-20 23:49] karimnosseir commented on #35299
Hi @lee-bin

The delegate doesn't use int32_min/max as min max for quantization, it computes them from the scale/zero point data in the tensor
https://github.com/tensorflow/tensorflow/blob/539b7642a928c7fbfb4d896f650f7e6d79c2a5e0/tensorflow/lite/experimental/delegates/hexagon/builders/op_builder.h#L133

The quantization params in the tensor should guarantee the input_scale*weight_scale you mention

[2019-12-20 23:52] jvishnuvardhan commented on #34634
@HLSS-Hen [This](https://github.com/tensorflow/tensorflow/issues/29472#issue-452812370) model is related to your issue but check the approach ('base_model') used to show pretrained model as one layer. Thanks.

[2019-12-21 00:00] hollowgalaxy commented on #35108
Not sure which of the attempts you mean. But the `make_data` function is described for each of the attempts.

[2019-12-21 00:15] gowthamkpr commented on #35067
@nectario Can you please take a look at this [issue](https://github.com/tensorflow/tensorflow/issues/27170) and let me know if it helps. Thanks!

[2019-12-21 00:23] gowthamkpr commented on #34544
@D4n1aLLL Can you use tensorflow 1.13 and let me know if you are incurring the same error. Thanks!

[2019-12-21 00:27] sanjoy commented on #34718
@tomhennigan I noticed you added the explicit `with ops.device("CPU")` in `_restore_checkpoint` (internal CL 244133653).  Do you think we need to have a more specific `CPU:0` device setting?

[2019-12-21 00:43] nectario commented on #35067
I tried specifiy ragged = True on all Input layers, but now I get a different issue:

TypeError: Failed to convert object of type <class 'tensorflow.python.ops.ragged.ragged_tensor.RaggedTensor'> to Tensor. Contents: tf.RaggedTensor(values=Tensor("Input1/flat_values:0", shape=(None,), dtype=int64), row_splits=Tensor("Input1/row_splits_0:0", shape=(None,), dtype=int64)). Consider casting elements t

[2019-12-21 00:45] jsimsa commented on #35152
When I change the order in which the `tf.strings.split` and `tf.py_function` experiments are executed, I see fast memory growth for `tf.py_function` experiment and not the `tf.strings.split`. This suggests that the memory behavior you are observing is unrelated to `tf.strings.split` vs `tf.py_function` -- as it occurs irrespective of which experiment you run first -- and is more likely related to

[2019-12-21 00:46] gowthamkpr commented on #35260
@dikvangenuchten Can you please reproduce this issue in google colab and share the gist. Thanks!

[2019-12-21 00:57] gowthamkpr commented on #35307
When you save a model, it records the device on which it has been trained. The model is restored on this device by default. In your case, I suppose your net has been trained on GPU.

To remove this information you need to specify clear_devices=True when restoring the meta graph. You can then place the net where it suits you

[2019-12-21 01:32] mihaimaruseac commented on #35260
Please provide answers to the template question so we can reproduce.

[2019-12-21 01:59] shazhongcheng commented on #34094
Hello！I run it on my pycharm，and show you the error，this is pic
![image](https://user-images.githubusercontent.com/15049049/71301306-7c16d280-23d8-11ea-95ce-d1e348340890.png)
And this is the error information:
[code]

[2019-12-21 02:52] nartes commented on #31577
@jdduke I needed tensorflow.keras.layers.LeakuReLU layer. But you do support only tensorflow.nn.relu and tensorfluw.nn.relu6 according to my experiments.
[code]

The code above works well on armeabi-v7a. Although I've a problem. 18MiB of neural network weights are coupled with 60MiB of 0.1 constants.
If I do replace like_constant(x, alpha) with 0.1, a tensorflow jni library crashes upon graph init

[2019-12-21 03:09] adele-php commented on #34722
巨感谢，目录有个csv.py改名后，我又可以愉快的玩耍了

[2019-12-21 03:21] hankcs commented on #33069
Thanks a lot.

[2019-12-21 03:31] kuzen opened #35326 "dataset_ops.py 'NoneType' object has no attribute 'device'"
**System information**
- Ubuntu 16.04
- TensorFlow and Tensorflow_Datasets installed from conda
- TensorFlow version 2.0
- Python version: 3.7
- GPU : None

**Describe the current behavior**
when I run the code form [segmentation](https://www.tensorflow.org/tutorials/images/segmentation?hl=en)
after plt.show()
it run well in jupyter but this error occurred in *.py
[code]

**Code to reproduce the i

[2019-12-21 03:48] toshohirasawa opened #35327 "TF1.15 fails to dropout tf.Tensor"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): False
- OS Pla

[2019-12-21 03:54] danijar commented on #28007
@nfelt This is still present in TF 2.1 RC 0.

[2019-12-21 04:01] liyxi commented on #24496
I have a similar issue with RTX 2080 Ti on Ubuntu 18.04.3 LTS, tf 1.15, cuda 10.0.

What is weird in my case is that **this only happens very occasionally, and once it happens, it will last for minuets to hours and then just disappear itself**.

I tried all the above solutions and none can fix it immediately. I tried to do nothing and just wait, it will finally disappear.

FYI, error logs
[code]

[2019-12-21 04:52] hollowgalaxy commented on #13610
@rohan100jain does `to_device` support operations after.  This would be great to have since image preprocessing can be greatly accelerated on gpu.

[2019-12-21 05:19] tanzhenyu commented on #34859
@sharvil we provided tf.keras optimizers for use of eager mode, distribution strategy, etc. Those things are bundled through 2.0. We probably don't have plans to fix this for tf.train optimizer anymore, given there will be no more 1.x major versions to be released.
That said, if you believe the None gradient is truly a hassle, we can consider making it warning instead of error. But might need help

[2019-12-21 05:21] tanzhenyu commented on #34859
On the other hand, using GradientTape is the way to go in 2.0. So filtering out variables with None gradient doesn't seem too bad

[2019-12-21 05:27] CleanPegasus commented on #35300
Will you be training a model or running a model? If you are training a model, then go with 2 x Titan RTX. If you are running the model then any of these combinations will suffice.
PS: I've never seen any computer with 8 GTX 1080ti except for mining rigs. Be careful before you buy it.

[2019-12-21 05:28] akalakheti commented on #34935
Why is there no response on this issue?

[2019-12-21 05:28] tanzhenyu commented on #34635
This is not really an optimizer issue when the "variable" is actually a "tensor".

[2019-12-21 05:28] #34635 closed

[2019-12-21 05:44] tanzhenyu commented on #35102
Thanks for the report. We have noticed this, and decided we can only make behavior change in 3.0

[2019-12-21 07:06] foxik commented on #35303
I am not sure what problem you are reporting; but the problem of `experimental_relax_shapes` not working on instance methods has been solved in #35021.

[2019-12-21 08:05] yourtheron opened #35329 "Error: Cannot convert 'auto' to EagerTensor of dtype float"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2019-12-21 08:16] lee-bin commented on #35299
Thanks. The bias scale, this way, is the same as in lite and hexagon which guarantees the restored bias. It really helped.

[2019-12-21 08:16] #35299 closed

[2019-12-21 08:39] yourtheron commented on #32142
@lminer @ymodak
I'd like to report a follow-up issue. I tried to run Lminer's code snippet on TF2.0.0--I use Spyder 3.3.6, Python 3.7 I got an error
`
	TypeError: Cannot convert 'auto' to EagerTensor of dtype float
`
I also tried to build up my own custom loss with the same structure as lminer's, the same issue was raised.
Is that another bug of tf?

Plus, the docs
https://www.tensorflow.org/api_d

[2019-12-21 11:25] alexeyvasilyev commented on #31114
Got the same problem with org.tensorflow:tensorflow-lite:2.0.0
Device T8-PLUS, Android 5.1

[2019-12-21 16:10] korr4k opened #35330 "Keras backend functions not working as intended?"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: 4.4.0-18362-Microsoft
- TensorFlow installed from: Anaconda default source
- TensorFlow version: 1.15
- Python version: 3.7.5
- CUDA/cuDNN version: 10.0
- GPU model and memory: GeForce RTX 2060

**Describe the current behavior**

I'm trying to implement a custom loss function based on a custom accuracy functio

[2019-12-21 16:13] niranjan8129 commented on #35251
@oanush

I am working on Tensorflow 2.0. Here is the colab reproduce the error . there is no zero_state in lSTM cell on the TF2.0 version. They added new syntax **get_initial_state**.

**self._initial_state = lstm_cell.get_initial_state(128, tf.float32)**

https://colab.sandbox.google.com/gist/ravikyram/304d34ec814dbbf13ed63b5a23416ab1/untitled458.ipynb

OR

you can go through the below steps.

!g

[2019-12-21 17:07] jalajc commented on #35275
@caisq something similar I encountered too

[code]

[2019-12-21 17:11] itemko commented on #35275
It seems the issue is fixed - our TensorFlow building scenario has passed.

[2019-12-21 17:55] caisq commented on #35275
@itemko thanks for the confirmation.

[2019-12-21 17:55] #35275 closed

[2019-12-21 21:00] WilianZilv commented on #32771
Any clue on what is happening?

[2019-12-21 21:22] srvasude commented on #33192
Hi, I submitted
https://gitlab.com/libeigen/eigen/merge_requests/18
in Eigen, which fixes Eigen's implementation of expm1.

This is being used in the current tf-nightly:

<tf.Tensor: shape=(), dtype=complex128, numpy=(-1.653643620863612-0.7568024953079282j)>

This issue should be fixed now.

[2019-12-21 21:22] #33192 closed

[2019-12-21 23:05] lightvector opened #35333 "Optimizer within Estimator computes incorrectly small gradient when used with MirroredStrategy"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes.
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from: Anaconda, clean install: `conda create -n tf2 tensorflow-gpu=2.0.0`
- TensorFlow version: 2.0.0
- Python version: 3.7.5
- CUDA/cuDNN version: 10.0.130, 7.6.4
- GPU model and memory: Tesla V100,

[2019-12-22 00:21] zack466 opened #35334 "Question about tf.keras.backend switch in lambda layer for short circuit computation"
I am using tf.keras.backend.switch inside of a lambda layer in order to swap between multiple different "expert" layers based on the output of a "gating" layer. When the entire model is used to predict an output, does it evaluate the gating layer first and then "short circuit" to only evaluate the single selected expert layer (to save computation time)? If not, how could I implement this?

I am us

[2019-12-22 01:32] leandro-gracia-gil opened #35335 "Dataset scan loses variable modifications"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes, providing source.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS 10.15.2, most likely irrelevant.
- TensorFlow installed from (source or binary): binary from pip
- TensorFlow version (use command below): v1.12.1-21171-g9798f84fa9 2.1.0-dev20191221 (instal

[2019-12-22 05:19] CNOCycle opened #35336 "No clear document explains how to use pre-trained model"
## URL(s) with the issue:

Please provide a link to the documentation entry, for example:
https://www.tensorflow.org/versions/r1.14/api_docs/python/tf/keras/applications

## Description of issue (what needs changing):

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04

[2019-12-22 05:24] Njerschow commented on #25363
Would appreciate any update on this if possible!

[2019-12-22 05:31] weidadeyaqhhya commented on #31171
Hi,
have you ever encountered problem of "NonMatchingChecksumError: file has wrong chencksum" when
downloading the oxford-iiit-pet dataset？ I use tfds.load( )

[2019-12-22 05:47] AungPaingJiJi commented on #33746
That really help thanks

[2019-12-22 05:48] cluzier commented on #30794
Thank you, this worked. Here is what I had to do since I had permission issues:
`pip3 install --user tensorflow==1.14`

[2019-12-22 08:38] feature-engineer commented on #34936
The issue was due to the use of `from_tensor_slices`, which apparently means the tensors passed as arguments to `from_tensor_slices` are being copied on each iteration over the dataset.

Replacing `from_tensor_slices` with `from_tensors` fixed the performance issue.

[2019-12-22 08:38] #34936 closed

[2019-12-22 08:44] yourtheron opened #35337 "ValueError: name for name_scope must be a string when Building up a Custom Model"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-12-22 09:16] alexbruy commented on #34722
I can confirm issue with import statements. Just installed tensorflow on the clean system using pip (Python 3.7.0), this installs tensorflow 2.0.

When I try to execute my code I get

[code]

Looking in the site-packages, it seems directory layout in tensorflow 2.0 was changed and now there is no `tensorflow.python` but there is `tensorflow_core.python`. And this is the reason for this import erro

[2019-12-22 09:44] anilsathyan7 opened #35339 "Tensorflow-lite gpu output is corrupted when using opencl backend"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Android version:9, Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: OnePlus3, GPU:Adreno 530
- TensorFlow installed from (source or binary): tensorflow-lite-

[2019-12-22 12:22] tensorflowbutler commented on #34479
It has been 30 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-22 13:29] HsinJhao commented on #34921
@jvishnuvardhan
These is the files:
[matdata.zip](https://github.com/tensorflow/tensorflow/files/3992507/matdata.zip)

Thanks!

[2019-12-22 13:35] 29217321 commented on #33183
I have the same problem on Catalina 10.15.2 with Python 3.7.3
Python 3.7.3 (default, Nov 15 2019, 04:04:52)
[Clang 11.0.0 (clang-1100.0.33.16)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

Just clean install tensorflow.

Below solved this problem by modify the line 48 of "linecache.py" file.

for mod in list(sys.modules.values()): # for mod in sys.modules.value

[2019-12-22 15:13] miaoweiwei opened #35341 "'ImportError' object has no attribute '_render_traceback_'"
使用 jupyter 时候报错，

import tensorflow as tf

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "D:\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58,

[2019-12-22 15:25] Jendker commented on #33150
Same issue with Adam when asserting the load was complete with `status.assert_consumed()`

[2019-12-22 16:45] konopik opened #35342 "Support other types of Tensors in tf.data.Dataset.from_generator"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: YES
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 10.15.2 (19C57)
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**:v2.0.0-rc2-26-g64c3d382ca 2.0.0
- **Python version**:3.7.5 (default, Oct 25 2019,

[2019-12-22 17:45] hoangcuong2011 opened #35343 "Is it a bug with tf.cond?"
Greetings,

I have a code that uses tf.conds as follows:

import tensorflow as tf

[code]

I suppose function ghi() should not be run (as it should runs func abc()). But somehow the code there is still running, resulting in an error of 'int' object is not subscriptable (from b = aa[0]).

Is it a bug? If not, could you explain more about this?

Thx.

[2019-12-22 18:03] hoangcuong2011 commented on #35343
Closed after some investigation. While tf.cond is great, it is indeed a bit counterintuitive!

[2019-12-22 18:03] #35343 closed

[2019-12-22 18:25] n2cholas commented on #33478
Should I create an RFC for this, since it's an API addition? Or just a PR? Also, how should this interact with autograph and model saving? The base_layer.py code is pretty intimidating.  I'd love some guidance from a TensorFlower, if possible.

Here's a temporary layer wrapper I've been using to get this functionality. This is pretty similar to what I'd do in the `tf.keras.layers.Layer` code (in t

[2019-12-22 20:07] #35105 closed

[2019-12-22 21:28] vdutor commented on #25752
I'm running into the same problem with TensorFlow 2.0. What is the status of this issue?

[2019-12-22 21:34] olegmyrk opened #35346 "AutoGraph is compiled 5x slower in TF2.x Multi-GPU Distributed Mirrored Strategy"
**System information**
* Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
* OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3 LTS
* TensorFlow installed from (source or binary): binary
* TensorFlow version (use command below): v2.1.0-rc0-47-g064e153 2.1.0-rc1 (`python3 -c "import tensorflow as tf; print(tf.version.GIT_VERSION

[2019-12-22 22:01] olegmyrk commented on #35144
FYI: I've filed a separate follow-up issue:

AutoGraph is compiled 5x slower in TF2.x Multi-GPU Distributed Mirrored Strategy
https://github.com/tensorflow/tensorflow/issues/35346

[2019-12-22 22:10] olegmyrk commented on #35144
Also is there a better channel to ask about issues with Spectral Normalization in Mirrored Distributed mode?
https://github.com/olegmyrk/SPADE-Tensorflow/blob/4203f30b6253a9d4743962087896fab26381c67b/ops.py#L579

[2019-12-22 22:15] charmasaur commented on #33192
Thanks!

[2019-12-22 22:17] charmasaur commented on #33192
Should we expect the next minor release (2.1.0, I guess) to have the fix?

[2019-12-22 23:34] byronyi commented on #35144
If you are using tf.VariableAggregation.ONLY_FIRST_REPLICA then it is expected.

[2019-12-23 01:43] freefuiiismyname commented on #35225
@oanush
similar to https://github.com/cdathuraliya/bert-inference

[2019-12-23 01:47] olegmyrk opened #35347 "Unnecessary synchronization of deterministic variable in Mirrored Distributed mode"
**System information**
* Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
* OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3 LTS
* TensorFlow installed from (source or binary): binary
* TensorFlow version (use command below): v2.1.0-rc0-47-g064e153 2.1.0-rc1 (python3 -c "import tensorflow as tf; print(tf.version.GIT_VERSION,

[2019-12-23 01:48] olegmyrk commented on #35144
I've posted more details about variable replication for spectral norm in a separate issue.
https://github.com/tensorflow/tensorflow/issues/35347

[2019-12-23 01:49] olegmyrk commented on #35144
As the initial distributed dataset performance regression in 2.0 was resolved by @byronyi I propose that we close this issue.

Please have a look at followup issues:
https://github.com/tensorflow/tensorflow/issues/35346
https://github.com/tensorflow/tensorflow/issues/35347

[2019-12-23 01:49] #35144 closed

[2019-12-23 02:28] ChrisPalmerNZ commented on #33026
Thanks @ahtik - just found this as I am having an issue also. Sorry for my ignorance, but how can I install this with pip to get a tensorflow-gpu on Windows?

[2019-12-23 02:46] jtk19 commented on #35226
I get the same error trying to create a Resnet50 model with mirrored distribution across 2 GPUs.

I am training on:
- Ubuntu 18
- Anaconda 2019 Python 3.7
- Tensorflow 2.0
- Keras

[2019-12-23 02:47] jtk19 commented on #35226
`>>> with strategy.scope():
...     parallel_model =  EAST_model(FLAGS.input_size)
...
Traceback (most recent call last):
  File "<stdin>", line 2, in <module>
  File "/d/src/pid/EAST/model.py", line 30, in __init__
    resnet = ResNet50(input_tensor=input_image, weights='imagenet', include_top=False, pooling=None)
  File "/d/home/aisrv/.conda/envs/aidev/lib/python3.7/site-packages/keras/applicati

[2019-12-23 04:07] ChrisPalmerNZ commented on #33026
@ahtik - I tried installing to WIndows 10 per your link as `pip install tensorflow-gpu==2.1.0-rc1`. However, I received the following `ERROR: Could not find a version that satisfies the requirement tensorflow-gpu-estimator<2.2.0,>=2.1.0rc0 (from tensorflow-gpu==2.1.0-rc1)` - do you have any suggestion to overcome this issue?

[2019-12-23 04:16] limjq45 commented on #15805
I am not sure if this will fix the problem but I manage to convert it to tflite by doing this.

`#weights and biases of appropriate shape to accomplish above task
out_weights=tf.Variable(tf.random_normal([num_units,n_classes]),name="weights")
out_bias=tf.Variable(tf.random_normal([n_classes]),name="bias")

#defining placeholders
#input image placeholder
x=tf.placeholder("float",[None,time_steps,n_

[2019-12-23 05:09] limjq45 commented on #15805
I am not sure if this is what you want but I manage to convert @SullyChen 's code into a tflite model.

[code]

Source: https://github.com/tensorflow/tensorflow/issues/19268
To freeze the graph...
[code]

I am running it on Google colab btw

Downloaded the tflite and manage to run it on the android app from :
https://github.com/tensorflow/examples/tree/master/lite/examples/digit_classifier

I enab

[2019-12-23 05:12] gadagashwini commented on #34762
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-23 05:12] #34762 closed

[2019-12-23 05:44] gadagashwini commented on #35272
@caibadal5, Please provide the complete standalone code and Tensorflow version that your using. Thanks!

[2019-12-23 05:48] gadagashwini commented on #35298
@olk, Could you post the standalone code to analyze the issue. Thanks!

[2019-12-23 06:03] gadagashwini commented on #35310
@sakshambanga, Could you provide the standalone code to reproduce the reported issue. Thanks!

[2019-12-23 06:20] gadagashwini commented on #35311
@FrancescoTerrosi, Please provide the error log and exact sequence of commands/steps that you executed before running into the problem. Thanks!

[2019-12-23 06:40] amahendrakar commented on #35060
Any updates regarding this issue? Thanks!

[2019-12-23 06:41] anirudh2324 commented on #30810
(object_dection) C:\Users\pabhi\OneDrive\Desktop\object\workspace\training_demo>python export_inference_graph.py --input_type image_tensor --pipeline_config_path training/pipeline.config --trained_checkpoint_prefix training/model.ckpt-936 --output_directory inference_graph
C:\Users\pabhi\Anaconda3\envs\object_dection\lib\site-packages\tensorflow\python\framework\dtypes.py:523: FutureWarning: Passi

[2019-12-23 06:42] anirudh2324 commented on #30810
can any one solve this

[2019-12-23 06:55] llan-ml commented on #30665
After reinstall tensorflow-gpu==2.0.0 in a clean environment, the issue disappears.

[2019-12-23 07:02] olk commented on #35298
[code]

[2019-12-23 07:08] gadagashwini commented on #35335
I could replicate the issue with Tf 2.1.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/70fca4acb63107bfdb216b4024f57373/untitled319.ipynb). Thanks!

[2019-12-23 07:26] OverLordGoldDragon opened #35349 "Return predictions with .evaluate()"
I work with several custom metrics I compute from model's inference-mode predictions; problem is, this requires me to hand-code loss computation to avoid running `.evaluate()` along `.predict()` (doubling validation time), which may include weight and activity regularizers.

It'd be quite helpful to have an option for `model.evaluate()` to return predictions along computed metrics (e.g. `evaluate(

[2019-12-23 07:49] gadagashwini commented on #34735
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-23 07:49] #34735 closed

[2019-12-23 07:50] yourtheron commented on #28311
I encounter the same issue. I wrote a custom loss function and I want to see its returned value,
[code]
The TUNet was built by keras' layers, and SoftDiceLoss() is implemented by tf tensors
[code]
So how can I see the loss value?

[2019-12-23 07:57] gadagashwini commented on #34738
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-23 07:57] #34738 closed

[2019-12-23 07:57] gadagashwini commented on #34819
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-23 07:57] #34819 closed

[2019-12-23 08:02] workingloong commented on #35152
But, I also see fast memory growth for the only `tf.strings.split` experiment and slow memory growth for the only `tf.py_function` experiment.
Using `tf.py_function` in `dataset_fn`, I see fast memory growth when the first dataset variable is created and slow memory growth when other dataset variables are created.
![image](https://user-images.githubusercontent.com/18071380/71344373-4f5fe800-259d-1

[2019-12-23 08:14] robot-nano commented on #25563
@jianlijianli Area you finished "fully quantized" LSTM?

[2019-12-23 08:17] hamdimuzakkiy opened #35352 "Go TensorFlow 1.15.0: DataType 20 is not supported"
**System information**

- OS Platform and Distribution : mcOS HighSierra Version 10.13.2
- TensorFlow version: 1.15.0

Tried to load model from python (TF 2) on my go (TF 1.15.0) and i got error when accessing the value of the result. The error message I got was:

`panic: BUG: Please report at https://github.com/tensorflow/tensorflow/issues with the note: Go TensorFlow 1.15.0: DataType 20 is not s

[2019-12-23 08:17] gadagashwini commented on #35227
@spurani, Looks like in the `./configure` output, CUDA version is 9.0 but at the `nvidia-smi` CUDA 10.2.
Please check the CUDA and cuDNN version. Provide the Tenosrflow version/branch that you are building. Thanks!

[2019-12-23 08:17] JonLeeCSDN commented on #22963
I got same issure,have you solved the problem?I also find this problem when I save as tf and then to load.I use tensorflow2.0

[2019-12-23 08:20] byronyi commented on #32799
Gently ping @qlzh727 @rchao @pavithrasv; does this looks familiar to you?

[2019-12-23 08:23] JonLeeCSDN commented on #22963
I got this problem when use tf2.0,tf2.0 is not all eager mode？

[2019-12-23 08:37] TomatoBoy90 opened #35353 "You tried to call `count_params` on z_input, but the layer isn't built. You can build it manually via: `z_input.build(batch_input_shape"
when saved the model as tf by api  **tf.keras.models.save_model(testmodel, "./1/",save_format='tf')**
then,I load it by tf.keras.models.load_model('1'),however，I got the issue as title.
It is worth mentioning that it succed if I saved as .h5
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g.,

[2019-12-23 08:39] ravikyram commented on #35327
@toshohirasawa

Can you enable eager execution (`tf.enable_eager_execution() )`and check. I am not seeing any issue. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/bbd2f832ba2c8e49bff8b33fb7fc8987/untitled494.ipynb). Thanks!

[2019-12-23 08:41] amahendrakar commented on #35336
@CNOCycle,
Could you please take a look at this [link](https://www.tensorflow.org/tutorials/images/transfer_learning) and check if it helps. Thanks!

[2019-12-23 08:49] gadagashwini commented on #35241
I could replicate the issue with Tf 2.0.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/0c0b9d79192ba7833486f0d7830e69d2/untitled320.ipynb). Thanks!

[2019-12-23 08:57] amahendrakar commented on #35330
@korr4k,
In order to expedite the trouble-shooting process, please provide the complete code snippet to reproduce the issue reported here. Thanks!

[2019-12-23 08:59] CNOCycle commented on #35336
@amahendrakar

Thank for your reply. I'm not want to do transfer learning. What I want to do is reproduce the result of pre-trained model.

Those pre-trained model's weight are from imagenet dataset, so those models' top-1 accuracy on imagenet should be 70% up.

Also, from result which I posted, the behavior of those models are not unified.

So, my suggestion is that tf should mentioned input imag

[2019-12-23 09:00] JonLeeCSDN commented on #35353
when I change the version to 2.1,it will show:
ValueError: Could not find matching function to call loaded from the SavedModel. Got:
  Positional arguments (1 total):
    * [<tf.Tensor 'inputs:0' shape=(None, 256, 256, 3) dtype=float32>, <tf.Tensor 'inputs_1:0' shape=(None, 256, 256, 3) dtype=float32>]
  Keyword arguments: {}

Expected these arguments to match one of the following 1 option(s):

Op

[2019-12-23 09:07] arielbenitah commented on #34136
@aaroey You're right! I'm using EfficientNetB0. The model is written above in the description of the issue.
Thanks fo your help

[2019-12-23 09:08] arielbenitah commented on #34136
@olesalscheider Thanks, I'll take a look at your fix as soon as possible and let you know.

[2019-12-23 09:13] JonLeeCSDN commented on #35353
I use 1.5.0 show same the issue as 2.0

[2019-12-23 09:18] haseebi commented on #30810
what is your goal TensorFlow object detection API or image classification?

[2019-12-23 09:21] amahendrakar commented on #35329
Was able to reproduce the issue. Please find the [Gist](https://colab.sandbox.google.com/gist/amahendrakar/ed9cea3d43ac8815969a2988edec2d61/35329.ipynb) here. Thanks!

[2019-12-23 09:23] gadagashwini commented on #35280
@MRScorpcore,
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue t

[2019-12-23 09:51] amahendrakar commented on #35305
@KarimelQ,
Could you please provide the error log and also the TensorFlow version you are using. Thanks!

[2019-12-23 09:53] hoangcuong2011 opened #35354 "Contributing a multistep optimizer for training big NNs/batches"
I noticed a high demand in training big NNs/batches is to create a multistep optimizer. This means the optimizer accumulates gradients from batches until it reaches a desire batch and update model parameters.

This is similar to [this](https://github.com/tensorflow/tensor2tensor/blob/master/tensor2tensor/utils/multistep_optimizer.py), but for file [keras.optimizer_v2](https://github.com/tensorflow

[2019-12-23 09:54] CNOCycle commented on #35336
Oh, there is still no clear document in tensorflow=2.0.0

https://www.tensorflow.org/api_docs/python/tf/keras/applications

[2019-12-23 09:55] wjddyd66 opened #35355 "Load Image Not RUN"
Yout Tutorial Link: https://www.tensorflow.org/tutorials/load_data/images?hl=ko

In Load using tf.data Section Code Error occur....

my Tensorflow Version: '2.0.0-beta1'

Code Here:
[code]

The result is
[code]

**It's Version Mismatch or something wrong**

[2019-12-23 09:57] ravikyram commented on #35306
Can you please  help us with simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Which TensorFlow version you are using?.Thanks!

[2019-12-23 10:01] kahlil29 commented on #34580
What's the recommended way to install the go lang tensorflow binding now that this bug has been identified? Is there any fix in the works?

[2019-12-23 10:08] ravikyram commented on #35258
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-12-23 10:10] feature-engineer commented on #34690
Yes, it indeed seem to have been resolved.

[2019-12-23 10:10] #34690 closed

[2019-12-23 10:17] ravikyram commented on #35326
@kuzen

I have tried in TF 2.0 and i am not seeing any issue.Please, find the log file.
[log.tar.gz](https://github.com/tensorflow/tensorflow/files/3994521/log.tar.gz). Please, correct me if i miss something.Thanks!

[2019-12-23 10:18] gmrhub commented on #35306
Please refer the linked issue. That support is never resolved, people tried their own ways.
So while I was skimming through the code I noticed the bug and suggested the line numbers.

It seems that feature is never tested. After fixing the code it works but has another problem of non reproducible results when re loading the weights (in a new run). I think somehow it behaves like **stateful** model

[2019-12-23 11:20] GoSz opened #35356 "[TF2.0] String dtype will cause Dateset from MirroredStrategy.experimental_distribute_dataset raise RuntimeError when using GPU."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS Linux release 7.4
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip install tf-nightly-gpu
- TensorFlow version

[2019-12-23 11:39] rishabhrishu opened #35357 "tf-lite C++ API giving same inference output for every input"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Mojave(v.10.14.5)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n.a.
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command be