[2016-12-29 18:22] yaroslavvb commented on #3937
@rasmusbergpalm the reason you are seeing this error is because gradient is because of how gradient of `pow` is implemented in [math_grad.py](https://github.com/tensorflow/tensorflow/blob/64edd34ce69b4a8033af5d217cb8894105297d8a/tensorflow/python/ops/math_grad.py#L686)

There's this line

`log_x = array_ops.where(x > 0, math_ops.log(x), array_ops.zeros_like(x))`

So what happens is that `check_num

[2016-12-29 18:45] chitro commented on #6058
I am seeing something similar for bucketize in wide_n_deep_tutorial

AttributeError: 'NoneType' object has no attribute 'bucketize'

[2016-12-29 18:47] mrry commented on #6374
HDFS support is built as part of the standard PIP package, and it supports reading and writing checkpoints (as well as input data, summaries, etc.). You'll need to set the `HADOOP_HDFS_HOME` environment variable to use it.

[2016-12-29 18:49] mrry commented on #6563
The `tf.SparseTensor` API has changed between the 0.12 release and the git master. You should run the version of `wide_n_deep_tutorial.py` from the `r0.12` branch when you have TensorFlow 0.12 installed:

https://github.com/tensorflow/tensorflow/blob/r0.12/tensorflow/examples/learn/wide_n_deep_tutorial.py

[2016-12-29 18:52] mrry commented on #6560
The `tf.batch_matmul()` op was removed in https://github.com/tensorflow/tensorflow/commit/3a88ec0b8e5a9b8f3f3efc4d9a8f88d47b3f4042. You can now use [`tf.matmul()`](https://www.tensorflow.org/api_docs/python/math_ops/matrix_math_functions#matmul) to perform batch matrix multiplications (i.e. for tensors with rank > 2).

[2016-12-29 18:55] ludovic-pl commented on #6279
Please refer to the [issue](https://github.com/tensorflow/tensorflow/issues/6560).

[2016-12-29 19:58] aselle commented on #6415
@shlens, do you have any suggestions?

[2016-12-29 20:00] aselle commented on #6305
Closing this as it looks like you resolved it yourself. Thanks @talolard for reporting back.

[2016-12-29 20:00] #6305 closed

[2016-12-29 20:06] zafartahirov commented on #6558
@fnl I can get it to work by using the `r0.12` branch, so there is no need for tinkering and manually placing the files. Also, `r0.12` has no major differences with the `master` (ac28ae043df4bc6f112f964f6df22845b8a05390). The reason I opened an issue is because it might affect the future releases, and we need to find what caused it.

[2016-12-29 20:07] aselle commented on #6068
@wolffg  could we update this in the docs to not have "/tmp" in the example command line maybe just "simple-examples/..." so that it is clear it is relative from where you tar xvfz'd it (maybe add a comment)

[2016-12-29 20:10] aselle commented on #6414
Seems like learn might be a good place for this? Could you two @ilblackdragon  and @martinwicke  comment on your opinion of the feature. Thanks!

[2016-12-29 20:15] aselle commented on #6285
@zheng-xq, do you have any other thoughts. If we can't reproduce this, I will need to close it as unreproducible. Sorry :(.

[2016-12-29 20:24] asimshankar commented on #6546
We try to keep the Github issues focused on bugs and feature requests. Such a question is better suited for [stackoverflow](http://stackoverflow.com/questions/tagged/tensorflow). (Hence I'll close this issue)

When asking on stackoverflow, you might want to elaborate on what you need from TensorFlow. For example, do you want to train a model or run inference on a pre-trained model over a large set

[2016-12-29 20:24] #6546 closed

[2016-12-29 20:29] jart commented on #5349
This should be fixed now. See https://github.com/yifeif/tensorflow/commit/bb890ea5fa4c8a2100a295e93c5bf37b3c88b55a. So happy I was able to help you guys! Thank you for your patience.

[2016-12-29 20:29] jart commented on #5349
Whoops, re-opening because that commit hasn't been merged into master yet.

[2016-12-29 20:46] chitro commented on #3777
Has this issue been resolved? I'm seeing problems with wide_n_deep in TF 0.12.0 also in Windows 10 (new  version)

[2016-12-29 21:03] chitro commented on #4797
I am getting the same issue with TF 0.12 on windows. The Wide N deep turorial has several errors, including this one. I tried to ensure we have numbers in all features where conversions may be performed, rest being categorical data. Has anyone found a fix? The tutorial does not run at all on Win 10.

[2016-12-29 21:27] aselle commented on #6506
I would guess that it is pretty likely. If you were using ubuntu 14 (which is what we build on) I'd guess it would be likely to work. Try building your tensorflow from source on the same machine and see if that resolves the problem. Good luck!

[2016-12-29 21:36] annarev commented on #6490
This should be fixed in nightly build by this commit: https://github.com/tensorflow/tensorflow/commit/8940018192090c072ad50b81b36969d71ffb2c21

You can either use the nightly build or wait for next release.

[2016-12-29 21:36] #6490 closed

[2016-12-29 22:20] nmiculinic commented on #6506
Yeah, that fixed it when I rebuild from source. Can I somehow add ABI flag, that is ```-D_GLIBCXX_USE_CXX11_ABI=0``` when compiling using bazel? And then I can test if that's  the issue?

[2016-12-29 22:28] MircoT commented on #6473
I'm sorry but what do you mean as build configuration?

By the way I was working on a clean system with Ubuntu 16.04. The fresh installation has only the base things to build tensorflow, I followed the instructions from the main website and for bazel I used the repo installation.

The system was previously configured with Cuda framework with the proper video driver and toolkit, also complete with

[2016-12-29 22:52] shlens commented on #6415
There is no easy solution to this but it is feasible. There would be several manual steps:
1. Build a new Inception model.
2. Load all of the Tensor's except for the last layer with the `Saver`
3. For the final classification layer, selectively load Tensor's for the classes you wish to preserve or use in your new model making sure to associate each Tensor with the desired class index. For the othe

[2016-12-29 22:52] jart opened #6568 "Get rid of setdlopen() in tests"
We need to find a new strategy for loading `.so` files at runtime that depend on other `.so` files. This is so we can remove the dlopen hack, which is now present in >100 files.

The solution needs to meet the requirement that each .py file fully specifies its dependencies and does not rely on code in `__init__.py` files to run beforehand. This requirement is necessary in order to maintain the wor

[2016-12-29 23:06] mrry commented on #6568
Passing on the assignment to @keveman, since he came up with the library-loading code in the first place.

I don't understand why `setdlopenflags()` needs to appear in so many test files in the first place.
It seems (at least superficially) that the problem is easy to fix: we just need to ensure that all imports of `tensorflow.python.pywrap_tensorflow` are guarded by the same flag-setting-and-unse

[2016-12-29 23:15] aselle commented on #6555
done

On Wed, Dec 28, 2016 at 11:20 PM gunan <notifications@github.com> wrote:

[2016-12-29 23:24] Binay2011 commented on #5514
I found that TensorFlow v0.12 accepts the global_variables_initializer command

[2016-12-29 23:26] ghukill commented on #4944
Per @dr2mer's solution, as I'm building CUDA 6.5, changing that config parameter to `--config=config6.5` worked for me.

[2016-12-29 23:37] jart commented on #6568
29 files import that module. Even more probably import it indirectly via init files, which we might unroll in the future. I'm also considering breaking up our giant swig module into a bunch of tiny swig modules. Having to have the try/setdlopen-import/except/setdlopen every time we import a swig module isn't going to be great. A delegate module could work. But there might be a better option:

3. A

[2016-12-30 00:03] #5349 closed

[2016-12-30 00:12] girving commented on #6365
The gradient of mod is zero a.e., so it's TensorFlow gradient is zero everywhere.  We should definitely define a zero gradient (returning None).

[2016-12-30 00:13] girving commented on #6365
@aselle Unassigning myself since I'm on leave.

[2016-12-30 00:26] jart commented on #6568
Another thing we need to figure out how to do is situations like these:

[code]

The first swig module needs to be loaded in order for the second one to load. So we need to be able to generate code inside `pywrap_tensorflow_print_model_analysis_lib.py` that imports `pywrap_tensorflow`.

Now this seems like a build system issue. Maybe we could change our swig Bazel rule to mangle the `.i` input fil

[2016-12-30 00:42] mbz commented on #6116
Is there any news on this being ported over to TensorFlow? Seems to be a very straightforward patch.

[2016-12-30 00:47] jhseu commented on #6116
Looks like it hasn't been merged into gRPC yet. I'll make sure it gets into the 1.0 release.

[2016-12-30 00:56] zafartahirov commented on #6555
The `pushd` is silenced, but do we actually need it? I can see the use for it if we allow users to run `configure` from custom defined source directories. However, even in that case I would probably use something like

[code]

[2016-12-30 00:58] DjangoPeng commented on #6357
@aselle I'm working on it.

[2016-12-30 01:00] DjangoPeng commented on #6518
@aselle I'm working on it.

[2016-12-30 01:07] chrisranderson commented on #6448
That's the right idea - I still think it would be an improvement to the current sidebar. I guess you folks would have to A-B test it or something to see how much people use the sidebar the way it is vs. the comprehensive API list.

[2016-12-30 02:24] tobegit3hub commented on #5110
I have tried with 0.12.0 and it failed in the same way. The I trace and log the exception like this.

[code]

I was trying to export the generic signature and not sure why it need to feed the placeholder. It's caused by this line of code while it works in standalone mode.

[code]

[2016-12-30 02:34] StanislawAntol commented on #6558
I have had the same issue (except with --copt=-mavx2 instead of --copt=-march=native).

It seems that removing the two include lines, #include "src/Tensor/TensorContractionThreadPool.h", in [FixedPoint](https://github.com/tensorflow/tensorflow/blob/master/third_party/eigen3/unsupported/Eigen/CXX11/FixedPoint) from this commit (https://github.com/benoitsteiner/tensorflow/commit/8c943af3b139f07aa1f3

[2016-12-30 02:41] ebrevdo commented on #5930
This is fixed at head and will be in the next rc

On Dec 28, 2016 3:15 AM, "Gökçen Eraslan" <notifications@github.com> wrote:

[2016-12-30 02:42] ebrevdo commented on #4536
This seems useful to add. We're still reworking rnns a little. May take until late January to get to this.

[2016-12-30 03:04] tobegit3hub commented on #5110
Thanks for @asimshankar @aselle and @concretevitamin .

It's easy to reproduce. Can anyone help to verify the issue or give the proper example for distributed TensorFlow application to export the mode?

[2016-12-30 03:05] ericyue commented on #6374
thanks, I will try it and give my feedback.

[2016-12-30 03:17] codercotton commented on #4393
I can confirm that f.size() works, where f.Size() was throwing this error.

[2016-12-30 03:54] zafartahirov commented on #6558
@StanislawAntol I don't think your error is related -- you are running TF from the same directory where you cloned the repo. Try going to any other directory, the error will be different

[2016-12-30 04:06] milinddeore commented on #6496
Any quick way to disable FFMPEG from tensorflow?

[2016-12-30 04:14] tristanbrown commented on #6548
I tried adding the `--ignore-installed` flag, and it doesn't change the result at all.

[2016-12-30 04:21] jart commented on #6473
I'm glad to be of service. But please note for future reference that support is community-driven on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow). That is a more appropriate venue for issues like these. We try to keep this issue tracker limited to bugs and feature requests.

That said, you're most likely forgetting to link one of the TensorFlow shared objects into your prog

[2016-12-30 04:33] Carmezim commented on #6548
Are you using anaconda 64-bit distr. and did you get any errors during pip installation? If possible can you show a log?

[2016-12-30 04:44] tristanbrown commented on #6548
Yes, I'm using anaconda 64-bit, and there are no errors.
[code]

[2016-12-30 04:48] gunan commented on #6548
OK, one observation, you are installing tensorflow inside a conda environment, so tensorflow is only available in that conda environment.
by any chance, are you trying to run tensorflow outside this environment?

Another possible issue, is it possible you have multiple python distributions installed?

[2016-12-30 05:01] Carmezim commented on #6548
Couldn't reproduce the error. It's something on your side.
[code]

[2016-12-30 05:56] anddelu opened #6572 "Server finished RPC without an explicit exit code -bash: Server: command not found when use bazel build tensorflow"
### Environment info
Operating System:
centos 6.5 x86_64
ldd (GNU libc) 2.12
gcc (GCC) 4.8.2

If installed from source, provide

1. The commit hash (`git rev-parse HEAD`)
 [****tensorflow]# git rev-parse HEAD
ac28ae043df4bc6f112f964f6df22845b8a05390
2. The output of `bazel version`
bazel  0.4.3
I build bazel and install successfully

### If possible, provide a minimal reproducible example (We usua

[2016-12-30 06:28] mxmxlwlw commented on #6519
@inflation No. So you mean it didn't train?

[2016-12-30 08:21] iamgroot42 commented on #3270
Does the variable scope method work when working with Keras? Even while using different variable scopes, the models seem to be sharing weights.

[2016-12-30 09:45] JosiahKane opened #6573 "Error with bazel and protobuf building a project that depends on tensorflow in Windows"
We have a project that depends on Tensorflow, using the following in our WORKSPACE file:
local_repository(
  name = "org_tensorflow",
  path = __workspace_dir__ + "/Libraries/TensorFlow/",
)
and
"@org_tensorflow//tensorflow/core:tensorflow"
under deps in the BUILD file.
It builds correctly on osX.

We also have a Windows machine that we've set up to build tensorflow (Standard set up: VS 2015 commu

[2016-12-30 11:17] JosiahKane commented on #6573
Update: I have just noticed that my Mac was sitting on an old Tensorflow commit on master (d9c173f from the 5th of December), and that changing it to the latest commit on master or r0.12 introduces the same failure on the Mac.

However, setting Windows back to that commit still fails with a (different) proto error.

I suspect this means it is not a Bazel problem, and will have another look for err

[2016-12-30 11:20] #6573 closed

[2016-12-30 12:29] dynamitechetan opened #6574 "C drive space usage"
# **EDIT:  MY MITAKE**
**sorry guys**

//I ran this ..
docker run -it -v /$(pwd)/tf_files-local:/tf_files-container gcr.io/tensorflow/tensorflow:latest-devel

then started retrain.py to train my model. Suddenly it took around 60GB of my C drive. I tried to clean using CC Cleaner, Windows DiskCleaner, Uninstalled TensorFlow ,Deleted every file i created including bottleneck files, but still its tak

[2016-12-30 14:22] MircoT commented on #6473
I will switch to bazel but basically I followed these instructions :

https://www.tensorflow.org/versions/r0.11/how_tos/adding_an_op/#building_the_op_library

I wrote here because the problem happens only with the binary package provided on the official website and I didn't have any problems with the package compiled from source. For future similar cases I will use stackoverflow.

Thank you for th

[2016-12-30 14:30] sunhongtao commented on #5092
how do you use mesos to run tensorflow? marathon or some else framwork?  thank you!

[2016-12-30 14:39] natlachaman commented on #6087
I run into a similar error too, involving a while loop
`InvalidArgumentError: The node 'map_15/while/map/while/Variable/Assign' has inputs from different frames. The input 'map_15/while/map/while/Const' is in frame 'map_15/while/map/while/map_15/while/map/while/'. The input 'map_15/while/map/while/Variable' is in frame ''.`

What is the state of this issue?

[2016-12-30 15:02] RobRomijnders commented on #2237
@ibab did you manage to implement the recursive net this way? How did it end up?

[2016-12-30 15:23] stonebig commented on #5930
excuse me if it's the wrong place to ask. About when do you intend to do Tensorflow-0.13rc ?

[2016-12-30 16:37] #6574 closed

[2016-12-30 17:06] yaroslavvb commented on #2237
There's a TensorFlow library in the works that can do data-dependent computation using a single graph -- https://openreview.net/pdf?id=ryrGawqex

[2016-12-30 17:27] starfys commented on #6436
I upgraded Bazel from 0.3.1 to 0.4.3, and this issue was resolved for me as well.

[2016-12-30 18:17] ehsaanwelcome opened #6575 "does not work on my dataset"
Linux Unbuntu
Python 2.7

I did run word2vec_basic.py example successfully but as i change dataset from text8.zip to mydata.zip, i get following error

Traceback (most recent call last):
  File "../../statistics/word2vec/word2vec_basic.py", line 218, in <module>
    close_word = reverse_dictionary[nearest[k]]
KeyError: 21049

i have checked, my data is loading successfully in data array

[2016-12-30 18:21] jart commented on #6473
Thank you for clarifying. So this only happens if you try to use something in stringpiece.h with the binary release, but compiling TensorFlow from source on your computer works fine. So maybe this is an ABI compatibility type issue. Maybe you're using a different version of GCC than what we used to build the release.

Hey @mrry would we consider something like this to be a bug? Does `undefined sym

[2016-12-30 18:42] cristipp commented on #2237
Are there plans to open source TensorFlow Fold in the near future?

On Fri, Dec 30, 2016 at 9:07 AM, Yaroslav Bulatov <notifications@github.com>
wrote:

[2016-12-30 18:49] lukaszkaiser commented on #3270
When using objects, the idea is that same-object=shared-weights and different-objects=non-shared-weights. But it should be very simple to not share, just create the object twice. Or am I missing something?

[2016-12-30 18:56] yaroslavvb commented on #2237
The paper says it'll be made available with the final version of the ICLR submission, so I guess sometime before Feb 2nd?

[2016-12-30 20:28] EronWright opened #6576 "[Java] Bulk data transfer for Tensor class"
Enhance the `Tensor` class with bulk data-access methods, to support the following scenarios:
- serialization of tensors in managed code (regardless of tensor datatype)
- efficient transfer of large blocks of multidimensional data
- support for direct transfers (i.e. using direct `ByteBuffer`s)
- support for typed `Buffer`s

[2016-12-30 21:39] inflation commented on #6519
Yes, checkpoint files should be in the same folder. And they are automatically saved in some period when using supervisor if the path is valid.

[2016-12-30 22:08] inflation commented on #4640
@QoT That is a typical space issue of the path. Try to link to a path without any space or round the path in the script with quotes.

[2016-12-30 22:29] mrry commented on #6473
Yes it looks like the extension and the binary package use a different definition of `std::string`. The demangled name from the error message expands to:

    tensorflow::LogMemory::RecordRawDeallocation(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&, long long, void*, tensorflow::Allocator*, bool)

When I look for the corresponding symbol in the binary pack

[2016-12-30 22:43] mrry commented on #6472
This should be fixed at HEAD now that #6530 is merged. See e1362157e33a6fd6a66caefd083bd4afc27dc030 for the actual fix.

[2016-12-30 22:43] #6472 closed

[2016-12-30 23:18] Itaydal commented on #6560
Well, it currently breaks Keras with the new version of TensorFlow, but I guess that it should be solved there.
Thanks :)

[2016-12-30 23:18] #6560 closed

[2016-12-31 01:30] cgel opened #6578 "tf.rank not working. Increments each call"
When running this line:
```tf.rank(tf.placeholder(tf.int32))```
the output increments each time:
```<tf.Tensor 'Rank:0' shape=() dtype=int32>```
```<tf.Tensor 'Rank_1:0' shape=() dtype=int32>```
```<tf.Tensor 'Rank_2:0' shape=() dtype=int32>```

Ubuntu 14.04
Latest install from pip
Both gpu and cpu
0.12.0

[2016-12-31 01:38] mrry commented on #6360
At present, all TensorFlow variables (creating using the `tf.Variable` API) are associated with an [individual mutex](https://github.com/tensorflow/tensorflow/blob/2e22f1b20fdfa77b1332c518617391dc32359c5b/tensorflow/core/kernels/variable_ops.h#L33), which is acquired when that variable is the lvalue input to one of the assignment ops (like `"Assign"`) or one of the training ops that updates a set

[2016-12-31 01:50] mrry commented on #6578
Each call to `tf.rank()` is creating a new `tf.Tensor` object, and the number you see incrementing is a suffix added to operation names to make them unique.

(This kind of query is better handled on Stack Overflow, since it's neither a bug nor a feature request. Feel free to post a question there to continue the discussion.)

[2016-12-31 01:50] #6578 closed

[2016-12-31 01:55] mrry commented on #6563
I'm closing this because it probably doesn't need a response... feel free to reopen if it still doesn't work.

[2016-12-31 01:55] #6563 closed

[2016-12-31 02:13] cgel commented on #6578
Oh! So dumb! Sorry.

[2016-12-31 03:38] iamgroot42 commented on #3270
@lukaszkaiser that's what I did, but it doesn't seem to work. I have two models (in 2 different objects), A and B in the same session. Training only A gives 90% of so accuracy, while training B after A and then evaluating A gives less than random accuracy. This issue disappears when I run them in different threads, so it's probably something to do with two models in the same session (probably shar

[2016-12-31 06:44] krishnac7 opened #6579 "Just some Grammar"
![untitled](https://cloud.githubusercontent.com/assets/7543641/21576381/ac92b3a8-cf52-11e6-8662-8b72a36a7caf.png)

NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we clos

[2016-12-31 06:54] zafartahirov opened #6580 "`models` directory disappeared in the latest commit"
The documentation refers to `models/image/mnist/convolutional.py`, however it doesn't exist anymore. It exists in `r0.12`, but not `master`. In fact, the whole `models` directory is missing. If restructuring is going on, I think the documentation has to be updated.

[Here is the documentation that refers to it](https://github.com/tensorflow/tensorflow/blob/2e22f1b20/tensorflow/g3doc/get_started/os

[2016-12-31 06:57] zafartahirov commented on #6580
Forgot to clarify, the `master` under question is 2e22f1b20

[2016-12-31 07:07] louisway opened #6581 "Bazel：command not found"
I have install the bazel v0.3.2 per the instruction and it works well on the terminal.but when I was running ./configure, it comes with a result of "Bazel :command not found"

[2016-12-31 07:08] mxmxlwlw commented on #6519
I noticed that it's not the problem of summary. The training process can't even do one process step. Here's my new python code. Can you find what's the problem in that file? I really don't know how to fix it.
[doNet3.zip](https://github.com/tensorflow/tensorflow/files/679508/doNet3.zip)

[2016-12-31 07:11] zafartahirov commented on #6581
COuld you post more information about what is the operating system, how was bazel installed, also run these commands from your terminal and post the outputs:

[code]

If you are using Linux or Mac OS, also post this:

[code]

I am not sure what is the equivalent for `PATH` in Windows

[2016-12-31 08:57] gunan commented on #6581
This looks like a problem with your installation of bazel.
Not really a TensorFlow issue.

Please make sure in the same terminal you are running `./configure`, you can run `bazel version`.
You might need to add the location of bazel binary to your path.

Since this is a bazel installation issue, I am closing it. Please make sure to follow bazel installation documentation to make sure it is install

[2016-12-31 08:57] #6581 closed

[2016-12-31 09:03] gunan commented on #6568
/CC @drpngx

I think I like the idea of wrapping pywrap_tensorflow with a different module, and importing that wrapper in all locations pywrap_tensorflow is needed. I think this approach has some parallels with @drpngx 's approach for sealing the python API. Moreover, I think pywrap_tensorflow is still not sealed, so the wrapper can also do the job to seal it. What do you think?

However, once we

[2016-12-31 09:41] gunan commented on #6580
All models have been moved to `github.com/tensorflow/models` repository.
Some documentation is still left to be fixed, but we are working on them

@nealwu

[2016-12-31 10:34] beniroquai commented on #6401
Thank you very much! I'll try once I'm back at the GPU-enabled Computer ;-)

[2016-12-31 10:50] MircoT commented on #6473
I already compiled the extension with 'D_GLIBCXX_USE_CXX11_ABI=0' parameter but I have to try the suggested define inside my sources. I will do it soon but I think the problem is perfectly explained.

Is it possible to add that suggestion inside the documentation?

Thank you so much for the support, please be patient for a response, I can't try the fix right now.

[2016-12-31 11:13] chenbiaolong commented on #5092
@sunhongtao mesos can launch tasks in docker, no other frameworks are used in my code.I just build a docker image with tensorflow, and mesos launch container base on the image.you can read the https://github.com/douban/tfmesos for details, my code is based on that.

[2016-12-31 13:06] renwaiyouren commented on #3813
@martinwicke Can you give an example? Thank you very much. I am a freshman to tensorflow.

[2016-12-31 14:43] danijar commented on #6360
@mrry Thanks for the update. What do you think about explicit locking like the example in the first post?

[2016-12-31 15:20] jihunchoi opened #6582 "Incompatible state size between LSTMCell and LSTMBlockCell"
Hello,

I heard that the implementation of LSTMBlockCell is faster than that of LSTMCell, so I am trying to convert my codes using LSTMCell to use LSTMBlockCell.
However, I found one weird point: the types of state_size of the two are not compatible.
Specifically, LSTMCell's state_size is of type LSTMStateTuple and LSTMBlockCell's state_size is of type tuple.
As far as I know, tuple and LSTMStateT

[2016-12-31 16:04] martinwicke commented on #3813
Please check out this howto: https://www.tensorflow.org/how_tos/reading_data/

[2016-12-31 17:35] QoT commented on #4640
I am iOS developer and I typically have more than one versions on my system. Usually I call them like "Xcode 7.3" or "Xcode 8.2" without any problem.

But obvious some scripts have a problem with path what I did solve by excluding spaces as I did mention.

[2016-12-31 18:21] jeffheaton opened #6584 "SKCompat gives error when used with DNNClassifier"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-12-31 19:04] apiszcz commented on #2215
This may be work.
img = tf.reshape(img, (1,32,32,3))

[2016-12-31 21:02] Carmezim opened #6585 "Thank You TensorFlow Team!"
Special thanks to all TensorFlow engineers for your incredible work this year. Maintaining and developing so successfully a project of this magnitude isn't an easy work. I've personally always seen great attention to the issues and contributions made with an also prompt, helpful and nice attitude and believe the community is very grateful for all you've done this year and the excellence of your wo

[2016-12-31 21:26] zafartahirov commented on #6580
So is it a separate repo now?

If there is a push towards abstraction and modularization, shouldn't other folders become separate entities?

For example
 - [Tensorboard](https://github.com/tensorflow/tensorflow/tree/2e22f1b20fdfa77b1332c518617391dc32359c5b/tensorflow/tensorboard) could be a submodule, because although it is related, it more of a tool FOR TF rather than an integral part of it
- [Ex

[2016-12-31 23:24] danbergeland opened #6586 "Crash in Jupyter Notebook with conv2d - stream->parent()->GetConvolveAlgorithms(&algorithms)"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

I have googled for the issue on several fronts and found nothing close since the Windows release.

### Environment info
Operating System:
Windows 7-64bit.  Intel i3-6100 (64-bit), 8 gb DDR4, nVidia GTX 750 ti 2gb,

nVidia GPU driver: 369.30

Installed version of CUDA and cuDNN:
(please at

[2017-01-01 00:38] lukaszkaiser commented on #3270
This sounds like a bug. Could you create a small test file where this problem appears and attach here, so we can reproduce and try to correct it? Thanks!

[2017-01-01 03:05] drpngx commented on #6568
I left the pywrap unsealed, and under the tf namespace, because it's in the main package, and packages are different from modules, which are easier. I recently discovered a way to remove it from the main package, so I might try that. (The issue was that if you delete from the main package, you can't import it anymore. I found out that you can actually import it using `from ... python import foo` b

[2017-01-01 04:35] renwaiyouren commented on #3813
@martinwicke Thank you for your time. How to edit the function `input_fn` below to fix the ValueError: GraphDef cannot be larger than 2GB? Can you give another version of function `input_fn`? Thanks a lot. I am not very clear of how to do this edition with the link https://www.tensorflow.org/how_tos/reading_data/ after trying a lot with a lot of errors.
[code]

[2017-01-01 05:02] zakizhou commented on #6585
I just want to know what's the time of the v1.0 release and what kind of changes made to it

[2017-01-01 07:24] terrytangyuan commented on #6549
Thanks for reporting! I've submitted the fix.

[2017-01-01 09:03] advancedits opened #6589 "tensorflow.python.framework.errors_impl.NotFoundError: logs"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-01-01 11:40] pekaalto opened #6590 "tf.nn.softmax fails with dim > 0"
If I do this:

    import tensorflow as tf
    import numpy as np

    session = tf.InteractiveSession()
    logits = np.array([[1.0,2.0,4.0],[1.0, 1.0, 1.0]])

    tf.nn.softmax(logits,dim=1).eval()

I get:
`InvalidArgumentError (see above for traceback): Requires start <= limit when delta > 0: 2/1
	 [[Node: range_9 = Range[Tidx=DT_INT32, _device="/job:localhost/replica:0/task:0/cpu:0"](range_9/s

[2017-01-01 11:59] rsethur commented on #6384
+1
I'm having the same error using einsum where one of the dims is unknown.
It will be great to have this fixed.

[2017-01-01 13:10] #6549 closed

[2017-01-01 13:55] noammor commented on #6384
@aselle - Tested on 2.7, fails the same way:

	Traceback (most recent call last):
	  File "/tmp/test.py", line 7, in <module>
		C = tf.einsum('ijk,kl->ijl', A, B)
	  File "/home/noam/miniconda3/envs/2.7test/lib/python2.7/site-packages/tensorflow/python/ops/special_math_ops.py", line 212, in einsum
		axes_to_sum)
	  File "/home/noam/miniconda3/envs/2.7test/lib/python2.7/site-packages/tensorflow/pyt

[2017-01-01 14:26] as1ndu opened #6591 "WideNet in examples/learn throws error on UBUNTU 16.04 LTS"
Am running TensorFlow (0.11.0rc0) On Ubuntu 16.04 LTS installed via pip

I was going through the guides at  https://www.tensorflow.org/tutorials/wide_and_deep/  I thought that my code had an error, but then running the example script at  https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/learn/wide_n_deep_tutorial.py

Also throws the same error is the problem my environment?

[2017-01-01 14:45] innovationchef commented on #1962
I am facing the same error and write_meta_graph=False doesn't seem to work in my case. I have a RAM of about 5.5 GB. The training is aborted at the first step only. Can anyone suggest what could be the issue?

[2017-01-01 15:41] jihunchoi opened #6592 "About the implementation of recently added attentional seq2seq decoder function"
Hello, I heard a good news that the attentional seq2seq decoder function is recently added in the master branch.
It is a very pleasing news to me, since nowadays I have been struggling to implement the feature.

However, while reviewing the detailed implementation, I found some unclear points.

~~Firstly, in line 395-397 of attention_decoder_fn.py,
`attention_query` and `context` are concatenated

[2017-01-01 15:43] martinwicke commented on #3813
Please ask this type of question on StackOverflow.

Avoid calling tf.constant. Use tf.batch instead.

On Sat, Dec 31, 2016 at 20:37 zhangrong <notifications@github.com> wrote:

[2017-01-01 16:26] chaitanya2692 opened #6593 "MonitoredSession Implementation [awaiting response]"
I am trying to solve simple arithmetic operations on 4 separate devices which I was successful in doing. Now, I want to implement fault tolerance in my program in the event that one of the node fails. I am using the tf.train.MonitoredTrainingSession class to achieve the desired results. I am not confident about the implementation in my program as I am not getting a favorable output. Below is the p

[2017-01-01 17:30] #6592 closed

[2017-01-01 19:18] advancedits commented on #6589
The issue seemed to have been with my retrain statement. I changed it to this and it worked

`python tensorflow/examples/image_retraining/retrain.py --bottleneck_dir=/tf_files/bottlenecks --model_dir=/tf_files/inception --output_graph=/tf_files/retrained_graph.pb --output_labels=/tf_files/retrained_labels.txt --image_dir /tf_files/flower_photos`

[2017-01-01 19:18] #6589 closed

[2017-01-01 20:06] Nothing190 commented on #135
@yselivonchyk thank you, now it works =)

[2017-01-01 20:15] ahundt opened #6594 "http://zlib.net/zlib-1.2.8.tar.gz no longer available, needs http://zlib.net/zlib-1.2.9.tar.gz"
I'm attempting to install tensorflow 0.12.1 from the r0.12 banch.

zlib has been updated from 1.2.8 to 1.2.9 so it appears the link must be updated from:
http://zlib.net/zlib-1.2.8.tar.gz

to:
http://zlib.net/zlib-1.2.9.tar.gz

here is the error I'm getting:
[code]

[2017-01-01 20:27] ahundt commented on #6143
As per https://github.com/tensorflow/tensorflow/pull/6299 I'm not totally sure of the status of this, @aam-at have you picked this up in https://github.com/aam-at/tensorflow/tree/max_pool_grad_grad?

[2017-01-01 21:34] gunan commented on #6591
Could you see if the same problem exists in 0.12.1?

[2017-01-01 23:06] kumikokashii opened #6596 "[ Bug ] The 2nd Saver fails to recognize its Checkpoint State file."
**Operating System:** macOS Sierra

**Steps to Reproduce:**
1. In a session, create two Savers.
2. Let one of the Saver save the variables.
3. Let the other Saver save the variables in a different directory from the first Saver's destination directory.

**Result:**
An Info message is displayed indicating that a Checkpoint State file does not exist (https://github.com/tensorflow/tensorflow/blob/mas

[2017-01-01 23:25] lancezlin commented on #1244
pip install protobuf --upgrade and restart interpret works for me.

[2017-01-02 01:22] michaelisard commented on #6360
@alextp has been leading the design and implementation of the new variables and can give you details about status and immediate future plans.

We have in the past discussed high-level locks like the one you describe, but we have struggled to come up with the use cases to help design what is required. We in general like to keep as much of TensorFlow as possible functional, because it simplifies aut

[2017-01-02 01:34] Arora90 commented on #5036
Hvass-Labs's tutorials are very helpful. Would be great if you could implement the MetaGraph.

[2017-01-02 04:19] mxmxlwlw commented on #6519
Problem solved. I loss the code tf.train.start_queue_runners(sess=sess). It needs to run queue manually.

[2017-01-02 04:20] #6519 closed

[2017-01-02 07:27] jihunchoi opened #6597 "About the implementation of attention seq2seq decoder function"
I am very pleased to hear the news that the attention decoder function is added recently to the master branch.

However, the documentation of the function does not match with the actual implementation now.

1) Clarification on 'luong' option
Inspecting the code briefly, I guess the paper that the 'luong' option referencing is the following paper:
http://www.aclweb.org/anthology/D15-1166.
- When we

[2017-01-02 07:52] devanshdalal commented on #5870
Is this still open? I can work on this.

[2017-01-02 09:49] dhwajraj commented on #1978
now that tensorboard url is down ( https://www.tensorflow.org/tensorboard/index.html#graphs) . Having this feature becomes more important in usual workflow.

[2017-01-02 11:17] KeithYin opened #6598 "Type Error"
i have encounter an type error issue, and tried `import sys; reload(sys); sys.setdefaultencoding('UTF8')`.but i didn't work.
here is the detail
I tensorflow/stream_executor/dso_loader.cc:128] successfully opened CUDA library libcublas.so.8.0 locally
I tensorflow/stream_executor/dso_loader.cc:128] successfully opened CUDA library libcudnn.so.5 locally
I tensorflow/stream_executor/dso_loader.cc:128]

[2017-01-02 11:50] m9psy commented on #6594
For those wanderers with the same problem it can be fixed changing `tensorflow/tensorflow/workspace.bzl` from

[code]

To

[code]

[2017-01-02 11:54] rasmusbergpalm commented on #3937
Thanks for the explanation @yaroslavvb

I think I understand why this is happening. I still think it's pretty bad, regardless of why it is so.

Unfortunately, I don't have any opinion on how to fix it, as I'm not familiar with the TF source code.

[2017-01-02 12:21] as1ndu commented on #6591
Yeah it works.. thanx..

[2017-01-02 12:27] AllenAkhaumere commented on #6590
Thick to what works.

[2017-01-02 13:10] benoitsteiner commented on #22
@inferrna There in an [OpenCL specific section](https://github.com/benoitsteiner/tensorflow-opencl/blob/master/tensorflow/g3doc/get_started/os_setup.md#optional-install-opencl-experimental-linux-only) in the overall TensorFlow documentation. This will be published on the tensorflow.org site soon.

[2017-01-02 13:28] Mahdizade opened #6599 "memory leak in tensorflow_gpu 0.12.1"
**Hi, We use tensorflow for training our OCR system models. I simply train models in tensorflow 0.9 and former versions. after some upgrade in cuda and tensorflow, I see large memory leak in our server with 32GB RAM.**

### I have tried all of suggestions in [How to debug a memory leak in TensorFlow](http://stackoverflow.com/documentation/tensorflow/3883/how-to-debug-a-memory-leak-in-tensorflow#t=

[2017-01-02 13:58] yaroslavvb commented on #6599
It can be useful to do a memory profile using google [performance tools](http://goog-perftools.sourceforge.net/)

[2017-01-02 14:25] batuhandayioglugil commented on #25
As i see in this thread, everyone has a compatibility level 3. For those who has a compability of 2, is there any solution without compiling source code?
I tried nightly build shared by @gunan and got the error:
`tensorflow_gpu-0.12.0rc0-cp35-cp35m-win_amd64.whl is not a supported wheel on this platform.`

Current situation on a 16.04 Ubuntu.
`I tensorflow/core/common_runtime/gpu/gpu_device.cc:948

[2017-01-02 14:51] Mahdizade commented on #6599
@yaroslavvb I use google-pprof and heap profile save in /tmp folder. it takes too long time to train so the profile only contain near 150 itrations. the files uploaded [here](https://www.dropbox.com/s/2r2pqs4l0bjar9h/tmp.zip?dl=1)

[2017-01-02 15:25] yaroslavvb commented on #6599
if you combine it with pprof, you can get a graph and track down which function is responsible for allocating extra memory

[2017-01-02 16:01] Mahdizade commented on #6599
It doesn't show any function, this is the output of top30 command in pprof:
[code]
graph file uploaded [here](https://www.dropbox.com/s/mjo4kc17micbfw6/pprof3105.0.ps?dl=1), unfortunately I cant find a function is responsible for allocating extra memory

[2017-01-02 16:04] albertz opened #6602 "fatal error: tensorflow/stream_executor/lib/status.h: No such file or directory"
I try to write my own op and I have installed TensorFlow 0.12.0 with GPU support on Linux.

This code fails:
[code]
With error:
[code]

That files does not exists.
Some more include files seem to be missing. When grepping for `DeviceMemory` in the include path, the only file it finds is `include/tensorflow/core/util/stream_executor_util.h`.

[2017-01-02 16:40] foxik opened #6603 "Allow dynamic summary names in new summary interface"
This is a feature request connected with pull request #5558.

The new summary interface only allows Python strings as summary names, while the old one could use string tensors.

The new behaviour is considerably less flexible. Consider the case where you have train/devel/test data split, and you want to report summaries (`accuracy` for example) for each dataset individually (i.e., having them in t

[2017-01-02 16:47] yaroslavvb commented on #6599
That usage doesn't seem very high, why do you think there's a memory leak in queue? Memory usage can increase between versions without having a leak

[2017-01-02 16:54] Mahdizade commented on #6599
because I see a 32 GB memory usage after 700000 iterations. I think the cause is data, I use tfrecord and tensorflow queue for data handling. I am sure that I hadn't leak in version 0.9.

[2017-01-02 17:09] martinwicke commented on #6580
We moved the models/ directory to https://github.com/tensorflow/models because that makes more sense. We will likely do more such moves as you describe: we will likely keep a small number of small examples, but possibly less than we have. contrib is definitely a target for moving to its own repo, but we have to figure out a bunch of tooling to make that work well. As you say, tensorboard is also n

[2017-01-02 17:09] #6580 closed

[2017-01-02 17:27] aam-at commented on #6143
Currently, I am finishing tests for new kernels. You can check up max_pool_grad_grad branch in my fork. As soon as I finish, I will make pull request.

[2017-01-02 18:01] bodokaiser opened #6604 "add summary_feed_dict support to tf.train.Supervisor"
Example use case:

Current work around:

I could also provide a PR on interest.

[2017-01-02 18:17] fventer commented on #5598
Thanks!

I will be testing it asap.

Regards

Fritz Venter
fritz.venter@gmail.com
cell: +15122937896

On Wed, Dec 7, 2016 at 12:17 PM, nubbel <notifications@github.com> wrote:

[2017-01-02 18:36] vade commented on #6594
Had this issue as well, thanks @m9psy - your fix worked. :)

[2017-01-02 18:48] seungryulchoisc commented on #6594
This fix does not work for me. Instead, both zlib-1.2.8.tar.gz and zlib-1.2.9.tar.gz are moved under http://zlib.net/fossils/  So it needs to be

[code]

[2017-01-02 18:50] warmspringwinds opened #6605 "Commit to enable true fully convolutional application of network"
Hello,

I have created a pull request to tensorflow/models long time ago
and just want to point out that it will make using TF-Slim easier for
Image Segmentation:
https://github.com/tensorflow/models/pull/684

Is there a chance someone can review it?

Thank you.

[2017-01-02 19:16] devanshdalal commented on #4820
Hi, I am working on this, since haosdent is not working on it anymore.

[2017-01-02 19:18] ahundt commented on #6594
Suggested options for a permanent fix:

1. The github release could be used for the relevant files, which @madler of zlib himself conveniently provides https://github.com/madler/zlib/releases, perhaps releases here can be consistently expected in the future?
2. propose to zlib that they have a permalink available on zlib.net (or find/switch to it if it already exists)
3. As the stewards of tensorf

[2017-01-02 19:33] vrv commented on #25
@batuhandayioglugil too many of our GPU kernels rely on functionality that is only available in in 3.0 and above, so unfortunately you will need a newer GPU.  You might also consider trying one of the cloud services.

[2017-01-02 19:56] vrv commented on #6605
I have added reviewers to that PR, thanks.

[2017-01-02 19:56] #6605 closed

[2017-01-02 19:57] madler commented on #6594
There is already a permanent link for the current version: http://zlib.net/current/zlib.tar.gz .

[2017-01-02 19:59] adamcrume commented on #6594
Linking to the current version means that builds might not be repeatable.  (Of course, unexpected 404s lead to non-repeatable builds, too.)

[2017-01-02 20:16] ParkerLowrey commented on #6594
I think this has been fixed in the master branch already:
`urls = [
          "http://bazel-mirror.storage.googleapis.com/zlib.net/zlib-1.2.8.tar.gz",
           "http://zlib.net/zlib-1.2.8.tar.gz",
      ],`
(although the second url is now dead).

[2017-01-02 21:05] zafartahirov commented on #6548
I might be mistaken, but I always thought that Anaconda has its own package and environment control and didn't use `pip` or `venv`. Have you tried following the [`conda` instructions](https://www.tensorflow.org/get_started/os_setup#anaconda_installation)? I am not sure if the instructions are the same for Windows, but it should as simple as

[code]

[2017-01-02 21:33] aclaussen1 opened #6606 "could not destroy cudnn handle: CUDNN_STATUS_BAD_PARAM Check failed: stream->parent()-GetConvolveAlgorithms(&algorithms) ```"
I'm trying to use tensorflow for this project: https://github.com/ibab/tensorflow-wavenet

I've gotten to the point where when I import tensorflow, I get the messages that all the CUDA libraries are successfully opened locally.

I can run the following python code from https://www.tensorflow.org/get_started/os_setup#run_tensorflow_from_the_command_line and it works fine.

Hello, TensorFlow!

42

H

[2017-01-02 22:06] GarethZhang commented on #5643
@girving Hi, im running tensorflow wheel version 0.10.0 with gpu support (cuda-7.5) and getting the same error. When I tried to branch to r11.0, it successfully installs wheel version 0.11.0 but prompts errors saying that it requires cuda-8.0 libraries. Whereas 0.10.0 only requires cuda-7.5. Do you know if there's another way to fix this error with cuda-7.5 libraries? Thanks!

[2017-01-02 23:01] souterjk commented on #5036
Bump for asking for a meta graph

[2017-01-02 23:06] phg1024 commented on #4944
@StrangeTcy Commenting out `testonly=1` in the target `construction_fails_op` resolved the issue for me.

[2017-01-02 23:11] vade commented on #5757
Hi All.

Looking at the new graph transform tool as documented here:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/README.md#optimizing-for-deployment

It appears that the quantize_nodes pass has the same issue as discussed in this bug. I understand this is because 8 bit quantized operations on the X86/ 64 platform have likely not been optimized, but I'm j

[2017-01-02 23:12] bullwinkle2059 opened #6607 "tf.contrib.learn yields error message “module has no attribute 'learn' ”"
Here is a snippet of my code taken directly from the tf.contrib.learn tutorial

`# Load Data Sets
training_set = tf.contrib.learn.datasets.base.load_csv_with_header(
    filename = IRIS_TRAINING,
    target_dtype = np.int,
    features_dtype = `np.float32)`

Here is the error message:

`AttributeError                            Traceback (most recent call last)
<ipython-input-14-7122d1244c55> in <

[2017-01-02 23:34] bodokaiser commented on #6604
One possible solution I see with `tf.train.MonitoredTrainingSession`:

[code]

that we take the `feed_dict` argument of `session.run` and pass it down to every `hook` where we add that `feed_dict` as default to `tf.train.SessionRunArgs`.

[2017-01-03 00:32] yaroslavvb commented on #6604
What about using feed_fn like in FeedingQueueRunner?

On Jan 2, 2017 3:34 PM, "Bodo Kaiser" <notifications@github.com> wrote:

[2017-01-03 02:16] pengjiao123 opened #6610 "whether we have another function that have the same function as tf.select in the latest version？"
I found there is no "tf.select" in the latest version（tensorflow） ,so I want to know if we have another function that have the same function as tf.select

[2017-01-03 02:26] yaroslavvb commented on #6604
BTW, you can use supervisor `loop` construct to add a modified summary writer:

[code]

[2017-01-03 02:27] yaroslavvb commented on #6610
From [RELEASE.md for 0.12](https://github.com/tensorflow/tensorflow/blob/c72d891418c326794a913cc13382c104255fe1f2/RELEASE.md#breaking-changes-to-the-api-1)

`Deprecated tf.select op. tf.where should be used instead.`

[2017-01-03 02:38] #6610 closed

[2017-01-03 02:47] szb0 opened #6611 "Word2Vec Number of Steps in Example"
In the word2vec basic example (master/tensorflow/examples/tutorials/word2vec/word2vec_basic.py) the number of steps is set to 100001. Is this an arbitrary number?

Should there not be a len(data) // (2*skip_window + 1  + (batch_size // num_skips)) number of steps to go through the data set?

[2017-01-03 02:54] ahundt commented on #6594
@madler thanks for your reply! Unfortunately, a permanent link to the ever changing current version would make it difficult for a user to return to a version they previously had installed in an automated fashion if the link downloads different things now from what it downloads in the future. Plus bazel (and many other build tools) also require a hash so I think with the link you specified the brea

[2017-01-03 03:13] madler commented on #6594
As already noted, all of the versions are in http://zlib.net/fossils/ , including the current version.

[2017-01-03 03:30] gunan commented on #6548
virtualenv can still be made available when using anaconda, but you are right.
Anaconda has conda.

However, one important detail. We only have python 3.5 support in windows. so the `python=2.7` part in the command wont work in windows.

[2017-01-03 03:45] ahundt commented on #6594
@madler perfect! Thanks again for taking the time to give feedback.

Now with the bazel-mirror and knowing that the fossils links are permalinks I believe #6612 will resolve this if merged into r0.12.

[2017-01-03 03:49] chaitanya2692 commented on #6593
Would
 `RPCOptions` rpc_options = 13
in config.proto help me in anyway?

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/protobuf/config.proto

[2017-01-03 03:58] madler commented on #6594
By the way, the current version is 1.2.10.

[2017-01-03 05:58] DingKe commented on #2793
any update?

[2017-01-03 06:25] batuhandayioglugil commented on #25
@vrv i came to this point after spending quite time on these issues and buying a new PSU so it costed me a lot. To avoid further waste of time, i want to ask a question: there are at least 15 deep learning library that i heard. Cuda and cuDNN was necessary for tensorflow. Is this situation (compute capability) special for cuda library? May i have any other chances? if not, i will give up right kno

[2017-01-03 06:50] vrv commented on #25
I think it will be more trouble than it's worth trying to get your 2.0 card working -- it's possible your existing CPU might be as fast or faster than your specific GPU, and a lot less trouble to get started.  I do not know what other libraries require, unfortunately.

[2017-01-03 09:27] bodokaiser commented on #6604
This problem is not limited to `TensorLoggingHook` and `SummarySaverHook` but also to custom `SessionRunHook`s which at the moment provide the modular interface to organize such things around your training / testing evaluation.

As we already have support for `init_dict` and `init_fn` on many interfaces (e.g. `tf.train.Supervisor`, `tf.train.Scaffold` I guess it would be consistent to add somethin

[2017-01-03 09:35] xia342560937 commented on #6235
I c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\stream_executor\dso_loader.cc:119] Couldn't open CUDA library cublas64_80.dll
I c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\stream_executor\cuda\cuda_blas.cc:2294] Unable to load cuBLAS DSO.
I c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\stream_executor\dso_loader.

[2017-01-03 09:41] ojss commented on #3723
@the13fools pretty sure I did that. Anyway I shall try it once again.

[2017-01-03 09:57] davidzchen commented on #4848
The reason why this is happening is that it looks like `bazel clean` is, as Damien described, invalidating the repository created by `cuda_configure`, and because the environment variables used by `cuda_configure` are no longer set (since they were only set in the subshell when `./configure` ran), we end up re-fetching with all default values and thus configuring the repository to not build with G

[2017-01-03 10:02] AlexandreBriot commented on #6561
Thanks for your answer !
I tried to run optimze_for_inference.py.
It works to remove the unneeded input nodes but it also removed other nodes at the end of the GraphDef before the output node. Do you have any idea about what I could have done wrong ?

Here is how I proceed
[code]
Then printing the first and last nodes names of my out_graph_def
[code]
I get

[code]

Which is OK for input but KO for

[2017-01-03 10:05] louisway opened #6613 "tensorflow cannot download packages when run ./configure"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-01-03 11:40] wih1 commented on #6266
I have the same problem with the tensorflow/tensorflow:0.12.1 image. In older images Pillow was included but it's missing in newer images.

I checked the [Dockerfile](https://github.com/tensorflow/tensorflow/blob/55b01593515817992821423fec19733bca91c918/tensorflow/tools/docker/Dockerfile#L33) and it contains the instructions to install Pillow but the image from docker hub is build without.
[code]

[2017-01-03 11:44] JosiahKane opened #6614 "zlib has disappeared"
Obviously this isn't your doing, but http://zlib.net/zlib-1.2.8.tar.gz and http://zlib.net/zlib-1.2.9.tar.gz are no longer on that server. The new http://zlib.net/zlib-1.2.10.tar.gz released yesterday is there.

Because dependencies are downloaded as needed this is breaking the build.

[2017-01-03 12:18] JosiahKane commented on #6614
Duplicate to https://github.com/tensorflow/tensorflow/issues/6594

[2017-01-03 12:18] #6614 closed

[2017-01-03 12:57] carlthome commented on #6604
Related: http://stackoverflow.com/questions/41366248/using-tf-train-supervisors-default-summary-op-on-validation-data

[2017-01-03 13:08] ZahlGraf commented on #4705
I compiled Tensorflow on my Jetson TX1 for around 4 hours. Then the compilation was finished without compile errors, but it shows a strange error, that some artifacts are missing.

I want to start compile process again with higher verbosity and suddenly I get the error:

[code]

Which is complete nonsense, since I really switched on CUDA support during configure. And of course I will not run confi

[2017-01-03 13:23] DjangoPeng commented on #6518
@albertz Could you give me a test input and right output sample?

[2017-01-03 13:50] yoslber opened #6616 "fake_quant_with_min_max_args has odd behavior"
### Description

On a simple linear regression example, `fake_quant_with_min_max_args` is not working. If I change to `fake_quant_with_min_max_vars` with trainable quantization min/max ranges, it works just fine.
The min/max values are the same in both approaches.
Reproducer included below.

### What related GitHub issues or StackOverflow threads have you found by searching the web for your proble

[2017-01-03 13:56] feiyue1230 commented on #6393
@soliders  Hello, I have the same problem with you. So I try to fix it by ' chmod -R 777 /usr/local/lib/python2.7/dist-packages/tensorflow'. But this treatment is invalid. Can you share your approach?

[2017-01-03 15:06] #6585 closed

[2017-01-03 16:44] shlens commented on #6397
@Hvass-Labs Would you be able to make a proper pull request for this code? Please include a unit test in:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/image_ops_test.py.

Note that the second argument to `images` seems to have more indices then the dimensions. Not sure if this is a potential bug.

[2017-01-03 17:11] vincentvanhoucke commented on #2164
Reassigning to @shlens for triaging, since it's becoming more than a cosmetic issue.

[2017-01-03 17:20] aselle commented on #6496
Not off hand you could try commenting out contrib/ffmpeg/BUILD.

[2017-01-03 17:25] aselle commented on #6555
I'm confused. That code does seems to have an extra line and capture SOURCE_BASE_DIR of where you run it from rather than where configure is.

[2017-01-03 17:36] aselle commented on #2626
You can debug what libraries are being used by using LD_DEBUG environment variable to enable deubg printouts of the dynamic loader.
[code]
try that... make sure to resolve any generic ones... like i get
[code]
but that is actually
[code]
Try removing the cuda 7.5 stuff. It likely is loading an incompatible library. If this doesn't work, build from a clean sandbox in case it built partially with 7.

[2017-01-03 17:37] mrry commented on #6473
I just took a look at [the docs](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/how_tos/adding_an_op/index.md), and apparently there is a note buried in there:

If there's something you'd like to improve there, please feel free to submit a PR!

[2017-01-03 17:49] thepurpleowl opened #6618 "Could not resolve github.com"
I am trying for tensorflow for poets and while doing the following in docker image
`cd /tensorflow`
`git pull`

error:
`fatal: unable to access 'https://github.com/tensorflow/tensorflow.git/': Could not resolve host: github.com`

### attempted solutions
followed the issue discussion `https://github.com/discourse/discourse_docker/issues/68`
After editing `/etc/default/docker`, uncommenting the DOCK

[2017-01-03 18:27] aselle commented on #6437
You might ask on StackOverflow and see if there exists a feature like that, but I am not aware of such.

[2017-01-03 18:28] aselle commented on #6440
@nealwu, could this be related to your migrations? Could you fix the instructions to flex this if so.

[2017-01-03 18:29] aselle commented on #6456
@concretevitamin, is this possibly related to the new checpkpoint format?

[2017-01-03 18:30] shlens commented on #2164
@petewarden What would it take to employ this version of Inception-v3 http://download.tensorflow.org/models/inception_v3_2016_08_28.tar.gz for the image recognition tutorial?

[2017-01-03 18:30] yaroslavvb commented on #6604
@bodokaiser yes, `feed_dict` is only needed for data external to TensorFlow. So `feed_dict={x: batch[0].eval(session=session),` is a bit odd, since data is in TF already

[2017-01-03 18:32] gunan commented on #6618
This one looks like it is an internet/github connection issue.
There is nothing we can do for this on TF side, as the problem happens before you even connect to github.

[2017-01-03 18:32] #6618 closed

[2017-01-03 18:32] aselle commented on #6476
Could you provide a motivating example of what you want and how it could be used? Depending on what you are indicating, perhaps a TensorArray or queue might fit the bill.

[2017-01-03 18:33] thepurpleowl commented on #6618
but I am able to connect and reach github.com on browser.

[2017-01-03 18:33] name-name commented on #6509
Thanks for sharing!! I had the same problem and when I replace the tf.one_hot by the following hand-written implementation it finally works.
#instead of    one_hot_y = tf.one_hot(y, 43)

num_labels = 43
sparse_labels = tf.reshape(y, [-1, 1])
derived_size = tf.shape(sparse_labels)[0]
indices = tf.reshape(tf.range(0, derived_size, 1), [-1, 1])
concated = tf.concat(1, [indices, sparse_labels])
outsha

[2017-01-03 18:35] aselle commented on #6452
If you are not using tcmalloc, you should definitely try that first. It also might be the case that you are not using queues and instead trying to load all data on the GPU? How many images are you loading into memory. 8 GB of GPU memory would allow you to load 233 images (i.e. 1750*1750*sizeof(float)*3 bytes per image). Also, please reask this on stack overflow since it involves your custom code r

[2017-01-03 18:46] yaroslavvb commented on #6553
You can see [from implementation](https://github.com/tensorflow/tensorflow/blob/64edd34ce69b4a8033af5d217cb8894105297d8a/tensorflow/python/client/session.py#L1315) that `InteractiveSession` uses regular `Session`, and registers it to be the default session. So I can't see how the difference would cause DeviceAssignment error you are seeing. If this is still a problem, can you provide a reproducibl

[2017-01-03 18:48] davidzchen commented on #3980
The first part is done. I haven't found a good solution to the second part yet, but I do have a patch that is almost done for the third part.

[2017-01-03 18:50] gunan commented on #6618
Still, docker, git and github are tools/resources we use but we do not manage.
I do not see how we can help with this.

[2017-01-03 18:53] thepurpleowl commented on #6618
As for some people, the issue solved by editing `/etc/default/docker` in the discourse_docker issue `https://github.com/discourse/discourse_docker/issues/68`, I hope there is something you can suggest.

[2017-01-03 19:00] gunan commented on #6613
I manually tried all the packages in the error messages above, and they all download ok for me.
Also, our CI is able to download all of these packages OK.

Could you try again? maybe it is a transient connection issue on your end.

[2017-01-03 19:08] danmane commented on #6532
Hi @nikitakit, thanks for the suggestion!

@bdilday sent a pull request a few months ago (#3876) which added y-axis log scales on a per chart basis. I think it shouldn't be too hard to add x-axis log scales either. The main question in my mind is how to incorporate it into the UI: should it be a per-chart switch (like the y-axis log scales) or a global switch? Right now we coordinate all the x-axe

[2017-01-03 19:28] foxik commented on #6603
Also see #6150, which describes related issue -- summaries cannot be named as another existing op in the graph. So for example, if there is an op `loss` in the graph, it is not possible to create summary with the same name.

The proposal in #6150 is to optionally pass the whole name of the summary (not just a prefix) as a string tensor. That would also solve my problem.

[2017-01-03 19:37] yaroslavvb commented on #6150
This request came up on SO [as well](http://stackoverflow.com/questions/41027247/tensorflow-0-12-0rc-tf-summary-scalar-error-using-placeholders), @danmane for comment

[2017-01-03 19:41] RunshengSong commented on #6393
@feiyue1230 did you install tensorflow in conda environment? if so you need to run: python /home/runsheng/anaconda2/envs/tensorflow/lib/python2.7/site-packages/tensorflow/models/image/mnist.

At least this was my case.

[2017-01-03 20:14] nealwu commented on #6580
Thanks for reporting this @zafartahirov. The documentation you linked to though instructs you to clone the [TensorFlow models repo](https://github.com/tensorflow/models), so it looks fine to me. Let us know if you find other outdated documentation.

[2017-01-03 20:54] boche opened #6620 "CudnnLSTM doesn't work with AdamOptimizer"
I am testing how to use CudnnLSTM, there is not a lot of documentation on this. In my own experiment, I found when use AdamOptimizer with CudnnLSTM, it always raises the following Exception.

I also found another repository using CudnnLSTM, and uploaded it here: https://github.com/boche/LM-PTB-CUDNNLSTM. It also raises the same exception.

For now, using GradientDescentOptimizer is okay, but it se

[2017-01-03 21:16] prb12 commented on #3937
It's pretty hard to come up with a generic 'magically debug my big hairy numeric algorithm' solution when internally code is written to produce and mask numeric errors.  It's even harder to do this without destroying performance on GPU.

At one point in distant history, I remember reading the code of an inception model which only added explicit CheckNumerics ops just before writing gradients back

[2017-01-03 21:34] zafartahirov commented on #6555
@aselle That what the original script was doing -- I assumed it was on purpose -- the only reason it would be required is if there are two different locations that the script would have to work with: one where `SOURCE_BASE_DIR` is, and another where the `configure` is located. Assuming TF allows them to be in different locations, it makes sense to keep one of them on a stack, while working in the

[2017-01-03 21:39] dyelax commented on #842
Has anyone started working on this? I might take a shot at it if there are no ongoing efforts

[2017-01-03 22:08] zafartahirov commented on #6580
Oh yeah, sorry -- I meant to link to the [official docs](https://www.tensorflow.org/get_started/os_setup#run_a_tensorflow_demo_model)

[2017-01-03 22:14] nealwu commented on #6580
OK got it. The reason for this is that the current default version of the docs is r0.12 (which should also be the version you get if you use pip to install tensorflow).

If you look at the [master version of the docs](https://www.tensorflow.org/versions/master/get_started/os_setup) instead, it should be up to date with the master version of the code.

[2017-01-03 22:53] nealwu commented on #6440
I tried this out with the current master version of TensorFlow and with r0.12, and they both worked for me.

Make sure you are either building TensorFlow from the master version of the repository and running the latest [code in the models repo](https://github.com/tensorflow/models/tree/master/tutorials/rnn/ptb) or running TensorFlow r0.12 with the r0.12 version of the model (https://github.com/ten

[2017-01-03 22:53] #6440 closed

[2017-01-03 22:54] nealwu commented on #6440
If it's still not working after that, feel free to reopen this.

[2017-01-03 22:55] shaayaansayed commented on #5987
+1

[2017-01-03 23:00] jhseu commented on #6402
Closing this out because 0.12.1 was released.

[2017-01-03 23:00] #6402 closed

[2017-01-03 23:24] gunan commented on #6607
Please make sure to fill out all of the template when filing bugs.
Which operating system are you running on?
Which version of tensorflow are you using?

In our setups we cannot reproduce this problem. We need much more information than you provided if we are to help you with this problem.

[2017-01-04 00:17] inflation commented on #4705
@ZahlGraf I believe it is the same issue with #4848.

[2017-01-04 00:28] inflation commented on #6598
What you have is a TensorFlow op, so maybe you can run it and get the value.

[2017-01-04 00:30] ronrest commented on #6594
Are any of the code suggestions working for anyone? I tried the [code suggested by seungryulchoisc](https://github.com/tensorflow/tensorflow/issues/6594#issuecomment-270007654) and the code in [ahundt's  commit](https://github.com/ahundt/tensorflow/commit/d1e6fec4a07a873c8c939a8b5991726c9b3f2a30?diff=split)

But i still get the following errors when trying to compile from source on an Amazon P2 in

[2017-01-04 00:56] BKJackson commented on #136
Would running this in a terminal console avoid memory problems compared to the Python notebook?

[2017-01-04 00:59] yaroslavvb commented on #6598
This doesn't seem like a feature request or a bug in TensorFlow, could you repost this on stackoverflow instead with tensorflow tag? That tag is monitored by TF team and many volunteers

[2017-01-04 01:07] yaroslavvb commented on #6590
Documentation is confusing. It says the default is the `last dimension`, which I would expect to be `dim=1` for a tensor with shape=(2,), @yuefengz can you comment?

[2017-01-04 01:08] #6598 closed

[2017-01-04 01:18] yaroslavvb commented on #136
The problem is that one of the layers needs 2GB of RAM for the activations if you use batch size 10k. So running in terminal would not avoid memory problems.

See https://github.com/tensorflow/tensorflow/issues/6019#issuecomment-267881864 for memory analysis

[2017-01-04 01:21] yaroslavvb commented on #6599
@zffchen78 do you have any idea why google perf tools shows "29.5% 00007f8a8afae90e" instead of symbol name in the memory dump? Does it mean this memory was allocated outside of tensorflow?

[2017-01-04 01:23] BaiGang opened #6622 "Minor doc issue - Param order in nce_loss in word2vec tutorial"
In section 'Building the graph' of g3doc/tutorials/word2vec/index.md:

[code]

Whereas the actual order of parameters is, as in python/ops/nn_impl.py, is defined as:

[code]

So the `embed` and the `train_labels` parameters in the code excerpt in the word2vec tutorial page should be swapped to match the definition of `tf.nn.nce_loss()`.

[2017-01-04 01:24] yaroslavvb commented on #6579
I'm assuming this is the retraining tutorial, the grammar seems to be fixed at head -- https://github.com/tensorflow/tensorflow/blob/4172ca2cd7ac34be67bda2600944d284e8907b95/tensorflow/g3doc/how_tos/image_retraining/index.md

[2017-01-04 01:24] #6579 closed

[2017-01-04 01:27] yaroslavvb commented on #6586
Can you provide a reproducible example? (ie, the model) This error can happen when you give 0 dimensions to conv2d

[2017-01-04 01:30] Ghost---Shadow commented on #6235
@xia342560937  Is your `C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0\bin` folder in path?

[2017-01-04 01:31] yaroslavvb commented on #6575
Closing as it doesn't seem to be a bug in TensorFlow or feature request. Posting on StackOverflow with tag:tensorflow may elicit some help how to modify the example to work on custom datasets

[2017-01-04 01:31] #6575 closed

[2017-01-04 01:36] yaroslavvb commented on #6551
@ilblackdragon have you used Saver with your fixed size partitioner successfully?

[2017-01-04 01:37] yaroslavvb commented on #6539
@albertz would you like to do a PR to fix this? :)

[2017-01-04 02:11] eromoe opened #6623 "Where is the skflow examples ??"
https://github.com/tensorflow/skflow/tree/master/examples

It says skflow examples has moved to https://github.com/tensorflow/skflow/tree/master/examples, but this  folder is empty.

[2017-01-04 02:32] elibixby opened #6624 "Fail with error (rather than hanging) when init_op requires starting queues (ManagedSesssion etc)"
In 0.12 and in master

`MonitoredSession` wraps the original `SessionCreator` in a `_CoordinatedSessionCreator` in an attempt to ensure queue runners are started before the session is run, however the original session has to be created first (as it is an argument to start_queue_runner). In the case of `ChiefSessionCreator`, `ChiefSessionCreator.create_session` calls `ChiefSessionCreator._get_sessi

[2017-01-04 02:53] i-xying commented on #1402
I really have the same error. but when i update my tensorflow, it's resolved.
sudo yum install python-pip python-dev
export TF_BINARY_URL=https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.12.1-cp27-none-linux_x86_64.whl
sudo pip install --upgrade $TF_BINARY_URL

[2017-01-04 02:57] danbergeland commented on #6586
I'm sure it's not the issue.  The code works fine on Windows using CPU.  Since I've posted this, I've installed Ubuntu and the same code, with no changes, runs just fine on tensorflow with GPU support.

[2017-01-04 03:21] gunan commented on #6602
AFAIK when adding new ops, you need to install from sources:
https://www.tensorflow.org/how_tos/adding_an_op/

From your description, I think you maybe installed the pip package?
When I look at our repo, both master and r0.12 branch has the file:
https://github.com/tensorflow/tensorflow/blob/r0.12/tensorflow/core/platform/stream_executor.h
https://github.com/tensorflow/tensorflow/blob/master/tenso

[2017-01-04 03:38] gunan commented on #6623
Looks like they are moved under `tensorflow/examples/learn` by https://github.com/tensorflow/tensorflow/commit/f9b6d55ffd630082efd088fca927f7d991fdf3fa#diff-4b9849eed2f5253aaddd26fbf7afdef2

We might need to update the pointers from the old repo.

[2017-01-04 03:42] yaroslavvb commented on #6508
To summarize, it looks like parameter server on Cray starts configured to use 1 core, which is not enough to keep up with 64 workers. As a result, the memory usage of ps grows without bound, possibly due to grpc backlog. The growth without bound might be something that can only be fixed on grpc side -- https://github.com/grpc/grpc

As far as TensorFlow thinking Cray computers only have one core, t

[2017-01-04 03:43] vrv commented on #6602
It's possible our stream executor headers are not packaged in pip. I can take a look tomorrow

[2017-01-04 04:14] yaroslavvb commented on #6558
So I'm running into same problem when trying to compile with avx/avx2. The following works on "tags/0.12.0-rc1" tag, but doesn't work on today's head. @benoitsteiner -- something in the last 2 weeks broke avx/avx2 compilation, what do you think about @fnl's solution in https://github.com/tensorflow/tensorflow/issues/6558#issuecomment-269643996 ?

[code]

[2017-01-04 04:16] mrry commented on #6624
Unless I'm mistaken, it's quite important for initialization to happen before starting the queue runners, because [`input_producer()`](https://github.com/tensorflow/tensorflow/blob/7c36309c37b04843030664cdc64aca2bb7d6ecaa/tensorflow/python/training/input.py#L101) calls [`limit_epochs()`](https://github.com/tensorflow/tensorflow/blob/7c36309c37b04843030664cdc64aca2bb7d6ecaa/tensorflow/python/traini

[2017-01-04 04:17] yaroslavvb commented on #6495
That link suggests GPU support is not possible in Docker for Mac, would you be willing to send a PR to fix this documentation issue?

[2017-01-04 04:26] sirinath commented on #6476
Question arises is not efficient is arrays for one by one shifting. A form of array can be used it the axis was circular.

[2017-01-04 04:35] ilblackdragon commented on #6623
Indeed, skflow is renamed to learn [tf.learn] so examples have moved.
I've updated pointer and we probably should remove that repository soon.

[2017-01-04 04:35] #6623 closed

[2017-01-04 04:41] ilblackdragon commented on #6551
Hm, weird - restoring should work as it works with other partitioners.
I can take a quick look tomorrow, may be something changed with Saver v2.

[2017-01-04 05:57] gunan commented on #3357
I think this is now obsolete, because we switched to libjpeg-turbo.
Please file a new issue if you still run into this problem.

[2017-01-04 05:57] #3357 closed

[2017-01-04 05:57] gunan commented on #3309
Is this issue resolved?
Can we close if it is?

[2017-01-04 05:59] gunan commented on #3202
Half plus two rules have been modofied, due to other issues caused by them.
This issue should be resolved as a side effect.
I will close this issue, but please reopen and assign to me if the issue is still there at master or 0.12

[2017-01-04 05:59] #3202 closed

[2017-01-04 06:04] gunan commented on #3200
I see that the suggested changes have been made to the file.
https://github.com/tensorflow/tensorflow/commit/ab30c2d368ecd7fc691de15a1a8b242ad59bc2af seems to have resolved this. Closing issue.

[2017-01-04 06:04] #3200 closed

[2017-01-04 06:07] beniz commented on #6594
Simple fix that has been working for me for days:

- edit `tensorflow/workspace.bzl`
- replace `zlib-1.2.8` with `zlib-1.2.10`
- remove the `sha256` line

or use this patch:
[code]

[2017-01-04 06:07] gunan commented on #3674
Closing issue due to inactivity.

[2017-01-04 06:07] #3674 closed

[2017-01-04 06:13] gunan commented on #4368
Closing due to inactivity.
All our continuous builds and my local tests are clear of this problem. Please file a new issue if the problem persists.

[2017-01-04 06:13] #4368 closed

[2017-01-04 06:17] gunan commented on #5341
Judging from the last comments, this should be resolved in 0.12.1

[2017-01-04 06:17] #5341 closed

[2017-01-04 06:18] gunan commented on #5191
This issue should be resolved in both master and 0.12

[2017-01-04 06:18] #5191 closed

[2017-01-04 06:20] gunan commented on #5434
Closing issue due to inactivity.
In the unsupported OSs, asking via Stackoverflow might get better help, as you will have a wider audience there, which will include more CentOS users.

[2017-01-04 06:20] #5434 closed

[2017-01-04 06:23] #5895 closed

[2017-01-04 07:15] gunan commented on #6021
Closing the issue  due to inactivity.

[2017-01-04 07:15] #6021 closed

[2017-01-04 07:22] gunan commented on #6177
Closing due to inactivity.
The link you have seems to be broken, and issue number 500 in models repo seems to be unrelated.
For posterity, could you repaste which issue/pr you think resolves the problem?

[2017-01-04 07:22] #6177 closed

[2017-01-04 07:32] xusong2008 opened #6627 "TypeError: strided_slice() takes at least 4 arguments (3 given)"
I have check the error.  And I find that the bug has been fixed in github code.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/array_ops.py

lastest github version:
`def strided_slice(input_,
                  begin,
                  end,
                  strides=None,`

lastest whl version:
`def strided_slice(input_,
                  begin,
                  end,

[2017-01-04 07:43] gunan commented on #6540
Building and distributing an `egg` file is not planned for tensorflow, as it is the old deprecated standard.
I will close this issue now.

[2017-01-04 07:43] #6540 closed

[2017-01-04 07:53] chaitanya2692 commented on #6416
I have written a very simple program but couldn't get the desired output. I have also [posted an issue](https://github.com/tensorflow/tensorflow/issues/6593) on github.

Could you please let me know if I am going the right way or atleast redirect me towards a tutorial to better understand the usage of monitored session?

[2017-01-04 08:27] tillahoffmann commented on #6613
I had similar troubles because my `bazel` was outdated. It works fine for me on `bazel` 0.4.3.

[2017-01-04 08:49] ZahlGraf commented on #4834
@gwljf
The referred thread is very long and there are many different issues handled.
Which solution was the solution, that helped in your case?

[2017-01-04 08:58] tillahoffmann opened #6629 "Feature request: configuration files for tensorflow"
Matplotlib and theano provide [`matplotlibrc`](http://matplotlib.org/users/customizing.html) and [`theanorc`](http://deeplearning.net/software/theano/library/config.html) files to configure the libraries, respectively. It would be great if we could add such functionality to tensorflow.

In particular, it would be great to

* expose a `floatX` variable such that it is straightforward to switch betw

[2017-01-04 09:06] DjangoPeng opened #6630 "[Docs] A mismatch bug in api_docs"
There is a mismatch bug in api_docs about [tf.graph](https://www.tensorflow.org/api_docs/python/framework/core_graph_data_structures#Graph). It's easy to find that **tf.Graph.__init__() {:#Graph.init}** is a error. And I check the original script [ops.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/framework/ops.py#L2003), it seems like the `{:#Graph.init}` is added by o

[2017-01-04 10:04] meteorcloudy opened #6631 "tf-master-win-bzl is failing due to dependency on //tensorflow/contrib/framework:framework_py"
http://ci.tensorflow.org/job/tf-master-win-bzl/245/

Many targets, including `//tensorflow/contrib/framework:framework_py`, in `//tensorflow/contrib:contrib_py` currently don't build on Windows with Bazel, it is [excluded from `//tensorflow/python:python`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/BUILD#L72)

cc0de74ff0fbaee205826f7cef23e91892fb5db2 introduced the depe

[2017-01-04 10:56] albertz opened #6633 "CudnnRnnSequenceTensorDescriptor should support different sequence lengths"
According to the cuDNN docs, the functions `cudnnRNNForwardInference` / `cudnnRNNForwardTraining` get the argument `cudnnTensorDescriptor_t* xDesc`, where:

xDesc: Array of tensor descriptors. Each must have the same second dimension. The first dimension may decrease from element n to element n + 1 but may not increase.

The usage of `xDesc` is a bit non-straight-forward. I wrote about that in mor

[2017-01-04 11:05] wiso commented on #1402
I have the same problem on fedora 25. I tried all the proposed solution. It works for tensorflow, but not for tensorflow-gpu

[2017-01-04 11:07] tarvaina opened #6634 "Nestable custom_getters"
In TF 0.12 (and probably in earlier versions too), only one custom_getter is active at a time:

[code]

This is surprising to the user – at least to me it was – and limits the usefulness of custom_getters.

I propose that nested custom_getters are applied recursively instead, like this:

[code]

This would be useful since we often want to apply different transformations to weights before they are

[2017-01-04 12:21] monkeyMozart commented on #4697
change ptb_producer to pt_iterator

[2017-01-04 12:52] ZahlGraf commented on #4705
Hi, thanks for your answer.

I did not find a method to recover from this situation, thus I had to wait again 4h.
However I found a workaround, which helps me to recover from this issue in past situations:

*Before* calling `./configure` I just set several environment variables in my shell:
[code]

With this setup, I was able to rebuild as many times as I want without running configure again.

Her

[2017-01-04 13:11] adamsyu opened #6635 "Incorrect gradient when using tf.dynamic_stitch and tf.gather?"
In Tensorflow 0.12, I find the discrepancy of gradients in two mathematically equivalent training procedures of LSTM, probably due to the use of tf.gather and tf.dynamic_stitch.  One is the normal procedure using the whole batch of training examples to unroll the LSTM in each step. The other first uses tf.gather to select ALL the examples of the whole batch in each step, then unroll the LSTM with

[2017-01-04 13:17] nalyat opened #6636 "Tensorboard does not show any data"
On latest git head, when running the mnist_with_summaries.py, tensorboard does not show any data:

![distributions](https://cloud.githubusercontent.com/assets/5008257/21643171/2f91f656-d287-11e6-8e83-d9af45e7c978.png)
![histogram](https://cloud.githubusercontent.com/assets/5008257/21643170/2f91d996-d287-11e6-99e3-f2371a84f448.png)
![images](https://cloud.githubusercontent.com/assets/5008257/216431

[2017-01-04 13:31] tarvaina commented on #6634
Possible workaround:

[code]

[2017-01-04 14:14] #6636 closed

[2017-01-04 14:14] nalyat commented on #6636
This was due to a lagging chrome browser

[2017-01-04 15:14] tillahoffmann commented on #3682
This should be fixed by 6731e21360ac2fd2fa4999a12e87ae72acfcb2d2.

[2017-01-04 17:55] elibixby commented on #6624
Ahh shoot. You're right. I was just testing my code with constants upstream from the enqueue_ops (and initializing from a queue worked fine, because I could start the queue before running the init_op) but if I put variables upstream from the enqueue ops it throws a failed precondition.

Going to rescope this bug to failing more noisily when unstarted queues are inputs to ops. FYI my exotic use cas

[2017-01-04 18:07] gunan commented on #6631
https://github.com/tensorflow/tensorflow/pull/6621 already out for temporary fix.
It is waiting for approval.

[2017-01-04 18:30] jhseu commented on #4713
Hmm, that's a nice option. @martinwicke FYI, possibly worthwhile doing in tf.learn by default?

[2017-01-04 19:13] dinasaif opened #6639 "Apply TensorFlow on ARFF"
I have ARFF file or excel sheet with binary features(0,1) and class label also (0,1) can you help me to apply convolution neural network on my file to make classification with TensorFlow .
Thanks

[2017-01-04 19:14] vrv commented on #6639
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

[2017-01-04 19:14] #6639 closed

[2017-01-04 20:00] RichDubielzig commented on #4359
Thank you Yaroslav for your answers, this was very helpful.

[2017-01-04 20:03] Pastromhaug commented on #6087
I would also like to know the state of this issue. Getting `tensorflow.python.framework.errors_impl.InvalidArgumentError: The node 'RNN/DizzyRNNCellOptHacky/Linear/Matrix/Assign' has inputs from different frames. The input 'RNN/while/DizzyRNNCellOptHacky/Linear/random_normal' is in frame 'RNN/while/RNN/while/'. The input 'RNN/DizzyRNNCellOptHacky/Linear/Matrix' is in frame ''.`

[2017-01-04 20:17] yaroslavvb opened #6640 "not registered 'TensorArrayV2' on 12.1 on MacOS CPU"
I'm getting
`tensorflow.python.framework.errors_impl.NotFoundError: Op type not registered 'TensorArrayV2'
` after upgrading to 0.12.1 on MacOS. Same code works on 0.11 on Mac and 0.12.1 on Ubuntu CPU

This op seems to be created by dynamic RNN code

[code]
Sorry don't have a shorter repro atm, but a long repro is to follow install instructions on https://github.com/openai/universe-starter-agent a

[2017-01-04 20:49] gissemari opened #6642 "Tensorboard doesn't show anything in 0.12"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
I was having IOErrors but after trying in different browsers. After reading issue [#4830](https://github.com/tensorflow/tensorflow/issues/4830), I decided to upgrade tensorflow to 0.12, even when it says the 0.11 is fixed.

A [link](https://www.tensorflow.org/get_started/os_setup#pip_insta

[2017-01-04 21:06] #6631 closed

[2017-01-04 21:08] vrv commented on #6602
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/pip_package/setup.py#L159 it looks like we're missing tensorflow/stream_executor there

I'm not sure if we're missing anything else, unfortunately, but I can add that change.

[2017-01-04 21:09] sporteman commented on #6627
Same error here with OSX..

[2017-01-04 21:14] melrobin opened #6643 "Build works; import does not"
The latest build completes, but fails with an import error:  ImportError: No module named losses_impl

the complete message is here

[melrobin@scorpion ~]$ python
Python 2.7.11 (default, Sep 29 2016, 13:33:00)
[GCC 5.3.1 20160406 (Red Hat 5.3.1-6)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

I tensorflow/stream_executor/dso_loader.cc:125] successfully opened C

[2017-01-04 21:21] Lldenaurois opened #6644 "Error: Data loss: file is too short to be an sstable"
Hi there,

I'm training the Language Model code available here: https://github.com/rafaljozefowicz/lm

I am getting a "Data loss" error, see below for a traceback call. I was able to find the file where the error is raised, but I am having some trouble understanding exactly what is going wrong. It seems like this is related to a checkpoint file need to populate tensorboard, however I would greatly

[2017-01-04 21:25] Lldenaurois opened #6645 "Error: Found more than one graph event per run"
Hello,

I am trying to debug an issue that I am having with a model. When I decide to kill the training process, I remove the tensorboard logs, and fix an issue. Afterwards I restart the process.

Slowly, I seem to have accumulated tensorboard graphs, because I get the following Warning (multiple times)

WARNING:tensorflow:Found more than one metagraph event per run. Overwriting the metagraph with

[2017-01-04 21:42] #6643 closed

[2017-01-04 21:45] #6645 closed

[2017-01-04 21:50] Lldenaurois commented on #6644
Right before this error occurs, I get the following output. It seems like the checkpoint file is never created, and at some point a DataLossError is thrown. Any help is greatly appreciated!
[code]

[2017-01-04 22:02] michaelisard commented on #6365
@sherrym would you take a look since @girving is out? It sounds as if the gradient should be 0 for mod as defined, but there would be some customers for an angular_mod with a different gradient.

[2017-01-04 22:07] ymfa commented on #6586
I have the exact same problem on a MacBook using its internal GPU (macOS 10.12, Xcode 8.2 overridden by Command Line Tools 7.3.1). I have CUDA 8.0, cuDNN 5.1, and Tensorflow 0.12.1 installed via `pip install tensorflow-gpu`.

The first error is either `CUDNN_STATUS_INTERNAL_ERROR` or `CUDNN_STATUS_NOT_INITIALIZED`. In the latter case, an additional message `error retrieving driver version: Invalid

[2017-01-04 22:26] andrewharp commented on #6561
@AlexandreBriot What parameters did you pass to optimize_for_inference? Are you certain your that the final_result node has actually been removed? AFAIK there is no guarantee that the nodes will be defined in the GraphDef in run order.

[2017-01-04 22:28] aselle commented on #6642
What model are you trying to visualize?  What python model? How do I run it? Is it a standard example or your code? If it is your code, try one of the standard tutorial examples and make sure you can get that to work. Thanks!

[2017-01-04 22:31] andrewharp commented on #6356
Closing; please update if there are any remaining issues.

It's also worth mentioning that we are planning on providing an AAR solution soon that should make integrating TF into Android apps in Android Studio much simpler if you do not need to modify native C/C++ code.

[2017-01-04 22:31] #6356 closed

[2017-01-04 22:31] aselle commented on #6506
I'm not a bazel expert, but the docs seem to indicate this could work. https://bazel.build/versions/master/docs/bazel-user-manual.html
`bazel build --copt "-D_GLIBCXX_USE_CXX11_ABI=1`
maybe?

[2017-01-04 22:48] andrewharp commented on #6166
Closing; as I think the original issue is resolved now.

@kevinashaw I was unable to reproduce your issue via the following steps:
[code]
when using the 12b NDK. My guess would be that something was incorrect in your WORKSPACE file.

[2017-01-04 22:48] #6166 closed

[2017-01-04 22:51] michaelisard commented on #6384
Could you try building master from source? A [fix](https://github.com/tensorflow/tensorflow/commit/30d2a2235a66e158757b13b6dd0bab7bf5e60492) went in  that isn't in r0.12 that sounds as if it might address the issue, at least from the title.

[2017-01-04 22:54] andrewharp commented on #5553
Additionally a non-zero return code will throw a RuntimeException with https://github.com/tensorflow/tensorflow/commit/c9722179a8ae49ca1438c957e51c737ed713087f, so I think it's unlikely any initialization problems can throw inference errors at this point..

@abdoelali Did you resolve your issue?

[2017-01-04 23:04] noammor commented on #6384
@michaelisard I didn't build from source, but I did add the line:

    new_shape = tuple(-1 if x is None else x for x in new_shape)

to `tensorflow/python/ops/special_math_ops.py` in 0.12.1 manually, and it does seem to fix the issue. I probably won't have time to build from source in the upcoming week.

[2017-01-04 23:19] chentingpc opened #6646 "A suggested improvement for tf.nn.embedding_lookup_sparse() (with code)"
The sp_ids and sp_weights parameters in [embedding_lookup_sparse()](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/embedding_ops.py#L203) can be merged into a single parameter sp_mat which has clearer semantics. In sp_ids and sp_weights, cols are not utilized. However, in sp_mat, we will use row as instance, col as embedding ids, and its entry/value as weight. This make

[2017-01-04 23:29] yaroslavvb commented on #6256
With these changes I'm seeing about 2x improvement in transfer speed:

python client_transfer_benchmark.py --direction=p2t --profile
262.49 MB per second

python client_transfer_benchmark.py --direction=t2p --profile
308.64 MB per second

[2017-01-04 23:31] gissemari commented on #6642
Thanks! It was my code based on the [tutorial](https://www.tensorflow.org/how_tos/summaries_and_tensorboard/). I tried the mnist_with_summaries.py and it is working.  In my code, I am using the suggested function :

[code]
But using the new functions to merge and write
[code]
instead of the deprecated
[code]
And finally recording the summaries. There's no error when I run my code.
[code]

What els

[2017-01-04 23:35] michaelisard commented on #6384
OK I will close for now but please reopen if the problem doesn't go away with the new code.

[2017-01-04 23:35] #6384 closed

[2017-01-05 00:01] michaelisard commented on #6438
@zheng-xq do you think we need a fix like the one you did for interactive? Or just a flag?

[2017-01-05 00:05] mrry commented on #6256
Glad to hear it's moving in the right direction :). Hold on tight because there's another change coming (hopefully in the next push) that should improve feed throughput by a decent amount.

[2017-01-05 00:13] sirajulsalekin commented on #2169
Hi @hermitman : Were you able to solve the gradients not backpropagating problem? I used @EmmaBYPeng's code and faced the same issue as yours. The weights don't update during backpropagation after the unpooling layer.

[2017-01-05 01:20] michaelisard commented on #6449
Closing for now. Please reopen if there's a specific issue beyond those tracked in #22.

[2017-01-05 01:20] #6449 closed

[2017-01-05 01:30] michaelisard commented on #6460
@theweiho can you comment?

[2017-01-05 01:31] eromoe opened #6647 "TypeError: Cannot create initializer for non-floating point type."
### Environment info
Operating System:
tensorflow docker(ubuntu 14.04)

### Version
tensorflow (0.12.1)/ tensorflow-gpu (0.12.1)

### If possible, provide a minimal reproducible example (We usually don't have time to read hundreds of lines of your code)

From official example:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/learn/text_classification_character_rnn.py

### L

[2017-01-05 02:00] stevehorn opened #6648 "wide_n_deep tutorial issues"
Please help. Running into an issue running the wide_n_deep.py tutorial.

**Tensorflow Version:**
$ python -c 'import tensorflow as tf; print(tf.__version__)'  # for Python 2
=> 0.12.1

**wide_n_deep_tutorial.py was downloaded from here:** https://raw.githubusercontent.com/tensorflow/tensorflow/master/tensorflow/examples/learn/wide_n_deep_tutorial.py)

**Command and output**
$ python wide_n_deep_tu

[2017-01-05 02:12] lipond opened #6649 "v0.12 outputs worse result than v0.11, running same code of lstm"

[2017-01-05 02:17] eromoe commented on #6647
relate to this https://github.com/tensorflow/tensorflow/issues/6342

[2017-01-05 02:18] willcrichton opened #6650 "`histogram_fixed_width` type errors and GPU issues"
With the following script:

[code]

Gives the following error:

[code]

I believe the issue here is this line: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/histogram_ops.py#L75

It should say `to_double` instead of `to_float`. However, even if you fix this, you then get this error:

[code]

I ran this both with the TF version from `pip install tensorflow-gpu` as well

[2017-01-05 02:29] AndersonJo commented on #6558
I have same problem.. when installing Tensorflow from source on Python3.6

[code]

[code]

[2017-01-05 02:34] facan1 opened #6652 "https://www.tensorflow.org/robots.txt is disallowing all Search Engines crawling www.tensorflow.org."
[https://www.tensorflow.org/robots.txt]
User-agent: *
Disallow: /

Can you please allow Search Engines ?

Thanks,
Fabrice Canel
Microsoft Bing

[2017-01-05 02:41] robotnc commented on #6620
I also met the problem. Now I am using a method like this: Compute the params size first , and build the cudnn_lstm model with fixed shape. It can work, but looks ugly. Hope to get a better solution.

[2017-01-05 02:44] robotnc commented on #6072
@zhangyaobit I met another issue in Cudnn_LSTM about dropout, it seems the dropout didn't take effect. I have raised a new issue here, can you check it for me ?
https://github.com/tensorflow/tensorflow/issues/6466

[2017-01-05 03:21] DjangoPeng opened #6653 "Initialize variable failure when importing graph_def"
In r0.12, I'm trying to write a graph_def at local and import it in another server. But when I `session.run(a)` after `session.run(global_variables_initializer())`, it raises a `FailedPreconditionError: Attempting to use uninitialized value a` .

### Write graph
[code]
### Import graph
[code]
### Error log
[code]

@mrry Could you have a look?

[2017-01-05 03:27] jasminezz opened #6654 "min_pool"
There is only max_pool and avg_pool, but min_pool op is a common op in Application, I should always write it by  myself.
Strongly suggest to add this feature.

[2017-01-05 03:34] zakizhou commented on #6653
Maybe this will work:
add `init` op(like `tf.global_variables_initializer`) to the original graph, and in the second graph import the original one and get this `init` op with `graph.get_operation_by_name` and run the op with `sess.run(init)`

[2017-01-05 03:53] xia342560937 commented on #6235
Thank you, the problem has been resolved, I re-installed again tensorflow, before the first installation of the anaconda, may be the wrong place, I will not English, you can understand these words, haha

[2017-01-05 03:55] jasminezz commented on #6654
that is a simple method, but still feel not intuitive

[2017-01-05 04:29] yaroslavvb opened #6656 "http://zlib.net/zlib-1.2.8.tar.gz is down, breaks configure"
Need something like https://github.com/yaroslavvb/tensorflow/commit/fbc8bef52fc20d1c26290979f956e781bc863be8 to fix ./configure since "http://zlib.net/zlib-1.2.8.tar.gz" is down

[2017-01-05 05:48] #6654 closed

[2017-01-05 05:59] costad2 commented on #6558
Same issue, I was able to work around it following @fnl directions in the post above, I do not know enough about the build system used here to know if this is the "correct" way of fixing it.

[2017-01-05 06:25] DjangoPeng commented on #6653
@zakizhou Thanks for your advice. I tried it, and got some interesting and unreasonable results.
### Write graph
[code]
### Import graph
[code]
At first time I run the `import graph` snippet, it raise same error as below:
[code]

The most unreasonable thing is when I separately run `sess.run(init_op)` again, everything goes well. I don't know why it works, and I think you can reproduce it.

[2017-01-05 06:46] zakizhou commented on #6653
@DjangoPeng Personally I seldom use low level functions like `tf.import_graph_def`, instead I use `tf.train.import_meta_graph`(which internelly calls `import_graph_def`), especially after v0.12, this funtion supports much more things than before like changing the inputs of the original graph and will do all the dirty work for you including import graph def and restore variables from checkpoints.

[2017-01-05 06:47] Syndrome777 opened #6659 "Is it possible to implement Sparse Cross Entropy or Sparse Softmax Cross Entropy with Smooth Threshold to deal with large loss?"
I use `sparse_softmax_cross_entropy_with_logits` in Seq2Seq task with large vocabulary.
But sometime I got a large loss, such as 1000. It's too large for optimization. So I think to add a smooth threshold in sparse_softmax_cross_entropy_with_logits may deal with this problem.
[code]
BTW, I clip `logit` for smoothness now. But I'm not sure if it's a good idea.
[code]
Does anyone have better solutio

[2017-01-05 06:56] weixsong opened #6660 "using TensorFlow on Windows Server 2012"
I'm using TensorFlow on Windows Server 2012, TensorFlow version is 0.12.1
I've install CUDA (CUDA Version 8.0.44), and install cuDnn (cuDNN v5.1 (August 10, 2016), for CUDA 8.0).

that cuDnn is build for windows 10.

But when I run my tensorflow code is get some error about:
[code]

It seems the cuDNN version is not correct, but I tried cuDNN v5.0, also got this exception.

does anyone know how to

[2017-01-05 07:19] CanoeFZH commented on #472
I met the same problem. But you should notice that when you install tensorflow  it use numpy version A and when you run app of tensorflow you use numpy version 7. Does not match.
You can check your running numpy version by: pip freeze or import numpy and numpy.version.version to verify this. The solution is to update your numpy to the tensorflow installing dependent numpy version.

[2017-01-05 07:48] DjangoPeng commented on #6653
@zakizhou I had a try of [tf.train.import_meta_graph](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/api_docs/python/functions_and_classes/shard8/tf.train.import_meta_graph.md), and I always restore fail. Could you show me a use case? I attached my test snippet below:
### Save model
[code]
Then I get the model file as below:
[code]
### Restore model
[code]
Error log:
[code]

[2017-01-05 07:56] zakizhou commented on #6653
change `new_saver.restore(sess, 'model-0.data-00000-of-00001')` to `new_saver.restore(sess, 'model-0')` and have a try

[2017-01-05 07:58] DjangoPeng commented on #6653
It raises the same NotFoundError.

[2017-01-05 08:03] weixsong commented on #6606
Hi, @aclaussen1 , I got the same issue when running https://github.com/ibab/tensorflow-wavenet, and I also tried many solutions, but all failed.

Have you fixed the issue?

[2017-01-05 08:10] weixsong commented on #6606
I'm using TensorFlow on Windows Server 2012, TensorFlow version is 0.12.1
I've install CUDA (CUDA Version 8.0.44), and install cuDnn (cuDNN v5.1 (August 10, 2016), for CUDA 8.0).

that cuDnn is build for windows 10.

But when I run my tensorflow code is get some error about:

am_executor\cuda\cuda_dnn.cc:385] could not create cudnn handle: CUDNN_STATUS_IN
TERNAL_ERROR
E c:\tf_jenkins\home\workspac

[2017-01-05 08:17] #6653 closed

[2017-01-05 08:40] chaitanya2692 commented on #6593
The master config syntax should be `master='grpc://localhost:2222'` instead of `master='localhost:2222'`

Current error to tackle:-
`TypeError: Using a `tf.Tensor` as a Python `bool` is not allowed. Use `if t is not None:` instead of `if t:` to test if a tensor is defined, and use TensorFlow ops such as tf.cond to execute subgraphs conditioned on the value of a tensor.
`

[2017-01-05 08:50] leido commented on #3705
@DjangoPeng Did you find where your problem is? I have met similar problem and stuck for several days. Thanks very much.

[2017-01-05 09:09] ziky90 opened #6661 "InvalidArgumentError: for tensor bool tensorflow==0.12.1"
Hi,

I have experimented with tensorflow==0.12.1 and I have following problem:

I am trying to run:
[code]

But I'm getting following stack trace:
[code]

This problem appears on:
`Ubuntu 16.04.1 - tensorflow GPU installation`
`Mac - tensorflow CPU only installation`

When I try to downgrade to `tensorflow==0.11.0` and replace line `sess.run(tf.global_variables_initializer())` by `sess.run(tf.init

[2017-01-05 09:28] Hvass-Labs commented on #6397
I have now opened a pull request https://github.com/tensorflow/tensorflow/pull/6662

@shlens I don't understand your remark about a potential bug.

Please have a look at the PR and let's continue the discussion there.

[2017-01-05 10:46] aam-at commented on #6143
Please, checkout #6664

[2017-01-05 11:42] Shoshin23 commented on #2883
Just to let folks in the future know, the above steps outlined by @petewarden well for me. I was using macOS Sierra, Xcode 8.

[2017-01-05 11:55] weixsong commented on #6660
ps, tensorflow will report load cudnn64_5.dll successfully:
[code]

[2017-01-05 12:32] bodokaiser opened #6666 "tf.train.Saver does not restore input queue"
**example.py**
[code]

**data.txt**
[code]

Will output on first run `python3 example.py`:

Will output on second run `python3 example.py`:

but expected:

[2017-01-05 13:30] sendit2me commented on #5598
@nubbel  I see you have the SavedModel working, did you get the export working with Sparse based tensors ? specifically from the Deep and Wide examples, namely sparse_column_with_keys or sparse_column_with_hash_bucket, I can get an export working if I use real_valued_column and bucketized_column (using real_valued_columns), has to do with the resulting 'SparseTensor' object has no attribute 'name'

[2017-01-05 14:00] reuben commented on #5830
See also https://github.com/tensorflow/models/issues/70

[2017-01-05 14:11] as1ndu commented on #6591
Sorry, issue persists in 0.12.1

[2017-01-05 14:14] as1ndu commented on #6648
Am having the exact same issue [#6591](https://github.com/tensorflow/tensorflow/issues/6591) am on Ubuntu 16.04 LTS x64

[2017-01-05 14:56] jplu commented on #3569
Hello, any update on this issue?

[2017-01-05 15:08] bgrayburn opened #6668 "bad zlib link in core/BUILD"
even though https://github.com/tensorflow/tensorflow/issues/6594 fixed the link to zlib in workspace.bzl, I'm getting another error looking for zlib at a bad link during the bazel build. Here's the error:
[code]

[2017-01-05 15:10] bgrayburn commented on #6668
sorry the title is a bad description: the line in zlib is line 1136 and doesn't directly contain the link, not sure how the link gets called

[2017-01-05 15:12] abdoelali commented on #5553
@andrewharp Ok, some progress!

If I sync with 522046158048c5c6a7c12ec8975b1178eed7165c and c9722179a8ae49ca1438c957e51c737ed713087f, but not c8abaee1e8dd9a2a654d0499e431a82e0285c5d1, my model crashes with following logcat:

`01-05 15:48:28.062 11639-11639/? I/native: tensorflow_inference_jni.cc:82 Creating new session variables for 8dc6c085059a97b8
01-05 15:48:28.062 11639-11639/? I/native: tenso

[2017-01-05 15:18] paul-the-noob commented on #5853
I did a tiny bit of research and found the following:

The problem appears to lie with a CUDA function called atomicAdd, see [the relevant commit](https://github.com/tensorflow/tensorflow/commit/7824e4043ee5229a6872a54a2ba11caf865610bd).

The good news is that, as of CUDA 8, [atomicAdd supports double precision with hardware acceleration on the latest (Pascal) cards](http://stackoverflow.com/quest

[2017-01-05 15:18] asdfgasdfsafgsdfa commented on #18
Is first class support for c# even planned?
Development with wrappers and such is almost always a sub-par experience; and using tf in serious projects when there's no actual support from the devs is not something I'd do.

[2017-01-05 15:30] jconway45 commented on #37
Is anybody working on this?

[2017-01-05 15:35] inflation commented on #6668
Have you tried the patch in #6594 to replace it with 1.2.10?

[2017-01-05 15:35] asimshankar commented on #18
The TensorFlow maintainers do not currently have plans for creating a C# API. We do however maintain the [C API](https://www.tensorflow.org/how_tos/language_bindings/) intended for building language bindings and are open to changes to that to assist the community in building C# APIs.

[2017-01-05 15:40] bgrayburn commented on #6668
I was trying that, but I believe the fix has been merged to master correct? I'm probably just doing something stupid *facepalm*

[2017-01-05 15:52] inflation commented on #6661
You need a boolean Tensor. Try `tf.constant(True)`.

[2017-01-05 15:55] inflation commented on #6558
Same here, back to 0.12.1 would work well.

[2017-01-05 16:05] nubbel commented on #5598
@sendit2me Hi Peter, I ran in the exact same problem.
I managed to work around it by converting the `VarLenFeature`s to `FixedLenFeature`s:
[code]

I also share my jupyter notebook with you where I build a model (based on the wide and deep tutorial) and export it to a `SavedModel`: https://gist.github.com/nubbel/a26b6cbb21c34bc36abbe76b850f5541
(sorry for the verbose debug logs and deprecation war

[2017-01-05 16:23] inflation opened #6669 "Python3 pickle treat tf.gfile.GFile wrong"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-01-05 16:29] finbarrtimbers commented on #6532
I can take this on if no one else is working on it.

[2017-01-05 17:03] rodrigomfw commented on #1402
Same problem: "Error importing tensorflow. Unless you are using bazel,
you should not try to import tensorflow from its source directory;
please exit the tensorflow source tree, and relaunch your python interpreter"

Tried building from source, installing through pip. All the same. I will just move to theano

[2017-01-05 17:09] pswpswpsw commented on #6341
problem resolved. it turns out to be googleprobuf corrupted on some nodes.

[2017-01-05 17:25] vrv commented on #6668
We've merged to our latest stable branch (0.12) and master, so there's not much we can do here.  I suspect your code / environment / git is synced to an earlier commit -- try updating the branch and the problem should go away.  Hope that helps!

[2017-01-05 17:25] #6668 closed

[2017-01-05 17:29] bgrayburn commented on #6668
sorry my fault, it was a submodule that wasn't updated. thanks for responding!

[2017-01-05 17:29] yaroslavvb commented on #6666
I think that's working as intended -- Saver only restores parameters, and queues don't have those. Recreating Queue op resets it to the beginning.

[2017-01-05 17:34] AlexandreBriot opened #6670 "How to read Android Demo Detection Model Priors.pb file ?"
Hello !

I would like to look into the assets file : multibox_location_priors.pb which contains boxpriors locations.
I want to use them in a iPythonNotebook to test the model with offline images but I don't know how to access properly to the values for all locations.
Is there any easy way to parse the file and get the locations values like it is possible to do with graph.pb file using these lines

[2017-01-05 17:36] bodokaiser commented on #6666
In my case it caused a systematic error in my hyperparameter evaluation however it should be easy to work a way around (e.g. always complete one epoch).

[2017-01-05 17:36] #6666 closed

[2017-01-05 17:44] andrewharp commented on #6670
@AlexandreBriot The easiest thing to do would be to add tensorflow/examples/android/proto/box_coder.proto to CORE_PROTO_SRCS in tensorflow/core/BUILD (you may need to copy the file), and then you should be able to rebuild TF with support for reading it. It's not there already simply because it's a very model-specific proto only currently used for the demo.

[2017-01-05 17:44] #390 closed

[2017-01-05 18:01] jimht011 commented on #1426
@i3v and @zym1010   When you compile the tensorflow, which version of bazel you installed in your box?
Very appreciate your answer

[2017-01-05 18:49] gunan commented on #6660
I will try to reproduce the problem when I find the time.
But could you try installing windows 7 build of cudnn and see if that resolves the issue?

[2017-01-05 18:52] gunan commented on #6656
Resolved in master with ecf97ee5f2e386be31fde8ca790d48786b969103, and in r0.12 with 1e317b1f7dc5ccf04fc51ac96d97f5bdaefa9af9

[2017-01-05 18:52] #6656 closed

[2017-01-05 19:12] michaelisard commented on #6468
I assume tensorflow/models #824 will fix this but please respond to this issue once that PR lands, if it doesn't.

[2017-01-05 19:13] michaelisard commented on #6469
I am closing due to lack of activity but please reopen if necessary.

[2017-01-05 19:13] #6469 closed

[2017-01-05 19:14] michaelisard commented on #6470
Please follow up on [Stackoverflow](http://stackoverflow.com/questions/tagged/tensorflow) if this didn't solve your problem.

[2017-01-05 19:14] #6470 closed

[2017-01-05 19:15] #6475 closed

[2017-01-05 19:21] michaelisard commented on #6476
Could you give more details of what you want to use it for?

[2017-01-05 19:24] michaelisard commented on #6477
I'm not sure what you are asking for. I think that the cases you mention are covered in the language and documented under [slicing and joining](https://www.tensorflow.org/api_docs/python/array_ops/slicing_and_joining). Are there particular cases you have run into where the performance is bad?

[2017-01-05 19:27] michaelisard commented on #6478
Could you follow up with a quick concrete repro case that we can try running?

[2017-01-05 19:28] michaelisard commented on #6483
@xmbrst should the documentation show where these have moved to?

[2017-01-05 19:31] michaelisard commented on #6487
Closing due to lack of activity but please reopen if this isn't a memory issue.

[2017-01-05 19:31] #6487 closed

[2017-01-05 19:41] suryabhupa commented on #6483
Is there a reason for moving all of the seq2seq code to legacy?

[2017-01-05 19:51] yaroslavvb commented on #6256
Is bf00bcc the change you had in mind? I don't see any change with that commit on my benchmark, is this new in-memory wrapper activated by default?

__git_version__="b'0.12.1-1591-g4433079'"

python client_transfer_benchmark.py --profile
3203.52 MB per second
280.34 MB per second

[2017-01-05 19:55] carlthome commented on #434
Since `tf.orthogonal_initializer` exists, I'd expect `tf.identity_initializer` to exist as well. Could this be reopened?

[2017-01-05 20:02] yaroslavvb commented on #434
You can do this
[code]

[2017-01-05 20:20] PhoenixDai commented on #6478
Sure, I will wrap up a repro case in a couple of days.

[2017-01-05 20:24] mrry commented on #6256
Most of the improvement from that change will be for the common case where client, master, and worker are in the same address space (like in `session_benchmark.py`). If I've understood the code correctly (since you have a `tf.Session(server.target)`) it should also speed up feeds like this one in Universe's A3C implementation:

https://github.com/openai/universe-starter-agent/blob/ea74a5104ffa19c8

[2017-01-05 20:25] i3v commented on #1426
@jimht011
I've used bazel-0.4.1, just because it was the latest at that time. And bazel-0.4.0 few days before that (for just the same reason).

[2017-01-05 20:30] martinwicke commented on #5830
There will be RNN layers in tf.layers. They will likely look like Keras' layers, and similar to the RNNCell objects in contrib/ now.

You may also be interested in DynamicRNNEstimator in contrib/learn.

I guess the answer is that we're working on it. I will close this -- if you have a specific feature request you can open another issue.

[2017-01-05 20:30] #5830 closed

[2017-01-05 20:39] yaroslavvb commented on #6256
Ah, good catch, I was doing out-of-process transfer, updated [client_transfer_benchmark.py](https://gist.github.com/yaroslavvb/59bc8d3d635e1027306486cc418b26aa), now I'm seeing >700MB, nice!

[code]

[2017-01-05 21:19] abergmeier opened #6674 "Generic swig rules"
Looking into integrating Swig into our Bazel build all I could find was Tensorflows usage.
Is there any reason parts like `_py_wrap_cc` have not been extracted to a more general script?
Would tensorflow be willing to use such a thirdparty script should it get extracted/provided (into another github project perhaps)?

[2017-01-05 21:30] yaroslavvb commented on #6674
I think TensorFlow is planning to transition to [PyClif](https://pypi.python.org/pypi/pyclif/0) so not sure how much interest there is to refactor existing SWIG usages. CC'ing @jart for opinion

[2017-01-05 21:37] #6489 closed

[2017-01-05 21:43] cancan101 commented on #6336
@gunan I am seeing a similar issue loading saved checkpoints (saved using `tensorflow.contrib.session_bundl.exporter`) with `session_bundle.load_session_bundle_from_path`. This used to work. What should I change so that I can save and then load a given model?

[2017-01-05 21:46] michaelisard commented on #6492
This kind of usage question is better asked on [Stackoverflow](http://stackoverflow.com/questions/tagged/tensorflow).

[2017-01-05 21:46] #6492 closed

[2017-01-05 21:54] MircoT commented on #6473
I solved the problem with the tip you gave me but I want to explain better what is the situation:

I have a new op for TensorFlow and I used gcc to compile it and I already use the flag mentioned above, the one you have in the note of the documentation, but I forgot it for some libraries and so I had the mismatch of the functions.

With the correct build of the op (using -D_GLIBCXX_USE_CXX11_ABI=0

[2017-01-05 22:04] michaelisard commented on #6499
Yes this kind of question is better asked on [Stackoverflow](http://stackoverflow.com/questions/tagged/tensorflow).

[2017-01-05 22:04] #6499 closed

[2017-01-05 22:04] yaroslavvb commented on #6629
Can you give the use-case you need this for? In this specific case, the `floatX` option doesn't seem to be very useful -- `float32` support is usually there, but `float16/float64` is spotty. For non-trivial calculation, switching away from `float32` type will usually give "kernel not registered" error. Also .theanorc has "device" setting, but that doesn't seem very applicable to TensorFlow. It was

[2017-01-05 22:10] andrewharp commented on #5458
TF should find these operations automatically when loading your trained GraphDef, which you should use freeze_graph.py to create in conjunction with your checkpoint file. You do not need to refer to them by name in the Android app, you just need to set the input and output nodes similar to how the demo does it in [ClassifierActivity](https://github.com/tensorflow/tensorflow/blob/a2eba827afa870f7db

[2017-01-05 22:10] #5458 closed

[2017-01-05 22:11] michaelisard commented on #6507
@benoitsteiner do you know if this is being worked on?

[2017-01-05 22:23] alexattia commented on #4368
I am facing the same issue. Does someone know how to fix it ?

[2017-01-05 22:26] martinwicke commented on #3569
So the bazel fix you tried did not work?

[2017-01-05 22:32] andrewharp commented on #5935
Closing due to inactivity; please respond if the issue persists despite following the directions above.

[2017-01-05 22:32] #5935 closed

[2017-01-05 22:36] gunan commented on #4368
Is it possible you forgot to run `./configure` before bazel build?

[2017-01-05 22:46] alextp commented on #4713
@jhseu this is not a reasonable default since workers can in some settings restart unpredictably during training

[2017-01-05 22:55] gibiansky opened #6675 "Creating an auxiliary CUDA Stream for an op"
I am writing an op which (sadly) requires using multiple CUDA streams to be efficient. Specifically, I need to have one auxiliary CUDA stream on whatever device the op is being executed; without this stream, the operations in this op will get entangled with operations in the rest of the graph, because the op _has_ to occasionally wait for its GPU kernels to complete before it can do things on CPU.

[2017-01-05 23:11] cancan101 commented on #6336
This seems to be fixed with `bundle_shim.load_session_bundle_or_saved_model_bundle_from_path`.

[2017-01-05 23:28] michaelisard commented on #6509
@ebrevdo any idea what the problem is here?

[2017-01-05 23:30] michaelisard commented on #6511
Closing due to lack of activity but please reopen if you need more help.

[2017-01-05 23:30] #6511 closed

[2017-01-05 23:30] michaelisard commented on #6512
Yes this type of question is better asked on [Stackoverflow](http://stackoverflow.com/questions/tagged/tensorflow).

[2017-01-05 23:30] #6512 closed

[2017-01-05 23:35] michaelisard commented on #6520
Is it possible that when you move the distorted_inputs to CPU, the CPU is spending all its time on the inputs and can only process ~7000 examples/sec? Increasing the number of GPUs would not let the CPU process more inputs.

[2017-01-05 23:47] guschmue commented on #6509
a simple repro case attached (only happens on windows/gpu).
I'm think this showed only for uint8 in the past but now I see it also for int32.
--
import tensorflow as tf
import numpy as np

data = np.zeros(shape=(3, 5), dtype='int32')
input = tf.placeholder(tf.int32, data.shape, name="input")
one_hot_op = tf.one_hot(input, depth=3, dtype=tf.float32)

init = tf.initialize_all_variables()

with tf.Se

[2017-01-05 23:53] haruza opened #6677 "Tensorboard not showing data"
I have installed the newest version of tensorflow. I was trying to write my code to the tensorboard, but was not able.
This is what i got as a response .
![image](https://cloud.githubusercontent.com/assets/14088328/21702101/ded3524a-d3a9-11e6-9334-30f960adaf8c.png)

I found out was the problem was. The tensorboard program was not able to find the log files, this was because of it was saved in a pa

[2017-01-05 23:54] gunan commented on #6509
CC @mrry (for windows) @zheng-xq (for CUDA, in case error message looks familiar)

[2017-01-06 00:08] michaelisard commented on #6531
@dr4b does this need better doc?

[2017-01-06 00:08] martinwicke commented on #1402
@rodrigomfw can you paste the error before that message? For some people on this thread it's that they have very old systems (CentOS 6.x) which don't support the pre-built binaries. For you it's probably something else since it only affects GPU.

@vrv, I think we should rephrase this error. Most of the time (100% of the time in this thread), this is a failure to import unrelated to the working dir

[2017-01-06 00:09] vrv commented on #1402
Yup, something changed and we now raise ImportError much more often, so the error message is unhelpful.

[2017-01-06 00:10] michaelisard commented on #6534
This type of usage question is better asked on [Stackoverflow](http://stackoverflow.com/questions/tagged/tensorflow). Github issues are for bug reports and installation issues.

[2017-01-06 00:11] theweiho commented on #6460
This seems to be more a sparse tensor/Adam interaction issue than an embedding issue. @concretevitamin - any idea about the sparse updates part?

Or @vrv for general performance issues - or any idea who might know more about the Adam optimizer?

[2017-01-06 00:17] mbz commented on #6508
I believed that summarized it nicely. Thanks.

[2017-01-06 00:17] #6508 closed

[2017-01-06 00:22] michaelisard commented on #6548
@tristanbrown did these suggestions help?

[2017-01-06 00:26] michaelisard commented on #6552
This may be related to #6509. DId you try updating to the newest drivers as suggested there?

[2017-01-06 00:30] rohan100jain commented on #6537
yup you're right... the directory check shouldn't need to be done on children that don't match the pattern. That check is done for adding stuff to the queues but not for the IsDirectory check. I'll fix this.

[2017-01-06 00:42] michaelisard commented on #6582
@ebrevdo what do you think?

[2017-01-06 00:43] sugartom opened #6678 "Installation from Source Error: "Server finished RPC without an explicit exit code""
### Environment info
Operating System: Ubuntu 14.04
GPU: NVIDIA Titan X

Installed version of CUDA and cuDNN: CUDA 8.0 and cuDNN 5.1.5
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

If installed from source, provide

1. The commit hash (`git rev-parse HEAD`) f64c288ffd20819e264b80a4977b2ca8f33bfd98 (should be the latest one...)
2. The output of `bazel version` 0.4.3

### If poss

[2017-01-06 00:47] jkschin opened #6679 "Throw uninitialized local variable error to reduce confusion."
I reference this [post](http://stackoverflow.com/questions/41488276/cannot-get-a-simple-tfrecord-reader-to-work/41489484#41489484).

If one does not call `tf.local_variables_initializer()` when using `tf.train.string_input_producer` with `num_epochs` set as a local variable, it will throw an `OutOfRangeError` which might mislead people into thinking that the error lies with `tf.train.string_input_

[2017-01-06 00:50] michaelisard commented on #6586
@mrry this seems to be Windows-specific. Any ideas?

[2017-01-06 00:50] sugartom commented on #6572
@anddelu Hi, have you solved the issue? I saw a similar error message "Server finished RPC without an explicit exit code" when installing tensorflow from source. Details [here](https://github.com/tensorflow/tensorflow/issues/6678). Please let me know if you have any suggestions. Thanks in advance! :-)

[2017-01-06 00:55] michaelisard commented on #6593
Closing here: stackoverflow is the right place for this discussion.

[2017-01-06 00:55] #6593 closed

[2017-01-06 01:17] mrry commented on #6586
Can you try upgrading TensorFlow to the latest release version (0.12.1) and upgrading your drivers to the latest version (376.33, as far as I can tell), then see if the problem persists?

[2017-01-06 01:18] mrry commented on #6586
@ymfa It sounds like you might be experiencing a different problem with the Mac OS GPU support. Can you please open a separate issue?

[2017-01-06 01:20] nagachika commented on #6648
Try the example on the v0.12 branch.

https://github.com/tensorflow/tensorflow/blob/r0.12/tensorflow/examples/learn/wide_n_deep_tutorial.py

tf.TensorShape has breaking change in master branch (rename argument shape -> dense_shape. see https://groups.google.com/a/tensorflow.org/forum/?utm_medium=email&utm_source=footer#!msg/discuss/OePXmC9kJ7o/SRErOoYCDQAJ for more other API changes), and the exam

[2017-01-06 01:21] nagachika commented on #6591
Hi, as  commented at https://github.com/tensorflow/tensorflow/issues/6648#issuecomment-270806057, please try example file on v0.12 branch.

[2017-01-06 01:23] SholtoD commented on #4187
Hi, I'm running into the same issue, MBP late 2013, CUDA 8.0 CuDNN 5.1, OXS 10.12.1 Py 2.7, but I can't find the genrule folder. In fact, I can't even find tensorflow/external. Any idea why this might be?

[2017-01-06 01:26] stevehorn commented on #6648
@nagachika yes I am able to run with the tutorial code from the v0.12 branch. Thanks!

[2017-01-06 01:26] #6648 closed

[2017-01-06 01:31] rohan100jain commented on #4753
I think this should be fixed now. Closing issue. Please reopen if its still a problem.

[2017-01-06 01:31] #4753 closed

[2017-01-06 01:32] rohan100jain commented on #4913
I think this should be fixed now. Closing issue now. Please reopen if you still face problems.

[2017-01-06 01:32] #4913 closed

[2017-01-06 01:33] yaroslavvb commented on #4187
The error means you have TensorFlow built for CUDA 7.5 (I'm guessing you have 0.11 or earlier)

[2017-01-06 01:47] weixsong commented on #6660
Hi, @gunan , using cuDNN for windows 7 still got the same issue.

[2017-01-06 01:59] ilblackdragon commented on #6584
@ispirmustafa  You are reworking currently all this things. Probably good to add tests that DNNClassifier and other estimators work nicely with SKCompat.

[2017-01-06 02:15] mervynhit1 opened #6680 "Tensorflow(GPU) build needs to be reconfigured, everytime I reboot my ubuntu"
If a just configure tensorflow using ./configure and set CUDA support to YES, tensorflow is successfully built. I can make some change in source code and rebuild using command:

bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package

Build after I reboot my ubuntu, and try to build tensorflow using above command, it requires me to reconfigure tensorflow, and rebuild, whi

[2017-01-06 02:18] ilblackdragon commented on #6414
@Hvass-Labs You current implementation of `loss_normalize` will always return 1.0 if losses are already scalars [which they usually are after calling for example `tf.losses.*`]:
[code]

If you are just trying to normalize for example a vector or matrix of raw errors [for example `tf.abs(a - b)` part of `tf.reduce_mean(tf.abs(a - b))` - the absolute mean error loss], you can use one of https://www.

[2017-01-06 02:30] anddelu commented on #6572
@sugartom I have tried to rebuild the source, but I added some parameters "--local_resources 2048,.5,1.0" when I used bazel. You can fix 2048 to 8096 or else based on your environment. I once tried 2048, it take long time to do. I suggest you can set bigger if you want to fast. Good luck!

[2017-01-06 04:09] sirinath commented on #6476
I want to have a n size window in price data. As new data come in I want to update the price histories and signal histories with minimal time. This is one use case.

[2017-01-06 04:11] sirinath commented on #6477
Documentation is not clear if updates are propagated to the parent structure. Any operation on the sub matrix should be reflected in the main.

[2017-01-06 04:35] hungpt297 commented on #2215
I fixed @yhlleo script as follow

`from datetime import datetime
import math
import time

import numpy as np
import tensorflow as tf
import cv2
import acr

FLAGS = tf.app.flags.FLAGS

tf.app.flags.DEFINE_string('checkpoint_dir', 'cifar10_train/',
                            """Directory where to read model checkpoints.""")

def evaluate_images(images):
    logit = acr.inference(images)
    load_tr

[2017-01-06 04:47] michaelisard commented on #6477
In general, most TensorFlow Ops act functionally, so you don't expect an operation on a slice to have a side effect on some other tensor that isn't expressed via a dataflow edge. The exception of course is variables, and there are sparse update operations for variables. I think TensorArray may also be relevant to your question, depending on what you're trying to achieve. @ebrevdo has the most cont

[2017-01-06 04:55] michaelisard commented on #6476
It's possible you could use TensorArray for this. Overall though I'm not sure you are going to be happy with the results. It sounds as if what you would like to do is some kind of windowed streaming computation (though you are keeping it quite mysterious). Right now, TensorFlow may not be well suited to that type of computation. For example, if you took the sum of your price data, then adjusted th

[2017-01-06 05:19] tobegit3hub commented on #6436
Not work for `0.4.1` and work for `0.4.3`.

[2017-01-06 05:26] gunan commented on #6606
This seems to be same as #6509

[2017-01-06 05:27] gunan commented on #6660
This seems to be the same as #6509
Let's follow the other issue to merge all discussion.

[2017-01-06 05:37] gunan commented on #6680
@davidzchen @damienmg
Do you think this is a similar issue to #4848

[2017-01-06 05:51] vrv commented on #6436
@gunan: https://github.com/tensorflow/tensorflow/blob/4433079e7f317724eaa92ec120c6b1c3c0c52f2f/tensorflow/tensorflow.bzl#L25 should be checking the bazel version and failing with a helpful error message.  Perhaps the check got broken somehow (wouldn't be surprised).

@damienmg in case he knows whether it changed in unexpected ways.

[2017-01-06 06:55] jihunchoi opened #6682 "Weird behavior of tf.tensordot when shapes are partly known"
I frequently use ```tf.tensordot```, for its flexibility on axes.
However, as I multiply two tensors whose shapes are partly known, it cannot infer the shape of the result tensor, i.e. shape is `<unknown>`, while other alternative functions that do the same operation infer shapes well.

For example, let `a` and `b` be
[code]

We can validate that the below functions infer shapes well.
[code]

Howe

[2017-01-06 07:00] ebrevdo commented on #6476
You can currently use a TensorArray with dynamic sizing (it's one of the options) and use .gather to pull out windows, but you may be better off using some other approaches.  Why do you want all of this to happen inside a tensorflow graph?  Will you be creating an op that talks to some service to read off new data, or will you be feeding in the steam via multiple calls to session.run?  TensorArray

[2017-01-06 07:02] ebrevdo commented on #6582
Looks like an oversight.  The block implementation should use the same tuple object.  Will try to fix next week.

[2017-01-06 07:06] ebrevdo commented on #6477
We don't create views via concatenate or most slicing ops because all Tensors must be memory aligned contiguous memory blocks.  In some cases, e.g. when a slice ends up being memory aligned by happy about, it is a view to the original memory location and no copy is made.

Note that whenever possible, a Tensor is itself a view (a reference)... operations that don't require copies, like tf.identity

[2017-01-06 07:08] ebrevdo commented on #6477
TensorArray carries a list of Tensors inside it, so it may be considered a view... But any attempt to read it multiple Tensors, i.e. via the gather method, necessarily performs a copy for the reasons I gave above.

[2017-01-06 07:11] ebrevdo commented on #6509
Do you get the same issue with tf.reverse_sequence?

[2017-01-06 07:13] ebrevdo commented on #6492
My suggestion is don't roll your own. Use tf.nn.dynamic_rnn.

[2017-01-06 07:16] ebrevdo commented on #6476
Actually sorry,I see you want a circular buffer.  What kind of performance do you need?  Without knowing many more details about the problem and you setup it's impossible to help.

[2017-01-06 07:19] xisnu opened #6683 "Tensorflow Model with CTC loss having save and restore problem"
I am using tensorflow 0.12 without GPU support. I was testing it with various models. My template structure is
[code]
Now, I am facing a strange issue. When I am creating a MLP or RNN with this structure with a categorical cross entropy loss model this saving and restoring is working perfectly, i.e. after restore the loss is showing exact value that was showed during last save. But unfortunately w

[2017-01-06 07:48] MumMumMum commented on #1402
I just uninstalled tensorflow and tensorflow-gpu both and then I just installed tensorflow-gpu... works perfectly fine for me

[2017-01-06 09:11] infwinston opened #6687 "Cannot run a distributed training example with tensorflow v0.12.1"
Hi,

I was trying to run a distributed tensorflow [example](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/dist_test/python/mnist_replica.py
) in the official repository with v0.12.1 (current latest release).
I can run asynchronous version without problems, but when I turned on `sync_replicas` tag, some errors occurred.
(Please check the following logs in details)

This exam

[2017-01-06 09:11] sahiliitm opened #6688 "Outer product based Conv filters consume disproportionately high memory"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

None
### Environment info
Operating System:

Ubuntu 14.04
Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

None, I'm using the CPU version of TF.
If installed from binary pip package, provide:

1. A link to the pip package you installe

[2017-01-06 09:20] domschl commented on #6533
For linux with Python 3.6 it worked for me (Arch Linux) to download the Python 3.5 tf and simply rename it to:

`mv tensorflow-0.12.1-cp35-cp35m-linux_x86_64.whl tensorflow-0.12.1-cp36-cp36m-linux_x86_64.whl`

followed by

`pip install tensorflow-0.12.1-cp36-cp36m-linux_x86_64.whl`

[2017-01-06 09:26] ziky90 commented on #6661
@inflation I've tried changing the line `result = var.eval({inp: x1, is_training: True}, sess)` to `result = var.eval({inp: x1, is_training: tf.condtant(True)}, sess)` even to `result = var.eval({inp: x1, is_training: tf.constant(True), dtype=tf.bool}, sess)`, but both possibilities end up with `InvalidArgumentError:`.

[2017-01-06 09:41] abdoelali commented on #5553
@andrewharp Pleased to say that all is now working! Steps taken: synced with latest tf commit 798ae42bab61da6c7dc001145ed574006b8b6acf and built using bazel -v `0.4.3-homebrew`. Android SDK v23 and NDK v23. Stripped off all preprocessing (i.e., removing OpenCV from build), and just replaced my model and label file with out of box tf inception demo. Logcat now shows:

`01-06 10:27:39.048 26344-2634

[2017-01-06 11:00] sirinath commented on #6476
Yes. It is windowed streaming with efficient transfer between structures.

[2017-01-06 11:05] sirinath commented on #6477
Can it be made explicit:

 - update to a view will update other data structures (one copy of data)
 - update to view will only update data of the data structure (copy on write)

[2017-01-06 11:09] alexattia commented on #6266
I have the same issue with tensor flow installed in virtualenv.
I have installed Pillow via pip but it didn't solve the issue.

[2017-01-06 11:12] AlexandreBriot commented on #6670
@andrewharp Hello Andrew and thank you for your precious help !
I followed your instructions and here is where I am.

- I modified  CORE_PROTO_SRCS in tensorflow/core/BUILD adding "framework/box_coder.proto",

- I copied box_coder.proto in the corresponding core/framework/ directory

- I rebuild tensorflow from source but get some errors related to proto version 2 vs 3

- I modified box_coder.prot

[2017-01-06 11:26] sirinath opened #6690 "Calculation Delta, Memoization, Update Propagation and Laziness"
If you just update a few element in the data structure then having to do calculations which are not affected by the change is a waste.  Also if you read only or consume un affected values then the update and calculations themselves are a waste. Also eagerly calculating this would be a waste since I might only read the result after few updates. In addition you can avoid calculating invariant items.

[2017-01-06 11:29] sirinath commented on #6476
I did not have this in mind then I opened this issue but it is a good suggestion which will be useful to me also hence I opened: https://github.com/tensorflow/tensorflow/issues/6690

[2017-01-06 11:51] coolsurf commented on #4713
@alextp @jhseu How about adding it as an option, disabled by default?  The user may turn it on if desired.

[2017-01-06 12:01] geromueller opened #6691 "Feature Request: provide env vars to control resource usage (allow_growth, threads etc)"
We provide GPGPU access on a cluster and to let the scheduler (HTCondor) assign the resources. Tt would be great to be able to set
- the number of theads to use
- the allow_growth options
- and the per_process_gpu_memory_fraction option
via environment variables e.g. TF_NUM_THREADS=4, TF_ALLOW_GROW=1 etc.

[2017-01-06 12:07] sendit2me commented on #5598
Thanks, that works a charm, for exporting... and loading to Tensorflow Serving...
but am now trying to figure out how to get the client format correct, did you compile a tensorflow client, I was trying to use "tensorflow-serving-python" which has the protos but this does not seem to work... I have tried a number of formats. any ideas what is wrong, or should I go straight to a tf client...

[2017-01-06 12:18] nubbel commented on #5598
I've build a [Ruby client library](https://github.com/nubbel/tensorflow_serving_client-ruby), because I need to perform predictions from a Rails app.

My client code looks like that:
[code]

It should be straightforward to translate that to python.

[2017-01-06 12:41] djwbrown commented on #2278
If this is the new naming convention from NVIDIA, maybe a change in the source related to `stream_executor/dso_loader.cc` is needed where it's getting tripped up.

[2017-01-06 12:49] WI-KIWI opened #6692 "Training only a subset of synaptic weights"
It is often necessary to train only a subest of synaptic weights. One should be able to specify an arbitrary list of individual weights that will be updated/kept fixed by the gradient decent optimization algorithm and by other training algorithms.

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

There are no solutions for training only

[2017-01-06 13:11] djwbrown opened #6693 "Misnamed libcuda.dylib. (CUDA 8.0, macOS 10.12)"
### Misnamed `libcuda.dylib` in prebuilt binary. (CUDA 8.0, macOS 10.12).
Tensorflow fails to load `libcuda.1.dylib`, a file which does not exist for CUDA 8.0 on macOS. The filename is `libcuda.dylib`.

Resolved by `sudo ln -s /usr/local/cuda/lib/libcuda.dylib /usr/local/cuda/lib/libcuda.1.dylib`.

Preferable solution is a change to https://github.com/tensorflow/tensorflow/blob/master/tensorflow/s

[2017-01-06 13:23] as1ndu commented on #6591
works..  thanx @nagachika

[2017-01-06 13:23] #6591 closed

[2017-01-06 13:25] djwbrown commented on #6693
I guess it's a known issue. A bit late, I found this already covered in the documentation: https://www.tensorflow.org/get_started/os_setup#mac_os_x_segmentation_fault_when_import_tensorflow

I would submit a PR for a permanent fix, but maybe it breaks something on other systems. For now the fix is in the documentation.

[2017-01-06 13:37] eduOS opened #6694 "Why cannot I import the tpprof module?"
From [this line](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/tfprof/python/tools/tfprof/tfprof_logger.py#L30) I get to know that the new added profile tool is imported, but it seems strange: 1) it cannot be imported from the interactive interface; 2) and when mnist is run it raise the same error saying `ImportError: cannot import name 'tfprof_log_pb2'`. What happened fo

[2017-01-06 13:55] cancan101 opened #6695 "Cherry Pick bundle_shim to 0.12.x branch"
bundle_shim.py was added to ["allows a system to load both legacy session bundle and SavedModel bundle."](https://github.com/tensorflow/tensorflow/commit/de1f21e98a6dd14a5e4c1d2d9c14b430f57493b3#diff-340f927179763894226603c8e38e0ec4) however this is only on master. This leads to issues saving and then loading back models, for example see: https://github.com/tensorflow/tensorflow/issues/6336.

I su

[2017-01-06 14:15] eduOS commented on #6694
It is because I run the tf in anaconda which installed the oldest tensorflow and then cannot find the module.

[2017-01-06 14:15] #6694 closed

[2017-01-06 14:28] krfricke opened #6696 "conv2d / Kernel Size > Input does not raise ValueError anymore"
I noticed that tensorflow 0.10.0 raises a ValueError when I pass a kernel size that is larger than the first input dimensions. The error occurred when I tried to pass data in NCHW format, while the default data_format is NHWC.

I used this code for replication of the problem:

[code]

tensorflow 0.12.1 does not raise any error, whereas tensorflow 0.10.0 raises the following error:

[code]

I tried

[2017-01-06 14:47] ksrinivs64 commented on #3388
I'm using Keras but this fix doesn't work for me.  Still fails intermittently.

[2017-01-06 14:50] andrewharp commented on #5553
Glad to hear!

[2017-01-06 14:50] #5553 closed

[2017-01-06 14:52] sunsided commented on #42
Sadly one nasty part is the integration with Google's Cloud Dataflow like in [this example](https://cloud.google.com/blog/big-data/2016/12/how-to-train-and-classify-images-using-google-cloud-machine-learning-and-cloud-dataflow). You now have the choice of having TensorFlow (supporting only  Python 3.5) or Apache Beam SDK (supporting only Python 2.7), but not both. 🙈

[2017-01-06 14:53] kevinzakka commented on #206
Is there a way to do the following indexing?

`z_i = input_img[i, x[i], y[i]]`

[2017-01-06 16:11] guschmue commented on #6509
tf.reverse_sequence works ok, at least tensorflow/python/kernel_tests/reverse_sequence_op_test.py does pass.
tensorflow/python/kernel_tests/diag_op_test.py fails.
I can collect some info with nvidia debugger ... takes me a little: need to recompile with enough symbol info.

[2017-01-06 16:18] rdipietro commented on #6209
Hmm. To me it seems like it's a bug, especially because it doesn't lead to NaNs if exactly one NaN input is included after the valid inputs. But in any case if it's deemed too awkward to fix then it's not too big of a deal; since I encountered this I've been marking invalid time steps with 0s.

[2017-01-06 16:59] michaelisard commented on #6604
@mrry do you have any thoughts? Or reassign...

[2017-01-06 17:02] mrry commented on #6604
@michaelisard My understanding was that we're deprecating `tf.train.Supervisor` and encouraging people to move to the `tf.train.FooSession` classes, so any features would be added here. Sherry and/or Mustafa are the respective owners for these.

[2017-01-06 17:03] tillahoffmann commented on #6629
I often have the need to switch between 32 and 64 bits because 32 bits do not always suffice for the models I am interested in. If possible, I use 32 bits because I can train on the GPU. If that doesn't work I'd like to be able to switch to 64 bit. But maybe I can just define a `floatX` in my environment conditional on env variables.

Regarding the `config.proto`: we often want to use different de

[2017-01-06 17:07] tillahoffmann commented on #6692
You can pass a `var_list` to the [`minimize`](https://www.tensorflow.org/api_docs/python/train/optimizers#Optimizer.minimize) call of the optimizer.

[2017-01-06 17:08] michaelisard commented on #6611
This type of question is better asked on [Stackoverflow](http://stackoverflow.com/questions/tagged/tensorflow). Github issues are for bug reports and installation issues.

[2017-01-06 17:19] xmbrst commented on #3777
@chitro, do you think your Windows 10 issue is related to the Python 3 problem described by @tiagonj? If so, please update #3956 with a description of the problem. Otherwise, you might want to create a new issue.

I'm closing this issue about the text of the tutorial, which is working as intended. (The regularization code is framed in the text as a modification you can make to the existing code.)

[2017-01-06 17:19] #3777 closed

[2017-01-06 17:23] yaroslavvb commented on #6629
Regarding "float" type. Right now "float32" default is hardcoded in almost every op (github [search](https://github.com/tensorflow/tensorflow/search?p=3&q=%22dtype%3Dtf.float32%22&type=Code&utf8=%E2%9C%93).

One could potentially factor it out. But right now so few ops support non-float32 type, I wonder if other types make sense as a default. For instance, right now convolution doesn't support flo

[2017-01-06 17:23] vrv commented on #6629
Unfortunately, I think this is a huge support nightmare, since most people forget what settings they have in their home rc files.  I think it's unlikely we'll want to do this any time soon, though you could build a library to do this on your own (read your own .tensorflowrc file to populate the right fields in a ConfigProto).

[2017-01-06 17:26] michaelisard commented on #6476
I think this is a really interesting problem. In particular, I think it would be cool to combine the automatically-incrementalized differential dataflow in [Naiad](http://sigops.org/sosp/sosp13/papers/p439-murray.pdf) with automatic differentiation of the kind that TensorFlow does. However, this would be a major rewrite of a lot of TensorFlow, which is not currently architected for low-latency upd

[2017-01-06 17:26] #6476 closed

[2017-01-06 17:27] michaelisard commented on #6690
Closing even though it's an interesting idea, see rationale in #6476.

[2017-01-06 17:27] #6690 closed

[2017-01-06 17:29] ymfa opened #6698 "Crash: Could not create cuDNN handle when convnets are used"
Tensorflow (GPU) was imported successfully, but when running a session that involves a convolutional neural network (CNN), Python crashes with the following message:

    E tensorflow/stream_executor/cuda/cuda_dnn.cc:385] could not create cudnn handle: CUDNN_STATUS_INTERNAL_ERROR
    E tensorflow/stream_executor/cuda/cuda_dnn.cc:352] could not destroy cudnn handle: CUDNN_STATUS_BAD_PARAM
    F ten

[2017-01-06 17:29] michaelisard commented on #6613
@louisway did a newer bazel fix it?

[2017-01-06 17:30] szubair-nara commented on #6611
I believe that this is a bug in the code. Why is this better asked on stack overflow?

See line 185 in the word2vec_basic code and notice that the number of steps is set seemingly arbitrarily. The model does not iterate through even half of the dataset like this.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/tutorials/word2vec/word2vec_basic.py

[2017-01-06 17:37] tillahoffmann commented on #6629
Good idea. Maybe we'll just do that. Would `tf.contrib.rc` be a sensible place to put this if we end up sharing it?

[2017-01-06 17:38] michaelisard commented on #6627
Please see the [instructions on building from sources](https://www.tensorflow.org/get_started/os_setup#installing_from_sources).

[2017-01-06 17:38] #6627 closed

[2017-01-06 17:47] michaelisard commented on #6611
You are right this isn't a stackoverflow question: my apologies!

@sherrym I don't know if this is a bug or intentional for tutorial purposes but even if so I guess it needs a comment?

[2017-01-06 17:51] michaelisard commented on #6634
@ebrevdo what do you think?

[2017-01-06 17:52] yaroslavvb commented on #6476
@sirinath btw, CPU kernel launch is about 1 microsecond so it seems hard to get to <1 usec with TF

[2017-01-06 17:53] michaelisard commented on #6635
Is this on CPU?

[2017-01-06 17:55] gibiansky commented on #6675
Figured it out!

[2017-01-06 17:55] #6675 closed

[2017-01-06 17:56] michaelisard commented on #6642
This kind of usage question is best asked on [Stackoverflow](http://stackoverflow.com/questions/tagged/tensorflow). Github issues are for bug reports and installation issues.

[2017-01-06 17:56] #6642 closed

[2017-01-06 17:57] michaelisard commented on #6644
Would you fill in the issue template with your OS/setup, etc.? Thanks.

[2017-01-06 17:59] michaelisard commented on #6646
@theweiho what do you think?

[2017-01-06 18:01] michaelisard commented on #6649
I'm afraid there isn't enough detail here. Please open a new issue with the issue template filled in (OS, setup, code you are running, etc.)

[2017-01-06 18:01] #6649 closed

[2017-01-06 18:08] michaelisard commented on #6650
@sherrym can you see what's going wrong here?

[2017-01-06 18:09] vrv commented on #6629
For now, I think it would be best to have it in an external repo which you can advertise here.

If you're willing to write code to read a file from $HOME to populate a ConfigProto, you could also just write a default ConfigProto that you use in your own code...

[2017-01-06 18:09] #6629 closed

[2017-01-06 18:10] michaelisard commented on #6659
This kind of usage question is best asked on [Stackoverflow](http://stackoverflow.com/questions/tagged/tensorflow). Github issues are for bug reports and installation issues.

[2017-01-06 18:10] #6659 closed

[2017-01-06 18:10] michaelisard commented on #6661
This kind of usage question is best asked on [Stackoverflow](http://stackoverflow.com/questions/tagged/tensorflow). Github issues are for bug reports and installation issues.

[2017-01-06 18:10] #6661 closed

[2017-01-06 18:11] michaelisard commented on #6669
This kind of usage question is best asked on [Stackoverflow](http://stackoverflow.com/questions/tagged/tensorflow). Github issues are for bug reports and installation issues.

[2017-01-06 18:17] michaelisard commented on #6678
Have you tried increasing the memory available?

[2017-01-06 19:03] inflation commented on #6669
I believe it's a bug about how we implement `file_io`'s `readline()`. It would return `str`.
But according to the python3 pickle document:

Any thoughts?

[2017-01-06 19:24] jhseu commented on #6695
We don't plan to cherry-pick this into 0.12, particularly because it's in contrib.

It'll be in the next major release, though.

[2017-01-06 19:24] #6695 closed

[2017-01-06 19:33] gunan commented on #6660
Closing duplicate issue, as the other one seems to have more information.
Please follow #6059 for resolution.

[2017-01-06 19:33] #6660 closed

[2017-01-06 19:34] aselle commented on #6691
@mrry do you have any opinions on this.

[2017-01-06 19:35] aselle commented on #6692
@WI-KIWI  does @tillahoffmann's suggestion satisfy your need?

[2017-01-06 19:35] gunan commented on #6606
Closing duplicate issue. Please follow #6509 for updates.

[2017-01-06 19:35] #6606 closed

[2017-01-06 19:36] vrv commented on #6691
I think you can write a function that reads your own environment variables to populate and return a tf.ConfigProto() that sets these options -- I don't think it belongs in the TF core.  The explicit proto makes reproduction much easier.

[2017-01-06 19:36] #6691 closed

[2017-01-06 19:40] gunan commented on #6509
Merging duplicate issues.
@weixsong @aclaussen1 @buaahsh

Quoting some information from a duplicate:
(@buaahsh)

[2017-01-06 19:40] aselle commented on #6688
This question is best asked on StackOverflow first. You might make sure you are using tcmalloc, since the default allocator is prone to fragmentation.

[2017-01-06 19:40] #6688 closed

[2017-01-06 19:41] gunan commented on #6552
Closing to merge duplicate issues.
Please follow #6509 for updates.

[2017-01-06 19:41] #6552 closed

[2017-01-06 19:42] aselle commented on #6693
@gunan, can we accept this patch, or is there some reason it can't work reliably in every case?

[2017-01-06 19:44] gunan commented on #6586
Is it possible this is the same issue as #6509 ?

[2017-01-06 19:45] mrry commented on #6691
I agree with @vrv. (I should get that printed on a t-shirt.)

[2017-01-06 19:51] aselle commented on #6691
So essentially, someone who admins a cluster or uses this software has to be sure to force that code to run rather than letting users run arbitrary code that doesn't call their code. Presumably such a hook could be done somewhere else, even as extreme as LD_PRELOAD.

[2017-01-06 19:54] gunan commented on #6693
@caisq what do you think?

[2017-01-06 19:55] rpryzant commented on #6308
This may help you:
https://github.com/sherjilozair/char-rnn-tensorflow/issues/58#issuecomment-257380780

[2017-01-06 19:56] geromueller commented on #6691
@vrv sure I can, but the point is that the students and others do not have to do this. And to prevent the misuse of the cluster.
Please reopen this issue!!

[2017-01-06 20:08] KjerG commented on #5684
Sorry for taking so long to respond. Holiday season was rather busy.

I was looking through the /usr/local/lib folder and I've compiled a list of all the protobuf related files below:

[code]
Also, according to `protoc --version` I currently have `libprotoc 3.1.0` installed. Could this be causing the mismatch? Should I switch to a different version? As far as I know this is the most up to date ver

[2017-01-06 20:14] yaroslavvb commented on #6691
BTW, you can modify global setup by changing session.py

IE, inspect.getsourcefile(tf.Session) to find where it's defined, and then modify the part to something like below

[code]

Now all sessions default to using 24 threads

[2017-01-06 20:32] jackzzj commented on #6119
same problem .. still no solution ?

[2017-01-06 20:57] abergmeier commented on #6674
Can you at least give a rough overview of `pyclif`? Is it parsing headers same as `swig`.

[2017-01-06 21:07] yaroslavvb commented on #6674
@gpshead for comment on PyClif. My understanding is that it's quite different from SWIG.

[2017-01-06 21:19] sugartom commented on #6678
@michaelisard Hi Michael, thanks for your reply!
Yes, memory matters. I tried "`bazel build -c opt --config=cuda --local_resources 8096,.5,1.0 //tensorflow/tools/pip_package:build_pip_package`", and it managed to build. But it took 3 hours to build... Do you have any suggestion to speed up?
My machine has 16G RAM and 12G GPU memory. Thanks!

[2017-01-06 21:46] cpdurham opened #6700 "tensorflow docs have sigmoid_cross_entropy_with_logits args flipped"
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/api_docs/python/functions_and_classes/shard5/tf.nn.sigmoid_cross_entropy_with_logits.md

labels comes before logits, please excuse if i'm way off base, not sure where these docs are generated from

[2017-01-06 21:55] theweiho commented on #6646
It's not clear to me that this would make more sense - especially for the base use case where users simply have some IDs (without weights). Considering how the `tensorflow.Example` input data is probably storing the IDs as a repeated `bytes_list` or `int64_list` and how the weights are usually stored as a parallel `Feature`, it seems this change would force users to do an additional conversion int

[2017-01-06 22:03] chentingpc commented on #6646
@theweiho For the record, sp_mat will have the same format as sp_ids, just entries will present weights instead of ids, none weight is the same as that sp_mat id entries being const. like 1.

[2017-01-06 22:17] dasabir opened #6701 "Possible bug: tf.reverse() does not accept bool type 'dim' argument in r0.12"
I think tf.reverse() got messed up in r0.12. Though the [documentation](https://www.tensorflow.org/api_docs/python/array_ops/slicing_and_joining#reverse) says the argument 'dim' has to be 'bool', while running it complains -- "Value passed to parameter 'axis' has DataType bool not in list of allowed values: int32, int64". I can see that this comes from a new op -- tf.reverse_v2(). I saw that in r0

[2017-01-06 22:29] hannes-brt opened #6702 "Deadlock when decoding TFRecords"
I am storing my training examples as variable-length TFRecords using the following function for encoding:

[code]

The data stored here is genomic, but the details shouldn't matter.

When I'm training, I use the following function to decode the TFRecords:
[code]

During training, I've been getting deadlocks with triple-digit CPU loads during training (running on a six-core i7) and I've isolated th

[2017-01-06 22:30] theweiho commented on #6646
Suppose the IDs are stored as
Example 1: `int64_list { value: 7 value: 101 value: 420 }`
Example 2: `int64_list { value: 1 value: 8888 }`

They'd currently be read in as
[code]
by `parse_example()`, and can be used directly with `embedding_lookup_sparse()`.

With this change, the user will need to do an additional conversion to change it to
[code]
before being able to pass it into `embedding_looku

[2017-01-06 22:48] chentingpc commented on #6646
@theweiho that's a great example! And in this case, users need to make the changes. Well, that's expected since we're talking about changing the API. However, users don't have to keep useless col indices as in current one. more importantly, if you want to add weights based on the new API, you only need to change values, and don't need to construct and pass additional parameter. BTW, it seems dense

[2017-01-06 22:51] michaelisard commented on #6678
I'm glad that solved the immediate problem! I would ask on [Stackoverflow](http://stackoverflow.com/questions/tagged/tensorflow) for advice on speeding up the build; I'm sorry I don't have a lot of personal experience.

[2017-01-06 22:51] #6678 closed

[2017-01-06 22:57] michaelisard commented on #6682
@rmlarsen here's a customer for partial shape inference in tensordot. Any plans on working on it, or want to throw it over to contributions welcome?

[2017-01-06 23:00] lanceturnbull commented on #3388
@ksrinivs64  Can you post your error message and the problematic code here?

[2017-01-06 23:31] adamsyu commented on #6635
@michaelisard , yes, on CPU.

[2017-01-07 00:27] michaelisard commented on #6635
@rmlarsen any idea why this might be happening?

[2017-01-07 00:30] michaelisard commented on #6683
Do you have a simple repro you could share?

[2017-01-07 00:31] raraujosc opened #6706 "Bazel problem when using Tensorflow as an external dependency."
When using the HEAD version of Tensorflow as an external Bazel dependency (like tensorflow_serving does), we run into an issue in the line:

`load("@//third_party:common.bzl", "template_rule")`

inside

`tensorflow/third_party/jpeg/jpeg.BUILD`

That line assumes that Tensorflow is the main repository. But when Tensorflow is included in another project the main repository is the main project so tha

[2017-01-07 00:43] guschmue commented on #6509
no funny: after recompiling the cuda kernels with -G one_hot works now.
The diag_op still dies:

 	CUmodule 1c133fcdc00 - [3] const coeff - Line 130	CUDA
 	CUmodule 1c133fcdc00 - [2] evalScalar - Line 136	CUDA
 	CUmodule 1c133fcdc00 - [1] run - Line 209	CUDA
 	CUmodule 1c133fcdc00 - [0] EigenMetaKernel<TensorEvaluator<TensorAssignOp<TensorMap<Tensor<double,int=2,int=1,__int64>,int=16,MakePointer>,

[2017-01-07 00:58] aclaussen1 commented on #6606
I gave up on Windows and got it to work with Ubuntu

[2017-01-07 01:16] EncodeTS commented on #6698
[code]
I met exactly the same problem as you do.

[2017-01-07 01:52] yaroslavvb commented on #6702
Can you give a more complete reproducible example? I tried running your code on some synthetic data, and couldn't reproduce.

In particular, the function read_single_cossmo_example executes to completion. Do you mean that the problem happens on session.run on tensors created in that function?

Also, deadlock scenarios are typically low CPU usage -- you end up with every thread waiting on a mutex,

[2017-01-07 01:53] szb0 commented on #6692
If I understand @WI-KIWI may be asking if you can apply a binary masking matrix or vector to some parameters at each step. I am also interested in functionality that would allow me to pass either a list of indices to zero out weights or a list of indices to keep active at each step.

[2017-01-07 01:55] yaroslavvb commented on #6701
There's been some backward incompatible changes: https://github.com/tensorflow/tensorflow/blob/c72d891418c326794a913cc13382c104255fe1f2/RELEASE.md#breaking-changes-to-the-api

`tf.reverse() now takes indices of axes to be reversed. E.g. tf.reverse(a, [True, False, True]) must now be written as tf.reverse(a, [0, 2]). tf.reverse_v2() will remain until 1.0 final.`

does that help?

[2017-01-07 02:05] jart commented on #6674
Our current SWIG build code is not in a state where it's generalized enough for consumption outside the TensorFlow project. I've actually been thinking about cleaning up that code at some point or another, so I can break up our massive swig shared object into a bunch of tiny shared objects. But I'll hold off on that considering what I've read here.

@gpshead TensorFlow would be a big customer for

[2017-01-07 02:06] John-xiao opened #6709 "can't find zlib 1.2.8"
native.new_http_archive(
    name = "zlib_archive",
    url = "http://zlib.net/zlib-1.2.8.tar.gz",
    sha256 = "36658cb768a54c1d4dec43c3116c27ed893e88b02ecfcb44f2166f9c0b7f2a0d",
    strip_prefix = "zlib-1.2.8",
    build_file = str(Label("//:zlib.BUILD")),
)

1.2.10 is released

[2017-01-07 02:06] yaroslavvb commented on #6700
Arg order change was introduced in https://github.com/tensorflow/tensorflow/commit/333dc32ff79af21484695157f3d141dc776f7c02 by @martinwicke ... I guess docs need to be regenerated?

[2017-01-07 02:11] theweiho commented on #6646
I'd expect that to be the most common use case, though? Even if there are useless col indices, they're usually just generated for the user by `parse_example()` .

I agree that the new API would make it cleaner to add arbitrary weights - though I'd also expect most cases dealing with weights to have the weights stored in their input data as well - like
Example 1: float_list { value: 0.3 value: 0.6

[2017-01-07 02:13] yaroslavvb commented on #6709
Fixed in https://github.com/tensorflow/tensorflow/commit/1e317b1f7dc5ccf04fc51ac96d97f5bdaefa9af9

[2017-01-07 02:13] #6709 closed

[2017-01-07 02:27] yaroslavvb commented on #6687
Hm, can't reproduce...any idea what could be different about your setup? Here's what I tried

source activate tf12.2
export TF_BINARY_URL=https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-0.12.1-cp35-cp35m-linux_x86_64.whl
pip install -I --upgrade setuptools
pip install --upgrade $TF_BINARY_URL

git fetch
git tag -l
git checkout tags/0.12.1 -b 0.12.1
find . -name "mnist_replica*"

[2017-01-07 02:45] sahiliitm commented on #6688
Using tcmalloc didn't help. I don't think this is because of memory fragmentation. Anyway, I've asked a [question](http://stackoverflow.com/questions/41517145/outer-product-based-conv-filters-consume-disproportionately-high-memory) on SO. Thanks!

[2017-01-07 03:09] mervynhit1 commented on #6680
I this this is related to #4705

My fix is
1, Add export TF_NEED_CUDA=1 to ~/.bashrc
2, Source ~/.bashrc
3, configure tensorflow
4, bazel build

[2017-01-07 03:36] jacob-meacham commented on #3537
I had this same problem when building Tensorflow 0.9.0. The Eigen dependency that 0.9.0 uses includes this issue. It's fixed just three commits later: https://bitbucket.org/eigen/eigen/commits/e934860fa7bc

 Updating bazel to use the newer version of Eigen above worked for me. This problem also may be solved when building a more recent version of Tensorflow, but I wanted to save a couple hours of

[2017-01-07 04:10] dasabir commented on #6701
@yaroslavvb, I see. Thats quite a list. Yes, the workaround works. I just thought, as it is not conforming to the documentation, it might be an unintentional bug. Please close the issue if its not unintentional.

[2017-01-07 04:44] yaroslavvb commented on #6701
I suspect you were looking at the wrong documentation -- your commit hash is 21 hours old so you have a version newer than 0.12 and should be looking at documentation from head. Navigate to "VERSIONS" and click HEAD, the link should be:
https://www.tensorflow.org/versions/master/api_docs/python/array_ops/slicing_and_joining#reverse

[2017-01-07 04:46] yaroslavvb commented on #6640
Closing it for now since low-priority, will reopen with better reproducible example if this comes up again

[2017-01-07 04:46] #6640 closed

[2017-01-07 04:49] andrewharp commented on #3537
Not sure what the actual issue is, but API level >= 23 is required to build the Android app (though it will run on devices >= 21)

[2017-01-07 04:53] yaroslavvb commented on #6706
So a straightforward fix [fails](https://ci.tensorflow.org/job/tensorflow-pull-requests-cpu/3179/console) with

[code]

[2017-01-07 05:07] gunan commented on #6436
The check was there, but it was not happening as the first thing we need to do.
Modified it in master.
Should we cherrypick it into the release?

[2017-01-07 05:09] dasabir commented on #6701
@yaroslavvb, got it. I never knew I can get the latest documentation in such way. Thanks for the pointer. Closing the issue.

[2017-01-07 05:09] #6701 closed

[2017-01-07 05:10] vrv commented on #6436
We'll need to get good at cherrypicking releases into branches, so I say why not :)

[2017-01-07 05:27] ebrevdo commented on #6634
This would be a useful feature and in line with how nested variable scope work.  PRs welcome.

[2017-01-07 05:30] ebrevdo commented on #6477
We do not allow in place updates of anything but Variables because this
breaks functional flow and makes it impossible to correctly calculate
gradients.  In place operations on variables have no gradients partly
because of this.

On Jan 6, 2017 3:06 AM, "Suminda Dharmasena" <notifications@github.com>
wrote:

[2017-01-07 06:13] milinddeore opened #6711 "Android demo accuracy"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
I searched #1269 #504

### Environment info
Mac OS for build and Android version 5 to run .apk demo.

### If possible, provide a minimal reproducible example (We usually don't have time to read hundreds of lines of your code)

I followed the steps mentioned in #1269 and could able to run t

[2017-01-07 06:28] ffmpbgrnn commented on #6087
@yuanbyu , it seems slim.batch_norm still cannot be used inside while_loop. Here is the snippet to reproduce the error: `tensorflow.python.framework.errors_impl.InvalidArgumentError: The node 'control_dependency' has inputs from different frames. The input 'update_barrier' is in frame 'iteration/while/iteration/while/'. The input 'Mean' is in frame ''.`, I am using commit `2255bc2c1ada8a300adfc8a9

[2017-01-07 08:41] WI-KIWI commented on #6692
Hi all,
First of all, thanks for your quick responses.

The suggestion of @thilahoffman works only with entire sensors, not with individual locations within a sensor. The latter is what I need.

@szb0 yes, an application of a binary mask would be the way to go. This makes it two of us who need this feature.

[2017-01-07 09:21] MichaelLiang12 opened #6712 "Installed succesfully, but went wrong and outputed ‘undefined symbol: zgelsd_’ when testing"
### Environment info
Operating System: Ubuntu14.04, python3.4.3

**I installed tensorflow using pip3 succesfully** from https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-0.12.1-cp34-cp34m-linux_x86_64.whl

**When I tried to test it using offical test code, it went wrong as follows:**
/usr/bin/python3.4 /home/daisy/PycharmProjects/miachaelLiang/test_tensorflow.py
Traceback (most re

[2017-01-07 11:45] infwinston commented on #6687
Thanks for your quick reply.
Earlier I used the 0.12.1 version with gpu support which was built by myself (since my cuda version is 7.5).

To make the situation simple, I tried to install the pre-built CPU version by the following instructions
[code]
and then ran
[code]
Unfortunately, the same error occurred.
[code]
However, when I did the same things on another machine, it turns out to behave nor

[2017-01-07 12:30] AmnonDrory commented on #6378
On my system a similar error was produced as a result of the GPU running out of memory.

[2017-01-07 12:58] standy66 opened #6713 "Queues don't support enqueuing SparseTensor?"
It seems that right now RandomShuffleQueue doesn't support SparseTensor. When I run this minimal example
[code]
I get the following error:
[code]

[2017-01-07 14:16] standy66 commented on #5147
@cbockman, I use the following workaround:

[code]

Don't forget to start queue runners. If you use SparseTensors there is some extra work of packing and unpacking them into a list of plain tensors.

[2017-01-07 14:48] standy66 commented on #6713
The main reason I needed this is because shuffle_batch doesn't support dynamic_pad for now ([#5147](https://github.com/tensorflow/tensorflow/issues/5147)). So I used the following [piece of code](https://github.com/tensorflow/tensorflow/issues/5147#issuecomment-271086206). But RandomShuffleQueue doesn't support enqueuing SparseTensors directly. I worked this around by enqueuing _values_, _indices_

[2017-01-07 15:34] kencoken opened #6714 "TFSlim: evaluate multiple validation batches using `evaluation_loop`"
I'm trying to use placeholders for training with TF-Slim, as my training + evaluation data comes from outside of TF World. I've now got training working by using the workaround described in #6604 and keeping track of the last training batch to supply in the feed dict when calling `sess.run(summary_op)`.

However, evaluation using `evaluation_loop` over multiple batches seems to not be possible. Th

[2017-01-07 16:43] ymfa commented on #6698
@EncodeTS I just added a minimal reproducible example to my first post. Could you check if it reproduces the problem on your machine? On my machine, one convolutional layer works but not two convolutional layers, which led me to think that the problem might be caused by some resource limitations.

[2017-01-07 17:26] ebrevdo commented on #6640
If you rebuild your graph using a newer version of tf Python, it'll point
to the new TensorArray ops.

On Jan 6, 2017 8:47 PM, "Yaroslav Bulatov" <notifications@github.com> wrote:

[2017-01-07 18:27] michaelisard commented on #6669
@sherrym what do you think?

[2017-01-07 18:32] michaelisard commented on #6680
@xmbrst could we add this step to the docs?

[2017-01-07 18:35] michaelisard commented on #6687
@sherrym there seems to be some issue that turns up in a variety of circumstances e.g. here and #3208 which results in this unhelpful error message. Any thoughts on making it easier to debug?

[2017-01-07 18:42] yaroslavvb commented on #6687
My reading of the error message is that `self._replica_id` was `None`, so the code executed `array_ops.reshape(None, ...)` which gives this error. @jmchen-g -- do you have any idea why `replica_id` would be none in `training/sync_replicas_optimizer.py:751` ?

[2017-01-07 18:42] michaelisard commented on #6692
Sorry if I am not understanding, but can you just multiply by a mask as in the [dropout](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/nn_ops.py#L1886) op?

[2017-01-07 18:55] yaroslavvb commented on #6687
Generally I think this would be more human-readable if `None` checking occurred few levels up, at `op_def_lib.apply_op`, ie [here](https://github.com/tensorflow/tensorflow/blob/eb56a8af24695bf8258addf28b0c53fbabff72e6/tensorflow/python/framework/op_def_library.py#L289). Since `None` is a Python-only thing, this could be a check for None at the top level of `apply_op` which prints which value was n

[2017-01-07 18:57] michaelisard commented on #6696
@sherrym do you know why this went away?

[2017-01-07 19:15] michaelisard commented on #6711
This type of usage question is better asked on [Stackoverflow](http://stackoverflow.com/questions/tagged/tensorflow).

[2017-01-07 19:15] #6711 closed

[2017-01-07 20:07] yaroslavvb opened #6716 "Feature request: easier access to tensor de-allocation information"
TLDR; to debug TensorFlow out-of-memory situations one needs to see tensor de-allocation info.

You can see allocation stats in timeline, but without de-allocation info you can't calculate peak memory. Currently getting peak memory is possible by:

1. Hacking TensorFlow to print deallocation messages with timestamps as [here](https://github.com/yaroslavvb/tensorflow/commit/5d4cd97c0a73e91ee37c025c

[2017-01-07 20:21] cpdurham commented on #6700
wow, isn't this going to break upgraded code in very hard to debug ways?

[2017-01-07 20:24] kengz commented on #3388
@ksrinivs64 try delete session from keras backend:
[code]

[2017-01-07 20:24] yaroslavvb commented on #6700
This is one of a number of "hard to debug breaking changes" coming up in preparation to 1.0 release, documented [here](https://github.com/tensorflow/tensorflow/blob/c72d891418c326794a913cc13382c104255fe1f2/RELEASE.md#breaking-changes-to-the-api) . The recommendation for backward compatibility is to not use any positional arguments but specify keywords explicitly

[2017-01-07 20:42] asrivat1 commented on #6384
Just built from source and can confirm that this is now working. Thanks!

[2017-01-07 20:47] ebrevdo commented on #6713
tf.train.shuffle_batch supports SparseTensor, you can use that. It goes the work for you.

[2017-01-07 20:48] #6713 closed

[2017-01-07 21:03] ddetone commented on #6503
@aselle @rmlarsen Any update on this?

[2017-01-07 22:28] abergmeier commented on #6674
@jart I am currently looking into a more general _rules_swig_ project. Prototyping the rules, I somewhat get the feeling I should wait until 0.6 so I can use generalized providers. Also I am not in a hurry.

[2017-01-07 22:52] yaroslavvb commented on #6698
I can confirm that this fails on MacOS NVidia 750, but also same example works on Linux/Titan X

[2017-01-07 22:54] redst4r commented on #5688
can confirm a similar issue with large 3D convolutions:

[code]
will yield `tensorflow/stream_executor/cuda/cuda_dnn.cc:2674] failed to enqueue convolution on stream: CUDNN_STATUS_EXECUTION_FAILED`.
It runs fine if I set `inshape = (2,257,257,34,1)` instead, so there's some issue with the sizes. However I dont think its the usual GPU-out-of-memory issue:
1. the same convolution runs perfectly fine

[2017-01-07 23:36] cipri-tom commented on #6497
@inferrna just my 2p: I saw on a different thread that you're using Ubuntu 16.04 with Catalyst drivers. Are you sure? I've recently read that 16.04 dropped support for proprietary AMD drivers...

[2017-01-07 23:41] sguada commented on #6714
I would recommend you to use [evaluate_once](https://github.com/tensorflow/tensorflow/blob/78b12941db2e1b9baee785dce1edf1e557377acc/tensorflow/contrib/training/python/training/evaluation.py#L337).
Take a look at [evaluate_repeatedly](https://github.com/tensorflow/tensorflow/blob/78b12941db2e1b9baee785dce1edf1e557377acc/tensorflow/contrib/training/python/training/evaluation.py#L434) to see how to u

[2017-01-08 00:29] lwohlhart opened #6717 "Incorrect gradient for categorical distribution entropy"
The **Categorical** distribution class provides an awesome **entropy** operator but apparently the **gradient** calculation w.r.t. the input operators **doesn't work**.

[code]

In the outputs we see that the entropy calculation works but the gradients are somehow lost. This obviously also doesn't work when I try to maximize this entropy using any optimizer.
[code]

[2017-01-08 00:34] kencoken commented on #6714
Thanks for the help @sguada! However, I'm still not sure whether that solves the underlying issue of the `feed_dict` being a constant parameter to `evaluate_once` as far as I can see. In the function, there are the following lines:

[code]

And so until the `should_stop` flag is set, the same `feed_dict` will be used for every evaluation?

In the docstring of `evaluate_repeatedly` there is a comme

[2017-01-08 00:42] holdenlee opened #6718 "Typos in docs for expand_dims"
`dim` has been replaced by `axis` in the documentation.

(https://www.tensorflow.org/api_docs/python/array_ops/shapes_and_shaping#expand_dims)

[2017-01-08 00:44] martinwicke commented on #6700
And in fact, the new interface disallows positional arguments for that
exact reason.

[2017-01-08 01:25] shankyjari commented on #1402
Facing this error when installing tensorflow on windows 8 with python 3.5 and importing it from IDLE. I think it is the same issue.

Traceback (most recent call last):
  File "C:\python_35_2_64\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 18, in swig_import_helper
    return importlib.import_module(mname)
  File "C:\python_35_2_64\lib\importlib\__init__.py", line 126, in import_

[2017-01-08 01:31] michaelisard commented on #6716
I will take a look but it will take me a few days to get to it. The reason it isn't trivial to put it in the timelines is that deallocation is done when the refcount falls to zero, not by an explicit call at a site that has a reference to the timeline datastructure.

[2017-01-08 01:34] ebrevdo commented on #6509
Derek, looks like a Windows cuda / eigen issue.

[2017-01-08 01:35] ebrevdo commented on #6509
Sergey, can you run the job with cuda-memcheck?  You may have to recompile -c dbg.  Not sure.

[2017-01-08 01:44] ebrevdo commented on #6308
Fogelton, does that advice solve your problem?

[2017-01-08 02:00] JoelKronander opened #6720 "tf.image.resize_images() - weird padding behaviour?"
The tf.image.resize_images() seems to use a strange padding option, which one is not clear to me at the moment. I tried to replicate the bilinear interpolation with various padding options in for example skimage, but cant replicate the behaviour.

It would be nice to be able to set the padding option used in tf.images.resize_images(), or document what is used at least.

Example code for comparing

[2017-01-08 03:48] EncodeTS commented on #6698
The minimal example works on my Ubuntu. It looks like the issue I had encountered has a very low occurrence probability on my computer.

[2017-01-08 03:51] jart commented on #6706
It's not possible to use TensorFlow as an external dependency yet due to https://github.com/bazelbuild/bazel/issues/1248

[2017-01-08 05:08] raraujosc commented on #6706
Well, tensorflow_serving certainly uses it right now, but synced to a slightly older version that didn't have this issue. We also do it for an internal project at Snapchat.

I think there should be workaround in Tensorflow while Bazel doesn't fix that issue. The problem was introduced recently in Tensorflow.

[2017-01-08 05:15] fogelton commented on #6308
I did not have any problem, I just reported a bug in tensorflow, that those two numbers are switched in the error message. I found out so I reported it.

[2017-01-08 05:20] ppwwyyxx commented on #6700
Some other function, e.g. sparse_softmax_cross_entropy_with_logits also have this breaking change. These need to be documented in RELEASE.md.

But in one function: [tf.nn.weighted_cross_entropy_with_logits](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/api_docs/python/functions_and_classes/shard8/tf.nn.weighted_cross_entropy_with_logits.md) , positional arguments are not di

[2017-01-08 05:50] martinwicke commented on #6700
That's a good point. We should enforce names args for that function as
well.

[2017-01-08 05:51] martinwicke commented on #6706
Do you know what change caused the issue?

[2017-01-08 05:53] ehzShelter commented on #6533
@MichaelCaraccio Is that safe for linux 64 bit to install?

[2017-01-08 05:56] jart commented on #6706
Your problem most likely originated in https://github.com/tensorflow/tensorflow/pull/6462. I wasn't aware that other Bazel projects were referencing TensorFlow as an external dependency. So it seems fixing this should be much higher on our list of priorities.

As a workaround, what we can do is add an `omit_jpeg` parameter to [tf_workspace](https://github.com/tensorflow/tensorflow/blob/master/tens

[2017-01-08 05:56] jart commented on #6706
This is a bug that's actually been bugging me for the better part of a year. So I'd really love to see it solved.

[2017-01-08 05:58] jart commented on #6706
We can also do what @gunan is proposing (https://github.com/tensorflow/tensorflow/pull/6710#issuecomment-271129858) and rollback the change.

[2017-01-08 06:05] cbockman commented on #5147
Hi @standy66 , thanks, I may not be fully following this, but does this work when using TFRecords format w/ very large data sets which are loaded incrementally?

The above solution looks like we're loading everything into memory, which isn't viable with large data sets--but maybe I'm not interpreting it correctly.

[2017-01-08 06:15] jart commented on #6674
What are "generalized providers"?

If you're interesting in making a rules_swig project for Bazel, I would recommend having a conversation with @lberki and @ulfjack beforehand. Internally at Google we have a solution for this called py_wrap_cc. But it wasn't open sourced. Probably because Swig was a hard problem to solve and required peculiarities that wouldn't make sense outside of Google.

[2017-01-08 07:05] HRLTY opened #6722 "tensorflow conv2d unexpected convolution result"
I try to migrate a `Caffe` network and model(weights) to `tensorflow`. The original first layer is a stride one convolution on 1x128x128 gray image with kernel size 5x5, output channel 96, Caffe two padding, tf 'SAME' padding.
I checked the input image and kernel weights are the same for both versions.
However, the two's upper left corner of conv1's first feature map are **different**.
Only the le

[2017-01-08 07:54] nikitakit commented on #654
Now that my research has once again touched on beam search, I've taken another look at the latest comments here. It seems that my previous remarks about `raw_rnn` were greeted with some confusion, though I thought the meaning was sufficiently clear if you understand the math behind beam search. I hope that in the meantime everyone found a working beam search solution among those posted in this thr

[2017-01-08 08:25] standy66 commented on #5147
@cbockman, no, we are not loading everything into memory. I use this solution myself for a research problem employing large datasets (100GB+ of raw data) serialized in TFRecords format.

I should clarify: _inputs_ is a list or tuple of tensors, representing a single training example, (in my case they are obtained by reading a TFRecord file format with TFRecorReader). Maybe this can help:

[code]

[2017-01-08 08:26] johny7 opened #6724 "Feature request: 1D deconvolution"
Pretty much topic tells the whole story.

For auto-encoder based on 1D convolutions, opposite operation is required to complete decoding part.
This is planned to be used for sound processing.

[2017-01-08 08:28] atlury commented on #22
@benoitsteiner What is the current state on opencl convolutions support? Are you planning on leverage the exiting kernel directly? What about matrix multiplications?

Any ETA?

[2017-01-08 09:31] martinwicke commented on #6712
This looks to me like your numpy installation is broken. Numpy appears installed by linked incorrectly to lapack. Not much we can do about this in TensorFlow.

[2017-01-08 09:31] #6712 closed

[2017-01-08 10:13] jeffheaton opened #6725 "text_classification_character_rnn.py is using GRU cell at old location(compile error)"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-01-08 10:33] #6722 closed

[2017-01-08 11:11] MichaelCaraccio commented on #6533
@ehzShelter I did not test on linux. Check this page : [Download and Setup](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/get_started/os_setup.md#pip-installation) and choose the whl files corresponding to your distribution and architecture.

[2017-01-08 11:46] metropt commented on #6393
How did you solved that? run it as sudo doesnt looks the best option...

[2017-01-08 12:07] WI-KIWI commented on #6692
I wouldn’t know what to multiply by a mask, so that the gradient descent would only train a needed subset of synapses (not tensors, but only certain elements within tensors).

Of course, it is easy to define a control tensor of 1s and 0s indicating fixed and trainable weights. However, I don’t know how to make the gradient descent function use the control tensor.

[2017-01-08 14:47] beraybentesen opened #6726 "Error importing Tensorflow"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-01-08 17:31] krautt opened #6727 "tf.contrib.learn.monitors.ValidationMonitor hangs when passed input_fn parameter"
Hello!
I have been working my way through the  tf.contrib.learn [tutorials](https://www.tensorflow.org/tutorials/) and have been attempting to integrate the tf.contrib.learn.monitors.ValidationMonitor into the 'deep' classifier in wide_n_deep.py as shown below.

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?  I searched both Github and

[2017-01-08 17:52] abossenbroek opened #6728 "Build with CUDA 8.0 fails on Mac OS X 10.12.2"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-01-08 17:52] #6728 closed

[2017-01-08 17:59] abossenbroek opened #6729 "Library not loaded: @rpath/libcudart.8.0.dylib when running TF GPU on MacOS"
Something related to linking seems to cause the build to fail on Mac OS 10.12.2 when building with CUDA.

Verbose build error is:

[code]

### Related posts
It seems that Caffe had similar issues due to Apple dropping the `LD_LIBRARY_PATH` environment variable: https://github.com/BVLC/caffe/issues/3227

### Environment info
Operating System: Mac OS 10.12.2

Installed version of CUDA and cuDNN:
[co

[2017-01-08 18:21] ehzShelter commented on #6533
Thank you @MichaelCaraccio ! @domschl solution is working, But I am not sure why it is working. If renaming the .whl is just fine, why maintainer not updating their source repo or readme..

[2017-01-08 19:48] bodokaiser commented on #6666
If someone finds this. It should also be possible to use `reader.restore_state()` for this purpose. [See API docs](https://www.tensorflow.org/api_docs/python/io_ops/readers#TFRecordReader.restore_state)

[2017-01-08 20:07] szb0 commented on #6692
Basically a way to easily apply binary masks to the gradients for each parameter matrix/vector. In particular a nice to have would be a way that allows for a sparse representation of the masks (non-zero or zero indices). I think this is already possible to do if you make a modification between the optimizers compute_gradients and apply_gradients call. Maybe just by defining placeholders for the in

[2017-01-08 20:24] alihusn commented on #1013
For windows users install Visual C++ 2015 redistributable (x64 version) to be able to import tensorflow

[2017-01-08 21:30] Carmezim commented on #6726
Can you include the entire error message?

[2017-01-08 21:59] yaroslavvb commented on #6729
Can you run tensorflow GPU from an official MacOS GPU PIP package? There are some SIP-related issues which also cause a failure there

[2017-01-08 22:05] danmane commented on #6532
Go for it :)

[2017-01-08 22:07] danmane commented on #842
@dyelax Feel free to take a shot. If you build it as a standalone Polymer component that would make it easier to integrate into TensorBoard as a new tab. You could try forking one of the existing dashboards and adding the functionality you need.

We plan to make it possible for TensorBoard to request raw Tensor data directly from the backend (i.e. from a tf.summary.tensor_summary) which may be hel

[2017-01-08 22:09] danmane commented on #6150
We intend to add a "display_name" option to the summaries that controls how it displays in the frontend.

A pull request would probably look like: add some metadata to the summary op that appears in the NodeDef in the graph, have the EventAccumulator read that metadata when it parses the graph definition, and then pass the metadata along with the summary info to the TensorBoard frontend. It's not

[2017-01-08 22:23] abossenbroek commented on #6729
Installed the GPU version from the official page and `import tensorflow as tf` leads to an error:

[code]

[2017-01-08 22:33] abossenbroek commented on #6729
The install goes well.  Just ran the tests and those as expected but not sure whether tensorflow is using my GPU. I ran the test described on https://www.tensorflow.org/how_tos/using_gpu/ to see whether Tensorflow sees my gpus and unfortunately it doesn't. The output is:
[code]

[2017-01-08 22:42] yaroslavvb commented on #6729
You should see something like this if you installed MacOS GPU version

[code]

[2017-01-08 22:56] gunan commented on #6533
The reason so far is we have not tested it using python 3.6.
We are currently considering our options.

[2017-01-08 23:17] ehzShelter commented on #6533
@gunan got it. Anyway, tensorflow build from source documentation is not comprehensive. I cannot able to .whl file using bazel. Reading Readme file is little bit anecdotal. Maybe I am noob to understand.

[2017-01-08 23:41] abossenbroek commented on #6729
Same issue:
[code]

[2017-01-08 23:46] yaroslavvb commented on #6729
So this is not an issue with building, but rather you not being able to load your cuda libraries during runtime

Some troubleshooting is here:
https://github.com/tensorflow/tensorflow/issues/5141

(ln -s your libcuda file, disable SIP, make sure you set LD_LIBRARY_PATH, and DYLD_LIBRARY_PATH correctly)

[2017-01-08 23:55] yaroslavvb commented on #6718
Perhaps you have an older version of TensorFlow, it's been renamed to axis in 0.12
[code]

[2017-01-08 23:55] #6718 closed

[2017-01-08 23:57] yaroslavvb commented on #6729
Also see https://github.com/tensorflow/tensorflow/issues/6693

[2017-01-09 00:15] terryspitz commented on #559
i had the same problem with Windows 10, numpy error under Python27 embedded in FreeCAD.   Installing various versions of numpy didn't help (newer versions gave slightly different error message for same issue).

Eventually i have solved it by fixing numpy to include a manifest pointing to required VC90 DLLs:

Problem:
[code]python -c "import numpy"
[/code]
make sure this is the 2.7 version of pytho

[2017-01-09 00:22] ppwwyyxx commented on #6150
Great! If you have that on the TODO list maybe I should leave it to you.
One question: isn't this just the old "tag" field that was in Summary::Value that's used by the old summary module? Why not use that field?

[2017-01-09 01:30] holdenlee commented on #6718
The typo is:
[code]
It appears several times.

[2017-01-09 01:35] yaroslavvb commented on #6718
I see. It seems to have been fixed in master:
https://www.tensorflow.org/versions/master/api_docs/python/array_ops/shapes_and_shaping#expand_dims

[2017-01-09 02:10] yaroslavvb commented on #6724
There's a kind of deconvolution described in [Deconvolutional Networks](http://www.matthewzeiler.com/pubs/cvpr2010/cvpr2010.pdf) which is implemented as `nn.conv2d_transpose`

[2017-01-09 02:25] yaroslavvb commented on #6717
I suspect this a numerical stability issue. [Looking](https://gist.github.com/yaroslavvb/97504b8221a8529e7a51a50915206d68) at your "working" graph, it uses LogSoftmax and LogSoftmaxGrad nodes. Whereas in the categorical distribution, it computes SoftmaxGrad and then applies LogGrad on top of it. @ebrevdo

[2017-01-09 02:34] concretevitamin commented on #6460
+cc @mrry in case this could be solved by your recent optimizations on distributed runtime performance!

[2017-01-09 02:40] concretevitamin commented on #6391
Since a workaround exists, we'll gladly accept a patch :)

[2017-01-09 02:46] concretevitamin commented on #5110
Pinging @sukritiramesh

[2017-01-09 02:58] usmcamp0811 opened #6730 "tf.map_fn throws error...sometimes...."
### Environment info
Operating System: Ubuntu 16.04

Installed version of CUDA and cuDNN:
	libcudart.so.8.0 (libc6,x86-64) => /usr/local/cuda-8.0/targets/x86_64-linux/lib/libcudart.so.8.0
	libcudart.so.7.5 (libc6,x86-64) => /usr/lib/x86_64-linux-gnu/libcudart.so.7.5
	libcudart.so (libc6,x86-64) => /usr/local/cuda-8.0/targets/x86_64-linux/lib/libcudart.so
	libcudart.so (libc6,x86-64) => /usr/lib/x8

[2017-01-09 03:11] yaroslavvb commented on #6730
Could you give instructions on how to reproduce this?

[2017-01-09 03:35] usmcamp0811 commented on #6730
`
def read_and_decode(filename_queue,imshape=160*160*3):
    reader = tf.TFRecordReader()
    _, serialized_example = reader.read(filename_queue)
    features = tf.parse_single_example(
        serialized_example,
        features={
            'image_raw': tf.FixedLenFeature([], tf.string),
            'label': tf.FixedLenFeature([], tf.int64),
            'height': tf.FixedLenFeature([], tf.int6

[2017-01-09 04:09] pbhatia243 commented on #654
Can you send me the Pull Request with the changes

[2017-01-09 04:15] michaelisard commented on #6720
@xmbrst could this be documented better?

[2017-01-09 04:32] nikitakit commented on #654
@pbhatia243 Could you clarify what you meant by your last comment?

To be clear, my implementation self-contained and independent of what's in your repo, so surely you were referring to something else? (Feel free to use my code if you need it, though)

One thing I want to point out, having taken a look at your Neural Conversion Models repo, is that it uses a loop function approach. I therefore sus

[2017-01-09 04:55] gunan commented on #6726
Ah, It is difficult to see because of the because it is not formatted.
Error message is:
[code]
The error message actually is quite helpful here. you simply need to exit your interpreter, change your directory to something other than the directory where you cloned github tensorflow repository.

The reason for the issue is python gets confused about what to import when you run "import tensorflow" (

[2017-01-09 04:55] #6726 closed

[2017-01-09 05:03] NoNoCalm opened #6731 "Add contrib/tfprof to CMake build"
Tensorflow for windows has package missing issue
Path: tensorflow/contrib/tfprof
All the files under the path are missing,resnet model replies on these files.
Please pay attention,thank you.

[2017-01-09 05:06] tvkpz commented on #6202
I get

TypeError: zeros_initializer() got multiple values for keyword argument 'dtype'
for the inception model command:

bazel-bin/tensorflow_serving/example/inception_export --checkpoint_dir=inception-v3 --export_dir=inception-export

NOTE: I am able to successfully run the MNIST example for tensorflow serving but not the inception one.
I have tried all the recommendations mentioned previously.

[2017-01-09 05:39] xisnu commented on #6683
@michaelisard
I am extremely sorry for my delayed response. My input is taken from a H5 file which contains features extracted from online handwriting data sample. at every time step I have 16 features. Every time I read from this file the order of data is shuffled.
Here is the part where I am creating the graph.
[code]
Just after this, I am running the training and saving it
[code]
Now, whenever

[2017-01-09 06:08] raady07 opened #6732 "array operations in tensorflow"
ubunutu14.0.4
python3.5

Hello,

Im new using tensorflow library. Im trying to access data in text file and I can run it as python code but access the array elements using this library is not known. Please help

I have a text file that contains float and integer values
`import tensorflow as tf
import numpy as np
import os
file_pathname1 = os.path.join(os.path.expanduser('~'),'Desktop','TF','Practi

[2017-01-09 06:13] julien888 commented on #550
I think that I may have a bug in the data_utils.py:
`  if not normalize_digits:
    return [vocabulary.get(w.decode(), UNK_ID) for w in words]
  # Normalize digits by 0 before looking words up in the vocabulary.
  return [vocabulary.get(_DIGIT_RE.sub(b"0", w).decode(), UNK_ID) for w in words]
`

w is a binary string and the vocabulary.get() would ALWAYS fail and result in an UNK. Adding w.decode()

[2017-01-09 06:13] nika-begiashvili opened #6733 "Export meta graph option in image retraining"
I was trying to tensorflow serve my retrained graph ( *.pb file ) but if I understand correctly it doesn't contain meta graph in it, so wouldn't it be nice to have export meta graph options in retrain.py ?

[2017-01-09 06:17] yaroslavvb commented on #6730
Hm, I think this needs a bit more isolation/reproducible instructions before being actionable as a bug

[2017-01-09 06:22] julien888 commented on #550
I think I may have found a bug in in data_utils.py:
`  if not normalize_digits:
    return [vocabulary.get(w.decode(), UNK_ID) for w in words]

  return [vocabulary.get(_DIGIT_RE.sub(b"0", w).decode(), UNK_ID) for w in words]`

Using python 3.5.2, vocabulary.get(w) does not work when w is a binary string. vocabulary.get(w.decode()) works. I am retraining, at least I do not get the dreaded UNK...

[2017-01-09 06:29] philokey opened #6734 "Can not register user_ops in Android APP"
Hello!
I want to user some user ops, such as `roi_pooling.cc` in Android. I build my Android project by Bazel, just like the Tensorflow Android demo, but I seems Android does build user_ops, the logcat shows as following:
`tensorflow_inference_jni.cc:146 Could not create TensorFlow graph: Not found: Op type not registered 'RoiPooling'`
Is it a bug or how can I solve this problem?
Thank you in adva

[2017-01-09 06:30] yaroslavvb commented on #6730
One thing I see here -- you are potentially modifying the same Graph from different threads. However, Graph object is not thread safe for writing from multiple threads. Also I'm not sure you need `map_fn` here, if you need `k` different random distorters, you can call your `random_distorter` function several times and resulting tensors will give you different distortions on each session run