[2016-07-22 05:16] concretevitamin commented on #3436
@nfiedel: can you take a look Noah?  Thanks.

[2016-07-22 05:17] concretevitamin commented on #3449
@shekkizh can you test against 0.8.0, as @yaroslavvb mentioned (thanks!)?

[2016-07-22 05:19] concretevitamin commented on #3439
Assigning @martinwicke to redirect to tf.learn folks.

[2016-07-22 05:24] concretevitamin commented on #3440
Please redirect to StackOverflow for questions like this.  Thanks!

[2016-07-22 05:24] #3440 closed

[2016-07-22 05:27] concretevitamin commented on #3451
@maciekcc: can you take a look? Thanks.

[2016-07-22 05:30] concretevitamin commented on #3445
It's in our README: https://github.com/tensorflow/tensorflow#installation.

[2016-07-22 05:30] #3445 closed

[2016-07-22 05:36] concretevitamin commented on #3453
I can't immediately tell why, looking at the code.  Call stack: `Saver.save()` calls `_MaybeDeleteOldCheckpoints()`, which will inspect `max_to_keep`.

Could you add some debug logging to both these methods, and relaunch on the two machines?

[2016-07-22 05:40] concretevitamin commented on #3397
@osdf: for now, I think a workaround is to use
[code]
which should attempt to place non-GPU-available ops on CPU instead.

[2016-07-22 06:25] osdf commented on #3397
Thank you @concretevitamin and @vincentvanhoucke. Do you think this issue should be closed? If it turns out that somebody needs this to be placed on GPU it could be reopened. (I briefly thought of taking a stab at it but a bit time-limited right now). Apart from that it serves as a reference if anybody else encounters it.

[2016-07-22 07:20] bangbangbear commented on #3349
I met with the same problem, and after I copied the declaration of the template scalar_multiple2_op from eigen, the problem is fixed. Here is the patch (Obviously this is not a good place to put the declaration, but let's wait for a googler to fix).

index 356bf19..7b5ef66 100644
--- a/third_party/eigen3/unsupported/Eigen/CXX11/src/FixedPoint/PacketMathAVX2.h
+++ b/third_party/eigen3/unsupported/E

[2016-07-22 07:26] llhe commented on #338
@vincentvanhoucke I guess @skearnes meaning compressing the training data instead of the checkpoints. In some cases, the input feature vectors are extremely sparse and compression will reduce the IO dramatically. So I'm also wondering whether the compression of TFRecord file will be supported in the future?

[2016-07-22 07:31] llhe commented on #338
@delip Snappy is another choice: https://github.com/google/snappy

[2016-07-22 07:35] volkovma commented on #92
+1 for java

[2016-07-22 07:54] perhapszzy opened #3457 "Problem in distributed tensorflow demo?"
### Environment info

Operating System:
Kubernetes (using the 0.8.0 server image)

Installed version of CUDA and cuDNN:
No

When I start the [mnist_replica demo](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/dist_test/python/mnist_replica.py), it stuck after `prepare_or_wait_for_session`

But if I run `start_queue_runners` for both chief worker and all other workers, it run

[2016-07-22 08:03] perhapszzy commented on #3457
made a pr https://github.com/tensorflow/tensorflow/pull/3458 to fix this

[2016-07-22 08:11] untom opened #3459 "tf.cond blocks forever when one branch calls tf.random_crop trough tf.map_fn"
I'm running tensorflow 0.9.0 on Python 3.5.2 using CUDA 7.5 on CentOS 7, and I keep running into very weird behaviour: tf.cond seems to stall forever when the non-active branch calls tf.random_crop. I've reduced my code to the following minimal example:

    import numpy as np
    import tensorflow as tf

    IMG_WIDTH = 32
    IMG_HEIGHT = 32
    IMG_CHANNELS = 3

    def distort_image(image):

[2016-07-22 09:20] marcoadurno opened #3460 "Exponential Moving Average of trained variables in tf.contrib.learn.estimators.estimator"
Hi,

As mentioned in the cifar10 tutorial, it is often useful to use an exponential moving average of the trained variables at prediction time.

From my understanding, in it's current form, the class BaseEstimator does not allow to do so.

The _infer_model method of BaseEstimator would need to create a saver object that restores the averaged version of the trained variables, and the saver object w

[2016-07-22 10:06] Ape commented on #3309
This now occurred also on Raspberry Pi 2 (Raspbian Jessie). It seems a bit random when it occurs.

[2016-07-22 10:29] mbaytas commented on #3203
Solved my problem by checking out the r0.9 branch.

[2016-07-22 13:26] vincentvanhoucke commented on #3397
Please leave it open. It's likely others will hit the same problem.

[2016-07-22 14:30] admcrae commented on #3349
I had this problem on Ubuntu 14.04, but not on 16.04; 16.04 has a newer version of Eigen (3.3), which, according to the Eigen website, adds AVX support. However, I've compiled on 14.04 with AVX in the past, so I'm not sure why this is suddenly a problem now.

[2016-07-22 15:52] ryan-cahill commented on #3362
@ppries I realize that this thread isn't exactly for asking questions like this, but the TensorFlow c++ docs and examples are so sparse that I'll take help from just about anywhere at this point. I'm attempting to load a multi-layer CNN in c++ that I've successfully trained in python, but there aren't great references to see how this works. I've attempted this many different ways, and none of them

[2016-07-22 16:00] martinwicke commented on #3439
That's a harmless info message emitted when eval hits the end of the eval data. You say only the first eval step is done properly -- what happens instead?

[2016-07-22 16:02] martinwicke commented on #3437
Which version of bazel are you using?

[2016-07-22 16:10] danbri commented on #254
@samjabrahams perhaps this situation merits a new dedicated bug report, as it is a very specific matter?

[2016-07-22 16:16] KendallWeihe opened #3463 "Dev request -- LSTM RNN"
I previously [posted](https://github.com/tensorflow/tensorflow/issues/3278) about processing 3D data in an LSTM network with Tensorflow. It turns out Grid LSTM networks are what would work best. Already applied in contrib gridd_rnn.py. [This](http://arxiv.org/abs/1507.01526) paper (Grid LSTM) outlines Grid LSTM, but they also mentioned something I found to be a great idea.

I don't believe there i

[2016-07-22 16:31] dmansfield commented on #3408
Just encountered this when building TF Serving with TF submodule updated to latest master. `pip install mock` got past it.

[2016-07-22 16:32] omoindrot opened #3464 "Extract the element from the output list of tf.py_func when length 1"
`tf.py_func` could extract the element from the list when the length is 1.

In this example:

    def func(x):
        return 2*x

    x = tf.constant(1.)
    res = tf.py_func(func, [x], [tf.float32])

`res` is a list containing 1 Tensor. This can be confusing, because users expect to get only one tensor as output.

`tf.cond` handles this case well:

[2016-07-22 16:34] martinwicke commented on #2703
what's your bazel version?

[2016-07-22 16:56] KendallWeihe commented on #3371
@concretevitamin can you find the pull request for `GridRNNCell`?

[2016-07-22 17:20] yaroslavvb commented on #3464
Maybe it could be
[code]
This is similar to `session.run` which returns either list of numpy arrays or single numpy array depending on whether input is a list

[2016-07-22 17:51] drcrook1 opened #3467 "Docker Image with Python 3?"
This is more a feature request.  Any chance we can get support for this?

[2016-07-22 17:59] omoindrot commented on #3464
That would work for me.

[2016-07-22 18:17] caisq commented on #3467
Just to gather more info, are you using the images from docker hub or gcr.io?

[2016-07-22 18:35] samjabrahams opened #3469 "Raspberry Pi Bazel Build "Define appropriate PLATFORM macro" error"
When building TensorFlow on Raspberry Pi with Bazel, the pre-compiler end up throwing this error:

[code]

From what I've been able to gather, here's the cause of the issue:
1. Because Raspberry Pi uses an ARM CPU, the `IS_MOBILE_PLATFORM` macro is defined [in `tensorflow/core/platform/platform.h](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/platform/platform.h#L45)
2. Late

[2016-07-22 18:35] samjabrahams commented on #254
@danbri You're right- I've opened up an issue for this #3469

[2016-07-22 18:39] drcrook1 commented on #3467
gcr.io I'm also not a docker guru; I'm just trying to get tensor flow operational on my windows machine and have to deal with all sorts of crazy data that comes in; so python 3.5 is nice.  I am trying to use this not only for tensorflow but get a data set in, do my munging with it, then feed it into tensor flow.

[2016-07-22 18:44] samjabrahams commented on #3469
According to [this post on StackExchange](http://raspberrypi.stackexchange.com/questions/754/how-can-i-detect-that-im-compiling-for-raspberry-pi), it looks like there's no reliable, automatic way to detect if building for Raspberry Pi.

Would it be possible to add in a `#if  !defined(PLATFORM_RASPBERRY_PI)` line in [`platform.h`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core

[2016-07-22 19:27] jplu commented on #2703
I'm using Bazel 0.2.3

[2016-07-22 20:00] brando90 commented on #1122
@nmhkahn how is it different from pawni's suggestion?

[2016-07-22 20:22] pawni commented on #1122
@brando90 I had a small error in my version which was fixed by nmhkahn (changing `isTraining` to `is_training`)

@diegoAtAlpine I found the same problems - not sure why this is the case though. However, the ValueError should be resolved by the code snippet. Not sure what you want to see how to call it as nmhkahn's examples seems to do the job?

[2016-07-22 20:55] brando90 commented on #1122
@nmhkahn when you do:

`sess.run([opt, loss], feed_dict={x: bx, y: by, is_training=True}) `

doesn't that mean that your using `is_training` as a placeholder? People have commented that they want `is_training` to be a placer holder but thats what I had for my version of it:

def batch_norm_layer(x,train_phase,scope_bn):
[code]

is that not correct?

[2016-07-22 20:59] sguada commented on #1122
I have already extended tf.contrib.layers.batch_norm to allow passing a Tensor or a Placeholder for is_training. It will be merged in TF contrib soon.

[2016-07-22 21:29] hholst80 opened #3470 "TensorFlow r0.9rc0 and r0.10rc0 cluster memory leak and core dump"
### Environment info
Operating System:
[code]

Installed version of CUDA and cuDNN:
[code]

If installed from binary pip package, provide:

1. Which pip package you installed.
2. The output from `python -c "import tensorflow; print(tensorflow.__version__)"`.

Built from source:
[code]

[code]

[code]

If installed from source, provide

1. The commit hash (`git rev-parse HEAD`)
2. The output of `ba

[2016-07-22 21:36] concretevitamin commented on #3402
This does not sound like a bug ticket.  Please redirect to StackOverflow or tensorflow-discuss@.

[2016-07-22 21:36] #3402 closed

[2016-07-22 21:37] #3376 closed

[2016-07-22 21:40] #3408 closed

[2016-07-22 21:41] concretevitamin commented on #3392
We probably won't be working on this in the short term.  Marking as contributions welcome.

[2016-07-22 21:46] concretevitamin commented on #3396
`tf.set_random_seed(1618)` or your favorite number should do it.

To compare, can't you `print(sess.run(tf_features))` and `print(np_features)?`

[2016-07-22 21:51] brando90 commented on #1122
is it just me or does adding this BN layer noticeably slows down training of a single epoch?

[2016-07-22 21:56] pawni commented on #1122
@brando90 It slows down training for me as well but I think that this is expected as it needs to calculate some statistics. And your version looks good to me.

[2016-07-22 22:12] lingz opened #3471 "C++ api runs much slower than Python API (what compile flags do I need?)"
My graph run in Python only takes 6 seconds for one batch, but when I run the identical batch on the same graph (graph_freeze) in the C++ Api, the time is 80 seconds. I'm guessing this 13x slowdown is probably from using the wrong C flags during compilation. This is all running on CPU only.

I'm loading the graphs using the same way as in the label_images example.

I took a look at: https://github

[2016-07-22 22:17] omoindrot commented on #1122
BatchNorm is currently very slow (because of all the statistics computed), but they are working on adding a cudnn batchnorm op as said [here](https://github.com/tensorflow/tensorflow/pull/1759#issuecomment-228856467).

[2016-07-22 22:22] concretevitamin commented on #3471
Did you use the `-c opt` flag?  I.e.

`bazel -c opt --copt=-mavx build <...>`

[2016-07-22 22:24] concretevitamin commented on #3470
Please do attach the repro snippet, the relevant logs, and please do perform debugging on your end first.

[2016-07-22 22:25] Anjum48 commented on #3396
Setting the random seed as above still gives the same results - so it's not a stochastic issue.

I'm using skflow so i'm not sure how to get `print(sess.run(tf_features))` to work

[2016-07-22 22:31] nfiedel commented on #3436
@fangweili - any input?

[2016-07-22 22:32] concretevitamin commented on #3464
We are unlikely to work on this soon, so marking as contributions welcome.  IMO @yaroslavvb's suggested behavior is saner than checking for the length of the result list.

[2016-07-22 22:33] concretevitamin commented on #3396
Maybe @terrytangyuan can take a look?  Marking as community support.

[2016-07-22 22:44] terrytangyuan commented on #3396
@Anjum48 Try printing features in your custom model definition. It's hard to dig into this without isolating the problem since there could be a lot underlying variations that lead to this inconsistency.

[2016-07-22 22:49] Anjum48 commented on #3396
Hi @terrytangyuan, here's where I've put my prints

[code]

And here's the output (i'm using yesterday's build):

[code]

[2016-07-22 22:53] ngaloppo opened #3472 "Zero value warning message in quantized convolution op is wrong?"
This warning message [in this quantized ops code snippet](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/quantization/kernels/quantized_conv_ops.cc#L201-L206) is output when `input_offset < 0`:

Is that really what's going on there? What does that have to do with `input_offset < 0`? Secondly, there is a code comment about gemmlowp needing support for a specific code path (

[2016-07-22 23:05] robertnishihara opened #3473 "Incompatibility with Python modules that mutually import each other"
I came across the following issue. It probably isn't very urgent.

### Environment info

I can produce the following error on:

1. Operating System: OS X El Capitan, 10.11.3 (15D21)
2. Ubuntu 14.04 (the default Ubuntu AMI on EC2)

I am using the CPU version of TensorFlow, installed from
[code]
[code]

### Steps to reproduce

1. Create `file1.py` with contents:

[code]

2. Create `file2.py` with co

[2016-07-22 23:19] el3ment commented on #3239
It did not work -- however, after diving into the code a bit, I realized the issue is in the tf.complex() call, changing the code from

`w_ifft = tf.real(tf.batch_ifft2d(tf.complex(w, 0.0)))`

to

`w_ifft = tf.real(tf.batch_ifft2d(tf.complex(w, w * 0.0)))`

Results in a gradient and no error.

[2016-07-22 23:22] pjoz commented on #2703
I'm using bazel 0.2.2 with the same error

[2016-07-22 23:36] hholst80 commented on #3470
https://gist.github.com/hholst80/84fb412660b0e2de03e47daec186d094

You will need a `.tmuxinator.yml` (and tmuxinator) to launch it:

[code]

[2016-07-22 23:37] lingz commented on #3471
Ah amazing, I got the run times from 2minutes -> 4.5 seconds. However, note that you must pass the flags after the build keyword:

`bazel build -c opt --copt=-mavx <...>`

Maybe this should be added to documentation somewhere?

[2016-07-22 23:37] #3471 closed

[2016-07-22 23:45] ebrevdo commented on #3463
I believe this is partially done in the LSTMCell, if you use proj_size > 0.

[2016-07-22 23:55] mmuneebs commented on #3453
Can you please guide on how to add the debug logging?

[2016-07-23 00:15] Anthony-Tatowicz commented on #1029
I saw that `resize_image_with_crop_or_pad` was fixed, does this apply to the other cropping image ops or only this one? For instance `crop_to_bouding_box`.

[2016-07-23 00:15] KendallWeihe commented on #3463
I don't see a `proj_size` in the BasicLSTMCell args

[2016-07-23 00:24] concretevitamin commented on #3471
Right. "-c opt" means optimized build.

On Friday, July 22, 2016, Lingliang Zhang <notifications@github.com> wrote:

[2016-07-23 00:59] concretevitamin commented on #3453
`print("in save()")` and `print("in _MaybeDeleteOldCheckpoints()")`?  Your goal is to figure out if these two functions are actually called?

[2016-07-23 01:01] terrytangyuan commented on #3396
I don't see you using numpy to flatten though.

[2016-07-23 03:19] mynameisdongyoung opened #3474 "Cannot import name 'pywrap_tensorflow'"
Hi, I have tried almost every methods in Stackoverflow and here, but am still struggling with the problem. Please help me to solve it.

### Environment info
Operating System: **Ubuntu 16.04 64bit (GTX 1070)**

Installed version of CUDA and cuDNN: **CUDA 8.0 RC & cuDNN 5.0**
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
dongyoung@dkpc:~$ ls /usr/local/cuda/lib64/libcud*
/usr/loca

[2016-07-23 03:55] ebrevdo commented on #3463
It's not in BasicLSTMCell.  It's in LSTMCell.

On Fri, Jul 22, 2016 at 5:15 PM, Kendall Weihe <notifications@github.com>
wrote:

[2016-07-23 07:46] Anjum48 commented on #3396
Sorry - check the Gist. It's flattened before it's passed to the fit of the first model

[2016-07-23 09:07] rizasif commented on #92
+1 for java

[2016-07-23 09:51] guolinke opened #3475 "Device placement error while using multi gpus on single machine by distributed version"
I follow [Distributed TensorFlow](https://www.tensorflow.org/versions/r0.9/how_tos/distributed/index.html#distributed-tensorflow) to try the distributed version of tensorflow, my code is [here](https://github.com/guolinke/temp/blob/master/mnist_expert_dist.py).

I try to run it on mulit machines with mutil gpus, and every worker will start multi instances of tensorflow.

To simplify problem, i onl

[2016-07-23 11:22] zsdonghao opened #3476 "How to initialize LSTMStateTuple ?"
In ptb_word_lm.py tutorial. When I set tf.nn.rnn_cell.BasicLSTMCell to  `state_is_tuple=True`, it fail initialise the state at the begining of each epoch. What is the way to initialise a `LSTMStateTuple` ?

I did use cell.zero_state to get the varible for the initial state, which works fine. However, when I want to get initial values of the initial state using `initial_state.eval()`, I got an erro

[2016-07-23 12:49] siddharth-agrawal commented on #594
@vrv Has this issue been resolved?

[2016-07-23 14:21] perhapszzy opened #3478 "How to restore a distributed model and continue to train it with more workers?"
### Environment info

Running distributed tensorflow on kubernetes.

Installed version of CUDA and cuDNN:  No
### Steps to reproduce
1. Train a model with 3 workers
2. restore the model with 4 workers
### Logs or other output that would be helpful

[code]

It seems that we need to have the same number of workers to restore a model. Is it possible to increase the number of workers without retrainin

[2016-07-23 15:09] hholst80 commented on #3474
Is the ~/tensorflow also the src directory? That ususlly works bad for me.

[2016-07-23 15:11] thomasquintana commented on #2787
+1 Is there are update on this issue? It's currently blocking me as well.

[2016-07-23 16:00] CharlesJQuarra opened #3479 "Build error with CUDA"
I'm able to build tensorflow trainer example successfully with

`bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer`

But I get the following build error when trying to build the tensorflow pip package:

`bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package`

[code]

Operating system: Linux Mint Rosa 17.3 (Ubuntu 14.04.3 Trusty)

Cuda version 8.

[2016-07-23 17:45] ebrevdo commented on #2787
Is this still an issue in the nightlies?

On Jul 23, 2016 8:11 AM, "Thomas Quintana" <notifications@github.com> wrote:

[2016-07-23 20:30] dbikard commented on #3439
The evaluation always returns the same value even if training is actually
going fine. I probably just don't understand how to use this properly. What
should be the function call so that it runs the evaluation on the whole
validation set every time? Thanks for your help!
On Fri, 22 Jul 2016 at 18:02, Martin Wicke <notifications@github.com> wrote:

--
David Bikard
Synthetic Biology Group
Institut Pa

[2016-07-24 00:08] thomasquintana commented on #2787
@ebrevdo  I'm using the 0.9.0 release. I will try with master first thing in the AM and update the thread. -- Thanks!

[2016-07-24 02:37] terrytangyuan commented on #3396
I see. I think we need some results using two different reshape functions in order to see what the problem is, without getting into estimators first.

[2016-07-24 03:45] rohitgirdhar commented on #2987
I'm facing the same problem. I'm running the inception model finetuning on my data. Here's a part of the log being printed. I'm using all TensorFlow data read operations (so no copy from numpy to TF, as I'm not using DequeueMany manually, but through shuffle_batch_join). I'll try to provide the timeline when I have a chance to re-run the training. The machine resources otherwise seem fine (CPU/mem

[2016-07-24 03:54] Piso opened #3480 "Errors loading inception v3 in iOS example"
### Environment info
Operating System: Mac OS X / iOS

If installed from source, provide

1. The commit hash (`git rev-parse HEAD`) : fc9162975e52978d3af38549b570cc3cc5f0ab66
2. The output of `bazel version`: Build label: 0.3.0-homebrew

### Steps to reproduce
1. Download the .pb file from  https://storage.googleapis.com/download.tensorflow.org/models/inception_dec_2015.zip
2. Insert the .pb file

[2016-07-24 04:47] vrv commented on #594
Yup!

[2016-07-24 04:47] #594 closed

[2016-07-24 05:13] raghakot commented on #3479
+1 same error

[2016-07-24 05:21] raghakot commented on #3479
add
cxx_builtin_include_directory: "/usr/local/cuda-8.0/include"
to
third_party/gpus/crosstool/CROSSTOOL

as suggested in https://github.com/tensorflow/tensorflow/issues/3431 fixed the issue for me. Give that a shot.

[2016-07-24 12:23] upupnoel opened #3481 "Failed to do 8-bit quantization following the tutorial: Op type not registered 'Dequantize'"
hello, I'm learning to do 8-bit quantization following the [How-to-tutorial](https://www.tensorflow.org/versions/master/how_tos/quantization/index.html) step-by-step, after I managed to output the `quantized_graph.pb`, then I was trying to test it, just like the tutorial:
[code]
( a not-so-important change is, in fact, I found the script above didn't work, so I changed some parameter names as belo

[2016-07-24 13:36] leonard2014 commented on #92
desperately need a java interface to use tensorflow in enterprise web server

[2016-07-24 14:16] pratikac commented on #3479
Adding the line ``cxx_builtin_include_directory: "/usr/local/cuda-8.0/include"`` works, but not ``cxx_builtin_include_directory: "/usr/local/cuda/include"``. I checked that on my laptop, ``/usr/local/cuda`` is symlinked to ``/usr/local/cuda-8.0``.

[2016-07-24 15:22] siddharth-agrawal commented on #636
@vrv I looked into this issue, as far as I can tell adding a `DepthwiseMaxPool` [here](https://github.com/tensorflow/tensorflow/blob/master/third_party/eigen3/unsupported/Eigen/CXX11/src/NeuralNetworks/Pooling.h) will solve the issue. Am I on the right track?

[2016-07-24 17:16] drcrook1 opened #3482 "Update Docker Image"
Hey All,

There are a variety of issues I'm running into with the docker image, just basic stuff.
1.  sudo apt-get update
2.  Python3 support
3.  Nano is not installed (vim is the worst)
   3a.  I want this so I can easily edit the notebook config for setting passwords.
4.  The jupyter notebook needs to be updated to the latest
5.  Pip updates
6.  Maybe ship with Anaconda as well.

Its just a vari

[2016-07-24 17:26] martinwicke commented on #3330
This is a question best asked on the bazel channels.

Also, you should include information on how you've set up your other's project's build. It looks like you simply haven't included the correct paths in whatever build system you use there.

[2016-07-24 17:27] #3330 closed

[2016-07-24 17:38] DSLituiev opened #3483 "Slicing error: Using a `tf.Tensor` as a Python `bool` is not allowed"
### Environment info
Operating System:
MacOSX, Python3, tensorflow version '0.9.0'

### Steps to reproduce
1. I am trying to slice a tensor (I want to remove boundaries for purpose of error evaluation)
[code]

### Logs or other output that would be helpful
(If logs are large, please upload as attachment).
[code]

[2016-07-24 17:39] martinwicke commented on #2703
Which python did you specify when running `configure`? Also, can you run `/bin/bash`?

[2016-07-24 21:11] lliu25 commented on #2726
I am new to tensorflow and distributed tensorflow. I ran the example on a raspberry pi 3 cluster with one ps node and three worker nodes. I use slurm as the tool to assign four nodes for the task, piw30-33.

I have following error message.
I tensorflow/core/distributed_runtime/rpc/grpc_channel.cc:206] Initialize HostPortsGrpcChannelCache for job ps -> {piw30:2223}
I tensorflow/core/distributed_run

[2016-07-24 23:15] datomnurdin opened #3486 "import tensorflow as tf error"
### Environment info
Operating System: OS X EI Capitan Version 10.11.1

### Steps to reproduce
1. run `import tensorflow as tf'

### Logs or other output that would be helpful

[code]

Please advice. Thank you.

[2016-07-24 23:47] pjoz commented on #2703
Python specified is /usr/local/bin/python (version Python 2.7.11)

Ran /bin/bash before the install instructions with no change in result.

[2016-07-25 01:47] guillaume-chevalier opened #3487 "seq2seq multidimensional regression"
Hi, I am facing an issue while trying to train an RNN to do a multidimensional regression.

**The Tensorflow loss function built for RNNs seems to address the cases where we directly want to train labels or words embeddings, so I tried to compute the loss myself for a regression and it failed or seems not done for that.**

The question is also more detailed with my actual code and Tensorflow Graph

[2016-07-25 02:12] mynameisdongyoung commented on #3474
Thank you so much hholst80! It helped :+1:

[2016-07-25 02:12] #3474 closed

[2016-07-25 02:36] CharlesJQuarra commented on #3479
thanks, this works for me

[2016-07-25 02:51] gclouding commented on #3437
the above problem concerned with bazel is solved.  However, the following problem occured:

../tensorflow/tensorflow/core/BUILD:91:1: null failed: protoc failed: error executing command bazel-out/host/bin/external/protobuf/protoc '--cpp_out=bazel-out/local-opt/genfiles/' -I. -Isrc tensorflow/core/example/example.proto tensorflow/core/example/example_parser_configuration.proto ... (remaining 30 arg

[2016-07-25 03:19] ChrisAntaki commented on #2903
@jiapei100 Importing `tensorflow` before anything else sometimes resolves this issue

[2016-07-25 03:23] perhapszzy commented on #3457
Update： If I start workers this way:
[code]

Instead of connecting to worker each time:
[code]

I can successfully run the code. Any explanation about this?

[2016-07-25 03:52] perhapszzy commented on #3457
Way to repeat the problem:
On my own laptop run the following three cmd:
[code]
The log for worker1 is:
[code]

The log for worker2 is:
[code]
And log for worker 3 is:
[code]

They stuck there forever. I'm keeping the server alive so that anybody should be able to repeat this problem. The mnist_replica.py is [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/dist_test/pyt

[2016-07-25 04:16] concretevitamin commented on #3483
Quick things to check:

1) Do you mean `tf.shape(vector_loss,)` or, without the comma?
2) Make sure the shape of `vector_loss` is fully defined.  I think you need `width` to be a constant.

[2016-07-25 04:17] concretevitamin commented on #3478
I think in the presence of `local_steps`, re-storing into a different number of PS's is a known issue. @jmchen-g will know more.

[2016-07-25 04:20] #3479 closed

[2016-07-25 04:21] concretevitamin commented on #3487
@lukaszkaiser: can you take a look?  Thanks.

[2016-07-25 04:26] concretevitamin commented on #3475
I believe this is a debugging issue, for which StackOverflow is a more suitable venue.

(After debugging, if an underlying bug with TF has surfaced, please feel free to re-open.)

[2016-07-25 04:29] concretevitamin commented on #3486
Please provide the steps you have used to install TensorFlow.  The official instructions for Mac should work without issues.  Could you re-install?

[2016-07-25 04:32] concretevitamin commented on #3473
Let's see...who's our Python / framework wizard?  Assigning to @mrry to take a look for now :)

[2016-07-25 04:46] CharlesJQuarra commented on #3479
I don't it is correct to close it down, as adding explicit flags to a file should not be a permanent solution.

[2016-07-25 04:56] ebrevdo commented on #3476
A) use the zero_state function on the cell object

B) for an rnn, all time steps share weights.  We use one matrix to keep all gate weights.  Split by column into 4 parts to get the 4 gate weight matrices.

C) StackOverflow is a better place to ask.

[2016-07-25 07:29] akors opened #3489 "Timeline only produced for the last invocation on Session.run"
Hi!

First of all, thanks for the great profiling/timeline feature! I think it can be really amazing to debug model performance.

I do have a question though: is it possible to create a timeline for *multiple* invocations of `Session.run`?

In all the examples that I saw, timeline creation looks something along the lines of this:

[code]

This is all good and well, but this generates the trace onl

[2016-07-25 07:53] jplu commented on #2703
The specified Python is:

[code]

I also can run ```/bin/bash```:

[code]

[2016-07-25 08:11] Sundy1219 commented on #3289
@petewarden ,hello
     I also get the problem that is "segmentation fault" when running "tensorflow/contrib/pi_examples/label_image/gen/bin/label_image"  in Raspberrypi 2. I find current branch is in master branch when running "git branch", is this the reason? how to solve it ? Looking forward to your reply . Thanks

[2016-07-25 09:27] jrabary commented on #3385
Yes  this anwer my question. Finally, I use a non trainable variable to store the target_prob. Then with the tf.assign function I update the variable every run.

[2016-07-25 09:27] ivankreso commented on #2271
I build the newest TF version from master and the problem doesn't appear anymore.
Closing the issue. If it reappears i will post the new info here.

[2016-07-25 09:27] #2271 closed

[2016-07-25 09:49] denlecoeuche commented on #3487
@guillaume-chevalier Are you sure about using `tf.nn.softmax_cross_entropy_with_logits` ? If I'm not mistaken MSE is usually more suited for regression problems.

[2016-07-25 09:51] llhe opened #3491 "Unified file system support implementation for C++/Python"
Currently the C++ code has file system interface and provides POSIX and GCS implementation. However, part of the Python code also using another file system abstraction (tensorflow/python/summary/impl/gcs.py). This is annoying and tedious to supporting new type of file systems. So what is the consideration here and whether this is plan to make the Python code depending on C++ IO abstraction only.

[2016-07-25 12:07] dbikard commented on #3439
I've also posted to StackOverFlow with some example code to reproduce the problem:
http://stackoverflow.com/questions/38500570/how-to-input-data-in-a-tensorflow-learn-validation-monitor

[2016-07-25 12:48] psicalculus opened #3492 "Dilated Convolution, Dilated Pooling and 2D/3D Sliding Window CNNs"
Could you please implement 2D/3D dilated convolution and 2D/3D dilated pooling in tensorflow?

Please see http://arxiv.org/pdf/1511.07122.pdf for a reference on dilated convolution.

Dilated max-pooling is simply regular max-pooling but the pixels/voxels you use in each "application" of the max-pooling operation are exactly the same pixels/voxels you would select with dilated convolution.

Dilated

[2016-07-25 12:52] psicalculus commented on #3492
It looks like tensorflow already supports 2D dilated convolution.

``tf.nn.atrous_conv2d(value, filters, rate, padding, name=None)``

[2016-07-25 15:33] #2295 closed

[2016-07-25 15:46] fayeshine opened #3493 "Building issues"
ERROR: /home/wenjian/pkgs/tensorflow/tensorflow/core/kernels/BUILD:1517:1: undeclared inclusion(s) in rule '//tensorflow/core/kernels:spacetobatch_op_gpu':
this rule is missing dependency declarations for the following files included by 'tensorflow/core/kernels/spacetobatch_op_gpu.cu.cc':
  '/usr/local/cuda-8.0/include/cuda_runtime.h'
  '/usr/local/cuda-8.0/include/host_config.h'
  '/usr/local/cud

[2016-07-25 15:55] prb12 commented on #202
It makes no sense to assign this to me?

[2016-07-25 16:13] ejspence commented on #1870
I'm having the same issue.  I can get tensorflow to install from source without GPU support enabled.  But with GPU support, on CentOS 6.4, it can't find libpython.so.1.0.  Python is installed in a non-standard location.  Suggestions would be welcome.

[2016-07-25 16:18] michaelisard commented on #315
@sherrym is anyone in the core team thinking about this?

[2016-07-25 16:20] shekkizh commented on #3449
Closing issue since the problem is reported to be fixed in 0.9. Thanks @yaroslavvb @concretevitamin

[2016-07-25 16:20] #3449 closed

[2016-07-25 16:20] michaelisard commented on #365
@martinwicke: Any update on this?

[2016-07-25 16:46] martinwicke commented on #365
Will be dealt with in our move to new website infrastructure. We can close this as obsolete -- we won't work on this.

[2016-07-25 16:46] #365 closed

[2016-07-25 16:53] ashvsdata opened #3494 "Tensorflow Import on OSX 10.11.5 fails"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-07-25 17:02] vrv commented on #636
We have to remove those header files actually, we moved them into core/kernels/eigen_*

But yes, that's probably where you would have to implement it (thankfully, just once for both CPU and GPU).  I don't know if there's a way to get MaxPool for CuDNN to do depth-pooling, but if so, that should be part of this.

[2016-07-25 17:05] cgarciae opened #3495 "Show the collection that a variable belongs to in TensorBoard"
This is specially useful when using functions like `tf.contrib.layers.fully_connected` that generate the weight and bias variables on their own. With this you could simply inspect in TensorBoard and get that information right away, no need to look in the docs or ask.

[2016-07-25 17:12] rmlarsen commented on #3349
My apologies for missing this. Looking...

[2016-07-25 17:41] akar43 commented on #3493
I believe the solution is to add
`cxx_builtin_include_directory: "/usr/local/cuda-8.0/include"`
in `third_party/gpus/crosstool/CROSSTOOL` as mentioned #3431.

[2016-07-25 18:01] aselle commented on #3483
ranges cannot be specified with tensors, they have to be values.... so you must do
[code]

Soon, we will release negative index support which will not ease the restriction that the end range cannot be a tensor, but it will allow

`vector_loss[:,:,pad:-pad,:]
`

[2016-07-25 18:22] jmart1 commented on #92
+1 for java

[2016-07-25 18:24] kimhyungjoo opened #3496 "android studio api19: System.loadLibrary("tensorflow_demo"); <----what can i do ㅠㅠ"
android studio api19:
TensorflowClassifier.java:
static {
    System.loadLibrary("tensorflow_demo");
  }
<----this is problem
plz helpㅠㅠ i am korean ㅠㅠ
Couldn't load tensorFlow_demo from loader dalvik.system.PathClassLoader[DexPathList[[zip file "/data/app/org.tensorflow.demo-2.apk"],nativeLibraryDirectories=[/data/app-lib/org.tensorflow.demo-2, /vendor/lib, /system/lib]]]: findLibrary returned nu

[2016-07-25 18:28] DSLituiev commented on #3483
Looks like shape of `vector_loss` was not fully defined. Can ranges be specified with `tensorflow.python.framework.tensor_shape.Dimension`?

[2016-07-25 18:43] kimhyungjoo commented on #3496
plz helpㅠㅠ i am korean ㅠㅠ
Couldn't load tensorFlow_demo from loader dalvik.system.PathClassLoader[DexPathList[[zip file "/data/app/org.tensorflow.demo-2.apk"],nativeLibraryDirectories=[/data/app-lib/org.tensorflow.demo-2, /vendor/lib, /system/lib]]]: findLibrary returned null

what should i do?ㅠㅠ plz

[2016-07-25 19:28] kootenpv commented on #3482
I think vim is more popular than nano...
I'm mostly bothered by the fact that tensorflow is an old version and not "the latest". It runs 0.7.0. How could that be?

[2016-07-25 19:51] lukaszkaiser commented on #3487
This is a general request for information, not a bug or concrete feature request, so indeed - Stack Overflow is a better place for that. I'll answer there, closing this issue.

[2016-07-25 19:51] #3487 closed

[2016-07-25 20:21] michaelisard commented on #1441
Closing due to lack of activity. Please re-open if this is still a problem.

[2016-07-25 20:21] #1441 closed

[2016-07-25 20:23] michaelisard commented on #1568
Closing due to lack of response. Please reopen if you have more information.

[2016-07-25 20:23] #1568 closed

[2016-07-25 20:25] michaelisard commented on #1782
Closing due to lack of response. Please re-open if you would like this readdressed.

[2016-07-25 20:25] #1782 closed

[2016-07-25 20:28] michaelisard commented on #1852
Closing due to lack of activity. Please reopen if there is still a problem.

[2016-07-25 20:28] #1852 closed

[2016-07-25 20:30] rohitgirdhar commented on #3009
@prb12 Thanks for your detailed analysis! I am facing similar issues (timeline attached). I'm using tensorflow read operations throughout, so I believe my problem is not the numpy<->TF data copy. However your comment on virtual memory/allocator pressure seems related to my problem. Here's a screenshot from `htop`, and also the `vmstat` output
[code]
![screen shot 2016-07-25 at 1 24 57 pm](https://

[2016-07-25 20:39] pbhatia243 commented on #654
Here is the link for extension of  tensorflow seq2seq model for conversation models and has the option of beam search and setting beam size .

https://github.com/pbhatia243/Neural_Conversation_Models

[2016-07-25 20:45] michaelisard commented on #2164
@martinwicke: is anyone working on this?

[2016-07-25 20:56] brando90 commented on #1122
@nmhkahn  quick question. When you wrote (for testing):

`sess.run([opt, loss], feed_dict={x: bx, y: by, is_training=False})`

in theory, can bx and by be any data set? i.e. it can still be the **training** set even though we are not training? (i.e. just to track the train error)

[2016-07-25 21:25] michaelisard commented on #2780
@kuza55 would you make a PR to add links from the resource and community sections? Thanks!

[2016-07-25 21:54] michaelisard commented on #2919
@mrry did this change get pushed?

[2016-07-25 22:00] vrv commented on #2910
(I think I fixed all I could safely do in a bunch of other commits.  Just waiting for the cuda mac install to do the right thing).

[2016-07-25 22:00] #2910 closed

[2016-07-25 22:01] michaelisard commented on #2937
Closing this tracking bug because it seems there is not a goal to map all cuDNN functions for reasons given by @zheng-xq. Please open separate issues to track specific missing cuDNN functionality.

[2016-07-25 22:13] bhack commented on #2937
@michaelisard Can you give me an estimated ratio between not satisfied API design and the closed source nature of cudnn that not attracted full coverage?

[2016-07-25 22:16] #3055 closed

[2016-07-25 22:22] michaelisard commented on #3152
Can you confirm it is still a problem in 0.9?

[2016-07-25 22:23] michaelisard commented on #3161
Closing due to inactivity. Please reopen if there is still a problem.

[2016-07-25 22:23] #3161 closed

[2016-07-25 22:29] ank286 commented on #2307
I am interested in serving a retrained-inception graph as well. Is there a way to 'serve' the .pb retrained file that is an output of retrain.py and is used in label_image? Or a way to serve label_image pointing at a .pb file?

[2016-07-25 22:29] michaelisard commented on #2937
@zheng-xq can comment better than I can.

[2016-07-25 22:31] bhack commented on #2937
You can close. I was only curious.

[2016-07-25 22:40] Mistobaan commented on #2937
I would be interested in having full support of the cuDNN library through the stream executor and all the goodies that comes with it. Expose all the endpoints in the cudnn layer and only few to the public layer.

@zheng-xq  did the problem with cudnnRNN got solved at the end? When I tried the wrapping I wasn't sure where to store the temporary variables required by the cudnn library.

[2016-07-25 22:41] michaelisard commented on #3239
@rryan is this intended behavior?

[2016-07-25 22:44] mrry commented on #2919
Yep, in https://github.com/tensorflow/tensorflow/commit/f68cbf19fb8f67a5dce889a5464a358ec0035f18

[2016-07-25 22:47] zheng-xq commented on #2937
@bhack, I don't think anyone sets a clear ratio. And it varies case by case for each op. For new ops, we firstly prefer a fast solution with source within reasonable amount of effort. If it takes a lot of effort to match the performance of Cudnn, or any other library, we would not hesitate to use that library. Overall, we go with the fastest solution. If the performance is about the same between o

[2016-07-25 22:47] michaelisard commented on #3268
Closing for now, but if you would like to supply a timeline for debugging, please reopen.

[2016-07-25 22:47] #3268 closed

[2016-07-25 22:50] michaelisard commented on #3290
Closing for now. Please reopen if the workaround is not suitable for you.

[2016-07-25 22:50] #3290 closed

[2016-07-25 22:51] bhack commented on #22
A recent pull request was added at https://github.com/benoitsteiner/tensorflow-opencl/pull/1 if somebody want to take a look.

[2016-07-25 22:52] michaelisard commented on #3300
@ilblackdragon could you take a look now? Thanks.

[2016-07-25 22:53] michaelisard commented on #3304
Closing due to lack of response, but please reopen if there is still a problem.

[2016-07-25 22:53] #3304 closed

[2016-07-25 22:56] michaelisard commented on #2919
@nanddalal is this fixed adequately now?

[2016-07-25 22:56] #2937 closed

[2016-07-25 22:58] michaelisard commented on #3306
@ispirmustafa any thoughts? Assigning @martinwicke since @ispirmustafa is not in the TensorFlow org.

[2016-07-25 23:22] martinwicke commented on #3306
Checkpoints are saved automatically, and if you specify the same directory when you create another Estimator (of the same kind/same parameters), it will load the checkpoints and you can continue training.

There is currently a bug which prevents you from using the restored Estimator for inference without running at least one step of training.

I will close this issue -- for detailed questions, ple

[2016-07-25 23:22] #3306 closed

[2016-07-25 23:23] martinwicke commented on #2164
I don't think so. @xmbrst, can you take a look or reassign?

[2016-07-25 23:27] martinwicke commented on #627
Yes, but this specific one will be made obsolete by our move to different infrastructure for tensorflow.org. We can leave it open and close it later, but nobody will work on this before the move happens.

[2016-07-25 23:30] girving commented on #2745
Seems fixed in the code, but I'm not a tf.learn person regardless.  @jbohart Can you confirm this is fixed?

[2016-07-25 23:38] michaelisard commented on #3317
Please reopen if you have further questions.

[2016-07-25 23:38] #3317 closed

[2016-07-25 23:41] michaelisard commented on #3321
Sorry if I am misunderstanding, but are you saying this is a documentation bug or an installation bug?

[2016-07-25 23:44] Brandon-Tai commented on #3377
We generated a basic performance profile and opened it in chrome://tracing, but we are unsure of how to interpret it.

Here is the JSON file:
[timeline.ctf.json.zip](https://github.com/tensorflow/tensorflow/files/382705/timeline.ctf.json.zip)

[2016-07-25 23:45] martinwicke commented on #2703
Ok. I'm just stabbing at the dark -- I cannot reproduce this and I'm wondering what the difference between our installations might be.

Can you try running using docker just to see if that works?

[2016-07-25 23:45] michaelisard commented on #3340
Closing for now. @martinwicke please open a separate issue if you want to track the feature of restoring without predicting.

[2016-07-25 23:45] #3340 closed

[2016-07-25 23:47] martinwicke commented on #3437
Can you try this with bazel 0.2.3? It is possible tensorflow doesn't work with bazel at head right now.

[2016-07-25 23:53] michaelisard commented on #3370
@ilblackdragon if nobody in the TensorFlow org is going to work on this should I mark it 'contributions welcome'?

[2016-07-25 23:56] zheng-xq commented on #3342
With the latest TensorFlow, the safest thing to use is Cuda 7.5 and Cudnn 5.0.

Please let us know if that works.

[2016-07-25 23:58] michaelisard commented on #3377
@zheng-xq would you take a look?

[2016-07-25 23:59] #3385 closed

[2016-07-26 00:02] martinwicke commented on #3342
I'll close this issue since @MartinThoma has already downgraded. Maybe the combination of cuda 8 + cudnn 4.0.7 may not be safe?

[2016-07-26 00:02] #3342 closed

[2016-07-26 00:08] michaelisard commented on #3470
mrry@ could you take a look at this or reassign?

[2016-07-26 00:48] gideonite commented on #3370
I'm going to get started on it tonight. Been trying to get to it all week.
Sorry for the lack of communication.

On Mon, Jul 25, 2016, 19:55 Michael Isard <notifications@github.com> wrote:

[2016-07-26 01:12] Brandon-Tai commented on #3377
The above is for a single step, here is a JSON file with 500 steps concatenated together:
[timeline_500.ctf.json.zip](https://github.com/tensorflow/tensorflow/files/382810/timeline_500.ctf.json.zip)

[2016-07-26 01:40] rryan commented on #3239
Nope, I'll take a look.

[2016-07-26 02:48] guolinke commented on #3475
@concretevitamin I don't think is a debugging issue. I can successfully run this script if only start one instance per worker (same as [Distributed TensorFlow](https://www.tensorflow.org/versions/r0.9/how_tos/distributed/index.html#distributed-tensorflow) ).

My issue is when I try to start multi instance per worker, It will have error that "no supported kernel for GPU devices is available."

I wo

[2016-07-26 02:49] chenxing3 opened #3498 "'tensorflow.contrib.learn' has no attribute 'infer_real_valued_columns_from_input'"
Environment info:
-------------------------------------------
Operating System:
Ubuntu 16.04 , Python3.5.2, tensorflow version '0.9.0'

I try to run boston_house_prices data but it failed with no attribute 'infer_real_valued_columns_from_input' in tensorflow.contrib.learn. I wrote this script according to https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/skflow/boston.py
---

[2016-07-26 03:14] holdenlee opened #3499 "Placeholder names are inconsistent when re-entering a scope"
[code]
gives
[code]
The variable "b" unexpectedly has the name "fc_1/b:0" rather than "fc/b:0". This makes it difficult to refer to placeholders by name in my program.

[2016-07-26 03:22] concretevitamin commented on #3475
@mrry: can you take a look?  Thanks!

[2016-07-26 03:32] guillaume-chevalier commented on #3487
Many thanks for the help, using an MSE fixed the problem, and using L2 loss improved the result too.

[2016-07-26 04:22] tcfuji commented on #3085
@danmane I verified that there was no change in the amount of errors both before and after the change.

[2016-07-26 04:23] nmhkahn commented on #1122
@brando90 you're right.

[2016-07-26 05:05] gideonite commented on #3370
Stupid question: how do you run this test script? I can't find any documentation. I've done some grepping around the code base and determined that the most reasonable thing should be something like:

[code]

But running this gives:

[code]

[2016-07-26 06:06] jplu commented on #2703
It works via Docker:

[code]

[2016-07-26 06:17] jplu commented on #2703
When I run:

[code]

I get the same error.

[2016-07-26 06:25] jplu commented on #2703
Once the run of ```./configure``` is finished the environement variable ```$PYTHON_BIN_PATH``` is not set and makes crash the command:

[code]

[2016-07-26 06:37] jplu commented on #2703
Ok, I found the issue, the script ```./configure``` creates two symlinks in the folder ```util/python/```:

- ```python_include -> /usr/include/python2.7```
- ```python_lib -> /usr/lib/python2.7/site-packages```

The problem is that the folder ```/usr/lib/python2.7/site-packages``` doesn't exists for me.

[2016-07-26 06:53] shekkizh commented on #3499
with tf.Graph().as_default() as g:
        with tf.variable_scope("fc"):
			for name in ["a","b"]:
                x = tf.placeholder(tf.float32, shape=[1], name=name)
                print(x)
The variable scope should be defined outside the for loop, otherwise you are defining two variable scopes and since they are not marked to be reused tensorflow automatically appends the second one with "_1"

[2016-07-26 06:59] hbfs commented on #2940
I'm also getting a segmentation fault in python.

[code]

test.py
[code]

System Info:
[code]

Stack Trace
[code]

[2016-07-26 06:59] ppries commented on #3362
Apologies for the late reply -- forgot about it over the weekend!

I'm mostly just following [this](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/label_image/main.cc) example to load a Python trained graph in C++. Where are you having issues?

[2016-07-26 07:01] justdark opened #3501 "build fail with nvcc_options?"
I build tensorflow in virtualenv , it says :
    gcc: error: unrecognized command line option '-nvcc_options=relaxed-constexpr'
    gcc: error: unrecognized command line option '-nvcc_options=ftz=true'

 gcc is 4.8.2
 cuda is 7.0
 cudnn is 4.0.7
more detail:

[code]

[2016-07-26 07:15] lqfortytwo commented on #2940
Try Python3 instead of Python2

[2016-07-26 07:32] hbfs commented on #2940
I'm currently using a GTX 960 2GB at 4096x2160@60Hz. Based on  https://github.com/tensorflow/tensorflow/issues/2840, I wonder if all the VRAM is used up for the display which is why I'm getting a segmentation fault?

I have a GTX 960 4GB that I can test tomorrow.

[2016-07-26 08:17] bhack commented on #1996
tfmesos was updated by @windreamer to support Tensorflow 0.9 with https://github.com/windreamer/tfmesos/commit/fdde4824dbdaec9967b5de368d8469016e8ad342

[2016-07-26 08:47] jrabary opened #3502 "Streaming_mean along specific dimension"
Currently the streaming_mean function computes the mean for all tensor values. It would be interesting to have the possibility to specify the axis along with we want to compute the mean.

[2016-07-26 08:51] josefinb opened #3503 "Installing tensorflow on windows through Docker"
Hi,

I've successfully installed docker toolbox and created a container but when I enter

docker run -it b.gcr.io/tensorflow/tensorflow

I get "Unable to find image 'docker run -it b.gcr.io/tensorflow/tensorflow' loally"

I have read on other threads that this might be due to space allocation so this container already has 20gb.

What do I do? I've got a Windows 10 Pro.

Thanks a lot!

[2016-07-26 09:18] dbikard commented on #1157
I'm having similar issues. However adding `cxx_builtin_include_directory: "/usr/local/cuda-7.5/include" ` to CROSSTOOL gave me the following error:

[code]
Any suggestion?

[2016-07-26 09:54] manjunaths opened #3504 "Inception v3 model crashes with out of memory with batch size of 128 on a GPU with 12 GB memory.."
When I run the inception v3 network, with a _batch size of 32_ , from [here](https://github.com/tensorflow/models/tree/master/inception) on an nVidia GPU with 12 GB memory, I get the below messages during initialization about raising pool_size_limit. The initialization takes a long time. But it eventually manages to run. Is there a way to speed this up ? The pool limit starts from 100 and keeps in

[2016-07-26 10:03] dbikard commented on #2143
I'm had the same error and added the `cxx_flag: "-D_MWAITXINTRIN_H_INCLUDED` lines to fix it. It worked but I then got another error message:

[code]

OS: Linux Mint 18
Compiler: gcc-4.9
CUDA: 7.5
CuDNN: 4.0.7

[2016-07-26 10:18] imaravin commented on #92
+1 for java

[2016-07-26 12:08] Tugees commented on #3480
Hi Piso. Use `pool_3` as the `input_graph` instead of `final_result`.

I also have been trying to get the iOS sample to work with Inception v3 but I'm getting the sample prediction no matter the image captured by the camera. So if you manage to get it running may you please help me with my issue #3446. Thanks

[2016-07-26 12:10] Tugees commented on #3480
Here is the full code you need to use
 `bazel-bin/tensorflow/python/tools/strip_unused --input_graph= your_retrained_graph.pb --output_graph=stripped_graph.pb --input_node_names=Mul --output_node_names=pool_3 --input_binary=true`

[2016-07-26 12:21] zsdonghao commented on #3476
@ebrevdo Thank you. But I still can't initialize state from ```LSTMStateTuple```.

When ```state_is_tuple = False```, I can get new state values by ```new_state_val = state.eval()```, and then feed ```new_state_val``` into ```feed_dict```.

However, when ```state_is_tuple=True```, I can't initialize the state values as ```LSTMStateTuple``` does not have ```eval()```. So I instead do the following:

[2016-07-26 12:30] dbikard commented on #3439
I've been able to solve the porblem by adding `config=tf.contrib.learn.RunConfig(save_checkpoints_secs=1)` to the Estimator call:

[code]

Can someone clarify for me what is happening here and how this helped?
Thanks,
David

[2016-07-26 13:22] hybridteory commented on #3486
Same issue here after following the standard installation instructions.

[2016-07-26 13:39] alephman commented on #22
The Imagination(GPU)'s OpenCL SDK needs NDA to get accessible, we only have the shared library.  Is it possible to run tensorflow based on this libs?

[2016-07-26 14:06] cgarciae opened #3505 "Enable fully_connected to uniquify the scope name"
The implementation of `tf.contrib.layers.fully_connected` uses `variable_op_scope` to handle the name scope of the variables, the problem is that the name scope is only _uniquified_ if `scope` is `None`, that is, if you dont pass a custom name, by default it will be `"fully_connected"`.

However, in the library I am building I create tons of shorcut methods like `relu_layer`, `sigmoid_layer`, etc,

[2016-07-26 14:07] caisq commented on #3494
Can you try re-installing CUDA with "brew cask install cuda"?

[2016-07-26 14:12] inferrna commented on #22
@alephman
You don't need vendor specific header files to build any OpenCL program. Try cl.hpp from https://www.khronos.org/registry/cl/api/1.2/cl.hpp and opencl.h/cl.h from any other SDK. For example - I have at least 3 OpenCL platform and all it works with one shared /usr/include/CL/cl.h

[2016-07-26 14:16] andrewrichards commented on #22
We don't yet support TensorFlow running on OpenCL. It is a work in progress. Currently we are working on AMD GPUs. PowerVR support should follow. If you want to contribute to the development you should contact us (Codeplay) directly. If you want to run TensorFlow on PowerVR you should wait for a little more progress.

[2016-07-26 14:21] alquraishi opened #3506 "functional ops are not exposed in documentation"
It appears that functional ops are now fully documented, given /tensorflow/g3doc/api_docs/python/functional_ops.md, but they are not exposed in the main documentation (index.md does not link to functional_ops.md)

[2016-07-26 14:24] alquraishi commented on #3506
I take it back. I see that they are linked, but for some reason in the API browser they don't show up in the left side navigator.

[2016-07-26 14:44] syed-ahmed commented on #2169
Hi @girving, could you please tell what error would result with the memory usage bug? Just wanted to clarify, is it a bug because it's not best practice or did you encounter an error during that initial version of conv_3d? I get the following error for the implementation described above with MaxPoolWithArgmax and was wondering if anybody encountered it before:
[code]

[2016-07-26 14:55] ASDen commented on #3420
@ebrevdo any thoughts here...

[2016-07-26 15:01] akors opened #3507 "Training on a GTX 1080 does not work, produces random labels"
Hi!
I have come across a very very strange issue. Namely, training on an NVIDIA GTX 1080 does not work at all, and judging from the error rate, the predicted labels are completely random.

I have 2 almost identical systems (see below), and while on the System with the GTX 960 the training runs perfectly fine, on the system with the GTX 1080, the training simply doesn't work.

To test this, I ran
t

[2016-07-26 15:03] untom commented on #3459
So, I played around with this a bit more: the behaviour is a bit different on CPU and on GPU.  On the CPU, the above code runs though just fine. For what it's worth, I'm using a TitanX using Cuda 7.5.

[2016-07-26 15:10] akors opened #3508 "Training on a GTX 1080 does not work, produces random labels"
Hi!
I have come across a very very strange issue. Namely, training on an NVIDIA GTX 1080 does not work at all, and judging from the error rate, the predicted labels are completely random.

I have 2 almost identical systems (see below), and while on the System with the GTX 960 the training runs perfectly fine, on the system with the GTX 1080, the training simply doesn't work.

To test this, I ran
t

[2016-07-26 15:10] holdenlee commented on #3499
This only happens with placeholders, not with variables. For variables, entering the same scope twice results in variables being created in the same variable scope.

[2016-07-26 15:11] akors commented on #3508
Ooops, double-issue. Please disregard.

[2016-07-26 15:11] #3508 closed

[2016-07-26 15:17] martinwicke commented on #2703
Interesting. We actually ask distutils for this path (see [utils/python/python_config.sh](https://github.com/tensorflow/tensorflow/blob/master/util/python/python_config.sh)), so it appears distutils is misconfigured. We could switch to an [alternative method](http://stackoverflow.com/questions/122327/how-do-i-find-the-location-of-my-python-site-packages-directory), but I'm not at all sure it's bet

[2016-07-26 15:30] jplu commented on #2703
The main problem is that people might have multiple location for their Python's packages. So why not checking the ```$PYTHONPATH``` variable? As this variable as to be updated to include all the path that are not "Python standardized" and that we want to use in general.

[2016-07-26 15:32] Anthony-Tatowicz commented on #3368
The work around to this is just to download the data as csv and use something like excel to create visuals.

[2016-07-26 15:34] ebrevdo commented on #3459
It would be helpful if you could run the code in gdb and provide a gist with the full backtrace ("thread apply all bt").

you may need to run "gdb --args python ./path/to/your/python/script"

[2016-07-26 15:39] mrry commented on #3470
Can you try the steps in [this documentation](http://stackoverflow.com/documentation/tensorflow/3883/how-to-debug-a-memory-leak-in-tensorflow#t=201607261538595171712) to narrow down the cause of the memory leak?

[2016-07-26 15:39] Anthony-Tatowicz commented on #3504
The solution is to lower the batch size. The allocator is working as expected ie growing slowly until it reaches a limit.

[2016-07-26 15:42] johann-petrak commented on #3321
From my understanding of the mechanics of anaconda it looks like a documentation bug: apparently, this is how one needs to do things in an environment that gets activated by "source activate tensorflow". For example, one also has to install other python packages into that environment before they can be used. So unless this is regarded common knowledge, it would maybe be a good idea to mention that

[2016-07-26 15:43] gideonite commented on #3368
Ah right. Awesome.

From the currently running tutorial csv download appears to be broken. Should I open an issue?

https://www.tensorflow.org/tensorboard/index.html#events

I'm also a bit confused why the csv and json download buttons are hidden behind a few clicks. What's the idea behind that?

[2016-07-26 15:43] martinwicke commented on #2703
Let's see if I understood:

Let's say `distutils` lies to us and gives us a non-existent path (as in your case). What should we do next? We could ask the `site` module and see if it gives us an existing path (would it in your case?). If that fails also, we can ask the user. We should make sure the user gives us a path which is in `$PYTHONPATH`, otherwise it's very unlikely to work.

[2016-07-26 15:46] mrry commented on #3295
1. Without seeing the code, it's difficult to say why you're getting a slowdown, but the most likely problem is that you're feeding and/or fetching a large amount of data, and the increased cost of copying through the RPC interface is increasing the cost of each step. We have a medium term plan to reduce this overhead, but in the meantime you might want to revise your code to avoid feeding/fetchin

[2016-07-26 15:48] girving commented on #2169
@syed-ahmed It's an actual error unless you run out of memory.  The issue is that if the gradient takes the original input tensor rather than the shape, the original input must be stored for the remainder of the forward pass and the backward pass up to that point.  If only the shape is needed, that's a long time to hold onto otherwise unneeded memory.

[2016-07-26 15:51] girving commented on #1029
It applies to anything that calls  `_Check3DImage` with `require_static=True` (the default).  The `require_static` option should go away entirely.  Looks like `crop_to_bounding_box` uses `require_static=False`, so it's clean.

[2016-07-26 15:57] Anthony-Tatowicz commented on #3482
On Docker Hub you can pick which version they have different tags in the tach section, there is 0.9 and even nightlys. The other stuff your best bet is to create our own image based off they one they have. The current image installs the latest pip and jupyter when you run it, if you want to update you can either create bash into the container and update or rerun the container.

[2016-07-26 15:58] mrry commented on #3473
This seems like an unusual thing to do.

It sounds like this issue is related to [this question on Stack Overflow](http://stackoverflow.com/q/25649676), and it's a Python problem rather than a TensorFlow one. Notably the behavior of setting modules to `None` on exit was removed in Python 3.4, so if you want to write code this way you could consider upgrading :).

Alternatively, ensuring that you g

[2016-07-26 16:01] jplu commented on #2703
Yes you have understood. If a Python lib is not in the standard location or in ```$PYTHONPATH``` then it is not possible to use it as Python will not know where are the files to import.

For example for my case, my ```$PYTHONPATH``` looks like this:

[code]

If I run the interactive python and do ```import caffe``` I can load all the files in my current environment. In the case I remove ```/home/p

[2016-07-26 16:01] Anthony-Tatowicz commented on #3499
Well it would seem variable scope is just that variable scope not placeholder scope?

[2016-07-26 16:08] ebrevdo commented on #3476
Usually states are fed to tf.nn.rnn via initial_state parameter.  you can use cell.zero_state method to get an all zeros initial state.  Alternatively, you do not have to pass one and cell.zero_state will be called for you.  You do not need to store an initial state to a Variable in most cases.

[2016-07-26 16:09] gideonite opened #3509 "Check failed, cuCtxSetCurrent(context). training cifar10 multi-gpu example on 2 gpus."
I'm having trouble getting the multiple GPU example to work. Here is the full output:

[code]

### Environment info
Operating System: CentOS release 6.7 (Final). Using a docker image available here: [gideonitemd/hal-tf](https://hub.docker.com/r/gideonitemd/hal-tf/).

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

cudnn/7.0/lib64/libcudnn.so
c

[2016-07-26 16:11] bgshih opened #3510 "`tf.reduce_min/max/mean` returns uninitialized value on tensors with zero-size dimension"
I find that `tf.reduce_min/max/mean` returns uninitialized value (`nan` for example) on tensors with a zero-size dimension. This would cause problems, for example, when computing loss in an object detection problem, where an input image may contain no object. Please consider defining its behaviour on such inputs, e.g. outputing zeros, raising errors, etc.

### Environment info

  * Operating Syste

[2016-07-26 16:11] michaelisard commented on #3321
Thanks. Would you submit a PR for the doc?

[2016-07-26 16:12] ebrevdo commented on #3420
When using a dynamic_rnn, there is an "execution barrier" between calls to dynamic_rnn; because of the way that data is processed at input & output to the RNN while_loop.  The bidirectional_dynamic_rnn just calls dynamic_rnn twice, much the way you do in `bi_lstm_no_sql`.  In fact, it also uses `reverse_sequence`, which *also* forms a barrier between any two RNN calls.  There's no way around `reve

[2016-07-26 16:15] mrry commented on #3475
The error message suggests that you're assigning a GPU device to one of the nodes in the `tf.train.Saver`, but it doesn't have a GPU implementation. The standard solution to this is to enable `allow_soft_placement=True` in your session `ConfigProto`.

Looking at your stack trace, it seems like you aren't passing this to `sv.prepare_or_wait_for_session()`:

[code]

...but in your GitHub repository,

[2016-07-26 16:16] michaelisard commented on #3491
@rohan100jain can you comment on this?

[2016-07-26 16:16] mrry commented on #3475
Also note that the way you are assigning GPUs to local processes will probably result in inefficient resource utilization. By default every TF process will get access to all 8 of your GPUs (and potentially try to allocate all of the memory on all of them, leading to OOM errors). You should use the `CUDA_VISIBLE_DEVICES` environment variable to restrict each process to a different GPU, which will t

[2016-07-26 16:22] akors commented on #3507
Judging from my own model, it seems that the labels returned are simply always Zero.

Is there a simple way to confirm this with the mnist model?

ps.: I have run the [mnist_with_summaries.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/tutorials/mnist/mnist_with_summaries.py) code, and here everything seems fine. What is the difference between those two?

[2016-07-26 16:23] Anthony-Tatowicz commented on #3368
Yeah seems like csv file didn't get generated. I would try it on local data to double check and if it still fails open an issue, as for the UI I have no idea. If you look here there is some helper scripts, but they sound sort of hacky atm and they make it sound like csv isn't supported yet.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tensorboard/README.md#how-can-i-export-data

[2016-07-26 16:25] robertnishihara commented on #3473
Thanks for looking into it! The Stack Overflow post was pretty useful. Using `if __name__ == '__main__':` definitely works.

[2016-07-26 16:25] #3473 closed

[2016-07-26 16:47] michaelisard commented on #3498
It looks as if you are using the example script from HEAD but the r0.9 version of tensorflow.contrib.learn. Would you try again with matching versions and see if that works?

(In general [stack overflow](https://stackoverflow.com/questions/tagged/tensorflow) is a better venue for this kind of question.)

[2016-07-26 16:49] ASDen commented on #3420
another implicit performance penalty I noticed is that when using deep LSTM networks, using MultiRNNCell instead of manual construction can be 2-3X faster (I think because it uses a single while loop)
the problem with deep BLSTMs is that you can't do them with a single cell or a single while loop (layer output dependency) which means it incurs such a huge penalty solely due to many while loops inv

[2016-07-26 16:58] michaelisard commented on #3499
Does [name_scope](https://www.tensorflow.org/versions/r0.9/api_docs/python/framework.html#Graph.name_scope) do what you need?

([StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow) is a better venue for this kind of question.)

[2016-07-26 17:02] yaroslavvb commented on #3507
People had similar problems with GTX 1080, which were fixed by building TensorFlow with CUDA 8.0 instead of default 7.5 - https://github.com/tensorflow/tensorflow/issues/3052

[2016-07-26 17:05] michaelisard commented on #3501
What is the OS? (It's helpful if you fill out the issue template you see when you click on 'new issue'!)

[2016-07-26 17:13] michaelisard commented on #3502
Marking as contributions welcome since it is in contrib not core TensorFlow.

[2016-07-26 17:14] #3085 closed

[2016-07-26 17:19] michaelisard commented on #3504
@zheng-xq does it make sense to make the initial pool size configurable?

[2016-07-26 17:22] michaelisard commented on #3505
[StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow) is a better venue for this kind of usage question. Does adding your own variable_op_scope outside the call to fully_connected help?

[2016-07-26 17:27] michaelisard commented on #3507
@akors would you let me know if CUDA 8 helps?

[2016-07-26 17:30] michaelisard commented on #3509
Do any of the steps [here](http://stackoverflow.com/questions/34866455/unable-to-get-cuda-to-work-in-tensorflow) help? (StackOverflow is a better venue for this type of question.)

[2016-07-26 17:36] avostryakov commented on #3420
@ebrevdo Maybe I don't understand something but is it possible to execute forward pass of dynamic_rnn on one GPU and backward pass on an another GPU. Should it be two times faster in this case?

@ASDen It looks like you made opposite conclusions. Can you clarify what is faster MultiRNNCell or manually constructed cells?

[2016-07-26 17:41] ASDen commented on #3420
@avostryakov for deep networks (e.g. 8 layers and more) MultiRNNCell can be 2-3x faster than manual construction

[2016-07-26 18:18] gideonite commented on #3509
Not really, but [this](http://stackoverflow.com/questions/35805595/tensorflow-failed-to-run-on-k20m-and-k40m-gpus) did!

The StackOverflow thread says that this is a bug in TF but in fact I simply did not have to all of the GPUs on the machine. It works fine if I do.

More generally, I suppose the issue is error messages. Would have saved me a lot of time if TF let me know that it doesn't have per

[2016-07-26 18:18] #3509 closed

[2016-07-26 18:23] zheng-xq commented on #3504
This is a bit weird. We shouldn't use pool-allocator under the normal path. It should use BFC allocator instead, which is quite a bit more efficient when it comes to fragmentation.

The code for that decision is:

  if (!HasGPUDevice() || !FLAGS_brain_mem_reg_cuda_dma) {
    return GetCPUAllocator(numa_node);
  }

Could you confirm that TensorFlow detects any GPU in this case? Please upload the en

[2016-07-26 18:46] cgarciae commented on #3505
@michaelisard It works but I don't think its a proper solution, the names and TensorBoard graph become highly redundant, for example `relu_layer_2/fully_connected/Relu` and `relu_layer_2/fully_connected/weights`, with a small fix you could remove the `fully_connected` part.

Just change

    with variable_scope.variable_op_scope([inputs],
                                        scope,

[2016-07-26 18:50] rohan100jain commented on #3491
I'm actively working on this right now. The idea is what you suggested - exposing a python file interface that wraps the internal C++ file system interface so that all new file systems can just be directly implemented on top of C++ and is available automatically.

[2016-07-26 18:52] akors commented on #3507
Yes, it seems to have fixed the issue. Thank you for your support, and sorry that I didn't find the two threads myself.

[2016-07-26 18:52] #3507 closed

[2016-07-26 18:53] cgarciae commented on #3505
You could also just define the input parameters scope as `scope='fully_connected'` on the function definition an eliminate the line `scope = scope if scope else `fully_connected` of my solution

[2016-07-26 19:00] xmbrst commented on #2164
Will take a look.

On Mon, Jul 25, 2016 at 7:25 PM, Martin Wicke <notifications@github.com>
wrote:

[2016-07-26 19:22] gaphex commented on #3430
According to

I tensorflow/core/common_runtime/gpu/gpu_device.cc:839] Creating TensorFlow device (/gpu:0) -> (device: 0, name: Quadro K4200, pci bus id: 0000:03:00.0)
I tensorflow/core/common_runtime/gpu/gpu_device.cc:839] Creating TensorFlow device (/gpu:1) -> (device: 1, name: Quadro K4200, pci bus id: 0000:04:00.0)

it now seems to work correctly. Thanks!

[2016-07-26 19:22] #3430 closed

[2016-07-26 19:41] eringrant commented on #1325
+1. I have the same problem as @rlrs,, @mightyroy, @mlinxiang & @MingStar: I can't load variables with tf.Saver.restore() if they were created with tf.get_variable().

I can easily use the workaround described by @rlrs for some of the variables, but I can't find an easy way to do the same with variables that were created with a call to tf.nn.rnn(...), which uses tf.get_variable().

[2016-07-26 19:47] johann-petrak commented on #3321
https://github.com/tensorflow/tensorflow/pull/3514

[2016-07-26 20:24] hbfs commented on #2940
Previously I was following these instructions https://gist.github.com/Mistobaan/dd32287eeb6859c6668d and built from `master`. Now I used https://gist.github.com/ageitgey/819a51afa4613649bd18 and built from tag `cuda_osx`  and it worked. Note: I had to run `git submodule update --init` prior to bazel build commands and also prior to creating the pip packages `cp -r bazel-bin/tensorflow/tools/pip_pa

[2016-07-26 20:25] mbz commented on #3304
Sorry for late answer, wasn't available.

I put the full log here: [http://pastebin.com/WkU1buwx](url)

I think I have the latest drivers.

[2016-07-26 20:28] mbz commented on #3304
It seems that I cannot reopen the issue, it would be great if you do so.

Thanks

[2016-07-26 20:32] hbfs commented on #2840
This definitely looks like its related to the amount of free memory available.

This is tested on:
[code]
I'm using a monitor thats 4096x2160 with Billions of Colors and 60 Hz. This is relevant because it directly impacts the amount of free memory available on the GPU. Also just as important is how many windows are displayed on the current desktop.

1) With many windows, Chrome tabs and viewing a

[2016-07-26 20:36] yaroslavvb commented on #2940
BTW, there's now a daily wheel with Mac GPU support:

[code]

[2016-07-26 20:37] ryan-cahill commented on #3362
Thanks for the response, but I went with the easier route of using python to serve requests to my model instead of c++ and NodeJS, which I had planned on before. The all-Python approach works great so I'm shelving the c++ version of TensorFlow until I can take more time to understand it. Again, I appreciate the response and good luck with your future projects!

[2016-07-26 20:37] martinwicke commented on #3493
So can the problem generally be resolved by following symlinks when you give the cuda directory?

In that case, should we do that in the configure script, or at least warn the user if they give us a symlink?

[2016-07-26 20:40] zheng-xq commented on #3304
@mbz, it seems that you have two different GPUs active at the same time.

I tensorflow/core/common_runtime/gpu/gpu_device.cc:806] Creating TensorFlow device (/gpu:0) -> (device: 0, name: GeForce GTX 980 Ti, pci bus id: 0000:01:00.0)
I tensorflow/core/common_runtime/gpu/gpu_device.cc:806] Creating TensorFlow device (/gpu:1) -> (device: 1, name: Tesla K20c, pci bus id: 0000:02:00.0)

Could you try t

[2016-07-26 20:46] pranjaldaga opened #3515 "Language Modeling: Test Sentence Probability"
I have trained and saved an RNN model using the tutorial given [here in the Tensorflow docs](https://www.tensorflow.org/versions/r0.9/tutorials/recurrent/index.html). I want to evaluate this model by finding **log probability of each test sentence**. I would really appreciate if someone can help me out with this.
Thanks!

[2016-07-26 20:52] vrv commented on #3515
Hi, this is a question more appropriate to StackOverflow.

[2016-07-26 20:52] #3515 closed

[2016-07-26 20:55] lliu25 opened #3517 "Error when running distributed MNIST example"
Hi I am new to tensorflow and distributed tensorflow. I was trying to run an example from #2726

Right now I am using tensorflow 0.9 on a cluster of Raspberry Pi3, using slurm to manage the nodes in the cluster, the script is below:
#!/bin/bash

#SBATCH -N 4
#SBATCH --nodelist=piw[25-28]

node1=piw25
node2=piw26
node3=piw27
node4=piw28

#On node1:
srun -N 1 -n 1 python mnist_yetanother.py \
     -

[2016-07-26 22:00] avostryakov commented on #3420
@ASDen Thank you! I'm just trying to make my code faster. A simple architecture with embedding layer, 2 LSTM layers with dynamic_rnn (sequence_length is None) + classification on top of last hidden state works 30% slower than the same architecture on theano+lasagne. I thought that tensorflow 0.9 was optimized enough.

[2016-07-26 22:10] michaelisard commented on #3505
@sguada maybe you can comment?

[2016-07-26 22:30] michaelisard commented on #3517
I think the relevant part of the message is 'Error: /job:worker/replica:0/task:0/cpu:0 unknown device.' Could you include mnist_yetanother.py as well to make sure you are setting up the [cluster spec](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/how_tos/distributed/index.md) correctly?

[2016-07-26 22:31] davidzchen commented on #1157
@ZiangYan We are actively working on improving Bazel's autoconfiguration support. We appreciate your patience.

@lberki, @ulfjack - it seems that the C++ toolchain configuration does not follow symlinks for builtin include directories. I ran into this issue as well while working on #2873. Even though `/usr/local/cuda` is a symlink to `/usr/local/cuda-7.5`, as other users have pointed out, `cxx_bui

[2016-07-26 22:54] davidzchen commented on #1157
@dbikard - You may have added your `cxx_builtin_include_directory:` entry to the wrong part of the config. Can you paste a snippet illustrating where in your CROSSTOOL config you added that entry to?

FYI, the CROSSTOOL config file is in text Protocol Buffer format and is parsed into a `CToolchain` Protocol Buffer message. Here is the message definition, which serves as the schema for the CROSSTOO

[2016-07-26 23:08] papadopav commented on #1122
I am also confused regarding is_training and reuse flags. I have created a program following the CIFAR example, where my code is structured as in CIFAR:
- Inference
- Loss
- Train

And I am running it in a multi-gpu fashion (for training).
So I have one script for training (similar to cifar10_multigpu.py) and one for testing (similar to cifar10_eval.py).
So

[code]

The inference happens with the

[2016-07-26 23:13] alephman commented on #22
@inferrna   thanks,  it looks  similar the OpenGL that hides the implementation of vendor specific.

[2016-07-27 00:22] JohnAllen opened #3519 "Suggestions for simplifying directory structure"
(version/machine agnostic)

I just want to say that after using TF for a while, I still have to fire too many brain cells to remember which directory certain files are in.

The shortest way I can say this is that I suggest placing **all** instructional/non-source files in the same directory, _probably at the top_ of tensorflow so  visitors can easily find them.

Right now there are:
- `tensorflow[

[2016-07-27 00:59] MingStar commented on #1325
I have actually got this problem fixed for my case.

The way I did it was to construct the graph, restore the checkpoint file (of tf variables) and run the session in the SAME thread.

[2016-07-27 01:18] lliu25 commented on #3517
Hi @michaelisard thank you for your reply, I used exactly the same code as in #2726, so the setup of cluster spec remains the same. Although I did try to hard code the assignment of the node into the code, still the same error.

[2016-07-27 01:19] gunan commented on #3228
I have fixed the process generating our docker images, and rerunning our release script for 0.9.0.
Sorry for taking so long to fix this simple issue. I will Close the issue once I verify the images are uploaded with the correct tags.

[2016-07-27 01:26] akucukelbir opened #3520 "verify_tensor_all_finite does not handle list of tensors of different shape"
`tf.verify_tensor_all_finite` works on lists of tensors that have the same shape.

but it does not seem to work on lists of tensors that have different shapes.

### Environment info
Operating System: Mac OSX 10.10.5

Installed version of CUDA and cuDNN: None

If installed from binary pip package, provide: 0.9.0rc0

### Steps to reproduce
[code]

[2016-07-27 01:35] benoitsteiner commented on #1300
In https://github.com/tensorflow/tensorflow/commit/7d3f838f76e34cde680d9815ba300a989e641e86 I extended the ptb_word_lm model used in our [RNN tutorial](https://www.tensorflow.org/versions/r0.7/tutorials/recurrent/index.html) to train using fp16.

[2016-07-27 01:51] justdark commented on #3501
it's centOS 6.5

[2016-07-27 01:56] mrry commented on #3517
Looking at your log output (and slightly unjumbling it), it appears that the ClusterSpec is appropriately configured:

[code]

However, the error you are seeing appears to be a result of misconfiguration: one worker is making a request to the process that it *believes* is worker 0, but the receiving process does not have the appropriate device (and so presumbly is actually a *different* worker).

[2016-07-27 01:58] ashvsdata commented on #3494
Hi @michaelisard  I tried that, but same result. did a bazel clean, and complete rebuild.

[2016-07-27 02:23] MaZhuang commented on #1830
Any update on this issue?

[2016-07-27 02:46] mrry commented on #3520
`tf.verify_tensor_all_finite()` actually expects a *single* tensor. If you happen to pass in a list of identically-sized N-dimensional tensors, TensorFlow will pack them into a single N+1-dimensional tensor and pass that to the op.

[2016-07-27 02:46] #3520 closed

[2016-07-27 03:00] guolinke commented on #3475
@mrry
I can run it after added ```allow_soft_placement=True```. Thanks very much.
And thanks for your advise, it helps a lot.

[2016-07-27 03:00] #3475 closed

[2016-07-27 04:49] ebrevdo commented on #1830
a new version of gather_nd op is being pushed.  it provides functionality
to do what you need but currently no gradient method exists.

On Tue, Jul 26, 2016 at 7:23 PM, Zhuang Ma <notifications@github.com> wrote:

[2016-07-27 05:12] martinwicke commented on #3503
Because of a severe lack of Windows machine to test this on we can't directly support Windows (yet). Maybe someone here has an idea. You can also try StackOverflow.

[2016-07-27 06:26] decster commented on #2797
also have this problem when trying to use tensorflow.contrib.learn.ops.conv2d

[2016-07-27 06:27] wagonhelm commented on #3496
I'm no expert but I beleive API 19 would of been used on a older version of Android SDK this is what my workspace file looked like.

`android_sdk_repository(
    name = "androidsdk",
    api_level = 24,
    build_tools_version = "24.0.0",
    path = "YOURPATH")

android_ndk_repository(
    name="androidndk",
    path="YOURPATH/android-ndk-r12b",
    api_level=21)`

Maybe try that?  If you could al

[2016-07-27 06:29] suiyuan2009 commented on #2126
It would be better if parameter can be partitioned into pieces and well managed.

[2016-07-27 06:37] wagonhelm commented on #3386
I just installed Cuda using apt-get and copy and pasted all the CudNN files into the usr folder and using the pip GPU installation everything worked dandy.

I walked through the whole process here.
https://www.youtube.com/watch?v=HM57GyqwGxA

[2016-07-27 06:38] #3228 closed

[2016-07-27 06:38] wagonhelm commented on #2897
I walked through how to do it with Ubuntu 16.04 and using Cuda 7-5 using apt-get.

https://www.youtube.com/watch?v=HM57GyqwGxA

[2016-07-27 07:39] chenxing3 commented on #3498
Thanks.  michaelisard. I will try stack overflow.

[2016-07-27 08:06] syed-ahmed commented on #2169
@girving Thanks for your reply. I am defining a MaxUnpoolGrad for the corresponding MaxUnpool operation that I have implemented. Following is what I declare as top_offset and bottom_offset for MaxUnpoolGrad:
[code]

The correspoding cuda kernel declared in maxpooling_op_gpu.cu.cc is:
[code]
My graph builds but it is when the session runs that I get the following error:
[code]
I have made sure the

[2016-07-27 08:10] b78 commented on #329
@danmane
Could you explain how to inject a matplotlib plot into an image_summary. I have tried out a million things but I don't manage to.
So far I've got an image as a numpy array, but then how do I add it? Here are my last thoughts:
[code]

[2016-07-27 08:57] RiemannianAnalyzer commented on #808
Did you guys find a solution to this issue? I am on dual Titan X. The error that I get is similar to the one reported above:

`$ python input_data.py
I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcublas.so locally
I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcudnn.so locally
I tensorflow/stream_executor/dso_loader.cc:108]

[2016-07-27 09:31] dialgop opened #3523 "Do you really guys calculate the gates values in LSTM?"
Hello guys, I was checking at the code in the classes BasicLSTMCell  as well as LSTMCell and I don't see you use formulas to get the values of the gates (output, input and forget) is this procedure you guys use really valid (since gates have their own calculation)?

in the _linear method (which you use) I just see matmul, concat and some functions from variable_scope.py However if you did it in an

[2016-07-27 09:55] morgangiraud opened #3524 "Undefined symbols for architecture x86_64: _deflate (zlib)"
Hi!

I was trying to reproduce one of my previous work on tensorflow on IOS when I stumble upon this error:

[code]
Step i did:
- I cloned tensorflow at 10am 27/07/2016, paris timezone
- I ran gen_files_list.sh
- I compile tensorflow on IOS using the compile_all_ios.sh script on my project: ❌
- I git reset --hard HEAD
- I compile tensorflow on IOS using the compile_all_ios.sh script on my project:

[2016-07-27 10:38] manjunaths commented on #808
RiemannianAnalyzer,

In my case the libcuda.so was not available in the container at the specified location. I was also using docker instead of nvidia-docker. I added in a libcuda* from the host machine into the cuda path (/usr/local/cuda/lib/*) and then froze the image. Now I no longer get the error, with the new image.

In your case, did your driver install successfully (Have you looked at the d

[2016-07-27 10:46] qingzew opened #3525 "core dump when initializing gpu"
I have the same problem with [#2620](https://github.com/tensorflow/tensorflow/issues/2620), like this:
[code]

In fact, gpu 2 is busy:

[code]
 I only want to use gpu 1, but tensorflow want to init all gpus.

[2016-07-27 10:55] adam-erickson opened #3526 "Build fails on Ubuntu 16.04 LTS, CUDA Toolkit 8.0, cuDNN 5.0.5, and Bazel 0.3.0-jdk7"
Hi Everyone,

I've downgraded my gcc to 5.3.0 by building from source in order to install CUDA Toolkit 8.0 with cuDNN 5.0.5. I also installed OpenCL freeglut3 and mesa libraries via apt-get. I then built Bazel from source using the installer script. Next, I installed the TensorFlow and Google Cloud Platform Python dependencies. I then cloned the tensorflow GitHub repository and modified the CROSST

[2016-07-27 11:01] jparinita opened #3527 "//tensorflow/python:Sparse_split_op_test is failing on Big Endian"
### Environment info

Operating System: Ubuntu/Red Hat

Installed version of CUDA and cuDNN:  Not installed

The output from `python -c "import tensorflow; print(tensorflow.__version__)"`. **0.8.0**

If installed from source, provide
1. The commit hash (`git rev-parse HEAD`) [ [4b7bc31](https://github.com/tensorflow/tensorflow/commit/4b7bc3174ed67b4a0eb1803537c9d00f132e9ae7)]
2. The output of `baz

[2016-07-27 11:20] akucukelbir commented on #3520
oh i see. ok, makes sense. thanks @mrry.

[2016-07-27 11:20] rifatmahmud commented on #3008
@ilblackdragon , for custom models, it doesn't seem to be working.(Like when using the TensorFlowEstimator).
Is there any workaround?

[2016-07-27 11:22] manjunaths commented on #3504
Attached the output of the run and the nvidia-smi that you requested from inside the nvidia-docker container. Note that in the first case, with batch size 32, it is actually running the network successfully (I even verified, using nvidia-smi, that the targetted GPU is being utilized.)

One funny observation is that the only time I see the bfc_allocator being called is when the run failed with out

[2016-07-27 11:48] friesel commented on #1060
Latest Driver solved it. Thx a bunch

By the way: Scripts running much faster now. Dodnt measure precisely but about a factor 2 on cifar-10

[2016-07-27 12:51] jonrein opened #3528 "rnn.bidirectional_dynamic_rnn doesn't really take sequence_length of int32s"
The docstring for rnn.bidirectional_dynamic_rnn indicates that the sequence_length argument can be an int32/int64 vector, but array_ops.reverse_sequence only accepts an int64 vector as its seq_lengths argument.  I'll leave it to you whether the solution is to modify reverse_sequence or just amend the docstring.

[2016-07-27 13:11] andrewharp commented on #3496
@kimhyungjoo Please see https://github.com/tensorflow/tensorflow/issues/3444, which contains instructions for building the native libs while using Android studio.

[2016-07-27 13:11] #3444 closed

[2016-07-27 13:35] cgarciae commented on #3228
Thanks!

[2016-07-27 13:39] Qululu commented on #3165
I'm also having this issue. I'm using LinearClassifier. I tried passing the X argument as a tensor, Pandas dataframe, and NumPy matrix. None work and all attempts result in the same AttributeError.

Is there any progress with this? Thanks!

[2016-07-27 13:48] dbikard commented on #1157
@davidzchen Thanks, that was indeed my mistake. I realized that shortly after posting here, so I deleted my message. I have now managed to build tensorflow. Thanks for your help!

[2016-07-27 13:48] zsdonghao commented on #3476
@ebrevdo Perharps, I didn't describe my problem clearly. I did use ```cell.zero_state``` to get the varible for the initial state, which works fine. However, when I want to get initial values of the initial state using ```initial_state.eval()```, I got an error saying that ```AttributeError: 'LSTMStateTuple' object has no attribute 'eval'```.

Please see a simplified version of my code below (this

[2016-07-27 14:25] MaZhuang commented on #1830
@ebrevdo THANKS! Correct me if I miss something, the value of the state in currently rnn function will inherit the value from previous state if the the time step t is larger than the sentence length. Conceptually, the same trick can be applied to output without any further difficulty.  It seems that we can simply replace zero_output=zero_output in the following code with zero_output = output to ac

[2016-07-27 14:27] ebrevdo commented on #1830
Yes, but that would not be backwards compatible and would result in
incorrect gradients if you apply losses on every output.

On Jul 27, 2016 7:25 AM, "Zhuang Ma" <notifications@github.com> wrote:

[2016-07-27 14:52] MaZhuang commented on #1830
Why will there be an issue with the backward step since the function seems
to be completely based on current tensorflow ops?  Will the issue still
exist if I only use the final output once instead of using all of them from
the sentence length to the maximum length?

On Wed, Jul 27, 2016 at 10:29 AM, ebrevdo <notifications@github.com> wrote:

--
Zhuang Ma
Department of Statistics
The Wharton School

[2016-07-27 15:01] lliu25 commented on #3517
Hi @mrry the cluster is set up to use /etc/hosts for hostname resolution within the cluster. We switched to use the IP addresses of the nodes and we ran into the same error. I'm skeptical if the error message is caused by

[[Node: truncated_normal_2_S5 = _Recvclient_terminated=false, recv_device="/job:ps/replica:0/task:0/cpu:0", send_device="/job:worker/replica:0/task:0/cpu:0", send_device_incarna

[2016-07-27 15:13] martinwicke commented on #3165
Have you tried at head? We know there's a bug in 0.9, but it should work at head.

[2016-07-27 15:36] JohnAllen commented on #3526
Try the one-earlier release of Bazel 0.2.3 or whatever it is.  0.3 always never worked for me.  Rolling back twice worked for me on Ubuntu 16 and 14, with same exact CUD* versions.

[2016-07-27 15:53] mrry commented on #3517
Do you have the ability to recompile from source? I can think of a small patch that would make it easier to diagnose the problem.

(I don't think it's related to the particular use of `truncated_normal`, and it still seems like an address misconfiguration to me, although using IP addresses rules out DNS misconfiguration.)

[2016-07-27 16:42] ebrevdo commented on #1830
Suppose the sequence length of an item is 3, but the total computation time
(max_time) is 10.  Then the last 7 outputs are copies of output @ time 2.
Now you pass gradients back for all of these, and as a result you get
gradient updates for all 10 time steps.  The gradients coming in from times
2-9 all get accumulated into the bprop of step 2.

Emitting the last output is not useful for most LSTM

[2016-07-27 16:43] aselle commented on #3208
Automatically closing due to lack of recent activity. Please reopen if additional information becomes available.

[2016-07-27 16:57] yaroslavvb commented on #3526
I worked around similar issue by adding `cxx_builtin_include_directory`
https://github.com/tensorflow/tensorflow/issues/3431

[2016-07-27 17:00] girving commented on #2169
@syed-ahmed Is it possible to use cuDNN for these operations?  Writing them yourself will result in very slow code.

[2016-07-27 17:35] terrytangyuan opened #3532 "Dask Integration with tf.learn"
Current `DaskDataFeeder` is no longer working due to recent refactoring. It will be switched to use `tf.DataFrame`.

@davidsoergel what's the status on replacing data feeders with `tf.DataFrame` in estimators? Do you want to take a look at dask as well?

cc: @jcrist @mrocklin @ogrisel @shoyer

[2016-07-27 17:49] lliu25 commented on #3517
@mrry inspired us to check if the tasks are running on the designated nodes. We now changed the way of assigning the nodes, and now it's working! thanks a lot!!!

The script is shown below:
#!/bin/bash

#SBATCH -N 4
#SBATCH --nodelist=piw[25-28]

node1=piw25
node2=piw26
node3=piw27
node4=piw28

# On node1:
srun --nodelist=piw25 -N 1 -n 1 python mnist_yetanother.py \
     --ps_hosts=$node1:2223 \

[2016-07-27 17:50] #3517 closed

[2016-07-27 17:52] GrachevArtem opened #3533 "Problems with quantization. Op type not registered 'Dequantize' and other problems"
Hi Everyone,

I did quantization with tensorflow following this manual: https://www.tensorflow.org/versions/master/how_tos/quantization/index.html

Here detailed description of my current problem:
http://stackoverflow.com/questions/38615558/bug-in-tensorflow-tuttorial-about-quantization

And here parent problem:
http://stackoverflow.com/questions/38595600/notfounderror-op-type-not-registered-dequa

[2016-07-27 18:08] mrry commented on #3517
Glad to hear it! So - just for my understanding - was the problem that Slurm was assigning some tasks to the same nodes? (or assigning them in a non-deterministic order?)

[2016-07-27 18:10] shoyer commented on #3532
A few thoughts from looking through [the code of DaskDataFeeder](https://github.com/tensorflow/tensorflow/blob/5df4c71c86b28c2a4dd746bd67f00fc0281bd24f/tensorflow/contrib/learn/python/learn/learn_io/data_feeder.py#L507):

- It looks like DaskDataFeeder currently does random sampling for input. This is nice in some cases, but in general could be very expensive. I would prefer something simpler that

[2016-07-27 18:14] rueberger opened #3534 "Document exceptions to broadcasting semantics"
## Environment info
Operating System: Ubuntu 14.04, OSX 10.11

Installed from `1b7b7703c8449769ba1cfb7553494c9b472925d7`

Output of `bazel version`:

[code]

### Steps to reproduce

Running this script:

[code]

produces

`UnimplementedError: Broadcast between [50,1,20,10] and [50,30,20,1] is not supported yet.`

### What did you try?

Moving the broadcast dimensions to the results in success

[co

[2016-07-27 18:47] sguada commented on #3265
Fixed in https://github.com/tensorflow/tensorflow/commit/9da5fc8e6425cabd61fc36f0dcc1823a093d5c1d#diff-94bbcef0ec8a5cdef55f705e99c2b2ed

[2016-07-27 18:50] sguada commented on #1122
Now tf.contrib.layers.batch_norm accepts a Tensor, Variable or Placeholder as is_training

https://github.com/tensorflow/tensorflow/commit/9da5fc8e6425cabd61fc36f0dcc1823a093d5c1d#diff-94bbcef0ec8a5cdef55f705e99c2b2ed

[2016-07-27 19:18] michaelisard commented on #3501
@martinwicke this probably needs more info to debug but I'm not sure what specifically to ask for.

[2016-07-27 19:19] michaelisard commented on #3494
@martinwicke is this behavior you recognize?

[2016-07-27 19:19] #3498 closed

[2016-07-27 19:26] martinwicke commented on #3439
This happened because evaluation works off of the last checkpoint. Checkpoints are by default saved every 10 minutes (the defaults are good for long-running jobs, not so good for toy examples).

So if you evaluate more than every 10 minutes, you'll get no results or identical results to last time.

Passing the config allows you to override the checkpointing interval, now you write a checkpoint eve

[2016-07-27 19:26] #3439 closed

[2016-07-27 19:31] martinwicke commented on #3501
How did you build it? With GPU support, I assume? Any other options, or just `--config=cuda -c opt`?

[2016-07-27 19:32] michaelisard commented on #3519
@martinwicke would you like to comment or reassign?

[2016-07-27 19:34] jahmad1234 commented on #92
+1 for java

[2016-07-27 19:35] michaelisard commented on #3523
I think this question is better suited to [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) unless you determine that there's a specific bug that needs to be addressed.

[2016-07-27 19:35] #3523 closed

[2016-07-27 19:38] martinwicke commented on #3519
This is a good thing to do, but it isn't particularly high on our list of priorities. Note that there are not only pre-trained models in the models repo, so I don't think it should be renamed.

I agree with your suggestion to have a single top-level examples directory. Honestly, I would just have a tensorflow/examples directory, for instance like this:

tensorflow/examples/mnist
tensorflow/example

[2016-07-27 19:41] juicyslew opened #3535 "SGD only? What about other algorithms like L-BFGS?"
This is simply a question, not an issue, as this seemed like the best place to ask:

I was looking at the video an model on the site, and it appeared to only have SGD as an algorithm for machine learning.  I was wondering if other algorithms are also included in tensorflow.

An interested student,
William

[2016-07-27 19:42] vrv commented on #92
Please use Github reactions on the root post to register your votes.  Thanks!

[2016-07-27 19:49] michaelisard commented on #3525
Do you think this is the same as #152?

[2016-07-27 19:49] lliu25 commented on #3517
I don't think this is caused by slurm assigning tasks to the same nodes. As long as the tasks are specified to each node specifically they can run correctly. I have run into the situation where some tasks assigned to the same node, I will try to post that error message later, different from what I post here.

[2016-07-27 19:52] michaelisard commented on #3535
It's better to ask this kind of question on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow), thanks!

[2016-07-27 19:52] #3535 closed

[2016-07-27 19:58] michaelisard commented on #3534
@vrv, @girving it does seem as if this should be documented. I could add it to #508 but this seems like a more targeted fix to the general 'how we do broadcasting for elementwise ops' doc, since we don't really do numpy broadcasting only a weird subset of it. Shall I keep this as a separate issue?

[2016-07-27 20:03] vrv commented on #3534
#508 should definitely cover the documentation part of this, but maybe we keep this bug open to track the completion of the 'numpy broadcasting semantics' ?

[2016-07-27 20:06] hillegass opened #3536 "Bazel target to create C++ library headers"
Thanks to the `//tensorflow:libtensorflow.so` target, I can now build a shared library that I can use in my C++ programs.  I want to install that library in `/usr/local/lib` and put the headers for it in `/usr/local/include`, but there is no target to build and install those headers.  In particular, building the library doesn't build the headers from the proto files, so I have `error_codes.proto`,

[2016-07-27 20:08] michaelisard commented on #3534
My concern about #508 is that it has degenerated into the nice-to-have 'go add a line to every op' with 'contributions welcome' and I'm not sure anyone is going to do it, whereas 'the doc that we already have is actively wrong and generates NotImplemented exceptions' seems a bit more urgent. I'd be happy to update #508 with the info from here if you can suggest someone to assign it to so it gets d

[2016-07-27 20:09] michaelisard commented on #3534
I think #1519 is actually fine for the underlying bug.

[2016-07-27 20:10] michaelisard commented on #1519
@benoitsteiner any fix should be sure to cover the cases in #3534 as well.

[2016-07-27 20:10] vrv commented on #3534
SGTM.  Maybe assign to ZF

[2016-07-27 20:11] michaelisard commented on #3528
@ebrevdo would you make the call?

[2016-07-27 20:14] #3265 closed

[2016-07-27 20:14] michaelisard commented on #508
@zffchen78 would you update the doc based on the comments in #3534?

[2016-07-27 20:15] michaelisard commented on #3534
OK closing and moving to #508.

[2016-07-27 20:15] #3534 closed

[2016-07-27 20:16] michaelisard commented on #3536
@martinwicke is this addressed in any planned build system changes?

[2016-07-27 20:19] sguada commented on #3505
Using automatic naming for variable_scopes is a bad idea, if you add a new layer in between all the variables change their name, and create problems restoring and reusing models.  For instance you cannot reuse a layer unless it has given scope.

There is already some partial functions that assign different activation functions to fully_connected
https://github.com/tensorflow/tensorflow/blob/73ced9

[2016-07-27 20:20] michaelisard commented on #3527
@girving this looks like a bug but the code author isn't in the tf org. Would you assign appropriately?

[2016-07-27 20:21] michaelisard commented on #3526
@adam-erickson please update if the above comments don't help.

[2016-07-27 20:25] syed-ahmed commented on #2169
@girving Thank you for your reply. I will try implementing the cudnn version once i get this cuda one running. I was able to use cuda-gdb to get some sort of trace where my error is originating from. Here's the output from cuda-gdb:
[code]

Here's how it is defined in the cu.cc file:
[code]
I am kinda lost since I'm a beginner with cuda. Anybody has any idea what might be going wrong?

[2016-07-27 20:27] perone commented on #2753
Operating System: Ubuntu 14.04 LTS 64bit

Installed:
Android NDK (r12b),
Android SDK (Latest),
Tensorflow (0.9),
Bazel (0.3.0)

I faced the same problem, then I changed to use "//tensorflow/core:android_tensorflow_lib", now the error is:
[code]

I'm building with the following command:

`bazel build :mydemo --crosstool_top=//external:android/crosstool --cpu=x86 --host_crosstool_top=@bazel_tools//t

[2016-07-27 20:30] perone opened #3537 "Cannot build a simple C++ TensorFlow example for Android x86"
Operating System: Ubuntu 14.04 LTS 64bit

Installed:
Android NDK (r12b),
Android SDK (Latest),
Tensorflow (0.9) (configured for CPU only),
Bazel (0.3.0)

I faced the same problem of the issue #2753, then I changed to use "//tensorflow/core:android_tensorflow_lib", now the error is:

[code]

I'm building with the following command:

`bazel build :mydemo --crosstool_top=//external:android/crosstool

[2016-07-27 20:42] martinwicke commented on #3524
I suspect the makefile doesn't properly add -lz. @petewarden would know.

[2016-07-27 20:46] martinwicke commented on #3536
No

[2016-07-27 21:02] xmbrst commented on #3363
Fixed in r0.10. Data is now available at http://download.tensorflow.org/data/questions-words.txt .

[2016-07-27 21:02] #3363 closed

[2016-07-27 21:25] #3123 closed

[2016-07-27 21:44] josh11b commented on #2514
You may be able to use QueueBase.from_list to dynamically select which queue to dequeue from, see:
https://www.tensorflow.org/versions/r0.9/api_docs/python/io_ops.html#QueueBase.from_list

[2016-07-27 21:49] girving commented on #2169
It's impossible to debug this without seeing your code.  As a wild guess: maybe you are running GPU kernels on Tensor objects stored on the CPU?

[2016-07-27 21:57] girving commented on #3527
@jparinita Is that the only test that fails?  I'm particularly curious whether any simpler tests exercising TensorShape might fail.

[2016-07-27 22:06] keveman commented on #3536
Is the target `//tensorflow/core:framework_headers_lib` not sufficient?

[2016-07-27 22:08] PangZhi commented on #472
@vrv I also get the same error message.  Should we reopen this issue?

[2016-07-27 22:11] vrv commented on #472
I don't think it's a TensorFlow issue -- your numpy version at runtime has to match the version that TensorFlow was compiled with.

[2016-07-27 22:30] rubenstern opened #3539 "parallelize OneVsRestClassifier"
Hi,

I have implemented a CNN model in a TensorFlowEstimator and I use it with a OneVsRestClassifier.
It works good.
When I am trying to parallelize it by putting n_jobs=2 in the OneVsRestClassifier, I got a strange error that I don't understand :

MaybeEncodingError: Error sending result: '[TensorFlowEstimator(batch_size=32, class_weight=None, clip_gradients=5.0,
          config=None, continue_t

[2016-07-27 22:37] syed-ahmed commented on #2169
Hi @girving. Sorry, I didn't wanted to lengthen this issue by posting all the code. You can review the changes in this [link](https://github.com/syed-ahmed/tensorflow/commit/95c145b19ce0537b80368472d7daf2bbe7d03788).

I am calling the max unpool like this:
[code]
I am not sure if the origin_input_tensor and argmax_tensor objects are in CPU or GPU. The cuda-gdb output of MaxUnpoolForward suggests t

[2016-07-27 22:43] ebrevdo commented on #3528
We can also cast up to int64.

[2016-07-27 22:43] mbz opened #3540 "Variable.assign throws expection randomly"
I'm trying to copy weights between two graphs which are running in two different processes simply by fetching the values from one, sending them to the second process and assigning the values there.

The code I have is pretty simple and straight forward:

    def get_all_variable_values(self):
        vars = list(self.sess.graph.get_collection(tf.GraphKeys.TRAINABLE_VARIABLES))
        names = [v.n

[2016-07-27 22:54] michaelisard commented on #3528
Any preference?

[2016-07-27 23:26] syed-ahmed commented on #2169
Also there is a lot of code duplication in my changes. I can make the unpool op use the same compute kernel. I was just trying out if using the same compute kernel was causing the CUDA error in the version I posted here.

[2016-07-28 00:00] markpwoodward commented on #2514
I don't know how I missed that! Thank you. I just tested it. It works great; two FIFOQueues, one placeholder to select the queue.

This feature request was side tracked a bit, I will leave it open as my original request of a way to signal the last dequeue of an epoch, without needing to count dequeue's, still stands. Low priority, since it is easy enough to count dequeue's and this feature is like

[2016-07-28 00:07] michaelisard commented on #3540
This is probably better discussed on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow). Have you tried creating the graph before the call to run? It looks as if you are modifying the graph inside the loop in set_all_variable_values.

[2016-07-28 00:11] michaelisard commented on #3539
@poxvoculi would you take a look?

[2016-07-28 00:12] mbz commented on #3540
The graph has been created beforehand, but I'm not modifying it (at least not deliberately!).
I'm not sure which line in `set_all_variable_values` you are talking about:

    for var in self.sess.graph.get_collection(tf.GraphKeys.TRAINABLE_VARIABLES):

This one is to just go through all the variables, and this

    self.sess.run(var.assign(update_dict[var.name]))

just replaces their value.

[2016-07-28 00:21] michaelisard commented on #3540
TensorFlow works by first building a graph of Ops, and then running that graph once it is assembled. tf.assign adds a new assign node to the graph, which is typically run later as a side-effect of calling tf.run on some node. In your case you are adding the new node and then calling run on the newly-added node. As I said, this kind of discussion is better suited to the StackOverflow forum which is

[2016-07-28 00:27] mbz commented on #3540
Thanks, that makes sense. However that still doesn't explain the random behaviour of TensorFlow, does it? With your explanation, the rational is that `Graph` object is not thread safe and if changes while being processed the code may break?

[2016-07-28 00:38] michaelisard commented on #3540
Well, I'm not sure because you didn't provide a larger code snippet but you did say that there are multiple processes and it's unclear how you are calling it. It certainly isn't the common use case to have multiple threads mutating the graph concurrently. @mrry could you comment on what if any guarantees there are for thread safety?

[2016-07-28 00:40] poxvoculi commented on #3539
In short, no I don't know just what's going on, but here's what I can deduce, not having much experience with python or the python layer of tensorflow.

This is a python error trickling up, evidently from the python pickle operation which serializes an in-memory object for storage or i/o with another process.  It appears something is unsuccessfully trying to serialize TensorFlowEstimator, which is

[2016-07-28 00:40] mrry commented on #3540
Which version of TensorFlow are you running? The thread safety of the `tf.Graph` has been improved somewhat recently, so it'd be great if you could confirm this is still a problem with the latest version.

In general though, if you're modifying the graph in response to an unbounded number of server requests, there's a memory leak that will bite you in the future. I'd suggest creating one assign op

[2016-07-28 00:46] mbz commented on #3540
Thanks for the reply. I'm switching to your design. Just out of curiosity, can I pull the same thing off using a `Saver`? It seems what `Saver` essentially does is the same as what you described.

I'm using Version: 0.9.0rc0. Can update to a newer version if it is available.

[2016-07-28 00:47] cgarciae commented on #3505
@sguada Thing is, in the same way `fully_connected` lets your users get away with not naming every single layer but getting a sensible default, I too would like the users of my library to have that flexibility. That automatic behavior is very helpful when your just learning and want to get things done quickly.

The `default_parameter='fully_connected'` idea is excellent, would allow both automatic

[2016-07-28 00:48] michaelisard commented on #3539
Sorry I misdirected but thanks @poxvoculi. @ilblackdragon could you have a quick look?

[2016-07-28 00:52] lliu25 commented on #3517
When I accidentally tried to assign several tasks to the same node, I got the following error message:
I tensorflow/core/distributed_runtime/rpc/grpc_channel.cc:206] Initialize HostPortsGrpcChannelCache for job ps -> {192.168.50.35:2223}
I tensorflow/core/distributed_runtime/rpc/grpc_channel.cc:206] Initialize HostPortsGrpcChannelCache for job worker -> {192.168.50.36:2223, 192.168.50.37:2223, loc

[2016-07-28 01:03] justdark commented on #3501
I use `bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer`

[2016-07-28 01:40] qingzew commented on #3525
@michaelisard I am not sure, maybe it's the same problem.
In my context, all memory of gpu 2 has been used, when I run tensorflow program, specifically,  the calling of tf.Session.run(), it try to check all gpus on my machine, but the fact is that 4768MiB /  4799MiB  memory of gpu 2 has been used, the memory is not enough to run other's thread.

In the #152, the output of nvidia-smi says that ther

[2016-07-28 01:53] petewarden opened #3541 "Constant folding seems to cause error with ImmutableConst ops"
Using memory-mapped ImmutableConst ops seems to cause the initial constant folding process to fail.
## Reproduction steps:
- Load a graph containing ImmutableConst ops.
- Create a memory-mapped environment and session like this:

[code]
- Run the graph using session->Run().
## Expected results:

The graph should execute successfully with no error messages.
## Actual results:

The graph seems to ex

[2016-07-28 01:57] qingzew commented on #3525
@michaelisard  By the way,  CUDA_VISIBLE_DEVICES can solve my problem

[2016-07-28 02:00] MaxGubin commented on #3541
a short-term fix:
 // Create and initialize MemmappedEnv from the converted file.
  MemmappedEnv memmapped_env(Env::Default());
  TF_ASSERT_OK(memmapped_env.InitializeFromFile(filename_mmap));

  // Load the graph and run calculations.
  SessionOptions session_options;
  options.config.mutable_graph_options()
        ->mutable_optimizer_options()
        ->set_opt_level(::tensorflow::OptimizerOpti

[2016-07-28 02:10] damienstanton commented on #10
FYI #3542 resolves a build error I experienced on the Go branch.

[2016-07-28 02:28] davidsoergel commented on #3532
Replacing data feeders is high on our DataFrame todo list, and should be straightforward in principle because we already have various feeding functionality working-- so it's just a matter of hooking that up in the right places.  It could easily be a month before it's done, though, both because we're juggling a lot and because I'll be on vacation for a few weeks.

However: we had decided specifical

[2016-07-28 02:32] xmbrst commented on #2164
@petewarden, @shlens suggested that you might be a good person to update the plumbing in classify_image.py for the newer model at https://github.com/tensorflow/models/blob/master/inception/

[2016-07-28 02:43] shoyer commented on #3532
@davidsoergel I agree, dask is probably less important than other data feeders. I do think it would be interesting to support, though, because it offers similar (but more mature) out of core dataframe functionality to that envisioned with learn.DataFrame.

[2016-07-28 02:58] hillegass commented on #3536
The .proto files are not compiled to .pb.h files when I build the `//tensorflow/core:framework_headers_lib` target

[code]

[2016-07-28 03:35] gpapan commented on #3492
(1) We do not have immediate plans to add support for 3D atrous/dilated convolution in TF. For the 2-D case we already have `tf.nn.atrous_conv2d(value, filters, rate, padding, name=None)`.

(2) You can adapt the existing [tf.nn.atrous_conv2d] (https://github.com/tensorflow/tensorflow/blob/73ced9d797056c7e67a06ed2098dd809d85ec44a/tensorflow/python/ops/nn_ops.py) implementation to perform 2D atrous/

[2016-07-28 04:08] psicalculus commented on #3492
On connectomics datasets, the 3D images included are very high resolution. 3D neural nets trained on such datasets have lots and lots of parameters. For this reason, 3D dilated convolution and 3D dilated pooling are very useful in speeding up the learning process and enabling the training of very deep nets (cover larger area but less computation/less parameters to train). Most deep learning framew

[2016-07-28 04:38] yjmade opened #3543 "boolean_mask failed in iOS: Running model failed:Invalid argument: No OpKernel was registered to support Op 'Gather' with these attrs"
### Environment info

Operating System:
Building on Mac OS X
Running on iOS 9.2.1
1. The commit hash (`git rev-parse HEAD`)
   71f6bb336e5e11d6da2cedac6ba1c992ad9992bd
2. The output of `bazel version`

[code]
### Steps to reproduce
1. I compile tf for iOS with the makefile
2. I frozen a model with last step as  a boolean_mask (that prozen pb file runs perfectly with TF 0.9.0 python api )
3. I run

[2016-07-28 04:47] alan23273850 opened #3544 "Should *.pb.h files be generated in cross-compile cases?"
A few days ago, I have tried to import the tensorflow project directly into Android Studio on Windows and use Gradle to build the project. Header files with suffix ".pb.h" are not generated. Google says bazel should be used to build the project. Now I use bazel on Linux to build it again with CPU=arm64-v8a using the following command

bazel build //tensorflow/examples/android:tensorflow_native_lib

[2016-07-28 05:09] brando90 commented on #3265
do we need to update tensorflow? I tried but it seems it made no difference.

[2016-07-28 05:49] rifatmahmud commented on #3008
Got to work with initializing classifier as classifier=Estimator(model_fn=function_name,model_dir=dir_path). If the original function is not specified, it fails.
But, then, I am running into[ this issue](https://github.com/tensorflow/tensorflow/issues/2797), as I am using a ConvNet(from mnist example of skflow).

[2016-07-28 05:57] brando90 commented on #1122
Is it normal that Batch Normalization makes my experiments **worse**? I tried it on a 2 layered NN network based on the MNIST beginner tutorial and I consistently get worse results when BN is present: with BN (one with scale and center trained and the other not) accuracy is 0.8423, 0.8221 and without BN accuracy is 0.9477.

My script is present here https://github.com/brando90/tensor_flow_experime

[2016-07-28 06:20] yjmade commented on #3543
I update to last reversion 98d63de3bb2bab7c9a81f83c8ca864741399300c and recompiled everything, problem still exist

[2016-07-28 06:58] AaronYKing commented on #1592
Hi All,
Is it implemented through code about XNOR-Net? If it can be implemented by Caffe?

[2016-07-28 07:04] bhack commented on #1592
See also https://github.com/NervanaSystems/neon/commit/caf0aaaaa1438b09c905e0780ba1120c6fd25f1c

[2016-07-28 07:34] psicalculus commented on #3492
In addition, support for 2D/3D sliding window CNNs (specifically, dense training using output patches) would be appreciated.

For references on 2D/3D sliding window CNNs, see:
- http://znn-release.readthedocs.io/en/latest/
- http://people.idsia.ch/~juergen/nips2012.pdf

[2016-07-28 07:37] AaronYKing commented on #1592
@bhack It is binary net not XNOR-Net! Anyway thank you for the info.

[2016-07-28 07:44] shekkizh commented on #3029
This solution doesn't seem to work with the current master branch. Any ideas?!

[2016-07-28 07:52] morgangiraud commented on #3524
Some more information:
In the `proto_text_cc_files.txt`, i've compilled tensorflow **with** and **without** those lines:
[code]
Nothing changed.

[2016-07-28 08:31] jparinita commented on #3527
@girving

There were many tests failing from //tensorflow/... test suite.
Looks like  tensorflow is not supporting Big Endian as of now.
We have made changes to source code to add big endian support ( changes for const bool kLittleEndian variable)

With code changes, most of the tests are passing like
[code]

However, we still couldn't figure out why Sparse_split_op_test is failing.

[2016-07-28 08:50] npanpaliya opened #3545 "Tensorflow unable to detect no. of CPU cores"
### Environment info
**Operating System:**
Ubuntu 14.04 Linux ppc64le

**Installed version of CUDA and cuDNN: 7.5**
ls -l /usr/local/cuda-7.5/lib64/libcud*
-rw-r--r-- 1 root root   326744 Nov  9  2015 /usr/local/cuda-7.5/lib64/libcudadevrt.a
lrwxrwxrwx 1 root root       16 Nov  5  2015 /usr/local/cuda-7.5/lib64/libcudart.so -> libcudart.so.7.5
lrwxrwxrwx 1 root root       19 Nov  5  2015 /usr/loca

[2016-07-28 08:58] s4sarath commented on #403
Hi , A small doubt . In Bi - directional RNN if the input is [ w1 , w2 , w3 , w4 , PAD , PAD ] , while its reversing internally , will it reverse like [ PAD , PAD , w4 , w3 , w2 , w1 ] . The doubt is because , while concatenating the forward hidden state and backward hidden state ( reversed ) , if the hidden state computes in the backward RNN is starting from left to right , we will lose the infor

[2016-07-28 09:23] spdd opened #3546 "iOS: No OpKernel was registered to support Op 'Div' with these attrs"
I'm trying to build graph in iOS but i have following error:
[code]

In Python if I run this code:
`batch_mean, batch_var = tf.nn.moments(x, [0, 1, 2], keep_dims=True)`
I'm getting the error above, otherwise works fine.
I'm trying to find ops (core/ops, core/kernels).

[2016-07-28 09:36] isabel-schwende commented on #1592
@AaronYKing I guess certain companies might have their own working versions of XNOR-Net but, as far as I know, there is no complete public implementation so far. It's too bad that the original authors didn't release their code for XNOR-Net for the sake for reproducibility. If I remember correctly, the authors of DoReFa-Net tried to reproduce results of the original paper but failed to obtain compa

[2016-07-28 10:06] rifatmahmud commented on #3208
The error is also occurring when restoring a model trained using layers.stack with a Estimator class(providing as  model directory where the model is saved, and model_fn as the conv_model written in skflow mnist example).
`  File "/usr/local/lib/python3.4/dist-packages/tensorflow/contrib/learn/python/learn/estimators/estimator.py", line 394, in predict
    as_iterable=as_iterable)
  File "/usr/loc

[2016-07-28 11:17] dbikard commented on #3439
Thanks for the explanation. I'm frequently running relatively small models for which I like doing early stopping on the validation set. What is the best practice to do this without having to write checkpoints every second? This might be more of a feature request, but would be possible to set checkpoint intervals as a number of steps rather than time? Or to write a checkpoint before an evaluation a

[2016-07-28 12:24] perone commented on #3537
I also tried with NDK r11c, and it throws the same error. I believe it is something related with host platform of the cross-compilation which is x86_64 and the target Android compilation for x86 (32-bits).

[2016-07-28 12:39] adam-erickson commented on #3526
It looks like the solution of @yaroslavvb should work for the gcc 4.8 install.

Since I'm not running Pascal architecture GPUs, I ended up installing CUDA 3.6.7 display drivers from ppa, CUDA Toolkit 7.5 from Ubuntu 16.04 LTS package management, and cuDNN from the Nvidia site. I then built and ran the samples from source. One function appears to error in tests, but maybe that's because the samples

[2016-07-28 12:55] gallupliu commented on #3211
Traceback (most recent call last):
  File "beginner.py", line 217, in <module>
    y = tf.nn.softmax(tf.matmul(x, w_2) + b_2)
  File "/Users/gallupliu/anaconda/lib/python2.7/site-packages/tensorflow/python/ops/math_ops.py", line 1209, in matmul
    name=name)
  File "/Users/gallupliu/anaconda/lib/python2.7/site-packages/tensorflow/python/ops/gen_math_ops.py", line 1178, in _mat_mul
    transpose_b

[2016-07-28 13:39] lucked commented on #37
+1

[2016-07-28 13:48] tmquan opened #3548 "Display the graph on tensorboard horizontally from left to right, or vertically from top to bottom"
Dear community,

May I ask is there any option that enables us to change the orientation of the current layout of graphs in tensorboard?
By default it is vertically from bottom to top in the current form.

Best,

[2016-07-28 13:49] lingz opened #3549 "Android: NoOpKernel was registered to support Op 'TensorflowArray' DynamicRNN"
I'm trying to load a graph I trained in python, which includes only using dynamicRNN, and the most basic RNN cell.

When I try execute the graph on the Android, I get the following error message:

[code]

### Environment info
Operating System:
Ubuntu x64 14.04
Android 6.0

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

If installed from binar

[2016-07-28 14:18] ebrevdo commented on #403
Provide sequence_lengths and it will reverse correctly, keeping padding on
the right.

On Jul 28, 2016 1:58 AM, "s4sarath" <notifications@github.com> wrote:

[2016-07-28 14:19] lingz commented on #3549
It seems it that the RNN ops are default not included in the `android_extended_ops_group` under /tensorflow/cc/kernel/BUILD.

a hack is adding the operations manually but the more correct way seems to use selective_registration.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/framework/selective_registration.h

Is there an easy way to determine the names of all the ops I would

[2016-07-28 14:20] lingz commented on #3549
And on the same note, is there an example of how to use selective_registration, in particular how to differentiate between `SHOULD_REGISTER_OP_KERNEL` `SHOULD_REGISTER_OP` and `SHOULD_REGISTER_OP_GRADIENT`

[2016-07-28 14:45] danijar commented on #403
You can also compute them dynamically if your sequences are zero-padded (more details [on my blog][1]):

[code]

[1]: https://danijar.com/variable-sequence-lengths-in-tensorflow/

[2016-07-28 14:53] andrewharp commented on #3549
So long as the op builds and runs correctly, it's fine to add it to the default ops file group (we've just been adding them on an as-needed basis now that we have a way to manage binary size).

You don't need to use selective registration yourself unless you are prioritizing binary-size -- it will cut the final .so size essentially in half to result in < 1mb compressed for a typical graph.

@cwhip

[2016-07-28 14:58] lingz commented on #3549
Okay, but it would be nice to be able to do selective registration eventually, so I can get the minimal size for my own graph right.

I tried to do it on my own, and replaced the android_cc_library, to depend on `android_all_ops` instead. Like this:

[code]

But then I got the following error during compilation:
[code]

This is my main build file:

[code]

Any ideas as to why it might be failing t

[2016-07-28 14:58] spdd commented on #3549
In my case op 'Div' is already included in tensorflow/contrib/makefiletf_op_files.txt but I getting error [https://github.com/tensorflow/tensorflow/issues/3549](#3549). I think it is probably depending on context.

[2016-07-28 15:03] s4sarath commented on #403
@danijar . Yeah I am following your blog for variable length sequence classification.
@ebrevdo  - Thanks .

[2016-07-28 15:06] martinwicke commented on #3439
Both these options are good feature requests. For larger datasets this
mostly doesn't matter, but for smaller ones, steps-based checkpointing
would certainly be convenient.
On Thu, Jul 28, 2016 at 04:17 David Bikard <notifications@github.com> wrote:

[2016-07-28 15:14] michaelisard commented on #3525
Great! I am closing the issue but please reopen if there's something else to look at.

[2016-07-28 15:14] #3525 closed

[2016-07-28 15:19] michaelisard commented on #3492
(Edited title and added 'Enhancement' label per convention.)

[2016-07-28 15:22] sguada commented on #1122
The latest version of [tf.contrib.layers.batch_norm](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/layers/python/layers/layers.py#L110) now accepts a placeholder for is_training so not need to do it yourself.

But what it is important is that either you pass [updates_collections=None](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/layers/python/la

[2016-07-28 15:22] michaelisard commented on #3526
Good to hear it! I'm closing the issue but please reopen if there is something that needs to be addressed.

[2016-07-28 15:22] #3526 closed

[2016-07-28 15:25] rdadolf commented on #3489
Perhaps this is more appropriate for over on stackoverflow, since I'm not sure there's a bug here. But let's discuss anyways. I'm working on performance analysis tools for TF, so I'm interested in your view.

One question is what do you want the behavior to be? If you literally just want a concatenation, one way of doing this is to record both traces and generate a new protobuf with both of their

[2016-07-28 15:40] akors commented on #3489
I started out with the assumption that running the same operation on data of the same shape should take approximately the same amount of time. I have found this to not be true, if you are interested you can take a look at my [StackExchange Thread](http://superuser.com/questions/1086626/machine-performance-drops-over-time-until-reboot). There have also been other [reports](https://github.com/tensor

[2016-07-28 15:41] michaelisard commented on #3543
@petewarden could you take a look?

[2016-07-28 15:43] shoyer commented on #3532
@davidsoergel I agree, dask is less important than other data feeders (NumPy/pandas/iterators). Most data is small data, and flexibility is more important than supporting any particular engine.

I do think it would be interesting to support, though, because it offers similar (but more mature) out of core and distributed dataframe/array functionality to that envisioned with learn.DataFrame.

[2016-07-28 15:46] michaelisard commented on #3544
Did the bazel build appear to succeed? For completeness, would you build CPU=armabi-v7a as in #3444 and see if the headers are generated for that target?

[2016-07-28 15:48] michaelisard commented on #3545
@martinwicke can you comment on dependency questions?

[2016-07-28 15:50] michaelisard commented on #3546
This could be related to #3543 so I will update once we hear a response there.

[2016-07-28 15:53] michaelisard commented on #3549
Adding links to #3543 and #3546 in case they all have a related root cause.

[2016-07-28 16:03] rohitgirdhar commented on #3009
I have an additional observation that might help us debug this issue. The slowdown for me happens when my cache memory gets full. I tried clearing the cache using:
[code]
The training then runs perfectly until the cache gets ~3/4 full again (as seen by the yellow bars on `htop`), and then it gets slow. So far my solution is to clear cache and restart from the last snapshot. Hoping there's a better

[2016-07-28 16:13] aselle commented on #3293
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-28 16:13] aselle commented on #3372
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-28 16:13] #3372 closed

[2016-07-28 16:13] aselle commented on #3390
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-28 16:13] #3390 closed

[2016-07-28 16:13] aselle commented on #2973
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-07-28 16:13] #3293 closed

[2016-07-28 16:17] keveman commented on #3536
@hillegass Sorry, I misunderstood your requirement. `//tensorflow/core:framework_headers_lib` is meant for use within a `BUILD` file, when building with `bazel`. If you want to use `libtensorflow.so` in a different build system, and just want the header files, we package them up in the pip packages. For example, [here](https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.9.0-cp27-none-

[2016-07-28 16:29] ebrevdo commented on #403
@danlijar you should change the following line on your blog:

max_length = int(output.get_shape()[1])

to:

max_length = tf.shape(output)[1]

since in general max_length can vary from run to run.

On Thu, Jul 28, 2016 at 8:04 AM, s4sarath <notifications@github.com> wrote:

[2016-07-28 16:30] acatighera commented on #3480
I'm also running into `Running model failed:Invalid argument: Session was not created with a graph before Run()!` with cifar10 output_graph and ios example. I am using `softmax_linear/softmax_linear` as the output_node. I was able to successfully run the strip command but it didn't seem to do much. I attached a png of my input_graph in case it might help.
![graph-run](https://cloud.githubuserconte

[2016-07-28 16:36] michaelisard commented on #3492
Marking 'contributions welcome' since this would be great to add, but isn't currently being worked on.

[2016-07-28 16:39] alan23273850 commented on #3544
For both cases(arm64-v8a and armeabi-v7a), there were only warnings like the following:

(1) WARNING: /home/alan/.cache/bazel/_bazel_alan/16525490ccae1ec04acb6f1b1a5f7367/external/protobuf/WORKSPACE:1: Workspace name in /home/alan/.cache/bazel/_bazel_alan/16525490ccae1ec04acb6f1b1a5f7367/external/protobuf/WORKSPACE (@__main__) does not match the name given in the repository's definition (@protobuf

[2016-07-28 16:43] michaelisard commented on #3544
@andrewharp could you comment on the intended behavior before OP embarks on the next experiment?

[2016-07-28 16:48] aselle commented on #304
Work on performance continues, especially in terms of optimization and balancing memory, cpu, distribution tradeoffs. This issue is extremely broad so so it is not practically actionable as a single issue. Since our roadmaps cover this issue, I am closing this for now.

[2016-07-28 16:48] #304 closed

[2016-07-28 17:03] brando90 commented on #1122
@sguada I changed my old one where I manually tell it to train or not and now it seems the accuracy is up to ~95's again. Why was it that I needed to change updates_collections to be None? Do you mind explaining me why that gave such a big accuracy difference? Its seems like a non-trivial change (should it None be its default value then if it matters so much?). Thanks! :)

Also, I noticed you said

[2016-07-28 17:05] Jerryzcn commented on #3009
@rohitgirdhar clearing cache works for me, when i was training inception v3.

[2016-07-28 17:05] aselle commented on #202
This is pretty much the exact error that gcc gives when you try to write
f(){ 3 = f; }
OTOH, since we are embedded in another programming language the subtlety between a tensorflow variable and a python variable that is a handle to partial tensorflow graph is not obvious to the uninitiated.  Leaving open in case someone wants to update the error message.

[2016-07-28 17:07] aselle commented on #164
This issue is more of a large scale road map item, and is already handled elsewhere. This issue is not individually actionable, so closing for now.

[2016-07-28 17:07] #164 closed

[2016-07-28 17:30] papadopav commented on #1122
@brando90
The relevant part of the code is here [L227-256]. (https://github.com/tensorflow/tensorflow/blob/98d63de3bb2bab7c9a81f83c8ca864741399300c/tensorflow/contrib/layers/python/layers/layers.py#L227-L256).

As you will notice is there is a `with ops.control_dependencies` statement that forces the updates. I believe that for the code to be used "right out of the box" the default should be None.

[2016-07-28 17:31] andrewharp commented on #3544
The generated header files should not be necessary unless you are planning on modifying the Tensorflow C++ code in Android Studio. Merely copying the built libtensorflow_demo.so to the appropriate libs/ directory is sufficient, and then you can build it as a regular Android application in Android Studio.

You also don't need the SDK on your Ubuntu machine unless you desire to build the entire proj

[2016-07-28 17:47] danijar commented on #403
@ebrevdo Thanks for your feedback :)

[2016-07-28 17:53] michaelisard commented on #403
@danijar @ebrevdo is this still an open feature request? If the code is now out I will close and move usage discussions to StackOverflow.

[2016-07-28 18:14] andrewharp commented on #3374
Separate compilation path added for proto tool in https://github.com/tensorflow/tensorflow/commit/4e9a42b7d3764928bdb6625c26f2dbd8f0415834, so Android build should be simpler/faster now.

[2016-07-28 18:14] #3374 closed

[2016-07-28 18:30] alan23273850 commented on #3544
I have thought originally that .so libraries must be accompanied with source codes to satisfy JNI structure. Thanks for correcting my thoughts!

In fact, I have written some codes to preprocess some captcha last summer for my practice(low recognition rate). On this summer vacation, I plan to migrate it from my Ubuntu virtual machine to android cell phone for convenience. Thanks to the project http

[2016-07-28 18:35] wenouyang commented on #2169
In the Tensorflow implementation (https://github.com/MarvinTeichmann/tensorflow-fcn/blob/master/fcn32_vgg.py) of fully convolutional model (https://people.eecs.berkeley.edu/~jonlong/long_shelhamer_fcn.pdf), author define a function of

``def _upscore_layer(self, bottom, shape,
                       num_classes, name, debug,
                       ksize=4, stride=2):
        strides = [1, stride,

[2016-07-28 18:38] RenatoUtsch commented on #2813
This was fixed in the tensorboard page. The link https://www.tensorflow.org/versions/tensorboard/README.html was actually wrong. The correct is https://www.tensorflow.org/code/tensorflow/tensorboard/README.md

[2016-07-28 18:47] tamimcsedu19 opened #3550 "Error during building tensorflow ?"
Operating System: Ubuntu 16.04
Installed version of CUDA and cuDNN:  Cuda 8.0 RC , cuDNN 5 for 8.0RC

(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

`-rw-r--r-- 1 root root   560184 জুল    28 20:29 libcudadevrt.a
lrwxrwxrwx 1 root root       16 জুল    28 20:29 libcudart.so -> libcudart.so.8.0
lrwxrwxrwx 1 root root       19 জুল    28 20:29 libcudart.so.8.0 -> libcudart.so.8.0.27

[2016-07-28 18:50] kramimus commented on #526
I am seeing a similar issue on 0.9 compiled from source, HEAD:

[code]

I am on a shared cluster with a scheduler, so I should have exclusive access to the node during my time slice. It looks like exclusive mode is set, but there are no running processes at the time time I try to use it:

[code]

[2016-07-28 18:53] RenatoUtsch commented on #2813
Actually, there was a second Readme link on the page that I missed. I'll fix that.

[2016-07-28 19:03] prb12 commented on #3009
@rohitgirdhar I'm not 100% sure I want to add to an closed issue, commenting on something which may not even be related to the original problem, but...

From the `htop` output and your `drop_caches` observation it sounds to me like there may be some memory pressure caused by virtual address space fragmentation and high system buffer cache churn (reading large training datasets from the file system

[2016-07-28 19:08] danpovey commented on #526
Tensorflow guys, if I were you I would change the assert statement that
fails here:

cuda/cuda_driver.cc:395] Check failed: CUDA_SUCCESS ==
dynload::cuCtxSetCurrent(cuda_context->context()) (0 vs. 216)

to some code that prints out the text form of the CUDA exit code, and maybe
for good measure tries to invoke nvidia-smi to get extra information.  We
found this necessary in Kaldi in order to ensur

[2016-07-28 19:14] michaelisard commented on #2953
This should be coming out soon.

[2016-07-28 19:23] kashif commented on #2977
can this issue be closed?

[2016-07-28 19:28] axeltidemann commented on #616
@lilac I see a similar error when saving a graph that has a batch normalization layer. Tried this with both `0.9` and  `0.10.0rc0`. When loading the saved graph, I get an error:

[code]

Without the batch normalization layer (i.e. `tensorflow.contrib.layers.python.layers.batch_norm`) this error is not thrown. Seems related to your problem, as this also contains a moving average.

[2016-07-28 19:32] bcaine commented on #616
@axeltidemann Also fighting with this issue right now with. Generated the graph with tensorflow/tensorflow/python/tools/freeze_graph.py and get the following error using my own Batch Norm layer that uses moving average. Running 0.9

[code]

Anyone figure out a workaround?

[2016-07-28 19:58] hillegass commented on #3536
My fault.  The headers were, indeed, in the python directory.  (For other lost people, on a Mac the include directory is `/Library/Python/2.7/site-packages/tensorflow/include/` . Thank you!

[2016-07-28 19:58] #3536 closed

[2016-07-28 20:01] michaelisard commented on #3510
This is the expected behavior. When a reduction is performed over a tensor with zero elements and the result does not have zero elements, the result is filled with the reducer's identity function. For max that is 'lowest' for the type in question, which is what you should be seeing. (When I try this I see -3.4e+38 for max, and +3.4e+38 for min since min's identity is highest.)

Please reopen if yo

[2016-07-28 20:01] #3510 closed

[2016-07-28 20:08] rubenstern commented on #3539
I'm only running it in the command shell by writing :
python program.py

So I don't know how to handle the access

[2016-07-28 20:26] Jerryzcn commented on #3009
The relevant issue is https://github.com/tensorflow/models/issues/170

[2016-07-28 21:17] hillegass commented on #3536
Quick follow up note for others: A couple of the important headers (especially those related to sessions) are not in that include directory, so you will need to copy them from the source tree:
`$ cd tensorflow/tensorflow/core/public
$ sudo cp session.h session_options.h tensor_c_api.h /Library/Python/2.7/site-packages/tensorflow/include/tensorflow/core/public/`

[2016-07-28 21:22] #3321 closed

[2016-07-28 22:34] AlexJoz commented on #1498
hey! @benoitsteiner When it could happen? =)

[2016-07-28 23:25] dzenteno2 opened #3554 "Different outputs using tensorflow.contrib.learn.Estimator.predict()"
I trained a tensorflow model using skflow, but when I tried to predict some new value of my data, things didn't work. This is what is happening.

I have X, the matrix containing the observations.

When I run

`y_predicted = classifier.predict(X, batch_size=128)`

I'm interested in the output of indexes 855, 15035, 49536, 856, 857

so

`y_predicted['class'][(855, 15035, 49536, 856, 857), ]`

the re

[2016-07-28 23:36] girving commented on #1950
@michaelisard I don't think we know a way to do this that isn't very slow, but it's hard to know since @ysuematsu apparently didn't notice my question.  If it's possible to do this in a clean and fast fashion we could mark it contributions welcome, but otherwise it should be closed.

[2016-07-29 00:09] michaelisard commented on #3554
This type of usage question is better suited to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow). Please reopen if it turns out this is a TensorFlow bug.

[2016-07-29 00:09] #3554 closed

[2016-07-29 00:59] sguada commented on #1122
Use of batch_norm with tf.placeholder

x = tf.placeholder(tf.float32, [None, 784])
is_training = tf.placeholder(tf.bool, [], name='is_training')
y = build_NN_two_hidden_layers(x, is_training)

# For training
sess.run(y, {is_training: True, x: train_data})

# For eval
sess.run(y, {is_training: False, x: eval_data})

[2016-07-29 01:04] sguada commented on #1122
The problem before was that you were not updating the `moving_mean` and `moving_variance` after each step, when updates_collections is None it forces the updates as part of the computation.
However when a network has many batch_norm layers it is more efficient to collect all the update ops and run them together, so each layer don't need to wait for the update to finish.

[code]

[2016-07-29 01:39] rueberger opened #3557 "What would be required to submit an implementation of the Hungarian algorithm to tf.contrib"
@Russell91 and I have an interest in contributing an implementation of the Hungarian algorithm, perhaps based off of the implementation he has [here](https://github.com/Russell91/TensorBox/tree/master/utils/hungarian).

What do we need to do to make this happen? Is there a document covering this somewhere (besides the one that says we need to sign the CLA).

[2016-07-29 01:45] mrry commented on #3540
Yes, you could do this using a `Saver`, but it should be slightly faster (fewer copies etc.) to go through the feed mechanism. Either way, creating the saver or the placeholders once would be the way to go.

It looks like the thread-safety fix missed 0.9, but it should be in the nightlies and 0.10rc0.

[2016-07-29 01:46] sguada commented on #3265
Yeah you need 0.10 https://github.com/tensorflow/tensorflow/tree/r0.10

[2016-07-29 02:42] alexgkendall opened #3559 "Can I add a py_func to a queue?"
Is it possible to add a custom py_func to load non-image data in a FIFOQueue? It appears that the Queue does not support py_func objects. Specifically can you enqueue a py_func object? When trying this Tensor Flow gives the following error:

`tensorflow/core/framework/op_kernel.cc:909] Unimplemented: Unsupported object type Tensor`

I've tried calling `set_shape` on the `py_func` output

[2016-07-29 03:09] sirinath commented on #164
Can you point me to the relevant project?

[2016-07-29 05:41] bgshih commented on #3510
@michaelisard I see. Thanks for explaining!

[2016-07-29 05:49] theclifbar opened #3560 "Inception retraining / transfer learning fails when running with GPU"
Thanks so much for releasing TensorFlow.  We're experimenting with the image retraining example as described here: https://www.tensorflow.org/versions/r0.9/how_tos/image_retraining/index.html

Everything in TensorFlow has worked perfectly for us, including the test and GPU setup validation samples.  However, when running the Inception retraining code and using the GPU, TensorFlow errors.  Since th

[2016-07-29 07:27] ziky90 commented on #2169
@wenouyang Yes in the FCN in https://people.eecs.berkeley.edu/~jonlong/long_shelhamer_fcn.pdf they use only `tf.nn.conv2d_transpose()` to perform the upsampling, but there exists also other models, mainly for semantic segmentation that use also `max_unpooling`, for example http://arxiv.org/abs/1505.04366.

[2016-07-29 07:27] mrastegari commented on #1592
We have released our Torch code and trained models for XNOR-Net. This is not the fast implementation.

[2016-07-29 07:28] mrastegari commented on #1592
Here is the link: https://github.com/mrastegari/XNOR-Net

[2016-07-29 08:27] albicasty commented on #1592
@mrastegari  thank you. Do you have a version with the proper XNOR convolution and not using the SpatialConvolution. I am  interested in the backward pass of  BinConv.

[2016-07-29 09:02] AaronYKing commented on #1592
@isabel-schwende Thank you very much for your patient replay. Now the author have released the torch code.

[2016-07-29 09:08] AaronYKing commented on #1592
@mrastegari Thank you for your contribution. I wonder if it can be implemented by Caffe and will anybody implement it in the near future？

[2016-07-29 09:14] jonrei commented on #3467
+1, would love if it included ipython3 too.
Currently using gcr.io, but could use any source really.

[2016-07-29 09:30] isabel-schwende commented on #616
Thanks everyone for sharing their experiences and code here. It helped me a lot with my little experiment. I've decided to take this implementation for converting the caffe AlexNet to TensorFlow https://github.com/guerzh/tf_weights . I adapted his implementation to save the graph as pb-file (my modified file can be found here https://github.com/isabel-schwende/TensorFlowCode/blob/master/alexNetSav

[2016-07-29 09:46] isabel-schwende commented on #1592
@mrastegari thanks a lot for sharing this information with us. I think this is going to be really helpful. Do you have any numerical information of how slow this Torch version is compared to the original version using Darknet? @AaronYKing I'm always glad if there are cases where I'm positively surprised about code being shared publicly.

[2016-07-29 09:50] liaha opened #3562 "Locate operations on parameter server"
Hi,

I'm working on a distributed tensorflow, and I want to do some preprocess on the variables before the workers retrieve the variable. The preprocessing will trim the model and consequently reduce the amount of network traffic that transfer the variable from parameter server to workers.

Is that possible to put operations on parameter servers? Thank you

[2016-07-29 09:59] eickenberg opened #3563 "[BUG?] Memory overflow (?) on Nvidia Quadro M6000 using feed dictionary with conv2d"
Hi everybody,

we just got several machines with Quadro M6000 (12G RAM) for our lab, and they all seem to suffer the same problem when feeding too much data to a convolution via a feed dictionary. The problem does not appear when using CPU on the same machine, and neither when using an equivalent machine with a different GPU (GeForce GTX Titan X).

It looks like when using a feed dictionary to pro

[2016-07-29 10:23] zfwang opened #3565 "Tensorboard unable to generate result, IOError [Errno 2] No such file or directory: '/usr/local/lib/python2.7/dist-packages/tensorflow/tensorboard/TAG' on path /usr/local/lib/python2.7/dist-packages/tensorflow/tensorboard/TAG"
I use tensorboard in docker, when I type the command：

tensorboard --logdir='logs/'

the following error showed up:

IOError [Errno 2] No such file or directory: '/usr/local/lib/python2.7/dist-packages/tensorflow/tensorboard/TAG' on path /usr/local/lib/python2.7/dist-packages/tensorflow/tensorboard/TAG

is there anyone can help me?

[2016-07-29 10:33] bhack commented on #1592
Is this xnor gemm kernel useful https://github.com/NervanaSystems/neon/blob/master/neon/backends/kernels/cuda/binary.py?

[2016-07-29 11:17] ppwwyyxx commented on #1592
@bhack This kernel works, but only about 3.4x faster than best fp32 kernels (cublas). It's mentioned in the BNN paper and https://github.com/MatthieuCourbariaux/BinaryNet/pull/1.

[2016-07-29 11:47] rahulroxx opened #3567 "KeyError Tensorflow"
Traceback (most recent call last):
  File "ptb_word_lm.py", line 326, in <module>
    tf.app.run()
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py", line 30, in run
    sys.exit(main(sys.argv))
  File "ptb_word_lm.py", line 291, in main
    raw_data = reader.ptb_raw_data(FLAGS.data_path)
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/models/rnn/ptb/reade

[2016-07-29 13:21] jplu opened #3569 "Tensorflow testing script cannot import numpy whereas it is installed"
Hello,

I have the following error when I try to compile the pip package from the source code.
### Environment info

Operating System: Ubuntu 14.04

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

[code]

If installed from sources, provide the commit hash: 5c44302d778f43a13bf1b97bffd0b2b6be46ae2f
### Steps to reproduce
1. git clone https://git

[2016-07-29 15:00] #3195 closed

[2016-07-29 15:23] girving commented on #2169
Sorry for the delay, taking a look at your code now.

[2016-07-29 15:34] girving commented on #2169
I must not understand your code.  How are you doing an effectively 3D unpooling operation (batch, height, width) with a 1D loop that does only one integer division?  One integer division is only powerful enough to express a 2D loop.

[2016-07-29 15:42] weiliu620 commented on #446
@yaroslavvb Any plan about when to add your implementation into official TensorFlow code?

[2016-07-29 15:54] girving commented on #3527
@jparinita That you for the fixes so far!  Would you be interested in sending them as a PR so I can see how TensorFlow is currently broken (and make it slightly less broken)?  My best guess is still that it's a bug in TensorShape, but I don't know where.

Note that TensorShape has been heavily optimized to avoid memory allocations, which involved quite a lot of case analysis.  It's possible that s

[2016-07-29 16:11] syed-ahmed commented on #2169
@girving I followed the MaxPoolBackward code in the maxpooling_op_gpu.cu.cc. I thought n-dimensions of the tensor is taken care by the following in maxpooling_op.cc in the LaunchMaxUnpooling function I defined (like LaunchMaxUnpoolingGradWithArgmax):
[code]

[2016-07-29 16:25] michaelisard commented on #3557
I don't have experience with this but I think submitting a PR to add a new Op under contrib/hungarian would be welcome. @martinwicke is that the right process?

[2016-07-29 16:42] aselle commented on #164
We are working on it, there's no separate project for this.

[2016-07-29 16:48] girving commented on #2169
@syed-ahmed Ah, got it: the indices are already flattened, so it only needs to be 2D.  Unfortunately I don't know why your code is failing; I would try to replicate the behavior with the existing routine and then add print statements until you know what differs.

[2016-07-29 16:53] syed-ahmed commented on #2169
@girving Thank you for your reply.

[2016-07-29 17:09] michaelisard commented on #3559
Sorry I am not understanding immediately. Are you asking whether or not you can use higher-order functions, i.e. send functions down a queue, and then dequeue and apply them? Or are you asking if you can process images from a queue with a custom processor?

[2016-07-29 17:13] alexgkendall commented on #3559
Yes I'd like to process other data (such as 16-bit png images and .npy files) from a queue with a custom processor.

Ideally I'd like to avoid using TFRecord as an intermediate format.

[2016-07-29 17:14] michaelisard commented on #3560
Thank you for the detailed bug report! We have heard of other people having problems with GTX 1080 #3507 which have been fixed by switching to CUDA 8.0. Is it easy for you to try either using a different GPU or building with 8.0? Unfortunately 8.0 isn't fully supported by TensorFlow yet so that isn't an ideal solution, but it has unblocked other people and will be supported before long.

[2016-07-29 17:18] michaelisard commented on #3559
You could encode arbitrary data into a string tensor and send the string tensor into the queue, then process the strings at the other end with a custom function. I'm still not sure I'm understanding though: is the queue relevant, or are you just asking how to store and process binary data in tensors?

If this is a usage question it's probably better suited to [StackOverflow](http://stackoverflow.c

[2016-07-29 17:22] michaelisard commented on #3562
Yes, there's no distinction between parameter servers and other workers in TensorFlow, and Ops can be placed in the most appropriate location. [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) is the right place for this kind of usage question: if you search for 'device placement' or 'device scope' you will see discussions about placing ops.

[2016-07-29 17:22] #3562 closed

[2016-07-29 17:22] jonrein commented on #3528
Personally, I'm using the same sequence_length tensor in a ctc_ops call down the line which requires int32, so it'd be nice to have those consistent.

[2016-07-29 17:26] michaelisard commented on #3563
Thanks for the detailed report. @zheng-xq would you take a look?

[2016-07-29 17:27] rubenstern commented on #3539
?

[2016-07-29 17:31] michaelisard commented on #3567
Could you give more details as indicated in the issue template that appears when you click 'New Issue', e.g. OS, repro steps, etc.? Thanks!

[2016-07-29 17:34] michaelisard commented on #3569
@martinwicke would you take a look?

[2016-07-29 18:26] fjrodriguezdiaz opened #3571 "Building tensorflow from source"
Operating System: CentOS-7
CUDA: 8.0
cuDNN: 5.0
bazel: 0.3.0-2016-07-29
gcc: 4.8.5

When I try to build tensorflow from source following the instructions in https://www.tensorflow.org/versions/r0.9/get_started/os_setup.html, in particular, when executing:
bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer

I get the following error:

ERROR: /home/fjrodriguez/tensorflow/tens

[2016-07-29 18:36] henline commented on #526
Hi, I'm the owner of StreamExecutor. Sorry for arriving late to this discussion.

I believe this problem is caused in all cases by GPUs with their compute mode set to EXCLUSIVE_THREAD (just as mentioned by @zxvix). The solution is to set the compute mode to DEFAULT or EXCLUSIVE_PROCESS, which can be done via one of the following commands:

    $ nvidia-smi --compute-mode=0 # for DEFAULT
    $ nvid

[2016-07-29 18:39] rohitgirdhar commented on #3009
I think TCMalloc was the solution for me, as I no longer need to clear the cache to maintain the same training speed. Thanks @prb12 !

[2016-07-29 18:49] michaelisard commented on #3571
CUDA 8 is not yet fully supported. Does it work with 7.5?

[2016-07-29 18:59] mbz commented on #3540
cool, I ended up writing the following functions:

[code]

It seems that it is working, but may not be optimal.

[2016-07-29 19:19] fjrodriguezdiaz commented on #3571
I haven't tried since GTX1080 is not supported (I think) by CUDA 7.5

[2016-07-29 19:26] #3559 closed

[2016-07-29 19:43] michaelisard commented on #3571
Yes sorry I didn't realize you had GTV1080 I have seen several people who can't get that to work with 7.5. @martinwicke is there a required bazel version mismatch here?

[2016-07-29 19:46] kramimus commented on #526
Thanks, good to know it should work in EXCLUSIVE_PROCESS.

[2016-07-29 20:20] el3ment commented on #386
Thanks @rryan! It would be great to also have real-valued FFT operations like batch_rfft2d() and batch_rifft2d() (which use half as many operations as the complex version). I think this is identical to the current implementation but using cufftExecR2C() and cufftExecC2R() instead of cufftExec()

[2016-07-29 20:40] mrry commented on #3540
That looks good to me. I'll close this issue for now, since it doesn't seem like there's any (unfixed) bug, but feel free to reopen if that doesn't work.

[2016-07-29 20:40] #3540 closed

[2016-07-29 21:13] solomatov commented on #3
+1

[2016-07-29 21:17] cancan101 commented on #970
What commit was this fixed in?

[2016-07-29 21:18] yaroslavvb commented on #446
@weiliu620 It will not go into official TensorFlow code. There's considerable complexity in the module and nobody in the core team feels comfortable enough to assume ownership of it. However, since it's pure Python, it doesn't need to be part of the core. I'm working on getting a single-file version working so you could "install" the mode by copy pasting it into your file. The main core dependency

[2016-07-29 21:31] alquraishi opened #3574 "Numerical differences between self.test_session and regular sessions?"
I'm trying to use the test suite to create tests that verify various aspects of my model. Strangely, I'm getting numerical differences between the exact same model run on the exact same machine if I use `self.test_session` inside `tf.test.TestCase` versus if I just run the same piece of code in a regular session. Most models work fine, it's just that certain flavors that use dropout show big discr

[2016-07-29 21:33] mrry commented on #3356
I think this was fixed by 946f515, which doesn't appear to be included in r0.9. It doesn't reproduce for me at HEAD, but it does with the 0.9 binary. Can you try upgrading to a nightly (or to the imminent r0.10rc0) and see if this is still a problem?

[2016-07-29 21:35] vrv commented on #3574
The code for test_session isn't too long: https://github.com/tensorflow/tensorflow/blob/73ced9d797056c7e67a06ed2098dd809d85ec44a/tensorflow/python/framework/test_util.py#L239

mostly involves making device placement a little bit easier in tests.  The only thing that comes to mind is that we turn off some of the compiler optimizations in tests, and so perhaps the numerical values are slightly diffe

[2016-07-29 21:40] wenouyang commented on #2169
@ziky90, thank you for your response. Kind of related to my current question, I have some confusions on the kernel size specification related to upsampling layer implemented using tf.nn.conv2d_transpose( ). http://stats.stackexchange.com/questions/226047/kernel-size-and-stride-value-for-fully-convolutional-network-for-semantic-segmen

I noticed that you have get involved in the discussion related

[2016-07-29 21:49] sethbruder commented on #2618
@SioIkzk My guess is that you want to add each of the include directories referenced in the error message to `CROSSTOOL`, as described by @chanhkim , in the appropriate "toolchain" subsection.

Detail:

I had a very similar problem.
Per the original post, one might think the problem is that a header cannot be located, but this is probably **not** the case.
Looking at the bazel source (v0.3.0), thi

[2016-07-29 22:43] alquraishi commented on #3574
Are you referring to this line?

https://github.com/tensorflow/tensorflow/blob/73ced9d797056c7e67a06ed2098dd809d85ec44a/tensorflow/python/framework/test_util.py#L251

Where the optimizer options are set? I did comment it out but it had no effect.

[2016-07-29 23:00] mrry commented on #1823
It looks like there's no documentation for this API (indeed, it's in generated code, so there's no source code for it either). Here's a quick guide (though note that this is subject to change between versions):

* `tf.train.NewCheckpointReader(filename)`: returns a checkpoint reader for the given file. (I believe this has an auto-generated type, though it implements the same interface as [`tensorf

[2016-07-29 23:01] vrv commented on #3574
Okay, that's good to know.   The only other thing that the function does is deal with device placement, so it would be good to see the difference between your examples by finding a difference using log_device_placement=True.  That is, test_session() and tf.Session() with log_device_placement=True might be different in your use cases, and that might be highlighting either a bug, or numerical differ

[2016-07-29 23:24] yaroslavvb commented on #3574
There's also "enable_soft_placement" -- in 0.9,
tf.Session(tf.ConfigProto()) gave session without soft placement,
tf.Session() gave session with soft placement

On Fri, Jul 29, 2016 at 4:01 PM, Vijay Vasudevan <notifications@github.com>
wrote:

[2016-07-29 23:41] dmitryb-ai2 commented on #1592
Just curious, is anyone seriously pursuing this? I've been working on a fast C++ implementation of XNORNets here at AI2 with @mrastegari and others for Intel and ARM CPUs. We've achieved a modicum of success, with much headroom still remaining untapped. We're kicking around the idea of producing a fast, reference CPU implementation, so it'd be good to know if someone else is already close to relea

[2016-07-29 23:47] arjunsesh opened #3579 "Shape resizing of input in tf.batch_self_adjoint_eig"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-07-29 23:52] ebrevdo commented on #3528
They will be consistent; ctc_ops can continue working with the int32
version.

Unless you have sequence lengths greater than 2**31-1, the values are the
same.

On Fri, Jul 29, 2016 at 10:22 AM, jonrein <notifications@github.com> wrote:

[2016-07-29 23:52] cardshuffle opened #3580 "Image retraining example: unable to run"
### Environment info
Operating System: Ubuntu 14.04 LTS 64-bit

Installed version of CUDA and cuDNN: none (not using GPU)

If installed from source, provide

1. The commit hash (`git rev-parse HEAD`): fc9162975e52978d3af38549b570cc3cc5f0ab66
2. The output of `bazel version`
[code]
### Steps to reproduce
(instructions from [here](https://www.tensorflow.org/versions/r0.9/how_tos/image_retraining/ind

[2016-07-29 23:55] rryan commented on #386
Indeed! rfft is on my rainy-day TODO list. If somebody else would like to take that on before I get to it, please feel free.

[2016-07-30 00:04] vrv commented on #3574
That's true, but code that runs with hard placement successfully should place ops no differently than code that runs with soft placement (soft placement only does something different if the ops are not implemented on the device the user specified).

[2016-07-30 00:41] jrimclean commented on #684
I'm having what appears to be the same problem. I get the error message:

I tensorflow/core/common_runtime/direct_session.cc:175] Device mapping:

From running:

[code]

Setting CUDA_VISIBLE_DEVICES=0 did not solve it for me however. I have Python2.7, Cuda 7.5, and cuDNN v4 installed. I installed TensorFlow using pip.

[2016-07-30 00:44] benoitsteiner commented on #1498
@AlexJoz i checked that the code now compiles with architecture 2.0 and cuda 7.0.

[2016-07-30 00:55] alquraishi commented on #3574
I'm running a Mac version and only with CPU support, so device placement can't be the reason, can it?

[2016-07-30 01:13] vrv commented on #3574
Hmm, then no :). Not really sure where differences can come from then. We
will need a repro

On Fri, Jul 29, 2016, 5:55 PM Mohammed AlQuraishi <notifications@github.com>
wrote:

[2016-07-30 01:24] TylerBalsam opened #3582 "Loss not decreasing, GTX 1070, cuDNN 5.0 for RC 8.0, Cuda 8.0 RC"
I've spent about 12 hours monkeying around before throwing in the towel here. I've checked the other similar threads on this and done the steps there. This includes #3068 and #3507.

### Environment info
Operating System: Ubuntu 14.04

Installed version of CUDA and cuDNN:
Cuda 8.0 RC
cuDNN 5.0 RC
Output of libcudn*:
/usr/local/cuda/lib64/libcudadevrt.a       /usr/local/cuda/lib64/libcudnn.so
/usr/

[2016-07-30 01:44] jiapei100 commented on #3582
I've got exactly the same symptom...
Keras with Tensorflow backend...
I'll try TF 0.10.0 tonight...

[2016-07-30 02:17] pranjaldaga commented on #3567
Hi @michaelisard I encountered a similar error when I changed the contents of 'ptb.train.txt' or 'ptb.valid.txt' or 'ptb.test.txt' files while running the [LSTM tutorial](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/models/rnn/ptb/ptb_word_lm.py) script. It might be something really silly, so I'm trying to workaround it, but any hint would be greatly appreciated. Thanks!

[2016-07-30 03:27] Anthony-Tatowicz opened #3583 "Dying Threads?"
### Environment info
Operating System: Ubuntu trusty

Installed version of CUDA and cuDNN: Cuda compilation tools, release 7.5, V7.5.17

1. Which ~~pip~~ package you installed.  Docker gpu-devel image
2. The output from `python -c "import tensorflow; print(tensorflow.__version__)"`.

I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcublas.so locally
I tensorflow/

[2016-07-30 03:32] csyking commented on #1592
@dmitryb-ai2 @mrastegari It will be a great progress if the XNORNets can be implemented by a fast C++ for Intel  and ARM CPUs, especially getting 58× faster convolutional operations and 32× memory savings as mentioned in the paper. But, sadly, I can't code it. So looking forward to your good news!

[2016-07-30 04:22] brando90 commented on #255
what if I don't want to use a GPU but I just want to use CPU?

[2016-07-30 04:44] TylerBalsam commented on #3582
Alright, sounds good. Let me know what you find. It's been almost a week for me.

From what I've seen, I suspect the interaction between CUDA 8.0 and Tensorflow is our primary culprit. Which is sad because that's required for the 10 series cards.

[2016-07-30 05:38] prayalankar2 commented on #255
Simply install the CPU version of Tensorflow .

[2016-07-30 07:42] mredmundto commented on #37
+1

[2016-07-30 08:32] theclifbar commented on #3560
Thanks for reading it, Michaelisard!  We are very excited by the possibilities opened up by TensorFlow.  I can give CUDA 8.0RC a try.

We could try other GPUs, though these GTX 1080s were bought specifically for TensorFlow.  On a somewhat related question, is the 8GB of GDDRAM going to be a major limiting factor in your opinion?  Our training sets typically run around 60GB in size (actual total im

[2016-07-30 09:03] leftstone2015 commented on #2680
hi, @andrewharp .

I am encountering the issue. Welcome any advice.

The results after adding  LOG(INFO) << op_name; in KernelDefBuilder::KernelDefBuilder(const char* op_name) are as follows:
07-30 16:44:09.091 3412-3412/? I/native: kernel_def_builder.cc:24 Switch
07-30 16:44:09.092 3412-3412/? I/native: kernel_def_builder.cc:24 Switch
07-30 16:44:09.094 3412-3412/? I/native: kernel_def_builder.cc

[2016-07-30 09:40] krayush07 opened #3585 "Bidirectional encoder for seq2seq in Tensorflow"
All methods in `seq2seq.py` library supports encoder-decoder system with the input in forward sequence. How can we construct a bi-directional encoder-decoder using the libraries or else, much like the concept in bi-directional LSTM?

[2016-07-30 11:59] hyy1111 commented on #394
sudo apt-get install nvidia-modprobe, this fixed it for me too

[2016-07-30 12:58] siddMahen opened #3586 "Bug involving tf.train.Saver and num_epochs parameter in tf.train.string_input_producer"
I've run into a strange problem involving both `tf.train.Saver` and an input pipeline based on `tf.train.string_input_producer()`. It seems as though the `num_epochs` parameter to `tf.train.string_input_producer()` stops working as intended after loading a saved model.

I'm currently using v0.8 but I suspect this is still an issue on v0.9 and above.

### Environment info
Operating System: Mac OSX

[2016-07-30 13:40] SecretMainstream opened #3587 "In my town people obsess about digital life."
In my town people **obsess** about digital life. Every passing conversation is couched in **software vernacular**. Enthusiasm for the unrealized potential of information automation is explained as an ever expanding frontier. Technology has brought us great fortune but even greater things in common. For every fan of Larry Ellison there are twenty aspiring Zuckerbergs. People who visualize technolog

[2016-07-30 14:05] siddMahen commented on #3586
I've just upgraded to tf v0.10.0 and this problem seems to be fixed. However, using `num_epochs` requires that you run `tf.initialize_local_variables()` in addition (!) to `tf.initialize_all_variables()`. See this gist https://gist.github.com/e45174fbf60a4df174af4a5d95a293f1 for an updated version of the dummy `training.py

[2016-07-30 14:25] suiyuan2009 commented on #2234
I find that SSE2 vectorization is a feature of eigen, so adding addtional code to tensorflow may be a good choice.

[2016-07-30 15:51] drcrook1 commented on #2474
Any idea what hte core issue was?  I'm getting the same with RNN.

[2016-07-30 17:32] drcrook1 commented on #3421
I actually have this exact same issue, but with different code.  I have posted the primary question here: https://stackoverflow.com/questions/38676668/rnn-cell-naming-issue-in-tensorflow

[2016-07-30 17:33] drcrook1 commented on #3421
I can also provide somebody the specifics to my notebook but I need you to send me a message or something, I don't want to push my password out too widely :)

[2016-07-30 20:27] faddat commented on #3587
Is this an issue with TensorFlow, or possibly an issue with Intellectual Property legislation, or are you just trying to rock on some Tech Hate?

Tech-Hate is counter-productive, and speaking for the technologists, especially the open source software, hardware and culture technologists, we do everything we can to fight "tech serfdom" -- that's the entire purpose of the open software movement in ge

[2016-07-30 20:30] thomasquintana commented on #2787
@ebrevdo I just tried with 0.10.0rc0 and I still have the same issue.

`ValueError: Inconsistent shapes: saw (?,) but expected (?,) (and infer_shape=True)`

[2016-07-30 22:27] cesardelgadof commented on #220
@CalmWaves check this out https://github.com/cesardelgadof/TensorFlowAndroidMNIST

[2016-07-31 02:04] JohnAllen commented on #3580
Are you sure you have protobuf installed?

This output suggests you don't:

1. `Can't uninstall 'protobuf'. No files were found to uninstall`
2. `Permission denied: '/usr/local/lib/python2.7/dist-packages/protobuf-3.0.0.dist-info'` suggests it can't be installed for python 2.7

You can try to install with sudo.  Also, you can check what the output of ` import google.protobuf` is in the python inte

[2016-07-31 02:06] JohnAllen commented on #3560
CUDA 8.0 is working for me using a GTX 1080 and Ubuntu 16.04.  Can confirm creating bottlenecks takes forever, a few seconds an image or so for me.

[2016-07-31 04:04] alexmonroe87 opened #3589 "bazel 0.3.1 compilation failure on master branch"
**Edit: There is no problem with bazel 0.3.1 and TF 0.9, problem present with master branch and 0.10 RC**

Ubuntu 14 x64 MSI GS60 (860M - compute score 3.0)

[code]
:
[code]

[2016-07-31 06:15] zwb88008 opened #3591 "How to use python code about the mnist to build the android apk"
just as the title said .
I just want to come true the mnist  on the android like the tensorflow android_demo
now I just know how to build the model with python
and what I should do the next.

[2016-07-31 08:29] yangzw commented on #2838
In the example ptb_word_lm.py,
`  state = m.initial_state.eval()
  for step, (x, y) in enumerate(reader.ptb_iterator(data, m.batch_size,
                                                    m.num_steps)):
    cost, state, _ = session.run([m.cost, m.final_state, eval_op],
                                 {m.input_data: x,
                                  m.targets: y,

[2016-07-31 09:02] shawnLeeZX opened #3592 "Regex tag and zoom in for histogram summary does not work properly"
Since ResNet could create hundreds of layers and the initial activation value of layers are also very large, I found I need to zoom in multiple times, and also have hundreds of histogram summary in one tag group. So it would be critical to be able to zoom, and also break summary down according to regex.

However, I found though for scalar summary, it works pretty well, for histogram summary, I can

[2016-07-31 10:24] danijar commented on #2838
@yangzw You can feed in values for any tensor. Placeholders are just special in that they throw an error if you don't feed them while a variable would silently use its last value.

[2016-07-31 13:38] mccajm commented on #3589
I was able to solve this in a (somewhat hacky way) by following the instructions here:

http://stackoverflow.com/a/38586576/6598481

In short, add the following within toolchain{} in the file tensorflow/third_party/gpus/crosstool/CROSSTOOL.

`cxx_builtin_include_directory: "/usr/local/cuda-7.5/include"`

[2016-07-31 14:16] #3587 closed

[2016-07-31 16:00] pkonovalov-softheme commented on #817
The same problem

[2016-07-31 16:31] pkonovalov-softheme commented on #3550
the same problem

[2016-07-31 17:43] rahulroxx commented on #3567
the problem is that I'm trying to train rnn model to sentence tokenize with ptb example on tensorflow official webiste.

I have a string defined as follows:

**"""AVL LIST OF APTS High End 4bhk @ STEESHA Mount Mary Bandra Higher Floor Avl Approx 2500 sqft carpet 2 parkings Full Sea Facing Quote : Rs 30 Cr Spacious 3bhk @ PALACIO 16th Rd Bandra West Brand New Bldng Higher floor Approx 1700 sqft car

[2016-07-31 18:05] alexmonroe87 commented on #3589
Will this be fixed in the maser branch anytime soon?

[2016-07-31 18:51] cardshuffle commented on #3580
My guess would be that I actually do have protobuf installed, as suggested by this when I ran `pip install 'protobuf>=3.0.0a3'`:
`Found existing installation: protobuf 2.6.1`
but neither uninstallation nor installation seem to work properly.

As per your suggestion, I tried both `sudo apt-get install protobuf` and `sudo pip install protobuf`. The output of sudo pip is as follows:
[code]
It says th

[2016-07-31 18:56] krayush07 opened #3593 "How to run custom encoder-decoder in Tensorflow using available APIs?"
I need to run a encoder-decoder model in Tensorflow. I see that using the available APIs `basic_rnn_seq2seq(encoder_input_data, decoder_input_data, lstm_cell)`	etc., an encoder-decoder system can be created. However, few pertaining issues are:

 1. How can we enter the embeddings such as word2vec in such model? I am
    aware that we can do embedding lookup but as per the API
    `encoder_input_da

[2016-07-31 19:19] Haffi112 commented on #1803
I'm having this problem when running the mnist example using virtualenv. Here is the output I get:

python convolutional.py
I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcublas.so locally
I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcudnn.so locally
I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA

[2016-07-31 19:36] michaelisard commented on #3560
@theclifbar I was only suggesting you try another GPU as a debugging aid to help pinpoint the problem: TensorFlow should work on GTX 1080 but others have had trouble on that specific card with earlier versions of CUDA and that may be the issue here. Please report back if CUDA8 doesn't fix it.

I can't comment on the bottleneck question I'm afraid since I am not familiar with the details of the mod

[2016-07-31 19:41] michaelisard commented on #3567
It's easier to help find a problem if you are willing to say what OS and versions of tensorflow etc. you are using and a repro case, e.g. the command line you are using. If you click on 'New Issue' you will see a template which shows you the right details to fill in. Thanks!

[2016-07-31 19:49] michaelisard commented on #3579
@rmlarsen would you take a look? I don't see how the LinearAlgebra op would do this.

[2016-07-31 19:55] michaelisard commented on #3583
Could you share a timeline trace? There are some tips for collecting timelines on [this StackOverflow thread](http://stackoverflow.com/questions/34293714/tensorflow-can-i-measure-the-execution-time-of-individual-operations).

[2016-07-31 19:57] michaelisard commented on #3585
This kind of usage question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow). Github issues are for TensorFlow bugs and installation problems. Thanks!

[2016-07-31 19:57] #3585 closed

[2016-07-31 20:01] michaelisard commented on #3586
@vrv it seems as if the documentation of all_variables and local_variables could be improved. Could you verify that this behavior is expected, and assign someone to update the doc?

[2016-07-31 20:03] michaelisard commented on #3589
@martinwicke would you take a look?

[2016-07-31 20:08] krayush07 commented on #3585
@michaelisard: I did not receive any answer on Stackoverflow,  hence I decided to put a query over here.

[2016-07-31 20:09] LeavesBreathe commented on #386
I'm working on an open source implementation of uRNN right now for everyone to use. I'm hoping with what is currently implemented, this is possible. Will post back in a few days with an update.

[2016-07-31 20:09] michaelisard commented on #3593
This kind of usage question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow). GitHub issues are for TensorFlow bugs and installation issues. Thanks!

[2016-07-31 20:09] #3593 closed

[2016-07-31 21:54] alexmonroe87 commented on #3589
Is there a way to install bazel 0.3.0 using the apt-get method? To me it seems like it only offers the latest package.

[2016-08-01 01:48] dmotz commented on #3494
I'm seeing the same issue with Python 3.

[2016-08-01 01:51] tobegit3hub commented on #3591
@zwb88008 Are you trying to find this https://github.com/miyosuda/TensorFlowAndroidMNIST ?

TensorFlowAndroidMNIST is the app to run directly on you Android, just like `android_demo`. Python seems not to be recommended to integrated with Android/Java application and I hope this could help.

[2016-08-01 01:57] pranjaldaga opened #3595 "Unable to replicate RNN results on a different dataset"
### What is the problem?
[This RNN tutorial script ](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/models/rnn/ptb/ptb_word_lm.py) works perfectly fine until the contents of the files are unchanged, but once changed a **KeyError** is encountered. (see the error log below)

### Environment info
Operating System:

Installed version of CUDA and cuDNN:

lrwxrwxrwx 1 root root       12

[2016-08-01 02:12] kestrelm commented on #3582
Hello,

Is anybody going to verify that the new upcoming update is going to run with the 10 series cards? In particular the gtx 1060 and 1070? This is important as I am thinking of getting a gtx 1060 for cntk and the current status of it not running on the 10 series cards makes me pause on switching over to cntk.

[2016-08-01 03:50] luxiaolei opened #3596 "Unable to run the tensorflow/tensorflow/examples/skflow/multipul_gpu.py"
Hi,

when i run the tensorflow/tensorflow/examples/skflow/multipul_gpu.py example, I got the following error. Any helps would be great!

[code]
### Environment info

Operating System:  Ubuntu 16.04

Installed version of CUDA and cuDNN: CUDA 8.0, cuDNN 5

(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

[code]

If installed from sources, provide the commit hash:
e95f4e760c6b6713b6b

[2016-08-01 04:08] LeavesBreathe commented on #2977
@kashif  i'm testing urnn's right now on the gpu and it seems that the implementation is pretty slow right now. I hesitate to close the issue right now but I can if you feel that its justified. It does seem that the unitary rnn is about 10x slower than vanilla lstm on a titan x.

[2016-08-01 04:23] #2977 closed

[2016-08-01 05:23] jared-mess commented on #2973
I can confirm this is still an issue with `'0.10.0rc0'`
I was using `os.path.join(os.getcwd(), "checkpoints")` in my code to save and restore, and we ran into problems. Specifically restoring the checkpoint on another machine fails because it's looking for an absolute path on my machine.
[code]
We tried loading a relative path, but that only worked AFTER I re-trained it with relative path.
@martin

[2016-08-01 07:17] terrypang commented on #3589
I can reproduce this issue
when I change bazel back to 0.3.0, the problem still there.
----------------------------------------------------------------------
xubuntu 16.04.1
gcc/g++ 4.9.3
bazel 0.3.0
python 2.7.12
cuda 8.0rc
cudnn 5.0.5
----------------------------------------------------------------------
ERROR: /home/terrypang/workspace/tensorflow/tensorflow/core/kernels/BUILD:1496:1: undeclared

[2016-08-01 07:48] alexmonroe87 commented on #3589
Just now I grabbed the 0.9 github release. No issues [with bazel 0.3.1] whatsoever.
I have tried the 0.10 RC github release yesterday and it had the same issue(s).

[2016-08-01 07:55] theclifbar commented on #3560
thanks @michaelisard, upgrading to CUDA 8.0 Release Candidate and cuDNN 5 and building from source again with GPUs enabled has resolved this issue!

@JohnAllen, thanks for your information, as well.  We've found that running the retrainer when built for GPUs takes about 0.1 seconds per image bottleneck; previously, on a 36-core machine, it would take around 3 seconds per bottleneck with all cores

[2016-08-01 07:55] #3560 closed

[2016-08-01 08:05] hongyehenry commented on #2084
@andrewharp what parameters need to change to adapt the retrained data t work on Android Demo?

[2016-08-01 08:06] doubler commented on #511
I found tf.nn.dynamic_rnn is much slower than tf.nn.rnn in tensorflow_serving inference.
Using tf.__version__ == 0.9.0

[2016-08-01 08:24] arvindsg opened #3598 "gather_nd doesnt work for batched slicing,(even for documented examples)"
gather_nd doesn't work for batched slicing
Steps to Reproduce

Run the following code
[code]

Always gives an error regarding incompatible dimensions.

Either the documentation needs to be updated to indicate proper argument format or function implementation is buggy

[2016-08-01 09:01] hongyehenry opened #3599 "Use Retrained categories in Android Camera Demo"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-08-01 09:18] zwb88008 commented on #3591
@tobegit3hub thank you very much . it is all I want to find.

[2016-08-01 09:44] avostryakov commented on #3528
@ebrevdo  Can I suggest another fix? If sequence_length = None, array_ops.reverse_sequence will not work. I think the patch is trivial:
if sequence_length:
  inputs_reverse = array_ops.reverse_sequence(
        input=inputs, seq_lengths=sequence_length,
        seq_dim=time_dim, batch_dim=batch_dim)
else:
  dims = [False]*tf.rank(inputs)
  dims[time_dim] = True
  inputs_reverse = array_ops.reverse

[2016-08-01 10:15] markvdw commented on #1825
@rmlarsen Is it correct that the issue of unpacking a vector to a triangular matrix (similar to BLAS (d|s|c)tpttf) is not addressed yet? I have some code that does this, which I'm happy to contribute.

[2016-08-01 11:00] npanpaliya commented on #3545
Hi,
Could you please let me know if hwloc can be added in the dependency list of tensorflow?

[2016-08-01 11:08] CalmWaves commented on #220
Thanks @cesardelgadof  I will check it out.

[2016-08-01 11:32] tobegit3hub commented on #3591
You're so welcome. Feel free to close the issue and we're looking forward to any good product about TensorFlow 😃

[2016-08-01 12:54] JinXinDeep commented on #23
@mrry  Thanks for the distributed version of TensorFlow since v0.8. In my opinion, TensorFlow is very flexible, it can do model parallel, data parallel, or mixed parallel, although the examples are for data parallel.

For example, for model parallel, typically there is a cluster consists of a number of distributed nodes (e.g. machines) for model training. If we use the **In-graph** mode, a main pr

[2016-08-01 13:48] lorenlugosch commented on #1592
I have an "implementation", but it achieves only ~15% accuracy on CIFAR-10
(compared to 86% using real-valued convolutions for the same architecture),
so something is definitely wrong. I will post my code if and when I get it
to work.

On Fri, Jul 29, 2016 at 7:43 PM, dmitryb-ai2 <notifications@github.com>
wrote:

[2016-08-01 14:51] JianbangZ commented on #3087
Hi @dsmilkov  is this issue fixed in 0.10.0?

[2016-08-01 14:53] cardshuffle commented on #3580
Also, `import tensorflow` in my interpreter gives a similar error to when I tried to run the bazel command:
[code]

[2016-08-01 14:57] avostryakov commented on #3528
And I agree with @jonrein, it will be easier to have possibility to use int32 too.

[2016-08-01 15:15] mrry commented on #3234
It looks like the problem is in your `worker_device="/gpu:%d" % (FLAGS.task_id%4)` argument to `tf.train.replica_device_setter()`. There are two parts to the problem:

1. The device string doesn't specify a task ID (i.e. `"/task:%d" % (FLAGS.task_id)`). Unless you have specified `device_filters` in your session configuration, this will result in all ops being placed in task 0, which runs in server

[2016-08-01 15:16] mrry commented on #1363
Nobody has complained about this for some time, so I'm going to close this bug. Famous last words....

[2016-08-01 15:16] #1363 closed

[2016-08-01 15:53] martinwicke commented on #3580
Try `sudo pip install 'protobuf>=3.0.0a3'`. In your comment it looks like you have successfully installed protobuf 2.6.1, which is not what you want.

[2016-08-01 15:57] weiliu620 commented on #446
@yaroslavvb While I'm testing the neural-style code by @jcjohnson, I found using lbfgs optimizer got cost function ~12% less than using adam optimizer, with fixed number of iterations. There are also some [discussions ](https://www.reddit.com/r/MachineLearning/comments/3u1ssk/neural_style_in_tensorflow/) on these two optimizers on style transfer.

So that is the use case that I run into this issue

[2016-08-01 16:00] martinwicke commented on #3545
We can add it as a source dependency. @michaelisard what's your take on how useful this is, as opposed to fixing the `sched_getaffinity` issue directly? I'd lean toward the latter to fix this bug.

[2016-08-01 16:22] martinwicke commented on #3589
@zheng-xq, @josh11b, It looks like depthtospace and batchtospace are missing some dependency on cuda? Is this something you recognize?

[2016-08-01 16:23] mccajm opened #3600 "failed to create cublas handle: CUBLAS_STATUS_NOT_INITIALIZED"
With the current master branch I receive the following error 20% of the time when training an RNN.

name: GeForce GTX TITAN X
major: 5 minor: 2 memoryClockRate (GHz) 1.076
pciBusID 0000:83:00.0
Total memory: 12.00GiB
Free memory: 11.86GiB
I tensorflow/core/common_runtime/gpu/gpu_init.cc:126] DMA: 0
I tensorflow/core/common_runtime/gpu/gpu_init.cc:136] 0:   Y
I tensorflow/core/common_runtime/gpu/gp

[2016-08-01 17:21] michaelisard commented on #3545
@cwhipkey you have been looking at threadpools recently. What do you think?

[2016-08-01 17:53] ebrevdo commented on #511
Indeed, for inference you probably want to run some small fixed number of
time steps at a time yourself (since you need to decide when to stop based
on your business logic); in which case you just want to build a tf.nn.rnn
with that small number of inputs.

On Mon, Aug 1, 2016 at 1:07 AM, doubler <notifications@github.com> wrote:

[2016-08-01 18:13] zheng-xq commented on #3589
TensorFlow should not include the paths like that. It should be like "third_party/gpus/cuda/include/...".

So it is possible that those headers are implicitly included by nvcc. But I cannot reproduce this problem with my local bazel 2.0. My guess is that the newer bazel checks those include dependencies differently.

[2016-08-01 18:23] josh11b commented on #3589
This is outside my expertise.

[2016-08-01 18:31] saxenasaurabh opened #3601 "Tensorflow basic_rnn_seq2seq TypeError: Expected int32, got -0.1 of type 'float' instead"
Original issue here: http://stackoverflow.com/q/38695086/2082009

[2016-08-01 18:51] martinwicke commented on #3589
@damienmg do you have an idea of what is happening here?

[2016-08-01 19:07] fangweili commented on #3436
can't tell just from the error message above. mind sharing the code?

[2016-08-01 20:36] kastnerkyle commented on #394
Same for me. Does anyone know *why* this fixes it?

[2016-08-01 20:54] aselle commented on #3432
Automatically closing due to lack of recent activity. Please reopen if further information becomes available.

[2016-08-01 20:54] #3432 closed

[2016-08-01 20:54] aselle commented on #3422
Automatically closing due to lack of recent activity. Please reopen if further information becomes available.

[2016-08-01 20:54] #3422 closed

[2016-08-01 20:54] aselle commented on #3453
Automatically closing due to lack of recent activity. Please reopen if further information becomes available.

[2016-08-01 20:54] #3453 closed

[2016-08-01 21:12] dfisla commented on #3571
Want to second this, cuda 7.5 has issues with GTX 1080 (random generation, etc.) and cuda 8.0RC is not supported to tensorflow. I only manged to get torch ml framework working.

[2016-08-01 21:14] rob-rowe opened #3603 "RC 0.10 3X Slower than 0.9 and Error Compiling From Source Under Certain Conditions"
This issue is a follow-up to [this posting](http://stackoverflow.com/questions/38704095/tensorflow-rc-0-10-3x-slower-than-0-9) on stack overflow. As noted, the 0.10 version is ~3x slower than version 0.9 for a particular training script I am using. The same slow-down is observed when using the pip version with CuDNN4 or with a version compiled from source and CuDNN 5.1.

I'm not sure what informat

[2016-08-01 21:15] wangkuiyi commented on #2146
Any news?

@zheng-xq Can you please point where are Eugene and Vijay's comments, and the location of GPUCTC "on the contrib directory"?

[2016-08-01 21:55] rryan commented on #3603
Could you produce a timeline and share that?

I think this might be the current best how-to on how to produce timelines :) if anyone knows of a better one please share that:
https://github.com/tensorflow/tensorflow/issues/1824#issuecomment-225754659

I think that it's going to be hard to help without seeing your code. Would you be able to post your graph protobuf?

[2016-08-01 22:22] barimohsin commented on #2787
@ebrevdo this is a showstopper for me as well.. dealing with same issue as mentioned by @thomasquintana.. will appreciate if someone from google tensorflow team take a look at it soon.

[2016-08-01 22:55] huyong1109 commented on #3533
Same problems. Can't load the quantization library anyway!

[2016-08-01 23:01] pranjaldaga commented on #3595
Hi,
I tried a bunch of things and tried to run it. Couldn't get it working. I don't think this script would be tailored specifically to the PTB data, so I am pretty sure I am missing something here. Any help/hint would be highly appreciated. Thanks!

[2016-08-01 23:03] huyong1109 commented on #3429
I also encountered the signature error when load quantized_kernels.so and quantized_ops.so in tensorflow 0.9.0.

[2016-08-01 23:04] pranjaldaga commented on #3595
@michaelisard Probably you have seen something like this before #3567 .

[2016-08-01 23:20] barantes commented on #2084
I believe the params to be modified are:
  private static final int NUM_CLASSES = 256;
  private static final int INPUT_SIZE = 224;
  private static final int IMAGE_MEAN = 117;

But I'm not sure what values to use (though I suspect that NUM_CLASSES should correspond to the number of lines in the labels file). I'm also having the same error message (Check failed: message->ParseFromZeroCopyStream(&a

[2016-08-01 23:23] poxvoculi commented on #3595
This is not clearly a correctness/performance issue with TensorFlow, rather it's a question about usage of a particular program, so it would be more appropriate to ask this question on StackOverflow.  Please ask it there, and tag it with the 'tensorflow' tag.

I did take a quck look at 'ptb_valid.txt' in the *.tgz bundle referenced above.  It looks like the fragments are newline separated.  I didn

[2016-08-01 23:23] #3595 closed

[2016-08-01 23:30] poxvoculi commented on #3596
The error message says:
tensorflow.python.framework.errors.InvalidArgumentError: Cannot assign a device to node 'save/ShardedFilename_2': Could not satisfy explicit device specification '/device:GPU:2' be$

That is, the graph produced for the model assigns a particular Op ('save/ShardedFilename_2') to GPU:2.  GPUs are indexed starting with 0.  Do you actually have 3 GPUs on the machine you using?

[2016-08-01 23:45] poxvoculi commented on #3600
Thanks for the report.  Our supported OS's unfortunately do not include yours.  We have verified support for cudnn 4, but I'm not aware of whether cudnn 5 is supported.  If possible, you might try running in docker, for a better supported version.

You say you see the error about 20% of the time; have you noticed correspondence of failures with anything else, like concurrent use of the GPU by anot

[2016-08-01 23:57] zheng-xq commented on #3600
@mccajm, Cudnn V5 is definitely supported. Your specific problem comes from this line:

This seems to indicate that the call to cublasCreate_v2 has failed. Please check the Cuda and Cublas installation on your machine. Also adding @jhen, the owner of stream-executor, in case he has more comments.

Please try the simple matrixMulCUBLAS that comes with the Cuda SDK, and see if the Cuda installation

[2016-08-02 00:07] poxvoculi commented on #3601
This question is appropriate for StackOverflow, not for this forum, which is for bugs and installation issues.

[2016-08-02 00:07] #3601 closed

[2016-08-02 00:34] zheng-xq commented on #2146
Adding @ebrevdo to comment on the status of CTC GPU implementation.

[2016-08-02 00:35] hongyehenry commented on #2084
@barantes I opened a new issue here https://github.com/tensorflow/tensorflow/issues/3599
to declare my problem. Let me know if you find any solutions.

[2016-08-02 00:42] l4chong commented on #2084
It's working for me, with a retrained model.

  private static final int NUM_CLASSES = 7;
  private static final int INPUT_SIZE = 299;
  private static final int IMAGE_MEAN = 128;
  private static final float IMAGE_STD = 128;
  private static final String INPUT_NAME = "Mul:0";
  private static final String OUTPUT_NAME = "final_result:0";

you have to change the NUM_CLASSES with the number of label

[2016-08-02 00:54] poxvoculi commented on #3599
This sort of question is better asked on StackOverflow.  This forum is for bug reports and similar.  Please ask your question there, tagging with 'tensorflow'.

If you're having trouble with bazel, you might try [tensorflow makefile](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile).

[2016-08-02 01:01] cardshuffle commented on #3580
It looks like that did the trick, though I also had to run `sudo pip install mock`. Thanks for your help!

[2016-08-02 01:01] #3580 closed

[2016-08-02 01:03] Anthony-Tatowicz commented on #3583
Now I get the following error when trying to run.

[code]

[2016-08-02 01:19] poxvoculi commented on #3598
When I run your program I get:

[[['c' 'd']] [['a' 'b']]]

which I believe is correct.  Could you provide more information on your version and installation, and the exact error message?

[2016-08-02 01:25] kangxin commented on #3056
@lukaszkaiser Thank you very much for resolving the problem. However, my program still reports the same error when I set state_is_tuple=True.

I have pip-installed the latest tensorflow-0.10.0rc0 with GPU on a linux system.

I do not know the meaning of "CL" in your post. Maybe I am missing some important factor here.

[2016-08-02 02:00] mikecassell opened #3605 "scikit flow - race condition when trying to fit"
I'm probably missing something obvious but I did a fresh build tonight and when trying to run the MNIST examples, every time I run them I'm getting the below errors. I have tried a few of the examples and can't seem to get around it (even when updating the depreciated bits still in the examples.) Am I missing something?

Code:
`
from __future__ import absolute_import
from __future__ import divisio

[2016-08-02 02:13] lukaszkaiser commented on #3056
Sorry, by CL I meant PR. It should be fixed in 0.10, so if it's not working for you, let's take a look. Could you write a small example model that shows the problem and paste it here, so I can confirm? That would be great, thanks!

[2016-08-02 02:15] mikecassell commented on #3605
I tried running it as a script (instead of in Jupyter) and it runs fine, is there a known issue with running in notebooks?

[2016-08-02 02:28] #3605 closed

[2016-08-02 03:27] suiyuan2009 opened #3607 "missing doc for SyncReplicasOptimizer"
doc not found in official website, description is in `tensorflow/python/training/sync_replicas_optimizer.py`

[2016-08-02 04:01] essank opened #3608 "How To Upgrade Tensorflow"
I have tensorflow v 0.9. How I can upgrade it without uninstall it?

[2016-08-02 04:23] kangxin commented on #3056
@lukaszkaiser Thank you for quick response. Please find the code in attachment.
The program does not report error until I set `state_is_tuple=True`.
[lstm_state_is_tuple.py.zip](https://github.com/tensorflow/tensorflow/files/395233/lstm_state_is_tuple.py.zip)