[2018-09-24 23:37] yangjunpro commented on #22465
@jsimsa

Hi Jiri,

Could please kindly wait for a while to close this issue? Or at least wait for our confirmation?

As mentioned in this post, we are already working on some PR preparation based on our observation.
If it is possible, any deeper interaction would be highly appreciated. Otherwise, we may do some duplicated work. That's why we raise what we observe as early as possible.

Based on yo

[2018-09-24 23:46] reedwm commented on #22037
Yeah this looks like a compiler bug. So I'm marking as contributions welcome.

[2018-09-24 23:50] reedwm commented on #22216
Can you give a self-contained example to reproduce the issue? And the stacktrace of the error?

[2018-09-24 23:53] jsimsa commented on #22465
@yangjunpro issues should be created for bugs or feature requests.

Bugs should be accompanied by instructions on how to reproduce and feature requests should identify the desired functionality to be developed.

As far as I can tell, this issue is neither a bug nor a feature request. You are welcome to reopen this issue if you encounter a (performance) bug and can share steps on how to reproduce i

[2018-09-24 23:56] wt-huang commented on #22471
@jamesdeep  You can set up debugging on your device following the steps [here](https://developer.android.com/training/basics/firstapp/running-app#RealDevice) The on-screen data are for  model profiling where you can find the execution time of each operator for to benchmarking purposes. Count is the total number of nodes executed, Start is the time stamp for each node and First is the duration.

[2018-09-24 23:57] shaqian commented on #14873
Hi,
I created a Flutter plugin for TensorFlow Lite. It works on both iOS and Android.
https://pub.dartlang.org/packages/tflite

[2018-09-24 23:57] jsimsa commented on #22465
Please see https://www.tensorflow.org/community/ for details.

[2018-09-25 00:02] wt-huang commented on #22477
@monikatomar92 Could you post your tf_env.txt here after environment capture script?

[2018-09-25 00:09] reedwm commented on #22099
/CC @gunan, do you know why this is occurring?

[2018-09-25 00:29] av8ramit commented on #22449
This will be done after the 1.11 release.

[2018-09-25 00:31] ysh329 opened #22488 "What's the version of squeezenet, 1.1 or 1.0 in performance part of TFLITE"
link here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/g3doc/performance.md

Besides, where can I find the squeezenetV1.1 model of TFLITE with FP32 and no quant. I only found the squeezenetv1.0 [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/g3doc/models.md#image-classification-float-models), no squeezenetv1.1.

Thanks in advance

[2018-09-25 00:51] j12wei commented on #21431
I ran following commands:
git rev-list -n 1 --before="2018-06-27 13:37" master
git checkout de93bd503a0f7ea8b326f17a95b18127716adc41

and change
def nativeBuildSystem = 'none' //from 'bazel' in build.gradle

I still have this error in Android studio (version 3.2)
"Execute task action 4/4 for :compileDebugJavaWithJavac"

[2018-09-25 01:05] j12wei commented on #21431
ok. finally, made it work. Here is what I did.
1) updated to Android Studio to the latest (version 3.2)
2) git to master
commit cc5555d3d3daa64f462cc7f8d31fe915073429f4 (HEAD, origin/master, origin/HEAD, master)
2) change this line in build.gradle:
        classpath 'com.android.tools.build:gradle:3.1.4' //3.0.1'
3) import to Android Studio (just installed whatever it recommended)

[2018-09-25 01:18] shuiruge commented on #22052
Yes.

[2018-09-25 01:27] monikatomar92 commented on #22477
Hi. Thank you, Following is the tf_env.txt
[tf_env.txt](https://github.com/tensorflow/tensorflow/files/2413448/tf_env.txt)

[2018-09-25 01:33] ymodak commented on #22487
@CarstenLange Just want to make sure.
Did you load keras library with library(keras) before modelNn <- keras_model_sequential()?
 Also was that successful for tensorflow version 1.10.0?

[2018-09-25 01:45] AmberCheng commented on #22442
The logs are like that:

/Users/amber/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds)
/Users/amber/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to

[2018-09-25 01:47] reedwm commented on #12596
Unassigning myself since I don't know anything about queue runners. @yuefengz, can you take a look, or unassign yourself and leave this as contributions welcome?

[2018-09-25 01:47] CarstenLange commented on #22487
@ymodak . Thanks for the fast reply.  Yes, Ioaded Keras with library(keras) and the first command executed well. However, only keras_model_sequential() worked other commands did not. E.g.., the second one I mentioned and also "use_session_with_seed(2018)" did not work. I was not surprised, because Keras seems to require tensorflow="1.10.1" and I used  tensorflow="1.10.0" instead, which was kind of

[2018-09-25 01:54] cococyx commented on #22399
Thanks for you reply. This issue is seen in TensorFlow 1.11.0-rc1, and I'll try 1.11.0-rc2.

'1.11.0-rc1'
[multi-GPU-1.11.0-rc1.log](https://github.com/tensorflow/tensorflow/files/2413482/multi-GPU-1.11.0-rc1.log)

[2018-09-25 01:54] fanshiqing commented on #22465
@jsimsa Thanks for your comments. According to your reply, will the consumer speed (namely subsequent training threads) be considered in your performance model in development, or the performance model is just kept unchanged like this now. As feasible negative optimization will actually slow down the consumer's speed in my opinion.

[2018-09-25 01:56] alanpurple commented on #22414
@tfboyd
with cudnn 7.3, same

but thank you anyway, I'd rather stick with ubuntu this moment and leave this pc for a while

[2018-09-25 01:58] yangjunpro commented on #22465
@jsimsa

We have already delivered several PRs to the community so we are familiar with the basic flow.

From my perspective, I think Shiqing already mentioned that he thought this is a feature and he is working on it. I think the title of this issue could be adjusted a little bit to avoid misleading.

As to the "reproduce it" mentioned by you, the limitation is observed in our in-house cluster en

[2018-09-25 02:01] AmberCheng commented on #21767
Why I still get this error? Do I need to renew the Tensorflow?

[2018-09-25 02:39] jiarenyf commented on #22464
I meet similar question, under watching.

[2018-09-25 02:40] alsrgv opened #22489 "absl/numeric/int128_have_intrinsic.inc: No such file or directory"
Current `tf-nightly-gpu` fails to compile with CUDA-aware custom ops like this:

[code]

cc @yuefengz

[2018-09-25 02:45] u2takey commented on #22431
duplicate: https://github.com/tensorflow/tensorflow/issues/22339, closed

[2018-09-25 02:45] #22431 closed

[2018-09-25 02:58] yuefengz commented on #22489
@annarev Do you know how to fix this?

[2018-09-25 03:00] yuefengz commented on #12596
The QueueRunner is deprecated. It possible for you to use `tf.data` for input processing?

[2018-09-25 03:02] jiarenyf commented on #22098
@tensorflow-jenkins

[2018-09-25 03:02] karmel commented on #22480
It sounds like the path to your saved model file is not correct. My guess is you want the full path to `ssd_mobilenet_v1_coco_2018_01_28` rather than a relative path. Can you try the same script with the absolute path specified?

[2018-09-25 03:07] jiarenyf commented on #21410
I meet similar question, under watching.

[2018-09-25 03:11] cococyx commented on #22399
'1.11.0-rc2'
[multi-GPU-1.11.0-rc2.log](https://github.com/tensorflow/tensorflow/files/2413626/multi-GPU-1.11.0-rc2.log)

[2018-09-25 03:11] karmel commented on #22311
The sample code up above has a lot going on. Can you simplify the example to replicate with just the shared embedding column and partitioner, without the contrib feature_column_ops? Does the problem still occur?

[2018-09-25 03:31] chenghuige commented on #22104
Closing this since, now it run ok.

[2018-09-25 03:31] #22104 closed

[2018-09-25 03:48] duane-ibm commented on #19770
Yes bazel 0.17.1 built with openjdk11 worked for me.
Although while building Tensorflow 1.8.0 build fails with following error
[code]
gcc version:
[code]
Any specific version of gcc to be used?

[2018-09-25 04:04] darlanpj commented on #9680
This worked for me.

However, I'm trying to use plaidbranch with Python 3.7. However, the following message appears:
`PS C:\Users\darlan-pc\Documents\PlaidML\plaidbench>  python .\plaidbench.py --no-plaid resnet50
Using TensorFlow backend.
Error: Missing needed packages for benchmark; to fix, pip install keras tensorflow`

I will try to run with version 3.6...

[2018-09-25 04:05] karmel commented on #21417
@christisg -- we can add the corresponding validation of variables.index in C++, but is that okay from the serving side? Are there reasons to avoid checking?

[2018-09-25 04:12] karmel commented on #22396
tf-serving should support sparse tensors, as they can be encoded as you show above in the metagraph. Can you provide the stack trace? It's hard to tell from the above what the precise issue is, but my guess is you need to specify options from the set of three names to properly find the tensor:

[code]

[2018-09-25 04:44] haotianteng commented on #22396
Here is the trace:
ErrorReport_tf_SparseTensor_Name/error_reproduce_client.py', wdir='/home/heavens/Documents/ErrorReport_tf_SparseTensor_Name')
{'output': ''}
INFO:tensorflow:Restoring parameters from /home/heavens/Documents/ErrorReport_tf_SparseTensor_Name/TEST_MODEL/export/1/variables/variables
Traceback (most recent call last):

  File "<ipython-input-6-a4394582e9d4>", line 1, in <module>

[2018-09-25 04:48] pauldelmusica commented on #22459
Have I written custom code:  No
OS Platform and Distribution: Windows 7, 64 bit
TensorFlow installed from: windows build
TensorFlow version: 1.5, newer versions would not import
Bazel version: 0.17.2
CUDA/cuDNN version: NA
GPU model and memory: NA
Exact command to reproduce: bazel build tensorflow/examples/wav_to_spectrogram/...
Mobile device: NA

[2018-09-25 04:48] haotianteng commented on #22396
And here is a reproduce example I try to build by delete unrelated code from my own project:
Export script:
[code]
Predict Script:
[code]
[TEST_MODEL.tar.gz](https://github.com/tensorflow/tensorflow/files/2413795/TEST_MODEL.tar.gz)

[2018-09-25 04:53] haotianteng commented on #22396
The problem can be solved by exporting the three dense tensor of the Sparse Tensor instead of exporting the Sparse Tensor itself, e.g.:
Change
[code]

to

[code]
Well I guess it could be an easy fix by redirecting the correct name of SparseTensor when predicting, but I am not sure.

[2018-09-25 05:01] kree-colemcalughlin commented on #22162
I encountered a similar problem while trying to connect two models. It looks like always adding a name argument to the call to tf.map_fn() is a temporary workaround. Otherwise, it seems that the while ops will always end up in the same name scope, and only the loop condition ops in distinct name scopes.

[2018-09-25 05:26] IMBurbank commented on #22413
I'm sharing my findings for the night in case there's any community input. I'll work on putting this comment into a PR tomorrow.

The `tf_inspect.py` module already looks configured to shim python 2 for use with the `tf_inspect.getfullargspec` wrapper, but from what I see the current implementation has two coupled issues:

1) `tf_inspect.getargspec` is used locally for `_getfullargspec` with pytho

[2018-09-25 05:33] Croolman commented on #22338
I have very similar issue:

**Have I written custom code** No
**OS Platform and Distribution** WIN10 Visual Studio 2015
**TensorFlow installed from** stable release v1.10.1.0
**Bazel version** 0.17.1
**CUDA/cuDNN version** CUDA8.0 / CUDNN 7.0
**GPU model and memory** 1050Ti / 8G
**Mobile device**  N/A
**Exact command to reproduce**
 bazel build -c opt //tensorflow/tools/lib_package:libtensorflow
-

[2018-09-25 05:52] benshi001 opened #22490 "failed to build tensorfolow lite demo via both bazel"
I tried to build the tflite demo apk via bazel.

1. git checkout remotes/origin/r1.9
2.  bazel build --cxxopt=--std=c++11 //tensorflow/contrib/lite/java/demo/app/src/main:TfLiteCameraDemo --config=android_arm64 --cpu=arm64-v8a --fat_apk_cpu=arm64-v8a

	INFO: SHA256 (https://github.com/bazelbuild/rules_python/archive/8b5d0683a7d878b28fffe464779c8a53659fc645.tar.gz) = 8b32d2dbb0b0dca02e0410da81499ee

[2018-09-25 06:07] ymodak commented on #22487
@CarstenLange You are welcome.Okay. Did you load the libraries such as dplyr or magrittr for the piping operator (%>%) to function? Also can you please paste the error message?

[2018-09-25 06:28] CarstenLange commented on #22487
Yes, dplyr was loaded via tidyverse. I also loaded library(magrittr).
Here is the error message (this time from the MNIST example from the Tensorflow R webpage:
model %>%
+   layer_dense(units = 256, activation = 'relu', input_shape = c(784)) %>%
+   layer_dropout(rate = 0.4) %>%
+   layer_dense(units = 128, activation = 'relu') %>%
+   layer_dropout(rate = 0.3) %>%
+   layer_dense(units = 10, act

[2018-09-25 06:55] asimshankar commented on #22485
@karmel @fchollet - Mind taking a look?
(@allenlavoie may have a quick diagnosis too)

[2018-09-25 07:04] dingevin commented on #22007
hello @mhorikos, can you describe more detailed?  I have the same error, thanks.

[2018-09-25 07:15] PatWie commented on #15002
Messing up the system with symbolic links is usually a bad idea.

### Solution CMake
The root of all evil is the path `#include "cuda/include/cuda.h"` itself. Usually, you use `#include "cuda.h"` or `#include "cuda_runtime.h"`  when doing CUDA programming. Without any relative path, since `FindCuda.cmake` sets `CUDA_INCLUDE_DIRS` properly which relies on the environment variables `CUDA_PATH` and `

[2018-09-25 07:20] mahaishou opened #22492 "failed to synchronize the stop event: CUDA_ERROR_ILLEGAL_ADDRESS"
when I train keras_retinanet model with tf-gpu, the following errors occured. CUDA_ERROR_ILLEGAL_ADDRESS.
It's stable reproduction.

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
CentOS Linux release 7.4.1708
- **Mobile device (e.g. iPhone 8, Pixel 2, Sam

[2018-09-25 07:34] YijinLiu commented on #21566
I just tested the latest 1.11.0-rc2 release. The problem is still there. Is anything going to take a look at this?

[2018-09-25 07:45] meteorcloudy commented on #22338
@taotaolin Looks like this function `tensorflow::io::GetTempFilename` failed, can you show me what's the value of your `TEMP`, `TMP` environment variable?

[2018-09-25 07:46] meteorcloudy commented on #22338
@Croolman Can you provide the exact error message?
Does https://github.com/tensorflow/tensorflow/issues/19198 seem to be related?

[2018-09-25 07:51] freedomtan commented on #22424
With bazel >= 0.16, which comes with better support for ARMv8, and my patch (https://github.com/tensorflow/tensorflow/pull/16175), TF Lite related stuff should work.

[2018-09-25 07:51] meteorcloudy commented on #21880
@UndeadBlow You might find this script useful:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/windows/libtensorflow_cpu.sh

As pointed out by @gunan, the .so file built is actually a .dll file on Windows, you'll have to rename it to .dll to make it work on Windows.

[2018-09-25 07:54] meteorcloudy commented on #22390
@gunan You might want to cherry-pick #22483 into v1.11.0 ?

[2018-09-25 08:05] adoudou2008 commented on #22143
Have you solved this problem? I have the same problem。

[2018-09-25 08:32] placidchat opened #22494 "Compilation v1.10 fails at //tensorflow/core/debug:debug_io_utils"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-25 08:35] cvJie opened #22495 "I have two nvidia GPU,but run ours finalAlg.so，and GPU don't work."
first,i cmake tensorflow-GPU,and get tensorflow_cc.so；
then ,cmake tensorflow__cc.so and another alg codes have got finalAlg.so;
last,run finalAlg.so by tensorflow C++ API.

    string model_path = "finalAlg.pb";
    GraphDef graph_def;
    status = ReadBinaryProto(Env::Default(), model_path, &graph_def);
    status = session->Create(graph_def);
    graph::SetDefaultDevice("/gpu:0", &graphdef);

[2018-09-25 08:50] skang29 commented on #22143
Not yet.. Still waiting for response.

[2018-09-25 08:55] LongForCMU opened #22496 "I met the error:__init__() missing 2 required positional arguments: 'message' and 'code' when I tried to run the exact same code on image_captioning_with_attention"
The details are as follows:
code:
for img, path in image_dataset:
    batch_features = image_features_extract_model(img)
    batch_features = tf.reshape(batch_features,
                              (batch_features.shape[0], -1, batch_features.shape[3]))

    for bf, p in zip(batch_features, path):
        path_of_feature = p.numpy().decode("utf-8")
        np.save(path_of_feature, bf.numpy())
err

[2018-09-25 08:57] jonasrauber commented on #19903
I agree with @bhack. For many common real-world tasks related to warm-starting (fine-tuning existing networks, pretraining on a different dataset, etc.), it is important to restore not just the variables trained with backprop (i.e. the `trainable_variables`) but also the variables _trained_ using dataset statistics (e.g. accumulators, moving averages, etc.). Forgetting to restore them is such a co

[2018-09-25 09:05] adoudou2008 commented on #22143
If you solve it, I hope you can make the solution public. If I solve it, I will tell you. 0.0

[2018-09-25 09:06] eliorc opened #22497 "DataLoss error on TFRecords - happens on one machine doesn't on other"
### System information
#### System 1 (Bug DOESN'T occur)
All details are from inside the docker which the codes run in
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: True
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04.1, 4.15.0-29-generic
- **TensorFlow installed from (source or binary)**: pip install tensorf

[2018-09-25 09:30] HedgehogCode opened #22498 "Writing a SavedModel on Windows with long file path fails"
### System information
- **Have I written custom code**: Yes, see below.
- **OS Platform and Distribution**: Windows 10 Enterprise 64Bit (10.0.16299)
- **Mobile device**: N/A
- **TensorFlow installed from**: Binary
- **TensorFlow version**: b'v1.10.0-rc1-19-g656e7a2b34' 1.10.0
- **Python version**: 3.5.5
- **Bazel version**: N/A
- **GCC/Compiler version**: N/A
- **CUDA/cuDNN version**: N/A
- **GPU

[2018-09-25 09:42] XingBin111 commented on #20434
I have the same problems as yours, have you solved your problems?

[2018-09-25 10:45] santoshgurujula commented on #17386
I used the .whl file(TF 1.10.0) downloaded from @fo40225's Github repository said and it works without any issue..
Thanks to @fo40225

[2018-09-25 10:55] sque commented on #16152
I am still hitting this warning with the following versions:
 * 1.8.0
 * 1.9.0
 * 1.10.0
 * 1.10.1
 * 1.11.0-rc2

[2018-09-25 10:56] Croolman commented on #22338
@meteorcloudy The issue you re reffering to might be related.  The error message is way too long and it is hard to find the exact position where it started.

Way above, it starts with some INFO, but this should not be a problem

`bazel-out/x64_windows-opt/genfiles/external/protobuf_archive/src: warning: directory does not exist`

The final error message:

[code]

And before that a reoccuring patte

[2018-09-25 11:00] kami93 commented on #22269
Thank you for your response.
In accordance with your instructions, I have updated the Bazel up-to-date version (0.17.2). Unfortunately, the same error is still occuring.

Here is the full (as much as I could copy from bash) output.
[https://pastebin.com/j2PXPbBa](https://pastebin.com/j2PXPbBa)

Also, here is the full configure that I used for the compilation.
[https://pastebin.com/syJmPGPb](https:

[2018-09-25 11:54] skang29 commented on #22143
Sure. I'll post the solution as soon as I get the answer.

[2018-09-25 11:58] meteorcloudy commented on #22338
@Croolman The error you showed here are warnings. You can redirect the output to a file and search for `error:`

[2018-09-25 12:01] yashkumaratri commented on #20929
@grilhami How did you solve this issue, I am having the exact same issue.

Dataset lookup

X_train,y_train,len(X_train),len(y_train)

[code]
Then wrote few lines

[code]
and got this

`ValueError: Tensor conversion requested dtype float32 for Tensor with dtype float64: 'Tensor("concat:0", shape=(?, 119), dtype=float64)'`

Later tried this

[2018-09-25 12:23] jamesdeep opened #22499 "Can not run benchmark on android using "tensorflow/tensorflow/tools/benchmark""
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
android and Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
Xiaomi Max2
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFl

[2018-09-25 12:30] felonwan commented on #16761
Have you solved this issue?

I have a similar error. I changed int to int64 from line 165 to line 172 in tensorflow/blob/master/tensorflow/core/kernels/maxpooling_op.cc, then compiled tensorflow using bazel and install the whl file. But it still does not work.

[2018-09-25 12:38] tensorflowbutler commented on #22488
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-25 12:38] tensorflowbutler commented on #22490
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-25 12:38] tensorflowbutler commented on #17540
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-25 12:39] tensorflowbutler commented on #18177
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-25 12:39] tensorflowbutler commented on #19198
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-25 12:39] tensorflowbutler commented on #20475
Nagging Assignee @robieta: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-25 12:39] tensorflowbutler commented on #20833
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-25 12:39] tensorflowbutler commented on #21255
Nagging Assignees @josh11b, @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-25 12:39] tensorflowbutler commented on #21574
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-25 12:39] tensorflowbutler commented on #21799
Nagging Assignees @robieta, @omalleyt12: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-25 12:39] tensorflowbutler commented on #21834
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-25 12:39] tensorflowbutler commented on #21873
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-25 12:39] tensorflowbutler commented on #22093
Nagging Assignee @jch1: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-25 12:40] tensorflowbutler commented on #22105
It has been 19 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-25 12:40] tensorflowbutler commented on #22121
Nagging Assignee @cy89: It has been 18 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-25 12:40] tensorflowbutler commented on #22123
Nagging Assignee @bignamehyp: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-25 12:40] tensorflowbutler commented on #22146
Nagging Assignee @robieta: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-25 12:40] tensorflowbutler commented on #22171
Nagging Assignee @rachellim: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-25 12:40] tensorflowbutler commented on #22174
Nagging Assignee @robieta: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-25 12:40] tensorflowbutler commented on #22179
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-25 12:40] tensorflowbutler commented on #22180
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-25 12:56] basejn commented on #15239
Is this issue fixed now. Because i get the same error with 1.9

[2018-09-25 13:14] jamesdeep opened #22500 "I get "Session was not created with a graph before Run()" while running official TFLite Model Benchmark Tool on Android!"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
android and Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
Xiaomi Max2
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFl

[2018-09-25 13:18] mpaillassa commented on #22025
Any news about this ?

I do not know if this can help but in fact the documentation of the function is correct for the CPU behaviour, Plus, the function has been available first on GPU and on a later TF version for CPU.
I guess that there was a wrong doc when the function was available only for GPU, and that when it has been later implemented for CPU, it has been inspired from the doc, leading to

[2018-09-25 13:19] Croolman commented on #22338
@meteorcloudy  Allrighty, this should be it

[code]
The second one:
`  external/protobuf_archive/src\google/protobuf/arena.h(338): error: static assertion failed with "CreateArray requires a trivially destructible type"`

This first one seems like an incompatible configuration settings. The only extra thing I have set is the compute capability - 6.1. I have tried building it with default - 3.5 and

[2018-09-25 13:31] NikishinRoman opened #22501 "Quantization Error: Converting unsupported operation: Elu"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **TensorFlow installed from (source or binary)** : pip install
- **TensorFlow version (use command below)**: 1.10.1
- **Python version**:3.6
- **GPU model and memory**:NVIDIA 1080
- **Exact command to reproduce

[2018-09-25 13:37] meteorcloudy commented on #22338
Can you try to build with CUDA v9.0? That is a known working version.

[2018-09-25 13:39] wdirons commented on #22400
@ghltshubh , Any luck with your build?

[2018-09-25 13:43] SimKuanGOH opened #22502 "LookupError when computing tf.gradients of DepthwiseConv2dNativeBackpropInput"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Anaconda
- **TensorFlow version:  v1.10.0-rc0-0-g586a7f1d2c 1.10.0-rc0
- **Python version : 3.6
- **CUDA/cuDNN version**: 9.0 / 7.3
- **GPU model and memory**: Titan X

### Describe the problem
I got a LookupError when computing tf.gradients()

Look

[2018-09-25 14:00] killpy opened #22503 "Training tfgan to restore VMP"
I want to use this to restore VMP.What information can I refer to?

[2018-09-25 14:33] linlin860320 commented on #22305
I had read this article: https://towardsdatascience.com/detecting-pikachu-on-android-using-tensorflow-object-detection-15464c7a60cd

In the end of article, the writer said that he has encounter problem that let his model run on android.

So I think maybe I have the same problem and then go to check my "export_inference_graph.py", but I not found any parameter is "optimize_graph".
 Is any one has s

[2018-09-25 15:14] naoto0804 commented on #22012
That's really straightforward way, thank you for the suggestion!

[2018-09-25 15:30] wdirons commented on #22400
I renamed the build on Friday to include GPU in the name :) The URL is now:

 https://powerci.osuosl.org/job/TensorFlow_Ubuntu_16.04_PPC64LE_GPU_Release_Build/

[2018-09-25 15:40] taotaolin commented on #22338
What is TMP environment variable?My Realse version has been compiled successfully, and the Debug version has gone wrong. I think there should be no problem with environment variables.

[2018-09-25 15:49] karmel commented on #22485
@omalleyt12 , can you take a look? This seems to be one of the checks run in standardize_input_data.

[2018-09-25 16:11] eddie-zhou commented on #19903
Thanks for your thoughts, @jonasrauber!  I do agree that it can be useful in many settings, but by not being prescriptive in the API, we intentionally force users to explicitly think about exactly what variables they want to warm-start, and whether or not it is appropriate for their task.  Does that make sense?

[2018-09-25 16:16] dblueeye opened #22504 "Weird behaviour of back propagation in a while_loop in Tensorflow"
- **Have I written custom code: Yes
- **OS Platform and Distribution: Windows 10 (primary), Ubunto 16.04.3 LTS (secondary)
- **TensorFlow installed from (source or binary): Binary
- **TensorFlow version (use command below): b'v1.10.0-rc1-19-g656e7a2b34' 1.10.0
- **Python version: Python 3.6.6 :: Anaconda, Inc.
- **CUDA/cuDNN version**: N/A (not relevant)
- **GPU model and memory**: N/A (not releva

[2018-09-25 16:20] brianwa84 commented on #22349
@jvdillon fyi

[2018-09-25 16:29] omalleyt12 commented on #21799
Hi @dlfelps are you still seeing this problem with the latest tf-nightly-gpu?

[2018-09-25 16:33] omalleyt12 commented on #22485
Yep will do

[2018-09-25 16:48] jvdillon commented on #22349
Hi Marcus. Thanks for your feedback.

This is actually by design; TFP tries to incur as little overhead as possible by assuming the input is "correct." That said, fill_triangular_inverse is idiomatically inconsistent with distributions in that it doesnt have a validate_args. If it did, then validate_args=True should produce an error in the case you describe.

Given this this I see two fixes we sho

[2018-09-25 16:52] vibss2397 opened #22505 "Lookup Error : Gradient Registry has no entry for StatefulPartitionedCall"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command be

[2018-09-25 16:53] harshini-gadige commented on #22413
@alextp  Any suggestions for the above ?

[2018-09-25 16:53] obg2sens opened #22506 "toco fails to convert to tflite "TypeError: 'NoneType' object has no attribute '__getitem__'""
`toco --graph_def_file=frozen_inference_graph.pb --input_format=TENSORFLOW_GRAPHDEF --output_format=TFLITE --output_file=oren.tflite --inference_type=QUANTIZED_UINT8 --input_type=FLOAT --input_arrays=ImageTensor --output_arrays=SemanticPredictions --input_shapes=1,321,321,3`

2018-09-25 19:48:04.857732: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this T

[2018-09-25 17:00] jsimsa commented on #22465
ok

[2018-09-25 17:00] ymodak commented on #21871
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-25 17:00] #21871 closed

[2018-09-25 17:01] ctrlbrett commented on #16875
Is there any way the community can help move this along? Maybe an experimental release can be created? This feature would be very useful.

[2018-09-25 17:02] ymodak commented on #21844
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-25 17:02] #21844 closed

[2018-09-25 17:08] alextp commented on #22413
@IMBurbank 's suggestions look great to me. Let's wait for the pull request and then close this issue.

[2018-09-25 17:30] gunan commented on #22445
@nelsyeung You are right. I apologize for the misleading information I provided.
Looks like the top level modules under tensorflow are expected to work like that, at least for now.
However, we have no tests that verify these work. Therefore, any breakages on this has been invisible to us.

[2018-09-25 17:30] anj-s commented on #21767
@AmberCheng What version of TensorFlow are you using? Can you try with the latest version? If you still get this error, can you post a snippet of code that reproduces the issue?

[2018-09-25 17:37] xiaomin05 commented on #22424
Here is the requested info:
=================================
Have I written custom code
Ans: No
 OS Platform and Distribution
Ans: Ubuntu userland 16.04
 TensorFlow installed from
Ans: https://github.com/tensorflow/tensorflow, tag: v1.10.0
 TensorFlow version
Ans: v1.10.0
 Bazel version
Ans: v0.15.2
 CUDA/cuDNN version
Ans: not used
 GPU model and memory
Ans: not used
 Exact command to reproduce

[2018-09-25 17:40] gunan commented on #19770
Looks like I used this version:
$ gcc --version
gcc (Ubuntu 7.3.0-16ubuntu3) 7.3.0
Copyright (C) 2017 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

The error you see looks like there is a BUILD dependency problem in tf lite.
Do we need TF lite linked into TF for

[2018-09-25 17:43] #21204 closed

[2018-09-25 17:45] ghltshubh commented on #22400
I don't get it why am I getting this error. I even created a symlink `ln -s /autofs/nccs-svm1_home1/shubhankar/cuda/targets/ppc64le-linux/include/cudnn.h /autofs/nccs-svm1_home1/shubhankar/cuda/targets/ppc64le-linux/lib/cudnn.h`
[code]

[2018-09-25 17:47] jonasrauber commented on #19903
@eddie-zhou In principle I agree with the approach of _forcing explicit decisions_ (though I guess most ML researchers prefer more practical defaults like _restoring everything_). But in the case here, TensorFlow is not actually forcing an explicit decision, it's defaulting to a non-intuitive behavior (restoring layer-params, but not batch-norm params) that can cause silent bugs that may go unnoti

[2018-09-25 17:51] gunan commented on #22390
@angersson if we are doing another RC, yes.
If not, I would wait until 1.12

[2018-09-25 17:57] cslr commented on #446
I have implemented L-BFGS optimizer in my dinrhiw2 C++ machine learning library. When implemented well line search doesn't take that much time and seem to be get results equally fast than with first order optimizers. For some problems L-BFGS can seem to be able to side-step some local minimas and get better results.

https://github.com/cslr/dinrhiw2/blob/RBM_test/src/math/LBFGS.cpp

[2018-09-25 17:58] vishalsubbiah commented on #22216
This is the input for the code
[input.txt](https://github.com/tensorflow/tensorflow/files/2416432/input.txt)

The code is:
[code]

this is the stacktrace of the error:
[code]

[2018-09-25 18:11] tychota commented on #22285
@reedwm

That was what bugged me also. When i tried to looks https://github.com/tensorflow/tensorflow issues for already existing bugs, the similar bugs were coherant (even if I have no idea what that actually means in detail).

@zhangyaobit

(note that I have given a reproductible example, clearly not minimal in the first post : have you seen it ?)

I would love to but I did not find anyway to do

[2018-09-25 18:31] wdirons commented on #22400
In .tf_configure.bazelrc
build --action_env CUDNN_INSTALL_PATH="/autofs/nccs-svm1_home1/shubhankar/cuda/targets/ppc64le-linux/lib"

need to drop the /lib at the end and change to:
build --action_env CUDNN_INSTALL_PATH="/autofs/nccs-svm1_home1/shubhankar/cuda/targets/ppc64le-linux"

It looks for CUDNN_INSTALL_PATH/include/cudnn,h

[2018-09-25 18:35] hesenp commented on #20283
hey folks @cy89 @ringw

I happen to have stumbled upon this issue for some of my research and am wondering what would be the plan here?

My thought is quite aligned with what @ZigaSajovic 's solution: for truncated univariate distributions with simple left or right truncation, have a wrapper class that wraps around the base distribution and make adjustment on the PDF and CDF. I think this is consi

[2018-09-25 18:44] PinkySan commented on #21880
Do you rename the generated file from *.so into *.dll or do you rename it in the sh-file? Why does bazel not provide an OS independent target?

[2018-09-25 18:44] ymodak commented on #22384
@mayou36 The fix has been pushed. #22420 Can you please confirm it?

[2018-09-25 18:44] jonasrauber commented on #19903
That _Note_ is certainly helpful, but maybe you can make it more prominent. Also: adding an explanation _how_ to change this (how to also restore accumulators) might help (in particular in situations like the one I described when opening this issue).

In any case: Thanks a lot for listening to our feedback :)

[2018-09-25 18:50] gunan commented on #22099
@meteorcloudy @mrry to help
I cannot see any problems.
Only potential is, is it possible when we override EIGEN_STRONG_INLINE on windows something weird happens here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/softmax_op_gpu.cu.cc#L38

[2018-09-25 19:05] vvigilante opened #22510 "Tensorflow lite aborts due to "pure virtual method called" on Raspberry Pi"
Hello.
I compiled the library as described in
https://www.tensorflow.org/lite/rpi

When running
`./benchmark_model --graph=mobilenet_v1_1.0_224.tflite`
or
`./minimal mobilenet_v1_1.0_224.tflite`

it crashes with the following output:
[code]

I tried to debug the problem myself: it occurs in a secondary thread.
Some function that is called from
`EigenForTFLite::NonBlockingThreadPoolTempl<EigenForTF

[2018-09-25 19:07] tensorflowbutler commented on #22492
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-25 19:07] tensorflowbutler commented on #22495
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-25 19:07] tensorflowbutler commented on #22496
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-25 19:07] tensorflowbutler commented on #22497
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
Mobile device

[2018-09-25 19:07] tensorflowbutler commented on #22498
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
CUDA/cuDNN version
GPU model and memory
Mobile device

[2018-09-25 19:33] bhack commented on #19903
I think that frequent routines need to be automated in the API then flexibility could be useful for less frequent use cases.

[2018-09-25 19:49] ghltshubh commented on #22400
I even copied cudnn.h to /autofs/nccs-svm1_home1/shubhankar/cuda/targets/ppc64le-linux/lib directory but it still can't find it.

[2018-09-25 19:59] eliorc commented on #22497
Editted :man_facepalming:

[2018-09-25 20:09] zanes2016 commented on #22359
Any suggestions or feasible workarounds?

[2018-09-25 20:12] kazemSafari commented on #17553
Thanks you so much mrry. I guess your answer has helped me multiple times. I really hate tensorflow. I will move on to pytorch soon. But thanks again.

[2018-09-25 20:20] harshini-gadige commented on #22359
@yongtang Any inputs ?

[2018-09-25 20:48] terrykong opened #22511 "[Feature Request] DistributionStrategy example not using Keras or estimator API"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**:
- **TensorFlow version (use command below)**:
- **Python ver

[2018-09-25 20:59] zhangjinhong17 commented on #15805
@jyoungyun , Sorry to bother you again. I use bazel to build Summarize_graph, and found summarize_graph can only accept *.pb as input. Could you give me more detail about how to summarize the tflite? My tflite model is far bigger than pb model, It can't work, I don't have any idea to debug it.

[2018-09-25 21:04] mike199515 commented on #21248
Cool, thanks!

[2018-09-25 21:10] priyankjain commented on #21417
@karmel There are models where the index.variables file is not there, yet the model/graph is valid and ready for inference. Models with no variables should fall under this category. An example would be an additive model:
[code]

[2018-09-25 21:33] wdirons commented on #22400
The whl file was compiled on an Ubuntu 16.04 system with glibc 2.22. I'm asking around if there is a way to compile it for an older version of glibc.

For the message:
[code]
it is looking for a lib64 (and not the lib directory) for libcudnn.so.7. Maybe symlink lib64 to lib?

[2018-09-25 21:38] ppwwyyxx commented on #15002
Like I said my cuda is not installed under a directory named "cuda", so none of the "../../" trick will work for me.

[2018-09-25 21:39] Overdrivr opened #22512 "Installation issue with Tensorflow-cpu, no module named '_pwyrap_tensorflow_internal'"
### System information

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 server in desktop mode
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: NA
- **TensorFlow installed from (source or binary)**: binary
- **TensorF

[2018-09-25 21:59] sharmaGIT commented on #14048
I am getting the same issue with window 10, tensorflow 1.10 and cuda 9.0. The error is
2018-09-25 17:15:39.657620: E T:\src\github\tensorflow\tensorflow\stream_executor\cuda\cuda_blas.cc:459] failed to create cublas handle: CUBLAS_STATUS_ALLOC_FAILED
2018-09-25 17:15:39.657926: E T:\src\github\tensorflow\tensorflow\stream_executor\cuda\cuda_blas.cc:459] failed to create cublas handle: CUBLAS_STATU

[2018-09-25 22:16] axch commented on #22481
`tf.contrib.distributions` are deprecated in TensorFlow; development has migrated to https://github.com/tensorflow/probability/tree/master/tensorflow_probability/python/distributions, including `sample_stats.py`.  This issue will be addressed there.

I presume the source of the problem is that percentile relies on sort+index, but NaN values do not sort consistently: both NaN < x and x < NaN are al

[2018-09-25 22:17] gunan commented on #22269
OK, this gives me much more information, thanks!
Here is the compilation error:
[code]

Looking at that last part of the error, I found this:
https://www.bountysource.com/issues/49075870-compilation-error-loader-resourceloader-h-101-100-error-std-function-has-not-been-declared-loader-resourceloader-h-101-108-error-expected-or-before-token

Looks like this can be something in latest gcc, @jlebar @A

[2018-09-25 22:27] axch commented on #21909
This test is now gone from TF.

[2018-09-25 22:27] #21909 closed

[2018-09-25 22:28] jvdillon commented on #22481
Always tough to decide how to handle NaN.  I think the best thing would be to add `validate_args` which when true would enable an assertion which fires on detection of NaN.

I think we should be hesitant to more aggressive pruning since this would potentially incur a cost whether or not you actually had NaNs. (And TFP has a strict "only pay for what you eat" policy.)

Thoughts?

[2018-09-25 22:29] jlebar commented on #22269
[code]

Looks promising.  And looks like this change is not in v1.10.1:

[code]

[2018-09-25 22:29] harshini-gadige commented on #22502
@reedwm Can this be added to "Contributions Welcome" as a feature request ?

[2018-09-25 22:33] facaiy commented on #15239
The PR has been merged, so I think the issue is fixed. Could you give an example?

[2018-09-25 22:36] axch commented on #22481
I don't think the cost is that bad: The function already does a complete sort, so the NaN check should be asymptotically cheaper.  There shouldn't be any control flow, either: compute a mask of which batch members have NaNs, then tf.where on that mask to select either NaN or the sort+index result.

I don't think this is a job for `validate_args` -- having a NaN argument isn't invalid, it just mean

[2018-09-25 22:39] jvdillon commented on #22481
`allow_nan_stats=True` sgtm.  However our policy is pretty strict, asymptotic costs or otherwise. We could add another percentile function which masks `NaN`, however that seems weirdly specific. Can you make a case why this should be handled on the TFP side? Ie, a user can do this today:

   percentile(tfp.where(tf.isnan(x),tf.zeros_like(x),x))

The advantage of this is its fully self-documenting

[2018-09-25 22:53] harshini-gadige commented on #22495
@cvJie Hi, can you try using this "with tf.device("/gpu:0"):"  Something like as shown below :

import tensorflow as tf
with tf.device("/gpu:0"):
- - -
- - -(your code)

[2018-09-25 23:07] harshini-gadige commented on #22503
@killpy Hi, you may refer this which has information about using tfgan with some examples.

[2018-09-25 23:09] #22503 closed

[2018-09-25 23:34] gunan commented on #18652
Still blocked by https://github.com/tensorflow/tensorflow/issues/19198, which is blocked by some internal issues we are having with eigen.
Will update when we have a resolution.

[2018-09-25 23:52] liutingchen commented on #20444
works for me!

[2018-09-26 00:21] dhingratul opened #22514 "Assertion `d.nbDims >= 3' failed with int8 for Tensorflow TensorRT integration"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-26 00:37] samikama commented on #22514
@dhingratul ,

do you have a reproducer? I guess what you put above is missing model.pb. As a side note, unless you have a tiny model, setting max batch size to 99999 is a bad idea.

[2018-09-26 00:49] tensorflowbutler commented on #22501
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
CUDA/cuDNN version
Mobile device

[2018-09-26 00:49] tensorflowbutler commented on #22504
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
Mobile device

[2018-09-26 00:49] tensorflowbutler commented on #22506
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-26 01:17] ymodak commented on #22504
@dblueeye A quick debugging tells me that error arises when the code triggers following line:
X_val, graVal, = sess.run([finalOutX, gra]) in your script.

[2018-09-26 01:28] aganatramoat commented on #868
Click on the 'raw' button and then the url `https://raw.githubusercontent.com/tensorflow/tensorflow/master/tensorflow/examples/udacity/1_notmnist.ipynb` turns up. Thats the json representation

[2018-09-26 02:34] benshi001 commented on #22490
[[Have I written custom code]]
    no. pure checkout of branch 1.9
[[OS Platform and Distribution]]
    ubuntu 16.04 / amd64
[[TensorFlow installed from]]
    git clone https://github.com/tensorflow/tensorflow
[[TensorFlow version]]
    git checkout remotes/origin/r1.9
[[Bazel version]]
   0.15.2
[[CUDA/cuDNN version]]
    not used
[[GPU model and memory]]
    not used
[[Exact command to reproduce

[2018-09-26 02:35] u2takey commented on #22339
thanks @av8ramit, seems my filesystem plugin works fine since image 1.8, so i will give up filesystem plugin support before 1.7. Closed.

[2018-09-26 02:35] #22339 closed

[2018-09-26 02:42] alexfru opened #22516 "TF Lite QuantizationUtilTest failure/bug"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MIPS32 Linux
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use comma

[2018-09-26 02:42] benshi001 commented on #22490
I also failed to build to Android Studio 3.2, with error message:

	Could not find com.android.tools.build:aapt2:3.2.0-4818971.
	Searched in the following locations:
	    file:/home/local/SPREADTRUM/ben.shi/android/sdk/extras/m2repository/com/android/tools/build/aapt2/3.2.0-4818971/aapt2-3.2.0-4818971.pom
	    file:/home/local/SPREADTRUM/ben.shi/android/sdk/extras/m2repository/com/android/tools/bu

[2018-09-26 02:43] dingevin commented on #22007
hi ， @mhorikos， thank you very much.

[2018-09-26 02:54] dblueeye commented on #22504
@ymodak. That was not the real source, IMHO.  You'll see if you change the tf.add(X,X) to tf.multiply(2.0, X).

[2018-09-26 02:54] dingevin commented on #22007
hello @tensorflowbutler , the same issue was disappear when I compiled older versions(1.8.0). At the beginning i was just executed the command: git clone https://github.com/tensorflow/tensorflow.git,  i thought it git the latest version.

[2018-09-26 02:56] dblueeye commented on #22504
They are not relevant. I installed from the binary and not from the source, and I have not tried on a mobile device (I don't think I'll ever be trying:)).

[2018-09-26 02:57] IMBurbank commented on #22413
Submitted as PR #22517

[2018-09-26 03:02] marchss commented on #10679
@abishgj-rzt  How did you handle the timeout now? I am also facing the same issue.

[2018-09-26 03:25] fengyang0317 opened #22518 "Support for NVIDIA Video Loader (nvvl)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use

[2018-09-26 03:35] freedomtan commented on #22506
as you can see from the `tensorflow/contrib/lite/python/convert.py`, for `--inference_type=QUANTIZED_UINT8`,  `--std_dev_values` and ` --mean_values` are anticipated.

[2018-09-26 04:02] yanboliang commented on #22479
@nairouz
There are two issues in your code:
* You can't use ```model.layers.pop()``` to remove the last layer in the model. In ```tf.keras```, ```model.layers``` will return a shallow copy version of the layers list, so actually you don't remove that layer, just remove the layer in the return value.
* If you want to remove the last dense layer and add your own one, you should use ```hidden = Dense

[2018-09-26 04:03] freedomtan commented on #22499
unbalance delimiter `"`. Use something like
[code]
or
[code]
instead. I'll send a PR to update the doc later.

[2018-09-26 04:51] jasstionzyf commented on #22447
@harshini-gadige
currently i can not reproduce the  issues, so will close it !

[2018-09-26 04:51] #22447 closed

[2018-09-26 04:57] Croolman commented on #22338
@meteorcloudy I cant really use cuda v9 in my enviroment, so I cannot try to build with v9

[2018-09-26 05:13] zuhak opened #22520 "Issue in running tensorflow"
Traceback (most recent call last):
  File "C:\Users\zuha\AppData\Local\Programs\Python\Python36\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 14, in swig_import_helper
    return importlib.import_module(mname)
  File "C:\Users\zuha\AppData\Local\Programs\Python\Python36\lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:],

[2018-09-26 05:29] freedomtan commented on #22500
It seems the one you ran is the TF benchmark_model rather than the TF Lite one. Please check it.

[2018-09-26 05:33] terrykong commented on #22511
I see. I can start looking there. I was trying to find a good starting point to trying out CollectiveAllReduceStrategy. What I'm interested in is an alternative to Horovod, and this looks like the way to do it.

[2018-09-26 05:37] christisg commented on #21417
It's not acceptable to crash serving because of a missing variables.index file for one of the models.
Would it make sense to make the Python implementation consistent with C++? i.e. can we reconsider throwing exception in this case?
@chrisolston for additional perspective.

[2018-09-26 05:41] guptapriya commented on #22511
In that case I think this is a better place to start, as CollectiveAllReduceStrategy requires additional setup:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/distribute/python/collective_all_reduce_strategy_test.py

[2018-09-26 05:45] facaiy commented on #21873
I'll close the issue, please be free to reopen it if new information becomes available.

[2018-09-26 05:45] #21873 closed

[2018-09-26 05:52] fanshiqing commented on #22465
@jsimsa Thanks for your detailed reply, initial PR will be proposed within the next 3-4 days.

[2018-09-26 06:10] mrsabhar commented on #22459
I'm also seeing similar issue with below command line . I did try different TF version (1.9, 1.10, 1.11) but all gives similar error
bazel test -c opt -- //tensorflow/... -//tensorflow/compiler/... -//tensorflow/contrib/lite/...

[2018-09-26 06:18] Akhtar303nu commented on #22480
Thanks @karmel  I have tried it with full path but genrate same error

[2018-09-26 06:33] gunan commented on #22400
Based on our experience with x86, there is no straightforward way to do it.
You can statically link glibc and libstdcxx into your binary, but that can cause other problems.

[2018-09-26 06:34] gunan commented on #10649
nodejs binary is used by tensorboard, I think.
In TF we should not be downloading and using any binaries, except if you enable MKL support.

Should this be filed against tensorboard repository?

[2018-09-26 06:35] gunan commented on #10306
Looks like the reported initial issue was resolved?
And it seems to me the reported issues may be caused by tensorboard.

[2018-09-26 06:35] #10306 closed

[2018-09-26 06:37] gunan commented on #10649
Closing under TF as we should not have nodejs dependency anymore in TF.

[2018-09-26 06:37] #10649 closed

[2018-09-26 06:40] gunan commented on #22520
As the issue is missing a lot of information from the template, I will close this as a duplicate of https://github.com/tensorflow/tensorflow/issues/19584
That's my best guess with the information here.

[2018-09-26 06:40] #22520 closed

[2018-09-26 06:41] tensorflowbutler commented on #22510
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-26 06:41] tensorflowbutler commented on #22512
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Exact command to reproduce

[2018-09-26 06:42] #22500 closed

[2018-09-26 06:56] #22499 closed

[2018-09-26 06:59] vyepishov opened #22522 "crosstool_wrapper_driver_is_not_gcc failed: error executing command"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-26 07:07] vvigilante commented on #22510
Hello. Here is the form:

No

Raspbian 8 Jessie

Source

r1.11

No

No

No

./benchmark_model --graph=mobilenet_v1_1.0_224.tflite

Raspberry Pi 3B+

[2018-09-26 07:45] conser12 commented on #18060
@dimitryn I have the same problem, have you solved this by using these includes?
#include "tensorflow/contrib/lite/kernels/register.h"
#include "tensorflow/contrib/lite/model.h"
#include "tensorflow/contrib/lite/string_util.h"
#include "tensorflow/contrib/lite/tools/mutable_op_resolver.h".

I find "flatbuffers/flatbuffers.h" is a third-party library, do we need to install it additionally?

[2018-09-26 07:48] David-Mao opened #22524 "assign_add seems giving wrong and random results in broadcasting"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Darwin localhost 17.5.0 Darwin Kernel Version 17.5.0: Fri Apr 13 19:32:32 PDT 2018; root:xnu-4570.51.2~1/RELEASE_X86_64 x86_64
Mac OS X 10.13.4
- **TensorFlow installed from (source

[2018-09-26 07:58] dimitryn commented on #18060
@conser12  we using this include
in h file
#include "tensorflow/contrib/lite/string_util.h"
#include "tensorflow/contrib/lite/model.h"
#include "tensorflow/contrib/lite/context.h"
#include "tensorflow/contrib/lite/interpreter.h"
#include "tensorflow/contrib/lite/kernels/register.h"
#include "tensorflow/contrib/lite/kernels/internal/tensor.h"
in cpp
#include <tensorflow/contrib/lite/context.h>
#inc

[2018-09-26 08:04] conser12 commented on #16219
@lllidan-yuandian 您好，问题解决了吗？我看你编译时有引入flatbuffers："/usr/include/flatbuffers/include"，是需要单独安装吗？
我现在编译时遇到的问题就是报缺少flatbuffers的错误，能说下怎么解决这个问题吗？
这是我的include:
#include "tensorflow/contrib/lite/kernels/register.h"
#include "tensorflow/contrib/lite/model.h"
#include "tensorflow/contrib/lite/string_util.h"
#include "tensorflow/contrib/lite/tools/mutable_op_resolver.h"

[2018-09-26 08:08] gkorland commented on #16927
@bignamehyp Was the example ported to use  tf.nn.batch_normalization? I'm still getting this warning with the latest.

[2018-09-26 08:27] farnazJz commented on #7521
I wanted to occupy only 5 cores out of 40, and to do this I set the  session configuration as follows:

`session_conf = tf.ConfigProto( intra_op_parallelism_threads=1, inter_op_parallelism_threads=1)`

`sess = tf.Session(config=session_conf)`

 Try it and if you had any problem, let me know.

[2018-09-26 08:30] scamples opened #22525 "kernel version 384.130.0 does not match DSO version 375.66.0 -- cannot find working device"
2018-09-26 16:20:01.272192: I tensorflow/core/platform/cpu_feature_guard.cc:137] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX
2018-09-26 16:20:01.273306: E tensorflow/stream_executor/cuda/cuda_driver.cc:406] failed call to cuInit: CUDA_ERROR_NO_DEVICE
2018-09-26 16:20:01.273383: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:158] retr

[2018-09-26 08:32] scamples commented on #22525
Who can help me solve this problem?

[2018-09-26 08:35] farnazJz commented on #7521
@ivan-aksamentov
When you run `htop` command on your terminal, your terminal will display those colors. :)

[2018-09-26 08:35] hwong39 commented on #20067
"CudnnCompatibleGRUCell. A GRU impl akin to tf.nn.rnn_cell.GRUCell to use along with tf.contrib.cudnn _rnn.CudnnGRU. The latter's params can be used by it seamlessly."
--How can CudnnCompatibleGRUCell get weights and biases from CudnnGRU's params ???

[2018-09-26 08:37] byronyi commented on #22525
You CUDA driver configuration isn't entirely correct.

Try `nvidia-smi` and `sudo demsg` and paste their output.

[2018-09-26 08:39] 7oud opened #22526 "How to reset per_process_gpu_memory_fraction in tf using c++?"
I have develop two applications based on tf in c++ language, these applications are served as libraries. In the caller execuable program, library1 is called then library2. In library1 initialization,  gpu memory fraction is set to 0.5, run some inference, and session closed. then library2 is called, gpu memory fraction is set to 0.8, but the setting can not work, gpu memory allocation did not chan

[2018-09-26 08:44] Overdrivr commented on #22512
I've updated the form accordingly

[2018-09-26 08:59] maitreya2954 commented on #22482
Hey @harshini-gadige
Here is the code for which i am facing the issue
## Keras model
[code]
## Inferencing into protobuf file
[code]
## Android
[code]

[2018-09-26 09:03] annarev commented on #22445
I just tried GPU build (with Python 2.7 this time). "from tensorflow import keras" works fine.

For GPU build, I also had to set nccl and cudnn, but the other steps were the same.

[2018-09-26 09:35] sosong commented on #16219
@conser12 Have you have some idea? I have the same problem.

[2018-09-26 09:36] sosong commented on #15781
@acappemin Have you solved the problem?

[2018-09-26 09:38] ChengduoZhao opened #22527 "[Compile Error] Compiling tf r1.8 from source in cuda9.0_cudnn7.0 container failed."
When I compile tf r1.8 from source in cuda9.0_cudnn7.0 container following this [doc](https://www.tensorflow.org/install/source), I encountered error, the error is:
[code]

[2018-09-26 09:39] sosong commented on #18995
@timedilation  Have you  solved this problem?

[2018-09-26 09:41] yongtang commented on #22455
@snuzxj Can you share your system information (Ubuntu, gcc version, etc), as was requested when you opened the issue?

[2018-09-26 09:50] chsigg commented on #19222
The depthwise convolution kernel does not use the tensor cores. The regular convolutions forward to cuDNN, which does use the tensor cores.

In the medium term, we want to use cuDNN for depthwise convolutions as well, which will fix this discrepancy.

[2018-09-26 09:50] #19222 closed

[2018-09-26 10:04] duane-ibm commented on #19770
Hi @gunan ,

Have you successfully been able to build Tensorflow v1.8.0 on UB 16.04?
Do we need TF lite linked into TF for s390x? =>  We are not sure about this, any suggestions from you?

[2018-09-26 10:04] chsigg commented on #16798
Hi Seguin, I'm very sorry about the slow response time.
I agree this looks like a cuDNN bug, and should have been fixed in cuDNN 7.1.3.

[2018-09-26 10:04] #16798 closed

[2018-09-26 10:14] abladdha opened #22528 "TfLite Quantization Failure: Array dense_prev, which is an input to the Concatenation operator producing the output array dense_input, is lacking min/max data,"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.11.0-rc1
- **Python version**: 2.7

### Describe the problem
I am trying to save Quanti

[2018-09-26 10:40] jvlmdr opened #22529 "Feature request: Make contrib.receptive_field extensible"
### System information
- **TensorFlow version (use command below)**: 1.8.0

### Describe the problem

For the problem I am working on, I need to compute a cross-correlation where the filters are a function of some inputs, i.e. `c_i = conv2d(f(a_i), g(b_i))` for the `i`-th example `(a_i, b_i)` in the batch. After doing this, the receptive field of `c` with respect to `a` is still well-defined.

I c

[2018-09-26 10:48] dimakarp1996 commented on #8773
@asimshankar   Thanks for your explanation, but I still have problems building Tensorflow C++ library for Windows 10, even for CPU. I have replaced tensorflow_jni.so with tensorflow_jni.dylib in libtensorflow_cpu.sh and in BUILD file. I have also replaced libtensorflow.so with libtensorflow.dll and libtensorflow_cc.so with libtensorflow_cc.dll in these two files, as advised in one of the comments.

[2018-09-26 10:49] AlessioTonioni opened #22530 "Inconsistent behaviour of tf.range"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: No
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use

[2018-09-26 11:00] nelsyeung commented on #22445
I feel like that I must be missing some sort of environment variables, since this is a cluster a lot of the paths has to be set myself, can someone please check whether I'm missing anything:
[code]
The only real clue to what's wrong is that I can import Tensorflow with no errors, but just that none of its functions or sub-modules work.

I'll recompile everything later and give my full reproduction

[2018-09-26 11:40] Overdrivr commented on #22512
@ymodak I have made some progress. It turns out, I was building tensorflow from an Anaconda shell. I removed Anaconda and installed standard python 3.6.6 64 bits.

By doing so, the initial problem went away.
Executable runs fine on the build machine.

However, if I transfer the standalone application to another machine, it fails with the following error:

[code]

Here is the code to reproduce:

[c

[2018-09-26 11:58] qyyy commented on #22344
Thank you! What's the `hello world` MPI test program? I can test the [mpi docker image](https://github.com/Microsoft/pai/blob/master/examples/Dockerfiles/cuda8.0-cudnn6/Dockerfile.build.mpi) too.

[2018-09-26 12:01] chsigg commented on #19690
The all-sum documentation mentions that you need to evaluate all outputs, otherwise it will hang. You are not evaluating x_temp.

Also, all_sum should not be called under a device context. All (GPU) devices of the inputs automatically participate in this op.

[2018-09-26 12:01] #19690 closed

[2018-09-26 12:22] curtpm opened #22531 "Android tfLite Shared STL support"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Android
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
Android
- **TensorFlow installed from (source or binary)**:
N/A
- **TensorFlow version (use command

[2018-09-26 12:34] monInspiration opened #22532 "Tensorflow quantization on Windows"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04, Windows 10
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: -
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow ve

[2018-09-26 12:35] meteorcloudy commented on #21880
@PinkySan you can just rename the generated file. The reason it's still generating a .so file on Windows is because the .so extension is embedded in the target name. This issue will be resolved in the future. Sorry for the trouble.

[2018-09-26 12:35] chrisolston commented on #21417
+1 on not crashing the server if the variables.index file is absent. SGTM to throw an exception instead. Thanks @karmel !

[2018-09-26 12:35] davypepe commented on #22412
@wt-huang Thanks! I'll try that out and close the issue for now! 😎

[2018-09-26 12:35] #22412 closed

[2018-09-26 12:42] tensorflowbutler commented on #22516
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
CUDA/cuDNN version
GPU model and memory
Mobile device

[2018-09-26 12:48] Overdrivr commented on #22512
I finally managed to catch the exception happening at import time, application is raising `EXCEPTION_ILLEGAL_INSTRUCTION`.

<img width="906" alt="exception_illegal_instruction" src="https://user-images.githubusercontent.com/1294805/46080723-f6878100-c19a-11e8-9ea9-3c9d43aa1507.PNG">

Could this be related to AXV instructions not supported ? The processor of the VM is an [Intel Xeon E5-2623 v4](htt

[2018-09-26 12:52] varunj commented on #17923
@op21beyond @Ala-Me-Da @RoboEvangelist were any of you able to successfully port an LSTM model to TF Lite?
If yes, could you please share the source code?

[2018-09-26 13:22] minizon opened #22535 "After post-training quantization -- Internal error: Cannot allocate memory for the interpreter"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: No
- **TensorFlow installed from (source or binary)**: tf-nightly-1.12.0.dev20180926
- **TensorF

[2018-09-26 13:30] Fantelia opened #22536 "wrong version of protobuf for tensorflow1.10"
I'm trying to build the C++ shared library with the following steps. [ubuntu18.04]
1, git clone -b r1.10 https://github.com/tensorflow/tensorflow.git
2, run /tensorflow/contrib/makefile/build_all_linux.sh to get third-party dependencies
3, ./configure and babzel build //tensorflow:libtensorflow_cc.so
4, Get all the needed header files to INCLUDE and libraries to LIB

When testing the example "labe

[2018-09-26 13:35] NikishinRoman commented on #22501
updated  fields

[2018-09-26 13:38] SimKuanGOH commented on #22502
This is a quick fix by @rdinse:

https://github.com/tensorflow/tensorflow/issues/9917#issuecomment-322012032

[2018-09-26 13:39] apolotsk commented on #21852
This worked for me:

add

[code]

to `./third_party/gpus/crosstool/CROSSTOOL.tpl`.
Tested on TensorFlow 1.10.1 and 1.11.0-rc2.

[2018-09-26 14:20] zh794390558 commented on #22446
@ymodak  when is using dataset api without `shuflle`, tf will load all data into memory, then do own processing. If using `shuffle`, then tf will load `buffer_size` data into memory and do processing, but will shuffle the dataset. I want a interface and load `buffer_size` data into memory and do processing order by oder.

[2018-09-26 14:21] Akhtar303nu commented on #11704
Hi @aselle I have same error how to resolve it
Error
bazel build tensorflow/tools/graph_transforms:transform_graph
ERROR: Failed to load Skylark extension '//tensorflow:workspace.bzl'.
It usually happens when the repository is not defined prior to being used.
Maybe repository '' was defined later in your WORKSPACE file?
ERROR: cycles detected during target parsing
INFO: Elapsed time: 0.035s
INFO:

[2018-09-26 14:27] gokul-uf opened #22538 "tfe.Saver only stores last 5 checkpoints"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: NA
- **TensorFlow installed from (source or binary)**: binary
- **Ten

[2018-09-26 14:48] gokul-uf commented on #22538
Quick check of the codebase reveals the following
[`tfe.Saver`](https://github.com/tensorflow/tensorflow/blob/4dcfddc5d12018a5a0fdca652b9221ed95e9eb23/tensorflow/contrib/eager/python/saver.py#L116) uses [`tf.train.saver.Saver`](https://github.com/tensorflow/tensorflow/blob/4dcfddc5d12018a5a0fdca652b9221ed95e9eb23/tensorflow/python/training/saver.py#L1072) internally. A "simple fix" would be to bub

[2018-09-26 14:49] jnorwood opened #22540 "conflicting shape of tflite conv2d weight tensor shape vs conv2d documentation"
https://www.tensorflow.org/api_docs/python/tf/nn/conv2d
shows that conv2d expects kernel tensor of shape [filter_height, filter_width, in_channels, out_channels]
The mobilenet_v1_1.0_224/mobilenet_v1_1.0_224.tflite from the following link contains shape for the first conv2d of [32,3,3,3]
while the mobilenet_v1_1.0_224/mobilenet_v1_1.0_223_frozen.pb has conv2d tensor shape of [3,3,3,32]
https://git

[2018-09-26 14:54] haramoz commented on #18906
Does someone have a way to build tensorflow-gpu for centOS and cuda 9.2. My cluster admin has updated driver and removed cuda 9.0 i can not fin anything for cuda 9.2 and CENTOS Linux. If anyone can make one or have a clue please let me know. Thank you  :(

[2018-09-26 15:02] jiazhe0909 commented on #20628
Same issue here, a ctx synchronize always block the H2D memory before the complete of GPU computing. @sh1ng I saw a lot of space between two H2D in your profiling results, maybe you should reduce the cpu processing time first.

[2018-09-26 15:12] sam701 opened #22541 "Java process crashes during model loading"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: AWS c5.xlarge, Amazon Linux
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: java binary
- **TensorFlow v

[2018-09-26 15:13] beew commented on #18906
I have been able to build tensorflow-gpu on Cuda 9.2 and Cuda 10 on Ubuntu 16.04, basically just configure, choose your options and install whatever missing. Shouldn't be a problem on  Centos if you have up to date bazel and Nvidia driver

[2018-09-26 15:17] kyle-dorman commented on #19222
Thanks for the update. Is there an issue I can follow for using the tensor cores for depthwise convolutions?

[2018-09-26 15:26] chrish42 opened #22542 "Misleading full description on Tensorflow's Docker Hub public repository"
The instructions on https://hub.docker.com/r/tensorflow/tensorflow/ still refer to the old `nvidia-docker`, when new images support nvidia-docker2, which works a bit differently.. The full description from Docker Hub doesn't seem to be under version control, so I can't submit a diff, but the following changes are needed, under the "Start GPU (CUDA) container" section:

* In "Install nvidia-docker

[2018-09-26 15:27] meteorcloudy commented on #22099
@TGithubbr I notice you were using v1.10, which is still built by CMake.

I think this problem no longer exists when building TensorFlow on Windows with Bazel, which will be default from v1.11.

Here's my result with a tensorflow nightly build:
[code]

[2018-09-26 15:39] #22414 closed

[2018-09-26 15:41] dblueeye opened #22543 "sparse_tensor_to_dense() does not seem to support back propagation"
**Have I written custom code: Yes
**OS Platform and Distribution: Windows 10 (primary), Ubunto 16.04.3 LTS (secondary)
**TensorFlow installed from (source or binary): Binary
**TensorFlow version (use command below): b'v1.10.0-rc1-19-g656e7a2b34' 1.10.0
**Python version: Python 3.6.6 :: Anaconda, Inc.
CUDA/cuDNN version: N/A (not relevant)
GPU model and memory: N/A (not relevant)

### Describe the

[2018-09-26 15:53] davidlange6 commented on #22395
Wanted to report that I've run into the same issue when upgrading from tensorflow 1.6 to 1.10.1 [building from source, we also have a not-very-typical installation of python modules (including numpy). I haven't found a way to force my PYTHONPATH to be used (with --action_env or otherwise)

[2018-09-26 15:58] rychnal commented on #22268
I have same problem like @taotaolin but add -f not help for me

`bazel run tensorflow/examples/wav_to_spectrogram:wav_to_spectrogram -- --input_wav=C:\Users\Lukas\Downloads\music.wav --output_image=C:\Users\Lukas\Downloads\spectogrammmm.png

Starting local Bazel server and connecting to it...
ERROR: C:/users/lukas/documents/source/tensorflow-new/tensorflow/core/platform/default/build_config/BUILD:

[2018-09-26 16:00] wdirons commented on #22400
Thanks @gunan for the comment about building on ububtu 14, I'll see if i'm able to switch our build process to use an ubuntu 14 container.

[2018-09-26 16:32] wt-huang commented on #22444
@lcxywfe You can post a link to your model.

[2018-09-26 16:39] alextp commented on #22413
Let's let the PR's merge close the issue.

[2018-09-26 16:43] wt-huang commented on #22477
@monikatomar92 You may need to install CUDA9.2. Could you post the files under /usr/local/cuda-9.0/lib64?

[2018-09-26 16:50] harshini-gadige commented on #19200
@zheng-xq Hi, could you please look into this ?

[2018-09-26 16:54] chrisolston commented on #21417
I just want to make sure the C++ "check" throws a tensorflow::Status error, rather than crashing the program. That's all. (I think the confusion may stem from the fact that inside Google the term "check" is often used to mean crash, for reason having to do with some APIs we have internally.)

[2018-09-26 17:00] #22441 closed

[2018-09-26 17:00] theerfan commented on #22300
I did the same with Python 3.6 and it imports successfully, but now the script doesn't run completely (I'm using the code used by google [here](https://colab.research.google.com/notebooks/mlcc/first_steps_with_tensor_flow.ipynb?utm_source=mlcc&utm_campaign=colab-external&utm_medium=referral&utm_content=firststeps-colab&hl=en#scrollTo=9ivCDWnwE2Zx)
and instead, gives me this error [Tried on both an

[2018-09-26 17:01] rodrigoberriel commented on #22145
@karmel You can replicate the issue by adding any operation after the `tf.nn.depthwise_conv2d`. As an example, you can add `[0]`:

    img = tf.nn.depthwise_conv2d(img[None], blur, [1,1,1,1], 'VALID')[0]

As a workaround, you can use another map to unwrap the output, e.g.:

    import tensorflow as tf
    import numpy as np

    def apply_blur(img):
        blur = np.random.rand(3,3,1,1)
        i

[2018-09-26 17:31] harshini-gadige commented on #22497
@eliorc Hi, just to confirm have you tried reading your saved data using [generator](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#from_generator)

[2018-09-26 17:42] wt-huang commented on #22482
@maitreya2954 You may want to check whether the input is 1D when feeding the graph. Consider reshaping the input to match TFLite model requirements.

[2018-09-26 17:54] wt-huang commented on #22487
@CarstenLange Which Keras version did you use? Please also provide the information below so we can better help you.

System information
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorF

[2018-09-26 18:00] eliorc commented on #22497
Yep, due to sensitivity I can't post the entire code but this is censored version

[code]

The code runs on a 16 core machine

[2018-09-26 18:10] av8ramit commented on #22339
Happy to help! Sorry for the inconvenience @u2takey !

[2018-09-26 18:27] wt-huang commented on #22490
@benshi001 Please check this out in Android 3.2 release note:
Beginning with Android Studio 3.2, the source for AAPT2 (Android Asset Packaging Tool 2) is Google's Maven repository.
To use AAPT2, make sure that you have a google() dependency in your build.gradle file, as shown here:
[code]

[2018-09-26 18:34] malikaltakrori commented on #20372
so should we just update ?

[2018-09-26 18:45] PinkySan commented on #21880
@meteorcloudy That is a very uncommon behaviour. If it is a known problem, i can totally live with that. But does bazel support an installing target? It is pretty simple in CMake to create an INSTALL-Target, which contains the relevant binaries, includes, etc.

I therefore cannot understand the release note in 1.10, which discontinues the CMake support. Especially the integration of c++ tensorflow

[2018-09-26 18:46] samikama commented on #22518
@fengyang0317 keep an eye on DALI, https://github.com/NVIDIA/DALI

[2018-09-26 18:46] #22518 closed

[2018-09-26 18:54] wdirons commented on #22400
@ghltshubh, that comment references compiling with a different level of glibc, the issue you have when using the whl file is at runtime.

From my stand point it will probably be easier to me to compile with an ubuntu 14.04 container then use those instructions. Thanks.

[2018-09-26 18:57] tensorflowbutler commented on #22524
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-26 18:57] tensorflowbutler commented on #22526
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-26 18:57] tensorflowbutler commented on #22527
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-26 18:57] tensorflowbutler commented on #22528
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-26 18:57] tensorflowbutler commented on #22530
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
Exact command to reproduce

[2018-09-26 18:58] tensorflowbutler commented on #13341
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-26 18:58] tensorflowbutler commented on #14580
Nagging Assignee @petewarden: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-26 18:58] tensorflowbutler commented on #17150
Nagging Assignee @fchollet: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-26 18:58] tensorflowbutler commented on #17702
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-26 18:58] tensorflowbutler commented on #18039
Nagging Assignee @cwhipkey: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-26 18:58] gokul-uf commented on #22538
Thanks for the suggestion.

I think it should work, though I would much prefer if `Checkpoint.restore` didn't do its own numbering and allowed the user to customize it (via a `global_step` arg) :)

Nevertheless, it seems good enough for me.
Quick question, do we still need to do a dummy pass to initialize the variables berfore restoring the saved weights?

Thanks again, upto the devs to decide whe

[2018-09-26 18:58] tensorflowbutler commented on #18858
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-26 19:00] tensorflowbutler commented on #21734
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-26 19:00] tensorflowbutler commented on #21967
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-26 19:00] tensorflowbutler commented on #21998
Nagging Assignees @shivaniag, @aaroey: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-26 19:00] tensorflowbutler commented on #22111
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-26 19:00] tensorflowbutler commented on #22137
Nagging Assignee @drpngx: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-26 19:00] tensorflowbutler commented on #22166
Nagging Assignee @suharshs: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-26 19:00] tensorflowbutler commented on #22167
Nagging Assignee @achowdhery: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-26 19:00] tensorflowbutler commented on #22182
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-26 19:00] tensorflowbutler commented on #22205
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-26 19:00] tensorflowbutler commented on #22207
Nagging Assignee @pavithrasv: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-26 19:03] alexfru commented on #22516
@tensorflowbutler Updated, though the update is mostly irrelevant.

[2018-09-26 19:09] nairouz commented on #22485
@omalleyt12 I m wondering, is there a workaround while you guys try to fix the bug?

[2018-09-26 19:10] maxnbk commented on #22395
pip install was used to install numpy, but you must be aware that people can relocate pip packages with --prefix or --target commands (depending on the install procedure), and as such, PYTHONPATH should be used to find a python module, not relying that all systems or users install it in the same location on every type of host or user environment.

bazel declares in it's docs that --action_env is h

[2018-09-26 19:12] jvlmdr commented on #22529
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: n/a
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: n/a
- **TensorFlow installed from (source or binary)**: binary
- **Python version**: 2.7
- **Bazel versio

[2018-09-26 19:14] alextp commented on #19017
@sleepfin can you update the bug on what is the current issue? Did you check whether resource variables make this issue go away?

[2018-09-26 19:14] allenlavoie commented on #22538
Custom numbering will work with `CheckpointManager.save(checkpoint_number=...)`, and you can set `max_to_keep=None` to keep everything if you don't want it cleaning up checkpoints.

There's also [`tf.train.Checkpoint.write`](https://www.tensorflow.org/versions/r1.11/api_docs/python/tf/train/Checkpoint#write), which `CheckpointManager` calls, if you want to do string formatting/checkpoint managemen

[2018-09-26 19:14] #22538 closed

[2018-09-26 19:14] tkainazarov commented on #13530
It is not only pandas, direct reading from csv (TextLineDataset), DNNRegressor still underutilising GPU.

[2018-09-26 19:15] allenlavoie commented on #22538
Oh, and for initialization, there's `tf.train.Checkpoint.restore(...).initialize_or_restore()` for initializing variables which won't get restored while graph building. When executing eagerly, variables are initialized eagerly, so it's optional there.

[2018-09-26 19:18] ymodak commented on #22479
Closing this issue since the solution provided by @yanboliang works.

[2018-09-26 19:18] #22479 closed

[2018-09-26 19:19] axch commented on #22481
Just to make sure we are both on the same page, I am not talking about masking input NaNs (which, I agree, would be weirdly specific) but about propagating them.  The interface I think we should implement is the same as numpy:
[code]

This can, of course, be done in user-land:
[code]

but that seems like something of an imposition.  @jvdillon: How do you value the cost of `is_nan` + `reduce_any` +

[2018-09-26 19:29] wt-huang commented on #22498
@HedgehogCode In Windows 10 you can enable file path longer than 260 [here](https://betanews.com/2016/05/29/long-paths-windows-10/)

[2018-09-26 19:44] gunan commented on #22395
CC @annarev

[2018-09-26 19:45] av8ramit commented on #21524
@asimshankar do you see value in making these links public or adding them to the README?

[2018-09-26 19:47] av8ramit commented on #22536
@angersson any idea if we have fixed this in 1.11?

[2018-09-26 19:51] brge17 commented on #20529
@pavithrasv any update on the missing/overcounting batches issue?

[2018-09-26 19:59] karmel commented on #20523
@Krishnaprasad-T -- is this still an issue?

[2018-09-26 20:07] julien2512 commented on #16028
I am agree, I realized it was better to use a custom gradient.

[2018-09-26 20:09] Issam-Jmili opened #22545 "Confusion matrix and printing CNN kernel with TF"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-26 20:09] priyankjain opened #22546 "Number of intra_op_parallelism_threads Issue with TF 1.10"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS High Sierra version 10.13.6
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: binary
- **TensorF

[2018-09-26 20:13] dhingratul commented on #22536
No, this persists in r1.11 as of a few days ago

[2018-09-26 20:14] priyankjain commented on #21417
Got you, thanks Chris!

[2018-09-26 20:34] omalleyt12 commented on #22485
@nairouz Sure, still looking into this but the easiest workaround would be adding a second loss that always returns zero and passing in fake data for 'out2':

[code]

[2018-09-26 20:36] omalleyt12 commented on #20372
@malikaltakrori yep

[2018-09-26 20:38] moeppe-sp commented on #22486
Same Problem for me and almost the same result with Keras Applications (tf needs 1.0.5 and Keras need 1.0.4)
I have no idea how to work my way around it

[2018-09-26 20:43] ghltshubh commented on #22400
@wdirons Tried various permutations and combinations of bazel, tf, gcc, cuda and this is the least error I could achieve. Similar error showed up using different versions as well.. The following is using bazel 0.13.1, tf 1.8.0 and gcc 4.8.5 and cuda 9.0

[code]

[2018-09-26 20:45] malikaltakrori commented on #20372
Thanks for the reply @omalleyt12 .
Note that I am working on Windows, not Linux.
I did. Using Tensorflow version 1.10.0 and my callback is:

`callbacks = [
        # Write TensorBoard logs to `./logs` directory
        tf.keras.callbacks.TensorBoard(),
        # tf.keras.callbacks.ModelCheckpoint("./checkpoints", monitor='val_loss', verbose=1, save_best_only=True,
        #

[2018-09-26 20:48] dcyoung opened #22550 "MirroredStrategy and Optimizer Compatibility"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes, duplicated the minimal code from documentation snippet [here](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/distribute#example-with-keras-api)

But the included [keras_mnist.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/co

[2018-09-26 20:54] omalleyt12 commented on #20372
@malikaltakrori 1.10 is too early, please try 1.11 or nightly

[2018-09-26 20:55] EKami commented on #20372
I confirm it's now working on TF >= 1.11.0

[2018-09-26 21:05] meereeum opened #22551 "tf.distributions.Uniform does not produce unique samples"
### System information

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: debian 9 (stretch)
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: n/a
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (u

[2018-09-26 21:11] malikaltakrori commented on #20372
I see.
Maybe there is something going on with my installation. I did I try to upgrade (with pip install --upgrade tensorflow)  I get:
`Requirement already up-to-date: tensorflow in d:\anaconda2\envs\tensorflow\lib\site-packages (1.11.0rc2)`
When I print tf.__version__ I get 1.10
and when I print tf.__file__ i get the correct location:
`D:\Anaconda2\envs\tensorflow\lib\site-packages\tensorflow\__in

[2018-09-26 21:16] harshini-gadige commented on #22524
@David-Mao
Make sure the value given in tf.assign_add() has the same shape as the reference(in this case it is Z).
Please change the scalar value 0.0 to the matrix of same dimension as Z. It should be something as shown below.

import tensorflow as tf
import tensorflow.contrib.eager as tfe
tf.enable_eager_execution()
Z = tfe.Variable([[1.0, 2.0, 3.0], [4.0, 5.0, 6.0]])
Y = tfe.Variable([[0.0, 0.0,

[2018-09-26 21:36] jeffdaily commented on #17908
The file `nccl_rewrite.cc` was added by ca8af1d0dbb605087a4f8ae076188f2b9a26b1ba on Oct 15 2017.  Was it working back then?

[2018-09-26 21:36] nairouz commented on #22485
@omalleyt12 Thank you so much. I appreciate your help.

[2018-09-26 22:18] nairouz commented on #22378
@wt-huang thank you for the response.
But what if I am not the one who created the gradient context (i.e., in Keras it is created internally) and I do not have access to the `tape` variable. How can I stop the gradient?
Here is a toy example to illustrate the problem:

[code]

[2018-09-26 22:19] ymodak commented on #22462
@srihari-humbarwadi If you don't specify activation argument in the Conv2D layer it will use linear activation by default. Are you specifying separate activation after each convolution layer or just after the first one?

[2018-09-26 22:29] nairouz commented on #22378
Actually, I have found a workaround. I can simply wrap the tensor which I want to exclude from the gradient computation with `tfe.Variable()`.
The code would look something like this

def virtual_adversarial_loss(X, DAE_encoder):
    r_vadv = tfe.Variable(generate_virtual_adversarial_perturbation(DAE_encoder, X))
    p = tfe.Variable(DAE_encoder(X))
    q = model(X+r_vadv)
    loss = tf.reduce_mea

[2018-09-26 22:31] nairouz commented on #22378
```import tensorflow as tftfe = tf.contrib.eagertf.enable_eager_execution()a = tfe.Variable(0.)def custom_loss(y_true, y_pred)  #here I want to stop the gradient how can I do so?  #I can only write the code of the custom loss functiondef keras_backprop(loss, model, lr, x, y_true):  with tf.GradientTape() as tape:    y_pred = model(x)    l = loss(y_true, y_pred)  dw = tape.gradient(l, model.w)  mod

[2018-09-26 22:35] dubey commented on #22484
I traced this to [FunctionBufferingResourceGetNextOp](https://github.com/tensorflow/tensorflow/blob/844074c2a8e61b744c3de2718e1c9ea7b1d2edc2/tensorflow/contrib/data/kernels/prefetching_kernels.cc#L382).  Looks like the kernel returns an OutOfRange error to signal completion.  This non-OK status [triggers an abort](https://github.com/tensorflow/tensorflow/blob/844074c2a8e61b744c3de2718e1c9ea7b1d2ed

[2018-09-26 22:37] wt-huang commented on #22510
@vvigilante It appears that you are using cmake which is deprecated. Could you try using Bazel?

[2018-09-26 22:48] IMBurbank commented on #22019
Fixed this issue with the following.

`tensorflow/python/training/checkpoint_management` function `checkpoint_exists` is exported as `train.checkpoint_exists`, so:

Delete:
`from tensorflow.python.training import checkpoint_management`
Add:
`from tensorflow.train import checkpoint_exists`
Change :
`not checkpoint_management.checkpoint_exists(input_checkpoint)):`
To:
`not checkpoint_exists(input_ch

[2018-09-26 23:15] wt-huang commented on #22512
@Overdrivr This is not a bug. You can run some sanity checks on the second machine to make sure the environment is set up correctly and dependencies are installed properly.

[2018-09-26 23:25] vkmenon opened #22552 "TFLite Model Optimizer: Doesn't work on Transformer Model"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: Binary
- **T

[2018-09-26 23:33] gunan commented on #19770
I was not able to build bazel successfully on ubuntu 16.04, so was not able to build any version of TF.

I would say we can omit tflite for s390x.

[2018-09-26 23:41] av8ramit commented on #22545
Hello. Please reopen if this is a real issue.

[2018-09-26 23:42] gunan commented on #21960
@wdirons I just tried this now, with cuda 9.1, but I cannot reproduce the problem.
Running this command got an all passing result for me:
bazel test --config=cuda tensorflow/python/kernel_tests:matrix_exponential_op_test --local_test_jobs=1 --runs_per_test=100

I will close this issue now, please reopen if you are still seeing it.

[2018-09-26 23:42] #21960 closed

[2018-09-26 23:42] av8ramit commented on #22542
Thanks for pointing this out @chrish42 I'll take a look.

[2018-09-26 23:49] gunan commented on #21961
Hi @wdirons I cannot reproduce this problem.
Is it possible the core dump was caused by parallel_gpu_execute having GPU count hardcoded to 8?

[2018-09-26 23:51] Issam-Jmili commented on #22545
Hi !!

I do not how to reopen the issue !!! and I need really help ...

Le jeu. 27 sept. 2018 à 00:47, Amit Patankar <notifications@github.com> a
écrit :

[2018-09-26 23:55] wt-huang commented on #22516
@alexfru Thanks for catching and reporting this. We will certainly note it down.

[2018-09-27 00:28] ningyanuta commented on #15627
_run_internal_graph() forget to put all outputs in tensor_map. I encounter this in TF1.4, but looks like it is fixed in TF1.8.

[2018-09-27 00:32] taotaolin commented on #19893
but i don't have tensorflow\bazel-bin\tensorflow\libtensorflow.so.if.lib file

[2018-09-27 00:32] freedomtan commented on #22535
After the post-training quantization, the type of input tensors are changed from floating point into quantized uint8. You need to change your code accordingly.

[2018-09-27 00:56] gunan commented on #21961
same with this one. I cannot reproduce the issue with cuda 9.1

[2018-09-27 01:03] gunan commented on #16184
Looking at the change, both its author and its reviewer has left our team.
@hawkinsp do you have any memory of the change?
Who would be the best to comment about stream executor?

[2018-09-27 01:04] gunan commented on #16184
Again, I would be happy to review and accept a change to resolve this.

[2018-09-27 01:10] David-Mao commented on #22524
done

[2018-09-27 01:14] wt-huang commented on #22522
@vyepishov Please refer to #22372 The PR @yongtang submitted is approved and pending merge.

[2018-09-27 01:16] David-Mao commented on #22524
Obviously that would work. My points are:
a) people would easily assume Z.assign_add(0.0) works. (because Z = Z + 0.0 works. and it's not hard to implement this broadcasting anyway.)
b) given a), even if the team decide to leave it not working, it should raise an error, not silently give unpredictable result, which apparently leads to bugs that are hard to find.

[2018-09-27 01:16] tensorflowbutler commented on #22531
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-27 01:16] tensorflowbutler commented on #22532
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-09-27 01:16] wt-huang commented on #22238
Closing this issue, feel free to open a new issue if any error comes up.

[2018-09-27 01:16] #22238 closed

[2018-09-27 01:16] tensorflowbutler commented on #22540
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-27 01:16] tensorflowbutler commented on #22543
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
Exact command to reproduce
Mobile device

[2018-09-27 01:27] taotaolin commented on #22338
@meteorcloudy
I tried to use the realse version of the dll file but an error message:
[code]

[2018-09-27 01:30] dblueeye commented on #22543
Thank you for your inquiry.
* I installed from binary, and not from source, so Bazel version does not matter.
* The exact command to reproduce is just by simply running the attached source script (simple and short), `python script.py`
* The mobile device doesn't apply to my case: I did not test on mobile devices.

[2018-09-27 02:02] adoudou2008 commented on #22143
hey，bro：
maybe you can try to add this code:

from tensorflow.contrib.nccl.python.ops import nccl_ops
nccl_ops._maybe_load_nccl_ops_so()

[2018-09-27 02:04] taotaolin commented on #22268
@rychnal
I seem to have this error due to a bad network, it becomes normal after using the proxy.

[2018-09-27 02:05] Zhao-yz commented on #19696
I also wait this api,I can save GraphDef by using WriteBinaryProto,but I don't know how to get GraphDef from session

[2018-09-27 02:06] kasyoukin commented on #22369
anyone can response me?

[2018-09-27 02:06] adoudou2008 commented on #22143
hey bro:
Maybe you can try this code：

from tensorflow.contrib.nccl.python.ops import nccl_ops
nccl_ops._maybe_load_nccl_ops_so()

[2018-09-27 02:13] sontranjvn commented on #20499
Hello everyone, I have the same mistake, but it holds with python 3.
So I try these codes:

`pip3 uninstall "tensorflow==1.7.*"`
before reinstall

[code]

[2018-09-27 02:44] LongForCMU commented on #22496
@wt-huang Thank you for your reply. I have changed the batch size but it didn't work. Here are some details: Win10+tensorflow 1.10.0+CUDA 9.0.
I found that there was someone else who met just the same error as me: https://stackoverflow.com/questions/51811510/typeerror-init-missing-2-required-positional-arguments-message-and-co

[2018-09-27 02:54] ahundt commented on #20998
just make a model with a 3d input with 1billion entries on each side, and a single conv, and it will probably happen. Anything several orders of magnitude beyond the actual memory in the GPU. Oh, also might need to be using nvcc.

[2018-09-27 02:56] srihari-humbarwadi commented on #22462
I tried adding a separate activation layer after each conv2d layer. And isn't the activation=None by default?

[2018-09-27 03:11] panfengli commented on #13607
How about the build instructions for GPU ops. Tensorflow tutorials even never mention it. @allenlavoie

I find one [here](https://gist.github.com/Sergio0694/fc94fb14388ee4b7b92be6e33704e5b9), but it also meets the same problem

[2018-09-27 03:14] ChengduoZhao commented on #22527
@harshini-gadige tf r1.9 and tf r1.10 is ok.

[2018-09-27 03:15] panfengli opened #22554 "Adding custom op instructions lacking the GPU building instructions"
Tensorflow [Add a new op tutorial](https://www.tensorflow.org/extend/adding_an_op) never mention the building instructions for GPU ops.

I find one [here](https://gist.github.com/Sergio0694/fc94fb14388ee4b7b92be6e33704e5b9), but it met the similar issue with [Building custom op instructions out of date ](https://github.com/tensorflow/tensorflow/issues/13607).
`
tensorflow.python.framework.errors_i

[2018-09-27 03:16] panfengli commented on #22554
The one from the above link:

cmake_minimum_required(VERSION 3.5)

set(CMAKE_C_COMPILER /opt/cuda/bin/gcc)
set(CMAKE_CXX_COMPILER /opt/cuda/bin/g++)

# get tensorflow include dirs, see https://www.tensorflow.org/how_tos/adding_an_op/
execute_process(COMMAND python3 -c "import tensorflow; print(tensorflow.sysconfig.get_include())" OUTPUT_VARIABLE Tensorflow_INCLUDE_DIRS)

[code]

Currently Tensorfl

[2018-09-27 03:21] chenghuige opened #22555 "[Feature Request]Add support of model.eval() and model.train()"
For pytorch, you can use model.eval or mdoel.train to make sure different behavior like dropout.
For tf keras interface however if you write class using keras.Model, you still need to pass all training=training in call function, I think this is less elegant.
So can we support model.train, model.eval ? when set model.train then all layer and model declared in __init__ is in training mode.

[2018-09-27 03:28] ppwwyyxx commented on #22554
The tutorial does mention the build instructions for GPU ops: https://www.tensorflow.org/extend/adding_an_op#gpu_support

[2018-09-27 03:43] conser12 commented on #16219
@sosong I'm trying to install "flatbuffers" library, the missing library error not occurred. Now i'm fixing another compiling problem.

[2018-09-27 05:02] manishkm commented on #22527
Hi, I am also getting same error, I am compiling tf r1.7 on ubuntu 16.04 with cuda support & using cuda-9.0 and cudnn7.0

ERROR: /data3/tensorflow_git/tensorflow/tensorflow/contrib/lite/toco/python/BUILD:22:1: Linking of rule '//tensorflow/contrib/lite/toco/python:_tensorflow_wrap_toco.so' failed (Exit 1)
gcc: error: tensorflow_wrap_toco_versionscript.lds: No such file or directory
Target //tensor

[2018-09-27 05:16] mrry commented on #22484
@dubey That's how the iterators are implemented, yes. The error can be caught in the graph if you use `tf.contrib.data.get_next_as_optional()`, but I think it's library code that's responsible for doing that.

[2018-09-27 05:17] kanul commented on #20684
Hi @suharshs

I have a question for the meanings of optimized implementations.

How about your strategy to implement the optimized dilated conv?

Could I obtain a clue from the function of Fast3x3FilterKernelSupported?

[2018-09-27 05:28] Elites2017 commented on #22022
How didi you solve the problem @dlml ? I have the same problem. Any help is welcomed

[2018-09-27 05:31] ymodak commented on #22462
Okay. Yes it is none by default but according to [keras documentation](https://keras.io/layers/convolutional/) linear activation is applied in the case of absence of activation argument.

[2018-09-27 05:38] srihari-humbarwadi commented on #22462
Yea but a(x) = x  is just an identity mapping shouldn't it do nothing in this case?
[code]

[2018-09-27 05:46] ghltshubh commented on #22400
Was able to build tf v1.8 https://developer.ibm.com/tutorials/install-tensorflow-on-power/ had to downgrade bazel to 0.11.0.

[2018-09-27 05:48] Overdrivr commented on #22512
You're correct, there is a configuration issue on the second machine.

I have installed python 3.6.6 on it, created a new virtual env, only containing tensorflow, and can reproduce the issue.

What puzzles me is that I have installed **tensorflow-cpu** on it, and I still get `_pywrap_tensorflow_internal` not found (And it's not the first time I've installed TF on a machine, I've done it for CPU an

[2018-09-27 05:57] SherL0cked commented on #21741
Looks like official tensorflow package is not compatible with cuda 10, but there's a dockerized version named `tensorflow-gpu 1.10.0+nv`(should be a custom build from Nvidia) works.
The version is available in `docker pull nvcr.io/nvidia/tensorflow:18.09-py3`, it's rather a workaround to use tensorflow under cuda 10, still need official support...

[2018-09-27 06:03] dlml commented on #22022
@Elites2017 you can use tf.keras to train model

[2018-09-27 06:07] vyepishov commented on #22522
@wt-huang Could you please let me know in what tensorflow release I can expect this issue to be fixed? Thanks in advance.

[2018-09-27 06:11] Overdrivr commented on #20674
I have exactly the same issue, with also an Intel Xeon E5-2623 v4.
Impossible to import tensorflow-cpu.
See ticket: #22512

[2018-09-27 06:13] facaiy commented on #22551
If I understand correctly, uniform is a distribution. It makes sense that we might get duplication values from sample method.

[2018-09-27 06:35] Overdrivr commented on #22512
I have tried TF 1.5 and it solves the issue. TF can be imported just fine. So, clearly, it has be an issue with AVX.

But it is stated [here](https://www.intel.fr/content/www/fr/fr/products/processors/xeon/e5-processors/e5-2623-v4.html) (and everywhere else) that the Xeon E5-2623 v4 supports AVX2, so I guess it should support AVX too, right ?

To be sure, I wrote a small script that fetches CPUID

[2018-09-27 06:36] lcxywfe commented on #22444
@wt-huang https://github.com/lcxywfe/model-zoom/raw/master/resnet18_finetuned_batch2.tflite

[2018-09-27 06:39] minizon commented on #22535
But in the python env, I found the dtype of input was still float

[{'name': 'input', 'index': 89, 'shape': array([  1, 224, 224,   3], dtype=int32), 'dtype': <class 'numpy.float32'>, 'quantization': (0.0, 0)}]

[{'name': 'final_result', 'index': 85, 'shape': array([1, 5], dtype=int32), 'dtype': <class 'numpy.float32'>, 'quantization': (0.0, 0)}]
Whether additional setting params are required for

[2018-09-27 06:44] sekharvth commented on #19969
The random outputs problem has been solved, attributed to a bug in Google Sentence Encoder, which was part of the graph, corrected in a later release. ( https://github.com/tensorflow/hub/issues/74 )
But the reloading part is still a problem. I'm currently using sess.as_default(), and never explicitly closing the session, but this just keeps consuming memory on each POST request.

[2018-09-27 06:51] dreambear1234 commented on #22527
@manishkm , @ChengduoZhao
    Hi, I got the same error lately too, bug error info cannot be searched except this new page.
I guess it's the problem of new version for some dependency packages.

    I compared several packages(gcc, cuda, cudnn, bazel and...) with other tensorflow  installation position, I doubt it the bug of bazel(latest version: 0.17.2). So...

1. rm -fr ~/.bazel ~/.bazelrc
2. ins

[2018-09-27 07:07] FBerendsen commented on #13150
I'm using Tensorflow version 1.8 on both Windows 10 and Kubuntu 18.04 and notice different behavior of `list_files`. Using a pattern with `*`s will match files at any depth an Windows, as noted in this issue, whereas the proper directory depth is respected on Ubuntu.

[2018-09-27 07:32] taotaolin commented on #19893
but i don't have tensorflow\bazel-bin\tensorflow\libtensorflow.so.if.lib file

[2018-09-27 07:33] taotaolin commented on #19893
@LJXLJXLJX but i don't have tensorflow\bazel-bin\tensorflow\libtensorflow.so.if.lib file

[2018-09-27 07:50] freedomtan commented on #22535
@minizon sorry about confusion. What I wanted to say is that for post-training quantization, the type of input tensors remains floating point. For real quantized model, the type of input tensors is expected to be quantized uint8 (type 3). To put it simply, a post-training model should be treated as a floating point model rather than a quantized one. That's why it doesn't work in the demo app (whic

[2018-09-27 08:09] meteorcloudy commented on #19893
@taotaolin tensorflow\bazel-bin\tensorflow\libtensorflow.so.if.lib should be generated when you build libtensorflow.so. Look into your `tensorflow\bazel-bin/tensorflow` directory.

[2018-09-27 08:16] meteorcloudy commented on #22338
I guess you need to add the import library to the link command.
Find this file `tensorflow\bazel-bin\tensorflow\libtensorflow.so.if.lib`

[2018-09-27 08:40] taotaolin commented on #22338
i don't have `tensorflow\bazel-bin\tensorflow\libtensorflow.so.if.lib` file

[2018-09-27 08:44] taotaolin commented on #22338
only `liblibtensorflow.so`  `liblibtensorflow.so.ifso` `libtensorflow.so` `libtensorflow.so-2.params` and `libtensorflow.so.runfiles_manifest`

[2018-09-27 08:45] tksj09 commented on #22550
I meet same problem.
I specify the cpu
strategy = tf.contrib.distribute.MirroredStrategy(
   ['/device:CPU:0', '/device:GPU:0', '/device:GPU:1'])
the code can be run
but GPU:0 Util more than 90%
GPU:1 Util is lower

[2018-09-27 08:49] dingshaoran opened #22558 "@fft2d//:fft2d bazel"
fisrt build
ERROR: /private/var/tmp/_bazel_dsr/f1e96f4f92f1092791bdd5610d5595fa/external/com_google_absl/absl/strings/BUILD.bazel:84:1: C++ compilation of rule '@com_google_absl//absl/strings:internal' failed (Exit 1)

after build
ERROR: /private/var/tmp/_bazel_dsr/f1e96f4f92f1092791bdd5610d5595fa/external/fft2d/BUILD.bazel:26:1: C++ compilation of rule '@fft2d//:fft2d' failed (Exit 1)

macos 10.1

[2018-09-27 08:53] EelcoHoogendoorn commented on #16152
Had so many of these on 1.8 that i could not longer see my test output. Updated to 1.10 and now i only have a few dozen of these warnings left.

[2018-09-27 09:10] yashwantptl7 commented on #22480
Hi @devanandd8245 , here is the link for step by step guide....hope it may help you
https://medium.com/@jsflo.dev/saving-and-loading-a-tensorflow-model-using-the-savedmodel-api-17645576527

[2018-09-27 09:48] Tockra opened #22560 "Problem while building tensorflow"
Sry, my mistake

[2018-09-27 09:52] freedomtan commented on #22540
I think you are right that the order of conv2d weights is OHWI, I didn't see any related doc, but it's all in source code, see e.g., [1](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/toco/model.h#L162-L172), [2](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/toco/import_tensorflow.cc#L550-L557) and [3](https://github.com/tensorflow/tenso

[2018-09-27 09:53] #22560 closed

[2018-09-27 09:54] HedgehogCode commented on #22498
Hi @wt-huang,
thank you for your reply!
Sadly, this setting doesn't help. Note that the description of the setting says:

This suggests that it has to be enabled on application level. Maybe [this](https://social.msdn.microsoft.com/Forums/en-US/50ecad58-b8cc-411a-af50-08a67dde5fca/long-name-support-is-not-enabled-on-windows-10?forum=windowssdk) helps (I have to admit that I have no idea about devel

[2018-09-27 09:55] meteorcloudy commented on #22338
Oh, you must be using an old version of Bazel?  `liblibtensorflow.so.ifso` is the import library you want.

[2018-09-27 09:58] devanandd8245 commented on #22480
i found it is good to understand the basics but the training steps which means i am in requried of the No.Of.folders and the kind of images and annotations to be used.

I am new to tensorflow so i would like to get more depth informations on the training procedures to be followed

________________________________
From: yashwantptl7 <notifications@github.com>
Sent: Thursday, September 27, 2018 2:47

[2018-09-27 10:06] lizekui commented on #14356
Wow,  thanks @anujgupta82 a lot ! Really a nice answer :-)

[2018-09-27 10:07] byronyi commented on #22056
Same problem here. Log:

[code]

Have I written custom code: Yes
OS Platform and Distribution: COS on GCP (Host), Ubuntu 18.04 (Docker)
TensorFlow installed from: pip
TensorFlow version: 1.10.1
Bazel version: N/A
CUDA/cuDNN version: 9.0/7.2
GPU model and memory: K80c, 12GiB
Exact command to reproduce: Used in a COCO retrained task
Mobile device: N/A

[2018-09-27 10:19] byronyi commented on #22056
I found my problem is introduced by installing the wrong version of CUDNN. @jinfagang could you try `nvidia-smi` and `dpkg -l | grep cudnn` and paste the output here?

[2018-09-27 10:28] taotaolin commented on #22338
I tried to rename the `liblibtensorflow.so.ifso` to ` libtensorflow.so.if.lib` and import it in Visual Studio, but this error still occurred.

[2018-09-27 10:35] meteorcloudy commented on #22338
@taotaolin Sorry, I'm not sure what the problem is exactly. But seems people are having lot of troubles to use TensorFlow's C++ library. I'll look into this a next few days, hopefully I can find a good solution for you.

[2018-09-27 10:37] ZeroZxj opened #22561 "tflite inceptionv3 the output is greater than 1."
HI，

demo :  tflite inceptionv3

May I ask why the output is greater than 1.

Thanks.

[2018-09-27 11:31] taotaolin commented on #22338
thanks

[2018-09-27 12:17] yanivbl6 commented on #11963
Sorry for only addressing this now, did you try changing the environment variable **RDMA_DEVICE**?

[2018-09-27 12:19] yanivbl6 commented on #22077
@shamoya , can this be related to the GID configuration?
RDMA_GID_INDEX: The GID index of the port. If not defined by user, a default suitable GID index will be set (RoCEV2 is favourable as default).

[2018-09-27 12:41] duane-ibm commented on #19770
@gunan we actually used adoptOpenjdk10 to build bazel on UB 16.04, although faced issues with the tensorflow v1.8.0 build as mentioned in above comments.

Tensorflow build for v1.10.1 completed successfully, however the java tests still seems to fail with the below error:
[code]

[2018-09-27 12:44] tensorflowbutler commented on #22555
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-27 13:09] vibss2397 commented on #22505
Hey, @wt-huang i checked all the tensors and they are fine, and both the gradient terms are calculated separately are proper but only when  the gradient penalty added to the critic loss function doed it throw the error. Can i calculate gradients of output of a model wrt input using``tfe.gradients_function() ``

[2018-09-27 13:15] cjr0106 opened #22563 "RuntimeError: TOCO failed see console for info."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-27 13:17] monikatomar92 commented on #22477
These are the files I have under /usr/local/cuda-9.0/lib64
libaccinj64.so          libcusolver_static.a    libnppist_static.a
libaccinj64.so.9.0      libcusparse.so          libnppisu.so
libaccinj64.so.9.0.176  libcusparse.so.9.0      libnppisu.so.9.0
libcublas_device.a      libcusparse.so.9.0.176  libnppisu.so.9.0.176
libcublas.so            libcusparse_static.a    libnppisu_static.a
libcublas.so

[2018-09-27 13:18] joshburkart commented on #16152
Yeah, still seeing this in 1.11.0-rc0:

[code]

Can we reopen?

[2018-09-27 13:19] Elites2017 commented on #20798
@pkulzc Do you think this error is caused because we don't specify the input shape in the file **export_inference_graph.py** if so, should we edit this file by putting the dimension of our images?

[2018-09-27 13:29] Elites2017 opened #22564 "ValueError: None is only supported in the 1st dimension. Tensor 'image_tensor:0' has invalid shape '[None, None, None, 3]'."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-27 13:39] Overdrivr commented on #22512
While we're at it, I'm getting the same problem with tensorflow-cpu... on another freshly created machine.. that supports AVX.  Fun ride.

![Emotionnal rollercoaster](https://media.giphy.com/media/kmwTZSI2ALst2/giphy.gif)

I'm leaving this here for documentation, it might help others.

In my production virtualenv with tensorflow-cpu + a bunch of other packages, I get the following error (the outpu

[2018-09-27 13:47] meteorcloudy commented on #21880
@PinkySan I totally under stand your concern. I'll be working on a solution to make the C++ library easier to use on Windows.

[2018-09-27 13:51] ghltshubh commented on #22400
@wdirons How did you build the tf wheel? Is their any recipe that I could follow to safely build it so that I can distribute it. Thanks.

[2018-09-27 13:52] NPetsky commented on #21332
Hi, nvidia has wheels for different tensorflow versions (up to 1.11) and JetPack and Python versions here (should work for TX1 and TX2 but havn't tried): https://devtalk.nvidia.com/default/topic/1031300/jetson-tx2/tensorflow-1-11-0-wheel-with-jetpack-3-3/1
Another approach is building tensorflow with makefile (no python and GPU support), that worked for me on the TX1

[2018-09-27 13:53] cjr0106 commented on #17349
hi
@tofulawrence i met the same wrong ,with the info :
RuntimeError: TOCO failed see console for info.
b'e:\\anaconda3\\lib\\site-packages\\h5py\\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.\r\n  from ._conv import register_converters as _register_co

[2018-09-27 14:03] gaborvecsei commented on #6698
**Restart** did the trick for me too 👍
(But an explanation why this happens would be really nice)

[2018-09-27 14:18] wdirons commented on #21961
I noticed above I was using python 3.6, I'll try to recreate this today. If not I will close it.

In the last overnight OSU test (which is python 2.7) it passed:
//tensorflow/python/kernel_tests:depthwise_conv_op_test                  PASSED in 70.8s

https://powerci.osuosl.org/job/TensorFlow_PPC64LE_GPU_Build_and_Test/98/consoleText

[2018-09-27 14:18] cjr0106 commented on #16374
@aselle  hi, wheather the toco is currently  supported on Windows ? i still met the wrong on Windows.
RuntimeError: TOCO failed see console for info.
b'e:\\anaconda3\\lib\\site-packages\\h5py\\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.\r\n  from ._

[2018-09-27 14:30] soul-departed commented on #582
Same here, first got 'DecodeError: Error parsing message', after implementing the env variable, now getting 'DecodeError: Truncated message'

[2018-09-27 14:43] lissyx commented on #21924
@miaout17 It seems that this issue is indeed properly fixed, but we'll likely have to open new ones :)

[2018-09-27 14:51] jnorwood commented on #22540
The compatibility list  comment  is a bit cryptic, but perhaps it is acknowledging that the conv2d filter /weight order is incompatible.   So, is there some plan to resolve the incompatibilities between tflite and tf operations (incuding these persisted filter/weight shape differences)?

https://www.tensorflow.org/lite/tf_ops_compatibility
"The following TensorFlow operations are usually mapped to

[2018-09-27 14:53] digital-prime opened #22565 "Tensorflow example, Object Detection: Failed to find input Node 'image_tensor"
I try to run tensorflow object Detection example on android with my own '.pb' file.
I change `TF_OD_API_MODEL_FILE` and `TF_OD_API_LABELS_FILE` to my own files.
When I run it I've got the error:

[code]
But by graph HAS input node name 'image_tensor'!! To check it, I open it with tensorboard and check it.

I don't know what versions and libraries should i write here, maybe someone has same issue?

[2018-09-27 15:42] jnorwood commented on #22540
Thanks for the links.   "TensorFlow vs Our" differences, with "Our" meaning tflite, could be important documentation for anyone trying to use tflite.   I guess we can close this, since the differences are obviously known.
  kOHWI,     // Our standard for conv weights
  kHWIO,     // TensorFlow conv weights
  k1HWO,     // Our standard for DepthwiseConv weights
  kHWIM,     // TensorFlow DepthwiseC

[2018-09-27 15:42] #22540 closed

[2018-09-27 15:58] daa opened #22567 "Is upper constraint for setuptools still required?"
Currently ``tensorflow`` has an upper limit for ``setuptools`` in install requirements, as I understand it's related to https://github.com/tensorflow/tensorflow/pull/19820 and https://github.com/tensorflow/tensorflow/pull/19818. However recent setuptools releases have certain number of bug fixes which could solve that issues. May you please check if constraint for setuptools to be <= 39.1.0 is sti

[2018-09-27 16:01] daa commented on #22082
Similar issue is https://github.com/pypa/setuptools/issues/1321 and it's solved in setuptools-40.3.0, so I hope that with latest setuptools build will succeed.

[2018-09-27 16:07] cushon commented on #19770
The warnings are not fatal, and the build should succeed if you ignore them. The reason the build is failing is the use of `-Werror`. As an experiment, can you try building without flag flag and see if it works?

[code]

The warnings are the expected result of JDK 10 not being supported by the default toolchain yet.

[2018-09-27 16:17] DELTA37 opened #22568 "Tensorflow CPU computation of NCHW data_format."
I have trained my model on GPU
But I wanna launch it at my server, which has only CPU
What can i do?

[2018-09-27 16:50] dksb commented on #20564
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-09-27 16:50] #20564 closed

[2018-09-27 16:51] dksb commented on #19268
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-27 16:54] wt-huang commented on #11831
Closing this, feel free to open a new one if any issues come up.

[2018-09-27 16:54] #11831 closed

[2018-09-27 16:55] harshini-gadige commented on #22501
@NikishinRoman Hi, thanks for your post. Please note that tflite does not support the operation Elu and due to which you are running into this error.

[2018-09-27 16:56] maksym33 commented on #21799
Hi,
I encountered the same problem (using TF version 1.10). After upgrading to nightly, the error message changes, but the issue is still there:
`File "/home/maks/miniconda3/lib/python3.6/site-packages/tensorflow/python/keras/engine/training_utils.py", line 332, in standardize_input_data
    ' but got array with shape ' + str(data_shape))
ValueError: Error when checking input: expected Flat_Input

[2018-09-27 16:58] ymodak commented on #22462
To confirm this can you try running your model like this :
x = Conv2D(filters=32, kernel_size=(5, 5), strides=(2, 2), padding='same', name ='encoder_conv1')(input_image)  # run with no activation layer
# x = ReLU()(x)   (comment out the ReLU layer)
After this can you compare the accuracy and share your findings?

[2018-09-27 17:02] dksb commented on #19811
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-09-27 17:02] #19811 closed

[2018-09-27 17:06] ghltshubh commented on #22400
oh ok got it. Btw which NCCL version does it use. Can I build it using NCCL 2.x?

[2018-09-27 17:07] vvigilante commented on #22510
I did not use cmake. I used the steps described in https://www.tensorflow.org/lite/rpi

[2018-09-27 17:08] harshini-gadige commented on #22501
@NikishinRoman For more information about TFLite supported operations, please find [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/g3doc/tf_ops_compatibility.md).

[2018-09-27 17:14] #22082 closed

[2018-09-27 17:15] harshini-gadige commented on #22530
@AlessioTonioni That's a good catch !  I tried with couple of examples with different max_value and delta and tf.range works fine in all those scenarios. But we will definitely consider your finding and feel free to share other scenarios(if any).

[2018-09-27 17:17] av8ramit commented on #22545
@Issam-Jmili I have reopened the issue. What do you need help with?

[2018-09-27 17:18] av8ramit commented on #22567
@daa thanks for opening this up. I'll look into this.

[2018-09-27 17:32] wdirons commented on #22400
From the contents of .tf_configure.bazelrc posted above, I see you answered nccl 1 in ./configure

NCCL2 will work, just download the os/agnostic package from: https://developer.nvidia.com/nccl/nccl-download and extract the file and use .configure to point at the directory containing the include and lib (or lib64) directory.

[2018-09-27 17:39] yousufj56 commented on #582
Actually, i figured out why mine wasn't working. It was because my pb file
was corrupt. So i did the training from the beginning and the new pb file
worked. Could be same issue with yours?

On Thu, Sep 27, 2018 at 10:38 AM soul-departed <notifications@github.com>
wrote:

[2018-09-27 17:43] starkdg commented on #22037
Thanks. It is indeed an intermittent error.  I"ve since been able to compile it, but not sure what I did differently.  On successive runs, the error message is different each time.

[2018-09-27 17:46] harshini-gadige commented on #22527
@ChengduoZhao Hi, have you tried the workaround suggested by @dreambear1234  ?

[2018-09-27 17:48] harshini-gadige commented on #22551
@meereeum @facaiy   Can this be closed ?

[2018-09-27 17:55] bhagatindia commented on #22217
Can you please help here?

[2018-09-27 18:05] Giribushan opened #22569 "How debug model during inference in mlEngine"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-27 18:08] Giribushan commented on #22569
I want to run the inference using tensorflow serving on ml engine. But the model fails without giving any stack trace.

Like to know if there is any debug level logging I can enable during inference

[2018-09-27 18:10] gunan commented on #20674
Could you try this package out?
https://github.com/pubac15/TF_noAVX/blob/master/r1.10/tensorflow-1.10.1-cp36-cp36m-win_amd64.whl

[2018-09-27 18:12] gunan commented on #22512
@lamberta Can we add this requirement to our windows installation docs?
[code]

[2018-09-27 18:12] free-variation commented on #3388
Thank you @rfgm6, I tried your suggestion.  The frequency of this bug has dropped from "always" to "sometimes", but unfortunately, for us, isn't a complete solution yet.

[2018-09-27 18:17] tofulawrence commented on #20739
We just launched a post-training quantization toolkit. May you try running the post-training quantization flag to see if it improves your inference? Please let us know if it does not make your model smaller and faster.

https://www.tensorflow.org/performance/post_training_quantization

[2018-09-27 18:21] tofulawrence commented on #20691
We just launched a post-training quantization toolkit. May you try running the post-training quantization flag to see if it improves your inference? Please let us know if it does not make your model smaller and faster. If the flag has no effect, provide us with your model.

https://www.tensorflow.org/performance/post_training_quantization

[2018-09-27 18:27] nairouz opened #22570 "Keras eager execution: Accessing the model DeferredTensors"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Colab
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: Colab
- **TensorFlow version (use command below)**

[2018-09-27 18:30] tofulawrence commented on #19586
Tracked here: https://github.com/tensorflow/tensorflow/issues/21526

[2018-09-27 18:30] #19586 closed

[2018-09-27 18:31] curtpm commented on #22531
updated with the info

[2018-09-27 18:33] tofulawrence commented on #21548
Please refer to @michaeltinsley's comment. Thanks!

[2018-09-27 18:33] #21548 closed

[2018-09-27 18:41] tofulawrence commented on #21602
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-27 18:41] #21602 closed

[2018-09-27 18:42] tofulawrence commented on #21574
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-27 18:42] #21574 closed

[2018-09-27 18:48] lamberta commented on #22512
@gunan I can highlight the need to install Microsoft Visual C++ 2015 Redistributable and to make sure the DLL is installed in the system32 folder.

Can also add the error message to this page: https://www.tensorflow.org/install/errors (and link to this issue).

But is this something tensorflow can detect and provide a more useful error message? "Can not find msvcp140.dll in system32 directory" (or

[2018-09-27 18:52] guptapriya commented on #22066
@dave-msk thank you for submitting the PR! Is this issue fixed now and should it be closed?

[2018-09-27 18:53] Elites2017 commented on #22191
I used the toco command and the arguments; it gives me the following error now.

ValueError: None is only supported in the 1st dimension. Tensor 'image_tensor:0' has invalid shape '[None, None, None, 3]'.

Any help is welcome

[2018-09-27 18:54] dksb commented on #5492
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-27 18:54] #5492 closed

[2018-09-27 18:55] meereeum commented on #22551
Sure, it's a distribution! But, computationally speaking, there are >2^24 possible 32-bit floats between 0 and 1, at a low estimate (see e.g. https://lemire.me/blog/2017/02/28/how-many-floating-point-numbers-are-in-the-interval-01 ). So - even accounting for bias in generating randomness - there should not be ~7 conflicts / 10000. (Probability theory-wise, we would draw two identical samples with

[2018-09-27 18:56] dksb commented on #21751
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-27 18:56] #21751 closed

[2018-09-27 18:58] harshini-gadige commented on #22105
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-27 18:58] #22105 closed

[2018-09-27 19:00] harshini-gadige commented on #22094
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-27 19:00] #22094 closed

[2018-09-27 19:01] harshini-gadige commented on #21538
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-27 19:01] #21538 closed

[2018-09-27 19:01] dksb commented on #17432
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-27 19:03] dksb commented on #19631
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-27 19:03] harshini-gadige commented on #21742
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-27 19:03] #21742 closed

[2018-09-27 19:05] dksb commented on #20880
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-27 19:05] dksb commented on #21110
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-27 19:06] tensorflowbutler commented on #22558
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-27 19:06] tensorflowbutler commented on #22561
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-27 19:06] tensorflowbutler commented on #675
Nagging Assignee @agarwal-ashish: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-27 19:06] tensorflowbutler commented on #8652
Nagging Assignee @fchollet: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-27 19:06] tensorflowbutler commented on #16502
Nagging Assignee @andrewharp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-27 19:06] tensorflowbutler commented on #17628
Nagging Assignees @miaout17, @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-27 19:06] tensorflowbutler commented on #18058
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-27 19:06] tensorflowbutler commented on #19084
Nagging Assignees @ebrevdo, @qlzh727, @ispirmustafa: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-27 19:06] tensorflowbutler commented on #19568
Nagging Assignee @asimshankar: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-27 19:06] tensorflowbutler commented on #19667
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-09-27 19:06] tensorflowbutler commented on #20600
Nagging Assignee @tatatodd: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-27 19:07] tensorflowbutler commented on #20644
Nagging Assignee @jart: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-27 19:07] tensorflowbutler commented on #20843
Nagging Assignee @tatatodd: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-27 19:07] tensorflowbutler commented on #20938
Nagging Assignee @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-27 19:07] tensorflowbutler commented on #21526
Nagging Assignees @miaout17, @aselle, @suharshs, @tofulawrence: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-27 19:07] tensorflowbutler commented on #21751
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-27 19:07] tensorflowbutler commented on #21819
Nagging Assignee @tatatodd: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-27 19:07] tensorflowbutler commented on #21845
Nagging Assignee @andrewharp: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-27 19:07] tensorflowbutler commented on #21896
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-27 19:07] tensorflowbutler commented on #21913
Nagging Assignees @asimshankar, @martinwicke: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-27 19:07] tensorflowbutler commented on #22095
Nagging Assignee @robieta: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-27 19:08] tensorflowbutler commented on #22119
Nagging Assignee @shivaniag: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-27 19:08] tensorflowbutler commented on #22218
Nagging Assignee @reedwm: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-27 19:08] tensorflowbutler commented on #22233
Nagging Assignee @achowdhery: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-27 19:11] ymodak commented on #22569
@Giribushan Please refer to this [documentation](https://cloud.google.com/ml-engine/docs/tensorflow/troubleshooting) for logs.

[2018-09-27 19:43] wt-huang commented on #22522
@vyepishov This will be included in the next TensorFlow release. Will keep you posted.

[2018-09-27 19:43] #22522 closed

[2018-09-27 19:47] gunan commented on #22512
Certainly. Both should be a part of what we need to do.

[2018-09-27 19:51] tofulawrence commented on #22501
@suharshs Is this an op that we should add to your issue?

[2018-09-27 19:59] GKilianW commented on #20674
I tried this code in command prompt:

pip install N:\Packages\Python\tensorflow-1.10.1-cp36-cp36m-win_amd64.whl -f ./ --no-index

and it returned this error:

tensorflow-1.10.1-cp36-cp36m-win_amd64.whl is not a supported wheel on this platform.

[2018-09-27 20:01] maxnbk commented on #22395
I was able to produce a working 1.9.0 build, but unable to produce a working 1.10.0 build with the same exact build settings, with completely accurate details as above, e.g. did not do GPU build etc (nothing else was changed other than the release version that I selected.)

[2018-09-27 20:02] GKilianW commented on #20674
I need cp35 I think.

[2018-09-27 20:17] wt-huang commented on #22526
@7oud You can have multiple sessions to conduct trainings in parallel. Each session will need to have its own set of variables in its own thread. Alternatively, you can have multiple processes with its own session and graph. To change the gpu memory, you can try something like this instead:
[code]
Note that graph can grow very fast and the session may be running out memory very soon.

[2018-09-27 20:18] Issam-Jmili commented on #22545
Hi thanks soooo muuuch
what I need is just to to visualize the confusion matrix and 5 kernels of
the first convolutional layer.

I am following the tutorial provided on the website of tensorflow to
retrain flower_photos by transfer knowledge using the Inception V3 here the
code in the retrain.py and it works.
So what I have to change or add in this file to visualize the confusion
matrix and 5 kern

[2018-09-27 20:48] gunan commented on #20674
You may try requesting a wheel from here, given that I was not able to provide a wheel in time.

Another issue that came up is, (actually brought up by @Overdrivr ) It looks like when Microsoft Visual C++ 2015 Redistributable 64 bits. is missing we also error out the same way.
Could you try installing that from here?
https://www.microsoft.com/en-us/download/details.aspx?id=53840

[2018-09-27 20:55] terrykong commented on #22511
Cool, so I've tried my best to create a self contained working example but it isn't working and I'm not quite sure what's wrong. Here is what I'm running (this is a box with two GPUs):

1. Running `CUDA_VISIBLE_DEVICES=0 python train.py --task_type=worker --task_index=0 &`
2. Running `CUDA_VISIBLE_DEVICES=1 python train.py --task_type=worker --task_index=1 &`
3. Running `CUDA_VISIBLE_DEVICES=-1 py

[2018-09-27 21:34] cuevas1208 commented on #4094
I ran into the same error "marked as not fetchable" at tf.cond(predicate, lambda: op, lambda: tf.no_op()). The got it around by setting the identity for the opp after  tf.cond()

`tf.identity(self.object_inside_op, name="boxes")`

[2018-09-27 21:38] yongtang commented on #22455
@snuzxj Thanks. The issue could be reproduced. The issue is similar to #22559. Not very familiar with this area so will need to take another look into how to fix it.

[2018-09-27 21:43] Keno commented on #21904
Not an issue when using xrt (which just became available with 1.11), so I consider this resolved.

[2018-09-27 21:52] drasmuss opened #22573 "TensorFlow 1.11.0 requires scipy"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: n/a
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command

[2018-09-27 22:02] dubey commented on #22484
Thanks Derek.

I tried changing `get_next()` to `get_next_as_optional()` in [`Estimator._train_model_distributed()`](https://github.com/tensorflow/tensorflow/blob/d0397c3314600da0c9cdc300ae87483331d54298/tensorflow/python/estimator/estimator.py#L1306) but it seems like `PerDeviceDataIterator` does not support `get_next_as_optional`.  @guptapriya suggestions?

[2018-09-27 22:11] daniel-ziegler opened #22574 "1.11.0 is missing the package for Python 3.6 on macOS"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS High Sierra (10.13.6)
- **TensorFlow installed from (source or binary)**: binary (attempted)
- **TensorFlow version (use command below)**: 1.11.0
- **Python version**: 3.6.4 (Anaconda)
- **Exact command

[2018-09-27 22:13] drasmuss commented on #22573
For a concrete example of the impact of these new dependencies, the size of a clean tensorflow installation went from 375MB (1.9.0), to 379MB (1.10.0), to 516MB (1.11.0).

[2018-09-27 22:34] av8ramit commented on #22545
Hi @Issam-Jmili unfortunately please keep GitHub for the following as per our policy:
1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).

This question is better suited for Stack Overflow.

That being said I'll provide some advice in passing. [Here](https://www.tensorflow.org/api_docs/python/tf/confusion_matrix) is s

[2018-09-27 22:39] wdirons commented on #21960
This is still failing on ppc64le. I'll try more variations to see if I can isolate the problem.

[2018-09-27 22:43] wt-huang commented on #22528
@abladdha It appears that your model is word2vec based, whose quantization task is not supported at the moment but will be in the future. Will keep you posted on the progress.

[2018-09-27 22:49] Issam-Jmili commented on #22545
about the code ot tf.confusion.matrix can you tell me where should I put in
the main code of retrain.py please
and about the kernels I am just using tensorflow as virtualenv and what I
konw is keras uses tensorflow as backend to be to be specific I do not use
Keras with Eager ...

thank you by the way for you help it is so kind

Le jeu. 27 sept. 2018 à 23:40, Amit Patankar <notifications@github.co

[2018-09-27 22:54] fierval commented on #16050
Repros on r1.9 Ubuntu 16.04 when trying to run an example built with:

`bazel build -c opt --config=cuda -c dbg --strip=never tensorflow/examples/multibox_detector/...`

[2018-09-27 23:04] av8ramit commented on #22545
Can you link me your tutorial I'm curious as to what you are using. Once again this would be much better if you posted it on Stack Overflow.

[2018-09-27 23:05] av8ramit commented on #22574
Taking a look now.

[2018-09-27 23:11] av8ramit commented on #22574
@angersson any ideas?

[2018-09-27 23:11] wt-huang commented on #22532
@monInspiration This issue is similar to [this](https://github.com/tensorflow/tensorflow/issues/20832) Currently TOCO is not supported on Windows.

[2018-09-27 23:13] atyshka opened #22575 "Preferred way of installing TensorRT with Tensorflow 1.11 on Ubuntu?"
Back when TensorRT support was first announced back in version 1.7, for TensorRT to work it was necessary that you install TensorRT 3.0.4 for Ubuntu 14.04, regardless of your version. For 1.11, which version of TensorRT should be used when installing the tensorflow-gpu pip package?

[2018-09-27 23:19] av8ramit commented on #22574
This should be fixed now. Thanks @daniel-ziegler for bringing this to our attention.

[Link](https://files.pythonhosted.org/packages/70/78/cd74769027b6249e45807637c1aa3ef212b9492349cca4b87e5de1a10548/tensorflow-1.11.0-cp36-cp36m-macosx_10_11_x86_64.whl)

[2018-09-27 23:19] #22574 closed

[2018-09-27 23:27] daniel-ziegler commented on #22574
Works, thanks!

[2018-09-28 00:47] feihugis opened #22576 "Confusing information in the tf.data Op kernel files"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**

[2018-09-28 00:49] ispirmustafa commented on #16611
Hi @chesschi,
Do you still see this issue?

[2018-09-28 01:00] #21904 closed

[2018-09-28 01:04] mike199515 opened #22577 "[Bug] TensorRT conversion error"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:No
- **TensorFlow installed from (source or binary)**:source
- **TensorFlow version (use co

[2018-09-28 01:05] ywang370 opened #22578 "Tensorflow top 1 prediction drop on the /example/label_image/label_image.py with mobile net ."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-28 01:09] tensorflowbutler commented on #22565
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-28 01:09] tensorflowbutler commented on #22568
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-28 01:11] zacharymostowsky commented on #22325
Hi @rcorvus I am in the exact same position as you. I did as you said and added msys64\usr\bin to my path but am still not seeing success. Any update on this issue?

Thanks,
Zach

[2018-09-28 01:32] Issam-Jmili commented on #22545
I did post my question on Stack Overflow and no help :\

this is the tutorial that I am following from the website of tensorflow but
they didn't mention how to show the confusion matrix wich it is my project
you see ...

https://www.tensorflow.org/hub/tutorials/image_retraining

Le ven. 28 sept. 2018 à 00:11, Amit Patankar <notifications@github.com> a
écrit :

[2018-09-28 01:39] WhistleWhileYouWork commented on #22573
The updated install docs at: https://www.tensorflow.org/install/source
now state the following as dependencies, but to use the --no-deps flags:
pip install -U --user keras_applications==1.0.5 --no-deps
pip install -U --user keras_preprocessing==1.0.3 --no-deps

[2018-09-28 01:45] omrylcn opened #22579 "save tensorflow model to .pb file"
Hi I wonder , how do I save model to .pb file to retrain model  ? Below ,there is sample model for experiment. Thanks for helping

#######################################################################
x=tf.placeholder(tf.float32,shape=[None,2],name="x")
y=tf.placeholder(tf.float32,shape=[None,1],name="y")

with tf.name_scope("dnn"):
      layer1=tf.layers.dense(x,15,activation=tf.nn.relu,

[2018-09-28 01:47] 7oud commented on #22526
There will be some trouble of data access, when using multi-process with its own session. So I choose only ONE process to run multi-session in sequential not parallel. Each session has similar procedure, as in code
[code]

The problem is when the start the 2nd session, function **set_per_process_gpu_memory_fraction()** with another fraction value will not work, the process still use the gpu memory

[2018-09-28 01:48] adamAlnatsheh commented on #21744
@robieta are there any update you can provide on this issue? thanks!

[2018-09-28 02:08] #22532 closed

[2018-09-28 02:18] ZeroZxj commented on #22561
Hi，

the ouput is tensorflow/tensorflow/contrib/lite/java/demo/  on adnroid device.

Thanks.

[2018-09-28 02:28] wt-huang commented on #22543
@dblueeye You are correct that sparse tensor works for back propagation when you use `tf.Variable`. We will add the improved functionality in the future.

[2018-09-28 02:28] #22543 closed

[2018-09-28 02:40] dblueeye commented on #22543
Wait... what do you mean, @wt-huang? Are you claiming sparse_tensor_to_dense() works for back propagation, and you did not reproduce my error message?

[2018-09-28 03:40] beew commented on #22376
Still not fix for TF1.11.0 release, still get same error

[2018-09-28 04:11] mrry commented on #22576
Yes, we moved the kernel files down one directory, and forgot to update those comments. A contribution would be welcome, thanks!

[2018-09-28 04:29] yuefengz commented on #22511
To use multi-worker distribution strategies without Estimator training API, you have to use distribute coordinator which is not exposed yet: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/distribute/estimator_training.py#L272 It's very error-prone to mimic it by yourself. The details are also subject to change.

@guptapriya We probably need to think about whether and how to

[2018-09-28 05:01] hyabe opened #22581 "Calling `tf.image.non_max_suppression()` in parallel `tf.while_loop()` causes crash"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: YES
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: CentOS 7.2 (and also Windows 10)
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: binary (via `pip in

[2018-09-28 05:01] maitreya2954 commented on #22482
@wt-huang  Currently I am initializing input as

So input is 1D

[2018-09-28 05:26] beew opened #22583 "Tensorflow 1.11.0 build failed with ngraph"
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04.5

- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
No

- **TensorFlow installed from (source or binary)**:
Source

- **TensorFlow version (use command below)** :
1.11

[2018-09-28 06:01] Raj-08 opened #22584 "MappedByteBuffer is not a valid flatbuffer model TFLITE Model_conversion_issue"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**:
- **TensorFlow version (use command below)**

[2018-09-28 06:11] AmberCheng commented on #22442
This problem is finished in tensorflow 1.11. So I close it .

[2018-09-28 06:13] ICL-Developer opened #22585 "Tensorflow Class Diagram for android"
Hi,

I could not find any info on Tensorflow Class Diagram for android, which helps in understanding what are classes specific for TF android Project and Understanding the process flow in TF Android Project.

Can any one help me out with the Class Diagram of the TF  Android Project or any details about the working structure of TF in Android.

Thank You.

Please go to Stack Overflow for help and su

[2018-09-28 06:25] danielgrimshaw opened #22586 "GPU Memory Allocator OOM Before Limit Reached"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Sort of, the issue seems to be occurring with the ELMo tfhub model
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/a
- **TensorFlow installed fro

[2018-09-28 06:38] yuefengz commented on #22511
This is not right: `# If this is a worker, then set environment variable and join`. For `CollectiveAllReduceStrategy`, all workers including chief should run the same model replica with different "TF_CONFIG", which is similar to parameter server architectures.

[2018-09-28 06:43] NikishinRoman commented on #22501
@harshini-gadige , Is it expected to support this(Elu) operation in the future?

[2018-09-28 06:47] tensorflowbutler commented on #22575
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-28 07:14] twolodzko opened #22589 "Error when re-initializing the model"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: No
- **TensorFlow installed from (source or binary)**: N/A
- **TensorFlow version (use command below)*

[2018-09-28 07:17] hsgkim opened #22590 "Fast with eager execution, but slow without it for the same code?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04.5 LTS (Xenial Xerus)
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: Binary
- **T

[2018-09-28 07:33] Elites2017 commented on #22191
The exact command:

toco \
  --input_file=mobilenet_v1_1.0_224/teste/sfrozen_inference_graph.pb \
  --input_format=TENSORFLOW_GRAPHDEF \
  --output_file=/tmp/mobilenet_v1_1.0_224.tflite \
  --input_shape=-1,-1,-1,3 \
  --input_array=image_tensor \
  --output_array=detection_boxes,detection_scores,detection_classes,detection_nums \

[2018-09-28 07:34] digital-prime commented on #22565
@tensorflowbutler I've edited my question and add this info to it

[2018-09-28 07:44] minizon commented on #22535
@freedomtan What I did before is that I just simply replaced the retrained_graph.lite by the quantized_graph.lite in the assets folder ([here](https://github.com/googlecodelabs/tensorflow-for-poets-2/tree/master/android/tflite/app/src/main/assets)), the classifier for the tf interpreter was not changed ([here](https://github.com/googlecodelabs/tensorflow-for-poets-2/blob/master/android/tflite/app/

[2018-09-28 07:49] gunan commented on #22583
@aaroey Could you loop in Intel on this?

[2018-09-28 08:36] varunj commented on #15805
@jyoungyun @zhangjinhong17  were any of you able to successfully port the TF Lite model to android?
If yes, could you please share the source code?

[2018-09-28 08:45] zh794390558 opened #22592 "Unable to convert ops to .tflite model"
tf.VERSION = 1.9.0
 tf.GIT_VERSION = v1.9.0-0-g25c197e023
 tf.COMPILER_VERSION = v1.9.0-0-g25c197e023
c++ (GCC) 4.8.5 20150623 (Red Hat 4.8.5-28)
centos 7

[code]

What can I do for these errors?

[2018-09-28 09:30] ram1897 commented on #22019
If None of the above works for you, copy this code into freeze_graph.py for a Short Term Fix
# Copyright 2015 The TensorFlow Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless requir

[2018-09-28 10:03] rahulbhat44 commented on #3688
Run this :
tensorboard --logdir==training:your_log_dir --host=127.0.0.1
and then open in chrome

[2018-09-28 10:40] Elites2017 commented on #20798
@inakaaay @MohammadMoradi How did you Guys figure this out ?

[2018-09-28 10:42] elvys-zhang commented on #18994
@oscarriddle Hi. I just wonder how did your tensorflow serving load frozen model ? It seems that TensorRT could only optimize frozen model to frozen model. Did you recompile your serving to support tensorRT or do something to transfer frozen model to saved model?
Thanks.

[2018-09-28 10:45] #22442 closed

[2018-09-28 11:15] guptapriya commented on #22511
@yuefengz i think the replicator story that we've started working on will be a good alternative for when people cannot use high level APIs. in a nutshell, it allows you to distribute an arbitrary step function. It  doesn't deal with the session creation etc. though, so i am not yet clear how we can integrate distributed coordinator with it.

[2018-09-28 11:15] skydreamer888 opened #22594 "TensorFlow 1.11.0 with GPU support now requires CUDA Compute Capability 3.7?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No, [cifar10_train.py](https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10/cifar10_train.py)
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 Version 1803 OS Build 17134.320
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Gala

[2018-09-28 11:42] Q82822 opened #22595 "is it tensorflow example bug ?"
### System information
Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): window10 and jupyter
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: iPhone X
TensorFlow installed from (source or binary): source
TensorFlow version (use command below): 1.11
Py

[2018-09-28 12:28] drasmuss commented on #22573
I think we have to consider that the vast majority of users will simply be doing `pip install tensorflow`, so this change makes scipy an install requirement (even if there is technically a way for users to manually work around the standard packaging system behaviour).

Also consider all the downstream packages that have `tensorflow` as a requirement.  They would all now need to add
[code]
to their

[2018-09-28 12:31] Raj-08 commented on #22584
In detail here is what i am doing:

IMAGE >> MOBILENET MODEL1 >> OUTPUT1 >> SCALAR MULTIPLICATION OF OUTPUT1 with 255 >> CONCAT THIS WITH IMAGE >>MOBILENET MODEL2 >>OUTPUT2>>SCALAR MULTIPLICATION OF OUTPUT2 WITH 255 >> CONCAT THIS WITH IMAGE>> 3 LAYERS OF 3*3 CONVOLUTIONS>>  SIGMOID >> PREDICTION >> SPLIT IMAGE IN 3 CHANNELS >> MULTIPLY PREDICTION WITH ALL 3 CHANNELS >> CONCAT 3 CHANNELS  >> FINAL

[2018-09-28 12:36] digital-prime commented on #22565
when I try to build and run app with option `cmake` + I comment line
[code]
in build.gradle file, app runs and don't fall with error of wrong `input_name`, but now it have another error: with input labels size..
How does params `outputScores` and `outputClasses` collected in code? Where can i change it ?

ps - now I don't understand: does code use my own pb file or not? Labels are parsed, I can se

[2018-09-28 12:42] tensorflowbutler commented on #22579
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-28 12:42] tensorflowbutler commented on #436
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-28 12:42] tensorflowbutler commented on #5867
Nagging Assignee @miaout17: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-28 12:42] tensorflowbutler commented on #6992
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-28 12:42] tensorflowbutler commented on #10179
Nagging Assignee @angersson: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-28 12:42] tensorflowbutler commented on #19611
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-28 12:42] tensorflowbutler commented on #19671
Nagging Assignee @allenlavoie: It has been 64 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-28 12:42] tensorflowbutler commented on #19838
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-28 12:43] tensorflowbutler commented on #20881
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-28 12:43] tensorflowbutler commented on #21671
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-28 12:43] tensorflowbutler commented on #21750
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-28 12:43] tensorflowbutler commented on #21946
Nagging Assignee @aaroey: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-28 12:43] tensorflowbutler commented on #22172
Nagging Assignee @lukaszkaiser: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-28 12:43] tensorflowbutler commented on #22212
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-28 12:43] tensorflowbutler commented on #22214
Nagging Assignee @robieta: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-28 12:44] tensorflowbutler commented on #22245
Nagging Assignee @jart: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-28 12:48] PROGrand commented on #14194
with up-to-date sources (--source_dir and --git_tag_override):
[code]

[2018-09-28 12:49] nbcsm commented on #21096
Thanks for the update, @lamberta

Agree with @drpngx, it would be great to share the exact script which is used to produce the pre-built binary.

E.g. from https://github.com/tensorflow/docs/blob/master/site/en/install/source.md, I still have no idea what CUDA compute capability is used for pre-built binary.

[2018-09-28 12:51] WhistleWhileYouWork commented on #22573
Oops, you're right. I inadvertently conflated installing/building from source with simply installing the pre-built package.

[2018-09-28 12:57] #22579 closed

[2018-09-28 13:21] mirekphd commented on #19571
Allocating video memory on all GPUs but using only 1 GPU's cores looks like a bug that could be addressed - it is particularly important because multi-tenant environments such as OpenShift do not allow us to limit video RAM usage or GPU cores usage (unlike standard CPU case), so the current approach leads to blocking all resources by just one user operating on default settings.
![image](https://us

[2018-09-28 13:31] galeone opened #22596 "TFGAN support in tensorflow 2.0"
Hi everyone,

as written in the [roadmap](https://www.tensorflow.org/community/roadmap) `tf.contrib` will be deprecated/removed and some parts of it will be merged inside tensorflow core or moved to a separate repository and some removed.

Since in my team we're currently using tensorflow and TFGAN (and we like it a lot, we even hold a tutorial at EuroSciPy 2018 about GANs in Tensorflow [[1]]) we'

[2018-09-28 13:42] Raj-08 commented on #22584
After removing Deconvolution and replacing it with bilinear resizing , i get the following error :

Check failed : input_array_shape.dimension_count()==output_array_shape.dimension_count() (5 vs 4)

[2018-09-28 14:18] phalexo commented on #22376
I have been able to build from source, with MPI support. I pulled the
latest master branch, but I tweaked the two references with ToString method.

On Thu, Sep 27, 2018 at 11:46 PM beew <notifications@github.com> wrote:

[2018-09-28 14:27] joeyearsley commented on #22119
Anymore information on the XLA not working?

[2018-09-28 14:45] sibyjackgrove opened #22597 "Feature request: Documentation tf.keras.applications missing for TF 1.11"
### Describe the problem
The documentation for tf.keras.applications is missing for version 1.11 and I am getting a page not found error (see below image). Documentation is available for 1.10. While both have the same documentation, 1.11 comes with `mobilenet_V2` which was not available in 1.10.

### Source code / logs
![image](https://user-images.githubusercontent.com/25213730/46215172-50ef2180-c

[2018-09-28 14:53] aaroey commented on #22583
@gunan Sure! @avijit-nervana do you have an idea?

[2018-09-28 15:03] fanshiqing commented on #22465
@jsimsa I'm very sorry to inform you that the initial PR will be delayed compared to the plan due to other high priority tasks and Chinese National Day holiday. And I will come back to you as soon as this PR is ready.

[2018-09-28 15:04] daa commented on #20517
@gunan

I'd like to share my experience in building Python-3.7 on Ubuntu 12, and I hope it will help if you haven't solved that issue yet. I build using following configure flags:
[code]
And the only system library too outdated for Python was OpenSSL, thus ``ssl`` module cannot be built. To solve the issue I decided to build OpenSSL from source and link it statically using ``cryptography`` recipe

[2018-09-28 15:04] avijit-nervana commented on #22583
@aaroey and @gunan - we will look into it and report back

[2018-09-28 15:57] #22215 closed

[2018-09-28 16:00] joellerena commented on #9976
I have the same error:
WARNING: tensorflow: path ../external/data/plugin/text/runs not found, sending 404

I have tensorflow 1.1.0 and tensorboard 0.1.8.
I read: https://github.com/tensorflow/tensorboard/issues/743

I reinstalled 1.1.0 and it worked, but it showed me in:
- tensorboard --logdir .....
- Starting TensorBoard 47 at http://0.0.0.0:6006
incompatibility with numpy as warnings

I have upd

[2018-09-28 16:00] dlfelps commented on #21799
Hi,
I may have jumped the gun saying this was fixed. When I initially tested the nightly it was no longer giving me errors, however there is still an issue. Comprehensive example here: https://github.com/dlfelps/tf_21799
Daniel

[2018-09-28 16:01] phalexo commented on #22376
I did it before the merge, so it is probably not needed now. One might need
to either do "bazel clean" or just delete the folder and clone the repo
again. I installed MPI under /usr/local and passed that to "./configure".

On Fri, Sep 28, 2018 at 11:32 AM Yong Tang <notifications@github.com> wrote:

[2018-09-28 16:03] phalexo commented on #22376
I tested TF with MPI using some examples from the openAI "glow" repo.

On Fri, Sep 28, 2018 at 12:01 PM pensive introvert <
pensive.introvert@gmail.com> wrote:

[2018-09-28 16:05] phalexo commented on #22376
By the way, the GPU utilization was kind of underwhelming. I was expecting
better load balancing with MPI. Maybe it just has to do with specific
"glow" examples.

On Fri, Sep 28, 2018 at 12:03 PM pensive introvert <
pensive.introvert@gmail.com> wrote:

[2018-09-28 16:12] yupbank opened #22598 "Empty tfrecord in gcs would fail the TFRecordDataset.read"
The behaviour of gcs(google cloud file storage) file system is different than local file system.

as `tf.gfile.Open('local_empty.tfrecord').read(100000000) == ''`
while `tf.gfile.Open('gcs_empty_file.tfrecord').read(1000000)=='Out[11]: "<?xml version='1.0' encoding='UTF-8'?><Error><Code>InvalidRange</Code><Message>The requested range cannot be satisfied.</Message><Details>bytes=some number</Detail

[2018-09-28 16:16] dblueeye commented on #22543
@wt-huang Thanks for the clarification!

[2018-09-28 16:31] axch commented on #22551
Actually, you _would_ expect about that many collisions in 10,000 draws from a space of 2^23 possibilities, because of the "[birthday paradox](https://en.wikipedia.org/wiki/Birthday_problem)".  For instance,

[code]

There are 2^23 32-bit floats between 1.0 and 2.0.  In that range, the behavior of numpy and of TensorFlow agree (once you correct for numpy's default floating point precision being 64

[2018-09-28 16:41] omalleyt12 commented on #21799
@maksym33 make sure you're batching your data, if you still see an error can you reply with a simple code snippet that reproduces?

[2018-09-28 16:43] omalleyt12 commented on #21799
@tanzhenyu Can you take a look at the code @dlfelps posted? https://github.com/dlfelps/tf_21799

It looks like the Estimator created in `model_to_estimator` is not training when the Keras loss is sparse categorical crossentropy

[2018-09-28 16:43] freedomtan commented on #22535
@minizon I finally figured out what your environment/setting is. Put it simply, **the TF Lite runtime used by the TensorFlow for Poets 2: TFLite Android example at this time doesn't support post-training quantization**. Quick solution, build your own tensorflow-lite aar with more recent source code.

More details:
1. yes, the app you used uses floating-point model, not quantized uint8. I thought y

[2018-09-28 16:46] wt-huang commented on #22558
@dingshaoran It appears that something is off in the tool chain. Please fill out the issue template so we can better help you.

[2018-09-28 16:50] maksym33 commented on #21799
@omalleyt12
Hey,
Thanks for the answer - I checked and you were right - I had to batch the tf dataset separately from the batch argument in model.fit
Cheers,
Maks

[2018-09-28 16:52] Elites2017 commented on #22564
@wt-huang Can you please help me to solve it? I really nead to convert my .pb file to .tflite.

Exact Command:
toco
--input_file=mobilenet_v1_1.0_224/teste/sfrozen_inference_graph.pb
--input_format=TENSORFLOW_GRAPHDEF
--output_file=/tmp/mobilenet_v1_1.0_224.tflite
--input_shape=-1,-1,-1,3
--input_array=image_tensor
--output_array=detection_boxes,detection_scores,detection_classes,detection_nums \

[2018-09-28 16:56] wt-huang commented on #22564
@Elites2017 Currently Toco is not supported on Windows 10. Please try to convert the model on Linux or Mac? It should work.

[2018-09-28 16:58] guptapriya commented on #22484
Hm, yes this is something that we want to be able to handle better in the future in distribution strategy code. However, until now we've been relying on the high level API infrastructure to deal with this. For e.g. I think estimator has some logic which stops the training when OutOfRange is encountered.
@yuefengz any idea why this error shows up only in collective ops strategy and not others?

[2018-09-28 17:04] beew opened #22601 "Tensorflow 1.11.0 incompatible with keras2.2.2?"
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
No
- **TensorFlow installed from (source or binary)**:
Source

- **TensorFlow version (use command below)**:
1.11.0

-

[2018-09-28 17:06] nikitaverbis opened #22602 "[BUG] Tensorflow branch 1.11 test."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04 LTS
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: No
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use comma

[2018-09-28 17:07] #22576 closed

[2018-09-28 17:08] Elites2017 commented on #22564
@wt-huang I use toco on Ubuntu 16.04. I convert the frozen graph from the mobilenet v1_1.0_224. the problem is after training, I got a new frozen graph with different parameters (from the default frozen graph coming with that model) such as: input_type=image_tensor, input_arrays=[None, None, None, 3], output_arrays=detection_boxes,detection_scores,detection_classes,detection_nums. I've got this er

[2018-09-28 17:10] nairouz commented on #22570
@wt-huang could be please take a look at this issue or assign someone else.
Thank you very much.

[2018-09-28 17:13] feihugis commented on #22446
@zh794390558 There is a [PR](https://github.com/tensorflow/tensorflow/pull/22429) to avoid load all data into memory.

[2018-09-28 17:16] axch commented on #22551
If uniqueness is important in your application, you could increase precision to 64 bits:
[code]
or, of course, detect duplicates explicitly.

If you really need a floating-point uniform distribution in TensorFlow with high precision near 0, please file a feature request for that.  It's likely to be enough slower to be a separate code path, and probably is a better fit for [TensorFlow Probability](

[2018-09-28 17:16] #22551 closed

[2018-09-28 17:20] gunan commented on #21096
Except for windows, we bake all supported CUDA Compute Capabilities into our binary.
The reason for windows not having this is a bug in eigen we are waiting a fix on.

Since our strategy is to include all compute capabilities, they have not been documented.

[2018-09-28 17:27] snnn commented on #14194
I would avoid to build tensorflow at home because my internet service provider(Xfinity) has a data cap.

[2018-09-28 17:27] dubey commented on #22484
The error probably occurs in all cases, but it shows up in collective strategy because we print a `LOG(WARNING)` when we abort the `CollectiveExecutor`.

I just chatted with @rohan100jain, who's working on a change in Dataset iterators which should enable a proper fix for this error.  I'll update this issue when those changes are checked in.

[2018-09-28 17:29] yongtang commented on #22376
@phalexo Thanks. I tried with the latest master and it works. Let me know if you still encounter issues.

[2018-09-28 17:32] harshini-gadige commented on #22501
@NikishinRoman You can track the operations that are added to tensorflow Lite in the future here #21526.
Thank you!

[2018-09-28 17:32] #22501 closed

[2018-09-28 17:33] vojirt opened #22603 "[BUG] possible memory corruption when multiplying large matices"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**:
binary (through pip)
- **TensorFlow version

[2018-09-28 17:37] harshini-gadige commented on #22590
@hsgkim Hi, eager execution is meant for faster computation without constructing any graph. Hence this behavior is as expected.

[2018-09-28 17:39] #22590 closed

[2018-09-28 17:40] terrykong commented on #22511
@yuefengz I see. I mistakenly thought I could also just start up the workers with a join() which seemed to be the case here #22321 . Let me see if what you're suggesting helps.

@guptapriya Is this alternative you have in mind released/exposed yet?

[2018-09-28 17:44] nairouz commented on #22590
@harshini-gadige  I don't think so. The discrepancy is huge and the graph mode is supposed to be faster.
Maybe this issue should be considered more carefully.
I tried to run the code on Colab. Unfortunately, a 'ssimtest.mat' is required.
@hsgkim  could you make a simpler toy example which can reproduce the issue.

[2018-09-28 17:46] nairouz commented on #22590
@harshini-gadige please check this [link](https://medium.com/@yaroslavvb/tensorflow-meets-pytorch-with-eager-mode-714cce161e6c)

[2018-09-28 17:48] harshini-gadige commented on #22585
@ICL-Developer Hi, you can go through [this](https://www.tensorflow.org/lite/tfmobile/android_build) for detailed information about building Tensorflow on Android.This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpre

[2018-09-28 17:48] #22585 closed

[2018-09-28 17:51] hsgkim commented on #22590
@nairouz This can be reproduced with `img1` and `img2` as `np.random.normal(size=(256, 224, 176)).astype(np.float32)` as well.

[2018-09-28 17:51] pkulzc commented on #22564
For SSD models trained with detection API, you should use this [binary](https://github.com/tensorflow/models/blob/master/research/object_detection/export_tflite_ssd_graph.py) to convert the graph.

[2018-09-28 17:56] harshini-gadige commented on #22561
@ZeroZxj Hi, could you please describe the problem clearly.

[2018-09-28 18:03] harshini-gadige commented on #22497
@mrry  Could you please look into this.

[2018-09-28 18:04] harshini-gadige commented on #22432
@HappySelena Hi, could you please describe the issue clearly.

[2018-09-28 18:05] jiazhe0909 commented on #13610
@rohan100jain Thanks for bringing this new iterator. Can I use it with Estimator?

[2018-09-28 18:06] avijit-nervana commented on #22583
@beew @aaroey This compilation issue was fixed and merged to master on 9/18:
https://github.com/tensorflow/tensorflow/commit/08af8cac22af4cc430e092b6218ca77736efb82c
By that time the release branch for 1.11 was already cut - so this fix is not available in the 1.11.0 release.

However, if you pick up the latest master or the next TensorFlow release - this will go away. Please let us know if you ha

[2018-09-28 18:06] nairouz commented on #22590
@hsgkim why are you using numpy based operations for the gkernel function. I think you should use Tensorflow operations. That could be the issue causing the abnormal runtime.

[2018-09-28 18:11] Elites2017 commented on #22564
@pkulzc I've used images os size 256 x 256. in the binary file you mentioned, they say:
**Inputs:
'normalized_input_image_tensor': a float32 tensor of shape
[1, height, width, 3] containing the normalized input image. Note that the
height and width must be compatible with the height and width configured in
the fixed_shape_image resizer options in the pipeline config proto.**

I haven't done anythi

[2018-09-28 18:11] wt-huang commented on #22578
@ywang370 A small difference in label prediction is expected but looking at your code snippets, at least part of the discrepancies originate from the downsampling filter you applied in the customized code: `PIL.Image.ANTIALIAS`.

[2018-09-28 18:12] nairouz commented on #22590
In colab:
7.3 minutes for the graph mode.
3.1 sec for the eager mode.

[2018-09-28 18:15] hsgkim commented on #22590
Wait, I didn't notice that part was written in NumPy as this was a part of a huge file. I think that might be the reason why :x

[2018-09-28 18:15] nairouz commented on #22590
@hsgkim maybe you can re-run the code without the `gkernel` function and check if it is the cause of the issue.

[2018-09-28 18:28] pkulzc commented on #22564
Please read the comments carefully. It says

So when you export the graph, you don't need to provide this.

After this exporting you don't need to convert again. See this [post](https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193) for some more details.

[2018-09-28 18:36] Demetrio92 commented on #14729
Not that it is a very helpful advice, and not that I am proud of that fact that it is helpful to me. But:
* Try restarting the console if you're developing using ipython

Not sure what is it doing wrong, but after few runs with breaks via `ctrl+c` I encountered the issue. Clearing the scope does not help, but new instance does.

[2018-09-28 18:50] Elites2017 commented on #22564
Maybe I misunderstood whe you said that I don't need to convert the frozen graph obtained to tflite after exportation. I thouth I could use that graph directly into an android app.

About the link you mentionned, where do I get those parameters **(input_shapes=1,300,300,3)** or **should I replace the 300 x 300 by 256 x 256 which are the width and height of the images that I've used to trained the

[2018-09-28 19:09] pkulzc commented on #22564
Yes you still need to run toco to get tflite flatbuffer format  file.

@achowdhery  could you please comment on the toco questions?

[2018-09-28 19:10] tensorflowbutler commented on #22589
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-28 19:10] tensorflowbutler commented on #22592
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-28 19:10] Elites2017 commented on #22564
@pkulzc What about the parameters, where can I find them in my case?

[2018-09-28 19:34] smitshilu commented on #22594
Yes, They changed minimum CUDA Compute Capability to 3.7 from 3.0.

[2018-09-28 19:39] jlebar commented on #22119
We haven't forgotten about this, but I don't have an update.

I don't know what's going wrong for you; a bunch of people are using XLA
internally without issue.  It's pretty surprising.

On Fri, Sep 28, 2018 at 7:35 AM Joe Yearsley <notifications@github.com>
wrote:

[2018-09-28 19:48] gunan commented on #21366
I will mark this as community support, as we do not have freebsd systems to experiment on. So no official support for FreeBSD exist.

In the similar issue you saw, it looks like the problem was an existing symlink in the system.
Is it possible you are seeing a similar issue?

[2018-09-28 19:49] gunan commented on #21366
On second look, to your issue looks different, but I am guessing this is a bad interaction between bazel and the OS.

[2018-09-28 19:56] unrealwill commented on #22603
probably related to  #19155

[2018-09-28 20:08] vojirt commented on #22603
Seems like the same problem as #19155

[2018-09-28 20:28] raphael-sch commented on #22123
possible related: https://github.com/tensorflow/tensorflow/issues/19155

[2018-09-28 20:30] omarabid59 commented on #13044
There's a simple way I fixed this using imghdr and OpenCV. In my case, all the image files had the extension of '.jpg', but some of these extensions were invalid.  After running this code, regenerate your tf record file and you should be good to go.
`
import cv2
import imghdr
for file in image_file_list:
    file_type = imghdr.what(ImageID)
    if file_type != 'jpeg':
        print(ImageID +  " -

[2018-09-28 20:33] beew commented on #22486
https://github.com/tensorflow/tensorflow/issues/22601

[2018-09-28 20:37] ymodak commented on #21630
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-28 20:37] #21630 closed

[2018-09-28 20:39] ymodak commented on #21661
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-28 20:39] #21661 closed

[2018-09-28 20:39] Elites2017 commented on #22564
@pkulzc By running toco to get tflite flatbuffer format file, I got the following error:

**F tensorflow/contrib/lite/toco/tooling_util.cc:1589] Array FeatureExtractor/MobilenetV1/MobilenetV1/Conv2d_0/Relu6, which is an input to the DepthwiseConv operator producing the output array FeatureExtractor/MobilenetV1/MobilenetV1/Conv2d_1_depthwise/Relu6, is lacking min/max data, which is necessary for qu

[2018-09-28 20:42] harshini-gadige commented on #20510
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-28 20:42] #20510 closed

[2018-09-28 20:42] ymodak commented on #21597
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-28 20:42] #21597 closed

[2018-09-28 20:42] harshini-gadige commented on #21785
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-28 20:42] #21785 closed

[2018-09-28 20:42] wt-huang commented on #13718
Downloading the files separately should resolve this issue, closing this now.

[2018-09-28 20:42] #13718 closed

[2018-09-28 20:43] #19194 closed

[2018-09-28 20:43] ymodak commented on #21554
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-28 20:44] #21554 closed

[2018-09-28 20:44] #20833 closed

[2018-09-28 20:45] harshini-gadige commented on #22311
@qiang2008 Hi, can you please share a simplified example as asked above ?

[2018-09-28 20:45] ymodak commented on #16572
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-28 20:45] #16572 closed

[2018-09-28 20:47] ymodak commented on #17211
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-28 20:47] #17211 closed

[2018-09-28 20:47] dksb commented on #20833
Please create a new issue, if you have a similar issue.

[2018-09-28 20:47] harshini-gadige commented on #22304
@xu-song Hi, can you share an example to reproduce these errors ?

[2018-09-28 20:49] wt-huang commented on #19548
@HwMohanLiu Among other things batch size does impact accuracy to some extent, but I wouldn't use batch size 1.

[2018-09-28 20:49] #19548 closed

[2018-09-28 20:50] dksb commented on #21705
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-28 20:51] ymodak commented on #18552
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-28 20:51] #18552 closed

[2018-09-28 20:51] harshini-gadige commented on #21987
@yuwang89thu [New Issue Template](https://github.com/tensorflow/tensorflow/issues/new)

[2018-09-28 20:52] ymodak commented on #19939
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!