[2019-03-08 05:32] 0111010001100110 opened #26470 "Broken link in a notebook"
Notebook - Intro to CNNs (TF 2.0 Alpha tutorial - images): https://github.com/tensorflow/docs/blob/master/site/en/r2/tutorials/images/intro_to_cnns.ipynb
In the last cell there is a broken link (404): https://github.com/tensorflow/docs/blob/master/site/en/r2/tutorials/_index_/advanced.ipynb ("_As you can see, our simple CNN has achieved a test accuracy of over 99%. Not bad for a few lines of code!

[2019-03-08 05:34] #24033 closed

[2019-03-08 05:39] sathyamoorthyrr commented on #8425
Should we need to pass the filename and required variables to save through the hook?
What should I pass if I want to save all the variables?

any snippet is helpful.

[2019-03-08 05:44] gunan commented on #26458
@nehaljwani Thanks for the report.
While we ran the tests, we sometimes skip such issues as this is only a bug in the test because of a recent change in python 3.7. Our larger scale tests showed that this does not affect any of the production code paths in tensorflow, so we decided to fix it after.
If you like to contribute a fix, we would be happy to accept.

[2019-03-08 06:11] wookayin opened #26472 "Keras model save/load is totally wrong with sessions"
## Bug report: Keras `model.save()` does not work with sessions

Actually, it only works with the default session.

I know tf.keras is mainly targetting at TF 2.0, but it really doesn't play nice with conventional TF-1.x ways (e.g. Session). I encountered this bug and nailed down why it happens after a day. Arguably, I believe this is a severe bug and hard to realize when one encounters. This is a

[2019-03-08 06:32] lugq1990 commented on #22872
CUDA 9.0 with the same issue on windows, both TensorFlow 1.13 and 2.0-alpha. So I just use the previous version as 1.12 solved this problem.
`pip unistall tensorflow-gpu`
`pip install tensorflow-gpu==1.12.0`

[2019-03-08 06:35] OnceJune opened #26473 "The use of graph_editor.graph_replace"
Hi, I'm quite new to tensorflow and I came from this question: [tensorflow-replace-an-operation-with-an-other](https://stackoverflow.com/questions/47081900/tensorflow-replace-an-operation-with-an-other) , which is asked quite a long time ago and I've got similar need.
I have a tacotron model, freezed, with LSTMBlockCell and dynamic_rnn involved, which seems to not have a quantization version in te

[2019-03-08 06:42] xilenteyex commented on #25724
Hi @qqfish
for variable `TF_GPU_THREAD_COUNT`. Value should be equal to number of GPUs or it should always be 2 ?
Also, after setting both the environment variables, for execution on my local machine 'both the gaps' [(1) and (2) in your last comment] are gone, but not for your case ?
Do you think for me GAP has disappeared by chance ? Like it may appear if I try to run the same thing again  or try

[2019-03-08 06:59] kishorecs commented on #18982
This is still as issue..

Exception in thread "main" java.lang.UnsatisfiedLinkError: Cannot find TensorFlow native library for OS: linux, architecture: x86_64. See https://github.com/tensorflow/tensorflow/tree/master/tensorflow/java/README.md for possible solutions (such as building the library from source). Additional information on attempts to find the native library can be obtained by adding or

[2019-03-08 07:00] anirbankonar123 commented on #26429
Thanks, actually I was doing evthing fine, had a small issue . Had to start up a kernel properly before starting up Jupyter :
cmd : ipython kernel install --user --name=.venv  (was doing this but with name=venv, missed the . (dot) !).
Thanks for the responses, appreciate it.
Closing the issue.
Thanks

[2019-03-08 07:00] #26429 closed

[2019-03-08 07:07] Dexter2389 commented on #26303
Ok!!

[2019-03-08 07:14] anilsathyan7 opened #26474 "Android TFLite benchmark performance issue with deeplab segmentation model (DepthwiseConv2d)"
**System information**
The benchmark tests were carried out using the following tools and devices:-
Bazel version:Build label: 0.23.1
Tensorflow Version: 1.13.0
Android Device: OnePlus 3

**Describe the current behavior**
We trained a segmentation model using deeplab with mobilenet with TF 1.13.0 to replicate the
segmentation model by tensorflow i.e 'deeplabv3_257_mv_gpu.tflite'(Using sample code

[2019-03-08 07:37] lhendre commented on #26368
#26475 . I have added in the needed changes with the unit tests.  I am right now working on end to end tests(compiling takes some time on my machine) and am ensuring clean code standards.  I have opened up a PR for any feedback.

[2019-03-08 07:51] sfujiwara commented on #25652
I found avoid the error as below:

[code]

We (except Googlers) need not to serve our model on TPU, so I guess the above idea might be helpful.

[2019-03-08 07:55] usernamemissing opened #26476 "Code cifar10 uses CPU instead of GPU"
`
import time
time.sleep(1.5)
from keras.datasets import cifar10
from matplotlib import pyplot
from scipy.misc import toimage

import numpy
from keras.datasets import cifar10
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Flatten
from keras.constraints import maxnorm
from keras.optimizers import SGD
from keras.layers.con

[2019-03-08 07:56] bayhax commented on #559
I had the same problem, and I fixed it by the following:
1.Find the numpy installation package and delete it.
2.pip install python ==1.15.2.

[2019-03-08 08:09] adr-arroyo commented on #3388
Actually no :(
I guess it is because I force the use of several models. But I do not know how to avoid this exception yet

[2019-03-08 08:17] nouranik commented on #26452
I could not solve it!!!!!!

[2019-03-08 08:20] nouranik commented on #26451
thanks, done!

[2019-03-08 08:20] jmanly56 opened #26477 "ImportError"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win 10
- Mobile device (e.g. i

[2019-03-08 08:24] b-z commented on #22794
CUDA 9.0
cudnn 7.0.5
Windows 10
tf 1.12.0
failed...no idea

[2019-03-08 08:26] SystemErrorWang opened #26478 "Met unsupported operator of type Cast when quantize model get from quantize aware training"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
yes, i tried

[2019-03-08 08:28] Uture opened #26479 "[TF2.0] Histogram summary unexpected keyword 'values' in summary_v2.py"
**System information**
- OS Platform and Distribution: Linux 18.04
- TensorFlow version 2.0-alpha
- Python 3.6.8

**Describe the current behavior**

Trying to write any tensor as histogram summary:

     89   if bucket_count is None:
     90     bucket_count = DEFAULT_BUCKET_COUNT
---> 91   with tf.name_scope('buckets', values=[data, bucket_count]):
     92     tf.debugging.assert_scalar(bucket_co

[2019-03-08 08:37] JasonQRY commented on #23366
I tried actually on real system and it worked, i just donwloaded the App from Tensorflow, and import to Android Studio.

[2019-03-08 08:38] #23366 closed

[2019-03-08 08:39] Sagarsharma4244 commented on #26441
Initially when I  installed 2.0 and tensorboard extension, it did work once.  I did try to reboot the system but that didn't affect the result.

[2019-03-08 08:41] #26477 closed

[2019-03-08 08:41] jmanly56 commented on #26477
I solved it by using 10.0 instead of 10.1. Duh!

[2019-03-08 08:45] shaoeChen commented on #14356
@ArashHosseini , sorry to late to reply,
now i notice that GPU resource is not under my control.
Original it use 1333MB, but now it use all 1888MB as below say:
![image](https://user-images.githubusercontent.com/28851695/54017515-2d89a600-41c1-11e9-9c2b-bb636b44de52.png)

[2019-03-08 08:54] linrio opened #26480 "Where is gen_experimental_dataset_ops?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 2.0.0

**Provide the text output from tflite_convert**

[code]
in `tensorflow/python/data/experimental/ops/batching.py`
Is it the `gen_experimental_dataset_ops` disappeared? I can not find w

[2019-03-08 09:08] PrakrutiChandak opened #26481 "Tensorflow error, sess.run(); Iris dataset for logistics regression"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- Windows 10:
- TensorFlow installed from conda-forge:
- TensorFlow version 1.5.0:
- Python version 3.6

I am trying to perform logistic regression on the iris dataset that I got from UCL, i am using tensorflow and i feel it is giving me the error in the feed_dict part of the er

[2019-03-08 09:10] sahnimanas commented on #23859
Hi, any fix/update for this?
Tried with various other NDK versions and facing the same issue

[2019-03-08 09:16] Pure-Entropy commented on #26364
How did you get it to work? 'mine failed yesterday. It just failed with CUDA 9.0 Too. I am beginning to feel like giving up to be honest

[2019-03-08 09:31] wookayin commented on #26441
What are the port numbers, etc.? (e.g. `tensorboard.notebook.list()`) Are you certain that the tensorboard is running on your "localhost", not on a remote machine?

[2019-03-08 10:03] meteorcloudy commented on #26296
@jvishnuvardhan Can someone from TensorFlow team look into this problem? I'm a bit occupied by my own work.

[2019-03-08 10:25] marcown opened #26482 "ImportError: cannot import name 'Activation'"
Hi,

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No. Just importing.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Manjaro
- TensorFlow installed from (source or binary):
via pip install tensorflow
- TensorFlow version (use command below):
1.13.1
- Python version:
3.6

**Describe the current behavior**

with

[2019-03-08 11:01] MichelangeloConserva commented on #20999
Same here, news?

[2019-03-08 11:21] jacarvalho commented on #10375
+1

[2019-03-08 11:50] nmicieli opened #26484 "Android / TFlite call results in a NPE"
**System information**

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04):**
Linux Ubuntu 18.04
- **TensorFlow installed from (source or binary):**
Source
- **TensorFlow version training (or github SHA if from source):**
1.11.0 + GPU support
- **custom model**
based on ssdlite_mobilenet_v2_coco (https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_mo

[2019-03-08 12:28] MaximilianProll opened #26486 "tf_upgrade_v2 fails if the file contains f-strings and gives pasta.base.annotate.AnnotationError"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.14.3
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): pip install tensorflow==2.0.0-alpha0
- TensorFlow versi

[2019-03-08 12:31] MiloslavPalaxo commented on #26442
Hi Airlrj,

Thank you for your advice. I am actually using a later commit: afab5b322f780c235c61038b49593e34b523d400

So all the suggested changes are already implemented in my test.

[2019-03-08 12:34] shashvatshahi1998 commented on #26368
i have added added skip_empty in string_split_v2 file and merged it accordingly

[2019-03-08 12:45] Ayush517 commented on #26405
@nfelt Is there something I can help with?

[2019-03-08 12:50] aqua1907 commented on #22794
this guy saved a day, thank you

[2019-03-08 12:57] ttdd11 commented on #22047
@guikarist very correct thanks!

[2019-03-08 13:16] Squadrick commented on #24410
@ahatamiz

The changes haven't been merged into the main repository yet, so clone my [repository](https://github.com/Squadrick/addons), and switch to this branch: `euclidean-distance-transform`.

[Here's](https://github.com/Squadrick/addons/blob/euclidean-distance-transform/README.md#installation) the build guide for tensorflow_addons.

Then you can use the transform as such:
[code]

Note:

1. `x`

[2019-03-08 13:25] deepakmeena635 commented on #24099
@jppgks thanks for writing the snippet,

[2019-03-08 13:27] deepakmeena635 commented on #24099
correct me if im wrong, answering my own question

it works if youre using a gcs bucket, but not if youre using local colab paths to store checkpoints and load data from

[2019-03-08 13:52] shashvatshahi1998 commented on #26197
I would also love to contribute

[2019-03-08 14:20] shashvatshahi1998 commented on #26143
i would also like to contribute can you please help me where i can add logging in backprop.py

[2019-03-08 14:26] mikeza commented on #26368
It's pretty rude to take me explaining what to do and opening a PR while I'm building the project. But whatever. Why did you change the default in python to False?

Sorry, but the OP asked to "include skip_empty functionality" which requires more significant changes than modifying the Python function signature.

[2019-03-08 14:40] liupeng89 opened #26487 "Using "for input_image in tf.data.Dataset: " TypeError: zip argument #1 must support iteration"
I try using the tf,data.Dataset to load my own images from local directory.

But when I want to feed batch_size data to model, I got a TypeError: zip argument #1 must support iteration

Here is my code

[code]

[2019-03-08 14:47] mikeza commented on #26353
I'm looking into this, seems reasonably straightforward.

[2019-03-08 14:48] yongtang commented on #26458
@nehaljwani I took a look at the master branch. It seems the issue has been fixed. I will close the issue for now but feel free to reopen if the issue persists.

[2019-03-08 14:48] #26458 closed

[2019-03-08 14:55] ahatamiz commented on #24410
@Squadrick

That's amazing ! this op will be tremendously helpful for many researchers and I am sure people will come to appreciate its importance soon !

The only concern though is the fact that Op is non-differentiable. It would be great if we could have gradients defined for this op.

In many applications, this op will be needed for connecting two layers in a sense that it initializes the secon

[2019-03-08 14:56] jasinchandroth commented on #559
hi
can u please give the steps using 'rm' for solving my problem

[2019-03-08 15:01] lhendre commented on #26368
I'm sorry if this appears rude, but I was also in the process of building the project as was previously stated and had work done as well.
When tf.strings.split is called elsewhere in the code, based on the other unit tests, it appears to expect the function to work as if the default value is false.  So I went with that approach.  Do you think it should be changed to handle a default of true?

[2019-03-08 15:04] mikeza commented on #26368
It just seems as though the default value should be consistent in the Python and C code. The expected default will have to be decided by someone from the tensorflow team, but maybe they should all be False.

[2019-03-08 15:21] liupeng89 commented on #26487
Tensorflow : 1.9

[2019-03-08 15:29] mikeza commented on #26470
See PR https://github.com/tensorflow/docs/pull/379

Should this be something done in Colab? I saw that had created problems for some people.

[2019-03-08 15:35] v-qjqs commented on #23030
@raofengyun I have encountered the same problem. Both tf.contrib.layers.l2_regularizer and tf.keras.regularizers.l2 not working with tf.layers.dense or conv2d layer, using MirroredStratedy. Have you solved this problem? Thanks a lot.
tf 1.12 CUDA 9.0

[2019-03-08 15:51] lhendre commented on #26368
Ill update it shortly then

[2019-03-08 15:56] ajarthurs opened #26488 "TOCO reports SymbolAlreadyExposedError: Symbol AttrValue is already exposed as ()."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
- OS Platfo

[2019-03-08 16:07] lhendre commented on #26368
Updated to default to true, Ill leave the question in the pr review as well though

[2019-03-08 16:16] diego898 opened #26490 "Using Custom Loss in Keras"
**System information**
- Uses a basic CNN MNIST Keras example
- CentOS7
- TensorFlow installed from: Anaconda
- TensorFlow version: Both 1.12-gpu and 2.0.0-alpha0-cpu
- Python version: 3.6

**Describe the current behavior**
I am trying to use a custom loss function in Keras. Ive simplified its use below, and discover that if I try to personally "touch" `y_pred` and `y_true` in anyway (even trivial

[2019-03-08 16:23] musikisomorphie commented on #25218
@skye, this looks like an interesting topic to me, can I give a try?

[2019-03-08 16:30] take-iwiw commented on #26422
I faced the same error.
You can try `pip install tf-nightly`.
It solved the issue in my case.
You may also need to change `tf.contrib.lite.Interpreter` to `tf.lite.Interpreter`

[2019-03-08 16:38] sbrodehl commented on #26411
Is there anything I can do to help resolve this issue?

[2019-03-08 16:45] Miptipop commented on #22761
can you explain more clearly?

[2019-03-08 16:51] alextp commented on #26143
You probably want to add the warning in tape.watch here https://github.com/tensorflow/tensorflow/blob/d280d3d9b951063bf9e02ac79e248d729d33a29c/tensorflow/python/eager/backprop.py#L804 and tape.gradient here https://github.com/tensorflow/tensorflow/blob/d280d3d9b951063bf9e02ac79e248d729d33a29c/tensorflow/python/eager/backprop.py#L890

[2019-03-08 17:11] liyzcj commented on #22794
Windows
cuda 9.0
cudnn 7.4.1 for cuda 9.0
python 3.6.8
tensorflow 1.12.0

This Configuration works.
Attention, tensorflow 1.13 not works for me with these configuration.

[2019-03-08 17:15] racinmat commented on #26364
@Pure-Entropy  and which version of Tensorflow did you try with CUDA 9.0? Because the 1.13 version does not work with CUDA 9.0 afaik.

[2019-03-08 17:35] alextp commented on #26091
@vbardiovskyg I've root-caused this to code you wrote to handle partial and keywords in tf.function

[2019-03-08 17:41] skye commented on #25218
Sure. Do you have a rough plan of attack? If possible, I would recommend prototyping this first to get an idea of how much work it would be and what the benefits are. If the prototype is promising, I think ideally this would go in https://github.com/tensorflow/addons. Just to set expectations, I'm skeptical that a project of this complexity will make sense to include in TF core, so keep that in mi

[2019-03-08 17:50] skye commented on #24410
@Squadrick awesome! Once it's ready with full test cases etc., maybe ping @sofienbouaziz to take a look.

[2019-03-08 18:25] jvishnuvardhan commented on #26448
@peggy0135 Could you specify what options you selected for config?  Could you follow several other user's [issues](https://github.com/tensorflow/tensorflow/issues?q=is%3Aissue+mpi+is%3Aclosed) that had similar bug like you. I see some are relevant to you. Thanks!

[2019-03-08 18:30] captain-pool commented on #26349
Hey @dynamicwebpaige This Issue Looks Interesting. I'ld Like to work on it. Can you assign me to this?
Also, Can you give me some poiters to start out?

[2019-03-08 18:35] mark-saad commented on #15190
@yongtang We're running into the same issue. Is there a workaround or are we missing a config param somewhere?

[2019-03-08 18:37] ymodak commented on #26482
I was able to execute ```python from tensorflow.keras import Model``` successfully in TF 1.13.1
Can you please try updating your keras version?

[2019-03-08 18:37] jvishnuvardhan commented on #26476
@usernamemissing Could you check running the following code to see whether TF is detecting GPU or not
from tensorflow.python.client import device_lib
print(device_lib.list_local_devices())

What do you see as output? Please fill the requested details in the [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Without these details it is difficult

[2019-03-08 18:44] hamidmaei commented on #26456
Just in case here is a simple demonstration to show that I can use this sparse input for training without using estimators but when it comes to estimators I don't now how to do it using feature columns.

Say we already have stored tfrecords dataset in a file. The data is stored in the form of dictionary with keysa such as label, ids and values. We generate min-batches after calling .map and .batch

[2019-03-08 18:53] ymodak commented on #26467
The behavior you see here is expected. It says that those tests are required but are waiting to be initialized. Once we trigger the build tests their status will be updated accordingly.

[2019-03-08 19:11] Squadrick commented on #24410
@skye Sure thing.

@ahatamiz Couldn’t really figure out what the gradient of the operation would be, considering the fact that the function is defined on binary images. If you could help out with that part, I can implement fairly easily.

[2019-03-08 19:11] impjdi commented on #25759
@freedomtan

Thanks for handing over the phone for investigation.  Yes, it looks like there was a bug re: workgroup sizes which is fixed currently in our codebase.  Currently, we are not 100% certain whether we should roll out a new binary or whether we should just let users wait and open source a month or two later.

[2019-03-08 19:14] Sudeepam97 opened #26492 "[TF 2.0 API Docs] tf.math.atan and tf.math.asin"
**System information**
- TensorFlow version: 2.0
- Doc Links:
   tf.math.atan: https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/math/atan
   tf.math.asin: https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/math/asin

**Describe the documentation issue**
Documentation for `tf.math.asin` and `tf.math.atan` is created from a generated file, `python/ops/gen_math_ops.py`. The docume

[2019-03-08 19:15] Silb78dg opened #26493 "Be able to save a stateful operation"
**System information**
- TensorFlow version (you are using): tf 1.13
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Current behavior is the saver will crash trying to save a stateful operation.
Feature behavior is the saver will have an additional option to save stateful operation with the known limitation that you will loose the state of

[2019-03-08 19:41] fps7806 opened #26495 "softmax_cross_entropy_with_logits_v2 doesn't support hypergradients of labels"
Current implementation of tf.nn.softmax_cross_entropy_with_logits_v2 doesn't correctly implement the  hypergradients w.r.t labels. I implemented a hypergradient demo where I used softmax_cross_entropy_with_logits_v2 to compute meta_loss, and a custom function to compute meta_loss2. We should either expect that:
[code]

Or that
[code]

Instead, TensorFlow incorrectly returns 0s for hypergradients o

[2019-03-08 20:04] #26454 closed

[2019-03-08 20:10] ajarthurs commented on #26488
Narrowed it down. This issue first appears in TF commit fc85579a2b4b689aa9c56d0434c3433479750d23.

[2019-03-08 20:19] timudk commented on #26100
Any updates?

[2019-03-08 20:25] timudk commented on #26490
Your code does not even run, as you have to feed customLoss() with y_true and y_pred:

Traceback (most recent call last):
  File "test.py", line 43, in <module>
    model.compile(loss=customLoss(), optimizer='adam', metrics=['accuracy', 'categorical_accuracy'])
TypeError: customLoss() missing 2 required positional arguments: 'y_true' and 'y_pred'

[2019-03-08 20:29] #21787 closed

[2019-03-08 20:37] reinert commented on #26227
And you were right again! Thank you very much @HarryHHung! Tensorflow with GPU support is now installed in my machine. My build environment is as follows:

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 7
- TensorFlow version: 1.13.1
- Python version: 3.7.2
- Bazel version: 0.20.0
- GCC/Compiler version: MSVC 19.00.24215.1 for x64 (MSVC 2015 Update 3)
- CUDA/cuDNN version: 10.0

[2019-03-08 20:44] diego898 commented on #26490
@timudk I've updated the code - specifically changing this one line:

FROM:
[code]

TO:
[code]

When the loss function handles `y_pred` and `y_true` directly, you just pass the function without invoking it.

[2019-03-08 20:47] timudk commented on #26490
@diego898 Thanks, I got it.

So I replaced:
`def customLoss(y_true, y_pred, from_logits=False, axis=-1):
    return K.sparse_categorical_crossentropy(
      y_true, y_pred, from_logits=from_logits, axis=axis)`

with

`def customLoss(y_true, y_pred, from_logits=False, axis=-1):
	return tf.keras.losses.sparse_categorical_crossentropy(y_true, y_pred)`

and even this does not work, which seems really

[2019-03-08 20:47] jsimsa commented on #26222
I believe that @rxsang is actively working on fixing this issue.

[2019-03-08 20:51] timudk commented on #26490
@diego898

Okay, it seems like I found the mistake, change axis to axis=1. Training seems to work fine after this change.

[2019-03-08 20:52] jvishnuvardhan commented on #26227
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken. Thanks!

[2019-03-08 20:52] #26227 closed

[2019-03-08 20:53] diego898 commented on #26490
Hey @timudk, according to the docs I only have to handle `y_true` and `y_pred` directly and it should work. For example, see one of the other customLosses that are commented out.

Also, when you say "works fine" what do you mean? One of my problems is that it reports low loss, but also low accuracy in certain cases.

[2019-03-08 21:00] #25172 closed

[2019-03-08 21:08] omalleyt12 commented on #25254
We now allow users to not pass in validation_steps or steps_per_epoch for datasets, like in @cassianocasagrande 's suggestion

[2019-03-08 21:08] #25254 closed

[2019-03-08 21:08] jvishnuvardhan commented on #26441
@Sagarsharma4244 Please post tensorboard related issues to Tensorboard group [here](https://github.com/tensorflow/tensorboard/issues). It's very active team who will support your questions faster. Thanks!

[2019-03-08 21:09] musikisomorphie commented on #25218
**Implement analytic complex derivative instead of numeric complex derivative**

@skype, after reading the paper recommended by @proteneer, I am not sure complex step derivatives is necessary for tensorflow framework. Basically, it is a complex number version of numerical derivative approximation.

In backprop instead of using the above approximation,  we normally compute the exact analytic deriva

[2019-03-08 21:09] timudk commented on #26490
@diego898

I have figured out what the problem is. When you use your custom loss, Keras things that accuracy=categorical_accuracy. Just change
`model.compile(loss=customLoss, optimizer='adam', metrics=['accuracy', 'categorical_accuracy'])`

to

`model.compile(loss=customLoss, optimizer='adam', metrics=['sparse_categorical_accuracy', 'categorical_accuracy'])`

and you should not see a difference be

[2019-03-08 21:10] omalleyt12 commented on #24050
The global collections are going away in TF2.0, so I'm not sure what we could do here. Agree better doc would be good

[2019-03-08 21:10] #24050 closed

[2019-03-08 21:11] #25585 closed

[2019-03-08 21:14] ymodak commented on #26364
@Pure-Entropy Please use cuda 1.0 against TF 1.13.1 and in addition to that make sure you add cuda, cudnn paths to your environment. Please take a look at similar [issue](https://github.com/tensorflow/tensorflow/issues/26059)

[2019-03-08 21:18] ymodak commented on #26150
@ymodak Support for CUDA 10.1 is on our future road map but unfortunately won't be dealt immediately. As of now you have to switch to cuda 10 for using pre-built binaries. Thanks!

[2019-03-08 21:19] jvishnuvardhan commented on #26451
@nouranik Could you check tested build [configuration](https://www.tensorflow.org/install/source_windows#cpu). [Here](https://github.com/jvishnuvardhan/Installing-TensorFlow-GPU-on-Windows-10-TF1.12/blob/master/README.md) are the instructions I created that could you help you installing TF1.12. I think there is a similar resolved [issue](https://github.com/tensorflow/tensorflow/issues/26227#issuec

[2019-03-08 21:26] jvishnuvardhan commented on #26390
Could you follow the instructions listed [here](https://github.com/tensorflow/tensorflow/issues/26451#issuecomment-471079686). @nouranik In future, please don't create duplicate issues #26451. Thanks!

[2019-03-08 21:28] qqfish commented on #25724
If you set `TF_GPU_THREAD_MODE=gpu_private` then `TF_GPU_THREAD_COUNT` should always be 2. It means each GPU will have 2 private threads to launch ops.

Yes, I think gap (1) disappear in your case by change. If you rerunning the same thing, it will not appear. But the gap may appear again if running a different example.

[2019-03-08 21:36] ymodak commented on #23136
Apologies for the delay in response. Is this still an issue?
In order to expedite the trouble-shooting process, please provide a minimal code snippet to reproduce the issue reported here. Thanks!

[2019-03-08 21:38] ymodak commented on #26135
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-03-08 21:39] ymodak commented on #25984
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-03-08 21:39] #25984 closed

[2019-03-08 21:39] ymodak commented on #26177
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-03-08 21:39] #26177 closed

[2019-03-08 21:43] emp-is-me opened #26496 "tflite_convert -- Unknown layer: VladPooling"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OSX 10.14.3
- TensorFlow installed from (source or binary): source
- TensorFlow version (or github SHA if from source): 1.13.1

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.
https://drive.google.com/open?id=1M_SXoW1ceKm3LghItY2ENKKUn3c

[2019-03-08 21:44] jdduke commented on #21787
Apologies for the delay, I've been out for the past several weeks. Commit 161c500 should improve performance for TFLite's fully_connected operator, bringing it in line with TensorFlow(mobile).

[2019-03-08 21:49] ymodak commented on #26288
Closing since this behavior is not observed in the latest version of TF. Feel free to reopen if have any further conflicts. Thanks!

[2019-03-08 21:49] #26288 closed

[2019-03-08 21:49] frreiss commented on #21185
Our GraphDef Editor library (a version of `contrib.graph_editor` that operates over serialized graphs) has facilities for importing a serialized graph, modifying the shape/dtype of an input placeholder, then propagating the resulting shape/dtype changes forward through the graph. See https://github.com/CODAIT/graph_def_editor/blob/master/examples/batch_size_example.py for an example that modifies

[2019-03-08 21:49] twiecki commented on #24684
@derifatives Do you have a small code example to demonstrate how it can be used?

[2019-03-08 21:50] #26050 closed

[2019-03-08 21:51] bzamecnik commented on #22056
Yeah, in my case I ran TF 1.13  using CUDA 9.0 with CuDNN for CUDA 10.0 (since I was testing new TF 2.0). Downgrade `sudo apt install libcudnn7=7.5.0.56-1+cuda9.0` solved it.

[2019-03-08 21:52] frreiss commented on #20519
Our GraphDef Editor library (a version of `contrib.graph_editor` that operates over serialized graphs) can import and export SavedModel files. You can find example usage [here](https://github.com/CODAIT/graph_def_editor/blob/5695fdc9381ee0f935d1ece7547e5bf111cae25e/examples/batch_size_example.py#L83). The main project page is at https://github.com/CODAIT/graph_def_editor

[2019-03-08 21:56] johnpjf commented on #9988
This is available in the TF 2.0 alpha release.

[2019-03-08 21:59] jvishnuvardhan commented on #26316
@lermag May be there is an issue with selection of some parameters. Could you provide a code to reproduce the bug? Thanks!

[2019-03-08 22:00] renjie-liu commented on #26442
Hi Miloslav,

I think the issue is seq_length.

For tflite, seq_length will be dropped but the "timestamp" is actually dynamically inferred, so it does not work very well for a "ragged batch".

If you export a graph with no seq length & export to tflite, and infer one by one. The result will probably be the same. (no need to pad)

[2019-03-08 22:02] ezhulenev commented on #26411
Can you try to explicitly set device to CPU inside function body. I think that might work as well.

[2019-03-08 22:04] soylisK commented on #22056
I found this, after all, to work for me :

As result got upgraded to cuda-10.1 (from 10.0). It works for now !

[2019-03-08 22:08] ajarthurs commented on #26488
Reverted in 61f5a61d25f2d8ef422f14331584fb49af97e493. Fixed.

[2019-03-08 22:08] #26488 closed

[2019-03-08 22:10] timotei commented on #23341
@jvishnuvardhan Sadly, I don't have a super concise piece of code that can reproduce this issue at this time, however, I am executing this: https://github.com/tonybeltramelli/pix2code/blob/master/model/train.py

The app uses keras (https://github.com/tonybeltramelli/pix2code/blob/master/model/classes/model/pix2code.py)

I looked again at what drivers I have installed, and I had version 411.xx, whi

[2019-03-08 22:12] #26467 closed

[2019-03-08 22:23] xilenteyex commented on #25724
@qqfish Thanks for the explanation. I will wait for your fix then before I try the other larger models. If I can be helpful in anyway, let me know.
Thanks!

[2019-03-08 22:25] impjdi commented on #25759
I will close this bug as it is fixed internally.  Should go out with the next GPU release, either open source or another binary release.

[2019-03-08 22:25] #25759 closed

[2019-03-08 22:26] sbrodehl commented on #26411
Yes, when the device is explicitly set to `tf.device('/cpu:0')` everything works as expected.

[2019-03-08 22:27] alextp commented on #26282
I think this is the kind of thing we're running away from in tf v2. If you want to do it you can use your own layer-wrapping mechanism to do that.

[2019-03-08 22:27] #26282 closed

[2019-03-08 22:36] ymodak commented on #26299
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-03-08 22:36] #26299 closed

[2019-03-08 22:43] ymodak commented on #26292
```lite``` folder has moved out of contrib. You should find it on ```[tensorflow/tensorflow/lite/](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite)``` as mentioned by @Ayush517  in previous comments

[2019-03-08 22:46] jlebar commented on #26394
If this is the case, I'm not sure what is the bug here?

[2019-03-08 22:46] #23618 closed

[2019-03-08 22:51] #24061 closed

[2019-03-08 22:52] tanzhenyu commented on #25858
For 1.x tensorflow, can you follow this instruction to set up parameter server and worker?
https://github.com/tensorflow/examples/blob/master/community/en/docs/deploy/distributed.md
I think the server.join() should get terminated once job is done.

[2019-03-08 22:52] alvaroslm commented on #26150
It would be extremely helpful to know that beforehand (the documentation is stale and hard to find). We wouldn't be wasting lots time trying different versions of everything if we knew what TF is being successfully built with.

[2019-03-08 22:54] duguyue100 commented on #25764
@ymodak, any update on this?

[2019-03-08 22:57] gunan commented on #26150
https://www.tensorflow.org/install/gpu#software_requirements

[2019-03-08 22:57] #26150 closed

[2019-03-08 23:01] jvishnuvardhan commented on #23341
@timotei Is there any issue or resolved? Thanks!

[2019-03-08 23:03] Kublai-Jing commented on #25858
@tanzhenyu server.join() blocks forever based on `tensorflow/python/training/server_lib.py`:
`  def join(self):
    """Blocks until the server has shut down.

    This method currently blocks forever.

    Raises:
      tf.errors.OpError: Or one of its subclasses if an error occurs while
        joining the TensorFlow server.
    """
    with errors.raise_exception_on_not_ok_status() as status:

[2019-03-08 23:05] jppgks commented on #24099
@deepakmeena635 I believe so although I’m not sure about reading in data from Colab. Anyway, you want to stream data from storage as close as possible to the TPU machine, so you would use GCS buckets in the same region and zone as the TPU is located in.

[2019-03-08 23:20] jvishnuvardhan commented on #26391
@wuyankun Could you provide more details on the issue and its context? Were you able to successfully install TF? Could you provide a code to reproduce the bug? Please provide more details to find root-cause of the issue. Thanks!

[2019-03-08 23:20] ymodak commented on #26481
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-03-08 23:20] #26481 closed

[2019-03-08 23:22] iwsmith commented on #23859
FWIW I never got it working and eventually had to abandon the idea.

[2019-03-08 23:25] zmjjmz opened #26497 "[TF 2.0 API Documentation Issue] `tf.lookup.StaticHashTable` usage example is incorrect"
**System information**
- TensorFlow version: 2.0 preview
- Doc Link: [`tf.lookup.StaticHashTable`](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/lookup/StaticHashTable#class_statichashtable)

**Describe the documentation issue**

The example usage describes using `StaticHashTable.init.run()`, which is not possible since there is no `init` attribute (and it's missing from the document

[2019-03-08 23:34] skye commented on #26322
@karmel can you comment or redirect as necessary? Thanks.

[2019-03-08 23:36] jvishnuvardhan commented on #26420
@abhajaswal Could you follow the installation process listed in TF [website](https://www.tensorflow.org/install/source) or Please follow the process listed [here](https://github.com/rnreich/ubuntu-tensorflow-gpu-all-versions) but use updated drivers to install TF1.13. Also, keep in mind about the tested build [configurations](https://www.tensorflow.org/install/source#linux). Please let me know how

[2019-03-08 23:36] ymodak commented on #26314
Can you please switch to latest version of TF and build again?
TF 1.13 comes with pre-built cuda 10.0 binaries. Thus you have to upgrade your cuda version.

[2019-03-08 23:37] achowdhery commented on #23859
Please try Android Studio version of this tutorial which does not require NDK build version.

[2019-03-08 23:40] ymodak commented on #26305
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-03-08 23:44] grzegorz700 commented on #26476
I got the same output (`kernel version 390.77.0 does not match DSO version 390.116.0`). When I applied the last Ubuntu updates, and I restarted the system this message disappeared.

[2019-03-08 23:44] jvishnuvardhan commented on #26419
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-03-08 23:44] #26419 closed

[2019-03-08 23:56] vbardiovskyg commented on #26091
I've submitted a fix (66a39e5c20e4ca358d2a910e8d6f17c5de9e22f1) for this one particular issue with partial.

When reproducing the original issue, I got another failure when trying
`partial_func = partial(train_one_step, model=autoencoder)`. The `tf_inspect.getfullargspec` doesn't like keyword arguments if they are not the last arguments as even defined in the [contract](https://github.com/tensorfl

[2019-03-08 23:56] jvishnuvardhan commented on #26463
@edwardCao Could you point out which tutorial you are referring to? Please let us know If there is any mismatch in what was mentioned in the website and what you are seeing. Thanks!

[2019-03-09 00:02] qlzh727 commented on #25353
https://github.com/tensorflow/addons/pull/72

[2019-03-09 00:08] ttyio opened #26498 "Bazel always rebuild all code even I just modify single cpp file when config=cuda is used"
**System information**

- TensorFlow version (you are using): master branch
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
When I change any file in tensorflow/compiler, bazel always rebuild all code when config=cuda is used, I did not hit the bug after remove config=cuda.

**Will this change the current api? How?**
No.

**Who will benefi

[2019-03-09 00:15] ymodak commented on #25899
In order to expedite the trouble-shooting process, please provide a minimal code snippet to reproduce the issue reported here. Thanks!

[2019-03-09 00:16] ymodak commented on #25072
Closing since its resolved. Thanks!

[2019-03-09 00:16] #25072 closed

[2019-03-09 00:19] timotei commented on #23341
I think it can be closed :) thanks!

[2019-03-09 00:21] ymodak commented on #25459
Apologies for the delay in response. The new version of code snippet you provided throws a different error in TF 1.13.1 Can you please confirm? Thanks!

[2019-03-09 00:24] kpe commented on #26394
The "bug" is - you could build with 3.0 and disabled XLA but the config.py does not allow this.
What leads to nonfunctional TF ist the combination of XLA and 3.0, and not 3.0 alone.

[2019-03-09 00:30] jlebar commented on #26394
Sorry, I'm still confused.

In the second sentence, I'm understanding that TF built without XLA and run on sm30 *does* work?  But in the first sentence I'm understanding that you *can't* build TF with XLA disabled targeting sm30?  Those seem at odds.

[2019-03-09 00:36] alvaroslm commented on #26150
Thank you for updating the info. Just 5 days ago (according to the cached version on Google), there was no mention of CUDA 10 or even Ubuntu 18.04, or even specific Tensorflow versions on that page.

I'm happy to see info on the current TF gpu version 1.13 has just popped up on the tested build configs page too: https://www.tensorflow.org/install/source#tested_build_configurations

[2019-03-09 00:45] kpe commented on #26394
Well, the first sentence is - you can build it if you patch configure.py to accept compute capability 3.0 (and disabled XLA). And in sentence two, there are two statements - a) XLA and 3.0 = broken-TF, and b) disabled XLA and 3.0 = working-TF.

[2019-03-09 00:50] kpe commented on #26394
....I mean, I had to patch config.py in order to build an TF version for my old GPU (compute capability 3.0).

[2019-03-09 00:53] jlebar commented on #26394
OK, so what you'd like is for the TF build team to change config.py so that it doesn't require sm35, if XLA is disabled?

[2019-03-09 00:58] tanzhenyu commented on #25858
Oh then you probably have to ps aux and then kill it manually. Seems this has been an issue for quite some time. (Contributions welcome)

[2019-03-09 00:59] kpe commented on #26394
Yes, this is what the issue was about.

[2019-03-09 01:04] jlebar commented on #26394
It may be the case that TF build team has decided that they do not support < sm35 at all, even though you observed that it happened to work in your particular case.  Over to them, this is not really an XLA question.

[2019-03-09 01:07] kpe commented on #26394
Yes, sorry for the confusion, it was really about, a better config sanity check.

[2019-03-09 01:15] #23341 closed

[2019-03-09 01:16] byronyi commented on #25858
The cluster orchestrator (Yarn, K8s, or the poor programmer himself) is expected to terminate PS processes right now, along with handling failing workers by respawning processes.

[2019-03-09 01:33] angersson commented on #26393
Thanks for your suggestions. As far as I know, we don't have the resources to focus on Kubernetes-specific Dockerfiles right now (@lamberta or @dynamicwebpaige may be able to comment on whether or not there are plans for docs). I'd welcome a contribution to our dockerfiles repository, though.

[2019-03-09 01:35] freedomtan commented on #25759
@impjdi Thanks for your help.

[2019-03-09 01:52] jvishnuvardhan commented on #26418
@jinfagang TF2.0 was built with CUDA10.0. But, I think you can use CUDA9.0 with TF2.0. You need to make sure that the CUDA and cuDNN are referenced correctly. Thanks!

[2019-03-09 02:19] frankchn commented on #26208
Can you create both `tf.train.Server`s without passing in the ClusterSpec? ClusterSpec propagation only works when there are no conflicting types.

[2019-03-09 02:29] fzyzcjy opened #26499 "Providing a Prebuilt Binary for TFLite Benchmark"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): latest
- Are you willing to contribute it (Yes/No): Y

**D

[2019-03-09 02:36] yinggaohai commented on #19893
I meet the same problem, how to solve it? Anyone can give me some good idea.

[2019-03-09 02:55] fzyzcjy commented on #26499
In addition, it does not support windows compile 😢 so what should I do

[2019-03-09 03:23] boiihong opened #26500 "LSTM recurrent kernel ( hidden state ) makes Host to GPU transaction for every sequence, which looks quite inefficient."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes.
- OS Plat

[2019-03-09 03:24] edwardCao commented on #26463
site/en/tutorials/load_data/images.ipynb

[2019-03-09 03:42] shubham9436 opened #26501 "How to use libtensorflow-lite.a and tflite model on Raspi 3?"
1. I want to install TensorFlow Lite on the Raspi.
I'm reading the instructions to cross compile TensorFlow Lite https://www.tensorflow.org/lite/guide/build_rpi?hl=ru, but I have no idea what to do after generating libtensorflow-lite.a .

2. Also, I have downloaded and converted mobilenet_v1_1.0_224.pb to .fb format.
But how do I use the .fb model to detect any object?

[2019-03-09 04:14] ctrysbita opened #26502 "IDE cannot resolve module tf.keras"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Linux Ubuntu 18.10
- TensorFlow installed from (source or binary):
binary (pip)
- TensorFlow version (use command below):
2.0_alpha
- Python version:
3.6

**Describe the current behavior**
`import tensorflow as tf`
t

[2019-03-09 04:26] Rongxuecheng opened #26503 "Exception in thread "main" java.lang.UnsatisfiedLinkError: Cannot find TensorFlow native library for OS: linux, architecture: i386."
java -cp libtensorflow-1.12.0.jar:. -Djava.library.path=./jni HelloTensorFlow

Java HotSpot(TM) Server VM warning: You have loaded library /home/administrator/soft/jni/libtensorflow_jni.so which might have disabled stack guard. The VM will try to fix the stack guard now.
It's highly recommended that you fix the library with 'execstack -c <libfile>', or link it with '-z noexecstack'.
Exception in t

[2019-03-09 04:58] HaojieYuan opened #26504 "Disconnected graph when concatenating two models"
**System information**
 Linux Ubuntu 16.04,
TensorFlow from docker image
tf versionv1.13.1, python v3.5.2, cuda V10.0.130
gpu 1060ti  6GB

Trying to build a new model based on part of pre-trained model,

Here's some cleaned out code.

Let's imagine we got model1 trained, and want to add some layers defined in model2:

    from tensorflow.keras.layers import  Conv2D, Activation
    from tensorflow.

[2019-03-09 05:15] HaojieYuan commented on #26504
It seems after using Model() merge 2 models, the second model will be summarized as a layer.
And this layer can not be used for building another model using Model().
Is it a bug or something?

[2019-03-09 05:35] jputila opened #26505 "tf.function decorator converts ragged tensors to their dense equivalent"
**System information**
- Have I written custom code: No
- OS Platform and Distribution: Windows 10 (will also test on Ubuntu)
- TensorFlow installed from: binary
- TensorFlow version: 2.0 preview
- Python version: 3.6.6
- CUDA/cuDNN version: 10
- GPU model and memory: GTX 1070 8gb

**Describe the current behavior**
When using `@tf.function` a function with a ragged input it will return the dense e

[2019-03-09 07:22] jesen8 commented on #23342
@ttdd11 yes, it can build easily with anything to change the code

[2019-03-09 07:30] nehaljwani commented on #26458
Thank you very much!

[2019-03-09 07:37] YeeCY commented on #11294
Here is another tricky replacement I found on StackOverflow. We can include both `Tensorflow` GPU acceleration and `scipy` optimizer at the same time. Hopefully, it will be helpful.

https://stackoverflow.com/questions/50575332/escaping-local-minimum-with-tensorflow/50675655

[2019-03-09 07:49] sofienbouaziz commented on #24410
@Squadrick Thanks for the contribution! Just quickly parsing through the code I have the same comment than @ahatamiz that this op is non-differentiable and it would be great if we could back-propagate through it. The algorithm currently used is O(n^2)  is the goal to then implement a O(n) algorithm?

[2019-03-09 08:09] HaojieYuan commented on #26504
Solved.
[Disconnected graph when concatenating two models @ stackoverflow](https://stackoverflow.com/questions/55073785/disconnected-graph-when-concatenating-two-models)

[2019-03-09 08:09] #26504 closed

[2019-03-09 08:18] lolz0r commented on #25120
I also experienced this error; it appears that rolling back to an earlier version of Tensorflow fixed this:
` git checkout r1.95`

[2019-03-09 08:26] Squadrick commented on #24410
@sofienbouaziz I'm working on the `O(n)` algorithm right now, I'll push it within a day.

Like I mentioned before, I'm not sure how this op can be differentiable considering the fact that the op is defined on binary images.

[2019-03-09 08:38] yanyiwu commented on #393
I met this issue and fixed it just now using the absolute directory path (/home/xxx/path2) instead of the relative path ( './path2' ).

[2019-03-09 08:50] sofienbouaziz commented on #24410
@Squadrick Awesome for the O(n) version! Let me think about how to differentiate this op during the week-end. Just out of curiosity do you think it would be possible to develop this op purely in python?

[2019-03-09 09:02] tracy20180426 commented on #9895
Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA
2019-03-09 16:58:39.308046: W tensorflow/compiler/xla/service/platform_util.cc:240] unable to create StreamExecutor for CUDA:0: failed initializing StreamExecutor for CUDA device ordinal 0: Internal: failed call to cuDevicePrimaryCtxRetain: CUDA_ERROR_OUT_OF_MEMORY: out of memory; total memory reported: 11

[2019-03-09 09:36] captain-pool commented on #26501
@shubham9436  I've the same Question. Writing this comment to get a notification when someone answers.

[2019-03-09 09:39] umbrellalalalala commented on #15401
I met the same problem when I used
`import tensorflow as tf` and
`tf.contrib.TFLiteConverter.from_session(self.sess, [img], [out])`

then I tried
`from tensorflow.contrib import lite`  and
`lite.TFLiteConverter.from_session(self.sess, [img], [out])`
and no longer get this problem. But I don't know why.

[2019-03-09 09:47] jennings1716 commented on #15401
@umbrellalalalala  It is mainly version issue.. Check https://www.tensorflow.org/lite/convert/python_api for your tensorflow version and use the apt python api

[2019-03-09 10:12] umbrellalalalala commented on #15401
@jennings1716  Thank you. But my tensorflow version is already 1.12.0.

[2019-03-09 11:00] ageron opened #26510 "tf.print() support of `sep` and `end` arguments"
**System information**
- TensorFlow version (you are using):
tf.version.GIT_VERSION: 'v1.12.0-9807-ga86f6286b4'
tf.version.VERSION: '2.0.0-dev20190308'
- Are you willing to contribute it (Yes/No):
Yes

**Describe the feature and the current behavior/state.**
Right now `tf.print()` does not support the `sep` and `end` arguments of Python's `print()` function.

**Will this change the current api? Ho

[2019-03-09 11:02] sahnimanas commented on #23859
Is there any other way to build `libtensorflow_inference.so`, to link with a native application?

[2019-03-09 11:09] PINTO0309 commented on #25120
I made Tensorflow v2.0.0-alpha + Tensorflow Lite v1.0 (MultiThread enabled) stand alone installer.
For RaspberryPi3.
Since it is an alpha version, there may be many bugs.
**https://github.com/PINTO0309/Tensorflow-bin.git**
**tensorflow-2.0.0a0-cp35-cp35m-linux_armv7l.whl**

[2019-03-09 11:32] PK15946 commented on #25931
HI, @karimnosseir
Is that issue reproducible?

[2019-03-09 12:49] chayan18 opened #26511 "FailedPreconditionError"
Please help me out

FailedPreconditionError                   Traceback (most recent call last)
<ipython-input-27-72245a7797cb> in <module>()
      6     #session.run(adapt_policy_mean, feed_dict=rl.feed_dict)
      7     sess = tf.Session()
----> 8     sess.run(adapt_policy_mean, feed_dict=rl.feed_dict)

/home/ayan/slearn/venv/local/lib/python2.7/site-packages/tensorflow/python/client/session.pyc

[2019-03-09 12:55] ivineetm007 commented on #26182
hi,
I am having the similar problem. So , I created new conda environment and installed tensorflow-gpu as
`
conda install tensorflow-gpu
Collecting package metadata: done
Solving environment: done

## Package Plan ##

  environment location: /home/lasii/anaconda3/envs/drunk2

  added / updated specs:
    - tensorflow-gpu

The following packages will be downloaded:

    package                    |

[2019-03-09 13:04] codexponent commented on #26182
@ivineetm007 , Can you check the CUDA version?

[2019-03-09 13:09] HTelepathH commented on #26422
It works in my case too ! Thanks a lot !

[2019-03-09 13:16] ivineetm007 commented on #26182
@codexponent
It's 9.20
Conda automatically installed it while installing tensorflow-gpu.

[2019-03-09 13:21] codexponent commented on #26182
I think you should update your CUDA version to 10 along.
This link will help you
Link: https://www.nvidia.com/Download/index.aspx?lang=en-us

[2019-03-09 13:29] leemengtaiwan opened #26512 "Broken link in TF 2.0 Alpha: Distributed Training in TensorFlow documentation"
**System information**
- TensorFlow version: TF 2.0 Alpha
- Doc Link: https://www.tensorflow.org/alpha/guide/distribute_strategy#examples_and_tutorials

**Describe the documentation issue**

The second link (the `Tutorial` text shown below) in `Examples and Tutorials` section is missing:

[code]

![image](https://user-images.githubusercontent.com/3454980/54072195-bdf7e180-42ba-11e9-9c09-3de5687cc0

[2019-03-09 13:47] ivineetm007 commented on #26182
@codexponent
I installed cuda 10.0 in conda by
`conda install -c fragcolor cuda10.0 `

Now , there are two cuda in conda environment package list.
cudatoolkit 9.2
cuda 10.0

But the same error occurs on importing tensorflow.

[2019-03-09 13:53] codexponent commented on #26182
@ivineetm007 , Can you do nvidia-smi and check the head of the table! I am sure that you need to update cuda by downloading the nvidia driver from their website.

[2019-03-09 14:07] ivineetm007 commented on #26182
@codexponent
header
NVIDIA-SMI 396.54                 Driver Version: 396.54

I am working on a PC in college which is alloted to two or three students. I am not sure if I install cuda by downloading , it will not affect the other environment in conda.
A little history
---------------------------------
I am using code in the link
(https://github.com/DevendraPratapYadav/gsoc18_RedHenLab/tree/master

[2019-03-09 14:16] codexponent commented on #26182
@ivineetm007 , if this is not your pc i suggest you don't update it as it might break other environments working for cuda 9. Do one thing, create a new environment, install tensorflow with the specific version number
pip install tensorfow==1.10.0 and then test a very simple code like addition of 2 numbers(tf.add). See if this runs or not.

[2019-03-09 14:30] karimnosseir commented on #25931
Hi PK15946,

Sorry for the delay. I didn't have time to check it. Will do next week and get back to you.
Sorry for the delay again.

[2019-03-09 14:36] leemengtaiwan opened #26513 "Could not find any TPU devices on Colab using TF 2.0 Alpha"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow installed from (source or binary): source using `pip`
- TensorFlow version (use command below): 2.0.0-alpha0
- Python version: 3.6

**Describe the current behavior**

Error occurred when try to run

[2019-03-09 14:42] drebain commented on #24410
@sofienbouaziz I think @Squadrick is right that gradients make no sense for a binary input. However, there is an [generalization for arbitrary functions](http://www.theoryofcomputing.org/articles/v008a019/v008a019.pdf) (that you and @ataiya [implemented?](https://github.com/ataiya/dtform)) that if I understand correctly should be differentiable. If there was an op for this you would also get the b

[2019-03-09 14:52] achowdhery commented on #23859
You may use Makefiles. Some examples are there for our builds for microcontroller devices.

[2019-03-09 15:00] ivineetm007 commented on #26182
@codexponent
I tried your suggestion. It worked fine . Then I  tried to install tf-gpu and keras as -
conda install -y -c anaconda tensorflow-gpu==1.7.0
conda install -y keras
Now I am having error-
AttributeError: module 'tensorflow.python.training.checkpointable' has no attribute 'CheckpointableBase'
 I followed the solution for this error in the link [](https://github.com/tensorflow/tensorflow/

[2019-03-09 15:11] codexponent commented on #26182
@ivineetm007 , try to do the same thing with opening tf session on the gpu. This link may help
Link: https://www.tensorflow.org/guide/using_gpu

**Another solution**: Don't install anything from conda, just install from pip
Steps:
1) Create a fresh environment
2) pip install tensorflow==1.12.0
3) pip install tensorflow-gpu==1.12.0
4) pip install keras==2.1.3
If you have anything that you want to i

[2019-03-09 15:31] maliksyria commented on #24732
hello
same error here
have you solve it ?

[2019-03-09 15:35] gjraza commented on #17349
I am getting the same error. I am trying to load from a saved model which is saved in the form of a pb file generated from simple_save()

 TOCO failed see console for info.
b'Traceback (most recent call last):\r\n  File "C:\\anaconda3\\envs\\for Quantization\\lib\\site-packages\\tensorflow\\contrib\\lite\\toco\\python\\tensorflow_wrap_toco.py", line 18, in swig_import_helper\r\n    fp, pathname, d

[2019-03-09 16:41] davidenunes commented on #18652
Having the exact same problem with TF built from sources that was working perfectly before, the only thing I changed was nvidia drivers from nvidia-415 to 418. Could it have something to do with this ?

[2019-03-09 16:53] talregev commented on #15416
I have the same Issue.
Are you support official in tensorflow-aarch64 package?
https://pypi.org/project/tensorflow-aarch64/

I try just
'import tensorflow'
no module named tensorflow".

I am using oneplus 3t android device.
android 8.1.0
gpu not relevant. I want to use cpu version.

[2019-03-09 16:55] ygoncharov commented on #12001
Seems like a feature that makes a lot of sense

[2019-03-09 18:43] tensorflowbutler commented on #21332
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-09 18:43] tensorflowbutler commented on #25442
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-09 18:44] tensorflowbutler commented on #26007
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-09 18:44] yongtang commented on #26069
@hjfreyer Most of the operations in TF does not support uint64. There are some historical and reality reasons as far as I know. One is the binary size which could be really big if all signed and unsigned int (8/16/32/64) are enabled. Also, some integer types does not work on GPU for certain math operations yet.

By default, `int8`, `uint8`, `int16`, `uint16`, `int32`, `int64` are supported for mos

[2019-03-09 18:57] veqtor commented on #12001
Would this require a new op? Is it difficult because of lack of hw support?

[2019-03-09 20:02] quartermaine opened #26515 "RuntimeError: You must compile your model before using it."
System information

OS Platform and Distribution : Windows 10
TensorFlow installed from (source or binary): anaconda promp
TensorFlow version (use command below): '1.8.0'
Python version: 3.6
Bazel version (if compiling from source): na
GCC/Compiler version (if compiling from source): na
CUDA/cuDNN version: 9/na
GPU model and memory: gtx1060
Exact command to reproduce: na
Anaconda platform:yes

I a

[2019-03-09 20:08] yacineDZ44 commented on #24428
Hi ,
I tried the method given by @jnd77  with  predict ,but it give the same error as [https://stackoverflow.com/questions/53828373/profiling-tensorflow-estimators](url)
Is there any solution?

[2019-03-09 22:01] sta017 opened #26516 "Session crashed for an unknown reason"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-03-09 23:01] yongtang commented on #8246
cc @jackd Added a PR #26517 to expose repeat.

[2019-03-10 00:29] wf0312 opened #26519 "Build Tensorflow 2.0 Alpha From Source"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS 10.14
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.0 alpha
- Python version: 3.7.2
- Bazel version (if compiling from source): 0.20
- GCC/Compiler version (if compiling from source): Apple LLVM version 10.0.0 (clang-1000.10.44.4)
- CUDA/cuDNN version: No
- GPU model and memory

[2019-03-10 01:05] yongtang commented on #26519
I haven't tried the 2.0 alpha version of the source code, but I remember you need to pass `--config=v2` to enable 2.0 for master branch.  Maybe you could pass `--config=v2` to give it a try?

[2019-03-10 01:07] drebain commented on #24410
As an experiment I tried [implementing a simple version of the generalized transform in python](https://colab.research.google.com/drive/1-Fykc6FVi3pUtFx7spP3OAdn267TKwbD), and it is indeed differentiable. With a careful choice of indicator function it seems you can even "learn" a binary image by supervising its distance transform, so it might be suitable for use as a layer in a network as @ahatami

[2019-03-10 01:14] yongtang commented on #21549
@Flowerfan The tf.contrib.ffmpeg in tensorflow repo has been deprecated and will be removed in 2.0 (soon to be released). The video decoding functionality support is now in `tensorflow/io` repo:

https://github.com/tensorflow/io

Also google group discussion: https://groups.google.com/a/tensorflow.org/forum/#!forum/io

I tried your sample video with `tensorflow-io`, everything seems to be fine.

I

[2019-03-10 01:14] #21549 closed

[2019-03-10 01:24] facaiy commented on #26007
@danaugrs Would you like to fix it, Daniel?

[2019-03-10 01:27] jvishnuvardhan commented on #26463
@edwardCao Thanks for the link. I think intention of the tutorials is to teach how to load image dataset using tf.data. In order keep the tutorial simple as well as take minimum time, it was developed like that. There are other tutorials that talk about how to improve performance of a DL model. Thanks!

[2019-03-10 01:35] lhendre commented on #26368
Quick update, the review requested we do this Post-processing. I am in the process of working on that and have asked him to review what I have so far for that type of solution.  Any thoughts?

[2019-03-10 01:41] jvishnuvardhan commented on #25442
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-03-10 01:41] #25442 closed

[2019-03-10 01:44] JACKHAHA363 commented on #26383
Same here

[2019-03-10 01:53] swirlingsand commented on #13044
An assumption I had when working on this was that sending scipy image data was reasonable - this is not the case. Trying to pass a numpy/scipy array will fail. Where as reading the file directly as a jpeg seems to keep whatever magic bytes are needed and it works. Hopefully this helps someone as this was pretty tough to debug.

[2019-03-10 02:20] aenjon commented on #11807
--config=cuda_clang ,sure,I have to check it out

[2019-03-10 02:20] aenjon commented on #18450
--config=cuda_clang  mabe close this issue

[2019-03-10 02:44] PK15946 commented on #25931
Ok, thank you in advance for your time @karimnosseir

[2019-03-10 03:35] yangjunpro commented on #24505
@poxvoculi

Thanks for the feedback.

@yuefengz

Internally we have already integrated Horovod(we have gotten rid of MPI to ensure as less extra dependencies to be introduced as possible ) into CollectiveAllReduceStrategy and benchmarked with some of our in-house models. The performance also looks promising. For a Transformer NLP model, the rough number is as following: for 2node 16 GPUs, around 1

[2019-03-10 04:56] lipingbj commented on #26182
Same problem.My cuda version is 10.1,but the the libcublas.so.10.0 file is not in the catalogue of lib64.I am installing the tensorflow-gpu with the command 'pip install tensorflow-gpu'.

[2019-03-10 04:56] HowardHChuang opened #26524 "Can't import tensorflow"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Enterprise
- Mobile

[2019-03-10 04:59] lipingbj commented on #26182
It seems that the libcublas-version is removed by the cuda 10

[2019-03-10 05:27] ZeroMaxinumXZ commented on #24828
Having this issue too...  Guess I'll have to roll back to 1.11 or something.

[2019-03-10 05:29] codexponent commented on #26182
@lipingbj , did you update the cuda version from conda command or through nvidia official site, I think doing from the actual site might help t get those .so files
Link: https://www.nvidia.com/Download/index.aspx?lang=en-us

[2019-03-10 07:04] eytansuchard commented on #21977
Same issue in PyCharm, Windows 10 64 bits,
Errors:
ImportError: DLL load failed: A dynamic link library (DLL) initialization routine failed.
Failed to load the native TensorFlow runtime.

Code in Python:
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
import tensorflow as TF_NAMESPACE
# Create tensor.
TF_EXERCISE_msg_tensor = TF_NAMESPAC

[2019-03-10 07:24] zlichen commented on #23906
@Firyuza You need to initialize a temp for exchange.

[2019-03-10 07:29] zlichen commented on #23906
Hello @Firyuza ! You might need to initialize a temp for exchange.
[code]
Hope that this demo can help you!

[2019-03-10 07:35] lu814478913 opened #26525 "Failed to import TRTEngineOp"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): custom code
-

[2019-03-10 08:13] njbuch commented on #24732
Yep, same problem here on Raspberry 3+

[2019-03-10 08:22] MiloslavPalaxo commented on #26442
Hi renjie-liu,

Thank you. I have suspected the same.  Now, I have verified that by setting the seq length to the maximum by the command `batch_lengths.fill(max_seq_len)`. Now, the test **passes**.

However, I believe that this is still a bug and the support for seq length should be added to the TF lite. Firstly, the parameter is there and it is should be supported. Secondly, seq length support is

[2019-03-10 08:26] MiloslavPalaxo commented on #26442
I have made two minimal changes to support text data:
* I have added the embedding layer.
* I have added sequences lengths.

[2019-03-10 08:44] jansenicus commented on #11812
Closing (shutting down) all other notebooks and restarting the current notebook resolved the issue.

[2019-03-10 09:58] Imtinan1996 opened #26526 "importing scope with map_fn twice causes internal bug"
**System information**
- Code is custom written
- System OS Ubuntu 16.04
- Mobile version N/A
- Installed from binary
- Tested on TF versions 1.12.0 and 1.13.1
- Python version 3.5
- Bazel version N/A
- Compiler version N/A
- CUDA/CUDNN 9/7.65
- Graphics card GTX 1080 12GB

**CURRENT BEHAVIOUR**:
A graph is used that hold multiple map_fn functions inside it, trying to load the graph multiple times

[2019-03-10 10:10] cjds opened #26527 "Tensorflow segfaults with simple convolutional network"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): Pip
- TensorFlow version (use command below):
tensorflow

[2019-03-10 10:12] MiloslavPalaxo commented on #26442
I have found an additional problem. If I choose to use `encoder_state` instead I get the conversion error:

`prediction = tf.matmul(tf.add(encoder_state[-1][0], encoder_state[-1][1]), out_weights) + out_bias`

Failure
Traceback (most recent call last):
  File "/usr/lib/python3.7/unittest/case.py", line 59, in testPartExecutor
    yield
  File "/usr/lib/python3.7/unittest/case.py", line 615, in run

[2019-03-10 10:38] aniketbote commented on #25597
Yes I think it is the same problem. Any particular way it could be resolved? @alvaroslm

[2019-03-10 10:43] FlashTek commented on #26324
You see this exception because your grayscale image does not have a valid shape. Inside tensorflow a grayscale image is defined as a `3D` tensor whose last dimension is size 1. This is different from `matplotlibs` definition. Therefore, you can fix this be using:

    tf_img = tf.convert_to_tensor(img.reshape((*img.shape, 1))

I created a pull request to give users a better feedback _why_ the oper

[2019-03-10 10:58] Mainak431 commented on #26324
@FlashTek  Or we can update the function code to work both on 3D and 2D tensor. It will be a one line change. If you want i can do it separately in a pull request.

[2019-03-10 11:52] Ayush517 commented on #26516
<img width="1680" alt="Screenshot 2019-03-10 at 5 21 16 PM" src="https://user-images.githubusercontent.com/31190928/54084615-ee8e5880-4358-11e9-98e9-224b1cda667d.png">
@sta017 The code you provided works correctly when I tried executing it.

[2019-03-10 12:29] mandroid6 opened #26530 "[TF 2.0 API Docs] tf.math.argmax"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version:  2.0
- Doc Link: https://www.tensorflow.org/versions/r2.0/api_docs/python/

[2019-03-10 12:33] flyingsalmon opened #26531 "TensorFlow Official website tutorials error"
**System information**
- TensorFlow version:
- Doc Link: https://tensorflow.google.cn/tutorials/keras/basic_classification#preprocess_the_data

**Describe the documentation issue**
plt.show()  missing

[2019-03-10 12:38] mandroid6 opened #26532 "[TF 2.0 API Docs] tf.math.argmin"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version:  2.0
- Doc Link: https://www.tensorflow.org/versions/r2.0/api_docs/python/

[2019-03-10 12:42] mandroid6 opened #26533 "[TF 2.0 API Docs] tf.argsort"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version:  2.0
- Doc Link: https://www.tensorflow.org/versions/r2.0/api_docs/python/

[2019-03-10 12:44] mandroid6 opened #26534 "[TF 2.0 API Docs] tf.unstack"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version:  2.0
- Doc Link: https://www.tensorflow.org/versions/r2.0/api_docs/python/

[2019-03-10 12:46] mandroid6 opened #26535 "[TF 2.0 API Docs] tf.unique"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version:  2.0
- Doc Link: https://www.tensorflow.org/versions/r2.0/api_docs/python/

[2019-03-10 12:47] wangjiangchuan commented on #26314
ok, I will try. Thank you!

[2019-03-10 12:48] hmhyau opened #26536 "tf.keras.layers.Dense can't set attribute when subclassing tf.keras.Model"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-03-10 12:51] mandroid6 opened #26537 "[TF 2.0 API Docs] tf.zeros"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version:  2.0
- Doc Link: https://www.tensorflow.org/versions/r2.0/api_docs/python/

[2019-03-10 12:55] mandroid6 opened #26538 "[TF 2.0 API Docs] tf.zeros_initializer"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version:  2.0
- Doc Link: https://www.tensorflow.org/versions/r2.0/api_docs/python/

[2019-03-10 12:59] mandroid6 opened #26539 "[TF 2.0 API Docs] tf.zeros_like"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version:  2.0
- Doc Link: https://www.tensorflow.org/versions/r2.0/api_docs/python/

[2019-03-10 13:02] wf0312 commented on #26519
Thanks, it worked

[2019-03-10 13:02] #26519 closed

[2019-03-10 13:16] haemaenpaa commented on #25459
The error I'm getting now is this:

[code]

The layers, however, seem to be intact now, so I'm willing to call this fixed.

[2019-03-10 13:23] danaugrs commented on #26007
@facaiy Thanks! I think we can close this one. The author is probably using an old version like I was in https://github.com/tensorflow/tensorflow/issues/26012 and it should be fixed now.

[2019-03-10 13:54] sknadig commented on #25843
I had the same issue. It turned out that I did not have cuDNN.
After installing cuDNN v7.5.0.56 I no longer get this error.
TensorFlow version 2.0.0-dev20190310.

[2019-03-10 14:26] jvishnuvardhan commented on #26531
@flyingsalmon I can see the following
plt.figure()
plt.imshow(train_images[0])
plt.colorbar()
plt.grid(False)
plt.show()

Could you remove cache and open again? Thanks!

[2019-03-10 14:38] anirbankonar123 opened #26543 "loss becoming 'nan' and accuracy dropping to 5% using tf.keras"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-03-10 14:44] anirbankonar123 opened #26544 "Timing hook giving wrong execution time"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-03-10 14:44] flyingsalmon commented on #26531
@jvishnuvardhan I'm visiting the Chinese version, and can't see it.

[2019-03-10 14:47] jvishnuvardhan commented on #26530
@mandroid6 Can you create single issue with all the similar modifications? It is too much overhead to work on 8 similar issues and it will be better for everyone (including you). Could you combine rest of the seven similar issues into one issue? Thanks!

[2019-03-10 14:50] jvishnuvardhan commented on #26532
@mandroid6 Could you combine This and six similar issues (you created) into one issue? We can close all those issues to reduce overhead for the developers. Thanks!

[2019-03-10 15:10] jvishnuvardhan commented on #26543
@anirbankonar123 I don't see any issue with your code. Please post this kind of support questions in stackoverflow. Thanks!
My output as follows
Epoch #1	 Loss: 0.634148	Accuracy: 0.739583
Epoch #2	 Loss: 0.524849	Accuracy: 0.770833
Epoch #3	 Loss: 0.454392	Accuracy: 0.833333
Epoch #4	 Loss: 0.390557	Accuracy: 0.885417
Epoch #5	 Loss: 0.346580	Accuracy: 0.885417
78.02320790290833

When I ran it ag

[2019-03-10 15:12] HenryChanhy commented on #6698
I faced the same issues.and use below line fixed it.  check [here](https://www.tensorflow.org/install/gpu) get detail.
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/cuda/extras/CUPTI/lib64

[2019-03-10 15:40] antonino-tocco opened #26545 "Issue on converting yolo to tflite with bazel-bin toco"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.10
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):  master

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

Model is retrainer yolo

**Any other info / logs**

Include any logs

[2019-03-10 15:40] jvishnuvardhan commented on #26375
@quancq  Can you provide a code to run and reproduce the bug? Thanks!

[2019-03-10 15:47] anirbankonar123 commented on #26543
I got this on 8th epoch last time. I hv attached jupyter notebook also, it
is happening randomly at diff epochs. pls see my log here
https://colab.research.google.com/drive/1NmxW4FuBRH5-0t87YMl21Y-OKKRKCjun

There is something wrong here, loss shd never become nan, never seen this
in keras or Tf 1.x

Thanks

On Sun, 10 Mar 2019 at 20:44, Vishnuvardhan Janapati <
notifications@github.com> wrote:

[2019-03-10 15:54] jvishnuvardhan commented on #26544
@anirbankonar123 Please check it again with a Stopwatch. On my Mac it took 85.64 sec and it was correct as my stopwatch showed 87 sec.
Please post these kind of support questions in stackoverflow. Thanks!

[2019-03-10 15:54] #26544 closed

[2019-03-10 15:55] cpoptic opened #26546 "ModuleNotFoundError: No module named 'tensorflow.compat.v2'"
Was going through the Jupyter notebook on TFP that was associated with the TF Dev Summit:

https://github.com/tensorflow/probability/blob/master/tensorflow_probability/examples/jupyter_notebooks/Probabilistic_Layers_Regression.ipynb
Run

Running the line

`import tensorflow.compat.v2 as tf`

Returns the error:

Running tf.VERSION shows it's 1.13.

I'm assuming this is related to not having TF 2.0

[2019-03-10 15:58] elithrar opened #26547 "Tutorial: TF 2.0 - Text generation with keras.layer.LSTM - Fails to Generate Sensible Text"
**System information**
- TensorFlow version: `'2.0.0-alpha0'`
- Doc Link: https://www.tensorflow.org/alpha/tutorials/sequences/text_generation#generate_text

**Describe the documentation issue**

The model, after 10 epochs (the default), generates "unreadable" text. This is through running the default Colab notebook via the docs/as loaded from GitHub: https://colab.research.google.com/github/tenso

[2019-03-10 15:59] jvishnuvardhan commented on #26546
@cpoptic Could you try changing "v2" to "v1". Like
import tensorflow.compat.v1 as tf

It worked for me. Please let us know how it progresses. We will correct the typo. Thanks!

[2019-03-10 16:00] zdaiot commented on #10408
I just solve this problem by doing this:
FIrst, you should  `import tensorflow.contrib.keras.api.keras.backend as K` in the file,
Then, at the end of each iteration, use
[code]

[2019-03-10 16:02] anirbankonar123 commented on #26544
As I mentioned, I hv checked number of times, time given by Time hook is
much less than elapsed time rpted by time lib of python. The variation is
significant. Its a bug.

its not something for stackoverflow, as i am not getting stuck up in a
syntax, or dnt know how to use something.

Thanks,
Anirban

On Sun, 10 Mar 2019 at 21:27, Vishnuvardhan Janapati <
notifications@github.com> wrote:

[2019-03-10 16:04] cpoptic commented on #26546
Yes that works, but the issue is with the tensorflow_probability

[code]

AttributeError: module 'tensorflow.compat' has no attribute 'v2'

AttributeError                            Traceback (most recent call last)
<ipython-input-10-6713d3750cfa> in <module>
     17 # import tensorflow.compat.v2 as tf
     18 import tensorflow.compat.v1 as tf
---> 19 import tensorflow_probability as tfp
     20

[2019-03-10 16:13] jvishnuvardhan commented on #26543
@anirbankonar123 Again, I ran your shared file.
https://colab.sandbox.google.com/gist/jvishnuvardhan/becdfc18f1510f27bca54176048b3ba7/copy-of-fashion-mnist-with-keras-eager-and-tf-data.ipynb

Epoch #1	 Loss: 0.547747	Accuracy: 0.791667
Epoch #2	 Loss: 0.412555	Accuracy: 0.833333
Epoch #3	 Loss: 0.339921	Accuracy: 0.854167
Epoch #4	 Loss: 0.353694	Accuracy: 0.916667
Epoch #5	 Loss: 0.355032	Accurac

[2019-03-10 16:15] jvishnuvardhan commented on #26544
@anirbankonar123 Could you provide a link to the file as you shared in other issue? Thanks!

[2019-03-10 16:17] jvishnuvardhan commented on #26524
@HowardHChuang Please uninstall python and tensorflow and then install both using the instructions [here](https://github.com/jvishnuvardhan/Installing-TensorFlow-GPU-on-Windows-10-TF1.12). Please let me know how it progresses. thanks!

[2019-03-10 16:22] anirbankonar123 commented on #26543
As I mentioned, its not a reproducible issue, i got it initially on 7th
epoch, then didnt get it for a while, again got it twice today morning on
4th epoch. I generally reset all runtimes, its kind of mandatory for me as
I install fresh version of TF and need to make sure this is happpening
properly ! I understand its not coming now, for me too it was working
yesterday, but an issue all the while,

[2019-03-10 16:24] anirbankonar123 commented on #26544
Sure, heres the link
https://colab.research.google.com/drive/1_F13vQd_G_imOyrVtO7Sauw7O9tQvoWM

Thanks

On Sun, 10 Mar 2019 at 21:48, Vishnuvardhan Janapati <
notifications@github.com> wrote:

[2019-03-10 16:36] mandroid6 commented on #26530
@jvishnuvardhan Yes sure,my understanding was to create individual issues so that new GSoC students could easily pick them up as their first task 😃.
Will combine them into a single issue by tomorrow!

[2019-03-10 16:37] anirbankonar123 commented on #26543
Ran just now, after doing 'reset all runtimes' , installing tensorflow now
getting loss = nan on 3rd epoch :
https://colab.research.google.com/drive/1NmxW4FuBRH5-0t87YMl21Y-OKKRKCjun#scrollTo=kNgnUKPvgSCz

Please see here.
Thanks

On Sun, Mar 10, 2019 at 9:47 PM Vishnuvardhan Janapati <
notifications@github.com> wrote:

[2019-03-10 16:37] anirbankonar123 commented on #26543
Epoch #1 Loss: 0.549081 Accuracy: 0.718750 Epoch #2 Loss: 0.430481
Accuracy: 0.822917 Epoch #3 Loss: nan Accuracy: 0.166667 Epoch #4 Loss: nan
Accuracy: 0.166667 Epoch #5 Loss: nan Accuracy: 0.166667

On Sun, Mar 10, 2019 at 9:47 PM Vishnuvardhan Janapati <
notifications@github.com> wrote:

[2019-03-10 16:56] Supergitter123 commented on #25984
![image](https://user-images.githubusercontent.com/17160539/54088373-cb19dc80-435d-11e9-9688-352225726db0.png)
There is a screenshot of it, I tried to re-install everything today but still no luck

[2019-03-10 17:06] fix27 opened #26548 "refuse﻿ find example"
add example learning TensorFlow 2.0 to comment type of warning ecology place. Sample https://photos.google.com/search/battery https://photos.google.com/search/refuse﻿

[2019-03-10 17:16] hanhtd2 commented on #17386
I fixed this issue with the newest version of tensorflow-gpu==1.13.1, python 3.6.8:
1. Download CUDA 10.1 (the newest)
2. Download cuDNN 7.5.0 (the newest)
3. Install CUDA
4. Extract cuDNN and copy to installed folder of CUDA
5. Enjoin:
![image](https://user-images.githubusercontent.com/40728496/54088644-d63b2f80-4392-11e9-8d4c-6e8527167550.png)

[2019-03-10 17:24] Supergitter123 commented on #25984
Additionally I've managed to install tensorflow cpu on a laptop and it works fine there. Neither cpu or gpu is working on my stationary though...

[2019-03-10 17:49] facaiy commented on #26007
many thanks for your feedback!

[2019-03-10 17:49] #26007 closed

[2019-03-10 18:03] scottcjt opened #26549 "[Lite] Assertion failure if shape of dynamic output tensor changes between invoke()s"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 1.1

[2019-03-10 18:27] #26441 closed

[2019-03-10 18:46] #18786 closed

[2019-03-10 18:46] #24336 closed

[2019-03-10 18:46] tensorflowbutler commented on #18786
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2019-03-10 18:47] tensorflowbutler commented on #24336
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2019-03-10 19:01] elithrar commented on #26547
OK - I diffed this against [the notebook on master](https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/sequences/text_generation.ipynb) (targeting v1.13).

The only real difference is the use of a CuDNNGRU layer in the v1.13 version vs. the unified LSTM layer in the v2.0.0-alpha version.

Changing the layer in v2.0.0-alpha to the GRU layer yields expected result

[2019-03-10 19:20] renjie-liu commented on #26442
Right, currently final state is not supported. Really sorry about that.

On Sun, Mar 10, 2019 at 3:14 AM MiloslavPalaxo <notifications@github.com>
wrote:

--
Renjie Liu

renjieliu@google.com
+1 (650) 253-4359

[2019-03-10 19:22] MarkDaoust commented on #26531
Hi @flyingsalmon,

Thanks for the report.

We try to keep these up to date.
But there is some lag on translation.

There's no extra action anyone needs to take for this.
This will be fixed when the translation is through the pipeline.

[2019-03-10 19:22] #26531 closed

[2019-03-10 20:23] GuidoBartoli opened #26551 "Unable to install on Raspbian Stretch with Virtual Environments"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Raspbian Stretch Lite
- TensorFlow installed from (source or binary): using `pip`
- TensorFlow version: 1.12
- Python version: 2.7
- Installed using virtualenv? pip? conda?: `virtualenv`

**Describe the problem**
I wanted to install Tensorflow for Python 2.7 over a clean install of Raspbian Stretch Lite on Raspberry

[2019-03-10 20:32] ParthS007 commented on #26539
@mandroid6 @jvishnuvardhan I want to work on this Issue. can you please help me get started with updating docs. Thanks

[2019-03-10 20:59] kefirski opened #26552 "Feature Request: Better control of train and evaluation modes"
**System information**
- TensorFlow version (you are using): tf 2.0 alpha
- Are you willing to contribute it (Yes/No): Yes

Current approach for handling train and evaluation modes involves passing additional argument to `call` method like this

[code]

If we would consider that we have some model with deep nested layers that contain `Dropout`, `Batch Norm` and other layers, then it would be neces

[2019-03-10 21:06] rajathpatel23 commented on #26305
Thank you for the help. I will go ahead and close the issue

[2019-03-10 21:06] #26305 closed

[2019-03-10 21:21] gunan commented on #26394
@chsigg may be able to confirm or deny, but here is what I can say:

Below compute capability 3.0 TF will NOT work. XLA, or no xla, TF needs features in compute capability 3.0
Below 3.5 is best effort, we do not test it, or even build it.  It may work, may not work, you are free to use at your own risk.
Above 3.5 will work.
6.0 is the most heavily tested one for us, and any issues we see for 6.0 o

[2019-03-10 21:28] LGTrader opened #26553 "tf-2.0.0-alpha0 bazel build failure in Docker - Extension file not found. Unable to load package for '//tensorflow:version_check.bzl':"
**System information**
- Linux Ubuntu 18.04.2 LTS:
- TensorFlow installed from tar.gz source file
- TensorFlow version: 2.0.0.alpha0
- Python version: 3.5.2 (provided in Docker image)
- Build inside Docker container (https://www.tensorflow.org/install/source#gpu_support_2)
- Bazel version - 0.19.2 (provided in docker image)
- GCC/Compiler version (if compiling from source): gcc version 5.4.0 20160

[2019-03-10 21:41] davidenunes commented on #18652
I just confirmed that this was exactly the problem,  it was not about the TF version, the problem persisted across all build versions including the latest nightly. I'm using arch, so the latest upgrade installed the linux kernel 5.0 and the latest nvidia drivers 418*.

**What I did was downgrade both the drivers to nvidia 415.27-9 and the kernel/headers to linux 4.20.11**

TF no longer hangs on tf

[2019-03-10 22:03] mrgloom commented on #20798
So it isn't possible to use fully convolutional models with input like `[None, None, None, 3]`?

[2019-03-10 22:27] mrgloom commented on #23714
What if I have custom object detection model (not SSD), but for example [FaceBoxes](https://github.com/TropComplique/FaceBoxes-tensorflow) which also use `tf.image.non_max_suppression`
https://github.com/TropComplique/FaceBoxes-tensorflow/blob/545ec4f4f3c55c3592ee189ed56a11a3fd017194/src/utils/nms.py#L30

@pkulzc can you eleborate on this?

[2019-03-10 23:48] byronyi commented on #24505
@yangjunpro We are having this discussion on collective communication and networking API in general within the networking SIG. If you are interested, feel free to send us a design draft to networking@tensorflow.org. We are also having a conference call this Wednesday morning (7am GMT+8), and it is a great place to escalate the discussion.

[2019-03-11 02:03] yaoliangjun opened #26555 "Does "TensorFlow-experimental" has a new version for iOS?"
"TensorFlow-experimental" pod's version now is 1.1.1，I need a new version to match the latest source code, and how can I build a "TensorFlow-experimental" framework?

[2019-03-11 02:08] xinyuwl commented on #26553
When I compiled tensorflow2.0-alpha0 with the source code in conda, I encountered the same problem with the following error message.

Loading:
Loading: 0 packages loaded
ERROR: error loading package '': Encountered error while reading extension file 'swift/repositories.bzl': no such package '@build_bazel_rules_swift//swift': Traceback (most recent call last):
	File "/home/wangli/.cache/bazel/_baze

[2019-03-11 02:29] Fordacre opened #26557 "tf.keras.optimizers.Adam with tf.stop_gradient leads to ValueError: An operation has `None` for gradient."
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-03-11 02:30] shashvatshahi1998 commented on #25827
I modified tanh(),sigmoid() and exp() functions

[2019-03-11 02:35] chenjiaoAngel commented on #26292
Thanks, I have find that and build success

[2019-03-11 02:35] chenjiaoAngel commented on #26292
1.

[2019-03-11 02:35] #26292 closed

[2019-03-11 02:35] aligajani opened #26558 "Posenet Tensorflow.js documentation doesn't specify how to feed it video"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version:
- Doc Link:

**Describe the documentation issue**

**We welcome contributi

[2019-03-11 02:37] yujianFresh commented on #7285
thanks,it's fixed

[2019-03-11 02:47] laetitiaoist commented on #8658
Is there a solution to keep the best Checkpoints and not use the SavedModel format, all while using the Estimator API ?

[2019-03-11 02:49] SystemErrorWang commented on #12388
same problem here. I use ubuntu 16.4, tensorflow 1.12.0, gtx 1080 and cuda 9.0 with cudnn7.3.1.
My network was training normally when I went back home last friday. But in monday morning I found it unable to run evaluation on gpu, even if I set "with tf.device('/device:GPU:0')". I tried "nvidia-smi" in terminal, there is no problem with my gpu and driver

[2019-03-11 02:50] HowardHChuang commented on #26524
Hi, thanks for your prompt response. I fixed the issue by myself and can use tensorflow with GPU now. However, I get the following messages
WARNING:tensorflow:From C:\Users\user\.conda\envs\tensorflow\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updat

[2019-03-11 03:00] martinwicke commented on #8658
@laetitaoist just use @Ivanukhov's solution but just copy `checkpoint_path` instead of exporting.

I'll close this issue, I think the solution is exactly what was initially asked for.

[2019-03-11 03:00] #8658 closed

[2019-03-11 03:18] lxl910915 opened #26559 "tensorflow1.12 hangs at LocalMaster::RunStep with tf.train.MonitoredTrainingSession"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-03-11 03:39] jvishnuvardhan commented on #26524
@HowardHChuang Check these resources [1](https://stackoverflow.com/questions/54685134/warning-from-tensorflow-when-creating-vgg16) and [2](https://github.com/tensorflow/tensorflow/issues/25578#issuecomment-462997000) to understand the warning.

I am closing the issue. If you see any similar issue, please open a new issue. thanks!

[2019-03-11 03:39] #26524 closed

[2019-03-11 05:01] suiyuan2009 commented on #4820
@whjiang it's a long time, I'll take a look in this week.

[2019-03-11 05:27] talregev commented on #23716
are you going to release whl for aarch64 or arm8v official?

[2019-03-11 05:29] rikichou commented on #20905
bazel build //tensorflow/lite:libtensorflowlite.so \
    --config=android_arm --cxxopt='--std=c++11' -c opt

[2019-03-11 05:48] lc0 commented on #26353
I am also happy to help, @dynamicwebpaige please lemme know if this issue is still open

[2019-03-11 05:52] namitmohale commented on #22472
@noticeable how do I check if a previous version is present in my packages or not?

[2019-03-11 06:04] yangjunpro commented on #24505
@byronyi

Sure, we will join the conference this time.

Is there any dial-in number or Hangout invitations?

Thanks

[2019-03-11 06:07] laetitiaoist commented on #8658
This is working great! My modified class where I just keep all of the best checkpoints copied to another folder :

[code]

[2019-03-11 06:22] laetitiaoist commented on #11674
This is not very well documented, I only saw ServingInputReceiver in the doc and got the problem that my features were not a dict.

[2019-03-11 06:51] joyalbin commented on #26546
@cpoptic just want to add my observation here,
in my understanding `tensorflow-probability` is not installed along with `tensorflow`.
Could please try with your test script after installing `pip install --user --upgrade tensorflow-probability`
Hope this will help you

[2019-03-11 07:21] qovalenko opened #26564 "Homepage display issue: www.tensorflow.org"
It is ok. Thanks!
Спасибо!

[2019-03-11 07:29] wuyankun commented on #26391
Package:    sci-libs/tensorflow-1.12.0
Repository: gentoo
Maintainer: perfinion@gentoo.org
USE:        abi_x86_64 amd64 cpu_flags_x86_sse cpu_flags_x86_sse2 cuda elibc_glibc kernel_linux python_targets_python2_7 python_targets_python3_4 userland_GNU
FEATURES:   nostrip preserve-libs sandbox splitdebug userpriv usersandbox
Checking for at least 5 GiB RAM ...
Checking for at least 5 GiB disk space a

[2019-03-11 07:35] wuyankun commented on #26391
Portage 2.2.28 (python 3.4.3-final-0, default/linux/amd64/13.0/desktop/kde, gcc-4.9.3, glibc-2.22-r4, 4.4.111-gentoo+ x86_64)
=================================================================
                         System Settings
=================================================================
System uname: Linux-4.4.111-gentoo+-x86_64-Intel-R-_Core-TM-_i7-4710MQ_CPU_@_2.50GHz-with-gentoo-2.2

[2019-03-11 07:37] lhxy1991 opened #26565 "bazel build tensorflow/python/tools:freeze_graph Error:no package '@icu//'"
when i use freeza_graph ,i face a problem:
$bazel build tensorflow/python/tools:freeze_graph
Starting local Bazel server and connecting to it...
INFO: Invocation ID: 1327e781-b5f7-4f42-9ce5-dc35448da7db
ERROR: /mnt/hgfs/share1/tensorflow-master/tensorflow/core/kernels/BUILD:4791:1: no such package '@icu//': java.io.IOException: thread interrupted and referenced by '//tensorflow/core/kernels:string

[2019-03-11 07:44] OtakuSenpai commented on #26198
Can you give an example of using wget along with bazel. It was hectic this 5 days and I'm unsure where to place the downloaded packages in the tensor flow directory.
Thanks alot

[2019-03-11 07:46] abhiboost commented on #26348
@ymodak , apparently, doing it this way worked!

thanks!

[2019-03-11 07:46] #26348 closed

[2019-03-11 08:11] omalleyt12 commented on #26274
Thanks for the bug report! I was able to reproduce this issue, looking into it now

[2019-03-11 08:20] nouranik commented on #26451
thnak you for your helps. I already used the instructions. I can not install CUDA 9.0 it has error.
I installed 9.2 but still does not work. why I face with tensorflow CPU error?

[2019-03-11 09:10] jokerstudios opened #26566 "Unknown default keras 'categorical_crossentropy' loss function when converting with .h5 to .tflite"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
-> I used just default code from the rstudio/keras library, no custom loss function
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
-> Ubuntu 16.04.5 LTS (Xenial Xerus) debian
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on m

[2019-03-11 09:15] wuyankun commented on #26391
@jvishnuvardhan , thanks for your help .maybe you can see the issue  #23127, there are some more info.

[2019-03-11 09:32] jinfagang opened #26567 "Tensorflow 2.0 with CUDA 9"
The default installation were on CUDA 10 of tensorflow 2.

How to install tensorflow 2.0 with cuda 9?

[2019-03-11 09:49] imranparuk commented on #23136
I've moved my code to pytorch, so yeah my issue is solved.

[2019-03-11 09:51] chsigg commented on #26394
We can probably change #25767 to issue an error for compute capability < 3.0 (down from currently < 3.5).

For compute capability < 3.5, we can issue a warning that XLA is not supported. XLA generates CUDA code for whatever GPU is present at runtime, so anything more than a warning during configuration seems prohibitive.

[2019-03-11 10:22] joyalbin commented on #26557
@Fordacre have u faced any problem after using `tf.train.AdamOptimizer()`
The reason for the failure is that there is no gradient calculation for the Dense1 tensor because of  `tf.stop_gradient(x)`, could you please help me to understand what you are trying out with the line `Dense1_stop = Lambda(lambda x: tf.stop_gradient(x))(Dense1)`

[2019-03-11 10:28] franticguy commented on #25213
I am facing the same problem.

[2019-03-11 10:28] SystemErrorWang commented on #24685
@Shailendra2803 i don't know if quantization only works for slim, but there seems to be convolution_transpose layers in style transfer model, which is not yet supported in tf lite quantize aware training.

[2019-03-11 11:15] ZhangXiao96 commented on #26321
Hello， I wonder if this issue has already been solved?
However, I found that if the input matrix is the symmetric matrix, then we could use the following way to replace tf.linalg.logm():

[code]

and this operation is derivable.

[2019-03-11 11:26] a6802739 commented on #26393
@angersson, could I have a try for this?

[2019-03-11 11:31] Renesanse opened #26569 "Can you please add opportunity to use "MobileNet" model with more labels, pls"
private List<Map<String, Object>> detectObjectOnBinary(HashMap args) throws IOException {
    byte[] binary = (byte[])args.get("binary");
    String model = args.get("model").toString();
    double threshold = (double)args.get("threshold");
    float THRESHOLD = (float)threshold;
    List<Double> ANCHORS = (ArrayList)args.get("anchors");
    int BLOCK_SIZE = (int)args.get("blockSize");
    int NUM

[2019-03-11 11:32] #26569 closed

[2019-03-11 11:58] joyalbin commented on #26566
@jokerstudios , could you please try with
model %>% compile(
loss = categorical_crossentropy,
optimizer = optimizer_adadelta(),
metrics = c('accuracy')
)

Hope this will help you

[2019-03-11 12:08] vignesh-irtt opened #26571 "CPU int8 inference"
Ubuntu 16.04
- TensorFlow version (you are using):1.12
- Are you willing to contribute it (Yes/No):No

**Describe the feature and the current behavior/state.** When will conv layer support **int8** in **cpu**

**Will this change the current api? How?** Add int8 datatype

**Who will benefit with this feature?** Inference time will be reduced in cnn models

**Any Other info.**

[2019-03-11 12:14] Oktai15 commented on #26552
@kefirski great idea, support you, man!

[2019-03-11 12:20] huljar opened #26572 "Cuda 10: Failed to get device properties, error code: 3"
I am using [keras-retinanet](https://github.com/fizyr/keras-retinanet) (0.5.0) to perform object detection on images using its TensorFlow backend. When I `load_model` their pre-trained COCO model, the GPU is initialized as expected:
[code]

However, when calling `predict_on_batch` on this model afterwards, the GPU cannot be initialized any more:
[code]

**System information**
- Have I written cust

[2019-03-11 12:33] bibererik opened #26573 "Tensorboard is not showing the last checkpoint's evaluation result"
I trained some object detection models with custom data for 4K steps using TensorFlow Object Detection API, and evaluated them during the training. Evaluation is done for all checkpoints, I watched the results on the console.

However, I can't see the last two checkpoints' evaluation results on Tensorboard for some raeson. It shows the evaluation result of 3K steps, and nothing after that. I can s

[2019-03-11 12:43] xielm12 opened #26574 "Is it possible to set the random seed for tf.feature_column.categorical_column_with_hash_bucket on operation-level？"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.13.rc1
- Are you willing to contribute it (Yes/No): Yes

[2019-03-11 12:48] YokkaBear commented on #20778
I also encountered this awful error this afternoon, luckily I made it following the steps:
1. Uninstall everythin about tensorflow in your python env or virtual env(anaconda maybe). The way you check can be: in cmd, input "python3", then input "import tensorflow", if no module named ... is reported, then you finish this step.
2. Then install tensorflow in gpu version like nothin' happens. follow t

[2019-03-11 13:01] YuesongNan commented on #23326
I still encounter the same problem. There is no problem for the loading paths. What is the solution?

[2019-03-11 13:13] bartoszkp commented on #26393
@angersson Thanks for your reply. I did try really hard to construct a working image for more than a week, but it seems it requires some more expertise (or it's just me ;) ). I've tried both - starting from the "tensorflow/tensorflow:latest-gpu" and trying to include things missing from k8s point of view or starting from the k8s NVidia image and installing tensorflow and dependencies.

[2019-03-11 13:22] SumNeuron opened #26576 "SparseTensor takes ages to initialize and can not be saved independently"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): sorta
- OS Pla

[2019-03-11 13:23] SumNeuron commented on #26576
sparse.shape is modest in size (200,000 x 50,000)

[2019-03-11 13:24] Fordacre commented on #26557
@joyalbin I'm sorry for the ambiguity of my description. I just wrote a demo about when will this problem occurs. I want the first dense layer doesn't influence the loss in this demo.
However, in my practical application, it is a Multi outputs model with multi losses. What I want to do is to prevent some part of my model from influencing one of those losses.
In addition, if I use tf.train.AdamOpti

[2019-03-11 13:25] nemo-point commented on #24732
I solved my problem (Nitrogen Quad board - iMX6 - cortex A9, armv7l) by changing some compilation features following the [notifications from ARM](https://community.arm.com/developer/tools-software/tools/b/tools-software-ides-blog/posts/arm-cortex-a-processors-and-gcc-command-lines):

Using the build script provided by tensorflow for RASPBERRY boards, I used the following compilation line in tensor

[2019-03-11 13:34] diego898 commented on #26490
@timudk - thank you I thought TF was doing something behind the scenes automatically that was failing in one case. Im not sure this is the intended behavior, so I will open a new issue to discuss it.

[2019-03-11 13:34] #26490 closed

[2019-03-11 13:46] diego898 opened #26577 "Accuracy Metric automatically selected, fails in certain cases"
**System information**
- Uses a basic CNN MNIST Keras example
- CentOS7
- TensorFlow installed from: Anaconda
- TensorFlow version: Both 1.12-gpu and 2.0.0-alpha0-cpu
- Python version: 3.6

**Describe the current behavior**
* When using a "built in" loss function, the "accuracy" metric is **automatically** resolved to the "correct one".
* When using a custom loss function that "touches" `y_pred` a

[2019-03-11 13:51] jvishnuvardhan commented on #26451
@nouranik Did you uninstall python and tensorflow before installing then by following the instructions I provided. Thank you. It worked for many users. Some time when you have installed different versions of python and tensorflow, there will be some modules that could affect reinstalling of TF. Thanks!

[2019-03-11 13:52] acmaheri commented on #13120
I have got the same problem: is there any working solution yet? The above solution is not working for me.

[2019-03-11 13:53] JamesQFreeman opened #26578 "Pip No matching distribution found for tensorflow-gpu==2.0.0-alpha0"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-03-11 13:54] JamesQFreeman commented on #26578
pip install -U --pre tensorflow-gpu==2.0.0-alpha0

Then I got these:

Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Collecting tensorflow-gpu==2.0.0-alpha0
  Could not find a version that satisfies the requirement tensorflow-gpu==2.0.0-alpha0 (from versions: 1.2.0, 1.2.1, 1.3.0, 1.4.0, 1.5.0, 1.5.1, 1.6.0, 1.7.0, 1.7.1, 1.8.0, 1.9.0, 1.10.0, 1.11.0, 1.12.0, 1.13.1)
No matching distr

[2019-03-11 13:58] suyash opened #26579 "[1.13] Incomplete information in the warning message on using tf.contrib.predictor"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: 1.13.1
- Doc Link: https://www.tensorflow.org/api_docs/python/tf/contrib/p

[2019-03-11 13:59] cottrell commented on #25356
Are there any examples or docs in development about this? I am not at all clear on what the intended tensorboard usage is in (the evolving) tensorflow 2.0 api.

[2019-03-11 14:02] jvishnuvardhan commented on #26451
@could you check this [resource](https://github.com/tensorflow/tensorflow/issues/12748) that might help you. Do you have python 32 bit or 64 bit? For some reason, if you cannot install CUDA9.0, and can only install CUDA9.2, you need to make sure that the paths are correctly referencing cuda and cuDNN folders. Thanks!

[2019-03-11 14:07] Sudeepam97 commented on #26394
I can submit another PR if it is required, but I would appreciate it if you could specify the exact information that should be conveyed in the warning. The original PR did issue a warning and not an error. It was changed because it seemed like TensorFlow would surely fail to work below 3.5 (which is not really the case maybe?).

[2019-03-11 14:14] awaizman1 commented on #25213
Hi @preethivenkatesh

Could you please share this issue status? Does latest version includes the fix for mkl build issue?

Thanks.

[2019-03-11 14:17] alextp commented on #26091
Vojtech, can you file an issue with a minimal unit test for
tf_inspect.getfullargspec?

On Fri, Mar 8, 2019 at 4:00 PM Vojtech Bardiovsky <notifications@github.com>
wrote:

--
 - Alex

[2019-03-11 14:24] qlzh727 commented on #25985
This should be now fixed by https://github.com/tensorflow/tensorflow/commit/83df61b4d4ad11f3b8cf05ee98d29e6fb5e25506.

[2019-03-11 14:24] #25985 closed

[2019-03-11 14:25] qlzh727 commented on #25852
This should now be fixed by https://github.com/tensorflow/tensorflow/commit/83df61b4d4ad11f3b8cf05ee98d29e6fb5e25506.

[2019-03-11 14:30] timudk commented on #26557
@Fordacre

Do I understand correctly that you want to train Dense2-Dense3 and Dense3-output while keeping Dense1-Dense2 and Input-Dense1 fixed?

[2019-03-11 14:38] gtarasconi commented on #19669
Within Mac anvironment you can download the wheel for:
https://pypi.org/project/sparse-dot-topn/

[2019-03-11 14:40] byronyi commented on #24505
You should be able to see the invitation once you add yourself to https://groups.google.com/a/tensorflow.org/forum/m/?pli=1#!forum/networking

[2019-03-11 14:55] #26482 closed

[2019-03-11 14:58] Pure-Entropy commented on #26364
I honestly do not know where I am going wrong here. I just reinstalled CUDA 10.0 and cuDNN 10.0 the other day. I am just from copying the path variables EXACTLY as they are on the install page.

the reinstalled TF13.1 still refuses to work. PyTorch manages to recognise my GPU and work without any setup whatsoever, I got it to work just as soon as I installed CUDA and cuDNN even without the path va

[2019-03-11 15:00] ahatamiz commented on #24410
Thanks @Squadrick for you great work on this and thanks @sofienbouaziz for taking a look into this. Also thanks for your thoughtful contribution to the discussion @drebain

@Squadrick, you are right in the sense that the op may not be differentiable if we were to utilize on binary images. However,  what I had in mind is very close the implementation by @drebain. One can pass the output of sigmoid,

[2019-03-11 15:01] Pure-Entropy commented on #26364
it was both 1.13 and 2.0.

[2019-03-11 15:20] Sri-vatsa commented on #25988
@JTunis I haven't had a lot of time to look at it yet but from an initial examination, it seems like the docstrings for Keras files have a different format than what is used in Tensorflow.
Take a look at the corresponding docstring [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/data/ops/dataset_ops.py) for `tf.data.dataset` api [here](https://www.tensorflow.org/versi

[2019-03-11 15:21] cpoptic commented on #26546
Yes I ran   pip install tensorflow and pip install tensorflow-probability
 separately
So I'm double sure they are both installed

On Mon, Mar 11, 2019, 2:54 AM Albin Joy <notifications@github.com> wrote:

[2019-03-11 15:35] akshoop commented on #26578
When I encountered a similar sounding error, I realized my problem was that I had Python 3.7.2 (32-bit) installed.

You need to have installed Python 3.7.2 **(64-bit)** in order to execute `pip install tensorflow==2.0.0-alpha0`

Hope this helps.

[2019-03-11 15:35] drebain commented on #24410
According to its documentation, the default O(n) L2 implementation in OpenCV uses the multi-pass algorithm based on the generalized transform, so if @Squadrick has implemented that, then I think all that would need to be done is to expose a version of the op that doesn't apply the thresholding indicator function.

[2019-03-11 15:47] JamesQFreeman commented on #26578
Thanks, I think I was running 64-bit version python37.
However, I solved it by directly download and install .whl file from https://pypi.org/project/tensorflow-gpu/2.0.0a0/#files

[2019-03-11 15:53] GItext opened #26580 "custom layer"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-03-11 15:54] huan commented on #25985
Thanks, that's awesome.

[2019-03-11 15:58] qlzh727 commented on #25641
This should be fixed by https://github.com/tensorflow/tensorflow/commit/76a22b340814425b6a8b6e0c0bb81bcd162c458b and https://github.com/tensorflow/tensorflow/commit/42a1de008f301fb2d4c575ef5f817b5513156328

[2019-03-11 15:59] qlzh727 commented on #25641
Btw, the tf.rnn.* namespace has been moved to tf.nn.RNNCell* to consolidate the namespace.

[2019-03-11 15:59] #25641 closed

[2019-03-11 16:02] jvishnuvardhan commented on #26530
@mandroid6 Are you going to create single issue? please let me know so that i can close other 8 similar issues. Thanks!

[2019-03-11 16:02] racinmat commented on #26364
1) There is no cuDNN 10.0. The newest CuDNN version is 7.5.
The tensorflow 1.13.1 works on Windows with GPU support, I have it myself.

2) Maybe a bit silly question, but are you using 64bit python? Because the version (32/64bit) of DLL must match the python version. Otherwise it complains about missing DLL even when it's present.

[2019-03-11 16:18] guillaumekln opened #26581 "Wrapped tf.nn.RNNCell* layers are incompatible with tf.keras.layers.Bidirectional"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Ubuntu 16.04
- TensorFlow installed: binary
- TensorFlow version: `2.0.0.dev20190311`
- Python version: 3.6.6

**Describe the current behavior**

In the TensorFlow 2.0 preview, the `tf.nn.RNNCellDropoutWrapper` and `tf.nn.RNNCellResidualWrapper` wrappers are incompatible with `tf.keras.layers.Bidirectional`. I

[2019-03-11 16:24] qlzh727 commented on #26581
Thanks for reporting the issue, I will send some fix within this week.

[2019-03-11 16:27] mhsmith commented on #23648
I got the same error when building TensorFlow 0.13.1 with Clang 7.0.2. It's caused by `kDefaultCompilationThreshold` being declared as `constexpr`.

As described [here](https://stackoverflow.com/questions/48361845), I was able to work around it by adding the following line below `namespace tensorflow` in `xla_compilation_cache.cc`:

[code]

[2019-03-11 16:33] mandroid6 commented on #26539
@ParthS007 yes sure. Just find the relevant py file and update the doc string in the *zeros_like* function.

Also can you take up other similar issues which require docstring update, it would be helpful to have a single PR for them!

[2019-03-11 16:36] mandroid6 commented on #26530
@jvishnuvardhan still waiting to combine them as new students have already started working on individual issues. Please wait till tomorrow. Thanks

[2019-03-11 16:39] ymodak commented on #26348
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-03-11 17:00] singhcpt commented on #26175
We're using the TensorFlow example, not TensorFlow Lite - this is the file path: /home/plantvillage/tf_demo/src/org/tensorflow/demo/tracking/MultiBoxTracker.java

[2019-03-11 17:01] ymodak commented on #26580
Closing this issue due to lack of information. Please provide all the information asked by the template. Thanks!

[2019-03-11 17:01] #26580 closed

[2019-03-11 17:02] ymodak commented on #26295
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-03-11 17:02] #26295 closed

[2019-03-11 17:03] ymodak commented on #26347
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-03-11 17:03] #26347 closed

[2019-03-11 17:03] #26416 closed

[2019-03-11 17:05] singhcpt commented on #26175
Where would I check the TF version? Thanks!

[2019-03-11 17:11] jdduke commented on #20905
Ah, good catch, updated!

[2019-03-11 17:14] ymodak commented on #26364
You need to add sub folders: ```bin``` , ```include``` and ```lib``` to the path. I see that ```lib and include``` folder's are not added to the path. Can you please try adding them as well?

[2019-03-11 17:17] ymodak commented on #26573
This issue is more suitable on tensorboard repo. The folks maintaining tensorboard repo can address your query better. Please post this issue on [tensorboard repo](https://github.com/tensorflow/tensorboard/issues). Thanks!

[2019-03-11 17:17] #26573 closed

[2019-03-11 17:20] ymodak commented on #26578
Closing this issue since its resolved. Feel free to reopen if have any further problems. Thanks!

[2019-03-11 17:20] #26578 closed

[2019-03-11 17:20] jvishnuvardhan commented on #26539
I agree with @mandroid6. I would be happy to see a single (mostly two) PR(s) to close these 8 similar issues. Thanks @ParthS007 .

[2019-03-11 17:21] jvishnuvardhan commented on #26530
@mandroid6 Thanks for your support.

[2019-03-11 17:23] JamesQFreeman commented on #22794
python 3.7.2
Tensorflow-gpu 2.0.0a0
tensorboard 1.13.0
tensorflow-estimator 1.13.0
CUDA 10.1
cuDNN v7.5.0 for CUDA10.0
win10 x64
Didn't work

[2019-03-11 17:27] angersson commented on #26393
@a6802739 Sure, I'd be happy to review a PR.

@bartoszkp No worries -- Dockerfiles are notoriously hard to get working correctly.

[2019-03-11 17:31] ymodak commented on #26511
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create fr

[2019-03-11 17:31] #26511 closed

[2019-03-11 17:33] ymodak commented on #26548
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create fr

[2019-03-11 17:33] #26564 closed

[2019-03-11 17:36] joepmoritz opened #26584 "Tensorflow Lite Java Interpreter methods throw Exceptions, but this is not in the method declaration"
Methods such as `Interpreter.run` throw Java exceptions originating from native, but the method declaration does not include `throws Exception`. It would be helpful to beginners to include this. Thanks!

[2019-03-11 17:39] ParthS007 commented on #26539
okay @mandroid6 @jvishnuvardhan I am going through the Issues and will ask here if I face any difficulty.
Thanks for the responses. :+1:

[2019-03-11 17:42] ymodak commented on #26292
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-03-11 17:46] ymodak commented on #25459
Closing this issue since the original error has now been resolved. Feel free to post a new issue if have further problem. Thanks!

[2019-03-11 17:46] #25459 closed

[2019-03-11 17:47] ymodak commented on #26558
This issue is more suitable on tensorflow javascript repo. Please post it on [tfjs repo](https://github.com/tensorflow/tfjs/issues). Thanks!

[2019-03-11 17:47] #26558 closed

[2019-03-11 18:03] arshjot commented on #23269
@qlzh727 I am getting a `tensorflow.python.framework.errors_impl.UnknownError: CUDNN_STATUS_EXECUTION_FAILED` error on using dropout in `contrib.cudnn_rnn.CudnnLSTM` in TF 2.0.0-alpha0.
Not sure if we can raise new issues for errors related to contrib in TF 2 but it might be relevant if you are porting it to tf.keras API.

[2019-03-11 18:18] steige2 commented on #26565
CUDA 10.0
CuDNN 7.4
OS Linux ***.iu.edu 3.10.0-862.6.3.el7.x86_64
bazel 0.22
NVidia P100 and V100

I reproduce the initial error (no such package...) but the java.io.. error is different:

$bazel build --config=opt --config=noaws --config=nogcp --config=nohdfs --config=noignite --config=nokafka //tensorflow/tools/pip_package:build_pip_package
INFO: Invocation ID: d790060c-7ae2-4ecd-8834-8fda6454b5

[2019-03-11 18:36] allenlavoie commented on #26536
This is because "output" is a `@property` of `Layer` without a setter. You'll need to pick a different name.

[2019-03-11 19:03] ParthS007 commented on #26539
@mandroid6 Do I have to make PR in this repo: https://github.com/tensorflow/docs

[2019-03-11 19:24] klapstoelpiloot commented on #24976
This has been over a month ago and we're still having issues with this. An update or fix would be very much appreciated!

[2019-03-11 19:33] gjraza opened #26586 "tensorflow lite: error while converting frozen model to lite format"
I am trying to quantize a model that is made using tfslim library. I froze it using graph_util.convert_variables_to_constants  function and tried to convert it to tflite formate for quantization. I am using win 10 and tf-nighlty.  the following error appears:

 TOCO failed. See console for info.
2019-03-12 00:20:27.142300: I tensorflow/lite/toco/graph_transformations/graph_transformations.cc:39] B

[2019-03-11 19:38] RoboEvangelist commented on #9952
if I pass GraphDef as an argument, is there a default argument value I can use? I tried "=0," "=nullptr," and "=NULL," but non work, and I get errors saying GraphDef cannot be set to any of those values

[2019-03-11 19:48] jdduke commented on #26068
Do you have any example of model usage in Python?

[2019-03-11 19:49] jdduke commented on #21309
The iOS audio sample can be found @ https://github.com/tensorflow/examples/tree/master/lite/examples/speech_commands/ios. Feedback is welcome.

[2019-03-11 19:49] #21309 closed

[2019-03-11 19:51] 0x0L opened #26587 "Tensorflow 2.0a tf.function variable batch size"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OSX Mojave
- TensorFlow installed from (source or binary): pip installed
- TensorFlow version (use command below): 2.0a
- Python version: 3.7.2

Hi,

I'm experimenting with irregular batch size and I ran accross this strange performance behavior.
Consider the following code:

[code]

Not using the wrapped tf_function

[2019-03-11 19:52] jdduke commented on #25275
Have you run `./configure` and located the Android toolchain from your root checkout directory?

This looks like an issue with your build rule, are you referring to the .so directly or indirectly from the .so target itself?

[2019-03-11 20:08] jvishnuvardhan commented on #26539
@ParthS007 Create a PR in TF/TF repo [here](https://github.com/tensorflow/tensorflow/pulls). Thanks!

[2019-03-11 20:25] jvishnuvardhan commented on #26545
@antonino-tocco Could you add more details on the context of the issue and the process you followed leading to the bug? Please provide a  code to reproduce the bug. Thanks!

[2019-03-11 20:27] 0x0L commented on #26587
Actually using

[code]

solves the performance issue

[2019-03-11 20:31] ymodak commented on #26466
@asimshankar Can you PTAL? Thanks!

[2019-03-11 20:32] #26587 closed

[2019-03-11 20:34] annarev commented on #26461
The script currently assumes that import has the form "import tensorflow as tf". However, the snippet you linked just uses "import tensorflow".
We should definitely update documentation and may be look into supporting other import names. Thank you for catching that and sorry for the trouble!

[2019-03-11 20:37] #26536 closed

[2019-03-11 20:59] tcl326 opened #26588 "module 'tensorflow' has no attribute 'zeroes' in Graph guide"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: 1.12.0
- Doc Link: https://www.tensorflow.org/guide/graphs

**Describe the

[2019-03-11 21:09] jvishnuvardhan commented on #26516
As @Ayush517 mentioned, I don't see any issue? Only first line need to be updated as (from __future__ import absolute_import, division, print_function) shown in @Ayush517 screenshot. Thanks!

I am closing this issue as it was not related to build/Installation or Bug/performance. Please post this kind of support questions in Stackoverflow. Thanks!

[2019-03-11 21:09] #26516 closed

[2019-03-11 21:16] shashishekhar commented on #25314
@praveen-dn: Please reopen if you are still seeing the issue.

[2019-03-11 21:16] #25314 closed

[2019-03-11 21:22] girving opened #26589 "Undefined python symbols building TensorFlow with Python 3.7 on Mac"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.14.3
- Mobile device

[2019-03-11 21:27] ymodak commented on #26567
You have to build TF from sources yourself for cuda 9 with TF 2.0

[2019-03-11 21:36] jvishnuvardhan commented on #26586
Thank you for your post. We noticed you have not filled out the fields in the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue.

[2019-03-11 21:51] artificialbrains commented on #24976
We are also having issues with this problem on NVidia's Xavier and would appreciate and update/fix.  If there are no plans to fix the bug, we will try to build Tensorflow with the hints from matth79.

[2019-03-11 21:54] ppwwyyxx commented on #24650
This bug is in the 1.13.1 release.

Any updates about it?

[2019-03-11 22:03] jvishnuvardhan commented on #26525
@lu814478913 Could you provide more details on the bug and the steps leading to the bug? It would be helpful If you can share a code to reproduce the bug. Thanks!

[2019-03-11 22:04] elithrar commented on #26547
I also tried this locally on a 20-series GPU:
[code]

... with the same nonsensical results.

Changing the layer to the UnifiedGRU layer resolved the problem as well - which indicates there is definitely an issue with how the UnifiedLSTM layer is implemented on GPUs (only).

[2019-03-11 22:05] ymodak commented on #26432
Thanks for sharing the installation steps. I will close this issue now since its resolved. Thanks!

[2019-03-11 22:05] #26432 closed

[2019-03-11 22:06] Firyuza commented on #23906
Hello @zlichen!

Thank you for feedback!

Yes, this demo works. But I have to notice that it's not so good and intuitive way of making such kind of copy. I hope [Tensorflow](https://github.com/tensorflow) community will consider more flexible and obvious way of doing it. Otherwise I need to write this code on PyTorch, because it has such ability.

Also, we have to keep in memory temp variables and

[2019-03-11 22:14] allenlavoie commented on #24976
Sounds like it must be a symbol conflict. And since it's the same library, it's not a case where we can just rename one of the symbols to avoid the conflict. The workarounds sound like (1) only load the second copy of protobuf in a .so that does not use TensorFlow, and you can use both that .so and TensorFlow's .so from your main program, (2) instead of linking normally, dlopen() TensorFlow with R

[2019-03-11 22:22] yugoren opened #26590 "[tf.keras.layers.LSTM] Initializer fails with input_length parameter"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
[code]
- TensorFlow installed from (source or binary): `conda` as binary.
- TensorFlow version (use command below): `1.10`, `1.12`, and `1.13` confirmed
- Python version: `Python 3.6.6 |Anaconda, In

[2019-03-11 22:26] jvishnuvardhan commented on #23782
@asguradian Could you fill the [template](https://github.com/tensorflow/tensorflow/issues/new?template=00-bug-performance-issue.md) with your system details. Also, is it possible for you to check with latest Tensorflow 2.0. Thanks!

[2019-03-11 22:32] gjraza commented on #26586
Ive updated the post. please have a look

[2019-03-11 22:33] jvishnuvardhan commented on #24029
@mahmoud-abuzaina Could you check and let us know whether the issue persists with latest TensorFlow2.0? Could you share a code to reproduce the bug? Thanks!

[2019-03-11 22:35] suneshp commented on #23896
I see the link doesn't work. Can you please help?

[2019-03-11 22:42] deepnarainsingh commented on #26416
@ymodak  Switching to cuda 10.0 resolved the issue. Didn't required a new tf 2.0 build.
Thanks.

[2019-03-11 23:35] jvishnuvardhan commented on #26398
@stefan-falk Could you check whether the error persists with latest TF2.0?  Also, provide details on the [template](https://github.com/tensorflow/tensorflow/issues/new?template=00-bug-performance-issue.md). thanks!

[2019-03-11 23:41] nfelt commented on #25356
@cottrell Yes, there are some new TensorBoard tutorials designed with the TF 2.0 alpha in mind on our new TensorBoard documentation site: https://www.tensorflow.org/tensorboard/r2/get_started

[2019-03-11 23:51] alvaroslm commented on #15585
That issue is closed but this problem was never fixed. From simple test programs carrying out a few ops on a graph to several tf.keras layers, anything with float16 I've tried is significantly slower than 32-bit fp on a Turing GPU.

[2019-03-11 23:52] jvishnuvardhan commented on #26422
I think it was resolved. I am closing the issue. Please open a new ticket if you see similar issue again. Thanks!

[2019-03-11 23:52] #26422 closed

[2019-03-11 23:57] jvishnuvardhan commented on #26464
@allendred Is it resolved or still an issue? Could you provide more details on the issue and provide a code to reproduce the bug? Thanks!

[2019-03-12 00:00] jvishnuvardhan commented on #26465
@bingyuanlee Please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. It would be great if you can provide a small code to reproduce the error. Th

[2019-03-12 00:08] jvishnuvardhan commented on #26479
@Uture Could you provide a code to reproduce the bug? Thanks!

[2019-03-12 00:14] jvishnuvardhan commented on #26498
Please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. Thanks!

[2019-03-12 00:19] tfboyd commented on #15585
With the new FP16 we are seeing speedups with Keras us TF 2.0. It is still
experimental.  With a single gpu and synthetic data we are pushing 1,300
images per second.  More to come and working on the input pipeline (real
data).

On Mon, Mar 11, 2019, 4:55 PM Alvaro S. <notifications@github.com> wrote:

[2019-03-12 00:27] ahatamiz commented on #24410
@Squadrick . I cloned the branch you mentioned and built from the source, but it seems like we are missing a file:

`/addons-euclidean-distance-transform/tensorflow_addons/custom_ops/image/python/_image_ops.so  cannot open shared object file: No such file or directory`

Also, as @drebain  mentioned, I think it would be helpful to also allow for feeding logits before sigmoid or softmax and not just

[2019-03-12 00:28] allenlavoie commented on #26493
Sorry, not my department. Shivani, this sounds like an Iterator saving request. Are you the right person to triage those issues?

[2019-03-12 00:57] brennenhuang commented on #23898
@shahinkl  I solved it, you should rebuild model and restore ckpt instead of using  import_meta_graph

[2019-03-12 00:58] ymodak commented on #24671
@thebeancounter You can send PR on [tensorflow addons repo](https://github.com/tensorflow/addons/blob/master/CONTRIBUTING.md) to add this feature

[2019-03-12 01:06] ymodak commented on #26077
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-03-12 01:06] #26077 closed

[2019-03-12 01:06] ymodak commented on #25936
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-03-12 01:06] #25936 closed

[2019-03-12 01:12] bingyuanlee commented on #26465
Hi @jvishnuvardhan, I've modified the thread following the template.
Appreciate your help!

[2019-03-12 01:12] Fordacre commented on #26557
@timudk Sorry, but I'm not quite understand why you put two layers together. Actually, I just want to keep variables of Dense1 fixed.

[2019-03-12 01:19] ymodak commented on #23656
TF 1.13.1 has released and it supports Python 3.7. Please give it a try. Thanks!

[2019-03-12 01:19] #23656 closed

[2019-03-12 01:29] boiihong commented on #15585
@tfboyd
Hello, Would you give more specific information about the experiment?
I am comparing performance of FP32 and FP16 on the simple 2-layer LSTM model.
I have built the latest version of tensorflow + keras and implemented the application on that.

i couldn't see any acceleration with FP16, yet.
And i made a issue thread regarding this at #26500

[2019-03-12 02:20] SystemErrorWang commented on #24828
same problem here, with ubuntu16.04, tensorflow1.12, cuda9.0 and cudnn7.3.1. solved by adding
config = tf.ConfigProto()
config.gpu_options.allow_growth = True
sess = tf.Session(config=config)

[2019-03-12 02:20] ageron opened #26591 "Cannot create a SavedModel with a DenseFeatures layer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
MacOSX 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
binary
- TensorFlow version (use command below):
VERS

[2019-03-12 02:26] allendred commented on #26464
I changged to another demo(detection),abondon the function ("read_entirefiles"),so it works

[2019-03-12 02:28] zlichen commented on #23906
Hello @Firyuza !

After testing the demo, I also found that is really time-consuming while copying the weight from a huge Neural Network. The demo below is a better and more effective way which is no need for a tmp.

[code]
Maybe still need a few lines of code. As far as I know, Keras (base on tensorflow) can also easily get or set the weights for the models or layers with only one line of code.

[2019-03-12 02:42] anamozov commented on #25239
@jdduke The main reason why I am using TFMobile with Basel build option is object tracking function. With TFMobile I was able to build (on terminal) Android Demo with Object tracking option. So far, I could not Object tracking work with TensorFlow Lite.

[2019-03-12 02:45] lasclocker commented on #23248
You should not limit repeat num, please use `repeat()`, and it will repeat the input indefinitely.

[2019-03-12 02:49] Randl commented on #24930
ping

[2019-03-12 02:53] jvishnuvardhan commented on #26463
I am closing the issue. Thanks!

[2019-03-12 02:53] #26463 closed

[2019-03-12 03:07] ymodak commented on #25984
You need to add sub folders: ```bin``` , ```include``` and ```lib``` to the path. I see that ```lib``` and ```include``` folder's are not added to the path. Can you please try adding them as well?

[2019-03-12 03:07] jvishnuvardhan commented on #26464
@allendred Thanks for the confirmation. I will close the issue. Thanks!

[2019-03-12 03:07] #26464 closed

[2019-03-12 03:11] ymodak commented on #22379
Apologies for the delay in response. Is this still an issue? Thanks!

[2019-03-12 03:39] facaiy commented on #24671
Thanks for all :-)
It has been moved to Addons: `tfa.losses.TripletSemiHardLoss`
Please check out, take a try and have fun:
+ https://github.com/tensorflow/addons
+ https://github.com/tensorflow/addons/blob/master/tensorflow_addons/losses/python/triplet.py

[2019-03-12 03:39] #24671 closed

[2019-03-12 03:39] eadeola commented on #24828
How or in which file do you set this?

[2019-03-12 03:43] JulietTeoh opened #26593 "Cannot get tensorflow to work. DLL load failed and DLL initialization routine failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows OS 10
- Mobile device

[2019-03-12 04:00] SystemErrorWang commented on #24828
@eadeola in the training/evaluation script where you call tf.session and train/eval your model

[2019-03-12 04:01] eadeola commented on #24828
Thanks. It works

[2019-03-12 04:03] bingyuanlee commented on #26465
Further testing suggests that the discrepancy may or may not happen when there is a change in input.

Though, all three of the metrics that are manually added seem to agree regardless of inputs.

[2019-03-12 04:03] oscarlinux commented on #24828
In your python code, before you declare/create your model.

Check my comment above..

https://github.com/tensorflow/tensorflow/issues/24828#issuecomment-464910864

[2019-03-12 04:10] joyalbin commented on #26546
@cpoptic  Can you please check in which path` tensorflow-probability` got installed and that python path only is used?

[2019-03-12 04:38] xionghhcs opened #26594 "How to input a list of string values to Estimator"
# I want to use tfhub'emlo to build a text classifier, but the elmo need a string values placeholder. in order to input feature to estimator, I need to use the tf.feature_column building the input feature columns.But how can i input a list of string values to estimator?

[2019-03-12 05:20] facaiy commented on #26256
Hi, could you take a try https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adamax ?  Because tf.contrib has been deprecated, and tf.contrib.Adamax will be deleted (replaced by tf.keras.AdaMax). Thank you :-)

[2019-03-12 05:32] jam3st opened #26595 "Issues with running compiled versions of tensorflow for different machines and CFLAGS"
This is a bug  related to https://bugs.gentoo.org/show_bug.cgi?id=679714.

Here is the system information:
**### System information**
python -c "import tensorflow as tf; print(tf.GIT_VERSION, tf.VERSION)"

**2019-03-12 05:23:07.606918: F tensorflow/core/platform/cpu_feature_guard.cc:37] The TensorFlow library was compiled to use AVX2 instructions, but these aren't available on your machine.**

Act

[2019-03-12 05:48] facaiy commented on #26590
@qlzh727 Qianli, are you a good person to look at this?

[2019-03-12 06:19] saraswathykrk opened #26596 "Getting error - Expects arg[0] to be float but uint8 is provided while using bytebuffer for image data in tensorflow inference."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, but have

[2019-03-12 06:29] terrykong opened #26597 "Writing to S3 fails occasionally"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
ubuntu 16.04 (docker)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
pip installed into docker image
- TensorFlow versi

[2019-03-12 06:29] Supergitter123 commented on #25984
These might have been removed during one of the re-installations. Both are added again but I wasn't sure if it was lib or lib\x64 so both are added:

![image](https://user-images.githubusercontent.com/17160539/54179199-6616d180-4498-11e9-8a26-1b3a410d800f.png)

However it still gives me the same error. What feels strange is that I can't even get tensorflow cpu version to run

[2019-03-12 06:29] MeetDevin commented on #22794
I have no problem at the terminal, but I have this problem on pycharm, I hope I can give you a reference.

Win10+python 3.6+cuda 10.0+cudnn 7.5+tensorflow 1.13.1

[2019-03-12 06:58] gitman88 commented on #12132
Also experiencing that SeparableConv2d is slower than Conv2d in Keras. The number of input_channels does not seem to matter, I tested 32-2048 and in all cases the Conv2d is faster. Interestingly, in the SeparableConv2d-model the number parameters is lower as well as the FLOPS.

[2019-03-12 06:59] helenykwang opened #26598 "Getting error - "tf.gfile.Stat()" gets result that "file does not exist", but it does exists"
There are files in "neg" directory:
In [81]: tf.gfile.ListDirectory("s3://lookalike-sample/novel_user/ds=20190310/neg")
Out[81]:
['_SUCCESS',
 'part-00002.gz',
 'part-00003.gz',
 'part-00004.gz']

But when I input:
tf.gfile.Stat("s3://lookalike-sample/novel_user/ds=20190310/neg/part-00002.gz")

getting error:
NotFoundError: Object s3://lookalike-sample/novel_user/ds=20190310/neg/part-00002.gz does

[2019-03-12 07:27] jokerstudios commented on #26566
@joyalbin thank you for your reply.
sadly if I try your solution, I get the following error whenI'm  trying to compile the model.
`Error in compile(., loss = categorical_crossentropy, optimizer = optimizer_adadelta(), : object 'categorical_crossentropy' not found`

[2019-03-12 07:41] AndrzejKRK commented on #26484
This error is probably caused by the fact that the input array is not associated with the output, you probably made a mistake when converting the model by entering the parameter "--input_arrays=FLOAT" here you should write name array, not type. Maybe it should be "--input_arrays=image_tensor"

[2019-03-12 08:03] jcrevoisier opened #26599 "from tensorflow.contrib import layers -> Cannot import name autograph"
'from tensorflow.contrib import layers'

This simple line ends up with the following error : ImportError: cannot import name autograph

Why ?

[2019-03-12 08:03] KapoorHitesh commented on #19521
The toco target has been moved from //tensorflow/contrib/lite/toco to //tensorflow/lite/toco

[2019-03-12 08:13] connect2robiul opened #26600 "InvalidArgumentError: No OpKernel was registered to support Op 'CudnnRNN' used by {{node cu_dnnlstm/CudnnRNN}}with these attrs: [seed=0, dropout=0, T=DT_FLOAT, input_mode="linear_input", direction="unidirectional", rnn_mode="lstm", is_training=true, seed2=0]"
I am user macintosh

code

[code]

output

[code]

[2019-03-12 08:26] antonino-tocco commented on #26545
Hi @jvishnuvardhan, thanks for your help.
I follow this tutorial for retrain yolo: https://www.tooploox.com/blog/card-detection-using-yolo-on-android.
I train my model, convert it to protobuf with darkflow and then i try to convert it to tflite for embedd it on my Android app with baze-bin toco. I receive issue for non tflite operators such as ExtractImagePatches.

[2019-03-12 08:34] czabo commented on #26020
Is there actually a proper way to provide the Dataset Shuffle with data in a multi-threaded way? The solution that I did feels kind of hacky and not proper. Might also be the reason it doesn't work as intended.

[2019-03-12 08:47] zhimengfan1990 commented on #4297
I got the similar issue. In my case, input shape is (3, 75, 75), the output shape is (3, 37, 37). But according to the formula: https://www.tensorflow.org/api_docs/python/tf/nn/convolution, the output shape should be (3, 38, 38).

[2019-03-12 09:04] stefan-falk commented on #26398
@jvishnuvardhan I've installed `tensorflow==2.0.0-alpha0-gpu` and executed the same command as above. It seems it is not supported and I do not find any information about `tf.lite.TFLiteConverter.from_concrete_function()`.

[code]

[2019-03-12 09:07] freedomtan commented on #25275
@sundayxcn I checked output .so of bazel, it won't cause
[code]
Should be caused by your settings when you built your .so in Android Studio. Surely you won't find ``` "../../../../src/main/jniLibs/armeabi/libmy_library.so"``` on your Android devices. The path is supposed to be used during linking time on your host machine only.

[2019-03-12 10:06] pymit commented on #26588
https://github.com/tensorflow/docs/pull/383

[2019-03-12 10:11] x10000year opened #26601 "Can I attach a c++ object to a tensor so that the object can be forwarded through the network and share the same lifetime with the tensor?"
I'm trying to develop a complex network in which, some custom c++ ops output c++ objects that are to be received by other custom ops.  One solution is by serializing the c++ object into a byte tensor, but this way adds (de)serialization overhead. Another solution is only outputting the address of the object and storing the actual object as a data member of the c++ op instance, but this way only wo

[2019-03-12 10:26] yuwancumian666 commented on #22512
@gargisri68 same issue. Have you solved the problem?

[2019-03-12 10:29] vbardiovskyg opened #26602 "Partial function specified through keyword on first position in tf.function"
Wrapping in tf.function a partial with first argument specified:
[code]

This does not work in Python2.x, because [tf_inspect.getfullargspec cannot represent such construct](https://github.com/tensorflow/tensorflow/blob/c46d383150564c8b72b05acc65182c16f7221694/tensorflow/python/util/tf_inspect.py#L175) using Argspec.

Unfortunately this also does not work in Python3, where Argspecs are already cap

[2019-03-12 10:29] vbardiovskyg commented on #26091
Filed: https://github.com/tensorflow/tensorflow/issues/26602

[2019-03-12 10:49] jansenicus commented on #24828
Initialize your scripts/ notebook with the following code:

`import tensorflow as tf`
`config = tf.ConfigProto()`
`config.gpu_options.allow_growth = True`
`sess = tf.Session(config=config)`

[2019-03-12 10:52] Uture commented on #26479
It's right there in the last point of the issue. This line suffices for me to get the error (besides tensorflow import).

[2019-03-12 11:00] byronyi commented on #26020
I believe it's an input pipeline issue. Could you check out the [performance guide](https://www.tensorflow.org/guide/performance/datasets)?

[2019-03-12 11:01] facaiy commented on #26577
Could you use `model.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['accuracy',])`?

[2019-03-12 11:07] ffahleraz commented on #25349
Hi I have previously worked on some projects with OpenAI Baselines, can I have a try on this?

[2019-03-12 11:23] alvaroslm commented on #15585
Same here, lstm inference at least doesn't seem to improve. I did manage to run the tf cnn benchmark (after patching it, because it tries to include some stuff that's no longer there under the same name) and it does perform as expected. But it seems to me that fp16 support is spotty outside cnns

[2019-03-12 11:26] alvaroslm commented on #26500
You should try [CuDNNLSTM](https://www.tensorflow.org/api_docs/python/tf/keras/layers/CuDNNLSTM)

[2019-03-12 11:57] gargisri68 commented on #22512
No. I'm still struggling.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
03/12/19,
5:27:20 PM

On Tue, Mar 12, 2019 at 4:00 PM 鱼丸粗面666 <notifications@github.com> wrote:

[2019-03-12 12:00] steige2 commented on #26565
turns out it was my home directory that was getting fragged. Bazel is rather aggressive with cacheing and was using /home/... rather than the large FS I thought it would use. Deleting /home/.cache/bazel did no harm and fixed my problem.

[2019-03-12 12:10] devrohitraj commented on #22794
I had the same issue. I resolved it by uninstalling tensorflow-gpu and reinstalling through conda.

`conda install tensorflow-gpu`

[2019-03-12 12:16] yuwancumian666 commented on #22512
I encountered this problem when I installed tensorflow-gpu 2.0.0a0. But tensorflow-cpu 2.0.0a0 works normally. After I reinstalled tensorflow-gpu1.12.0, it's fine. Even the tensorflow-gpu 1.13 will have the problem. Unknown reason. 😒

[2019-03-12 12:29] jvishnuvardhan commented on #26545
@antonino-tocco Could you provide full command of tflite_convert? Thanks!

[2019-03-12 12:34] antonino-tocco commented on #26545
Sure.
/bazel-bin/tensorflow/lite/toco/toco   --input_file=yolo-obj.pb   --output_file=foo.tflite    --input_format=TENSORFLOW_GRAPHDEF   --output_format=TFLITE   --input_arrays=input   --input_shapes=1,416,416,3
Thanks for your help.

[2019-03-12 12:58] tensorflowbutler commented on #25474
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-12 13:01] gargisri68 commented on #22512
I typed conda search tensorflow-gpu --info

It lists down different versions of tensorflow-gpu. From that list I kept
installing and uninstalling unless finally tensorflow-gpu 1.8.0 worked.

On Tue, Mar 12, 2019, 5:50 PM 鱼丸粗面666 <notifications@github.com> wrote:

[2019-03-12 13:03] nongcunshaoye opened #26605 "how to build armeabi-v7a tensorflow-lite.a with ndk?"

[2019-03-12 13:15] Aliennandy opened #26606 "AttributeError: module 'tensorflow.python.ops.image_ops' has no attribute 'is_jpeg'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Window 10 Pro 64 bit
- Mobile

[2019-03-12 13:20] LeighSu opened #26607 "How to run tflite with float input"
Hi Sir,
  I am trying to run tflite on mobile to classify sound event.
  The input of the model is mfcc features from the sound stream, which's type are float32.
  I have converted the pb model to tflite model, but I cannot feed the input data whith float32.

It will be throw exception as follow whether I setting the post_training_quantize to True or not
 **cannot convert between a tensorflowlite

[2019-03-12 13:28] dip-scd commented on #22512
@gargisri68, @yuwancumian666 solution seems to be installing CUDA 10.0, not CUDA 10.1 (actually, I left both of them installed). Windows 10 Pro.

I've checked _pywrap_tensorflow_internal.pyd with Dependency Walker and there were some missing DLLs from CUDA 10 in the list (such as cudart64_100.dll). So I've installed CUDA 10.
Also, I've added "C:\Program Files\NVIDIA Corporation\NvStreamSrv" to my

[2019-03-12 13:32] meyerjo opened #26608 "Subsequent gather_nd Operation leads to error: Tensor.graph is meaningless when eager execution is enabled."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0-alpha0
- Python version: python 3.5
- CUDA/cuDNN version: 10.
- GPU model and memory: TITAN

**Describe the current behavior**
Gradient computation fails with the message: "Tensor.graph is meaningless w

[2019-03-12 14:07] gjraza commented on #26586
Ive updated the post. please have a look

[2019-03-12 14:10] ziky90 commented on #26486
Having exactly the same problem when trying to migrate to tensorflow==2.0.0-alpha0

[2019-03-12 14:12] marcjoos-phd opened #26610 "TensorFlow 1.13 build fails with MPI support"
**System information:**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): RHEL 7.4
- TensorFlow installed from source
- TensorFlow version: 1.13
- Python version: 3.6.4
- Bazel version: 0.19 (recompiled from https://copr-be.cloud.fedoraproject.org/results/vbatts/bazel/fedora-27-x86_64/00823004-bazel/bazel-0.19.1-1.fc27.src.rpm since Bazel version provided by COPR for RHEL 7.4 is 0.23, tha

[2019-03-12 14:19] qlzh727 commented on #26590
Yes, I will take a look within this week.

[2019-03-12 14:20] iloveOREO commented on #24828
I had some issue, solved by update cudnn from 7.3 to 7.5(newest).
I am running with cuda-10.0.13 and tensorflow-1.13 with miniconda, ubuntu18.04.

[2019-03-12 14:24] qlzh727 commented on #26590
Ah, seems that it is an error in the documentation, the input_length is no longer needed and is inferred from the input tensor shape. I will fix the documentation soon.

[2019-03-12 14:36] lu814478913 commented on #26525
Thanks  for your reply. I just use tf.saved_model.loader.load to load the tftrt converted model. But it does not work. I have to explicitly import tftrt to load model successfully.

[2019-03-12 14:36] shaolinkhoa opened #26611 "pix2pix_eager.ipynb error: NotImplementedError: exceptions are not yet supported"
I run the [pix2pix_eager.ipynb](https://github.com/tensorflow/tensorflow/blob/r1.13/tensorflow/contrib/eager/python/examples/pix2pix/pix2pix_eager.ipynb) on colab.

At the step [training](https://colab.research.google.com/github/tensorflow/tensorflow/blob/master/tensorflow/contrib/eager/python/examples/pix2pix/pix2pix_eager.ipynb#scrollTo=a1zZmKmvOH85):
`train(train_dataset, EPOCHS)`

The error lo

[2019-03-12 14:47] kyscg opened #26612 "Casting not necessary"
Tell me if I'm wrong, but in `tensorflow/lite/kernels/internal/reference/integer_ops/softmax.h`, is casting to <int 32> necessary? (Line 89 & 90)

[2019-03-12 14:49] zmjjmz commented on #26461
Ok, I can confirm that it works as expected when I do that.

[2019-03-12 14:58] umang752 commented on #26425
I am implementing MobileNet Modal but it is not giveing me a relevent result see : https://prnt.sc/mwuz3r
this is a Iphone and it is saying Remote.
can I trained my own modal ?

[2019-03-12 15:10] sycophant-stone commented on #22134
it seems like:
1. reduce the `batch_size`
2. reduce some convs outputs to reduce the params.

[2019-03-12 15:17] shahinkl commented on #23898
@brennenhuang
We know it will work with restore ckpt. That is why we are able to do validation and testing while training the graph. We face the issue while exporting and deploying the saved_model

[2019-03-12 15:33] mrry commented on #26395
@meteorcloudy This regressed when we switched to using Bazel for the build on Windows. Is there a way to pass the CUDA and cuDNN version information to the genrule [here](https://github.com/tensorflow/tensorflow/blob/v1.13.1/tensorflow/tensorflow.bzl#L2011-L2019) so that we get the better error messages again?

[2019-03-12 15:35] jvishnuvardhan commented on #26425
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-03-12 15:35] #26425 closed

[2019-03-12 15:39] alextp commented on #26505
@edloper I thought we supported raggedtensors in tf.function due to the changes in nest. Can you take a look?

[2019-03-12 15:41] alextp commented on #26602
Can we isolate this issue to misbehavior of getfullargspec instead of tf.function?

I ask because as far as tf.function is concerned nothing breaks if we just wrap the partial call into a lambda *args, **kwds: partial_call(*args, **kwds) so we should probably just do that at intake time if the user passes a functools.partial function.

[2019-03-12 15:46] jdduke commented on #25239
Could you be more specific? Are you not able to use https://github.com/tensorflow/examples/tree/master/lite/examples/object_detection/android?

[2019-03-12 15:48] preethivenkatesh commented on #25896
We recommend you to follow the standard gcc process, as TF w/ Intel compiler to believed to be very fragile. We don't have full engineering support to accommodate this request as of now. However, if you are  still interested to use intel compiler, you can submit PRs to TensorFlow to support Intel compiler.

[2019-03-12 16:07] qlzh727 commented on #25852
This should now be fixed by https://github.com/tensorflow/tensorflow/commit/6108cbd1dbfbb0ac9dd9d88ada1064925b7f5b19.

[2019-03-12 16:07] #25852 closed

[2019-03-12 16:17] ispirmustafa commented on #26574
I think it's a reasonable request. Rohan, what do you think?

[2019-03-12 16:41] brandjon opened #26616 "Dependency on absl_py needs to be updated for compatibility with Bazel version >= 0.25"
In Bazel 0.23,

[code]

has a breakage in `@absl_py`. I submitted an upstream fix that should appear on github today, with a release occurring tomorrow. When that lands, [workspace.bzl](https://github.com/tensorflow/tensorflow/blob/a4c589d5c754493c86f10cc71022fe38d184001a/tensorflow/workspace.bzl#L323-L336) will need to be updated to reference the new abseil-py release.

The fix relies on a featur

[2019-03-12 16:43] jmanly56 opened #26617 "Keras RNN Layer does not work with dynamic_decode"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
- OS Platfo

[2019-03-12 16:52] seanpmorgan commented on #24410
@ahatamiz I haven't gotten to fully review the PR, but I recognize that error and you likely just need to move out of the src directory after pip install. The .so files aren't built until bazel compile and your current working directory does not contain them

[2019-03-12 16:59] MrinalJain17 commented on #26168
@jvishnuvardhan @tatianashp Hey guys. Any update on this would be really useful.

[2019-03-12 17:03] jvishnuvardhan commented on #25772
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-03-12 17:03] #25772 closed

[2019-03-12 17:09] jvishnuvardhan commented on #25540
@dchatterjee172  Could you try TF2.0 and let us know whether the bug persists? Thanks!

[2019-03-12 17:14] jvishnuvardhan commented on #24338
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-03-12 17:14] #24338 closed

[2019-03-12 17:17] FedyuninV opened #26620 "No improvement in performance of mobilenet_v1_1.0_224 on TFLite for GPU"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Android 8.0.0
- Mobile device: Samsung S9+, Sony XPeria XZ2
- TensorFlow installed from (source or binary): binary `'org.tensorflow:tensorflow-lite:0.0.0-gpu-experimental'`
- TensorFlow version (use command below): - (used pretrained *.tflite file)
- Python version: - (used pretraine

[2019-03-12 17:21] jvishnuvardhan commented on #25797
@policeme Not sure about Anaconda. If you could follow the steps I listed and some thing is not working, then I could help. There is no support for Anaconda based installation. You could check stackoverflow or closed Anaconda related issues on GitHub. I will close the issue. Thanks!

[2019-03-12 17:21] #25797 closed

[2019-03-12 17:22] kirk86 commented on #25474
It's still an issue, I've tested with no dependencies just importing blank numpy arrays same size as frame from live web cam feed and it doesn't dump the core.
It dumps the core only when retrieving live feed from web cam. I've also tried different versions of opencv and still the same thing.
Here's a MWE:
[code]

[2019-03-12 17:28] ymodak commented on #26584
I see that it this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes/No):

**Describe the feature a

[2019-03-12 17:29] pavithrasv commented on #26250
Output of the LSTM layer will be 3D (samples, timesteps, features) because of return_sequences being enabled. Are the labels/targets in your data 3D ?

[2019-03-12 17:31] haozha111 commented on #26612
It should be necessary. C++ std::min and std::max expect to see two arguments with the same type. So we need to do an explicit casting to ensure this, otherwise there might be a compiler error (based on the compiler you use). For more context, please see:
https://blogs.msmvps.com/gdicanio/2017/05/22/subtle-bug-with-stdminmax-function-templates/

[2019-03-12 17:31] #26612 closed

[2019-03-12 17:32] mattn opened #26621 "Compilation error of TensorFlow Lite on Windows"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-03-12 17:36] pavithrasv commented on #25970
I am closing this issue as it has been fixed. Thank you for digging into the release details!

[2019-03-12 17:36] #25970 closed

[2019-03-12 17:40] rockyrhodes commented on #25781
Have you looked at the tensorflow lite micro code?  tensorflow/lite/experimental/micro  Targeted at very small footprint implementations, but very new (and incomplete) at this point.  I'm not sure how to build a library of the size indicated in the docs.  Maybe @jdduke can comment?

[2019-03-12 17:45] pavithrasv commented on #25516
Hello @mvoelk, definition of metric functions should not be dependent of when a loss function is called. This happens to work in keras-team/keras but it is definitely not an input that is supported.

Loss or metric inputs can be
1. strings which are names of inbuilt functions
2. inbuilt functions
3. instances of inbuilt loss or metric classes
4. custom functions with standard (y_true, y_pred, ..)

[2019-03-12 17:45] #25516 closed

[2019-03-12 17:47] guillaumekln opened #26622 "Export tf.lookup.TextFileIndex in 2.0"
**System information**
- TensorFlow version: `2.0.0.dev20190311`
- Are you willing to contribute it: No

**Describe the feature and the current behavior/state.**

The exported class `tf.lookup.TextFileInitializer` takes as argument `key_index` and `value_index` but the enum `TextFileIndex` is not available via the API.

The `tf.lookup` module should export this enum.

**Will this change the curren

[2019-03-12 17:47] baerbock commented on #26589
Can't repeat (same config).

[2019-03-12 17:47] up-to-you opened #26623 "DetectNet alternative"
Are there any common alternatives (in tensorflow ecosystem) to Nvidia DetectNet network (object detection),
which use bbox layer?

[2019-03-12 17:48] jdduke commented on #25781
When you say "binary size" is bigger, are you measuring the size impact on the actual iOS app? Or just the static library? Looking at just the static library size is misleading, as it ignores all the size reduction that will occur from op stripping (selective registration) as well as symbol stripping (which is controlled by your build options).

See [this guide](https://www.tensorflow.org/lite/gui

[2019-03-12 17:55] romzeeed opened #26624 "delete me pls"
delete pls

[2019-03-12 18:27] ymodak commented on #26386
We highly encourage you to use bazel to build TF, unfortunately we do not support cmake builds for TF. Thanks!

[2019-03-12 18:27] #26470 closed

[2019-03-12 18:28] #26469 closed

[2019-03-12 18:28] tfboyd commented on #15585
I failed to read the entire thread, sorry about that.  I do not have any LSTM examples FP16 yet.  We are just finishing up easy FP16 with NVIDIA to be released in a few weeks and per usual the first focus is on convs.

[2019-03-12 18:31] yuefengz commented on #23986
Closing this bug since the PR is merged.

[2019-03-12 18:31] #23986 closed

[2019-03-12 18:41] aprofromindia commented on #25058
this might work (https://github.com/facebook/react-native/issues/23390#issuecomment-463157141)

[2019-03-12 18:42] chwang85 opened #26625 "tf.sparse_tensor_to_dense does not have a gradient"
This issue has never been solved, why so eager to close it?
see #6391, #22543

[2019-03-12 18:48] qlzh727 commented on #26600
What version of Tensorflow are u currently using? Also do u have gpu on your local machine?

[2019-03-12 19:15] saidmengi commented on #22794
I had a problem

TypeError: Couldn't build proto file into descriptor pool!
Invalid proto descriptor for file "object_detection/protos/post_processing.proto":
  object_detection/protos/post_processing.proto: Import "object_detection/protos/calibration.proto" has not been loaded.
  object_detection.protos.PostProcessing.calibration_config: "object_detection.protos.CalibrationConfig" seems to be def

[2019-03-12 19:34] superying commented on #25841
@JianbangZ  [  1 353 257   3] is the input size for the given "multi_person_mobilenet_v1_075_float.tflite".

[2019-03-12 19:42] ejonokuchi opened #26626 "TOCO failed for tensorflow model using Universal Sentence Encoder module"
Hi, all.

I'm trying to export a TensorFlow model to the TensorFlow Lite format for eventual use in Firebase ML Kit.

The model is a one-step Universal Sentence Encoder text embedding using the TensorFlow Hub module. I'm getting a converter error that seems to be due to unsupported ops.

Tried setting the `allow_custom_ops` and `target_ops` to no avail.

Would anyone be kind enough to point out an

[2019-03-12 19:46] ParthS007 commented on #26539
okay @jvishnuvardhan, Will send a PR soon :+1:

[2019-03-12 19:47] ejonokuchi commented on #26626
Didn't think it was caused by a Python versioning issue, but just for good measure I replicated this on Python 3.6.7 as well

[2019-03-12 19:55] ymodak commented on #26515
The code snippet you provided is incomplete. Please provide bare minimal code snippet to reproduce the issue reported here. Thanks!

[2019-03-12 20:30] ymodak commented on #26503
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create fr

[2019-03-12 20:48] qlzh727 commented on #26590
This should now be fixed.

[2019-03-12 20:48] #26590 closed

[2019-03-12 21:00] #26588 closed

[2019-03-12 21:21] musikisomorphie commented on #23590
@alextp, I would like to try implementing its GPU kernel, is it okay?

[2019-03-12 21:25] yuefengz commented on #26132
You can now use `tf.distribute.MultiWorkerMirroredStrategy(communication=tf.distribute.experimental.CollectiveCommunication.NCCL)` to use nccl on multiple nodes.

[2019-03-12 21:25] #26132 closed

[2019-03-12 21:35] yuefengz commented on #25806
For 1), the gradient reduction is `SUM` because there is no nccl mean. Using `SUM` avoids the extra division for all gradients. We actually [scaled down the loss](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/losses/losses_impl.py#L195) on each replica so that the gradient reduction is effectively `MEAN`.

For 2), let me think about it. @guptapriya can also comment on

[2019-03-12 21:35] jvishnuvardhan commented on #26566
@jokerstudios I understand that it was resolved by @joyalbin .
Could you reframe title of the issue so that it will be more helpful to the community? Thanks.
Close the issue if everything was resolved. Thanks!

[2019-03-12 21:38] yuefengz commented on #24326
We have a [RFC for embeddings](https://github.com/yuefengz/community/blob/master/rfcs/20190116-embedding-partitioned-variable.md) and will start the implementation soon. So closing this issue.

[2019-03-12 21:38] #24326 closed

[2019-03-12 21:53] jvishnuvardhan commented on #26565
@steige2 Is this resolved? Please close it if it was resolved. Thanks!

[2019-03-12 21:54] gmagogsfm opened #26627 "Improve tf_compile to allow emitting HLO module instead of/in addition to executable"
Currently tf_compile (tensorflow/compiler/aot) always emits executable. But there are use cases where dumping HLO module is more desired. This is a tracking bug to implement it.

[2019-03-12 22:00] rockyrhodes commented on #24309
Just checked in a small change to the svdf model that fixes this.

[2019-03-12 22:00] #24309 closed

[2019-03-12 22:02] ymodak commented on #26579
@allenlavoie Can you PTAL? Thanks!

[2019-03-12 22:04] ymodak commented on #26473
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-03-12 22:04] #26473 closed

[2019-03-12 22:06] freedomtan commented on #26620
Either ~140 ms or ~170 ms looks too slow. See [my numbers on Pixel 2](https://github.com/freedomtan/glDelegateBench/blob/master/README.md) and [S9 numbers from @Burgomehl](https://github.com/freedomtan/glDelegateBench/issues/2)

[2019-03-12 22:07] jvishnuvardhan commented on #26557
@Fordacre Could you try TF2.0 and check whether same bug persists? thanks!

[2019-03-12 22:09] alextp commented on #23590
@musikisomorphie yes! Let me know if you need any pointers. I encourage you to look at the GPU code in tensorflow/core/kernels, specially the .cu.h and .cu.cc files, which show the extra code that needs to be added to support kernels on the GPU.

You can try implementing this with eigen or directly with cuda, it's not clear to me which way will be simplest. I'd start by seeing how is the CPU roll

[2019-03-12 22:16] GabrielF00 opened #26628 "Pypi file for tensorflow-gpu 1.10.1 for Python 3.6 manylinux is zero bytes"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Amazon Linux 2012.3
- TensorFl

[2019-03-12 22:26] ymodak commented on #26468
@asimshankar Can you PTAL? Thanks!

[2019-03-12 22:30] ricvo commented on #21491
Agree. For example: I found myself with the necessity of having the extra precision float64 only for some specific operations on the network, these operations can also be performed separately after the training. Having to train a new model with float64 just for this is quite time consuming...
And AFAIK there is no easy way to convert all the weights to float64, this means to have to change all the

[2019-03-12 22:33] allenlavoie commented on #26579
So basically you want to fetch an intermediate Tensor? The loaded signatures do have a .prune method which takes input and output Tensors from the function graph and gives you a new function (`signature_function.graph` will get to the Tensor objects).

The documentation for prune() should be improved; it needs a docstring and should probably take Tensor names instead of just Tensors. And we should

[2019-03-12 22:42] desimmons commented on #19014
I found this response sufficient to resolve this issue. It is important to remember, however, that restoring the eval graph should be done **after** create_eval_graph() has been called
https://github.com/tensorflow/tensorflow/issues/18919#issuecomment-386771852

[2019-03-12 22:49] quartermaine commented on #26515
@ymodak I have now updated the code snippet.Thanks for pointing out my incomplete code.

[2019-03-12 22:53] jvishnuvardhan commented on #26307
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-03-12 22:53] #26307 closed

[2019-03-12 22:54] omalleyt12 commented on #25470
Hi @flodorner , tf.keras layers do not respect variable_scopes when creating their variables, as variable_scopes are going away.

Instead, share variables by calling your layer multiple times:

[code]

[2019-03-12 22:54] #25470 closed

[2019-03-12 23:00] #22025 closed

[2019-03-12 23:01] jvishnuvardhan commented on #26495
@fps7806 Could you check whether the bug persists with latest TF? Thanks!

[2019-03-12 23:01] omalleyt12 commented on #26263
Thanks for the bug report @sibyjackgrove, it looks like this is fixed in the latest tf-nightly as I'm unable to reproduce

[2019-03-12 23:01] #26263 closed

[2019-03-12 23:09] angersson commented on #25865
I've marked this as "Community Support" because the TF team doesn't officially support building inside a Docker build process.

@masonk, do the official [Docker images](https://hub.docker.com/r/tensorflow/tensorflow) not meet your use case? We provide images with the latest stable releases and with the nightly packages pre-installed with Nvidia GPU support.

[2019-03-12 23:27] gargn commented on #25170
Can you try using `from_keras_model_file` instead of `from_session` for your conversion process and see if that resolves your issue? Documentation is [here](https://www.tensorflow.org/lite/convert/python_api#exporting_a_tfkeras_file_).

[2019-03-12 23:27] roymiles commented on #20798
@mrgloom No, you must specify the spatial dimensions. The batch dimension gets reduced to 1 in tflite export.

Has anyone fixed this error:

Any updates would be great. Tensorflow r1.12, training/testing works fine but tflite model fails.

Why is params->depth_multiplier * SizeOfDimension(input, 3) = 0 ??

[2019-03-12 23:33] suneshp commented on #25688
I have problem in using C++ APIs on android. We have to build a C++ library that access TF Lite. Our library is used by Android application. Can you please share working sample and instructions?

[2019-03-12 23:38] jvishnuvardhan opened #26629 "Keras Error: Variable does not exist, or was not created with tf.get_variable()"
[code]

In this example code, I want to understand why I get this error: ValueError: Variable scope_1/scope_2/conv1/kernel does not exist, or was not created with tf.get_variable(). Did you mean to set reuse=tf.AUTO_REUSE in VarScope?

Note: I used tensorflow.contrib.layers instead of tensorflow.keras.layers and It was working correctly! Could be a bug !?

I have tried tensorflow 1.9.0 and tensorf

[2019-03-12 23:41] reedwm commented on #15585
@protoget do you know if float16 should be significantly faster on LSTM inference?

[2019-03-12 23:41] rohan100jain commented on #24408
Firstly, run_2 onwards (i.e. reinit_hook=True) is the way to go.

So run_2 seems to work and in the non-distribution strategies case, things seem to be working fine.

For the distribution strategies case, the problem is that it uses MultiDeviceIterator (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/data/ops/multi_device_iterator_ops.py#L190) (https://github.com/tensorflow/

[2019-03-12 23:44] gunan commented on #26498
Unfortunately, that is the artifact of how TF code and build rules are organized.
Many files are included in many targets, and it will trigger almost a full rebuild.

Modular tensorflow will help with this, but until that lands, I am afraid I cannot really offer a solution to this.

[2019-03-12 23:45] ymodak commented on #26515
Thanks for updated code snippet. I was able to execute your code successfully in TF 1.13.1 using eager mode. Apparently this issue is fixed in later TF versions.

[2019-03-12 23:46] reedwm commented on #26356
@alvaroslm can you confirm that when two processes are used, you are actually getting double the inference examples/sec? Measuring GPU utilization is not always accurate, and perhaps the increased utilization comes from extra overhead of running two processes.

[2019-03-12 23:48] #26515 closed

[2019-03-13 00:09] kyscg commented on #26612
Yes, that makes sense. Thanks

[2019-03-13 00:11] Silb78dg commented on #24408
@rohan100jain Thanks for the update. I will try to take a look. Is there any tests I can rely one?

[2019-03-13 00:19] anamozov commented on #25239
Exactly. When the application starts toast with "Object tracking support not found" text comes out.
As I mentioned earlier, with TFMobile and Bazel I was I able to build the app (only on terminal) with Object tracking support.
In conclusion, I want  **Object tracking** support to work.

[2019-03-13 00:26] facaiy commented on #24067
closed this in #26562

[2019-03-13 00:26] #24067 closed

[2019-03-13 00:27] cbcase commented on #25977
Hi @jvishnuvardhan -- I just pulled `tensorflow/tensorflow:1.13.1-gpu-py3` (image id is `d1c5af36660b`) and got the same error running the above code as a standalone script. Anything else I can provide?

[2019-03-13 00:31] xiejw commented on #26559
Please assign to the owner of this code. I am not the owner.

[2019-03-13 00:33] martinwicke commented on #25429
@annarev, @goldiegadde is this done?

[2019-03-13 00:40] ageron commented on #26591
Awesome, thanks for the quick fix.

[2019-03-13 01:36] achowdhery commented on #25171
@freedomtan Is this question regarding the CPU execution or the GPU execution? The CPU execution was specified in  the [article](https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193)

[2019-03-13 01:46] freedomtan commented on #25171
@achowdhery I don't have question. I was trying to answer @defaultUser3214's question :-) And, yes, I think it's CPU execution question.

[2019-03-13 01:52] Worthy7 commented on #21881
HI there, I just found that using `use_bias=False` in a very small LSTM network caused SIGNIFICANT slowdowns. Possibly related? (Tf2)

[2019-03-13 01:56] Keepmoving-ZXY commented on #26132
thank you, I find time to have a try  and I find this problem seems be related to NCCL version in these day.

[2019-03-13 02:01] smit-hinsu commented on #25787
Thank you so much for the detailed report!

From a quick look, it seems that the check was dropped in the following commit.
https://github.com/tensorflow/tensorflow/commit/f8f17cebcc89921b5f1a204dab1f9fdb47b120c1

The commit is part of TensorFlow 1.13 release. Could you give it a try with 1.13 to see if that resolves the issue?

[2019-03-13 02:16] TPcoding commented on #22377
@aselle  Half year passed,Does this issues will be done in new tflite version plan. I really need this function.Recently, I have to implement several model which has variable sequence length when input to tflite.

[2019-03-13 02:21] peyifyp commented on #22872
hi, i have this error. How can i solve this problem?

Traceback (most recent call last):
  File "C:\Users\User\Anaconda3\envs\tensorflow1\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\User\Anaconda3\envs\tensorflow1\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", li

[2019-03-13 02:23] 1991wangliang opened #26633 "about deeplearning models center repository."
The technology of in-depth learning has been developed for a long time. At present, it is not clear whether there is a model library of the type of Maven docker central library. If not, I hope we can build it. If there is, please let me know. Thanks.

[2019-03-13 02:25] peyifyp opened #26634 "ImportError: DLL load failed: The specified module could not be found."
I have this error, how can i solve this problem?

ImportError: DLL load failed: The specified module could not be found.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "generate_tfrecord.py", line 17, in <module>
    import tensorflow as tf
  File "C:\Users\User\Anaconda3\envs\tensorflow1\lib\site-packages\tensorflow\__init__.py", li

[2019-03-13 02:34] etragas-fathom opened #26635 "Transformer step/sec decrease over time to 0"
**System information**
**- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):**
Yes
**- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):**
Ubuntu 18.04
**- TensorFlow installed from (source or binary):**
Binary / pip install
**- TensorFlow version**
1.13.1
**- Python version:**
3.6.7
**- CUDA/cuDNN version:**
CUDA = 10
CUDNN_VERSION 7.5
**- GPU

[2019-03-13 02:40] BrikerMan opened #26636 "Add a origin url param to load_data function in keras.datasets"
**System information**
- TensorFlow version (you are using): 2.0.0-alpha0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

`keras.datasets` is a nice place for beginners to start, but `storage.googleapis.com` is blocked in some country, it makes it impossible to directly download the dataset. I propose to add a URL param to the `load_data`

[2019-03-13 02:46] cj741 commented on #26386
Thanks ymodak!
Do you have a introduction of how to build TF from bazel? Could you give me a link?
Thanks!

[2019-03-13 03:20] Fordacre commented on #26557
@jvishnuvardhan I test it on my PC with TF2.0, unfortunately, tf.keras.optimizers.Adam() doesn't work and even tf.optimizers.Adam() doesn't work.
[code]
In addition, the same problem occurs when I use tensorboard with `histogram_freq` in 1.12 version.

[2019-03-13 03:22] ebrevdo commented on #26576
This is expensive probably because it's creating a protobuf representation of the constant sparse tensor values and storing that constant in the graph.

It depends on what you're trying to do.  for examle, you could create a tf.sparse_placeholder instead of a SparseTensor, serialize your indices values etc in pure python/numpy, and feed them to a tensorflow graph via the `session.run(..., feed_dic

[2019-03-13 03:25] lhendre opened #26638 "Filter out empty strings as post processing"
Let users filter out empty strings as post-processing if they do want to.
Re indices and shapes, the right answer is to have proper ragged and sparse tensor support to tf.boolean_mask.

This is a follow up to issue #26368 . and PR #26475 .

[2019-03-13 03:25] bluemonk482 commented on #25731
I have installed the 2.0 alpha version but still get the `'Tensor' object has no attribute 'numpy'` error during runtime. Why? It works fines in ipython terminal.

[2019-03-13 03:26] lhendre commented on #26638
@alextp

[2019-03-13 03:26] lhendre commented on #26368
The review has requested this be done entirely in preprocessing and made a separate issue

[2019-03-13 03:30] suyash commented on #26579
@allenlavoie I am not seeing anything about a prune method [on the documentation page for tf.saved_model.load](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/saved_model/load), where can I find that. Is there also some place I can find equivalent 2.x code for fetching intermediate values from saved_models.

[2019-03-13 03:36] yupbank commented on #26082
thank you for reporting this ! can you try to do this instead?

[code]

since `tf.contrib.tensor_forest` and `tf.contrib.layers` is going to be deprecated soon, i'm not sure whether we want to encourage people to use it.

[2019-03-13 03:45] yashk2810 commented on #25731
This seems like the code is running with estimators. Can you share the code?

[2019-03-13 03:48] girving commented on #26589
Here's a more targeted failing command, using `-s` to get subcommand details:

[code]

[2019-03-13 03:58] girving commented on #26589
Likely related: https://github.com/bazelbuild/bazel/issues/7607

[2019-03-13 03:59] bluemonk482 commented on #25731
@yashk2810 Yes I am. So I just call `model_fn`

[code]

conv_net function:

[code]

[2019-03-13 04:01] dipanjanS opened #26639 "Nasnet models don't support custom image sizes even if include_top is set to False"
The general idea for fine-tuning pre-trained models with a custom image size is to set the `include_top` parameter to `False` when loading the models. However it doesn't seem to be working with the Nasnet models in `tf.keras` so far. All other models including Inception are working fine.

__Note:__ I was using tensorflow 2.0 alpha so I'm not sure if that is the problem.

I believe maybe some issue

[2019-03-13 04:13] bradezard131 commented on #17386
@hanhtd2 That has nothing to do with any of this. This entire issue stems from a time where AVX was required for the binary available on Pip, but was not listed in the system requirements. So if you used a CPU that did not support AVX (i.e. an older one) it would not work. Your output shows that your CPU supports AVX...

[2019-03-13 04:21] umbrellalalalala commented on #26629
In [keras document](https://keras.io/layers/convolutional/), there is a sentence:

So when you tried:
[code]
A variable 'conv1/kernel ' would be created in current scope 'scope_1/scope_2/'.

According to what you got, I think it's probably your reuse was true. You could check reuse by:
[code]
If you got True, then ran `conv1 = ks.layers.Conv2D(..., name='conv1')`, it would reuse the variable defin

[2019-03-13 04:55] npuichigo opened #26642 "Will LSTMBlockFusedCell be supported in tensorflow 2.0?"
I noticed that keras in tensorflow 2.0 unifies backend between CPU and GPU with CuDNN, but it's a little slow on CPU. Will you add LSTMBlockFusedCell or LSTMBlockCell to tf 2.0, since they have better performance?

[2019-03-13 05:00] ageron opened #26643 "Inconsistent argument for compression between TFRecordWriter and TFRecordDataset"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
MacOSX 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
binary
- TensorFlow version (use command below):
tf.v

[2019-03-13 05:05] yongtang commented on #26622
Added PR #26644 for the fix.

[2019-03-13 05:28] Jasonnor opened #26645 "Testing guide page not exist (404)"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: 1.13
- Doc Link: https://www.tensorflow.org/api_guides/python/test

**Desc

[2019-03-13 05:29] freedomtan commented on #25688
[TFLite Android examples](https://www.tensorflow.org/lite/examples/) use Java to access underlying C++ libraries. You may want to start from them.

[2019-03-13 05:38] lihao056 commented on #17852
could you tell how to set the environment variable? thanks very much

[2019-03-13 05:41] Lisandro79 commented on #23659
@davidpham87

I am trying to implement a siamese neural network with tf.keras and TPUs and I am running into the same issue "ValueError: The dataset must return a 2-element tuple" (when I have 2 input signals and 1 labelp; 3 inputs in total for the model)

I am getting this error even when using the Estimator API. May I ask you what Estimator API you used to solve this problem?

[2019-03-13 05:49] formath commented on #17852
import os
os.environ['GRPC_POLL_STRATEGY'] = "poll"

[2019-03-13 06:00] Leslie-Fang commented on #26571
I think the TF build wheel with mkldnn on the TF main page already support INT8 inference on CPU

[2019-03-13 06:59] sivakarthikgade commented on #4349
Restart solved the issue.

[2019-03-13 07:05] BryanRansil commented on #22106
@aravindchaluvadi This error is what step 6 above deals with. It comes from the lines

so I put the guards in (the whole "if (inRange...) {" part) and didn't get this error again.

[2019-03-13 07:09] cloudseasail commented on #23166
@azaks2  is there any workaround we can use?  blocking here for days

[2019-03-13 07:09] koon-kai commented on #25569
Same question.

[2019-03-13 07:11] Phynixknight commented on #23007
just update matplotlib 👍
matplotlib: 3.0.0-py36hd159220_0 --> 3.0.1-py36hc8f65d3_0 = fixed
(panda remained 0.23.0)

I solve this problem the same way.

[2019-03-13 07:34] v-i-s-h commented on #24938
Same error is there with `K.ones()` also.

[2019-03-13 07:38] nmmane opened #26648 "How To build And deploy Tensor flow label_image code wit Qt Envirnment"
**System information**
- Linux Ubuntu 16.04
- TensorFlow installed from source
- TensorFlow version:1.7.0
- Python version:Python 2.7.12
- Installed using  pip
- Bazel version (if compiling from source):Build label: 0.23.1
- GCC/Compiler version (if compiling from source):gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.11)
- CUDA/cuDNN version: CUDA10
- GPU model and memory:nvidia  6GB

<e

[2019-03-13 07:49] Shrutihegde13 opened #26649 "Documentation link broken for what is transfer learning?"
Doc Link: https://www.tensorflow.org/js/tutorials/transfer/image-classification

The above link is broken.

[2019-03-13 07:59] songmeixu commented on #25886
I make a new profiling with much more data, and the `OptimizeGraph` step seems to negligible. Thus, the problem is due to the test date is not enough. I close the issue.

[2019-03-13 07:59] #25886 closed

[2019-03-13 08:39] pymit commented on #26599
https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md

[2019-03-13 08:42] meyerjo opened #26651 "resize_image_with_pad is not available as described in documentation"
**System information**
- TensorFlow version: 2.0.0-alpha
- Doc Link: https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/image/resize_image_with_pad

**Describe the documentation issue**
This is not available in 2.0.0 it is renamed as tf.image.resize_with_pad

[2019-03-13 08:44] boiihong commented on #26500
Fast Evaluation reveals that CuDNNLSTM makes performance three times better than a simple LSTM layer. I'll compare the performance of FP32(Cudacore) and FP16(Tensorcore) and  post it later.

[2019-03-13 09:02] sbrodehl opened #26653 "Multi-GPU workstation crashes during tf.Session()"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):No
- OS Platfor

[2019-03-13 09:11] sbrodehl commented on #26653
@davidenunes mentions the same issue in https://github.com/tensorflow/tensorflow/issues/18652#issuecomment-471356680, where downgrading the nvidia package to `415.27` and linux kernel to `4.20.11` solved the issue.

[2019-03-13 09:18] ritdubal3011 commented on #26600
Hi,
I'm also facing the same issue.
I'm using tensorflow-gpu==1.12.0 with cuda-9.0 and cudnn=7.0.5. GPU Tesla C2075.

[2019-03-13 09:25] connect2robiul commented on #26600
I am using MacBook pro early Early 2015. Tensorflow version is 1.13.1 @qlzh727

[2019-03-13 09:27] ritdubal3011 commented on #26600
Hi,
I'm also facing same issue.
I'm using,
ubuntu 16.04
tensorflow==1.12.0
cuda-9.0
cudnn=7.0.5
GPU Tesla C2075

InvalidArgumentError (see above for traceback): No OpKernel was registered to support Op 'CudnnRNN' with these attrs.  Registered devices: [CPU,XLA_CPU,XLA_GPU], Registered kernels:
  device='GPU'; T in [DT_DOUBLE]
  device='GPU'; T in [DT_FLOAT]
  device='GPU'; T in [DT_HALF]

	 [[node